[2018-09-27 06:33] Chethannp opened #13015 "Is it possible to build a menu like Amazon using material-ui??"
![screenshot from 2018-09-27 12-03-31](https://user-images.githubusercontent.com/7566931/46127133-60f8f980-c24d-11e8-8bef-a792bdfbc370.png)

[2018-09-27 06:45] oliviertassinari commented on #13015
@Chethannp Nothing prevents you from building such component. So yes, it's possible.

[2018-09-27 06:45] #13015 closed

[2018-09-27 07:11] #12987 closed

[2018-09-27 07:19] oliviertassinari commented on #13010
@tpeek I definitely recognize the value in that. I think that we could extend the `StepConnector` component to accept the state as properties (active, completed, disabled).

[2018-09-27 07:33] oliviertassinari commented on #12997
Ok, I had a look at the MCW implementation and vuetify implementation. They are both solving the problem with `pointer-events: none;`. The downside is that it's preventing users to select the label text  but on the other hand, the implementation overhead is very small. I think that it's a nice tradeoff. I'm happy to apply it here too. We can add this style in https://github.com/mui-org/material-ui

[2018-09-27 07:49] eps1lon commented on #12997
@oliviertassinari That is very often an immediate turn of for me if I can't select text on a website. Can't we revisit the original fix for firefox autofill and make it right?

[2018-09-27 08:18] oliviertassinari commented on #12997
@eps1lon It's because the input doesn't overlap the label in the "standard" variant.
I'm out of options here. If you see a better way I would love to learn it.

[2018-09-27 09:38] cherniavskii commented on #7633
I also wanted to mention, that using inline styles doesn't allow to enable strong Content Security Policy.
It requires to add `unsafe-inline` flag to styles directives, which is not secure.

Dynamic styles with props support should resolve that problem

[2018-09-27 09:42] kimfucious commented on #7414
HI @oliviertassinari , just a follow up on this, as it took me a while to wrap my head around how to do overrides.

I eventually was able to change the size of the deleteIcon by creating a styled version of Chip using withStyles:

[code]
I still don't fully get it, so if there are better ways to do this, I'd be appreciative of any feedback.

Thanks

[2018-09-27 09:43] Bessonov commented on #12956
@mbrookes No, this isn't because it's the hardest to implement or because to produce work for you, but because it is a concrete requirements from our business, which are based on material specification (icons are generic):

![image](https://user-images.githubusercontent.com/182451/46137099-4c1a6700-c249-11e8-916d-059e4c0018c8.png)

and:

![image](https://user-images.githubusercontent.com/182451/46

[2018-09-27 10:41] mush42 opened #13019 "Accessibility, animated components aren't focusable"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Animated components that use **TransitionComponent** prop  (e.g Drawers, Dialogs) should be keyboard accessible after the transition animation. Moreover the focusable children (e.g Buttons, Links) of th

[2018-09-27 10:58] eps1lon commented on #13019
I don't know how to reproduce this. The only issue I have is that I have to tab twice before _Disagree_ is focused.

[2018-09-27 11:54] mush42 commented on #13019
@eps1lon which screen reader have you used for testing?

[2018-09-27 12:07] eps1lon commented on #13019
Firefox, Chrome, Chrome Vox. Excuse my ignorance here. Would like to know your setup.

[2018-09-27 12:14] mush42 commented on #13019
On my Windows 10 Box I use the NVDA screen reader along with Firefox. On Android I use Talkback along with Chrome.

[2018-09-27 12:18] liesislukas opened #13020 "material-ui Dialog takes focus, can we add notice about such default behavior in docs?"
Not sure where to post such info but when using material-ui Dialog and rendering tinymce inside it, material-ui dialog is getting focus by default which makes tinymce dialogs uneditable.

The solution is to add `disableEnforceFocus` to the dialog. Would like to mention such info somewhere on documentation but can't decide where and what sentence would be best to provide such notice. I believe peop

[2018-09-27 12:32] oliviertassinari commented on #13020
@liesislukas You will find this information in https://material-ui.com/utils/modal/. It's a default accesibiliy behavior all modal should have.

[2018-09-27 12:33] spirosikmd commented on #13010
@oliviertassinari @tpeek I can give this a try! Is this ok?

[2018-09-27 12:36] oliviertassinari commented on #13010
@spirosikmd Yes, feel free to work on it.

[2018-09-27 14:00] Chethannp commented on #13015
@oliviertassinari: ha ha I actually meant for a reference, since react-menu-aim is outdated.

[2018-09-27 14:08] oliviertassinari commented on #13015
@Chethannp No, there is no reference.

[2018-09-27 16:08] quanbrew opened #13021 "Button position change after upgrade 3.1.1"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

![image](https://user-images.githubusercontent.com/34709816/46159104-11004e00-c2b2-11e8-9528-1d05c2f0d975.png)

## Current Behavior
after `yarn upgrade @material-ui/core` upgrade to 3.1.1
![image](https

[2018-09-27 17:32] mush42 commented on #13019
Yep, That is the issue I'm talking about. I don't know of a site, other than the MUI docs, that uses drawers. The argument is valid for dialogs though.

[2018-09-27 18:04] WAGuerra commented on #6492
You should create a theme with `createMuiTheme` and override MuiTableRow (see [Customization > Overrides](https://material-ui.com/customization/overrides/) ).
Example:
[code]
Then:
[code]
See [Themes](https://material-ui.com/customization/themes/) for further details.

Don't forget to reduce cell padding (Ex: `<Table padding={"none"}>`)

Hope this help.

[2018-09-27 18:43] oliviertassinari commented on #13021
@quanbrew Thank you for the report. The change was most likely introduced by #12906. I have a bad news for you, the previous behavior was most likely already broken. I would suggest you to use the flexbox if you need a fine grain tuning on the alignement.

[2018-09-27 18:43] #13021 closed

[2018-09-27 20:41] huisenwu opened #13024 "[createGenerateClassName] Request to add forward slash to "escapeRegex""
The following code block does not work in IE11 because IE11 failed to parse class name with forward slash.
[code]

Under non-production environment, `withStyles` adds `name` option or React component's `displayName` as the prefix to class names. If the `name` option or React component's `displayName` contains forward slash, the classes do not work in IE11.

So request to add forward slash to regul

[2018-09-27 21:59] oliviertassinari commented on #13024
I'm closing for https://github.com/cssinjs/jss/issues/870

[2018-09-27 21:59] #13024 closed

[2018-09-27 22:03] #13020 closed

[2018-09-27 22:07] oliviertassinari commented on #7414
@kimfucious Yes, your code snippet is exactly how I would have solved the problem.

[2018-09-27 23:15] mbrookes commented on #12956
@Bessonov Seems the humor was lost in translation.

If this is a critical requirement for your business, then perhaps your business would like to work on it? Otherwise, there are various ways you business could sponsor someone to work on it.

[2018-09-28 02:40] quanbrew commented on #13021
@oliviertassinari Thanks, If the alignment behavior is consistent, it is acceptable.

[2018-09-28 03:57] liesislukas opened #13025 "Popover: sample code is broken on doc site."
missing closing tag

https://material-ui.com/utils/popover/

![image](https://user-images.githubusercontent.com/2733862/46187291-a23fe680-c2eb-11e8-88e2-73af6493aba8.png)

[2018-09-28 05:20] byronluk commented on #12997
Hey @oliviertassinari is it cool if I work on this?

[2018-09-28 05:49] bexoss opened #13027 "Where's settings icon?"
https://material.io/tools/icons/?search=setting&icon=settings&style=baseline

There's settings icon in material.io

But I think in `@material-ui/icons` There's no settings icon.

[2018-09-28 06:10] byronluk commented on #12997
So it seems like your right, the default behavior on the original TextField wouldn't allow users from selecting the label text anyways. But either way the label text can be selected by dragging the cursor from outside the element over into the input.

[2018-09-28 07:00] kimfucious commented on #7414
Cool!  Thanks for the positive feedback.

[2018-09-28 07:07] oliviertassinari commented on #13021
Yes, it was done for consistency.

[2018-09-28 07:36] oliviertassinari commented on #13027
It's here https://unpkg.com/@material-ui/icons@3.0.1/Settings.js

[2018-09-28 07:36] #13027 closed

[2018-09-28 07:38] #13025 closed

[2018-09-28 07:46] eps1lon commented on #13019
This is only happening for Modals with `keepMounted`. Do you want to work on this?

[2018-09-28 10:18] I-O-O-I commented on #12997
+1

[2018-09-28 11:08] Gurmindermultani commented on #9775
This issue is still there, anyone able to solve this ?

[2018-09-28 12:35] go2ready commented on #12983
Thanks for the help guys!

[2018-09-28 12:35] #12983 closed

[2018-09-28 13:44] eps1lon opened #13028 "RFC: color prop API"
Currently our type declarations contain the following definition for color props:
[code]
indicating that there is a library wide understanding what these color represent and that every component that has a color prop should implement each variant.

However only `primary` and `secondary` are implemented for every component with a color prop. `inherit` and `default` are not implemented in every comp

[2018-09-28 14:21] mbrookes commented on #13028
The default color should be whatever is consistent with the spec if no alternative `color` enum is supplied, but as you suggest, there doesn't need to be a default variant for that.

Removing it would be a breaking change though, so deprecation warnings required.

[2018-09-28 14:45] eps1lon commented on #13028
This will only affect the `AppBar`. For the other components `"default"` would just be an alias for `undefined`.

Badges are currently in a weird sport because `"default"` is broken anyway (or maybe not since I don't know how they looked). Maybe that's a good thing because nobody would mourn about a breaking change.

The versioning would look like this:
- minor: deprecate `"default"` for `AppBar`;

[2018-09-28 14:48] levrik commented on #7317
@oliviertassinari I noticed that `onClick` is about 50ms slower than the previous `onTouchTap`. Personally I think it's noticable. Is there some way to get that working?

[2018-09-28 15:52] oliviertassinari commented on #7317
@levrik Are you setting the responsive meta tag? https://material-ui.com/getting-started/usage/#responsive-meta-tag

[2018-09-28 16:02] levrik commented on #7317
@oliviertassinari yes

[2018-09-28 17:18] oliviertassinari commented on #7317
What browser are you using?

[2018-09-28 17:29] adeelibr commented on #9919
Can we add a `Scrollbar` component, which we can just include in the root of our application, and all it does is set a scrollbar style.

Something like this.

**Scrollbar.js**
[code]

Then in order to consume it just include it at the top of your root file like;

import 'Scrollbar`; // this will inject custom scrollbar style

Another approach, is let's make a higher order component for scrollbar,

[2018-09-28 18:50] Manivela opened #13032 "[TextField] Filled variant has wrong paddingTop applied when there is no label."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

TextField with no labels shouldn't have extra padding on top.
![image](https://user-images.githubusercontent.com/6155330/46227208-2a170680-c367-11e8-851b-03621478980d.png)

## Current Behavior

Currentl

[2018-09-28 19:47] levrik commented on #7317
@oliviertassinari Latest version of Google Chrome

[2018-09-28 20:59] arpontes opened #13033 "TextField with variant "outlined" does not receive focus when clicking on label."
I have a TextField with variant "outlined" and when the user click exactly over the label, the control does not receives focus.

This behavior is not seen in Component Demos of official website, but I built an example to show it:

https://codesandbox.io/s/013yn872mp

If you click in the TextField exactly over the label, the control does not receive focus. In any other place, it works.

[2018-09-28 22:18] EugeValeiras commented on #11094
And what was wrong? @iohcidnal

[2018-09-28 22:22] meepou opened #13034 "Gatsby example broken"
Hello,

I have cloned the Gatsby example and when running `gatsby develop` it would say

I solved the issue by doing `npm install --save core-js`

Should it be added to package.json ?

[2018-09-28 23:06] oliviertassinari commented on #13032
No objection here. This sounds fair.

[2018-09-28 23:07] oliviertassinari commented on #13033
@arpontes I'm closing as a duplicate of #12997.

[2018-09-28 23:07] #13033 closed

[2018-09-28 23:12] oliviertassinari commented on #12997
@byronluk Yes, please go ahead :)

[2018-09-29 10:06] oliviertassinari commented on #9919
@adeelibr This issue is about allowing people to use a custom scroll implementation. I don't think that we should implement one.

[2018-09-29 10:18] adeelibr commented on #9919
understood.

[2018-09-29 10:57] oliviertassinari commented on #13028
### default variant

The default variant is the value that matches the specification. It's the color value you would expect by default. I don't see why it should be removed. What do we win? How do you solve the problem instead? Regarding the Badge, yes it's definitely broken. For this component, I don't think that a default variant makes sense. What we have now is an `inherit` variant. I think tha

[2018-09-29 10:57] oliviertassinari commented on #13028
I don't understand this point.

[2018-09-29 11:05] oliviertassinari commented on #13028
The AppBar is an intereseting case. The specification changed, having a `default` value here doesn't make sense anymore.

[2018-09-29 13:54] oliviertassinari commented on #13034
I'm closing for https://github.com/gatsbyjs/gatsby/issues/7862.

[2018-09-29 13:54] #13034 closed

[2018-09-29 16:55] petermikitsh opened #13039 "[ColorManipulator] Consider publishing as a separate module / public API"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

I've done a comparison of various JS color utility libraries. I found that `@material-ui/core/es/styles/colorManipulator.js` offers the smallest bundle size of all options I could find. Here's a compari

[2018-09-29 18:39] #12997 closed

[2018-09-29 18:53] #12909 closed

[2018-09-29 19:17] divyanshu-rawat opened #13042 "How to access and overide div element of menuitem component?"
So, here is my code snippet :

` {options.map(({ label, value }) => (
        <MenuItem className={classes.root} key={value} value={value}>{label}</MenuItem>
     ))}`

and the above code generates an output like this.

![screen shot 2018-09-30 at 12 44 53 am](https://user-images.githubusercontent.com/13464678/46249636-155f6f00-c44a-11e8-8d91-836579a481a1.png)

having a div followed by unordered l

[2018-09-29 19:41] mbrookes commented on #13039
We could move it to `@material-ui/docs`. I'd be reluctant to move it to @material-ui/lab, as there is no color-picker in the spec.

[2018-09-29 20:43] oliviertassinari commented on #13039
At work, we are often using these helpers by tapping into the private API. Keeping the module within a reasonable size is critical for Material-UI. In the long run, I think that moving the styles folder into a `@material-ui/styles` package can make sense (if we need different release lifecycle/dependencies).
Should we close the issue as a duplicate of #10789? Also, I have seen some people (few) us

[2018-09-29 20:50] petermikitsh commented on #13039
I would prefer to be able to use the color manipulator functions without having to download the entire core library. I think it would be sensible to create a `@material-ui/styles` package.

[2018-09-29 20:52] oliviertassinari commented on #13042
@divyanshu-rawat The div comes from this element:
https://github.com/mui-org/material-ui/blob/c7eae1d12b5b7b24b2758bc4262ef5ca9905e172/packages/material-ui/src/Popover/Popover.js#L330

There is a `PaperProps` property on the Menu to access the element. If you are using the Select component, it's a bit tricker, you need to use `MenuProps.PaperProps`.

[2018-09-29 20:52] #13042 closed

[2018-09-29 20:56] oliviertassinari commented on #13039
We are working on improving that. But I can understand the motivation: https://packagephobia.now.sh/result?p=%40material-ui%2Fcore.

[2018-09-29 21:31] divyanshu-rawat commented on #13042
@oliviertassinari but I am not making use of Popover.js in my application.
Here the code snippet now I want to access div element or to be specific modify css of div element.

[code]
So, can you please let me know what should be the right startegy to modify the css?

[2018-09-29 21:33] oliviertassinari commented on #12994
@katzoo What environment are you using to see:
![password](https://user-images.githubusercontent.com/2872434/46007817-468f1680-c0bb-11e8-9efa-482acd56cc02.png)
?

[2018-09-29 21:42] oliviertassinari commented on #13042
@divyanshu-rawat In this case:
[code]

[2018-09-29 22:10] #12994 closed

[2018-09-30 00:44] mattmccutchen commented on #11921
I have a proposed solution, originally posted [on Stack Overflow](https://stackoverflow.com/a/52573647) that depends on [a change to Material UI](https://github.com/mui-org/material-ui/compare/master...mattmccutchen:issue-11921).  It works for a generic component with any combination of type parameters and has no runtime cost.  The application code looks like this:
[code]
Material UI maintainers,

[2018-09-30 07:22] outsourcegb opened #13045 "Slid component speed / duration change in the middle of animation"
Wondering if there is a way to change time/duration in the middle of animation / transformation of Slide component?

Need urgently.

Thx

[2018-09-30 09:35] oliviertassinari commented on #13042
@divyanshu-rawat If you want to change the popover position, check the property available on this end.

[2018-09-30 09:54] #13045 closed

[2018-09-30 09:55] divyanshu-rawat commented on #13042
@oliviertassinari sorry to say, I didn't get this thing, _property available on this end_?

[2018-09-30 10:07] oliviertassinari commented on #13042
https://material-ui.com/utils/popover/

Next time, please submit support requests and questions to StackOverflow using the tag [material-ui](http://stackoverflow.com/tags/material-ui). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/callemall/material-ui/blob/master/CONT

[2018-09-30 10:10] divyanshu-rawat commented on #13042
Sure will do that 👍

[2018-09-30 13:14] nagarajay commented on #2777
@glenne @KKrisu - Hopefully this will help.

const HomeIcon = (props) => (
  <SvgIcon
    {...props}
    width="width"
    height=".height"
    viewBox="0 0  width height"
  All the 3 values are actually given in the SVG file. Just take from there.

    <path
      d="..." - Please fill the value of d that is there in the SVG file.
    />
    Incase multiple paths are given in the SVG file just co

[2018-09-30 15:10] borm commented on #11690
up, the onExited method has some delay

[2018-09-30 16:54] jjdp opened #13048 "[Select] Choosing a value highlights the MenuItem"
- [x] This is not a v3.0.2 issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Context
The new behavior on > v3.0.2 highlights the selected item when chosen with a grey background. Clicking on anything outside its focus removes the highlight. How do you remove it?

## Your Environment

| Tech

[2018-09-30 18:21] dmlukichev opened #13049 "[Select] Support 'outlined' and 'filled' variants"
According to recent Material guideline changes, we have two additional variants for input components: 'filled' and 'select'.
Thanks to @enagy27 _TextInput_ components already has been [updated](https://github.com/mui-org/material-ui/pull/12076) to allow such variants.
_Select_ should be next :)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-

[2018-09-30 18:47] oliviertassinari commented on #13049
@dmlukichev It's already supported, we just need to update the demos in the select page (we have some demos in the text field page). Do you want to work on it? :)

[2018-09-30 19:01] oliviertassinari commented on #13048
Do you have a visual illustration of this issue?

[2018-10-01 01:45] jjdp commented on #13048
It can be seen on the component demos

[2018-10-01 07:14] #13048 closed

[2018-10-01 07:14] oliviertassinari commented on #13048
I can't reproduce on the latest version of Chrome.

[2018-10-01 07:32] vilvaathibanpb opened #13052 "[Chip] Control clickable prop irrespective of onClick Prop"
The Clickable property becomes true if an onClick prop is present in the chip currently. It would be great to make clickable props determine the click-ability of the chip irrespective of onClick props

- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
C

[2018-10-01 07:33] vilvaathibanpb commented on #13052
@oliviertassinari  @mbrookes  I am picking up this issue. will raise a PR soon

[2018-10-01 07:50] thomasjm opened #13053 "TextField with type="password" and "box-sizing: border-box" renders wrong"
When you have a `TextField` with `type="password"`, the presence of a global CSS rule `input[type="password"] { box-sizing: border-box; }` will screw up rendering. The placeholder text renders lower than it should, so the line at the bottom of the text field passes through the text.

This seems to only happen for `type="password"` and not for other `TextField` types.

I noticed this because [tachy

[2018-10-01 08:00] oliviertassinari commented on #13053
@thomasjm We do, we are allowing people to use content box or border box for their pages. However, in your case, you are explicitly overriding the Material-UI safeguard to handle this case, it can't work.

[2018-10-01 08:00] #13053 closed

[2018-10-01 08:15] thomasjm commented on #13053
Thanks for the quick response. I already did that as a workaround. But I bring this up because having a global rule like this isn't too unusual (as evidenced by the fact that Tachyons does it, and Tachyons is a very tasteful framework). And it can cause a lot of hair-pulling for anyone who imports Tachyons and tries to use a `material-ui` password `TextField` :)

Given that `material-ui` is almost

[2018-10-01 09:35] jjdp commented on #13048
![hightlight](https://user-images.githubusercontent.com/5244520/46281119-5a95b500-c5a0-11e8-95e4-42d7d15046d4.png)
It clearly is highlighted, all latest versions of chrome, firefox, edge. @oliviertassinari

[2018-10-01 09:51] ashkank83 opened #13054 "[Badge] styling the children"
Badge is styling the layout of its children. So for example if you have a card and you add a Badge to it the width of the card will be modified.
@material-ui/core version 3.1.2

Please see the example where the same card is being rendered differently when Badge is added:
[Sample](https://codesandbox.io/s/j7r53ymn5)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.

[2018-10-01 09:52] oliviertassinari commented on #13048
It's expected

[2018-10-01 10:06] jjdp commented on #13048
Any way to override and remove that?

[2018-10-01 10:12] oliviertassinari commented on #13048
Yes, you can override this style: https://github.com/mui-org/material-ui/blob/0cf866a898a0aeacc20cc0f119b80395e115826d/packages/material-ui/src/NativeSelect/NativeSelect.js#L29

[2018-10-01 10:37] iarroyo5 commented on #12999
@oliviertassinari Is there any update about this? my team is having the same issue, thanks.

[2018-10-01 12:31] arpontes commented on #13033
Sorry. I did a search some days ago, and didnt find anything. Days later, I opened this issue.

[2018-10-01 12:36] TsankovRosen commented on #8060
Hi,

go to: https://github.com/mui-org/material-ui/tree/master/examples/nextjs
copy the code from:
 /pages/_app.js
 /pages/_document.js
 /src/getPageContext.js

and make it work with your structure.

That worked with me. Good luck.

[2018-10-01 12:42] oliviertassinari commented on #13033
No problem, thanks for taking the time :)

[2018-10-01 13:33] eps1lon commented on #13054
The issue is caused by https://github.com/mui-org/material-ui/blob/0cf866a898a0aeacc20cc0f119b80395e115826d/packages/material-ui/src/Badge/Badge.js#L13

I guess there was a reason to use `inline-flex` but getting the Badge to work without that line would solve your problem.

[2018-10-01 14:15] NeoLegends opened #13057 "[TypeScript] Incorrect withStyles type inference"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate. (I searched for "pick", "withStyles typescript", "withStyles" and found [this](https://github.com/mui-org/material-ui/issues/12277), but I believe this is not that issue)

## Expected Behavior
Take this sample component:

[co

[2018-10-01 14:33] eps1lon commented on #13028
@oliviertassinari
It's inconsistent. Sometimes it sets the css property to `inherit` sometimes it doesn't set anything. Those are two different things. I would expect that setting `"inherit"` in a prop to mean the same thing across components.

By using 'inherit' and 'default', we are making the behavior deterministic.

It doesn't matter what I expect. The runtime already falls back to whatever is

[2018-10-01 14:37] eps1lon commented on #13057
Where is this inferred? It would help if you could provide a minimal reproduction that fails compilation.

Until then try the pattern that is described in the typescript guide:
[code]

[2018-10-01 14:38] NuruddinBadawi opened #13058 "table pagination with RTL is broken"
pagination style not like what expact with RTL

you can check out the code via [codesandbox](https://codesandbox.io/embed/911z56kvny)

| Tech         | Version |
|--------------|---------|
| Material-UI  | latest  |
| React        |      latest   |
| Browser      |      chrome   |
| TypeScript   |      latest   |

[2018-10-01 14:46] #13058 closed

[2018-10-01 14:57] NeoLegends commented on #13057
It is inferred as type of the export value, so `withStyles(styles)(Component)` has that type.

This probably wouldn't change anything for the inference (I tried it out). IIRC `extends` and type-`&` pretty much do the same.

I'm trying to, but within the test cases inference is correct and I can't figure out why it isn't in the bigger project 🙈. I feel like I'm doing the same, just with a larger co

[2018-10-01 15:04] NeoLegends commented on #13057
God no. I was mislead because these were "follow-up" errors because I had other typing errors elsewhere in the project. These errors "weren't real" and disappeared when I fixed the others. Sorry for bothering and stealing your time.

[2018-10-01 15:04] #13057 closed

[2018-10-01 15:20] jjdp opened #13059 "[Select] Unable to blur programatically"
I am unable to blur the select. My use case is that i have onDelete on my Chips so you dont have to click the select. The input refs doesnt work also.

The select also gets bugged as clicking on any parts of the document it still is focused when you delete all the data.

Here's the [codesandbox](https://codesandbox.io/s/w22on4k2z7). Method is on line 67

| Tech         | Version |
|--------------|

[2018-10-01 15:31] eps1lon commented on #13057
I meant whether this was inferred in your IDE or when running `tsc`.

"probably" and "pretty much" are not enough when it comes to problem statements in typescript. `extends` and `&` are not equivalent because `type` and `interface` are not equivalent.

Glad this got fixed. Type errors are always time consuming in HOCs.

[2018-10-01 15:35] NeoLegends commented on #13057
In webpack with awesome-typescript-loader actually.

You're right, but I tried it out and it didn't make a difference then. :)

Very true!

[2018-10-01 15:57] katzoo commented on #12994
@oliviertassinari I can only see this only in Chrome (stable 69.0.3497.100 as well as dev 71.0.3565.0), but maybe it's somehow related to how Chrome handles OS upscaling (125% for 4k resolution) - especially when changing page zoom (in browser) once makes this glitch disappear (I've seen worse regressions in "stable" versions :) ). Couldn't reproduce this in Firefox or any other machine with Chrom

[2018-10-01 16:18] psalmeight opened #13061 "Need to render multiple instance of a wrapped Dialog."
Hello,

Is there a way to render multiple instance of a wrapped Dialog like for example `<MyOwnDialog />`?

`<MyOwnDialog id={1} />`
`<MyOwnDialog id={2} />`
`<MyOwnDialog id={3} />`

In this example, it will only show the 3rd dialog even though I selected the 1st one.

Thank you.

[2018-10-01 16:40] thanpolas opened #13062 "Test Automation IDs"
As we are trying to roll out end to end testing on our frontend assets using webdriver.io and selenium we find it increasingly challenging to target elements from our underlying UI library, material-ui.

There is no easy single solution to this problem. Adding `data-test` attributes to all elements would be the optimal solution, with an option to parameterize per component to avoid conflicts.

Ple

[2018-10-01 16:54] eps1lon commented on #13062
Following https://material-ui.com/customization/themes/#properties you can already set attributes on a per component basis.

This is currently only missing an option for all components.

Depending on your target you could fake this with a Proxy. Checkout this codesandbox: https://codesandbox.io/s/zp0jrmkox

This is just something hacked together in a few minutes so use this with caution.

[2018-10-01 17:04] oliviertassinari commented on #13062
@thanpolas We have, we are writing a lot of end to end tests at work. There are different layers of answers to this problem.
- The first layer is about promoting best practices. The default way of writing e2e tests should be about using accessibility. If a screen reader can make sense of your page, so your e2e tests. It's a win for everybody. Your tests are closer to what's happening, your tests a

[2018-10-01 17:04] #13062 closed

[2018-10-01 17:08] #13061 closed

[2018-10-01 18:00] ashkank83 commented on #13054
@eps1lon Thanks for the reply. Is this considered a bug? and will it be fixed in future releases?
And also if I want to fix this manually for now, would you suggest to override the root class for Badge? If not would you kindly change the code sandbox for me with your recommended way to fix this? Thanks

[2018-10-01 18:02] izyb opened #13063 "Allow color prop to override icon color when inside ListItemIcon"
Material design allows for list items to be colored with theme colors (as demonstrated [here](https://material.io/design/components/lists.html#types) under the "Expand and Collapse" header). When nesting an icon in the `<ListItemIcon>` component, whatever `color` prop passed to the icon is overridden by the `ListItemIcon` color.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](h

[2018-10-01 18:15] Alecell opened #13064 "Using old version of babel"
MUI current version isnt compatible with current babel runtime version.

- [ x ] This is not a v0.x issue.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Install MUI and it works fine without crashes

## Current Behavior
Install MUI that requires babel runtime is ok, but MUI requ

[2018-10-01 18:21] iamyojimbo commented on #10797
Any movement on this?

[2018-10-01 18:54] eps1lon commented on #13054
I think nobody intended Badges to be applied to full width components since it would overflow outside the viewport.

You can workaround the current issue with the following workaround and see if you can come up with a solution for the overflow. But I'm hesitant to change from `inline-flex` since I don't know why this implementation was chosen.
https://codesandbox.io/s/9l8nk0y0vy

[2018-10-01 19:05] oliviertassinari commented on #13028
It does mean the same thing: *As a user, you can set a color on the parent and see it being applied to the children*. Same output, no matter the implementation. What changed, is that in some cases, we have to add some extra CSS, in some other cases we don't need it. **It's an implementation detail**.

**It's about having the default behavior documented in the API**. Sometimes, the color inherit: `

[2018-10-01 19:07] oliviertassinari commented on #13064
@Alecell It was fixed in v3. Try using the latest version.

[2018-10-01 19:07] #13064 closed

[2018-10-01 19:11] #13059 closed

[2018-10-01 19:11] oliviertassinari commented on #13059
@jjdp Is often a quick and easy way to handle the problem.
[code]

[2018-10-01 19:16] oliviertassinari commented on #13063
@izyb The simplest way to solve this problem is by using an intermediary component in the `ListItemIcon` implementation. I like the idea of removing a `React.cloneElement(` call. @eps1lon What do you think

[2018-10-01 19:30] eps1lon commented on #13028
Fair enough.

That is the current behavior though. `undefined` and `"default"` are equivalent.

That is not the case currently. I don't know what color is applied when I use `"default"`. I know what `"primary"`, `"secondary"` and `"error"` means if I know the material design palette. I know what `action` means which is an addition in this implementation. `"default"` however is not defined. `"backg

[2018-10-01 19:47] oliviertassinari commented on #13028
@eps1lon In this case, what about using an explicit value and removing the `default` value? I really like this approach too.

[2018-10-01 19:49] #12999 closed

[2018-10-01 19:52] eps1lon commented on #13063
Do you have a reproduction? It works on my end™: https://codesandbox.io/s/vmwx51nm07

@oliviertassinari
Looking at the implementation https://github.com/mui-org/material-ui/blob/0cf866a898a0aeacc20cc0f119b80395e115826d/packages/material-ui/src/ListItemIcon/ListItemIcon.js#L19-L23
this looks overly complicated and documented wrong (e.g. `classes.root` should be applied to the root according to doc

[2018-10-01 19:56] oliviertassinari commented on #13053
Yes, it's. The motivation for this design comes from my frustration when using Bootstrap. It's making very hard to use third-party UI libraries. Now, we are doing our best, we try to handle the most common use cases. Fighting specificity is a never-ending game. Given Tachyons popularity, I think that this issue as documention is good enough. So, thank you for opening it!
![capture d ecran 2018-10-

[2018-10-01 20:00] oliviertassinari commented on #13063
@eps1lon Oh boy! You have just found our Easter eggs 🥚😆. Enjoy:
[code]
https://codesandbox.io/s/1yprl2pln4

Deal! @izyb Do you want to work on it? :)

[2018-10-01 20:09] izyb commented on #13063
@olivertassinari sounds good to me! Thanks :D

[2018-10-01 20:43] eps1lon commented on #13028
Let's take https://material.io/design/color/the-color-system.html#color-theme-creation as the baseline. We have `primary`, `secondary`, `surface` and `background` and `error` and call them categories.

`primary` and `secondary` have `light`, `main` and `dark` variants as well as `emphasis` variants that are used for buttons. `high` defaults to `dark`, `normal` to `main` and low would be what is cu

[2018-10-01 22:11] sajhu commented on #8728
on material 3.1.1 im having the same issue

[2018-10-01 22:27] #11667 closed

[2018-10-01 22:27] #12377 closed

[2018-10-02 02:13] jjdp commented on #13059
Yes using that doesnt work when you delete all the data while it still is focused and the focus stays/bugs even when you click anything.

[2018-10-02 04:40] aronlmin opened #13068 "X Axis Overflow doesn't load anything visually off screen when loading in data after initial mount"
It appears that when loading in data (like from an API) after initial component load that anything off screen on the x axis just doesnt load. Material UI v0 just leaves it blank. You can scroll, but the data is just blank. I have checked to see if the elements are there in the chrome Elements tab, and they are, but they aren't appearing visually.

[code]
![screen shot 2018-10-01 at 9 26 19 pm](htt

[2018-10-02 07:33] oliviertassinari commented on #13068
@aronlmin Material-UI v0.x is no longer supported. I'm sorry, you gonna have to figure it out on your own. But it might just be a *colspan* issue.

[2018-10-02 07:33] #13068 closed

[2018-10-02 07:47] ashkank83 commented on #13054
Thank you very much for the code sample and also all the hard work. Thanks

[2018-10-02 07:47] #13054 closed

[2018-10-02 07:50] oliviertassinari commented on #8728
@sajhu Do you have a reproduction?

[2018-10-02 08:08] oliviertassinari commented on #12094
@9jaboy if you can consistently reproduce the issue on different environment, yes please.

[2018-10-02 09:58] joglr commented on #13049
I can't get it to work by following the Component API for select. I'm using a combination of `variant` and `color` properties.

I've tried the following:

[code]

[code]
But it only seems to mess up the InputLabel's position. Is my assumption of these two properties being compatible wrong?

Using @material-ui v3.1.0

[2018-10-02 13:53] victorferreira commented on #11306
I was looking at the docs ([material.io](https://material.io)) and could find any documentation on the stepper component, you can only find it int he [archive.](https://material.io/archive/guidelines/components/steppers.html#steppers-usage). It seams that they have dropped it in the new version of Material Design. Are there plans to keep supporting the stepper component going forward?

[2018-10-02 14:27] MustD opened #13070 "[TextField] "Uncaught TypeError: r.inputRef.focus is not a function" when clicking on InputAdornment"
Uncaught TypeError: r.inputRef.focus is not a function when clicking on InputAdornment
please take a look on screenshot below

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
No errors should be threw

## Current Behavior
JavaScript Uncaught TypeError

[2018-10-02 14:28] oliviertassinari commented on #9988
@AntonioRedondo I don't understand your point. We have no `<typography>` Higher order component. Would you mind providing more detail?

[2018-10-02 14:37] mbrookes commented on #11306
@victorferreira We have no plans to drop support at this time.

[2018-10-02 14:46] eps1lon commented on #12946
@Swazimodo Is right that it does attach those listeners to a `div` but this is only relevant for `currentTarget`. The `target` will still be the `input` element: https://codesandbox.io/s/p90k1rwpym

As a workaround you can do what @Swazimodo suggested.

Doing this correct in our type declarations would require quite some work so I'm more than happy to accept PRs.

[2018-10-02 14:52] marjan2k opened #13072 "InputAdornment icon misaligned since 3.1.1 (exists in 3.1.2)"
It was fine in 3.1.0, but broken in 3.1.1

![keep_pipelines_as_trials_that_expire_unless_payment_begins](https://user-images.githubusercontent.com/406115/45994077-b0092800-c0af-11e8-92da-1c582d2f0010.png)

_Originally posted by @hashwin in https://github.com/mui-org/material-ui/issues/12994#issuecomment-424209348_

[2018-10-02 14:54] AntonioRedondo commented on #9988
https://material-ui.com/api/typography

[2018-10-02 14:59] marjan2k commented on #13072
Tested with Chrome Desktop, mobile and Edge.
This line added the bug
https://github.com/mui-org/material-ui/pull/12975/commits/cdf1bbbe37edca96d3452b8e4439a3810f380fc5

[2018-10-02 15:00] oliviertassinari commented on #9988
@AntonioRedondo I don't understand. What's preventing you from setting a global font? Material-UI tries to promote isolation with this `Typography` component.

[2018-10-02 15:12] eps1lon commented on #12361
This will be addressed in #12725.

We will consider the dial as a menu. The actions will therefore be navigatable via arrow keys following https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html

[2018-10-02 15:20] oliviertassinari commented on #13072
@marjan2k Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-10-02 15:45] eps1lon commented on #13070
This is caused by https://github.com/mui-org/material-ui/blob/e30c2ac7e2d2ff52e6dc7a63e0bcf1199fe4329d/packages/material-ui/src/Select/SelectInput.js#L146-L152

Not sure why this is used. I guess this is for internal usage only? Any insight @oliviertassinari

[2018-10-02 15:59] marjan2k commented on #13072
@oliviertassinari, thanks for the reply!

I couldn't reproduce the issue in codesandbox.io so I investigated further.
The issue happens with the InputAdorment was used in material-ui-pickers.

Fortunately they updated their package to be compatible with material-ui 3.1.1
Here is the release which fixed it https://github.com/dmtrKovalenko/material-ui-pickers/releases/tag/v1.0.0-rc.15

[2018-10-02 16:00] marjan2k commented on #13072
Please close this issue

[2018-10-02 16:01] Thanmai-C commented on #12887
Ok will check
Thank you

[2018-10-02 16:04] evanstern opened #13076 "TextField variant outlined: labelWidth marked as required in OutlinedInput but its value is undefined"
- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I'll start by saying I'm relatively new to the material-ui project so it is totally possible that this is something simple that I'm missing. I've searched through the issues and no one else seems to have seen this.

## Exp

[2018-10-02 16:05] oliviertassinari commented on #13072
@marjan2k Great :)

[2018-10-02 16:05] #13072 closed

[2018-10-02 16:54] oliviertassinari commented on #13076
Yeah, I'm not surprised to see such behavior. I think that we can fix it with a change like:
[code]
https://github.com/mui-org/material-ui/blob/e30c2ac7e2d2ff52e6dc7a63e0bcf1199fe4329d/packages/material-ui/src/TextField/TextField.js#L108

Do you want to work on it? :)

[2018-10-02 17:35] evanstern commented on #13076
Sure. I can take a stab

[2018-10-02 17:41] mbrookes commented on #12361
To be pedantic, we already do (or rather did) it just got broken by #10843. #12725 is more of a refactor, while also fixing the regression.

[2018-10-02 18:05] petermikitsh commented on #13039
@oliviertassinari Besides what we've discussed here already (e.g., moving the [styles](https://github.com/mui-org/material-ui/tree/master/packages/material-ui/src/styles) directory into a separate module), is there anything else you'd like to see in a PR that could close this issue and #10789?

[2018-10-02 20:40] #13076 closed

[2018-10-02 21:26] #13049 closed, assigned to nobody

[2018-10-02 22:14] oliviertassinari commented on #13070
A diff like this should do it.

[code]

@MustD Do you want to work on it?

[2018-10-02 22:17] oliviertassinari commented on #13070
@eps1lon Yes, it's for internal use only. The InputBase component is using it for determining some state.

[2018-10-03 02:43] nareshbhatia opened #13081 "JSS tags get dropped when using Material UI with Gatsby"
I am using the [Material UI Gatsby example](https://github.com/mui-org/material-ui/tree/master/examples/gatsby) to build a blog. Everything works well in the dev mode, but styles get messed up when I do a production build.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2018-10-03 06:07] elmeerr commented on #10620
@oliviertassinari I know that is a closed issue but as I came across trying to figure out my problem I think it worth mentioned:

using the api as @Anugraha123 mentioned does not work properly but in my case is because the active from root overrides the custom active. Check
![image](https://user-images.githubusercontent.com/4071037/46392737-ae101c00-c6e2-11e8-9e18-e1457de589ae.png)

[code]

using

[2018-10-03 07:15] eps1lon commented on #13019
Duplicate of #12710.

#13082 is attempting to fix it.

[2018-10-03 07:15] #13019 closed

[2018-10-03 07:29] veeru1087 commented on #10350
Hi,
I followed #4787 but there is no information regarding how to configure date picker to allow just Year and Month selection. Could you please help?

[2018-10-03 07:43] oliviertassinari commented on #10350
@veeru1087 Maybe you could give https://github.com/dmtrKovalenko/material-ui-pickers a look :).

[2018-10-03 07:46] oliviertassinari commented on #10620
@elmeerr You are having an issue with specificity. We are considering the active state, an internal state, in order to ease the customization, internal states have an higher specificity, this way, you can change the active state without having to redefine all the other states (cherry-pick). It's better explained in https://material-ui.com/customization/overrides/#overriding-with-classes

[2018-10-03 07:52] #13063 closed

[2018-10-03 08:28] oliviertassinari commented on #13062
Not necessarily. I'm referring to the usage of selectors like `'input[name="email"]`, `'button[type="submit"]'`, `button` with text `foo` or `[role="menu"] > div`.

[2018-10-03 08:31] oliviertassinari commented on #13062
< IconButton> Could directly assign a data-test attribute
<MuiSelect> Had to define MenuProps and SelectDisplayProps to target the two elements

You can use the `theme.props` feature of Material-UI for that.

[2018-10-03 09:05] FranBran opened #13083 "[docs] "Object doesn't support property or method 'assign'" on IE 11"
The following Screenshots are taken from Demo-Page

## Expected Behavior
![grafik](https://user-images.githubusercontent.com/1215407/46400943-e96b1480-c6fb-11e8-9591-4c3b008c91b8.png)

## Current Behavior
![grafik](https://user-images.githubusercontent.com/1215407/46400928-dbb58f00-c6fb-11e8-8a21-e7477e3c783d.png)

## Your Environment

| Tech         | Version |
|--------------|---------|
| Materi

[2018-10-03 09:19] oliviertassinari commented on #13083
@FranBran It was already tested, it's fine. I bet you used the documentation to test that.

[2018-10-03 09:37] nguyenvanphuc2203 commented on #12153
a have same issue? any solution?

[2018-10-03 10:41] nareshbhatia commented on #13081
Thanks, @oliviertassinari. I will look at the Gatsby demo again. Will get back on this.

[2018-10-03 10:45] popugang opened #13085 "disableUnderline doesnt work in Textfield"
disableUnderline doesnt work in Textfield

![image](https://user-images.githubusercontent.com/19804652/46407462-b46cbb00-c717-11e8-8184-0b630a3bb946.png)

[code]

It should look like in Google keep
![image](https://user-images.githubusercontent.com/19804652/46407579-17f6e880-c718-11e8-9262-18ca5847065f.png)

| Tech         | Version |
|--------------|---------|
| Material-UI  | v3 |
| React

[2018-10-03 11:05] elmeerr commented on #10620
@oliviertassinari thank you for the explanation. It helps a lot.

[2018-10-03 11:20] popugang opened #13086 "InputAdornment does not center Textfield variant="filled""
InputAdornment does not center Textfield variant="filled"

![image](https://user-images.githubusercontent.com/19804652/46407352-55a74180-c717-11e8-80cf-62f36011db82.png)

[code]

It should look like in Google keep
![image](https://user-images.githubusercontent.com/19804652/46407595-2c3ae580-c718-11e8-9886-542fa00ce1c3.png)

[2018-10-03 12:13] rooch84 commented on #11749
I have the same requirement.  Can we reopen this as a feature request?

[2018-10-03 12:15] eps1lon commented on #11088
Implemented by @hashwin in #12590 and released in `@material-ui/lab@v3.0.0-alpha.14`.

[Demo](https://material-ui.com/lab/speed-dial/#persistent-action-tooltips)

[2018-10-03 12:15] #11088 closed

[2018-10-03 12:17] eps1lon commented on #11564
Implemented by @hashwin in #12590 and released in `@material-ui/lab@v3.0.0-alpha.14`.

[Demo](https://material-ui.com/lab/speed-dial/#persistent-action-tooltips)

[2018-10-03 12:17] #11564 closed

[2018-10-03 12:32] popugang opened #13087 "overrides:MuiAppBar:colorPrimary. colorPrimary does not apply"
When i rewriting color like this
![image](https://user-images.githubusercontent.com/19804652/46410341-3ad9ca80-c721-11e8-977c-f802cf284f56.png)

i get this in devtools
![image](https://user-images.githubusercontent.com/19804652/46410383-57760280-c721-11e8-961c-70ad97e456ff.png)

[2018-10-03 12:35] Michael-M-Judd commented on #2653
Just an FYI, Google Chrome seemed to not care if I set autoComplete="off" or not, it would always provide an autocomplete... If I set it to autoComplete="no", it worked.

[2018-10-03 13:00] eps1lon opened #13088 "RFC: SpeedDial and Tooltip vs. Labels"
I'd like to use this issue to gather some real world examples of speed dials with tooltips to see what the optimal solution should be.

I believe that we don't actually have to pull in the `Tooltip` dependency from the core. The [spec](https://material.io/design/components/buttons-floating-action-button.html#types-of-transitions) does not mention implicit tooltips but only labels and then only per

[2018-10-03 13:01] AntonioRedondo commented on #9988
I think what the original poster is asking is about some functionality similar to styled-components [`createGlobalStyle()`](https://www.styled-components.com/docs/api#createglobalstyle) with which from the styling library you can set global styles without using conventional classes and CSS.

[2018-10-03 13:03] #12361 closed

[2018-10-03 13:07] MustD commented on #13070
@oliviertassinari Yes, why not, ill try

[2018-10-03 13:08] rooch84 commented on #11749
For anyone who stumbles on this page looking for an answer.  I managed to do it by setting the modal container, then specifying the css positioning on the modal root, backdrop and docked drawer to `absolute`:
[code]

[2018-10-03 13:10] oliviertassinari commented on #9988
@AntonioRedondo It's already available:
[code]

[2018-10-03 13:39] eps1lon commented on #13087
Please read [Customizing all instances of a component type](https://material-ui.com/customization/themes/#customizing-all-instances-of-a-component-type).

[2018-10-03 13:39] #13087 closed

[2018-10-03 14:30] AntonioRedondo commented on #9988
This looks 🆒.  I cannot see it on the Material-UI website. Is it documented anywhere?

[2018-10-03 14:57] popugang commented on #13087
I found nothing useful

[2018-10-03 15:18] oliviertassinari commented on #9988
It's from http://cssinjs.org/jss-global?v=v3.0.0

[2018-10-03 15:38] wilk commented on #9625
Same issue with Material UI 3.1.1: it does not hide after the duration.

[2018-10-03 21:39] #13070 closed

[2018-10-04 00:53] mbrookes commented on #13088
@eps1lon I understand where you're coming from, however I believe the tooltip based label gives a better UX on desktop.

Google inbox has this behavior:

<img width="252" alt="image" src="https://user-images.githubusercontent.com/357702/46447165-4ad0c900-c778-11e8-8ccf-94c7121fcee4.png">

[2018-10-04 01:48] mbrookes commented on #9511
@earvinLi @medz @xiaoyu-tamu Thanks for your patience - I think we're finally ready for you! https://crowdin.com/project/material-ui-docs

@earvinLi Are you happy to be the owner for Chinese translations?

[2018-10-04 02:30] opusartificis commented on #9511
I can help with any Spanish translation necessary!

[2018-10-04 03:34] fpudo commented on #9511
I’m circling back and offering myself again to translate it to Portuguese.

[2018-10-04 04:28] nareshbhatia commented on #13081
@oliviertassinari, I synchronized my code with the latest gatsby example, and everything is working fine. Thanks for the pointers!

[2018-10-04 04:28] #13081 closed

[2018-10-04 04:58] eps1lon commented on #13088
@mbrookes mouse vs. touch was one of the pain points. I'd like to give users the ability to decide what they want to offer because personally I find tooltips for touch very unintuitive. Long press is just not a "good" gesture. Google inbox on my smartphone offers persistent labels for the view you linked.

But this is actually nice since this is the first google product that I've seen that uses th

[2018-10-04 05:09] eps1lon commented on #13087
@popugang You have to provide a style object as shown in the guide. You provided a string. I guess you wanted to change the background-color?
[code]

However you should rather change the primary color component wide via palette options. Your approach goes against material design guidelines.

[2018-10-04 06:02] popugang commented on #13087
@eps1lon
Thank you. This code work right.

[2018-10-04 08:06] Dror88 commented on #12227
Hi @oliviertassinari
I tried overriding with "selected" key in classes prop but it doesn't seem to work.
Am I missing anything? https://codesandbox.io/s/r48y2lw72n

[2018-10-04 08:15] oliviertassinari commented on #12227
@Dror88 Same answer as in https://github.com/mui-org/material-ui/issues/10620

[2018-10-04 09:05] mbrookes commented on #9511
@opusartificus, @fpudo, thank you. We’re starting with Chinese, but watch this space.

@earvinLi, sure, thanks. Could you translate a page or two to test the processs and let me know how it goes?

[2018-10-04 09:10] mbrookes commented on #13088
Yeah, I agree long-touch is suboptimal. What does Inbox do on a hybrid device?

[2018-10-04 09:38] nicoffee commented on #13086
Hey @oliviertassinari, can I work on this?

[2018-10-04 09:39] eps1lon commented on #13088
Just to be clear I meant android native apps when referring to mobile. Google products look like from the 2000s when using them in the browser.

I'll try to get hold of a hybrid device.

[2018-10-04 10:46] oliviertassinari commented on #13086
@nicoffee The described behavior seems expected. I think that we can close it with #13085 as soon as we update the app-bar search example to use the `InputBase` component. The Filled variant wasn't meant for this use case. What do you think?

[2018-10-04 11:44] nicoffee commented on #13086
Okay, I agree. App-bar search example already updated or it needs to be done?

[2018-10-04 11:54] oliviertassinari commented on #13086
Are we?
https://github.com/mui-org/material-ui/blob/6b3d12c0866595ab07791e8923e5dccd321e6bd9/docs/src/pages/demos/app-bar/PrimarySearchAppBar.js#L179

[2018-10-04 12:14] popugang commented on #13086
@oliviertassinari
 <div className={classes.search}>
              <div className={classes.searchIcon}>
For what using two divs with classes, when Input have props filled ?

[2018-10-04 12:24] adnanfajlur opened #13097 "nextjs with sass, must with !important"
https://github.com/zeit/next-plugins/tree/master/packages/next-sass

[2018-10-04 13:47] popugang commented on #13097
https://github.com/mui-org/material-ui/tree/master/examples/nextjs

[2018-10-04 14:52] mbrookes commented on #13097
Thanks @popugang

[2018-10-04 14:52] #13097 closed

[2018-10-04 15:02] adnanfajlur commented on #13097
the problem i must use !important in my scss

[2018-10-04 15:09] mbrookes commented on #13097
https://material-ui.com/guides/interoperability/

[2018-10-04 15:47] yannvr commented on #10679
You can use `enzyme` to workaround the problem. It does a better at serializing components.
[code]

[2018-10-04 15:49] fpudo commented on #9511
@mbrookes Right on!

[2018-10-04 15:50] mbrookes commented on #9511
@earvinLi Please could you ping me on Gitter? (https://gitter.im/mbrookes)

[2018-10-04 15:56] gondar00 opened #13098 "[gatsby example] Error: Cannot find module 'core-js/modules/es6.array.filter'"
https://github.com/mui-org/material-ui/tree/master/examples/gatsby

Solution
https://github.com/gatsbyjs/gatsby/issues/7862
TD;LR `npm install --save core-js / yarn add core-js`

- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

##

[2018-10-04 16:16] oliviertassinari commented on #13098
It's a duplicate of #13034

[2018-10-04 16:16] #13098 closed

[2018-10-04 17:17] MargaretKrutikova opened #13099 "[Typescript] Incorrect type of InputProps in TextField with filled or outline variant"
The type of `InputProps` on `TextField` component is set to `Partial<InputProps>` which will only work correctly with the default or `standard` variant. When using variant `filled` or `outline` the type of `InputProps` should be set to `Partial<FilledInputProps>` or `Partial<OutlinedInputProps>` respectively.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mu

[2018-10-04 17:55] eps1lon commented on #13099
Duplicate of #12999 which was fixed in #13060.

Release in 3.2.0 is scheduled for this weekend

[2018-10-04 17:55] #13099 closed

[2018-10-04 17:59] MargaretKrutikova commented on #13099
Great news, thanks! Thought I searched through the issues and didn’t find a similar one ... sorry for the duplicate anyway :)

[2018-10-04 18:20] MastroLindus opened #13100 "Support Banner Component"
Hi,

If I am not mistaken there's no current support for the banner component:

https://material.io/design/components/banners.html

If it is not supported, are you planning to do it?
If it is provided, could you point me to its documentation?

Thanks and keep up the fantastic work!

![Capture d’écran 2019-10-31 à 19 02 49](https://user-images.githubusercontent.com/3165635/67973590-0df03380-fc11-

[2018-10-04 19:00] codeviking opened #13101 "Provide selectors and/or an API that makes testing fully mounted components easier."
We use React Material UI (great library, btw!) and write tests for each component that we construct. Recently we ran into an issue where it was challenging to test a component which wrapped the `<Select />` component, due to difficulties in triggering behavior in the component provided by the Material UI package.

We'd like to propose the addition of stable selectors and/or some sort of API for as

[2018-10-04 19:02] mbrookes commented on #9511
@earvinLi Thanks for making a start! I have set the top ten based on usage as "high priority" indicated by the up arrow. I have also deprioritised the bottom 10 files, and bottom 3 directories.

Number one (markdown file) is `getting-started/installation` - we will also, separately, need to translate the home page, but I'll need to code that up first.

Here's the hot-list:

<img width="235" alt="i

[2018-10-04 19:30] oliviertassinari commented on #13101
Interesting issue, I have to admit that we are only using the native implementation of the Select because there is too many issues with the non-native version. This is one of them.

[2018-10-04 19:44] mbrookes commented on #13088
Microsoft surface? By hybrid I mean touch and mouse, rather than just a tablet a-la iPad.

[2018-10-04 20:06] eps1lon commented on #13088
A lenovo thinkpad x1. Had the keyboard and mouse plugged in. In tablet and non-tablet mode. It seems google doesn't do much with their ui besides browser vs. native app.

[2018-10-04 20:17] eps1lon commented on #13101
I had similar issues recently but in my opinion this is more of an issue with enzyme. enzyme doesn't actually simulate the event but just calls the `on*` prop of the wrapper with the object you passed to `simulate` (see [simulate common-gotchas](https://airbnb.io/enzyme/docs/api/ShallowWrapper/simulate.html#common-gotchas)). That's in my opinion not useful at all since you have to mock the event o

[2018-10-04 20:19] oliviertassinari commented on #12277
It seems to be working now with TypeScript v3.1.1.

[2018-10-04 20:32] #13086 closed

[2018-10-04 20:32] #13085 closed

[2018-10-04 20:33] oliviertassinari commented on #13083
It's broken on Chrome 41, the engine used by Google to crawl the web pages, I'm fixing it, it's important.

[2018-10-04 20:51] oliviertassinari commented on #13083
Ok, it's should be good with https://github.com/s-yadav/react-number-format/pull/234

[2018-10-04 20:54] pmgroney commented on #11517
@dlochrie have you considered adding your method to npm, so that it's more widely accessible, and can be tested by the community?

[2018-10-05 00:06] AirborneEagle commented on #13100
I just noticed this as well.
Until  a Banner Component is supported, what would be the best "work around" ,
maybe just a  Paper that moves in, and contains some actions?

[2018-10-05 02:15] lilliesAndRoses commented on #8223
My webpack config is as follows
[code]
I have these two components and a common component that is built using the splitChunks option.
I wrapped the default exported component in MyFirstComp and MySecondComp using JSSProvider.
How should I be using the JSSProvider around the common component?

[2018-10-05 03:53] jmaloon opened #13104 "[StepConnector] state styling doesn't work with 'Alternative Label'"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

StepConnector should receive 'state' classes (eg 'active', 'completed') based on the status of the parent Step

## Current Behavior

The 'state' classes are not applied to the StepConnector when the Ste

[2018-10-05 04:38] eps1lon commented on #13104
Nice find. The hole logic and markup is completely changed when using `alternativeLabel`. I wonder if it isn't simpler to wrap the Step and Label into one container and change `flex-direction` depending on `alternativeLabel`.

[2018-10-05 08:21] flaviogrossi commented on #12302
any news on this one?

[2018-10-05 08:27] oliviertassinari commented on #12302
@flaviogrossi Do you want to lead the effort?

[2018-10-05 08:42] flaviogrossi commented on #12302
i would, but i'm not familiar enough with the codebase.

Also, i've seen related bug reports which could be affected by this change and i'm not sure to be able to test every one of them.

[2018-10-05 09:03] zheng-jiwei commented on #11777
I add /@material-ui\/core\/*./ into webpack.config.js, but I have to modify from "import TextField from '@material-ui/core/TextField';" to "import {TextField} from '@material-ui/core';" at the same time.

But use "import {TextField} from '@material-ui/core';"  will import all library, so result is output file size is almost no decrease.

what did I miss?

[2018-10-05 10:33] daniel-rabe opened #13106 "[TextField] Multiline Textfield does not grow when input-style text-align: right"
https://codesandbox.io/s/z3p8762l5x

I need a multiline textfield with text aligned right. But if I set the style the textfield does not grow when lines were added.

[2018-10-05 12:43] vsamotskiy commented on #12919
Same issue for booleans and Objects

[2018-10-05 12:57] oliviertassinari commented on #12919
@vsamotskiy I understand why you would want to support boolean too, but I don't understand the object case.

[2018-10-05 13:05] oliviertassinari commented on #13101
@codeviking Why don't you trigger the change event directly on the select rather than trying to click on a specific item? You can have a look at how we are handling the issue:
https://github.com/mui-org/material-ui/blob/063dc82f07c19aaafeb3f0899946a68d5b4b4849/packages/material-ui/src/Select/Select.test.js#L68-L80

[2018-10-05 13:05] #13101 closed

[2018-10-05 14:43] rodoabad opened #13109 "Material UI Tables + React Virtualized"
## Current Behavior

Material tables aren't *virtualized* so big data tables render extremely slow.

## Context

I would like Material UI tables to be *virtualized* by default or at least have the option to so we can render big data tables.

Right now there's not really a good option (well supported) to do this with React Virtualized and Material UI.

[2018-10-05 14:44] murugaratham commented on #12524
@thomasmi I fixed it on my end, it was a bad push which caused the tab items to be "wider"

[2018-10-05 14:54] mbrookes commented on #13109
Dupe of #7450

[2018-10-05 14:54] #13109 closed

[2018-10-05 15:36] jgoux commented on #8216
Hello, sorry to bump this issue but resetting `ButtonBase`'s `border-radius` is conflicting with `Avatar` (no longer rounded when doing `<Avatar component={ButtonBase} />`)

Shouldn't the parent component (in this case Avatar) dictate the styles and `ButtonBase` be only about semantic + ripple effect?

[2018-10-05 17:58] #12197 closed

[2018-10-05 18:47] oliviertassinari commented on #13100
maybe just a Paper that moves in, and contains some actions?

@AirborneEagle Here is an idea. I hope that help. It's inspired by our custom Grid demo: https://material-ui.com/layout/grid/#complex-grid.

![capture d ecran 2018-10-05 a 20 46 22](https://user-images.githubusercontent.com/3165635/46554180-c13c0b00-c8df-11e8-8f32-f119f370fd33.png)

[code]

https://codesandbox.io/s/oj1mzjmk06

[2018-10-05 19:04] oliviertassinari commented on #13083
This issue is pretty bad. @FranBran thank you for raising it, look what @eps1lon has found:
![mui-google](https://user-images.githubusercontent.com/3165635/46554952-30b2fa00-c8e2-11e8-8961-2b11ad39a91d.png)

[2018-10-05 19:39] eps1lon commented on #12919
We probably shouldn't be doing any type checking here since users can provide any input component they want which might accept objects.

If they don't then why not just pass it with `value={String(myValue)}`.

[2018-10-05 21:53] johnslay opened #13114 "[TextField] select + required prop does not add 'required' attribute on input element."
- [x ] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
`<input name="select-example" type="hidden" value="1" required>`

## Current Behavior
`<input name="select-example" type="hidden" value="1">`

## Steps to Reproduce

Link: https://codesandbox.io/s/y2wx

[2018-10-05 22:46] oliviertassinari commented on #13114
I'm closing as a duplicate of #12749

[2018-10-05 22:46] #13114 closed

[2018-10-05 22:56] oliviertassinari commented on #13104
@jmaloon We should be able to address this issue the same way #13023 was solved. In the Step component, we can forward the state properties. Do you want to work on it?

@eps1lon I doubt we can make the implementation any simpler, but it's always a good idea to give it a try based on the intuition we can.

[2018-10-05 23:06] jmaloon commented on #13104
@oliviertassinari thanks for chiming in.
Sure I would love to contribute, been using the library for some time and really impressed. I'll create a PR.

[2018-10-05 23:43] oliviertassinari commented on #13106
@daniel-rabe Thank you for raising this issue. It would have been better following the issue template, but the codesandbox is great. The issue comes from:
https://github.com/mui-org/material-ui/blob/bca93d92d65a9fac603c70d4971da09d26022e5d/packages/material-ui/src/InputBase/Textarea.js#L182-L183
We should be merging the style. Do you want to work on it? :)

[2018-10-06 07:54] skenbo0916 opened #13116 "[ExpansionPanel] react-select options being hided"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

*my 1st issue on GitHub* 🎉*please let me know what I'm doing wrong!*

## Expected Behavior

![expansionpaneldemo](https://user-images.githubusercontent.com/5772591/46568943-34ef0f80-c902-11e8-8209-57b94e50dedb.gif)

## Curre

[2018-10-06 09:14] daniel-rabe commented on #13106
yes i will try to fix it

[2018-10-06 10:01] #13083 closed

[2018-10-06 10:12] skenbo0916 opened #13121 "[Switch] switch floats on other component"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

[Switch](https://material-ui.com/demos/selection-controls/#switches) should work like this with other components:

![after_fixed](https://user-images.githubusercontent.com/5772591/46569898-eb59f100-c910

[2018-10-06 11:30] #13106 closed

[2018-10-06 13:13] borm commented on #11123
Only top or bottom position like Tooltip behavior

[2018-10-06 15:48] dunglas commented on #12934
@kumarsandeep91 I'm having the exact same problem using a basic install of API Platform Admin (that depends of React Admin and Material UI) and the latest version of React. Did you find a solution?

[2018-10-06 17:42] borm commented on #11123
when anchor element on top of viewport, the popper should we opened on bottom
![image](https://user-images.githubusercontent.com/4027842/46574163-23604300-c9a8-11e8-8a8e-fd4fc167e8f0.png)

when anchor is on bottom of viewport, the popper should be opened on top
![image](https://user-images.githubusercontent.com/4027842/46574174-4b4fa680-c9a8-11e8-8263-49e5b63b7c81.png)

Current realization dont al

[2018-10-06 20:51] jstgermain commented on #11244
the only part that I didn't try before googling... thanks.

[2018-10-06 20:59] jmaloon commented on #13104
@oliviertassinari  @eps1lon 'alternativeLabel' renders the Connector after the step, whereas a normal stepper renders the Connector before the step. Therefore to achieve a consistent styling with the baseline Stepper I pass the 'prevStepState' to the 'alternativeLabel' Connector.

I made the changes in PR #13130. I didn't quite figure out how to run all the tests so I didn't add any test cases. Le

[2018-10-07 04:00] shorn commented on #7237
Reported to IDEA team: https://youtrack.jetbrains.com/issue/WEB-35183

Note that you can work around the issue by defining the Props inside a namespace.

[2018-10-07 07:53] eps1lon commented on #11284
Legacy variant names will be deprecated with 3.2.0 i.e. deprecation warnings will be logged. The `flat` and `raised` variants were already mapped to `text` and `contained` respectively.

[2018-10-07 08:32] shirleyR commented on #13121
z-index seems not a good solution. Other components's z-index are unpredictable. Maybe change the dom structure to get the right render order is better.

[2018-10-07 10:49] ASheikhi82 opened #13131 "CSS Issue in Server Side Rendering"
There is an issue in SSR mode.

In production mode and after publish, the app css goes crazy 1 second after load.

This doesn't happen in development.

I have followed the instructions on SSR but still facing this issue with the live app on Linux as well as IIS on Windows.

A funny thing is, if I copy my node_modules folder from my own machine to the server, it works fine but if I do a npm install

[2018-10-07 10:50] merwaaan opened #13132 "Slider's callbacks are executed in an unreliable order"
The Slider's callbacks are executed in an unreliable order

## Expected Behavior

The `onDragStart`, `onChange`, `onDragEnd` callbacks should be called in a consistent order.

## Current Behavior

The callbacks are called in varying orders depending on the user interaction.

- when dragging: `onDragStart > onChange > ... > onChange > onDragEnd`
- when clicking: `onDragStart > onDragEnd > onChange`

[2018-10-07 10:51] eps1lon commented on #13121
This should not be the case. The z-indices of most components are defined in `theme.zIndex.*`. If you find examples of hard-coded z-indices feel free to refactor them into the theme and submit a PR.

It would be nice if we would fully implement https://material.io/design/environment/elevation.html at some point so that we can document z-index across components better.

[2018-10-07 12:16] borm opened #13133 "SelectInput, Menu - please move Menu`s, MenuList to props"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.
[Similar problem](https://github.com/mui-org/material-ui/issues/11226)

## Expected Behavior
https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Select/SelectInput.js#L304
https://github.com/mui-org/ma

[2018-10-07 12:17] oliviertassinari commented on #13131
Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-10-07 12:17] #13131 closed

[2018-10-07 12:18] oliviertassinari commented on #13131
@ASheikhi82 This topic was covered a million time already. Have a look at our FAQ or the issue history.

[2018-10-07 12:33] eps1lon commented on #13132
I fear that there is no easy built-in solution for this since browsers always fire mousedown -> mouseup -> click. That's what you are seeing in the second example.

I think what you want is to debounce changes during dragging only. I think an implementation with reactive programming would be the simplest solution. You could also use https://codesandbox.io/s/23jn91lo30 which makes the most out of "

[2018-10-07 12:59] #13133 closed

[2018-10-07 17:55] wenduzer opened #13137 "[Slider] RTL behavior is broken."
Followed the guide, don't have problems with other components, been using material ui for over 7 month on this project, RTL is just fine.
tried implementing a Slider, but it's broken.

- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

this should not

[2018-10-07 18:11] parulgupta26 commented on #12302
@oliviertassinari - I've created a PR for this - https://github.com/mui-org/material-ui/pull/13138 Please have a look

[2018-10-07 18:29] oliviertassinari commented on #10044
I was browsing the specification, I just had the same though, again.

[2018-10-07 18:57] eps1lon commented on #13137
Confirmed in https://codesandbox.io/s/wym4m8jw6l

It's working on the current docs. Seems like an issue with jss-rtl

[2018-10-07 19:51] wenduzer commented on #13137
It's really not clear, first it says `Internally, we are dynamically enabling this plugin when `, I though that part 3 was explaining what happens internally, and afterwards you can look at the demo, and see that they don't use part 3 at all, and it works fine.

[2018-10-07 19:55] oliviertassinari commented on #13137
@wangwenpei I agree, it's not clear. What do you think of:
[code]

[2018-10-07 20:00] wenduzer commented on #13137
Why isn't it dynamically used in Slider ? :(
right now I need to use the RTL wrapper in slider and switch
![image](https://user-images.githubusercontent.com/12185681/46586270-bc648c00-ca84-11e8-93c6-9181352448f2.png)

[2018-10-07 20:15] eps1lon commented on #13137
You should wrap this around your hole app to get complete rtl support.

@wenduzer I was confused too. Maybe we can add warning message.

[2018-10-07 20:18] wenduzer commented on #13137
@eps1lon Still, I don't understand why setting `'direction': 'rtl'` isn't enough for the Slider to flip?

[2018-10-07 20:19] oliviertassinari commented on #13137
I don't understand. The JSS plugin has to be installed. We don't do it by default because most people don't need it. This way, we save bundle size for 80% of the people. This is step 3.

[2018-10-07 20:30] wenduzer commented on #13137
@eps1lon so theme.direction set to rtl results in 'dynamically' flipping inline styles only, while loading jss-rtl will flip jss? is that correct?

no matter what I'm not sure this behavior is good

[2018-10-07 20:34] eps1lon commented on #13137
@wenduzer Yes

It assumes you have the plugin loaded if you set theme wide direction. In a perfect world a warning would be logged. Flipping inline styles globally would require quite the perf overhead for very minor use cases that are only caused by incomplete documentation.

[2018-10-07 20:52] oliviertassinari commented on #13137
:100: for that. I have been chatting about it a long time ago with @kof. Best solution to know if a plugin is loader or not is to use feature detection.

[2018-10-07 21:34] kof commented on #13137
Is there any plugins system out there that allows certain plugin installation detection? I haven't seen one so far and I wonder what could be a solution. Having some sort of `isPluginApplied(Symbol)` would be possible, but feels evil.

[2018-10-07 21:47] kof commented on #13137
This makes it sound like the plugin is getting installed automatically and on Slide API there is no mention that in order "direction" prop to work it needs the plugin used.

Looks like mostly documentation issue to me.

[2018-10-07 22:16] mbrookes commented on #13121
Another example of where Material Design is playing catch-up to Material-UI, but we are forced to change because they own the spec...

[2018-10-08 03:17] mcdougal opened #13144 "Snackbar is using a <p> after upgrading to 3.2"
I upgraded to 3.2 and set `useNextVariants: true` and the `Snackbar` component started using a `<p>` element for its container, which throws a warning in the browser if you have a `<div>` as a child.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

`

[2018-10-08 04:18] mcdougal opened #13145 "DialogContentText is throwing deprecated typography variant warning in 3.2"
The `DialogContentText` component uses `variant="subheading"` (https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/DialogContentText/DialogContentText.js#L17), so it is getting a deprecation warning.

I would prefer not to disable the deprecation warnings completely, as they are helpful for rooting out old variants I may have missed in my migration. Is there an expected cou

[2018-10-08 05:41] eps1lon commented on #13145
Enabling typography v2 should to the trick. Doing this will still warn if you use deprecated variants in *your* codebase.

[2018-10-08 05:47] eps1lon commented on #13144
That was caused by #13129. Seems like @oliviertassinari forgot to warn about the change in the release notes.

[2018-10-08 06:00] mcdougal commented on #13145
By "Enabling typography v2" do you mean setting `useNextVariants: true`? The warning is still thrown when this is set: https://codesandbox.io/s/k0jryxq9n7. Or is there another setting I should use?

[2018-10-08 06:16] sunshixiong789 opened #13146 "Module not found: Can't resolve 'react-jss/lib/JssProvider"
- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Examples

## Context

![image](https://user-images.githubusercontent.com/31101988/46594244-65060080-cb04-11e8-8e20-ed639f858ccd.png)

in material-ui 3.2.0, I find I can't use jss

[2018-10-08 07:10] wenduzer commented on #13137
I'd go with "documentation issue" as well, makes sense that it should be external if I want rtl support for specific components, but, if so, it should be written in the docs.

something like that,

The CSS-in-JS documentation explains a bit more how this plugin is working. Head to the plugin README to know everything about it.

Perfect world will be a list of components that require this behavior.

[2018-10-08 07:11] oliviertassinari commented on #13146
@sunshixiong789 `npm install react-jss` and you will be good. See #12993.

[2018-10-08 07:11] #13146 closed

[2018-10-08 07:16] oliviertassinari commented on #13144
@mcdougal Thank you for the report. I have forgotten to add body2 in:
https://github.com/mui-org/material-ui/blob/c01df420db491965ac035af55c2f956e4f0fb885/packages/material-ui/src/SnackbarContent/SnackbarContent.js#L54-L56
Also, something is wrong with our CI. We should have spotted the issue before the release.

[2018-10-08 07:18] oliviertassinari commented on #13145
@mcdougal Thank you for the report. We have forgotten to add the `internalDeprecatedVariant` property on:
https://github.com/mui-org/material-ui/blob/c01df420db491965ac035af55c2f956e4f0fb885/packages/material-ui/src/DialogContentText/DialogContentText.js#L17

[2018-10-08 07:20] oliviertassinari commented on #13137
@wenduzer I would replace `some components` by `components`, it's required by 90% of  them.

[2018-10-08 07:30] oliviertassinari commented on #13137
Oh, I though you had a global use case for RTL, my bad.

[2018-10-08 07:33] wenduzer commented on #13137
The project is RTL, but I use jss as my main styiling solution so I flips all my jss not only the material-ui ones

[2018-10-08 08:21] nikhilem opened #13147 "Multiple active steps not working"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Multiple active Step components(enabled with `active` prop on Step component) inside Stepper should expand all Steps

## Current Behavior

Multiple active Step components inside Stepper activates only o

[2018-10-08 09:05] eps1lon commented on #13147
I think setting `active` on all Steps is a hacky way to achieve what #12948 is asking for. The change was caused by #13023.

The fix is pretty simple. Changing the order in https://github.com/spirosikmd/material-ui/blob/89f6c30fbf38e0ce87cd6bb5554bd460ef343e25/packages/material-ui/src/Stepper/Stepper.js#L88
should be sufficient. Do you want to work on it?

From a semantic point of view I don't see

[2018-10-08 09:35] kishan3 commented on #718
I am facing the same issue.

[2018-10-08 09:39] kishan3 commented on #718
Can you please explain what this means ?

[2018-10-08 09:47] ozturkcangokkaya commented on #718
:-webkit-autofill selects autofilled fields by browser. Place your label right next to input and select it with :-webkit-autofill selector. If you need more help please share your current html structure.

[2018-10-08 10:02] barbalex opened #13150 "ListItemText using deprecated typography variant subheading"
Following https://material-ui.com/style/typography/#migration-to-typography-v2 I adapted my project to typography v2.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
No deprecation warnings

## Current Behavior

This error results where ever `ListIte

[2018-10-08 10:13] eps1lon commented on #13150
Where do you use that theme?

https://github.com/barbalex/erfassen/blob/09dfdc0d6d441d1c547510d910142d7d1f108cf7/src/App.tsx#L10-L18
does not set `useNextVariants` on the `typography` prop.

[2018-10-08 10:29] barbalex commented on #13150
OMG, I am using Gatsby for the first time. And `gatsby-plugin-typography` includes it's own theme. And I actually managed to set `useNextVariants` on that theme instead of the material-ui theme.

Sorry guys, I feel bad for bugging you.

Anyway: thanks for great feedback.

[2018-10-08 10:29] #13150 closed

[2018-10-08 10:31] barbalex commented on #13150
In retrospect: I might have realized my error if the provided codesandbox project were easy enough for me to get it working. For some reason it produces this error:

[code]

[2018-10-08 11:08] eps1lon commented on #13150
@barbalex I'm looking into that. Seems like codesandbox became more strict about the version identifier. It used to accept any modifier that `npm install` accepted.

[2018-10-08 11:40] eps1lon commented on #13144
@oliviertassinari  tests are run with typography v1. The issue is exclusive to typography v2.

[2018-10-08 12:05] didoshakra opened #13152 "Not worked examples Image avatars (https://material-ui.com/demos/avatars/) in CodeSandbox"
Do not worked and in CodeSandbox this examples material-ui.com  :
- "Image avatars" (https://material-ui.com/demos/avatars/)  (Icon avatars is worked)
-"Card Media" (https://material-ui.com/demos/cards/)
I want but can not use them
Let me smile at you.
Help me please.

[2018-10-08 12:06] oltodo commented on #10235
I don't understand why centered tabs can't be scrollable (therefore left-aligned) after the container width has been becoming smaller than its content 🤔

[2018-10-08 13:35] eps1lon commented on #13152
I'm having trouble understanding you.

I guess the codesandbox is crashing? If it displays something like `Invalid comparator: latest` in the preview window please change in `package.json`:
[code]

[2018-10-08 13:58] Studio384 opened #13154 "TextField error state color does not match specs"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
The error color for the TextField component uses the color `#ae001a` as underline and label color.

## Current Behavior
The error color for the TextField component uses the color `#f44336` as underline a

[2018-10-08 14:13] #13144 closed

[2018-10-08 14:18] gnapse commented on #12764
Couldn't the library handle this? That is, if the input type equals "number", then force the label shrink property?

[2018-10-08 15:16] rodoabad opened #13155 "What do you guys use to generate change logs?"
It looks pretty! Is this all manual? 💯

[2018-10-08 15:58] mbrookes commented on #13155
Yes, it's manual, but like it says in lots of places, we use github issues for issues, not questions.

[2018-10-08 15:58] #13155 closed

[2018-10-08 16:03] rodoabad commented on #13155
@mbrookes where would be a good place to ask these questions?

[2018-10-08 16:03] rodoabad commented on #13155
Twitter?

[2018-10-08 16:12] eps1lon commented on #13155
@rodoabad stackoverflow or the gitter chatroom

[2018-10-08 17:37] #13152 closed

[2018-10-08 17:46] didoshakra commented on #13152
Sorry, but I am very poor English and communicate with Google Translate. The problem is that when I tried to use these components in a project, I did not take away what I was expecting. Then I tried them directly from material-ui (https://material-ui.com/demos/avatars/) and (https://material-ui.com/demos/cards/) using the 'Edit in CodeSundbox' button. . But in this case I got the same result: noth

[2018-10-08 18:13] mbrookes commented on #13155
https://github.com/mui-org/material-ui/issues/new?template=3.support.md

[2018-10-08 18:26] nguyendangkhanh opened #13156 "autoFocus not working"
Problem description
I using:
Material-ui/core v3.2.0
React: 16.4.1

How can I set focus to the specified input field or material UI TextField? autoFocus={true} seems not to be working.

[2018-10-08 19:03] oliviertassinari commented on #13156
@nguyendangkhanh `autoFocus` is supported. Two things could happen:
1. React is struggling to focus the input. I have experience that at multiple occasion in the past, the workaround is to do the job manually with a delay.
1. You have some focus management logic that "steal" the focus.

I'm closing as no reproduction example was provided.

[2018-10-08 19:03] #13156 closed

[2018-10-08 19:43] eps1lon commented on #13154
Colors are not actually defined in the spec as I understood it. Their semantics are defined not how they look. Everything else is up to the theme designer. We use a slightly different color scheme as a default. Feel free to change the error color with
[code]

[2018-10-08 19:53] Philipp91 opened #13159 "Don't display icons before their font is loaded"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Icons are shown once they are loaded. Before that, they should ideally occupy the space that they will eventually need, but not  display anything there (i.e. be transparent).

## Current Behavior
Font ic

[2018-10-08 20:23] zachwolf opened #13160 "Release following semantic versioning"
Hey y'all!

Thanks so much for all your work on mui. We use it every day and it's invaluable.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate. - Looks like it was decided in #4751

## Expected Behavior
Releases would follow the the [semver guide](https://semver.org/), per

[2018-10-08 20:34] eps1lon commented on #13160
What was the breaking change in 3.2.0?

I agree with everything else. A v4 branch and beta release would be a good idea.

[2018-10-08 20:44] zachwolf commented on #13160
My mistake, re-read through the release notes and see I misunderstood them. Looks like `<Button variant="flat" />` will still work in 3.2.0 but just give warnings. I've edited my original post to correct this.

[2018-10-08 20:50] oliviertassinari commented on #13160
That was a mistake.

[2018-10-08 21:06] oliviertassinari commented on #13159
@Philipp91 I can understand your frustration. I won't be able to provide any good answer. It's part of the tradeoff of using font icons vs SVG icons. The topic was partially covered in https://github.com/FortAwesome/Font-Awesome/issues/12856#issuecomment-381310005.

To be noted that we are waiting for the font to be loaded on the e2e tests with:
https://github.com/mui-org/material-ui/blob/a308ba56

[2018-10-08 21:42] zachwolf commented on #13160
Awesome, thanks for the quick responses and sorry for the noise.

Looking forward to 4.0 🥇!

[2018-10-08 21:42] #13160 closed

[2018-10-08 21:52] JoeKyy opened #13162 "Date marking on Material Calendar"
I searched and did not find this on documentation so I'm come here to ask about date marking on specific dates on the Calendar, is possible to do that?

Like this
![image](https://user-images.githubusercontent.com/2018763/46635571-4cf5a780-cb2b-11e8-91e0-df9528c4a289.png)

[2018-10-08 22:14] oliviertassinari commented on #13162
@JoeKyy We don't support such component. https://github.com/dmtrKovalenko/material-ui-pickers can help.

[2018-10-08 22:14] #13162 closed

[2018-10-08 22:33] oliviertassinari commented on #13147
I have just spotted the issue too looking into #13130. We miss a unit test :)

[2018-10-09 03:38] ronlee1 commented on #11162
Hi, I found that the cursor won't move when you input text. It is another issue.

[2018-10-09 04:03] nikhilem commented on #13147
Thanks for looking into this @eps1lon. Shall I submit a PR with those changes? @oliviertassinari

[2018-10-09 04:34] kishan3 commented on #718
Sure! Here is my HTML Please help. Thanks
`<html>

<head>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/material.min.css">
    <script defer src="/static/js/material.min.js"></script>
    <title>Login - Mobifly Ltd.</title>
    <style>
        .demo-card-wide.mdl-card {
            position:

[2018-10-09 05:35] KevinGrandon opened #13163 "Regression for browser usage when upgrading from 3.1.2 -> 3.2.0"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
There are no breaking changes from 3.1.2 to 3.2.0 when using material-ui without webpack or a similar bundler.

## Current Behavior

We are currently seeing breaking when using the browser MUI library. W

[2018-10-09 06:18] eps1lon commented on #13163
We have `process.env.NODE_ENV` throughout our codebase but I guess most build tools already replace this during bundling so that there is no reference to `process` in the bundle.

Should've known that this would cause issues. redux had a similar problem a few weeks ago if I remember correctly.

For anyone stumbling over this you might be able to fix this yourself. Add the following to your webpack

[2018-10-09 06:19] sunshixiong789 commented on #13146
think you

[2018-10-09 06:19] sunshixiong789 commented on #13146
I think it should be like before

[2018-10-09 06:39] eps1lon commented on #13146
`react-jss` was always a transitive dependency. You should not import transitive dependencies. Eslint even has a rule `implicit-dependency` against that.

[2018-10-09 06:51] rozd opened #13165 "[Tabs] Indicator doesn't fill available space on initial load in Safari"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Tabs' indicator fills all available space on page load.
![mui-tabs-indicator-correct](https://user-images.githubusercontent.com/158493/46651050-6dfbde00-cba7-11e8-9389-457fb9c510c2.png)

## Current Behav

[2018-10-09 07:33] oliviertassinari commented on #13146
@sunshixiong789 I'm considering the option of having a `WithStylesProvider`.

[2018-10-09 08:47] rolandjitsu opened #13167 "TS typings are not working for styled components"
After I have updated to the latest version of the lib (`3.2.0`), I cannot build my apps anymore with `react-scripts-ts` due to some typings errors with styled components.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

I should be able to build a co

[2018-10-09 08:47] #12679 closed

[2018-10-09 08:47] #13014 closed

[2018-10-09 09:12] rolandjitsu commented on #13167
Hmmm ... maybe it's actually not an issue, removing the type cast from `style<Props>(Hello)` might just fix this issue.

I'm testing this just now.

[2018-10-09 09:49] elmeerr commented on #12741
The deprecation warning list `caption` as deprecated but in [docs example](https://material-ui.com/style/typography/#migration-to-typography-v2) `caption` variant is being used and is not on the **from => to** list
![image](https://user-images.githubusercontent.com/4071037/46660952-86c0bf80-cbb8-11e8-8eb4-043049eb535a.png)

Also the Stepper component is still using `body1` (I don't know if you alr

[2018-10-09 10:17] eps1lon commented on #12741
@elmeerr `caption` is not deprecated. It will only change it's style which is why we warn about this.

[2018-10-09 11:16] oliviertassinari commented on #7187
We went with changing the implementing to work server side using a width: 100% under the active tab.

[2018-10-09 11:18] oliviertassinari commented on #13165
@rozd This problem isn't scoped to Safari. You can experience the same one on all the browser. It's a font loading issue. #7187

[2018-10-09 11:18] #13165 closed

[2018-10-09 11:30] elmeerr opened #13169 "Snackbar content rendering as <p> instead of <div>"
The `SnackbarContent `is being rendered as a `p` tag instead of `div` generating a

 warning when displaying a Snackbar

- [ x ] This is not a v0.x issue.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
`SnackbarContent `rendered as `div`

## Current Behavior
`SnackbarContent` ren

[2018-10-09 12:11] eps1lon commented on #13169
Duplicate of #13144

[2018-10-09 12:11] #13169 closed

[2018-10-09 12:32] ozturkcangokkaya commented on #718
Your labels come right after the inputs, so you dont have to do anything with html.
Just select your labels right next to autofilled inputs and set them your active label styles as shown below.

[code]

[2018-10-09 12:34] MrEfrem commented on #10831
@oliviertassinari I also found a problem with `will-change`. My problem appears on the MacBook (on the PC all is well). I use the `Dialog` component. Inside it uses the `Fade` component with `will-change: opacity`. If the `Dialog` contains a lot of content the `Paper` (used by `Dialog` inside) should to scroll. A scrolling works well in all tested browsers: the Safary, Chrome, Firefox. But only th

[2018-10-09 13:46] dlochrie commented on #11517
@pmgroney - yeah, it could be npm module. If I get a chance, I might package it and add some tests. In the meantime, I create [a gist](https://gist.github.com/dlochrie/8e962277e0b8da3bca8c5db72e5d95c2) so that anyone can take and use as they want.

https://gist.github.com/dlochrie/8e962277e0b8da3bca8c5db72e5d95c2

[2018-10-09 14:30] jeremy-coleman opened #13170 "Multiple copies of Jss when using styled-jss and glamor-jss (not directly a Mui issue)"
When using styled-jss/ glamor-jss and inspecting my production bundles with webpack bundle analyzer, I'm seeing multiple copies of Jss being bundled . for instance styled-jss is bringing in 16KB, similar with glamor jss. Is there a way to fix this during the mui / jss instantiation? Or is it going to just fall on webpack / build process fixes?

[2018-10-09 14:41] mbrookes commented on #718
Uh, @kishan3 I think you're lost. MDL is this way --> https://github.com/google/material-design-lite/issues/4827 😆

(Although given that MDL is dead Jim, perhaps you've come to the right place after all!)

[2018-10-09 14:46] mbrookes commented on #11517
@oliviertassinari It seems there's enough support to consider adding this to Material-UI...

[2018-10-09 14:50] yuchi commented on #10044
I’m starting to think there should be some kind of controllable approach for such measures.

[2018-10-09 14:50] efeminella opened #13171 "Typography Deprecation Warnings should not be logged for Native Components"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Native Typography Deprecation warnings should not be logged; as this leaves the Developer with no means of resolving the warnings. Moreover, it would be assumed that subsequent upgrades would automatical

[2018-10-09 14:57] eps1lon commented on #13171
We decided that the styling change is considered a breaking change. That's why we log deprecation warnings before the next major release.

You have 2 options:
- switch to v2
- stay at v1 and ignore warnings

You are not supposed to ignore or fix warnings on a per-component-basis.

[2018-10-09 15:01] #12159 closed

[2018-10-09 15:03] eps1lon commented on #12159
You should not be getting any warnings as of `@material-ui/lab@v3.0.0-alpha.19`.

`className` on SpeedDialAction was reintroduced in #13161 and should be released when the next patch of the core will be released.

[2018-10-09 15:08] oliviertassinari commented on #13170
@jeremy-coleman You can try to force your package manager to install a single version of JSS. It should do it. Otherwise, the ecosystem would have to set JSS as a peer dependency. We don't. Also, you can checkout our alternative APIs, it's a way to save bundle size: https://material-ui.com/customization/css-in-js/#styled-components-api---15-lines-.

[2018-10-09 15:08] #13170 closed

[2018-10-09 15:31] efeminella commented on #13171
@eps1lon Perhaps I wasn't clear in the description, the issue appears to be that the warnings are being logged for internal Material UI components; even when switching to v2, which I have done as follows in my theme:

[code]
The only change I can think of that may be needed is for the option to be set for typography outside of the overrides, as this wasn't clear in the documentation.

[2018-10-09 15:38] oliviertassinari commented on #13171
@efeminella It should already be fixed on master. Can you drill down to the "wrong" usage?

[2018-10-09 15:40] eps1lon commented on #13171
That's not how you switch to v2.
[code]

`overrides` is used for component props.

Only `DialogContentText` should still warn which was adressed in #13148.

[2018-10-09 15:43] efeminella commented on #13171
@eps1lon OK, I suspected as much, let me give that a try.

[2018-10-09 15:52] efeminella commented on #13171
@eps1lon That did it, thanks!

[2018-10-09 15:52] #13171 closed

[2018-10-09 21:52] oliviertassinari commented on #13116
I'm closing as a duplicate of #9483

[2018-10-09 21:52] #13116 closed

[2018-10-09 22:16] #13121 closed

[2018-10-09 22:20] #12919 closed

[2018-10-09 22:37] mbrookes commented on #11517
@dlochrie Are you happy to work on this?

[2018-10-09 22:57] anandbkrishnamohan opened #13174 "[Accessibility] Some of the components are not visible or rendered properly in Windows High Contrast Mode"
While testing our application in Windows High Contrast Mode (Both ie11 and Edge), could see that some of the material-ui/core components are not visible or rendered properly. Reproduced the issues while accessing the Demo Components in material-ui page (https://material-ui.com/)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of th

[2018-10-09 23:00] #9483 closed

[2018-10-09 23:01] charlie632 opened #13175 "Typography Migration Error on TextField"
## Current Behavior
Some warning about migrating to Typagraphy V2 appeared on my console. I tried to resolve most of them, but an error appears everytime I type on a TextField. The error is as follows:

`index.js:2178 Warning: Material-UI: You are using the typography variant body1 which will be restyled in the next major release.
Please read the migration guide under https://material-ui.com/style

[2018-10-09 23:05] eps1lon commented on #13175
How did you try to resolve them? Have you read https://material-ui.com/style/typography/#migration-to-typography-v2?

[2018-10-09 23:07] oliviertassinari commented on #13175
I think that we could improve the current situation in two ways:
1. We could only raise once per variant.
2. We could try to highlight the component stack in the warning.

[2018-10-09 23:08] oliviertassinari commented on #10831
@MrEfrem If you want to address it, we would more than happy https://github.com/mui-org/material-ui/issues/10831#issuecomment-419715529 :)

[2018-10-09 23:35] charlie632 commented on #13175
I had a lot of _Display#_ in my code, so I just did some search and replace to _h#_. All of the errors disappeared after I did that, but then they started to appear as soon as I typed into a TextField.

[2018-10-10 00:14] bluepeter opened #13176 "[Stepper] custom connector is throwing warnings"
Upgrading from 3.1.1. to 3.2.0, we now get warnings when we use a Stepper with a custom connector like this:

[code]

The warnings we receive are:

<img width="1430" alt="screen shot 2018-10-09 at 5 12 04 pm" src="https://user-images.githubusercontent.com/2158187/46705903-9820c080-cbe6-11e8-9fcf-6a57c1c9dd9e.png">

We've tried multiple solutions here, none successful.

[2018-10-10 01:01] kenwithee commented on #12741
I am working through the demo component ClippedDrawer and noticed these warnings below. Being a newbie on this I am not sure if I am doing something wrong or need to update something on the demo in GitHub to prepare the ClippedDrawer demo for the next version?

Warning: Material-UI: You are using the deprecated typography variant subheading that will be removed in the next major release.
Please re

[2018-10-10 02:42] kitfit-dave commented on #13175
I am seeing this issue also (typing in a TextField - I don't see the same issue when typing in an Input), though I'm not directly using variants or Typography.
I also seeing the same warning just using a Radio component.
Is it possible that somewhere within material ui is not using the new variants?

[2018-10-10 02:44] ablakey commented on #13175
I'm seeing a lot of typography variant warnings for things I don't control. I updated all my uses of Typography, but I still get a ton of them, I think, as a result of Material UI components that internally use Typography.

[2018-10-10 02:49] kenwithee commented on #12741
Just in case any other newbies like me run across my question above with the default examples and getting warnings. I was able to solve it with the content on this page: https://material-ui.com/customization/themes/

In particular, it seems the default theme was the culprit and the above discussion makes more sense now about the find/replace. I suspect that after that is done then the examples, li

[2018-10-10 03:09] kitfit-dave commented on #13175
I see that withStyles calls createMuiTheme (to create the default) without specifying useNextVariants - could this be the issue?

[2018-10-10 05:06] MrEfrem commented on #10831
@oliviertassinari sorry, I didn't understand what you mean, I just noticed still one problem from using this rule.

[2018-10-10 06:58] FranBran opened #13177 "Contained Button shows white line"
![grafik](https://user-images.githubusercontent.com/1215407/46718108-749f5980-cc6a-11e8-91f3-82962ca50fb6.png)

Screenshot taken from docs

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  | v3.2.0  |
| React        |         |
| Browser      |    IE11     |
| TypeScript   |         |
| etc.         |         |

[2018-10-10 07:33] Alexandr-Ilyin commented on #10341
Also facing the issue when opening dialog from menu

[2018-10-10 07:41] #13104 closed

[2018-10-10 07:53] kiku511 opened #13178 "Typography noWrap in Cards isn't handled well."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Text should stop before reaching the end of the card. Ellipses should show.

## Current Behavior
Using noWrap for text inside cards doesn't work. The text overflows and ellipses don't show.

## Steps to

[2018-10-10 08:17] eps1lon commented on #13175
Just removing deprecated variants is not enough. You have to use a theme in your app that enables the typography v2 theme like so:
[code]
A more detailed guide is available under https://material-ui.com/style/typography/#migration-to-typography-v2.

Otherwise you would still get old styles for variants like `body1` and `body2` which could be considered a breaking change if we just immediately chan

[2018-10-10 08:35] kitfit-dave commented on #13175
Isn't "you have to use a theme" a breaking change too?

[2018-10-10 08:42] davalapar commented on #13171
Curious, when I do this:

[code]

The initial warnings disappear. But then when I interact with the components (ie. type something), new warnings get logged.

[2018-10-10 08:45] eps1lon commented on #13175
@kitfit-dave You only have to use it if you want to use the new feature. The warnings are "harmless". Please don't immediately jump on me. I know that they don't seem harmless and in dev mode your app becomes basically not debuggable with all that noise. That's why we also added the MUI_SUPRRESS_DEPRECATION_WARNINGS via env variable escape hatch.

That's a decision we have to make. Do we enable de

[2018-10-10 08:53] davalapar commented on #13175
Yes lol the warnings are annoying because they're in red and not in yellow.

The new typography look (especially variant='overline') look gangsta though, love it.

I used this for now to make them disappear, hopefully I won't forget to remove em on next package update:

[code]

[2018-10-10 08:53] kitfit-dave commented on #13175
Fair enough. Did not intend to jump on you :) It just seemed odd to me that the lib itself would cause deprecation warnings. I see that you'd be in a hard place making the default use the new variants by default. I suppose then that a future major version change will add the useNextVariants to any internally created themes?

A solution that I could see being useful would be to suppress the warning

[2018-10-10 09:04] Duskfall opened #13179 "Autocomplete with Popper breaks positioning"
I would like for the position of the list to change if I filter based on specific value.
Right now if I filter the position stays the same and seems wrong, and if I scroll with my mouse then it correctly places itself above the input

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a d

[2018-10-10 09:20] eps1lon commented on #13175
@davalapar When using typography v2 you should not need to suppress the warnings because you are good to go for the next major concerning typography. There is only one bug in `DialogContentText` where warnings would still get logged. This is fixed in master and should be released soon.

@kitfit-dave What do you mean by not fixable? The guide offers two solutions. We warn because we will default to

[2018-10-10 10:31] Poukai opened #13182 "Button hover color change override is not working"
[code]
The background color is transparent after hover, shouldn't root apply to all variants ? What am i doing wrong ?

[2018-10-10 10:39] #13182 closed

[2018-10-10 10:40] oliviertassinari commented on #13177
Any idea what we can do to fix that? Otherwise, I doubt it's an issue worth investigating.

[2018-10-10 10:43] oliviertassinari commented on #13174
Could it be a duplicate of #12710?

[2018-10-10 10:48] Poukai commented on #13182
@oliviertassinari  can you have a look once ?

[2018-10-10 10:52] oliviertassinari commented on #13182
You are rewriting Material-UI CSS, you are not injecting new CSS.

[2018-10-10 10:55] Poukai commented on #13182
Isn't that how we override css for a Button component in the whole project ?

[2018-10-10 11:27] andrispraulitis commented on #13175
Pardon me but the typo migration page clearly states that body1 is not deprecated which is why I don't understand the warning.

New variants:
display4 => h1
display3 => h2
display2 => h3
display1 => h4
headline => h5
title => h6
subheading => subtitle1
body2 => **body1**
body1 (default) => body2 (default)

[2018-10-10 11:50] cyberdude opened #13183 "Pattern support for TextField"
Pattern attribute should be supported.

![screenshot 2018-10-10 at 13 48 13](https://user-images.githubusercontent.com/103569/46734408-64e83b00-cc93-11e8-9e0c-91f7ac4a29b4.png)

[2018-10-10 11:57] eps1lon commented on #13175
It will change its style. The warning should say that.

[2018-10-10 11:58] cyberdude commented on #13183
Mehh., inputprops is they way

[2018-10-10 11:58] #13183 closed

[2018-10-10 13:35] ablakey commented on #13175
@eps1lon first of all, thank you for your help with this. It's very much appreciated.

I think it would make sense to only raise these warnings once per variant. The warning basically says, "hey, this variant isn't supported anymore!" so it would, in my opinion, be fair to report it per-variant and not per-render.

Greatly appreciate the `MUI_SUPRRESS_DEPRECATION_WARNINGS` escape hatch. I've used

[2018-10-10 13:45] jmcpeak opened #13184 "Console error with <Snackbar /> when useNextVariants = true"
Given a console error message when a <Snackbar /> opens when useNextVariants = true.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Should not give error message

## Current Behavior
`Warning: validateDOMNesting(...): <div> cannot appear as a descen

[2018-10-10 13:47] ablakey commented on #13175
For those who just want to get back to work. Here's an example of how to make a custom Mui theme that passes in the override config:

[code]

[2018-10-10 13:51] eps1lon commented on #13184
Duplicate of #13144.

[2018-10-10 13:51] #13184 closed

[2018-10-10 14:00] mediafreakch commented on #12925
@Richtervn Did you figure it out? I'm struggling with the same...

[2018-10-10 14:03] eps1lon commented on #13144
While a fix in HEAD is good I failed to add a temporary workaround for everyone affected:

https://codesandbox.io/s/248j265l5r:
[code]
Basically add to `ContentProps` the `headlineMapping` conforming to the above shape.

[2018-10-10 14:09] cyulin opened #13185 "Buttonbase， getDerivedStateFromProps(nextProps, prevState)"
Throw an error: prevState is null

[2018-10-10 14:18] eps1lon commented on #13185
Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-10-10 14:18] #13185 closed

[2018-10-10 15:01] flyingangel opened #13186 "Label overlapping input"
https://material-ui.com/demos/text-fields/#limitations
The documentation specify the following warning :

I encounter this bug and will give you a **hint** : this is due to the *undefined* state of the value; in an input field, always specify the value as empty string instead of *undefined*

Under such circomstance, when combining with an object spread operatior `{...props}` will generate by the c

[2018-10-10 15:10] Abbo44 commented on #12741
Hi @eps1lon , I think you forgot to implement the `overline` type in `TypographyClassKey`, because i'm unable to override `overline` type in `MuiTypography`.

Actual TypographyClassKey :

`export type TypographyClassKey =
  | 'root'
  | 'h1'
  | 'h2'
  | 'h3'
  | 'h4'
  | 'h5'
  | 'h6'
  | 'subtitle1'
  | 'subtitle2'
  | 'body1'
  | 'body2'
  | 'caption'
  | 'button'
  | 'srOnly'
  | 'alignLeft'

[2018-10-10 15:47] oliviertassinari commented on #13186
@flyingangel Check the warning in the console. React should raise a controlled/uncontrolled related issue.

[2018-10-10 15:47] #13186 closed

[2018-10-10 16:36] flyingangel commented on #13186
There isn't warning. And this bug is known and warned in the documentation

[2018-10-10 16:40] oliviertassinari commented on #13186
@flyingangel Could you share a reproduction live example then? Thank you.

[2018-10-10 17:54] SandyGifford commented on #13175
I find it a little frustrating that *restyle* warnings and *removal* warnings are both under the same suppression flag.  I'd like to be aware of any instances of future breaking changes, but I've already gone through my code and prepped it for restyle changes, I don't need to see those anymore, or wade through them to find actual problem code.

[2018-10-10 17:57] dlochrie commented on #11517
@mbrookes Sure, I can take a stab at it.

[2018-10-10 17:59] oliviertassinari commented on #13175
We will make a v3.2.1 release this evening with a better upgrade path leveraging everybody feedback.

[2018-10-10 18:10] JarLowrey opened #13190 "Documentation: Typography variant"
- [ x] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Docs state "h3" variant can be used - https://material-ui.com/api/typography/

## Current Behavior

console prints error

[code]

| Tech         | Version |
|--------------|---------|
| Material-UI  |

[2018-10-10 18:13] SandyGifford commented on #13175
Using the `useNextVariants` flag fixed this for me - I missed that one.  Makes sense that if I had moved my code forward already I could just flip that switch.  Thanks for the info!

[2018-10-10 18:16] JarLowrey commented on #13190
I think I'm just out of date, closing until I confirm

[2018-10-10 18:46] #13147 closed

[2018-10-10 18:50] oliviertassinari commented on #13190
@JarLowrey You are definitely not using v3.2.0. Check your node modules :)

[2018-10-10 18:50] #13190 closed

[2018-10-10 18:57] novascreen commented on #12741
@oliviertassinari I was wondering why this was changed to `hX`?

I think it is a lot more confusing to use `hX` if we remap the components that are used by default. For example h1-3 are so large, i never use them, so `headline4` would be my `<h1>` as with the deprecated variant `display1` out of the box.
Reading `<Typography variant="h4">` you expect an `h4`, but reading `<Typography variant="head

[2018-10-10 19:04] novascreen commented on #12741
Fair enough

[2018-10-10 19:05] oliviertassinari commented on #12741
@novascreen Yet, you are definitely right, `variant="h1"` needs to be understood as headling1.

[2018-10-10 19:08] SandyGifford opened #13191 "Incomplete TypeScript Deffs"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Examples on https://material-ui.com should be valid in TypeScript

## Current Behavior

At least some typings are not complete:

[Selects](https://material-ui.com/demos/selects/):

- `FormControl` does

[2018-10-10 19:15] SandyGifford commented on #13191
I should add:  Nothing I've seen is a breaking change, just missing a few typings on new features

[2018-10-10 19:41] oliviertassinari commented on #12741
Here is the mapping we use for the documentation website:
[code]

[2018-10-10 20:46] adberard opened #13194 "Typography v2 Snackbar content"
So wanted to remove the 72 warning I had about my usage of typography being soon deprecated but after switching all here is what I get on the SnackBar component

[code]

And this is when I set SnackBarkContant to `component="span"` or div
[code]

[2018-10-10 21:10] BarnT commented on #10931
There is a convenient way to do so: use [[@.disabled]](https://angular.io/api/animations/trigger#disabling-animations)
However there are some drawbacks:
1: This disabled all the animations inside the panel's content too. In case you want you have to avoid this behavior, you have to set [@.disabled]="false" for the content explicitly.
2: I've seen cases where setting [@.disabled] to true has broken

[2018-10-10 21:33] m-a-r-c-e-l-i-n-o opened #13195 "The "shape" theme object does not seem to be defined in the default theme"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
The "shape" theme object would be defined in the default theme.

## Current Behavior
The "shape" theme object is not defined in the default theme and will throw errors regarding its absence.

## Steps to

[2018-10-10 21:36] oliviertassinari commented on #13195
@m-a-r-c-e-l-i-n-o You can verify that in https://material-ui.com/customization/default-theme/.

[2018-10-10 21:36] #13195 closed

[2018-10-10 21:37] oliviertassinari commented on #13194
It's a duplicate of #13169

[2018-10-10 21:37] #13194 closed

[2018-10-10 22:21] Fi1osof opened #13196 "Typography span variant"
Both defaultHeadlineMapping variants body1 and body2 - p (paragraph) tag. Other variants are block-types too (h1-h6) and no one inline/inline-block.

I can do this by
[code]
or
[code]
But it's not useful.

[2018-10-10 23:02] Fi1osof commented on #13196
UPD: as far as I understand, i can like this:
[code]
Is this best practice?

[2018-10-10 23:42] bluepeter opened #13197 "[Stepper][Step] Multiple simultaneously active Steps within the same Stepper is no longer supported"
Upgrading from 3.1.1. to 3.2.0, we can no longer have multiple simultaneously active Steps within the same Stepper. We accomplished this with multiple `<Step active={true}>` within the same `Stepper` which allows us to create a re-orderable recipe of steps like this:

![screenshot-fluxguard com-2018 10 10-16-57-14](https://user-images.githubusercontent.com/2158187/46772727-47749a80-ccae-11e8-8c28-

[2018-10-10 23:58] bluepeter commented on #13197
Possible a duplicate of https://github.com/mui-org/material-ui/issues/12948

[2018-10-11 00:00] bluepeter commented on #12948
Pre-3.2 we used to accomplish this with `<Step key={id} active={true}>` on each step. As of 3.2, this is no longer possible. In our case, we use the Stepper component perhaps in a somewhat unorthodox fashion. That is, we use it as a means to display a series of steps that the user can re-organize:

![screenshot-fluxguard com-2018 10 10-16-57-14](https://user-images.githubusercontent.com/2158187/46

[2018-10-11 02:11] davalapar commented on #13131
Sounds like #12894, @ASheikhi82 have you solved this?

[2018-10-11 03:03] nikhilem commented on #13197
Duplicate of #13147

It's fixed now, will be available in the next release

[2018-10-11 06:08] #13196 closed

[2018-10-11 06:10] eps1lon commented on #13176
How is the interface for `ChevronRight` defined? We are passing some state related props to the connector and if you pass them through to the dom you will get those warnings.

We should maybe add an interface definition to the docs.

[2018-10-11 06:18] eps1lon commented on #13174
I'm going to look into the Windows mode but I feat this might not be in our power. [High Contrast](https://chrome.google.com/webstore/detail/high-contrast/djcfdncoelnlbldjfhinnjlhdjlikmph?hl=en) extension from google chrome displays them perfectly well:
![high-contrast-mode-checkboxes](https://user-images.githubusercontent.com/12292047/46784322-edb3b500-cd2d-11e8-9042-cea019680dc7.png)

That is th

[2018-10-11 06:32] baoduy opened #13198 "Passing the ID from button to Span If have"
Set the Id or name to the Button however the event.target.id or event.target.name of the click event is empty.

- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

The Id or name should not be empty.

## Current Behavior

The Id or name is empty.

## Ste

[2018-10-11 06:37] JayathmaChathurangani opened #13199 "send Icon on the button does not appear"
My ultimate goal is to create a send button like this
![image](https://user-images.githubusercontent.com/31263300/46784935-afc68900-cd4d-11e8-9f21-d26548a7d209.png)

I followed the documentation [here](https://material-ui.com/demos/buttons/) or referred the Github page [here](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/demos/buttons/IconLabelButtons.js).

But what I get is
![

[2018-10-11 06:50] kishan3 commented on #718
Ah damn! Its confusing with names.  :laughing: @mbrookes One question though: can we use material UI directly into HTMLs with CDN links?

[2018-10-11 06:51] eps1lon commented on #13191
I will fix the missing `variant` prop in `FormControl`.

However we always declared our components as `StatelessComponent | Component`. StatelessComponents can't have a ref attached to them. This only works in this instance because InputLabel is an actual class based Component.

I will ask the team if we consider the component type an implementation detail or part of the public API. But this shoul

[2018-10-11 06:52] anandbkrishnamohan commented on #13174
I also tested the Colour schemes in Windows (which is a separate option) and everything works fine. The issue is with High Contrast Mode in Windows.

[2018-10-11 06:57] eps1lon commented on #13198
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-10-11 06:59] eps1lon commented on #13199
Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-10-11 06:59] #13199 closed

[2018-10-11 07:38] thilinaucsc opened #13201 "button onClick not found"
## Context
I develop a web app using material-UI but there not found button onClick to find how can I use in my code?

link: https://material-ui.com/api/button/

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  | v3.2.0  |
| React        |  16.5.2    |

[2018-10-11 07:49] #13201 closed

[2018-10-11 07:50] oliviertassinari commented on #13201
@thilinaucsc We avoid documenting the native properties. Yes, `onClick` is globally available.

[2018-10-11 07:51] oliviertassinari commented on #13198
@baoduy https://github.com/mui-org/material-ui/issues/10534#issuecomment-370558590

[2018-10-11 07:51] #13198 closed

[2018-10-11 07:56] oliviertassinari commented on #13178
@kiku511 This `width: 100%` style can be added in:
https://github.com/mui-org/material-ui/blob/a34a2a50d830fac64be705f4f7fe46b3c8f4adcb/packages/material-ui/src/CardActionArea/CardActionArea.js#L11-L20
Do you want to give it a try? It would help :)

[2018-10-11 07:56] oliviertassinari commented on #13177
I'm closing for now.

[2018-10-11 07:56] #13177 closed

[2018-10-11 08:08] oliviertassinari commented on #8818
I would like to revisit this issue. @mui-org/core-contributors What do you think of supporting such component? Maybe we can do something very simple. Here is a sample by @simoami:
https://codesandbox.io/s/qkvzlx47x9
![Uploading Capture d’écran 2018-10-11 à 10.08.39.png…]()

[2018-10-11 08:08] oliviertassinari commented on #13176
@bluepeter This is smart, I never thought of using the stepper for building a breadcrumb component #8818. You have to do something like:
[code]

[2018-10-11 08:31] eps1lon commented on #8818
I would rather focus on components that are in the spec and not (fully) implemented.

Concerning Breadcrumbs I think we can create some utility component that joins it's children with a given separator and also use that for Stepper i.e. `Array.prototype.join` for components.

[2018-10-11 08:41] thilinaucsc commented on #13201
Thanks, I found the solution.

[2018-10-11 08:42] elmeerr commented on #13144
@eps1lon still give errors with this example https://material-ui.com/demos/snackbars/#customized-snackbars

example: https://codesandbox.io/s/zxnpvm1k7m

[2018-10-11 08:44] oliviertassinari commented on #13144
It's not released, yet.

[2018-10-11 08:59] mbrookes commented on #13176
Could we add it to the docs as a customization example, which would close #8818?

[2018-10-11 09:01] eps1lon commented on #13144
@elmeerr If you pass SnackbarContent as a child you have to set the props yourself: https://codesandbox.io/s/my0znyjk78 (demo.js#75-78)

[2018-10-11 09:28] mdsadiq commented on #13178
can i give it a try ? @oliviertassinari

[2018-10-11 09:33] elmeerr commented on #13144
@oliviertassinari I was talking about the workaround 😄

@eps1lon Thanks, I've tried to use ContentProps on SnackBar instead of using headlineMapping.

[2018-10-11 09:57] dijonkitchen opened #13202 "[Grid]: Disable setting true on both `container` and `item` prop"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Only let users set `true` for either `container` or `item` on the Grid component.

## Current Behavior

Users see error messages when Grid component is an item but has container properties, but they can

[2018-10-11 10:41] flyingangel commented on #13186
I've already gave you the full file **sample.txt**.
Here is how to use

    <InputZipcode label="Zipcode" value={null} />
    <InputZipcode label="Zipcode" />

This will create the overlap bug. To fix it, value must be force as empty string "" during props injection to Material Core Input

[2018-10-11 10:43] oliviertassinari commented on #13178
@mdsadiq Sure!

[2018-10-11 10:49] mdsadiq commented on #13178
working on it.

[2018-10-11 10:58] oliviertassinari commented on #13202
@dijonkitchen We would have used an enum over two booleans if it wasn't a case supported. See for more details:
https://material-ui.com/layout/grid/#nested-grid

[2018-10-11 10:59] #13202 closed

[2018-10-11 11:09] mogadanez commented on #12853
still  have problem if  modal opens via react-router
https://codesandbox.io/s/ox9ro67yk6

[2018-10-11 11:29] mogadanez opened #13203 "Tooltip not disappear after modal opening via router link"
- [x ] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Tooltip should disappear after modal opening via router link

## Current Behavior

Tooltip stay open and jumps to pages top-left corner.
Nothing can close it, except mouseleave event on the wrapped el

[2018-10-11 11:33] dijonkitchen commented on #13202
@oliviertassinari that example just shows the composability of Grids, not that one Grid component can be both a container and item. Can you clarify when you'd want a Grid to be both?

Example:
[code]

[2018-10-11 11:39] eps1lon commented on #13202
@dijonkitchen Look at the source of the `NestedGrid` component in the linked demo. It combines item and container for rows.

[2018-10-11 11:43] dijonkitchen commented on #13202
Thanks! I missed it because container wasn't next to the item prop.

[2018-10-11 14:15] calebissharp commented on #12639
@eps1lon Is it alright if I work on this?

[2018-10-11 14:37] eps1lon commented on #12639
@calebissharp
That'd be great.

[2018-10-11 14:56] aemc commented on #13088
is this component working for anyone? I copy pasted the exact code and tried to run it in my environment but I get ref error... Material v3.2.0; React 16.5.2

[2018-10-11 15:06] eps1lon commented on #13088
@aemc Please open a separate issue and follow the issue template.

[2018-10-11 15:07] henkvhest opened #13206 "Radio does not show checked state when wrapped in a tooltip"
I tried wrapping a RadioButton with a tooltip because having labels in my app will probably not fit in the UI spacewise. The tooltip appears but the button itself does not show to be appear to be selected when I click on it

- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate

[2018-10-11 15:13] eps1lon commented on #13206
That's most likely a limitation of our current implementation. We already have a discussion in #12921 that addresses this.

[2018-10-11 15:25] aemc opened #13207 "SpeedDial Component not working"
- [ ] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
    Describe what should happen.
    I've copy pasted the code for SpeedDial found at https://material-ui.com/lab/speed-dial/ bottom example

## Current Behavior
    Describe what happens instead of the

[2018-10-11 15:45] eps1lon commented on #13207
It looks like you're not actually using `@material-ui/core@^3.2.0` but a previous version. Opening the example in a codesandbox is working perfectly fine.

[2018-10-11 15:52] aemc commented on #13207
I am using @material-ui/core@^3.2.0 @eps1lon

[2018-10-11 15:56] eps1lon commented on #13207
Please remove your `node_modules` and install your dependencies again. If the error persists please add your lockfile.

[2018-10-11 16:04] aemc commented on #13207
@eps1lon Thanks for your time. I've deleted my node_modules and reinstalled. The same error still occur. By lockfile, are you referring to `yarn.lock` or `package-lock.json` ?

[2018-10-11 16:12] eps1lon commented on #13207
Whichever lockfile you used for install (you should only have one).

[2018-10-11 16:15] aemc commented on #13207
Posted above, thanks.

[2018-10-11 16:19] eps1lon commented on #13207
No idea. It's working with a minimal setup (removed icons because they can freeze codesandbox): https://codesandbox.io/s/pp796ov9w7

Somehow your local module resolution is using an older version of material-ui

[2018-10-11 16:37] aemc commented on #13207
how is that possible... :s

[2018-10-11 17:13] JBBx2016 commented on #13006
Hi - I have looked into this particular case, and it appears that the onClick parameter is not passed along to Button component in SpeedDialAction if device is touch compatible.

This was introduced by the following commit: https://github.com/mui-org/material-ui/commit/3db734f547cd755b01ad3009e4216478491cc335

Below is a screenshot showing that onClick is not passed to Button:
![image](https://use

[2018-10-11 18:05] #13191 closed

[2018-10-11 18:19] JiayuanDeng opened #13210 "[TextField] Helper text should be in error color if both disabled and error are set to true"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

If a TextField has `disabled="true"` and `error="true"`, the helper text should be in error color.

According to [Material Design Spec](https://material.io/design/components/text-fields.html#anatomy):

[2018-10-11 18:23] butchmarshall opened #13211 "FormControlLabel+Checkbox crashes in React 16.3.0"
Try clicking the checkbox: [Demo](https://stackblitz.com/edit/nz4kzg-bymuwf?file=demo.js)

[This works (React 16.5.2)](https://stackblitz.com/edit/nz4kzg-v1k9qr?file=demo.js)

[2018-10-11 18:29] vooralaxmikanth opened #13212 "Tabs : Selector Indicator underline should be equal to string length"
- [ ] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Steps to Reproduce

Link:

1.
2.
3.
4.

## Context

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  | v1.?.?  |
| React        |

[2018-10-11 18:31] vooralaxmikanth commented on #13212
How to customise the Tabs selected tab underline width equal to Tab string length and left and right side padding

[2018-10-11 19:15] oliviertassinari commented on #13211
Could it be a stackblitz bug? https://codesandbox.io/s/ko697n0y7

[2018-10-11 19:15] #13212 closed

[2018-10-11 22:57] henkvhest commented on #13206
As in mentioned in #12921, it seems to be related to the RadioGroup. I was able to get tooltips working with separate radiobuttons for now though

[2018-10-12 01:34] robisson opened #13215 "Test withStyles does not work even though it shows the same result with Jest and Enzyme"
When I have HOC withStyles the tests do not work. I already tried several formats and none worked.

Implementation:
[code]

Test:
[code]
Result

[code]

[2018-10-12 04:08] JackyW83 commented on #13203
Hi Aleksandr,

update your button to
` <Button
            component={Link}
            to="/someurl"
            variant="contained"
            color="primary"
            aria-label="Verify"

            HOVER ON ME, than click
          </Button>`
it will solve your problem.

[2018-10-12 08:40] #13215 closed

[2018-10-12 08:40] oliviertassinari commented on #13215
This topic has already been covered multiple time in order issues.

[2018-10-12 08:42] oliviertassinari commented on #13211
You should probably open an issue on Stackblitz.

[2018-10-12 08:42] #13211 closed

[2018-10-12 09:42] Richtervn commented on #12925
@mediafreakch yeah. I used overrides.

Here is an example how I override MuiGrid spacing={16}

[code]

[2018-10-12 09:51] mediafreakch commented on #12925
@Richtervn Thanks, just to be clear: You use overrides on the theme level?

[2018-10-12 09:58] iamsaksham commented on #1743
@marnusw Can u share how you implemented the `focus()` function on `SelectField`. I'm trying to do the same, i.e implement a focus() function to set focus on SelectField, but had no luck yet.

[2018-10-12 10:01] pleopardi commented on #12034
I'm having the same kind of problem: click on a Select option triggers ClickAwayListener and closes my Collapse, even though Select is a descendatnt of ClickAwayListener (not a direct child though).
I saw the PR fixing the problem but I can't understand how it applies to Select component: I only see disablePortal prop in Modal and Popper components.

[2018-10-12 10:02] pleopardi commented on #12034
I'm having the same kind of problem: click on a Select option triggers ClickAwayListener and closes my Collapse, even though Select is a descendant of ClickAwayListener (not a direct child though).

I saw the PR fixing the problem but I can't understand how it applies to Select component: I only see disablePortal prop in Modal and Popper components.

[2018-10-12 10:18] inerc commented on #8191
Can you give me the format of the input values "children"

[2018-10-12 10:45] pleopardi opened #13216 "ClickAwayListener triggered by descendant Select"
I'm opening this issue because I saw the discussion [here](https://github.com/mui-org/material-ui/issues/12034) but the pull request closing the issue doesn't seem to apply to my case.

I have a `Select` component which is a descendant of a `ClickAwayListener` component. Clicking on one of the `MenuItem`s triggers the callback of `ClickAwayListener`.

I saw the pull request adding `disablePortal`

[2018-10-12 12:55] marnusw commented on #1743
@iamsaksham I'm afraid I haven't worked with material-ui in a year or two now, and certainly not with anything close to the latest version. Reading my initial comment above it seems I never got it working properly either. I'm sorry that I can't be of any help.

[2018-10-12 13:51] iamsaksham commented on #1743
@marnusw  I see. Not a problem, I'll try to figure it out

[2018-10-12 14:20] matthewdordal commented on #13210
I can open a PR to fix this issue.

[2018-10-12 14:48] Schleuse opened #13218 "[TypeScript] Error when using the component-property on Buttons with react-router-dom"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
I'm trying to use React-Router-dom with Buttons. Thankfully material-ui provides a [example ](https://material-ui.com/demos/buttons/#third-party-routing-library) for this exact case in the docs.

The des

[2018-10-12 15:01] A3mercury commented on #10392
I had this issue today and after some searching I found that running these commands fixed it for me:
[code]

[2018-10-12 16:10] Richtervn commented on #12925
@mediafreakch yeah
[code]

[2018-10-12 16:44] eps1lon commented on #13218
That's a current limitation of our type declarations. We would like to make them generic so that the type checker would know what additional props it can accept but we would loose argument type inference for callbacks like `onChange`. See #12697 and #11731.

A working solution would be the second example of the linked section (under "avoid properties collisions").

A word of advice: Try to enable`

[2018-10-12 18:11] CameronAckermanSEL commented on #4793
For those of you hunting for a good slider to use (permanently or in the mean time) we found this library to be really wonderful and easy to work with. https://github.com/sghall/react-compound-slider

[2018-10-12 20:00] TrySound opened #13221 "Migrate from findDOMNode to refs"
React team just finally announced deprecating `findDOMNode`.

https://github.com/facebook/react/pull/13841

Would be good to start providing better refs in each component to get rid from `RootRef`.

Edit @eps1lon: Hijacking OP to document progress.

If we need the DOM node we still use `findDOMNode` but we call it with refs. If the refs are attached to host components you won't get a strict mode w

[2018-10-12 22:04] amysutedja opened #13222 "Long tab names don't wrap in IE11"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Long tab names should wrap in Internet Explorer 11.

## Current Behavior
Long tab names don't wrap.

## Steps to Reproduce
Viewing the Material UI tabs with wrapped fields demo in IE11 immediately shows

[2018-10-12 22:38] oliviertassinari commented on #13221
This is such a big move from React. For a long time, I thought they weren't going to execute on this. From what I understand, the motivation is around simplifying React internal core. This makes sense. Let's see how we can fulfill this new constraint.

[2018-10-12 22:52] eddiemonge commented on #9492
The problem with @oldwin's solution is that I have to include react-jss to use it. I wasn't using that before and it adds to the already bloated dependency list.

[2018-10-13 00:38] DocCaliban opened #13224 "installing material-ui/core causes a webpack failure with create react app"
After installing material-ui/core cause webpack failure with create react app

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Expect that installing material-ui/core would work properly

## Current Behavior
$ react-scripts start

There might be a pro

[2018-10-13 01:03] DocCaliban commented on #13224
I can't reproduce 100%, so I am going to try to get some more details and re-open if nessassary

[2018-10-13 01:03] #13224 closed

[2018-10-13 03:46] Akumar96 commented on #691
How do you go about removing one of the two reacts? or go about debugging the two reacts?

[2018-10-13 07:27] eps1lon commented on #13132
@merwaaan Sounds reasonable. This should be included in `onDragStart` too for symmetry. Feel free to open a PR.

[2018-10-13 09:42] NuruddinBadawi opened #13226 "Drawer anchor wrong position in RTL"
I use Drawer in my app in both direction but in RTL the Drawer still appear in the left side

- [ ] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

   Show The Drawer In right side when the anchor value is `right`

## Current Behavior

  Show The Drawer In

[2018-10-13 09:56] oliviertassinari commented on #13222
@amysutedja Nice catch, you should be able to add `width: 100%` to this style rule in order to solve the problem:
https://github.com/mui-org/material-ui/blob/5c70845cc4d60918c528f3aa58416ed8851a259c/packages/material-ui/src/Tab/Tab.js#L82
Do you want to work on it? :)

*P.S. it seems we are using more divs than needed. We could try to remove some intermediate elements.*

[2018-10-13 10:04] oliviertassinari commented on #13216
@pleopardi
[code]
https://codesandbox.io/s/qv6z7k32nw

[2018-10-13 10:05] #13216 closed

[2018-10-13 10:06] #13207 closed

[2018-10-13 10:06] oliviertassinari commented on #13207
@aemc Let us know if you figure it out :)

[2018-10-13 10:34] brauliodiez commented on #13144
@eps1lon got a 404 on the codesandbox you provided: https://codesandbox.io/s/248j265l5r is it a valid link? thanks

[2018-10-13 10:55] NuruddinBadawi commented on #13226
All my old issues not clear as well, and you request A live example so I re-posted a new one with a live example link to get an answer, not to share search results of my name.

[2018-10-13 11:49] eps1lon commented on #13144
@brauliodiez Sorry I need to manage by sandboxes better. I had to delete everything recently because I reached the free usage limit.

Updated link: https://codesandbox.io/s/zz6wnqklzm (demo.js#71-74)

[2018-10-13 12:57] Philipp91 commented on #13159
Thanks for the hint on SVG icons! Now I just migrated to that.

Feel free to close this bug if the material-ui project does not intend to implement a fix for the font-based icons.

[2018-10-13 13:16] #13159 closed

[2018-10-13 14:01] NuruddinBadawi commented on #13226
thank you, please what the changes you made ?

[2018-10-13 14:06] oliviertassinari commented on #13226
@NuruddinBadawi I'm using withRoot.

[2018-10-13 14:16] vooralaxmikanth commented on #13212
Thanks for Reply,

Can you please suggest me , How to customise the Selector Tab underline as per String length

[2018-10-13 14:29] adeelibr commented on #11658
@oliviertassinari can I work on this?

[2018-10-13 14:39] adeelibr commented on #10831
Can I work on  this?

https://github.com/mui-org/material-ui/blob/118d339113626669817b1ac3fcfc9bd72441124c/packages/material-ui/src/LinearProgress/LinearProgress.js#L81

https://github.com/mui-org/material-ui/blob/118d339113626669817b1ac3fcfc9bd72441124c/packages/material-ui/src/LinearProgress/LinearProgress.js#L86

https://github.com/mui-org/material-ui/blob/118d339113626669817b1ac3fcfc9bd7244112

[2018-10-13 14:56] adeelibr commented on #8999
if `onMouseDown` handler doesn't work, is there a possibility where we can have both, `onClick` & on `onMouseDown` handler.

Where as you say https://github.com/mui-org/material-ui/pull/9009#issuecomment-342283702

where `onClick`. can manage how the focus is handled and `onMouseDown` event calls

https://github.com/mui-org/material-ui/blob/7064086473f255bd48fcfc2987b0353a8c7c7b7c/src/Select/Selec

[2018-10-13 15:31] pography commented on #13222
I can pick this up if that's ok

[2018-10-13 15:49] oliviertassinari commented on #13222
Sure :)

[2018-10-13 18:09] bogdansoare commented on #13179
also having this issue

[2018-10-13 18:10] pography commented on #13222
Got a pull request here. #13230
I've not done one of these before so not sure if it's done right. Looks like it's failed its CI but I think that's expected due to the change.

[2018-10-13 19:08] xaviergonz opened #13231 "Snackbar and newTypography"
While using the snackbar component with a mui theme that uses the new typography I got the following warning in the console
[code]
Note that this warning only appears once (the first time a snackbar is shown)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Be

[2018-10-13 20:08] anshurathee opened #13232 "Passing list prop to material TextField doesn't work"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
[code]

## Current Behavior
    The `list` prop isn't passed.

## Steps to Reproduce
    https://codesandbox.io/s/8l9jv5op89

Link:

1. https://codesandbox.io/s/8l9jv5op89
2.
3.
4.

## Context
    I am t

[2018-10-13 20:13] eps1lon commented on #13232
Have a look at https://material-ui.com/api/text-field/#advanced-configuration.

[2018-10-13 20:13] #13232 closed

[2018-10-13 23:10] #4305 closed

[2018-10-14 02:59] iamhosseindhv opened #13234 "Misleading anchorOrigin.vertical prop value for Snackbars"
Setting `vertical` value of `anchorOrigin` for a snackbar to `center` is not supported, yet documented [here](https://material-ui.com/api/snackbar/#props).

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Snackbar should be centered vertically (if at

[2018-10-14 06:54] shorn opened #13235 "Material-UI Menu does not work with "overflow-y:scroll""
I'm trying to define my page with `style="overflow-y: scroll; height: 100%"` in order to eliminate content-jumping when scrollbars disappear/re-appear (dynamic content,  expansion panels and stuff).

----

If I add the overflow to the `html` tag, material-ui will add its own `overflow:hidden` and `padding-right` styles to the body, which adds redundant padding the left of the `html` scrollbar, whi

[2018-10-14 09:28] bexoss commented on #13027
@oliviertassinari So there's no way to use it now. Right?

[2018-10-14 11:48] mbrookes commented on #13234
Good catch. Do you want to fix it?

[2018-10-14 11:58] iamhosseindhv commented on #13234
Sure. Will make a PR. 👍🏼

[2018-10-14 13:49] jeremy-coleman commented on #13195
https://github.com/jeremy-coleman/mui-fab-demo/blob/master/src/stores/UiStore.ts Has a fix in the theme definition if youre still having a problem

[2018-10-14 14:01] iamhosseindhv commented on #13234
#13238

[2018-10-14 15:06] oliviertassinari commented on #13195
Could it be a TypeScript issue?

[2018-10-14 15:08] oliviertassinari commented on #13235
It's an if rame, we should be able to reproduce it.

[2018-10-14 16:35] nolandg opened #13239 "DialogContentText is using deprecated Typography variant subheading"
https://github.com/mui-org/material-ui/blob/7d6ac7f0335252d66d97e5b812a6b7d93581b833/packages/material-ui/src/DialogContentText/DialogContentText.js#L21

I think this line is supposed to use "subtitle1" rather than "subheading", correct?

[2018-10-14 16:40] eps1lon commented on #13239
Duplicate of #13145

[2018-10-14 16:40] #13239 closed

[2018-10-14 16:55] nolandg commented on #13239
sorry, I kept using "subheading" in my issue search terms. thanks for the good work!

[2018-10-14 18:48] #13222 closed

[2018-10-14 19:24] WebDeg-Brian opened #13241 "Set up jss instance with material-ui doesn't work"
Hi there,
I'm trying to set up my own jss instance using `jssPreset` and a couple of other plugins. `jssPreset` is supposed to have `jss-vendor-prefixer` already. However no prefixers are to be found in my styles.
Code example:
[code]
What have I done wrong? Thanks in advance

[2018-10-14 19:52] oliviertassinari commented on #13241
@WebDeg-Brian The JSS prefix plugin use feature detection to apply the needed variations.

[2018-10-14 19:52] #13241 closed

[2018-10-14 19:54] WebDeg-Brian commented on #13241
@oliviertassinari I don't think so I tested it on IE it doesn't work either

[2018-10-14 19:58] nareshbhatia opened #13242 "Simplify SSR approach to work with Create React App"
The current approach for server-side rendering as illustrated by the [SSR example](https://github.com/mui-org/material-ui/tree/master/examples/ssr) is difficult to implement with popular templates like Create React App. This is primarily due to the differences between the top-level renderers on the server-side vs. the client-side. Is it possible to change this approach to simplify SSR?

- [x] This

[2018-10-14 21:32] eladmotola opened #13243 "add TreeSelect component or support select with hierarchy"
- [ v] This is not a v0.x issue.
- [v ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

like a normal select but with hierarchy

[2018-10-14 21:42] m-a-r-c-e-l-i-n-o commented on #13195
Not sure if there is an actual issue here beyond what I experienced but just wanted to mention that my problem was related to versioning. Seems like the “shape” object is not present in the default theme of one of the older versions, which I had installed, and I was trying to use a component targeted at the new version. Installing the latest version solved my issue.

[2018-10-14 22:51] jimmycarlinco opened #13245 "Failed prop type: "deprecatedVariants" is read-only in Typography"
Just updated to v3.2.1 and am getting the following error in console:
Failed prop type: "deprecatedVariants" is read-only in Typography (created by WithStyles(Typography))

Any ideas?

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Your Environment

| Tech         | V

[2018-10-14 22:53] jimmycarlinco commented on #13245
Failed prop type: "deprecatedVariants" is read-only in Typography (created by WithStyles(Typography)) in WithStyles(Typography) (created by FormControlLabel) in label (created by FormControlLabel) in FormControlLabel (created by WithStyles(FormControlLabel)) in WithStyles(FormControlLabel) (created by CreateTaskBase)

[2018-10-14 23:16] kztmk commented on #13203
I just update to V3.2.1. and I got same issue.

[2018-10-15 01:05] 3rwww1 commented on #12741
Is it just me or is the new kerning really weird ?

I have the Roboto font loaded from CDN with all the necessary weights.

Before:
![image](https://user-images.githubusercontent.com/933579/46924527-04a42100-d026-11e8-9c6d-42f187b35523.png)

After:
![image](https://user-images.githubusercontent.com/933579/46924598-b5aabb80-d026-11e8-8556-f590040c20d7.png)

Before:
![image](https://user-images.gith

[2018-10-15 02:02] nthgol commented on #12948
+1 downgrading package for now

[2018-10-15 02:32] bluepeter commented on #13197
Sorry, my mistake. I see this is fixed. Thank you!

[2018-10-15 02:32] #13197 closed

[2018-10-15 02:53] bluepeter commented on #13245
Also getting this for a seemingly benign use of `Typography`.

[2018-10-15 04:37] biggreenbubble commented on #13245
update typography variant

[2018-10-15 04:38] bluepeter commented on #13245
@biggreenbubble what do you mean?

[2018-10-15 05:36] dandro32 commented on #13245
Too update variants follow this instruction:

https://material-ui.com/style/typography/#migration-to-typography-v2

However I have updated variants and still got this issue.

[2018-10-15 05:44] bluepeter commented on #13245
Likewise.

[2018-10-15 05:56] stefensuhat opened #13246 "Outlined text field on top of bottom nav"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Bottom navigation should top of the Input label outlined

## Current Behavior
Input label outlined is on top of bottom navigation. I think this is just zIndex issue

<img width="824" alt="screen shot 201

[2018-10-15 06:54] KevinGrandon opened #13247 "Browser regression when upgrading from 3.2.0 to 3.2.1"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
You should be able to load material-ui in a browser without setting up a custom webpack configuration.

## Current Behavior
Using material-ui in a browser breaks due to a reference to the `process` varia

[2018-10-15 06:57] KevinGrandon commented on #13242
IMO if SSR is important to you, you are better using a framework geared towards SSR, as create-react-app is not. Next.js or Fusion.js would be a great option. I'm currently working with another collaborator on an implementation of MUI SSR within a single line of code for Fusion.js, using [this plugin](https://github.com/IcculusC/fusion-plugin-material-ui).

[2018-10-15 08:04] eps1lon commented on #12741
The spec added letter-spacing to their variants. You can simply remove this with:
[code]

[2018-10-15 08:14] oliviertassinari commented on #13247
@KevinGrandon I'm assuming you are not using webpack nor Rollup to bundle Material-UI. It should/work find with them. I think that we can use
https://github.com/mui-org/material-ui/blob/63baafc0f3c2d04f41bf07a232399043a930efc1/packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js#L487
instead.
Do you want to update the usage? :)

[2018-10-15 08:18] abhisheksoni27 commented on #9663
I still have this issue. How do I solve it?

[2018-10-15 09:02] aforemny commented on #9131
I have stumbled upon this issue because I was experiencing a similar problem with the `autoFocus` attribute when used inside a Modal. Actually, the root cause of my issue was that I was opening another modal (say Dialog) from a first modal (say Menu), the Dialog having a TextField with the `autoFocus` attribute.

This did not work, as I was opening the second Modal from the MenuItem's `onClick` ha

[2018-10-15 09:03] pietrofxq commented on #9663
@oliviertassinari @abhisheksoni27 This is indeed the correct behavior because it mimics the way controlled and uncontrolled components work in react. As long as there's the warning I don't see any problems with it. To fix it, just make sure that instead of undefined, the component receives false instead (you can use ES6 default values)

[2018-10-15 09:06] eleventy commented on #9663
@abhisheksoni27 until it is permanently fixed, make sure the component never receives an undefined value by using something like !!myValue which turns an undefined to false

[2018-10-15 09:13] wilcoschoneveld commented on #13245
+1

[2018-10-15 09:32] eps1lon commented on #13245
We located the issue and have a potential fix pending for review. Please don't spam this thread with "+1". This just floods notifications for everyone subscribed to this issue. You can use the reactions feature instead.

[2018-10-15 10:57] cherniavskii commented on #13247
@oliviertassinari maybe use

[code]

instead of `!process.browser` for server detection?

[2018-10-15 12:47] karensg opened #13250 "Booleans in Radio groups"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Since 3.2.1 Radio elements can have a boolean value. Great! Have been waiting for this functionality for a while.
Tested it immediately and found some issues:

1. FormControlLabel should support numbers

[2018-10-15 12:54] oliviertassinari commented on #13245
The upstream issue should be fixed with https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types/pull/167. We need to release it now.

[2018-10-15 12:58] oliviertassinari commented on #13247
Ok I think that I was fooled by https://github.com/zeit/next.js/blob/409cf71a4d8296251c07b118e9da43bab98424c0/packages/next/build/webpack.js#L283-L286.

[2018-10-15 13:00] eps1lon commented on #13250
I really think we should not accommodate for weak typing. Sure for you it's obvious that form values are transformed to strings but users might expect their original value in `onChange` if they get no warning. It's the same reason why lint rules for weak equality checks with `==` exist.

If it's converted anyway and you know this now why not just wrap it in `String()` and make `propTypes` happy an

[2018-10-15 13:17] fatih108 opened #13251 "Disable @media queries"
I want to disable media queries. Could you help?

[2018-10-15 13:38] oliviertassinari commented on #13247
We need a regression test this time: #13163.

[2018-10-15 13:49] eps1lon commented on #13247
@KevinGrandon What webpack version/config are you using?

[2018-10-15 15:44] JulianPovedaM commented on #13245
can not solve the problem, the console continues to indicate the following warning:

Warning: Failed prop type: "deprecatedVariants" is read-only....

could you help me please?  #Thanks..

[2018-10-15 15:52] eps1lon commented on #13245
@JulianPovedaM The fix is not released yet. We can't offer a solution other than manually editing your `node_modules`.

One solution could be to clone, build locally and link in your app since the fix in the babel plugin is already released. But please don't ask in this thread how to do this. This is out of scope for this issue.

[2018-10-15 16:04] abhisheksoni27 commented on #9663
Thanks @pietrofxq and @eleventy! I have tried doing that but I get the same result. Here's what I am doing:

1. Render a TableHead. Inside TableBody, give it a `this.state.userInfo` children. This is initially `null`.

2. Inside `componentDidMount`, make a fetch request to the server.

3. When that Promise resolves, map the results array to that `userInfo` key in state returning a TableRow with th

[2018-10-15 17:55] #13247 closed

[2018-10-15 18:28] bogdansoare opened #13253 "[Dialog] Form + scroll in DialogContent"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I know this has been discussed in #12126, but there is still an issue with the scrolling, the title and the actions aren't fixed and they scroll

Here is the codesandbox: https://codesandbox.io/s/qlo16r5v59

Here is the code

[2018-10-15 18:36] oliviertassinari commented on #13243
@eladmotola I"m sorry, this feature is outside of our scope. We focus on the building blocks people are very likely to need.

[2018-10-15 18:36] #13243 closed

[2018-10-15 18:47] #13245 closed

[2018-10-15 19:08] Quantumplation commented on #12524
@murugaratham can you explain a bit more about your fix? We're also seeing this issue, and I'm wondering if your solution will work for us.

[2018-10-15 19:31] oliviertassinari commented on #12948
@bluepeter It was fixed in #13188.

[2018-10-15 19:35] jtreminio commented on #11916
@manpreetnarang instead of

[code]

[2018-10-15 19:39] oliviertassinari commented on #13253
@bogdansoare You can follow this demo too: https://material-ui.com/demos/dialogs/#confirmation-dialogs.

[2018-10-15 19:41] oliviertassinari commented on #13246
@stefensuhat I think that we can apply the same fix as in #13122 to the FormControl component. Do you want to give it a try? :)

[2018-10-15 19:43] oliviertassinari commented on #13242
@nareshbhatia The other CSS-in-JSS styling solutions have a simpler setup than what we have. I agree we have the opportunity to simplify it.

[2018-10-15 19:48] bogdansoare commented on #13253
that example doesn't contain a form as a direct child of `Dialog`

if `DialogTitle`, `DialogContent`, `DialogActions` aren't direct children of the Dialog then the scrolling breaks, isn't this a bug?

[2018-10-15 19:48] oliviertassinari commented on #13250
@karensg The idea behind #13173 was to allow people have the native input do the type casting to a string. We try not to be opinionated around how the native input behaves. Another way to see it, is that we trust React for having picked the best tradeoff. I can easily imagine the behavior you are looking for being rolled out to all React users. Thanks for raising the concern.

[2018-10-15 19:48] #13250 closed

[2018-10-15 19:52] oliviertassinari commented on #13253
@bogdansoare https://codesandbox.io/s/o74xj837y9 Maybe?

[2018-10-15 20:48] drkohlipk commented on #13246
@stefensuhat @oliviertassinari, I would be happy to tackle this if you would like

[2018-10-15 20:54] 3rwww1 commented on #12741
@eps1lon thanks for the tip! Please disregard my comment and sorry for the noise.

Background: I'm aware of the spec change and actually checked out https://material.io/design/typography/the-type-system.html#type-scale before posting. Initially thought you might have misinterpreted the letter-spacing conversion to web units - sorry for doubting you guys :pray:

Then checked with different browsers

[2018-10-15 21:27] eddiemonge commented on #13245
Will this go out in a patch release or in 3.4.0? If it's a patch release, any time frame estimates?

[2018-10-15 21:33] oliviertassinari commented on #13245
1-2 hours.

[2018-10-15 21:40] roballsopp opened #13256 "Support objects with <Select>"
More often than not, I have a list of objects I want to select from, rather than a list of primitive values:
[code]
It would make perfect sense to me to then use this list with `<Select>` like so:
[code]
The `<Select>` component actually seems to handle passing an object into its `value` prop like this just fine, but the typing in both propTypes and flow-typed don't agree. [Here's an example](http

[2018-10-15 22:19] oliviertassinari commented on #13245
v3.2.2 was released, let me know if it's all good :).

[2018-10-15 22:28] remingtonchan commented on #13245
All good on my side too!

[2018-10-15 22:36] bluepeter commented on #13176
Thanks @oliviertassinari your solution fixes this issue for me.

Per @mbrookes note, I think the Stepper works nicely as Breadcrumbs.

![screenshot-localhost-3000-2018 10 15-15-36-16](https://user-images.githubusercontent.com/2158187/46982175-17534000-d090-11e8-904c-81ddcfafc5ca.png)

Closing.

[2018-10-15 23:24] pelotom opened #13257 "Non-button tab labels are now left-aligned by default"
It looks like #13230 broke the default centering of tab labels when overriding with a component which doesn't intrinsically center its content.

Before:

![image](https://user-images.githubusercontent.com/128019/46983665-6e5c1380-d096-11e8-9eb2-158cd243e6e9.png)

After:

![image](https://user-images.githubusercontent.com/128019/46983673-761bb800-d096-11e8-9ccb-15e03f26cb86.png)

Repro: https://cod

[2018-10-16 00:06] designjudo opened #13259 "defaultFontFamily misspelled in createTypography"
Pretty self-explanatory, this is a quick fix!

[2018-10-16 00:11] stefensuhat commented on #13246
@drkohlipk that will be great! :D . I'm in the middle of project so can't PR and test at the moment.

[2018-10-16 00:47] LipePereira commented on #13245
I had 3.2.1 that I installed yesterday, and  got here from a google search to find out that 3.2.2 is out! First time I get to an issue right as it gets fixed! Good Job.

[2018-10-16 04:57] tonywong625 commented on #9200
I know its closed, but did anyone find the solution to this?

[2018-10-16 06:12] bogdansoare commented on #13253
@oliviertassinari thanks for the solution, the only issue is the big spacing between the title and the content
<img width="462" alt="screenshot 2018-10-16 at 09 11 20" src="https://user-images.githubusercontent.com/2750170/46995974-9c3b6980-d123-11e8-930f-15322ff300fe.png">

[2018-10-16 08:47] #13259 closed

[2018-10-16 09:10] MChelik commented on #1594
Guys, I'm using Input:

But I get "**ref** is not defined" error. Should it be **TextField** to work?

[2018-10-16 09:59] robbyemmert commented on #10010
This is why I think the JSS/CSS-Modules solution is way overboard. I understand why you did it, but there are a lot of cases where it adds way more overhead than it is worth. Honestly, I would love to be able to disable it altogether.

This problem is losing me and my clients money as we speak...

[2018-10-16 10:02] jraoult commented on #13245
@oliviertassinari I'm actually confused here. I get the same warning and is spite of the `3.2.2` it still shows:

[code]

 I had a look at the code: here:https://github.com/mui-org/material-ui/blob/b895ee783b13a50d4ab0a92c2ea15c2ff7f1e8ae/packages/material-ui/src/styles/createTypography.js#L38

It seems that calling `createTypography` (called by `createMuiTheme`) will always yield this warning onc

[2018-10-16 10:11] klis87 commented on #10010
My ultimate dream would be to use css-modules with some theming solution like `react-toolbox` did. For modern browsers we could use CSS variables which would allow even nested theme support. Material-ui is my favourite ui framework by far, but nothing can beat css modules re performance and productivity. However, I am glad u picked JSS from css-in-js solutions, but missing css-modules anyway :) I

[2018-10-16 10:12] klis87 commented on #10010
@robbyemmert why dont u like css-modules? :)

[2018-10-16 10:15] eps1lon commented on #13245
@jraoult Please post the warning message.

The warning message in the code you linked will only trigger if the condition is false.

[2018-10-16 12:00] Mati365 opened #13261 "Not guaranteed class order in Grid class names definition"
## Source
https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Grid/Grid.js#L52

## Expected Behavior
inject class name styles to _Map_ or something else with guaranteed key order

## Current Behavior
grid class names are injected info plain object without guaranteed key order

## Context
styles in JSS are placed in `for in` loop:
https://github.com/cssinjs/jss/blob/master/p

[2018-10-16 12:33] robbyemmert commented on #5121
I'm having the same issue with "^3.0.3".
This is a deal breaker for any apps that need to support Asian languages.

[2018-10-16 12:35] eps1lon commented on #13261
Could you  provide a repro where this is an issue?

[2018-10-16 12:38] Mati365 commented on #13261
@eps1lon nope, due to most modern browsers preserve insert order for string keys(for **now**) :)

[2018-10-16 12:54] mogadanez commented on #13203
@JackyW83, better but  still have  one issue
https://codesandbox.io/s/yq902rmmrv

1. hover on button
2. wait for tooltip
3. click on button
4. close modal by clicking outside
5. no popup - OK
6. go to another browser tab.
7. go back to  this sample tab
8 tooltip appears in moment when tab activated, BUG

[2018-10-16 13:03] drkohlipk commented on #13246
👍

[2018-10-16 13:22] brianchirls opened #13262 "Focused Select component shows wrong color in dark theme"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
In a dark theme, the text of the control should be white and stay that way when the control is focused.

## Current Behavior
In Firefox, the text turns black. In Chrome it says white as it should.

![cap

[2018-10-16 13:38] eps1lon commented on #5121
@robbyemmert Could you provide a repro?

Not having any concerning issues with https://codesandbox.io/s/810p6jy069. There is some lag once you are above >4k characters but those are similar for "a" and "漢字"

[2018-10-16 13:49] FalkNisius opened #13263 "TabIndicator in wrong position if scrollbars appears later"
I have some pages where navigation is done with Tabs (centered) and Tab Component. After loading the component, asynchronous data are loaded. The painting of the changed react component, let appears vertical scrollbars and the Tabs are moved left and TabIndicator hold its place, because it is absolute positioned. After resizing the window or a new navigation, the position is correct.

- [x] This i

[2018-10-16 13:51] Studio384 opened #13264 "Outlined text field shows line through label"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
When the TextField or Select renders with input in it, the label is rendered above the input and the line moves away.

## Current Behavior
The label does move up, but the line remains, going through the

[2018-10-16 17:08] amkkelley opened #13265 "Placeholder should show up for a TextField with type "time""
If you set a TextField's type to "time" any placeholder text isn't visible.

One should be able to set placeholder text, at the very least a placeholder time that follows the standard placeholder style instead of being styled like input values.

Currently you can set a default value which acts as input text.

This is helpful in conveying to a user the format of the time field they're being asked t

[2018-10-16 18:14] oliviertassinari commented on #13265
@amkkelley Let us know if you can reproduce that we a native input. We try to be as close as possible to the native inputs. We are documenting the `time` integration in https://material-ui.com/demos/pickers/.

[2018-10-16 18:14] #13265 closed

[2018-10-16 18:16] oliviertassinari commented on #13264
@Studio384 We would love to have a way to consistently reproduce the issue. It's very hard to work on this type of issue without.

[2018-10-16 18:19] oliviertassinari commented on #13263
@FalkNisius I'm closing as a duplicate of #9337.

[2018-10-16 18:19] #13263 closed

[2018-10-16 18:47] Swazimodo opened #13267 "Tabs onChange event does not fire if tab was wrapped"
We are adding badges to tabs if there were any validation errors on that page. I created a component to handle the task but it causes the onChange event to stop firing.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
I would have thought wrapping the

[2018-10-16 18:58] oliviertassinari commented on #13262
@brianchirls What do you think of removing these lines? I have introduced them in https://github.com/mui-org/material-ui/pull/8023/files#diff-8075a6ffd666c2ba31de076f8ea5845cR39. In order to remove the outline:

![capture d ecran 2018-10-16 a 20 54 16](https://user-images.githubusercontent.com/3165635/47040175-ec4b1800-d185-11e8-972b-ab5c79850f0f.png)

However, it's opiniated, it's making override

[2018-10-16 19:05] oliviertassinari commented on #13267
@Swazimodo This topic has been covered multiple times in the past, we have documented the approach under https://material-ui.com/guides/composition/#wrapping-components. In your case, you need to forward the parent properties from the Tabs to the Tab.

We are looking into a better approach in #12921.

[2018-10-16 19:05] #13267 closed

[2018-10-16 19:10] oliviertassinari commented on #13256
It's a duplicate of #10845

[2018-10-16 19:10] #13256 closed

[2018-10-16 19:21] oliviertassinari commented on #10010
@robbyemmert From an architectural point of view, it should be possible to disable it and extract global CSS. But it would require a bit of effort. What's your issue? Have you seen https://material-ui.com/guides/interoperability/ or https://material-ui.com/customization/themes/#customizing-all-instances-of-a-component-type?

@klis87 We are looking into CSS variables support in #12827. We gonna try

[2018-10-16 19:28] oliviertassinari commented on #13253
@bogdansoare There is an ugly hack to solve the spacing issue:
[code]

[2018-10-16 19:29] oliviertassinari commented on #13176
I agree with @mbrookes, I think that we could add a demo about it.

[2018-10-16 19:29] HawiCaesar commented on #13144
@elmeerr Could you share a code sandbox of what you did ? `headlineMapping` does not seem to be working for me

[2018-10-16 19:35] oliviertassinari commented on #13144
@HawiCaesar You can upgrade to v3.2.2 now.

[2018-10-16 19:40] HawiCaesar commented on #13144
I have upgraded to v3.2.2. Here is how mine looks @oliviertassinari

[code]

This is the error on the terminal
[code]

[2018-10-16 19:46] klis87 commented on #10010
@oliviertassinari that's fantastic news, can't wait for this!

[2018-10-16 19:51] eps1lon commented on #13144
@HawiCaesar The error is correct. If you want to provide a headline mapping you have to assign it a `headlineMapping` property in `ContentProps`.

[2018-10-16 20:01] HawiCaesar commented on #13144
Sorry If I seem a bit lost or ignorant @eps1lon,  I am still new to  material ui.

Okay here is an updated version
[code]
This works but I get the error as the title of the issue suggests?
What is the `body1` in this case ? If I do add it I get `'ContentProps' are incompatible` error.

[2018-10-16 20:04] elmeerr commented on #13144
@HawiCaesar the sandbox from @eps1lon => https://codesandbox.io/s/zz6wnqklzm does not work for you?

[2018-10-16 20:11] HawiCaesar commented on #13144
@elmeerr no it does not.

[2018-10-16 20:16] eps1lon commented on #13144
@HawiCaesar Looks like you're still on <3.2.2 since the codesandbox works and uses the latest release. Verify that you have 3.2.2 in your package.json, remove `node_modules` and reinstall.

[2018-10-16 20:21] HawiCaesar commented on #13144
@eps1lon @elmeerr I got it working using this [codesandbox](https://codesandbox.io/s/zz6wnqklzm). I had to play about with it and add some form of abstraction. But it works now with no error. Thanks!

[2018-10-16 20:33] brianchirls commented on #13262
@oliviertassinari What about keeping the `textShadow` override but removing `color`?

[2018-10-16 21:21] oliviertassinari commented on #13262
@brianchirls I doubt it will work.

[2018-10-16 22:02] #13210 closed

[2018-10-16 23:01] rajhans84 opened #13272 "Input with IconButton as Adornment doesn't render correctly in RTL direction"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
When any form or text field with InputAdornment is in RTL direction, then input label should be right aligned and Adornment Icon should not overlap label or text of the input.

## Current Behavior
When a

[2018-10-16 23:27] mheavenor opened #13273 "Add focusVisible class to ToggleButton"
To keep ToggleButton consistent with Button, `focusVisible` should be exposed via the `classes` object. Currently the only properties on `classes` are `root`, `disabled`, `selected`, and `label`. This allows the use of `createMuiTheme` to provide overrides for the ToggleButton.

- [x] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of th

[2018-10-17 02:47] brianchirls commented on #13262
Okay, I think I have a better idea of what's going on here. It's a bit tricky since `:-moz-focusring` is not well documented.

It seems that the outline uses the text color, so this hack makes the text color transparent and makes it visible again by putting a black shadow on the text, but with no blur. So it mimics the look of text that's the original color.

I played around with `currentColor` fo

[2018-10-17 04:53] eps1lon commented on #13273
At one point this should be refactored to use an unstyled `ButtonBase` and other components use that to style depending on the button variant.

[2018-10-17 07:10] Studio384 commented on #13264
The code sandbox does reproduce it most often in Edge 18y. Other browsers appear to be less consistent in reproducing the issue or are only showing it for a short time (Chrome) before updating the view again to move the line away from the label.

[2018-10-17 07:24] eps1lon opened #13274 "Failed prop type: "deprecatedVariants" is read-only"
`
const theme = createMuiTheme({
   typography: {
     useNextVariants: true,
   },
 });
`

in both my client.js and server.js , but still whenever I open my console, I receive this error:

    in Typography (created by WithStyles(Typography))
    in WithStyles(Typography) (at Layout.js:111)
    in div (created by Toolbar)
    in Toolbar (created by WithStyles(Toolbar))
    in WithStyles(Toolbar)

[2018-10-17 07:28] Arrow891 commented on #13274
@eps1lon Already done, but the error still persists

[2018-10-17 07:40] zheeeng commented on #11294
@oliviertassinari

[code]

In TS, `import styles` reports `has no exported member 'styles'.`

And console.log this styles, it is `undefined`.

I'm building custom `Input` component and reuse some styles.

[2018-10-17 07:41] oliviertassinari commented on #13274
@Arrow891 Please provide a reproduction example. You can even use codesandbox for ssr issues like I did hear: https://github.com/facebook/react/issues/13838.

[2018-10-17 07:43] mastertinner commented on #7450
@techniq, thanks for `mui-virtualized-table`! It's great! Is there any chance we could get it merged into `@material-ui/core`?

[2018-10-17 07:44] oliviertassinari commented on #13273
@mheavenor The `focusVisible` classname is only available on the Button component because it's used internally. It's not used by the ToggleButton. Use the `focusVisibleClassName` property instead. It's was introduced for your use case.

[2018-10-17 07:44] #13273 closed

[2018-10-17 07:47] oliviertassinari commented on #13262
@brianchirls I'm all in for seeing the outline, people using Firefox should already be used to having it.

[2018-10-17 07:49] oliviertassinari commented on #13272
@rajhans84 Follow our RTL guide and you will be good: https://material-ui.com/guides/right-to-left/#right-to-left (it's working with the docs).

[2018-10-17 07:49] #13272 closed

[2018-10-17 07:51] eps1lon commented on #7450
I'd be happy if somebody would open a PR that introduces a demo to the docs. This way we could examine if we can improve the table API for better integration with virtualization strategies.

@mastertinner Why do we need to add this to the core? Virtualization is an optimization strategy. Not everybody renders large data sets so I would not burden everybody's bundle with it.

[2018-10-17 07:51] oliviertassinari commented on #7450
@mastertinner We could start by adding it in the documentation, for instance here: https://material-ui.com/demos/tables/#advanced-use-cases :)

[2018-10-17 08:00] eps1lon commented on #13272
@rajhans84  This may be an issue with a browser extension of yours. I'm using LastPass as a password managers which adds its own adornments to inputs and this probably breaks the page layout:

![rtl-textfields-lastpass](https://user-images.githubusercontent.com/12292047/47071154-1edf2a00-d1f3-11e8-8a2f-5520476477d9.png)

Everything is normal in an incognito window.

I don't have the issues you des

[2018-10-17 08:09] eps1lon commented on #13167
You are not following the guide closely. The generic argument for the returntype of `withStyles` has to be a component not the props (changed in #12673).

[2018-10-17 08:14] mastertinner commented on #7450
👍 sounds like a plan

[2018-10-17 08:14] rolandjitsu commented on #13167
@eps1lon is this documented in the official docs? Because what's in [typescript](https://material-ui.com/guides/typescript/) doesn't really work for me. Well, the VSC autocomplete does not pickup on the props that I have declared, but ts-loader seems to not care.

[2018-10-17 08:17] eps1lon commented on #13274
@Arrow891 Please remove your `node_modules`, install again and post (depending on your package manager) `yarn list --pattern @material-ui/core` or `npm ls @material-ui/core`

[2018-10-17 08:37] rolandjitsu commented on #13167
@eps1lon sorry, I know that cannot be reproduced 😄 I tried to replicate what I experienced, in my own project, in the repo I referenced, but with little success 😞

That's why I closed the issue previously, because the small example in that repo worked just fine after I removed the type cast.

I'll give it another try to see what's different between the small example and my project setup and if I c

[2018-10-17 08:40] oliviertassinari commented on #12741
https://betterwebtype.com/rhythm-in-web-typography

[2018-10-17 08:42] Arrow891 commented on #13274
@eps1lon Great! I've done these steps and the error has gone :
`npm cache clean --force`

removed node_modules and then the issue has been fixed when I reinstalled node packages, thanks for your support.

@oliviertassinari If I could do that, many of my problems would be solved, but based on the company's regulations, I am prohibited to use unverified tools, but thank you anyway, I will use this s

[2018-10-17 08:53] rainstormza commented on #13257
https://github.com/mui-org/material-ui/pull/13230

Because of this PR?
width: '100%'

the icon within Tabs still stays on the left.

[2018-10-17 09:43] pushpanjalip commented on #13274
I have solved the issue by upgradiing to @material-ui/core@^3.2.2 and adding
typography: {
            useNextVariants: true
          },
while creating Theme.

[2018-10-17 09:48] #13167 closed

[2018-10-17 10:02] ejnu commented on #7537
we had this problem too. you probably preventing somewere else mouse events... check your code for something like:

[code]

[2018-10-17 12:16] milmaj opened #13276 "TableHeadClassKey is missing in overrides"
TablePaginationClassKey is imported in overrides.d.ts, but is missing in the interface export. Because of this it's currently not possible to override the MuiTableHead. Also MuiTableFooter is missing.

Following line should be inserted.

[code]

[2018-10-17 12:18] #13274 closed

[2018-10-17 13:18] Filson14 opened #13277 "[Grid] Item sizing in column-container shrinks items width."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Using Grid to define column layout, I expect items with sizing props (like xs={4}) to have dynamic height but the width should be constant.

## Current Behavior
Currently, using props like mentioned abov

[2018-10-17 13:51] Bobgy opened #13278 "Slider sometimes doesn't respond to touch events in mobile chrome dev tools"
I tried upgrading `Slider` component from v0 to v1 in lab and found that sometimes it doesn't respond to touch events when I use a chrome browser, open mobile view by dev tools and tried playing around with the slider.
Dragging it definitely works, but simple touches doesn't change value of the slider.

I tried on a real mobile device later, and the issue doesn't show up. So I think it is not a bl

[2018-10-17 13:59] d-gubert opened #13279 "[Checkbox] If rendered with prop checked={false} the checkbox is still uncontrolled"
- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Steps to Reproduce

Link:

1.
2.
3.
4.

## Context

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  | v1.?.?  |
| React        |

[2018-10-17 14:08] eps1lon commented on #13279
Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-10-17 14:08] #13279 closed

[2018-10-17 14:09] techniq commented on #7450
@mastertinner While I still use it (when virtualization is needed), I also use my newer [mui-table](https://github.com/techniq/mui-table) when I don't need a virtualization, and can leverage the dom (using `table`, `tr`, `td`, or css grid for layout, removing the need for explicit column widths, etc) and enables some advanced patterns like multiple `position: sticky` headers (like [this](https://c

[2018-10-17 14:13] brianchirls commented on #13262
@oliviertassinari Agreed. Better than unpredictable behavior.

[2018-10-17 14:33] d-gubert commented on #13279
Yes, I was editting the issue and submitted accidentally before finishing it hahahaha
Anyways, as I was coding the codesandbox I was enlightened and the issue is no longer necessary, thanks!

[2018-10-17 14:42] Abbo44 opened #13281 "[Table] Add colSpan and rowSpan props"
- [x ] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Allows a single table cell to span the width of more than one cell or column.
Allows a single table cell to span the height of more than one cell or row.

## Current Behavior
In the doc, every cells hav

[2018-10-17 14:53] Bobgy commented on #13278
note that, this warning always show up when I touch a Slider, might be related, `[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive.`

[2018-10-17 14:56] pelotom commented on #13257
@rainstormza yes, it's because of that PR, as I noted in the issue description.

[2018-10-17 16:00] mheavenor commented on #13273
@oliviertassinari, maybe I am missing something. I understand that it is possible to use the `focusVisibleClassName` property when I am rendering the component directly. I however am wanting to use `createMuiTheme` with overrides to style every instance of the ToggleButton. Is this not possible?

[2018-10-17 16:03] oliviertassinari commented on #13273
@mheavenor You might have to write a wrapping component for that. If we start doing that for the `ToggleButton` we will have to do it for all the components overriding the ButtonBase to be consistent.

[2018-10-17 16:20] mcabs3 commented on #13218
@Schleuse I temporarily have an _ugly_ component (based on @eps1lon's suggestion that acts as a terrible workaround until all of this gets sorted out...

[code]

[2018-10-17 16:29] mheavenor commented on #13273
@oliviertassinari , thank you for you reply. I was already starting down that road but good to know that that is now the recommended approach!

[2018-10-17 16:37] eps1lon commented on #13218
@mcabs3 Could you ellaborate on why this is "ugly" or "terrible"? The only issue I can see is the `any` int the `NavbarLink` SFC and I think you might be able to replace that with `ButtonProps`.

I will look into this again. We could additionally export generic props and see if those are more widely adopted.

[2018-10-17 16:44] mcabs3 commented on #13218
@eps1lon assigning a props _type_ as `ButtonProps` creacted a ts error with `component={NavbarLink}`.

The main reason I don't like it is the fact I have to have a component definition within another component.

`const NavbarLink: React.SFC<any> = props => <Link to={to} {...props} />;`

Maybe I'm just being picky.

[2018-10-17 17:53] oliviertassinari commented on #7537
@ejnu We should be prevent default invariant. Something might be wrong.

[2018-10-17 17:53] oliviertassinari commented on #7537
@ejnu We should be prevent default invariant. Something might be wrong.

[2018-10-17 18:13] alexplumb opened #13283 "[ButtonBase] Regression in 3.1.2 causes error "Cannot read property 'focusVisible' of null""
For whatever reason, upgrading from 3.1.1 to 3.1.2 causes my app to stop functioning. The full error message that I'm receiving:

TypeError: Cannot read property 'focusVisible' of null
    at getDerivedStateFromProps (ButtonBase.js:353)
    at wi (vendor.js:55)
    at Ni (vendor.js:55)
    at Qi (vendor.js:55)
    at Zi (vendor.js:55)
    at Co (vendor.js:55)
    at Lo (vendor.js:55)
    at la (ve

[2018-10-17 18:14] #13137 closed

[2018-10-17 18:35] eps1lon commented on #13283
You only changed `@material-ui/core`? Please post your usage of the Button component.

[2018-10-17 18:39] oliviertassinari commented on #13281
@Abbo44 It's already supported. We have had multiple time this question in the past: https://github.com/mui-org/material-ui/issues?q=is%3Aissue+colSpan+is%3Aclosed. We could add an example in the documentation. We are using this feature at work:

![capture d ecran 2018-10-17 a 20 38 22](https://user-images.githubusercontent.com/3165635/47108749-b2911480-d24c-11e8-87c4-fcb8997ab9ca.png)

[2018-10-17 18:53] oliviertassinari commented on #13277
@Filson14 From what I understand, you are hitting a limitation of the CSS flexbox model and our abstraction on top of it. The xs, sm, md, lg, md properties focus on the width, not the height.

[2018-10-17 18:57] alexplumb commented on #13283
[code]

[2018-10-17 19:01] alexplumb commented on #13283
I've created a Github repo that shows my stack. The button call is being used in `src/components/_ui/Nav.jsx`. I haven't been able to reproduce it in this repo. I'm not sure what's going wrong with my stack, but I've been able to make it work with that simple check in `ButtonBase.js` that I posted in the issue description.

https://github.com/alexplumb/test-app-material-ui is the repo

[2018-10-17 20:18] bogdansoare commented on #13253
@oliviertassinari thanks for the hack. Haha, yeah it's ugly but it works 🙈

[2018-10-17 20:40] #13257 closed

[2018-10-17 23:04] stephenway commented on #8981
I think it's pretty well addressed at this point. Maybe maintainers can comment on closing it?

[2018-10-17 23:08] jasontrigg0 commented on #12386
Any progress on this?

[2018-10-18 04:43] hackhat opened #13288 "Modal opens but content (the div with `role="document"`) has no inline styles (breaks position) v3.2.2"
JS:

      <Modal open={this.state.open} onClose={this.close}>
        <Root>
          hello
        </Root>
      </Modal>

Html produced:

        <div class="MuiModal-root-1">
            <div class="MuiBackdrop-root-3" aria-hidden="true"
                 style="opacity: 1; will-change: opacity; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;"></div>
            <div role="document

[2018-10-18 04:51] hackhat commented on #13288
ok... I need to add the position myself now. I expected material ui to position my content, but this has changed in this newer version. I used some previous version that worked out of the box just fine.

[2018-10-18 04:51] #13288 closed

[2018-10-18 05:03] hackhat commented on #13288
I should have used Dialog and not Modal. Modal is a basic component used in the Dialog. :) - confusing names

[2018-10-18 07:01] sepehr1313 opened #13289 "Getting error when press enter on a material button in Firefox"
Hi,
I'm facing below error while trying to press Enter button when button is focused rather than clicking on that in **Ubuntu / Firefox version 62.0.3**.

![screenshot from 2018-10-18 10-10-27](https://user-images.githubusercontent.com/6781518/47136451-9333cf00-d2c0-11e8-844d-d9dbc125171f.png)

## Your Environment
Ubuntu
Firefox v62.0.3

| Tech         | Version |
|--------------|---------|
| Mate

[2018-10-18 07:43] oliviertassinari commented on #13281
We don't reference native properties in the API docs section.The list is very long.

[2018-10-18 07:52] oliviertassinari commented on #13289
@sepehr1313 Can you reproduce that with the latest version?

[2018-10-18 08:00] Abbo44 commented on #13281
Oh you implement native table properties element in Table related Components ?! That's great !

[2018-10-18 09:03] scrossan-crown opened #13290 "Update `anchor` prop type to include `null`"
I'm using the new `React.createRef()` and it's default typing is null but the `anchor` prop on `ControlBox` component is `HTMLElement | undefined ` so I'm having to use `this.ref.current || undefined`, which feels wrong.

I'd just like anchor props to also include null then it would work with the new createRef functionality.

[2018-10-18 09:31] oliviertassinari commented on #13290
@scrossan-crown Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

Also, we don't have any `

[2018-10-18 09:31] #13290 closed

[2018-10-18 09:37] scrossan-crown commented on #13290
@oliviertassinari Sorry about that it was a component that wrapped `Popover` to start again. It was my mistake.

[2018-10-18 10:01] valorize commented on #13097
*irony: on* @adnanfajlur you should always create support issues with such a concise description. That ensures that your issue is perfectly addressed 👍

[2018-10-18 10:37] Filson14 commented on #13277
So this is really an expected behaviour? As you can see in the example, setting xs for items in column container results in managed height (because of flex-basis) AND width (because of your max-width). If those properties should focus on the width, why they have influcence on the components height (which in my opinion should be the point of focus in column variant)?

Thanks for quick response tho,

[2018-10-18 10:58] joglr commented on #13264
I'm also experiencing this issue when a OutlinedSelect is mounted with a prefilled value. The label corrects itself after a re-render. I suspect it has something to do with the `labelRef` from the `<InputLabel>` being unavailable at initial render, since it's `offsetWidth` is used to control the width of the gap.

Version: 3.2.2 (latest at writing time)
Browser: Chrome  69.0.3497.100

[2018-10-18 11:49] alexeyMohnatkin commented on #9109
@wcandillon do you plan to support v3?

[2018-10-18 12:10] Floriferous opened #13291 "[Table] incoherent column widths"
I started seeing very weird column widths applied to the Table component. In this example from the docs (https://material-ui.com/demos/tables/#custom-table-pagination-action), the first column is abnormally wide (over 50% of the entire table), without reason.

<img width="1109" alt="screen shot 2018-10-18 at 14 11 41" src="https://user-images.githubusercontent.com/10428082/47153431-e8cba400-d2df-1

[2018-10-18 12:12] rosskevin commented on #9109
@alexeyMohnatkin this has not changed:

Please look at the community efforts if you are interested in flow.

[2018-10-18 13:17] gisonAiP opened #13292 "Multiselect ListItem"
SelectableList don't change background color for selected row , when I use this component for multiselect options.  In short , when value property has array of values , background color is no changeable.
<SelectableList value={keys(this.state.selectedItems)} .......>
How to use multiselect properly ?

[2018-10-18 14:34] 3rwww1 commented on #12741
So, in case someone else also notices this weird font rendering after migrating, this is officially a Firefox kerning issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=1441843

Summary:
- kerning breaks on firefox Linux **and Windows** when the CSS `letter-spacing` property is being used
- wish I could patch things up by adding `font-kerning: normal` (as suggested in @oliviertassinari's link)  t

[2018-10-18 15:01] mdartic opened #13293 "Jest error when testing Slider component from @material-ui/lab"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

When I want to test `Slider` component, I could test it without error in Jest + jsdom environment.

## Current Behavior

I'm testing a `Slider` component with :
* storybook => everything work
* storysho

[2018-10-18 15:06] bperel opened #13294 "[MobileStepper] Way to access a custom slide number by clicking on one of the dots"
I would like to create a stepper similar to the "Mobile with carousel effect" one on the [Steppers demo page](https://material-ui.com/demos/steppers/#mobile-stepper---text-with-carousel-effect), but where clicking on each of the dots would actually make the slide update accordingly.

I didn't find an option to do that in the [API](https://material-ui.com/api/mobile-stepper/), did I miss something

[2018-10-18 15:08] akaxiaok commented on #9511
Great! Happy to help with Chinese.

[2018-10-18 15:08] eps1lon commented on #12741
@3rwww1 We considered removing the letter-spacing entirely because @oliviertassinari had concerns with kerning issues but I'm pretty adamant when it comes to spec compliance by default.

The only difference I can spot is when using `font-kerning: none`. All other values look equal. The bad thing is that I didn't notice it before but now it does look pretty confusing on Firefox if you have longer t

[2018-10-18 15:09] oliviertassinari commented on #9511
@akaxiaok You can follow our effort & help us in https://translate.material-ui.com/project/material-ui-docs.

[2018-10-18 15:12] #13292 closed

[2018-10-18 15:12] logicdefyer commented on #12646
Hi is there an update on this , maybe an alternate way to do this on phone

[2018-10-18 15:14] eps1lon commented on #13293
Fix looks good :+1: . If you we add it conditionally we should also remove it conditionally: https://github.com/mui-org/material-ui/blob/b65070c0a5cfddf4a6bc3d45a865168ba4b8d53e/packages/material-ui-lab/src/Slider/Slider.js#L208-L212

Feel free to open a PR.

[2018-10-18 15:58] hoschi opened #13296 "Safari: withWidth vs CSS breakpoints"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

`withWidth` and CSS breakpoints should trigger at the same time.
![breakpoints-chrome-working](https://user-images.githubusercontent.com/163128/47167648-3dcae280-d2ff-11e8-84e0-d5b28fa9fda7.png)

## Cur