[2021-04-27 14:37] olee commented on #20904
@oliviertassinari would you mind reopening this issue so it still gets tracked for others to actually find it and upvote?

Also @richardprammer, the behavior you get with these two options is not the one we would like to achieve in this issue.

[2021-04-27 14:38] muco-rolle commented on #20012
Hello everyone I've been using Chakra UI but I'm very excited to see Material UI is built on emotion and style props, can we guys use it in production now?

[2021-04-27 14:50] mnajdova commented on #20012
@muco-rolle we are currently in alpha, we aim for v5.0.0-beta.0 in the next coming months.

[2021-04-27 15:39] NawarA commented on #17395
I think the issue being communicated is here is the MUI library is missing components that are called out as "standards" in the Material spec. @mbrookes is feature parity an opportunity for v5?

[2021-04-27 15:55] eps1lon commented on #25165
Should be fixed in `@material-ui/core@4.11.4`

[2021-04-27 15:55] #25165 closed

[2021-04-27 17:43] oliviertassinari commented on #17395
@NawarA Do you have a link to the spec or an visual illustration, I personally don't find this clear.

[2021-04-27 18:28] oliviertassinari commented on #25970
@t49tran You could likely copy the same case and content, e.g.

<img width="344" alt="Screenshot 2021-04-27 at 20 26 36" src="https://user-images.githubusercontent.com/3165635/116293331-0faf9e80-a797-11eb-9794-0bfcf5291f75.png">

- Boolean -> bool
- Function -> func
- String -> string
- Array -> array

[2021-04-27 18:35] oliviertassinari commented on #23041
@enricopolanski Is right, the prop is only available in some use cases. You can dodge the issue with:

[code]

[2021-04-27 18:59] oliviertassinari commented on #20904
@olee The `waiting for 👍` is primarily meant for closed issue. We replace it with "won't fix" or reopen the issue and reove the label once we get a clear picture of the correct next step.

[2021-04-27 19:00] nathanlambert commented on #25925
Using emotion's `css` just for the syntax highlighting, but otherwise importing `experimentalStyled` as per your example:

[code]

[2021-04-27 19:44] oliviertassinari commented on #25629
We have continued the conversation in https://github.com/mui-org/material-ui/pull/25522#discussion_r619344202

[2021-04-27 19:47] idevtech commented on #25975
Suggested changes from @eps1lon fixed documentation example.

[2021-04-27 20:46] vicasas commented on #24405
For some unknown reason, some Backdrop component files were lost post-migration (#24523)

[2021-04-27 21:00] tran-simon commented on #20671
Did you manage to fix the issue @peterbartos @oliviertassinari ? I have a similar problem.

I created a custom a [custom component](https://github.com/tran-simon/material-duration-picker) that I am using in another project.

It uses a material-UI dialog.

When I open it in my project, the theme resets

[2021-04-27 21:03] oliviertassinari commented on #20671
@tran-simon This is unrelated, I'm resolving.

[2021-04-27 21:06] Angelk90 opened #26006 "Color palette blueGrey A100 sample documentation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

@oliviertassinari : Currently in the documentation there are the following colors for blueGrey:

<img width="279" alt="Schermata 2021-04-27 alle 22 54 22" src="https://user-images.git

[2021-04-27 22:01] matvey-neyman opened #26007 "Cursor jumps to the start of input when changing input type"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Cursor jumps to the start of input when changing input type

## Expected Behavior 🤔

Cursor preserves its position when changing input type

## Steps to Reproduce 🕹

Steps:

1. Crea

[2021-04-27 22:03] mnajdova commented on #24405
@vicasas they were moved to the `@material-ui/unstyled` package

[2021-04-27 22:10] nxtexe commented on #18884
Is this still possible? I can't seem to find the property on the event.

[2021-04-27 22:16] oliviertassinari commented on #18884
@nxtexe It's called `event.defaultMuiPrevented` now.

[2021-04-27 22:17] nxtexe commented on #18884
Is there a PR that resolves this? Would be really nice.

[2021-04-27 22:29] oliviertassinari commented on #26006
Interesting:

- The legacy spec: https://material.io/archive/guidelines/style/color.html#color-color-palette
- The new spec: https://material.io/design/color/the-color-system.html#tools-for-picking-colors
- The docs: https://next.material-ui.com/customization/color/#color-palette

So it's a 4 years old decision #6548. Ok, happy to update the demos in the docs. Looks like an easy one:

[code]

[2021-04-27 23:01] oliviertassinari commented on #26007
Weird, it works correctly with CRA https://codesandbox.io/s/naughty-nightingale-8luwv?file=/src/Demo.tsx but fails with Next.js https://codesandbox.io/s/upbeat-ardinghelli-xw8kn?file=/pages/index.js

[2021-04-28 00:39] jqrun opened #26008 "[Docs] Typography is dark text in dark mode"
Noticed this while browsing the docs@next

https://next.material-ui.com/components/paper/

![image](https://user-images.githubusercontent.com/63380043/116329081-78e3e180-a798-11eb-8c09-b8b1b13e1bb5.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2021-04-28 00:43] jqrun commented on #26008
Dug a little deeper and noticed all the Typography components were also rendering dark text in dark mode: https://next.material-ui.com/components/typography/, so I'll update the title of this bug accordingly

[2021-04-28 00:47] harveyconnor commented on #4535
Setting:
`disableClickEventBubbling: true`
in the column def worked for me

[2021-04-28 02:53] ahummel25 commented on #12237
@oliviertassinari I see you add `test` label. Were you able to reproduce? Should this be reopened?

[2021-04-28 04:17] anshuman9999 commented on #26006
Hey, I would like to work on this.

[2021-04-28 04:24] anshuman9999 commented on #26006
Should I make the changes as indicated in the diff above?

[2021-04-28 07:48] mnajdova commented on #26008
We depend on https://github.com/emotion-js/emotion/pull/2334 for this to work. Here is a preview of the docs with that fix https://deploy-preview-25690--material-ui.netlify.app/components/typography/#main-content Looks like it works here. Can you confirm @jqrun?

[2021-04-28 07:59] eps1lon commented on #26007
Likely similar to https://github.com/mui-org/material-ui/issues/23096

[2021-04-28 08:00] NPatel10 commented on #12034
Setting `mouseEvent` property to `'onMouseUp'` in `ClickAwayListener` worked for me.

[2021-04-28 08:01] sajidfrommerqata opened #26010 "Custom comparator based on string for the datagrid"
It's quite clear that how we can create a custom comparator based on the numeric column as shown on this page:

[https://material-ui.com/components/data-grid/sorting/#custom-comparator](https://material-ui.com/components/data-grid/sorting/#custom-comparator).

**Code Example:**
`sortComparator: (v1, v2, param1, param2) => param1.row.age - param2.row.age,`

But can you reproduce this Code Example f

[2021-04-28 08:08] mnajdova commented on #25991
I apologize but I don't really understand the problem. Should the microsites that you mention have different style overrides? Why can't you use the `ThemeProvider` and provide different styles? Do they live side by side? Is the library you've created a union of all variations the component can have on all microsites?

[2021-04-28 08:09] mnajdova commented on #25991
Apologizes for the questions, but I don't have much experience with storybook, so I am likely missing something :)

[2021-04-28 08:26] mnajdova commented on #25996
The `theme` is created correctly, the problem is that, the styles are defined like:

[code]

When no easing is specified we are defaulting to `'cubic-bezier(0.4, 0, 0.2, 1)'`. I'd say the proposed fix should be to always use theme's easing value, that way it would always be applied even if there are changes in the `theme`.

This should fix this specific scenario:

[code]

but we would need to appl

[2021-04-28 09:03] Angelk90 commented on #26006
@oliviertassinari : So which way you go, you will take the same reference value `A100 -> 100` or the subsequent `A100-> 200` as proposed by @peteratticusberg, [here](https://github.com/mui-org/material-ui/pull/6548#issuecomment-292724418).

[2021-04-28 09:06] oliviertassinari commented on #26006
@Angelk90 I don't understand the questions. This seems off-topic.

[2021-04-28 09:07] oliviertassinari commented on #26006
@anshuman9999 This would be a great starting point, yes. They you would need to make sure it's good enough to be merged (maybe there are no other changes required, maybe not).

[2021-04-28 09:10] anshuman9999 commented on #26006
@oliviertassinari Alright, I'll try opening a PR for it. Thank You foe your help!

[2021-04-28 09:18] oliviertassinari commented on #25578
Actually, I forgot about this issue, another duplicate: #12034.

I strongly believe that feedback we have are mainly related to problems that are "reachable" (small and close enough), which structurally exclude important leaps forward that can have a lot more value.

I think that it's only by listening to the low signals, and taking a step back, reasoning from fundamental principles, talking to us

[2021-04-28 09:45] oliviertassinari commented on #26007
I could reproduce the issue with a `<input`, it doesn't seem related to Material-UI.

[2021-04-28 09:47] oliviertassinari commented on #26008
Duplicate of #25458

[2021-04-28 09:47] #26008 closed

[2021-04-28 09:54] oliviertassinari commented on #12237
@ahummel25 We depend on https://github.com/facebook/react/issues/11565

[2021-04-28 10:50] eps1lon commented on #25578
Sure, will let you know when the next issue comes up that wasn't reported.

[2021-04-28 10:51] santochen opened #26012 "Enlarging Icon causing overlapping text"
Hi,

Does anyone have tips for screen responsiveness when using large material-ui icon (basically from laptop down to mobile screen)?

I was planning create a banner by using Grid + Material-ui Icon and messages besides it like shown below but on a much larger size:
![image](https://user-images.githubusercontent.com/11530279/116391925-5dd5a800-a852-11eb-9c03-b2ef7a499ded.png)

When I tried reduce

[2021-04-28 10:51] eps1lon commented on #25578
Still not a bug. This requires significantly more research than just glancing at the issue.

[2021-04-28 11:01] #26012 closed

[2021-04-28 11:03] oliviertassinari commented on #26012
See this implementation example for the Banner https://github.com/mui-org/material-ui/issues/13100#issuecomment-427463834

[2021-04-28 11:28] oliviertassinari commented on #25996
@mnajdova I don't get the same read on the issue as you do. For me, the root of the problem is the the theme.transitions.create doesn't take into account the default value of the theme, instead it's hard coded. I think that the solution is to replicate what the other subpart of the theme are doing. Basically, we have a factory, not a plain definition like

https://github.com/mui-org/material-ui/bl

[2021-04-28 11:46] oliviertassinari commented on #25991
Agree, the issue's description is confusing.

@BiancaArtola what you are looking for has already been covered inside the issue history of the repository and might even recall an answer on StackOverflow too. What you need is described in https://material-ui.com/styles/api/#arguments. You need to use a unique `seed` for each React mounting point. This is a solved problem in Material-UI v4.

For me t

[2021-04-28 11:49] mnajdova commented on #25996
That's a good point. We can create `createTransitions` factory. It could look something like this:

[code]

I've copied the `create` function from `transitions.js` and changed the default `duration` and `easing` to be from the merged values. We can remove the `create` function defined in `transition.js` after this change.

[2021-04-28 12:05] santochen commented on #26012
Thanks @oliviertassinari , but I think that Stack is not available on the current stable release..
If I swap out the grid with stack, it would overlap..

![image](https://user-images.githubusercontent.com/11530279/116400658-e48f8280-a85c-11eb-928b-23b21907c3cf.png)

The result:
![image](https://user-images.githubusercontent.com/11530279/116400715-f113db00-a85c-11eb-92fb-64fdcca2a31e.png)

https://

[2021-04-28 12:11] BiancaArtola commented on #25991
Yes @oliviertassinari, I used the one that you mentioned on each component on Storybook and works.  Thanks

[2021-04-28 12:11] #25991 closed

[2021-04-28 13:25] Angelk90 commented on #26006
@oliviertassinari , @anshuman9999 : you should also check the colors like brown and grey.

[2021-04-28 13:37] Angelk90 opened #26019 "Generator random color from the table of material design palette"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

A function that passing parameters generates random colors.

## Examples 🌈

Link: [codesandbox](https://codesandbox.io/s/nifty-thunder-pn9nj?file=/src/App.js)

<img width="870" alt="Schermata 2021-04-28 alle 15 28 04" src="https://user-images

[2021-04-28 14:23] #26019 closed

[2021-04-28 14:23] oliviertassinari commented on #26019
@Angelk90 This can be build user-land.

[2021-04-28 14:31] Angelk90 commented on #26019
@oliviertassinari :

What do you mean by: This can be built user-land?

I'm talking about the function, which takes care of generating an array of colors not of the visual part that is seen in the image.

[code]

[code]

[2021-04-28 14:52] mab1916 opened #26020 "TypeError: Failed to construct 'URL': Please use the 'new' operator."
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-04-28 16:43] anish-khanna commented on #25923
I'm new but if nobody else is taking a crack it this issue, I can try and get it resolved.

[2021-04-28 17:59] pedrohenriiz commented on #19797
I'm facing almost the same issue as @thundermiracle and @JohnRDOrazio. I'm using the Autocomplete on some forms and with this behaviour, things goes a bit confusing for the users. One of my cases is on phone operators. If the user select an option, removes one letter and press that letter again, all values appears. It would be better if shows only the option that matches with that one that they se

[2021-04-28 18:51] jqrun opened #26027 "[Table] TablePagination broken when using @material-ui/styled-engine-sc"
In the latest alpha 5.0.0-alpha.32, after TablePagination was updated to emotion (https://github.com/mui-org/material-ui/pull/25809), it breaks with some styled-components errors when using styled-engine-sc.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate

[2021-04-28 19:18] oliviertassinari commented on #25919
We might want to wait for Android 12 to officially land before moving forward. It's also related to #20188. What do you think about adding a customization demo in the meantime?

[2021-04-28 19:45] #26006 closed

[2021-04-28 19:49] sjrules opened #26029 "Material UI React tree"
Is there any way to virtualize material react tree .
I have large number of nodes 15- 20 k and I am getting performance issues when all nodes are expanded.

Thanks

[2021-04-28 19:54] sjrules commented on #26029
@oliviertassinari Is there any timeline if this feature would be added to react material tree .

[2021-04-28 20:03] oliviertassinari commented on #26029
Duplicate of #17064

[2021-04-28 20:03] #26029 closed

[2021-04-28 20:21] DanielBretzigheimer commented on #25919
I understand that you don't want to add the component before Android 12 is final.

I will look into creating a customization demo in the next few days. Should I also include the examples from the [picture](https://github.com/mui-org/material-ui/issues/20188#issuecomment-715248898) of the referenced issue?

[2021-04-28 20:41] shibumi-dan commented on #25045
I have a very similar problem and it is driving me crazy. It seems to be related to Chrome and the hardware acceleration too. If I disable hardware acceleration, the flickering stops. Not sure how to explain this to Google to open an issue with Chrome.

[2021-04-28 21:15] anish-khanna commented on #25923
Question about the scope of this, would we also like to extend the functionality to Home/End buttons so that they go to the first/last non-disabled tabs?

[2021-04-28 21:16] NatnaelMekonnen opened #26030 "This demo had a runtime error!"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-04-28 21:17] #26030 closed

[2021-04-28 22:05] oliviertassinari commented on #25923
@anish-khanna I believe the two linked logic handle the case. It would be great.

[2021-04-28 23:21] oliviertassinari commented on #25919
@DanielBretzigheimer This could be great at well, but I don't think that it's required. For instance, for the branding of Material-UI Inc. we plan the following;

<img width="209" alt="Screenshot 2021-04-29 at 01 19 50" src="https://user-images.githubusercontent.com/3165635/116484321-21716e80-a889-11eb-8798-ef97d260c73c.png">
<img width="194" alt="Screenshot 2021-04-29 at 01 19 58" src="https://us

[2021-04-29 00:25] oliviertassinari commented on #26027
I could simplify the reproduction: https://codesandbox.io/s/styled-components-forked-fo7wm. The issue is here:

https://github.com/mui-org/material-ui/blob/2c7d5feea7c0780ea8211de1629d757932895e11/packages/material-ui/src/TablePagination/TablePagination.js#L122

How about the following uniformization?

[code]

---

As a side note, there a lot of issues when displaying the docs pages in styled-comp

[2021-04-29 01:53] TheAussieStew commented on #21745
Having keys like that doesn't work for me. I'm trying to use the custom key breakpoints on the `<Container maxWidth="tablet"/>`.

[2021-04-29 03:24] dohomi commented on #25773
@mnajdova Do you have an idea if I have issues of overriting styles what could be the reason:
[code]
I am using v5.32 and after upgrade from v5.29 => v5.32 the linear progress bar color did not applied and I had to change the overrides. But as I am using this very often I rather like to know the reason behind it. Did something with importing theme changed?

[2021-04-29 03:58] baymax88 opened #26032 "How can I customize the calendar header"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary

I'd like to customize the calendar header as I want.
For example, I'd like to add one more icon button between the prev and next month buttons that makes the user return to today easily.
Also, please let me know how I can add the month select v

[2021-04-29 04:13] dohomi commented on #25773
@oliviertassinari @mnajdova I created a Storybook 6.2 with webpack5 repo to showcase the issue with `stylesOverrides`
https://github.com/dohomi/storyblok-mui-v5-webpack5

[2021-04-29 04:23] anshuman9999 commented on #25996
Hey, can I work on this?

[2021-04-29 05:43] anshuman9999 commented on #25996
@mnajdova  should I add the factory function and remove ``create`` from ``transition.js`` ?

[2021-04-29 06:03] YuhuiRainie commented on #18018
Hi Guys,

I encountered this issue with
`    "@material-ui/core": "3.9.3",
    "@material-ui/icons": "^4.11.2",
    "next": "10.1.3",
    "react": "17.0.2",
    "react-dom": "17.0.2",
    "url-loader": "^4.1.1"
`

I encountered this issue with AppBar in Material UI.
I am using this template: [https://codesandbox.io/s/9wup7](url)
After I delete `
<Typography className={classes.title} variant="h6" n

[2021-04-29 06:20] dohomi commented on #25773
Follow up on this:
to get Storybook styles up and running I had to adjust webpack config and now both overwrite methods work. To get it running with NextJS I am still investigating.

[2021-04-29 06:30] herin0506 commented on #25886
I have updated the link and the added the snapshot.

I am working on creating the a library using storybook with all the material-ui components with few customization in look and feel. And exporting those components to consume it into my main application. So to achieve this we are using HOC approach, being the best option, and also making sure that styling of one component do not affect any other

[2021-04-29 07:08] imransilvake commented on #12779
Still having this issue. any fix?

[2021-04-29 07:12] #25862 closed

[2021-04-29 07:30] dohomi commented on #25773
This issue might exists on the https://github.com/mui-org/material-ui/blob/next/examples/nextjs-with-typescript example as well, because that is basically the same code I applied for the NextJS setup

[2021-04-29 08:20] #24937 closed

[2021-04-29 08:37] dohomi commented on #25773
Ok found the NextJS issue: Make sure that there is no own declaration of `@emotion/cache` inside package.json:
https://github.com/dohomi/storyblok-mui-v5-webpack5/commit/d4af9ee813ce3e415bef6342a6ce3fa5f3865b24#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519L20
It seems that the cache otherwise gets out of sync

[2021-04-29 08:54] eps1lon commented on #25925
Don't we already have transient props in the form of `styleProps`? I would rather get rid of `styleProps` in favor of just using the given props. And then create a dedicatet transient prop with a proper name so that we don't have to introduce special syntax.

I want to avoid special syntax in the form of `$` since JSX itself might want to use that for keys. And it's confusing if you have a backgro

[2021-04-29 09:14] oliviertassinari commented on #12779
It might be related to #23096.

[2021-04-29 09:18] oliviertassinari commented on #25996
We should keep this one, this is unrelated.

[2021-04-29 09:32] haxxmaxx opened #26033 "TablePagination: Rows per page dropdown does not work properly with keyboard navigation when using NVDA in chrome"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behaviour 😯

When using the keyboard to navigate, the dropdown for choosing rows per page does not behave as expected. When opening the dropdown using enter/space, it opens properly and receives

[2021-04-29 09:34] GregdTd commented on #12779
Instead of using ref, I used the `onFocus` to handle the `selectionRange` of the carret.

[code]

[2021-04-29 09:45] imransilvake commented on #12779
I found a solution and it is working fine for me.
[code]

[2021-04-29 09:53] oliviertassinari commented on #26033
@haxxmaxx Please test on v5, v4 is not relevant

[2021-04-29 09:53] anshuman9999 commented on #25996
@oliviertassinari  Alright, I'll start working on this. Thank you for your help!

[2021-04-29 10:17] sandalu95 opened #26034 "[Table] Provide support for delete tooltip shown when prompting user to delete row"
### Description

Eg:

- When clicked edit icon (Tooltips should be "Save" and "Cancel")
- When clicked delete icon (Tooltips should be "Delete" and "Cancel")

### Current Behavior

![Screenshot from 2021-04-29 15-43-32](https://user-images.githubusercontent.com/37533012/116535818-d182be00-a901-11eb-83a9-532073984a7d.png)

### Expected Behavior

![Screenshot from 2021-04-27 22-57-53](https://user-i

[2021-04-29 10:26] oliviertassinari commented on #26034
@sandalu95 Wrong repository

[2021-04-29 10:26] #26034 closed

[2021-04-29 10:37] oliviertassinari commented on #25925
@eps1lon This issue is about how developers can use the styled helper to build their component. It's not about how our core components are implemented. I personally find this `$` prefix an elegant solution, it would make it intuitive for developers that already know styled-components API, nothing new to learn.

Regarding JSX that might use $ for key. Do you have a link to the discussion?

---

Reg

[2021-04-29 10:39] anshuman9999 commented on #25996
@oliviertassinari  Do I also need to create the ``createTransitions.d.ts`` file along with ``createTransitions.js`` for type definitions?

[2021-04-29 10:41] enheit commented on #25578
I have the same issue with `TextField` + `ClickawayListener`. It triggers the `onClickAway` callback right after focusing the input

[2021-04-29 10:50] krv5vignesh opened #26035 "Tree View component is not accessible in Android"
The Tree View component does not work in Android when used with Talkback enabled. When Talkback (screen reader for Android) is enabled, the nodes in the Tree View are not working.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Al

[2021-04-29 10:57] oliviertassinari commented on #25578
@eps1lon I don't follow the link with the previous conversation. I also don't recall we talk about this in the past. It seems that we are not talking about the same subject, which is fine :).

Let's step a step back. There are two different notions, the **product**, and the **tech**.
- At the product level, we focus on determining what's the right behaviors and experience for the users. What produ

[2021-04-29 11:03] oliviertassinari commented on #12034
We have moved the issue to #25578.

#12034 was solved with the support of React portals, but we recently broke it again by moving the click away trigger from *mouseup* to *click*.

[2021-04-29 11:32] eps1lon commented on #25925
I understand what this issue is about. I'm noticing that we already implement transient props internally in `experimentalStyled` so I'm suggesting we reduce the internal API surface to use the same semantics that will also be exposed publicly.

And only these. I'm almost certain the vast majority of our users are unaware of this convention. Therefore ´$` is not intuitive to our users. If we'd want

[2021-04-29 12:58] Lambtsa commented on #7960
That is super nice solution!! If a user is scrolling they are usually not wanting to focus on the input too :)

[2021-04-29 13:30] gupta-piyush19 commented on #26007
@oliviertassinari True, It's more of a javascript issue. The cause of this issue is focus handling when visibility toggler is clicked, it shifts the  focus from input box to toggle icon, in order to save it from shifting focus, a function needs to be run on mouseDown event of icon, like `<Icon onMouseDown = {(e) => e.preventDefault()} />`  similar to input adornments [https://material-ui.com/compo

[2021-04-29 14:40] matvey-neyman commented on #26007
@gupta-piyush19 that's correct, but I already implemented e.preventDefault() as docs suggested

[2021-04-29 15:11] oliviertassinari commented on #25925
@eps1lon Agree, I have added the "waiting for upvotes".

A proof that this workaround is true: https://codesandbox.io/s/styled-components-forked-wu7ol?file=/src/demo.js

[2021-04-29 15:25] romainquellec commented on #16037
Hello @oseisaac !
It works like a charm for CardElement, but not so much with IbanElement. Is there something special about IbanElement?

[2021-04-29 15:33] gupta-piyush19 commented on #26007
on which component have you implemented preventDefault() on the input field or icon?

[2021-04-29 15:42] oliviertassinari commented on #26007
The same bug without Material-UI:

- CRA: https://codesandbox.io/s/silly-elbakyan-udgtk?file=/src/Demo.tsx:0-855
- Next.js: https://codesandbox.io/s/trusting-sun-s2yuj?file=/pages/index.js

[2021-04-29 15:50] oliviertassinari commented on #26035
Could you test https://next.material-ui.com/components/tree-view/ out? The focus is now handled with a `aria-activedescendant` (however, it creates other issues #24480)

[2021-04-29 15:55] #25967 closed

[2021-04-29 15:56] oliviertassinari commented on #26032
It might be where a hook-first API could be very beneficial, allowing to do heavy customizations without the bloat not the overhead of the existing components.

[2021-04-29 16:26] matvey-neyman commented on #26007
on Icon

[2021-04-29 17:18] dborstelmann commented on #24937
Thank you!

[2021-04-29 17:48] soullivaneuh commented on #13875
What is the most proper workaround waiting a stable release for this change?

[2021-04-29 17:54] YoannBuzenet opened #26060 "LoadingButton not in lab and not in core"
Hello !

I try to import LoadingButton but I can't. After checking, I can't find it in my node_modules, in folder lab or core. Am I doing something wrong ?

These are my versions :
[code]

- [X ] The issue is present in the latest release.
- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Thank you for y

[2021-04-29 17:56] oliviertassinari commented on #13875
@soullivaneuh In v4, you need to create a wrapper component to add new variants.

<details>
  <summary>One I built in the past</summary>

[code]

</details>

[2021-04-29 17:59] oliviertassinari commented on #26060
https://github.com/mui-org/material-ui/pull/21389#issuecomment-653070455

[2021-04-29 17:59] #26060 closed

[2021-04-29 18:55] #25996 closed

[2021-04-29 19:14] oliviertassinari commented on #21745
@TheAussieStew Could you open a **new issue** for this case? We have done our best to handle custom breakpoints, but the API is large, we forgot a few.

It seems that we could make it work with:

[code]

[code]

[2021-04-29 19:24] oliviertassinari commented on #25868
Duplicate of #24109

[2021-04-29 19:24] #25868 closed

[2021-04-30 00:27] mustafa-hanif commented on #19357
The documentation convey this very badly

[2021-04-30 01:06] PRossetti commented on #21377
I was able to make it work by doing a pristine install like this:

1. Updated my vite version in my `package.json` to be `"vite": "2.2.3"`
2. `rm -rf node_modules && rm package-lock.json && npm cache clear --force && npm i`

My `vite.config.js` file:
[code]

My `tsconfig.json file`:
[code]

Please let me know if it helps anybody!
Regards!

[2021-04-30 05:47] Bluefitdev commented on #25578
Sorry but there are plenty of issues affected by this that includes mui-org/material-ui-x#1439 and mui-org/material-ui-x#1314. How can you say that is not a bug? This even affects your paid product

[2021-04-30 06:40] haxxmaxx commented on #26033
Thanks for the quick respons! Same problem on v5.

[2021-04-30 08:19] haxxmaxx commented on #26033
I just noticed that it works on the https://next.material-ui.com/components/tables/#custom-pagination-actions example, because of using the native dropdown.

[2021-04-30 09:01] oliviertassinari commented on #19357
Duplicate of #13448

[2021-04-30 09:39] oliviertassinari commented on #26033
@haxxmaxx Thanks. It looks like we have quite many issues: https://github.com/mui-org/material-ui/issues?q=is%3Aopen+label%3A%22component%3A+Select%22+label%3Aaccessibility.

[2021-04-30 09:43] krv5vignesh commented on #26035
@oliviertassinari  Unfortunately that did not fix the issue. I am getting the same issues I originally reported.

While testing this on two different devices I observed the following:

Device 1 - Android version 7.0

- I am able to expand a tree node, select a child node without any issue.
- Only issue is I am NOT able to collapse an already expanded node.

Device 2 - Android version 10

- All the

[2021-04-30 09:53] AntonOnyshch opened #26067 "Css compatibility hints in Microsoft Edge browser"
The new Microsoft Edge shows me compatibility hints with your css styles.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

**1. 'user-select' is not supported by Edge, Firefox Android, Opera, Safari, iOS Safari. Add '-webkit-user-s

[2021-04-30 10:28] oliviertassinari commented on #26067
@AntonOnyshch Thanks for the information

[2021-04-30 10:28] #26067 closed

[2021-04-30 10:36] pete0959 commented on #16868
Doesnt work for me - wrapped the Tab in a span - but the tooltip stays on

[2021-04-30 11:00] alainib opened #26069 "[Timeline] Timeline with align="alternate" to be more "compact""
I'm using Timeline with `alternate` to display items with a title, description and often picture.
So basically each item have various height, from 50px to 400px (for example). with current render it create a lot of empty space because each `TimelineItem` take the full screen width even when it is display alternatly on left / right.

Actual render :

<img width="1000" alt="Capture d’écran 2021-04-

[2021-04-30 11:03] alainib commented on #26069
(fill free to change the title, i don't know the good term for this sorry)

[2021-04-30 12:00] kelly-tock commented on #16374
tracing down this same issue, just happening for a customization of `Button`.

This worked for me, but can confirm that it increased bundle size, for me it was 100kb increase as reported by next.js cli, so kind of a non starter.

I then was experimenting with the suggestion in the FAQ on the material ui site, by making sure to wrap with a `StylesProvider` as mentioned here:

https://material-ui.co

[2021-04-30 12:33] Surm4 opened #26070 "The event reasons should be exported from the mui"
Hi, I think the event reasons should be exported from the mui.
e.g. the `Dialog` (https://material-ui.com/api/dialog/) has the `onClose` prop where developer can pass a function which handles the event or reason. In this case I don't want to close a dialog if it was caused by backdrop click so I have to do something like this.
[code]
and I think the `backdropClick` string is vulnerable to mui upda

[2021-04-30 13:02] oliviertassinari commented on #26070
This is not specific to the Modal/Dialog the Autocomplete also uses this pattern. Notes:

1. The breaking change detection feature is already available to TypeScript users. No need to for adding consts:

<img width="640" alt="Screenshot 2021-04-30 at 14 51 43" src="https://user-images.githubusercontent.com/3165635/116697583-a95b9380-a9c3-11eb-856e-758fcc7b1f4e.png">

https://codesandbox.io/s/combo

[2021-04-30 13:32] haxxmaxx commented on #26033
Ah I see. I noticed that space isn't working to confirm as well, mentioned in one of those bugs. We might actually consider using the native one

[2021-04-30 13:52] oliviertassinari commented on #26033
@haxxmaxx Interesting, @eps1lon worked on this in #18754.

[2021-04-30 13:56] oliviertassinari commented on #19946
Same on Firefox 88 (macOS)

[2021-04-30 13:56] #19946 closed

[2021-04-30 14:18] oliviertassinari commented on #25578
@Bluefitdev mui-org/material-ui-x#1439 is unrelated to this issue.

[2021-04-30 15:21] #19861 closed

[2021-04-30 15:35] wickedrahul opened #26072 "In the latest version 4.0.0-alpha.58, LoadingButton is missing?"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-04-30 17:24] oliviertassinari commented on #26072
@wickedrahul It's the second time I see this request this week (#26060). Where did you find mention of this?

[2021-04-30 17:24] oliviertassinari commented on #26060
@YoannBuzenet It's the second time I see this request this week (#26072). Where did you find mention of this?

[2021-04-30 18:01] gguilherme42 commented on #18494
Well, apparently  if you put a _defaultValue_ like "" into <Select />, it solves the warning.

[2021-04-30 18:04] #25923 closed

[2021-04-30 18:33] YoannBuzenet commented on #26060
Hello,

I can't find it on https://material-ui.com/.

I wonder if I went to next.material-ui without noticing it ? I googled "material ui loading button", which leads to the v5 documentation, and as the design is the same, I didn't check the URL. Maybe put a disclaimer or something on the V5 website ?

[2021-04-30 18:51] oliviertassinari commented on #26060
OK thanks, strange, v5 is supposed to be no-index.

[2021-04-30 21:36] kelly-tock commented on #16374
update, I was able to fix this. in my wrappers for mui, I was importing in a few places in the style of destructuring from `@material-ui/core`, so example of

[code]

I then had a component that was in my wrapper, that was outside of the wrapper directory. I changed the button wrapper to do direct imports instead:

[code]

and things started working again. lesson learned, for wrappers in my case,

[2021-04-30 23:51] navalex opened #26076 "Select should blur onClose"
Hey,

I'm using a really basic <Select /> component, and realized that when I close the select menu by clicking outside, the input keep focused.

I tried to create a ref on inputRef and do `inputRef.current.blur()` but it throw an error `blur is not a function`.
Is there any way to fix that behaviour ?

Thanks,
Navalex

[2021-05-01 05:08] Roy-Kid opened #26078 "[vite] Uncaught ReferenceError: useForkRef_default is not defined"
- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I want to add an accordion. I try simpleDrawer in the example, but one error raises:
![image](https://user-images.githubusercontent.com/42854324/116771398-a02efd00-aa7d-11eb-8014-b6

[2021-05-01 06:52] david-iccube opened #26079 "[Material-UI v5 alpha 32] experimentalStyled missing styleProps in typescript definition"
Trying to create my own component using experimentalStyled mimicking Autocomplete in typescript I got a compile error on styleProps property

[code]
Property 'styleProps' does not exist on type   ...

In Sandbox a simplified example https://codesandbox.io/s/interesting-babbage-zyrpz?file=/src/Demo.tsx:658-757

[2021-05-01 08:29] #26076 closed

[2021-05-01 09:20] aliscie opened #26080 "j"

[2021-05-01 09:24] #26080 closed

[2021-05-01 09:54] mnajdova commented on #26079
Thanks for the report, was fixed in https://github.com/mui-org/material-ui/pull/25928, will be available in the next release.

[2021-05-01 09:55] oliviertassinari commented on #26078
@Roy-Kid Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-05-01 10:00] oliviertassinari commented on #26079
Could it be seen as a duplicate of #24862?

[2021-05-01 10:07] mnajdova commented on #26079
Yeah, makes sense. 👍

[2021-05-01 12:22] Roy-Kid commented on #26078
@oliviertassinari Thanks for your help!

I use vite(with react template) to generate the project and use its own dev server.

Here is the main.jsx code:

[code]

and the `<SimpleAccordion/>` is directly copied from official code:

[code]

and then run the `npm run dev`, in the chrome debug panel the error raise.
This the repo that the error raise. I am so sorry that I have no experiment to fronten

[2021-05-01 13:00] oliviertassinari commented on #26078
It looks like an issue with vite. Did you try using Material-UI v5 as well?

[2021-05-01 14:01] linonetwo commented on #25756
On my side, `import StyledEngineProvider from '@material-ui/core/StyledEngineProvider'` errors too, I upgrade from `@material-ui/core": "^5.0.0-alpha.27` to `@material-ui/core": "^5.0.0-alpha.32` today.

[2021-05-01 14:15] Roy-Kid commented on #26078
I'm going to a meeting. After I'll try create-react-app and v5 when I get back. Thanks for your kindly help!

[2021-05-01 21:25] andfk commented on #24282
I did a few changes but with your base as start and got it finally working! Thanks

Tested with packages:
[code]

[code]

[2021-05-02 01:34] MrBirb commented on #21911
Oh man this looks sick!

[2021-05-02 02:08] Absleepy commented on #9313
this doesn't work when you type something.

[2021-05-02 06:27] david-iccube commented on #26079
Thanks for the quick turnaround, I see I'm not the only one working on week-ends, guys really no need.

From a documentation side a bit around this experimentalStyle function would be welcomed as an example on how to create a composed component like an MUI one from scratch.

my one cent

[2021-05-02 10:37] oliviertassinari opened #26091 "[docs] Automatically generate the documentation for the exported modules"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-x/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The data grid is not like the other core components. It has a very large API surface, with many modules and types (not only components).

## The problem 🔦

The documentation is critical to the success of the product. This issue is an extens

[2021-05-02 10:37] oliviertassinari commented on #25970
@t49tran We could argue that it's off-topic to this issue (#25970) as the main pain seems to be about the inconsistency. However, we have started to work on this very problem with @m4theushw, see https://github.com/mui-org/material-ui/issues/26091.

[2021-05-02 11:25] SangeetAgarwal commented on #14948
here's what finally worked for me... none of the approaches elaborated above helped
[code]

[2021-05-02 13:44] DanielBretzigheimer commented on #25919
@oliviertassinari I have created two new customization examples. It was not as complex as I thought.

The code can be seen here: https://github.com/DanielBretzigheimer/material-ui/commit/9809262a9ac87d110e4621d19206292f39e19b3f

![image](https://user-images.githubusercontent.com/23380519/116815140-7ac4f080-ab5c-11eb-9cb7-bd7e41648b99.png)

Do you want these examples in the live version, even thoug

[2021-05-02 14:20] KeitelDOG commented on #23831
From now on, I test Material UI Icons with the Icon Component directly, not with name anymore, like:

[code]

[2021-05-02 15:05] oliviertassinari commented on #25919
@DanielBretzigheimer It looks great, I think that we can update the demos indeed :+1:.

Are you saying that #20188 can be closed by saying using `:before` and `:after`?

[2021-05-02 15:13] DanielBretzigheimer commented on #25919
Okay, I will create a PR later today.

#20118 can clearly be solved by `:before` and `:after`, so yes, the ticket may be closed

[2021-05-02 16:46] juliomoreira commented on #26007
I found a workaround to this problem by calling `preventDefault()` on the `onMouseUp` event as well.

https://codesandbox.io/s/admiring-bash-htted?file=/pages/index.js

I wasn't able to track down this bug but I don't think it's React fault since it works properly on CRA.

Hope it helps

[2021-05-02 18:51] oliviertassinari commented on #25756
It's the same bug as #26027.

[code]

[2021-05-02 18:59] oliviertassinari commented on #26069
@alainib Thanks for the proposal, however, the timeline is meant to stay simple.

[2021-05-02 18:59] #26069 closed

[2021-05-02 19:14] alainib commented on #26069
Too bad :(
Thanks any way for all the good work

[2021-05-02 19:16] mnajdova commented on #26027
The notification must have slipped. I like the unification 👍 agree maybe we should not use the styled around the MenuItem, we could add the overrides on the root, using a class selector.

[2021-05-02 19:18] mnajdova commented on #25756
TIL, thanks @oliviertassinari for the clarification. Agree for the warning 👍

[2021-05-03 00:38] t49tran commented on #24475
Hi @oliviertassinari, I think for this issue, what we  to  is adding a section for Jss / React-Jss integration to https://next.material-ui.com/guides/interoperability/ ?

Can you please let me know if it's what you plan for ?

[2021-05-03 01:11] exaucae commented on #12237
I  experience  same issue when using mui Dialog. [Here's the related sandbox](https://codesandbox.io/s/react-portal-test-xi6ld).

[2021-05-03 01:14] exaucae commented on #9243
I  experience  same issue when using mui Dialog and react-test-renderer. [Here's the related sandbox](https://codesandbox.io/s/react-portal-test-xi6ld).

[2021-05-03 05:10] #25970 closed

[2021-05-03 08:39] oliviertassinari commented on #24475
@t49tran I guess we can add a demo with `react-jss` and `@material-ui/styles`.

[2021-05-03 10:07] Paul6552 opened #26099 "[v4] KeyboardDatePickers returning different time on keyboard input and touch click"
KeyboardDatePickers is returning a different time when you do it via keyboard or with touch click.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hours, minutes and seconds are different if I am typing the date with the keyboar

[2021-05-03 10:18] #26099 closed

[2021-05-03 11:59] oliviertassinari commented on #25852
I had a look at the theme conflicts, I couldn't see any, so a deep merge between the two seems enough. https://codesandbox.io/s/musing-nightingale-7hnd9?file=/src/App.js

[code]

[2021-05-03 13:59] Lagicrus opened #26102 "[Avatar] Allow to support swapping format"
Currently with Avatar, if you need a different format you are either changing the `src` supplied manually, or redoing the children entirely as seen here.

[code]

Which results in the user needing to pass in more props and do additional works to achieve the same end result.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/

[2021-05-03 14:48] VGamezz19 opened #26103 "Tooltip style on TablePagination next/prev button hover"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Hey there, im wondering is it could be possible to customize the prev/next tooltip it shows when you hover the TablePagination action buttons.

![img](https://i.ibb.co/vVm9yVC/tooltip.png)

i been searching some examples, but probably i have

[2021-05-03 14:53] oliviertassinari commented on #26103
https://github.com/mui-org/material-ui/issues/20991

[2021-05-03 15:02] oliviertassinari commented on #26102
@Lagicrus I personally don't see how the current API with picture is wrong. It seems composable, it looks great and simple to abstract for one's specific image infrastructure.

[2021-05-03 15:24] mak-elena opened #26104 "[DateTimePicker] How to close from a custom toobar?"
Hi guys,

I'm using the DateTimePicker component  with a custom  toolbar

It works quite well so far.

But what I cannot figure out is **how to close the picker form the custom toolbar**.

**ToolbarComponentProps** does not expose any proper method.
Is there other way to implement it?
Do you have any idea?

Environment:
 "@material-ui/core": "^5.0.0-alpha.31",
 "@material-ui/lab": "^5.0.0-alpha.31

[2021-05-03 15:34] VGamezz19 commented on #26103
then closing, ty for ur time

[2021-05-03 15:34] #26103 closed

[2021-05-03 16:28] breno-sapucaia opened #26105 "Lost styles in build migrating from v4 to v5.0.0-alpha.32"
On build all global themes inside the header <link style data-emotion> are empty and my app stays unstyled

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
https://app.edecoracao.com/

## Expected Behavior 🤔
styled app

## Context

[2021-05-03 16:32] breno-sapucaia commented on #26105
![image](https://user-images.githubusercontent.com/47859444/116904196-c8506480-ac13-11eb-811d-5546558828fa.png)
in yellow you can see data-emotion empty, when i use yarn start, the app render in <head> a lot of tag style with content with emotion, but when i run yarn build the application stays unstyled.

in orange you can see my v4 style customization using makeStyles()

[2021-05-03 16:32] breno-sapucaia commented on #26105
I already try use the StyleEngine injection first, but stays the same on build

[2021-05-03 16:36] mnajdova commented on #26105
@breno-sapucaia using the `StyledEngineProvider` is one step in the right direction if you are using JSS for customization https://next.material-ui.com/guides/interoperability/#css-injection-order Could you provide a simpler reproduction on what is wrong? Codesandbox example or simplified GitHub repo should be enough for us to debug. Without that, I am afraid we cannot do much. It's not clear whet

[2021-05-03 16:44] breno-sapucaia commented on #26105
i opened the visibility of the repos to public, in order to reproduce switch to the branch `feature/listagem-collapse-table` and run yarn then yarn prod, i have serve installed as dev dependecy just to analyze the bug without need a ci/cd implementation

[2021-05-03 16:57] mnajdova commented on #26105
From intial scanning, I could spot that the import for the ThemeProvider should be changed:
[code]

[2021-05-03 17:18] peppermint-juli opened #26106 "XGrid is re rendering every second or so"
Hey everyone!
My eng team and I are trying to manage the app state `on visibility change`, meaning when a column is hidden or shown we need to call a method that saves this state. First of all there isn't even a native method to the XGrid that allows developers to manage this, so this might be a separate issue in the near future, but for now we found a way around it and tried using `onStateChange`

[2021-05-03 18:31] eps1lon commented on #25852
To be clear: We need to investigate how we can use a separate context. Affecting existing context is quite problematics.

[2021-05-03 18:55] tylerjlawson opened #26108 "Confusing default appear prop on Slide API"
Hi, I just spent quite a while attempting to figure out why the animation from `<Slide />` was occurring on initial page load. It mentions [in the docs](https://material-ui.com/api/slide/) that it inherits from the `Transition` props, so when I followed [that link](https://reactcommunity.org/react-transition-group/transition#Transition-props) I saw the `appear` prop, which controls this behavior.

[2021-05-03 18:57] Lagicrus commented on #26102
I can see how it is easy enough to just replace the child, as I did in my example, with the picture => source combo.
But as we have so many possible formats that an image can be (and devices that can(not) support), with the upcoming AVIF being a nice example, it might be something to see if adding this picture/source dance into MUI itself might be worth it.

As currently, instead of just passing i

[2021-05-03 19:01] tarun1992 opened #26109 "Nextjs SSR - View page Source in browser displays all material UI CSS in style tag"
I am using next.js+material ui+react to build an application. I have checked material UI example on how to do server-side rending using material UI. I am not sure if this is a bug or how it works but when I do a view page source of my application it displays all of the material UI code in style tag thus increasing the size of the page.

I am using code as per the example provided by material UI -

[2021-05-03 19:39] oliviertassinari commented on #26102
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure enough people are looking for such capability. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2021-05-03 19:39] #26102 closed

[2021-05-03 19:41] oliviertassinari commented on #25852
@eps1lon As far as I know, we can't, we use the same context so the styled() API can use the built-in theme.

[2021-05-03 19:45] oliviertassinari commented on #26103
@VGamezz19 Note that you can provide use the action slot to provide your own buttons: https://material-ui.com/components/tables/#custom-pagination-actions.

[2021-05-03 20:01] chadlavi-casebook opened #26110 "internally used breakpoint media queries and theme.breakpoints.(up|down|only) methods are not specific enough. This breaks print styles."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Media queries used in Material-UI are hostile to print styles, because they are not scoped to a specific media type. All media queries seem to be bare, defaulting to the same behavior

[2021-05-03 20:31] oliviertassinari commented on #26109
@tarun1992 This is expected, it's required for the first paint.

[2021-05-03 20:31] #26109 closed

[2021-05-03 20:37] oliviertassinari commented on #26108
Thanks for the feedback, already fixed in v5: https://next.material-ui.com/api/slide/

[2021-05-03 20:37] #26108 closed

[2021-05-03 21:25] ehernandez-vi commented on #12384
hey, @amit-metkar how did you solve the issue regarding the large data? what @oliviertassinari refers to virtualize?
I've seen libraries like react window that renders thousands of records without being laggy. It would be great that the autocomplete have an inner logic to render the records dynamically based on a number passed by the user

thanks in advance.

[2021-05-03 22:24] oliviertassinari commented on #12384
@ehernandez-vi Check the demo in the documentation. A bit related to #25417.

[2021-05-03 22:30] ehernandez-vi commented on #12384
thank for the quick response  @oliviertassinari :) , I already found an example on the docs regarding the virtualization, I'll try that first I think it should work on my side.

https://material-ui.com/components/autocomplete/#virtualization

thank you so much

[2021-05-03 22:35] mhmdjaw commented on #22426
I've been using material-ui for the last few months and I LOVE IT! This is a web app I made for fun.

- Product: PC Hunt.
- The problem solved: a shopping app for computer parts and hardware.
- Link: https://pchunt.co
- GitHub link: https://github.com/mhmdjaw/pc-hunt
- Screenshot:
![pchunt](https://user-images.githubusercontent.com/51805651/116941759-54778180-ac3e-11eb-8739-95dbab361305.png)

[2021-05-03 23:40] oliviertassinari opened #26112 "[docs] Change Algolia search implementation"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Redo the integration with Algolia's API.

## Examples 🌈

<img width="691" alt="Screenshot 2021-05-04 at 01 33 05" src="https://user-images.githubusercontent.com/3165635/116945735-b3f28300-ac78-11eb-82ee-1c05170e49ab.png">

https://popper.js.o

[2021-05-04 00:02] oliviertassinari commented on #26110
Duplicate of #15969

[2021-05-04 00:02] #26110 closed

[2021-05-04 00:05] oliviertassinari commented on #26110
Please have a look at the discussion there. One aspect I didn't grab is, let's say we make the change you proposed, how will you go about getting the right layout for your printed page? Do you have an example?

[2021-05-04 02:53] siriwatknp opened #26114 "[Typescript] Form components missing `standard` key type in `classes`"
My goal is to style the TextField and related form components only for `standard` variant. The logic works fine except the type error when I tried to specify `standard` key to some component in theme.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## C

[2021-05-04 07:10] eps1lon commented on #25852
These are all descriptive facts about the current state. This isn't helpful unless you think the current implementation is perfect.

What we're interested in is better behavior. And the current behavior is not ok and goes against one of the initial goals that we were explicitly concerned with styled-components.

[2021-05-04 08:14] fossegrim opened #26117 "Random "An unexpected error has occurred" errors when browsing material-ui.com"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When i browse material-ui.com i get error "An unexpected error has occurred".

## Expected Behavior 🤔

When i browse material-ui.com i don't get error "An unexpected error has occurre

[2021-05-04 08:24] eps1lon commented on #26117
Thanks for the report.

Do you remember on what pages this happened?

Event if you can't reproduce it, including the steps that caused a crash might help.

[2021-05-04 08:32] fossegrim commented on #26117
I will make a more comprehensive report when i get home, if i can reproduce it then. I got a lot of exceptions in console too, but i didn't closed the page.

[2021-05-04 09:04] mayuriih opened #26122 "Textfield with type number updown arrow is not working in Mozila"
Up-down arrow stop working in mozila accidentally.

[2021-05-04 09:06] #26122 closed

[2021-05-04 09:43] oliviertassinari commented on #25852
Correct. What could help is to detail the current tradeoff.

In which way does the current tradeoff yields a better outcome than the alternatives that would allow to isolate the Material-UI theme context and the style engine theme context?

Pros:

- allows developers to use a single theme provider, reduce boilerplate and source for mistakes as soon as they need to use our styled helper.
- allows i

[2021-05-04 09:52] oliviertassinari commented on #26104
You can control the open state and use the context to forward the toggle inside your custom component.

[2021-05-04 09:52] #26104 closed

[2021-05-04 10:01] mayuriih opened #26124 "[Textfield] need support"
Textfield with input type number  up-down  arraow stopped working in mozila firefox.

Open stackoverflow question [here](https://stackoverflow.com/questions/67382247/material-ui-textfield-with-type-number-up-down-arrow-stopped-working-in-mozila-f)

[2021-05-04 10:07] oliviertassinari commented on #26122
https://stackoverflow.com/questions/67382247/material-ui-textfield-with-type-number-up-down-arrow-stopped-working-in-mozila-f

[2021-05-04 10:51] VGamezz19 commented on #26103
im glad! tnx so much for ur time @oliviertassinari

[2021-05-04 13:35] h-arlt commented on #19346
Could you please give any more details to proof your statement?

[2021-05-04 13:52] baymax88 commented on #26032
😅 Hi @oliviertassinari
Thanks for your reply but I am still not sure what I can do about that.
So is it possible to do customization of the current DatePicker component?

[2021-05-04 14:54] #26105 closed

[2021-05-04 15:22] fossegrim commented on #26117
Hello, i was unable to reproduce it through ~10 minutes of clicking around the page simulating usage. If the issue occurs again though normal usage, i will capture a screenshot of the page and include the console output. Sorry for unhelpful report :sweat_smile:.

[2021-05-04 15:22] #26117 closed

[2021-05-04 16:01] breno-sapucaia commented on #26105
I noticed that i had just upgrated the @material-ui/core for the 5.0.0-alpha.32 and forgotten the other sub dependecies like @material-ui/styles and @material-ui/icons, i upgrated them all and the build worked just fine

[2021-05-04 16:09] cchooley commented on #24372
Still going on for sure (among other prop type style errors that get reported when dropping the example from the docs directly into an empty .tsx file)

<img width="472" alt="Screen Shot 2021-05-04 at 10 08 28 AM" src="https://user-images.githubusercontent.com/35633562/117034721-d27c6c80-acc0-11eb-8ebf-1786ccb45d56.png">

[2021-05-04 16:54] exaucae commented on #16862
@shaninizan, that's exactly it! Thanks.

[2021-05-04 17:05] gravity8 opened #26132 "message"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-05-04 18:50] oliviertassinari commented on #26117
@fossegrim It could be an issue related to cache, we have recently pushed a new version.

[2021-05-04 19:47] #25879 closed

[2021-05-04 19:53] Darkmift commented on #26117
![Screenshot 2021-05-04 225203](https://user-images.githubusercontent.com/12433441/117061940-7569d080-ad2b-11eb-8e16-7a361d6279a9.png)

Hope this helps.
Issue persist when trying to navigate back to previous pages.

[2021-05-04 20:43] chadlavi-casebook commented on #26110
@oliviertassinari having a prop where you could pass a number of columns to use for a grid item is interesting to think about, though that wouldn't solve the issue with theme breakpoint helpers. It would also probably be too restrictive; printing can happen at very different widths, so saying that something should be 6 columns wide in print might work great for letter or A5, but be terrible on a0

[2021-05-04 20:48] amosbyon1224 opened #26133 "[Slider] Can't reach max value if slider is full width of webpage"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If a slider takes up the full width and the browser is either in full screen or the full width of the monitor, dragging the slider all the way to the right will only go up to 99.9 (`m

[2021-05-04 20:49] oliviertassinari commented on #26117
I could reproduce and find the origin: ethicalads polyfill the global URL, you can try `new URL('https://www.zenhub.com/')` it will fail with their polyfilled version.

[2021-05-04 20:52] gkjohnson opened #26134 "Slider: Cannot drag slider to end when 100% width and window is full screen"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When Chrome has been full screened on Mac OS, the slider is 100% width, and the slider is dragged all the way to the right of the screen it does not reach the "max" value. The native

[2021-05-04 20:54] #26133 closed

[2021-05-04 20:54] amosbyon1224 commented on #26133
closing in favor of #26134

[2021-05-04 21:30] maddie-wang commented on #18782
i have this problem as well :(

[2021-05-05 01:23] #26114 closed

[2021-05-05 03:41] maacpiash opened #26137 "`InternalError too much recursion` only when `GridColDef.valueGetter` is included."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

This is a component that I am using in my Next.js app:

[code]

When I use the `valueGetter` property inside the items of `columns`, it shows the following error:

- on Edge 90:

[cod

[2021-05-05 03:50] maacpiash commented on #26137
The models:

[code]

[2021-05-05 06:39] rmnkhd opened #26138 "dynamic divider orientation depending on screen size"
trying to set divider orientation based on screen size if it's md or higher orientation should be vertical and if it's xs or higher orientation should be horizontal what can i do?

[2021-05-05 08:07] oliviertassinari commented on #26117
It should be fixed now: https://github.com/readthedocs/ethical-ad-client/issues/59.

[2021-05-05 08:12] oliviertassinari commented on #26138
@rmnkhd you can either create your own divider or use useMediaQuery or wait for https://github.com/mui-org/material-ui/issues/23885

[2021-05-05 08:12] #26138 closed

[2021-05-05 08:31] rmnkhd commented on #26138
useMediaQuery worked for me thank u

[2021-05-05 09:31] oliviertassinari commented on #16859
The unstyled package seems like the perfect opportunity to fix this issue. We could have two versions:

- One with no default theme (imported from `@material-ui/unstyled`)
- One with (imported from `@material-ui/core`).

For context, the callback originates from: #16313.

[2021-05-05 09:48] oliviertassinari commented on #16859
From the exploration in #26139 did by Sebastian, removing the theme context read can salve 0.5kB gzipped in `useMediaQuery` when used standalone, which is even more relevant for an unstyled package.

[2021-05-05 09:50] eps1lon commented on #16859
Composition gives us all the tools to fix this issue and actually make `useMediaQuery` a good candiate for usage outside of Material-UI:

[code]

`useThemedMediaQuery` is just a working title. `options` were ignored for simplicity.

[2021-05-05 09:55] oliviertassinari commented on #16859
@eps1lon The initial implementation was using composition. I changed with #16313.

[2021-05-05 10:13] sMteX opened #26141 "Inconsistent or duplicit CSS styles in <head>"
I'm using the React-Admin library which internally uses Material UI and after upgrading to the new React-Admin (and bumping `@material-ui/core`) version I'm encountering a problem with inconsistently ordered CSS imports in `<head>`.

- [x] The issue is present in the latest release. (using `4.11.4`)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repositor

[2021-05-05 10:14] ekaradag14 opened #26142 "Audio Track Icon Name"
### Summary
Just a heads up that your audio track icon is imported as:

### Example
import **Audiotrack**RoundedIcon from '@material-ui/icons/**Audiotrack**Rounded'; (whereas it is probably **AudioTrack**)

[2021-05-05 10:22] oliviertassinari commented on #26142
Not something we control: https://fonts.google.com/icons?icon.query=audiotrack

[2021-05-05 10:22] #26142 closed

[2021-05-05 11:17] krv5vignesh commented on #26035
@oliviertassinari Any update on this? Could you point me where the issue might be occurring from so I can attempt a fix?

[2021-05-05 11:20] fossegrim commented on #26117
file:///home/olavfosse/Pictures/Screenshot%20from%202021-05-05%2013-18-56.png

[2021-05-05 11:21] fossegrim commented on #26117
![Screenshot from 2021-05-05 13-18-56](https://user-images.githubusercontent.com/24797093/117133591-bce07300-ada4-11eb-9bb5-8496e0f2ac2d.png)

[2021-05-05 11:31] oliviertassinari commented on #26035
@krv5vignesh I don't have a single clue about what's going wrong. It's also unlikely this issue will be worked on before many months. If it's important for your organization, feel free to invest time in it.

[2021-05-05 11:46] oliviertassinari commented on #26141
Without a reproduction, nobody from the community will be able to really help. However, this is a common issue we have seen. You should be able to find duplicates in the repository or even on StackOverflow. The first thing you need to verify is that `@material-ui/styles` is not duplicated in your bundle. It's a singleton, it needs a single version.

[2021-05-05 11:47] oliviertassinari commented on #26141
https://material-ui.com/getting-started/faq/#i-have-several-instances-of-styles-on-the-page

[2021-05-05 11:47] #26141 closed

[2021-05-05 12:13] linnefromice opened #26143 "Is it possible to ease type definition of RadioGroup.defaultValue (like .value) ?"
Type definition of `RadioGroup.value`, `Radio.value` etc is `any`, but `RadioGroup.defaultValue`is not `any`.
(I want use `Boolean` type for using RadioGroup like radio button.)

`RadioGroup.value`, `Radio.value`... are modified at the following timing.
https://github.com/mui-org/material-ui/pull/13173

Please kindly consider this matter.

References
- issues
  - https://github.com/mui-org/materia

[2021-05-05 13:08] oliviertassinari commented on #26143
It was fixed in v5

https://github.com/mui-org/material-ui/blob/58c7e708a419bc8895774e964b8ef00b55d045ac/packages/material-ui/src/RadioGroup/RadioGroup.js#L99
https://github.com/mui-org/material-ui/blob/58c7e708a419bc8895774e964b8ef00b55d045ac/packages/material-ui/src/Radio/Radio.js#L202

[2021-05-05 13:08] #26143 closed

[2021-05-05 13:27] huzaifa-99 commented on #12432
https://github.com/mui-org/material-ui/issues/12432#issuecomment-411046157 fixed the issue for me.

[2021-05-05 14:18] rclarkem-fubotv commented on #22429
@nihalwashere  How did you fix it?

[2021-05-05 14:34] david-iccube opened #26144 "[TreeView / TreeItem] - label style not applied"
Some styles applied to TreeItem label are not applied (the class order is wrong).

You can check the example : https://codesandbox.io/s/gmailtreeview-material-demo-forked-s6z3q

font size should be 45px.

https://codesandbox.io/s/gmailtreeview-material-demo-forked-s6z3q

Tested on alpha.29, thank you very much for doing Material-UI  ❤️

[2021-05-05 14:53] sMteX commented on #26141
Leaving this here in case anyone comes with similar issue - before trying anything else, try deleting `node_modules` folder and reinstall packages from scratch. For me, something went wrong during the process of updating the versions and all issues fixed themselves after reinstalling.

[2021-05-05 15:21] cvburgess commented on #23708
This is a huge issue for us when integrating autocomplete with a form library like formik or react-hook-form.

If you use a Select the primitive value is returned and all is good, but if you use an AutoComplete it shoves an object into your form and its not obvious how one is supposed to handle it.

Should I make a wrapper for AutoComplete that handles the values in and out until this is taclked?

[2021-05-05 15:38] oliviertassinari commented on #23708
@cvburgess Agree that your use case is valid. The proposed solution here is a `getOptionValue` prop, would is solve your issue?

I also wonder. Did you consider providing options as UUID and do the opposite, use `getOptionLabel`?

[2021-05-05 15:40] davidfischer commented on #26117
Are you still seeing this error and if so can you point me to where?

[2021-05-05 15:44] fossegrim commented on #26117
Yes, I encountered the error ~1min before posting the picture. The URL is in the top of the screenshot.

[2021-05-05 15:52] cvburgess commented on #23708
@oliviertassinari that would solve it instantly

[2021-05-05 15:56] fossegrim opened #26147 "react-router demo does not work"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When i click on the buttons in the demo the URL does not change.

## Expected Behavior 🤔
When i click on the buttons in the demo the URL changes.

## Steps to Reproduce 🕹
1. Open https

[2021-05-05 15:58] oliviertassinari commented on #23708
@cvburgess So far, we are simply waiting for more developers to upvote the issue. It's the first time a developer reports the pain with react-hook-form or formik, if we have a concrete example on how it would make the integration simpler, I think that it would help. The second incentive for `getOptionValue` is to support POST requests when multiple is true, like https://select2.org/getting-started

[2021-05-05 16:00] #26147 closed

[2021-05-05 16:01] oliviertassinari commented on #26147
tip: the demo uses a memory router by default

[2021-05-05 16:09] cvburgess commented on #23708
For me, I am loading async values from a graphQL API and I have quite a few AutoCompletes in a form, they are used to allow folks to quickly type the value they are looking for (in a list of potentially thousands of options) or scroll to select like a normal dropdown.

By using react-hook-form, I need to configure each one to:

1. map through the objects to make an array of UUIDs for the `options`

[2021-05-05 16:36] davidfischer commented on #26117
I hit refresh on that page until I got an ethicalads ad and I couldn't reproduce it. It's possible it's a caching issue although that seems unlikely since the CDN cache was purged over 12 hours ago. I'll continue to investigate it.

[2021-05-05 17:02] fossegrim commented on #26117
Yeah, it might be a caching issue. I will clear my cache and keep you updated if it reoccurs.

[2021-05-05 17:03] fossegrim commented on #26147
Ah, thank you i missed that.

[2021-05-05 18:14] ahfarmer commented on #13875
Does this work for `SvgIconComponent`? I was able to get this to work for `<Button />` but not for icons. I got the icon typescript support with this, and that is working:

[code]

But unlike my button, my icon isn't showing up with the correct color.

[2021-05-05 18:45] oliviertassinari commented on #20188
@siriwatknp Has managed to pull this off with the `::after` and `::before` selectors: https://mui-treasury.com/styles/switch/. It's probably good enough.

[2021-05-05 18:45] #20188 closed

[2021-05-05 18:57] arjunmadgavkar commented on #20705
Currently getting this issue:
<img width="279" alt="Screen Shot 2021-05-05 at 2 56 56 PM" src="https://user-images.githubusercontent.com/12454070/117194585-4185be00-adb2-11eb-819e-5fee39358e78.png">

[2021-05-05 19:01] JNDTHD opened #26148 "AutoComplete openOnFocus should supercede open"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
For Autocomplete, when openOnFocus is set to true and open is set to false, openOnFocus no longer works.

## Expected Behavior 🤔
I would expect the openOnFocus to override the open sta

[2021-05-05 19:10] oliviertassinari commented on #20705
@arjunmadgavkar A reproduction on v5 would help us verify that it's still relevant.

[2021-05-05 19:15] BeKnowDo commented on #11467
2021 and I can't get this example to work :-/

[2021-05-05 19:28] oliviertassinari commented on #11467
@BeKnowDo I have updated my initial comment, it's even in the docs now: https://next.material-ui.com/guides/interoperability/#portals.

[2021-05-05 19:31] oliviertassinari commented on #13875
@ahfarmer Good point. Please open a new issue. It's not working.

[2021-05-05 19:40] #26148 closed

[2021-05-05 19:40] oliviertassinari commented on #26148
The `open` prop is controlling the open state, you can implement the behavior you wish by listening to the `onOpenChange` events.

[2021-05-05 19:49] oliviertassinari commented on #15251
The implementation could use https://developer.mozilla.org/en-US/docs/Web/CSS/clamp().

[2021-05-05 20:28] oliviertassinari commented on #26144
tip: check the CSS specificity of your selector

[2021-05-05 20:29] jasonburnell98 commented on #22429
@nihalwashere Can you share how you fixed this?

[2021-05-05 20:29] oliviertassinari commented on #26144
Actually, @mnajdova would it be worth flattening?

https://github.com/mui-org/material-ui/blob/58c7e708a419bc8895774e964b8ef00b55d045ac/packages/material-ui-lab/src/TreeItem/TreeItem.js#L119

I wonder, not sure.

[2021-05-05 20:51] narsiliko opened #26149 "[Select] non-option children are selectable if they're the first child of the Select"
When I add several ListSubheader components into Select and then click on the first one - Select prints console warnings.

The bug is reproduced here:
https://codesandbox.io/s/select-1st-child-no-option-bl85u

1. Open the select
2. Click on Subheader 1
3. Look into the console

Expected behavior:
Nothing should happen, when I`m clicking on any ListSubheader

[2021-05-05 22:57] oliviertassinari commented on #26149
It looks close to #25567.

[2021-05-05 23:13] arpitBhalla commented on #25975
@oliviertassinari May I work on this?

[2021-05-05 23:32] bhagya97 commented on #20896
Hey @nour-sidaoui, can you share your solution? I am still facing the same issue. Thank you.

[2021-05-06 03:29] yurtaev commented on #23708
Just sharing it here so maybe it helps someone in the future. It's example for wrapper for `<Autocomplete />` to support `value` like `<Select />`: https://codesandbox.io/s/react-hook-form-v7-ex-selectautocomplete-q5xwg?file=/src/MuiSelectAutocomplete.tsx

[2021-05-06 03:54] technoshubham commented on #23208
Getting this error on importing an icon from @material-ui/icons

 `./node_modules/@material-ui/styled-engine/index.js
Module not found: Can't resolve '@emotion/styled' in '/home/shubham/covid/node_modules/@material-ui/styled-engine`

Please tell me how to resolve this,  i have to complete my project as soon as possible!

[2021-05-06 03:56] technoshubham commented on #23208
Getting this error on importing an icon from @material-ui/icons

Failed to Compile
 `./node_modules/@material-ui/styled-engine/index.js
Module not found: Can't resolve '@emotion/styled' in '/home/shubham/covid/node_modules/@material-ui/styled-engine`

Please tell me how to resolve this,  its very urjent!

[2021-05-06 04:27] therealchewbecca opened #26150 "[docs] Update documentation for Text Buttons"
The documentation for the Text Button should indicate the need for the variant in the markup.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The documentation here --> https://material-ui.com/components/buttons/#text-buttons indicates the only markup necessary for a default Text Button i

[2021-05-06 04:59] mr-bjerre commented on #23208
That's very demanding. Did you install `@emotion/styled`?

[2021-05-06 05:06] technoshubham commented on #23208
yes i do!

[2021-05-06 05:12] donrsh opened #26151 "[Select] Position bug on fixed-height menu"
When the menu is fixed-height (in my case, set by `max-height`), scrollable, and scrolled, the position is weird after selecting an item.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The menu is not anchored by the input.
![ima

[2021-05-06 05:16] mnajdova commented on #23208
@technoshubham did you follow the [Installation guide](https://next.material-ui.com/getting-started/installation/)? If you are still getting an error, please share a simple repro, otherwise we can’t help

[2021-05-06 05:17] mr-bjerre commented on #23208
Anyways it doesn't sound related to this issue so it isn't really the right place to ask.

Also make sure to provide your package.json. It sounds like you didn't install your dependencies correct.

[2021-05-06 05:24] fungmo opened #26152 "How to trigger BottomNavigation without clicking"
It seems that when we want to change the state of BottomNavigation, we must click to achieve it.
When I refresh the page or back to the previous page, I want to change the state of BottomNavigation (such as color), how to achieve it?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe th

[2021-05-06 05:43] afrieirham commented on #22429
Hi guys, it seems like more people are facing the same issue. Here is what I do to get rid of the error. I'm using the code sandbox as a demo: https://codesandbox.io/s/jcphp

In `Demo.js` line 155. Just change the `getOptionLabel={(option) => option.indicatorName}` function to  `getOptionLabel={(option) => option.indicatorName ? option.indicatorName : ""}`

This worked for me because it will retur

[2021-05-06 07:32] tforssander opened #26153 "[Autocomplete] Can't select helper text content"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When providing a `helperText` using the `Autocomplete` component with the `TextField` component, it's not possible to select the actual helper text content.

## Expected Behavior 🤔

I

[2021-05-06 07:54] david-iccube commented on #26144
Sorry, but this is the code generated by the TreeItem component  (.css-ehlda4-MuiTreeItem-content .MuiTreeItem-label). I'd expect the css rule label to work as it is doing in v4.

The example we put here is using the Google TreeItem example Material-UI (actually check the difference between the same example between v5 and v4).

br,

[2021-05-06 08:30] croraf commented on #25738
With every new day, and form I make, I'm thinking more and more that for all form field types the first argument should be the `newValue`, and the second argument (which will be ignored most of the time) to be the `event`.

Not only this would allow to align all the form fields, which would require only one `changeHandler` function.
But sometimes it happens that I want to manually call the `change

[2021-05-06 08:44] reygj opened #26154 "Material-UI Datagrid Lag and Performance Issues using Autocomplete component with RenderCell"
I'm using material ui datagrid (https://material-ui.com/components/data-grid/) and I'm adding a Autocomplete component to the cell in multiple columns. (I need about 20 columns in the table)

When I move the table with the scrollbar from left to right the table lags a lot and it's very slow.

This is the custom column that I'm using, I have 20 of these so on my app lags even more

[code]

Sandbox:

[2021-05-06 09:21] ahmed-28 opened #26155 "Responsive App Bar"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
The app bar should automatically stack up depending on the width of the window. This is a very common use case of the responsive top navbar.

## Examples 🌈
A similar component is available in bootstrap which is very handy and easy to code.
htt

[2021-05-06 09:26] manishrc opened #26156 "MuiAlert uses 'error' styles for 'info'"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

This issue with the `MuiAlert` from `@material-ui/lab@4.0.0-alpha.58`

The UI is identical when using `severity="info"` and `severity="error"`
Expected info to be blue, instead was re

[2021-05-06 09:41] nuanyang233 opened #26157 "[TextField] classes is not forwarded correctly on FilledInput"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
https://codesandbox.io/s/validationtextfields-material-demo-forked-ijv9o?file=/demo.tsx
![image](https://user-images.githubusercontent.com/28348152/117276901-ea571a80-ae91-11eb-88b8-8f

[2021-05-06 09:53] oliviertassinari commented on #25975
@arpitBhalla Feel free too, yes

[2021-05-06 10:13] itsravenous commented on #19137
Is there a documented example of this? I can't see anything in the docs, just the `limitTags` example. It would be fantastic to be able to have `limitTags` apply at all times, otherwise it makes it difficult to use this component in, for example, a toolbar as a filter.

[2021-05-06 10:32] oliviertassinari commented on #19137
@itsravenous The `renderTags` should do it. We could consider pushing the solution a step further. I can understand that https://material-ui.com/components/autocomplete/#limit-tags is not always enough.

It feels like the UX should be changed if it ever becomes an issue 🤔

[2021-05-06 10:42] sep2 commented on #22342
If I understand correctly there in v5 we have to replace `classes` with `componentsProps`?

In v4 we can do:
[code]

then `px-2` will be appended to the `Paper` component's className inside `Dialog`.

in v5:
[code]

will do the same?

[2021-05-06 10:49] oliviertassinari commented on #22342
@sep2 We didn't change the `classes` API. You can keep using it, but your alternative will also work eventually yes. Or even:

[code]

[2021-05-06 11:06] eps1lon opened #26158 "[docs] Various text colors are not legible in dark mode"
- [ ] The issue is present in the latest release. Only present in `next` not `master`
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Some text colors are black which has poor legibility in dark mode.
Different colors are most obvious on https://6092774712946f0007fc4e76--material-

[2021-05-06 11:11] sep2 commented on #22342
That's good! We heavily use Tailwindcss combined with Mui as it's easier to type than a full length css property and the extra css-in-js syntax boilerplate, atomic classes also keep a small cpu & memory & code footprint. For static css like padding / margin / flexbox we favor tailwind approach, but when it comes to dynamic props based customization like theme or complex visual behaviors we then us

[2021-05-06 11:20] mnajdova commented on #26158
Duplicate of https://github.com/mui-org/material-ui/issues/25458? We depend on https://github.com/emotion-js/emotion/pull/2334, the PR has been approved, so hopefully, soon we can leverage the new method for extracting critical from emotion. Preview of the docs with the fix - https://deploy-preview-25690--material-ui.netlify.app/components/tree-view/#main-content

[2021-05-06 11:31] mnajdova commented on #26156
Looks good both in the latest v4 and v5 version.

[2021-05-06 11:31] #26156 closed

[2021-05-06 11:35] mnajdova commented on #26152
I don't really understand what is the issue. You can use state in your component to change the color of the bottom navigation, can't you?

[2021-05-06 11:38] oliviertassinari commented on #26152
It seems to me that the author wants to use a `value` prop, as in https://next.material-ui.com/components/bottom-navigation/#bottom-navigation. Maybe we should add a header like this one https://next.material-ui.com/components/tabs/#third-party-routing-library in the docs?

[2021-05-06 11:52] oliviertassinari commented on #26150
Ok, sounds fair. With the text field, we start by presenting the tree variant available (omitting the default prop). How about we add a new demo like this for the button?

[2021-05-06 12:00] fungmo commented on #26152
@mnajdova @oliviertassinari
like this：
![suki](https://user-images.githubusercontent.com/16655229/117294825-acfc8800-aea5-11eb-8bf2-5a7de45ee2cc.gif)

[2021-05-06 12:02] mnajdova commented on #26157
Thanks for the report @nuanyang233. There are two problems regarding the issue. The first one, we need to pass all classes to the `InputCommponent` in the `FilledInput` x other input components (`OutlinedInput`, `Input`). This diff should help out with this specific use-case:

[code]

There are two problems with your repro example. First of all applying just `border-color` on an element that does

[2021-05-06 12:07] oliviertassinari commented on #26157
We did it correctly in

https://github.com/mui-org/material-ui/blob/80ef747034a84d6867d8310fd3ebb1c1fc2dac0d/packages/material-ui/src/OutlinedInput/OutlinedInput.js#L28

😁

[2021-05-06 12:08] mnajdova commented on #26157
We should also add tests for this :)

[2021-05-06 12:27] nour-sidaoui commented on #20896
Hey @bhagya97,
What caused my issue is that my sliders were rendered on data that gets updated.
The thing to keep in mind is that this error happens when the actual `min` value is less than the slider's `min`.
Or that the `max` value is higher than the slider's `max`.

/!\ So be sure to update all of [range, min, max] when data changes. /!\

In my context, I simply update `min` & `max` if they get

[2021-05-06 12:32] oliviertassinari commented on #20896
If somebody has a reproduction of the error with the latest version (v5) it would be awesome. We have tried to handle it in the past in #21653.

[2021-05-06 12:35] mnajdova commented on #26153
From looking into the code, the reason why this is happening is because the root of the autocomplete focuses the `TextField` on click. The helper text is part of the input, so when clicked, it is focusing the input. Theoretically you could select the text, if you start  the selection outside of the text field, but I see that this is not intuitive.

<img src="https://user-images.githubusercontent.c

[2021-05-06 12:44] nour-sidaoui commented on #20896
@oliviertassinari
here you go :)

https://codesandbox.io/s/material-demo-forked-85tqs

[2021-05-06 12:56] oliviertassinari commented on #26153
Option 1 sounds better. After #25365, we will be able to repurpose `getRootProps()` to apply it on the `<Input>`, instead of the `<Root>`. We will no longer need to apply ARIA attributes on the wrapper that includes the textbox and the popup.

[code]

But yeah, I think that we can hold, for now.

[2021-05-06 12:59] oliviertassinari commented on #20896
So it's fixed in v5: https://codesandbox.io/s/material-demo-forked-lso9p?file=/demo.js.

[2021-05-06 13:07] ti1024 opened #26163 "[docs] Migration guide from v4 to next should mention the color difference of Paper and related components in the dark mode"
In Material-UI next, Paper surface color becomes brighter in the dark mode by default (cf. https://next.material-ui.com/components/paper/#elevation, #18309, and note that the default value of elevation is 1). This also affects other components based on Paper such as Drawer. It is better if these changes are documented in the migration guide (https://next.material-ui.com/guides/migration-v4/).

- [

[2021-05-06 13:36] nuanyang233 commented on #26157
Thank for your advice, I apologize for providing a faulty example. One thing I'm curious about, though, is at what point we can directly override the `error` class

[2021-05-06 13:41] fungmo commented on #26152
@mnajdova
Can you understand my Issues?

[2021-05-06 14:19] #26158 closed

[2021-05-06 14:46] Tetr4 opened #26164 "[Select] ListSubheader overlapping"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When [grouping](https://material-ui.com/components/selects/#grouping) items in the `<Select/>` component, the sticky headers will overlaps once scrolled down:

<img width="405" alt="B

[2021-05-06 14:56] oliviertassinari commented on #26164
Duplicate of #18200

[2021-05-06 14:56] #26164 closed

[2021-05-06 14:56] oliviertassinari commented on #26164
Fixed in v5

[2021-05-06 15:25] rclarkem-fubotv commented on #22429
I ended up doing this. I am using my autocomplete in an adding/editing situation so I need the field to populate with the data when editing. This is where I was having most of the trouble. My `options` prop is an array of objects but what I want to save to the backend is just the `name` property of the selected value. On the add with blank values, `option.name` works but when I fetch from my backe

[2021-05-06 15:35] m4theushw commented on #25846
Since we removed the `Hidden` component in https://github.com/mui-org/material-ui/pull/26135, the migration path from the `xxDown` props to `xx` requires users to think mobile-first. I proposed to introduce support for `xxDown` in the `sx` prop to make this transition easier. My idea is the following:

- `xs`, `sm`, `md`, `lg`, `xl`: same as `theme.breakpoints.up`, nothing to change here.
- `xsDow

[2021-05-06 15:39] rclarkem-fubotv commented on #22429
When I edit the form it is strictly a string. There is no property of name anymore because I didnt post the whole values object.
This is what the value I get in formik is on the edit: `{"testing_name": "testwithModalFinal"}`. So the option gives me back `"testwithModalFinal"`

When I am creating a brand new instance however, it looks like this  `{"testing_name": {id: 4, name: "testwithModalFinal"}

[2021-05-06 15:39] exaucae commented on #12263
Bump!

[2021-05-06 15:39] oliviertassinari commented on #25846
@m4theushw One limitation of this approach is that it doesn't cover the array syntax, but maybe it's not important:

[code]

I'm still surprised that the min-width -> max-width media query change was never reported in https://github.com/styled-system/styled-system.

[2021-05-06 15:40] oliviertassinari commented on #12263
The component is available at https://material-ui.com/components/tree-view/.

[2021-05-06 15:43] m4theushw commented on #25846
Yes, the array syntax would be exclusively for mobile-first. This should be clearly in the docs.

[2021-05-06 16:02] jasonburnell98 commented on #22429
My problem is I need to send an objectId to the backend and not the string. When initialValues are set, the value is the string, but if I change options then my value gets set correctly. I am using this prop in autocomplete :         getOptionLabel={(option) =>
            typeof option === "string"
               ? option ?? ""
               : option.documentName ?? ""
         }

Also worth not

[2021-05-06 16:22] worldsayshi commented on #19797
I have this problem as well.

### Use case
1. You are using the autocomplete to look for a specific product in a huge catalog. Some products have the same or similar names.
2. When selected you see a small summary of the product on display in a separate component.
3. Sometimes you realise that you picked the wrong product and need to go back to the dropdown to look at the list of similarly named p

[2021-05-06 16:31] hubertokf opened #26166 "[TabList] Conditional rendering of Tab fails"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
As pointed on [Issue 8093](https://github.com/mui-org/material-ui/issues/8093), when we have a conditional rendering of a Tab, it throws an error.

## Expected Behavior 🤔
The expected

[2021-05-06 16:34] therealchewbecca commented on #26150
@oliviertassinari Thanks for the quick reply. To clarify, I'm referring to the documentation on the Text variant of the Button component, not the Text Field. 😬

[2021-05-06 16:39] oliviertassinari commented on #26150
@therealchewbecca This statement looks inaccurate. The default variant is not required

True, I was raising a possible opportunity to improve the button docs, using the text field as a reference.

[2021-05-06 16:54] oliviertassinari commented on #26152
@fungmo see the docs about routing, it should solve y our problem: https://next.material-ui.com/guides/routing/. We can keep this issue open to improve the docs.

[2021-05-06 17:12] #19704 closed

[2021-05-06 17:21] oliviertassinari opened #26168 "[RFC] Consider renaming xs"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In order for the system to work well, it requires the first breakpoint to be `0px`. The usage of `xs` for this baseline might be wrong, evermore to allow developers to customize it.

## Motivation 🔦

The discussion started in https://github.c

[2021-05-06 17:35] eps1lon commented on #26168
I think just naming it `zero` and making it non-customizeable is the way to go here. Makes these types of customization mistakes impossible and is not ambigious.

[2021-05-06 17:39] oliviertassinari commented on #26168
- :+1: for non-customizeable
- `zero`. I'm not so sure it will work if we move forward with #25925.

[2021-05-06 17:40] itsravenous commented on #19137
Thanks @oliviertassinari  - I'll check that out when I'm working tomorrow!

[2021-05-06 18:09] oliviertassinari commented on #26163
It was recently added, not released yet: https://next--material-ui.netlify.app/guides/migration-v4/#paper.

[2021-05-06 18:09] #26163 closed

[2021-05-06 20:11] #25985 closed

[2021-05-06 21:30] mnajdova commented on #26168
Maybe `min` as a name for the breakpoint?

[2021-05-06 21:58] oliviertassinari commented on #26166
👍 it breaks the notion of composition

[2021-05-06 22:14] therealchewbecca commented on #26150
Okay, I see now. Our theme has the variant prop defined as "contained" default, so all buttons with no variant declared are automatically "contained". So, for us we have to explicitly declare "text" for that variant. Apologies for missing that.

Perhaps it could be stated in the Components docs that the "text" variant is default. It is stated as such in the Components API docs, but that could be e

[2021-05-06 22:24] oliviertassinari commented on #26150
Ohhhh, ok. Good to know!

[2021-05-07 02:11] MaxwellWilliams opened #26174 "Outlined variant breaks a numerical TextField's arrow buttons"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using a numerical TextField with `variant="outlined"` :
  - The cursor doesn't change to a pointer when hovering over the up/down buttons
  - Cant click the up/down buttons
  - M

[2021-05-07 02:37] sophiagatliff commented on #783
Issue for me was styled components.

Used standard CSS for for textarea AND the enclosing div and it works fine.

[2021-05-07 02:51] fungmo commented on #26152
@oliviertassinari
Thanks, but it doesn't seem to solve the Issues for me. It would be best if there is a demo or example.

[2021-05-07 05:10] fungmo commented on #26152
@oliviertassinari
Waiting for the update of your documents(*^_^*)

[2021-05-07 06:52] vkentta commented on #26020
@oliviertassinari  I believe this issue tried to report this issue on material ui website:
![Screenshot 2021-05-07 094913](https://user-images.githubusercontent.com/6572774/117409308-b8899680-af19-11eb-8373-d2968cc66646.png)

That happened to me when browsing and moving to https://material-ui.com/components/menus/

[2021-05-07 08:22] #26166 closed

[2021-05-07 08:56] #25975 closed

[2021-05-07 09:03] eps1lon commented on #26168
`min` adds ambiguity again in my opinion. If the value is 0 and will always be 0, I'd just name it `zero`. Leaves no room for interpretation.

[2021-05-07 09:34] #25458 closed

[2021-05-07 10:08] eps1lon commented on #26035
Using Android 7.0 NRD90M on a Redmi Note 4 on https://6093d26ee081cf00074f9d5d--material-ui.netlify.app/components/tree-view#FileSystemNavigator.

Checked means working, unchecked means not working:

- [x] announcing name when focused
- [x] selection
- [x] announcing selected state
- [x] announcing expanded state
- [x] expansion when double tapped
- [ ] collapsing when double tapped

Same behavior

[2021-05-07 10:22] oliviertassinari commented on #26020
Duplicate of #26117

[2021-05-07 10:22] #26020 closed

[2021-05-07 10:30] Roy-Kid commented on #26078
First, I port v4 to v5 but not fix the problem. Then I use code sandbox it works. I pretty sure that is an issue with vite.

![image](https://user-images.githubusercontent.com/42854324/117436963-28bc0a80-af62-11eb-80ab-75e33fdc70e0.png)

Can I use create-react-app to replace with vite?

[2021-05-07 10:32] oliviertassinari commented on #26078
@Roy-Kid You can switch, but I think that it would be better for us to make sure it works with Vite! It's popular: https://bestofjs.org/projects/vite.

[2021-05-07 10:46] portinga opened #26176 "[Autocomplete] Close reason type does not contain 'create-option'"
When using the Autocomplete component with the freeSolo option, the onClose is called with reason 'create-option' when creating a new option. However the 'create-option' reason is not present in the AutocompleteCloseReason type, causing TypeScript warning.

![image](https://user-images.githubusercontent.com/35025696/117438616-14601980-af32-11eb-99cb-cd86599a0040.png)

- [x] The issue is present in

[2021-05-07 11:21] oliviertassinari commented on #26176
@portinga Thanks for raising this bug. Do you want to work on a fix? It's trivial to fix. Also note #26172.

[2021-05-07 11:38] mnajdova commented on #25846
I am not sure if it is the best idea to mix these two, if we do we need to be very careful with the order of how the breakpoints are written, we had several bugs for this in the past. See this PR https://github.com/mui-org/material-ui/pull/23380

[2021-05-07 14:23] arpitBhalla commented on #26150
@oliviertassinari May I work on this?

[2021-05-07 14:38] ali27001 commented on #19245
I guess no other solution has been made except to show all of the list

[2021-05-07 16:55] arpitBhalla commented on #26152
@oliviertassinari May I work on this?

[2021-05-07 17:45] oliviertassinari commented on #26152
@arpitBhalla Yes, how do you plan on solving the pain?

[2021-05-07 18:19] gabizz opened #26185 "broken import for createTheme in nextjs example (should be createMuiTheme)"
I was testing today the Next.js v5-alpha example and at the first  yarn dev I got
TypeError: (0 , _material_ui_core_styles__WEBPACK_IMPORTED_MODULE_0__.createTheme) is not a function

I figured out the the imported module changed its name in the latest material-ui release, so in
https://github.com/mui-org/material-ui/blob/next/examples/nextjs/src/theme.js
line 1 shoud be:
<code>import { createMuiT

[2021-05-07 18:29] oliviertassinari commented on #26185
It's my turn to do a release, once done, this error will be resolved.

[2021-05-07 18:44] m4theushw commented on #25313
I've updated the codesandbox to use last alpha version: https://codesandbox.io/s/busy-bohr-zjv29?file=/src/App.js.

In v5, it seems to me to be more of a specificity issue.

[2021-05-07 18:58] mnajdova commented on #26185
It was low probability that someone would try it before we did a release, but it happened :)

[2021-05-07 20:04] gabizz commented on #26185
too lazy to set up a new project, that's way it happend :) anyway, I glad I could give a hand, I really appreciate your work, guys (and girls, of course)

[2021-05-07 20:07] briant1234 commented on #25189
Came here to report the same issue, and I was also interested in a potential solution! I was looking for a way to pass a ref to my desired container component, as a prop or something similar. The javascript solution mentioned also seems to make sense.

[2021-05-07 21:14] Gautam-Arora24 commented on #25531
Can I work on this issue?

[2021-05-07 21:58] Gautam-Arora24 commented on #25531
Working in it :)

[2021-05-07 21:59] oliviertassinari commented on #26176
@Gautam-Arora24 Yes

[2021-05-07 22:12] oliviertassinari commented on #25313
@m4theushw I don't get the same read, it seems that `classes.root` is not applied on the root. I would expect a fix in this order:

[code]

[2021-05-08 00:56] Roy-Kid commented on #26078
Hi, I am so glad to help the community. If you need anything, please say so. I need a lot of learning to contribute to the community

[2021-05-08 02:42] m4theushw commented on #13597
I think `ListItem` should always render a `li`, changing the component based on the child may cause surprises. Based on https://github.com/mui-org/material-ui/issues/13597#issuecomment-642518895 I can think of two solutions:

### Solution 1

- Add a new `ListItemContent` component, that should be the only child of `ListItem`.
- Move the `button` prop to `ListItemContent`.
- If the user wants to re

[2021-05-08 05:55] arpitBhalla commented on #26152
@oliviertassinari In docs I can add demo like Tab...?

[2021-05-08 08:36] eps1lon commented on #13597
``

This is highly problematic UI since you nest a button within a button. With a new API you shouldn't be able to create this kind of markup or rather it should be harder to do.

What happens with `<ListItem ButtonComponent={NavLink}>`?

[2021-05-08 10:02] oliviertassinari commented on #26152
@arpitBhalla I'm not sure we need a full demo for this, it seems straightforward to implement. What if we start by a simple header section that links back to the routing page?

[2021-05-08 12:23] oliviertassinari opened #26192 "[SvgIcon] Custom color not supported"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I can't use a custom palette color.

## Expected Behavior 🤔

I can use a custom palette color

## Steps to Reproduce 🕹

Steps:

1. Open https://codesandbox.io/s/customcolor-material-d

[2021-05-08 12:32] oliviertassinari commented on #26192
It seems that we have a couple of possible options. Not sure

1. Drop the `color` prop. Maybe developers should use the `sx` prop.

https://github.com/mui-org/material-ui/blob/8ef7d1cbfbbb03e27addf356f0e7d57033b4ef0b/packages/material-ui/src/SvgIcon/SvgIcon.js#L57

2. Have the prop behave like on a Button:

[code]

3. Have the prop behave like on a Typography

[code]

[2021-05-08 13:14] oliviertassinari commented on #26078
@Roy-Kid Ok, I had a look. I could reproduce the issue with the latest versions (v5). It's an issue with the icons package. This fixes the issue: https://github.com/mui-org/material-ui/issues/21377#issuecomment-798917033.

[2021-05-08 13:14] #26078 closed

[2021-05-08 14:31] m4theushw commented on #13597
In terms of accessibility, it's completely wrong. However, Material Design [allows it](https://material.io/components/lists#interactive-demo). How can we make this UI harder to do and what to say to users migrating from v4?

Since `button` is false, the custom component would not be rendered. In my examples, I forgot to add a `ButtonProps` prop to pass props to the `Button` component.

[2021-05-08 15:06] oliviertassinari commented on #19245
Most of the issue has been fixed with #25691 by @m4theushw as you can see in https://next.material-ui.com/components/selects/#multiple-select. Now, we only need to fix the width in the demos, as we do for the Autocomplete, and we should be good to close:

[code]

[2021-05-08 16:28] oliviertassinari commented on #26174
The issue comes from the horizontal padding applied to the input. You would get the same issue, say, with Bootstrap. I don't think that we can do anything about it, outside #19154. Proposing we close.

[2021-05-08 16:32] oliviertassinari commented on #26155
I have been wondering about this component a couple of years ago. I will update the benchmark header of this issue as I see interesting implementation in the wild.

[2021-05-08 16:49] Gautam-Arora24 commented on #26176
Working on this!

[2021-05-08 17:36] oliviertassinari commented on #26151
@m4theushw fixed it with :#25691, proof: https://codesandbox.io/s/mui-select-menu-mis-positioned-forked-p9m5x.

[2021-05-08 17:36] #26151 closed

[2021-05-08 18:01] oliviertassinari commented on #25195
@danieljaguiar I can confirm the wrong behavior, I can also confirm that the proposed fix seems to work. Why not give it a try. I like how it might reduce the bundle size of the modal by simplifying the module. As a side note, Bootstrap is using this implementation:

https://github.com/twbs/bootstrap/blob/488fd8afc535ca3a6ad4dc581f5e89217b6a36ac/js/src/util/scrollbar.js#L14-L18

[2021-05-08 18:13] oliviertassinari commented on #20706
I have updated the reproduction to v5: https://codesandbox.io/s/frosty-shape-jy92v?file=/src/Demo.tsx, the warning is gone but TypeScript fails. I guess we could do the following:

[code]

The same issue was reported in #26157.

[2021-05-08 18:20] oliviertassinari commented on #18496
Done in #26031 by @m4theushw

[2021-05-08 18:20] #18496 closed

[2021-05-08 18:28] oliviertassinari commented on #22799
Done by @m4theushw in #26026.

[2021-05-08 18:28] #22799 closed

[2021-05-08 18:36] oliviertassinari commented on #26110
@chadlavi-casebook Actually, you should be able to customize the `theme.breakpoint.up` helper to deliver this behavior.
If it works, please share the solution on #15969, I'm sure it will help others.

To be honest, print support never seems to have been high on the priority list of the developers.

[2021-05-08 18:43] oliviertassinari commented on #25574
I'm reopening it as it looks like a bug and a wrong behavior. A native date input is clearable by default so is the Autocomplete. We have added the `disableClearable` prop for it.

[2021-05-08 19:34] Gautam-Arora24 commented on #26176
@oliviertassinari I think @portinga's issue is just because #26172 changed the naming convention of the reasons. Like `create-option` was changed to`createOption`. So the solution to this issue can be to use the correct name of the reason types.

[2021-05-08 20:13] aprinciple opened #26198 "Infinite page refresh on 404 error on https://material-ui.com/anyWordFor404"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Your Environment 🌎

Mac M1. Chrome/Firefox

[2021-05-08 21:58] oliviertassinari commented on #26198
Duplicate of #23874

[2021-05-08 21:58] #26198 closed

[2021-05-08 23:08] scrodrig commented on #16867
@knoefel that solved, tks

[2021-05-09 10:40] oliviertassinari opened #26218 "[docs] Add migration guide from alternative UI libraries"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add documentation on how to migrate from alternative UI libraries.

## Examples 🌈

- I have seen this idea implemented in https://github.com/vercel/next.js/issues/17455, https://github.com/vercel/next.js/issues/17454, https://github.com/verce

[2021-05-09 10:48] dungle-scrubs opened #26219 "Option to remove injected .Mui[component] styling?"
I'd like to style a `<ToggleButton>` to look and behave exactly like a `<Button>` without explicitly overriding all of the `ToggleButton`'s class styles.

I've learned that I can inject `Button` styles this way:

[code]

This halfway solves my problem.  However, I'd like to avoid injecting the classes `MuiToggleButton-root MuiToggleButtonGroup-grouped MuiToggleButtonGroup-groupedHorizontal` becaus

[2021-05-09 10:59] oliviertassinari commented on #25307
An update, we have now made enough progress with the new `@material-ui/styled-engine` package in v5 to move toward a progressive removal of the `@material-ui/styles` (based on JSS) package. The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the rest.
- In v5.0.0, this package will be soft deprecated.
- During v5, we will work on making the migration

[2021-05-09 10:59] #25307 closed

[2021-05-09 11:18] oliviertassinari commented on #24748
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:18] #24748 closed

[2021-05-09 11:29] oliviertassinari commented on #24699
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:29] #24699 closed

[2021-05-09 11:29] oliviertassinari commented on #23334
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:29] #23334 closed

[2021-05-09 11:30] oliviertassinari commented on #21794
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:30] #21794 closed

[2021-05-09 11:52] oliviertassinari commented on #21622
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:52] #21622 closed

[2021-05-09 11:53] oliviertassinari commented on #21528
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:53] #21528 closed

[2021-05-09 11:55] oliviertassinari commented on #21318
I have reported the issue to v5. We can:

1. Document the `shouldForwardProp` option: https://next.material-ui.com/guides/styled-engine/
2. Consider transient prop with the `$` prefix #25925

[2021-05-09 11:56] oliviertassinari commented on #21143
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:56] #21143 closed

[2021-05-09 11:56] oliviertassinari commented on #21011
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:57] oliviertassinari commented on #21011
For the usage of keyframe, you have examples in the source:

https://github.com/mui-org/material-ui/blob/4424142f562df9c1f2ea834956c37840f3da53b9/packages/material-ui/src/CircularProgress/CircularProgress.js#L83-L87

[2021-05-09 11:57] oliviertassinari commented on #20708
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:57] #20708 closed

[2021-05-09 11:57] oliviertassinari commented on #20521
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:57] #20521 closed

[2021-05-09 11:58] oliviertassinari commented on #20446
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:58] #20446 closed

[2021-05-09 11:58] oliviertassinari commented on #20355
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:58] #20355 closed

[2021-05-09 11:58] oliviertassinari commented on #19785
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:58] #19785 closed

[2021-05-09 11:58] oliviertassinari commented on #19780
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:58] #19780 closed

[2021-05-09 11:59] oliviertassinari commented on #19668
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:59] #19668 closed

[2021-05-09 11:59] oliviertassinari commented on #19422
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:59] #19422 closed

[2021-05-09 11:59] oliviertassinari commented on #19279
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 11:59] #19279 closed

[2021-05-09 12:00] oliviertassinari commented on #11517
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:00] #11517 closed

[2021-05-09 12:01] oliviertassinari commented on #15511
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:01] #15511 closed

[2021-05-09 12:01] oliviertassinari commented on #16113
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:01] #16113 closed

[2021-05-09 12:01] oliviertassinari commented on #8503
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:01] #8503 closed

[2021-05-09 12:02] oliviertassinari commented on #16316
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:02] #16316 closed

[2021-05-09 12:02] oliviertassinari commented on #16673
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:02] #16673 closed

[2021-05-09 12:02] oliviertassinari commented on #17099
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:02] #17099 closed

[2021-05-09 12:02] oliviertassinari commented on #17234
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:02] #17234 closed

[2021-05-09 12:04] oliviertassinari commented on #17370
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:04] #17370 closed

[2021-05-09 12:04] oliviertassinari commented on #17491
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:04] #17491 closed

[2021-05-09 12:05] oliviertassinari commented on #17973
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:05] #17973 closed

[2021-05-09 12:06] oliviertassinari commented on #18018
An update, we have now made enough progress with the new [`@material-ui/styled-engine` package](https://next.material-ui.com/guides/styled-engine/) in v5 to move toward a progressive removal of the [**`@material-ui/styles`** package](https://next.material-ui.com/styles/basics/) (based on JSS). The current plan:

- In v5.0.beta.0, this package will come standalone, in complete isolation from the re

[2021-05-09 12:06] #18018 closed

[2021-05-09 12:13] oliviertassinari commented on #22074
@m4theushw We haven't updated this issue for 4 months. Do you want to double-check that we didn't miss any deprecations?

[2021-05-09 12:15] oliviertassinari commented on #21453
Closing as we agreed on:

[code]

[2021-05-09 12:15] #21453 closed

[2021-05-09 12:17] oliviertassinari commented on #12827
Moving it to v5.1 as it's unlikely it requires breaking changes.

[2021-05-09 12:22] #26185 closed

[2021-05-09 13:53] arpitBhalla commented on #26157
@oliviertassinari May I work on this?

[2021-05-09 13:55] umerjaved178 opened #26220 "ToggleButtonGroup's CSS attribute 'grouped' not working with makeStyle hook"
ToggleButton Group, if we want to have space between ToggleButtons then the 'grouped' attribute is not working with makeStyle hook

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If we want to have spaces between the Toggle Button

[2021-05-09 15:13] oliviertassinari commented on #19785
True, we have seen members of the community do it. And it makes a lot of sense for migration/legacy codebase purposes. It's definitely something we want to look before removing makeStyles powered by JSS (v6). I can't find back the project that was built by a community member doing this :/. It was shared in one of our big RFC issues.

[2021-05-09 16:11] atisheyJain03 commented on #21018
Hello, can I work on this issue?

[2021-05-09 16:13] oliviertassinari commented on #21018
@atisheyJain03 Yes :)

[2021-05-09 19:10] WorldOfMaze opened #26224 "Slider component crashes with marks displayed"
[ x ] The issue is present in the latest release.
[ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When rendering a slider with `marks=true`, `step=1` and a large range (`min=MIN_SAFE_INTEGER` and `max=MAX_SAFE_INTEGER`, a RangeError: Invalid array length is thrown.

## Expected Be

[2021-05-09 19:32] o-alexandrov opened #26225 "v5.0.0-alpha.33 partially breaks typings for "styleOverrides""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When upgrading from `alpha.32` to `alpha.33` typings are broken in the following two cases:

1. Unknown keys in MuiCssBaseline.styleOverrides
    - unknown keys should be accepted to

[2021-05-09 19:43] Gautam-Arora24 commented on #25882
Working on this 🙂

[2021-05-09 21:06] Gautam-Arora24 commented on #25882
So what I can get from the above conversation is that we should set the `aria-hidden` prop to `true` whenever there is a `titleAccess` prop available ( to avoid two tooltips) and set it to false if no `titleAccess` prop is available.

[2021-05-10 01:50] Jack-Works commented on #26225
Having this problem with alpha.33 too.

![image](https://user-images.githubusercontent.com/5390719/117596088-1e258f00-b175-11eb-9438-4803698d8fe1.png)

[2021-05-10 02:03] Jack-Works commented on #19785
Do you mean https://github.com/mui-org/material-ui/issues/20012#issuecomment-770681375? It's also me! 🤣 And I have not started with this work because I don't have time for this. I'll discuss with my team to decide to develop an emotion-based `makeStyle` API or migrate to `sx` props and `@emotion/react`.

We have tried the `styled` components way but that doesn't feel good for most of our team memb

[2021-05-10 02:36] fungmo opened #26227 "Can Material-UI be used directly in React-Native?"

[2021-05-10 03:29] KeitelDOG commented on #15404
@mdvorscak thanks for putting me in the right path, now I think I've found the **_Perfect_** Solution for `makeStyles` + 'shallow` + `useContext`. While your solution was a good Starting point for me, it leads to some problem, and each problem solved leads to another:

- it lost test coverage when calling `useStyles` which is now an empty function with no style
- Not mocking it throw error for add

[2021-05-10 03:34] KeitelDOG commented on #15404
And a version to mock it directly in test files instead of manual mock:

[code]

[2021-05-10 03:36] KeitelDOG commented on #15404
@oliviertassinari do you think that advance mockup might fit the snapshot use cases? I haven't try snapshot.

[2021-05-10 05:03] mnajdova commented on #26225
Thanks for reporting. I was able to repro the issue with `MuiCssBaseline` and the usages of `theme.typogrpahy[variant]` and `theme.mixins.toolbar`. Fix coming up in: https://github.com/mui-org/material-ui/pull/26228/files

@o-alexandrov I couldn't see any problem with 2. Passing objects w/ styles on the components listed

https://codesandbox.io/s/basicselect-material-demo-forked-b7wfp?file=/demo.t

[2021-05-10 05:37] #23874 closed

[2021-05-10 07:08] robertvasile opened #26229 "v5.0.0-alpha.33 is missing the Hidden component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

v5.0.0-alpha.33 is missing the Hidden component, it's gone from the next. docs too, although it is still referred in next. guides/migration-v4 (https://next.material-ui.com/guides/mig

[2021-05-10 07:43] eps1lon commented on #26227
Duplicate of https://github.com/mui-org/material-ui/issues/593

[2021-05-10 07:43] #26227 closed

[2021-05-10 07:47] neelbrahmakshatriya opened #26230 "Tabs Indicator doesn't get my palette's color"
I have changed the whole `palette` in the `theme`.

I am using `Tabs` and they doesn't work as they should.
The text inside all the `Tab`s has my palette's color.
But Tabs indicator doesn't get my palette's color and gets color from your palette.

Here is the image of the Tabs:
![material-ui-tabs](https://user-images.githubusercontent.com/64475785/117623548-90a46800-b191-11eb-8013-acbbfe6ac6d9.png

[2021-05-10 08:42] #25531 closed

[2021-05-10 08:50] mnajdova commented on #26229
It is intentional, please follow the migration guide for how to replace it https://next.material-ui.com/guides/migration-v4/#hidden

[2021-05-10 08:50] #26229 closed

[2021-05-10 08:57] mnajdova commented on #26230
The import of the `ThemeProvider` was wrong. It should be from `@material-ui/core/styles`. See https://codesandbox.io/s/vigorous-lederberg-fypc6

[2021-05-10 08:57] #26230 closed

[2021-05-10 09:01] mnajdova commented on #26219
I don't quite understand the issue.

If you like it to behave like a Button, why don't you use the Button?

Is the use-case that you would like to actually use a ToggleButton that looks like Button? What about the toggled state?
It would partially be possible to do this once we have `unstyled` version of this component, once we have it.

[2021-05-10 09:12] mnajdova commented on #26220
Can you please share a codesandbox showing the issue? It would help us debug.

[2021-05-10 09:22] dungle-scrubs commented on #26219
@mnajdova Thanks, sorry I forgot to clarify something.  I'm using ToggleButton for radio-button-like functionality, but I need the radios to look exactly like `<Button>`, including hover and active states.

I couldn't get Mui's `<Radio>` to style like a `<Button>` so I'm trying to use `<ToggleButton>` instead.  However, I get an error when using `<Button>` inside of `<ToggleButton>`.

Does that ma

[2021-05-10 09:40] eps1lon commented on #13597
The linked page does not include the secondary action in tab order. They probably expect that the author provides other affordances to activate secondary actions. Our demos nests buttons that are both in tab order expecting screen readers to patch broken markup.

[2021-05-10 10:14] kkroeger93 commented on #14286
At the moment you can get passed this by using Template Literal instead of referring directly to the currentValue this make sure to return always a string.

Example:

**From: Not working**

[code]

**To: Working**

[code]
*Please note, using the index as `key` is not recommended and it's just used to demonstrate quick solution.

[2021-05-10 10:25] neelbrahmakshatriya commented on #26230
Thanks for the quick reply

[2021-05-10 10:26] oliviertassinari commented on #19785
@Jack-Works I meant this one https://github.com/mui-org/material-ui/issues/22342#issuecomment-820842686 :)

[2021-05-10 10:34] oliviertassinari commented on #15404
@KeitelDOG I would stay on this https://github.com/mui-org/material-ui/issues/15404#issuecomment-485242444, stop enzyme as soon as you can.

[2021-05-10 10:48] eps1lon opened #26232 "[docs] "`styleOverrides` property" link in /api pages links to fragment that doesn't exist."
## Current Behavior 😯

[`styleOverrides` property](https://next--material-ui.netlify.app/customization/how-to-customize/#global-style-overrides) in https://next--material-ui.netlify.app/api/modal/#css links to a document fragment that doesn't exist

## Expected Behavior 🤔

Make it clear what "`styleOverrides` property" refers to since "styleOverrides" is not even mentioned once on the linked page.

[2021-05-10 11:04] mnajdova commented on #26219
Got it yes, sounds like something that will be possible with the ‘unstyled’ components. Until  then, we don’t have option to reset styles.

[2021-05-10 13:17] oliviertassinari commented on #23208
We are reducing the ambition of the scope of the changes in v5. We won't change the folder locations, but instead move one step backward: `packages/material-ui/src/StyledEngineProvider/index.js -> packages/material-ui/src/styles/`. We would only need to be cautious with https://codesandbox.io/s/mcwhd?file=/index.tsx.

[2021-05-10 14:31] dungle-scrubs commented on #26219
Thanks for clearing that up and looking forward to that.  Until then, manually restyling isn't too big of a deal.

[2021-05-10 14:43] eoliphan opened #43053 "[docs] Implement MUI Block examples in the paid offering"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-x/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

This is more of a general suggestion, perhaps for the longer term vision/roadmap.  MUI's docs really great overall, but the [examples](https://material-ui.com/getting-started/templates/) are pretty basic.  I think there's a gap between what

[2021-05-10 15:52] o-alexandrov commented on #26225
@mnajdova you are right, the issue 2 in the description is only applicable to the use as you and Jack described:

Thank you for [the fix](https://github.com/mui-org/material-ui/pull/26228/files) and I apologize for not providing with a repro to make it more comfortable.

[2021-05-10 16:54] BiancaArtola opened #26236 "Stepper component | async icons"
I am using the `Material UI stepper component` in my project. Exactly this: https://stackblitz.com/edit/4mvpjd?file=demo.js
I am using `React` and `Typecript`.

I want to change the icon shown in the component step by step keeping in mind some React state. Is there any way? For example, I want to have a LoaderIcon in the step if the backend logic is not finished. When done I want to update the ico

[2021-05-10 17:07] arpitBhalla commented on #26112
@oliviertassinari May I work on this?

[2021-05-10 17:18] nikolaidk commented on #23744
Had same problem when upgrading. Looking up the dependencies for @material-ui/styles on version 5.0.0-alpha.33 i noticed a dependency to https://www.npmjs.com/package/@material-ui/private-theming After reading about it I added it as a webpack singleton and everything works. My shared looks like this:
shared: {
        //...deps,

        react: {
          requiredVersion: deps.react,
          im

[2021-05-10 17:31] vicasas commented on #19696
The way here is to remove `disabledTypography`?. I have been working on this solution

[code]

[2021-05-10 17:32] joemarieandres opened #26237 "Element flickering issue on Safari"
sort icon is flickering on Safari.
Now I use React Material UI core and sort icon is flickering on only Safari.
It doesn't happening on Chrome.

![image](https://user-images.githubusercontent.com/72573746/117700430-9719fa80-b1f8-11eb-90fd-f323acc986e4.png)

[2021-05-10 17:33] oliviertassinari commented on #26112
@arpitBhalla I was thinking that @siriwatknp could be working on it, I think that he can supervise the effort, so up to him :)

[2021-05-10 17:38] arpitBhalla commented on #26112
Okie Sir

[2021-05-10 18:57] #26236 closed, assigned to nobody

[2021-05-10 19:00] BiancaArtola commented on #26236
Stackoverflow question: https://stackoverflow.com/questions/67475564/material-ui-stepper-component-async-icons

[2021-05-10 21:42] Gautam-Arora24 commented on #25574
Working on it 🙂

[2021-05-10 22:09] davidfdriscoll commented on #19329
Sorry to reopen this issue but this problem is back. On a disabled slider the value label is again positioned slightly to the right.

See a code sandbox [here](https://codesandbox.io/s/magical-goldstine-lk8w3?file=/src/Demo.tsx). The same steps as above reproduce the problem:

* `valueLabelDisplay="on"`
* `disabled={true}`

This time I think the problem is [at this line](https://github.com/mui-org

[2021-05-10 22:23] Gautam-Arora24 commented on #25574
Well, is there any way to remove the `DatePicker`'s data on the mobile?

[2021-05-10 22:25] oliviertassinari commented on #19329
@davidfdriscoll Thanks for the report. I think that we should remove the IE 11 fix, in the source and in the customization demos and add a visual regression test. This is mainly motivated by https://next.material-ui.com/getting-started/supported-platforms/#ie-11.

[2021-05-10 22:44] davidfdriscoll commented on #19329
That sounds good -- would you mind if I try tackling that and submitting a pull request?

[2021-05-10 23:19] oliviertassinari commented on #19329
@davidfdriscoll Please do :)

[2021-05-10 23:29] #25756 closed

[2021-05-10 23:29] #26027 closed

[2021-05-11 06:11] adrijshikhar commented on #19463
Yes

[2021-05-11 07:17] Santosh-13 opened #26240 "Not able to install icons yarn add @material-ui/icons package"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.yarn add @material-ui/icons, showing network errors
![image](https://user-images.githubusercontent.com/45909263/117774822-7e

[2021-05-11 09:06] siriwatknp opened #26241 "[RFC] Create standard doc for component in TypeScript"
## Problems
- Back and Forth on the code review part (emotion migration) for component in `.tsx`
- Discussion is scattered in multiple PRs because each component has different needs
    - ex. Internal component with/without styleProps, Public component with/without ref and Generic

## Propose
Create a section in `CONTRIBUTING.md` that provide pattern for component in TypeScript to keep consistency

[2021-05-11 09:15] siriwatknp commented on #26112
@arpitBhalla please go ahead if you like, I can help on the review.

[2021-05-11 09:23] metinc opened #26242 "[Stepper] Long labels break step connectors"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Long step labels cause the step connectors to be misplaced when stepper is horizontal and alternative label is used.

![stepper connector bug](https://user-images.githubusercontent.co

[2021-05-11 09:37] #26220 closed

[2021-05-11 09:55] arpitBhalla commented on #26112
Thanks @siriwatknp

[2021-05-11 10:02] oliviertassinari commented on #19463
@adrijshikhar Ok, no objection to fix it in the library directly, but I'm not sure we should care either.

[2021-05-11 10:47] Santosh-13 commented on #26240
@oliviertassinari , https://github.com/mui-org/material-ui/issues/12432 has the fix in the discussion and it worked.
I think this issue can be closed.

[2021-05-11 10:47] Santosh-13 commented on #26240
Thank you:)

[2021-05-11 11:09] oliviertassinari commented on #26219
This makes me think about:

1. [ButtonGroup](https://github.com/mui-org/material-ui/labels/component%3A%20ButtonGroup) and [ToggleButton](https://github.com/mui-org/material-ui/labels/component%3A%20ToggleButton) are very close in UI. We could have almost built ToggleButton on top of ButtonGroup.
2. ToggleButton adds functionality over ButtonGroup. In #17203 we explore how to improve the a11y.
3.

[2021-05-11 11:26] angel-langdon opened #26245 "Specify width and height of StaticDateRangePicker"
CSS  attribute to specify height and width

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2021-05-11 11:35] mivanis commented on #20896
Hi, I am facing similar issue. When the state changes to any value that is out of [min, max] range and I try to move the thumb, it gets stuck.

It only works when I click on the rail. Otherwise I get this error:

[code]

Is there any chance to make slider work properly when the state gets '< min' or '> max' ?
Thanks.

[2021-05-11 11:47] #26150 closed

[2021-05-11 11:50] mnajdova commented on #26241
Thanks for starting a discussion around this @siriwatknp. Would you like to start it in a form of a PR where we can review the content and make suggestions? I think this can help a lot.

[2021-05-11 12:09] Santosh-13 opened #26247 "Cards Expand functionality is moving other cards"
https://codesandbox.io/s/material-demo-forked-pv9qh

In the forked project link, if i expand the first card, the second card is moving downwards. But the expected behavior is that the first card should overlap with the second card.

[2021-05-11 13:15] tar-aldev opened #26248 "outlined TextField with long label causes scroll"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When TextField component has long label, fieldset height increases. This causes horizontal scroll to appear.

## Expected Behavior 🤔
If input label width is not bigger that field width

[2021-05-11 13:44] brunoguedao opened #26250 "Hidden Component"
THe Hidden component was removed or missing?

Attempted import error: 'Hidden' is not exported from '@material-ui/core'.

[2021-05-11 13:56] schester44 opened #26251 "(iOS) Contained primary button text color doesn't update after becoming enabled"
On mobile devices, iOS specifically, Button text color does not update when a contained primary button goes from disabled to enabled. The CSS styles are applied if you look at the dev tools however the button's text color never updates. It appears the text color specifically isn't repainting

Minimum reproduction:
https://6ch6k.csb.app/

You'll need to open the link on your iOS (iphone) mobile dev

[2021-05-11 14:50] ThilakrajSelvam opened #26252 "Datepicker view is not getting changed when onViewChange is used"
Datepicker view is not getting changed when onViewChange is used

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Datepicker view is not getting changed when onViewChange is used

## Expected Behavior 🤔

Datepicker view should get changed when onViewChange is used

## Steps to Rep

[2021-05-11 14:52] cbravo opened #26253 "[ButtonBase] Incorrectly adds role='button' when using a custom component and passing an href prop"
When using a material-ui button it adds `role='button'` when using a custom component prop even when passing an href prop.

I believe that [ this line in ButtonBase.js](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/ButtonBase/ButtonBase.js#L273) is the culprit.  Perhaps it should be an `&&` instead of `||`

- [X] The issue is present in the latest release.
- [X] I hav

[2021-05-11 15:27] jollytoad opened #26254 "[ESM][core] Add `exports` to the package.json"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

An exports property in the package.json of @material-ui/icons (and other packages), to aid discovery of the officially exported modules.
To support CDNs such as https://jspm.org/

## Examples 🌈

[code]

## Motivation 🔦

I want to consume mate

[2021-05-11 15:28] jollytoad commented on #26254
This would be useful applied to both the 4.x branch and the upcoming 5.x too.

[2021-05-11 21:55] m4theushw commented on #20706
@oliviertassinari We could update the three variants to use `InputBaseProps['classes']`. Only `OutlinedInput` has an additional key.

[code]

[2021-05-11 22:39] hypnodron commented on #26251
Encountered the sane issue in desktop Safari. The issue seems to be with prop memoization, because the workaround I found is to add a `key`  prop to button that changes when it becomes enabled/disabled to force it to re-render:
[code]

[2021-05-12 06:41] siriwatknp commented on #26241
Please take a look here. #26259

[2021-05-12 06:48] mnajdova commented on #26245
The issue does not provide enough information for us to help. Please provide a codesandbox showing the problem, or give us more details. For what I understood seems like you can use customization for this.

[2021-05-12 06:50] sarthakmalik0810 commented on #25195
@danieljaguiar Are you taking up this issue. If not @oliviertassinari, can I take this up as my first issue?

[2021-05-12 06:59] mnajdova commented on #26247
You can customize the cards by using the `position` and `zIndex` in combination. Here is a dirty poc: https://codesandbox.io/s/material-demo-forked-tn24r?file=/demo.js I don't see issue with the card component itself. It seems like this is more of a question about how to combine them. Closing.

[2021-05-12 06:59] #26247 closed

[2021-05-12 07:27] mnajdova commented on #26248
I could fix this by adding `minHeight: 60` on the `TextField`: https://codesandbox.io/s/optimistic-wildflower-mkgkx?file=/src/App.js. Not sure if it is worth adding the complexity in the component, as it depends on how it is composed, but maybe we can try to provide a fix for v5.

[2021-05-12 07:33] #26250 closed

[2021-05-12 07:36] mnajdova commented on #26251
Can you provide a screenshot of what you are seeing?

I cannot see any issues:

![0F3C51F3-8FA4-4458-B6EF-6A6D3DEE8EFC](https://user-images.githubusercontent.com/4512430/117936637-64a9f380-b305-11eb-992d-64b0eca190bd.png)

![7D7E16C9-1D90-4C3B-BB78-99F7A3050825](https://user-images.githubusercontent.com/4512430/117936559-49d77f00-b305-11eb-8836-bc8306a4f3fa.png)

Using iOS 14.5.1

[2021-05-12 07:39] Moonwalkerr opened #26260 "Toggle Button import issue in material-ui/lab"
Module not found: Can't resolve '@material-ui/lab/ToggleButton' in 'D:\SelfStudy\web-dev\React\filmzilla\src\comps'

[2021-05-12 07:41] Moonwalkerr commented on #26260
in latest version, this error is coming on browser, when i installed @46 , it worked

[2021-05-12 07:41] Moonwalkerr commented on #26260
But i need to know whats issue in latest version @

[2021-05-12 07:43] mnajdova commented on #26260
Please provide a codensadbox showing the issue. It's not even clear which version you are using. Are you on v4 or v5?

[2021-05-12 08:02] mnajdova commented on #26253
Thanks for the report. I think we could adjust the logic for adding `role='button'`. We could do this:

[code]

Or maybe even clearer at least for me:

[code]

[2021-05-12 10:25] eps1lon commented on #26254
4.x only receives critical updates. And since there's some possible breakage with regards to file extension usage we probably can't even apply it to 4.x. So 5.x is the safer target for now.

[2021-05-12 10:25] oliviertassinari commented on #26254
This makes me think of a past exploration I had to modernize our [CDN /examples](https://github.com/mui-org/material-ui/tree/next/examples/cdn). See https://github.com/skypackjs/skypack-cdn/issues/118.

[2021-05-12 10:32] Virthuss commented on #24785
For the people with **material-ui** and **react-final-form** having the issue but willing to work with an array ( if you have for example a mix of `AutoComplete` and `Chip` ), you can just split your `input.value `in the value prop of your `TextField`. For example this works for me:

[code]

This AutoComplete works with material-ui and react-final-form and allow addition of values to your array. Y

[2021-05-12 10:50] eps1lon commented on #26252
Thanks for the report.

I think we assume that declaring `onChangeView` means the `view` is controlled. But that's not how uncontrolled vs controlled components usually work.

[2021-05-12 11:07] thewebmaster opened #26266 "Material UI Tooltip appears in docked panel after opening to a new window"
## Current Behavior 😯

I'm currently working on a project that uses material-ui and a layout manager flexlayout-react (https://www.npmjs.com/package/flexlayout-react). The tooltip works fine when the component renders in the main window but when popped out into a new window the tooltip still appears in the main window not on the new window.

## Expected Behavior 🤔

I expect the tooltip appears on

[2021-05-12 11:15] mnajdova commented on #26266
@thewebmaster did you tried using the `container` in the `PopperProps` inside the Tooltip? See Popper's API - https://next.material-ui.com/api/popper/#props

[2021-05-12 11:17] eps1lon commented on #24511
Can you clarify what you're trying to do?

You can change the icon with `openPickerIcon`:
[code]
If you want to listen to clicks on the open-picker-button you should be able to use `OpenPickerButtonProps`:

[code]

However, `onClick` seems to be ignored which is a bug.

@oliviertassinari I reverted your title change. Let's ask the issuer first what they want and dont put words in their mouth.

[2021-05-12 11:24] oliviertassinari commented on #24511
From what I understand of this issue, the objective is to replace the icon. This can already be done using the right API. We could have closed the issue there.

Now, I have also noticed two weird things:

1. the `InputProps` prop, it doesn't seem to make sense
2. the inconsistency in the API, `openPickerIcon` is going against #21453, so I proposed to remove it.

[2021-05-12 11:28] Gautam-Arora24 commented on #26253
Can I work on this issue?

[2021-05-12 11:47] thewebmaster commented on #26266
@mnajdova thanks for your swift response. I just tried using `container` in the `PopperProps` and the issue still persists.
For reference: https://github.com/thewebmaster/material-ui-tooltip-on-flexlayout/blob/d4826bad3fb15e54366278ec008bbee6a532aa96/src/App.tsx#L99

[2021-05-12 11:47] Gautam-Arora24 commented on #26248
@mnajdova What about truncating the text and adding ellipsis for the label that is too long?
Something like this -
![Screenshot 2021-05-12 at 5 17 42 PM](https://user-images.githubusercontent.com/53913514/117970158-f8031900-b345-11eb-8ca9-89a9ceb0ab69.png)

[2021-05-12 12:10] eps1lon commented on #24511
You did not do any such thing. Like please form an opinion first and then try to find a solution. This "I'm doing X" and then you come up with a justification is clearly not working for you.

[2021-05-12 12:13] #19692 closed

[2021-05-12 12:24] mnajdova commented on #26266
@thewebmaster you should use the `container` directly on `PopperProps`. Also you should provide there `ReactInstance`, the typings would fail otherwise. Not sure how exactly flexlayout-react works, but it should give you access to the current document I would suppose.

[2021-05-12 12:25] mnajdova commented on #26253
@eps1lon @oliviertassinari do you agree with this proposal?

[2021-05-12 12:28] mnajdova commented on #26266
My suggestion would be, try to use a simple react portal in this scenario, probably will help you get a sense of the problem.

[2021-05-12 12:32] oliviertassinari commented on #24511
You are right, the tense is not correct. ~I proposed~ I propose.

[2021-05-12 12:50] mnajdova commented on #26248
I don't think this is related and good practice too. Why would you like to ever hide the label? It would break accessibility.

[2021-05-12 12:52] mehdielbouzidi opened #26267 "ListItemIcon hover not working correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/39504159/117976990-a7cd8c00-b330-11eb-84bc-fec03950e32e.png)

When hovering on a list item containing: ListItemText, ExpandLess and

[2021-05-12 12:57] schester44 commented on #26251
I'm on 14.5 so i'll update to 14.5.1 to see if the issue persists. I have confirmed adding a key (`key={`${disabled}`}`) to the Button is a workaround.

DISABLED
![IMG_0090](https://user-images.githubusercontent.com/15207595/117978380-cc5d4000-b2ff-11eb-9a37-dfb07e3c0945.PNG)

ENABLED
![IMG_0091](https://user-images.githubusercontent.com/15207595/117978405-d3844e00-b2ff-11eb-90c2-cb66ec2f5622.PNG)

[2021-05-12 13:02] schester44 commented on #26251
I was hopeful the latest version of iOS would fix it but no luck. Myself and a co-worker are still seeing the issue on 14.15.1.

I'll use a `key={disabled}` prop for now to get around the issue.

![IMG_0093](https://user-images.githubusercontent.com/15207595/117979195-a84e2e80-b300-11eb-95ac-15199c98e31f.jpg)

[2021-05-12 13:39] hypnodron commented on #26251
Desktop Safari

<img width="374" alt="Screen Shot 2021-05-12 at 18 38 09" src="https://user-images.githubusercontent.com/3454041/117984468-4d90f300-b351-11eb-840c-9ed53d51c278.png">

[2021-05-12 14:09] eps1lon commented on #26253
Let's discuss this in a PR with a concrete implementation and test. Manually going through implementation is not viable.

[2021-05-12 14:27] mnajdova commented on #26253
Sounds good. @Gautam-Arora24 you may start working on this if you want :)

[2021-05-12 15:10] schester44 commented on #26251
Interestingly, for me, the button is working as expected while using desktop safari.

macOS Big Sur 11.2.2, Safari 14.0.3

[2021-05-12 15:25] Gautam-Arora24 commented on #26253
Sure, working on this 🙂

[2021-05-12 17:48] NawarA commented on #17395
I think the issue creator is referring to this section

Where it states there are 4 types of chips, `Input chips`, `Choice chips`, `Filter chips`, and `Action chips`.

Chips, when placed in a "Chip group", have 2 ways of displaying the group.

1. The Chip group has horizontal scroll (what the opener of this issue is stating)

![Screenshot from 2021-05-12 10-33-25](https://user-images.githubusercon

[2021-05-12 18:08] #26266 closed

[2021-05-12 18:16] davidfdriscoll opened #26270 "[Slider] Value label on secondary color slider has primary contrastText"
A Slider with secondary color displays a value label whose color is primary contrastText, not the expected secondary contrastText.

![image](https://user-images.githubusercontent.com/5913839/118020543-2eca3680-b328-11eb-886f-823574e00b99.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and b

[2021-05-12 19:06] oliviertassinari commented on #17395
Is it a duplicate of #10610?

[2021-05-12 20:48] franciscopuyo commented on #19450
The aria-hidden=true makes the modal not navigable by a screen reader and also the code not testable by using getByRole in react-testing-library

[2021-05-13 02:24] siriwatknp commented on #26270
@davidfdriscoll Nice catch, do you want to open a PR for this (your suggestion looks good to me)?

[2021-05-13 03:14] wangming-0215 opened #26272 "`makeStyles()` with `ThemeProvider`"
![App.js](https://user-images.githubusercontent.com/21071580/118072327-25020b00-b3dc-11eb-96d5-66019f1788f9.png)

![defaultTheme](https://user-images.githubusercontent.com/21071580/118072355-33502700-b3dc-11eb-8fa2-3a2e40f28bd8.png)

![makeStyles](https://user-images.githubusercontent.com/21071580/118072376-3f3be900-b3dc-11eb-8a8a-8aa43401083b.png)

And, I got the wrong `theme` object

![image](ht

[2021-05-13 03:40] #26272 closed

[2021-05-13 06:54] angel-langdon commented on #26245
Hi @mnajdova  here is the code sandbox; [](https://codesandbox.io/s/nxn3u?file=/demo.js)

I have been trying to adjust height and width of the StaticDateRangePicker (using makeStyles and also ThemeProvider), however, I was unable to do it. If you could provide an example of how I could achieve this it would be great.

[2021-05-13 07:02] siriwatknp commented on #26267
I think `ListItemIcon` works as expected because of the styling below so the `color` is needed to be overridden.
[code]

[2021-05-13 07:40] MichaelFoss commented on #18310
This handles functional components, but how would you be able to call `update` from a `ref` within a class component?

Consider a class-based component that renders a Tooltip, but the Tooltip's popper contains an image that loads _after_ the popper shows. In this instance, the popper could be positioned incorrectly. How could you hook into the React lifecycle to update the position of the popper a

[2021-05-13 08:25] oliviertassinari commented on #26240
@eps1lon would you rather keep this issue open so we can talk about future improvements or close as a duplicate?

With developers keep struggling on v4, and v5 adding a good +30% more icons, it seems that we need to do something about it.

[2021-05-13 08:31] oliviertassinari commented on #18310
@MichaelFoss You can use ref in class components. I don't get the issue. We might want to ask on StackOverflow for support. If you can migrate your class component to a hook, even better.

[2021-05-13 08:37] #23208 closed

[2021-05-13 08:55] eps1lon commented on #26240
Agreed. I do have some ideas that should hopefully get us down to the v4 install size. Even going so far as just shipping ES modules since we no longer support node 10 but that's a bit more prone to bugs.

- [ ] minify published icons code
- [ ] Replace `import * as React from 'react'` with import of what we need (e.g. just `import { Fragment } from 'react';`
- [ ] just ship ES modules

But that r

[2021-05-13 09:07] mnajdova commented on #26267
@siriwatknp would it make sense if we move the `color: theme.palette.action.active,` in the `ListItem`? Wouldn't the icon inherit it? It would simplify customizations. We should just see how the `ListItemText` would behave in this case.

[2021-05-13 09:40] MichaelFoss commented on #18310
You're absolutely right.

[My updated fork](https://codesandbox.io/s/mui-tooltip-popper-positioning-f6yhv) shows an example of how this is broken, and another example implementing your solution, as well as thorough documentation of what's going on (in case anyone else has the same question).

Thanks for the quick reply!

[2021-05-13 11:03] mnajdova commented on #26245
https://codesandbox.io/s/staticdaterangepickerdemo-material-demo-forked-sd214?file=/demo.js the styles are applied to the first element inside the `StaticDateRangePicker`, but the component itself has some opinion about the size it should take. There is probably room for improvement there, so I am reopening.

[2021-05-13 11:06] angel-langdon commented on #26245
@mnajdova  Thank you very much, now I do not have lots of time because of uni exams, but could I provide a PR in the future?

[2021-05-13 11:38] antoinerousseau opened #26279 "[DataGrid] Broken checkbox selection in v5 alpha 33"
The `checkboxSelection` option of the latest [DataGrid](https://next.material-ui.com/api/data-grid/) from the latest MUI alpha release is broken.
It works with MUI v4.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`checkboxSelec

[2021-05-13 14:13] davidfdriscoll commented on #26270
@siriwatknp Sounds great. I'll open a PR today with my suggestion.

[2021-05-13 14:41] AnielloFalcone opened #26281 "Clicking an interactive tooltip trigger parent onClick"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If an interactive tooltip is child of a button and is clicked, it triggers the onClick of the parent button.

## Expected Behavior 🤔

Interactive tooltip should not trigger any onClic

[2021-05-13 15:16] piranna commented on #8416
Thank you @BuangHosen, using `React.Fragment` works! :-D

[2021-05-13 16:13] mohammadalijf opened #26282 "Localization or custom label for PaginationItem"
PaginationItem should allow users to add custom text in pagination button so that they could customize or localize it.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Pagination component gives you renderItem props which can be used to customize how pagination items are rendered. In order

[2021-05-13 16:32] Philipp91 opened #26283 "[DateTimePicker] Tabs selected icon not visible (foreground=background color)"
- [x] The issue is present in the latest release (5.0.0-alpha.33)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/2501211/118155987-200f7c80-b419-11eb-931b-12f5b29fe6cf.png)
Note the seemingly missing icon on the selected tab. It'

[2021-05-13 16:57] Nondukishor opened #26284 "Module not found: Can't resolve '@material-ui/core/Stack'"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-05-13 17:12] picosam commented on #22342
It is also possible to use Linaria or would there be complications since the CSS is all produced at compile/build time?

[2021-05-13 18:33] NawarA commented on #17395
I took a look at #10610. I don't think so. This feature request is greater in scope than that feature request; and this feature request supersedes the scope of that request.

I think its requesting a component to "house Chips".

The best way I can think about it is a "Chip Group" component.

The "Chip Group" has a "horizontalScroll" prop, that when present, enables horizontal scrolling. If that pr

[2021-05-13 18:53] #11646 closed

[2021-05-13 18:53] #25313 closed

[2021-05-13 19:27] NawarA opened #26286 "In MUI v5, automatically use Tooltip component when passing "title" prop"
Many MUI components can receive a `title` prop, that renders a tooltip.

![image](https://user-images.githubusercontent.com/2067616/118176009-b1fd9200-b3e5-11eb-9566-b11f38fee5a1.png)

In order for MUI to render a MUI Tooltip, a developer has to wrap the component in the `Tooltip` component.

![image](https://user-images.githubusercontent.com/2067616/118176151-e5d8b780-b3e5-11eb-86df-02be76fb512d.

[2021-05-13 22:15] vicasas commented on #26284
Hi @Nondukishor, could you provide us with more information about the error please? this happens in v5?

[2021-05-14 01:11] devhyunjae opened #26287 "Any display: grid support plan?"
https://material-ui.com/components/grid/

is still a great tool,

But in some cases, i want to use `display: grid` and these families in `<Box />` component or other comp.
(ref: https://chakra-ui.com/docs/layout/grid)

Any plans for this?

[2021-05-14 01:19] slayybelle opened #26288 "[TextField] red error text fails a11y contrast ratio requirement of 4.5:1"
Even on a white background, the error text for [TextField] is flagged at < 4.5:1 ratio, unacceptable for accessibility

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The default red error text is too light against the best-case w

[2021-05-14 01:54] slayybelle commented on #26288
Here's a work-around I will do:  Add to createMuiTheme:
[code]
where:
`export const COLOR_DM_BG_LIGHTEST_RED = "#DE3421";`

[2021-05-14 03:03] siriwatknp opened #26289 "[Typescript] no `hiddenLabel` on FilledInput"
`FilledInput` display typescript error when receive `hiddenLabel` as prop

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The logic works fine, only type issue

[code]

## Expected Behavior 🤔

Should not throw type error

## Steps

[2021-05-14 03:43] cjduncana opened #26291 "[Stepper] Optional prop in StepLabel does nothing when inside StepButton"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The `StepLabel` component does not render the `Typography` component that I place inside the `optional` prop if this component is inside a `StepButton` component.

## Expected Behavio

[2021-05-14 05:05] GeorgeFkd commented on #12858
I accidentally stumbled upon a workaround for something related(im not that experienced in material ui) which is as simple as this:
1) Add a className on the progress bar (let's say volumeBar)
2) Css: .volumeBar > * {  background-color:green !important; }
This makes the current progress bar(the completed part) appear on your color of choice

[2021-05-14 09:08] jie-chen opened #26293 "Request for a stop-circle icon"
Hi, I know this might be trivial but it would be great if we can have a stop-circle icon like this one https://iconify.design/icon-sets/mdi/stop-circle-outline.html since there are already official play-circle and pause-circle icons.

[2021-05-14 10:00] vishalrajole commented on #16359
Thanks for this great progress so far. I indeed would say, this is a nice to have feature. I am searching for same with Material UI inbuilt/officially supported for vertical tabs. But since it is not official yet, I had to convince UX team for time/efforts required as it is not from library itself and then we dropped it off.

IMO, when exploring Material UI docs, UX people check for components ava

[2021-05-14 10:01] AnKiTKaMbOj18 opened #26294 "Mobile Screen | Snackbar Stack Messages | enqueueSnackbar's anchorOrigin property with horizontal value "center" is not aligned center instead aligned right and out of screen"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
In current behaviour when  Snackbar stack messages and in enqueueSnackbar when we pass anchorOrigin object with horizontal property as "center" for mobile devices its not actually alig

[2021-05-14 11:16] mnajdova commented on #26281
Out of curiosity why are you adding the `Tooltip` on the text inside the button? Why not wrapping the `Button` with `Tooltip`? Something like https://codesandbox.io/s/material-demo-forked-34x67

[2021-05-14 11:27] mnajdova commented on #26282
@mohammadalijf Why don't you intercept and update the `page` prop that is sent to the `PaginationItem` component?

[code]

Wouldn't this work?

[2021-05-14 11:38] mohammadalijf commented on #26282
@mnajdova I tried to use string for page but because I am using Typescript the compiler complained about type mismatch. In Javascript it might work but in Typescript no luck. And also in my own opinion, having a label would have a better semantic in the code.

https://github.com/mui-org/material-ui/blob/d7993b558e25baa347ee07601d36dd3960a97975/packages/material-ui-lab/src/PaginationItem/Pagination

[2021-05-14 12:13] ahmed2m commented on #17142
Any update on this? I had the same issue and adding a global override for the width for spacing classes indeed did work fine for safari and it didn't mess up anything in chrome.

[2021-05-14 12:44] mnajdova commented on #26282
Got ya, thanks for the clarification, in my opinion it makes sense, would you like to create a PR?

[2021-05-14 12:50] mnajdova commented on #26287
@devhyunjae thanks for the issue. Is this guide enough? https://next.material-ui.com/system/grid/ Seems simple enough, I am not sure if it will be much valuable for creating new component. Cc @oliviertassinari

[2021-05-14 13:00] mohammadalijf commented on #26282
@mnajdova Sure I will create a PR. Thank you for your time.

[2021-05-14 13:02] devhyunjae commented on #26287
@mnajdova So the next v5 will have this? Awesome :)
One more wish will be, I will be happy to have breakpoints for responsive

ex

gridTemplateRows: {xs: '1fr', md: '1fr 1fr'}

[2021-05-14 13:06] #26287 closed

[2021-05-14 14:40] mohammadalijf commented on #26282
@mnajdova Sorry for inconvenience... documentation link for source code was pointing to a commit were it was outdated. On `next` branch where `Pagination` is moved to core, it has already been fixed. I searched Issues but I couldn't find a related issue.
In 91f2bb22dee473e9dbbb90a84a5d9bc898f7d760 page type is changed from `number` to `React.ReactNode` which will resolve the issue.
Thank you

[2021-05-14 14:40] #26282 closed

[2021-05-14 16:06] IIIristraM opened #26296 "Material UI styles are very slow"
Creating styles with `makeStyles` is up to 10 times slower comparing to `react-jss` which has same css-in-js basis (jss) and same approach (useStyles hook).

Especially performance degrades when using dynamic css properties.

[code]

Tested with same jss configuration used by material-ui by default.
material-ui: v4.11.4

## Current Behavior 😯

Generating styles with computing props is very slow

#

[2021-05-14 16:51] mnajdova commented on #26286
@NawarA not sure it is smart to bundle the `Tooltip` with every component we export. You can do this on your side and provide your version of the components, that are designed based on your requirements. Your developers can import the components from different location, and those components can support the `title` prop that you mentioned.

[2021-05-14 16:57] mnajdova commented on #26296
Duplicate of https://github.com/mui-org/material-ui/issues/17370

[2021-05-14 16:57] #26296 closed

[2021-05-14 17:02] mnajdova commented on #26282
Perfect, thanks @mohammadalijf

[2021-05-14 18:36] slayybelle commented on #25399
Any way you guys can roll this fix into 4.x?

[2021-05-14 19:27] shaunrstewart opened #26297 "InputProps adding props to tthe parent div and not the input"
Im trying to add data-testid "Enter Policy Field" to a TextField so i can build unit test around the input. However, for some reason the Input Props adds the attributes to the parent div and not the input itself.

`
import React from 'react';
import TextField from '@material-ui/core/TextField';
import IconButton from '@material-ui/core/IconButton';
import InputAdornment from '@material-ui/core/Inp

[2021-05-14 19:30] guilsa opened #26298 "Official doc should warn users to avoid popularizing one-off customization patterns"
Have the team considered adding info warnings to pages like [1] so that developers don't overreach into one-off customization techniques when they should be writing re-usable CSS?

[1] https://material-ui.com/customization/components/#customizing-components

[2021-05-14 20:19] awdyson opened #26299 "prop.theme required in some system functions but missing from types"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There's a type conflict when calling system functions in a JSS-like style.

![image](https://user-images.githubusercontent.com/5612248/118322638-51895600-b4b4-11eb-9ec9-5c31b1335639.p

[2021-05-14 20:38] shaunrstewart commented on #26297
Im closing this issue, I did not realize that InputProps and inputProps were two completely different props. fixed it with following code

`
import React from 'react';
import TextField from '@material-ui/core/TextField';
import IconButton from '@material-ui/core/IconButton';
import InputAdornment from '@material-ui/core/InputAdornment';
import magnifyingGlass from './magnifying-glass.svg'
import m

[2021-05-14 20:38] #26297 closed

[2021-05-14 22:25] oliviertassinari commented on #26287
Duplicate of #9513

[2021-05-14 22:35] oliviertassinari commented on #26287
@devhyunjae We have a demo with the system now, in the Grid component page: https://github.com/mui-org/material-ui/issues/9513#issuecomment-803701751

This is supported.

@mnajdova This makes me think about the Stack component, as display flex + gap CSS (no older iOS support) would yield the same output. From my perspective, the main value of creating a new component is to make it easier to read t

[2021-05-14 23:20] AlissonRS commented on #23472
Some examples don't show the imports, like the first one on top (Simple Tabs), so I assumed it was coming from `@material-ui/lab/TabPanel`.

After one hour looking for solutions (I thought it was a silly mistake from me), I ended up here and now looking at other examples to find the correct `import` to use, I can see there is a custom component for `TabPanel` which has **nothing to do** with `@mat

[2021-05-15 04:40] amitava82 opened #26300 "FormControlLabel is required with latest alpha release"
FormControlLabel without label brakes the component with 5.0.0-alpha.33. Prior to this release it was optional.
[code]

- [X ] The issue is present in the latest release.
- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When label is not provided FormControlLabel throws error `Cann

[2021-05-15 05:06] DonG4t0 opened #26301 "Bug in the official documentation as well as when replicated in development"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/68222436/118348502-672c6900-b510-11eb-9810-4981519de9d9.png)

## Expected Behavior 🤔
![image](https://user-images.githubusercontent

[2021-05-15 07:34] eps1lon commented on #26293
That icon already exists: `import StopCircleOutlinedIcon from '@material-ui/icons/StopCircleOutlined';`

[2021-05-15 07:34] #26293 closed

[2021-05-15 07:37] eps1lon commented on #26301
Thanks for the report:

Could you elaborate what this means? What are you executing?

[2021-05-15 07:38] eps1lon commented on #26281
This is expected behavior for React portals in general, and Tooltip specifically. As Marija suggested, you should wrap your `Button` instead which is also important for a11y concerns (labelling, tooltip open on button focus etc)

[2021-05-15 07:38] #26281 closed

[2021-05-15 07:46] eps1lon commented on #26286
I would suggest the same.

 It's not even clear that you want our `Tooltip` when you pass a `title` because our `Tooltip` works quite different compared to `title`.

We can close this since the problem is already solved and the suggested implementation has drawbacks for bundle size.

[code]

[2021-05-15 07:46] #26286 closed

[2021-05-15 12:18] jie-chen commented on #26293
Hi, thanks for pointing out. It's weird that this icon does not appear with either keyword 'circle' or 'stop' (https://material-ui.com/components/material-icons/)

[2021-05-15 12:46] oliviertassinari commented on #26174
I'm closing as we have no leverages

[2021-05-15 12:46] #26174 closed

[2021-05-15 13:32] cjduncana opened #26304 "[Stepper] Add componentsProps.label to StepLabel"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I want to add a `TypographyProps` argument to `StepLabelProps` in the same vein as `StepIconProps`.

## Examples 🌈

### How I currently code

[code]

### How I wish to code

[code]

## Motivation 🔦

I want to add an ARIA property to the span

[2021-05-15 13:36] cjduncana commented on #26304
Another possible solution to my direct problem is to have already that `aria-current="step"` when `active` is `true` in the `StepLabel` component on the `Typography` component. Both solutions are improvements to the component, and I'm willing to create a PR if y'all OK with these ideas.

[2021-05-15 14:17] cjduncana commented on #26304
I just tried using Apple's screen reader, VoiceOver, for the first time. I just realized that it reads the current step only if I place `aria-current="step"` on the `StepButton` component. Making my use case for this feature request obsolete.

I still believe that we should add `TypographyProps` to the `StepLabel` component. Do y'all think it's still a good idea?

I suggested adding `aria-current=

[2021-05-15 15:56] shmuelhizmi opened #26307 "data grid - can't be horizontally scrolled when using it under element with dir="rtl" attribute"
when using the nonpremium data grid component under a parent element with the dir attribute set to "rlt" the grid can't be horizontally scrolled

- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

data grid can't be horizontally scr

[2021-05-15 16:41] bhairavee23 commented on #22208
Hi I'm sorry I didnt get a chance to raise a PR for this one. It still looks open so I'll try it out now

[2021-05-15 17:00] oliviertassinari commented on #22208
@mnajdova has fixed the issue in #26228, and added a test case: https://github.com/mui-org/material-ui/pull/26228/files#diff-595bac326033698002de15ce1cb429c5f74253a42241c7ba9d49fa0379d74079R32.

[2021-05-15 17:00] #22208 closed

[2021-05-15 17:05] bhairavee23 commented on #22208
okay thanks!

[2021-05-15 22:49] oliviertassinari commented on #22342
@picosam We don't support Linaria. Maybe we will look into it for v6. It's unclear if it will ever be powerful enough for the API we want to support.

[2021-05-15 22:50] oliviertassinari commented on #20706
@m4theushw OK, it would be interesting to give it a try and see how it goes.

[2021-05-15 23:08] oliviertassinari commented on #25189
@membla looking at the syntax of the container query, it seems something that we could easily support. The main challenge is about the browser support. At which point should we consider the feature with enough adoption to expose an API for it?

[2021-05-15 23:56] NishargShah opened #26311 "Textarea-autosize with error boolean"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Please provide `error` boolean in `textareaautosize` component.

https://material-ui.com/api/textarea-autosize/

[2021-05-16 00:07] membla commented on #25189
Yes, that's the question. But at least I think the scene is firmly set for it now. So should be something to be taken into consideration in future planning I reckon, I guess it also depends on what kind of integration/interoperability with the current @media query system you'd aim for.

Anyway, my particular use case at the moment for something like this was very niche, I wanted to support @media

[2021-05-16 00:45] oliviertassinari commented on #19696
@vicasas maybe we should test for a children type string directly instead of no type? But otherwise, it looks like an option with potential. The biggest challenge of this tradeoff will probably be documentation. Will developers be able to understand what's going on? To some extent, we have already used the pattern in the past when a developer provides a Typography.

We have recently worked on a si

[2021-05-16 01:09] alanszp commented on #21745
@oliviertassinari would like to see this in the next alpha release. Would you like me to make a PR?

[2021-05-16 09:35] oliviertassinari commented on #21745
@alanszp Yes, a pull request would be great.

[2021-05-16 09:56] #26157 closed

[2021-05-16 10:04] oliviertassinari commented on #13597
@m4theushw None of these two options seems to be ones we can follow, based on what Sebastian raised.
I would extend our options to these new ones:

- **Option 3**: we do nothing. One could argue that this issue got little to no traction in 3 years, that the button + secondary action is a hedge case.
- **Option 4**: we create a new `ListItemButton` component, we use it two cover 3 use cases

nav >

[2021-05-16 12:45] #19329 closed

[2021-05-16 12:48] mbrookes commented on #21911
https://github.com/mbrookes/material-uios It's out of date (using v4), but might still be useful to someone.

[2021-05-16 13:00] #26270 closed

[2021-05-16 18:28] alanszp commented on #21745
@oliviertassinari done! I spotted another component with the same issue: Dialog. Wil make another PR

[2021-05-16 20:00] JCMais commented on #13875
If anyone is trying to use a new color palette with a button in v4, here is one way to do it:

1. Do the changes mentioned by @oliviertassinari above about augmenting `@material-ui/core/styles` (this works in v4)
2. Create a new `Button` component like the following one:

[code]

[2021-05-16 20:54] zehawki commented on #25189
Given slow adoption rates, I would imagine it would be a long time before Container Queries can be relied on, or?

@oliviertassinari your demo (https://codesandbox.io/s/material-demo-forked-c5zpk?file=/demo.js:494-767) looks absolutely perfect. Doesnt that already solve the issue? I will try to implement the same and report back.

[2021-05-16 21:47] zehawki commented on #25189
Sorry now I'm a bit confused. The Box API (https://material-ui.com/components/box/) does not have the props you mentioned.

[2021-05-16 21:55] scobenes commented on #26300
Yea I ran into this as well and tracked it down to not checking if label is null/undefined to here:
https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/FormControlLabel/FormControlLabel.js#L132

Snuck in on this commit https://github.com/mui-org/material-ui/commit/92ae287e6031b3085e852beabc9f65e91bab3130#diff-ab78c15706b98b3614de23356164600fdf318dc784f3875ac637bc5a300cf490R13

[2021-05-16 22:37] alanszp opened #26330 "[Dialog] Fix typescript support for custom breakpoints"
Dialog.d.ts typings has hardcoded breakpoints in its definition instead using `Breakpoint` from `createBreakpoints`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

This makes typescript fail when you add custom breakpoints and wa

[2021-05-16 22:38] alanszp commented on #21745
@oliviertassinari just created another issue for the Dialog. Wolud like to know what to do with the autogenerated propTypes, and which would be the best way to change them as you did on the Container one.

https://github.com/mui-org/material-ui/issues/26330

[2021-05-16 22:47] oliviertassinari commented on #26330
See #26328 as a baseline for the implementation

[2021-05-16 22:49] oliviertassinari commented on #25189
@zehawki The docs of v4 !== the docs of v5.

[2021-05-16 23:04] oliviertassinari commented on #26304
This looks close to https://github.com/mui-org/material-ui/issues/19696#issuecomment-841746100

[2021-05-16 23:07] oliviertassinari commented on #26301
I'm closing as we do no longer have this page in the latest version of v5. See https://next.material-ui.com/es/components/buttons/#LoadingButtonsTransition.tsx, it's no longer translated.

[2021-05-16 23:07] #26301 closed

[2021-05-16 23:14] #26260 closed

[2021-05-16 23:17] oliviertassinari commented on #26286
Almost a duplicate of #20991

[2021-05-16 23:17] cjduncana commented on #26304
Yeah, I do see the similarities, @oliviertassinari. I'll write up a PR similar to #25883 but for the `StepLabel` component. What about the other question I have about `aria-current="step"`? Should I create a PR to add that to the `StepButton` component when it is active?

[2021-05-16 23:18] oliviertassinari commented on #26297
Duplicate of #11377

[2021-05-17 02:55] SandersAaronD opened #26332 "[example] Gatsby sandbox link doesn't work out-of-the-box"
The gatsby example sandbox link doesn't run because sandbox defaults to node 10. It's simple to fork the base codesandbox in order to bump the version with a configuration file, and the readme for the gatsby example should be updated.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe t

[2021-05-17 02:55] haebinseo opened #26333 "[Radio] Radio not getting checked when the value is not a string"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I passed a number type data to the `value` property of the Radio component.

And then, none of the radio inputs were checked whenever I click any of them.

Now I solved the problem by

[2021-05-17 06:31] siriwatknp commented on #26300
@amitava82  Can you explain what is the use case for using `FormControlLabel` without label prop? If label is actually required, I see that the DX can be improved by throwing better error (in dev env).

[2021-05-17 06:39] siriwatknp commented on #26311
please provide more detail about what you are trying to achieve and paste demo (codesandbox) so that it is able to reproduce

[2021-05-17 06:45] Mistes974 commented on #25189
Correct me if I'm wrong but we can do the same with flexbox : https://codesandbox.io/s/material-demo-forked-67jpg?file=/demo.js
Unlike the component Grid where we can say `xs = 6 / md = 8 / lg = 12` , I think this solution with grid or flexbox is ok for relatively simple layouts.

[2021-05-17 06:46] pooryak commented on #23877
I have the same issue I looked in the colors files in v4 files, the difference was below codes
`Object.defineProperty(exports, "__esModule", {
  value: true
});
var _default = amber;
exports.default = _default;`

I changed the v5 colors with that export's style and the errors gone.

[2021-05-17 07:01] siriwatknp commented on #26333
It works for me, please take a look and share your use case.
https://codesandbox.io/s/reproduce-radio-value-kvhpk?file=/src/App.tsx

[2021-05-17 08:02] NishargShah commented on #26311
Here is the sandbox URL: https://codesandbox.io/s/damp-browser-31tju?file=/src/index.js

[2021-05-17 08:12] siriwatknp commented on #26311
I guess that is what you want.

[code]

https://material-ui.com/components/text-fields/#multiline

[2021-05-17 08:23] NishargShah commented on #26311
NO

I need the same behavior of `TextArea` into `TextAreaAutoSize`, like when I am giving `error` prop to true in `TextArea` then its give me the nice `red` border but its not working on `TextAreaAutoSize` so I am asking for make `error` prop that works same as `TextField`

**TextField**

[code]

**TextAreaAutoSize**

[code]

Codesandbox: https://codesandbox.io/s/damp-browser-31tju?file=/src/index

[2021-05-17 09:48] gkamesh98 commented on #26333
Hi @haebinseo,
I think that your values that are getting from the backend and that are being used in the application.
I think it seems that value that is obtaining the backend is in the string type.
Since in the condition there is also type check. Due to this the radio button is not checked.

Can you once check that values given in the radio button and value assign are of same type.

[2021-05-17 09:49] mnajdova commented on #26291
You need to set the `optional` on the `StepButton`: https://codesandbox.io/s/optional-with-button-fail-forked-09hcy?file=/src/Demo.tsx

[2021-05-17 09:49] #26291 closed

[2021-05-17 09:57] mnajdova commented on #26294
@AnKiTKaMbOj18 I am closing as it looks like there is not enough information for us to replicate. If you create a new sandbox feel free to re-open. From what I can see, the styles are coming from `makeStyles` which looks like some overrides.

[2021-05-17 09:57] #26294 closed

[2021-05-17 10:00] amitava82 commented on #26300
Label was not required for `FormControlLabel`. Is this actually breaking (introduced in latest alpha) change without any warning. Therefore, it is a bug. We use it to wrap Checkbox/Radio with Form library.
[code]

[2021-05-17 10:02] cjduncana commented on #26291
Excellent, that did the trick! Should we improve the documentation to reflect this potential pitfall? I was thinking something along the lines of modifying [this page](https://material-ui.com/components/steppers/) to mention using the `optional` argument on the `StepButton` component instead of `StepLabel` when wrapping the latter with the former.

[2021-05-17 10:03] JamesDonnelly opened #26337 "MuiOutlinedInput-root focus class stays applied on Chrome if focussed Select is disabled and re-enabled before being blurred"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On Chrome (but not Firefox), if a Select component has focus and is both disabled and re-enabled, upon moving focus onto another element the `MuiOutlinedInput-root` remains active giv

[2021-05-17 10:15] mnajdova commented on #26300
My first vote would be to make the `label` required, I don't see what is the use-case of using a `FormControlLabel` without a `label`. If you can share one it would be great!

If we don't want to make this breaking change, this diff should fix the issue and preserve the previous behavior:
[code]

[2021-05-17 11:21] 0xF013 opened #26338 "[styled-engine-sc] `styled()` doesn't respect the options"
https://github.com/mui-org/material-ui/blob/next/packages/material-ui-styled-engine-sc/src/index.js#L13

Doesn't this line completely undo whatever happens in the conditional statement above?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Be

[2021-05-17 11:48] #26289 closed

[2021-05-17 12:42] #24855 closed

[2021-05-17 12:46] Boimb commented on #25011
@oliviertassinari , I know this issue is closed, but felt not to open a new one for my question:
How can I override `.Mui-contained.Mui-disabled`?
As far as I tried, `disabled` in classes does not take precedence over the "composed class".
I feel there must be a better way than adding  `!important` to my property :)
Thx.

[2021-05-17 12:59] mnajdova commented on #26338
Correct, it needs to go in the `else` statement. It is a regression from https://github.com/mui-org/material-ui/pull/26098. Also, would be great to add a test case for it. Using the options is important, especially for the `shouldForwardProp` option. This should do it:

[code]

Would you like to create a PR?

[2021-05-17 13:00] 0xF013 commented on #26338
@mnajdova if nobody steps up until tomorrow, I will (just worried about the whole ceremony)

[2021-05-17 13:31] pasDamola commented on #26338
Hi @mnajdova @0xF013 can I pick this up?

[2021-05-17 13:32] 0xF013 commented on #26338
@pasDamola be my guest

[2021-05-17 13:32] pasDamola commented on #26338
Alright thank you

[2021-05-17 13:53] oliviertassinari commented on #25011
@Boimb Note that in v5, we document the usage of:

[code]

[2021-05-17 14:13] #21745 closed

[2021-05-17 14:48] pasDamola commented on #26338
Hi, @0xF013 I have submitted a pull request

[2021-05-17 15:00] Clemens85 opened #26340 "Cypress e2e Testing: Improve Select Box"
[x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The Select-Box has some real weird behavior when trying to make an e2e test with Cypress (which is used quite common nowadays). There exist some still open questions on stackoverflow (e.g. https://stackoverflow.com/questions/65363508/how-to-tri

[2021-05-17 15:07] Boimb commented on #25011
Thx for replying!
As I'm going to switch soon to V5, can I stick to `makeStyle `or go early for `styled `?

[2021-05-17 15:28] slinkardbrandon commented on #13570
For anyone trying to accomplish this with the Material UI "styled component API" here's how I did it:

[code]

[2021-05-17 15:30] eps1lon commented on #26340
Thanks for the report.

Could you provide a minimal, cloneable repo that we can tinker with?

[2021-05-17 15:33] slinkardbrandon commented on #13570
Additionally, I thought the text looked like it had a weird placement with the border radius addition so I also added padding to the left:

[code]

[2021-05-17 15:56] alanszp commented on #26330
Already created by @jeferson-sb
https://github.com/mui-org/material-ui/pull/26331

[2021-05-17 16:53] lukehillonline opened #26341 "Remove space before asterisk or make FormLabel asterisk value customisable"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Possibly related to https://github.com/mui-org/material-ui/issues/22538

## Summary 💡

Currently when a `<TextField />` has `required={true}` an asterisk is automatically added to the child FormLabel behind the scenes. This is the desired outcome and is gr

[2021-05-17 17:04] bmmathe commented on #14101
The reason for adding the hook would be the same reason Material-UI added the `useWidth` HOC.  What I'm having to do now is copy/paste the same `useWidth` demo hook into all of my new applications which to me indicates it should just be in the framework.

[2021-05-17 17:09] EsoterikStare opened #26342 "[Autocomplete] ListboxComponent type prevents easy usage of custom ListboxComponent in TS."
In the Autocomplete demo for Virtualization, the TS example passes the ListboxComponent prop as a different type explicitly where it's implemented.

![image](https://user-images.githubusercontent.com/8852434/118528008-13cc3d80-b6ff-11eb-904c-c8c71309ac36.png)

Is there a reason that the type of the `ListboxComponent` prop couldn't be broadened from `React.ComponentType<React.HTMLAttributes<HTMLEle

[2021-05-17 17:11] Moonwalkerr commented on #26260
hey thanks for replying, actually m using vscode, and for now its working for me, if some error comes in future, i ll surely upload on sandbox and reply to this comment! thanks again

[2021-05-17 17:41] AndrewOttavianoAbb opened #26343 "[Table] DataGrid Not Displaying Rows After Prop Change"
I am running into a situation where data is not being displayed in the free datagrid after pagination change.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I change the rows prop in the data grid after pagination, the new ro

[2021-05-17 17:55] AndrewOttavianoAbb commented on #26343
Another thing I noticed after some further testing. If you change the page size and add some data to the `rows2` data set (the one that replaces the original data set), and page forward, it seems to start the second data set on a later page and not the first page as expected.

The weird thing is that when I try to reproduce this in my search project, it doesn't match the live example; it still won

[2021-05-17 18:43] EsoterikStare commented on #26342
Also, I'm happy to make a PR if it's found that this seems like a reasonable change.

[2021-05-17 19:06] pasDamola commented on #26338
thanks for the opportunity @mnajdova @0xF013

[2021-05-17 19:15] gvanriper opened #26344 "[Table] DataGrid Does not Properly Render Until Set Focus."
I am setting a loading effect on a button when clicked on the row. This should then end the loading effect once the loading is set to false. The loading effect does not render until focus is set back to the DataGrid.

## Current Behavior 😯

I am setting a loading variable to disable the button and use the CircularProgress to let the user know it's loading. This gets stuck on disabled and the Circu

[2021-05-17 19:31] CAIOHOBORGHI opened #26345 "Module '"@material-ui/core"' has no exported member 'Hidden'"
Module '"@material-ui/core"' has no exported member 'Hidden'

Version 5.0.0-alpha.33

- [ X ] The issue is present in the latest release.
- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Module '"@material-ui/core"' has no exported member 'Hidden'
## Expected Behavior 🤔
Should ha