[2016-03-25 17:06] oliviertassinari commented on #3586
I could re-implement this package as a HoC but I don't see how this would help with this issue.
`<RenderToLayer />` is also returning `null` in the render method.

[2016-03-25 17:16] thomasgwatson opened #3805 "Checked/Unchecked toggle icon behavior consistently generates unexpected result"
## Problem Description

The icons don't render 'properly' on the checkbox when 'checked':

When unchecked
![unchecked](https://cloud.githubusercontent.com/assets/5193218/14049151/971c4300-f270-11e5-9d43-67035fa883c2.png)

When checked
![checked](https://cloud.githubusercontent.com/assets/5193218/14049152/97d56a60-f270-11e5-918c-ff97e8661ef0.png)

[code]
## Versions

- Material-UI: 0.14.4
- React:

[2016-03-25 17:19] echenley commented on #3586
The `<noscript />` wrapper in Popover is only necessary because there's two children. If `react-event-listener` were an HoC, there would only be a single child and no need for the explicit `<noscript>` wrapper.

[2016-03-25 17:22] echenley commented on #1676
@morenoh149 you can fix it by overriding the dialog styles: https://github.com/callemall/material-ui/issues/2322#issuecomment-163433242.

There's not really a perfect solution, unfortunately. You could also try something like this:

[code]

[code]

[2016-03-25 17:34] mbrookes commented on #3586
Sure, but why `<noscript>`?

[2016-03-25 17:38] mbrookes commented on #3803
You can glance at a reference page by looking at the google icons page. :smile:

:question: It is.

[2016-03-25 17:43] echenley commented on #3586
I'm not entirely sure, but React renders `<noscript>` when a render function returns `null`. I'd imagine since both `<EventListener />` and `<RenderToLayer />` render `null`, that's why it was chosen?

[2016-03-25 17:48] mbrookes commented on #3586
Maybe. Anyway, rather than revert to <noscript> now that `react-event-listener` appears to be fixed, I'll just make the `<div>` `<div style={{display: 'none'}}>`

[2016-03-25 18:06] nathanmarks commented on #2738
Please refer to #3614 for a discussion on responsive helpers in the lib

[2016-03-25 18:06] #2738 closed

[2016-03-25 18:08] nathanmarks commented on #2950
Refer to #3614 for discussion on better responsive component support.

[2016-03-25 18:08] #2950 closed

[2016-03-25 18:09] nathanmarks commented on #2639
Refer to #3614 for a discussion on adding responsive component + layout support to the lib

[2016-03-25 18:09] #2639 closed

[2016-03-25 18:09] nathanmarks commented on #2470
Refer to #3614 for a discussion on adding responsive component + layout support to the lib

[2016-03-25 18:09] #2470 closed

[2016-03-25 18:11] nathanmarks commented on #157
Refer to #3614 for a discussion on adding responsive component + layout support to the lib

[2016-03-25 18:11] #157 closed

[2016-03-25 18:13] nathanmarks commented on #2737
Duplicate of #2832

[2016-03-25 18:13] #2737 closed

[2016-03-25 18:43] #3774 closed

[2016-03-25 18:46] petermikitsh commented on #2244
I was able to resolve this by adding the following header to my universal rendering endpoint in express:

[code]

[2016-03-25 18:53] #3802 closed

[2016-03-25 18:58] petermikitsh opened #3807 "[Tabs] Default 'width' to 'auto' instead of '100 / n%'"
I propose considering that `Tab` components are not equal width by default. If you are putting content in the `Tab` elements of variable width, the tabs do not render gracefully:

In the situation below, my `Tabs` are in side an `AppBar` component.

`Tabs` with 'width' set to '100 / n%' (in this case, 20%):

<img width="506" alt="screen shot 2016-03-25 at 11 55 50 am" src="https://cloud.githubuser

[2016-03-25 19:10] ccomb commented on #1783
@alitaheri could you point me to the other parts which were broken with this commit so I can have a look at them?

[2016-03-25 19:16] oliviertassinari commented on #3807
This PR https://github.com/callemall/material-ui/pull/2861 was going into this direction. You can read it if you are interested.

I think that we should have a property to enable this feature :+1: .
I'm not sure that it should be the default.

[2016-03-25 20:15] tjunnone opened #3808 "SelectField highlight overflows in 0.15.0-alpha.2 if width set"
Problem Description
-------------------
- Create a Select Field explicitly specifying a width: <SelectField style={{width: 400}}> with some MenuItem children
- Open the drop down menu, and hover over any of the MenuItem
- The highlight of the MenuItem overshoots the bounds of the drop down menu to the right

Versions
--------
- Regression in 0.15.0-alpha.2
- Works in 0.14.4

[2016-03-25 20:15] tjunnone commented on #3808
![selectfield-dropdown](https://cloud.githubusercontent.com/assets/923483/14053001/d70753ea-f2a4-11e5-96a4-4a86202131bc.png)

[2016-03-25 20:27] oliviertassinari commented on #2435
A lot has been done in 4 months :D. This issue gaved us a good direction. We haven't done things exactly as they are discribed here.

I think that we can close it. We could open new issues for anything missing.

[2016-03-25 21:22] petermikitsh commented on #3807
I think it'd be a sensible choice to default the width to 'auto'. It would do no harm from a backwards compatibility perspective. Anyone currently using the Tabs component with Tabs that have same width would not be impacted, as it would render identically.

[2016-03-25 21:25] mbrookes commented on #1783
@ccomb https://github.com/callemall/material-ui/pull/3492#issuecomment-201514245

[2016-03-25 21:35] mbrookes commented on #3807
@alitaheri is still working on a fork of ##2681. Might be work waiting until he's back from vacation to see whether this is already covered.

[2016-03-25 21:41] mbrookes opened #3809 "[Docs] Consider having separate API reference from Components guide"
Ref: https://github.com/callemall/material-ui/issues/2435#issuecomment-163043486

@newoga wrote:

"We currently don't have 1-to-1 mapping between material design components and material-ui components. And even though it may be something to strive for, I think it will simply be impossible or impractical. For example, things like tool tips are easier to implement as props of other components and may

[2016-03-25 21:44] mbrookes opened #3810 "[Core] Rename components that do not match specification"
Ref: https://github.com/callemall/material-ui/issues/2435#issuecomment-163043486

@newoga wrote:

"Many of these components we may be able to just alias or export under a different name to maintain backwards compatibility until we can remove the old on all together.

Some of the ones I've noticed so far:

Toggle -> Switch
Table -> DataTable
Dropdown Menu, Select Field -> Dropdown"

[2016-03-25 21:45] mbrookes commented on #2435
I've extracted the couple of areas that are still up for discussion to separate issues.

[2016-03-25 21:45] #2435 closed

[2016-03-25 22:35] mbrookes commented on #540
https://github.com/callemall/material-ui/tree/master/examples

[2016-03-25 22:35] #540 closed

[2016-03-25 22:37] #663 closed

[2016-03-25 23:00] #733 closed

[2016-03-25 23:01] mbrookes commented on #863
See also #707.

[2016-03-26 00:42] newoga commented on #3810
@mbrookes That sounds like a good idea. We might want to reconsider which ones, if any, we want to rename. Maybe it's because I've been on the project for too long but for some reason I'm not as hard pressed to rename them :laughing:.

[2016-03-26 00:50] mbrookes commented on #3810
Probably because you wrote it! :laughing:

[2016-03-26 01:12] newoga commented on #3810
LOL, just noticed that. It has truly been a while.

Yeah, let's put that on hold. We have enough happening for 0.15.0. I think LeftNav was the biggest violator, we can decide if we want to change anything else after.

[2016-03-26 08:37] fabienjuif commented on #3764
Ho my !
I was looking for this for like 2 hours straight !
Thanks a lot to point it out.

[2016-03-26 13:09] stueynet opened #3813 "No tooltips on FloatingActionButton"
Would be nice to have the tooltip available on any button component.

[2016-03-26 13:11] yanivnizry commented on #779
+1

[2016-03-26 19:18] kouak commented on #3409
This workaround is not working anymore.

https://github.com/callemall/material-ui/pull/3263/commits/8587247caa02a3d82d1cf77f3b0b4d5ce4385abb breaks it

EnhancedButton styling is now hardcoded and is not overridable.

[2016-03-26 22:55] mbrookes commented on #1818
Fixed with #3513.

[2016-03-26 22:55] #1818 closed

[2016-03-26 22:58] mbrookes opened #3815 "[RaisedButton] Hover shading not full height of button with icon without label"
Problem Description
-------------------

From the docs site:

![image](https://cloud.githubusercontent.com/assets/357702/14062853/13427702-f3a6-11e5-8bdd-7666f1fc3464.png)

Versions
--------

- Material-UI: HEAD @45734e5
- React: Any
- Browser: Chrome 49

[2016-03-26 23:22] ciokan opened #3816 "Selectable table quite impractical"
I'm drawing a table which has `enableSelectAll={true} multiSelectable={true}` and it's hard to use it at all besides showing some data. My current issues so far:

- users can't select any kind of text from the table since the row gets re-drawn when clicked and, besides the fact that the row gets selected/unselected, the selected text also is lost. Being able to perform basic tasks such as text cop

[2016-03-26 23:25] #3816 closed

[2016-03-26 23:26] mbrookes commented on #3813
#2230

[2016-03-26 23:26] #3813 closed

[2016-03-26 23:37] nathanmarks commented on #3816
Please use the search, there have been a number of related discussions/prs recently.

[2016-03-27 00:11] mbrookes opened #3817 "[Form components] Set `cursor:not-allowed` style when disabled"
`SelectField` is currently the only component that sets `style="cursor:not-allowed"` when disabled.

[2016-03-27 00:15] mbrookes opened #3818 "[Menu] Second level nested menu can't be clicked"
Problem Description
-------------------

The second (or subsequent) level nested menu can't be reached. On clicking to open the second level submenu, the first sub menu closes, causing the second to alo close.

Can be seen on docs site Nested menu example.

![screen cap](https://cloud.githubusercontent.com/assets/357702/14063146/8d7a5c6c-f3b3-11e5-9660-b81721e9bd6f.gif)

Versions
--------

- Mater

[2016-03-27 03:14] ffxsam opened #3819 "Best practice for multiple Dialogs in a component?"
What's the best practice if I want to have a single component show totally different dialogs? A single `<Dialog />` element, and just change the content and buttons? Or multiple dialog elements?

I'd have posted this on StackOverflow, but I'm 98% sure it would've been closed. :)

[2016-03-27 03:44] mbrookes commented on #3819
@ffxsam - you know the drill. :smile:

[2016-03-27 03:44] #3819 closed

[2016-03-27 03:45] ffxsam commented on #3819
@mbrookes ???

[2016-03-27 03:46] mbrookes commented on #3819
Please read the issue template. :+1:

[2016-03-27 04:40] stewartcelani commented on #2832
Also ran into this issue and have had to remove checkboxes for the moment. Was only using 8 on the page at the time but the component containing the checkbox has to rerender every 2.5-5 seconds based on DB updates so was getting a noticeable fps drop every re-render.
Pity because they're so pretty. =D

[2016-03-27 05:09] alitaheri commented on #3807
I'm back :grin:

`auto` is better in my opinion too. But it makes no sense if `fillWidth` is true. and same-size doesn't make sense if `fillWidth` is false. so i think this behavior should be controlled by that.

[2016-03-27 12:49] pradel opened #3822 "[DatePicker] Datepicker style is broken in 0.15.0-alpha.2"
Problem Description
-------------------
Date picker look weird since 0.15.0-alpha.2. In 0.15.0-alpha.1 it's okay.
http://www.material-ui.com/v0.15.0-alpha.2/#/components/date-picker

![capture d ecran 2016-03-27 a 14 41 49](https://cloud.githubusercontent.com/assets/5749437/14065456/56904758-f42a-11e5-949c-eaf4c448e168.png)

Versions
--------

- Material-UI: 0.15.0-alpha.2
- React: 0.14.7
- Browse

[2016-03-27 12:50] pradel commented on #3822
Tested in safari 9.0.3 and also have the style broken

[2016-03-27 12:50] SamueleGatti commented on #2299
Hi, i recently downloaded v0.15.0-alpha.2 release but i found that hitting tab doesn't focus on the next input after autocomplete item selection. Is the bug fixed? Thanks in advance

[2016-03-27 16:43] NullDivision opened #3824 "[FlatButton] Height change doesn't affect ripple position"
Example:

[code]

Using this setup if I increase the height of the button the ripple isn't correctly positioned.

[2016-03-27 17:01] mbrookes commented on #3822
Thanks. Fixed here: https://github.com/callemall/material-ui/commit/dbc425d50849e518c67070bd33f021a2951dd683

[2016-03-27 17:01] #3822 closed

[2016-03-27 18:03] davnn commented on #3151
Same story here (v0.15.0-alpha.2), did not find a solution right away.

[2016-03-27 18:29] oliviertassinari commented on #3186
@rsteckler That sounds like a valid use case. I'm reopening the issue.

[2016-03-27 20:21] mbrookes commented on #3186
IMHO, this is an edge use-case, out of spec, and isn't really what the Snackbar is intended for, so @rsteckler should implement a custom component (using `Snackbar` as inspiration) rather than adding logic to `Snackbar` to support it.

[2016-03-27 21:42] oliviertassinari commented on #3186
That's definitly an edge use-case.

I think that it would be great to provide a stateless version of the `Snackbar` so people like @rsteckler can implement their own logic.

[2016-03-27 21:55] mbrookes commented on #3186
That's a good point. I would be wary of implementing special magic on the message prop though.

What if this was tied to the `autoHideDuration` prop? If that is set, the component is then inherently being used statefully, so the current behaviour for reanimating on message change would apply.

If `autoHideDuration` isn't set, then the component is being controlled statefully through the `open` pro

[2016-03-27 22:53] rsteckler commented on #3186
I think the above recommendation works.  It basically puts the responsibility for expiring and queuing snackbars in the hands of the developer.  I'm wondering, just for clarity, if having a new prop, 'stateless' with a default value of false would help.  If stateless == true, then autoHideDuration is ignored.

It just seems more explicit from a documentation point of view, rather than having a sid

[2016-03-28 02:23] #1710 closed

[2016-03-28 02:24] #1779 closed

[2016-03-28 02:41] #2906 closed

[2016-03-28 12:10] nathanmarks commented on #3824
@NullDivision Browser and MUI versions? (see the issue template you removed)

[2016-03-28 12:10] nathanmarks commented on #3818
Confirmed in multiple browsers btw

[2016-03-28 12:10] gaugau opened #3827 "Dropdown list does not work on Safari Version 7.0.5 (9537.77.4)"
Problem Description
-------------------

The drop down list shown blank in the Safari. I've tested on Chrome and it works fine.
Versions
--------
0.14.4

- Material-UI:  0.14.4
- React: 0.14.0
- Browser: Safari 7.0.5 Mac OSX Mavericks

![screen shot 2016-03-28 at 7 07 41 pm](https://cloud.githubusercontent.com/assets/6811530/14077712/b78c17aa-f518-11e5-8af7-c726df68537f.png)

[2016-03-28 12:13] nathanmarks commented on #3809
Just a quick initial note, I think that another level of organization would definitely help. Right now there is no way to navigate around those huge pages that have multiple components and lots of demos.

[2016-03-28 12:18] NullDivision commented on #3824
Browser: Chromium 49
OS: Arch Linux
Material UI: 0.15.0-alpha.2

[2016-03-28 12:28] #3780 closed

[2016-03-28 12:33] nathanmarks commented on #3760
You can just change the width. This isn't something we'll be adding nav menu helpers for unless we build a nav menu abstraction on top of the drawer.

[2016-03-28 12:33] #3760 closed

[2016-03-28 12:36] oliviertassinari commented on #3186
That's one way to fix it, but I think that we have a better one.
I think that it's the right moment to follow https://github.com/callemall/material-ui/issues/2784, and split the actual `Snackbar` component into two separate one.

We could create a new `Snackbar.stateless.js` component as simple as possible. And make the `Snackbar.js` use it internally.
People may not need the `Snackbar.js` compone

[2016-03-28 13:03] cgestes commented on #3760
It would be nice to have an example in the documentation then, to show how
easy it is to get one.

On Mon, Mar 28, 2016 at 2:33 PM, Nathan <notifications@github.com> wrote:

[2016-03-28 13:33] nathanmarks commented on #3760
@cgestes One of the examples has a width set on the `Drawer`

[2016-03-28 13:34] nathanmarks commented on #3760
@cgestes and it's also a documented prop:

https://dl.dropboxusercontent.com/s/tnd9rhpcmxrizzx/2016-03-28%20at%209.34%20AM.png

[2016-03-28 13:44] cgestes commented on #3760
I believe It's easier for new comers to see and copy/paste, than to guess
how to make it happen. (Even if the second option is better for learning)

From the top of my head:
- which components for the list of icons and the icons
- what is the standard size for a mini toolbar (need to lookup md spec)

On Mon, 28 Mar 2016, 14:35 Nathan, <notifications@github.com> wrote:

[2016-03-28 13:50] mbrookes commented on #3186
I think #2784 would have `Snackbar.js` be stateless by default, and add a stateful version that wraps it. Not sure how much of `ReactStated` we'd get to use. @alitaheri - would this be a good place to start implementing that?

[2016-03-28 13:55] mbrookes commented on #3809
The one advantage of having the demos an API reference on the same page is that it makes it easier to cross reference the props used in the examples with their usage.

Perhaps if the was a popover when hovering over a prop in the example god that showed the relevant section of the API reference, we could move the reference elsewhere.

[2016-03-28 14:06] mbrookes commented on #3760
@cgestes - sounds reasonable since we have other examples in the docs of achieving a particular MD spec layout using composed components.

If you'd like to put together an example I think we can merge it.

[2016-03-28 14:07] newoga commented on #3809
I think that would be cool. Though for the records, I wasn't originally suggesting removing the table of props/API reference from the demos. Since it's now automatically generated, we don't have to worry about it being inconsistent if we put it in two places. I just think that it'd be nice to find and look up the  component name, not the material design pattern if that makes sense.

[2016-03-28 14:09] cgestes commented on #3760
I don't need a mini drawer for now.

@patrykkopycinski would you be willing to do so?

[2016-03-28 14:35] thomasmery commented on #3388
Hi,

just found out about `selectedMenuItemStyle` not being passed down to the `Menu` in `SelectField`

is there a reason why this is not possible/implemented?

many thanks

[2016-03-28 19:07] mbrookes commented on #3809
A h, right. Well maybe we could do both. :smile:

[2016-03-28 20:34] mbrookes commented on #3827
Fixed in 0.15.alpha.1. As it says in the issue template, lease check current versions and search issues for dupes.

[2016-03-28 20:34] #3827 closed

[2016-03-28 20:36] mbrookes commented on #3827
PS. Looks like yo've developing something interesting. :smile: If it's public, feel free to submit a PR for an entry in http://www.material-ui.com/v0.15.0-alpha.2/#/discover-more/showcase :+1:

[2016-03-28 22:07] avnunn commented on #3453
Having this same issue.

[2016-03-28 22:31] Va1 commented on #1956
+1
Or some kind of tag input would be great

[2016-03-29 00:16] nathanmarks commented on #1956
@Va1 Please use the github +1 emojis instead of +1ing

[2016-03-29 00:35] thomasgwatson commented on #2969
I've found this issue via searching for triggerUpdateOnFocus and tacking on my experience.

updateWhenFocused still works but throws an deprecation warning

[2016-03-29 02:17] hiei189 commented on #3760
I need this with the primaryText below the leftIcon. Is there a way to make it while keeping the classic view for mobile? like just changing some styles in the ListItem props or is impossible to make it this way?

[2016-03-29 02:57] mbrookes commented on #3760
@hiei189 https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#asking-questions

[2016-03-29 06:02] alitaheri commented on #3186
@mbrookes Since Snackbar doesn't have imperative methods, it's a good place for it :+1: I'll try to make a demo for it.

[2016-03-29 09:14] stupidisum opened #3831 "[docs] Update the docs about server rendering"
Problem Description
-------------------
[server-rendering](http://www.material-ui.com/#/get-started/server-rendering
) is not the lastest nor most useful. It's something like this:

[code]

## Origin
I met a server-render problem caused by auto-prefixer in [react-starter-kit](https://github.com/kriasoft/react-starter-kit). I noticed a `req` variable is needed for this **server-render** solution, s

[2016-03-29 13:25] sunasra opened #3832 "Support Floating Label for Date Picker"
Hi

I think there should be floating label for date picker. Usecase :  If that field prepopulated than, It is difficult to the user to identify field name.

[2016-03-29 15:04] mbrookes commented on #3832
You can, it just isn't document.

Please use the issue template next time, thanks. :+1:

Ref #3172

[2016-03-29 15:04] #3832 closed

[2016-03-29 19:39] peter4k commented on #2818
It is likely your material ui dependency has a different react version than your react version. So that npm will let material-ui to load a different version.

[2016-03-29 19:43] peter4k commented on #2839
It is likely your material-ui dependency has a different react version than your react version. So that npm will let material-ui to load a different version.
You can find the dependency react version of material using `npm ls`. Try upgrade your React to the same version, uninstall material-ui and reinstall it, should solve the problem!

[2016-03-29 21:28] echenley opened #3838 "[MenuItem] Menu overwrites theme styles for MenuItem"
## Problem Description

`MenuItem` doesn't respect the `selectedTextColor` defined in a theme. It looks like it is being overwritten here:

https://github.com/callemall/material-ui/blob/7177973d84bcd1a792f720588fd5df45ff965d58/src/Menu/Menu.js#L534
## Versions

- Material-UI: v0.15.0-alpha.2
- React: 0.14.8
- Browser: Chrome

[2016-03-29 21:37] amsheehan commented on #2859
+1

[2016-03-29 22:19] nathanmarks commented on #2859
Locking this so people stop +1ing

[2016-03-30 02:59] igorpreston opened #3840 "Add validation to TextField."
Hello,

I wanted to ask if you are planning on adding validation stuff to TextField/Toggle/Checkbox components:
[code]
I think this is very helpful feature.

Thanks!

[2016-03-30 03:40] hebuliang opened #3842 "DatePicker still render as wrong style on Safari"
mui version: v0.15.0-alpha.2
Safari : Version 9.1 (10601.5.17.4)

<img width="462" alt="screen shot 2016-03-30 at 11 37 46 am" src="https://cloud.githubusercontent.com/assets/929905/14131262/32d55f6c-f66c-11e5-9b76-a22e930f8d75.png">

[2016-03-30 06:34] petermikitsh commented on #3807
I realized a new concern when working with tabs today.

The inkbar implementation is percentage-based. so if you want the ink bar, but set the width of each `Tab` to auto, you get a visually undesirable output:

<img width="333" alt="screen shot 2016-03-29 at 11 33 54 pm" src="https://cloud.githubusercontent.com/assets/1571918/14133731/baeb5db8-f606-11e5-8f19-1107a130f6e3.png">

In this particular

[2016-03-30 06:42] petermikitsh commented on #3807
I can make each tab the same width, but then the padding between each Tab becomes variable.
This can be problematic when the width of text of each tab is significantly different:

<img width="312" alt="screen shot 2016-03-29 at 11 40 23 pm" src="https://cloud.githubusercontent.com/assets/1571918/14133872/a8cadea0-f607-11e5-889b-14b69ea9629d.png">

[2016-03-30 06:45] sorahn opened #3844 "FlatButtons are not centered on the left side of the AppBar"
Problem Description
-------------------

Using `<FlatButton />` for `iconElementLeft` in `<AppBar />` doesn't center the item vertically.

Versions
--------
- Material-UI: 0.15.0-alpha.2
- React: 0.14
- Browser: Chrome

See this switch case here: https://github.com/callemall/material-ui/blob/master/src/AppBar/AppBar.js#L228, and look at the one right below it for 'iconElementRight'

`iconElementLe

[2016-03-30 07:11] alitaheri commented on #3807
Yeah I'm working on a method to calculate the position the inkbar should be in using getBoundingRect. this way, the inkbar will be positioned correctly depending on hot each Tab is rendered, not on how it assumes it will be rendered.

[2016-03-30 08:27] vspiewak opened #3845 "[Menu Item] Not rendered properly with RightIcon on FF 45.0.1"
Problem Description
-------------------
MenuItem is not rendered properly with RightToggle on FF 45.0.1, see screenshots taken from your official documentation :

![capture d ecran 2016-03-30 a 10 22 29](https://cloud.githubusercontent.com/assets/2108652/14136112/71fd45f2-f661-11e5-9207-ad2855c316a4.png)
![capture d ecran 2016-03-30 a 10 22 16](https://cloud.githubusercontent.com/assets/2108652/14

[2016-03-30 08:43] mbrookes commented on #3842
Dupe of #3822.

Also, in order to help us help you, please use the issue template when opening an issue.

[2016-03-30 08:43] #3842 closed

[2016-03-30 08:52] mbrookes commented on #3840
No, that's out of scope, but there are 3rd party validation libraries available.

[2016-03-30 08:52] #3840 closed

[2016-03-30 09:05] mbrookes commented on #3845
Confirmed in HEAD @3d9007b

[2016-03-30 09:32] mbrookes commented on #3844
@sorahn - thanks for the report.MArking as a dupe of #733 so it will be taken into account there.

[2016-03-30 09:32] #3844 closed

[2016-03-30 09:44] kenan2002 commented on #2294
+1 on this.Found no way to get text in AutoComplete.

[2016-03-30 10:59] timhecker commented on #3845
+1

[2016-03-30 12:43] jkettmann opened #3847 "[FloatingActionButton] Color prop of icon not used in FloatingActionButton"
The color prop for a SVG icon inside a FloatingActionButton is not used. In below example, the icon color is the default white color, not red as expected. This was working in version 0.14.4

[code]

Versions
--------
- Material-UI: 0.15.0-alpha.2
- React: 0.14.7
- Browser: at least Chrome & Firefox

[2016-03-30 14:09] sorahn commented on #3844
@mbrooks did you link to the wrong bug? I don't see a thing related to the app bar there, and that bug is closed.

[2016-03-30 15:25] nathanmarks commented on #3163
@alitaheri @newoga

Not sure what bearing this has on the discussion -- but it's worth noting that React adds `displayName` to class methods `if (__DEV__)`: https://github.com/facebook/react/blob/master/src/isomorphic/classic/class/ReactClass.js#L527

Does this point towards it not necessarily being something to depend on in production?

also, es6 classes do not export components themselves with a

[2016-03-30 15:26] mbrookes commented on #3847
@jkettmann - the color is controlled by `<FloatingActionButton /> `

You could create a custom theme, or update the theme on context with the `muiThemefloatingActionButton.iconColor` and `floatingActionButton.disabledTextColor` keys.

Or override the icon style with:

[code]

[2016-03-30 16:09] sorahn commented on #3844
Ah ha! #773.  Watching!

[2016-03-30 19:34] mbrookes commented on #3844
@sorahn thanks, updated.

[2016-03-30 19:38] sorahn commented on #3844
Dyslexics of the world, UNTIE! ;)

[2016-03-30 19:45] bravo-kernel commented on #3844
Dyscalculi ?

[2016-03-30 20:41] mbrookes commented on #3163
Most definitely a development aide, and a pretty important one at that. React DevTools is going to be pretty useless without it. :smile:

In production / UAT, it might arguably be handy if a developer is creating a product with Material-UI and has tech savvy users who might want to point to an issue with reference to the source, but you would hope that most production apps will be minimised, so I

[2016-03-30 22:14] ffxsam opened #3848 "[AutoComplete] Arrow key movement buggy"
Problem Description
-------------------
`AutoComplete` takes two key hits to enter dropdown menu, and first item is skipped. (see below)

![licecap](https://cloud.githubusercontent.com/assets/12532733/14159299/f6dd5fa0-f689-11e5-9ffb-b2ce7348c05b.gif)

Versions
--------
- Material-UI: 0.15.0-alpha.2
- React: 0.14.7
- Browser: Mac Chrome 49.0.2623.87

[2016-03-30 22:27] mbrookes commented on #3848
Dupe #3629.

[2016-03-30 22:27] #3848 closed

[2016-03-30 22:34] ffxsam commented on #3658
@oliviertassinari I've pulled down the latest master branch, and `openOnFocus` still doesn't work.

[2016-03-31 00:09] ajsharp commented on #2204
@mbrookes I have a very simple bug fix coming for this. It's intended to be a backport on the 0.14.4 branch, so presumably a 0.14.5 release. It's a very simple change so should be trivial to cherry-pick it to HEAD. Does that work for you?

[2016-03-31 08:46] bdart commented on #1261
Are any progress for a quick fix how to inject it without a fork?

[2016-03-31 09:19] RahavLussato commented on #3772
@kand617 Looks amazing, how i can get it :)

[2016-03-31 10:23] mmazzarolo opened #3849 "Re-rendering a single row of the Table component"
Hello,
we're trying to implement a contact list that works just like [the new Material Design Google Contacts](https://contacts.google.com/u/0/preview/all) (you must enable the material design skin to see it).
Specifically we're trying to show a checkbox instead of the avatar on row hover.
We'd like to catch and re-render only the interested row (when hovered) and show the avatar/checkbox accordin

[2016-03-31 11:52] nathanmarks commented on #3163
**loses sleep**

[2016-03-31 12:24] mmazzarolo commented on #3849
Also, it seems the are some `TableRow` props not available in the docs (annotated as `@ignore`) like `onRowHover`, `onRowClick`... Any reason behind this choice?
Just asking, I'm new to Material-UI and I didn't find any issue regarding this.
Thank you!

[2016-03-31 18:04] dcardin opened #3850 "[TouchRipple] Ripple effect on Firefox"
I am using Firefox 45 on Linux, and the demo app at http://www.material-ui.com/#/customization/themes (version 0.14.4) shows that the ripple effect works well for everything but the buttons.

That includes the Tab headers, which I suspect are buttons as well.

The problem is present with alphas for 0.15 as well

[2016-03-31 18:09] dcardin opened #3851 "Date Picker rendering problem"
Version 0.15.0-alpha.2
Firefox 45

The rendering is correct on chrome, but is off on Firefox as shown.

![capture](https://cloud.githubusercontent.com/assets/431560/14185955/17b293ce-f74a-11e5-9a4e-77cf5b0b3996.png)

The circles for the dates are not centered, and the "<" navigator for months is rendered on top of the month name

[2016-03-31 20:30] brundonsmith commented on #2556
I would really appreciate a response on this; this seems like a pretty common issue people (including myself) will run into

[2016-03-31 20:38] oliviertassinari commented on #3658
@ffxsam Could you be more specific? I have noticed an issue where the Popover doesn't close is this the same issue?

[2016-03-31 20:41] brundonsmith commented on #2601
@javaguy I found the fix for this. Setting `vertical-align` to `bottom` on the `SelectField` should do the trick

This should be added to the appropriate place in the codebase by someone who works on the project, as it's a common problem people would run into

[2016-03-31 21:51] rsteckler commented on #2682
This is fixed in the 0.14.4 doc site, but broken again in 15.alpha2

[2016-03-31 22:01] vspiewak commented on #2189
+1

Tabs > Tab > TextField (or a simple <input type="text" ... />

Fixed like others with:
`<TextField  onChange={e => e.stopPropagation()} />`

[2016-03-31 22:04] ffxsam commented on #3658
What kinds of details do you want? Here's the actual code:

[code]

And clicking in the AutoComplete does not pop up the menu.

[2016-03-31 22:12] #3571 closed

[2016-03-31 22:25] sleungcy opened #3852 "[RaisedButton] Allow setting initialZDepth in RaisedButton"
Currently, RaisedButton has initialZDepth hard coded to 1 when !this.props.disabled. Please expose this prop to be configured to allow consistent zDepth across the whole app.

[2016-03-31 22:43] nathanmarks commented on #3163
Side note: Some of the uses are due to lacking decent CSS selectors:

[code]

[2016-03-31 23:30] #3851 closed

[2016-03-31 23:43] mbrookes commented on #3850
Confirmed in Firefox 45 on OS X.

[2016-04-01 01:21] nathanmarks opened #3854 "[Autocomplete] Popover not closing or taking on the correct width"
Problem Description
-------------------
The popover in autocomplete does not take on the correct width. It also stays open when it should close:

![popoverdemo](https://dl.dropboxusercontent.com/s/fif7j7z6hyncf1o/2016-03-31%20at%208.50%20PM%20%281%29.gif)

I'm fairly certain it was broken in this commit: https://github.com/callemall/material-ui/commit/c24c0176c1ffef2a4ee261f64655b79d5e75203c

Vers

[2016-04-01 01:37] nathanmarks commented on #3850
@mbrookes crazy! we should get this fixed for the release...

[2016-04-01 02:24] JoeHetfield opened #3855 "[TextField] TextField textareaStyle not working"
Hi, I'm doing something like: (pls ignore the dumb code style...)

[code]

and then I use it like this:

[code]

as you can see, I set the theme to "dark" and I hope the input text color become white. if the multiLine is false, it work as expected. but the in the code above (multiLine={true}), the input text color is not changed.
I checked the src it said:

    /**
     * Override the inline-style

[2016-04-01 04:59] nathanmarks commented on #3658
@oliviertassinari @ffxsam

I encountered a bug here too: https://github.com/callemall/material-ui/issues/3854

[2016-04-01 09:21] oliviertassinari commented on #3854
I'm gonna take care of this one.

[2016-04-01 10:05] mbrookes commented on #3854
I'm seeing the 'no close on click-away', but not seeing the width issue.

Material-UI: HEAD @9a939e2
React: 14.x
Browser: Chrome Version 49.0.2623.110 (64-bit) OS X

[2016-04-01 11:04] andrewzk commented on #1565
Same problem on version 0.15.0-a1

[2016-04-01 11:32] nicolanicola commented on #3725
Thanks for this.  I'm getting errors however ` this.context.createIcon is not a function` and `updateCompletedStatus is not a function`.  Anyway to resolve these?  Would love to use this in my project.

[2016-04-01 12:02] nathanmarks commented on #3725
hey @nicolanicola ,

This component is not fully released yet, my recommendation would be to wait until `0.15.0` is released as the API is going to change before then.

The changes will solve your issues btw.

[2016-04-01 16:17] dorthwein commented on #593
@oliviertassinari - I can contribute a little bit of time porting some of the components over once the way forward is set.   Looking at your list the only unknown right now is the react-look stuff right?

[2016-04-01 18:14] p4bloch commented on #3001
`rm -rf node_modules && npm install` solved this for me

[2016-04-01 19:43] alitaheri commented on #2682
@rsteckler It's a known regression. We'll fix it for the 0.15.0

[2016-04-01 19:55] bravo-kernel commented on #2697
:+1: for renaming this to Drawer, makes a lot of sense to me!

[2016-04-01 22:36] mbrookes commented on #3793
I don't have an opinion one way or the other on JS vs JSON. Having a json extension kind of reads more like it's 'configuration', but even though they're very similar, I slightly prefer JS object syntax. And following React is a good move.

[2016-04-02 01:42] namKolo commented on #3725
@nathanmarks  yeah!!! i really love it :) hope to see it soon.
btw thank you !!!

[2016-04-02 02:49] sdmunoz commented on #2697
Good choice

[2016-04-02 06:03] diegoaguilar commented on #3840
@igorpreston how did you implement it?

[2016-04-02 10:19] igorpreston commented on #3840
@diegoaguilar I used HOC to decorate TextField and setup validations as a method on top of it which is run whenever TextField value changes (in onChange handler).

[2016-04-02 10:27] diegoaguilar commented on #3840
@igorpreston HOC?

[2016-04-02 10:30] oliviertassinari commented on #458
That's almost done with https://github.com/callemall/material-ui/pull/3843 :tada:.
We can close it once [`prefer-es6-classes`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prefer-es6-class.md) is enforced.

[2016-04-02 10:31] igorpreston commented on #3840
@diegoaguilar Higher Order Component which wraps the existing component, decorates it with data and then returns existing component already decorated.

[2016-04-02 10:34] diegoaguilar commented on #3840
Thanks @igorpreston that makes a lot of sense. Hey sorry to spam but could u take a look at this [react-router issue](http://stackoverflow.com/questions/36371951), I really can't figure out.

[2016-04-02 10:40] igorpreston commented on #3840
@diegoaguilar sure, replied on stackoverflow in your issue thread.

[2016-04-02 13:09] #3854 closed

[2016-04-02 14:44] mbrookes commented on #1926
Ping @skariel :smile:

[2016-04-02 15:06] skariel commented on #1926
hi, I'm here. The thing is I'm no longer using material-ui because I couldn't configure  it with react as an external library using webpack. This made `bundle.js` way too big (added ~500Kb). The result is that I'm using material design lite. I don't have a working material-ui configuration anymore, I'm learning this other tool, so I won't be able to help with docs... I should have notified you whe

[2016-04-02 15:07] treylon opened #3860 "[Snackbar] Add multiline support"
It would be great if the Snackbar would support multiline texts. The specs for Snackbar multiline support can be found here:
https://www.google.com/design/spec/components/snackbars-toasts.html#snackbars-toasts-specs

![snackbar](https://cloud.githubusercontent.com/assets/10380579/14227090/f342106c-f8f4-11e5-8010-b27ba5c46bc4.png)

This feature has already been mentioned here #2826 by @mbrookes
Do

[2016-04-02 15:19] mbrookes commented on #1926
Hi @skariel - thanks for letting us know. I'm sure someone else this is important to will help out. :+1:

[2016-04-02 15:26] mbrookes commented on #3860
@treylon @rynti, this looks like the kind of thing you should be able to tackle as a PR, since Snackbar is a relatively simple component. Feel free to give it a go if this feature is important to you.

[2016-04-02 15:41] treylon commented on #3860
@mbrookes I'll tackle it in the next few days :)

[2016-04-02 16:52] oliviertassinari commented on #593
@dorthwein we are happy to hear it.
I'm using react-look here #3829. The only issue I have is a minor one. React Native is displaying some warning regarding wrong usage of the `StyleSheet` API. I haven't looked a it in detail but I believe that it can be solved.

[2016-04-02 17:25] PublicParadise commented on #593
@oliviertassinari @dorthwein I am happy that this effort (that is, bringing `material-ui` to `react-native`) is not dead. I just wanted to point out that there is also another new `material-ui` to `react-native` project that hasn't been mentioned in this thread: https://github.com/react-native-material-design/react-native-material-design . That project seems to be based on https://github.com/bingg

[2016-04-02 17:55] mbrookes opened #3862 "[IconButton] Tooltip only showing onFocus, not onMouseEnter"
Problem Description
-------------------

The Icon Button Tooltip is only showing onFocus, not onMouseEnter.

![screen cap](https://cloud.githubusercontent.com/assets/357702/14228133/715c1970-f904-11e5-9eb8-3c4873efa8ad.gif)

Steps to reproduce
-------------------

Open the docs IconButton page, hover the mouse over an icon in 'Further Examples', click the icon.
Versions
--------

- Material-UI: HE

[2016-04-02 18:42] juliengroch commented on #3734
Hi,

I have exactly the same issue :-1:

[2016-04-02 21:10] #3734 closed

[2016-04-02 21:14] kouak opened #3863 "[AutoComplete] Discrepency between state.searchText and props.searchText + timeout issue"
I'm using AutoComplete in a react + redux app.

I'm trying to control what's in the TextField via the searchText prop but hitting what seems to be a discrepancy issue between `state.searchText` and `props.searchText`.

First my use case :
* The user starts typing in the autocomplete text field
* A redux action is dispatched containing the user input, autocomplete data is retrieved for server
* Aut

[2016-04-02 21:22] nathanmarks commented on #3863
This component needs a rewrite IMO. It's a convoluted mess and is setup for contrived use cases rather than offering an flexible API suitable for large applications that take care of their own business logic and need granular control over other aspects.

[2016-04-02 21:50] mbrookes commented on #3863
Thanks for the thorough breakdown of the issue!

@nathanmarks legitimate concerns about the component notwithstanding, I agree with your conclusion that props should take precedence over internal state. We are slowly moving towards removing as much state as possible from the components in the future.

If you can find a fix that doesn't break the existing behaviour (any more that it already is :smi

[2016-04-02 22:50] nathanmarks commented on #2679
@callemall/material-ui

Did we figure out where we are publishing from to make this happen?

Last I recall, we discussed publishing from the `build` folder.

[2016-04-02 22:53] nathanmarks commented on #3863
@mbrookes Btw, in cases where we have legitimate use of internal state we still shouldn't have props with the same name as a state key IMO. It makes reading the component code very confusing too.

[2016-04-02 22:56] nathanmarks commented on #3734
The issue description here is a real winner.

[2016-04-03 00:22] boustanihani commented on #3066
Any updates on this ?

[2016-04-03 03:50] antoinerousseau opened #3864 "[DatePicker & TimePicker] New okLabel and cancelLabel props should accept nodes in addition to strings"
Problem Description
-------------------
My labels come from `react-intl`, so they are of type `node` (spans).
So I get:

It would be better to accept both `string` and `node`.
See `PropTypes` in [DatePicker/DatePickerDialog.js](https://github.com/callemall/material-ui/blob/master/src/DatePicker/DatePickerDialog.js)

Versions
--------

- Material-UI: 0.15.0-alpha.2
- React: 0.14.8
- Browser: Chrome

[2016-04-03 05:57] juliengroch commented on #3734
For my problem I talk about a graphical select row bug if there is a setState in onRowSelected in Table.

The problem from my code ?

[2016-04-03 10:33] mbrookes opened #3865 "[Docs] Show source button misaligned in Safari 7"
Problem Description
-------------------

![image](https://cloud.githubusercontent.com/assets/357702/14231982/abe15278-f98f-11e5-9810-525504f653dc.png)

Versions
--------

- Material-UI: HEAD / v0.15.alpha.2 (okay in alpha.1)
- React: N/A
- Browser: Safari Version 7.1.6 (9537.85.15.3)

[2016-04-03 11:05] kouak commented on #3863
I just hit the same kind of issue regarding `props.open` getting overridden by `state.open`.

I guess this calls for a larger discussion about the AutoComplete API.

The documentation suggests the `open` prop allows users to control the internal state of the component.

Fixing these issues will require changing the behaviour of the component, changing the API, and will break usage.

Thoughts ? Sho

[2016-04-03 14:22] Meytalmakh opened #3866 "[Dialog] Dialogs are blurred o n EDGE"
When opening a Material-UI dialog on EDGE it is blurred.
Edge version: 25.10586.0.0
![image](https://cloud.githubusercontent.com/assets/18245565/14232897/bc01cab2-f9c0-11e5-9297-900bf438ba74.png)

[2016-04-04 03:36] nathanmarks commented on #3863
@kouak the `AutoComplete` is slated for a total rewrite some point in the near future

[2016-04-04 08:10] newsiberian opened #3871 "[LinearProgress] Leak based on setTimeout"
Problem Description
-------------------

Hello, I detected a leak, provided by [this](https://github.com/callemall/material-ui/blob/master/src/LinearProgress/LinearProgress.js#L152) `setTimeout` call. Unfortunately, the logic it too complex for me, so I don't know how to fix this. You could easily reproduce this by adding breakpoint to this line 152 and you should see how it will be called even af

[2016-04-04 08:21] mbrookes commented on #3863
@nathanmarks is that before or after Table? :smile:

[2016-04-04 08:23] mdarif commented on #2818
Uninstalling and doing the fresh `npm install` works for me.

This is my package.json looks like:
[code]

Alternatively if you using webdev and then adding blow code, would resolve the issue.
[code]

[2016-04-04 10:30] ericraffin opened #3872 "Error when using Table and LeftNav : babel-preset-stage-1 required"
Problem Description
-------------------

I installed the last version of material-ui.
When I am using Table or LeftNav, I got an error :
ERROR in ./src/complex.jsx
Module build failed: Error: Couldn't find preset "stage-1" relative to directory "/Users/ericraffin/projects/react-training/3-react/src"
    at /Users/ericraffin/projects/react-training/3-react/node_modules/babel-core/lib/transformation

[2016-04-04 14:11] nathanmarks commented on #3863
:laughing: :rocket:

[2016-04-04 14:17] nathanmarks commented on #3872
That's because you're using `babel-preset-stage-1` in your project. Unrelated to this library as it is compiled with the stage 1 transpilations to es5.

[2016-04-04 14:17] #3872 closed

[2016-04-04 18:03] thelordoftheboards commented on #1892
The behavior is really interesting. Working with Chrome 49 on Mac, Material-UI 0.14.4, I can even create these:

![image](https://cloud.githubusercontent.com/assets/7056535/14257888/ba66e518-fa54-11e5-8953-b89a2a29e4e4.png)

![image](https://cloud.githubusercontent.com/assets/7056535/14257895/c73f4e1a-fa54-11e5-91d1-829770343aee.png)

[2016-04-04 18:26] buunguyen commented on #718
Exact same problem:

![s](https://storage.jumpshare.com/preview/pp6VYtG4yEOfoK3LmFtBKNYL3tFQflLyyeggr8W4dO-_zo2nMRl3FpyhlBYGd5L7AM2GCDCeCK1jYqP2XuiHsX8t7wA9n-vlT_jkylN98IjJmZ_gxzDuijCC6OnKLtdF)

[2016-04-04 18:27] sorahn commented on #3654
A quick fix would be to override the theme color for 'listItem.rightIcon'

[2016-04-04 18:31] sorahn opened #3873 "[ListItem] toggles have the wrong default icon."
The updated versions of the material design spec show a Chevron as the default icon for Togglable List Items instead of the Triangle you guys are using now.

Hardware/KeyboardArrowDown and Hardware/KeyboardArrowUp

https://www.google.com/design/spec/components/lists-controls.html#lists-controls-types-of-list-controls (ctrl + f 'Expand/collapse')

Could be an easy tweak to slide into the 15.X relea

[2016-04-04 18:48] apires commented on #2818
The issue for us is that we had shrinkwrapped 0.14.7 and material-ui 0.15-alpha-2 isn't shrinkwrapped so it pulled react 0.14.8.

Would be nice if the deps were shrinkwrapped or more specific about versions.

[2016-04-04 21:22] #3864 closed

[2016-04-04 23:24] rkstar opened #3874 "[Toggle] Styling examples for components"
my request is specifically for the `<Toggle />` element, but in general it would be nice to see some documentation around custom styling of different elements.

the toggle element documentation has a lot of different options for "style" but they are not very well defined:
[code]
there is no mention of what exactly the `icon element` or `input element` are on this particular component and it's not

[2016-04-04 23:25] nathanmarks commented on #1892
Guys, of course this is going to happen when there are too many items on a toolbar to fit.

Toolbars are supposed to be **bars**, not multi-row containers. If you need multiple rows, all you need to do is modify the flex wrap CSS to allow wrapping (`flex-wrap`).

[2016-04-04 23:25] #1892 closed

[2016-04-04 23:27] yongxu commented on #3863
@nathanmarks This component actually looks a lot different than the initial version, the ```state.open``` wasn't there initially and I am not sure how it end up there. Initially some code was for work around the bugs from ```TextField``` and ```Menu```. Now some of the code are still around but has been modified and convoluted with other PR features.
So that's about the history of it, I do recomme

[2016-04-04 23:28] thelordoftheboards commented on #1892
Thank you for the suggestion, I will definitely try that!

[2016-04-04 23:29] nathanmarks commented on #1892
@thelordoftheboards no problem!

[2016-04-04 23:29] yongxu commented on #3863
But be aware, some of the bugs are not caused by ```AutoComplete```, but the ```Menu``` it uses.

[2016-04-05 08:04] rubencodes commented on #288
Can't seem to get this to work myself :( Included the `inject` lines at the very start of the project, assuming they don't need to be in every file that uses material-ui? Everything renders fine, click events show up, it's just not calling the onChange handler on click... Using react 15 rc-2

[2016-04-05 11:31] rkmax opened #3876 "DatePicker on dialog not working"
I'm using

    <DatePicker hintText='Starts on' container='inline' />

I got

    Each child in an array or iterator should have a unique "key" prop. Check the render method

and also

    React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method

[2016-04-05 11:34] DERIIIFranz commented on #707
[MaterializeCSS](http://materializecss.com/preloader.html) obviously found a way to handle it in IE:

[2016-04-05 11:59] rkmax commented on #2225
I'm having troubles also for this. because I need render a radios and text fields together. any progress?

[2016-04-05 14:30] jamesbillinger commented on #2328
Hey, for my part, I'm running into this issue not because of issues with `transitioned` but because `_preventScrolling` is being called repeatedly.  After the first time that it is called, the `_originalBodyOverflow` variable is set to "hidden", which means that when `_allowScrolling` is eventually called it sets the overflow to "hidden" rather than "".

I'm not totally sure why it's being called

[2016-04-05 15:09] RamIdeas commented on #2328
I also ran into that issue later on too.

I believe it's called multiple times because (at least for me) I was displaying a dialog on top of another dialog - and you're right that it would then set `overflow` to `hidden` rather than an empty string because that was what was encountered when it was initialised.

This is all from memory as I have since stopped working on that project - my solution w

[2016-04-05 15:25] mbrookes commented on #2123
@hemanth Closing this for now. The custom header wouldn't work with a landscape dialog, the button labels can be customised, and hooks for the buttons isn't something we want to add.

[2016-04-05 15:25] #2123 closed

[2016-04-05 16:19] damienfa commented on #3402
I agree !
I would like to "focus()" the component, as we do with a textField.
In the same way, when you put this selectField in a form,  it would be nice to make this field focused when you press "tab" on the previous field ...

[2016-04-05 16:33] damienfa commented on #3694
About the SelectField, I don't really understand the difference between SelectField and DropDownMenu in terms of "features" ?
Also, AutoComplete component is like a SelectField with auto-select feature... I've missed something ? Isn't it possible to make it an option/props of SelectField ?

[2016-04-05 17:11] bshyong commented on #2225
@rkmax my PR hasn't been merged into master but you can take a look here https://github.com/callemall/material-ui/pull/3627

You could copy the `RadioButtonGroup.js` component from my repo and try it out for your own use (keeping everything else the same)

[2016-04-05 17:57] aahan96 commented on #2720
I just added the `linkButton` property to the `ListItems` and made it true. Then just add the href which contains the location of that page. Since `ListItem` includes 'EnhancedButton` and `linkButton` is a property of `EnhancedButton`, this works perfectly fine. I have included an example below.

![screen shot 2016-04-05 at 12 49 00 pm](https://cloud.githubusercontent.com/assets/7631739/14292237/d

[2016-04-05 18:37] mmazzarolo commented on #3849
In the end we just dropped it and switched to another layout.
If you're interested you can find more information in the StackOverFlow answer.

[2016-04-05 18:37] #3849 closed

[2016-04-05 18:57] ronanwize commented on #1951
Watching this topic with great interest. Hopefully the MUI folks decide on a solution, we love this approach and the library and are actively thinking about ways to help improve it.

[2016-04-05 20:22] hyperbrave opened #3882 "[Animations] Interaction Based Animations"
The animations in this library need to originate from the interaction point, for example, dialogs should be revealed from the click point.

[2016-04-05 20:47] #3876 closed

[2016-04-05 21:23] husterk opened #3883 "[Firefox] Function.prototype.toString called on incompatible object"
Problem Description
-------------------
**TypeError: Function.prototype.toString called on incompatible object** is encountered when attempting to launch Material-UI based application in Firefox 41.0.2. Tested OK in Chrome 49 and IE 11.

[code]

Versions
--------
- Material-UI: v0.15.0-alpha.2
- React: 0.14.7
- Browser: Firefox 41.0.2

[2016-04-05 21:25] husterk opened #3884 "[Firefox] [lodash] TypeError: _lodash2 is undefined"
Problem Description
-------------------
**TypeError: _lodash2 is undefined** is encountered when attempting to launch Material-UI based application in Firefox 41.0.2. Tested OK in Chrome 49 and IE 11.

[code]

Versions
--------
- Material-UI: v0.15.0-alpha.2
- React: 0.14.7
- Browser: Firefox 41.0.2

[2016-04-05 21:31] husterk commented on #3884
Update: I updated Firefox to the latest version (45.0.1) and the app now loads correctly with no errors. It would still be nice to have this fixed for slightly older versions of Firefox.

[2016-04-05 21:31] husterk commented on #3883
Update: I updated Firefox to the latest version (45.0.1) and the app now loads correctly with no errors. It would still be nice to have this fixed for slightly older versions of Firefox.

[2016-04-05 22:17] #3862 closed

[2016-04-05 22:18] #3695 closed

[2016-04-06 01:28] hebuliang opened #3886 "[DatePicker] Calculated wrong top value on selected date DIV tag"
Style broken on selected date
-------------------

<img width="384" alt="screen shot 2016-04-06 at 9 21 37 am" src="https://cloud.githubusercontent.com/assets/929905/14303008/42ce407e-fbd9-11e5-98e8-be4fbfb456e6.png">
As the screenshot from Safari, i found that the top value of element is '10px' so the element rendered a wrong position

Versions
--------

- Material-UI: v0.15.0-alpha.2
- React:
-

[2016-04-06 04:08] KuTi opened #3887 "[Stepper] Fail if use with TextField"
Stepper not work well with TextField
-------------------

Versions
--------

- Material-UI: (commit 9a939e2d)
- React: 0.14
- Browser: Chrome (I just tried it on Chrome, and other browsers I think users are having similar problems)

Flow:
step 1: Enter to first Input from Step Component 1
step 2: use Tab button in Keyboard

![Fail](https://2.downloader.disk.yandex.com/preview/69795a7adbd7bde03d17b

[2016-04-06 06:59] darkowic commented on #3665
I want to add that when button is disabled tooltip is showing and when move mouse out of the button tooltip is not disappearing. But when I focus for a moment on tooltip it will disappear when mouse goes out of the tooltip.

[2016-04-06 07:10] darkowic opened #3888 "IconButton - missing onClick in documentation; add href"
Documentation is not complete. I've wasted a lot time trying find workaround for this event.

Additionally would be great if IconButton has href parameter.

[2016-04-06 07:22] ishwinder commented on #1030
Any Ideas if this issue will still exist in the latest version of material-ui ? I can use most of the components but the ones which use this.refs.xxx.<function> e.g if I try to use DatePicker Component, I get an error "Cannot read property 'show' of undefined" and undefined here is this.refs.dialogWindow.

I am on react 0.14.8 and material-ui 0.14.4 ...

[2016-04-06 09:02] #3888 closed

[2016-04-06 09:25] darkowic commented on #3888
Close without any comment is best solution

[2016-04-06 09:44] MoOx opened #3889 "[FlatButton] Are you open to have a labelColor for the FlatButton"
With the latest stable version, I see that RaisedButton have a labelColor prop, but FlatButton don't.
Are you open to have this prop added for FlatButton? Open for a PR?

[2016-04-06 10:49] Taakn commented on #2201
I am seeing this bug in 0.14.4. Setting z-index to 0 fixes it

[2016-04-06 11:06] antialiasis commented on #3641
I'm also having this problem. It's pretty serious; it completely breaks the menu.

[2016-04-06 12:35] nathanmarks commented on #3887
@KuTi Hey Kuti, the `Stepper` is being refactored before the release of `0.15.0`, stay tuned :+1:

[2016-04-06 12:36] nathanmarks commented on #3887
Note to self for later from #3725

[2016-04-06 13:14] Taakn commented on #1975
@oliviertassinari as of 0.14.4 this bug is still there. Thanks.

[2016-04-06 13:27] julianmartinezmansell commented on #2639
@mbrookes  @oliviertassinari There will soon be a sky rocketing number of web apps thanks to new progressive web-app technology. I think it makes a lot of sense to make Material-UI compatible on Mobile Web. We are using it for our new web app but the Appbar doesn't look great at unless its 56. Maybe you can implement low hanging fruit that can make the framework look great on mobile without having

[2016-04-06 13:33] julianmartinezmansell commented on #3614
@mbrookes @oliviertassinari Would it be possible to make quick fixes, like make that Appbar to have mobile height, and few little things which are easy to implement, without having to implement a whole new grid system.
There will soon be a sky rocketing number of web apps thanks to new progressive web-app technology. I think it makes a lot of sense to make Material-UI compatible on Mobile Web. We

[2016-04-06 14:21] treylon commented on #779
Are there any plans on implementing this feature in the near future?

[2016-04-06 15:36] mmazzarolo commented on #2832
Any news regarding this issue?
Having the same problem in a Table with ~80 rows with checkboxes.
You can see an example [here](http://mazzarolomatteo.com/materialui/)

[2016-04-06 16:58] dorthwein commented on #593
@oliviertassinari I saw in another thread if supporting iOS made sense for this port - I think it absolutely does especially when you look at how Google Maps & other Google Material + iOS apps are out there.  Where it makes sense and there is a strong pre existing iOS component (i.e. switches) it should use to the iOS switch on iOS.  Implementing Android & iOS isn't much of a burden as well.

[2016-04-06 17:02] dorthwein commented on #593
The component.native.js, component.android.js, component.ios.js file structure also seems to make the most sense to me.

Depending on how diverse the underlining components (divs, h1, h2, h3, etc... are I really like the idea of having imported Divs, and Headers as it gives a manageable way forward to adding/building common components for the browser & the web and even better a common set of docs.

[2016-04-06 17:14] BinaryWasteland opened #3891 "[DatePicker] DatePicker not working on mobile"
Problem Description
-------------------
When using iPhone 4S emulator it shows as the following attached image in vertical mode. This not let the user see the last week before the month is done. Any help is appreciated.

Versions
--------

- Material-UI: 0.14.4
- React: 0.14.7
- Browser: Chrome emulating iPhone 4S

![screen shot 2016-04-06 at 1 09 59 pm](https://cloud.githubusercontent.com/assets/

[2016-04-06 17:39] wbprice commented on #714
I'm also unable to focus `SelectField` using the keyboard on Material-UI v0.15.0-alpha.1

[2016-04-06 18:00] dorthwein commented on #593
@oliviertassinari I tried getting the docs up and running no luck.  Few issues:

- package.json: react-native does not like the package name material-ui - changing to materialUI resolved the issue

- The current material-ui/react-native branch is having an issue with the react-native packager and not creating the mainjs.bundle file.  I haven't been able to figure out what was going on here.

[2016-04-06 18:36] tintin1343 commented on #3886
@hebuliang : The DatePicker is currently being worked on and refactored. That should solve the existing issues with it, once the PR is merged. Stay tuned for that.

For your reference:
https://github.com/callemall/material-ui/pull/3739

[2016-04-06 18:49] tintin1343 commented on #3891
@BinaryWasteland : The DatePicker is currently being worked on and refactored. That should solve the existing issues with it, once the PR is merged. Stay tuned for that.

For your reference:
#3739

[2016-04-06 19:10] oliviertassinari commented on #2679
@nathanmarks Yeah, let's get this sorted.
I don't think that that name of the folder matters a lot. I would rather focus on the process.
We need a script to copy the components from the `src` folder to the one we will use to publish.
We also need to filter the unit test components and the examples.

[2016-04-06 19:13] oliviertassinari commented on #1975
@Taakn You are right. I think that we should move the `{...other}` spread to the root component.

[2016-04-06 19:48] oliviertassinari commented on #2720
@aahan96 Nice finding :+1:.

[2016-04-06 19:59] oliviertassinari commented on #3614
@julianmartinezmansell For a quick fix, you can do the following:
[code]

True, but we need to think and solve the problem globally.

[2016-04-06 20:03] oliviertassinari commented on #593
@dorthwein Thanks for the feedback. The react-native branch is highly experimental. We need to solve this. I haven't any issue on my side (https://github.com/callemall/material-ui/pull/3829).
I should try to start from a fresh `git clone`.

[2016-04-06 20:14] oliviertassinari commented on #3889
That's still true on the master branch. That's not good. We need to be coherent. We have two options:
1. Remove the current `labelColor` from the `<RaisedButton />` component and let users use the `labelStyle` property.
2. Add a `labelColor` property to the `< FlatButton />`.

It's a really an API decision. I'm fine the option 2. as it's also in the `muiTheme` context.
@callemall/material-ui What

[2016-04-06 20:32] tintin1343 commented on #3889
@oliviertassinari @MoOx : I think adding a labelColor would not make any harm. Since for a Flat Button the only thing that makes it distinguishable in the layout is its label color. I think we can go ahead with adding a property to it.

[2016-04-06 21:26] dorthwein commented on #593
Yeah so the next stage of my current project is working on a mobile app using material design - I'd like to use this as all our web stuff is in this as well.  If we can get a working environment going I'll start knocking it out along with our project.

[2016-04-06 21:29] tintin1343 commented on #3884
@husterk : Thanks for the Update. Appreciate it.

[2016-04-06 21:30] tintin1343 commented on #3884
@callemall/material-ui : What do you guys think about this? Should we fix this for the release or keep it on hold for now?

[2016-04-06 21:34] tintin1343 commented on #3883
@husterk : Thanks for pointing this out and verifying it.

[2016-04-06 21:48] tintin1343 commented on #3882
@callemall/material-ui : I think he is right.

https://www.google.com/design/spec/animation/responsive-interaction.html#responsive-interaction-material-response

`point of origin` section in the above link does mention this. What do you guys think?

[2016-04-06 21:52] mbrookes commented on #3889
IMHO, since we have `labelStyle`, we don't also need `labelColor`. Less props = less complexity.

However at some point we should probably document what object keys the `style` props take, so users don't have to go digging through the code.

[2016-04-06 22:03] mbrookes commented on #2720
@oliviertassinari - given that were using ReactRouter, which is more idiomatic, @aahan96's solution, or `containerElement={<Link to="/path" />`? (I admit I haven't tested either...)

[2016-04-06 22:04] mbrookes commented on #3886
Already fixed in master.

[2016-04-06 22:04] #3886 closed

[2016-04-06 22:18] tintin1343 commented on #3866
@nathanmarks : Could you please check this when you get time. I don't have a machine with EDGE on it.

[2016-04-06 22:37] nathanmarks commented on #2679
@oliviertassinari I already filter out the tests during build (so they don't end up in the lib folder). For the sake of simplicity then, why don't we just have the build process create a `package.json` and publish from the `lib` folder?

[2016-04-06 22:42] tintin1343 commented on #3884
I am closing this issue for now since it is not really an issue with our library. It can be opened again if it occurs again

[2016-04-06 22:42] #3884 closed

[2016-04-06 22:43] tintin1343 commented on #3883
I am closing this issue for now since it is not really an issue with our library. It can be opened again if it occurs again

[2016-04-06 22:43] #3883 closed

[2016-04-06 22:46] tintin1343 commented on #3865
@mbrookes : it works fine in Safari 9.

[2016-04-06 22:48] newoga commented on #3865
Maybe it's flex related? Not supported in Safari 7: http://caniuse.com/#search=flex

[2016-04-06 22:56] tintin1343 commented on #3865
@newoga : You are right. It had `Toolbar` Component in it which I made into a flex-based design.

[2016-04-06 23:12] puradox commented on #2201
I am also seeing this bug in version 0.14.4. Just as @Taakn mentioned, setting the floatingLabelStyle will fix this.

[code]
Maybe this should be the default? I can start a PR for it, if no one disagrees.

[2016-04-06 23:13] mbrookes commented on #3882
It's a 'nice to have', but there are practical limits to what we can do without making things overcomplicated and / or impacting performance.

Certainly something to keep in mind for the future, but as this isn't an issue that will ever get closed if we keep it hanging around in the hope of one day perfecting every animation in every component, so I'm going to close it now, and it will be here for

[2016-04-06 23:13] #3882 closed

[2016-04-07 00:08] nathanmarks commented on #2201
Hey guys, please check the release date of `0.14.4`

[2016-04-07 00:16] BinaryWasteland commented on #3891
Thanks @tintin1343

[2016-04-07 00:17] mbrookes commented on #3865
For the sake of progress I guess. :smile:

[2016-04-07 00:17] #3865 closed

[2016-04-07 01:10] mbrookes commented on #3891
Dupe #3046

[2016-04-07 01:10] #3891 closed

[2016-04-07 06:59] DERIIIFranz commented on #2232
is there any progress on this?

[2016-04-07 09:51] EloB commented on #156
Interesting that this is labeled "feature request". I would rather say this is a bug. There isn't anyone that excepts you to focus and also edit elements under a overlay.

[2016-04-07 10:37] yimankaing opened #3893 "Why don't you prepare the whole layout?"
It is easy if you provide a full set of template or layout so that we can see how material UI look like!
This is include Header, LeftNav and so on...

[2016-04-07 12:07] mbrookes commented on #3893
#3066 etc.

[2016-04-07 12:07] #3893 closed

[2016-04-07 12:10] #3595 closed

[2016-04-07 12:10] #3701 closed

[2016-04-07 12:19] mbrookes opened #3894 "[RaisedButton] Uncaught TypeError when tabbing onto button."
Problem Description
-------------------
When tabbing onto a RaisedButton, the error: `Uncaught TypeError: Cannot read property 'hovered' of undefined` is emitted from within `getStyles`.

Versions
--------

- Material-UI: HEAD @cf4cf875715a450355fb8ff2cb51bf0fbd9b88d5
- React: Any
- Browser: Chrome Version 49.0.2623.110 (64-bit) OS X.

Issue not present in Firefox 38.3.0
Issue not present with Fla

[2016-04-07 13:11] VilleMiekkoja opened #3895 "[InkBar] Allow override of inkBar parent div styles"
## Problem Description

Currently it is impossible to override or set styles easily for the parent div of the inkBar. It would be nice to be able to override its styles too.

[2016-04-07 13:33] nmaves opened #3896 "Change/use custom font"
Why are we forced to use fonts bundled with material-ui?

Is there a way to remove or configure this?

[2016-04-07 13:43] ryanfields commented on #1521
I was hoping the style prop would work, but that oddly seems to change the overlayStyle instead.

[2016-04-07 15:01] Muthu2020 opened #3898 "How to use your library file in angular2?"
Problem Description
-------------------

Versions
--------

- Material-UI:
- React:
- Browser:

[2016-04-07 15:19] #3898 closed

[2016-04-07 15:24] tintin1343 commented on #3850
I tried taking a look at this..apparently the TouchRipple/ CircleRipple component is hidden. I gave it a zIndex of 10000 to see if I can see anything. I was not able to. will have to dig deeper into it.

[2016-04-07 15:32] nathanmarks commented on #3896
http://www.material-ui.com/#/customization/themes

[2016-04-07 15:32] #3896 closed

[2016-04-07 15:34] nathanmarks commented on #156
@EloB agreed

[2016-04-07 15:36] nathanmarks commented on #156
@newoga

Can we look at the implementations in these libs:
https://github.com/reactjs/react-modal
https://github.com/react-bootstrap/react-overlays/blob/master/src/Modal.js

they both support the ideal behaviour here

[2016-04-07 15:39] nathanmarks commented on #156
@mbrookes

Spec also requires this behaviour: https://www.google.com/design/spec/components/dialogs.html#dialogs-behavior

[2016-04-07 15:51] tintin1343 commented on #3895
What is it that you want to achieve?  Can you give an example?

[2016-04-07 15:52] tintin1343 commented on #3889
@MoOx : Does using labelStyle not solve your problem?

[2016-04-07 17:47] siegesmund commented on #1993
Also having this problem. I've removed React Dev Tools completely and the problem persists. I removed  check boxes, and the problem gets a bit better. When I disable selectability (and manually respond to row taps) the problem goes away completely. I've tested this in the latest versions of Chrome, Firefox and Safari, with no difference in the result.

[2016-04-07 18:10] tintin1343 commented on #3855
textareaStyle does work

![screen shot 2016-04-07 at 1 09 37 pm](https://cloud.githubusercontent.com/assets/15271922/14361749/0ec2419c-fcc2-11e5-847c-bb9264a77ebf.png)

Check if you are passing the style object correctly and if there is no typo.

[2016-04-07 18:20] peterpuzos opened #3900 "Feature Request: Material Search Bar"
Is there anybody currently working on a search bar like the one in Google music or Google developer's page?

https://play.google.com/music/
https://developers.google.com/

Actually one of the showcases in the material UI page had a pretty nice one from "It's quiz":

http://itsquiz.com/activations

[2016-04-07 18:33] tintin1343 commented on #3817
@mbrookes : are we planning to do this for all disabled components?

[2016-04-07 18:40] tintin1343 commented on #3900
@peterpuzos : I am not sure of that. Its not listed as a separate component in the material spec. You can implement it using a TextField on an App Bar.

[2016-04-07 18:47] tintin1343 commented on #3787
I am closing this as the PR for this is closed till the AppBar is being worked on.
Refer to https://github.com/callemall/material-ui/pull/3788 for further details.

[2016-04-07 18:47] #3787 closed

[2016-04-07 19:06] mbrookes commented on #3817
It would seem to make sense. @oliviertasari?

[2016-04-07 20:19] newoga commented on #3874
@rkstar Could you provide an example of how the documentation could be improved in this area?

I agree it's not obvious which element corresponds to each style prop, but I'm not sure if there's a way to clearly document this other than show the rendered DOM (which can be done by just browsing source or using browser developer tools).

Let us know what you're thinking.

[2016-04-07 20:34] dorthwein commented on #593
Was reading up on some stuff and noticed this tidbit from the FB React Native Page.

"The most fundamental component for building UI, View is a container that supports layout with flexbox, style, some touch handling, and accessibility controls, and is designed to be nested inside other views and to have 0 to many children of any type. View maps directly to the native view equivalent on whatever pl

[2016-04-07 20:52] dorthwein commented on #593
Also found this resource - trying it out now.  Seems pretty straight forward and maybe worth a gander

https://github.com/necolas/react-native-web

[2016-04-07 21:11] quanglam2807 commented on #593
@dorthwein Great idea! But if we follow this path, I think developing a version for React Native only would be better.

[2016-04-07 23:16] nathanmarks commented on #3900
Perhaps in the future this will be possible out of the box, but not at the moment. It certainly isn't a priority right now.

[2016-04-07 23:16] #3900 closed

[2016-04-07 23:57] nathanmarks commented on #2720
@mbrookes in my own app I just have `ListItem` wrapped in `Link`:

![2016-04-07 at 7 56 pm](https://cloud.githubusercontent.com/assets/4420103/14370301/ef0a4c6c-fcfa-11e5-944e-a57714075262.png)

[2016-04-08 00:07] nathanmarks commented on #3642
https://facebook.github.io/react/blog/2016/04/07/react-v15.html

[2016-04-08 00:07] nmaves commented on #2294
This is a bummer as I would love to use this with redux-form as well.

[2016-04-08 00:47] nathanmarks commented on #2294
Thanks guys -- we're aware of the issue and will see to it when we can.

[2016-04-08 00:55] rkstar opened #3902 "react 15.0.0 support"
please add react and react-dom "|| ^15.0.0" to `package.json`

[2016-04-08 00:56] nathanmarks commented on #3902
Please use the search feature. #3642

[2016-04-08 00:56] #3902 closed

[2016-04-08 00:59] nathanmarks commented on #3887
Closing in favour of #3725 which will fix this

[2016-04-08 00:59] #3887 closed

[2016-04-08 01:59] halayli opened #3904 "SelectableContainerEnhance shouldn't rely on ListItem's displayName"
In the code referenced here https://github.com/callemall/material-ui/blob/v0.15.0-alpha.2/src/hoc/selectable-enhance.js#L53

SelectableContainerEnhance checks the displayName to confirm the type. When using redux and connecting ListItem, the final component will have a name like 'connect(ListItem)'.

If this is done to avoid extending Dividers/Subheaders, I would skip the dividers and assume every

[2016-04-08 02:04] halayli commented on #3904
Actually thinking more about it, I don't think in its current form wrapped ListItem components would work.

[2016-04-08 02:24] yimankaing opened #3905 "Missing class properties transform"
what classes do i miss?
here the source code...

import React from 'react';
import IconMenu from 'material-ui/lib/menus/icon-menu';
import MenuItem from 'material-ui/lib/menus/menu-item';
import IconButton from 'material-ui/lib/icon-button';
import RaisedButton from 'material-ui/lib/raised-button';
import MoreVertIcon from 'material-ui/lib/svg-icons/navigation/more-vert';
import ContentFilter from

[2016-04-08 02:57] mbrookes commented on #2720
Huh, wonder why we even have `containerElement` then? Perhaps `ListItem` used to have to be an immediate child of `List`?

[2016-04-08 02:57] #3905 closed

[2016-04-08 03:27] nathanmarks commented on #3845
@mbrookes This is a bug in firefox:

https://bugzilla.mozilla.org/show_bug.cgi?id=874718

https://drafts.csswg.org/css-flexbox-1/#abspos-items

[2016-04-08 03:31] nathanmarks commented on #3845
@mbrookes

Should we fix it anyways by changing our approach?

[2016-04-08 03:50] nathanmarks commented on #3845
@mbrookes

I think this PR caused the regression: https://github.com/callemall/material-ui/pull/3597

[2016-04-08 05:15] MoOx commented on #3889
Kind of. But I think you should still make things more consistent here.

[2016-04-08 08:48] subhrm opened #3906 "Warnings thrown when installed along with React 15 ."
Problem Description
-------------------

Versions
--------

- Material-UI:  0.15.0-alpha.2
- React: 15.0.0
- Browser: Chrome 49

`npm i --save material-ui `  complains about react version , although I have already installed React v15 that I understand was released very recently.

Please find below the actual NPM error message .

`npm WARN material-ui@0.15.0-alpha.2 requires a peer of react@^0.14.0

[2016-04-08 09:12] kokarn commented on #3906
This is not a problem, this works as intended. You are installing a newer version than the team have tested for.

[2016-04-08 09:16] subhrm commented on #3906
Yes.. that makes sense.

[2016-04-08 09:16] #3906 closed

[2016-04-08 10:21] mbrookes commented on #3904
`SelectableContainerEnhance` (aka `MakeSelectable`) is a convenience wrapper for List / LostItem, and can't possibly support 3rd party or wrapped components.

If you need that, you're better of managing List state yourself.

[2016-04-08 10:21] #3904 closed

[2016-04-08 10:24] mbrookes commented on #3845
Nice :mag: on the FF bug and blame. :+1:

I'm all for moving to modern web standards (even though we've broken a few other things in older but not ancient browsers as a result), but since this breaks layout in a current browser version, we'll have to rethink this one.

[2016-04-08 10:33] mbrookes commented on #3889
@MoOx - we're working on it, but it's a big project that has evolved over time so has lots of inconsistencies in both API and code internals.

For the API, we're trying to avoid adding unneeded props, but stripping out props from existing components also has to be done with due consideration for availability of alternatives, and impact on current deployments, so takes time.

Closing this for now,

[2016-04-08 10:34] #3889 closed

[2016-04-08 10:46] kokarn commented on #3642
@bushmango @alitaheri @LordLambda  There's some issues with React 15 and the tap event thing.
Fixed in repo and soon published to npm https://github.com/zilverline/react-tap-event-plugin/issues/66

[2016-04-08 11:20] mbrookes commented on #2880
I've updated the file naming in the list at the top, and added #3739, since my fork has a rewrite of Nitin's rewrite of `DatePicker` (Yo dawg... :smile:), which includes removing `valueLink`.

What's the plan for the rest now React 15.0.0 is out?

[2016-04-08 11:54] nathanmarks commented on #3845
@mbrookes @tintin1343

I dug into fixing it while keeping flex, but the main issue is that we're combining a flex parent with absolutely positiong children and depending on that for layout -- which as we can see is not working as intended in firefox.

As long as `MenuItem` and `ListItem` are used like this, they should both use either flex, or abspos/floats but not both until this issue is fixed i

[2016-04-08 12:16] MoOx commented on #3889
Light API is a good choice ;)

[2016-04-08 13:22] VilleMiekkoja commented on #3895
To control the horizontal placement of the inkbar. For example:

`   margin-left: 28px;
    width: calc(100% - 28px);`

[2016-04-08 13:47] ryanfields opened #3907 "[TextField] Multiline with rowsMax not scrolling in iOS"
## Problem Description

I'm finding that in iOS Safari, I can't scroll a multiline TextField when its rows exceed the rowsMax property.  My TextField is set up like this:

[code]

If my input exceeds 6 rows, the TextField will scroll down so that I can always see what I'm typing, but if I then try to touch-drag to read earlier rows, nothing happens.  In a browser, I can use my scroll wheel or arro

[2016-04-08 14:30] kliofferpop commented on #3395
+1

[2016-04-08 14:31] dorthwein commented on #593
@quanglam2807 yeah - that way new features etc... Stay in line with each other.  Biggest challenge I think is then having the styles and animations working.  Also other big plus is that we can gradually add support for different components.

Down side is everything will need to be using flex boxes.

Given that this is a major refactoring of the code base - who all needs to sign off on this to go f

[2016-04-08 15:20] kunkun12 commented on #3642
SelectField not working  with  React 15

[2016-04-08 16:39] tintin1343 commented on #3845
@mbrookes @nathanmarks : Let me take shot here. I had fixed this for chrome when I was working on the PR.

If its too much work , will need to fix it some other way.

[2016-04-08 16:45] oliviertassinari commented on #3817
@mbrookes Bootstrap is doing it in many [locations](https://github.com/twbs/bootstrap/search?utf8=%E2%9C%93&q=cursor-disabled&type=Code). I think that we should do the same :+1:.

[2016-04-08 16:48] oliviertassinari commented on #2720
@nathanmarks I don't think that we can use your solution as the list is implemented. We are using this HOC https://github.com/callemall/material-ui/blob/887297d3a289a0ae100d006bcc53e933b2ff6e30/src/List/MakeSelectable.js.

[2016-04-08 17:41] BinaryWasteland opened #3908 "[DatePicker] Datepicker not opening with floatingLabelText set"
Problem Description
-------------------
DatePicker with floatingLabelText does not allow me to open the datepicker when clicking where the floatingLabelText is located.

Code I am using right now for the DatePicker:

[code]

Versions
--------

Material-UI: 0.14.4
React: 0.14.7
Browser: Chrome

[2016-04-08 17:55] nathanmarks commented on #3845
@tintin1343 IMO you are best of rolling back your previous changes and fixing the other issue without converting `MenuItem` to flexbox. It won't play nice in FF with the abspos children.

[2016-04-08 17:59] tintin1343 commented on #3845
@nathanmarks : You are right. I just made some changes and checked it. The "absolute" positioning is the culprit and also ListItem is completely messed up component.

@mbrookes @nathanmarks : I will revert back my previous changes.

[2016-04-08 18:06] BinaryWasteland commented on #3908
I was looking into this and it appears the label that is generated using floatingLabelText has a z-index of 1. If I change it to 0 it works as intended. Also, are you able to make floatingLabelText an official documented prop on the doc site please :)

[2016-04-08 18:12] newoga commented on #156
@nathanmarks I agree -- first time seeing this issue. I'll explore this more as this really needs to get fixed.

[2016-04-08 18:31] mbrookes commented on #3908
@BinaryWasteland - please submit a PR for these changes. (property docs are taken from the code comment above the relevant prop.)

[2016-04-08 19:00] mbrookes commented on #3395
@Aweary - It's working by accident rather than by design. Non-MUI props are spread to the `<td>`  / `<th>` elements respectively, and `width` is a pre-HTML5 <td> attribute that might still work, but shouldn't be used.

Instead use `style={{width: '50px'}}` or `style={{width: '50px'}}`.

@reflog - a friendly reminder to please use the relevant channels for questions, and to keep issues for confirme

[2016-04-08 19:00] #3395 closed

[2016-04-08 20:16] antoinerousseau commented on #3011
and a way to pass the `style` property of the `TextField` (could be named `textFieldStyle` I guess)

[2016-04-08 20:37] anvk opened #3911 "[TextField] Adding "x" reset icon to the DatePicker and TextField"
First of all you guys created an amazing framework. It looks great and it works great so far for everything I need it for.

But I find myself more and more creating some hacks around DatePicker and TextField. In case if user wants to reset the value of those controls I need to put "x" iconButtons outside of controls and then have a headache with styling to put the icon next to the control.
It woul

[2016-04-08 21:08] tomascharad opened #3912 "Performance in transitions"
Problem Description
-------------------
Hi guys,

I have been having performance issues that might be related to transition.js dependencies of material-ui.
I have a medium size SPA using redux.
I believe that one of the most CPU consuming process of my app are the ones related with material-ui components.
I don't know if this is a fixable issue, but I'm attaching a snapshot of my chrome cpu profil

[2016-04-08 22:20] #3173 closed

[2016-04-08 23:31] adieuadieu commented on #3553
I also have a need for this in two projects I'm working on. I'm considering implementing it since it's missing from material-ui. Before I take a stab at producing a PR, are there any thoughts on how this could be implemented, in a way that's inline with the other prevailing design philosophies which have been incorporated into material-ui? Another way of saying that: Anyone have any ideas on how t

[2016-04-08 23:35] cgestes commented on #3553
I did wrote a simple implementation of fullscreen dialog, that I called Window.

The dialog implementation is already very complicated, not sure we should add some more complication there, or some refactoring are needed to split concerns.

My 2 cents.

my code is not submitable, but I can try a new implementation with react-overlays.

[2016-04-09 00:26] nathanmarks commented on #3553
@cgestes hold up for a moment, we're figuring out the best route forward esp considering #156 which has recently come to my attention.

Feel free to chime in there by the way if you want to help out with this :+1:

[2016-04-09 01:24] ffxsam opened #3914 "[Toggle] Warning about using key as prop, React v15"
- Material-UI: 0.15.0-alpha.2
- React: 15.0.1
- Browser: Chrome 49

I'm seeing this warning:

[2016-04-09 01:31] ffxsam opened #3915 "[Checkbox] Warnings with React v15"
- Material-UI: 0.15.0-alpha.2
- React: 15.0.1
- Browser: Chrome 49

I'm getting a second React warning, this time with Checkbox:

The line in question is:

    <Checkbox checked={checked} onCheck={clickCheckbox} />

This was working totally fine in React 0.14.x.

[2016-04-09 01:32] mbrookes commented on #3914
Ref #3642

[2016-04-09 01:32] #3914 closed

[2016-04-09 01:33] mbrookes commented on #3915
Ref #3642

[2016-04-09 01:33] #3915 closed

[2016-04-09 01:35] ffxsam commented on #3642
`react-tap-event-plugin` is no longer needed, apparently (I just found this out). Mobile Safari and Chrome made it so if your web app is set to not scale/zoom, the 350ms tap delay is removed. Finally!

[2016-04-09 01:36] #684 closed

[2016-04-09 06:29] appetizermonster commented on #3912
+1

[2016-04-09 06:50] appetizermonster commented on #3912
I found a hacky way to improve performance if you don't need an css autoprefixer.
You just provide a muiTheme that has an property `userAgent: false`, then transition wouldn't be called.
See [this code](https://github.com/callemall/material-ui/blob/master/src/utils/autoprefixer.js#L20)

e.g.
[code]

[2016-04-09 08:19] kingscott opened #3916 "[IconButton] : iconHoverColor"
Problem Description
-------------------

I am using `IconButton` with a nested SVG Icon, `Settings`. When I set `hoverColor` on the SVG icon itself, the effect I desired (a highlighted-on-hover cog) works up until being clicked.

I am trying to use `iconStyles` on the `IconButton` and change `iconHoverColor` but cannot seem to emulate this effect. Any feedback is appreciated. Ideally, I want to do

[2016-04-09 11:15] sampeka commented on #3499
Ran into this problem as well, it's quite unexpected that there is a mismatch between the default docs and default version on `npm`. A lot of the set up has changed significantly between `0.14` and `0.15` so it would make things a lot easier to just have a command in the installation section: `npm install --save material-ui@0.14`. Then it will be clear that you need to install that version of `mat

[2016-04-09 12:40] sampeka opened #3917 "[Popover] Remove fixed positioning dependent on scroll position"
I had a look around for any issue that's mentioned this before but couldn't find anything. It's an obvious one, so I suspect its been raised and gone over before so if that's the case apologies for the time wasting.
## Problem Description

There's a lot of rubberbanding with dynamically positioned components when scrolling, a good example of this is the `Popover`:  http://www.material-ui.com/v0.15

[2016-04-09 13:57] #3894 closed

[2016-04-09 16:58] oliviertassinari commented on #2880
People that use this feature will realize that it's deprecated by React with v15.0.0 and stop using it.

1. One option is to deprecate our `link` with `v0.15.x`. That should be straightforward. Then remove it with `v0.16.0`.
2. The other option is to just to get rid of it with `v0.15.0`.

I would prefere option 1 so we can ship `v0.15.0` earlier.
But I'm pretty sure @nathanmarks is for option 2.
W

[2016-04-09 18:34] nathanmarks commented on #3845
@tintin1343 thanks, can you please submit a PR first reverting the previous changes? And then approach the problem from the start line again :+1:

[2016-04-09 18:59] nathanmarks commented on #3850
@tintin1343 barking up the wrong tree, this is event/button/spec related.

[2016-04-09 19:46] newoga commented on #3850
Short story: we decided to move this to `0.16.0` release in an effort to get `0.15.0` out the door sooner. This is not a regression introduced by the work on `0.15.0` (it's broken in older versions). This issue is only present in Firefox because Mozilla follows the spec for `<button />` more strictly than other browsers. Fixing this properly while maintaining good semantic DOM will require some re

[2016-04-09 21:08] mbrookes commented on #2880
I think we're all agreed that we can let React handle the deprecation warning for 0.15.0 release, so there's no urgency to remove valueLink, then we can remove it for a future release.

@newoga did some research, and the only thing we need absolutely to fix for 0.15.0 is `List/MakeSelectable`.

[2016-04-09 21:21] nathanmarks commented on #3917
@newoga this is the same as what we're talking about in https://github.com/callemall/material-ui/pull/3144.

Should it be a new issue?

[2016-04-09 21:23] nathanmarks commented on #3642
@ffxsam it's going to be a little while before a reasonable amount mobile phone users (esp android) are on the latest version

[2016-04-09 21:26] mbrookes opened #3919 "[EnhancedButton] keyboardFocus can be made to jump to another button using the mouse."
Problem Description
-------------------
if you Tab keyboard focus onto a button, then click and hold different button with the mouse, then move the mouse pointer away from the button before releasing the mouse, that button will gain keyboard focus.

Versions
--------

- Material-UI: HEAD @76cad87fdaf1ca8209fb82bef2ad86c92f767a53
- React: N/A
- Browser: Any

[2016-04-09 21:28] newoga commented on #3917
@nathanmarks Yes, I believe so. The  #3144 PR designed to solve this, but the discussion there ended up raising the same points as this issue.

Should we give this issue a new name and track it here and close #3144?

[2016-04-09 21:36] newoga commented on #3917
@sampeka We're aware of this issue and have been having some discussions on how to solve this. Many of our components use `Popover`, so if we fix it there, we'll likely fix it everywhere.

We are also considering using something like [react-overlay](https://github.com/react-bootstrap/react-overlays) that could fix this.

[2016-04-09 23:24] nathanmarks commented on #3725
removing from milestone in favour of tagging the PR

[2016-04-10 00:40] diegoaguilar commented on #2819
How did you @nathanmarks and @ghodss achieved to get a ref to the _row_ or _cell_ being clicked?

I've found out this is the signature of the funtion receiving the event:

[code]

I'm actually rendering the table from an array of objects and I just use `map` to render the rows. How could I could try to get a direct ref to the _row_ (object) or _cell_ (object property)

[2016-04-10 02:42] nickbae91 opened #3922 "Dialog causing unexpected DOM mutation issues"
Problem Description
-------------------
So I'm making this App via Firebase hosting, and use the Dialog component extensively throughout the app. However, the inclusion of a Dialog (even just one)  throws the following error:

![image](https://cloud.githubusercontent.com/assets/12439968/14407793/cb67d60a-fe92-11e5-881b-4243bfbee3db.png)

As for the JS code for the Dialog implementation, it's somet

[2016-04-10 09:44] #3873 closed

[2016-04-10 11:15] mdarif commented on #2735
+1

[2016-04-10 15:54] vKyrylenko opened #3923 "[SelectField] width of options more than width of select if fullWidth={true}"
# Problem Description
1. Create a Select Field explicitly specifying a width using autoWidth={true} with some MenuItem children
2. Open the drop down menu, the width of items more than select.
# Versions

material-ui - 0.14.4
react 0.14.3

Select
![fjabxjf](https://cloud.githubusercontent.com/assets/5664043/14411474/051a59ee-ff52-11e5-8296-c480e03f481f.png)
Opened select
![vaykpun](https://cloud.g

[2016-04-10 15:54] walkman2058 commented on #3923
[](http://prntscr.com/aqiy1m)

[2016-04-10 15:55] walkman2058 commented on #3923
[](http://prntscr.com/aqiy1m)
[](http://prntscr.com/aqiy6g)

[2016-04-10 15:57] walkman2058 commented on #3923
![Select](http://prntscr.com/aqiy1m)
![Opened dropdown](http://prntscr.com/aqiy6g)

[2016-04-10 16:19] dlivas opened #3925 "Func of the "onActive" prop of the "Tab" component is not invoked for React 15.0.x and Material-UI: v0.15.0-alpha.2"
### The function assigned in the "onActive" prop of the "Tab" component is not invoked when I switch to react 15.0.x.
--------

Consider the following code taken from the material-ui example of Tabs
(simple example at: http://www.material-ui.com/v0.15.0-alpha.2/#/components/tabs):

--------
[code]

when I switch to react 0.14.8 it works
when i switch to react 15.0.x does not work, the handleActive

[2016-04-10 16:37] dlivas commented on #3925
Correct repetition of the previous description:
Consider the following code taken from the material-ui example of Tabs:
...
function handleActive(tab) {
alert(A tab with this route property ${tab.props.route} was activated.);
}
...
<Tab
      label="onActive"
      route="/home"
      onActive={handleActive}

      <div>
        <h2 style={styles.headline}>Tab Three</h2>
        <p>
          This

[2016-04-10 16:50] cgestes commented on #3553
I'll check that if I work on it :)

On Sat, 9 Apr 2016, 02:26 Nathan, <notifications@github.com> wrote:

[2016-04-10 22:47] nathanmarks commented on #3818
@newoga @oliviertassinari

You guys mind taking a quick look at this? I narrowed it down to this commit: https://github.com/callemall/material-ui/commit/68782008b523fb30a3aa32d5e103813285501c5e

[2016-04-10 22:50] sameeri commented on #3359
Hey @oliviertassinari I'm so sorry i missed this. Sure, would love to. What's the procedure?

[2016-04-10 22:53] sameeri commented on #3359
I am going through the https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md

I will create the PR as soon as i can. Thank you so much for the opportunity. :) :+1:

[2016-04-10 22:55] Connorelsea commented on #3642
A direct copied toolbar example is not working for me on React v15.0.1

Code copied directly from the toolbar example (http://www.material-ui.com/#/components/toolbar) looks like this: http://i.imgur.com/ToG2LKZ.jpg
(and none of the buttons or actions work)

[2016-04-10 23:03] Connorelsea opened #3927 "Events, Actions, etc not working on React v.15.0.1 (Toolbar example direct copy)"
Problem Description
-------------------

Code copied directly from the toolbar example does not function. None of the events are fired when clicking the existing buttons.

(http://www.material-ui.com/#/components/toolbar) looks like this: http://i.imgur.com/ToG2LKZ.jpg

Versions
--------

- Material-UI: Latest
- React: v15.0.1
- Browser: Safari Desktop Mac, functions same way on Chrome mac

[2016-04-10 23:17] nathanmarks commented on #3927
This is because of `react-tap-event-plugin`. We're waiting for them to publish on NPM.

This library will not be fully compatible until `0.15.0`.

[2016-04-10 23:17] #3927 closed

[2016-04-10 23:24] #3845 closed

[2016-04-10 23:26] nathanmarks commented on #3531
@ShadowMen @tintin1343 This has been re-opened due to a regression the fix caused. The fix needs to be implemented in a different way (ie, not use flex while list item doesn't use flex) as to not cause regressions in the current setup.

[2016-04-11 00:06] nathanmarks commented on #3642
@Connorelsea same reason as discussed above

[2016-04-11 01:08] HugoCe17 commented on #3610
Can confirm this error on 'tab' select and 'hover' over while 'tab' selected.

`Uncaught TypeError: (0 , _reactAddonsCreateFragment2.default) is not a function`

Error happens continuously when hovering in and out of FlatButtons while tab selected.
Although, there are no errors on Hover over when buttons are not tab selected.

[2016-04-11 03:24] nathanmarks commented on #3642
@ffxsam Actually I just realised that chrome has had it on android since version 32.

Maybe we really can get rid of it.... https://github.com/gpbl/react-day-picker/issues/153

[2016-04-11 07:26] oliviertassinari commented on #2880
Ew, you are right, I can submit a PR for it this evening.

[2016-04-11 07:45] carab commented on #3759
Hello there,

Actually I also have this problem by using an SVG icon in a MenuItem.
I had to use the style property to color my icons :

`<IconMenu iconButtonElement={menuButton}>
        <MenuItem primaryText="My item" leftIcon={<BookmarkIcon style={{fill: 'red'}}/>}/>
</IconMenu>`

Maybe it is the same issue ?
Thank you !

[2016-04-11 08:51] liesislukas opened #3929 "DropDownMenu not working with React v15.x"
I installed newest React + Material-ui and tried to use drop down menu

[code]

It was rendered, but nothing happens if clicked on it.

package.json dependencies:

**Not working:**
[code]

**Working:**
[code]

OS X 10.11.4, Node v5.10.1, npm v3.8.3, Chrome 49.0.2623.110

[2016-04-11 09:04] ShMcK commented on #3929
I'm having the same issue with ALL clickable components.

[2016-04-11 09:10] ShMcK commented on #3929
Reverting to React 0.14.8 fixes the issue. But commenting out `injectTapEventPlugin()` brings the issue back.

It seems a change in React 15 concerning tap events is the underlying issue

[2016-04-11 09:20] ShMcK commented on #3929
Possible solution:

Use the latest version of `react-tap-event-plugin` in your package.json:

[code]

[2016-04-11 10:21] Sean-Snow opened #3930 "when table selectable = true. table td can't select for copy"
Problem Description
-------------------

when table selectable = true. I can't select table data.
Versions
--------

- Material-UI: 0.15.0-alpha.2
- React: 0.14.8
- Browser: Google 49.0.2623.112 (64-bit)

[2016-04-11 10:51] codeaholicguy opened #3931 "[IconMenu] IconMenu can change state when click on Link component of react-router"
I am using `IconMenu` with some more components on my page such as `Link` of react-router. I opened the popover menu, after that I click on `Link`, I cant see the event `onRequestChange` fired. So the popover till appear. The same when I click on `RaisedButton`.

material-ui v0.15 alpha2

[2016-04-11 11:09] mbrookes commented on #3929
Dupe: #3642

[2016-04-11 11:54] #3929 closed

[2016-04-11 11:58] nathanmarks commented on #2880
Whatever gets this out the door the fastest at this point! :smile:

[2016-04-11 12:54] nathanmarks commented on #3930
Caused by #3453

[2016-04-11 12:54] #3930 closed

[2016-04-11 13:55] mmckeaveney commented on #3925
Having the same issue.

[2016-04-11 14:06] ShMcK commented on #3642
A solution for the touch tap problem:

Possible solution:

Use the latest version of react-tap-event-plugin in your package.json. Unfortunately there is not yet a new release.

"react-tap-event-plugin": "git+https://github.com/zilverline/react-tap-event-plugin.git"

[2016-04-11 14:12] ShMcK opened #3932 "RaisedButton not working inside of Toolbar (0.15.0-alpha-2)"
I'm having an issue with `RaisedButton` only when used inside of the `Toolbar` component. Here is the code in question:

[code]

The result: as you can see, the button is no longer styled.

<img width="281" alt="screen shot 2016-04-11 at 10 09 37 pm" src="https://cloud.githubusercontent.com/assets/4660659/14429970/46396600-0032-11e6-8df6-117b15180c80.png">

What does work:
- Changing the RaisedBut

[2016-04-11 14:27] #2679 closed

[2016-04-11 15:18] nathanmarks commented on #3642
It has been released now: https://github.com/zilverline/react-tap-event-plugin/issues/66#issuecomment-208385262

https://www.npmjs.com/package/react-tap-event-plugin

@ShMcK using git urls in `package.json` is not a good practice for open source libraries, so we would be very unlikely to ever merge a fix like that :+1:

[2016-04-11 16:25] giorgioongithub commented on #2556
Hi, I just started evaluating MUI, and quickly got same problem. In my case I need to align a textField and a select field on one row, and on the other row a text field and a multiline text field.  In both cases there is a misalignment. I tried to set vertical-alignment: bottom as suggested by [https://github.com/callemall/material-ui/issues/2601] but no solution.
If I have 2 text fields on same r

[2016-04-11 16:49] brundonsmith commented on #2556
There are three possible alignments: top, middle, and bottom. The main thing we care about here is just that they're on the same one.

[2016-04-11 18:15] dorthwein commented on #593
@oliviertassinari is using react-native-web something that the maintainers on this project can get behind if it works out as expected?

[2016-04-11 18:16] simpixelated commented on #3803
For anyone like me, who was was confused by the folder structure: it matches the category headers on the Google Material Icons page. So Action > [account circle](https://design.google.com/icons/#ic_account_circle) can be found in "lib/svg-icons/action/account-circle".

[2016-04-11 18:24] oliviertassinari commented on #593
@dorthwein I love the idea behind this project. But I don't think that it would help in the near future.
Don't we first need to write a native version of our components before we can use `react-native-web`?

[2016-04-11 18:29] #3725 closed

[2016-04-11 18:37] oliviertassinari commented on #2880
dibs, I'm on it.

[2016-04-11 18:53] alexhawkins commented on #3932
+1

[2016-04-11 18:53] alexhawkins commented on #3931
+ 1

[2016-04-11 18:58] canastro opened #3933 "[DatePicker] Use keyboard to write date"
The only thing preventing me to use the date picker from material-ui is the fact that the user is not capable to use keyboard to write a date.

Sometimes its just faster or more suitable to just use keyboard to select dates.

Imagine a scenario where the user has a form with a lot of TextFields, he can keep pressing tab and filling the form, but once he encounters a Date picker he needs to use the

[2016-04-11 19:47] canastro opened #3934 "[DatePicker] Display errorText"
In order to have coherence with the TextField, the DatePicker should be able to show errorText.

[2016-04-11 20:04] #3934 closed

[2016-04-11 21:20] #3932 closed

[2016-04-11 21:21] #3925 closed

[2016-04-11 21:22] nathanmarks commented on #3912
@appetizermonster thanks appetizer -- we have several issues open that are related to performance and styling. This is going to be addressed soon.

[2016-04-11 21:22] #3912 closed

[2016-04-11 21:57] antoinerousseau commented on #3638
Got the same issue without the virtual keyboard

![capture d ecran 2016-04-11 16 52 38](https://cloud.githubusercontent.com/assets/160279/14443696/6f01e1c4-0006-11e6-916d-b58d6f07f906.png)

[2016-04-11 23:15] nathanmarks opened #3940 "[EnhancedSwitch] Fix controlled input warning in React 15"
Fixing this tonight -- just adding the issue as a reference.

Problem Description
-------------------

Versions
--------

- Material-UI: HEAD
- React: 15
- Browser:

[2016-04-11 23:38] mbrookes commented on #3803
@simpixelated - just like it says in the docs. :+1:

[2016-04-11 23:38] #3803 closed

[2016-04-11 23:38] dorthwein commented on #593
@oliviertassinari no, what react-native-web does is use the most "native" component depending on the platform.  So for example given a <View> tag, it'd use a <div> in the browser, a UIView in iOS and what ever the equivalent to UIView is Android.

The process would then be instead of writing native versions of each component, that we'd just have to convert the existing ones to use <View> instead o

[2016-04-11 23:59] nathanmarks opened #3942 "[Toggle] Fix numeric string pixel value for marginLeft"
Part of my react 15 updates, throws a warning in new version if you pass a numeric string as a css value instead of a number.

[2016-04-12 00:55] nathanmarks opened #3943 "[DatePicker] Triggering react warning in console when setting date"
Pops up in console when you use datepicker, investigating now. It is due to

[code]

When the date property on state is set, it switches the component from uncontrolled to controlled :-1: :8ball:

Versions
--------
- Material-UI: #3941
- React: 15
- Browser:

[2016-04-12 01:24] nathanmarks opened #3945 "[Snackbar] Docs not working"
Code parse on the docs examples is throwing an error due to a duplicate export statement.

Fixed in 8962f2f755fcdb20811f56d15f427b3fd1cbcef3

[2016-04-12 03:31] nathanmarks commented on #3638
@newoga check this one out too RE Popover

[2016-04-12 05:38] lyntco commented on #3571
Thanks for the workaround @anthony-dandrea! Working in an old version that can't be upgraded at the moment :)

[2016-04-12 05:44] newoga opened #3948 "[core] Remove Object.assign replacement of simple-assign"
This is a reminder issue to at some point remove `babel-plugin-transform-replace-object-assign` and `simple-assign`. I just tested the docs site with my current version of Chrome (49.0.2623.110) and it doesn't seem to have the same style issues we had in the past with Chrome's [broken implementation](https://bugs.chromium.org/p/v8/issues/detail?can=1&start=0&num=100&q=getOwnPropertyNames&colspec=I

[2016-04-12 06:07] l0gicgate commented on #3850
Lest we forget @newoga that you guys put block elements inside inline elements everywhere in the framework. This is why there are so many cross compatibility issues. Using properly styled inline elements would solve a lot of those problems. May one ask who made those decisions? And what is the purpose of using a button tag instead of a div if you're going to break DOM semantics in the first place?

[2016-04-12 06:28] newoga commented on #3850
@l0gicgate Absolutely, you may! You could also look through the extensive git history yourself, or, even better, find more productive ways to help contribute to this project and make it better like opening up a PR in areas you don't like. 😄

[2016-04-12 06:42] l0gicgate commented on #3850
@newoga duly noted.

[2016-04-12 09:01] witnessmenow commented on #3642
I'm having issues with tabs, I'm new to mui so I'm not sure if I am doing something wrong or is it related to this.

I've taken a direct copy of the tab examples from the simple example [here](http://www.material-ui.com/#/components/tabs)

I've updated to release 1.0.0 of react-tap-event-plugin in my package.json

The tabs display fine, they get coloured as if I click them (the grey shadow thing,

[2016-04-12 09:34] cgestes commented on #3850
@l0gicgate I dont think it was a choice, it just happened. Maintainers are always willing to clean the codebase and to improve it. Switching to flex at the same time would also be welcome.

[2016-04-12 10:38] dugokontov opened #3949 "Closing nested dialogs with ESC doesn't reshow scrollbar"
Problem Description
-------------------

1. Open demo page with dialog component (http://www.material-ui.com/v0.15.0-alpha.2/#/components/dialog)
1. Click on Dialog with data picker
1. Click Date Picker
1. Now that two dialog windows are are open press ESC
1. Both will be closed
1. Scrollbar is hidden and scrolling disabled

Versions
--------

- Material-UI: v0.15.0.alpha.2
- Browser: Version 49.0

[2016-04-12 10:53] mbrookes commented on #3759
@andrejunges - thanks for picking this up. I've had a look at your PR, but I'm commenting here, since, as you point out, it's a hack in `FontIcon` to fix issues in `ToolbarGroup`.

As @nathanmarks pointed out, there's some really hacky logic in `ToolbarGroup`:

1) I'm not totally convinced it should be opinionated about default colors for wrapped components - I get that it makes certain components

[2016-04-12 10:59] mbrookes commented on #3949
Thanks for the report. I would also suggest that it should take two Esc key presses to close the two dialogs!

[2016-04-12 11:05] maxmantz opened #3950 "Icons inside IconButton & FontIcon don't receive radium's properties"
Using version 0.14.4:
I have discovered a bug where radium's attributes (like `:hover` in the example) don't get applied to the element when either `IconButton` or `FontIcon` is used, while everything else under `styles.icon` does (like background color).

Given this style object:

[code]

I have tried these combinations for the button:

`:hover` not applied:

[code]

`:hover` also not applied:

[

[2016-04-12 11:28] giorgioongithub commented on #2556
hi, @brundonsmith ,
thanks, forcing the vertical-align at last solved, but it depend from which components are on the same line.
I had to force vertical-align bottom if there were a Select and a Text, and I had to force vertical-align top for a text and a multiline text.. :(. Not tested different mix...

[2016-04-12 12:06] tomascharad commented on #3912
Hi @appetizermonster, thanks for the hack, I'll dig into it.
@nathanmarks which issue is the duplicated one so I can track it? #42 ?

[2016-04-12 12:15] andrejunges commented on #3759
@mbrookes I was trying to avoid refactoring these other components (`ToolbatGroup, `ListItem`) but I agree with you that changing those would be a better and cleaner option for us..

[2016-04-12 12:26] nathanmarks commented on #3759
@mbrookes @andrejunges

Until this is sorted I would just use a flex container tbh.

[2016-04-12 12:44] genyded commented on #3738
+1 with a screen shot on hintText and labels. I also see this in the other areas mentioned using the latest version:

![image](https://cloud.githubusercontent.com/assets/3081676/14460261/379b84fc-0082-11e6-854e-cdb0a0b55e6d.png)

[2016-04-12 12:54] nathanmarks commented on #3912
@tomascharad some of these are related: https://github.com/callemall/material-ui/issues?q=is%3Aopen+is%3Aissue+label%3APerformance

Lots of the performance issues come down to recalculating styles and re-renders.

Style related perf issues are a goal to fix in `0.16.0` -- a big one at that.

[2016-04-12 12:55] nathanmarks commented on #3912
@tomascharad I don't see a **specific** issue for all of it, the styles issue is scattered around other issues (including perf) -- but we will have an umbrella styles issue that covers it all.

[2016-04-12 13:08] tomascharad commented on #3912
Many thanks for the information @nathanmarks .
I'll be alert on the performance tag then.

[2016-04-12 14:36] jschlieber opened #3951 "Switches not responding to clicks"
Problem Description
-------------------
I'm using material-ui in a Meteor 1.3.1 application via npm. So far, all components I've used (Dialoges, Tabs, Icons, GridLists, Selects, TextFields, Popovers, Menus, Lists, Snackbars, Buttons, LeftNav) work like a charm. But a simple plain Checkbox does not respond to any clicks. It doesn't matter whether controlled or uncontrolled. It doesn't matter where

[2016-04-12 14:51] yimankaing opened #3952 "put AppBar on top of LeftNav"
![screenshot from 2016-04-12 21 45 18](https://cloud.githubusercontent.com/assets/16798574/14464355/b3c6c372-00f8-11e6-96de-d377045a8753.png)

[2016-04-12 15:10] sanderdatema commented on #3951
I am also using the Checkbox in a Meteor 1.3.1 app and by coincidence stumbled upon the same problem. Turns out that when you use `checked` the whole checkbox freezes. But, if you use `defaultChecked`, it works. Why? I have no idea. :)

[code]

In my case I wasn't using states btw. So `item` is coming from a Meteor collection and `complete` is either `true` or `false`. The `markComplete` function

[2016-04-12 15:31] jschlieber commented on #3951
I also tried `defaultChecked` wihout success...

[2016-04-12 15:49] sanderdatema commented on #3951
Even if you use the code I provided?

[2016-04-12 15:51] jschlieber commented on #3951
Sorry. It doesn't work.

[2016-04-12 16:13] #3952 closed

[2016-04-12 17:44] nathanmarks opened #3954 "[docs] Improve performance (next.js)"
Right now the docs have pretty bad performance. This is what happens when you load pages (esp with more components):

![image](https://dl.dropboxusercontent.com/s/qh5nd94ziptn8l7/2016-04-12%20at%2011.33%20AM.png)

We eventually need a documentation setup that does not involve parsing AST at runtime, it's not scalable. AST parsing for documentation purposes should all be done during the build proce

[2016-04-12 19:28] nmaves opened #3956 "[Table] Warning: TableHeaderColumn: `key` is not a prop."
Here is the warning I am getting.

[code]

And here is the example code

[code]

[2016-04-12 19:36] nathanmarks commented on #3956
Please provide the version info

[2016-04-12 19:58] ap-o commented on #3956
As soon as i updated to react v15.0.1, i get something similar  ref' is not a prop... comes with an explanation.

Most props on a JSX element are passed on to the component, however, there are two special props (ref and key) which are used by React, and are thus not forwarded to the component.
https://gist.github.com/jimfb/fb2a04fe3fa4637d7d62

[2016-04-12 20:17] rbalicki2 commented on #3956
This also affects IconMenu

[2016-04-12 20:34] nmaves commented on #3956
We are using version 0.15.0-alpha.2 with React 15

[2016-04-12 21:12] mauvew opened #3957 "[Table] horizontal line in the header table component doesn't behave correctly"
## Table header horizontal line

The horizontal line in the header table component doesn't behave correctly. It doesn't move when the whole table moves. For example, http://www.material-ui.com/#/components/table

## Versions

- Material-UI: 0.14.4, 0.15.0
- React:
- Browser: Chrome

[2016-04-12 22:04] nathanmarks commented on #3957
Confirmed :+1:

[2016-04-12 22:06] nathanmarks commented on #1501
Closing in favour of #3289

[2016-04-12 22:06] #1501 closed

[2016-04-12 22:09] nathanmarks commented on #2859
Closing in favour of #3289

[2016-04-12 22:09] #2859 closed

[2016-04-12 22:10] nathanmarks commented on #2466
Closing in favour of #3289

[2016-04-12 22:10] #2466 closed

[2016-04-12 22:10] nathanmarks commented on #2458
Closing in favour of #3289

[2016-04-12 22:10] #2458 closed

[2016-04-12 22:11] nathanmarks commented on #1373
Closing in favour #2832

[2016-04-12 22:11] #1373 closed

[2016-04-12 22:11] #1176 closed

[2016-04-12 22:12] #1163 closed

[2016-04-12 22:12] nathanmarks commented on #1163
This is addressed in other issues

[2016-04-12 22:13] nathanmarks commented on #1993
Covered by #2832 and #3289

[2016-04-12 22:13] #1993 closed

[2016-04-12 22:13] #2036 closed

[2016-04-12 22:15] nathanmarks commented on #3956
@nmaves Not compatible yet, that's why :+1: Wait for the beta

[2016-04-12 22:15] #3956 closed

[2016-04-12 22:16] nathanmarks commented on #3863
Closing this for now, some of these problems won't be solved properly until we rewrite the component.

[2016-04-12 22:16] #3863 closed

[2016-04-12 22:36] #1192 closed

[2016-04-12 22:42] #3637 closed

[2016-04-12 22:49] #18 closed

[2016-04-12 22:49] #46 closed

[2016-04-12 22:49] #319 closed

[2016-04-12 22:49] #322 closed

[2016-04-12 23:09] #571 closed

[2016-04-12 23:09] #763 closed

[2016-04-12 23:09] #1066 closed

[2016-04-12 23:09] #1120 closed

[2016-04-12 23:17] #2569 closed

[2016-04-12 23:19] #1335 closed

[2016-04-12 23:19] #1338 closed

[2016-04-12 23:19] #1413 closed

[2016-04-12 23:19] #1504 closed

[2016-04-12 23:19] #1519 closed

[2016-04-12 23:19] #1524 closed

[2016-04-12 23:19] #1574 closed

[2016-04-12 23:19] #1623 closed

[2016-04-12 23:19] #1670 closed

[2016-04-12 23:19] #1672 closed

[2016-04-12 23:19] #1743 closed

[2016-04-12 23:19] #1749 closed

[2016-04-12 23:19] #1809 closed

[2016-04-12 23:19] #1816 closed

[2016-04-12 23:19] #1821 closed

[2016-04-12 23:21] #2182 closed

[2016-04-12 23:22] #2074 closed

[2016-04-12 23:22] nathanmarks commented on #2037
overflow: hidden

[2016-04-12 23:22] #2037 closed

[2016-04-12 23:24] #1838 closed

[2016-04-12 23:24] #1888 closed

[2016-04-12 23:24] #1911 closed

[2016-04-12 23:24] #1961 closed

[2016-04-12 23:24] #2000 closed

[2016-04-12 23:24] #2057 closed

[2016-04-12 23:24] #2085 closed

[2016-04-12 23:24] #2088 closed

[2016-04-12 23:24] #2121 closed

[2016-04-12 23:25] nathanmarks commented on #2506
https://github.com/callemall/material-ui/issues/1168

[2016-04-12 23:25] #2506 closed

[2016-04-12 23:34] newoga commented on #3375
Closing this, we have issue label for New Component and New Feature and we're discussing typography customizability in #1915.

[2016-04-12 23:34] #3375 closed

[2016-04-12 23:39] newoga commented on #2553
I'm going to close this. We discussed (and I even started implementing) a warning in #3064. I think this has become less of an issue for many users, and we're considering removing the dependency on `react-tap-event-plugin` in a future version (as mobile browsers that have implemented fast click natively are becoming more widely available).

[2016-04-12 23:39] #2553 closed

[2016-04-12 23:40] newoga commented on #3098
Closing this, looks like @chrismcv provided a work around and we're considering refactoring this component soon too.

[2016-04-12 23:40] #3098 closed

[2016-04-12 23:41] #1529 closed

[2016-04-12 23:41] #1975 closed

[2016-04-12 23:41] #2190 closed

[2016-04-12 23:41] #2242 closed

[2016-04-12 23:41] #2356 closed

[2016-04-12 23:41] #2423 closed

[2016-04-12 23:41] #2497 closed

[2016-04-12 23:41] #2619 closed

[2016-04-12 23:41] #2677 closed

[2016-04-12 23:41] #2749 closed

[2016-04-12 23:41] #2759 closed

[2016-04-12 23:41] #2788 closed

[2016-04-12 23:41] #2818 closed

[2016-04-12 23:41] #2822 closed

[2016-04-12 23:41] nathanmarks commented on #2725
fixed by https://github.com/callemall/material-ui/pull/3620

[2016-04-12 23:41] #2725 closed

[2016-04-12 23:41] #2793 closed

[2016-04-12 23:43] #2864 closed

[2016-04-12 23:43] #2878 closed

[2016-04-12 23:43] #2879 closed

[2016-04-12 23:43] #2916 closed

[2016-04-12 23:43] #2918 closed

[2016-04-12 23:43] #2919 closed

[2016-04-12 23:43] #2924 closed

[2016-04-12 23:43] #2925 closed

[2016-04-12 23:43] #2948 closed

[2016-04-12 23:43] #2989 closed

[2016-04-12 23:43] newoga commented on #2540
@brezal @SPAHI4 We would like to add more transitions to our components and I am aware of some that are planned. We're cleaning up our issues and as this one is very broad, I am going to close it. If there is a specific transition/animation that you think is lacking for a particular component or set of components, feel free to open a new issue if one isn't already open for it. Thanks!

[2016-04-12 23:43] #2540 closed

[2016-04-12 23:44] #2998 closed

[2016-04-12 23:45] newoga commented on #2551
@tzuryby I'm going to close this now.

[2016-04-12 23:45] #2551 closed

[2016-04-12 23:47] #426 closed

[2016-04-12 23:47] #458 closed

[2016-04-12 23:47] #964 closed

[2016-04-12 23:47] #970 closed

[2016-04-12 23:49] #3685 closed

[2016-04-12 23:49] #3691 closed

[2016-04-12 23:49] #3692 closed

[2016-04-12 23:49] #3696 closed

[2016-04-12 23:49] #3736 closed

[2016-04-12 23:50] nathanmarks commented on #3549
This is because of style perf issues that we are currently working on. Thanks!

[2016-04-12 23:50] #3549 closed

[2016-04-12 23:50] #3510 closed

[2016-04-12 23:50] #2962 closed

[2016-04-12 23:50] #2963 closed

[2016-04-12 23:51] #3176 closed

[2016-04-12 23:52] #3171 closed

[2016-04-12 23:53] #3159 closed

[2016-04-12 23:53] #3152 closed

[2016-04-12 23:54] #3106 closed

[2016-04-12 23:54] #3088 closed

[2016-04-12 23:55] nathanmarks commented on #3087
Fine for me, overall perf updates should helpthough

[2016-04-12 23:55] #3087 closed

[2016-04-12 23:55] #3073 closed

[2016-04-12 23:56] newoga commented on #3641
@niba @antialiasis Sorry, first time seeing this issue. Thanks for the analysis/thorough description. We've actually been tracking this issue here: #3818, and have a PR open with the fix here: #3947. It's slated to be fixed before our `0.15.0` release.  I'll close this (even though you opened it up first). Thanks much!

[2016-04-12 23:56] #3641 closed

[2016-04-12 23:58] newoga commented on #3874
@rkstar Closing this for now, feel free to reply/continue the discussion if you have any thoughts.

[2016-04-12 23:58] #3874 closed

[2016-04-13 00:29] owencm commented on #3954
Just my 2¢... I believe having a naively written documentation site that doesn't focus itself on performance is a good thing, since much real world usage of this framework will be in non-performant sites that do the wrong thing, and to the greatest extent possible I'd suggest we should make the framework hardened to that

[2016-04-13 00:33] #2574 closed

[2016-04-13 01:00] Mythli commented on #3465
To ease some pain: The react tap plugin was just updated to v1.0.0. It only works with react > 15.

[2016-04-13 01:19] chungwong commented on #2758
Hi Nathan, why is this simply closed? Is it resolved in v0.15?

[2016-04-13 02:27] nathanmarks commented on #2758
Hey @chungwong,

Sorry, I mistook this for another dialog issue that was a dupe of another.

[2016-04-13 02:28] nathanmarks commented on #2758
@chungwong Although, the material design spec calls for full screen dialogs on mobile.

[2016-04-13 02:35] nathanmarks commented on #3954
@owencm for the most part I'd agree, the docs site doesn't need to be over-engineered (or shouldn't be, as you pointed out). However, this particular issue I've highlighted causes a pretty gross performance dip when you navigate the docs. The noticable delay causes bad UX at the moment -- check out the jank.

[2016-04-13 04:39] sarink commented on #1519
Let's say I want to use [reactable](https://github.com/glittershark/reactable) instead of the built-in mui table. How could I go about styling it? Again, with something like SASS I could just `@extend` styles in the CSS. How do I achieve something similar with themes?

[2016-04-13 07:07] #3940 closed

[2016-04-13 07:07] #3942 closed

[2016-04-13 07:07] #3943 closed

[2016-04-13 07:07] #3945 closed

[2016-04-13 07:10] piotr-dobrogost commented on #2835
@nathanmarks
?

[2016-04-13 07:11] oliviertassinari commented on #3642
https://github.com/callemall/material-ui/pull/3941 was just merged. Thanks @nathanmarks.
We will release it in the next beta. I'm closing this issue.

[2016-04-13 07:11] #3642 closed

[2016-04-13 07:43] oliviertassinari commented on #593
That sounds exactly like writing a native version that hopefully, work in the browser too. As far as I know `react-native-web` is bringing react native to the web and not the otherway around.
Still, that can be realy handy to share the same code :+1:.
I have seen one small issue with this lib so far. Their `StyleSheet.create` implementation doesn't support dynamique value (needed for the muiTheme)

[2016-04-13 08:31] cgestes commented on #3949
I'll have a look.

[2016-04-13 08:38] cgestes commented on #3949
The first issues is fixed by https://github.com/callemall/material-ui/pull/3690 so it will be in the next release.

I'll check the second one later on. It's more complicated as we are listening for esc on the window.

[2016-04-13 08:49] DERIIIFranz commented on #3295
https://www.google.com/design/spec/components/dialogs.html#dialogs-behavior

[2016-04-13 08:52] mbrookes commented on #3949
Thanks @cgestes - thought I tested in HEAD, but you're correct!

@cgestes - yes please, especially as you've already fixed this.

[2016-04-13 08:52] #3949 closed

[2016-04-13 08:55] mbrookes commented on #3949
Huh: https://github.com/callemall/material-ui/issues/3295#issuecomment-209309803

Seems like perhaps we shouldn't have supported nested dialogs in the first place! :smile:

[2016-04-13 10:18] Colmea opened #3959 "[ListItem] rightIconButton: style bug with custom IconMenu component"
Hello,

First of all, thanks for you awesome work on this library ;)

I have several position bugs when using custom components Here is an example with a custom IconMenu used in a ListItem.rightIconButton:

[code]

The IconMenu works well, but the position of the icon menu is not good (see attached screenshot).

Actually, I think the issue is that style (position: absolute, right: 4, top: 12) is a

[2016-04-13 10:47] henricavalcante commented on #1373
Is it solved?

[2016-04-13 10:55] chungwong commented on #2758
@nathanmarks , I believe there is something wrong here.

It is not related to the spec at all, it is the position of the scroll bar(see attached). And it is really is a bug(or conflict) caused by the Paper element.

![dialog](https://cloud.githubusercontent.com/assets/1691249/14490989/796dff80-01b9-11e6-875a-c4782db36833.png)

[2016-04-13 11:13] thomastvedt opened #3960 "[Table] Horizontal scrolling will move vertical scrollbar on tables with a lot of columns"
## Problem Description

On tables with scrollable columns and rows, the vertical scrollbar isn't positioned correctly when scrolling horizontally, see picture:

![materialtable3](https://cloud.githubusercontent.com/assets/4746639/14488847/6a755450-016a-11e6-99cc-175748649c7d.png)

It's fixed if I add the following bodyStyle to table (wrapper-div for inner table):

`<Table
          bodyStyle={{wid

[2016-04-13 12:21] mbrookes commented on #1373
@henricavalcante - please read (and follow the link in) the comment you are replying to.

(That's long for 'no', BTW. :smile: )

[2016-04-13 12:31] henricavalcante commented on #1373
I saw ...
But I opened this issue Aug 10, 2015, another guy opens the same issue Jan 7, my tip is on next repeated issues don't close older issues in favour to newer one and try to mark as soon as possible newer repeated issues with any repeated tag. It's indifferent to me but maybe should be better to the project. :D

[2016-04-13 13:07] nathanmarks commented on #2758
@chungwong Got it. Thanks for the screenshot dude!

[2016-04-13 13:11] nathanmarks commented on #2835
@piotr-dobrogost Adding an optional close action is the wrong direction. The component should be composable instead.

[2016-04-13 13:36] mbrookes commented on #1373
If we find duplicates after the fact, the more larger discussion will usually win.

You're welcome to monitor new issues for dupes, and flag any you find with a link to the exisiting issue.

[2016-04-13 13:52] nathanmarks commented on #1373
@henricavalcante I understand where you're coming from.

However, we have almost 500 issues and we all use our free time to work on this. If you have a suggestion in how to keep the issues in perfect order while maintaining our sanity and work/life balance, let us know :+1: :laughing:

[2016-04-13 14:39] piotr-dobrogost commented on #2835
Thanks for changing title and reopening.

[2016-04-13 14:49] nathanmarks commented on #3359
@sameeri This was tagged incorrectly, sorry.

[2016-04-13 14:58] jebrial commented on #957
This actually worked for me (using 0.15.0-alpha.2):
`containerStyle={{'position': 'absolute', 'top': '64px'}}`

[2016-04-13 15:30] geekytime commented on #3876
I am seeing this same error with TimePicker. Was there ever an explanation of what was causing the problem?

[2016-04-13 15:41] geekytime commented on #3876
Meh. For me it was the difference between `require` and `import`.

If you're still using commonJS modules, you have to get at the `default` object (what a silly standard 😒 ):

[code]

[2016-04-13 16:02] izziaraffaele opened #3962 "[AutoComplete] Item TouchTap event handler overwrites the value of searchText set via props"
Using the AutoComplete as a controlled component, the value set via the searchText props is overwritten by the callback set on the item TouchTap event handler.

[2016-04-13 16:11] dorthwein commented on #593
@oliviertassinari your right - I was understanding it backwards.  Step 1 it seems is still building react-native versions of the components.  Step 2 would be potentially merging them into a single code base using something like react-native web.

[2016-04-13 16:39] owencm commented on #3948
For what it's worth, unless it's causing excessive maintainability issues I'd recommend keeping the code for Chrome 48 and before for 6 to 18 months since mobile devices in emerging markets especially have a very slow rate of updating native apps. If developers want to use MUI in production in a country like India we'll need to maintain this support for a good amount of time.

[2016-04-13 16:58] izziaraffaele commented on #3962
I was assuming that the searchText property was the way to control the input value. It turns out that using the value prop I can achieve what I was trying to do.

Would be nice to document the value prop or to have an example for the use case of a controlled Autocomplete component

[2016-04-13 18:19] newoga commented on #3948
Thanks for feedback, @owencm! We'll definitely keep that in consideration. I don't think this is a major burden from a maintainability standpoint. I just wanted to document this because the casual onlooker (and even contributor) might not understand what the motivation was behind implementing the transform in the first place.

I know React recently merged a PR (https://github.com/facebook/react/pu

[2016-04-13 18:31] rob2d opened #3964 "[DatePicker] disableYearSelection property does not work"
Problem Description
-------------------
dateYearSelection simply has no functional difference whether enabled or disabled. This can be seen in all versions on the http://material-ui.com documentation.

Versions
--------
- Material-UI: 0.15.0-alpha2 & 0.14.4
- React: Latest as of today
- Browser: Chrome (Latest as of today)

[2016-04-13 19:48] ffxsam opened #3965 "lodash.flowright missing from package.json?"
MUI 0.15-0.alpha.2
React v15.0.1
Chrome 49

I'm getting a warning about lodash.flowright not being found. The odd thing is, it's nowhere to be found in the source, but when I do `npm run build`, I see it in `lib/styles/getMuiTheme.js`:

    var _lodash3 = require('lodash.flowright');

[2016-04-13 19:56] tintin1343 commented on #3916
@kingscott : So you just want to change the on hover color for the iconButton but keep the color of the `Settings` SVG icon?

[2016-04-13 20:06] ffxsam commented on #3965
Never mind, I had a dirty `lib` folder; removing it and rebuilding fixed it

[2016-04-13 20:06] #3965 closed

[2016-04-13 20:07] tintin1343 commented on #3911
@anvk : Thanks a lot for your kind words about the project and appreciating our efforts. Its because of the community that this project has reached this scale.

As far as your suggestion is concerned, its a great idea and seems practical and reasonable. When we create/ redesign components our source of reference is the material design spec by google. Currently the material design spec does not spe

[2016-04-13 20:16] tintin1343 commented on #3855
@JoeHetfield : Were you able to solve the problem or are still facing the issue?  Do let us know.

[2016-04-13 20:17] kingscott commented on #3916
@tintin1343 Thanks for the response. Correct. So what happens now is when the page loads, and I hover over the `IconButton` (with the nested `Settings` SVG) it works, the colour changes. But as soon as I click on the `IconButton` the functionality is lost and is just gives the shadow when I hover and the icon stays white.

[2016-04-13 20:22] tintin1343 commented on #3847
@jkettmann : Did you try the above solution?  Were you able to get it resolved?

[2016-04-13 20:27] tintin1343 commented on #3852
@sleungcy : I believe whoever designed it did it for a reason. As per the spec
https://www.google.com/design/spec/components/buttons.html#buttons-raised-buttons a disabled raised button is at a lower zDepth than a normal button.

You could achieve what you want but encapsulating the button in a paper and passing the zDepth but that is not how it should be ideally done.

[2016-04-13 20:54] tintin1343 commented on #3916
@kingscott : There is not property called iconHoverColor in css. And i don't think you can specify :hover property like in css. However what you can do here is use the onMouseEnter and onMouseLeave props of iconButton and try and achieve what you want to.

Check this out:

import React from 'react';
import IconButton from 'material-ui/IconButton';
import ActionHome from 'material-ui/svg-icons/acti

[2016-04-13 21:00] tintin1343 commented on #3852
This issue is being closed for now since it does not deal with an issue and also since it does not violate material-ui specs

[2016-04-13 21:00] #3852 closed

[2016-04-13 21:10] tintin1343 commented on #3824
Confirmed in HEAD.

[2016-04-13 21:17] nmaves opened #3967 "[TextField] does not respect the floatingLabelColor color from Theme"
## Problem Description

The TextField component does not respect the value coming in from the theme.

You can see on [line 49](https://github.com/callemall/material-ui/blob/master/src/TextField/TextField.js#L49) that the floatingLabelColor is set to the hint text.  This should be floatingLabelColor from [line 18](https://github.com/callemall/material-ui/blob/master/src/TextField/TextField.js#L18).

[2016-04-13 21:21] tintin1343 commented on #3847
I am closing this issue for now. If you still feel that the above solution/suggestion does not help you can reopen it again or seek help on the gitter channel of material-ui or post the question in stackoverflow with 'material-ui' tag.

[2016-04-13 21:21] #3847 closed

[2016-04-13 21:22] mbrookes commented on #3967
@nmaves, well spotted. Care to submit a PR?

[2016-04-13 21:24] tintin1343 commented on #3916
Closing this issue for now . if the above solution doesnot help feel free to use the gitter channel of material-ui for getting your query addressed or posting the question on stackoverflow with the material-ui tag.

[2016-04-13 21:24] #3916 closed

[2016-04-13 21:24] nmaves commented on #3967
Sure thing

[2016-04-13 21:26] kingscott commented on #3916
Sorry, maybe I wasn't clear before. In your GIF, I'm wanting the actual colour of the house icon to change. Not the background.

[2016-04-13 21:28] tintin1343 commented on #3855
Closing this issue for now as this is clearly not an issue. If you still feel that the issue is not addressed feel free to use the gitter channel of material-ui to post your queries or post a question on stackoverflow with the material-ui tag.

[2016-04-13 21:28] #3855 closed

[2016-04-13 21:32] tintin1343 commented on #3964
@rob2d : Can you be a little more specific here. Do you mean you are able to select dates even when the year selection is disabled?

I was not able to reproduce the issue. If you can post a screen grab here that would definitely help.

[2016-04-13 22:22] henricavalcante commented on #1373
Thanks to open my mind @mbrookes , keep larger discussion open is in fact better. ;)

Sorry about be rude with you guys. I ❤️  Open Source and I don't know where was my mind when I wrote my last comment here.

[2016-04-13 22:39] mbrookes opened #3969 "[TextField] getStyles() not using theme from context"
Problem Description
-------------------

`getStyles()` is reading `state`, from `context`, so dynamic styling is not being applied correctly.

#### Correct:

![image](https://cloud.githubusercontent.com/assets/357702/14511452/7912d11c-01cf-11e6-87ea-3c53e3652dc7.png)

#### Current:
![image](https://cloud.githubusercontent.com/assets/357702/14511464/94d39030-01cf-11e6-8753-d4c7f9287a50.png)

Versio

[2016-04-13 22:40] mbrookes commented on #3969
PR incoming.

[2016-04-13 22:41] tintin1343 commented on #3916
Alright, so here it goes:

The Initial code will remain the same with some minor changes:

import React from 'react';
import IconButton from 'material-ui/IconButton';
import ActionHome from 'material-ui/svg-icons/action/home';

const styles = {
  icon: {
    margin: 0,
  },
};

const changeColor = 'magenta';
const hoverColor = 'green';

const IconButtonExampleSimple = () => (
  <IconButton tooltip

[2016-04-13 22:42] TobyEalden opened #3970 "RefreshIndicator timer leak"
The RefreshIndicator component continues to run its scalePath timers after the component has unmounted.

For simple reproduction, insert a console.log("timer running") [here](https://github.com/callemall/material-ui/blob/master/src/RefreshIndicator/RefreshIndicator.js#L252), and see https://gist.github.com/TobyEalden/68f66cfefaed4b2c90bd4a5b9df39f84

- Material-UI: 0.14.4
- React: 0.14.7
- Browser

[2016-04-13 22:44] kingscott commented on #3916
Very interesting, thanks for your time. I'll let you know what happens!

[2016-04-13 22:59] ffxsam opened #3973 "[AutoComplete] Impossible to specify custom width"
MUI 0.15.0-alpha.2
React 15.0.1
Chrome 49

It is currently not possible to change the width of `AutoComplete`. It's hard-coded to 256px wide. Maybe another prop such as `innerStyle` could address this?

[2016-04-13 23:05] #3969 closed

[2016-04-13 23:12] valentinvichnal opened #3974 "[Menu] Input fields not selectable on iPhone Chrome"
Problem Description
-------------------
On a small site I imported material-ui, there are some simple html input tags,
when I place this simple code to anywhere:
[code]
This makes any input fields not selectable, even so when the input is not related to the menu code, both can be on the body, or nth children of different divs.
When I tap any input field, the mobile device's keyboard pops out then

[2016-04-13 23:19] mbrookes commented on #3973
@ffxsam - set fullWidth and put it in a container of the desired width.

Please use the appropriate forum for questions before opening issues. :+1:

[2016-04-13 23:19] #3973 closed

[2016-04-13 23:22] ffxsam commented on #3973
Ok.. I'll admit, that was dumb on my part. :)

[2016-04-13 23:32] mbrookes commented on #3973
NP. You can also use width in the `style` and `menuStyle` props.

[2016-04-13 23:39] mark-burns opened #3975 "Webpack example does not build"
Problem Description
-------------------

I cloned the repo, cd'ed to the dir with webpack-example. When I issue "npm install" as instructed I get the following errors.

[code]

I tried resolving the conflict in package.json (of the example), but then the example does gives errors on "npm start".

[2016-04-14 00:03] rkstar opened #3976 "[DatePicker] alpha-2 selected date circle is not positioned correctly"
the circle around the selected date in the calendar is down and left of where it should be to be centered with the selected number.

this is verified on mac osx in chrome, safari, and firefox

the circle should be:
[code]

these screenshots are from [the datepicker documentation](http://www.material-ui.com/v0.15.0-alpha.2/#/components/date-picker)

<img width="330" alt="screen shot 2016-04-13 at 7

[2016-04-14 00:34] mbrookes commented on #3976
This issue is already fixed in master - there multiple duplicate reports for the issue if you use the search.

[2016-04-14 00:34] #3976 closed

[2016-04-14 00:35] rkstar commented on #3976
sorry.  i searched for open issues with datepicker but didn't see this in the list.  apologies.

[2016-04-14 00:41] mbrookes commented on #3976
Searching open issues isn't going to find closed issues. :smile:

(And we do ask you to test against HEAD in the issue template you deleted, so you would have seen it is already fixed.)

[2016-04-14 00:47] mbrookes commented on #3975
The version at HEAD is in preparation for the release of beta.1 with React 15 support. You will need to use a slightly earlier version for compatibility with the alpha.2 / react 0.14.x.

[2016-04-14 00:47] #3975 closed

[2016-04-14 00:50] JoeHetfield commented on #3855
@tintin1343 Hi, sorry for reply this late. yes, this is no longer a issue for, and thanks for closing it.

[2016-04-14 06:31] oliviertassinari commented on #3970
Could you check the master branch? It should already be fixed.

[2016-04-14 07:08] jkettmann commented on #3847
@tintin1343 Yes this solved my problem

[2016-04-14 07:57] crudh commented on #2310
I was looking to add `className` to the Stepper components. A question: Most of the components add `{...other}` from the props, but not all. Should `className` be explicitly added to all or should it just be added to those that don't pass on `{...other}`?

[2016-04-14 10:18] jmjpro commented on #764
The suggestion above didn't work for me. I see that the fontSize is hard-coded to muiTheme.rawTheme.spacing in font-icon.js. Please reopen this ticket!

[2016-04-14 11:16] TobyEalden commented on #3970
Confirmed - this is still happening on the current master

[2016-04-14 11:44] yimankaing opened #3978 "All things are loaded! Why i need to refresh page when i link to other pages?"
This is my MainLayout with React.Component. I made 3 parameters in constructor.
Header, Content, Footer are loaded. But i need to refresh page when i link to other pages.

`export class MainLayout extends React.Component{
    constructor({header, content, footer}){
        super();
        this.header = header;
        this.content = content;
        this.footer = footer;
    }
    render(){

[2016-04-14 11:47] nathanmarks commented on #3978
@yimankaing Hey, sorry -- this doesn't appear to be material-ui related so I'm closing. Please try stackoverflow or even our channel on gitter.

[2016-04-14 11:47] #3978 closed

[2016-04-14 11:54] nathanmarks commented on #2310
@crudh Which ones are giving you problems? Let me know and I'll see what I can do to get it sorted asap for you -- I just refactored that component for the beta.

[2016-04-14 12:03] nathanmarks commented on #1373
@henricavalcante no problem, we're all in it together :smile:

[2016-04-14 12:28] nathanmarks commented on #3974
@valentinvichnal what version of chrome on iphone?

[2016-04-14 12:51] valentinvichnal commented on #3974
@nathanmarks Sorry I forgot to write, 49.0.2623.109

[2016-04-14 12:56] glenarama opened #3979 "Stepper closed on initial step"
Using Alpha-2 the Stepper does not start with the Step 'open' when using an initial activeStep. While the Step icon is selected, the Step component is not visible.

This can be seen by updating any of the examples to set activeStep as 0 instead of -1 in the getInitialState function.

[2016-04-14 13:17] nathanmarks commented on #2310
@crudh Just realised that my refactor is not in the current release. It is in the beta version being released today. So check it out once that happens!

[2016-04-14 13:17] nathanmarks commented on #3979
Refactored stepper is being released in the beta.

[2016-04-14 13:17] #3979 closed

[2016-04-14 13:28] yimankaing commented on #3978
@nathanmarks oh! I'm sorry :D

[2016-04-14 13:32] crudh commented on #2310
@nathanmarks the main `Stepper` and `StepConnector` (haven't used the connector, just saw it in the code) doesn't set `className`. It think the other sets `{...other}` so they will cover it (in master).

But we don't have any actual problem right now, we are only evaluating the library and noticed that we couldn't set `className` on all the components.

[2016-04-14 14:03] akosk opened #3980 "[TableBody] Why componentWillReceiveProps set only the last item selected when I deselect an item?"
### The issue:

1. I click on select all checkbox in the header of the table -> all items selected.
2. I deselect a random item.
3. All the items deselected in the table except the last one.

I found the following code in table-body.js / componentWillReceiveProps:

[code]

What is the purpose of  **[this.state.selectedRows[this.state.selectedRows.length - 1]]**?
Why should deselect all items but t

[2016-04-14 14:21] dorthwein commented on #3047
I ran into this as well and @yannickschuchmann solution worked for me.  Setting  useLayerForClickAway={true} resolves the issue.

[2016-04-14 14:26] valentinvichnal commented on #3974
Found the problem, this small code was the cause of this:
[code]
Mobile Chrome may resize the window width when displays the keyboard, this event handler interrupts it somehow.
But I don't get it how it is related to the MenuItem component...

[2016-04-14 14:26] #3974 closed

[2016-04-14 14:49] hai-cea commented on #3643
This project is currently licensed under MIT and contributors also agree that the code they submit is under MIT - https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#license

I know that this isn't as formal as a signed CLA, so I'm trying to see if we need to formalize this more or if what we have is sufficient.

@bramick sorry this is taking a while.

[2016-04-14 15:13] mrvictorn opened #3981 "Peer dependency upgrade (after React v.15.x.x released)"
Problem Description
-------------------
Due to peer dependency stated as
`"peerDependencies": {
    "react": "^0.14.0",
    "react-dom": "^0.14.0",
    "react-tap-event-plugin": "^0.2.0"
  },`
in package.json

Current project can not be upgraded to new stable React version
(FB guys decided to step up version ignoring semver.org directrly to 15.0.0 from 0.14.8)

Can you add this to roadmap?

Versio

[2016-04-14 15:29] tintin1343 commented on #1398
This is no longer an issue on desktop browsers. There is already an issue posted for mobile/ iphone https://github.com/callemall/material-ui/issues/1261
.Closing this issue for now.

[2016-04-14 15:29] #1398 closed

[2016-04-14 15:33] tintin1343 commented on #3911
Possible duplicate of https://github.com/callemall/material-ui/issues/2204.
Closing this issue for now as its a duplicate.

[2016-04-14 15:33] #3911 closed

[2016-04-14 15:35] tintin1343 commented on #2146
This will be resolved by the following PR. https://github.com/callemall/material-ui/pull/3739

Closing this issue for now.

[2016-04-14 15:35] #2146 closed

[2016-04-14 15:43] tintin1343 commented on #3029
@AleffHenrique : Were you able to get it resolved using the above fix?

The above fix should be able to fix the inlining issue:

`<DatePicker hintText="Portrait Dialog" style={{display: 'inline-block'}} />
    <DatePicker hintText="Inline Dialog" style={{display: 'inline-block'}} />`

![screen shot 2016-04-14 at 10 42 42 am](https://cloud.githubusercontent.com/assets/15271922/14534199/b5875c54-022

[2016-04-14 15:43] #3029 closed

[2016-04-14 15:46] tintin1343 commented on #2930
Closing this issue for now as , as per the above discussion to use other existing components to create the desired DatePicker.

If you still have any more questions feel free to use the gitter channel of material-ui or using stackoverflow for posting your question,

[2016-04-14 15:49] tintin1343 commented on #2462
This is no longer an issue. Also https://github.com/callemall/material-ui/pull/3739 will resolve all these issues across browsers.

[2016-04-14 15:49] #2462 closed

[2016-04-14 15:53] tintin1343 commented on #2209
This can be done like this:

`<DatePicker hintText="Portrait Dialog" textFieldStyle={{width: '100%'}} />`

Looks like this:
![screen shot 2016-04-14 at 10 53 19 am](https://cloud.githubusercontent.com/assets/15271922/14534513/2290c118-022f-11e6-8d8d-3fdfab32fe5a.png)

Closing this issue for now.

[2016-04-14 15:53] #2209 closed

[2016-04-14 15:55] tintin1343 commented on #1981
This is already fixed. Closing this.

[2016-04-14 16:00] Rhywden opened #3984 "Suggestion: Update the docs _before_ publishing a new version."
Title really says it all - the switch to beta.1 (which I did because I wanted to finally use React 15) broke my page somewhat due to every single module being switched from the material-ui/lib/name/part_name to material-ui/Name/Partname.

I could live with that. But now I have this lovely error message on my hand:

Warning: Failed Context Types: Required context `muiTheme` was not specified in `Ap

[2016-04-14 16:01] tintin1343 commented on #1900
getTime is deprecated now. use defaultTime instead. Its set to null initially so it should help your case.

Closing this issue for now.

[2016-04-14 16:01] #1900 closed

[2016-04-14 16:02] tintin1343 commented on #1829
Closing this.

[2016-04-14 16:02] #1829 closed

[2016-04-14 16:03] tintin1343 commented on #1566
@alitaheri : are we gong to take this forward or can this be closed?

[2016-04-14 16:11] tintin1343 commented on #1560
The first issue does not occur any more. The second observation still exists which is fine because no date is selected and the DatePicker by default will always show the current month.

Feel free to submit a PR for the second one. Closing this for now.

[2016-04-14 16:11] #1560 closed

[2016-04-14 16:13] tintin1343 commented on #1555
https://github.com/callemall/material-ui/pull/3739

This will make the year selector in sync with the material design spec.

[2016-04-14 16:17] tintin1343 commented on #1737
This looks to be fixed. Closing this for now. Feel free to leave a comment if you still see this issue.

[2016-04-14 16:17] #1737 closed

[2016-04-14 16:46] davidlambl commented on #3981
I ran into this issue as well.. glad to find an issue has already been opened for it

[2016-04-14 17:00] nathanmarks commented on #3984
Noted, thanks. The lag was not planned. Sorry for the inconvenience.

If this is a big issue for you, I'd suggest not using alpha/beta releases :+1:

[2016-04-14 17:00] #3984 closed

[2016-04-14 17:02] nathanmarks commented on #3981
https://github.com/callemall/material-ui/pull/3941

[2016-04-14 17:02] #3981 closed

[2016-04-14 17:04] Rhywden commented on #3984
There wasn't a *choice* - `npm install --save material-ui `grabbed the beta for me by default.

[2016-04-14 17:06] nathanmarks commented on #3984
@Rhywden it did? Ok, I'll talk with the owner about our release process. Thanks for bringing that up!

[2016-04-14 17:10] Rhywden commented on #3984
Yes, it did, I'm afraid - due to me trying to find out where exactly the versioning issue was in an unrelated matter, I had completely removed the npm_modules folder from my application and was reinstalling the modules by hand, beginning with React. I myself did not specify a version anywhere.

[2016-04-14 17:11] nathanmarks commented on #3984
@Rhywden aha, okay. Thanks for the info.

[2016-04-14 17:12] newoga commented on #3984
@Rhywden Just for you and anyone else that is wondering. We generally don't publish breaking changes/release notes on the documentation site. We publish them as part of GitHub's release notes (which was published before the `npm release`)

You can view them here, and there's a link to a tool to migrate import paths:
https://github.com/callemall/material-ui/releases/tag/v0.15.0-beta.1

As @nathanma

[2016-04-14 17:32] alitaheri commented on #1566
@tintin1343 Well, we have more pressing issues to tackle. But this is a valid feature request, I think we should keep it to express that we are open to PRs implementing this :+1:

[2016-04-14 17:35] tintin1343 commented on #1566
Alright. I will keep this open for people who want to submit a PR for this.

[2016-04-14 17:46] tintin1343 commented on #1102
This seems to be resolved now. Closing this for now.

Do let us know if you still see this issue.

[2016-04-14 17:46] #1102 closed

[2016-04-14 17:47] alexhawkins opened #3985 "Add material-ui-codemod to npm please."
Problem Description
-------------------

- Material-UI:
- React:
- Browser:

[2016-04-14 17:49] tintin1343 commented on #1283
@anilCSE : Is this problem solved for you? Let us know.

[2016-04-14 17:56] tintin1343 commented on #1207
@mbrookes : Was this issue fixed by you? If yes we can close this.

[2016-04-14 18:02] tintin1343 commented on #1151
I guess this was fixed by PR for #2474. Closing this. Let us know if this issue still persists we can reopen this.

[2016-04-14 18:02] #1151 closed

[2016-04-14 18:08] tintin1343 commented on #1499
This issue seems to be fixed. Closing this for now.

[2016-04-14 18:08] #1499 closed

[2016-04-14 18:11] tintin1343 commented on #1473
Were you able to get this resolved?  I am closing this issue for now. If you still need help, feel free to post it on the gitter channel of Material-ui or post your question on stackoverflow with 'material-ui' tag. Thanks.

[2016-04-14 18:11] #1473 closed

[2016-04-14 18:14] tintin1343 commented on #1505
@llhupp : I was not able to understand your issue. Is this still an issue?
 I am closing this issue or now , if you feel the issue still persists feel free to leave a comment below.

[2016-04-14 18:14] #1505 closed

[2016-04-14 18:19] tintin1343 commented on #1500
This seems to have been resolved. Closing this issue for now.

[2016-04-14 18:19] #1500 closed

[2016-04-14 18:26] tintin1343 commented on #1498
I was able to assign both width and height to the menu by specifying the menuStyle

`menuStyle={{width: '1000px', height: 500}}`

It looks like this:

![screen shot 2016-04-14 at 1 26 00 pm](https://cloud.githubusercontent.com/assets/15271922/14539095/7b547f28-0244-11e6-9cc9-fb889859f79d.png)

This seems to be fixed now. Closing this issue.

[2016-04-14 18:26] #1498 closed

[2016-04-14 18:27] oliviertassinari commented on #3970
@TobyEalden Wow, good catch! We can end up with many current timer running when the component is quickly updated.

[2016-04-14 18:39] antoinerousseau commented on #3769
Here: https://github.com/callemall/material-ui/blob/ad68c67412c852ca9a0117f473d0c009d10849ff/src/List/ListItem.js#L428

[2016-04-14 18:40] mbrookes commented on #2930
@tintin1343 [This](https://github.com/callemall/material-ui/issues/2930#issuecomment-171478831) isn't a suggestion to use existing components, it's an example of what a refactored composable `DatePicker` might look like.

[2016-04-14 18:52] tintin1343 commented on #1795
@Dindaleon : Were you able to resolve this using the above suggestion?
I am closing this for now. Feel free to comment below if its not.

[2016-04-14 18:52] #1795 closed

[2016-04-14 19:01] tintin1343 commented on #1638
@binarykitchen : Are you still facing an issue with this. Do let us know.

[2016-04-14 19:06] tintin1343 commented on #1999
@KaeruCT : is there still a problem with this one? What you are using looks fine.

I am closing this for now. If you still have an issue with this one, do let us know.

[2016-04-14 19:06] #1999 closed

[2016-04-14 19:08] tintin1343 commented on #3850
Duplicate of https://github.com/callemall/material-ui/issues/1381

[2016-04-14 19:27] tintin1343 commented on #1855
@louy @oliviertassinari : If you mean the animation is off then I have fixed it in the following PR.
https://github.com/callemall/material-ui/pull/3739

[2016-04-14 19:32] tintin1343 commented on #1943
@mbrookes : I will take a look at this.I have observed it too.

[2016-04-14 19:33] tintin1343 commented on #1960
@etmarch : Is it still a problem?  I was not able to reproduce this. I am going to close this for now. If you still feel that this is an issue do let me know.

[2016-04-14 19:33] #1960 closed

[2016-04-14 19:34] tintin1343 commented on #1555
I am closing this for now, as the yearSelector works perfectly fine. The above listed PR will make it compatible with the material-design spec.

[2016-04-14 19:34] #1555 closed

[2016-04-14 19:43] tintin1343 commented on #1990
@ir-fuel : Were you able to solve this issue? Let me know if you still have this issue

[2016-04-14 19:50] mbrookes commented on #1943
This was mentioned in another issue (that I can't find), and someone (I think @oliviertassinari) suggested using a single component for hours and minutes so the hand can animate between positions, as in the spec, but anything would be better than how it currently is! :+1:

[2016-04-14 19:54] mbrookes commented on #1855
Already fixed in 0.14.3 and above.

[2016-04-14 19:54] #1855 closed

[2016-04-14 20:09] mbrookes commented on #1207
@tintin1343 - no, we need to revisit this one.

[2016-04-14 20:12] mbrookes commented on #3985
@alexhawkins - please use gitter for this sort of request.

[2016-04-14 20:12] #3985 closed

[2016-04-14 20:18] mbrookes commented on #1381
Closing in favour of #3850.

[2016-04-14 20:18] #1381 closed

[2016-04-14 20:26] mbrookes commented on #1981
0.15.0-beta.1:

![image](https://cloud.githubusercontent.com/assets/357702/14542574/822695b4-0287-11e6-9126-5eac78c4b107.png)

[2016-04-14 20:47] tintin1343 commented on #2219
@mairh This looks to be fixed.
![screen shot 2016-04-14 at 3 46 27 pm](https://cloud.githubusercontent.com/assets/15271922/14543082/12e6dcc4-0258-11e6-8984-b54f27bc3752.png)

I am closing this issue. If you feel this has not been addressed completely feel free to leave a comment below.

[2016-04-14 20:47] #2219 closed

[2016-04-14 20:49] tintin1343 commented on #1963
This seems to be resolved now. If you feel this has not been addressed completely feel free to leave a comment below.

[2016-04-14 20:49] #1963 closed

[2016-04-14 21:31] binarykitchen commented on #1638
haven't checked out - too much other things to do

[2016-04-14 21:49] tintin1343 commented on #1638
@binarykitchen : I am closing this for now. If you feel this hasn't been addressed or face it again i.e whenever you use mui again feel free to leave a comment below and we can reopen it.

[2016-04-14 21:49] #1638 closed

[2016-04-14 22:38] #3970 closed

[2016-04-15 01:09] brundonsmith opened #3991 "LeftNav needs paperStyle property"
I wanted to add padding to the area where the `MenuItem`'s live in the `LeftNav`, to push them down below my `AppBar`, and I discovered that `LeftNav`'s `style` attribute actually targets the viewport-covering event detector element. This makes well enough sense, since it's the top-level element of the `LeftNav`, but it would be good to also have a way to style the actual paper menu.

<img width="

[2016-04-15 02:38] Dreculah opened #3994 "material-ui-codemod not in npm"
Hi,

I just upgraded to the beta1, but can't use the codemod because it isn't in the npm registry.
https://github.com/callemall/material-ui/blob/master/packages/material-ui-codemod/README.md

Please advise.

Thanks!

[2016-04-15 02:58] newoga commented on #3994
@Dreculah, for now you can just download the script from the repository. It's just one file:

https://github.com/callemall/material-ui/blob/master/packages/material-ui-codemod/transforms/v0.15.0/import-path.js

[2016-04-15 02:59] #3994 closed

[2016-04-15 06:12] hobartwang commented on #3905
I met the same problem. Did it solved?

[2016-04-15 06:36] codeaholicguy opened #3995 "'onRequestChange' event on IconMenu doesn't trigger on some cases"
We met an issue when using `IconMenu`. See below behaviors

(A) `onRequestChange` event is triggered if we do mouse click on:
- DropDownMenu (from `material-ui` library)
- <div> (native HTML tag)

Outcome: `onRequestChange` is triggered param `reason = 'clickAway'`

(B) `onRequestChange` event isn't triggered if we do mouse click on:
- `<a>` (HTML tag), but we stopped event bubble up in order to s

[2016-04-15 08:20] gudh opened #3996 "[Stepper] The style of step indicator icons are small"
Hi, thanks for building this amazing library, really love it!

Problem Description
-------------------
Unlike the [online demo](http://www.material-ui.com/v0.15.0-beta.1/#/components/stepper), when I use it locally, the step indicator svg icons are small (I use exact the same code in the online demo, and all latest version of libraries)

 *I try to produce a online version, however, is there a onl

[2016-04-15 08:39] EloB opened #3997 "[Tabs] and containerElement with Link click issue"
## Problem Description

Must double click on the tab else it won't show the new tab content. Works as expected in Chrome but not in Safari and Firefox.
## Versions
- Material-UI: 0.14.4
- React: 0.14.8
- Browser: Chrome (works), Safari (broken), Firefox (broken)

[2016-04-15 08:46] thomasmery commented on #3954
@owencm hi, just browsing the issues here and stumble upon your comment

would you care to explain what you meant by

thanks

[2016-04-15 09:38] mbrookes commented on #1267
That's out of scope for this propject, and it isn't needed anyway. Here's some possible solutions to useing React / npm packages with Rails.:

https://github.com/browserify-rails/browserify-rails

https://github.com/shakacode/react_on_rails

http://collectiveidea.com/blog/archives/2016/04/13/rails-react-npm-without-the-pain/

I'm sure there are many others.

[2016-04-15 09:38] #1267 closed

[2016-04-15 12:02] nathanmarks commented on #3996
@gudh Can you make a demo repo?

[2016-04-15 12:04] nathanmarks commented on #3991
Please fill out the issue template and submit a new issue

[2016-04-15 12:04] #3991 closed

[2016-04-15 12:36] nathanmarks commented on #3954
@thomasmery What he's saying is, since lots of users do the wrong thing we shouldn't over-optimize the documentation in order to have it be representative of real world use so we can experience user's woes and make sure the framework can hold its ground.

[2016-04-15 12:46] thomasmery commented on #3954
thanks,

still not sure what _the wrong thing_ is

but I guess it equals to _not optimized_

On Fri, Apr 15, 2016 at 2:37 PM, Nathan <notifications@github.com> wrote:

[2016-04-15 12:48] SPAHI4 opened #3998 "[SelectField] Server rendering warning"
[code]
version 0.15.alpha-2
I think it's problem with id generating in TextField

[2016-04-15 12:55] nathanmarks commented on #3954
@thomasmery Yes, not perf optimized.

[2016-04-15 12:56] nathanmarks commented on #3998
@SPAHI4 can you pass your own ID prop in?

[2016-04-15 12:57] nathanmarks commented on #3998
@SPAHI4 That's the best solution for now until we can take a closer look at this.

[2016-04-15 12:57] nathanmarks commented on #3997
@EloB Please provide the issue template

[2016-04-15 12:59] SPAHI4 commented on #3998
@nathanmarks id property was passed

[2016-04-15 13:00] nathanmarks commented on #3995
@codeaholicguy is this connected to #3931 ? It seems like these issues can be consolidated as they both are related to problems with the `onRequestChange` event for `IconMenu`

[2016-04-15 13:00] #3931 closed

[2016-04-15 13:03] nathanmarks commented on #3998
@SPAHI4 it should only try and use the auto generated ID if you don't provide your own ID:

(check line 442 of TextField.js)
[code]

[2016-04-15 13:04] nathanmarks commented on #3980
@akosk how are you using `0.15.0-alpha2` and `0.14.4` with React 15? They aren't compatible.

[2016-04-15 13:08] SPAHI4 commented on #3998
@nathanmarks label inside TextField still has ```defined-undefined--``` for

[2016-04-15 13:08] nathanmarks commented on #3486
@alitaheri since this isn't being updated we may want to get rid of that check list and close the issue.

[2016-04-15 13:13] nathanmarks commented on #3998
@SPAHI4 How does that happen with this?

https://dl.dropboxusercontent.com/s/2st0wj0vrpdr5z7/2016-04-15%20at%209.12%20AM.png

[2016-04-15 13:13] nathanmarks commented on #3998
Unless your `id` is falsy, something must be going wrong

[2016-04-15 13:15] akosk commented on #3980
@nathanmarks I use React 0.14.8, I corrected the version number. Sorry for my mistake.

[2016-04-15 13:23] SPAHI4 commented on #3998
@nathanmarks my code
[code]
generated html with ID prop
![image](https://cloud.githubusercontent.com/assets/1670998/14562381/f4c664a8-0324-11e6-9047-f27f32e1afa5.png)
without ID prop
![image](https://cloud.githubusercontent.com/assets/1670998/14562621/668c529a-0326-11e6-9bc1-97bab8ece050.png)

[2016-04-15 13:55] EloB commented on #3997
https://jsfiddle.net/f71rn79a/

![tablink](https://cloud.githubusercontent.com/assets/476567/14563465/72542f84-0322-11e6-9ab7-b29ef3be28b8.gif)

[2016-04-15 14:04] mbrookes commented on #3486
Or start updating it.

[2016-04-15 14:08] hobartwang opened #3999 "[Dialog] Dialog does throw Error in v0.15.0.beta.1"
I copy the `Simple dialog` to my meteor-1.3.1 app source. Errors as follows:
`
Missing class properties    transform.
`
Somebody also met the error here?

[2016-04-15 14:54] nathanmarks commented on #3999
Please follow the issue template properly

[2016-04-15 15:20] Joramt opened #4000 "DatePicker / TimePicker not working ( no error shown )"
Hello,

I don't know if it's a bug or that i did something wrong, but after searching everywhere i'm not able to make those 2 components works. They simply don't show, nothing happens when i click on them and i tab doesn't focus them.

I also called the` injectTapEventPlugin();` at the beginning of my app.js

[code]

[code]

[2016-04-15 15:36] mbrookes commented on #3999
@hobartwang - please google "Missing class properties transform meteor', and come back if you still have a problem, and can demonstrate the issue is with Material-UI.

[2016-04-15 15:36] #3999 closed

[2016-04-15 15:38] hobartwang commented on #3999
Ok,thanks

[2016-04-15 15:40] mbrookes commented on #4000
Please use the appropriate channel for questions.

https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#asking-questions

If you have a reproducible issue with Material-UI, please use the issue template you deleted.

In short, DatePicker works 0.14.4, and in the current beta:
http://www.material-ui.com/v0.15.0-beta.1/#/components/date-picker

[2016-04-15 15:40] #4000 closed

[2016-04-15 15:52] nathanmarks commented on #3998
I'll take a look, thanks

[2016-04-15 18:05] IrvingAxelB commented on #2735
+1

[2016-04-15 18:08] bramick commented on #3643
@hai-cea Thanks for the update!

[2016-04-15 18:29] dorival opened #4002 "Webpack example throw errors on Main.js while compiling"
Problem Description
-------------------

https://github.com/callemall/material-ui/tree/v0.15.0-beta.1/examples/webpack-example
Followed the simple steps by the book, the following error occurred when executing `npm start`:

[code]

I checked the folders, and for example, there is no "raised-button" folder, but "RaisedButton". Replacing the names in the config did **not** solve the problem.

I'm st

[2016-04-15 18:36] oliviertassinari commented on #4002
It should be fixed by https://github.com/callemall/material-ui/pull/3992

[2016-04-15 18:37] #4002 closed

[2016-04-15 18:38] ronanwize opened #4003 "List/NestedList.js is misspelled as `NestedIist.js`"
Problem Description
-------------------
The NestedList.js file is misspelled - an uppercase `i` has been used instead of an uppercase 'L'.

Oops!

Versions
--------
- Material-UI: HEAD
- React: 15.0.1
- Browser: any

[2016-04-15 18:43] oliviertassinari commented on #3998
@SPAHI4 Can you have a look at https://github.com/callemall/material-ui/pull/4004.

[2016-04-15 18:50] mbrookes commented on #4003
Duh, whoops! :speak_no_evil:

Thanks @ronanwize!

[2016-04-15 18:52] dlivas opened #4005 "LeftNav disappeared in 15.0.0.beta1, in 15.0.0.alpha2 was still there"
Where did LeftNav go
-------------------
LeftNav disappeared in 15.0.0.beta1, in 15.0.0.alpha2 was still there

Versions
--------

- Material-UI: 15.0.0.beta1
- React: 15.0.1
- Browser: Any

[2016-04-15 18:57] Dreculah opened #4006 "NestedList typos"
Hi,

in /List:
filename: NestedList.js vs Nestedlist.js
ListItem: NestedList vs NestedIist

[2016-04-15 18:58] mbrookes commented on #4006
#4003. Please use the search. Please use the issue template.

[2016-04-15 18:59] newoga commented on #4006
#4003

[2016-04-15 18:59] #4006 closed

[2016-04-15 18:59] mbrookes commented on #4006
Jinx. :smile:

[2016-04-15 19:00] newoga commented on #4006
lol!

[2016-04-15 19:01] mbrookes commented on #4005
Please refer to the release notes. Please don't use issues to ask questions, as it says in the README, contributor guide, and issue template.

[2016-04-15 19:01] #4005 closed

[2016-04-15 19:54] owencm commented on #3954
@thomasmery yes, I meant most sites are designed badly when it comes to performance and we should ensure Material-UI is hardened to that as much as possible.

For a specific example, sites often do seconds of blocking JS when buttons are clicked. We should ensure the framework is designed to ensure animations still operate correctly when that happens. I recently submitted pull request https://gith

[2016-04-15 20:56] injune1123 commented on #2337
+1
I wish there is something like[ React-Select ](http://jedwatson.github.io/react-select/)

![screen shot 2016-04-15 at 4 44 26 pm](https://cloud.githubusercontent.com/assets/12467641/14574654/ed5bccfc-032a-11e6-91dd-4d72fdeb91a9.png)

[2016-04-15 20:56] tintin1343 commented on #1990
Closing this issue for now, as there has been no response. If you feel this issue has not been addressed completely please leave a comment below and we will reopen this.

[2016-04-15 20:56] #1990 closed

[2016-04-15 21:18] alexhawkins opened #4008 "[EnhancedButton] Should not apply type="button" when not rendering a <button> element"
## Problem Description

to reproduce error, update normalize.css from 3.0.3 to  "4.1.1". See image below. You'll notice that ListItems inside a LeftNav/Drawer look strange.

https://www.dropbox.com/s/nv1lxfac7fiamfy/Screenshot%202016-04-15%2014.03.43.png?dl=0
## Versions

- Material-UI: 0.15.0-beta.1
- React:15.0.1
- Browser: Chrome 50.0.2661.75 (64-bit)

[2016-04-15 21:21] aahan96 opened #4009 "[DatePicker][Docs] minDate and maxDate not using DatePicker"
Problem Description
-------------------
The ranged example in the DatePicker docs lacks DatePicker for min and max dates. So, we should use DatePicker to take input for these values, which will make it more dynamic and user friendly.

![screen shot 2016-04-15 at 4 18 27 pm](https://cloud.githubusercontent.com/assets/7631739/14575251/30915c44-0326-11e6-88d5-741540dfd03e.png)

![screen shot 2016-04-

[2016-04-15 21:31] tintin1343 commented on #1283
Closing this issue for now. If you feel this issue has not been addressed completely do feel free to leave a comment below and we will reopen the issue.

[2016-04-15 21:31] #1283 closed

[2016-04-16 00:28] #4003 closed

[2016-04-16 00:38] jonsrose opened #4013 "[MenuItem] Fix Uncaught TypeError: Cannot read property 'applyFocusState' of undefined"
Problem Description
-------------------

I have a react/redux app has a left nav with some menu items that are conditionally rendered based on properties passed in:

e.g.
[code]
If the condition changes so that a previously rendered menu item no longer renders, then in certain cases it generates this error.

menu-item.js:185 Uncaught TypeError: Cannot read property 'applyFocusState' of undefined

[2016-04-16 01:26] owencm opened #4014 "[AppBar] Add AppBarContainer component providing padding and layout automatically"
Let me know if this has been previously debated, I'd love to read the discussion!

Today I think creating a simple layout with an AppBar at the top of the page is unnecessarily complex, as developers need to manually set the `AppBar` to fixed position and add padding to whatever is under it with the same height as it will be (which turns out to be `spacing.desktopKeylineIncrement`).

Has it been d

[2016-04-16 01:40] owencm commented on #3712
I've started playing around with implementing this. There's a pretty high chance I won't finish though so feel free to pick this up too if you'd like! Is there any process for adding half completed features to some staging area in the repo or should I focus on completing a v1 implementation before filing a PR?

[2016-04-16 01:50] owencm commented on #4014
FYI I got thinking about this due to starting implementation on a BottomNavigation component (https://github.com/callemall/material-ui/issues/3712) and wondering how this will integrate with the Snackbar in terms of layout. A container model definitely seems tidier and the only feasible option if we ever support dynamic height.

[2016-04-16 02:19] nathanmarks commented on #4014
@owencm

For `0.16.0` one of the goals is to solve the issue of styles + all the baggage and inefficiency that comes with replicating simple css functionality such as `:hover`. This also includes fixing the performance issues created by the current implementation.

This is also an opportunity to plant the seeds of a media query based responsive layout system that would in turn enable what you're s

[2016-04-16 02:28] nathanmarks commented on #3712
@owencm

Things to also consider for the design of this component:

https://www.google.com/design/spec/components/bottom-sheets.html

+ `Drawer` and how that plays with bottom sheets. I feel like this things slide up sometimes... (Android user, google stock)

[2016-04-16 02:38] newoga commented on #4014
@owencm Here is a proof of concept that needs some cleaning up but is what we had in mind for next iteration of AppBar.

http://newoga.github.io/material-ui-scrolling-techniques/
https://github.com/newoga/material-ui-scrolling-techniques

The children of AppBar was going to be used to compose different parts of the AppBar rather than page content. That being said, it still automatically manages pa

[2016-04-16 04:59] alitaheri commented on #4005
@dlivas It's `Drawer` now.

[2016-04-16 05:06] alitaheri commented on #4006
I think it's a triple jinx, as this and #4003 were opened around the same time :laughing: :laughing:

[2016-04-16 11:35] FerdinandvHagen commented on #4008
+1

[2016-04-16 11:43] FerdinandvHagen opened #4016 "[ListItem] Settings list example checkbox ripple misplaced"
Problem Description
-------------------
The Example on the Material-UI page (http://www.material-ui.com/v0.15.0-alpha.2/#/components/list) seems to have a little bug. If you have a look at the Settings List Example the wave is left of the button and not on the button as expected.

In my own project there seems to be no such problem. I am using React 15.0.1 and Material-UI v0.15.0.1-beta.1

Version

[2016-04-16 14:05] saumya opened #4017 "0.15.0-beta.1 : the issue with require() is back !"
I can see [this issue is back in the current beta release](https://github.com/callemall/material-ui/issues/2802).

I am testing it with
`var AppBar = require('material-ui/AppBar') ;`
to find the similar situation.

While using the ES6 syntax, everything is fine.
`import AppBar from 'material-ui/AppBar';`

[2016-04-16 14:10] alitaheri commented on #4017
var AppBar = require('material-ui/AppBar')['default'] ;

[2016-04-16 14:17] #4017 closed

[2016-04-16 14:19] nathanmarks commented on #3998
@oliviertassinari Thanks, this should clear it up.

[2016-04-16 14:22] nathanmarks commented on #4016
Still present in -beta1 docs

[2016-04-16 14:23] nathanmarks commented on #4008
Please use the emoji's so we don't get +1 spam, thanks.

[2016-04-16 14:26] nathanmarks commented on #4002
@oliviertassinari Note here: let's make sure for the actual release that the examples are up to date before we tag it :+1:

[2016-04-16 14:29] nathanmarks commented on #2863
@mbrookes Gonna update this? :stuck_out_tongue_winking_eye:

[2016-04-16 14:30] nathanmarks commented on #2735
@Aweary This component may be refactored soon so don't spend too much time on it.

[2016-04-16 15:39] mbrookes commented on #2863
Done.

[2016-04-16 15:52] SukantGujar commented on #3098
Sure, thanks!

[2016-04-16 16:17] mbrookes commented on #3712
@owencm - a PR for WIP or v1 review candidate would be ideal, but if you decide not to continue, a link here to the relevant branch in your fork would allow someone to pick it up and continue.

[2016-04-16 19:22] FerdinandvHagen opened #4018 "[Drawer] Padding problems"
Problem Description
-------------------

<img width="333" alt="screen shot 2016-04-16 at 21 16 26" src="https://cloud.githubusercontent.com/assets/3430597/14583143/148b58da-0419-11e6-9116-0cb8c73badab.png">

I had the issue that in Safari Mobile (only Safari mobile, even Internet Explorer Mobile had no problems, on Desktop no problems too) applied a padding to the Drawer if the content in the Draw

[2016-04-16 19:26] FerdinandvHagen commented on #4008
Sorry for the spam!

It seems not to happen with materialize-css version 4.0.0

[2016-04-16 19:52] nathanmarks commented on #2863
bah

[2016-04-16 20:07] mbrookes commented on #2863
:sheep:?

[2016-04-16 20:44] FerdinandvHagen commented on #4018
I finally found the problem myself. The Issue only applies to working with webpack development server. Safari has major issues with rendering content in iFrames and this causes all kinds of problems.

If you compile everything and upload it to some server Safari iOS picks up everything just fine.

[2016-04-16 20:44] #4018 closed

[2016-04-16 21:03] nathanmarks commented on #2863
😄

[2016-04-16 21:53] miguelvalerio opened #4020 "Horizontal forms"
Hello.

I've been using react-bootstrap with bootstrap-material so far. However, I much prefer the API, as well as the overall simplicity of working with just material-ui. However, I'm currently developing an app that relies heavily in forms, and I would like to know if there is a way of making horizontal type forms, like in [bootstrap-material](http://fezvrasta.github.io/bootstrap-material-design

[2016-04-16 22:30] mbrookes commented on #4020
https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#asking-questions

[2016-04-16 22:30] #4020 closed

[2016-04-17 06:26] EvNaverniouk opened #4021 "v0.15.0-beta1 breaks ability to render components for testing (Cannot read property 'prepareStyles' of undefined)"
After upgrading from 0.15.0-alpha.2 to 0.15.0-beta.1, we have a lot of out unit tests failing with:

[code]

This seems to be because all material-ui components expect `this.context.muiTheme` to always be defined, but when rendering components for testing, you don't always want to wrap them in a `<MuiThemeProvider />` because it makes testing harder and it adds unnecessary code to the tests.

Is t

[2016-04-17 10:03] saumya commented on #4021
AFAIK the answer is no. However, adding these codes in the RootViewController / MainViewController works fine.
`
// importing the required
import baseTheme from 'material-ui/styles/baseThemes/lightBaseTheme';
import getMuiTheme from 'material-ui/styles/getMuiTheme';
`
`
// inside component declaration
childContextTypes:{
    muiTheme: React.PropTypes.object.isRequired,
  },
  getChildContext() {

[2016-04-17 10:48] mbrookes commented on #4021
@saumya is correct - that's ~2000 LOC we won't be putting back.

Since lightBaseTheme is the default, you can simplify this further to:

[code]

[code]

I believe even `childContextTypes` is optional if you don't want to validate getMuiTheme()`

[2016-04-17 11:49] sdvg opened #4024 "Usage example in README uses wrong import path"
Problem Description
-------------------
The [README](https://github.com/callemall/material-ui#usage) says `import RaisedButton from 'material-ui/RaisedButton';`.
I think you changed the path to `'material-ui/lib/raised-button'`. That's already correct on the [website](http://www.material-ui.com/#/get-started/usage).

Versions
--------
HEAD

[2016-04-17 12:17] alitaheri commented on #4021
with shallowRender: `rendered.render(Component, {muiTheme: getMuiTheme()});`

[2016-04-17 12:17] saumya commented on #4024
@sdvg you are comparing two different versions of the doc.
[README](https://github.com/callemall/material-ui#usage) is for the latest code and its [website doc is here](http://www.material-ui.com/v0.15.0-beta.1/#/get-started/usage).

Anyway, I heard somewhere here, that the README is to be followed if you are using the latest code.

[2016-04-17 12:36] sdvg commented on #4024
Thanks, I overlooked that the website has documentation for different versions.

[2016-04-17 12:36] #4024 closed

[2016-04-17 14:35] nathanmarks commented on #4021
Check out our unit tests

[2016-04-17 14:41] nathanmarks commented on #4021
@alitaheri @EvNaverniouk  With shallow rendering it shouldn't matter since you aren't actually rendering the mui components. Therefore the theme is not needed.

If you're rendering full trees, provide the theme.

[2016-04-17 14:42] #4021 closed

[2016-04-17 14:48] #3998 closed

[2016-04-17 18:03] oliviertassinari commented on #3359
I just had a look at the TextField implementation and that's not the true from what I can see.

Sorry, but I can't see better way to do it.
I think that your PR would introduce a regression. The AutoComplete can be uncontolled. Any rerender will reset the search field.

[2016-04-17 19:14] EvNaverniouk commented on #4021
Ok fair enough. But I'm just curious why it required 2000 lines of code? Can't it simply be like this:

[code]

instead of:

[code]

So that undefined `muiTheme` is ignored, instead of thrown?

[2016-04-17 22:13] mbrookes commented on #4021
https://github.com/callemall/material-ui/pull/3820

[2016-04-18 07:18] EloB commented on #3997
@nathanmarks Good enough? :)

[2016-04-18 08:27] vorlov commented on #2793
worked for me:
<RadioButtonGroup name="status" defaultSelected="Running">
     <RadioButton
         style={{ display: 'inline-block', width: '150px' }}
         label="Running"
         value="Running"
     />
     <RadioButton
        style={{ display: 'inline-block', width: '150px', marginLeft: '50px' }}
        label="Paused"
        value="Paused"
      />
</RadioButtonGroup>

[2016-04-18 09:39] AndrewLindsay221 commented on #3618
+1 for this feature, we are attempting exactly the same, a dialog with text field that we'd like to focus on show.

[2016-04-18 09:49] adrianmc commented on #3618
I still think this is an important feature, but the community has been kind of silent around this use case. My best guess is that most everyone (including myself) has given up and just went back to using `setTimeout()` instead, which is kind of sad.

[2016-04-18 10:08] SPAHI4 opened #4028 "Wrong displaying on Yandex browser"
v0.15.0-beta.1 docs
 on previuos versions all fine
![image](https://cloud.githubusercontent.com/assets/1670998/14600619/4a23efc2-0566-11e6-8838-b8fba8ed44e9.png)
seems a problem with autoprefixer
browser user agent:

[code]

[2016-04-18 10:56] sshirley commented on #61
I totally agree, Vujita. We're currently using Material-UI on a project at work but it's now hurting us because it's far from 508 compliant. Are contributions welcome?

[2016-04-18 11:13] pricetula opened #4029 "Material-ui Fails to install "The package react@15.0.1 does not satisfy its siblings' peerDependencies ""
I tried installing Material ui and got these errors please support.
npm ERR! node v4.2.2
npm ERR! npm  v2.14.7
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package react@15.0.1 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer react-dom@15.0.1 wants react@^15.0.1
npm ERR! peerinvalid Peer react-komposer@1.8.0 wants react@^0.14.3 || ^15.0.0
npm ERR! pee

[2016-04-18 12:00] Marcoga commented on #3996
I had the same issue (also with the tabs), when I include the following css (which is included in bootstrap):
[code]

I can solve the problem by giving the Tab and the StepButton a className and setting the box-sizing of the relevant elements to `content-box` with css.

[2016-04-18 12:22] nathanmarks commented on #3996
@Marcoga Thanks for testing that.

@gudh We don't seem to have a policy at the moment for resetting that property if/where needed so I'll have to chat to the others to see if we will put something in, but for now @Marcoga 's solution should do the trick 👍

[2016-04-18 12:22] #3996 closed

[2016-04-18 12:23] nathanmarks commented on #4029
npm ERR! peerinvalid Peer material-ui@0.14.4 wants **react@^0.14.0**

Next version supports react 15.

[2016-04-18 12:23] #4029 closed

[2016-04-18 12:25] nathanmarks commented on #61
@sshirley Contributions are welcome but this is not a high priority until we get closer to a stable API. (v1.0)

[2016-04-18 15:17] be-next-hotdog opened #4030 "[Docs] Add new muiTheme setup requirements to docs + readme"
Problem Description
-------------------
Yopp guys,

After updated to latest version (MUI = 0.15.0-beta.1, react, react-dom = 15.0.1), I caught several errors from my inspector :

1. Warning: Failed Context Types: Required context `muiTheme` was not specified in `Paper`.
2. Uncaught TypeError: Cannot read property 'prepareStyles' of undefined
3. Uncaught TypeError: Cannot read property '__reactInte

[2016-04-18 16:05] ronanwize commented on #4030
@be-next-hotdog Are you wrapping your top level components in MuiThemeProvider and passing it a theme? This is now required in MUI beta.1. We had a merry go round too, updating our tests but actually it's better this way - makes consistent theming easier.

Those errors are a result of muiTheme not exising in the context - which means MuiThemeProvider or one of the other wrappers that inject the th

[2016-04-18 16:44] sAbakumoff opened #4031 "Responsiveness on the demo web-site - how?"
I can see that the demos on the web-site are quite responsive, for example the toolbar re-arranges its buttons if they don't fit on a single row.
Desktop-size browser:
![image](https://cloud.githubusercontent.com/assets/769109/14611923/11b64e58-05ae-11e6-8a81-b26b27e8f83f.png)
mobile-size browser:
![image](https://cloud.githubusercontent.com/assets/769109/14611942/29c5ff16-05ae-11e6-8d58-2abbf906b

[2016-04-18 17:00] nathanmarks commented on #4030
@newoga We need to make this loud and clear in the README/docs

[2016-04-18 17:04] newoga commented on #4030
I agree.

[2016-04-18 17:10] ralf-strehle opened #4032 "error in README.md"
Problem Description
-------------------
in README.md we have:

import RaisedButton from 'material-ui/RaisedButton';

but it must be

import RaisedButton from 'material-ui/lib/raised-button';

Versions
--------

- Material-UI:
- React:
- Browser:

[2016-04-18 17:59] oliviertassinari commented on #4032
@ralf-strehle We are changing the import paths. The README is referring to the master branch that it's not the one published on npm. If you are using `v0.14.4` have a look at https://github.com/callemall/material-ui/tree/v0.14.4.

[2016-04-18 17:59] #4032 closed

[2016-04-18 18:05] #3818 closed

[2016-04-18 21:56] be-next-hotdog commented on #4030
Aye, thanks a lot, that will be great.

[2016-04-19 02:25] mbrookes commented on #4031
https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#asking-questions

[2016-04-19 02:25] #4031 closed

[2016-04-19 03:58] anyong commented on #1783
Is this still broken? I don't seem to be getting any events from any `onClick` handlers in my table.

[2016-04-19 07:10] hebuliang commented on #3464
I've tried it on iPad iOS 9.3.1 and Safari Version 9.1 (10601.5.17.4) , e.preventDefault() works fine with me.

[2016-04-19 09:09] YangZhouChaoFan opened #4036 "what about treeview component with checkbox？"
I need a treeview component, could you provide this kind of component? ^_^

[2016-04-19 12:28] marcel-ernst opened #4037 "[LinearProgress] determinate mode calculates wrong value if min/max is set"
Problem Description
-------------------
`<LinearProgress mode="determinate" value={50} min={50} max={100} />`
The ProgressBar should be 0%, the truth: 100%

`<LinearProgress mode="determinate" value={75} min={50} max={100} />`
The ProgressBar should be 50%, the truth: 150%

Versions
--------
- Material-UI: last
- React: last
- Browser: all

I figured out, that the function `getRelativeValue` retur

[2016-04-19 12:32] nathanmarks commented on #4036
Please read the guidelines for posting issues -- this isn't likely to make it in in the short term though.

It should be relatively simple to implement yourself -- try this: https://github.com/chenglou/react-treeview

[2016-04-19 12:32] #4036 closed

[2016-04-19 13:20] nathanmarks opened #4039 "[Tests] Reorg of "browser" tests"
@oliviertassinari

I'm proposing that we do a few things:

1. Setup the karma tests so that they can also be run in node using JSDOM. This way we can do DOM dependent tests for TDD without having the whole webpack build situation. These same tests can also run via karma+phantomjs+other browsers.
2. Organize the folder better. We need to separate out the "unit" tests that depend on a DOM (ie result

[2016-04-19 14:08] mbrookes commented on #1783
@anyong - yes, it's with @ccomb to update his PR.

[2016-04-19 15:04] ccomb commented on #1783
sorry I have very few time these days to progress on this PR :-( There is not a lot to do and I hope I'll be able to do that in a few weeks but I can't guarantee yet. In the meantime if someone could help it would be great

[2016-04-19 15:17] abelozerov opened #4040 "material-ui-codemod does not work"
Problem Description
-------------------
Used this instruction as reference: https://github.com/callemall/material-ui/tree/master/packages/material-ui-codemod

1) material-ui-codemod can not be installed from npm:

[code]

2) When trying to use version downloaded from Github with ` find app -name '*.jsx' -print | xargs jscodeshift -t node_modules/material-ui-codemod/transforms/v0.15.0/import-path.j

[2016-04-19 16:48] benderunit commented on #3618
The simplest answer I found is setting the `autoFocus` property on the text field you want to focus on. `<TextField autoFocus />`. The property is camelCased, so watch out!

[2016-04-19 17:00] nathanmarks commented on #3618
@adrianmc We have a couple of issues with dialog that need addressing for `0.16.0`. I will make sure we look at this in the process.

I'm assuming that what you're looking for is the ability to call a function after the `transitionend` event, correct?

[2016-04-19 17:11] adrianmc commented on #3618
@nathanmarks yup, that's exactly right. Glad to hear it's in the books!

[2016-04-19 17:50] tintin1343 commented on #2231
@yoavgurevich : I cannot see this issue any more in the docs. I also tried increasing the font size of the hintText and it did not affect the calendar in any way. I am closing the issue for now. If you feel , its not been addressed completely just leave a comment below.
![screen shot 2016-04-19 at 12 49 43 pm]
(https://cloud.githubusercontent.com/assets/15271922/14649543/34840ffe-062d-11e6-8024-bd

[2016-04-19 17:50] #2231 closed

[2016-04-19 17:51] vasco3 commented on #2231
would be helpful to add tags based on the release version

[2016-04-19 17:55] tintin1343 commented on #2231
Its v0.14.4 and above.

[2016-04-19 18:02] tintin1343 commented on #2233
I think this was resolved already. Closing this issue.

[2016-04-19 18:02] #2233 closed

[2016-04-19 18:06] vasco3 commented on #2231
well the 0.15 have other directory structure. And use different versions of react.
I saw some bugs related to `key` in 0.15.beta.
I guess I can just mention that on the issue description

[2016-04-19 18:08] tintin1343 commented on #2232
@anthony-dandrea : This does not seem to appear anymore in firefox 45.0.1 MUI version : 14.4 and above. But the issue still exists on Microsoft Edge.

[2016-04-19 18:22] tintin1343 commented on #2231
@vasco3 : I would suggest that you post a separate issue based on your observations and also mention the version of Material-UI,React and the browser that you are using.

If you have questions regarding posting and issue, please refer to this: https://github.com/tintin1343/material-ui/blob/master/CONTRIBUTING.md

MUI-0.14.4 and above is based on react 0.14 and above. The above mentioned issue look

[2016-04-19 18:46] vasco3 commented on #2231
got it thanks

[2016-04-19 18:58] tintin1343 commented on #2175
This is not an issue anymore.

![screen shot 2016-04-19 at 1 56 21 pm](https://cloud.githubusercontent.com/assets/15271922/14651711/b64e6e0e-0636-11e6-9810-d49f129dedda.png)

If you still face this issue, try referring to the docs example and follow that structure. It should work.

I am closing this issue for now, if you feel its not been addressed completely feel free to comment below.

[2016-04-19 18:58] #2175 closed

[2016-04-19 19:02] tintin1343 commented on #2171
If the above solutions were not able to solve the problem feel free to comment below. I am closing this issue for now.

[2016-04-19 19:02] #2171 closed

[2016-04-19 19:04] tintin1343 commented on #2442
Can you elaborate a bit more on this issue? Its unclear.

[2016-04-19 19:13] tintin1343 commented on #2400
I am closing this for now as its not an issue. Hope you found an implementation suitable to your use-case.

[2016-04-19 19:13] #2400 closed

[2016-04-19 19:22] tintin1343 commented on #2082
Though its a valid case, a component is designed to take care of itself and its child components within a layout. There is no way in which you can have a common design for a textfield which will fulfill all the common use-cases.

I would approach this problem by having the TextFields  enclosed within a parent component/ div and styling that container to properly align all the child divs.

Closing

[2016-04-19 19:22] #2082 closed

[2016-04-19 19:24] tintin1343 commented on #2055
@fullvlad : were you able to resolve the issue?  Do you need any further help regarding this?

[2016-04-19 19:27] tintin1343 commented on #2317
@iVanlIsh : Were you able to solve this? Do let us know.

[2016-04-19 19:38] tintin1343 commented on #2369
@Kingdutch : A table with a fixed header will have a scrollable body if the content is longer than the height of the table body. When you say height: 'auto', it will always ensure that the table rows will adjust the height of the containing div as per the number of rows/ data present in the table and there will be no scroll and hence you won't get an effect of a table with a fixed header. Hence it

[2016-04-19 19:38] #2369 closed

[2016-04-19 19:39] tintin1343 commented on #2327
Closing this for lack of information.

[2016-04-19 19:39] #2327 closed

[2016-04-19 19:39] tintin1343 commented on #2327
Please refer to https://github.com/tintin1343/material-ui/blob/master/CONTRIBUTING.md if you need help in posting any issue.

[2016-04-19 19:47] tintin1343 commented on #2269
@reohjs : What is it that you want to accomplish here? Were you able to get a workaround for this?
This does not look like an issue to me. I am closing this for now.

If you feel this is a problem kindly repost this issue again with a detailed explanation or use-case . Please refer to
https://github.com/tintin1343/material-ui/blob/master/CONTRIBUTING.md for further guidance so that we can help you

[2016-04-19 19:47] #2269 closed

[2016-04-19 19:49] tintin1343 commented on #2266
@liesislukas : Were you able to find a fix for this? Do you need any further assistance on this. The toolbar has been re-designed by making use of flex pattern.

Do let us know if its still an issue, or if you need any further help on this.

[2016-04-19 20:21] tintin1343 commented on #2177
@luisrudge : were you able to get this resolved?

From what I could understand from the documentation, for the hover thing to work you have to enable `showRowHover`. If you want to avoid this but have it styled as active you could disable this prop and on mouseEnter apply the active style to your tableRow.

This does not seem to be an issue but a use-case specific to you so i am closing this. If y

[2016-04-19 20:21] #2177 closed

[2016-04-19 20:24] #2442 closed

[2016-04-19 20:28] #2317 closed

[2016-04-19 20:29] tintin1343 commented on #2268
This is still an issue.

[2016-04-19 20:31] tintin1343 commented on #2572
@oliviertassinari : Can this issue be closed? The linked issue is closed as well and it looks like you had already merged the PR to address the issue.

[2016-04-19 20:33] #4030 closed

[2016-04-19 20:35] oliviertassinari commented on #2572
@tintin1343 If we close this issue, it would be a `wontfix` I'm fine with it.

[2016-04-19 20:36] tintin1343 commented on #2572
Closing this issue. Refer to the above comments for more information.

[2016-04-19 20:36] #2572 closed

[2016-04-19 20:44] tintin1343 commented on #2446
@oliviertassinari : This is still happening on the docs website as well.

[2016-04-19 20:47] tintin1343 commented on #2487
Closing this issue as this works perfectly fine on Safari 9.0.2 and above. it could be an issue with running safari on Windows.

[2016-04-19 20:47] #2487 closed

[2016-04-19 20:56] tintin1343 commented on #2485
@mbrookes : I guess this can be closed now.

[2016-04-19 21:06] danielcnorris commented on #2369
OK. Thanks for investigating!

On Tue, Apr 19, 2016 at 3:38 PM, Nitin Shetty <notifications@github.com>
wrote:

[2016-04-19 21:13] tintin1343 commented on #2696
This is no longer an issue. I checked it somehow on IE9 using `browserstack`. Why not use IE10 and above?

Closing this issue.

[2016-04-19 21:13] #2696 closed

[2016-04-19 21:16] tintin1343 commented on #2596
Closing this as the PR was already merged.

[2016-04-19 21:20] tintin1343 commented on #2602
Though its a good point. When you press enter you are selecting a value. Even in case of a filtered dropdown you would tab down to the desired value and press enter.

Selection of the highlighted value on EnterKeyDown seems like a logical functionality.

Closing this as it is a specific use-case related question.

[2016-04-19 21:20] #2602 closed

[2016-04-19 21:22] wbprice opened #4041 "[Table] Artifacts on height change"
![screen shot 2016-04-19 at 5 13 47 pm](https://cloud.githubusercontent.com/assets/2590422/14655910/a4035522-0652-11e6-9269-90d39859ed57.png)
## Problem Description

I'm building a tool that maintains a list of items in an HTML table inside of a `Card` component.  Occasionally, after the list has grown beyond the bounds of the card and the card resizes, a horizontal line is left behind in the midd

[2016-04-19 21:28] tintin1343 commented on #2642
Closing this for lack of a use-case or description of the issue. there is no prop called `inputStyle`

[2016-04-19 21:28] #2642 closed

[2016-04-19 21:31] valentinvichnal opened #4042 "[IE10] ListItem initiallyOpen error"
Problem Description
-------------------

IE 9 and 10 worked fine with alpha versions, but using beta it throws the following error:
`Unable to get property 'initiallyOpen' of undefined or null reference`
You can test the documentation site to see the error:
http://www.material-ui.com/v0.15.0-beta.1/

Versions
--------

- Material-UI: 0.15.0-beta.1
- React: 15.0.1
- Browser: IE 9-10

[2016-04-19 21:32] tintin1343 commented on #2686
Not able to reproduce this in the docs.

closing this for now. If its still an issue for the OP, kindly comment below int he  post.

[2016-04-19 21:32] #2686 closed

[2016-04-19 21:40] tintin1343 commented on #2676
Why don't you guys use backgroundColor and labelColor instead that should solve your problems.?

[2016-04-19 21:42] tintin1343 commented on #2625
Closing this as it is related only to a particular use-case and the OP already found a work around.

[2016-04-19 21:42] #2625 closed

[2016-04-19 21:43] #2485 closed

[2016-04-19 21:45] tintin1343 commented on #2601
@javaguy : were you able to get this resolved either by the above suggestion or your own work around or by using the latest build? let us know if you still need any help with this.

[2016-04-19 21:45] mbrookes commented on #2596
#3867

[2016-04-19 21:53] tintin1343 commented on #2594
This seems to be resolved, unable to reproduce in the docs site..

Closing this for now. If you feel its not completely addressed feel free to comment below.

[2016-04-19 21:53] #2594 closed

[2016-04-19 22:09] tintin1343 commented on #2576
@archinal : adding disable="true" certainly works.

![screen shot 2016-04-19 at 5 08 09 pm](https://cloud.githubusercontent.com/assets/15271922/14657132/4e199438-0651-11e6-866a-301278510d79.png)

![screen shot 2016-04-19 at 5 08 40 pm](https://cloud.githubusercontent.com/assets/15271922/14657144/6d5189dc-0651-11e6-8037-4e9c5e9a934d.png)

Closing this for now.

If you feel that the issue was not ad

[2016-04-19 22:09] #2576 closed

[2016-04-19 22:21] tintin1343 commented on #2601
This is no longer a problem. I tried to reproduce it on the docs website and it looks to be fine. just a display: 'inline-block' on the containing div worked for me.

![screen shot 2016-04-19 at 5 20 20 pm](https://cloud.githubusercontent.com/assets/15271922/14657344/032bf9b4-0653-11e6-8dc6-ffdd92062f4d.png)

![screen shot 2016-04-19 at 5 20 41 pm](https://cloud.githubusercontent.com/assets/152719