[2021-07-13 18:13] #27220 closed

[2021-07-13 18:17] eps1lon commented on #27252
Thanks for the report.

Confirmed with latest, frozen dependencies: https://codesandbox.io/s/custominput-material-demo-forked-y5nyb?file=/demo.js

[2021-07-13 18:18] #27200 closed

[2021-07-13 18:20] eps1lon commented on #27204
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

A screen recording of the bug will also help identify the issue.

Here are some tips for providing a minimal example: https://stackoverflow

[2021-07-13 18:31] eps1lon commented on #27260
Thanks for the feedback.

You can use the `filterOptions` prop to implement custom filter functionality.

Example implementation (note that scales filter time linearly with the number of terms the user put in):

[code]
https://codesandbox.io/s/autocomplete-filter-comma-separated-lsiez

[2021-07-13 18:32] #27260 closed

[2021-07-13 18:45] Tigge commented on #27157
Having that information in the readme doesn't hurt, but it does not make you in compliance with the license. So, not legally safe no. I can see if I have time to do a PR next week.

[2021-07-13 18:54] vicasas opened #27261 "List"

[2021-07-13 19:39] Suroor-Ahmmad opened #27263 "Placing input field in custom toolbar doesn't work"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Unable to focus the input field

## Expected Behavior 🤔
Should be able to type and search with-in table data

## Steps to Reproduce 🕹

Steps:
https://codesandbox.io/s/festive-lalande-q

[2021-07-13 19:59] ryanjohnmccann opened #27264 "Chip Clicks Not Working Properly Only On Safari"
I am working with the Chip components and I have to click exactly in the middle of the Chip for it to change state. It's only on Safari and works fine on Chrome and Firefox.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am usi

[2021-07-13 21:12] CWSites opened #27265 "Deprecation warnings when on `4.11.4`"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When running my application using `4.11.4` I get the following "warnings" in my browsers console log which are actually formatted as `console.error`

[code]

## Expected Behavior 🤔

T

[2021-07-13 21:57] michal-perlakowski commented on #27265
Related: https://github.com/mui-org/material-ui/issues/21979, https://github.com/mui-org/material-ui/issues/15397.

[2021-07-13 22:00] ypresto commented on #19113
`styled(Component)(styles)` has two part of type inference: `styled(Component)` and `componentCreator(style)`. Former must have difficulties around component customization, so I tried latter first.

[code]

[code]

- material-ui v5 beta0
- typescript 4.3.5

<details>
  <summary>baseline: 170-210 ms</summary>
  <img width="435" alt="getDiagnostics(): 177.5 ms" src="https://user-images.githubusercon

[2021-07-13 22:20] michal-perlakowski commented on #27263
It works fine when you pass props to `SearchBar` via `componentsProps`:

[code]

See the [updated demo](https://codesandbox.io/s/exciting-neumann-026yo?file=/src/Demo.tsx).

[2021-07-13 22:25] abriginets commented on #27224
You're right. I missunderstood the docs and was thinking that the `value` prop is the text from input and `getOptionLabel` is for comparing one of the option from the list with user input.

[2021-07-13 22:25] #27224 closed

[2021-07-13 22:27] ypresto commented on #19113
From my another investigation, OverridableComponent is very, very slow (1sec in my 16inch MBP, it eagerly resolves `ComponentProps<React.ElementType>`) and currently no perfect solution without improving type inference in TS compiler. If we can replace that of non-styled components with withComponent(), it might be an escape hatch from 1sec-on-every-type hell.

[2021-07-13 22:43] oliviertassinari commented on #26267
I had explored the color part of this issue in #24941. I have tried something but it didn't work. We could continue from this proposal: https://github.com/mui-org/material-ui/issues/24941#issuecomment-785986913. Maybe?

[code]

output:

<img width="393" alt="Capture d’écran 2021-07-14 à 00 42 59" src="https://user-images.githubusercontent.com/3165635/125534555-6fcb179b-9410-4246-ab77-ffe4bfdaade

[2021-07-13 22:48] NOURELsayed commented on #14183
what if I want to change the text to an icon ??

[2021-07-13 22:57] DouglasPds commented on #26790
Hi, I trying to solve this.

[2021-07-13 23:43] DouglasPds commented on #26790
When the first element in the select is the ListSubheader it receives the autoFocus but it is not a valid option he does not start selected like a MenuItem, and he receives the tabIndex = 0, and using the tab we can use the arrow.

Using the native optgroup as the first child the first option starts selected, and Select ignores the optgroup label.

In the code of SelectInput when the const items a

[2021-07-14 01:10] Santosh-13 commented on #27219
@michal-perlakowski I want the user to know the point where they are going to click, so for that reason it could be better to show the information to the user on hover.

[2021-07-14 02:26] mbyrne00 commented on #27137
Thanks - I was confused by your message until I saw you put the `bug` tag on and acknowledged it seems to be a bug. Slight typo 'don't want to move consider'.

I think broadly you meant to say you don't want to consider the dropdown as being active during typing. Hopefully :)

It's certainly confusing to our users so hope this can be treated as a bug.

[2021-07-14 05:40] vinkovsky commented on #27244
Hi @mnajdova! I don't think this is a duplicate because the problem came from using strict mode in nextjs. This link doesn't match my problem and these solutions don't help me

[2021-07-14 07:17] jamietdavidson commented on #16995
Can we reopen this? It is still an issue in 5.X.

[2021-07-14 08:12] eps1lon commented on #27265
Duplicate of https://github.com/mui-org/material-ui/issues/27195

[2021-07-14 08:12] #27265 closed

[2021-07-14 08:14] eps1lon commented on #27264
The demo does not contain any chips. Did you forget to save the codesandbox?

[2021-07-14 08:29] eps1lon commented on #26267
I like that. I've seen this misappropriation of `active` a couple of times in the past days so the more instances we can remove, the better.

[2021-07-14 08:31] eps1lon commented on #19113
This sounds all reasonable to me. I just don't have time to apply this myself since it'll take time to get into. @ypresto Would be awesome if you could work on a PR so that we can check integration (performance).

[2021-07-14 08:33] svrin opened #27267 "Allow variant overrides in Card"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Allow customizing the variants of card, similar to other elements. There is already `CardPropsColorOverrides`, so there should be a `CardPropsVariantOverrides`  as well.

## Motivation 🔦

We use the Card Componente for our product teaser and

[2021-07-14 08:35] eps1lon commented on #27137
The statement just didn't make sense with the typo. Should be clearer now:

[2021-07-14 08:41] eps1lon commented on #27219
That codesandbox does not contain any Tooltip. Did you forget to save the codesandbox?

[2021-07-14 08:43] eps1lon commented on #23650
Closing since this is no longer reproducible: https://github.com/mui-org/material-ui/issues/23650#issuecomment-849894834

[2021-07-14 08:43] #23650 closed

[2021-07-14 08:49] Santosh-13 commented on #27219
![image](https://user-images.githubusercontent.com/45909263/125592733-c773c20e-b9f3-43a4-aa20-0fb9cf51df4c.png)
the tooltip comes by default with the slider, while hovering on the seleted point

[2021-07-14 09:14] pelikhan commented on #15973
It seems that this issue back. When trying the samples in https://material-ui.com/components/selects/ in latest Edge, the keyboard navigation does not work on menu items.

[2021-07-14 09:45] michaldudak commented on #26810
We discussed the topic with @eps1lon and he pointed out that in some cases this may not work as expected and can create more problems then it can solve. I'm therefore abandoning the effort and will leave componentsProps untyped.

[2021-07-14 09:48] #26704 closed

[2021-07-14 11:46] mnajdova opened #27271 "Buttons"

[2021-07-14 11:46] #27271 closed

[2021-07-14 12:03] michaldudak commented on #27127
The options for next steps are:

1. Rename all usages across the whole codebase (core + unstyled). This will be a breaking change only in relation to previous v5 releases.
2. Rename usages in the unstyled package only. This will not lead to a breaking change in core, but will create inconsistency between packages
3. Do not rename at all before v5 goes live.

I'm for option 1, but I'd like to hear

[2021-07-14 13:01] michaldudak opened #27274 "[RFC] Component structure visualisation"
## Summary 💡

I'd like to gather feedback about a possible improvement to the documentation: visualization of a component structure.
It could (conceptually, don't mind the visual design) look like this: https://codesandbox.io/s/component-structure-visualisation-d31po?file=/demo.tsx (blue chips represent static classes, purple chips - conditional ones).

In my opinion this will have the most impact

[2021-07-14 13:06] AbdUlHamedMaree opened #27275 "RTL support don't work with next js project"
I'm using material-ui with emotion js as a style engine in my next js project,
I follower the instructions [here](https://next.material-ui.com/guides/right-to-left/) but the fields and other components have no effect,
I've tried to change my style engine and same issue,
on other hand, the same code is used in React js project and works fine.

## Current Behavior 😯
the labels in the `TextFields` st

[2021-07-14 13:26] oliviertassinari commented on #27219
Then it looks expected. The toolitp is only visible when the thumb is hovered. I would suggest we close as "won't fix".

[2021-07-14 13:28] kgregory commented on #19579
I am offering this comment to help anyone who comes across this issue, as I have today.

I found my way here because I was converting a component to TypeScript that wraps a `TextField` with some specific props.  Any props provided to the component are spread onto `TextField` to allow for some overrides by the consumer.  For some reason I haven't entirely nailed down, this was causing a TypeScript

[2021-07-14 13:35] oliviertassinari commented on #26810
@michaldudak OK sounds great. Did you check the codebase to make sure all the components follow the same approach? Bases on https://github.com/mui-org/material-ui/issues/26810#issuecomment-863606281, it's not clear to me that we do. I suspect we need a follow up.

[2021-07-14 13:35] sulco commented on #27255
Thanks for the visual reference @oliviertassinari and for the clarification!

Happy to report we have located the reason for TypeScript misbehaving, so with a slight update to the POST payload, it should now work properly. I'm testing the examples right now actually :)

[2021-07-14 13:43] finnan444 opened #27277 "[docs] Grid API section is broken"
[Grid API section layout](https://material-ui.com/api/grid/) in material v4 docs is broken.
![Screenshot from 2021-07-14 16-42-41](https://user-images.githubusercontent.com/28092100/125632533-f39a31f8-c0f6-4d76-bec1-171fd1fefcb4.png)

[2021-07-14 14:05] #27261 closed

[2021-07-14 14:05] oliviertassinari commented on #27261
Empty issue

[2021-07-14 14:06] Santosh-13 commented on #27219
When the dot is set at 40 and i hover on 40 i am able to see the tooltip at 40, but when the dot is set at 40 and i hover on 100 i dont see a tooltip at 100.

[2021-07-14 14:06] oliviertassinari opened #27279 "Buttons"

[2021-07-14 14:06] #27279 closed

[2021-07-14 14:10] #27219 closed

[2021-07-14 14:10] will-amaral opened #27280 "[AppBar] Dark mode overrides transparent color prop"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Adding the prop `color="transparent" `on the AppBar does nothing on dark mode.

## Expected Behavior 🤔

The AppBar should become transparent when `palette.mode === 'dark'`.

## Steps

[2021-07-14 14:11] oliviertassinari commented on #27219
<img width="865" alt="Capture d’écran 2021-07-14 à 16 11 16" src="https://user-images.githubusercontent.com/3165635/125636777-1acbd8d7-0e04-4dc0-a9e0-c57ffd1037d9.png">

https://material-ui.com/api/slider/

[2021-07-14 14:20] CWSites commented on #27265
Respectfully, we are on `4.11.4` NOT `4.12.x` and we are seeing these errors.

[2021-07-14 14:22] Santosh-13 commented on #27219
![image](https://user-images.githubusercontent.com/45909263/125637786-9d02b818-d9cf-433d-baec-80d01f0dd03f.png)

This is from a youtube video, where the dot is at 0 sec, and when I hover on any other place except that dot I can see the value or the time, which I am going to click. I don't think any parameter for this is present.

[2021-07-14 14:22] mnajdova commented on #27280
@will-amaral looks like a bug. PR is more than welcomed :)

[2021-07-14 14:25] mnajdova commented on #27280
Actually, it is because of a breaking change, the behavior is intended for dark mode. Looks like you need to use the `enableColorOnDark` property. See https://next.material-ui.com/guides/migration-v4/#appbar

[2021-07-14 14:29] mnajdova commented on #27275
You did not follow https://next.material-ui.com/guides/right-to-left/#3-install-the-rtl-plugin for configuring the `stylis-plugin-rtl` plugin

[2021-07-14 14:29] #27275 closed

[2021-07-14 14:29] eps1lon commented on #27265
Yeah that's unfortunate. We should've pinned to minor when releasing the 4.11. release line. Make sure to pin every Material-UI package to before 4.12. `yarn` has `resolutions` for that.

[2021-07-14 14:30] CWSites commented on #27265
Okay so using `resolutions` on `@material-ui/system` to `4.11` will resolve this?

[2021-07-14 14:33] mnajdova commented on #27267
Related to https://github.com/mui-org/material-ui/issues/27130 Basically if I understand correctly the issue, is about adding a new variant prop on the component, although it doesn't exist by default. Then this prop could be used for styling the component differently.

[2021-07-14 14:35] michaldudak commented on #26810
The SliderUnstyled mentioned in https://github.com/mui-org/material-ui/issues/26810#issuecomment-863606281 as well as other unstyled components (except for the Switch) use (slighly) typed `componentsProps`. They expect just `as` and `styleProps` fields. Passing in other, possibly valid, props will cause errors unless module augmentation is used. I don't think this leads to a good developer experie

[2021-07-14 14:35] CWSites commented on #27265
That did it!

### package.json
[code]

[code]

[2021-07-14 14:39] vicasas commented on #27261
Whoops, I don't know what happened. I don't remember opening an issue. Perhaps when sailing involuntarily happens to carry the. new github feature to create an issue in the lists.

[2021-07-14 14:46] MichielDeMey opened #27282 "[Pagination] v5 usePagination requires @emotion"
When simply using the `usePagination` hook provided by MaterialUI, `@emotion/styled` and `@emotion/react` are mandatory dependencies, otherwise it will throw a Webpack build error:
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavi

[2021-07-14 14:52] oliviertassinari commented on #27261
It's probably this: https://github.com/github/feedback/discussions/4261

[2021-07-14 14:54] tran-simon commented on #26799
@eps1lon It doesn't seem fixed? In your sandbox, the date at the start is 2021-06-10. Change the time to 10:00pm, and it changes the date to today's date.

It is not the same behavior when using the picker popup

[2021-07-14 15:06] ryanjohnmccann commented on #27264
@eps1lon Yes, my bad. It should be saved now!

[2021-07-14 15:06] #25771 closed

[2021-07-14 15:20] strayiker opened #27284 "[Modal] Probably unnecessary check for children.props.tabIndex"
https://github.com/mui-org/material-ui/blob/a3144a493d2022a01ee9afd37cdc96b60a7d84df/packages/material-ui-unstyled/src/ModalUnstyled/ModalUnstyled.js#L235-L237

236 line - `children.props.tabIndex` is always `undefined`.

[2021-07-14 15:20] abroganDev commented on #27181
I saw a similar behavior using the `DataGrid` from `@material-ui/data-grid` `^4.0.0-alpha.33`. I will see if I can make another reproduction of that on later.

[2021-07-14 15:49] will-amaral commented on #27280
@mnajdova I don't know how much thought you guys are willing to give into this, but I was thinking, maybe, one solution would be altering the implementation slightly to be more semantic and clear.
Instead of a `color="transparent"`, a `transparent` prop as a boolean flag. Transparent is not a "color value" after all, but a state of a color. I know the value exists in CSS, but I still think it is m

[2021-07-14 16:05] mnajdova commented on #27282
Thanks for the report @MichielDeMey

Ideally we should move all hooks to the `@material-ui/unstyled` package, so that you don't need to depend on `@material-ui/core`.

@michaldudak should we do this? Depending on the `@material-ui/core` at this moment requires developers to install emotion too.

[2021-07-14 16:40] oliviertassinari commented on #27284
@strayiker Not if you do:

[code]

[2021-07-14 16:46] oliviertassinari commented on #27154
I'm linking #17119 too for context when a similar symptom impacts the tests (but with a different root cause).

With v5, the first two warnings in the console are about how to fix the issue https://codesandbox.io/s/transition-v5-error-forked-x66jg

<img width="507" alt="Capture d’écran 2021-07-14 à 18 31 14" src="https://user-images.githubusercontent.com/3165635/125658734-eca457a5-15cd-450b-9bbf

[2021-07-14 16:55] oliviertassinari commented on #27170
@michaldudak We heavily use the labels to function with our growing backlog of issues (13,000 at this point). I'm adding a new one.

[2021-07-14 17:02] oliviertassinari commented on #27282
@mnajdova While I agree with all you said, I would like to raise a quick win opportunity. AFAIK the main issue of @MichielDeMey is that tree shaking is disabled in dev mode, usePagination imports core/utils, that imports SvgIcon, that imports, system, that import styled, that imports emotion => his codesandbox break. Now, we could do:

[code]

and call it a day 😁.

[2021-07-14 17:07] MichielDeMey commented on #27282
@oliviertassinari I did verify that emotion is not bundled in the final release bundle due to tree shaking. 😉
Just additional download overhead for devs at this point. 😅

[2021-07-14 17:11] oliviertassinari commented on #27282
Same issue with `useAutocomplete`, we didn't have this problem in v4.

[2021-07-14 17:18] oliviertassinari commented on #27057
@cmacdonnacha Do you benchmark in development or production? I would suspect the difference of performance between md-tooltip and react-tooltip to come from emotion. If this is confirmed, then it could be relevant for dev that want high performance to use the unstyled version of the tooltip.

[2021-07-14 17:33] ypresto opened #27286 "[Autocomplete] Disable focusedTag and remove item by backspace"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

There is nice example of GitHub's picker with Autocomplete component.
https://material-ui.com/components/autocomplete/#githubs-picker

As we have `renderTags={() => null}`, any chips in search field won't show up.
Despite of nothing is shown,

[2021-07-14 17:50] hamza1311 opened #27287 "Menu component logs findDOMNode warning in Strict Mode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Uses `findDOMNode`(?) which causes the warning to be logged

## Expected Behavior 🤔

No warning to be logged

## Steps to Reproduce 🕹

1. Run [this example](https://material-ui.com/co

[2021-07-14 17:58] enheit commented on #21727
I'm not sure if this topic is related to my issue but it looks very similar.

I use `styled` from `@material-ui/core` to wrap `Autocomplete`. After using it inside my component all options are set to `unknown`. See picture

![image](https://user-images.githubusercontent.com/8645216/125669604-c0b7b08c-0f08-4c52-986a-2c7e5220c6e7.png)

Styles look like this

[code]

If I use `Autocomplete` component

[2021-07-14 18:09] WeslleyBorges commented on #12192
Why so many &? The quantity matters?

[2021-07-14 19:37] cmacdonnacha commented on #27057
Hey @oliviertassinari I benchmark in dev while debugging but also tried production. In dev the blocking time was 1557ms and in production it was 472ms which is much better but there's still a noticeable lag to the human eye when filtering a table with 50 rows and 9 columns (450 tooltips). The unstyled version sounds good, is this something that I can try out or is it in progress?

[2021-07-14 19:45] DoronTorangy opened #27288 "Can't import makeStyles from @material-ui/core"
## Current Behavior 😯
I use material ui v5 (beta) and read the docs. I know that there are changes like migration from JSS to emotion. I can't seem to import makeStyles from @material-ui/core or @material-ui/styles.

## Expected Behavior 🤔

makeStyles should be exported from @material-ui/core

[2021-07-14 20:20] oliviertassinari commented on #12192
@WeslleyBorges I have updated the answer to target v5. You can learn more about `&` on styled-components docs.

[2021-07-14 20:36] oliviertassinari commented on #26957
@eps1lon Great point. You are right, it's not documented, and it's useless. emotion turns already [automatically the flag](https://github.com/emotion-js/emotion/blob/23f43ab9f24d44219b0b007a00f4ac681fe8712e/packages/server/src/create-instance/index.js#L12) to true. We don't need to care.
So we can simplify https://github.com/mui-org/material-ui/issues/26957#issuecomment-877847384 and remove cache.

[2021-07-14 21:02] jy95 opened #27289 "v5.0.0-beta.1 - makeStyles : TypeError: Cannot read property 'drawer' of undefined"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

This piece of code was working on v4 :
[code]

When trying to run my app using `npm start` , I got this :
![image](https://user-images.githubusercontent.com/9306961/125691212-602b82d5

[2021-07-14 21:36] oliviertassinari commented on #27288
Duplicate of #27216

[2021-07-14 21:36] #27288 closed

[2021-07-14 21:37] oliviertassinari commented on #27287
Duplicate of #13394

[2021-07-14 21:37] #27287 closed

[2021-07-14 21:38] oliviertassinari commented on #27287
It's fixed in v5: https://next.material-ui.com/components/menus/#basic-menu

[2021-07-14 21:50] oliviertassinari opened #27290 "[Table] CSS only implementation"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The current implementation of the table is relatively slow, at least x4 slower than it could be based on https://next.material-ui.com/performance/table-component/ vs. https://next.material-ui.com/performance/table-mui/. We might want to explo

[2021-07-14 21:55] oliviertassinari commented on #27290
Now, I suspect that https://material-ui.com/components/data-grid/ solves the root issue. I have opened this GitHub issue anyway because this idea has been in the back of my head for 3 years.

[2021-07-14 21:55] oliviertassinari commented on #27057
For unstyled, @michaldudak is leading the effort in #27170, we accept contributions from the community.

Now, the demo renders 1,600 tooltips. We have never designed the component for this amount of instances, and I don't think that we should start either now. 500 is about the limit we consider valid. You can check our data grid component that implements virtualization and memorization to make thi

[2021-07-14 21:55] #27057 closed

[2021-07-14 22:37] cmacdonnacha commented on #27057
No problem thanks, switching to `react-tooltip` did the trick to be honest to we're happy enough. Popper must be a lot heavier. We have pagination where the user can choose between 15, 30 and 50 rows and it now performs well even at 50. Thanks for taking the time 👍

[2021-07-14 22:58] oliviertassinari commented on #21727
@enheit Yes, it's the same issue. I have updated https://github.com/mui-org/material-ui/issues/21727#issuecomment-869228390 to better function.

[2021-07-14 23:08] oliviertassinari commented on #26810
@michaldudak I had a look at what we have in the codebase, it seems that we could normalize:

### components

- Switch

https://github.com/mui-org/material-ui/blob/8a4b8952077b64e90ac9d23c116a45aed672db9c/packages/material-ui-unstyled/src/SwitchUnstyled/SwitchUnstyled.tsx#L19-L28

- Slider

https://github.com/mui-org/material-ui/blob/8a4b8952077b64e90ac9d23c116a45aed672db9c/packages/material-ui-un

[2021-07-14 23:37] oliviertassinari commented on #27216
@jrhager84. Did you install `@material-ui/styles@v5.0.0`?

[2021-07-14 23:50] Itshardtopickanusername commented on #27136
@vinkovsky yeah it turns out, MUI v4 doesn't support reactStrictMode, but v5 will. I just turned off the strict mode in the next.js config

[2021-07-15 00:12] antitim commented on #26876
Set `reactStrictMode: false` in `next.config.js`

[2021-07-15 00:16] antitim commented on #26876
Try removing `reactStrictMode: true` from `next.config.js` or set `strict: false` in `tsconfig` etc
In my case, this solved the problem

[2021-07-15 00:16] nkalpakis21 commented on #14336
This is still an issue for me, I have tried noSSR

[2021-07-15 00:19] jrhager84 commented on #27216
I did eventually, but the documentation is extremely nebulous about the requirements. I'm trying to find where it said, but it basically said it was broken out of /core, and unless you plan on using the themes *outsides* of Mui, to install the /styles package. I'll try to dig up where I saw it. I can't immediately find it presently.

[2021-07-15 00:21] vinkovsky commented on #27136
I tried this with v5 and still have the same problem

[2021-07-15 00:57] Nolesh opened #27291 "Failed prop type: The prop `rows` of `ForwardRef(TextareaAutosize)` is deprecated. Use `rowsMin` instead"
Recently, I've updated Material UI from '4.11.4' to '4.12.1' and got a few warnings about deprecation props. I fixed them all but one. When I use the _multiline_ and _rows_ props in the **TextField** component, I get the error:

[code]
When I replace the _rows_ with _rowsMin_, it says that this prop doesn't exist.
My code:

[code]
package.json:

[code]

[2021-07-15 02:14] siriwatknp commented on #27127
For me I still like the word with suffix `props`. `hostState` sounds like it will be used in internal logic. Anyway, I don't think naming is the biggest part as long as the team knows what it is and it does not deviate much (for the community). The biggest issue here is the breaking changes as we already learned that we should not introduce it unless it is necessary because it will give as more wo

[2021-07-15 04:15] cristianoccazinsp commented on #26251
Seeing the same issue on mobile iOS chrome and safari. Could the above work around be added as a small patch? The delay makes sense anyways.

[2021-07-15 06:31] ses-education commented on #8090
THANKYOU THANKYOU THANKO SO MUCH!
It does work!!

[2021-07-15 07:04] michaldudak commented on #27282
Sure, seems like a pretty low hanging fruit. There is a few more components that could simply be moved to unstyled. I'll focus on these before taking on the next "big" one.

[2021-07-15 07:45] eps1lon commented on #27264
The codesandbox is crashing at the moment. Make sure to pin the dependencies to exact versions and [migrate from `makeStyles`](https://next.material-ui.com/guides/migration-v4/#material-ui-core-styles).

[2021-07-15 08:30] siriwatknp commented on #27289
This is because there is no default theme in `@material-ui/styles` anymore.

You need to use `ThemeProvider` in the root of your application and make sure that the useStyles is called below <ThemeProvider>.

[2021-07-15 08:56] strayiker commented on #27284
@oliviertassinari
`if (children.props.tabIndex === undefined) {`
This line makes sure it is undefined, so yes it always `undefined` in 236

[2021-07-15 09:20] oliviertassinari commented on #27284
@strayiker I might have just understood where you are getting at. Please update the issue description with the improvement you are proposing, e.g. a git diff.

[2021-07-15 10:43] jy95 commented on #27289
Weird :
- `@material-ui/styles` use the v5 : https://github.com/jy95/yt_gaming_library/blob/updates/package-lock.json#L2061
- `ThemeProvider` is at the root of my app : https://github.com/jy95/yt_gaming_library/blob/updates/src/components/Root.js#L70

Even when I move this line [`const classes = basicStyle();`](https://github.com/jy95/yt_gaming_library/blob/updates/src/components/Root.js#L37) (fro

[2021-07-15 11:09] michaldudak commented on #27127
IMO we as library authors should not care what these properties are used for. The name should reflect what this is, not what someone may use it for.

That's not quite right. This will be used by anyone implementing a styled component based on our unstyled one. Plus, anyone wanting to customize a core component with a custom slot.

It's not a breaking change in relation to v4, as this version did n

[2021-07-15 11:14] #25150 closed

[2021-07-15 11:41] robcaldecott opened #27296 "[5.0.0-beta.1] Jest error when importing colors directly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using a combination of `create-react-app` and MUI 5 beta and importing a color value directly, `jest` tests will fail as the color values are published as ES6 instead of CommonJS

[2021-07-15 11:50] oliviertassinari commented on #27296
This import is private, we will make it clearer in #26254.

[2021-07-15 11:52] oliviertassinari commented on #27296
Ohhh

[2021-07-15 12:00] #27135 closed

[2021-07-15 14:04] KASOGIT commented on #22353
The thing i dont understand is why the v5 Tab API documentation show a `selected` rule name that does not work. I expect this syntax:
[code]
to work but you have to use the @oliviertassinari syntax to make it work, it so miss leading.

[2021-07-15 14:08] florianbepunkt opened #27300 "[Tabs] Respect transition duration from theme"
The scrollable tab component animates to the selected tab if it is out of view / partly out of view. This causes troubles during visual regression tests, because it leads to flaky screenshots.

During visual regression tests I use the following theme modification that turns off animations:

[code]

This works quite well, except for the tab situation.

Tabs animation don't seem to respect the theme

[2021-07-15 14:14] jaworek opened #27301 "[Popper] Arrow does not display correctly on v5-beta.1"
Arrow in the Popper example does not display correctly in the v5.0-beta documentation.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There is no arrow displayed and instead there is a black box in its place.

## Expected Behavio

[2021-07-15 14:23] florianbepunkt commented on #27300
If you look here: https://github.com/mui-org/material-ui/blob/3c95b618a58629d5dcde16f8b49ae6b76031b522/packages/material-ui/src/Tabs/Tabs.js#L422-L428

you can see here that the `animate` arg defaults to true. I think an easy remedy would be to pass the theme transition duration to the animate function

[code]

[2021-07-15 14:28] oliviertassinari commented on #22353
@KASOGIT This API was never supported. You should have had a warning in v4 if you tried to use it and it shouldn't have worked either.

[2021-07-15 14:51] spooksie commented on #14860
MFing LastPass wasted an hour of my time... disabled the extension and the problem disappeared. Thanks buddy.

[2021-07-15 15:07] KASOGIT commented on #22353
Then the documentation should reflect that isn't it ? It've been working in v4 with others component like for example the Button with the containedPrimary rule name, so i expect all the component proposing a similar API to be working the same.

[2021-07-15 15:11] fgatti675 opened #27302 "Error using @material-ui/codemod@next"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When running the script as described:
`npx @material-ui/codemod@next v5.0.0/preset-safe src `

an error is thrown:

[code]

## Expected Behavior 🤔

Migration is performed

## Steps to

[2021-07-15 16:11] siriwatknp commented on #27289
This is a mistake because `basicStyle` is not called under <ThemeProvider> .
https://github.com/jy95/yt_gaming_library/blob/2ee0562ab84eb17ade55ab57348e216e26a1c7b7/src/components/Root.js#L37

here is one way to solve it, move `<ThemeProvider>` in `Root` to HOC
[code]

[2021-07-15 16:15] siriwatknp commented on #27296
Noted. will open a PR soon.

[2021-07-15 16:40] KLubin1 commented on #27236
Can I work on this?

[2021-07-15 16:50] mnajdova commented on #27236
@KLubin1 sure, it's all yours :)

[2021-07-15 16:56] serenalin121 commented on #27205
Can I work on this?

[2021-07-15 17:07] mnajdova commented on #27205
Yes @serenalin121 I am assigning this to you :)

[2021-07-15 17:21] faan234 commented on #16866
Can I work on this?

[2021-07-15 17:29] turtleseason commented on #19173
Hi! I'm here from open source day, can I take a shot at this?

[2021-07-15 17:37] #27206 closed

[2021-07-15 18:03] mnajdova commented on #16866
@faan234 sure :)

[2021-07-15 18:27] nzayatz14 opened #27306 "[Dialog] Remove `disableEscapeKeyDown` prop, in favor of using the `onClose` callback"
Is there any particular reason that the `disableBackdropClick` prop is deprecated on the [Dialog](https://github.com/mui-org/material-ui/tree/next/packages/material-ui/src/Dialog) component but the `disableEscapeKeyDown` prop is not?

I feel like they should either both be deprecated and handled the same way via the `handleClose` function, or neither should be deprecated.

Docs (v4.12.1) are curre

[2021-07-15 19:24] #27289 closed

[2021-07-15 20:23] ericsonmoreira opened #27311 "Color attribute of GridToolbarFilterButton component is not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Color attribute of GridToolbarFilterButton component is not working

## Expected Behavior 🤔

Color attribute of GridToolbarFilterButton component is not working

## Steps to Reproduce

[2021-07-15 20:39] michal-perlakowski commented on #27311
Duplicate of https://github.com/mui-org/material-ui-x/issues/2083
Fixed in https://github.com/mui-org/material-ui-x/pull/2084 (not released yet)

[2021-07-15 20:44] michal-perlakowski commented on #27306
From [the pull request that removed `disableBackdropClick`](https://github.com/mui-org/material-ui/pull/23607):

[2021-07-15 20:48] michal-perlakowski commented on #27302
This is not released yet.

[2021-07-15 21:00] nzayatz14 commented on #27306
Ok sounds good, just wanted to make sure things were remaining consistent

[2021-07-15 21:14] michal-perlakowski commented on #27301
It seems that it broke during migration to emotion. Now referencing the arrow with `$arrow` now longer works, so the styles are not applied.

[2021-07-15 21:18] #27236 closed

[2021-07-15 21:19] michal-perlakowski commented on #27277
Duplicate of #27191.

[2021-07-15 21:57] gireeshkbogu opened #27315 "TypeError: (0 , _material_ui_core_styles__WEBPACK_IMPORTED_MODULE_2__.makeStyles) is not a function"
I am running Nextjs starter code and it used to work fine but started giving the following error when I reinstalled materialUI.

Error
<img width="980" alt="Screen Shot 2021-07-15 at 2 56 17 PM" src="https://user-images.githubusercontent.com/3885659/125863077-544528cf-ee44-41e5-8d22-1acb224cc031.png">

Protip.js
[code]

[2021-07-15 22:46] mnajdova commented on #26378
Fixed by https://github.com/mui-org/material-ui/pull/27312

[2021-07-15 23:05] chends888 opened #27316 "Slider text fomatting"
# Slider text formatting not working

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Slider indicator does not show text as expected, instead, it show only the number
![Screenshot from 2021-07-15 19-58-26](https://user-images.gith

[2021-07-15 23:20] #26378 closed

[2021-07-16 00:35] Harshita-Kanal commented on #25312
Can I take this up? :)

[2021-07-16 01:31] UhiriweAudace commented on #19360
This version of 4.0.0-alpha.40 works for me with @material-ui-core version 4.11.0

[2021-07-16 01:42] tpmh31292 commented on #26492
I have the same issue. My use case is that I use <Autocomplete /> for the a list of clients names. If 2 or more people with the same name, they will have the same label, and it will cause duplicate exactly like the CodeSandbox from the original post.
Got this error "Encountered two children with the same key, `Client Name`".

[2021-07-16 02:57] harmandeep-singh opened #27317 "Material-UI: The key `selectLabel` provided to the classes prop is not implemented in ForwardRef(TablePagination)."
Hi Everyone ,  i am using Mui Data-Grid with Next.Js  , it was working previously good, but now i tried every version of next js getting this error always

**"Material-UI: The key `selectLabel` provided to the classes prop is not implemented in ForwardRef(TablePagination)."**

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-u

[2021-07-16 03:39] siriwatknp opened #27318 "[docs] Update `Transitions` page to include forwardRef"
The first code snippet in https://next.material-ui.com/components/transitions/ is wrong. It should be

[code]

[2021-07-16 03:53] aizela commented on #26356
According to the code that you share in codesandbox, when I click the [none],  [object Object] appears in the input.
and  when i add `  <MenuItem value="">clearAll</MenuItem>` in my Select,it's undefined,Neither of them has cleared all of the value

[2021-07-16 04:44] siriwatknp commented on #27296
@robcaldecott I don't think that is true, I believe that only imported colors will be included in production build. Am I right? @oliviertassinari

[code]

[2021-07-16 04:51] Amit-PhoenixCoded opened #27320 "[codemod] SyntaxError: missing ) after argument list"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

While running codemod command, it failed by following error:

[code]

## Expected Behavior 🤔

It should not fail on command.

## Steps to Reproduce 🕹

Steps:

1. Open powershell and G

[2021-07-16 05:54] aizela commented on #26356
[code]
by this, it worked. Although different from my original scenario

[2021-07-16 06:28] #27213 closed

[2021-07-16 07:16] malavshah9 commented on #11467
Thanks @oliviertassinari . This helped me a lot.

[2021-07-16 07:54] jaworek commented on #27301
@michal-perlakowski I implemented Popper styles in my project using scss modules instead of Emotion and the problem persists. It seems that styling needs to be updated to fix this issue. I'll post a solution, if I find one.

[2021-07-16 08:13] rajchandra4 opened #27323 "[Autocomplete] Flags are not appearing in windows[Chrome] in country-select"
I am using the [Country Select](https://material-ui.com/components/autocomplete/#country-select) component from Autocomplete, in windows devices it doesn't show the flag icons.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Optio

[2021-07-16 08:23] jaworek commented on #27301
It looks like is not detected and applied to the Popper and Arrow. When I copied styles manually to arrow, it looks correctly.

[2021-07-16 08:38] Linkweb-Tech commented on #27216
I'm facing the same issue. Like @jrhager84 said, the documentation speaks about @material-ui/styles being an exportable package from @material-ui/core/styles. As i understand, if we are using the v5 core, it has to be usable without any additionnal installation.

I was trying at first :

[code]

_with npm i @material-ui/styles@next_

It ended up generating errors like **theme.spacing is not a func

[2021-07-16 09:27] KyLoc20 commented on #27316
It seems that the API `getAriaValueText` hasn't been implemented in the v5

https://github.com/mui-org/material-ui/blob/5a5348b7ee7726b3a542b496935363ee6df5845f/packages/material-ui-unstyled/src/SliderUnstyled/SliderValueLabelUnstyled.js#L23-L49

[2021-07-16 09:43] oliviertassinari commented on #27235
@DostoevskyMF See our policy regarding IE 11 https://next.material-ui.com/getting-started/supported-platforms/#ie-11

[2021-07-16 09:43] #27235 closed

[2021-07-16 09:47] oliviertassinari commented on #27235
Plus, this issue was fixed in v5, it's a duplicate of #22705.

[2021-07-16 09:52] oliviertassinari commented on #27235
@eps1lon The documentation in IE 11 is broken, it fails here:

https://github.com/mui-org/material-ui/blob/5a5348b7ee7726b3a542b496935363ee6df5845f/docs/packages/markdown/loader.js#L130

<img width="441" alt="Capture d’écran 2021-07-16 à 11 51 11" src="https://user-images.githubusercontent.com/3165635/125929096-0f2fe070-3c24-4c35-9350-45d0206b51b2.png">

I would propose we don't fix it, so we do

[2021-07-16 10:05] oliviertassinari commented on #27296
@siriwatknp Correct, tree-shaking works in prod-mode.

[2021-07-16 10:45] fpronto opened #27325 "Chip doesn't let the event "hover" pass through to the next component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If I try to use a tooltip wrapping a chip, the tooltip doesn't show up until I click on the chip, after that the tooltip appear all the time

It seems that this behavior only happens

[2021-07-16 11:42] #27277 closed

[2021-07-16 11:59] mnajdova commented on #27286
@ypresto this is expected behavior for a multi-select Autocomplete (if there is no text in the search field, backspace will remove the last selected item) You can use the `Autocomplete` in controlled mode and handle this by user self - https://material-ui.com/components/autocomplete/#controllable-states

[2021-07-16 12:00] #27286 closed

[2021-07-16 12:12] abhinav-22-tech commented on #27323
This is working in the firefox browser.
Please check 👍
![image](https://user-images.githubusercontent.com/66718489/125945486-7a89a4a3-8d56-4b59-8d38-80785e33abf4.png)

[2021-07-16 12:24] mnajdova commented on #27301
Taking a look

[2021-07-16 12:25] mnajdova commented on #27302
It should have been released in v5.0.0-beta.1 if I am not mistaken. @siriwatknp can you take a look at this one?

[2021-07-16 12:27] mnajdova commented on #27306
We will probably need to move this to v6. The reason is that the property still exists in v5, and we wouldn't like to introduce more braking changes now that we are in beta. Thanks for the report @nzayatz14

[2021-07-16 12:27] Falkyouall commented on #19376
Hey, at first i was glad that i found this functionality. Then i tried it, and since my popper holds a lazy loaded list of things, its now jumping back to the top whenever i give it more things to render. Without giving it an PopperComponent it was working perfectly, whats the trick to keep the scroll position ? would appreciate a lot!

[2021-07-16 12:29] #27311 closed

[2021-07-16 12:32] abhinav-22-tech commented on #27323
Please refer to this stack overflow link:
https://stackoverflow.com/questions/54519758/flag-emojis-not-rendering/54663926

[2021-07-16 12:32] mnajdova commented on #27315
If you are using v5, please check the example in https://github.com/mui-org/material-ui/tree/next/examples/nextjs Also, take a look on the [Migration guide](https://next.material-ui.com/guides/migration-v4/#main-content) for the breaking changes related to the `makeStyles` API.

[2021-07-16 12:32] #27315 closed

[2021-07-16 12:51] mnajdova commented on #27301
This diff should fix it:

[code]

![image](https://user-images.githubusercontent.com/4512430/125950564-d492fc37-005e-4834-bd0c-7c521b4ee780.png)

[2021-07-16 12:52] tavantzo opened #27327 "useStyles passed props not applied on nested classes with pseudo classes."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Trying to pass some props on some classes using the created hook by the makeStyles function but it doesn't seem to work as expected.
However, while in general passing props works when there are nesting clas

[2021-07-16 13:11] KristofVDB1 opened #27328 "[DatePicker][Docs] minDate and maxDate not mentioned in API docs"
On https://next.material-ui.com/api/date-picker/ documentation, there is no mention of the `minDate` and `maxDate` property.
I think this is an oversight as they are in fact available!

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior

[2021-07-16 15:01] jaworek commented on #27301
Thanks! Is there a PR for it to fix it in the documention? If not, I can do it.

[2021-07-16 15:13] eric-burel commented on #24901
We have a non-minimal repro here: https://github.com/VulcanJS/vulcan-next/pull/114
You can check "packages/@vulcanjs/next-material-ui/components/Link.tsx", it's based on the example quoted by @mguarino1, I am currently investigating a quickfix

[2021-07-16 15:22] siriwatknp commented on #27302
I try `@material-ui/codemod@next` and I got `v5.0.0-beta.0`. I think there is some mistake on the latest release, I will make sure that it is released next week.

[2021-07-16 15:39] mnajdova commented on #27316
@KyLoc20 you are probably looking for the `valueLabelFormat` property. The `getAriaValueText` is used for the `aria-valuetext` property. See https://codesandbox.io/s/discreteslider-material-demo-forked-jks7e?file=/demo.js

[2021-07-16 15:42] #27316 closed

[2021-07-16 15:49] mnajdova commented on #27328
As far as I can see they have the `@ignore` directive, that is why they are not shown on the docs. On the other hand we are using them in the [Playground Demo](https://next.material-ui.com/components/date-picker/#views-playground). @eps1lon is there a reason for them not being documented?

[2021-07-16 15:58] mnajdova commented on #27325
If you check the console, there is a warning:
[code]

[2021-07-16 15:59] #27325 closed

[2021-07-16 16:03] chends888 commented on #27316
Thank you very much! Maybe it'd be nice to make these changes to the official documentation ;D

[2021-07-16 16:05] michaldudak commented on #26810
AFAIK you can't assign HTML element names to JSXElementConstructor, so ElementType seems to be a better option.

As for componentsProps, we could at least constrain it to be an object with string keys, so `Record<string, any>` is more appropriate. `any` is too loose and `{}` won't allow property access without casting. `Partial<...>` suffers from the same issue as `doesn't help either as `{ as, st

[2021-07-16 16:07] mnajdova commented on #27327
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-07-16 16:08] fpronto commented on #27325
Thanks a lot for your help @mnajdova

[2021-07-16 16:11] mnajdova commented on #27301
Feel free to open up a PR, there isn't one yet :)

[2021-07-16 16:13] #27253 closed

[2021-07-16 16:22] tran-simon opened #27330 "[TextField] You should be able to have a blank label and keep the space. Currently, setting the label prop to "" or null removes the InputLabel entirely"
When you have multiple text fields side by side, if one of them doesn't have a label, they won't be aligned correctly because it's missing the label's spacing.

We need a way to not have a label, but keep the spacing

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The InputLabel should no

[2021-07-16 16:25] oliviertassinari commented on #26810
@michaldudak True, so I guess it depends on either we envision the support for a React host element or not for the specific slot? I mean, as soon as we provide custom props, it's KO for using JSXElementConstructor.

---

`Record<string, any>` 👍

[2021-07-16 16:26] oliviertassinari commented on #26810
I'm reopening so we can use this issue as a pretext to normalize.

[2021-07-16 16:46] Harshita-Kanal commented on #27045
Can I work on this?

[2021-07-16 21:46] tavantzo commented on #27327
@mnajdova I've added an example in a code-sandbox as suggested. Please check and let me know if you need any further clarifications.

https://codesandbox.io/embed/optimistic-mahavira-1ue1m?fontsize=14&hidenavigation=1&theme=dark

[2021-07-17 05:47] tavantzo commented on #27327
However, realized that if use the phat-arrow function at the top-level style-class the pseudo-class above will work as expected.

Hidden feature or a bug?

[codesandbox](https://codesandbox.io/embed/optimistic-mahavira-1ue1m?fontsize=14&hidenavigation=1&theme=dark)
[code]

[2021-07-17 06:39] asterisk37n commented on #19787
I want to pre-calculate input height based on chip, with the normal chip size

[2021-07-17 08:43] harmandeep-singh commented on #27317
ok i got it some one already posted this , my bad did not checked it now going to close this one and following :  #2117.

[2021-07-17 08:43] harmandeep-singh commented on #27317
following : #2117.

[2021-07-17 09:46] ali-garajian commented on #27275
@mnajdova I'm having the same problem with nextjs. Here's [my repo](https://github.com/ali-garajian/material-ui-rtl-test).
I've followed every step in the [docs ](https://next.material-ui.com/guides/right-to-left), but it still doesn't work and the directions don't get flipped. Could you please take a look to see if I'm doing anything wrong. BTW, please let me know if I should open another issue f

[2021-07-17 09:56] eps1lon commented on #27328
Probably just some technical limitation of `docs:api` since they aren't used directly in `DatePicker` but some other component. The other component isn't public though so we don't end up showing it at all. I think `docs:api` has an API to force documentation of external props such as `minDate`.

[2021-07-17 09:58] eps1lon commented on #27235
Oh right, forgot to propose the change. Need to fix this anyway.

[2021-07-17 10:14] eps1lon commented on #27306
This is fine for v5. Otherwise the API just looks weird as mentioned in the issue description. I just forgot to do it.

[2021-07-17 10:23] ali-garajian commented on #27320
I'm having the exact same issue

[2021-07-17 10:30] eps1lon commented on #27306
On the other hand, Modal also does stop event propagation which is a bit scary to change. Let's do this in v6.

[2021-07-17 10:43] eps1lon commented on #27320
I think you need to use a bash-like shell. Does the command work when using the git bash?

[2021-07-17 10:47] ali-garajian commented on #27320
@eps1lon I've only tested with git bash, and it doesn't work

[2021-07-17 10:49] oliviertassinari commented on #27306
@nzayatz14 It's similar to the other events but not identical. The motivation to keep it was to kill two birds (not call on click + call `event.stopPropagation()`) in one stone (`disableBackdropClick`). It's meant as a helper to save time. If we remove it, developers would have to not forget to call `event.stopPropagation()`, they will get surprises otherwise.

[2021-07-17 11:00] eps1lon commented on #27306
This is misleading.

[2021-07-17 15:15] Patil2099 commented on #27301
I would love to work on this.

[2021-07-17 16:51] oliviertassinari commented on #26571
@mnajdova I'm closing then. Thanks to everyone for participating.

Since I have opened the issue, I'm going to bring my perspective on why we are not moving forward. In this RFC, I have drawn two value propositions:

1. **Migration from v4 to v5**. Not providing the makeStyles API back means that we will have a fragmentation of the community for a longer period between v4 and v5 (the community wil

[2021-07-17 16:51] #26571 closed

[2021-07-17 20:57] sjohnsonaz commented on #27291
I'm having this issue as well.

[2021-07-18 02:36] Jack-Works commented on #26571
Your example isn't type checked so if there is a typo, the type system cannot catch it for me.

Ant btw will tss-react recommended now?

[2021-07-18 03:08] garronej commented on #26571
[yes](https://github.com/garronej/tss-react/issues/3#issuecomment-879022879)

[2021-07-18 11:32] eps1lon commented on #27291
Fixed in https://github.com/mui-org/material-ui/pull/27293 will release on monday.

[2021-07-18 11:32] #27291 closed

[2021-07-18 13:11] M2Changezi opened #27343 "employees.columns-99ec118b.js:15 Material-UI: The key `selectLabel` provided to the classes prop is not implemented in ForwardRef(TablePagination)."
When first load of table happends and on first click of any of the cell data, column header or row  the error occurs as :
`
Material-UI: The key ``selectLabel`` provided to the classes prop is not implemented in ForwardRef(TablePagination).
You can only override one of the following: root,toolbar,spacer,caption,selectRoot,select,selectIcon,input,menuItem,actions.
`

- [ ] The issue is present in t

[2021-07-18 13:36] ali-garajian opened #27344 "Nested classKeys don't work in custom themes in v5"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The title is a little vague, I agree! That's because I couldn't figure out what this styling feature is called!
My project depends heavily on customized themes, and the following used

[2021-07-18 14:06] ali-garajian opened #27345 "[Slider]: the actual ts types for onChange differ from those in the migration guide"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The onChange prop of Slider component is typed as
[code]
in which "event" is of type "Event", but [in the migration guides](https://next.material-ui.com/guides/migration-v4/#slider) i

[2021-07-18 15:07] StevenCreates commented on #27174
Yeah this is still a problem 🤷‍♂️ styled-components is a pretty commonly used library you should probably fix out of the box.

[2021-07-18 16:53] narrasriram opened #27346 "React Material UI icon onclick not working properly"
I'm working on a react project where there will be a react material ui table component. Inside the table(10 reacords/rows in each page), the last element in every row is a
[Material UI MoreVert Icon][1]

Expected Behaviour: When I click on the MoreVert icon in first row, it should show me the menu of options and when I click elsewhere the menu should be closed.

Current Behaviour: When I click the

[2021-07-18 17:55] PinkaminaDianePie opened #27347 "Slider doesn't work with frozen arrays"
Because of this perf optimization Slider doesn't work with frozen arrays:
https://github.com/mui-org/material-ui/blob/a3dbd6cc4e3f07df702a807ffb3f058586cff324/packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.js#L96
If I pass a frozen array as a `value` prop to the slider, it throws an error because it attempts to sort the result of the `setValueIndex` function, but it's impossible t

[2021-07-18 21:59] RileyMShea commented on #19113
Am I correct in thinking that the bulk of the slowness comes from the styling theme types, and if I avoid using the context provider, just sticking with `@materialui-core` I won't see such a huge slowdown?

I hate to be overly dramatic since I'm sure a lot of work has gone into v5.0 but I cloned the nextjs-typescript v5beta2 example and @ypresto 's description of ` 1sec-on-every-type hell` sums up

[2021-07-18 23:02] embeddedt commented on #19113
@ypresto I am sure you are a lot more knowledgeable about this than I am. Is there a way for me to blacklist all of the expensive/complex types from `@material-ui/core` from being used for typechecking (i.e. replace them with `any`)? I use Material UI **v4** in a production app, and the slow typechecking speed is quite annoying. I'd happily sacrifice type accuracy on the CSS-in-JS objects.

I'm pe

[2021-07-18 23:12] MariaSolOs commented on #27148
I'm having the same issue. I'm using Typescript and I cannot set rowsMin or minRows as a prop in a Textfield component, but then when using the `multiline` variant I get the warning that `rows` is deprecated.

[2021-07-19 05:06] rajchandra4 commented on #27323
Thanks this was helpful. @abhinav-22-tech

[2021-07-19 05:06] #27323 closed

[2021-07-19 06:21] ypresto commented on #19113
@RileyMShea

Where do you experience it? If you don't have any styled() or makeStyles() in the file, perhaps it is caused by components which support `component="..." prop. It is `OverridableComponent` one, and not styling nor theme type. ThemeProvider itself do nothing about type performance at least until you opens file which renders ThemeProvider.

[2021-07-19 06:49] noviicee commented on #27284
Can I take this up?? @oliviertassinari

[2021-07-19 06:51] noviicee commented on #27162
Can I take this? @mnajdova

[2021-07-19 07:00] eps1lon commented on #27148
Duplicate of https://github.com/mui-org/material-ui/issues/27291.

Will do a release within 24h to fix this.

[2021-07-19 07:24] shreyanshparakh commented on #27260
thank you . 2 more things,
1. what you have mentioned is for filtering,  is it possible that if I have these values in the search box and I click enter these get selected, like 'the Shawshank redemption, The Godfather' -> click enter and these get selected.
2. if I have multiple selected , and I selected lets say 10 values, while focused the combo box gets too big/long, because the limit tags work

[2021-07-19 07:47] eps1lon commented on #27347
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-07-19 07:47] #27346 closed

[2021-07-19 07:53] PinkaminaDianePie commented on #27347
sure, here is it: https://codesandbox.io/s/damp-glade-ld9m7?file=/src/Demo.tsx:134-148
try to drag the slider, you will get an error

[2021-07-19 07:56] eps1lon commented on #27347
Thanks for the report!

Input parameters should be readonly. Object.freeze shows that this is currently not the case, which is a bug.

[2021-07-19 08:27] RileyMShea commented on #19113
@ypresto  I was in a fresh copy of https://github.com/mui-org/material-ui/blob/next/examples/nextjs-with-typescript/pages/about.tsx added a `Button` and tried getting autocomplete on the `variant` prop.

[code]

If I understand correctly, because `ButtonBase` supports the `component` prop, that might make autocomplete slow, even though I'm not making use of the `component` prop in this instance.

[2021-07-19 08:31] #27300 closed

[2021-07-19 08:32] korengrip commented on #27302
When will the package get updated? It prevents us from upgrading to V5.

[2021-07-19 08:37] eps1lon commented on #27205
Fixed in https://github.com/mui-org/material-ui/pull/27307

[2021-07-19 08:37] #27205 closed

[2021-07-19 09:02] eric-burel commented on #20012
I am investigating v5 `styled` API. I've been using Styled Components for a while (~2017), so I am progressively trying to adapt to new patterns.

At this point I think there is a (perfectly normal) lack of guidelines about styling our own components.

- Will `makeStyles` be progressively deprecated? It has an important place in the v5 docs at the moment https://next.material-ui.com/styles/basics/

[2021-07-19 09:20] robcaldecott commented on #27265
These deprecation errors are causing us some problems too. We have a shared `ThemeProvider` used by many projects that is now generating an "error" because it's using `createMuiTheme`. Downgrading to `4.11` doesn't work because of the `@material-ui/system` issue and we're all using `npm 6` where `resolutions` is not an option.

Short of us releasing a new theme that forces a dependency on 4.12 (an

[2021-07-19 09:25] mnajdova commented on #27344
Yes, this is the reason. I will update the migration guide to point this out. Thanks for the report!

[2021-07-19 11:53] eps1lon commented on #27265
You need to also revert the lockfile changes that were included when upgrading from 4.11 to 4.12

[2021-07-19 11:55] eps1lon commented on #26346
Closing since to repro was provided

[2021-07-19 11:55] #26346 closed

[2021-07-19 13:53] svrin commented on #27267
@mnajdova Yes, this sums it well.

[2021-07-19 14:56] Floriferous commented on #25067
Isn't the ambition of this project to go beyond the material design spec? To me the errored TextField feels broken compared to its non-error TextField. I don't understand why we wouldn't want to consider adding a hover effect on _every_ text field?

[2021-07-19 16:59] pierluigi-giancola opened #27359 "TextField stays "open" when initialized as Google Place Autocomplete Widget"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When initialize a TextField as [google place autocomplete widget](https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete) target, it "opens" like if

[2021-07-19 17:35] ConnorDY opened #27360 "[TablePagination] Uncaught TypeError: _this.props.onChangePage is not a function"
We're using `@material-ui/core@^4.11.0` and experiencing the following error:
[code]

This code previously worked:
[code]

TypeScript complains that `onPageChange` is needed and that `onChangeRowsPerPage` and `onChangePage` are deprecated.

So we changed the code to:
[code]

With this we're still getting the same error as above.

- [ ] The issue is present in the latest release.
- [x] I have searc

[2021-07-19 17:59] shreyanshparakh opened #27361 "Select Multiple options on enter for material ui autocomplete"
https://github.com/mui-org/material-ui/issues/27260
this issue has been closed, but I was asking for being able to select multiple values on click enter when multiple values are given in the text field separated by comma , and when enter is clicked all matching values are checked.

- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe tha

[2021-07-19 18:05] CamDavidsonPilon commented on #27289
Hi, I'm getting a similar problem in my project. I'm using the latest [material-ui v5 versions](https://github.com/Pioreactor/pioreactorui/blob/master/client/package.json#L11-L14), and have put `ThemeProvider` at the [highest level](https://github.com/Pioreactor/pioreactorui/blob/0482c8ec8e959573fc4db536a615abfccfe543fa/client/src/App.jsx#L28-L51), and I believe the correct imports:

https://githu

[2021-07-19 19:13] gireeshkbogu opened #27362 "Emotion Issue"
I am trying to use Mini Drawer component with latest materialUI and having the following error. How can I resolve this? Thank you.

[code]

Error
<img width="950" alt="Screen Shot 2021-07-19 at 12 07 29 PM" src="https://user-images.githubusercontent.com/3885659/126214079-8a2f116e-8dc9-45b8-ba78-9ff7f18937b7.png">

[2021-07-19 19:17] KyLoc20 commented on #27347
I think the type checker is not strict enough.
https://github.com/mui-org/material-ui/blob/014dce1122943666f45f44844ef5067beb455c4a/packages/material-ui/src/Slider/Slider.js#L686

`PropTypes.arrayOf(PropTypes.number)` allows immutable objects which are generated from `Object.freeze()` or `Object.seal()`.
I checked https://github.com/facebook/prop-types/issues/117#issue-260881290 where they suggest

[2021-07-19 19:23] shripadk commented on #19466
@oliviertassinari I stumbled upon this issue as well. Could something like this be possible?

Assuming I want to add a new prop to say the Avatar component: prop is "size" with values "small", "medium" and "large". I can do something like this to get rid off the first error:

[code]

Even though it works in the theme overrides, it still throws an missing prop Error while actually using the compone

[2021-07-19 20:57] zehawki commented on #12255
Would you all be willing to reconsider the decision on this issue? Irrespective of what the Goog says, the world is full of long questions in forms. The idea of short labels only holds good for limited cases of "username / password / address / credit card" and the like. I can give dozens of examples of long questions in forms, that needs be there, and not all of it can be turned into helper text.

[2021-07-19 22:00] Quozzo commented on #27216
It is [here](https://next.material-ui.com/styles/basics/) were the _warning_ specifies to install `@material-ui/styles` which causes issues with `makeStyles` since the theme is not within the same context and the theme argument comes back as an empty object.

[code]

Installing @material-ui/styles@v5.0.0 solved the issue for me.

[2021-07-19 22:17] csantos-nydig commented on #26781
This issue should be re-opened and evaluated.
#12255 was closed, then opened, then finally fixed by #25012

the comment you referenced is pretty old, keep reading the whole thread:
https://github.com/mui-org/material-ui/issues/12255#issuecomment-772904534
https://github.com/mui-org/material-ui/issues/12255#issuecomment-772905752
https://github.com/mui-org/material-ui/issues/12255#event-4355804617

[2021-07-19 22:59] eahenke opened #27363 "[AccordionSummary] false positive propType warning with `disableGeneration`"
When `AccordionSummary` is checking for usage of the deprecated `classes.focused` prop, the code calls `indexOf` on `classes.focused` without checking if that property is defined. If you don't supply `classes.focused`, this throws `Failed prop type: Cannot read property 'indexOf' of undefined`.

It appears to have been introduced in this change: https://github.com/mui-org/material-ui/commit/9c48d0

[2021-07-19 23:15] MariaSolOs commented on #27148
The issue isn't completely fixed. When using `rows={4}`, the text area has the correct attribute:
![image](https://user-images.githubusercontent.com/62502207/126239132-15d54b9b-1b87-4486-8b35-cf6fd780c02c.png)
Now the typings are correct and I can use `minRows={4}`, but the attribute is now set to 1:

[2021-07-20 06:17] PinkaminaDianePie commented on #27347
one more reason to speed up TS migration :) `ReadonlyArray<T>` would not allow to write such code

[2021-07-20 06:24] eps1lon commented on #27148
Fixed in `4.12.2`. @MariaSolOs Sounds like a separate issue. Please open a new issue and fill out the template.

[2021-07-20 06:24] #27148 closed

[2021-07-20 06:26] eps1lon commented on #27347
Please refrain from making these misleading and therefore nonconstructive statements. https://github.com/mui-org/material-ui/issues/15984 has all the context why this isn't as simple as you make it out to be.

[2021-07-20 06:39] eps1lon commented on #12255
Re-opening since we should have a documented, simple workaround for automatically scaling the textfield so that it fits the label.

[2021-07-20 06:39] eps1lon commented on #27362
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-07-20 06:41] #27361 closed

[2021-07-20 06:47] eps1lon commented on #27359
Thanks for the report.

I can't reproduce the issue described. Instead I get `Google Maps JavaScript API error: InvalidKeyMapError`.

Be aware that the 3rd party code uses deprecated and not recommended React APIs so this might be the issue.

[2021-07-20 07:14] eps1lon commented on #27181
No longer reproduces with v5: https://codesandbox.io/s/quirky-mountain-e3jzr?file=/package.json

[2021-07-20 07:14] #27181 closed

[2021-07-20 07:27] eps1lon commented on #27128
Definitely agree that "pseudo-class" is misleading.

I'd prefer "classes for common states" because that actually describes the intention behind them not their implementation. "pseudo classes" target "states" (in the HTML vocabulary (see custom elements)) so  it seems natural to me to also refer to "states". Though when describing "classes for common states" I would still explain that their inspir

[2021-07-20 07:35] eps1lon commented on #27274
I can definitely see some room to improve the customization documentation. Though the initial prototype feels a bit lost.

It should be clear what are classes, what are components, where are these located in the component etc. Right now the prototype isn't telling anything new because we already document in prose and name that `MuiSwitch-Thumb` is applied to the `Thumb` component of the `Switch`.

[2021-07-20 07:40] #27007 closed

[2021-07-20 07:51] smajl commented on #23738
FYI, `hiddenLabel` doesn't work correctly for **multiline** filled inputs.

[2021-07-20 08:20] ariel-upstream opened #27365 "Access to theme localization without using useTheme hook"
Hi,
I have a localization file and to access the values in the file I'm using the useTheme hook,
For example:
[code]
The issue is when I'm trying to access it from a .ts file where all my constants objects are defined
it's not a function component so I'm getting that error:
`React Hook "useTheme" cannot be called at the top level. React Hooks must be called in a React function component or a custo

[2021-07-20 08:31] oliviertassinari commented on #12255
@zehawki https://github.com/mui-org/material-ui/issues/12255#issuecomment-511693322 this is outdated, it's how v4 behaves. We changed the solution in v5 with #25012.

[2021-07-20 08:44] #27365 closed

[2021-07-20 08:48] zehawki commented on #12255
@oliviertassinari I saw that as well (I looked thru all the issue threads around this issue), and I beg to differ with that solution. Its not good UX. I saw a similar comment from another person: https://github.com/mui-org/material-ui/issues/26248#issuecomment-839745796

Starting here https://next.material-ui.com/components/text-fields/. This shows me v5.0.0-beta.1. From there to https://codesandb

[2021-07-20 09:02] zehawki commented on #12255
Oh here is a possibly elegant solution - one that is no longer available in v5 due to the (...) change.

When the label is looooooong, one could use a Multiline version of the textlabel. This together with a `rows` prop (set to say 3 or 4), would make it just perfect. Eg https://codesandbox.io/s/2jtq9

![image](https://user-images.githubusercontent.com/8095144/126293149-7757572c-6976-425c-b234-145

[2021-07-20 09:02] abdulqadeer1999 opened #27367 "@material-ui/icons/LockOutlined"
Module not found: Can't resolve '@material-ui/icons/LockOutlined'

[2021-07-20 09:04] rajzik opened #27369 "[Badge] Color prop doesn't override badge background."
Badge color overrides doesn't have higher priority than theme override.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When theme is applied
[code]

result looks like this:
![image](https://user-images.githubusercontent.com/10364

[2021-07-20 09:06] #27367 closed

[2021-07-20 09:51] mnajdova commented on #27369
The `styleOverrides` are applied on top of the styles defined for the component, so they would always win. This may be a breaking change in comparison of how it worked for v4. If you want to apply styles only when the color is default, you can do it using the variants:

https://codesandbox.io/s/patient-pond-nvwj0?file=/src/Demo.tsx

This makes me think of a discussion we had with @oliviertassinari

[2021-07-20 10:00] oliviertassinari commented on #14270
@kiransiluveru777 Please look at the warning. It's not available in v4

<img width="507" alt="Capture d’écran 2021-07-20 à 11 59 53" src="https://user-images.githubusercontent.com/3165635/126304818-182eb25d-0e74-418b-adbf-ace41d967f7a.png">

It's a v5 only feature.

[2021-07-20 10:09] kiransiluveru777 commented on #14270
Thanks @oliviertassinari

[2021-07-20 10:09] oliviertassinari commented on #27369
Oh yeah, interesting behavior change. We can't do anything about it. I would even argue that the new behavior allows a simpler mental model. Your styleOverrides always win, unless there is a ["conditional class"](https://github.com/mui-org/material-ui/issues/27128). It doesn't depends on if the core components added modifiers.

[2021-07-20 10:12] mnajdova commented on #19466
@shripadk although this looks good, there are other aspects that we need to solve before this is possible.

One I could think of immediately is, how will the component know which props to forward to the root element? Currently, all unhandled props are passed, now we will need to have a more complex solution here, for example forward only valid HTML props.

[2021-07-20 10:13] rajzik commented on #27369
Thanks for the workaround.

It would be great to have possibility to style according to props.

[2021-07-20 10:14] mnajdova commented on #27369
Let me check, if we don't I will open a new one for this.

[2021-07-20 10:18] pierluigi-giancola commented on #27359
Hi @eps1lon ,

I didn't want to put a GMaps Key since the problem was visible even without it.
I updated the [codesandbox](https://codesandbox.io/s/nervous-robinson-097wt?file=/src/Demo.tsx) and now se google maps library load fine as an external resource of the codesandbox.

[2021-07-20 10:37] ErikParso commented on #12255
Another good workaround for me was to position label using bottom property instead of top. Using this approach label will be aligned on bottom also when wraps. Doesn't work with multiline edits :/

![image](https://user-images.githubusercontent.com/35962203/126309961-a45dc169-c9c8-4be8-962d-e56d377cd0e4.png)

![image](https://user-images.githubusercontent.com/35962203/126310024-d3c3916b-18a7-4cbf-

[2021-07-20 10:59] shripadk commented on #19466
@mnajdova I did not realise that custom props are being passed down to the native DOM element. I thought the default behaviour was not to pass down any prop unless it is whitelisted in the implementation of the component. So I assumed that custom props were utilized only for generating styles for the component. Thanks for providing clarity on that. Yes I agree with you that it does require a more

[2021-07-20 11:19] LorenzHenk opened #27372 "[TreeView] TreeItem label width problems with overflow"
When handling the TreeItem label with text-overflow, the element has too much width and escapes the layout.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The label width is `100%`, which leads to the label escaping the parent la

[2021-07-20 11:37] #27344 closed

[2021-07-20 11:46] Angelk90 commented on #26781
@csantos-nydig, @eps1lon  : The problem is already closed, but it has not been solved.

[2021-07-20 12:08] Angelk90 commented on #26781
@csantos-nydig , @eps1lon , @siriwatknp :

I tried to update several packages, after various problems I managed to get what you see in the video: [codesandbox](https://codesandbox.io/s/material-demo-forked-33nuv?file=/demo.js)

https://user-images.githubusercontent.com/20476002/126320745-5313b0b0-f5fa-489c-9e5e-0e65578c5ab9.mov

Eventuality counselor can have a solution like this if it is possible

[2021-07-20 12:35] JoeDravarol opened #27377 "[Styling Bug with theme.breakpoints] maxWidth value would not overwrite on browser resize"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The maxWidth value (1600px) that is supposed to overwrite (1200px) when the browser width reach 1920px but it is not being applied though it is present in the developer console inspec

[2021-07-20 12:56] eps1lon commented on #26781
#12255 was closed, then opened, then finally fixed by #25012

I've re-opened https://github.com/mui-org/material-ui/issues/12255

[2021-07-20 13:19] Angelk90 commented on #26781
@eps1lon : What kind of solution do you have in mind to undertake?

[2021-07-20 13:21] eps1lon commented on #26781
I don't have any solution in mind. I just recognize the problem. Please continue any discussion in the re-opened issue.

[2021-07-20 13:25] Angelk90 commented on #12255
@oliviertassinari :  In reference to these two comments.
https://github.com/mui-org/material-ui/issues/26781#issuecomment-882898164
https://github.com/mui-org/material-ui/issues/26781#issuecomment-883340809

[2021-07-20 13:29] evantrimboli opened #27378 "Expose styled Tooltip component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently the underlying component that displays the tooltip (`TooltipTooltip`) is not exported. It would be nice to have something like this available to render in other scenarios, for example, as a chart tooltip.

## Examples 🌈

[code]

##

[2021-07-20 13:57] ConnorDY commented on #27360
I was unable to reproduce this issue in a clean repository using the same code and dependencies. It seems to be relating to `material-table` dependency being used by another dependency and somehow overriding the `TablePagination` component from `@material-ui/core`.

[2021-07-20 13:57] #27360 closed

[2021-07-20 14:03] siriwatknp commented on #27289
@CamDavidsonPilon I checked, the code looks fine but your package.lock is not. please delete your package.lock and node_modules then `npm install` again. (it works on my machine)

[2021-07-20 14:30] CamDavidsonPilon commented on #27289
Excellent - that worked! Thanks, team, material-ui is my fav!

[2021-07-20 15:46] nratter opened #27379 "Documentation for v4.11.4 missing"
If I go to https://material-ui.com/versions/ and click Documentation next to v4.11.4, I am linked to a site that displays "This site can't be reached"

![image](https://user-images.githubusercontent.com/3020810/126354898-242aaed0-9e44-453b-a1ca-56fce29f4550.png)

[2021-07-20 16:08] pantelispanayiotou opened #27380 "Component selectors can only be used in conjunction with @emotion/babel-plugin when referencing components with styled"
I am trying to convert a jss component to styled. More specifically i am trying to reference another component as suggested by styled components:

[code]

However i receive the following error:
Uncaught Error: Component selectors can only be used in conjunction with @emotion/babel-plugin.

If i use styled from @emotion/styled/macros it works but it doesn't respect my custom mui theme.

- [X] The i

[2021-07-20 16:25] eahenke commented on #27363
Thanks, updated with a CodeSandbox link and repro steps with some additional context.

[2021-07-20 17:20] ypresto commented on #19113
@embeddedt @RileyMShea

If you want temporary patch to speed up (while **it is not very good solution**, you warned, and also have limitation), here is the one for material-ui v4.
You can apply these to your files under node_modules.

`@material-ui/styles/createStyles/createStyles.d.ts`
[code]

`@material-ui/core/styles/makeStyles.d.ts`

[code]

`@material-ui/core/OverridableComponent.d.ts`

[code

[2021-07-20 17:24] itsankitverma commented on #20808
not been solved yet?

[2021-07-20 23:07] MariaSolOs commented on #27148
Never mind. I was about to reproduce the bug again today but it's fixed now. The Typescript build was probably outdated... Thank you @eps1lon! <3

[2021-07-21 05:01] serchserch opened #27383 "makestyles migration v4 to v5 empty theme."
I'm migrating from v4 to v5, I've already check the migration docs, but I have not been able to find a way to access to my custom theme using `ThemeProvider` through `makeStyles`.

Dependencies versions:

    "@material-ui/core": "^5.0.0-beta.1",
    "@material-ui/styles": "^4.11.4",
    "@emotion/react": "^11.4.0",
    "@emotion/styled": "^11.3.0",

**Main file**
[code]

**My comp file**
[code]

[2021-07-21 07:02] mnajdova commented on #27383
You need to also update the `@material-ui/styles` to v5

[2021-07-21 07:02] mnajdova commented on #27383
Duplicate of https://github.com/mui-org/material-ui/issues/27289

[2021-07-21 07:02] #27383 closed

[2021-07-21 08:32] #27318 closed

[2021-07-21 09:20] eps1lon commented on #27302
Released `@material-ui/codemod@5.0.0-beta.1` from https://github.com/mui-org/material-ui/tree/v5.0.0-beta.1

[2021-07-21 09:20] EddyVinck commented on #13394
@topheman Do you know if this is still an issue in v5 beta?

[2021-07-21 09:20] #27302 closed

[2021-07-21 09:22] oliviertassinari commented on #27379
![Screenshot_2021-07-21-11-19-36-141_com brave browser](https://user-images.githubusercontent.com/3165635/126465032-67fbf67f-1320-49bc-934e-559ca7bc6d78.jpg)

Thanks for the report. We forgot to create the branch. Done.

[2021-07-21 09:22] #27379 closed

[2021-07-21 09:34] EddyVinck commented on #20012
@oliviertassinari can DataGrid be used in v5 without problems at the moment? I can imagine there might be theme related problems since DataGrid 4.0.0-alpha.33 relies on JSS but my v5 theme would rely on Emotion, correct?

I'm currently evaluating whether I should go with v4 or v5 beta for a new project.

[2021-07-21 09:55] eps1lon commented on #27378
Thanks for the feedback.

Could you elaborate with what specific chart library you're trying to integrate Material-UI? It's better to start with a problem description not a desired API.

[2021-07-21 09:57] siriwatknp commented on #27320
@michaldudak I am pretty lost on this issue, do you have any idea what cause the error?

[2021-07-21 10:18] jbty commented on #24828
Hello I have the same issue, It's possible to close DateRangePicker with onAccept event ?

[2021-07-21 10:23] oliviertassinari commented on #20012
@EddyVinck https://github.com/mui-org/material-ui/issues/20012#issuecomment-877803062

[2021-07-21 11:04] pyzenberg commented on #14427
For v5:
[code]

[2021-07-21 11:07] imsuvesh opened #27387 "[Stepper] Cannot customize StepIcon style via StepIconProps (prop of StepLabel API)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I think Issue [#26830](https://github.com/mui-org/material-ui/issues/26830) also has the somewhat same problem but I think I have found the issue which is causing this problem.

## Current Behavior 😯
StepIc

[2021-07-21 11:16] oliviertassinari commented on #27127
@michaldudak I support every point that you have made. We will need to settle this before the stable release.

[2021-07-21 11:56] evantrimboli commented on #27378
Basically I just want to be able to render the underlying styled tooltip element with content:

![image](https://user-images.githubusercontent.com/197184/126484563-1add013b-5108-4c9d-a062-cb2fbd5a3260.png)

https://github.com/mui-org/material-ui/blob/a2867c95f6bc142c5b4df9438d9a980ebdf23c5d/packages/material-ui/src/Tooltip/Tooltip.js#L101

Without all the trappings of the `Tooltip` component, ie.

[2021-07-21 11:58] eps1lon commented on #25135
This issue is closed in the latest version of `@material-ui/lab`: https://next.material-ui.com/components/date-picker/#main-content. `@material-ui/pickers` is no longer maintained.

[2021-07-21 11:58] #25135 closed

[2021-07-21 12:50] slamjs commented on #11069
you can use the following
[code]

[2021-07-21 14:03] michaldudak commented on #27320
On Windows, jscodeshift comes in bash and pwsh versions. On a mac, it's a js file. Running a bash script with `node` results in the error you see. I'm going to fix it or find a workaround now.

[2021-07-21 14:19] mnajdova commented on #27380
I think it's related to https://github.com/mui-org/material-ui/issues/26366 I plan to look into it this or next week.

[2021-07-21 14:30] mnajdova commented on #27387
You need to increase the specificity for the pseudo states. See https://next.material-ui.com/customization/how-to-customize/#pseudo-classes What may be confusing here is that we are not using the `Mui-active` class. You can fix it with - https://codesandbox.io/s/material-ui-override-step-icon-color-forked-rcpqw

[2021-07-21 14:34] #27387 closed

[2021-07-21 14:40] mnajdova commented on #27174
@abriginets looks like the issue is there no matter what import is used. I could reproduce it with both imports. The reason is because you didn't configure JSS for the server-side rendering, only emotion.You can take a look on how we are configuring it in the docs:
https://github.com/mui-org/material-ui/blob/next/docs/pages/_document.js

[2021-07-21 15:48] #27320 closed

[2021-07-21 16:00] michaldudak commented on #27320
By the way

It works fine with Powershell as well.

[2021-07-21 16:08] oliviertassinari commented on #27320
@Amit-PhoenixCoded @ali-garajian Could you try the fix that we did in #27395? You can use:

[code]

[2021-07-21 16:20] ali-garajian commented on #27320
@oliviertassinari Yup, it worked! I no longer have this issue. Thanks a lot!

[2021-07-21 16:41] oliviertassinari commented on #27306
@eps1lon Happy to have a longer conversation about it. I guess there are multiple different ways to see this problem.

1. stopPropagation vs. preventDefault. [react-modal uses](https://github.com/reactjs/react-modal/blob/8050773e651f633766fd4791bb76676b415b7517/src/components/ModalPortal.js#L279) stopPropagation while bootstrap uses [preventDefault](https://github.com/twbs/bootstrap/blob/main/js/s

[2021-07-21 17:03] szapataq opened #27396 "override component CalendarPicker styles"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I was working with the DayPicker component and overwrote its styles to customize it to the theme I wanted, the result was very good, however when I updated to version v5.0.0-beta.1 th

[2021-07-21 18:10] michaldudak commented on #27128
👍 I like the "states". What do you think about "common state classes" instead of "classes for common state", though? It's a bit shorter.

[2021-07-21 19:53] tm1000 opened #27397 "[Autocomplete] loading prop seems to do nothing"
When setting the loading prop on an Autocomplete the autocomplete does nothing. What is the ultimate point of the loading prop?

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The autocomplete component does nothing when the loadi

[2021-07-21 20:00] tm1000 commented on #27397
Looking more into this it's because `groupedOptions.length` is not `=== 0` (https://github.com/mui-org/material-ui/blob/v4.12.2/packages/material-ui-lab/src/Autocomplete/Autocomplete.js#L477)

What I find strange about this is that it's not documented anywhere that options has to have a length of 0 (eg be an empty array) and additionally in my own code when I have 0 options and set loading to true

[2021-07-21 21:01] javiertury commented on #10552
I too have lost countless hours trying to find out why some Typographic settings specified in `createTheme` were not working.

Finally I learned that `gatsby-theme-material-ui` requires the theme to be defined at `src/gatsby-theme-material-ui-top-layout/theme.js`.

[2021-07-21 22:15] oliviertassinari commented on #25067
@Floriferous We won't go beyond Material Design by denaturing it, but by implementing a second design specification. Feel free to customize the component.

[2021-07-22 03:21] david-banks-roam commented on #27132
Had the same issue, thanks @ilhamdoanggg for the workaround! Was driving me crazy

[2021-07-22 07:35] eps1lon commented on #27127
Material-UI is a React library. Why do you think the scope is broader?

How are people accessing `styleProps` right now?

[2021-07-22 07:38] vishalrajole commented on #16887
I confirm same issue with Button and styled components  in version

[code]

I am consuming styled button as below

[code]

Button wrapped as Styled component

[code]

Error
[code]

[2021-07-22 07:46] eps1lon commented on #27128
That should work too, yes 👍🏻

[2021-07-22 09:57] BrinsterAman opened #27400 "Element with higher z-index are not visible(coming in front) when used with material table components"
We are using material table components to form our custom component. I addition to material's components, we are having some divs and spans. We are providing higher z-index to some spans than `TableCell` component but yet our `span` is not coming in front of table cell component and it is getting wrapped inside that table cell.

- [ ] The issue is present in the latest release.
- [x] I have search

[2021-07-22 09:58] imsuvesh commented on #27387
@mnajdova Can you tell if we put useStyles in same file it works well when we put useStyles in a different file, no styles are getting applied? Why's that?

Also if we edit anything in useStyles.js file then it starts working but as soon as I refresh page it stops working.

see csb - https://codesandbox.io/s/material-ui-override-step-icon-color-forked-ux4ss?file=/demo.js

[2021-07-22 10:02] mnajdova commented on #27387
Is this happening on codesandbox only?

[2021-07-22 10:16] imsuvesh commented on #27387
It was not working on my laptop too.
But I found it SOF- https://stackoverflow.com/questions/56929702/material-ui-v4-makestyles-exported-from-a-single-file-doesnt-retain-the-styles
It was a silly mistake, I was importing useStyles.js before importing Mui components.
Sorry to disturb you. My apologies 😓

[2021-07-22 10:17] imsuvesh commented on #27387
It was not working on my laptop too.
But I found it SOF- https://stackoverflow.com/questions/56929702/material-ui-v4-makestyles-exported-from-a-single-file-doesnt-retain-the-styles
It was a silly mistake, I was importing useStyles.js before importing Mui components.
Sorry to disturb you. My apologies 😓

[2021-07-22 10:46] eps1lon commented on #25417
@oliviertassinari Creating elements is cheap. The problem is that you're measuring dev mode where React does a lot of element type validation. As always: measure in production.

@NMinhNguyen Could you share the benchmark so that we can take a look why it is slow in production?

[2021-07-22 11:51] Rajaa-BARHTAOUI opened #27403 "[TreeView] The node takes time to open"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- We need to display a tree that contains many nodes, but it takes time to open the node.
- We think this is related to the performance of the machine because we have done a lot of te

[2021-07-22 11:57] eps1lon commented on #27403
Thanks for the feedback.

There are two independent issues here:

1. performance in development vs production
   React has a lot of dev-only checks that make it slower in development.
   We only work on performance problems that occur in production. I suspect that in production the problem is not as severe.
2. large number of items
   This is tracked in https://github.com/mui-org/material-ui/issue

[2021-07-22 11:57] #27403 closed

[2021-07-22 12:31] Gorett commented on #27192
Why did you release breakable changes in minor version? it should be MINOR!

[2021-07-22 12:50] stefankovac10 opened #27405 "Pagination doesn't work"
I have error while changing page in material-table. Whatever i do, i get the same error.
![image](https://user-images.githubusercontent.com/57210514/126641439-77ac39ef-935e-4c1d-b41b-319a047a4882.png)

Do someone have clue what is happening, i have read somwhere that in som version onChangePage is replaced with onPageChange. Is it problem in that?

[2021-07-22 14:14] eps1lon commented on #27405
Duplicate of https://github.com/mui-org/material-ui/issues/27192

[2021-07-22 14:14] #27405 closed

[2021-07-22 14:38] rsomlette opened #27408 "[KeyboardDatepicker] value automatically set when opening and min max out of range"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When opening the datepicker, it will automatically trigger onChange **when** the KeyboardDatepicker is provided with a `minDate` & `maxDate` not including today's date.

## Expected B

[2021-07-22 15:04] nikobojs commented on #18443
I get the same warning using

[code]

Also, i can import Autocomplete from both lab and core. I don't know if this is on purpose?

[2021-07-22 15:14] Samuel-Beslogic opened #27409 "interface Components.MuiTextField is missing variants"
This is a pretty simple typings issue, I'm setting custom variants for MuiTextField (and it works). But Typescript does not agree

- [x] The issue is present in the latest release. (beta 1)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubuserconte

[2021-07-22 15:28] alexander-larsson commented on #27216
Thank god I found this. I didn't realize there was a new version of @material-ui/styles for v5.0.0. Maybe you should make this more clear in the migration guide?

[2021-07-22 17:04] cjol commented on #13875
Should this automatically add the variants for e.g. `dark` and `light` as well as just adding `main`? It seems that it currently doesn't in your sandbox:
[code]
![image](https://user-images.githubusercontent.com/1517675/126679377-46e7fa71-0bf7-4a7b-9bf1-8cd0745fbeb6.png)

So either the type is incorrect in the documentation, or there's a bug in the implementation.

[2021-07-22 17:19] LiteracyFanatic commented on #6612
This appears to be broken again in the v4.12.1 docs. For example, the now deprecated `collapsedHeight` is rendered as `oneOfType([PropTypes.number`

[2021-07-22 17:44] oliviertassinari commented on #6612
@LiteracyFanatic See #27191

[2021-07-22 17:49] BobrImperator commented on #16491
Just stumbled upon this, my solution for this was to not use react-test-renderer, but `render` from `@testing-library/react`

[code]

Shoutout to https://www.leighhalliday.com/introduction-react-testing-library where I was able to find this API for generating snapshots.

[2021-07-22 19:13] oliviertassinari commented on #27216
@mnajdova Maybe we shouldn't wait for a community member to take on this issue and implement https://github.com/mui-org/material-ui/issues/27216#issuecomment-877643063 now?

[2021-07-22 19:51] #27087 closed

[2021-07-22 22:36] ViieeS opened #27410 "Form submitting by normal Button"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Doesn't matter if you click normal (type=button) or submit button, form is submitting. It happens when you replace normal button with submit one on click.

## Expected Behavior 🤔
Norma

[2021-07-22 23:47] #27410 closed

[2021-07-22 23:47] oliviertassinari commented on #27410
Tip: don't share the same host element, use key to force a new element.

[2021-07-22 23:50] oliviertassinari commented on #13875
@cjol It doesn't. You need to use `theme.palette.augmentColor()`. It doesn't know if the new key is meant to be a color for the components or something else. light/dark are used by some of the components, so maybe we should document it. https://next.material-ui.com/customization/palette/#adding-new-colors. Do you want to open a new issue about it?

[2021-07-22 23:52] oliviertassinari commented on #13394
Looking at the results of https://github.com/mui-org/material-ui/search?q=StrictModeViolation.

<img width="743" alt="Capture d’écran 2021-07-23 à 01 51 47" src="https://user-images.githubusercontent.com/3165635/126722777-e7512adf-7e74-4de2-ab23-a5e04b088f1c.png">

It seems that we are done. The instances where it fails are related to the soon-to-be deprecated `@material-ui/styles` package. @eps

[2021-07-23 01:38] ilhamdoanggg commented on #27132
your welcome sir
I'm still learning too

[2021-07-23 07:23] Dev-Tarek commented on #17353
My solution to this problem is:

1. With CSS use a custom scrollbar for the `body` with a given `$scrollbar-width` value
2. Set `overflow: overlay;` for the `body`
3. Add `padding-right: $scrollbar-width;` to the `body`

This way you will have a fixed padding to the body so that when the scrollbar is hidden the padding won't be affected. **However**, you will have an extra padding problem with sma

[2021-07-23 07:32] eps1lon commented on #13394
Public documentation that these methods are neither StrictMode nor React 18 compatible is missing. Then we can close. For StrictMode issues in React 18 I would start a new issue.

[2021-07-23 08:44] eps1lon commented on #16494
It seems to me that the only reason we want `label > input` is to support accessible inputs via server-rendering by default. Right now you'd need to hardcode an ID to server-render inputs with an associated label.

The good news is that we can possibly make this work in React 18 with `useOpaqueIdentifier` internally. If that works we can close it since I haven't seen other arguments for `label > i

[2021-07-23 09:10] eps1lon commented on #27408
Thanks for the feedback.

Intuitively I would agree. I would've expected the picker to be rendered in an invalid state since the value is out of range. Would you agree?

[2021-07-23 09:12] finleygn opened #27412 "Extended styled-component styles get overwritten with SSR"
When using styled-components with V5 + NextJS, when extending core components the styles are overwritten by defaults.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using this theme:

[code]

With these components

[code]

I

[2021-07-23 09:13] eps1lon commented on #27408
Just realized that you're still using `@material-ui/pickers` which is no longer maintained. You want to use `@material-ui/lab` instead with which the issue no longer reproduces: https://codesandbox.io/s/basicdatepicker-material-demo-forked-oi8p0?file=/demo.tsx

[2021-07-23 09:13] #27408 closed

[2021-07-23 10:17] mnajdova commented on #27412
@finleygn I've created a clean repository - https://github.com/mnajdova/27412-nextjs-with-styled-components Could we iterate on this? I don't think code sandbox is very reliable, got failing errors as soon as I tried importing something more from core.

I've added Button components on the index page, both using styled from `styled-components` and `@material-ui/core/styles` and it looks like it wor

[2021-07-23 10:43] katyperrycbt opened #27413 "[docs] Demo ColorTool crashes"
- [x] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20ColorTool%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://next.material-ui.com/customization/color/#main-content
2. Click common
3. demo *ColorTool* crashes

[code]

## Your Environment
| Tech         | Version |

[2021-07-23 12:07] michaldudak commented on #27397
You're right, this should be documented. I'll correct it.

Are you able to reproduce it on codesandbox?

The joy of using external services... :) This has been fixed in v5 documentation already (https://next.material-ui.com/components/autocomplete/#asynchronous-requests)

[2021-07-23 12:42] mnajdova commented on #27412
The issue may be related to https://github.com/styled-components/styled-components/issues/3321 I was able to randomly reproduce the issue when refreshing the page.

[2021-07-23 12:49] mnajdova opened #27415 "[system] Allow callbacks when defining styleOverrides inside the theme"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently the `styleOverrides` defined in the theme are applied on top of the styles defined for the component, so they would always win.

This means that if developers add overrides for the `root` element those will always be applied on top

[2021-07-23 12:50] mnajdova commented on #27369
Opened https://github.com/mui-org/material-ui/issues/27415, going to close this one as we have a proposed fix for the issue.

[2021-07-23 12:50] #27369 closed

[2021-07-23 13:10] tm1000 commented on #27397
@michaldudak i haven’t tried to do a code sandbox because I’m fairly certain it’s my code that’s the issue. I’m leaving this ticket open so that the documentation get fixed about the zero length issues. :)

thanks for your time!

[2021-07-23 13:12] mnajdova commented on #27396
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-07-23 13:35] michaldudak commented on #27397
@tm1000 Do you think this would be enough? https://github.com/mui-org/material-ui/pull/27416

[2021-07-23 14:05] #27296 closed

[2021-07-23 14:11] cjol commented on #13875
Makes sense, so a more accurate type would be:
[code]
So that `palette.neutral.light` is correctly undefined (unless you choose to define it inside your `CustomColor`)

[2021-07-23 14:19] nikitabobers commented on #26699
Similar issue reproduced with CSS only:
https://codesandbox.io/s/tooltip-0r5fp?file=/index.html
Scale your browser window and you will see that text inside div is jumping

[2021-07-23 15:07] mnajdova commented on #27412
I've found out that the `babel-plugin-styled-components` allows defining top level import paths, so I tried defining the option:
[code]

in the options, but it didn't help. Will spend some more time on this next week.

[2021-07-23 15:26] datoslabs opened #27418 "AccordionSummary first and last child's corners do not display as rounded"
When `AccordionSummary` is given an opaque background color, the first child's top-left/right and last child's bottom-left/right corners appear to be squared even though the `MuiAccordion-rounded:first-child` and `MuiAccordion-rounded:last-child` styles are correctly applied.  This occurs because the `AccordionSummary`'s corners are squared, stacking on top of the parent div (ie `Accordion`); when

[2021-07-23 15:43] tancarlson commented on #27168
The title [icons] Document what and why icons are included/excluded I am working on it

[2021-07-23 15:47] rsomlette commented on #27408
I was hoping the current version would be fixed but if it's no longer maintained, my workaround will do until the next major release come out.
@eps1lon Thanks for the reply and context

[2021-07-23 16:28] finleygn commented on #27412
`styled-components` works on first load then consistently breaks on refresh, seemingly always works with build.
No problems with `@material-ui/core/styles`.

[2021-07-23 16:41] MrDogeBro opened #27419 "Multiline TextField Deprecated But Replacement Not Working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

So I am using a text field on my site that I am building and I want it to be more than one line by default. I added the `multiline` prop and entered a number of rows via the `rows` pr

[2021-07-23 16:45] tsognong commented on #18173
Thanks @Alarees this also save my days.

[2021-07-23 16:46] NMinhNguyen commented on #25417
If you modify the number of options to something ridiculously large like 1000000, when profiling you should see
![image](https://user-images.githubusercontent.com/2852660/126814587-2ef79605-5cd6-420c-a028-c8f64ef4a5d8.png). The amount of time spent in `toArray` will be proportional to the number of items. I don't think it's necessarily the case that `toArray` is slow - it's just faster to avoid do

[2021-07-23 18:55] msaini26 commented on #27413
The demo ColorTool does not seem to be crashing on my end.

[2021-07-23 19:11] Janpot commented on #26876
@eps1lon Been investigating a bit and came up with a reproduction and pinned the exact Next.js version where this breaks, [v10.2.1-canary.3](https://github.com/vercel/next.js/releases/tag/v10.2.1-canary.3) is the culprit. Also been working on [a minimal reproduction ](https://codesandbox.io/s/sleepy-sound-0dx52?file=/pages/index.js)and it seems to be related with how components are imported from `

[2021-07-23 19:17] GearoidCollins commented on #22426
We've been using Material-UI for a few years now and it has helped us scale from 0 to having hundreds of thousands of users in > 9 countries 🙌
Product: LegitFit - We're a booking, payments and scheduling platform for gyms and studios
The problem solved: Design system that ensures consistency as we scale
Company or organization: LegitFit.com
Link: https://legitfit.com/dashboard/timetable
Screenshot

[2021-07-23 21:56] Samuel-Beslogic commented on #26488
+1 I'd even ask for readonly to be a prop of InputBase (and by extension, TextField)

[2021-07-23 23:47] michal-perlakowski commented on #27419
Duplicate of #27291.

[2021-07-24 00:18] jtgi commented on #27216
Lost on an hour on this too.

Documentation improvements that would have helped:
[(Next) Styles Basic](https://next.material-ui.com/styles/basics/#installation), two points here:

1. While under the `next` subdomain, this should suggest installing `@material-ui/styles@next`, if you just install `@material-ui/styles` you'll pick up v4, which will silently break theming (empty theme obj, etc.).

2.

[2021-07-24 00:50] DoctorDerek opened #27420 "a11y: TimePicker and DateTimePicker need to include time in aria-label"
- [x] The issue is present in the latest release. `"@material-ui/lab": "^5.0.0-alpha.30",`
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

1. `<DateTimePicker>` generates label `aria-label="Choose date, selected date is Jul 23, 2021"`
2. `<TimePicker>` generates label `aria-label=

[2021-07-24 02:24] talmax1124 opened #27421 "How to add multiple title="" in react"
Currently I am using clickable tooltip. But I have two fields {product.brand} and {product.category}. I want to have both in one tooltip. This is my code:

<ClickAwayListener onClickAway={handleTooltipClose}>
            <div>
              <Tooltip
                PopperProps={{
                  disablePortal: true,
                }}
                onClose={handleTooltipClose}

[2021-07-24 02:36] pupudu opened #27422 "Style engine interoperability on the server side (SSR with Styled-Components)"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
This is not really a feature, but rather a suggestion for better documentation about the style engine interoperability. It seems to work perfectly on the client side with webpack.resolve.alias. However, on serverside setups which access packag

[2021-07-24 09:19] #19173 closed

[2021-07-24 10:09] #27421 closed

[2021-07-24 10:41] ViieeS commented on #27410
@oliviertassinari meh... React's so React 😅 Thanks for the tip.

[2021-07-24 15:19] mnajdova commented on #27216
will do it on Monday 👍

[2021-07-24 15:37] talmax1124 opened #27424 "Need Help In Multi-Title"
Currently I am using clickable tooltip. But I have two fields {product.brand} and {product.category}. I want to have both in one tooltip. This is my code:

View More Info

[2021-07-24 16:52] #27424 closed

[2021-07-24 17:23] oliviertassinari commented on #27397
We had the same discussion in #18559. I think that we move in hiding the loading message when there are options to match *react-select*.

Now, there will be a challenge going forward with #18450. Considering that we might need a different wording 'Loading more…" instead of "Loading…", we might need a new prop `loadingMore?: boolean`.

[2021-07-24 17:55] oliviertassinari commented on #26168
@eps1lon Sorry for the late reply

1. In #25846, we have left the user feedback with the "waiting for upvotes" to signal that we might implement it. Let's assume we do implement support for it and use `zero`. Does it mean that we would write:

[code]

and translate it to this CSS?

[code]

From my perspective, what we read in the code doesn't match the behavior. When I read the code, it suggests t

[2021-07-24 18:32] MrDogeBro commented on #27419
Sorry about that. I searched the issues but that one didn't come up because it's closed......so idk.....

[2021-07-24 18:34] MrDogeBro commented on #27419
Also, please update the docs to correspond with this change because when I checked before submitting this issue, the docs were incorrect and said to use the `rows` prop.

[2021-07-24 18:46] oliviertassinari commented on #27216
@jtgi Thanks for the extra feedback. It does seem that we have more improvements opportunities, 👍 for these 3 points.

[2021-07-24 19:25] tancarlson commented on #27418
Process Completed
![image](https://user-images.githubusercontent.com/87180709/126878567-3126995b-8999-454e-99f2-36bc13cdbe29.png)
![image](https://user-images.githubusercontent.com/87180709/126878588-2b207501-ad52-4e3e-88bb-a98732a1c5c1.png)
![image](https://user-images.githubusercontent.com/87180709/126879089-4b377361-88c7-4baa-93e0-ee79512f63f2.png)
I have solved the problem but does not pass th

[2021-07-24 19:36] tancarlson commented on #27418
Those are the problem encountered

[2021-07-24 20:25] oliviertassinari commented on #27199
@siriwatknp I think that we can wait for pushbacks from the community. So far, this issue seems to be about the wrong link in the documentation. If we can make it harder for developers to use class components, we might even argue that it's healthy.

[2021-07-24 20:31] TeoTN opened #27428 "Cannot use IconButton within ButtonGroup"
Using `IconButton` as a child to `ButtonGroup` emits an error in the console.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using `IconButton` as a child to `ButtonGroup` causes an error because `ButtonGroup` assigns properties

[2021-07-24 22:35] oliviertassinari commented on #26763
To extend on the different use cases we have had so far for the NoSsr component, I have seen:

1. Speed up server-side rendering (reduce CPU load on the server), e.g. DDoS, need to skip the whole phase
2. Don't render broken third-party component that uses the browser API (likely a less frequent issue nowadays), e.g. styled-components not configured in v4, react-admin
3. Speed up to interactive fo

[2021-07-25 04:18] eps1lon commented on #26763
Suspsense covers 1, 3, 4. 2 does not need an extra component. 5 is an issue with the SSR setup.

Not sure what the type of attack has to do with it. If you're DDoSed no amount of `NoSSR` will help. The attack preventation should not happen at the render layer.

[2021-07-25 05:36] WeldonTan commented on #24943
@oliviertassinari May I change the documentation based on the one you corrected?

[2021-07-25 06:29] EugeneGohh opened #27433 "Link can't be found"
https://next.material-ui.com/components/data-grid/layout/

[2021-07-25 08:36] Jack-Works commented on #21551
We've starting to migrate to `tss-react`. It has good integration with mui. After migration finish, we can move on to follow the newer alpha/beta versions.

[2021-07-25 09:59] #27199 closed

[2021-07-25 10:51] oliviertassinari commented on #21551
While we got little feedback about it over the last 12 months, developers might face this pain a lot more frequently with the migration to v5. Are there more opportunities on this issue we want to explore?

1. We have documented the migration aspect in https://next.material-ui.com/guides/migration-v4/#material-ui-styles.
2. We [talked about](https://github.com/mui-org/material-ui/issues/21551#issu

[2021-07-25 11:17] exx8 opened #27438 "Date picker should accept date as default value"
Date picker should accept date as default value

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently the default-value of date picker accepts only a string based format for dates.
JS has a native date class Date. The default value therefore of a date picker should accept the Date cla

[2021-07-25 11:17] oliviertassinari commented on #26763
2. Do you mean that the solution should be to create its own component?
5. I guess it depends on the approach. When using intl.datetimeformat, the dataset https://nodejs.org/api/intl.html#intl_internationalization_support is evolving. From what I understand, it's not guaranteed that the browser uses the same version of the dataset as the client. But I guess developers can consider these hydration

[2021-07-25 11:27] michal-perlakowski commented on #27438
You can use native `Date`, but you should pass it to the `DatePicker` component, instead of the `TextField`.

[2021-07-25 12:10] exx8 commented on #27438
Hmm should it be a convention that when a Date is passed, it will auto convert to the default format of the module to represent dates?
What are the benefits of inconsistency ?

[2021-07-25 12:16] michal-perlakowski commented on #27438
There is no inconsistency here. `TextField` always has a string value.

First of all, as I said, you should pass value to the `DatePicker` component. The `renderInput` prop is only about displaying the input, not providing (initial) state.

[2021-07-25 23:41] #27438 closed

[2021-07-25 23:58] oliviertassinari commented on #27403
@eps1lon I'm going off-topic on this issue. Should we? The faster the dev environment is, the more time developers can improve the UX and the experience for end-users. It's also giving them more confidence that the end result will be of quality.

How about we introduce a threshold for when performance in development matters? For instance, should we say that when dev is x3 slower than in production

[2021-07-26 00:54] abriginets opened #27441 "[DatePicker] `orientation="landscape"` doesn't work on DatePicker"
Hey. Prop `orientation="landscape"` does not have effect on `DatePicker` component and works only on `StaticDatePicker`. I couldn't find anything related to this in documentation so I believe this is a bug.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2021-07-26 04:00] ronjb04 commented on #19600
hi, was this resolved? im facing the same issue :(

[2021-07-26 05:57] rajaspatil opened #27442 "[Autocomplete] adding getOptionForValue property"
Suppose options = [{id:'Id1', description:'desc 1', addFld1: 'additional Field 1' addFld2:'Additional Field 2'},
                                {id:'Id2', description:'desc 2', addFld1: 'additional Field 1' addFld2:'Additional Field 2'},
                                {id:'Id3', description:'desc 3', addFld1: 'additional Field 1' addFld2:'Additional Field 2'}, ...]
Where Id is unique and output

[2021-07-26 06:21] eps1lon commented on #27403
Yes, everything else is not actionable. When a tradeoff between user and developer has to be made, then we choose the user over the developer. The developer is more likely to be in a position to upgrade their machine.

[2021-07-26 06:53] #23522 closed

[2021-07-26 07:01] #27397 closed

[2021-07-26 07:14] eps1lon commented on #23597
No longer reproduces with `yarn@1.22.5`, `npm@6.14.12`, or `npm@7.19.1` i.e.

[code]

will only install `date-fns` and not `moment`, `dayjs` etc. (`yarn why moment` and `npm ls moment` return no result)

[2021-07-26 07:14] #23597 closed

[2021-07-26 07:55] eps1lon commented on #26763
We'll want to wait for a stable release of 18 anyway. And then we can go through each use case of `NoSsr` and see if we can replace it.

Yeah, this should happen at another layer. It's not even clear this works since you would have to signal to the client side bundle that the rendered tree changes. Otherwise you're hydrating differnt trees which generally has undefined behavior. If it does work th

[2021-07-26 08:31] eps1lon commented on #21509
This is fixed when using latest React 18 alphas: https://codesandbox.io/s/material-ui-checkbox-on-react-concurrent-mode-forked-emzq8.

The issue was basically the same as https://github.com/facebook/react/issues/18591

[2021-07-26 08:31] #21509 closed

[2021-07-26 08:33] eps1lon commented on #27363
Fixed in https://github.com/mui-org/material-ui/pull/27385

[2021-07-26 08:33] #27363 closed

[2021-07-26 08:37] eps1lon commented on #14077
Closing since the [underlying React issue](https://github.com/facebook/react/issues/14536) has been closed as well.

[2021-07-26 08:37] #14077 closed

[2021-07-26 09:05] michaldudak commented on #26810
If there are cases where we require a custom component we could use ComponentType or JSXElementConstructor. Otherwise ElementType should work.

[2021-07-26 09:07] michaldudak commented on #27127
It's a prop passed into slots' components (and I don't intend to change that, it's just about naming). It's definitely not internal.

[2021-07-26 09:26] LavaGolem commented on #16833
is this fix in V4?

I tried adding key and all, bud I still get border crossing the label.

[2021-07-26 09:51] jinqiangg opened #27448 "DataGrid page prop not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

DataGrid page props sets the default page, however that option will disable page navigation in v5 beta

## Expected Behavior 🤔

By setting the default page should also allow you to na

[2021-07-26 09:57] #27282 closed

[2021-07-26 09:58] #27301 closed

[2021-07-26 10:02] Rajaa-BARHTAOUI commented on #27403
@eps1lon Thank you for your answer.  We have no lag when we switch to production mode.

Thank you ^_^

[2021-07-26 10:19] oliviertassinari commented on #27127
@michaldudak Could you provide a code demo illustration? So far it doesn't seem that we have any. Jun suggesting that the is internal would suggest that what the use case of prop the prop is not obvious.

[2021-07-26 10:27] oliviertassinari commented on #16833
@LavaGolem Try on v5.0.0-beta.1

[2021-07-26 10:27] kian00sh opened #27449 "Select expand/collapse icon does not rotate correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Expand/collapse icon moves slightly to left after opening the select input. The behavior seems to be constant through other variants of Select component ('standard', 'filled', 'outlin

[2021-07-26 11:00] samuelwondimu commented on #21795
I was looking for other options until I saw this issue on GitHub
 glad they have added it

[2021-07-26 11:46] michaldudak commented on #27127
Sure. Just updated the description.

[2021-07-26 11:53] #27328 closed

[2021-07-26 12:23] majeanson opened #27452 "demo run time error https://material-ui.com/components/data-grid/filtering/"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-07-26 12:26] siriwatknp commented on #27128
the names that we come across in the meeting.
- common classes
- shared classes
- state classes

[2021-07-26 12:36] michaldudak commented on #27128
Let's vote for the options:

🚀 conditional classes
❤ common classes
👀 shared classes
🎉 state classes
😕 pseudoclasses

[2021-07-26 13:06] LavaGolem commented on #16833
Hi so two things
1. I can't update to v5 (team policy)
2. I'm actually not conditionally rendering label, labels are fixed but for the longer labels border is overlapping the text, I can't find any issues regarding label length or something

as I said adding key didn't solve the issue, also this TextField is used inside of Field component, not sure if it is relevant

[2021-07-26 13:43] eps1lon commented on #27127
To summarize what we talked about in todays meeting:
- `styleProps` is just a convenience helper. These should all be normal props but to avoid forwarding too many (i.e. props not that would create warnings if they appear on host components) we put them in a dedicated prop.
- `ownerProps` was another proposed name though we also sympathized with not naming it at all by e.g. naming it `$`

So right

[2021-07-26 13:51] ysuzuki19 commented on #7349
Thank you @oldo !

In my case, it was solved by changing `<AppBar>` style from `static` to `fixed`.
but following components are hidden in `fixed` `<AppBar>` 😭

To solve it, we should do as follows.

[code]

Thanks😃

[2021-07-26 13:52] mnajdova commented on #26366
@passionkind have you tried defining the `importMap` in the babel plugin?
See https://emotion.sh/docs/@emotion/babel-plugin#importmap - you can define `@material-ui/core/styles` there. Let me know if this works, or please provide a repository where we can debug the issue.

[2021-07-26 14:17] MalikMursaleen opened #27454 "Datagrid nested object client side sorting."
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

My data in row had some ids as plain ids and some are in nested objects, which I'm using as plain string by get method of lodash. like name, title, price are plain ids and location.name, vehicle.serial are some of the nested objects being use

[2021-07-26 14:41] mnajdova commented on #26366
Tip: I could make the `styled` work with :

[code]

Protip, no need to eject, you can use `customize-cra` for adding the plugin.

[2021-07-26 14:44] mnajdova commented on #27380
@pantelispanayiotou it's correct, you need to use the plugin for this as far as I know. I've added instructions in #26366  of how you can configure the emotion plugin to take into account the components created with `@material-ui/core/styles`'s `styled()`. Please create a repository that shows the problem if this doesn't work.

[2021-07-26 14:52] michaldudak commented on #27127
This looks great from an application developer's perspective. I'm wondering how to deal with `shouldForwardProp` in this case, though. If props like `checked`, `disabled` are not forwarded by default, we'll essentially make `styled` unusable. If they are forwarded, applications will end up having lots of `checked` and `disabled` divs and spans. Developers would have to control prop forwarding on c

[2021-07-26 15:22] konrazem commented on #16846
What I did I reinstalled the material-ui package and for version 4.12.2 problem disappeared.

[2021-07-26 15:34] MrDogeBro commented on #27419
So using the `minRows` prop seems to be working. Just please update the docs because they currently contain invalid information which is mega confusing if your looking at the docs for help. Thanks.

[2021-07-26 15:51] oliviertassinari commented on #27403
@eps1lon I think that we can nuance it to match how the best product decisions could happen and to be compatible with [Company ultimate objective](https://www.notion.so/material-ui/The-high-order-bit-6945959c64cc4c7784cbe2770bd9772d). At the end of the day, we are used by developers, not end-users. I assume that developers pick tools they feel help them get the greatest work done. Great work for t

[2021-07-26 18:05] shereifsrf commented on #27291
the fix is not working. Im still getting the error in 4.12.2

[2021-07-26 18:36] barrymichaeldoyle opened #27590 "[DatePicker] Replace type="tel" with inputMode="numeric""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-pickers/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I add `InputProps={{ inputMode: 'numeric' }}` to a `KeyboardDatePicker` and try to access the keyboard via my iPhone XR, the default keyboard shows up.

## Expected Behav

[2021-07-26 19:51] jbty opened #27458 "Date Range Picker: add select for years"
it would be super cool if we could change the years in the Date Range Picker by clicking directly on the years, which would make a select appear with the possibility of changing only the years

![https://i.ibb.co/YXDQb1j/Capture-d-e-cran-2021-07-26-a-19-37-26.png](https://i.ibb.co/YXDQb1j/Capture-d-e-cran-2021-07-26-a-19-37-26.png)

[2021-07-26 20:41] mitwie opened #27459 "[Dialog] Can't autofill TextField inside Dialog by 1Password Manager"
When I use 1Passsword Manager extension for Google Chrome, autofill button doesn't work for `<TextField/>` if it's located inside `<Dialog/>` component. This happening with `materail-ui/core 4.12.2` which might look like the password manager issue, but with `materail-ui/core 5.0.0-beta*` is works perfectly. Probably something was fixed in recent versions of `material-ui` which would be great to ha

[2021-07-26 21:14] gabrielprestesperini opened #27460 "Rull name selected in MuiTab not working"
I´m using a custom theme and the rull selected isn´t working in tab

the object:
[code]
the tabs:
![image](https://user-images.githubusercontent.com/84986260/127059914-15a0d3a6-1637-4ac2-8b34-fc301e8d57f7.png)

[2021-07-26 22:24] mitwie commented on #27459
Please let me know if I can clarify anything. Will appreciate any help with this :). Thank you guys in advance :).

[2021-07-26 22:25] mitwie commented on #27459
By the way, do you have a target date for a first non beta release of v5?

[2021-07-26 22:31] EdmundsEcho commented on #27143
Thank you @mnajdova

We are getting close. The component has the class: `class="css-41lojr-MyThemeComponent-root"`

It seems to require styled components which isn't something my app supports.  The primary location for the formatting is the custom theme overrides prop.

Is there a prop on the custom theme like the components prop that let's me include my own class names that are then "read-in" by

[2021-07-26 23:00] liitfr opened #27461 "SpeedDial remains open once a drawer closes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

You'll find a simple codesandbox that reproduces use case.
- By clicking on a SpeedDial action, I want to open a drawer.
- On drawer opening, I simultaneously close SpeedDial.
- Once

[2021-07-27 01:28] jrhager84 commented on #27216
This is the place I was referring to. It made it seem as though if you were using MUI, you wouldn't have to install the styles module, as you'd only have to do that if you were only using the styling.

[2021-07-27 06:15] barwalker opened #27464 "styleOverrides is not working properly with MuiListItem"
Hi, I created a custom theme with a override style for MuiListItem. It's not working anymore after changed to Material-ui V5.
[code]
### Current Behavior:
When the List item clicked(selected), it doesn't has color and background color above.

### Expected Behavior:
The selected style should be applied, and it works before, on V4.

What I need to change on this case, I read the migrate guide on nex

[2021-07-27 06:53] vicary commented on #11377
The current convention triggers the lint rule `react/jsx-no-duplicate-props` and we have no way around it.

[2021-07-27 08:13] mnajdova commented on #27428
Duplicate of https://github.com/mui-org/material-ui/issues/17226 This exact same scenario is listed there. Link to a workaround https://github.com/mui-org/material-ui/issues/17226#issuecomment-672980848

[2021-07-27 08:13] #27428 closed

[2021-07-27 08:29] mnajdova commented on #27460
Please see https://next.material-ui.com/customization/how-to-customize/#pseudo-classes The `selected` classname is for adding custom pseudo class not overrides. You can use the `Mui-selected` class and add the overrides on the root.

[code]

[2021-07-27 09:09] eps1lon commented on #26168
I have no idea why we talk about a change in behavior here. This is about giving `xs` a better name. Not changing the CSS we produce.

[2021-07-27 09:19] eps1lon commented on #25417
Can we avoid doing `toArray` alltogether and just recommend using `<Autocomplete>{[ <A />, <B />]}</Autocomplete>`? We expect a flat list anyway and re-keying shouldn't be necessary. Or maybe still use `toArray` but add a warning at >100 items that you should just create the array instead?

Seems like `toArray` uses `mapChildren` internally which uses a bunch of needless `.call` and `.apply` which

[2021-07-27 09:22] NMinhNguyen commented on #25417
I think both proposals are valid with a slight preference for the first one as it avoids extra work - and it's probably simpler than trying to explain how to do it in a warning.

[2021-07-27 09:39] ypresto commented on #19113
For union length of Interpolation primitive, we should count up actual length to determine how many we should remove item from it.

[code]

As TypeScript limits fast path to 9 items at the most, we have to remove 3 items in union to reduce 200ms to 40-50ms. But it will break current typing, so I'll send issue/PR to TypeScript itself.

[2021-07-27 09:47] DanielRuf commented on #17353
I think the logic should be:

* get current scroll position
* open select
* close select
* restore initial scroll position

[2021-07-27 09:47] GhostBunny13 opened #27467 "onFilterModelChage don’t have visibleRows"
i’m use x-grid key on 53 server but 3 server can’t get visibleRows value in onFilterModelChage
![image](https://user-images.githubusercontent.com/26898398/127133719-b70e36ea-c783-4914-b47f-dd1212d7428b.png)

[2021-07-27 09:49] DanielRuf commented on #17353
I think the logic should be (if `disableScrollLock` is set to `false`, which is the default):

* get current scroll position
* open select
* close select
* restore initial scroll position

[2021-07-27 10:05] oliviertassinari commented on #26168
@eps1lon Ok, I think that we can take a step back. Do you think that we should implement #25846? I suspect that we will, eventually. If we don't, then zero, min, base, _, I think that they could all potentially work.

[2021-07-27 10:35] scottfr opened #27468 "MUI5 upgrade - How to keep MUI4 default "grey" button color"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When upgrading from Material UI 4 to 5 all buttons now default to a `primary` color.

This is documented in <https://next.material-ui.com/guides/migration-v4/#button>

## Expected Beh

[2021-07-27 10:56] avinash0208 opened #27469 "[ListItem] OnClick event is fired if listItem is Disabled"

[2021-07-27 10:57] avinash0208 commented on #27469
on passing props and ListItem is disabled, onClick event still fires. Please help me with that

[2021-07-27 10:59] avinash0208 commented on #8287
Hi team. Using the latest version of material-ui  `@material-ui/core": "^4.12.2"` Still getting this error . Can you please help me to resolve this.

[2021-07-27 11:22] #27284 closed

[2021-07-27 11:27] rainbean commented on #27460
IMHO, v5 documentation might be outdated, otherwise `selected` CSS rule could not correctly applied.

@gabrielprestesperini  you may assign the `selected` rule but to `Tabs` for now, as temporary workaround, for example:

[code]

[2021-07-27 11:51] #27469 closed

[2021-07-27 12:07] avinash0208 opened #27470 "[ListItem] OnClick event is fired if listItem is Disabled"
ListItem is disabled, onClick event still fires. Please help me with that

[2021-07-27 13:46] michaldudak commented on #26810
@mnajdova You were using `{as, styleProps}` in the first unstyled components. Do you have an opinion about using `Record<string, any>` instead, as proposed here?

[2021-07-27 13:46] angusmccloud commented on #14357
For those still trying to solve this, I wrote a utility that loops through all children of a rendered tree and regex replace class names to remove the integers on the end. I'd rather have this as part of a mock function, but I preferred having style names match prod exactly but without number.
Utility:
[code]

Then in a snapshot, import the utility and:
[code]

[2021-07-27 14:01] kojimagui opened #27471 "Error: Material-UI: No filter operators found for column 'totalPrice'."
The demo is displaying an error message when viewing it in Opera GX and Google Chrome.

Extended filter operators:
Error: Material-UI: No filter operators found for column 'totalPrice'.

https://material-ui.com/components/data-grid/filtering/#basic-filter

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this rep

[2021-07-27 14:16] oliviertassinari commented on #27128
I have voted for "state classes" because the MDN docs of a [:pseudo-class](https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes) uses

I also think that it matches with the [Bootstrap terminology](https://getbootstrap.com/docs/5.0/customize/components/), where:

- `.MuiButton-root`: is the base class
- `.MuiButton-outlined`: is a modifier class
- `.Mui-disabled`: is a state class

[2021-07-27 14:31] david-iccube opened #27472 "DatePicker missing onValidDate prop"
When using the DatePicker I'm missing a callback property that will only be called when the date is valid :

- Manually entered date is a valid date
- Date is inbounds (min,max), if defined

What i get is, onChange called with invalid dates and dates out of bounds. onAccept is called when a date is clicked in the popper calendar.

You can check console logs using this demo (demo.tsx)

https://code

[2021-07-27 15:17] mnajdova commented on #27128
If I could have I would have voted for "shared state classes" 😄 Just saying..

[2021-07-27 15:42] zakton5 commented on #11916
For anyone still having this issue with VS Code, I had to disable `typescript.tsserver.experimental.enableProjectDiagnostics`. Turns out that setting just pulls all of `node_modules` typescript files constantly including MUI's which slowed my machine to a crawl.

[2021-07-27 16:00] callmeberzerker opened #27473 "KeyboardDatePicker produces "React is not defined" error when you try to open the popup."
So since React introduced new JSX runtime [link here](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) and it seems to be causing issues with the `KeyboardDatePicker` component (at the very least, didn't check the other *Time components)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of

[2021-07-27 16:08] jakerobb commented on #24606
I'm seeing this too. The `4` in question is coming from here:

https://github.com/mui-org/material-ui/blob/latest/packages/material-ui/src/AppBar/AppBar.js#L90

[2021-07-27 17:55] oliviertassinari commented on #24606
@jakerobb Then you are looking for a different issue, see #20064. It should have been fixed in the latest version.

[2021-07-27 17:59] oliviertassinari commented on #27473
@callmeberzerker We don't support @material-ui/pickers, please upgrade to the latest version.

[2021-07-27 17:59] #27473 closed

[2021-07-27 18:03] callmeberzerker commented on #27473
Hi @oliviertassinari will try to update to it thanks.  Since my team bought the Pro licenses (for the Grid) hopefully everything is stable on that front as well even though it's beta?

[2021-07-27 18:15] oliviertassinari commented on #27473
@callmeberzerker It's definitely more than OK

[2021-07-27 18:34] EliRobinson commented on #27400
Would need some code to see your setup. z-index has child/parent/ancestor complications that are usually the result in z-index not being properly set through-out which doesn't allow things to overlap as intended.

[2021-07-27 18:45] EliRobinson opened #27474 "CircularProgress thickness property should support strings (pixels) too"
On this line: https://github.com/mui-org/material-ui/blob/d5943120c0a15d3953a81e83c5e5cc0f8667b610/packages/material-ui/src/CircularProgress/CircularProgress.js#L200

You're setting the svg attribute for `strokeWidth` to the `thickness` property. You only allow numbers because you do maths on it for the `r` svg attribute calculations as well as `circumference` calculations on line 167. However, th

[2021-07-27 19:05] SangeetAgarwal commented on #13394
@eps1lon  @oliviertassinari

This is still an issue with accordions which I'm seeing in one of my projects.

here's a code sandbox reproduction [https://codesandbox.io/s/laughing-wildflower-3fntc](https://codesandbox.io/s/laughing-wildflower-3fntc)

[2021-07-27 19:26] SangeetAgarwal commented on #13394
@eps1lon
hm, not sure why my previous comment was hidden, if you like I can delete it but following the comments above it seemed that this issue was resolved and I happened to see it occur so thought I should let you as library authors know.
Thanks

[2021-07-27 19:44] EliRobinson commented on #27474
An example of a nested avatar:
![image](https://user-images.githubusercontent.com/7842911/127217635-f16f5cdf-9d71-49be-8b9b-9ccf408b2243.png)

But if the SVG is scaled:
![image](https://user-images.githubusercontent.com/7842911/127217747-da299a1f-6ff2-4a01-8b77-bf0826aa3883.png)

[2021-07-27 20:10] oliviertassinari commented on #13394
@SangeetAgarwal You are using v4, the latest version is v5.0.0-beta.2, the issue if fixed on this version. I have marked the comment as "outdated".

[2021-07-27 20:30] liitfr opened #27475 "slash char in component's `displayName` breaks SSR style when using withStyles"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

on SSR rendering
![image](https://user-images.githubusercontent.com/24525920/127211805-4ace12d8-b992-499f-a74f-235eaf4dd922.png)

then, on Client rendering
![image](https://user-image

[2021-07-27 20:59] loiscodes opened #27476 "[pickers][v5.beta2] Datepicker InputProps disabled field does not work"
In material-ui/picker@v3, KeyboardDatePicker allowed for the text field to be disabled but the actually date picker is still functional so users can still select dates. To disable the input field using KeyboardDatePicker it was like this:
`
<KeyboardDatePicker
              maxDate={maxDate}
              minDate={minDate}
              InputProps={{
                disabled: isDateDisabled

[2021-07-27 21:20] mbrookes commented on #27468
@scottfr Would you like to add links to the respective sections of the documentation?

[2021-07-27 22:31] abriginets opened #27477 "[DesktopDatePicker] Custom input receive focus too late after picker been closed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If you use `<TextField />` component for `renderInput` prop then your input will receive focus everytime you close the picker popper. But the problem is that it gives the focus back t

[2021-07-27 23:30] serchserch commented on #27383
Thanks, please update the docs here

https://next.material-ui.com/styles/basics/

[code]

[2021-07-28 00:30] joshkarges commented on #20191
For those still on v4.x, this worked for me:

[code]

[2021-07-28 01:58] blockmood opened #27478 "why border hidden?"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![1627437038078](https://user-images.githubusercontent.com/22879524/127251482-38209b4d-633b-4b36-aa50-7424df61301b.jpg)

## Expected Behavior 🤔

![企业微信截图_d25bc935-b861-4718-a569-b4531

[2021-07-28 04:50] barwalker commented on #27464
The '&$selected' option need to change to '&.Mui-selected'.
Anyway, thanks for your hard work.

[2021-07-28 06:04] TutoDS opened #27483 "Variations on theme"
Hi guys
Is possible create a custom variations?
In older project I have this in my theme:
[code]

But now not working, I receive an error on IDE. Anyone can help me?

[2021-07-28 06:15] adiramardiani commented on #24681
@oliviertassinari On https://material.io/components/text-fields#anatomy Assistive elements section,
this is written in the material design spec
![image](https://user-images.githubusercontent.com/8703419/127272524-5c20da09-7b37-4c15-85a1-c0b03ad947dc.png)

Is it possible to give character or word counter options too? (not just maxlength counter)
especially for developing (ex: cms) in the text field

[2021-07-28 06:37] PraveenPeri opened #27484 "Collapse component loses transition when used in the data grid footer"
If the Collapse component is used to render a custom footer in the data grid, the slide-down/up transition is lost. Instead, the component just appears and disappears

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Collapse compon

[2021-07-28 09:01] PCOffline opened #27486 "[Select] Overflow Styling In Body Removed After Select Component Is Closed"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Any `overflow` style applied to the `body` element is removed after the `Select` component is closed.
`<body style="overflow-x: hidden;">...</body>` becomes `<body style="overflow:

[2021-07-28 09:09] PCOffline commented on #27486
The relevant code is located at [ModalManager:118](https://github.com/mui-org/material-ui/blob/abbc699f9e2384ac7f8cfc865a596d623de2b5fa/packages/material-ui-unstyled/src/ModalUnstyled/ModalManager.ts#118), I assume. The issue is that CSS automatically overrides any specific `overflow` definitions, such as `overflow-x` when the more generic `overflow` is set. A solution to this problem would be to

[2021-07-28 09:14] mnajdova commented on #26810
Yeah, let's go with it. Developers can anyway augment the props interface if they want to make it stricter.

[2021-07-28 09:48] jollytoad commented on #26254
Ok, finally got our app updated to MUI 5.0.0-beta.2 - would the core MUI team still be receptive to have `exports` added to the package.json files, so that the future CDN based systems (JSPM/Skypack etc) can make use of this to know what modules are officially exported from MUI packages?

[2021-07-28 09:50] aurimasniekis commented on #25422
Any progress on this?

[2021-07-28 10:15] #26957 closed

[2021-07-28 10:15] #27045 closed

[2021-07-28 10:56] Salmaan-gurmani opened #27489 "Breadcrumb bar is highlighting the first element and underlining the second element on iOS devices. (platform: Material-UI website)"
Breadcrumb bar doing this behaviour on the mobile devices (iOS)

It is also happening in the latest version of the material-ui and also on the material-ui website.

just visit https://material-ui.com/components/breadcrumbs/ with an iOS device and go to the Collapsed breadcrumbs.

You can produce this problem.

an image is attached to depict the result.

![File (1)](https://user-images.githubuserco

[2021-07-28 11:03] Brodzko opened #27490 "The 'jss-to-styled' codemod errors out on every component"
Hi!

I'm attempting to migrate to the latest beta to keep up with the changes for v5 and beyond. Currently, I'm on moving away from `makeStyles` to `styled`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I tried using the new `j

[2021-07-28 11:25] oliviertassinari commented on #27127
@eps1lon Would it be easy enough to teach about it? Developers might not be able to search for it in Google/Algolia/the codebase. Maybe this can work.

+1 for using "owner" over "host". It avoids any potential confusion with the terminology React uses: host element => `<div>` element.

I personally find "state" over "props" clearer because this prop holds the state of the owner, it feels broader t

[2021-07-28 12:15] AsemK opened #27492 "sx prop supplied as a function of theme causes a warning"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.
There is a similar issue #26631. However, the motivation is for type safety, which different from what I am describing here.
## Current Behavior 😯
`sx` prop is expected to be an object where single propertie

[2021-07-28 12:52] Kai-W opened #27493 "[docs] Version Number is NaN for the future release"
The Version Number of the future release is "vNaN pre-release" https://material-ui.com/versions/

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Version Number of Future Release is NaN

## Expected Behavior 🤔
Version Number should

[2021-07-28 12:58] Kai-W opened #27494 "[docs] links to master Documentation / release notes are not found"
https://material-ui.com/versions/ The links provided at the master version are broken

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The Links for master refer to non existing Pages
Documentation: https://master.material-ui.com/
R

[2021-07-28 13:46] robcaldecott opened #27497 "4.12.2: GridListTile and GridListTitleBar deprecation warnings incorrect"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When rendering a `GridListTile` a console warning suggests to import and use `ImageListTile` instead but this is incorrect: you actually need to import `ImageListItem`.

The same issu

[2021-07-28 13:52] Linkweb-Tech opened #27498 "[Stack][v5.beta2] Provide styleOverrides for Stack component"
Hello mui-org team,

I am currently migrating my app from v4 to v5. First all, I want to say that you guys made a really good job on improving material-ui recently and it is a pleasure to have such a wonderfull UI library. Love using it ❤️.

However, after re-checking Layout components, I figured out you implemented a new Stack component.
As I understand, this component seems useful to replace com

[2021-07-28 14:55] Brodzko commented on #27490
Looking further into this and since the `styled` function takes its types directly from `node_modules`, I'm not sure how to make it work with a custom theme TS overload reasonably simply.

Adding it as
[code]
results in an error in JSX
[code]
while making it optional forces us to use optional chaining in style objects which is ugly. Not to mention having to ensure `MyCustomTheme` is imported in th

[2021-07-28 15:30] getzelus opened #27500 "Docu of v5 Grid API - lack of justifyContent and alignItems props"
Hello,

In the documentation of the new version (v5) of Material UI, in the section of Grid API :
https://next.material-ui.com/api/grid/

I can't find the justifyContent and alignItems props like in the v4.
But these props are still useful and working.

They are still in the Grid example page in the interactive section :
https://next.material-ui.com/components/grid/

Regards,
Getzel

[2021-07-28 15:34] oliviertassinari commented on #27500
These props are documented under

<img width="862" alt="Capture d’écran 2021-07-28 à 17 33 56" src="https://user-images.githubusercontent.com/3165635/127351716-0dba60b1-dc1a-4947-a0c9-3fe0d5ebfa08.png">

Related to #18288.

[2021-07-28 15:34] #27500 closed

[2021-07-28 15:48] oliviertassinari commented on #27493
Duplicate of #27494

[2021-07-28 15:48] #27493 closed

[2021-07-28 15:50] oliviertassinari commented on #27494
I guess it's the same as https://github.com/mui-org/material-ui/issues/26455#issuecomment-864587344?

[2021-07-28 15:54] oliviertassinari commented on #27494
I realize we have no release documentation for the v4 branch. @eps1lon I assume that you pushed https://github.com/mui-org/material-ui-docs/commits/master this branch? I'm removing it. If we can use `yarn docs:deploy` it will be perfect. I have retriggered a deploy, we should be good in about 20 minutes.

[2021-07-28 15:54] #27494 closed

[2021-07-28 16:14] oliviertassinari commented on #16866
A first step has been done here: #16866 for the Checkbox, we need to handle the Radio component.

Also based on the feedback I got on my comment: https://github.com/mui-org/material-ui/issues/11108#issuecomment-383683243. I propose we implement the same for the IconButton.

[2021-07-28 16:18] mnajdova commented on #27490
@Brodzko currently the `jss-to-styled` codemod does not support scenarios where `createStyled()` is used. Could you try running it without that function?

Regarding the `styled()` usage with custom typings, you can take a look on the TS version of the example here https://next.material-ui.com/customization/theming/#custom-variables

Here it is exported in codesandbox - https://codesandbox.io/s/jsm

[2021-07-28 16:21] mnajdova commented on #27498
@Linkweb-Tech thanks for the issue. What exactly is the use-case for overriding the styles for the `Stack` component. At this moment we do not support any overrides, simply because it is a utility component with a finite set of styles that are applied. It uses the theme values for the breakpoints and spacing, so overriding those will affect the styles generated by it.

[2021-07-28 16:24] oliviertassinari commented on #11108
I would propose this diff:

[code]

However, to be aware that when the prop is set, the button is no longer accessible (not more visual feedback o hove and keyboard focus). It's also a bit inconsistent with the `<Button>` that keeps the hover style when `disableRipple` is set

[2021-07-28 16:28] mnajdova commented on #27497
Thanks the for the report. Correct, we need to fix the warnings. The following diff should do it:

[code]

[2021-07-28 16:31] baymac opened #27501 "Facing styling issue when component is loaded"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using material-ui/core-5.0.0-beta.2, some styles are behaving incorrectly.

<img width="343" alt="Screenshot 2021-07-28 at 9 54 00 PM" src="https://user-images.githubusercontent.

[2021-07-28 16:42] mnajdova commented on #27492
I remember we had a discussion about this API in https://github.com/mui-org/material-ui/pull/23053, I could find this comment - https://github.com/mui-org/material-ui/pull/23053#issuecomment-709496894

The idea we had at the start was that the values are anyway pulled from the theme, so it may not be needed as an API, but I can see now this use-case for spreading mixins. I think we can add this AP

[2021-07-28 16:43] oliviertassinari commented on #7768
Duplicate of #1578

[2021-07-28 16:43] oliviertassinari commented on #25389
Duplicate of #1578

[2021-07-28 16:44] mnajdova commented on #27422
Thanks @pupudu for sharing your solution. Let's wait to see if this will be a pain for more people, and if that is the case, we may consider adding it to the documentation.

[2021-07-28 16:45] #27422 closed

[2021-07-28 16:48] mnajdova commented on #27483
Yes, take a look on https://next.material-ui.com/customization/theme-components/#adding-new-component-variants Note that you have to use module augmentation if you are using TypeScript as described on the link.

[2021-07-28 16:48] #27483 closed

[2021-07-28 16:50] oliviertassinari commented on #27492
@mnajdova I recall we talked about it in this thread https://github.com/mui-org/material-ui/pull/23053#issuecomment-709496894

[2021-07-28 16:53] Kai-W commented on #27493
Im confused why this is a dupicate. One bugreport was about the version number NaN and the other was about the version links of the Version "master". Maybe its linked to the other bug because a redeploy fixed both.

[2021-07-28 16:53] oliviertassinari commented on #27493
@Kai-W Same root issue

[2021-07-28 16:58] Brodzko commented on #27490
Yes, this is what I have in my project. What I meant was I'm not sure how to make post-codemod `styled` work with this custom type instead of the default one. Sorry if that wasn't clear.

[2021-07-28 17:04] mnajdova commented on #27490
What do you mean by post-codemod `styled`? Can you share a codesandbox illustrating the issue?

[2021-07-28 17:11] TutoDS commented on #27483
But when I try create that components object in theme appears this:
<img width="1546" alt="image" src="https://user-images.githubusercontent.com/18479474/127366519-d8c196a6-f8e3-47b1-86f7-1f1fc59b4d4f.png">

[2021-07-28 17:12] TutoDS commented on #27483
and another thing, I can't use the `styled()\`\``

<img width="867" alt="image" src="https://user-images.githubusercontent.com/18479474/127366647-745a2f84-67d4-4ee9-9cd4-3e71a8715786.png">

[2021-07-28 21:47] chaserda commented on #24966
I cant get this to work at all

`const RecoletaBold = {
  fontFamily: "Recoleta-Bold",
  src: `url("/src/utils/Fonts/Recoleta-Bold.woff2") format("woff2")`,
};`

 ` components: {
    MuiCssBaseline: {
      styleOverrides: {
        "@font-face": [RecoletaBold],
        html: {
          fontSize: "62.5%",
        },
      },
    },
  },`

[2021-07-28 23:05] dantman opened #27504 "Include a prop definition for `to` next to `href` in ButtonBase's TypeScript types"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

ButtonBase accepts a LinkComponent which it will use in place of `<button>` if either a `href` or `to` is used.

https://github.com/mui-org/material-ui/blob/75f27074b89381d25a1fab85fc

[2021-07-29 01:22] MinaroShikuchi opened #27505 "Attempted import error: 'fade' is not exported from '@material-ui/core/styles'."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

It should compile without error

## Steps to Reproduce 🕹

Install latest version
[code]

## Your Environment 🌎

[code]

[2021-07-29 03:51] mayteio commented on #21251
I'd also really like a standalone `@material-ui/icons` package. Having to install the entire `@material-ui/core` package for a single function `createSvgIcon` seems pretty crazy to me. Whilst I understand this sits on the file system and doesn't get built into production with tree shaking, it still takes up time locally and on CI installing. And it's confusing for new developers reading our packag

[2021-07-29 04:18] mayteio commented on #21251
Further, here's an analysis of a create-react-app bundled app that imports just 3 icons from `@material-ui/icons` directly (like this: `import AccountBalanceWalletOutlinedIcon from "@material-ui/icons/AccountBalanceWalletOutlined";`)

19.5kb for three icons is pretty crazy.

![Screen Shot 2021-07-29 at 2 15 47 pm](https://user-images.githubusercontent.com/43975092/127430816-67eec4a0-eb01-49c7-adb8

[2021-07-29 05:31] eps1lon commented on #21251
The library is not intended to be used with just 3 icons. You should download the icons directly from https://material.io/icons/

[2021-07-29 06:40] david-iccube opened #27506 "[Date Picker] - Design, increase contrast for disabled dates"
Material-UI beta2

Just  a comment, the contrast between valid and disabled dates is not very high and might be difficult to notice. See difference between https://material.io/components/date-pickers#desktop-pickers and current Material-UI version

We are not using it, but the month chooser, is it a tribute to windows minefield game ? ;-)

[2021-07-29 06:54] eps1lon commented on #26254
Nothing has changed about that. Be aware that a `"exports": { "./*": "./*.js" }` does not work for us: https://github.com/mui-org/material-ui/pull/26264#issuecomment-843095408

[2021-07-29 06:57] eps1lon commented on #27478
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-07-29 07:21] Linkweb-Tech commented on #27498
@mnajdova thanks for the reply, I was missing this part of the documentation `As a CSS utility component, the Stack supports all system properties`. It just feel weird to always have to specify `width={1}` which is the most common use case in my app (I'm using Stack as a display flex div replacement) . Just wanted to set it globally by default to prevent some redundant code.

[2021-07-29 09:48] davidcraddock commented on #27505
I thought this package isn't supported any longer?

https://github.com/mui-org/material-ui-pickers/issues/2157

[2021-07-29 10:24] barwalker opened #27508 "@material-ui/styles Module not found when using DataGrip"
I try to use DataGrip with version 5, but it shows an error:
[code]
## Current Behavior 😯

[Follow the example on next.material-ui](https://codesandbox.io/s/94ivi?file=/demo.js)

## Your Environment 🌎

[code]

[2021-07-29 10:24] barwalker opened #27629 "[DataGrid] @material-ui/styles not found when opening codesandbox demo"
I try to use DataGrip with version 5, but it shows an error:
[code]
## Current Behavior 😯

[Follow the example on next.material-ui](https://codesandbox.io/s/94ivi?file=/demo.js)

## Your Environment 🌎

[code]

[2021-07-29 10:34] barwalker commented on #27508
It can run after I install @material-ui/styles package.
However, I thought that package is re-exported as @material-ui/core/styles?
Is there any plan on updating DataGrip dependency?

[2021-07-29 10:47] MinaroShikuchi commented on #27505
I used `npx @material-ui/envinfo`, I think it's the internals package not my package.json

[2021-07-29 11:11] davidcraddock commented on #27505
so @material-ui/pickers is not listed in your package.json?

[2021-07-29 11:13] MinaroShikuchi commented on #27505
{
  "name": "frontend-js",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@date-io/moment": "1.x",
    "@devexpress/dx-react-chart": "^2.7.4",
    "@devexpress/dx-react-chart-material-ui": "^2.7.4",
    "@devexpress/dx-react-core": "^2.7.4",
    "@devexpress/dx-react-grid": "^2.7.4",
    "@devexpress/dx-react-grid-material-ui": "^2.7.4",
    "@devexpress/dx-react-scheduler": "^2

[2021-07-29 11:15] davidcraddock commented on #27505
hmm I also think notistack isn't v5 compatible yet either
https://github.com/iamhosseindhv/notistack/issues/412

[2021-07-29 11:16] davidcraddock commented on #27505
it's probably from a 3rd party library that isn't v5 compatible yet then?

[2021-07-29 11:16] MinaroShikuchi commented on #27505
Yes, so I have to wait that every package that depends on material-ui v4 mirgrate to v5 ?

[2021-07-29 11:17] davidcraddock commented on #27505
yes

[2021-07-29 11:27] ErikParso opened #27509 "Container queries"
Hello, is there any possibility to apply breakpoints relative to some container ? For example if I make some complex component with sub components responsivity defined in theme or makestyles/withstyles function like this

[code]
or if I have some logic based on useMediaQuery function

[code]

is it possible to make it responsive relative to containers width my component is placed in ?

Problem is,

[2021-07-29 12:47] olee opened #27510 "[Radio] component icon issue"
The fontSize prop is not properly passed from Radio component to its `icon` component when it is customized.

The issue is that [here](https://github.com/mui-org/material-ui/blob/bb3b9adbd42d8d0aa5f50b5da60f7ee377118a48/packages/material-ui/src/Radio/Radio.js#L88) the default icon is populated with `fontSize` but if a custom icon is passed, it will overwrite this one [here](https://github.com/mui-

[2021-07-29 14:36] ErikParso commented on #19723
This should be stated in documentation in nested grid section https://material-ui.com/components/grid/

[2021-07-29 14:37] eps1lon commented on #27505
`@material-ui/pickers` was migrated to `@material-ui/lab` which is compatible with v5. `@material-ui/pickers` will not receive any updates.

[2021-07-29 14:37] #27505 closed

[2021-07-29 14:41] #27216 closed

[2021-07-29 14:41] Brodzko commented on #27490
Scratch that last point, turns out I've probably been doing module augmentation wrong the whole time. I've played around in a sandbox here: [Sandbox](https://codesandbox.io/embed/quirky-bose-kip66?fontsize=14&hidenavigation=1&theme=dark).

When I have my module declarations in a separate `.d.ts` file, they don't seem to get picked up (in `theme.ts`, `createTheme` throws an error).

But everything

[2021-07-29 14:47] mnajdova commented on #27490
You are probably didn't disable automatic export: ```export { };```. Example: https://github.com/mui-org/material-ui/blob/next/packages/material-ui-lab/src/themeAugmentation/overrides.d.ts#L48

[2021-07-29 14:56] mnajdova commented on #27510
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-07-29 15:06] joziahg commented on #25578
Will add that while using ```native={true}``` works, it does not work for places where you would want to use a multiselect. My use case is a multi select in the filter panel of the X-Grid

[2021-07-29 15:11] mnajdova commented on #27498
I see, thanks for the clarification. For the `Box` component we added the `MuiBox-root` class, I belive we can do the same here too. Would you like to create a PR for it? :)

[2021-07-29 15:46] daveteu opened #27512 "Nextjs + Mui V5 styled-component example is still showing className mismatch error"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I've followed the example for nextjs styled-components.

The [example](https://github.com/mui-org/material-ui/tree/75f27074b89381d25a1fab85fc2098af58e89cb0/examples/nextjs-with-styl

[2021-07-29 16:18] sarink commented on #26571
@oliviertassinari that example doesn't work, and also, isn't the same thing:

1. It doesn't include the component (it would have to be `styled('div')(({ theme }) =>`, right?) - this is pretty annoying, as you write your markup as a string, rather than let it be jsx markup (a `<div>`). Let's also consider the case where this top-level root component is dynamic (like the `Typography` component), it

[2021-07-29 16:44] oliviertassinari commented on #21251
I'm closing as the issue didn't get much interest since it has been open.

With v5, the pain is reduced. The overhead of one icon is now about the layer we add on top of styled-components/emotion. Mainly the system, the default theme, and the SvgIcon component.

In v5.0.0-beta.2, with a bare Next.js installation

- emotion: <img width="236" alt="Capture d’écran 2021-07-29 à 18 33 28" src="https:

[2021-07-29 16:44] #21251 closed

[2021-07-29 16:53] callmeberzerker commented on #27473
Happy to report there is no such issue with the v5 DatePicker.  🎉

[2021-07-29 17:37] oliviertassinari commented on #24966
@chaserda The answer is in this issue. What we might be able to do is:

[code]

[2021-07-29 18:57] oliviertassinari commented on #27510
@olee the tradeoff used in the Radio looks indeed better than the one used in the Checkbox. It sets a default font size, unless set by the developers.

Off-topic. The usage of cloneElement makes it a bit surprising. If we are worried about it, in the future I think that we could accept a component instead of an element.

[2021-07-29 19:07] oliviertassinari commented on #27498
I would reiterate the question that Marija asked. What problem are you facing with the default behavior of the Stack component? Why do you need to set width: 1?

[2021-07-29 19:09] #27497 closed

[2021-07-29 19:10] GaddMaster commented on #8711
@MariuszWilk Does not work

[2021-07-29 19:15] oliviertassinari commented on #27512
Agree, I don't think that we can expect developers to use the current version of the example. Personally, I wouldn't. https://github.com/mui-org/material-ui/pull/27088#issuecomment-885278495 is a working solution. As to why the current solution doesn't work? I don't know. We have the same warning with our docs.

[2021-07-29 19:17] loiscodes commented on #27476
I was able to find a work around:
[code]

[2021-07-29 20:09] jakub-bao opened #27513 "Make <Select> debounce time configurable"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Issue 💡

If you open a Select and press a letter "A" on your keyboard, the first option starting with "A" will become focused.
If you press "A" again you'll focus second option starting with "A"

Unfortunately, there is a 500ms hard-coded debounce time.

[2021-07-29 20:45] githorse commented on #16745
For others running into this issue: a simple workaround is to pass in props to the nested selector as well as the parent. In fact, you don't actually need the props; just turning the selector into a function with no arguments (`foo: () => ({ ... })`) works just as well.

[code]

[2021-07-29 21:32] R-Bower commented on #26698
I ran into a similar issue while toying with [styled-system](https://styled-system.com/getting-started/).  The solution was to use [csstype](https://www.npmjs.com/package/csstype) to create a `SystemStyleObject` that included references to each individual prop.  Then I could import that type where necessary.

Example:

[code]

[code]

Using the above:
[code]

[code]

Is something like this feasibl

[2021-07-29 21:42] Brodzko commented on #27490
Thanks for that!

Anyway, if this is a known issue I think this can be closed. Is it planned to add support for createStyles users to this codemod before v5 or should I dig in and do the changes manually? :)

[2021-07-30 00:02] JStevens127 commented on #23690
Any update here? Thanks.

[2021-07-30 00:52] lzynth0506 opened #27515 "ListItemText font customization"
Is it possible to customize the font sizes of **ListItemText** Component using classes obj?

[2021-07-30 02:48] danielchim opened #27517 "Unable to import StandardTextFieldProps when using vite as bundler"
When using vite as the bundler, StandardTextFieldProps could not be imported and it will throw an error in browsers.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Chrome will throw an issue saying
`Uncaught SyntaxError: The reque

[2021-07-30 06:37] eps1lon commented on #27127
It doesn't though. It's a mixed bag.

[2021-07-30 06:54] eps1lon commented on #27517
Thanks for the feedback.

Please open issues that are only related to bundlers, in the bundler repos first. The code is working in all other bundlers as far as I can tell.

Once there's something actionable for us to do, we can revisit the issue.

[2021-07-30 06:54] #27517 closed

[2021-07-30 07:58] eps1lon commented on #27513
Thanks for the feedback.

This makes sense to me. Though I'd like to use the opportunity and check again if the time is appropriate. .5s sounds really long. The native `<select />` feels more responsive. Regardless, we should document that behavior anyway and explain why we choose the 500ms default.

/cc @ryancogswell

[2021-07-30 08:18] eps1lon commented on #27486
Thanks for the report.

Frozen repro with v5: https://codesandbox.io/s/modal-overflowx-restore-1noky?file=/src/index.tsx:0-402

[2021-07-30 09:52] #27449 closed

[2021-07-30 11:25] mousemke opened #27523 "[Select] add props to include a sticky header and / or footer"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The top and bottom of the select should accept [probably a react node or a render function] as header and foot to allow for custom buttons, titles, etc giving a bit more flexibility to usage

## Examples 🌈

<img width="352" alt="Screenshot 20

[2021-07-30 12:13] daveteu commented on #27512
Thanks @oliviertassinari

I've tried your linked solution. I've removed the webpack config for alias, and updated package.json with
``` "@material-ui/styled-engine": "npm:@material-ui/styled-engine-sc@next" ```

It seems to have removed the className mismatch error.

However, for your information. I cannot remove the `next-transpile-modules` ( per your example ) in my projects.

Since MUI v5, I've

[2021-07-30 12:20] michaldudak commented on #27128
OK, it seems we have a winner: **state classes**.
I'll update the docs and then close the issue.

[2021-07-30 12:47] ryancogswell commented on #27513
Characterizing the 500ms as a "debounce" is not accurate. It is a reset of the character buffer. Let's say you want to go directly to "Angel". You can do this by typing "Ang" as long as you do each key press in less 500ms since the previous. If you type "A" repeatedly with less than 500ms in between then it might find "Aardvark" if that was one of your options. If you make the buffer reset time sh

[2021-07-30 12:51] ryancogswell commented on #27513
The multi-character matching was working in 4.9.7 and broken in 4.9.8. I'll take a look at what changes happened then.

[2021-07-30 12:55] oliviertassinari commented on #27512
@daveteu Do you have a reproduction?

[2021-07-30 13:06] ryancogswell commented on #27513
In #19967 the boolean return values from `moveFocus` were removed which I'm pretty sure is what broke the behavior. I think my original tests would have caught the bug, but @eps1lon simplified them significantly for easier maintenance when converting the tests to new approaches.

[2021-07-30 14:38] Linkweb-Tech commented on #27498
In all cases, I use `Stack` as a display flex div. Let's say for example:

[code]

In that case, `Stack` width prop is not set. So I end up having my `Typography` glued together.
For me, justifyContent is useless without any width.

So my suggestion is beeing able to overrides `Stack` props (or style) globally, to set its width to 1 (and also direction to row, because it is column by default).

[2021-07-30 14:41] m365i opened #27525 "country flag emoji dose dose not work on firefox in autocomplete drawer"
see country selector here in *firefox* from the example in the documentation:
https://material-ui.com/components/autocomplete/#country-select

in chrome there is no support for country flags emoji so its not relevant there.

if found out the issue is duo to letter-spacing style property in the component .MuiAutocomplete-paper and in the body.
you can solve the issue by setting the letter-spacing f

[2021-07-30 14:57] jakub-bao commented on #27513
@ryancogswell I see. Thanks for the explanation! I've misread the code. But thanks for backtracking the issue.

[2021-07-30 15:24] ryancogswell commented on #27513
Also, prior to the introduction of the bug in 4.9.8, repeatedly pressing the same character within the 500ms timer **did** cycle between the options starting with that character if there weren't any entries starting with the full sequence (e.g. "aardvark" would get precedence when typing "aa" over going to the next "a" word, but if there were no "aa" words, then that would go to the second "a" wor

[2021-07-30 17:54] mbrookes commented on #27506
Please post screenshots, thanks.

[2021-07-30 19:57] exx8 opened #27527 "Time pickers does not accept dates in the right format"
Time pickers does not accept dates in the right format

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I'm trying to set a value for material-ui. I've tried to pass a Date object, it denied it, with the following error:

 The format is "yyyy-MM-ddThh:mm

[2021-07-31 04:46] dantman opened #27530 "Cannot use MUI's styleProps pattern to pass variants to styled() in TypeScript projects"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using `styled()` to create styled components we need some way to pass things like `variant` props to the styles.

MUI's own internal code handles this by adding a `styleProps` pr

[2021-07-31 04:54] asibilia commented on #23877
I'm also running into this issue (only in Jest) when trying to test a component that imports any colors from MUIv5

[2021-07-31 07:18] david-iccube commented on #27506
Voila, with two different fonts the contrast of disabled :

![image](https://user-images.githubusercontent.com/80673151/127732142-6ebf2e73-0dd2-4d44-9bc8-2a14c866a290.png)

For the month , it's in your doc  https://next.material-ui.com/components/date-picker/#sub-components

[2021-07-31 08:24] nixtortech opened #27531 "Extend filter operators"
This demo had a runtime error!

We would appreciate it if you report this error directly to our issue tracker.

Error: Material-UI: No filter operators found for column 'totalPrice'.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[2021-07-31 09:12] SpringNyan opened #27532 "Media queries merged in wrong order when some of them have default breakpoint"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The order of merged media queries is
`@media (min-width:600px)`
`@media (min-width:0px) and (orientation: landscape)`

## Expected Behavior 🤔

The order of merged media queries should

[2021-07-31 11:39] Paul6552 opened #27533 "[Select] Outlined component's label has no background fill (looks "strikethrough")"
Normally a textfield has a border. All select fields does not have topborder.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Textfields have a border everywhere:
![image](https://user-images.githubusercontent.com/25934591/127738

[2021-07-31 21:17] #27255 closed

[2021-07-31 21:20] dethstrobe opened #27535 "Trouble unit testings the Autocomplete component in 5.0.0-beta.2"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Firing change event and a keyboard enter event do not seem to trigger the onChange handler for the Autocomplete component.

## Expected Behavior 🤔

onChange handler provided to the Au

[2021-08-01 02:53] mahyarmirrashed opened #27564 "`SxProps` Type for `sx` property."
### Actual Behaviour:
Accessing the type definition for the `sx` prop is convoluted. From my gathering, the only way is to use `import { SxProps } from '@material-ui/system/styleFunctionSx/styleFunctionSx';`.

### Expected Behaviour:
Ideally, a solution like the one @rajzik suggested (`import { SxProps } from '@material-ui/system';`). Unfortunately, at the moment, this potential solution results i

[2021-08-01 05:04] KyLoc20 commented on #27533
It is because your [InputLabel] is too "wide" that select fields does not have a top-border. check its width.
maybe you can set a width manually with the `sx` prop.
` <InputLabel htmlFor="anrede" sx={{ width: 200 }}>
        Gender
      </InputLabel>`

As for the label "gender" becomes strikethrough, it is because your [InputLabel] has a transparent background.
Try to set a backgroundColor like b

[2021-08-01 06:32] mizx commented on #22426
Several teams within Epic are using MUI. We have an internal repo that effectively wraps MUI's `createTheme` to apply our own overrides.

Product: Several within Epic (Social Overlay, EGS Friends List, Dev Portal, more)
The problem solved: Reusable component library, consistent look & feel throughout ecosystem, intuitive API, documentation, accessible, flexible/extensible for customization and one

[2021-08-01 08:39] KyLoc20 commented on #27533
this way is tricky but has flaws when dealing with two different background colors outside and inside.

I recommend you to input an [OutlinedInput] to the [Select] with the prop `input` as below:

[code]

Remember that the first `Gender` in [InputLabel] decides the display content and the second one in [OutlinedInput] decides the transparent space through top-border.

It seems to be a duplicate ho

[2021-08-02 05:14] krupnik-m commented on #4113
I have the same problem only for one first choosing

[2021-08-02 08:15] eps1lon commented on #27535
Thanks for the feedback.

In your codesandbox I don't get a "found multiple elements" but rather " TestingLibraryElementError: Unable to find a label with the text of: pancakes".

Though I don't understand why you would expect `getByLabelText("pancakes", { selector: "input" })` to work.

`"pancakes"` is the value you entered via `onChange` not the label of the autocomplete.

@oliviertassinari coul

[2021-08-02 08:16] eps1lon commented on #27400
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-02 08:22] eps1lon commented on #27377
Thanks for the feedback.

We've abandoned `makeStyles` due to its problems with styles based on props.

In v5 we'll recommend `styled` instead where you would write

[code]

-- https://codesandbox.io/s/amazing-newton-ic8ky?file=/src/Demo.tsx

@JoeDravarol  Does the above code work as expected from you?

[2021-08-02 08:27] rajzik commented on #27564
You can use:
[code]

[2021-08-02 08:44] eps1lon commented on #27372
Thanks for the feedback.

We can fix this without any `calc`:

[code]
-- https://codesandbox.io/s/filesystemnavigator-material-demo-forked-p5g28

The problem with `width: "calc(100% - 15px - 4px)"` is that this needs to be changed if people change the padding in their customization whereas `min-width: 0` (learned from https://css-tricks.com/flexbox-truncated-text/) seems like it works across all s

[2021-08-02 08:46] eps1lon commented on #27330
Thanks for the feedback.

Could you explain why that would be better without using "intuition" as an argument (since intuition is subjective).

The question is what is intended by `<TextField label={null} />` or `<TextField label="" />` and how it's different to `<TextField label={undefined} />`.

[2021-08-02 09:02] eps1lon commented on #27441
Thanks for the feedback.

There's just no landscape specific layout for `DesktopDatePicker` as far as I know.

We need to update the API docs for the desktop variants.

[2021-08-02 09:02] eps1lon commented on #27442
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-02 09:03] robcaldecott opened #27571 "[4.12.3] Badge anchorOriginTopRightRectangular style does not work"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

**@material-ui/core@4.12.3**

When using the `Badge` `anchorOriginTopRightRectangle` style override the following console warning is generated:

[code]

However, updating the style to

[2021-08-02 09:08] eps1lon commented on #27461
Thanks for the feedback.

This is intended behavior. When closing the drawer, focus is restored to the previously focused element which was the `SpeedDialAction`.

You probably want to prevent click-focus here:

[code]

[2021-08-02 09:08] #27461 closed

[2021-08-02 09:09] eps1lon commented on #27470
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-02 09:12] eps1lon commented on #27472
Thanks for the feedback.

Could you elaborate what kind of UI/UX you would like and why you need an `onValid` callback for that?

[2021-08-02 09:20] eps1lon commented on #27489
Thanks for the report.

Can you reproduce the problem on https://next.material-ui.com/components/breadcrumbs/#collapsed-breadcrumbs as well?

[2021-08-02 09:22] eps1lon commented on #27501
Thenkas for the feedback.

In order to debug this issue we need a repro that's just using `@material-ui` packages in `react`. We can't debug issues in component libraries built on top of Material-UI.

[2021-08-02 09:23] eps1lon commented on #27504
That's not a sufficient reason for us to expose it. We're just assuming a specific intent of that prop. But we're not actually implementing the prop. The `component` needs to implement `to` instead.

[2021-08-02 09:23] #27504 closed

[2021-08-02 09:25] eps1lon commented on #27509
Thanks for the feedback.

Right now you'd have to implement this behavior yourself with a combination of JS and CSS.

In the future you may be able to with [Container Queries](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Container_Queries). Once these are stable we can revisit this issue.

[2021-08-02 09:25] #27509 closed

[2021-08-02 09:26] david-iccube commented on #27472
One scenario. I have a page with a date picker and a table that shows some results based on 'date picker' value. Each time the users selects a new valid date the table will show new results (calculations done in a server).

From a 'date picker component' user point of view I'm only interested on new valid dates to trigger a request to the server. I don't care if the user entered an invalid date or

[2021-08-02 09:27] #27515 closed

[2021-08-02 09:28] eps1lon commented on #27523
Thanks for the feedback.

Closing in favor of https://github.com/mui-org/material-ui/issues/26356

[2021-08-02 09:32] eps1lon commented on #27525
Thanks for the feedback.

I can't find any difference between Firefox and Chrome in https://material-ui.com/components/autocomplete/#country-select:

![Screenshot from 2021-08-02 11-31-24](https://user-images.githubusercontent.com/12292047/127839063-b5e7ab96-86b2-4d20-99ee-442027bf74be.png)

Could you be more specific what the issue is in firefox? In the future please use the issue template since

[2021-08-02 09:34] eps1lon commented on #27527
Thanks for the feedback.

It looks like you're still using `@material-ui/pickers`. This package is no longer maintained.

Please provide a CodeSandbox (https://codesandbox.io/s/6ddgu?file=/demo.tsx), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem using `@material-ui/lab`

Here are some tips for providing a minimal example: https://stackoverflow.com/

[2021-08-02 09:39] eps1lon commented on #27530
Thanks for the feedback.

[code]

is already not passing type-checking since a `div` does not implement `styleProps`. You need to tell `styled` that you implement that prop instead.

[code]

Might be interesting to explore if we can automatically augment the types with all the literals returned from `shouldForwardProp` (and its default implementation).

Though I fear that TypeScript will default t

[2021-08-02 09:42] eps1lon commented on #27564
Thanks for the feedback.

It's not clear from the current description what the problem is. Please don't just discard the issue template you're prompted with but fill it out. Specifically, actual behavior and expected behavior.

[2021-08-02 09:42] dantman commented on #27504
What is the point of assuming specific intent for `to` if it's not possible to pass a LinkComponent that uses `to` without a TypeError?

It's not possible to override ButtonBase's props in the current type definition. Can't we at least make that possible so the real behaviour of LinkComponent, overrides, and `to` can at least be defined by the user.

[2021-08-02 09:48] eps1lon commented on #27533
Thanks for the feedback.

The issue in the codesandbox is slightly different: the input is not rendered shrunken so the label is strike-through.

This is probably a documentation issue. Especially because we don't document when to use `<Select native />` instead of `<NativeSelect />`

[2021-08-02 10:49] synedra-mpe opened #27572 "[AutoComplete] options not filtered as expected with diableClearable"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Options are not filtered, if currently selected item is entered again, if `diableClearable=true`.

## Expected Behavior 🤔

Opttions should be filtered

## Steps to Reproduce 🕹

Steps:

[2021-08-02 10:55] shersh1k commented on #12011
thnx, I also came to this decision, but a bug with focus appeared (does not disappear focus on element)

[2021-08-02 11:47] LorenzHenk commented on #27372
Thanks, yeah that's a better solution!

The `minWidth` has to be applied to the label element.
Your codesandbox is invalid (doesn't fix the problem), this one is valid: https://codesandbox.io/s/filesystemnavigator-material-demo-forked-de2qd?file=/demo.js

I'll open a PR for this :slightly_smiling_face:

[2021-08-02 11:57] eps1lon commented on #27571
Thanks for the report.

We accidentally forgot to warn of the deprecated `overlap` value as well. You need to use `overlap="rectangular"` as well. You either have to accept both deprecation warnings or fix both.

[2021-08-02 12:08] kingeke opened #27574 "Deprecation warning"
1. Warning: Failed prop type: The prop `buttonRef` of `ForwardRef(ButtonBase)` is deprecated. Use `ref` instead.
2.  The prop `onExited` of `ForwardRef(Popover)` is deprecated. Use the `TransitionProps` prop instead.
3.  Failed prop type: The prop `onChangePage` of `ForwardRef(TablePagination)` is deprecated. Use the `onPageChange` prop instead.

Please help resolve, thanks.

[2021-08-02 12:18] eps1lon commented on #27504
That should work already. If not please include a complete repro.

[2021-08-02 14:04] dethstrobe commented on #27535
@eps1lon Sorry about that. I just updated the codesandbox to target the label by food.

Thanks for looking in to this for me.

[2021-08-02 14:24] kkataev opened #27577 "What is the differences in usecases of Dialogs and Modal Side sheets?"
I really like to work with Material UI. One thing is bothing me. I've explored [Modal Sheets usage](https://material.io/components/sheets-side#modal-side-sheet) but I didn't find information, what is the use case of using Side Sheet instead of the [Dialog](https://material.io/components/dialogs). Is there any? Could you please explain that?

[2021-08-02 14:45] mnajdova commented on #27490
@Brodzko I will look into it this week.

[2021-08-02 15:33] JacobMGEvans commented on #21015
I am on v5 and still needed to tell a `Typography` explicitly to be a span, otherwise I got this "avoid validateDOMNesting warning" for div nested in p.
[code]

[2021-08-02 16:28] KyLoc20 commented on #27533
why is it not a issue of incorrect component use? the document is just clear here:
[https://next.material-ui.com/components/selects/#multiple-select](url)

[2021-08-02 17:47] mahyarmirrashed commented on #27564
Unfortunately, this solution does not work. I get the following error even after adding `@material-ui/system` to my project's dependencies: `Module '"@material-ui/system"' has no exported member 'SxProps'.ts(2305)`.

[2021-08-02 17:56] mahyarmirrashed commented on #27564
Okay sounds good. Sorry about that. Updated.

[2021-08-02 18:23] jarirajari opened #27579 "[TransferList] Improve or remove TransferList component"
Not sure what is the origin of the TransferList component, but IMHO the design of it is a bit off from the Material Design or the rest of the MUI components. To my eyes the current design reminds me of the 90s. Also, it has some areas where the UX could be improved. So to maintain the high quality of the components, I suggest either to re-design the component or remove it from the list of the read

[2021-08-02 19:54] mnajdova commented on #27564
@mahyarmirrashed please share a codesandbox illustrating the issue. The import proposed in https://github.com/mui-org/material-ui/issues/27564#issuecomment-890833860  should work.

[2021-08-02 20:31] R-Bower commented on #16995
It seems that the `borderColor` prop doesn't apply the color if it's listed before the border specifier.  This is particularly problematic in codebases that force alphabetical sorting for JSX properties.

[code]

[2021-08-02 20:32] rajzik commented on #27564
We are using airbnb and other strict rules according to type safety, and we are using `import { SxProps } from '@material-ui/system';` with no problem.
This [line](https://github.com/mui-org/material-ui/blob/1ccc4283eefdbdd2377a15fd17058d5a50b2600b/packages/material-ui-system/src/index.d.ts#L119) should be the export. Did you try another version of typescript?

[2021-08-02 21:40] rajzik opened #27581 "Custom variants fail in CI env"
Following the docs on how to create custom variants in this case for [button](https://next.material-ui.com/customization/theme-components/#main-content). Everything is OK until we run CI. Local machine works with any issues.
Tested on windows, mac os, WSL2. But on CI env following errors occured:

[code]

I have tried emulating the issue on local env without any luck.

I know this is way too abstr

[2021-08-02 22:59] dantman commented on #27504
https://codesandbox.io/s/linkcomponent-to-demo-h1u9m?file=/demo.tsx

Basically, what's the point of having a `LinkComponent` prop that supports `to` if actually using it just gives you a ts error. I know `component` works, but then what's the point of the `LinkComponent` prop. Being able to at least have something like a ButtonBasePropsOverrides (or was it "Extends" that other components were usin

[2021-08-02 23:33] KyLoc20 commented on #27579
Looking forward to draggable items

[2021-08-03 00:38] KyLoc20 commented on #27577
IMO, they are both controlled components which are decided whether to display or render by other components, they are different from _the distance to their controllers_ in the component tree.

[Dialog] is based on [Portal] which allows mounting one component to a specified container instead of its parent component. So if your controller components like [Button] exist in many positions or are just

[2021-08-03 01:29] mahyarmirrashed commented on #27564
Issue solved. This last comment about the TypeScript version is key. `yarn create react-app` with `--typescript` flag ships with TypeScript version `^4.0.3`. Even adding `@material-ui/system` with `yarn add @material-ui/system` to the dependency list would not work with that version of TypeScript.

### Solution:
`yarn remove typescript` and `yarn add typescript` ensuring that the TypeScript versio

[2021-08-03 01:29] #27564 closed

[2021-08-03 04:12] drmzio commented on #22426
Not mine but I'm a customer

Product: **Roobet**
Link: **[roobet.com](https://roobet.com/)** (Region restricted, use VPN)
Screenshot:
![roobet-2021-08-02-21_08_24](https://user-images.githubusercontent.com/6914518/127956545-ada78496-a087-401d-b946-5faa3cdfa9cc.jpg)

[2021-08-03 06:26] rajzik commented on #27581
I have found out that following error was the issue
[code]

After changing declaration, it started working.

[code]

So the question now is why does it work on local env?

[2021-08-03 06:28] #27581 closed

[2021-08-03 06:49] eps1lon commented on #27504
`ButtonBase` has not `variant` prop as well.

[code]

is probably what you wanted and passes type-checking.

[2021-08-03 07:03] eps1lon commented on #27535
The textbox has to be focused in order for "Enter" to commit the value.

[2021-08-03 07:03] #27535 closed

[2021-08-03 07:08] mnajdova commented on #26698
@R-Bower if you define the types for the boxStyle it works anyway. See https://codesandbox.io/s/goofy-wright-2qkqv?file=/src/App.tsx

[2021-08-03 07:10] dantman commented on #27504
I'm only using ButtonBase simply because it's the common component that other components are based on and the component where `LinkComponent` is defined and the `to` behaviour is handled. My example still fails if I use Button instead of ButtonBase.

And as I said I know that you can use `component` instead. However if the solution is always to use `component` then what is the point in having Link

[2021-08-03 07:11] eps1lon commented on #27533
This issue here is not about a multi-select.

[2021-08-03 07:39] mnajdova commented on #27532
You can define the `"@media (orientation: landscape)"` inside the `"@media (min-width:0px)"`:

[code]

See https://codesandbox.io/s/recursing-water-quxgj?file=/src/App.tsx

If we don't have any sorting with the media queries, it will break many scenarios where styles are merged, and the media queries for smaller screens end up after the ones for larger screens.

[2021-08-03 07:43] wolfgang2612 opened #27582 "Using MenuItem inside Menu with a loop variable in event handler callback functions results in the MenuItem always using the last iteration value of the variable, instead of incremental values."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

MenuItem event handler callback functions use incorrect variable values inside Menu.
For example, if you pass a loop variable (using map, filter, for, etc) as a prop or just as the text to the MenuItem,
it