[2020-02-05 13:36] TommyJackson85 commented on #19571
So maybe use this issue as a discussion platform first instead to generate ideas. Then create separate issues for each task.

While this is not a duplicate of #19546 I think it would be best to do one at a time. I could at-least use this repository for reference.

[2020-02-05 13:57] ErikParso opened #19573 "Dynamic htmlFontSize"
Hello,

I have a problem with customizing typography. If I understand correctly, components are usnig rem units, which scale with font-size set for html. I can set htmlFontSize to compensate font size set in html tag. In my case, font size in html is set using css dynamicaly. Depending on imported css font sizes for html are diferent. Is there an easy way to have font size of material componetns s

[2020-02-05 14:39] dmitriid opened #19574 "Grouped autocomplete color contrast"
Filed as a bug, because it's more of a usability bug

- [ x ] The issue is present in the latest release.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Regular | Dark mode
---|---
<img width="319" alt="Screenshot 2020-02-05 at 11 42 47" src="https://user-images.githubuserconte

[2020-02-05 14:53] UniverseHan commented on #19574
What should we do?

[2020-02-05 15:03] dmitriid commented on #19574
Possible solutions:

- Start with a bold font. See if that helps. Possibly, bold font and capitalize (see "4 items in your cart" in the [Transitions demo](https://material.io/components/lists/#behavior))

- You could offset the items in the same way browsers do it (note: default browser representation on the Mac has very poor color contrast for group headers):

<img width="133" alt="Screenshot 202

[2020-02-05 15:04] ErikParso commented on #19573
Ok i got it

[code]

Hope its a good solution.

[2020-02-05 15:04] #19573 closed

[2020-02-05 15:13] eps1lon commented on #19572
Thanks for opening this issue and providing some context. Could you post the code which used the `ThemeStyle` previously?

[2020-02-05 15:47] aleccaputo commented on #19572
`import React, {Fragment, ReactNodeArray} from 'react';
import {
    Grid,
    ListItem,
    ListItemSecondaryAction,
    ListItemText,
    Typography,
    Theme,
    ListItemProps,
    GridJustification
} from '@material-ui/core';
import {makeStyles} from '@material-ui/styles';
import {ThemeStyle} from '@material-ui/core/styles/createTypography';

const useStyles = makeStyles((theme: Theme) => ({

[2020-02-05 15:58] NMinhNguyen commented on #17789
@jpodpro I exported the source code as a zip, ran it locally and I cannot reproduce this error.

[2020-02-05 17:24] oliviertassinari commented on #17789
Should we close the issue a coming from an external dependency? (related to wrong polyfilling)

[2020-02-05 17:26] oliviertassinari commented on #19574
Do we have examples of how Google solve this problem with its products? It could be an interesting source to benchmark with.

[2020-02-05 17:32] NMinhNguyen commented on #17789
I’m happy to spend some time investigating this if a repo can be provided (preferably with a lockfile to ensure an exact repro), but otherwise can probably close.

[2020-02-05 17:35] oliviertassinari commented on #17789
Awesome, let's wait till next Monday.

[2020-02-05 17:52] shivam-kantival-mt commented on #10051
@oliviertassinari How about thinking of a search button which horizontally expands an input field when clicked. Sort of CollapsibleSearch. Might be a good use case.

[2020-02-05 18:18] TommyJackson85 commented on #19574
@oliviertassinari
<img width="362" alt="Screenshot 2020-02-05 at 18 15 40" src="https://user-images.githubusercontent.com/22279028/73870381-e928df00-4843-11ea-928e-7cfff809b3c2.png">
<img width="643" alt="Screenshot 2020-02-05 at 18 16 11" src="https://user-images.githubusercontent.com/22279028/73870390-ea5a0c00-4843-11ea-9d39-8f985a958970.png">

[2020-02-05 18:58] TommyJackson85 commented on #19568
Would be good to see a code sandbox to see what you mean.
I had a look at a code sandbox for the switch component, in which changes values to the state:
https://codesandbox.io/s/material-demo-4sj47
The changes to state happen immediately as I checked the console.

[2020-02-05 19:12] oliviertassinari commented on #19574
Sorry, I should have been more precise. I meant how the select + categories/groups problem is solved.

[2020-02-05 19:41] micahbales commented on #10898
Also experiencing this issue in v4/react 16:

[code]

[2020-02-05 19:49] gforrest-bw commented on #19454
Isn't it the parent's job to know the order of siblings? A node should be able to say "go to the next tree item" without knowing which tree item that is, and let the parent determine where to move focus.

I admit I'm not very familiar with the existing implementation details.

[2020-02-05 19:56] joshwooding commented on #19454
That's pretty much how to current implementation works. The problem is that the parent only knows the order of the children by looking at the dom structure, (which might be nested) or the component order. I haven't figured out a great way to not depend on React.Children when doing this.

[2020-02-05 20:25] ricglz0201 opened #19575 "Why flow is not supported in the project?"
I am a user of both flow and material-ui, loving both of them, but my current problem is that I can't use both at the full potential, because currently this project is not implemented.

I know that due to those things we have [flow-typed](https://github.com/flow-typed/flow-typed), nevertheless currently the version of flow-typed is very outdated and does not fully support the current mui component

[2020-02-05 20:33] gforrest-bw commented on #19454
I see. That is a tough one.

Examining the nested child structure sorta seems like the most stable approach to me. Recomputing the child order would only have to happen when a child registers/unregisters, not every render.

In fact, now that I'm thinking about it, I've actually done this before. The project was closed-source, so I'll just post the relevant stuff in a gist...

https://gist.github.c

[2020-02-05 20:38] jpodpro commented on #17789
@NMinhNguyen i have `ie11` in my browserslist config. i'm not sure if it's an ie11 version-specific thing but both me and my coworker were having this same problem as soon as core object is imported.

i'm not sure if mui is meant to work with core-js but it doesn't for me and others. and obviously the babel core polyfill works differently than the core-js polyfill. some of my research seemed to in

[2020-02-05 20:41] NMinhNguyen commented on #17789
@jpodpro FWIW when I used the latest CRA (3.3.1), I also had issues, but downgrading to 3.2.0 per https://github.com/facebook/create-react-app/issues/8197#issuecomment-566972438 made the CodeSandbox project work (even with `core-js/es/object`, which is what Babel actually uses).

[2020-02-05 21:25] dmitriid commented on #19574
I would advise against looking at what Google does.

- it's a huge organization with very different approaches and levels of implementation. See this mess for an example: https://grumpy.website/post/0TBOWnfjB

- even the official Material website is known to break its own rules

First and foremost I would look at accessibility guidelines, and go by those. Material's own guidelines are quite good:

[2020-02-05 21:50] oliviertassinari commented on #19575
The main reason is the community. Assuming we can trust the traffic on the documentation, they are at least two orders of magnitude in the popularity of TypeScript vs Flow: https://www.similarweb.com/en/website/flow.org/?competitors=typescriptlang.org. You will find the same two orders of magnitude looking at the downloads on npm: https://npm-stat.com/charts.html?package=typescript&package=flow-bi

[2020-02-05 21:50] #19575 closed

[2020-02-05 22:38] afuller611-animas opened #19576 "[Autocomplete] Add Helper Text Prop to Autocomplete"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The Autocomplete component solves a lot of problems with searchable multi-selects, but there is no way to add helper text before the listed items. Autocomplete should have a prop to add a component before the options are listed.

## Examples

[2020-02-05 23:05] ifndefdeadmau5 commented on #19557
@TommyJackson85 Okay, I will send it during the weekends or sooner than that if I get time for it!

[2020-02-05 23:07] KitsonBroadhurst commented on #16341
For anyone else with this issue, I'd just done something dumb and assigned a primary text color like this:
`text: { primary: { 500: '#467fcf' }, ... }`
rather than this:
`text: { primary: '#467fcf', ... }`

[2020-02-05 23:19] SleighJ commented on #8489
I'm having this issue - doesn't break the code, but the component doesn't seem very psyched to see a custom value

[2020-02-06 03:05] negarineh opened #19577 "[Select] Why 'zIndex' is not making effect on 'Select'?"
Hi,

I'm using `Select`  from Material-UI. I have a `bottom bar` on my page which I don't want to cover by any thing.
I want the `bottom bar` shows on top of every thing.
I set the `z-index: 1500 !important`  highest on page and `position: fixed` for `bottom bar`.
For `Select`:
[code]
Even I've tried several other ways and other solutions by setting different `zIndex` for the parent element of `Se

[2020-02-06 04:28] hefedev commented on #18514
@oliviertassinari I'd like to jump on this if no one is currently active.

[2020-02-06 04:36] hefedev commented on #17244
@oliviertassinari I'd like to finalize this. Although clearly the hard lifting is already done. :)

[2020-02-06 04:58] eps1lon commented on #19572
We can definitely export those types.

Usually I try not to export too much because most of the time you can pick the appropriate types of deep objects on your own e.g. `type SomeDeepType = ThemeOptions['props']['Typography']`. The issue here is that the type is somewhat lost since it's used as a key.

Would be really helpful if someone could work on a PR.

[2020-02-06 05:44] kirillgalushko commented on #10110
@oliviertassinari I have the [Input](https://material-ui.com/api/input/) component with custom styles.
How can I reuse it in the `TextField`? I don't want to use global styles for that.
[Probably it would help me:](https://github.com/mui-org/material-ui/blob/3764e639bf4eb90553f4212fb7dc8d92e265eb61/packages/material-ui/src/TextField/TextField.js#L129)
[code]

[2020-02-06 07:12] jin-stanley commented on #17105
@mnemanja @oliviertassinari  Hi, could I ask a question please?
If I want to make it works, should I write it like this: import Box from '@material-ui/core/Box'?

I did it but it still not works..

[2020-02-06 08:19] JamieS1211 opened #19579 "Typescript typings breaking when omitting props for TextField"
I am making a component that forwards prop types to material UI components. When doing this with TextField I get complaints about "variant" type being incompatable.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Error is given in

[2020-02-06 09:36] kodermax opened #19580 "Custom props doesn't work for styled"
I can't use my props due to the explicit type of the object.
https://github.com/mui-org/material-ui/blob/4a96d14dfbb0054775e914d5151ae28c0fbcc262/packages/material-ui-styles/src/styled/styled.d.ts#L15

[2020-02-06 09:54] #19577 closed

[2020-02-06 09:55] oliviertassinari commented on #19577
Tip: it's not possible with a native select, use the non native version.

[2020-02-06 10:00] oliviertassinari commented on #17244
Hum, I'm not sure what I have proposed is the best solution. Did you investigate it?

[2020-02-06 10:04] oliviertassinari commented on #17105
@jin-stanley I don't notice anything wrong. If you happen to have a live reproduction and with the latest version, let us know. We can't help without.

[2020-02-06 10:31] oliviertassinari commented on #10110
@kirillgalushko Interesting, I think that if you go down using a custom Input component (not a custom TextField) you might want to compose your own TextField component. Where does the need for the component come from?

[2020-02-06 10:37] LorenzHenk opened #19583 "Update CONTRIBUTING docs example link"
Actually not a support request, but a note to help people in the future.

The link you mention [here](https://github.com/mui-org/material-ui/blob/master/CONTRIBUTING.md#4-you-are-done-) resolves to an old PR. Since that PR was merged, the docs system has changed a bit. Files, that were changed in the PR, do not exist any more.

Please update this link to a newer PR, so new contributors aren't conf

[2020-02-06 10:44] eps1lon commented on #19579
Thanks for opening this issue and filling out the template.

This is in essence a duplicate of #15697. More explanation and possible workaround can be found in https://github.com/mui-org/material-ui/issues/15697#issuecomment-493419773.

[2020-02-06 10:44] #19579 closed

[2020-02-06 10:46] hefedev commented on #17244
Hm I thought it said it's a document issues, I missed the need for investigation. And now have to pass. I am not familiar with code base.

[2020-02-06 10:49] NZainchkovskiy opened #19584 "Text not aligned vertically at button with icon"
When button has an icon, text is not aligned vertically.
You can see it at [example page](https://material-ui.com/components/buttons/#buttons-with-icons-and-label).
![image](https://user-images.githubusercontent.com/19357901/73930230-40cc5680-48e7-11ea-9782-d037e7e22443.png)
I made an screenshot and check at graphics designer - button "delete" has 12px from top to text and 14px from text to bottom

[2020-02-06 11:00] Anwardo opened #19585 "[Select] Pass rendered content of MenuItem to renderValue function"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
In the current situation it's possible to customize the rendered content of a Select component using the renderValue prop. This works really well I just have one gripe. I would like the rendered content of the selected MenuItem to be passed as

[2020-02-06 11:01] AbreezaSaleem opened #19586 "Expansion Panels - Stop expansion if switch toggled in the Summary Panel"
I have added a toggle switch in the `ExpansionPanelSummary`. However, whenever I toggle it the whole expansion panel expands/collapses. I tried using `event.stopPropagation()` but its not working.

Here is the codesandbox for this [(https://codesandbox.io/s/material-demo-ugpdb)]

Can someone please help me out here?

[2020-02-06 11:02] #19586 closed

[2020-02-06 11:02] oliviertassinari commented on #19586
Tip, check the demo we have about it.

[2020-02-06 11:03] AbreezaSaleem commented on #19586
Are you referring to this demo? https://github.com/mui-org/material-ui/issues/19586

[2020-02-06 11:03] oliviertassinari commented on #19584
We rely on flexbox vertical alignment. I doubt we can do much about it.

[2020-02-06 11:06] AbreezaSaleem commented on #19586
In the codesandbox i've provided is forked from the same demo. I am just using a switch button instead of an icon in the summary panel.

[2020-02-06 11:07] oliviertassinari commented on #19586
In your case, it seems different. Don't use the icon prop and you should be fine.

[2020-02-06 11:08] AbreezaSaleem commented on #19586
Can you please elaborate on this? I have just replaced the icon with the switch button.

[2020-02-06 11:11] oliviertassinari commented on #19583
Right, thanks for noticing. Happy to use your Pull Request :)

[2020-02-06 11:12] codeskills-nl opened #19587 "Hidden component: React has detected a change in the order of Hooks called by WithWidth(HiddenJs)"
React has detected a change in the order of Hooks called by WithWidth(HiddenJs). This will lead to bugs and errors if not fixed. For more information, read the Rules of Hooks: https://fb.me/rules-of-hooks

[code]

    in WithWidth(HiddenJs) (created by Hidden)
    in Hidden (created by Tags)
    in Tags (created by Candidates)
    in tr (created by ForwardRef(TableRow))
    in ForwardRef(TableRow)

[2020-02-06 11:25] oliviertassinari commented on #19587
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-06 11:33] oliviertassinari commented on #18514
@hefedev Great :) we will also need a test case.

[2020-02-06 11:36] oliviertassinari commented on #8489
@SleighJ Do you have a reproduction?

[2020-02-06 11:39] oliviertassinari commented on #16341
Thanks for the feedback. It sounds like we should be able to improve the error message :).

[2020-02-06 11:57] oliviertassinari commented on #19574
@dmitriid we won't be able to advance the resolution of this concern without benchmarking how others are solving this issue. I have noticed that select2 uses an indent. I would highly recommend to look at what Google is doing. I'm not that much interested in the consistency of their product nor how well they follow the specification. It's not a hard science. It's subject to interpretation.
I think

[2020-02-06 11:59] codeskills-nl commented on #19587
I examined the source code and in the WithWidth function a hook called within a loop. I think in a way that will cause my problem (I can't reproduce it, it sometimes appear).
Why do you suppress he hook warning (at line 56 of withWidth.js)?
See: https://reactjs.org/docs/hooks-rules.html

[2020-02-06 12:12] codeskills-nl commented on #19587
This happens for example as the theme is changed.

[2020-02-06 12:18] oliviertassinari commented on #19576
You can use the `PopperComponent` or the `ListboxComponent` prop to solve this problem. Let us know if it's enough.

[2020-02-06 12:18] #19576 closed

[2020-02-06 13:01] aleccaputo commented on #19572
@eps1lon i'll give it a shot. Should i just focus on Typography for this pull?

[2020-02-06 13:48] dmitriid commented on #19574
@oliviertassinari Good point.

I've quickly looked around.

**[Kendo UI](https://www.telerik.com/kendo-angular-ui/components/dropdowns/autocomplete/grouping/)** | **[PrimeFace](https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml)** | **[SyncFusion](https://help.syncfusion.com/js/autocomplete/grouping)**
--- | --- | ---
*Vegetables* is group header <img width="262" alt="Screenshot 2020-

[2020-02-06 14:36] AlicanC commented on #8500
We had something like this which caused the problem:
[code]
and we fixed it by changing it to this:
[code]

[2020-02-06 14:45] oliviertassinari commented on #19574
Thanks, very interesting.

[2020-02-06 14:53] minaairsupport opened #19591 "[Autocomplete] Start after specific number of letters"
I suggest adding more option in filter options, one of them start filter after a specific number of letters

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
add startAfter to filterOptions that accept int

## Examples 🌈

const filterOptions = createFilterOptions({
  matchFrom: 'start',
  st

[2020-02-06 15:02] dmitriid commented on #19574
It looks like very few (easily Googlable) projects to grouping in autocompletes

[2020-02-06 15:10] oliviertassinari commented on #19591
What's the use case?

[2020-02-06 15:15] elilondon commented on #19591
We need to open the AutoComplete menu/list of options after two key strokes and thought it made sense to come from filter. @oliviertassinari @minaairsupport

[2020-02-06 15:23] oliviertassinari commented on #19574
We have the same problem with the Select component. Here is an example with Angular Material: https://material.angular.io/components/select/overview#creating-groups-of-options.

[2020-02-06 15:31] embeddedt commented on #19574
I notice that Angular Material and the native select element for Firefox (at least on Ubuntu) use indentation and bold text to accent the category headings.

![Screenshot from 2020-02-06 10-26-21](https://user-images.githubusercontent.com/42941056/73951454-8549f900-48cb-11ea-82dd-b48c0a9f3ebc.png)

(The list is partially transparent because it begins fading out to close as soon as you press PrtScr

[2020-02-06 15:38] oliviertassinari commented on #19591
Sorry, we are not really interested in the developer's use case for this. What's the use case from a end-user perspective?

[2020-02-06 16:02] oliviertassinari commented on #19574
Looking more closely at the material design specification and the google products, it seems that groups are not something they support. So, I think that we can take some freedom.

I would personally be in favor of introducing a light left indent and look at how we can solve #18200 at the same time.

[2020-02-06 16:05] dmitriid commented on #19574
👍

1em or 2em will probably be more than enough (but needs to be checked with a variety of text lengths).

[2020-02-06 16:34] embeddedt commented on #19574
It seems that long option names do not get any special handling with the current implementation, at least from my limited testing here: https://codesandbox.io/s/mui-select-long-names-448b3

[2020-02-06 17:23] pvdstel commented on #19587
We are seeing something similar in our web application, but instead of a different order, React complains that more hooks were rendered than during the previous render.

This issue has started to happen on a somewhat small scale two days ago. I haven't been able to find any changes in the MUI source code that could cause this, and we are not able to reproduce it on our machines. It does come from

[2020-02-06 17:35] eps1lon commented on #19587
The way we implement `withWidth` is with the assumption that the number of breakpoints doesn't change. If they change then the number of hook calls.

IMO this HOC should not use hooks at all and be reverted to the previous version following the principle of least surprise.

[2020-02-06 17:42] eps1lon commented on #19572
The difference is between key types that are "intersected with" and value types.

For tooltip you can easily get the type with `TabProps['placement']`. For `Record<KeyA, string> & Record<KeyB>` I'm not aware of any robust solution to extract `KeyA`.

[2020-02-06 17:45] pvdstel commented on #19587
That would probably work. The weird thing about this issue though is that we're not changing the number of breakpoints in our theme; we only update some colors.  While I agree with your opinion that this code should not be using hooks, it also should not be throwing errors here as the number of breakpoints remains unchanged (in our case at least).

[2020-02-06 17:50] oliviertassinari commented on #19587
@eps1lon Regarding the breakpoint issue, reverting is one option, I think that we could also consider
2. warning against dynamic change of breakpoints (least surprise & explicit no support)
3. removing the Hidden component (CSS version to be replaced with the system, JS version to be replaced with a component version of useMediaQuery).

[2020-02-06 18:00] JamieS1211 commented on #19579
Hi there, thanks for the reply and link to the other issue. While the issue defiantly appears in the same way I think there is a bit of subtle difference in the two issues. For instance in my case I am using the Omit<> type to specifically omit a unrelated key and it was the Omit<> process that was mutating the type into the manner seen in the other issue.

This was one of the reasons for it confu

[2020-02-06 18:25] aleccaputo commented on #19572
@eps1lon hmm okay. I'll start with just the variant if you want to assign this to me

[2020-02-06 18:41] eps1lon commented on #19572
The main benefit here is that we don't have to name it. And it's apparent from this issue that this is hard 😉

[2020-02-06 18:45] aleccaputo commented on #19572
@eps1lon good point. Although it looks like there is kind of a convention that is set by the already exported types, for example `GridJustification` is exported from `Grid` and is the type for `justification`

[2020-02-06 18:47] eps1lon commented on #19572
I appreciate the good faith but we make mistakes as well 😆

[2020-02-06 18:49] eps1lon commented on #19587
I think using using media queries for this is misguided. Did we try it with a simple resize listener?

[2020-02-06 18:50] aleccaputo commented on #19572
@eps1lon haha fair enough! I like the accidental convention for what it's worth :)

[2020-02-06 19:15] oliviertassinari commented on #19587
@eps1lon I don't remember trying with a resize listener, we should probably consider the tradeoff.

I think that the main pros of using media queries for this is that idea to rely on a **single** "infrastructure". I mean, if we consider tests and server-side rendering. These two need to be configured to play, more or less, nicely with the idea to JS conditionally render based on the size of the sc

[2020-02-06 19:28] oliviertassinari commented on #19572
If we refactor the Grid.d.ts, should we consider it a breaking change (it seems to be the only of its kind in the codebase)?

[2020-02-06 19:34] aleccaputo commented on #19572
@oliviertassinari it would be a breaking change for my codebase

[2020-02-06 19:42] tagaychinova opened #19595 "[Autocomplete] Warn wrong comparison getOptionSelected implementation"
Bug Demo: https://codesandbox.io/s/material-demo-q3fno

![autocomplete](https://user-images.githubusercontent.com/30294752/73972400-d7be0080-4931-11ea-8d5f-40c8499d8752.png)

[2020-02-06 19:46] eps1lon commented on #19587
Excellent point. It seems like there isn't a perfect solution for this. For now I'd say we add a helpful warning if we know that the number of calls changes.

I wouldn't be surprised if hot-reloading or react-fresh have issues with the loop call though.

[2020-02-06 20:01] oliviertassinari commented on #19595
It's a duplicate of #18499.

[2020-02-06 20:24] hamza0867 opened #19597 "[Select] [MenuItem] Customizing MenuItem inside Select component"
I am working on a library that uses material-ui under the hood. What I do is wrap the component offered by material-ui, change their default styling and props and return them. It all worked well until I tried to customize the `MenuItem` to be used in the `Select` component.
The Select component requires that its direct descendants be `MenuItem` so I can't wrap `MenuItem` to apply my custom styles.

[2020-02-06 20:27] oliviertassinari commented on #19597
@hamza0867 Have you tried using the global class name?

[2020-02-06 20:32] hamza0867 commented on #19597
@oliviertassinari you mean using styled components ?

[2020-02-06 20:38] oliviertassinari commented on #19597
No, I meant targeting the `.MuiMenuIem-root` CSS selector.

[2020-02-06 20:45] oliviertassinari commented on #19595
@tagaychinova Interesting case, I propose the following new error message:

[code]

[2020-02-06 20:50] hamza0867 commented on #19597
But that would change all MenuItem components (i.e inside Select and inside Menu). Wouldn't it ??
I would love to provide an API like this:
[code]
With `MyDropdownOption` being a MenuItem that has my own styles.

[2020-02-06 20:57] oliviertassinari commented on #19597
@hamza0867 Not if you scope the style to the children of the Select. For instance:

[code]

[2020-02-06 20:59] oliviertassinari commented on #19597
Well, at one exception, the MenuItem are portal, so we would probably need to introduce a new menu style rule to the Select component :)

[code]

[2020-02-06 21:13] hamza0867 commented on #19597
So I have to wrap my custom Select component with a ThemeProvider. Am I right ?
Can't I just use classes with `makeStyles` ?

[2020-02-06 21:15] oliviertassinari commented on #19597
@hamza0867 Sure, works too

[2020-02-06 21:17] hamza0867 commented on #19597
@oliviertassinari that worked for the background. But how do I disable the rippleEffect using only makeStyles ?? or do I have to do something else ??

Thank you for helping me out. Really appreciate it

[2020-02-06 21:19] oliviertassinari commented on #19597
@hamza0867 There is a prop to disable the ripple, the simplest would be to change the default value with the theme.

[2020-02-06 21:19] oliviertassinari commented on #19597
What's your concern with this?

[2020-02-06 21:30] hamza0867 commented on #19597
@oliviertassinari Sorry for the late response I try the solutions you propose before I get back to you.
The solution worked by wrapping the select with a theme provider.
The concern I have with wrapping the custom select with the ThemeProvider is that it might have some [performance issues](https://material-ui.com/customization/theming/#a-note-on-performance)

[2020-02-06 21:33] oliviertassinari commented on #19597
Oh, because you don't want to customize all the select elements in your page?

[2020-02-06 21:36] hamza0867 commented on #19597
I do want to have all the selects have the same style. But each different instance of them would have to create a new Theme. No ?

[2020-02-06 21:48] oliviertassinari commented on #19597
No, you can use a single global theme.

[2020-02-06 21:49] hamza0867 commented on #19597
Ok thank you so much for the help. Really appreciate it

[2020-02-06 21:49] #19597 closed

[2020-02-06 22:42] #19583 closed

[2020-02-06 23:48] mbrookes commented on #19557
@ifndefdeadmau5 Do you have an example from the MD spec, or Google product for this proposal?

[2020-02-07 00:43] amcasey commented on #19113
@embeddedt Generally speaking, explicitly marking something as `any` is a good way to disable type checking for that symbol.  Having said that, I can't recall whether you can just clobber a previous declaration or rather, as you suggest, you'd need compiler support to avoid duplicate declaration issues.

[2020-02-07 00:44] ahmad-reza619 commented on #19595
@oliviertassinari why not we try to solve this issue instead of giving error message?

[2020-02-07 00:50] amcasey commented on #19113
New numbers (different machine, different time metric):

| Version | Total Time |
|-|-|
| 3.5.3 | 32.5s |
| 3.7.5 | 35.9s |
| master | 29.9s |

Some of the issues I posted above are still open, but we're basically back to 3.5 perf (for this benchmark).  Obviously, it's still much slower than we would like, but the next batch of changes are likely to be on the material-ui side.

[2020-02-07 01:14] ifndefdeadmau5 commented on #19557
@mbrookes No I couldn't find any, it's just utterly came from our company's design need so our designer suggested a implementation that make enough sense. Also thought it'd be hard to see not having nested menu normally.

[2020-02-07 02:50] Jaskerv commented on #19137
I found a temporary solution.

In your renderInput
[code]

Result:
![image](https://user-images.githubusercontent.com/26532014/73996769-688fed00-49c1-11ea-8325-6ab51bce6878.png)

Let me know if this works for you :)

If you found a way to replace maxHeight in px to maxHeight to rowsMax, let me know

[2020-02-07 04:40] dinukasal commented on #9942
Is this issue fixed in new versions?

[2020-02-07 05:54] blueyedgeek commented on #18514
@hefedev, @oliviertassinari I had meant to work on this but some personal issues came up and I couldn't find the time to do it. Glad someone else was able to put in the required effort 👏🏾

[2020-02-07 06:27] AbreezaSaleem commented on #19586
@oliviertassinari  Can you please give me an update on this? I shifted the switch button from the `expandIcon` prop to `ExpansionPanelSummary`'s children. I'm still running into the same problem. The codesandbox is updated.

[2020-02-07 07:04] dyaacov opened #19600 "Range sliders - RTL"
My website is RTL
However, Sliders should still slide from right to left
I tried adding flip: false but it didn't work

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Slider min-max values are from right to left instead of left to

[2020-02-07 08:05] fuoridallarete commented on #8436
Hi @lxblvs, I tried to adjust your solution to my code but it doesn't work. As I set ```shrink-false``` to the inputLabel I want it to disappear once an option is selected (its text goes in the inout and overlaps the label). I'll post my code if anyone is able to give me a hint to make it work:
[code]
In the css:
[code]
Thanks
x

[2020-02-07 09:15] oliviertassinari commented on #19595
@ahmad-reza619 This error message is a lead/tip on how to solve the problem. If you can't figure it out with it, then it might not be good enough.

[2020-02-07 09:22] oliviertassinari commented on #19595
Maybe we should rename `getOptionSelected` to `optionEqualValue` or something similar 🤔.

[2020-02-07 09:45] #19600 closed

[2020-02-07 09:46] oliviertassinari commented on #19600
Tip: you can customize the scale and the order of the track (while keeping the same direction).

[2020-02-07 10:40] ahmad-reza619 commented on #19595
sounds good, and btw why not replace the `for` with `Array.prototype.some` for edgy fp style 😎

[2020-02-07 10:44] ahmad-reza619 commented on #19595
something like this

[code]

[2020-02-07 10:49] hckhanh opened #19601 "[theme] Support string args: theme.spacing(1, "auto", 3)"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I think that it will be more convenient when `spacing` function support `auto` value.

[code]

## Examples 🌈

In my case,

[code]

It can be shorten like this:

[code]

[2020-02-07 10:49] eps1lon commented on #19595
I'd prefer a warning here and I'm not even sure there aren't valid use cases for this e.g. fallbacks.

And I'm not sure why this should warn. What is wrong with the provided codesandbox? It seems like a bug on our side to me.

[2020-02-07 11:09] oliviertassinari commented on #19595
@ahmad-reza619 What about IE 11?
@eps1lon makes me think of a previous discussion we didn't resolve. When should we use error vs warn

Ok, here is the solution guys. The `getOptionSelected` method accepts two arguments. A value and an option. Its purpose is to signal when two objects from these ensemble are identical. This function needs to be a bijection.

[2020-02-07 11:55] Paul6552 opened #19602 "[Autocomplete] Remove text programmatically"
It should be possible to delete the content of the autocomplete-form.

- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I have the following code:
[code]
After the user clicks on an option the onChange method of the autocomplete-form fires. The choosen option will be save in the state-value.
I am doing

[2020-02-07 12:01] #19602 closed

[2020-02-07 12:01] oliviertassinari commented on #19602
tip: inputValue/onInputChange.

[2020-02-07 12:01] dyaacov commented on #19600
by scale you mean multiply in -1?
what do you mean . by "the order of the track"?

[2020-02-07 12:09] oliviertassinari commented on #19601
@hckhanh This sounds like a great idea. Do you want to work on it? :)

[2020-02-07 12:13] oliviertassinari commented on #19601
It would be a good opportunity to unify the behavior between
https://github.com/mui-org/material-ui/blob/07b725e54cdec560dab06f5a662d2869eca9ffb2/packages/material-ui-system/src/spacing.js#L77-L116
and
https://github.com/mui-org/material-ui/blob/07b725e54cdec560dab06f5a662d2869eca9ffb2/packages/material-ui/src/styles/createSpacing.js#L3-L34

[2020-02-07 12:14] Paul6552 commented on #19602
Thank you.
Normally I am writing in Stackoverflow, but Autocomplete is in "Lab" therefore I thought it would better fit in the issue tracker.

[2020-02-07 12:44] dyaacov commented on #19600
This works for me:

scale={x => (x * -1)+props.max}

thanks!

[2020-02-07 13:28] eps1lon commented on #19595
How does this apply here? Each option and current value is unique in the codesandbox.

Tried that in the codesandbox. The second parameter is undefined.

[2020-02-07 13:37] oliviertassinari commented on #19595
I hope it will be clearer with https://codesandbox.io/s/material-demo-b3nsz.
[code]

[2020-02-07 14:07] ahmad-reza619 commented on #19595
@oliviertassinari Ok sorry for misunderstanding, but looks like Array.prototype.some is actually supported in IE based on [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/some) MDN article.

[2020-02-07 14:15] ahmad-reza619 commented on #19595
Can i give it a go?

[2020-02-07 14:20] oliviertassinari commented on #19595
Perfect for IE 11 :) but I think that it could be interesting display the number of matches.

[2020-02-07 14:36] oliviertassinari commented on #19595
Honestly, I'm not sure the warning will be enough. It took me a good chunk of time to figure out what was wrong with your example. Considering I have myself designed most of the component, I can only imagine how it can be confusing for somebody else.
@eps1lon what do you think about changing the name of the prop?

[2020-02-07 14:42] SteveDowsett commented on #16995
Just hit this problem for the 2nd time (thought the issue rung a bell).

Using the work around mentioned above by setting color and not borderColor, is there any chance this could be fixed though? Many thanks

[2020-02-07 15:05] zeorin commented on #12700
I have an alternate implementation:
[code]
This generates colors deterministically from a string.

You can set the brightness and saturation of all generated colors (no longer a need to worry about the legibility of the any text).

It also limits the possible colors to a subset, so that you don't end up with 2 colors that are not different enough to be distinctive.

Read the (post in my comment)[h

[2020-02-07 15:21] oliviertassinari commented on #12700
@zeorin Thanks for sharing! Note that for the contrast, here is an helper: `theme.palette.getContrastText()` :)

[2020-02-07 16:18] tomas-c opened #19606 "Mini variant drawer with SwapableDrawer"
There's an example in the [docs](https://material-ui.com/components/drawers/#mini-variant-drawer) on how to make a small drawer with only icons shown that can be expanded to its full width.

Super useful on small screens. Unfortunately, this doesn't seem possible to implement with SwipableDrawer.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository

[2020-02-07 16:45] mbrookes commented on #12700
It could use `hslToRgb()` from `colorManipulator` rather than using canvas, which would also mean that it would work for SSR.

[2020-02-07 17:31] jedwards1211 commented on #6115
@South-Paw

I'm still confused why any React developer would be into this.  If you want to put your CSS in template strings, why don't you just use Angular and put your HTML in template strings as well?  The strength of React is that JSX elements are really just JS objects that you have tons of power to examine and transform, and the same goes for JSS.

The whole thing driving the CSS in JS moveme

[2020-02-07 17:43] jedwards1211 commented on #6115
@lcswillems you're underestimating how big of a hassle it is to create all these individual component wrappers all the time (and the fact that most autoimport systems aren't smart enough to know whether you want to import `@material-ui/core/Card` as `Card` or `MuiCard` (and if you're still writing import statements by hand, you're severely wasting your time))

[code]
The hassle of converting copy-

[2020-02-07 17:44] Ploppz opened #19607 "Link does not work in Dialog"
The `Link` comonent does not work inside a `Dialog` from material-ui.
When a `Link` is inside `Dialog`, clicking it has on effect, and the cursor does not change to a "hand" cursor either.

I don't know if this is really a problem with `Dialog`?

[2020-02-07 17:48] oliviertassinari commented on #19607
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-07 19:32] Sphinxs commented on #14885
Update?

[2020-02-07 20:24] tusharchutanigt opened #19609 "[Autcomplete] Popper position off by about a 100px"
I am making use of Autocomplete to implement an easier to use version of the autocomplete (some options are hardcoded). We are making use of Styleguidist to document the element where the element works fine as usual.  But when we try to use the component in our FE. We get the following issue

![image](https://user-images.githubusercontent.com/46942581/74062945-4045c580-49a4-11ea-81e9-9db3f14ec27a.

[2020-02-07 20:29] oliviertassinari commented on #19609
Make sure you are using the latest version. We have fixed that problem.

[2020-02-07 20:29] #19609 closed

[2020-02-07 20:29] oliviertassinari commented on #19609
The issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-07 20:30] ilyador opened #19610 "Passing props to makeStyles gives error: TypeError: Cannot read property 'rules' of undefined"
I have a dead simple component which I try to pass color to dynamically:

[code]

And when I add `color: color => color` I get the error:
[code]

[2020-02-07 20:33] oliviertassinari commented on #19610
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-07 20:35] mbrookes commented on #6115
@jedwards1211 There's paulmolluzzo.convert-css-in-js, but if you can improve on it for JSS, I'm sure that would be welcomed.

[2020-02-07 20:41] tusharchutanigt commented on #19609
@oliviertassinari can you please link to the issue? I am currently material-ui: v4.9.0 and material-ui-lab: 0.0-alpha.41

[2020-02-07 21:03] jedwards1211 commented on #6115
Yeah looks like I can definitely improve on it, it only converts CSS properties, not rules and selectors.

[2020-02-07 21:34] #18449 closed

[2020-02-07 23:58] Ergouzii commented on #19360
I'm using `Autocomplete` component, and I'm having the same error:
[code]

My environments:
[code]

Any insights will be helpful for me! Thanks in advance.

[2020-02-08 00:23] embeddedt commented on #19607
https://codesandbox.io/s/goofy-wozniak-h9gu4

The `Link` component only appears to change the cursor and have an effect on click when an `href` prop is passed to it. I assume this is the intended behavior (although I wouldn't expect the underline to appear on the broken link).

[2020-02-08 00:25] helt commented on #12432
That sounds very reasonable - I have this failure only on a low-end device. - The timeout increase helped, though.

[2020-02-08 00:43] #19607 closed

[2020-02-08 00:58] hckhanh commented on #19601
hi @oliviertassinari, I will make an PR for this 👍

[2020-02-08 02:13] South-Paw commented on #6115
@jedwards1211 I read your wall of text and it just reminds me of someone who argues about the use of tabs over spaces - in case you weren't aware, it doesn't really make a difference what you use as long as it produces a useful product at the end.

Leave your opinions/hot takes on Twitter or Reddit and we can discuss them over there - but let's not continue to derail this issue with pointless flam

[2020-02-08 04:27] jedwards1211 commented on #6115
Well that's an argument for not changing the status quo in MUI 😉

[2020-02-08 05:39] dantman commented on #18577
I just ran into/discovered this issue because I need to use `getContrastText` in an override style, which means the `theme` object does not exist yet. But I suppose this suggests that `overrides` may need an overhaul.

[2020-02-08 07:04] maulikdhameliya commented on #4991
Yes we need to make sure that Select should never set value undefined/null in any of cases

[2020-02-08 09:34] oliviertassinari commented on #19124
I have opened https://github.com/easylist/easylist/pull/4869

[2020-02-08 09:53] oliviertassinari commented on #19601
We can support any string.

[2020-02-08 09:58] #19568 closed

[2020-02-08 10:13] koistya commented on #6115
@jedwards1211  even if you're forced to use Styled Components, there is an alternative `css prop` syntax introduced in `v4` that you can employ - at least, this way you won't need to worry about giving prefixes to styled components (MuiCard, StyledCard etc.).

[2020-02-08 10:24] eps1lon commented on #19610
We only support objects as the argument for the created hook

[code]

[2020-02-08 10:24] #19610 closed

[2020-02-08 10:44] South-Paw commented on #6115
@jedwards1211 your example can also be simplified to the follow

[code]

[2020-02-08 14:05] embeddedt commented on #19124
It's no longer in [the list](https://easylist-downloads.adblockplus.org/fanboy-annoyance.txt); thanks @oliviertassinari!

[2020-02-08 15:13] #19365 closed

[2020-02-08 15:14] oliviertassinari commented on #19365
Tip, CSS specificity.

[2020-02-08 18:58] bugzpodder commented on #19549
No.

It doesn't actually work last time I checked.

[2020-02-08 19:12] williamscs opened #19613 "Switch ref attribute is not the root element"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When attempting to use the width of a Switch component, I don't get the width of the surrounding span.

## Expected Behavior 🤔

The ref should be passed to the root span so I can get

[2020-02-08 19:13] oliviertassinari commented on #19549
@bugzpodder So, should we close the issue?

[2020-02-08 19:18] bugzpodder commented on #19549
The docs section on CRA looks correct.  You'll need some like `react-app-rewired` on top of CRA in order to minimize bundle size at least right now.  I don't think it needs to be updated.

[2020-02-08 19:25] jedwards1211 commented on #6115
@koistya the `css` prop is kind of cool, though an important caveat is it's implemented with a Babel plugin.

I think I'm mainly just unhappy about the potential disruption this would cause.  @oliviertassinari mentioned the other day that he's thinking about making `styled-components` the default in MUI v5.  And that hopefully it would be optional and JSS could still be used, but we'll see if they

[2020-02-08 22:21] fax1ty commented on #18018
Any news?

[2020-02-08 23:01] oliviertassinari commented on #18018
I have the feeling that this issue is **going of track**. The problem we are discussing is dynamic props usage that can sometimes cause an issue (strict mode issue). However, they are a bunch of comments (and likely upvotes) that are unrelated. If you are facing this issue, and not using style functions, then you are facing a miss configuration issue. It's not the right place to ask for help. For

[2020-02-08 23:18] oliviertassinari commented on #19613
@williamscs Nice catch! I'm not sure it was done deliberately. https://github.com/mui-org/material-ui/commit/8a13bc294e0#diff-8d33bd694cc029cf64dd1749dfc57438R117.
@eps1lon What do you think of moving the ref to the root as a bug fix?

[2020-02-09 01:20] hc-codersatlas commented on #19358
Is IE11 usage in enterprises actually a thing as of today? The link quoted was in Oct 2019. It's been a few months. The main deciding factor is Windows 10 adoption since Edge becomes the default. Over 2019 I've seen lots of enterprises move to Windows 10. This will continue into 2020 and by the time v5 is out (Q3) I'm concerned that IE usage is likely to drop significantly and a lot of work is don

[2020-02-09 04:38] nainardev opened #19616 "@material-ui/core uses popperjs@1.16.1"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

@popperjs/core v2

## Steps to Reproduce 🕹

Steps:

1. `npm i @material-ui/core`

## Context 🔦

When installing material-ui on new project
## Your Envi

[2020-02-09 06:31] ifndefdeadmau5 commented on #19557
@TommyJackson85 I submitted a PR :) https://github.com/mui-org/material-ui/pull/19632

[2020-02-09 08:38] eps1lon commented on #19616
Duplicate of #19358

[2020-02-09 08:38] #19616 closed

[2020-02-09 08:58] eps1lon commented on #19613
And we need to fix our conformance test. The docs we generate from the test don't reflect the behavior correctly.

[2020-02-09 09:00] eps1lon commented on #19549
@bugzpodder Please provide a repro when making these claims.

[2020-02-09 09:17] eps1lon commented on #6115
Can be configured.

This is impossible. We can only really assume that people engaging on GitHub are "our" users. This issue is the [most upvoted one we ever had](https://github.com/mui-org/material-ui/issues?utf8=%E2%9C%93&q=is%3Aissue+sort%3Areactions-%2B1-desc+).

How did you measure popularity?

[2020-02-09 09:19] bugzpodder commented on #19549
@eps1lon my claim is in line with what your doc.  You want me to provide a repro to prove your doc is correct?

[2020-02-09 09:30] eps1lon commented on #19549
The docs say it works out of the box. You said

referring to

We should probably change the wording. The current question implies someone needs to take action. Assuming latest software is the default, this isn't required. It's  a dev-only optimization we describe.

[2020-02-09 09:45] oliviertassinari commented on #6115
⚠️ emotion is significantly less chosen by developers than styled-components (/6 from what I recall). If you consider the downloads on npm, remove react-select and storybook download counts.

[2020-02-09 10:33] TommyJackson85 commented on #19613
I will create a PR on this and try and fix it.

[2020-02-09 11:53] prasad424jntu opened #19634 "onBlur not getting triggered on outlined select component"
I am trying to remove the focus from Select component as soon as one item is selected from the dropdown. Tried to call blur method in onChange method but onBlur is not getting triggered.

export const Select = (props: SelectType) => {

    const [value, setValue] = useState(props.defaultValue ? props.defaultValue : '');
    const menuItems = props.data.map((menuItem,index) => <MyMenuItem key={inde

[2020-02-09 13:03] thexpand commented on #19549
I'm now more confused than I was before asking the question. Is the bundle size automatically minimized for the production build of CRA? Is it for development?

[2020-02-09 13:08] oliviertassinari commented on #19549
@thexpand The topic here is for development **only**. You don't have to worry about production.

[2020-02-09 13:21] oliviertassinari commented on #19634
The Select component restores the focus to it once closed. It happens asynchronously. I believe a timeout would be the only solution.

[2020-02-09 13:21] #19634 closed

[2020-02-09 13:53] prasad424jntu commented on #19634
tried with timeout as well .Not working.If onBlur gets triggered in the above example pickUpBlur method should get called.Which is not happening.

[2020-02-09 13:58] thexpand commented on #19549
@oliviertassinari So, what we're discussing is about minimizing for development, and thus reducing the time for hot reloading, by reducing the build time, is that correct?

[2020-02-09 14:01] prasad424jntu commented on #19634
Sorry withtimeout using document.getElementById('pickUpSelect').blur() is working. But timeout using ref is not working.Thank you so much

[2020-02-09 16:27] DIESELOK commented on #19360
@Ergouzii could you try to downgrade version of "@material-ui/lab" to "4.0.0-alpha.40" or "4.0.0-alpha.39" if it won't work

[2020-02-09 17:41] SerhiiBilyk commented on #17377
@oliviertassinari I can pick it up, if @brad-klosterman, @thclark and @Technologeek don't mind

[2020-02-09 17:47] thclark commented on #17377
be my guest @captain-yossarian ;)

[2020-02-09 17:59] #18022 closed

[2020-02-09 18:08] jedwards1211 commented on #6115
@eps1lon here is what I was looking at: https://2019.stateofcss.com/technologies/css-in-js/

I was wrong though, unfortunately all I remembered was the seeming upward trend, even though this isn't a chart of popularity over time (very questionable chart design):
![image](https://user-images.githubusercontent.com/1448194/74107324-289d4700-4b34-11ea-83da-9a2e96056f6c.png)

Is there actually a way to

[2020-02-09 18:43] jedwards1211 commented on #6115
FWIW, one of the main contributors to `styled-components` seems to have an unfriendly attitude toward type systems:

https://github.com/styled-components/styled-components/issues/3012#issuecomment-583878486

[2020-02-09 18:49] bugzpodder commented on #19549
@eps1lon my mistake.
I reread the doc again (this is probably the tenth time I read it, and each time I always thought the options were for `production`), and you are right the docs options are for development only.  I think people reading the docs doesn't necessarily read every word, they just goto the section they want to see, and miss the one sentence on top.

Anyway from my personal experience

[2020-02-09 20:13] captain-yossarian commented on #19613
@williamscs @oliviertassinari @eps1lon if you don't mind I will pick it up

[2020-02-09 21:00] bugzpodder commented on #19549
I just tested this on stock CRA and @material-ui and actually tree-shaking work as expected.  It does work in production as the docs claim when you use named exports.

I tested this on my own production app but still have issues, so it must be something with my own configuration.  That's something I can figure out myself and likely won't affect others.

I went back and edited my comments to remove

[2020-02-09 22:37] jonatanklosko opened #19637 "[Autocomplete] Invalid highlighted index when selecting last item with filterSelectedOptions"
## Current Behavior 😯

When `filterSelectedOptions` is enabled, selecting the last item means it disappears from the list, yet the highlight is not updated.

## Expected Behavior 🤔

Not entirely sure, I can imagine one of the following:
- clear highlight (i.e. set highlighted index to `-1`)
- highlight the previous item (edge case: when the list has only 1 element, then the index should be set to

[2020-02-10 07:38] kodermax opened #19640 "Invalid type Declaration for styled Props"
I think that the line has an error.
https://github.com/mui-org/material-ui/blob/4a96d14dfbb0054775e914d5151ae28c0fbcc262/packages/material-ui-styles/src/styled/styled.d.ts#L15

TS2339: Property 'transparent' does not exist on type '{}'.

There should be like this Props extends {} = T

[2020-02-10 07:47] SutapCedcoss commented on #19360
Not working.

[2020-02-10 08:02] TrejGun commented on #19354
@oliviertassinari what if you do

[code]

yes this is little bit verbose but you are not loosing anything

[2020-02-10 08:58] Studio384 opened #19641 "[Pagination][TablePagination] Inconsistent API behavior between components"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The APIs for `TablePagination` and `Pagination` behave differently.

1. Why is the `count`-prop for `TablePagiantion` the total number of items the pagination controls while for `Pagi

[2020-02-10 09:18] eps1lon commented on #19640
Duplicate of #19541

[2020-02-10 09:18] #19640 closed

[2020-02-10 09:27] prasad424jntu opened #19642 "ExpandMoreOutlined component padding is missed as soon as user clicks on select component and popover is displayed"
I am using ExpandMoreOutlined component to show arrow on my select component. I wanted some padding for the  icon. So I gave like this:

import React, { useState, RefObject } from 'react';
import { Select as MuiSelect, MenuItem, OutlinedInput } from '@material-ui/core';
import ExpandMoreOutlined from '@material-ui/icons/ExpandMoreOutlined';

const MyExpandMoreOutlined = styled(ExpandMoreOutlined)(

[2020-02-10 10:35] iMakedonsky commented on #13875
How this still isn't released yet shocks me.

[2020-02-10 10:43] Alaa-Ben commented on #19245
Hi !
Any news on this ?

[2020-02-10 11:20] #19642 closed

[2020-02-10 11:21] oliviertassinari commented on #19642
Tip: use the right property.

[2020-02-10 11:23] cmoutafidis commented on #9336
@MartinGao That was also the case for me, I didn't expect that CSS would affect the radio button functionality... Thanks for that!

[2020-02-10 11:31] oliviertassinari commented on #19641
@Studio384 I believe there is a strong difference between the use case for the Pagination component and TablePagination. The API reflects it.
- The Pagination is meant to paginate a list of arbitrary items. SEO is important. For instance, for a blog.
- The TablePagination is meant to paginate a list of rows. SEO is not important. For instance, for a data grid.

I think that it answers the 3 questi

[2020-02-10 12:12] oliviertassinari commented on #19354
@TrejGun what problem did you face?

[2020-02-10 13:25] rolandbrake opened #19645 "Material-ui table adding new feature"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
adding an option to material-UI table called orientation to specify the orientation of the table specifically setting the table in a vertical or horizontal orientation the default is horizontal

## Examples 🌈
[code]
![alt text](https://www.nic

[2020-02-10 13:29] TommyJackson85 opened #19646 "Tooltip to appear on hover, click and mousedown over icons of Mini Variant Drawer"
What about a tooltip to appear on hover, click and mousedown over button icons of Mini Variant Drawer to give the title or description (or both) of the buttons purpose.

It could add more clarity when the drawer is closed.

I am open to expanding this feature request to all or multiple components too. Just looking for suggestions now.

Willing to create a PR on this and try it myself.

- [ ] I hav

[2020-02-10 14:13] alexandesigner opened #19647 "PropTypes.array and PropTypes.arrayOf handling with null"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When filtering an item that does not exist in the list (options), it is returning ```null``` and the .filter method is broken

![Screen Shot 2020-02-10 at 10 58 24](https://user-image

[2020-02-10 14:18] oliviertassinari commented on #19647
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-10 14:23] alexandesigner commented on #19647
@oliviertassinari Thanks for the feedback, I'll try to create this reproduction in the codeandbox, however, I provide the link to my production application where the error is occurring.

[2020-02-10 14:42] alexandesigner commented on #19647
The problem is when the list return is null in my suggestion and the agent just does this little check, maybe I can handle the side of my application however, it would be nice if we could avoid this behavior.

See https://codesandbox.io/s/tender-breeze-gj3zr

[2020-02-10 15:16] oliviertassinari commented on #19647
@alexandesigner Thanks. I could reproduce the same issue with react-select: https://codesandbox.io/s/react-codesandboxer-example-y2rwr

However, I'm surprised they are no prop-types warnings. `null` is [compatible](https://github.com/facebook/prop-types/blob/e32c4900f5ab5fd3acea93e9d2f0d09e4a2f2ceb/factoryWithTypeCheckers.js#L546-L560) with `PropTypes.array` and `PropTypes.arrayOf`. I see two good

[2020-02-10 15:34] acroyear opened #19649 "[Pagination] keyboard (accessibility) navigation"
When navigating the pagination lab feature using tab and shift-tab, there's no way to get to the "..." section in any meaningful way.  This means the user is constrained on how many pages they can get to without going one-by-one.

(related: the < and > buttons at the end perhaps should be configurable to pages of counts instead of one at a time?)

- [x] I have searched the [issues](https://github.

[2020-02-10 15:37] oliviertassinari commented on #19649
@acroyear How is it different from GitHub pagination?

![Uploading Capture d’écran 2020-02-10 à 16.37.07.png…]()

[2020-02-10 15:53] oliviertassinari commented on #19549
What do you guys think of this header structure change? Given the current structure, I can very well understand why somebody that would skip-jump when reading could be confused!

[code]

[2020-02-10 15:59] acroyear commented on #19649
I'd never used github's pagination by a keyboard before, because it isn't a library that I'm using for making applications for Android and Fire TV devices.

It behaves the same. That's fine. I'm just noting a reason how it is not quite right for my potential use case or other situations with exceptionally large data sets, but yes, I do acknowledge that it works very well already. (thus why I filed

[2020-02-10 16:01] safonoi commented on #19587
<img width="809" alt="Снимок экрана 2020-02-10 в 18 58 46" src="https://user-images.githubusercontent.com/9068317/74166295-63d46e80-4c37-11ea-857f-a78ec7bc41fe.png">

We encountered the same error `Rendered more hooks than during the previous render.`

[2020-02-10 16:06] oliviertassinari commented on #19649
@acroyear Interesting, so it's a matter of the targeted platform.

[2020-02-10 16:17] Ergouzii commented on #19360
Downgrading to 4.0.0-alpha.39 works for me! Thanks!

[2020-02-10 16:17] eps1lon commented on #19647
prop-types handling of is required is not ideal but the way the eco-system is set up. With TypeScript you'd already wouldn't pass the type checker. I'd stick with the current behavior to not cause too much confusion. Leveraging default assignments with `undefined` is a lot easier than having custom default handlers for nullish values.

[2020-02-10 16:20] tomas-c commented on #5750
Is there a recommended workaround for Select elements? Having this issue on iOs 13.3.1

[2020-02-10 16:24] cl8dep opened #19650 "Width style property with multiple browsers compatibility"
I am trying to set the width property with different values to ensure compatibility in the different Edge, Mozilla and Chrome browsers and I cannot set more than one value for the property

[2020-02-10 16:33] oliviertassinari commented on #19647
@eps1lon So we give the same answer than #17480 (we close + waiting for upvotes)?

[2020-02-10 16:39] eps1lon commented on #19647
Yeah. Since this is the lab I would honestly reconsider making it optional. It doesn't make sense to not set it anyway. If the list is empty (because you're loading) your can default to an empty array.

Makes the type-checker, prop-types and the implementation happy.

Unless there is an actual use case for `<Autocomplete />` that never receives `options`.

[2020-02-10 16:49] oliviertassinari commented on #19647
@alexandesigner What about we make the options required?

[2020-02-10 16:58] b-zurg commented on #17010
This is a pretty funny issue.  Ran into it recently.  The material UI docs say that we can add refs to all MUI components but this central component of this ecosystem is missing the type definition for a ref? 🤣

So there's a few ways around this that I see so it's a non-blocking issue:

1. wrap the Box in a div and forward the ref to that div.
2. Use the [RootRef](https://material-ui.com/api/root-

[2020-02-10 17:18] dmtrKovalenko opened #19651 "[TrapFocus] Make possible to avoid focusing wrapper"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently [TrapFocus](https://github.com/mui-org/material-ui/blob/e168bc694a7c7a59e86990e2a3677938acf7e953/packages/material-ui/src/Modal/TrapFocus.js) component is focusing the modal root element (paper) when we are looping out the controls

[2020-02-10 17:53] TommyJackson85 commented on #19606
I've been working on the Mini Variant Drawer lately so let me take this. :)

[2020-02-10 18:07] eps1lon commented on #19413
An alternative to https://github.com/ibezkrovnyi/eslint-plugin-expect-type#readme might be https://github.com/4Catalyzer/eslint-plugin-ts-expect

[2020-02-10 18:09] oliviertassinari commented on #19651
@dmtrKovalenko Thanks for opening this issue. For context, and for the next person that will have a look at the problem, the current behavior is the result of a tradeoff taken in #14545. There is likely an opportunity to do better ✨.

[2020-02-10 18:15] TommyJackson85 commented on #19606
I'm gonna try and add a swipable function from the swipabledrawer api to a Mini Variant Drawer sandbox. From this sandbox I test it on my phone.

[2020-02-10 18:15] mbrahimi617 opened #19652 "Text Truncation in TableCell"
I've tried to use `styled-components` both with an inner span component and `TableCell` directly:

    text-overflow: ellipsis;

However, try as I might there seems to be no way to actually support ellipsis text truncation in a table cell. Furthermore, I have an actions table cell with several `IconButton` actions which I would like to give priority. In other words, I want all the buttons to appea

[2020-02-10 18:22] #19448 closed

[2020-02-10 19:26] albert-medcheck commented on #18269
Need help.
I'm having an issue with material's textfield (probably other mui as well).
When the textfield is empty the first keystore is slow, same goes when you change the value to empty.
For some reason, it re-renders the whole form.

<img width="604" alt="Screen Shot 2020-02-11 at 3 21 25 AM" src="https://user-images.githubusercontent.com/43800033/74182272-b8024180-4c7d-11ea-95eb-70468b3fa886.p

[2020-02-10 21:02] oliviertassinari commented on #19647
I have updated the pull request to make the options required, I think that @eps1lon had an excellent point, people won't go far without the options.

[2020-02-10 21:06] hefedev commented on #18514
I won't be able to work on this anymore. but for the new first timers please check below and make sure you need a test case for it.

https://github.com/mui-org/material-ui/blob/575776f3004c6ac655b128fbdb30bd4b35115ab7/packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js#L553

[2020-02-10 21:13] nspaeth commented on #14420
Many comments here are arguing in favor of keeping IE11 in order to maintain support for business, so I'd like to offer up a counter perspective.

Draconian/underfunded/lazy IT departments are enabled by so many libraries bending over backwards to support them, for free. If, instead, libraries started dropping support, these IT departments would face increasing pressure to update their networks. B

[2020-02-10 22:27] simkessy commented on #18331
Tried this but I keep getting error:

    at FormikAutoComplete (AutoComplete.jsx:6)

Created the component:

[code]

Used it like this:

[code]

Data

[code]

[2020-02-10 23:02] simkessy commented on #18331
Yea I couldn't get this working as presented above. I keep getting the error:

`` index.jsx:14 Uncaught TypeError: Cannot read property 'setTouched' of undefined

[2020-02-11 00:44] mbrookes commented on #19641
A cross-reference from one component to the other wouldn't be using unreasonable if @Studio384 would like to add it?

[2020-02-11 01:06] TrejGun commented on #19354
I want to wrap autocomplete to use with final form
here is a code sample https://trejgun.github.io/articles/bindings-for-using-final-form-with-material-ui-autocomplete

[2020-02-11 02:15] alexandesigner commented on #19647
@oliviertassinari I believe sounds good. I fully agree with the @eps1lon point.

**Thanks!** Not only for your attention but for the care with this fantastic stack.

[2020-02-11 02:28] hckhanh commented on #15452
If you are using [create-react-app](https://create-react-app.dev/), you can use `ReactComponent` to load a svg file as an SVG component, instead of using `SvgIcon`

https://create-react-app.dev/docs/adding-images-fonts-and-files/#adding-svgs

[2020-02-11 02:40] hc-codersatlas commented on #6115
@jedwards1211 there's a Babel macro for `css` if that helps. Especially coming from css/scss/less I don't think everyone likes moving to the "styled" way.

What are the goals though? What about performance? E.g. some systems support atomic css. Coming from Tailwinds it makes things much cleaner and maybe faster.

[2020-02-11 06:59] #19647 closed

[2020-02-11 07:00] cmeeren opened #19653 "[PaginationItem] Incorrect style sheet name?"
https://material-ui.com/api/pagination-item/

![image](https://user-images.githubusercontent.com/7766733/74216373-7c2ea280-4ca4-11ea-873b-271a0c2889e0.png)

Shouldn't that be `MuiPaginationItem` instead of `PaginationItem`, to be consistent with every other component?

If so, is it just the docs that are incorrect, or the implementation?

On the off chance that `PaginationItem` is correct, is that

[2020-02-11 07:03] #19653 closed

[2020-02-11 07:06] oliviertassinari commented on #19653
Implementation wasn't correct.

[2020-02-11 07:13] #17377 closed

[2020-02-11 07:17] Jack-Works commented on #16947
And get almost fully typed. Don't see any reason to migrate +1

[2020-02-11 07:20] oliviertassinari commented on #19649
Would an input field solve your issue?

[2020-02-11 07:24] oliviertassinari commented on #15452
Head to https://github.com/mui-org/material-ui/issues/18782#issuecomment-569233631 if you are curious about the why someone would want to use the SvgIcon component in such a case.

[2020-02-11 07:47] bishonen opened #19654 "[Select][Autocomplete] Don't close the popup when Ctrl/Shift clicks"
In a Select component which contains the multiple prop, it would be a great feature to have a ctrl click functionality. E.g. simply clicking with the mouse should select a single item. Only when ctrl+click is used, multiple values should be selected.

[2020-02-11 07:51] eps1lon commented on #14420
There are actual people using the software provided by the IT department. Non-tech people don't want to switch to another browser. They oftentimes don't even know what a browser is. They just want access to the internet.

That being said we'll probably make "modern bundles" the default in v5 and ship a legacy bundle with it. I don't think we will change our IE 11 support model beyond that.

[2020-02-11 07:59] oliviertassinari commented on #14420
There is a side of the story that we haven't heard of much: the Chinese market. I have heard that they have a stronger IE and UC browser usage. Ant Design in v4 (the next version that will soon be stable) drops IE 9 and IE 10 support.

[2020-02-11 09:27] oliviertassinari commented on #19654
I have seen the same request in https://github.com/select2/select2/issues/5302. There is low traction for it. I haven't seen it implemented anywhere, see the benchmarking list: https://trello.com/c/qrI0FOna/2335-autocomplete.

[2020-02-11 09:28] rbkerkhoven opened #19655 "[typescript] 'MuiAutocomplete' does not exist in type 'Overrides'"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Compiler Error:

[code]

## Expected Behavior 🤔

[code]

## Steps to Reproduce 🕹

Link: https://codesandbox.io/s/create-react-app-with-typescript-w90k3
see withRoot.tsx

## Context 🔦

[2020-02-11 09:28] oliviertassinari commented on #19654
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure people are looking for such abstraction. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-02-11 09:31] oliviertassinari commented on #19655
None of the lab components are included in the Overrides nor Props types. As far as I know, our official answer has been to extend the theme, see https://material-ui.com/guides/typescript/#customization-of-theme.

[2020-02-11 09:36] rbkerkhoven commented on #19655
@oliviertassinari  thnx that's what i was expecting but ok thnx for the quick reply.

[2020-02-11 09:36] #19655 closed

[2020-02-11 09:38] oliviertassinari commented on #17789
I have tried the reproduction provided in https://github.com/mui-org/material-ui/issues/17789#issuecomment-567647432 without any luck in dev & prod mode on IE11. So it confirms @NMinhNguyen feedback.

Closing for the lack of a reproduction.

[2020-02-11 09:38] #17789 closed

[2020-02-11 12:00] huzaima opened #19656 "SELECT value not setting when there are spaces in value"
When the value of MenuItem that is in the Select contains space (like `<MenuItem value={"Thirty One"}>Thirty One</MenuItem>,`) then that value is not selected.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹

https://codesandbox.

[2020-02-11 12:41] jamime commented on #7956
This worked for me
[code]
[code]

[2020-02-11 13:11] koistya commented on #6115
@hc-codersatlas you can find some benchmarks here in [`packages/material-ui-benchmark`](https://github.com/mui-org/material-ui/tree/master/packages/material-ui-benchmark).

[2020-02-11 14:04] TomPradat opened #19657 "[CssBaseline] Allow css baseline to be restricted to a div"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add a prop "rootId" on the `CssBaseline` to apply the baseline css only on the div with the rootId id

## Examples 🌈

[code]

[code]

This would inject something like this:

[code]

## Motivation 🔦

IMO this could be useful to help work in is

[2020-02-11 14:31] petercutting commented on #16675
None of the above worked for me. I have however found a big improvement
I noticed that some TextField sub-component have "pointer-events: none" so I clobbered them with the code below.

now most attempts to drag scroll work, rather then not working.

const mytheme = createMuiTheme({
  overrides: {
    MuiInput: {
      underline: {
        "&&&&:before": { // improves drag scroll on Cordova iOS

[2020-02-11 14:38] oliviertassinari commented on #19657
@TomPradat This sounds fair. However, I think that a simple flag would be enough (so the style apply applies to the children).

[2020-02-11 14:55] TomPradat commented on #19657
I can work on this if you want

[2020-02-11 15:13] mbrahimi617 commented on #19652
So is there any temporary solution until the DataTable component is released?

[2020-02-11 15:35] oliviertassinari commented on #19657
@TomPradat Yes :)

[2020-02-11 15:58] TomPradat commented on #19657
I'm not sure a flag is sufficient as we do not wrap the code with the `CssBaseline` element. Moreover I'd rather not add a div element in the `CssBaseline`.

What about a `restrictTo` prop ?

[code]

[2020-02-11 15:59] oliviertassinari commented on #19657
What's the issue with wrapping the root of the tree?

[2020-02-11 16:07] danjenson commented on #11287
This is still an issue for me -- I have a text field in a Grid item and every time I focus or unfocus it and the label shifts, the scrollbar flickers and the page shifts jitters left and right.

[2020-02-11 16:12] TomPradat commented on #19657
I'm not sure I understand you correctly, are you suggesting something like this :

[code]

[2020-02-11 16:44] Lee-Fixter commented on #850
I have the same question - ever solve this?

[2020-02-11 16:46] oliviertassinari commented on #19657
Yes, exactly. For the prop, we could name it `scopeToChildren`? Or a shorter name?

[2020-02-11 17:47] DHedgecock opened #19658 "Menu/Popover container (auto-handle refs)"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Are there any plans to use Context or something similar to handle automatically creating the connections between Menu/Popover components and the targets for them?

## Examples 🌈

It would be fantastic to have an API similar to this:

[code]

[2020-02-11 17:55] TommyJackson85 commented on #19606
Somebody take a look at this sandbox:
https://codesandbox.io/s/ts3f6

I am able to open and close it from clicking it, but I am not able to swipe it close on mobile. Is there anything I am missing in the Sandbox or is there anything that is overriding it like props? I used the mini variant drawer as a base template and just added some of the props from the swipeable api documentation, while also u

[2020-02-11 18:13] oliviertassinari commented on #19658
There is a very close discussion about this topic in #9893.

[2020-02-11 18:32] ejsmith03 opened #19659 "Safari: multiline Textfield placeholder concatenated to one line"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In safari: when attempting to create line breaks in placeholders for a multiline TextField, line breaks fail and all placeholder text appears on one line. Works as expected in Chrome

[2020-02-11 18:43] TommyJackson85 opened #19660 "Questions on SwipeAreaProps (How to use them)."
In the [Swipable Drawer API](https://material-ui.com/api/swipeable-drawer/) documentation, more clarity could be added to how to utilise ```SwipeAreaProps``` on the Swipe Area. Maybe add a brief example. I couldn't find any sandbox examples of it being used.

In the mean time, does anybody have examples of where this feature is used? Or how I might use it? Can it be used for Styling it? Maybe not

[2020-02-11 20:31] larsenwork commented on #19549
@oliviertassinari FWIW I read the docs the other day and only after quite some time did I realise they were only for development environments and that my CRA setup already shook things as much as possible.

A slightly more radical change than the one above could have "saved" me (maybe?)

[code]

[2020-02-11 20:38] oliviertassinari commented on #19549
@larsenwork Sounds great, do you want to open a pull request? :)

[2020-02-11 20:56] afilp commented on #12044
@oliviertassinari

I see where the problem is, and I have the same problem:

![image](https://user-images.githubusercontent.com/7850073/74278058-3fed5780-4d21-11ea-8179-52412f6d97af.png)

The `z-index` of the snackbar is indeed 1400, while the modal's is 1300:

![image](https://user-images.githubusercontent.com/7850073/74278137-614e4380-4d21-11ea-8264-923ad6174441.png)

But, the modal is rendered

[2020-02-11 21:10] developit commented on #18977
@oliviertassinari what's the reason for manually recreating object refs using `findDOMNode`? That seems like an odd hack, and likely the source of this issue.

https://github.com/mui-org/material-ui/blob/a992b09f1c0c7d4e16ceb8b1982242c5a1dd6d7d/packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js#L502-L510

[2020-02-11 21:20] JesselJohn commented on #2572
Hi. This was closed a long back but still, I feel this is still an issue. I have created a fiddle with scenarios I know https://jsfiddle.net/Zword/rd8gtaso/2/ . Using createPortal of 'react-dom' should fix this. I can make changes and raise a PR

[2020-02-11 21:50] mbrookes commented on #14420
You might be missing that there is an intermediary here – the software developers who are dependent on libraries such as Material-UI, but whose customer are the afore-mentioned IE11 using monsters (more on that later). If one of the barriers to sale is "must support IE11", then not having IE11 support is business limiting at best. Who we are supporting is no IT departments stuck in the dark ages,

[2020-02-11 22:03] GitTom commented on #14420
There will, of course, be some shops that keep using IE11 for many years to come.  I assume that the solution for developers that want to cater to them is to use the last version of MUI that supports IE11 - the existence of those customers can't mean that IE11 support continues to complicate MUI for all those years.

It's just a matter of when, and I would think that, now that Microsoft has sorted

[2020-02-11 22:15] oliviertassinari commented on #19659
Using line break is invalid in the placeholder attribute: https://www.w3.org/TR/html52/sec-forms.html#the-placeholder-attribute.

[2020-02-11 22:15] #19659 closed

[2020-02-11 22:25] mbrookes commented on #14420
@GitTom We can hope! :D

[2020-02-11 22:26] ryancogswell commented on #14420
@mbrookes This is definitely the category that our company falls in. Our customers are primarily Fortune 500 companies many of which have internal applications that don't work on modern browsers. On the flip side, many of them now also have internal applications that require modern browsers, so many of their employees **are** used to switching between two browsers even if they don't really underst

[2020-02-11 22:33] hc-codersatlas commented on #6115
@koistya if I read it correctly emotion looks a lot faster than the rest.

@oliviertassinari do most developers actually "make" this choice? As per your mention of react-select and storybook, most developers are likely going to use whatever is bundled with the UI components and material-ui being a big 1. Unless what's bundled is terrible no 1 is going to increase their bundle size and spend more e

[2020-02-11 22:36] hc-codersatlas commented on #9893
Does this relate to https://github.com/preactjs/preact/issues/2249? Seems to be an issue with not managing `refs`.

[2020-02-11 22:36] oliviertassinari commented on #18977
@developit I think that the motivation was to support the case when a developer provides a custom Backdrop that doesn't use `React.forwardRef` ref correctly. We have an open discussion about it on the React repo: https://github.com/facebook/react/pull/15091.

In the case of the Paper, it seems to be legacy, we can drop it :). Nice finding!

[2020-02-11 22:39] oliviertassinari commented on #18977
@tky5622 Do you want to solve this problem? I think that we could move forward with this simple fix :)

[code]

[2020-02-11 22:53] oliviertassinari commented on #12044
@afilp Do you have a reproduction?

[2020-02-11 23:03] oliviertassinari commented on #19660
@TommyJackson85 In this case, the best thing is to blame to find the origin of the prop: we can find #13592. So it was for styling. With hindsight, now, I would probably add a style rule `swipeArea` to better addressed the initial use case:

[2020-02-12 00:29] mbrookes commented on #6115
![image](https://user-images.githubusercontent.com/357702/74291999-b2186900-4d2e-11ea-8bde-8dd8c45f2603.png)

[2020-02-12 00:45] EloB commented on #17064
Is there any action on this one? I'm trying to implement a file tree view for a electron project so lazy loading is pretty necessary. 😄

[2020-02-12 01:23] jedwards1211 commented on #6115
@South-Paw your proposed simplification wouldn't work, you can't use `${MuiCardContent}` in your example because `MuiCardContent` isn't a styled component.

https://styled-components.com/docs/advanced#referring-to-other-components

Essentially there's no way to avoid all the individual HoC wrappers.  Though after thinking about it for awhile I realized it's basically the same amount of typing/nami

[2020-02-12 01:28] arsen opened #19664 "[ButtonBase] Inconsistent ripple style with the material specs"
If you compare the ripple effect from material specs, it feels like the one here is a bit slower than the one at Google, animation duration should be a little shorter.

You can see it yourself.

- Google version: https://material.io/components/buttons
![guidelines](https://user-images.githubusercontent.com/3165635/101633031-fe076d80-3a26-11eb-9ba5-af78b412d30e.gif)

- MUI version: https://material

[2020-02-12 01:28] jedwards1211 commented on #6115
@mbrookes @oliviertassinari how would conditional styles and inner component styles be handled?
For example how would we do something equivalent to this with `styled-components`?
[code]
I've calmed down about the idea of the switch to `styled-components`, but I want to make sure there's a solid plan for handling these kinds of use cases, because I assume the API would have to be very different or

[2020-02-12 01:29] South-Paw commented on #6115
@jedwards1211 ah my mistake. I was under the impression that the example was if they **were** styled components - but indeed that won't work if they are not 👍

[2020-02-12 01:32] South-Paw commented on #6115
@jedwards1211 [clsx](https://www.npmjs.com/package/clsx) is something I've seen paired with styled-components in the past for conditional classes - is that sort of what you're meaning?

[2020-02-12 01:35] jedwards1211 commented on #6115
@South-Paw that (or `classnames`) could be an internal detail of the solution, but since `styled-components` wrappers only inject a single `className` AFAICT, there wouldn't really be a convenient way to pass several override class names into a component.

[2020-02-12 01:40] hc-codersatlas opened #19665 "subpixel-antialiased for css baseline"
As per https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth:

`subpixel-antialiased` - On most non-retina displays, this will give the sharpest text.

Most desktop displays aren't retina. CSS Baseline should include a media query to use this instead of `antialiased` for better font smoothing.

[2020-02-12 01:41] South-Paw commented on #6115
@jedwards1211 would you have the time to do a quick example so I can better understand what the use case you're describing is and where you feel the issue is? I'd like to be able to help find a solution if there is one 😄

[2020-02-12 01:44] jedwards1211 commented on #6115
Yeah I'm out of time tonight but tomorrow I will.
Also I've got work in progress on [jss-codemorphs](https://github.com/codemodsquad/jss-codemorphs), ultimately planning to make a VSCode extension for converting pasted CSS into JSS.

[2020-02-12 02:11] mbrookes commented on #19664
MCW isn't the spec, it's another Google team's interpretation of it, although ironically material.io now uses MCW for their "Interactive demo" giving the sense that it is definitive, when often it deviates from the spec.

Could you reference the spec at material.io (but not an "interactive demo" 🙂)?

[2020-02-12 03:37] hashwin commented on #19587
Any workaround for this? It's happening a lot in my production now

[2020-02-12 03:47] hashwin commented on #19587
It's hard to reproduce, but I'm pretty sure hooks aren't supposed to be used like that in a non-react function.

https://medium.com/@jonchurch/how-to-fix-react-error-rendered-fewer-hooks-than-expected-e6a378985d3c

[2020-02-12 06:47] sturoid opened #19666 "Dialog takes over focus on Stripe checkout input elements."
I'm trying to use the stripe checkout (react-stripe-checkout package) on top of a Dialog. Before I upgraded to the new version of material-ui (previous was 0.19.4) it worked fine. I upgraded to 4.9.2. Now when the dialog is open and Stripe checkout is on top, if you click any of the inputs, they will focus for a split second, and then lose focus. I've tried to look at events happening on the page

[2020-02-12 07:01] safonoi commented on #19587
No, we could not reproduce this case.
We will try to reproduce this error by modifying the file `withWidth.js`.

I will write here if we find out the reason

[2020-02-12 07:12] fyodore82 commented on #19461
The shorter example of implementing `HnLink` can be found in the [documentation](https://material-ui.com/guides/typescript/#usage-of-component-prop).

The problem with implementing `LinkProps` so they can be used without generic component is that TS has difficulties inferring type from object property type.

Say we have fictional type
[code]

Then we want to use it like
[code]
We expect TS to infe

[2020-02-12 07:13] codeskills-nl commented on #19587
Because our system is going in production as well, I had to rewrite the useWidth function. Also I had update the Hidden component and the withMobileDialog because they have a dependency on this function.
I did this a few days ago and since then I don't have the error anymore.

[2020-02-12 07:15] hashwin commented on #19587
It's happening because hooks (useState and useEffect) are being called from a function that's not rendered as a react component.

<img width="1166" alt="_6798_Error__Minified_React_error__310__visit_https___reactjs_org_docs_error-decoder_html_invariant_310_for_the_full_message_or_use_the_non-minified_dev_environment_for_full_errors_and_additional_helpful_warnings__-_stark-peak-26561_-_Rollb" src="

[2020-02-12 07:37] sturoid commented on #19666
I was able to get this to work but only with a specific setup using the Modal component instead of the Dialog component

`
    <Modal
      open={open}
      onClose={onClose}
      className={classes.modal}
      closeAfterTransition
      BackdropComponent={Backdrop}
      BackdropProps={{ timeout: 500 }}
      {...rest}

      <Fade in={open}>
        <>
          <div className={classes.paper}

[2020-02-12 08:40] pvdstel commented on #19587
hashwin Whether a function is rendered as a React component or not does not matter too much; you can write your own hook that uses useState (or other hooks) and it'll work just fine, even though it isn't rendered directly by React. Although the usage of a hook in reduce is debatable, it really should work fine if you don't change the number of breakpoints.

----

Over the past few days, we've seen

[2020-02-12 08:47] kodermax opened #19668 "Bug with styled types"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹
When we use Custom props for styled function when get the error:

[code]

My sandbox https://codesandbox.io/s/hopeful-tesla-e9fut

| Tech        | Version |
| ----------- | ------- |

[2020-02-12 09:18] eps1lon commented on #19666
Thanks  for opening this issue and providing some context.

Could you include a reproduction (perferably a [codesandbox](https://material-ui.com/r/issue-template)).

The Dialog is trapping focus inside itself. If there's another modal window and the dialog isn't aware that it is inert it will steal focus. But we need an actual example to debug this issue.

[2020-02-12 10:29] LorenzHenk opened #19670 "[TextField] Outlined renders gap with label = empty string"
Regression for outlined text-field with `label=""`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![label set to empty string](https://user-images.githubusercontent.com/10603631/74325937-cb9ace80-4d89-11ea-805c-56db7d38c9a9.png)

[2020-02-12 10:30] eps1lon commented on #19113
Tested 3.8.1 on our test suite and it seems like they're as fast as the previous ones using 3.2.4 (3.7 was significantly slower).

[2020-02-12 10:43] eps1lon commented on #19670
I think we want to stick with `string` => some label, `undefined` => no label semantics. It's simpler that way instead of separately handling empty strings. We would also need to document these because "empty string" is not obvious.

With regards to regressions: This would also apply to `label={0}` which doesn't make much sense at all.

To avoid churn we could special case `label === ""` and remov

[2020-02-12 10:48] oliviertassinari commented on #17064
@EloB The component lazy mount its children in the DOM. I would expect that you can create 10,000 TreeItem React elements with almost no performance implication. Is it accurate?

However, the data fetching part might be an issue. We might be able to improve the component to provide lower-level primitives to handle it. For instance, a loading state as well as an event to trigger the data fetching?

[2020-02-12 10:53] michelalbers commented on #19668
Use the generic types of styled like so:

[code]

[2020-02-12 10:59] michelalbers opened #19671 "Inconsistent behaviour when using dynamic styles"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the ```styled()``` function to generate a styled version of a Paper component changing the background does not work dynamically. You can override it using a static color bu

[2020-02-12 11:00] oliviertassinari commented on #19665
@hc-codersatlas Interesting concern. What implementation do you have in mind?
It would be awesome to run a benchmark on what font smoothing the other website is using. It seems that the best strategy depends on the platform and the font used:

[code]
*Facebook*

[code]
*Gmail*

[...] to continue

[2020-02-12 11:04] oliviertassinari commented on #19671
@michelalbers Don't forget to save the codesandbox

[2020-02-12 11:05] hc-codersatlas commented on #19665
I was more thinking of using a combination of screen size and pixel ratio in a media query, though not sure if it's that accurate on all devices. I'm sure mobile sets pixel ratios.

` html { ... -webkit-font-smoothing: antialiased }`
`@media only screen and (min-width: 1200px) {...}`
`@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {...}`

[2020-02-12 11:15] michelalbers commented on #19671
Thanks for the reminder! Done ☺️

[2020-02-12 11:23] oliviertassinari commented on #19660
@TommyJackson85 Or my bad, there is no style sheet for this component, so for the `SwipeableDrawer`, I think that it would be great to allow global theme changes. For instance, hysteresis, discovery, etc.

What about?
[code]

[2020-02-12 11:24] eps1lon commented on #19665
Sounds about right.

It doesn't state that `antialiased` will be better on retina (though it seems to imply it). We could switch to that smoothing.

[According to css-tricks](https://css-tricks.com/snippets/css/retina-display-media-query/)
[code]
should to the trick

[2020-02-12 11:25] kodermax commented on #19668
@michelalbers Thanks a lot. Could you please add these examples to the documentation?

[2020-02-12 11:40] paolololol opened #19672 "Border color is not applied when specifying only some sides"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When applying `borderColor` to a `Box` which only specifies some sides, e.g. `borderRight={1}`, the color is not correctly applied, instead the default black is shown

## Expected Beh

[2020-02-12 11:42] larsenwork commented on #19549
Sure, I'll draft something (also inspired by comments above).

[2020-02-12 12:01] eps1lon commented on #19672
The issue is that the order isn't preserved `border-right` is applied after `border-color` while the props indicate the reverse.

[2020-02-12 12:41] oliviertassinari commented on #19672
It seems related to #16995 and #17915.

[2020-02-12 12:50] michelalbers commented on #19671
Happens with simple divs and the height property as well.

[code]

Final class will not have a height property.

[2020-02-12 13:56] ryanburr commented on #17720
@oliviertassinari What was the reason for the `wontfix` label? This still looks like an issue in `4.9.x`. The code sandbox you provided functions how I would expect.

[Here is a code sandbox with the issue in 4.9.x](https://codesandbox.io/s/material-demo-7ib4g)

The use case I have is to adorn an error or success icon to my inputs to provide the user with better feedback.

[2020-02-12 13:59] oliviertassinari commented on #17720
@ryanburr What's your use case for using the prop?

[2020-02-12 14:15] ryanburr commented on #17720
We adorn various icons to the end of our input components to provide things like help and error tooltips

[2020-02-12 14:32] oliviertassinari commented on #19666
I can't reproduce it either: https://codesandbox.io/s/stripe-vuzyv.

However, I think that it would be interesting to push https://github.com/mui-org/material-ui/issues/17497#issuecomment-579200539 further, it feels like that the interval we have introduced doesn't match the scale of the problem we wanted to solve with it in the first place: an element that has focus and that is unmounted.

1. Ste

[2020-02-12 15:48] Michal-Sh opened #19673 "[Tabs] Arrow is displayed after removing last tab"
I'm using the tabs component with the vertical option, the user is able to add/remove tabs dynamically.

### Current Behavior
When the **last** tab is selected and the user removes it the tab is removed successfully but scroll arrows are displayed without need.

### Steps to Reproduce
1. Go to [vertical-tabs-demo](https://stackblitz.com/edit/material-ui-vertical-tabs)
2. Select the last tab
3. Cli

[2020-02-12 17:02] amosbastian opened #19674 "Slider with custom ValueLabelComponent Tooltip and valueLabelDisplay="on" not showing immediately and lingers when used in drawer after closing"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The slider's thumb label does not show immediately even with `valueLabelDisplay="on"` and only shows when hovering over the slider's thumb. When a slider with a tooltip as thumb label

[2020-02-12 18:02] tar-aldev opened #19675 "Vendor prefixes for the same property."
Hello. Thank you for nice library. I have a question about vendor prefixes and browsers support.
As makeStyles function is returns a plain object., how can I replicate css like below?
[code]
As object cannot have duplicated keys, I guess I cannot do it like
[code]

[2020-02-12 18:11] oliviertassinari commented on #19675
JSS prefixes with feature detection, you can find more details in the history.

[2020-02-12 18:11] #19675 closed

[2020-02-12 22:16] mbyrne00 opened #19677 "[FormControl] The addition of z-index 0 breaks third party dropdowns"
- [ x ] The issue is present in the latest release.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After upgrading material-ui my dropdown that uses `react-select` appears behind any checkboxes. See example:
![image](https://user-images.githubusercontent.com/5687982/74382603-d3

[2020-02-12 22:45] amcasey commented on #19113
Frankly, I can't believe how much perf we were able to claw back without giving up the new functionality. :smile:  I think there might be a bit more slack (e.g. https://github.com/microsoft/TypeScript/pull/36754), but I still suspect that the most impactful change would be a simplification of the CSSProperties types.  Have you had a chance to play around with those at all?  It seems like at least

[2020-02-12 22:49] oliviertassinari commented on #19677
Do you have a minimal reproduction? What does the current style prevent?
(I don't think that we should optimize for react-select-material-ui, we can leave it outside of the equation).

[2020-02-12 22:54] mbyrne00 commented on #19677
I can whip something up. It's not just `react-select`. It's any component that would render children and expect the `z-index` to take effect. Adding `z-index: 0` to the form component restricts any of these.

[2020-02-12 23:03] oliviertassinari commented on #19677
I think that we can ignore the problem: https://codesandbox.io/s/ehcxy.

[2020-02-12 23:14] Sphinxs commented on #16186
An alternative (if you have a component architecture) is [React Sticky](https://www.npmjs.com/package/react-sticky)

[2020-02-12 23:14] oliviertassinari commented on #19677
Sorry I didn't save it, but basically, setting a zindex was solving the issue.

[2020-02-12 23:42] oliviertassinari commented on #19677
However, the requirement for a z-index on the form index (relative element) might be confusing: https://codesandbox.io/s/material-demo-zd19u, most people would expect it on the absolute positioned element. Let's wait to get more feedback before trading this for the cleaner text rendering.

[2020-02-12 23:44] mbyrne00 commented on #19677
Exactly my point ... thanks. Another user raised it as an issue in the linked PR. For now I'll work around. Thanks for taking a look into it.

[2020-02-13 01:40] kildareflare commented on #18442
For anyone else who tries the above and it does not work. You need to ensure that `CssBaseline` is placed **after** `MuiThemeProvider` E.g.

[code]

[2020-02-13 04:48] manferlo81 opened #19679 "Box Component odd behavior on Next.js"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Considering the following Next.js page...

[code]

...the margin and padding are not present. and I get a `Warning: Prop 'className' did not match. Server: "MuiBox-root MuiBox-root-42

[2020-02-13 05:47] CSFlorin opened #19680 "Table border-color cannot overwrite user agent stylesheet"
I am trying to overwrite the border-color of a table, but I cannot.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The table border-color remains the browser's default despite overwriting it.
![image](https://user-images.githubus

[2020-02-13 06:23] hashwin commented on #19587
https://www.reddit.com/r/webdev/comments/f26mbn/chrome_80_introduces_a_new_bug/

[2020-02-13 06:23] kimsk9410 opened #19681 "Clicking on Material Select triggers a ClickAwayListener."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hi, I hope you guys are doing well.

I tried to use ClickAwayListener with Select.
Demo code here https://codesandbox.io/s/material-demo-t3y67?fontsize=14&hidenavigation=1&theme=dark

[2020-02-13 07:21] oliviertassinari commented on #19587
Oh wow, a broken `.reduce` method in Chrome 80 would explain the errors 😮.

[2020-02-13 07:23] #19680 closed

[2020-02-13 07:24] oliviertassinari commented on #19680
Tip, target the cells.

[2020-02-13 07:29] #19679 closed

[2020-02-13 07:29] oliviertassinari commented on #19679
Tip, check our Next.js examples to configure the server side readering correctly.

[2020-02-13 07:31] joshwooding commented on #19656
Looks fine to me, Thirty One is set by default. I can change to another value and back with no issues.

[2020-02-13 07:33] oliviertassinari commented on #19681
Duplicate of #18586

[2020-02-13 07:33] #19681 closed

[2020-02-13 07:35] oliviertassinari commented on #19656
So it's not only me :)

[2020-02-13 07:35] #19656 closed

[2020-02-13 07:35] joshwooding commented on #19646
I’m worried about making the mini variant drawer demo more complex, maybe a customisation demo is better - trying to make it look like Facebook? cc @oliviertassinari

[2020-02-13 07:59] chitgoks opened #19682 "Avatar color using hex string"
this would be slick.
`
<Avatar color="{'#ff00ff'}"/>`

and also just an empty avatar so it will just be an ordinary empty circle with a   color.

[2020-02-13 08:05] Studio384 commented on #19664
The [List specs](https://material.io/components/lists) show the ripple effect in various demos that are part of the specs and not another interpretation by a Google team. They do seem faster than the ripple effect that MUI uses today.

[2020-02-13 08:46] eps1lon commented on #19113
Didn't someone from the TS team just tweeted recently that for every user who wants stricter types there's one who wants looser ones? :smile:

For me it's not really about type checking (browser devtools have far better capabilities of checking your CSS). It's more about having auto-complete available.

I'll play around with different "versions" and see how they do.

[2020-02-13 08:53] oliviertassinari commented on #19682
We will solve that in #15561. You will be able to use the background color prop.

[2020-02-13 08:53] #19682 closed

[2020-02-13 08:58] Elfayer opened #19683 "Button disabled gets twice class Mui-disabled"
When a Button is disabled, it gets twice the class `Mui-disabled`.

![unknown-20](https://user-images.githubusercontent.com/15869149/74418209-fd439080-4e82-11ea-8a2a-af084973e310.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[2020-02-13 09:21] spider58 opened #19685 "Tab Container is not keeps data when tab is changed"
hi.

https://codesandbox.io/s/material-demo-9kdv3

please check above sample link.. click ITEM TWO and write some text in text field which in ITEM TWO

and change TAB and select ITEM TWO again. you will see textbox value is being null even value gets from state

how can i solve this problem

[2020-02-13 09:25] #19685 closed

[2020-02-13 09:37] s97712 opened #19686 "support callback for InputLabel shrink props"
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
The current shrink property is very inconvenient to use, you need to capture events such as focus to get the correct behavior. Whether to consider receiving callback functions to make it more easy to use?

## Examples 🌈
<InputLabel shrink={s

[2020-02-13 09:44] s97712 commented on #19686
<InputLabel shrink={drity? true: undefined}/>

[2020-02-13 09:44] #19686 closed

[2020-02-13 09:44] s97712 commented on #19686
now I using `<InputLabel shrink={drity? true: undefined}/>` and get expected behavior

[2020-02-13 09:49] eps1lon commented on #19683
Kind of a general question I have about pseudo-class classnames @oliviertassinari.

If these are passed along to child components that also have these classes how are the styles reconciled?

[2020-02-13 10:01] towozy opened #19687 "[Paper] I met ESLint error issue"
Hi.

I used Typescript 3.8.0-beta. Because I need to use private methode "#" on my project workspace.
Then I met this lint issue. (I'm not sure whether it's related to the preceding one.)
![스크린샷 2020-02-13 오후 6 53 25](https://user-images.githubusercontent.com/2697040/74422565-27e91580-4e92-11ea-996f-41a46810a8c6.png)
below details
![스크린샷 2020-02-13 오후 5 56 34](https://user-images.g

[2020-02-13 10:02] Falkyouall commented on #19173
I am experiencing the exactly same issue here. I was glad throwing out another autocomplete library,
now i have to roll back to the old react-autosuggest component.

@shepherd1530 when i'm not passing the inputProps to the TextField, hell is loose and the console getting very angry at me.

"@material-ui/core": "^4.8.3",
"@material-ui/lab": "^4.0.0-alpha.39"

[2020-02-13 10:04] oliviertassinari commented on #19683
I thought it was a duplicate but I can't find it.
What's the concern? We could be using a `data-disabled`, it would work identically. The advantage of a class name is that you can easily toggle it in the dev tools, familiar with Bootstrap, and the syntax is "lighter" when used it in a selector.

[2020-02-13 10:05] eps1lon commented on #19683
ButtonBase declaring styles for `disabled` as well as `Button`. Since both have the same classname which styles are used?

[2020-02-13 10:06] eps1lon commented on #19683
I thought we didn't support this anyway since the classnames might get optimized in production?

[2020-02-13 10:08] safonoi commented on #19587
Thanks a lot!

[2020-02-13 10:09] oliviertassinari commented on #19683
`.Mui-disabled` is a global class name, it's meant to be used. The equivalent in Bootstrap is `.disabled`.
If we were using a data- attribute, we would get the merge happen seamlessly. We concanate the class names, so it behave differently for us. I'm not aware of any potential bug it can cause.

[2020-02-13 10:09] #19687 closed

[2020-02-13 10:11] eps1lon commented on #19683
Right, we don't support styles in `.disabled` only `.some-other-class.disabled`.

I think this is fine. It's not worth spending time evaluating this at runtime to strip duplicate classnames unless there's an actual bug.

[2020-02-13 10:11] #19683 closed

[2020-02-13 10:13] eps1lon commented on #19672
Indeed. Closing in favor of #16995

[2020-02-13 10:13] #19672 closed

[2020-02-13 10:13] eps1lon commented on #17915
Closing in favor of #16995.

[2020-02-13 10:13] #17915 closed

[2020-02-13 10:13] oliviertassinari commented on #19173
@Falkyouall do you have a reproduction with the last version of the component?

[2020-02-13 10:20] oliviertassinari commented on #19173
Well, we had two pull request attempts regarding a similar issue that match the description provided (even if there is no reproduction). I think that it's a good opportunity to attach this issue to them.

Regarding the solution, I share a potential good one in https://github.com/mui-org/material-ui/pull/19565#issuecomment-582980693

[2020-02-13 10:27] eps1lon commented on #19587
Since this was fixed in chrome (though unreleased) I'm closing.

We do have leverage detecting an order change if the breakpoints length changed but this was not the cause here.

[2020-02-13 10:27] #19587 closed

[2020-02-13 10:55] Elfayer commented on #19683
The mean of that report was about cleanness as there is no impact, there is just a duplicate class for no reason.

[2020-02-13 11:02] Falkyouall commented on #19173
@oliviertassinari
After checking the examples with the Google API,
I'm not sure anymore if this behaviour is my fault since it's working flawlessly there..
I'll get back to you asap after a little re assuring session.

[2020-02-13 11:40] towozy commented on #19687
Thanks your reply :) But I thought this issue is type bug, and I expect this version need to update type. Although this does not cause compilation errors, it makes it difficult to distinguish them from real ones in the development environment. So  I hope to resolve this issue.

[2020-02-13 13:17] captain-yossarian commented on #19670
I can pick it up if no body mind

[2020-02-13 13:46] declanmagee opened #19688 "Accessibility [Menu]: Screen readers initially not announcing first menuItem in a menu"
- [ X ] The issue is present in the latest release.
- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the user opens a menu, the screen reader does not announce the focussed/first item within the menu.

## Expected Behavior 🤔

Once a user opens a menu, the first menuItem that

[2020-02-13 13:59] declanmagee opened #19689 "Accessibility [Menu]: iOS Voiceover focus trapped after selecting a menuItem"
- [ X ] The issue is present in the latest release.
- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

With voiceover enabled on iOS, when the user opens a menu and selects an option, the menu closes as expected however the focus gets trapped on the selected menu item even though t

[2020-02-13 14:34] kjc17710 commented on #16641
Hello,

It appears the same issue happens with v3. Which also lists "completed" as an option to override in the documentation.

https://v3.material-ui.com/api/step/

Could the same fix be made to the v3 code?

[2020-02-13 14:37] oliviertassinari commented on #16641
@kjc17710 v3 is no longer maintained, at the exception to security issues

[2020-02-13 15:24] eps1lon commented on #19113
@amcasey I don't think the recursive nature of CSSProperties (called CSSObject in styled-components) is the main issue. Otherwise their perf would be as bad as ours. See https://github.com/eps1lon/mui-types-perf/pull/6 and [the benchmark logs](https://github.com/eps1lon/mui-types-perf/pull/6/checks?check_run_id=443838982).

It might be more of an issue with the amount of "overloading" we do. `styl

[2020-02-13 15:25] eps1lon commented on #19276
Was closed in #19501

[2020-02-13 15:25] #19276 closed

[2020-02-13 15:38] embeddedt commented on #19113
Can the types conditionally be made less accurate (based on a user setting)? That shouldn't break any existing code (because the setting can be off by default), and would enable users like me who don't need the complex types to quickly see a performance increase.

[2020-02-13 15:42] eps1lon commented on #19113
It's not even confirmed that you would gain a noticeable difference. I've seen 15%   perf wins but it's questionable if this is recognizeable.

The "user setting" I could see is patching the package on install. We don't have the bandwidth to maintain multiple versions of the typings.

[2020-02-13 15:50] tomasshaw commented on #10051
Bumping thread.
A `direction` tag would be a welcome addition, both adding more flexibility to `Collapse` itself, and going hand in hand with the `Slide` component functionability

[2020-02-13 15:56] Andrew5569 opened #19690 "Animation bug when using <ButtonBase component={TableRow} />"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the ButtonBase component is clicked the ripple animation is shown across the entire visible portion of the web page

## Expected Behavior 🤔

When the ButtonBase component is clic

[2020-02-13 15:59] #19690 closed

[2020-02-13 16:00] eps1lon commented on #19690
The console warnings include useful help.

[2020-02-13 16:22] dabretin commented on #17973
Hi all
I don't know if it can help but the only solution I found to add customizable classes exposed when I "extends" a component is to make a custom `makeStyles`:
[code]

Let's do a great custom button (with a new class for add `textDecoration`:
[code]

Now on the App you can customize all the parent `Button` classes and the added one (textDecoration).

[2020-02-13 16:46] thealjey commented on #17245
@oliviertassinari

actually, I was very easily able to figure this part out
thankfully the documentation has links to source code

however, what is still puzzling for me (I love this feature, btw)
is how to make the default prop values of own components to also be configurable like this

I don't think that part is documented at all

[2020-02-13 17:07] emkographics commented on #18251
@SladeRun14
We ran into the same issue recently and ended up doing the following:

Replace onChange with onInputChange
Then create setupTests.js in your root project and add:
[code]

[2020-02-13 17:11] CSFlorin commented on #19680
Thanks @oliviertassinari that doesnt seem to work for `border-spacing` And i tried targeting most possible components for that and couldn’t get it. Do you know which that is, and how do I know which in the future for other components and attributes? I don’t see this in the docs and of course the browser DOM doesn’t correctly indicate which.

[2020-02-13 17:14] emkographics commented on #18251
@maximeantoine1997 see my previous comment and see if that help you. Also, i haven't used inputValue in my change fireEvent so you may want to try with value instead.

[2020-02-13 17:24] Sourcetreehugger commented on #17973
Hi @dabretin . Thanks for your suggestion.  I think you are currently rewriting the WithStyles type. I altered it slightly so I can use it with useStyles. Did you check out the zip file I sent in my previous post? I'm currently using it and it is behaving in the same way as the withStyles approach :) Let me know if it helps you.

[2020-02-13 17:52] piehouserat commented on #6115
never been a fan of the styled components syntax or the way the package is maintained, not a fan of this proposal. One of the things I like about material ui the most is the current styling solution.

[2020-02-13 18:09] oliviertassinari commented on #17245
@thealjey For your own components, you can use this module
[code]

[2020-02-13 18:26] amcasey commented on #19113
@eps1lon Sorry, I think my question might have been unclear.  I think `CSSProperties` is fine (though, obviously, if it would be faster if it were smaller) - I was actually hoping there might be room to simplify the subtypes in https://github.com/mui-org/material-ui/blob/master/packages/material-ui-styles/src/withStyles/withStyles.d.ts.  For example, would you get fewer completions if you changed

[2020-02-13 18:27] amcasey commented on #19113
Also note that `styled-components` is having (we believe) closely related checker performance issues.

[2020-02-13 18:27] pmn4 opened #19691 "Support for "flex" in Typography's display prop"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Could `Typography` allow for _any_ valid `display` value?
Could it skip the `PropTypes.oneOf(['initial', 'block', 'inline'])` check when `component` is provided?

## Examples 🌈

[code]
from the console:
[code]

## Motivation 🔦

In an attempt

[2020-02-13 18:39] amcasey commented on #19113
Regarding being able to specify the type more exactly, I've filed https://github.com/microsoft/TypeScript/issues/36782.

[2020-02-13 18:51] dabretin commented on #17973
@Sourcetreehugger : shamefully I admit taking a look too quickly (and not having seen the main file `UseStylesHelperTemp.ts`). Very inspirating !!!
I will look at this more deeper tomorrow and I will report my impressions.
Thx a lot !

[2020-02-13 19:28] mrspeaker commented on #19048
I was just searching for a similar issue (apologies if this is not related) - but it seems like there is MuiBox style injected for every Box - even if there is no custom styling on it. For example, from my site - you can see that there is only one MuiPaper style (even though i have several) - but there are tens of MuiBox styles:

<img width="406" alt="Screen Shot 2020-02-13 at 2 14 21 PM" src="htt

[2020-02-13 19:38] joshwooding commented on #19691
This is due to the prop clash of Typography and the Box components. I’m not sure what I’d do in the case but I don’t believe adding flex to the accepted values is the correct fix.

[2020-02-13 20:37] Andrew5569 commented on #19690
The issue isn't with having a `<span>` in the `<tr>`. I can reproduce the issue without using a table and there will be no console error. [example](https://codesandbox.io/s/dreamy-worker-r2bkd)

The issue is that `BaseButton` doesn't work properly when `display: table-row;` is applied to it. [example](https://codesandbox.io/s/jolly-architecture-h1u1b)

[2020-02-13 20:43] pmn4 commented on #19691
Right, yeah, I agree that "flex" shouldn't be added broadly.
maybe a `componentProps`, similar to `inputProps` on `TextField`?
maybe a custom PropType, which allows for `any` if `component` is set?

[2020-02-13 20:51] serusko commented on #15697
this must be joke, so resolution is importing this helper anywhere its needed ?

[2020-02-13 21:31] bartlomiejzuber commented on #19048
I've found out that this isn't a MUI specific issue, instead it's jss common problem and while MUI is using it under the hood hence the issue. Main reason why all those Boxes got empty styles generated is because JSS in dev mode is using `CSSStyleSheet` api (specificaly `insertRule` method). This API is super fast and allows to quickly attach CSS directly to DOM component without real DOM modifica

[2020-02-13 22:24] jdoklovic opened #19692 "[Autocomplete] can't change option highlight color"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The Autocomplete component uses a very light default option highlight and doesn't exposes any CSS props to easily change it as far as i can tell.

## Expected Behavior 🤔
an easy css cl

[2020-02-13 23:09] Konstrictorman commented on #1340
Did you solved this?.  Please tell me how... I'm having the same exact situation

[2020-02-13 23:17] #18985 closed

[2020-02-14 00:44] noconsulate commented on #783
I am having this problem with conditional rendering. I have a a javascript object in the render that returns various components in the .js file. I'm not describing it correctly, sorry. When I fix it I'll edit this post, if I remember to.

[2020-02-14 04:28] manferlo81 commented on #19679
@oliviertassinari thanks a lot for your support. In had a quick look at the example (from my phone) and I didn't see where I got wrong, I will clone it later and try to figure it out. Thanks a lot again.

[2020-02-14 09:20] eps1lon opened #19696 "[Dialog] Flatten DialogTitle DOM structure"
## Summary 💡

`DialogTitle` should be flatter

## Examples 🌈
- https://codesandbox.io/s/old-pond-bpjb9

## Motivation 🔦
- Aligning items of the title
[code]
- fewer DOM elements -> fewer brittle element selectors

It is possible but requires targetting nested elements. `disableTypography` is not helpful since then we wouldn't render a heading element.

We could leverage aria but this would go agai

[2020-02-14 09:31] oliviertassinari commented on #19696
Always in favor of removing DOM nodes when possible.
In this case, would it still allow developers to use a close button in the header? would it still allow a border-bottom on the element? I imagine it would in both cases.

[2020-02-14 09:38] eps1lon commented on #19696
I'd be interested to see both use cases in the current implementation.

Generally it's always possible to add additional DOM elements if necessary. Removing is not (or at least a lot harder).

[2020-02-14 10:01] oliviertassinari commented on #19696
I believe this demo illustrates the constraints I have mentioned: https://material-ui.com/components/dialogs/#customized-dialogs.

[2020-02-14 10:20] shd101wyy commented on #16191
+1 I ran into the same issue in shadow dom.

[2020-02-14 10:20] eps1lon opened #19697 "`@material-ui/icons` in-editor preview"
## Summary 💡

Having a preview of the icons in the editor is similar to having autocomplete available for the API. Our icons explorer is definitely helpful and better if you need inspiration. But if you know what kind of icon you want then in-editor preview should boost productivity.

## Examples 🌈

1. link to icons explorer in SvgIcon.d.ts jsdoc
2. This shows a preview (vscode) when hovering over

[2020-02-14 11:07] oliviertassinari commented on #19697
Slick!

- Do we have a way to improve the contrast of the preview?
- Would the new comments have a significant impact on the package size on npm? As long as it doesn't make installs timeout, we should be fine.

[2020-02-14 11:14] oliviertassinari commented on #19692
@jdoklovic Thanks for opening this issue. This raises interesting underlying concerns. I see a couple of dimensions to it.

1. **attribute**. I'm not aware of any cases, across all our components, where we use `data-` attributes to solve this problem. Maybe I was too influenced when benchmarking Reach UI. So, in this case, I would propose that we stick to the patter we use elsewhere: `.Mui-disable

[2020-02-14 12:08] eps1lon commented on #19697
For a particular theme, yes but not in general.

I have never seen an install timeout due to package size. Since these are compressed repetitive content such as this one should have minor impact.

[2020-02-14 12:13] oliviertassinari commented on #19697
@eps1lon We have had report about it in the past: #12432.

[2020-02-14 13:13] damir-sirola opened #19698 "[Typography]{TypeScript] Styled Typography with component prop reports TypeScript error"
When the Typography component is styled with `withStyles` and if the `component` property is passed to it, TypeScript reports an error.
I have managed to track down when the regression happened and it was in version 4.8.1 of `@material-ui/core`. I believe it's related to the following [commit](https://github.com/mui-org/material-ui/commit/b6ff4f55e5375a5fbd7040485d12ea7170a8047b)

[code]

- [x] Th

[2020-02-14 13:49] mbrookes commented on #19664
It's a shame the ripple doesn't have specific guidelines, as it seems to vary from one component to another, depending on the designer who created the video.

I can't work out why from the code, but comparing the ripple on the [Card](https://material-ui.com/components/cards/#media) component with that on the [List](https://material-ui.com/components/lists/#simple-list), it appears that the Card ri

[2020-02-14 13:50] CaptainT33mo opened #19700 "[Autocomplete] Unable to set value in the `Autocomplete` component"
I want to set an initial value for a controlled `<Autocomplete />` component so that when I fetch data from API I want one of the items from that API response to populate as a default selected option in that `<Autocomplete /> component.
Here is what I am trying:
[code]
But When I try the above code I get the following error:
```Material-UI: the `getOptionLabel` method of useAutocomplete do not han

[2020-02-14 13:56] venikx commented on #6115
It's interesting to note I read Facebook might be open-sourcing a CSS-in-JS solution as well. It could valuable to take a look at that as well.

Concerning the actual topic at hand. I dislike styled-components since it the Typescript experience with the library is not great. Slow compilation times, insane interfaces (trying to understand how styled-components work through the interface is a nightm

[2020-02-14 14:06] #19700 closed

[2020-02-14 14:16] oliviertassinari commented on #6115
@venikx How likely will it happen? The last time I have heard about something that might suggest it was in https://reactpodcast.simplecast.fm/75, it seemed to be a 5 years long objective.

[2020-02-14 14:20] eps1lon commented on #19698
Decorators can't preserver generic properties. We'd like to see this resolved in some way but don't have the bandwidth to do so. See #15695 for more context and possible workarounds.

[2020-02-14 14:20] #19698 closed

[2020-02-14 14:33] pmirandaarias commented on #7237
Still happening in latest IDEA 2019.3

[2020-02-14 14:35] damir-sirola commented on #19698
I'm not talking about TypeScript decorator feature, but about `withStyles` function from `@material-ui/core` which is used to style the component.

[2020-02-14 14:45] eps1lon commented on #19698
decorators are not solely a TypeScript feature but a term used throughout programming. `withStyles` can be used as a decorator which is why I used the term.

We typed `Typography` so that it can infer the correct types from the passed `component`. It requires a generic type that is lost using `withStyles`.

[2020-02-14 14:45] CaptainT33mo opened #19701 "[Autocomplete] Unable to set value in the `Autocomplete` component"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I want to set an initial value for a controlled `<Autocomplete />` component so that when I fetch data from API I want one of the items from that API response to populate as a default selected option in tha

[2020-02-14 14:46] eps1lon commented on #7237
Please continue the discussion in the linked webstorm tracker. If they close their issue and this still happens please open a new issue in our repository.

[2020-02-14 15:22] jdoklovic commented on #19692
@oliviertassinari Thanks for the info. By chance do you know what I could put in makeStyles from MUI to target the attribute selector?  I haven't had any luck doing it and I currently don't have any stylesheets and want to avoid adding one just for this.

I should also note that this is going to be used in a themeable host where we use a "dynamic" MUI theme that adjusts it's colors and typography

[2020-02-14 15:34] jdoklovic commented on #19692
just for clarity, I've tried hacking it using this code:

[code]
I can see that it does indeed generate the proper classname, however, the component complains that it doesn't accept the key:

![image](https://user-images.githubusercontent.com/620106/74544657-1e50c380-4f0d-11ea-8508-930149a7ebb6.png)

[2020-02-14 15:40] MMaicki opened #19702 "Two instances of MuiSvgIcon in project."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There are 2 instances of MuiSvgIcon `<style ... data-meta="MuiSvgIcon">...</style>` in project head one with `MuiSvgIcon-colorPrimary-2` class which is setting icons color to default

[2020-02-14 15:44] eps1lon commented on #19702
This is paramount in this case. We don't have the bandwidth to debug large applications for you. Without a reproduction we won't be  able to help you.

[2020-02-14 15:50] jdoklovic commented on #19692
Actually, I found a hack that will work for now.
I just needed to do:

[code]
and then in my component function, simply call
`useStyles();`

It's not great, but it will get me through until a "real" solution is found.

Thanks!

[2020-02-14 15:56] MMaicki commented on #19702
Give me some time, I'll need to create sample sandbox for you.

I'm thinking that there could be two instances of theme in my app as `...-colorPrimary-2` is incremented from `...-colorPrimary`.

[2020-02-14 16:16] nohaapav opened #19703 "ToggleButton breaks Menu items"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Menu items are aligned horizontally if ToggleButton is used. See:
<img width="955" alt="Screen Shot 2020-02-14 at 5 09 24 PM" src="https://user-images.githubusercontent.com/4179104/74

[2020-02-14 16:16] fromi opened #19704 "[Hidden] Remove component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The Hidden component documentation states: "Any other props supplied will be provided to the root element (native element)." (see https://material-ui.com/api/hidden/)
However, the typ

[2020-02-14 16:50] mbrookes commented on #19703
Please provide a reproduction. You could use the codesandbox that is linked from the issue template, or or use the "edit in codesandbox" button on one of the demos.

[2020-02-14 16:53] oliviertassinari commented on #19692
@jdoklovic This is, from my perspective a "support request"

You could use the theme directly, but global styles works too!

[code]

[2020-02-14 16:58] #19572 closed

[2020-02-14 17:03] #19657 closed

[2020-02-14 17:03] #17244 closed

[2020-02-14 18:14] oliviertassinari commented on #19645
@rolandbrake You can already accomplish this by forcing the `variant` prop on the TableCell.

[2020-02-14 18:14] #19645 closed

[2020-02-14 18:40] venikx commented on #6115
Wow, really? I didn’t know they already gave a “timeline”. For some reason I assumed it’d come around the same time with Concurrent Mode. Too bad.

That being said, my point about styled-components still stands. I prefer to use pure material-ui’s way of handling styles vs using styled-components. The typings from styled-components seem to be there for the compiler and not so much for documentation

[2020-02-14 19:19] arsen commented on #19664
I think that it should at least be configurable, the speed of the ripple effect.
Looks like the duration is a fixed const.

https://github.com/mui-org/material-ui/blob/c06a88d24235685dd769c1a3df82152ded17a6ca/packages/material-ui/src/ButtonBase/TouchRipple.js#L8

[2020-02-14 19:24] nohaapav commented on #19703
@mbrookes Looks like i'm having issue with duplicated styles. See:

<img width="417" alt="Screen Shot 2020-02-14 at 8 18 17 PM" src="https://user-images.githubusercontent.com/4179104/74560640-3f460280-4f67-11ea-8fb8-a214922bceb3.png">

I'm using material in cljs: https://github.com/cljsjs/packages/tree/master/material-ui. Looks like my lab package build is wrong: https://github.com/nohaapav/materi

[2020-02-14 19:30] oliviertassinari commented on #19703
@nohaapav Make sure you bundle a single version. We won't be able to help more. If you could share the solution, it would be awesome, it could help others :).

[2020-02-14 19:30] #19703 closed

[2020-02-14 20:44] jdoklovic opened #19705 "[Autocomplete] Add option to reset highlighted index"
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Currently the highlighted index is saved between open and closes so that the next time the listbox is opened it highlights the last known highlighted option.

This works if your option list is always the same, however, if your options change

[2020-02-14 20:49] GFynbo commented on #18869
Hi all,

I'd like to take a stab at this issue. This is my first time contributing and any advice or recommendations would be greatly appreciated. From what I can see, the following needs to be done:

- Move AvatarGroup from Lab --> Core
- Update docs to reflect AvatarGroup in Core as well as the Avatar docs with correct import
- Add a spacing prop
- Add a max prop to have automatic +x behavior

A

[2020-02-14 20:53] justdanallen commented on #11386
@oliviertassinari This doesn't actually let you change the color write? You can just change the x-offset, y-offset, blur, and spread of the umbra, penumbra, and ambient shadows. Am I missing something?

[2020-02-14 20:55] oliviertassinari opened #19706 "[RFC] Integrate the pickers repository back into the main mono-repository"
### Context

A bit of history, Material-UI has had an agitated history with the date picker. It's a component we used to support very early in the core, at least, 4 years ago: https://v0.material-ui.com/#/components/date-picker.
However, during the v1 rewrite, it was, at some point, decided that the core team didn't have the bandwidth for it, that it would be better to distribute the ownership. So

[2020-02-14 21:02] oliviertassinari commented on #18869
This sounds to me that it should be the subject of 3 different pull requests. 1. move to core 2. add spacing prop 3. add max prop. Otherwise, it sounds great.

[2020-02-14 21:09] oliviertassinari commented on #19705
@jdoklovic Interesting, I think that the current wrong behavior comes from an approximation I took, I have made any inputValue change -> reset highlighted index. In an ideal world, the index should also be kept in sync with the value + option index position that matches.

[2020-02-14 21:28] malouro opened #19708 "[Breadcrumbs] Can't expand collapsed Breadcrumbs via keyboard"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

A collapsed set of Breadcrumbs (ie: a `maxItems` prop is set, and the number of inner items exceeds this value) cannot be expanded via keyboard.

## Expected Behavior 🤔

Should be abl

[2020-02-14 21:29] jdoklovic commented on #19705
I've also noticed that if you hit "Enter" on a freesolo with the listbox open but no option selected, it clears the input value, which is not what I want in my case.

[2020-02-14 21:40] jcafiero opened #19709 "[Autocomplete] Cannot delete multiple Chips with Escape Key"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently, if you hit the Escape key while focused in a multi-select Autocomplete with the `clearOnEscape` prop it will not clear the Chips from the window.

One behavior I did notice

[2020-02-14 22:00] schnerd commented on #15511
Ended up here for item 6. `makeStyles` shouldn't re-calculate and re-attach styles unless the props change.

I'd imagine it can be fixed with a small change like https://github.com/schnerd/material-ui/commit/21f98bd61c6ab10bc54bf8195e70cefcc96502bb.

[2020-02-14 22:04] oliviertassinari commented on #19709
@jcafiero Brilliant, thanks for reporting this bug. It should be an easy one to fix and write tests for. Feel free to go ahead :).

[2020-02-14 22:08] oliviertassinari commented on #19708
I believe that we also miss a descriptive label, something we could have built-in and localize.

[2020-02-14 22:34] mbrookes commented on #18869
I'd suggest that the move to core should come last.

[2020-02-14 22:35] jdoklovic commented on #19705
![ac-clearing](https://user-images.githubusercontent.com/620106/74574058-05193880-4f48-11ea-9e69-6383a73a241c.gif)

[2020-02-14 22:42] jdoklovic commented on #19705
I think that has to do with the highlighted index not being set on ArrowRight/ArrowLeft

[2020-02-14 22:58] emersonbottero opened #19710 "Input type files for TextFields"
Create optional type=file

Now it show the default button to insert a file on top.

I think it would be better if we could replace it with a iconButton and the Text entry is disable until a file is selected, after that the name of the file fill the TextField

This implementation shows how I think wath should be espected when you set type="file"

[code]

[code]

[2020-02-14 23:11] #19710 closed

[2020-02-15 00:22] weberer opened #19711 "Support for 4 and 8 character hex colors in CreateMuiTheme"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Support for the color notations or `#rrggbbaa` and `#rgba` should be added as an input option in CreateMuiTheme.

While 4 and 8 digit hex notations are only supported in Chrome 62, and Firefox 49 and later, the format could be converted to th

[2020-02-15 01:57] South-Paw commented on #6115
I have used styled-components and Typescript together in at least 4 large projects so far and haven't had any problems with the types - they can be a bit hairy when doing things in a component library, but that'd be on MUIs end - not on the consumers end.

I haven't experienced this in any project I've worked on that uses them - do you have an example somewhere of what you mean?

You could also co

[2020-02-15 02:20] hc-codersatlas commented on #6115
@South-Paw the problem with the voting is that the only choice is: JSS vs styled-components. The vocal part is about not liking styled components and not that they like JSS. Maybe if the vote

At the end of the day anything is better than JSS. It's old. It's slow and bulky (bundle size) and it should be moved on. So the votes doesn't support your conclusion at all.

[2020-02-15 02:38] yordis commented on #6115
Could you all move to Spectrum chat or something that doesn't fill this issue with noise about people fighting each other to see who wins the argument?

I am following the thread for discussions about this topic from the core team.

I think you are underestimating the judgment of the core team, and personally I feel that you should stop arguing about this topic and trust the core team more; at the

[2020-02-15 02:53] Aadmaa commented on #16547
When implementing this in TypeScript you'll get the error, "Could not find a declaration file for module '@material-ui/core/Slider/ValueLabel'" and will need to add a .d.ts file for ValueLabel.

I think this works:
[code]

[2020-02-15 05:17] theswerd opened #19712 "Material Table Bug"
## Current Behavior 😯

The Code Sandbox doesn't work
Copying the code doesn't work

## Expected Behavior 🤔
The code should run

## Steps to Reproduce 🕹

https://material-ui.com/components/tables/#material-table,
https://codesandbox.io/s/material-demo-iyjxk -- this is the exact output of clicking to "edit in code sandbox" button

## Solution
I believe adding the Material Core to the demo will fix i

[2020-02-15 06:26] nainardev opened #19713 "[DOCS] Custom scrollbars"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When switching to `dark theme` in docs, every part of the website changes to dark theme, except the **scrollbar**.

The scrollbar looks weird
## Examples 🌈

https://codepen.io/subfauna/pen/CLtmF
## Motivation 🔦
Scrollbar looks weird in dark t

[2020-02-15 06:52] OlegLeonoff opened #19714 "Autocompletion dropdown opens itself after going on some other tab and returning"
Open demo https://codesandbox.io/s/u94xo. Select a country. Go to some other tab in browser. Return to the tab https://codesandbox.io/s/u94xo. Autocompletion select opens itself without your intention.

[2020-02-15 07:57] CaptainT33mo opened #19715 "[Autocomplete] Unable to set value in the Autocomplete component"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I want to set an initial value for a controlled `<Autocomplete />` component so that when I fetch data from API I want one of the items from that API response to populate as a default selected option in tha

[2020-02-15 07:57] oliviertassinari commented on #16547
The component is private, my demo isn't correct.

[2020-02-15 08:00] oliviertassinari commented on #19712
We will remove this demo with #18872, no need to solve this problem.

[2020-02-15 08:00] #19712 closed

[2020-02-15 08:01] oliviertassinari commented on #19713
Closing for #9919

[2020-02-15 08:01] #19713 closed

[2020-02-15 08:13] oliviertassinari commented on #19714
Duplicate of #18815.

[2020-02-15 08:13] #19714 closed

[2020-02-15 08:17] oliviertassinari commented on #19711
Do we really want to support it? I'm not even sure our components can handle it. I suspect some don't. What about we close with "waiting for upvotes"?

[2020-02-15 08:44] dzimukairu commented on #6538
just a heads-up, still facing this issue.

[2020-02-15 09:33] nainardev commented on #19713
This isn't duplicate

[2020-02-15 10:48] hugoperier opened #19716 "third-party routing libraries on click does nothing"
Hello !

I am following this guide https://material-ui.com/guides/composition/#button

I want my CardHeader redirect to another part of my app on click. I have done the code bellow according to the guide
[code]

and

[code]

BUT, when I click on the card, I have the link displayed in the bottom of my screen (like a real link), but If I press on it, it does nothing. I have to press ctrl and click t

[2020-02-15 11:09] jeromeSH26 commented on #15573
Wondering how you change the textColor of a button in variant reverse, as it is referred as "Label" , in the muiButton class.
Tried this, but for the outlined variant, the text color remains white and doesn't turned into the same color as the border
[code]

[2020-02-15 13:24] nohaapav commented on #19703
@oliviertassinari I figure it out. Problem is that current cljsjs packages are webpack bundles and each of them is dependant on core module. This leads to styles propagation issues. If one is using just `material-ui` and `material-ui-icons` problem is not so obvious, because these do not share many base components e.g. `ButtonBase` ..
If on the other hand material-lab is used few components (toggl

[2020-02-15 13:45] nainardev opened #19718 "[Toast] Swipe to Dismiss"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Little UX improvement
## Examples 🌈

https://materializecss.com/mobile.html

[2020-02-15 13:48] nainardev opened #19719 "Navigation Rails"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Navigation rails provide ergonomic movement between primary destinations in apps.

## Examples 🌈
https://material.io/components/navigation-rail/#

[2020-02-15 14:02] #19718 closed

[2020-02-15 14:02] #19719 closed

[2020-02-15 14:03] #19716 closed

[2020-02-15 14:07] SofianeDjellouli commented on #17672
Hi, I'll be working on this if that's OK with you guys.

[2020-02-15 15:02] TommyJackson85 commented on #19646
It's why it's only something I would suggest for one set of icons as apposed to all. For comparison purposes. It's not a whole lot of code to add anyway.

[2020-02-15 15:09] mbrookes commented on #19711
Possibly not. I was thinking more about the colorManipulator.

[2020-02-15 15:09] #19711 closed

[2020-02-15 15:26] mbrookes commented on #19646
@TommyJackson85 I agree with @joshwooding with not making the demo any more complex. If you add conditional rendering to not show tooltips when expanded, it's going to be a fair bit more code.

Incidentally if you use an empty placement string, you get:

![image](https://user-images.githubusercontent.com/357702/74590562-73710000-5007-11ea-8648-d81c242b87f1.png)

[2020-02-15 18:01] kurtwilbies commented on #19705
@djoklovic Could you please share your code!

[2020-02-15 19:23] EloB commented on #17064
@oliviertassinari Thanks for your response. I think my problem was that I made a component that returned a React fragment of TreeItem's. I think that is broken at the moment. Using component that returns `TreeItem` as it children then I think it works.

[code]

Like this
[code]

[2020-02-15 19:23] captain-yossarian commented on #19708
@oliviertassinari @malouro Can I pick it up ?

[2020-02-15 20:06] malouro commented on #19708
@captain-yossarian that's cool with me, sure!

[2020-02-15 20:14] londonoliver opened #19723 "[Grid] Incorrect layout of nested containers"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img width="1165" alt="Screen Shot 2020-02-15 at 11 40 50 AM" src="https://user-images.githubusercontent.com/14134993/74594175-1b76d100-4fe8-11ea-86c5-5c50a64e1909.png">

There is one

[2020-02-15 22:21] mcobzarenco commented on #9098
Stumbled across this issue, I am struggling to figure out how to achieve the equivalent of flexbox's `align-self: xxx` using `<Grid>`

[code]

[2020-02-16 07:04] ibsenvalath commented on #7431
That works!

[2020-02-16 08:29] Losses opened #19738 "[TouchRipple] Document of TouchRipple Component"
It seems that there isn't a document for TouchRipple Component, can we have one? :)

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2020-02-16 08:31] Losses commented on #19738
BTW, is it possible to make TouchRipple (or CircleRipple) receive class props, so users can customize the style of it?

[2020-02-16 09:17] eps1lon commented on #19706
has this become a problem? I haven't noticed them apart from some minor TS issues that are not tied to /pickers anyway.

I'm missing a tolling comparison.  Someone should compare CI and see what overlaps and what takes additional time.

Then we need a concrete plan of action. This is still a very shallow explainer. What actual steps would we take to merge the repos? docs first? source first? What

[2020-02-16 09:32] chaudharykiran commented on #19709
As my understanding, `esc` should delete all the selected chips same as `x` button click. If that is the case, I will like to work on this issue.

[2020-02-16 09:51] dmtrKovalenko commented on #19706
Basically we need to have different CI. Different tests, build and everything.
My thought on that — we can make 2 branches of CircleCI workspaces for pickers and core and basically early from core branch if only pickers was changed.

Pickers are quite complex control because we are testing everything for each of date-adapters. AFAR Now we have something like 1500 integration (enzyme) tests and 60

[2020-02-16 10:13] eps1lon commented on #19706
This is not describing a monorepo. If we have to have different "everything" then  separate repositories is the way to go.

[2020-02-16 10:15] LittleTheFu opened #19739 "the param type of Slide's callback function 'onChangeCommitted'"
--------------^ Click "Preview" for a nicer view!

We use GitHub issues exclusively as a bugs and feature request tracker.

For support, please check out https://material-ui.com/getting-started/support/. Thanks!
------------------------------------
about Slier's 'onChangeCommitted'  param type.
Why the type of param 'value' is not 'number' but 'any'?

![Screen Shot 2020-02-16 at 6 04 46 PM](https:

[2020-02-16 10:27] dmtrKovalenko commented on #19706
Totally, but the main idea is to merge documentation for better SEO and potentially easier for users to find information and examples (1 site instead of 2)

[2020-02-16 10:50] eps1lon commented on #19739
We shouldn't reference `any` types anymore and prefer `unknown`. In any case (pun intended): You can use ´value: unknown` if you want to.

[2020-02-16 11:33] oliviertassinari commented on #19739
What about having the prop-types's description use `number | number[]` to match the TypeScript's types?

[2020-02-16 11:34] oliviertassinari commented on #19738
It's a private component.

[2020-02-16 11:52] AlexKreinis opened #19740 "Autocomplete doesn't work as shown in the website"
Hi, I have this code from Material UI

[code]
my question is, how do I use it with onChange and value in react, theres nothing about it in the documentation and I can't get it work.  this is the original repository [https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/autocomplete/ComboBox.js](url)

[2020-02-16 12:06] #19740 closed

[2020-02-16 14:05] cygniv404 commented on #4904
value={value ?? ''} in the case of input number. **babel-env** preset is needed for es10

[2020-02-16 14:25] amitka-github opened #19742 "Tooltip stuck on hover"
Issue happens in latest code. While debugging found out that the "handleLeave" methods doesn't get called.
Tested in codesandbox as well with the link from doc. it only happens occasionally.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Beh

[2020-02-16 14:39] mbrookes commented on #19738
TouchRipple isn't documented because it's an internal component. What's your use-case?

[2020-02-16 16:38] SofianeDjellouli commented on #18586
Hi,
I'll give it a try by:
- using Poper in Popover,
- handling the backdrop logic.
If that's OK with you.

[2020-02-16 16:52] manglide commented on #16194
This works!!

[2020-02-16 17:11] dimitropoulos opened #19744 "[BreakpointIndicator] Add new component"
see: https://github.com/dimitropoulos/mui-breakpoint-indicator
try it out: https://www.npmjs.com/package/mui-breakpoint-indicator

I have been using this component for a while like:

[code]

And I bet I'm not alone in finding value in such a tool.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summ

[2020-02-16 19:00] gumpenaajayvarma opened #19745 "Select API do not show the value based on the value prop"
I am using Material-ui 4.7.1 in my project and implemented the select API as such:
https://codesandbox.io/s/select-api-issue-pkbhb

But the selected item is not shown in the select field.
The value prop given to the <Select /> component is not showing the value given to it.

I consider this as an issue as ideally the value given to the select should be shown.

[2020-02-16 19:34] Cristy94 opened #19746 "MaterialUI Icon fontSize overwrriten by Materialicons font CSS when using injectFirst"
I am using `injectFirst` so I can overwrite some MUI styles in my stylesheets. The problem is that the `.material-icons` class from https://fonts.googleapis.com/icon?family=Material+Icons now overwrites the CSS that `<Icon fontSize='small'>` sets. So the `font-size` is always the `24px`.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-or

[2020-02-16 21:55] eps1lon commented on #19706
So it's just point 3? Point 1, 2, 4 and 5 made by Olivier don't apply? Has somebody looked at the viability of pulling in all the other tools? How do we merge it? What happens to history etc.

This seems all very shallow. "just merge it into packages/material-ui-pickers" is not enough. CI would probably slow down by 50%. Not to mention how this would even integrate regarding git history.

[2020-02-16 23:02] shepherd1530 commented on #19173
passing  **...params.InputProps** to the InputProps fixed the issue for me.

[code]

[2020-02-17 07:38] zachsa opened #19748 "[Slider] Component doesn't allow for preventing event propagation for drag-related event handlers."
# Summary
Using `<Slider>` as a child of a React component that also listens for drag events, when I drag the Slider, the parent component event handlers are triggered. (I think - actually I'm a little out of my depth in terms of how these libraries are handling events and which events are being handled)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://

[2020-02-17 09:29] KenNguyen-0107 commented on #17001
Hi eps1lon,

did you have the time to checkout the implementation of virtualization to Select (either using React-Window or React-Virtualized).

My problem is pretty similar to this post here:
https://stackoverflow.com/questions/57799541/unable-to-select-item-when-using-textfield-or-select-with-react-window/60258515#60258515

[2020-02-17 09:39] #19702 closed

[2020-02-17 09:39] oliviertassinari commented on #19702
@MMaicki Make sure you bundle a single version of the modules, it should solve your issue.

[2020-02-17 10:36] Losses commented on #19738
@mbrookes We are implementing a set of heavily customized components, which need CSS variable as system controller to adjust colors. It's known that the [styling system of material and CSS variables didn't play well with each other](https://github.com/mui-org/material-ui/issues/12827), so we are thinking if we could only use TouchRipple / CircleRipple component directly.

[2020-02-17 11:05] hotgen opened #19749 "Leading icon doesn't work"
Version: 4.9.2

[code]

Result:

![leading1](https://user-images.githubusercontent.com/1940558/74648284-64688a00-518e-11ea-8c0d-b7985b0d72dc.png)

Expected:

![leading2](https://user-images.githubusercontent.com/1940558/74648286-65012080-518e-11ea-862b-26c348a30602.png)

[2020-02-17 12:27] Chaviland7 commented on #19360
@Ergouzii if it helps, I was having this problem with the autocomplete component and, while alpha.39 gave me the same issue, alpha.40 solved it

[2020-02-17 12:47] akdnfbf opened #19750 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 13:03] anirudh411 commented on #19745
Hi @gumpenaajayvarma ,
`Select` component takes an `onChange`  prop to handle selection changes.
Try passing  your  `handleChange` method as  `onChange` prop to `Select` component and it should work fine.
Here is the working code
[https://codesandbox.io/s/select-api-issue-z3u9g](https://codesandbox.io/s/select-api-issue-z3u9g)

[2020-02-17 13:39] hibearpanda commented on #17064
We currently have a file tree view in our application as well and I tried replacing our hand-rolled tree view with the Material-UI `TreeView` component.

There was really only 1 problem I had using `TreeView` in its current state.

Because there is no way to indicate whether a node is expandable or not (Folder or File), and the expandIcon won't appear until a `TreeItem` has children, I had to lazy

[2020-02-17 13:58] davidchanho opened #19751 "CustomizedHook.js dark mode"
In the documentation for customized hooks, [https://material-ui.com/components/autocomplete/#customized-hook](docs), the white background makes the text illegible  while using dark mode.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behav

[2020-02-17 14:06] gumpenaajayvarma commented on #19745
Hi @anirudh411
Thanks for the efforts. But I am interested in knowing why my implementation do not reflect the value.

[2020-02-17 14:12] solenoo opened #19752 "Question: Styling structure"
Hello,

after updating to **v4.9.1**, we started experiencing issues with *duplicate classes* in production.

So my question is, is our structure correct, because I am a bit confused with all these different providers.

This is how it looks:

[code]

My question here is do we need the *JSS provider* ? Is the *generateClassName* prop passed correctly ?

Another thing regarding the *duplication* is

[2020-02-17 14:17] DimaSamusenko commented on #19647
Breaking changes as minor version? This was unexpected for me :)

[2020-02-17 14:36] anirudh411 commented on #19745
Hi @gumpenaajayvarma ,
`onClick` does not seem to be  working on `MenuItem` when they are used inside `Select Component` . That is why value is not reflected in your implementation as `handleChange` is not being called.

[2020-02-17 14:38] oliviertassinari commented on #19647
The Autocomplete is in an alpha stage, see https://material-ui.com/components/about-the-lab/.

[2020-02-17 14:44] helen119 opened #19753 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:15] RehabHussein commented on #15573
Hi @oliviertassinari when do you think we can have this feature ? I really appreciate your hard work !

[2020-02-17 15:20] thehig opened #19754 "[Divider] Becomes thicker/thinner depending on browser zoom level"
While developing using the `Divider` component, I noticed in Firefox that zooming in and out would cause some Dividers to become invisble, and some to become thicker. After some investigation, I found that this could be caused by subpixel calculation.

Related google search results:
- https://stackoverflow.com/questions/12547580/borders-disappear-in-chrome-when-i-zoom-in
- https://stackoverflow.co

[2020-02-17 15:21] thehig commented on #19754
I have submitted a PR that changes the Dividers UX to use a Border with a `thin` thickness which is consistent at all zoom levels

[2020-02-17 15:31] #19754 closed

[2020-02-17 15:35] #19752 closed

[2020-02-17 15:35] #19751 closed

[2020-02-17 15:42] oliviertassinari commented on #19749
Duplicate of #13898

[2020-02-17 15:42] #19749 closed

[2020-02-17 15:43] #19745 closed

[2020-02-17 15:48] Angelk90 commented on #3186
@rsteckler :
Look: https://codesandbox.io/s/material-demo-6zqvp

[2020-02-17 15:59] mcabs3 opened #19756 "Allow onMouseEnter/onMouseLeave, (and others?) handlers for ListItem without 'button' prop"
I don't see any previous issues or comments about this in the project. But is there a reason why I am unable to use onMouseEnter/onMouseLeave on a `ListItem` in typescript without the  `button` prop applied? I understand that the `button` prop designates whether to use a `li` or a `button` but I should still be able to use the various handlers?

- [X ] The issue is present in the latest release.
-

[2020-02-17 16:31] etienneleveque opened #19757 "[Select] Popover doesn't stick to parent when a prop changes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When you scroll down on a select component with many items, the popper doesn't stick to the parent when the props change meanwhile the select is open.

## Expected Behavior 🤔

The pop

[2020-02-17 16:32] EloB commented on #17064
@hibearpanda I've also had problem with that. For instance a directory was empty then it wasn't expandable. I've solved that with adding a `TreeItem` and wrote "Empty" as label. Except from that I'm fine with the implementation.

[2020-02-17 16:56] mbrookes commented on #19738
In that case I think you may be best to clone the component into your project, and make the changes you need locally.

[2020-02-17 17:01] GFynbo commented on #18869
What should the spacing prop be defined by? Just raw values ranging from some number such as 2 to -12 or something?

[2020-02-17 17:04] danawoodman commented on #16846
This is indeed still an issue from what I can tell using the latest MUI, React and Typescript I get these errors for custom components as well as the default options:

[code]

AFAIK  this should be re-opened.

[2020-02-17 18:22] oliviertassinari commented on #18869
Great question. My initial intuition was to say a to use a multiple of theme.spacing unit, but in this context, I wonder if a px unit wouldn't be better. For instance, let's say a user customize theme.spacing, should it impact the AvatarGroup?

[2020-02-17 18:49] zekehernandez commented on #19374
@oliviertassinari, I can still reproduce this, both in the docs, and in my own app.
The issue is sometimes when you have an item selected and click the dropdown arrow, the Autocomplete doesn't gain focus, thus when you click off, the dropdown list doesn't close.

Here are my steps:
1. Go to Material-UI docs
2. Go to Autocomplete component
3. Select a value in the Combo Box section
4. Close the dro

[2020-02-17 19:13] heken375 opened #19759 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 19:28] ralberts commented on #18482
@mespeche Thank you!  Saved me tons of time!

[2020-02-17 20:25] oliviertassinari commented on #19706
Here is an extended version of the previous advantages:

1. **code sharing**. This is probably the single most important argument I have, the following ones derive from it. It's a profound belief that the fewer barriers we have between the different modules of our software, the more consistent **user** experience and **contribution** experience we will provide, the more efficient and effective we

[2020-02-17 20:38] GFynbo commented on #18869
Yeah that was my exact concern too. I think because the existing functionality is just an explicitly set pixel value and to change it requires using css we can extend that and allow those preset spacing options or they can continue to change via css. It feels to me that it should be unaffected by theme.spacing, do you agree?

I was thinking 3 preset options of

- 0: -4px
- 1: -8px
- 2: -12px

Or s

[2020-02-17 21:59] GFynbo commented on #18869
I went with 5 spacings ranging from `-4px` to `-20px` in `4px` increments. I've got the changes up in a feature branch and made changes to the API documentation too, but I'm not sure what/where any testing should be included. @oliviertassinari

[2020-02-17 22:09] oliviertassinari commented on #18869
@GFynbo Right, there is this third option (3.): to accept an enum, like small, medium, large values.

[2020-02-17 22:49] MattShrider commented on #18013
Sorry for the 4-month necropost, but I just ran into this issue as well, was it closed because it isn't a normal use case?
@sopranolinist Did you have a workaround? Manual CSS?

[2020-02-17 23:03] GFynbo commented on #18869
@oliviertassinari Yeah maybe that's the best way forward. The small medium and large may be confusing as the values are negative, perhaps a narrow, normal, and wide are easier or something like that? But also maybe those sizes for spacing are only confusing for me haha

[2020-02-17 23:21] kurtwilbies commented on #19705
Any news?

[2020-02-17 23:29] DHedgecock commented on #19658
Yes! A Dropdown component is exactly what I'm looking for, I'll close this issue and subscribe to #9893  one. Thanks for the amazing library 🎉🙌

[2020-02-17 23:29] #19658 closed

[2020-02-17 23:43] mbyrne00 commented on #19677
Hey @oliviertassinari - should this issue be re-opened considering you have asked for community discussion? It seems it's not closed just yet.

[2020-02-17 23:56] oliviertassinari commented on #19677
@chybisov What do you think about the idea to revert the change in order to minimize unexpected behavior when attaching a pop-up to a form control?

[2020-02-18 05:50] Losses commented on #19738
Hmmmmm, maybe you are right...

[2020-02-18 05:50] #19738 closed

[2020-02-18 06:19] Musacoli commented on #17992
If anyone is still facing this issue, try checking out the documentation and using one of the test utils there.

This helped me for my case, I created a render HOC to use for each test that had a MaterialUI component.

[code]

[2020-02-18 08:07] chybisov commented on #19677
@oliviertassinari good question... I think to minimize unexpected behavior we can make additional fix and apply `z-index: 0` in `FormControl` only for `variant: filled`, because this is the only `variant` where `z-index: 0` is really useful. This will be sort of trade off and I can provide PR for this. What do you think?

[2020-02-18 08:12] trickreich opened #19764 "Popper V2"
Are there any plans to update the dependency?

[2020-02-18 08:26] eps1lon commented on #19764
Duplicate of #19358

[2020-02-18 08:26] #19764 closed

[2020-02-18 08:38] hockeymikey commented on #14302
How do I style both the root object and the menu portal? Seems I can only do one or the other.

[2020-02-18 09:42] LittleTheFu commented on #13793
you save my day

[2020-02-18 10:09] oliviertassinari commented on #19677
@chybisov I suspect that consistency will help, so not changing the behavior based on the variant value.

[2020-02-18 10:23] AbleLincoln commented on #19479
I believe I found a solution: [CodeSandbox](https://codesandbox.io/s/bug-on-addornments-cjxp7)

The important code is below. Basically, you need to make sure you
1. pass all the `params` to the `TextField` with `{...params}`
2. Explicitly pass `InputProps` to the `TextField`. This prop should be an object where you first spread all the props from `params.InputProps`.
3. `InputProps` should also ha

[2020-02-18 11:11] chybisov commented on #19677
@oliviertassinari perhaps, but `variant: filled` has text rendering issue and I think it's not good practice to leave such issues in codebase due to some 3rd party libs made some components over it. We should investigate more complex solution that will satisfy both sides, e.g. fix `FormControl` to not using z-index at all. I think there might be another solution. I'll try to look.

[2020-02-18 11:40] chybisov commented on #19677
@oliviertassinari I have one idea, but one question before I can make a PR. These lines [52](https://github.com/mui-org/material-ui/blob/c28697d0ba4c891f826133a77e58f298dc50c4bb/packages/material-ui/src/InputLabel/InputLabel.js#L52) [71](https://github.com/mui-org/material-ui/blob/c28697d0ba4c891f826133a77e58f298dc50c4bb/packages/material-ui/src/InputLabel/InputLabel.js#L71) have made for fixing C

[2020-02-18 11:47] archfz commented on #8549
What about using em?

[2020-02-18 12:41] oliviertassinari commented on #19677
I think that swapping the dom structure would be equality deceptive than the z-index change, if not more. Also, as far as I remember, a few CSS selectors relies on the DOM structure.

[2020-02-18 13:12] chybisov commented on #19677
@oliviertassinari could you please check this? I've tried it locally and it works fine.

[2020-02-18 13:45] larsenwork commented on #19665
I'd suggest either

1) not adding any custom font smoothing on CSS baseline as this depends very much on which `font-family` and `font-weight`s  you are using. It also depends on if you have predominantly white text and a dark background or the inverse.

2) Have it user tweakable/overwritable somehow.

So I'd remove https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/CssBas

[2020-02-18 13:59] oliviertassinari commented on #19665
@larsenwork 2. is already possible with the `theme.overrides` feature, same as https://material-ui.com/customization/typography/#self-hosted-fonts.
I recall a similar discussion regarding the letter spacing, maybe we could use something similar? We only set the font smoothing for Roboto?

https://github.com/mui-org/material-ui/blob/f2d74e9144ffec1ba6a098528573c7dfb3957b48/packages/material-ui/src/

[2020-02-18 14:28] larsenwork commented on #19665
Ah, cool - didn't realise it was already possible.

Seems a bit "over engineered" to me.

Related discussion that somehow ends up with the project owner making the "wrong" conclusion in my opinion: https://github.com/material-components/material-components-web/issues/248

I just tested a couple of google products (docs and flight) that both use Roboto and none of them have any custom font smoothin

[2020-02-18 14:29] wojtczal commented on #16833
@oliviertassinari is using the `key` prop the library recommended way of handling outline resize when label changes?

[2020-02-18 14:32] jcafiero commented on #19709
@chaudharykiran that's fine with me. Yes, that is the desired behavior.

[2020-02-18 14:39] Ritorna opened #19765 "[Tooltip] Apply enterDelay on Component base"
Tooltips shouldn't open immediately when another tooltip is already opened. Each component instance should respect its own delays.

Though there is no official description about the behavior, material uses the proposed behavior for its tooltips: see
https://material.io/components/tooltips/#specs

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.co

[2020-02-18 14:52] larsenwork commented on #19746
You could just set a custom injection point for MUI and put it after your link. Something like this if you use create-react-app:
`.env`
[code]

`index.html`
[code]

Where you have your stylesprovider
[code]

[2020-02-18 15:04] zachsa commented on #19748
Just out of interest, I see that there is the same problem when using a slider from `react-md` library: https://codesandbox.io/s/upbeat-mahavira-87ikz?fontsize=14&hidenavigation=1&theme=dark

[2020-02-18 15:07] dfernandez-asapp opened #19767 "[Typescript] Incorrect children type for CssBaseline and ScopedCssBaseline"
The `children` property is declared as `ReactElement` and it should be the more general `ReactNode`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]
This example fails with the current typings. It should work.

Also `PropTy

[2020-02-18 15:16] Cristy94 commented on #19746
Thanks @larsenwork, that sounds like a good solution. I am not using `react-create-app`, I assume I have to also add `jss` to my project for this? Or is it already used by MUI?

[2020-02-18 15:22] larsenwork commented on #19746
@Cristy94 yes, `jss` is used by `MUI` so should already be in your project. (And as such shouldn't add to you bundle size since it's already included).

[code]

If you don't mind hardcoding a variable name twice you can do:
`index.html`
[code]

Where you have your stylesprovider
[code]

[2020-02-18 15:42] KoolP commented on #7466
In desktop size I have images stretching all away to the side and fixing with xs={12} strangely made a padding appear.  In my case the fix looks like @martjoao 's solution but only mobile width:
` gridSpacingFix: {
    '@media (max-width:600px)': {
      width: '100% !important',
      margin: '0 !important',
    },
  },`

[2020-02-18 15:43] MatiasManevi opened #19769 "Warning: React does not recognize the `labelId` prop on a DOM element"
- [ ] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am trying to use the Select component but this warning prevents it from working as expected.

The component is rendered but when choosing between the options nothing happens at all.

[2020-02-18 16:07] eps1lon commented on #19769
@MatiasManevi  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-02-18 16:34] eps1lon commented on #19767
You're totally right. Do you mind working on a PR?

[2020-02-18 16:43] eps1lon commented on #19765
I disagree with this. Imagine a toolbar where you can hover over the icons. You wouldn't want to wait on each button but rather quickly scan over them.

I do agree that we should document this behavior though.

Do you have a concrete example where individual tooltips should wait even if one is already open? This would help us determine if we want to support this use case.

[2020-02-18 16:50] Romcol commented on #17423
@oliviertassinari Thanks, I really think the `serverGenerateClassName` needs to be documented. I spent an hour looking for this. The docs suggest that options should be sent like for `StylesProvider`. Thank you for the lib by the way :)

[2020-02-18 16:54] eps1lon commented on #17001
Sorry, I didn't have time for it. Doesn't look like I will have bandwidth for this during OSS time in the near future.

[2020-02-18 17:13] oliviertassinari commented on #19765
I'm :100: with @eps1lon. For context, the behavior was introduced in #18458. Do you have external material to support this proposal (please don't refer to material.io).

[2020-02-18 17:16] oliviertassinari commented on #16833
No, this trick is no longer needed with the latest version.

[2020-02-18 17:35] m4theushw commented on #19671
Both examples are function values inside a function rule. JSS doesn't support [that](https://github.com/cssinjs/jss/issues/1057#issuecomment-473451450). If you want to create a dynamic rule use the props from the parent function.

[code]

[2020-02-18 17:39] jdoklovic commented on #19705
@kurtwilbies Here's what I was able to put together to get 99% there. With this code, the highlighted index problem is mostly fixed by always setting a loading option, however, in some cases it still doesn't highlight anything, which then causes the other bug where hitting ENTER clears the input if no option is selected.

I haven't found a workaround for those yet.

Note that in the code below, fe

[2020-02-18 17:41] jdoklovic commented on #19426
@oliviertassinari here's the code I have that's mostly working. Still suffers from #19705
Just posting it here in case someone else finds this.

[code]

[2020-02-18 18:05] MatiasManevi commented on #19769
Of course @eps1lon ! Thanks for the quick reply!

Here's an example

https://codesandbox.io/s/lingering-frost-s66xh

Maybe is a problem with the version. Would you suggest an update?

[2020-02-18 18:17] eps1lon commented on #19769
Oh you're using an older version of `@material-ui/core`. `labelId` was added in 4.5.2.

[2020-02-18 18:17] #19769 closed

[2020-02-18 18:27] eps1lon commented on #19706
Can't use jest with karma. It's unfortunately not possible to use jest with our testing approach.

It seems like most of this effort has to happen in pickers. Their repository needs to integrate our tooling and folder structure until it looks similar to ours. It basically needs to mimic our monorepo but with a single package in `packages/`. And the `package.jsoin` in the manifest need to have the

[2020-02-18 18:38] oliviertassinari commented on #19665
@larsenwork The fact that [Gmail](https://mail.google.com/mail/u/0/#inbox) and [Google font](https://fonts.google.com/specimen/Roboto) uses antialiased for the Roboto font on mac are, from my perspective, strong signals that we need to keep it for Roboto.

I'm curious regarding the person facing this problem, are you using a different font?

[2020-02-18 18:41] TommyJackson85 commented on #19660
I will work on this as it's related to another issue I am trying to fix.

[2020-02-18 19:02] MatiasManevi commented on #19769
Ok. I've updated to 4.9.0 and the select now reproduces other warning (I will write another issue if it merits), but my reported behavior dissapeared. Thank you!

[2020-02-18 19:10] larsenwork commented on #19665
ok 😃

Maybe the docs could be updated with instructions on how to disable it? So that this:

https://github.com/mui-org/material-ui/blob/c06a88d24235685dd769c1a3df82152ded17a6ca/docs/src/pages/components/css-baseline/css-baseline.md#L67

becomes:

[code]

[2020-02-18 20:40] oliviertassinari commented on #19665
@larsenwork I love idea, we had recently a thread on this matter. We mention this capability in https://material-ui.com/customization/typography/#self-hosted-fonts, but it's not obvious.

What about this diff?

[code]

[2020-02-18 20:51] kelly-tock opened #19772 "Warning: Prop `className` did not match. Server.... Typography component, prop based styles"
react-dom.development.js?61bb:530 Warning: Prop `className` did not match.

Server: "MuiTypography-root makeStyles-root-32 makeStyles-root-47 makeStyles-darkest-27 makeStyles-bodySmall-43 makeStyles-noTextTransform-41 MuiTypography-body1"
Client: "MuiTypography-root makeStyles-root-32 makeStyles-root-48 makeStyles-darkest-27 makeStyles-bodySmall-43 makeStyles-noTextTransform-41 MuiTypography-body1

[2020-02-18 20:52] kelly-tock commented on #19772
i'm going to try setting up code splitting in the reference implementation with my same typography wrapper.

[2020-02-18 21:04] #19772 closed

[2020-02-18 21:08] larsenwork commented on #19665
@oliviertassinari Even better 👏

One super pedantic thing:  I'd call it `Custom font-smoothing` instead of `Font antialiasing`

You don't enable anti-aliasing when setting `-webkit-font-smoothing: antialiased` but rather set it to a specific type af anti-aliasing — `pixel-based` instead of `subpixel-based`.

`-webkit-font-smoothing: auto` defaults to `subpixel-antialiased` as per https://developer

[2020-02-18 21:11] kelly-tock commented on #19772
posted in Stack overflow as well then:
https://stackoverflow.com/questions/60289525/react-dom-development-js61bb530-warning-prop-classname-did-not-match

[2020-02-18 21:44] kelly-tock commented on #19772
none of the existing stack overflow answers are recent enough from what I can tell, and neither are the issues in this repo. any help would be much appreciated.

[2020-02-18 22:08] dimitropoulos commented on #19742
I wasn't able to reproduce this - could you perhaps point to where you would expect `handleLeave` to be called?

[2020-02-18 22:21] oliviertassinari commented on #19742
It's a question covered in https://material-ui.com/components/tooltips/#disabled-elements.

[2020-02-18 22:50] kelly-tock commented on #19772
I tried it with the combination of `withStyles` and `createStyles` as well, and still have the same result.

[2020-02-18 22:53] kelly-tock commented on #19772
could it be something related to compiling our server code with webpack?

[2020-02-18 23:10] kelly-tock commented on #19772
ok i managed to reproduce on the reference example.

[code]

compiled with webpack.

@oliviertassinari  thoughts?

[2020-02-18 23:10] kelly-tock commented on #19772
will push up my repro.

[2020-02-18 23:11] kelly-tock commented on #19772
I basically compiled server, and used existing webpack config for client.

then ran `node build/server.js`. instead of the way it's running now.

[2020-02-18 23:21] kelly-tock commented on #19772
spoke too soon, tried out node polyfill settings, and when I tried it again it didn't show the error.

[2020-02-19 00:32] manualva7 commented on #7223
The tricky part is not the if / else isloading. If you have an array of rows and those rows have the custom component button, say, <ButtonWithLoader/>, it's very tricky to tell which button has been clicked. I currently have the issue that when initiating an axios call, I update the oncall prop to true, but since the <ButtonWithLoader/> I've created has been duplicated, the loader shows in each bu

[2020-02-19 01:12] mbrookes commented on #19742
It would be good if that section explained why `pointerEvents: "none"` is needed in this instance, but it does fix the issue.

[2020-02-19 01:12] #19742 closed

[2020-02-19 01:26] benwiley4000 opened #19773 "Please export ThemeOptions"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I'm doing this in my code:

[code]

Seems like my import path could be less fragile if we export `ThemeOptions` from a higher level, hopefully at the top.

## Examples 🌈

[code]

## Motivation 🔦

Just nicer code that doesn't risk breaking whe

[2020-02-19 01:47] videni opened #19774 "the lable for TextField is positioned correctly"
As you can see the picture below.
![image](https://user-images.githubusercontent.com/4058341/74793839-87b14780-52fc-11ea-939f-3bbe98ae1e17.png)

The  first two are TextField, the last one is Select.

Select
[code]
TextField
[code]

[2020-02-19 06:56] TrejGun commented on #19354
@oliviertassinari so will this work?

[2020-02-19 07:27] pApApAw opened #19776 "Duplication of DOM elements SSR implementation"
Found a bug when the `script` tags is put before `<div id="root">${html}</div>`. It causing the duplication of DOM when navigating to other URL and go back using the back button of the browser. I tried putting the script tags after the `<div id="root">${html}</div>` and it fixed the problem. What i want to clarify, is there any problem switching the `script` and `<div id="root" />`?

``

- [ ] The

[2020-02-19 07:35] pApApAw opened #19777 "Duplication of DOM elements SSR implementation"
Found a bug when the `script` tags is put before `<div id="root">${html}</div>`. It causing the duplication of DOM when navigating to other URL and go back using the back button of the browser. I tried putting the script tags after the `<div id="root">${html}</div>` and it fixed the problem. What i want to clarify, is there any problem switching the `script` and `<div id="root" />`?

``

- [ ] The

[2020-02-19 07:35] #19776 closed

[2020-02-19 08:49] fast0490f opened #19778 "[Autocomplete] Drop list no close outline mouse"
| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.9.3  |
| React       |   v16.12.0      |
| Browser     |     Chrome   |
| TypeScript  |         |
| etc.        |         |

Hi, please, look at the gif with the problem
![1](https://user-images.githubusercontent.com/11176223/74817353-cef40400-530d-11ea-83b8-2fc6bdfa0cc8.gif)

[2020-02-19 09:00] zeckdude commented on #15573
I'd love to see this sooner as well. Any chance to release this in some sort of beta?

[2020-02-19 09:03] fast0490f opened #19779 "[Autocomplete] Select option not scroll drop list to defaultValue of first open"
| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.9.3  |
| React       |   v16.12.0      |
| Browser     |     Chrome   |
| TypeScript  |         |
| etc.        |         |

Hi, please, look at the gif with the problem:

![2](https://user-images.githubusercontent.com/11176223/74818462-c4d30500-530f-11ea-8f1e-13ae4699072f.gif)

[2020-02-19 09:11] oliviertassinari commented on #19742
No idea why.

[2020-02-19 09:13] oliviertassinari commented on #19774
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-19 09:18] #19777 closed

[2020-02-19 09:20] oliviertassinari commented on #19665
Sounds great

[2020-02-19 09:37] Romcol opened #19780 "[styles] Server side rendering issues style on client hydratation multiple components"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have two React components that are server rendered on a page. My server renderer js file contains this
[code]

I have to use a seed (here the name of the component at hand) so as to

[2020-02-19 09:40] oliviertassinari commented on #19779
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-19 09:41] oliviertassinari commented on #19778
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-19 09:45] oliviertassinari commented on #19773
If we can update the documentation, it would probaby be great too:

[code]

[2020-02-19 09:47] oliviertassinari commented on #19780
@Romcol Do you have a reproduction?

[2020-02-19 11:14] oliviertassinari commented on #19706
@eps1lon Do you think that it's a tradeoff we should reconsider?

Well, I think that we are all in the same boat 🤗. "their"/"ours" is what I had in mind by "avoiding silos" :). However, I agree with the underlying logic, the mono-repository will need some changes to adapt to the pickers' packages, but I would expect more effort needed on the pickers' side.

---

@dmtrKovalenko I think that a good

[2020-02-19 11:18] dmtrKovalenko commented on #19706
@eps1lon - I can do all the work of CI integration by myself.
We do not need to merge stacks right now. I am thinking about speeding up CI by skipping parts if something not changed.
If we will merge sources – our current documentation (material-ui-pickers.dev) can be deleted anyway, so we will not need to use Zeit now

[2020-02-19 11:30] Romcol commented on #19780
See https://codesandbox.io/s/material-ui-seeds-qcors .

I have no idea on the render of the second component, both seeds are presents. This could explain the problem partly.

![alt text](https://i.ibb.co/RgcLnCZ/polution.png "Polluted classes")

[2020-02-19 12:31] shkyung commented on #15616
is it Fixed in v4.9.3 ????

[2020-02-19 13:38] oliviertassinari commented on #19765
Actually, looking closer at how a native `title` attribute prop behaves, I think that we could improve the current implementation with a new delay. on Chrome macOS, I could measure the following:
- delay of the "first enter" (A): 1.7s vs 0ms (MUI)
- delay of the "consecutive enter" (B): 400ms vs 0ms (MUI)
- delay of the state transition from A to B: 800ms vs 500ms (MUI)

(test case, 2 title attrib

[2020-02-19 14:10] EngPeterShaker commented on #10051
as a temporary workaround , you can just add this .css code to your component  ::
[code]

[2020-02-19 14:31] Ritorna commented on #19765
Sorry for the late response... Thanks in advance for taking a closer look.
I'd be glad to see this as an additonal feature, as you proposed 👍

My special use case is rendering link cells in a data grid, which should provide a tooltip with the actual href when hovering:
![image](https://user-images.githubusercontent.com/10747768/74843697-9283d080-532c-11ea-9d60-6efd471d7458.png)

[2020-02-19 15:58] mattmcdonald-uk commented on #17565
You can avoid the excess div by passing additional props to `ListItem`:
`<ListItem ContainerComponent="div" ContainerProps={{style}} key={index}>`

https://github.com/mui-org/material-ui/issues/16026#issuecomment-498669261

[2020-02-19 16:14] TommyJackson85 commented on #18977
I will take give this a go as I am working on this feature lately.

[2020-02-19 17:28] jayarjo commented on #17370
@oliviertassinari so has material-ui switched to styled-components, or still not yet?

[2020-02-19 17:46] oliviertassinari commented on #17370
It's one of the objectives of v5. I think that we will soon initial the effort for the next major.

[2020-02-19 19:04] kelly-tock commented on #19772
only way i've been able to solve this for now is to not use props in styles on SSR.

[2020-02-19 19:37] grovertb commented on #19780
I have the same problem in version 4.9.3 in 4.9.2 all good. 😢

[2020-02-19 19:43] captain-yossarian opened #19783 "[BreadcrumbsCollapse] Page scrolling down on Space press when button is in focus"
- [x] The issue will appear after this [PR](https://github.com/mui-org/material-ui/pull/19724)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Page is scrolling down, when ButtonBase component  is in focus and Space bar is pressed

## Expected Behavior 🤔

Page should not scroll at

[2020-02-19 20:44] eps1lon commented on #19783
Breadcrumbs collapsed is not using a ButtonBase. This  issue is unrelated to ButtonBase.

[2020-02-19 20:56] komyg commented on #5259
This code worked for me:

Component:
[code]

Test:
[code]

[2020-02-19 21:42] blshort43 commented on #11749
`variant="persistent"` on Drawer worked for me.

Me too! Thanks @kelseyleftwich !!!

[2020-02-19 22:12] #19783 closed

[2020-02-19 22:31] #19767 closed

[2020-02-19 22:32] #19549 closed

[2020-02-19 22:34] #18977 closed

[2020-02-19 22:52] oliviertassinari commented on #19780
@Romcol It seems to surface a flaw in the underlying logic. I think that if you use a different theme per subtree, it will solve the issue.

[2020-02-19 23:29] #19660 closed

[2020-02-20 01:35] Mani-EastMinds commented on #6625
+1

[2020-02-20 05:58] Jack-Works opened #19785 "[styles] Undocumented API StylesProvider props: sheetsManager"
This attribute is not documented but it is necessary when using multiple JSS instances in a single application. Without this attribute, mui will accidentally share a style across the JSS instances.

[2020-02-20 06:06] captain-yossarian commented on #19783
Please read my description. It will after next release

[2020-02-20 07:59] eps1lon commented on #19765
I would not use this as the source of truth for the timings. Why do you think the native `title` attribute is a good candidate for tooltip timings?

[2020-02-20 08:10] oliviertassinari commented on #19765
It's the worse best benchmark source I could find. Happy to consider a different one. In any case, Material Design has different timing values shouldn't we give it more priority?

I was more interested in the structural values of the title attribute implementation than in the absolute values. I mean the A/B ratio of ~3 and to wait for the tooltip to be invisible to reset the FSM state from B to A.

[2020-02-20 08:16] #19595 closed

[2020-02-20 09:02] elena20ruiz commented on #18912
Hello, if `TableContainer` does not exist in the new version, it is possible to remove the example that uses it on documentation?

https://material-ui.com/components/tables/ -> It uses it on `Fixed header`

[2020-02-20 09:39] Atralbus commented on #17226
Additionally, we get the same error when we use `IconButton` component inside `ButtonGroup` which sounds like it might be a valid element. [demo](https://codesandbox.io/s/iconbutton-inside-buttongroup-2muwt)
<img width="676" alt="Screen Shot 2020-02-20 at 12 29 06" src="https://user-images.githubusercontent.com/4368872/74920232-e64df280-53dc-11ea-8709-659477e2e0c9.png">

[2020-02-20 10:04] #17672 closed

[2020-02-20 10:08] #19774 closed

[2020-02-20 10:40] #19708 closed

[2020-02-20 10:49] karthik922 commented on #19117
@joshwooding I have similar issue.

I am using
React - V16.8.6
material ui - v3.8.3
IOS - 13
I wanna know if this issue exists in 3.8.3 version of material ui. Can you confirm?

[2020-02-20 10:49] karthik922 commented on #19117
@joshwooding I have similar issue.

I am using
React - V16.8.6
material ui - v3.8.3
IOS - 13
I wanna know if this issue exists in 3.8.3 version of material ui. Can you confirm?

[2020-02-20 12:00] oliviertassinari commented on #19117
@karthik922 Upgrade to the latest version

[2020-02-20 12:31] oliviertassinari commented on #18912
@elena20ruiz Update to the latest version, the component will be defined;

[2020-02-20 12:41] AncientSwordRage commented on #9337
I observe the same issue when we have the tabs in a popover, but the fix below does not work for us

[2020-02-20 13:26] AncientSwordRage opened #19786 "Using tabs inside a popover incorrectly calculates the left offset based on bounting box calculations"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Opening a popover that contains tabs incorrectly determines the 'start' position of the indicator, which appears offset from the page, *not* the containing popover

## Expected Behavi

[2020-02-20 13:30] #19786 closed

[2020-02-20 13:31] oliviertassinari commented on #19786
@AncientSwordRage We appreciate the time spend in the issue description and reproduction, but I'm closing as a duplicate #9337.

[2020-02-20 13:32] oliviertassinari commented on #19786
Consider the animation running.

[2020-02-20 13:36] AncientSwordRage commented on #19786
How would one do that?

[2020-02-20 13:51] oliviertassinari commented on #19786
You could use a setTimeout to account for it.

[2020-02-20 13:59] AncientSwordRage commented on #19786
Set timeout doesn't have any effect. I can update the example to reproduce with what I've attempted.

[2020-02-20 14:41] kolagrey commented on #7956
Thanks @HugoGresse This works perfectly well :-)

[2020-02-20 14:46] elmeerr opened #19787 "[Autocomplete]: Chips affects container's height"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

It can be checked in Multi values demo: https://material-ui.com/components/autocomplete/#multiple-values

When you select a option on container (TextField) with variant  `standard` or

[2020-02-20 14:47] AncientSwordRage commented on #19786
Edited main issue with my attempt to fix there.

[2020-02-20 15:26] larsenwork commented on #19746
@Cristy94 remember to close issue if it fixed your problem 🙂

[2020-02-20 16:21] Romcol commented on #19780
Ok but why do I have to use seeds in the first place? Both components should use the same instance of material-ui/styles so there shouldn't be any class overlapping, no? Thank you :)

[2020-02-20 18:29] AncientSwordRage commented on #19786
@oliviertassinari I've also tested with `useLayoutEffect` and it made no difference.

[2020-02-20 18:44] mikkopori opened #19788 "index.js:1 Warning: React does not recognize the `endAdornment` prop"
I'm getting

`index.js:1 Warning: React does not recognize the `endAdornment` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `endadornment` instead. If you accidentally passed it from a parent component, remove it from the DOM element`

that used to work in the previous versions. The is as follows

`          <TextField

[2020-02-20 18:50] #19788 closed

[2020-02-20 19:06] kj11 opened #24167 "[DatePicker] Broken in IE11"
## Environment

| Tech                 | Version |
| -------------------- | ------- |
| @material-ui/pickers |   v4.0.0-alpha.3      |
| material-ui          |         |
| TypeScript           |         |
| React                |         |
| Browser              |         |
| Peer library         |         |  |

## Steps to reproduce

- Datepicker icon is either not visible or clicking on the icon

[2020-02-20 19:31] AncientSwordRage commented on #19786
I've put the call to updateIndicator in an 'onEntered' callback.

[2020-02-20 20:06] dbarabashdev commented on #16551
@oliviertassinari very interesting case, but.. if your code will be like this 👇🏻

[code]
evertyhing wil be good

but if you'll use React.Fragment  👇🏻
[code]

you'll have a case like in the issue description, will be the same problem

I'm not sure that problem with MaterialUI component

[2020-02-20 20:18] dbarabashdev commented on #19668
@oliviertassinari @mbrookes what the stage for this issue? I think it's a significant case for adding to documentation? or better ts types handling?

[2020-02-20 20:32] petersendidit commented on #16551
@dbarabashdev Adding the `div` in the example only works because it changes the root.  You can case the same issue without using fragments:

https://codesandbox.io/s/brave-engelbart-f3mui

[2020-02-20 20:33] cat-ico commented on #16551
@dbarabashdev

yes, because by adding `<div>` you changed the order of rendered elements and the generated Mui classes are therefore different

to keep the correct order you have to add `<div>` to the second `<Box>` as well, like this:

[code]
and you'll get the same result

[2020-02-20 21:09] dbarabashdev commented on #16551
@petersendidit @cat-ico you are right guys. I will try to solve this issue. 🚀

[2020-02-20 21:27] dbarabashdev commented on #16551
oke, guys, look

[code]

also, you can just create a variable like `const pink="pink"` and init this `bgcolor={pink}` and unfortunately I can't find where someone uses `bgcolor` prop with a value like this `xs: "pink"`

[2020-02-20 22:00] rickyc commented on #19054
Referencing the original duplicate issue which explains why it won't be fixed.

https://github.com/mui-org/material-ui/issues/10582

[2020-02-20 22:13] GFynbo commented on #18869
Spacing prop was merged into master, working on max prop now.

[2020-02-21 00:18] oliviertassinari commented on #19746
@larsenwork Thanks for helping!

[2020-02-21 00:18] #19746 closed

[2020-02-21 00:37] mbrookes commented on #19668
Adding @eps1lon who is 100% more skilled in this area than me. (I suspect that this should be ∞, give or take, but I'm not a big proponent of percentages > 100! 😆)