[2020-09-04 20:21] icon02 opened #22490 "TextField variant="outlined" label displayed in border on mobile devices when child of Grid"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary
If I use a <TextField variant="outlined" /> within a Grid component, the text will be displayed in the border.

## Steps to Reproduce 🕹
Use a TextField inside a <div> and  another one inside a <Grid>. The one inside the <div> will work properly

[2020-09-04 20:35] oliviertassinari commented on #22482
@eps1lon Thanks adding https://react-spectrum.adobe.com/react-aria/useMeter.html to the relevant resources for the Gauge. I have missed it.

[2020-09-04 21:17] oliviertassinari commented on #22484
@eps1lon Agree. Let's untangle it. From what I understand, developers struggle to follow the sources of a demo from a combination of:
  1. there are two many **different "elements"** showcased at the same. This can create off-by-one errors when trying to match a visual case a developer is interested in and the line he copies & pastes.
  2. there are too many **lines of code**. This makes it hard t

[2020-09-04 21:29] oliviertassinari commented on #22490
Duplicate of #21664

[2020-09-04 21:29] #22490 closed

[2020-09-04 21:31] oliviertassinari commented on #22490
It's fixed in v5.0.0-alpha.8

[2020-09-04 21:35] nesso-pfl commented on #20064
I'll work on this issue if it's okay👀

[2020-09-04 21:39] oliviertassinari commented on #22450
I can't observe the issue is it possible a release patched it?

[2020-09-04 21:48] oliviertassinari commented on #5069
Twin with https://github.com/mui-org/material-ui-x/issues/203

[2020-09-04 21:49] oliviertassinari commented on #19159
Twin with https://github.com/mui-org/material-ui-x/issues/193

[2020-09-04 21:52] oliviertassinari commented on #14267
Solved in https://github.com/mui-org/material-ui-x, for instance: https://material-ui.com/components/data-grid/rows.

[2020-09-04 21:56] oliviertassinari commented on #18434
Solved in https://github.com/mui-org/material-ui-x, the first 3 pages of the documentation are live: https://material-ui.com/components/data-grid/rows/

[2020-09-04 21:56] #18434 closed

[2020-09-04 21:58] oliviertassinari commented on #18019
Twin with https://github.com/mui-org/material-ui-x/issues/195

[2020-09-04 21:59] oliviertassinari commented on #21334
We have solved this problem in https://github.com/mui-org/material-ui-x

[2020-09-04 21:59] #21334 closed

[2020-09-04 22:02] oliviertassinari commented on #20064
@nesso-pfl Thanks for the interest in this issue. Considering the direction we are taking with the styles, I think that it makes sense to implement this warning, accessing the theme directly, not relying on the generates classes.

[2020-09-04 22:44] oliviertassinari commented on #20064
As far as I know, the problem still stand. We rely on the classes, while we should depend on the theme.

[2020-09-05 03:43] nainardev opened #22491 "[DOCS] Unstyled autocomplete is unreadable in dark theme"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![Screenshot_2020-09-05-09-07-51-867_com android chrome](https://user-images.githubusercontent.com/59839368/92296972-f6cc5180-ef57-11ea-9bc1-0baada1b9b1b.jpg)

## Expected Behavior 🤔
t

[2020-09-05 05:33] gauravr7 opened #22492 "Material UI Grid Flex-basis: 100% cause issues in IE/Edge/ Safari"
Material UI Grid is causing issues in alignment in IE / Edge and safari.

The designs which are working fine in Chrome and Mozilla breaks in the above browsers.

Issue in Microsoft Edge:
![image](https://user-images.githubusercontent.com/6669433/92298479-ea032a00-ef66-11ea-9421-ea1564090cb1.png)

Issue in Internet Explorer:
![image](https://user-images.githubusercontent.com/6669433/92298512-2f275c

[2020-09-05 08:40] eps1lon commented on #22492
@gauravr7  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-09-05 08:48] eps1lon commented on #22482
How does Gauge relate to Stat? Is it a kind of Stat or used in a slot of Stat? The relation is currently not explained.

[2020-09-05 09:54] oliviertassinari commented on #19268
What about this diff?

<img width="316" alt="Capture d’écran 2020-09-05 à 11 53 50" src="https://user-images.githubusercontent.com/3165635/92302707-7d8c2900-ef6e-11ea-98e0-4d6e19c959b8.png">

[code]

[2020-09-05 09:54] oliviertassinari commented on #22491
Duplicate of #22491

[2020-09-05 09:54] #22491 closed

[2020-09-05 10:04] oliviertassinari commented on #20064
@nesso-pfl I don't think that we can use the prop-type check anymore. Something in this order (maybe need to improve the warning message)

[code]

[2020-09-05 11:28] ClassicDarkChocolate opened #22493 "[SwipeableDrawer] Avoid blocking events"
-   [x] The issue is present in the latest release.
-   [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Sites created with Material-UI will not trigger address bar auto-hide on Firefox for Android

## Expected Behavior 🤔

Scrolling down triggers address bar auto-hide just like every

[2020-09-05 11:58] oliviertassinari commented on #22493
Any idea why?

[2020-09-05 12:02] 986224568 commented on #5278
hello, if I don't need background when using dialog, how can I do that?

[2020-09-05 12:34] simonmclean commented on #22427
Is this a Firefox issue? My impression is that it's a Material UI bug

[2020-09-05 13:07] MtnBuckNasty opened #22495 "Date and Date/Time Pickers don't appear to be rendering in Firefox"
## Current Behavior 😯

The time and date/time pickers do not seem to be rendering. This is happening in my project and on the material-ui documentation page.

## Expected Behavior 🤔

The dialogs should pop-up on click of the text area.

## Steps to Reproduce 🕹
Simply browsing to the [documentation](https://material-ui.com/components/pickers/#date-amp-time-pickers)  page in Firefox (80.0.1) should

[2020-09-05 13:14] oliviertassinari commented on #22495
Yeap, it's not supported, see the warning in https://material-ui.com/components/pickers/#native-pickers

[2020-09-05 13:14] #22495 closed

[2020-09-05 14:09] oliviertassinari commented on #22493
How about this fix?

[code]

From what I understand, we only need a non-passive event listener to avoid vertically scroll the drawer container when it's open.

[2020-09-05 14:10] oliviertassinari commented on #22427
@simonmclean How would you fix it?

[2020-09-05 14:52] xiaoyu-tamu commented on #22470
<Image /> maybe not a good name for DX purpose if developers rely on editor autocomplete. because the Image class always be the first option.

https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/Image

[2020-09-05 15:15] oliviertassinari commented on #22470
@xiaoyu-tamu It reminds me why we didn't call Typography: [Text](https://developer.mozilla.org/en-US/docs/Web/API/Text). In hindsight, it didn't seem to have stopped a lot of design systems to use this wording:

- https://theme-ui.com/components/text
- https://seek-oss.github.io/braid-design-system/components/Text
- https://evergreen.segment.com/components/typography#heading_text_component
- https

[2020-09-05 18:46] croraf commented on #22453
The exact example as in the sandbox does not throw the error. You have to wrap the app in `React.StrictMode` element.

Also happens with Dialog component with the example on the demo page https://material-ui.com/components/dialogs/#alerts

[2020-09-05 19:14] djmisterjon commented on #21825
any progress or tips ?
i would like get suggestions from CSS Flexbox Layout Module
https://www.w3schools.com/css/css3_flexbox.asp

[2020-09-05 19:22] MtnBuckNasty commented on #22453
Hmm, wrapping my app in strict mode did not seem to do it. I am still getting the error for the elements Popper and SpeedDial. :( Both seem to function fine, its just sad to see the error

[2020-09-05 19:34] croraf commented on #22453
**Wrapping** your app with `React.StrictMode` element **should produce** the error, as it is doing extra checks that detect the error. **Removing** the `React.StrictMode` wrapping should "hide" the error.

[2020-09-05 20:00] MtnBuckNasty commented on #22453
That did it. Thanks for the help :)

[2020-09-05 20:09] woss commented on #21251
what about making the `path` exported var and default export leave as it is?

in this case refactoring only affects the internals, everything else stays the same. Since the `core` is already in the `peerDeps` this shouldn't be a big problem. Time consuming yes, but not complex.

[2020-09-06 07:44] eps1lon commented on #22470
I don't think we can implement meaningful features since the most important ones rely on the build setup. A meta framework is far better suited to host such a component. There's a RFC in nextjs which has far better research and highlights why this component should leverage the build setup: https://github.com/vercel/next.js/discussions/16832

[2020-09-06 07:56] ianaz commented on #18783
Tried to get it to work as well using `SwipeableDrawer` (variant=temporary) by changing properties of the nested react-transition-group, but in the end it seem we need a change in code as I couldn't find any way to make react-transaition-group have a "min-height" or something. Any other suggestion?

Is it possible to put bounties on material-ui's issues?

[2020-09-06 10:06] gauravr7 commented on #22492
https://codesandbox.io/s/xenodochial-gould-3surh
Please check the page in IE.

[2020-09-06 11:12] walltex commented on #17454
@eps1lon I still do have the issue. I tried both solutions, nothing works for me.

material-ui@4.11.0

<img width="908" alt="Screen Shot 2020-09-06 at 14 10 43" src="https://user-images.githubusercontent.com/1400956/92324486-e1841f80-f04a-11ea-90c3-320a3c83a238.png">
<img width="897" alt="Screen Shot 2020-09-06 at 14 10 17" src="https://user-images.githubusercontent.com/1400956/92324489-e517a680-f

[2020-09-06 11:34] eps1lon commented on #17454
We're only backporting important or security fixes at this stage.

[2020-09-06 13:31] oliviertassinari commented on #22492
@gauravr7 Great, now you can open an issue on StackOverflow with this reproduction. I'm closing. The Grid relies on the flexbox position, the layout might vary between the browsers. We don't have the bandwidth to debug everybody's layout. Try simplifying your layout as much as possible to identify where things go wrong.

[2020-09-06 13:31] #22492 closed

[2020-09-06 13:45] abidhkm opened #22518 "Pinned Subheader List - how to know which item is pinned at the moment"
I am using this component for my project.
https://codesandbox.io/s/material-demo-forked-j8m7w

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Motivation 🔦

I want to add an icon at the top item in the list dynamically...for that I need a callback or any information on which item is at stick at the t

[2020-09-06 15:32] cmnstmntmn commented on #18822
this lib is driving me crazy!

[2020-09-06 15:39] rob-glas commented on #16327
Looks like this still has not been addressed.

[2020-09-06 15:45] oliviertassinari commented on #16327
@rob-glas Do you have a reproduction with v5-alpha.8?

[2020-09-06 15:48] #22449 closed

[2020-09-06 15:50] #20064 closed

[2020-09-06 16:03] oliviertassinari opened #22519 "Add ResizeObserver abstraction"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Make it easier to react to changes from an element's position.

## Examples 🌈

[code]

## Motivation 🔦

The platform has a built-in module to observe any changes to `element.getBoundingClientRect()`: the [ResizeObserver](https://developer.moz

[2020-09-06 16:05] oliviertassinari commented on #22518
@abidhkm This sounds like a generic question for React. I would suggest exploring the ResizeObserver path. Thanks for raising the question, it has made me work on opening #22519. I hope it help.

[2020-09-06 16:05] #22518 closed

[2020-09-06 16:25] ad99526 commented on #9178
The fix is

`import { withStyles } from "@material-ui/core/styles";`

[2020-09-06 17:49] oliviertassinari commented on #19343
@LorenzHenk Sorry for the delay. Do you want to work on the problem? I have updated #10870 to track all the progress on this epic (umbrella issue).

[2020-09-06 19:58] arsen commented on #22426
We are using material-ui, and it's really great! Thanks for all the hard work.

Product: **Repix.app - screenshot designer**
Link: **[https://repix.app](https://repix.app)**

![app_screen](https://user-images.githubusercontent.com/3446647/92334174-70d80580-f040-11ea-8cda-94df438e5a9c.jpg)

[2020-09-07 04:53] NaumanMoazzam opened #22522 "Tooltip doesn't display text on iOS Safari"
In my Web App, I have added a ToolTip and opened it by default. It is working great in all the desktop version. But when I open my App on iOS Safari, ToolTip doesn't display any text.

## Current Behavior 😯

ToolTip text doesn't appear on iOS Safari, just background color.

## Expected Behavior 🤔

It should show the text same as Desktop versions.

## Your Environment 🌎

Started the App with React-

[2020-09-07 07:48] oliviertassinari commented on #22522
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-09-07 08:38] oliviertassinari commented on #22368
@EliasJorgensen How is it going? Are the changes ready for a pull request :)?

[2020-09-07 08:41] EliasJorgensen commented on #22368
@oliviertassinari I have the implementation and testing done, i just need to throw together the demo you wanted. I'm planning on doing it after work today :) If you have any comments for the implementation/testing, they are more than welcome.

[2020-09-07 12:37] anuragraina commented on #3896
Follow these 2 steps to change default font:

Here I'm changing default font to "Open Sans"

1. Import Google Fonts in your index.html
`<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"/>`

2. Do these changes in index.js
[code]

[2020-09-07 16:08] sgarcia30 commented on #14655
@Karl992 did you ever figure something out for this?  I'm seeing the same issue.

[2020-09-07 18:25] Kreozot-ua commented on #18102
For some reasons default import of ThemeProvider located not in the `'@material-ui/**core**/styles/ThemeProvider'` but in the `'@material-ui/styles/ThemeProvider'`

[2020-09-07 20:26] aphecetche commented on #12827
May I ask what is the status here ? Will v5 offer the ability to ideally do things like e.g. :

[code]

so CSS variables can be used to solve the FOUC in dark mode switching (for instance in Gatsby, like mentioned above https://github.com/mui-org/material-ui/issues/12827#issuecomment-649595621) ?

[2020-09-07 20:44] JadRizk commented on #22493
Submitted the changes on this PR: #22525

[2020-09-07 21:35] RichardLanham commented on #2759
Try adding "maximum-scale=1" to the meta viewport tag

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

[2020-09-07 22:27] b3of opened #22526 "RTL with Dark theme is not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I followed [Material UI steps](https://material-ui.com/guides/right-to-left/) to switch to RTL and it switches successfully in `light` theme type, but fails in `dark` theme type

`dar

[2020-09-07 22:42] #22526 closed

[2020-09-08 00:58] flarpy opened #22527 "Please add autoFocus to Autocomplete"
Add autoFocus:boolean Prop to component and pass to renderInput

Add to type definitions for AutocompleteRenderInputParams

export interface AutocompleteRenderInputParams {
  id: string;
  disabled: boolean;
  fullWidth: boolean;
  size: 'small' | undefined;
  InputLabelProps: object;
  InputProps: {
    ref: React.Ref<any>;
    className: string;
    autoFocus:boolean;
    startAdornment: React.R

[2020-09-08 07:41] eps1lon commented on #22527
Your issue has been closed because it does not conform to our issue requirements.

For how-to questions and other non-issues, please use StackOverflow instead of Github issues. There is a StackOverflow tag called "material-ui" that you can use to tag your questions.

[2020-09-08 07:41] #22527 closed

[2020-09-08 08:44] darkdragn commented on #19221
@eps1lon This is awesome information about something that been bugging me for hours. Is there any way we can add this to the documentation? Just in case someone else runs into this.

I know I dug through the docs for hours and saw no mention of passing an array for conditional logic, so I was searching for how to ensure components in Fragments inherit styles... I know now, that sounds stupid and I

[2020-09-08 09:27] eugensunic commented on #13146
@AleksandarSavic95

https://material-ui.com/guides/migration-v3/

[2020-09-08 09:36] robcostello1 commented on #14216
I found this thread when I came across the same issue. I created a wrapper for the MUI component which looks for a parent with z-index and applies a slightly higher one to the popper.

[code]
You'll probably need to polyfill `Element.closest()` for full browser compatibility.

[2020-09-08 09:39] oliviertassinari commented on #12827
@aphecetche Yes, it's something I have been eager to explore. I think that setting all the colors at a single place will help us increase consistency in the components (make it more obvious when we introduce a color that we don't really need)

[2020-09-08 09:57] oliviertassinari commented on #14216
@robcostello1 Thanks for sharing. Have you considered using the React context instead?

[2020-09-08 10:46] oliviertassinari commented on #19221
@mbrookes is solving this issue in #22395 by using the React context and CSS grid.

[2020-09-08 10:51] oliviertassinari commented on #22527
Tip: you can use the autoFocus prop directly on the textbox.

[2020-09-08 11:35] o-alexandrov opened #22529 "[RFC] Use `import * as Mui from 'material-ui'` in the demos"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Instead of recommending to use named exports, how about recommending importing all modules?
- it [won't increase the bundles](https://github.com/webpack/webpack/tree/master/examples/harmony-unused#examplejs) and is not worse in terms of initi

[2020-09-08 11:45] eps1lon commented on #22529
We ship a bundle with actual ES modules but React doesn't. Import style is personal preference. We won't enforce a particular style.

[2020-09-08 11:46] oliviertassinari commented on #22529
@o-alexandrov We might revisit it if React supports tree-shaking in the future. Until they don't, a single import is simpler, ask Python developers.

[2020-09-08 12:10] o-alexandrov commented on #22529
@oliviertassinari you contradict yourself:

then why don't you:
[code]

instead of recommending named imports (based on your own statement it is more complicated), if both lead to the exact same bundle size?

[2020-09-08 12:11] oliviertassinari commented on #22529
@o-alexandrov My previous comment is very specific to how we use React, it doesn't impact Material-UI's users.

[2020-09-08 12:12] o-alexandrov commented on #22529
@eps1lon you also contradict your own statement in [this comment](https://github.com/mui-org/material-ui/pull/19802#issuecomment-591290480) and also [Olivier comment](https://github.com/mui-org/material-ui/pull/19802#issuecomment-591304330)

[2020-09-08 12:17] oliviertassinari commented on #22529
@o-alexandrov Your proposal would break tree-shaking. I don't think that it's an option for the demos. Developers with less experience will blame Material-UI for being bloated once they look at the bundle size in production.

[2020-09-08 12:22] o-alexandrov commented on #22529
@oliviertassinari what makes you think it will break tree-shaking?
I am using `import * as` in every webpack environment and nowhere tree-shaking was ever broken.

But you don't need to trust me, please review the following as tree-shaking for `import * as` has been supported for a long time:
- [one related issue](https://github.com/webpack/webpack/issues/2713)
- [actual example](https://github.co

[2020-09-08 12:23] o-alexandrov commented on #22529
also updated Motivation part of the Issue description, so **three benefits** are clearly highlighted

[2020-09-08 12:26] oliviertassinari commented on #22529
@o-alexandrov Interesting

[2020-09-08 12:26] o-alexandrov commented on #22529
I don't know about what's coming, but if you are talking about modules with side effects:
- the side effects should introduce the exact same problems with the `named imports` as all exported modules are parsed

[2020-09-08 12:33] o-alexandrov commented on #22529
Other arguments to consider and will copy them to Motivation above:
- it is cleaner, since less individual imports are in the module
  - it is easier to understand where the variable is coming from while looking at the code, as you know the variable in question belongs to `Mui`
- and not only it improves DX when removing unused imports
  - it also improves DX when importing more API from `Mui`, as

[2020-09-08 14:05] #22522 closed

[2020-09-08 14:40] oliviertassinari commented on #21251
@woss So you are advocating for, using one icon as an example:

[code]
The implementation should be as simple as:

[code]

If this allows tree shaking, I think that it's worth trying out.

If it doesn't, solving the problem with:

[code]

could be even simpler.

I have tried to advance the reflection on https://github.com/adazzle/react-data-grid/issues/1999, from what I understand, we have these o

[2020-09-08 14:47] montclairskiclub opened #22531 "Cursor hover over various UI elements cause scrollbar to hide/show"
When the cursor is positioned over various UI elements, e.g., Button and DatePicker, the scroll bar is either displayed or hidden (inverted) depending upon whether it was present before hovering causing the page to "jump". When the cursor moves off the element the scrollbar is again displayed or hidden. This is very distracting to the user experience.

[2020-09-08 15:00] oliviertassinari commented on #22531
The issue has been closed because it does not conform to our issue requirements.
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-09-08 15:00] #22531 closed

[2020-09-08 15:18] flarpy commented on #22527
Thanks, but I need to set it dynamically; the user can click on several
fields to edit an item, I want to focus on the one they click on.

Best

On Tue, 8 Sep 2020 at 06:52, Olivier Tassinari <notifications@github.com>
wrote:

--
Peter Dunham

[2020-09-08 17:19] JDHannan commented on #5104
This link goes to a hack page that says your computer has a virus now

[2020-09-08 18:01] eps1lon commented on #22529
React's exports and Material-UI's exports are not the same. React does not ship ES modules. Material-UI does. Opinions I hold about importing React do not automatically apply to Material-UI.

[2020-09-08 18:23] LorenzHenk commented on #19343
Sure!

[2020-09-08 18:59] Klynger commented on #18200
I found a better solution to this problem. In the select component, you can pass the `MenuProps` object, and inside this object, you can pass the `MenuListProps` object which is the one that renders the `List` component that has a prop called [subheader](https://material-ui.com/api/list/#props) (which is the "right way" to render a `ListSubHeader` component).

So, you just have to do this:

[code]

[2020-09-08 19:13] lfp2 commented on #22266
Hi, I can give a try on this? :)

[2020-09-08 19:16] oliviertassinari commented on #22266
@lfp2 Sure :)

[2020-09-08 19:51] o-alexandrov commented on #22529
@eps1lon please be informed the links to your comments above lead to your phrase:

What you're describing is incoherent.

That’s what I referred to in the links above and that’s what I described as contradiction when here you say:

But the statement itself is incorrect as by making choices you enforce a particular style anyway.
This issue asks to change your opinion on what you enforce.

[2020-09-08 19:54] singulart commented on #10159
The issue persists in
`"@material-ui/core": "^4.11.0"`

[2020-09-08 19:56] o-alexandrov commented on #22529
@eps1lon regarding:

I don’t know why you bring it up, especially twice.
What does it change in terms of the importing style?
- if you say it makes named imports better, then why? What’s your point?

[2020-09-08 19:56] oliviertassinari commented on #22529
@o-alexandrov So if we take this demo: https://material-ui.com/components/buttons/#contained-buttons, it would become:

[code]

and we would still have tree-shaking work, 🤔.

[2020-09-08 21:27] o-alexandrov commented on #22529
@oliviertassinari I apologize, I don't know whether you were asking or making a statement, so for your convenience I created a simple example that showcases:
- tree-shaking of `material-ui` works when importing all

Basically I put your example above into a [new CRA project](https://github.com/o-alexandrov/mui-import-all-treeshaking/commits/master). Please follow commits as it's easier to understa

[2020-09-08 22:44] #17754 closed

[2020-09-08 23:03] oliviertassinari commented on #18626
Sorry, I have recently created a duplicate without realizing: #22473.

[2020-09-08 23:03] #18626 closed

[2020-09-08 23:04] oliviertassinari commented on #18626
Duplicate of #22473

[2020-09-08 23:05] woss commented on #21251
yeah, exactly that. The implementation looks simple and you don't have to create any new files. :)

As for the `simpler` solution, i cannot comment since i am not super familiar with the `React.memo`

[2020-09-09 00:40] Toshiuk opened #22533 "Error class not working in MuiInputBase"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary

When "error" prop is active in the component <InputBase /> the changes made in the theme is not taking any effect.

## Steps to Reproduce 🕹

https://codesandbox.io/s/inputbase-error-not-working-

[2020-09-09 00:44] Toshiuk commented on #22533
It's not an error,
The styles should not be applied "Pseudo-class applied to the root element if error={true}."

[2020-09-09 00:44] #22533 closed

[2020-09-09 02:54] alehechka opened #22534 "[Stepper] Document how to avoid re-mounting between each step"
In my application, I was rendering two different material-tables in two different steps of the Stepper component. When trying to test switching between steps quickly it would begin slowing down considerably and eventually freeze (in which I had to close the browser tab to continue).

I'm not sure the process for contributing code so I'm attaching below how I went around this by instead setting `di

[2020-09-09 05:30] chilupa commented on #14559
It does give me the same warning even after doing this.
[code]

[2020-09-09 06:28] jonathan-stone opened #22535 "[TextField] Docs: "only single input." Checkbox: 3 checkboxes in a FormControl"
The documentation for FormControl explicitly states: `Only one input can be used within a FormControl.`
The demo of checkboxes on the Checkbox documentation page shows a FormControl containing three Checkbox components.

So, which one is correct?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository a

[2020-09-09 07:00] Omprakash76 opened #22536 "add Calculator Icon also"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2020-09-09 07:04] Omprakash76 commented on #22536
I search in your Icons there i no calculator icon available, i need this icon in my application for moratorium and personal loan calculator, currently i am using Dialpad, that not good.

[2020-09-09 08:31] oliviertassinari commented on #22536
Our current icon policy is to include most of the icons provided by Google's Material Design team. By most, I mean that some of the icons Google provides are too niche to be worth including (each icon has a marginal cost).

Thanks to analytics, we track the icons that people search for but don't yield any results. This gives us an idea of what we could include in the future if we change the icon p

[2020-09-09 08:31] #22536 closed

[2020-09-09 08:36] oliviertassinari commented on #21251
@woss I assume by "that", you are referring to option 1. Would you mind sharing more about your use case for using only the SVG path? Thanks

[2020-09-09 08:42] oliviertassinari commented on #22534
@alehechka What make you believe that the issue is on Material-UI side? What happening if you replace [material-table](https://material-table.com) with the work in progress [data grid](https://material-ui.com/components/data-grid/)?

Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/

[2020-09-09 08:44] oliviertassinari commented on #14559
@chilupa xs is only available on flex items, a flex container doesn't allow it.

[2020-09-09 08:47] #22386 closed

[2020-09-09 09:56] oliviertassinari commented on #22535
@jonathan-stone Thanks for raising this point of confusion. We had a first feedback for it in https://github.com/mui-org/material-ui/issues/16907#issuecomment-519424427.
I would propose we update the documentation to be more specific. It's multiple InputBase that isn't supported. It's basically what we mention in the warning
https://github.com/mui-org/material-ui/blob/1332b92e11eb4f2b9d3959954462f

[2020-09-09 10:02] #22493 closed

[2020-09-09 10:31] woss commented on #21251
@oliviertassinari  yep, option 1.

as for your question i guess you would like to know how would we use the `path` exactly?

this is the grommet code for one icon
[code]

So i guess we would make the Wrapper Component similar to this where `path` would be a prop then use it like
`<SvgIcon path={path}/>`

I hope i answered your Q

[2020-09-09 10:50] oliviertassinari commented on #21251
@woss Would it be OK if you still have to install @material-ui/core (what option 1 implies, as far as I know)?

[2020-09-09 11:20] oliviertassinari commented on #21441
@eps1lon Regarding the underlying issue. Which one do you have in mind? From what I can understand we have discussed a couple of different layers of interpretation of what's going wrong. From the one at the surface to the deeper ones.

1. Problem: calling ref.current.focus() as soon as it resolves to lead to throwing an error. Solution: we can swallow the issue. This is proposed in https://github.

[2020-09-09 11:48] o-alexandrov commented on #22529
Could you kindly open the issue, as it seems you support further discussion on this topic?
I also added another note to the `Pros` in the Description of the issue above:

[2020-09-09 13:48] Floriferous opened #22538 "[FormLabel] Allow adding "(Optional)" on all optional fields"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

It's becoming more and more common for forms to show a _optional_ suffix to fields that are not required. This makes it much simpler for many people to fill in forms, as the asterisk is not widely understood.

It'd be very helpful if there wa

[2020-09-09 14:37] ccpu opened #22540 "[Popper] Bad positioning in RTL direction"
Somehow having the following style on the `Html, body` and `root` elements will cause popper to calculate incorrect position. this will happen in RTL direction only.

[code]

At first, I thought this is a problem with the popperjs, but I can't reproduce the problem with [react-popper](https://popper.js.org/react-popper/v2/), hence I think its something to do with material-ui wrapper of popper.

-

[2020-09-09 16:08] amad3v commented on #11653
The way I mange this is by using a Button then assign it to the Tab's label

[code]
[Screenshot](https://imgur.com/a/8cjcanT)

[2020-09-09 16:21] mordechaim opened #22542 "Tooltip shows artifact when title changes to empty string"
For a very short period, the tooltip will show even when empty. If `arrow` was used it looks extra awkward.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When tooltip title is set to empty (via state change) while showing it wil

[2020-09-09 16:45] Rc85 commented on #15000
This also overrides the disabled state of the button.

[2020-09-09 17:02] Rc85 opened #22543 "Theme overrides doesn't override @media (hover: none)"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Theme overrides does not override `@media (hover: none)`

## Expected Behavior 🤔

Theme overrides should override `@media (hover: none)`

## Steps to Reproduce 🕹

Steps:

1. Create

[2020-09-09 18:10] ImanMahmoudinasab opened #22544 "[Autocomplete] start adornment position issue with filled variant autocompletes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
_start adornment_'s position is not correct when autocomplete has a filled variant. it has an extra margin on top:
![image](https://user-images.githubusercontent.com/5295554/92636044-9

[2020-09-09 19:43] jandvik commented on #19157
I have this issue simply by using AppBar for the header and the burger menu opening a Drawer. AppBar goes white when Drawer is open, then returns back to primary color once Drawer is closed.

[2020-09-09 20:20] DHBuild002 commented on #10571
Using VS Code
I have both Icons and Core installed.
The SearchIcon is returning a similar error:

**Failed to Compile
Module not found: '@material-ui/icons/Search' in [Project Filepath]

 @ ./src/Header.js 14:14-50**

This is the import instruction:
import SearchIcon from "@material-ui/icons/Search";

HTML:
<SearchIcon className="header__searchIcon" />

Dependencies:

"@material-ui/core": "^4.11.0

[2020-09-09 20:21] satazor commented on #15993
Adding to @amakk suggestion, we should do this:

[code]

so that Box doesn't inject unknown properties to the DOM.

[2020-09-09 20:30] JitendraBhamidipati commented on #22434
[react-dropzone](https://react-dropzone.js.org/) This might help you. This module is good , I am using it with material-ui and styling it as needed.

[2020-09-09 20:52] JitendraBhamidipati opened #22545 "Add a new component Carousel"
The carousel is a slideshow for cycling through a series of content.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

It should work with a series of images, text, or custom component.
It should include support for previous/next controls and indicators.

## Examples 🌈

This might be give y

[2020-09-09 20:59] xiaoyu-tamu commented on #22545
Have you see MobileStepper

[2020-09-09 21:06] #22538 closed

[2020-09-09 21:09] eps1lon commented on #22542
A fix would be appreciated. Though we won't prioritize it since empty Tooltips are not actually supported. If there's no tooltip to display then you shouldn't use the component.

[2020-09-09 21:14] eps1lon commented on #21251
As far as I remember we only use .js extensions for shipped files due to lacking tooling support. As to not shipping a commonjs build: Once we drop support for node 10. Node 10 reaches EOL on 2021-04-30.

[2020-09-09 21:40] oliviertassinari commented on #22545
Duplicate of #16239

[2020-09-09 21:40] #22545 closed

[2020-09-10 04:45] guitexa opened #22547 "Select needs double click do return"
Hi,

I'd like to know if there is a possibility to change this behavior, when I open the menu, don't select nothing and click outside, I have to double click to label returns to original state.

Thanks

![select](https://user-images.githubusercontent.com/34251231/92682517-e8d75180-f306-11ea-803d-1fa88b0865e8.gif)

[2020-09-10 06:01] jonathan-stone commented on #22535
Thanks for the quick reply, @oliviertassinari !
That change looks like a good one. It would be good to also specify which controls instantiate `InputBase` to help people who aren't familiar with it (like me!).

I'm just getting started with form components in MUI so I'd like to spend a few days learning before putting up any PRs, but I would be happy to help update the docs next week. Having read

[2020-09-10 09:25] eps1lon commented on #22547
In short: This is how a native `<select>` behaves.

Things that won't change:
1. The label is moved to the top if the Select is focused
2. When the list of options is closed focus is returned to the previously focused element

Since clicking the Select focuses it before it opens you'll have to click twice after closing to blur it. You could make an argument that closing on click should not return

[2020-09-10 09:31] JavaJamie commented on #14336
I'm also seeing a similar issue which is causing an issue with appending the correct query to the URL. On browser mobile view, it seems to get the default breakpoint (desktop) before then getting the correct breakpoint (for mobile) on the second render. The problem is it assigns the desktop tab value which is wrong. I've tried adding the noSsr value but to no avail.

[code]

I've also tried the fo

[2020-09-10 09:38] manonja commented on #21361
Hi! do we have an update on this? I am facing the same issue here where I would like to return a JSX element from `getOptionLabel` to customise the input with a logo.

[2020-09-10 10:15] ambekar92 commented on #15976
Thank you @ByronHsu

its working

[2020-09-10 10:58] fruchtsalat opened #22549 "Tabs scroll buttons are not visible when Tabs are aligned to the right-hand-side"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Scroll Buttons are not visible, when the tabs are aligned to the right-hand-side.

## Expected Behavior 🤔

Scroll Buttons should be visible, the same way as when the tabs are aligned

[2020-09-10 12:13] netcoding87 opened #22550 "Style of components with default theme are overwritten by ThemeProvider"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The documenation mentions that components that needs to be customized have to be nested in a `ThemeProvider`

https://material-ui.com/customization/theming/#theme-provider

However it

[2020-09-10 13:28] guitexa commented on #22547
I fixed this issue with css using `styled-components` on class `.MuiInputLabel-shrink` passing a value through element, for example:

[code]

This way, the label will be transformed only when the field is filled on useState.

[2020-09-10 13:37] woss commented on #21251
@oliviertassinari well i guess installing no, but bundling it yes. not sure atm, i'll have to check with my guys and tell you more after that

[2020-09-10 13:43] doodhJalebi commented on #22534
@alehechka I'm working on something that also requires the stepper to stop unmounting the <StepContent /> when it is inactive. Can you please tell me what you changed and where you changed it for your solution to work? I'm not familiar with TS but I can try.

[2020-09-10 14:12] muscaiu opened #22551 "Slide doesn't work for inline elements"
1. Why Slide doesn't work for inline elements? If i remove inline from `seeAll`, then it works, but i want to make it inline.
2. Is there any way to start the slide from a custom point (and not from the edge of the screen)?

[CodeSandBox](https://codesandbox.io/s/materialui-slide-dc2h6?file=/demo.js)

[code]

[2020-09-10 14:59] oliviertassinari commented on #22551
The CSS transform translate property only work with display block elements. You can use `inline-block` instead.

[2020-09-10 14:59] #22551 closed

[2020-09-10 15:06] oliviertassinari commented on #22534
@doodhJalebi Thanks for the question, now I think I understand what problem @alehechka was facing. What about we update the documentation to include: https://material-ui.com/components/accordion/#performance. I believe the problem is the same. We can leverage the same solution.

[2020-09-10 15:09] woss commented on #21251
on the other hand i got the idea to completely extract paths into the separate folder called `paths` inside the `packages/material-ui-icons` ( for the time being and for the discussion) @oliviertassinari  check my fork and implementation here https://github.com/woss/material-ui/tree/woss-extract-paths/packages/material-ui-icons/paths

If we go this way, you could create separate repo just for the

[2020-09-10 15:28] oliviertassinari commented on #21251
@eps1lon Ok thanks. It sounds like we will be able to make the icons repository lighter in the near future.
@woss So you are suggesting option 2 or 3 from https://github.com/mui-org/material-ui/issues/21251#issuecomment-688923161?

[2020-09-10 15:32] oliviertassinari commented on #22547
@guitexa So you don't want the label to shrink when focused but only when dirty? I guess we can close the issue in this case since it only happens with keyboard navigation.

[2020-09-10 15:39] woss commented on #21251
With this approach option 3 would be the best, don't you think?

Option 2 with the new files that i've created would be a good solution but you would still need to do the same thing as in option 3, difference would be that with option 3 material-io/core is not installed even declared since the files are just strings and it can be used anywhere.

I understand that it requires time to set it up but

[2020-09-10 15:42] muscaiu commented on #22551
@oliviertassinari thanks, i get it now.

You have any answer for my second question?
_2. Is there any way to start the slide from a custom point (and not from the edge of the screen)?_

[2020-09-10 15:43] oliviertassinari commented on #21251
@woss If I understand: a. you don't want to have @material-ui/core bundled, why? b. you don't want @material-ui/core to be installed in your file system, why?

Note that with option 2, we can make @material-ui/core an optional peer dependency, which will solve both a. and b.

[2020-09-10 15:44] oliviertassinari commented on #22551
Not I'm aware of.

[2020-09-10 15:46] oliviertassinari commented on #22550
Duplicate of #15914

[2020-09-10 15:46] #22550 closed

[2020-09-10 15:48] woss commented on #21251
@oliviertassinari

a: i really don't need it
b: i really don't need it

Why creating new package that will hold only the svg paths and nothing else doesn't sound like a great approach?

[2020-09-10 15:55] oliviertassinari commented on #22549
@fruchtsalat What's the use? Material Design only has a reference to a right alignment for ["fixed tabs"](https://material.io/components/tabs#fixed-tabs) (all visible at the same tile).

Why is it not working?

[2020-09-10 16:09] oliviertassinari commented on #22549
It's probably not worth spending energy on, closing.

[2020-09-10 16:24] oliviertassinari commented on #21361
@manonja Use the `renderOption` prop. `getOptionLabel` should be a string, it's used to fill the textbox.

[2020-09-10 16:26] doodhJalebi commented on #22534
@oliviertassinari that would be just perfect! Quick question: would this update to the docs be a patch or will I have to wait till v5 comes out?

[2020-09-10 16:32] oliviertassinari commented on #22534
@doodhJalebi This has been supported since v1. The documentation would be on v5 (next branch). Do you want to give it a try? :)

[2020-09-10 16:51] oliviertassinari commented on #22535
@jonathan-stone Right, InputBase is used by Input, OutlinedInput, and FilledInput. This information is not directly available. We could include it.

`FormControl` is meant to centralize the state between the different building blocks of the input.

[2020-09-10 17:23] doodhJalebi commented on #22534
@oliviertassinari I would love to give it a try (only if its not too much of a hassle for you).

[2020-09-10 17:26] mordechaim commented on #22542
I figured I can simply use `open` and `onOpen`/`onClose` to conditionally display tooltip. I don't anymore think this is an issue.

[2020-09-10 17:51] eps1lon commented on #14187
Our components won't meet WCAG by default. The look&feel are more important (see #22541). It's not viable to document all possible techniques to makes the components meet WCAG 2.1. We'll revisit this in the future once we have the bandwidth for it.

[2020-09-10 18:02] willwill96 opened #22553 "Box Component doesn't grab font family from theme"
I'm not really sure if this is expected behavior or not, but figured I'd post anyways because our team ran into this.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The Box component uses the browser default font family.

## Expec

[2020-09-10 18:32] eps1lon commented on #14187
@oliviertassinari Did you change your mind after #22541? Could you explain why you want to follow ADA but not WCAG?

[2020-09-10 18:32] #22542 closed

[2020-09-10 19:21] oliviertassinari commented on #14187
@eps1lon From what I understand this issue is about providing a list of all the known issues around accessibility. With a comprehensive list, we could then prioritize work on the most important items. With such a list, developers can then evaluate each component and decide if they want to use it or not, individually. So I think this should stay open until we can provide a comprehensive list. I thi

[2020-09-10 19:37] alehechka commented on #22534
@oliviertassinari Thanks for updating this to be a doc related issue, I think that's definitely the route to go since I don't think this is the fault of material-ui. I was originally following the Stepper docs [here](https://material-ui.com/components/steppers/#horizontal-stepper).

In the example code it uses the function getStepContent that will return the text to be used on that step. I changed

[2020-09-10 19:38] oliviertassinari commented on #22534
@doodhJalebi Go ahead, it will save us time. Note that the tradeoff of the Stepper is opposite to the Accordion. We don't mount all the steps to speed up the initial mount.

[2020-09-10 20:02] theGirrafish commented on #18646
@oliviertassinari @captain-yossarian
This issue still pertains to Autocomplete when the `multiple` prop is set to `true`, alongside `freeSolo`, `autoHighlight`.

I modified the original sandbox to demonstrate this: https://codesandbox.io/s/create-react-app-forked-ff1h7?file=/src/App.js

Basically it's the same bug mentioned before:
- type a x2, type Backspace => observe that the first option is no

[2020-09-10 20:08] procheta1999 opened #22556 "CardMedia not displaying image in Card API"

[2020-09-10 20:24] oliviertassinari commented on #22556
The issue has been closed because it does not conform to our issue requirements.
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-09-10 20:24] #22556 closed

[2020-09-10 20:36] captain-yossarian commented on #18646
@alexpermiakov You can pick it up
@theGirrafish @oliviertassinari  if @alexpermiakov will not pick it up, I'll start work on it in 2 days

[2020-09-10 21:53] mbrookes commented on #21251
@woss If all you want are the raw SVG paths, you might be better off starting [here](https://github.com/google/material-design-icons/) (Although it seems that whoever at Google is now maintaining this scrapes them! 😆)

[2020-09-10 23:43] oliviertassinari commented on #22553
@willwill96 This is expected, the Box was meant as a first iteration on the problem and solution described in https://github.com/jsxstyle/jsxstyle#why-write-styles-inline-with-jsxstyle:

<img width="872" alt="Capture d’écran 2020-09-11 à 01 39 42" src="https://user-images.githubusercontent.com/3165635/92825379-c4937780-f3cf-11ea-8e47-9e7ffbba091c.png">

We plan to revamp this in v5, to push it f

[2020-09-10 23:43] #22553 closed

[2020-09-10 23:53] oliviertassinari commented on #22543
@Rc85 Inverse `@media` and `:hover` in the nested object structure, it should solve the issue.

[2020-09-10 23:53] #22543 closed

[2020-09-11 05:58] arslanakhtar61 commented on #14270
@oliviertassinari could you kindly provide a quick example on how to use popperOptions to achieve this, Thanks

[2020-09-11 08:23] Floriferous commented on #22538
This isn't a support request, but a feature request, I don't think this is currently doable with this library.

[2020-09-11 08:36] anmol5varma commented on #22434
So what is our final take?

[2020-09-11 08:57] Floriferous commented on #12058
Would someone know how to keep this working when using a custom `inputComponent` prop on the `Input`? Something must be stopping the click event from reaching doing its thing?

Here's a very simple reproduction of the issue: https://codesandbox.io/s/relaxed-elbakyan-4hnqr?file=/src/Demo.js

[2020-09-11 09:21] ccpu commented on #22540
apparently  the problem is using `window` for `boundariesElement` in [here](https://github.com/mui-org/material-ui/blob/7a4bd5807959b0069be9b5f40ba80eaae9ace2c8/packages/material-ui/src/Popper/Popper.js#L132).

Setting `viewport` to `boundariesElement` will solve the problem, i am happy to send PR, could you please share your opinion.

[2020-09-11 09:25] oliviertassinari commented on #22434
@anmol5varma I have added the item in the public [roadmap board](https://github.com/mui-org/material-ui/projects/25#card-45122677): we will try to get to it, later next year.

[2020-09-11 09:26] oliviertassinari commented on #22540
@ccpu So it's an issue with popper and we can close?

[2020-09-11 10:04] oliviertassinari commented on #12058
@Floriferous Thanks for raising, you would need to do:

[code]

If you want to solve this pain point for the other developers in v5, feel free to work on #22253.

[2020-09-11 11:21] mnajdova commented on #22544
Thanks for the repro @ImanMahmoudinasab

Seems like the margin is coming from the `InputAdornment` styles:
[code]

so we need to basically remove the margin. I would propose the following change:

[code]

This is the end result:

![image](https://user-images.githubusercontent.com/4512430/92919737-51bae880-f431-11ea-9ba0-2bb37a1672b4.png)

What do you think about this? Would you like to work on a P

[2020-09-11 11:33] oliviertassinari commented on #22544
@mnajdova +1

The structural difference is that the OutlinedInput has the `<input />` takes the whole height, while with the Autocomplete, it behaves likes a multiline OutlinedInput, the `<input />` only takes the minimum amount of height it needs to function correctly.

We have the same issue with:

[code]

<img width="274" alt="Capture d’écran 2020-09-11 à 13 30 50" src="https://user-images.gi

[2020-09-11 11:34] ccpu commented on #22540
yes, apparently this is an issue with popper v1 that using `window` for `boundariesElement` causes the problem.

[2020-09-11 11:34] oliviertassinari commented on #22544
Maybe in the future, we should look into how we can unify the CSS for multiline and Autocomplete use cases.

[2020-09-11 11:38] oliviertassinari commented on #22540
We have a POC by @joshwooding to upgrade to v2 #21761.

[2020-09-11 11:42] #22540 closed

[2020-09-11 11:46] oliviertassinari commented on #22529
Let's see if it resonates with developers: https://twitter.com/olivtassinari/status/1304385408525045760, we can re-close the issue if not.

[2020-09-11 12:56] oliviertassinari commented on #22529
Another pros I didn't thought about before. The mui.* pattern makes it easier to identify what's used in the codebase. Say you have multiple custome button, greping `mui.Button` will give you more accurate results.

We never destruture the theme object in the codebase for this very reason. We always do `theme.palette.divider`, not `const { divider }= theme.palette`.

[2020-09-11 14:53] oliviertassinari commented on #16205
Would this be good enough?

[code]

[2020-09-11 15:41] utazabanje opened #22561 "Autocomplete - ForwardRef(Autocomplete) Error"
Error when you add groupBy property to Autocomplete

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Autocomplete works fine but when I add groupBy property I see this error in the console

<img width="625" alt="Screenshot 2020-09-11 at 17 21 06" src="ht

[2020-09-11 15:58] eps1lon commented on #22561
@utazabanje  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-09-11 19:02] mbrookes commented on #18423
If Paper is removed, does Stepper need a `component` prop? It can just be "wrapped in paper" (with ribbon and a bow 🙂 ):

[code]

[2020-09-11 19:16] oliviertassinari commented on #18423
In the unknown, we can start without a component, and wait for a solid use case from a developer?

[2020-09-11 20:02] vaibhavM55 opened #22562 "The AppBar and Drawer (temporary variant) z-index has unexpected behaviour"
I was trying to implement a drawer in my application and was following this example https://material-ui.com/components/drawers/#clipped-under-the-app-bar

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

As shown in the example, you

[2020-09-11 20:06] mbrookes commented on #18423
Yep, it's the approach @eps1lon has advocated for.

[2020-09-11 20:12] vivek-itmtb commented on #7466
Is there any fix yet?
I am having this issue and thinking of using `overflow-x: hidden`, What do you think?

[2020-09-11 20:15] fabriziodsp-ransom opened #22563 "Is posible that the onSelect prop for the Autocomplete React Component is missing in the documentation?"
I was reading the documentation and I realized that there is a prop called onSelect wich is missing there.

[2020-09-11 20:26] oliviertassinari commented on #22563
Material-UI doesn't implement a single `onSelect` prop.

[2020-09-11 20:26] #22563 closed

[2020-09-11 20:32] oliviertassinari commented on #22562
@vaibhavM55 What's the issue?

[2020-09-11 20:34] oliviertassinari commented on #22562
The elevation of the temporary drawer is https://github.com/mui-org/material-ui/blob/7a4bd5807959b0069be9b5f40ba80eaae9ace2c8/packages/material-ui/src/styles/zIndex.js#L8

[2020-09-11 20:34] #22562 closed

[2020-09-11 20:46] vaibhavM55 commented on #22562
Thanks for the quick reply. I didn't know temporary drawer was considered as a modal internally as it wasn't mentioned anywhere in the docs. So, as you can see, I did waste a lot of time because of it.

You should definitely mention it in the documentation of the `temporary drawer` or the `clipped under the app bar` example.

[2020-09-11 20:48] oliviertassinari commented on #22562
@vaibhavM55 You can some of the information from the dev tools.
<img width="922" alt="Capture d’écran 2020-09-11 à 22 47 23" src="https://user-images.githubusercontent.com/3165635/92971493-d4b75f80-f480-11ea-8c89-328c54e12e6e.png">

I think that this issue will do it just fine for the documentation. Thanks for opening it.

[2020-09-11 20:57] vaibhavM55 commented on #22562
Thanks again, But it would be nice to have it mentioned in the documentation as its not entirely intuitive that the drawer will have different z-index based on the variant types. So, please do consider it.

Also, I assume that the reason temporary drawer has the same z-index as modal, is because its based upon modal. Am I right in my assumption? If so, is it possible that the temporary drawer has

[2020-09-11 21:07] vaibhavM55 commented on #22562
Also, to get around the issue mentioned above of changing the modal z-index and all, I tried setting the z-index on my temporary drawer to `1250` and my appbar to `1251` using the makeStyles hook, but that does not seem to work.

https://codesandbox.io/s/material-demo-forked-3cdnx?file=/demo.js

[2020-09-11 21:17] #13485 closed

[2020-09-11 21:17] bramick commented on #14187
ADA recommends WCAG AA 2.0... (note 2.1 is now out)

On Thu, Sep 10, 2020, 1:22 PM Olivier Tassinari <notifications@github.com>
wrote:

[2020-09-11 22:23] ImanMahmoudinasab commented on #19827
1.  What makes it slow?
2. What is the recommended solution in this case?

This alternative won't help if we use `<ListItemSecondaryAction>` in the `ListItem` as it will wrap item with a `<li>`.

[2020-09-11 22:35] oliviertassinari commented on #19827
@ImanMahmoudinasab See #19254 for a proper fix, in case you want to work on it.

[2020-09-11 23:02] nrayann commented on #20161
I had the same problem, `filterSelectedOptions` has no effect when the component is controlled.

I am lucky for finding this post, thanks @ohlr and @oliviertassinari

I think `filterSelectedOptions ` should have a comment in Autocomplete API documentation , like `defaultValue`, saying:

As well a comment suggesting using `getOptionSelected` for controlled components instead using `filterSelectedOp

[2020-09-11 23:08] ImanMahmoudinasab commented on #19254
I checked the changes and I think they make sense.

Looks like you already solved the problem and put the code, then what is remained? :D

[2020-09-11 23:18] ImanMahmoudinasab commented on #19827
@oliviertassinari The changes in the mentioned issue will allow developers to use `MenuItem`s as a Autocomplete's item. But what about the slowness you mentioned?
I like to get more insight into the slowness issue, any reference?

[2020-09-11 23:19] CristianoYL commented on #17043
I second @vdh 's initial comment. I came across this issue recently. The use case for me is to disable all types of input fields during submission, and once submitted, the form becomes read-only.

The visual difference is important as faded fields imply users that actions are not allowed atm, while read-only fields have the original styles. It makes reviewing the data much easier and the page woul

[2020-09-12 04:58] hiteshhv commented on #21142
I would like to work on the issue

[2020-09-12 10:32] oliviertassinari commented on #20161
@nrayann Unless you have a reproduction that proves, your conclusion is very likely false. `filterSelectedOptions` is always working, it doesn't matter if the component is controlled or not. However, if the value and options are "disconnected" it won't have any effect, as not able to know what's already "selected".

[2020-09-12 10:39] oliviertassinari commented on #19254
The hardest part, to get it merged in the `next` branch. We would need a pull request, fix the tests, update the documentation, etc.

[2020-09-12 10:40] oliviertassinari commented on #19827
@ImanMahmoudinasab Best to try it out by yourselves, if you are fine with it, you can move forward.

[2020-09-12 10:54] oliviertassinari commented on #22529
It doesn't seem to resonate a lot with the community. It seems that they are mostly used to the following approach:

[code]

On Vue land, they seem to basically make all the components globals:

[code]

https://vuetifyjs.com/en/getting-started/quick-start/#vue-cli-install

And then, some have a [smart loader](https://github.com/vuetifyjs/vuetify-loader) to have tree-shaking.

[2020-09-12 11:18] #22547 closed

[2020-09-12 11:31] aditya1906 opened #22572 "Select with outline and label is overlapping"
In my application I used the Select component with outline, in the documentation we see that the InputLabel "Age" does not overlap with the outline, but when I tried to change it to some other name like "Category" the InputLabel overlaps with the outline when we select an option.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/materi

[2020-09-12 11:34] #22572 closed

[2020-09-12 11:34] oliviertassinari commented on #22572
tip: the label prop.

[2020-09-12 11:40] oliviertassinari commented on #21142
@hiteshhv Awesome, it's all yours.

[2020-09-12 11:52] o-alexandrov commented on #22529
I am not surprised pretty much none of the responders there read this GitHub issue 😅

I read all of the responses there:
- people ask: would it hurt bundle size
  - even though with absolutely no modifications to webpack's bundling optimization defaults, tree-shaking works the same for both types of imports
- some agree and pretty positive about it
- some don't like it due to legacy projects

Pers

[2020-09-12 12:03] o-alexandrov commented on #22529
Stats based on your tweet:
- 16 different users answered (not including Sebastian and Olivier)
  - 7 undecided: `@sandeep0695`, `@TandonKrishna12`, `@AndaristRake`, `@erikras`, `@thegoldenshun` (mentioned only with icons, so I'd say more positive than negative), `@arunkumar413`, `@MelamedYoav`
  - 6 like it: `@ee0pdt` (likes it, but held with a legacy project), `@garbage_value`, `@alchemist_ubi`,

[2020-09-12 12:08] oliviertassinari commented on #22529
@o-alexandrov I will personally snooze the matter for the next 2+ months. I don't think that we need to rush any changes. We have until v5 land to make bold changes. Regarding the esthetic, [Ant Desing](https://ant.design/components/menu/#header) and react-bootstrap: does that too, e.g.

<img width="693" alt="Capture d’écran 2020-09-12 à 14 07 10" src="https://user-images.githubusercontent.com/3

[2020-09-12 12:14] o-alexandrov commented on #22529
I totally understand decisions like this in a popular project are hard to make.
I am already happy you were open to reconsider.

From here, please do as you see best for the community, you know what's best much better than I do.

[2020-09-12 12:15] oliviertassinari commented on #17043
@CristianoYL So it's basically the same use case than Google Form. Set the checkbox disabled and customize it. It's what Google does:

<img width="833" alt="Capture d’écran 2020-09-12 à 14 14 48" src="https://user-images.githubusercontent.com/3165635/92995279-70d57b00-f502-11ea-862c-e1070752e1ad.png">

[2020-09-12 12:27] eps1lon commented on #17043
I'm cautiosly leaning toward implementing proper `readOnly` for our `Checkbox`. Right now `<input type="checkbox" readOnly />` has no valid mapping to ARIA and I think we should fill this hole. I'm mostly concerned with form integration. I don't know how popular form libraries would treat it but with a native `<form>` read-only is different from disabled with regard to the submitted form data: dis

[2020-09-12 15:41] HimanshuMamodiya commented on #21745
@oliviertassinari
I am using the same way as mentioned in the docs, with alpha version . still I am not able to access . I have tries by providing keys as well . Any help will be appreciated.

const theme = createMuiTheme({
  breakpoints: {
    values: {
     xs: 0,
      tablet: 640,
      laptop: 1024,
      desktop: 1280,
    },
  },
});

@Guneetgstar  are you able to apply custom break point n

[2020-09-12 16:08] victorsmits opened #22576 "Autocomplete -- Enter keys not detected"
I can select a value when I press the enter keys. I have search every where but it seams like I am the only one who got this error. I have this issue with all my autocomplete.

can someone help me.

[2020-09-12 16:10] #22576 closed

[2020-09-12 17:18] numToStr commented on #9513
@oliviertassinari Is this still on the roadmap?

[2020-09-12 19:11] #16205 closed

[2020-09-12 20:03] Siddhant-Goswami commented on #21801
Is it fixed now? I'm still facing the same issue on v4.11.0

[2020-09-12 20:18] croraf commented on #21924
The HTML is setting default type to "submit" when the button is related to the form. I guess that means when the button is in the form or has a form attribute. (Not sure if only the first button is set to submit or all of them in the form.)

MUI is deviating comparing to this, which is confusing. I had a question for an user today about this and it really is confusing. (also the API docs do not me

[2020-09-12 21:13] utazabanje commented on #22561
@eps1lon Thanks for the reply.

Here is the code sandbox but here it works and I still don't know how it's not working in my project because I don't have any additional code that might cause an error.

[working code](https://stackblitz.com/edit/react-yhrh7j?file=src%2FApp.js)

[2020-09-12 22:17] eps1lon commented on #22561
If you can reproduce please ping me again. There's probably something off with your build setup. Or maybe you're using different package versions.

[2020-09-12 22:17] #22561 closed

[2020-09-12 22:24] ImanMahmoudinasab commented on #19254
@oliviertassinari I'm going to start working on this.

[2020-09-13 09:08] mnajdova commented on #22166
@hkurra sorry for the late response. The proposed change looks good to me, feel free to open a PR if you would like to.

[2020-09-13 16:29] RubberChickenParadise commented on #2787
I got it working with the [Autocomplete virtualized example](https://material-ui.com/components/autocomplete/#virtualization) and the following small modifications to the `Virtualize` function from the code example:

[code]

The main changes are taking in the the various things I wanted to change.  It works great for my 500ish item list

[2020-09-14 00:05] huysbs opened #22592 "[Tabs] Scrollable Tabs are sometimes displaying partial tabs"
- [ X ] The issue is present in the latest release.
- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using scrollable tabs, the arrow buttons scroll the tabs on full width and this means that sometimes tabs will be rendered partially. A tab will be shown partially at the end

[2020-09-14 00:11] joemillervi opened #22593 "makeStyles cannot create psudo element styles using a function"
## Current Behavior 😯

makeStyles allows for supplying a function to generate a style value object. However when using a psudo element this does not work

## Expected Behavior 🤔

a psudo element value should be able to be created with a dynamic function

## Steps to Reproduce 🕹
[code]

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | "@materi

[2020-09-14 00:49] joemillervi commented on #22593
Actually this is probably known / desired behavior.
Although you cannot have a function create the whole style object, you can have functions defining the values within it.
So, with my example, this works
[code]

[2020-09-14 00:50] #22593 closed

[2020-09-14 05:46] mnajdova commented on #22170
After some investigation it seems to me that we should invoke the `syncHighlightedIndex` also if the `filteredOptions` changes, not just if the length changes, so we would be able to catch these async changes.

How could we solve this?

First, we would need to change the dependency list of this callback, to contain the `filteredOptions`, not just it's length.
[code]

With this change, the `onHighl

[2020-09-14 06:05] DonutRanger commented on #22529
As a beginner coming to MUI, this feature would be extremely helpful! Was already contemplating to use another library until I saw this issue

[2020-09-14 06:05] dbengtsson commented on #11251
I'm sorry but adding extra elements to the DOM for this when there's an easy CSS-fix that should be supported as a prop is just... smh.

[2020-09-14 06:45] mnajdova commented on #22592
@huysbs thanks for reporting the issue. I would say this is very corner case scenario, but we could provide fix for it. What do you think about this changes:

[code]

What we are doing with this changes basically is, calculating the size of the last visible element and extracting it from the scroll difference, so that whenever are invoking the scroll to next, the first element will be fully visibl

[2020-09-14 07:46] oliviertassinari commented on #22170
@mnajdova The proposed fix also solves #22073, the issue is that `onHighlightChange` gets desynchronized with what actually displayed.

However, the change **breaks** 2 tests in the regressions suite:

- the first test is for #21280, we can observe the regression on `/components/autocomplete/#githubs-picker`. The scroll resets to the top when a value is unselected.
- the second for #18611. we can

[2020-09-14 07:52] oliviertassinari commented on #22170
For b. maybe we should have a `shouldScrollHighlightedIndex()` callback that the developers can configure. By default, it's always `true`, but they can have it return `false` for instance, for /components/autocomplete/#githubs-picker. We would always return `false`. Does it need to be an imperative callback? Maybe not, a prop could work too.

[2020-09-14 08:12] oliviertassinari commented on #22592
@mnajdova Interesting, I was wondering about scrolling by the number of pixels of tabs that are fully visible. For instance here:

<img width="779" alt="0 0 0 0:3000 2020-09-14 10-08-51" src="https://user-images.githubusercontent.com/3165635/93060488-7f42a480-f672-11ea-98b7-bb4f84acd7c4.png">

When a user clicks on the left arrow to scroll back, right now, we scroll for the full width. By scrollin

[2020-09-14 08:19] oliviertassinari commented on #22073
The problem is very close to #22170, we are discussing the solutions possible in https://github.com/mui-org/material-ui/issues/22170#issuecomment-691825640

[2020-09-14 08:23] mnajdova commented on #22170
`shouldScrollHighlightedIndex()` sounds like a good solution in my opinion. We would have the best default we can, but developers can opt out of it 👍

[2020-09-14 08:33] mnajdova commented on #22592
@oliviertassinari that could work too, the code would need to be slightly changed so that the size of the scroll would be the sum of all fully visible elements. Maybe something like this:

[code]

I think both approaches can work

[2020-09-14 08:46] oliviertassinari commented on #22592
@mnajdova that last solution looks great.
I guess the only question left is: should we solve the problem, does it worth the bundle size cost? It seems that it does :)

[2020-09-14 08:52] mnajdova commented on #22592
I think yes, it's definitely an improvement. @huysbs would you be interested in creating a PR? :)

[2020-09-14 09:40] bilalharry commented on #22426
Kwanso

[2020-09-14 10:12] Morcatko commented on #14270
This works for me
[code]

[2020-09-14 12:04] oliviertassinari opened #22594 "[RFC] Should we handle dark mode scrollbar?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

The default style of the scrollbar doesn't play well with a dark mode. The surface is too white, it draws more attention than it needs to:

**Windows**
<img width="764" alt="Capture d’écran 2020-09-14 à 13 53 47" src="https://user-images.githubuserconten

[2020-09-14 12:06] montelius commented on #19654
Hello! :) Can I work on a pull request for this?

[2020-09-14 12:26] eps1lon commented on #22594
I thought this was a custom scrollbar implementation. It's a bit unfortunate that these aren't standardized so we could leverage CSS postprocessors (`jss` or `postcss`).

Is https://drafts.csswg.org/css-scrollbars-1/ sufficient to get better scrollbar colors? Hopefully the mentioned CSS postprocessors add vendor prefixes.

[2020-09-14 12:45] oliviertassinari commented on #22594
@eps1lon https://drafts.csswg.org/css-scrollbars-1/ would solve the issue, it's what the above diff uses for Firefox. However, no browsers support the `"dark"` value yet. Also, the specification seems to have ignored the customization of the "active" and "hover" color states.

[2020-09-14 13:23] eps1lon commented on #22594
They adress this pretty clearly:

Different platforms have different scrollbar structure means testing interop is harder, because authors would need to take not only engine but also platforms into account.

[2020-09-14 13:58] oliviertassinari commented on #22594
I think you can follow #21641 for this one.

[2020-09-14 14:01] eps1lon commented on #22594
I vastly prefer native scrollbars. Scrolling is one of those things that this the absolute best performance. And a general purpose React component can't fit into that.

I would support this feature only if it uses native scrollbars. Though we should be a bit more diligent and explore standardized properties.

[2020-09-14 14:24] bipindubey-technoark opened #22595 "Autocomplete crashes"
The above error occurred in the <WithStyles(ForwardRef(Autocomplete))> component:
    in WithStyles(ForwardRef(Autocomplete)) (at Offers.js:482)
    in div (created by ForwardRef(Grid))

[2020-09-14 14:30] eps1lon commented on #22595
@bipindubey-technoark  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-09-14 14:37] bipindubey-technoark commented on #22595
this is my code

<Autocomplete
                            multiple
                            id="checkboxes-tags-demo"
                            options={top100Films}
                            name="cities"
                            size="small"
                            getOptionLabel={(option) => option.title}
                            renderOption={(option, { selected }) => (

[2020-09-14 14:39] bipindubey-technoark commented on #22595
![Screenshot from 2020-09-14 20-09-33](https://user-images.githubusercontent.com/59605232/93099948-3f0d1180-f6c6-11ea-9a57-d9d97b7b71aa.png)

[2020-09-14 14:44] eps1lon commented on #22595
See the warning: "Invalid field name. Either pass `useField` a string or an object containing a `name` key.". This is likely an issue with `formik-material-ui`. If you can't reproduce this issue without 3rd party libraries please open an issue in `formik-material-ui` instead.

[2020-09-14 15:57] Vincz commented on #11410
Hey @simb4 ! A little bit late to the party but I still have this issue. I'm also using `react-ssr-setup`.
Did you find a solution since then? Thanks!

[2020-09-14 16:15] mihaipanait opened #22596 "[Select] Do not render correctly when displayEmpty is set to true"
Outlined or Filled selects do not render correctly when displayEmpty is set to true. The label overlaps the 'None' value.

https://codesandbox.io/s/material-demo-forked-kg8p2?file=/demo.tsx

![2020-09-14 19_08_41-Material demo - CodeSandbox](https://user-images.githubusercontent.com/3032687/93110608-3b758c80-f6be-11ea-8988-7127cd805570.png)

[2020-09-14 16:21] szewah opened #22597 "[ImageList] Wrap image with a link <a>"
I want to add a link <a> tag around the images. However, when I resize the browser to greater than 1245px, the images separate.

Here's the sandbox:
https://codesandbox.io/s/thirsty-diffie-3e2fg?file=/src/App.js

Adding screen cap of the original
![Screen Shot 2020-09-14 at 12 17 12 PM](https://user-images.githubusercontent.com/32065713/93111415-912d4300-f684-11ea-9814-fa689dcad4a7.png)

I'm using

[2020-09-14 16:30] oliviertassinari commented on #22596
It's by design, see the examples.

[2020-09-14 16:49] alexmotoc commented on #22597
I bumped into the same issue quite recently. The way I solved it was to add an ```onClick``` to the ```GridListTile``` and redirect to the desired link that way.

[2020-09-14 17:09] CristianoYL commented on #17043
@oliviertassinari Thanks for the tips. That's what I'm currently doing. I'm just trying to provide a sensible use case for the proposed feature. But what @eps1lon pointed out is something I didn't think of. I would keep an eye on how it goes. Thank you guys.

[2020-09-14 18:41] nkpz commented on #15610
My use case is similar to @jeromeSH26 - creating a library of common components to be used in multiple projects within an organization. His advice is good, but in order to get this fully working for my setup, I also had to declare all material UI components as externals in my webpack config, and I did this with a regex like so:

[code]

Everything is now working as expected. Hope this helps someon

[2020-09-14 19:19] KyruCabading opened #22598 "[Tabs] Scroll buttons are not displayed if scrollButtons="auto" and on mobile"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When `scrollButtons="auto"` it never shows the scroll buttons even when tabs are not fully visible within Mobile View.
The description of this prop says it should display the buttons w

[2020-09-14 19:22] KyruCabading commented on #22598
I think the solution is related to this line...

[code]

scrollButtons should never be hidden based on breakpoints if `scrollButtons="auto"`?

[2020-09-14 19:28] Lijun21 commented on #17023
Has this solution been implemented? It doesn't seem work.

`MuiSlider: {
  markLabel: {
    color: graysDefault,
    '&[data-index="1"]': {
      left: '50%',
    },
  },
},`

[2020-09-14 19:47] #18423 closed

[2020-09-14 20:05] avelosa commented on #15610
@nkpz does using webpack externals require including a script tag with src being a CDN url?

[2020-09-14 20:41] mihaipanait commented on #22596
The description in the Component API reference for Select - displayEmpty property does not mention anything about outlined and filled variants. If it's by design why it is not mentioned in the documentation? And by the way a property that only works in a certain context looks like a bad design.

[2020-09-14 20:52] gabrielvrl opened #22599 "Does Tooltip work along Material Icons in mobile with mobile touch?"
I'm trying to make a tooltip with a material icon `(HelpIcon)` and it does not work with mobile touch, has anyone experienced anything like that? If yes, how did you solved?

## Current Behavior 😯
Does not show the arrow tooltip

## Expected Behavior 🤔
Should show the arrow tooltip

## Steps to Reproduce 🕹
import any icon from material icon
try this on mobile with mobile touch:
[code]

[2020-09-14 20:56] #22599 closed

[2020-09-14 20:56] oliviertassinari commented on #22599
tip: it needs a long press

[2020-09-14 20:58] gabrielvrl commented on #22599
@oliviertassinari how so?

[2020-09-14 21:03] oliviertassinari commented on #17023
@Lijun21 It works, yes:

[code]

<img width="513" alt="Capture d’écran 2020-09-14 à 23 02 56" src="https://user-images.githubusercontent.com/3165635/93137874-74bdf480-f6de-11ea-94cd-3aed65241418.png">

https://codesandbox.io/s/material-demo-forked-ekd4f?file=/demo.js:130-358

[2020-09-14 21:34] oliviertassinari commented on #22597
While we have revamped the component in #22395, the limitation still stands. You need to apply the object-fit style and to grow the image to cover the whole space of the cell:

[code]

@mbrookes I can't think a significant room for improvement. What we about we close the issue with this propose workaround?

[2020-09-14 21:44] oliviertassinari commented on #22596
@mihaipanait This is fair, what do you think about this diff?

[code]

Do you want to work on a pull request to improve the documentation? :)

[2020-09-14 21:53] szewah commented on #22597
Thanks @alexmotoc your hack worked.
Thanks @oliviertassinari I'll give it a try now.

[2020-09-14 23:25] huysbs commented on #22592
@mnajdova @oliviertassinari thank you for looking into this.
I'll give that a test and will try to make a PR for it.

[2020-09-15 06:31] cansin opened #22602 "[Chip] Invalid prop `variant` of value CUSTOM_VARIANT_VALUE"
- [x] The issue is present in the latest *alpha* release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a custom `Chip` variant is defined and tried to be used, a console.error is thrown. I can verify that this does not happen for custom `Button` variants.

## Expected Beha

[2020-09-15 06:58] mnajdova commented on #22602
Hey @cansin thanks for reporting! Looks like the `propTypes` were never updated. We need this change:

[code]

Would you be interested in creating a PR? :)

[2020-09-15 07:05] mnajdova commented on #22598
@oliviertassinari is this by design? I can see value of not showing them so that they won't occupy space, but it is not obvious that there are more items, which are not visible.

[2020-09-15 07:11] cansin commented on #22602
@mnajdova sure, let me fork and send a PR your way. Thanks for the quick response!

[2020-09-15 07:25] oliviertassinari commented on #22598
@mnajdova I couldn't remember, we did that 1 year ago, I have blamed the line to learn more about it. The logic comes from #15676, which links back to https://github.com/mui-org/material-ui/issues/15324#issuecomment-485774808. The current default behavior seems correct. It seems to be so we match the specification that never displays the buttons on mobile: https://material.io/components/tabs#anato

[2020-09-15 07:33] hmaddisb commented on #19268
can I work on a PR for this? :)

[2020-09-15 08:09] hmaddisb commented on #19268
maybe this is a somewhat stupid question, but I need to check (very new to this, my first issue). Isn't the changes supposed to be applied to CustomizedHook.js and not .tsx? Applying them to .tsx doesn't seem to result in any changes.

[2020-09-15 08:18] mnajdova commented on #22598
The proposal on https://github.com/mui-org/material-ui/issues/15324#issuecomment-485774808 makes sense to me, I agree that probably we should have more options for the prop value. @KyruCabading does this make sense?

[2020-09-15 08:33] oliviertassinari commented on #19268
@hmaddisb Good point, we should probably have the TSX demo used by default in development. The JS demos are only meant to be decorative. You can switch between the two with the toggle.

[2020-09-15 08:46] oliviertassinari commented on #22598
I'm not sure the proposal is up to date anymore. Would this API nail the problem?

[code]

[2020-09-15 08:50] hmaddisb commented on #19268
Okay! Thank you for the quick reply! Just so I don't misunderstand, the changes should only be applied to TSX? Even though the same issue behavior is showing in JS?

[2020-09-15 08:55] oliviertassinari commented on #22170
@mnajdova Cool, I have added the good to take label. It's a quite a challenging one to get right, but at least we now have a clear direction a understanding of the problem.

[2020-09-15 08:59] oliviertassinari commented on #22073
Since https://github.com/mui-org/material-ui/issues/22170#issuecomment-691901855 we have a proposal that should, in theory, work. It's up for grab.

[2020-09-15 09:01] oliviertassinari commented on #19654
@montelius yes :)

[2020-09-15 09:45] eps1lon commented on #22602
Do we not have some conformance tests for custom variants? These should catch these issues in the future.

[2020-09-15 10:52] sahibjotsingh commented on #15573
@oliviertassinari any estimated release date for it?

[2020-09-15 15:11] MikeAlvarado commented on #19827
Worked for me, thanks!

[2020-09-15 15:46] optimista commented on #13817
Tinkering with the Input underline as well at the moment.

I'm getting rid of the scale transformation and I would like to have just a simple color transition on `&:hover` and '&$focused`. It feels a bit tedious to understand whether and how I should modify `&:before` or `&:after` not to mess with different state colors (like `Mui-error`). Pseudoclasses are not very friendly in here when it comes

[2020-09-15 16:25] arslanakhtar61 commented on #14270
Thanks, @Morcatko.  Your sample code works.

[2020-09-15 16:25] #19268 closed

[2020-09-15 16:29] #19254 closed

[2020-09-15 18:32] nkpz commented on #15610
@avelosa No, defining an external will just tell it not to bundle the dependency and to look for it elsewhere in the bundle at runtime. It's useful for authoring a component library as an addon to mui because everything using the library will already have its own version of react, react-dom, material-ui etc

[2020-09-15 19:02] oliviertassinari commented on #13817
@optimista Did these demos help? https://material-ui.com/components/text-fields/#customized-inputs

[2020-09-15 19:15] brorlarsnicklas commented on #19748
Hi, is anyone still working on this?
I was looking at the discussion in #16565 and the comment you suggested above, do you want to add the event.stopPropagation() or something more inline with the last suggestion there (https://github.com/mui-org/material-ui/issues/16565#issuecomment-544137595)?

[2020-09-15 20:01] oliviertassinari commented on #19748
@brorlarsnicklas You are free to go. It's interesting to compare the behavior with a native slider. If you could figure out what makes it work correctly in https://codesandbox.io/s/boring-platform-tkel2. It would be awesome.

[2020-09-15 21:41] mcchong opened #22608 "No access to mui built-in classes through styled api"
When using the styled api, it appears to be impossible to override nested built-in classes of mui components.

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Can't seem to override built-in nested classes with jss objects using

[2020-09-15 22:00] #22608 closed

[2020-09-15 22:00] oliviertassinari commented on #22608
Tip: use the global class names `& .MuiButton-label`.

[2020-09-15 22:06] mbrookes commented on #22597
@oliviertassinari We could target any `img` descendent of ImageListItem, which would remove the need for `React.cloneElement`, but at the expense of ease of customisation.

[2020-09-15 23:08] duncanbeevers opened #22610 "Publish documentation as docset"
Standalone documentation browsing apps like [Dash](https://kapeli.com/dash), [Zeal](https://zealdocs.org/), and [Velocity](https://velocity.silverlakesoftware.com/) use a documentation packaging format called [docset](https://kapeli.com/docsets)

The excellent Material UI docs would be even nicer if they were published in the `docset` format, available for local+offline search and perusal.

- [x]

[2020-09-16 01:35] cloudshadow opened #23603 "[DateRangePicker] Allow same date selection"
[code]
![image](https://user-images.githubusercontent.com/1182967/93281454-b5149400-f7fe-11ea-8d3c-2de5026411de.png)

i think the issue is in the validateDateRange function. This function not use the allowSameDateSelection to pass the validate of utils.isBefore(range[0], range[1])

[2020-09-16 06:25] Forsaiken opened #22611 "[StepButton] style not working properly because StepLabel props is inacessible"
The component StepButton has a StepLabel inside it and his props is inacessible. If I try to apply a width: 100% in the StepButton style, this is not applied because the StepLabel inside it is not getting the StepButton style.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this

[2020-09-16 06:39] #22611 closed

[2020-09-16 08:43] oliviertassinari commented on #22597
@mbrookes the issue is that a developer also needs to change the size of the wrapping element of the image, it's required to have the correct placement. So I don't think that it's enough to solve this specific issue.

Now, maybe using a `& > img` selector instead of clone element would help for a different type of problem. It could make it easier when wrapping the img into another component withou

[2020-09-16 08:45] #22595 closed

[2020-09-16 08:53] oliviertassinari commented on #22610
@duncanbeevers would you be interested in working on the problem?

For the others interested, please upvote https://github.com/Kapeli/Dash-User-Contributions/issues/2384. Hopefully somebody from the community will fill this gap :).

[2020-09-16 08:54] #22602 closed

[2020-09-16 10:35] Hunt-David opened #22615 "`<button> cannot appear as a descendant of <button>` warning when using IconButton as action in CardHeader"
Creating a card, and passing an IconButton as the action for the CardHeader produces the following warning:
`Warning: validateDOMNesting(...): <button> cannot appear as a descendant of <button>.`

Can be replicated by using the example found on website:
[code]

[2020-09-16 10:54] #22615 closed

[2020-09-16 12:00] hkurra commented on #22166
@mnajdova Sure will do asap, I have raised it earlier but it has some problem, related to test case, will look into that and raise the PR again. I have found I need to consider other things like commit message format etc.
will consider everything and raise a PR

[2020-09-16 12:44] Norserium commented on #20593
@oliviertassinari, @chybisov, @caitecoll, I suppose I fought the solution: you should add `position: relative` to child that has `box-shadow` property. [Example](https://codesandbox.io/s/safari-shadow-bug-67n7w).

[2020-09-16 13:45] chybisov commented on #20593
@Norserium thank you, I will try to check it soon.

[2020-09-16 13:48] studious commented on #17142
This rounding issue is exactly what I have been banging my head against today in Safari browser
calc(100% + 8px) -> fails
calc(100% + 9px) -> succeeds

Again with nested Grid.

[2020-09-16 14:36] robmarshall commented on #15183
This seems to have regressed when using Preact on Chrome.

[2020-09-16 16:50] UnknownHero commented on #18891
Hi! I still have same problem.
So I want to share one of solutions. You can control "open" state.
Also you can call this in events of Autocomplete component: onOpen, onClose, onClickCapture

[code]

[2020-09-16 16:54] oliviertassinari commented on #18891
What's the issue? Why does it matter how many time the callback is fired?

[2020-09-16 16:58] eps1lon commented on #20310
Fixed with #20310 and #22297 for our v5 docs.

[2020-09-16 16:58] #20310 closed

[2020-09-16 16:59] UnknownHero commented on #18891
I want to loading data from server when i click Autocomplete component: https://material-ui.com/ru/components/autocomplete/#Asynchronous.tsx

Issue: double trigger of "onOpen" event. So, when i click Autocomplete element its trigger twice "fetch" to my server.

[2020-09-16 17:01] UnknownHero commented on #18891
To be sure:
Component render once, but onOpen triggered twice, so it's not re-render mistake

[2020-09-16 17:10] jaebradley commented on #22544
@ImanMahmoudinasab are you working on this? Totally fine if you are but if you aren't, I'd love to try!

[2020-09-16 18:29] at-webdev opened #22622 "[material-icons] Testing"
I am using React Testing Library, Is it possible to test in specific Material UI icon as ArrowLeft / ArrowRight instead of .MuiSvgIcon-root?

App component:
[code]

RTL Testing : Below tests are passing but it doesn't check in specific ArrowLeft or ArrowRight icon.

[code]

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is

[2020-09-16 18:36] BravenxX commented on #6722
So there is no way to do it yet???

[2020-09-16 18:37] gaiousantonio0909 commented on #5278
My problem was i need to customize the paper in my dialog. I have solved it by using paperProps in the <Dialog>
`<Dialog PaperProps={{style:{
                backgroundColor: "transparent",
                boxShadow: "none"
            }}} onClose={accessModal} open={modal} style={{
                boxShadow: "none",
            }} >
          <Do_your_THING_HERE />
</Dialog>`

[2020-09-16 18:39] duncanbeevers commented on #22610
@oliviertassinari I pushed a minimal docset-generating branch here; https://github.com/duncanbeevers/material-ui-docs

It leverages the existing build+export functionality, and relies on a 3rd-party tool `dashing` to build the docset.
Here's a zip of the generated docset; [material-ui.docset.zip](https://github.com/mui-org/material-ui/files/5234219/material-ui.docset.zip)

### Steps to test
1. Clo

[2020-09-16 19:14] oliviertassinari commented on #22622
@at-webdev For internal test purposes, we leverage:

https://github.com/mui-org/material-ui/blob/8452e7195ffa2e9f823ea9f44681739b8e33b797/packages/material-ui/src/utils/createSvgIcon.js#L9

However, this attribute is removed once the package is published on npm (to save bundle size and not leak test internals) with:

https://github.com/mui-org/material-ui/blob/8452e7195ffa2e9f823ea9f44681739b8e33b

[2020-09-16 20:28] meerkat-citronella opened #22625 "Modal component prop disableEnforceFocus not working"
I am trying to create an mui modal that allows the user to focus on and manipulate the page beneath. E.g. when the modal is open, the user should be able to click an input element on the page and enter some text. The prop [disableEnforceFocus](https://material-ui.com/api/modal/) seems to be the one that should do this:

Generally this should never be set to true as it makes the modal less accessib

[2020-09-16 20:31] #22625 closed

[2020-09-16 20:31] eps1lon commented on #22622
I think icons are the one case where we could make an exception since they have reasonable user impact and no simple alternative. I just hope we don't have to argue why we ship them for icons but not component X.

I'd consider the bundle size implications negligible. If you've got many icons on your page then either: compression will flatten the curve or you should look at [`<use>`](https://develo

[2020-09-16 20:32] oliviertassinari commented on #22625
Two notes:

- we don't support v4
- the popover has an overlay that intercepts clicks

[2020-09-16 20:37] meerkat-citronella commented on #22625
Isn't v4 the stable version?

https://www.npmjs.com/package/@material-ui/core

[2020-09-16 20:38] oliviertassinari commented on #6722
@BravenxX Sticky was added 3 years ago: #10090.

[2020-09-16 20:39] oliviertassinari commented on #22625
@meerkat-citronella v4 is the stable version

[2020-09-17 01:12] jaebradley commented on #22622
@oliviertassinari do you mind if I try implementing this?

And would you still want to keep the `data-mui-test` attribute for posterity (even if it gets removed before publication) or would you prefer if it was swapped with `data-test-id`?

[2020-09-17 09:02] jin60641 opened #22626 "[Box] using Box with withStyles makes useless classes attribute."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img width="738" alt="스크린샷 2020-09-17 오후 5 50 02" src="https://user-images.githubusercontent.com/9072743/93448163-43c40680-f90e-11ea-8d7e-6896d02f4de0.png">
Using `core/Box` w

[2020-09-17 09:17] oliviertassinari commented on #22626
Use the `styled` method over `withStyles`, it's better suited to the task.

[2020-09-17 09:17] #22626 closed

[2020-09-17 09:30] oliviertassinari commented on #22622
@jaebradley in the past, we have discussed replacing as many `data-mui-test` attributes with built-in accessibility features.

Assuming we will keep pushing in this direction, I think that we can rename the prop in SvgIcon and update all the tests that depends on it.

[2020-09-17 09:33] eps1lon commented on #22622
I wanted to have a look at existing `data-mui-test` usage anyway. Hopefully we don't even use them anymore at which point we might as well remove them. Otherwise people might get confused if they look at the source code (not that I wouldn't prefer this to be impossible but that kind of doesn't work with _open_ source :smile: ).

[2020-09-17 09:51] jin60641 commented on #22626
If I using theme object like below code,
[code]
How can I use `styled`? In [api doc](https://material-ui.com/styles/basics/), there's no example for this situation.
Using 'makeStyles' will better suited?

[2020-09-17 09:52] wald-tq commented on #19692
To fix the TypeScript error I added the MuiAutocomplete with AutocompleteClassKey to the ComponentNameToClassKey which is used in the Overrides Interface to declare the keys and properties.

[code]

[2020-09-17 09:57] oliviertassinari commented on #22626
You can use the theme too with `styled`. `makeStyles` sounds great.

[2020-09-17 09:58] jin60641 commented on #22626
Ok. thanks. :)

[2020-09-17 09:58] oliviertassinari commented on #19692
@wald-tq See https://next.material-ui.com/components/about-the-lab/#typescript or a simpler solution.

[2020-09-17 10:26] wald-tq commented on #19692
@oliviertassinari thanks a lot!
I also found also this in the changelog: https://github.com/mui-org/material-ui/blob/next/CHANGELOG.md#4102
Guess we are updating from 4.9.11 to 4.10.2

[2020-09-17 10:55] #22592 closed

[2020-09-17 11:36] delewis13 opened #22628 "[icons] Synchronize with new version"
Requesting that [content cut](https://material.io/resources/icons/?search=cut&icon=content_cut&style=baseline) be added to the material-ui icons.

Cheers :)

[2020-09-17 11:44] oliviertassinari commented on #22628
@delewis13 We have a generation script. Do you want to rerun it so we can include these new icons :) ?

[2020-09-17 11:55] lucastobrazil opened #22630 "[withStyles] hoc causes <Select /> menu to close when it shouldn't"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the `<Select />` component with `multiple`, the user should be able to select multiple options **without** the menu closing. This works as expected when instancing the `<Se

[2020-09-17 12:02] #22630 closed

[2020-09-17 12:03] oliviertassinari commented on #22630
tip: don't dynamically create components in the render phase.

[2020-09-17 12:14] Studio384 opened #22631 "Support replacing icons in various elements"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Some of the components in Material UI ship with built-in icons from the Material Design Icon set and only provide an option to replace them with another MDI.

## Examples 🌈
In case of Font Awesome, the following would be required to render the

[2020-09-17 12:34] pavelustenko commented on #11615
Still happen to me.
Is there any workaround?

[2020-09-17 12:53] oliviertassinari commented on #22631
- StepLabel icon can be replaced with `StepIconComponent` prop.
- Select icon can be replaced with `IconComponent` prop.
- TablePagination icons can be replaced with the `ActionsComponent` prop.

[2020-09-17 12:53] #22631 closed

[2020-09-17 12:55] oliviertassinari commented on #22631
@Studio384 I have two questions:

- if you have a preview of the design system you are working on, it would help us for #22485.
- would #21111 be something you would have used if available?

[2020-09-17 13:12] Studio384 commented on #22631
Then I've got to say that I'm 100% lost and that this seems like a massive gap in MUI's documentation on how to do that. Because, in regards to Font Awesome; how would I do this? The example given above doesn't work for Select's while it does work just fine in the components listed in "these do work". This seems just incredibly inconsistent and poorly documentated. MUI just shorts out with the fol

[2020-09-17 13:27] oliviertassinari commented on #22631
@Studio384 Right, you have to make sure the provided prop matches the expected type. It can be an element or a component.

[2020-09-17 13:34] oliviertassinari commented on #11615
Duplicate of #9337

[2020-09-17 14:23] bmg02 commented on #21795
Hi there.

I have downloaded material-ui/icons package for my new project, but there is no Google icon available for which I have done a pull request: [#21807](link:https://github.com/mui-org/material-ui/pull/21807)
I think you have forgotten to reflect that in the Master branch.

[2020-09-17 15:19] oliviertassinari commented on #21795
@bmg02 Your contribution wasn't lost :) https://unpkg.com/@material-ui/icons@5.0.0-alpha.7/Google.js

[2020-09-17 15:32] tylerjlawson commented on #22302
Hi, has anyone been able to make any progress on this issue?

[2020-09-17 16:00] bmg02 commented on #21795
Ohhh! Great. I have installed material-ui/icons version 4.9.1. I think that's why it is not there.

[2020-09-17 17:03] oliviertassinari commented on #22302
@tylerjlawson if you could, it would be great :)

[2020-09-17 19:59] lucaplays opened #22636 "Appbar not full width when position static and Modal with ScrollLock is open"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the AppBar Component with `position: static` and an open Drawer a `padding-right: 17px` is added to the body tag which leads to the AppBar not being full width an no `paddi

[2020-09-17 20:39] oliviertassinari commented on #22636
it's expected, it's to avoid layout jump. You can change the positioning of the AppBar to absolute if you want to avoid it.

[2020-09-17 20:39] #22636 closed

[2020-09-17 20:41] #20068 closed

[2020-09-17 21:04] #17905 closed

[2020-09-17 21:07] #22596 closed

[2020-09-17 21:26] oliviertassinari commented on #22597
My bad `.MuiImageListItem-standard > img` has a specificity of two. I think that it would still be better to ask the developers to rewrite the styles than have to fight with CSS specificity. At least, now, they are in control. Considering the initial question was answered, I'm closing.

[2020-09-17 21:26] #22597 closed

[2020-09-17 21:50] oliviertassinari commented on #20476
Does https://baseweb.design/blog/screen-reader-improvements#components-should-announce-their-state handle it correctly?

[2020-09-17 22:10] #5069 closed

[2020-09-17 22:10] #18019 closed

[2020-09-17 22:10] #18712 closed

[2020-09-17 22:10] #19159 closed

[2020-09-18 03:28] NoNonsense126 commented on #20852
I would like to start working on this.

To summarize:
1) Change default for autoHighlight `autoHighlight = !props.freeSolo`
2) Update demo
3) Handle new prop `highlight`. Or should it be named `defaultHighlighted`, mirroring the internal ref that's being used for `autoHighlight`?

[2020-09-18 05:18] ankur5984 commented on #7960
thanks .

[2020-09-18 06:21] eps1lon commented on #20476
They don't use native checkboxes so it doesn't really relate to this issue.

Features of native checkboxes have a bunch of inconsistencies in various browsers depending on the timing or how their props are changed. If you don't leverage native forms and need the mixed state then custom ARIA implementations may be a bit more robust. Though pure ARIA implementations are usually more prone to  screen

[2020-09-18 09:54] chaitali-pathak opened #22640 "Feature Request for Avatar Group"
Hello,
Thank you for wonderful material-ui!
I am creating list of users using AvatarGroup. I need to see all the users from the list when I click on the plus icon. There is no onClick feature for this particular component.
Please add it.
It is very basic feature and needs to be added there.

Thank you

@DanailH @alitaheri @DDDDDanica @dimitropoulos @dmtrKovalenko

[2020-09-18 09:56] oliviertassinari commented on #21745
@HimanshuMamodiya Do you have a reproduction on codesandbox with v5.0.0-alpha.10?

[2020-09-18 09:58] #22640 closed

[2020-09-18 11:10] brorlarsnicklas commented on #19748
@oliviertassinari I have been looking at the sandbox example and I'm not sure if this is any new information but, I think that there is some diff between how the slider component handles touch events and mouse events. Changing the slider in the sandbox with a touchscreen makes the slider behave correctly (works with both a computer with touchscreen and a phone). Is there a way to adapt the behavio

[2020-09-18 11:16] oliviertassinari commented on #19748
@zachsa On mobile the Slider has a `touch-action` style, hence the behavior you are seeing on mobile. The issue is on desktop.

[2020-09-18 11:33] oliviertassinari commented on #19748
@zachsa *react-beautiful-dnd* has a [custom logic](https://github.com/atlassian/react-beautiful-dnd/blob/24a8e6021600920c0b2a28f89d5ffb17538fe96c/src/view/use-sensor-marshal/is-event-in-interactive-element.js) to handle `<input type="range" />`. They also describe how they behave in https://github.com/atlassian/react-beautiful-dnd/blob/24a8e6021600920c0b2a28f89d5ffb17538fe96c/docs/guides/how-we-us

[2020-09-18 11:33] #19748 closed

[2020-09-18 11:42] oliviertassinari commented on #19748
Any ugly workaround would be to set `<div contentEditable>` for react-beautiful-dnd. However, I'm not sure what would be the best workaround. Maybe @alexreardon has some tips.

[2020-09-18 16:21] dabretin opened #22643 "[theme] Wrong createSpacing.d.ts definition"
In material-ui/core@v5.0.0-alpha.10 theme.spacing always return string (even for a single parameter).
The typescript definition in createSpacing.d.ts assume that it returns number for less than 2 parameters...

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplica

[2020-09-18 18:23] tsturtz commented on #12237
If anyone's running into this still, it's only necessary to mock transition components (don't need to use createPortal) like so in **storybook.test.js**. If you do it in your setupTests file, it will affect other tests other than just your snapshots.

[2020-09-18 19:39] frankieali commented on #18690
I'm facing this same issue. I'd like my max value on the left end of a horizontal slider and the min value on the right end. I've been able to do this using negative values and flipping the value on the scale.
[code]
However, the underlying input that comes through on form submission is still the negative value so it has to be flipped again. A prop such as `reverse` would be nice to have.

[2020-09-18 19:56] #22622 closed

[2020-09-18 20:09] mcchong commented on #22608
If I'm migrating from non-styled components, is there documentation that tells me what global class name to used based on the given built-in class?

[2020-09-18 20:12] oliviertassinari commented on #22608
@mcchong The API page document the global classnames

[2020-09-18 21:13] oliviertassinari commented on #22643
@dabretin Thanks for raising, what do you think about this fix?

[code]

-  You can restore the previous behavior with:
-
-  ```diff
-  -const theme = createMuiTheme();
-  +const theme = createMuiTheme({
-  +  spacing: x => x * 8,
-  +});
-  ```
-
 - [theme] Remove palette.text.hint key (#22537) @mbrookes

   The `theme.palette.text.hint` key was available but unused in Material-UI v4 components.

[2020-09-18 21:20] oliviertassinari commented on #22628
Actually, we already have the icons: https://unpkg.com/@material-ui/icons@5.0.0-alpha.7/ContentCut.js.

However, we could update the icons with:

1. `cd packages/material-ui-icons/`
2. `yarn src:download & yarn src:icons`
3. Apply this diff

[code]

[2020-09-18 21:24] oliviertassinari commented on #22594
I think that it's worth trying by moving the logic in CssBasline. Worse case, we will need to revert and learn something about it. Best case, we would've improved dark mode support, leveraging macOS colors :).

[2020-09-19 06:48] dabretin commented on #22643
Yes, this fix seems perfect.
And yes, of course (will be an honor) I will create a PR today or tomorrow.

[2020-09-19 10:13] oliviertassinari commented on #19757
Duplicate of #19245

[2020-09-19 10:13] #19757 closed

[2020-09-19 10:49] xtrixia commented on #22266
Hi 👋 If no one work on this, I'd love to help on this one :)

[2020-09-19 15:01] olivercoad commented on #14876
I'm also looking for something like this.
[Bulma's content](https://bulma.io/documentation/elements/content/) an another similar thing.

Is there any reason not to just copy [MarkdownElement](https://github.com/mui-org/material-ui/blob/5e87e851d7663a2a32fda7ad4a0d41bfd5283103/docs/src/modules/components/MarkdownElement.js) pretty much as-is and rename it to RunningText?
I guess remove the rendered

[2020-09-19 15:33] xiaoyu-tamu opened #22648 "<Autocomplete /> autoComplete + autoHighlight the default highlighted option not appears inline after the input cursor."
Hi,there. I'm not sure this is a bug or feature. When <Autocomplete autoComplete autoSelect />, the first option not appears inline after the input cursor immediately. It work as expected when selection changed up/down.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not

[2020-09-19 16:29] mukulmkd commented on #22648
Same for me.

[2020-09-19 20:15] oliviertassinari commented on #22598
@KyruCabading What do you think about this diff?

[code]

Do you want to work on the problem? :)

[2020-09-19 21:22] oliviertassinari commented on #22302
@tylerjlawson I had a look at the issue. Your test case is with a combobox displaying the "No options" message. I think that the solution is to differentiate the state where the popup is visible, we can use it to display a loader, a helping text, etc. and the case where the component has a listbox available as a popup. The following diff solves the issue:

[code]

We have no tests for the "No opti

[2020-09-19 21:38] oliviertassinari commented on #21985
The following diff seems to do the job:

[code]

[2020-09-19 21:51] oliviertassinari commented on #22427
Bug opened, feel free to follow/upvote it: https://bugzilla.mozilla.org/show_bug.cgi?id=1666111.

[2020-09-19 22:22] oliviertassinari commented on #20593
I can confirm that `position: relative` solves the issue. However, considering Safari 14.0 was just released and solve the issue, I'm closing.

[2020-09-19 22:22] #20593 closed

[2020-09-19 22:27] oliviertassinari commented on #18891
Does anyone has a reproduction? I can't reproduce.

[2020-09-19 22:39] oliviertassinari commented on #22446
@bexic You should be able to reproduce the behavior of GitHub's label picker with this diff:

[code]

What do you think about it? Do you want to work on a pull request? :)

[2020-09-19 23:48] UnknownHero commented on #18891
I just want to share some more information.
If put alert('on open') into event handler, handler will invoke infinitely. Maybe its related with animation, I don't know.
Example:
[code]

[2020-09-20 00:22] miaowang commented on #11749
Can someone help me with this problem: I used similar approach but with a element higher than the screen height.

https://codesandbox.io/s/material-demo-forked-x8wi2?file=/demo.js

Works fine in Firefox. But in Chrome and Edge the browser scrolls to the top of the drawer. How can I prevent the scrolling?

[2020-09-20 00:51] sytpb opened #22653 "changing 'disabled' props of ButtonBase invalid"
code demo from web [https://material-ui.com/customization/globals/](url)

![image](https://user-images.githubusercontent.com/12178686/93691790-f5388700-fb1c-11ea-9fe9-af1c60efa739.png)

my code as follow ,

![image](https://user-images.githubusercontent.com/12178686/93691842-b6ef9780-fb1d-11ea-8755-cbdf79f9cb16.png)

I expect the button is disabled,    it doesn't work ......   is that bug or somet

[2020-09-20 08:03] oliviertassinari commented on #18891
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-09-20 08:23] #22653 closed

[2020-09-20 08:23] oliviertassinari commented on #22653
@sytpb Target `MuiButton`, not `MuiButtonBase`.

[2020-09-20 10:58] oliviertassinari commented on #14270
What about the following diff?

[code]

Then with two new demos:

![follow-cursor](https://user-images.githubusercontent.com/3165635/93709606-caabf580-fb3f-11ea-8377-9b3fda0e4439.gif)

[code]

![placement](https://user-images.githubusercontent.com/3165635/93709609-cda6e600-fb3f-11ea-9540-621ff887238e.gif)

[code]

I have used https://wwayne.github.io/react-tooltip/ and https://atomiks.github.io/ti

[2020-09-20 12:35] HimanshuMamodiya commented on #21745
@oliviertassinari , actually that break-point is giving the value , but value is not applicable in the div it is still taking the other value.
https://codesandbox.io/s/material-demo-forked-jq49k?file=/demo.js:357-359
const theme = createMuiTheme({
  breakpoints: {
    values: {
      xs: 0,
      sm: 600,
      md: 700,
      ipadl: 900,
      lg: 1025
    }
  }
});

I am not able to post  actual

[2020-09-20 12:39] sytpb commented on #22653
ok , thanks for your help .

this problem is from component TextField .  I expect the TextField in Form to be disabled .   but failed with the code .  what 's wring with my code ?

![image](https://user-images.githubusercontent.com/12178686/93711358-2bf3b900-fb80-11ea-8475-c67f7e83b2dd.png)

![image](https://user-images.githubusercontent.com/12178686/93711412-a91f2e00-fb80-11ea-8fcf-4d16bdeabf2f.p

[2020-09-20 15:32] Morteza-Jenabzadeh commented on #22628
can I work on this?

[2020-09-20 16:58] tlambrou commented on #16756
@Swatinem  did you ever get an explanation for this?  Did you ultimately move to styled components to improve performance?

[2020-09-20 17:30] Swatinem commented on #16756
I have moved on to different things by now, maybe @treylon can give you an answer.

[2020-09-20 18:05] iansjk commented on #18514
I ended up using this because I didn't want to enable `filterSelectedOptions` for UX reasons:
[code]

[2020-09-20 18:16] oliviertassinari commented on #22648
@xiaoyu-tamu Interesting, thanks for raising. What do you think about this diff?

[code]

This logic hasn't changed since the original commit. I assume I didn't anticipate this case. Do you want to work on a pull request :)? We would need to add a test case to cover it.

[2020-09-20 18:25] xiaoyu-tamu commented on #22648
Sure, will do it

[2020-09-20 18:26] oliviertassinari commented on #22648
@xiaoyu-tamu I'm not sure the behavior is exactly the one you expect, so please let us know.

[2020-09-20 18:44] oliviertassinari commented on #22648
One of the issues I have seen can be observed on https://codesandbox.io/s/staging-haze-w6wps?file=/src/App.js. Yeah, rereading the issue description, the proposed change is off probably not something we want to change.

[2020-09-20 19:13] treylon commented on #16756
@tlambrou We ultimately moved back to styled components and stopped investigating further.

[2020-09-20 19:27] ostrebler commented on #16995
Same here.

[2020-09-20 19:39] Forfold commented on #18514
I have the same issue as @cdpautsch:

However I was able to get around the strictness of the Autocomplete API with the following code:

[code]

[2020-09-20 19:41] oliviertassinari commented on #22648
This one should work better:

[code]

![after](https://user-images.githubusercontent.com/3165635/93720508-c5739880-fb89-11ea-8811-adbcd4354446.gif)

It reproduces how Chrome URL bar behaves. It was pretty hard to figure out! If somebody could confirm that it's the expected behavior, it would be great, we would also need to add test cases.

[2020-09-20 21:32] oliviertassinari commented on #18646
@theGirrafish Do you want to open a new issue for it? Regarding a fix, I believe we could do:

[code]

It would fail a test case @captain-yossarian you added but I believe the asserted behavior from #19923 was only one of the two options mentioned in #19637. I think that it's fair to reset the index when `filterSelectedOptions`, it's disruptive, in the first place.

[2020-09-20 21:37] oliviertassinari commented on #20852
@NoNonsense126 Mind that this issue has a dependency on #22170 and #22073. @mnajdova Do you want to help You Jing Wong on this one?

[2020-09-21 00:10] thenderson55 commented on #17353
This is still an issue with @material-ui/core 4.11.0. When I open a nav menu or popover it adds:
``` padding-right: 10px ```

 ```disableScrollLock={true}``` fixes it but is a terrible solution since people can then scroll which seems very unnatural

[2020-09-21 02:33] jeiea opened #22673 "Adjust Grid and List css order"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In the below sandbox example left margin is changing according to container `spacing` property.

## Expected Behavior 🤔

Left margin should not be changed. I think `Grid` css should h

[2020-09-21 05:50] arpan-banerjee7 commented on #10571
It works!

[2020-09-21 06:04] mnajdova commented on #22673
Hey @jeiea I don't think we can (in predictable manner) decide what component's css should win, as any combination of `Component` with `component` prop can be used. If you would like the styles to be predictable I would suggest doing a minimal overrides, in order to make sure what should win. On the other hand, if you want to change the structure to `ul` > `li`, you could only change the Grid's `c

[2020-09-21 07:06] Zxmlobo opened #22674 "[Dialog] Dialog Component doesn't work in Chrome on the IPad"
## Current Behavior 😯

I used The IPad Chrome to open the [Material-UI Dialog component](https://material-ui.com/components/dialogs/),Click the button in the example, but it doesn't show Dialog. Using Safari is available.

## Expected Behavior 🤔

It also works in Chrome.

## Steps to Reproduce 🕹

Steps:

1.Open the Material-UI website on IPad Chrome
2.Click components > dialogs
3.Click button in t

[2020-09-21 07:38] oliviertassinari commented on #22674
@Zxmlobo Could you update the issue to follow our issue template? What's the issue? How do we reproduce?

[2020-09-21 07:56] montelius commented on #19654
@oliviertassinari Nice, thanks! :) So this is the first time I'm working with Material-UI, and I'm a bit confused about how the unit tests are structured. What tests would be suitable to implement for this feature? Could you maybe refer me to unit tests of other components that are similar so that I could get an idea of what would be a good test case? Tried to find something myself but didn't mana

[2020-09-21 08:15] Zxmlobo commented on #22674
@oliviertassinari  Thank you for your reply,The issue has been updated.

[2020-09-21 08:21] #22643 closed

[2020-09-21 08:43] sytpb opened #22675 "why can't get the latest state using Switch (code from website demo)"
https://material-ui.com/components/switches/#switch

`
import React from 'react';
import Switch from '@material-ui/core/Switch';

export default function Switches() {
  const [state, setState] = React.useState({
    checkedA: true,
    checkedB: true,
  });

  const handleChange = (event) => {
    setState({ ...state, [event.target.name]: event.target.checked });
    console.log(state);
  };

  re

[2020-09-21 09:01] #22675 closed

[2020-09-21 09:09] Primajin opened #24170 "[TimePicker] Cursor doesn't change on desktop"
Hey there, not sure if this should be fixed right away in v3 or hold off until v4...

When I hover a day in the datepicker my mouse changes to a cursor, because I can click it (naturally, right)
But then in the time picker it does not when I hover the hours/minutes.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-pickers/

[2020-09-21 09:19] oliviertassinari commented on #22674
@Zxmlobo I can't reproduce on an iPad Pro 12.9 2020 with Chrome 80.0.3987.95.

[2020-09-21 09:21] sytpb commented on #22675
ok thanks a lot .

[2020-09-21 10:04] oliviertassinari commented on #22673
A couple of thoughts:

1. CSS injection order can be changed by controlling the import order:

[code]

vs

[code]

I expect a different injection order, with JSS, emotion, styled-components, and CSS modules. They use the same technic.

2. Grid always win over List because `.a > .b` (s=2) always wins over `.c` (s=1) no matter the injection order.

@mnajdova Agree, IMHO this is a design constraint w

[2020-09-21 10:07] oliviertassinari commented on #19654
@montelius You can find the tests in https://github.com/mui-org/material-ui/blob/next/packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js. More details around tests in https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md.

[2020-09-21 11:35] jeiea commented on #22673
@mnajdova Your sandbox example is what I wanted. I had misconception that `ListItem` should be used with `List`. Thanks for the replies.

[2020-09-21 11:35] #22673 closed

[2020-09-21 11:36] hmaddisb commented on #19240
Can I start working on a PR for this?

[2020-09-21 11:38] brorlarsnicklas commented on #22598
Can I work on a PR for this? :)

[2020-09-21 11:40] bonsmik opened #22679 "Why background color is set for table cell if stickyheader is true?"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Table header cell has different background color depending on sticky header prop

https://github.com/mui-org/material-ui/blob/e5ad7df15f212f01a1442c9075ff394f99b1213b/packages/materia

[2020-09-21 11:42] oliviertassinari commented on #22679
Because otherwise, the cells are visible in transparency.

[2020-09-21 11:42] #22679 closed

[2020-09-21 12:32] thclark commented on #16947
For me (scientific backend programmer by origin), MUI styles bring beautiful, calming, predictable, parameterisable logic to the mental, crazy, bonkers-rules why-the-hell tearing-hair-out world of CSS.

The styles library (and its tight integration with the theme) is the main reason I mandate use of MUI over any other components library in the two organisations I oversee tech for - it takes all th

[2020-09-21 13:53] eps1lon commented on #22302
Very likely to report a lot of false positives. The goal is to fix a11y issues and not to provide axe integration. We could probably fix more actual a11y issues with the time spent on fixing integration issues with 3rd party testing tools.

[2020-09-21 14:38] petercutting opened #22682 "make Divider ARIA hidden"
I am trying to make my Cordova app Accessible. I have a vertical list of read only fields with Dividers in between. The Dividers give some vertical separation between the fields (for both blind and seeing users).

When I switch on TalkBack (Android) accessibility, then I can hear the Divider (as a different kind of click) as my finger passes over it. I dont want this. The blind user should not be

[2020-09-21 15:29] eps1lon commented on #22682
If it has a tabindex browsers might decide to not hide it since it's actually interactive.

That might apply to your specific UI but not the general case (e.g. as a separator). If you don't want blind users to see it why do you add the `role="separator"`? Why would you hide something that is interactive for the sighted user?

Either way, this is not a limitation of the library. You can change `rol

[2020-09-21 15:29] #22682 closed

[2020-09-21 15:43] petercutting commented on #22682
separator was just a test.

I think I have solved it. A little crazy (and nothing to do with MUI. sry). Maybe there is a better way or variation.
  divider: { margin: "10px 0px 10px 0px",
    pointerEvents: 'none', // important
},

            <Typography aria-label={"textA"}>
              <Typography className={classes.text}>
                {"textA"}
              </Typography>
              <D

[2020-09-21 16:20] Guneetgstar opened #22688 "htmlColor does not apply if MuiSvgIcon class is overridden"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have the following code in my `theme.overrides`:
[code]
And below is my `SvgIcon`:
[code]
Now the `htmlColor` props won't work as it `Applies to the color attribute to the SVG eleme

[2020-09-21 17:02] oliviertassinari commented on #16947
@thclark your main concern seems to be with the CSS template string syntax vs the JavaScript style object API. Is this accurate? It also seems to be the concern with most of the other comments of the thread.

Styled-components and emotion supports both APIs. This wasn't the main purpose of the issue. The objective with this issue was to anticipate the migration to a different styling solution. How

[2020-09-21 17:11] thclark commented on #16947
@oliviertassinari succinctly put, as usual. Yes, my main concern is retaining the Javascript API. Honestly, I wasn't aware that styled-components retained that, as all of the examples I came across seem to be css templated.

That perhaps moots most of my points above. Nevertheless, glad you didn't move across - and thanks for your and the team's continued efforts here. I've built things I never co

[2020-09-21 17:11] spitchaiah commented on #22443
Sorry, couldn't respond in time. Here's a demo link of the issue.

https://codesandbox.io/s/94xlp?file=/demo.js

[2020-09-21 17:16] spitchaiah commented on #22443
![image](https://user-images.githubusercontent.com/6586533/93799100-ae29bf00-fc0c-11ea-9423-285fbdd52020.png)

[2020-09-21 17:20] oliviertassinari commented on #22443
Chrome picks "country" in its heuristic as part of:

[code]

…

I have seen this error too yesterday. What about this diff?

[code]

[2020-09-21 17:49] oliviertassinari commented on #22443
Actually, it doesn't work either. So, probably:

[code]

+Read [the guide of MDN](https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion) for more details.
+
 ### iOS VoiceOver

 VoiceOver on iOS Safari doesn't support the `aria-owns` attribute very well.
(END)
[code]

[2020-09-21 18:27] seba9999 commented on #10643
@justdvl
Well using you fix when the tab should always start to the first tab (which is my case) seems enough ... Thanks :)

[2020-09-21 18:32] oliviertassinari commented on #22688
@Guneetgstar This is a browser feature see: https://codepen.io/oliviertassinari/pen/jOqQKdQ. CSS wins over HTML attributes, that's true for color, height, etc. What you are looking for is #15561.

[2020-09-21 18:32] #22688 closed

[2020-09-21 18:49] jedwards1211 commented on #22166
shouldn't anywhere on the border, not just the input itself, respond to a click?
In other words the root element handles the click but the clear icon button would stop propagation?

[2020-09-21 19:10] brorlarsnicklas commented on #22598
@oliviertassinari I followed the steps in the diff commented above, but I get an error when running yarn typescript (first picture) and if I try running yarn test I get the following (sec. picture).

I'm a bit new to this and not really sure what's missing, could you please help me figure out what is wrong?:)
(Sorry for the wall of text in the first picture)

![image](https://user-images.githubuse

[2020-09-21 21:06] mbrookes commented on #22598
`disableHideScrollButtonsMobile` 🤮

Couldn't we just add a mode to `scrollButtons` instead?

[2020-09-21 21:50] duncanbeevers commented on #22610
I'll see if I can find some more time to work on this. Obvious next steps might be:

* Replace `dashing` Go binary usage with a node package like [docset-generator](https://www.npmjs.com/package/docset-generator).
* Make single-language-selection explicit, instead of being driven implicitly from `PULL_REQUEST=true` environment variable.
* Create a new rendering target where site-layout stuff like

[2020-09-21 21:53] oliviertassinari commented on #22598
@mbrookes We would need to add `onDesktop` as a new variant, if we were to go down this road. But IMHO, it makes the logic harder to understand. It mixes two unrelated concerns into one.

[2020-09-21 22:08] satazor commented on #22342
Hello everyone. I'm taking the opportunity to shim into this discussion.

In the current version, Material UI makes heavy use of `withStyles` HOC without any dynamic props (style being a function), which internally uses `makeStyles`. The performance of `makeStyles` (without dynamic props) is quite remarkable and Material UI could even be faster if it was using it directly, instead of `withStyles`,

[2020-09-22 01:15] Zxmlobo commented on #22674
@oliviertassinari

- Chrome user-agent : Mozilla/5.0 (iPad; CPU OS 13_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 Safari/604.1
- Safari user-agent : Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Safari/605.1.15

[2020-09-22 04:41] Morteza-Jenabzadeh commented on #22648
can I work on this?

[2020-09-22 05:38] iansjk opened #22691 "Disabling eslint for line causes prod build to omit an Autocomplete"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Hi,
Apologies if this is not the right project to be filing this bug report under--I'm still very new to the JS ecosystem, so I'm not entirely sure which package(s) are causing the pro

[2020-09-22 06:32] #18914 closed

[2020-09-22 06:46] MathiasKandelborg commented on #22342
I van live with a small performance loss. Not a 600% performance loss, not at any cost. 😅

[2020-09-22 07:12] eps1lon commented on #22691
Thanks for the detailed report. This is unrelated to Material-UI but caused by babel: https://github.com/babel/babel/issues/11304.

You can fix this by using
[code]
instead.

If you insist on the implicit return you need to pull in `@babel/generator@^7.9.3`. Maybe this is already used when bumping your version of `react-scripts`. Otherwise remove the lockfile entry for `@babel/generator` and run `

[2020-09-22 07:12] #22691 closed

[2020-09-22 07:22] mnajdova commented on #22342
@satazor thanks for exploring this. We did a heavy perf testing before starting this effort, see PR https://github.com/mui-org/material-ui/pull/22173 for more details (we did it on the ListItem component) and the perf difference was at most **10% for rendering x1000 instances, in production mode**.

https://deploy-preview-22173--material-ui.netlify.app/performance/list-raw/
![](https://i.imgur.com

[2020-09-22 07:34] Guneetgstar commented on #22688
@oliviertassinari Sure I know that CSS wins over HTML attributes and that's why I raised this issue. But how's #15561 is related to this? I didn't get what you wanted to convey with it.

[2020-09-22 07:36] eps1lon commented on #22674
Can't reproduce it either. Are we talking about https://material-ui.com/components/dialogs/#simple-dialogs?

Safari 13.0.5: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.5 Safari/605.1.15
Chrome: Mozilla/5.0 (iPad; CPU OS 13_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/85.0.4183.92 Mobile/15E148 Safari/604.1

Do you have Voic

[2020-09-22 07:37] oliviertassinari commented on #22648
@Morteza-Jenabzadeh It's not a simple one but definitely :). We would need to clean up the proposed diff, e.g. Clear timeout, make sure it behave correctly and add end to e'd tests.

[2020-09-22 07:40] oliviertassinari commented on #22688
My answer is based on

You want a color prop, #15561 is about providing one as well many other style utilities.

[2020-09-22 07:49] eps1lon commented on #22342
You've created a benchmark that has this factor. It does not follow that every single component will show this decrease. Please try to avoid jumping to conclusions since this misleading information spreads very easily from such a visible issue.

Could you link the deploy? I tried it from a fork and it doesn't show any duration: https://csb-w9eu7.vercel.app/. This is also what I expected because pr

[2020-09-22 08:00] satazor commented on #22342
Thanks for the reply @mnajdova. You are right that testing on a Mui component would be more realistic. What's probably happening is that the Mui code for the List components is the predominant slowness factor, and the difference you are seeing between them is the actual rendering time associated with styles. I will take that PR and add it to the benchmark, to see the results.

Will this matter in

[2020-09-22 08:00] eps1lon commented on #22342
You've created a benchmark that has this factor. It does not follow that every single component will show this decrease. Please try to avoid jumping to conclusions since this misleading information spreads very easily from such a visible issue.

Using the devtools extension I saw 140ms for mount with emotion vs 120ms for mount with makeStyles.

[2020-09-22 08:01] Morteza-Jenabzadeh commented on #22648
I try my best :)

[2020-09-22 08:27] satazor commented on #22342
You are right, see my previous comment.

I've updated the benchmark to use `actualDuration` instead of `baseDuration`, so we should now see values more inline with what is shown in the devtools profiler. The `baseDuration` measures the time without memoizations, while `actualDuration` is the opposite. However, I'm not getting the values you are seeing. Can you try the updated links?

Please note t

[2020-09-22 09:13] oliviertassinari commented on #22342
@satazor I don't think that your test cases are equivalent. We are good.

A couple of changes you can try to understand that and that will reduce significantly the difference of performance:

- Mounting react components have a cost, especially when rendering a not of them. makeStyles uses div directly while emotion/sc create new components. In our table benchmark, I have experienced that each addi

[2020-09-22 09:14] Jorundur commented on #17712
Not sure if this was ever revived in another issue but I'm a bit surprised this isn't something that's being considered.

Take for example this custom "checkbox" button group I have using buttons with an `endIcon`:

<img width="336" alt="Screenshot 2020-09-22 at 09 13 23" src="https://user-images.githubusercontent.com/5693633/93864080-e59f7680-fcb3-11ea-8b03-a2c46720d6f9.png">

To me it's crystal

[2020-09-22 09:22] oliviertassinari commented on #22166
@jedwards1211 I'm not sure about the conflict it will create with the other element inside the combo box, like the icons, clear icon or the tags.

[2020-09-22 09:27] Jorundur commented on #17712
Regarding absolute positioning, it actually didn't take too much code to align this nicely:

[code]

[2020-09-22 10:27] satazor commented on #22342
Indeed, @oliviertassinari. It seems the performance going forward with emotion/styled-components is more in the 1x-1.2x factor max even for simple components, such as `Typography`, which I have implemented here: https://codesandbox.io/s/css-in-js-comparison-forked-lr3sr?file=/src/App.js

Check the production build & benchmark at: https://csb-lr3sr-7lp24bj5l.vercel.app/

So, in conclusion, **I'm no

[2020-09-22 10:58] #22266 closed

[2020-09-22 10:59] #22628 closed

[2020-09-22 11:05] stefanpl opened #22693 "convertLength does not work for fromUnit !== 'px'"
The file `@material-ui/core/styles/cssUtils.js` contains a method `convertLength`. It does not work if the provided length is *not* in px. This test …

[code]
… will fail.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

##

[2020-09-22 11:21] satazor commented on #22342
@mnajdova Here's the production build for the List test: https://csb-lr3sr-3zi42510w.vercel.app/?components=1000, copied of the PR you mentioned.

`makeStyles` seems 1.7x faster on mount, and 2.2x faster on rerender.

[2020-09-22 11:28] oliviertassinari commented on #22693
@stefanpl We have removed a bunch of logic from https://github.com/KyleAMathews/convert-css-length to focus on the use cases of the public `responsiveFontSizes()` helper. `cssUtils` is a private helper. What's your use case?

[2020-09-22 11:42] Abolfazl2647 commented on #8289
hi
in my case i need to change everything in default theme object so i need to create my own json file lie so:
`
import defaultTheme from './theme.json';
const theme = createMuiTheme({
				...defaultTheme,
				palette: {
					...defaultTheme.palette,
					type: themeType ? 'light' : 'dark',
				},
			});
`

how can i achieve this ?

[2020-09-22 11:49] Kuzmich100kM opened #22694 "Invalid set of options values are `5`, `10`, `20`."
How can disable checking for the number of rows in a table?

Warning: Material-UI: You have provided an out-of-range value `19` for the select component.
Consider providing a value that matches one of the available options or ''.
The available values are `5`, `10`, `20`.

[2020-09-22 12:08] montelius commented on #19654
@oliviertassinari Yes thanks, thought the tests should go in useAutocomplete.test.js but that makes sense, I'll create a PR soon!

[2020-09-22 12:39] mnajdova commented on #22694
@Kuzmich100kM could you update the issue to follow our issue template? What's the issue? How do we reproduce?

[2020-09-22 13:30] stanislasdrg commented on #21015
Huh ? Issue has not been fixed. The source code explicitly wraps children with a `<Typography>` tag.
Any updates on this ?

[2020-09-22 14:35] stefanpl commented on #22693
@oliviertassinari thanks for the quick answer. Broadly speaking, I'm trying to perform calculations on settings which can be provided in different units. I'd like to avoid using css's `calc`, since it's not widely (enough) supported in my target audience.

[2020-09-22 16:09] jedwards1211 commented on #22166
@oliviertassinari for sure it would be a bit of a challenge...actually the simplest way would be for the root listener to only activate if the target is the input or one of its ancestors, since that would exclude the icons and tags.

It kinda reminds me of an annoying little quirk in the old CircleCI UI, they had an gear icon button for project settings, but for a long time only the icon itself wa

[2020-09-22 16:48] oliviertassinari commented on #22693
@stefanpl If you could look at what's wrong with our module and propose a fix, I think that we could accept it. We would still keep the module private, but you could use it at your own risk 😁.

[2020-09-22 17:57] bazfer commented on #18305
Can confirm that `disableCloseOnSelect` is not working for a controller component. Any word on this issue?

[2020-09-22 18:17] oliviertassinari commented on #18305
@bazfer Do you have a reproduction?

[2020-09-22 19:19] hmaddisb commented on #19240
before I was about to create a PR, I ran "yarn test", and I realized that I had some test cases failing - 22 to be exact. However after editing SwipableDrawer.test.js (changing all references "PrivateSwipeArea-root" to "Private-root" just like in SwipeArea.js) I managed to get it down to 3 (related to packages\material-ui\src\Tabs\/Tabs.test.js:503:51, 523:52, 541:51). But now, I want to make sure

[2020-09-22 19:27] Kuzmich100kM commented on #22694
I need the table to take up all the available height, so it can have any number of rows. This throws an error in the console. How can I disable checking for a multiplicity of 5?

![изображение](https://user-images.githubusercontent.com/46998842/93928013-57160e00-fd22-11ea-9a33-b21c0204981d.png)

[2020-09-22 19:47] dimitropoulos commented on #22640
by the way I added Avatar and AvatarGroup to the react-ui-roundup:

https://github.com/dimitropoulos/react-ui-roundup#avatar
https://github.com/dimitropoulos/react-ui-roundup#avatargroup

Looks like, as far as this functionality is concerned, Atlaskit is the best: https://atlassian.design/components/avatar-group/examples#overrides

[2020-09-22 19:57] vanyadymousky commented on #18018
Can you please explain that issue in detail - why is that happening? AFAIK React.StrictMode only highlights potential issues, but in this thread I see it even breaks the code. How?

[2020-09-22 20:38] bazfer commented on #18305
We've got an example on our [Storybook](https://covalentnetworks.github.io/covalent-ojt/?path=/story/material-ui-components-peopletable--base) (click 'New' top right, then use the 'Departments' or 'Locations' Autocomplete fields). Is that enough or are you looking for a code sandbox?

[2020-09-22 20:42] justindra opened #22699 "Button missing prop `target` typings"
When we provide the `href` prop, it should allow props to be passed to the `a` tag. One example is `target` but the type is missing in TypeScript (and in the documentation).

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Doing th

[2020-09-22 21:24] oliviertassinari commented on #18305
@bazfer We need a codesandbox with the minimum amount of code possible.

[2020-09-22 22:00] khpa commented on #13013
how can I leave 1000 likes and hearts for this comment? :) thanks!!!

[2020-09-23 00:26] sgehrman commented on #22453
just installed and first thing I tired got this bug.  Push the fix.

[2020-09-23 01:30] djmisterjon commented on #21825
ok so i success with for my own modules

![image](https://user-images.githubusercontent.com/24865815/93953960-86288180-fd1a-11ea-84cf-39df7b5f1c84.png)
by adding `import * as CSS from 'csstype';` and some jsdoc
![image](https://user-images.githubusercontent.com/24865815/93954032-af491200-fd1a-11ea-8365-55f1141c9f12.png)

So it would be a good idea to include it natively in your library for `<Box>`

[2020-09-23 06:35] hmaddisb opened #22701 "[docs] useAutocomplete issue in dark mode"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When viewing useAutocomplete in dark mode, the input box doesn't adapt to the theme (stays white) while other fields do. I think this should be changed. Screenshot is given below. Also

[2020-09-23 07:06] hmaddisb commented on #22701
from browsing through the components in the docs, I stumbled upon this case as well (print screens below), which we maybe can include this in the same issue? Or should this be a separate one?
![image](https://user-images.githubusercontent.com/28041504/93977968-96bd1400-fd7b-11ea-950c-9e954b80d2c6.png)
As seen above, two fields are still white. In addition, you can see that two fields are actually

[2020-09-23 07:52] eps1lon commented on #22699
I can't reproduce this issue: https://codesandbox.io/s/gallant-framework-jw7t9?file=/src/index.tsx

Could you post your `tsconfig.json`? Please be aware that we only support `strictNullChecks: true`.

[2020-09-23 07:54] eps1lon commented on #18018
It highlights actual issues. It is intended that components inside React.StrictMode break if they're not concurrent safe.

[2020-09-23 09:28] mnajdova commented on #22694
Can you provide the code for rendering this component? It would help us easily debug what is the issue. You can start by editing this codesandbox link: https://codesandbox.io/s/t0xjx

[2020-09-23 09:32] #13448 closed

[2020-09-23 10:42] codewithshehraz opened #22703 "material datepicker showing clear button that didn't work"
I am using Material UI datepicker in an electron app. It is showing like that
![image](https://user-images.githubusercontent.com/39002150/93999397-31831600-fdaf-11ea-9ed1-b09370b1b808.png)
The clear button on date picker is not working. Is there any configuration to remove this clear button. I have seen its documentation but there is no property that can avoid clear button.

- [x] The issue is pre

[2020-09-23 11:43] Abderrzzek opened #22704 "how to change the color of speadDial in materielUI React"

[2020-09-23 12:02] mbrookes commented on #22704
Please use the issue template when submitting an issue or feature request. For questions, please use StackOverflow.

[2020-09-23 12:08] oliviertassinari commented on #22427
Issue fixed in Firefox 82.0b (Nightly release)

[2020-09-23 12:08] #22427 closed

[2020-09-23 12:15] #22703 closed

[2020-09-23 12:15] oliviertassinari commented on #22703
This is a native date picker, nothing Material-UI is concerned with.

[2020-09-23 12:16] #19654 closed

[2020-09-23 12:43] Kuzmich100kM commented on #22694
I created an example, but now I noticed that I am using a "material-table" library.
Sorry, if I was wrong with the topic :-)

https://codesandbox.io/s/blissful-hamilton-9mcd2?file=/demo.js

[2020-09-23 12:45] mnajdova commented on #22694
I see, feel free to use the same codesandbox to open issue on their github repository then :) Closing this one

[2020-09-23 12:45] #22694 closed

[2020-09-23 12:55] jakub-astrahit opened #22705 "Bug: Virtualized Autocomplete scrolling issue on Internet Explorer 11 (IE)"
I am unable to click the scrollbar on the virtualized autocomplete.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Open https://material-ui.com/components/autocomplete/#virtualization in Internet Explorer 11 and open the dropdown

[2020-09-23 12:57] mnajdova commented on #22701
@hmaddisb thanks for reporting the issue. I think the main purpose of the example was illustrating how the hook can be used, not that much how the component itself look, but we can definitely improve it! What do you think of these changes:

[code]

We can improve the other input examples too by providing this override. Would you be interested in opening a PR for this? :)

[2020-09-23 14:14] modbender commented on #21586
@oliviertassinari This is not documented, https://material-ui.com/styles/api/

[2020-09-23 14:30] mnajdova commented on #22705
I've spend some time on this, but don't have a final fix to be honest. I believe the issue is that, clicking on the scrollbar acts like click away, and that is the reason why it is closed. But why does it happens only in IE11? 😕

When inspecting the elements I noticed that `ul` element actually ends right before the scrollbar

![image](https://user-images.githubusercontent.com/4512430/94026009-701

[2020-09-23 14:32] oliviertassinari commented on #22705
Related to #19969

[2020-09-23 14:34] oliviertassinari commented on #22705
@mnajdova I suspect that the logic of #19969 isn't resilient to the different DOM structure the react-window impose.

[2020-09-23 14:37] jakub-astrahit commented on #22705
As a workaround, I added this style to hide the scrollbar on IE 11 but still be able to scroll:
[code]
It doesn't fix the issue though.

[2020-09-23 14:46] oliviertassinari commented on #14420
The market share of IE in the initial issue's description:
![](https://user-images.githubusercontent.com/3165635/52288932-5e31b200-296d-11e9-9938-cecaf021e443.png)

The same market share 20 months later:

<img width="1010" alt="Capture d’écran 2020-09-23 à 16 44 21" src="https://user-images.githubusercontent.com/3165635/94028367-1f5ba480-fdbc-11ea-8147-05e5c62f3c7a.png">

[2020-09-23 14:57] modbender commented on #10068
Is this actually done? I don't see any documentation update. @oliviertassinari

[2020-09-23 15:04] oliviertassinari commented on #10068
@modbender Which problem are you trying to solve? I assume you are doing server-side rendering and hosting the pages on a CDN if not, ignore this matter minification harms performance.

[2020-09-23 15:11] tylerjlawson commented on #22302
@oliviertassinari are you asking me to make a PR for the "no options" displayed case only, or to also include the change you made in you diff? I would guess that you already made a PR for the diff that you included, but I didn't see any PRs that reference this thread, so I just wanted to make sure I was clear on what you are asking for.

Thank for finding that fix by the way, that will be very hel

[2020-09-23 15:26] oliviertassinari commented on #22342
@satazor Interesting, thanks for putting it together. I have used this benchmark with #22435 to compare the performance of

[code]

vs (emotion).

[code]

vs (styled-components).

[code]

<img width="641" alt="Capture d’écran 2020-09-23 à 17 23 23" src="https://user-images.githubusercontent.com/3165635/94033953-c131c000-fdc1-11ea-9577-6bb928e09678.png">
<img width="652" alt="Capture d’écran 202

[2020-09-23 15:27] mnajdova commented on #22705
@oliviertassinari thanks for pointing that out, wasn't aware of it. I'll spend some time on it and will provide my findings tomorrow morning.

[2020-09-23 15:27] theGirrafish commented on #18646
@oliviertassinari Sure, I can create another ticket for this.
I can start looking into fixing it in a few days if @captain-yossarian hasn't already picked this up.

[2020-09-23 15:37] oliviertassinari commented on #22302
@tylerjlawson If you agree with the changes, a pull request would definitely help. We will likely want to add/update the test cases.

[2020-09-23 15:37] Abderrzzek commented on #22704
i'm soryy thanks .

[2020-09-23 15:39] tylerjlawson commented on #22302
Ok, the changes you made make sense to me. I will work on a PR.

[2020-09-23 15:40] oliviertassinari commented on #22302
@tylerjlawson Awesome, thanks :)

[2020-09-23 15:42] justindra commented on #22699
Setting the `strictNullChecks: true` seems to have fixed the issue. Thanks!

[2020-09-23 15:42] #22699 closed

[2020-09-23 16:56] oliviertassinari commented on #22342
I have added two new pages to have a look at the performance of the WIP emotion version of the Slider:

- https://deploy-preview-22435--material-ui.netlify.app/performance/slider-emotion/
- https://deploy-preview-22435--material-ui.netlify.app/performance/slider-jss/

Once built for production, the stats seem to be similar to https://github.com/mui-org/material-ui/issues/22342#issuecomment-6975405

[2020-09-23 17:08] satazor commented on #22342
@oliviertassinari in prod mode things get a bit faster, but I guess the differences stay there. You may click on deploy > vercel on code sandbox to quickly deploy with production build flags.

Looking at how `makeStyles` is implemented, I see how it is faster when you just use **static styles**.

1. On every mount, `attach` gets called: https://github.com/mui-org/material-ui/blob/master/packages/m

[2020-09-23 17:29] oliviertassinari commented on #22342
I see a couple of possible directions we can explore:

- In the initial issue's description, we have only benchmarked the performance with the dynamic support of Material-UI. We could add an entry for the static case (what v4 uses). We could also have a case for react-jss static & dynamic. This should help us understand the scope of the style engine options available.
- We can investigate where th

[2020-09-23 17:29] GauravKesarwani commented on #22701
@mnajdova mnajdova Can I work on this issue ?

[2020-09-23 17:31] satazor commented on #22342
If somehow `emotion` exposed a `useCss` hook like it was requested https://github.com/emotion-js/emotion/issues/1321 and https://github.com/emotion-js/emotion/issues/1853, we could retain `makeStyles` API and benefits of "static CSS". However, we would keep using static CSS everywhere, to boost performance.

[2020-09-23 17:48] satazor commented on #22342
Actually, with the `ClassNames` API, I think we could do a port of `withStyles` that would retain the benefits of the static CSS perf and the good performance of dynamic CSS that emotion has.

[2020-09-23 18:16] lucasbasquerotto commented on #13875
I think the main thing that needs to be done is just make the PropTypes allow the additional values (or at least a way to disable it, because it's bad to develop and see lots of errors due to a wrong property name). Something must be done with Typescript too, but for now I made a workaround (for Typescript), like in the following case:

[code]

Then I just use it like:

[code]

But I still get the

[2020-09-23 18:32] mnajdova commented on #22701
@GauravKesarwani sure, feel free to pick it up 👍

[2020-09-23 19:17] caitecoll opened #22708 "[Popper] When placement is set to "right" or "left", placement doesn't update based on viewport position"
When `placement` is set to any value beginning with `top` or `bottom`, the placement will update dynamically if there isn't sufficient vertical space on the screen to place the Popper in that position. This is not true for any `right` or `left` placements. Ideally, `right-start` could dynamically update to `right-end`, etc.

- [X] The issue is present in the latest release.
- [X] I have searched t

[2020-09-23 19:49] yordis commented on #14420
Opening the door for green-browser only is something I would support nowadays.

Personally, I think Mui@v4 has enough value for most people using it in an enterprise environment (that are for the most part where those stats comes from, for the most part).

I support dropping support for IE, and only support green-browsers.

[2020-09-23 19:51] pgoudra opened #22709 "minimizing-bundle-size for production library version"
Hi,

I see we have Minimizing Bundle Size for Development environment. https://material-ui.com/guides/minimizing-bundle-size/

We are using few components of material UI. Is there a way to bundle only these used components and provide production release?

[2020-09-23 20:13] oliviertassinari commented on #22709
@pgoudra This behavior sounds already happen by default.

[2020-09-23 20:13] #22709 closed

[2020-09-23 20:26] yuriy-voypost commented on #15352
Is there a way to change clock icon for Material UI timepicker with TextField?
[code]
If I am adding
[code]
I am getting two icons (the Clock and Dropdown).

[2020-09-23 20:55] oliviertassinari commented on #22708
@caitecoll Have a look at https://github.com/popperjs/popper-core, it's the positioning engine we use.

[2020-09-23 22:18] oliviertassinari commented on #19240
@hmaddisb Thanks for proposing your help. In hindsight, I do no longer think these changes will help. We already have Private in the name, if that's not a strong signal enough, I don't think it's worth pushing further. We are also working on updating the style engine.

[2020-09-23 22:18] #19240 closed

[2020-09-23 23:09] mbrookes commented on #22598
I don't understand the variant requirement, but it isn't important - at least Gaurav had found a prop name that eliminate the doubled negative.

[2020-09-23 23:26] #22704 closed

[2020-09-24 01:05] stunaz opened #22713 "Create an Awesome Material-UI page/repository"

[2020-09-24 01:34] barik opened #22714 "Do we still need minimum-scale in viewport?"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The [Usage documentation](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/getting-started/usage/usage.md) for Responsive meta tag gives an example viewport of:

[cod

[2020-09-24 01:57] #22713 closed

[2020-09-24 04:29] ethoman commented on #13926
Likewise, the padding is still messed up - on chrome it is centered, on safari the padding is wrong and the button text is not centered

[2020-09-24 04:46] modbender commented on #10068
@oliviertassinari  I was talking about `sheets.getStyleElement()` minification, but yeah I do know it harms performance, just wanted to confirm, ty.

[2020-09-24 05:44] AlessandroAnnini commented on #21916
Hi @codepunkt did you solve this? how?

[2020-09-24 06:38] hmaddisb commented on #22701
great work!

[2020-09-24 06:39] hmaddisb commented on #19240
sounds reasonable!

[2020-09-24 07:55] meera1002 commented on #11335
Add pointer-events: none;

[2020-09-24 08:01] mnajdova commented on #22705
So Olivier was right. Basically the difference between the virtualized and the other examples is that in the virtualized we need to check if the `document.activeElement` is the `firstChild` of the listbox, not the `parentElement`.  With this I see two options, first one, we could add a prop for this specific scenario (not sure about the best name for it to be honest).. It would look something like

[2020-09-24 08:37] oliviertassinari commented on #22598
@mbrookes There are two concerns to consider regarding when the scroll buttons are displayed. It can depends on:

1. The layout: does the the scroll container overflow?
2. The screen width/touch target: do you want to display them on mobile?

Hence the proposal to have two different props.
So far the tradeoff is to say: only display the scroll buttons if there is an overflow (auto), and don't disp

[2020-09-24 09:14] oliviertassinari commented on #22714
It was introduced by a Chrome PM in #3431.

[2020-09-24 09:17] oliviertassinari commented on #22714
It seems that we can/should remove it now.

[2020-09-24 09:28] oliviertassinari commented on #10068
@modbender My harm performance, I mean that if it's done at runtime for each request, sending the CSS non-minified will be faster. On the other hand, caching the CSS minified can help a bit.

[2020-09-24 09:30] #22674 closed

[2020-09-24 10:47] petercutting commented on #20173
I am having the same problem I think.
I have a list with a delete button on each item. I can TAB to each delete button . If I hit Return on a delete button then I get a Drawer from the bottom with 3 MenuItem's ("are u sure?, Yes, No) and everyhting else is greyed out. Now TABbing does absolutely nothing so the keyboard user is stuck (Escape works).

If I select the first MenuItem with the mouse th

[2020-09-24 11:36] #22302 closed

[2020-09-24 11:47] amiranga opened #22717 "[DataGrid] Columns to have a fluid width"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
As the `data-grid` document says, By default, the columns have a width of 100 pixels. We can override it by using the `width` property available in `ColDef`.
Is there an option for columns to have a fluid width so that columns will get a propo

[2020-09-24 11:51] tylerjlawson commented on #22302
Thank you for helping with this @oliviertassinari
Just a quick last question: how often will you release a new version of the lab project normally?

[2020-09-24 11:52] oliviertassinari commented on #22302
@tylerjlawson Next release is Saturday.

[2020-09-24 11:54] #22717 closed

[2020-09-24 11:55] hmaddisb commented on #22446
can I work on this? :)

[2020-09-24 11:57] oliviertassinari commented on #22446
@hmaddisb Sure :)

[2020-09-24 11:58] petercutting commented on #20173
tabIndex="0" on the MenuItem did it

[2020-09-24 13:20] WillSquire commented on #16037
Chipped away at this a little more recently and added some typings to the component and for the `onChange` event returned. Bit too large to dissect, so I'll add the bulk of it.

StripeTextField.tsx:
[code]

StripeInput.tsx:
[code]

Example usage:
[code]

[2020-09-24 13:34] andrew2558 opened #22718 "Is there no javascript version?"
Is there no javascript version?

[2020-09-24 13:39] oliviertassinari commented on #22718
No

[2020-09-24 13:39] #22718 closed

[2020-09-24 13:53] here-nerd opened #22719 "The layout of InputAdornment gets messed up when google translate from Eng -> Dutch due to '&#8203;'."
Apparently google incorrectly translating a white-space char '&#8203;' to a Dutch sentence!! This messes up the layout of the InputAdornment. This issue can be reproduced in the https://material-ui.com/components/text-fields/. See below.

Although this issue is essentially caused by google translate, MUI can easily be robust against it.

- [x] The issue is present in the latest release.
- [x] I ha

[2020-09-24 14:38] modbender commented on #10068
@oliviertassinari Oh, sorry I don't know much about caching CSS so could you point me to some doc to do it, i'm using nextjs, and with nextjs I think it will take time only while running build right?
I tried using `ServerStyleSheet` from `styled-components` didn't extract any css for SSR.

[2020-09-24 14:54] oliviertassinari commented on #22719
@here-nerd Interesting, thanks for sharing. Closing as it's outside of our control.

[2020-09-24 14:54] #22719 closed

[2020-09-24 14:56] oliviertassinari commented on #22719
@eps1lon Actually, should we use `\u` instead of `dangerouslySetInnerHTML`?

[2020-09-24 15:10] patorjk opened #22721 "Documentation on Accessibility"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Is there any documentation outlining accessibility in Material UI? My team is evaluating frameworks to use, and I'm a big fan of Material UI, however, it's a tough sell if I can't really show that the framework aims to meet certain guidelines

[2020-09-24 15:11] oliviertassinari commented on #22721
Duplicate of #14187

[2020-09-24 15:11] #22721 closed

[2020-09-24 15:12] oliviertassinari commented on #22721
It has the same objective: document what's the state of a11y and WCAG compliance.

[2020-09-24 15:20] patorjk commented on #22721
@oliviertassinari Good to know, thank you for the response! You may want to add that to this page:

https://material-ui.com/discover-more/vision/

As it simply states "Be cross browser compatible and accessible." Knowing that the objective is to meet certain levels of compliance is very valuable.

[2020-09-24 15:26] oliviertassinari commented on #14187
A benchmark of the type of outcome we can expect from this issue:

- https://www.telerik.com/kendo-react-ui/components/accessibility/accessibility-compliance/
- https://ej2.syncfusion.com/react/documentation/accessibility/
- https://ag-grid.com/javascript-grid-accessibility/

Note that I could only find that on paid UI libraries, and considering we are pushing in this direction, it makes sense to

[2020-09-24 15:50] oliviertassinari commented on #22693
I had a quick look, there is a return that has nothing to do here:

[code]

@stefanpl If you want to work on a pull request, feel free too :)

[2020-09-24 15:58] hyggesoftware opened #22722 "[Autocomplete] Scroll to bottom not working"
Scroll through a list of items not working if I'm switching arrow keys on the keyboard and mouse scroll into the Autocomplete component

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm using the mouse to scroll/navigate throu

[2020-09-24 16:07] oliviertassinari commented on #22722
@hyggesoftware This is expected, the arrow moves the highlight, the scroll bar doesn't.

[2020-09-24 16:07] #22722 closed

[2020-09-24 16:28] josgraha commented on #14187
I will look into it and report back here what (if anything) has evolved from a MUI centric effort.  Soon after my post here the focus shifted to feature based compliance which makes more sense and closing gaps with middleware (internal api library) which can also be faulted for being too opaque and breaking a11y features supported by MUI.  Another downside to the middleware approach is the massive

[2020-09-24 16:58] GustawTanski commented on #22714
I'd love to tackle this issue. Let me know if you still need help with it.

[2020-09-24 17:18] barik commented on #22714
It looks like there would be potentially [18 places to replace](https://github.com/mui-org/material-ui/search?p=1&q=minimum-scale), across both documentation and examples. I am less sure if there are any other impacts of removing `minimum-scale`, besides what looked like a Chrome issue in GPU rasterization (2016).

[2020-09-24 18:51] c42ccoll commented on #22708
@oliviertassinari Thanks for the link. I'm looking at the second demo ("Overflow prevention") on that library's [demo site](https://popper.js.org/), and it seems like `placement="right"` is working correctly there. Is there something extra that I need to configure or override on MaterialUI's Popper in order for it to work like that demo?

[2020-09-24 18:52] caitecoll commented on #22708
@oliviertassinari Thanks for the link. I'm looking at the second demo ("Overflow prevention") on that library's demo site, and it seems like placement="right" is working correctly there. Is there something extra that I need to configure or override on MaterialUI's Popper in order for it to work like that demo?

[2020-09-24 19:38] oliviertassinari commented on #22342
We have explored the performance issue further in https://twitter.com/marijanajdova/status/1309198469622571010. We think that we can move forward as is. For teams that care deeply about performance, they can opt-in into the unstyled components, they provide better performance. For the others, like most of the industry, emotion and styled-components are good enough.

![Eis1ETvX0AEV6kn](https://user

[2020-09-24 22:15] oliviertassinari commented on #22708
The following fixes the issue:

[code]

However, the implementation doesn't match the comment:

https://github.com/mui-org/material-ui/blob/1c2055a95c85b025720f2fe8f2322852d2ed4835/packages/material-ui/src/Popper/Popper.js#L130

I think that we can try:

[code]

We changed it in #12168 but it was coupled with something else. I can't reproduce the issue.

[2020-09-25 00:38] AhmadMayo opened #22726 "Arrow Icons are not flipped in RTL"
I followed the steps in the website to create an Arabic web application. Everything works great until I use any of the (directional) arrow icons.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The back arrow still points left, an

[2020-09-25 02:16] mbrookes commented on #22726
The React SVG icon component names describe the icons as produced by Google, and assume forward is to the right, and back is to the left.

You can use import aliases to rename the imports.

[2020-09-25 03:09] AhmedSayed77 commented on #22726
@mbrookes  but the arrows will not be flipped automatically if the direction is changed dynamically. all the styles of the page will be flipped except for the arrow, which will need to be handled in userland.
And according to [the specs](https://material.io/design/usability/bidirectionality.html) the arrows should be flipped

[2020-09-25 05:14] dschinkel opened #22728 "Property 'component' does not exist on type StyledComponentProps"
Trying to just add a `component` and `to` prop for React-Router and it won't let me without TS complaining:

This is a functional React component
[code]

Error:
[code]

![Screen Shot 2020-09-25 at 12 14 54 AM](https://user-images.githubusercontent.com/338798/94229127-4ac9b680-fec4-11ea-9957-a84ac5246595.jpg)

[2020-09-25 07:20] eps1lon commented on #22728
Duplicate of https://github.com/mui-org/material-ui/issues/13921 with possible workaround described in https://github.com/mui-org/material-ui/issues/13921#issuecomment-484133463

[2020-09-25 07:20] #22728 closed

[2020-09-25 07:25] dschinkel commented on #22728
Thanks.  I get so sick of TS.

[2020-09-25 08:06] #22714 closed

[2020-09-25 08:08] Palaklive commented on #3896
_Sometimes sequence matters during the configuration. As a good practice always define typography at the top level during the configuration on [createMuiTheme](https://material-ui.com/customization/typography/#font-family)_

### Issue:
After the configuration theme is not getting font-family

[code]

`Note:
In this case Material UI using Roboto as the default font`
<hr />

### Solution:

[code]

I

[2020-09-25 08:21] dschinkel commented on #22728
don't know why that last approach lost styles after adding those react-router props but this way seems to work fine

[code]

[2020-09-25 08:32] oliviertassinari commented on #22726
@AhmedSayed77 See an example on how to do such:

https://github.com/mui-org/material-ui/blob/0acf4de98e45b0fd481f36a30ec3e66bed735fce/packages/material-ui/src/TablePagination/TablePaginationActions.js#L65

RTL isn't very frequently used by the community. If we can trust the npm downloads, it's used by [less than 2%](https://npm-stat.com/charts.html?package=jss,jss-rtl) of the developers we reach.

[2020-09-25 08:47] daraselia commented on #6218
It might be a good chance to introduce `theme-ui` spec be introduced to the stack. Why not make a styling solution as dependency injection. One big theme spec specific provider on top + some style resolvers, depending which styling solution you prefer (seems like a good api design challenge).

[2020-09-25 08:47] oliviertassinari commented on #22717
@amiranga Why did you close the issue?

[2020-09-25 09:02] oliviertassinari commented on #13926
@ethoman One of the issues with vertical alignment of the text in a button is that different fonts have different centering.
For instance, in https://seek-oss.github.io/capsize/ you can see that *Inter* is better centered than *Roboto*.

[2020-09-25 09:13] codepunkt commented on #21916
@AlessandroAnnini I had to tread `@material-ui/styles` as a singleton

[2020-09-25 09:36] sytpb opened #22730 "text overlapping when TextField under Accordion .."
overlapping happen as follow , text value overlap with lable ...
![image](https://user-images.githubusercontent.com/12178686/94252085-08e95080-ff56-11ea-86a0-ae717cb19129.png)

part of code

![image](https://user-images.githubusercontent.com/12178686/94251515-371a6080-ff55-11ea-88fb-c77c056933be.png)

`export default function SF() {
    const classes = useStyles();
    const [billtype, setBilltype

[2020-09-25 09:41] oliviertassinari commented on #6218
You can play with the first unstyled component in https://next--material-ui.netlify.app/components/slider-styled/#unstyled-slider.

---

@daraselia The unstyled components have no knowledge of any specific style or theming convention. We have seen this very theme specification request come up a few times, for instance we chat about it with @shinework. So far, we haven't seen a strong argument for

[2020-09-25 09:47] mifrej commented on #22342
Sorry that I bother you here so late in the discussion but I'm a bit surprised you are not looking closely at [styled-jsx](https://github.com/vercel/styled-jsx)

Their list exactly met your requirements:

- Works server and client
- Full CSS support, no tradeoffs in power
- Runtime size of just 3kb (gzipped, from 12kb)
- Complete isolation: Selectors, animations, keyframes
- Built-in CSS vendor pr

[2020-09-25 09:51] oliviertassinari commented on #22342
@mifrej I personally had a bad experience with it: https://github.com/vercel/styled-jsx/issues/142.

[2020-09-25 10:44] oliviertassinari commented on #22705
@mnajdova We have an alternative. We can lessen the check. I don't think we need to check that the document.activeElement is exactly a specific node as long as it's a descendant of the listbox, we should be good:

[code]

While we are at it, I have noticed that we could edge for: https://material-ui.com/components/menus/#limitations

[code]

[2020-09-25 10:54] oliviertassinari commented on #22730
@sytpb Please provide a **minimal** reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-09-25 13:07] dr-skot opened #22734 "date & time picker seems broken in Safari"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

At https://material-ui.com/components/pickers/#date-amp-time-pickers
Safari shows a non-interactive ISO string where the date-time picker should be.
I'm seeing it in Safaris 12 13 14.

[2020-09-25 13:08] #22734 closed

[2020-09-25 13:08] oliviertassinari commented on #22734
tip: https://caniuse.com/?search=date%20time

[2020-09-25 13:23] mbrookes commented on #22726
Apologies, it wasn't obvious from your issue description that you needed to support both. In addition to @oliviertassinari's suggestion, you could perhaps alternatively try applying `transform: flipX(-1)` in conjunction with the `:dir(rtl)` pseudo selector.

[2020-09-25 14:07] caitecoll commented on #22708
Thanks so much for the fix! I overlooked that modifiers prop in the API documentation. It fixed our issue, and I really appreciate the help.

[2020-09-25 14:34] AhmedSayed77 commented on #22726
@oliviertassinari @mbrookes Thanks for your time

[2020-09-25 15:30] ccpu opened #22737 "Be able to style label when TextField is filled with value"
Apparently, it is not possible to override the [filled](https://github.com/mui-org/material-ui/blob/3ba31434e251fded9829c1cebfdfea5f5e86ce9e/packages/material-ui/src/FormLabel/FormLabel.js#L39) property of classes in the `FormLabel` component, currently, I have to use `MuiFormLabel-filled` in CSS, I am not sure if its a good practice.

- [x] I have searched the [issues](https://github.com/mui-org/

[2020-09-25 17:53] arthuro555 commented on #22426
Not mine but I am a contributor.

Product: GDevelop
Maintainer: Florian Rival
Link: https://editor.gdevelop-app.com/
GitHub link: https://github.com/4ian/GDevelop
Screenshots:
![image](https://user-images.githubusercontent.com/19349038/94299807-72725a80-ff68-11ea-85ff-d327491a244b.png)
![image](https://user-images.githubusercontent.com/19349038/94299860-85852a80-ff68-11ea-8761-b464d4058677.png)
![

[2020-09-25 18:17] brorlarsnicklas commented on #22693
I'll give the PR a try, if that is ok? :)

[2020-09-25 18:29] chaance commented on #14187
Just seeing this because I was tagged, but:

I believe this is a mistake. NVDA has gained significant market adoption in the past several years. This survey by WebAIM was in 2019 and showed NVDA actually overtaking JAWS for the #1 spot. https://webaim.org/projects/screenreadersurvey8/

NVDA is available for free. It is very much worth getting a JAWS license if possible and testing on both platform

[2020-09-25 18:39] mbrookes commented on #14187
It really does need to be tested by someone who uses these tools on a daily basis though. Getting a license isn't necessarily the issue, it's having the experience to know whether the output "makes sense" to a regular screen reader user.

[2020-09-25 18:40] petermikitsh commented on #14187
Would a11y audits be performed for both styled and unstyled components (something to consider as v5 is being planned)?

[2020-09-25 19:00] #22446 closed

[2020-09-25 19:08] #22693 closed

[2020-09-25 19:15] captain-yossarian commented on #18646
@theGirrafish please take it, I have no time (

[2020-09-25 19:21] #22598 closed

[2020-09-25 19:40] oliviertassinari commented on #22387
Closing. If an issue is a "low priority", we probably don't want to dedicate time to it.

[2020-09-25 19:40] #22387 closed

[2020-09-25 19:43] #19546 closed

[2020-09-25 19:44] oliviertassinari commented on #19546
Find #17043 for a discussion on the validity of read-only with checkboxes.

[2020-09-25 21:18] Jhonatangiraldo opened #22741 "When using a Select with multiple, and selecting items the popup box is moved flickerly upwards"
When using a Select with the property multiple enabled, when I start to select Menu Items the Menu(small box over the select), suddenly moves upwards more-less 5 pixels. I think this is an unwanted behavior

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2020-09-25 21:30] oliviertassinari commented on #22741
Duplicate of #19245

[2020-09-25 21:30] #22741 closed

[2020-09-26 04:19] rodrigofuentes commented on #22737
So I think you're misunderstanding what the filled prop in classes is actually for. It is only for styling the `"filled"` variant of the component. In your codesandbox you aren't using the filled version.

Here is what I mean: [codesandbox](https://codesandbox.io/s/material-demo-forked-04muo?file=/demo.js)

So the default behavior is to shrink the label when input has value or is focused. I think

[2020-09-26 07:14] ccpu commented on #22737
thanks for the clarification. It helps a lot 👍

[2020-09-26 07:14] #22737 closed

[2020-09-26 12:14] #22730 closed

[2020-09-26 13:34] MewX commented on #21015
Thanks @VikR0001 !

To highlight what's in that comment - removing `<Typography>...</Typography>` does the trick.

[2020-09-26 14:31] mbrookes opened #22744 "[SpeedDial] Keyboard navigation broken when uncontrolled"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Use of cursor keys causes the speed dial to close.

## Expected Behavior 🤔

Cursor keys should navigate the speed dial.

https://material-ui.com/components/speed-dial/#simple-speed-di

[2020-09-26 15:07] mbrookes commented on #22744
Introduced in #22248.

@akharkhonov would you like to try and fix it?

[2020-09-26 17:20] hc-codersatlas commented on #22342
Did you try the babel plugins for emotion / styled-components? Did it make a difference to the timings?

[2020-09-26 19:55] akharkhonov commented on #22744
@mbrookes  Sure, will do it

[2020-09-26 22:37] ShamansCoding commented on #9496
For those, who seek a convenient way to do this, I want to offer a solution below.

We need to use CircularProgress with SVG linear-gradient and set an id property to that linear-gradient. After, we can define a class that will refer to that id by CSS `url()` function. We add this referred linear-gradient to the "stroke" property of that class.

And in the end, we need to add that class to  Circul

[2020-09-26 22:56] mbrookes commented on #9496
@ShamansCoding Thanks for sharing your solution! It would be great if you could include a link to a working codesandbox, or even a gif of the end result, so that others can see what the result looks like.

[2020-09-26 23:56] kentaro84207 commented on #21985
Could I work on this? :)

[2020-09-27 00:33] afolabiolayinka commented on #9189
<Typography
  variant="body1"
  component="pre"

  {body}
</Typography>

[2020-09-27 01:46] MewX opened #22750 "This demo had a runtime error: Minified React error #130"
Searching for "add" icon, and clicking on it.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Returning error:

[code]

![image](https://user-images.githubusercontent.com/5752560/94353654-e02c9c80-00b6-11eb-9f26-58eb79cbb3b1.png)

[2020-09-27 02:10] JaredDahlke commented on #19953
@NiroSenor @flora8984461
Here is @mikeizzy solution expanded to include "only select if clicking label" functionality:
[code]

[2020-09-27 09:16] eps1lon commented on #22750
Confirmed on [`next`](https://next--material-ui.netlify.app/components/material-icons/). `master` is fine. The layout of the error boundary is also broken: The error message overflows its container (Paper?).

[2020-09-27 09:29] eps1lon commented on #22744
So it's only broken for the uncontrolled state? Otherwise our tests need an investigation as well.

[2020-09-27 09:38] #21985 closed

[2020-09-27 11:18] mbrookes commented on #22744
It seems so

[2020-09-27 11:44] oliviertassinari commented on #22750
Oops, I broke it a few weeks ago. How about?

[code]

[2020-09-27 12:25] RomarQ opened #22777 "[5.0.0-alpha.11] Module not found: Can't resolve '@emotion/styled'"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In version 5.0.0-alpha.11, a new dependency was added `@material-ui/styled-engine` which wraps `@emotion/styled`.

Currently the following peer dependencies are missing from the paren

[2020-09-27 13:25] mnajdova commented on #22777
Thanks for reporting, we need to update the installation guide. We also need to add guides for configuring styled-components as style engine.

[2020-09-27 14:06] ShamansCoding commented on #9496
@mbrookes

My pleasure to be helpful! Here is the link below to codesandbox with an example.

[GradientCircularProgress](https://codesandbox.io/s/competent-swirles-q9wzr?file=/package.json)

[2020-09-27 16:35] ClydeFrog04 commented on #10159
I am also having the issue with
`"@material-ui/core": "^4.11.0"`

[2020-09-27 17:09] ryancogswell opened #22779 "[ToggleButton] Incorrect styling for adjacent, selected, vertical buttons"
`ToggleButton` [modifies the styles](https://github.com/mui-org/material-ui/blob/v4.11.0/packages/material-ui-lab/src/ToggleButton/ToggleButton.js#L25) of adjacent, selected ToggleButtons:

[code]

This styling is intended for the horizontal orientation, but is also being applied to the vertical orientation. Also, the equivalent styling for vertical (i.e. for `borderTop` and `marginTop`) is missin

[2020-09-27 19:56] Morteza-Jenabzadeh commented on #22648
I have come up with this test :

[code]
but this line yield error
[code]
I cant figure out why event is undefined !

I'll be happy if you give me a hint about this and also have not got any clue about when we should clear time out.

[2020-09-27 20:13] skr571999 commented on #22750
@oliviertassinari Can I work on the Issue?

[2020-09-27 20:32] cmeeren opened #22783 "[DataGrid] [XGrid] Docs have empty CSS rule names"
As shown on the image below, all rule names (except `root`) for DataGrid and XGrid are missing.

![image](https://user-images.githubusercontent.com/7766733/94375068-32021080-0111-11eb-80c7-7765aacb8428.png)

This is causing me some consternation since I'm using the docs to automatically create F# Fable bindings for MUI. Seems like a quick fix, though. :)

[2020-09-27 20:41] Sphinxs commented on #22777
These changes are gonna be available on the version 12?

[2020-09-27 20:50] oliviertassinari commented on #22783
@cmeeren We didn't implement the `classes` API yet.

[2020-09-27 20:54] cmeeren commented on #22783
Ah, I see. Thanks for the clarification!

[2020-09-28 03:07] jiangyh1024 opened #22785 "Tooltip bug ?"
[code]
after clicking img and moving mouse away fast, the tooltip didn't disappear.

i checked the dom, the tooltip wasn't removed from document.body

is there any solution to solve this problem ?

![image](https://user-images.githubusercontent.com/34930870/94386916-509cf180-017b-11eb-9e32-2561d9e3d8ed.png)

![image](https://user-images.githubusercontent.com/34930870/94386932-5e527700-017b-11eb-8d

[2020-09-28 04:33] stunaz opened #22786 "TextField - minRows is not passed to TextareaAutosize"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/1305483/94390755-92994980-0121-11eb-9198-14d6e51d84f4.png)

https://codesandbox.io/s/elastic-microservice-g4ypj?file=/src/Demo.js

##

[2020-09-28 07:24] mnajdova commented on #22777
@Sphinxs yes

[2020-09-28 07:48] eps1lon commented on #22786
In our demo (text-field#multiline) we used to pass `rowsMin` (`master`) but switched to `rows` in `next`.

The TextField API now lists 3 props related to the number of rows: `rows`, `minRows` and `maxRows`. While fixing this bug we should probably get rid of `rows` as well. Too much choices in my opinion.

[2020-09-28 07:51] eps1lon commented on #22785
@jiangyh1024  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-09-28 08:13] #22701 closed

[2020-09-28 08:15] #22777 closed

[2020-09-28 08:46] jiangyh1024 commented on #22785
https://codesandbox.io/s/nostalgic-banzai-bbmkc

I've created a demo, I can reproduce it sometimes

[2020-09-28 08:55] eps1lon commented on #14187
My problem is that this is a one-year license that I still don't even know how to get in Germany. After that you're stuck with an older version. I don't know how upgrades are handled by actual users. Do they upgrade every year? Every 5 years? If almost everybody is on the latest version then how useful is testing for 1-2 year old versions?

While I agree with that generally I don't think you need

[2020-09-28 08:59] jiangyh1024 commented on #22785
![Uploading screen-capture.gif…]()

[2020-09-28 09:10] eps1lon commented on #22785
It seems like this is a bug in React: https://github.com/facebook/react/issues/6807.

Ideally we could fix it upstream inside React. We can take a look at proposed workarounds as well. If anybody has some ideas we'll take a look.

[2020-09-28 10:31] oliviertassinari commented on #22786
Did we forget to forward the prop?

[code]

`minRows`/`maxRows` works with `TextareaAutosize` only while `rows`  work with `<textarea>` only.
We used to mix the two use cases, it was creating confusion.

[2020-09-28 11:11] skr571999 commented on #22750
ok, I will be starting to work on it.🚀

[2020-09-28 13:25] Ritorna commented on #22473
Would be a great addition! Recently had to implement a calendar component by myself for a similar use case.

[2020-09-28 13:58] josgraha commented on #14187
FWIW I think unstyled components are likely more a11y compliant than styled because the contrast ratio doesn't come into play (just user defaults) and fewer edge cases to worry about wrt specificity for user defined styles

[2020-09-28 13:59] k-rokicki opened #22792 "[Autocomplete] Don't display whole options list in Autocomplete when input text is the same as selected value"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When one of the options in Autocomplete is selected, there is a slightly non-natural behavior when manipulating input text. After deleting e.g. the last letter, the list with possible options is filtered by input text. When you type this dele

[2020-09-28 15:20] DHBuild002 commented on #10571
Yes, I found this package, suggested in another thread, was incorrect for my purpose:

"material-ui-icons": "^1.0.0-beta.36",

I reinstalled using your approach and found that resolved the problem. Thanks Arpan!

[2020-09-28 15:46] eps1lon commented on #14187
Sure but what is an audited component worth if it's never used in its default state? Styled components are much more likely to be used as-is or with little changes.

We're not choosing the version that is more likely to pass but the version where an audit is useful to the end-user.

[2020-09-28 15:59] #22750 closed

[2020-09-28 18:03] ianschmitz commented on #22342
What would a change from JSS mean for the existing `classes` prop available on existing MUI components? How would a v5 migration look for existing users that leverage this prop extensively?

[2020-09-28 18:04] Nived660987 commented on #14604
i want to redirect on click of  product category buttons of onepirate material ui template can some help???
the code is:

function ProductCategories(props) {
	const { classes } = props;

	const images = [
		{
			url: 'https://i.pinimg.com/564x/73/16/32/731632e44bdf21489d4d7632e59a8894.jpg',
			title: 'GYM',
			width: '33%',

		},

		{
			url: 'https://www.safwallpapers.com/files/1524485537_Yoga-Gi

[2020-09-28 18:08] Nived660987 opened #22794 "need help related to product category component of pirate theme /components/product categories"
i want to redirect on click of product category buttons of onepirate material ui template can some help???
the code is:
that is if suppose i have 3 or 4 pages realted to the titles mentioned below like gym,covid ,meditation etc and i want to redirect to those pages on click of the buttons how can i do it please help with the code for it ,been stuck figuring it out for weeks

function ProductCatego

[2020-09-28 18:13] #22794 closed

[2020-09-28 18:16] #22708 closed

[2020-09-28 18:17] LethalPants commented on #22443
Can I work on this?

[2020-09-28 19:15] mnajdova commented on #22342
We envision people to use the following syntax instead: https://next.material-ui.com/components/slider-styled/#unstyled-slider the classes are basically replaced by the class selectors available for each slot in the component. You can take a look also on the customization example: https://next.material-ui.com/components/slider-styled/#customized-sliders

As an advantage you can just use the props

[2020-09-28 21:11] ConAntonakos commented on #22342
I love this API! Very much a welcome change, and it seems to play really nicely with the style engines.

Before `v5`, if I recall correctly, the JSS compiler would mangle those class names and you couldn't target them? But now it seems they'll be exposed for targeting purposes? 🙌 Also, there was the issue with CSS precedence. And those concerns are resolved with this new approach? Thank you for wo

[2020-09-28 21:22] croraf commented on #21622
@HurricaneInteractive I think you are using it wrongly. The theme breakpoints must be outside of the property like:

[code]

[2020-09-28 21:31] mnajdova commented on #22342
@ConAntonakos exactly these classes can be targeted for both the unstyled and styled versions of the components. The order of which styled is invoked ensures that the new styles will win, of course if the specificity is the same :)

[2020-09-28 21:47] croraf opened #22795 "Using breakpoints and class names with the same name as CSS properties gives TS error"
Using breakpoints in `makeStyles` and setting the class name that is withing the breakpoint as CSS property name (for example `grid`) gives typescript type error.

The example below is not using theme callback, but the same happens when using the theme callback (when the entire callback is underlined with red error).

The types seem to be defined wrong for this case. It looks like the type parser

[2020-09-29 06:06] Nipodemos opened #22799 "[Select] Remove labelWidth prop"
I am trying to use the Select component, however when I set the label to be shrinked by default, it has a strike though. It is not respecting `labelWidth` not `label` nor anything

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Whe

[2020-09-29 06:43] eps1lon commented on #22795
I understand that this might be obvious to a human that these types are sound but within TypeScript and the wider use cases of `makeStyles`/`withStyles` we can't let these pass. https://github.com/mui-org/material-ui/issues/12277#issuecomment-417417343 has more context. We already document this particular quirk under  https://material-ui.com/guides/typescript/#media-queries.

Seems like you alread

[2020-09-29 06:43] #22795 closed

[2020-09-29 06:54] eps1lon commented on #22799
We'll probably fix this by introducing a dedicated component for this pattern: #21782

Until then `<Select label="Age" notched>` should do.

[2020-09-29 06:56] eps1lon commented on #22342
You could already target them in v4.

Are they "basically" replaced or actually replaced? I thought we decided to keep some of the old API to reduce the number of breaking changes.

[2020-09-29 07:03] mnajdova commented on #22342
We decided to keep the same API for the `theme.components.overrides` - overrides defined in the theme work in the same manner.

For the instance overrides, we have the `styled` approach now with the class selectors, that is why the `classes` prop is not supported anymore. Developers can do that same in more flexible manner now.

[2020-09-29 07:08] eps1lon commented on #22342
That sounds like it's such a minor issue because there's an alternative but the migration cost for that is huge. How does the migration plan look like?

[2020-09-29 07:25] mnajdova commented on #22342
Developers can still use the theme overrides, if they just move the instance overrides to a nested `ThemeProvider` they wouldn't need to change the styles defined at all, as the structure between those two is the same (it's not perfect, but if they want incremental upgrade it is a way to go)

On the othe rhand, we can still support the classes prop easily, but in that case we cannot guarantee if t

[2020-09-29 07:42] jiangyh1024 commented on #22785
for the present, I replaced tootip with 'react-tooltip' which solved my problem as 'react-tooltip' has a static method allowing user to hide the tooltip

[2020-09-29 07:44] eps1lon commented on #22785
How do you know when to call this?

[2020-09-29 07:45] jiangyh1024 commented on #22785
![image](https://user-images.githubusercontent.com/34930870/94528317-cc299c00-026a-11eb-8c44-4c80ff483b23.png)

[2020-09-29 09:14] mkhoussid commented on #18326
For anyone coming here, looking to remove the `rotate` animation, according to the [docs](https://material-ui.com/api/accordion-summary/#css), you can override the `expandIcon` rule like this:
[code]
Took me some time to figure it out, before I realized `!important` was an imperative piece to this.

[2020-09-29 09:45] mkhoussid opened #22804 "[IconButton] Improve onClick warning"
Not sure where to put this, but I'm getting the warning:
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Warning thrown

## Expected Behavior 🤔
Warning is a non-issue (in Firefox, from what I gather, in this situation), so t

[2020-09-29 09:48] numToStr opened #22805 "[v5-alpha.11] Could not find dependency: '@emotion/styled'"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

#### **First of all congratulations on introducing unstyled components :heart: :tada: .**

## Current Behavior 😯

I am getting this error after updating from `alpha.10` to `alpha.11`.
[code]

Do I need to i

[2020-09-29 09:53] mnajdova commented on #22805
@numToStr thanks for reporting. Yes, you need to install `@emotion/core` & `@emotion/styled` too. Closing as duplicate of https://github.com/mui-org/material-ui/issues/22777 - installation guide was updated.

[2020-09-29 09:53] #22805 closed

[2020-09-29 10:07] croraf commented on #22795
OK, I see. I just think there is one typo as per PR I did now in #22806

[2020-09-29 10:19] croraf commented on #22795
@eps1lon If I understood correctly, in theory this could be fixed, so that it works as the human expects, but you consider it too much work?

[2020-09-29 11:47] brokenthorn opened #22807 "Offer Link wrapper component in TSX"
The styled and wrapped version of the Next.js `Link`component provided by the Material UI next-js template/example is not 100% usable in TypeScript projects because IntelliSense does not work with the current JavaScript version of the component. For example, there are no suggestions available for its props.

I converted the JS version to TSX partially. It is usable and IntelliSense works in VS-Cod

[2020-09-29 13:09] oliviertassinari commented on #22807
@brokenthorn I'm not sure to follow. Are you reporting an issue with https://github.com/mui-org/material-ui/blob/next/examples/nextjs-with-typescript/src/Link.tsx?

[2020-09-29 13:11] eps1lon commented on #22795
If somebody could fix then we'd definitely take a look. But I suspect this would take a lot of time and since this issues is documented and has a workaround we're not planning on working on this issue.

[2020-09-29 13:12] oliviertassinari commented on #22807
I think that we can aim to link all the examples in https://next.material-ui.com/getting-started/example-projects/#official-examples, so do:

[code]

[2020-09-29 13:12] oliviertassinari commented on #22807
@brokenthorn do you want to solve that?

[2020-09-29 14:57] Jhonatangiraldo commented on #4648
@oliviertassinari  it would be great to use the **material-ui** Button styles, and being able to have button submit types and so on. Is there any plan to support that?

[2020-09-29 15:55] obnoxiousnerd commented on #20182
@oliviertassinari this issue has happened with me, when using Menu and MenuItem(using latest version of Preact, with material UI). Will try to produce and give a reproduction ASAP.

[2020-09-29 16:46] daniel-keller opened #22810 "Variants for AvatarGroup"
Mui's `Avatar` component has the variants `squared`, `rounded`, `circle` to transform the shape of the avatar. In an `AvatarGroup` when more than the `max` number of avatars are present an avatar displaying the remaining number of Avatars (+x) is appended. AvatarGroup has no property to change the shape of this appended Avatar. If I want this appended avatar to match the avatars in the group I hav

[2020-09-29 16:51] marcelo-umg opened #22811 "Issues with styling on production after user starts to navigating the page."
I've been going through some issues on Github reading about this kind of issues with the styles on production builds.

I am trying to figure out what is happening and I already applied some of the solutions they mentioned in their [docs][1].

I have this kind of styles on 3 different components:
I am importing `makeStyles` from `import { makeStyles } from '@material-ui/styles';`
[code]
[code]
[cod