[2019-03-01 12:22] Marina-R opened #14710 "How to disable specific date range?"
Hi there,
I'm trying to disable specific dat-range on calendar with shouldDisableDate, but seems like its not possible? Any suggestions should be really appreciated.

[2019-03-01 12:27] koutsenko commented on #14696
Oops.. No, seems it's all wrong:

So, "uncontrolled" means if values are undefined, e.g. not defined in React lifecycles.
But I explicitly set it as null, and explicitly tried to set it to smthing another, and it didnt worked.

Maybe all that case is about "controlled" behaviour?

[2019-03-01 13:10] mpodlasin commented on #10235
Did something change?

I was able to make it centered with two lines of css.

Setting `flex-grow: 0` on `MuiTabs-scroller` and `justify-content: center` on first `MuiTabs-flexContainer` in the tabs tree.

Works perfectly, unless I am missing something. @oliviertassinari do you want me to make a PR?

[2019-03-01 14:20] eps1lon commented on #14708
Not going to pursue this. 100% test coverage is (and I don't want to sugarcoat this) useless. Just the fact that we measure line coverage removes any value from this number. For reporting yes, but as a limit on a passing build, no.

If anybody wants to pick this up: just add `istanbul ignore if` comments. It's what we're doing in all the other places to display a nice number.

[2019-03-01 15:45] IoHL opened #14711 "Multiple modules with names that only differ in casing in Popper module."
In `material-ui/Popper.js`, maybe considering using a different approach on importing the `popper.js` to Popper component. My webpack compiler reports it as follow:

[code]

#### Solution

A temporally fix for this issue is to use either an absolute or relative path that point directly to `popper.js` file when require the library.

[code]

[2019-03-01 16:11] CrashCodes opened #14712 "TextField outlined variant with fullWidth and endAdornment expands TextField off screen"
TextField outlined variant with fullWidth and endAdornment expands TextField off screen.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

I expect TextField to be the same size and have same margins with and without an endAdornment.

## Current Beh

[2019-03-01 16:54] eladlevy commented on #204
The only solution that worked for me without breaking the Menu layout was:
[code]

[2019-03-01 17:36] kgregory commented on #9871
One thing I just noticed today is that the last-child padding-bottom will not be applied to clickable-cards that have their `CardContent` wrapped in `CardActionArea` because two elements are added to the card (focus highlight and touch ripple) beneath the `CardContent` element.

See this [codesandbox](https://codesandbox.io/s/jl7mrvll9y)

[2019-03-01 19:08] joshwooding commented on #14710
Hi,

It looks like you are using [material-ui-pickers](https://github.com/dmtrKovalenko/material-ui-pickers), I would ask this on [stackoverflow](https://stackoverflow.com/questions/tagged/material-ui-pickers) .

Looking at their API shouldDisableDate takes a function with the date passed in and you return true or false if you want the date disabled.

Hope that helps.

[2019-03-01 19:09] #14710 closed

[2019-03-01 20:17] davidcalhoun commented on #14185
Color styling has been one of the major difficulties when using this library.  For instance, a simple use case where you have three buttons side-by-side, all different colors.  Trying to style this with themes is really limiting and unintuitive.  From what I can tell this is only possible to implement with the first two buttons using one theme, then the third button using a different (nested) them

[2019-03-02 00:18] rob2d commented on #14601
Not working for me either. Perhaps this is an issue with Redux provider? I am not seeing context anywhere in the tree of my app following MUI 4.0's theme provider.

[2019-03-02 00:19] C-Rodg commented on #14302
@oliviertassinari if this is still open, where were you thinking this should be documented?  On the [Select API](https://material-ui.com/api/select/) or in [overrides](https://material-ui.com/customization/overrides/#overriding-with-classes)?

[2019-03-02 00:36] C-Rodg commented on #14446
@oliviertassinari is this still good to take?  Looks like all that needs to be done is make line 80 use 'borderBottomStyle' instead of 'borderBottom', correct?

[2019-03-02 02:38] JoeDuncko commented on #9186
Just ran into this. Has anyone figured out a solution?

[2019-03-02 04:10] ajhool commented on #14677
I'm having trouble with next.js and pageContext, too. Specifically when I'm using the "component" property on a Button, of all things. +1 for a simplified example

[2019-03-02 14:26] oliviertassinari commented on #14708
@eps1lon They are different topics here, by order of importance:
- Codcov **didn't report** the test coverage change. I think that it's the most important issue. We should know about any test coverage changes!
- I think that we should try not to decrease test coverage, I would consider it's a good practice to keep it constant or improve it. **It should fail the build when reducing test coverage**

[2019-03-02 17:16] oliviertassinari commented on #14446
@C-Rodg Yes, I think so :)

[2019-03-02 17:21] oliviertassinari commented on #14302
@C-Rodg I'm thinking of this page: https://material-ui.com/guides/interoperability/#styled-components.

[2019-03-02 18:14] oliviertassinari commented on #14185
@davidcalhoun Yes, you are right, this issue is about extending the Button implementation so people just do:
[code]
then have a working:
[code]
implementation.

The best solution right now is to add the color in the theme, then to create a wrapping component:
[code]

https://codesandbox.io/s/7zmw6ox8m1

![capture d ecran 2019-03-02 a 19 13 54](https://user-images.githubusercontent.com/3165635/5368

[2019-03-02 18:23] oliviertassinari commented on #14185
If you don't care about the warnings, you can do 🤷‍♂️:

[code]
https://codesandbox.io/s/r15rlnlznq

[2019-03-02 18:29] oliviertassinari commented on #14711
@IoHL What version of Material-UI are you using? The unpkg archive looks clean: https://unpkg.com/@material-ui/core@3.9.2/Popper/.

[2019-03-02 18:32] kpennell commented on #14604
@oliviertassinari Thank you for working on this. Would love to have solid theme starting points

[2019-03-02 18:40] oliviertassinari commented on #14706
@mpodlasin Interesting. I might know what's going on. MacOS has a smart scrollbar display logic. It's enabled by default but you can change it in the main settings:

![capture d ecran 2019-03-02 a 19 34 26](https://user-images.githubusercontent.com/3165635/53686019-7dc8ba00-3d22-11e9-8457-73944274ba25.png)
*sorry, french user here*

I'm using the nondefault option that reproduces the Windows behav

[2019-03-02 18:42] oliviertassinari commented on #14706
Given the browser support https://caniuse.com/#feat=css-scrollbar, we might be able to kill ScrollbarSize at some point.

[2019-03-02 18:45] oliviertassinari commented on #14709
@liesislukas Do you have a reproduction? It looks like a global issue rather than something specific with the breadcrumb. I have started a Gatsby integration effort in https://github.com/mui-org/material-ui/tree/next/examples/gatsby-next. I will complete it very soon.

[2019-03-02 18:52] oliviertassinari commented on #14696
@koutsenko Here is how React handles the controlled/uncontrolled logic:
https://github.com/facebook/react/blob/c954efa70f44a44be9c33c60c57f87bea6f40a10/packages/react-dom/src/client/ReactDOMInput.js#L37-L40
But maybe we could do an exception for the radio group component, accept null as a controlled value 🤔. @eps1lon What do you think about this change?

[2019-03-02 18:54] eps1lon commented on #14696
How do we handle ToggleButtonGroup or Select?

[2019-03-02 19:07] oliviertassinari commented on #14696
@eps1lon I should have looked at that, great answer! The ToggleButtonGroup component can only be controlled. For the Select component, React seems to encourage `''`:

[2019-03-02 19:11] eps1lon commented on #14696
I would go with that option then (including the warning). I think it's important that devs familiar with react don't encounter different behavior.

[2019-03-02 22:48] daiky00 commented on #4952
@oliviertassinari the demo is is awfully long it should be simplify or just make a components that takes an array of suggestions

[2019-03-02 22:55] tiagodreis opened #14718 "[Drawer] Demos not able to access it via keyboard"
Hey guys,

I'm having a bit of an issue using the Drawer. It seems that it's not accessible via keyboard (we need it to be, for WCAG AA compliance).

## Expected Behavior 🤔
I would expect the Drawer to be accessed either via tab after showing it (or the first focusable item to be focused upon showing)

## Current Behavior 😯
When the Drawer shows, if I press *tab* once, it focus the whole elements

[2019-03-03 02:34] andreyradkevich commented on #7212
https://stackoverflow.com/questions/54965013/onmouseleave-for-popover-with-hiderbackdrop-parameter-material-ui

[2019-03-03 08:33] Yzrsah opened #14721 "MUI Next - CssBaseline support for simple typography styles"
# Bug Report

All text must be wrapped in `<Typography>`, otherwise default typography theming does not render correctly. But this is difficult because wrapping everything in `<Typography>` causes component sizes to readjust and flicker on render.

## Steps to Reproduce
1) Use the example `examples/nextjs-next`
2) Modify the theme in `getPageContext.js` with:
[code]
3) Add to `index.js`:
[code]

#

[2019-03-03 12:28] oliviertassinari commented on #14721
I don't follow. How this is not working? If you want to wrap the whole DOM with the Typography component, you should set `component="div" `.

[2019-03-03 12:53] oliviertassinari commented on #14718
@tiagodreis I don't understand. We don't document this implementation strategy. Remove this element, it's wrong
[code]

[2019-03-03 12:56] Yzrsah commented on #14721
@oliviertassinari

Thanks, this is helpful.

This still makes a problem:
- Default Theme colors are automatic with `{classes.root}`
- We have to add `<Typography component='div'>` to every page render function for default Typography

If you told me that it's simply not automatic, then that makes sense.

However, when you use:
[code]

It produces unexpected behavior, because the theme colors are au

[2019-03-03 13:00] tiagodreis commented on #14718
Please re-open this issue. This is a real issue.

Please check updated sandbox: https://codesandbox.io/s/m2lyk2n89 (exactly as you document it - except that I'm using a functional component with hooks - but it's the same!)

Also, check your example: https://material-ui.com/demos/drawers/:

1. Click "Open Left"
2. It's not accessible!

[2019-03-03 13:02] joshwooding commented on #14721
So reading this you want the fact that Typography theme changes and styling won't apply to text, not inside Typography?

[2019-03-03 13:03] oliviertassinari commented on #14721
@Yzrsah It's what the `_app.js` component of Next.js is for.

It's automatic, because the Next.js example uses our `CssBaseline` component in `_app.js`.

---

@joshwooding What do you think of changing the default Typography variant mapping from 'p' to 'span' for the body1 and body2 variants?

[2019-03-03 13:07] Yzrsah commented on #14721
@oliviertassinari The CssBaseline is not using the default typography colors computed in the theme

[2019-03-03 13:10] Yzrsah commented on #14721
@oliviertassinari The CssBaseline is not using the default typography colors computed in the theme

It's not in the examples, there is nothing about `<Typography component='div'>` there, and the default typography colors are not implemented correctly in the examples

If this can produce unexpected behavior: "Page theme colors are used, but typography theme colors are not used", then why not add it

[2019-03-03 13:14] joshwooding commented on #14718
It's due to the onKeyDown, it's triggered when you try to tab to things. If you filter tab presses out or remove it from your example it works.

[2019-03-03 13:15] oliviertassinari commented on #14718
@tiagodreis Thank you for linking the example. We can fix the demos like this:
[code]

Do you want to give it a try? :)

[2019-03-03 13:52] oliviertassinari commented on #14721
@Yzrsah No, the CssBasline component is not handling typography whatsoever. This was a design decision taken a years ago. We have designed each component to work in isolation, not relying on any global CSS. This drastically helps people to cherry-pick our components and use them independently from the existing element on the page.

However, we do need some global CSS reset when handling the top la

[2019-03-03 13:57] #14711 closed

[2019-03-03 13:58] Yzrsah commented on #14721
@oliviertassinari Thank you so much

[2019-03-03 14:26] oliviertassinari commented on #14712
@CrashCodes Thank you for the report. it's not the first time we see this class of problem. It's a box-sizing issue: 9d270f6369. Ok, I think that we should be bolder here. What do you think of:
[code]
Do you want to work on it? :)

[2019-03-03 14:41] tiagodreis commented on #14718
Thanks @oliviertassinari! , it works.
But I think, we should put:

[code]
Just to support going up and down. What do you think?
Would I be able to open a PR for this, or will you handle it?

[2019-03-03 15:04] oliviertassinari commented on #14718
@tiagodreis 👍

[2019-03-03 17:05] stunaz commented on #14519
What is the difference between `Box` , `Grid `and now `Container ` ?
[spectrum link](https://spectrum.chat/?t=73cef09f-1eb9-4d0f-a3a3-d46c44232524)

[2019-03-03 17:15] oliviertassinari commented on #14519
- Container handles the horizontal centering
- Grid handles the layout positioning within a Container
- Box is a style toolbox, an abstraction for people how like the tailwinds approach

[2019-03-03 18:00] stunaz commented on #14519
Thanks @oliviertassinari, I hear you, but still unclear for me. It's like `Grid `and `Box` are the same, but `Box` has more options and `<Container  />` === `<Grid container />`. At the end of the day, the purpose of each approach is to organize layout. It will be more clear if for example you could illustrate the uses cases and trade-off of different approaches.

[2019-03-03 18:50] laaksomavrick commented on #10022
I was having issues using withStyled as a HOC with stateless components. I fixed the issue as follows:

[code]

[2019-03-03 21:36] tiagodreis commented on #14718
Just submitted PR https://github.com/mui-org/material-ui/pull/14728

[2019-03-04 07:03] Yzrsah commented on #14721
I tested with commit #14729

Using `examples/nextjs-next` - It flickers
The typography styles from CssBaseline display on initial render, but then revert back to unstyled after flicker

Same repro, just using `<p>Hello</p>`

[2019-03-04 07:13] #14446 closed

[2019-03-04 08:19] liesislukas commented on #14709
Seems like global, started using tab component and it fails in a similar fashion.

You can visit Trafikito support site which is under construction atm https://trafikito.com/support/

I forked code at this state to this repo: https://github.com/liesislukas/trafikito-support
Tabs: https://github.com/liesislukas/trafikito-support/blob/master/src/pages/index.js

Tabs component is on top. If you click

[2019-03-04 08:38] mehuljariwala opened #14730 "How to use material ui animation icon in react application ?"
Hello Team,
I need to implement animation icon in my react application but i am not able to find how to use in my project i read all documentation but i didn't get it..

Thanks !

[2019-03-04 09:03] #14718 closed

[2019-03-04 09:08] #14730 closed

[2019-03-04 09:10] #14683 closed

[2019-03-04 09:11] #14302 closed

[2019-03-04 09:15] oliviertassinari commented on #14721
@Yzrsah I don't understand what you are saying. If you could provide a reproduction, it would help. As far as I know, the problem is fixed now with #14729.

[2019-03-04 09:23] Studio384 opened #14731 "[TextField] Crash on all pages since alpha 2"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Pages with TextFields do not crash.

## Current Behavior 😯
They crash with the following warnings:

[code]

| Tech         | Version |
|--------------|---------|
| Material-UI  | v4.0.0-alpha.2  |
| Re

[2019-03-04 09:25] Ognian opened #14732 "[TextField] fullWidth doesn't work in table"
see [codesandbox](https://codesandbox.io/s/84m8ml3qo9), the first table uses TextField with fullWidth an you can see how the text is broken in 2 lines, below you can see a table with the same text where the table is displayed correct
<img width="379" alt="image" src="https://user-images.githubusercontent.com/1231174/53722011-d011f400-3e64-11e9-9a0c-524046b1ce39.png">

- [ x] This is not a v0.x iss

[2019-03-04 09:25] eps1lon commented on #14731
@Studio384  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-03-04 09:38] oliviertassinari commented on #14731
I have tried alpha.2 on an isolated project. No issue.

[2019-03-04 09:39] oliviertassinari commented on #14731
We should convert this to a React.useContext :)

[2019-03-04 09:46] Yzrsah commented on #14721
@oliviertassinari The Reproduction is the same 3 steps listed in the first post
Following those 3 steps, the text will display using the CssBaseline typography style, but then flicker and revert back to unstyled

[2019-03-04 09:49] Studio384 commented on #14731
@eps1lon I know, was already working on it but haven't yet figured out what triggers this. Already created the issue in hope that maybe someone else did know what is wrong.

[2019-03-04 10:00] dmtrKovalenko opened #14733 "[styles] styledBy issue"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Hi, I am now working with material-ui alpha and new JSS approach. `styledBy` is actually amazing but now I am seeing that it's failed in **production mode**.

https://material-ui.com/css-in-js/basics/#a

[2019-03-04 10:00] dmtrKovalenko opened #14734 "[styles] styledBy in production generating not unique classnames"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Hi, I am now working with material-ui alpha and new JSS approach. `styledBy` is actually amazing but now I am seeing that it's failed in **production mode**.

https://material-ui.com/css-in-js/basics/#a

[2019-03-04 10:01] dmtrKovalenko commented on #14734
And also a question about ts support. Would you reexport styledBy function? Because it is quite complex for typescript inference prospective, I`d like to see it provided out of the box.

[2019-03-04 10:09] oliviertassinari commented on #14721
I don't see that.

[2019-03-04 10:12] faliye opened #14736 "[docs] Translate the left menu 翻译左侧导航菜单"
I think a Chinese left menu which will help material pop in CN;
Many Chinese coders  including me  are not good at english;
A Chinese left menu like antd-design  is important to new learner;

-----------update 20190206
出色的本地化左侧导航菜单，将为那些初学者和使用者提供巨大的便利。
有助于 material 在更多的地域更加流行。
the Excellent local  navigation menu in left，that will supply great convenience for beginners and users,which will make mat

[2019-03-04 10:13] faliye commented on #14736
Edit title  "gei" to " give".

[2019-03-04 10:14] dmtrKovalenko commented on #14733
Ohh god, the issue was duplicated. Close in favor of #14734

[2019-03-04 10:14] #14733 closed

[2019-03-04 10:25] MalignantShadow commented on #14732
The problem here is the width of `<table>`, `<tr>`, and then ultimately the `<td>`. All the `fullWidth` property does is give the component `width: 100%`: https://github.com/mui-org/material-ui/blob/a574657cb29a23594ad052fb78f972e6d3404586/packages/material-ui/src/InputBase/InputBase.js#L66-L69
The `<table>` in this instance is not big enough; It's deciding its own preferred size, since it's not s

[2019-03-04 10:31] Yzrsah commented on #14721
@oliviertassinari It's definitely partially working, because I see a flicker of the correct typography theming, before it reverts.

For index.js I used:

[code]

And there's no `<Typography component='div'>` in _app.js

It works as expected with `<Typography component='div'>`, just not with CssBaseline alone

[2019-03-04 10:31] Yzrsah commented on #14721
@oliviertassinari It's definitely partially working, because I see a flicker of the correct typography theming, before it reverts.

For index.js I used:

[code]

And there's no `<Typography component='div'>` in `_app.js`

It works as expected with `<Typography component='div'>`, just not with CssBaseline alone

[2019-03-04 10:33] Yzrsah commented on #14721
@oliviertassinari It's definitely partially working, because I see a flicker of the correct typography theming, before it reverts.

For index.js I used:

[code]

And there's no `<Typography component='div'>` in `_app.js`

It works as expected with `<Typography component='div'>`, just not with `<CssBaseline />` alone

[2019-03-04 11:14] oliviertassinari commented on #14732
@MalignantShadow Thank you for answering.

[2019-03-04 11:14] #14732 closed

[2019-03-04 11:34] Ognian commented on #14732
I understand that you want to quickly close any issues, but the above explanation is wrong...

[2019-03-04 11:41] oliviertassinari commented on #14732
TL;DR the text field uses the available space in the table. HTML table layout is special. The best strategy is to set the width on some of the header rows.

[2019-03-04 11:53] Ognian commented on #14732
@oliviertassinari yes the above is right; BUT sometimes the best strategy does not work;
The above example is of course oversimplified and as soon as we get a second column
 `<table style={{ width: "100%" }}>` will not work ...
The problem is that I need the auto-layout of the table and in that case (and only that) the width of the td is taken into account...

[2019-03-04 12:09] oliviertassinari commented on #14732
@Ognian I would suggest StackOverflow.

[2019-03-04 12:44] Ognian commented on #14732
Found the table layout algorithm at https://www.w3.org/TR/CSS22/tables.html 17.5.2.2
The problem can be further simplified to just a simple TextField (without fullWidth) but a longer value than the minWidth. The problem is that TextField is not capable of having an 'auto' width... TextField does NOT stretch depending on the text inside, instead of this it either scrolls or adds more rows...
Any id

[2019-03-04 13:40] ayubov commented on #13988
I faced the same problem. @oliviertassinari, @joshwooding, it seems like firefox wouldn't fix this in foreseeable future, maybe a better solution would be to implement this as out of the box feature?

[2019-03-04 14:08] Shrikant9 commented on #12208
@oliviertassinari Thanks, this is exactly what I have been searching for past 2 hours.

[2019-03-04 16:28] CrashCodes commented on #14712
@oliviertassinari
Thanks for looking at this issue!

I think adding border-box to my InputProps fixes me up for today.

Moving border-box up to the base is quite bold. I'm scared. Think of the ~~children~~ variants!

Ha! I'd rather not. Besides, it looks like you found a solution for this one.

[2019-03-04 18:02] davidcalhoun commented on #14185
Thanks for the great examples!  That helps.  For sure, having other color names outside of just "primary" and "secondary" helps a lot, but I'm not sure if it solves my use case.

In my case I'm trying to use color themes for a dropdown button I'm creating with three states:

1. `Draft` (a greyish background)
1. `In Progress` (bluish background)
1. `Completed` (greenish color)

It would be great to

[2019-03-04 18:22] eps1lon commented on #14185
@davidcalhoun This is something I'm experimenting locally. The material design guidelines already define a color and the "contrast" color (or "on" color in material speak).

The idea is that you can add any color in the theme and either let us figure out what a good "on"-color would be or let you define that too. The component should then take care of the rest i.e. given a color name figure out wh

[2019-03-04 21:52] oliviertassinari commented on #14734
@dmtrKovalenko I was wondering if the styledBy helper wasn't too complicated for [the demo you linked](https://material-ui.com/css-in-js/basics/#adapting-hook-api) 🤔. It creates some indirection.
How can I reproduce the class name collision?

[2019-03-04 22:23] bhldev opened #14740 "Drawer Elevation doesn't work when paper class is defined"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Drawer with an elevation of 1 has a 1dp elevation for the underlying paper when paper is is defined in classes

## Current Behavior 😯
Drawer with an elevation of 1 has no elevation for the underlying p

[2019-03-04 22:42] don-p opened #14742 "material-ui/core Select doesn't render with empty array as value"
When using `multiple` in a Select component, the value is an Array.  When there are no items selected, this results in an empty array.  However, the `renderValue()` function is not execute in this case when the current value is an empty array.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this

[2019-03-04 22:43] oliviertassinari commented on #14740
@bhldev Have you tried?
[code]

[2019-03-04 22:44] oliviertassinari commented on #14742
@don-p Have you tried with `displayEmpty={true}`?

[2019-03-04 22:49] oliviertassinari commented on #14712
@CrashCodes We encourage people to reply on box-sizing: border-box already. Yes, it's a breaking change, but a good one.

[2019-03-04 22:51] oliviertassinari commented on #12208
@Shrikant9 Do you think that we could have improved the discoverability of the answer?

[2019-03-04 22:59] don-p commented on #14742
Yes, I did look at that property, as well as some issues related to it - and I tend to agree that the documentation of that property isn't very clear, in terms of making it obvious about what it does or what to expect:
[code]

I've also seen that this is complicated by the following in SelectInput.js:

[code]

I'll look at the displayEmpty to see if it address this use case.

Thanks.

[2019-03-04 23:02] oliviertassinari commented on #13988
@ayubov What feature do you have in mind?

[2019-03-04 23:08] don-p commented on #14742
OK - the `displayEmpty` property does indeed address this case.

I'd suggest considering a bit more descriptive documentation of this, for example:
[code]

[2019-03-04 23:20] oliviertassinari commented on #14519
@stunaz I have tried to provide a more detailed answer on Spectrum.

[2019-03-04 23:22] oliviertassinari commented on #14742
@don-p We would be happy to accept a better property description! Do you want to submit one? :)

[2019-03-05 00:18] jedwards1211 commented on #11539
@oliviertassinari does `ListItem` no longer use this?  It seems like it use to use it, but now I don't see any `@media` query in the `ListItemgutters` class.  Debatably a breaking change...I was using `theme.mixins.gutters` all over the place to align text fields and other things with the content of `ListItems`, and now it's not working...

[2019-03-05 02:06] richardaum commented on #240
Is there any way to replace the ripple effect for something on CSS, globally?

[2019-03-05 02:23] plute10 commented on #5674
Make sure there is no blank space between <SelectField>and</SelectField>
In my case, I had `Uncaught TypeError: Cannot read property 'value' of undefined File DropDownMenu.js Line: 339.` this error
when I write

                fullWidth={true}
                value={extraField}
                onChange={this.handleAddPartition}
                maxHeight={200}

            </SelectField>

After I

[2019-03-05 02:25] Yzrsah commented on #14721
@oliviertassinari Can you please re-open the issue?

It is definitely not working. It shows the same flickering on multiple machines. I tested on a different dev setup.

[2019-03-05 02:29] Yzrsah commented on #14721
@oliviertassinari Can you please re-open the issue?

It is definitely not working. It shows the same flickering on multiple machines/browsers
I re-tested on a different dev setup and different machines.

@oliviertassinari If it's working for you, then can you please post the *working* reproduction?

It flickers for me in all reproductions, so I am not sure how it's possible that it works for you.

[2019-03-05 02:30] Yzrsah commented on #14721
@oliviertassinari Can you please re-open the issue?

It is definitely not working. It shows the same flickering on multiple machines/browsers
I re-tested on a different dev setup and different machines.

If it's working for you, then can you please post the *working* reproduction?
It flickers for me in all reproductions, so I am not sure how it works for you.

[2019-03-05 02:36] Yzrsah commented on #14721
@oliviertassinari Can you please re-open the issue?

It is definitely not working. It shows the same flickering on multiple machines/browsers. I re-tested on a different dev setup and different machines.

[2019-03-05 02:45] Yzrsah commented on #14721
@oliviertassinari Can you please re-open the issue?

It is definitely not working. It shows the same flickering on multiple machines/browsers. I re-tested on a different dev setup and different machines.

@joshwooding What results do you see?

[2019-03-05 05:31] ayubov commented on #13988
I mean make it work properly on firefox, maybe with copyPaste prop, or something like that.

[2019-03-05 05:52] andsmi97 opened #14744 "CardMedia onClick/Drag completely blacked out"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

  Card shouldn't be blacked out like in first card media example
## Current Behavior 😯

This gifs shows what happens
http://g.recordit.co/07Drw3SIVh.gif
## Steps to Reproduce 🕹
Second example in media

[2019-03-05 07:17] eps1lon commented on #14721
@Yzrsah Could you create a repro that we could clone and test locally? This would help a lot.

[2019-03-05 07:17] joshwooding commented on #14721
I’ll have a look when I get some free time (probably the evening)

[2019-03-05 07:19] eps1lon commented on #14744
Looks like a duplicate of #7537

@andsmi97 What OS are you using? I'm not able to drag the image with the same chrome version on ubuntu 18.04.

[2019-03-05 07:45] eps1lon commented on #3155
See #14735 for a possible solution that is already achievable. We're somewhat open to review a solution that only requires using a prop. However it's unlikely that we'll accept a dynamic solution that has built-in overflow detection unless it has a small bundle footprint. The current solution with using `Divider` doesn't bloat the bundle of everyone and is IMO preferred. If we want to increase the

[2019-03-05 08:29] Studio384 commented on #14731
I can't reproduce it either, I assume that this might just have been an error while installing the various node packages or something (although I've tried it multiple times).

[2019-03-05 08:29] #14731 closed

[2019-03-05 09:06] ugolb opened #14746 "Different languages on the same page"
Texts are on a different languages on the same in the same time.
![tempsnip](https://user-images.githubusercontent.com/14921564/53793509-58100080-3f2e-11e9-8f01-54a0d7dbcc50.png)

[2019-03-05 09:48] oliviertassinari commented on #14746
What URL are you browsing? We should have fixed the issue with https://next.material-ui.com.

[2019-03-05 09:48] #14707 closed

[2019-03-05 09:54] ugolb commented on #14746
I use this url https://material-ui.com/system/sizing/ in google chrome

[image: image.png]
_____________________________
Best regards, Yevhen Nahirnyi;
Java Developer;
Skype: eugen.nagirnij;
Mobile: +48736809618;
Email: eugen.nagirnij@gmail.com; <eugen.nagirnij@gmail.com>

On Tue, 5 Mar 2019 at 10:49, Olivier Tassinari <notifications@github.com>
wrote:

[2019-03-05 10:11] oliviertassinari commented on #14744
I'm closing as a duplicate of #13450.

[2019-03-05 10:11] #14744 closed

[2019-03-05 10:13] oliviertassinari commented on #14746
Thanks you. I'm fixing the problem. It won't take me more than 5 minutes.

[2019-03-05 10:57] oliviertassinari commented on #14746
The issue was fixed with 5c474e8eaaa70f449f0054f1db7e698df6412a6f. It's live.

[2019-03-05 10:57] #14746 closed

[2019-03-05 11:01] ugolb commented on #14746
Thanks a lot for support

вт, 5 мар. 2019 г., 11:57 Olivier Tassinari <notifications@github.com>:

[2019-03-05 12:04] oliviertassinari commented on #14721
@Yzrsah Your Next.js integration must be wrong. I have used your reproduction instructions with our /nextjs-next example, no problem. Do you have a video of the flickering? Maybe it's just how the brower loads the web font: #14296.

[2019-03-05 12:06] #14740 closed

[2019-03-05 12:09] Jack-Works commented on #14624
It's not a general implementation. And also not a replacement for the current withStyles (because it's breaking existing code)

[2019-03-05 12:21] oliviertassinari commented on #240
@richardaum I'm not sure to understand your objective. But yeah, you can customize the button-base, globally. You have multiple options. I would try them in the following order:
- Use the `theme.overrides.MuiButtonBase.root` feature.
- Change the CSS class name generation to output deterministic class names.
- Wrap all the button components.

[2019-03-05 12:26] oliviertassinari commented on #11539
What do you guys think of killing the `theme.mixins.gutters` method? I have never found a use case for it, working on different Material-UI applications. What are you guys using it for? Could the Container component replace it? https://next.material-ui.com/lab/layout/#container

[2019-03-05 12:39] QzSG commented on #11539
A quick code search on GitHub lists lots of existing MUI sites using `theme.mixins.gutters` for responsive left and right padding (gutters) between desktop and mobile screens. Not sure if official documentation were ever added for the gutters mixin, but the fact that thousands (44k on a rough search albeit most should no longer be maintained) of repositories are using the same mixin in their exist

[2019-03-05 13:09] kakadiadarpan commented on #14709
@oliviertassinari @liesislukas This is an open issue in `Gatsby` as well: gatsbyjs/gatsby#8560

[2019-03-05 13:13] oliviertassinari commented on #14736
@faliye Thank you for opening this issue. It's not easy to get feedback like this one given the language barrier, the people the most impacted are the one that can't raise the concern. Could you add a Chinese variant to the issue title & description? Thank you.

So, in order to get a great user experience, we need to perform the following change, by order of importance:
1. Translate  the left menu

[2019-03-05 13:26] #14702 closed

[2019-03-05 13:41] eps1lon commented on #9526
Could only detect differences in the border color for outlined buttons (they don't seem to depend on the color variant). This should probably be tackled once states are properly implemented. They're currently not consistent.

[2019-03-05 13:51] mfazer opened #14748 "TypeScript ThemeOptions interface for overrides has issue with &$disabled, &$selected, etc."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Clear console in Chrome Dev Tools due to Material-UI warnings related to wrong (?) overrides.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/17722512/53804183-20fa1900-3f47-1

[2019-03-05 14:01] eps1lon commented on #14748
Could you please fix the runtime warnings first? Might be that the typings are correct.

[2019-03-05 14:45] IoHL commented on #14711
I think it's a dupplicate of #11281. So we can close this issue.

[2019-03-05 14:56] Shrikant9 commented on #12208
In my opinion, having more diverse versions of demos on the demo page of `<Select />` component. Although honestly, I've recently started using material-ui so still need to get used to the docs.

[2019-03-05 15:02] oliviertassinari commented on #12208
@Shrikant9 We would be happy to accept a pull request 👍.

[2019-03-05 15:36] VincentLanglet commented on #14608
Using patch-package (or making a PR) is a solution with :

node_modules/@material-ui/core/styles/createGenerateClassName.d.ts
[code]

node_modules/@material-ui/core/styles/jssPreset.d.ts
[code]

node_modules/@material-ui/core/styles/withStyles.d.ts
[code]

[2019-03-05 16:07] sehcheese commented on #14021
Any timeframe on a fix for this? Thanks for your work!

[2019-03-05 16:12] mfazer commented on #14748
Beside those ``Warning: Material-UI...`` stuff, I've got no other console errors or warnings.
But, I've checked the **.d.ts** files too, and here is the result:

**\node_modules\@material-ui\core\styles[\createMuiTheme.d.ts](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/styles/createMuiTheme.d.ts)** for **ThemeOptions** interface:
[code]
**\node_modules\@material-ui\cor

[2019-03-05 16:41] VincentLanglet commented on #14416
I have a similar issue and I'm not sure to understand what I did wrong.
The "red" primary color is not used anymore.

Before
[code]

After
[code]

Before
[code]

After
[code]

[2019-03-05 16:45] eps1lon commented on #14748
The code from `Steps to reproduce` does not cause a typescript error for. It is however not matching the warnings in your console. Please provide a minimal reproducible example.

[2019-03-05 18:19] jedwards1211 opened #14751 "Support an API for matching the gutters of lists"
In my app I have a lot of views with `<List>`s and other components inside of a `<Paper>` component.

[Example Sandbox](https://codesandbox.io/s/p9lwo3q527)

I need to make the gutters around the other components always match the gutters of the `<List>`, like this:

![image](https://user-images.githubusercontent.com/1448194/53826765-15a2ef80-3f3f-11e9-9eca-48590c72e567.png)

I originally solved th

[2019-03-05 18:40] jedwards1211 commented on #11539
I created a demonstration of why I was using `theme.mixins.gutters` in #14751 (recent changes to `ListItem` gutters made my usage obsolete)

[2019-03-05 18:44] eps1lon commented on #14751
The alignment was accidental previously. They have a fixed padding that is not responsive. I don't know how we should communicate what padding/margin is supposed to be responsive.

Suggested fix: https://codesandbox.io/s/5wz8m782kp

Just to clarify: This was considered a bug fix since we didn't follow the material design guidelines.

If we can identify that the spec was changed we should only chan

[2019-03-05 18:51] Ognian commented on #14732
OK just for everyone having the same issue and searching for a solution:
use TextField with a custom ```inputComponent``` ContentEditable from https://github.com/lovasoa/react-contenteditable

[2019-03-05 19:23] jedwards1211 commented on #14751
I see this "bug fix" as a different situation than fixing a glitch that is causing people's apps to not work.  In this case people's apps weren't matching the arbitrary guidelines, but their apps' layout was at least self-consistent.  They probably coded their layout according to the behavior of this library rather than the design guidelines.  So I question whether a noncompliance with the guideli

[2019-03-05 19:29] jedwards1211 commented on #14751
I think I will probably solve this in my project by simply overriding `theme.mixins.gutters()` to be fixed to `16px` everywhere, in case any other components in this project use responsive padding (I wonder if default table padding in this project still matches default list padding in this project at all screen sizes?)

[2019-03-05 19:43] jedwards1211 opened #14752 "Lists and Tables don't have same horizontal padding"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

### This is a v3 issue only, it is fixed in `next`

Feel free to close this, I just thought I'd point it out in case no one had thought about whether alignment of List and Table content should be desirable.

## Expected Beha

[2019-03-05 19:51] eps1lon commented on #14752
Looks like it should be 16px as well: https://material.io/design/components/data-tables.html#specs

12px seems to be the right margin of the checkbox.

[2019-03-05 19:53] kgregory commented on #14751
The default behavior is to adhere to the [Material Design specification](https://material.io/design/components/lists.html#specs).  This component was not doing that.  [Instead, it was producing an incorrect result and was behaving in unintended ways](https://en.wikipedia.org/wiki/Software_bug).

I don't think this is a good approach.  You should eliminate inappropriate use of the mixin and apply a

[2019-03-05 20:09] jedwards1211 commented on #14751
@kgregory but to match components that have a responsive padding?  How else can I make it so that I never have to worry about horizontal padding again but for everything to use the same horizontal padding?

[2019-03-05 20:11] jedwards1211 commented on #14752
ah good, that makes things easier for all of us

[2019-03-05 20:14] jedwards1211 commented on #14752
I'd like to reiterate that as a kindness to developers who are already using a padding of 24px in components above and below a table in their app, I encourage you to postpone releasing a fix for this until v4.

[2019-03-05 20:28] eps1lon commented on #14752
`master` is currently for important bug fixes only anyway.

[2019-03-05 20:29] jedwards1211 commented on #14752
@eps1lon the checkbox's own padding of 12px is causing it not to match the spec:
![image](https://user-images.githubusercontent.com/1448194/53835197-7f78c480-3f52-11e9-83fb-b10bfd75b545.png)
Currently `TableCell` has
[code]
Do you think this would be better?
[code]

[2019-03-05 20:32] joshwooding commented on #14416
@VincentLanglet Are you performing the bootstrap step? https://material-ui.com/css-in-js/basics/#migration-for-material-ui-core-users

[2019-03-05 20:33] jedwards1211 commented on #14752
Another awkward thing is that the `Toolbar` used above the `Table` in the demos has a horizontal padding of 24px.  How do you think we should solve this?
![image](https://user-images.githubusercontent.com/1448194/53835615-95d35000-3f53-11e9-8aa0-f5dc3d1f1736.png)

[2019-03-05 20:41] eps1lon commented on #14752
https://material.io/design/components/data-tables.html#specs: The very first table uses this toolbar. The spec is actually pretty good for tables. Not much ambiguity here as far as I can tell.

Let's discuss this in a PR with actual code. My capabilities are pretty limited without devtools.

[2019-03-05 21:06] jedwards1211 commented on #14752
Yeah the spec is good, what I mean is, the horizontal padding of 24px used by the `Toolbar` component in this project isn't compatible with the padding shown in those specs, and I don't see anything about sizing of a "Toolbar" component in the sidebar of the specs page.  So should we change the horizontal padding of the `Toolbar` in this project to 16px or?
I assume we should because the `AppBar`

[2019-03-05 21:08] jedwards1211 commented on #14752
I can make changes to `Toolbar` in my PR as well, it just seems like this issue actually has a bigger scope than just `Table`s...

[2019-03-05 21:17] jedwards1211 commented on #14752
@eps1lon now that I look at the `next` branch, a lot of the stuff in tables has already been fixed.  However, `Toolbar` is still using `theme.margins.gutters()`, so I can make that fix.

[2019-03-05 22:06] MrStafford commented on #14416
Hey folks, thanks for your work on this project. I am having the exact same issue. With ThemeProvider the theme doesn't seem to be applied. I am definitely doing the bootstrap step.

With MuiThemeProvider the theme is applied but the makeStyles function does not get the Theme object. makeStyles does get it with ThemeProvider.

[2019-03-05 22:49] joshwooding commented on #14416
@MrStafford makeStyles is part of @material-ui/styles, therefore it is only intended to work with the ThemeProvider.

[2019-03-05 22:52] MrStafford commented on #14416
@joshwooding yep :). I was explaining my situation, I should have been more clear. I think the specific problem is with ThemeProvider not applying the theme whereas if I use MuiThemeProvider it works fine.

[2019-03-05 22:54] joshwooding commented on #14416
@MrStafford Do you have a reproduction I can have a look at?

[2019-03-05 23:11] MrStafford commented on #14416
@joshwooding I believe the following codesandbox displays the issue. If you change ThemeProvider to MuiThemeProvider it will change the background color to dark.

https://codesandbox.io/s/q9lmro76y4?fontsize=14

[2019-03-05 23:24] joshwooding commented on #14416
@MrStafford When I view your codesandbox I get the dark background straight away (using the ThemeProvider)

[2019-03-05 23:27] MrStafford commented on #14416
@joshwooding you are right. When i remove, save and then re-add import "./bootstrap"; it breaks again.

[2019-03-05 23:31] MrStafford commented on #14416
@joshwooding figured it out. the import "./bootstrap"; must be the very top import of the index.js. i.e.
[code]

instead of

[code]

Thank you for your help.

[2019-03-05 23:31] joshwooding commented on #14416
@MrStafford Your bootstrap is being imported after your App, it should be before

Looks like you beat me to it :)

[2019-03-05 23:32] oliviertassinari commented on #14732
@Ognian Thank you for sharing a solution :)

[2019-03-05 23:58] jedwards1211 commented on #11539
@oliviertassinari I think you're right, it would be better if we get rid of `theme.mixins.gutters`.  It's not being used in many places in the `next` branch anymore anyway.  Do you think I should get rid of it in #14754?

[2019-03-06 00:47] Ameobea commented on #13006
We're still seeing this issue.  I've had to set up custom behavior (showing the content on hover rather than on click) if that `document.documentElement.ontouchstart` prop exists) in order to work around this for some users.

[2019-03-06 03:31] ryancogswell opened #14756 "MenuList integration tests have dependencies on instance methods"
The MenuList integration tests currently have dependencies on three different instance methods: `focus`, `setTabIndex`, and `resetTabIndex`. The `focus` method appears to have been added to MenuList purely for testing reasons and can be fully removed once the test is no longer dependent on it. The other two instance methods were being used to force a condition to get to 100% test coverage, but it

[2019-03-06 04:09] stunaz commented on #14519
Thanks @oliviertassinari a bit more clear :-)

[2019-03-06 05:02] faliye commented on #14736
@oliviertassinari Very glad

[2019-03-06 08:29] newsiberian opened #14759 "[styles]Dynamic styles and fallbacks as dynamic style"
Hi, I'm not sure is that a mui or jss bug. I tried to implement a webp background with fallback to jpeg, but faced with incorrect styles transformation. See below.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

## Current Behavior 😯

this code:
!

[2019-03-06 08:35] #14759 closed

[2019-03-06 08:46] Yzrsah opened #14760 "Improve CONTRIBUTING.md"
If we can make it easier to contribute to Material-UI, then it could help the project with more contributions.

- There is no web page with reproducible steps for making a working dev setup.
- `CONTRIBUTING.md` has incomplete information for making a `link`-able dev setup, only making reference to tell you that you should use `yarn link`.
- The material-ui workspace does not have scripts to produc

[2019-03-06 08:59] atuljustano commented on #10571
have any idea about this error
Module not found: Can't resolve '@material-ui/core/Grid' in 'E:\Material Ui\firstapp\src'
:(

[2019-03-06 09:14] eps1lon commented on #14760
You mean testing changes to this package in your app? That's be nice I agree. The whole build infrastructure would do good with an overhaul

Of course not. However contributions should primarily be tested in this package. We will not accept changes that were only tested in your code. Personally I didn't have issues with linking packages.

We have a section about this: https://github.com/mui-org/ma

[2019-03-06 09:18] eps1lon commented on #10571
@atuljustano Please open a separate issue and fill out the template.

[2019-03-06 09:23] Yzrsah commented on #14760
Yes I did follow those steps on that page - but I had to add extra steps.

The `pushd foo`/`popd` is just like `cd foo` and `cd ..` in this case

[2019-03-06 09:23] eps1lon opened #14761 "RE: RFC: createElement changes"
This is a premature tracking issue for changes in #107 that would affect this repository. Don't actually allocate time to this issue. Just something you might want to keep in the back of you head.

# defaultProps and function components

- need to investigate implications for `react-docgen`
- assuming we stick with not destructuring props in the function signature
[code]
Looks doable for static an

[2019-03-06 09:23] Yzrsah commented on #14760
Yes I did follow those steps from that page - but I had to add extra steps.

The `pushd foo` and `popd` is just like `cd foo` and `cd ..` in this case

[2019-03-06 09:25] Yzrsah commented on #14760
Yes I did follow those steps from that page - but I had to add extra steps to resolve linkage across dependencies.

The `pushd foo` and `popd` is just like `cd foo` and `cd ..` in this case

[2019-03-06 09:26] eps1lon commented on #14760
Well if our steps are working and your steps not and I don't know how your dev server works how am I supposed to help you?

[2019-03-06 09:45] Yzrsah commented on #14760
The steps listed on that page produce this error with the `create-react-app-next` example:

[code]

[2019-03-06 09:47] Yzrsah commented on #14760
The steps listed on that page produce this error when you use the `link` in the `create-react-app-next` example:

[code]

[2019-03-06 09:47] Yzrsah commented on #14760
The steps listed on that page produce this error when you use the `yarn link @material-ui/core` in the `create-react-app-next` example:

[code]

[2019-03-06 10:05] Hocdoc commented on #11653
I use the `viewbox` of the `SvgIcon` to align the margin:
[code]

[2019-03-06 10:26] Yzrsah commented on #14760
The steps listed in `CONTRIBUTING.md` produce this error when you use `yarn link @material-ui/core` in the `create-react-app-next` example:

[code]

[code]

And in the NextJs example:

[code]

Failed
[code]

[2019-03-06 10:33] Yzrsah commented on #14760
The steps listed in `CONTRIBUTING.md` produce this error when you use `yarn link @material-ui/core` in the `create-react-app-next` example:

[code]

[code]

And in the `nextjs-next` example:

[code]

Failed
[code]

[2019-03-06 12:00] fatso83 opened #14762 "[docs] /versions page rate limited issue with GitHub API"
The [versions page](https://material-ui.com/versions/) of the docs does not work. It is caused by a 403 to the Github API, followed by some shoddy error handling.
[code]

We are on version 1.0 of MUI, so the newest docs doesn't work that well for us ...

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe

[2019-03-06 12:45] oliviertassinari commented on #14762
@fatso83 You might have been rate-limited. We are happy to accept a pull request to handle the fetched network request error.

[2019-03-06 12:47] felixnielsen opened #14763 "Remove JSS v9 @keyframes styles"
Hi

I am trying to use the makeStyles api, which seems to work great for most cases.

But when I use @keyframes the keyframe name gets scrabbled along side the other style names.
so referring to my keyframe name via animation does not work as the keyframe name has been scrabbled.

## Expected Behavior 🤔
![image](https://user-images.githubusercontent.com/157148/53881410-ed38f500-4013-11e9-8eeb-6915

[2019-03-06 13:04] fatso83 commented on #14762
Well, the handling is something else, but a few minutes after you commented the page is mysteriously back up again, which points to you being right the rate limiting (either that or someone did some magic in the background :smile_cat:).

Since this issue changed, I'm updating the title to reflect it and I'll see if I can smack together a working fix and test (using `nise`,`fake-fetch` or whatever)

[2019-03-06 13:17] #14416 closed

[2019-03-06 13:17] #14698 closed

[2019-03-06 13:22] VincentLanglet commented on #14763
Does this help you ? https://github.com/mui-org/material-ui/issues/14066

Use
[code]

[2019-03-06 13:23] oliviertassinari commented on #14763
@felixnielsen Thank you for the reminder, I had forgotten about:
https://github.com/mui-org/material-ui/blob/617c095262b02a79d59705535d4b89ed58f6fde2/packages/material-ui/src/ButtonBase/TouchRipple.js#L60-L63

The keyframes behavior has change between JSS v9 and v10: https://cssinjs.org/jss-syntax/?v=v10.0.0-alpha.12#keyframes-animation. We should remove the old logic in the core of Material-UI :)

[2019-03-06 13:25] fatso83 opened #14765 "Docs: wrong anchor link used for CSS API"
Basically, all the components have links to the [CSS API](https://material-ui.com/api/input/#css-api) for the component, where the anchor part is `#css-api`. This doesn't correlate with the actual anchor link, whose name is `#css`.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹

[2019-03-06 13:28] VincentLanglet opened #14766 "[ForwardRef in snapshot"
When I upgrade to `@material-ui/core` 4 and start using `@material-ui/styles`, every snapshots failed.
[code]

The code didn't change at all.
[code]

Is it normal ? Can we do something about it ? I think the `ForwardRef` in the snapshot add useless complexity.

I even have sometime have both `WithStyle` and `ForwardRef` appearing in the snapshot since the update.
[code]

[2019-03-06 13:44] eps1lon commented on #14766
That is an inherent flaw with snapshot testing. If you serialize your snapshot with implementation details (or test them in general) they can fail at any time.

Depends. They do change the API of the component. They're only useless if you don't care about refs.

[2019-03-06 13:49] dmtrKovalenko commented on #14734
I have created a repo with reproduction. [Here](https://github.com/dmtrKovalenko/material-ui-styledBy-issue/blob/master/src/App.js). Here in production generating classname `.jss1` which is really weird. For me on the real app such classname conflicts with random one. And some elements gets different styles.
If it leveraged material-ui classname generate function it would generate something like -

[2019-03-06 13:49] VincentLanglet commented on #14766
@eps1lon So If I correctly understand, you changed the implementation of all MaterialUi Component and add `ForwardRef` to every one, that's why I see this now in the snapshot ?

Thanks for your answer

[2019-03-06 13:50] eps1lon commented on #14582
@ssypi This was released with `@material-ui/core@4.0.0-alpha.2`. Could you please verify if this is working for you?

[2019-03-06 13:57] ssypi commented on #14582
Thank you, I will let you know by monday, I’m currently on a vacation trip.

[2019-03-06 13:59] eps1lon commented on #14766
Yes. It wasn't tagged as a breaking change in the release notes though. The PR properly marked itself as breaking though. Will fix that.

It's hard to recommend a silver bullet to snapshot testing with 3rd party libraries. Depending on your test it's probably best to serialize them shallow with the name  of the identifier i.e. if you import it as `MuiPaper` it should be serialized with that name i

[2019-03-06 14:08] nllsdfx opened #14768 "Input "required" message is fired endlessly on clicking out and in"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Required message behaviour should be the same as for standart html input.

## Current Behavior 😯

Required is fired whenever I click inside or outside input after submittin a form.

## Steps to Reprod

[2019-03-06 14:09] VincentLanglet opened #14769 "[Material-ui 4] buttonRef is not typed as a props anymore"
I followed this tutorial: https://material-ui.com/demos/autocomplete/#react-select

With especially this code
[code]

But since I updated `@material-ui/core` to version 4, I have an error.
`buttonRef` is not recognize as a MenuItem props anymore.

The change was made here https://github.com/mui-org/material-ui/commit/54f9a33b279fbd999a2e87e24b1ec6f7420242e2#diff-a242e1d972e33ce7b57d1b3296de00aa I

[2019-03-06 14:14] oliviertassinari commented on #14765
@fatso83 This bug was fixed in https://next.material-ui.com by #14554.

[2019-03-06 14:14] #14765 closed

[2019-03-06 14:20] oliviertassinari commented on #14763
@felixnielsen To be more specific, we need to perform the following changes in the codebase:
[code]

If you have some time to help us, we would love to review a pull request :).

[2019-03-06 14:24] oliviertassinari commented on #14768
@nllsdfx Material-UI input is as close as possible to its native counterpart. You would get the same behavior with a native `<input>` element.
You can disable the form validation with:
[code]

Please submit support requests and questions to StackOverflow using the tag [material-ui](http://stackoverflow.com/tags/material-ui) next time. StackOverflow is better suited for this kind of support. The is

[2019-03-06 14:24] #14768 closed, assigned to nobody

[2019-03-06 15:03] nllsdfx commented on #14768
@oliviertassinari
I've updated my example. There I've added native input and button to show you the difference.

`noValidate` completely disables any form validation and I can't realize how it relates to the described problem.

[2019-03-06 15:20] VincentLanglet commented on #14769
@eps1lon If I understand correctly all this generic types, it seems easy to fix. I make a PR for this.

[2019-03-06 15:55] bbarnell opened #14773 "Create a version of index.d.ts that works with the Material-UI CDN"
Version 0.21 of the typescript definitions file is the latest version of the typescript definitions file that works with Material-UI CDN

- [x ] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

index.d.ts should compile without errors in Visual Studio wh

[2019-03-06 18:46] oliviertassinari commented on #14768
@nllsdfx What's the difference?

![mar-06-2019 19-45-12](https://user-images.githubusercontent.com/3165635/53905284-74a05b80-4048-11e9-9493-9f8dc3487858.gif)

[2019-03-06 19:06] oliviertassinari commented on #14768
@nllsdfx You are right, the issue comes from this line:
https://github.com/mui-org/material-ui/blob/7a49f80111e1b30a28fb442ff69db3fab1b721fe/packages/material-ui/src/InputBase/InputBase.js#L208
Commenting it solves the problem. It's probably a React issue. I can't think of a better answer than this workaround:
[code]

https://codesandbox.io/s/z3yjj8p874

[2019-03-06 19:14] ChrisWiles opened #14774 "[docs] Demo site crashes when viewing component demos on IE 11"
Problem description
demo site crashes when viewing component demos on IE 11

Steps to reproduce
Open demo site in IE 11 and route to /demos/:demo

Stack Trace
"TypeError: [object Object] is not iterable!

[2019-03-06 19:33] eps1lon commented on #14774
On https://material-ui.com/ ? I think was fixed with #14466 and should be fixed on https://next.material-ui.com/.

[2019-03-06 19:39] ChrisWiles commented on #14774
Yes, https://material-ui.com/demos/app-bar/ crashes I tried https://next.material-ui.com/ and it crashes also

[2019-03-06 19:57] #14766 closed

[2019-03-06 21:54] oliviertassinari commented on #14766
@VincentLanglet We have a Jest issue focusing on improving the snapshot support: #14357. Do you think that you would be able to share the solution there?

[2019-03-06 22:12] fatso83 commented on #14765
A bit confusing that something was fixed 2 weeks ago, but still present, but then I realized it means doc fixes are not back-ported. Which is fine, I just didn't understand it at first.

[2019-03-06 22:20] oliviertassinari commented on #14774
We have the same issue with https://nextjs.org/. Next.js v8 breaks IE 11 support: https://github.com/zeit/next.js/issues/6551.

[2019-03-06 22:21] oliviertassinari commented on #14765
@fatso83 v3.9.2 might be the last release of v3. We are full steam on v4 now.

[2019-03-06 23:25] mbrookes commented on #10571
@atuljustano Please don't. We GitHub issues exclusively to track bugs and feature requests. Please use  StackOverflow or spectrum.chat instead. There is a StackOverflow tag called "material-ui" that you can use to tag your questions. Thanks!

[2019-03-06 23:51] oliviertassinari commented on #14773
@bbarnell What exactly are you referring to?

[2019-03-06 23:54] VincentLanglet commented on #14357
Don't know if it can help @oliviertassinari

I actually use this mock
[code]

This way I have snapshot like this one
[code]

I prefer having the css properties instead of a classname to detect UI regressions.

With the v4 I now use this mock
[code]

[2019-03-06 23:58] oliviertassinari commented on #14357
@VincentLanglet Thanks, it helps.

[2019-03-07 01:02] bbarnell commented on #14773
@oliviertassinari - The 0.21 version of the typescript definitions is something I found on the Internet years ago and I have been using it ever since.  It still somewhat works with the latest version of MUI.

[2019-03-07 01:09] bbarnell commented on #14773
@oliviertassinari - Here is a snippet of the old typescript definition that still works with the latest CDN:

// Type definitions for material-ui 0.21
// Project: https://github.com/callemall/material-ui
// Definitions by: Nathan Brown <https://github.com/ngbrown>
//                 Igor Beagorudsky <https://github.com/theigor>
//                 Ali Taheri Moghaddar <https://github.com/alitaheri>

[2019-03-07 05:51] vasanthkumar97 commented on #14685
IT helped Thanks

[2019-03-07 07:08] eps1lon commented on #14773
These are unmaintained and for 0.x. The latest CDN is for 3.x. The up-to-date- typings are bundled with the package.

[2019-03-07 08:06] oliviertassinari commented on #14773
We publish an UMD bundle for quick prototyping. If you are using TypeScript, you probably want to do something that can pass the test of time. In this case, use the ESM or CJS modules.

[2019-03-07 08:06] #14773 closed

[2019-03-07 08:08] Yzrsah commented on #14760
My steps were your steps. You said to link, so I followed those instructions and then copy+pasted the commands.

It links core, styles, system, and utils from branch next.

Your steps are working only for older versions of Material-UI, not using Next branch with Next Examples on a HEAD dev setup

Did anyone try the scripts?

The reason the scripts use `curl` to download examples and create a fresh

[2019-03-07 08:09] Yzrsah commented on #14760
My steps were your steps. You said to link, so I followed those instructions and then copy+pasted the resulting commands.

It links core, styles, system, and utils from branch next.

Your steps are working only for older versions of Material-UI, not using Next branch with Next Examples on a HEAD dev setup

Did anyone try the scripts?

The reason the scripts use `curl` to download examples and crea

[2019-03-07 08:10] Yzrsah commented on #14760
@eps1lon

My steps were your steps. You said to link, so I followed those instructions and then copy+pasted the resulting commands.

It links core, styles, system, and utils from branch next.

Your steps are working only for older versions of Material-UI, not using Next branch with Next Examples on a HEAD dev setup

Did anyone try the scripts?

The reason the scripts use `curl` to download example

[2019-03-07 08:15] Yzrsah commented on #14760
@eps1lon

My steps are your steps. You said to link, so I followed those instructions and then copy+pasted the resulting commands.

It links core, styles, system, and utils from branch next.

Your steps are working only for older versions of Material-UI, not using Next branch with Next Examples on a HEAD dev setup

Did anyone try the scripts?

The reason the scripts use `curl` to download examples

[2019-03-07 08:22] Yzrsah commented on #14760
@eps1lon

My steps are your steps. You said to link, so I followed those instructions and then copy+pasted the resulting commands.

It links core, styles, system, and utils from branch next.

The steps implied in `CONTRIBUTING.md` are working only for older versions of Material-UI, not using Next branch with Next Examples on a HEAD dev setup

Did anyone try the scripts?

The reason the scripts use

[2019-03-07 08:40] daniel-rabe opened #14777 "[DialogContent] TextField variant outlined"
In a simple Dialog with DialogTitle and DialogContent the label of the TextField is cut off.

https://codesandbox.io/s/38y9wn6w01?fontsize=14

![image](https://user-images.githubusercontent.com/4725895/53943288-12357280-40bd-11e9-80c4-79848c598ae3.png)

[2019-03-07 09:56] achikin commented on #9186
@JoeDuncko please try my solution.

[2019-03-07 10:19] ffjanhoeck opened #14778 "onChange in TextField as select produces corrupt event"
Hey,

if the TextField Component is marked as **select** and a **onChange** function is provided, than the event in the onChange event seems to be broken. If you inspect event.target then it is a object with just two keys: event and name. Would be nice to get the native input element.

Reproducable example: https://codesandbox.io/s/32nlqj66m5

Is there a workaround to get the input target in the o

[2019-03-07 10:36] oliviertassinari commented on #14774
The last working version with IE 11 is https://v3-9-0.material-ui.com/.

[2019-03-07 10:37] #14778 closed

[2019-03-07 10:40] oliviertassinari commented on #14778
@ffjanhoeck Yes, it's a tradeoff with the non-native implementation of the Select component? The change event is simulated: https://github.com/mui-org/material-ui/blob/7c3a0168800812ce3c90c06dcb55daa9d65900a7/packages/material-ui/src/Select/SelectInput.js#L106

[2019-03-07 10:56] oliviertassinari commented on #14777
I think that we should be able to solve this issue and #3155, #14735 at the same time. We need to reword the padding strategy.

[2019-03-07 12:27] affanshahid opened #14780 "Grid spacing in one direction"
I am trying to use a `row` Grid. I want spacing between the items in only the x-axis (similar to grid-gap in css). Is there a way to achieve this? i.e spacing in just one axis.

[2019-03-07 13:22] felixnielsen commented on #14763
@VincentLanglet this works👍🏻thanks
@oliviertassinari let's see if time allows, would love to contribute.

[2019-03-07 14:07] oliviertassinari commented on #14763
@felixnielsen Anytime you want, we can release v4 without it but it's a code debt we should clear :).

[2019-03-07 14:24] oliviertassinari commented on #14780
@affanshahid What about using one grid container per row?

[2019-03-07 15:35] Anugraha123 opened #14782 "Select popover is displaying in wrong position while using React.lazy"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
 It should be popup in right position .

## Current Behavior 😯
Not displaying select popup in right position at first click while using React.lazy. It can only be reproduce in first click.

Please chec

[2019-03-07 15:40] oliviertassinari commented on #14752
Have you tried to use the ListItem component directly?

![capture d ecran 2019-03-07 a 00 10 54](https://user-images.githubusercontent.com/3165635/53920459-89dbb100-406d-11e9-920d-2df3de291d2c.png)

[code]

[2019-03-07 15:54] neeschit commented on #14763
Will this help us get core to jss v10?

[2019-03-07 16:09] oliviertassinari commented on #14763
@neeschit We should merge #14767 before handling the problem discussed in this pull request. It's more about removing dead code than getting to JSS v10.

[2019-03-07 17:14] amitsahani06 opened #14783 "When i click on the outside half of the iconButton and somewhere in the middle, i get the id. Where as if i click right in the middle i don't get any id returned from the event as the path portion of the SVG gets clicked i assume."
[code]

/* Click Event */
[code]

[2019-03-07 17:16] jedwards1211 opened #14784 "[Button] Feature request: add edge property for aligning text to parent element padding"
The Material UI spec shows that the the *visually apparent* padding on the left and right of Snackbars should be 16px (ignore for now the fact that the padding in this project needs to be updated from 24px to 16px):

![image](https://user-images.githubusercontent.com/1448194/53975003-870ea980-40c9-11e9-99b9-f3b58e63673e.png)

Since the border of the action button is hidden unless hovered, its *tex

[2019-03-07 17:21] jedwards1211 commented on #14784
@oliviertassinari basically by adding an `edge` prop to `Button`, container elements only have to worry about applying the same padding on both sides, and it will be easier to produce this align-button-text-to-padding behavior anywhere by passing the `edge` prop to `Button`.

[2019-03-07 17:23] jedwards1211 commented on #14784
@oliviertassinari I'd like to reiterate that *I intend this issue to be a `Button` `edge` property proposal*.  Let me open a separate issue for changing the Snackbar padding to 16px.

[2019-03-07 17:24] jedwards1211 opened #14785 "[Snackbar] Update the implementation to match the new specification"
The specification has changed many detail aspects of the snackbar. For instance, you will find different padding values, a different style on mobile, a different default animation, etc. You can find the full specification following this link: https://material.io/design/components/snackbars.html.

![image](https://user-images.githubusercontent.com/1448194/53975904-81b25e80-40cb-11e9-8778-6d094a5d4e

[2019-03-07 17:34] #14783 closed

[2019-03-07 17:34] oliviertassinari commented on #14783
tips: currentTaget.

[2019-03-07 17:35] zwise commented on #13006
Has anyone seen newer Macbooks experiencing this issue in Chrome due to the Touchbar?

[2019-03-07 17:35] zwise commented on #12646
Has anyone seen newer Macbooks experiencing this issue in Chrome due to the Touchbar?

[2019-03-07 17:49] Ameobea commented on #13006
No; I use a macbook with the touchbar at work, but the issue doesn't happen for me.  I think it's due to the fact that my `document.documentElement` doesn't have the `ontouchstart` attribute.

[2019-03-07 18:13] fzaninotto commented on #13663
I'd love an UPGRADE file at the root of the repository listing all the breaking changes in v4, and documenting the upgrade path for existing codebases. The changelog on GitHub is mixing bug fixes and breaking changes, and it's not organized by component, so it's hard to use it to update a codebase.

Note that I really missed that for v1 upgrade, too ;)

[2019-03-07 18:35] eps1lon commented on #13663
@fzaninotto Already covered in #14741.

[2019-03-07 19:14] #14756 closed

[2019-03-07 19:17] #14780 closed

[2019-03-07 19:18] oliviertassinari commented on #14721
Could you provide a simple repository for the reproduction?

[2019-03-07 19:19] oliviertassinari commented on #14645
We have removed the install step. It should work outside of the box in the next alpha release.

[2019-03-07 19:19] #14645 closed

[2019-03-07 19:27] fzaninotto commented on #13663
Sorry, I had missed that one. Thanks!

[2019-03-07 19:31] TroySchmidt opened #14786 "[MaterialUI 4] MenuItem missing component property"
MenuItem missing component property in the TypeScript definitions.

[2019-03-07 19:53] Primerz opened #14787 "Core module doesn't exist"
Core module doesn't exist therefore I can't access "import withMobileDialog from '@material-ui/core/withMobileDialog';

## Expected Behavior 🤔

"import withMobileDialog from "material-ui/core/withMobileDialog";

## Current Behavior 😯

"import withMobileDialog from "material-ui/core/withMobileDialog";"
core doesn't exist as a folder, therefore I am stuck with it

## Steps to Reproduce 🕹
I must impo

[2019-03-07 20:10] TrySound commented on #14787
It's not a folder in package it's scoped package `@material-ui/core`.

[2019-03-07 20:10] TrySound commented on #14787
https://www.npmjs.com/package/@material-ui/core

[2019-03-07 21:47] mviens commented on #12263
Not only is a treeview required for advanced UIs, but it needs to support drag-and-drop as well. This further includes having hooks for accepting or rejecting the drop based on content and position.

[2019-03-07 22:14] joshwooding commented on #14721
It works for me too

[2019-03-07 22:32] #14787 closed

[2019-03-07 23:00] ryancogswell opened #14789 "Possible Demo of Custom Outlined Input"
In [this StackOverflow question](https://stackoverflow.com/questions/55032966/how-can-i-imitate-the-look-of-the-outline-and-label-from-material-uis-outlined/55036265#55036265) the developer had a case of a couple outlined TextFields and then what appears to be a custom color picker. They were trying to imitate the outline/label look of the TextFields with their own CSS but having difficulty.

I su

[2019-03-07 23:39] oliviertassinari commented on #14789
@ryancogswell Thanks for sharing. I don't know. It's not obvious to me.

[2019-03-07 23:51] alexnez96 commented on #5750
@oliviertassinari Thanks for the PoC, but it doesn't work when you have a scrollable list inside the Modal ([example](https://codesandbox.io/s/w2r0nlxjyw)). Works fine in Safari on desktop, but not on iOS. You can't scroll the list at all 😞

[2019-03-08 00:06] ryancogswell commented on #14789
@oliviertassinari If it doesn't jump out to you as something good to include, then StackOverflow is a perfectly good place for it to live. It would take a fair amount of refinement to turn it into a demo that resonates as something more broadly useful.

[2019-03-08 00:06] #14789 closed

[2019-03-08 03:08] briman0094 commented on #783
@younes0 I can confirm that fixes it for me too. In my case, I had a helper stateless component that would return a TextField with a few common props set and then spread the rest of the props onto it, so I didn't have to specify things like `className` or `variant` multiple times on the entire form. My text fields were losing focus as soon as any change was made to the form, and removing the helpe

[2019-03-08 04:28] abrcdf1023 opened #14790 "Want to access Component's propTypes."
Hi all, Recently I try to extend Mui's Button component and I want to extend it's propTypes also.

[code]

However I can only access the HOC's propTypes(withStyles).

<img width="308" alt="2019-03-08 12 13 45" src="https://user-images.githubusercontent.com/12894459/54007225-ae35ab80-419b-11e9-8390-61ed6d28d502.png">

To solve this may be we can export Components? For example

[code]

After that we

[2019-03-08 05:11] Yzrsah commented on #14721
Here is the test repo, https://github.com/Yzrsah/mui-nextjs-next

"This text may be invisible on the background"

[2019-03-08 05:20] juliuscarvajal opened #14791 "Wrapping SpeedDialAction as a high order component"
The SpeedDialAction component does not work as expected when you wrap it with a higher order component.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The SpeedDialAction component should show up

## Current Behavior 😯
The SpeedDialAction componen

[2019-03-08 05:33] juliuscarvajal commented on #14791
Just missed passing the open prop to make the SpeedDialAction controlled. Apologies.

[2019-03-08 05:33] #14791 closed

[2019-03-08 05:47] Yzrsah commented on #14721
@oliviertassinari

By "flickering" I meant: The second render switches back to unthemed.

with NextJS we see a fast initial render using SSR, and then a second render update after props resolved and scripts have finished loading on the client side.

The first render displays with the correct font, colors, and theme.
The second render removes it.

When I add a `<Typography component='div'>` to _app

[2019-03-08 06:33] ffjanhoeck commented on #14778
I have created a generic form validator and it was necessary to use some plain javascript functions, to make the validator as generic as possible. So I had to extend the onchange event and for select fields I had to fire this event manually, because hidden input fields don't have any user events. Because of this, I want to check again the node element in the extended onchange function. This is cur

[2019-03-08 08:12] amitsahani06 commented on #14783
@oliviertassinari  Thank You. It Worked!!

[2019-03-08 08:42] eps1lon opened #14792 "Format markdown files with prettier"
Only code is currently formatted with prettier. Since `prettier` also supports markdown we might as well format those.

Implementation involves:
- add markdown files to https://github.com/mui-org/material-ui/blob/55c4c90b3194e3eb420d34b81fceddb0cb4d8fa7/scripts/prettier.js#L29
- pipe generated docs from `yarn docs:api` through prettier
- ignore i10n markdown files in `docs/src/pages/` (those with

[2019-03-08 09:28] oliviertassinari commented on #14721
@Yzrsah This custom font loading going one. If you the dev tool open with disabled caching, your browser needs to download the font first before it can display it.
You can use #14296 solution if you want to solve that problem.

[2019-03-08 09:28] #14721 closed

[2019-03-08 09:28] kwladyka opened #14793 "third party dynamic classes"
I use tools like https://github.com/Jarzka/stylefy, which are like inline solution. But the difference is it creates dynamic classes instead, so I can use all @media etc. styles.

It makes it very frustrating to use, because material-ui always put material ui classes as first priority. So I have to add almost everywhere `!important`.

## Expected Behavior 🤔
[code]

^ so here I can specify by `<sty

[2019-03-08 10:16] oliviertassinari commented on #14792
@eps1lon As long as the output is compatible with Crowdin, and that it doesn't invalidate too many translations, I'm 💯  for it

[2019-03-08 10:32] oliviertassinari commented on #14793
@kwladyka You can change the CSS injection order with the `insertionPoint` API.

[2019-03-08 10:32] #14793 closed

[2019-03-08 10:37] oliviertassinari commented on #14790
@abrcdf1023 Don't do that. The prop types are not safe to be accessed. They are removed in production. You are wrapping the Material-UI component, you don't need to extend the prop types, they will still validate the props.

[2019-03-08 10:37] #14790 closed

[2019-03-08 10:38] oliviertassinari commented on #14790
There is an example of how you can extend Material-UI component:
https://github.com/mui-org/material-ui/blob/099bc5e01f0bdb38eafa9b97f0b29d0362f8a8eb/docs/src/pages/premium-themes/onepirate/modules/components/Typography.js

[2019-03-08 10:44] VincentLanglet opened #14797 "[Material-UI/Style v4] Possible wrong typing for StyleRules"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
I expect no error from this
[code]

## Current Behavior 😯
I have an error `() => string is not assignable to string`

This is of course correct
[code]

This is also correct
[code]
But differs from the

[2019-03-08 10:52] kwladyka commented on #14793
Thank you.
Here is the link: https://material-ui.com/css-in-js/advanced/#css-injection-order
It is alpha at that moment.

PS I can only add from my point of view it was hard to find this information in documentation without mentioned `insertionPoint`. I can suggest to add info in Installation. Not really sure where, but I didn't find it.

[2019-03-08 10:56] oliviertassinari commented on #14793
Wrong link: https://material-ui.com/guides/interoperability/.

[2019-03-08 10:57] Yzrsah commented on #14721
@oliviertassinari The theme provider switches back to a different set of also typography ***COLORS***

The theme colors are not even related to the web font. It is not possible that #14296 is the issue.
The font is already downloaded and I verified that #14296 is not occurring in Dev Tools.

I am describing to you a completely different scenario here which is different from #14296.
- **The first r

[2019-03-08 10:57] Yzrsah commented on #14721
@oliviertassinari The theme provider switches back to a different set of also typography ***COLORS***

The theme colors are not even related to the web font. It is not possible that #14296 is the issue.
The font is already downloaded and I verified that #14296 is not occurring in Dev Tools.

I am describing to you a completely different scenario here which is different from #14296.
- **The first r

[2019-03-08 11:00] Yzrsah commented on #14721
@oliviertassinari The theme provider switches back to a different set of also typography ***COLORS***

The theme colors are not even related to the web font. It is not possible that #14296 is the issue.
The font is already downloaded and I verified that #14296 is not occurring in Dev Tools.

I am describing to you a completely different scenario here which is different from #14296.
- **The first r

[2019-03-08 11:02] dennisat commented on #5770
Export your data as csv.

[2019-03-08 11:05] eps1lon commented on #14797
Please don't use `StyleRules`. It won't protect you against type widening which I suspect is happening here. Is this still failing with `createStyles`?

[2019-03-08 11:28] oliviertassinari commented on #14721
@Yzrsah I'm sorry, I don't understand.

[2019-03-08 11:31] oliviertassinari commented on #14784
@jedwards1211 The fewer negative margins we have, the better. As far as I know, it's not an encouraging approach in the literature. The fewer properties developer have to set the better. Asking for edge="end" will increase it. I'm happy to trade  a bit of symetry.

What about this diff?
[code]

[2019-03-08 11:32] VincentLanglet commented on #14797
`createStyles` is only protecting against type widening because it types the return type.
By typing the return type by myself, I'm also protected and I use it because of the standards of our project. When you use the `typedef` rule from `tslint` you have to type function return type.

Because the issue is not about the use of `StyleRules`, since `createStyles` use it.
[code]

Still the bug with
[c

[2019-03-08 11:41] Yzrsah commented on #14721
@oliviertassinari

![unthemed](https://i.imgur.com/0HYTZfp.png)

[2019-03-08 11:47] eps1lon commented on #14797
Maybe not but I have to get rid of all the mental overhead possible.

I was under the impression that we could only write
[code]
but it seems like we can also do
const styles = {
  root: {
    color: props => props.color
  }
}
[code]

[2019-03-08 11:48] oliviertassinari commented on #14721
@Yzrsah Wait for the next alpha release.

[2019-03-08 13:27] synchronos-t commented on #9092
This was told above, and maybe I don't understand what the "using a class component" means in this context, but I cannot make it work by using a class component. I have a TextField inside a Collapse, inside a class render method, so it should update the ref when the element becomes visible, but it doesn't.

[2019-03-08 13:29] VincentLanglet commented on #14797
Sure, no problem.

@eps1lon Like this ? https://codesandbox.io/s/p2wljkm9zm

I tested all possible case
[code]

[2019-03-08 13:58] roberthmiller opened #14798 "[docs] Add Preact example"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
No error should be thrown.

## Current Behavior 😯
An error is thrown.

## Context 🔦
https://github.com/developit/preact/issues/1293

[2019-03-08 14:07] Android3000 commented on #14762
I get this on the home page as well (https://material-ui.com) due to a GET against `https://api.github.com/repos/mui-org/material-ui` being performed.

[2019-03-08 14:45] pladaria opened #14800 "Outline TextField end adornment margin is too high"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
End adornment right margin is too high when used in outline TextField

![preview](https://i.imgur.com/ZziASBl.png)

## Expected

https://material-components.github.io/material-components-web-catalog/#/c

[2019-03-08 14:48] eps1lon commented on #14797
I can't find a consistent pattern there. I don't even know if everyone of these is supported. We need to confirm first with jss that this is all intended.

[2019-03-08 15:04] jedwards1211 commented on #14784
I'm saying, I think the Snackbar and actions div should have symmetrical left/right padding, and the Button should push itself inti the padding so that its text is 16px from the right edge.

[2019-03-08 15:11] eps1lon commented on #14798
It should. We declared it in our public API: https://material-ui.com/api/modal/#props

Does `preact` not validate `propTypes`? Please include the code that triggered this error.

[2019-03-08 15:17] jedwards1211 commented on #14784
And yes it would be nice to avoid negative margins as much as I can, but I don't think you'll find another way to deal with the align content, not border requirement, and I think you'll have a lot of difficulty getting both Button text and IconButton icons to show in the right place without applying a a -8 margin on one side of Button vs a -12 margin on one side of IconButton.

[2019-03-08 15:24] jedwards1211 commented on #14784
I mean I guess Snackbar and Toolbar could accept a `paddingRight="Button|IconButton"` property to apply 8 or 4 px padding respectively, but I think it really is more manageable in the long run if they just set their horizontal padding to 16px, and anything that actually needs to move its border closer to the edge than that uses its own negative margin to do so.

[2019-03-08 15:36] jedwards1211 commented on #14784
Btw, we do currently have to apply negative margin to a text button at the edge of a Toolbar too

[2019-03-08 15:41] Yzrsah opened #14801 "MuiTabs element.style, style={this.state.scrollerStyle} prop blocks theme overrides"
The scrollerStyle passed as a style property in [Tabs.js](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Tabs/Tabs.js#L80) blocks styling specified in the theme.

This broke overflow shadows on tabs in material-kit,

[code]

# New behavior:

https://github.com/mui-org/material-ui/blob/4fa33add497ddf5465ad70f4e17970c744323538/packages/material-ui/src/Tabs/Tabs.js#L80

htt

[2019-03-08 15:42] VincentLanglet commented on #14797
Sure, need to understand what is really supported before to type it.

In the meantime, the following doc (https://material-ui.com/css-in-js/basics/#adapting-based-on-props) should be updated to give example which respect the typescript typing

[2019-03-08 15:44] #14801 closed

[2019-03-08 15:45] Yzrsah commented on #14801
It's okay. I can change everything to use `overflow`

[2019-03-08 17:05] VincentLanglet commented on #14357
@oliviertassinari No problem.
BTW, since this discussion https://github.com/mui-org/material-ui/issues/14797, considering this is the best way to write style
[code]
Instead of
[code]
Because of issue with the actual types definitions of StyleRule/CSSProperties, ...

I now use this (simpler) mock
[code]

[2019-03-08 18:20] DzTheRage commented on #9186
I was able to get this working using @achikin solution. Just nest a div inside of dialog content then render another dialog content.

[code]

[2019-03-08 18:23] #14449 closed

[2019-03-08 19:03] shadowwalker opened #14803 "[styles] withStyles HOC missing statics"
The produced component of `withStyle` didn't copy statics even with `hoistNonReactStatics`.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate. (There was one, but miss guided in the wrong direction, and the issue was not fixed.)

## Expected Behavior 🤔

The produced componen

[2019-03-08 19:41] oliviertassinari commented on #14798
Given the discussion on preact side, I think that it's safe to close the issue. It would be great to add an example with preact.

[2019-03-08 22:03] oliviertassinari commented on #14800
@pladaria Google sign-in page agrees with you:

![Capture d’écran 2019-03-08 à 23 01 34](https://user-images.githubusercontent.com/3165635/54058461-28931980-41f6-11e9-968a-2cbedff74980.png)

We are introducing a new `edge` property to solve the problem in #14758.

[2019-03-08 22:07] jmcpeak opened #14807 "inputComponent and a nil value"
So if you want to do something custom like a MaskedInput you provide a custom inputComponent to a TextField or a Input. There is even an example:https://material-ui.com/demos/text-fields/#customized-inputs

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behav

[2019-03-08 22:12] oliviertassinari commented on #14807
@jmcpeak You example is not correct, please follow: https://material-ui.com/demos/text-fields/#formatted-inputs.

[2019-03-08 22:12] #14807 closed

[2019-03-08 22:14] oliviertassinari commented on #14803
@shadowwalker Thank you for the report, it was fixed in #14722. It will be released under v4.0.0-alpha.3

[2019-03-08 22:14] #14803 closed

[2019-03-08 22:27] shadowwalker commented on #14803
Thanks, I was looking into the latest code but couldn't find anything wrong. I should have thought this may not be released to npm yet!

[2019-03-08 23:21] onpaws commented on #2225
Thanks Oliver the `<Wire>` component appears to be working for my needs

[2019-03-09 06:02] garrettmac commented on #11498
If this was a community driven effort I could see a lot of value here in parsing something mike this out into an object for `createMuiTheme`
https://github.com/xaviervia/sketch2json

[2019-03-09 09:39] #6216 closed

[2019-03-09 09:46] #3155 closed

[2019-03-09 09:46] #14777 closed

[2019-03-09 09:59] oliviertassinari commented on #14751
@jedwards1211 I would simplify wrap the text field within a list item with the component prop that makes sense in the DOM context it's in.

[2019-03-09 09:59] #14751 closed

[2019-03-09 10:01] #14708 closed

[2019-03-09 10:01] oliviertassinari commented on #14708
We value test coverage, if somebody wants to increase it, we would love to accept pull requests for it! Until then I'm closing.

[2019-03-09 10:04] oliviertassinari commented on #7195
We are maintaining a migration guide for the v3 to v4 migration. It will much easier this time! We have also deferred a few breaking changes to v5 to make it easier.

[2019-03-09 10:04] #7195 closed

[2019-03-09 10:06] oliviertassinari commented on #11306
I'm closing, we have updated our components to keep up with the new specification. It's an ongoing effort, you can track our progress with the [material design spec](https://github.com/mui-org/material-ui/labels/material%20design%20spec) issue label.

[2019-03-09 10:06] #11306 closed

[2019-03-09 10:09] oliviertassinari commented on #14243
@adamsoffer I'm closing for an exact more recent issue: #14243. You are right, we can simplify it now as we are working toward the release of v4 :).

[2019-03-09 10:09] #14243 closed

[2019-03-09 15:06] brentatkins commented on #12536
I'm working on a component that wraps a set of Switch components, as in:

[code]

Since the children could be either a Switch component or a FormControlLabel (with a Switch in the control prop), I was hoping to using `muiName` to determine the type of each child element (the `isMuiElement` helper seems ideal for this). However neither Switch nor FormControlLabel has muiName defined.

I suppose an

[2019-03-09 17:10] pheuter opened #14808 "Box component classname id appears to not be deterministic, breaks SSR"
When I render the following snippet, it loads just fine on the initial page load from the server, but once the client code loads I see a `className did not match` error and the correct styling disappears.

[code]

Might be worth noting that I'm also seeing the following TypeScript error:

![image](https://user-images.githubusercontent.com/92698/54074698-ad684c80-4263-11e9-8e60-f0a93add1748.png)

A

[2019-03-09 17:13] oliviertassinari commented on #12536
@brentatkins I think that we should limit the usage of the `muiName` static component property. It has proven to be limited. For instance, as soon as you refactor your logic and hide the source component behind another one, it breaks.

[2019-03-09 17:19] oliviertassinari commented on #14808
@pheuter Do you have a reproduction?

[2019-03-09 17:24] pheuter commented on #14808
What’s the best way to make an SSR reproduction?

On Sat, Mar 9, 2019 at 12:19 PM Olivier Tassinari <notifications@github.com>
wrote:

[2019-03-09 17:30] oliviertassinari commented on #14808
@pheuter I would start from https://github.com/mui-org/material-ui/tree/next/examples/nextjs-next.

[2019-03-09 17:35] pheuter commented on #14808
Thanks, will give it a shot.

On Sat, Mar 9, 2019 at 12:30 PM Olivier Tassinari <notifications@github.com>
wrote:

[2019-03-09 17:42] jeetu241295 commented on #10620
Have you tried a custom SVG Icon and tried too override the active classes. Its not working

[2019-03-09 18:51] mesparza5 opened #14809 "Icon is replacing Font Awesome icons in project"
I have a project that is using Font Awesome icons, and just added a little react app form that is using material-ui icons.

The problem is that since this was added, looks like material-ui is replacing every font-awesome icons with their SVG versions, and when the name does not match replaces it with a non-found icon.

This is a PHP 7.1 project

| Tech         | Version |
|--------------|---------

[2019-03-09 18:51] weslenng commented on #14808
I am having the same issue,
Here is a reproduction of the error:

[https://codesandbox.io/s/6y1wrn8p9z](url)

[2019-03-09 19:07] JitendraBhamidipati opened #14810 "Using Custom SVG in Stepper doesnt get MUI class-names"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

    While Providing Custom SVG Icons to StepLabel in Stepper MUI classnames should be attached to the custom SVG element.

## Current Behavior 😯

 While Providing Custom SVG Icons to StepLabel in Step

[2019-03-09 19:19] jedwards1211 commented on #14751
Personally that's unappealing to me because it's an unsemantic use of ListItem, similar to how people used to use tables for layout everywhere, though not as bad.  Fortunately though, now that the horizontal padding of most things is fixed to 16px, it's not really a big deal how I solve the alignment.

[2019-03-09 20:02] chroth7 commented on #14359
@oliviertassinari FWIW, I have the same issue as described above, and here is what I observe:

- I use the new `makeStyles` Hooks API, all works well. For instance, I can use `theme` when using `makeStyles`. When I log out the `theme` to the console, I see that the custom `fontFamily` for instance has properly been set.
- When I use `Typography`, though, I get the default font family, not my custo

[2019-03-09 20:59] #14809 closed

[2019-03-09 21:01] #14736 closed

[2019-03-09 21:02] oliviertassinari commented on #14809
@mesparza5 Do you have a minimal reproduction example?

[2019-03-09 21:07] oliviertassinari commented on #11498
@garrettmac This is probably technically feasible. Would people use it?

[2019-03-09 21:24] oliviertassinari commented on #14810
@jeetu241295 I think that it would make a great demo:
[code]

![Capture d’écran 2019-03-09 à 22 23 49](https://user-images.githubusercontent.com/3165635/54077529-082c9300-42ba-11e9-8a12-903542a8662a.png)

https://codesandbox.io/s/qx5rvzyx39

[2019-03-09 21:53] ssypi commented on #14582
For some reason, autocompletion for Button and ButtonBase components doesn't seem to work, but everything else I tried works perfectly such as Typography, Icon, IconButton, Step, StepButton, Divider etc. Button and ButtonBase seem to have slightly different d.ts files.

`declare const ButtonBase: ExtendButtonBase<ButtonBaseTypeMap>;`

vs

`declare const IconButton: React.ComponentType<IconButtonPr

[2019-03-09 22:39] jeffersontpadua commented on #1951
For anyone trying to use ::before selector, checkout @breadadams comment. Thats the right thing to do, and really easy it's really easy to miss.

[2019-03-09 22:51] oliviertassinari commented on #14808
Ok, I have figured out the source of the problem. The bundle contains two versions of the styles package:

![Capture d’écran 2019-03-09 à 23 39 48](https://user-images.githubusercontent.com/3165635/54078211-a6bdf180-42c4-11e9-81c5-46f80abf7687.png)

The ugly workaround:
[code]

I think that we should do the following change in the core:
[code]

cc @eps1lon I would like to get your point of view

[2019-03-09 22:52] oliviertassinari commented on #14808
@weslenng Do you want to submit a pull request to fix the problem? :)

[2019-03-10 00:13] yordis opened #14812 "Include styledBy in csskit package"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

`import { styledBy } from '@material-ui/styles';` expect `styledBy` to be defined.

## Current Behavior 😯

`styledBy` is undefined.

## Examples 🌈

[code]

## Context 🔦

Hey folks, I know that you pre

[2019-03-10 00:19] TroySchmidt opened #14813 "[MaterialUI v4] ExpansionPanelSummary default styling tweaks"
The :last-child styling for the summary children means that if there are button icons in the summary then the last one's hover is skewed out of whack due to using padding-right.  If this was changing to margin-right instead then the hovering still works properly and the spacing reserved for the expansion icon on the right is preserved.

Also the ExpansionSummary is display flex, but could benefit

[2019-03-10 00:26] yordis opened #14814 "styled function typespec failing"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

TypeScript typespec shouldn't complain

## Current Behavior 😯

[code]

## Steps to Reproduce 🕹

Link: https://codesandbox.io/s/03jvojk6mp?fontsize=14

## Context 🔦

## Your Environment 🌎

| Tech

[2019-03-10 02:59] urirahimi opened #14815 "[Divider] Inconsistent height on scaled screen"
The divider behavior in my code sandbox is weird. Sometimes is shows up thicker and sometimes they don't even show up. This can be reproduced by cmd+/- on mac to adjust the zoom on your browser. Please see screenshots attached for examples.

## Expected Behavior 🤔

## Current Behavior 😯

## Steps to Reproduce 🕹

https://codesandbox.io/s/mmnoyvq9oy

## Context 🔦

Just trying to make my dialogs work

[2019-03-10 03:08] jeetu241295 commented on #14810
@oliviertassinari
Its not the way I wanted. I want to color the SVG Icons based on Active,completed and disabled.

lets suppose active- blue, completed- red,disabled- grey color to the SVG Icons.

[2019-03-10 04:55] apemost opened #14817 "[Material-UI/Style v4] hook classes from makeStyles should place after default classes"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

[code]
## Current Behavior 😯

[code]
## Steps to Reproduce 🕹

Link:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech         | Version |
|--------------|---------|
| Material-UI  | 4.0.0-alph

[2019-03-10 05:44] SorEduard opened #14818 "CssBaseline on SSR does not work"
My server.js file
[code]

How can i use CssBaseline in SSR?

[2019-03-10 06:15] emjeard opened #14819 "Change format date on Datepicker"
Hi,
i want to change format date on datepicker. but i user formatDate feature, format date not change and still show only month and date only, not show year selected.

and this my code :
 <DatePicker
                            margin="normal"
                            disableFuture
                            openTo="year"
                           views={["year", "month", "day"]}

[2019-03-10 09:07] #14819 closed

[2019-03-10 09:31] siriwatknp opened #14820 "CSS crashed after build with react-scripts v2"
## CSS crashed when I build using react-scripts

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
This is my project in development
![image](https://user-images.githubusercontent.com/18292247/54083033-0feb4680-4351-11e9-98d0-f6ff5e7ec44b.png)

## Cur

[2019-03-10 09:34] siriwatknp commented on #14820
It is very strange that one of my Typography has the same class as MuiModal
![image](https://user-images.githubusercontent.com/18292247/54083114-3493ee00-4352-11e9-8bb2-e8ae3331726b.png)

![image](https://user-images.githubusercontent.com/18292247/54083111-26de6880-4352-11e9-98d9-09bbdd173cc1.png)

[2019-03-10 10:08] learninglegend opened #14821 "[styles] Adapting hook syntax question"
Hello,

I have a basic question regarding the syntax in : https://material-ui.com/css-in-js/basics/#adapting-hook-api
I don't quite understand the syntax of the 'styledBy' const. I added two similar functions 'fromProps' and 'fromProps2'. How come fromProps2 does not receive props? And how do the props get injected into 'styledBy' in the first place?

https://codesandbox.io/s/pmrwopr2jm?fontsize=1

[2019-03-10 10:11] oliviertassinari commented on #6115
I'm reopening to collect more feedback, I'm curious if this is something people are still interested in:

![Capture d’écran 2019-03-10 à 10 38 56](https://user-images.githubusercontent.com/3165635/54083192-b9661400-4320-11e9-8a9d-3cfc12a7dc13.png)

We have a running [developer survey](https://docs.google.com/forms/d/e/1FAIpQLSevNaVyg3Fu_X8_HCJZ5j6hq4XW_7TBUCBYEPsFfDZksx7Tfw/viewform) we gonna us

[2019-03-10 10:54] joshwooding commented on #14820
Can you provide a minimal reproduction?

[2019-03-10 12:23] oliviertassinari commented on #14817
[v4.0.0-alpha.3](https://github.com/mui-org/material-ui/releases/tag/v4.0.0-alpha.3) was released, it should solve your problem.

[2019-03-10 12:23] #14817 closed

[2019-03-10 12:49] oliviertassinari commented on #14774
Something is still wrong.

[2019-03-10 12:49] oliviertassinari commented on #14821
@learninglegend Thank you for opening this issue. It confirms what I thought.
We shouldn't demonstrate the `styledBy` helper in the `/basics` pathname. It's confusing!
We should also explain that the prop can be accessed either at the style rule level or at the property level.

[code]
Does it help? https://codesandbox.io/s/5wqr1o8ynk

[2019-03-10 12:53] oliviertassinari commented on #14818
@SorEduard What do you mean by it does not work? Do you have a reproduction repository?

[2019-03-10 13:30] oliviertassinari commented on #14815
@urirahimi You are forcing Chrome to do subpixel calculation, and this usually has strange behaviors.
You can mitigate the problem with:
[code]

[2019-03-10 13:48] oliviertassinari commented on #14813
@TroySchmidt What do you think of this change?

[code]

Do you want to submit a pull request? :)

That was made on purpose. I'm not sure that we should change the alignment. We have one demos that relies on the current value.

[2019-03-10 14:04] oliviertassinari commented on #14812
@yordis I'm happy to expose this helper. I don't think that it should come from `@material-ui/styles` as it's more generic. Maybe from the `@material-ui/csskit` package that @n-batalha has started [working on](https://github.com/mui-org/material-ui/pull/14573)?

[2019-03-10 15:33] apemost commented on #14817
@oliviertassinari Thanks!

[2019-03-10 15:56] pheuter commented on #14808
@oliviertassinari  It seems like `4.0.0-alpha.3` removes `@material-ui/core/styles`. Does it address this issue of having multiple styles packages? If so, is there a replacement for `import { createMuiTheme } from "@material-ui/core/styles"` ?

[2019-03-10 15:58] SorEduard commented on #14818
I think it's my mistake. Jss does not generate global css on server side.

The reproduction repo https://github.com/SorEduard/ssr-mui

[2019-03-10 15:58] oliviertassinari commented on #14808
`@material-ui/core/styles` should still be present. What makes you think it's now?

[2019-03-10 16:03] pheuter commented on #14808
Oh ok, I misread https://github.com/mui-org/material-ui/pull/14767 then. Seemed like it's ripping out a lot of code and the Deprecation and Breaking Changes sections suggested renaming the imports from `@material-ui/core/styles` to `@material-ui/styles`

[2019-03-10 16:14] oliviertassinari commented on #14808
@pheuter We try to document the upgrade from v3 to v4 in https://next.material-ui.com/guides/migration-v3/#styles.

[2019-03-10 16:16] pheuter commented on #14808
Yeah, I'm currently on `4.0.0-alpha.2` myself, was just confused by alpha.3's "Remove the old styles modules" bit.

[2019-03-10 16:19] pheuter commented on #14808
I'd love to start using the `Box` component but it's still not clear to me what the problem is. You mention there are 2 versions of styles but the way I setup my app is to have a single `StylesProvider` and `ThemeProvider` from `@material-ui/styles` that does the whole `install()` thing for core components to still work.

And everything does work, even on the SSR the Box component gets a proper st

[2019-03-10 16:28] yordis commented on #14812
@oliviertassinari but that is another dependency I need to manage though. For what I can tell, `csskit` are some utils around generating CSS.

But this function is all about CSS-in-JS functionality.

I don't mind either way, but if feels odd installing another package just because of one function.

I am currently using (one of the non-`material/core` projects) `material/style` because of the built

[2019-03-10 18:21] learninglegend commented on #14821
Yep this helps a lot, and I think this demonstrates it more clearly. Thanks!

[2019-03-10 18:23] manelsanz opened #14830 "Can't fill up height with Grid/Paper inside a div with flex-grow: 1"
I have a parent div with `display: flex, flex-direction: column, height: 100vh` and inside that 2 more divs. The first with fixed height, and the second with the attribute `flex-grow: 1`, and that are filling up all available height. But, when I put a `Grid or Paper` inside the last div with `height: 100%`, it is not occupying all the available height of their parent.

You can bring me some help,

[2019-03-10 18:26] #14830 closed

[2019-03-10 19:28] oliviertassinari commented on #14812
@yordis I have two comments. The first one is that `csskit` focuses on the needs people using CSS-in-JS might have (if you have a better name proposal, we would be happy to hear it). It will contain small helpers, I hope we can extract all the theme helpers into it.
We have a more opinionated CSS-in-JS helper: the `system` package. It allows an atomic CSS like API, leveraging the theme values.
The

[2019-03-10 19:30] TroySchmidt commented on #14786
Please close as already fixed in latest alpha.3 release

[2019-03-10 19:30] #14786 closed

[2019-03-10 20:00] oliviertassinari commented on #14808
Yes, you can try the following implementation locally to verify this affirmation:

@pheuter Can you try this implementation?
[code]

We would love that! ❤️

[2019-03-10 20:36] Yzrsah commented on #14721
@oliviertassinari

Alpha 3 resolved the problem and the CssBaseline is now working perfectly with correct typography and theming on both client and server render.

Thank you again.

[2019-03-10 20:38] Yzrsah commented on #14721
Alpha 3 resolved the problem and the CssBaseline is now working perfectly with correct typography and theming on both server and client renders.

Thank you again.

[2019-03-10 20:40] oliviertassinari commented on #14818
@SorEduard I have tried your reproduction repository. It's working fine. The ssr output:
[code]

I don't follow, what's the problem?

[2019-03-10 20:46] oliviertassinari commented on #14721
@Yzrsah This is great news 🎉.

[2019-03-10 21:20] SeyedAlirezaFatemi opened #14834 "[Material-ui 4] Right-to-left guide on 4.0.0-alpha.3 causing errors"
I just updated to version 4.0.0-alpha.3 and used the code on [https://github.com/mui-org/material-ui/tree/next/docs/src/pages/getting-started/page-layout-examples/sign-in](https://github.com/mui-org/material-ui/tree/next/docs/src/pages/getting-started/page-layout-examples/sign-in) and the guide on : [https://next.material-ui.com/guides/right-to-left/](https://next.material-ui.com/guides/right-to-l

[2019-03-10 22:48] SorEduard commented on #14818
I run the same playback and I do not capture the global values, just classes.
I will close the issue because is my mistake, thanks for the support.

[2019-03-10 22:48] #14818 closed

[2019-03-10 23:55] richardaum commented on #12039
@semiadam I know this post is closed but I agree with @oliviertassinari. You can write your own component.

[code]

[2019-03-11 00:15] yordis commented on #14812
That makes sense. Well `csskit` then (I like that name)

[2019-03-11 00:23] wmgstar opened #14839 "Primary button color is different where on the guide and local."
![Screen Shot 2019-03-10 at 5 14 20 PM](https://user-images.githubusercontent.com/47307975/54093843-4200a680-4359-11e9-8ab6-a10e09753b00.png)
![Screen Shot 2019-03-10 at 5 23 29 PM](https://user-images.githubusercontent.com/47307975/54093847-44fb9700-4359-11e9-981c-f8fa1839e772.png)

My code:
[code]

[2019-03-11 00:30] joshwooding commented on #14839
https://material-ui.com/getting-started/faq/#why-are-the-colors-i-am-seeing-different-from-what-i-see-here

[2019-03-11 00:30] #14839 closed

[2019-03-11 02:50] chnliquan opened #14840 "react SSR className mismatch in production mode"
In the development environment, ssr runs normally. When running in the production environment, the page is opened for the first time. The style corresponding to the class name exists, but there is no defined css.

- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expecte

[2019-03-11 06:46] Webwenxiaofang opened #14841 "Is there a component like tree list with Hierarchical relationship?"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker. For usage and support questions, please check out the resources below. Thanks!

---

1. Read the [documentation](https://material-ui.com/).
2. Ask questions on [StackOverflow](https://stackoverflow.com/questions/tagged/material-ui) using the tag material-ui.
3. Chat with the community on [Spectrum](http

[2019-03-11 07:30] #14813 closed

[2019-03-11 07:33] joshwooding commented on #14841
Not yet, there has been work started on one https://github.com/mui-org/material-ui/issues/12263

[2019-03-11 07:33] #14841 closed

[2019-03-11 07:38] joshwooding commented on #14840
Do you have a minimal reproducible example? Looking at the ssr might help you https://github.com/mui-org/material-ui/tree/next/examples/ssr

[2019-03-11 08:44] kossmoboleat opened #14842 "TextField theme customization not included in typing"
- [x ] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
This [PR](https://github.com/mui-org/material-ui/pull/14252) introduced the ability to set the default variant for TextField in a custom theme. It's not included in the typing file `@material-ui/core

[2019-03-11 08:59] henkvhest opened #14843 "Can no longer build 4.0.0-alpha.2"
My CI build since today start giving me these errors:

[code]
I made no changes whatsoever.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
I would expect the build to not fail. Yarn start also fails now
## Current Behavior 😯
The above exception oc

[2019-03-11 09:26] henkvhest commented on #14834
Same error here, although I only used:
[code]

[2019-03-11 10:07] oliviertassinari commented on #14843
@henkvhest We gonna need more detail to help. A reproduction would be perfect.

[2019-03-11 10:09] oliviertassinari commented on #14842
@kossmoboleat Well spotted! Do you want to add the missing key? :)

[2019-03-11 10:12] oliviertassinari commented on #14834
It's hard to help without a reproduction example, could you provide one? :)

[2019-03-11 11:37] henkvhest commented on #14843
One of the alpha.2 versions in my package.json automatically installed utils@alpha.3. Fixed it by listing @material-ui/utils@4.0.0-alpha.2 explicitly in my package.json

[2019-03-11 11:37] #14843 closed

[2019-03-11 12:49] SeyedAlirezaFatemi commented on #14834
@oliviertassinari
Take a look at this: [https://github.com/SeyedAlirezaFatemi/alpha3bug](url)
I also tested the code without TS and with JS. There seemed to be no problem.

[2019-03-11 13:30] nllsdfx commented on #14768
@oliviertassinari don't you want to reopen this issue?

[2019-03-11 13:34] chnliquan opened #14846 "Type error in ssr development mode"
i use material-ui + [react-async-bootstrapper](https://github.com/ctrlplusb/react-async-bootstrapper)
implement react ssr, In the development environment, using react ssr to report an error, the production environment is normal

[code]

## Your Environment 🌎

| Tech         | Version |
|--------------|---------|
| Material-UI  | v3.9.2  |
| React        |    v16.8.3     |
| Browser      |      chr

[2019-03-11 14:12] charlax commented on #11824
Same here, I just used a higher `z-index` directly on the `Popper` component.

[code]

[code]

[2019-03-11 15:02] chnliquan commented on #14840
@joshwooding I have the same configuration as the documentation you provided. I still have this problem, and it only appears in the production environment. The development environment is fine. Should I upload the project to github and attach the link address?

[2019-03-11 15:17] chnliquan commented on #14846
I found that deleting the `import List from '@material-ui/core/List'` component will not give an error.

[2019-03-11 16:04] yehudamakarov commented on #8447
I don't really understand.
Following the docs here: https://material-ui.com/guides/typescript/#augmenting-your-props-using-withstyles
seems to just result in the problem of this original issue. Where when you use the component somewhere, typescript demans you to _pass_ the classes property as a prop instead of realizing it is going to be _injected_ by withStyles.

Regarding this suggestion above

[2019-03-11 16:44] VincentLanglet commented on #14608
@oliviertassinari I saw you merged your PR. Good job !

There was still one thing to do in order to stop using the `@types/jss` library.
It's here: https://github.com/mui-org/material-ui/pull/14852

[2019-03-11 16:48] eps1lon commented on #8447
@yehudamakarov Try you code without `react-redux` first and add `connext` when everything works as expected. It's incredibly hard to get a good overview when what prop is injected.

When encountering these issues I'll
1. type my component props first
2. check if everything is required as expected i.e. get `missing props`
3. apply hoc
4. see if typescript recognized every injected prop
5. repeat 3

[2019-03-11 16:58] siriwatknp commented on #14820
@joshwooding I found the root cause.

In this project, I also use `@material-ui/styles` and `unstable_Box`
my `index.js` looks sth like this
[code]

In my Text.js component
[code]

Somehow when build command was run, the classname in Text is the same as in core component, so I use this as a workaround for me.
[code]

Can you give me the correct way to use `ThemeProvider` from `@material-ui/styles`

[2019-03-11 17:32] yehudamakarov commented on #14224
@eps1lon I've been stuck on this issue all day and I see it's been opened and closed a few times. Nothing I have tried worked yet.

Should I open one and maybe we can close it with a real answer and update the docs properly? Or should I provide some code and context here? What do you think?

[2019-03-11 18:18] nick-cromwell commented on #13455
Was this fix included in the latest release 3.0.0-alpha.30? I'm still seeing this issue loading the slider into a google maps InfoWindow.

[2019-03-11 18:38] joshwooding commented on #14840
@chnliquan Yes please :)

[2019-03-11 18:39] joshwooding commented on #14846
@chnliquan Do you have a minimal reproducible example?

[2019-03-11 18:48] joshwooding commented on #14820
@siriwatknp You only need to use the ThemeProvider but you will need to [bootstrap](https://material-ui.com/css-in-js/basics/#migration-for-material-ui-core-users) `@material-ui/styles` if you haven’t already.

[2019-03-11 18:49] ptheofan opened #14853 "[TextField] Date Label Mask bug"
![image](https://user-images.githubusercontent.com/880939/54148872-b01e9980-443d-11e9-9e82-d7cc1dff37b2.png)
![image](https://user-images.githubusercontent.com/880939/54148892-b7de3e00-443d-11e9-8606-5808071e7608.png)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Ex

[2019-03-11 18:56] joshwooding commented on #13455
@nick-cromwell It was released as part of @material-ui/lab@v4.0.0-alpha.2

[2019-03-11 19:04] nick-cromwell commented on #13455
@joshwooding Thanks - I won't be upgrading @material-ui/core to 4.0.0-alpha yet so I'll be waiting until then

[2019-03-11 19:08] yehudamakarov commented on #8447
Thanks so much Sebastian.
I solved my problem by simply not passing generic arguments to connect. I took out the `<StateProps ...>` chunk.

I think those generic arguments were messing with my OwnProps interface that extends WithStyles<>.

Since I’m passing everything to the component anyway the type checking I get from my <Props> is sufficient. Not sure why id need the connect<> generics.

Thanks

[2019-03-11 19:42] kgregory commented on #7450
Well deserved.  Nice work @joshwooding!

[2019-03-11 20:18] #14608 closed

[2019-03-11 22:08] oliviertassinari commented on #14853
I'm closing as a duplicate of #8131.

[2019-03-11 22:08] #14853 closed

[2019-03-11 22:08] oliviertassinari commented on #6879
It's a duplicate of #8131.

[2019-03-11 22:10] oliviertassinari commented on #8638
It's a duplicate of #8131.

[2019-03-11 22:11] oliviertassinari commented on #9265
It's a duplicate of #8131.

[2019-03-11 22:17] oliviertassinari commented on #14608
It's @types/jss is gone, one less dependency :)

[2019-03-11 22:20] oliviertassinari commented on #14820
Could it be the same problem as #14808?

[2019-03-11 22:38] idrisadetunmbi commented on #7261
This is a lot weird. I have tried everything, nothing seems to be working with the checkbox. It is checked by default and no event listeners fire, nor can I even toggle even when it is not being controlled.

[2019-03-11 22:39] oliviertassinari commented on #14768
@nllsdfx Do you want to submit a pull request to move the fix in the core? :)

[2019-03-12 01:14] hburrows commented on #5750
I'll chime in here and say it would be nice if either material-ui incorporated the functionality of `body-scroll-lock` or was more compatible with it -- at least if you're using `body-scroll-lock` inside a `Modal`.  `Modal` sets `overflow:hidden` on `document.body` and if you're using `body-scroll-lock` (inside a Modal) overflow never gets restored when the modal is dismissed because `body-scroll-

[2019-03-12 01:47] siriwatknp commented on #14820
@oliviertassinari Yes, I did not see that doc. Sorry for that.

[2019-03-12 01:47] #14820 closed

[2019-03-12 02:26] FMcIntosh commented on #14712
I'd be happy to take this on. This would be my first issue (on any project, not just Material-UI), so I might need my hand held a little bit :)

[2019-03-12 04:00] garrettmac commented on #11498
I definitely believe so @olivertassinari I would use it. It’s a solution my company would use. There has never been a tool that connects the UX and Dev experience like this and material is the most popular starting point for modern web apps. If there was a sketch extension that exports code (the reverse of what https://github.com/airbnb/react-sketchapp does) and it worked with accuracy that could

[2019-03-12 04:56] chnliquan commented on #14846
@joshwooding https://github.com/chnliquan/react-cnode
This problem occurs in development mode. This problem does not occur after I delete the [List](https://github.com/chnliquan/react-cnode/blob/master/client/views/topic-list/index.jsx#L8) component. The production environment will not go wrong whether or not it contains a List component.

[2019-03-12 04:57] chnliquan commented on #14840
@joshwooding https://github.com/chnliquan/react-cnode
use the production mode wil accur this issue

[code]

[2019-03-12 07:01] nllsdfx commented on #14768
@oliviertassinari No, I don't thinks so :)

[2019-03-12 07:03] adntin opened #14855 "Customized selects enter after getting focus does not open menu item"
Customized selects enter after getting focus does not open menu item

## Expected Behavior 🤔
Getting the focus and enter carriage opens the menu item.

## Current Behavior 😯
Get focus and enter no response.

## Steps to Reproduce 🕹

Link:

1. https://codesandbox.io/s/48xm5wm37x

## Context 🔦

## Your Environment 🌎

| Tech         | Version |
|--------------|---------|
| Material-UI  | v3.9.2  |
|

[2019-03-12 07:20] joshwooding commented on #14855
Duplicate of #14294

This was fixed in @material-ui/core@4.0.0-alpha.1: https://codesandbox.io/s/wkxrn7j3zw

[2019-03-12 07:20] #14855 closed

[2019-03-12 08:12] eps1lon commented on #14814
It's an issue on our side. As far as I can tell we should accept the same API for `styles` as with `withStyles` or `makeStyles`.

https://github.com/mui-org/material-ui/blob/a72030b8f2e8748def7a6767b29744c702721eb8/packages/material-ui-styles/src/index.d.ts#L164
should use the `Styles` type that is already imported but unused in the `styled` module.

However this won't be a complete fix since it r

[2019-03-12 08:25] eps1lon commented on #14586
`styled` changes how the `component` property works. I wouldn't recommend you use it for actual components since it's highly confusing. Only use it if you wrap intrinsic components like `'button'` or `'table'` i.e. `<styled('div') component="span" />` is fine but `<styled(Avatar) component="span" />` is not.

The issue with the lost `component` prop with `withStyles` is caused by how we type our c

[2019-03-12 08:28] #14808 closed

[2019-03-12 08:37] eps1lon commented on #14748
@mfazer Closing this since the issue has become stale. I will reopen once the runtime warnings and feedback from https://github.com/mui-org/material-ui/issues/14748#issuecomment-469755705 is addressed. I created a codesandbox from "Steps to reproduce" to help you get started: https://codesandbox.io/s/o9mxl93zzz

[2019-03-12 08:42] eps1lon commented on #14544
I'm happy to improve the typings if somebody knows any higher-order component that doesn't loose generic type information. Until then I fear this is not actionable for us since it's a limitation of typescript.

Leaving this open since we should mention this somewhere in our docs. Either link to another resource that describes generic component and hocs or write it ourself. Looking for contribution

[2019-03-12 09:21] learninglegend commented on #14821
Side question: what if I wanted to catch the :hover event of a parent to style the root of the button. Is it common to share the calculated className by way of props? And how would I use it in `makeStyles`? Is this an anti pattern, if so what would be the best appoach?

```parentClass: PropTypes.string.isRequired,```

https://codesandbox.io/s/mml76o93pj?fontsize=14

[2019-03-12 09:29] oliviertassinari commented on #11498
@garrettmac If I had to invest time in improving the design tools integration, I would probably start with exposing a Sketch version of our components. This Sketch plugin configurator -> MUI theme would be a good topic, but less important.

[2019-03-12 09:30] oliviertassinari commented on #14712
@FMcIntosh This is awesome, you should be able to get started reading our Contributor.md :).

[2019-03-12 09:34] VincentLanglet commented on #14349
@eps1lon I think again about this issue.

Why does `index.d.ts` declare all the modules types and you not kept the way you did on `material-ui/core` with a `withTheme.d.ts` file, a `withStyles.d.ts` file, etc... ?
I can do it if you want.

[2019-03-12 09:40] eps1lon commented on #14349
Simply because clutter. @oliviertassinari didn't want to use the same folder architecture we use for the core. I wanted to use it simply to cleanup the files so that tests and implementation are isolated from one another. If we add interface i.e. type declarations in the mix the sheer number of files makes it unmanageable.

[2019-03-12 09:44] oliviertassinari commented on #14349
@eps1lon I'm happy to change it. I was wondering the same. It would probably help with https://github.com/mui-org/material-ui/issues/14808#issuecomment-471229471.

[2019-03-12 09:50] VincentLanglet commented on #14349
@oliviertassinari Do you want to split the `index.d.ts` file ? I can help

[2019-03-12 09:51] learninglegend commented on #11517
How would one use the ```combineStyles``` function in conjunction with the makeStyles api?

makeStyles : https://material-ui.com/css-in-js/basics/#hook-api

( related to last comment : https://github.com/mui-org/material-ui/issues/14821 )

[2019-03-12 09:52] oliviertassinari commented on #14349
I'm personally in favor yes, @eps1lon?

[2019-03-12 10:06] eps1lon commented on #14349
If we use the same folder architecture as `/core`. I'm uncomfortable with it otherwise since navigating in a 50+ files folder is cumbersome.

[2019-03-12 10:11] VincentLanglet commented on #14349
It wont be bigger than the @material-ui/core/styles folder ; where files are splitted.

But it's possible to do something like
[code]

[2019-03-12 10:31] oliviertassinari commented on #11517
@learninglegend It should work identically. However, the proposed [`combineStyles` method](https://github.com/mui-org/material-ui/issues/11517#issuecomment-407509327) by @dlochrie only support the theme, it doesn't support the props object. We have this helper that supports the props object but doesn't support the theme:
https://github.com/mui-org/material-ui/blob/a74b0205cb54cae0c3e9216f9cccb131b

[2019-03-12 10:34] oliviertassinari commented on #14821
@learninglegend You can't target a parent element with a CSS selector. So you need to start the `:hover` from the parent element. Then you need to target the child element. You can apply a class name on the child or use a discriminatory CSS selector.

[2019-03-12 10:45] oliviertassinari commented on #14834
@SeyedAlirezaFatemi Try removing the `react-jss` dependency. It should work better without.

[2019-03-12 10:53] oliviertassinari commented on #14834
@SeyedAlirezaFatemi Removing the `react-jss` dependency helps. It fixes the problem. But it's surfacing another one:

<img width="643" alt="Capture d’écran 2019-03-12 à 11 51 18" src="https://user-images.githubusercontent.com/3165635/54194719-33330480-44bd-11e9-956a-53cd0a2b46af.png">
It should have been fixed by @VincentLanglet in #14852. The fix will be released in v4.0.0-alpha.4.

[2019-03-12 10:55] #14834 closed

[2019-03-12 11:00] oliviertassinari commented on #14846
@chnliquan You are using the `react-tree-walker` dependency. They don't support the new context API: https://github.com/ctrlplusb/react-tree-walker/issues/47. But more importantly, it's only advised for advanced users that know what they are doing: https://github.com/ctrlplusb/react-tree-walker#disclaimer. Since you are opening an issue on Material-UI side, I would guess that you are only interest

[2019-03-12 11:00] #14846 closed

[2019-03-12 11:02] oliviertassinari commented on #14842
The fix should be about:
[code]

[2019-03-12 11:06] eps1lon commented on #13394
Tracking progress here.
Test plan:
- [ ] run unit test in `React.StrictMode`: https://github.com/eps1lon/material-ui/tree/test/strict-mode
- [ ] enable `StrictMode` in docs (`/pages/_app.js`)

[2019-03-12 11:19] oliviertassinari commented on #14840
@chnliquan I have tried your reproduction. It's working great on my end.

[2019-03-12 11:24] learninglegend commented on #14821
``${props.parentClass}:hover > $root`: {
   backgroundColor: 'purple',
}`

[2019-03-12 12:47] oliviertassinari commented on #4952
@daiky00 Yes, you are right. You can track #9997 for this problem.

[2019-03-12 12:51] surya229 commented on #14842
--- a/packages/material-ui/src/styles/props.d.ts
+++ b/packages/material-ui/src/styles/props.d.ts
@@ -80,6 +80,7 @@ import { TableRowProps } from '../TableRow';
 import { TableSortLabelProps } from '../TableSortLabel';
 import { TabProps } from '../Tab';
 import { TabsProps } from '../Tabs';
+import { TextFieldProps } from '../TextField';
 import { ToolbarProps } from '../Toolbar';
 import { Toolt

[2019-03-12 13:44] chnliquan commented on #14840
@oliviertassinari Are you sure you are in a production environment? First use `npm run build` to package, then `npm start` to start the service, open **http://localhost:9000**. In the first rendering, the className of the list page will not match (it lead the list item user avatar becomes very large), and the tab will be restored. I just executed it again, the same problem.

@material-ui/core v3.9

[2019-03-12 13:48] chnliquan commented on #14846
@oliviertassinari this problem only exists with the development environment, the production environment is no problem, If there is a problem, the behavior of the development environment and the production environment should be the same?

[2019-03-12 13:49] chnliquan commented on #14846
I do react ssr need to use this package for data synchronization. If you suggest me to remove, are there any other solution suggestions?

[2019-03-12 14:06] oliviertassinari commented on #14846
@chnliquan `react-tree-walker` dependency is likely legacy, they don't support the context, probably not the hooks either 🤔. Have you tried Next.js? Apollo was using a strategy closed to `react-tree-walker`, they have stopped doing it for this very problem. They are now rendering the tree x times until they reach all the leaves.

[2019-03-12 14:49] bonjefir opened #14857 "jss-rtl layout does not flip css attributes as mentioned in docs"
Hi

According to the [documentation](https://material-ui.com/guides/right-to-left/) about `rtl`, I made [this](https://codesandbox.io/s/6z4lnz8m7w) example but it does not work as expected(flip css attributes). Also I searched about this issue but I could not find any helpful note.

[2019-03-12 15:25] bonjefir opened #14858 "Right to left does not work as expected"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Styles must flip in `rtl` mode.
## Current Behavior 😯
It does not flip the css even when using `jss-rtl` as described in the [documentation](https://material-ui.com/guides/right-to-left/).
## Steps to

[2019-03-12 15:39] bonjefir commented on #14857
I close this issue since I made another one with the same content unexpectedly!

[2019-03-12 15:39] #14857 closed

[2019-03-12 15:46] #14858 closed

[2019-03-12 15:47] eps1lon commented on #14858
Never mutate props: https://codesandbox.io/s/xvy0nxym2p

[2019-03-12 15:49] eps1lon commented on #14857
Posting for bookkeeping: Duplicate of #14858

[2019-03-12 19:08] dpren commented on #14674
This would solve #13132 for me. As a library user, I always assume the DOM spec first before checking how react does things.

Another thing to consider is keyboard interaction – it should trigger both an "input" and "change" event.

See for yourself: https://jsfiddle.net/pon4uvjw/

[2019-03-12 19:32] eaconway commented on #10804
I'd highly recommend changing the text in the MUI Menu page to include a clearer description of how/what is happening here. I, like this and a few other threads, have had trouble using the anchor playground solutions in menus.

[2019-03-12 19:50] eps1lon commented on #14674
@dpren

Preferably but with React Fire we won't have `onChange` anyway. I do however recognize the need for `onInput` for sliders so I'd like to properly polyfill it (in favor of non-standard `onDrag*` we have).

Thanks, haven't really thought about it. The important distinction here is that continuous `keydown` will fire both `input` and `change` while mousedown + move will only fire input. This

[2019-03-12 21:23] npapagna opened #14860 "An exception is raised when rendering a multiline TextField withing a <form> element"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
There should be no console errors when using `TextField` with `multiline={true}`

## Current Behavior 😯
When rendering a `multiline` `TextField` (within a `form`) and hitting the `enter` key , the foll

[2019-03-12 22:03] mviens commented on #12855
I do not understand why this is closed. I am using the latest of React (16.8.4) and Material UI (3.9.2) and have been unable to make the `square` property work. I had to override it with: `borderRadius: 0`

Could you please explain how to make this work correctly?

[2019-03-12 22:11] ashkank83 opened #14861 "Recommendation: Which version do you recommend to be used for a new project?"
I see in the roadmap that first stable V4 is planned to be released by end of this month.

Would you recommend starting a new project with the V4 alpha or latest stable version and eventually try and update when the new v4 stable is released?

My project is developed in typescript (in case that does affect the recommendation?!)

Thanks

[2019-03-12 22:15] oliviertassinari commented on #12855
@mviens Do you have a reproduction?

[2019-03-12 22:22] oliviertassinari commented on #10804
@eaconway Thank you for raising the concern! I agree, I think that we should make it easier for people to learn how to change the positioning to create [a dropdown like](https://next.material-ui.com/guides/interoperability/#portals) experience. It's [in the specification](https://material.io/design/components/menus.html#dropdown-menu).
Would you want to improve the documentation? :)

[2019-03-12 22:25] atulmy commented on #14840
Facing similar JSS issues with SSR.

Please check code here: https://github.com/atulmy/hire-smart (open source project)
And live website here: https://hiresmart.app/ (try to repeatedly move between routes)

Check following screenshot:
<img width="1252" alt="Screenshot 2019-03-13 at 3 49 48 AM" src="https://user-images.githubusercontent.com/685786/54240101-235e0380-4543-11e9-9e1b-20021bc50508.png">

[2019-03-12 22:33] mayteio commented on #4103
The same behaviour still occurs. I need to handle backspace press when a select is focussed. My workaround is to add an event listener to document `onFocus` and `onBlur`, but this just gets the `div` reference which is pretty useless.

[2019-03-12 22:37] oliviertassinari commented on #14861
@ashkank83 If you like to apply breaking changes in a batch stay on v3. If you prefer to apply them one at the time, go with v4-alpha. It the only dimension I would consider.

[2019-03-12 22:37] #14861 closed

[2019-03-12 22:39] ashkank83 commented on #14861
Thanks

[2019-03-12 22:41] oliviertassinari commented on #14860
How is using LastPass? Raise your hand!

[2019-03-12 22:53] oliviertassinari commented on #14860
@npapagna It's a recent LastPass regression. I **highly** doubt we could have had this type of problem for that long unaddressed. You can try with a native `<textarea />`.
![Capture d’écran 2019-03-12 à 23 52 33](https://user-images.githubusercontent.com/3165635/54241667-0bc25300-4522-11e9-9a9a-5369ccf57034.png)

[2019-03-12 22:53] #14860 closed

[2019-03-12 23:03] oliviertassinari commented on #14349
@VincentLanglet This proposal sounds good to me. It makes us follow the core & lab strategy. It's allowing the introducing of multiple package.json file to solve the esm/cjs duplication issue. @eps1lon So yes, we can go for consistency between core, styles & lab :).

[2019-03-12 23:21] kaitlynbrown commented on #14185
I have wanted something like this for as long as I've been using Material UI. I've always been extremely frustrated by the fact that the palette is limited to 3 colors, and we have to resort to these awful, dirty, awkward hacks to make it work with more. When can we expect this to be fixed?

[2019-03-13 01:05] npapagna commented on #14860
@oliviertassinari got it!

Thanks everyone for taking the time to look at this! 👏

[2019-03-13 02:00] chnliquan commented on #14846
@oliviertassinari Thank you for your reply 😄，  If I use next.js I need to replace the entire server architecture 😣 , future projects can be considered, but now I have built this project, I just want to find a library similar to [react-async-bootstrapper](https://github.com/ctrlplusb/react-async-bootstrapper) that can solve data synchronization.

[2019-03-13 03:15] japrogramer opened #14864 "How can i have the label of a Chip span multiple lines?"
[code]
![image](https://user-images.githubusercontent.com/1387859/54251125-48874d80-4514-11e9-8354-16813b595a73.png)

I would like both p tags to show up inside the chip

[2019-03-13 05:23] japrogramer commented on #14864
[code]

[2019-03-13 05:23] #14864 closed

[2019-03-13 09:06] chnliquan opened #14867 "Why there is not a pagination outside the table"
I need to put a pagination under the `List`, but material-ui only provide it for use in the `Table`, which makes me confused. I want to use the pager elsewhere, not just in the table.

[2019-03-13 11:02] ShogunRoss commented on #13672
I think you can add !important tag to solve this problem.
`const styles = theme => ({
  root: {
  },
  selected: {
    backgroundColor: 'red !important',
  },
})`

[2019-03-13 11:04] oliviertassinari commented on #14867
![Capture d’écran 2019-03-13 à 12 03 51](https://user-images.githubusercontent.com/3165635/54274318-14e60b00-4588-11e9-93cb-a735fd472b0a.png)

[code]

https://codesandbox.io/s/73mvo4xw5x

[2019-03-13 11:04] #14867 closed

[2019-03-13 12:38] VincentLanglet commented on #14349
Working on it: https://github.com/mui-org/material-ui/pull/14868

[2019-03-13 12:59] capsule5 commented on #11212
Could you give an example on how to fix that ?

[2019-03-13 13:19] chengjia0807 commented on #14840
Same issue here, looking for help

[2019-03-13 13:24] capsule5 commented on #10000
Sorry where do you put the .mui-fixed ? I have this problem with a select opening a menu

[2019-03-13 13:24] williammetcalf opened #14870 "disabled attribute doesn't prevent arrow key/enter selection"
`disabled` attribute on `MenuItems` do not stop the item from being selected with keyboard controls

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When a `Select` menu is open and there are options marked with the `disabled` property, they should

[2019-03-13 13:26] oliviertassinari commented on #11212
@capsule5 Can you try to add `.mui-fixed` to the moving element? A reproduction would be perfect.

[2019-03-13 13:27] oliviertassinari commented on #14840
You should find a solution in https://next.material-ui.com/guides/server-rendering/#troubleshooting. However, this issue is soo common, I'm going to change some architectural choices.

[2019-03-13 13:33] oliviertassinari commented on #14870
@ryancogswell Sweet, we have another broken case. We might be able to kill many bird 🐦 at once.

[2019-03-13 13:37] charlax opened #14871 "[IconButton] Add support for density"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The [Material spec](https://material.io/design/iconography/system-icons.html#system-icon-metrics) allows for denser spacing (10px instead of 12px) for `IconButton` on desktop:

As to whether a `dense`

[2019-03-13 13:37] TroySchmidt opened #14872 "[Typings] The properties of the object for makeStyles aren't typed to CSSProperties"
The issue is that currently there is no Intellisense or type checking on the properties of the named classes for the object used.  So this means anything can be passed.  If the properties were typed to CSSProperties that would add more type checking for "valid" CSS and Intellisense.

[2019-03-13 13:40] MBach commented on #14840
I don't know if it's the same issue @oliviertassinari but I'm not the only hone with unpredictable JSS injection.

On hiresmart, we can see that styles are messed up (like my website, not published yet):
![image](https://user-images.githubusercontent.com/1532657/54282268-ee31cf80-459b-11e9-900e-5212fc9ea211.png)

On my side, it's when I'm mixing old school Theme with Hooks:
[code]

[code]

[code]

[2019-03-13 13:45] eps1lon commented on #14872
Please add an example.

[2019-03-13 13:55] TroySchmidt commented on #14872
[code]
Currently I am doing this so that the properties are strongly typed to `CSSProperties`.  If I do this I have to manually type out the classes string options available and cast the `useStyles()`.  If I don't do this then it does infer the class names automatically, but the properties can be whatever.

[2019-03-13 14:07] oliviertassinari commented on #14840
@MBach Are you doing server side rendering?

[2019-03-13 14:10] oliviertassinari commented on #14871
@charlax Thanks for the issue. It's fixed in #14649

[2019-03-13 14:10] #14871 closed

[2019-03-13 14:20] oliviertassinari commented on #9511
We can close the issue now: https://next.material-ui.com/discover-more/languages/.

[2019-03-13 14:20] #9511 closed

[2019-03-13 14:21] charlax commented on #14871
@oliviertassinari too fast! Amazing job. Thanks a lot!

[2019-03-13 14:27] oliviertassinari commented on #9602
We have been working on the scrollable problem: https://next.material-ui.com/demos/dialogs/#scrolling-long-content. We can close.

[2019-03-13 14:27] #9602 closed

[2019-03-13 14:35] MBach commented on #14840
I'm not, it's just a `react-scripts build` but the issue described here is very similar to what I encounter.

[2019-03-13 14:49] oliviertassinari commented on #14840
@MBach Interesting, how can we produce it?

[2019-03-13 14:52] MBach commented on #14840
Actually I'm creating a repository where I'm removing everything "not critical" but I have some other deadlines until next week ...

[2019-03-13 15:09] Floriferous commented on #13792
I got confused by this as well, since this example still uses PaperProps, and it's not documented in the `Menu` API anymore, should it be deprecated?

https://material-ui.com/demos/menus/#max-height-menus

[2019-03-13 15:11] jeremy-coleman commented on #14544
i use something similar to this for typestyle / csx / mergeStyles and works great. styled components will be restricted to only proper dom props and the additional props you pass in as types

You have to use a simple css function though, which I don't know where that lives in the mui library.
ie: dont return a stylesheet, just a single rule
[code]

[code]
is replacing the current mui impl of
[code

[2019-03-13 15:41] oliviertassinari commented on #13792
@Floriferous It's documented in the Popover API. The issue should have been solved.

[2019-03-13 16:07] oliviertassinari commented on #10695
I'm closing for #14519.

[2019-03-13 16:07] #10695 closed

[2019-03-13 16:08] willowHR commented on #14840
I experience this (or related) issue on the nextjs-next example, whereas before 4.0.0-alpha.3 everything was fine.
I don't see a console error about mismatched classnames but I do see the server render without styles then styles come in when the client renders.

I saw this from a fully clean checkout of the example.

[2019-03-13 16:16] oliviertassinari commented on #12343
I'm closing as a duplicate of #8191.

[2019-03-13 16:16] #12343 closed

[2019-03-13 16:17] oliviertassinari commented on #12565
I think that we can keep the component after all: #14795.

[2019-03-13 16:17] #12565 closed

[2019-03-13 16:20] oliviertassinari commented on #12834
@eps1lon Has added esm support: #13391. We can close.

[2019-03-13 16:20] #12834 closed

[2019-03-13 16:21] oliviertassinari commented on #10789
I'm closing for #10789.

[2019-03-13 16:21] #10789 closed

[2019-03-13 16:25] oliviertassinari commented on #14870
I'm closing as a duplicate of #13464.

[2019-03-13 16:25] #14870 closed

[2019-03-13 16:27] oliviertassinari commented on #13641
@buob You are going to like this API: https://next.material-ui.com/css-in-js/basics/#adapting-hook-api.

[2019-03-13 16:27] #13641 closed

[2019-03-13 16:31] oliviertassinari commented on #9595
I'm closing for #13922.

[2019-03-13 16:31] #9595 closed

[2019-03-13 16:36] mbrookes commented on #11498
There is [react-sketchapp](https://github.com/airbnb/react-sketchapp), and we could possibly reuse some of [my work to semi-automate the creation of Framer X wrapper components](https://github.com/mbrookes/material-ui/tree/framer/framer) to create sketchapp components.

However, given that the Material Theme Editor gives you Material Design components, and Sketch comes with a Material Design stick

[2019-03-13 16:37] oliviertassinari commented on #14247
@jgoux We are going with the following change:
[code]
The discussing started in https://github.com/mui-org/material-ui/pull/14852#issuecomment-471795516.

[2019-03-13 16:44] oliviertassinari commented on #14338
@gilamran You are using two different JSS instances, it's the correct solution 👍

[2019-03-13 16:44] #14338 closed

[2019-03-13 17:00] oliviertassinari commented on #14342
I'm closing for #10825. It should be good now after @eps1lon work:
[code]

Outputs in the console:
![Capture d’écran 2019-03-13 à 17 59 44](https://user-images.githubusercontent.com/3165635/54298822-cea99f80-45b9-11e9-814a-d9648cd04367.png)

[2019-03-13 17:00] #14342 closed

[2019-03-13 17:03] oliviertassinari commented on #2833
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure people are looking for such abstraction. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2019-03-13 17:03] #2833 closed

[2019-03-13 17:06] oliviertassinari commented on #10485
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure people are looking for such abstraction. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2019-03-13 17:12] #14053 closed

[2019-03-13 17:13] #13598 closed

[2019-03-13 17:13] #13696 closed

[2019-03-13 17:16] apemost opened #14873 "SSR client side theme is null"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Theme should be correct.

## Current Behavior 😯

[code]

**Check following screenshot**

![image](https://user-images.githubusercontent.com/13079610/54300212-5a8dec80-45f7-11e9-8735-5e2d26dd8456.png)

[2019-03-13 17:18] xaviergonz opened #14874 "[TouchRipple] touchRipple's TransitionGroup seems to inject enter/exit attributes into child span node"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The react console should not show a warning when using a button with a ripple

## Current Behavior 😯
This happens:
![image](https://user-images.githubusercontent.com/6306796/54299754-cf433580-45bb-11e9

[2019-03-13 17:27] oliviertassinari commented on #11289
It sounds like a good idea. I have tried the following diff:
[code]

Anyone wants to work on it? :)

[2019-03-13 17:32] oliviertassinari commented on #14874
@xaviergonz Do you have a reproduction example? Are you injecting these properties? We don't support them.

[2019-03-13 17:36] oliviertassinari commented on #14782
The reproduction can be further simplified into:
[code]

[2019-03-13 17:38] xaviergonz commented on #14874
Just using something like this, though it happens for all kind of mui buttons for me

Made the path element empty just to make it shorter.

[code]

yarn.lock shows material ui is using this version of react-transition-group
[code]

[2019-03-13 17:41] klis87 commented on #14420
@oliviertassinari does that mean that it is possible that JSS won't be required anymore in the future? Asking because I prefer css-modules for styling and the only advantage I can see JSS has is that it allows theme changes at runtime, but with css variables you could achieve exactly the same.

(I know I can use css modules now, but JSS is still required anyway for build-in styles)

[2019-03-13 17:54] oliviertassinari commented on #14420
@klis87 We have an ongoing effort to minimize the styling solution overhead. We will invest time on the problem.

[2019-03-13 17:56] Floriferous opened #14875 "[Menu] Setting PaperProps className breaks position of menu"
Here's the reproduction: https://codesandbox.io/s/m71l2yr43y

You can set any className on `PaperProps`  and the bug will happen.

Maybe related to #13792.

[2019-03-13 18:05] oliviertassinari commented on #14875
@Floriferous Thank you for the reproduction. I confirm the problem. We had the same problem with the Dialog. We fixed it with #13935. We can apply the same strategy. Do you want to work on it? :)

[2019-03-13 18:22] Floriferous commented on #14875
Hey @oliviertassinari, can't take it in the next few days. Maybe in a week.

[2019-03-13 19:17] nmain opened #14876 "Equivalent to Blueprint's RunningText"
A `<RunningText>` component would apply typography styles to basic html elements in it, so something like this:

[code]
Would behave like this:
[code]

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Within a `<RunningText>` all of the styles normal

[2019-03-13 20:03] oliviertassinari commented on #14876
@nmain We don't have such a component. For the markdown problem. You have two options:

1. **markdown-to-jsx**: You specify to a parser the React component to use for each type of element. You have a demo here:
https://github.com/mui-org/material-ui/blob/2f6a982aa74ffa46680798089ad20ed67ed0c5ae/docs/src/pages/getting-started/page-layout-examples/blog/Markdown.js#L1-L352.
1. **markdown-to-html**: Y

[2019-03-13 20:10] nmain commented on #14876
So what I'm proposing is a component that implements style rules similar to line 105 here: https://github.com/mui-org/material-ui/blob/2f6a982aa74ffa46680798089ad20ed67ed0c5ae/docs/src/modules/components/MarkdownElement.js#L105-277 be added to Material-UI

[2019-03-13 22:30] mbrookes commented on #10789
@oliviertassinari Did you mean #13039, or did you mean to close #13039 for #10789 (this issue)?

[2019-03-14 00:21] manonthemat commented on #14696
Does this mean that the RadioGroup should never be controlled?

[2019-03-14 00:25] mbrookes commented on #14761
No kidding!

[2019-03-14 00:28] joshwooding commented on #14696
It shouldn't switch between an uncontrolled and controlled state.

[2019-03-14 00:34] joshwooding commented on #14874
@xaviergonz It would be great if you can put a reproduction in codesandbox or a repository. That way we can re-create your problem easier. 👍

[2019-03-14 00:49] mbrookes commented on #14696
That's an incorrect use of radio buttons. Radio buttons should always have one value selected – a default, or that chosen by the user to override the default. If you need "none" as one of the selections, you should add it.

If you're old enough to remember vintage radios (or TVs) with radio buttons, you could force them into an invalid state by gently pressing a button until it disengaged the sele

[2019-03-14 01:22] mbrookes commented on #14185
@kaitlynbrown And you started so well...

[2019-03-14 01:58] chnliquan commented on #14840
I have checked it many times, all the steps are the same as described in the documentation, or there is still this problem 😫. https://next.material-ui.com/guides/server-rendering/#troubleshooting

[2019-03-14 02:00] farid64 commented on #14474
Hi. Thanks for responses. I think I did use the master branch. I followed the link from the documentation.
I'm confused. Is the spacing function new feature or using 'theme.spacing.unit * 2' a new feature? Because if you follow the links that you guys sent me, it actually uses the latter method, '..unit * 2'.

Can you clarify?
By the way, I am using the latter method, ' ..spacing.unit *2', and it

[2019-03-14 02:58] chnliquan commented on #14840
You are running normally because the server failed to get the initial data, and then the client retrieved the request and re-rendered it. I also reappear on my colleague's machine, but if the initial data is taken, the rendering will appear className mismatch

[2019-03-14 04:18] t49tran commented on #14203
I've encountered the same issue with `Select` component. As the document suggests, I expect the declare `variant = filled | outlined` is enough but it's not, `variant` prop is kind of useless at the moment, you have to pass `FilledInput` or `OutlinedInput` as `input` prop for the right look and feel.

However, when `SelectInput` component handles its styles and classnames, it still refer to the `v

[2019-03-14 05:24] ashokmahendran opened #14880 "List Actions taking more time when data is large."
List Actions taking more time when data is large.

## Expected Behavior 🤔
Page should fast with large amount of data also.

## Current Behavior 😯
Page is taking more time.

## Steps to Reproduce 🕹
https://codesandbox.io/s/qqwnzjlvj6

Sample Code also attached :
[SampleCode.txt](https://github.com/mui-org/material-ui/files/2964804/SampleCode.txt)

| Tech         | Version |
|--------------|--------

[2019-03-14 07:13] mkermani144 commented on #10778
Is there any progress on adding capabilities (like the one @Bessonov suggested) in order to optimize the performance issues Material-UI currently faces?
When I started using this great library for our project, I didn't know such performance issues may happen when the project gets larger and larger; in addition, I didn't see any section in Material-UI docs informing me about the cases that may caus

[2019-03-14 08:49] giuliogallerini commented on #11289
Hi @oliviertassinari, sure thing I will create a PR 👍

[2019-03-14 09:06] oliviertassinari commented on #14880
@ashokmahendran You should consider virtualization after 100 items.

[2019-03-14 09:56] ashokmahendran commented on #14880
@oliviertassinari How can I do it. Could you please share the reference for that?

[2019-03-14 10:32] oliviertassinari commented on #14880
You can use https://github.com/bvaughn/react-virtualized.

[2019-03-14 10:52] ashokmahendran commented on #14880
Thanks @oliviertassinari

[2019-03-14 12:54] oliviertassinari commented on #10778
@mkermani144 We have yet to see a performance report directly correlated to something Material-UI is doing wrong. So far this issue has been used as a help forum for people struggling. Do you confirm that nothing actionable was reported? I'm going to state the obvious, **React abstraction has a cost**. Each component wrapping a host will add weight to your render tree, it slows it down. While you

[2019-03-14 12:55] oliviertassinari commented on #10778
@mkermani144 If you have a specific case were Material-UI is doing it wrong, sure.

[2019-03-14 13:22] oliviertassinari commented on #14474
theme.spacing.unit is deprecated.

[2019-03-14 13:23] oliviertassinari commented on #14474
The new spacing feature is documented in here https://next.material-ui.com/customization/themes/#spacing.

[2019-03-14 13:46] helfi92 opened #14884 "ListItem focus state not working on Firefox"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Pressing the "TAB" key should bring focus to a `ListItem` with props `button` and `component="a"`.

## Current Behavior 😯

Pressing the "TAB" key is not bringing focus on a `ListItem` with props `butt

[2019-03-14 14:17] oliviertassinari commented on #14884
You might be the best one to answer this issue. ![Capture d’écran 2019-03-14 à 15 16 34](https://user-images.githubusercontent.com/3165635/54363899-2c96bf80-466c-11e9-9189-1ff65d6c5705.png)

Firefox doesn't focus the links by default on MacOS: http://kb.mozillazine.org/Accessibility.tabfocus. Can you confirm?

[2019-03-14 15:07] oliviertassinari commented on #14696
@mbrookes I'm reopening. I think that we should work when people switch between uncontrolled and controlled behavior.

[2019-03-14 15:34] helfi92 commented on #14884
I was able to make it work after doing what is suggested in https://stackoverflow.com/a/11713537/6150432:

[2019-03-14 15:34] #14884 closed

[2019-03-14 15:42] dawood11 opened #14885 "is there possible to get scroll position on select list onScroll?"
is there possible to get scroll position on <Select> list onScroll?

[2019-03-14 15:46] oliviertassinari commented on #14884
@helfi92 Do you have any idea why they do that? :o

[2019-03-14 15:50] Y0nnyy opened #14886 "Dialog renders children multiple times"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The children of a Dialog are only rendered once (if the state or the props of the Dialog change).

## Current Behavior 😯
The children of a Dailog are rendered three times although nothing (state, props

[2019-03-14 16:26] eps1lon commented on #14886
Render should always be "pure". If you want to prevent rerendering you can use `React.memo` or `PureComponent`.

[2019-03-14 16:46] #14886 closed

[2019-03-14 17:53] oliviertassinari commented on #14886
We have had a similar issue open recently. I can't find it.

[2019-03-14 17:54] #14885 closed

[2019-03-14 19:14] ecwyne opened #14887 "Next.js examples have empty #jss-server-side"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Server-rendered styles should be output to `<style id="jss-server-side">...</style>`

## Current Behavior 😯
jss-server-side is empty (flicker of unstyled content)

## Steps to Reproduce 🕹
Follow direct

[2019-03-14 19:40] ecwyne commented on #14887
I just tested [examples/ssr-next](https://github.com/mui-org/material-ui/tree/next/examples/ssr-next) as well and am experiencing the same (happy to deploy a reproduction if it would be helpful). `sheetsRegistry.toString()` returns an empty string in both cases

[2019-03-14 20:18] #14842 closed

[2019-03-14 20:24] kaitlynbrown commented on #14185
@mbrookes And you started so vaguely...

[2019-03-14 20:28] vitkon commented on #14875
@oliviertassinari  I can pick it up

[2019-03-14 20:32] oliviertassinari commented on #14875
@vitkon Awesome! :)

[2019-03-14 20:56] willowHR commented on #14887
Adding a codesandbox in case its useful - this is a cut and paste of the nextjs-next example

https://codesandbox.io/s/l269v41jl9

[2019-03-14 21:32] atulmy commented on #14840
I'm also getting this warning:
`Warning: Prop className did not match. Server: "MuiSvgIcon-root-1481" Client: "MuiSvgIcon-root-61"`

[2019-03-14 22:38] dandrei commented on #14887
I have a related issue with an app I'm developing, it used to work fine up until a few days ago.

- Developing on Windows 10
- Deploying on CentOS 7

The app I'm working on suddenly started bugging out when deployed on Linux, specifically `pageContext.sheetsRegistry.toString()` returns an empty string.

But it worked fine before.

I tried:

- deleting `node_modules` and `.next` directories (didn't

[2019-03-14 23:37] eps1lon opened #14890 "webpack asset size vs chunk size"
I noticed that upon moving files around that we get very strange differences in size reported: #14888.

The webpack stats are available for the base at https://circleci.com/gh/mui-org/material-ui/78237#artifacts/containers/0 and for the PR at https://circleci.com/gh/mui-org/material-ui/78307#artifacts/containers/0

What was weird is that the asset size for `Modal` changed by a whole kb while the s

[2019-03-14 23:55] t49tran commented on #14814
I encountered the same problem, the solution for now is to use `makeStyles` instead of `styled`.

I reckon update type definition for `ComponentCreator` to use `Styles` will work for now. What do you think @eps1lon ?

Something like:

[code]

[2019-03-15 00:31] #13611 closed

[2019-03-15 00:56] tograd commented on #14814
@t49tran

this is not true because of the issue epsilon mentioned

[2019-03-15 03:42] t49tran commented on #14814
Yeah, I think you are correct, there is a problem with the type for `makeStyles` to, it doesn't allow you to use function as a css prop.

[2019-03-15 06:10] ignitenet-martynas opened #14891 "[MenuItem] spacing between ListItemIcon and ListItemText"
Google Material Design spec says there should be a 20px gap between the icon and the text in dropdown menus:

![Capture d’écran 2019-04-14 à 19 51 45](https://user-images.githubusercontent.com/3165635/56096966-c57c5d00-5eee-11e9-8330-3a4fd368629c.png)

https://goo.gl/t6ME8T

However in Material-UI there is no difference between ListItem and MenuItem in this regard and the gap is 32px (which is c

[2019-03-15 07:24] ignitenet-martynas opened #14892 "[MenuList] Divider inside MenuList is keyboard-focusable"
When keyboard navigation using ArrowUp and ArrowDown keys is used in MenuList (or Menu), Divider elements get focused (with an outline indication) as if they were list items.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Dividers are ignored dur

[2019-03-15 07:51] mctep commented on #13702
@oliviertassinari Looks like that recent PR is not enough to fix the issue for all cases.

If you

  1) open the [official authoring practices](https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html) example,
  2) make some scroll to hide the first links,
  3) open the Dialog,
  4) focus to address (URL) window bar,
  5) and press `Tab` button

in the result scroll will be chan

[2019-03-15 08:09] ignitenet-martynas opened #14893 "[Popover] the "popover component is too tall" warning shown for 100% height"
Setting `marginThreshold` to 0 and creating a full-screen Popover by also tweaking its Paper styles results in a "Material-UI: the popover component is too tall." warning printed to the console.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Warn

[2019-03-15 08:11] eps1lon commented on #13702
Are the authoring practices doing this as well? We essentially copied their strategy and place the sentinels around the dialog body not the document body.

Have you tried this on https://next.material-ui.com?

[2019-03-15 08:28] mctep commented on #13702
No, the problem is not with `TrapFocus`. The original issue is fixed well. The authoring practices does not take in account change focus from the browser address bar.

Try to remove all fixed elements (header and two navs elements) through the Developer tools, close developer tools and change focus from browsers address bar:

![Untitled](https://user-images.githubusercontent.com/1949681/54418220-4

[2019-03-15 08:38] borremosch opened #14894 "Using MuiThemeProvider throws "Failed prop type" for underlying comopnent"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
I am using `MuiThemeProvider` to change the color of a Button component. I expect this to work without error

## Current Behavior 😯
The color of the button is changed. However, the browser shows the er

[2019-03-15 08:40] eps1lon commented on #13702
Please open a new issue and fill out the template. Especially something without removing elements with the devtools. If you break the page I would expect behavior to break as well.

[2019-03-15 08:44] mctep commented on #13702
It happens because the first element that could be focused (button `Edit This Page`) is hidden over the scroll. So when we focus to window Chrome focuses to this button and makes scroll into into view over it.

[2019-03-15 08:45] #11289 closed

[2019-03-15 08:50] SanzenDev commented on #6625
the sticky does not work for me, so any other solution on how to fix the table header?

[2019-03-15 08:53] eps1lon commented on #14894
This is an issue with `DialogActions`. You need a wrapping component that forwards the props to the button instead:

[code]

See https://codesandbox.io/s/qq97jvq83j.

This should be fixed on `next`.

[2019-03-15 09:00] mctep opened #14895 "[Modal] Scroll changes when focus from browser URL bar"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When any modal is open the window scroll position should not never change.

## Current Behavior 😯

When any modal is open we could change scroll by focus through browser address bar.

## Steps to Repr

[2019-03-15 11:23] eps1lon opened #14897 "TypeScript demos"
With #13229 we got the proper infrastructure to present our demos both in JavaScript and TypeScript. We want to continue this effort with the goal to have all demos available in TypeScript.

If you want to make contributions to this repository and know a bit of TypeScript we would appreciate you helping us.

## Getting started

TL;DR: Use #14739, #14485 or #14535 as example workflows.

0. Set up y

[2019-03-15 11:27] daviddelusenet opened #14898 "How to the new Styled components API CSS in combination with HTML elements?"
I'm just getting started with TypeScript and Material UI. I'm trying to use the `styled` API from the CSS in JS alpha.

This code works fine and doesn't get any errors in VSCode:

[code]

However, when I try to style a HTML element (a `div` for example):

[code]

The following error is thrown by VSCode: `Type 'ComponentType<never>' is not assignable to type 'ComponentType<{}>'.`

You can find a sc

[2019-03-15 11:31] eps1lon commented on #14898
@daviddelusenet  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2019-03-15 11:37] daviddelusenet commented on #14898
Thanks for the quick response @eps1lon ! However, the code works just fine, so providing a reproduction test case isn't really possible. There are only errors being thrown by VSCode, when I make a build everything works fine.

If you need any more information I would be happy to provide it.

[2019-03-15 11:54] eps1lon commented on #14898
This sounds like an issue with your editor then. It's either picking up a different tsconfig or it's using the wrong typescript version. Either way you should probably ask at stackoverflow or [our spectrum chat](https://spectrum.chat/material-ui).

[2019-03-15 11:54] #14898 closed

[2019-03-15 12:11] daviddelusenet commented on #14898
@eps1lon I'm pretty sure it's neither of those. The type just changes when using a HTML element instead of a React Component. See the following screenshots for clarification.

When hovering over

[code]

![Screenshot 2019-03-15 at 13 08 32](https://user-images.githubusercontent.com/1398418/54430316-7ee6e780-4723-11e9-896e-8074713b6cfd.png)

When hovering over:

[code]

![Screenshot 2019-03-15 at 1

[2019-03-15 12:16] AbuKalamAzad commented on #3388
const theme1 = createMuiTheme({
    overrides: {
        MuiSelect: {
            select: {
                "&:focus": {
                    background: "#3A3660"
                },
                color:'white'
            }
        },
    }
});

[2019-03-15 12:18] ssypi opened #14899 "NextJS server side rendering example, flash of unstyled content on first load with material-ui alpha 4.0.0"
For the new alpha 4 version of material-ui, the SSR guides on the website are out of date and github [nextjs-next example](https://github.com/mui-org/material-ui/tree/next/examples/nextjs-next) doesn't work properly either. In the example implementation of SSR in NextJS, there is flash of unstyled content on first load and on every full page refresh, server side rendering of styles doesn't work.

[2019-03-15 12:19] eps1lon commented on #14898
If your build passes and only your editor complains how is that not an issue with the editor but our typings? If you find an actual typescript error please include a full repro. Until then I can't help you debug your IDE.

[2019-03-15 12:25] ssypi commented on #14899
Ah, there's already issue with this same problem. I checked yesterday, but only got around to post this today. Sorry about that.

#14887

I will leave this open for now as I have some more info here, but feel free to close if necessary.

[2019-03-15 16:05] daviddelusenet commented on #14898
I've spend some more time on this and still didn't find a solution. I'm still fairly confident this is not a issue on my editors part.

@eps1lon I'm not sure what making a build does anything I've to do with wrong typings. My build also works if I for example do this:

[code]

So I'm expecting the `src` prop to be a boolean but passing a string and my build still passes.

I've also posted this iss

[2019-03-15 17:10] ArienHartgers commented on #7877
..Or write your own material button component:

[code]

And use this like a normal button:
[code]

[2019-03-15 17:17] eps1lon commented on #7877
Above pattern is discouraged: See https://material-ui.com/guides/composition/#caveat-with-inlining for a detailed explanation.

[2019-03-15 17:31] ArienHartgers commented on #7877
You are right!
Again:
[code]

And use this like a normal button:
[code]

[2019-03-15 19:01] invision-008 commented on #1578
@kenecaswell You just saved a life 👍 Thanks bro !!

[2019-03-15 19:58] zachariahtimothy commented on #14645
I am not seeing the final fix for this. I confirmed my issue is what @kenzhemir mentioned. My hook style is loaded before MUI styles so I have to override with !important which is super icky. Even adding style={} overrides is not helping nor classes: { root: ... }.

[2019-03-15 20:51] caub commented on #12293
WithStyles is supposed to use forwardRef https://github.com/mui-org/material-ui/blob/next/packages/material-ui-styles/src/withStyles/withStyles.js#L49, but when doing

[code]

`this.listEl` points to WithStyles `{props: {…}, context: {…}, refs: {…}, updater: {…}, jss: Jss, …}` instead of the DOM Element. Wrapping in `ReactDOM.findDOMNode` works to retrieve the dom element, but I thought it was dis

[2019-03-15 20:56] eps1lon commented on #14872
@TroySchmidt  You might be interested in [`createStyles`](https://material-ui.com/guides/typescript/#using-createstyles-to-defeat-type-widening).

This should have automatic class key inference and css type checks:
[code]

[2019-03-15 20:59] eps1lon commented on #14295
Closing this in favor of #14415. We will have proper ref documentation and typing once #14415 is closed.

[2019-03-15 20:59] #14295 closed

[2019-03-15 21:00] joshwooding commented on #14645
@zachariatimothy Do you have a reproduction?

[2019-03-15 21:04] eps1lon commented on #11294
What is the use case for having the `styles` object exported? We don't have any guarantee for the used css properties currently.

Our public API is simply that a component looks a certain way using a certain set of classNames. I would not recommend you use these styles for unrelated components since they might break on any release.

[2019-03-15 21:05] oliviertassinari commented on #12293
@caub :)

[2019-03-15 21:09] oliviertassinari commented on #11294
@eps1lon We are using it for generating the markdown classes API. I'm not aware of any valid use case for importing them. I never had one.

[2019-03-15 22:28] PabloDinella commented on #13734
Can't find this 'function as a parameter of makeStyles syntax' in docs, I only see [examples passing an object to `makeStyles`](https://material-ui.com/css-in-js/basics/#hook-api). Shouldn't it be noted that `makeStyles` also accepts a function that will receive the theme, or is it noted somewhere else?

[2019-03-15 22:44] FabianoLothor commented on #14645
Well, I solve adding the install steps in the bootstrap.js file. and adding differents names to all makeStyles calls.

[2019-03-15 23:10] likebeats commented on #14887
I had to revert to jss@10.0.0-alpha.12 to fix this issue for the time being.

[2019-03-15 23:39] ricokahler commented on #11294
i’m no longer importing styles and i can imagine making styles part of the public API being a hassle so feel free to close this issue.

i think my use case was to get the color of the filled text field variant or something like that? doesn’t matter though

[2019-03-15 23:48] ecwyne commented on #14887
https://github.com/cssinjs/jss/issues/1062

[2019-03-15 23:50] eps1lon commented on #11294
@ricokahler Always try to include a specific use case. While it's tempting to just look into the source and say what you want it makes it very difficult for us to find a good solution.

If somebody can provide a concrete use case I'm happy to reopen. I'm closing until then since the author has no use for this anymore.

[2019-03-15 23:50] #11294 closed

[2019-03-16 00:02] eps1lon commented on #13656
For `ListItem` that acts as a buttons you need to use a different container. You can follow the official example: https://material-ui.com/demos/lists/#simple-list

[2019-03-16 00:02] #13656 closed

[2019-03-16 04:02] brian02oriel opened #14904 "I use the code from "Horizontal Linear Stepper" bring a material ui form in each step but the base theme is combining with the default TextField theme"
`import React from 'react';
import Stepper from '@material-ui/core/Stepper';
import Step from '@material-ui/core/Step';
import StepLabel from '@material-ui/core/StepLabel';
import Typography from '@material-ui/core/Typography';
import Grid from '@material-ui/core/Grid';

import FormUserDetails from './FormUserDetails';
import FormPersonalDetails from './FormPersonalDetails';
import Confirm from '.

[2019-03-16 06:07] StupidSexyJake opened #14905 "FilledInput - add prop to change background color"
Changing the FilledInput component's background color isn't very simple.

You can't simply apply a background-color to the FormControl component as it covers the background-radius and there is still the semi-transparent overlay from FilledComponent that darkens the background color.

Changing the background-color in the FilledInput component itself also doesn't work by itself as it's overwritten o

[2019-03-16 07:29] riazi opened #14906 "selectors hover and focus in same time"
hi ,
when we do hover and focus in same time in list, just one item show select  , simple select not working correct but native select work correct ,
in simple select use ul li list and in native select use select and option ,
i cant resolve this bug !!!

[2019-03-16 08:43] mwaeckerlin commented on #2699
@jankalfus: How is RootRef supposed to work? It seems to be incompatible with the default React-`ref`, since, e.g here.:
[code]

`inputs.name.current` is defined, but `input.ref.current.value` is undefined!

To be compatible to the react-ref-hook-standard, `input.ref.current.value` should contain the value of the text field!

- What's wrong?
- Is this a bug?
- What can I do as workaround?

[2019-03-16 09:23] jankalfus commented on #2699
@mwaeckerlin
That's because you're trying to access a value of the wrapper div, not the input. See this fiddle for an example: https://jsfiddle.net/8ojwcvyd/
The key part is this: `this.myRef.current.querySelector("input").value`

[2019-03-16 09:29] mwaeckerlin commented on #2699
I found a solution that is compatible with the normal html elements:

https://stackoverflow.com/questions/51310609/unable-to-retrieve-the-input-field-of-material-ui-using-refs-in-react-js/55195196#55195196

[2019-03-16 09:37] mwaeckerlin commented on #2699
BTW, @jankalfus, I was looking for hours for a tutorial or example on how to use `ref=…` in `material-ui` and only found that nearly undocumented `RootRef` plus some tickets and some questions in Stack Overflow, but none with a good and working solution.

That means, I was not successful in finding a good comprehensive documentation on how to use `React.createRef` with `material-ui`. In any case:

[2019-03-16 09:39] mwaeckerlin commented on #2699
BTW: I'll use it in conjunction with an [addition to Drizzle-React-Components](https://github.com/trufflesuite/drizzle-react-components/issues/86) that I am working on.

[2019-03-16 10:08] joshwooding commented on #14906
Please use the issue template and provide a reproducible example. From what I can understand this question is better asked on [stackoverflow](https://stackoverflow.com/questions/tagged/material-ui)

[2019-03-16 10:09] #14906 closed

[2019-03-16 10:12] joshwooding commented on #14904
Please use the issue template and provide a reproducible example. From what I can understand this question is better asked on [stackoverflow](https://stackoverflow.com/questions/tagged/material-ui)

[2019-03-16 10:13] #14904 closed

[2019-03-16 11:50] Andesome opened #14907 "Check the render method of `WithFormControlContext(InputBase)`."
when use material-ui (3.9.2)`TextField ` in react(16.8.4) will be an error
code:

[code]

error:
[code]
![image](https://user-images.githubusercontent.com/15965343/54474885-a6be7400-4825-11e9-8b1c-6cdd54ff0707.png)

[2019-03-16 12:15] #10569 closed

[2019-03-16 12:30] StupidSexyJake commented on #10274
This doesn't really solve the issue as good UI means not showing the asterisk if most or all fields are required fields (in which case it's better to display optional fields). For example, login forms. Both username and password are required fields, and it's obvious to users they are required. There are no other optional fields so it's better to not have the asterisk.

[2019-03-16 12:34] mkermani144 commented on #10778
I read about all of the comments below this issue. My problem doesn't fit in any of the other ones mentioned earlier.

I have a `List` component containing some `ListItem`s, having one of them selected and highlighted. When I click another `ListItem` to select and highlight it, the whole list (containing its children) gets re-rendered again.

I know that this problem may seem exactly the same as [

[2019-03-16 12:49] oliviertassinari commented on #10778
@mkermani144 Remove Material-UI with native, observe that the rendering is still present. The pure logic won't help like this. React.createElement creates new references at each render, it invalidates your PureComponent.

[2019-03-16 13:13] mkermani144 commented on #10778
Yes, I know elements are objects, and objects are not strictly equal in Javascript, so `sCU` fails.

But I don't understand what you mean when you say `React.createElement` is called again. Which call to `createElement`? If you mean the calls inside `List`, it only calls `createElement` for its children (`ListItem`s) only if it is re-rendered. If it's not re-rendered, no `createElement` will be ca

[2019-03-16 13:22] oliviertassinari commented on #10778
@mkermani144 If you can create a minimal reproduction example, we can have a look at it.

[2019-03-16 13:38] Pajn commented on #10778
Your `MyList` (and thus `List`) gets rerendered because of the component that renders `MyList` (lets call it `MyComponent`) gets rerendered. PureComponent on `MyList` does not help as `MyComponent` have been rerendered and created new children for `MyList` so that `MyList`s check fails.

Your `MyComponent` probably gets rerendered because there is where you store the state of which item is selecte

[2019-03-16 13:53] mkermani144 commented on #10778
@Pajn No, look at my [React profiler results](https://github.com/mui-org/material-ui/issues/10778#issuecomment-473526403). `MyList` didn't re-render (it's grey), but `List` did (it's blue). I don't persist on `PureComponent` for `MyList`. Even though I implement `sCU` for `MyList` so that it doesn't re-render, `List` __does re-render__.

[2019-03-16 14:34] joshwooding commented on #14907
Could you provide a minimal reproducible example? I pasted your example into codesandbox and it worked for me.

[2019-03-16 16:20] oliviertassinari commented on #14905
@StupidSexyJake We have recently added a FilledInput customization example to match Reddit:
https://next.material-ui.com/demos/text-fields/#customized-inputs
[code]
![Capture d’écran 2019-03-16 à 17 10 39](https://user-images.githubusercontent.com/3165635/54478049-715a5c00-480e-11e9-91b5-6935e42cae2f.png)
https://codesandbox.io/s/j65nlor1v

[2019-03-16 16:23] oliviertassinari commented on #14905
There is no single background color, there are multiple states. Let us know if you have more idea around how we can improve the overrides.

[2019-03-16 16:23] #14905 closed

[2019-03-16 16:23] oliviertassinari commented on #14899
@ssypi Thank, I'm closing as a duplicate of #14887.

[2019-03-16 16:23] #14899 closed

[2019-03-16 17:07] oliviertassinari commented on #14895
@mctep Have you found any implementation that handles this case correctly? I can't so far:
- KO: https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html
- KO: https://getbootstrap.com/docs/4.3/components/modal/
- KO: https://ant.design/components/modal/
- KO: https://github.com/reactjs/react-modal (https://codesandbox.io/s/6z9n46j34k)

[2019-03-16 17:11] oliviertassinari commented on #14894
I confirm, the problem was fixed on the latest next release.

[2019-03-16 17:11] #14894 closed

[2019-03-16 17:26] oliviertassinari commented on #14893
@ignitenet-martynas Your analysis of the situation is correct. I agree with the suggested changes:
[code]
Do you want to submit a pull request? :)

[2019-03-16 17:29] oliviertassinari commented on #14892
@ignitenet-martynas Correct, I'm closing for #13708.

[2019-03-16 17:29] #14892 closed

[2019-03-16 17:47] AmitFeldman opened #14910 "LTR Components in an RTL project."
Hello!

## Expected Behavior 🤔

## Current Behavior 😯

## Examples 🌈

## Context 🔦

[2019-03-16 17:47] #14910 closed

[2019-03-16 17:53] HHammerite commented on #2777
For any readers who are still wondering about how to use your own SVG you can simply ignore the <SvgIcon> component and use an <img> in place of it.

`<StepLabel
        icon={
              <img src={require("images/milestones/bootstrap.svg")} alt="" width="50" height="50" />
                  }
   />`

[2019-03-16 18:04] AmitFeldman opened #14912 "LTR Components in an RTL Project"
Hey everyone!

I'm adding MUI to an RTL project and I had an issue that I couldn't find covered in the docs. Even though most of our components do need to be rtl we would like the ability to opt out for certain components. For example, we would want a normal rtl form group but with ltr switches inside. When I first read the [docs](https://material-ui.com/guides/right-to-left/#opting-out-of-rtl-tra

[2019-03-16 18:06] mctep commented on #14895
No. Looks like all projects are affected by the issue.
I have made this trick for my company UI library.

[2019-03-16 19:31] oliviertassinari commented on #14912
Have you tried nesting two ThemeProvider, with two different directions, also changing the dir HTML attribute?

[2019-03-16 19:46] amcquade commented on #14474
master branch didnt work for me either. just ended up commenting out the spacing lines.

[2019-03-16 20:00] Anapher opened #14913 "[Slider] The touch event is bubbled up to parent controls"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The slider should swallow the touch events to other parent controls cannot react to these events and to another action for the same interaction.

## Current Behavior 😯

Currently, the events bubbles u

[2019-03-16 20:44] AmitFeldman commented on #14912
https://stackblitz.com/edit/react-cdoy9b

Awesome! Thanks a bunch @octavioamu! I guess I could make some kind of wrapper that would have this functionality whenever my team needs it. Do I need to worry about the performance implications of having this all over the app?

[2019-03-16 20:54] oliviertassinari commented on #14912
@AmitFeldman The performance implication of nesting theme providers is very limited, the performance cost scales with the number of different themes you inject in your page cross the cardinality of the theme provider's children components.

[2019-03-16 20:55] #14912 closed

[2019-03-16 21:04] mctep commented on #14895
Hm... If `tabidex="0"` is added to body element the issue is gone for `w3.org` sample.

[2019-03-16 23:12] rdamus commented on #14474
@amcquade agreed.  just checked out master. same theme.spacing error is thrown when i copy Dashboard.js into a new project and try to use the component as-is

[2019-03-16 23:14] oliviertassinari commented on #14474
Can somebody point a line were we do it wrong?

[2019-03-16 23:17] rdamus commented on #14474
sorry, turns out i was on the "next" branch, which _does_ have the error.

the master branch now has the theme.spacing.unit instead of the theme.spacing() call, which differs from the original

from _master_ branch, Dashboard.js:83
content: {
    flexGrow: 1,
    **padding: theme.spacing.unit * 3,**
    height: '100vh',
    overflow: 'auto',
  },

[2019-03-17 01:15] crazywire opened #14916 "Disable Slider Ribble"
I wanted to disable ribble on the Slider component.  Using #13805 PR will not prevent the ribble.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
This should disable the ribble when applied to the root component.
[code]

## Current Behavior 😯
The o

[2019-03-17 03:17] StupidSexyJake commented on #14905
Ah ok. So the mistake I was making was by setting the override in className rather than classes={{root: ...,}}. Thanks for the help!

[2019-03-17 04:06] StupidSexyJake commented on #14119
OMG, yes please! I was about to submit a new support issue about exactly this. I don't want the input label to be shrunk when not focused, but I can't simply add shrink={false} as a prop on the input label as I need it to behave like a normal input label (i.e. shrink when focused or contains a value).

Are there any current workarounds until this gets added?

[2019-03-17 04:38] Andesome commented on #14907
I have solved it . thanks. I guess the problem is I did not stop the program when  I add material-ui modules to project. stop the program then yarn start . is ok.

[2019-03-17 04:38] #14907 closed

[2019-03-17 05:09] aditya81070 commented on #13448
@oliviertassinari when this pull request will be merged. I was not understanding the concept of breakpoints from last one hour.

[2019-03-17 05:21] aditya81070 commented on #13448
@oliviertassinari If I am following the piece of code then my component should change the color between width `600px` and `960px` but it changes the color below `600px`.  Why this strange behavior?
[code]

[2019-03-17 08:37] mkermani144 commented on #10778
@oliviertassinari
I created a minimal reproduction example:
[code]
React profiler results (after clicking on the 4th list item):

![image](https://user-images.githubusercontent.com/12621708/54487567-cea4ea80-48ac-11e9-8d2e-5ce528a33b2c.png)

As you can see, it works as expected, i.e. there is no extra re-renders (except for `ButtonBase` components inside `ListItem`s). The problem is that, this rep

[2019-03-17 10:02] ignitenet-martynas commented on #14892
Apologies, no idea how I missed the existing issue.

[2019-03-17 10:12] #14873 closed

[2019-03-17 10:14] #14874 closed

[2019-03-17 11:15] Pajn commented on #14913
The correct thing would probably be to apply `touch-action: pan-x;` or `touch-action: pan-y;` to the slider depending on the orientation, however I think that is a compatibility nightmare, so maybe it should always apply `touch-action: manipulation;` and call it a day?

[2019-03-17 14:10] siriwatknp opened #14920 "[TextField] display placeholder even it is not focused"
This is TextField that I want to customize.
![image](https://user-images.githubusercontent.com/18292247/54492380-a0e59300-48f8-11e9-8b28-bd7c1c347212.png)
I want to show placeholder at initial. However, I don't know how it is hidden (right now, the behaviour is that the placeholder will show if you focus on it). I read the component code in github but could not find the cause. If anyone know, plea

[2019-03-17 14:20] joshwooding commented on #14916
The Slider doesn't have a ripple. I'm guessing you are talking about the pressed shadow? The only way to disable that is to override the boxShadow.

[2019-03-17 14:28] #14920 closed

[2019-03-17 17:22] vitkon commented on #14893
@oliviertassinari  I can pick it up if no one else is on it

[2019-03-17 17:48] jeetu241295 commented on #14810
Any Solution??

[2019-03-17 19:03] JeromeFitz commented on #14887
Looks like it moved to: `css = pageContext.sheetsRegistry.registry.toString();`

I have a branch here: https://github.com/JeromeFitz/material-ui/tree/example--nextjs--alpha.3

Did not create a PR yet, as it is not working as expecting server-side in the example for `nextjs-next`, but everything is working just fine SSR on the projects I updated to use `.registry`.

[2019-03-17 19:09] oliviertassinari commented on #14887
The problem if fixed now with Material-UI v4.0.0-alpha.4 & JSS v10.0.0-alpha.14.

[2019-03-17 19:09] #14887 closed

[2019-03-17 19:12] JeromeFitz commented on #14887
Word. Nicely done!

Just verified myself on removing the `.registry` update and re-installing packages on the `nextjs-next` example as well.

[2019-03-17 20:12] liesislukas opened #14926 "Tabs demo is inaccurate for 4K display. Scroll is not visible for Scrollable Tabs"
These demos don't show the scroll idea when browsing with the 4K display, which is a popular display size nowadays.

There are just not enough tabs to see the scroll.

![image](https://user-images.githubusercontent.com/2733862/54497280-6c2a0980-4901-11e9-9fe3-50db0e6a0d8c.png)

https://material-ui.com/demos/tabs/#scrollable-tabs

[2019-03-17 21:23] oliviertassinari commented on #14926
@liesislukas Should we add more tab to the demos?

[2019-03-17 21:24] oliviertassinari commented on #14926
Better, what do you think of limiting the documentation body width?

[2019-03-17 21:41] amcquade commented on #14474
https://github.com/mui-org/material-ui/blob/02b6dab6032d0bfe9473847c366e5de6731f4d74/docs/src/pages/getting-started/page-layout-examples/dashboard/Dashboard.js#L76

[2019-03-17 21:47] oliviertassinari commented on #14474
@amcquade This is the next branch, how did you arrive here?

[2019-03-17 21:50] oliviertassinari commented on #14926
What do you think of:
[code]

[2019-03-17 22:48] mschipperheyn opened #14929 "Replace react-jss with that?"
- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
I have the requirement to use material-ui in an SSR scenario. I was kind of surprised to find that I still need `react-jss` for this (and that material-ui still uses it or a fork thereof). `React-jss

[2019-03-17 22:54] joshwooding commented on #14929
react-jss isn't archived. It's moved to the jss monorepo as stated on the repository.

[2019-03-17 23:28] oliviertassinari commented on #10778
@mkermani144 What do you think of this fix?
[code]
Do you want to submit a pull request? :)

[2019-03-17 23:57] rlacorne commented on #12827
It is actually very easy to provide javascript dynamism to CSS variables. And in a way that stays sort of semantic.

Say you have a color value graded on an hsla rotation, and that the dynamic part is the H parameter.

The static css would be written as such : `color: hsla(var(--graded-value), 100, 100, 1);`

Now of course javascript cannot go write that in CSS (It can, but it would remove the who

[2019-03-18 00:18] mbrookes commented on #12827
@rlacorne The original request was to somehow support this as a theme option. Inline styles are a different beast.

@oliviertassinari apologies I missed the original name-check. I have no idea how we could reconcile those two concerns.

[2019-03-18 00:20] rlacorne commented on #12827
It can absolutely be used for themes in the same way.

CSS has the :root {} decalaration, it's only a matter of injecting global styles on the app.

[2019-03-18 02:09] ankithkonda commented on #779
Any update on this?

[2019-03-18 02:14] ClassicDarkChocolate opened #14930 "Weird use of createStyles"
It's a bit weird to create a unnecessary function `createStyles` to deal with typescript typings.

I think the normal typescript way to do this is to type the `styles` explicitly with `StyleRulesCallback`:

[code]

Maybe we can remove `createStyles` function and use this in the guide.

[2019-03-18 04:52] thomaseizinger opened #14931 "[typescript] Cannot define custom mixins"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Being able to define a custom mixins through the `createMuiTheme` function like this:

[code]

## Current Behavior 😯

The typescript compiler complains that `border` is not a valid member of the `Mixi

[2019-03-18 05:07] arunmvit opened #14932 "withStyles function not working in internet explorer 11"
can u give me a place holder will try to reproduce the issue? where withStyles function doesn't work in internet explorer 11, need help could you please check the same ,

[2019-03-18 05:13] arunmvit commented on #14932
https://30l85k7mw5.codesandbox.io/ , you can verify same and test it in IE 11 , does't display anything

[2019-03-18 06:38] stackstack777 opened #14933 "Easiest way to set up example theme?"
Hello

I am new to react JS and find it hard to navigate the documentation around example themes. I want to serve static website based on
https://github.com/mui-org/material-ui/tree/master/docs/src/pages/premium-themes/onepirate but can’t find any documentation. Is there any REDME to install and run this theme locally?

Do I just need npm install and run? How do I get started?

Any help would be a

[2019-03-18 07:28] mkermani144 commented on #10778
@oliviertassinari Sure. This is exactly what @Pajn suggested earlier. I submitted a [PR](https://github.com/mui-org/material-ui/pull/14934).

[2019-03-18 07:34] eps1lon commented on #14932
This is an issue with codesandbox: CompuIves/codesandbox-client#1187. I built it locally and had no issues in IE11.

If you encounter any error locally please include the full console error messages.

[2019-03-18 07:47] eps1lon commented on #14930
Did you have a chance to read https://material-ui.com/guides/typescript/#using-createstyles-to-defeat-type-widening?

Does your proposed solution infer the correct classnames? I suspect I could access any `props.classes.someRandomClassThatWasNeverDefined` which is was we're trying to avoid. You're free to type out every class name explicitly. Maybe you later have to add the props type etc.

`creat

[2019-03-18 08:56] oliviertassinari commented on #14932
We need to fix #14774.

[2019-03-18 08:57] oliviertassinari commented on #14929
@mschipperheyn You don't need react-jss.

[2019-03-18 08:57] eps1lon commented on #14932
Unrelated here.

[2019-03-18 09:03] oliviertassinari commented on #14933
I'm closing for #14604.

[2019-03-18 09:03] #14933 closed

[2019-03-18 09:03] #14929 closed

[2019-03-18 09:05] daviddelusenet opened #14935 "How to select child element when using the new Styled Components API?"
I'm just getting started with TypeScript and Material UI. I'm trying to use the `styled` API from the CSS in JS alpha.

Let's say I've the following code:

[code]

And I would like to style all `iframe`s inside on this class. In Styled Components I would do it like [this](https://www.styled-components.com/docs/basics#pseudoelements-pseudoselectors-and-nesting).

How can I achieve the same when usi