[2020-06-11 11:09] thaind97git opened #21394 "Shrink InputLabel wrong css when displayEmpty with Select outlined"
When I set InputLabel with `shrink={true}` and FormControl is `outlined`, The InputLabel background is not correct

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The background of `InputLabel (shrink={true})` when use `FormControl

[2020-06-11 12:07] oliviertassinari commented on #21326
Agree, I think that using the Step would make more sense here.

[2020-06-11 12:19] eps1lon commented on #21392
@karl-run Oh right. But only in JSDOM i.e. when using jest. In a browser they should not be included by `ByRole`. JSDOM doesn't fully implement CSS cascade.

[2020-06-11 12:32] lestgabo commented on #14260
@roggeo thanks Roggeo your answer is just as good if not better than Tralawar's answer because the codes is more understandable and more common than `margin="dense"`

[2020-06-11 12:41] #19427 closed

[2020-06-11 13:19] Hobbit44 commented on #6957
@oliviertassinari Is there a handler still fired even when the button is disabled? I want to add handling to highlight missing fields on a form.

[2020-06-11 14:02] mmahdigh opened #21395 "jss-rtl not working: Type '(Plugin | { onProcessStyle(style: any, rule: any, sheet: any): any; })[]' is not assignable to type 'readonly Plugin[]'"
Hey!
My project was using the below dependancies:

[code]
Then I installed @material-ui/lab and had to upgrade @material-ui/core. my current dependencies are:

[code]

but I get the below error when trying to make my layout rtl. below is the part of code that errros and the error.

[code]

[code]

[2020-06-11 14:22] mdazy commented on #21393
I confirm it appears to be working correctly with Chrome. I will double-check Edge but this looks more and more like the issue is rather in Firefox.

The text type + numeric inputMode version does work, but it implies we need to handle l10n on our own, and it doesn't feature the spinbox.

At least we're getting the correct value in props and callbacks anyway, so probably we can live with this mino

[2020-06-11 14:22] #21393 closed

[2020-06-11 14:33] mdazy commented on #21393
I confirm it appears to be working correctly with Chrome. I will double-check Edge but this looks more and more like the issue is rather in Firefox.

The text type + numeric inputMode version does work, but it implies we need to handle l10n on our own, and it doesn't feature the spinbox.

At least we're getting the correct value in props and callbacks anyway, so probably we can live with this mino

[2020-06-11 15:20] oliviertassinari commented on #21395
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-06-11 15:21] #21394 closed

[2020-06-11 15:21] oliviertassinari commented on #21394
@thaind97git You need to tell the select that the notch should be "open".

[2020-06-11 15:38] WalidKurchied opened #21396 "Material-UI: The popover component is too tall. Error when using Menu component"
I have a Menu component with MenuItems on desktop it takes certain width and height but on mobile i set the height and width to 100% to cover the entire screen and it throws this warning:

**Material-UI: The popover component is too tall.
Some part of it can not be seen on the screen (16px).
Please consider adding a `max-height` to improve the user-experience**
I have searched for this issue on st

[2020-06-11 15:40] oliviertassinari commented on #21396
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-06-11 15:45] nemethricsi commented on #11217
adding `{ name: 'HookGlobalStyles', index: 2 }` as a second parameter to `makeStyles` solved the issue for me:

[code]

[2020-06-11 16:12] WalidKurchied commented on #21396
@oliviertassinari Thanks for sharing the template with me. I have implemented a simple example here [https://codesandbox.io/s/adoring-swirles-hiobi?file=/src/App.js](url) to see the issue please open the console on codesandbox and you'll notice the warning message

[2020-06-11 16:41] sheats opened #21397 "Module not found: Can't resolve './utils/createSvgIcon'"
Definitely could just be me but it seems like there's a problem with typescript and @material-ui/icons.

I'm in a next.js typescript project with two dependencies: @material-ui/care and @material-ui/icons.  When I try to import an icon component I get the error: "Module not found: Can't resolve './utils/createSvgIcon' in '~/material-ui-bug/node_modules/@material-ui/icons'"

- [x] The issue is pres

[2020-06-11 20:13] joejordan commented on #20286
Came across this issue after discovering that `openOnFocus` was not working as expected. My use case is that I do not want to ping my server for options until the user has typed something. Thanks @AurelienVernay for the workaround until this is resolved.

[2020-06-11 20:56] vvni commented on #21377
[code]
This will cause an error.

[2020-06-11 21:42] mbrookes commented on #21377
Definitely not a Material-UI issue in that case.

[2020-06-11 21:59] oliviertassinari opened #21399 "[docs] Wrong version localized URL"
The issue was first reported by @jaironalves. We hard-code the link to the versions URL without taking the locale into account:

- https://github.com/mui-org/material-ui/blob/68d1953fc09c0deb8a6bc4ba5202f9f35df514d5/docs/src/modules/components/AppFooter.js#L159
- https://github.com/mui-org/material-ui/blob/68d1953fc09c0deb8a6bc4ba5202f9f35df514d5/docs/src/modules/components/AppDrawer.js#L156

I do

[2020-06-11 22:00] nickhallph commented on #17572
thanks google! this was helpful! :)

[2020-06-11 22:09] oliviertassinari commented on #21396
Set `marginThreshold={0}`

[2020-06-11 22:09] #21396 closed

[2020-06-11 22:09] jaironalves commented on #21399
So, i have imagined to use only href="/versions/". In pratice the location is "https://material-ui.com/zn" so href will point to "https://material-ui.com/zn/versions".

[2020-06-11 22:16] oliviertassinari commented on #21397
@sheats I have tried your reproduction, it works without any error. You might have an issue with your environment.

[2020-06-11 22:16] #21397 closed

[2020-06-11 22:17] oliviertassinari commented on #21399
We don't use `href="/versions/"` so that the versions link on https://v4-5-2.material-ui.com/ pointest to the most recent page.

[2020-06-11 23:37] ldiego08 commented on #16947
+1 `styles` is the main reason we’re migrating to Material UI and moving away from styled components. It’s too much CSS and refactoring it has proven to be a huge burden for us.

[2020-06-12 00:08] RebeccaStevens opened #21401 "[Autocomplete] Add ability to access the filtered options"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Give a way to access the [`filteredOptions`](https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L190).

## Examples 🌈

Maybe it could be used like this:

[code]

Or more simply f

[2020-06-12 01:25] jaironalves commented on #21399
Ok. I understood.

[2020-06-12 03:10] sheats commented on #21397
OK, thanks... that's what I figured but really struggling to know what might cause something like this.  Any ideas off the top of your head?

[2020-06-12 04:16] sheats commented on #21397
OK, I think it may have something to do with the fact that i'm using yarn workspaces.  I updated my repo with that scenario.

[2020-06-12 07:05] TheHolyWaffle commented on #6115
@schnerd  I've updated your benchmark to include the Material-UI inhouse `styled` api which should mimick `styled-components`. I was surprised to see how incredibly slow it is compared to the other options. See https://codesandbox.io/s/css-in-js-comparison-ljtjz?file=/src/App.js

![image](https://user-images.githubusercontent.com/787914/84474638-744f3100-ac8b-11ea-8800-d4372116a54d.png)

[2020-06-12 07:22] ankit-gupta1307 commented on #18018
@oliviertassinari can you please look into it on priority if possible ? I am stuck right now. Will have to update the css from the whole application because of this issue.

[2020-06-12 07:52] adir1661 commented on #18018
@ankit-gupta1307 have tried to check in your whole application if u have imports with duplicate component directory like this example: `import Typography from '@material-ui/core/Typography/Typography'` ?

[2020-06-12 08:06] WalidKurchied commented on #21396
@oliviertassinari thank you very much that solved the issue.

[2020-06-12 08:45] oliviertassinari commented on #21401
You can provide your own filtering logic. If you return no results, you know the outcome :).

[2020-06-12 08:45] #21401 closed

[2020-06-12 09:42] ankit-gupta1307 commented on #18018
Yes @adir1661 I have looked into my application, don't have these kind of import statements.

[2020-06-12 11:07] MargaretKrutikova opened #21404 "Render items different from selected in Autocomplete tags"
It would be nice if `Autocomplete` could show tags different from selected items. Right now there is `renderTags` that has selected items and a function to get tag props from the item's index. This is not a very flexible api because it couples items with their indices.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not

[2020-06-12 11:40] mbrowne commented on #6115
Does anyone know if `@emotion/styled` (which has basically the same API as styled-components) would be equally slow? I'm just wondering if there's anything about their implementation that might be better optimized.

[2020-06-12 11:58] DuudeXX8 commented on #8489
Actually this happen when I don't provide a exact value for onChange function.
If I remove event parameter from code below the error will be shown.

`const handleChange = (event, newValue) => setValue(newValue);`
`<AntTabs value={value} onChange={handleChange} aria-label="ant example">`

[2020-06-12 12:40] hems commented on #18018
same here, got the same bug and none of that double folder import.

I'm using dynamic styles .

[2020-06-12 13:49] sai1139 commented on #18322
onhover will work on progress bar?

[2020-06-12 14:14] sajadghawami commented on #7466
This fixed it fo me... thanks!

[2020-06-12 14:52] bahaa-kallas opened #21405 "Rename "in" property in Collapse component to be able to use it from Kotlin/React"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

in Kotlin/React projects you able to use existing javascript libraries and packages as you do in normal javascript but in order to use it in you code you need to write import statemen

[2020-06-12 15:34] birdca commented on #11251
[code]

[demo](https://8psfi.csb.app/)

[2020-06-12 17:33] Icehunter commented on #6115
https://codesandbox.io/s/css-in-js-comparison-sej1m

![image](https://user-images.githubusercontent.com/677341/84530651-1d9c2400-ac98-11ea-8a16-42f31becf75b.png)

About as fast as styled components. Still not as fast as makeStyles. The issue I see for the most part is object creation and object caching/memoization differences.

[2020-06-12 18:26] teenguyen opened #21407 "[Autocomplete] change `renderOption` to render the whole option and not just li child"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

The history of this [ticket](https://github.com/mui-org/material-ui/issues/19254) is similar though

## Summary 💡

Similarly to the other render[Component] props, is there a possibility to have full control over the option component? At the moment `renderO

[2020-06-12 18:42] mbrookes commented on #21405
`in` comes from react-transition-group. If we renamed it, it would break use with [TransitionGroup](http://reactcommunity.org/react-transition-group/transition-group)

[2020-06-12 18:44] xiaoyu-tamu opened #21408 "TextField padding inconsistencies when variant is filled ,multiline and hiddenLabel."
I'm not sure it's a bug or not. multiline fill TextField does not remove extra padding.

![image](https://user-images.githubusercontent.com/33362998/84536187-ea1ac300-acb2-11ea-845a-0dea397de1ea.png)
![image](https://user-images.githubusercontent.com/33362998/84536199-ee46e080-acb2-11ea-8fe5-3cef7c683163.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](htt

[2020-06-12 18:59] xiaoyu-tamu opened #21409 "Autocomplete padding inconsistencies when variant is filled and hiddenLabel."
Related to #21408

![image](https://user-images.githubusercontent.com/33362998/84537041-a5902700-acb4-11ea-8e4c-b3b4403641e1.png)

![image](https://user-images.githubusercontent.com/33362998/84537071-ad4fcb80-acb4-11ea-8c70-6360e856cfa2.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and be

[2020-06-12 19:11] ldiego08 commented on #6115
Hmm, this might trouble our migration plans to MUI quite a bit. We're currently moving away from `styled-components` in favor of the Material UI styling system after running into a lot of trouble managing our CSS, theming, and performance. `styled components` was fine at first, we built our own theming solution on top of it, but when the UI grew, so did the CSS. We use TypeScript, so the fact that

[2020-06-12 19:12] craigpullar commented on #9337
We find the same issue with the Modal and the ref/resize fix does not work for us either

[2020-06-12 20:08] AncientSwordRage commented on #9337
See my fix here https://github.com/mui-org/material-ui/issues/19786#issuecomment-589267821

[2020-06-12 20:35] bahaa-kallas commented on #21405
thanks for the explanation @mbrookes
i will close the ticket for now as it (not material-ui issue). will try to find WA to make it works

[2020-06-12 20:35] #21405 closed

[2020-06-12 21:18] oliviertassinari commented on #21409
The padding is optimized for the need of the component.

[2020-06-12 21:18] oliviertassinari commented on #21408
The padding is optimized for the need of the component.

[2020-06-12 21:18] #21408 closed

[2020-06-12 21:28] oliviertassinari commented on #21407
@teenguyen Thanks for resuming the discussion from #19254. I'm reopening.

[2020-06-12 21:28] #21407 closed

[2020-06-12 21:42] oliviertassinari commented on #19254
Would it make sense to make this change?

[code]

From the implementation side of things, it would mean something close to this to have it work:

[code]

[2020-06-12 21:49] oliviertassinari commented on #21404
@MargaretKrutikova I'm sorry, I'm not sure to fully understand your pain point. Do you have a reproduction we could look at? :)

[2020-06-12 23:20] mmahdigh commented on #21395
It was actually a problem with `jss`, I needed to update to `10.0.3` apparently to make it work.

[2020-06-12 23:20] #21395 closed

[2020-06-13 04:19] MyCupOfTeaOo opened #21411 "[LinearProgress] Stays stuck on Chrome 83"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the value transfer is too fast,
The progress bar does not move

## Expected Behavior 🤔

The progress bar move

## Steps to Reproduce 🕹

https://codesandbox.io/s/material-progress

[2020-06-13 09:10] oliviertassinari commented on #21395
@mmahdigh Thanks for sharing the solution

[2020-06-13 10:18] oliviertassinari commented on #21377
@vvni Do you have a reproduction? I believe the correct imports with vite are

[code]

[2020-06-13 10:56] oliviertassinari commented on #21411
Interesting feedback, it seems to be in direct opposition with the requirement of #11289. We broke this support for high-frequency updates in #14882. In this case, I would recommend that we update the documentation:

[code]

https://codesandbox.io/s/material-progress-scale-rwc56?file=/demo.js

[2020-06-13 11:32] oliviertassinari commented on #21377
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure people are looking for such example. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-06-13 12:13] eps1lon commented on #21411
Use "frames per second". "Hertz" has no inherent meaning.

[2020-06-13 12:17] oliviertassinari commented on #21411
Agree, we could be more explicit. Hz as renders per second (React).

[2020-06-13 14:20] idirouhab opened #21415 "[Drawer] Using useRef inside a drawer gives current=null"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Creating ref pointing to a Drawer or any element within the Drawer returns ref.current=null

## Expected Behavior 🤔
I'm expecting to be able to create a ref inside a Drawer and be able

[2020-06-13 14:24] xiaoyu-tamu commented on #21408
@oliviertassinari  Ok, I will override it myself, but whats the extra top padding for? The user already pass hiddenLabel prop.

[2020-06-13 14:30] dnicerio commented on #21411
Hi! Just new in contributing to open source. Can I work on this?

[2020-06-13 14:36] whackyfool commented on #12759
- `

1.

- [ ]  [#@@@@@#@](**### **_

-

url

))))`

_****)

`

[2020-06-13 15:38] newtack opened #21417 "OverridableComponent should be imported via import type"
I am trying to use pika snowpack for our development but get an error on "OverridableComponent"

See this discussion: https://www.pika.dev/npm/snowpack/discuss/361

This error would go away if instead of using "import" material-ui would use "import type" for types declared only in d.ts files.

(see https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#:~:text=import%20type

[2020-06-13 17:49] guimacrf opened #21418 "Pagination is ignoring siblingCount when boundaryCount is zero"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When boundaryCount is set to zero, Pagination:
- shows only first and last pages, no matter what i set on siblingCount;
- doesn´t show the current page (if the current is not the firs

[2020-06-13 18:39] oliviertassinari commented on #21415
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/gifted-wilbur-g4bgc?file=/src/App.jsx) _may_ be a good starting point. Thank you!

[2020-06-13 18:43] oliviertassinari commented on #21417
@newtack The syntax is only supported since [TypeScript 3.8](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html). We support [TypeScript down to 3.2](https://material-ui.com/getting-started/supported-platforms/#typescript). I don't think that we can solve it here.

[2020-06-13 20:38] goxr3plus commented on #18322
Is this done? How can we use +:)

[2020-06-13 20:40] oliviertassinari commented on #18322
@goxr3plus https://material-ui.com/components/progress/#circular-with-label

[2020-06-13 22:56] rareyesdev commented on #17973
I'm using this, but I also think that MUI should come with this definition backed in.

[Full example (codesandbox)](https://codesandbox.io/s/material-ui-classes-prop-typescript-gg0lc?file=/src/StyledChild.tsx:141-583)

### Type
[code]

### Usage
[code]

[2020-06-13 23:30] oliviertassinari commented on #21418
@guimacrf Thanks for taking the time to report the issue What do you think of this patch? Do you want to work on it? :)

[code]

[2020-06-14 04:38] jdbence opened #21421 "[DialogTitle] I would expect the color prop to be passed to the Typography component"
https://github.com/mui-org/material-ui/blob/e8f1ea2c7ddc993577787895ea424e38187bab5b/packages/material-ui/src/DialogTitle/DialogTitle.js#L24

Besides just the color prop, another option is to have a separate Typography prop that gets passed to the Typography component.

To get around this issue for now, I'm using the ```disableTypography``` and passing in my own Typography component.

[2020-06-14 06:34] aniiantt opened #21438 "the makestyles generate class names that are unstable for the same component."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

MakeStyles generates a different className when the component is destroyed and reloaded.
![image](https://user-images.githubusercontent.com/7029338/84586254-f7c77880-ae6b-11ea-8fd0-c9

[2020-06-14 06:45] N4Design opened #21439 "Use Material UI Tooltip for Autocomplete Open/Close/Clear Icons"
The "tooltip" is a standard browser one based upon title instead of Material UI Tooltip component.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I expect to be able the default to be a Material UI Tooltip component to Autocomplete or be able to set it as the default and style it accordin

[2020-06-14 07:49] oliviertassinari commented on #21438
It's expected

[2020-06-14 07:49] #21438 closed

[2020-06-14 07:56] #14815 closed

[2020-06-14 08:06] oliviertassinari commented on #21411
Actually, in think that Hz and FPS should be used in conjunction. We won't notice any change above 60 FPS because it match the refresh rate of the browser.
However for the slower updates, the issue is the transition duration: 200ms at an update frequency of 30 Hz, we get 30 renders per second, one every 33ms. The transition progress to 17% of the final value before receiving a new target. It lag,

[2020-06-14 08:22] oliviertassinari commented on #19557
Closing for #19108

[2020-06-14 08:22] #19557 closed

[2020-06-14 09:26] oliviertassinari commented on #21439
Duplicate of #20991

[2020-06-14 09:26] #21439 closed

[2020-06-14 09:30] oliviertassinari commented on #21421
Duplicate of #19696

[2020-06-14 09:30] #21421 closed

[2020-06-14 09:58] aniiantt opened #21440 "Bordercolor is invalid when the box components borderRight and borderBottom are set"
## Current Behavior 😯
https://codesandbox.io/s/material-demo-zqxut?file=/demo.js

borderright and borderbottom are not the right colors

## Expected Behavior 🤔

The borderColor is compatible with both borderRight and BorderBottom

[2020-06-14 10:04] oliviertassinari commented on #21440
Duplicate of #16995

[2020-06-14 10:04] #21440 closed

[2020-06-14 11:56] MyCupOfTeaOo commented on #21411
I don't know why in the case of retaining the transition, if I use scale to control it will not happen

[2020-06-14 12:01] MyCupOfTeaOo commented on #21411
I understand why not use scale to control, but I am curious why the result of scale control is so different from translate

[2020-06-14 12:03] oliviertassinari commented on #21411
@MyCupOfTeaOo I don't know

[2020-06-14 13:32] fast-reflexes opened #21441 "[Select] Focusing component with inputRef gives null value despite check"
**Problem:**
I attempt to focus a MaterialUI Select component programmatically by passing a callback ref. In this ref, I verify that that the input is not null and then I try to focus the input by means of `focus()`. The original error involves shifting from native to non-native component based on screen width, and this bizarre error appeared only when enlarging the screen from narrow to wide (oth

[2020-06-14 13:51] tchmnn commented on #21399
@oliviertassinari @jaironalves anybody working on this?

[2020-06-14 13:51] eps1lon commented on #21411
Can we take a step back and be accurate in the issue description and origin? It's not established that #14882 broke this. Nor is the issue confirmed in my book. There's smart sounding explanation but no evidence that it is true. The repro contains a lot of potentially unrelated code (e.g. props based styling, css vars).

What's missing:
- a repro in prod (dev is not suitable for perf critical issu

[2020-06-14 13:57] jaironalves commented on #21399
@tchmnn at moment no. You can take it.

[2020-06-14 14:04] eps1lon commented on #21411
Ubuntu 18.04 Chrome Version 83.0.4103.97 (Official Build) (64-bit)

![chrome-laggy-translate](https://user-images.githubusercontent.com/12292047/84595455-48cd7180-ae58-11ea-9cc2-c83b9df5fefb.gif)

Ubuntu 18.04 Firefox 77.0.1

![ff-laggy-translate](https://user-images.githubusercontent.com/12292047/84595461-4c60f880-ae58-11ea-88f1-ab59905b7465.gif)

This is likely a chromium issue.

Why do we need

[2020-06-14 14:58] tchmnn commented on #21441
[code]

What about this?

[2020-06-14 15:06] eps1lon commented on #21441
This fixes the symptoms (the crash) but not the actual issue (focusing as soon as `inputRef` is instantiated).

[2020-06-14 15:41] tchmnn commented on #21415
I couldn't reproduce the issue with the given code.
Here's the [codesandbox](https://codesandbox.io/s/little-cdn-zk3dm) I used.

[2020-06-14 15:45] oliviertassinari commented on #21411
@eps1lon Thanks for looking closer I have put a simplified reproduction, with the proposed patch in https://codesandbox.io/s/material-progress-scale-rwc56?file=/demo.js.

You are right, testing with more browsers, Firefox macOS, Safari macOS, Edge macOS, Chrome Windows, Firefox Windows, the behavior seems consistently the same:

- Chrome & Edge: no update visible if re-render frequency (1/s) > bro

[2020-06-14 15:46] oliviertassinari commented on #21415
Great, closing for now then.

[2020-06-14 15:46] #21415 closed

[2020-06-14 16:28] #21327 closed

[2020-06-14 16:34] curtislin7 commented on #21418
@oliviertassinari, if @guimacrf doesn't want to take this I'm more than happy to.

[2020-06-14 17:20] tchmnn opened #21444 "[docs] Include example usage with react-virtual"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Include an example for virtualization with `Table` and `List` component using `react-virtual` in the docs.

## Examples 🌈

I quickly put together an example implementation.
[codesandbox](https://codesandbox.io/s/github/tchmnn/react-virtual-ma

[2020-06-14 17:22] tchmnn commented on #21444
I'd be happy to do it :smile:

[2020-06-14 17:27] oliviertassinari commented on #21444
@tchmnn Thanks for the proposal, however, I think that we should wait for the project to gain [more traction](https://npm-stat.com/charts.html?package=react-virtual&package=react-window&package=react-virtualized&from=2019-06-13&to=2020-06-13).

[2020-06-14 17:31] #21444 closed

[2020-06-14 17:34] tchmnn commented on #21444
@oliviertassinari one could argue that including a working example in the docs could help it gain more traction :laughing:

[2020-06-14 17:54] goxr3plus commented on #18322
@oliviertassinari Thank you , you are amazing :)

[2020-06-14 18:03] oliviertassinari commented on #21444
@tchmnn My personal belief is that the open-source community is significantly crowded, only a new project that brings something **different to the table that people want** will emerge. It could be a new Autocomplete component in Material-UI so people can remove one dependency from their package. It could be a new form library, react-hook-form because people are tired of having to wrap components a

[2020-06-14 18:12] #21399 closed

[2020-06-14 20:13] guimacrf commented on #21418
@oliviertassinari , I want to work on it. Thanks for the opportunity.
I will reply about your sugestion tonight.

[2020-06-14 20:35] itairov commented on #12208
@oliviertassinari thank you my friend, you helped me very very very much. I know material ui well enough, but I couldn’t come to this decision

[2020-06-14 20:54] eps1lon commented on #21417
This would imply pika does not support any npm package with types for typescript < 3.8 which would include any package published under `@types/*`. I'd hope this is not intended.

We might bump the required typescript version for v5 but it's unlikely we go as high as 3.8. I'm watching the linked pika discussion but until this is confirmed to be our issue I'm closing.

[2020-06-14 20:54] #21417 closed

[2020-06-14 21:56] oliviertassinari commented on #12208
We will likely change the default position with #18493.

[2020-06-14 21:58] itairov commented on #12208
@oliviertassinari I understand correctly that you are the developer of this library?

[2020-06-14 21:59] oliviertassinari commented on #21411
Maybe we should close the issue and label it "external dependency"? Given the workaround, it seems that it's worth stopping the exploration here. We admit that we have no idea what's going on. I have tried to look at the Chromium bug tracker couldn't find anything that matches.

[2020-06-14 22:01] itairov commented on #12208
make default it would be very good

[2020-06-14 23:07] tchmnn commented on #20457
@oliviertassinari
What's the current situation here?
I think the warning is sufficient, but I'd happily tweak the documentation.

[2020-06-14 23:32] oliviertassinari commented on #20457
@tchmnn From my experience, most people don't read, they copy & paste. The [existing warning](https://material-ui.com/styles/advanced/#theming) didn't seem to be enough for @chilversc. I think that we can apply https://github.com/mui-org/material-ui/issues/20457#issuecomment-612661397 and close the issue.

[2020-06-15 00:12] tchmnn commented on #20457
@oliviertassinari
The diffs you posted would cause typescript errors, because background is not defined on ThemeOptions.

How about this?
[code]

Also I'm confused, should I not touch `Theming.js`?

[code]

And now those snippets don't match `advanced.md` anymore :thinking:

[2020-06-15 01:03] guimacrf commented on #21418
@oliviertassinari , I made the correction a little differently than you suggested, but following your idea. Take a look:

[code]
Sending a pull request in a few minutes.

[2020-06-15 03:01] renatoagds commented on #17324
Closing. =D

[2020-06-15 04:29] MyCupOfTeaOo commented on #21411
Yes,i will close it. I think this should be a browser issue, of course "High-speed refresh" is really rare

[2020-06-15 04:29] #21411 closed

[2020-06-15 04:46] acjimeneza commented on #2076
Hi!

 @szefoski try using 'wordBreak' instead of 'wordWrap'

{
whiteSpace: 'normal',
wordBreak: 'break-word',
}

[2020-06-15 05:06] quan182 opened #21447 "11"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.?.?

[2020-06-15 06:54] cjoecker opened #21448 "[Autocomplete]: add clear programatically"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add prop to clear selection programmatically the autocomplete component

## Motivation 🔦

In my case is necessary to clear the selection in onInputChange. For that, I will like to have the possibility to clear the input field programmatically

[2020-06-15 08:00] eps1lon commented on #21447
Your issue has been closed because it does not conform to our issue requirements.

For how-to questions and other non-issues, please use Spectrum.chat or StackOverflow instead of Github issues. There is a StackOverflow tag called "material-ui" that you can use to tag your questions.

[2020-06-15 08:00] #21447 closed

[2020-06-15 08:13] #21448 closed

[2020-06-15 08:13] oliviertassinari commented on #21448
Tip, control the states

[2020-06-15 08:50] shaktish commented on #1680
Hi @fsdevblog,

preventing using div tag doesn't work in IE.

IE doesn't identify nested tags, it stops with first tag that is button

[2020-06-15 08:58] ankit-gupta1307 commented on #18018
Can anyone here help ?

[2020-06-15 10:11] oliviertassinari commented on #21404
@MargaretKrutikova I'm closing for new, feel free to resume the discussion with more details :).

[2020-06-15 10:11] #21404 closed

[2020-06-15 10:12] oliviertassinari commented on #21418
@guimacrf Thanks for looking into it, `Infinity` was probably not the best value 👍.

[2020-06-15 10:26] oliviertassinari commented on #20457
@tchmnn Sounds great 👍

`Theming.js` will be automatically updated when running this command: `yarn docs:typescript:formatted`.

[2020-06-15 14:39] shaninizan commented on #16862
In your library's package.json, move react and react-dom out of dependencies and into peerDependencies.

[2020-06-15 15:14] cnadolny2s commented on #7466
Awesome solution! This fixed it for us, too. We had to add `container item` to prevent a container + xs warning.

[2020-06-15 16:05] oliviertassinari opened #21453 "[RFC] What's the best API to override deep/nested elements?"
A while back, around the alpha & beta iterations on the v1 version, we had to decide what was the best way to override the nested components. It's meant to help developers customize the rendering. We can find #11204 and #10476 as a legacy.

### up until v1

So far, the tradeoff on this problem has been:

1. Provide a `XXXComponent` prop when overriding the nested element can be valuable for users.

[2020-06-15 16:08] kaplantm opened #21454 "[Filled TextField] Disabled field underline should not change on hover"
When a filled textfield is disabled, the underline should not change color on hover as that implies interactivity.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Underline on a disabled filled textfield darkens on mouse hover.

#

[2020-06-15 16:34] eps1lon commented on #20457
Since this section is about the standalone `@material-ui/styles` I would double down on the /core vs /core/styles separation.

The warning is enough. The issue is that the code mentions `@material-ui/core`. Everything else will be resolved once we drop `@material-ui/styles`.

[2020-06-15 16:49] tchmnn commented on #21454
Yeah, I can reproduce that.

[code]

How about this fix?

[2020-06-15 17:46] pzanwar03 commented on #5634
`<Select
          defaultValue=""
          id="grouped-select"
          MenuProps={{
            anchorOrigin: {
              vertical: "bottom",
              horizontal: "left"
            },
            transformOrigin: {
              vertical: "top",
              horizontal: "left"
            },
            getContentAnchorEl: null
          }}

          <MenuItem value="">

[2020-06-15 17:46] pzanwar03 commented on #5634
<Select
          defaultValue=""
          id="grouped-select"
          MenuProps={{
            anchorOrigin: {
              vertical: "bottom",
              horizontal: "left"
            },
            transformOrigin: {
              vertical: "top",
              horizontal: "left"
            },
            getContentAnchorEl: null
          }}

          <MenuItem value="">

[2020-06-15 17:50] pzanwar03 commented on #5634
[code]

[2020-06-15 18:02] #7223 closed

[2020-06-15 18:22] #20457 closed

[2020-06-15 18:38] BennyHinrichs commented on #20277
I'm running into the same issue. I can provide a color object with shades, as per `PaletteColorOptions`, but I can't access it in `makeStyles`, as per `PaletteColor`. For me, it would make things much easier if those lined up so I could access all my shades in `makeStyles`.

Right now I have two options of doing that. The first is this beautiful piece of code:

[code]

The second is by making the

[2020-06-15 18:51] oliviertassinari commented on #21454
@tchmnn Great fix, do you want to get it to the finish line :)?

[2020-06-15 18:59] oliviertassinari commented on #20277
@BennyHinrichs Yeah, I think that we miss the third case in https://material-ui.com/customization/palette/#adding-new-colors. What do you think of this diff? Do you want to submit a pull request? :)

[code]

[2020-06-15 19:15] BennyHinrichs commented on #20277
@oliviertassinari Yeah, I haven't done that very much on here, but let me try it out!

[2020-06-15 21:03] #21454 closed

[2020-06-15 22:19] bahaa-kallas commented on #21405
if someone came in the future and have the same question
this is how you do it in Kotlin/Js
[code]
use annotation @JsName("in") when the name of the (variable function module ..etc) you import from javascript is a keyword in Kotlin
reference: https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.js/-js-name/

[2020-06-15 22:22] matthenschke commented on #21333
Is anyone working on it? As a newbie to open source, I wouldn't mind submitting a pr to this issue.

[2020-06-15 22:23] oliviertassinari commented on #21333
@matthenschke You are clear to go :)

[2020-06-15 22:24] matthenschke commented on #21333
@oliviertassinari sounds good! Are there are dependencies I should go over before diving into the code for autocomplete?

[2020-06-15 22:48] matthenschke commented on #21333
Just submitted a pr based off of your suggestion @oliviertassinari, does anyone have any advice on mastering the material-ui codebase?
https://github.com/mui-org/material-ui/pull/21460

[2020-06-16 00:05] dtassone commented on #21453
The idea is that you can customise nested components via props such as pagination, and direct children like footer, header, using the children api. I think it's pretty elegant way to compose components using markups, still pass props and keep a dynamic behaviour. You can pass a function as children like for custom footer (link below) or you can pass an object when you need to also customise the he

[2020-06-16 07:41] popuguytheparrot opened #21461 "No styles applied to ListItem with react-window"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using react-window, styles are not applied to ListItem using ListItemSecondaryAction.

## Expected Behavior 🤔

Styles applied

## Steps to Reproduce 🕹

https://codesandbox.io/s

[2020-06-16 07:44] popuguytheparrot commented on #21461
![image](https://user-images.githubusercontent.com/19804652/84746106-2a818600-afbe-11ea-9ab0-68d02b93359f.png)

in styles inspector div hasnt ListItemRoot style
![image](https://user-images.githubusercontent.com/19804652/84746202-4a18ae80-afbe-11ea-96fc-0ca9948ff076.png)

[2020-06-16 07:59] idirouhab commented on #21415
apologies @oliviertassinari , I couldn't answer before.
Somehow now it's working so but I don't know what it was wrong but since I'm not able to reproduce it again I'm happy to close the issue.

Thank you.

[2020-06-16 08:33] tchmnn commented on #21461
Hey @popuguytheparrot,
I did some small adjustments to you demo and got it to work properly.
[codesandbox](https://codesandbox.io/s/material-demo-pgcm7)

[2020-06-16 08:38] #21461 closed

[2020-06-16 09:16] popuguytheparrot commented on #21461
Thank you very much. In the example, it is not obvious why the problems arise. I think, need to redo example so that other developers do not have such problems

[2020-06-16 09:22] oliviertassinari commented on #21415
Great to hear :)

[2020-06-16 09:22] #21418 closed

[2020-06-16 09:28] mohanhari opened #21464 "[Autocomplete] It will be helpful if we can add image in the 'renderInput' instead of changing the whole design"
For now, the 'Autocomplete' provides the 'renderInput' as 'Textfield' to get the material UI design. If we customize it we are losing the material-UI design. So if I want to attach an image at the end I couldn't do that with sacrificing the design.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Sum

[2020-06-16 09:29] #21464 closed

[2020-06-16 11:30] #21333 closed

[2020-06-16 11:32] Angelk90 opened #21465 "Textfield number inserts the character "e""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![Peek 16-06-2020 13-28](https://user-images.githubusercontent.com/20476002/84769079-94f1f080-afd5-11ea-90a0-232b68aa1ac5.gif)

## Expected Behavior 🤔

Should ensure that it does not

[2020-06-16 11:44] oliviertassinari commented on #21465
Duplicate of #10582.

However, I think that we could document https://github.com/mui-org/material-ui/issues/10582#issuecomment-603118446 in https://material-ui.com/components/text-fields/#limitations. @Angelk90 Do you want to update the documentation? :)

[2020-06-16 11:47] #20277 closed

[2020-06-16 11:54] Angelk90 commented on #21465
@oliviertassinari : Strange when I tried it didn't give me any results.
It's not really a problem, because if you exit the input field in text it is removed, then thinking about it I thought about this.

![Peek 16-06-2020 13-28](https://user-images.githubusercontent.com/20476002/84770941-d0da8500-afd8-11ea-90a6-b3782c7c4b79.gif)

[2020-06-16 15:12] vicasas opened #21466 "React.StrictMode error in type component Dialog for function findDOMNode"
When using `React.StrictMode` it shows that the use of `findDOMNode` leaves a warning of the type error in the console because it is deprecated.

This occurs for the dialog type components, such as the `Dialog`,  `Select`, `Drawer ` components, among others similar.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues)

[2020-06-16 15:17] oliviertassinari commented on #21466
Duplicate of #13394

[2020-06-16 15:17] #21466 closed

[2020-06-16 15:46] mmartinsky commented on #11749
It also doesn't seem to work properly with an anchor='bottom'. I modified @frankpape 's solution to use a button trigger, and you can see the behavior isn't working as intended (100px blue box sliding up from the green box, and disappearing into the white on toggle off).

https://codesandbox.io/s/material-demo-7nor0?file=/demo.js

[2020-06-16 19:14] yamresh commented on #17789
facing the same issue while using date picker

[2020-06-16 19:46] tedwardmah opened #21470 "TableCell should not add role="cell" if a th component is passed"
The docs for a [Simple Table](https://material-ui.com/components/tables/#simple-table) say:

The screen reader behavior referred to in the docs is no longer working in the Simple Table example, at least not using VoiceOver.

I believe this is because the cells are now being given a role="cell".

https://github.com/mui-org/material-ui/pull/20475 introduced the concept of a default role when passing

[2020-06-16 20:00] PabloMontoya commented on #18492
What if i need to use both oh them?

[2020-06-16 20:01] oliviertassinari commented on #18492
Keep them isolated, use two different states.

[2020-06-16 20:06] eps1lon commented on #21470
I agree that we just shouldn't add the role and let users fix this on their own. I would argue this for any `component` usage since we can't reliably reason about it.

Almost all cases I see are invalid anyway (abuses styles without semantics, inaccessible regardless etc).

The original motivation in #20431 can be easily fixed with `<TableCell component="div" role="cell" />` which is better anyway

[2020-06-16 20:15] tchmnn commented on #21470
So this issue is now about removing the behaviour to set the row?

Anyway, I've looked into it really quickly and came up with this
[code]

[2020-06-16 20:21] eps1lon commented on #21470
I'd just revert #20431 and add some regression test that illustrate why we the approach wasn't viable e.g. `<TableCell component={CustomeTableHead} scope="row" />` renders a role `colgroup`.

[2020-06-16 20:43] yanickrochon opened #21472 "Add same Dialog event props to Drawer component"
Expose the same props in `Drawer` as for `Dialog`, namely :

* `onEnter`
* `onEntered`
* `onEntering`
* `onExit`
* `onExited`
* `onExiting`

When a drawer is closing (`onExiting`) and then closed (`onExited`), I currently have to guess these states because the events are not currently available.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository a

[2020-06-16 20:46] oliviertassinari commented on #21472
Duplicate of #18288

[2020-06-16 20:46] #21472 closed

[2020-06-16 20:47] dandgerson commented on #1467
Thats great and work perfectly!

[2020-06-16 20:47] yanickrochon commented on #21472
Wow! `Drawer` is not even mentioned in that "related" issue!

[2020-06-16 20:48] ErikDakoda opened #21473 "Button should add role="button" when href prop is set (link button)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The following jsx results in an `<a>` tag that does not have `role="button"`
`
<Button href={url} target="_blank">
  click here
</Button>
`

## Expected Behavior 🤔

The link button sho

[2020-06-16 20:50] yanickrochon commented on #18288
How is issue #21472 related to this?

[2020-06-16 20:55] oliviertassinari commented on #21472
Use the `ModalProps`?

[2020-06-16 20:59] oliviertassinari commented on #21473
Do you have reference material that support this expected outcome?

[2020-06-16 21:00] yanickrochon commented on #21472
You mean `Slider`, because the `onExited` event does not exist on `Modal`, but on the [transition](https://reactcommunity.org/react-transition-group/transition#Transition-props). My point is, `Dialog` exposes these props, but not `Drawer`.

[2020-06-16 22:18] ErikDakoda commented on #21473
Here is some reference:

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role
https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/button/button.html

You can read a lot of contradictory opinions on when hyperlink (`<a>`) elements should use `role="button"`, however in this instance, because it implements an actual Button component, I think it's seman

[2020-06-16 22:20] oliviertassinari commented on #21473
It feels that it should be a `won't fix` cc @eps1lon.

[2020-06-16 22:41] oliviertassinari opened #21474 "[TreeView] Add drag & drop support"
An initial issue to keep track of our progress on the drag & drop feature. Note that we won't make it MIT.

[2020-06-16 22:41] oliviertassinari opened #21475 "[TreeView] Add virtualization support"
An initial issue to keep track of our progress on the virtualization feature. Note that we won't make it MIT.

[2020-06-16 22:56] JasonTolliver opened #21476 "Dialog does not respect breakpoint units"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The `Dialog` component's `maxWidth` property has very unexpected results when you have customize `breakpoints` in the theme to us `em` as a unit.  For example, say you use the followi

[2020-06-16 23:01] felipezacani commented on #21474
Hey @oliviertassinari thanks for the link! However, even though I may use this in the future, what I wanted now was a very simple behavior, like the native html drag n drop. I just wanted to add the draggable=true attribute to a TreeItem.

[2020-06-16 23:06] oliviertassinari commented on #21474
@felipezacani What stops you from achieving it?

[2020-06-16 23:16] felipezacani commented on #21474
Not really sure if there is any other way of passing the attribute to the correct native item. I tried the same as I did successfuly with the Paper component, adding a "draggable={true}" to its tag, it doesn't work and its not passed down to any native component (checked on FirefoxDev inspector). I also noticed userSelect="none" has no effect on the TreeItems.

[2020-06-17 00:13] #20725 closed

[2020-06-17 00:15] #14792 closed

[2020-06-17 01:22] shashikant88093 commented on #1467
Thanks Mui-Org/Material-Ui

On Wed, 17 Jun, 2020, 2:17 AM Dmitry Anderson, <notifications@github.com>
wrote:

[2020-06-17 03:49] razor-x commented on #19938
Just coming here as I was surprised to find out I still had CSP errors after following the docs: https://material-ui.com/styles/advanced/#content-security-policy-csp

It looks like the docs were never updated as suggested, so I opened a PR. Hopefully someone has an updated list of the "non-csp" components.

https://github.com/mui-org/material-ui/pull/21479/files

[2020-06-17 06:06] Vinayak-SP commented on #13485
@chrislambe As of now, you have to handle it manually with an intermediate handler for slider before you call the handler of formik.
  `const handleSliderChange = (event, newValue) => {
    event.target.name = 'Range';
    event.target.value = newValue;
    setSliderValue(newValue);
    props.onChangeHandlerFromFormik(event);
  };`

`<Slider
            name="Range"
            value={props.data.r

[2020-06-17 07:37] eps1lon commented on #21473
Why? What you're claiming is that `<a href="example.com" target="_blank" />` is a button not a hyperlink. It triggers navigation therefore it's an hyperlink.

Could you explain your rationale?

[2020-06-17 07:48] SagarDesai111 opened #21483 "Issue with Horizontal scroll in Material Table"
Problem with Material Table columns, What should I do for a horizontal scroll?

` <MaterialTable
        columns={columns}
        tableRef={props.tableRef}
        title="Contacts"
        isLoading={!props.remote}
        onSearchChange={e => searchInData(e)}
        data={props.contactList}
        key={props.limit}
        components={{
          Pagination: () => {
            return (

[2020-06-17 07:58] oliviertassinari commented on #21483
@SagarDesai111 Wrong repository, head to https://github.com/mbrn/material-table.

[2020-06-17 07:58] #21483 closed

[2020-06-17 08:41] SagarDesai111 commented on #21483
@oliviertassinari Okay, Thanks.

[2020-06-17 09:11] s97712 commented on #21472
+1

[2020-06-17 09:11] s97712 commented on #21472
That expose by d.ts, but It actual not working

[2020-06-17 09:17] oliviertassinari commented on #21472
@s97712 It depends on the variant of the drawer you use

[2020-06-17 12:24] StevenVerbiest opened #21485 "Cannot pass custom prop to styled Icon component in typescript"
I'm using Material UI in combination with Emotion, but I am unable to pass custom props to the `<Icon>` component for styling purposes.

I've set up a [codesandbox](https://codesandbox.io/s/morning-flower-gl27p?file=/src/App.tsxl) with 3 examples.

1. A styled icon with no custom props.
Following the example of @eps1lon mentioned [here](https://github.com/mui-org/material-ui/issues/13921#issuecomm

[2020-06-17 12:45] ErikDakoda commented on #21473
The reason is that the coder chose to use a Materual UI `<Button>` component. She wants this element to look, feel and behave like a button. If she wanted the look, feel and behavior of a traditional hyperlink, she would have chosen to use plain old `<a>` tag.

[2020-06-17 13:22] oliviertassinari commented on #21476
@JasonTolliver Thanks for opening this issue. We are eager to offer more flexibility around the structure of the theme. The first proposed change sounds good:

[code]

However, it seems that it won't cover all the cases (`$paperScrollBody`). The style is required when the Dialog can scroll with the body container, maybe we can ignore the problem?

[2020-06-17 14:03] teggno opened #21486 "TextField InputProps lang attribute isn't applied"
When writing`<TextField InputProps={{ lang: "en"}}>...`, the `lang` attribute doesn't get applied to the `<input>` in the DOM. Instead it gets applied to input's parent `<div>`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When

[2020-06-17 14:07] teggno commented on #21486
Ok, found that I had to use `inputProps` not `InputProps` (mind the lower case "i").

[2020-06-17 14:07] #21486 closed

[2020-06-17 14:22] oliviertassinari commented on #21486
Linking #11377.

[2020-06-17 15:13] synedra-mpe commented on #15389
Perhaps this could work: https://www.456bereastreet.com/archive/201302/fieldset_legend_border-radius_and_box-shadow/

[2020-06-17 15:20] oliviertassinari commented on #15389
@synedra-mpe I fear our support intent for IE 11 isn't meant to be as good as for the other browsers. We have been cutting corners. It's also an incentive for users to upgrade, they will benefit from a better UX.

[2020-06-17 15:28] eps1lon commented on #21473
Why did they pass an `href` then? This seems like an exotic use case that we can't audit completely.

It would also be a breaking change. I'm closing this issue until more information is provided. In the meantime: `<Button href="example.com" target="_blank" role="button" />` is still possible.

[2020-06-17 15:28] #21473 closed

[2020-06-17 15:35] #21485 closed

[2020-06-17 15:36] eps1lon commented on #21485
Typescript gives you a good hint that you need to cast to `unknown` first.

[2020-06-17 15:38] eps1lon commented on #21485
Regarding `component`: There's no way we can type Icon props + custom props + props from `component`. There are too many edge cases that makes it incredibly hard to reason about the component. I recommend going with another approach since that one leads you down a rabbit hole.

[2020-06-17 15:43] alexdobsom opened #21487 "Having two columns sorted desc on the same time"
I am not sure if this is a bug or should be a feature request, but currently two columns cannot display rows descending both on the same time, only the first column will actually be desc but the other will be asc.

[2020-06-17 15:50] pravinvarma opened #21488 "Accessibility issue(navigating through fields using keyboard) in safari browser"
In Safari the tab navigation does not work for IconButton, fileUpload button
https://codesandbox.io/s/1j68j?file=/demo.js
https://material-ui.com/components/radio-buttons/

- [ ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
It is not

[2020-06-17 16:59] oliviertassinari commented on #21487
@alexdobsom Could you provide more details. Where does the data grid come from?

[2020-06-17 17:54] george-arnold opened #21489 "Easier way to differentiate value sent vs label selected"
I  cant find anything, but I think it should be easier for the user to select one label, and have the actual value sent through the form to be different.

- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2020-06-17 18:19] patorjk commented on #18439
I know this is old, but I've taken over as maintainer of mui-datatables and I am removing that restriction (which is now just a deprecation notice).  I think the previous maintainer (who took over after greg) didn't understand a particular bug that was occurring (which will be fixed in the next release).

Anyway, it's good to see an official datatable coming out. I have a rather large app built ar

[2020-06-17 18:33] aliahsan07 opened #21490 "fieldset disabled not working on @material-ui/lab Autocomplete elements"
For autocomplete elements present inside html fieldset, disabling isn't working.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On a disabled fieldset, one can type and select from an autocomplete child.

## Expected Behavior 🤔

[2020-06-17 18:53] hufftheweevil opened #21491 "Global override not working for selected MenuItem"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using global overrides to change the CSS for a selected MenuItem, the CSS is not applied.

## Expected Behavior 🤔

Using `overrides.MuiMenuItem.selected` should set the CSS for a

[2020-06-17 19:20] hufftheweevil commented on #21491
Disregard, I just saw the note in the console, that it needs to be specified as such:

[code]

So I got it to work. But can anyone explain in more detail why it is necessary to do it like this?

[2020-06-17 19:23] felipezacani commented on #21474
@oliviertassinari problem was on my side, I had another component (mounted) using react-dnd. I'm still not sure why exactly, but if a react-dnd component is mounted, all other native draggable attributes are disabled (unless you use react-dnd in everything, of course). Thanks anyway!

[2020-06-17 20:23] oliviertassinari commented on #18439
@patorjk Thank you for continuing the maintenance of mui-datatables. @dtassone is leading the official data grid component, in case you have any questions on the effort :).

[2020-06-17 20:28] oliviertassinari commented on #21489
Do you have more information to share? Which component? Visual illustration?

[2020-06-17 20:38] george-arnold commented on #21489
https://material-ui.com/api/autocomplete/
Maybe it's something easier to do and I am just not understanding.
Shorter Example:
`const options= [{name:'foo', abr: 'bar'}, {name:'sample', abr:'sa' ]`
[code]

[2020-06-17 20:49] oliviertassinari commented on #21491
@hufftheweevil More details in https://material-ui.com/customization/components/#pseudo-classes

[2020-06-17 20:49] #21491 closed

[2020-06-17 20:51] #21489 closed

[2020-06-17 20:58] oliviertassinari commented on #21490
You would need to explicitly disable the Autocomplete in this case (with the dedicated prop). I think that supporting this case would be too narrow do to worth the complexity and bundle size.

[2020-06-17 20:58] #21490 closed

[2020-06-17 22:13] alturnwall commented on #15914
Just wanted to "upvote" this issue.

I think the current docs here: [(Advanced / Theme Nesting)](https://material-ui.com/styles/advanced/#theme-nesting) make it look like you should be able to call a theme within a theme and have it override all of the styles.

In my use case, it's overriding _some_ of the styles, but not any of the type colors on `<Typography>` components (looks like those are by

[2020-06-17 22:32] mbrookes commented on #15914
@alturnwall As we love to say: do have a reproduction (Codesandbox example preferably)

[2020-06-17 22:56] patorjk commented on #18439
@oliviertassinari @dtassone I found this: https://finui.io/#/grid

Looks good so far, a little more grid like than what I expected, but I guess it makes sense given the name. I saw a github comment where you mentioned you were 3 months into development, I'm assuming release won't be until late this year?

One thing I think Greg did right with mui-datatables was bake in responsive design early on.

[2020-06-17 23:11] oliviertassinari commented on #18439
I believe this version is one or two months old. We plan to make an early preview before September. Thanks for the feedback on mobile and responsive support.

[2020-06-18 02:18] mymattcarroll commented on #21326
Is this expect to be breaking change, and not be available until v5?

We have a use case to make the steps reorder-able, which is proving to be very difficult while the `<Stepper />` component must have `<Step />` components as children.

[2020-06-18 03:33] cyphernull opened #21492 "group button styles are not quite correct."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/23122353/84974966-e970a980-b156-11ea-98b0-c87c0e57654a.png)
![image](https://user-images.githubusercontent.com/23122353/84974981-f2f

[2020-06-18 04:27] alecananian commented on #21492
The hover background color and border color are the same, that's what you're seeing in the second row of your screenshot. The third row looks different because the "TWO" button has a box shadow to its left on hover, which is darkening the left border.

Example with the hover box shadow disabled:
<img width="437" alt="ButtonGroup" src="https://user-images.githubusercontent.com/1013230/84978254-f3c1

[2020-06-18 05:37] alturnwall commented on #15914
@mbrookes sure, I'm still pretty new at this, but here's a [Codesandbox](https://codesandbox.io/s/material-ui-nested-theme-toggle-28vnx?file=/src/test.tsx) example.

There's a lot going on, but I'm mainly following up on this comment from @nareshbhatia:

Using `<Paper>` certainly does work—I'm just noting that (I think) the convention is confusing, and I didn't come across anything about that rule

[2020-06-18 05:54] alecananian commented on #21295
@oliviertassinari @mbrookes I can take this, but wanted to check with you on one thing. The new dump of icons from Google no longer contains the "Motorcycle" icon that is currently being used in the production package (it only contains "TwoWheeler" with a synonym "motorcycle"). Should it be moved to the `legacy` folder to avoid a breaking change?

[2020-06-18 07:15] KristijanJovanovski commented on #19245
Unfortunately this doesn't work for us.

[2020-06-18 07:21] SimonGalet commented on #18018
Something really unexpected fixed the bug for me, hope this will be the same for everyone.

I replaced `const css = sheets.toString();` and `<style id="jss-server-side">${css}</style>` in HTML by `${sheets.getStyleElement()}` which generates the html tag.

After that, I don't have any more problems with dynamic styling in SSR.

Really hope this will fix the bug for all of you.

[2020-06-18 07:39] lorang92 commented on #19965
@oliviertassinari has there been any progress solving this issue?
@emilyuhde how did you end up solving this particular issue?

[2020-06-18 07:48] synedra-mpe commented on #15389
I would agree, if were not talking about _the_ cardinal and most important ui element of material ui here, the Text filed. Would'nt be consered, if some esoteric unimportant feature, like a datepicker would not render 100% accurat in ie11.

https://material-ui.com/getting-started/supported-platforms/#browser states,

It would make sense to rewrite this paragraph and point to what is communicated i

[2020-06-18 08:36] oliviertassinari commented on #15389
It's a best effort, we assume that our users would want to optimize for >80% of their end-users, not optimize for a minority, as IE 11 is increasingly becoming. For context #14420.

[2020-06-18 08:47] oliviertassinari commented on #21295
@alecananian Thanks for looking into it. I can understand why Google removed the motocycle icon, the icon itself isn't their best work and has a narrower use case. Adding a synonym would be great. I'm leaning towards adding a fallback but that re export the two wheeler icon with a message that ask users to change the import.

[2020-06-18 08:51] oliviertassinari commented on #21326
@mymattcarroll all ongoing development is on v5, yes. We still plan to make releases every week along the way to a stable state.

[2020-06-18 09:03] #14073 closed

[2020-06-18 09:16] oliviertassinari commented on #19938
https://developers.google.com/web/fundamentals/security/csp/#inline_code_is_considered_harmful make a case in favor of removing all inline style.

[2020-06-18 09:55] eps1lon commented on #15389
It's not like the textfield isn't working. It's only missing the border-radius which is absent from IE11 anyway.

[2020-06-18 10:04] eps1lon commented on #21488
Thanks for describing the issue.

We need to entangle this issue a bit since you're talking about two different pages it seems like.

1. https://material-ui.com/components/radio-buttons/
  What UI elements do you expect to get focused? In a radiogroup only the checked radio element is in tab order. The unchecked radio elements of a group are focused via arrow keys following https://www.w3.org/TR/2

[2020-06-18 10:57] oliviertassinari commented on #15914
@alturnwall Thanks for the reproduction, this is a different concern than the one we are discussing in this GitHub's issue. I've labeled the comments as off-topic, see: #21092 for a related concern. Basically, it's about CSS inheritance.

[2020-06-18 11:13] #20442 closed

[2020-06-18 11:39] SputnikTee commented on #17425
After installing `@material-ui/icons@latest` I'm still experiencing this issue, did I make a mistake or should this issue still be open?
Also, I'm wondering how I could contribute to fix this bug?
Btw I fixed it in a temporary workaround by adjusting the viewBox like this
`<ArrowBackIosIcon viewBox='-6 0 24 24' />`.

[2020-06-18 13:00] pravinvarma commented on #21488
Hi Sebastian, Thanks for your reply.

On safari, if I hit tab and use arrow keys, it does not change the focus to the next radio element

I am using Safari 13.1.1

[2020-06-18 15:25] Floriferous commented on #17799
My use case is to display a loader somewhere inside of the select, just like in the async examples of react-select: https://react-select.com/home#async

I'd like to simply use a material-ui Icon as an endAdornment, but it overlaps with the arrow icon.

In the Autocomplete this is possible where the loading icon shows up to the left of the arrow icon, but this isn't simple to do with the current Se

[2020-06-18 15:55] el1f opened #21499 "[Skeleton] Corners Radius is squashed in Text Skeletons"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently, the Text Skeletons have these weird elliptical corners due to them being subject to vertical scaling alongside the component.

![image](https://user-images.githubuserconten

[2020-06-18 16:44] felipezacani commented on #21474
@oliviertassinari problem was on my side, I had another component (mounted) using react-dnd. I'm still not sure why exactly, but if a react-dnd component is mounted, all other native draggable attributes are disabled (unless you use react-dnd in everything, of course). Thanks anyway!

[2020-06-18 17:15] Kizmar commented on #21295
Landed here because I'm not seeing the icons "pending" and "pending_actions".

[2020-06-18 18:11] jlascoleassi opened #21501 "[useAutoComplete hook] clearOnBlur = false results in groupedOptions reverting back to empty array"
We are using the useAutoComplete hook and not the component because we have our own custom FilterField component. The component is basically a Button, which opens a Menu, which has MenuItems in it with Checkboxes.

This is the basic structure:
[code]

{menuItems} looks like this:
[code]

here is the call to useAutocomplete:
[code]

Filtering works great, I was amazed how quickly it "just worked".

[2020-06-18 18:33] xrochoa opened #21502 "Styles for some components break on bundled version 4.10.2"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When bundling using `npm build` of project using create-react-app , styles of some components are broken. They work well during local development before bundling.

In this example I

[2020-06-18 19:36] depiction opened #21503 "Can't override IconButton styles in theme without affecting Checkbox and Switch"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Any changes to IconButton in the global Material UI theme also affect CheckBox, Switch, and the expansion panel's expand icon.

## Expected Behavior 🤔

Styles applied to IconButton vi

[2020-06-18 19:51] aliahsan07 commented on #21490
how can I disable my autocomplete without the greyish underline styling, can't find a relevant prop

[2020-06-18 20:20] oliviertassinari commented on #21490
@aliahsan07 You would have to override the style to change the look. You could also ignore the change events.

[2020-06-18 21:22] #21501 closed

[2020-06-18 21:22] #21502 closed

[2020-06-18 21:25] oliviertassinari commented on #21295
@Kizmar it will be solved in #21498.

[2020-06-18 21:30] mbrookes commented on #21295
Nor the pull request linked directly above your comment apparently. 😉

[2020-06-18 21:43] mbrookes commented on #21503
@depiction What change are you making that should only affect IconButton? A wrapper component may be more appropriate.

[2020-06-18 21:47] oliviertassinari commented on #17799
@Floriferous we have an example for it in the demos.

[2020-06-18 21:50] Kizmar commented on #21295
@mbrookes My apologies; I should have just thumbed up the OP and left it at that. Didn't mean to irritate.

[2020-06-18 21:55] mbrookes commented on #21295
Not irritated, just couldn't resist 😁

[2020-06-18 22:09] depiction commented on #21503
@mbrookes I changed the styles for all three variants to match my project's design (default, primary, secondary). The size, color, background color, border color, and border radius change based on the variant. A wrapper component is an option, but I try to avoid wrapper components that don't provide any functional difference.

I've used MUI for about two years. In that time, IconButton is the only

[2020-06-18 23:28] oliviertassinari commented on #21503
+1 for removing the IconButton from the SwitchBase component. I have been struggling with overrides for the same reason in the past (for designing the Switch and Checkbox components).

[2020-06-18 23:51] oliviertassinari commented on #21499
@el1f Thanks for the report. I don't think that the edit of the codesandbox is an option for the core implementation. It breaks the other demos. What about this diff, using ellipsis border radius?

[code]

Do you want to work on a pull request? :)

[2020-06-18 23:51] #21487 closed

[2020-06-19 07:15] catmando opened #21505 "check for String object as well as string"
In Autocomplete if you return a String Object (instead of a simple string) i.e. `new String('foo bar')` for the `getOptionLabel` callback it raises an error.

The bigger problem is that if the option is complex and cannot be converted json, it will be a hard failure, due these lines in the code:

[code]

[code]

**This may seem like a contrived example, but its not.  Its quite possible to have opt

[2020-06-19 08:55] el1f commented on #21499
TIL ellipsis border radius is a thing 😮
I'll be more than happy to submit a PR for this later toda!

[2020-06-19 09:05] #21505 closed

[2020-06-19 09:06] oliviertassinari commented on #21505
Tip: check the signature

[2020-06-19 11:41] Fischbrot commented on #21502
Have exactly the same problem and already tried to debug this since start of this week...

I really don't know what to do.

We tried debugging this with 2 other people with high expirience in react and they
couldn't figure out what the problem was.

Please help us and don't just close this issue!!!

[2020-06-19 12:52] chriswetterman commented on #5674
@plute10 The blank space was my issue as well

[2020-06-19 13:07] samfromaway commented on #21015
Hello
Is this issue now resolved?
Thanks Sam

[2020-06-19 15:18] ohlr opened #21507 "[Grid] large spacing causes horizontal overflow"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Overflow with large spacing

## Expected Behavior 🤔
No overflow with large spacing

## Steps to Reproduce 🕹
  Include code to reproduce,:
https://codesandbox.io/s/wispy-monad-zqwlf?fil

[2020-06-19 16:54] jlascoleassi commented on #21501
For anyone curious (or who can help), I posted a Stack Overflow question as suggested [https://stackoverflow.com/questions/62474773/useautocomplete-hook-clearonblur-false-results-in-groupedoptions-reverting-ba](url)

[2020-06-19 17:08] paynecodes commented on #15827
@kelly-tock Can you elaborate on your solution, please? I'm curious to see how you were able to maintain `component` prop behavior.

[2020-06-19 17:16] catmando commented on #21505
I don't understand the comment.   Clearly I understand that the signature calls for a string.   I am not disagreeing that the code "works" "as expected", so perhaps I should have called this a feature???  Like what the feature be called?  Why not simply do this? Instead

`String({'foo': "bar"}).toString()`

instead of forcing the programmer to meet an unncessarily restrictive API.  There is surely

[2020-06-19 18:25] phudlow opened #21508 "Cannot use arrow keys to navigate menus when the first MenuItem is wrapped in a Fragment"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Should be able to use the arrow (up and down keys) to select MenuItems when any MenuItems are wrapped in a React.Fragment.

## Expected Behavior 🤔
For the first MenuItem only, if it i

[2020-06-19 18:31] oliviertassinari commented on #21508
Closing for #14943

[2020-06-19 18:31] #21508 closed

[2020-06-19 18:41] raphaelbs opened #21509 "FormControlLabel on Checkbox not working as expected with React Concurrent Mode"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

It needs double click on the label of a Checkbox to change its value.

## Expected Behavior 🤔

To be the same as clicking on the checkbox itself: one click to toggle the value.

## St

[2020-06-19 19:01] tchmnn commented on #21507
Hey @ohlr,
I think this is known behaviour.
I found this section in the docs: https://material-ui.com/components/grid/#negative-margin
Notice how the scrollbar disappears when a padding to the container is applied.
https://codesandbox.io/s/lucid-davinci-v407s?file=/src/Demo.js

[2020-06-20 05:50] #16928 closed

[2020-06-20 07:57] #21465 closed

[2020-06-20 08:59] oliviertassinari commented on #21502
I have deployed the reproduction in production: https://csb-33803.netlify.app/. It seems to be fine. Make sure you don't have any dependency duplication, also check the troubleshooting guide about this problem.

[2020-06-20 10:05] oliviertassinari commented on #21488
@pravinvarma Your concern seems unrelated to Material-UI. I can reproduce the same behavior with https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_radio. Could you confirm?

[2020-06-20 10:38] bologer opened #21513 "Typography fontSize and htmlFontSize theme configuration collision"
I've tried to find similar issue to mine, but it seems there is nothing like this.

I am working on some embeddable widget and using material-ui for some UI interfaces. The logic is that it can be embedded on any website which have different font-size configured on `html` HTML element.

So the question is the following:

How to make font size consistent across all websites even though they have di

[2020-06-20 13:13] oliviertassinari commented on #21513
@bologer from what I understand, the issue comes from the fact that the font size uses the rem unit. This unit is relative to html font size, but you have no control over it nor any guarantee it's 16px.
I think that the simplest in your case is to give up on the rem unit. You can override the `pxtoRem` util to return pixels.

[2020-06-20 13:18] #21513 closed

[2020-06-20 13:43] killianhuyghe commented on #14159
Just had this issue and I can confirm it was due to duplicate property names in my style object (passed to `makeStyles`) as mentioned by @kof .

I didn't notice it easily because I had many different properties:
[code]

Not sure why this happens, but on Safari, it looks like the duplicate property increments the jss numbering, making every style number off by one (.jss1 becomes .jss2 and so on). T

[2020-06-20 13:57] bologer commented on #21513
@oliviertassinari could you please give a hint how to override `pxtoRem` or where to find it?

[2020-06-20 13:58] oliviertassinari commented on #21513
From the theme

[2020-06-20 14:06] bologer commented on #21513
If i do as following:

[code]
There is no change in units, it stays `rem`.

Also, I didn't place in docs how to change it properly.

Could you please give some idea?

[2020-06-20 14:15] oliviertassinari commented on #21513
Do you have a live reproduction? I would expect it to work thanks to https://github.com/mui-org/material-ui/blob/36efd433f1f4d07f8c3b83d9cc8e4c447b0bd2f1/packages/material-ui/src/styles/createTypography.js#L30

[2020-06-20 15:07] raviSussol commented on #13394
Hi @oliviertassinari / @eps1lon - has this issue been fixed?? I'm still getting a `findDOMNode` warning when opening `Snackbar` from button click in strict mode. I'm using following React and material ui versions:
- React - `^16.13.1`
- React DOM - `^16.13.1`
- Material ui - `^4.10.1`

And here's a sample [code](https://codesandbox.io/s/intelligent-tdd-igqfl?file=/src/index.js) of what I did so fa

[2020-06-20 15:43] joshwooding commented on #21509
Things I have observed:

Works for touch e.g. on iPhone
Works without FormControl
Works with an uncontrolled checkbox.

[2020-06-20 17:03] ulfimlg commented on #19606
Is there any update on this issue? I am looking for the same solution.

[2020-06-20 17:13] pravinvarma commented on #21488
Hi @oliviertassinari  thanks for your reply.
I see that that the issue exists on the url you posted. So, it is clear that this is Safari issue. You may close the issue. Thanks for your help.

[2020-06-20 17:52] ohlr commented on #21507
Thank you @tchmnn, somehow I always overread that part of the docs

[2020-06-20 18:58] Floriferous commented on #17799
Yeah, I was hoping to be able to do it with a regular `<TextField select />`, not with `AutoComplete`.

[2020-06-20 19:33] joshwooding commented on #21509
To be honest mostly everything is broken in concurrent mode

It's probably not worth tracking this separately for now.

[2020-06-20 23:53] adisher commented on #7762
I am using useRef hook in functional component.
               <TextField
                    variant="outlined"
                    margin="normal"
                    required
                    fullWidth
                    inputRef={text}
                    name="description"
                    label="Description"
                    type="text"
                    id="text"

[2020-06-21 04:02] raviSussol commented on #13394
Thanks @jsonnikson - using `unstable_createMuiStrictModeTheme` wipes the `findDOMNode` warning out for now. Hopefully, v5 gets released soon and has a stable solution for this warning.

[2020-06-21 05:48] qhxin commented on #10927
i have the same issue on browser.

[2020-06-21 06:00] qhxin opened #21528 "[styles] My app have memory leak on browser after using material-ui."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

My APP has memory leak on Firefox, after using material-ui.

## Expected Behavior 🤔

My APP must render very frequently by our realtime data.

## Steps to Reproduce 🕹

Steps:

1. use

[2020-06-21 06:09] qhxin commented on #21528
### **performance on chrome:**
<img width="647" alt="屏幕快照 2020-06-21 下午1 12 30" src="https://user-images.githubusercontent.com/8831920/85217970-78d0c380-b3c8-11ea-9cf2-ad0d3ec66460.png">

### **memory info on firefox:**
<img width="895" alt="屏幕快照 2020-06-21 上午11 55 58" src="https://user-images.githubusercontent.com/8831920/85217971-7d957780-b3c8-11ea-93ea-68074796f3af.png">
<img width="1193" alt="

[2020-06-21 09:06] hadasmaimon opened #21529 "[Avatar] - avatar image is rendered as <img/> (like .png) not .svg"
I want to change the svg border color on click, but the avatar is render in `<img>` html tag,
and it is not possible to change the class inside the svg

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Th Avatar component render the

[2020-06-21 09:09] #21529 closed

[2020-06-21 09:23] oliviertassinari commented on #21492
@alecananian Great catch are you suggesting this diff?

[code]

[2020-06-21 09:28] hadasmaimon commented on #21529
ok,
I see that you render the `PersonIcon` as child - so I can render my svg avatar as well:
![image](https://user-images.githubusercontent.com/40765442/85221193-87b07980-b3ba-11ea-9398-9577b321d4b4.png)

[2020-06-21 10:02] skokaina commented on #1394
This worked for me:
`style={{ width: '100%', justifyContent: 'flex-end' }}`

[2020-06-21 12:41] sakulstra commented on #21111
@oliviertassinari sorry i wont get back to this in the nearest future due to limited and more pressing things :(

[2020-06-21 14:01] b-zurg commented on #17454
I'm just doing this right now.  It's messy but I don't really know a better solution

[code]

[2020-06-21 18:15] alecananian commented on #21492
I wasn't sure what the expected design was, since the same could be achieved with the `disableElevation` prop, but I do see that's a little different. The `ButtonGroup` wrapper already has a box shadow applied to it, so the extra shadow on hover appears to be a bug.

[2020-06-21 18:28] sagar-gh commented on #19692
@matthlavacka  Thank you,i can change any props with this

[2020-06-21 20:15] adisher commented on #10571
I was facing an issue, tried to import the icon automatically in vscode, but it was not working. Turned out, I had to import it in a separate way like: `import DeleteIcon from '@material-ui/icons/Delete';`

So, you see, `DeleteIcon` and `Delete` are two different names here.

[2020-06-21 21:04] gogevorgyan commented on #19374
Hi, currently I'm facing this issue, any news on this?

[2020-06-22 01:49] bagus2x commented on #18351
alternative
<LinearProgress style={{width: '100vw'}}  />

[2020-06-22 02:46] theKashey opened #21533 "Configure "Link" component via Theme"
Some components (like Buttons) might end up rendering `a` tags. That's ok, but in usually you cannot use "links" in SPA - they have to be `Links`, playing nicely with the `router` of your choice.

It's expected that SPA is using some router, and only one router, as well as expected to use one, and only one Link.
That "right link" should be configurable via Theme.

- [x] I have searched the [issues

[2020-06-22 06:50] YOEL311 commented on #16665
Hi friends I am still having this problem
What should I do

[code]
[code]

![textField](https://user-images.githubusercontent.com/39925212/85256792-6c527680-b46d-11ea-9b9c-c8f7a3dd52c7.gif)

[2020-06-22 07:27] OlegBrony commented on #19482
so... it's the expected behavior when there is no ripple effect on `enter` key?

[2020-06-22 07:57] oliviertassinari commented on #19482
@OlegBrony Correct

[2020-06-22 09:51] oliviertassinari commented on #21533
@theKashey Interesting idea. So far, the best answer to this problem is with a wrapper, as documented in https://material-ui.com/guides/composition/#button.

From my experience so far using links with react-router, Next.js, and Gatsby, each of the Link component have their own subtleties. Do you have something like this in mind?

[code]

[2020-06-22 10:17] theKashey commented on #21533
It should not be a part of Button props, to remove requirement to add that extra prop to every Button used in the project.

It's not a problem if you control all Buttons in your own code base, but you can consume third party components, for example `Pagination`, which might have "buttons as links" inside them. Or, well, just `links`, as long as links are very friendly citizens at the page - I pers

[2020-06-22 10:23] oliviertassinari commented on #21533
@theKashey I would expect your example to already work.

[2020-06-22 10:38] theKashey commented on #21533
You are absolutely right - it's working. At least for Link - https://codesandbox.io/s/material-demo-9utdp

However, in this case we are back to the initial problem - Buttons are not using Links, but just `a`. And I am not sure that they actually could use Links, as long as it brings some styles with it, which Button will prefer not to have.

what about one line change, just to make this moment con

[2020-06-22 11:09] oliviertassinari commented on #21533
Yeah, it would make sense to have a single place to configure it. However, I'm not sure that using the `href` prop to trigger this behavior is good enough. It could feel weird to the default prop (to?) Maybe wrapping is the best option.

[2020-06-22 11:41] theKashey commented on #21533
"Link" component should be `a`-compatible, not `Link` compatible. __HTML-first__ approach 🤔
[code]
By fact it should be a bit more complicated, for example it should keep `a` for any external links,  however in this case it's better explicitly use some `ExternalLink` component with some `rel=noopener` applied as well.

[2020-06-22 12:14] oliviertassinari commented on #21533
Yeah, in this case, the diff in https://github.com/mui-org/material-ui/issues/21533#issuecomment-647411584 would be interesting. We could use it for [Gatsby too](https://github.com/hupe1980/gatsby-theme-material-ui/blob/master/packages/gatsby-material-ui-components/src/patch-base-button-components.tsx) cc @hupe1980.

[2020-06-22 12:39] dep-dt commented on #13520
@oliviertassinari

[code]

`position: absolute` would cause the close icon to scroll with the modal's contents if there was a large amount of text in the modal. Just something to be mindful of.

[2020-06-22 13:29] MarianBe opened #21536 "Enter-key -> Save Edit"
is there any possibility to save the current values by pressing the enter key? i haven't found anything in the documentation yet? Can someone guide me here?

[2020-06-22 14:10] ahayes91 opened #21537 "[TextField] [A11y] aria-describedby helper text is only read out once (on first tab navigation to a field) with ChromeVox"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using ChromeVox to navigate form fields with helper text, I would expect the helper text to be read out every time I navigate to that field.

## Expected Behavior 🤔

To be honest

[2020-06-22 16:04] kgregory commented on #13855
@LoveSponge it hasn't been updated in months, but perhaps this can be helpful (or inspire someone): https://github.com/VagnerNico/mui-swipeable-list-item

[2020-06-22 16:51] #21492 closed

[2020-06-22 16:59] Kalkazar commented on #10126
I'm noticing this same bug again. Could there have been something in the most recent update (v4.10.2) that brought it back?

### Context:
Here's the class I've wrapped with "fade":
[code]

And here's how it looks in the code:
[code]

But for some reason, it's still showing up upon render.

[2020-06-22 17:00] #21295 closed

[2020-06-22 17:08] ydax commented on #12704
Agree with Louis, though I do find that I often just need to make parts of `Typography` Components bold, which complicates things. Would it be possible to handle normal HTML styling tags inside `Typography` components? E.g.:
`<Typography>Howdy, <strong>I'm bold</strong> but I'm not.</Typography>`

[2020-06-22 18:01] Emad-Emami opened #21542 "ClickAwayListener throws error "Cannot update a component (`MyComponent`) while rendering a different component""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Since the `onClickAway()` is getting called in the main render function if any `setState` be inside this function we'll get this warning:
![Screen Shot 2020-06-22 at 10 49 27 AM](https

[2020-06-22 18:03] #21542 closed

[2020-06-22 18:06] sheats commented on #21397
For future googlers, I think `yarn clean cache` might have been part of the solution.

[2020-06-22 18:29] mbrookes commented on #10571
@adisher You can import it as `Delete` if you prefer, but importing as `DeleteIcon` is clearer when the component is used later.

[2020-06-22 19:29] rainmak33r commented on #21536
You can use this: https://github.com/greena13/react-hotkeys

[2020-06-22 19:52] #21536 closed

[2020-06-22 19:52] bbourn opened #21544 "Jest snapshot mui-datatables problem."
We use jest and mui-datatables 3.1.1.

My jest snapshot tests are failing the mui-datatables with 4.10.1 or 4.10.2 but NOT 4.10.0

I am hoping I can describe high level what is happening and either here or the datatable folks will 'just know' what I am talking about...  I am sure it will be 'fixed' downstream one way or another so this might serve as a QA post;

My test passes.

Upgrade from 4.10.

[2020-06-22 19:59] flavitsky commented on #18514
Hey everyone! Can anybody help me? How can I change focus from the selected option back to the input field without using a mouse? To be clear - I'm trying to use autocompletion without the mouse and once I turn to option selection with pressing arrow down I can`t go back to the input TextField. Thx

[2020-06-22 20:09] joshwooding commented on #21544
You should open this on the [mui-datatables github](https://github.com/gregnb/mui-datatables) instead.

[2020-06-22 20:09] #21544 closed

[2020-06-22 20:35] oliviertassinari commented on #21544
Duplicate of #21293

[2020-06-22 21:08] joshwooding commented on #21528
I can't recreate this using the codesandbox on Firefox 78.0b9 (64-bit) or Chrome 83.0.4103.116 (Official Build) (64-bit)
Windows 10 1903.

What environment did you encounter this in and can you definitely reproduce with the codesandbox?

[2020-06-22 22:10] #21499 closed

[2020-06-22 22:40] jedwards1211 commented on #21509
React Concurrent mode is going to ruin our lives

[2020-06-23 02:12] luketgriffith commented on #19374
I am also experiencing this

[2020-06-23 04:48] DanielSadovskiy commented on #20904
@burtonator did you find the resolve of that?

[2020-06-23 08:31] diamantisufi opened #21546 "How do I provide different onClick events for the whole Card and it's Header action?"
I have this Card that I want to be clickable, but I also have card header with action (an icon in top right corner) that I also want to do something when clicked.

When clicking in the moreVert the card method is called also.

I am currently giving them both click events like this:
[code]

[2020-06-23 09:03] Bluskript opened #21547 "Unimplemented material design spec: dark theme elevation"
https://material.io/design/color/dark-theme.html#properties

According to the official material spec, dark themed applications require surfaces to have different shades depending on the elevation. The `Paper` component's `elevation` property only controls shadows currently, resulting in UIs that offer little discernibility between elements.

[2020-06-23 09:04] supermihi commented on #18789
See also https://github.com/microsoft/TypeScript/issues/34801.

[2020-06-23 09:09] oliviertassinari commented on #21547
Duplicate of #18309

[2020-06-23 09:09] #21547 closed

[2020-06-23 09:33] eps1lon commented on #21488
Re-opening this for further investigation. If this fails on safari then we need to make sure which platforms are affected and if we can fix it. Safari is quite important for a11y related issues.

[2020-06-23 09:38] eps1lon commented on #21528
For memory leak related issues please make sure to include whether
1. this is affected by StrictMode or concurrent mode i.e. can this be reproduced regardless of the mode react is in
2. this is reproducible with a production build. While a leak in development is problematic and indicative of an underlying issue it is far less severe than a leak in prod environments where older machines are more pr

[2020-06-23 09:49] eps1lon commented on #18789
Closing this in favor of #19113. We already made some significant improvements as well as typescript improving their performance as well.

[2020-06-23 09:50] #18789 closed

[2020-06-23 09:57] SomnathKadam commented on #7466
issue resloved after adding `overflow-x: hidden`; on the parent, like inside Container have mui-datatable, so added `overflowX: 'hidden'` to container

[2020-06-23 10:52] StuartIntellisense commented on #18287
@belhassen07 I am a UX designer making extensive use of MUI for a project right now. I am making my own Adobe XD components as needed, (the full set is extensive). Is the Adobe XD UI kit still on track for release?

[2020-06-23 11:44] eps1lon commented on #21546
👋 Thanks for using Material-UI!

We use GitHub issues exclusively as a bug and feature requests tracker, however,
this issue appears to be a support request.

For support, please check out https://material-ui.com/getting-started/support/. Thanks!

If you have a question on StackOverflow, you are welcome to link to it here, it might help others.
If your issue is subsequently confirmed as a bug,  an

[2020-06-23 11:44] #21546 closed

[2020-06-23 13:09] velusgautam commented on #14860
[code]

[code]

You got the idea. Its the sudo code

[2020-06-23 13:25] cberthou commented on #16456
I'd like to emphasize that there are still problems with Chips. The workaround I found would be to use a specific `makeStyles` call for the file that is using Chips. It feels really clunky though.

[2020-06-23 13:31] appukuttan-shailesh opened #21549 "How to specify fixed width for all columns in table with ReactJS?"
I am retrieving some data where the number of entities is variable and are displayed as columns in my table. I wish to have fixed widths for all the columns. But when I try to do this, I find that the widths are not obeyed, and each column is stretched as per available total space.

Example sandbox: https://codesandbox.io/s/frosty-sid-ceugx?file=/src/App.js

But just by removing the column width o

[2020-06-23 13:37] vicodinvic1 opened #21550 "Chip's 'disableRipple' prop works, but throw warning into dev tools console"
When you need to pass `disableRipple` property to the `Chip` component it works, but in the browser dev tools in the console you will find warning about this property like if you passed a custom property.

<img width="629" alt="Screenshot 2020-06-23 at 16 24 03" src="https://user-images.githubusercontent.com/13731447/85410591-f5ea6d00-b56f-11ea-87d1-df68ebf05ea7.png">

But I found one option to av

[2020-06-23 14:17] gSarciotto opened #21551 "Problem with DefaultTheme type definition"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When trying to utilize a color from my theme pallete inside a makeStyles, it says that DefaultTheme doesn``t have property 'palette', which is odd since I logged the theme object an

[2020-06-23 14:23] eps1lon commented on #17454
Good news: The suggested type was definitely wrong on our part.
Bad news: `React.ChangeEvent` is not the (technically) correct type

We're not creating a custom, react change event in the Tabs component. We're simply passing along whatever event triggered the change in value. I won't go into detail what specific type of events this could be so that we're not needlessly restricting our implementati

[2020-06-23 14:29] eps1lon commented on #21551
We should link to our [typescript guide](https://material-ui.com/guides/typescript/#customization-of-theme) from that comment so that it's more apparent how this should be used. Could probably improve either the comment or docs to explain why and how you'd want to augment the default theme.

[2020-06-23 14:38] eps1lon commented on #21550
@vicodinvic1  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-06-23 15:06] vicodinvic1 commented on #21550
@eps1lon oh, my bad, I found what is wrong. `disableRipple` can works only if you pass to the `Chip` component `onClick` event handler, otherwise it will throw error about `disableRipple` in console because `Chip` will render a 'div' as the component  in this case, but not the `ButtonBase` as it is if you pass `onClick` prop.

[2020-06-23 15:06] #21550 closed

[2020-06-23 15:46] yhay81 commented on #11217
I am also in same case.
And I found using

Drawer with `variant="persistent"`
and
AppBar with `style={{zIndex:1301}}` (okay with theme.zIndex.drawer + 1)

Works for me.

[2020-06-23 16:21] bbourn commented on #21293
For our team, after reading this, we are moving to using straight asserts for DOM elements we need to ensure are being rendered instead of comparing to a 'known good' snapshot (of json).  This actually seems more bullet-proof.  For regression testing we will move to actual graphic representations of pages (NOT json) via puppeteer screenshots and use diff tooling.

[2020-06-23 17:46] pachuka commented on #16205
This would still be overridable correct? We like to configure spacing to use `rems` instead of `px` and would like to continue to be able to do that.

`spacing: (factor) => `${0.5 * factor}rem`,`

[2020-06-23 18:34] oliviertassinari commented on #16205
@pachuka Yes, we would still allow developers to change the unit.

[2020-06-23 21:52] oliviertassinari commented on #21166
Duplicate of #17454

[2020-06-23 21:52] #21166 closed

[2020-06-24 07:30] pkhodaveissi commented on #15914
This nesting concept really makes working with micro frontends cumbersome since you should have different `seed`s or use `disableGlobal`. Because as you stated @oliviertassinari, it's only a workaround, the page will be torpedoed with style tags from different micro front pieces, and having too many of them in a document is just not good for page load and rendering performance.

You could checkout

[2020-06-24 07:44] qhxin2 commented on #21528
@eps1lon tks for reply me, i hav'nt use StrictMode, and leak is caused in dev & prod Firefox/Safari env.

[2020-06-24 07:45] qhxin commented on #21528
@eps1lon tks for reply me, i hav'nt use StrictMode, and leak is caused in dev & prod Firefox/Safari env.

[2020-06-24 08:04] eps1lon commented on #20191
Good news: The suggested type was definitely wrong on our part.
Bad news: `React.ChangeEvent` is not the (technically) correct type

We're not creating a custom, react change event in the Slider component. We're simply passing along whatever event triggered the change in value. I won't go into detail what specific type of events this could be so that we're not needlessly restricting our implementa

[2020-06-24 08:22] ShehryarShoukat96 commented on #21533
Can I take this issue?

[2020-06-24 09:32] #20125 closed

[2020-06-24 10:30] oliviertassinari commented on #15914
@pkhodaveissi I think that your concern is different and outside of the scope of this issue. We didn't optimize for micro-frontend, nor do we aim to, but are still interested in finding improvement opportunities.

[2020-06-24 11:07] #17454 closed

[2020-06-24 11:07] #20191 closed

[2020-06-24 11:09] pkhodaveissi commented on #15914
Sure I understand, but guess my question boils down to a solution to reduce the number of `<style>` tags introduced to the document while you're being forced to have multiple siblings of `ThemeProvider` element around(cuz of the architecture).

[2020-06-24 14:18] jedwards1211 commented on #17321
@oliviertassinari isn't it a bug that `disableAutoFocus` is useless without `disableEnforceFocus` though?

[2020-06-24 16:08] oliviertassinari commented on #17321
@jedwards1211 Interesting, yeah, we kind of made `disableAutoFocus` useless in #16585. What about?

[code]

[2020-06-24 16:23] joshwooding commented on #21528
@qhxin Can you post your version of Firefox and confirm you could reproduce this using the codesandbox?

[2020-06-24 16:24] vipcxj commented on #20012
It seems that jss is a really css, and styled-component is just styles. If I want to style the deep children of a third part component (which I can't modify directly), I can use the nest style function of jss, how does styled-component deal with it? In my opinion I think jss is much more powerful than styled-component. with jss I can do something styled-component can't. If I had known about JSS ea

[2020-06-24 16:25] anking opened #21559 "getAriaValueText on Slider not working - reappeared"
getAriaValueText and getAriaLabel not working for the Slider component period.

EDIT:
if i want to return a custom label I do smth like:
[code]
But the widget swill returns "value" instead of "value days"

Not working even on demo page here:
https://material-ui.com/components/slider/

Using Chrome Version 83.0.4103.106 (Official Build) (64-bit)

[2020-06-24 16:26] oliviertassinari commented on #21559
@anking Do you have more context? Could you follow our issue template?

[2020-06-24 17:12] anking commented on #21559
@oliviertassinari I just added some details

[2020-06-24 17:18] oliviertassinari commented on #21559
👋 Thanks for using Material-UI!

We use GitHub issues exclusively as a bug and feature requests tracker, however,
this issue appears to be a support request.

For support, please check out https://material-ui.com/getting-started/support/. Thanks!

If you have a question on StackOverflow, you are welcome to link to it here, it might help others.
If your issue is subsequently confirmed as a bug,  an

[2020-06-24 17:18] #21559 closed

[2020-06-24 18:55] Ashishdce opened #21561 "[Popover] Height and width animations are not working as expected due to top and left properties"
Popover always positions itself using top and left properties. But if we change the height or width of the content, popover always grow vertically downwards in case of height or towards the right in case of width.

- [ *] The issue is present in the latest release.
- [ *] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a d

[2020-06-24 21:32] bonomite commented on #3386
Run this code in the "components repo", and point to your APP_NAME that is consuming it. This will tell the components repo to use the APP_NAME copy of React.

npm link ../APP_NAME/node_modules/react

[2020-06-24 21:41] ZChenzy opened #21562 "Better implementation of Avatar Group (remove z-index)"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Avatar Group should be implemented without z-index to reduce interference with other components that uses z-index

Current Implementation:
[code]

Personally, I believe that this should be implemented with the innate HTML order priority. We ca

[2020-06-24 21:49] gSarciotto commented on #21551
@eps1lon

Yeah, the link to the docs would help.

[2020-06-24 22:09] oliviertassinari commented on #21562
@ZChenzy Interesting, removing one usage of inline-style would also help with #19938.

Do you have an example of how it would look like?

What's the use case? A global RTL switch is already supported.

[2020-06-24 22:16] ohlr opened #21563 "[Docs] Server side rendering include implementation="css""
Within the server [side rendering docs](https://material-ui.com/guides/server-rendering/) I would love to be notified that components like [Hidden](https://material-ui.com/components/hidden/#implementations) provide two implementations (js & css) which I can choose from

[2020-06-24 22:19] ZChenzy commented on #21562
I think about this a purely aesthetic option, rather than RTL text localization thing.

I will make a pull request for this.

[2020-06-24 22:57] ZChenzy commented on #21562
Basically all you need is row-reverse.

![gIJtlKM7Bs](https://user-images.githubusercontent.com/30629529/85635682-7383ab00-b64c-11ea-8e24-359f27f8c159.gif)

after applying row reverse just need to reverse the order of children to maintain input order

[2020-06-24 23:00] oliviertassinari commented on #21562
Ok, deal :)

[2020-06-24 23:01] joshwooding commented on #21537
I can reproduce but it seems like it's a bug with ChromeVox. I tried to re-create the video on this [blog post](https://www.aaron-gustafson.com/notebook/aria-quicktip-labelledby-vs-describedby/) and I see the same weird behaviour?

[2020-06-25 00:46] peterkrieg commented on #17579
Just created PR:  https://github.com/mui-org/material-ui/pull/21564  to take care of this!  I was about to create an isssue and had a codesandbox of behavior reproduced but luckily found this issue first 🙂

[2020-06-25 03:54] firestige opened #21565 "in the Chinese document, the link at end of Typography Components is incorrect"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In the Chinese document, the link to typography API at the end of Typography Components is incorrect which should be "https://material-ui.com/zh/api/typography/" not "https://material

[2020-06-25 05:25] dileepthomas opened #21566 "Pagination - override the default view of number"
I was using pagination component in the material ui, so the default view will be like if i use the below code

` <Pagination count={10} />`

 The view of the component will be like this.
![Screenshot_20200625_105251](https://user-images.githubusercontent.com/20458936/85659394-21856880-b6d2-11ea-9bc7-21431d54418f.jpg)

But instead of displaying 5, i just need the initial end to be 4 like this
![Scr

[2020-06-25 07:00] eps1lon commented on #21528
I've forked it and deployed it: https://csb-qvhqs.netlify.app/. Please make sure that we know if this reproduces in prod or dev.

[2020-06-25 07:47] oliviertassinari commented on #21565
@firestige Thanks for reporting it. It will be fixed in the next sync.

[2020-06-25 07:47] #21565 closed

[2020-06-25 07:58] #21566 closed

[2020-06-25 08:01] oliviertassinari commented on #21563
@ohlr Thanks for raising this feedback. However, I don't see how we could leverage it. Closing for now.

[2020-06-25 08:01] #21563 closed

[2020-06-25 09:09] appukuttan-shailesh commented on #21549
Just in case anybody comes looking at this ticket.... the solution was: to set:
`style={{ width: "auto", tableLayout: "auto"}` on the 'Table' tag.

Demo:
https://codesandbox.io/s/hungry-surf-vb4ts?file=/src/App.js

[2020-06-25 09:47] justrhysism commented on #18710
Mark as _duplicate_ but doesn't reference the duplicate. 🙄

[2020-06-25 09:51] oliviertassinari commented on #21561
We plan to replace the positioning logic of the Popover component with the Popper one. It should address this problem at the same time.

[2020-06-25 09:54] oliviertassinari commented on #18710
Duplicate of #15511

[2020-06-25 10:10] Ashishdce commented on #21561
Great. Thanks.

[2020-06-25 11:09] oliviertassinari opened #21569 "[FocusTrap] Looping break with disableEnforceFocus"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Setting `disableEnforceFocus` allows the focus to escape the trap when using tab.

## Expected Behavior 🤔

Setting `disableEnforceFocus` shouldn't allow the focus to escape the trap w

[2020-06-25 11:19] dileepthomas commented on #21566
The first one shows only three and the ellipsis between dots shows one page, but i was looking for 3 pages between dots so i think 1 can't
I checked the customising the logic, but i was not able to  this will be a bit tricky to change without introducing other issues due to the interplay between this logic and the ellipsis logic.

So i am confused how to do with 4 and between dots it will be as no

[2020-06-25 11:32] N-ickJones opened #21570 "material-ui/docs/src/pages/getting-started/templates/dashboard/ Cross Browser scrollbar"
The following will fix the scrollbar for your Dashboard Template.

content: {
        flexGrow: 1,
        height: '100vh',
        overflow: 'auto',
        msOverflowStyle: 'none', // IE 11
        scrollbarWidth: 'none' // Firefox
    },

[2020-06-25 13:25] oliviertassinari commented on #21570
@N-ickJones Could you expand on the problem the template has in the first place?

[2020-06-25 13:26] sohaYounus97 commented on #15066
card border color?

[2020-06-25 13:51] keemor opened #21571 "TextField startAdornment moves label up from input on empty init value, endAdornment behaves properly"
Hi,

TextField startAdornment moves label up on empty init value, **endAdornment behaves properly**

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/1793635/85731138-8bb20380-b6fa-1

[2020-06-25 14:22] oliviertassinari commented on #21571
Duplicate of #13898

[2020-06-25 14:22] #21571 closed

[2020-06-25 14:46] balazsorban44 commented on #12827
Supporting CSS variables would also open up avoiding flickering of dark mode websites implemented in frameworks like Next.js or Gatsby!
Problem demonstrated: https://joshwcomeau.com/css/css-variables-for-react-devs/#dark-mode-flash-fix

Solution with CSS variables: https://joshwcomeau.com/gatsby/dark-mode/

[2020-06-25 16:00] oliviertassinari commented on #12827
Agree, we have been discussing this advantage with @mnajdova. The challenge here is what do we do with color transformation functions? I guess we could have them all generated ahead of time or use prefixing, like `fade(primary.main, 0.3)` could turn into a `primarily-main-fade-0-3` variable.

[2020-06-25 16:19] joshwooding commented on #21528
Tried using @eps1lon's deployment to reproduce it and still can't after 4 hours. It's amazing to have a visual representation of how much production mode increases performance.

[2020-06-25 17:33] mbrookes commented on #21566
@dileepthomas You can't for the reason already mentioned. It is by design.

[2020-06-25 18:29] vipcxj opened #21572 "`import { ThemeProvider, createMuiTheme } from '@material-ui/core'` not work"
This may be a type related issue.
`import { ThemeProvider, createMuiTheme } from '@material-ui/core'` cause this error:
[code]
And I dig into the source code of @material-ui/core/index.js, I found `ThemeProvider` and `createMuiTheme` are not exported. But they are listed in the type file.

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-o

[2020-06-25 18:31] #21572 closed

[2020-06-25 21:20] Bluskript opened #21575 "Dialog shadows flicker under certain conditions with custom theme"
Under certain conditions, the background shadows of dialogs flicker weirdly.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Dialog shadows stay constant while the dialog is open.

## Expected Behavior 🤔

Dialog shadows flicker in

[2020-06-25 22:14] oliviertassinari commented on #21575
I believe it's a rendering anomaly from the browser, nothing we have much control over.

[2020-06-25 22:14] #21575 closed

[2020-06-25 22:31] oliviertassinari commented on #21569
@dmtrKovalenko Actually, the problem can already be reproduced on https://next.material-ui-pickers.dev/demo/daterangepicker#basic-usage:

1. Open the popup
2. Click inside it to focus it
3. Press <kbd>Tab</kbd> a couple of times
4. 💥

It seems to come from this line: https://github.com/mui-org/material-ui-pickers/blob/b470d65dcc6cca27d3c29e3a29a58b883f2d80ea/lib/src/wrappers/DesktopPopperWrapper.t

[2020-06-25 23:01] #20074 closed

[2020-06-26 00:18] h0tw4t3r opened #21576 "[Link] When set to component="button", fires onSubmit form event"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Link element fires up `onSubmit` form event when rerenders.

## Expected Behavior 🤔

Not firing up the `onSubmit` event

## Steps to Reproduce 🕹

[code]
## Context 🔦

I'm trying to ac

[2020-06-26 02:26] variadico opened #21577 "borderColor prop on Box only works for full border, not borderTop, etc"
I was looking at the border color demo on the doc site: https://material-ui.com/system/borders/#border-color

I tried to set the color of a Box with only the bottom border set, but the color doesn't seem like it's being applied.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that th

[2020-06-26 03:57] tantra-anthony commented on #18831
this works for us. Can this be documented or are there any plans on fixing this?

[2020-06-26 08:23] eps1lon commented on #21576
Thanks for the issue.

Could you create a codesandbox using https://material-ui.com/r/issue-template and explain the steps that reproduces this issue? It's not clear if this is an issue with the other libraries, Material-UI or the integration.

How would you know that from the code? `Link` doesn't have an `onSubmit` handler.

[2020-06-26 09:15] KoenLav opened #21578 "[Select] Opening causes slowdown in Chrome on Android (caused by aria-hidden)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently when opening a Select (or any other Dialog/Modal) aria-hidden=true is added to all sibling elements in the DOM. One of those sibling is obviously the render-target for React

[2020-06-26 09:39] rikvdlooi commented on #21578
To add to this (I work together with KoenLav):

I have tested this on a faster android device, and also there the lag is noticeable (1 - 2 seconds).

We have limited this issue down to be caused by `aria-hidden=true`, because when we manually add this attribute to the render-target (so it always has this attribute, instead of only when the select is open) there is no lag when opening/closing the s

[2020-06-26 10:03] shoko-eguchi opened #21579 "Link onClick event type"
I use typescript, react redux.
In the link of material ui, the type definition of onClick event will be an error.
No error occurs with CSB.
Why am I getting an error?
I would be happy if someone could give me some advice.

■Error（VSCode, ESlint, prettier)
![error](https://user-images.githubusercontent.com/62126151/85845573-6cd96d00-b7df-11ea-8c18-d7b70ac49d27.PNG)
![errorDetail](https://user-image

[2020-06-26 10:04] #21579 closed

[2020-06-26 10:24] Lagicrus opened #21580 "[List/Grid/Chips] Drag & Drop"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Drag and drop components to reorder/reorganise them. Components that could use this could be either lists, grids, or chips.
Such as described [on uxdesign](https://uxdesign.cc/drag-and-drop-for-design-systems-8d40502eb26d) and mentioned brief

[2020-06-26 10:25] oliviertassinari commented on #21577
Duplicate of #16995

[2020-06-26 10:25] #21577 closed

[2020-06-26 10:30] oliviertassinari commented on #21578
Duplicate of #17001

[2020-06-26 10:31] #21570 closed

[2020-06-26 10:34] KoenLav commented on #21578
@oliviertassinari this is definitely not the same issue.

The list we are rendering is not within the Select component (in fact there are only two options in the Select)., also it probably doesn't need to be a list even, just a large DOM tree outside of the Select component.

Please reopen.

[2020-06-26 10:40] Lagicrus commented on #21580
Updated Summary to better expand on Icons & CSS that seems to be commonly used for this system 👌

[2020-06-26 10:42] eps1lon commented on #21578
Performance implications seem to be unrelated to react but how user agents deal with adding aria-hidden to large trees.

Though I doubt we can do anything here but wait for user agents to improve modals and "inertness" because it is the correct thing to do to "hide" everything but the dialog.

[2020-06-26 10:46] eps1lon commented on #21578
@KoenLav It would help a lot if you could go ahead and mock such an application in codesandbox.io so that we can debug the issue.

[2020-06-26 10:55] masbaehr commented on #17752
Hi, why closed? This error is still happening, so if IE11 is to be supported, this should be tackled. An easy way out would be to implement the CardAction as a DIV instead of a BUTTON.

I also think IE11 in this case is not doing something bad, but the other browsers are not adhering to the standard.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button
Permitted content | Phrasing cont

[2020-06-26 11:11] oliviertassinari commented on #17752
@masbaehr We were missing a working reproduction. `CardActions` is a `<div>` element, `CardActionArea` can be turned into a `<div>` element with the `component="div"` prop.

[2020-06-26 11:15] oliviertassinari commented on #21578
@eps1lon Right, sorry, I read the description too quickly. For context, I believe we are waiting for broader support of the `aria-modal` attribute to remove the `aria-hidden` approach.

[2020-06-26 11:17] jagin commented on #21028
I think it is more like a feature request. Using Autocomplete with async filtering, it is possible that the previously selected option will not be present in fetched options in more detailed filtering.

[2020-06-26 11:18] masbaehr commented on #17752
A simple reproduction would be this:
[code]

On Chrome this code would work , on IE11 when you click on the link it would still do "card action clicked".
Changing the element with component="div" indeed did the trick. Wouldnt it be useful having this as  a standard?

[2020-06-26 11:19] oliviertassinari commented on #17752
@masbaehr It's expected, you can't nest button > a.

[2020-06-26 11:21] masbaehr commented on #17752
Yea that's why i think a DIV is better as a base component to use as a default. It seems we're losing nothing. Even the ripple-effect seems to work. Many are unaware of this issue especially since in Chrome/Safari/FF it works nonetheless. Or is there any other advantage in using a BUTTON instead of DIV as default?

[2020-06-26 11:29] oliviertassinari commented on #21028
@jagin You would have to add this option back into the list. We cover the heart of the tradeoff in https://github.com/mui-org/material-ui/issues/18514#issuecomment-607277041.

[2020-06-26 11:31] oliviertassinari commented on #17752
@masbaehr A button is more idiomatic, the use case of button > a seems to be very much an edge case and to be avoided.

[2020-06-26 13:17] vizardkill commented on #21580
It would be great to see this add-on

[2020-06-26 13:21] armellarcier commented on #14427
FWIW here is a theme override to prevent chrome from displaying custom colors on autofilled inputs :

[code]

[2020-06-26 13:33] hmzaidamjad opened #21582 "Material-UI Autocomplete selected value update issue. where multiple prop is true"
I am using two Material-UI Autocomplete check boxes. When onChange event trigger of first checkbox, i am populating the second checkbox. Multiple prop of both check boxes are true. The issue I am facing is, i want to clear/empty/selected values to null of second check box when there is a change occur in first check box(onChange event trigger of first checkbox). Could not get it done yet while appl

[2020-06-26 13:35] #21582 closed

[2020-06-26 13:43] oliviertassinari commented on #14427
@armellarcier I would be careful with removing the custom colors, I think that it's meant to help users. It can also be interesting from a security standpoint, do know that you are on the right domain name, not being fished (otherwise autofill doesn't work)

[2020-06-26 14:05] thomasmery opened #21583 "CardHeader's titleTypographyProps component prop set to h2 makes TS complain when title is not span | string"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

the issue is demonstrated here

https://codesandbox.io/s/mui-cardheader-titletypographyprops-u9vqe?file=/demo.tsx

where I think I should be able to set the _component_ prop of _title

[2020-06-26 14:49] TheHolyWaffle commented on #21580
So ... basically [react-beautiful-dnd](https://github.com/atlassian/react-beautiful-dnd)? I don't think there would be any extra value if Material UI were to re-implement that behavior.

[2020-06-26 14:59] randomValue opened #21584 "[docs] Palette Object"
We really love to work with Material UI, never the less we are having big trouble understanding all the colors in theme-pallets, and where they are used.

For example:
1. we know the primary dark is used for button hovered state. but what else is it used for?
2. We have actions like hover, active, pressed etc. We only could find the hover and active state. it would be great to know, why the focus

[2020-06-26 15:21] vipcxj opened #21585 "light theme not work"
I found the button with primary color always use the color `primary.main`. But `palette.type` is `light`.
And I google it, then found this [link](https://stackoverflow.com/questions/50471716/how-to-switch-between-main-light-and-dark-variances-of-a-material-ui-palette/52247200). No solution, it seems that the only way to resolve it is changing the `theme.palette.primary` to a required value. Then s

[2020-06-26 15:30] joshwooding commented on #21585
Duplicate of #21371

[2020-06-26 15:30] #21585 closed

[2020-06-26 15:50] eps1lon commented on #21583
Thanks for the issue with a reproduction!

Looks like this is alredy fixed by #21552 which will be released in v5. Though we should add a test for this specific issue. There are still some excessive intersections with the acceptaple `title` prop in #21552. We should look into that as well.

[2020-06-26 16:50] thomasmery commented on #21583
thanks for the quick reply

I can definitely live with a _@ts-ignore_ for now

unless there is something I can do on my end and not resort to ignoring the error

thanks!

[2020-06-26 17:03] paynecodes opened #21586 "Option to Minify / Remove Whitespace and New Lines for `sheets.getStyleElement()`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Instances of `ServerStyleSheet` have a `getStyleElement()` method. Can we include an API for `getStyleElement()` that renders the css minified or stripped of unnecessary whitespace and new lines?

## Examples 🌈

[code]

## Motivation 🔦

Integ

[2020-06-26 17:18] chilversc commented on #20457
Exactly, in my case it was an overload of new concepts, I hadn't realised the context switch in the documentation and the separation between the two and thus wasn't really understanding the warning. Even though I read it, it just didn't make much sense at the time as in my mind I didn't realise the documentation was now discussing a different module, so the context I had in my head was still mater

[2020-06-26 18:45] jedwards1211 opened #21587 "[Menu] Remove MenuItem dependency on ListItem"
A 4px margin was added to the top and bottom of `ListItemText` in https://github.com/mui-org/material-ui/pull/15339, causing an inconsistency between items that use it and items that just have a string child.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicat

[2020-06-26 19:50] oliviertassinari commented on #21583
@thomasmery We will try to release v5.0.0-alpha.1 this weekend as part of our weekly release schedule, you could potentially jump into it 🤔.

[2020-06-26 20:44] ChantalDesrochers opened #21588 "[Breadcrumb] Visual separators included in list item count for screen reader"
The accessibility section at the bottom of this link: https://material-ui.com/components/breadcrumbs/ indicates the use of 'aria-hidden' to prevent screen reader announcement of the visual separators between links.

When using ChromeVox, the separators are not read out, however, the separators are included in the item count of the ordered list, providing misleading information to the user.

- [ x]

[2020-06-26 20:45] shamseerahammedm commented on #8778
How do you set 100% width on the select so that it fits the width of container ?

[2020-06-26 21:01] chromodome commented on #20896
Like @naveensaigit i'm having the error thrown when clicking only the max value of the range. Has this been solved?

[2020-06-26 23:11] mbrookes commented on #21588
Resources:

- https://www.w3.org/TR/wai-aria-practices-1.1/examples/breadcrumb/index.html
- https://www.aditus.io/patterns/breadcrumbs/
- https://scottaohara.github.io/a11y_breadcrumbs/
- https://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-breadcrumbs

[2020-06-27 00:32] joshwooding commented on #19106
Not sure how this is working. The `;` on the end makes the CSS invalid. Maybe it gets stripped out on the first one which is why you get one colour but then fails on the toggling but if you remove it everything works as expected.

[2020-06-27 11:34] h0tw4t3r commented on #21576
Yeah, you're totally right, but I'm using it inside `<form>`, and for some reasons, when the component is `button`, it triggers form's `onSubmit`, but when it's not a button, it doesn't

![abcd](https://user-images.githubusercontent.com/35642018/85921196-32c1a700-b883-11ea-9881-94a6eb85a5cf.gif)

https://codesandbox.io/s/priceless-forest-zgde2

[2020-06-27 11:36] Vinayak-SP commented on #7585
Any update on this bug ?

[2020-06-27 11:42] DriesDeBackker opened #21589 "[Hidden/Grid] Custom breakpoint support"
Currently, Material-UI supports custom breakpoints , but this support seems to be lacking in some components, in particular in. Hidden. The breakpoints used in this component are fixed and come with an -Up and -Down prop. I suggest that Hidden switches to a single 'up' and 'down' prop for all breakpoints, which can for instance be set as follows  up="xs" down="xxs lg" (with xxs a custom breakpoint

[2020-06-27 12:41] eps1lon commented on #19106
Right!

Removing the `;`
[code]

fixes the issue.

[2020-06-27 12:41] #19106 closed

[2020-06-27 12:46] eps1lon commented on #21576
Yeah we don't add a `type` to button in Link which defaults to submit. `<Link component="button" type="button" />` would work.

But I don't think we want to overload the Link/Button choice even more. You're want a `<button>` so why not use a `<Button>`? Mixing styles with semantics can be very disorienting.

[2020-06-27 12:46] #21576 closed

[2020-06-27 12:57] eps1lon commented on #21589
I think we're missing the same feature for the `Grid` component. @oliviertassinari wanted to implement this at some point if I recall correctly.

[2020-06-27 13:00] eps1lon commented on #21587
Might be safe to switch to a padding instead and see what other components are affected by it.

[2020-06-27 13:38] h0tw4t3r commented on #21576
Ok, thanks for clearance!

[2020-06-27 14:22] #21583 closed

[2020-06-27 15:20] oliviertassinari commented on #21587
@jedwards1211 I don't understand, why is this an issue? Why should it behave differently?

[2020-06-27 16:07] oliviertassinari commented on #21589
@eps1lon Agree, I think that we should support custom breakpoints anywhere we can. However, It depends on the outcome of #19704.

[2020-06-27 16:12] oliviertassinari commented on #7585
@Vinayak-SP Please follow #21561

[2020-06-27 16:25] jailsonpaca commented on #15745
It's the same for me!

[2020-06-27 17:25] oliviertassinari commented on #21588
@ChantalDesrochers Thanks for raising. It seems to behave correctly on VoiceOver, it announces 3 elements, but I can reproduce the same with ChromeVox. Should we fill an issue to ChromeVox?

The only alternative I can think of is to change the API to:

[code]

Not a huge fan.

[2020-06-27 17:39] jedwards1211 commented on #21587
I'm saying the two list items should *not* behave differently.  In the past they didn't, but #15339 caused them to behave differently.

I don't know if the spec says anything about menu item height, but according to this quote from #6098 it doesn't sound like there should be any difference in height when using `ListItemText` vs. string children:

Would reworking the `minHeights` and media queries

[2020-06-27 18:22] jedwards1211 commented on #6098
I'm confused, do the specs say anything about a dense mode?  Now at least, there's nothing in the OP link about dense mode and no image in the specs where the item is 40px tall.

[2020-06-27 18:59] oliviertassinari commented on #21587
@jedwards1211 Ok, thanks for the extra information. I think that we will need to revamp the List and Menu implementation in v5. One element that has came up is that it's not a good idea to share the same style for both. So I think that we need to stop using this MenuItem > ListItem inheritance.

[2020-06-27 19:38] oliviertassinari commented on #20896
@chromodome Do you want to work on a pull request? Using https://github.com/mui-org/material-ui/issues/20896#issuecomment-623190034?

[2020-06-27 19:40] oliviertassinari commented on #21586
Duplicate of #10068

[2020-06-27 19:40] #21586 closed

[2020-06-27 20:10] adamsr123 opened #21593 "[Button] Change LoadingButton prop pending to loading"
I'm very happy to see the new pre-release [v5.0.0-alpha.1](https://github.com/mui-org/material-ui/releases/tag/v5.0.0-alpha.1). I noticed something:

- The `Autocomplete` component has a prop called `loading`.
- The `LoadingButton` component has a prop called `pending`.

For convention, I think all components should use the word `loading`. Also it feels it makes sense after the component name

[2020-06-27 20:21] jedwards1211 commented on #21587
Okay.  This issue might exist with `ListItem` too, I need to check.

[2020-06-27 20:41] MrWittman612 commented on #10620
this is how I did it::

const useStyles = makeStyles((theme) => ({
  stepper: {
    width: '100%',
  },
  heading: {
    fontSize: '1.7em',
  },
  stepperHeader: {
    color: 'white',
    backgroundColor: setToMeterColor(theme),
  },
  stepButton: {
    color: setToMeterColor(theme),
    opacity: 0.8,
    '& .MuiStepIcon-active': {
      opacity: 1,
      color: setToMeterColor(theme),
    },
  },

[2020-06-27 20:47] mbrookes commented on #21588
@oliviertassinari Why does it require a change of API?

[2020-06-27 20:51] oliviertassinari commented on #21588
From what I understand there are only 3 possible outcomes:

1. It's a bug in ChromeVox only, we open an issue and let it sleep.
2. We change the API to avoid extra `<li>` element.
3. We use the cloneElement API to apply 2. It seems too brittle.

Do you see something else or different?

[2020-06-27 20:59] oliviertassinari commented on #21593
Thanks for raising this API inconsistency, much appreciated. I believe the closest prior discussion we have is in https://github.com/mui-org/material-ui/pull/21389#discussion_r438994929 with @mnajdova and @eps1lon.

[2020-06-27 23:12] Tuaev commented on #7466
Thanks, this was the only working solution for me.

[2020-06-27 23:31] mbrookes commented on #21588
[code]

[2020-06-27 23:34] mbrookes commented on #6098
@jedwards1211 You're commenting on a closed issue from 2017.

[2020-06-27 23:36] jedwards1211 commented on #6098
I guess I should have tagged the OP in the new issue that resulted from this?

[2020-06-27 23:55] oliviertassinari commented on #21588
Right, interesting, this sounds like a viable option too :)

[2020-06-28 02:14] paynecodes commented on #21586
Sorry! I promise I searched. I can’t imagine how this result didn’t come up in my query.

[2020-06-28 10:36] agzamovr commented on #13394
react-transition-group fixed [this issue in version 4.4.0](https://github.com/reactjs/react-transition-group/issues/429#issuecomment-624243135). Will this version be included in version 4 of Material UI or it will be in version 5?

[2020-06-28 10:57] ranaharoon3222 opened #21611 "Snackbar throwing this warning findDOMNode is deprecated in StrictMode"
I just used simple snackbar and it's thrwing a warning regarding findDOMNode is deprecated

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
showing this warning
 index.js:1 Warning: findDOMNode is deprecated in StrictMode. findDOMNo

[2020-06-28 10:59] #21611 closed

[2020-06-28 15:06] bilobom commented on #14260
if you're not using `FormControl` , then you can pass `margin='dense'` to the `OutlinedInput`
[code]

[2020-06-28 19:34] HarishSha commented on #21502
Try assigning Css at the beginning of Imports (right after the React import) like below
[code]

[2020-06-28 22:17] joshwooding commented on #20204
Nice spot.

[2020-06-28 22:46] joshwooding commented on #20311
Nice spot. Didn't notice it then but this was fixed in #21514

[2020-06-28 22:46] #20311 closed

[2020-06-28 23:00] oliviertassinari commented on #20311
@joshwooding Awesome, it sounds like we should be able to roll out the approach of Pagination and TreeView to the other components, DatePicker's day elements included :). I have opened an issue so we don't forget https://github.com/mui-org/material-ui-pickers/issues/1943.

[2020-06-28 23:54] zachlyoung opened #21614 "TextField with "autoFocus=true" within Tabs & React-Swipeable-Views causes index out of bounds error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Going in between tabs with a textfield set to "autoFocus=true" causes an index out of bounds error by setting the current index to a nonexistent index.

## Expected Behavior 🤔

The in

[2020-06-28 23:59] oliviertassinari commented on #21614
The issue seems to be with https://github.com/oliviertassinari/react-swipeable-views

[2020-06-28 23:59] #21614 closed

[2020-06-29 02:56] nvdai2401 commented on #21562
Hi @oliviertassinari, Have anyone worked on this issue? Can I fix this issue?

[2020-06-29 11:19] ubaidisaev opened #21615 "Importing Button component from `@material-ui/core/es/Button/Button` cause problem"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I came across the following problem.
Exporting `Button` component from `@material-ui/core/es/Button/Button` breaks my select component.
Maybe it's cause problem with another component

[2020-06-29 11:25] TrySound commented on #21615
From the docs https://material-ui.com/guides/minimizing-bundle-size/

[2020-06-29 12:32] B3Kay commented on #17579
I have the same issue with the Typography component.

[2020-06-29 14:12] oliviertassinari commented on #21562
@nvdai2401 The author of the issue might be working on it.

However, our policy is to wait 7 days before giving an issue to somebody else. If we don't hear back in two days, I think that it's safe to work

[2020-06-29 14:46] admin8756 opened #21616 "The value of type is inconsistent in context"
There is an error in the Chinese document on the official website,
Because it is a small problem, and it is on the web,
So I didn’t submit issues according to the standard
At url:https://material-ui.com/zh/components/pickers/
The value of type is inconsistent in context

![image](https://user-images.githubusercontent.com/21336637/86020049-ff854080-ba59-11ea-929c-ccc27ad26d17.png)

[2020-06-29 14:50] oliviertassinari commented on #21616
Thanks for raising, fixed

<img width="466" alt="Capture d’écran 2020-06-29 à 16 49 37" src="https://user-images.githubusercontent.com/3165635/86020705-8de0ce80-ba28-11ea-9190-893355080a79.png">

cc @DDDDDanica

[2020-06-29 14:50] #21616 closed

[2020-06-29 15:06] oliviertassinari commented on #21593
Looking at the semantic, we have:

- **pending**: "about to happen or waiting to happen" https://dictionary.cambridge.org/dictionary/english/pending
- **loading**: "a charge added to an investment, loan, insurance product, etc. to pay for managing the product, or to cover a higher risk": https://dictionary.cambridge.org/dictionary/english/loading.

I don't have any strong preference, I think that

[2020-06-29 15:07] #21615 closed

[2020-06-29 15:14] oliviertassinari commented on #21537
This seems to be the second issue we have about ChromeVox in a short period of time: #21537 and #21588. I have looked at the user-survey run by WebAIM in [2017](https://webaim.org/projects/screenreadersurvey7/) and [2019](https://webaim.org/projects/screenreadersurvey8/). ChromeVox market share seems to be at 0.4% then 0.6%.

What about we update our policy around ChromeVox to: *forward the issues

[2020-06-29 17:49] adamsr123 commented on #21593
@oliviertassinari  Good idea, I still think that **loading** is much more used and specially in React components:
[Google trends](https://trends.google.com/trends/explore?geo=US&q=loading,pending)

UI frameworks examples: [React Bootstrap](https://react-bootstrap.github.io/components/spinners/), [React spinners](https://www.npmjs.com/package/react-spinners), [React Semantic-UI](https://react.seman

[2020-06-29 18:11] xtianus79 commented on #15820
Can someone explain the with styles thing. I can honestly say when I see stuff like this I think lol come on man Angular is just so much more normal. 3 hours today searching and looking for answers and then I find this.

[2020-06-29 18:22] oliviertassinari commented on #15820
@xtianus79 This API works with class components too: https://material-ui.com/styles/basics/#higher-order-component-api.

[2020-06-29 18:36] xtianus79 commented on #15820
@oliviertassinari can you show mean an example of it with the grid? lol that is what I am trying to do and I am stuck right there. I am using makeStyles and createStyles and I cant' figure out how to do it without a function? Can you help with that.

[2020-06-29 19:01] oliviertassinari commented on #15820
@xtianus79 You will find more help on StackOverflow

[2020-06-29 19:15] jakubfiglak opened #21617 "[Localization] Typescript error in @material-ui/core/locale/index.d.ts"
Hey, this is my first open-source issue ever, so I hope I'm not doing anything wrong here.

I'm trying to implement localization to my react-typescript project and I get the following error:

`TypeScript error in C:/Programowanie/Projekty/playmaker-pro-scouting-client/node_modules/@material-ui/core/locale/index.d.ts(2,13):
'=' expected.  TS1005`

I think the solution is just to delete the keyword

[2020-06-29 19:25] oliviertassinari commented on #21617
@jakubfiglak Do you have a reproduction we can have a look at?

[2020-06-29 19:52] jakubfiglak commented on #21617
Oh, sorry, I tried to reproduce it but it works just fine on Sandbox. I guess it's something with my config then. I'm using typescript 3.7.2, perhaps I need to upgrade? I will try to fix this and I will come back with the solution.

[2020-06-29 20:08] sandeshbagade opened #21618 "Theme isssue"
I was using "@material-ui/core": "4.9.0" for my project. I have my App.js (main parent compo) wrapped in MuiThemeProvider. I transitioned from "@material-ui/core": "4.9.0" ----> "@material-ui/core": "^4.10.2". Everything worked well. No warning , no errors. When I tried to do npm run build I was able to but when I load the acual build it was blank page and all the content was there in browser but

[2020-06-29 20:21] Lori-Becker commented on #2992
I'm also having this issue. The inputProps field on the TextField does not apply to the generated <textarea> element when multiline=true. inputProps only applies to the <input type='text'> input. Therefore, you can't pass cols to the textarea element when using the TextField component.

[2020-06-29 20:48] oliviertassinari commented on #2992
@Lori-Becker Do you have a reproduction for that? A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-06-29 20:56] kamarajuPrathi opened #21619 "Does not give eclipses for Card Title for overflow"
<CardHeader
  titleTypographyProps={{'noWrap':true}}
  title={header.title}
/>

[2020-06-29 21:06] oliviertassinari commented on #21617
@jakubfiglak We support TypeScript down to 3.2

[2020-06-29 21:08] oliviertassinari commented on #21618
Make sure you don't have a duplicate version of `@material-ui/styles` in your bundle: https://material-ui.com/getting-started/faq/#i-have-several-instances-of-styles-on-the-page.

[2020-06-29 21:08] #21618 closed

[2020-06-30 02:42] dnquang1996vn opened #21620 "Material UI pallete add extra color to theme and use it in the same manner Primary/Secondary are used"
-  [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would like to add more base custom colors besides "primary" and "secondary" to the 'palette' theme like bootstrap such as "success", "danger", "warning", "info". And we can use them just like the primary and secondary color

## Examples 🌈

[2020-06-30 03:00] jfarris587 opened #21621 "Styled() Function Interpolation: Referencing other Components"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Styled Components integrates "references for other components" in their styles: https://styled-components.com/docs/advanced#referring-to-other-components

While converting to material-ui `styled()` function, this feature is not included, mean

[2020-06-30 03:36] jfarris587 opened #21622 "[styles] Using Props and Theme Breakpoints with styled()"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Below behavior works:

[code]

Below behavior does not work:

[code]

## Expected Behavior 🤔

toggling a prop, such as `isOpen` should be able to toggle the styles when nested in a me

[2020-06-30 03:59] qhxin commented on #21528
@joshwooding @eps1lon after long time debug, i found it's caused by my Tab style. The demo is: https://codesandbox.io/s/dazzling-visvesvaraya-eczqe?file=/src/Tab.js

[2020-06-30 04:00] qhxin commented on #21528
is makes Firefox rule tree leak

[2020-06-30 04:12] xtianus79 commented on #15820
@oliviertassinari for that particular issue and use case I don't see it.

[2020-06-30 06:53] alirezamaleky opened #21623 "spacing not work on column direction"
spacing attribute of Grid not working when direction equals `column`

[2020-06-30 07:13] kirill-konshin commented on #20956
@oliviertassinari sorry to keep pinging you, but the issue is closed, but there's no resolution what to do with difference in size of the things...

[2020-06-30 07:13] ohlr opened #21624 "[Hidden] css differs from js implementation"
[Hidden] css differs from js implementation with respect to Grid.

https://codesandbox.io/s/friendly-chatelet-hg2ne?file=/src/Demo.js

(you need to reduce the width of the window to see the buttons)
The js Hidden is full width. The css Hidden is reduced width.

I have seen you want to [remove](https://github.com/mui-org/material-ui/issues/19704) Hidden within v5. Maybe you should provide  referenc

[2020-06-30 07:26] 70shakeel commented on #14933
#14604 did not guide on steps to make the template work. Kindly share details on how to make a theme work in material-ui?

[2020-06-30 07:33] oliviertassinari commented on #21624
@ohlr This is expected, one has an extra div element (CSS) to make it work. Add a div to the js implementation, it will be equivalent.

Closing for #19704.

[2020-06-30 07:33] #21624 closed

[2020-06-30 07:36] oliviertassinari commented on #21623
Duplicate of #18225

[2020-06-30 07:36] #21623 closed

[2020-06-30 07:47] oliviertassinari commented on #21620
@dnquang1996vn Duplicate of #13875

[2020-06-30 07:47] #21620 closed

[2020-06-30 07:49] oliviertassinari commented on #21621
Duplicate of #16113

[2020-06-30 07:49] #21621 closed

[2020-06-30 07:50] qhxin commented on #21528
There are so many inline style sheets .

![image](https://user-images.githubusercontent.com/8831920/86098808-38202b00-bae9-11ea-89d7-08a7fc138a19.png)

![image](https://user-images.githubusercontent.com/8831920/86098855-479f7400-bae9-11ea-92a5-5b531ce51725.png)

[2020-06-30 08:32] #17530 closed

[2020-06-30 09:15] jmayergit commented on #13793
Made no difference for me

[2020-06-30 09:41] illogikal opened #21625 "Text field with helper text should be the same height as without"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I create a text field component with a helper text that is on the same line as a non helper text text field, the helper text pushed the field up. I would expect that I don't ha

[2020-06-30 09:45] oliviertassinari commented on #21625
@illogikal You can set a whitespace `helperText=" "` to retain the same height.

[2020-06-30 09:47] illogikal commented on #21625
This makes every line taller... but is a workable solution. If that is the intended solution, can it be added to the docs?

[2020-06-30 09:50] oliviertassinari commented on #21625
@illogikal Fair, I think that we could imagine a demo for it, right now, it's documented on the API pages. Is this something you would like to work on? :)

[2020-06-30 09:56] illogikal commented on #21625
I would be happy to contribute. Should I add an example to the text field docs? Would probably make sense to add a small note to every text field based component.

[2020-06-30 10:02] illogikal commented on #21625
If I'm not mistaken, is it possible to overload the helper text prop in the theme?

[2020-06-30 10:03] qhxin commented on #21528
![image](https://user-images.githubusercontent.com/8831920/86112919-29427400-bafb-11ea-83eb-3d83f8937b01.png)

the class names is increasing.

[2020-06-30 10:05] TomPradat opened #21626 "[Portal] Don't use document.body as a default container"
https://github.com/mui-org/material-ui/blob/c9e218142e98f4bef2ec31852bdcc0a3290f3742/packages/material-ui/src/Portal/Portal.js#L27

I'm not 100% sure that it's a bad idea, but according to [react documentation](https://reactjs.org/docs/react-dom.html#render) on `ReactDOM.render` :

 And this [stackorverflow post](https://stackoverflow.com/questions/49504546/is-it-safe-to-use-reactdom-createportal-

[2020-06-30 10:09] jeemok commented on #240
For `TextField` you can use `withStyles`:

[code]

[2020-06-30 10:11] qhxin commented on #21528
@oliviertassinari pls open this issue again.

[2020-06-30 10:49] illogikal commented on #21625
This doesn't seem to work

[2020-06-30 10:51] JanKaifer opened #21627 "CSS injection order issue between dev & prod"
When you import your code before material ui, production build will make materialui's styles more important and development build will make your styles more important.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The order of <

[2020-06-30 10:58] joshwooding commented on #21528
I can reproduce the memory leak but I believe this is a jss issue.

[2020-06-30 11:25] Nasdan commented on #20812
The error comes again in version [4.9.12](https://github.com/mui-org/material-ui/releases/tag/v4.9.12). I had try in [4.10.2](https://github.com/mui-org/material-ui/releases/tag/v4.10.2) and it throws the same error.

It throws the error when I use the `es` version:

_webpack.config.js_

[code]

[2020-06-30 11:27] oliviertassinari commented on #21625
@illogikal I think that we could add a third item on https://material-ui.com/components/text-fields/#limitations. To explain how the helper text can impact the layout, that it might be interesting to reserve the space. Regarding the theme, yes, you can change the default prop values with the theme.

[2020-06-30 11:40] oliviertassinari commented on #21626
@TomPradat Closing as no actual error related to it has been reported in 3 years. It's safe until proven otherwise.

[2020-06-30 11:40] #21626 closed

[2020-06-30 11:50] oliviertassinari commented on #21627
@JanKaifer This is expected, the CSS injection order is dictated by the import order. In your case, it seems that something in the production resolution pipeline changes the order, maybe tree-shaking. You can find more details on https://github.com/mui-org/material-ui/issues/16374#issuecomment-546139848.

I'm not sure how we could better document it. It doesn't seem to be a frequent problem. Maybe

[2020-06-30 12:14] #21627 closed

[2020-06-30 17:17] jakubfiglak commented on #21617
It's not working for me still, I created a sample repo to reproduce the problem:

https://github.com/jakubfiglak/material-ui-localization

Any tips would be highly appreciated.

[2020-06-30 18:27] oliviertassinari commented on #21617
@jakubfiglak Thanks for the reproduction, well spotted. What do you think of this fix?

[code]

[2020-06-30 19:32] jakubfiglak commented on #21617
@oliviertassinari Yeah, that's what I suggested in the original comment:) Sure, I can give it a try!

[2020-06-30 21:32] raissaccorreia commented on #19173
I'm having this issue too. I'm trying to use AutoComplete with freeSolo as a Form(with Formik), to the user input an array of strings, and see each string in each chip. If the array is already in InitialValues it works fine, but if the user adds another value, it crashes showing the "value.map is not a function"

You can reproduce in this link, try to add another chip and submit with tab or enter:

[2020-06-30 23:18] oliviertassinari commented on #19173
@raissaccorreia Your issue is different, you switch the value from an array to a string, it breaks, I wouldn't expect less.

[2020-07-01 01:06] louisgjohnson opened #21634 "Overriding styles comes after in the css order in some cases"
I'm trying to override some styling for the MuiToggleButton and the override seems to come before the base styling so the base stylings can't be overridden.

## Current Behavior 😯

The component isn't respecting the override styling and using the base in some cases

## Expected Behavior 🤔

The override styling should override the base

## Steps to Reproduce 🕹

Steps:

1. Add ToggleButton to overri

[2020-07-01 06:06] dandv opened #21635 "Example for menu item being a link"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Another one of my simple/stupid questions :) How do I create a menu item that links to another page?

(My particular use case involves a `gatsby-theme-material-ui` link, but this is a general question).

## Motivation 🔦

I'm trying to simply

[2020-07-01 09:14] phifa commented on #6115
So I am pretty new to Material UI and also just saw the alpha release of v5. @ldiego08 you said:

I usually use styled components when working with react. What is the Material UI styling system and what is the recommended way to use styles and CSS in Material UI going forward? I read through this page and its not clear to me if you are in favor of CSS-IN-JS or not: https://material-ui.com/system/b

[2020-07-01 09:19] fmagaldea opened #21636 "[MobileStepper] Add ability to maintain the 3 dots exactly at center of the whole stepper width, whatever is the width of "Back" and "Next""
In you demo page https://material-ui.com/components/steppers/#dots you use words "Back" and "Next", plus an icon for each, so the width of these buttons are exactly the same, so we see 3 dots exactly at middle of the Stepper container.

But if you change the labels by let's say "Previous" and "Next" (or change locale of these labels), then the buttons width is not the same, and the 3 dots move a b

[2020-07-01 09:27] oliviertassinari commented on #21593
It seems that we can go into the direction proposed by @adamsr123

[2020-07-01 10:22] oliviertassinari commented on #21634
@louisgjohnson Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-01 10:25] oliviertassinari commented on #21635
@dandv Usually, what will happen in a page transition is the menu to remount, which will automatically close it. If it's not what's happening (strange), you might want to add a click listener on the Menu to automatically close it.

[2020-07-01 10:54] fzaninotto opened #21639 "Badge cut off when added to MenuItem"
When adding a `<Badge>` to a `<MenuItem>`, it appears cut off:

![image](https://user-images.githubusercontent.com/99944/86235966-8ee53d80-bb99-11ea-8d4b-64831210363d.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Badge is c

[2020-07-01 11:12] eps1lon commented on #21593
The LoadingButton component has a prop called pending.

If you look at the component you'll see that these props are in fact describing different UI patterns. Naming them differently is very much intended. Before reading the [concurrent mode docs](https://reactjs.org/docs/concurrent-mode-patterns.html#the-three-steps) I would've probably agreed. But it's now apparent to me that we should distingui

[2020-07-01 11:37] eps1lon commented on #21528
Is about dynamic styles. codesandbox.io/s/dazzling-visvesvaraya-eczqe?file=/src/Tab.js only uses static styles.

Updated the initial post to use codesandbox.io/s/dazzling-visvesvaraya-eczqe?file=/src/Tab.js. The original sandbox could not reproduce the issue.

[2020-07-01 12:13] SreejithNS commented on #19587
This worked for me:
Source: [StackOverflow](https://stackoverflow.com/a/62298974/3591751)
`makeStyles `returns a hook which you are passing to `withStyles`. This is what throws you that error. You should just pass on the styles to `withStyles `instead without the use of `makeStyles`

[code]

[2020-07-01 13:06] eps1lon commented on #21537
@oliviertassinari I'd agree with that. As much as I'd like to fix these issues we just don't have the bandwidth to go after it.

At least i'd like to know if this is only reproducible in ChromeVox and what happens with "vanilla React" i.e. `<input aria-describedby="some-id" />`. Leaving this open to see if @ahayes91 can help us with answering these questions.

Linking to an existing ChromeVox bug

[2020-07-01 14:47] ryancogswell commented on #21593
@eps1lon It isn't clear to me that "pending" is any more accurate than "loading" in this case. Neither prop name is ideal for this case. Unlike Autocomplete, which can itself be in a "loading" state, this button is indicating the state of something else -- the button itself isn't "pending" or "loading", rather it might indicate a pending transition or that something else is loading.

As far as the

[2020-07-01 17:59] vdjurdjevic opened #21641 "Implement scrollable component"
Hi :)

First of all, this is the best UI library for the web out there! Worked with other material implementations (angular), and it was more pain than gain. This implementation is remarkable with its level of customizability. Finally, I can use ready-made components and make them fit the brand instead of every app being a Gmail clone :D

That being said, there is one small piece missing that I wo

[2020-07-01 19:53] ivanjeremic opened #21642 "[Select] Smaller demos"
Can we have things like this removed from the docs? [https://i.gyazo.com/93dc156541e3b7939022a4239747bd94.png](https://i.gyazo.com/93dc156541e3b7939022a4239747bd94.png)

It makes it hard to find components that we need I would suggest 1 element per example.

[2020-07-01 19:54] oliviertassinari commented on #21642
Your link is not working

[2020-07-01 19:58] ivanjeremic commented on #21642
fixed

[2020-07-01 20:07] oliviertassinari commented on #21642
We had a first iteration on this page to reduce the number of components on each demo. Cc @joshwooding, do you see any simplification potential left?

[2020-07-01 20:09] ivanjeremic commented on #21642
Keep the number of examples the same only separate them, give every variation of for example this Select an own demo.

[2020-07-01 20:14] oliviertassinari commented on #21642
Which URL did you use?

[2020-07-01 20:16] ivanjeremic commented on #21642
https://material-ui.com/components/selects/

[2020-07-01 20:16] oliviertassinari commented on #21641
Thanks for opening this issue. We have had this request a couple of times. I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure enough people are looking for such abstraction. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-07-01 20:17] oliviertassinari commented on #21642
Thanks, agree, I think that we could simplify the demos :)

[2020-07-01 20:18] oliviertassinari commented on #21642
Would you be interested in working on it?

[2020-07-01 20:23] ivanjeremic commented on #21642
I would have time from September until then I can't say 100%

[2020-07-01 20:26] mnajdova commented on #21593
I would have to agree eith @eps1lon on this one, we should follow react’s terms for describing the patterns which are already defined in their implementation. The button itself is not in loading state, bit it can show a pending state. The name would suggest that it can be used in use cases when something will be loading on the page. In addition having a Loading button with loading={false} looks re

[2020-07-01 21:27] dorairaju commented on #19159
Hi @bmaclean, @felixswift, I am looking to achieve same functionality. Need your help on this.

[2020-07-01 21:38] oliviertassinari commented on #19159
This feature is next up in our enterprise data grid roadmap, cc @dtassone.

[2020-07-01 21:52] RaiderII opened #21643 "Using TS with Material UI and Styled Components"
Hi everyone. Sorry if this isn't the best place to post this, but I'm pretty new to TS and I'm not sure if it was a MUI or Styled Component issue (I think it's a MUI one)

I'm having trouble with this component where `checked `is throwing the following error:

[code]

[code]

and I don't know if it changes something, but I also have defined the size of the checkbox on the index.html file. It looks

[2020-07-01 23:01] oliviertassinari commented on #21643
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-01 23:09] oliviertassinari commented on #21639
Reproduction on https://codesandbox.io/s/material-demo-0p6l3?file=/demo.tsx. It seems that we can simply remove the overflow style. I don't see any good motivation for this style. Git blame doesn't yield any useful information, the style come from: https://github.com/mui-org/material-ui/commit/9a9ea7e1ffff446e766dbf27bc2153154a83a2db#diff-97d43fceafba5d21cb2646aaa9483e54R16.

[code]

[2020-07-01 23:23] tj3407 commented on #21639
I would like to work on this issue if no one else has started

[2020-07-01 23:28] RaiderII commented on #21643
I'm unable to save for some reason, but I edited the app component and this is the resulting code:

[code]

and the error is on the `label` prop, just like my first post.

[2020-07-02 00:06] kgregory opened #21645 "[CardHeader] Action is not vertically centered in Card Header"
This [codesandbox](https://codesandbox.io/s/material-demo-opmcv) illustrates this issue.

The action is positioned with a negative margin, but it appears to be too close top the top edge by 4px:

[code]

![image](https://user-images.githubusercontent.com/3155127/86301788-c1f8f280-bbd4-11ea-9db7-7cef4fa8823d.png)

In my repro, I've augmented the `action` class via override:

[code]

![image](https:

[2020-07-02 00:11] vdjurdjevic commented on #6115
I don't know why styled-components API I so popular. It's slower, you have to wrap everything into component instead of just generating class name. And also, what's the thing with tagged template literals? We didn't want to write css in css files, because it's much better to write it in javascript string? :D Object syntax is way more powerful when it comes to composition and refactoring, etc. For

[2020-07-02 01:21] mbrookes commented on #21645
It's documented under "overflow menu", and does appear to be vertically centered (which I agree looks better), although in this example the designer hasn't allowed sufficient space to the right for the ripple:

![image](https://user-images.githubusercontent.com/357702/86305797-79f4c280-bc0a-11ea-8dd1-fe1f319a7960.png)

https://material.io/components/cards#actions

[2020-07-02 01:29] kgregory commented on #21645
@mbrookes thank you, I missed that.  I can submit a PR.

[2020-07-02 03:13] martinjlowm commented on #6115
I had the same concern :) perhaps it clears things up a bit:
https://github.com/mui-org/material-ui/issues/6115#issuecomment-580449539

[2020-07-02 03:36] vdjurdjevic commented on #6115
@martinjlowm Yep, we are on the same page :) I think that the smartest way to go for the material UI team is to implement some kind of pluggable solution and not couple with any css in js solution, letting people choose what to use and save some bundle size that way. And also keeping classes and createMuiTheme API, because that's the most powerful part of it. For me, css in js is about easy dynami

[2020-07-02 03:43] louisgjohnson commented on #21634
No worries! sorry when I submitted this error, I was in a bit of a time crunch.

[2020-07-02 05:41] AdityaAnand1 opened #21647 "Allow making the first column sticky in a table"
Just like stickyHeader, how about a stickyColumn=[0] or something like that?

[2020-07-02 08:16] oliviertassinari commented on #21635
Closing as I think the correct answer is: remount between page transitions.

[2020-07-02 08:16] #21635 closed

[2020-07-02 08:17] oliviertassinari commented on #21635
Also don't miss https://material-ui.com/guides/composition/#routing-libraries

[2020-07-02 08:18] oliviertassinari commented on #21635
I'm linking #21533 as it could be a more scalable solution.

[2020-07-02 08:20] oliviertassinari commented on #21647
Duplicate of #19159

[2020-07-02 08:20] #21647 closed

[2020-07-02 08:25] #21617 closed

[2020-07-02 08:48] #21639 closed

[2020-07-02 08:51] sunyamare commented on #1911
I ended up with a workaround using a list element inside the table, and defining the width of the list item...
Something like:
`<TableCell>
  <ul style={{ width: "150px" }}>
    <li>{row.whatever}</li>
    <li>{row.whatever1}</li>
    <li>{row.whatever2}</li>
  </ul>
</TableCell>`

[2020-07-02 08:51] #21645 closed

[2020-07-02 08:58] AdityaAnand1 commented on #19159
That's unfortunate that such a basic feature will be paid.

Would it be possible to add it to the open source version?

[2020-07-02 09:00] TheHolyWaffle commented on #6115
@vdjurdjevic Indeed, coupling material-ui to one css in js solution is almost a guaranteed recipe for conflict when css-in-js practices inevitably grow in different directions.

How about some adapter pattern that applies styling with a specific css-in-js provider? The styles themselves should be defined in a consistent format within the material-ui packages. It's the applying of those styles that

[2020-07-02 09:14] fzaninotto commented on #21639
You guys rock, thanks a lot! 💯

[2020-07-02 09:15] oliviertassinari commented on #21639
It will be released in v5.0.0-alpha.2 this weekend

[2020-07-02 09:32] oliviertassinari commented on #21643
The `Checkbox` component doesn't support the `label` prop, the TypeScript error is expected. Regarding the second, we can't help without a reproduction. Closing for now

[2020-07-02 09:32] #21643 closed

[2020-07-02 09:46] maciej-gurban commented on #16947
Hi! First of all, thank you for providing a great component library, best one I've used so far. Our teams have written hundreds of thousands of lines of code using the components and methodology you created and once developers learn the basics of using `classes`, how to write the styles etc., it's a breeze to work with even on a massive enterprise scale type of codebase.

I'm not sure if that's th

[2020-07-02 09:54] oliviertassinari commented on #21588
Opened https://bugs.chromium.org/p/chromium/issues/detail?id=1101725.

[2020-07-02 10:22] oliviertassinari commented on #21537
It seems to be an issue with ChromeVox: https://codesandbox.io/s/material-demo-jr2x0?file=/demo.tsx. With VoiceOver, we are good with "foo" and "bar", however, with ChromeVox, only bar work, unfortunately, our TextField uses the DOM structure of "foo". Can somebody confirm?

[2020-07-02 10:34] vuongtrancr opened #21649 "Material UI autocomplete weird behavior"
| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.9.1  |
| Formik | v2.1  |
| Formik-material-ui | v2.0.0  |

Site: https://staging.forneu.com/checkout2

Hi all,
I have a issue with autocomplete and I really need the help
I used autocomplete and get data from Spree country and fill it into autocomplete data
After that, I use the order country info as selected value of country

[2020-07-02 10:56] duvet86 commented on #21634
Same issue here.
Code sandbox created: https://codesandbox.io/s/funny-montalcini-hmdme?file=/src/App.js

[2020-07-02 11:13] oliviertassinari commented on #21634
@duvet86 See https://material-ui.com/customization/components/#pseudo-classes. You need to increase the specificity.

[2020-07-02 11:13] #21634 closed

[2020-07-02 11:15] #21649 closed

[2020-07-02 11:29] kamami commented on #16942
This issue still persists, even the demo on material-ui.com does not scroll if max-height is set in developer tools for demonstration.

[2020-07-02 12:03] DaniGuardiola commented on #21142
Hi there! I'm encountering this behavior. I'm not using SSR so I don't really understand how it influences this, but I'm having `useMediaQuery` return false in the initial call which results in a nasty flash of CSS. A result of `true` means mobile, so the page is loading initially with the desktop styles (`false`), then it instantly switches to the mobile styles). Am I doing something wrong, shoul

[2020-07-02 12:04] oliviertassinari commented on #21636
Here is one possible approach using CSS grid:

[code]

However, it doesn't work with IE 11, and not sure about the support of older mobile browsers, which seems to be more important. In your case, you might have to set a wrapping div with a fixed height, until our browser support target allows the above.

[2020-07-02 12:06] oliviertassinari commented on #21142
@DaniGuardiola Nothing wrong, if this is important for you, use CSS media queries, not this JavaScript helper.

[2020-07-02 13:24] DaniGuardiola commented on #21142
@oliviertassinari ok, I didn't know of the existence of the `noSsr` option, that fixed it for me. I'm trying to understand the diff but I think I'm missing some basic context about SSR. I understand that by checking the existence of the global `window` object it is possible to disambiguate whether the code is being run on a client or a server, but I would need to read some more code to fully under

[2020-07-02 13:38] oliviertassinari commented on #21142
@DaniGuardiola Ok, no problem, feel free to experiment with these different assumptions when you get the time :)

[2020-07-02 14:11] RobelTekle opened #21650 "Theme overrides : width does not exist on type CSSProperties"
Using `createMuiTheme` I override the `MuiCard`, setting a custom `width` and `height`, in this way.
[code]
The component take the good dimensions.
The problem comes when I try to access these values in the style of other components.

[code]
I have this error for `width` and `height` :
`Property 'width' does not exist on type 'CSSProperties | CreateCSSProperties<{}> | PropsFunc<{}, CreateCSSProper

[2020-07-02 15:45] #15694 closed

[2020-07-02 15:48] ivan-jelev opened #21651 "[Autocomplete] Change option disabling mechanism"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Current [option disabling mechanism](https://github.com/mui-org/material-ui/blob/next/packages/material-ui-lab/src/Autocomplete/Autocomplete.js#L218-L221) prevents any mouse interactions with the list option.
It makes not possible for example

[2020-07-02 16:12] oliviertassinari commented on #21651
Duplicate of #19254

[2020-07-02 16:12] #21651 closed

[2020-07-02 16:40] joshwooding commented on #21537
I can confirm :P

[2020-07-02 16:56] markwain commented on #17234
hi @oliviertassinari !
is there any plan to fix this?

[2020-07-02 16:57] ryancarville commented on #20191
Hello,
I am running into the same issue, but when I try using a React.SysntheticEvent I get the same error plus more. Any help would be greatly appreciated!

<b>Code:</b>
[code]
<b>Error</b>:

[code]

[2020-07-02 17:23] pallavisingh1511 opened #21652 "Module not found: Can't resolve '@babel/runtime/core-js/object/get-prototype-of' in '~/node_modules/material-ui/ButtonBase'"
Getting the following error for multiple material ui components
Module not found: Can't resolve '@babel/runtime/core-js/object/get-prototype-of' in '~/node_modules/material-ui/ButtonBase'

node - v12.18.2

package.json
[code]

[2020-07-02 17:25] eps1lon commented on #21652
We no longer support `material-ui`. Try upgrading to `@material-ui/core`

[2020-07-02 17:25] #21652 closed

[2020-07-02 17:42] ryancarville commented on #20191
Hey all,
Has this new implementation of React.SyntheticEvent has been proven to be the correct approach.  I am having the same issue but when I use the synthetic event I get the same error plus a few more!
Thanks in advance.

<b>Error</b>
[code]

[2020-07-02 17:47] mageprincess commented on #20896
Hey @oliviertassinari,
It looks like nobody has claimed this issue, so I decided to take a look after reading contribution guidelines.
I made a [commit](https://github.com/mageprincess/material-ui/commit/200721a662cf3b5f6d9d129c4e6163a5c92efc58) in my forked repo with the fix from [#650082445 (comment)](https://github.com/mageprincess/wonderful-day/issues/1#issue-650082445) and added a test case.

[2020-07-02 17:48] oliviertassinari commented on #20191
It was solved in v5.0.0-alpha.1

[2020-07-02 17:49] oliviertassinari commented on #21537
@joshwooding Could you open an issue to ChromeVox? Link it here :)?

[2020-07-02 17:51] oliviertassinari commented on #20896
@mageprincess It sounds like a solid start, do you want to open a pull request on the next branch? :)

[2020-07-02 18:19] ryancarville commented on #20191
AHHHH!!! We are still running v4.11.  Will update and try again.  Thanks!

[2020-07-02 19:03] oliviertassinari commented on #17234
Unclear, we have stopped investment on the styling solution a year ago. Trying to leverage tools the community uses instead.

[2020-07-02 19:15] oliviertassinari commented on #21650
I believe we cover this in https://material-ui.com/guides/typescript/#customization-of-theme, you need to tell TypeScript the theme has changed.

[2020-07-02 23:24] joshwooding commented on #21537
@oliviertassinari I found some already but looks like they no longer support the ChromeVox extension.

https://bugs.chromium.org/p/chromium/issues/detail?id=776914

https://bugs.chromium.org/p/chromium/issues/detail?id=870825

[2020-07-02 23:46] oliviertassinari commented on #21537
Oh wow, guess we know why 0.6% of adoption. This doesn't seem to have changed: https://twitter.com/browserstack/status/782176447490322432.

[2020-07-02 23:46] NawarA commented on #20896
@mageprincess Rock on! 🧙‍♀️  👸

[2020-07-03 00:01] vdjurdjevic commented on #21641
Just to add one more example. This one is more react friendly. It lacks Textarea support compared to KingSora's solution, but there is simple workaround. Here is the lib: https://xobotyi.github.io/react-scrollbars-custom/ and here is Textarea example:  https://jsbin.com/hozedijeme/edit?html,css,js,output

[2020-07-03 01:20] nvdai2401 commented on #21562
Hi @oliviertassinari , there are 8 days from the time this post is opened. So, can I start working on this issue?

[2020-07-03 02:32] qhxin commented on #21528
So how can i fix this?

[2020-07-03 05:52] AdityaAnand1 commented on #19159
Any updates @oliviertassinari?

[2020-07-03 08:46] RobelTekle commented on #21650
Hi @oliviertassinari thanks for your answer. Following you recommendation I modified the theme type. I'm using cra, so all declaration are in the `react-app-env.d.ts` file. This is my theme type declaration, but I still have the error message from typescript.
[code]

[2020-07-03 08:57] alexd16 opened #21657 "Bad material-ui Box performance"
Seeing significant performance degradation when using Box components to style list item when iterating over arrays

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When rendering components that use a lot of Box components, I see a

[2020-07-03 09:15] oliviertassinari commented on #21562
Sure :)

[2020-07-03 09:21] oliviertassinari commented on #19159
The strategy we are starting with is to abstract the features of https://material-ui.com/components/tables/#sorting-amp-selecting into an MIT component and built all the other features under a paywall. We will see how that goes. Please mind that if we need to course correct, a change of a feature from paid -> MIT is something developers will thank for. A change from MIT -> paid is a change they wi

[2020-07-03 09:47] reginaochotzki opened #21658 "Autocomplete styling broken in production build"
In production build the styling is broken cause the padding rule is not applied to the input due to minified class names. We had to overwrite padding for input as workaround.

[2020-07-03 09:50] reginaochotzki commented on #21658
![AutocompleteProduction1](https://user-images.githubusercontent.com/48757550/86457036-52454d80-bd23-11ea-9a43-e6e473898037.png)
![Autocomplete Debug2](https://user-images.githubusercontent.com/48757550/86457039-53767a80-bd23-11ea-8d1c-00ed105315c9.png)
![Autocomplete Debug 1](https://user-images.githubusercontent.com/48757550/86457041-53767a80-bd23-11ea-9d18-45e0d2b7937c.png)
![Autocomplete Produ

[2020-07-03 10:15] #20896 closed

[2020-07-03 10:17] Enteleform commented on #15745
I'm having this issue as well. The `webpack` build works fine, but running the project with `webpack-dev-server` exhibits the warning & some style issues (*i.e. only the first tab in a tab group has the ripple effect & active tab indicator*). I tried setting an alias in the webpack config as mentioned in the FAQ, but it didn't seem to have any effect.

Any ideas for fixing this issue when using `w

[2020-07-03 10:34] oliviertassinari commented on #21658
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/material-ui-date-picker-ppt05) _may_ be a good starting point. Thank you!

[2020-07-03 11:02] eps1lon commented on #21657
Thanks for the report. A more useful comparison would be an existing Material-UI component e.g. `Typography`. Comparing against a simple `<div>` will obviously show worse performance.

[2020-07-03 11:04] eps1lon commented on #21650
@RobelTekle Could you share a complete repro? This would help a lot identifying the issue.

[2020-07-03 11:05] ashishjain3456 commented on #13146
If you are using ^10.x.x use

`import JssProvider from 'react-jss/src/JssProvider';`

notice **src** in place of **lib**

[2020-07-03 11:06] #10051 closed

[2020-07-03 11:18] oliviertassinari commented on #21453
While in my initial comment was trying to draw an accurate presentation of what we have explored so far, I'm going to try to explore the pros & cons of each approach we have learned.

### Component API

Historically, we went with the API because it was minimizing the complexity of the source. It was requiring less boilerplate to implement. It was making the source easier to read. I suspect there a

[2020-07-03 11:48] alexd16 commented on #21657
I guess that's fair, I'll make a comparison using Typography to see If I find the same issues.

I was using div directly just because that's exactly what the output of using the Box component would be.
I was expecting some overhead from using the Box component, just not that much.

Using a library like tailwindcss or tachyons I believe the performance  would be similar to the one found in the div

[2020-07-03 13:16] WalidKurchied opened #21660 "Can i show indicator or border when hovering on a tab ?"
I know there is an indicator to show the active tab but I want the indicator to appear on hover I looked everywhere on stackoverflow and other sources but found nothing and not sure if its possible or not this is my last resort.
So I want the tab indicator which appears in the bottom to show on hover is that something possible ?

I am able to set hover state on the tab itself using the following i

[2020-07-03 13:24] RobelTekle commented on #21650
Hi @eps1lon, the project is in a private repo. I tried to create an example in codesandbox
https://codesandbox.io/s/serverless-monad-xfup0?file=/src/index.tsx
But in codesandbox the module augmentation does not work at all.

[2020-07-03 13:29] WalidKurchied commented on #21660
I think I'll just set the border bottom on the tab as i don't see an alternative.

[2020-07-03 13:29] #21660 closed

[2020-07-03 13:58] eps1lon commented on #21657
My point is that the benchmark isn't all that useful since you aren't using any features of the Box. I agree that this shouldn't create that much overhead but you're benchmarking the least used case. That isn't a fair comparison.

It's entirely possible that the Box is just as slow with actual props. But it would help us identifying the bottleneck in a real-world scenario. Then we can compare it t

[2020-07-03 14:13] foxylion opened #21661 "[Autocomplete] Jumps between being expanded to the top/bottom"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When having not that much space below the bottom of the input field the Autocomplete opens to the top.
By entering text into the input field the Autocomplete field gets shorter and ju

[2020-07-03 15:11] alexd16 commented on #21657
Ok, that's fair. I am sorry, I am not too used to looking into these issues. I thought it would be more helpful to give the simplest example that showed the issue.

In any case this is similar to what we are doing in the application currently: https://codesandbox.io/s/wonderful-http-x5l05?file=/src/Demo.js

Hope this is a better example to demonstrate the issue. As far as I can tell I am not doing

[2020-07-03 15:14] sai1139 opened #21662 "Unused css and optimize css"
Provide example/plugins of material-ui(unused & optimize) for next.js application?

[2020-07-03 15:47] sgarcialaguna commented on #21658
I'm her colleague.

I believe the problem manifests itself in combination with a custom classNameGenerator.

Here is a Codesandbox: https://codesandbox.io/s/material-demo-buh4u. It is just an example taken from the Material UI documentation, but wrapped in a StylesProvider.
The app built in **development** mode: https://buh4u.csb.app/
The app built in **production** mode: https://csb-buh4u.netlify

[2020-07-03 15:56] alexzaicu opened #21663 "[Autocomplete] Multiple can't pass 'required' validation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When submitting a form with an Autocomplete that allows multiple values and that has the 'required' prop on the text input, the validation error shows up whether values were selected

[2020-07-03 17:08] #20092 closed

[2020-07-03 17:08] #20832 closed

[2020-07-03 18:13] #21662 closed

[2020-07-03 18:22] sai1139 commented on #21662
@eps1lon

I have checked in stackoverflow and other area's,I didn't find solution .....

Can you provide solution?

[2020-07-03 18:31] mnajdova commented on #21453
Sharing my experience and thoughts on this matter:

### `as/component` prop
Having a property like `as/component` on each component, where you can specify whatever component you want to be render as root. For example you can do the following:

`<Button as="div">Hello</Button>` - and the root will not be the default `button`, but `div`

### `renderXXX` props
But then clients want to customize the d

[2020-07-03 21:37] Codetalker777 opened #21664 "Outlined textfield border label cutoff when centering a div"
When

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The outlined text field has a gap in the middle of the text field with the border over the word

## Expected Behavior 🤔

The outlined text field border should have a gap in the

[2020-07-03 21:44] oliviertassinari commented on #21664
@Codetalker777 Thanks for raising and the reproduction. What do you think of this fix?

[code]

Do you want to work on a pull request? :)

[2020-07-03 21:50] Codetalker777 commented on #21664
Sure I can handle this PR :)

[2020-07-03 21:51] Codetalker777 commented on #21664
Looks like good fix to me!

[2020-07-03 22:05] oliviertassinari commented on #21657
This thread makes me think of this tweet: https://twitter.com/jaredpalmer/status/1271482711132254210.

[2020-07-03 22:10] Codetalker777 commented on #21664
pull request https://github.com/mui-org/material-ui/pull/21665

[2020-07-03 22:44] #21664 closed

[2020-07-03 22:51] oliviertassinari commented on #21661
@foxylion Interesting, do we even need to update the placement of the popup to maximize visibility? It feels wrong to me when the popup display on-top? I feel like this behavior is best suited for tooltips.

[2020-07-03 22:56] oliviertassinari commented on #21658
@sgarcialaguna Thanks for the reproduction. I can confirm the problem. This was definitely a drawback take into account when going with the implementation. I couldn't think of anything better. I was also based on the assumption that `disableGlobal` would no longer be an option in v5.

[2020-07-03 23:09] oliviertassinari commented on #21663
What do you think about this fix?

[code]

[2020-07-04 03:43] Enderxcthz opened #21667 "Getting Started: Usage (outdated??)"
Sorry I don't know if this is really the right place but,

https://material-ui.com/getting-started/usage/ seems to be incorrect, I have a basic next.js and react.js app and I pasted the following example code and it always gives this error "document is not defined".

[code]

[2020-07-04 06:58] ypresto commented on #21657
Duplicate of #16704 ?

[2020-07-04 07:17] Charlydt opened #21668 "Version 4.11.0"
Hi team,

I had just recently updated to version 4.11.0 to make use of the Accordions, however it seems this version is messing up with my theme provider. It is like it's just ignoring the theme I created. I did not have this issue with the previous 4.9.9 version.

Could you please advise

Below my code
-------------------------------------------------------------------------
import { createMuiThe

[2020-07-04 08:29] #21668 closed

[2020-07-04 08:29] Charlydt commented on #21668
https://material-ui.com/getting-started/faq/#i-have-several-instances-of-styles-on-the-page

fixed my issue

[2020-07-04 08:51] oliviertassinari commented on #21488
Any news on the matter? The behavior of Safari seems deliberate: https://a11yproject.com/posts/macos-browser-keyboard-navigation/.

[2020-07-04 08:57] oliviertassinari commented on #21667
Head to the Next.js example to get more specific instructions.

[2020-07-04 08:57] #21667 closed

[2020-07-04 09:24] eps1lon commented on #21488
Yeah I just realized that I stumbled independently over html.spec.whatwg.org/multipage/interaction.html#sequential-focus-navigation and didn't connect it to this issue.

This is a Mac issue afterall. What elements get focus when pressing Tab is up to the user agent. All we can do is put the elements in sequential tab order which we did.

[2020-07-04 09:24] #21488 closed

[2020-07-04 10:48] joshwooding commented on #21661
I’ve seen someone explicitly ask for the flipping behaviour so the popup is always visible. Seems to me popperjs is too eager when deciding whether to flip back.

[2020-07-04 11:01] joshwooding commented on #21641
Wow! Overlay scrollbars is really cool. It even has its own React wrapper. Unfortunately I got some weird scroll behaviour with react-scrollbar-custom.

[2020-07-04 11:55] vdjurdjevic commented on #21641
Overleyscrollbars is the best out there. React wrapper is good, but still requires using global stylesheet and customization with global theme. And also there is no textarea component. I will create my own in a few days with material stylea library and move styling in js. Also i will implement textarea compomemt and provide classes api for customizations.

[2020-07-04 13:13] sgarcialaguna commented on #21658
Hm. Any pointers for a workaround? I found I needed the disableGlobal option in a multi-root application or styles will break down in unpredictable ways. And I didn't realize - or expect - that disableGlobal has the side effect of minimizing the class names.

I could copy the existing implementation of createGenerateClassName and comment out the following lines:

[code]

That should work, but mayb

[2020-07-04 13:15] oliviertassinari commented on #21658
The `seed` option should be more appropriate in this context https://material-ui.com/styles/api/#arguments.

[2020-07-04 14:18] foxylion commented on #21661
I would say it is expected that the drop-down is opening into the direction of "enough space". But it should not change the position while being open, as this distracts from using the auto complete input.

[2020-07-04 15:51] oliviertassinari commented on #21661
Did you look into how we could implement it?

[2020-07-04 16:39] daveteu commented on #12827
the closest u can get at this moment.... setting palette.background.default , it's the only option that can set as var(--background-default), after which everything has to load after hasMount since the JSS takes one render cycle to show all the correct colours.

[2020-07-04 18:24] oliviertassinari commented on #16947
@maciej-gurban This use case is an important one for us. Our incentives are aligned to significantly improve it. This is one of our objectives with v5.

For instance, we are investigating the feasibility to provide a design tool that could be put in the hands of designers (paid) and would output ready to use customized Material-UI components, a documentation, Sketch & Figma assets.
The end goal he

[2020-07-04 18:46] oliviertassinari commented on #6115
@vdjurdjevic I pretty much agree with your thoughts on https://github.com/mui-org/material-ui/issues/6115#issuecomment-652762320. You might like this summary of the direction we are taking that I have recently shared in https://github.com/mui-org/material-ui/issues/16947#issuecomment-653797178.

A couple of reasons from my perspective:

- Close to why we don't write `React.createElement('div')`.
-

[2020-07-04 19:10] vdjurdjevic commented on #6115
@oliviertassinari Ok, these are some solid points, I agree :) But still, for me (not a designer, not a beginner, senior developer), styled-components and tagged template literals would never be an option. I read your summary for the direction of further development, and I am happy to hear that css engine will be optional. I don't mind styled-components as a default (if that's what the majority of

[2020-07-04 19:11] Icehunter commented on #6115
@oliviertassinari Per our ongoing perf testing as noted in https://github.com/mui-org/material-ui/issues/6115#issuecomment-643398897 I just hope the material team doesn't just choose styled components because it's popular. It's slow. Always has been. Personally it's a point of being a dev that you need to learn things like JS notation of CSS.

It's part of the job.

Making devs lives easier is par

[2020-07-04 21:31] ukris commented on #21650
Same here. Typescript material UI with custom theme worked in 4.9.11. Broke after upgrading.
The issue is that theme's custom properties are empty - even if the type is defined.  The issue also persists in "5.0.0-alpha.1"

[2020-07-04 23:11] weslenng commented on #21663
I will work on it!

[2020-07-05 00:25] redraushan commented on #21663
In that case what if `multiple` is false, you can consider a situation when we are passing a `Radio` component instead of `Checkbox` in `renderOption` of `AutoComplete`. You are allowed to select only one out of all the values in list. In this situation I think the following check `...(multiple && value.length > 0) ? { required: null} : {}` wouldn't work.

So we will still get validation error eve

[2020-07-05 02:18] Jack-Works commented on #16947
The abbreviation on the Box component is confusing. Code is being read more than being written, so it's important to keep clear what the code is meaning. Last day I found "Box py={2}" in our codebase  and I'm totally confused. After a search I figured out that means "paddingY". Those abbreviation should not be encouraged especially non-css properties (I can guess pt means padding-top but not for p

[2020-07-05 10:32] dev-araisan opened #21682 "Feature request: Scaffold"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
I have created a scaffold package like [Scaffold class](https://api.flutter.dev/flutter/material/Scaffold-class.html) in flutter.

[material-ui-scaffold](https://github.com/dev-araisan/material-ui-scaffold)

Unfortunately I don't have much tim

[2020-07-05 14:02] foxylion commented on #21661
No, I'm unsure how it can be fixed. But it looks like it is an Popper.js specific behavior and could only be fixed by overriding `onUpdate` and preventing updates to the position.
But it need to be kept in mind, that a repositioning can be required when scrolling with an expanded Autocomplete.

![ezgif-1-b55368bee433](https://user-images.githubusercontent.com/2699280/86534459-ec022b80-bed8-11ea-89

[2020-07-05 16:23] pointblack opened #21684 "classes is undefined"
When using the sample code to display any component from material ui after following the installation guide, it throws a javascript error.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Installed Material UI following https://mat

[2020-07-05 17:13] oliviertassinari commented on #21684
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-05 17:45] oliviertassinari commented on #21682
@dev-araisan Thanks for sharing your project

[2020-07-05 17:45] #21682 closed

[2020-07-05 17:53] pointblack commented on #21684
HI @oliviertassinari  i think its related to our setup, as in codesandbox its working as expected.

[2020-07-05 17:53] #21684 closed

[2020-07-06 03:28] AdityaAnand1 commented on #19159
That seems weird for a FOSS project and for such a core feature of any table supporting UI library. Please consider implementing this directly under the community version.

[2020-07-06 06:53] prionkor opened #21686 "List Items on Larger Device"
[As per material design specification](https://material.io/components/lists#types) list item in large device (PC & Desktop) looks like this

![list item](https://lh3.googleusercontent.com/iavaLDGuHD71ptIYPMaN7KZjqlz5LbKqiiWIAAVZ3sgKjRN-JLF_F-BJMVlHPt3YoOtz2MfMPLcEgH5YVtYgLOHPhOseHz5NwAs0=w1064-v0)

Looking at material ui docs there is no example looks like the design. Do I have to customize the it

[2020-07-06 07:18] eps1lon commented on #21686
I don't know why the Material design guidelines think this is a list. It's clearly a table for which we have plenty of examples: https://material-ui.com/components/tables/#table

[2020-07-06 07:18] #21686 closed

[2020-07-06 08:14] qhxin commented on #21528
okk, i think it's about jss plugin issue , reproduced in https://github.com/cssinjs/jss/issues/1360

[2020-07-06 10:26] markwain commented on #17234
Thanks!

[2020-07-06 11:13] vdjurdjevic commented on #21641
@oliviertassinari Would you consider adding this to lab package? Overlayscrollbars works great, I use it for one project. It has 70k download/week, it's maintained, author is working on v2 now. This would be just a tiny wrapper around it that would use material styles instead of global stylesheet, and would provide classes property for scroll parts customization. I have proof of concept working, j

[2020-07-06 11:18] eps1lon commented on #21663
Reopening since #21670 did not address the underlying issue. A fix should be based on #21692 or a similar test.

The issue is that submitting a form is prevented. That should not be solved by removing attributes which affect styling, assistive technology etc.

[2020-07-06 11:20] oliviertassinari commented on #21641
We have had this request in past under our custom work offering. We have decided it. https://github.com/KingSora/OverlayScrollbars looks great. If we do build it, we will probably make it available under the enterprise label, it won't be sustainable for us otherwise.

[2020-07-06 11:24] oliviertassinari commented on #21663
Could we consider the styling and a11y downside as an acceptable limitation of the tradeoff?

[2020-07-06 11:25] vdjurdjevic commented on #21641
I am not sure I understand. You decided to build it from scratch and put it under enterprise label, or use overlayscrollbars and put it under enterprise label?

[2020-07-06 11:27] oliviertassinari commented on #21663
The number of upvotes on 👍 can help understand the pain https://github.com/JedWatson/react-select/issues/1453 around validation.

[2020-07-06 11:28] eps1lon commented on #21663
There's no other way than a simple: no. There's too much that goes into this attribute.

[2020-07-06 11:29] oliviertassinari commented on #21641
No idea, my point being, if we want to solve this pain, we have to make it sustainable.

[2020-07-06 11:34] dtassone commented on #21453
I think we can split the problem in 3 categories
1. Static/Dumb component swap, ie replace Icon sort in the grid
2. Dynamic or using parent component props, ie pagination in the grid. How do we pass props between the parent components and its customised child? Render props, hooks, context, api... Do we have a standard?
3. Tree structure, that mixes the 2 categories above, ie the footer component t

[2020-07-06 11:36] vdjurdjevic commented on #21641
Ok, I am building this thing anyway for my needs. I can offer it as a contribution if you are interested in it. With overlayscrollbars under the hood, it can't be more sustainable. Wrapper maintenance would be minimal. I am building this thing in near future anyway, and I will let you know when it's ready. If you want, we can add it to the lab package, or I can publish it as a separate package.

[2020-07-06 11:39] dtassone commented on #21453
FYI I have refactored the approach on the grid for the footer and header, which were the only ones using children.
All components customisation available [here](https://muix-storybook.netlify.app/?path=/story/x-grid-demos-custom-components--loading) if you want to check it out ;)

[2020-07-06 11:56] oliviertassinari commented on #21663
@eps1lon Fair enough, it sounds like this issue deserves more attention, I went ahead to quickly.

[2020-07-06 11:57] oliviertassinari commented on #21641
@vdjurdjevic If you are going with https://github.com/KingSora/OverlayScrollbars, sharing a codesandbox integration here should be enough.