[2021-08-23 13:20] michaldudak commented on #27869
Thanks for the report. We are aware of the issue and are dicussing it in #27499.

Currently you can make it work by casting the `thumb` to `any`:

[code]

[2021-08-23 13:42] mnajdova commented on #27512
I am reopening as I needed to revert https://github.com/mui-org/material-ui/pull/27583 as it does not work with `npm`. We'll come back to this later.

For those using `yarn` https://github.com/mui-org/material-ui/pull/27583 should work and fix the class name mismatch error.

[2021-08-23 14:01] eps1lon commented on #27919
Thanks for the feedback.

This is intended behavior. Only the container that is hovered by the mouse cursor should scroll.

[2021-08-23 14:01] #27919 closed

[2021-08-23 14:12] MariaSolOs commented on #27880
That makes sense. I replaced `makeStyles` by `styled` and it works now. Just a follow-up question: For a smoother migration, when would you suggest dealing with the server-side rendering modifications? Before/after all the styling has been done?

[2021-08-23 14:46] MariaSolOs commented on #27880
Awesome, thanks for your help @mnajdova! <3

[2021-08-23 14:46] #27880 closed

[2021-08-23 14:56] danielvianna commented on #21111
I am building a Design System with MUI, I think this is important
Are you guys using storybooks privately or only on grid-x?

[2021-08-23 15:04] JakeLokkesmoe commented on #26876
This happened to me as well. In my case, this issue can be at least temporarily fixed by deleting the `.next` cache directory and re-building.

[2021-08-23 15:22] chaserda commented on #27851
@eps1lon I am suggesting content should have padding as well as a default. That way it can be modified in a theme. For example: this doesn't work and gets overridden:

[code]

[2021-08-23 15:53] TheWilks commented on #27131
Sorry for the late response @mnajdova... For my use case the "Grouped Autocomplete" would be perfect if it allowed for option groups to be nested inside other option groups. Does this feature exist?

[2021-08-23 16:32] maitrungduc1410 commented on #12010
You saved my day

[2021-08-23 17:26] davidwitten opened #27926 "Checkbox appears as a duplicate"
When Checkbox loads, it appears as two separate checkboxes that function together. When I click on one, the other appears and vice versa.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![Screen Shot 2021-08-23 at 1 15 58 PM](http

[2021-08-23 17:28] embeddedt commented on #23031
I'm using the following as a workaround with my React 17 project for now:

[code]

This is definitely not ideal but at least keeps the first line visible (better than just seeing nothing and wondering where the box is). Most of my multi-line textfields only have one line in them anyway.

[2021-08-23 17:32] praveen4463 commented on #22426
**Product**: Zylitics
**The problem solved**: Making it easier for people to write automated tests who have less or no prior experience with it. Test scripts in Zylitics have simple & declarative syntax. It has built-in infrastructure and supports extensive test management.
**Company or organization**: Zylitics
**Link**: zylitics.io
*Screenshot*:
![ide-Intro](https://user-images.githubusercontent.

[2021-08-23 17:35] bryce-hunt commented on #27926
having the same issue ^

[2021-08-23 17:59] mgirondo opened #27929 "[InputBase] Suggested attributes of inputProps don't show HTML input attributes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When trying to get suggestions for the `inputProps` prop on `InputBase`, it is not showing HTML Input Attributes, such as maxLength.

However, these props are actually passed to the i

[2021-08-23 18:22] mgirondo commented on #27929
Is there some reason to have `InputBaseComponentProps` interface extending `React.HTMLAttributes` and not `React.InputHTMLAttributes` on `InputBase.d.ts`?

[2021-08-23 18:22] nadiaantoniou opened #27931 "[DataGrid] Get number of filtered rows"
A way to access the number of currently available rows in the table

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I'm looking for an API endpoint (for example) where I can at any point get the number of current rows available in the component. This number should change when rows are hid

[2021-08-23 18:42] oliviertassinari commented on #23031
@embeddedt Do you have a reproduction of the issue? I suspect that #27840 fixes it.

[2021-08-23 18:51] embeddedt commented on #23031
Right now I can reproduce it 100% of the time in my private project, however, I don't have a simplified reproduction case.

I assume that #27840 is not going to be backported to v4, right? My understanding of v5 is that IE11 support is essentially "as-is", and could break at any point during the release cycle. Consistent IE11 support is unfortunately necessary for the time being (not my decision).

[2021-08-23 19:07] majelbstoat commented on #26571
Yep, no worries, I understand it's not coming back. I think it's a bad call which makes styling in Material UI harder to reason about, but v5 is also a major version jump and y'all considered it carefully, so no hard feelings, and I wasn't trying to re-legislate the decision. I just offered this up for folks who are in the same boat, of which there seem to be a few.

Oh yeah, thanks for the pointi

[2021-08-23 19:57] esslamben commented on #27873
Thanks for the explanation @eps1lon, makes sense!

[2021-08-23 20:10] DouglasPds commented on #27792
Using the component Input and InputBase has the prop inputRef that passes the ref to the input, so using it rather than ref work on the example provided by the Itaytur. `inputRef={inputRef}`
Showing the value using .log inputRef shows the correct value, and using inputRef.current show the previous value selected.

This props inputRef is used to handle the [Special Props Warning](https://reactjs.or

[2021-08-23 21:16] jonra1993 commented on #8452
I am using typescript and I solve it as follow.

[code]

[2021-08-23 21:19] Phebonacci opened #27933 "[Autocomplete] ArrowLeft key press throws an error when setting renderTags to return null."
When the ArrowLeft key is pressed while there are selected options and `renderTags` is set to return null (so that no tags are rendered), the component breaks.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the ArrowLeft key

[2021-08-24 04:37] siriwatknp commented on #27170
@michaldudak should the list split into something like this to make it transparent to the community?

### WIP (prioritized)
These components are prioritized based on the page views from analytics.
...

### Done
...

**The rest**
...

[2021-08-24 04:45] Asdf0717 commented on #26449
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model considers this issue as likely a "good first issue". May we recommend you to label it as a "good first issue" (or "good to take" if it is more appropriate) so newcomers know where to choose?

Thank you!

[2021-08-24 04:53] Asdf0717 commented on #26876
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model considers this issue as likely a "good first issue". May we recommend you to label it as a "good first issue" (or "good to take" if it is more appropriate) so newcomers know where to choose?

Thank you!

[2021-08-24 06:23] mnajdova commented on #27926
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-24 06:26] mnajdova commented on #27875
Duplicate of https://github.com/mui-org/material-ui/issues/27593

[2021-08-24 06:27] #27875 closed

[2021-08-24 07:17] michaldudak commented on #27170
Yeah, I think it may be a good idea to highlight the ones we'd like to tackle first. As for WIP and Done - this information is there already. The ones with a PR but not completed are in progress, and checked ones are done.

[2021-08-24 07:49] #27914 closed

[2021-08-24 08:26] hbjORbj opened #27934 "[Masonry] Items at the bottom of component fail to be rendered on Chrome"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Chrome limits the number of grid rows to 1000 at the maximum. Overflowing items beyond the 1000th row are simply squashed. A row size of 2px is used for `Masonry` component. Hence, th

[2021-08-24 08:58] #26534 closed

[2021-08-24 09:04] #24785 closed

[2021-08-24 09:12] #27831 closed

[2021-08-24 10:59] sethhen commented on #24828
Hi @jbty, thanks for the suggestion! I haven't fully tested it, but it seems to work.
![image](https://user-images.githubusercontent.com/73914820/130598401-47156559-4c7a-49f4-bb08-15e8a538680b.png)

[2021-08-24 11:26] oliviertassinari commented on #27934
Possible solutions:

1. Add a new prop to allow developers to configure the tradeoff. They could trade less item height precision for a higher max-height or the opposite.
2. Replace the CSS grid implementation with a flex: order, based on  https://github.com/gilbitron/flexmasonry. Discussed a bit from https://github.com/mui-org/material-ui/pull/27439#issuecomment-903138678
3. Move to a absolute po

[2021-08-24 11:52] mnajdova commented on #26366
Looks like the issue has been resolved. In the last two comments, you may see how you can configure the plugin to work with the `styled` exported from `@material-ui/core` or `@material-ui/core/styles` based on how you import the utility in your codebase.

[2021-08-24 11:52] #26366 closed

[2021-08-24 11:54] mnajdova commented on #20379
Adding the v6 milestone. We can update the typings once we don't support the JSS implementation anymore.

[2021-08-24 12:01] mnajdova commented on #27933
Thanks for the report. I can reproduce. We should add a check for it. This diff should do it:

[code]

@Phebonacci would you like to create a PR? :)

[2021-08-24 12:01] MarvinThiele commented on #21528
@oliviertassinari

Thank you for the quick response. I tried your suggestion and the issue disappeared after updating.

I'm not sure, but such an issue might be worth a hotfix or patch on the v4.x release besides being fixed in the new v5 beta branch? This bug is potentially site-breaking and it is not clear that a ThemeProvider could cause such an issue.

Anyways, thanks for your help and I'm rea

[2021-08-24 12:15] oliviertassinari commented on #21528
By default, we don't backport, we leverage these types of improvements as a counter parts to breaking changes. We occasionally backport important changes, for instance, when we need them for internal purposes or when a third party introduces a regressions e.g. a change in Chrome.

[2021-08-24 12:17] mnajdova commented on #24901
Sure, looks like no one is working on it.

[2021-08-24 12:24] #27162 closed

[2021-08-24 13:00] eoliphan opened #27940 ""Normal" or something variant for inputs to place labels outside"
This isn't standard Material UI, but the spec's handling of input labels is perhaps one of its most loved and hated bits.  Labels outside is a pretty common pattern, so would be nice to just have a **variant** for it, to avoid losing the convenience of the high-level TextField, etc abstraction

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and

[2021-08-24 13:15] Emily-Thomas commented on #26876
Wanted to update that the updated docs/example provided by MUI fix the issue for me. It had to do with sharing emotion cache in document and app.

[2021-08-24 14:59] harrycollin commented on #20951
Hey @oliviertassinari, is there any news on when this would be implemented? :)

[2021-08-24 17:26] DouglasPds commented on #27792
The component Select returns a cloneElement of the input passed, and an object with the new config.

The [cloneElement](https://reactjs.org/docs/react-api.html#cloneelement): "key and ref from the original element will be preserved if no key and ref present in the config."

And the Select provide the ref to the cloneElement in the config, so when we pass the ref to the input and not to Select, the

[2021-08-24 17:45] janus-reith opened #27945 "composeClasses should append keys from classes, not prepend them before the result of getUtilityClass"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Right now, styling a component by passing `classes` is not possible anymore.
This might be a most simple example:

[code]
The button background would still have the primary color.
The

[2021-08-24 19:07] w3lld1 opened #27947 "Tabs doesn't work with Tab as a custom component"
When I'm trying to make custom component that returns Tab instead of using just Tab, Tabs doesn't work correctly.

You can see this behavior [here](https://codesandbox.io/s/material-demo-forked-vo6zv)

[2021-08-24 19:26] yanickrochon opened #27948 "Invalid ref passed to transition component"
When  using a custom component inside a transition component (e.g. `Zoom`), the ref passed to the child component is invalid.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The child elements are rendered regardless of the `in` p

[2021-08-24 20:00] jbty commented on #24828
hi @sethhen ,
I tried your solution, it works but there is still a problem, once the selection is made the daterangepicker no longer opens, unless you click elsewhere and then click again on the daterangepicker

[2021-08-24 22:42] imsuvesh opened #27950 "[Slider] Dragging slider with onChangeCommitted prop changes other value"
Continuing  #27800,

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Dragging slider with onChangeCommitted prop changes other value when mouseup happens near the other thumb.

## Expected Behavior 🤔
It should only change the value

[2021-08-24 22:49] sethhen commented on #24828
Hi @jbty, try the link below. I made a temporary fix for that problem as well.
https://codesandbox.io/s/basicdaterangepicker-material-demo-forked-zgems?file=/demo.js

[2021-08-25 05:58] mhienle commented on #19145
We worked around this by setting `PopoverClasses={{ root: classes.contextMenu, paper: classes.contextMenuPaper }}` on the `Menu` with CSS `contextMenu: { pointerEvents: 'none' }, contextMenuPaper: { pointerEvents: 'auto' }`. This way, the page underneath the Menu's backdrop catches click events.

[2021-08-25 07:06] git-allcard commented on #17820
Until now it's not working.

<TextField
                          id = "age"
                          label = "Age"
                          variant = "outlined"
                          placeholder="Enter Your Age"
                          fullWidth
                          type="number"
                          inputProps={{ inputMode: 'numeric' }}
                          margin = "norma

[2021-08-25 07:30] eps1lon commented on #27947
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-25 07:46] eps1lon commented on #27948
Thanks for the feedback.

I'm not sure what the issue is. Is this a feature request or a bug report?

Everything seems to be fine in 5.x: https://codesandbox.io/s/simplezoom-material-demo-forked-jodz3

[2021-08-25 07:48] eps1lon commented on #27945
Thanks for the feedback.

Could you provide a concrete example of customization that is no longer working as expected in 5.x?

To be clear: The order of classnames in the `class` attribute does not affect styles since the order of classnames does not affect specificity.

[2021-08-25 08:09] mnajdova commented on #27945
One more thing. Did you follow the [Interoperability guide](https://next.material-ui.com/guides/interoperability/#main-content) in case if you are using plain CSS for customization?

[2021-08-25 08:40] w3lld1 commented on #27947
I provided codesandbox example in my first message. Sorry if it wasn't noticeable.

Duplicate here:
https://codesandbox.io/s/material-demo-forked-vo6zv

[2021-08-25 11:09] janus-reith commented on #27945
Yes, I checked that and also read through all migration guides.

[2021-08-25 11:14] janus-reith commented on #27945
Here I made a quick example hat shows different ways of styling using classes which all fail:
https://stackblitz.com/edit/nextjs-7yaawl?file=src%2Fcomponents%2FsomeButton.tsx

- tss-react using `@emotion/react`
- Global CSS using `@emotion/react` and a static class name
- Plain CSS Modules

I would disagree. Especially with @emotion/react being used internally in MUI and in custom styles, with bot

[2021-08-25 11:46] janus-reith commented on #27945
Preparing a PR now.

[2021-08-25 11:52] jbty commented on #24828
@sethhen it's work, thanks !

[2021-08-25 12:13] mnajdova commented on #27945
@janus-reith can you prepare codesandbox without tss-react? If the problem is the integration with it, we could propagate the issue there. Also, for nextjs, we already have a template example that could be use as a starting point: https://github.com/mui-org/material-ui/tree/next/examples/nextjs-with-typescript

[2021-08-25 12:18] eps1lon commented on #27945
There's nothing to disagree. classname order not affecting specificity is a fact. If browsers do consider that for specificity then that's a browser bug since the CSS spec does not consider classname order.

-- https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#how_is_specificity_calculated

[2021-08-25 12:21] janus-reith commented on #27945
In my example above I included different examples, tss-react being one of them.
But sure, I can create the same based on your example.

[2021-08-25 12:26] mnajdova commented on #27945
Great! My point was, nextjs requires some configuring of emotion and you have direct access to where you inject new style tags (you can add them after emotion). This should fix at least the plain CSS

[2021-08-25 12:33] janus-reith commented on #27945
Sorry, could it be that we put a different meaning to the term "specificity" here? I'm not referring to the specificity of some css selector here -> Sure, fully agree, if one is more specific than another one, the order of classname would not change that.

From your qoute:

That exactly is my point. Scoped to that element, both have the same specificity, they are classnames which dont have any oth

[2021-08-25 12:35] janus-reith commented on #27945
Sure, will create an example using the default template, that might rule out any configuration differences in _document/_app for next.js

[2021-08-25 12:52] janus-reith commented on #27945
@mnajdova Here is a new demo, based on the default next-with-typescript example:
https://stackblitz.com/edit/node-rr7cup?file=pages%2Findex.tsx

[2021-08-25 13:06] mnajdova commented on #27945
I've fixed the plain CSS and CSS modules: https://stackblitz.com/edit/node-vfbg4t?file=pages%2F_document.tsx

The changes required were:
- add `prepend: true` on the emotion cache
- move the style tag in _document.tsx after the emotion style tags are spread, line: 86 - this will ensure SSR work as expected

For the CSS modules, there were no styles, so I've just added the class there to set the ba

[2021-08-25 13:22] eps1lon commented on #27945
The spec references the order of declarations in the document e.g.

[code]
it does not refer to the order of classnames in the attribute.

To reword: Both of the following elements will have the same styles in any spec-compliant browsers. I'm not aware of any user agent that generates different styles for these: `<div class="foo bar" /><div class="bar foo" />`.

The only thing that would change th

[2021-08-25 13:24] mnajdova commented on #27945
Agree 100%

[2021-08-25 13:25] eps1lon commented on #27945
But you don't have to believe me. You can verify it yourself: https://codesandbox.io/s/order-of-classes-in-attributes-does-not-matter-dyt1s

[2021-08-25 13:28] janus-reith commented on #27945
Thank you @mnajdova!

Hm, I am sure I used this before in a different example and it did not have an affect, will need to go though some tests again.

I see, interesting, so in that case the class actually gets prioritized although it is not the last in the list and both reference a classname, I didn't get that.

Sorry, my bad, appareantly StackBlitz didn't copy something here. Yes, thank you,  th

[2021-08-25 13:30] janus-reith commented on #27945
Thanks for taking the time to write this up @eps1lon! Yes it looks like I was under the wrong impression on that one.

[2021-08-25 13:31] mnajdova commented on #27945
This is exactly @eps1lon's point, it works now because the `<style />` tag is inserted after the emotion's. It has nothing to do with the order of the `className` prop in the react component.

For tss-react, I am not sure what the custom nextjs helpers do, I would suggest start looking there.

[2021-08-25 13:36] tech-meppem opened #27958 "[docs] code preview displays undesired parts of the code in some instances"
The code example (or preview) for the "Slide relative to a container" has a messed up formatting / display.
The code displayed by clicking "show the full source" is still fine.

https://next.material-ui.com/components/transitions/#slide-relative-to-a-container

Screenshot: https://prnt.sc/1qhyhj6

[2021-08-25 13:39] siriwatknp commented on #27913
@DoginUwU What is the issue? I can run without the error.

![image](https://user-images.githubusercontent.com/18292247/130801000-087f7222-4208-424c-9ef5-80a639ad5fdc.png)

[2021-08-25 13:41] janus-reith commented on #27945
Hm, I had just used these helpers in the sandbox before to make a simple example based on the default example they had there.

In my actual project that I'm trying to convert to v5, I base a logic off the example in the material-ui repo, with no specific logic for `tss-react` in _document/_app.js but just the default emotion ssr configuration and also `prepend: true` applied on the cache.
But yeah

[2021-08-25 13:45] mnajdova commented on #27945
Ok, going to close this one then. Feel free to link this issue if you open a new one there so that people will have context.

[2021-08-25 13:45] #27945 closed

[2021-08-25 13:47] janus-reith commented on #27945
Yup, already done earlier: https://github.com/garronej/tss-react/issues/17

[2021-08-25 14:10] neil-morgan opened #27959 "Icons/ArrowBackIos is not horizontally centered"
ArrowBackIos should be horizontally centered the same as ArrowForwardIos

See image for reference.

![image](https://user-images.githubusercontent.com/52212097/130806085-e1d6cbff-49a4-44a8-8add-0dd9d9396bbd.png)

[2021-08-25 15:35] JulsRicketti opened #27961 "Can't prevent event bubbling when clicking away from a Select component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Note: This may have a similar source issue to https://github.com/mui-org/material-ui/issues/25578, but the problem itself is a bit different, so I chose to open a new bug report.

## Current Behavior 😯

![S

[2021-08-25 15:57] DoginUwU commented on #27913
Click on Docs
![image](https://user-images.githubusercontent.com/59850361/130824287-5cf84733-0666-4c8c-afb6-a7ad2cd3cf86.png)

[2021-08-25 19:02] #27961 closed, assigned to nobody

[2021-08-25 20:06] marr opened #27962 "[Autocomplete] autoSelect property causing values to be removed on blur of options list"
Using the autoSelect property is causing an issue when blurring the list of suggested options.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the `autoSelect` prop on the Autocomplete component, clicking outside the li

[2021-08-25 21:47] JPTeasdale opened #27963 "Controlled Checkbox and Switch do not set the `checked` property on the underlying input component correctly."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When rendering a controlled`Checkbox` or `Switch` component like so:

[code]

The underlying input component will the same value for `checked` regardless of `isChecked` is true or not

[2021-08-25 23:24] #27959 closed, assigned to nobody

[2021-08-25 23:47] forgo opened #27964 "Every MUI 5 React Component renders an `<h2>`, regardless of theme."
I am creating a shared React component library that assumes a peerDependency of MUI 5. I'm building everything with webpack and using ECMAScript modules.

So far, I've been successful in bundling my library, and setting @material-ui/* dependencies as an external, so that I can publish and install my shared package.

What I am completely confounded by, is that every Component coming from MUI's libr

[2021-08-26 08:43] MarksCode opened #27969 "[mui v5 styled-components] - Typescript doesn't recognise "styleProps""
I'm following this guide for the Stepper Component: https://next.material-ui.com/components/steppers/#customized-horizontal-stepper

In my `Stepper.styles.ts` file I copied the code from there:

[code]

However, typescript is complaining:

Does anyone know how I can fix this? Thanks!

[2021-08-26 08:59] RemyMachado opened #27970 "ToggleButtonGroup API - disabled prop"
It would be nice to have a `disabled` prop on the `ToggleButtonGroup` that would disable all the buttons, like the `ButtonGroup` do.

[2021-08-26 11:38] rajzik opened #27973 "[Fab] Floating action button broken in demo"
FAB in documentation size demo has broken ripple effect.

https://next.material-ui.com/components/floating-action-button/#size

![image](https://user-images.githubusercontent.com/10364836/130954708-218fb736-ac67-4fba-bfbd-e7f4b00f32c6.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and beli

[2021-08-26 13:10] yunus9175 opened #27975 "issue in MUI textfield"
I have an issue with customization of MUI Textfield

[2021-08-26 14:46] #27963 closed, assigned to nobody

[2021-08-26 15:42] trickreich opened #27978 "Dialog with Title and Content prevents overflow"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/16644200/130993554-44c42284-af6e-4e65-9a74-5a1affc17eca.png)

## Expected Behavior 🤔

Label should be shown full.

## Steps to Repro

[2021-08-26 16:49] MarksCode opened #27979 "Using Material-UI in a Shared-Components repository - Best Practices?"
I created a shared-components repository which is using material-ui theme to style each component. I import these components into my main repository which doesn't have material-ui installed.

I'm wondering if it's best practice to wrap every shared-component with my custom theme or if I should export the `<ThemeProvider>` and the main repository will wrap each shared-component it uses with the the

[2021-08-26 22:17] #27964 closed, assigned to nobody

[2021-08-26 22:32] dantman opened #27980 "Custom components can no longer be styled the same way as Paper"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In MUIv4 the styles that `<Paper>` used were relatively simple and custom components that didn't need the complex (square, outlined, animated multi-elevation) behaviours could easily match the same Material surface style simply by using a few

[2021-08-27 00:50] stefensuhat opened #27981 "Upgrading to next v5 beta 5 break makeStyles"
- [x] The issue is present in the latest beta release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Upgrading my material v5 next 4 to next 5 break all `makeStyles` function.

All the theme inside makeStyles become empty object

[code]

## Expected Behavior 🤔

Should have theme

[2021-08-27 02:23] siriwatknp opened #27982 "[docs] code preview is broken at Slide demo"
https://next.material-ui.com/components/transitions/#slide-relative-to-a-container

Haven't looked into the root cause.

<img width="1440" alt="Screen Shot 2564-08-27 at 09 22 15" src="https://user-images.githubusercontent.com/18292247/131061745-5bad3c61-5adb-49e1-97ba-9b869a20d210.png">

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-or

[2021-08-27 07:55] #27979 closed, assigned to nobody

[2021-08-27 07:58] #27982 closed, assigned to eps1lon

[2021-08-27 14:23] vapurrmaid opened #27988 "[Alert] icon should not render when set to null"
The logic for checking if an `<Alert>` should render an icon is as follows:

https://github.com/mui-org/material-ui/blob/5fece6907bfcdc86d1f832614bd30f9dddc4b1e7/packages/material-ui-lab/src/Alert/Alert.js#L175-L179

However, the documentation makes no special mention of `false`, and considers the `icon` prop to be of type `node`:

![alert-icon-node](https://user-images.githubusercontent.com/11184

[2021-08-27 14:48] volta-vianney opened #27990 "Best workaround to work with CSS variable which are not supported yet"
Hello,
I've seen in the backlog that CSS variable are coming to material ui v5.
I'm migrating all my application from rmwc to Material ui and I really don't know what is the best way to handle these CSS variable since they are not supported.

This is the kind of theme I have in my app :
[code]

Thanks for the help

[2021-08-27 15:27] michaldudak opened #27991 "[test] Failing BrowserStack tests"
This is a follow-up to https://github.com/mui-org/material-ui/pull/27179#issuecomment-877678754
The browser test timeouts occur increasingly more often because of the limited processing power of BrowserStack.

Some of the solutions available:

1. Removing some browsers from the test matrix (Firefox looks like the good candidate as it's slow compared to the others)
2. Removing the BrowserStack test

[2021-08-27 21:16] TomWildenhain-Microsoft opened #27992 "Quickly clicking Select after making a selection selects a different entry"
## Current Behavior 😯

After selecting an entry from the Select (simple, non-native), if you immediately click the select again while it is closing (to make a different selection), the selection immediately selects a different entry (instead of displaying the selection list again).

## Expected Behavior 🤔

While closing the select, the ul elements are currently hidden but still clickable.  Make th

[2021-08-27 21:51] wuzzeb opened #27993 "[docs] Mention about ref type specificity in migration to v5 doc"
Hi,

I just completed a v4 to v5-beta upgrade for our project today and just wanted to give a report.  First, the preset-safe codemod worked well and converted a bunch of stuff correctly.  There were only two (small) problems I had but before listing them, I want to say the vast majority of the upgrade went smoothly so good work!

- I had a couple Card components being passed a ref.  In v4 all the

[2021-08-27 22:30] gnowland opened #27995 "createTheme with themeAugmentation throws error on v5-beta.5: "Object literal may only specify known properties, [lab component (e.g. MuiTimeline)] does not exist in type 'Components'""
- [x] The issue is present in the latest release.
Was working on v5-beta.4, now broken in v5-beta.5
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On compile error is thrown:
[code]

## Expected Behavior 🤔

Compile

## Steps to Reproduce 🕹

https://www.typescriptlang.org/play?ts=

[2021-08-28 02:24] zzossig opened #27996 "Allow us to use custom props in styled-component"
I'm migrating MUI version 4 to 5.
I'm not used to use styled-component before since it was not default in MUI.
But as far as I know, styled-component can pass custom props like this.

[code]

The `isActive` prop is very common use case when we want to conditionally apply some styles.
I've tried to passing custom props to styled component, but is didn't worked.
It seems that custom props blurred by

[2021-08-28 06:32] zzossig commented on #27996
I found `shouldForwardProp`.
I didn't noticed this exist before.

[2021-08-28 11:14] chetas411 commented on #27970
@RemyMachado I would like to try this issue. Can I ?

[2021-08-28 12:13] mbrookes commented on #27970
@RemyMachado are you working on this already?

[2021-08-28 12:41] RemyMachado commented on #27970
@chetas411 @mbrookes

I was about to give it a try, but I never contributed before so I'm afraid I would be slow.  Go ahead, please yourself.

[2021-08-28 12:49] chetas411 commented on #27970
This codebase is completely new for me as well but I will explore and see what I can do .

[2021-08-28 13:23] qiweiii commented on #27170
I would like to work on InputAdornment

[2021-08-28 14:27] mbrookes commented on #27970
The contributing guide is a good place to start

[2021-08-28 14:54] chetas411 commented on #27970
@mbrookes Can you review my PR ?

[2021-08-28 19:24] danielpza commented on #18136
@oliviertassinari is there an issue or PR to keep track of the progress?

[2021-08-29 07:22] amirHossein-Ebrahimi commented on #19472
Any update on `FormControlLabel` margin behavior?

Same result in `@material-ui/core`: `5.0.0-beta.5`

[2021-08-29 09:20] stfenjobs commented on #9513
https://next.material-ui.com/zh/system/grid/#grid-template-areas

![image](https://user-images.githubusercontent.com/6580897/131245420-c86f624d-be7a-48f4-9a31-ffc3374bc5a4.png)

[2021-08-29 10:17] MarksCode opened #28029 "@material-ui/system lighten() doesn't product correct results"
I'm trying to use the `lighten()` function from material-ui system implemented here: https://github.com/mui-org/material-ui/blob/next/packages/material-ui-system/src/colorManipulator.js

However, it is not producing the expected results. For example, the color `#012754` with an alpha of `0.2` is turning into `#335276`, when it should be turning to `#345276`.

Here's how I'm using the function:

[c

[2021-08-29 11:38] chioio opened #28030 "Page loading progress bar support! 🥰🥰🥰"
Page Loading, Progress Bar, Util

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
When the page loading, the page display a progress bar at the page top like the [topbar](https://www.npmjs.com/package/topbar) or [pace-js](https://www.npmjs.com/package/pace-js) library.

## Examples 🌈

[Topb

[2021-08-29 12:33] n0ir1 commented on #28030
#https://github.com/mui-org/material-ui/issues/22486

[2021-08-29 13:06] #28030 closed

[2021-08-29 15:45] flaviendelangle commented on #27991
I agree that letting the `test_browser` only for Chrome-based browser would make this step quite useless.

[2021-08-29 16:22] oliviertassinari commented on #9513
Regarding the next step on this issue, we have a couple of options:

1. We do nothing, per https://github.com/mui-org/material-ui/issues/9513#issuecomment-803701751
2. We change the underlying implementation of the `Grid` with CSS Grid. There are currently no open issues about problems that such a move would fix. As far as I can push the reflection, it could be about being "cleaner" e.g. if your c

[2021-08-29 16:46] h0tw4t3r opened #28031 "SvgIcon's viewBox default attribute breaks most of the icons imported as a component"
SvgIcon component has a mandatory prop of `viewBox`, but many icons have different viewBoxes, because they may have a different source and different authors. Considering if an SVG has a regular `viewBox`, this forces to duplicate the already declared `viewBox`.

https://github.com/mui-org/material-ui/blob/c87d71827fbcddf24335e6df21d785bf19319e57/packages/material-ui/src/SvgIcon/SvgIcon.js#L56-L68

[2021-08-29 18:00] carstenblt opened #28032 "module augmentation for theme not working (v4->v5 migration)"
[code]
fails with
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Typescript fails with a Parse Error.

## Expected Behavior 🤔

Compilation and augmentation of the theme type.

## Your Environment 🌎

<details>
  <summary>`n

[2021-08-29 18:11] oliviertassinari commented on #19472
@amirHossein-Ebrahimi Could you provide a reproduction to illustrate the issue? So far, this has been a tradeoff, changing it would be a breaking change, we better be sure it's, overall, a step forward.

[2021-08-29 18:33] rajzik commented on #27973
@oliviertassinari fixed in new PR.

[2021-08-29 19:27] oliviertassinari commented on #21022
Linking https://github.com/mui-org/material-ui/issues/27170 and https://github.com/mui-org/material-ui/issues/6218 as it might be related.

[2021-08-29 19:28] oliviertassinari commented on #18136
No, consider, this issue and all the other open issue as part of the same underlying problem. The Select likely deserves to be rewritten from scratch at this point.

[2021-08-29 21:03] oliviertassinari commented on #28031
Duplicate of #18782

[2021-08-29 21:03] #28031 closed

[2021-08-29 21:15] amirHossein-Ebrahimi commented on #19472
@oliviertassinari, Here is a simple illustration of the default behavior of `FormControlLabel` with switch. [stackblitz](https://stackblitz.com/edit/mui-issue-19472?embed=1&file=src/App.js&theme=dark).

Composing certain built-in sections of  `material-ui` without any style that re-present semantic with acceptable UI was (and still is) one of the most significant aspects of the material-ui project

[2021-08-29 21:26] oliviertassinari opened #28035 "[Stack] Items don't wrap correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the Stack items overflow the container, they don't wrap.

## Expected Behavior 🤔

When the Stack items overflow the container, they should wrap.

## Steps to Reproduce 🕹

Steps:

[2021-08-29 21:26] oliviertassinari commented on #27973
@rajzik Create thanks, I did the other end of the bargain: https://github.com/mui-org/material-ui/issues/28035.

[2021-08-29 21:32] oliviertassinari commented on #19472
@amirHossein-Ebrahimi Thanks for the illustration. I guess it depends on the expectations of the developers. We have a `disableGutter` & `disablePadding` prop on the ListItem component and in a few others.
Maybe we could use this as inspiration to add a `disableMargin` prop?

[2021-08-29 22:15] garronej commented on #27945
@mnajdova Everything now works as expected in the latest version of `tss-react` thanks for reporting the issue. [ref](https://github.com/garronej/tss-react/commit/8c24db04656456fb5a78fff6b9cd8da8e565ed18)

[2021-08-30 05:56] #27991 closed

[2021-08-30 05:59] eps1lon commented on #28032
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-30 06:12] eps1lon commented on #28029
Area you sure you want to use `lighten` and not `alpha` considering you're naming `alpha` while `lighten` takes a "coefficient".

Lighten is based on luminance.

[2021-08-30 06:12] eps1lon commented on #27819
Closing since no reproduction was provided within 14 days.

[2021-08-30 06:12] #27819 closed

[2021-08-30 06:15] #27973 closed

[2021-08-30 07:18] daveteu commented on #25738
I'm writing here because I am looking for Datepicker to have the events passed in onChange.

For example, when I'm using Mui DatePicker in DataGrid, I will need something like the following. I've tried to use onChange event in renderInput `TextField` but it does not trigger.

[code]

###Motivation
The motivation behind this is that I  want to use DatePicker in Datagrid and keep the look consistent

[2021-08-30 08:05] VenomFate-619 commented on #13448
When it will be solved , I also facing this issue

[2021-08-30 08:21] VenomFate-619 commented on #18377
but in docs it is given like this
`import { ThemeProvider } from '@material-ui/core/styles';
`

[2021-08-30 08:34] amirHossein-Ebrahimi commented on #19472
It can be done with the help of a new simple `sx` property.
I assumed the issue stemmed from the choice to change the layout.

In any way, adding some best practices examples and material team suggestions to this section of the documentation might be a good idea or even an alternative.

[2021-08-30 09:56] oliviertassinari commented on #13448
@VenomFate-619 It's already solved, you can upgrade to v5.0.0-beta.5.

[2021-08-30 10:25] garronej opened #28045 "`classes` styles don't override default when using @emotion/react"
## Abstract

### Who it's affecting

This issues only affect users that uses `@emotion/react` to write their custom styles.

### What is the issue

The styles provided to the `classes` property of MUI components don't take priority over the internal styles and there is no way around it.

## Original issue

Hi,

Following up with [27945](https://github.com/mui-org/material-ui/issues/27945) I think

[2021-08-30 10:50] LeoLozes opened #28047 "[DateRangePicker] Allow several months view in mobile (vertically)"
## Summary 💡
Right now it looks like the [different number of months option](https://next.material-ui.com/components/date-range-picker/#different-number-of-months) is only available for desktop view (please correct me if I haven't seen the correct parametrization). This view offers two or three calendars aligned horizontally:

![image](https://user-images.githubusercontent.com/11133817/131328012-7

[2021-08-30 11:00] pourmand2010 opened #28048 "How can I solve `muiName` in Material UI for custom component?"
I am using Material UI and I want to create my own `Field` that is the base component and `Text` that uses `Field` to compose form input.

Here's my `Field` code:

[code]
And here's my `Text` code:

[code]
You can see the [codesandbox](https://codesandbox.io/s/late-sunset-6h1gs?file=/src/App.js).

How can I solve it?

[2021-08-30 11:34] 0xF013 opened #28051 "TextField rerendering causes global styles to recalculate on each keystroke with SC"
When using TextField and `@material-ui/styled-engine-sc` as a controlled input (in a render prop?), this part https://github.com/mui-org/material-ui/blob/7bdf8a35299fa4a7e9ae97eff5f3b074170c38ef/packages/material-ui/src/InputBase/InputBase.js#L486 causes the styled component blob <style> tag to redraw on each keystroke. I would assume that the styled-components' implementation of global styles is

[2021-08-30 12:51] salemhammad opened #28055 "Icon Button Hover is buggy"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-08-30 13:49] mnajdova commented on #28051
Looks like the global keyframes were added in PR, but from what I could read in the thread of the issue, it was added to fix a JSS issue - https://github.com/mui-org/material-ui/pull/19497

We could try to drop the global styles (I wasn't able to reproduce the problem even on the original issue, and I couldn't spot any issues with the updated implementation) cc @oliviertassinari could you help tes

[2021-08-30 13:51] LeoLozes commented on #28047
Playing with the [codesandbox ](https://codesandbox.io/s/upu4q?file=/demo.tsx:1801-1820), just changing the orientation gives a pretty good design & behaviour, but it seems that the css class is not overridable:

![image](https://user-images.githubusercontent.com/11133817/131349713-cf42d036-02a1-453b-80f9-e5d9110dfb04.png)

[2021-08-30 13:51] 0xF013 commented on #28051
I could record a video on a project with a lot of styled tags if that is helpful

[2021-08-30 13:54] mnajdova commented on #28051
@0xF013 I can see that the Global styles are re-created. Let's see @oliviertassinari response about whether we can drop them completely, as I can't reproduce the original issue that lead to adding them in the first place. If not, we could try to insert them only once (will need to see how we can do this)

[2021-08-30 13:54] danielo515 opened #28056 "[docs] Make styles hook needs better examples"
Hello.
Thanks for the library and all the effort you put into it.
I think the docs of makeStyles can be improved. It does not mention the complete signature of its arguments. It just says that it takes either an object or a function, but it doesn't detail the signature of the function:
https://material-ui.com/styles/api/#makestyles-styles-options-hook

There is one example of using a function, but

[2021-08-30 13:59] shayantabrizi opened #28057 "Role of Skeleton"
Shouldn't `Skeleton` component have a role of `progressbar`?

[2021-08-30 14:47] samuelcolburn opened #28058 "[docs] Font display issues on next docs"
The latest changes to the next.material-ui.com docs have caused some font rendering issues in the navigation drawer. This appears to be due to the new "IBM Plex Sans" font being used, but even when I adjust the weight/size etc. it still seems to not render properly.

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues)

[2021-08-30 15:04] muellma-items opened #28061 "[DataGrid] Support for more formats for column type dateTime"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

It would be very convenient to add more formats that are automatically detected and formatted to proper strings when the column type dateTime is given.

## Examples 🌈

This is a UTC timestamp value (ISO 8601) from a PostgreSQL database. As yo

[2021-08-30 15:27] samuelcolburn commented on #28048
I'm not sure why you would want to implement it this way, but you could use a render prop instead:

[code]

I don't know your use case, but I would think [`useFormControls`](https://next.material-ui.com/components/text-fields/#useformcontrol) would probably be an easier way to implement a similar concept, and/or using a library like `react-hook-forms` to handle your form state.

[2021-08-30 16:43] oliviertassinari commented on #27991
@michaldudak I have update the options listed to introduce more diversity. It's also to be noted that #16263 is related to this pain.

I personally resonates with options 4. or 5. For instance, we could start with 5, if we see that we introduce regression too often, then we could invest on 4 to move these tests back on the PRs. It seems that it's what #28041 go after.

[2021-08-30 17:12] cmdcolin opened #28062 "Autocomplete selectOnAllClick or blurAfterSelectOption?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Hi there. Happy user here :) One idea for autocomplete in the lab. Currently in Autocomplete, if there is selectOnFocus, the box is selected on first clicking it

However, if for example I do these steps

1) Click on autocomplete textfield
2)

[2021-08-30 18:02] flaviendelangle commented on #27991
Fine for me :+1:

[2021-08-30 19:23] oliviertassinari commented on #28051
@mnajdova This global style is important, we need it. See the same issue with emotion in the v5-candidate milestone: https://github.com/mui-org/material-ui/milestone/46

[2021-08-30 19:57] gnowland commented on #27995
Seems related to issue #27704 and PRs #2307 and  #27706?

[2021-08-30 20:26] vittau commented on #18919
I'm facing the same issue, the production build breaks some pages due to CSS insertion order. Is there any update on this issue?
Should I simply add `index: 999` to every `makeStyle` as a workaround?

[2021-08-30 20:34] oliviertassinari commented on #28057
As far as I know, no. Closing as it's an extension of #26930

[2021-08-30 20:34] #28057 closed

[2021-08-30 20:57] ValchanOficial commented on #27926
I having same error using FormControlLabel with Radio
<FormControlLabel key={status} value={status} control={<Radio />} label={status} />

![image](https://user-images.githubusercontent.com/16228014/131404237-5a580732-7ede-466f-a924-c4a2fdff29b3.png)

[2021-08-30 23:20] dkadrios opened #28064 "[material-ui][Tabs] Implement without cloneElement"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
I have a tab set where I'd like one extra tab to only be present on xs screens.  I thought I could just wrap the `Tab` and `TabPanel` in a `Hidden` tag; something like:

[code]

...but that gen

[2021-08-31 00:12] avanderhoorn opened #28065 "ToggleButtonGroup isn't "themed" the same way as a ButtonGroup v5"
## Current Behavior 😯

I'm using default theme out of the box with no modifications.

https://codesandbox.io/s/togglebuttonsizes-material-demo-forked-ez6mf

<img width="446" alt="Screen Shot 2021-08-30 at 5 07 24 PM" src="https://user-images.githubusercontent.com/585619/131421193-c9e4410a-a12b-40ea-89bb-cad99a649875.png">

[code]

They don't look the same...

## Expected Behavior 🤔

That they shou

[2021-08-31 04:01] eshanCV opened #28066 "Using Enzyme with Jest to test Material-UI Select control"
I'm having an issue with testing Material-UI select option. Here I have tried to test all the options are loaded in the control. But when I put a console log debug it displays nothing on the options elements.

Also, I have noted that the menu items are rendered at the bottom of the page for Material-UI. Is there a specific way to get those? Below is the code that I have tried,

- [x] The issue is

[2021-08-31 04:21] emran-jatri opened #28067 "Image and Image Preview"
Material UI Should have image component and Image preview on click

[2021-08-31 06:17] #28066 closed

[2021-08-31 06:22] eps1lon commented on #27926
A gentle reminder that this is not actionable for us without a full reproduction. A screenshot of the issue or code snippet does not help us to identify the issue.

[2021-08-31 06:24] eps1lon commented on #27806
Closing since no reproduction was provided within 14 days.

[2021-08-31 06:24] #27806 closed

[2021-08-31 06:55] eshanCV commented on #28066
Added this to the StackOverflow [https://stackoverflow.com/questions/68982881/using-enzyme-with-jest-to-test-material-ui-select-control](url)

[2021-08-31 08:04] #28048 closed

[2021-08-31 08:05] eps1lon commented on #28055
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-31 09:14] ItayTur commented on #27792
inputRef works but it refers to the input element of the InputBase component. the issue here is getting ref to the div wrapper, the input container, the root element of the InputBase component.

[2021-08-31 10:16] mnajdova commented on #26449
Thanks for the report. Initially, the keyframes had the `from: {}` in them, I propose we add the same. This diff is fixing the issue:

[code]

[2021-08-31 11:12] AlvesJorge commented on #28067
You didn't leave alot of room for discussion here with the way you phrased your request.
Someone will have to work on it for this feature to exist.
So I think you should be more mindful when you make requests for other people to work on something.

[2021-08-31 11:23] asharma991 commented on #2932
Does anyone know, how to add icon to the label area in TextField?

[2021-08-31 11:24] AlvesJorge commented on #28065
There's a point to be argued that they shouldn't look the same because then they would look like the same component and the client wouldnt know the difference between what is going to be a toggle button and what would be a normal button (specially if you put both groups side by side). I don't think the devs were trying to differenciate them just by having different heights but nonetheless it still

[2021-08-31 12:38] akashshyamdev opened #28071 "[docs]: Increase size of CTA "Get Started" and Change Title and Subtitle to white"
In https://next.material-ui.com, the CTA(call to action) is way too small(14px). Even though there is no firm font size, generally people use 16px as a minimum. I feel 14px is too less for the main call to action on the page. Although the contrast of the color of text and CTA follows the WCAG guidelines(4.61 contrast) but I don't think it's really eye-catching.

- [x] The issue is present in the l

[2021-08-31 13:36] ValchanOficial commented on #27926
@eps1lon sorry, I forgot to add the code below into _app.js and to create _document.js file 😅
Now it's working here

- **_app.js**
[code]

- **_document.js**
https://github.com/mui-org/material-ui/blob/master/examples/nextjs/pages/_document.js

[2021-08-31 14:26] danilo-leal commented on #28058
Hey @samuelcolburn, thanks for reporting! This is weird... In my machine (macOS Big Sur, Chrome 92.0.4515.159, default font size, no zoom), I'm currently not having this issue.

@siriwatknp Do you think it can be an issue with either the import of the IBM typeface or something related to font smoothing?! I know you also use a Mac, so probably worth digging if it's something Windows or other OS's s

[2021-08-31 15:54] Kerolos-Beslogic opened #28075 "Slide component doesn't work with React.PropsWithChildren"
Trying to use React.PropsWithChildren with slide component, yet the children is only allowed to be undefined, ReactElement<any, any> not null.

- [x] The issue is present in the latest release. ( version: 5.0.0-beta.5)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![Screen Shot 2

[2021-08-31 16:07] aress31 opened #28076 "Dark Mode Issue with Material-UI v5"
I followed the tutorial/example available at https://next.material-ui.com/customization/palette/#heading-dark-mode to implement a dark mode toggle, however, there seem to be a big issue with the merging of my custom theme with the updated mode returned by `createTheme`.

Here is my code:

`color-context.js`:
[code]

`MarketingBar.js`:
[code]

`App.js`:
[code]

Light mode on:
![image](https://user-

[2021-08-31 16:15] Messa1 commented on #14286
Thanks :)
I use it for two values in map
`<MenuItem key={contactperson.id} value={`${contactperson.firstname}${' '}${contactperson.lastname}`}>
`

[2021-08-31 16:19] Messa1 commented on #14286
Thanks :)
I use it for two values in map

[code]

[2021-08-31 16:55] FSYED7X commented on #10643
Thanks a lot, it worked for me -

Material Ui  - 4.12.3
React Swipeable Views - 0.12.4

[2021-08-31 17:15] avanderhoorn commented on #28065
@AlvesJorge I might be able to get behind some of that, but if I have a normal button group and toggle buttons group in the same UI... it looks really weird.

[2021-08-31 18:20] sufius opened #28077 "Cannot read property 'addEventListener' of undefined - React-scroll working with Material UI 4 Tabs, not working with MUI 5"
Hello, here is a working example with Material-UI 4

[https://codesandbox.io/s/cranky-tess-xd72g](https://codesandbox.io/s/cranky-tess-xd72g)

And here the same code with Material-UI 5 - not working

[https://codesandbox.io/s/crazy-jasper-5ozl5](https://codesandbox.io/s/crazy-jasper-5ozl5)

Error-Message:
Cannot read property 'addEventListener' of undefined

Why?

[2021-08-31 18:56] teenguyen commented on #22257
Just FYI if anybody is implementing something similar: `body1` was being applied to all custom types (since leaving it undefined defaults to body1) and in some places taking precedence. I've switched it out to `variant={isCustom ? "inherit" : variant}` until we get the chance to upgrade to v5

[2021-08-31 19:05] ankurmaheshsingh commented on #27512
I also faced this issue recently with **Next Js version 11.1.2** for some components.

But I was able to overcome the issue using the dynamic imports used by Next Js with **ssr:false**

Material UI version

`"@material-ui/core": "5.0.0-beta.4", "@material-ui/icons": "5.0.0-beta.4", "@material-ui/lab": "5.0.0-alpha.43", "@material-ui/styles": "5.0.0-beta.4",`

Styled Component version

`"styled-com

[2021-08-31 20:18] AlvesJorge commented on #28065
It seemed like the only difference to me was the height, are there any other differences?
If not you can fix your case by using the sx prop

[2021-08-31 20:49] AlvesJorge commented on #28077
It seems your problem has to do with the Link component from react-scroll

[2021-08-31 20:52] AlvesJorge commented on #28077
https://github.com/fisshy/react-scroll/issues/484

And it seems like you already knew this , you should include that.

[2021-08-31 20:55] AlvesJorge commented on #28076
Hi @aress31 ,
Can you makde a [CodeSandbox ](codesandbox.io)for me to test this out?
Thank you

[2021-08-31 20:57] sufius commented on #28077
Not react-scroll changed, but Material-UI changed from 4 to 5. It would be nice to learn what changed and how to adjust my components to fit to this particular new need of MUI 5.

[2021-08-31 20:57] aress31 commented on #28076
Hi @AlvesJorge all the relevant part of this bug are present in my original post, unfortunately I cannot CodeSandbox this code, I am happy to try out suggestions though.

[2021-08-31 21:14] AlvesJorge commented on #28077
Many things changed. Nonetheless that is the part that is breaking the code, and for anyone trying to help you figure this out , that is not a detail you would leave out.

[2021-08-31 21:18] avanderhoorn commented on #28065
@AlvesJorge Its not just height... font color, boarder color, the background color effect on click, etc.

[2021-09-01 03:02] mkkeffeler opened #28079 "[DataGridPro] Documentation on customizing theme"
I am trying to pass in an existing theme to the DataGridPro component, but can't figure out how from the Docs. It seems I need to override the panel components so that when I click to open a panel it still inherits my theme (as of now, clicking to open any filter or columns panel causes the whole app theme to change.

- [x] The issue is present in the latest release.
- [x] I have searched the [iss

[2021-09-01 03:07] mkkeffeler commented on #28079
screenshots showing the difference attached. no code changes between screenshots, all the styling gets removed.
![after](https://user-images.githubusercontent.com/12587979/131605264-1fbd183e-9b54-477a-bbe1-de296e114fd8.png)
![before](https://user-images.githubusercontent.com/12587979/131605267-812fe365-4300-4648-ae4b-c3112897b273.png)

[2021-09-01 03:40] mkkeffeler commented on #28079
I love coding :)

Wrapping the <DataGridPro /> in a <ThemeProvider /> resolved this.

[2021-09-01 04:13] abhishekraj272 opened #28080 "React library using default mui theme instead of custom theme injected in parent react app."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a React library which uses mui theme(custom). It is used in a react app which injects the theme using theme provider but the library is using the default MUI Theme instead of t

[2021-09-01 05:02] shayantabrizi commented on #28057
Could you please explain why? Doesn't Skeleton show waiting for the result, similar to progressbar? If not, what is the correct role?

[2021-09-01 05:09] olehhrinishyn commented on #21233
still actual

[2021-09-01 06:33] mnajdova commented on #28080
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-01 06:41] mnajdova commented on #28076
@aress31 try to isolate your reproduction and create a codesandbox that will illustrate the issue. It is time-consuming for us if we need to setup a project for every issue that we receive. It would help a lot!

[2021-09-01 06:44] mnajdova commented on #28071
Thanks for the report and suggestion. I would leave this to @danilo-leal (he is our awesome designer ;))

[2021-09-01 07:55] MrOttimista opened #28082 "Opening a Popover adds `padding-right` to the body element"
When I try to open any popover, a `padding-right` is added as a style for the body element
**Why this is not the best way?**
1. it makes some components rerender
2. some components is displayed in a messy way as shown in the example

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe tha

[2021-09-01 08:06] mnajdova commented on #28082
Duplicate of https://github.com/mui-org/material-ui/issues/19961

[2021-09-01 08:07] #28082 closed

[2021-09-01 08:13] ZeeD opened #28083 "Error when testing with testing-library render"
with this basic test

[code]

`yarn test` ends with error:

[code]

[2021-09-01 08:20] MrOttimista commented on #28082
@mnajdova  thank you for responding
Yes, it is duplicate and the answer was the behaviour is expected
but this behaviour causes a UI bug in the material ui offical web site
so, can you consider my suggested solution?

[2021-09-01 09:57] oliviertassinari commented on #28057
Please have a read at the duplicate issue I have linked. It links other discussions that provides context. From what I remember, the fundamental problem is that the nominal use case is to have multiple Skeleton rendered, while there is only a loading area.

[2021-09-01 10:41] siriwatknp commented on #28076
@aress31 I guess it is because your `customTheme` has already been calculated with fixed mode (either `light` or `dark` in your `theme.js`). Even though you call `createTheme(customTheme, ...)` it does not work because `customTheme` will replace the default value.

[code]

What I suggest is to separate between design tokens and components. something like this,

[code]

I find this approach more ex

[2021-09-01 10:42] mnajdova commented on #28076
If I need to guess, the problem is with this code:

[code]

You would need to merge the first argument with the second, and then invoke the `createTheme`.

[2021-09-01 10:44] mnajdova commented on #28076
I've seen multiple issues with confusion regarding how the first argument is handled differently in `createTheme`. I believe there is an opportunity here for improving the documentation. Will try to setup some time to look into it this or next week.

[2021-09-01 10:56] dummy26 commented on #28058
I found the same issue while using edge on win 10 -
![Screenshot 2021-09-01 162415](https://user-images.githubusercontent.com/40134444/131659714-7c74941a-4f7a-4137-92de-022b1944e81a.png)

[2021-09-01 11:09] #26449 closed

[2021-09-01 11:09] #28051 closed

[2021-09-01 11:09] #28083 closed

[2021-09-01 11:51] eps1lon commented on #28065
These are different components and therefore should look different.

`ToggleButtonGroup` is its own widget with behavior similar to radio buttons.

`ButtonGroup` really is just there to group `Button`.

[2021-09-01 11:54] #27970 closed

[2021-09-01 11:59] #28067 closed

[2021-09-01 12:00] eps1lon commented on #28067
Duplicate of https://github.com/mui-org/material-ui/issues/22470

[2021-09-01 12:02] eps1lon commented on #28077
Please reduce the issue to just React and Material-UI. Otherwise we won't be able to identify the issue.

[2021-09-01 12:04] aress31 commented on #28076
@mnajdova @AlvesJorge, here is a sandbox:
https://codesandbox.io/s/agitated-resonance-kd751?file=/src/config/muiLayout.js

[2021-09-01 12:05] aress31 commented on #28076
@mnajdova what would be the best/recommended way to merge the first and second argument before calling `createTheme`, could you please provide a code snippet?

[2021-09-01 12:15] shayantabrizi commented on #28057
Thank you!

[2021-09-01 13:16] #27958 closed

[2021-09-01 13:42] mnajdova commented on #28076
Adding this on my TODO list, will work on both these two docs sections probably tomorrow.

----

@aress31 btw you need to other dynamically set the palette based on the mode, or you need to have two different themes (light and dark) and provide the correct one in the context. I am not sure what is the expected behavior based on the code that you provided on the code sandbox. About merging the two,

[2021-09-01 13:58] aress31 commented on #28076
Well I want to dynamically update the theme based on the `mode` set with the `dark mode switch`, changing this value on the theme should update and re-render everything? 🤔

[2021-09-01 13:58] aress31 commented on #28076
Well I want to dynamically update the theme based on the `mode` set with the `dark mode switch`, changing this value on the theme should update and re=render everything?

[2021-09-01 14:40] eps1lon commented on #28075
`PropsWithChildren` types `children` as `React.ReactNode`. However, `Slide` requires exactly one `React.ReactElement` which is narrower than `React.ReactNode`. The type error is intended to prevent e.g. `<Transition>test</Transition>`.

Why did you expect that? The [documentation for `Slide`](https://next--material-ui.netlify.app/api/slide/#props) should imply that `null` is not allowed since `nul

[2021-09-01 15:12] chetas411 commented on #27922
@eps1lon can you review the linked PR?

[2021-09-01 15:15] danilo-leal commented on #28065
We could even make them similar by adjusting border color and sizing, but both font and bg color won't follow because as @eps1lon said, they are different components and behave differently. The light purple bg and purple font signals what option in a toggle group is currently selected. A button group doesn't work like that as it is just a grouping of multiple buttons. There's not a "currently sele

[2021-09-01 15:32] danilo-leal commented on #28071
Hey @akashshyamdev, thank you for reporting this one up.

We haven't really given much attention to the current home page as we have a new very different one baking in the oven that will be released very soon, with v5 stable, substituting this one. If you still feel like pushing your changes forward (I'm ok with them), go ahead! Just know they would probably be up for a short time :)

[2021-09-01 16:27] Rahulantino opened #28095 "how to change numbers in material ui stepper to alphabet"
I want to change the steeper numbers to alphabets a,b,c,d

[2021-09-01 16:31] namangirdhar16 commented on #27933
Hi @Phebonacci, if this hasn't fixed yet, can i work on this issue, also can you guide me on how to get started since i am just starting out?

[2021-09-01 18:32] avanderhoorn commented on #28065
Re Wouldn't it be weirder if they looked the same: One is mutually exclusive and the other is not... thats not that big of a difference?

Re These are different components and therefore should look different: I thought of them being the same... its even in the name "ButtonGroup"... both have it.

I'm ok accepting that its just me that finds this a little weird... I'd just be surprised if ultimatel

[2021-09-01 20:20] kombuchafox commented on #15404
So this how I got custom Themes to work with Material UI. I used an augmented version @mdvorscak . We have a custom Theme sheet that I don't want have to override in every instance of the snapshot tests:

Note:
`"css/styles"` uses `createMuiTheme` to create new style

[code]

[2021-09-01 21:14] chase2981 commented on #10498
I found this answer helpful personally: https://stackoverflow.com/a/55854482/2034449 The answer above not so much.

[2021-09-01 21:26] ricardodoberstein commented on #21111
It would be awesome

It would be awesome if MUI supported this out of the box. 👍

[2021-09-01 21:42] mbrookes commented on #28095
Try: https://material-ui.com/components/steppers/#customized-stepper

[2021-09-01 21:49] daniel-7235 opened #28098 "[Autocomplete] freeSolo value is not remaining after leaving the field"
When using the Autocomplete component with the freeSolo option, the entered value is removed right after leaving the text field.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

See the image below (Material-UI v5.0.0-beta.4)
![aut

[2021-09-01 22:22] danilo-leal commented on #28065
Both are buttons in the sense that they trigger actions but there's a fundamental difference between radio/toggle and stand-alone buttons.

But just out of curiosity because the examples you attached above aren't in the documentation... Were you in a position you had to chose which of them to use and then got confused? That's probably a good cue for us to review what we can improve in their docs c

[2021-09-01 23:09] iamgutz commented on #11345
This is still happening, any way to fix?

[2021-09-01 23:21] rxdrag opened #28099 "sx attribute 'overfollw' not suport overlay"
use like this can work:
`overflow: 'overlay' as any,`
if not use any, can not complied in typescript environment

[2021-09-02 02:31] bluSCALE4 commented on #21913
I'm also seeing this in Firefox. Without digging into the source, I noticed that if the drawer has a scrollbar, the container (paper) will receive focus. Doesn't happen in Chrome.

[2021-09-02 02:36] CalvinJamesHeath commented on #15423
maxRows and minRows are not working.

<TextField
								inputProps={{ maxLength: 150 }}
								id='details__textField'
								name='bio'
								type='text'
								rows='2'
								multiline
								maxRows='2'
								placeholder='Enter a short Biography about yourself up to 150 characters'
								className={classes.textField}
								value={this.state.bio}
								onChange={this.handleChang

[2021-09-02 04:03] bluSCALE4 commented on #21913
Wanted to add that something similar is happening in Firefox with Drawer. When the Drawer grows to display a scrollbar, the `overflow-y: auto` triggers the Paper container to receive focus when the Drawer is tabbed into even though it has tabIndex -1. This can be observed everywhere but it is much more subtle in Drawer `permanent` variants since they receive focus on load. With persistent where Dr

[2021-09-02 04:33] avanderhoorn commented on #28065
In my page where I want to control filtering that is applied to a table I had preexisting button group. I using v4 and needed the exclusive selection of the toggle button group for some new options. I included the labs from v4 to try it out but those toggle buttons didn't support `color`. So I updated to v5 to get that and added the new toggle buttons group next to the existing button group I alre

[2021-09-02 09:03] jasonblalock opened #28100 "v5.0.0-rc Async Autocomplete not compiling in Typescript 4.4.2"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Copying the Async example of the v5 Autocomplete and running against Typescript 4.4.2 I get a TS error on the `open` pro

[code]

## Expected Behavior 🤔

Autocomplete example should p

[2021-09-02 09:06] akashshyamdev commented on #28071
Ok I'd be glad to push said changes. Just one thing, do you know where the file for the hero section on the landing page is? I've searched in '/docs/src/pages/landing' but I can see all the sections except the hero section(with heading). In the screenshot above, I had edited the page through dev tools.

[2021-09-02 09:17] eps1lon commented on #28065
With this logic `OutlinedInput` and `FilledInput` should also look the same because they share parts of their name.

Closing since this discussion isn't really fruitful. I can understand the confusion though. `ToggleButton` is not just about being mutually exclusive or not. They also have a selected state.

[2021-09-02 09:17] #28065 closed

[2021-09-02 10:28] redhwannacef opened #28102 "[docs] Demo ChipsPlayground crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20ChipsPlayground%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://next.material-ui.com/components/chips/#main-content
2. ??
3. demo *ChipsPlayground* crashes

## Your Environment
| Tech         | Version |
|-------

[2021-09-02 10:29] MadikMayCry opened #28103 "Mui v5 with react hook form troubles"
How to use mui v5 datepickers with React hook form, when selecting with calendar its okay, but when typing by hands theres erro

# Current Behavior ![image](https://user-images.githubusercontent.com/34336498/131823421-3b80331f-f80e-46ec-a85e-547dc8f44b3b.png)

![image](https://user-images.githubusercontent.com/34336498/131828272-2910dce7-0a63-4dd8-9722-9ab94f411d38.png)

# Expected Behavior ![imag

[2021-09-02 10:53] thclark commented on #28080
@abhishekraj272 The theme relies on context. If you have a library which is dependent on material-ui, and an app which is also dependent on material ui, you may find that the library is accessing the context from one installation while the app is accessing context from the  other.

The trick is to:
- make sure that material-ui/* is installed as a **peer** dependency of your library and **not** ins

[2021-09-02 10:56] mnajdova commented on #28102
@redhwannacef could you share a screenshot of what you see. I've just tried the link and it looks like it works.

[2021-09-02 10:58] redhwannacef commented on #28102
@mnajdova sure:
![Screenshot 2021-09-02 at 11 57 58](https://user-images.githubusercontent.com/7884349/131832110-3975c39e-c9e3-4a8a-8827-d99f20618074.png)

[2021-09-02 11:10] carlfranciscastillo opened #28105 "[docs] Demo SearchIcons crashes"
- [ X] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://next.material-ui.com/components/material-icons/
2. Search for the Search Icon in the demo then select it
3. demo *SearchIcons* crashes

## Your Environ

[2021-09-02 11:39] mnajdova opened #28107 "[RFC] Extend variants to support slots"
## The problem

In the theme we already have an API for adding custom style overrides for some combination of props. For example:

[code]

However, with the current setup, developers can only add variants for the root component. If they need to add overrides on some of the slots inside, they need to use class selectors, hence increase the specificity. For example:

[code]

## The solution

In orde

[2021-09-02 11:47] Bidrman commented on #18494
Hey, how exactly I can defer rendering? Do I just set condition if no options, then return null? or is there some more elegant way?

[2021-09-02 11:55] Vibek-D opened #28108 "[docs] Demo SearchIcons Crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://next.material-ui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|----

[2021-09-02 11:57] mnajdova commented on #28102
I see, it fails in dark mode. Thanks for the clarification @redhwannacef

[2021-09-02 12:41] eps1lon opened #28110 "[docs] Branding theme should match Material design theme"
## Current Behavior 😯

The docs currently have two different theme interfaces:
1. Material design
2. the docs theme (https://github.com/mui-org/material-ui/blob/f5e1da0f3e4c72b7e80aa84d41ab035d84500177/docs/src/modules/brandingTheme.ts)

The problem is that docs components assume the branding theme while they can be used inside the Material  design context (e.g. https://github.com/mui-org/material

[2021-09-02 12:47] eps1lon commented on #28100
We type-check our demos with TypeScript 4.4 and currently have no issues. Though we are on `rc.0` now so this may have been fixed in the meantime. Could you check if you can still reproduce the issue **locally** with `@mui/material@5.0.0-rc.0` (was `@material-ui/core`)

[2021-09-02 12:52] eps1lon commented on #28108
Duplicate of https://github.com/mui-org/material-ui/issues/28108

[2021-09-02 12:52] #28108 closed

[2021-09-02 12:59] mnajdova commented on #28110
+1 for matching the interfaces for now. We will need to revisit this once we have the second design system (in case the interface is different)

[2021-09-02 13:07] #28102 closed

[2021-09-02 13:07] #28105 closed

[2021-09-02 13:19] danilo-leal commented on #28071
@akashshyamdev [There you go](https://github.com/mui-org/material-ui/blob/next/docs/pages/index.tsx)!

[2021-09-02 15:13] Rahulantino opened #28114 "I want to give border spacing in the Material-Ui table but I am not able to do I have tried giving it border spacing and margins but its not working I want to make it look like the below image"
![image](https://user-images.githubusercontent.com/87471045/131868921-615a45e1-a127-40ac-9e88-8e0cf6d64a93.png)
I want to make it look like the below image  css
![image](https://user-images.githubusercontent.com/87471045/131869811-2ffbd0d7-63e9-4d86-805b-6bc5c30f1d17.png)

[2021-09-02 15:17] #27792 closed

[2021-09-02 15:29] avanderhoorn commented on #28065
No worries on closing... just letting you know my experience/expectations/etc.

[2021-09-02 15:34] mnajdova commented on #28045
In order for emotion to consider how the classes should be appended in the head, it requires you to use the `cx` in order to merge the classes. Now this comes from the context and it is emotion specific API (it doesn't exist in the context of `styled-components`) so I am not sure that it could work in a generic manner.

I've played a bit with the sandbox and I saw that the `className` prop work as

[2021-09-02 17:09] jessewoo commented on #17566
hi @johnnyreilly - I'm developing with a standard stack with Create React App (CRA) with Material UI (MUI) running with CSP that the security team wanted to put in place, but it's failing with 'style-src' with inline css because MUI has components with inline styling. Wondering if that's something that you ran into. I've been looking around for solution but I too am feeling lost.

[2021-09-02 17:17] oliviertassinari commented on #17566
There is still an open discussion about it in https://github.com/mui-org/material-ui/issues/19938.

[2021-09-02 17:22] ngvcanh opened #28115 "makeStyles: Cannot read property 'primary' of undefined"
I using MUI next version and cannot make style.

- `@material-ui/core`: `^5.0.0-beta.5`
- `@mui/styles`: `^5.0.0-rc.0`
- `@emotion/react`: `^11.4.1`
- `@emotion/styled`: `^11.3.0`
- `react`: `^17.0.2`
- `typescript`: `^4.1.2`
- `node`: `v14.17.1`
- `npm`: `7.18.1`

And my code make styles

**src/assets/css/variables.tsx**
[code]

**src/views/components/includes/GlobalCss.tsx**
[code]

Error occure

[2021-09-02 17:36] mbrookes commented on #28110
Just to mention that the [starter template pages](https://next.material-ui.com/getting-started/templates/) are picking up the docs theme, but need the MD theme, since that what they'll look like if copied. They're also a bit broken in places as a result:

![image](https://user-images.githubusercontent.com/357702/131890382-2a95028f-cd79-417e-ae0d-2bf695310ed5.png)

[2021-09-02 18:33] garronej commented on #28045
Hi @mnajdova,
Let me clarify because I think there is a misunderstanding about what the issue is:
I assert that in the very specific case where:
- Material-ui uses emotion as style engine.
- The user creates custom styles with emotion using the same cache as Material-ui.
Then, and only in this very specific configuration, you guys should be able, using `cx` internally, to ensure that the styles pr

[2021-09-02 18:38] mnajdova commented on #28045
Thanks a lot for the clarification @garronej I will anyway spend some more time tomorrow, my biggest worry is that `cx` is emotion only API, so I would need to export it as a custom function for the other styled engine in order to make sure that the same interface is exported. Will report back on the issue what I’ve come up with.

[2021-09-02 18:45] mnajdova commented on #28115
Have you wrapped your app with `ThemeProvider`? Check the migration guide https://next.material-ui.com/guides/migration-v4/#themeprovider-setup

If this is not the issue, please provide a codesandbox with a reproduction that we can look into.

[2021-09-02 18:57] mnajdova commented on #28110
Will fix this tomorrow. Are there other pages that should depend on the MD team, except this one?

[2021-09-02 19:00] aleccaputo opened #28116 "Unable to run the mui replace codemod with npx based on docs"
I might be doing something wrong but i ran
`npx @material-ui/codemod@next v5.0.0/mui-replace src`
Based on the docs: https://github.com/mui-org/material-ui/blob/next/packages/material-ui-codemod/README.md#mui-replace

And the result was:
`Error: Transform 'v5.0.0/mui-replace' not found. Check out /Users/me/.npm/_npx/94015/lib/node_modules/@material-ui/codemod/README.md for a list of available code

[2021-09-02 19:02] jasonblalock commented on #28100
![Screenshot from 2021-09-02 12-59-46](https://user-images.githubusercontent.com/5899929/131901493-c19cccaf-b860-4d32-95bc-299ae26f9edc.png)

Still having the same issue

[2021-09-02 19:24] katerberg opened #28117 "[docs] Dark-mode Typography readability"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On the [typography page](https://material-ui.com/customization/typography/) there is an image that renders as black text with a hazy white border in dark mode, making it nearly unread

[2021-09-02 19:27] mnajdova commented on #28116
You need to change the package name to `@mui/codemod` and it should work.

[2021-09-02 19:30] aleccaputo commented on #28116
@mnajdova gotcha. Looks like there's a bug in the docs then.

[2021-09-02 19:34] AlvesJorge commented on #28076
https://codesandbox.io/s/quizzical-liskov-0hwu2?file=/src/styles/theme.js

There you go this should be what you want.

[2021-09-02 19:55] AlvesJorge commented on #28117
Ha very interesting I hadn't ever thought about how to display an equation and honestly images are lame.

[2021-09-02 20:03] nishant3721 commented on #28117
@katerberg Can I work on it?

[2021-09-02 20:08] oliviertassinari commented on #28117
We worked on this problem in v5, the best solution we could find was to render it in a dark background. Avoid having to maintain two different versions https://next.material-ui.com/customization/typography/#font-size but maybe we can still do better.

[2021-09-02 20:09] nishant3721 commented on #28117
ok

[2021-09-02 20:10] oliviertassinari commented on #28116
@aleccaputo where did you see this command?

[2021-09-02 20:11] #28114 closed

[2021-09-02 20:12] AlvesJorge commented on #28117
Ah great then! We can still change the documentation on the other versions though

[2021-09-02 20:15] ngvcanh commented on #28115
Hi @mnajdova , I was wrapped my app with `ThemeProvider`

This is link codesanbox: https://codesandbox.io/s/rsmt-oetf5?file=/src/app/App.tsx

[2021-09-02 20:20] AlvesJorge commented on #28103
Hello Madik , can you replicate the issue on [codesandbox](codesandbox.io) ?

[2021-09-02 20:21] nishant3721 commented on #28117
Sure!

[2021-09-02 20:35] aleccaputo commented on #28116
@oliviertassinari bottom of this section
https://github.com/mui-org/material-ui/blob/next/packages/material-ui-codemod/README.md#mui-replace

[2021-09-02 20:35] oliviertassinari commented on #28107
I think that it would be great to expand on the pain. For instance, maybe nested selectors in the theme is OK in most cases. I would also be curious to see the prior arts in the space.

[2021-09-02 20:40] aleccaputo commented on #28116
@oliviertassinari I can take this and make a PR if you wanna assign it to me

[2021-09-02 20:40] #28080 closed

[2021-09-02 20:54] mnajdova commented on #28107
I started thinking about this as I saw complain that the styles overrides are not type safe (as both styled and the sx prop do not accept slots). My thinking was that we can at least make the theme variants type safe, so I wrote this idea in the RFC before I will move on something else and forget about it 😃

We can wait to see if this will resonate with the community and whether it is actually a p

[2021-09-02 21:00] oliviertassinari commented on #28058
I can't find motions of this issue in https://github.com/IBM/plex. Maybe it's related to the font antialiasing. In the past, I saw macOS and Windows handle it differently.

[2021-09-02 21:57] danilo-leal commented on #28058
@samuelcolburn @dummy26 Does the IBM DS site have this same problem for you?! Take a look at: https://www.carbondesignsystem.com/

[2021-09-02 22:00] #28116 closed

[2021-09-02 23:52] mbrookes commented on #28110
Not that I know of. These ones are a bit of an anomaly - they should probably be standalone from the docs themselves, but it was simplest at the time.

[2021-09-03 02:46] dummy26 commented on #28058
Not for me @danilo-leal

[2021-09-03 02:47] dummy26 commented on #28058
For me, the text appears fine for zoom levels >= 110%

[2021-09-03 04:50] galah92 commented on #19387
Would also want that.

[2021-09-03 06:35] siriwatknp commented on #28110
From @eps1lon comment, using branding tokens in the global theme has too much impact on the docs. I found that it broke `/customization/density/` and `customization/color/` also.

So, @mnajdova I would like to propose another way.

Make default design system theme as global (like we have before the rebranding) and create another Provider to apply branding theme to specific location (like sidebar,

[2021-09-03 06:54] mnajdova commented on #28110
@siriwatknp I have some worries about the proposed solution. Looks like we will need to have lots of `ThemeProvider`s on different places on the docs which may affect performance. In addition to this, we would need to always add the branding provider on any new page/part of the docs we are going to be adding. Isn't it easier to isolate which parts of the docs just need the MD theme?

I think the p

[2021-09-03 06:57] mnajdova commented on #28110
Another idea is, maybe we should have just deep merge the MD theme with the docs theme on the demos & other pages where the MD theme is necessary. The MD theme would override the branding theme, but all branding tokens added in addition would still be available in the context.

[2021-09-03 07:02] estorski commented on #14285
Regarding the `disablePortal` workaround, unfortunately the modal with it (and disabled Javascript in browser) renders with `style="opacity:0"` which basically makes it invisible (however interactable O_o). The question is, is it still visible for search engines?

[2021-09-03 07:06] mnajdova commented on #28045
I've spent some more time on this. I don't think it's worth solving. The reasons are the following:
- we need to read a new context, that is only emotion specific
- we need to add new API (`cx`) which is again only emotion specific
- seem like too much of a corner case, and there is already an alternative of how it can be solved (using `className`)

I will leave the issue open, to see if other dev

[2021-09-03 07:12] siriwatknp commented on #28110
Yes, that should fix the demo issue. However, it could be confusing because the theme is now mixed with design system + branding (may be neglectable because not a lot of custom component inside demo).

I don't see how it will affect performance.

You may be right. We can go with what we have and fix the regression first. Good to revisit the structure again once second design system is more solid.

[2021-09-03 07:52] mnajdova commented on #28110
The regression is fixed, but maybe we can try to see which components are used in both contexts and just create a new ones for the MD context (the demos).

[2021-09-03 08:26] mstosio commented on #24282
This also fixed my issue, but I've got another problem. Some of the styles are being overwritten.

This is how Alert component looks now:

![Zrzut ekranu z 2021-09-03 10-26-16](https://user-images.githubusercontent.com/10117225/131975021-69323770-1c48-4618-a023-48819bfa60be.png)
![Zrzut ekranu z 2021-09-03 10-26-11](https://user-images.githubusercontent.com/10117225/131975026-a338eaa3-a9a7-42c4-90

[2021-09-03 08:45] #24901 closed

[2021-09-03 08:50] italodeandra commented on #24282
@mstosio That's weird. Without having the code to take a look it's very difficult to reproduce.

I tested on my project but I don't have this problem and I'm also not on the latest beta release. I'm at `5.0.0-beta.2` so you can try rolling back to the previous one and keep testing until you reach the version I'm at.

[2021-09-03 08:56] eps1lon commented on #28110
The two theme approach has the problem that docs components in demos now will use the rebranding. This looks out-of-place.

I really encourage you to go back and think how important 9 different design tokens over 4 are considering the 9 aren't even enough. Are these really design tokens at this point or are you just copying hard-coded color values into the theme to call them design tokens?

[2021-09-03 09:06] oliviertassinari commented on #14285
@estorski Do you have a reproduction? Are you making a reference to https://next.material-ui.com/components/modal/#server-side-modal?

[2021-09-03 09:15] eps1lon commented on #28100
Downloaded that sandbox locally, installed `@mui/material` RC, `@types/react`, `@types/react-dom` and created the following `tsconfig.json` (default CRA config):

[code]

`yarn build` did not report any type related issues.

It looks like your screenshot is not from the codesandbox. Try reducing your codebase till you can no longer reproduce the issue.

[2021-09-03 09:16] oliviertassinari commented on #26571
@sarink Regarding typesafe, I have updated https://github.com/mui-org/material-ui/issues/26571#issuecomment-881925962 to work better. If you want to avoid the boilerplate, https://github.com/garronej/tss-react is a great option.

[2021-09-03 09:19] eps1lon commented on #27823
Closing since no reproduction was provided within 14 days.

[2021-09-03 09:19] #27823 closed

[2021-09-03 09:19] eps1lon commented on #27833
Closing since no reproduction was provided within 14 days.

[2021-09-03 09:19] #27833 closed

[2021-09-03 09:31] mbrevda opened #28121 "[Autocomplete] virtualized list not scrolling up on arrow key up"
Autocomplete list, when virtualized with [react-virtuoso](https://virtuoso.dev/) won't scroll up when navigating via keyboard.

- [x] The issue is present in the latest release (v4).
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When navigating down the list via the arrow keys, t

[2021-09-03 09:33] kkaplita commented on #24894
I' would like to see it done :)

[2021-09-03 09:37] oliviertassinari commented on #28117
Please don't, this comes with an opportunity cost, best to focus on the future.

[2021-09-03 09:52] Siv-tspab commented on #17909
Hi! I'm working on something similar, but i'm trying  to make a header of this type sticky, is somenody have insights?
When i add "stickyheader" to the component header like this --> `<Table stickyHeader >{...}</Table>` and then scroll down, the second row of the header is dragged up...

Sorry if i'm not clear i do my best...

[2021-09-03 10:53] croraf opened #28122 "[TextField / Select] Allow null in select options"
Allow TextField (of select type) and respective Select component, to have option with `null` value.

- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Perhaps related to:
- https://github.com/mui-org/material-ui/issues/23558
- https://github.com/mui-org/material-ui/issues/26356

## Summary 💡

Allow TextF

[2021-09-03 10:53] constantin-ungureanu-github opened #28123 "Slide transitions related issues"
- [x ] The issue is present in the latest release (version 5.0.0-rc.0).
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a simple react app, where I attached an app bar. When scrolling down I hide this bar. This is all accordingly to the documentation.
I want to modify the

[2021-09-03 11:10] croraf commented on #28122
OK, I found some related ticket: https://github.com/mui-org/material-ui/issues/23558
Is it possible to add the support for `null` values.

(Also I found that `''` doesn't work properly, as described also in the referenced issue, for which I will open another ticket, but this really limited down my options to zero :D )

[2021-09-03 11:13] aress31 commented on #28076
@AlvesJorge rather than having to create two palettes and switch it on the `ThemeProvide` level could a helper function be implemented or a hook that would just take the selected mode `light` or `dark` to update the existing palette rather than creating a new one, because this adds code redundancy having to create two palettes for people who just want `createTheme` to compute the matching dark mod

[2021-09-03 11:52] italodeandra opened #28125 "[styled IconButton] with style property `boxShadow` and value utility `(theme) => ` causes `className` mismatch on SSR"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On a Next.js application with @mui, when creating a styled version of the `IconButton` component and changing the style property `boxShadow` while using the `theme => ` utility I get

[2021-09-03 11:56] italodeandra commented on #28125
For now the only property I could reproduce was `boxShadow`. But it doesn't need to have a value from theme.

[code]

This triggers the same warning. The problem might be the utility function, I don't know.

[2021-09-03 12:04] italodeandra commented on #28125
It only happens with `styled`. The `sx` property doesn't have the same problem:

[code]

No warning in this case.

[2021-09-03 12:06] mnajdova commented on #28125
@italodeandra you should use this syntax:

[code]

Can you reproduce the problem with this code snippet?

[2021-09-03 12:09] italodeandra commented on #28125
Sorry @mnajdova, I made it confusing. I only showed `border: (theme) => "none"` here as an example to prove that you don't need to actually use the value from the theme.

What I need is exactly the code from the codesandbox:

[code]

And this throws the mismatch error.

[2021-09-03 12:12] italodeandra commented on #28125
Oh, I now get what you mean. I shouldn't use the utility on the styled!

Let me try.

[2021-09-03 12:14] italodeandra commented on #28125
Yep. Sorry about that. It was a lack of attention since I knew that. I copied this line from somewhere and forget that I shouldn't use the function utility.

[2021-09-03 12:21] siriwatknp commented on #28110
sure, will do some analysis on the tokens that are used in the docs.

[2021-09-03 12:34] mstosio commented on #24282
As you said, it was version issue. I resolved it :)

[2021-09-03 13:10] dummy26 commented on #28115
Theme shows up as empty object inside makeStyles

I created this simple codesandbox to reproduce it - https://codesandbox.io/s/theme-is-empty-object-53inp

[2021-09-03 13:11] gengengengengen opened #28126 "[Tabs] Get the custom tab value through the 'onchange' of Tabs component"
I have a tabs component and I need to render tab by permission check method.

I set custom values to tab components and I want to get the custom value through the 'onchange', but the value of the callback method only pass the tab index. The indexies would change when rendered tabs changed, and will confusing my content render confused.

how to get the custom tab value ?

[code]

## Current Behavio

[2021-09-03 13:14] constantin-ungureanu-github commented on #28123
removed one line <Box sx={{ flexGrow: 1 }}> and now works as expected.

[2021-09-03 13:20] oliviertassinari commented on #28121
Please refer to this demo https://next.material-ui.com/components/autocomplete/#virtualization, for custom integrations, you can ask on StackOverflow

[2021-09-03 13:20] #28121 closed

[2021-09-03 13:24] dummy26 opened #28127 "DatePicker onError function being called on passing valid date"
When I enter date as `2020-01-01` in `DatePicker` the `onError` function gets fired with `reason=null`.

This happens for all days from 01 to 09.

For dates starting from `2021-01-10` onwards `onError` doesn't fire.

Am I doing something wrong or is this a bug?

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of th

[2021-09-03 13:34] oliviertassinari commented on #28121
If you find a solution, it would be awesome to share it here. It could even help if we change the recommended virtualization library.

[2021-09-03 13:40] mnajdova commented on #28115
@dummy26 I've updated the sandbox to use the latest versions for both `@mui/material` and `@mui/styles` and it works - https://codesandbox.io/s/theme-is-empty-object-forked-td5s0?file=/src/Intro.js

@nmchaves on your sandbox is because of a mismatch of dependencies I believe. You are using `@material-ui/core` with `@mui/styles` and because of the rename of the packages, they depend on different co

[2021-09-03 13:41] #28115 closed

[2021-09-03 13:43] oliviertassinari commented on #27837
I have just faced the same issue. I need to debug the Autocomplete for https://github.com/mui-org/material-ui/pull/27340#issuecomment-912545019 but I can't.

[2021-09-03 13:53] ryank425 commented on #27837
@oliviertassinari Can we change the status of the issue, or should this be still remaining as closed?

[2021-09-03 13:54] oliviertassinari commented on #27837
@ryank425 This prop should never go to production.

[2021-09-03 14:02] ryank425 commented on #27837
@oliviertassinari Ok, then will Material UI never support any prop that will do following? "the popup will ignore the blur event if the input is filled". Since this is an internal behavior of the library, I don't see how I can leave it open except for manually setting open to true and overriding all other escape behaviors to trigger open to false in the Autocomplete.

[2021-09-03 14:22] oliviertassinari commented on #27837
@ryank425 Then it's a completely different discussion, see https://github.com/mui-org/material-ui-x/issues/1403. We have started to use it on the Autocomplete, with #23487. In your case, you can easily control the open state, and ignore the blur event, so I think that we are good.

[2021-09-03 14:24] michaldudak commented on #28058
I can reproduce it on my machine as well (Edge on Win10). I haven't noticed it before as I use 150% scaling and it looked perfect. I'll see what can I do about it.

[2021-09-03 14:38] michaldudak commented on #28058
We've been missing the 600 weight of the font that we use. Apparently, Edge on Windows doesn't do a great job at making the bold version from the regular font.

[2021-09-03 14:47] michaldudak commented on #28058
@danilo-leal, @siriwatknp as a follow-up, could we verify if we need all of these weights? We currently import 400, 500, 600 and 700.

[2021-09-03 14:51] oliviertassinari commented on #28058
Maybe it's also linked to the usage of the font-weight raw, 300, 500, without using the design tokens?

[code]

[2021-09-03 14:59] oliviertassinari commented on #28098
@daniel-7235 Thanks for raising it. It's a major regression in the use case we had for this component!

[2021-09-03 15:00] michaldudak commented on #28058
@samuelcolburn, @dummy26 could you take a look if the font is improved here: https://deploy-preview-28128--material-ui.netlify.app/ ?

[2021-09-03 15:03] FireFragment opened #28130 "Allow specifying HTML code as value of TextField"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Now, the `value` property of TextField component is expected to be `string`. I would like if it was possible to specify HTML instead.

## Examples 🌈

Consider this example:

[code]

It would render TextField, where every text in the root elem

[2021-09-03 15:08] oliviertassinari commented on #28098
It was broken in 5.0.0-beta.2: https://codesandbox.io/s/freesolo-material-demo-forked-50q50?file=/demo.js.

[2021-09-03 15:17] oliviertassinari commented on #28098
Regarding the solution, this seems enough:

[code]

We would need to add a test case to avoid future regressions.

[2021-09-03 15:42] AlvesJorge commented on #28117
Understandable.

[2021-09-03 15:43] nmchaves commented on #28115
@mnajdova It looks like I got "mentioned" instead of @ngvcanh by accident. Similar usernames 😄. But I'm glad you mentioned me since I hadn't seen the v4 => v5 upgrade guide before. I'm excited to try out the v5 beta btw! 🎉

[2021-09-03 15:55] redhwannacef commented on #28102
@mnajdova that's correct, seems fine in light mode. No problem.

[2021-09-03 16:05] dummy26 commented on #28058
@michaldudak Nope, still the same issue

[2021-09-03 17:50] SANJAY072000 commented on #28098
Hi, i want to work on this issue.

[2021-09-03 18:17] RayLuxembourg opened #28132 "Material icon v5 incorrect import"
[https://next.material-ui.com/components/material-icons/](https://next.material-ui.com/components/material-icons/)

The app that provides import links, provides incorrect import link

expected
[code]
Getting
[code]

<img width="587" alt="Screen Shot 2021-09-03 at 21 17 20" src="https://user-images.githubusercontent.com/15327989/132049944-fd5166a4-620a-4a7a-8d0d-43cbee82bccb.png">

[2021-09-03 18:23] kLamda commented on #28127
Hi @dummy26, I would like to work on the issue. Can you recheck the codesandbox link in the steps to reproduce ? The current link seems to go nowhere.

[2021-09-03 18:44] cp2004 commented on #28058
I was searching for the same issue - this wasn't an issue on the beta 4 docs I have open, but I understand you've adjusted the design quite a lot.

It definitely seems to be something to do with the size - as I zoom in, it gets better as the font is larger.
![image](https://user-images.githubusercontent.com/31997505/132051941-907ca39e-f812-4eb7-802d-d82da03f132d.png)

In the devtools, it looks lik

[2021-09-03 19:08] danilo-leal commented on #28058
@dummy26 @cp2004
Sorry for asking again but could you please take another look at [this version here](https://deploy-preview-28081--material-ui.netlify.app/getting-started/example-projects/)? I have iterated a bit cleaning up all instances of `fontWeight={600}` I could find, changing it to 700, and bumped up the font size just a bit.

[2021-09-03 19:42] cp2004 commented on #28058
That does look better I think. The font weight is still set to 500 for the sidebar (at least), looks like something's overriding the 500. But I changed it manually, it doesn't really change the rendering issues. It's definitely more the size.

![image](https://user-images.githubusercontent.com/31997505/132055504-b86376a8-015f-4a23-b377-041776392436.png)

[2021-09-03 19:52] outofgamut opened #28133 "[docs] Default value for Link component "underline" prop is incorrect"
The documentation for Link has the default value for the underline property specified a "hover" instead of "always". The docs should be updated to align with the default value of "always".

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behav

[2021-09-03 20:27] oliviertassinari commented on #28117
Regarding the next step on this issue, I think that it's either about 1. allowing the documentation to render different content based on the *mode* or 2. to accept the white background on the dark mode as good enough, and focus the energy somewhere else. I think that 1. can work if done by a community member.

[2021-09-03 20:48] danilo-leal commented on #28058
Yeah, the sidenav font is supposed to be 500, so nothing's wrong there. I mentioned it because we noticed some places using `fontWeight={600}` and we weren't importing that weight. So we figured that doing so (importing it) might help with the font display, but it turns out that it didn't...

[2021-09-03 22:40] aress31 commented on #28076
I implemented another solution (that seems much more elegant to me) and which can be viewed here:

- https://codesandbox.io/s/mystifying-bouman-z9qzi?file=/src/index.js

One problem though, it seems that although my default preferred colour scheme is `dark` the `useState` hook setter is called twice (due to multiple render? 🤔) and that messes up everything other than that, I really like this solut

[2021-09-04 04:54] dummy26 commented on #28127
@kLamda Fixed the link

[2021-09-04 05:05] dummy26 commented on #28058
Still the same issue

![Screenshot (409)_LI](https://user-images.githubusercontent.com/40134444/132083179-f4771092-0b29-4f65-99f8-d8a1a248cb8c.jpg)

[2021-09-04 05:41] evantrimboli opened #28135 "Select component required to be of type string to be empty"
For the select component, the value type is generic and declared like so:

[code]

The docs indicate that you need to pass `''` for no value to be selected. When using typescript, this is only possible when `<T extends string>`

There was a discussion on this here: https://github.com/mui-org/material-ui/issues/23558 and the resolution seemed to be "use empty string".

This may also be relevant, bu

[2021-09-04 07:16] linkjane opened #28136 "v5 rc0 System styled method usage problem. return value eliminate Class component's static component"
- [✅ ] The issue is present in the latest release.
- [✅ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/15264018/132085986-c3971c15-472c-4024-b655-3d56acb54fac.png)
![image](https://user-images.githubusercontent.com/15264018/132086000-

[2021-09-04 07:17] linkjane commented on #28136
sorry about for my bad english grammar

[2021-09-04 08:41] itsmingjie opened #28137 "Improving ease of contribution for beginner student contributors"
Dear material-ui maintainers,

We're reaching out on behalf of an ongoing partnership between California State University Monterey Bay's [Computing Talent Initiative](https://computingtalentinitiative.org/) and [CodeDay](https://www.codeday.org/), a nonprofit organization. We're working on a program for college students who are new to contributing to open-source software, and we'd love to invite t

[2021-09-04 09:32] smmoosavi opened #28138 "Emotion cache does not respect theme direction"
In v4 [Right-to-Left guide](https://v4-11-4.material-ui.com/guides/right-to-left/) respect theme direction and even nested RTL and LTR work fine. But with the v5 guide for Right-to-Left, all styles changes with the cache.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is n

[2021-09-04 10:30] oliviertassinari commented on #27666
I have added a warning on the latest v5 releases, e.g. https://www.npmjs.com/package/@material-ui/core/v/5.0.0-beta.5. Regarding the last step, should it be to rename the git folders?

[code]

[2021-09-04 11:01] jmcpeak opened #28139 "@mui/codemod@next v5.0.0/preset-safe - Cannot read property 'forEach' or 'name' of undefined"
While running the latest codemod to test out migration to v5 I ran into 4 errors.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Error printed to console

## Expected Behavior 🤔

No error printed to console

## Steps to Reproduce

[2021-09-04 11:04] jmcpeak commented on #28139
The output of the codemod is attached in the file output.txt and the 4 src files it links are inside the src_files.zip file.

Links to both files are at the very end of the ticket.

[2021-09-04 11:15] jmcpeak commented on #28139
I had another issue with the codemod, this

`import ExpansionPanelTitle from '../ExpansionPanelTitle';`

got changed to this

import AccordionTitle from '../AccordionTitle';

[2021-09-04 11:20] jmcpeak commented on #28139
Another issue with the codemod, this

`import ExpansionPanelTitle from 'components/common/ExpansionPanelTitle';`

got changed to this

`import AccordionTitle from 'components/common/AccordionTitle';`

[2021-09-04 11:24] jmcpeak commented on #28139
Here is the code to ExpansionPanelTitle

`import classNames from 'classnames';
import PropTypes from 'prop-types';
import { Avatar, Collapse, Grid, Typography } from '@mui/material';
import { memo } from 'react';
import { NA_VALUE } from 'consts';

import makeStyles from '@mui/styles/makeStyles';

const useStyles = makeStyles((theme) => ({
  avatar: {
    backgroundColor: theme.palette.background.

[2021-09-04 14:01] oliviertassinari commented on #21111
@danielvianna Answered in point 1. of https://github.com/mui-org/material-ui/issues/21111#issuecomment-734496442

[2021-09-04 14:33] stevezero1 commented on #16745
Something new? I'm stucked with this problem too...

[2021-09-04 14:46] shilman commented on #24282
FWIW the difference between the Docs tab and the Canvas is that Docs uses Storybook theming (which is also based on emotion), whereas Canvas is a standalone iframe that only uses Emotion if your components/stories use it.

We are making sweeping architectural changes in SB6.4 that might address this issue, and I'll try to remember to post here when that's ready for testing. Furthermore, we will al

[2021-09-04 15:17] ashishBharadwaj commented on #12255
For anyone trying to resolve this is v4..
Adding the following style fixes it...
[code]

[2021-09-04 16:24] oliviertassinari commented on #12255
Regarding the next step on this issue, AFAIK, this is not solvable within the Material Design methodology.

However, we are working on second design system, code name Joy. I think that it would be great to evaluate using a similar layout to Bootstrap, with an isolated label and input. Meaning no floating label. This has been a controversial topic, e.g. https://www.smashingmagazine.com/2021/02/mate

[2021-09-04 16:33] #28133 closed

[2021-09-04 17:37] oliviertassinari commented on #27988
It's not obvious to me that null should behave exactly like false. I think I would personally expect that null is rendered as an element.

Regarding the description of the `icon` prop, there is also likely an opportunity https://next.material-ui.com/api/alert/. Instead of node we could have `node | false`. In the description, we could have that false removes the icon.

[2021-09-04 17:46] siriwatknp commented on #28132
Can you try hard refresh on your browser? It seems like an old version to me.

[2021-09-04 19:24] jasonblalock commented on #28100
Changing the tsconfig to match CRA got it working. But then changing it back didn't break it again so I don't know what was wrong before. I'd tried restarting the TS server several times before. In any case it hasn't come up again since. Thanks for looking.

[2021-09-04 19:25] #28100 closed

[2021-09-04 20:58] umerjaved178 opened #28140 "Combine multiple pseudo selector"
Description:
Support multiple pesudo selectors

**Current:**
Using makestyle, if we want similar CSS properties on active and hover, we have to repeat our code,

**Expected:**
There should be a way in which we can combine multiple pseudo selectors

[2021-09-04 22:57] garronej commented on #28045
Hi @mnajdova,
I did some thinking and I think I owe to @janus-reith who spent some time contributing to `tss-react` to better represent the argument in favor of solving this.
1) [Some projects built with mui v4 relies on the fact that `className` used to take priority over `classes.root` when using `makeStyle`](https://github.com/garronej/tss-react/issues/17#issuecomment-910078454). It is no longe

[2021-09-04 23:49] danielvianna commented on #21111
@oliviertassinari we started privately but it took so much time to pull basic components into stories that we gave up (the same thing as you have in docs). We are not using grid-x yet* (maybe will soon)
The challenge is that on top of material UI we also building custom components, so just the effort to make them work is already too much work for a startup with 2 frontend guys only, as we need to

[2021-09-05 03:44] akira-kurogane opened #28170 "[Tabs] component error message edit suggestion"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The current error when you don't set a "value" JSX property in a <Tabs> component is

`Material-UI: The value provided to the Tabs component is invalid.`

Value is a broad concept;

[2021-09-05 05:26] mbrevda commented on #28121
Done, posted the question here: https://stackoverflow.com/questions/69060738/material-ui-autocomplete-virtualization-w-react-virtuoso

Agreed. I love react-virtualized/react-window but seems the author has stepped back a bit from the project. Would be great to have documentation for a supported library in place! I think the implementation here is almost complete, just need to iron out the bugs. Th

[2021-09-05 07:32] RayLuxembourg commented on #28132
Seems to work O_O. So weird.

[2021-09-05 07:32] #28132 closed

[2021-09-05 10:32] #28140 closed

[2021-09-05 10:34] oliviertassinari commented on #28140
Tip, you can use the same comma syntax as with CSS

[2021-09-05 10:44] oliviertassinari commented on #28121
Ok, I think that we can keep an eye on https://npm-stat.com/charts.html?package=react-virtualized&package=react-window&package=react-virtuoso&package=react-virtual to see how it evolves. I personally have an unmaintained library that keeps growing.

Also, maybe @petyosi would be interested in testing the integration of his library deeper with MUI, there is one example in https://virtuoso.dev/mater

[2021-09-05 10:47] oliviertassinari commented on #16745
@stevezero1 You can migrate to the `styled()` API in v5, problem solved.

[2021-09-05 10:51] oliviertassinari commented on #28035
An other note, we could almost use flex gap if it wasn't for Safari iOS

- https://caniuse.com/flexbox-gap
- https://next.material-ui.com/getting-started/supported-platforms/

<img src="https://user-images.githubusercontent.com/3165635/132109892-42e58d70-efba-4a7c-9052-47c71e7fb4c9.jpg" width="150" />

[2021-09-05 12:38] abrudin commented on #14427
Is it somehow possible to derive the color used for the dark mode autofill background from the theme? When using a blue primary color it doesn't work so well out of the box with the hardcoded color #266798:
![chrome-autofill](https://user-images.githubusercontent.com/3439758/132127063-3f440246-3169-4ef2-8203-251c66f52d05.png)

[2021-09-05 13:01] garronej commented on #28045
Also, it isn't straight forward to use a different cache for mui and for the custom styles, if users use `<CacheProvider />` from `@emotion/react`, mui will pick up the cache provided.

[2021-09-05 13:01] siropkin opened #28173 "[DateTimePicker] ignoring mask if ampm == true"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

DateTimePicker ignoring `mask` prop if  `ampm == true`.

## Expected Behavior 🤔

DateTimePicker should not ignoring `mask` prop if  `ampm == true`.

## Steps to Reproduce 🕹
If I will

[2021-09-05 13:22] siropkin opened #28174 "[DateTimePicker] Failed prop type: Invalid prop `views[3]` of value `seconds` supplied to `ForwardRef(DateTimePicker)`, expected one of ["day","hours","minutes","month","year"]"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/39134915/132128394-c84cf424-2fbf-4c72-ac60-a0393fba7dd6.png)

DateTimePicker allows to work with `seconds` view but gives an error m

[2021-09-05 13:36] oliviertassinari commented on #20184
@aress31 Then you are not looking at the right component. `useScrollTrigger` is about the scroll containers, not about its content. See #16359.

[2021-09-05 13:41] oliviertassinari commented on #8452
@jonra1993 Do you have a reproduction of the problem?

[2021-09-05 13:54] Hummel37 commented on #27651
When is this issue planned for? Or when can we expect it? @oliviertassinari @eps1lon

[2021-09-05 15:16] mnajdova commented on #28045
I am a but confused with this statement. In the codesandbox that you shared, when using `classes.root` the overrides did not work, but they did work when you used `className`. This is the opposite of what you’ve just said. Maybe an example to illustrate would help.

In v4 as far as I know it doesn’t matter if you provide the classes generated from makeStyles to the `className` or `classes`, it wor

[2021-09-05 15:28] siriwatknp commented on #28110
These are the colors that are currently used in docs (`/docs/src/modules`).

**primaryDark**
400, 600, 700, 800, 900

**primary**
50, 200, 300, 400, 500, 600, 700

[2021-09-05 15:44] hata6502 commented on #17473
I resolved this problem currently by using [insertionPoint](https://material-ui.com/styles/advanced/#insertionpoint).

[code]

**Before**
[![Image from Gyazo](https://i.gyazo.com/58f0a694be4ed1f511ba9efbd4a5866c.png)](https://gyazo.com/58f0a694be4ed1f511ba9efbd4a5866c)

**After**
[![Image from Gyazo](https://i.gyazo.com/296206fef3df2dab9e59cb6cc1438943.png)](https://gyazo.com/296206fef3df2dab9e59c

[2021-09-05 16:09] garronej commented on #28045
Forgive me🙏, I am quite embarrassed, as I was preparing [the sandbox](https://codesandbox.io/s/makestyles-forked-txfry?file=/src/index.js) I realised that your are in-fact right. It's something that was reported to me by one user, I assumed it was true. I should have tested it before submitting it here.

The other points I made still stands though.

[2021-09-05 16:19] hata6502 commented on #17473
To use `<Dialog />` component, it needs `container` property.
https://material-ui.com/api/modal/#props

[code]

[![Image from Gyazo](https://i.gyazo.com/5d74530f5e59f555d912efb4f6558a9b.png)](https://gyazo.com/5d74530f5e59f555d912efb4f6558a9b)

[2021-09-05 16:57] mnajdova commented on #28045
Ok, glad we are on the same page :) Will report back tomorrow after I spend some more time on this :)

[2021-09-05 20:18] oliviertassinari commented on #22368
@EliasJorgensen Do you want to work on a PR based on https://github.com/mui-org/material-ui/issues/22368#issuecomment-899355677?

[2021-09-05 20:40] EliasJorgensen commented on #22368
@oliviertassinari Sure. What do you want done? Just changing the timeout? :)

[2021-09-05 20:49] oliviertassinari commented on #22368
Mostly to make sure we don't regress with #27664.

[2021-09-05 21:42] oliviertassinari commented on #28056
Thanks for the feedback. I'm closing as we are aiming to deprecate this API, we have no incentive to improve it.

[2021-09-05 21:42] #28056 closed

[2021-09-05 21:46] oliviertassinari commented on #28130
@FireFragment This is likely possible to implement but you will have to render a custom input element. Maybe with a `contenteditable` attribute. Also, we track the need for a rich text editor in https://github.com/mui-org/material-ui-x/issues/513.

[2021-09-05 21:46] #28130 closed

[2021-09-06 01:15] h0tw4t3r commented on #17795
This should be reopened because this is an unexpected behaveior.
This is a solid bug

[2021-09-06 01:15] h0tw4t3r commented on #17795
@oliviertassinari, please this has to be documented.

[2021-09-06 03:27] khalid283 commented on #28174
[code]

`views` does not have option for `second`, i think this could be feature request.

[2021-09-06 04:39] mbrevda commented on #28121
I hear your point. It would be great to show an example of both.

I think what the docs are missing is an explanation of how all the parts interact: what is the shape of `ListboxComponent`, what props does it need to accept when doing something more advanced, etc. It would seem the demo above is pretty close to working, it would be great if someone from the MUI team could give it a few minutes!

[2021-09-06 05:22] bkatwal commented on #22429
I faced a similar problem and I had options as an array of strings. Eg: `["delhi", "new york", "mumbai"]`. I fixed it by adding if the option is a string, if not use an empty string.
[code]

[2021-09-06 06:21] mnajdova commented on #28076
@aress31 see https://next.material-ui.com/customization/palette/#system-preference as an example

[2021-09-06 06:31] mnajdova commented on #28138
@smmoosavi you need to set both the `CacheProvider` and the `ThemeProvider`. Here is a working example - https://codesandbox.io/s/bidi-in-material-ui-5-forked-owkbf?file=/src/App.js

[2021-09-06 06:31] #28138 closed

[2021-09-06 06:46] siropkin commented on #28174
@khalid283 yes, maybe i chose the wrong issue type: i thought that it's a propType bug because component supports `seconmds` view and only propType doesn't.

[2021-09-06 06:53] bishonen opened #28180 "[makeStyles] `$ruleName` does not work in styles as a function"
Following the tutorial from [here](https://material-ui.com/customization/components/#use-rulename-to-reference-a-local-rule-within-the-same-style-sheet), the solution does not seem to work when trying to add props into the mix.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that thi

[2021-09-06 07:19] michaldudak commented on #28058
@samuelcolburn, @dummy26, @cp2004 Does this work for you: https://deploy-preview-28128--material-ui.netlify.app? Please do a hard refresh.

For me, it looks like this (left is the current next.material-ui.com, right is the preview linked above:

<img alt="comparison" src="https://user-images.githubusercontent.com/4696105/132175878-9df623c2-74a1-4c0d-b918-0186d3e4ce7a.PNG">

The fonts looked better

[2021-09-06 07:39] #28071 closed

[2021-09-06 07:49] eps1lon commented on #28173
Thanks for the report.

The codesandbox is currently crashing. Could you make sure it's working with all the latest versions and  pin the versions in the package.json so that we won't get a new version in a few weeks?

[2021-09-06 07:58] eps1lon commented on #28127
Thanks for the report.

I can't reproduce any `onError` call when entering `2020-01-01`.

Could you be more specific about the steps to reproduce? Ideally with a screen recording.

[2021-09-06 07:59] #28126 closed

[2021-09-06 08:03] siriwatknp opened #28181 "[ButtonBase] Unfocus does not clear ripple"
keyboard tab between ButtonBase component does not clear the focus ripple. I can confirm that revert the code on this commit does not have this issue (in `ButtonBase.js`). https://github.com/mui-org/material-ui/commit/5f30983bfa16195237fde55a78d5e43b151a29fa

cc @michaldudak can you help take a look?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://gith

[2021-09-06 08:04] michaldudak commented on #28181
Yes, I've noticed that and I'm already working on a fix.

[2021-09-06 08:14] mnajdova commented on #28139
Thanks for the report @jmcpeak I am taking a look now.

[2021-09-06 08:17] eps1lon commented on #28181
I think I've talked repeatedly about not doing the abstraction. The ButtonBase is integral to the codebase and shouldn't be jeopardized by the unstyled effort. The unstyled effort can be a separate experiment that doesn't need to affect the core product.

[2021-09-06 08:22] eps1lon commented on #12255
It is definitely solvable. The problem is integrating the solution with backwards compatibility.

[2021-09-06 08:24] eps1lon commented on #28136
Thanks for the feedback.

Is this only a TypeScript issue or are the statics actually gone at runtime?

[2021-09-06 08:25] mnajdova opened #28182 "[RFC] Restructure folder structure"
Now that we renamed the packages, it is probably a good idea to rename the folders we have for each mackage. Currently, the packages are prefixed with "material-ui" and have the old package name. I propose to rename them to: "mui-[package-name]". This is what the updated names would be:

[code]

I am opening the issue so that we can align on the names before I do the change that will basically aff

[2021-09-06 08:52] rajzik commented on #22426
We're creating design system build on top of material-ui and currently we are working on second version. We have public storybook; this storybook is for our developers and designers. We've migrated parts of the oriflame.com but we are still working on it.

Product: Oriflame
The problem solved: Unification of components easier development and better accessibility
Company or organization: Oriflame
L

[2021-09-06 09:02] eps1lon commented on #28182
Yep, I think we always wanted to rename the folders anyway for better DX (who wants to type `material-ui-` all the time?).

Note that we we rely on the naming of the folders in some places. For example, `ApiPage` is already broken since it assumes `material-ui` maps to `@mui/core` and `material-ui-unstyled` maps to `@mui/unstyled`: https://github.com/eps1lon/material-ui/blob/4014fb8ade6195edd6921b

[2021-09-06 09:05] EliasJorgensen commented on #22368
@oliviertassinari I have reapplied the changes that were reverted in #27690 and changed the 10ms delay, to use DELAY_RIPPLE imported from TouchRipple.js instead.
As mentioned in https://github.com/mui-org/material-ui/issues/22368#issuecomment-899355677, that delay fixed the issue in Firefox for me, and i could no longer reproduce it.
Should i just open a PR with this, or is there anything else you

[2021-09-06 09:07] mnajdova commented on #28182
Didn't noticed the issue. Alright, going to do the change today.

[2021-09-06 09:29] mnajdova commented on #28139
I've created https://github.com/mui-org/material-ui/pull/28183 for fixing the issues.

For the `ExpansionPanel` to `Accordion` rename, I don't think it's worth solving as it would break many other scenarios where developers have their own module that re-exports the mui components. I hope this will not be a big problem for your migration.

[2021-09-06 09:38] oliviertassinari commented on #28181
@eps1lon If you could expand on the why, I think that it would be great.

I was under the assumption that the value of using unstyled in the material design components is so that we can surface issues, like this one.

[2021-09-06 09:46] eps1lon commented on #28181
Why do I need to explain that a fundamental component should not be affected by experiments? Like what would you expect to hear?

[2021-09-06 10:18] michaldudak commented on #28181
You mean not to implement `Button` with `useButton`? If so, I suppose I may have missed that. In the useButton PR, both @mnajdova and @oliviertassinari suggested using the new hook in the ButtonBase and I haven't seen any objections from your side.

As for the issue itself, I already pinpointed it and I'm adding few tests to ButtonBase to help to avoid such problems in the future.

[2021-09-06 10:27] smmoosavi commented on #28138
Thanks, Is it supposed to be this way for the long term or it gone be fixed?

[2021-09-06 10:39] aress31 commented on #28076
Thanks @mnajdova already seen and based my code on this example, however, what is missing in the doc is an example that combine both, starting with the preferred mode using `useMediaQuery` and a `switcher` to switch from `preferred` to alternate mode. The theming and dark mode support is pretty good with Material-UI and adding this to the doc can only benefit users.

For my specific case as mentio

[2021-09-06 10:44] mnajdova commented on #28138
I don't see how we can fix it. This is how `emotion` handles rtl, note that if you use other styled engine (for example `styled-components`) it would be different.

Let's see if this will be a pain for more developers, and if it is a case we could improve the documentaiton.

[2021-09-06 11:54] siriwatknp commented on #28181
I remember we talked about this that if the unstyled abstraction does not introduce breaking change to the core, we will do it in the core.

[2021-09-06 12:15] siropkin commented on #28173
@eps1lon codesandbox updated (my fault - i didn't save it in previous time).

[2021-09-06 12:56] peidongxie commented on #27607
I found the same problem in older versions of the documentation.
[v4.8.3](https://v4-8-3.material-ui.com/customization/palette/)

I checked the source code of the documentation and thought two reasons for this.
1. the default color displayed on the document page depends on the library used to build the document page
2. the library used to build the documentation page is not the corresponding versi

[2021-09-06 13:12] oliviertassinari commented on #12255
@eps1lon Ah, nice. Could you expand on the solution with the floating label of Material Design? :) Maybe a community member could then take it on in a PR.

[2021-09-06 13:26] dummy26 commented on #28058
@michaldudak YES!

[2021-09-06 13:27] aress31 opened #28188 "Listen for Theme change events"
Using the `ThemeProvider` event is it possible to listen for theme (`dark`/`light`) changes within nested components/children?

[2021-09-06 13:36] michaldudak commented on #28181
As discussed today in the planning, we will restore the original implementation and create a separate private package with Material components (no matter if they have breaking changes or not) built using @mui/core.

[2021-09-06 13:36] dummy26 commented on #28127
@eps1lon Here's the screen recording.

https://user-images.githubusercontent.com/40134444/132225349-606ba99f-bbce-4d86-8e10-f5800de51bf6.mp4

[2021-09-06 13:56] sipian commented on #26492
@JohnnyCrazy solution solves the UI issue. But make sure that in `<li>` you add the unique `key={option.id}` after the `{...props}`.

[2021-09-06 14:18] michaldudak opened #28189 "[RFC][base] Customization of unstyled components"
## 🖼 Background

Currently, there are two ways of providing custom components and their props to Unstyled components:

1. via the `component` prop and additional props on the unstyled component,
2. via the `components` / `componentsProps` props

It has several drawbacks:

1. There are two ways to customize the Root slot: by setting a `component`, or `components.Root`
2. It is not immediately clear

[2021-09-06 14:20] Muzietto commented on #26594
This is a bug, but whatever...

[2021-09-06 15:47] IgnacioFDM opened #28191 "Increased bundle size after upgrading to MUI v5"
After upgrading from v4 to v5 on a Next.js project, the total size has increased from 173KB to 180KB (gzip).

I migrated makeStyles to styled (manually), and removed @mui/styles after finishing the migration.

[code]

I would like to know if this size increase is expected, and if others are experiencing it.

[2021-09-06 16:05] pschichtel commented on #15142
we have this issue when we switch the language in our UI (in-application override option), which messes up most of the form field labels.

[2021-09-06 16:21] jmcpeak commented on #28139
Not a problem for our migration, just a couple files that need to be changed. It's great that MUI continues to make codemods for upgrading. Because the codemod makes our teams work so much smaller, it makes "selling" the upgrade much easier.

[2021-09-06 16:21] amanzrx4 opened #28192 "Grid items not taking 100% height"
Grid items are not occupying 100% height, alignItem="stretch" doesn't seem to work.

All I want is to make n compartments, or grid items with full height, but it doesnt seem to work, unless i apply height: 100vh to one of the grid items, i want the full window height to be 100% instead

`
const useStyles = makeStyles((theme) => ({
    root: {
        flexGrow: 1,
    },

    height1: {
        bac

[2021-09-06 16:39] cp2004 commented on #28058
Yep, weird artefacts on the lettering seems to be gone with that one. I think I personally prefer it slightly larger, easier to read but don't let that stop you - it looks a lot better with the font rendering correctly.

[2021-09-06 17:18] Hummel37 commented on #28192
@amanzrx4 Are you sure, that the container grid is that height? You are applying flexGrow 1 to it. But if the parent component doesn't display flex or is not that height the flexGrow 1 doesn't work.

[2021-09-06 17:19] Hummel37 commented on #28191
Yes mui 5 is bigger than material-ui 4. You can see it here: https://bundlephobia.com/package/@material-ui/core@5.0.0-beta.5

[2021-09-06 18:02] hata6502 commented on #24032
Thank you!

[2021-09-06 18:12] JanakaSandaruwan commented on #8778
@fzaninotto How did you fix the issue?

[2021-09-06 18:48] m-ocana opened #28193 "Square prop makes no effect on Alert components"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
`<Alert>` components accept props from `<Paper>` but can't seem to get a squared alert passing the `square` prop or overriding `borderRadius` from the **sx** prop.

## Expected Behavio

[2021-09-06 19:22] #28182 closed

[2021-09-06 19:28] mnajdova commented on #28139
Glad to hear this. All credits go to @siriwatknp for the implementation of the preset-safe codemod 🙏

[2021-09-06 19:52] #28139 closed

[2021-09-06 20:45] SergiiMost opened #28196 "Fix documentation regarding importing Link component."
Currently, v5.0.0-rc.0 docs provide these instructions regarding importing **Link** component:

[code]
It doesn't work :

`Attempted import error: 'Link' is not exported from '@mui/core'.`

**Link** should be imported from:
[code]

[2021-09-06 20:48] samanmovaghar commented on #17023
I have found a better solution, so if you would like to add styling to the first index and last one dynamically, you can try like this
[code]

[2021-09-06 21:20] Hummel37 commented on #28196
It is not only the Link, it is on all components from core that I have looked at.

[2021-09-06 21:27] SergiiMost commented on #28196
Yes, you are right.

[2021-09-06 22:08] danielo515 commented on #28056
What is supposed to replace it?

[2021-09-06 22:59] oliviertassinari commented on #28056
@danielo515 Please have a look at the `styled` API https://next.material-ui.com/system/styled/

[2021-09-06 23:06] oliviertassinari commented on #15142
@pschichtel it should be fixed in v5 already.

[2021-09-07 02:21] Victorvhn opened #28197 "[Support] makeStyles with conflict between server and client - NextJs"
Hello 👋

I'm having problems using `makeStyles` in NextJs.

There is a conflict in the generated classes between the server and the client:
![image](https://user-images.githubusercontent.com/38699623/132274052-d07104bb-1df0-4df2-a77d-be1f8cbce117.png)
```Warning: Prop `className` did not match. Server: "MuiTypography-root MuiTypography-h2 MuiTypography-paragraph makeStyles-title-10 css-bw62lc-MuiT

[2021-09-07 03:52] siriwatknp commented on #28196
@SergiiMost can you provide the link to which instruction is incorrect?

[2021-09-07 04:07] siriwatknp commented on #28180
@bishonen We are moving to v5 which uses different styling engine from v4, you can find the [documentation here](https://next.material-ui.com) @oliviertassinari I remember that this is the existing bug in `makeStyles`, do you know if we already have an open issue? the best one that I can find is #26823

[2021-09-07 04:16] linkjane commented on #28136
Actually It's gone at runtime, and the error image  I have uploaded it before, the third image (●ﾟωﾟ●)

[2021-09-07 04:58] siriwatknp commented on #28193
need to find out why `Alert` inherits `Paper` (only to get elevation styles?) and continue on that

for now, you can theme `Alert` to affect global or use `sx` prop for specific location.

[2021-09-07 05:02] siriwatknp commented on #28188
usually, `dark` and `light` variable is store in react state, you can put it in a context and I think you can write a `useEffect` to listen to that variable.

[2021-09-07 05:08] Hummel37 commented on #28196
For example: https://next.material-ui.com/api/mobile-stepper/

[2021-09-07 06:10] mnajdova commented on #28197
Duplicate of https://github.com/mui-org/material-ui/issues/26876

[2021-09-07 06:10] #28197 closed

[2021-09-07 06:16] mnajdova commented on #28193
@siriwatknp note that setting the `borderRadius` doesn't work on the `sx` prop as well. It works however if it is set as '0 px'. Something is off here - https://codepen.io/mnajdova/pen/MWobXbW

[2021-09-07 06:18] mnajdova commented on #28193
The reason why the Paper's `square` prop is not working is because the Alert is setting the borderRadius without any condition https://github.com/mui-org/material-ui/blob/next/packages/mui-material/src/Alert/Alert.js#L50

We can drop this line:

[code]

[2021-09-07 06:22] mnajdova commented on #28192
This is probably what you need https://next.material-ui.com/components/grid/#spacing

Note that you can also play with the values here https://next.material-ui.com/components/grid/#interactive (for example, set the `alignItems="stretch"`)

[2021-09-07 06:22] #28192 closed

[2021-09-07 06:25] mnajdova commented on #28189
I like this, it's much easier to reason about 👍 The components that would use the unstyled can add the `component prop and the forwarded props if needed.

Off-topic, should we start referencing the unstyled components as "core"? :)

[2021-09-07 06:54] m-ocana commented on #28193
Thanks everyone. To your point @siriwatknp, I don't think the motivation was to get the elevation from `<Paper/>` as it seems to be overridden too 🤷‍♂️

[2021-09-07 06:55] mnajdova commented on #28136
It doesn't work with `emotion` 😢 : https://codesandbox.io/s/sweet-glade-d99wh?file=/src/App.tsx
It works with `styled-components` 🚀 : https://codesandbox.io/s/stupefied-beaver-vgzgs?file=/src/App.tsx

I've tried with both class and functional components. Will report it back to emotion.

[2021-09-07 07:02] kunavenkatrao opened #28198 "Tab index issue or focus issue in TextField or AutoComplete components due to react-draggable"
when TextField or AutoComplete or button components are used in a Dialog that uses paper component using  'react-draggable' component or feature, It causes tab index focusing issue as re-render happens for few fields inside dialog.

when commented the react-draggable portion of code and checked the re-render of fields inside dialog after entering text and pressing tab, it renders fine for all and

[2021-09-07 07:20] siriwatknp commented on #28193
the elevation works currently. https://codesandbox.io/s/eager-wildflower-rwrc2?file=/src/App.tsx

[code]

[2021-09-07 07:28] siriwatknp commented on #28193
Is it a bug on `sx` side? if string works, I also expect the number to work. Or I misunderstood something here?
[code]

[2021-09-07 07:40] siriwatknp commented on #28193
[code]

@mnajdova I think it is a bug.

[2021-09-07 07:43] amanzrx4 commented on #28192
@mnajdova `alignItems="stretch"` this is what not working properly in the above example, doing `height: 100% `on one of the grid items works if i do `height:100%` to the parent div all the way upto the root div, as per the official docs, `alignItems="stretch"` should work but it is NOT working, please refer to codesandbox below. Thanks

all i want to make n no. of compartments of 100% on my page,

[2021-09-07 07:51] vitalyaM commented on #9496
Thank you!!!

[2021-09-07 07:51] vitalyaM commented on #9496
Thank you bro, its work!

[2021-09-07 07:59] siriwatknp commented on #28196
@Hummel37 thanks, got it. will open a PR to fix asap.

[2021-09-07 08:51] #28181 closed

[2021-09-07 09:00] mnajdova commented on #28045
I won't do any changes at this moment and wait to see if there will be more activity on the issue.

[2021-09-07 09:23] gtorf opened #28201 "ListItem spans two columns with two-column layouted List"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a <List> component with an odd number of <ListItems>. These ListItems do have a <ListItemIcon> and a <ListItemText> included. I want to have the List in two columns. Therefore

[2021-09-07 10:30] #28058 closed

[2021-09-07 10:44] #28196 closed

[2021-09-07 10:45] #28188 closed

[2021-09-07 10:50] mnajdova commented on #27926
I am closing as there wasn't a reproduction on the issue. Feel free to comment/reopen if the issue still persists.

[2021-09-07 10:50] #27926 closed

[2021-09-07 11:12] eps1lon commented on #28191
It's true that the size of the package as a whole increased. But all of that increase is attributed to more components being added.

If you look at the [detailed change of the size](https://mui-dashboard.netlify.app/size-comparison?buildId=32905&baseRef=master&baseCommit=e544918cf772b4b4f715a671b4d171ad98af3663), you'll notice that almost all individual components actuall reduced in size considera

[2021-09-07 11:12] #28191 closed

[2021-09-07 11:21] aress31 opened #28204 "[MuiMenuItem] Integration with react-router"
I am in the process of implementing a navigation menu using `MenuItem` but it seems that overriding the default link behaviour for MenuItem as follows:

[code]

Does not cause the links to work:

[code]

Is this the normal behaviour or a bug?

[2021-09-07 11:32] mnajdova commented on #28204
It doesn't look like this bug report has enough info for one of us to reproduce it. Also, what does "Does not cause the links to work" mean?

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help

[2021-09-07 11:34] #28201 closed

[2021-09-07 11:35] mnajdova commented on #28201
Take a look on https://next.material-ui.com/system/flexbox/ for inspiration of how you may style the list

[2021-09-07 11:53] SafaaElKhayari commented on #11457
you have  first to install @material-ui/core then you should install @material-ui/icons and instead of
import  { SearchIcon} from '@material-ui/icons'
 do it this way :
 import SearchIcon from '@material-ui/icons/Search'

[2021-09-07 12:01] aress31 commented on #28204
Hopefully this CodeSandbox should make things clearer, important files to look at are `styles/theme.js` and `layout/navBar.js` you will notice that despite overriding the default component `LinkBehaviour`, `MenuItem` do not act as a `NavLink` and do not respect the `href` property.

- https://codesandbox.io/s/dawn-water-p7krh

[2021-09-07 12:48] mnajdova commented on #28204
@aress31 this is not even compiling.

[2021-09-07 12:56] aress31 commented on #28204
@mnajdova my bad forgot to install a lib should be compiling now.

[2021-09-07 13:01] mnajdova commented on #28204
Still not compiling -
![image](https://user-images.githubusercontent.com/4512430/132349120-92411dd4-2c49-4581-8fa8-0fad681b80ac.png)
 I am closing, please open a new issue with a clear simple reproduction of the issue.

[2021-09-07 13:01] #28204 closed

[2021-09-07 13:06] Hummel37 commented on #28191
@eps1lon
What is with the introduction under option 1 with 1. Layer, 2. Layer and 3. Layer?
Now this is the 2, 3 and 4. Layer or not?
https://next.material-ui.com/guides/minimizing-bundle-size/#option-1

[2021-09-07 13:22] aress31 commented on #28204
Sorry @mnajdova it should now be fixed!

[2021-09-07 13:30] kevinmpowell opened #28206 "[LoadingButton] Missing accessible name for loading indicator"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The storybook a11y add-on is flagging an issue with the LoadingButton. Apparently an `aria-label`, `aria-labelledby` or a `title` attribute needs to be included on any element with `r

[2021-09-07 13:34] anirudh1713 commented on #27933
This seems inactive, so I'm starting to work on this.

[2021-09-07 13:58] thoughtlessmind opened #28208 "demo code snippet of `Badge` component is messed in v5 documentation"
the code snippet of [Badge component](https://next.material-ui.com/components/badges/#badge-visibility) is messed. It is when the snippet is in collapsed mode. The snippet is the demo code of `Badge Visibility`.
It is on the v5 documentation page

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository a

[2021-09-07 13:59] eps1lon commented on #28206
Thanks for the report.

It seems to me that we should just label it by the button itself. Though it's unclear if the `button > progressbar` nesting even has an effect on assistive technology and whether they consider the name of a disabled `button`

[2021-09-07 14:10] valin0k opened #28209 "data-grid doesn't work with RTL correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
table head not scrolling

https://user-images.githubusercontent.com/8665687/132359151-0d103941-385c-46f3-a033-7df6258d7538.mov

## Expected Behavior 🤔

table head NORMAL scrolling

##

[2021-09-07 14:34] waweber opened #28210 "Fullscreen Dialog sizing issue on Firefox Mobile"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When opening a full screen Dialog in Firefox Mobile, the dialog does not expand into the space at the bottom when the URL bar becomes hidden.

## Expected Behavior 🤔

The fullscreen d

[2021-09-07 14:49] goncalovf commented on #21053
I went ahead and proposed a solution with the PR above. I should have asked for permission before doing it, but since it was such a quick fix, I went ahead with it. I hope I didn't do anything wrong.

[2021-09-07 15:45] busterbogheart opened #28212 "Broken links on getting started guides"
At least on:  https://v3.material-ui.com/getting-started/page-layout-examples/

Also the 'edit page' link is broken.

[2021-09-07 15:49] waweber commented on #28210
Forgot to add these screenshots
![Screenshot_20210907-102331](https://user-images.githubusercontent.com/714224/132374484-f5f1f5c2-0514-4f94-95a5-b0f2508c9165.jpg)
![Screenshot_20210907-102339](https://user-images.githubusercontent.com/714224/132374488-201ead0b-3e3e-4a5e-b5db-19fcc85792ce.jpg)

[2021-09-07 16:35] MarksCode opened #28214 "NPM link breaks theme imported from linked repo"
I created a shared-components repo which contains wrapped Material-UI components and are packaged as an NPM module.

The module works fine when installed via the remote package: `npm install *name-of-package*`, but when I `npm link` so I can develop locally it crashes saying the theme variables I define are undefined.

**Here is my main repo's code:**

    import { ThemeProvider } from '@mui/mater

[2021-09-07 16:59] FireFragment commented on #28130
I just discovered it's possible to do it with `contenteditable='true'` property on `div`.

Here is example (not in React): https://codepen.io/maty1000/pen/abwpbqK

[2021-09-07 17:27] jephjohnson opened #28216 "Adding a delay before opening popover fails"
Not sure If I am going about this correct way but It seems I cant add a delay before the Popover is opened.

[code]

[2021-09-07 17:31] IgnacioFDM commented on #28191
@eps1lon

I can confirm tree shaking is working properly. I am only using path imports and it can be confirmed with the following webpack bundle analysis (v4 and v5 included) that it's working.

[bundle_analysis.zip](https://github.com/mui-org/material-ui/files/7123311/bundle_analysis.zip)

Regarding the reduction in component size you mention, they might be smaller indeed, but the change from JSS

[2021-09-07 19:33] CWSites commented on #15557
I see this was merged 2 years ago into `next` does that mean it's in version 5? I'm in `4.12.3` and still have this same error occurring.

[2021-09-07 19:35] samuelcolburn commented on #28058
@michaldudak https://deploy-preview-28128--material-ui.netlify.app/ does seem to fix the issues. However, it still doesn't render very cleanly at smaller font sizes, imo. See images.

Computed font size `11.375px`:
![image](https://user-images.githubusercontent.com/9741902/132400698-54162d09-c1d8-4826-8724-7301d5a8a4b8.png)

Computed font size `11.375px` on light mode:
![image](https://user-images

[2021-09-07 20:03] mmahdigh opened #28217 "Serving CSS styles externally using @material-ui/styles in SSR applications"
I use @material-ui/styles in a SSR project and the problem is each page CSS styles are added internally.

Are there any ways that CSS styles be used externally (i.e. in separate CSS files)?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2021-09-07 20:53] player1on3 opened #28218 "How Do I Add border and border-color to Rating component?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2021-09-08 01:23] Plasmadog commented on #22257
I've just tried adding a custom variant (in v5 beta 4), but the new variant does not inherit any of the defaults defined at the root of the typography part of the theme. Is this intentional?
For example:
[code]
All other variants use Roboto, but when using the "h7" variant I get Times New Roman. Is it a bug, or by design?

[2021-09-08 05:42] VidushaZ commented on #18957
Hi is this really fixed? I still have the issue where the clear button wont clear the state. I'm using @material-ui/lab : ^4.0.0-alpha.60
Autocomplete Multiple is working though.

[2021-09-08 06:26] mnajdova commented on #27666
This was resolved by https://github.com/mui-org/material-ui/pull/28049 & https://github.com/mui-org/material-ui/pull/28185. I am closing it.

[2021-09-08 06:26] #27666 closed

[2021-09-08 06:26] #28218 closed

[2021-09-08 06:30] mnajdova commented on #28217
JSS is automatically adding the styles used on each page in the head. What you are looking for looks much more like using plain CSS structured as you want in separate files.

Maybe phrasing the question a bit differently. Can you share what is the problem you are trying to solve?

[2021-09-08 06:31] mnajdova commented on #28216
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-08 06:32] mediafreakch commented on #15397
I am very confused about those console errors and it's not clear to me how to get rid of them. They are very noisy, I can't easily see the console errors I actually need to care about. I can't influence the deprecation warnings myself, because they're caused by a 3rd-party library (react-admin).

Maybe consider hiding them behind a config flag next time, or do it like Vue and provide a specific mi

[2021-09-08 06:35] mnajdova commented on #28212
We are working currently on v5, which is two versions after the version of the link that you shared. It is not likely that we are going to provide any fixes for v3.

[2021-09-08 06:35] #28212 closed

[2021-09-08 06:37] michaldudak commented on #28058
Could you compare it to https://fonts.google.com/specimen/IBM+Plex+Sans?query=ibm#glyphs? Do both of them look equally bad at small font size?

[2021-09-08 07:05] #28076 closed

[2021-09-08 08:38] #28214 closed

[2021-09-08 09:01] eps1lon commented on #28191
We do include the styling solution in meassuring the bundle size. We only exclude React itself and date libraries.

Then you're importing every new component as well. It's expected that using more features results in a bigger bundle size.

[2021-09-08 09:16] mmahdigh commented on #28217
Hey Marija

Honestly it's a requirements set by our SEO team. I haven't spoken with them but I guess maybe they're trying to trim some kilobytes.

I'm basically looking for something like what Linaria offers, creating external CSS files in build time and serving the CSS externally rather than adding to the head.

[2021-09-08 09:16] mgpwilson opened #28221 "SvgIcon fontSizeMedium CSS rule name"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

https://next.material-ui.com/api/svg-icon/#css: include a rule for fontSizeMedium, so we can define three sizes of icon.

## Examples 🌈

I want to be able to define three icon sizes like this:
[code]

## Motivation 🔦

I am building a website

[2021-09-08 09:24] #21053 closed

[2021-09-08 10:08] #26810 closed

[2021-09-08 10:08] #27869 closed

[2021-09-08 10:08] #27929 closed

[2021-09-08 10:15] #28193 closed

[2021-09-08 10:47] mohammadSamadi99 commented on #283
nice bro

[2021-09-08 11:54] #28170 closed

[2021-09-08 12:13] akira-kurogane commented on #28170
🙇‍♂️

[2021-09-08 13:34] LeoLozes opened #28229 "Incompatibility between latest rc-0 and data-grid"
I didn't find anything related to Data Grid in the v5.0.0-rc.0 release, so I guess it's not supported, but it was working until this last version (I guess the package renaming is the problem).

I tested with the latest versions of the following packages:
[code]

## Current Behavior 😯

When a data grid is rendered, it looks like new styles are injected, and the custom styles applied previously to m

[2021-09-08 14:15] #28216 closed

[2021-09-08 14:47] keslavi opened #28230 "drawer clipped under AppBar fails to clip after build and deploy"
using the example provided here, I successfully created a drawer clipped under the appbar.

https://next.material-ui.com/components/drawers/#clipped-under-the-app-bar

however, when I run npm build and deploy the files to a webserver, the drawer sits OVER the appbar.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues)

[2021-09-08 15:55] rart commented on #28229
I don't think this issue should get dismissed.

The `@mui/x-data-grid@4.0.0` doesn't seem work in the v5 rc ecosystem because in the grid's code, it still points to the previous namespaces (i.e. `@material-ui/*`).

[2021-09-08 19:04] samuelcolburn commented on #28058
Looks about the same to me, so probably just the font. It just doesn't seem to render very cleanly under ~16px imo

[2021-09-08 20:39] IgnacioFDM commented on #28191
There are no new components included, no new features, no new nothing. Only migration from Mui4 to Mui5.

[2021-09-08 20:44] kgregory commented on #19387
Just decided that a navigation rail may be worthwhile in our app at work and whipped up [this codesandbox](https://codesandbox.io/s/navigation-rail-demo-ub1s9) which is a close (but not exact) approximation of the [material design spec](https://material.io/components/navigation-rail).  Here is a screenshot:

![image](https://user-images.githubusercontent.com/3155127/132582649-c18531c7-77bd-41fe-8e

[2021-09-08 21:01] galah92 commented on #19387
@kgregory Amazing! I ended up doing the exact same on me own for now. Good enough for now.

[2021-09-08 21:27] eps1lon commented on #28191
Without a complete reproduction it's impossible for me to say what's going wrong. But you're almost certainly importing more components than you did before.

[2021-09-08 22:00] CharlesStover opened #28232 "Class name on TextField select is impossible and unintuitive."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There are **four** ways to add input class names to a `<TextField select />` component, and _none_ of them add the class name to the input.

[code]

This will add _one_ of the four cl

[2021-09-08 22:45] IgnacioFDM commented on #28191
@eps1lon

I have created a small reproducible example of this issue by extracting fragments of my code (so don't mind some of the silliness). All this is based on the [nextjs example from the material-ui repository](https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-typescript).

The repo contains both MUI v4 and v5 versions, and these are the results I get from `npm run build

[2021-09-09 00:00] AriaMoradi opened #28233 "Alert or Snackbar on a different DOM tree changes theme"
Just what the title says, I can't explain it any better.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When the snackbar appears, the theme becomes light. the issue doesn't creep up when the theme is already light.

## Expected B

[2021-09-09 07:03] michaldudak commented on #28058
@danilo-leal do you have any ideas? We could set a minimum font size, but this would affect all users, including those on macs who want to have smaller font sizes

[2021-09-09 07:57] mnajdova commented on #28233
Please provide a reproduction using v5. We no longer work on v4 unless there is some critical bug.

[2021-09-09 08:09] Aurelain opened #28236 "[docs] Font-face example has extra quotes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The docs for v5 provide an example of [self-hosting fonts](https://next.material-ui.com/customization/typography/#heading-self-hosted-fonts).
This example contains a minor mistake:
[co

[2021-09-09 08:16] mnajdova commented on #28232
You can add it with:

[code]

Here is a codesandbox: https://codesandbox.io/s/billowing-architecture-578ey?file=/src/App.tsx:188-328

The most common use case is for classes to be added on the select element, and that is the default behavior. The input is a hidden element, it is not very expected that it would be styled. Can you maybe share what is your use case?

[2021-09-09 08:39] Manikanta-20 opened #28237 "Material UI styles breaking after Enabling webpack5 in Next.js"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

@oliviertassinari

After Enabling Webpack5 true in Next.js .Material UI Styles are breaking in some pages. And In some pages styles are applying
This Issue belongs to Next.js or Mater

[2021-09-09 08:40] mnajdova commented on #28230
Please provide a codesandbox illustrating the issue. Not that you can deploy the codesandbox using Vercel or Netlify:

<img src="https://user-images.githubusercontent.com/4512430/132652984-7170092f-98f8-4c31-83a7-b09d051863e3.png" width="200px" />

[2021-09-09 08:45] mnajdova commented on #28221
The `medium` is a default value. You can provide the override under the `root` class key. Something like:

[code]

We don't provide classes for the default values unless it is necessary. Note that you can also use the `variants` key and then define any combination of props you may need.

[2021-09-09 09:19] mgpwilson commented on #28221
Thank you for the clarification!

[2021-09-09 09:19] #28221 closed

[2021-09-09 09:28] #25422 closed

[2021-09-09 09:50] AlvesJorge commented on #28198
Hello Kunavenkatrao,
Please provide a codesandbox replicating the issue in a clear way, it's very time consuming if everyone that wants to help you had to try and replicate this on their own machine.

[2021-09-09 11:30] akraines commented on #28121
Also check out react-virtual from the author of react-query and react-table. [Oh- I now see that it was referenced above, nm]

[2021-09-09 12:35] EliasJorgensen commented on #22368
@oliviertassinari I guess you are being flooded, due to the v5 launch, so ping :ping_pong: :smile:

[2021-09-09 13:32] felix-lipski commented on #17392
mi też nie działa !!!!!!

[2021-09-09 13:35] qbacuber commented on #17392
mi też nie działa, nie pozdrawiam

[2021-09-09 14:08] MarksCode opened #28244 "TS Module augmentation for adding variants to components not working"
It says in the docs here: https://next.material-ui.com/customization/theme-components/, adding a variant to a component when using typescript requires you add this:

[code]

However, this doesn't work. You'll still get an error in your `createTheme()`:

[code]

In order to fix this you need to also add the line to your definitions file:

`import '@mui/material/Button';`

I'm not sure why this is t

[2021-09-09 14:14] jeanbispo commented on #21293
Worked for me, tks

[2021-09-09 15:09] keslavi commented on #28230
https://codesandbox.io/s/od0zu?file=/demo.js

[2021-09-09 15:35] rexsuit opened #28245 "[v5] Style Library Interoperability - Theme-UI"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Having followed the development of Material-ui v5, I knew that Theme-UI was a major inspiration for the styling solution v5 picked. Thus, I feel like I'm not the only one who would be surprised to see no guide or even a mention of this librar

[2021-09-09 16:00] CharlesStover commented on #28232
You're right. I may be targeting the wrong element. My goal is to apply the FullStory `fs-mask` class name to the element, which _hides the element_ from recording to prevent the collection of personally-identifiable information. The problem with hiding the wrapper is I lose tangential information, like error state and labels. I would like to keep error state, labels, and all other text text _exce

[2021-09-09 16:01] aress31 opened #28247 "Improve Style Override"
Trying to style `MuiTypograpgy` with `h4` with `gutterBottom` and I found out that it is not possible with the current theming system to customise specific property for a variant, I want my custom `gutterBottom` style to apply only to `h4` variants.

I see two options to do this:
1. Like in the following (but it is not yet possible:
[code]

2. Creating a custom variant (e.g. `underline`) but then

[2021-09-09 16:09] christianhultin commented on #19113
Any update on performance? Just started a new project with material-ui v5 and the typechecking is very very slow, any ideas on how to make it bareable? I wrote the [full story here ](https://github.com/microsoft/TypeScript/issues/34801#issuecomment-916234120)

[2021-09-09 16:38] Hophoet commented on #12701
Thank you @nakanori

[2021-09-09 17:20] Gautam-Arora24 commented on #28117
@oliviertassinari Can I work on this issue?

[2021-09-09 17:25] Gautam-Arora24 commented on #27978
@eps1lon Can I work on this issue?

[2021-09-09 17:41] palerdot commented on #25422
This change still does not fix `AM/PM` button positions on `MobileDateTimePicker`. Please consider reopening this issue till this is fixed.

[2021-09-09 18:17] danilo-leal commented on #28058
Well, I see we have two ways if there's an inherent problem with this typeface:
1. Use another typeface
2. Get help from the [team maintaining the font](https://github.com/IBM/plex).

I propose we start with 2 as 1 is a bit more hard-core (a lot of the spacing between elements is guided by the typeface sizes — on the marketing website and on the documentation — changing the typeface would require

[2021-09-09 18:35] MergeCommits opened #28249 "[Step] Component has inconsistent behavior when added through composition"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When a Step component is added through composition, it is missing the icon that's there by default. It's there when the Step component is nested directly.

So if I put:
[code]
in a Ste

[2021-09-09 20:47] aress31 opened #28250 "MuiTypography VariantMapping In the Global Theme"
Could it be possible to define a global mapping for `MuiTypography`, maybe something like:

[code]

[2021-09-09 21:31] aress31 opened #28251 "MuiMenuItem -> LinkComponent Not Working"
The doc suggest that `MuiMenuiItem` extends `ButtonBase` and therefore should support the `LinkComponent` property which does not seem to be the case. This bug is breaking the navigation of my website and forces me to rely on a `a` component which causes a page reload.

Here is a `codepen` to illustrate this bug:

- https://codesandbox.io/s/dawn-water-p7krh?file=/src/layout/NavBar.js

Note: This `

[2021-09-10 06:20] m-ocana commented on #28193
Great job folks! Thanks for solving this issue so quickly 👍

[2021-09-10 07:11] AlvesJorge commented on #28251
Have you tried to wrap your menu item with the Link component?
`<Link href={item.path}>
        <StyledMenuItem
          key={index}
          // onClick={popupState.close}

          {item.label}
        </StyledMenuItem>
      </Link>`
Could work.

[2021-09-10 07:30] AlvesJorge commented on #28251
Use React Routers "Link"  to navigate without reload.
https://codesandbox.io/s/magical-khorana-7gf6x?file=/src/layout/NavBar.js

[2021-09-10 07:34] AlvesJorge commented on #28250
I think [Global Styles](https://next.material-ui.com/customization/how-to-customize/#5-global-css-override) is what you are looking for.

[2021-09-10 09:09] mnajdova commented on #28250
You can, take a look on https://next.material-ui.com/customization/theme-components/

Feel free to report if something is not working.

[2021-09-10 09:09] #28250 closed

[2021-09-10 09:17] mnajdova commented on #28249
May not be the most ideal, but the `Stepper` is propagating some props to it's children by cloning the element. Your new created component wrapper does not spread props fo the `Step` hence the icon is not shown. You just need to update the wrapper component to spread it's props to the `Step`.
[code]

Here is a working example: https://codesandbox.io/s/verticallinearstepper-material-demo-forked-gqm

[2021-09-10 09:18] #28249 closed

[2021-09-10 09:20] mnajdova commented on #28247
You can use a combination of props in the variants, for example:

[code]

[2021-09-10 09:20] #28247 closed

[2021-09-10 09:41] eps1lon commented on #28237
It doesn't look like this bug report has enough info for one of us to reproduce it.

Also be aware that 4.x issues are not handled at the moment. So ideally this would either be fixed using v5 or you have a repro using v5.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2021-09-10 10:08] PierreTurnbull commented on #12010
this doesn't work for me. I'm using material ui 4.11.4.

[2021-09-10 10:10] siriwatknp commented on #16502
Here are the issues that I suspect.

### Default Theme
<img width="805" alt="Screen Shot 2564-09-10 at 17 01 27" src="https://user-images.githubusercontent.com/18292247/132837215-4edf1036-dd92-4e5c-9aae-6157c29f4327.png">

We have a typo at `stop_urls` in https://github.com/algolia/docsearch-configs/blob/master/configs/material-ui.json.

it should be `\\?expand-path`. Curious why we need `\\`?

##

[2021-09-10 10:18] mnajdova commented on #28244
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-10 10:22] mnajdova commented on #28236
@Aurelain would you like to create a PR t hat will fix it? :)

[2021-09-10 10:52] alucardu opened #28259 "Alert.js is importing withStyles from wrong file."
I'm trying to use the Material ui snackbar and alerts but the browser is showing an error:

You have to import it from @material-ui/styles.

Alert.js is doing this:

[code]

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Applica

[2021-09-10 11:11] eps1lon commented on #28259
You're using an incompatible version of the `/lab` or `/material` package. Using the latest versions of both, works as expected: https://codesandbox.io/s/hungry-currying-r09j0?file=/src/Demo.tsx

[2021-09-10 11:11] #28259 closed

[2021-09-10 11:15] eps1lon commented on #27990
We simply don't support CSS variables at the moment for color values since we compute certain colors on the fly based on the theme colors. This isn't possible with variables at the moment.

See https://github.com/mui-org/material-ui/issues/27651 for planned support.

[2021-09-10 11:15] #27990 closed

[2021-09-10 11:23] alucardu commented on #28259
@eps1lon You're right, I was using `"@material-ui/lab": "^4.0.0-alpha.60",` which is installed when `yarn add @material-ui/lab` I can't find any references to a new version of `@material-ui/lab` in any of the documents though.

[2021-09-10 11:29] mnajdova commented on #28245
Hey @orshick, thanks for the suggestion. Although I agree that probably `theme-ui` was the first one (or one of the firsts to introduce the prop), it is today widely used in other libraries as well:
- https://rebassjs.org/props/
- https://chakra-ui.com/docs/features/the-sx-prop
- https://primer.style/react/overriding-styles
- https://reflexjs.org/docs/theming/sx
etc.

Currently, we try to keep the

[2021-09-10 11:30] mnajdova commented on #28251
Thanks @AlvesJorge

[2021-09-10 11:31] #28251 closed

[2021-09-10 11:33] mnajdova commented on #28251
@aress31 please use StackOverflow when asking for help with some code snippet. We try to use the Github issues only for reporting Bugs / Feature requests.

[2021-09-10 11:42] mnajdova commented on #28259
@alucardu you should use the `next` version for each of the packages, or even better upgrade to the new package names. See https://github.com/mui-org/material-ui/pull/28049

[2021-09-10 11:43] alucardu commented on #28259
Cheers, I'm just pointing out I couldn't find this in any of the documentation.

[2021-09-10 11:48] AlvesJorge commented on #28251
I enjoy myself coming here and trying to help people but I fear that answering "help" questions here might propel people to ask more questions of that type here. Should I avoid doing so here? Don't want to do more harm then good.

[2021-09-10 11:52] aress31 commented on #28251
I know how to integrate with react router, the problem is not here, this ticket is reporting a bug, the fact that the LinkComponent property does not work. Maybe I did not phrase the question properly but the code snippet I added should give more context.

If you try to override the Link Component of MuiMenuItem it does not work. And it should work!

[2021-09-10 11:55] #28098 closed

[2021-09-10 12:36] aress31 commented on #28247
@mnajdova the issue is that the style overrides everything, meaning I have to style it from scratch when I just want to extend the default style, is there a way to import the default style into my variant, e.g. .`..MuiTypography.style`?

[2021-09-10 12:42] aress31 commented on #28250
@mnajdova, I already tried that and it is not working on the `Global Style` level hence this ticket.

I tried the following:

[code]

[2021-09-10 12:44] #21757 closed

[2021-09-10 12:59] manoharreddyporeddy opened #28261 "Official example - Gatsby - Does not run"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The Official Gatsby example does not run

## Expected Behavior 🤔

Given basic example must run without any changes.

## Steps to Reproduce 🕹

Steps:

1. Go to https://github.com/mui-o

[2021-09-10 13:18] siriwatknp commented on #19986
I added my findings here, will try to fix it. https://github.com/mui-org/material-ui/issues/16502#issuecomment-916790853

[2021-09-10 13:37] AlvesJorge commented on #28251
"This bug is breaking the navigation of my website and forces me to rely on a a component which causes a page reload."
You did phrase here that this is breaking your navigation and that you are being forced to use a component that causes a page reload, which you aren't.

[2021-09-10 14:04] orshick commented on #28245
Thanks for the clarifying response @mnajdova, didn't realize that the `sx` prop had such an uptake. I suppose in that case this documentation request might be better focused on some explanation of how Mui's `sx` prop can (or cannot) co-exist with other libraries `sx` prop.

[2021-09-10 14:14] aress31 commented on #28251
My bad @AlvesJorge I did not phrase my question properly, I just gave more context than needed, the problem here is that the `LinkComponent` property of `MuiMenuItem` (inherited from `ButtonBase`) is broken and not working.

[2021-09-10 16:21] cfecherolle opened #28262 "Support minDateMessage and maxDateMessage in @mui/lab V5 DatePickers"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In previous DatePicker API (in MUI latest) https://material-ui-pickers.dev/api/DatePicker there were props to customize min and max date messages when such errors occurred.

This API seems to have disappeared from new DatePickers, see https:/

[2021-09-10 16:26] chaserda commented on #21757
Going with the suggested route above, none of my palette colors are consumable inside my components using the "system" example:

[code]

[2021-09-10 19:47] cmdcolin commented on #28062
One way to make this happen is to get a handle on the Autocomplete TextField's inputRef, and then call inputRef.current.blur() onSelect

https://codesandbox.io/s/material-demo-forked-pqvf3?file=/demo.js

[2021-09-10 19:47] Gautam-Arora24 commented on #27978
@eps1lon How can I check what changes my code does locally?

[2021-09-10 19:57] cmdcolin commented on #28062
If there is interest, an example like this could be added to the docs. Not sure it fits with the vision of the examples, but maybe would look like this

[code]

[2021-09-10 21:40] na-ji commented on #26876
The problem is occuring for me with Mui v5 and styled-components. For reproduction, the example [nextjs-with-styled-components-typescript](https://github.com/mui-org/material-ui/tree/next/examples/nextjs-with-styled-components-typescript) has this issue:

![image](https://user-images.githubusercontent.com/757637/132920430-ced90a00-6d6e-4ed6-b981-25f91efcb24d.png)

[2021-09-10 22:04] aress31 opened #28264 "Material UI 5 variantMapping Not Working"
Already opened an issue but it was closed without even investigating it, therefore, I am opening a new one, the `variantMapping` property of MuiTypography do not work as intended when overriding it from the `theme`, see:

[code]

This must definitely be a bug and would appreciate if you could look into this.

Thanks,
aress31

[2021-09-11 05:46] nhatndm opened #28266 "There is an unexpected space when using typography inside grid item - Material v4.12"
There is an unexpected space between last item and second item.

My workaround is just use normal text instead of Typography

<img width="1004" alt="qE0gN" src="https://user-images.githubusercontent.com/19651144/132937637-fb3c515a-cb99-417c-ab98-11ebc0d19578.png">

## Steps to Reproduce 🕹

Here is my code

[code]

[2021-09-11 08:57] morijenab commented on #20862
I have run to the same issue, here is the sample of the `tabPanel` from the official document:

[code]

and typescript yield for the `value` prop in the TabPanel
Type 'number' is not assignable to type 'string'.  TS2322

os: win10
material-ui: 4.12.3
typescript:4.1.3,

[2021-09-11 10:35] mstachniuk opened #28268 "The @material-ui/icons versions v4.12.X: v4.12.0 v4.12.1 v4.12.2 v4.12.3 are missing in npm"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The @material-ui/icons versions v4.12.X: v4.12.0 v4.12.1 v4.12.2 v4.12.3 are missing in npm.
Please compare available verisions between:
https://www.npmjs.com/package/@material-ui/ico

[2021-09-11 10:44] eps1lon commented on #28268
Thanks for the feedback.

There were no 4.12.x release for `@material-ui/icons` so there shouldn't be any releases for them on npm.

[2021-09-11 10:44] #28268 closed

[2021-09-11 11:43] afreakk opened #28269 "@mui/codemod@next v5.0.0/preset-safe smDown -> xlDown"
Using codemod preset-safe gives wrong translation for smDown.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
After running `npx @mui/codemod@next v5.0.0/preset-safe src/`
The following change happens:
![image](https://user-images.

[2021-09-11 14:08] aress31 commented on #28076
@siriwatknp @mnajdova the new example on the doc is very good however if you could add in the example how to theme components based on the palette (dark/light) I think that would be a nice addition as right now only palette changes are explained and most of the time branding/theming of components rely on the palette choice.

[2021-09-11 16:00] amrithmmh commented on #14530
This is similar to the example in react material ui select example code. But it fails to work for me.

    "@material-ui/core": "^4.12.3"

[2021-09-11 16:32] oliviertassinari commented on #13243
We have moved the discussion to https://github.com/mui-org/material-ui-x/issues/514

[2021-09-11 17:11] praveesh91 commented on #28236
Hi, I am new to open source, looking forward to make my first contribution. Can I take up this?

[2021-09-11 18:42] iamalmiir opened #28272 "Prop className did not match"
Hello everyone,
Every time when I reload the page my styled components fail and I lose all styling pretty much. I have used the setup from Mui Examples for the next js-with-styled-components-typescript.
This happened after I included App Bar and before I even styled it.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issu

[2021-09-11 21:55] sharedrory commented on #20012
Can someone tell me what happened in v5? The old look of the site was amazing but https://next.material-ui.com/ looks terrible to me in terms of "Material" (mostly the component styles but colors do matter too). This is just my opinion and I don't want anyone to be affected by it. Is it simply using a custom theme or have all the styles been changed?

[2021-09-11 22:36] oliviertassinari commented on #20012
@sharedrory We are getting rid of this homepage for a new one with the stable release. Please ignore it.

[2021-09-11 22:50] dkadrios commented on #20012
I actually like the new doc pages 😀

My only (long standing) complaints revolve around the search feature. If you start typing a component name, then the top result is the API page which is usually what I'm after, but if you finish typing an exact match it goes away.  e.g. type "gri" and the Grid API page is top, but type "grid" and *poof*.

I also wish hitting ENTER would open the top result.  I

[2021-09-12 00:53] FinnLawrence opened #28273 "DateRangePicker Does Not Render Custom ToolbarComponent"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`DateRangePicker` does not render a custom `ToolbarComponent` when it's supplied via `props`.

## Expected Behavior 🤔

Expect `DateRangePicker` to support this as `DatePicker` does.

[2021-09-12 05:09] phamdongtruong99 commented on #22426
hi !
How did your company design the calendar? it's so pretty

[2021-09-12 10:41] nguyenkhanhnam commented on #28127
This behavior is already stated in the docs.

In the case of `2020-01-01`, when you start typing `2`, the first `onError` is called because `2` is invalid date. As you continue typing `020-01-0`, the error remains the same invalid date. Until the last `1` is entered, this time `2020-01-01` is now valid, the second `onError` is called with `null` reason. The `2021-01-10` input is similar.

Docs:  h

[2021-09-12 14:13] michaelpward commented on #8000
@oliviertassinari, @eps1lon, may I point out...

It's a very bad experience to spend hours on a Sunday trying to find out what I've done wrong, only to learn that failed tests are the expected result when _following [the MUI5 documentation for adding custom colors in a theme](https://next.material-ui.com/customization/palette/#adding-new-colors)_.

Frustrating.

[2021-09-12 17:22] nolastemgarden opened #28303 "Typo in StyledAvatar in transition docs"
In the documentation for the Transitions theme key there is an example using a StyledAvatar.  This was misspelled as "Styledvatar" in three places in the source code for the example.  [Page with Typo](https://next.material-ui.com/customization/transitions/)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this r

[2021-09-12 19:00] pgrodrigues commented on #28272
I believe I'm experiencing the same. After upgrading to v5, I configured my app according to the 3 nextjs examples in this repo and I always get the "Prop className did not match error".

[2021-09-13 02:14] edazpotato commented on #22485
Are there any updates on this new design yet? I like Material, but sometimes it just feels too *Google-ey* or bulky and I end up doing frustrating amounts of customisation just to make my apps look different.
I, and I'm sure many other people, would love to see some of the progress your designers have made on this so that we can give feedback on it, and just generally get excited about the new the

[2021-09-13 03:12] siriwatknp commented on #20012
Thanks for the feedback, I am looking into it. #16502

[2021-09-13 03:21] siriwatknp commented on #22485
@edazpotato We are likely to start the second design system next week after the rebranding is done. Still working on what's the best way to share the progress with the community.

FYI, we decided to go with `design system`, not `theme`. Will share more details in a dedicated RFC.

[2021-09-13 05:00] siriwatknp commented on #28058
@danilo-leal let's use css to force minimum font-size, I don't think it is worth to change font at this point.

using css should be enough for people who are using `14px` as base font-size.

[code]

[2021-09-13 06:35] michaldudak commented on #28058
Let's try using the fonts as they were created (with hinting information), as suggested in https://github.com/IBM/plex/issues/402#issuecomment-916902126)

[2021-09-13 07:00] david-iccube opened #28305 "Multiple Select with order"
The idea is to have Select component with multiple selects with user select order.

If you have items : A,B,C,D,E
An end user could choose to have selected A,E as well as E,A. Both are not the same.

Not sure if this is possible or it's going to be in the roadmap of Material-UI.

Any hint's or ideas from the mui community are welcomed.

[2021-09-13 09:43] pulli23 opened #28307 "Suppress the material UI Select component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
When creating a `Select` field that is managed and the values are not yet loaded, the following error pops up:

[code]

This error is hard to get rid of and should be able to be suppressed?

While the error could be prevented by not showing th

[2021-09-13 09:56] pooya1361 opened #28308 "Datepicker shows the wrong locale"
From time to time, the calendar in datepicker shows partially wrong information. For example, if we choose to show the Swedish calendar, the month and days are loaded in English but the weekday names are in Swedish. This is very difficult to reproduce but we receive report from our customers that their guests have booked the wrong date because of this issue.

- [ ] The issue is present in the late

[2021-09-13 10:32] eps1lon commented on #27978
@Gautam-Arora24 Please check https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md and https://github.com/mui-org/material-ui/blob/next/test/README.md

[2021-09-13 10:33] Juliandebruin opened #28309 "Material UI table places columns on top of each other when created with a map."
I am not 100% shure if its a bug.

I explained the bug here.

https://stackoverflow.com/questions/69160977/material-ui-table-places-columns-on-top-of-each-other-when-created-with-a-map

[2021-09-13 10:38] eps1lon commented on #28261
Fixed for `next` in https://github.com/mui-org/material-ui/pull/27798: https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/gatsby.

We won't backport non-critical changes for `master` at this point.

[2021-09-13 10:38] #28261 closed

[2021-09-13 10:38] eps1lon commented on #28309
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-13 10:49] eps1lon commented on #28262
Thanks for the feedback.

The pickers are now released from `@material-ui/lab`. The new documentation can be found at https://next.material-ui.com/components/date-picker/.

There's no need for a `minDateMessage` or `maxDateMessage` prop since both can be implemented via `helperText` of the `TextField` e.g.

[code]

Though we're definitely missing documentation for error handling.

[2021-09-13 10:51] #28305 closed

[2021-09-13 10:52] eps1lon commented on #28308
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-13 10:53] eps1lon commented on #28272
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

The codesandbox in the issue description returns a 404.

Here are some tips for providing a minimal example: https://stackoverflow.com/help

[2021-09-13 10:55] eps1lon commented on #28135
Duplicate of https://github.com/mui-org/material-ui/issues/23558.

[2021-09-13 10:55] #28135 closed

[2021-09-13 10:55] eps1lon commented on #28122
Duplicate of https://github.com/mui-org/material-ui/issues/23558

[2021-09-13 10:55] #28122 closed

[2021-09-13 10:56] #28236 closed

[2021-09-13 10:56] eps1lon commented on #28264
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-13 10:57] tamboliasir1 commented on #28303
/assign

[2021-09-13 11:03] eps1lon commented on #27995
Please read the error message from TypeScript. There is no more `components` key. You probably want `props` instead.

[2021-09-13 11:03] #27995 closed

[2021-09-13 11:07] aress31 commented on #28264
@eps1lon please see:
- https://codesandbox.io/s/mui-28264-x0kr7?file=/src/styles/theme.js

[2021-09-13 11:51] eps1lon commented on #28264
I don't understand how you arrived at the conclusions in the headings. Did you mix up what's mapped to what?

The mapping is from `variant` to component rendered. So `h2: 'h1'` means `<Typography variant="h2" />` renders an `h1`. This is the case in the codesandbox you rendered. Otherwise `body1: 'p'` would not make any sense since there is no such element as `<body1 />`.

[2021-09-13 11:54] aress31 commented on #28264
Well this is not the case if you inspect the text using dev tools you will see that the HTML renders indeed a `h1` instead of a `h2`, so the mapping is not respected.

[2021-09-13 11:56] eps1lon commented on #28127
Yeah, I think it makes sense to fire the `onError` if we leave the error state so that people can flip the error state appropriately. Though we do lack better documentation. Closing in favor of https://github.com/mui-org/material-ui/issues/28262

[2021-09-13 11:56] #28127 closed

[2021-09-13 11:57] aress31 commented on #28264
My bad, I indeed messed up my mapping it works as expected!

[2021-09-13 11:57] #28264 closed

[2021-09-13 12:11] Juliandebruin commented on #28309
I am not able to create a code sandbox, but i can share part of the code.

I am using an object down here because i need that later. the first code snippet takes the two strings out of the table object and places them under each other on the screen. (Also happens with more than 2) The seccond snippet should be the same result however it is not. There no map function is used and the columns are not

[2021-09-13 12:29] BiancaArtola opened #28310 "Tags are not being well generated"
I am using `@material-ui/core version 4.11.4` and React version `17.0.1`. I am facing some issues with the tags of Material components. I want to have my component under the tag breadcrumb-XXX, but is not working. Here is my code:

[code]

The tag generated:
[code]

As you can see, there is a class **_jss18_** generated without any tags. Because of that, I am having issues with overlapping styles

[2021-09-13 12:33] Juliandebruin commented on #28309
I just found an error with filling the data in the object. Still thank you for wanting to help!

[2021-09-13 12:33] #28309 closed

[2021-09-13 12:56] david-iccube commented on #28305
A 'Select component with multiple selects with user select order' is not a feature ?  yo no entender :-(

[2021-09-13 13:28] cfecherolle commented on #28262
Thank you @eps1lon for this quick reply! I did not know about `helperText`, which is way more elegant than an external `span` or `li` element under the field.

If anyone ends up here in the future, I finally implemented error handling with:
- A variable containing an optional error message
- A variable containing a boolean stating if I should be displaying the error message or not

I'm setting the

[2021-09-13 13:35] tamboliasir1 commented on #28303
Raised PR with #28312

[2021-09-13 13:54] tamboliasir1 commented on #28303
#28312

[2021-09-13 15:30] mtr1990 opened #28314 "Type expansion problem in TypeScript in version ^5.0.0-rc.0"
Type expansion problem in TypeScript in version ^5.0.0-rc.0

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Works fine with version material-ui/core@5.0.0-beta.4

[code]

Problem with version "@mui/material": "^5.0.0-rc.0"

[code]

[2021-09-13 17:13] emran-jatri opened #28316 "all css property should work as props"
I think it will be better if all CSS property will work as props on any component.

[2021-09-13 17:23] BiancaArtola commented on #25991
Hey @oliviertassinari, I am facing a similar problem again. The options you suggested work for me, but not in all cases. I created an issue with more information: https://github.com/mui-org/material-ui/issues/28310
Can you give us an idea of how this is happening?

[2021-09-13 17:56] jedwards1211 opened #28317 "[jss-to-styled] codemod fails when an export type, export class, or export function statement is present"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## It would be better to write the codemods in TS

The TS types would have caught this issue before it happened.

## Current Behavior 😯

If I run `npx @mui/codemod v5.0.0/jss-to-styled` on the following cod

[2021-09-13 18:03] jedwards1211 commented on #28317
The codemod fails at this point:

[code]

 Someone expected `ExportNamedDeclaration.declaration` to only be a `VariableDeclaration`, but it could also be a `ClassDeclaration`, `FunctionDeclaration`, `TypeAlias`, `TSTypeAliasDeclaration`, etc.

[2021-09-13 18:08] iamalmiir commented on #28272
Hello,
You are right and I'm sorry about that. Here is the [link](https://github.com/iamalmiir/ar-realty)

[2021-09-13 19:28] irshadpalayadan opened #28322 "Date Time Picker lost cool design"
Earlier in material-ui-pickers we have a good design available for the date time picker, but with the latest design in the '@mui/lab/DatePicker', it seems the design got downgraded.

<img width="327" alt="Screenshot 2021-09-14 at 12 53 19 AM" src="https://user-images.githubusercontent.com/45300256/133144502-8bcc5d8c-5d65-4911-ba0a-c54714af7f63.png">

At least proper date picker should be available

[2021-09-13 21:09] danilo-leal commented on #28058
@siriwatknp @michaldudak We can address [it in this PR](https://github.com/mui-org/material-ui/pull/28081). I suppose this is important to have before v5 stable go-live. Can you help out?

[2021-09-13 23:01] croraf commented on #23558
Would it be possible to redesign the component to allow null value for the option?

[2021-09-14 01:31] CodeMyWorld commented on #18919
Facing the same issue. Adding `index: 999`  is not the best solution, hope someone could fix it in the future.

[2021-09-14 04:05] siriwatknp commented on #28269
@afreakk Did you run `npx @mui/codemod@next v5.0.0/preset-safe src/` once or multiple times? I checked on my machine and it seems to work correctly (`<Hidden smDown` => `<Hidden mdDown`)

FYI, the `preset-safe` should be used once as noted in the [migration docs](https://next.material-ui.com/guides/migration-v4/#preset-safe). If you found error or need to run `preset-safe` again, ideally you need

[2021-09-14 05:00] mbrevda commented on #28217
Is this what your looking for? https://material-ui.com/guides/server-rendering/

[2021-09-14 06:15] IgnacioFDM commented on #28191
@eps1lon Can you please mark this issue as open?

[2021-09-14 06:25] eps1lon commented on #28310
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), or a link to a repository on GitHub.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-14 06:50] KaRkY commented on #28322
And in dark mode it looks even worse.
![image](https://user-images.githubusercontent.com/832289/133209138-eb85cdab-9d7e-4dbf-a103-cf381a08abdc.png)