[2021-05-17 19:34] mnajdova commented on #26338
@pasDamola of course! It’s great first PR on Material-UI :)

[2021-05-17 19:38] mnajdova commented on #26345
Duplicate of https://github.com/mui-org/material-ui/issues/26229

[2021-05-17 19:38] #26345 closed

[2021-05-17 19:53] EsoterikStare commented on #26342
Looking at this a bit more I see that `React.ReactNode` is too lenient and allows for arbitrary strings that will result in runtime errors. Is there a way to allow arbitrary react components without being similarly open to runtime errors? Or is that the crux of why this type is pretty exclusive?

[2021-05-17 20:25] SandeepBoyka opened #26346 "Datepicker is not supporting French Language in IE 11"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

[2021-05-17 21:36] Paul6552 opened #26347 "[v4] Dialog disableEscapeKeyDown or Backdropclick not working anymore"
disableEscapeKeyDown - false or Backdropclick - false is not working anymore. onClose function does not fire.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

onClose function does not fire on ESC or backdropclick.

## Expected B

[2021-05-18 01:50] Yoshuag11 opened #26349 "[Safari][Documentation] Code demos are not showing up"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There is no way to see the examples' source code in Safari, the contents of the "div" element with arial-label="demo source" is empty.

## Expected Behavior 🤔

It works just fine in C

[2021-05-18 02:07] davidvuong opened #26350 "[Autocomplete] Add ability to optionally specify a tooltip in selected labels in input"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Selected options in an autocomplete's input field can often be too long. Partially hiding the trailing end of long labels is one way to help alleviate this but we lose some of the information. Hovering over the label to display a tooltip allo

[2021-05-18 03:46] LvChengbin commented on #24841
I encountered the same problem, the `fontFamily` under `typography` cannot override the `fontFamily` properties under each variant of typography.
Can you tell me how you resolved the problem?

[2021-05-18 04:37] davidvuong commented on #26350
Looks like `renderTags` was exactly what I was looking for! Closing this issue.

ref: https://material-ui.com/api/autocomplete/

[2021-05-18 04:37] #26350 closed

[2021-05-18 04:59] haebinseo commented on #26333
@siriwatknp I changed the sample you shared a little bit (value -> defaultValue)

And then now only string radios are checked when they are clicked.

https://codesandbox.io/s/reproduce-radio-value-forked-ur366?file=/src/App.tsx

[2021-05-18 05:33] ImranHaider313 commented on #24785
In my case I was passing string as default value `defaultValue={selectedDiagnosis}` while using `multiple` variant. I just changed the **selectedDiagnosis** as array and all went well.

[2021-05-18 07:17] Clemens85 commented on #26340
Hi Sebastian,

Thanks for your quick reply!

I added a minimal (and hopefully self explaining) repo with the examples I showed above:
[https://github.com/Clemens85/cypress-material-ui](url)

[2021-05-18 07:34] LvChengbin commented on #24841
I should use

[code]

instead of

[code]

It really took me many hours for resolving this.....

[2021-05-18 08:30] Floriferous opened #26356 "Allow adding non-option children to Select"
Many of our first-time users get confused by multi-selects, as they don't often quickly understand that they need to click outside of the select menu to close it so they can continue filling in their form. This makes onboarding new users with multi-selects a bit uncomfortable.

We'd like to add a visible button to the Menu that lets them close it, however it seems like this isn't trivial to do, as

[2021-05-18 08:53] eltonchan opened #26357 "[Ripple] touchRipple have memory leak"
When I use the MuiListItem as the navigation link, and then switch multiple times, when the ripple is turned on, it will cause the memory of the activity monitor to soar, and will not fall back, there is a memory leak problem

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this

[2021-05-18 09:02] eps1lon commented on #26357
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-05-18 09:23] eps1lon commented on #26349
Thanks for the report.

The code is showing up for me on Safari Version 14.1 (16611.1.21.161.6)
![Screenshot from 2021-05-18 11-22-17](https://user-images.githubusercontent.com/12292047/118626619-51969800-b7cb-11eb-9ca7-747e6bc8465e.png)

Try clearing your cache. If that doesn't help, could you check if you get any network failures when loading the page?

[2021-05-18 09:49] tommybernaciak opened #26358 "Skeleton is still using fade function in 5.0.0 alpha"
I just updated to 5.0.0-alpha.33 and I am trying to fix all breaking changes. One thing I found is that fade() function was removed but Skeleton component is still using it. This is causing compilation error.

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicat

[2021-05-18 09:53] oliviertassinari commented on #24785
@ImranHaider313 Interesting feedback. We could apply the prop-types logic of the `value` to the `defaultValue` prop too:

[code]

[2021-05-18 11:03] #26338 closed

[2021-05-18 11:25] mnajdova commented on #26358
Can you provide a codesandbox that proves this? As far as I can see, `Skeleton` does not use the fade function.

[2021-05-18 11:41] CAIOHOBORGHI opened #26359 "ServerStyleSheets is not a constructor after 5.0.0-alpha.33"
- [ X ] The issue is present in the latest release.
- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
After the release of the version 5.0.0-alpha.33, when I try to run

next build the terminal throws the following error:

Error occurred prerendering page "/auth/login". Read more:

[2021-05-18 11:46] mnajdova commented on #26359
Please provide a codesandbox example showing the issue. I suppose you are still importing `ServerStyleSheets` from `@material-ui/core/styles`, but you should import it from `@material-ui/styles` instead.

[2021-05-18 11:52] oliviertassinari commented on #25011
@Boimb Either way is probably OK.

[2021-05-18 13:04] mnajdova commented on #24841
I am sorry to hear this. We should make this more clear, developers using `@material-ui/core` should always use the `ThemeProvider` from this package. We are removing the dependency on `@material-ui/styles` inside `@material-ui/core`, so hopefully, this will be clearer after this change. `'@material-ui/styles'` does not provide the same theme context to emotion as well, that's why it doesn't work.

[2021-05-18 13:05] AbdUlHamedMaree opened #26360 "Grid Component give TS errors on new breakpoints"
I need to add `xxl` breakpoint, I followed the [docs](https://next.material-ui.com/customization/breakpoints/#custom-breakpoints) to create a custom breakpoint, however, when i use the `Grid` component it gives me a TS errors

[code]

here is the custom breakpoint code

[code]

Please advice me where i'm doing wrong.

[2021-05-18 13:24] AbdUlHamedMaree commented on #26360
now I'm tring to override `GridTypeMap` but it doesn't want to work 😢.

[2021-05-18 16:56] #26347 closed

[2021-05-18 16:58] Paul6552 commented on #26347
I am sorry. I have to write the code more carefully:

`onClose={(evt) => handleDialogClose(evt)}`
not
`onClose={(evt) => handleDialogClose}`

[2021-05-18 18:12] maksimgm opened #26362 "[Popover] Unable to remove overlay from popover"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm trying to add the ability to add other functionality to occur before the popover closes. The Popover component adds an overlay which detects any clicks then triggers the `setAncho

[2021-05-18 19:04] slayybelle opened #26363 "[DataGrid] MuiDataGridMenu focus location on exit is not accessible"
MuiDataGridMenu is the menu accessed at the header row of the table that enables us to sort, filter, hide, show.  There are two problems I'm seeing:

1. upon escape, menu closes correctly but focus remains on the menu button rather than the cell, and the only way to resume traversal of the table is to tab out of the table and back.
2. upon selection, action is taken correctly but keyboard focus is

[2021-05-18 19:13] #26253 closed

[2021-05-18 19:22] mguarino1 commented on #24901
Hi. First timer here, I'd like to take a look at this one.

[2021-05-18 20:08] #23363 closed

[2021-05-18 20:18] slayybelle opened #26365 "[DataGrid] customizable aria-label or aria-labelledby field"
Current DataGrid doesn't seem to have a way to receive a user defined aria-label or aria-labelledby reference.  This is needed for accessibility.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Most components need a descriptive label for screen readers to identify them to users.  Current

[2021-05-18 21:38] passionkind opened #26366 "@emotion/babel plugin not working with `experimentalStyled as styled`"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The emotion babel plugin does not seem to be working i.e. labels are not applied to classNames.

## Expected Behavior 🤔

Labels should be applied to classNames as it is with `@emotion

[2021-05-18 21:41] pkuczynski opened #26367 "[DatePicker] add support for date format pulled from react-intl"
`DataPicker` requires wrapping the whole app into `LocalizationProvider` and provide a date formatting function. Optionally user might provide a locale. Ideally `LocalizationProvider` could get the locale from `react-intl` provider/context. Even better if formatting function would not be needed at all in such case and `formatDate` from `react-intl` could be used?

[2021-05-18 23:07] m4theushw commented on #13597
@oliviertassinari I was thinking about not allowing `nav > button`. The `ListItem` should always render a `li`. It makes more sense given the name of the component. If the user wants to change the root element, the `component` prop can be used, not `button`.

With the `button` prop, we have to check if someone tries to do the following:

[code]

[2021-05-19 00:32] ImranHaider313 commented on #24785
@oliviertassinari I can I work on this (on the weekend) ?

[2021-05-19 08:12] tommybernaciak commented on #26358
@mnajdova just checked again, found the issue, Skeleton is now a part of core package and I had it imported from lab.

[2021-05-19 08:12] #26358 closed

[2021-05-19 08:14] #26360 closed

[2021-05-19 08:16] AbdUlHamedMaree opened #26369 "[Grid] Add support for new breakpoints"
I need to add `xxl` breakpoint, I followed the [docs](https://next.material-ui.com/customization/breakpoints/#custom-breakpoints) to create a custom breakpoint, however, when i use the `Grid` component it gives me a TS warning.

using the `"@material-ui/core": "^5.0.0-alpha.33"`

[code]

here is the custom breakpoint code

[code]

Please advice me where i'm doing wrong.

[2021-05-19 08:49] anurodhmohapatra commented on #24405
I have one query. I was reading v5 beta documentation and was looking at some code. As MUI migrating to emotion. In documentation are you going to use backticks or object method for styling?

`const Main = styled('main', { shouldForwardProp: (prop) => prop !== 'open' })(
  ({ theme, open }) => ({
    flexGrow: 1,
    padding: theme.spacing(3),
    transition: theme.transitions.create('margin', {

[2021-05-19 09:07] eps1lon commented on #26367
I'm not familiar with react-intl anymore. But couldn't you create a custom component for your use case? It would help if you could provide some code examples how you're currently using react-intl and how their locale relates to the locale in our `LocalizationProvider`.

[2021-05-19 09:11] ronnyroeller opened #26371 "Adjust elevation of Autocomplete.Paper"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The `<Autocomplete>` component hardcodes the elevation of the popup paper to `1`. We would like to change this to a higher elevation.

`<Autocomplete>` allows to set the props of the listbox in the popup via `ListboxProps` but not paper aroun

[2021-05-19 09:59] mnajdova commented on #26371
Did you try to override the elevation with styles? Was there some issue with this approach?

[2021-05-19 10:10] oliviertassinari commented on #26369
I had a quick look, this could be the beginning of a solution:

[code]

But we could likely do better by supporting removed breakpoints. W

[2021-05-19 10:18] ronnyroeller commented on #26371
Do you mean something like this?
[code]

If so: That's indeed the workaround that we ended up with. The issue with this approach is that it leads to code duplication (repeat the border/background definition from `overrides.MuiPaper`), which makes it harder to reason about and to maintain.

[2021-05-19 10:25] mnajdova commented on #26371
I see, will it help if for example, you could provide a completely different component instead of using the `Paper`, for example with API like:

[code]

In this way, you would be able to completely replace the `Paper` component (without the styles applied). We plan to support this API (probably after v5.1).

Note that this API would allow you to change & provide props to every different slot insid

[2021-05-19 10:25] oliviertassinari commented on #24405
We use the JavaScript object syntax to one exception. We use the CSS template for the customization demos with the unstyled components.

[2021-05-19 10:28] mnajdova commented on #26369
Interesting, how would we solve the `propTypes`? I almost think like it's better to have one prop for defining these values under an object where the keys would be the breakpoints (similar as it is done for example in the `Container`'s `maxWidth`), we would that way have predictable props set.

[2021-05-19 10:31] mnajdova commented on #26366
Thanks for the report. We are currently working on adding documentation for the `experimentalStyled()` (will be soon exported as a `styled()` from `@material-ui/core/styles`.) The difference between the MUI's experimentalStyled(), is that it provides:
- default theme when none is available in the context
- sx prop on the new component
- support for theme's styleOverrides & variants

If you don't n

[2021-05-19 10:37] oliviertassinari commented on #26369
Grid is not using `exactPropTypes` so I had assumed that we don't need to do anything about the prop-types.

The downside is with the boilerplate it adds. Developers have more to read and write.

[2021-05-19 10:45] mnajdova commented on #26369
Got ya, thanks for the clarification.

[2021-05-19 10:51] natac13 commented on #24405
And correct me if I am wrong but when there are key frames involved? Such as circular progress?

[2021-05-19 10:54] jie-chen opened #26372 "Request for an outlined forward and backward icon s"
Hi, it would be great if we could have outlined forward and backward icons like this (https://icon-icons.com/icon/back-button-circle/79559) . There are only non-outlined ones in https://next.material-ui.com/components/material-icons

[2021-05-19 10:54] #26372 closed

[2021-05-19 10:55] oliviertassinari commented on #26372
@jie-chen the icons are imported from https://fonts.google.com/icons, we have no controls over them.

[2021-05-19 11:54] ronnyroeller commented on #26371
That would indeed be a great solution, @mnajdova

[2021-05-19 12:03] CAIOHOBORGHI commented on #26359
Thanks, that worked!

[2021-05-19 12:04] #26359 closed

[2021-05-19 12:12] hmaack commented on #14948
Works as expected 👍

[code]

[2021-05-19 12:15] JonathanKayumbo opened #26373 "Runtime error"
TypeError: Failed to construct 'URL': Please use the 'new' operator

Material ui icon , running on chrome browser

[2021-05-19 12:22] eps1lon commented on #26373
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-05-19 12:26] pdrevicky opened #26374 "[Button] Safari: Text Color not changed when enabling/disabling button"
When enabling or disabling button in Safari color is not immediately changed to that specified by css.  When re-rendered it seems to work fine. But I dont know how to force that in Codesandbox.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current

[2021-05-19 12:29] mnajdova commented on #26374
Maybe duplicate of https://github.com/mui-org/material-ui/issues/26251?

[2021-05-19 12:43] oliviertassinari commented on #26112
@arpitBhalla Do you have any updates? This one is important for the DX on the documentation as well as our brand, this looks neglected:

<img width="543" alt="Screenshot 2021-05-19 at 14 43 12" src="https://user-images.githubusercontent.com/3165635/118814582-9811f280-b8b0-11eb-81ef-a38755ab90fa.png">

[2021-05-19 12:45] arpitBhalla commented on #26112
@oliviertassinari Today was my last exam, I will complete it very early

[2021-05-19 12:50] LvChengbin commented on #24841
I got the warning message from Material-UI v5:

[code]

@mnajdova is it working as intended?

[2021-05-19 12:55] vrushank opened #26375 "How to style Select component's label"
I want to style select component's label bit different than normal input. I was ablt to do that for Autocomplete but I don't have any selector for select component's label.

Note: I want to style it on component level and not page level.

Please guide me if I'm missing something.

[2021-05-19 12:57] mnajdova commented on #24841
You should use the utilities from `@material-ui/styles`, we are in the middle of removing the `@material-ui/styles` from `@material-ui/core/styles`. If you are using the one from `@material-ui/core/styles` it basically won't do anything (ts & js). Use the one from `@material-ui/styles` if you would still like to preserve the previous behavior.

[2021-05-19 12:58] #26374 closed

[2021-05-19 13:00] pdrevicky commented on #26374
duplicate

[2021-05-19 13:39] valdeirch opened #26378 "[Autocomplete] Popper is not closing when Autocomplete is disabled"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I've two autocompletes that the second depends of fill the first one to then be disabled or not but when I fill the first autocomplete and then open the second autocomplete options an

[2021-05-19 14:33] LvChengbin opened #26380 "Can't get correct position after changing spacing of icons in <Rating /> component in v5."
For some reasons, I need to change the spacing between icons in `<Rating />`  component, but it causes the component cannot get correct position of each icons.

Here is the demo:

https://codesandbox.io/s/halfrating-material-demo-forked-0lh9f?file=/demo.js:388-393

When you move your mouse on the second star, the third one will be highlighted.

[2021-05-19 15:09] taskmonk opened #26381 "[DataGrid] Filtering a column and then selecting all rows, selects even the hidden rows"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a column is filtered, on clicking select all checkbox, only the filtered rows should be selected. Currently it selects all rows

## Expected Behavior 🤔

newSelection.selectionMod

[2021-05-19 16:03] juanmzaragoza commented on #20939
I have the same issue

[2021-05-19 16:17] arpitBhalla commented on #26112
@siriwatknp @oliviertassinari Popper js website uses `@docsearch/react`, Should I have to install this, or I have to use Mui's Dialog, or edit the css. Please Guide

[2021-05-19 16:53] oliviertassinari commented on #26112
I was thinking of salvaging what we can from `@docsearch/react`. It seems that it would already be a great improvement over what we have.

Maybe we could push it even further with our own components but hard to tell how without understanding how docsearch is falling short first. It's also not clear if we have the bandwidth to make something great (it has to be above average).

[2021-05-19 17:17] arpitBhalla commented on #26112
So it would be great to use `@docsearch/react` for now, I guess

[2021-05-19 18:03] arpitBhalla commented on #26112
![image](https://user-images.githubusercontent.com/55053424/118861686-69b90500-b8fa-11eb-895b-30b6309406df.png)

Popper uses Gatsby, https://github.com/popperjs/website/blob/master/gatsby-browser.js, I am not able to find the way, Please help

[2021-05-19 18:36] goffioul opened #26384 "[ButtonBase] Check if `margin: 0` can be removed"
I have a CSS injection problem that is illustrated by this sandbox:
https://codesandbox.io/s/material-ui-v5-css-injection-order-9y2oe

In essence, I define a component as follow:
[code]

I then use the component to host a series of buttons:
[code]

The problem is that `Button` component sets margin to 0. This rule has the same priority as the one (`& > *`) used in the container. So the end result

[2021-05-19 18:55] arpitBhalla commented on #26112
![Screenshot-20210520002520-1366x768](https://user-images.githubusercontent.com/55053424/118868509-e6031680-b901-11eb-85f3-69c73215dcb3.png)

[2021-05-19 19:21] edgar-arroyo-by opened #26385 "Popover get broken when using an image as children."
- [X ] The issue is present in the latest release.
- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After opening the popover twice, if its children is an image, it get broken.

## Expected Behavior 🤔

After opening the popover twice, it continue working properly when having an im

[2021-05-19 19:29] Anna-log7 opened #26386 "[DialogTitle] The h6 class is applied to dialog titles instead of h2"
The documentation and code both indicate that an h2 should be the default variant for `DialogTitle`, but the h6 class is applied.
This line of code has the component set to h2, but the variant set as h6.

https://github.com/mui-org/material-ui/blob/7df94e4235fc6fc98ec7c13710be45bdbbd86dbe/packages/material-ui/src/DialogTitle/DialogTitle.js#L24

This results in `<h2 class="MuiTypography-root MuiTyp

[2021-05-19 19:32] Yoshuag11 commented on #26349
Hi @eps1lon , it's working now, thank you.... I restarted my machine a couple of times and know it's working just fine.
The reason why I opened this issue is that I had faced this situation for at least one week!

Thank you for the support.

[2021-05-19 19:33] oliviertassinari commented on #26112
It looks like an interesting start. Note that we will also render it in https://next.material-ui.com/branding/about/ afterwards.

[2021-05-19 19:34] #26330 closed

[2021-05-19 19:58] luminaxster commented on #25829
This is not relevant but related:
 On release 5.0.0-alpha.24, a breaking change was listed as non-breaking:

- [styled-engine] Rename StylesProvider to StyledEngineProvider (#24429) @mnajdova

The failure is now observable on v5.0.0-alpha.34:

-    [core] Move `StyledEngineProvider` to `@material-ui/core/styles` (#26265) @mnajdova

I confused the two providers:
[code]

[2021-05-19 20:03] #26349 closed

[2021-05-19 20:44] Gautam-Arora24 commented on #25195
@oliviertassinari Can I work on this issue?

[2021-05-20 05:57] a-laughlin commented on #20012
Using Alpha 34.  Encountering an issue with dependencies.  Yarn 2 has strict dependency requirements for deterministic builds.  It appears many material components use dependencies that aren't specified in their package.json.  That leads to non-deterministic behavior based on assuming the dependencies are defined somewhere else.  In yarn 2 with esbuild through vite, builds fail outright due to the

[2021-05-20 07:54] sajidfrommerqata opened #26392 "disableColumnReorder not working"
I set disableColumnReorder to true but I can reorder the columns of the table.

Video: https://drive.google.com/file/d/15TAR8d_aED1OVNETtdPkSml4IKRfSt4w/view
SandBox: https://codesandbox.io/s/material-demo-forked-7hvfc

[2021-05-20 09:07] mnajdova commented on #26384
Generally, none of the components should set margin as a rule of thumb. We plan to revisit this issue, which is specific to the Button component. My suggestion would be instead of using `& > *`, to use `& > :not(style)`, it will allow you to bump specificity. We use it in the `Stack` component. Here is a working sandbox: https://codesandbox.io/s/material-ui-v5-css-injection-order-forked-ie3oo?file

[2021-05-20 09:10] mnajdova commented on #26385
Can you clarify what means broken? I can open the `Popover` on the link multiple times without issues.

[2021-05-20 09:28] itsravenous commented on #19137
Sorry, @oliviertassinari, it was a while before I got back to this feature - your suggestion works great! For anyone else wanting to just get it working, this will show text labels for the first two selected options and a "+ n more" label when more than two are selected.

I wanted plain text labels, but you could also use the `<Chip>` component (as shown in [the examples in the autocomplete docs](

[2021-05-20 11:03] goffioul commented on #26384
Thanks for the trick (I already used a workaround in my code, using `!important`). The question was more whether it's possible to have some sort of control on the injection order, or one must use CSS specificity instead.

[2021-05-20 11:10] mnajdova commented on #26384
Emotion is injecting the CSS based on the rendering order, so you cannot really change this. In cases like this, increasing specificity is required.

[2021-05-20 13:32] edgar-arroyo-by commented on #26385
hello there @mnajdova, thanks for your comment

After the first time, you will notice that the position is changed. Like if it lost its anchor element position.

[2021-05-20 14:29] matheusmb commented on #25771
@oliviertassinari how to use your v5 example with Typescript? I tried here https://codesandbox.io/s/brave-pine-mhmf2?file=/index.tsx but I'm receiving the following TS Error:

[code]

Is the type definition correct?

[2021-05-20 15:39] neomicho85 opened #26395 "OutlinedInput incorrect legend width"
FonrContol + InputLabel + OutlinedInput it's not visually correct, no notched it's visible

## Current Behavior 😯

`<legend style="width: 0.01px">Label text</legend>`

## Expected Behavior 🤔

`<legend style="width: { **label text length** }px">Label text</legend>`

[2021-05-20 16:22] savioseb commented on #10907
I found this here: https://kevinyckim33.medium.com/withstyles-material-ui-override-d8f772341390

Wrap FormControlLabel with StyledFormControlLabel and use that in your code instead like so:

    import FormControlLabel from '@material-ui/core/FormControlLabel'
    import { withStyles } from '@material-ui/core/styles'
    export const StyledFormControlLabel = withStyles({
      root: {
        colo

[2021-05-20 16:56] cameronamini opened #26398 "Node modules error when using material-ui v5"
I'm trying to use a material-ui mobile time picker from the new material ui release, but I'm getting a node modules import error I can't figure out. I tried updating my dependencies, and no help.

Here are some screenshots of the error messages
![image](https://user-images.githubusercontent.com/66532643/119017897-7cb6ee00-b969-11eb-80f8-187f9aa7486d.png)
From console:
![image](https://user-images.

[2021-05-20 16:57] Johnrobmiller opened #26399 "mui extremely poor performance: takes a long time to load with periods of ugly css jank during the load"
I'm been given the task of fixing a bug for a website that is using mui autocomplete.  The page is needing to fade in slowly once all the page contents have loaded, but mui is making this extremely difficult.  I did some profiling, and it looks like it's taking randomly between 50-300ms just to process the mui styles alone, which is just ridiculous (see the image attached; the red "Layout Shift" b

[2021-05-20 17:35] ngnathan commented on #26251
Looks like it's only the latest Safari versions (14.1 +, and iOS 14.5+).

This seems to be happening for me in desktop safari and is happening with my project now.  I tested your site (https://6ch6k.csb.app/) and it has the same issue for me.
macOS Big Sur 11.3, Safari 14.1

(And on my non-updated iPhone, iOS 14.4.2, the color works properly)

When inspecting the element, the css seems to be right

[2021-05-20 18:59] cameronamini commented on #26398
Solved: turned out to be an issue related to the fact that I upgraded create-react-app to react-scripts v4, when I reverted back it worked

[2021-05-20 18:59] #26398 closed

[2021-05-20 19:36] sarahannnicholson opened #26401 "[Select] Arrow / caret doesn't scale with theme typography changes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using a `Select` component with custom theme typography causes arrow / caret to not be vertically centered.
![image](https://user-images.githubusercontent.com/10520771/119036927-344a0

[2021-05-21 06:31] tar-aldev opened #26403 "Better testability for <Chip /> component with delete icon"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

There should be an easy and stable way of accessing delete icon in the Chip component;
## Examples 🌈
E.g. Trying to click on that icon now is not much possible. The only possible way is by using class which is not reliable at all.

Here is ho

[2021-05-21 08:17] Dru89 opened #26404 "TreeView with multiSelect fails across deeply nested children."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Consider a `TreeView` that looks like:

* Parent
  * Child
    * Grandchild
* Parent Sibling

Currently, if you are using a `TreeView` with multiselect and you try to select the range

[2021-05-21 09:17] Quintis1212 commented on #26385
Hi @edgar-arroyo-by  ) I will try to fix this

[2021-05-21 09:55] GDownes opened #26408 "Reintroduce Hidden component"
Reintroduce the hidden component.

https://material-ui.com/components/hidden/

The removal of the hidden compatibility breaks backwards compatibility.
Currently the sx property makes it difficult to replicate the functionally of the hidden component.
I think it has been prematurely removed.

For example:

[code]

becomes,

[code]

Having to list all the breakpoints in the example above isn't ideal

[2021-05-21 09:58] GDownes commented on #26250
Hidden supports certain usecases in a cleaner fashion than the sx property

https://github.com/mui-org/material-ui/issues/26408

[2021-05-21 09:58] GDownes commented on #26229
Hidden supports certain usecases in a cleaner fashion than the sx property

#26408

[2021-05-21 10:51] mnajdova commented on #26408
@GDownes you don't need to specify all breakpoints, see https://github.com/mui-org/material-ui/pull/26348/files Does this clarify things?

[code]

See https://codesandbox.io/s/nifty-banzai-gb6co?file=/index.js

[2021-05-21 10:53] mnajdova commented on #26386
After reading trough the discussion, I think that we should replace the variant to correspond to the tag used:

[code]

Tagging @oliviertassinari as he was leading the initial discussion.

[2021-05-21 11:12] GDownes commented on #26408
Thanks for the quick reply:
It's seems I do need to specify all breakpoints:

See: [](https://codesandbox.io/s/upbeat-rosalind-6ch0t?file=/index.js)

In this example I'd expect xs to also be hidden

[2021-05-21 11:30] mnajdova commented on #26408
@GDownes it works the other way around, the object in the sx breakpoints specifies up(), that's why you need to specify the lowest breakpoint (xs to be hidden), and the next breakpoint for which you want the component to be shown. On the example you've sent, change `sm` with `xs` and it would be hidden for both `xs` and `sm`

[2021-05-21 11:44] Greakz opened #26409 "Error displaying the current focus of the MenuItem that is selected in a Select (Firefox 88.0.1)"
Seen in my own Project and it happened on: [Material Ui Next Selects Page](https://next.material-ui.com/components/selects/)

Reproduce:
1. Click on the Select. (The Menu should drop down)
2. Start moving your choice with Arrow-Up and Arrow-Down (no Preview of the selection is shown)
3. press Space or Enter to select the active MenuItem (the Item that should be indicated, but it isn't right now)

[2021-05-21 12:02] GDownes commented on #26408
@mnajdova Thanks for the clarification. That's makes sense.

[2021-05-21 12:10] oliviertassinari commented on #26386
h6 is the correct typography variant, per https://material.io/components/dialogs#simple-dialog.

[2021-05-21 12:10] #26386 closed

[2021-05-21 12:29] eps1lon opened #26410 "[styled] Implicit styleProps should be explicit"
## Summary 💡

`styleProps` is currently repeating the same mistakes as `React.FC` with `children`.
By default it assumes a generic shape that can result in writing code that's impossible at runtime when we should be able to verify it statically

## Examples 🌈

[code]

## Motivation 🔦

This currently type-checks when it should fail:

[code]

Note that you can get better type-safety with explicit pr

[2021-05-21 14:08] mnajdova commented on #26403
There is nothing special about this element. You can query by only the `MuiChip-deleteIcon` class (it is reliable, the class will always be there). Take a look on https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Chip/Chip.test.js for inspiration.

[2021-05-21 14:08] #26403 closed

[2021-05-21 14:11] mnajdova commented on #26399
@Johnrobmiller it's hard to guess what may be the issue without reproduction that we can debug. Try to replicate what you have on codesandbox, you don't have to share your original code. Tryint to reproduce it on clean slate may help you even understand if the issue is really about the component or something unrelated.

[2021-05-21 14:13] mnajdova commented on #26395
@neomicho85 please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem. It's hard to tell what is the problem like this.

[2021-05-21 15:14] neomicho85 commented on #26395
@mnajdova for sure, below it's the link
[codesandbox - outlined field incorrect legend width](https://codesandbox.io/s/elegant-haibt-ypc08?file=/src/Demo.tsx)

Hope this can help.

[2021-05-21 15:45] #24405 closed

[2021-05-21 16:44] oliviertassinari commented on #24405
Well done everybody in the migration! 👏

[2021-05-21 16:52] siriwatknp commented on #26401
@sarahannnicholson would you like to create a PR, your solution looks good to me.

[2021-05-21 18:19] juliohintze opened #26415 "ThemeProvider doesn't work when there is Mui components outside of it"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

ThemeProvider does not apply the theme when there is other Material-UI components outside of it.
Below I provided an example where this happens, but when you change something in codes

[2021-05-21 20:02] oliviertassinari commented on #25578
We just had a new bug report which is a duplicate of this one: https://github.com/mui-org/material-ui-x/issues/1721.

It seems that [the solution](https://github.com/mui-org/material-ui/issues/25578#issuecomment-817852931) we are currently leaning to is to wait for a rewrite of the Select to not use a Modal on desktop. I'm personally advocating for [resolving](https://github.com/mui-org/material-u

[2021-05-22 04:07] Lonest90 opened #26416 "[Tooltip] does not close when being controlled"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the tooltip is controlled and the handleClose is shared for the title, if you create a close button and use the handleClose, the tooltip is closed, but after a while it is reopen

[2021-05-22 05:17] mouimet-infinisoft commented on #22434
HI folks, I have developed an Upload component for personal use, I would be interested in adapting to Material-UI.  I read documentation on how to contribute. Before going further, is there something done on this one? Anyone wants to share? Regards!

[2021-05-22 05:46] Anna-log7 commented on #26386
From what I can tell after reading that page, `h6` isn't specified as the "correct" heading for a dialog though it is used in the Reply Material Theme and the Crane travel app theme as theming examples.

This page in the documentation https://material-ui.com/api/dialog-title/ lists `h2` as the default typography variant for `DialogTitle` when it's not the case in reality.
![image](https://user-ima

[2021-05-22 07:05] #26404 closed

[2021-05-22 08:09] oliviertassinari commented on #22434
@mouimet-infinisoft a possible great first step would be to share what you have built as a codesandbox. This would allow to start a conversation on how to best approach the problem.

[2021-05-22 08:17] oliviertassinari commented on #26386
Interesting, the h2 in the API description is a reference to the DOM node. The pain you have seem very much something we aim to fix in #19696. And if I understand it correctly, you want to customize the typography variant of the DialogTitle in the theme.

[2021-05-22 10:12] jonas-db opened #26417 "The example of drawer does not work with typescript"
fixed

[2021-05-22 10:18] eps1lon commented on #22141
Closing in favor of #22434. A dedicated component would fix existing usages which we can't really do with demos.

[2021-05-22 10:18] #22141 closed

[2021-05-22 11:22] oliviertassinari commented on #13597
@m4theushw Yeah, ok, sounds good. It seems that a more idiomatic structure would be: nav > ul> li > button. In this case,
 I would propose a new **Option 5**:

- `List` always render ul/ol, ul by default.
- `ListItem` always render il
- A list of buttons/links: (nav > ul > li > button > span)

[code]

- A simple list: (ul > li > span)

[code]

- A nested list of buttons/links (ul > li > a + button

[2021-05-22 11:30] oliviertassinari commented on #26415
Duplicate of #15914

[2021-05-22 11:30] oliviertassinari commented on #26415
Fixed in v5: https://codesandbox.io/s/material-demo-forked-sfffk?file=/demo.js

[2021-05-22 11:31] #26415 closed

[2021-05-22 12:51] siriwatknp commented on #26395
@neomicho85 You need to explicitly provide `label` prop to `OutlinedInput`.

[code]

I think I will add it to the demo because I remember encounter this once when I started using `OutlinedInput` also.

[2021-05-22 14:21] dkuznietsov opened #26418 "SpeedDialAction FabProps component generic parameter defaults to 'button' despite set 'href' attribute"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I add `target` and `rel` properties to the `FabProps` attribute of `SpeedDialAction` with `href` set I get a Typescript error, despite the component rendering correctly to `a` and

[2021-05-22 14:43] neomicho85 commented on #26395
@mnajdova / @siriwatknp that solves the issue. Thanks for the feedback
[Demo solved](https://codesandbox.io/s/blue-dream-k9g0d?file=/src/Demo.tsx)

[2021-05-22 15:53] ifeltsweet commented on #18514
We had a similar issue where we were getting filtered options from the backend depending on the current **input** value. As such, the currently **selected** value may or may not have been present in the options returned by the backend which in turn triggered the warning everyone is talking about here.

To solve this we did the following:

[code]

This works exactly how we want it to work, includin

[2021-05-22 16:26] BlackQuests commented on #15155
Thanks for pointing out what fixed it for you! Saved me a ton of work.

For anyone that might face a similar issue in the future: In our case there was a bootstrap import somewhere that conflicted with the styling.

[2021-05-22 16:28] oliviertassinari commented on #15155
@BlackQuests Do you have a reproduction we could look into?

[2021-05-22 16:51] BlackQuests commented on #15155
@oliviertassinari As scottfr already mentioned the issue is caused by Bootstrap so it is not necessarily MUI's fault.
However if you're still interested I edited [a sandbox](https://codesandbox.io/s/material-demo-forked-1z1uo?file=/index.tsx) such that it shows the issue I ran into.

Additionally, in order to reproduce (please note that I'm fairly new to React and MUI):
- Import bootstrap's .css (

[2021-05-22 17:15] oliviertassinari commented on #15155
@BlackQuests Alright, I'm snoozing the issue for now, it will be more interesting to see a reproduction with Bootstrap v5 and Material-UI v5.

[2021-05-22 17:51] oliviertassinari commented on #26304
A couple of thoughts:

1. I'm not sure that the accessibility dimension of the Stepper has been seriously considered in the past. I could find different approaches. But I'm not sure we need to change it:
  - ol > li: https://www.w3.org/WAI/tutorials/forms/multi-page/
  - tabs: https://material.angular.io/components/stepper/overview, http://www.jquery-steps.com/Examples
2. The `TypographyProps` goe

[2021-05-22 19:00] Orbot90 commented on #18166
Is there a workaround to avoid these errors in the current version of MaterialUI?

It seems like this makes it almost unusable - especially with forms, I get hundreds of those errors while updating the state of a form, and writing them all to the console reduces the performance drastically

[2021-05-22 19:24] oliviertassinari commented on #18166
@Orbot90 update to the latest version, this issue should have already been solved.

[2021-05-22 19:29] Orbot90 commented on #18166
@oliviertassinari I seem to be on the latest one already.

material-ui/core v4.11.4
react v17.0.2

Isn't that the latest?

[2021-05-22 19:57] oliviertassinari commented on #18166
@Orbot90 Ok, then v5

[2021-05-22 20:09] Orbot90 commented on #18166
@oliviertassinari has it been released yet? I saw in the material ui website that the currently released version is 4.11 and v5 will be only in September 2021, right?

And if I try changing version to 5.0.0 in my package.json, it would not install.

Let me prepare a little example that will show the error. I'll get back to you once I make the example

[2021-05-22 20:16] oliviertassinari commented on #18166
See https://next.material-ui.com/getting-started/installation/

[2021-05-22 20:16] #26417 closed

[2021-05-22 20:33] Orbot90 commented on #18166
@oliviertassinari Thanks.
I've just tried it, but I am still getting those errors.

Please see the example with version 4.11 here: https://github.com/Orbot90/material-ui-error-example

[2021-05-22 20:36] oliviertassinari commented on #19696
I have tried to consider all our options. I could find the following:

- **Option 1**: We keep a two DOM node structure but we break down the API. We end up with:

[code]

- **Option 2**: We keep a two DOM node structure and allow developers to append a new typography component, without nesting, it's basically https://github.com/mui-org/material-ui/issues/19696#issuecomment-837013271.

- **Option

[2021-05-22 21:20] Orbot90 commented on #18166
One additional note - seems like the error reproduces only with the development server. If I run a prod build and start it, the errors are not thrown

[2021-05-22 21:40] kishansig10 commented on #18831
Thanks this helps!! 🚀

[2021-05-22 22:45] johnw3d commented on #19145
Any progress or other suggestions on this, the issue @GhassenRjab noted is still present in v4.11.4 - right-clicking outside the context menu fires the contextmenu event on the backdrop div and shows the standard browser context menu, and @nikandlv 's work-around doesn't work as the onContextMenu handler on my list items never gets called.

[2021-05-22 22:54] Orbot90 commented on #18166
False alert - turned out the problem was actually with react-hot-loader reloading hooks weirdly.

Thanks for support and quick answers anyway!

[2021-05-22 23:54] oliviertassinari commented on #25771
@matheusmb Thanks for raising the TypeScript issue. I can reproduce it too. @mnajdova should we fix it?

[code]

---

Regarding native support of the breakpoint values. It could make sense. We have these props on the Dialog and Container components. We would need to do:

[code]

to have

[code]

[2021-05-23 02:11] #26395 closed

[2021-05-23 03:19] dangolbeeker opened #26429 "Complex Button Example Next.js Next/Router"
How can I use Next/Router or add click handlers to the example code? I think this was a good question as many people are starting to use Next.js and the react router example is insufficient for this.

[code]

[2021-05-23 05:57] siriwatknp commented on #26385
@edgar-arroyo-by I believe that this is not a bug in material-ui but an expected behavior because of img is not loaded, so popover cannot calculate the width, after first open image is loaded so the next time you click on the button popover can calculate the width.

I see 2 ways to workaround on this.
1. pass `keepMounted` prop to `<Popover keepMounted />`. This way the img is render and popover i

[2021-05-23 06:01] siriwatknp commented on #26375
This is unclear to me, please provide some image of the ui that you would like to achieve so that other people can suggest the solution.

[2021-05-23 10:34] goldentrash opened #26431 "bv"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
vcvb

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</det

[2021-05-23 10:34] #26431 closed

[2021-05-23 10:34] goldentrash commented on #26431
l;'

[2021-05-23 14:09] oliviertassinari commented on #20012
@a-laughlin I have given it a try and could notice a few issues. I aim to fix them in #26433. Not sure if it's enough. If you have a reproduction, could you open a new issue? Or at least, update your initial comment to include the error message?

[2021-05-23 14:52] icodeforlove commented on #5750
Hopefully this will be fixed soon.

For our use-case we we were having issues with fullscreen dialogs so we just capture the `window.scrollY` on load, and then do a `window.scrollTo` to restore the original scroll. The only issue we noticed is that you may still see the background moving but at least the user does not end up on a different location.

[2021-05-23 16:04] OoDeLally commented on #22063
I had the same problem with a slightly different configuration.

[code]

`levels` is an array of integers, and therefore `level` is an integer.

```value={level} ``` does not work, no button is shown as active.
```value={String(level)} ``` does work.

[2021-05-23 16:17] oliviertassinari commented on #22063
@OoDeLally Do you have a reproduction with the latest version (v5)?

[2021-05-23 16:23] OoDeLally commented on #22063
@oliviertassinari  https://codesandbox.io/s/togglebuttongroup-number-forked-u6kr7?file=/demo.js

[2021-05-23 16:27] OoDeLally commented on #22063
Aha this is my bad, it doesnt work because the `onChange` use the event as first arg.
This works https://codesandbox.io/s/togglebuttongroup-number-forked-u6kr7?file=/demo.js

[2021-05-23 19:35] oliviertassinari commented on #26032
@baymax88 I had a closer look at the issue. It's currently not possible.
However, as an alternative to a hook API, we could expose a `Header` customization slot.

[2021-05-23 19:53] oliviertassinari commented on #26429
https://next.material-ui.com/guides/routing/ should answer your question.

[2021-05-23 19:53] #26429 closed

[2021-05-24 07:24] LeoLozes commented on #19427
@oliviertassinari any similar workaround for the DataGrid? I was trying to override MuiDataGrid styles with createTheme, but it seems it's not possible yet (at least with TS). Since the DataGrid theming documentation only refers to v4, what is the plan for v5?

Thanks!

[2021-05-24 08:59] k290 opened #26436 "MuiTabPanel is missing from the Overrides typescript typings"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

overrides.d.ts does not contain MuiTabPanel

According to https://material-ui.com/api/tab-panel/#component-name it should be available
## Expected Behavior 🤔

overrides.d.ts contains

[2021-05-24 10:15] oliviertassinari commented on #19427
@LeoLozes Thanks for raising the problem. Yes, great idea. We need to do the same for MUI-X. Issue opened:  https://github.com/mui-org/material-ui-x/issues/1755.

[2021-05-24 10:19] eps1lon commented on #26409
Thanks for the report.

Confirmed that the focus-visible indicator isn't working (https://60a911e531cd850007494635--material-ui.netlify.app/components/selects#BasicSelect)

[2021-05-24 10:23] eps1lon commented on #13597
This looks good except two things:
1. `variants` should be different components not props
1. why do we need this nesting and not just `<List><ListItemButton /><ListItemText /></List>`?

[2021-05-24 10:32] oliviertassinari commented on #13597
Do you mean, something in this order? Sounds fair

 - `<List variant="ordered">` -> `<OrderedList>`
 - `<List variant="unordered">` -> `<UnorderedList>`
 - `<List>`
 - `<List variant="nav">` -> `<NavList>`

What would be the underlying DOM structure of these components? List -> `ul` and ListItemButton -> `li > a`?

[2021-05-24 10:44] Avivhdr opened #26437 "Unclear error message in Autocomplete "(intermediate value).filter is not a function""
[Code Sandbox](https://codesandbox.io/s/material-demo-forked-98vyk)

`TypeError: (intermediate value)(intermediate value)(intermediate value).filter is not a function`

The error comes from passing an object instead of an array to `value`.

It took me some time to see it because the error message was not clear.

[2021-05-24 13:12] florianbepunkt opened #26438 "Using @material-ui/styled-engine-sc, TextField with label throws error"
Using @material-ui/styled-engine-sc the <TextField> component errors if provided with a label

[code]

- [x ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Component throws an error

## Expected Behavior 🤔

Render text field

## Steps

[2021-05-24 13:42] florianbepunkt commented on #26438
I checked the source code and indeed `styleProps.color` is undefined. I can fix this by using `styleProps.formControl.color`

[2021-05-24 14:23] baymax88 commented on #26032
Thanks for your update.
Hope that available as soon as possible.

[2021-05-24 14:51] sertunc opened #26439 "Overlapping of label and text in select control"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I assign a nullable number field to the select control, the label and texts are confused.

## Expected Behavior 🤔
The label should be above

## Steps to Reproduce 🕹
click "get val

[2021-05-24 15:11] nApTu3aHs commented on #10740
@oliviertassinari Hello. It looks like I've reproduced this error.
Here is the link: https://codesandbox.io/s/material-demo-forked-l479u?file=/demo.js
When the drawer is open, the tabs ignores the width of the drawer and as a result, a horizontal scroll appears on the page.
If the screen is 1000 pixels wide, the drawer is 100 pixels, then the tabs will be 1000 pixels wide instead of 900.

[2021-05-24 15:39] Idonoghue opened #26440 "[Autocomplete] 'renderTags' ignored when 'multiple' is false"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On v5 alpha, when passing `renderTags` to Autocomplete when `multiple` is false the renderTags prop will be ignored.

## Expected Behavior 🤔

`renderTags` should be used to render the

[2021-05-24 16:15] oliviertassinari commented on #10740
@nApTu3aHs Thanks for the reproduction. I would propose this fix:

[code]

Do you want to work on a pull request? :)

[2021-05-24 16:38] vicasas commented on #19696
With option 3, if you want to do something custom, should you stop using `DialogTitle`? If not used, the root element styles would be lost and it would be left to the developer to add minimal styles (example padding)

[2021-05-24 17:54] ZeeshanTamboli commented on #26392
@sajidfrommerqata I am wondering as to how is this working for you as shown in the video? Did you try XGrid component first and then swapped it with DataGrid? Can you refresh codesandbox link and try again? Does not work for me in the provided CodeSandbox link. My OS is MacOS.

Also, `disableColumnReorder` is not available on MIT version. You need to upgrade to the XGrid component to unlock this f

[2021-05-24 18:25] nApTu3aHs commented on #10740
Thanks for the answer.
I tried your solution.
Maybe I didn't understand something, but it doesn't work exactly as I expected.
I recorded a short video explaining the problem:
https://www.youtube.com/watch?v=nevWI49kjw8
Or is it supposed to work this way?

[2021-05-24 18:37] oliviertassinari commented on #10740
@nApTu3aHs I don't understand, what's the issue in your recording?

[2021-05-24 18:44] oliviertassinari commented on #24511
Closing as a solution was provided in https://github.com/mui-org/material-ui/issues/24511#issuecomment-839690080.

[2021-05-24 18:44] #24511 closed

[2021-05-24 18:52] nApTu3aHs commented on #10740
@oliviertassinari The horizontal scrolling at the beginning of the video is not removed when adding "width: calc (100% -100px);"
The horizontal scroll is removed only by adding "width: calc (100% -100px);" to the <main> component (top level site component) (at the end of the video)

[2021-05-24 18:56] oliviertassinari commented on #10740
@nApTu3aHs Ok, so we are good, https://github.com/mui-org/material-ui/issues/10740#issuecomment-847156299 applies the width on the `<main>` element.

[2021-05-24 19:14] nApTu3aHs commented on #10740
@oliviertassinari The problem is not which component is being used.
If I wrap <Tabs> in <main> instead of <Grid> (like in the last video), the horizontal scrolling problem remains.
Here's a video (wrap Tabs directly in main):
https://youtu.be/AzTbvs1pqwg

[2021-05-24 19:14] nApTu3aHs commented on #10740
The problem is not which component is being used.
If I wrap <Tabs> in <main> instead of <Grid> (like in the last video), the horizontal scrolling problem remains.
Here's a video (wrap Tabs directly in main):
https://youtu.be/AzTbvs1pqwg

[2021-05-24 19:15] nApTu3aHs commented on #10740
The problem is not which component is being used.
If I wrap Tabs in main instead of Grid (like in the last video), the horizontal scrolling problem remains.
Here's a video (wrap Tabs directly in main):
https://youtu.be/AzTbvs1pqwg

[2021-05-24 19:24] CAIOHOBORGHI commented on #16947
Are you guys planning to make makeStyles obsolete? I

[2021-05-24 19:27] rsslldnphy opened #26441 "v5 Box sx prop codemod doesn't work when MUI imported with an alias"
The codemod to convert `Box` style props to the `sx` prop syntax doesn't work if material UI is imported into a module alias, i.e. `import * as UI from "@material-ui/core";`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Running

[2021-05-24 19:44] oliviertassinari commented on #10740
@nApTu3aHs Then please provide a new minimal reproduction, the issue seems fixed with the proposed patch in https://codesandbox.io/s/material-demo-forked-utgji?file=/demo.js.

[2021-05-24 19:44] oliviertassinari commented on #16947
@CAIOHOBORGHI Hopefully, this is the long term outcome, yes.

[2021-05-24 20:16] jbojcic1 commented on #24511
@oliviertassinari @eps1lon so what I wanted is a way to have a custom datepicker icon and and that click/tap on it opens the datepicker

[2021-05-24 20:17] nApTu3aHs commented on #10740
@oliviertassinari Oh sorry. I was wrong. Your solution actually works. Thanks for your patience and time.

[2021-05-24 23:58] mnesterenkons commented on #26251
For what it's worth, we're seeing this exact issue with Safari 14.1. We have buttons that are initially disabled. When they transition to an enabled state, nothing visual happens. They appear disabled and you can't click them.

We verified the props going in are correct and see the CSS class names change on the button elements. The workaround we have in place is very similar to the one above. We h

[2021-05-25 07:28] siriwatknp opened #26442 "[RFC] ListItem improvement"
# Problem

Regarding to #13597

The implementation of `ListItem` is complex to understand and does too many things that developers does not expect.

- render `ListItemSecondaryAction` inside `ListItem` cause the markup to change

[code]

    This cause a lot of confusion to developer. Moreover, the `ContainerProps` is added for customization which add more API for the developer to know.

- when `b

[2021-05-25 08:12] bc2012 commented on #22426
**moyo uses Material-UI!**

<img width="1409" alt="moyo_website" src="https://user-images.githubusercontent.com/2817945/119462948-9babea80-bd84-11eb-80f3-7175393b2751.png">

[moyo](https://uxmoyo.com) is a UX research app

- Design interview scripts
- Schedule testing sessions
- Take notes and stay organized
- Use moyo's smart quote feature to easily gather your insights.

[2021-05-25 08:16] nlafleur opened #26443 "TextField type number arrows not working Firefox 88.*.*"
The up- and down-arrows of the TextField type "number" stopped working after updating Firefox to version 88.0.1.

- [X ] The issue is present in the latest release.
- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Only 1 pixel on the far right of the TextField type number works, wh

[2021-05-25 08:40] ErikParso opened #26445 "[Slider] How to set minimum range in range sliders"
Hi, I cannot find it in any documentation, but is it possible to set minumum range in slider with multiple values ? I want to use slider  as percentage proportion picker and want to restrict each part to take at least 10%. This is why i need to set minumum distance between points to be 10 somehow.
![image](https://user-images.githubusercontent.com/35962203/119467171-91b6c700-bd45-11eb-905e-8805f04

[2021-05-25 09:35] michal-perlakowski commented on #26445
This is possible in V5, see the [minimal distance demo](https://next.material-ui.com/components/slider/#minimum-distance).

[2021-05-25 10:54] oliviertassinari commented on #26442
Sounds good.

[2021-05-25 11:45] siriwatknp commented on #26333
I am able to reproduce that value as `number` does not work when click on radio. From investigation, I found the the root cause is in `RadioGroup.js`

[code]

`event.target.value` will always be string, that's how html input works. From my perspective, it is nice to support `number` as value because it is quite intuitive from the developer. The fix is small but I would like to hear from the team i

[2021-05-25 12:08] #26445 closed

[2021-05-25 12:30] michal-perlakowski opened #26449 "[TextField] Autofill detection not working in production"
In production, the TextField label is not shrunk when using autofill:
![image](https://user-images.githubusercontent.com/7311642/119496771-1fa1aa80-bd64-11eb-952e-e2fa84aea627.png)

Demo: https://jsfiddle.net/284y3evu/
Steps to reproduce:
1. Fill in the form and click submit.
2. Choose to save the password in browser.
3. Go back in the iframe, or refresh the page.
4. Use the autofill.

It works fi

[2021-05-25 13:35] RokPersonal opened #26450 "Tab indicator Animates from the left on RTL"
When RTL is enabled in the theme, the tab indicator animates in from/to the far left the same as it animates when RTL is off.  This looks odd, and should be changed when RTL is on to animate in from the right.

Reviewing the code
https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Tabs/Tabs.js
it appears the start position is always set using the left position so it will al

[2021-05-25 13:53] alexstanbury commented on #20671
I'm having an issue with this, using purely the latest v4 components.

When I add a dialog to the DOM using `render` from 'react-dom' my custom theme is overwritten. This doesn't happen when dynamically adding a Typography component for example.

I made a codeSandbox, click the button and you'll see the dialog shows and the theme default button text changes from pink to blue.

https://codesandbox.

[2021-05-25 14:00] alexstanbury opened #26452 "Custom theme is overwritten when dynamically adding a dialog component to DOM"
When I add a dialog to the DOM using render from 'react-dom' my custom theme is overwritten. This doesn't happen when dynamically adding a Typography component for example.

Similar to closed issue #20671 except I am using purely v4 components.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and

[2021-05-25 14:15] itsUndefined opened #26453 "[docs] missing role="link" for Button with Link"
Using the documented way of creating links styled as buttons as seen in https://next.material-ui.com/guides/routing/#button adds wrong role on the rendered element. Specifically it adds `role="button"` making the link undiscoverable from google crawlers. I would at least hope that it was documented that I have to manually type `role="link"` to make links discoverable.

- [x] The issue is present i

[2021-05-25 19:14] dimitropoulos opened #26455 "[docs] "vNaN pre-release""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

visit https://material-ui.com/versions/ and notice that the first item reads `vNaN pre-release`

![Screenshot_20210525_151445](https://user-images.githubusercontent.com/15232461/11955

[2021-05-25 20:49] YuriGor opened #26456 "Added non-passive event listener to a scroll-blocking 'touchstart' event"
Maybe there is some chrome update but I started seeing this warning in chrome for slider.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Well I see this warning on pages with slider, even on docs slide page:
https://material-ui.c

[2021-05-25 21:33] oliviertassinari commented on #26452
@alexstanbury This is the expected behavior in v4. It's close to #15914 but different. In your case, you have two different React mounting points (you didn't you a portal). You have to add a `seed` to the class name generator to isolate the two React trees.

In v5, this is support by default: https://codesandbox.io/s/material-theme-bug-forked-sk6x1?file=/demo.js:868-874.

[2021-05-25 21:33] #26452 closed

[2021-05-25 22:05] oliviertassinari commented on #26333
@siriwatknp Interesting, no objections, a couple of thoughts:

1. We solved the same problem with the Select a different way: #13408. More or less:

[code]

2. We discussed this type problem in the past at #17129.
3. If we go in the proposed direction, the documentation doesn't use the second argument of `onChange`: https://next.material-ui.com/components/radio-buttons/#controlled, we would need t

[2021-05-25 22:24] phoxer commented on #283
Mi solution was added it on the theme overrides.

`overrides: {
    MuiOutlinedInput: {
        input: {
          '&:-webkit-autofill': {
            '-webkit-box-shadow': '0 0 0 100px #000 inset',
            '-webkit-text-fill-color': '#fff'
          }
        }
   }
},`

[2021-05-26 03:55] sktanwar2014 opened #26457 "Include Back Hidden Component in @material-ui/core@next"
i purchased "material-kit-pro-react.devias" and started work on my project, yesterday i installed latest version of material next & here what i seen, hidden component is not exist in this new version. my whole application gone crashed due to new version & i'm not able to install previous version. can you please include hidden component in material-ui/core or suggest me any other replacement in mat

[2021-05-26 06:03] siriwatknp commented on #26453
Nice, do you want to submit a PR. I think it can be added to https://next.material-ui.com/guides/routing/#button in `Button` and `List` code example

The file in the codebase is `docs/src/pages/guides/routing/routing.md`

[2021-05-26 06:37] eps1lon commented on #26457
Sorry to hear you're having trouble.

At this point we don't recommend that libraries should depend on `next` in production. I'd suggest you reach out to "material-kit-pro-react.devias" and report to them that `Hidden` was removed.

Closing as a duplicate of https://github.com/mui-org/material-ui/issues/26408

[2021-05-26 06:37] #26457 closed

[2021-05-26 07:29] Taipan95 opened #26459 "[InputBase] "variants" & "sizeMedium" type does not exist"
I am trying to create multiple sizes for my inputs so I can pass different styles for each size. This seems to not be possible as the component doesn't work like others i.e Button

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Tex

[2021-05-26 08:07] YuriGor commented on #26456
btw other issues related to slider were mine, so it's just non-passive event issue,
according to chrome - would be good to fix it to improve scrolling performance.

[2021-05-26 09:48] YuriGor commented on #26456
Horizontal scroll ((any-directional) pan actually) is very often on mobile screens with or without scaling and performance is also more important for mobile devices.
This warning is about 'touch' event so I guess it's also mostly targeting mobile devices.
Not sure if we have 'mobile' label for issues.

[2021-05-26 09:59] UnderTheMoonspell commented on #17001
Will this ever be fixed? Ive researched around and the only solutions seem to be using virtualization with Autocomplete, which is not a Select (and Ive tried to make the Autocomplete work as a select by disabling typing, but could not make it work), so its really not a solution.

[2021-05-26 10:40] oliviertassinari commented on #26453
What about this heuristic?

[code]

[2021-05-26 10:41] itsUndefined commented on #26453
@siriwatknp  I don't have time for a PR. Someone else can take it!

[2021-05-26 11:14] oliviertassinari commented on #23220
There were also discussions about changing the API from:

[code]

to

[code]

inspired by https://xstyled.dev/. This is superior when you have a long element, the closing tag is more helpful in the latter option (`</x.footer>` is more helpful than `</Box>`).

[2021-05-26 12:47] CAIOHOBORGHI commented on #16947
Does this really makes sense? Styled-components are out there since 2016 and still the vast majority of the material-ui community still chooses to use makeStyles, not because they don't know about the existence of styled-components, but simply because makeStyles is better. It's easier to read, it's pure js, and we just love it... We'll have to convert **tons** of code to be able to use new version

[2021-05-26 13:04] thclark commented on #16947
I must admit, I utterly love makeStyles, find it **far** more intuitive than styled-components or anything else (it's actually the reason why I chose MUI in the first place, and adopted MUI throughout the both companies for which I run development). So I will be extremely sad to see it go, and sadder still to refactor 5+ large webapps to move to the next version of MUI. This is going to cost us th

[2021-05-26 13:31] CAIOHOBORGHI commented on #16947
I understand you @thclark.

I just wanted to raise the question whether this will really benefit/please/help the community.

I'm a MUI user for the last 2 years but never reached their github until recent breaking changes of the v5, guess I may not be the only one and I truly hope for a not-so-radical move towards styled-components as this would mean projects failing and needing to be entirely reb

[2021-05-26 13:35] thclark commented on #16947
@CAIOHOBORGHI understood - probably more useful to [weigh in on the RFC](https://github.com/mui-org/material-ui/issues/22342) rather than here, since this issue is just about the docs.

[2021-05-26 14:03] yurtaev commented on #21293
I'm using `jest.mock` to fix snapshots:

[code]

[2021-05-26 14:59] rmehner commented on #26251
Came here to say we're seeing the same issue.

Example sandbox: https://uy7u5.csb.app

It doesn't work with iOS 14.5.1, iOS 14.6 Safari and also for Desktop Safari Version 14.1.1 (16611.2.7.1.4)

However, it *does* work on Safari Technology Preview Release 124 (Safari 14.2, WebKit 16612.1.11.10)

[2021-05-26 15:06] shadab14meb346 commented on #26453
I would like to take this one, please.
And I am very new to OS so please forgive me for any mistakes and asking more questions.

[2021-05-26 15:07] DStoyanoff commented on #13875
Hey guys,
What about Typography? It seems we cannot pass custom palette colors as it is with the other components :(
Is there a workaround?

[2021-05-26 16:45] MohammedYacub1029 opened #26462 "multiple line tooltip arrow pointer issue"
if we have a material ui tooltip more than one line arrow positing is wrong

- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/39052590/119698593-02a5ce00-be6f-11eb-94d2-e83e5d1df0

[2021-05-26 17:34] mrafei commented on #25336
Hello, this is still happening in v5.0.0-alpha.34 only on `anchor="right"`, left side works fine.
@oliviertassinari

[2021-05-26 17:36] oliviertassinari commented on #25336
@mrafei Do you have a reproduction?

[2021-05-26 17:41] oliviertassinari commented on #13875
@DStoyanoff Are you using v5? Do you have a reproduction?

[2021-05-26 17:59] mrafei commented on #25336
@oliviertassinari Thanks for your quick response, unfortunately its gonna take me a long time because my project is heavily configured with nextjs. Did you say you can reproduce? thats great then :)

[2021-05-26 18:11] sanchitbansal10 commented on #18310
@MichaelFoss, thanks for sharing the codesandbox soln.
I tried that but for some reason the popperRef is not getting attached to the ref I am creating in the class based component.

The value of ref.current is always coming as null.

I checked your sandbox also, and it seems it have the same issue
Can u pls let me know if its working as expected for you

[2021-05-26 18:39] shadab14meb346 commented on #26453
This is what I am thinking to include to explain the ` role='link' ` issue

![screenshot-localhost_3000-2021 05 27-00_08_25](https://user-images.githubusercontent.com/31199288/119713787-bb740900-be7f-11eb-9817-872a1352b757.png)

[2021-05-26 21:13] Pulkit3234 commented on #26453
@shadab14meb346 Are you working on this issue, if not I can take this issue.

[2021-05-26 21:17] mouimet-infinisoft commented on #22434
@oliviertassinari ok perfect, I will prepare a sandbox this week end to open up the discussion! :)

[2021-05-26 21:48] a-laughlin commented on #20012
Hi @oliviertassinari.  Thanks for following up.  Unfortunately, I don't have the original error.  Yarn2 ended up having problems with Lerna as well, and seemed unnecessarily complicated + difficult to debug, so we went back to Yarn 1.  We were also using workspces.

From memory, one of the issues was an unstyled import.  I tried unplugged the datepicker to try to test it.  Yarn 2's unplugged direc

[2021-05-26 22:02] itsUndefined commented on #26453
I think it's a bad idea to let the developer choose the role for links. I like the heuristic to simply remove the role="button" when the `to` prop is detected on the ButtonBase. A lot of frontend developers don't care about accessibility and so I believe that this issue must be handled automatically and no change in documentation should be necessary.

[2021-05-26 22:29] oliviertassinari commented on #26453
@shadab14meb346 For the change in the documentation, I think that it's a good initiative, but we likely want to keep it straight:

[code]

@itsUndefined I think that we have to change the documentation, as our least worse option. We can't know if the component is used to render a button or a link. Not adding a role button would be even worse for when developers render a `div`.

[2021-05-26 22:56] oliviertassinari commented on #25336
can't.

[2021-05-26 22:59] incompletude opened #26467 "Fixed version in example package.json"
It would be easier to know what versions are being packaged in the working example if we had them fixed in the `package.json`. Is there something that prevents this?

https://github.com/mui-org/material-ui/blob/master/examples/nextjs/package.json

[2021-05-26 23:03] eps1lon commented on #26467
I would suspect that `latest` is more descriptive to the majority of our audience compared to `^4.6.2`. Using an npm dist tag also avoids having to bump these when releasing new majors.

So for pragmatic reasons we just use the dist tag because that's conceptually what we want. Why is the exact version interesting here considering the goal is to always install the latest version.

[2021-05-26 23:05] incompletude commented on #26467
Makes sense, thanks for explaining.

[2021-05-26 23:19] eps1lon commented on #26467
I understand that a npm dist tag may be more unconventional depending on your background. Ideally we'd just list the resolved version here e.g. `^4.11.0` instead of `latest`. But we don't have automatic tooling for that. And without automatic tooling the versions will just become stale which is probably more confusing than using `latest`.

So if we could bump them automatically after `yarn release

[2021-05-26 23:34] incompletude commented on #26467
For me it was the fact that I needed stable example for boilerplate and had to pick the versions manually, but I understand the tooling problem. Maybe there is another way to solve my problem.

[2021-05-27 03:36] shadab14meb346 commented on #26453
@oliviertassinari  mentioned it the way you suggested.
This is how it looks like now. If it looks fine I will go ahead and do the PR.

![screenshot-localhost_3000-2021 05 27-09_05_28](https://user-images.githubusercontent.com/31199288/119762117-bab49480-beca-11eb-99f6-8e6d7bbb8552.png)

[2021-05-27 04:39] siriwatknp commented on #26459
@Taipan95 It is able to achieve that but there is a bug in type.
https://codesandbox.io/s/boring-frog-6p87b?file=/src/Demo.tsx

1. **size "large"**
If you want to extends the `size` prop, `styleOverrides` won't work for `size: 'large'` because the implementation only consider `size: "small"`. What you need to do is using `variants`, it allows you to specify a group of matched properties & values t

[2021-05-27 06:19] JeremyGrieshop commented on #17064
The way I implemented this recently is for all tree items to initially have one child, which just a TreeViewItem displaying a Spinner, indicating it's loading.  Then, the when the node is expanded, I go ahead and fetch the items I need for that node and replace its children with its actual children.

[2021-05-27 07:14] Taipan95 commented on #26459
Thank you very much for the quick response, I tried the workaround you suggested and it seems to be working fine. Will have my eyes open for the next release 😄

[2021-05-27 08:39] mrafei commented on #25336
@oliviertassinari actually the problem remains on both left and right anchor if I'm not mistaken.
can you take a look at this and tell me if I'm doing something wrong?
[](https://codesandbox.io/s/temporarydrawer-material-demo-forked-f6yg2)
thanks

[2021-05-27 08:47] Md-Abdul-Halim-Rafi commented on #19957
I did an workaround overriding `MuiSkeleton-root` like this:

[code]

[2021-05-27 09:02] dabretin opened #26469 "unable to styled ListItem (typescript definition)"
I think it's not possible to styled `ListItem` because of the typescript definition of `ListItemProps`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/7630676/119796485-b2b02100-be

[2021-05-27 09:08] oliviertassinari commented on #19957
The new demo in the documentation: https://next.material-ui.com/components/skeleton/#color

[2021-05-27 09:18] sep2 commented on #24109
Can I still use injection point like in v4? I would like Mui to override only some of the css only.

[code]

Mui should override `reset.css`, but not `tailwind.css`

[2021-05-27 09:32] oliviertassinari commented on #14812
I'm closing as we don't use this pattern in the source. So far, we have preferred to access the props at the style level (not the property one) and use an object to map:

[code]

[2021-05-27 09:32] #14812 closed

[2021-05-27 09:34] dabretin commented on #26469
Perhaps I'm completly wrong but I have to try ;)
The typescript definition of `ListItem` is an `OverridableComponent` and the `component` is defined with the `button` property.
The definition explicitly need the two ([look here](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/ListItem/ListItem.d.ts#L122))... Is the `&` must not be an `|` ?

[2021-05-27 09:40] oliviertassinari commented on #24109
@sep2 emotion doesn't provide such capability, only styled components does. The closest is https://emotion.sh/docs/@emotion/cache#prepend. I'm going to open an issue on emotion as I can find any duplicate.

[2021-05-27 10:00] #26459 closed

[2021-05-27 10:22] mnajdova commented on #26416
As far as I know, tooltips should not contain interactive elements. It should contain descriptive text for the element it is associated with. Likely you are using an incorrect component. What is the real use-case? Should you maybe try to use `Popper` or `Popover`?

[2021-05-27 10:37] rawatv opened #26471 "Theme goes for a toss in yarn-workspace based package"
Issue happens when a material UI component is loaded from a package in yarn workspaces. There seems to be copies of Theme context; for some reason the loading of the component from library is changing the order of applied classes.

Having the following repository structure

MAIN-APP
-- App.js
--- contains AppBar and a Card

LIBRARY-COMPONENTS
-- Component-1
--- contains a Card

LIBRARY-UTILS
-- Th

[2021-05-27 10:58] reygj opened #26472 "[Datagrid] Adding live records doesnt update Datagrid in real time"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Live data coming from either a websocket, or a simple delay doesnt update the datagrid in real time with the new record. The total number of records updates on the bottom right but do

[2021-05-27 11:01] #26472 closed

[2021-05-27 11:04] siriwatknp commented on #26450
@oliviertassinari reproduce codesandbox. https://codesandbox.io/s/scrollabletabsbuttonauto-material-demo-forked-z8xeo?file=/demo.js

[2021-05-27 11:10] oliviertassinari commented on #26450
@siriwatknp Thanks, here is an updated version following https://next.material-ui.com/guides/right-to-left/: https://codesandbox.io/s/direction-material-demo-forked-vgygk?file=/index.tsx. I can reproduce the issue too.

[2021-05-27 11:21] ronnyroeller opened #26473 "Hide dropdown icon in <Select>"
We'd like the option to hide the icon in `<Select>` components.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The user could provide `null` for the `IconComponent` or set a flag to hide the icon. This would render the `<Select>` without the icon - and setting the `padding` required for

[2021-05-27 12:05] #26471 closed

[2021-05-27 12:09] rawatv commented on #26471
This is a bug stating the behaviour and a sample code for replicating the issue. What else do you require?

[2021-05-27 12:12] eps1lon commented on #26416
The tooltip can be controlled via `open` prop not the `title`. The `title` shouldn't depend on the tooltips open state since it's relevant to the child even if the tooltip isn't perceivable to grant access to users relying on assistive technology.

Tooltips can contain interactive content.

I suspect that the following is happening:
1. Hover over Tooltip
2. Click close
3. move mouse during exit tr

[2021-05-27 12:18] k290 commented on #21022
Adding that none of the provided examples actually work. There is a warning in the console that no anchor element is defined.  This is important if you put the select anywhere except the top left of the screen.

See the below fork and look at what happens when you click the dropdown:
https://codesandbox.io/s/long-flower-i45un?file=/src/Demo.js

This issue is caused by making the <Select> hidden

[2021-05-27 12:27] k290 commented on #21022
It is worth mentioning that the examples above don't work. If you move the component anywhere on the screen except the top left then the menu doesn't anchor correctly. You can see the warning in the console telling you that it is caused by the  Input being hidden.

This is reproduced below: https://codesandbox.io/s/long-flower-i45un?file=/src/Demo.js

[2021-05-27 12:35] rawatv opened #26474 "[Theme] customised theme is reset while loading a component from (yarn-workspace) packages"
When a react-js application using customised theme loads another component (using material-ui components) from a (yarn-workspaces) package, the customised theme is RESET.

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.
- I had raised a previous one whi

[2021-05-27 13:08] oliviertassinari commented on #21022
@k290 Thanks for the reproduction, I have updated it a bit to get the desired outcome:

[code]

https://codesandbox.io/s/crazy-wu-2wp61?file=/src/Demo.js:0-1786

It sounds very much like we should expose a `useSelect` hook that developers could use to recreate their own [Collapsible Dropdown Listbox](https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html).

[2021-05-27 13:23] mnajdova commented on #26474
You have multiple instances of `@material-ui/core` in your page. I would suggest adding dependency on it only in `library-components` and export there whatever the other modules need. I've checked locally it fixes the issue.

Next time, do not just open new duplicate issues, we will take a look on the problem as soon as we can.

[2021-05-27 13:23] #26474 closed

[2021-05-27 13:38] vrushank commented on #26375
Hello @siriwatknp,

Here is [codesandbox](https://codesandbox.io/s/selectvariants-material-demo-forked-ut3nm?file=/demo.tsx), where I have small selects and you can see labels misaligned.

current css is
`transform: translate(12px, 16px) scale(1);`

which i think should be
`transform: translate(12px, 13px) scale(1);`

I just want to fix small size select component's label alignment globally and no

[2021-05-27 13:47] oliviertassinari commented on #26467
@eps1lon Why would `^4.0.0`? or `^5.0.0-alpha.0` be not enough? I'm not sure to follow the proposal. From what I understand there are two different cases:

1. Third-party packages.
2. First-party packages.

The incentives for them seem different.
In 1. we could use "latest" to know when there is a compatibility issue; or use the actual version to avoid developers to automatically accept BCs.
In 2.

[2021-05-27 13:55] DStoyanoff commented on #13875
Hello @oliviertassinari,
Yes, this is with v5.

The issue is that the color property of the Typography is actually css color as Typography doesn't have the explicit color property. If I pass a valid CSS color, it would work, but this means I have to use `useTheme` to get the color.

Bacause of the above, Typography does not provide an overridable type for Typescript - e.g. `TypographyPropsColorOve

[2021-05-27 13:55] eps1lon commented on #26467
Because

[2021-05-27 14:00] oliviertassinari commented on #25016
Actually, there is a simpler solution found by @m4theushw: https://web.dev/color-scheme/.

[code]

So we can likely remove `darkScrollbar()` from the codebase.

[2021-05-27 14:15] oliviertassinari commented on #13875
@DStoyanoff What you are describing doesn't make sense to what I have conceptually for the component. Typography extends the Box which accepts any `color` prop ("text.secondary", "foo.bar", "red", etc.) What version are you using? Do you have a reproduction?

[2021-05-27 14:16] m4theushw commented on #25016
@m4theushw I didn't think about using the `color-scheme` CSS property but the meta tag instead. No preference, both seems to work. My only concern is that the stylesheet has to be downloaded first to know which stylesheet the user agent should use. Maybe it can cause some inconsistency when changing between modes, I don't know. The meta tag is recommended to apply the color scheme immediatelly: ht

[2021-05-27 14:17] oliviertassinari commented on #25016
The stylesheet is a blocking resource, nothing is painted before it's loaded anyway.

[2021-05-27 14:24] DStoyanoff commented on #13875
Thanks for this. I didn't know that colors work like this when nested in the theme. It's a nice one. Is there a way to make it type-safe in TypeScript? Perhaps you could leverage the new [Template Literal Types](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html)...

[2021-05-27 14:31] mnajdova commented on #25771
I like this idea. Using the breakpoints as values makes sense 👍

[2021-05-27 14:34] m4theushw commented on #25016
From https://html.spec.whatwg.org/multipage/semantics.html#meta-color-scheme:

The page is painted after the stylesheet is loaded, but the background comes first. Maybe we add the meta tag only in the docs to not flicker between the white background and the dark one.

[2021-05-27 14:40] oliviertassinari commented on #13875
@DStoyanoff Please open a new issue for type-safe, it's actually an interesting topic (also to get autocomplete).

[2021-05-27 14:43] oliviertassinari commented on #25336
@mrafei The reproduction is not correct, follow https://next.material-ui.com/guides/right-to-left/ for the setup.

[2021-05-27 14:46] nick-buzzy commented on #17454
Still an issue, and none of the above proposed solutions worked.

[2021-05-27 14:46] mnajdova commented on #26438
I can't reproduce with the code-snippet you've provided. Can you please create a repo, maybe cloning our examples project that uses `styled-components` and share the link?

[2021-05-27 14:46] DStoyanoff opened #26475 "Type safe colors"
As discussed in #13875, there is currently support for specifying the colors, based on the configuration in the theme in the following format: "common.white". For example:

[code]

This works great, but it is not type safe. With the introduction of [Template Literal Types](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html) in TypeScript, I believe that this should now be p

[2021-05-27 14:48] mnajdova commented on #26436
Hint, check https://next.material-ui.com/components/about-the-lab/#typescript

[2021-05-27 14:48] #26436 closed

[2021-05-27 14:49] oliviertassinari commented on #17454
@nick-buzzy do you have a reproduction with v5?

[2021-05-27 14:55] nick-buzzy commented on #17454
No I am using the [latest stable version](https://material-ui.com/versions/), 4.11.

[2021-05-27 14:59] hetanthakkar1 opened #26476 "[docs] Make source code snippet editable"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

It would be a great feature to implement a playground where you can tweak the code for the components(more specifically the props) and see the desired output on the website. I have worked on a similar kind of project in the past and I would b

[2021-05-27 15:33] arpitBhalla commented on #26476
@oliviertassinari Can we work on this?

[2021-05-27 15:41] bthall16 commented on #19448
@oliviertassinari I'm curious what's meant by using Google Analytics to evaluate component usage. It's ambiguous if this refers tof how often a component's documentation page is being read or if analytics code is being injected into production apps using lab components. The latter would be worrying, especially since the lab documentation doesn't expand on this point further, but it also seems unli

[2021-05-27 16:11] nmiddleweek commented on #18919
We are experiencing the same issue.

Local Dev version using CRA is generating a makeStyles class above the root.

Local Build version using react-scripts is generating a jss57 class below the root.

These two classes are the same but they appear in different orders, rendering different results.

Local Dev...
![image](https://user-images.githubusercontent.com/2251042/119860624-6d5a1680-bf0e-11eb-9

[2021-05-27 17:12] Lonest90 commented on #26416
I believe that this also happens with Popover and Popper, the real use would be a tooltip showing a login or register button that when clicked would be redirected to the page, as react is a single page application the tooltip is not closed so I pass the control to the title and I try to close it but it doesn't close.

[2021-05-27 18:14] cjnoname commented on #16947
Not a fan of styled component, make style is very handy to be honest

[2021-05-27 19:22] mrafei commented on #25336
fixed it by applying
`PaperProps={{
  style: {
    borderRadius: 0,
    left: anchor === "right" ? 0 : "unset",
    right: anchor === "right" ? "unset" : 0,
  },
}}`
I didn't manage to do the rtl guid mentioned. getting errors in serverside.
Thanks.

[2021-05-27 19:44] eps1lon commented on #26476
Thanks for the feedback.

Work has already started in https://github.com/mui-org/material-ui/pull/24640 by @mbrookes

[2021-05-27 19:47] eps1lon commented on #23650
@tpeek Can you still reproduce this? If so, could you please add a screen recording so that I understand the issue? I cannot notice any change in scroll position when clicking a year:

https://user-images.githubusercontent.com/12292047/119887946-11ef4f00-bf35-11eb-8a27-52ef9cb4fe47.mp4

[2021-05-27 19:53] hetanthakkar1 commented on #26476
@eps1lon Thank you. You can close this issue then

[2021-05-27 20:13] izakfilmalter commented on #25763
Not to resurrect an issue that is probably resolved, but I can't seem to figure out how to change the height of the Select in MUI 5. I have the following in my theme:

[code]

I can't seem to get that style, or frankly any style within the the styleOverrieds of Select to work.

[2021-05-27 20:16] edgar-arroyo-by commented on #26385
hello there @siriwatknp

you are completely right, thank you a lot for your response!

[2021-05-27 20:16] #26385 closed

[2021-05-27 22:34] paynecodes commented on #15827
@rickstaa Thank you for the awesome write up. This helps a ton. I checked [your sandbox](https://codesandbox.io/s/mui-custom-button-typescript-example-rdtrz?file=/src/App.tsx). I uncommented `notallowedvariable="Typescript should complain when this is uncommented!"` in several places, and TypeScript does complain with `Property 'notallowedvariable' does not exist on type`. Any ideas where this was

[2021-05-28 02:39] #15824 closed

[2021-05-28 03:53] hetanthakkar1 commented on #26476
@oliviertassinari  Can you please visit this link and enable the playground switch https://elastic.github.io/eui/#/navigation/button]

![playgroundpng](https://user-images.githubusercontent.com/38756320/119927033-3a5b6580-bf96-11eb-80d5-eb6b88e0fd83.png)

[2021-05-28 05:10] johnsonsamuel opened #26478 "Material UI not working in Codesandbox"
<img width="1437" alt="Screen Shot 2021-05-28 at 10 34 31 AM" src="https://user-images.githubusercontent.com/4627394/119932368-c83c4e00-bfa0-11eb-9efb-9af86416cec3.png">

Material UI not working in Codesandbox, it throws `DependencyNotFoundError
Could not find dependency: '@emotion/styled' relative to '/node_modules/@material-ui/styled-engine/index.js'`.

We can fix this by adding the dependecies,

[2021-05-28 05:26] rawatv commented on #26474
Thanks for the prompt answer.

It does not work with the suggested solution. I updated the sample code as per suggestion
1. yarn list @material-ui/core output
[code]

2. `@matrial-ui/core` is now reflecting in package.json of single project i.e. `library-utils` (in the attached case). `@material-ui/core` is also exported from it
3. All components now use material-ui components from this project `l

[2021-05-28 06:27] eps1lon commented on #26478
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-05-28 06:44] johnsonsamuel commented on #26478
@eps1lon thank you for quick reply. Please find the steps to reproduce.. not sure if this happens for a particular session. Hope this helps.

![errors-material-ui](https://user-images.githubusercontent.com/4627394/119941331-1572ec80-bfae-11eb-93f0-ed955d5f5a1a.gif)

[2021-05-28 07:16] nchathu2014 opened #26479 "Tab Navigation Support for Menu Component"
Hi Team,

I am using Menu and MenuItem components to one of my projects and I am trying to make it accessible for Tab Navigation. Is there a document I can refer to? Is the Menu is supporting Tab Navigation?

Thank You,
Nuwan

[2021-05-28 07:23] mnajdova commented on #26478
All codesandboxes that have `@material-ui@latest` as a dependency are broken. Looks like it doesn't resolve to the correct version.

[2021-05-28 08:07] jastend commented on #14948
@hmaack's proposed solution fixed the issue for me. The leaveTouchDelay ensures that on mobile the tooltip is visible - without, nothing will happen when clicking on the tooltip icon.

[2021-05-28 09:34] ronnyroeller opened #26483 "Tooltips doesn't close when opening <Select>"
The tooltip opens when the user hovers over the <Select> element but stays open even after clicking the <Select> anchor.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The tooltip stays open even after clicking the `<Select>` anc

[2021-05-28 10:01] kkkisme opened #26484 "[Menu] right click trigger context menu works unexpected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
rigth click in the  text container, the context menu opend. then right click outside of the text container, the context menu still opend followed the mouse position

## Expected Behavi

[2021-05-28 10:20] thomasjm opened #26486 "Slight visual flicker at end of SpeedDial transition"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the SpeedDial opens, the SpeedDialAction buttons do a transition where they grow to full size with a CSS transform. At the very end of the transition, there's a slight flicker. Y

[2021-05-28 10:42] oliviertassinari commented on #26476
@hetanthakkar1 Ok thanks, it's a lot clearer. We do plan to solve the pain point that you have described:

But we don't intend to solve it with a "playground" as ElasticUI has done. IMHO, it's way too restrictive.

[2021-05-28 10:46] arpitBhalla commented on #26476
@oliviertassinari Can we start working on this

[2021-05-28 10:48] oliviertassinari commented on #26476
@arpitBhalla Feel free to continue the effort started in #24640, cc @mbrookes.

[2021-05-28 10:52] mnajdova commented on #26478
@johnsonsamuel can you try again? I was able to repro it, but cannot anymore. Maybe it was some issue on codensadbox.

[2021-05-28 10:53] eps1lon commented on #26478
Cant reproduce this issue with https://material-ui.com/components/container/#fluid or https://material-ui.com/components/radio-buttons/#radiogroup

[2021-05-28 10:54] oliviertassinari commented on #26478
I can't reproduce it either.

[2021-05-28 11:57] johnsonsamuel commented on #26478
@mnajdova I cleared everything from my chrome browser and now it works 🤷🏽‍♂️. Thank you so much Material UI team for the instant replies. 🙏🏽

[2021-05-28 12:01] #26478 closed

[2021-05-28 12:27] elmeerr opened #26488 "[InputBase] - Add Mui-readOnly class"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When `readonly` attribute is set to true, add a `Mui-readOnly` (suggested name) class to the input / div associated. This already happens when `disabled` set to `true` (`.Mui-disabled`)
## Examples 🌈

[code]
![image](https://user-images.githu

[2021-05-28 14:25] silvergraphs opened #26492 "[Autocomplete] Not working properly with repeated options values"
## Current Behavior 😯

Autocomplete when receiving repeated options does not filter and does not work correctly

## Expected Behavior 🤔

This only happens in version 5, in version 4 this works correctly.

## Steps to Reproduce 🕹

Enter this CS
https://codesandbox.io/embed/combobox-material-demo-forked-hyslp?fontsize=14&hidenavigation=1&theme=dark

Steps:

1. Find a unique value, the repeated value

[2021-05-28 15:18] tanhapatel commented on #12094
I resolved this problem by changing the event onClick to onChangeCommitted

[2021-05-28 19:24] oliviertassinari commented on #19448
@bthall16 It's a reference to the documentation pages. I will clarify it, thanks for raising.

[2021-05-28 20:11] mbrookes commented on #26476
@arpitBhalla Happy to see this continued. Let me know if you need any help picking it up, but the PR description and review are a good starting point as to the current state of the code; as is the netlify preview link, where you can try it out.

[2021-05-28 23:11] thisisrandy opened #26494 "Draggable Dialog w/Autocomplete disconnects when dragged on touch interfaces"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using the draggable dialog template described [here](https://material-ui.com/components/dialogs/#draggable-dialog) and including in its contents the combo box described [here](https:/

[2021-05-29 06:04] o-alexandrov commented on #22485
Could you please share your plans on:
- [Material You](https://material.io/blog/announcing-material-you)

Do you plan to introduce it as a separate theme or by modifying the existing one?

[2021-05-29 06:06] satyendra2013 opened #26495 "how to implement a mui slider whose minimum-track-is-begin-from-centervalue-0-not using material ui slider"
There is a requirement for UI development where sliders track will start from from Zero when value ranges from -100 to +100. Slider is double bound which means if slider slides to positive values track colour will change to blue starting from zero and when it approaches negative values, track will change to red starting from zero not from extreme left.

I tried to tweak Mui slider components using

[2021-05-29 08:30] javadmoradii opened #26496 "Open collapse transition"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the button is in (0,0) collapsed items opens above the button's previous position. But, when it's in the middle, the collapsed items opens below the button's previous position. T

[2021-05-29 10:59] alexanderdavide opened #26497 "[Rating] Docs Miss That Value of onChange Can Be Null"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The method signature of the `onChange` callback currently looks like this:

[code]

While this is correct, the [docs](https://material-ui.com/api/rating/) claim following method signa

[2021-05-29 13:08] killjoy2013 commented on #7762
Wonderful, saved my life!

[2021-05-29 14:51] konrazem commented on #231
In my case [Formik](https://formik.org/) had some empty errors (not empty object) which was preventing Form from submitting 😊

[2021-05-29 16:20] rickstaa commented on #15827
@paynecodes No problem! That looks like the desired behaviour to me. The `notallowedvariable` was added to show that the type-checking is working.  When this line is commented, typescript should throw a `Property 'notallowedvariable' does not exist on type` allowed error. You can, of course, also add other variables like `typescriptwontlikethis` to check that the type checking. Does that answer yo

[2021-05-29 20:04] jessejamesrich opened #26500 "Custom Attribute Warnings on ButtonBase"
I'm getting a bunch of these warnings.

[code]

Dependancies look like this:

[code]

I don't think this coming from the lab lib. The warnings are just bunging up my console. There's a few different components that are throwing up these warnings.

 Curious what I'm doing wrong here.

[2021-05-29 20:33] oliviertassinari commented on #7762
@grantzvolsky Note that setting null as a value to an input raises a warning:

<img width="487" alt="Capture d’écran 2021-05-29 à 22 32 11" src="https://user-images.githubusercontent.com/3165635/120084082-ca4ffb00-c0cd-11eb-8652-dca1e02e951d.png">

Empty string would solve the issue.

[2021-05-29 23:42] khanzzirfan commented on #21293
I think with material ui 4.x, the reference to useId file is changed.  here is how I'm using now.

[code]

Thanks @yurtaev

[2021-05-30 06:45] Abdirashid26 opened #26526 "Home icon demo preview error"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-05-30 06:46] #26526 closed

[2021-05-30 09:30] shayantabrizi commented on #21250
No news on this? Aren't upvotes enough for being considered?

[2021-05-30 09:59] oliviertassinari commented on #21250
@shayantabrizi Feel free to work on this problem.

[2021-05-30 13:05] Bismarck-GM commented on #26072
There's an issue between the latest stable release and the Lab.

For example, if I want to use Alert with 4.11.4 and LoadingButton I can't... I would need the latest lab which doesn't come with Alert and vice-versa.

I think the Docs on the web should reflect this.

[2021-05-30 15:08] oliviertassinari commented on #15827
@eps1lon We [don't document](https://next.material-ui.com/guides/typescript/#usage-of-component-prop) how to solve the extension issue with `forwardRef` in the mix.
Should the guidance provided by @rickstaa in https://github.com/mui-org/material-ui/issues/15827#issuecomment-809209533 be added in the documentation?

[2021-05-30 18:00] oliviertassinari commented on #26254
While I don't buy too much in the motivation raised in the issue's description, looking closer, it seems to prevent private paths to be imported, and example in https://nodejs.org/api/packages.html#packages_subpath_exports. This value proposition is also documented in https://docs.skypack.dev/package-authors/package-checks#export-map. This sounds valuable.

[2021-05-30 18:05] Lonest90 commented on #26416
I got a temporary fix making the tooltip clickable when closing:

[code]

[2021-05-30 18:29] oliviertassinari commented on #22485
@o-alexandrov Great question.

- Google has communicated that they plan to roll out Material You to the web in the coming years. It's not meant to be Android only. They won't be ready before Q3-Q4 2021.
- Design doesn't age well. Trends usually have cycles of around 5-10 years. It was time for Google to rethink it.
- Material You is a significant change, similar to if we moved to implement Ant Des

[2021-05-30 19:18] o-alexandrov commented on #22485
@oliviertassinari , I think your view is totally correct:
- Material You would introduce a lot of breaking changes

And thus, introducing Material You as a separate theme is a necessity, unless You’ll be introduced as part of MUI v6 or v7.

On a side note, I’m a bit surprised you mentioned Ant Design as the second theme.
I believe new themes should be introduced by `popularity` and, therefore, the

[2021-05-30 22:12] oliviertassinari commented on #26453
@shadab14meb346 All good from my end 👍

[2021-05-30 22:18] rtritto commented on #19679
Same problem here with `material ui 4.11.4`.
Seem that `reactStrictMode` from `nextjs` 10.2.1-canary.3 is `true` by default.

[2021-05-30 22:39] oliviertassinari commented on #19679
@rtritto Please check v5 you

[2021-05-30 23:23] oliviertassinari commented on #16947
@thclark, @cjnoname Is the dislike about the styled() API the CSS template string syntax (JavaScript object works too)? Or the love about makeStyles the capability to have multiple class names (`classes` object)?

We have talked about bringing `makeStyles` back powered by emotion, to further ease the migration (we already keep @material-ui/styles around).

[2021-05-31 02:17] siriwatknp commented on #26375
![image](https://user-images.githubusercontent.com/18292247/120130584-c072e880-c1f0-11eb-8118-f9fe226bb020.png)
In the dev tool, you will see that the label class is `MuiInputLabel-filled`.
- `MuiInputLabel` represent the component
- `filled` represent the slot

You can use global theme like this
[code]

For more detail about theming, [take a look at this documentation](https://next.material-ui.co

[2021-05-31 02:17] #26375 closed

[2021-05-31 02:42] #18493 closed

[2021-05-31 02:45] paynecodes commented on #15827
I do think these workarounds should be documented, but I also think a better solution should be considered. These types are quite mind-bending, error-prone, and not fully functional. I have no clue what would make this situation better at the moment though.

[2021-05-31 03:31] siriwatknp commented on #26475
"it is not type safe", Do you mean there is an error or it is not showing value suggestion?

[2021-05-31 04:23] rawatv commented on #26474
@mnajdova the suggested solution does not work and the issue is marked closed; Please comment on previous message

[2021-05-31 06:11] andrew2558 opened #26528 "material-ui, why does switching themes not work after multiple calls?"
In the following code, the first three times of "Switch Theme" are able to switch themes normally, but after that, the themes cannot be switched normally. What is wrong with the code below?
Thank you.

Code:
[code]
The result I want is to switch between multiple themes at will
Where is the problem?

[2021-05-31 07:30] harounchebbi commented on #10571
This worked for me! thank youuu :))

[2021-05-31 07:43] eps1lon commented on #15827
@rickstaa Thanks for this work. That's a great starting point.

Could you create [TypeScript playgrounds](https://www.typescriptlang.org/play) for each solution so that we can verify that the components are in fact still polymorphic? I'm a bit sceptical about `const Component = React.forwardRef(<C>() => {})`. I don't think the `C` generic still exists on `Component`.

[2021-05-31 07:48] #26528 closed

[2021-05-31 07:49] eps1lon commented on #26528
Note that when logging `n`, it will still have the old value:

[code]

For more information check out [Why is setState in reactjs Async instead of Sync?](https://stackoverflow.com/a/36087156/3406963)

[2021-05-31 07:54] eps1lon commented on #26500
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-05-31 08:00] eps1lon commented on #26496
Thanks for the report.

I don't see this in your screen recording. The items "11" to "20" are clearly added above the button.

What you're probably reporting is just how browsers handle scroll state when more vertical space is used. That's not something we can change.

[2021-05-31 08:00] #26496 closed

[2021-05-31 08:05] eps1lon commented on #26495
Thanks for the feedback.

Right now we always assume that the min value is also the zero (or start as you said) value. But in your design we have different values for minimum, maximum and zero.

Seems like a reasonable addition.

[2021-05-31 08:12] eps1lon commented on #26492
Thanks for the report.

Could you be a bit more specific what you mean with "correctly"? What are the concrete differences between v4 and v5? A screen recording might help here.

[2021-05-31 08:20] sachintbits commented on #16962
import Head from 'next/Head'

Solved this issue for me.

[2021-05-31 08:33] ypresto opened #26529 "Give default unique ID to TextField for a11y"
TextField's accessibility feature ( `<label for={...}>` is only enabled when its `id` is explicitly specified.
It's convenient if default value is automatically generated by material-ui.

Implementation in TextField is just something like `id = id ?? useId()`.
The hard part is that current `useId()` implementation is not available for SSR.

- [x] I have searched the [issues](https://github.com/mui

[2021-05-31 08:34] eps1lon commented on #26494
Thanks for the report.

It would be nice to isolate what is a browser and what a Material-UI issue. Dragging a div with textbox already leaves a trail of the textbox while dragging similar to https://i.imgur.com/e74caa9.jpg.

Especially try to isolate Autocomplete, Popper, and TextField and then their basic HTML counterpart.

[2021-05-31 08:48] eps1lon commented on #26486
Thanks for the report.

I don't seem to be able to reproduce this:

https://user-images.githubusercontent.com/12292047/120166972-79d7bb00-c1fd-11eb-90fa-4424f239327f.mp4

<details>
<summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

@thomasjm  Does this still reproduce for you after upgrading to Chrome 91?

[2021-05-31 08:52] eps1lon commented on #26484
Thanks for the report.

I noticed this as well when fixing https://github.com/mui-org/material-ui/issues/19145 in https://github.com/mui-org/material-ui/pull/22463/:

Though I forgot to add what I tried to make it work.

[2021-05-31 08:55] eps1lon commented on #26479
Thanks for the feedback.

It supports navigation with arrow keys etc following https://www.w3.org/TR/wai-aria-practices/#menubutton.

Could you elaborate what "Tab navigation" includes e.g. when the Menu is in a certain state, what should be the next state after pressing "Tab"?

[2021-05-31 09:03] Sandeep06Dev opened #26531 "[TimePicker] Switching am pm does not change the time"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![TimepickerNotTriggerOnAMPM](https://user-images.githubusercontent.com/65675288/120169037-26756500-c21d-11eb-92c4-2a380a789754.gif)

## Expected Behavior 🤔

Timepicker should be get

[2021-05-31 09:08] vrushank commented on #26375
But it will also change other input label styling as well. I just want to change select's label and not for other input's or autocomplete component. According to your suggestion it will change for all input component.

[2021-05-31 09:14] DStoyanoff commented on #26475
Hey, I mean there is no suggestion and/or validation of the value that was passed. This is especially problematic in cases of refactoring, where this cannot be automatically replaced.

[2021-05-31 09:27] sakura90 commented on #26497
@eps1lon I would like to work on this issue and am new to this repository.  May you be my reviewer when I submit a PR?

[2021-05-31 10:23] sakura90 commented on #24778
@oliviertassinari I would like to work on this issue and am new to this repository. May you be my reviewer when I submit a PR?

[2021-05-31 11:08] FranciscoMonteiro694 opened #26532 "How to prevent Collapse from closing when Dialog is opened or when Icons are clicked"
Hi.
It's my first time using React and MUI, and I'm strugling a lot with the behavior of a Collapse component. In my page I have a customized table. Each Row of this table is expandable, using a Collapse Component. Inside each Row I have a mini table which is visible or not, depending on whether the row is expanded. This works properly.

However, I have two little bugs, regarding the Collpase, tha

[2021-05-31 11:31] eps1lon commented on #26532
Thanks for the feedback.

To reduce the time to response I'd ask you to provide a reproducible example so that we don't have to guess how your current implementation works. A [codesandbox](https://next--material-ui.netlify.app/r/issue-template-next) would be ideal.

[2021-05-31 11:34] eps1lon commented on #26497
The following line needs to be updated to match the documentation:
https://github.com/mui-org/material-ui/blob/cf9bd04418b9ae41361c433481a7234caea37524/packages/material-ui/src/Rating/Rating.d.ts#L82

Then run `yarn proptypes; yarn docs:api` and commit the changes. For help on how to get started with developing in this repository check out [our contributing guide](https://github.com/mui-org/materi

[2021-05-31 11:37] Taipan95 opened #26533 "[InputBase] invalid prop error"
Hello,
I am having this message when trying to use `size='large'` for a TextField.

I tried the exact same thing in [codesandbox](https://codesandbox.io/s/material-demo-forked-y686x?file=/index.tsx) and I'm getting the same error.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that

[2021-05-31 11:44] silvergraphs commented on #26492
Sure!

**V5**
In the next video, I show V5 version on Autocomplete works incorrectly, as you can see when you search for Unique Value option, the autocomplete shows the Repeated Value options, and when you hover the cursor over the options the hover effect was incorrect, selecting randomly options, another bug is when you delete characters the Repeated Value option duplicates indefinitely

https:/

[2021-05-31 11:47] shayantabrizi commented on #26496
I don't think this is an "expected behavior". I see it as an obvious inconsistency in the behavior. You may argue that this is browser's fault but tagging the issue with "expected behavior" doesn't seem right to me.

[2021-05-31 11:57] eps1lon commented on #26340
@Clemens85 Cypress does not set the `button` by default when triggering a `mousedown` event. But we're only opening the Select if we register a mousedown from the main button. So you need to specify `.trigger("mousedown", { button: 0 });`.

Though in my opinion there's something off with cypress here. [Dispatching a synthetic mousedown event does default to `button: 0`](https://codesandbox.io/s/mo

[2021-05-31 11:57] #26340 closed

[2021-05-31 12:00] alexanderdavide commented on #26497
The core team is responsible for reviewing and merging as per the [contributing guide](https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md#sending-a-pull-request).

[2021-05-31 12:18] likitarai1 commented on #11764
Can I work on this issue?

[2021-05-31 13:16] florianbepunkt commented on #26438
@mnajdova Strange, I can replicate this with the code provided. Here is a repo: https://github.com/florianbepunkt/mui-example-26438

[2021-05-31 13:40] FranciscoMonteiro694 commented on #26532
Thanks for your input! I went ahead and updated the original post.

[2021-05-31 13:58] mnajdova commented on #26438
@florianbepunkt thanks, will take a look later today. Did you use our example project for scaffolding?

[2021-05-31 14:19] florianbepunkt commented on #26438
No, I used CRA and then followed the installation instructions from next.material-ui.com. I used craco to create the webpack alias.

[code]

changed package.json scripts to

[code]

Added the following craco.config.js

[code]

[2021-05-31 14:53] hedgie001 commented on #26251
Same Problem here.
osx 11.3 (Big Sur)
Does **not** Work on Safari Version 14.1 (16611.1.21.161.3) and iOS 14.5

Does Work on Chrome Version 90.0.4430.93
Does also work on codesandbox on said Safari-Version (https://codesandbox.io/s/basicbuttons-material-demo-forked-fs4gx?file=/demo.js)

Hotfix with the key-attribute works but loosing the transition animations...

[2021-05-31 16:26] nikitabobers commented on #26455
Can I work on this issue?

[2021-05-31 17:21] oliviertassinari commented on #11764
@likitarai1 Yes, feel free to :)

[2021-05-31 17:44] ap-in-git opened #26534 "Textfield with multiline and dynamic rows on autofocus event removes the cursor"
Hello ,

When I click the textfield I want it to make textfield two rows instead of one while keeping focus but when I handle onFocus event of textfield . The textfield cursor is not there . I need to click once more to write text in the textfield

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repositor

[2021-05-31 17:59] oliviertassinari commented on #24778
@sakura90 I will likely assist in getting this change merged yes. @siriwatknp has been spending time on improving the color management system, so he will likely review it too.

[2021-05-31 18:53] eps1lon commented on #26532
In my application when I click in the RoomIcon, the Collapse is minimized.

You're probably rendering the Dialog **inside** the button. Any click in the Dialog would therefore register as a click in the button. Make sure the Dialog is rendered as a sibling of the Button that opens/cloes it.

I'm closing this issue since it doesn't seem to be an issue with Material-UI.

[2021-05-31 18:53] #26532 closed

[2021-05-31 18:56] eps1lon commented on #26492
@silvergraphs Thanks! That clarified the issue to me. I can't make any statement regarding the timeframe to fix this issue since I'm not sure if duplicate options are even useful.

[2021-05-31 19:23] rtritto commented on #19679
With v5 is ok, thanks.

[2021-05-31 19:56] DanielBretzigheimer opened #26536 "[docs] Search button on small page width"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently, when using the Material UI docs in a small browser window or on mobile, the search bar is hidden. I would propose to show a search button instead on mobile. When clicking the button, it should replace the app bar with a search bar

[2021-05-31 20:34] cjduncana opened #26537 "[List] Combine selected with aria-selected property in ListItem"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

If the consumer of the `ListItem` component uses the `selected` property, it should provide the same value to the `aria-selected` property.

## Examples 🌈

Instead of:

[code]

you can use:

[code]

and have the component set the `aria-select

[2021-05-31 21:46] #19696 closed

[2021-05-31 22:19] oliviertassinari commented on #24109
Actually, there is already an issue with it: https://github.com/emotion-js/emotion/issues/2037.

---

@mnajdova We probably want to progressively remove `injectFirst` from the documentation as we have migrated all the components to em/sc and are close for the docs as well.

[2021-05-31 22:41] oliviertassinari commented on #26532
We have faced the same issue in the data grid two times already: for instance: https://github.com/mui-org/material-ui-x/issues/1305. You can see how we fixed it in https://github.com/mui-org/material-ui-x/pull/1324/files#diff-d686bc46bbd2d70d8fe115f2d0f87743bf452fddf658b5dbe8c79d3bd0bb52cb. The React issue: https://github.com/facebook/react/issues/11387.

[2021-05-31 22:51] oliviertassinari commented on #26496
Agree with @eps1lon the behavior looks correct. In #22292 we worked on a similar issue.

[2021-05-31 23:00] oliviertassinari commented on #26386
Fixed in ##26323

[2021-05-31 23:03] oliviertassinari commented on #26408
I have stopped listening to issues for the last 3 weeks. I was planning to open the same issue when I realized it was already created. It seems that the removal of the `<Hidden>` component was premature. We got a lot more people complaining about this one than most of the other BCs.

My main concern is that the migration path is only fully available since v5, people on v4 don't have a smooth trans

[2021-05-31 23:09] oliviertassinari commented on #26385
@siriwatknp It's also related to #22519. Assuming we rewrite Popover to position with Popper, then we would get a native support from #22303.

[2021-05-31 23:13] oliviertassinari commented on #26375
@vrushank The `InputLabel` component is rendered outside of the `Select` component. So you can customize by any other means.

[2021-05-31 23:16] oliviertassinari commented on #26360
Duplicate of #26369

[2021-05-31 23:22] oliviertassinari commented on #26229
Duplicate of #26408

[2021-05-31 23:57] mouimet-infinisoft commented on #22434
Here is a very very basic draft to open discussion.

https://codesandbox.io/s/react-mui-file-upload-forked-pu8qk?file=/src/FileUpload/FileUpload.tsx

[2021-06-01 02:28] Jack-Works commented on #21551
In alpha v35, makeStyles now have default type for DefaultTheme which is empty.

[2021-06-01 02:32] Jack-Works commented on #21551
is it bug or intented? Now I need to type `theme: Theme` otherwise it is DefaultTheme.

[2021-06-01 03:26] #21503 closed

[2021-06-01 03:41] siriwatknp commented on #26469
We are working on extracting `button` out of `ListItem` in #26442

[2021-06-01 03:55] dantman opened #26538 "[Popover/Menu] Trying to get a ref to the paper element breaks Popover/Menu"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If you try to get a ref to the Paper element in Menu using `<Menu PaperProps={{ ref: paperRef }}>` it will break the menu (same for Popover which Menu is based on) and positioning wil

[2021-06-01 04:31] rawatv commented on #26474
I believe it fails for the reason stated from start - multiple copies of @material-ui/core. However, the way to eliminate the same is to mark peer dependency in libraries and dependency in main app and then it works fine.

Hope that helps any other stuck on same.

[2021-06-01 04:32] itsnorbertkalacska commented on #19245
I'll get it done, opening the PR soon!

[2021-06-01 04:43] siriwatknp commented on #14519
Another option for layout component.
- For v4 https://mui-treasury.com/layout/
- For v5 (not ready yet) https://siriwatknp.github.io/mui-treasury/?path=/story/layout-introduction--page

[2021-06-01 06:23] #26416 closed

[2021-06-01 06:25] eps1lon commented on #26416
Fixed in the next alpha release.

Note that you still need to adjust your component since it has the same problematic CSS we applied:
[code]

`pointer-events: auto` is no longer necessary in v5. Tooltips are hoverable by default now.

[2021-06-01 06:48] EugeneGohh commented on #21507
It works, thanks.

[2021-06-01 06:50] satyendra2013 commented on #26495
Hi @eps1lon , I would love to work on this piece of enhancement. If you or any maintainer will guide me understanding how can I start, it would be highly appreciated.

[2021-06-01 08:10] #26410 closed

[2021-06-01 08:28] siriwatknp commented on #21587
@oliviertassinari for the upcoming ListItem improvement (no matter approach we take), I don't see a need to have `MenuItem` anymore except the a11y that it does.

[code]

I see 2 ways.
1. Deprecate `MenuItem` in v5, change all the docs to use new `ListItemButton` (based on the outcome of improvement), remove `MenuItem` in v6. This ways, the a11y is on the developer responsibility and we have less

[2021-06-01 09:12] rickstaa commented on #15827
@eps1lon I'm happy to break down all the solutions in their own playground. I will probably take a look at it this weekend. I will send you the updated playgrounds when they are finished.

[2021-06-01 09:27] AnnikaNissen commented on #26251
I'm having the exact same issue when toggling a buttons enabled/disabled state.
It occurs on MacOs Catalina 10.15.7 with Safari 14.1.1 and on iPhone with iOS 14.5.1

Here is my example: https://codesandbox.io/s/material-demo-forked-lb0du?file=/demo.tsx
While the text-color is displayed wrong, it's shown correct in the Safari dev-tools:
![Screenshot 2021-06-01 at 11 17 00](https://user-images.githu

[2021-06-01 09:37] mnajdova commented on #24109
Agree, I would wait until we migrate the demos to emotion as well, as there are still some JSS usages there 👍

[2021-06-01 09:51] olros commented on #21551
I've experienced the same as @Jack-Works with alpha-v35. Solved it with this augmentation:

[code]

Hope this wasn't intended.

[2021-06-01 10:07] siriwatknp commented on #26475
Agreed, that would be nice to have but from my understanding `color` prop also accept any string like `<Typography color="#ff5252" />`. I don't see that it is currently possible in typescript right?

![image](https://user-images.githubusercontent.com/18292247/120306186-cd303300-c2fb-11eb-81c7-7f113021d3db.png)

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4AocmATzC

[2021-06-01 10:09] mnajdova commented on #21551
Note that, `@material-ui/styles` **is no longer part** of `@material-ui/core`. It is a standalone package now that exports some JSS utils. If you wish to use it with `@material-ui/core`'s theme, you need to either:

- augment, as shown in https://github.com/mui-org/material-ui/issues/21551#issuecomment-851991897
- use the generic in `makeStyles`, `withStyles` and the other utils for providing the

[2021-06-01 10:18] mnajdova commented on #26442
I would vote for Solution I, it doesn't have any magic behind it, and with good docs demos, developers shouldn't have any problems implementing it.

[2021-06-01 10:19] olros commented on #16947
To me, the best thing about makeStyles is the capability to have muliple class names declared side by side. That allows us to have all the styling used in a component/file declared in a single place and resuse a lot of the styling. In my opinion it does also make much more sense to apply separate styling from the jsx. I think the new demos with the new `styled`-syntax looks really chaotic and it's

[2021-06-01 10:52] oliviertassinari commented on #22434
@mouimet-infinisoft great, what I would propose for the solution is to approach the problem in two phases:

1. The first part would be to create a `useUpload()` component. Something that is headless hosting all the logic. It would support a dropzone, and a list of pending items to upload or to upload directly to the server. It would also support a single vs. multiple upload mode. This is important

[2021-06-01 10:54] yogesnsamy commented on #24109
The sandbox is displaying error: `_styles.withStyles is not a function`

Is there a new way to get this done?

I have the following code which I'm trying to implement following the instructions on the migration [page](https://next.material-ui.com/guides/migration-v4/) but it doesn't work. My custom theme is not taking effect.

[code]

[2021-06-01 11:22] oliviertassinari commented on #24109
@yogesnsamy Do you have a live reproduction we can look at?

[2021-06-01 11:41] silviubogan opened #26544 "Attempted import error: 'Timeline' is not exported from '@material-ui/lab'."
I use WebPack and I get this error when trying to run the project in development environment. The code is this:

`import { Timeline, TimelineConnector, TimelineContent, TimelineDot, TimelineItem, TimelineOppositeContent, TimelineSeparator } from "@material-ui/lab";`

I use the following versions but I cannot run npm update successfully because I need to use a lower React version 16 for a dependenc

[2021-06-01 12:52] oliviertassinari commented on #26442
I would vote for option 1. Regarding the cons.

I think that the audience that doesn't know the correct markup copy and paste the demos, so it doesn't matter. The audience that knows the correct markup will be destabilized by seeing a component host two nodes.

Best to avoid negative margin, it can be destabilizing.

[2021-06-01 13:11] Braweria opened #26546 "Missing Icons as components"
1. Search for "article" here https://material-ui.com/components/material-icons/
2. Notice that the icon "Article" is not available as a component (https://fonts.google.com/icons?selected=Material%20Icons%3Aarticle)

I also noticed the [`SearchIcons.js`](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/material-icons/SearchIcons.js) has not been updated since last year.

[2021-06-01 13:22] michaldudak commented on #26442
I could live with either but think that solution 2 reduces boilerplate code and makes the simple usage scenario (no customisation) quicker to implement, so my vote goes there.

[2021-06-01 13:35] siriwatknp commented on #26442
What do you propose without using negative margin in this case (and without js to check)?

[code]

[2021-06-01 13:38] oliviertassinari commented on #26442
No preferences, we could start with a negative magin. I was simply confirming your point, that it's not awesome.

[2021-06-01 14:04] Jack-Works commented on #21551
Or create a new file and re-export with the correct type from `styles` package since it's required to rewrite those imports.

[2021-06-01 14:37] cjnoname commented on #16947
Thanks for asking.
Personally I hate to wrap many small components with styled'(<></>)', it looks stupid and a lot more work for people to read and write.
Centralize all css into makeStyles would make the CSS code look clean, easy to read and share.

I don't care what's behind "makeStyles". It doesn't matter if it's JSS or Emotion, but "makeStyles" is just a great syntactic sugar I'd like to use.

[2021-06-01 14:48] PilotConway commented on #16947
We really like `makeStyles` on our team as well for two reasons. The first is the multiple classes in a single object and the second is being able to keep the styling separate from the layout. And we always know where styles are since they are defined at the top of our files (the order in our component files is always the same which is nice).

I agree as well, styled components are quick messy in

[2021-06-01 14:51] yogesnsamy commented on #24109
@oliviertassinari I apologize - just realized that I missed updating my custom theme with `styleOverrides`.
<img width="964" alt="image" src="https://user-images.githubusercontent.com/28777569/120343615-73dff800-c32b-11eb-93ba-d885d04ee143.png">

It's working fine after I did it.

For anyone else with a similar issue, my config is as below:
- index.tsx
[code]
- App.tsx
[code]

- Custom theme:
[cod

[2021-06-01 15:25] eps1lon opened #26547 "[docs] Unions in callback parameters contain escape artifacts"
## Current Behavior 😯

`onChange(value: T \| T[])`

## Expected Behavior 🤔

`onChange(value: T | T[])`

i.e. no escaping artifact of `|`
[code]

## Steps to Reproduce 🕹

Steps:

1. Goto https://60b5eb9b8408a50008097c42--material-ui.netlify.app/api/autocomplete/
2. Check description of `onChange` prop

## Context 🔦

Noticed in https://github.com/mui-org/material-ui/pull/26542#discussion_r642937254

[2021-06-01 15:39] eps1lon commented on #26475
It should be with [template literal types](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html) but we would need to experiment if we can cover every possible color and if that's viable. Better autocomplete would already be a good first step.

[code]

[Playground Link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4AocmATzCTgDkUQkATAYQgBto4BeA

[2021-06-01 15:42] eps1lon commented on #26544
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-01 16:08] thclark commented on #16947
@oliviertassinari my main dislike is the template string syntax. I know that `styled()` does work with javascript objects however the overwhelming majority of examples and tutorials out there don't use it. So we either accept dumping weird raw css strings everywhere (which are also then agony to template-in variables like logic from the theme) or you find yourself endlessly converting strings  int

[2021-06-01 16:13] mnajdova commented on #26438
I saw the issue in the project you linked, but I could not reproduce it with our example's projects. The `TextField` rendered as expected there. Not sure what may be the issue. 😕

[2021-06-01 16:43] mnajdova commented on #26438
Here is a working example of it using `styled-components` -> https://codesandbox.io/s/wandering-voice-scuj1?file=/src/index.js

[2021-06-01 16:55] SwaglordHabib opened #26549 "Tooltip-Component with IconButton-child places Tooltip at top: 0 left: 0"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Tooltip-Component with IconButton-child places Tooltip at top: 0 left: 0. I think somehow the ref is ignored.

## Expected Behavior 🤔

The tooltip should appear somewhere at the botto

[2021-06-01 17:42] likitarai1 commented on #11764
I have made the changes and now I want to check whether they have been reflected or not as done at the end of https://github.com/mui-org/material-ui/issues/11764#issuecomment-802798360. How can I do that?

[2021-06-01 18:18] kelly-tock commented on #16947
one thing I miss ATM is being able to run stylelint on the makeStyles code. i'm assuming using regular css syntax will allow us to do that with this new approach? it seems like emotion has stylelint support already?

[2021-06-01 18:40] rtritto opened #26550 "[Box] Module `clsx` not found"
`Box` component needs `clsx` dependency.
Should it be added in dependencies, maybe peerDependencies?
[code]

## Additional Information
### versions
#### @material-ui/core: 5.0.0-alpha.35
#### yarn: 2.4.1
#### webpack: 5.37.0
#### next: 10.2.3

#### OS
Windows

[2021-06-01 18:43] eps1lon commented on #26550
Thanks for the report.

`clsx` should be declared as a dependency since it's required in [createBox](https://github.com/mui-org/material-ui/blob/bf11ab598776a66190fc55d43437c1f51abe6995/packages/material-ui-system/src/createBox.js#L3). The dependency was added in https://github.com/mui-org/material-ui/pull/26379 but not declared.

[2021-06-01 18:45] joacub opened #26551 "typescript defaultTheme"
you for got in the last release to put all the props for the default theme for typescript. now is empty, is lining everywhere...

[2021-06-01 18:45] eps1lon commented on #26549
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-01 18:47] eps1lon commented on #26538
Thanks for the report.

We have a built-in utility called `useForkRef` which should be able to resolve this issue.

[2021-06-01 18:47] eps1lon commented on #26551
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-01 18:55] joacub commented on #26551
this is empty ->

https://github.com/mui-org/material-ui/blob/v5.0.0-alpha.35/packages/material-ui-private-theming/src/defaultTheme/index.d.ts

[2021-06-01 19:16] dimitropoulos commented on #26455
by all means! @nikitabobers

[2021-06-01 19:59] jasonburnell98 commented on #21528
import { experimentalStyled as styled } from '@material-ui/core/styles';

 using this causes this error:

Attempted import error: 'experimentalStyled' is not exported from '@material-ui/styled-engine' (imported as 'styled'). My current versions are :

      "@material-ui/styled-engine": "^5.0.0-alpha.34",
      "react": "^17.0.0",
      "react-scripts": "^4.0.3",
      "@material-ui/core": "^4.11.

[2021-06-01 20:18] mnajdova commented on #21528
@jasonburnell98 you can reference the examples we have in the repo for instructions on how to setup a starter project.

[2021-06-01 20:25] jasonburnell98 commented on #21528
Hi @mnajdova , I will take a look however I am trying to implement this in an existing project

[2021-06-01 21:03] jasonburnell98 commented on #21528
Also, is experimentalStyled a default export? does not seem to throw an error if I import it as not default.

[2021-06-01 21:04] gorjan-mishevski commented on #16962
If someone is having the following error from TS:
[code]
import with lowercase like this:
[code]
vs
[code]

[2021-06-01 21:12] klaskow commented on #26359
Hi, i the same issue still exists on current next branch (from 1 june) in examples/nextjs.
Here is my output. Imports looks fine, why it cannot find module ?

[code]

[2021-06-01 23:11] oliviertassinari commented on #11764
@likitarai1 Check the CONTRIBUTING.md file. You should get the information you are looking for.

[2021-06-01 23:11] SwaglordHabib commented on #26549
I found the problem. I had this:
[code]
that messed up the styling .

Fixed it by changing it to:
[code]

[2021-06-01 23:11] #26549 closed

[2021-06-02 00:48] eps1lon commented on #26550
The solution is outlined in my comment. Giving the exact solution does not provide any value to anybody. People don't learn a thing from a solution and it takes more time for me.

[2021-06-02 02:55] #26450 closed

[2021-06-02 06:35] siriwatknp commented on #26442
To push this forward, I suggest we go with solution 1 for v5 and keep an eyes for related API issues
- I think people likely to pass props to `ListItemButton` so solution 1 looks cleaner

[code]

- Developer can compose by themselves if their feel too much boilerplate for solution 1.

[code]
  Once v5 is stable and there are complaints about this, we can expose another component like `ListActionIt

[2021-06-02 09:51] wereHamster opened #26556 "Select icon misaligned, not enough padding when html font size is not 16px"
## Current Behavior 😯

After setting the font size to «Very large» in Chrome:

![image](https://user-images.githubusercontent.com/34538/120459428-7d537980-c398-11eb-87f4-c633f8def1d8.png)

## Expected Behavior 🤔

After setting top of the icon to `calc(50% - .5em)`, and padding-right of the select to `1.5em`:

![image](https://user-images.githubusercontent.com/34538/120459694-b12e9f00-c398-11eb-95b

[2021-06-02 09:55] hurrii commented on #26251
`transition: color .01s;`

This solves the issue for me

[2021-06-02 10:50] vrushank commented on #26375
So let's say I want to style Label for Input, select and autocomplete differently for all comoonents globally, then how should I approach?

[2021-06-02 11:55] MartinSkovsen commented on #18873
Is there any particular reason that Mui enforce focus on clear? What if the end user wishes to have a clear state and no focus after clear?

[2021-06-02 13:01] mnajdova commented on #26556
Duplicate of https://github.com/mui-org/material-ui/issues/26401

[2021-06-02 13:01] #26556 closed

[2021-06-02 14:27] xaiborweb opened #26561 "Update integration with next.js"
Currently the version of next.js 10.2.3, [does not recommend](https://nextjs.org/docs/api-reference/data-fetching/getInitialProps) using getInitialProps, in addition to most frameworks to integrate them with next.js it is enough to import in _app.js and wrap <Component {... pageProps} />

But the example of integration of material-ui with next.js is more than 1 year old, it uses getInitialProps an

[2021-06-02 15:10] SAHSUJ opened #26562 "[Select] requires double enter when working with portable NVDA tool"
MUI Select option navigation not working as expected if NVDA tool is running.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

MUI Select is working fine if NVDA tool is not running. But if it is up and running, then to navigate th

[2021-06-02 15:23] pranav0281999 commented on #26550
Hi, can I be assigned to this issue? I am looking into the solution.

[2021-06-02 15:44] PraveenPeri opened #26563 "Display AutoComplete results as a table"
Sorry, I created this ticket for a quicker response than from stackoverflow. Is there a way to display results of AutoComplete component as a table with column headers? I tried using listboxcomponent prop but could get that working.

## Current Behavior 😯
Can only display options as a list of items. If the listboxcomponent prop is used to format the whole markup, it was missing highlighting and cl

[2021-06-02 16:45] jollytoad opened #26564 "`import * as PropTypes` fails with ES modules in browser"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When loading some components directly into the browser as ES modules from a CDN, eg: https://ga.jspm.io/npm:@material-ui/lab@4.0.0-alpha.58/esm/TabContext/TabContext.js

I see the fol

[2021-06-02 16:54] nuanyang233 opened #26565 "[Pagination] Selected class specificity is incorrect"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/28348152/120633434-b6751200-c49c-11eb-8b75-c0db0dedee0d.png)
## Expected Behavior 🤔

The selected class css specificity is correct

#

[2021-06-02 17:05] eps1lon commented on #26564
Thanks for the report.

Neither `TabContext` nor any imported modules use this pattern. Only `Paper` uses `import * as PropTypes`

[I don't how the jspm playground works](https://jspm.org/sandbox#H4sIAAAAAAAAA31UbVPaQBD+zq9Y0y+2NS9oHZQCgyjjaxgsYqcfj8tqTpPczd0hAsN/7yZBEGuZySRz2d1nn31udxs7keR2qhBimyatSuPtgyxqVQAaKVoGPGbaoG06Y/vgHjmFwQqbYGuYFd+o4ZfnVUjGUmw6LwInSmrrAJeZxYwgJiKycTPCF8HRLQ57IDJhBUtcw1mC

[2021-06-02 17:12] oliviertassinari commented on #26550
@eps1lon I think that it depends on how we see it, this framing is ignoring the value of learning: "how to contribute", regardless of what the changes are. A developer needs to learn git, GitHub, how to install the project locally, run the documentation, go throw the review process, etc before he can even bring value. I had described the purpose of the "good first label" in this sense: https://www

[2021-06-02 17:22] jollytoad commented on #26564
Ok, my PR clarifies that some modules do use that pattern in v4 at least, although I see this has been dealt with in v5. Unfortunately this is a real blocker for our new build until v5 is released. I'll look for a work-around. Thanks for your quick reply. Keep up the great work on MUI, looking forward to the new release.

[2021-06-02 17:30] eps1lon commented on #26550
I think what you're talking about is not a "crystal clear solution" but rather a "I already did  this, just replay my steps" which doesn't teach anything. Just the notion that people don't know git but somehow know what a patch is and how to apply it, is just not realistic in my opinion.

I don't believe in any of these. Contributors bring value way before this. If you want to just treat them as s

[2021-06-02 18:07] vikigenius opened #26568 "Alpha release breaks snowpack build"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Material UI 5.0.0-alpha.35 breaks SnowPack and throws error:
 `SyntaxError: indirect export not found: SliderMark`

See discussion in https://github.com/snowpackjs/snowpack/issues/3004

[2021-06-02 18:15] paynecodes commented on #15827
Perhaps the patterns implemented in chakra-ui will be useful for someone here. I'm looking more deeply into them now. For example the chakra-ui [`<Button />` component](https://github.com/chakra-ui/chakra-ui/blob/main/packages/button/src/button.tsx) utilizes a custom [`forwardRef`](https://github.com/chakra-ui/chakra-ui/blob/main/packages/system/src/forward-ref.tsx) function that abstracts some of

[2021-06-02 18:37] nathanlambert commented on #16947
@kelly-tock I do this to get linting on standard CSS (also IIRC soon `experimentalStyled` will be renamed `styled`):

[code]

[2021-06-02 18:38] oliviertassinari commented on #26550
The general experience so far with "good first issue" is that it's counterproductive to onboard new maintainers. The kind of people you want to be maintainers start directly from harder issues. However, I have seen it work for new contributors.

I personally really like this idea to have a granular level of difficulty. If it's too easy, you don't learn anything, nor you build any confidence. If it

[2021-06-02 18:45] ksardas2008 opened #26569 "Dialog component not visible in IE11 after other tab open"
Hi everybody.
I am using the Dialog component in IE11 browser. When the Dialog is visible, I switch to another tab and then switch back. The Dialog component becomes invisible (although it is still in the DOM tree and reacts to some events, for example, tooltips are shown). The dialog appears if you manually resize the browser window or open the developer toolbar. There is no such problem in Chrom

[2021-06-02 19:14] gaurikolhe commented on #10783
@oliviertassinari I am getting a similar sentry error sometimes on medium screen size device (iPad) when I rotate the screen.
TypeError: null is not an object (evaluating 'nodeRef.current.offsetHeight')
On debug, I realize it's coming from, "Tabs/ScrollbarSize.js" file of MUI.  I am importing Tabs element from MUI as below:
[code]
Please let me know if you have any suggetions. Thanks!

[2021-06-02 19:20] oliviertassinari commented on #10783
@gaurikolhe How can we reproduce?

[2021-06-02 19:49] gaurikolhe commented on #10783
@oliviertassinari  I would leave the page idle (I don't have an exact time period from the bug filer), and then rotate the device (iPad) from portrait to landscape (I set responsive design mode of the browser to iPad for debug). It doesn't happen consistently. Thanks!

[2021-06-02 19:53] oliviertassinari commented on #26564
@jollytoad Could you update the reproduction for v5? We don't actively work on v4 since April 2020.

[2021-06-02 19:57] oliviertassinari commented on #10783
@gaurikolhe I can't reproduce with the documentation of the tabs. If you have a minimal live reproduction on v5, please open a new issue. Codesandbox can be really helpful.

[2021-06-02 20:04] nikitabobers commented on #26455
I've faced issues with reproducing current behavior. I'm new to this project and not familiar with codebase so well.
After I run locally I am not able to see versions `master` and `v4.11.1` in version list, for some reason :man_shrugging::

![Screenshot 2021-06-02 221738](https://user-images.githubusercontent.com/58427328/120539593-650f4900-c3f0-11eb-9335-7be76a28777e.png)

I did follow [CONTRIBUT

[2021-06-02 20:10] eps1lon commented on #15827
I do have this in mind as a fall back solution. It would be unfortunate if that would be the best solution since fragmenting between `React.forwardRef` and `MaterialUI.forwardRef` is confusing and might cause even more mistakes.

[2021-06-02 20:57] eps1lon commented on #26564
I would also like to understand why this fails only in jspm on not `vite`, `snowpack`, `esbuild`, or `webpack 5`. Would be nice to give libraries some actionable advise to ensure compatibility and not constantly new issues for different bundlers. I don't understand how the ES module working is ok with the current state of affairs for libraries.

[2021-06-02 22:08] oliviertassinari commented on #26569
Closing as we don't aim to work on IE 11 see https://next.material-ui.com/getting-started/supported-platforms/#ie-11

[2021-06-02 22:08] #26569 closed

[2021-06-02 22:49] oliviertassinari opened #26571 "[RFC] Add makeStyles back?"
# Summary

Implement a `makeStyles` API back powered by emotion.

# Basic example

[code]

# Motivation

We currently plan to remove all support of the `@material-ui/styles` package in v6. This direction creates two main problems.

## v4 to v5 migration

The migration from makeStyles to the `styled` and `sx` API is expensive and very hard to automate. It's unlikely that most projects will have the

[2021-06-02 22:51] oliviertassinari commented on #16947
I have created https://github.com/mui-org/material-ui/issues/26571 to have a place for the community to contribute to the pain generated by putting `makeStyles` on the side going forward with v5.

[2021-06-02 23:05] oliviertassinari commented on #26375
@vrushank

1. input I would customize `.MuiInputLabel-root` directly
2. autocomplete. I would customize `.MuiAutocomplete-root. .MuiInputLabel-root`
3. select. I would wait for #21782 to land and apply 2.

[2021-06-02 23:54] oliviertassinari commented on #26547
I believe this `\\` was added so that `|` doesn't break the markdown table. We render in React now. It could be this:

https://github.com/mui-org/material-ui/blob/6f43dd902de99947af7938af5cb61543c6797ca3/docs/scripts/buildApi.ts#L216

[2021-06-03 01:12] xaiborweb opened #26572 "[example] Material integration ui v5.0.0-alpha.35 error with nextjs"
I am following the example proposed by material ui
https://github.com/mui-org/material-ui/tree/next/examples/nextjs

but it gives me the following error.
![alt text]( https://i.snipboard.io/QFsnIr.jpg)

Steps to reproduce the error:

1) Install nextjs
`yarn create next-app`

2) Replace dependencies inside package.json with
[code]
3) `yarn install`

4) Create theme.js inside src folder with:
https:

[2021-06-03 01:31] #18308 closed

[2021-06-03 02:08] sakura90 opened #26573 "[Rating] onChangeActive shouldn't be fired on blur/focus"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

onChangeActive is called when Rating component is in focus/blur.

## Expected Behavior 🤔

onChangeActive shouldn't be fired on blur/focus.

## Steps to Reproduce 🕹

codesandbox: https

[2021-06-03 02:13] sakura90 commented on #26573
I do not have the permission to change some settings, but could you assign the bug to me and add _bug_ as an extra label?

The issue is from the conversations from the PR #26542

[2021-06-03 02:48] dimitropoulos commented on #26455
I'm just not sure, unfortunately. sorry 'bout that. I would also have to dig around and see what I can find.

[2021-06-03 03:19] siriwatknp commented on #26241
The PR (#26259) is already merged.

[2021-06-03 03:19] #26241 closed

[2021-06-03 06:39] likitarai1 commented on #6140
I would like to work on this issue.

[2021-06-03 07:58] duongdev commented on #26551
Having this issue too

[2021-06-03 08:04] eps1lon commented on #24829
Could you provide a reproducible example for that?

I forked the original codesandbox and updated all dependencies. The issue no longer persists: https://codesandbox.io/s/dazzling-swanson-zldcz

[2021-06-03 08:05] eps1lon commented on #26442
Sounds good :+1:

[2021-06-03 08:08] #26401 closed

[2021-06-03 08:09] sakura90 commented on #26573
@eps1lon Thanks

[2021-06-03 08:10] #26497 closed

[2021-06-03 08:12] duongdev commented on #26551
@joacub I found a way to walkaround

[code]

[2021-06-03 08:33] jollytoad commented on #26564
I can't update for v5 atm, as it's broken on JSPM atm, i think because there are no exports in the MUI package.json files, and there are no explicit overrides for v5 in https://github.com/jspm/overrides/blob/main/overrides.json

Maybe @guybedford can elaborate on @eps1lon's question better than I could?

[2021-06-03 09:12] eps1lon commented on #26564
Tried to make it work but the JSPM CDN is just incomplete. Either latest versions don't exist, or entrypoints are missing. Started to report those in https://github.com/jspm/project/issues/107 but the amount of missing files lead me to believe there's some fundamental part I'm missing about this CDN. Once these issues are resolved we can think about working on compatibility from our side.

[2021-06-03 09:18] oliviertassinari commented on #6140
@likitarai1 Feel free to 👍

[2021-06-03 09:56] mnajdova commented on #26565
@nuanyang233 could you update the codesandbox. In the screen you are showing, there are some `makeStyles` classes, but in the codesandbox there is nothing like that.

Also, would be best if you can try the reproduction with v5, as we no longer actively work on v4.

[2021-06-03 10:07] mnajdova commented on #26571
As far as I know, @layershifter was also working on a similar utility for Fluent-UI, tagging him to get his opinion on the matter. My biggest worry is that it would be the first utility that would be emotion's only API, which will break our story of supporting two styling engines. Not sure how big the cost would be for building and supporting the API. On the other hand, I understand the pain of th

[2021-06-03 10:53] nuanyang233 commented on #26565
@mnajdova Hi, I updated the codesandbox demo. I'm using the v5

[2021-06-03 11:08] abhibhaw opened #26578 "Why does Material-UI datagrid select button not selecting any row"
I have really simple data-grid component:
`<DataGrid
          rows={rows}
          columns={columns}
          pageSize={25}
          autoHeight
          onRowSelected={(x) => {
            setSelectedRow(x.api.current.getSelectedRows());
          }}
          checkboxSelection
        />`
The select all button of data-grid is not selecting any row. even clicking it again isn't deselecting.

[2021-06-03 11:30] #26240 closed

[2021-06-03 13:24] dmaklygin1 opened #26580 "[Modal] zIndex of the Drawer and Modal components are the same"
According to the zIndex definitions (https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/styles/zIndex.js), the Drawer's zIndex is less (1200) than a Modal's (1300). However, as we may see in the examples, these indexes are the same (1300).
This happens, because Drawer is used `Modal` Component under the hood.
The problem is becaming understandable when we try to show a Modal

[2021-06-03 15:53] #19245 closed

[2021-06-03 15:55] ryank425 opened #26582 "[Tabs] Tab automatically scrolls to the left on scroll to the right"
Using Tabs, if you have one of the selected (Tabs value matches with that specific) Tab to have style with display = none, Tabs scroll to the left upon scroll to the right.

I was originally encountering this issue when I wanted to have no tab selected on load, and have a empty tab with display: none so that they can start clicking on it, as Tabs API will give warnings/errors on console if you hav

[2021-06-03 15:58] oliviertassinari commented on #26569
@ksardas2008 I had a quick look, I couldn't reproduce the issue on https://next.material-ui.com/components/dialogs/. If you want to increase the likeliness of somebody working on the issue, I would recommend adding a reproduction. Unfortunately, codesandbox doesn't run on IE 11.

[2021-06-03 16:02] #26550 closed

[2021-06-03 16:14] eric-burel commented on #21293
The advantage of `jest.mock` over mocking the random function, is that you may want a pseudo-random mock for `Math.random` but a constant value just for Material UI (as a pseudo-random will still break often if the DOM slightly change)

[2021-06-03 16:17] matias-retargetly commented on #17799
hi folks some kwno how to solve this?
![image](https://user-images.githubusercontent.com/77464326/120677777-d04b3080-c46d-11eb-9991-a0880baaba01.png)

[2021-06-03 16:19] oliviertassinari commented on #26561
@xaiborweb How would you solve the inlining of critical CSS in the head? We reproduce the styled-components demo:https://github.com/vercel/next.js/blob/73995f6385944db2b448f0dff50da3c058baad35/examples/with-styled-components/pages/_document.js#L5. I'm not aware of any alternatives.

[2021-06-03 16:25] AndyDyer opened #26583 "Tooltip and MenuItem text shifts when viewed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Tooltip text and Menu Item text shift when rendering

https://user-images.githubusercontent.com/22456292/120680541-0aadd100-c460-11eb-90cc-265bd1b60508.mp4

https://user-images.github

[2021-06-03 16:37] oliviertassinari commented on #26582
The issue seems to be fixed in v5: https://codesandbox.io/s/material-demo-forked-jozdw?file=/demo.js. Can you confirm?

[2021-06-03 16:38] AndyDyer commented on #26583
@oliviertassinari  what language am i missing to find the duplicate?

[2021-06-03 16:40] oliviertassinari commented on #26583
@AndyDyer I can't find it. I think that we should close, this is a rendering glitch of Chrome we have no control over (AFAIK).

[2021-06-03 16:41] AndyDyer commented on #26583
@oliviertassinari  gotchya the language around it makes it difficult to find mention of it anywhere.

[2021-06-03 16:44] AndyDyer commented on #26583
@oliviertassinari  anyway I understand if you want to close, appreciate all the work you do on material-ui

[2021-06-03 16:45] oliviertassinari commented on #26580
@dmaklygin1 Do you have a reproduction where we can see the issue it creates? The MuiDrawer-paper is zIndex 1200 when MuiDrawer-root is zIndex 1300.

[2021-06-03 16:49] oliviertassinari commented on #26565
@nuanyang233 The current behavior is expected. We treat the selected state as a pseudo-class. See https://next.material-ui.com/customization/how-to-customize/#pseudo-classes for more details. The TL;DR is to reproduce how `:hover` behavior and so that developers can customize the default look without overriding the selected state.

[2021-06-03 16:49] #26565 closed

[2021-06-03 16:50] oliviertassinari commented on #26563
@PraveenPeri Do you have a visual illustration of the desired outcome?

[2021-06-03 16:51] ashrash commented on #7762
@oliviertassinari  Thanks! it worked !!!

[2021-06-03 16:52] oliviertassinari commented on #26563
Yeah, you can use `ListboxComponent` to set the table parent, then renderOption to render each row. Otherwise, you can use [the hook](https://material-ui.com/components/autocomplete/#useautocomplete) API to fully customize it.

[2021-06-03 16:52] #26563 closed

[2021-06-03 17:04] oliviertassinari commented on #7762
Linking #19154 as we might provide a built-in solution.

[2021-06-03 17:22] oliviertassinari commented on #17799
It's a limitation of the current design of the Select. It was labeled as "won't fix" a while ago. But changing the label.

[2021-06-03 18:00] coder-freestyle commented on #26573
@sakura90 Please let me know if I can help you with this issue. I have understood the fix that is required, although I would need your help on the manual testing bit. Let me know if this is comfortable with you.

[2021-06-03 18:23] ryank425 commented on #26582
The exact same thing happens in Chrome, and Firefox.

[2021-06-03 18:44] ggascoigne commented on #25882
Related, but I wish that SvgIcon just used the Tooltip component in the first place rather than the title element rather than needing to wrap it like this everywhere.

[2021-06-03 18:46] matias-retargetly commented on #17799
thanks @oliviertassinari

[2021-06-03 19:30] jasonburnell98 commented on #21528
I am able to get this running fine in a startup project but whenever I try to migrate from makeStyles to styled in my existing project I run in to all sorts of dependency issues.

[2021-06-03 21:24] coder-freestyle commented on #26533
I have created a PR for this issue. Would love to incorporate your inputs on this PR.

https://github.com/mui-org/material-ui/pull/26585

@eps1lon

[2021-06-03 22:28] oliviertassinari commented on #21528
@jasonburnell98 withStyles and makeStyles related?

@mnajdova A thought: What if:

- we had @material-ui/styles as a dependency of @material-ui/core,
- we had makeStyles and withStyles still available for deep import with a deprecation message (but not available in the main barrel index)

could it make the migration easier with relatively low-cost for us?

[2021-06-03 22:30] TheMoonDawg commented on #19977
I see this was marked as a duplicate, but I don't see where the original issue is located. Just ran into this as well. As I select menu options for a multiple select, the menu loves to jump around on me.

[2021-06-04 00:05] MattHalloran opened #26586 "ThemeProvider Not Working on 5.0.0-alpha.35"
While moving my makeStyles imports from '@material-ui/core/styles' to '@material-ui/styles', I ran into an issue with ThemeProvider. When my project loads, I get an error stating:

However, the theme should be in the context, as StyledEngineProvider and ThemeProvider are the top components in my App.js file.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](http

[2021-06-04 00:15] gaurikolhe opened #26587 "[Tabs] Sometimes gives an error of "null is not an object" if it's scrollable"
- [x]  I have searched the issues of this repository and believe that this is not a duplicate.

 Current Behavior

I get `TypeError: null is not an object (evaluating 'nodeRef.current.offsetHeight').`  when I use Tabs component (variant = "scrollable") on my iPad. It doesn't happen consistently. On debug, I got to know it's coming from `Tabs/ScrollbarSize.js`
<img width="1092" alt="Screenshot 2021

[2021-06-04 00:18] gaurikolhe commented on #10783
@oliviertassinari  I created new issue #26587. I also added steps on how to reproduce it on Codesandbox. Thank you.

[2021-06-04 02:52] siriwatknp commented on #14971
I think this issue can be closed once #26446 merged.

**Summary**

`<ListItem button>` is deprecated, use `ListItemButton` instead.

[code]

[2021-06-04 02:56] siriwatknp commented on #26469
This will be fixed once #26446 merged. However, this will still be an issue.

[code]

I think it is okay because we are deprecating `button` prop in v5 in favor of `ListItemButton`.

[2021-06-04 03:31] PraveenPeri commented on #26563
@oliviertassinari That's almost what we want with headers to the columns at the top. I tried your suggestion of using listboxcomponent and renderOption but I don't see the options. I know I am not doing something right but not sure what
https://codesandbox.io/s/material-demo-forked-w0tfh

[2021-06-04 03:41] manozcodes commented on #16377
###

-

- [ ] @

- [ ] @ #1. url
Duplicate of #

)

[2021-06-04 03:52] PraveenPeri commented on #26563
We are trying to achieve something like this
![image](https://user-images.githubusercontent.com/6571000/120743317-a3b70900-c4ad-11eb-86c3-93c3999cf2ab.png)

[2021-06-04 04:22] andrew-hwahin commented on #26586
I'm encountering `TypeError: theme.spacing is not a function` after upgrading from `5.0.0-alpha.34` to `5.0.0-alpha.35`
[code]

![image](https://user-images.githubusercontent.com/61768800/120745328-8034a280-c52f-11eb-9035-fccf2dcbd504.png)

[2021-06-04 07:29] zgover opened #26592 "Request ModalManager Documentation for Proper Customization of Default Implementation"
### Issue — Shortened Version
1. **Are lib consumer custom implementations of the default `ModalManager` module/class discouraged?** Root level named imports are available but ignored. Logically, I would say otherwise. So why not remove @ignore tag for discovery and code completion?

2. **What is the exact purpose of _mui_ `ModalManager` class and decision to not provide documentation in _componen

[2021-06-04 08:59] ddyakov commented on #26586
This is because of the problem issued above. The 'theme' argument in makeStyles is an empty object, thus trying to call .spacing, .palette, etc. would cause error because they will be undefined.

[2021-06-04 09:01] andrew-hwahin commented on #26586
@ddyakov After upgrading the version of "@material-ui/styles": "^4.11.4" to "^5.0.0-alpha.35" the issue is resolved.

[2021-06-04 09:04] ddyakov commented on #26586
You are right, I just upgraded and it works! Thanks!

[2021-06-04 09:10] andrew-hwahin commented on #26586
Maybe @oliviertassinari can add in a reminder in the [release note](https://github.com/mui-org/material-ui/releases/tag/v5.0.0-alpha.35) so that other people won't make the mistake that we made 😅

[2021-06-04 10:48] hyeonhong commented on #26572
Installing the styles package by `yarn add @material-ui/styles@next` worked for me.

[2021-06-04 10:48] florianbepunkt commented on #26438
@mnajdova I fixed the example repo to make it work. In case anyone else has the same problem: https://github.com/florianbepunkt/mui-example-26438

[2021-06-04 10:48] #26438 closed

[2021-06-04 10:49] #26573 closed

[2021-06-04 12:59] jasonburnell98 commented on #21528
@oliviertassinari Yes it is with makeStyles, I fixed most of the dependency problems and after updating my project and running some of the migration scripts, for the files in node_modules, found in the docs (v4 to v5), I am now getting this error:

Failed to compile.

./node_modules/notistack/dist/notistack.esm.js
Attempted import error: 'makeStyles' is not exported from '@material-ui/core/styles'

[2021-06-04 13:37] mnajdova commented on #21528
@oliviertassinari just to clarify, are you suggesting this only during the alpha/beta stage of v5? If so, yes I think we can add them. When you say deep import, do you mean this?

[code]

Also, should we then just re-export them so that they won't have the default theme?

Attempted import error: 'makeStyles' is not exported from '@material-ui/core/styles'.

@jasonburnell98 see https://github.com/i

[2021-06-04 13:41] oliviertassinari commented on #21528
@mnajdova on my bad, I forgot that we don't import makeStyles and withStyles with a different path. My proposal won't work 😁.

[2021-06-04 13:52] jasonburnell98 commented on #21528
Thanks, @mnajdova , I'll review that, is there some sort of migration script/process I can refer to to update the imports to be from @material-ui/styles rather than @material-ui/core/styles or will notistack be removed ? as referenced from https://github.com/mui-org/material-ui/pull/26382

[2021-06-04 14:01] jasonburnell98 commented on #21528
@mnajdova Or I suppose your plan was to update the import for notistack.

[2021-06-04 14:01] jasonburnell98 commented on #21528
Thanks for getting back to me!

[2021-06-04 14:05] Muzietto opened #26594 "Material-ui 4.11.4 - Grid: items in column require container direction='row' to display correctly (??)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

I want to have several div's in column, centered on the page axis and stretched in width as much as the div width allows it. I am using the `<Grid>` component (both container and ite

[2021-06-04 14:34] sakura90 commented on #26582
Going to take a look of this issue

[2021-06-04 19:24] xaiborweb opened #26595 "warning prop classname did not match. server material-ui & next js"
![alt text]( https://i.ibb.co/bzJSqw3/image.png)

`Warning: Prop className did not match.
Server: "MuiButtonBase-root MuiListItem-root MuiListItem-gutters MuiListItem-button css-rmvemx-MuiButtonBase-root-MuiListItem-root"
 Client: "MuiButtonBase-root MuiListItem-root MuiListItem-gutters MuiListItem-button Mui-selected css-rmvemx-MuiButtonBase-root-MuiListItem-root"`

I know that the react error ha

[2021-06-04 20:08] tarun1992 commented on #16239
The carousel component is needed for my Application also. Would be great if it comes up in the next release.

[2021-06-05 02:31] xaiborweb commented on #26595
Testing if I get the open prop from the normal useState hoock and not from the custom useStateLocal hook it disappears in the browser console.

Which leads me to wonder if the custom hook useStateLocal, to keep the state persistent, generates conflicts with ui material, when generated from the server.

[2021-06-05 05:44] lalLAL95828 opened #26597 "When the children of material UI's Buttonbase is Popper, the click of Popper will make the buttonbase ripple"
[code]

how to do when I want click poperclick div ，but ButtonBase have not Ripple

[2021-06-05 07:11] re-thc commented on #26561
Does the styled components example apply to emotion? This [example](https://github.com/vercel/next.js/tree/canary/examples/with-emotion) doesn't require as many changes.

[2021-06-05 07:41] stfenjobs commented on #26572
same here

`Module not found: Can't resolve '@material-ui/styles'
`

[2021-06-05 07:42] stfenjobs commented on #26561
anyone can update this ?

[2021-06-05 08:00] stfenjobs commented on #26168
css

[2021-06-05 08:15] thomasjm commented on #26486
It does actually seem to be fixed in Chrome 91!

[2021-06-05 10:35] rsslldnphy commented on #26441
I've never used `jscodeshift` but have managed to hack something together which meets my needs - with the module alias material ui is imported as **hardcoded** to `UI`:

[code]

Posting it here in case it's useful for anyone else facing the same problem (you can just change the hardcoded `'UI'` to whatever alias you use) or in case it's helpful for someone who knows `jscodeshift` and can make this

[2021-06-05 10:47] rsslldnphy commented on #22426
Product: GoodGym
The problem solved: GoodGym is a community of runners who combine exercise with volunteering to get fit by doing good. Our members run, walk, or cycle to help out with manual labour for local community organisations, or to visit or perform tasks for isolated older people.
Company or organization: GoodGym

Link: https://www.goodgym.org
Screenshot:
<img width="1904" alt="Screenshot

[2021-06-05 11:24] mayankshinkhedkar opened #26601 "How to prevent @material-ui/core/Dialog from close when user press browser back button"
From the [next version of material-ui](https://next.material-ui.com/getting-started/installation/) following dependencies installed with as mentioned versions

"@emotion/react": "^11.4.0"
"@emotion/styled": "^11.3.0"
"@material-ui/core": "^5.0.0-alpha.35"
"@material-ui/icons": "^5.0.0-alpha.35"
"@material-ui/lab": "^5.0.0-alpha.35"

[code]

[2021-06-05 15:42] Clish254 commented on #3973
Okay i've tried everything here and nothing works

[2021-06-05 16:29] howieyoung opened #26605 "[pickers] 'dialogClasses' is not exported from '@material-ui/core/Dialog'"
The latest release will address the issue in pickers

- [v] The issue is present in the latest release.
- [v] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Build the project and got failed

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1. Install the latest released version

[2021-06-05 19:38] oliviertassinari commented on #26561
@xaiborweb Fixed in #26567.

What's the issue with this?

@re-thc I think that this integration is wrong. It leads to `body > style` elements which are not encouraged. For instance:

- In the spec, no mentions of the body, only the head: https://html.spec.whatwg.org/multipage/semantics.html#the-style-element.
- Thoughts about a member of the Chrome team on the matter: https://github.com/whatwg/htm

[2021-06-05 21:06] jinook929 opened #26606 "Material Icons: "This demo had a runtime error!""
![image](https://user-images.githubusercontent.com/47642099/120905443-04665300-c620-11eb-9f4a-83ef603d837a.png)
![image](https://user-images.githubusercontent.com/47642099/120905448-17792300-c620-11eb-9a48-0a8ecad3bcd0.png)

- [ v ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this

[2021-06-05 21:32] ariel-frischer commented on #26580
I'm not sure if this is related but after updating MUI versions to v5 alpha:
[code]
 My modals have started to become part of the backdrop. I'm really unsure how to fix it, it seems the root element inside the modal needs a much higher zIndex to look normal again. Examples:
![image](https://user-images.githubusercontent.com/19893395/120905986-b09d3f00-c60a-11eb-892f-ae33826989d7.png)

![image](htt

[2021-06-05 21:35] oliviertassinari commented on #26580
@ariel-frischer Do you have a reproduction?

[2021-06-05 21:36] ariel-frischer commented on #26580
Update:
I've found the culprit in this breaking change in `@material-ui/core@5.0.0-alpha.29` : `[Backdrop] Remove z-index: -1 (#25524) @silver-snoopy`
Re-adding `z-index: -1` to my backdrop seems to just fix my modals.

[2021-06-05 21:40] ariel-frischer commented on #26580
I don't think I'm gonna whip up a new reproduction for this I was just passing the `Backdrop` component into the Modal's `BackdropComponent` parameter.
[code]

[2021-06-05 21:46] oliviertassinari commented on #26582
Actually, I wouldn't label this a bug. The reproduction triggers because the selected tab is not visible. This is not something we support. I would propose the following:

[code]

[2021-06-05 23:55] oliviertassinari commented on #26586
Great, it seems the the origin of the issue was found. The peer dependency warning should have raised the issue beforehand. I'm closing as we can't do much about this problem.

[2021-06-05 23:55] #26586 closed

[2021-06-05 23:58] oliviertassinari commented on #26583
I'm closing, maybe somebody from the community will find a solution, at some point, but I would bet more on Chrome improving the rendering tradeoffs.

[2021-06-05 23:58] #26583 closed

[2021-06-06 00:57] oruharo opened #26607 "[Textfield] Border lines of Textfield cross over the text label shrinked by MuiInputLabel"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Borders of Textfield component cross over the shrinked text label.
![image](https://user-images.githubusercontent.com/9918931/120903128-4e325600-c67f-11eb-8091-46b1c03268c6.png)

## Ex

[2021-06-06 04:43] re-thc commented on #26561
@oliviertassinari are the [emotion docs](https://emotion.sh/docs/ssr#nextjs) also incorrect?

`This only applies if you’re using vanilla Emotion or a version of Emotion prior to v10. For v10 and above, SSR just works in Next.js.`

I assume that's what Chakra UI, the quoted example followed.

[2021-06-06 06:31] sakura90 commented on #26582
@oliviertassinari  Haven't done much exploration on mine.  I took a look of the demo and the demo's behavior only.  Not having time to take a complete look of the issue but am going to look further.

[2021-06-06 07:01] sakura90 commented on #26582
@oliviertassinari The above doc for v5 alpha already addressed the proposal to describe <Tabs ... value={false}> on Tabs API page from my view.  I suggest to close this issue without doing anything.

@ryank425 @oliviertassinari's link for the v5 alpha doc describes <Tabs ... value={false}> on Tabs API page from my view.  How about just closing this issue without doing anything?

[2021-06-06 07:48] Siddhant-K-code commented on #26252
@ThilakrajSelvam
On Commenting #L16-L19, things are working fine. Why do We Need to trigger `onViewChange` for the same?

Demo: https://codesandbox.io/s/gifted-panini-rylg2?file=/src/demo.js:594-606

[2021-06-06 08:03] sakura90 commented on #25195
@oliviertassinari @Gautam-Arora24 claimed an issue but did not follow up for more than a week, please let me take it over

[2021-06-06 08:13] Gautam-Arora24 commented on #25195
Sorry for the delay but I will like to continue to work on this issue. Most probably will send a PR till tonight.

[2021-06-06 08:26] sakura90 commented on #25195
@Gautam-Arora24 please continue to work on this issue

[2021-06-06 08:26] Gautam-Arora24 commented on #25195
Sure 🙂

[2021-06-06 08:34] sakura90 commented on #24045
please let me work on this issue

[2021-06-06 10:40] oliviertassinari commented on #26582
@sakura90 So did the documentation for v4. This didn't change.

[2021-06-06 10:54] sakura90 commented on #26582
@ryank425 See the docs: https://material-ui.com/api/tabs/

![image](https://user-images.githubusercontent.com/6892198/120921840-abbab700-c700-11eb-9eb3-442e748178ee.png)

The v4 doc describes <Tabs ... value={false}> on Tabs API page.  What about closing the issue and reopening the issue if you would like to?

@oliviertassinari What about closing the issue?

[2021-06-06 11:30] oliviertassinari commented on #24045
@sakura90 Sounds great, @siriwatknp could likely provide guidance

[2021-06-06 11:31] oliviertassinari commented on #26561
Yeah…

[2021-06-06 11:40] oliviertassinari commented on #26606
How can we reproduce? Duplicate of #26117

[2021-06-06 12:11] obird2020 commented on #10425
Does this issue still exists in 2021? Seem to be getting same error.

[2021-06-06 12:21] rickstaa commented on #15827
@eps1lon I tried creating a playground for the first todo but since I have never used the typescript playground I did not find a way to required npm modules. I currently added them under the plugins tab but I keep receiving an error about the types not being available (see [this playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDGMA0cDecCuAzksgGZwC+cpUEIcARFKhgwNwBQokscAQvh

[2021-06-06 12:58] oliviertassinari commented on #26605
@howieyoung Interesting, thanks for the report. It looks like we need to update the peer dependency warning:

[code]

For instance, it's broken with:

[code]

https://codesandbox.io/s/basicdatepicker-material-demo-forked-ng8yy?file=/demo.tsx

[2021-06-06 13:11] shades-7 commented on #26605
hey can i work on this?

[2021-06-06 14:33] ZaidulinKirill commented on #26595
I also have the same error. It looks like this is somehow related to Webpack 5 because I can fix it by adding `future: { webpack5: false }` in next.config.js

[2021-06-06 14:48] oliviertassinari commented on #26563
OK, then https://github.com/mui-org/material-ui/issues/26563#issuecomment-854026511 is answering your need. If it's not enough, you can ask on StackOverflow.

[2021-06-06 14:51] bobbyconnolly opened #26626 "[V5] Fix type when assigning SerializedStyles from emotion's css() to `sx` prop"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I noticed that the docs point us to do the following
[code]

This also works when you
import { css } from "@emotion/react"
[code]
Although this works fine and the styling gets applied, there's a Typescript warning:
[code]

Maybe we are simply

[2021-06-06 16:06] oliviertassinari commented on #23945
Tested, fixed in #26460

[2021-06-06 16:06] #23945 closed

[2021-06-06 16:19] marsh826 commented on #2076
Thank You So Much! It worked Perfectly!

[2021-06-06 17:47] stfenjobs opened #26627 "why sx but css"
hi, friend , this project is very good

but i have a question

in new styles , why sx  but css

why this?
[code]

why not this?
[code]

if we use `css`,  Mental burden will is very small, very easy to learnning and use

----

 like `className`、`htmlFor`， in react, it's not good design

why not `htmlClass`  + `htmlFor`

or `className` + `htmlName`

thank you very much

[2021-06-06 18:06] oliviertassinari commented on #26627
@stfenjobs I'm not sure to follow. Are you looking for a `css` prop? Emotion and styled-components already have the concept of the `css` prop. They expect the same input as with the `styled()` API. The `sx` prop is a [**superset**](https://next.material-ui.com/system/basics/#superset-of-css) of the `css` prop.

[2021-06-06 19:00] oliviertassinari commented on #21542
I suggest to call this function inside an useEffect and avoid calling it inside the main function

@Emad-Emami Do you have a reproduction? AFAIK, `onClickAway` is never called inside a render method.

[2021-06-06 19:02] oliviertassinari commented on #22538
@Floriferous You can probably compose your own TextField by extending the behavior of the `InputLabel`.

[2021-06-06 19:07] oliviertassinari commented on #23795
My guess is that you are looking for #24759 and #18098.

[2021-06-06 19:23] howieyoung commented on #26605
@oliviertassinari No problem.
For anyone who faced the same issue, just try to edit your @material-ui/lab and @material-ui/core to the equal version and reinstall the package for your project, it should be a quick fix on your side.

[2021-06-06 19:47] Gautam-Arora24 commented on #25195
@sakura90 Sorry! If you want you can work on this issue.

[2021-06-06 21:10] oliviertassinari commented on #25677
I had a look at the issue. The issue is with

[code]

For a reason I fail to understand (iframe communication security?), the theme is going through a serialization process that doesn't support functions: https://github.com/storybookjs/telejson/issues/16. So you have to serialize something else, `'light'`,`"dark"` might be enough.

[2021-06-06 22:37] lazuren commented on #26595
The following helped me. The component on which the error occurred, I wrapped <NoSsr> </NoSsr> and the problem went away.

[2021-06-06 23:08] oliviertassinari commented on #17001
@UnderTheMoonspell we might rebuild the select to solve this and a dozen other issues we have with the component.

[2021-06-06 23:32] oliviertassinari commented on #21587
@siriwatknp I think that we will always need different components for rendering a list item, a menu item, and maybe a listbox item (select). Because it works in Material Design with the same component doesn't mean it will work in most design systems. I would definitely encourage 2 without any dependency on the list.

[2021-06-07 00:54] robverhoef commented on #14286
These curly braces don't look right.

[2021-06-07 05:00] dorgnarg commented on #16037
Has this changed at all under v5? I'm able to get a TextField with the Card elements and stylings, but I'm not seeing onChange getting triggered at all (and it does get triggered when the CardNumberElement is on its own without this wrapping).

[2021-06-07 05:35] monikabadertscher opened #26630 "TextFields on TabPanel"
Hello
I made Tabs with TabPanels. I put TextFields on the TabPanels and unfortunately the FormControl does not work properly. The fields lose always the focus, so I cannot type 2 digits without losing focus on the field. I tried things like onblur, autofocus etc. but it doesn't work. If I remove the Tabs, then it works correctly.
My question: Is there a way to use FormControl on Tabs resp. TabPane

[2021-06-07 07:15] Raicuparta opened #26631 "sx prop as a function for type safety"
The new `sx` prop has the advantage of being able to refer to theme keys without having to import a theme object, which is great. Problem is, using theme keys as plain strings wastes the benefit of type safety in TypeScript. As far as I'm aware, it wouldn't be feasible to type check the possible values via typed template strings.

- [x] I have searched the [issues](https://github.com/mui-org/mater

[2021-06-07 07:15] eps1lon commented on #15827
@rickstaa You can't import form `@material-ui/core/*` in the TypeScript playground (https://github.com/microsoft/TypeScript-Website/issues/206). I'd recommend inlining all the relevant types that aren't importable from `@material-ui/core` i.e. copy&paste.

[2021-06-07 07:33] #26538 closed

[2021-06-07 07:43] stfenjobs commented on #26627
thank you very much

i mean  :
can we rename `sx` to `css`

[2021-06-07 08:20] eps1lon commented on #26606
That issue was about an error that wasn't caught by the demo error boundary. The error reported was caught by the demo error boundary. It's unlikely that these are related

[2021-06-07 08:31] michaldudak commented on #26627
The `sx` prop is not exactly CSS - it's more than that. If we named it `css`, it could create more confusion. Specifically, `sx` can contain responsive breakpoints and it can reference values from the theme, not absolute units (i.e. `margin: 2` won't set the margin to `2px` but to 2 * base value defined in the theme object).

[2021-06-07 08:41] rickstaa commented on #15827
@eps1lon Thanks for the explanation. I was not aware of that. I will give it another try!

[2021-06-07 08:48] mnajdova commented on #26631
Thanks for the report. We could investigate using [template literal types](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html). There is a similar discussion to it in https://github.com/mui-org/material-ui/issues/26475. Regarding the callback, you could use
[code]

But I wouldn't recommend changing every prop to callback, only for type safety. I remember we discussed making

[2021-06-07 08:54] Raicuparta commented on #26631
Oh, I wasn't aware that was possible. Closing this then. I did mention template literal types, but honestly it doesn't seem like it's feasible. I'll pay attention to the discussion.

[2021-06-07 08:54] #26631 closed

[2021-06-07 10:03] stfenjobs commented on #26627
thank you  @michaldudak

can we use  `cssx`?     like `jsx`

[2021-06-07 10:03] #26627 closed

[2021-06-07 10:15] #26547 closed

[2021-06-07 10:31] #18378 closed

[2021-06-07 10:31] #18776 closed

[2021-06-07 10:31] #26288 closed

[2021-06-07 10:39] mnajdova commented on #26626
@bobbyconnolly this is not supported with the `sx` prop. Is there some examples on the docs that suggest that this is important. I am curious to why you thought this is supported.

[2021-06-07 10:52] eps1lon commented on #26595
Needs to be revisited once https://github.com/mui-org/material-ui/pull/26567 is merged.

[2021-06-07 10:53] eps1lon commented on #26601
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-07 11:01] eps1lon commented on #26587
this is what I was able to do, but it takes a period of inactivity in my application,

Does this reproduce with the codesandbox open in your tablet or having just the app open?

[2021-06-07 11:04] oliviertassinari commented on #26595
The difference of class name is `.Mui-selected` this sounds like a userland issue with how the state is set. @lazuren Do you have a reprduction?

[2021-06-07 11:05] eps1lon commented on #26592
By default, nothing is documented. We only document APIs that are useful to solve a problem.

Using props, classnames, exports etc that are not documented are not part of the public API and can therefore break in any release. So you can use them, but if the next release (be it patch, minor or major) breaks that usage, we don't plan to resolve that breakage.

Hope that explains some internals.

Is

[2021-06-07 11:07] eps1lon commented on #25882
If this is a common pattern, then I would recommend you abstract it into a separate component that composes the Tooltip and SvgIcon.

Using the Tooltip by default in the SVGIcon penalizes every usage of SVGIcon that doesn't use a Tooltip.

[2021-06-07 11:08] eps1lon commented on #26597
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-07 11:10] eps1lon commented on #26486
Thanks for confirming.

I'm closing this issue since I don't think this issue is important enough to fix for all supported versions of chrome. It's just a minor visual nuisance.

[2021-06-07 11:10] #26486 closed

[2021-06-07 11:12] eps1lon commented on #26607
Pretty sure this is a general problem when we reach into `*Props` but ignore theme default props.

[2021-06-07 11:13] eps1lon commented on #26630
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-bext), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-07 11:24] bobbyconnolly commented on #26626
Hey @mnajdova , thanks for getting back to me. I'll admit I'm a bit confused as to whether or not we can use in V5 string interpolation with Emotion's css`` utility. Also, I noticed `Replace css prop with sx to avoid collision with styled-components & emotion css prop.` [under system](https://next.material-ui.com/guides/migration-v4/#system) which hinted (ok this was a stretch 😂 ) that maybe the c

[2021-06-07 11:34] #26572 closed

[2021-06-07 11:42] #11764 closed

[2021-06-07 12:09] jinook929 commented on #26606
it works fine~ i think it was about some kind of network issue. thanks for
checking, friend~~~
[image: image.png]
ᐧ

On Sun, Jun 6, 2021 at 7:40 AM Olivier Tassinari ***@***.***>
wrote:

[2021-06-07 12:10] jinook929 commented on #26606
Today I checked it again and it worked fine^^;; Probably it was some kink of network issue.
![image](https://user-images.githubusercontent.com/47642099/121013846-5bc30b00-c767-11eb-9272-dcf8b0880515.png)

[2021-06-07 12:10] #26606 closed

[2021-06-07 12:10] jinook929 commented on #26606
it works fine~ i think it was about some kind of network issue. thanks for
checking, friend~~~
[image: image.png]
ᐧ

On Mon, Jun 7, 2021 at 4:20 AM Sebastian Silbermann <
***@***.***> wrote:

[2021-06-07 12:11] Vixata32 opened #26634 "XGrid Api missing disableDensitySelector"
On the XGrid api page  - https://material-ui.com/api/x-grid/ is missing the disableDensitySelector, which is available in the code as I see it here: https://github.com/mui-org/material-ui-x/blob/f5642ae7fe19ed8b8998182c1a6f49c2ff7bb149/packages/grid/_modules_/grid/components/toolbar/GridDensitySelector.tsx
    // Disable the button if the corresponding is disabled    if (options.disableDensitySele

[2021-06-07 13:11] #13597 closed

[2021-06-07 13:11] #14971 closed

[2021-06-07 13:11] #26442 closed

[2021-06-07 13:11] #26469 closed

[2021-06-07 13:20] bobbyconnolly commented on #26626
So I dug a little deeper and it turns out you _can_ just use the css prop. I just had my babel config set incorrectly. Here are the settings in case anyone is interested:

*presets*
[code]
*plugins*
[code]
Now this works:

[code]

I really don't know how I got into such a twist reading the docs but posting here helped me untangle, so thank you :)

I guess the only loose end is why the `sx` prop al

[2021-06-07 13:21] #26626 closed

[2021-06-07 14:07] Vixata32 opened #26638 "XGrid disable Export button prop"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
"disableExportButton" prop should be able to show and hide the Export button in the grid tool bar.

## Examples 🌈
"disableColumnSelector" prop is working like that. The code is [HERE](https://github.com/mui-org/material-ui-x/blob/f5642ae7fe19e

[2021-06-07 14:34] gaurikolhe commented on #26587
@eps1lon I tried to reproduce it with codesandbox open, but I had no success.  I have a sentry set up in my project so I got few sentry error messages for the same. It doesn't happen consistently in my project either.

[2021-06-07 15:03] ertrzyiks commented on #26580
I put together examples of Drawer and Modal from the website, but Modal is correctly rendered over the Drawer
https://codesandbox.io/s/compassionate-nightingale-7nw8s?file=/src/App.tsx

[2021-06-07 15:18] mnajdova commented on #26626
Thanks for the feedback. We definitely need to work on improving the docs on the `sx` prop, I have it on my list :)

[2021-06-07 15:50] mnajdova opened #26639 "[RFC] Move some generic utils from `@material-ui/core/styles` to `@material-ui/system`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I did some testing today whether we can use the `@material-ui/unstyled` together with `@material-ui/system` for creating custom components. So far, I found problems with the following utils, that I needed to import from `@material-ui/core/sty

[2021-06-07 16:11] Lonest90 opened #26640 "MUI components/style flickering out of <Component /> in production mode (Next.JS)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm having problems with Material-UI components outside the `<Component />` in `_app.tsx` of Next.JS, they don't load properly, they load after a few seconds, causing flickering, this

[2021-06-07 16:29] ggascoigne commented on #25882
And that's what I'm doing, it just loses us the convenience of simply using the icon directly.  It's frustrating to want to use the `Tooltip` control and then having to track down all of the places that use `title` and fiddle with them when then have such different behavior.  It makes for a very inconsistent DX.

[2021-06-07 16:37] arunkumar413 opened #26641 "Getting error module not found: Can't resolve '@material-ui/core/Unstable_TrapFocus'"
[code]
{
  "name": "reacttemplate",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@babel/core": "^7.13.14",
    "@date-io/date-fns": "^1.3.13",
    "@material-ui/core": "^4.9.12",
    "@material-ui/data-grid": "^4.0.0-alpha.30",
    "@material-ui/icons": "^4.11.2",
    "@material-ui/lab": "^4.0.0-alpha.57",
    "@material-ui/pickers": "^3.3.10",
    "@reduxjs/toolkit": "^1.5.1"

[2021-06-07 19:21] jdwilkin opened #26643 "Autocomplete with freesolo, autoselect and object options clears value on blur"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

the input is cleared

## Expected Behavior 🤔

the input is not cleared and the selected object is maintained as the value of the control

## Steps to Reproduce 🕹

https://codesandbox.