[2020-09-29 17:02] oliviertassinari commented on #20182
@obnoxiousnerd It could also be an issue in the order Preact calls hooks (or at least be different from React). It would probably be best to isolate the different with React and report the issue to the Preact's team.

[2020-09-29 17:53] ianschmitz commented on #22342
I may have missed this along the way through this thread - another related question to my `classes` question. What sort of "correctness" guarantees might there be?

For example i've edited the slider example:

[code]

You'll notice i accidentally misspelled `MuiSlider-rail`. Previously with `classes` there would be something like `classes.rail`, and if i misspelled the property, i would get a runt

[2020-09-29 19:20] croraf commented on #22456
@oliviertassinari I now see that me and you change the name from AccordionDetails to Accordion and back :D. Why you put Accordion when it is on AccordionDetails component?

[2020-09-29 19:55] CloudNiner opened #22812 "Docs menu infinitely flickers open and closed in Safari"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![2020-09-29 15 40 56](https://user-images.githubusercontent.com/1818302/94607919-997fa380-026a-11eb-9ea2-a96cb4aa41d8.gif)

## Expected Behavior 🤔

The menu should toggle once only w

[2020-09-29 20:01] oliviertassinari commented on #22456
@croraf The tag in the title of the pull request aims to match existing GitHub tags. We don't tag each react component we export but each component (in general).

[2020-09-29 20:15] girardiricardo opened #22813 "Component library using Material UI has CSS problems"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Scenario:
- _**Components project**_ (build with Rollup and based on Material UI)
- Project X (such as dashboard or whatever.. with CRA)

The _**Components project**_ has a customized

[2020-09-29 20:34] #22813 closed

[2020-09-29 21:04] Nipodemos commented on #22799
Thank you very much for the tip!

[2020-09-29 21:19] croraf commented on #22276
@eps1lon This is the example from our Accordion docs page.
@rpsabarimani Which screen reader do you recommend to install, and how (a chrome extension?)? I'm on Ubuntu Linux. Could it be that this is a bug in the screen reader?

[2020-09-29 21:25] oliviertassinari commented on #22812
This looks like a known limitation: #20947, #13296.

[2020-09-29 21:47] croraf commented on #22804
I simplified your example https://codesandbox.io/s/competent-hopper-vbe1p?file=/src/Accordion.js

The basic HTML rule is that you cannot put "button" element inside another "button" element. https://stackoverflow.com/a/39386695/2996376

I guess because AccordionSummary's rendered root element has `role="button"`, even though it is not a button you cannot put another button in it.

[2020-09-29 22:37] oliviertassinari commented on #22804
@croraf Thanks for investigating, so the provided codesandbox is invalid. Regarding the warning, the latest version of Firefox support it correctly now. However, the warning seems still relevant as adding an onClick listener on the svg inside the icon button will leave a bunch of the element unresponsive. I would propose something like:

[code]

Regarding the use case, developers can have custom l

[2020-09-29 22:52] croraf commented on #22804
Let me comment just on the use case part.

Yes, the `AccordionSummary` can be customized as per user's wish with the `children` props.

But from the docs it is not 100% clear about what is the intention of the `expandIcon`. That its use case is purely presentational and that it just bubbles the click to the parent. What makes it even more confusing is the "button click ripple feedback" that happen

[2020-09-29 22:52] #22811 closed

[2020-09-29 22:53] oliviertassinari commented on #22811
tip: don't use the z-index unless you know exactly what you are doing. The cases where it's an appropriate solution are very rare.

[2020-09-29 22:57] oliviertassinari commented on #22804
@croraf The prop is described as :

[code]

Its default purpose is presentational, it has no roles, no tab indexes. What do you envision as an appropriate change?

[2020-09-29 23:31] croraf commented on #22804
@oliviertassinari The first question is, do we really want this `expandIcon` to be wrapped in `IconButton`. This is not clear from https://material.io/archive/guidelines/components/expansion-panels.html#expansion-panels-behavior
From the default usage, it seems that it should not be wrapped, as it triggers no special event (just passes it to the entire "AccordionSummary".

[2020-09-29 23:31] oliviertassinari commented on #22342
The advantages of the `classes` API I can think of:

1. Edge against the global CSS selectors that leaks between children: e.g. In `.css-e7ylz8 .MuiTreeItem-group`. You have no guarantees that the component doesn't apply the style on a child component (not the effect you were expecting, a surprise!). Probably OK-ish for our components as we will be careful.
2. Make handling portals a no-brainer: h

[2020-09-29 23:35] oliviertassinari commented on #22804
@croraf Google featured snippets' accordion doesn't. We could potentially drop it.

[2020-09-29 23:36] croraf commented on #22804
I will make this PR tomorrow (if I dont forget) so the others can also comment if it makes sense.

[2020-09-29 23:49] oliviertassinari commented on #20153
The latest design of the slider I could find on Google's product:

<img width="352" alt="Capture d’écran 2020-09-30 à 01 38 37" src="https://user-images.githubusercontent.com/3165635/94627419-c27d5400-02bd-11eb-8271-23059817c468.png">

https://www.google.com/travel

<img width="324" alt="Capture d’écran 2020-09-30 à 01 40 51" src="https://user-images.githubusercontent.com/3165635/94627499-04a6

[2020-09-29 23:53] marcelo-umg commented on #22811
@oliviertassinari why did you closed the issue? I mentioned that I used `index` only because I saw on some other posts/issues that it is a workaround. You just closed the issue and I still see people mentioning this kind of problems with the styles everywhere and there is no certain answer to this yet.

[2020-09-29 23:54] oliviertassinari commented on #22779
It sounds like a great solution.

[2020-09-29 23:54] marcelo-umg commented on #22811
It is ok if I have to remove the `index`. But, can you mention a possible solution for my problem? please.

[2020-09-29 23:56] oliviertassinari commented on #22811
@marcelo-umg Sorry, we don't have the bandwidth to help more. The first step to getting external help would be to make a minimal reproduction for the issue. Then, maybe the community on StackOverflow could help.

[2020-09-29 23:58] oliviertassinari commented on #22785
@jiangyh1024 You can do the same with the `open` prop of the tooltip. If you want to hide the tooltip on click, you could also set a key: https://codesandbox.io/s/keen-resonance-cr25y.

[2020-09-30 00:05] ntbosscher opened #22815 "CircularProgress: Animation freezes under high load even with disableShrink=true"
CircularProgress temporarily freezes when the page is doing an intensive task even with disableShrink=true. Yes, I know I'm supposed to batch changes or use a background worker - but when I create my own animation I found this freezing doesn't occur.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this reposito

[2020-09-30 00:30] oliviertassinari commented on #22815
Nice, remove:

[code]

And it becomes smooth 🤷‍♂️. However, you really have to push it far on the CPU heavy computation to notice this (at least on my computer).

[2020-09-30 05:47] Avi98 commented on #22779
Hi @ryancogswell and @oliviertassinari , can I take this issue.

[2020-09-30 06:50] elisherer commented on #22717
I also need this behavior

A workaround would be to use the following style overrides:
[code]
* Do not provide width for the columns in the ColDef[] array

[2020-09-30 07:33] mkhoussid commented on #22804
Thanks guys. Closing for now. If that's a premature action, please feel free to reopen it.

[2020-09-30 08:29] ariel262626 opened #22816 "Advanced table component"
Hi,
Are you going to make a table with all the features (sort, filtering, custom overrides, ...)?

Thanks.

[2020-09-30 09:28] mnajdova commented on #22810
Thanks for reporting @daniel-keller I see two potential solutions to the problem.

1. We can add a `variant` prop on the `AvatarGroup` component and propagate that property to all children avatars as well as the extra avatars Avatar in the end.

2. We can add a property `extraAvatarProps` on the `AvatarGroup` and allow the users to customize the avatar for the extra avatars however they want.

Opt

[2020-09-30 09:50] eps1lon commented on #22815
Rather naive question: Can we move the transform-origin outside of the keyframes? Or is animating `transform-origin` responsible for countering the wobbling?

[2020-09-30 10:04] oliviertassinari commented on #22816
See https://material-ui.com/components/data-grid/

[2020-09-30 10:04] #22816 closed

[2020-09-30 10:21] oliviertassinari commented on #22804
I have added the "good first issue" label, we can update the warning message.

Regarding the IconButton, we could potentially remove it, it would match what Google would use for its accordion on search result featured snippets: https://www.searchenginejournal.com/google-featured-snippets-guide/351272/.
However for this demo: https://next.material-ui.com/components/accordion/#additional-actions, we

[2020-09-30 10:34] suliskh commented on #22786
May I work on PR with this?

[2020-09-30 10:46] oliviertassinari commented on #22810
Option 1. would likely best solve this very issue. It's what we do with the ButtonGroup or ToggleButtonGroup.

Regarding option 2. and edging for future requests, developers can render the last Avatar on their own. I also wonder if the `components` and `componentsProps` API we are bringing won't better solve this problem than a custom new prop.

[2020-09-30 10:55] mnajdova commented on #22810
I would then propose to go with option 1. as it anyway brings better DX - you need to specify the prop only once. With components and componentsProps we can extend the flexibility later, but still have the great DX for the most common usage

[2020-09-30 10:59] oliviertassinari commented on #22815
The original solution for the wobbly come from https://github.com/mui-org/material-ui/issues/5735#issuecomment-630039378. I don't know if the transform origin can be moved outside of the keyframe. That would be ideal.

Otherwise, I think that we can degrade the IE 11 experience of `disableShrink` so we can have a smoother animation under heavy load.

Alternatively, considering we have dropped IE 1

[2020-09-30 12:04] zachsa opened #22818 "For Tabs component, the 'active' indicator is initially invisible"
Using the tabs, on page load no active tab is indicated. This HTML:

[code]

seems to be the indicator for the active tab. But the style is:

[code]

Once I toggle the other tab, then the underline appears and works as it is supposed to. I.e. clicking back to the initial tab the underline appears, and has this style:

[code]
I am using @materil-ui/core v4.11.0

- [x] The issue is present in the la

[2020-09-30 12:24] jakub-astrahit commented on #22705
Is there any way I can help? @oliviertassinari  @mnajdova
Never contributed to a repo on github so maybe this could be my first time?

[2020-09-30 12:58] ErnestBrandi commented on #14336
I also have an issue with Next.js using `getStaticProps` and the `fallBack: true` option.
Using the `noSsr` option leads to the following error : `Layout was forced before the page was fully loaded. `

[2020-09-30 13:58] mnajdova commented on #22705
@jakub-astrahit sure feel free to :) Make sure to follow https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md I would say changes proposed from @oliviertassinari should be the starting point :)

[2020-09-30 14:07] romainquellec commented on #22342
Wow, this is the best thing ever.
Unstyled or Headless components is going to be the best thing for customization (one of the critics about mui, I think).
This is not a little thing to fix imo, but a hude plus for MUI.

[2020-09-30 15:20] joshwooding commented on #22818
Please provide a minimal reproducible example.

[2020-09-30 15:44] romainquellec opened #22820 "Material-UI Builder"
Not quite a Feature request, but more of a question.

There a plenty of tools for building blocks online, mainly landing page (webflow for exemple). Some can generate react components.
Some are material-ui specifics (mui.dev, slashdiv). I'll let you check those.

I don't really know the name for those, but something like **Material-UI Layout Builders**.
**Is there any topic or listing about those

[2020-09-30 16:45] mbrookes commented on #22426
Product：Firetable
Company or organization*: https://www.antler.co/
Link*: https://firetable.io/
GitHub link*: https://github.com/AntlerVC/firetable
Screenshot:
![image](https://user-images.githubusercontent.com/357702/94714960-c1dbd080-0344-11eb-9e17-e87bbecb4e1c.png)

[2020-09-30 17:11] mbrookes commented on #22820
We have a card for it here: https://trello.com/c/RdulDeBI/2195-building-blocks

https://github.com/blocks/blocks is open source, but development on it seems to have stalled.

[2020-09-30 17:39] romainquellec commented on #22820
@mbrookes the trello seems private. :(

[2020-09-30 19:12] C5H8NNaO4 commented on #21745
This still doesn't seem to be working with grids. The only work-around I found was to use the `useWidth` hook to augment the `xl` property of the grid. It would be great if grids would support the custom breakpoints as I'm used to extra-wide monitors.

[code]

[2020-09-30 19:15] pranjanpr commented on #22804
I am new to open source and want to make my first PR on this. @oliviertassinari please tell me more about it and where to start.

[2020-09-30 19:26] croraf commented on #22804
@pranjanpr Check https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md .

Basically only this change is required: https://github.com/mui-org/material-ui/issues/22804#issuecomment-701028707
or if you have something better to suggest regarding this particular issue.

The rest of this issue is related to `AccordionSummary` component. That comment is related to the `IconButton` component.

[2020-09-30 19:34] pranjanpr commented on #22804
@croraf so I just have to modify the onClick warning to the one given in above discussions?

[2020-09-30 19:38] croraf commented on #22804
@pranjanpr yes.

Also there is an unrelated second issue that I'm doing a PR for (you can see the PR link slightly above).

[2020-09-30 21:33] oliviertassinari commented on #22820
@mbrookes I don't think that it's exactly the same item. From my perspective, [building blocks](https://trello.com/c/RdulDeBI/2195-building-blocks) are exclusively about providing pre-made components.

The title of the issue makes me think about a [design compositor](https://trello.com/c/RpqJBKKU/97-design-compositor) e.g. mui.dev but reading the description, it's confusing. I think that @romainqu

[2020-09-30 21:38] croraf commented on #22276
@rpsabarimani As per ARIA specs it is not allowed to have role=button inside role=button (note that button HTML element has an implicit role=button). https://www.w3.org/TR/html-aria/#allowed-aria-roles-states-and-properties

This also means that our demo shows something that is ARIA invalid.

[2020-09-30 21:46] oliviertassinari commented on #21745
@C5H8NNaO4 I think that #6140 should cover custom breakpoints, see #21589.

[2020-09-30 21:53] Jordan24 commented on #20565
The quick and dirty ('cause it throws a warning) is to add a defaultValue prop to Autocomplete.
The slightly more complicated workaround is to filter the reset on load out by passing the following to onInputChange prop

[code]
My state variable is called `selection`
If anyone has a better solution, please let me know.

[2020-09-30 22:13] mbrookes commented on #22820
@romainquellec Apologies, I forgot that it was recently made private.

@oliviertassinari

Oops, seems I linked to a card on a related topic (the building blocks that tools such as https://github.com/blocks/blocks are used to compose) rather than the one I intended.

[2020-10-01 00:18] darlesson opened #22822 "[Button] Can't override or extend button's size and variation values"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

The closest issue I found is https://github.com/mui-org/material-ui/issues/15573. I created this ticket still as the other doesn't include the `size` property.

## Current Behavior 😯

The [Adapting the hooo

[2020-10-01 01:58] holmberd commented on #22542
If a Tooltip component gets hidden(`display: none`) while it's open. You will see the artifact rendered in the top-left corner before disappering.

[2020-10-01 02:48] jmdsg commented on #15511
I stopped using the dynamic styles (with lambdas) almost inmediately because of all the issues, but i am also wondering why isn't item number 6 considered, i have 2-3 components with large style objects, and those styles do not depend on the props, i don't see the need to re-calculate those styles if the props do not change (i should be able to pass {} (same ref) as props to avoid the recalculatio

[2020-10-01 04:27] hjades commented on #22810
hi! can i take this issue? thanks~

[2020-10-01 05:42] mnajdova commented on #22810
@hjades sure feel free to :)

[2020-10-01 06:22] mhienle opened #22824 "[Autocomplete] Allow resetting"
in https://github.com/mui-org/material-ui/blob/345d034c0ab91f3f5cbb0c0e7c75bf0073231eba/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L644, handleClear calls `handleValue(event, multiple ? [] : null, 'clear')`. The part `multiple ? [] : null` looks pretty much like the definition of `defaultValue = props.multiple ? [] : null`. Should one use `defaultValue` here instead?

- [x] Th

[2020-10-01 06:31] eps1lon commented on #22822
For `size` and `variant` you can use v5: https://next.material-ui.com/customization/components/#adding-new-component-variants

For color see https://github.com/mui-org/material-ui/issues/13875

[2020-10-01 06:31] #22822 closed

[2020-10-01 06:35] eps1lon commented on #22824
It seems like you're proposing that clearing resets the value to the initial one. I would call that "resetting" (set to initial state) which is different than "clearing" (set value to empty).

I think resetting is interesting for forms so we might want to look into it. In the meantime you can always reset the `Autocomplete` by changing the `key` e.g.

[code]

[2020-10-01 07:14] eps1lon commented on #22786
@suliskh All yours. Please let us know if you no longer intend to work on this issue. If you're stuck at any point feel free to open a PR so a maintainer can take a look.

[2020-10-01 07:14] mhienle commented on #22824
I probably misunderstood the relation between defaultValue and clear (which is also why I wrote the original comment as a question ;-) ), so I'm not sure I really want to propose this.

My problem actually appeared inside a form (using formik and yup) where clearing made unexpected error messages show up.

Thanks for the hint reagrding `key`.

[2020-10-01 07:18] eps1lon commented on #22815
It's not necessarily about whether we support IE 11 or not. We simply shouldn't apply a workaround if it degrades the experience for 99% of the users.

We could collect these workarounds in a separate theme and recommend applying that theme in a `nomodules` bundle. But that requires JS. Not sure if browser switches are still a thing for CSS.

[2020-10-01 07:32] romainquellec commented on #22820
<3

I'm looking for a solution for the non-developers on my team (not only designers). With the ideal solution, they could create pages (landing pages, mostly).

Right now, the workflow is the ordinary workflow (Figma > Custom design (material-ui, and/or styled-component) > Next.js integration and custom dev).

The ideal workflow is "Custom tool with Material UI components (basic and custom one) a

[2020-10-01 08:23] mrizwansalik commented on #20482
i run the command of "npm update" but i have still same error
Attempted import error: 'createSvgIcon' is not exported from '@material-ui/core/utils'

[2020-10-01 08:37] Avi98 commented on #22807
@oliviertassinari, I can take this issue if @brokenthorn is not looking into it.

[2020-10-01 08:44] oliviertassinari commented on #22542
@holmberd Do you have a reproduction?

[2020-10-01 09:14] Avi98 commented on #22371
hi @mnajdova , I really want to learn how tests are implemented in Material-UI. Can I take this issue

[2020-10-01 09:24] #22824 closed

[2020-10-01 09:31] oliviertassinari commented on #22815
OK, so we try to move the transform origin outside of the animation frames. If it works, great, otherwise we drop the CSS for IE 11.

[2020-10-01 09:32] vramana commented on #22426
Product: Kisi
Company: https://www.getkisi.com/

![image](https://user-images.githubusercontent.com/3112509/94792622-dd071880-03f6-11eb-88b6-0f58639c8d79.png)

[2020-10-01 10:16] eps1lon commented on #22371
Feel free to work on it. I'm assigning you for bookkeeping purposes only. If you decide to no longer work on this issue please leave a message so that other people can take over.

https://github.com/mui-org/material-ui/blob/next/test/README.md might be a good starting point to learn about our testing approach and infrastructure.

[2020-10-01 11:08] olelivalife commented on #19549
Reading this thread leaves me puzzled... Is it still necessary (`react-scripts v3.4.3`) to use `react-app-rewired` to support tree shaking? Or it's it available in stock CRA?

[2020-10-01 11:24] RatherSlowTurtle opened #22827 "[Rating] Wrong star selected when clicking between icons"
Hovering over the right edge of a star does not highlight the next star, but if you click it will select the next star.

![ezgif-2-f2abd6f10511](https://user-images.githubusercontent.com/2505311/94803994-09fd0080-03e2-11eb-9aa3-5c15469b990a.gif)

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository an

[2020-10-01 11:48] eps1lon commented on #22827
Had to zoom in at 200% to reproduce it but there's definitely an unstable region between two stars.

[2020-10-01 12:10] pelletencate commented on #20286
@oliviertassinari I believe it's been properly established that `openOnFocus` is either broken or by design not working as people expect, this issue should be reopened.

[2020-10-01 12:26] eps1lon commented on #20286
@oliviertassinari Could you clarify what `openOnFocus` is supposed to do? I can't find a difference with this value on or off and none of our tests run with the prop turned off .

[2020-10-01 13:09] mnajdova commented on #22342
@ianschmitz in addition of the option @oliviertassinari suggested for using the styled components selectors, we have another option, which is to expose constants for the classes that we expose. Maybe something like:

[code]

It's not the same as the `classes.rail` runtime warning, but should help against misspelling the classes.

[2020-10-01 14:02] oliviertassinari commented on #19549
@olelivalife Ignore this thread, https://material-ui.com/guides/minimizing-bundle-size/ is the source of thrust. You should find the answer to your question there.

[2020-10-01 14:12] oliviertassinari commented on #20286
The `openOnFocus` prop allows developers to open the popup when the textbox receives the focus (<kbd>Tab</kbd>). In the issue's description, the popup is open by a click event on the `<input>`, not by the focus event. So it seems to behave correctly. I think that developers commenting here want a new `disableOpenOnClick prop. So far we didn't implement it. Instead, we have proposed to control the

[2020-10-01 14:39] RatherSlowTurtle commented on #22827
I'm happy to contribute if there's a preferred approach to addressing it.

After some brief playing, I think I've found 2 workarounds in Chrome (but they're possibly **masking over** the underlying issue):

- Reversing the `label` z-index (so it goes from highest to lowest) - because it causes the click to be captured by the `label` on the left instead of right when they're edge-to-edge
- Adding a

[2020-10-01 18:44] spacejamjim opened #22828 "TablePagination labelRowsPerPage -- Is it possible to add a data-testid to this p element?"
I just want to add a `data-testid` to the `labelRowsPerPage` `p` element

[code]

Is it possible to do?
I tried adding it within `SelectProps` but it just puts it on the select dropdown.

How it renders:
[code]

[2020-10-01 18:48] croraf commented on #22827
Anyone knows what is this line for: https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Rating/Rating.js#L345

[2020-10-01 19:02] eps1lon commented on #22827
This labels the currently selected rating.

[2020-10-01 19:04] croraf commented on #22827
I think I have found what is probably the cause. Check this test:
![image](https://user-images.githubusercontent.com/19698636/94852085-a8608480-0429-11eb-967f-dfd417c260cc.png)

[2020-10-01 19:07] eps1lon commented on #20286
Oh, I got confused by the [linked codesandbox](https://codesandbox.io/s/gallant-leaf-1u4zg?file=/src/Demo.js) which labels itself as `openOnFocus: false` but actually has `openOnFocus={true}`. Maybe that is why the behavior was viewed as unexpected by @sruthisripathi.

This is good from my perspective. Should've started with my own codesandbox though I do think we should adjust our tests.

[2020-10-01 19:08] eps1lon commented on #22828
Looks like you're trying to test something. Could you explain what you're trying to test? It's more helpful to understand the problem before we think about a solution.

[2020-10-01 19:41] croraf commented on #21018
Seems like this fix is kind of stuck. I don't have time to go through entire issue right now, but I too have noticed that in https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Rating/Rating.js?rgh-link-date=2020-10-01T18%3A48%3A48Z#L345

the `classes.visibilityHidden` makes the label below the icon to be always hidden, and it is unclear how to use it.

[2020-10-01 19:55] spacejamjim commented on #22828
I was just asked if it was possible -- I replied with no, and added it to the `td` element within the `TableRow` but created this issue to see if it actually was possible to access the inner workings of the component without a default mui prop like, for example with the TablePagination, `backIconButtonProps`, `nextIconButtonProps` and `selectProps`

[2020-10-01 20:07] eps1lon commented on #22828
Check out [our tests for the `TablePagination`](https://github.com/mui-org/material-ui/blob/d16b3c170bf7b1a5b34a1be8817826f75bd274c3/packages/material-ui/src/TablePagination/TablePagination.test.js#L64) using testing-library. Maybe you'll find what you're looking for. For example https://github.com/mui-org/material-ui/blob/d16b3c170bf7b1a5b34a1be8817826f75bd274c3/packages/material-ui/src/TablePagi

[2020-10-01 20:07] #22828 closed

[2020-10-01 20:21] croraf commented on #22827
The `overflow: hidden` on the `label` element should be a quick solution.

[2020-10-01 21:33] yordis commented on #6218
I recently had to implement something related to this (outside Mui, just general feedback).

## From Internal Code Perspective

[code]

## From End User Code Perspective

### Statically

[code]

### Accessing the scope

[code]

## General thoughts

I think this approach is clean enough and easy to understand and maintain.

Worth pointing once again about the fact that Mui controls the rendering of

[2020-10-01 21:44] croraf commented on #22827
After further exploration, even though the previously mentioned issue is kind of bad, it seems that it is not the cause of the original issue.

It seems that the root cause has to do something with the `handleMouseMove` and/or percentage calculation.

[2020-10-01 21:56] chilupa opened #22829 "Link doesn't work with component prop"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I pass `component="button"` to `Link`, it is not routing to the url mentioned in the `href` attribute nor I see any error log in console.

## Expected Behavior 🤔

Should take use

[2020-10-01 22:09] croraf commented on #22827
After more exploration it seems that the browsers precision cause the issue as per: https://stackoverflow.com/questions/47019163/mouseevent-high-precision-mouse-position-when-the-page-is-zoomed-in

The logic in the code says that on >24px `clientX` move to the right (from the left edge of the `Rating`) the second star has to be highlighted.

If you move the mouse very close to that position, to ge

[2020-10-02 00:08] mbrookes commented on #22829
`<button href="" />` isn't valid HTML. What are you trying to achieve?

[2020-10-02 08:15] eps1lon opened #22833 "Add List for navigation component"
## Summary 💡

Create new list components that should be used in navigation UIs.

## Examples 🌈

https://material.io/components uses different list items compared to our current drawer: https://5f705679bcf3980007d33445--material-ui.netlify.app/components/box/

## Motivation 🔦

The current list components are inadequate for e.g. `Drawer` (see https://github.com/mui-org/material-ui/pull/22780#discuss

[2020-10-02 10:24] shiraze opened #22838 "[Select] aria-haspopup when control is disabled or readOnly"
There's no easy way for screen readers to know when the Select control is disabled or readOnly, and `aria-haspopup="listbox"` should not be set when in these states.
I think the same is also true for `role=button`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a dup

[2020-10-02 10:37] eps1lon commented on #22838
Thanks for the detailed report!

Are screen readers not able to work with that markup or is some test tool reporting that as an issue? If so: What is their rationale for reporting this as an issue?

[2020-10-02 12:05] RatherSlowTurtle commented on #22827
Worth pointing out... It's more apparent when zooming, but I'm not sure the issue is related to zooming. I can reproduce this bug, consistently, without zooming at all.

[2020-10-02 12:11] spacejamjim commented on #22828
It's for automation testing with selenium / cucumber -- I don't understand how my problem is understandable because it is simply, "**Is it possible to add a data-testid to the tablepagination label.**"

I would think this would be a yes/no answer -- but the responses seem to be roundabout ways of saying "we want to know why you want the data-testid so we can find a way to test it, since no -- you

[2020-10-02 12:13] RatherSlowTurtle commented on #22827
It does definitely seem like the hover calculation needs some tweaking.

Pink is the currently hovered `label`:
![image](https://user-images.githubusercontent.com/2505311/94921544-6dedfa80-04b0-11eb-95f9-416c90f00503.png)

[2020-10-02 12:29] shiraze commented on #22838
@eps1lon , unfortunately the markup suggests that an pop-up exists that relates to the control whereas one doesn't exist when the control is read only or disabled.
I have worked around this by providing `SelectDisplayProps={{ "aria-readonly": !!disabled }}` to the `Select` control, where `disabled` is a property that I use to determine whether to show a read-only component.

[2020-10-02 12:36] k-rokicki commented on #22792
@eps1lon has anybody looked at this? I feel like it was somehow unnoticed as new issues are getting responses and this one not.

[2020-10-02 13:16] eps1lon commented on #22838
Is there an actual issue with assistive technology or automated testing software that flags it?

If we would remove the attribute it might no longer be considered a combobox in certain screen readers. Though I'm not even sure how readonly is interpreted among popular screen readers.

[2020-10-02 13:29] shiraze commented on #22838
I'll need to check with assistive technology software. Nothing was highlighted by using tools like "axe".
The immediate problem was with Test Complete not being able to check whether a Select control is read only or not.

[2020-10-02 13:35] eps1lon commented on #22838
Note: `<select />` does not have native support for `readOnly` and NVDA 2020 will not announce that `<select aria-readonly="true" />` is read-only. Will try out with VoiceOver but I think this is similar to https://github.com/mui-org/material-ui/issues/17043: There's no notion of a read-only combobox.

[2020-10-02 13:39] eps1lon commented on #22828
I don't know if you can since I don't know our implementation by heart. This issue tracker is not to answer support questions but to solve bugs or discuss feature requests. For that we need to understand the problem not how you would like the implementation to look like. Since you don't want to describe the problem you're trying to solve I can only answer it "roundabout".

[2020-10-02 14:03] shiraze commented on #22838
It's worth noting that when the `Select` (non-native) is readOnly there is no (apparent?) combobox, nor any popup, nor does it behave as a button.

[2020-10-02 14:08] eps1lon commented on #22838
That's intended. But it's not clear why we should change the role because an element is read-only. For example, a disabled button is still a button.

This issue needs a lot more research than, what seems like, just your opinion. What should screen readers announce if they encounter `<Select readOnly />`? How does this compare to similar controls? What about native counterparts?

[2020-10-02 14:13] spacejamjim commented on #22828
This _is_ the problem I'm trying to solve. If I phrased it like an issue, it would be "Cannot add custom props to the TablePagination label" or as a suggestion "Allow custom props to be added to the TablePagination label similar to the select, and button elements" but I don't think having a label here is really that important that it needs to be added. The docs didn't mention a way so I asked for

[2020-10-02 14:21] girardiricardo commented on #16245
I am using 4.11.0, still the same problem.

[2020-10-02 15:06] #22786 closed

[2020-10-02 15:21] holmberd commented on #22542
@oliviertassinari https://codesandbox.io/s/create-react-app-template-forked-o9lzk?file=/index.js

[2020-10-02 15:24] clearwaterstream opened #22840 "Allow to specify unmountOnExit for TabPanel or Tabs"
Currently, tab content will unmount upon switching to another tab. That can remain the default. It would be great however to be able to specify for tab to "stay alive" when it's no longer the active tab. Could be done at tab level, or if it's too difficult, ad the Tabs level (i.e. the behaviour will apply to all tabs). Understandably there is a performance implication, hence by default this behavi

[2020-10-02 16:01] shiraze commented on #22838
I fully agree @eps1lon, and a native select doesn't even honour a "readonly" setting; it only has different behaviour with "disabled".

This is one for the a11y experts!

[2020-10-02 16:21] yordis commented on #22594
Please do!

I actually have to do this every time per project LOL

[2020-10-02 17:28] eps1lon commented on #22840
Tab panels using `@material-ui/core` are fully controlled by the user. Our demo uses `hidden` instead of unmounting which means they stay hidden. You can switch to mount/unmount if you want.

The `TabPanel` from `@material-ui/lab` also use `hidden` though you don't have any control over their behavior as of yet. We plan to re-evaluate once there are news about potential offscreen rendering APIs fo

[2020-10-02 17:32] mdsadiq commented on #21814
i would like to give it a try, if no one is working on it

[2020-10-02 20:24] clearwaterstream commented on #22840
@eps1lon Thank for following up. Apologies, after reading your comment I realize may not be using the right terminology. Indeed in the samples TabPanel is a div with a hidden flag.

Let me better describe the problem:

What I find odd is that if I use Collapse or Accordion, the content in each of the accordion cards "survives" the expand / collapse cycle. When using Tabs, if I'm using the state ho

[2020-10-02 21:15] oliviertassinari commented on #22833
Duplicate of #15107?

[2020-10-02 21:31] akrpersonified opened #22841 "unable to clone the repo on windows"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v5.?.?

[2020-10-02 22:04] #22841 closed

[2020-10-02 23:34] HarmanSran commented on #17000
The above example integrating react-material-css and the MUI theme breakpoints works well.

I also encountered this issue a while ago, and came up with a solution **using only MUI** by nesting two Grid containers, and dynamically arranging the Grid items into new columns when the width changes (detecting width changes using [useWidth()](https://material-ui.com/components/use-media-query/#migrating

[2020-10-02 23:45] enagy27 opened #22845 "[LoadingButton] LoadingButton accessibility of the pending state"
First off, I love the new `<LoadingButton />` component and I'm excited to use it!

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The `<LoadingButton />` is currently in the `disabled` state when `pending` is applied and is not ma

[2020-10-02 23:51] kokobah commented on #1467
@msafrin3 it works for width, but it doesn't work for height

[2020-10-03 01:09] lsqproduction commented on #21820
is this ready to be used? I can't find the documentation for it.

[2020-10-03 04:36] xtrixia commented on #14270
Hey, can I try and make a PR on this one? 😁

[2020-10-03 05:28] suliskh commented on #22815
Would this diff be okay? I am moving up the IE11 wobbly workaround to the `circle` styling

[code]

I am reproducing the CPU heavy computation using the same technique mentioned in the [issue demo](https://codesandbox.io/s/great-kare-608gg) above
- Before diff:
![jangky new](https://user-images.githubusercontent.com/24476578/94984195-b5898a80-0573-11eb-8fbc-1f633027cf79.gif)

- After diff:
![fixed

[2020-10-03 09:28] fakeharahman commented on #22162
Hey! Can I take this issue?

[2020-10-03 12:21] enza252 commented on #17023
@oliviertassinari how would you propose the data-index value could be changed dynamically?

I'm wondering if there is a way to pass in a desired index to style, such as this:
[code]

[2020-10-03 12:29] Segolene-Alquier commented on #21409
Hey, I se the last comment dates from the 18th of August. Can I make a PR for this one? 🤓

[2020-10-03 12:31] oliviertassinari commented on #17023
@enza252 You can do that with https://next.material-ui.com/components/slider-styled and emotion's `styled()` style helper. It let you defined styles dynamically, from the props.

[2020-10-03 12:44] enza252 commented on #17023
@oliviertassinari thank you, that's a great point in the right direction - we currently export our Slider using withStyles, so I'll investigate

[2020-10-03 13:27] gsouf commented on #17043
@vdh comment is also what I would expect from a read-only. ie disable hover/click effect but keep the style.

@oliviertassinari what you propose requires to redefine styles everytime we set read only, taking into account all possible subtilities offered by material ui. To me that seems to be more of a dirty workaround.

[2020-10-03 15:18] oliviertassinari commented on #22822
One precision. Only dynamic `variant` from the theme are supported. It's not the case for the `size` prop:

https://github.com/mui-org/material-ui/blob/d9c1c35f6fc756aeda4173fb3824b795a11cdce0/packages/material-ui/src/Button/Button.d.ts#L119

However, looking at the request of @darlesson, it seems that he's looking for creating a new MyButton component that extends MuiButton (not leveraging the th

[2020-10-03 15:24] oliviertassinari commented on #22820
@romainquellec Thanks for sharing the information. I'm adding it to our list of user researches.

[2020-10-03 15:25] #22820 closed

[2020-10-03 15:32] oliviertassinari commented on #22799
@eps1lon What do you think about dropping this prop? From what I understand, we do no longer need it since we have refactored NotchedOutline.js to no longer depend on layout measurements.

[2020-10-03 16:34] eps1lon commented on #21814
Feel free to work on a PR. Please report back if you no longer intend to work on it. If you're stuck you can open a PR anyway and a maintainer will take a look. I assigned you this issue for bookkeeping purposes only.

[2020-10-03 16:59] #22833 closed

[2020-10-03 17:06] oliviertassinari commented on #21820
@lsqproduction You can find the documentation in https://next.material-ui.com/components/dividers/#dividers-with-text.

[2020-10-03 17:07] oliviertassinari commented on #14270
@xtrixia Yes :)

[2020-10-03 17:08] #22804 closed

[2020-10-03 17:08] eps1lon commented on #22845
Thanks for the detailed description.

This feeds right into why `loading` is not the correct name for the loading state but `pending` but that's not that important here.

 `aria-busy` indicates that the descendants are busy. However, the button indicates that some other part of the UI is "pending". You would need to manually wire  these attributes.

As to disabling the `onClick` handler: I guess t

[2020-10-03 18:42] enagy27 commented on #22845
Gotcha, that makes sense regarding `aria-busy`. It sounds like it's more for marking sections of content that aren't yet interactable.

My next question, if we take the approach of using `aria-disabled` over `disabled`, is around styling. Would it then make sense to keep the button styling the same as a regular button, except for the circular progress indicator, do you think? That's a treatment I'

[2020-10-03 19:51] mdsadiq commented on #21814
I had made the necessary changes as mentioned in comment.

To test if the end result is as expected, I did the following.
1, ran the command ```yarn run build``` in packages/material-ui/
on success,
2, ran the command ```yarn link``` in packages/material-ui/build/

Now i had created a sample project with example created above,
it is working fine and am able to reproduce the error as expected.

3,

[2020-10-03 20:56] #22456 closed

[2020-10-03 22:12] oliviertassinari commented on #20153
More sources to benchmark:

- Adobe XD kit released in August 2020:

<img width="434" alt="Capture d’écran 2020-10-03 à 23 47 11" src="https://user-images.githubusercontent.com/3165635/95002358-388dfd80-05d3-11eb-9ee5-2977bcf0ff1e.png">

- Flutter component https://api.flutter.dev/flutter/material/Slider-class.html

<img width="290" alt="Capture d’écran 2020-10-03 à 23 51 19" src="https://user

[2020-10-03 22:33] oliviertassinari commented on #22815
@suliskh tested, it's not working. IMHO, at this point, the CircularProgress is close to the limit of "unsupported" for IE 11. It provides a poor experience. Anyway, I think that we can move forward with your diff, but without handling IE 11 :).

[2020-10-03 22:35] oliviertassinari commented on #22840
Duplicate of #21250?

[2020-10-03 22:37] #22818 closed

[2020-10-03 22:40] #22829 closed

[2020-10-03 23:27] clearwaterstream commented on #22840
@oliviertassinari yes #21250 describes my issue perfectly -- "Lost states between different panels (by keeping the panels mounted)"

Not sure why I did not find it in open issues, I think I was searching for tabs and `unmountOnExit`

[2020-10-03 23:27] #22840 closed

[2020-10-04 06:34] krooq commented on #15969
Sorry for dumping on a dead topic but I spent way to long on this not to share.
This worked for me for my CV, just a <Container> with a sm-6 split inside.
[code]
from here:
https://stackoverflow.com/questions/28150929/why-website-printed-with-chrome-is-using-mobile-layout/49918477#49918477

[2020-10-04 08:11] eps1lon commented on #22162
@fakeharahman All yours. Please let us know if you no longer intend to work on this issue. If you're stuck at any point feel free to open a PR so a maintainer can take a look.

[2020-10-04 08:16] eps1lon commented on #22845
If we keep the current behavior and allow clicks while the button is pending. I don't know what the current state of buttons triggering transitions is. There's probably some extensive research for this UI pattern included in state machine resources.

So let's flesh this out first and do some research on the UI pattern (Should pending buttons be (visually) disabled? Should they just ignore subseque

[2020-10-04 08:42] oliviertassinari commented on #16245
How about we refactor MenuItem to be built on top of ButtonBase, not on top of ListItem? Would it help solve this TypeScript issue?

[2020-10-04 08:57] oliviertassinari commented on #22594
It's up for grabs.

[2020-10-04 12:21] oliviertassinari commented on #15107
We explore this problem further in #22780 for the requirements of the documentation. This will be a great starting point to work on this issue. There is a decision to take between bundling the style inside ListItem (1), creating a new component that extends ListItem (2), or creating a new component without ListItem (3).

With hindsight, I think that we should have used option 3 for the [Menu](http

[2020-10-04 14:09] pranjanpr opened #22875 "<TimelineConnector /> disappears while using images for <TimelineDot/>"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

### The timeline connector disappears on using images inside Timeline dots.
 I am also observing that the design for timeline is a bit old and it does not accommodates modifications easily.

## Examples 🌈

![Pratyush Ranjan - Google Chrome 04

[2020-10-04 14:40] #22875 closed

[2020-10-04 15:09] eps1lon commented on #21814
I recommend working in a demo under `docs/src/page` instead while running `yarn docs:dev`.

[2020-10-04 15:10] mkermani144 opened #22877 "[Skeleton] Issue importing with named export"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I cannot do something like
[code]
as `Skeleton` is missing in named exports of core `index.js`. Instead I have to use
[code]

## Expected Behavior 🤔
I should be able to use these new c

[2020-10-04 15:22] eps1lon commented on #22877
We forgot to include it in `packages/material-ui/src/index.js` and `packages/material-ui/src/index.d.ts`. Would welcome a PR.

[2020-10-04 15:45] moshfeu commented on #2937
For future readers, the way to do it now (material-ui 4) is:

[code]

[2020-10-04 16:12] oliviertassinari commented on #2937
https://material-ui.com/guides/composition/#routing-libraries for more details

[2020-10-04 17:47] eps1lon commented on #22845
Note: `LoadingButton` does not allow clicks while `pending` since it's actually `disabled`. So we don't need to do anything in that area.

So this issue is solely about how we would implement implement a pending `LoadingButton` that can retain  focus.

[2020-10-04 18:53] oliviertassinari commented on #5735
Update: we are reverting the fix proposed in https://github.com/mui-org/material-ui/issues/5735#issuecomment-630076891 as it harms the performance of the animation in the latest browsers: #22815.

[2020-10-04 19:01] adelin-b opened #22880 "Tooltip not hidden when overflow is supposed to be hidded"
- [ x ] The issue is present in the latest release.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The tooltip is still visible under the hidden parts
## Expected Behavior 🤔

The tooltip should disapear

## Steps to Reproduce 🕹

Will complete this later with a codepen

![bugToo

[2020-10-04 20:36] moshfeu opened #22881 "Add "ListSubheader" sticky "z-index" to zIndex file"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When there is a need to show an element on top of a `<ListSubheader />` we need guess it's `z-index: 1` and hardcode `z-index: 2`.

It would be nice if it will be part of zIndex so the style will be

[code]

[2020-10-04 20:47] oliviertassinari commented on #22881
We use z-index: 1 in a couple of other places, it's meant to display over the other elements of the same component; I don't think that it should get a design token.

[2020-10-04 22:09] moshfeu commented on #22881
I understand. But yet, it does have impact on elements out of its scope. Since I don't think it can be "solved" (in terms of overcome its `z-index`), at least it will be nice to have this type of `z-index` as a const.
So the prop of _zIndex.js_ can be `scoped` or something.

[2020-10-04 22:52] oliviertassinari commented on #22276
@croraf is right `button > input` is not a valid markup. It's reported in https://validator.w3.org/nu/?doc=https%3A%2F%2Fnext.material-ui.com%2Fcomponents%2Faccordion%2F.

<img width="913" alt="Capture d’écran 2020-10-05 à 00 52 04" src="https://user-images.githubusercontent.com/3165635/95028984-03ea7680-06a5-11eb-943a-4feded8ad7af.png">

What about we drop the "Additional actions" section/demo/

[2020-10-04 23:12] croraf commented on #22276
Yes. I think I would drop that section.

[2020-10-05 02:14] sangsta opened #22886 "Menu causes Chrome on Pixel 4a to freeze when there's a lot of content on page"
I tried creating a simple menu using the example here: https://material-ui.com/components/menus/
It works, but if I add a lot of content to the page (the page itself, not the menu), then closing the menu will cause Chrome on Pixel 4a to become unresponsive.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this r

[2020-10-05 07:02] #22877 closed

[2020-10-05 07:03] #22535 closed

[2020-10-05 07:06] eps1lon commented on #22886
Thanks for the report. That is indeed problematic but seems not actionable for us at the moment without hurting accessibility. Closing in favor of #21578.

[2020-10-05 07:06] #22886 closed

[2020-10-05 07:10] #21324 closed

[2020-10-05 07:54] gajet5 commented on #7466
The problem is still there. The solution overflow-x: hidden property on the parent

[2020-10-05 07:57] tarunyadav1 commented on #22877
Hey @oliviertassinari
Can you assign this issue to me.

Thank You

[2020-10-05 08:02] eps1lon commented on #22877
@tarunyadav1 It was already fixed in #22879. We'll release it over the next couple of days.

[2020-10-05 08:27] montelius commented on #22792
Can I try to solve this or are you already working on it? :) @k-rokicki

[2020-10-05 08:40] eps1lon commented on #18679
Re-opening since the original issue did not get fixed with #18687. See https://github.com/mui-org/material-ui/pull/18687#issuecomment-703489192

[2020-10-05 08:58] giordifungula commented on #5544
Is there a solution as I am encouteting the same issue but on mobile for any device with the autocomplete view.
Its appearing over the textfield ? do we need to use a different component or is it the popover?

[2020-10-05 09:09] k-rokicki commented on #22792
@montelius go ahead, and thanks for volunteering!

[2020-10-05 09:24] eps1lon commented on #22792
@montelius All yours. Please let us know if you no longer intend to work on this issue. If you're stuck at any point feel free to open a PR so a maintainer can take a look.

[2020-10-05 09:58] #22779 closed

[2020-10-05 11:03] oliviertassinari commented on #5544
@giordifungula do you have a reproduction with the lastest version of the library?

[2020-10-05 11:12] oliviertassinari commented on #22342
@mnajdova We could also consider an eslint plugin.

[2020-10-05 13:23] tarunyadav1 commented on #22877
@eps1lon  okay

[2020-10-05 13:23] inakiarroyo commented on #20355
Having the same issue trying to use `$ruleName` to reference a local rule within the same style sheet, styles aren't been applied if props (function approach) is used

[2020-10-05 14:01] mmojahed93 opened #22894 "Missed style on migration v3 to v4"
I have upgraded my material project from v3 to v4 based on [material migration guide](https://material-ui.com/guides/migration-v3/).
We are using nextjs v9.5.3, jss v10.4.0, jss-rtl v 0.3.0.
After migration we sometimes miss styles and no style sheet is loaded on web page.
What's the problem with our migration? Do we need change anything plus mui migration guide?

- [x] The issue is present in the

[2020-10-05 14:15] #22894 closed

[2020-10-05 15:35] mnajdova commented on #22342
Regarding the support on the `classes` prop - in order for us to be able to reliably do this, we will have to create components for each part (slot) of the core component. For example, for the `Slider`, we would need to create components for the rail, track, mark, mark label, thumb and the value label. This will allow us to specify the styles directly on those components, instead of using classes

[2020-10-05 16:03] MathiasKandelborg commented on #22342
As long as we can define and use themes & styles with TypeScript, I wouldn't mind spending time migrating compared to losing 20% perf

[2020-10-05 16:35] darlesson commented on #22822
@oliviertassinari, the idea is to have overrides on default behaviours and prop value options to reduce the need for a developer to apply those settings on all components. This is the example how it could be used:

[code]

This already works for `color` and it would be very beneficial to allow this type of override for any `type` on any component.

[2020-10-05 17:04] ConAntonakos commented on #22342
I'm generally curious, and forgive me if I don't understand the underlying design, but `classes` was an API for JSS? If the API design is switching from JSS to styled components, does it make sense to keep supporting `classes`?

[2020-10-05 17:26] ianschmitz commented on #22342
Apologies if i've missed anything with the proposed API, but IMO the use case I most often see within our org is the abstraction of the underlying styling system used by MUI. Yes i guess `classes` is sort of an "API for JSS" as @ConAntonakos mentioned, but to the consumer it didn't matter. As a consumer I could use the CSS tech of preference (are there any limitations today with `classes`?). We ha

[2020-10-05 17:39] #22807 closed

[2020-10-05 17:43] #18225 closed

[2020-10-05 18:11] mmojahed93 commented on #22894
I think this issue is a bug.
I followed the [migration guide](https://material-ui.com/guides/migration-v3/) steps but my project has some issues on loading styles.

[2020-10-05 18:22] #22810 closed

[2020-10-05 19:13] oliviertassinari commented on #22822
@darlesson It makes sense. I don't understand where the issue is. You could only forward the size if it matches a value Material-UI supports and apply a custom style otherwise.

[2020-10-05 19:19] darlesson commented on #22822
The issue is for example when you want to extend the options. `'tiny'`, `'small'`, `'medium'`, `'large'`, `'extra-large'`. You can only use the 3 ones supported by Material-UI.

[2020-10-05 19:20] oliviertassinari commented on #22822
Why? You can extend it!

[2020-10-05 19:57] darlesson commented on #22822
Take a look at https://codesandbox.io/s/material-demo-forked-v7tpp?file=/demo.tsx. Even though `size` worked in Codesandbox, you still get the prop types validation in runtime when checking the console. `variant` doesn't take effect and `color` works as expected.

[2020-10-05 22:22] #22276 closed

[2020-10-06 04:19] vash500 commented on #18123
I am running into the exact same issue.

If I remove either of freeSolo or onChange custom values, the problem is not visible (but neither is the expected functionality).
This seems related to the this pull request https://github.com/mui-org/material-ui/pull/18161, but I am using @material-ui/core 4.11.0 (which should already have this patch) and I can still reproduce this consistently.

[2020-10-06 06:12] bicstone opened #22901 "[docs] Unable to internal search in non-SSR languages"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Unable to Algolia docsearch in non-SSR languages ( `'fr', 'de', 'ja'` ).

<img src="https://user-images.githubusercontent.com/47806818/95164364-cee53d80-07e4-11eb-8334-fd11443e52ea.gif

[2020-10-06 06:40] bicstone commented on #22901
Could you check "Indices browse" in the Algolia dashboard?

[2020-10-06 06:59] amishapatel188 commented on #18690
@frankieali 👍 Thanks a lot for your solution and sandbox link! I had same issue and setting direction to rtl in the theme helped me solve it.

[2020-10-06 07:11] mnajdova commented on #22880
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-10-06 08:05] #22815 closed

[2020-10-06 08:26] zachsa commented on #22818
Hi - I am going to provide an example once I can clearly provide one (this requires some work)

[2020-10-06 08:26] #22881 closed

[2020-10-06 10:21] montelius commented on #22792
@eps1lon So I've figured out why this bug exists, but I'm not sure how to solve it. Here's the problem:

When an option is selected, the listbox of options is closed. When you either focus on the textbox again, or click the arrow down button, the entire list of options is shown, not just the option matching the input. That makes sense in that case, because the user probably wants to change the sel

[2020-10-06 10:22] montelius commented on #22792
@eps1lon So I've figured out why this bug exists, but I'm not sure how to solve it. Here's the problem:

When an option is selected, the listbox of options is closed. When you either focus on the textbox again, or click the arrow down button, the entire list of options is shown, not just the option matching the input. That makes sense in that case, because the user probably wants to change the sel

[2020-10-06 10:39] eps1lon commented on #22792
Could you codify your expected behavior into a test or user interactions? You could open a PR with just the test and then we can collaborate on a potential fix.

[2020-10-06 11:04] HimmatNandaPaperplane commented on #20286
Hi @AurelienVernay

I have tried to use the useAutocomple.js file which will allow restricting the Popup if there is no option available. but getting an error while incorporating it with my existing code.

Followed steps
1)Copy useAutocomplete.js file
2)Import autocomplete files as a component

1)import useAutocomplete  from '../core-comp-customization/useAutocomplete.js   // Since this was showin

[2020-10-06 11:09] montelius commented on #22792
@eps1lon Sounds good, thanks!

[2020-10-06 12:16] railsjack commented on #21611
I also met this issue. And I don't think this is duplicate.
@oliviertassinari , If you believe this is duplicated, then can you please post the already existing link?

[2020-10-06 12:18] benwallman commented on #22426
Company or organization*: SkyRocket
Link*: http://sky-rocket.io/
GitHub link*: N/A, private repos
Screenshot: Attached
![SkyRocket - The Progresion Tool](https://user-images.githubusercontent.com/5731733/95200490-5d05f780-07d6-11eb-821e-0d1aa6807ad8.jpg)

[2020-10-06 13:38] oliviertassinari commented on #21611
Duplicate of #13394

[2020-10-06 13:38] mdsadiq commented on #21814
Thanks @eps1lon i was able to test the changes with ease.
Starting with test cases now

[2020-10-06 13:54] oliviertassinari opened #22911 "[test] Migrate tests from enzyme to react-testing-library"
15 months ago, we have introduced react-testing-library in the codebase: #15732. Since, then, we have been progressively migrating the tests from enzyme to react-testing-library. This was done as a background task, so far. Especially when we were migrating a component from class names to hooks or when we needed to fix a bug.

However, we have seen community members interested in helping with this

[2020-10-06 14:44] ValentinH opened #22912 "[Menu] support keyboard navigation with sections"
I'd like to be able to organise my `MenuItem` inside sections and still have proper keyboard navigation.

![image](https://user-images.githubusercontent.com/2678610/95217104-1e326a80-07f3-11eb-8052-fc6ab92eaaba.png)

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When using quite long men

[2020-10-06 15:21] pedrohenriiz commented on #21663
Any update on this? I was facing the same problem.

[2020-10-06 15:31] Gryso opened #22915 "Table with stickyHeader drags content of headers while scrolling horizontally"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Content of header cell is dragged with horizontal scroll.
![image](https://user-images.githubusercontent.com/47506755/95221252-8e42ef80-07f7-11eb-9082-263a110e1554.png)

## Expected B

[2020-10-06 15:49] EduardoUstarez commented on #21015
Thanks @VikR0001 removing <Typography>...</Typography> was the solution

[2020-10-06 16:10] oliviertassinari commented on #22915
Check the DataGrid component: https://material-ui.com/components/data-grid/, it's free from this issue.

[2020-10-06 16:10] #22915 closed

[2020-10-06 16:29] shellac85 opened #22916 "Updating LinearProgressWithLabel progress value with my own Value"
Hi,

I am trying to get Update LinearProgressWithLabel progress value with my own Value like this:

[code]

And then the Progress Bar:
[code]

Bu I am getting this error in the console:
[code]
What am I doing wrong?

[2020-10-06 16:42] oliviertassinari commented on #22827
The only fix I could find is:

[code]

It has the mouse move logic take precedence over the input change event when possible. Something is wrong with the `<label>` logic. The click area is wider than the actual size of the element. I could reproduce on Edge, Safari, and Chrome, not Firefox.

[2020-10-06 16:42] atnpcg commented on #18935
this issue is still happening for me even though #18106 is closed..
18106 does not mention anything about the `role=none`
which is what lighthouse is detecting as `[role] values are not valid`

[2020-10-06 16:44] #22916 closed

[2020-10-06 16:58] Avi98 commented on #22371
hi @mnajdova, I tried to go through the pull request #22293 but could not figure out what all things I need to cover in the tests. It would be great if someone could help me understand what should be the scope of tests.

[2020-10-06 17:09] Avi98 commented on #22594
Hi @oliviertassinari @eps1lon, can I work on this?

[2020-10-06 17:21] Avi98 commented on #22911
@oliviertassinari  can I pick some of the tests and migrate it react-testing-library

[2020-10-06 17:24] m-sterspace commented on #20068
I still think this could use some clarification in the docs. I was losing my mind trying to figure out why on earth it wouldn't display my options once it got down to a seemingly low number of returned options.

What is the purpose of the option filter and why would it only be filtering sometimes? It seems that if my returned option list drops down to 3 or fewer options it stops displaying options

[2020-10-06 17:25] yordis commented on #22594
@Avi98 please do, would be amazing if you contribute to the code base. 🚀

[2020-10-06 21:52] oliviertassinari commented on #18123
@vash500 Do you have a reproduction?

[2020-10-06 22:38] bazfer commented on #18305
Follow up: can't repro on minimal case. Thanks for the prompt replies.

[2020-10-07 00:00] ilkerkaran opened #22921 "yarn add @material-ui/icons fails to add package"
yarn-error.log:

  Error: https://registry.yarnpkg.com/@material-ui/icons/-/icons-4.9.1.tgz: ESOCKETTIMEDOUT
      at ClientRequest.<anonymous> (C:\Users\ilker\AppData\Roaming\npm\node_modules\yarn\lib\cli.js:130217:19)
      at Object.onceWrapper (events.js:312:28)
      at ClientRequest.emit (events.js:223:5)
      at TLSSocket.emitRequestTimeout (_http_client.js:690:9)
      at Object.onceWrapp

[2020-10-07 00:00] #22921 closed

[2020-10-07 00:01] ilkerkaran commented on #22921
I think something was going on with the package servers.

[2020-10-07 01:14] alewis729 commented on #16097
In [the docs](https://material-ui.com/components/chips/#accessibility) it's mentioned that

In my opinion, those specific `keyup` events with the `onSecondaryAction` prop name change should be discarded, It doesn't make much sense to me to keep them.

I'd like to work on this issue btw. @oliviertassinari

[2020-10-07 07:09] mackankowski commented on #9659
My working codebase based on @Paul6552's sample:

https://codesandbox.io/s/mui-checkbox-set-visible-focus-programmatically-40vv3?file=/index.js

Enjoy!

[2020-10-07 07:10] oliviertassinari commented on #22921
Related to #12432

[2020-10-07 07:13] mackankowski commented on #9308
Did you check this topic? https://github.com/mui-org/material-ui/issues/9659#issuecomment-704742095

[2020-10-07 07:20] oliviertassinari commented on #16097
@alewis729 interesting, maybe we need an `onDelete` prop after all, it behaves differently to a regular secondary action.

[2020-10-07 07:35] #22901 closed

[2020-10-07 07:39] ffMathy commented on #21572
That's not a support request. I'm getting the issue too.

[2020-10-07 09:46] oliviertassinari commented on #22792
A proposed solution: we could create a new state that keep track of the pristine state of the input value. It's reset each time the popup open. When the input is pristine, we don't filter the options for the current value.

[2020-10-07 10:21] montelius commented on #22792
@oliviertassinari Yes, that is a solution! Should the state be represented as a prop passed to useAutocomplete?

[2020-10-07 10:37] oliviertassinari commented on #22792
@montelius from my perspective, the state should be internal to the useAutocomplete hook.

[2020-10-07 11:01] oliviertassinari commented on #21409
@Segolene-Alquier thanks for the interest in this issue. We had a similar problem and solution proposed in #22544 however, the pull request that was meant to solve the issue was declined. I have removed the "good first issue" label because it requires further discussion.

From what I understand, the solution that relies on a globale CSS selector was declined by @eps1lon because developers can cust

[2020-10-07 11:23] oliviertassinari commented on #17010
I had to look into it for #22876. From what I understand, we can solve the problem with:

[code]

Is there anything I'm missing?

[2020-10-07 11:39] Avi98 commented on #22371
Unassign it from me as I don't have enough clarity.

[2020-10-07 11:59] montelius commented on #22792
@oliviertassinari Sure, will look into it! :)

[2020-10-07 12:25] lcswillems commented on #17010
PR done here: https://github.com/mui-org/material-ui/pull/22925

[2020-10-07 12:50] #14270 closed

[2020-10-07 13:41] Paul6552 commented on #9659
@mackankowski
I have a really strange behavior in your example if I use the "tab"-key on my keyboard.
Start your codesandbox example. Click once on the button "Set focus". Don`t click anywhere else after this click. Now on your keyboard click the tab-key. Suddenly both (Checkbox AND Button) have the focus.

![image](https://user-images.githubusercontent.com/25934591/95338758-8ea0c080-08b3-11eb-93c

[2020-10-07 13:53] sampittko commented on #14891
I would like to give it a try. Can you please assign me to this issue? @oliviertassinari

[2020-10-07 14:03] oliviertassinari commented on #14891
@sampittko I think that the solution should start from a discussion on this issue. We have recently been talking about refactoring MenuItem to not depend on ListItem.

[2020-10-07 15:10] oliviertassinari commented on #22822
@darlesson Looking at your codesandbox it looks expected. It's a TypeScript support question. Your example spread incorrect value to the Button, TypeScript let you know. You need to prevent that:

[code]

[2020-10-07 15:14] thomasdowell opened #22930 "Server-side pagination for an unknown number of items"
To enable server-side pagination for an unknown number of items in the TablePagination component, the value of the count prop must be -1. When the value of the DataGrid component's rowCount prop is set to -1, the server-side pagination functionality is not complete.

## Current Behavior 😯

"Total rows: -1" is rendered and the onPageChange function is not triggered.

## Expected Behavior 🤔

"Total

[2020-10-07 15:15] SassNinja commented on #21589
@oliviertassinari any update on this?

The issue you've linked refers to the Hidden component.
However what I really need (and what is mentioned in this issue, too) is full custom breakpoint support for the Grid component.

When I create something like this
[code]
I'd like to use this everywhere e.g.
[code]

[2020-10-07 15:16] ChristopherHButler commented on #20540
https://i.pinimg.com/originals/a4/59/77/a459775f026e1dc6032f7c342b80ee40.jpg

[2020-10-07 15:17] ChristopherHButler commented on #20540
![image](https://user-images.githubusercontent.com/29358086/95350938-fad5f100-08c0-11eb-8f40-4a6732ece967.png)

[2020-10-07 15:25] oliviertassinari commented on #21589
@SassNinja No direct progress yet but we have almost solved the blocker on the style engine (in progress JSS -> emotion/sc transition).

[2020-10-07 15:34] oliviertassinari commented on #18679
@eps1lon I'm not sure to follow: the behavior of https://codesandbox.io/s/dazzling-rain-7vx5l looks expected. The slider force to close the tooltip with the open prop. I can't spot any issue in this revised example https://codesandbox.io/s/heuristic-silence-rsu29?file=/src/App.js.

[2020-10-07 15:48] oliviertassinari commented on #22542
@holmberd Interesting. I can definitely observe the behavior. By hiding the children, the popper does no longer know where to show the tooltip. It fallbacks to the (0, 0) position. Conditional rendering sounds like a great solution, it should yield better performance too :).

[2020-10-07 16:38] oliviertassinari commented on #22785
@eps1lon Happ to close the issue? From what I understand we can't do much about it here.

[2020-10-07 16:58] code-guru commented on #16374
I'm also experiencing same issue, the order of added styles tag are different between dev and prod builds. I'm using CRA.
In dev, I get MuiButton,MuiToolbar,MuiTab,MuiTabs, and in prod, I get MuiToolbar,  MuiButton, MuiTabs,MuiTab. The issue show itself when my custom style get different orders from dev to prod.

[2020-10-07 17:55] eps1lon commented on #22785
Yeah let's close this.

[2020-10-07 17:55] #22785 closed

[2020-10-07 20:36] mbrookes commented on #18869
It seems that this was missed from #20012, so I've added it.

[2020-10-07 21:45] JorgeAndd commented on #22911
@oliviertassinari Can I give it a shot at migrating any of these files?

[2020-10-07 23:00] petrussola commented on #22112
same here, would be helpful to align docs and reality, I was confused for a while until I found this issue

[2020-10-07 23:05] bearfromtheabyss commented on #22705
is it still available @oliviertassinari @mnajdova ? If yes, please assign it to me :)

I'm new to the codebase, giving a try to open-source projects

[2020-10-08 00:23] rahahahat commented on #22912
Hi, can I work on this issue?

[2020-10-08 00:27] rahahahat commented on #22912
From what I can see, this issue of not being able to navigate the `Menu` using the keyboard's: "keydown" and "keyup" buttons, is being generated because off adding `tags` like `<div>` and `<b>`. However, there seems to be no issue, when the only the `<Divider>` component is placed among `MenuItems`

[2020-10-08 00:59] dwjohnston opened #22932 "The demo snippets should demonstrate styling with styled-components"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently usage with styled components is best documented here:

https://material-ui.com/styles/advanced/#with-material-ui-core
(This was actually quite hard to find).

The code snippets in the demos use the JSS solution.

This leads develope

[2020-10-08 06:37] Ats1999 opened #22933 "Dawer is not rendering in next.js"
I have created a `next` project using `create-next-app`.   I just did copy-paste of `_app.js ` and `_document.js` from <a href="https://github.com/mui-org/material-ui/blob/master/examples/nextjs/pages/_app.js">Material UI nextJS example repo</a>. <br>
Then i copied the code for the drawer from the <a href="https://material-ui.com/components/drawers/">MUI </a>website and pasted it into `pages/index

[2020-10-08 07:39] oliviertassinari commented on #22705
@bearfromtheabyss Feel free to work on it :)

[2020-10-08 07:41] EmilKarlsson89 opened #22934 "Translateable DataGrid component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The DataGrid component currently has the hard-coded values "Total Rows" and "x-y of z". It would be better if the contents of these texts could be altered to be any text, so that users from other countries do not have to know English in order

[2020-10-08 07:43] oliviertassinari commented on #22933
@Ats1999 do you have a reproduction?

[2020-10-08 08:04] itamar244 commented on #22911
need some help in testing `Modal.test.js`.

the following [test](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Modal/Modal.test.js#L110) depends on querying the `Fade` component and checking if it has specific prop.
I searched for a different approach of testing this in the project and in the internet and couldn't find a fitting solution.

[2020-10-08 08:12] eps1lon commented on #22932
Thanks for the suggestion. We're tracking this in https://github.com/mui-org/material-ui/issues/16947

[2020-10-08 08:12] #22932 closed

[2020-10-08 08:13] mnajdova commented on #22932
@dwjohnston thanks for raising this up. With v5 we are adding support for emotion & styled-components as a style engines. With this, the demos will be converted to use the the `styled` API. Hopefully this will be resolved with that effort. If you take a look on this example: https://next.material-ui.com/components/slider-styled/#customized-sliders you may see how approximately the updated demos wo

[2020-10-08 08:22] #22880 closed

[2020-10-08 09:15] eps1lon commented on #18679
I guess it makes sense that this is expected. Why is the Tooltip controlled though? Seems like uncontrolled works just as well (https://codesandbox.io/s/stupefied-agnesi-c60kg) and allows a hoverable Tooltip (right now `interactive` has no effect).

[2020-10-08 09:26] oliviertassinari commented on #18679
@eps1lon Yeah, well, we could remove the controlled aspect from the demo we have in the documentation. I added the open prop to be as close as possible to the default behavior of the Slider (without `<Tooltip>`).

[2020-10-08 10:20] nainardev opened #22936 "New time-picker"
## Current one:
![Screenshot_2020-10-08-15-42-59-867_com android chrome~2](https://user-images.githubusercontent.com/59839368/95446377-d68c1a00-097d-11eb-9670-1b0446736df4.jpg)

## New Material Design Spec:
Two modes:
![](https://lh3.googleusercontent.com/UkK_zGA7g_7rPsBFg_bXZMihxH33Dnaiw3DCVw7fLSkimv4mUzruVTA6qgciQK_0DgecFGi4Y918bE0zASce_kyp2tXqazwIuQ29=w1064-v0)

Landscape mode:
![](https://lh3.

[2020-10-08 10:51] Ats1999 commented on #22933
To reproduce.

# _app.js
[code]
# _document.js
[code]
# index.js
[code]

[2020-10-08 12:36] GiselaMD commented on #22911
@itamar244 I'm also trying to find a solution for that, the other tests have the same "find component" query

[2020-10-08 12:53] constantin-melniciuc opened #22938 "TypeError: (0 , _capitalize.default) is not a function"
On running jest tests locally, test suite fails when trying to mount the component with a ThemeProvider.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently running the local jest test suite fails to run because it fails on

[2020-10-08 12:57] #22938 closed

[2020-10-08 14:18] Shrirang97 commented on #22936
What is the issue?

[2020-10-08 14:58] bearfromtheabyss commented on #22705
I've implemented the solution from @oliviertassinari

Created a PR [here](https://github.com/mui-org/material-ui/pull/22940)

I checked it and works fine now in Chrome and IE11

[2020-10-08 15:07] nainardev commented on #22936
This issue is about the updated material design spec for time picker. Current implementation of time picker in material-ui is not updated to it.

[2020-10-08 15:08] #22933 closed

[2020-10-08 15:08] oliviertassinari commented on #22933
Tested on a fresh installation. Works. Something is wrong in your setup.

[2020-10-08 15:14] crankeith opened #22941 "[ListItem] Warning about non-boolean attribute 'button'"
## Current Behavior 😯
Getting following warning about "button" prop on ListItem component:
Warning: Received `true` for a non-boolean attribute `button`.

## Expected Behavior 🤔

The prop "button" should be allowed without warning

## Steps to Reproduce 🕹

Render the "ListItem" component with the "button" prop declared:
```<ListItem button />```
or
```<ListItem button={true} />```

## Your Environ

[2020-10-08 15:20] bearfromtheabyss commented on #22827
If it's free, you can assign it to me :)

[2020-10-08 15:25] vinikatyal commented on #17454
Were you able to figure this out?

[2020-10-08 15:31] Ats1999 commented on #22933
I'll check.

[2020-10-08 15:56] vinikatyal commented on #17454
This worked for me

[2020-10-08 15:56] FrankEgan opened #22942 "[Autocomplete] autoHighlight not working properly with Creatable"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Preface: Using `filterOptions` to dynamically add an option that allows creation of 'new' categories.

When all available options are selected:
![image](https://user-images.githubuser

[2020-10-08 16:25] ayush505 commented on #22941
Assign this to me

[2020-10-08 16:45] maneetgoyal commented on #11777
I only needed to externalize `@material-ui/core` for some testing. The following worked well for `UMD` build with Webpack. Notice the similarity with react and react-dom.

[code]

Because it was in the CDN links posted [here](https://material-ui.com/getting-started/installation/#cdn).

<img width="900" alt="Screen Shot 2020-10-08 at 10 12 57 PM" src="https://user-images.githubusercontent.com/25290

[2020-10-08 16:48] RatherSlowTurtle commented on #22827
Yeah, very odd! The z-index seems to affect this, so if the z-index is reversed, the interaction from the element on the left takes precedence and the issues doesn't seem to happen.

Thanks for investigating 👍

[2020-10-08 17:03] croraf commented on #22827
Guys I have completely bisected the issue and revealed what is the root cause in my posts from last week. The hover is much more precise than the granulation of mouse position in mouse events.

[2020-10-08 17:59] oliviertassinari commented on #22827
@croraf Any idea on how to turn this investigation into a fix?

[2020-10-08 18:57] ybrodsky opened #22947 "useMediaQuery: unable to overwrite match on ssr with ssrMatchMedia"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior
Using `ssrMatchMedia` on `useMediaQuery` or in the theme makes no difference.

## Expected Behavior
Should be able to apply my own logic inside that funciton to determine if a match shou

[2020-10-08 19:52] croraf commented on #22827
One of the options is that the click even listener of the stars does not trigger the rating value change.
But instead that the root component listens for that, and put the rating value depending on the mouse X offset. Then the "hover" and "click" will always be in sync cause they are calculated by the same method.

[2020-10-08 21:16] lalinchik commented on #11467
Hi @oliviertassinari . When I use your solution, it works as expected. But I tried to rewrite it by `.attr` and it doesn't work.
Can you explaine why? Thank you in advance.

`const StyledTooltip = styled(Tooltip).attrs((props) => ({
  classes: { popper: props.className, tooltip: "tooltip" }
}))`
  & .tooltip {
    background-color: red;
    color: #000;
  }
`;`

[2020-10-08 21:21] oliviertassinari commented on #22947
@ybrodsky A couple of issues in the report:

- You are using v4 as a dependency and the documentation of v5
- `ssrMatchMedia` is only called for the initial hydration. Not for sequential rendering after hydration.
- In order to work, the ssrMatchMedia implementation much account for the provided query. Such a query varies, especially when using the Hidden component.

I don't see the issue yet

[2020-10-08 21:53] eps1lon commented on #22941
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-10-08 22:48] ybrodsky commented on #22947
@oliviertassinari thanks for the reply.
You are right about the doc, however that particular bit is the same https://material-ui.com/components/use-media-query/#server-side-rendering

As for the other points, if I add a log I can see that function is called several times with several different media queries until the final call where the media query is correct. That's what I assume causes the flic

[2020-10-08 22:58] #22947 closed

[2020-10-09 00:00] NMinhNguyen commented on #22911
@oliviertassinari how do you want to handle tests that use `describeConformance`? Should that particular test just be left as is?

[2020-10-09 00:04] mbrookes commented on #22936
It seems like they totally let the (design) Chaos Monkeys loose on this update 🤕

[2020-10-09 00:05] oliviertassinari commented on #22911
@NMinhNguyen Best to ask @eps1lon. I have ported a few of them to rtl on the data grid, but that won't cut it.

[2020-10-09 00:07] oliviertassinari commented on #22936
Agree, it looks ugly 🙈

[2020-10-09 00:49] mbrookes commented on #22936
If I'm honest, I've never been a big fan of the "clock" metaphor. This hot mess just seals the deal.

[2020-10-09 01:45] danyi1212 commented on #15374
@aMahdaoui  I've encountered this problem myself (with hebrew support).

An awkward solution I've found is to add it via native JS after component is rendered.

First I created a ref to the input element:
`
const inputRef = createRef()
<TextField inputRef={inputRef} />
`

Then added a useEffect hook to perform once on each render:
`
useEffect(() => {
    if(inputRef)
        inputRef.current.dir =

[2020-10-09 02:58] mikewudev opened #22950 "Select inputProps not added to input"
Wanted to add an `aria-label` to the Select component's input element, but it was added to the above `div` element.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/11449462/955365

[2020-10-09 04:21] ashu6842 opened #22951 "How to use monospace font in a component in Material UI?"
I am not able to use monospace font with this Ace Editor component (which is a code editor from npm). I have tried multiple npm packages for code editors but all of them are rendering default Material UI fonts instead of monospace, even after inline style. Monospace font works fine when used with Typography component. What is the correct way to get it to work?
                         <div>
				<A

[2020-10-09 04:47] bewong89 commented on #22911
🤔 I was wondering this myself, I took a stab at forking `describeConformance` to use react-testing-library as I thought the abstraction it provides was still useful https://github.com/mui-org/material-ui/pull/22939/commits/1b43a2ce4a21d35ce8eca852f4d47ad3b3c270f5#diff-af11c81585e9558fff1a83088a7d2580

That basically makes it opt-in per component.

If this is an approach we want I'm happy to clean

[2020-10-09 07:44] GuilleDF commented on #22253
Hi @oliviertassinari, is it okay if I take this issue? 😃

[2020-10-09 07:54] constantin-melniciuc commented on #22938
@oliviertassinari This a potential bug with your helper function which capitalizes class names. Why do you consider this a QA?

[2020-10-09 07:57] eps1lon commented on #22938
Because you're not able to reproduce this issue. We don't have the bandwidth to debug specifc app setups. A minimal reproducible example is a requirement for most issues.

[2020-10-09 08:36] #22951 closed

[2020-10-09 08:37] oliviertassinari commented on #22253
@GuilleDF Yes, definitely :)

[2020-10-09 09:03] eps1lon commented on #22911
`describeConformance` needs `enzyme` because we explicitly implement "props inheritance". You can't test that with testing-library. No harm done using `enzyme` there.

[2020-10-09 09:09] oliviertassinari commented on #22936
Linking https://github.com/mui-org/material-ui-pickers/issues/1860. I feel that for a year or so material.io pushed some changes that are used in none of Google's products. In the case of the time picker. We can wait for what they do with Android 12. Until then, I think that we should stick to Android 11 design.

[2020-10-09 09:13] oliviertassinari commented on #22950
@mikewudev The input is hidden and only here for `<form>` integration. What are you trying to do? Did you check the example around how to correctly label the component for screen readers?

[2020-10-09 09:15] #22705 closed

[2020-10-09 09:50] #22744 closed

[2020-10-09 09:50] #17010 closed

[2020-10-09 10:32] aditya2337 opened #22955 "Bug(TabList): undefined is not a function evaluating PropTypes"
I am using the `TabList` component from mui/labs in a design system library which is published to npm, If I use the component in the design system, it works without any flaws, but when I am using it through my design system, I get this error:

[code]
which points to:
[code]

I am guessing this happens due to this [line](https://github.com/mui-org/material-ui/blob/v4.11.0/packages/material-ui-lab/s

[2020-10-09 10:32] ashu6842 commented on #22951
Did you even read the question? At least tell me where to look.

[2020-10-09 10:37] oliviertassinari commented on #22942
Your reproduction is not working with the latest version: https://codesandbox.io/s/autocomplete-autohighlight-issue-forked-ex9z3?file=/src/App.tsx.

[2020-10-09 10:42] #22955 closed

[2020-10-09 10:44] aditya2337 commented on #22955
@oliviertassinari I would like to know why is this closed?

[2020-10-09 11:09] useit-consulting opened #22956 "Autocomplete is broken for iOS VoiceOver"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using VoiceOver on iOS, I am unable to either find or activate any of the suggestions in the list. This is a critical accessibility barrier for visually impaired mobile users.

I can

[2020-10-09 11:09] oliviertassinari commented on #22942
The issue is that when `filterSelectedOptions` is true, the highlighting logic doesn't try to sync it. It's the same root cause as https://github.com/mui-org/material-ui/issues/18646#issuecomment-690687270. The proposed solution would solve this one too.

[2020-10-09 11:12] oliviertassinari commented on #22956
https://material-ui.netlify.app/components/autocomplete/#ios-voiceover?

[2020-10-09 11:34] JavaJamie opened #22957 "Pagination component with router not cycling through the numbers correctly"
I'm having major problems with this and I'm starting to think there's a bug because it just doesn't work. I've created a sample.

https://codesandbox.io/s/materialui-pagination-router-g2x5c?file=/src/App.js

Here is the code:

[code]

Hovering over the buttons shows the correct href link at the bottom of the browser (e.g., /3, /4, /5), but clicking the buttons does nothing. I don't suppose anybody

[2020-10-09 11:58] Sphinxs commented on #19427
Still not overriding

[2020-10-09 12:01] mikewudev commented on #22950
@oliviertassinari I'm also using `aria-label` to get the element for tests. I'm pretty sure it used to be added to the `input` itself in previous versions. Is there any way to set props on the actual `input`?

[2020-10-09 12:16] shashi-varne commented on #9116
Hey, I have the same issue. My TransitionComponent is outside the render function.  But still, No luck.
What I'm I doing wrong?
`   SlideTransition = (props) => {
        return <Slide direction="up" {...props}  />;
      }
    `
<Dialog
                    fullWidth={true}
                    fullScreen={true}
                    style={{ margin: 0 }}
                    id="dropdown-in-modal-dia

[2020-10-09 12:17] shashi-varne commented on #9116
Hey, I have the same issue. My TransitionComponent is outside the render function. But still, No luck.
What I'm I doing wrong?
`SlideTransition = (props) => { return <Slide direction="up" {...props} />; }`

`<Dialog
                    fullWidth={true}
                    fullScreen={true}
                    style={{ margin: 0 }}
                    id="dropdown-in-modal-dialog"

[2020-10-09 12:20] useit-consulting commented on #22956
@oliviertassinari
No I'm afraid not. This appears to be a separate issue.

I was able to reproduce it even with `disablePortal` (see https://codesandbox.io/s/autocomplete-experiment-ios-voiceover-bug-qc8zp?file=/demo.js ) . The listbox still closes immediately after moving VoiceOver focus from the input.

[2020-10-09 12:33] oliviertassinari commented on #22950
@mikewudev You can check the tests of the Select to see alternatives: https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Select/Select.test.js

[2020-10-09 12:33] #22950 closed

[2020-10-09 15:32] lfrprazeres commented on #20182
It's fixed already? I'm facing it with React.js build + Microsoft SharePoint, when I'm debugging locally it works, but when I try to see it on Sharepoint it shows the same issue.
![8dbba7b6-4560-42c8-939d-6ef094f12c3a](https://user-images.githubusercontent.com/23350505/95602623-89ff1800-0a2b-11eb-8399-05fc388480df.jpg)

[2020-10-09 16:36] maneetgoyal commented on #15745
Hey @oliviertassinari, once Webpack 5 allows ESM modules output, can you suggest if this double bundling concern will still remain?

[2020-10-09 17:39] brokenthorn commented on #22807
Sorry I'm late. I had other pressing projects keeping me busy (and tired).

Yes, that is what I was referring to. The nextjs-with-typescript example had/has a custom Link component that wraps Next.js's Link component, and that custom component was unusable in TS projects. The gist I gave tried to fix that.

Anyway I'm still busy on another project so it will be a while until I get back to this. Th

[2020-10-09 18:08] The24thDS commented on #22911
@oliviertassinari I believe the table components have been migrated to react-testing-library already. #20914

[2020-10-09 18:16] #22792 closed

[2020-10-09 21:22] PetrShchukin opened #22961 "In Table component first cell of a row is <th>"
All cells of a data row should be <td>, not <th> (except table head)

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In Table component first cell of the every row is <th> (sometimes not)

## Expected Behavior 🤔

All cells of a

[2020-10-09 21:34] suhay commented on #22912
I'd like to grab this for hacktoberfest, please!

[2020-10-09 22:14] oliviertassinari commented on #18962
@lcswillems What do you think about this plan? https://github.com/mui-org/material-ui/pull/22819#discussion_r499146934

[2020-10-09 22:15] oliviertassinari commented on #22961
This is defined by The TableHead component. You can override the behavior.

[2020-10-09 22:49] bearfromtheabyss commented on #22942
I can tackle it if you want :)

[2020-10-09 22:55] oliviertassinari commented on #22942
@bearfromtheabyss If you have time, please do :). The hardest part will be to create failing test cases for the two related bugs.

[2020-10-10 00:28] lcswillems commented on #18962
I am not sure about what you ask me to think about precisely but I can think I largely prefer option 2 ("write them under one prop") over the other one for these reasons:

1. "all system props would be easily discoverable" as @mnajdova said. I don't know how many styling props there are (let's say 50). Then if I want to use a new component I don't know well, it will be very hard to find the proper

[2020-10-10 00:40] enagy27 commented on #22845
@oliviertassinari hey! I'm not sure I understand the resolution— is this a "won't fix?"

[2020-10-10 01:49] joshwooding commented on #22957
Your sample is broken.

[2020-10-10 03:32] Ats1999 opened #22966 "Format string contains an unescaped latin alphabet character `n` in MUI date picker."
I have just copied and pasted the code from the MUI website into `codesand box` and i got the error `Format string contains an unescaped Latin alphabet character n`.

## Steps to Reproduce 🕹

Steps: check this live codesandbox <a href="https://codesandbox.io/s/adoring-kalam-jv46n?file=/src/App.js">Check Live</a>

## Your Environment 🌎
Windows 10 and the latest chrome version.
Current MUI version,

[2020-10-10 03:56] pranjaljain0 commented on #22966
@Ats1999
[Read here](https://material-ui-pickers.dev/getting-started/installation)

For material-ui-pickers v3 use v1.x version of @date-io adapters.

[code]
Also, go through this issue.
[material-ui-pickers/issues/1440](https://github.com/mui-org/material-ui-pickers/issues/1440)

[2020-10-10 03:58] Ats1999 commented on #22966
Thanks.

[2020-10-10 03:58] #22966 closed

[2020-10-10 09:31] oliviertassinari commented on #22957
Did you check https://material-ui.com/components/pagination/#router-integration out?

[2020-10-10 10:11] eladmotola commented on #22911
@oliviertassinari I think `StepContent.test.js` is already migrated to react-testing-library

[2020-10-10 11:08] OnkelTem opened #22969 "'MuiTreeView' does not exist in type 'Overrides'"
Cannot use `MuiTreeView` element in a theme overrides section.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Attempt to override MuiTreeView leads to a TS warning:

[code]

## Expected Behavior 🤔

No warning

## Steps to Reprodu

[2020-10-10 11:23] #22969 closed

[2020-10-10 11:26] OnkelTem commented on #22969
@oliviertassinari I beg your pardon sir, but since when it's a support request while it's definitely looks like a bug in TreeView?

[2020-10-10 11:34] OnkelTem commented on #22969
The docs clearly state:

![image](https://user-images.githubusercontent.com/114060/95653954-352fd000-0b05-11eb-8e86-86b5e0d96849.png)

That it actually works (see the sandbox) means that everything is done correctly.
It also works in JS, see [this sandbox](https://codesandbox.io/s/tree-view-theming-js-xygiq?file=/src/theme.js)
And it's not a problem of Codesandbox, since locally I reproduce exactl

[2020-10-10 11:35] OnkelTem commented on #22969
Even if something important is missed in the demo-case sandbox, it was not in the docs.
So at least this is a problem of the docs, isn't it?

[2020-10-10 12:17] oliviertassinari commented on #22969
@OnkelTem You can check the issue history, you will find the solution their.

[2020-10-10 12:23] OnkelTem commented on #22969
@oliviertassinari Then provide the link please.

[2020-10-10 12:24] Avi98 commented on #22911
Hi, I'm taking Drawer.test.js file for migration.

[2020-10-10 14:46] JavaJamie commented on #22957
Oh sorry, it seems codesandbox doesn't like the `useLocation` and `useRouteMatch` hooks. I've updated it now so it should run.

@oliviertassinari  yep, all checked out, but when I add in the generatePath for my URL (as the page is a param rather than part of the query string) it doesn't appear to work. I hope i'm missing something obvious, but I can't get it working at all.

https://codesandbox.io

[2020-10-10 14:54] #22957 closed

[2020-10-10 14:56] joshwooding commented on #22957
@JavaJamie It looks like you are using generatePath incorrectly (https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/generatePath.md)

But this seems like a mistake in how you use react-router and nothing to do with the Pagination component - hence I've marked the issue as support.

[2020-10-10 16:36] oliviertassinari commented on #19432
Fixed by @mnajdova in #22834. The new name makes the behavior explicit. No more surprises.

[2020-10-10 16:36] #19432 closed

[2020-10-10 16:42] oliviertassinari commented on #14961
Closing, there are fewer CSS generated with the emotion way @mnajdova has pushed. For instance: https://github.com/mui-org/material-ui/blob/9ac8843cfc7a275908bc02b87f9d82618e529fd0/packages/material-ui-lab/src/SliderStyled/SliderStyled.js#L96
We didn't improve performance by doing such (it's slower: https://github.com/mui-org/material-ui/issues/22342#issuecomment-698547480) but at least the initia

[2020-10-10 16:42] #14961 closed

[2020-10-10 16:44] oliviertassinari commented on #13849
Closing, the issue is 2 years old with little to no traction. Most developers are using hooks today.

[2020-10-10 16:44] #13849 closed

[2020-10-10 16:47] oliviertassinari commented on #14890
Closing as we got no relevant feedback in 18 months.

[2020-10-10 16:47] #14890 closed

[2020-10-10 17:24] mbrookes commented on #22426
- Company or organization*: Lean Hire
- Link*: https://leanhire.com/
- Screenshot:

![image](https://user-images.githubusercontent.com/357702/95661239-bc8d3b80-0b25-11eb-8558-215698111160.png)

[2020-10-10 17:35] oliviertassinari commented on #18679
So, I suggest we do:

[code]

[2020-10-10 17:58] oliviertassinari commented on #15499
Closing for #21657. It's a performance concern.

[2020-10-10 17:58] #15499 closed

[2020-10-10 18:01] #22024 closed

[2020-10-10 18:15] oliviertassinari commented on #15614
I have a new look at the issue. emotion and styled-components report a warning, `shouldForwardProp` is supported by both. You can use the API to ignore the prop.

For instance with styled-components:

[code]

However, emotion doesn't support JavaScript prop functions as styled-components does. So the `styledBy` API isn't usable with emotion.

[2020-10-10 18:18] oliviertassinari commented on #16502
Related to #19986

[2020-10-10 18:20] oliviertassinari commented on #21318
We can close once our new `experimentalStyled` API gain more usage and is more battle-tested. The `shouldForwardProp` API should solve the issue.

[2020-10-10 19:50] mbrookes commented on #19697
https://www.streamlinehq.com/dsp

Using: https://github.com/AdobeXD/design-system-package-dsp

And Abode XD extension for VS Code  (available 2020-10-20)

[2020-10-10 20:08] oliviertassinari commented on #19697
Well, a developer can get the same experience with [an iframe extension](https://marketplace.visualstudio.com/items?itemName=HerrHerklotz.url-preview). Am I missing a major difference?

<img width="1346" alt="Capture d’écran 2020-10-10 à 22 07 13" src="https://user-images.githubusercontent.com/3165635/95664101-00436d80-0b45-11eb-8ea2-a7250f81deb3.png">

[2020-10-10 23:06] oliviertassinari commented on #22911
Last month, react-testing-library had [more downloads](https://npm-stat.com/charts.html?package=enzyme&package=%40testing-library%2Freact&from=2019-10-10&to=2020-10-10) than enzyme in the ecosystem!

[2020-10-11 05:01] Sphinxs commented on #22805
@mnajdova , Hi. I waited for the alpha release 12 to update, just to clarify, the dependencies need to be on my package, i.e Material UI will not install it internally? And Emotion its used for performance in `<Box />` by what I have read from the releases?!?

[2020-10-11 06:35] praveshstark commented on #18119
@thebazshah in the tooltip u have to required atleast one tag or react element but dont use more than one if u use then again this show same error
like:
<Tooltip title="Delete">
     <button onClick={additem}><AddShoppingCartIcon /></button>
    <br />
     </Tooltip>
this is show error

if u remove <br/> then this error not shown

[2020-10-11 07:01] iamKushagra commented on #22942
guys look into this https://github.com/iamKushagra/Restaurant_Finder_WebApp. It's listed on Hacktobrfest. A lot of things to work on. Documentation, bugs, react js frontend, and lot.

[2020-10-11 10:10] OnkelTem commented on #22969
@oliviertassinari hello?

[2020-10-11 15:13] HJain13 commented on #18869
Hey @oliviertassinari @mbrookes can I take a stab at moving `AvatarGroup` to `core`?

[2020-10-11 15:55] darkowic opened #22982 "[system] Invalid PropType for Box"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using Box with function as children throws a PropType warning
[code]

## Expected Behavior 🤔

No warning

## Steps to Reproduce 🕹

https://codesandbox.io/s/goofy-glade-emf0h?file=/dem

[2020-10-11 16:45] oliviertassinari commented on #22982
@mnajdova What do you think about we drop this API?

[2020-10-11 16:50] balazsorban44 commented on #14420
https://www.theverge.com/2020/8/17/21372487/microsoft-internet-explorer-11-support-end-365-legacy-edge

[2020-10-11 17:01] darkowic commented on #22982
Why would you like to remove it? I don't remember what was the reason I needed it but looks like it works now with `clone` as expected.
[code]

[2020-10-11 17:06] oliviertassinari commented on #22982
@darkowic Yes, the above proposal comes hand-in-hand with removing the `clone` prop.
The prop has been unreliable and will likely never be. It's often used to override existing styles, however, to work correctly the styles have to be injected **after** in the `<head>`. The order is ruled by the import order. With JSS, it only works when using 1-level imports. With emotion & styled-components, I ha

[2020-10-11 17:14] darkowic commented on #22982
Thanks for your explanation. I'm totally ok with removing the `clone` property for `Box` if there still will be another simple API to style MUI components. I see you are going to use `emotion` or `styled-components` so there should be an easy way to inject custom styling (or Box like styling) into custom components using the MUI system.

[2020-10-11 17:17] oliviertassinari commented on #14420
We are progressively treating IE11 as a second-class citizen, there are a couple of examples in the codebase:

- OutlinedInput no rounded border
- https://github.com/mui-org/material-ui/blob/661adf79d817ae6ce9514febb7ba4337caf774cd/packages/material-ui/src/useAutocomplete/useAutocomplete.js#L6
- Drop IE11 wobbly workaround #22873
- Force polyfills on IE11: #22814

[2020-10-11 18:38] Nodirbek3d opened #23005 "TextField+MenuItem+Checkbox default selected value is not working propperly"
Consider following code where I want to have a multiple select menu with checkboxes with default checked value:

[code]
When I want to uncheck default checked item, it is not getting removed from selected menu items array.
How to fix this or is there any work around?

[2020-10-11 18:50] mbrookes commented on #18869
@HJain13 Great! You can follow the other lab to core PRs linked from #20012 for an idea of what needs to be done.

[2020-10-11 19:07] mbrookes commented on #14420
We should probably document these all on one place for v5. (A section in the upgrade guide?)

Adding to the list: ImageList v5 now needs a poly-fill for object-fit for IE11 support.

[2020-10-12 00:26] ryancogswell commented on #22726
Here's a related StackOverflow question: https://stackoverflow.com/questions/64307165/material-ui-icons-wont-flip-when-i-change-to-rtl/64307950#64307950.

In my answer I suggested that this could be handled in the theme with:

[code]

I have a little concern about this potentially conflicting with usages of `transform` within Material-UI, but the two main cases I'm aware of (AccordionSummary expan

[2020-10-12 05:17] Zloka commented on #21250
Hey! Really liking Material UI, but supporting the unmounting behavior described here would be very desirable. Any updates on this? :)

[2020-10-12 07:56] oliviertassinari commented on #22726
@ryancogswell What's the impact on the components that already handle RTL for the icons, like the TablePagination?

[2020-10-12 11:22] shamseerahammedm commented on #19798
@oliviertassinari is there any possibility to change the filtering criteria from id to label considering this eg :
my ids are generated from front end( based on time milliseconds) so every option has different id, so when it comes to tags i can select already selected items too thats a problem ? any solution for this?

[code]

[2020-10-12 11:36] Dito-Orkodashvili opened #23008 "Ability to disable 'no options' text and window if options are empty."
When I have an async autocomplete I dont want to see 'No Options' window and text until user inputs something.

I tried to set noOptionsText prop to null if options.length === 0 but the empty window still shows up.

[2020-10-12 11:57] oliviertassinari commented on #23008
You can control the open state

[2020-10-12 11:57] #23008 closed

[2020-10-12 12:51] MrBlue9 opened #23009 "[v5.0.0-alpha.12] ThemeContext not found when using styled-engine-sc"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Because I already use styled-components, I installed @material-ui/styled-engine-sc and added an alias in my webpack config. The build finishes with a warning which states `export 'T

[2020-10-12 12:56] ryancogswell commented on #22726
@oliviertassinari The cases of this I found just now are in TablePaginationActions and PaginationItem. There are some additional cases in examples in the docs, but these two were the only cases I found in the code (though I'm not confident that my search would have found all cases). It would definitely have an undesirable effect in these cases since it would flip an already flipped icon.

One poss

[2020-10-12 13:02] yellowspaceboots commented on #23009
I have this same error occurring as well without trying to use `@material-ui/styled-engine-sc` and the webpack alias. My issue is happening on nextjs with yarn 2 trying to use `@material-ui/styled-engine@v5.0.0-alpha.12` and `@material-ui/core@v5.0.0-alpha.12`.

[2020-10-12 13:12] mnajdova commented on #21657
@alexd16 seems like after we migrated the Box to use our `@material-ui/styled-engine` (emotion by default, but can be configured to `styled-components`) we got out of the box around300% perf improvement according to our benchmarks:

Previously:
Box @material-ui/styles:
[code]

After the changes:

[code]

I've also updated your codesandbox with the latest version that contains this changes, and it

[2020-10-12 13:36] JeremiAnastaziak opened #23010 "Autocomplete options not always visible"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When opening Autocomplete options with little (or zero at all) space at the bottom of the page and multiple options already selected (which makes selected chips list huge), options op

[2020-10-12 14:04] oliviertassinari commented on #21657
@mnajdova I think that we can close. This sounds a lot faster, it's not every day we can get a x3 win.

[2020-10-12 14:10] alexd16 commented on #21657
@mnajdova, @oliviertassinari Yup, I think this can be closed. Do you have an estimation when v5 final will land?

Just to make sure I understood, to take advantage of the performance improves it requires an update to the next major version correct?
I am wondering if the migration from v4 to v5 will be too painful

[2020-10-12 14:14] #15496 closed

[2020-10-12 14:14] #18447 closed

[2020-10-12 14:27] #21657 closed

[2020-10-12 14:30] sirlantis opened #23013 "Switch inside ListItemSecondaryAction of ListItem causes overlap"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There are situations in which the ListItemText can overlap with Switch secondary action.

![Screen Shot 2020-10-12 at 16 31 12](https://user-images.githubusercontent.com/56807/9575819

[2020-10-12 14:34] oliviertassinari commented on #21657
@alexd16 We are trying to make the migration as smooth as possible. There are deprecations warnings coming in v4 anytime possible, there is a detailed upgrade guide. There is a theme adapter in v5. There are modules we keep exported in v5.0.0

[2020-10-12 15:03] mschipperheyn commented on #22342
One wish I never got was that material-ui would be react-native compatible. Many projects are cross platform these days and having a unified styling solution offers a lot of advantages for cross platform components. We ended up rolling our own using material-ui on the web side and react-native-paper on the native side and standardizing on the material-ui API. I'd be interested to understand if thi

[2020-10-12 15:08] oliviertassinari commented on #22342
@mschipperheyn react-native is a no-goal so far. It's [+5%](https://npm-stat.com/charts.html?package=react-dom,react-native) of usage and +50% more effort. The opportunity cost is too high. Also, mind that flutter seems to [have captured](https://www.similarweb.com/website/reactnative.dev?competitors=flutter.dev) a large chunk of the audience react-native targets.

[2020-10-12 15:14] oliviertassinari commented on #23010
Related to #21661

[2020-10-12 15:17] oliviertassinari commented on #23009
Do you have a reproduction?

[2020-10-12 15:36] oliviertassinari commented on #23010
Related to #19137. IMHO, the correct solution is to render smaller tags and give the autocomplete more space. I'm not aware of any alternative. I would be leaning toward "won't fix".

[2020-10-12 15:54] ryancogswell commented on #22726
Looking at some of these examples, probably not. For most icons, flipping is neither necessary nor harmful, but the "Help" icon would be one that shouldn't flip and same with "Paid memberships" and "YouTube Studio". Probably best for users to deal with on a case-by-case basis since it depends on the nature of the icon whether flipping is appropriate.

[2020-10-12 15:56] soma83 opened #23016 "MenuList slow performance with around 100 items"
I have a MenuList with 100 items, and it takes some time to render the list. From [here](https://github.com/mui-org/material-ui/issues/1501) I can see there was a reported issue, but as far as I can see the last activity was on 2016... any improvement on this?

I need to know if there is any workaround on this, in order to enhance the performance for rendering these items within a MenuList.

[2020-10-12 15:58] oliviertassinari commented on #22726
Maybe we could add a prop for that?

[2020-10-12 16:00] oliviertassinari commented on #23016
Duplicate of #17001

[2020-10-12 16:00] #23016 closed

[2020-10-12 16:01] ryancogswell commented on #22726
Yes, I think that would be nice. Perhaps a `flipForRtl` boolean prop?

[2020-10-12 16:10] oliviertassinari commented on #23013
@sirlantis This is a design constraint. The DOM forbids `button > button`, so we moved the secondary action to a position absolute. In your case, you can customize the `MuiListItem-secondaryAction` padding or simply not use `ListItemSecondaryAction` if you don't need to escape the DOM structure. https://codesandbox.io/s/material-ui-switch-collision-forked-fivju

[2020-10-12 16:10] #23013 closed

[2020-10-12 16:15] AhmedSayed77 commented on #22726
It should be the default behaviour, but only for the directional icons - back and forward, not left, right, up or down

[2020-10-12 16:18] sirlantis commented on #23013
@oliviertassinari Thanks for the explanation. I assumed I was following the recommended path - should this nesting then be removed for the docs examples as well? https://github.com/mui-org/material-ui/pull/23018

[2020-10-12 16:19] sirlantis commented on #23013
https://material-ui.com/components/lists/#switch is where I took the suggestion from.

[2020-10-12 16:33] ryancogswell commented on #22726
@AhmedSayed77 I don't think it would be practical (from a maintenance standpoint) to change the default behavior icon-by-icon and it would be difficult to document this clearly. I think people choose icons primarily by how they look with less concern about how they are named -- the name just helps people find the icon. Icons with names including "left" and "right" could easily be used for "back" a

[2020-10-12 16:34] deiga commented on #22911
`TabList.test.js` seems to already be migrated as far as can be, since `describeConformance` requires enzyme

[2020-10-12 17:10] AhmedSayed77 commented on #22726
I'm expressing what I think is best from a DX standpoint. Left always means left, but back doesn't always mean left. Thank god we only have two setting: ltr and rtl. So handling it case by case makes sense, and shouldn't be difficult, since there are only 2 settings. How to do it in a maintainable way, is our job as developers, that's what we do for a living. Of course I'm not a maintainer, and I

[2020-10-12 17:36] ryancogswell commented on #22726
@AhmedSayed77 My point is that from a DX standpoint, developers will use ArrowLeft and ArrowBack for overlapping purposes (largely choosing based on aesthetics, not name) and I don't think it would be intuitive for them to behave differently with regard to whether they automatically flip. For instance, TablePaginationActions [uses KeyboardArrowLeft and KeyboardArrowRight](https://github.com/mui-or

[2020-10-12 17:45] AhmedSayed77 commented on #22726
Maybe if they knew that back arrow and front arrow handles the direction, they would've used it, instead of handling it themselves, while using ArrowLeft and ArrowRight? I don't want to be insistent, I really don't think I can add anything to what I've said before. Do what you think is best for you and your users, and after all, handling it in userland is not too hard anyways

[2020-10-12 19:37] jonathan-stone commented on #13895
@maksimgm You probably already figured this out, but adding for posterity:

Checkbox uses `colorSecondary` by default. Setting `colorPrimary` won't affect the color of a checkbox, unless you set `<Checkbox color="primary">`

[2020-10-12 19:42] oliviertassinari commented on #22486
A bug we will likely want to solve at the same time. The progress with the dark mode of the docs can barely be seen:

**Light ✅**
<img width="564" alt="Capture d’écran 2020-10-12 à 21 40 55" src="https://user-images.githubusercontent.com/3165635/95784230-bccb3980-0cd3-11eb-8e1e-e6819394d276.png">

**Dark ❌**
<img width="651" alt="Capture d’écran 2020-10-12 à 21 40 32" src="https://user-images.

[2020-10-13 07:22] Romej commented on #20479
For those who may be struggling with this, here is what worked on my end

[code]

[2020-10-13 07:58] layan-khater commented on #21795
Is there any updates about the icon???I can't find it also

[2020-10-13 08:04] fromi commented on #22353
Hi, I face the same issue, and indeed it looks like a bug!

[2020-10-13 08:21] oliviertassinari commented on #21795
@layan-khater https://github.com/mui-org/material-ui/issues/21795#issuecomment-694307186

[2020-10-13 09:31] #23005 closed

[2020-10-13 09:59] JavaJamie commented on #8489
Is there a recommended way to display tabs conditionally without receiving the `"The value provided to the Tabs component is invalid. None of the Tabs' children match with `car`.
You can provide one of the following values: sold, available." `message? E.g. if I want to display a tab only at <= breakpoint but on lg devices it says it's invalid but I am using useMediaQuery . I'm using:

`const match

[2020-10-13 10:48] oliviertassinari commented on #8489
@JavaJamie Do you have a reproduction for this using the latest version? The way the warning is currently isn't ideal but it's very often reliable.

[2020-10-13 13:08] x-fusion opened #23031 "<Textfield multiline /> value doesn't show up"
Value that is loaded whilst being in different <TabPanel/> doesn't show until activation of field (like clicking)

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In 3 different <TabPanel/> I have some form elements. During loading

[2020-10-13 13:19] #23031 closed

[2020-10-13 13:25] benneq opened #23032 "Dialog with TextField autoFocus on iOS / mobile , keyboard overlap issue"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When opening a Dialog that contains a TextField with autoFocus, the Dialog won't be vertically centered.

## Expected Behavior 🤔

Should behave the same as manually focusing the TextF

[2020-10-13 14:02] oliviertassinari commented on #23032
@benneq I can reproduce the behavior. We could consider a prop to display the modal at the top of the screen instead of centered as Bootstrap does. The dialog was designed for use cases where users won't need to show the virtual keyboard. You could also consider displaying the dialog full screen.

Regarding fixing the centering behavior itself, I'm not aware that a solution is possible, e.g. https

[2020-10-13 14:17] jakub-astrahit opened #23033 "Very poor Autocomplete performance for large lists of data (especially in IE 11)"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I use this Autocomplete component and load it with 18,000 options to choose from, it gets very slow and basically freezes the whole app, especially in Internet Explorer 11. The pe

[2020-10-13 14:18] benneq commented on #23032
But your own examples include that 😸  https://material-ui.com/components/dialogs/#form-dialogs

I guess it's some timing issue, where autoFocus comes first and afterwards the Dialog gets centered (or the other way round).

Maybe there's some way to delay the autoFocus until the Dialog fully displayed?

[2020-10-13 14:38] oliviertassinari opened #23034 "[DataGrid] Footer issue on mobile"
The problem:

- there is an empty white area.
- we are missing selected rows
- we are missing total rows

<img width="483" alt="footer" src="https://user-images.githubusercontent.com/3165635/95875607-7b3d9b80-0d72-11eb-96cc-9f35d04f457e.png">

The solution: display them, in a smart way

[2020-10-13 14:49] oliviertassinari commented on #23033
@jakub-astrahit What's missing from https://material-ui.com/components/autocomplete/#virtualization?

[2020-10-13 14:58] #23033 closed

[2020-10-13 15:28] benneq opened #23035 "Grid with spacing within Drawer causes horizontal scrollbar"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When placing a Grid with spacing inside a Drawer I get a horizontal scrollbar.

Drawer.variant and PaperProps.style.width don't affect this behavior.

## Expected Behavior 🤔

No scrol

[2020-10-13 15:37] oliviertassinari commented on #23035
Duplicate of #7466

[2020-10-13 15:37] #23035 closed

[2020-10-13 16:39] omidtajik opened #23037 "[SwipeableDrawer] Decorrelate swipe area width and the translation to signal that dragging started"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I'm implementing a mini-variant version of SwipableDrawer and it's working like a charm thanks to awesome Mui team.
https://codesandbox.io/s/material-demo-forked-uemuz
But there is a problem and that is initial transformation amount on touchs

[2020-10-13 18:36] daitonaaa commented on #9599
it didn't work for me, I used a controlled component https://codesandbox.io/s/inspiring-engelbart-osjok?file=/src/App.js

[2020-10-13 18:42] vash500 commented on #18123
Sorry for the delay, I had not worked on this project for a whole week. So, it turns out that I am full of stupid and what I had is not a reproduction of this case.

When tried to construct a minimal working example I found that it was my onInputChange function that had a typo:

[code]

It says `unefied` instead of  `undefined`. I caught it only thanks to the linter https://eslint.org/docs/rules/v

[2020-10-13 18:47] #18646 closed

[2020-10-13 18:47] #22942 closed

[2020-10-13 19:30] oliviertassinari commented on #23037
@omidtajik I don't get it. What are you looking for?

[2020-10-13 19:38] omidtajik commented on #23037
@oliviertassinari
When drawer is closed and you start touching on the edge of window (not moving yet), it goes up by the amount of swipeAreaWidth.
I want to set this amount by my own, not based on amount of swipeAreaWidth.

[2020-10-13 19:44] oliviertassinari commented on #23037
@omidtajik Which amount would you like to set?

[2020-10-13 19:49] omidtajik commented on #23037
@oliviertassinari
I want it to be customizable via a prop

[2020-10-13 19:50] oliviertassinari commented on #23037
Which would do you plan to set?

[2020-10-13 19:55] omidtajik commented on #23037
In my case, as you see in the codesandbox, I have a 140px swipeAreaWidth, but I want the initial jumping to be 20px.

[2020-10-13 20:04] oliviertassinari commented on #23037
@omidtajik Ok great! Thanks for confirming it. I was leaning toward hardcoding the jump to 20px.

[2020-10-13 20:06] oliviertassinari commented on #23037
Would the following work?

[code]

[2020-10-13 20:13] MrBlue9 commented on #23009
Here's a link to CSB: https://codesandbox.io/s/keen-swanson-8flmp?file=/src/App.tsx

I'm not too familiar with CSB and don't know how to prevent the initial error. To experience my problem, open another terminal tab and run "npm run dev". After that you should see the warning mentioned above in the terminal.

[2020-10-13 20:26] omidtajik commented on #23037
yes, that looks good. Can we have this via a prop on `SwipeableDrawer`?

[2020-10-13 21:26] oliviertassinari commented on #23037
I was thinking of doing the changes as is, without any way to customize it. I don't see a use case for customizing the value. It shouldn't have probably be linked to the swipe area in the first place. These are two different concerns. The 20px is meant to signal the users that the element is ready to be dragged. The swipe area is meant to define a zone to start dragging.

[2020-10-13 21:40] tomcatmwi opened #23040 "MenuItem components ignore .map() iterations"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm building a data table. At the end of each row there's a button to open a popup menu. The menu items perform various functions, ie. deleting the current row.

The problem occurs wh

[2020-10-13 21:44] omidtajik commented on #23037
yes, you are right. jumping amount should not be dependent on swipeAreaWidth and 20px is enough for its purpose 👍

[2020-10-13 21:46] oliviertassinari commented on #23037
@omidtajik Do you want to open a pull request :)? It would land on the `next` branch.

[2020-10-13 21:47] #23040 closed

[2020-10-13 21:52] omidtajik commented on #23037
Sure, I'd be happy to.

[2020-10-13 21:55] oliviertassinari commented on #23040
tip: don't open all the menu at the same time.

[2020-10-13 21:56] oliviertassinari commented on #23040
Also, we have new DataGrid component. Did you consider using it?

[2020-10-13 22:10] jfeigel opened #23041 "Chip `disableRipple` causes TypeScript error "No overload matches this call.""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`disableRipple` works as expected, however a TypeScript error is thrown.

<details>
    <summary>TypeScript error</summary>

[code]
</details>

## Expected Behavior 🤔

No TypeScript e

[2020-10-14 01:50] zzzev commented on #22342
Now that v5 is in alpha release, is there a resolution to this issue? In particular, is the styling solution still based on JSS? We've seen substantial performance issues related to JSS, so have been eagerly anticipating a new solution.

[2020-10-14 01:56] flora8984461 commented on #19953
Thank you so much for your great work!

[2020-10-14 02:24] ryancogswell opened #23043 "[Autocomplete] Allow passing props to a custom PaperComponent in Autocomplete"
Often in components that allow customizing inner component types, there is a corresponding prop for passing props to that component (e.g. `PaperComponent` and `PaperProps` in `Dialog`). `Autocomplete` has a `PaperComponent` prop, but it does not provide any mechanism to pass props to a custom component. Adding a `PaperProps` prop would allow the custom Paper component to use additional props passe

[2020-10-14 06:05] jiggum opened #23044 "[Autocomplete] Navigation event is triggered twice by IME"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![Oct-14-2020 15-04-27](https://user-images.githubusercontent.com/12757765/95949899-97067780-0e2e-11eb-9045-790ee89380fe.gif)

When the ArrowDown<kbd>↓</kbd> is pressed at IME composin

[2020-10-14 06:54] jonahcarneskog commented on #18223
Wouldn't it be so much better to use the "noOptionsText"?
Adding a <Button>Add</Button> there shows a stylable add-button when there are no options.
The only issue is that the noOptionsText closes when the button is clicked. A "keep open" prop would be awesome.

[2020-10-14 08:42] BjoernRave opened #23045 "[@material-ui/Icons] There are multiple modules with names that only differ in casing."
Recently I got this new error in my console:

[code]

This error message comes up with a variety of different files from the `@material-ui/icons` package.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Error message ge'ts logge

[2020-10-14 09:03] #23045 closed

[2020-10-14 09:04] oliviertassinari commented on #23045
The casino issue is in the name of the package, you probably have a corrupted cache. Try to reinstall it from a blank state.

[2020-10-14 09:34] oliviertassinari commented on #23043
Thanks for the report. Yeah, I think that #21453 should be the way forward. @mnajdova Implemented it in the slider:

https://github.com/mui-org/material-ui/blob/5c9c97675f3e7d3978e664520f3fbbe595c78eee/packages/material-ui-lab/src/SliderUnstyled/SliderUnstyled.js#L792-L804

https://github.com/mui-org/material-ui/blob/5c9c97675f3e7d3978e664520f3fbbe595c78eee/packages/material-ui-lab/src/SliderUnsty

[2020-10-14 09:47] enricopolanski commented on #23041
`disableRipple` isn't part of the Chip API afaik:

https://material-ui.com/api/chip/

[2020-10-14 09:47] BjoernRave commented on #23045
upps, sorry for wasting your time with that... thanks for the tip, the issue was that I was importing like this:

[code]

[2020-10-14 10:32] oliviertassinari commented on #23044
@jiggum Sounds good. Do you want to submit a pull request for it :)?

I had a look at what the others are doing:

- https://github.com/select2/select2/issues/5837
- https://github.com/react-component/select/pull/505
- https://github.com/JedWatson/react-select/pull/3563

[2020-10-14 11:05] RobertBorg opened #23047 "@material-ui/types does not include LICENSE file in distribution"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
There is no LICENSE file

## Expected Behavior 🤔
There should be an LICENSE file

## Context 🔦
Comply with MIT license

[2020-10-14 11:24] FutureKode opened #23048 "JSS style being applied to wrong component"
I'm seeing a weird issue where jss is being applied to a different component.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹

Go here https://webstore-deploy-jkh9y1vwn.vercel.app/product/mars-greeting-flat-card
click add to spac

[2020-10-14 11:29] oliviertassinari commented on #23047
@RobertBorg Could you expand? What's missing?

https://unpkg.com/browse/@material-ui/utils@5.0.0-alpha.8/LICENSE
https://unpkg.com/browse/@material-ui/utils@5.0.0-alpha.8/package.json

I can't spot anything.

[2020-10-14 11:44] igor-pavlichenko opened #23049 "Menu positioning ignores disabled MenuItem"
So this weird jumps are happening.

![menuItem_bug_23fps](https://user-images.githubusercontent.com/7633886/95982776-72070a00-0e18-11eb-9b5d-74f9c5c9702e.gif)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Menu position changes i

[2020-10-14 12:05] jonni-larjomaa commented on #16609
This issue also appears when using Drawer component and parceljs tree-shaking. The ordering of CSS is totally random.

[2020-10-14 12:27] oliviertassinari commented on #23049
Duplicate of #20755

[2020-10-14 12:27] #23049 closed

[2020-10-14 12:31] oliviertassinari commented on #23048
This look like an server-side hydration mismatch. You will likely have to check our documentation for the issue and apply a dichotomy to figure out the origin. I think that we can close the issue.

[2020-10-14 14:10] frankruegamer opened #23051 "[Autocomplete] Icon as startAdornment shifts TextField upwards"
Using an Material Icon as start adornment in an Autocomplete will move the text field slightly higher.
This does not happen for the end adornment.
It also does not happen with text only instead of an icon.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2020-10-14 14:19] amypellegrini opened #23052 "`makeStyles` not receiving theme from `ThemeProvider`"
I'm trying to setup my own theme with different colours than those given by default. When I use `makeStyles` and try to reference the theme, the theme is not the one provided via `ThemeProvider`, but the default theme instead. The overall setup works fine for the components, I can change the font in Typography components, buttons, etc, but is not working when trying to access the theme inside `mak

[2020-10-14 14:30] mnajdova commented on #23052
@amypellegrini you are creating the classes outside of the context of the `ThemeProvider`, that is why you don't have access to the new color. I've updated the codesandbox to show how it should be define - https://codesandbox.io/s/material-ui-custom-theme-forked-z5mpp?file=/src/App.tsx

Let me know if this helps, or if there are any further questions.

[2020-10-14 14:55] amypellegrini commented on #23052
@mnajdova Ah! Ok, I can see why my example is not working now, it was not immediately obvious when I looked at your example though!

Thanks for the quick response!

[2020-10-14 15:38] espi-jisc commented on #11649
Hello!
By reading the docs and the [createBreakpoints function](https://github.com/mui-org/material-ui/blob/5c9c97675f3e7d3978e664520f3fbbe595c78eee/packages/material-ui/src/styles/createBreakpoints.js#L17), it seem that we could change the default units from 'px' to any other. I was trying to change it to 'em' to make the website have better responsive when there are accesibility changes (like ch

[2020-10-14 15:49] TakumaKira commented on #22170
Hi there,

Sorry if this might mess around the discussion so far, but I'd like to suggest a simpler solution for this.

I believe we can fix this issue by replacing `filteredOptions.length === 0` to `filteredOptions.toString()` and this solution won't cause any other issues to fix with raised here.

Because checking `filteredOptions` in the second argument array of `const syncHighlightedIndex = Re

[2020-10-14 15:51] mnajdova commented on #23052
Sure! Closing this one then :)

[2020-10-14 15:51] #23052 closed

[2020-10-14 16:36] matthintosh opened #23056 "[Autocomplete] Custom renderOption with action button"
Hi,
I'm currently using the autocomplete component and I create a custom renderOption function to display :
- option name
- specific button to open other window

When I click on the specific button near the option name, this action automatically set the option and this is not expected.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/

[2020-10-14 16:44] abhishek1041 opened #23057 "Spacing between the row of table component"
I want to create space between each rows of table component. I used classname and classes props on TableRow, TableCell, TableBody and Table, but nothing worked. I also tried to create custom theme but it also not working. Here's the code,

[code]

Please let me know how can I resolve this issue.

[2020-10-14 17:08] ehartford commented on #14604
I have same problem, as an experienced web developer learning material-ui, I would like to have a starting point to build from that works out of the box with no modification.  This one, I had to track down all the static files, and still have problems with getting the markdown to generate with webpack.

[2020-10-14 18:19] #23057 closed

[2020-10-14 18:28] oliviertassinari commented on #23056
@matthintosh You need to stop the propagation of the event to avoid the autocomplete's option handler to trigger the value.

[2020-10-14 18:28] #23056 closed

[2020-10-14 19:02] FutureKode commented on #23048
Thanks, that was exactly the issue, closing

[2020-10-14 19:02] #23048 closed

[2020-10-14 19:27] oliviertassinari commented on #22073
The reproduction is now working correctly on the latest version (v5.0.0-alpha.12): https://codesandbox.io/s/material-demo-forked-t5j4w?file=/demo.js. I don't know when the issue was solved.

[2020-10-14 19:27] #22073 closed

[2020-10-14 19:41] oliviertassinari commented on #22170
@TakumaKira `filteredOptions.toString()` is equivalent to using `filteredOptions.length`. Happy to move forward with your proposal. The following diff does the trick. What we would need is polish  the tests: update the description of the edited one, add a test case to cover the use case of this issue.

[code]

[2020-10-14 19:43] oliviertassinari commented on #22170
Also, we can keep https://github.com/mui-org/material-ui/issues/22170#issuecomment-691885924 in the back of our mind in case somebody come with a use case in the future.

[2020-10-14 20:00] oliviertassinari commented on #23051
Interesting, that's another similar issue to #21409 and #22544.

[2020-10-14 21:43] oliviertassinari commented on #21757
Related to #19249

[2020-10-14 22:19] oliviertassinari commented on #11649
@espi-jisc Changing the media query unit from px to em is supported. Feel free to ask on StackOverflow.

A summary of the issues we have opened about of breakpoint customization:

- #11649: this very issue, about adding a `xxl` breakpoint value.
- #19249: raise the confusion about the behavior when providing breakpoint values, does it override all the breakpoints or shallow merge. expect the latte

[2020-10-15 04:18] jjungyooni opened #23061 "[Card] Remove hover style on mobile"
![image](https://user-images.githubusercontent.com/41767147/96076273-e9579f00-0ee7-11eb-8657-582d45df40b6.png)

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I've found this issue from my app.
but reference card item has same prob

[2020-10-15 05:10] jfosterdavis commented on #10643
Attempted in "react-swipeable-views": "^0.13.3" with no joy.

[2020-10-15 07:32] matthintosh commented on #23056
@oliviertassinari Thank you very much for your reply. How can stop the event propagation ?

[2020-10-15 07:39] MathiasKandelborg commented on #22342
@zzzev This isn't an issue per se. It's an RFC (Request for Comments) thread.

I'm inquisitive about which substantial performance issues you're talking about and how going from JSS would improve that. Because the way I see it is that if you have performance problems, it's probably not the styles but how they're implemented, i.e., the same result could be achieved by writing the styles in another

[2020-10-15 07:42] antonholmberg opened #23062 "Expand browser support for DateTimePickers component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`DateTimePickers` use `datetime-local` which is [not supported by non-chromium browsers](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local#Browser_compatibility). It would be great if a fallback could be used for

[2020-10-15 08:26] eps1lon commented on #23062
Are you referring to the demos in https://material-ui.com/components/pickers/#native-pickers? These already include a warning that their support isn't perfect.

It's up to you to decide whether you want to polyfill `datetime-local` or use `@material-ui/pickers`.

[2020-10-15 08:54] oliviertassinari commented on #23061
@jjungyooni Thanks for reporting the issue. What do you think about this fix?

[code]

Do you want to work on a pull request? :)

[2020-10-15 09:26] Ahmeed2m commented on #23062
Will `@material-ui/pickers` merge into main lib in v5?

[2020-10-15 09:28] oliviertassinari commented on #23062
@Ahmeed2m Yes, it's going in the lab in v5. You can start from https://next.material-ui-pickers.dev/demo/datetime-picker

[2020-10-15 09:28] #23062 closed

[2020-10-15 09:30] oliviertassinari commented on #23056
@matthintosh Feel free to share the solution, so others can save time.

[2020-10-15 09:53] mrac opened #23065 "[Autocomplete] multiple, filterSelectedOptions, autoHighlight stops working after "no options" state"
Autocomplete with flags `multiple`, `filterSelectedOptions`, `autoHighlight` has an issue with `autoHighlight` stopping working after reaching state "No options" when entering text. Only after user explicitly selects an option from the list (either by mouse click or by arrow-down key), it starts working again.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](ht

[2020-10-15 10:11] oliviertassinari commented on #23065
Fixed in #23025, demo: https://codesandbox.io/s/material-demo-forked-tgf0z?file=/package.json

[2020-10-15 10:11] #23065 closed

[2020-10-15 13:24] #23044 closed

[2020-10-15 13:25] #23037 closed

[2020-10-15 13:49] asmakhalfallah2018 opened #23069 "Resize property in Table columns"
Hello , please is there any way to achieve resizing rows by moving the table columns ? i see it's not yet implemented but maybe there is a different way to do it . I have already fixed the rows width but i want to resize to see the the hidden words in my row .

[2020-10-15 14:04] oliviertassinari commented on #23047
How about the following fix? Using the approach as the other packages? cc @eps1lon

[code]

[2020-10-15 14:09] oliviertassinari commented on #23069
Are you looking for https://material-ui.com/components/data-grid/columns/#column-resizing?

[2020-10-15 14:31] oliviertassinari opened #23070 "[styled-engine] Conflict between the styled API of emotion and forwardRef prop-type"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Emotion doesn't use the React.forwardRef primitive on the server: https://github.com/emotion-js/emotion/blob/10514a8635dcaa55b85c7bff90e2a9e14d1ba61f/packages/core/src/context.js#L39.

[2020-10-15 14:33] asmakhalfallah2018 commented on #23069
@oliviertassinari Actually i am using Table api not Data Grid api . So if we want this resizing aspect ,at this moment there is no possible way to do resizing in Table api,   we have absolutely to use [](https://material-ui.com/components/data-grid) instead of [](https://material-ui.com/api/table/) ?

[2020-10-15 14:40] oliviertassinari commented on #23069
No but you could try https://react-table.tanstack.com/docs/examples/column-resizing. cc @dtassone

[2020-10-15 14:40] #23069 closed

[2020-10-15 15:42] ergunp opened #23071 "Select onChange not called when default value is set"
When you load the page and a default value set and you select the same default value from the menu item.
The onChange is not triggered.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If the value is passed is a string the onChang

[2020-10-15 15:59] dskiba opened #23072 "New example Autocomplete with freeSolo, custom options and typescript."
Hi, recently I did an example of a not standard Autocomplete case.

There is a [link to an example](https://codesandbox.io/s/material-demo-forked-i9ngx?file=/demo.tsx)

If it would be helpful to someone I can create a PR to add this case to docs.
What do you think?

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a d

[2020-10-15 17:02] oliviertassinari commented on #23071
This is on purpose. The change event only triggers if the value change.

[2020-10-15 17:02] #23071 closed

[2020-10-15 17:13] geocolumbus commented on #14582
4.11.0 still doesn't have autocomplete for <Box/> like it did in 3.9.2. I also tried 5.0.0-alpha.12 and that does not work.

[2020-10-15 17:35] zzzev commented on #22342
My understanding is that emotion will cause a slight hit to static styles performance, and much better dynamic styles perf -- but maybe that's not quite right? There are a lot of different numbers in this thread and it's hard to reconcile into one picture of performance (and obviously it depends a lot on an individual's situation).

When you say we should write the styles in a different way, do yo

[2020-10-15 17:45] TakumaKira commented on #22170
@oliviertassinari

I'd love to! But I realized things around here are getting complicated, and my change will soon affect other fixes. So I want to choose what I am going to do or not carefully here.

`filteredOptions.length` won't fix this issue because the result of `filteredOptions` could be different even when the number of it stays the same. I think we should execute `syncHighlightedIndex` wh

[2020-10-15 18:12] oliviertassinari commented on #23072
@dskiba Thanks for sharing. I'm closing as the issue isn't driven by a pain point.

[2020-10-15 18:12] #23072 closed

[2020-10-15 18:29] oliviertassinari commented on #22170
@TakumaKira Definitely, that's an approximation taken in https://github.com/mui-org/material-ui/issues/22170#issuecomment-708619626 that is good enough for the provided reproduction of this issue (it solves it).

I think that `filteredOptions.toString()` is equivalent to `filteredOptions.length` because most real life use cases are array of objects:

[code]

Did you look into the broken test cases

[2020-10-15 19:34] Andarist commented on #23070
Could you prepare a runnable repro case? That would really help me out - I could jump into inspecting the situation straight away.

[2020-10-15 19:39] oliviertassinari commented on #23070
https://codesandbox.io/s/inspiring-gareth-z2y5u?file=/pages/index.js

[2020-10-15 19:40] oliviertassinari commented on #23070
@eps1lon Should we disable the ref detection heuristic when rendering on the server? The ref won't do anything there.

[2020-10-15 19:59] Andarist commented on #23070
I believe that this would be best - it's an explicit optimization on our side to skip using `React.forwardRef` on the server so SSR can be a tiny bit faster thanks to that. It shouldn't downgrade DX of MUI as this will still be very easily discoverable on the client, during dev setup etc.

[2020-10-15 20:38] keven425 opened #23077 "Docs not working"
- [X ] The issue is present in the latest release.
- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- Latest from the main domain https://material-ui.com/ doesn't work ❌
- Latest from the preview domain https://latest--material-ui-docs.netlify.app/ work ✅

## Expected Behavior 🤔

[2020-10-15 20:50] mbrookes commented on #22342
@zzzev Correct on the first part, not quite on the second (unless you count going from unsupported to supported as an infinite performance gain 🙂).

Emotion enables support for dynamic styles, at the cost of moderately slower performance for static.

[2020-10-15 21:09] mbrookes commented on #23077
@keven425 Please could you (or one of the brigade 😄) let us know more specifically which page doesn't work in dark mode or how to reproduce it? I can't reproduce the issue here.

[2020-10-15 21:16] eps1lon commented on #23077
Seems like our main bundle is not loaded at the moment. https://material-ui.com/ attempts to load https://material-ui.com/_next/static/runtime/main-89979d2bf3276e7cc85c.js which returns a 404. The side is therefore not interactive.

[2020-10-15 21:18] nexttrack07 commented on #23077
Same issue - search also not showing up and demos are not clickable.

[2020-10-15 21:27] mbrookes commented on #23077
Might be a CDN edge problem, as https://material-ui.com/_next/static/runtime/main-89979d2bf3276e7cc85c.js is fine for me...

[2020-10-15 21:28] eps1lon commented on #23077
Seems like it. It's fine for
netlify.app: https://latest--material-ui-docs.netlify.app/_next/static/runtime/main-89979d2bf3276e7cc85c.js
but not for
material-ui.com: https://material-ui.com/_next/static/runtime/main-89979d2bf3276e7cc85c.js

Somebody needs to fix the Internet 😉

[2020-10-15 21:36] JavaJamie commented on #8489
@oliviertassinari try this:

https://codesandbox.io/s/material-ui-match-g2x5c?file=/src/App.js

1. Click "Flicker" (page will reload)
2. The flicker button will quickly show "Previous" before "Flicker".

This is as minimal as it gets, but we have various tabs views that are shown at different breakpoints and these flickers make it look very janky.

[2020-10-15 21:37] eps1lon commented on #23070
Is this actually save/supported by React? I can imagine that it's save now but with all the SSR experiments going on in React I could imagine that it could be problematic. The usual advise is to hydrate with the same tree that you rendered on the server. If this is an optimization why would React not do it in their core?

Especially considering that there's currently no robust way to detect in a c

[2020-10-15 21:53] oliviertassinari commented on #23077
Strange, it works on Firefox and Safari but fails on Chrome and Edge.

[2020-10-15 21:55] AmoleR commented on #23051
After a bit of research, this seems to be an issue on the padding provided.

In your demo (Material-UI 5), it seems that (as you mentioned) the issue is with trying the image on the startAdornment (everything else seems to be inline). Debugging a bit, it says that the issue is as follows: when you have `<SearchIcon />`, it renders it as a child of the div `.MuiAutocomplete-inputRoot[class*="MuiInp

[2020-10-15 22:00] oliviertassinari commented on #8489
@JavaJamie Oh ok, then the tab warning is correct. Regarding the flickering, feel free to work on the issue: #21142. We simply need to swap useEffect with useLayoutEffect when possible.

[2020-10-15 22:17] zzzev commented on #22342
I'm confused; aren't there dynamic styles in the current/v4 makeStyles? e.g. [this pattern](https://material-ui.com/styles/basics/#adapting-based-on-props)

[2020-10-15 22:18] krogusz commented on #17842
It seems, that @adeelibr' s idea will be okey? If yes, maybe I can change it?

[2020-10-15 22:28] Andarist commented on #23070
The hydration always happen using the rendered HTML tree - while React tree usually is also the same it's not a hard constraint because it just can't be. For it to be a hard constraint we'd have to ship extra metadata in the SSRed output and we, obviously, don't want to do that. I've actually seen some pretty clever techniques with SSR mismatches *before* the React's hydration - Emotion is one of

[2020-10-15 22:31] AmoleR commented on #23077
It now fully works (tested on Chrome, Firefox, and Safari) and the page doesn't have any huge big issues. I think that this can be closed now.

[2020-10-15 22:48] amtandon commented on #23077
It's still an issue. Using the chromium based edge

![image](https://user-images.githubusercontent.com/6099736/96193775-f3dd5d00-0f16-11eb-91de-8dad60a3fb41.png)

[2020-10-15 22:49] oliviertassinari commented on #23077
I have opened a case in https://community.netlify.com/t/one-deployed-to-main-domain-random-assets-404/24519/.

[2020-10-15 23:15] kelly-tock commented on #22342
There are but there's a big known perf issue. My team stays far away ATM

[2020-10-15 23:15] stevenbdf opened #23078 "https://material-ui.com/ not working"
https://material-ui.com/
Many links and components are not working.
https://material-ui.com/_next/static/runtime/main-89979d2bf3276e7cc85c.js is missing 404.

[2020-10-15 23:18] stevenbdf commented on #23077
I'm having that issue too. I've tried Chrome, Edge, Firefox.
It's not working, 404 in the next bundle

[2020-10-15 23:20] #23078 closed

[2020-10-15 23:21] stevenbdf commented on #23078
Duplicated

[2020-10-16 00:18] giulianovarriale commented on #23061
I'm on it.

[2020-10-16 00:24] mbrookes commented on #23078
Dupe of #23077 (Netlify issue)

[2020-10-16 00:35] eps1lon commented on #23077
It's working now for me. Anyone else still experiencing issues?

[2020-10-16 00:37] stevenbdf commented on #23077
It's working now!

[2020-10-16 01:13] jjungyooni commented on #23061
all clickable item has same problem!
I think above patch only covers card item

[2020-10-16 01:21] giulianovarriale commented on #23061
Should all them be addressed here? I thought this issue was only related to the Card component.

[2020-10-16 03:11] Maxgit3 commented on #22001
I could take a look at this issue. Do I need to be assigned?

[2020-10-16 06:01] jjungyooni commented on #23061
should I report issue as new?

[2020-10-16 08:41] LorenzHenk opened #23082 "[docs] Complex button images don't exist"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The complex button in the `next` documentation do not display the images.
![Screen Shot 2020-10-16 at 10 35 03](https://user-images.githubusercontent.com/10603631/96235809-858eae00-0f

[2020-10-16 08:45] eps1lon commented on #23077
Closing since this particular incident seems to be resolved. Sorry for the inconvenience.

[2020-10-16 08:47] oliviertassinari commented on #23061
@jjungyooni Do you have another example? Mind #15000.

[2020-10-16 08:58] oliviertassinari commented on #23082
@LorenzHenk Oops, thanks for raising, What do you think about using the images from https://next.material-ui.com/components/image-list/#standard-image-list?

[2020-10-16 09:03] eps1lon commented on #23070
I'm not discrediting how "clever" these workarounds are. There are pretty "clever" workarounds in legacy roots that are completely broken in concurrent mode. So we should clarify first if that is actually supported and not repeat past mistakes.

We already have plenty of reports from excessive warnings when using SSR API in the browser i.e. "prepass"-pattern. I'd rather not have to deal with even

[2020-10-16 09:08] eps1lon commented on #23070
If you insist on keeping this workaround without confirming with React then could you please export the same checker so that we can re-use it? That way we can make sure we don't over-fire the warning and hope that it doesn't hide actual issues. The goal is that we don't have to maintain this technique.

[2020-10-16 09:13] ergunp commented on #23071
@oliviertassinari thanks but why does it trigger the onChange when the value is an integer?

[2020-10-16 09:15] LorenzHenk commented on #23082
@oliviertassinari Sure I can do that!

@eps1lon should we go with your approach (#23083) or use unsplash URLs (as in https://next.material-ui.com/components/image-list/#standard-image-list) instead?

[2020-10-16 09:21] #23061 closed

[2020-10-16 09:39] eps1lon opened #23085 "[Card] Better document the use case of CardActionArea"
Regarding https://material-ui.com/components/cards/#media
Prior issues: #10944

We currently use the `CardActionArea` in two demos without showcasing its purpose. The two demos are solely concerned with additional media.

Authors might blindly copy that demo including its interactivity and users being confused by the apparent interactivity without a resulting action. On [material.io](https://mater

[2020-10-16 09:46] lucafaggianelli opened #23086 "Nested theme not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a main `Theme` and a secondary `Theme` that I need to use it only on few pages, so I followed the nested themes pattern as described in the docs, wrapping only few components i

[2020-10-16 09:54] #23086 closed

[2020-10-16 09:55] oliviertassinari commented on #23086
Tip: the Typography inherits its color.

[2020-10-16 09:56] oliviertassinari commented on #23086
Same as #20340.

[2020-10-16 09:57] oliviertassinari commented on #23086
Same as #15850

[2020-10-16 09:59] oliviertassinari commented on #23071
@ergunp because the value changes from a string to an integer?

[2020-10-16 10:07] oliviertassinari commented on #23085
Definitely, I think that we should remove `CardActionArea` from these two demos (simpler) and add a dedicated one for CardActionArea that explains how to turn a card into an interactive area (e.g. a link for navigation). cc @yuchi for context.

[2020-10-16 10:13] #23082 closed

[2020-10-16 10:48] idrm opened #23090 "[Table] Sticky header in group"
When the `stickyHeader` option is enabled on a `Table` and the table contains multiple header rows, only the last of the rows ends up being sticky.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Only the last of the header rows i

[2020-10-16 10:51] oliviertassinari commented on #23090
Yeah, I think that you would need to set a different top position for each row of the header group. We also have https://github.com/mui-org/material-ui-x/issues/195 in the pipeline.

[2020-10-16 11:08] lucafaggianelli commented on #23086
Thanks for the tip, but this is still not working, now apart from the Typography, I also have other components wrapped in my nested theme (TextFields, and more...) and also those components are still getting the root Theme, not the nested one.

I also tried to add `<CssBaseline />` inside the nested theme but without success. Please can you provide a small example of a nested theme?

[2020-10-16 11:17] oliviertassinari commented on #23086
<img width="489" alt="Capture d’écran 2020-10-16 à 13 17 17" src="https://user-images.githubusercontent.com/3165635/96252238-f04ae400-0fb1-11eb-9edd-739d97548aaf.png">

[code]

https://codesandbox.io/s/goofy-star-xrjc9?file=/src/Demo.js:567-814

[2020-10-16 11:20] oliviertassinari commented on #23090
https://codesandbox.io/s/material-demo-forked-g12em?file=/demo.tsx

[2020-10-16 11:24] oliviertassinari commented on #23090
We can probably improve the documentation for this aspect. It's also not obvious to find the group example introduced for #17909.

[2020-10-16 11:25] oliviertassinari commented on #17909
Note that we have a higher level API in the pipeline for column grouping: https://github.com/mui-org/material-ui-x/issues/195.

[2020-10-16 12:17] lucafaggianelli commented on #23086
thank you @oliviertassinari , I managed to have a nested theme!

[2020-10-16 12:36] oliviertassinari commented on #20245
@devhyunjae What was your use case for disabling the tooltip on touch devices?

[2020-10-16 13:25] nicholas-l commented on #22911
Should the integration tests be included in this list?

[2020-10-16 13:31] oliviertassinari commented on #22911
@nicholas-l Yes, thanks for raising it. I have added them to the list. I think that we should move them to the corresponding components.

[2020-10-16 13:33] nicholas-l commented on #22911
@oliviertassinari Do you mean into the same file as the unit tests or move the file to `.int.js` (or `*.int.test.js`) in the component folder?

[2020-10-16 13:36] idrm commented on #23090
Thanks for the quick heads-up. The custom styling did the trick. I presume it's not possible to apply the stickiness props to the `<thead>` element itself in order to avoid the custom top offset styling.

[2020-10-16 13:50] oliviertassinari commented on #22911
@nicholas-l Well, forget about it, let's solve one problem at the time.

[2020-10-16 13:52] oliviertassinari commented on #23090
It's not possible, to apply the sticky position on the thead, as far as I know. This would have been ideal.

[2020-10-16 14:09] zachbradshaw opened #23096 "TextField cursor position defaults to beginning of value when input label is clicked"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When clicking the label of an input that has a value, the input's cursor will appear at the beginning of the value. A second click/action is required to move the cursor to the end of

[2020-10-16 15:21] AlessandroAnnini opened #23098 "UMD @material-ui/styles"
I was wondering if we could get the UMD version of the `/styles` package.
I am asking this because I am using [single-spa](https://single-spa.js.org/) and I need to use only one instance of @material-ui/styles in a page composed of different micro-frontends.
single-spa already offer a way to share the library among the projects but the library has to support SystemJS or have a UMD version as state

[2020-10-16 16:13] e-monson opened #23099 "Missing filter_alt icon"
The [filter_alt icon](https://material.io/resources/icons/?icon=filter_alt&style=baseline) seems to be missing from @material-ui/icons.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Examples 🌈

[filter_alt icon](https://material.io/resources/icons/?icon=filter_alt&style=baseline)

[2020-10-16 17:21] eps1lon commented on #23096
Thanks for the report :+1:

This is indeed the behavior for native inputs on pristine inputs. But once the select range changes, clicking the label restores the range.

Restoring is already working with Material-UI inputs. It's just that the range is different for pristine inputs. Though it might be caused by something different (e.g. controlled vs uncontrolled?).

Either way, we need to identify

[2020-10-16 17:40] MrBlue9 commented on #23009
@oliviertassinari did you have a chance to take a look? i just saw, that i forgot to mention you the first time around 🙈

[2020-10-16 17:54] mnajdova commented on #23009
I was able to repro it on our `create-react-app-with-styled-components`. Seems like we didn't release the new version for the `@material-ui/styled-engine-sc` package. FYI @oliviertassinari

[2020-10-16 18:09] keven425 commented on #23078
Works now! A hard-refresh was needed. (Cmd + Shift + R on mac)

[2020-10-16 18:34] cliedeman opened #23102 "[Autocomplete] Initial Value Option Filtering"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

The value will be populated when implementing forms. I came across this trying to fix https://github.com/stackworx/formik-material-ui/issues/197

When an initial value is given to the Autocomplete the optio

[2020-10-16 19:05] #23010 closed

[2020-10-16 19:07] oliviertassinari commented on #23043
It also related to #20991

[2020-10-16 19:09] deiga commented on #22911
@oliviertassinari These tests seem to already use `react-testing-library`
- test/integration/Menu.test.js
- test/integration/MenuList.test.js
- test/integration/NestedMenu.test.js
- test/integration/Select.test.js

[2020-10-16 19:32] eps1lon commented on #23098
I recommend making use of module federation in the meantime or build the UMD bundle yourself.

The /core UMD build is kept for historic reasons for prototyping. With browsers moving to support ES modules natively we'll probably rather support that in the future.

[2020-10-16 19:32] #23098 closed

[2020-10-16 19:49] oliviertassinari commented on #23099
Available in the next version: https://next.material-ui.com/components/material-icons/.

[2020-10-16 19:49] #23099 closed

[2020-10-16 20:02] IngridFuentes commented on #22827
I can work on it if it's still free :)

[2020-10-16 22:45] alextenb opened #23107 "Add role="checkbox" to checkbox"
Material-UI switches have role="checkbox" but checkboxes don't have a role assigned by default. Kinda counterintuitive.

[2020-10-16 22:50] eps1lon commented on #23107
Could you provide a bit more context what the problem is? `<Switch />` uses native `<input type="checkbox" />` same as `<Checkbox />`. Neither apply the `role="checkbox"` attribute.

We have an issue template to make the problem easier to grasp initially. Please be so kind and fill it out since this save us a lot of back and forth.

[2020-10-16 22:55] oliviertassinari commented on #23102
@cliedeman You would need to set the `value={null}` but the `inputValue` to the search value to get this expected behavior. It's on purpose.

[2020-10-16 22:55] #23102 closed

[2020-10-16 23:02] #23107 closed

[2020-10-16 23:08] oliviertassinari commented on #23009
`@material-ui/styled-engine-sc@5.0.0-alpha.12` released. Sorry, I have missed it [the change](https://github.com/mui-org/material-ui/compare/v5.0.0-alpha.11...v5.0.0-alpha.12#diff-c9d5b4893555b6a47db92da1c0b253c86ca7b303d0902c355592895ba240362a). It works now https://codesandbox.io/s/interesting-kalam-fij5k?file=/src/App.tsx

<img width="295" alt="Capture d’écran 2020-10-17 à 01 07 51" src="http

[2020-10-16 23:08] #23009 closed

[2020-10-16 23:43] oliviertassinari commented on #23096
Not sure on Chrome 86, after a hard refresh.

![focus](https://user-images.githubusercontent.com/3165635/96322554-dba23680-1019-11eb-8643-c8d635b767b1.gif)

[code]

On Safari and Firefox it selects the whole input text.

[2020-10-17 11:17] eps1lon commented on #23096
The point is not to force a particular behavior but try to avoid changing the selection range on pristine text fields. We could never reproduce nor we should we override native behavior.

[2020-10-17 12:50] oliviertassinari commented on #23096
Yes, agree, I believe the TextField behavior is identical to the native label + input one.

[2020-10-17 12:56] oliviertassinari commented on #23096
It looks like an issue with our documentation, not the component itself. The behaviors are identical on https://codesandbox.io/s/angry-tdd-fh4qq?file=/src/App.js.

[2020-10-17 13:00] eps1lon commented on #23096
Interesting. The [demo cloned in codesandbox](https://codesandbox.io/s/df23c) works correct as well. I also tried https://material-ui.com/components/text-fields/#form-props in an incognito window and had the same issue (suspecting it was auto-fill related).

[2020-10-17 13:00] oliviertassinari commented on #23096
It has something to do with the server-side rendering.

[2020-10-17 13:07] oliviertassinari commented on #23096
Enjoy: https://codesandbox.io/s/determined-noyce-vc2tq?file=/pages/NoSsr.js, a bug for React.

[2020-10-17 13:09] oliviertassinari commented on #23096
I think that we can close, it looks like the native behavior: same on https://getbootstrap.com/docs/4.5/components/forms/#server-side.

[2020-10-17 13:26] eps1lon commented on #23096
Yes! There's a difference between `<input value="foo" />` in plain HTML and a client-side rendered `<input defaultValue="foo" />`: https://codesandbox.io/s/serverless-field-jokfq?file=/src/index.js

Related react issues: https://github.com/facebook/react/issues/18404, https://github.com/facebook/react/issues/14904, https://github.com/facebook/react/issues/12762

This is best raised against the Rea

[2020-10-17 13:26] #23096 closed

[2020-10-17 15:47] mentierd opened #23111 "Data-Grid is flickering while scrolling on iphone 11 / safari"
When I attempt to scroll the demos for the new data-grid component on my iPhone 11 / safari, the grid flickers and is not smoothly scrolling. It seems to jump around.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I use touc

[2020-10-17 16:08] #23090 closed

[2020-10-17 16:24] dan-mba commented on #22443
Google Chrome does not currently support `autocomplete=off`.
[Issue 587466](https://bugs.chromium.org/p/chromium/issues/detail?id=587466)

I am willing to update the doc to mention this limitation.
The doc also might want to mention that using `autocomplete=new-password` will cause some browsers to recommend a new strong password which might create confusion for non-password fields.

[2020-10-17 16:31] oliviertassinari commented on #22443
@dan-mba Sounds great!

[2020-10-17 16:59] SlickJacket commented on #22443
Found this jquery solution that seems to work perfectly.
-credit to Lin Terry

`$('#login-form').disableAutoFill({
    passwordField: '.password',
    debugMode: false,
    randomizeInputName: true,
    callback: function() {
        return checkForm();
    }
});

function checkForm() {
    form = document.getElementById('login-form');

    if (form.password.value == '') {
        alert('Cannot le

[2020-10-17 17:36] eps1lon commented on #23070
We're not warning in node now which should sufficiently approximate `react-dom/server` usage. The rest is up to https://github.com/facebook/react/issues/20047

[2020-10-17 17:36] #23070 closed

[2020-10-17 17:54] deiga commented on #22911
Is it really necessary to test "props inheritance"? Isn't that kind of implied by using React? Or am I missing some point here?

[2020-10-17 17:58] oliviertassinari commented on #22911
@deiga Yes, it's necessary, a component can break the inheritance.

[2020-10-17 18:02] eps1lon commented on #22911
I don't think that's a useful discussion to have. You can always argue like "isn't that implied by JS". If we would rely on "implied by React" then we'd actually use enzyme and not testing-library.

We use tests to generate documentation. We actually solve two problems at once: maintaining documentation and testing implementation. While outdated documentation isn't that bad of a problem to have it

[2020-10-17 19:09] #22443 closed

[2020-10-17 19:10] cliedeman commented on #23102
@oliviertassinari Thanks for the prompt reply.

I thought this might be the case. I re-read the autocomplete documentation. Is there any reference in there I might have missed a to why this is the default behavior?

[2020-10-17 19:17] oliviertassinari commented on #23102
@cliedeman If a value is selected, displaying the alternative options than to filter them. The component starts to filter them after the first keystroke. If you set the input value only, it should keep filtering.

[2020-10-18 04:20] markatlish commented on #22426
We're using Material UI to build Worksphere, a workplace management platform for safe offices and flexible teams.

Product：[Workplace Management for a Safe Return to Office](https://worksphere.co)
Company:  [worksphere.co](https://worksphere.co)
Screenshot:

![image](https://user-images.githubusercontent.com/66799581/96358581-abac6f00-10bd-11eb-8d8a-2395876230f9.png)

[2020-10-18 05:08] n8sabes commented on #22453
@sgehrman, Is this fix, or can this fix, be made available in 4.x?

[2020-10-18 07:57] hilezir opened #23118 "The TextField style broken after next build"
After `next build` the style of TextField is strange

![image](https://user-images.githubusercontent.com/1500206/96361684-5e320f80-115a-11eb-840b-cc5854b5bd43.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<b>`npm run build

[2020-10-18 08:09] redbmk commented on #22827
Hey, sorry @IngridFuentes didn't see that comment until I ended up getting a fix for it. I tried a couple approaches but ended up with pretty much what @croraf suggested in https://github.com/mui-org/material-ui/issues/22827#issuecomment-705788208.

Would love some feedback though, especially in regards to accessibility.

[2020-10-18 08:19] redbmk commented on #22827
Hmm, played around with it some more and a11y is definitely broken in my PR. May need to come up with a solution where hover/click works one way but focus/onChange works another way

[2020-10-18 08:45] oliviertassinari commented on #22827
What's wrong with https://github.com/mui-org/material-ui/issues/22827#issuecomment-704405240?

[2020-10-18 11:36] hilezir commented on #23118
Oops, sorry, after I got a tiny rest with a bed, I have figure out what happened to it.

I modify this line to make it works on the production build.

[code]

[2020-10-18 11:36] #23118 closed

[2020-10-18 11:48] oliviertassinari commented on #23118
I can't reproduce. Probably something wrong during the installation.

[2020-10-18 13:06] numToStr opened #23120 "[icons-v5] Cannot use import statement outside a module"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
After importing any icon from `@materila-ui/icons@v5-alpha.13` I am getting the below error:

[code]

This issue is only comming from `icons`, `core` is working fine.

## Steps to Repr

[2020-10-18 13:13] farshidbakh commented on #10278
Hello All, I would like whatever the user enter in the TextField be transformed to uppercase ? Is there a way to do that with Material-UI components in React JS?

[2020-10-18 14:54] eps1lon commented on #23120
Interesting. I just realized that we never actually supported ES modules for path imports like `@material-ui/icons/ArrowBackTwoTone`. Will investigate first thing tomorrow.

[2020-10-18 16:15] NotLuksus opened #23122 "Checkbox form jumping around in Firefox and Chrome"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[mui problem.zip](https://github.com/mui-org/material-ui/files/5397779/mui.problem.zip)
In the attached ZIP you find a video where I first show the current behaviour and afterwards th

[2020-10-18 16:36] oliviertassinari commented on #23122
I can't reproduce

[2020-10-18 18:35] mbfakourii opened #23144 "[Tabs] Disabled scroll buttons with opacity"
hi i needed Feature for Disable hidden left right for tab like it

![](https://i.stack.imgur.com/KEAGp.png)

[2020-10-18 19:06] #18869 closed

[2020-10-18 20:02] #23122 closed

[2020-10-18 20:16] mbrookes commented on #23144
Please use the feature request template provided.

[2020-10-18 20:49] oliviertassinari commented on #23144
Duplicate of https://github.com/mui-org/material-ui/issues/22181#issuecomment-674761292

[2020-10-18 20:49] #23144 closed

[2020-10-18 21:27] yellowspaceboots commented on #21572
Not sure if this helps but the docs [here](https://next.material-ui.com/customization/theming/) say you should be importing like this `import { ThemeProvider, createMuiTheme } from '@material-ui/core/styles'` . Have you tried including the `/styles` on the end of your import path?

[2020-10-18 21:34] soroushm commented on #22342
I just hate component-styled
jss is good but there are a few problems in debugging, performance and still some bug still not resolved such as nested like`&:after`

[2020-10-19 00:19] dial3x commented on #23048
@FutureKode  I'm having the same issue when lazy loading components.
How did you resolve?

[2020-10-19 04:34] ssohymind opened #23149 "Svg path for Select becomes bigger in google cache"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
1. While loading (+also in Google cache archive)
<img width="1296" alt="스크린샷 2020-10-19 오후 1 28 07" src="https://user-images.githubusercontent.com/40379222/96401657-f093eb00-12

[2020-10-19 06:49] bbaoNg97 opened #23150 "Add transition fade in out in Drawer"
Instead of using transform, how do i change Drawer transition to fade in with 2 seconds?

[2020-10-19 06:53] chetandr opened #23151 "[Autocomplete] Issue with Paper Component."
Does not allow Events on Additionally added elements.

` <Paper>
    {children}
    <Grid container justify="center" direction="row">
      <Button
        variant="contained"
        color="primary"
        size="small"
        style={{ marginTop: '5px', marginBottom: '5px', width: '90%' }}

        Manage Collections
      </Button>
    </Grid>
  </Paper>`

- [ x] The issue is present in the lat

[2020-10-19 06:56] chetandr opened #23152 "[Autocomplete] For Custom Render option, preventEventDefault Does not work"
For Custom Render option, prevent Event Does not work

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
For the Custom Render option, preventEventDefault Does not work

## Expected Behavior 🤔
For the Custom Render option when preve

[2020-10-19 08:37] oliviertassinari commented on #23152
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-10-19 08:38] #23151 closed

[2020-10-19 08:43] oliviertassinari commented on #23149
@ssohymind For the initial server-side request, you need to extract the styles of the components rendered and inline them in the `<head>` see https://material-ui.com/guides/server-rendering/. Alternatively, you can use the `NoSsr` to disable server-side rendering for the components in the header, as a quick workaround.

[2020-10-19 08:43] #23149 closed

[2020-10-19 08:44] #23150 closed

[2020-10-19 09:23] FutureKode commented on #23048
@dial3x So my issue was that I was rehydrating my store on frontend so nextJs was seeing a mismatch between what was rendered on the server and what was rendered on the client.

I resolved it by doing the rehydration inside a useEffect. Hope this helps with your issue

[2020-10-19 09:28] SassNinja commented on #14420
@oliviertassinari is it safe to rely on MUI v5 still supporting IE11 (or rather be at least polyfillable)?

I've read this long discussion and it seems so. However I'd like some confirmation from a member because we're currently starting a large project and would like to use v5 if it won't drop IE support (unfortunately we still have many IE customers)

[2020-10-19 09:33] oliviertassinari commented on #14420
@SassNinja Until this issue is closed, we still support IE11. The last release of v5 supports it, the most likely path is that we drop IE11 it in v6. However, we treat it as a second-class citizen.
There are some components that don't support it. DataGrid doesn't, ImageList doesn't (at least we didn't look if the outdated CSS grid implementation of IE11 could be support), Grid (might not in the fu

[2020-10-19 09:51] eps1lon commented on #14420
The only special casing we have planned for IE 11 that it'll become opt-in (see [legacy bundle](https://next.material-ui.com/guides/minimizing-bundle-size/#legacy-bundle)). With regards to "support" we don't treat it any different to other browsers. The priority of a browser-specific bug is always proportional to its usage and severity. This effectively translates to "IE11 is a second-class citize

[2020-10-19 10:08] PeterJSung opened #23156 "Focus highlight stays in MuiCardActionArea and MuiButton when scroll effect fired"
hello. i found issue about ripple fired when scroll event trigger.
(https://github.com/mui-org/material-ui/issues/6729)

this issue all work done. but, when i use material ui in mobile web.

`MuiCardactionArea-focusHighlight` awlays remain when i scroll up and down, even ripple event disappear.

of course. this issue same of `MuiButton` with ripple

![image](https://user-images.githubusercontent.c

[2020-10-19 11:45] oliviertassinari commented on #23156
Duplicate of #23061

[2020-10-19 11:45] #23156 closed

[2020-10-19 11:57] sajagti opened #23161 "timer icon not visible on firefox or mac machine"
open link in https://material-ui.com/components/pickers/        firefox and check for the timer icon on time picker component. in crome we see clock icon but in firefox we get cross icon.

[2020-10-19 12:00] #23161 closed

[2020-10-19 14:07] TakumaKira commented on #22170
@oliviertassinari

Sorry, I thought always `multiple === false` inside `syncHighlightedIndex` because of `multiple ? false : value` check(I found it was false).

I should have run the tests before suggesting removing `valueItem == null`.
Below were passed the tests.

[code]

I'm suggesting removing `valueItem == null` because it ignores `valueItem === null && highlightedIndexRef.current !== -1` ca

[2020-10-19 14:11] mkermani144 commented on #17119
I have the same issue when using `Menu` component. It seems a problem with `Grow`, but I really don't understand the problem. The children of `Menu` is a `MenuItem` which uses forwardRef internally, but I get exactly the same error:
[code]

My code:
[code]

[2020-10-19 14:22] oliviertassinari commented on #23120
I think that `@material-ui/icons` should receive a special treatment, it's not a package like the other. Maybe we should:

- Deliver CommonJS only
- Ban
[code]

How are FontAwesome / react-icons scaling to 5k+ icons? Say we want to provide 10k+ how to best architecture it?

[2020-10-19 14:34] numToStr commented on #23120
I guess we all are aware of that using this syntax to import icons slows down the initial dev startup quite a bit.

I would prefer this syntax anyday over named imports for icons.
[code]

[2020-10-19 14:42] mkermani144 commented on #17119
Same happened to me after upgrading to v5.0.0-alpha when I use `createMuiTheme` this way:
[code]
Later, _some_ of my `Menu` elements crash with exactly same error as quoted.
I really don't understand why this occurs, as I DO use `forwardRef` for `component` prop, but the error still occurs.

[2020-10-19 14:43] pelletencate opened #23164 "Add equivalent to openOnFocus for `click` events"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

openOnFocus does not affect what happens when an out-of-focus input is clicked. In the comments of #20286, it was argued that this is by design. As such, I hereby request an equivalent (suggested: `openOnClick`) property that disables opening

[2020-10-19 14:49] eps1lon commented on #23120
We don't want to ban named import since this is the way forward. Tooling is just not there at the moment. There's no reason to ban it.

[2020-10-19 15:20] oliviertassinari commented on #23164
This sounds like a good idea. What's your use case for this behavior?

[2020-10-19 15:55] Ankish76 opened #23165 "Auto focus in textarea inside model is creating problems"
autofocus enabled textarea input which in inside modal is creating a loop on keypress and causing a performance issue. This is happening due to Unstable_TrapFocus component. I did tried disabling force autofocus with disableEnforceFocus prop.
but it didn't helped.

I think that setInterval should only be called when  disableEnforceFocus is false.

Adding an option to not wrap modal children in Uns

[2020-10-19 16:12] nfantone commented on #14257
Sorry for reviving the thread, but I'm facing a similar issue here. The above suggestion actually worked for overriding the `backgroundColor` on all `TableRow` using the theme, but I'm having a hard time overriding the color for a single `TableRow` instance.

My intuition tells me this should do the trick, but doesn't.

[code]

[2020-10-19 16:16] oliviertassinari commented on #14257
`$selected` style rule is missing

[2020-10-19 16:18] nfantone commented on #14257
🤔  Isn't that [already defined by `TableRow`](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/TableRow/TableRow.js#L24) itself?

[2020-10-19 16:30] andrey1andrey commented on #21749
Hi. Is it possible to get support for 'Card' component too ? At the moment I don't see this component in the list of WIP

[2020-10-19 16:55] zachbradshaw commented on #23096
@eps1lon @oliviertassinari Thanks for taking the time to check this out and for the info about SSR.

[2020-10-19 17:16] oliviertassinari commented on #14257
No, style sheets are isolated.

[2020-10-19 18:56] fakeharahman commented on #22162
Hey, I got stuck on this so if someone else wants to take this, they are the most welcome to! I will still try to solve this.

[2020-10-19 19:09] eps1lon commented on #23164
Should this rather be a single prop that handles both? Otherwise we should specify use cases for all combinations:
1. `openOnFocus={false} openOnClick={false}`
1. `openOnFocus={false} openOnClick={true}`
1. `openOnFocus={true} openOnClick={false}`
1. `openOnFocus={true} openOnClick={true}`

[2020-10-19 20:43] oliviertassinari commented on #23164
@eps1lon These combinations look valid.

I have updated the proposal to `disableOpenOnClick` to match our naming convention. react-select has a [`openMenuOnClick`](https://react-select.com/props) prop, it was reported early on: https://github.com/JedWatson/react-select/issues/1131.

[2020-10-19 21:30] jaebradley opened #23170 "Support enums / constants for static properties"
## Summary

I was looking at the `Drawer` component earlier and noticed a couple `enum`-like `prop`s.

For example, `anchor` and `variant`.

https://github.com/mui-org/material-ui/blob/8d00f6d6628790e31d1cbe38d3de21737e893de7/packages/material-ui/src/Drawer/Drawer.d.ts#L88

Would `material-ui` be open to making these `enum` values both [`TypeScript` `enum`s](https://www.typescriptlang.org/docs/han

[2020-10-19 21:37] darelleglovo opened #23171 "[Autoomplete] PaperComponent content is not accessible via keyboard"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When we try to put an element (e.g a Button) in Autocomplete's PaperComponent props, it can't be accessed via keyboard.
Pressing the tab button will automatically close the popper.
<i

[2020-10-19 21:39] oliviertassinari commented on #23170
I think that TypeScript is enough to solve this problem. Also, mind that this would increase the bundle size. I vote against

[2020-10-19 21:44] oliviertassinari commented on #23171
It's not meant to be. It's a combobox.

[2020-10-19 21:44] #23171 closed

[2020-10-19 22:41] jaebradley commented on #23170
Fair enough! Thanks for considering!

[2020-10-19 22:41] #23170 closed

[2020-10-19 22:44] eps1lon commented on #23170
How would an enum solve that problem? You would still need to remember the casing of the property name.

Any easy to access type already exists in the form of `DrawerProps['variant']` (with `NonNullable` combined) depending on the use case.

[2020-10-19 22:44] eps1lon commented on #23164
It's trivial that these are valid. My point is what the use case for each of these combinations would be.

[2020-10-19 22:50] jaebradley commented on #23170
Yeah fair enough - my IDE can autocomplete / has intellisense for constants so it makes it slightly easier to remember the naming.

Regardless, it's a pretty minor thing.

[2020-10-20 00:32] benpryke commented on #17353
I added `box-sizing: border-box` to `body` so that at least the added `padding-right` no longer caused the page content to stretch when the scrollbar is hidden, though there is now an empty space down the side of the page when the menu is open. Most users probably won't notice, but some will.

[2020-10-20 02:11] mjhecht commented on #11618
I'd also like to put the label on the left. Because it isn't that important that the text be clickable, I'll just use ordinary text for the label for now, and just use the `Switch`, rather than wrap it in the `FormControlLabel`.

[2020-10-20 03:37] krishak1205 commented on #22912
I'd like to work on this issue.

[2020-10-20 04:45] Chimpaya commented on #10159
I also had this problem. Turns out it's because i set the width of the Menu component via className props.
Was able to solve it by setting the width via the PaperProps props
`      <Menu
        id="menu-appbar"
        anchorEl={anchorEl}
        anchorOrigin={{
          vertical: 'top',
          horizontal: 'right',
        }}
        keepMounted
        transformOrigin={{
          vertical:

[2020-10-20 05:19] japrogramer opened #23173 "Label won't 🐛 shrink in text field"
InputLabel doesn't shrink in a textfield

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I expect that the label be shrinked if the value is a string
but when the component loads it isn't shrunked
 https://imgur.com/a/zVm3kRE

This doesn't shrink
[code]

[2020-10-20 08:04] oliviertassinari commented on #23164
- open on focus was asked to prevent masking the UI when quickly tabbing between the fields
- open on click was asked to delay XHR requests. On https://next.material-ui.com/components/autocomplete/#google-maps-place you don't want to open the popup and display "no options" we will use the prop there.

[2020-10-20 08:14] Abekonge commented on #8380
If you have floating numbers, @peterrogov's solution will work, but use `Number(event.target.value)` instead of. `parseInt`

[2020-10-20 08:49] oliviertassinari commented on #21015
I think that we need to change the documentation, this point has been a continuous pain: https://github.com/mui-org/material-ui/issues/21015#issuecomment-663208786. I think that we should either drop the Typography from the demo or use the lab tab panel component. I would be leaning for the latter.

[2020-10-20 08:53] #23173 closed

[2020-10-20 08:54] oliviertassinari commented on #23173
@japrogramer Check the warnings in the console:

<img width="478" alt="Capture d’écran 2020-10-20 à 10 53 16" src="https://user-images.githubusercontent.com/3165635/96563675-83419200-12c2-11eb-9f5d-7ee46ee0bdc9.png">

[2020-10-20 08:56] oliviertassinari commented on #22912
@krishak1205 You can provide a review on #23073

[2020-10-20 09:00] #23165 closed

[2020-10-20 09:01] oliviertassinari commented on #23165
I'm going to assume it's a support question, the issue template wasn't respected, no reproduction was provided, the screenshotted code is v4, we only support v5.

[2020-10-20 09:50] eps1lon commented on #23164
These are the same?

[2020-10-20 09:53] oliviertassinari commented on #23164
I think that we could bundle them under a single prop if the expected default behavior was identical for the two events. It's not the case. By default, we respond to click but not focus events.

[2020-10-20 10:04] YoannBuzenet commented on #1529
How would you do that in a stateless component ?

[2020-10-20 10:24] eps1lon commented on #23164
This is what I've been saying. Props, like components, should be declarative.

Why though? I don't see the distinction since depending on the user these are somewhat equivalent interactions.

[2020-10-20 10:40] #23120 closed

[2020-10-20 10:47] oliviertassinari commented on #23120
@eps1lon Ok, the current compromise looks great!

[2020-10-20 11:05] oliviertassinari commented on #23164
@eps1lon Initially, the behavior of the Autocomplete was `openOnFocus={true}` (no click logic), which developers complained about: #18815. In https://github.com/mui-org/material-ui/issues/18815#issuecomment-569277122 you made a great point around how Chrome's autofill/autocomplete behaves by default. We went on reproducing it. Later on, developers complained about the open on click logic to not be

[2020-10-20 11:16] richardgohcr opened #23176 "Cannot update a component while rendering a different component warning for Modal component for React v16.13.0"
I am receiving this warning for the react modal, and upon closer inspection, I realised that it is also present on the official [CodeSandBox demo](https://codesandbox.io/s/w6k8l), just view the console when you click the button.

Warning: Cannot update a component (`ForwardRef(Modal)`) while rendering a different component (`ForwardRef(Fade)`). To locate the bad setState() call inside `ForwardRef(

[2020-10-20 11:27] eps1lon commented on #23176
`react-spring` is calling `onStart` and `onRest` during render. This means you can't trigger any side effects in these handlers (which defeats the purpose of event handlers in my opinion).

Is there a reason you call `onEnter` and `onExited`? If this is a hard requirement for you you should file an issue with `react-spring`.

[2020-10-20 11:38] oliviertassinari commented on #23176
In the demo integration https://next.material-ui.com/components/modal/#SpringModal.tsx we call `onEnter` and `onExited` to keep the body of the Modal mounted until the transition ends.

[2020-10-20 12:23] eps1lon commented on #23176
I think we have to go with a transition model rather than a spring model: https://codesandbox.io/s/material-demo-forked-xu097?file=/demo.tsx

On a related note: The `Backdrop` produces a bit of any annoying UX where you close the modal and during the transition you're not able to click the screen. We can fix this by disabling pointer-events when the Backdrop isn't open. I'll experiment with it and

[2020-10-20 13:05] mschipperheyn commented on #23165
@oliviertassinari This is a bug report. The interval should be disabled if `disableEnforceFocus` is true.

[2020-10-20 13:19] techdev5521 commented on #22426
Product: An internal ticketing system for an IT department, we call it webqueue2.
Company or Organization: Purdue University
Link: N/A
GitHub link: N/A
Screenshot: It's difficult to show the system without also showing sensitive information.

[2020-10-20 13:35] Adarsh077 opened #23179 "[Avatar] common props are not being passed to custom component"
## Context 🔦
I am trying to use [material-ui-image](https://mui.wertarbyte.com/#material-ui-image) to load images in \<Avatar />.

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## My Code
[code]

## Current Behavior 😯
[\<Image />](https://mui.wertarbyt

[2020-10-20 14:00] BennieCopeland commented on #22938
I'm having a similar issue with CheckBoxOutlineBlankOutlined. It appears to have something to do with Babel. The source map returns this:
[code]

When I set a breakpoint and run `_interopRequireDefault(require("./utils/createSvgIcon"))` in the console, I get:
[code]

The Material UI Icons `createSvgIcon` was updated in March to `export { createSvgIcon as default } from '@material-ui/core/utils';`.

[2020-10-20 14:58] oliviertassinari commented on #23179
@Adarsh077 Provide the Image as a child element to the Avatar.

[2020-10-20 14:58] #23179 closed

[2020-10-20 15:15] TOcvfan commented on #20482
I also have this problem
![Skærmbillede 2020-10-20 165437](https://user-images.githubusercontent.com/11290288/96606124-36c47980-12f7-11eb-85f6-de70af6bd9e5.png)
I tried these 3 steps
1. Remove node_modules
2. Remove package-lock.json
3. Run npm install
but it didn't work I also tried to change to yarn instead of npm, but samme problem

[2020-10-20 16:51] BennieCopeland commented on #22938
Digging into this more, the source map I posted matched the contents of the "node_modules/@material-ui/icons/CheckBoxOutlineBlankOutlined.js" file. What is weird though is that the `Object.defineProperty` part of the code is getting stripped off somewhere in the minification process. It gets turned into:

[code]

The `i(n("8/g6"))` is the minified call `_interopRequireDefault(require("./utils/crea

[2020-10-20 17:22] cristinarojas opened #23182 "Table sorting icon is working when user do the second click on arrow"
Hi, I'm implementing the sorting in my table but only works when user do the 2 click in the arrow,
Is there a way to set the sorting in the first user click all the time?

Thanks

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

##

[2020-10-20 17:32] doodhJalebi commented on #22534
@oliviertassinari sorry for going AWOL. Um, noob questions but uh when you say "go ahead" or "give it a try", where do I go exactly? I apologize for my confusion 😕

[2020-10-20 17:43] #22253 closed

[2020-10-20 17:45] #21987 closed

[2020-10-20 17:49] #20755 closed

[2020-10-20 17:51] #23047 closed

[2020-10-20 17:53] oliviertassinari commented on #22534
@doodhJalebi I was referring to opening a pull request. However, looking back at the problem, it doesn't seem to be a frequent request. I'm closing. An answer on GitHub' issue is already something developers can search and find (if they spend enough time)

[2020-10-20 18:01] oliviertassinari commented on #23182
@cristinarojas material-table is a third-party project, head to http://material-table.com/. If you are looking for the same component but supported by Material-UI, head to https://material-ui.com/components/data-grid/.

[2020-10-20 18:02] #23182 closed

[2020-10-20 18:25] stazrad opened #23184 "Dropdown styling became horizontal?"
Has anyone experienced this issue? The `<MenuItem>`s in the dropdowns suddenly became horizontal and styling is broken on the `<Switch>` component...

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Horizontal dropdowns and cutoff s

[2020-10-20 19:02] oliviertassinari commented on #16551
Fixed in v5.0.0-alpha.13 https://codesandbox.io/s/serene-dew-syco9

[2020-10-20 19:02] #16551 closed

[2020-10-20 19:07] oliviertassinari commented on #17297
The latest version of Safari (14) supports it. We are adding a superset of CSS in #23053, it will close this issue.

[2020-10-20 19:20] mbrookes commented on #23184
Please provide an example, such as a codesandbox.

[2020-10-20 19:24] oliviertassinari commented on #18039
It was fixed in v5.0.0-alpha.13 https://codesandbox.io/s/create-react-app-forked-5ywer?file=/src/App.js

[2020-10-20 19:24] #18039 closed