[2020-11-12 10:13] oliviertassinari commented on #18166
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-12 10:14] oliviertassinari commented on #18018
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-12 10:18] ZeeshanTamboli commented on #23406
@nauman99 Okay. I will be working on it.

[2020-11-12 10:42] preeti-droom opened #23486 "On open bootstrap modal, UI used with material-ui getting skattered (adding extra css properties), how i can get ride from this issue"

[2020-11-12 10:42] willemdjong commented on #17142
Any updates on this issue?

[2020-11-12 10:44] DonnyVerduijn commented on #10382
IMO, The whole point of having an integrated css-in-js API, is to support modularity without depending on third-party CSS frameworks. Using the same language to address different concerns, doesn't mean that these concerns cannot be separated. It even simplifies the process of modularizing a theming layer because now, one can simply implement a hooks API that is consumed inside makeStyles.

[2020-11-12 10:57] ankitLV commented on #18018
That's great @oliviertassinari will give it a try

[2020-11-12 11:24] eps1lon commented on #23486
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-11-12 11:46] oliviertassinari commented on #18000
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[code]

https://codesandbox.io/s/continuousslider-material-demo-forked-9595u?file=/demo.tsx

However, the usage of props isn't supported, so far, we aim to address the issue with the [`variants` key](https://next.material-ui.com/customization/components/#adding-new-component-variants)

[2020-11-12 11:52] #23471 closed

[2020-11-12 11:52] #23450 closed

[2020-11-12 11:58] oliviertassinari commented on #15914
An update, this issue is being resolved in v5 thanks to #22342. So far, we have migrated the Slider in the lab, where this can be tested. It doesn't longer generate global class names, class names are hashed. However, the components have global class names that can be targeted.

[2020-11-12 12:02] oliviertassinari commented on #16673
This is a similar issue to #21011. This issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package. keyframes can be used in conjunction with dynamic props. However, mind that props can only be accessed at the style rule level, not at the style value level.

[2020-11-12 12:03] sibelius commented on #18166
tks, I will close and upgrade to v5 when stable

[2020-11-12 12:03] #18166 closed

[2020-11-12 12:46] CrocoDillon commented on #22342
Two questions:

1. Can you use the new styling solution without HOCs? I for one love the React hook API that MUI currently has... not sure if the styled syntax is also a HOC under the hood but that would beat efforts (pretty much everywhere in React libraries) in moving away from HOCs.
2. Will the `classes` prop most components have still be supported (it would give full flexibility in what stylin

[2020-11-12 12:53] mbrookes commented on #23481
[Here's a simpler version](https://codesandbox.io/s/material-demo-forked-b0jxy) (no throttle), so that it will be less effort for you.

Hence "quick-and-dirty". Happy to see how you iterate on it. 👍

[2020-11-12 13:19] mbrookes commented on #22342
[See here](https://github.com/mui-org/material-ui/pull/23308#discussion_r521527475) for a current discussion.

[2020-11-12 13:31] oliviertassinari commented on #17126
Duplicate of #19422

[2020-11-12 13:31] #17126 closed

[2020-11-12 13:44] oliviertassinari commented on #16756
Duplicate of #17370

[2020-11-12 13:44] #16756 closed

[2020-11-12 13:51] BinitaBharati commented on #14184
@oliviertassinari - Thanks for the sample code. It works!

[2020-11-12 13:55] oliviertassinari commented on #16316
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package. We are replacing the withStyles & makeStyles APIs with the `styled()` one. It's no longer possible to create multiple style rule, instead, developers can use nested CSS selectors.

[2020-11-12 13:58] #23232 closed

[2020-11-12 14:02] oliviertassinari commented on #16113
This issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.
It wraps emotion by default https://emotion.sh/docs/styled#targeting-another-emotion-component and has an adapter for styled-components: https://styled-components.com/docs/advanced#referring-to-other-components.

[2020-11-12 14:04] oliviertassinari commented on #16111
Duplicate of #17370

[2020-11-12 14:04] #16111 closed

[2020-11-12 14:06] oliviertassinari commented on #17370
It's also worth mentioning that we have recently invested time in improving our benchmark test to help us move in the right direction: https://github.com/mui-org/material-ui/tree/next/benchmark.

[2020-11-12 14:07] oliviertassinari commented on #15777
We have solved this problem with the `createStyles` helper: https://material-ui.com/guides/typescript/#using-createstyles-to-defeat-type-widening

[2020-11-12 14:07] #15777 closed

[2020-11-12 14:16] oliviertassinari commented on #17158
It seems to be solved in v5-alpha.

[code]

https://codesandbox.io/s/inspiring-gagarin-cmuo7?file=/src/App.tsx:0-525

[2020-11-12 14:16] #17158 closed

[2020-11-12 14:21] oliviertassinari commented on #15529
This issue is being resolved in v5 thanks to #22342, the generated classes don't leverage the display name of the underlying component.

[2020-11-12 14:21] #15529 closed

[2020-11-12 14:26] oliviertassinari commented on #15511
These issues should have been solved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package. You can play with it at: https://codesandbox.io/s/bold-goodall-2iltv?file=/src/App.tsx. By default, it wraps emotion.

[2020-11-12 14:30] oliviertassinari commented on #15614
Duplicate of #21318

[2020-11-12 14:30] #15614 closed

[2020-11-12 14:32] oliviertassinari commented on #16646
Duplicate of #16316

[2020-11-12 14:34] oliviertassinari commented on #11517
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package. The new approach is to provide an array to merge the styles:

[code]

It deep merges the styles: https://codesandbox.io/s/still-butterfly-11ury?file=/src/App.tsx:0-359.

[2020-11-12 14:43] oliviertassinari commented on #17234
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package. You can verify it on https://codesandbox.io/s/material-styles-component-prop-demo-forked-gjngz?file=/demo.tsx

[2020-11-12 14:52] oliviertassinari commented on #17973
An update, with #22342 and the new `@material-ui/styled-engine` package, the `classes` API is no longer an important member of the styling API. I believe we won't need to resolve the issue. The alternative is to inject components that are already styled or to use global CSS selectors, which the `classes` pattern can still be used for, it's user-land.

[2020-11-12 15:09] orest22 opened #23489 "[Modal] RTL - Scrollbar and padding issue"
The issue is about padding being added to the right side of the body instead left side for RTL.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When modal opens in RTL (direction="rtl") there is visible content shift. It's not hap

[2020-11-12 15:12] PetrShchukin opened #23490 "Css selector selects all components instead of one level children"
Css selector (&) selects all components instead of one level children. When I use
`  container: {
    '& div': {
      backgroundColor: 'red',
    },
  },
`
I expect that only one level children get backgroundColor: red.

- [ X ] The issue is present in the latest release.
- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this i

[2020-11-12 15:13] orest22 commented on #23489
I understand that it's related to the v4 but I think the issue will still exist in v5. Any workaround is welcome! Thanks!

[2020-11-12 15:15] oliviertassinari commented on #23489
Could you test it on v5? Also, did you look into what's wrong? RTL is 2% of the usage of the library, it's not a high priority for us.

[2020-11-12 15:16] #23490 closed

[2020-11-12 15:17] oliviertassinari commented on #23490
It's by design, it's how CSS selectors work. Use `>`.

[2020-11-12 15:27] orest22 commented on #23489
@oliviertassinari Hey, thanks for the quick reply, Issue is here https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Modal/ModalManager.ts#L61.

Padding can be determined based on dir attr of the body?

I will try v5 but as I mentioned there is some issue with codesandbox template.
Also, I will be interested in fixing this issue if there is no workaround.  I have also tried t

[2020-11-12 16:37] oliviertassinari commented on #23489
I can't reproduce the issue you are referring to. Do you have an illustration?

[2020-11-12 17:10] orest22 commented on #23489
1. Initial state
<img width="1134" alt="Screen Shot 2020-11-12 at 12 02 11 PM" src="https://user-images.githubusercontent.com/1497502/98971439-27dc7b80-24df-11eb-821f-03d3680ff259.png">

2. Opened
<img width="1120" alt="Screen Shot 2020-11-12 at 12 02 44 PM" src="https://user-images.githubusercontent.com/1497502/98971469-2f9c2000-24df-11eb-96ef-6fe13a15b48c.png">

3. You can notice RTL scroll bar

[2020-11-12 17:44] fzaninotto commented on #17973
thanks for the update Olivier.

Could you elaborate?

[2020-11-12 17:52] oliviertassinari commented on #17973
@fzaninotto effectively, using the same API as the core components. if you take https://next.material-ui.com/components/slider-styled. You have two options, the `components` prop, or the global class names.

[2020-11-12 18:01] oliviertassinari commented on #23489
I see, your scrollbar is in the **opposite** side (at the end). Is this the most common behavior? I guess I would need to change my whole OS language to see this.

[2020-11-12 18:11] fzaninotto commented on #17973
So you mean the normal API for overriding styles of internal classes would be something like:

[code]

Seems pretty reasonable to me.

[2020-11-12 18:20] oliviertassinari commented on #17973
Yes, and we are discussing in https://github.com/mui-org/material-ui/issues/22342#issuecomment-702123299 the need for using constants to increase type safety.

While I'm at it, I can run a quick survey:
1. Do you need the `classes` API to say on the core components in v5? (e.g. for migration purses?)
2. Do you see cases where you could leverage the unstyled components?
3. We plan to introduce a se

[2020-11-12 19:01] kevinlul opened #23492 "[styles] ESLint plugin to catch unused styles"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

For react-with-styles, there's an ESLint [plugin](https://github.com/airbnb/eslint-plugin-react-with-styles) to find unused styles and warn. That CSS-in-JS module has a pretty similar syntax to mui makeStyles, however, the plugin doesn't work

[2020-11-12 19:04] oliviertassinari commented on #23363
Another bug the proposed changes in https://github.com/mui-org/material-ui/issues/23363#issuecomment-720091272 fixes (the first one is the margin-top that depends on the screen width). See the **actual** look of the tooltip on an iPad when open programmatically:

<img width="548" alt="Capture d’écran 2020-11-12 à 20 01 01" src="https://user-images.githubusercontent.com/3165635/98984030-ecaf6c00-

[2020-11-12 19:21] oliviertassinari commented on #23492
Did you see #23473?

[2020-11-12 19:43] kevinlul commented on #23492
I missed that in my search. It seems promising but how can I test a version of a module in a pull request and help out?

[2020-11-12 20:37] orest22 commented on #23489
Looks like chrome flips the main scroll only when the OS language is different or something like that. But other scrolls are flipped properly. That what I see based on codesandbox if it's in the project view scroll bar is on the left because the preview is an iframe. But if you open the project in a new window scrollbar is on the right.

[2020-11-12 20:39] Mangatt opened #23493 "Disabled Button focus within Portal"
When is disabled `Button` placed within Portal, parent outside Portal does not receive `focus` properly.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When you click on normally placed `Button`, parent receives focus correctly e

[2020-11-12 20:50] oliviertassinari commented on #23493
Why is this not an issue with React?

[2020-11-12 20:51] dayhurlbut opened #23494 "Tooltips don't work on mobile views"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When on a mobile device (or even a browser in mobile view) tooltips don't appear.
Started happening after going from material-ui/core 4.8.3 -> 4.11.0

## Expected Behavior 🤔

When cli

[2020-11-12 20:51] CareerFairPlus commented on #23289
+1 for adding this support to v4.  We're in need of the latest icon support in v4.  When implementing or upgrading, we're not going to use an alpha release of v5 in our production environment.  We have a need for the Material "groups," "content_copy," as well as others.  To bridge the gap, we're manually pulling the SVG and creating custom components, but that's going to quickly become some expens

[2020-11-12 20:54] #23494 closed

[2020-11-12 20:59] Mangatt commented on #23493
@oliviertassinari Because it is Material UI problem, see updated demo with regular buttons:
https://codesandbox.io/s/material-ui-issue-forked-eu17z?file=/src/Demo.js

When parent has focus and you click on normal disabled button, nothing happens. When MUI `Button` is clicked, focus is lost.

[2020-11-12 21:16] eps1lon commented on #23493
This happens because we disable `pointer-events` when the button is disabled. I'm currently working on removing that behavior but it requires some more work. You can follow https://github.com/mui-org/material-ui/pull/23101

[2020-11-12 21:19] oliviertassinari commented on #23493
I think that we can close, it's an edge case. It has to do with the nested `span`.

[2020-11-12 21:23] Mangatt commented on #23493
Is there a workaround then? Because that way we can't use any MUI Button-based component at all.

[2020-11-12 21:30] eps1lon commented on #23493
That's definitely odd behavior but since click-focus is not specified and up to the user-agent not very surprising. The inner span is on the chopping block for v5 anyway but we'll need to investigate it first. Alternatively we can work around it with pointerdown events.

[2020-11-12 21:34] eps1lon commented on #23493
[code]
-- https://codesandbox.io/s/material-ui-issue-forked-ybvw2?file=/src/Demo.js:141-535

[2020-11-12 22:22] Mangatt commented on #23493
@eps1lon Thanks, but this is solution just for `Button` alone, not for every other `Button` based components. I'll have something more generic in mind, hopefully it will work.

[2020-11-12 22:37] Mangatt commented on #23493
Ok, just for reference, when any parent element of `Button` inside portal is able to receive focus, everything works fine:

https://codesandbox.io/s/material-ui-issue-forked-mzj74?file=/src/Demo.js

For time being we will use this workaround, it is probably most universal, even though still not entirely optimal.

[2020-11-12 22:51] Mangatt opened #23495 "Code Sandbox issue template is not working"
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Error is shown.

## Expected Behavior 🤔

Demo should work.

## Steps to Reproduce 🕹

Steps:

1. Open https://material-ui.com/r/issue-template

## Context 🔦

Well...

## Your E

[2020-11-12 23:27] mnajdova commented on #23495
Thanks for reporting. Will be solved with https://github.com/mui-org/material-ui/pull/23007

[2020-11-13 03:21] cbravo opened #23496 "[system] transform and themeKey do not work together when using style from material-ui/system"
Using the material-ui system function 'style'  does not work properly when used with theme and styled-components.

[code]

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

This is addressed in a closed PR (stale) that was never merged https://github.com

[2020-11-13 08:18] eps1lon commented on #23363
I've tested this. The margin change is way too small to make any difference. This spec sounds like it wasn't derived from actual user testing but purely theoretical conjecture.

[2020-11-13 08:39] oliviertassinari commented on #23363
I almost agree. I have smaller than average fingers for a man, closer to what you could expect for an average woman. For me, it's almost OK but the margin could be increased. Google's Android applications have a wider gap. It seems that Flutter has the same issue https://github.com/flutter/flutter/issues/25478.

[2020-11-13 08:47] matteo1976 opened #23497 "With Menu component the background sometimes is scrollable in IPhone IPad and should not"
Normally if you use the Menu component, the page in the background should not be scrollable anymore, in the desktop app it works correctly but in IPad and iPhone not. If you scroll a bit the page before open the menu, the page remains scrollable and the menu remains fixed until the menu will be fixed in a position and the page is not scrollable anymore.
The behavior is abnormal and has no logic, I

[2020-11-13 08:56] oliviertassinari commented on #23497
Duplicate of #5750

[2020-11-13 08:56] #23497 closed

[2020-11-13 10:14] appukuttan-shailesh opened #23499 "[TextField] label shows even when other components rendered on top of it"
I will try to exlain the problem with the below screenshot:
![Peek 2020-11-13 10-38](https://user-images.githubusercontent.com/24866517/99057889-afd48b00-259c-11eb-8257-433ccbb0b0c0.gif)

Above, I have a Material-UI `TextField` with label = 'Description'. There is also some text ("Provide the abstract of your manuscript / paper:") just above this. I have a sticky footer on my page (the yellow bar

[2020-11-13 10:20] oliviertassinari commented on #23499
You need to set a z-index on the overlay. The z-index is required to be visible when the browser's password.

[2020-11-13 10:20] #23499 closed

[2020-11-13 11:01] oliviertassinari commented on #23496
@cbravo Thanks for opening this issue, it's an interesting one. I'm doing a **digression**. We have recently revamped the documentation of the system in #23294. See [before](https://deploy-preview-23293--material-ui.netlify.app/system/basics/) vs. [after](https://deploy-preview-23294--material-ui.netlify.app/system/basics/). In this move, we have put a lot of emphasis on the `sx` as it seemed to b

[2020-11-13 11:58] mnajdova commented on #23496
We can definitely add advanced section for going into details of how developers can extend these style functions. Will look into this particular issue when I will be working on it 👍

[2020-11-13 14:59] romainquellec commented on #21113
I'm pretty sure there is a lot of good themes out-there (or custom components on storybook at least) !
Can't wait to see them here !

[2020-11-13 16:05] cbravo commented on #23496
I will describe my exact use case in more detail:

We have a two column layout that we use many repeated times on our website.  Copy on the left or right with an image or video component on the other side for example.  We were at first using a Grid but grid does not allow for a responsive spacing prop so I was hoping to use this functionality to create a component that would take `spacing={{xs:4,

[2020-11-13 16:16] Billy- commented on #12704
`Box` approach doesn't work if the variant is`h*` as `fontWeight` is already applied.

From my POV as a user, I don't really want to `useStyles` or do any "custom" styles unless it's going outside of MUI's design system - that's half the idea of using MUI.

And it definitely seems like making typography bold is a very fundamental part of a UI library..

Just my 2c as the user though!

Can you expa

[2020-11-13 16:36] fatso83 opened #23502 "Why use the library when you not interested in Material Design?"
It is mentioned as a oneliner here and there that Material UI can be used to build your own design system. I think this deserves a few pointers for the people who are wondering what Material UI brings to the table if you are not really interested in using Material Design. If at all! Maybe you guys think it best to start from scratch in that case?

- [x] I have searched the [issues](https://github.

[2020-11-13 17:27] f1nan commented on #22648
I really like this to be implemented. What is the status? Is anyone still working on this?

[2020-11-13 17:48] eps1lon commented on #22470
The only feature that we can meaningful implement is responsiveness considering we have breakpoints in the theme. All the other features are better suited for meta-frameworks.

[2020-11-13 18:44] oliviertassinari commented on #22648
@f1nan You are good to go to experiment with it.

[2020-11-13 18:46] oliviertassinari commented on #23496
@cbravo It sounds like you are looking for a Stack component: #18158.

[2020-11-13 18:59] oliviertassinari commented on #23496
@cbravo Yes and we plan to make all the Grid props responsive too: #6140. The recent changes we have done around `@material-ui/styled-engine` unlocks this API :)

[2020-11-13 19:01] oliviertassinari commented on #23496
@mnajdova The issue is all yours, I don't know what the next step should be, it could closing, updating the docs, etc.

[2020-11-13 19:02] cbravo commented on #23496
I have looked at the upcoming roadmap you guys have... I am SO excited for what you have planned! there are so many good things are coming.  I am not sure where this leaves me in the mean time... for now I think I will have to find some work arounds until these new things get released. I hope you can take this comment as encouragement and to keep your motivation high!

[2020-11-13 19:14] sterlingwalsh opened #23505 "rowGap property in makeStyles does not properly append 'px' when using theme.spacing"
When using the css grid related property 'rowGap' in makeStyles the 'px' is not appended to the number output from theme.spacing(number) as it is with other properties.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

No other related issues with 'rowGap

[2020-11-13 19:19] oliviertassinari commented on #23505
@sterlingwalsh We have fixed it in v5 by forcing the spacing method to return the unit: https://codesandbox.io/s/zen-water-41gxp.

[2020-11-13 19:19] #23505 closed

[2020-11-13 19:22] oliviertassinari commented on #23505
Also, you might want to notify JSS about is so it can be fixed in it directly: https://github.com/cssinjs/jss/blob/master/packages/jss-plugin-default-unit/src/defaultUnits.js#L160.

[2020-11-13 19:39] oliviertassinari commented on #23502
I would personally never start from scratch.

A quick simplification of the value proposition

### v4

- Start from a word-class design system
- Customize Material Design to match your use cases

### v5

In the version we are actively working on, we try to provide better answers to the above:

1. Unstyled components: #6218. Our progress so far: https://next.material-ui.com/components/slider-styled

[2020-11-13 19:58] mbrookes commented on #22426
https://www.elevatormag.com/

- Company or organization: Elevator
- Link: https://www.elevatormag.com/
- Screenshot:
![image](https://user-images.githubusercontent.com/357702/99115562-83dff680-25ea-11eb-9a95-0dd9a45edb1f.png)

[2020-11-13 20:02] CodySchaaf opened #23506 "[Slider] Component doesn't work on touch+AT devices"
Similar to this issue https://github.com/material-components/material-components-web-components/issues/1285

You can see this broken behavior on any of the sliders here https://material-ui.com/components/slider/#slider by visiting them with a mobile device while voice over is enabled.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/m

[2020-11-13 20:03] oliviertassinari commented on #22470
Which comes with a drawback: portability. What works in Next.js doesn't in Gatsby or CRA.

[2020-11-13 20:46] oliviertassinari commented on #23506
Interesting. The option to use a native slider was ignored to make customizations easier. But we could still imagine an approach similar to the rating. Use the native slider, but "hidden". In any case, this could require a couple of days of work. Would you be interested in working on it?

[2020-11-13 20:55] CodySchaaf commented on #23506
Yeah I would. The code pen here https://codepen.io/patrickhlauke/pen/byWPMX seems to capture the best of both worlds, although I'm a little concerned about how to support the Multi-Thumb version, which I see you just linked, so probably thinking the same thing. I wonder if you could use multiple hidden `<input type="range">`, one for each Thumb?

[2020-11-13 20:57] oliviertassinari commented on #23506
I have seen this pattern used in the past during a benchmark. However, I can't remember where 😔.

[2020-11-13 21:13] brunosousadev opened #23508 "Outdated Documentation"
In the documentation there is the GridList component where it is no longer in the core of the lib and in the documentation as can be seen in the [link](https://material-ui.com/pt/components/grid-list/) it still exists to be able to be used.

We are using version v4.11.0 and in the [issue](https://github.com/mui-org/material-ui/issues/22074#issue-673426872) already informs that it is depreciated im

[2020-11-13 21:18] tarwich commented on #16704
I hope this doesn't just add noise, but I arrived here from specific use case which I'd like to share in case it helps.

When I have a page with 1000 items on it, and I'm in the browser developer tools, I'd like to make an adjustment to a single class and see them all update. Sometimes this is my flow for testing out padding or sizing in odd lists. I aware that I can write `styled('div')` or `make

[2020-11-13 21:22] oliviertassinari commented on #16704
@tarwich Would it cut it?

[code]

[2020-11-13 21:26] oliviertassinari commented on #23508
@brunosousadev I don't understand. What's the problem?

[2020-11-13 21:51] snodgrass23 commented on #20173
running into this same issue. Looking at the source there doesn't appear to be a way to to override that `handleListKeyDown` behavior, so it looks like we'll need to switch to a different component.

[2020-11-13 22:34] gregnb commented on #22956
Is there any thread you can point me to that highlights this change? bug ticket? would be helpful for my own tracking purposes.

i am also facing this issue you describe in the thread whether it's W3C's example or MUI's autocomplete. For my own project I'm leveraging react-select and seeing the same issues with that.

[2020-11-13 22:35] tarwich commented on #16704
I like that thought, @oliviertassinari and I didn't know you could even do that. I'm not sure it will work precisely for my situation. I've ported a real example to CodeSandbox to demonstrate the issue.

1. Each grid box has a separate class, so if I wanted to mess around with font size or borders, for example, I can't use a single class to do it.
2. Every time you type in the filter box, it gener

[2020-11-13 23:17] mbrookes commented on #16704
@tarwich Off topic, but mind if I ask what you're working on? Looks intriguing. 🙂

[2020-11-13 23:45] tarwich commented on #16704
### What are we doing with the colors?

That's part of a "Kitchen Sink" inspired by [Semantic UI's Kitchen Sink](https://semantic-ui.com/kitchen-sink.html). Most of the components that make up our app have a demo section on our kitchen sink page so that new developers can easily see what to use and how to implement it. It also helps when developing new components as it has some minor [Storybook](h

[2020-11-14 00:49] mbrookes commented on #16704
@tarwich I'm so glad I asked! Thank you for sharing your experience in such detail.

[2020-11-14 08:17] smmoosavi commented on #22342
the `fast-refresh` is enabled by default in [create-react-app v4][v4]. should we add fast-refresh support as a new requirement?

[v4]: https://github.com/facebook/create-react-app/releases/tag/v4.0.0

[2020-11-14 08:27] Jack-Works commented on #22342
Trying this out with gatsby. When I do `import { Link } from '@material-ui/core'` I got:

[code]

When changed to `import Link from '@material-ui/core/Link'` problem gone.

If I install `@emotion/styled @emotion/core` I got:

Then I install `@emotion/react`.

A runtime error comes in.

[code]

Involved package versions:

[code]

[2020-11-14 08:34] Andarist commented on #22342
Install v10 versions of Emotion packages

[2020-11-14 09:29] Jack-Works commented on #22342
Oh 11 is the "latest" version now so I think mui need to upgrade or document that

[2020-11-14 09:32] #23486 closed

[2020-11-14 09:47] #23495 closed

[2020-11-14 11:06] eps1lon commented on #22342
We have it documented via version ranges in `peerDependencies`. We didn't mention it explicitly in the install instructions since we plan to update it to v11 soon.

Friendly reminder that this is an alpha and emotion 11 just a few days old. As an early adopter you should expect some rough edges.

[2020-11-14 18:46] farcaller commented on #19313
The question seems to still be relevant. I couldn't find any good answer yet (whilst I was able to quickly find this closed issue), so here's the SO thread for the people following suit: https://stackoverflow.com/questions/64837384/how-do-i-use-the-speeddial-to-upload-a-file

[2020-11-14 19:39] burtonator opened #23519 "Support for a 'true black' mode"
MUI has a great dark mode but for mobile devices that support AMOLED a real true black mode is going to be needed.

True black is basically #000000 for the background so that there is no light coming from those pixels on amoled... the backlighting is essentially off.

Text is much more readable on ipad , android, etc.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issue

[2020-11-14 19:53] oliviertassinari commented on #23519
The recommended colors are documented in https://material.io/design/color/dark-theme.html#ui-application. We still need to improve the dark theme with #18378, #18308, #18309, #22112.

[2020-11-14 20:43] mbrookes opened #23520 "[CssBaseline] Persistent scrollbar in dark mode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/357702/99156549-89584200-26b9-11eb-960e-f86f3eb43fbb.png)

## Expected Behavior 🤔

![image](https://user-images.githubusercontent.co

[2020-11-14 20:45] mbrookes commented on #23520
Related? https://github.com/mui-org/material-ui/pull/23407

[2020-11-14 20:49] oliviertassinari commented on #23520
Interesting. In my configuration of macOS, I force the scrollbar, so I couldn't see this change of behavior.

[2020-11-14 21:07] oliviertassinari commented on #23520
@eps1lon I start to think that https://github.com/mui-org/material-ui-x/issues/510 could be interesting. YouTube, Facebook, Gmail are using custom scrollbars. This is a strong signal.

[2020-11-14 22:35] dkarnutsch opened #23521 "[DatePicker] Display week numbers"
I would like to have the possibility to display week numbers in the picker. Maybe as the first column before the first day of the week. Something like this would fit my needs:

<img width="278" alt="Capture d’écran 2020-04-12 à 22 24 36" src="https://user-images.githubusercontent.com/3165635/79078971-696c3480-7d0c-11ea-8610-487b2a797d02.png">

https://jqueryui.com/datepicker/#show-week

<img wid

[2020-11-14 22:49] efoken commented on #23520
Having the same issue 😕 As soon as the scrollbars are styled with CSS, they are always visible on macOS, so I think this styling should be optional

[2020-11-14 23:04] bentaylorhk opened #23524 "[DatePicker] Allow to customize the rendered month"
Is there any possibility of an implementation of a renderMonth function? This would work very similarly to how the `renderDay` function works, although allowing custom rendering for different selected months.

<img width="364" alt="Capture d’écran 2020-11-15 à 00 02 13" src="https://user-images.githubusercontent.com/3165635/99158695-dc3ff280-26d5-11eb-842b-bb2baa01f740.png">

https://next.materi

[2020-11-14 23:15] wscourge opened #23525 "[DatePicker] Disabled month is selected by default"
## Steps to reproduce

It is important to understand, that at the time of writing it's July 2019.

1. Create picker with:
[code]
2. Open the picker and select next year
3. Selected month is `July`, althought it is disabled

## Expected behavior

No month should be selected - guess that's going to be hard, as it is not valid date due to moment deprecation warning.

An acceptable solution would be t

[2020-11-14 23:36] oliviertassinari commented on #23526
I found this by chance:

<img width="181" alt="Capture d’écran 2020-11-15 à 00 33 38" src="https://user-images.githubusercontent.com/3165635/99159144-422e7900-26da-11eb-98a0-2b6e3d90bcd6.png">

I don't understand how this could have landed in the first place. Here is a fix:

[code]

For Safari 12.1, we could ignore it. @knightss27 Do you want to work on a pull request? :)

[2020-11-14 23:59] nainardev opened #23528 "New time-picker"
## Current one

<img width="400" src="https://user-images.githubusercontent.com/59839368/95446377-d68c1a00-097d-11eb-9670-1b0446736df4.jpg" />

## New Material Design Spec:
Two modes - `select` & `enter`

Potrait mode:
![](https://lh3.googleusercontent.com/UkK_zGA7g_7rPsBFg_bXZMihxH33Dnaiw3DCVw7fLSkimv4mUzruVTA6qgciQK_0DgecFGi4Y918bE0zASce_kyp2tXqazwIuQ29=w1064-v0)

Landscape mode:
![](https://lh3

[2020-11-14 23:59] oliviertassinari commented on #23527
I'm impacted too by this problem on recent, regular size phone. We could probably follow the lead of Google on this one (Google Calendar, Gmail) and ignore the specification. The Clock is 218px on real usage, instead of 256px for the spect and 260px for the current implementation, much better 👌

![Screenshot_2020-11-15-00-46-59-316_com google android gm](https://user-images.githubusercontent.com/3

[2020-11-15 00:20] oliviertassinari opened #23529 "[RFC] Component namespace"
During the last meeting on the date picker components between me and @dmtrKovalenko, we have started a discussion around the component namespace, at the Material-UI scale.

The discussion has started from the requirement to use `withStyles` over `makeStyles` in order to benefit from https://material-ui.com/customization/globals/#default-props, which the components here don't use yet (IMHO we shoul

[2020-11-15 00:20] #23529 closed

[2020-11-15 00:22] oliviertassinari opened #23531 "[DatePicker] Improve runtime"
Opening the date picker on desktop and mobile have a perceptible delay, it's even more noticeable with the range picker. As a UI library, we have a 100ms delay budget before the users start to notice.

- https://developers.google.com/web/fundamentals/performance/rail

- https://www.nngroup.com/articles/response-times-3-important-limits/

---

For instance, using the desktop version as a baseline:

[2020-11-15 02:36] ericettensohn commented on #8581
You saved me Jacob, thank you

[2020-11-15 09:21] #23508 closed

[2020-11-15 09:22] #23502 closed

[2020-11-15 11:38] rajzik commented on #17493
Can we introduce error state for button as well?

[2020-11-15 13:13] radzk opened #23558 "[Select] Null value not working"
https://material-ui.com/api/select/
The docs says that you cannot use empty string value for **value** field. As long as this is eventually acceptable, there is an issue, because for some reason **null** value also does not work. These both totally break my communication with backend service, because it seems I'll have to find and replace the values before saving (I do want to save null).
If I cha

[2020-11-15 13:42] numToStr opened #23559 "[lab] TypeScript types missing"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Typescript types missing for Date/Time pickers and LocalizationProvider.

![image](https://user-images.githubusercontent.com/24727447/99186379-e3b6d880-2775-11eb-9dfb-f1793c9b6675.png)

[2020-11-15 14:07] oliviertassinari commented on #23559
@numToStr Thanks for the report, it looks like I forgot to add the build command 😆. It's done correctly in the core package.
[code]

[2020-11-15 14:47] oliviertassinari commented on #23558
@radzk the value can't be `null`, check the warning in the console. Regarding the usage of an empty string, this is valid. Looking at the description, on part is outdated, we can apply the following change:

[code]

[2020-11-15 19:10] burtonator commented on #23519
@oliviertassinari Can I suggest reopening this? I think there's a misunderstanding of the request.

What I'm suggesting is to ship with a 3rd palette which is 'black' mode which is just a new palette based on 'dark'.

This can be done by adjusting all the colors and then shifting down everything so that the contrast isn't too extreme.

I might even be able to do it via code ...

The bugs you liste

[2020-11-15 19:26] oliviertassinari commented on #23519
@burtonator What do you think about we first iterate with theme object developers can copy & paste from this thread? Did you look into the changes required? It would be perfect to share the solution here, then if we get more requests, we can move it to the sources.

[2020-11-15 19:32] oliviertassinari commented on #16947
This issue is being resolved in v5. We have migrated the slider to the new approach: https://next.material-ui.com/components/slider-styled/. We use the `sx` prop anytime simple CSS are necessary then use the `styled` API for more heavy customizations.

[2020-11-15 19:40] oliviertassinari commented on #23519
I have linked this issue in #22485:

<img width="412" alt="Capture d’écran 2020-11-15 à 20 38 37" src="https://user-images.githubusercontent.com/3165635/99194867-9725ca00-2782-11eb-81d6-07c3214e89ab.png">

by "second theme" I have meanr something that requires 3 months of work, starting from the unstyled components, not small tweaks that take 1 day :)

[2020-11-15 23:24] #23559 closed

[2020-11-16 01:31] burtonator commented on #23519
@oliviertassinari we might build this on our end as a 'black' mode just by changing the color scheme a bit. I think it's just / mostly about shifting everything down.  The one hack *might* be the default app bar color but I think MUI v5 could fix it and make it easy since there's a more proper impl of elevations there.

If you keep this open I'll update it with the color codes and a screenshot onc

[2020-11-16 03:01] thomasuster commented on #10251
FWIW, if you're having trouble formatting a plain old date to the material date input. Try...

`date.toISOString().substring(0,10);`

[2020-11-16 03:16] peterlu-hinter commented on #17353
The whole  Modal -> Popover -> Menu -> Select   approach is a mistake.  Select shouldn't be a modal. Please check Microsoft Fluent UI  https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown
I really don't like everything is based on Modal and the hack to body overflow:hidden or padding-right. It is a patch on top another patch. Guys, can we properly implement this basic component "s

[2020-11-16 06:33] numToStr opened #23562 "[lab] Unexpected token 'export'"
## Current Behavior 😯

Getting these error

[code]
## Expected Behavior 🤔

No error.

## Steps to Reproduce 🕹

Just use these import in a Nextjs project.

[code]

## Context 🔦

Trying to migrate from `@material-ui/pickers`

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v5-alpha.16  |
| React       |    v17     |
| Browser     |     Chrome v86    |
| Typ

[2020-11-16 07:09] knightss27 commented on #23526
Sure, I can submit one with those changes.

[2020-11-16 07:34] TomPradat commented on #17353
Just in case this helps, in my team we've fixed this by adding the following css :

[code]

See https://github.com/mui-org/material-ui/issues/19984

[2020-11-16 07:58] montelius commented on #23533
@oliviertassinari  What's the status of this issue, have you agreed that it shouldn't be default to include helperText? In that case, can I work on a pull request? :)

[2020-11-16 09:58] oliviertassinari commented on #23533
@montelius The proposed direction is:

- Change the default, remove the helper text, optimize for higher density
- Add a section in the documentation for implementing the current default

How does it sound?

[2020-11-16 10:03] qhxin commented on #21528
is there any code example to fix this issue? upgrade @material/ui to v5 or other way?

[2020-11-16 10:03] oliviertassinari commented on #23519
@burtonator This sounds great, please share the solution here once you have something that works well in your use case :).
@joshwooding has started to work on the elevation at #21748.

[2020-11-16 10:11] oliviertassinari commented on #21528
@qhxin You can use the new `styled()` method:

[code]

It wraps emotion.

[2020-11-16 10:18] montelius commented on #23533
@oliviertassinari Sounds good! I'll look into it.

[2020-11-16 10:19] qhxin commented on #21528
so, it will be a styled-component ---- not a react hook?

[2020-11-16 10:37] oliviertassinari commented on #21528
@qhxin Yes, so far the plan is to remove the makeStyles and withStyles API **progressively**.

[2020-11-16 10:42] qhxin commented on #21528
ohhh, it will cause many extra working

[2020-11-16 14:45] snodgrass23 commented on #20173
It would be pretty easy for the library to simply add something like a boolean prop to disable this capturing of the tab key. Our issue is that it breaks a form's accessibility when using this menu component to open the form. Is there any chance of this being added?

[2020-11-16 15:14] #23526 closed

[2020-11-16 15:56] anthonyferreol commented on #23290
Still not working for me today, having the same issues as described. Does that mean we will have to wait for V5 to work with the latest babel version??

[2020-11-16 16:18] #23562 closed

[2020-11-16 16:18] eps1lon commented on #23562
Will be fixed in the next release with

[code]

[2020-11-16 16:37] snodgrass23 commented on #20173
Here is a simple commit that should handle it. I need to do some local testing and go over the contribution guidelines and I can open the request.
https://github.com/mui-org/material-ui/compare/master...snodgrass23:snodgrass23/remove-tab-capture-from-menu?expand=1

[2020-11-16 18:26] gilmarsquinelato commented on #22342
Hello everyone, I'm new here, and I was looking at material-ui css solutions and came at this issue.
Just giving my 2 cents on this, I'd like to suggest Linaria https://github.com/callstack/linaria.
It's a zero runtime library, with css extraction and CSS variables as React props.

Hope this helps on this RFC 😄 .

[2020-11-16 18:37] temurih opened #23572 "[Autocomplete] candidate.toLowerCase is not a function"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`candidate.toLowerCase is not a function`

![image](https://user-images.githubusercontent.com/3893769/99293742-46ed4d00-2800-11eb-95d7-65088f772e3b.png)

## Expected Behavior 🤔

It sh

[2020-11-16 18:38] oliviertassinari commented on #23572
tip: the warnings in the console.

[2020-11-16 18:40] temurih commented on #23572
@oliviertassinari first of all that is not a warning, runtime error, secondly where exactly it is?

[2020-11-16 18:51] temurih commented on #23572
@oliviertassinari Should have just said, use `getOptionLabel` if you are passing an object.

[2020-11-16 19:07] radzk commented on #23558
@oliviertassinari I'm not sure about this removed line, I don't think it has anything to do with my problem.

I'm referring more to the next line: "Set to an empty string `''` if you don't want any of the available options to be selected."

Anyway I found a workaround for my case for now, just switching null to 'all' and vice-versa, like below..
Thanks for your time!

[code]

[2020-11-17 02:28] FrozenIce0617 opened #23573 "How to build time duration input component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
I have to build a custom component like this one below.
![image](https://user-images.githubusercontent.com/50294169/99338623-76419f80-287c-11eb-9024-053a35fd2fac.png)

Any help would be appreciated.

[2020-11-17 07:21] Sandeep0695 commented on #23291
hi sir @oliviertassinari any chance to merge mentioned component ?

[2020-11-17 07:30] povilass opened #23574 "[Lab] Missing Lab types in themeAugmentation/props.d.ts"
MIssing typescript types:

[code]

| Tech        | Version |
| ----------- | ------- |
| Material-UI Pickers | v5.0.0-alpha.16  |
| TypeScript  | 4.05 |

[2020-11-17 08:55] #23573 closed

[2020-11-17 09:00] eps1lon commented on #23574
Thanks for the report. This will be fixed in the next release.

Duplicate of #23559

[2020-11-17 09:00] #23574 closed

[2020-11-17 09:34] doorman02 opened #23575 "Display context menu while typing into textfield"
I am trying to implement a context menu that should be displayed while the user is typing into a textfield using the [MaterialUI context menu](https://material-ui.com/components/menus/). The idea is to display suggestions in the context menu based on the currently typed in word in the textfield. So the context menu would be shown next to the caret input and should not disturb the user from continu

[2020-11-17 10:16] #23575 closed

[2020-11-17 10:38] mnajdova opened #23577 "[docs] Running docs:api on windows causes differences on new lines"
When running `yarn docs:api` on Windows there are differences in the generated `docs/pages/api-docs/*.json` files regarding new lines: Example:

[code]

## Current Behavior 😯

Around 30+ files are affected.

## Expected Behavior 🤔

No changes should be generated if there is no code change.

## Steps to Reproduce 🕹

Run `yarn docs:api` on current `next` on Windows.

[2020-11-17 10:55] alippai opened #23578 "*.d.ts files are missing for the new Date* lab components"
The files are needed for simple usage in TypeScript

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

No *.d.ts files are present in lab/DateRangePicker

## Expected Behavior 🤔

Generated *.d.ts files in lab/DateRangePicker

## Step

[2020-11-17 11:06] eps1lon commented on #23578
Thanks for the report. This will be fixed in the next release.

Duplicate of #23559

[2020-11-17 11:06] #23578 closed

[2020-11-17 11:20] alippai commented on #23578
Thanks!

[2020-11-17 11:53] Jack-Works commented on #21749
Hi, thanks for the cool work!

I also need to add more variants to MUI because our designers want to have more variants. How is it working now?

We're currently on `"@material-ui/core": "5.0.0-alpha.5"` (blocked by `notistack` that broke by a breaking change in alpha 6) but if the newer `alpha` allows us to customize in an easier way I'd like to upgrade. Also, is there a recommended pattern of ext

[2020-11-17 11:55] oliviertassinari commented on #23575
@doorman02 Tip, check https://material-ui.com/components/autocomplete/ as inspiration.

[2020-11-17 12:10] erdjordje opened #23579 "[DatePicker] Popup can't be closed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Popup stay open when click is happened outside of the popup.
This behavior is only affected on DatePicker when openTo is date and value is null.

## Expected Behavior 🤔

Popup should b

[2020-11-17 12:36] EliasJorgensen commented on #23290
@anthonyferreol Try deleting your lock file and reinstall your projects dependencies. It did the trick for me, for some reason.

[2020-11-17 13:36] malikasinger1 commented on #19953
I have same issue, it always close on click even when I dont want it to be closed

[2020-11-17 14:12] bruno-azzi commented on #12483
hey, is this issue still open for? I would like to work on this.

[2020-11-17 14:22] eric-burel commented on #6711
Hi, I fell into this while trying to add className for testing. Your example show how to apply style but not how to define a `className` for other purposes

[2020-11-17 14:51] hmaddisb opened #23583 "[CONTRIBUTING] Document using codesandbox-ci"
Not long ago I started engaging in contributing to Github projects. This means that I did not have much experience within the subject overall, and not any at all when it comes to how to contribute to Material-UI.

From my experience as a new developer, I have realized that it is quite hard to get a good grip of how projects are organized and work overall. README files often give a general descript

[2020-11-17 15:00] avilabiel commented on #12483
Hey, @bruno-azzi feel free to create the PR. Unfortunately, I didn't have time to accomplish that task. Tks for that help!

[2020-11-17 15:05] MahmoudZakariaMT opened #23584 "[TablePaginationActions] onChange prop is not overridable"
Basically I've this interface from Material-UI docs while implementing CustomTablePaginationAction component
[Material-UI CustomTablePaginationAction][1]
[code]
The thing is if I want to add/modify on `onChangePage` prop like below:

`onChangePage: (event?: React.MouseEvent<HTMLButtonElement> | React.ChangeEvent<unknown>, newPage: number) => void;`

It gets me an error, like I can't modify/overrid

[2020-11-17 15:21] cdohotaru opened #23585 "Font weight can't be overwritten for the completed Step Label"
- [ ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Font weight can't be overwritten for the completed Step Label
The font weight defaults to 500

## Expected Behavior 🤔
The font weight is correctly overwritten.

## Steps to Reproduce

[2020-11-17 15:24] malikasinger1 commented on #19953
## Here is the solution I did:

[code]

I just tweaked this code a little bit https://material-ui.com/components/tree-view/#controlled-tree-view
and changed `handleToggle` functions a little bit according to my need,

## Here is what I have achived for my specific usecase:

![ezgif-1-6af846132ea6](https://user-images.githubusercontent.com/14273842/99408758-61175000-2912-11eb-9f94-3d90c2711626.gif)

[2020-11-17 16:19] eps1lon commented on #23584
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-11-17 17:10] oliviertassinari commented on #23584
@MahmoudZakariaMT Also mind that we only provide support on v5.

[2020-11-17 17:41] MahmoudZakariaMT commented on #23584
@oliviertassinari I'm sorry how do you support version that isn't official yet, still Alpha/Not stable and no documentation?
Ok never mind, this bug happens when the version is `5.0.0-alpha.16` and fixed when I switch to `4.11.0` probably because of the new structure.
![image](https://user-images.githubusercontent.com/72206220/99426306-36be9600-2904-11eb-98df-34c39c0bb2ab.png)

Note: in this [Code

[2020-11-17 17:56] #23584 closed

[2020-11-17 17:57] oliviertassinari commented on #23584
@MahmoudZakariaMT v5 is documented at http://next.material-ui.com/. The `onChangePage` is the v4 name for the prop, the name in v5 is `onPageChange`.

[2020-11-17 18:34] mbrookes commented on #23583
Hi @hmaddisb, thanks for raising this concern.

I think some of this is covered already (don't miss https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md, and https://github.com/mui-org/material-ui/blob/next/test/README.md), but I agree - there's a lot of "assumed knowledge" required, particularly around the infrastructure / architecture.

One challenge is that things change over time,

[2020-11-17 21:12] socketpair opened #23589 "Pagination: clicking on disabled arrows autoselects unrelated things"
https://material-ui.com/ru/components/pagination/

Fast clicking on `>` on first line in screenshot autoselects `...` on next line:

![image](https://user-images.githubusercontent.com/1157412/99451108-87091880-2943-11eb-80e1-518f71a9b933.png)

[2020-11-17 21:27] socketpair opened #23590 "Create a new component to render two-column text tables"
I don't know exactly how to name it. It should look like this:

![image](https://user-images.githubusercontent.com/1157412/99451730-760cd700-2944-11eb-8369-f52b22baeeb0.png)

### ### Some more usage examples from our project

![image](https://user-images.githubusercontent.com/1157412/99452163-03502b80-2945-11eb-9f5e-dcc6d4bccda3.png)

### ### and this one (note copying button on the first line)

!

[2020-11-17 23:19] heath-freenome commented on #23290
I tried the `package-lock.json` delete and it didn't help. I can't upgrade to webpack because of this... PLEASE FIX.  I can't believe we have to wait for V5

[2020-11-17 23:32] anthonyferreol commented on #23290
@EliasJorgensen I tried before posting, it is not working

Until the version of Babel core is not bumped in material-ui, I'm doomed with my up to date tech stack 😥

[2020-11-17 23:36] mbrookes commented on #23589
I can reproduce the issue by double clicking on the right chevron on the disabled pagination. It selects the "<" in the next row:

![image](https://user-images.githubusercontent.com/357702/99462860-74cfb000-292c-11eb-8ee8-ca6c28793862.png)

so it seems to be a browser issue. But for your specific case, adding `user-select: none` to the ellipsis should do the trick. Would you like to work on it?

[2020-11-18 02:17] CSG-richard commented on #5711
Unable to add data-* attributes. The added attributes don't show up in the DOM. Is there any workaround for this problem. I am trying to select the DOM elements using data-cy attributes for cypress e2e testing with angular.

<ng-container *ngIf="groupSteps && groupSteps.length > 0 && !smallScreen">
    <mat-horizontal-stepper  [attr.data-cy]="groupSteps.length" style="padding: 15px;" #stepper line

[2020-11-18 05:10] socketpair commented on #23589
I think, it because disable elements do not intercept click / double click

[2020-11-18 05:21] techdev5521 opened #23591 "[Autocomplete] closeIcon prop controls the clearIcon"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The `closeIcon` prop is misnamed and corresponds to the icon for clearing the input.

## Expected Behavior 🤔

The `closeIcon` prop to corresponds to the icon for closing the input.

#

[2020-11-18 05:50] bmakan commented on #14559
This warning is quire misleading. I had to Google why I'm getting it. Maybe if "must" was replaced with "can only".

[2020-11-18 08:04] useit-consulting commented on #22956
@gregnb I've tried to find some concrete info, but so far I only have second-hand and anecdotal information. It was mentioned in a thread in the a11y Slack workspace (https://web-a11y.slack.com/)

I have logged this issue in the WAI-ARIA authoring practices GitHub page. Let's keep track and see what they say about it.
https://github.com/w3c/aria-practices/issues/1619

[2020-11-18 08:19] hmaddisb commented on #23583
@mbrookes Hi!

Yes I agree that some parts that I presented as examples are partly covered, and as you mention it is about the assumed knowledge that introduces difficulties for new developers, which is something that I believe is important to reduce.

Of course having a large project such as this one is hard to completely document, but I believe that the project as a whole follows some "informal

[2020-11-18 09:03] eps1lon commented on #23589
Correct, but only Material-UI Button. We're setting `pointer-event: none` on disabled buttons. But it looks like we no longer need it and can adjust some CSS. This is preferable over overwriting platform behavior since disabling pointer-event has some unforeseen consequences such as this issue.

[2020-11-18 09:07] eps1lon commented on #23591
Thanks for the report.

Confused me as well. I guess `clearIcon` would be more appropriate.

[2020-11-18 09:08] eps1lon commented on #5711
@CSG-richard That doesn't look like React but Angular. This repository is about the React component library.

[2020-11-18 09:52] EliasJorgensen commented on #23290
@anthonyferreol Sorry to hear that. It worked for me.

[2020-11-18 10:07] oliviertassinari commented on #23579
@erdjordje I have noticed it too. The popup UX is completely broken.

[2020-11-18 11:07] pkarauda-lingaro commented on #20388
@oliviertassinari Is this already fixed? I can still see it happening in 4.9.10.

[2020-11-18 11:15] KaushikDev opened #23592 "DialogueContentText does not honor the line breaks of a ES6 javascript Template Literal."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Line breaks are not entertained as in standard javascript template literals.

## Expected Behavior 🤔
If a line break is available in a template literal string, it should be displayed a

[2020-11-18 11:15] Dacker15 opened #23593 "Support for React 17 and Node 15"
When installing `@material-ui/core`, it gives me error. I don't know if this package is compatible with lastest version of React and Node

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Unable to install

## Error Log

`npm ERR! co

[2020-11-18 11:20] justdvl opened #23594 "iOS: The label value in rounded outlined input overlaps the border"
Hello. I have an iOS problem with outlined textfield when I set border-radius to be too high. The rounded border will just eat into text.

I want to note that on Android or Windows there is no problem, but on iPhone (Safari, Chrome) I have this problem shown here.
Also, please not I'm using @material-ui/core": "5.0.0-alpha.9", but same bug is also in stable version.

code example: https://codesand

[2020-11-18 11:27] oliviertassinari commented on #23593
Duplicate of #23306

[2020-11-18 11:27] #23593 closed

[2020-11-18 11:33] oliviertassinari commented on #23594
Duplicate of #20391

[2020-11-18 11:33] #23594 closed

[2020-11-18 11:37] #23592 closed

[2020-11-18 11:37] oliviertassinari commented on #23592
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-11-18 11:37] eps1lon commented on #23592
You might want to look at [`white-space`](https://developer.mozilla.org/en-US/docs/Web/CSS/white-space).

[2020-11-18 11:38] oliviertassinari commented on #20388
@pkarauda-lingaro Do you have a reproduction with v5?

[2020-11-18 11:46] oliviertassinari commented on #14559
@bmakan What do you think about this diff?

**Before**
<img width="548" alt="Capture d’écran 2020-11-18 à 12 43 16" src="https://user-images.githubusercontent.com/3165635/99526773-09bdc200-299c-11eb-84c7-d82fe9da8d71.png">

**After**
<img width="557" alt="Capture d’écran 2020-11-18 à 12 45 56" src="https://user-images.githubusercontent.com/3165635/99526776-0aeeef00-299c-11eb-8934-ae782dab6cf7.

[2020-11-18 11:52] Dacker15 commented on #23306
When Material UI v5 stable will be released? Is there a date or a prevision?

[2020-11-18 11:58] oliviertassinari commented on #23306
@Dacker15 Upgrading to v5 isn't the only option. The stable version might still be 6 months ahead.

[2020-11-18 12:17] oliviertassinari commented on #23589
@eps1lon Is the following summary correct, `pointer-event: none` is only required in two cases:

- Disabled buttons that aren't implemented with a `<button>`, like a `<a>`, `<div>`, etc.
- Disabled buttons that are wrapped with a tooltip and relying on `onMouseOver`.

I think that the Pagination component should primarily be used with a link, `<a>`. We need to swallow the onClick event, but what a

[2020-11-18 12:26] oliviertassinari opened #23597 "[DatePicker] Installing @material-ui/lab with npm 7 installs moment, date-fns, luxon, dayjs"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

All the date engines are installed and in the package-lock.json

## Expected Behavior 🤔

Only the date engine I need is installed and in the package-lock.json

## Steps to Reproduce 🕹

[2020-11-18 12:42] buitrbao222 opened #23598 "[Grid] Improve support for nested grid"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The nested grid container is not full width, there is unnecessary space to the right.

## Expected Behavior 🤔

The nested grid container is full width with no unnecessary space.

## L

[2020-11-18 12:44] oliviertassinari commented on #23583
I would like to raise an interesting counter view I have heard from [Jon Schlinkert](https://github.com/jonschlinkert), I have been chatting with him last year during the Tidelift gathering in Boston. He raised that he was making his projects hard to start using/contributing on purpose as a Low-pass filter. I'm not saying we should do to, only that there are also upsides in making contributions ha

[2020-11-18 12:49] oliviertassinari commented on #23598
`<Grid item container>` doesn't always work, especially with spacing. You can create an intermediary DOM node: https://codesandbox.io/s/material-nested-grid-bug-forked-lbbq5?file=/demo.tsx

[code]

[2020-11-18 12:52] pkarauda-lingaro commented on #20388
@oliviertassinari

I don't have reproduction (in a code sandbox), but version is: 5.0.0-alpha.16 and here is the code:

`<Autocomplete
          multiple
          className={styles.select}
          options={options}
          disableClearable
          disableCloseOnSelect
          getOptionLabel={(option) => option}
          getOptionSelected={(option, value) => option === value}
          on

[2020-11-18 12:54] oliviertassinari commented on #23598
However, it doesn't seem to work well either in https://next.material-ui.com/components/grid/#nested-grid.

[2020-11-18 12:56] oliviertassinari commented on #20388
@pkarauda-lingaro Ok, in this case, you need to set up a reproduction, and make sure you don't create a new `CustomPopper` component at each render.

[2020-11-18 12:58] pkarauda-lingaro commented on #20388
@oliviertassinari  Thank You for help. Btw. is there anyway to style popper (just set the width) without creating Cutomer Popper?

[2020-11-18 13:07] stfenjobs commented on #9513
please  support it , thank you very much

[2020-11-18 13:11] stfenjobs commented on #9513
2020-11-18： 96.09%

https://caniuse.com/css-grid

![image](https://user-images.githubusercontent.com/6580897/99534563-912e2400-29e2-11eb-9421-a422b0fa4a60.png)

[2020-11-18 13:15] oliviertassinari commented on #9513
We have started to benchmark our options in https://trello.com/c/Ons9dvi8/2214-css-grid. I have updated the issue description to include these sources.

[2020-11-18 13:33] zewish opened #23600 "[React 17] Warning source maps are broken on a fresh create-react-app project"
We've just updated to version 17 of React and the source maps of the material-ui warnings seem to be broken.
In the latest version 16 release stuff seems to work as expected, but it's broken when running React 17.
I'm not completely sure if this is a React bug or a Material UI library bug.

P.S. The bug is present in both version 4.11.0 and version 5.0.0-alpha.16 of @material-ui/core.

- [x] The i

[2020-11-18 13:47] eps1lon commented on #23597
That's how npm 7 works though. You should raise the issue with npm. We can't do anything about it. In the end, they won't end up in the bundle so the app user is good.

[2020-11-18 13:47] eps1lon commented on #23583
Jon Schlinkert is not a role model for open source packages.

[2020-11-18 13:58] eps1lon commented on #23589
It's never required for interactive elements. As far as I can tell it was only used as a shortcut without being aware of all the unintended side-effects. These are minute nuances that are hard to miss but since we're now aware of all the problems `pointer-events: none` causes we can get rid of it.

[2020-11-18 15:08] bmakan commented on #14559
@oliviertassinari I think it's much better. It's harder to judge it now when I know what it means. Maybe adding word "prop" at the end might make it even more obvious?

`The prop ${propFullNameSafe} of ${componentNameInError} can only be used together with ${requiredProp} prop.`

I think `item` is a very generic term in programming and can cause confusion by itself when it shows up.

[2020-11-18 15:12] oliviertassinari commented on #14559
@bmakan Sounds great, do you want to work on a pull request? :)

[2020-11-18 15:26] oliviertassinari commented on #23597
@eps1lon Does npm 7 installs optional peer dependencies?

[2020-11-18 15:39] gustavo-depaula commented on #23305
@matthewkwong2 Having the same problem when updated from `4.9.13` to `4.11.0`. Were you able to fix it?

[2020-11-18 16:01] oliviertassinari commented on #23600
Why is it an issue with Material-UI and not another part of the stack?

[2020-11-18 16:04] zewish commented on #23600
@oliviertassinari, I'm not saying that this absolutely is a material-ui issue. It might as well be a React issue.
If you think there's no issue with material-ui feel free to close this issue.

[2020-11-18 16:32] onebree opened #23601 "[docs] V3 Migration Guide: Include notes about withMobileDialog vs useMediaQuery"
I followed the upgrade guide from v3 to v4 last week:

https://material-ui.com/guides/migration-v3/

There was no mention of `withMobileDialog` being deprecated. Looks like it's mentioned in #22074, but it looks to have been deprecated after v3. Searching for the function yields no results.

I found out about `useMediaQuery` after reading thru related react-testing-library issues, and poking aroun

[2020-11-18 16:40] oliviertassinari commented on #23601
`withMobileDiaglog` is getting removed in v5. We are still working on the deprecation in #23570.

[2020-11-18 16:44] onebree commented on #23601
@oliviertassinari Thank you, but even though it's not removed, it's not even searchable on the MUI v4 docs. And not mentioned in Dialogs anymore. The fact others had issues with Dialog mounting in react-testing-library (including myself), and I can't find the function in the current docs, tells me the upgrade docs are missing important info.

[2020-11-18 16:44] oliviertassinari commented on #23590
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure enough people are looking for such capability. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-11-18 16:44] #23590 closed

[2020-11-18 16:47] oliviertassinari commented on #23601
We have hidden the module from the documentation somewhere in v4. The assumption is that if you are already using it, you don't need the documentation for it.

[2020-11-18 16:47] #23601 closed

[2020-11-18 16:55] onebree commented on #23601
When I upgraded to v4, there was no warning or notice about using `withMobileDialog` though. I was in the dark for a couple of days as to why my tests failed. I happened to stumble and put the pieces together myself that this function is losing support, and to move to a hook instead. Like I said, this was not mentioned in the upgrade docs. And IMO, _somewhere_ should mention the drop of the HOC fr

[2020-11-18 16:58] oliviertassinari commented on #23601
Oh, that's a different issue. You are talking about how withMobileDialog uses media queries instead of the window's width.

[2020-11-18 17:19] akhilmhdh commented on #23591
@eps1lon Hey there, can I fix this

[2020-11-18 17:20] techdev5521 commented on #23591
Tangentially related, would it be possible to also expose the close icon via props?

[2020-11-18 17:28] akhilmhdh commented on #23591
@techdev5521 Do you mean close in sense closing the list. If that's the case I think its fired on

``` Can be: `"toggleInput"`, `"escape"`, `"select-option"`, `"remove-option"`, `"blur" ```
and exposed as onClose and I think there is no icon for that.

[2020-11-18 17:32] techdev5521 commented on #23591
@akhilmhdh I mean exposing the close icon for being overridden in the same way the clear icon is exposed now.

[2020-11-18 18:03] oliviertassinari commented on #23603
It looks like we should remove the `allowSameDateSelection` prop. The prop is described as:

https://github.com/mui-org/material-ui/blob/35e674311a97a72da806c04ba61e44fae79fdfee/packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx#L29-L33

As far as I know, there is no valid use case for it, no matter a date picker, time picker, date range picker, etc. One thing that we h

[2020-11-18 18:15] oliviertassinari commented on #23604
Regarding the resolution, I would suggest we go in the direction of #21453. Meaning a `components` prop with keys for each customization points.

[2020-11-18 18:21] ItsWendell commented on #20012
Is the sx prop going to stick, and when will this be applied to all core components?

[2020-11-18 18:46] onebree commented on #23601
@oliviertassinari  There seems to be a misunderstanding. This is not about testing. It is in fact about docs. (Please re-add the tag)

- I am on v 4.11.0 of material-ui
- After upgrading, my `Dialog` instances were wrapped in `withMobileDialog()`
- I found that all tests touching these components, in Jest/React-Testing-Library failed
    + I understand MUI is not responsible for test failures from

[2020-11-18 18:54] oliviertassinari commented on #23601
You need https://material-ui.com/components/use-media-query/#testing to solve the issue. withMobileDialog uses withWidth that uses useMediaQuery.

[2020-11-18 18:56] onebree commented on #23601
@oliviertassinari Yes, I linked that exact in my original post. Can you just include that in the migration guide, or somewhere that's easy to spot, for folks currently using `withMobileDialog`? I've been very clear, and not sure what's up

[2020-11-18 19:10] oliviertassinari commented on #23601
@onebree Sorry, we are focusing on the migration from v4 to v5, anything past that is not a priority.

[2020-11-18 19:12] gh-igor opened #23606 "iPhone. Opened option-list is not fixed under select input. Background keeps scrolling"
There is an unusual behavior for iPhone devices (tested with iPhone SE2020, iPhone 11)

1. Navigate https://material-ui.com/ru/components/selects/

![image](https://user-images.githubusercontent.com/74675573/99576015-81b2d900-29ea-11eb-8f5f-1f3f1238f8b6.png)

2. Open any select

![image](https://user-images.githubusercontent.com/74675573/99576091-94c5a900-29ea-11eb-81bf-f139ccfbcc0d.png)

3. Scrol

[2020-11-18 19:41] mbrookes commented on #23583
I'd recommending using running the docs site locally for that. We mention it in the contributing guide - perhaps it should be mentioned nearer the top? (Basically clone the project and type `yarn start` as a shorthand for `yarn && yarn docs:dev`.)

[2020-11-18 20:41] #15451 closed

[2020-11-18 20:41] #23219 closed

[2020-11-18 21:50] havgry opened #23608 "[DatePicker] Missing exports in lab/index.js"
The following components are not being exported in packages/material-ui-lab/src/index.js which seems like a trivial mistake to me. Any thoughts?
[code]

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v5.0.0-alpha.16 |

[2020-11-18 21:53] havgry commented on #23603
@oliviertassinari Is this a matter of applying the old PR to this repository or is there more to it?

[2020-11-18 22:05] oliviertassinari opened #23609 "[DateRangePicker] Remove DateRangDelimiter"
The `DateRangDelimiter` solves the following problem:

https://github.com/mui-org/material-ui/blob/bbf2485fd7f8f09fdb338193f265be6277c98e7b/packages/material-ui-lab/src/DateRangeDelimiter/DateRangeDelimiter.tsx#L4-L9

I propose we drop it, and replace it with `<Box sx={{ mx: 2 }} />`. It's even more true as the product teams usually have a tone of different approaches to display the range. https:/

[2020-11-18 22:05] oliviertassinari commented on #23608
@havgry Well spotted, any component that has its own folder, so:

- DateRangeDelimiter
- DateRangePickerDay
- MonthPicker
- PickersCalendarSkeleton

Are missing. Do you want to submit a pull request to export them? :) We would only need them to be sorted ASC, e.g.:

[code]

Regarding `DateRangeDelimiter`, I think that we should drop it. It can be replaced with `<Box sx={{ mx: 2 }} />`: #23609.

[2020-11-18 22:11] oliviertassinari commented on #23603
@havgry I can't say. I didn't look at the pull request in detail.

[2020-11-18 22:41] #12483 closed

[2020-11-19 01:00] phaux opened #23610 "[docs] Problems with running codemod"
I spent about 3 hours trying to upgrade my project from v4 to v5 and then I gave up.

There are all the issues I encountered:

First thing I tried was literally what was written in the [README](https://github.com/mui-org/material-ui/blob/next/packages/material-ui-codemod/README.md):

[code]

It didn't work. Jscodeshift returned some cryptic error.

It took me a while to realize that the codemod pa

[2020-11-19 02:17] ahfarmer commented on #19262
I was also surprised to find that Autocomplete doesn't have a transition, where the other components have it by default.

@oliviertassinari isn't it important that the components seem like parts of a cohesive whole? Isn't the additional complexity only 2-3 lines?

Anyway, this is how I got the transition to work:

[code]

[2020-11-19 02:22] devhyunjae commented on #23290
@EliasJorgensen

This worked for me Thanks!

[2020-11-19 03:37] udayRedI commented on #14559
@oliviertassinari  Can I create a PR for this?

[2020-11-19 03:37] #23600 closed

[2020-11-19 05:02] oualidmaz opened #23611 "multiple Textfiled in Formik FieldArray very slow"
Trying to add multiple Textfiled in Fromik form using FieldArray. But when filling the inputs there is a delay (very slow). It works very well with none material ui input.

- [ ]  The issue is present in the latest release.
- [x]  I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹
https:/

[2020-11-19 09:52] mkhoussid commented on #20446
@oliviertassinari Awesome!

Will [this](https://github.com/mui-org/material-ui/issues/15511) also be resolved with v5, by chance?

As a side question, why did you guys decide on `emotion` instead of `styled-components`?

[2020-11-19 09:58] hmaddisb commented on #23583
@oliviertassinari thank you for the input!

I believe that if you are interested in contributing to a large scale project, like this one, you most often have the right amount of knowledge within the field in general, and therefore I am not sure that I agree with the idea you present. However, I do understand what you mean and of course I don't think that the documentation has to include concepts f

[2020-11-19 10:01] hmaddisb commented on #23583
@mbrookes yes I am familiar with that approach, but thank you!

[2020-11-19 10:10] eps1lon commented on #23610
Thanks for the detailed walk-through!

jscodeshift with TypeScript isn't that obvious to use so we should probably add documentation for it. I guess the biggest problems are projects not using babel since they need to install and configure it first just for a codemod.

Ideally we'd link to jscodeshift docs since this isn't a problem with the codemod itself but the runner for it (jscodeshift).

[2020-11-19 11:56] oliviertassinari commented on #20446
@mkhoussid  #15511 should be solved too. You can find the reasoning for emotion over styled-components in #22342, fundamentally, we think the concepts of styled-components are better implemented.

[2020-11-19 12:01] oliviertassinari commented on #23583
@hmaddisb I guess they are two different use cases to consider:

1. I use the library on my project, I have a strong problem, I want to make a one-time contribution to fix it. For instance, @gregnb in #23364. While the pull request isn't accepted yet, he can still leverage it in his project with codesandbox-ci. In this case, it's about removing all friction possible to land the change. Greg, did y

[2020-11-19 12:07] hmaddisb commented on #23583
@oliviertassinari very true! I was considering case 2

[2020-11-19 12:25] oliviertassinari commented on #20012
@ItsWendell Yes.

@mnajdova has just completed the support for the first core component of `sx`: the Slider in #23308. The next steps are:

- Release this change in v5.0.0-alpha.17
- Wait some time to collect feedback on the Slider using the new architecture
- Once we have addressed all the important concerns and are confident it's solid, move forward
- Open an issue to ask help from the community

[2020-11-19 12:44] oliviertassinari commented on #23597
I think that we should reopen, there are two issues in the current code organization:

- yarn v1: peer dependencies warnings you can only fix by installing dependencies you have no use for
- npm v7: peer dependencies that are unrelated that gets installed by default.

There are a couple of solutions possible:

1. date-io/moment, etc. make the date engine dependency optional.
2. We host date-io her

[2020-11-19 13:02] oliviertassinari commented on #23610
What if we change the usage instructions from

[code]

to

[code]

We could take care of a glob logic, providing the right arguments for TypeScript, maybe even solving the issue with Babel. I have seen something similar in https://github.com/thumbtack/thumbprint/tree/master/packages/thumbprint-codemods.

[2020-11-19 13:08] oliviertassinari commented on #23611
I'm closing as we can't do anything about it. if it's too slow, you have to make sure you only re-render the components that need to be rerendered. You might want to try https://react-hook-form.com/ out.

[2020-11-19 13:08] #23611 closed

[2020-11-19 13:10] jayt08 commented on #19461
Thanks for this solution. But how i can overwrite prop type?

[2020-11-19 13:20] hiahmedhameed commented on #23562
Hey @eps1lon

Any workaround for the current version ?
`alpha-16`

[2020-11-19 13:26] henrikq opened #23615 "DataGrid autoSize has zero height"
`<DataGrid autoSize ...` has zero height

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`<DataGrid autoSize ...{stuff} />` has  `style="height: 0px; ...`. Therefore, siblings after data-grid overlap/overflow, e.g. in

[code]

the

[2020-11-19 13:26] AleksandrStepovikov opened #23616 "Data grid error"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When updating the props of a row, an error occurs. independently updated with new data or to an empty array

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1. create Data gr

[2020-11-19 13:31] oliviertassinari commented on #23616
Duplicate of #571

[2020-11-19 13:31] #23616 closed

[2020-11-19 13:38] AleksandrStepovikov commented on #23616
uh, why is this a duplicate of a completely different problem?

[2020-11-19 13:59] hmaddisb commented on #23603
@oliviertassinari Maybe you can introduce an or clause like below?

[code]

[2020-11-19 14:01] eps1lon commented on #23597
If you don't want to listen then I don't have anything to say. Npm installs peer dependencies automatically now. If you want to solve this on your own without involving package manager folks then good luck.

Note that your analysis is wrong. You wanted to integrate pickers so you can't declare their peers as "unrelated" all of the sudden. Either include pickers or not. Good luck.

[2020-11-19 14:02] eps1lon commented on #23562
Unfortunately not. I recommend downgrading to the previous version that didn't include pickers.

[2020-11-19 14:06] eps1lon commented on #23610
If you want to implement your own codemodding engine then be my guest. It will introduce even more problems though so not sure where you want to get the time for maintaining it.

[2020-11-19 15:03] oliviertassinari commented on #23610
@eps1lon What do you mean by codemodding engine? I should have precised that the [benchmark](https://github.com/thumbtack/thumbprint/tree/master/packages/thumbprint-codemods) is a small wrapper on top of `jscodeshift` to cover the nominal use case.

[2020-11-19 15:05] daniele-barbosa-ifood commented on #10675
Workaround: Limit dates with min-max:
<TextField
  InputProps={{inputProps: { min: "2020-05-01", max: "2020-05-04"} }}
  type="date"
 (...)
/>

In my case, I only used **max: 31-12-9999**

[2020-11-19 15:09] danidanimoraes commented on #10675
Workaround: Limit dates with min-max:

[code]
In my case, I only used **max: 31-12-9999**

[2020-11-19 15:12] oliviertassinari commented on #23597
@eps1lon Does npm 7 installs optional peer dependencies automatically?

[2020-11-19 15:15] andrei9669 commented on #21727
Casting does remove the errors but still feels like a hack.

[2020-11-19 15:19] oliviertassinari commented on #23597
I went on testing it, it looks like npm 7 doesn't install optional peer dependencies. So as far as I understand, each of the four options presented is possible. I don't think that we will have a weight in influencing the outcome of npm 7 installing or not peer dependencies. I also think that the warnings in yarn v1 need to be solved. I don't know what the story look like with yarn v2, I never use

[2020-11-19 15:37] oliviertassinari commented on #23591
@techdev5521 What do you mean by "close icon"? Are you referring to the drop-down open/close icon?

[2020-11-19 15:40] techdev5521 commented on #23591
@oliviertassinari Sorry for being vague, yes that is exactly what I mean :)

(Also, thanks @akhilmhdh for opening that PR! Looking at what you did makes it easy for me to address similar issues in the future!)

[2020-11-19 15:41] akhilmhdh commented on #23591
@techdev5521 hey there sorry 😅on my side. Didn't saw the message.

[2020-11-19 15:42] oliviertassinari commented on #23591
@techdev5521 Thanks for the clarification. Maybe, as a next step, we should replace these two props with a `components: {}` one, allowing to inject something deep.

[2020-11-19 16:03] techdev5521 commented on #23591
@oliviertassinari I've given that a skim and the `components` prop would be a very flexible way to achieve the desired outcome. When I've more time I'll give that thread a deeper read.

In the meantime, I just had the idea that I could manipulate the `params` passed in the `renderInput` prop to achieve the desired outcome for the time being. Before I do that, do you see a better short term fix?

[2020-11-19 16:12] oliviertassinari commented on #19262
@ahfarmer Thanks for sharing, I think that if it goes more upvotes we can include a demo for it.

[2020-11-19 17:24] zaneclaes commented on #22342
It seems the 10.x packages have been unpublished (?) When I try to install the latest material UI alphas, I get a resolution error for `@emotion/core`. And when I try to manually install the ^10 version with yarn...

[code]

My IDE agrees, except with an interesting caveat:
<img width="830" alt="Screen Shot 2020-11-19 at 10 21 55 AM" src="https://user-images.githubusercontent.com/2084821/99701177-

[2020-11-19 17:24] randyshoopman opened #23620 "[DatePicker] Missing .d.ts files for lab DatePicker, DesktopDatePicker, etc"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Typescript complains about missing type declarations for lab picker modules.

`import DatePicker from '@material-ui/lab/DatePicker';`

There appear to be no d.ts files in the picker m

[2020-11-19 17:33] Andarist commented on #22342
`@emotion/core` has been renamed to `@emotion/react`

[2020-11-19 17:47] dusandjovanovic commented on #22342
Hi everyone,

I have been experimenting with the latest alpha of `@material-ui/core` and **`@emotion/react` 11.1.1** which came out a couple of days ago. Their latests release changes the way themes are injected into the `css` prop and possibly styled components since these follow their own Theme type coming from emotion. This is a case for inline css functions and the newly introduced `useTheme`

[2020-11-19 18:10] zaneclaes opened #23622 "[ListItem] <ListItem component /> require to forwardRef"
Prior to upgrading to the 5.x alpha, the following code from the docs worked:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I also looked at the release notes and the specs provided in the source code, but can't seem to find anything.

## Curr

[2020-11-19 18:12] oliviertassinari commented on #23620
Duplicate of #23559

[2020-11-19 18:12] #23620 closed

[2020-11-19 18:14] mbrookes commented on #23583
Do we document that somewhere? I could only find a brief mention of it in the October 2019 update.

[2020-11-19 18:18] oliviertassinari commented on #23622
Why is the new warning wrong?

[2020-11-19 18:19] zaneclaes commented on #23622
@oliviertassinari if this is an intended behavior, I am looking for documentation on the migration solution. As I said in the OP, I have examined the release notes and the specs (in the source code) and do not see an obvious migration path.

[2020-11-19 18:19] oliviertassinari commented on #23583
The contribution guide encourages to build inside the documentation. I don't understand the need for codesandbox here.

[2020-11-19 18:29] zaneclaes commented on #23622
FWIW, I've also tried using `const link = React.ForwardRef<>()` syntax, but the resulting object was not accepted by the `ListItem`'s `component` validation.

[2020-11-19 18:32] mbrookes commented on #23583
Do we document that somewhere?

[2020-11-19 18:40] oliviertassinari commented on #23583
This sounds useful with users that resonate on 1.: How can I use this fix? It's not in an official release yet.

[2020-11-19 19:28] mbrookes commented on #23583
Great! Do we document it anywhere?

[2020-11-19 19:37] tanvirstreame commented on #11900
Thanks that worked

[2020-11-19 19:49] oliviertassinari commented on #23583
@mbrookes No, we could/should :). One challenge is that even if it's documented, how people find it? I guess, at the end of the contributing.md?

[2020-11-19 19:56] eps1lon commented on #23622
Could you share that particular code? It should work.

[2020-11-19 20:42] zaneclaes commented on #23622
Sure thing. I relied on the IDE to complete the `HTMLAnchorElement` bits, so perhaps there's an alternate way to declare the link I'm not aware of.

[code]

Exact error is:
[code]

[2020-11-19 21:22] cyrfer opened #23624 "trouble styling Autocomplete underline when hover"
I cant figure out how to style Autocomplete's bottom border when the desktop cursor causes a hover.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am trying to make the underline be white for my Autocomplete instance. I am succ

[2020-11-19 21:46] #23624 closed

[2020-11-19 21:49] oliviertassinari commented on #23624
@cyrfer Thanks for raising.

[2020-11-19 21:58] #23585 closed

[2020-11-19 21:59] oliviertassinari commented on #23585
@cdohotaru You need to increase the CSS specificity, .completed behaves as a pseudo-class, like :hover.

[2020-11-19 22:10] cyrfer commented on #23624
I figured it out.

I had to lock the `:hover` state on in Chrome dev tools, of a few DOM nodes, to figure out which node caused the problem. It was the same node that my `inputRoot` style was being applied to. With `:hover` enabled, Chrome dev tools showed me the selector that specifies the border color. So I simply copied the selector below and it worked!

[code]

PS. Closing tickets quickly, mak

[2020-11-19 22:31] oliviertassinari commented on #23624
@cyrfer This is definitely the intention. We don't have the resources to provide free support, StackOverflow is better suited for the problem, you reach a broader community. We already have plenty to do reviewing pull requests, investigating bugs, etc.

[2020-11-19 22:48] oliviertassinari commented on #23603
@hmaddisb I think that we can be more efficient:

[code]

[2020-11-19 22:58] oliviertassinari opened #23626 "[DatePicker] Reduce scope of allowSameDateSelection prop"
The prop is described as:

https://github.com/mui-org/material-ui/blob/35e674311a97a72da806c04ba61e44fae79fdfee/packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx#L29-L33

The prop is used for the date-time picker, in order to allow switching between the calendar and time view. We can reduce the scope of the prop to only be exposed where need. It should likely only be a

[2020-11-19 23:42] mbrookes commented on #23583
If we don't document it, how do people find it?

[2020-11-19 23:42] mbrookes commented on #23583
If we _don't_ document it, how do people find it?

[2020-11-20 00:14] danvk opened #23627 "makeStyles overload breakage with TypeScript 4.1"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate. Possibly #14018

## Current Behavior 😯

With today's [TypeScript 4.1 release][1], there's an issue with `makeStyles` that pops up:

[code]

This passes the type checker with TS 4.0 but not TS 4.1, where you

[2020-11-20 00:52] sdg002 opened #23628 "Need for simpler code snippets in the spirit of "hello world""
Hi All,

I was looking at the Tabs demo here - in an attempt to rapidly create a simple Tabbed navigation page.
https://codesandbox.io/s/cbn97?file=/demo.js
which is hyperlinked from
https://material-ui.com/components/tabs/

I found it incredibly hard to comprehend what is the bare minimum code that I need to write to get a simple Tab system up and running.

# Comparing with Bootstrap
Look at the

[2020-11-20 01:14] oualidmaz commented on #23611
thanks @oliviertassinari . react-hook-form is definitely much faster

[2020-11-20 02:28] sdg002 opened #23629 "How do I make the text of the Tabs component to have Bold font weight?"
Hi All,

The picture below is from the Tabs demo. (https://material-ui.com/api/tabs/#props)
![image](https://user-images.githubusercontent.com/20245330/99749854-26aae000-2ad7-11eb-8c27-0d21be4b3c24.png)

## What worked
I was able to get a simplistic Tabs system to work.
![image](https://user-images.githubusercontent.com/20245330/99750205-dda75b80-2ad7-11eb-98de-661144961e10.png)
[code]

## Challen

[2020-11-20 02:34] trevithj commented on #17228
For what it is worth, below is an implementation of a form of range-dragging using similar idea from @flyingnobita .
It requires SHIFT+click, and is not perfect. But it does the job.
[code]

[2020-11-20 04:04] udayRedI commented on #14559
@oliviertassinari Above is my PR, let me know if I'm missing anything.

[2020-11-20 04:09] tarwich commented on #16704
We have a view that's taking 30 seconds to update.

I worked hard to reproduce my problem from our internal project. It's in CodeSandbox now, but it's a little too big. While cutting out the part that was breaking, I pulled in a lot of things that aren't required for reproduction, so it's a little noisy.

The code is public at https://codesandbox.io/s/heuristic-sammet-5iyyq?file=/src/components/co

[2020-11-20 05:30] tarwich commented on #16704
Removing `<Box />` fixed all my problems 🎉🎈 (also 😭). Total Render time 6s.

<caption>Flame Graph (click to expand)</caption>
<img src="https://user-images.githubusercontent.com/334149/99762371-f571e600-2abd-11eb-8ecb-bbda3b329689.png" width="250" />

| Class                        | Count |
| ---------------------------- | ----: |
| `.makeStyles-studentBar-7`   | 2,640 |
| `.makeStyles-student-5`

[2020-11-20 05:58] kahirokunn commented on #23627
I got same problem. 😢

[2020-11-20 06:04] kahirokunn commented on #23627
I tried fix node_modules/@material-ui/core/styles/makeStyles.d.ts for debug.

[code]

Type error was solved.

[2020-11-20 07:06] hmaddisb commented on #23583
I think it would be great to document it in contributing.md. If you are interested in contributing, you will (most likely) read that entire .md in particular

[2020-11-20 08:15] hmaddisb commented on #23603
@oliviertassinari that's fair! Should I make a PR for that? Or do you want to introduce more changes for this issue?

[2020-11-20 10:00] eps1lon commented on #23628
Thanks for the feedback. We really appreciate this sort of feedback since as maintainers you can get too complacent with the way you write docs.

A key takeaway is that we should make demos "shorter".

I proposed it in the past and want to re-iterate on it: We should remove .propTypes. 30-50% of React users are TypeScript users and a typed-language is better suited for that "primitive" type-checki

[2020-11-20 10:09] eps1lon commented on #23622
Thanks. I'll take a look later what's wrong with the types. In the meantime, [don't create components during render](https://next--material-ui.netlify.app/guides/composition/#caveat-with-inlining).

[2020-11-20 11:17] oliviertassinari commented on #23628
It sounds like another confirmation that we should use the lab `<TabPanel>` API in all the demos. It would solve #21015 too. Is this accurate?

[2020-11-20 12:06] eps1lon commented on #23628
That would not solve the issue. Demos should not include styles that are simply for "arrangement" i.e. styles that are unnecessary for isolated usage.

[2020-11-20 12:09] oliviertassinari commented on #23628
@eps1lon Sounds fair, I guess it would only to make the content look a bit nicer, but a `p` can do the trick too to add margin :)

[2020-11-20 12:27] #23608 closed

[2020-11-20 12:28] mattsputnikdigital opened #23632 "findDOMNode is deprecated in StrictMode Dialog / Transition Example"
I realise this has been brought up a number of times, but apart from the advice to upgrade to v5 alpha, I have not actually seen a solution.

Is there an actual solution for v4 using refs or not? If so could somebody point me in the right direction please.

https://material-ui.com/components/dialogs/

[code]

[2020-11-20 12:33] oliviertassinari commented on #23629
Tip: open the demo in codesandbox, notice that it works and compare the difference with your env. e.g. did you load the Material Design font, etc.

[2020-11-20 12:35] oliviertassinari commented on #23632
@mattsputnikdigital This is specific to v4, https://material-ui.com/customization/theming/#unstable-createmuistrictmodetheme-options-args-theme should solve your issue.

[2020-11-20 12:35] #23632 closed

[2020-11-20 12:36] oliviertassinari commented on #23632
Related to #13394

[2020-11-20 12:37] #14559 closed

[2020-11-20 12:42] oliviertassinari commented on #23600
@zewish I honestly don't know for sure. So far, history would suggest that the probability for the issue to come from us is low. I hope you will figure it out :)

[2020-11-20 12:48] #18679 closed

[2020-11-20 12:58] sdg002 commented on #23629
@oliviertassinari

I did not want to say this. But, what should have been a 30 minute exercise of reproducing a "_hello world_" code sippet has now become a mult-hour onerous "_compare the difference_" job.

Sadly - I am seeing myself going down the road that you have suggested.

[2020-11-20 12:59] Sanskar49 commented on #850
I tried this but it gives an error saying Dont use link outside a router or something.. How do I solve this now?

[2020-11-20 13:05] oliviertassinari commented on #23629
Here you go, a simpler example: https://codesandbox.io/s/material-demo-forked-nm0w8?file=/demo.tsx

[2020-11-20 13:21] oliviertassinari commented on #23583
@mbrookes A good point. The problem I was considering is: if 5?% of the developers find the content when they need it, does it worth spending time on it compared to 0% not finding it (if we don't document). I guess it's a matter of is it 5% or 50%? Does it take 5 minutes to document more?

What do you think about this approach?

[code]

[2020-11-20 13:56] eps1lon commented on #23627
Can confirm in our own codebase now. We actually do run tests with TS canaries. But this particular error was hidden by another, less severe error. In the future we should be able to anticipate these regressions better.

[2020-11-20 14:01] oliviertassinari commented on #16704
@tarwich Thank you for sharing this stress test! Very interesting. I have recently seen a friend face a similar issue, rendering many Box. In your case, I can count >3,000 of them. I have updated your codesandbox to v5 in https://codesandbox.io/s/romantic-pine-247ef?file=/src/data.ts. And push it in production in https://csb-247ef.netlify.app/. The performance isn't great. It's still too slow to r

[2020-11-20 14:18] merwaaan opened #23634 "Typescript error due to wrong children type"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When creating functional wrapper components in Typescript, I get type errors due to Material-UI expecting a `ReactElement<any, any>` "children" prop while React provides a `ReactNode`

[2020-11-20 14:31] eps1lon commented on #23634
Thanks for the report.

However, this is intended. The `Tooltip` requires an actual element as child at runtime to inject event handlers. For example, `<Tooltip title="Hello">World</Tooltip>` will crash at runtime which is what the types guard against.

[2020-11-20 14:31] #23634 closed

[2020-11-20 14:47] merwaaan commented on #23634
Thanks for the quick answer @eps1lon.

Does this mean that tooltips cannot work at all with React.FunctionComponent?
What would be a good way to prevent the build error?

[2020-11-20 14:48] alexnm2566 opened #23636 "Accordion expand button - weird overflow of ripple"
Thank you for this great library! I found a bug right in the mui docs of accordion. When you expand it and click on it, the expand button ripple goes a little bit left and top from button causing an overflow. However, when in closed state, this bug doesn't occur.

**Update 1**: when adding `overflow: hidden` to `.MuiAccordionSummary-expandIcon`, this bug disappears. Maybe this has something to do

[2020-11-20 15:08] eps1lon commented on #23634
They do. You just have to make sure `children` has the same type that `Tooltip`'s `children` have.

[2020-11-20 15:18] merwaaan commented on #23634
I'm quite confused because `React.FunctionComponent<Props>` is responsible for injecting the "children" prop so it seems like if I use it, I have no say in the actual type.

How to end up with Materia-UI's type with  `React.FunctionComponent<Props>`?
Sorry, I feel like I'm missing something 😕

[2020-11-20 15:23] eps1lon commented on #23634
I generally don't recommend `React.FunctionComponent` because it injects a `children` type. See https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/function_components/ for more information.

You're looking for something like `function Component(props: { children?: React.Element<any, any>})`. Hope that helps.

[2020-11-20 15:28] ChrisSargent commented on #22342
@dusandjovanovic have you added a declaration file with something like this?

[code]

Then the @emotion theme will pickup your types that are declared in your MUITheme.

[2020-11-20 15:36] dusandjovanovic commented on #22342
@ChrisSargent

Haven't thought of that actually, thank you very much :-)

[2020-11-20 15:45] merwaaan commented on #23634
Thanks!

[2020-11-20 15:51] oliviertassinari commented on #23636
We have removed the icon button in v5: https://next.material-ui.com/components/accordion/#accordion.

[2020-11-20 15:51] #23636 closed

[2020-11-20 15:52] ahwise commented on #23627
Experiencing the same issue; where the culprit for me was **...theme.mixins.toolbar**

spreading the object *...theme.mixins.toolbar* gives

[code]

so for now ive just appended those lines in place of the spread

[code]

[2020-11-20 15:56] zaneclaes commented on #23622
@eps1lon copying the code exactly from the example in the link, I first get:

[code]

Removing the `{...linkProps}` so I can keep moving, I then get:

[code]

[2020-11-20 16:25] Angelk90 commented on #9313
@pelotom , @oliviertassinari , @rosskevin :

If the numbers are entered as input as shown in the image it is easy to bypass the control.

Is there a solution?

Link: [codesandbox](https://codesandbox.io/s/material-demo-forked-5509t?file=/demo.js)

![Registrazione schermo 2020-11-20 alle 17 21 03](https://user-images.githubusercontent.com/20476002/99823800-1cc7c200-2b55-11eb-81a7-dbefcb7326eb.gif)

[2020-11-20 16:52] jasminnancy opened #23637 "[Button] Vertical text alignement issue on Firefox"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Buttons do not render properly with correct padding. As you can see, the text looks raised and is higher than it should be. While this seems like a small issue, it is noticeable when

[2020-11-20 17:10] buitrbao222 commented on #23598
Hopefully it will be fixed in v5.

[2020-11-20 17:19] Izhaki commented on #18689
Closing due to inactivity and as there much more valuable tasks in the backlog.

[2020-11-20 17:19] #18689 closed

[2020-11-20 17:26] tarwich commented on #16704
Just to let y'all know I'm going to have to take a short break. We have to get this view out, and so we're going to restructure it completely to be able to render without performance issues, then we'll circle back to the Box questions. We're probably going to do something like add a pager or something. That being said -- not all of this is <Box /> related. I found that removing the Tooltip compone

[2020-11-20 18:35] amankkg commented on #22342
@gilmarsquinelato Linaria is an awesome project but AFAIK it won't fit since MUI has `styled-system` feature/package which requires runtime support

@mnajdova if this is true then IMO it worths mentioning why zero runtime solutions are not considered

[2020-11-20 18:56] larsivi commented on #19536
For what it is worth, I rewrote my uses to make my trigger component into a button, then route the clicks onto the Collapse.in property. Slightly less elegant IMO, but functionally equivalent to what I wanted. This doesn't invalidate the typescript issues when you actually want to use the component property though.

[2020-11-20 19:13] gilmarsquinelato commented on #22342
@amankkg I don't know about `styled-system` but Linaria has support for dynamic props, you can pass a prop and Linaria handles them as a CSS Property, being dynamically injected during runtime

[2020-11-20 21:19] mnajdova commented on #22342
One thing that linaria did not support is the the object style syntax https://github.com/callstack/linaria/issues/464 which we are still using in several places. Also, I think emotion & styled-components are generally more mature. This doesn't mean that developers can't use linaria in the long run... If the community really would like to use it, would be great if someone could take a look on imple

[2020-11-20 21:33] oliviertassinari commented on #18689
I have added the `waiting for users upvotes` tag. We are not sure enough people are looking for such capability. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-11-21 05:51] ansoni commented on #14348
This fixed my makeStyles issue as well (bless you), but I'm confused why the material-ui.com examples all use '@material-ui/core/styles' and all look correct.

[2020-11-21 09:23] stfenjobs opened #23639 "nextjs examples code is not good"
https://github.com/mui-org/material-ui/blob/next/examples/nextjs-with-typescript/pages/_document.tsx#L16

 the nextjs official document : https://github.com/vercel/next.js/blob/master/errors/no-document-viewport-meta.md

[2020-11-21 09:44] oliviertassinari commented on #23639
Thanks for the concern, however no viewport are in the `_document`.

[2020-11-21 09:44] #23639 closed

[2020-11-21 10:52] vicasas opened #23640 "Update docs integration with Next.js >v10"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using Nextjs v10 I have realized that it is not necessary to make previous configurations to use Material UI. In the development compilation the classes are generated as `makestyle -.

[2020-11-21 11:49] asthikwow opened #23641 "Whitespace displayed in column cells while column resizing process"
When the **TextField** component with 'multiline' attribute being a **textarea** contains longer text content, if column is getting resized, the cell content displays **whitespace area**. If only **focused** inside the area then it is getting cleared and properly displayed.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/

[2020-11-21 14:40] #23398 closed

[2020-11-21 14:42] #23591 closed

[2020-11-21 15:50] cyrilchapon commented on #21154
I'm encountering

With a `<Box component='form' noValidate />`

Is that same underlying issue ? Or should I reopen separately ?
@eps1lon @oliviertassinari

[2020-11-21 15:55] oliviertassinari commented on #21154
@cyrilchapon See #16843

[2020-11-21 15:57] cyrilchapon commented on #16843
Temporary workaround (here with a `<form>` component)

[code]

[2020-11-21 17:34] oliviertassinari commented on #23640
The documentation is up-to-date, you need to configure it, still true for Material-UI v5.

[2020-11-21 17:34] #23640 closed

[2020-11-21 17:51] vicasas commented on #23640
I get it. But what does it affect if you don't configure it as indicated in the documentation? Why have I been using it without the instructions there and it doesn't work fine.

[2020-11-21 17:51] vicasas commented on #23640
@oliviertassinari I get it. But what does it affect if you don't configure it as indicated in the documentation? Why have I been using it without the instructions there and it doesn't work fine.

[2020-11-21 17:53] oliviertassinari commented on #23640
@vicasas This line is for the FOUC.

https://github.com/mui-org/material-ui/blob/4f389f87dc913280b9dc7704271688be3f3daec2/examples/nextjs/pages/_document.js#L66

[2020-11-21 18:02] johynpapin opened #23645 "Adding Steps that are in another component to a Stepper does not work."
Hello everyone!

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I created a component that contains Steps. While trying to add this component to the Stepper, I noticed that the Steps lose their states. Here is an example:

![Curre

[2020-11-21 18:10] oliviertassinari commented on #23645
The problem was solved in #21326. If you are not going to allow the cloneElement logic to kick-in, you need to provide the `index` and `last` props: https://codesandbox.io/s/adding-steps-that-are-in-another-component-to-a-stepper-does-not-work-forked-92lzi. AFAIK, there isn't any much we can do about it. This issue will serve as documentation for the next developer facing the issue.

[2020-11-21 18:10] #23645 closed

[2020-11-21 18:23] #21441 closed

[2020-11-21 18:29] #21814 closed

[2020-11-21 18:35] oliviertassinari commented on #23641
@asthikwow Thanks for the report. This is specific to this component: https://material-ui.com/components/textarea-autosize/.  So far, we are handling the resize event of the window to handle similar problems:

https://github.com/mui-org/material-ui/blob/6cfcae3ab3b2fc1045562002752304f9cf8bdca5/packages/material-ui/src/TextareaAutosize/TextareaAutosize.js#L126

Unfortunately, it's not enough. I wou

[2020-11-21 19:18] oliviertassinari commented on #9313
@Angelk90 Maybe you can control the `value` prop and apply the limit.

Related to #19154

[2020-11-21 20:22] oliviertassinari commented on #23598
My bad, I have overlooked the issue. It's actually the demo of the documentation that is wrong. We have had this visual regression test for it, for 3 years, it works:

![1ee13ec7ad76060159f44e810393f5f4](https://user-images.githubusercontent.com/3165635/99886775-70163f00-2c3f-11eb-9e34-2273f6cc454e.png)

I would suggest this diff in the documentation:

[code]

https://codesandbox.io/s/material-nes

[2020-11-21 20:52] oliviertassinari commented on #23637
@jasminnancy Do you have a better reproduction? It almost displays aligned for me on Firefox 83 macOS:

<img width="313" alt="Capture d’écran 2020-11-21 à 21 50 07" src="https://user-images.githubusercontent.com/3165635/99887324-a6ee5400-2c43-11eb-9fad-fb1764e0a1e4.png">

Vertical alignment of text inside a button is tricky! Different fonts have a different alignment of the baseline compare to t

[2020-11-21 21:07] oliviertassinari commented on #23622
@zaneclaes So If I summarize, 1. the forward ref warnings in your demo are expected. The button needs to access the ref. 2. we miss a reproduction that demonstrates there is an issue with TypeScript. I can't reproduce your error: https://codesandbox.io/s/listrouter-material-demo-forked-kodox?file=/demo.tsx.

[2020-11-21 21:24] oliviertassinari commented on #23603
@hmaddisb I think that we can try a pull request :), we would need to add a test.

[2020-11-21 22:35] havgry commented on #23609
What needs to be done? Remove the component and update the docs?

[2020-11-21 22:56] oliviertassinari commented on #23609
@havgry Yes, this sounds about right

[2020-11-22 01:58] zaneclaes commented on #23622
As I said to you last time, I did not claim otherwise. Why are you bringing this up again? Perhaps this is cultural, but you're coming off as quite rude in this conversation.

Well, you changed the code. I explicitly said:

And, indeed, there is. The use of `Omit<OwnProps, 'to'>` fixes both problems.

Obviously, I know this is an alpha. But this would be a very good addition to the docs :)

To be

[2020-11-22 03:12] arnelamo commented on #22392
The callback fired by onChange takes a second argument `reason`, and this returns `null` when clear button is clicked.

[2020-11-22 05:22] k-funk commented on #23598
Kinda surprised that more people haven't run into this issue. This my first time using Material UI and I've already hit this.

My issue was really difficult to even identify what I was doing wrong. [In my codesandbox](https://codesandbox.io/s/material-nested-grid-bug-forked-idf2f?file=/material-ui-grid-container-item-bug.tsx), change both `sm={6}`s to just `sm`. I thought to myself "surely these a

[2020-11-22 05:37] IpShot commented on #19245
If you use TypeScript you probably get the `Type 'null' is not assignable to type 'Element'` error. To fix this use
[code]

[2020-11-22 06:52] onkarj422 opened #23649 "[system] compose with style function 'spacing' throws error"
Considering the general working of the compose function, it returns a style function combining multiple style functions passed to it. And the general working of a style function seems like it returns CSS Object when passed with a props object accepted by the style function.
So, I tried following code to see if it works as expected
[code]

This code compiles without any type error

- [x] The issue

[2020-11-22 07:19] tpeek opened #23650 "[DatePicker] StaticDatePicker scrolls the page after selecting a year"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-pickers/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If you use the `StaticDatePicker` and you select a year, the scroll position jumps down the page a bit.

## Expected Behavior 🤔

The scroll position should remain the same aft

[2020-11-22 09:27] oliviertassinari commented on #23622
@zaneclaes Great! Happy to hear the issue is resolved. It also doesn't seem there is any room for us to improve the documentation or the implementation.

The objective was to bring clarity. It seemed that the conversion switched from JavaScript error to TypeScript at some point. It would have probably been confusing for an external reader.

[2020-11-22 09:38] oliviertassinari commented on #23598
@k-funk What do you think about this change in the documentation? I have seen many developers successfully use it. Flexbox were designed to support it.

[code]

[2020-11-22 09:42] oliviertassinari commented on #23598
Actually, we can even add a runtime warning and document the limitation under http://next.material-ui.com/components/grid/#limitations.

[2020-11-22 10:01] oliviertassinari commented on #21749
@Jack-Works Do you have a specific example of a variant your designers want to support?

[2020-11-22 10:02] #23627 closed

[2020-11-22 10:03] Jack-Works commented on #21749
For example, 4 sizes than 3 sizes (this library) and more color in the theme than primary or secondary

[2020-11-22 10:14] oliviertassinari commented on #23606
@gh-igor Thanks for reporting this issue. The first immediate issue is with #5750. However, I'm closing as a duplicate with #17353. We should likely close the select as soon as a user starts scrolling.

[2020-11-22 10:14] #23606 closed

[2020-11-22 10:22] oliviertassinari commented on #23649
@onkarj422 You need to provide a theme if you are going to use it like this:

[code]

https://codesandbox.io/s/material-ui-issue-forked-8rcpy?file=/src/Demo.js:337-497

[2020-11-22 10:22] #23649 closed

[2020-11-22 10:26] oliviertassinari commented on #23649
@onkarj422 All core components will support the system in v5. We document it [in here](https://next.material-ui.com/system/basics/#1-core-components), a demo with the first component that we have migrated:

[code]

<img width="501" alt="Capture d’écran 2020-11-22 à 11 25 54" src="https://user-images.githubusercontent.com/3165635/99901253-8363f180-2cb5-11eb-9819-f99bd303f814.png">

https://codesa

[2020-11-22 11:06] oliviertassinari commented on #23670
It will make the sources a bit simpler to understand too. The module to remove:

https://github.com/mui-org/material-ui/blob/ac5c2068c43ee6982552d51468b1e48b56557b40/packages/material-ui-lab/src/internal/pickers/withDateAdapterProp.tsx#L1-L28

[2020-11-22 11:07] eps1lon commented on #23670
Same argument as always: Provide one API to do one thing not two. Glad you're following here but I would hope you apply it everywhere.

[2020-11-22 11:15] oliviertassinari commented on #23670
@eps1lon I agree with a limit.

I think that it depends on the interpretation of how similar the two APIs are. I think that having x different ways to do things is to be encouraged if the x approaches come with **different enough** set of pros & cons and developers are **interested** in the different options.

In this case, I can't envision that developers would be interested in it, nor that the p

[2020-11-22 11:18] oliviertassinari commented on #23670
It makes me think that we should document why anytime there are 2 different ways to do the same thing.

[2020-11-22 11:25] eps1lon commented on #23670
Ok. I was not talking about this. I was talking about doing one thing. Not doing two things.

[2020-11-22 11:37] kshitijzutshi commented on #11457
I Installed both `@material-ui/icons` and `@material-ui/core` but still I am getting this error -
`./node_modules/@material-ui/icons/utils/createSvgIcon.js` `Module not found: Can't resolve '@material-ui/core/SvgIcon'`

Can anyone give a sure shot solution please. Really appreciate it.

[2020-11-22 11:39] kshitijzutshi opened #23671 "./node_modules/@material-ui/icons/utils/createSvgIcon.js Module not found: Can't resolve '@material-ui/core/SvgIcon'"
I Installed both `@material-ui/icons` and `@material-ui/core` but still I am getting this error -
`./node_modules/@material-ui/icons/utils/createSvgIcon.js` `Module not found: Can't resolve '@material-ui/core/SvgIcon'`

Can anyone give a sure shot solution please. Really appreciate it.

[2020-11-22 11:40] #23671 closed

[2020-11-22 11:56] rajzik opened #23672 "[DatePicker] Theme augmentation doesn't contain date pickers in the lab"
@material-ui/lab doesn't contain types for

- MuiPickersClockView
- MuiClockNumber
- MuiClockPointer
- MuiDatePicker
- MuiDatePickerToolbar
- MuiPickersDateRangeDelimiter
- MuiPickersDateRangePicker
- MuiPickersDateRangePickerInput
- MuiPickersDesktopDateRangeCalendar
- MuiDateRangePickerDay
- MuiDateTimePicker
- MuiDateTimePickerTabs
- MuiDateTimePickerToolbar
- MuiDayPicker
- MuiPickersCalendar

[2020-11-22 12:00] oliviertassinari commented on #23672
@rajzik Thanks for the report. It looks like we forgot to add the date picker components in https://github.com/mui-org/material-ui/blob/ac5c2068c43ee6982552d51468b1e48b56557b40/packages/material-ui-lab/src/themeAugmentation/components.d.ts#L3.

[2020-11-22 12:06] oliviertassinari commented on #23673
Considering the number of components that can be customized in the date picker, e.g. #23524 and that we are going in the same direction fo the data grid, I think that we should remove `leftArrowIcon`, `rightArrowIcon`, `rightArrowButtonProps`, `leftArrowButtonProps` props, and replace them with the `components={{ MonthNextIconButton, MonthPreviewIconButton }}` API. Simpler, and allows us to build

[2020-11-22 12:08] rajzik commented on #23672
@oliviertassinari Also, it looks like types aren't generated for the pickers. They are not in bundle from npm, I saw there was issue previously I don't know if it is resolved or not.

[2020-11-22 12:11] oliviertassinari commented on #23672
@rajzik Already fixed.

[2020-11-22 12:36] rajzik opened #23675 "[DatePicker] Theme default props broken"
https://github.com/mui-org/material-ui/blob/ac5c2068c43ee6982552d51468b1e48b56557b40/packages/material-ui-lab/src/internal/pickers/withDefaultProps.tsx#L15 doesn't clone props as they are sealed (frozen [react source code](https://github.com/facebook/react/blob/master/packages/react/src/ReactElement.js#L194)).

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](ht

[2020-11-22 12:51] zaneclaes commented on #23622
I searched the docs for `Omit`, and it is never referenced. I strongly feel that there should be a working Typescript example in the docs. I would have never figured this out on my own. The second error (pasted above) is far too obscure to debug, and did not obviously point at a solution.

[2020-11-22 12:56] oliviertassinari commented on #23675
@rajzik Thanks for opening the issue.

- It would be much better to provide a live reproduction with a codesandbox
- I suggest we remove `withDefaultProps`, it shouldn't be a HOC
https://github.com/mui-org/material-ui/blob/ac5c2068c43ee6982552d51468b1e48b56557b40/packages/material-ui-lab/src/internal/pickers/withDefaultProps.tsx#L15

We very likely want to use `useThemeProps` instead:

https://git

[2020-11-22 12:58] oliviertassinari commented on #23622
@zaneclaes Did you find this demo? https://next.material-ui.com/guides/composition/#list, it matches your use case.

[2020-11-22 13:07] zaneclaes commented on #23622
Huh, I stand corrected! I don't know how I missed that. Thanks for pointing it out. Here are the places I read during the course of this investigation:

- The release notes (migration guide)
- The specs in the source code
- The [link from above](https://next--material-ui.netlify.app/guides/composition/#caveat-with-inlining)
- The 5.0.0 "Typescript" docs
- The search bar at the top of the "5.0.0" d

[2020-11-22 13:21] rajzik commented on #23675
@oliviertassinari POC added.

[2020-11-22 13:28] oliviertassinari commented on #23677
@tpeek Thanks for reporting the issue. What I have found during my investigation:

- jQueryUI API: https://api.jqueryui.com/datepicker/#option-weekHeader
- [`weekdayShort`](https://github.com/dmtrKovalenko/date-io/blob/e76cf12f031a1e5efabddc09f38563d8e54d4548/packages/date-fns/src/date-fns-utils.ts#L74) is a dead option.
- Moment is implemented with [`weekdaysShort`](https://momentjs.com/docs/#/ge

[2020-11-22 13:31] oliviertassinari commented on #23622
@eps1lon Should we migrate the code snippets in https://next--material-ui.netlify.app/guides/composition/#caveat-with-inlining to TypeScript?

[2020-11-22 13:32] zaneclaes commented on #23622
FWIW, I really like how so many of the examples have both JS and Typescript. It'd be great if that were universal, though again, I know this isn't a priority 🙂

[2020-11-22 14:32] k-funk commented on #23598
Maybe both?

For myself (and I assume a lot of others), I don't read the docs in their entirety when first trying out a new library. I'm first trying to discover "will this work for me? is it easy to work with? do the docs describe real-work problems?". I try out the pieces that I need, so I appreciate when caveats are noted inline or next to the same line as the first example usage, such as:
[cod

[2020-11-22 15:53] onkarj422 commented on #23649
@oliviertassinari
Thank you for the quick reply on this!

Although it throws type mismatch error when theme object is passed along, this is still helpful. I suppressed the type error for now, will refactor once v5 is out!

Now that this whole thing is already coming up in v5, looking forward to it!

Thank you!

[2020-11-22 16:15] lancegliser commented on #21111
I've been having a conversation on Twitter with @MaterialUI about a sidecar, parallel feature to this. Just for quick context to wrap that conversation here:

I'd personally prefer the full implementation that includes theme as discussed here. The Storybook team might be excited to have that basic option. Both options depend on this issue, which looks like it could use a hand. Would ya'll be inter

[2020-11-22 17:00] shilman commented on #21111
@lancegliser thanks so much for getting this conversation on my radar. for my part, i can do my best to prioritize storybook issues that improve the dev experience for MUI, as I've already done in the case of #12734. i believe @tooppaaa is also interested in contributing.

[2020-11-22 18:13] buitrbao222 commented on #23598
If you don't mind me asking, how would I make a pull request? I've never contributed to an open source project before. I thought I could fork the codesandbox example then make a pull request from it but it is not linked to any GitHub repository.

[2020-11-23 02:24] dfsandoval opened #23681 "how to stop page reloading with material ui list item"
I have a problem, i am use material ui in a sidebar but the routes no working.  clicking on the menu reloads the entire page.

this is my code:

`import React, { useState } from "react";
import { NavLink as RouterLink } from "react-router-dom";
import List from "@material-ui/core/List";
import ListItem from "@material-ui/core/ListItem";

export const Sidebar = (props) => {
  const { menu } = useSe

[2020-11-23 03:47] benknight opened #23683 "[docs] Allow to follow system/OS preferences for dark mode"
The dark mode toggle on the docs website should have an option to follow system preferences which is selected by default. Dark/light modes are a first class feature on major desktop OS's now and many users do not permanently use one or the other, toggling between light or dark based on environment.

[2020-11-23 04:30] CSFlorin opened #23684 "Extending Menu component with more than one MenuItem gives "Element type is invalid...""
As can be seen in [this sandbox](https://codesandbox.io/s/floral-feather-vr2kg?file=/src/App.js), I have extended the Menu component by cloning its children and passing those through. I have two MenuItems and I get the error:

[code]

This does not occur when I have just one MenuItem, so I think there's some bug in the Menu component causing this.

- [x] The issue is present in the latest release.

[2020-11-23 06:26] jahglow commented on #23673
Yeah, works for us as well

вс, 22 нояб. 2020 г., 15:06 Olivier Tassinari <notifications@github.com>:

[2020-11-23 06:59] shadab14meb346 opened #23685 "In multi-select Autocomplete an optional prop `unique` can be there so that user can't select duplicate values in"
- Yes I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In multi-select Autocomplete an optional prop `unique` can be there so that user can't select duplicate values in
## Examples 🌈
![Peek 2020-11-23 12-27](https://user-images.githubusercontent.com/31199288/99935763-757ea100-2d87-11eb-97f6-fc2c7

[2020-11-23 09:07] Jack-Works commented on #21749
Hi! I have tried about this in alpha 17.

[code]

I found it didn't merged the declaration. And I found only variant are overwritable, it would be nice if size and color also does.

[2020-11-23 09:29] Storky commented on #14348
That was rusty answer from me. Probably doesn't really matter and both cases are okay, but better is:
`import { makeStyles } from '@material-ui/core/styles'`

There are BIG bugs generator in material imports, many components may be imported by "deeper" sources without any error, like
`import AppBar from '@material-ui/core/AppBar/AppBar';`
`import Toolbar from '@material-ui/core/Toolbar/Toolbar';`

[2020-11-23 09:31] #23681 closed

[2020-11-23 09:38] Nziranziza commented on #18136
I have added these but It doesn't seem to work for me
[code]

[2020-11-23 11:09] oliviertassinari commented on #18136
@Nziranziza It's expected, there isn't enough space to display the whole list below the select.

[2020-11-23 11:13] oliviertassinari commented on #21749
@Jack-Works Does it mean that `<Typography variant>` is working as expected for you and we could extend the approach to more props?

[2020-11-23 11:26] oliviertassinari commented on #23683
@benknight By default, the documentation follows the system/OS preference. However, once the value is changed, developers can no longer go back to this behavior without clearing their cookies.

YouTube likely do it better

<img width="315" alt="Capture d’écran 2020-11-23 à 12 24 21" src="https://user-images.githubusercontent.com/3165635/99956813-ee312d80-2d86-11eb-90f4-472a3582bece.png">

than F

[2020-11-23 11:28] oliviertassinari commented on #23683
How about we add a menu with 3 options and a 3rd icon?

[2020-11-23 11:40] oliviertassinari commented on #21749
It works great here: https://codesandbox.io/s/globalthemevariants-material-demo-forked-kqqly?file=/demo.tsx.

[2020-11-23 12:03] #23685 closed

[2020-11-23 12:07] oliviertassinari commented on #23685
tip: `getOptionSelected`, `filterSelectedOptions`.

[2020-11-23 12:09] #23684 closed

[2020-11-23 12:11] oliviertassinari commented on #23684
tip: cloneElement expects a React element, you have provided a React node https://codesandbox.io/s/gifted-minsky-oe9rd.

[2020-11-23 12:13] Jack-Works commented on #21749
Does it work if you move the `declare module` to a single file (so-called "ambient module" (a file that doesn't have a top-level import/export therefore it's inner declaration is global) in TS)? In a big project, it's not ok to define it everywhere when the component is used.

[2020-11-23 13:25] ldrick commented on #23627
Can this be fixed in Version 4, please?

[2020-11-23 14:33] iddanh opened #23687 "Select menu breaks when container has CSS transform property"
If I pass a container to the `MenuProps` of a Select component, and add `transform` to one of its parents , then the position and size of the menu  is set incorrectly.
I think this is happening because this creates a new stacking context? Although the issue isnt present when setting `position: absolute`, which also creates a new stacking context as far as I know...

See the screenshots and live ex

[2020-11-23 14:47] oliviertassinari commented on #23627
@ldrick Do you want to open a pull request for it on master?

[2020-11-23 15:20] oliviertassinari commented on #21749
I would except it to work from a different file, we use this approach with the lab to allow customizations with the theme.

[2020-11-23 16:50] weber93 opened #23689 "24hr Time in Time Picker"
We'd liked to be able to use the timepicker with the 24hr/military time input/display

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

A prop to select am/pm or 24hr format

## Motivation 🔦

Our users only work in 24 hour time

[2020-11-23 16:53] MaxMls opened #23690 "[TimePicker] Remove clock on desktop"
with material design

_for examples:_

 Ant Design

![](https://habrastorage.org/webt/yj/si/rx/yjsirxyu1krw-v3a0hww5a9mqre.png)

chrome default time picker

![](https://habrastorage.org/webt/bd/wl/6n/bdwl6nm_rar_ccdp6mqmnoq1mqw.png)

[2020-11-23 16:53] oliviertassinari commented on #23689
Closing for #23690

[2020-11-23 16:53] #23689 closed

[2020-11-23 16:53] weber93 commented on #23528
I'll second the issue. Our users on desktop hate the sun dial design. They want a way to input time simpler, easier. The sundial method feels very much like its only meant for touch screens

[2020-11-23 16:55] weber93 commented on #23690
Upvoting as well

[2020-11-23 16:58] Jack-Works commented on #21749
Strange, it doesn't work on my machine. I will try again later

[2020-11-23 17:00] vlados26 commented on #21663
Check array for non empty value in required prop works for me
[code]

[2020-11-23 17:10] oliviertassinari commented on #21663
@vlados26 While it solves most of the problem, changing the prop also has UI and a11y implications. For instance, it removes the asterisk at the end of the label. It would be better to remove the required attribute on the underlying `<input>` element. This should be good enough:

[code]

https://codesandbox.io/s/material-demo-forked-tenix?file=/demo.js:0-897

[2020-11-23 17:10] #21663 closed

[2020-11-23 17:40] vonkanehoffen opened #23691 "[Select] Outlined input doesn't set label label gap correctly"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

As demonstrated here: https://codesandbox.io/s/material-ui-issue-forked-29lbq?file=/src/Demo.js:0-954 (code taken mostly from the docs example [here](https://material-ui.com/component

[2020-11-23 17:45] CSFlorin commented on #23684
@oliviertassinari thanks! didn't realize it. Wish the react error was a bit more specific in that regard. Mapping over the children works: https://codesandbox.io/s/zen-volhard-73on9

[2020-11-23 17:51] masoodusmani opened #23693 "[Select] When disabled the <input> element misses the disabled attribute"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When you create a `<TextField select disabled />`, the `<input>` element does not have the disabled prop, classes and aria-disabled="true" are added to the div to mark it as disabled

[2020-11-23 20:16] mbrookes commented on #23683
Or preferably a settings panel.

[2020-11-23 20:18] oliviertassinari commented on #23693
@masoodusmani Thanks for the report, this looks accurate:

https://www.w3.org/TR/html51/sec-forms.html#element-attrdef-disabledformelements-disabled

What do you think about this diff? Do you want to work on a pull request? :)

[code]

[2020-11-23 20:22] oliviertassinari commented on #23683
A few examples:

- https://primefaces.org/primereact/showcase/#/slider

<img width="125" alt="Capture d’écran 2020-11-23 à 21 20 17" src="https://user-images.githubusercontent.com/3165635/100011209-b1d6ef00-2dd1-11eb-9abf-3c4b44f7d39e.png">

- https://vuetifyjs.com/en/getting-started/installation/

<img width="297" alt="Capture d’écran 2020-11-23 à 21 20 38" src="https://user-images.githubuser

[2020-11-23 20:40] oliviertassinari commented on #23627
Done #23692. It's unclear when we will release the changes. The simplest would be to wait around Q1 2021 https://twitter.com/olivtassinari/status/1328346262505205768. So we have enough deprecations to release.

[2020-11-23 20:45] oliviertassinari commented on #23687
@iddanh The root issue is identical to a bunch of other issues opened about the `Select`. We need to replace the usage of Popover with Popper.

[2020-11-23 20:48] oliviertassinari commented on #23691
@vonkanehoffen You reproduction is empty.

[2020-11-23 21:09] vonkanehoffen commented on #23691
Sorry, I'm an idiot! URL updated.

[2020-11-23 21:18] oliviertassinari commented on #23691
You should set the `label` prop to match the content of the `<label>` element: https://codesandbox.io/s/material-ui-issue-forked-gzeiq.

[2020-11-23 21:18] #23691 closed

[2020-11-23 21:30] vonkanehoffen commented on #23691
Ah no way! Thanks!

[2020-11-23 22:42] mbrookes commented on #23683
OT: [This](https://benknight.me/thoughts-after-finishing-sapiens) was great!

[2020-11-23 22:44] mbrookes commented on #23683
OT: @benknight [this](https://benknight.me/thoughts-after-finishing-sapiens) was great!

[2020-11-23 23:13] KyruCabading opened #23695 "[Fade] Allow visibility of children to be set manually"
I'm looking to be able to set the visibility of `Fade`'s children manually for a11y purposes. This might apply to other transition components in MUI as well.

I want the Fade's component content to still be _visible/focusable_ to screen readers even if `in` is still false.
Use cases;

- when a component is supposed to be animated-in based on a scroll position, but because of screen readers, that p

[2020-11-24 00:47] kahirokunn commented on #23627
I want to use of the combination of Typescript 4.1 and Material-UI as soon as possible, do you have any ideas?

[2020-11-24 02:13] CristianCucunuba commented on #10235
@abhisheksarka I don't think there is a `centered` variant, the prop `centered` will make it work but only for desktop

[2020-11-24 02:47] codingedgar opened #23696 "Accordion expansion width is greather than parent"
When I expand an accordion, that has a table inside, the width exceeds the parent.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

collapsed:
![image](https://user-images.githubusercontent.com/10213241/100040068-5dd60580-2de5-11eb

[2020-11-24 05:07] benknight commented on #23683
The least level of effort here would be providing no option at all and just following the `prefers-color-scheme` media query which is widely supported.

[2020-11-24 08:08] oliviertassinari commented on #23696
Please provide a minimal reproduction test case with v5. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-11-24 08:10] oliviertassinari commented on #23683
@benknight I don't think that it would be
 good enough, we need to demonstrate dark mode is supported without forcing developers to change their whole OS settings.

[2020-11-24 08:30] iddanh commented on #23687
@oliviertassinari Thanks for the reply. Can you link those other issues here?

[2020-11-24 08:31] Primajin commented on #23627
Ahh that's a bummer - I was also hoping for a soon v4 release of this as we will need to work on many upgrades like Typescript 4.1, react 17, ... and preparing for the Material UI v5 release 🎉 . Waiting until Q1 would mean also hold off on all other upgrades and then we would need to do all at once 🙈 - so if there is away (other than sprinkling @ts-ignores over all components) that would be much a

[2020-11-24 08:32] oliviertassinari commented on #23687
You can search them with the "Select" label, there are too many.

[2020-11-24 08:35] oliviertassinari commented on #23627
Yeah, in hindsight, I think that we will do something this week. We still need to add support for React v17 and we can release.

[2020-11-24 09:10] oliviertassinari commented on #23622
@zaneclaes I would propose the following diff, in case you want to work on a pull request :)

[code]

[2020-11-24 09:21] Jack-Works commented on #21749
I have a minimal reprod to show it didn't work.

[code]

[code]

Then add `"jsx": "react"` in the compilerOptions of `tsconfig.json`

[code]

[code]

Type of `variant` is `(JSX attribute) variant?: "inherit" | "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "subtitle1" | "subtitle2" | "body1" | "body2" | "caption" | "button" | "overline" | undefined`

And `cool` is not in it. So it's a type error.

[2020-11-24 09:59] masoodusmani commented on #23693
@oliviertassinari Looks good! I'd like to work on it, sure. I'll check the contributing guide today, and see if I can get set up later today.

[2020-11-24 10:07] #23637 closed

[2020-11-24 10:57] #23192 closed

[2020-11-24 11:39] aleksander351 opened #23698 "Popper inside a fixed element is cut off"
A popper at the bottom of the viewport in a fixed positioned container is cut off.

- [x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![popper-window-boundary](https://user-images.githubusercontent.com/7508670/100089008-4e8ca180-2e5

[2020-11-24 11:54] oliviertassinari commented on #23698
@aleksander351 Are you using the `Autocomplete` component? Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-11-24 12:07] oliviertassinari commented on #23695
@KyruCabading What would be wrong with doing?

[code]

[2020-11-24 12:09] #23492 closed

[2020-11-24 12:47] mnajdova commented on #17615
Was resolved by https://github.com/mui-org/material-ui/pull/23635, forgot to link it :)

[2020-11-24 12:47] #17615 closed

[2020-11-24 13:55] cdohotaru commented on #23585
@oliviertassinari Thank you for your feedback.
I managed to do some styling by overwriting the theme but not via classes.
I updated the code sandbox. Maybe you can give me a hint what I'm doing wrong?

[2020-11-24 14:07] #16843 closed

[2020-11-24 14:32] ItsWendell commented on #20012
What is the reason for the movement of system props to the SX property, instead of actually keeping them in the props? Is it to prevent prop collision? Performance? Etc. I kind of liked them being actual properties in your components, wonder why this decision was made, couldn't find anything about it.

In one of my projects, we've already migrated to V5.0 alpha and getting warnings now for the Box

[2020-11-24 14:41] oliviertassinari commented on #23627
https://github.com/mui-org/material-ui/releases/tag/v4.11.1

[2020-11-24 14:43] mnajdova commented on #20012
There are several reasons for this. The first one is props collision - as we want to support the system on all core components, there will likely be collisions, for properties like `color` for example. The second one is, we are implementing the `sx` as a superset of CSS, which means that it can support pseudo and nested selectors, so we cannot possibly generate all props for this. The third one, c

[2020-11-24 14:43] oliviertassinari commented on #23696
https://next.material-ui.com/

[2020-11-24 15:03] nainardev commented on #23683
@johnleider of Vuetify, any suggestions?

[2020-11-24 15:35] codingedgar commented on #23696
Reproducing the problem I finally caught the problem, it was my CSS Grid game, lol, sorry for bothering.

For anyone wondering: I set `display: grid` in the container of the `Accordion` but didn't set `grid-template-column: 100%` so the column was "unbounded" (I presume).

Thank you so much for your time and help, the codesandbox worked perfectly 👍

[2020-11-24 15:35] #23696 closed

[2020-11-24 16:38] Jhonatangiraldo commented on #22342
Hi guys. I have the same error. If `@emotion/react` is used in **material-ui 5** then that dependency should be in the material-ui package.json rather than in every project that installs it, doesn't it?

[2020-11-24 16:58] ShwetaPatel1 commented on #21146
Asking as a user and not as a contributor. I am facing this issue. How do I solve this?

[2020-11-24 17:01] oliviertassinari commented on #21146
@ShwetaPatel1 Do you have a reproduction?

[2020-11-24 18:30] KyruCabading commented on #23695
@oliviertassinari Thank you. adding style={{ visibility: 'visible'}} did not work. as the screen reader will still skip over it with those changes. I have however found a solution to still have the screen reader read over it.

https://www.loom.com/share/5bbf02422a14496baee1792dfb9269cb

using `aria-hidden='false'` works and should continue to work as long as the Fade component does not introduce a

[2020-11-24 18:41] oliviertassinari commented on #23695
Great, so the solution is `<Fade><Typography aria-hidden="false" /></Fade>`

[2020-11-24 18:41] #23695 closed

[2020-11-24 19:26] ShwetaPatel1 commented on #21146
For me the issue was labels as integer.

`const KEY_OPTIONS = [{value: 1, label: 1},
  {value: 2, label: 2},
  {value: 3, label: '3+'}];`

 I resolved like this.
`getOptionLabel={(option) => option.label.toString()}`

[2020-11-24 20:09] oliviertassinari commented on #23572
This problem seems to come every now and then https://github.com/mui-org/material-ui/issues/21146#issuecomment-733184903. I purpose we improve the DX with:

[code]

In practice, this mean that the autocompelte is empty instead of throwing, with strengthen the idea that its not correctly configured. When looking at the console, the next step should be clear.

[2020-11-24 21:44] aleksander351 commented on #23698
Yes, Autocomplete, I need more time to reproduce the example.

[code]

[2020-11-24 22:22] atnpcg opened #23706 "makeStyles typescript issue when using function type attribute on 4.11.1"
after updating to material-ui-core 4.11.1
I have a typescript error when using makeStyles using attributes in a function type

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I get a Typescript error saying props are not compatib

[2020-11-25 00:23] dantman opened #23708 "[Autocomplete] Support values other than raw options"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Right now (at least if you use `multiple`) Autocomplete/useAutocomplete the `value` that comes back in `onChange` is always the raw option data. i.e. If you use `options=[{value: 'a', label: 'A'}, {value: 'b', label: 'B'}]` and select the "A"

[2020-11-25 00:30] joshuambg opened #23709 "[Switch] preventDefault is ignored"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using `preventDefault` does not prevent the Switch UI from updating.

[code]

## Expected Behavior 🤔

Using `preventDefault` in the `onClick` handler should stop the element from upda

[2020-11-25 06:25] shayantabrizi opened #23710 "Tabs: Forced reflow"
In Tabs.js:
https://github.com/mui-org/material-ui/blob/79ebf71d31cca2c73143891960ea54ec1132bdeb/packages/material-ui/src/Tabs/Tabs.js#L137
, getBoundingClientRect is called. In our application, in the developer tools, the performance profile of our application complains that "Warning Forced reflow is a likely performance bottleneck". According to [this](https://gist.github.com/paulirish/5d52fb081

[2020-11-25 07:08] picosam commented on #16037
Thanks a lot @WillSquire -- one weird thing that happens is that when using your code, focus does not move to the next Material UI element on _Tab_. But also, when clicking outside the `StripeInput` field, it appears that the first click isn't taken into account; one must click a second time so focus would finally move onto the clicked item. Do you have an idea why this may be the case?

[2020-11-25 09:02] oliviertassinari commented on #23710
@shayantabrizi outside of Chrome's dev tools complaining about it, did you experience a performance issue?

Regarding the need for this method, it will go away with #9337.

[2020-11-25 09:38] eps1lon commented on #23709
Below the [Switch API props table] you'll find

which means that you're not preventing the default behavior of the click event on `<input />` but `<IconButton />`.

However, it doesn't seem like you can do this at the moment. Passing `onClick` to `inputProps` works only after the first state change: https://codesandbox.io/s/switch-click-prevent-default-tutkj

[2020-11-25 10:05] oliviertassinari commented on #23706
@eps1lon What do you think about this opposite read:

- Nody uses v5: [proof](http://npm-stat.com/charts.html?package=@material-ui/styled-engine,@material-ui/core).
- What we think we fix in v5 isn't stress-tested, so we don't know for sure
- We **extend** the maintenance policy in v4 to include important bug fixes and more importantly to stay up with the third-party dependencies (React, TypeScrip

[2020-11-25 10:08] shayantabrizi commented on #23710
It seems that there IS a performance issue. According to my profiling results, it seems that in some cases about half or even more of time is spent on "Recalculate Style" and "Layout" which are marked with "Warning Forced reflow is a likely performance bottleneck".

My version is: 4.11.0.
Screenshots:
![Sc2](https://user-images.githubusercontent.com/3591952/100212842-19508400-2f23-11eb-95ed-50ee5e

[2020-11-25 10:10] oliviertassinari commented on #23706
@atnpcg Do you have a reproduction on Codesandbox? It would help :)

[2020-11-25 10:14] oliviertassinari commented on #23710
@shayantabrizi Ok thanks. If you could provide a reproduction, that would help resolve it.

[2020-11-25 10:33] oliviertassinari commented on #23708
@dantman There is a 4th argument to the onChange event that allows handling this problem. It looks like there is an opportunity to better document it. What do you think about this change?

[code]

it will then automatically update the API:

[code]

[2020-11-25 10:34] dusandjovanovic commented on #22342
@mnajdova I have a question and I think this might just be right place to ask.

My team and I have considered migrating to version 5 for quite some time now since release dates of our projects and the upcoming version of `@material-ui` align closely. However, we can't afford the time needed to rewrite all of our styles with `@emotion`.

I would like to check whether the upcoming version would incl

[2020-11-25 10:36] eps1lon commented on #23706
If you find someone to do it, sure. I don't have time for it.

[2020-11-25 10:44] eps1lon commented on #23572
**if**. If it is clearly a bug it should throw not warn. For warnings you should always have scenarios that lead to a valid UI.

[2020-11-25 10:45] oliviertassinari commented on #23709
Should we solve the issue like this?

[code]

[2020-11-25 10:55] bukerok opened #23711 "[Tabs] Scroll buttons showed when content of the tab became smaller"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Scroll buttons appears when content of the tab becames smaller.

## Expected Behavior 🤔

No scroll buttons.

## Steps to Reproduce 🕹

https://codesandbox.io/s/material-ui-issue-forked

[2020-11-25 10:57] dantman commented on #23708
Forcing the developer to manually manage the values list doesn't feel like a great alternative. Using Select, TextField, etc... isn't this complex even when using the `{value, label}` pattern.

You mean store `country: [{value: 'US', label: 'United States'}, {value: 'CA', label: 'Canada'}]` in the form values when US+CA are selected and `countries.map(country => country.value)` it when doing an ap

[2020-11-25 10:59] oliviertassinari commented on #23711
@bukerok I can't reproduce, what do you see?

[2020-11-25 11:06] shayantabrizi commented on #23710
Unfortunately, I don't know what happens exactly. I just encounter a probable performance problem in our application which is not open-source. It just seems to me that getBoundingClientRect is better to be replaced with something else.

[2020-11-25 11:08] bukerok commented on #23711
![ezgif-6-d8ca7985f9ed](https://user-images.githubusercontent.com/5622751/100219926-ae557c00-2f27-11eb-9261-d1ed9379218a.gif)

[2020-11-25 11:10] oliviertassinari commented on #23708
We have a similar pain in this direction on #21489. Ok, why not. we could:

- use `getOptionValue` to feed the default behavior of `getOptionSelected`.
- use `getOptionValue` to later implement native integration with a `<form>`.

Feel free to work on it. At least, we have spotted a small issue with the generated documentation.

[2020-11-25 11:32] oliviertassinari commented on #23711
![gif](https://user-images.githubusercontent.com/3165635/100222161-fec5dd00-2f19-11eb-82b4-8193b40da383.gif)

Chrome 87 macOS/Windows10

[2020-11-25 12:03] Janpot opened #23712 "Nested buttons result in weird side effects"
First of all, I'm well aware this is invalid markup and I don't expect this use case to actually work. But running the following invalid markup in next.js results in unrelated divs getting duplicated. Reporting because it could be indicative of other bugs. Feel free to close otherwise.

[code]

- [x] The issue is present in the latest release. both in latest 4 and 5
- [x] I have searched the [issu

[2020-11-25 12:03] gpremkumar opened #23713 "Not able to clear mui chips for Autocomplete with multiple select option"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I have 2 Autcomplete fields added. On Changing the value in field 1: Type, I am resetting the options for field 2: Subtype based on the value selected in Type. I can able to see that t

[2020-11-25 12:06] oliviertassinari commented on #23712
@Janpot Does React display an error?

[2020-11-25 12:10] Janpot commented on #23712
Yes, forgot to mention that, React throws errors:

[code]

Which is as expected.

[2020-11-25 12:12] oliviertassinari commented on #16037
@picosam Did you try this approach? https://github.com/mui-org/material-ui/issues/16037#issuecomment-498664873

[2020-11-25 12:14] oliviertassinari commented on #23712
It could be an issue with React. I think that the opportunity cost is too high. Even if we solve it, developers would still need to handle this warning. Thanks for raising.

[2020-11-25 12:14] #23712 closed

[2020-11-25 12:16] Janpot commented on #23712
omg, you're totally right, I didn't even consider this not being a `material-ui` issue. The following shows the same behavior:

[code]

[2020-11-25 12:19] bukerok commented on #23711
It is very strange, because it reproduced on my machine, and all of my colleagues. Also tabs that you showed behave a bit strange it width fits content. I reproduced this behavior on a sreen wider than 600px (when `@media (min-width: 600px)` applied it begins to reproduce).

[2020-11-25 12:22] oliviertassinari commented on #23713
@gpremkumar You need to control the second combo box if you want this behavior: https://codesandbox.io/s/autocomplete-multiple-forked-onu5n.

[2020-11-25 12:22] #23713 closed

[2020-11-25 12:28] oliviertassinari commented on #23711
No differences 🤔

[2020-11-25 12:39] gpremkumar commented on #23713
Thanks for the quick response @oliviertassinari :+1:

[2020-11-25 12:46] bukerok commented on #23711
Is it possible for you to check on another machine or something, because it is reproduced on all machines available to me (colleagues PCs and Mac and iPad)?

[2020-11-25 13:36] picosam commented on #16037
Sorry @oliviertassinari I think I'm missing something. What's the difference between the sandbox and the code above? Do you mean I should try separating the card element into its 3 discrete fields to resolve the focus issue I'm talking about?

[2020-11-25 13:37] Robert-OP commented on #18018
Cheers @oliviertassinari - I don't get how `_document.tsx` (https://github.com/mui-org/material-ui/blob/next/examples/nextjs-with-typescript/pages/_document.tsx) is connected to the `_app.tsx` and how it solves the className error. Please, can you briefly explain this? 🙏

[2020-11-25 13:42] kelly-tock commented on #22342
Same question, the products at my company have a large amount of customizations/styles, and we would need to use both before upgrading. Especially since we're also upgrading react to version 17, and it sounds like you need to use 5 to have official support for react 17 and strict mode.

[2020-11-25 14:01] mnajdova commented on #22342
We are still going to support the `classes` prop on the core components, so you could still use JSS with `makeStyles` for them. You will need to make sure, however, to correctly configure the CSS injection order, as described here https://next.material-ui.com/guides/interoperability/

However for the theme's `styleOverrides`, we will support only the emotion/styled-components syntax. As we already

[2020-11-25 14:19] mr-bjerre commented on #19206
@ahmetcaglayan were you able to use `useAutocomplete` in combination with `Table` like in your codesandbox?

Currently the issue is that the input element has to be focused - otherwise `groupedOptions` won't contain any elements. I'm just wondering if there are any workaround for that since I'd love to use `useAutocomplete` as a filter for my table

[2020-11-25 14:25] oliviertassinari commented on #16037
I was wondering if you could reproduce the issue described on https://github.com/mui-org/material-ui/issues/16037#issuecomment-698339520 with https://github.com/mui-org/material-ui/issues/16037#issuecomment-498664873?

[2020-11-25 14:30] picosam commented on #16037
No, it only happens with the composed card element.

[2020-11-25 14:35] mnajdova commented on #23496
After going trough the comments, I think we should make two things:
- Regarding the actual issue, I think that https://github.com/mui-org/material-ui/pull/16439/files#r300456428 seems to solve the issue, so we should just open a PR for it and merge it... @cbravo would you be interested in opening a PR and covering this with a test? :)
- For extending the `sx` utility, I have open this PR - https:/

[2020-11-25 15:19] #23188 closed

[2020-11-25 15:30] effique opened #23715 "[DataGrid] Server-side pagination is not rendering rows on page 2+"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
DataGrid component switched to server-side-pagination ` <DataGrid
        rows={rows}
        rowCount={rowsCount}
        columns={columns}
        pageSize={limit}
        pagination

[2020-11-25 15:59] pusztaienike opened #23717 "TableCell component prop cannot be "div" with new typescript version"
With the new typescript version (4.1.2) I got error for add a component="div" prop to a TableCell item.
**ERROR in src/components/content-list/display-name-field.tsx:19:7
TS2322: Type '"div"' is not assignable to type '"td" | "th" | ComponentClass<TableCellBaseProps, any> | FunctionComponent<TableCellBaseProps> | undefined'.**

- [x] The issue is present in the latest release. (Maybe this bug was

[2020-11-25 15:59] oliviertassinari commented on #18158
I start to wonder if we even need a `Stack` component. Maybe:

[code]

is all we need.

[2020-11-25 16:07] numToStr commented on #18158
Yeah, this looks great.

I wonder how these props `spacingY` and `spacingX` will work?

[2020-11-25 16:18] oliviertassinari commented on #18158
@numToStr Maybe:

- `spacingX` would generate:

[code]

- `spacingY` would generate:

[code]

Maybe something we could host under https://next.material-ui.com/system/spacing/.

[2020-11-25 16:25] oliviertassinari commented on #23717
@pusztaienike Do you think you could reproduce on Codesandbox? It seems correct in https://codesandbox.io/s/basictable-material-demo-forked-onyfu?file=/demo.tsx.

[2020-11-25 16:26] atnpcg commented on #23706
hi @oliviertassinari  here is a sandbox with the new version:
https://codesandbox.io/s/loving-bash-mc7cu?file=/src/App.tsx
and here is the same code with 4.11.0
https://codesandbox.io/s/crimson-bird-4qu5o?file=/src/App.tsx

[2020-11-25 16:30] oliviertassinari commented on #23706
@atnpcg Thanks. Are you should about the previous TypeScript logic?

I was expecting to see

[code]

Why use the Pick?

[2020-11-25 16:41] atnpcg commented on #23706
@oliviertassinari,  of course it can be fixed by changing the code, the code I provided is jut a minimal example, the code I detected the issue was in a more complex project with more complex props.
but regardless there should not a breaking change in a patch version

[2020-11-25 16:44] TakumaKira commented on #22170
@oliviertassinari
I tried the diff on my end(Chrome 86.0 on Mac&Win10), but it didn't fix this. I still don't know where our results differ, but I can't ignore my result. I'll create PR in the direction of [this](https://github.com/mui-org/material-ui/issues/22170#issuecomment-714575711). Thank you for your comments!

[2020-11-25 16:44] oliviertassinari commented on #23706
If wasn't meant to be a breaking change. I guess want to comes to TypeScript, there isn't any semver? My question would be more about. Is your example correct? I don't really understand the motivation for using different types for the props. Could it actually surface a behavior that was previously wrong?

[2020-11-25 16:48] atnpcg commented on #23706
@oliviertassinari , that's a good question!, I think we are using pick all over our project, thinking  that we don't need all the props of a given type for each function.
but I haven't check what's the expected behavior for makeStyles functions, (if any function can receive different props, or it has to be the same)
Thanks

[2020-11-25 19:00] dcsan opened #23720 "peer deps"
latest version (4.0) of create-react-app uses react17

npm WARN @material-ui/core@4.11.1 requires a peer of react@^16.8.0 but none is installed. You must install peer dependencies yourself.

➜  cradmin git:(tadmin) ✗ npm list @material-ui/core
tadmin@0.1.0 /Users/dc/dev/ten/puzzleparty/cradmin
└── @material-ui/core@4.11.1

[2020-11-25 19:28] effique commented on #23715
Hi, I'm very sorry if there is something obvious I'm not seeing, but it's my first reported issue on github - I see it has been labeled as duplicate, where can I see the issue it duplicates, so I can follow it's progress?

[2020-11-25 19:32] oliviertassinari commented on #23720
Duplicate of #23306

[2020-11-25 19:32] #23720 closed

[2020-11-25 19:38] maccuaa commented on #23706
I think this happens with any function in `makeStyles`. After upgrading to 4.11.1 my component would no longer compile which is not doing anything out of the ordinary:

[code]

The TS error is:

[code]

[2020-11-25 19:40] oliviertassinari commented on #23306
We already had 3 duplicated issues.
I would be in favor of applying https://github.com/mui-org/material-ui/issues/23706#issuecomment-733605597, only for the sake of having more developers using React 17 and learning more about the potential problems it creates, so we can fix them in v5 sooner.

[2020-11-25 19:44] oliviertassinari commented on #23706
@maccuaa The argument of makeStyles() is designed to be an object.

[2020-11-25 19:54] maccuaa commented on #23706
Ah ok. Changing it to this fixed the issue:

[code]

But to @atnpcg's point, my first snippet worked fine in 4.11.0 but broke in 4.11.1 which is not something you expect to happen in a patch release. But I guess the original implementation was wrong so the fix in 4.11.1 breaks everyone who's been using it wrong this entire time 😛

[2020-11-25 22:23] vdjurdjevic commented on #22342
Can you give us example of how customization of complex components will work with styled API? If I want to change `list` class on `Menu` component for example, how will that work with styled api. I know I can generate class with emotion, and set `classes.list`, but since lot of people prefer styled-components and styled api, I am just curious what would be solution for that.

[2020-11-25 22:40] mnajdova commented on #22342
@vdjurdjevic you may use the list’s global classname from selecting it when defining the styles. For the components with Portals, we are likely to use the components prop API and add these styles on the Portal styled component.

I’ll try to create a small code sample tomorrow to illustrate this.

[2020-11-25 22:47] vdjurdjevic commented on #22342
That would be great :) Thanks :)

[2020-11-25 23:45] dcsan commented on #23306
i think create-react-app is now defaulting to react v17, and it looks from above like nextJS does too. so expect a lot more duplicated issues I guess?

[2020-11-26 02:24] tanveerNet opened #23727 "Speed Dial Button doesn't change bgColor doesn't change in Dark Theme"
I have just added the MUI SpeedDial to my  application. Everything seems to be working other than the background color of the button does not lighten in the Dark theme, as it does on the Demo page.

I have seen other issues like this where the solution has been to modify the SpeedDialAction.js file itself inside the package. The responses were more than a year ago. Is there a better way to add sup

[2020-11-26 03:38] weilao commented on #22342
Vote for `styled-components`!

[2020-11-26 04:49] pat154 opened #23728 "Can't share Data Grid's components states without triggering re-renders"
Firstly, big thanks for such a great library! This is my first time using it and it's a pleasure to use. I will most likely be moving to XGrid too as I have my eye on some roadmap features!
--

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current B

[2020-11-26 07:03] petermikitsh commented on #20042
I noticed this feature landed in XGrid, and wanted to propose reconsidering this use case.

Example: https://material-ui-x.netlify.app/storybook/?path=/story/x-grid-tests-styling--small

<img width="282" alt="Screen Shot 2020-11-25 at 10 43 01 PM" src="https://user-images.githubusercontent.com/1571918/100316587-af120080-2f6f-11eb-8d61-1f7536eeb5f0.png">

<img width="215" alt="Screen Shot 2020-11-2

[2020-11-26 07:54] mnajdova commented on #22342
@vdjurdjevic here is a very simple example of how It would look like - https://codesandbox.io/s/reverent-blackburn-8yhym?file=/src/App.js Please note that we are going to expose unstyled & styled version of the Menu component as well, so things won't be exactly like this, but this will give you an idea of how the overrides can look like...

We are already doing this, for the Slider component we ex

[2020-11-26 08:47] oliviertassinari commented on #20042
@petermikitsh The feature isn't specific to XGrid, it's also in DataGrid. The implementation of this doesn't seem to be very complex, at least from looking at:

https://github.com/amirfefer/react-ellipsis-with-tooltip/blob/master/src/index.js

[2020-11-26 08:52] oliviertassinari commented on #23727
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-11-26 08:59] ChrisSargent commented on #22342
FYI, I switch over our codebase from styled-components to @emotion and it was relatively painless. Biggest issue was that @emotion doesn't support the `.attrs` function from SC. But actually, I much prefer using more 'normal' css vs having **everything** has a new component (also see to have a lot less StyledXXX soup in React devtools).

[2020-11-26 12:17] stefan-cross opened #23730 "Material UI for Figma refund"
Hello,

I was trying out the Material UI kit for figma https://material-ui.com/store/items/figma-react/ however I was unable to ge this to fit with my workflow. I fugured I could give it a whirl to find out considering the 100% money back guarantee stated on the page. When I requested a refund via the contact info on the page, it links to the  figma@material-ui.com. However when I contact this add

[2020-11-26 12:48] mnajdova commented on #23218
I wouldn't like to complicate the logic too much just for adding a warning for this use-case. I'd rather wait to see if the community will ask for something like this. Will close for now

[2020-11-26 12:48] #23218 closed

[2020-11-26 12:58] mnajdova commented on #17324
One year late, but if possible would like to ask for clarification for the actual use-case on this 😄 Now that we support the `sx` prop on the Box, the `transform: translate(10px)` can be added as part of it as any other css rule, for example:

[code]

Do you really see a big value in adding new keys for it?

[2020-11-26 13:16] oliviertassinari commented on #17324
Sounds good enough :)

[2020-11-26 13:29] blomqma commented on #20391
I was able to fix this by setting the following overrides on `MuiInputLabel-shrink` class:
[code]

[2020-11-26 14:31] oliviertassinari commented on #23730
Closing, this GitHub repository is meant for tracking bug fixes and feature requests around the open source components. Not for support on commercial products.

[2020-11-26 14:31] #23730 closed

[2020-11-26 14:47] rohan-buchner opened #23735 "Is the "Who's using MUI" list up to date?"
I know I'm breaking every issue rule, so feel free to instant close it. I just dont know how else to reach out to any of the project maintainers (I also know this exact question would get slaughtered on StackOverflow, and I don't want to trash my rep there either....)

We're having a massive debate at my company about weather we want to use MUI... I'm (and most/some engineers) are pro using it, an

[2020-11-26 14:56] oliviertassinari commented on #23735
The list should still be up to date. I have started to run user-interviews with these companies. You will find the biggest users on internal applications (>50% of the code written by developers is for internal usage). I'm not sure I can disclose any of the information that they shared with me. In the public domain, you can find Unity on https://github.com/mui-org/material-ui/issues/22426#issuecomm

[2020-11-26 15:06] oliviertassinari commented on #23735
This should be possible too with https://www.npmjs.com/package/@material-ui/unstyled in v5. The slider gives an overview of what it will look like to eject from Material Design. We plan to use this package to deliver a second design system.

[2020-11-26 15:25] oliviertassinari commented on #22426
- Product: Docker Dekstop Dashboard
- The problem solved: Custom app interface
- Company or organization: Docker
- Link: https://docs.docker.com/get-docker/
- Point of contact: @rumpl
- Screenshot:

<img width="1242" alt="Capture d’écran 2020-11-26 à 16 22 21" src="https://user-images.githubusercontent.com/3165635/100368279-af5bdb80-3003-11eb-8dd0-19a4b56d7980.png">

[2020-11-26 15:32] #22170 closed

[2020-11-26 15:42] rohan-buchner commented on #23735
Oh wow! So does this mean, we can still use the `createMuiTheme` but instead of having to override, the theme can provide the raw/base styles? E.g Designers get full control over the look and feel, and devs get the MUI "language" & conventions in the code? Thank you for all the above. It helps a lot.

[2020-11-26 15:52] oliviertassinari commented on #23735
@rohan-buchner By default, the unstyled components have no theming nor styling. This allows having very light components, e.g. a Slider under [5kB gzipped](https://bundlephobia.com/result?p=@material-ui/unstyled@5.0.0-alpha.15), compared to [rc-slider](https://bundlephobia.com/result?p=rc-slider).
So you would need to wrap each component to be able to use the theme, system, etc. But I assume that

[2020-11-26 15:54] #16379 closed

[2020-11-26 16:18] ErikParso commented on #9919
Hello,

Using Select.MenuProps.MenuListProps.component is a good hint, but:
1. definition for components property is missing (at least in my case)
2. it was not working with select menus (content was scrollabe within popover-paper)

In final solution i had to set MuiSelect.MenuProps.PaperProps.component. Definition is available for this and if i set it to custom scrollbar it is working as expected

[2020-11-26 16:19] oliviertassinari commented on #9919
@ErikParso Thanks for sharing! Related to https://github.com/mui-org/material-ui-x/issues/510.

[2020-11-26 18:47] AGPX opened #23738 "[TextField] Document how to hide label in FilledInput"
The TextField top padding is wrong when variant is 'filled' and no label is specified.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When variant = 'filled' and no label is used, the top padding of the TextField seems to still c

[2020-11-26 19:04] devjuliet commented on #23650
Hello! I would like to work on this issue. Starting today

[2020-11-26 20:58] mbrookes commented on #23735
@rohan-buchner Netflix started to develop their own: https://materialish.js.org/components/avatar/, but dropped it for Material-UI.

Amazon use Material-lUI for internal tools. There was a comment from a developer on spectrum.chat (when we were using that) that they had some big projects under way.

Spotify (try shift-reload on the home page) use it for internal tools, but [backstage](https://back

[2020-11-26 21:23] fbaeta opened #23739 "createMuiTheme overrides not working since 4.9.6"
`createMuiTheme(a, b)` overrides not working since 4.9.6

Since #20095 & #20100, the isPlainObject has been modified.

https://github.com/mui/material-ui/blob/b935d3e8f48b5d54f6cd08154fe2f7aa035ab576/packages/mui-utils/src/deepmerge.ts#L1-L3

Testing `constructor`property is not multi-frame proof.
This makes `deepmerge` do not merge incoming properties from a given `source` when `source` is an Obj

[2020-11-26 21:32] oliviertassinari commented on #23739
I'm not sure we want to support this multi-frame case. How did you encounter this situation?

[2020-11-26 21:59] thiagohoh commented on #10235
I modified @abhisheksarka code to:
[code]
And it worked.

[2020-11-26 22:25] oliviertassinari commented on #21111
@lancegliser I don't follow the logic around the commercialization aspects of this issue "Stronger initial hook, before moving to a purchase". My comment in https://github.com/mui-org/material-ui/issues/21111#issuecomment-631037264 might have led you down this road. However, I think that better integration with Storybook can be interesting independently.

At this point, I think that what's importa

[2020-11-26 23:15] #23683 closed

[2020-11-27 02:38] marthaerm commented on #23687
Hi! :) Is someone working on this issue? I would like to work on it.

[2020-11-27 03:12] mayralgr commented on #19796
@oliviertassinari is this issue good to take? I would like to give it a try

[2020-11-27 03:14] david12481 opened #23741 "(Weak/images)"

[2020-11-27 03:36] rohan-buchner commented on #23735
YouTube recommend this this moring :O

https://youtu.be/hqtezqYSQUU

At 3.30 they talk about MUI + Hawkins.

[2020-11-27 08:08] fbaeta commented on #23739
https://github.com/mui-org/material-ui/pull/23740#issuecomment-734486617

Before all, thanks for your fast reply!

I understand that edge cases do not justify increasing bundle size 👍.

I've created a PR just to show the case, the goal was not really o be merged ;) (the isPlainObject code is borrowed from lodash).
I wanted to point out that:
- Using `constructor` to test if it's a plain object is

[2020-11-27 09:33] mnajdova commented on #21749
@Jack-Works here is a working example - https://codesandbox.io/s/autumn-glade-zvl5n?file=/src/declarations.d.ts
The thing you were missing in the `decl.d.ts` is disabling automatic exports like this:

[code]

Let me know if this will resolve your issue.

[2020-11-27 10:00] eps1lon commented on #23739
We support it everywhere else. Why change it in this particular instance? That sounds way to confusing for library users unless you are familiar with the implementation of the library which defeats the purpose of using a library.

[2020-11-27 10:23] vdimitroff commented on #9342
Still no solution to the problem as I see ... just hit the issue of needing extra jss plugins

[2020-11-27 10:34] oliviertassinari commented on #22426
- Product: Netflix Studio
- The problem solved: Design system (hawkins). Focus on build great products, no time to write components again and again. The bespoke approach [was tried](https://github.com/jamesplease/materialish) but seemed to have a too high opportunity cost.
- Company or organization: Netflix
- Link: https://www.youtube.com/watch?v=hqtezqYSQUU
- Business case: Power all the tools re

[2020-11-27 11:05] dennisat commented on #12251
I found one here https://iconify.design/icon-sets/mdi/google.html

[2020-11-27 11:11] oliviertassinari commented on #9342
@vdimitroff Material-UI allows providing custom JSS plugins. The issue was about changing the default ones.

[2020-11-27 12:24] oliviertassinari commented on #23706
Closing as the change while breaking was surfacing incorrect usages, at least, not how we designed the API to be used. Thanks for raising!

[2020-11-27 12:24] #23706 closed

[2020-11-27 13:01] oliviertassinari commented on #23739
@eps1lon I'm asking because it doesn't seem to be something we fundamentally prevent from doing. It's not blocking, developers can bypass the `createMuiTheme`.

[2020-11-27 13:10] oliviertassinari commented on #19796
@mayralgr It's definitely good to take, make sure you start from the `next` branch. We have also the opportunity to introduce breaking changes if they offer improvements in exchange, but we would need to evaluate them, case by case as they are costly too.

[2020-11-27 13:27] mbrookes commented on #23735
😆 Google – all seeing, all knowing ("Godgle"?) 😅

Thanks for the link, I'd forgotten it's called Hawkins.

[2020-11-27 13:31] JamesGreenaway commented on #23306
Can someone explain how I install an older version of create-react-app that uses React 16? I've tried: `npx create-react-app client --typescript --scripts-version react-scripts@3.4.4`  and I get: `Error: Cannot find module 'cra-template'`

[2020-11-27 14:54] pusztaienike commented on #23717
I have tried to reproduce it on codesandbox without success. It is a strange behaviour in our monorepo. Please give us some days to find out what the problem is before you close this issue. Thank you!

[2020-11-27 15:11] Krasnopir commented on #23290
have this problem too.
webpack 5.8.0
react 17.0.1
typescript 4.1.2

@material-ui/core 5.0.0-alpha.17
@material-ui/styled-engine 5.0.0-alpha.16

mui
ERROR in ./node_modules/@babel/runtime/helpers/esm/toConsumableArray.js
:
Module not found: Error: Can't resolve './arrayWithoutHoles' in '/usr/src/app/node_modules/@babel/runtime/helpers/esm'
---
Module not found: Error: Can't resolve './iterableToArr

[2020-11-27 15:25] Krasnopir opened #23744 "webpack 5. ERROR @material-ui/styles"
webpack 5.8.0
react 17.0.1
typescript 4.1.2

@material-ui/core 5.0.0-alpha.17
@material-ui/styled-engine 5.0.0-alpha.16

when i'm trying to build, i get errors

ERROR in ./node_modules/@babel/runtime/helpers/esm/toConsumableArray.js

Module not found: Error: Can't resolve './arrayWithoutHoles' in '/usr/src/app/node_modules/@babel/runtime/helpers/esm'
...
Module not found: Error: Can't resolve './i

[2020-11-27 16:12] kishorenaib commented on #22426
Product: Memory
The problem solved: Free online educational spaced repetition app.  We use MUI for the entire front end, back end, and even quick adhoc SQL -> Datagrid reporting.
Company or organization: Memory.com
Link: https://www.memory.com
Screenshot:
![Screenshot from 2020-11-27 13-33-14](https://user-images.githubusercontent.com/32558514/100467834-1b554700-30cb-11eb-93e0-cb990f72fbbd.png)

[2020-11-27 17:10] dominictwlee commented on #20188
@oliviertassinari I'll try implementing the customizable thumb.

[2020-11-27 17:21] eps1lon commented on #23744
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

I suspect this is caused by an older version of `@babel

[2020-11-27 17:46] Krasnopir commented on #23744
I understand, but i do not understand, how i can reproduce webpack build on codesandbox.
Error get on build with webpack 5.
In my project i do not use babel, and no one package other then MUI packages have not babel in dependencies, so i think the problem is in mui packages dependencies. I see that mui packages have @babel/runtime v ^7.4.4 in dependencies.
actual version now is 7.12.5. Many proble

[2020-11-27 18:34] marthaerm commented on #23738
@oliviertassinari is this issue good to take? I would like to give It a try!

[2020-11-27 18:37] oliviertassinari commented on #23738
@AGPX There is a feature for this, but it's barely documented:

**Before**
<img width="226" alt="Capture d’écran 2020-11-27 à 16 48 56" src="https://user-images.githubusercontent.com/3165635/100466007-85241f80-30d0-11eb-81ed-46986159777d.png">

**After**
<img width="225" alt="Capture d’écran 2020-11-27 à 16 49 06" src="https://user-images.githubusercontent.com/3165635/100466227-df24e500-30d0-1

[2020-11-27 18:41] marianayap commented on #23363
Hello! I'm interested in this issue and I'll like to know if is already taken to see the chance of taking it.
Thank you! I'll wait for the answer

[2020-11-27 19:04] #23603 closed

[2020-11-27 19:07] marthaerm commented on #23677
Hi! @oliviertassinari is this issue good to take? I would like to give it a try :) This would be my first contribution.

[2020-11-27 19:12] oliviertassinari commented on #23677
@marthaerm Mind that this issue isn't straightforward. We recommend issues with the "good first issue" label to get started https://github.com/mui-org/material-ui/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2020-11-27 19:33] oliviertassinari commented on #23363
@marianayap Thanks for the interest, the "first good issue" was added because https://github.com/mui-org/material-ui/issues/23363#issuecomment-720091272 seemed to be a straightforward solution.
However, @eps1lon challenged it in #23439 As for as I understand the situation, this comment summarizes the options and tradeoff: https://github.com/mui-org/material-ui/pull/23453#issuecomment-724183135.
I'

[2020-11-27 19:57] oliviertassinari commented on #23738
Maybe something like this?

[code]

<img width="869" alt="Capture d’écran 2020-11-27 à 20 57 42" src="https://user-images.githubusercontent.com/3165635/100481012-363bb180-30f3-11eb-9545-bbb2613486f4.png">

[2020-11-27 20:00] #23727 closed

[2020-11-27 20:01] oliviertassinari commented on #23711
@mnajdova Considering you are on PC, it could be worth having a look.

[2020-11-27 20:06] marthaerm commented on #21142
Hey! @oliviertassinari I would like to give this issue a try!

[2020-11-27 20:11] oliviertassinari commented on #21142
@marthaerm Sounds great

[2020-11-27 20:15] saiki4116 commented on #21154
@oliviertassinari I am picking this up

[2020-11-27 20:18] AGPX commented on #23738
Excuse me, but if a label is not specified, why do I have to explicitly hide it? This is not expected behavior the current one.

[2020-11-27 20:24] oliviertassinari commented on #23738
@AGPX You are right, the prop was introduced in #16671, we can polish it more. For instance, Textfield should likely set the prop automatically.

[2020-11-27 21:03] orest22 opened #23747 "[Select] - First options receives .Mui-focusVisible always"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There is some issue with `:focus-visible` for Select. For the first time when there is no value selected `.Mui-focusVisible` class is getting applied to the first item in a list. This

[2020-11-27 21:09] orest22 commented on #23747
![Screen Recording 2020-11-27 at 04 07 06 PM](https://user-images.githubusercontent.com/1497502/100484543-df21e680-30ca-11eb-9c89-d6fba9d58e1e.gif)

[2020-11-27 21:30] IvanSivak commented on #23744
I'm having similar errors, after upgrading to the latest webpack 5.8.0 (I migrate from v.4).

[code]

[2020-11-27 21:34] IvanSivak commented on #23744
I'm having similar errors, after upgrading to the latest webpack 5.8.0 (I migrate from v.4).

[code]

Babel and other devDependencies have been upgraded to the latest versions as well.

[2020-11-27 21:59] kutnickclose commented on #21111
for point 2, I:

1.  copied https://github.com/sakulstra/material-ui/pull/2/files
2. Separately, I did a Create React App w/ typescript and added Storybook 6
3. manually copied over the generated results from point 1 above.  (note: I also had to change https://github.com/sakulstra/material-ui/pull/2/files#diff-091fd7e09f049e1b700bd85156091bf83c38d3edec473feeea4a200f9753f857R23 slightly to get it t

[2020-11-27 22:21] mbrookes commented on #21111
It might be overkill, but it seems like you could repurpose much of https://github.com/mui-org/material-ui/tree/next/framer/scripts to create the annotated wrapper shown in https://www.npmjs.com/package/@storybook/addon-controls#my-controls-arent-being-auto-generated-what-should-i-do. It does something similar for Framer controls.

[2020-11-27 23:05] shilman commented on #21111
We might be able to fix this as part of improving MUI support in Storybook. @mbrookes your workaround sounds great as a short-term fix.

[2020-11-28 00:16] johnrichardrinehart opened #23750 "Broken Build (Bad Internal Dependencies?)"
After upgrading to @material-ui/core@npm:5.0.0-alpha.17 my [minimum working example fails to build](https://github.com/johnrichardrinehart/issue_material_ui).

- [x] The issue is present in the latest release. (**technically the alpha release**)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current

[2020-11-28 00:22] mbrookes commented on #23750
Did you follow https://next.material-ui.com/getting-started/installation/#npm?

[2020-11-28 00:31] johnrichardrinehart commented on #23750
Nope.... I can confirm that following those instructions definitely fixed it. Sorry that I missed that. I was following the instructions from the `README` of the `next` branch.

Note for anyone who comes later. This behavior changed in [`v5.0.0-alpha12`](https://codesandbox.io/s/usage-forked-rvur2).

[2020-11-28 00:31] #23750 closed

[2020-11-28 00:35] mbrookes commented on #23750
The error message also gave some clues:

"Error: @material-ui/styled-engine tried to access @emotion/styled (a peer dependency) but it isn't provided by your application"

Feel free to update the README. It looks like the upgrade guide is also missing this info. 🙂

[2020-11-28 00:50] johnrichardrinehart commented on #23750
The error messages is what made me think that someone forgot to update the `package.json` for `@material-ui/core`. But, I see the intention.

Noted about the PR. I'll do my best to find the time.

[2020-11-28 02:04] mbrookes commented on #23750
A peer dependency means that a package (`@material-ui/style(d)-engine` in this case) expects the dependency to be provided by someone else† (the "peer" in peer dependency).

So "it isn't provided by your application" points to the fact that your application needs to include it as a dependency.

†The reason for this being that you have the option to use styled-components instead of emotion, so maki

[2020-11-28 02:44] johnrichardrinehart commented on #23750
@mbrookes Payback: https://github.com/mui-org/material-ui/pull/23751/files .

Okay, I think I understand. I dug around the source code and found [material-ui-styled-engine-sc](https://github.com/mui-org/material-ui/tree/next/packages/material-ui-styled-engine-sc) and [material-ui-styled-engine](https://github.com/mui-org/material-ui/tree/next/packages/material-ui-styled-engine). I guess if I was t

[2020-11-28 02:49] johnrichardrinehart commented on #23750
Update: I just read [this](https://github.com/mui-org/material-ui/issues/22342) and I understand that both `emotion` and `styled-components` are new features. However, I still have my two questions.

[2020-11-28 03:18] bryndyment opened #23752 "docs: broken "React JSS" link"
https://github.com/mui-org/material-ui/blob/master/docs/src/pages/guides/interoperability/interoperability.md

↑ `React JSS` link is broken

https://material-ui.com/guides/interoperability/#react-jss

[2020-11-28 05:02] tarwich commented on #16704
Removing the tooltips on https://codesandbox.io/s/upbeat-morse-j7n19?file=/src/components/course-map.tsx:4787-5348 drops the render from 8s to 3.5s.

So, essentially it seems like using Box for custom CSS

1. Will work with limited success if you're rendering < 1k `<Box>` elements at a time
2. Prevents you from targeting all instances of a component for live CSS editing

I tried googling `the expe

[2020-11-28 09:17] vdimitroff commented on #9342
Yes, slightly later I found out the section in the docs. Thanks!

[2020-11-28 09:59] oliviertassinari commented on #23750
1. #23401 we haven't found a better tradeoff yet. emotion has singletons like React, it needs to be peer dependencies to avoid conflicts.
2. #22342 emotion has, overall, better technical characteristics than styled-components.

[2020-11-28 10:00] oliviertassinari commented on #23752
@bryndyment Thanks for raising, we have fixed it in v5 in https://next.material-ui.com/guides/interoperability/

[2020-11-28 10:00] #23752 closed

[2020-11-28 10:02] #23698 closed

[2020-11-28 10:39] oliviertassinari commented on #23747
@orest22 Interesting, it's because of this line:

https://github.com/mui-org/material-ui/blob/5115f08e29babb11481a190d68e7fd045f3ce804/packages/material-ui-utils/src/useIsFocusVisible.js#L105

You can reproduce using the native CSS feature: https://codesandbox.io/s/material-ui-issue-forked-mk5wi?file=/src/Demo.js. I suspect a bug in Chrome.

[2020-11-28 11:20] johnrichardrinehart commented on #23750
@oliviertassinari Thanks for answering. That's clear. I appreciate it.

[2020-11-28 11:29] rajzik opened #23753 "Material design now support multiple border radius for small/medium/large components"
Currently in theme there is only one border radius in [shape.js](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/styles/shape.js)

reference from material.io:
https://material.io/design/shape/about-shape.html#shape-customization-tool
https://material.io/develop/web/theming/shape

[2020-11-28 11:39] oliviertassinari commented on #23753
@rajzik This is on purpose and for simplicity. Developers & designers can easily customize the value in the theme, for each component. Using small vs. medium vs. large would be arbitrary.

[2020-11-28 11:39] #23753 closed

[2020-11-28 12:03] EmreErkorkmaz commented on #23306
Solved the case: Thank you

[2020-11-28 15:53] tripolskypetr commented on #19556
If somebody is going to create app with [TypeScript Namespaces](https://www.typescriptlang.org/docs/handbook/namespaces.html), this might be really useful. The full typing for global object extension

[code]

[bundle and typing](https://github.com/mui-org/material-ui/files/5610828/material-ui.zip)

[2020-11-28 17:51] mbrookes opened #23755 "[ToggleButton] Add a color prop"
## Summary 💡

Add a color prop to ToggleButtonGroup to allow the active button to have an alternative color

## Examples 🌈

One use-case: #23754

![image](https://user-images.githubusercontent.com/357702/100517773-2b316180-3185-11eb-83f3-f91097cb2668.png)

(Note that this example also uses a darker color than the default for the unselected text and icons.)

Edit: It seems there's an example in the

[2020-11-28 21:30] tarwich commented on #22342
Emotion seems clearer to me than Styled Components, AND they have a
compatibility layer for Styled users. What I like most is keeping the styles
with the component (note: I'm not taking theming into account here, but it's
also pretty inline)

[code]

With this, my focus never has to leave the place where I'm working. Even the
ability to merge styles is very easy for me to wrap my head around

[cod

[2020-11-28 23:26] eps1lon commented on #23747
Thanks for the detailed report.

Definitely needs some investigation how this happens. Only then can we know whether this is a chrome bug or Material-UI bug.

[2020-11-28 23:28] eps1lon commented on #23744
Make sure you only have a single version of `@babel/runtime`. Your error message indicates that you have multiple.

[2020-11-29 06:59] rohan-buchner opened #23757 "[CONTRIBUTING] Document starting the documentation sooner"
I'm struggling to figure out how to get a dev instance of MUI running on my local machine.

**Context:**
It all started from [this question](https://stackoverflow.com/questions/65038842/material-mui-custom-variant-that-honours-style-and-palette-rules/65047868#65047868) I asked on StackOverflow.

So far I've run the `yarn start` from the documentation site, which does run the site... but when, for

[2020-11-29 07:20] Krasnopir commented on #23744
Everything works perfectly. Who has the same build error, try to delete package-lock.json file, clean /dist folder
and delete all node_modules folder.
When i reinstall all packages and start my builds without cache, there were no more errors.

@eps1lon Sorry for the false alarm. Think issue can be closed

[2020-11-29 07:20] #23744 closed

[2020-11-29 09:15] satyadeeproat commented on #23709
Looks like a small change. If no one is working on it, then I can do it. This will be my first contribution.
As far as my understanding, when you pass
onClick={(event)=>{event.preventDefault();}}
the state will change from checked to uncheck, but we don't want that right?

[2020-11-29 09:17] oliviertassinari commented on #23709
@satyadeeproat this sounds accurate. The objective is to reproduce the behavior of a native input checkbox. We will need to add a test case for it.

[2020-11-29 09:19] satyadeeproat commented on #23709
Ok. let me do it. Will add a test case too.

[2020-11-29 09:53] oliviertassinari commented on #23757
You need one command `yarn && yarn docs:dev`. It should be covered in https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md#trying-the-changes-on-the-documentation-site

[2020-11-29 11:16] jiazhengxing commented on #23337
I have a question about the introduction of custom svg in tabs, and switch tabs, but the icon color does not change. How to solve this problem?

eg：
import SvgIcon from "@material-ui/core/SvgIcon";
import { ReactComponent as Cash } from "./cash.svg";
import PhoneIcon from "@material-ui/icons/Phone";
import FavoriteIcon from "@material-ui/icons/Favorite";
const Home = () => (
  <SvgIcon>
    <Cash

[2020-11-29 13:31] mbrookes commented on #23757
That's two commands. 😁

You need one command: `yarn start` (which does the same thing). But @rohan-buchner has already done that.

Instead, the initial question seems to be about adding a new page to the docs (docs/pages/customisation/variants). @rohan-buchner you'll need to restart the docs after adding a new page js file, and add it to `docs/src/pages.js if you want to add it to the menu. For pu

[2020-11-29 14:06] sditcshj opened #23779 "Keyboard Time Picker Time Show Issue"
## Expected Behavior 🤔

How to show the saved "HH:SS" time format in KeyboardDateTime Picker?
I have the value from DB like **"10:30"** I want to show the **10:30** as preselected.

how to set the default value?

Anyone can help me with this?

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.11.0  |
| React       |     16.13.1    |
| Browser     |    Ch

[2020-11-29 14:09] oliviertassinari commented on #23757
@mbrookes Oh ok. So it was a question about Next.js.

[code]

[2020-11-29 14:33] #23779 closed

[2020-11-29 14:34] oliviertassinari commented on #23779
@sditcshj We don't support the v4 TimePicker component anymore. We have move ongoing work to v5.

[2020-11-29 15:40] aakers commented on #18443
Latest version of what?  I have the latest version of Autocomplete that I see published and the newest versions of React and React DOM.

[2020-11-29 15:56] ziedtouibi opened #23780 "[TablePagination] with Typescript using "useStyles()" leads to "Property 'component' does not exist on type ...""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
 When I use TablePagination component with "withStyles(() => createStyles({...}))(TablePagination)" and when I add the property "component" on the styled TablePagination, I get the flo

[2020-11-29 16:13] #23693 closed

[2020-11-29 16:54] harshmangalam opened #23781 "CardActionArea increase its opacity"
CardActionArea increase its opacity on simultaneously click of right and left button and at a time the image of CardMedia become dissapear
![Screenshot from 2020-11-29 22-23-12](https://user-images.githubusercontent.com/57381638/100548279-89e40180-3291-11eb-83f7-b3d126102f71.png)

[2020-11-29 17:22] mbrookes commented on #23781
Please use the issue template, and provide a reproduction.

[2020-11-29 17:26] mirzacodenevis opened #23782 "Can't make RTL unaffected for linear progress bar and slider components"
Hey

I've enabled RTL as it's explained in [doc ](https://material-ui.com/guides/right-to-left/#right-to-left) for my app.
I got to disable it for linear progress bar and slider input components, I do it as it's explained in [doc](https://material-ui.com/guides/right-to-left/#opting-out-of-rtl-transformation) but it won't work and they are still rtl.

[2020-11-29 19:47] oliviertassinari commented on #23782
@mirzacodenevis Out of curiosity, why do you need to disable RTL for these two components?

Regarding your question, you can reproduce the same steps but nested.

[2020-11-29 19:47] #23782 closed

[2020-11-29 20:19] LuisEspanna opened #23783 "Numeric type validation error"
The error arises in <TextField
type = "number"
/> when writing something like that:

--1
-1-
1--
-1-1

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If symbols "--1" are written and if the TextField has a label this overlaps.

##

[2020-11-29 21:29] oliviertassinari commented on #23783
The input relies on the native support of the platform for `type="number"`, this isn't something Material-UI interfere with. You would need to check the general web documentation for this problem. Regarding having a custom component, see #19154.

[2020-11-29 21:29] #23783 closed

[2020-11-29 22:05] mirzacodenevis commented on #23782
@oliviertassinari It's kind of a multilang app, I just need to implement it that way.
I can't reproduce it, I've added rtl to the root and I just want to disable it for these specific parts.
I did it for other components without any conflict as it's explained in doc but there is something wrong with the mentioned above components