[2020-10-20 19:26] rpk-red commented on #21154
What is status of this issue? Is it solved?

[2020-10-20 19:27] oliviertassinari commented on #18962
I would be in favor of dropping the `css` helper. I agree with the request, I think that we should avoid conflicts with styled-components/emotion default API, also the `sx` prop that is worked on in #23053 should cover the use case. @mnajdova What do you think?

[2020-10-20 19:33] oliviertassinari commented on #19160
I'm closing, I can't think of how we could better resolve this aspect, that's the downside of cherry-picking the different helpers 🧩 .

[2020-10-20 19:33] #19160 closed

[2020-10-20 19:33] 0x636174 commented on #19704
for what it's worth, i vote to remove this 🤷‍♀️

[2020-10-20 19:37] oliviertassinari commented on #21825
Duplicate of #15451

[2020-10-20 19:37] #21825 closed

[2020-10-20 19:39] oliviertassinari commented on #16135
Fixed in v5.0.0-alpha.13 https://codesandbox.io/s/create-react-app-forked-vjppu?file=/src/App.js

[2020-10-20 19:39] #16135 closed

[2020-10-20 21:07] togakangaroo opened #23185 "MenuItem is missing docs for the value prop"
The [MenuItem](https://material-ui.com/api/menu-item/#menuitem-api) docs don't mention the `value` prop at all, yet it is used on the `Select` `multiple` example in the docs.  In fact, pairing down the example [it works fine](https://codesandbox.io/s/material-demo-forked-5upc3?file=/demo.js)

I'm not getting the same effect in my application so I went to check the docs to see what happens if its a

[2020-10-20 21:16] oliviertassinari commented on #18496
@mnajdova In #22982, I have advocated for removing the `clone` prop because:

1. it doesn't longer solve a pain point with the support of the system in the core components (only help with BC)
2. the injection order is often hard to get right: https://github.com/mui-org/material-ui/issues/15993#issuecomment-506947660 and #18496.

However, I have tried with styled-components and emotion, the injecti

[2020-10-20 21:25] oliviertassinari commented on #17836
I can't reproduce with the latest version (v5.0.0-alpha.13): https://codesandbox.io/s/create-react-app-with-typescript-forked-h8z1s?file=/src/Box.tsx.

[2020-10-20 21:25] #17836 closed

[2020-10-20 22:23] oliviertassinari commented on #16704
From what I understand this issue is all about performance. The v5.0.0-alpha.13 version of the Box component is a lot faster (x3) than v4, see https://github.com/mui-org/material-ui/issues/21657#issuecomment-707111575.

We can use [ui-box](https://github.com/segmentio/ui-box) which pushes in the atomic CSS path for a Box (but without shorthand, theme, breakpoints, etc.) as an approximation to unde

[2020-10-20 22:37] itsmichaeldiego commented on #10271
Was looking for this for a while!! Please add this to the docs!

[2020-10-21 02:22] Adarsh077 commented on #23179
Thank you @oliviertassinari and sorry guess I should improve my skill in reading documentation carefully 😅.

[2020-10-21 06:13] Ghost180195 opened #23186 "Carousel effect for stepper not working as expected in desktop Firefox"
Carousel effect for stepper not working as expected in desktop Firefox. I can not scroll smoothly slider elements.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I can not scroll smoothly slider elements

## Expected Behavior 🤔

[2020-10-21 07:23] oliviertassinari commented on #23186
This is an issue for https://github.com/oliviertassinari/react-swipeable-views

[2020-10-21 07:23] #23186 closed

[2020-10-21 07:25] #23152 closed

[2020-10-21 07:28] oliviertassinari commented on #23176
@richardgohcr Do you want to update https://next.material-ui.com/components/modal/#SpringModal.tsx with the example of @eps1lon :)?

We would need to apply the same fix to https://next.material-ui.com/components/popper/#transitions

[2020-10-21 08:41] voliva commented on #12197
This no longer happens in master. See this sandbox: https://codesandbox.io/s/material-ui-issue-forked-my1u6?file=/src/Demo.js

I've bisected it was (probably unexpectedly) fixed in #17436 (version 4.4.3 onward), but the warning message from #16907 is still shown.

Is it something that should be avoided even if it works? I have a use case where I need to have a composed control of a `Select` + `Inp

[2020-10-21 08:43] oliviertassinari commented on #12197
@voliva We recommend to avoid it because some states are meant to impact a single textbox, e.g. focused.

[2020-10-21 09:17] richardgohcr commented on #23176
Hi @oliviertassinari okay! Although I'm not very familiar with how to do so but I'd love to help!

[2020-10-21 10:21] constantin-melniciuc commented on #22938
I find extremely weird, the problem persists. I didn't really dedicate time to investigate it for now, but I'll have to eventually soon.
It does indeed seem like a weird behaviour with babel, but I have my doubts. `_interopRequireDefault` might be shifted up the chain during obfuscation process. My further investigation will go with removing dependencies one by one to find out if maybe some black

[2020-10-21 10:29] oliviertassinari commented on #23185
@togakangaroo Interesting, thanks for raising. The Select swallow the `value` prop:

https://github.com/mui-org/material-ui/blob/b37670257882fb0c876622d88d2cae373440aa2d/packages/material-ui/src/Select/SelectInput.js#L305

so it's technically, never provided to the `MenuItem` component. For this to work, it relies on the cloneElement API, something we are trying to use as rarely as possible, movin

[2020-10-21 10:50] eps1lon commented on #23185
MenuItem for Select is going away anyway (in favor of `Option`). That should simplify implementation and make the component less confusing.

We're currently cheating a bit by treating the `value` for `MenuItem` as the `button` value statically but then remove it at runtime.

[2020-10-21 10:59] BennieCopeland commented on #22938
I dug into it even more last night. It has to do with the import statement. A dev build of webpack showed that the Material components are using the ESM versions, but the icons were being referenced as their CJS versions. What helped me fix it was finding issue #22433 about Rollup and icons. I was using `import default from "@material-ui/icons/CheckBox"` and changing it to `import { CheckBox } fro

[2020-10-21 11:25] mnajdova opened #23187 "[system] spacing not giving warning that theme.spacing array cannot be combined with non integer value"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When there is array of values specified for the `spacing` inside the theme, the `spacing` system function returns unexpected value, without adding any warning that this isn't supported.

We could probably fix this by making this test pass:

[

[2020-10-21 11:44] mnajdova opened #23188 "[system] Change the borderRadius prop to use the theme.shape.borderRadius as a multiplication value"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently the `borderRadius` property on the `Box` component matches the `theme.shape` values. So for defining a borderRadius, usually we have the following code:

[code]

The proposal (taken from https://github.com/mui-org/material-ui/pull/2

[2020-10-21 11:56] mnajdova commented on #16843
For tracking, the issue exists with primitive `component` values as well. For example:

[code]

First reported in https://github.com/mui-org/material-ui/pull/23053#issuecomment-713186467

[2020-10-21 12:26] mnajdova opened #23190 "[system] Support font prop that will pull values from theme.typography.*"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently for picking up values from the `theme.typogrpahy` we would need to specify all font related properties separately: `fontFamily`, `fontWeight`, `fontSize`, `letterSpacing` etc.

Instead it would be much easier if developers are able

[2020-10-21 12:44] mnajdova opened #23192 "[system] Improve the fontWeight property by improving the values used"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

This is a proposal of how we may improve the `fontWeight` prop in the `system`.

This is how it looks currently:

[code]

#### Option 1

 The first option of how we may improve it is by the following usage:

[code]

where we would pull values

[2020-10-21 13:16] FrankEgan opened #23194 "[Autocomplete] breaks when setting maxLength in inputProps"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Broken Autocomplete causes page error.

## Expected Behavior 🤔

Input in the TextField should be limited by maxLength.

## Steps to Reproduce 🕹

https://codesandbox.io/s/material-ui-i

[2020-10-21 13:18] #23194 closed

[2020-10-21 13:18] oliviertassinari commented on #23194
Tip: spread all the params

[2020-10-21 13:20] oliviertassinari commented on #23194
Related to https://github.com/mui-org/material-ui/issues/22103

[2020-10-21 13:40] oliviertassinari commented on #23192
Option 2. is already supported, I think that option 1 and 2 are complementary and will be welcomed.

A proposal, we can make it systematic for the other typography values. We could have:

- `x: 'default'` pulls from theme.typography.x
- `x: 'y'` pulls from theme.typography.xY or theme.typography.y.

This would solve #17615 from @lcswillems but also simplify

[code]

to

[code]

[2020-10-21 13:57] NotLuksus commented on #23122
Solved it myself. The problem was at a Grid not at the Checkbox

[2020-10-21 14:25] FrankEgan commented on #23194
For anyone googling, solved with:
[code]

[2020-10-21 15:40] el1f commented on #23085
I'd like to take this up @oliviertassinari!

[2020-10-21 16:11] roybrown77 commented on #22426
Product: Social way to feel the thrill of sports betting without risking anything.
Company or Organization: Me vs Yall
Link: [https://www.mevsyall.com](https://www.mevsyall.com)
GitHub Link: N/A
Screenshot:

![Screen Shot 2020-10-21 at 11 42 59 AM](https://user-images.githubusercontent.com/1335262/96746295-07644a00-1395-11eb-87d3-2500fb1f4573.png)

![Screen Shot 2020-10-21 at 11 45 17 AM](https://

[2020-10-21 19:06] yatrix7 opened #23198 "Tooltip className stealthily wipes out child's className when forwarding a ref"
I'm not 100% sure this is a bug or an enhancement request (or neither)...

When wrapping a non-MUI component in a `Tooltip`, the `className` gets overwritten if it's not set on the `Tooltip`.
[code]

[Sandbox](https://codesandbox.io/s/zen-bassi-qsngl?file=/src/App.js)

If I don't spread the props, the tooltip doesn't work. If I spread the props, the class on the div won't work. I have to spread th

[2020-10-21 19:14] wxinuwaterloo opened #23199 "Text Field inside Popover loses focus for inputs in IE11"
## Basic Details:

#### Description of Bug
The input cursor randomly loses focus on the text field when the user tries to type. This issue only occurs when the Text Field component is wrapped inside of a Popover component in IE11.

#### What version of Dopamine are you on?
"@material-ui/core" "^4.5.0"

#### Which component has the bug?
[code]

#### Device:

- [ ] Win7

#### Browser Used:

- [ ] IE

[2020-10-21 19:19] eps1lon commented on #23198
[code]
should do.

[2020-10-21 19:19] #23198 closed

[2020-10-21 19:26] eps1lon commented on #23199
I can't reproduce with https://csb-3vhkt-pzvq6bgro.vercel.app/ built from https://codesandbox.io/s/material-ui-issue-forked-3vhkt?file=/package.json. I used `@material-ui/core@4.11.0` though so the issue might've been fixed between 4.5 and 4.11

[2020-10-21 19:26] #23199 closed

[2020-10-21 20:18] #22827 closed

[2020-10-21 20:20] jaquepaschoal opened #23200 "Material ui element lose position reference after opening external library"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In this screen the component **_"MenuItem"_** is used, when opening a tab importing an external lib, the component loses its reference and opens incorrectly.
![image](https://user-ima

[2020-10-21 21:01] meastes commented on #15614
I wanted to give this a try, but unfortunately `experiementalStyled` doesn't seem to be available in `@material-ui/core/styles` - at least not in the TypeScript definitions. Is this something that should be available in the stable release version of MUI?

[2020-10-21 21:17] oliviertassinari commented on #15614
@meastes Make sure you use v5.0.0-alpha.13 or upward: https://codesandbox.io/s/unstyledslider-material-demo-forked-d98tg?file=/demo.tsx. It works.

[2020-10-21 21:29] stazrad commented on #23184
this was actually a problem with a bad version bump from `@babel/plugin-transform-runtime` messing up some css...non issue for you guys 👍

[2020-10-21 21:29] #23184 closed

[2020-10-21 21:58] Newpoki opened #23201 "[Select] Style is broken when adding a className in the SelectDisplayProps"
Adding a className in the `SelectDisplayProps` actually overides its existing classNames

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a <Select /> component. When I want to give a className to the div that display the se

[2020-10-22 07:03] redbmk commented on #22827
@oliviertassinari ah, yeah sorry somehow I overlooked your comment - that seems to work great

[2020-10-22 09:41] oliviertassinari commented on #23200
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-10-22 09:50] oliviertassinari commented on #23201
@Newpoki Thanks for the report, I can confirm the issue. What do you think about this fix?

[code]

Do you want to work on a pull-request? :)

[2020-10-22 10:19] montogeek opened #23204 "[LinearProgress] Safari left side glitch when using border radius"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Left side of LinearProgress component decored with `withStyles` and border radius is glitching when the value changes.

## Expected Behavior 🤔

Left side of LinearProgress component d

[2020-10-22 10:21] montogeek commented on #23204
I fixed it locally by adding `zIndex: 1` to the `root` bar and `zIndex: 0` to the underlying bar.

[2020-10-22 10:45] #17297 closed

[2020-10-22 11:29] mr-bjerre opened #23208 "Module not found @material-ui/core/ThemeProvider when minimizing bundle size in create react app"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I get

[code]

## Expected Behavior 🤔

I don't expect any errors.

## Steps to Reproduce 🕹

Since this is a bug related to the project setup then I can't make a codesandbox for it

St

[2020-10-22 12:04] mr-bjerre commented on #23208
FYI. I've tried both

[code]

and

[code]

without any luck

[2020-10-22 12:38] #19358 closed

[2020-10-22 12:40] eps1lon commented on #23208
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-10-22 12:41] eps1lon commented on #23208
Nevermind, I think I know what's happening. We changed the bundle layout and this section is now outdated.

[2020-10-22 13:28] mr-bjerre commented on #23208
Is there a workaround currently? Or should I wait for this issue to be solved?

[2020-10-22 13:50] peteplays commented on #13898
I was able to handle this with the following in the theme file.  You just need to update the `aria-label` to match your needs.  The spacing is not perfect, but its pretty close.  Additionally, it does not mess with the label and has minimal impact on the input spacing.

[code]

[2020-10-22 13:57] sytolk commented on #8090
I have the same issue and log:
[code]

[2020-10-22 14:22] bnbturki commented on #13570
[code]

[2020-10-22 15:31] TakumaKira commented on #22170
@oliviertassinari

I think I'm ready to make the pull request for the fix in the direction above. Can I go ahead?

[2020-10-22 15:34] reedanders commented on #23201
I'd like to give it a try. Can you assign it to me?

[2020-10-22 17:26] Newpoki commented on #23201
Hello,
Sorry for the late reply, I  was at my job :sweat_smile:

Glad It was a real issue and not from my mind, and that it's gonna be fixed :D

Thanks @reedanders for the PR.

[2020-10-22 17:38] deiga commented on #22911
Sure, that makes sense 👍

I usually like to push extra hard to get rid of "too many" dependencies, and wanted to prod the reasoning behind keeping `enzyme` :)

[2020-10-22 17:51] #21799 closed

[2020-10-22 17:54] #23201 closed

[2020-10-22 18:10] #23085 closed

[2020-10-22 19:38] oliviertassinari commented on #22170
@TakumaKira I would recommend that we move cautiously on this matter. We could do:

[code]

and revisit the problem later if that's still a problem. At least, we would have fix this very issue and added a new test case that moves us in the right direction. Would this work with you? :)

[2020-10-22 20:43] oliviertassinari commented on #23204
@montogeek Thanks for the report. The following diff seems enough to fix the problem:
[code]

Could you confirm? Do you want to work on a pull request? :)

[2020-10-22 20:55] montogeek commented on #23204
@oliviertassinari Sure, tomorrow :)

[2020-10-22 22:55] ilovett opened #23213 "feature: autocomplete PaperProps"
Ability to pass `PaperProps` on `<Autocomplete ... />`

Example `<Autocomplete PaperProps={{ elevation: 2 }} />`

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I should be able to supply props to the paper elementType... but because its elementType I don't have the flexibility

[2020-10-22 23:05] oliviertassinari commented on #23213
Duplicate of #23043

[2020-10-22 23:05] #23213 closed

[2020-10-23 01:41] benwiley4000 commented on #20286
@oliviertassinari I don't think that's the case. I'm setting the internal TextField to `autoFocus` and the menu opens automatically - no click.

[2020-10-23 05:59] kaleem-elahi commented on #17392
I am also using it like this, did someone found any solution to this ? Thanks

[2020-10-23 06:23] kaleem-elahi commented on #17392
Did you found any workaround ?

[2020-10-23 06:30] mforman1 opened #23215 "[ClickAwayListener] Is being fired without an onClick event after upgrading react and react-dom to v17"
On my app I have a menu that worked fine until I upgraded `react` and `react-dom`.
After upgrading `react` and `react-dom` from  version `16.14.0` to version `17.0.0`- on menu click, the menu flashes-it opens and closes right away.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that

[2020-10-23 09:30] oliviertassinari commented on #20286
@benwiley4000 Do you have a reproduction with the latest version (v5.0.0-alpha.13)?

[2020-10-23 09:58] oliviertassinari opened #23216 "[Switch] Use role="switch""
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The switch component is announced like a checkbox, it should be announced like a switch.

## Examples 🌈

I have seen the role used in [react-switch](https://github.com/markusenglund/react-switch). After some digging, I could find this accessi

[2020-10-23 10:17] oliviertassinari commented on #20188
More customization options that would be great to support: https://dribbble.com/shots/10070945-Toggles
<img src="https://cdn.dribbble.com/users/393446/screenshots/10070945/media/ff3514a43b60d69f984a8fa0366577e4.png" />

[2020-10-23 10:58] mnajdova opened #23218 "[Box] Add warning when using responsive object API if a key is not a valid breakpoint"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the responsive object API on the Box `sx` prop, I have made a mistake and got the {} nesting wrong. I ended up with

[code]
I was surprised to see the color red style appli

[2020-10-23 11:53] mnajdova opened #23219 "[Box] sx prop IntelliSense not working"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When using the Box component, I have tried to understand what would each prop of the system do with IntelliSense, unfortunately, all I go was any. I was expecting something similar to:

![image](https://user-images.githubusercontent.com/45124

[2020-10-23 12:05] mnajdova opened #23220 "[system] Support sx on all primitive elements"
## Summary 💡

It would be great if we can support the `sx` props on the primitives with jsx pragma. That would basically help us to replace

[code]
with
[code]
For instance https://xstyled.dev/docs/emotion/#use-css-prop or https://theme-ui.com/sx-prop. It seems that we could only support it with emotion, which is OK-ish as it's the default engine 🙃.

## Motivation 🔦

This would help us to move awa

[2020-10-23 12:47] GuilleDF commented on #22162
Hi! I can take this if it's okay! 😄

[2020-10-23 14:23] ronnyroeller opened #23222 "ToggleButtonGroup doesn't fire onFocus in Safari"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I add an `onFocus` handler on the `ToggleButtonGroup` component. The handler is called in Chrome when I mousedown one of the buttons but it's not called in Safari.

The issue exists i

[2020-10-23 14:51] GuilleDF commented on #21278
I can implement @oliviertassinari's proposed solution, if that's okay with you guys 😃

[2020-10-23 15:11] BraveLilToaster commented on #22425
Same here. I would like this to go public.

[2020-10-23 15:36] ryancogswell commented on #22425
I just had to change my code to **not** use this anymore. The support for the `:focus-visible` pseudo-class in Chrome 86 changed the behavior of this in a manner that was undesirable for how we were using it. We were using it to support slightly different behavior (auto-advance/scroll in a survey) based on whether a change (e.g. to radio buttons or select elements) was done via keyboard vs. mouse/

[2020-10-23 16:35] Manikanta-20 opened #23225 "Remove unwanted css"
Provide new plugin for to remove unwanted css in material-ui / css

[2020-10-23 17:08] gregStevenard commented on #4847
For anyone looking to achieve this in latest version of material ui, it can be done through overriding the input through the theme :
[code]

[2020-10-23 17:13] oliviertassinari commented on #22982
Fixed in #23053 by @mnajdova

[2020-10-23 17:13] #22982 closed

[2020-10-23 17:29] mbrookes commented on #23225
Please use the feature request template provided to guide you in submitting a feature requrest.

[2020-10-23 17:29] #23225 closed

[2020-10-23 17:59] filipe-gomes commented on #22166
Is this still an issue, or was @hkurra's fix a good solution?

[2020-10-23 18:09] oliviertassinari commented on #23225
Duplicate of #14961

[2020-10-23 18:30] oliviertassinari commented on #22166
@filipe-gomes The problem wasn't fixed yet. https://github.com/mui-org/material-ui/commit/8d9d11cb32fa58bb8931d4a30f58f7d1e5b8d52f seems to be going in the right direction.

[2020-10-23 20:07] jasonsturges opened #23227 "List icon appear as: "1, Z, 3" - refine the "2""
Feature request for the "2" in list icons to look less like a "Z":

If the diagonal could be dropped just slightly with a tiny vertical bar would really help.

Currently, it looks odd when implemented larger-size on our touch screens.

Components: `FormatListNumberedIcon` and `FormatListNumberedRtlIcon`

[2020-10-23 20:53] oliviertassinari commented on #23227
@jasonsturges We are importing the icons from Google. They are the source of truth, we very rarely do an intervention. If you could report this behavior to https://github.com/google/material-design-icons, it would be great.

[2020-10-23 20:53] #23227 closed

[2020-10-23 21:30] mbrookes commented on #23227
Despite being an "official" google repo, https://github.com/google/material-design-icons is scraped from the web using a script similar to ours. While you could try reporting it there, I doubt it will reach the designers responsible for the icons! 🙃

[2020-10-23 21:32] jasonsturges commented on #23227
@oliviertassinari, @mbrookes Thanks both!  Ha ha, interesting... yeah, expectations are low even if I pull request it.

[2020-10-24 01:20] doublejosh commented on #15573
Would be great if custom button variants worked like typography...

[code]

[2020-10-24 02:21] Maxgit3 commented on #22001
@oliviertassinari I created a component with the following code.  I was able to import in the index.js page and it is working.  maybe the issue that prevented next Link from working with the Material UI component was fixed.

[code]

[2020-10-24 08:39] sujinleeme opened #23230 "[docs] Autocomplete's popper is overlapped AppBar"
[site] Autocomplete's popper is overlapped AppBar

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![Screenshot 2020-10-24 at 10 23 15](https://user-images.githubusercontent.com/6011401/97077413-c9109a00-15e3-11eb-86cc-76a172e5cbe4.

[2020-10-24 09:30] davidorion55555 opened #23231 "[docs] is not installed on local (yarn && yarn docs:dev)"
davidorion@Davids-MacBook-Air docs % yarn && yarn docs:dev
yarn install v1.22.4
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
warning Pattern ["@definitelytyped/typescript-versions@latest"] is trying to unpack in the same destination "/Users/davidorion/Library/Caches/Yarn/v6/npm-@definitelytyped-typescript-versions-0.0.36-580e30b90a5fb43cc6fa3bc60037dacb2227dc03-integrity/node_modul

[2020-10-24 09:41] oliviertassinari commented on #23231
upgrade your node.js version

[2020-10-24 09:41] #23231 closed

[2020-10-24 10:19] benneq opened #23232 "[Tooltip] Long press select text on iOS"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When opening an IconButton Tooltip on mobile (tested iPhone with iOS 14), it will show the Tooltip, but also show the "copy, define, share..." callout menu and selects some elements.

[2020-10-24 11:09] #23200 closed

[2020-10-24 12:25] yuchi commented on #23220
There’s no need for a pragma, you can release a Babel macro in a similar fashion to Styled Components’.

[2020-10-24 16:53] oliviertassinari commented on #23232
@benneq Thanks for raising. The first thing that I could help myself noticed is how ugly it looks when the tooltip touch the edge. I think that we should add a bit of margin to avoid it:

**Before**
<img width="232" alt="Capture d’écran 2020-10-24 à 18 43 43" src="https://user-images.githubusercontent.com/3165635/97087237-e025ab00-1628-11eb-8b23-557e32d3128c.png">

**After**
<img width="187" alt

[2020-10-24 16:57] oliviertassinari commented on #23230
It's by design: https://github.com/mui-org/material-ui/blob/61bf79739026b9ac991c7bcc067e3df22e5e294f/packages/material-ui/src/Autocomplete/Autocomplete.js#L162, you could display a seach textbox in the app bar.

[2020-10-24 16:57] #23230 closed

[2020-10-24 17:00] oliviertassinari commented on #22001
@Maxgit3 As far as I know, we never had any issue here. The only way to move forward I can see is to include all the components that are supported in the docs: https://github.com/mui-org/material-ui/issues/22001#issuecomment-666512512.

[2020-10-24 17:02] oliviertassinari commented on #22956
@fymmot Thanks for the report. I could find a way to reproduce. I can only use iOS on my Simulator, which doesn't seem to support VoiceOver.

[2020-10-24 17:08] benneq commented on #23232
Yeah, Apple browsers.. 😞

What exactly do you mean? The unfixable Long Press Text Selection? Or you think it's possible to dynamically add `user-select: none` to body when Tooltip is activated?

---

Btw: I just noticed a Tooltip regression, that works fine with material-ui 4.x:

When you hover the IconButton on desktop, there's a gap between Button and Tooltip, which is completely fine. **But** i

[2020-10-24 17:18] oliviertassinari commented on #23232
@benneq This is part of a tradeoff we took with @eps1lon in #22382. You have to set `disableInteractive`. We document it in the breaking change list.

[2020-10-24 17:27] benneq commented on #23232
@oliviertassinari Didn't notice this new prop. Thanks. That behavior annoyed me all day. Especially because it extends *even below* the Tooltip. If you move the mouse left and right over the Tooltip it instantly disappears. But you can move the cursor faaar below the Tooltip and it stays open. But that's a different topic.

BTT: What about the pull request and `user-select: none` on body when inte

[2020-10-24 17:33] oliviertassinari commented on #23232
Does it work? I couldn't make it work.

[2020-10-24 17:35] benneq commented on #23232
Haven't tried yet. I'll give it a shot in the following days. But I know it works when adding `user-select: none` in `index.css`. But this of course will disable selection for the whole app.

[2020-10-24 17:47] oliviertassinari commented on #23232
This seems to work:

[code]

[2020-10-24 17:51] benneq commented on #23232
Yes! That does the trick 😸

[2020-10-24 17:59] #23222 closed

[2020-10-24 18:00] oliviertassinari commented on #23222
@ronnyroeller It's simply how Safari works, buttons don't get focused on click by default.

[2020-10-24 18:38] oliviertassinari commented on #22812
It's definitely a bug on the Safari side, here is what [the specification](https://www.w3.org/TR/css3-mediaqueries/#width) says:

The same issue in the bug tracker of Safari: https://bugs.webkit.org/show_bug.cgi?id=52653. I could also find this nice illustration: https://github.com/tailwindlabs/tailwindcss/discussions/1521.

---

Regarding the resolution, the documentation is affected since we sta

[2020-10-24 19:05] oliviertassinari commented on #23215
Oh wow, here's what's going on:

- Click on the icon button, a DOM event (a.) is triggered.
- The event bubbles up to the react host
- React bubbles the event
- React call set onClick handler on the icon button
- React renders the `ClickAwayListener`
- `ClickAwayListener` sets a listener on the document
- The drawer opens
- The same event (a.) keeps bubbling. It reaches the new listener set by the

[2020-10-24 19:18] oliviertassinari commented on #23215
Do we really need to fix this? What's the use case for the ClickAwayListener here? The current workaround is to call the setState in a setTimeout().

This change internally produces the expected behavior of the codesandbox. It's unclear if we want to move forward with it.

[code]

@eps1lon What do you think?

It's also probably time to do? :)

[code]

[2020-10-24 21:59] dargue3 commented on #23215
This is a problem in our UI library built on top of Material as well. Curiously, changing the `mouseEvent` prop on `ClickAwayListener` from `onClick` → `onMouseDown` fixes the issue. I'm not aware enough of low-level JS events to determine whether this is a safe one-for-one swap or not.

We'd love to see it fixed though 🙏

[2020-10-24 22:27] malyzeli commented on #21394
After a few hours of frustration I finally found the (hopefully correct) solution:

[code]

I suggest adding such an example to the documentation, considering I found dozens of issues and/or questions related to the same problem, with no actual working answer though.

This is really confusing especially for someone who just started using `material-ui` - why it's needed to pass `label` prop explici

[2020-10-24 22:47] oliviertassinari commented on #23215
@dargue3 The only impact I'm aware of is that click away will fire false-positive when moving the scrollbar on nested containers (not the body).

[2020-10-24 22:55] crander7 opened #23235 "Add missing Icons"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I was trying to look for an icon last night on [material.io](https://material.io/resources/icons/). However, the icons portion of the site was down. After looking again today I see that Google has recently added a bunch of new icons.

In the meantime we ca

[2020-10-24 23:32] mbrookes commented on #23235
@crander7 Are there any that weren't covered by https://github.com/mui-org/material-ui/pull/22680?

[2020-10-24 23:52] crander7 commented on #23235
@mbrookes Dang, looks like that did cover it. Now I'll be sure to upgrade my icons package regularly. Thanks so much guys!

[2020-10-24 23:52] #23235 closed

[2020-10-25 00:38] beatrizrezener commented on #19688
Hello, this is my first time here, but I would like to try to contribute in some way with accessibility.

@declanmagee When testing with VoiceOver, it worked as expected. Could you or someone with windows confirm if the error persists?
If so, I can try to configure a virtual machine to check further.

[2020-10-25 01:00] cbeltrangomez84 opened #23236 "Google Translate on Chrome make the Icons display not correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

When a computer using google activates the page translation:

![image](https://user-images.githubusercontent.com/5134461/97096353-904ae200-1630-11eb-800c-87564311fc58.png)

The icons are translated into wro

[2020-10-25 01:03] mbrookes commented on #23235
👍 It's in v5 alpha, so easily missed.

[2020-10-25 01:05] cbeltrangomez84 commented on #23236
This behaviour could by fixed by adding "notranslate" as class for the Icon, but I think since the object is an Icon it should never be translated an the "notranslate" class should be included by default.

[2020-10-25 01:06] mbrookes commented on #19688
@beatrizrezener Delighted to have you here! Feel free to point out any other accessibility issues you find, or to take a look at existing ones.

[2020-10-25 03:17] mbrevda commented on #23215
The use case is being able to close the slide-out menu while clicking anyway besides for the menu

[2020-10-25 05:19] vividh commented on #22911
May I claim migrating one of the remaining components, say `Menu.test.js`?

[2020-10-25 06:46] one-thunder opened #23238 "<Hidden/> component broken on FF / Chrome"
Get latest version of FF

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

https://material-ui.com/components/hidden/ Broken

## Expected Behavior 🤔

Well, this component should perform it's task, hide children based on some viewpor

[2020-10-25 06:50] mforman1 commented on #23215
That's the use case :point_up_2:

[2020-10-25 07:58] willRicard commented on #22911
Same here, I would like to migrate `Popover.test.js`

[2020-10-25 08:41] oliviertassinari commented on #22911
Definitely, you can go ahead :)

[2020-10-25 09:18] samrae7 commented on #22911
I will do `Drawer.test.js`

[2020-10-25 10:06] oliviertassinari commented on #23215
I'm closing the use case isn't valid, use the `onClose` callback instead.

[2020-10-25 10:09] oliviertassinari commented on #23238
@one-thunder What do you mean by broken? We don't have enough information to act on the feedback. Also mind #19704

[2020-10-25 10:44] one-thunder commented on #23238
@oliviertassinari WDYM not enough info? Just open https://material-ui.com/components/hidden/ in the latest Firefox. Don't need any more repro steps, its broken on your latest production build. Compare the behaviour with Opera on which it's working fine.

Opera
![image](https://user-images.githubusercontent.com/32410574/97104867-ba97b080-16bf-11eb-8d1d-f48c31db51fa.png)

FF latest

![image](https:/

[2020-10-25 11:06] mforman1 commented on #23215
Thank you for your immediate assistance,
as you suggested, switching to the `onClose` callback works fine:

`<Drawer open={open} onClick={() => setTimeout(onClose, 1)}>`

Thank you!

[2020-10-25 11:32] #23238 closed

[2020-10-25 11:34] anasufana commented on #19846
Could I try this one?

[2020-10-25 11:47] sukiasyan commented on #18563
@oliviertassinari thanks, but I guess this method will not work when you use InputProps for Textfield

[2020-10-25 13:16] oliviertassinari commented on #18563
@sukiasyan It works. If you customize something, you need to make sure you extend the behavior, not override it.

[2020-10-25 16:35] phucproutt opened #23240 "[Breadcrumbs] Collapsed component"
- Firstly, It appears now that after clicking the collapsed component to expand the breadcrumbs, we don't have any options to back from expand mode to collapsed mode?
- Secondly, is there anyway to unactive the action onClick on collapsed component (for my project now I want to implement a pop-up when hovering on the collapsed component?).

- [x] The issue is present in the latest release.
- [x] I

[2020-10-25 16:48] oliviertassinari commented on #23240
@phucproutt You don't have to use the collapse feature, you can build your own until this problem is better covered

[2020-10-25 16:50] phucproutt commented on #23240
Yes for the second problem, I think I can add a custom component and do the hover functionality for sure but for the first problem, can you show me how to do it? If I have a button (just show in expand mode and use for back to collapsed mode so how can I do?).

[2020-10-25 16:53] vividh commented on #22911
I'm having a harder time with migrating `Menu` that I expected. Could I get some help with the following issue?

Migrated the following unit test, but `container.firstChild` is null.

[code]

[code]

[2020-10-25 18:14] emibcn commented on #22426
* Product: Covid Data `Refactored`
* Company or organization: None
* Link: https://emibcn.github.io/covid
* GitHub link: https://github.com/emibcn/covid
* Screenshot (needs to be updated with recently applied PRs):
<p align="center">
  <img src="https://github.com/emibcn/covid/raw/badges/images/covid-data-example-02.gif" alt="App GIF example" style="max-width:80%;">
</p>

[2020-10-25 19:05] emibcn opened #23241 "Fullscreen with scroll on mobile device with DuckDuckGo (at least)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the web is visited with DuckDuckGo browser in a mobile device and a fullscreen dialog is shown, the action button (like `Close`) is placed outside the screen (the user needs to s

[2020-10-25 19:07] picosam commented on #20288
I'm suddenly getting the exact same error after upgrading to CRA 4.0. Here's the code:

[code]

...where `colors.*` above are simply hexa strings.

[2020-10-25 19:41] oliviertassinari commented on #20288
@picosam Do you have a reproduction?

[2020-10-25 21:27] #23241 closed

[2020-10-25 21:42] NawarA commented on #10485
i can add share my source code for this if you'd like...i rebuilt it to use modern hooks, etc

[2020-10-26 01:32] stevewillard commented on #23215
What about the use case where you have a `<Popper />` and put a `<ClickAwayListener />` on the `children`?

[2020-10-26 01:45] Maxgit3 commented on #22001
@oliviertassinari Sure, I will look into it.

[2020-10-26 04:41] manuelbenitez commented on #15573
Have you tried to delete <React.StrictMode> from your index.js?

[2020-10-26 05:06] picosam commented on #20288
Sorry, what do you mean by a reproduction? A codesandbox?

[2020-10-26 07:18] kaleem-elahi commented on #17392
@oliviertassinari any idea how i could solve this issue ?

[2020-10-26 07:19] kaleem-elahi commented on #17465
I'm also getting same issue ! If there is any solution please let us know @jurepetrovic @joshwooding @oliviertassinari

[2020-10-26 07:42] ronnyroeller commented on #23222
Thanks a lot for explaining, Olivier. I wasn't aware about this Safari behavior.

[2020-10-26 07:51] eps1lon commented on #22956
@useit-consulting Could you exactly describe what steps your doing in your youtube video?

Using `disabledPortal`. I can navigate each item by swiping left and right. I can also activate it with a double-tap.

Actionable steps for us regardless: Set `disablePortal` as the default. The autocomplete not working on VoiceOver effectively renders it inaccessible considering how popular VO is. The compo

[2020-10-26 08:13] eps1lon commented on #15561
Why do we need this for all components? Just because it might make sense for one component doesn't mean it makes sense for all of them. As far as I can tell it'll be a footgun for widgets since it leads down a blind alley: you start styling with `sx` and later realize it's inssufficient since you can't target child components. Even more problematic: With each API we increase the risk of duplicate

[2020-10-26 08:19] eps1lon commented on #22425
@ryancogswell Sounds like you were using `:focus-visible` for something that it wasn't intended to solve.

So I'm not against making it public because of your specific issue but because of the general problem: Any public code require 10x the work to document properly since there will always be users who misuse it.

It doesn't make sense to make it public as a hook since that implies for many that

[2020-10-26 08:25] useit-consulting commented on #22956
@eps1lon @oliviertassinari

I hope this new video makes it more clear:

https://www.youtube.com/watch?v=99g-jEQKirg

First I am swiping right from the input field, expecting to find the list of suggestions. Instead, the suggestions disappear and and the input field is cleared.

In my second attempt, I am using explore-by-touch, dragging my finger from the input field downwards on the screen, expec

[2020-10-26 08:27] eps1lon commented on #23216
Thanks to git the section is linked to https://github.com/mui-org/material-ui/pull/17870 where I already did the work and explained why I added this section. Not sure we need an issue to track this since this will probably just add notification-noise.

[2020-10-26 08:37] eps1lon commented on #22956
Works on my iPad with iPadOS 14.1. I didn't think iPadOS has that much difference to iOS.

Let me get a deploy for you that is closer to how the APG combobox.

[2020-10-26 08:42] eps1lon commented on #22956
@useit-consulting What I don't understand is why you click again in the textbox after typing. This might trigger a close expectitely. As far as I can tell you can swipe between items directly after you typed. No need to manually click again

[2020-10-26 08:47] useit-consulting commented on #22956
@eps1lon

It makes no difference, the outcome is the same. If I press the "Done" button after typing to hide the keyboard, the suggestions disappear. Same if I swipe backwards to leave the keyboard.

If you need I can record another video to demo.

[2020-10-26 08:52] oliviertassinari commented on #23215
Do you have a reproduction?

[2020-10-26 08:55] eps1lon commented on #22956
To clarify: On an iPad I don't have to press "Done" or anything. I can type a letter and then swipe right and left between results. You should never have to actually leave the keyboard. That would go against how a combobox is supposed to be used.

It's not clear whether VO or you are accidentally closing the keyboard (which closes the combobox) or if  VO is not recognizing the context.

Could you

[2020-10-26 09:12] eps1lon commented on #23208
Right now I would not alias `@material-ui/core` since the improved startup time should be negligible. It only really makes a difference for `@material-ui/icons` where the documented approach still works.

[2020-10-26 09:17] oliviertassinari commented on #15561
@eps1lon we can target child components with CSS selectors.

I don't understand, what duplication are you referring to? @mnajdova is planning to add a section in the documentation about when using the sx vs styled API. We should probably explain the pros and cons too, the why.

For the same reason it's useful on a Box. Why does Bootstrap has CSS utils? I think that the best case is when we can use

[2020-10-26 09:21] hc-codersatlas commented on #23220
How would Pragma work with the new automatic runtime? Has that been considered?

[2020-10-26 09:23] oliviertassinari commented on #23216
@eps1lon Oh nice, I didn't find this pull request, thanks for the extra context. I'm adding the v6 milestone so we can revisit it at that point.

[2020-10-26 09:36] useit-consulting commented on #22956
@eps1lon
**Left-swiping after typing in Mui autocomplete:**
https://www.youtube.com/watch?v=wP6cTuFTb50

The suggestions are closed and the input is cleared.

--------

(I tested several of the examples. But I believe **WAI-ARA example # 1** is the most relevant one here, no? Because like MUI autocomplete, it has no automatic selection from the list, you need to click manually on a suggestion. )

[2020-10-26 10:07] mr-bjerre commented on #23208
So you are suggesting not using [option 2](https://next.material-ui.com/guides/minimizing-bundle-size/#option-2) for now?

[2020-10-26 10:13] eps1lon commented on #23208
I suggest using it for @material-ui/icons only where it has the biggest benefit.

[2020-10-26 10:15] mr-bjerre commented on #23208
Sure but at a later stage option 2 will work for everything (except styles)?

I like the idea of importing everything from core to keep the number of import code lines lower

[2020-10-26 10:19] wkerswell-gresham commented on #23215
[Sandbox ](https://codesandbox.io/s/material-ui-issue-forked-13053?file=/src/Demo.js) for the issue @stevewillard stated.
Using a popper with a clickaway listener in it.

[2020-10-26 10:36] eps1lon commented on #15561
So we don't even want people to use `styled` then?

Duplication of styles in `sx` and `styled` decoration.

The Box and Slider are by defition not the same component. It does not follow that if X makes sense for A that X makes also sense for B. Otherwise you're arguing that it makes sense to have an exhaust on your smartphone because it makes sense to have it on your car.

This needs to be explore

[2020-10-26 11:06] aviyi opened #23266 "Tooltip component fire on resize event of the iframe"
## Current Behavior 😯
When a user hover on button with tooltip the onresize event of the iframe fired

## Expected Behavior 🤔
The onresize event shouldn't be fired

## Steps to Reproduce 🕹

 1.  Go to https://hcnkt.csb.app/
 2. Open the console.log
 3. Hover on the icon button

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v5.?.?  |
| Reac

[2020-10-26 11:34] knoefel opened #23267 "Autocomplete options dropdown: z-index issue while scrolling Dialog content"
## Current Behavior 😯

While scrolling inside the `Dialog` content with an `Autocomplete` options dropdown currently visible, the dropdown options are still visible after scrolling up/down so that the `Autocomplete` is out of view.

## Expected Behavior 🤔

The `Autocomplete` options dropdown is not visible anymore, after scrolling out of view.

## Steps to Reproduce 🕹

https://codesandbox.io/s/aut

[2020-10-26 11:49] eps1lon commented on #23266
Thanks for the report.

Technical explanation: The tooltip has its own box and no `position: absolute;` when closed. Once we open it, we apply `position: absolute` and the required `transform`. There seems to be a timing issue (probably explainable by the browser render pipeline) that results in the iframe being considered resized. You can visualize this by using `<Tooltip PopperProps={{keepMounte

[2020-10-26 12:20] oliviertassinari commented on #23266
@aviyi What issue does it trigger on your application? I mean, why is this important?

Could it be a problem with popper.js?

[2020-10-26 12:31] eps1lon commented on #23266
Any events triggering unexpectedly or when they're not supposed to is a problem. Non-deterministic side-effects in general are problematic. This shouldn't be conused with React's render being non-deterministic.

Not sure how this is helpful.

[2020-10-26 12:42] oliviertassinari commented on #15561
@eps1lon Agree, I believe we have tried to cover it in the pull requests/issues/blog post, but we can improve here. For the "why?", there are 4 content listed in https://trello.com/c/IUve1J6o/1577-system-core-component.I think that the timing is perfect to cover the documentation side of things in more detail. We have had a question on the same subject from a template author on the store recently.

[2020-10-26 12:47] aviyi commented on #23266
If you put on the MuiTooltip-popper class top :0 . it will fix this issue

[2020-10-26 13:32] JeremyGrieshop commented on #21701
Just wanted to contribute this small snapshot serializer to ignore anything mui-NNNNN related (id, aria-labelledby, aria-describedby, etc.).  It just converts it to mui-00000 to make them deterministic.  You can obviously change that or omit them all together, if you wish.

[code]

[2020-10-26 14:01] michael-ecb commented on #23266
iframe size recalculated and cause rerender ...

[2020-10-26 15:01] eps1lon commented on #21701
Note that we don't make any guarantee about these prefixes. There's already a built-in hook in React's experimental release channel that would break this serializer (though it would also have a different prefix).

[2020-10-26 15:46] TheDiveO commented on #2937
@oliviertassinari I've found the routing libraries link before luckily finding this issue report; while the explanation given in the routing libraries surely is comprehensive I found it to be completely over my head as a relatively newcomer. However, @moshfeu's example is concise and exactly what I'm looking for. Anything wrong with his simple example?

[2020-10-26 15:49] oliviertassinari commented on #20288
@picosam Oh nice, thanks for the reproduction. So we have:

[code]

that outputs a confusing warning:

The color object needs to have a `main` property or a `500` property.

But it should return:

`primary.main` should be a string, but `undefined` was provided instead.

I think that we could apply the following diff. The most important part is about using `hasOwnProperty` to discriminate between "

[2020-10-26 15:52] angelsvirkov commented on #20565
I also find the usage of a controlled Autocomplete with an empty string quite difficult. The answers on [stack overflow](https://stackoverflow.com/questions/61219164/material-ui-autocomplete-default-value-of-empty-string) also do not really help as they introduce further problems. It would be great if anyone could suggest a working and robust solution here.

[2020-10-26 15:53] picosam commented on #20288
@oliviertassinari ok, so what you're saying is the real bug I have is that the color value `background` that I'm providing to `main` isn't being resolved correctly? If this is the case I must check if this has to do with upgrading to Typescript 4.0

[2020-10-26 16:05] oliviertassinari commented on #22956
@eps1lon react-select doesn't portal by default and has created some friction: https://github.com/JedWatson/react-select/issues/2398. select2.org portals by default.

It seems that our users care more about features than accessibility and that desktop is a more prominent use case, so it might be a case where iOS support should be optional if there is any significant downside from a feature perspec

[2020-10-26 16:07] oliviertassinari commented on #20288
@picosam Your value is undefined in the reproduction.

[2020-10-26 16:14] oliviertassinari commented on #23215
@wkerswell-gresham Thanks. I would move forward with https://github.com/mui-org/material-ui/issues/23215#issuecomment-716042325. I'm not aware of any other alternatives.

[2020-10-26 16:16] artisonian commented on #23215
Is it safe to stop propagation instead?

[2020-10-26 16:18] picosam commented on #20288
@oliviertassinari do you happen to understand why? After all, the value is present in both the `.scss` file and in the Typescript module I created to expose it...

[2020-10-26 16:25] oliviertassinari commented on #23215
@artisonian Do you have a working diff to propose?

[2020-10-26 16:28] oliviertassinari commented on #20288
No idea. If you are interested in improving the error message with the above diff, we would be happy to review a pull request. Happy to discuss/challenge the changes :).

[2020-10-26 16:32] oliviertassinari commented on #23208
This issue was first reported in https://twitter.com/_developit/status/1220760229790523392. What if we normalize the file structure to make it work without any configuration?

[2020-10-26 16:36] mattandersonfg opened #23272 ""React does not recognize the `nodeRef` prop on a DOM element" error"
Just upgraded Material UI from 4.9.8 to 4.11.0. React is at 16.11.0, react-dom at 16.8.6. We're using TypeScript 3.8.3 and it appears we're getting the "esm" version of MUI loaded. We use webpack @ 4.43.0. The homepage of our app uses a Drawer, and after the upgrade we're seeing this error:

[code]
I've found that if I edit this part of core/esm/Backdrop/Backdrop.js:
[code]
and replace it with:
[c

[2020-10-26 16:58] artisonian commented on #23215
I spent some time in the source code...didn't realize the event listeners are being attached inside of an effect block. Never mind `stopPropagation` then.

[2020-10-26 17:26] oliviertassinari commented on #23267
Related to #21661

[2020-10-26 17:43] MinaroShikuchi commented on #5450
See https://github.com/mui-org/material-ui/issues/16572

[2020-10-26 18:03] JeremyGrieshop commented on #21701
Thank you, @eps1lon, but I won't stop helping us in the snapshotting support group community.  "What is dead may never die!"

[2020-10-26 18:17] nickbouton commented on #23215
I am seeing this issue as well with a `<Popper />` containing a `<ClickAwayListener />` since upgrading to React 17.

[2020-10-26 18:20] nickbouton commented on #23215
I am seeing this issue as well with a `<Popper />` containing a `<ClickAwayListener />` since upgrading to React 17. Removing the `ClickAwayListener` resolves the issue but that doesn't solve our problem as we need it to dismiss our popover menus when clicking outside the menu.

[2020-10-26 19:15] eps1lon commented on #23272
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-10-26 19:26] #19846 closed

[2020-10-26 19:27] #22162 closed

[2020-10-26 19:29] #22166 closed

[2020-10-26 19:35] #21278 closed

[2020-10-26 19:46] oliviertassinari commented on #23215
@wkerswell-gresham A workaround: https://codesandbox.io/s/material-ui-issue-forked-zb3i5?file=/src/Demo.js

[code]

[2020-10-26 20:52] dkadrios commented on #19450
Has anyone found a suitable workaround for this?  It's wreaking havoc with our accessibility efforts.

It doesn't matter if `disablePortal` is true or false, `aria-hidden="true"` gets applied regardless.  Premptively setting `aria-hidden="false"` doesn't help either, it just gets overwritten.

I also have a second root container, dedicated to tooltips, that also is getting set to aria-hidden when

[2020-10-26 21:05] dkadrios commented on #19450
Super hacky but this seems to be working in the short-term:
[code]

[2020-10-27 01:30] rafthedeveloper opened #23275 "[Snackbar] notistack example doesn't dismiss automatically"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When implementing notistack with the Material UI v 5.0.0-alpha.13, the snackbar doesn't dismiss automatically

## Expected Behavior 🤔
Snackbars should dismiss automatically as per prev

[2020-10-27 06:58] eps1lon commented on #23208
We can't since we don't ship the same bundles in each package.

[2020-10-27 07:04] eps1lon commented on #22956
And what is this supposed to tell us?

I don't care what our users care about if they don't care about their users. The goal is to provide useful primitives that can be leveraged for a good UI. Not provide any primitive for the UI any person wants to build.

So you've changed your mind when we're discussing a11y by default in https://github.com/mui-org/material-ui/pull/22382#issuecomment-698880283

[2020-10-27 07:49] eps1lon commented on #19450
@dkadrios That doesn't sound right. Could you open a separate issue and fill out the template so that we can isolate the problem?

[2020-10-27 07:59] koji3koji3v2 opened #23276 "error"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v5.?.?

[2020-10-27 08:00] #23276 closed

[2020-10-27 09:22] paul-joy opened #24177 "[TimePicker] Pointer for the selected time is not displayed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-pickers/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In some cases (when using MobileTimePicker with shouldDisableTime prop) pointer for the selected time (hours) is not displayed.

<img width="305" alt="Capture d’écran 2020-12

[2020-10-27 09:27] mr-bjerre commented on #23208
But the error is not about icons?

    Module not found: Can't resolve '@material-ui/core/ThemeProvider'

which happens on due to the following import

[code]

Maybe I'm just not understanding exactly what you're telling me here

[2020-10-27 11:01] eps1lon commented on #23208
Could you provide a small repro with just that code? Sounds very odd that `import { createMuiTheme } from '@material-ui/core';` results in a `'@material-ui/core/ThemeProvider'` import specifier in the bundle.

[2020-10-27 11:25] mr-bjerre commented on #23208
While working on a small repo to share I just realized that I had

[code]
I now changed that to

[code]

Now I'm getting this error instead

    Module not found: Can't resolve '@material-ui/core/createMuiTheme' in '/Users/nixd/Projects/muiv5/src'

I'll share a repo in a bit

[2020-10-27 11:32] mr-bjerre commented on #23208
Actually I don't think I need to share anything since I've got it working now

`theme.ts`
[code]

`App.tsx`

[code]

`config-overrides.js`

[code]

`.babelrc.js`
[code]

`package.json`

[code]

I'm left with a bit of confusion on the imports though. E.g. I thought I could import `createMuiTheme` and `red` from `@material-ui/core` and that it was the recommended way when tree shaking is enabled. So

[2020-10-27 11:33] oliviertassinari commented on #23208
@eps1lon From what I understand, the tweet mentions that there are a few modules that need an exception because they don't follow the folder convention (`import x from '@material-ui/core/x'`). The relevant link from the gist the tweet has: https://gist.github.com/developit/037baaec2a0a1e64e628c84fdd5c1107#file-babel-plugin-transform-mui-imports-js-L19

[2020-10-27 11:41] valtism commented on #23215
Stopping propagation on `onClick` handlers that trigger the popper being opened is another workaround. Would love to see this fixed in v4

[2020-10-27 11:56] oliviertassinari commented on #23275
This sounds related to https://github.com/iamhosseindhv/notistack/issues/295.

[2020-10-27 12:17] oliviertassinari commented on #22956
@eps1lon I think that we can use it to understand the downsides of not using the portal (a.). react-select is enough used to have developers report the issue that comes with it. For instance, we can leverage it to add a documentation section about the downsides of using `disablePortal`.

Agree with this objective! It's about allowing developers to do a better job. From what I understand, it's not

[2020-10-27 12:24] hiahmedhameed commented on #18251
I'm still not able to select `autocomplete`

Trying to do steps in https://github.com/mui-org/material-ui/issues/18251#issuecomment-632825845 but does not see any result from `getByRole('textbox')`

I tired to add `data-testid="autocomplete"` but also that does not work!

This is my autocomplete component
[code]

Any idea how to test it ?

[2020-10-27 13:16] italodeandra opened #25135 "DatePicker not closing when clicking outside"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-pickers/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When opening the date picker and clicking outside of it, it doesn't auto closes like the demo.

## Expected Behavior 🤔

The date picker should close when clicking outside.

##

[2020-10-27 13:28] hswimmer opened #23277 "[Table] All option demo display wrong text"
When select All option in table pagination(with -1 value) the display text shown `1--1 of x` instead of `1-x of x`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Display wrong number( `-1` ) when select ALL option.

## Expected B

[2020-10-27 14:09] rafthedeveloper commented on #23275
@oliviertassinari Appreciate you pointing me in the right direction, I've been able to temporarily workaround this by relying on notistack-next by running the following:

`yarn add notistack@npm:npm:notistack-next`

Hoping to see changes merged into master soon!

[2020-10-27 14:10] stfenjobs commented on #9513
2020-10-27：

![image](https://user-images.githubusercontent.com/6580897/97313092-3735b500-18a1-11eb-9733-e5b462327c84.png)

[2020-10-27 14:23] emibcn commented on #23241
Opened a question in StackOverflow:

https://stackoverflow.com/questions/64556493/fullscreen-dialog-with-buggy-vertical-scroll-on-mobile-duckduckgo-browser

[2020-10-27 16:36] eps1lon commented on #22956
I'm not following. Did you search the react-select issues and didn't find one reporting a11y issues? If so and you didn't find one: What do you think can you deduce from it? Someone not reporting a11y issues does not imply it has no a11y issues. Similar to survivorship bias.

No, because it technically breaks A i.e. it isn't operable at all on VO on iOS (70% usage).

70% of users on mobile use VO.

[2020-10-27 17:10] yuchi commented on #23085
Sorry for the delay, I agree on the suboptimal documentation. The PR solves as far as I can tell.
This is also a pretty hot topic, see [this question on Stack Overflow](https://stackoverflow.com/questions/49007357/how-to-make-the-whole-card-component-clickable-in-material-ui-using-react-js/49014926#49014926). It’s not the highest voted question/answer on the `material-ui` topic, but among the top

[2020-10-27 17:11] oliviertassinari commented on #23085
@yuchi Nice, I love StackOverflow and how it keeps track of the view 😍

[2020-10-27 17:25] acapro commented on #14185
For a typescript implementation you can do something like this. Using props in the styles are avoided to improve JSS performance. (This avoids generating classes for every button and works great in large lists, etc...)

[code]

[2020-10-27 17:44] Magofoco opened #23278 "SvgIcon inherit viewBox from component"
I have different custom SVGs. Each one of this SVG has an own viewBox.

**First Svg**
`<svg viewBox="-4 -4 24 24"><path something/></svg>`
**Second Svg**
`<svg viewBox="-5 -7 24 24"><path something/></svg>`
**Third Svg**
`<svg viewBox="-2 -1 24 24"><path something/></svg>`
And so on...

I am using the Material UI component: `SvgIcon`.

[code]

The `SvgIcon` has a default view of '0 0 24 24' and it

[2020-10-27 18:03] erm87 opened #23279 "Framer Theme component not working as expected to style components in Preview"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In Framer, when using the Material-UI package,  a user can connect the Theme component to Frames in order to change global styles (primary, secondary, etc). If the user adjusts the de

[2020-10-27 18:41] mbrookes commented on #23279
It looks like you might previewing the content frame? You'll need to preview theme frame, otherwise the theme doesn't get applied. I think previewing below the below the theme might have worked in an earlier (not 100% sure...)

[2020-10-27 19:50] oliviertassinari commented on #23277
@hswimmer Thanks for the report. It looks like we can fix the demo:

[code]

Do you want to work on a pull request? :)

[2020-10-27 19:52] oliviertassinari commented on #23278
Duplicate of #18782

[2020-10-27 19:52] #23278 closed

[2020-10-27 19:53] oliviertassinari commented on #18782
@Magofoco What do you think of this solution https://github.com/mui-org/material-ui/issues/18782#issuecomment-564297593 for #23278?

[2020-10-27 19:58] BraveLilToaster commented on #19585
This is some behavior I would really love to see. I am a bit confused what the use case is for needing to render the value of the MenuOption. I more often want to render the React Node in the Menutem, but with some additions.

[2020-10-27 20:01] #23236 closed

[2020-10-27 20:23] Magofoco commented on #18782
@oliviertassinari  What if I have different SVGs?
Let's say I have 50 SVGs, each of them with a different viewBox.
Does it mean I have to create 50 different component passing the different `viewBox`?
Ex:
1) `const ComponentOne = (props) => <svg {...props} viewBox="-4 -4 24 24"><path something/></svg>`
2) `const ComponentTwo = (props) => <svg {...props} viewBox="-8 -8 16 16"><path something/></svg

[2020-10-27 20:34] oliviertassinari commented on #18782
@Magofoco Could you share a codesandbox with what you have as input? This would help a lot.

[2020-10-27 21:07] JoaoJesus94 opened #23282 "[Table] - rows per page not working correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

* At `custom pagination actions` section, if selecting `25` rows per page (more than max rows but not `All`) table expands more than expected, showing a lot of empty space.

## Expect

[2020-10-27 21:56] oliviertassinari commented on #23282
@JoaoJesus94 Well spotted, could we fix it at the same time in #23280?

[2020-10-27 22:19] reedanders commented on #21441
I'll work on a pull request based on the latter approach in [#21441 (comment)](https://github.com/mui-org/material-ui/issues/21441#issuecomment-685940576).

[2020-10-27 23:18] JoaoJesus94 commented on #23282
Sure, will try

[2020-10-28 02:34] stranger26 commented on #23204
Hey @montogeek are you still working on this? Or I can try to attempt a PR for it :)

[2020-10-28 03:36] stfenjobs opened #23287 "[Grid] not support Spread syntax"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img width="486" alt="Capture d’écran 2020-10-28 à 12 55 06" src="https://user-images.githubusercontent.com/3165635/97432892-f8dddb80-191c-11eb-8369-d723507d836e.png">

## Expected

[2020-10-28 04:49] TamjidTayeb commented on #21199
Did you solve this issue?

[2020-10-28 08:35] sandorvasas opened #23289 "Add Eraser and Push Pin Icons"
These two are really missing, and they are much more general and relevant to most applications than e.g. **PREGNANT WOMAN**.

[2020-10-28 08:54] Tokenyet commented on #1578
I want to use `type='number'`, so the only solution for me is to use `substring` at `setState` part.

Example:

[code]

[2020-10-28 09:23] #23272 closed

[2020-10-28 09:34] mforman1 commented on #23215
I'm just noticing we have the same issue with a `<Snackbar />`,
`<ClickAwayListener />` is being fired and closes the  `<Snackbar />` right away.

[2020-10-28 10:00] EliasJorgensen opened #23290 "Build breaks on Webpack 5"
Build breaks on Webpack 5 due to babel-runtime imports not following ESM Strict mode requirements.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Build fails with the following errors:
[code]

## Expected Behavior 🤔
Build finishes

[2020-10-28 10:03] EliasJorgensen commented on #23290
Should be fixed by updating babel-runtime to 7.12.0 or newer, as noted here: https://babeljs.io/blog/2020/10/15/7.12.0

[2020-10-28 10:04] eps1lon commented on #23290
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-10-28 10:05] EliasJorgensen commented on #23290
@eps1lon Afaik codesandbox does not support custom webpack configs. I'll create a quick repo showcasing the issue.

[2020-10-28 10:07] eps1lon commented on #23290
That's fine. That is a saved reply that mentions that codesandbox is not necessary. GitHub repo works just as well.

[2020-10-28 10:20] Sandeep0695 opened #23291 "Need Picker/Dropdown/Select Like this. (Especially for Mobile Mode)"
Hey Guys,
I am using materialUI and creating a website (A Responsive Website). Now i want something like adobe spectrum picker component. E.g. in Desktop mode the picker will show as Select/Dropdown but in Mobile version it will  show as bottom sheet.

To understand more about my needs please open following link in Mobile and desktop mode .
https://react-spectrum.adobe.com/react-spectrum/Picker.ht

[2020-10-28 10:34] EliasJorgensen commented on #23290
I'm gonna close the issue. After creating the example where it oddly worked just fine, i came to the conclusion that it had to be the yarn.lock file, as all else was identical. I deleted it, reinstalled my deps, and profit.

[2020-10-28 10:34] #23290 closed

[2020-10-28 10:44] eps1lon commented on #23290
If I recall correctly, some versions of babel/runtime are just not compatible with webpack 5. We're probably bumping our version to the latest in v5 but for v4 I rather not mess with babel/runtime.

[2020-10-28 10:52] hswimmer commented on #23277
@oliviertassinari
I have an issue with the suggested solution:
I want to keep the selected `rowsPerPage` for displaying this numbers of rows in next use.
When I keep the `-1` option and use this number in next view - I always see all rows.
but if I use `rows.length` and the number of rows was changed from last view - everything is get messy:  the first option is marked as selected, only "prev `row

[2020-10-28 10:55] oliviertassinari commented on #23277
@hswimmer Thanks for looking into but it's already handled in #23280

[2020-10-28 11:00] oliviertassinari commented on #23277
Ok, this sounds fair. We could restore the support of `-1`, with a test case and description of its support in the prop this time. @JoaoJesus94. What do you think? We could do the same for the prop `count`, where `-1` means "unknown". For `rowsPerPage` it could mean "all".

[2020-10-28 11:13] oliviertassinari commented on #23289
@sandorvasas As we are speaking, the icons are sourced as follow:

1. We import all the icons from https://material.io/resources/icons/. Done in:
https://github.com/mui-org/material-ui/blob/0aefc928b00788b0ec5f74842b7c9704a354cf4a/packages/material-ui-icons/package.json#L35
2. We remove icons that are cover niche use cases. Done in:
https://github.com/mui-org/material-ui/blob/0aefc928b00788b0ec5f7

[2020-10-28 11:24] eps1lon commented on #23289
Which "two" are you talking about?

Could you clarify what "general" icons are to you? How you would define "most applications" and how are pregnant women not relevant to those?

From my own personal experience I know at least one usage of that icon: on alcoholic beverages.

[2020-10-28 11:42] montogeek commented on #23204
@stranger26 Thanks for the offer, but I just have time to do it :).
Sorry for taking so long.

[2020-10-28 11:59] oliviertassinari commented on #23287
The following solve this issue but I'm not sure if there is a more pragmatic approach:

[code]

[2020-10-28 12:00] Sandeep0695 commented on #23291
@eps1lon any chances to be merged/ Add thi type of feature ?

[2020-10-28 12:00] oliviertassinari commented on #23215
@mforman1 Thanks for the reproduction. Do you want to work on the proposed fix? We would probably only miss a test case to ensure we don't have regression in the future.

[2020-10-28 12:13] useit-consulting commented on #22956
@eps1lon @oliviertassinari I see the discussion expanded a bit beyond the original scope.

Just wanted to point out that the issue we are discussing is **separate from the portal problem**. I can reproduce it even with the `disablePortal` prop, as you saw in the videos and the CodeSandbox.

And as opposed to the `aria-owns`/portal problem, this is a complete barrier that I don't see any way of get

[2020-10-28 12:18] stranger26 commented on #23204
@montogeek No worries, will leave the PR to you then

[2020-10-28 12:25] JoaoJesus94 commented on #23277
@oliviertassinari It seems that the changes that @hswimmer suggested will fix it.
Regarding prop `count` I think we don't need to touch it. `-1` already means "unknown"

[2020-10-28 12:29] oliviertassinari commented on #23277
@JoaoJesus94 Sounds great, we would only need to add a test case to avoid a regression in the future (like we already had) :)

[2020-10-28 12:31] oliviertassinari commented on #23291
@Sandeep0695 Are you specifically looking for a better mobile experience? In this case, the documentation suggests using a native select.

https://next.material-ui.com/components/selects/#native-select

Did you consider this option?

[2020-10-28 13:31] xiaoyu-tamu commented on #23287
const response = {
  xs: 12,
  sm: 2
} as const

[2020-10-28 13:34] stfenjobs commented on #23287
@oliviertassinari @xiaoyu-tamu

thank you very much

------

`const response = { xs: 12, sm: 2 } as const`

works

[2020-10-28 13:34] #23287 closed

[2020-10-28 14:22] ManacyJohn commented on #19427
is there a documentation for overrides? Cant really understand how to use overrides in material-ui DatePicker. Please give an example atleast!

[2020-10-28 14:48] Kizmar opened #23295 "[Select] filled variant - not able to override MuiFilledInput-root"
So I'm trying to override `background-color` and the `::before` `border-bottom` styles of a `Select` component so the field looks sort of like `<ListItemText />` when disabled. Here's an example:
[code]
The style in question...
[code]
_Side note: I'm using something similar on a `TextField` and it works as expected._
[code]
When the `Select` component renders, I end up with HTML like this:
[code]

[2020-10-28 14:58] amir-gorji opened #23296 "Type Error: Property 'nodeId' is missing in type '{ children?: ReactNode; }' but required in type 'TreeItemProps'"
I'm using @material-ui/lab + typescript in my React project and when I use nodeId prop inside withStyles wrapper, I get type-checking error.
When I write:

[code]

I get the error:

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

#

[2020-10-28 15:05] eps1lon commented on #22956
Not really. It's just not the root of the problem. In the end you still will have to `disablePortal` on VO. So the issue has two problems:
1. VO needs `disablePortal`
1. VO on iOS is bugged even with `disablePortal` while working fine on iPadOS

[2020-10-28 15:06] #23296 closed

[2020-10-28 15:25] #23295 closed

[2020-10-28 15:25] oliviertassinari commented on #23295
@Kizmar Tip: you can use the global CSS selector, it can be easier.

[2020-10-28 15:33] oliviertassinari commented on #19427
@ManacyJohn See https://next.material-ui.com/components/about-the-lab/#typescript, it will work as soon as we move the date picker components in the lab.

[2020-10-28 17:07] nnkteja opened #23298 "Add more/all material.io icons"
Can you please add all material.io icons from here https://material.io/resources/icons/?style=baseline

## Summary 💡

although there are icons available in @material-ui/icons, it helps if all the material.io icons are made available in the same package.

[2020-10-28 17:08] oliviertassinari commented on #23298
Check v5-alpha out

[2020-10-28 17:08] #23298 closed

[2020-10-28 18:47] mbrookes commented on #23298
Any reason this couldn't be published as 4.x? (And no, "To make people upgrade to 5.x" isn't a reason. 😉

[2020-10-28 18:48] mbrookes commented on #23298
Any reason this couldn't be published as 4.x? (And no, "to make people upgrade to 5.x" isn't a reason. 😉 )

[2020-10-28 18:50] quinnturner opened #23300 "Implicit transitive 'csstype' dependency"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Yarn build fails with TypeScript and Yarn PnP

[code]

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v5.0.0-alpha.14  |
| React       |

[2020-10-28 18:55] mbrookes commented on #23289
When we added the social icons, I commented that we should avoid the slippery slope and resist the temptation to add other complementary icons. It's a never ending task that will quickly get out of hand - just look at some of the monster icon libraries out there.

We provide links to third-party icon libraries, and multiple methods for creating your own. On that basis I believe this should be clos

[2020-10-28 19:05] oliviertassinari commented on #23289
@mbrookes Definitely, the opportunity might be too high. I was more interested in 1. gauging the interest of the community for this 2. consider including the most frequently missing searched icons in the website (using the Analytics).

[2020-10-28 19:14] oliviertassinari commented on #23298
To reduce the fragmentation of the community :p. A feedback we don't get on the latest version is a missed opportunity to improve the product 😁.

[2020-10-28 21:04] #23277 closed

[2020-10-28 22:18] BennyHinrichs opened #23303 "[Switch] Add circular progress (display processing status) to Switch; indeterminate state also requested"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- Add a prop to `Switch` called `processing` or somesuch that will put a `CircularProgress` on the `Switch` thumb.
- Add an `indeterminate` prop to `Switch` that puts the thumb in the middle of the track.

## Examples 🌈

- https://material.io

[2020-10-28 22:41] oliviertassinari commented on #23303
Duplicate of #19140

[2020-10-28 22:41] #23303 closed

[2020-10-29 08:08] matthewkwong2 opened #23305 "[v4.11.0][Theme] Font family not inherited"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[code]
In the above case, `childTheme.typography.fontFamily` is inherited from that of the `parentTheme`, but `childTheme.typography[variant].fontFamily` are still using the default va

[2020-10-29 08:41] manuelbenitez commented on #18494
I had the same issue and fixed it just with setting a defaultValue='' in the <Select/> component, this is how my code looks like

                            <Select
                                input={<Input />}
                                onChange={e => setCualification(e.target.value)}
                                defaultValue=''

                                {cualificationsList.ma

[2020-10-29 08:46] manuelbenitez commented on #18494
I had the same issue and fixed it with just setting a defaultValue = "" in my <Select/> component

[2020-10-29 09:18] #23305 closed

[2020-10-29 09:20] matthewkwong2 commented on #23305
@oliviertassinari Wait, I thought this is a bug, isn't `createMuiTheme` supposed to be used like that?

[2020-10-29 10:54] #22001 closed

[2020-10-29 11:52] ar4hc commented on #7466
Just another hack for this, which works for me ;)
[code]
those 2px seems to be added somewhere below my grid definition, so the actual value could be different for other people...

[2020-10-29 12:22] ssi-anton-vasilev commented on #20107
I get the same behavior as the reporter - the slider is not working as expected on mobile phones (tested on Android 9.0 latest FF and Chrome).

[2020-10-29 12:28] aneesha2890 commented on #18928
Hi ,
I implemented the changes and added arrow enable prop and arrow ref still not able to get the arrow on a popper..
is there some way to do it??
 arrow: {
        enabled: false,
        element: arrowRef,
      },

[2020-10-29 13:00] iiskaandar commented on #17454
Still have this issue, and when I am reading "event.target.value" or "event.currentTarget.value" there is "undefined" or "null".

[2020-10-29 13:02] georgeiliadis91 opened #23306 "Cannot install @material-ui/core with npm 7 and React 17"
On the base template of create-react-app v4 with typescript material-ui/core complains about the version of react.

## Steps to Reproduce 🕹
Step 1: Run - npx create-react-app . --template typescript
Step 2: Run - npm i @material-ui/core

Error fron console

[code]

- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a d

[2020-10-29 13:04] vinikatyal commented on #17454
export interface ITabsProps extends Omit<TabsProps, 'onChange' | 'textColor'> {
  children?: React.ReactNode;
  textColor?: TabsProps['textColor'];
  onChange: (event: React.ChangeEvent<{}>, newValue: number) => void;
}

@iiskaandar I used this

[2020-10-29 13:17] smoleniuch opened #23307 "[4.11.0][Breakpoints]Breakpoints between method provides wrong value for widest screen value"
Media query generated by `theme.breakpoints.between()` are invalid.
Error occurs only when second parameter is widest value.In default theme it is `theme.breakpoints.between('sm','xl')`

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior

[2020-10-29 13:29] bengbengku commented on #16341
Thank you, its work!

[2020-10-29 13:39] oliviertassinari commented on #23307
Do you mean it was fixed in v5? We can close if it's the case. We only backport major fixes.

[2020-10-29 13:41] oliviertassinari commented on #23307
Yeah OK, it's fixed in v5, we can't fix it in v4, it would be a breaking change.

[2020-10-29 13:41] #23307 closed

[2020-10-29 13:42] oliviertassinari commented on #23307
Duplicate of #13448

[2020-10-29 14:18] faqima01 commented on #5614
Why is this closed? It's not solved at all. I still get it in 2020, Material-UI v4.

[2020-10-29 14:43] eps1lon commented on #23306
v4 does not officially support react 17 as of yet. You should see a missing peer dependency warning. Until the next v4 feature release you should downgrade to react 16.

[2020-10-29 14:53] Loise opened #23309 "Disable scrolling effect on mobile for AppBar"
Hello,

Thanks for your fabulous framework
I want suggest a new feature
I use 2 Appbar (with tooltip inside) on my application, and I search to remove the scrolling effect implemented in mobile

I tried to do something like this:
const KeepOnScroll = ({ children }) => {
  return (
    <Slide appear={true} in={true}>
      {children}
    </Slide>
  )
}

But it doesn't work

- [x] I have searched th

[2020-10-29 14:56] Szefczuk opened #23310 "Autocomplete -> renderInput prop"
## Current Behavior 😯

When you pass the input element in to renderInput prop and then you will call that custom attribute in inputProps of that rendered input you will get error - cannot read property focus of 'null' in useAutocomplete.

## Expected Behavior 🤔

Autocomplete component have to accept custom attributes in inputProps renderInput prop

## Steps to Reproduce 🕹

https://codesandbox.io/s

[2020-10-29 15:04] nandosangenetto commented on #23306
@eps1lon
Does v5 already support it?

[2020-10-29 15:04] #23309 closed

[2020-10-29 15:06] #23310 closed

[2020-10-29 15:22] eps1lon commented on #23306
Technically v4 and v5 should support it. We're running tests with React 17 every day so we're notified once something breaks.

We just haven't updated the peer version yet because, well, react 17 was just released.

We'll fix this for v5 in the next release. For v4 we'll discuss if it makes sense to cut a feature release yet. That might include a bunch of deprecation warnings though. So if you're

[2020-10-29 16:57] nandosangenetto commented on #23306
@eps1lon, that's the result from `npm --version`:
[code]

Btw, I'm not using `create-react-app`, I'm using `react@17` + `next@10`.

[2020-10-29 18:07] piehouserat commented on #22450
Guys I had some more time on this, bumped all packages to latest and the problem still exists. To prove that it was unrelated to my own code I cloned the latest `nextjs-with-typescript` example from the repo and checked out the `Link` component.

Out of the box, the ref prop is underlined in red on line 56 with the same error as before.

[2020-10-29 18:10] piehouserat commented on #22450
@oliviertassinari can we please re-open this, the issue definitely exists and can be observed by simply looking at the example mentioned above

[2020-10-29 18:15] eps1lon commented on #23306
`npm@6` should install. The missing peer warning is safe for our case.

[2020-10-29 18:16] oliviertassinari commented on #22485
Another advantage of this direction, Material-UI is often associated with Material Design, but that's not the end goal, we provide material to build UIs, they have to look and feel awesome. Material Design is one mean to this end.

[2020-10-29 18:22] #23204 closed

[2020-10-29 19:51] #23300 closed

[2020-10-29 20:33] #23282 closed

[2020-10-29 20:41] Duboislo opened #23314 "MUI Styles are not loaded on initial site load"
I am using an MUI Table in a Next.js application to display my data. Whenever I load my page, the whole styles that I set up are gone and the page table is normal.

However, as soon as I modify and save the JS page (eg, adding and then deleting a space in the code and saving the file), the table looks like what I want it to look with colors, background colors and fontsizes.

- [ ] The issue is pre

[2020-10-29 20:46] #23314 closed

[2020-10-29 21:45] oliviertassinari commented on #22450
@piehouserat I can't reproduce with v5: https://github.com/mui-org/material-ui/tree/next/examples/nextjs-with-typescript.

[2020-10-29 21:54] eps1lon commented on #23215
I understand that everybody wants to switch right now but note that we don't officially support React 17 yet (hence the peer dependency mismatch warning you should see). We fixed most compat issue but some still slip through since we ourselves haven't fully switched yet.

Material-UI + React 17 is something you should consider as unstable so do your end-users a favor and don't switch to it in prod

[2020-10-29 22:45] eps1lon commented on #23215
Tracking investigation in https://github.com/mui-org/material-ui/issues/23215#issuecomment-719046162.

Another workaround for now is

[code]
if you don't rely on portaling.

[2020-10-29 23:50] oliviertassinari commented on #23291
The following allows you to automatically switch between the native and DOM based select:

[code]

https://codesandbox.io/s/stoic-wing-iwndw?file=/src/App.js

[2020-10-30 01:43] matthewkwong2 commented on #22342
So is there a conclusion on the recommended style solution to use with Material UI v5? It seems that there is an intention of moving away from JSS which `@material-ui/styles` is currently built upon. Or `@material-ui/styles` will be refactored to build upon other styling solutions like `styled-components` instead?

[2020-10-30 04:29] Md-Abdul-Halim-Rafi opened #23317 "After google sign in css got broken in nextJs"
My web is showing the exact styles in dev and prod versions before firebase authentication with Google provider. But, after signing all CSS got broken.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate, if it is duplicate then I am sorry.

## Current Behavi

[2020-10-30 05:37] gregnb commented on #19651
A product I'm working on is being audited by a FAANG company for A11y. Right now, they are dinging us for the extra tabs that they label as a "loss of focus" (these come from the sentinels).  At some point, we'll have to remediate the issue for our project.

With that said, are we still open to a solution that leverages tabbable? i wouldn't mind taking it up

[2020-10-30 08:54] georgeiliadis91 commented on #23306
I am on npm version 7 as well.

[2020-10-30 09:45] mnajdova commented on #22342
@matthewkwong2 we wouldn’t adopt the `@material-ui/styles` package to the new styled engine, it will keep supporting jss. In v5 it will be isolated to the rest of the codebase and we plan to remove it in v6, meant to help transition to the new styling engine.

For v5, we will have new beat practices regarding the styling solution, like the `sx` prop and the `styled` utility, we still work on the d

[2020-10-30 09:45] oliviertassinari commented on #19651
@gregnb There was a first attempt at solving the problem in #21857. It's definitely something we need to resume. Ideally, I think that the container would only be focused if there are no tabbable items inside it.

[2020-10-30 09:50] oliviertassinari commented on #23317
@Md-Abdul-Halim-Rafi Could you provide a minimal and live reproduction? This would help a lot, we can't help with only code snippets, there are too many external dependencies that could influence it.

[2020-10-30 10:06] Md-Abdul-Halim-Rafi commented on #23317
Thanks @oliviertassinari for your kind response. I deployed it to vercel. Here is the [live URL](https://mc-next-test.vercel.app/)

[2020-10-30 10:15] oliviertassinari commented on #23317
@Md-Abdul-Halim-Rafi This isn't a reproduction, it needs to contain as little code as possible (not your app) it also need to pin-point where the issue is coming from.

[2020-10-30 10:43] el1f commented on #21476
@JasonTolliver this seems prime for closing :)

[2020-10-30 10:46] oliviertassinari commented on #21476
@el1f What do you mean? As far as I know, the issue still stand.

[2020-10-30 10:49] el1f commented on #21476
My bad, I misinterpreted the PR. If no-one else is working on this I'd like to take a spin on it :)

[2020-10-30 11:01] matthewkwong2 commented on #22342
So if I understand correctly, for the styling of individual components, it is encouraged to use `sx` or `styled` instead of `makeStyles`.

But what about the theme (i.e. `createMuiTheme`)? I believe that part is also built upon JSS right? What would be the recommended way to create a theme (i.e. with the main purpose to define global styles) now?

[2020-10-30 11:10] mnajdova commented on #22342
We still keep the same structure for creating the theme, we just expect that the values for the components overrides & variants follow the syntax for emotion/styled-components. There are no changes in how the theme is created, the API is exactly the same, the same theme context is reused for the new styled engine too. Does this makes sense @matthewkwong2 ?

[2020-10-30 12:59] rpuls opened #23319 "Dialog scrolling-long-content closes when using scrollbar"
A client of ours contacted us today explaining that she were unable to scroll down inside a dialog. It turns out that she doesn't have a scroll wheel on her mouse, and no touchpad. I tried to reproduce the issue and I immediately had unexpected behavior..

## Current Behavior 😯
When dragging the scrollbar down, the dialog content does follow, but on mouse up, the dialog closes. Reopening the dialo

[2020-10-30 13:06] k1941996 commented on #16014
Can we override it using CreateMuiTheme ??
https://codesandbox.io/s/material-demo-forked-h741r?file=/demo.js

i tried it using this, though i had to use '!important' to override. Is there any other method to do it. other than makestyles and withStyles?

[2020-10-30 13:20] oliviertassinari commented on #23319
Fixed in v5 https://next.material-ui.com/components/dialogs/#scrolling-long-content

[2020-10-30 13:20] #23319 closed

[2020-10-30 14:11] slim-hmidi opened #23320 "Create an edit line component like atlassian component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
A textfield component which its width fits automatically the length of the string written by the user and add a icon to cancel and icon to validate the input.

The component shoud fits the width automatically without declaring the min-width, a

[2020-10-30 14:11] Md-Abdul-Halim-Rafi commented on #23317
Sorry for the inconvenience, I tried to create a reproduction with this [repo](https://github.com/Md-Abdul-Halim-Rafi/mui-next-demo).

What I found, the main problem is created by a component named `BadgeNotification`. There I used `makeStyles` to add some styling rules. But, anything I add, it behaves weird after the login.

Hopefully, this will help you to find my problem.

[2020-10-30 15:00] #23317 closed

[2020-10-30 15:01] oliviertassinari commented on #23317
Tip: hydration & users

[2020-10-30 15:02] Mahesh1205 opened #23322 "issue in multiKeyStore.js while executing in material UI makeStyle method"
[code]
cont

Hi while executing the test which is using above code snippest.. I am getting an error inside multiKeyStore.js as 'cannot read get of undefined' inside get method. Not sure what am I missing but that cache argument should have handled for not null insidemultiKeyStore.js. please help

[2020-10-30 15:04] Md-Abdul-Halim-Rafi commented on #23317
Sorry, I didn't understand. Can you please elaborate it?

[2020-10-30 15:06] oliviertassinari commented on #23317
@Md-Abdul-Halim-Rafi Sorry, I can't, it would create a perverse incentive. You can ask on StackOverflow.

[2020-10-30 15:07] #23322 closed

[2020-10-30 15:10] #20859 closed

[2020-10-30 21:24] anasufana commented on #22911
Would this be an appropriate solution for testing the Modal Backdrop Fade transition with testing-library? As other people have suggested, I'm not sure there is a more elegant way of doing it with testing-library.

[code]
[code]
[code]

[2020-10-30 23:25] Ti84 commented on #12526
@morgoe 9 months late, but for future we were able to get it working using the cross-env package in our package.json:
"prodBuild": "cross-env NODE_ENV=production nx run example-app:build:production",
"prodServe": "cross-env NODE_ENV=production nx run example-app:serve:production"

[2020-10-31 04:03] hughfm opened #23328 "[CardHeaderProps] Type error assigning JSX.Element to title prop"
Hi there,

We're experiencing a TypeScript issue specifically with the `CardHeaderProps` type. The problem seems to be assigning `JSX.Element` values to props that should accept `React.ReactNode`, but whose name overlaps with HTML attributes coming from the "default component" (e.g., `title`).

The `CardHeader` component itself behaves fine, so this works:

[code]

but this does not:

[code]

prod

[2020-10-31 09:26] #17842 closed

[2020-10-31 10:41] mtr1990 opened #23332 "[TextField] Wrong disabled color in Safari"
In my case
https://prnt.sc/vane10

Please help, How to fix it?

[2020-10-31 10:44] eps1lon commented on #23332
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-10-31 10:52] jeromeSH26 opened #23333 "[DOC] MuiCssBaseline overrides is depreciated. Not mentionned in doc"
When trying to overides the MuiCssBaseline, it is written as "depreciated".

- [X ] The issue is present in the latest release. (4.11.0)
- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
can not apply Global theme as before by overriding the MuiCssBaseline class.

## Expected Behavi

[2020-10-31 10:53] mtr1990 commented on #23332
Hi @eps1lon I'm sorry,

This is link :
https://codesandbox.io/s/material-demo-forked-e8g4f?file=/demo.js

Please compare in safari and chrome, Thanks!

[2020-10-31 11:42] #23333 closed

[2020-10-31 11:44] oliviertassinari commented on #23333
https://next.material-ui.com/guides/migration-v4/#theme

[2020-10-31 12:27] oliviertassinari commented on #23328
@hughfm It was fixed in v5

[2020-10-31 12:27] #23328 closed

[2020-10-31 12:32] Bird-Kid commented on #23306
I ran into the same error the other day. Using npm v7.0.3 does yield additional output:
[code]
Following the instructions I ran
[code]
and it installed fine without downgrading npm or React.

Note that I've only tested a few components and features. Everything _seems_ fine so far, but I don't know whether there are any lurking compatibility issues between `@material-ui/core@"v4.11.0"` and `react@"

[2020-10-31 12:38] arjunair86 opened #23334 "[styles] ThemeProvider does not toggle theme in React.StrictMode"
## Description
See codesandbox: https://codesandbox.io/s/zealous-dawn-oof38
#### With React.StrictMode:
--Clicking the button changes the theme once from light to dark. But subsequent changes are not committed.
#### Without React.StrictMode (in index.js)
--Clicking the button toggles the theme.

## Current Behavior 😯
Does not toggle theme though the value of the theme changes.

## Expected Behavio

[2020-10-31 12:40] arjunair86 commented on #23334
Similar Issue in styled-components: https://github.com/styled-components/styled-components/issues/3008

[2020-10-31 12:49] oliviertassinari commented on #23334
Solved in v5 with the next `@material-ui/styled-engine` package: https://codesandbox.io/s/youthful-cherry-smxvp?file=/src/Demo.js.

[2020-10-31 13:38] stfenjobs opened #23335 "the docs lost flexDirection="column" in flexbox"
in the docs https://next--material-ui.netlify.app/system/flexbox/

can't find `flexDirection="column"`

[2020-10-31 13:41] oliviertassinari commented on #23332
We would need to apply this diff to fix the opacity on Safari.

[code]

However, it would also force all the customization to adapt. So the question is, will most developers want to know about this issue and update their styles accordingly?

[2020-10-31 13:55] oliviertassinari commented on #23335
@stfenjobs What do you mean by "can't find"? Is it related to #15451?

[2020-10-31 14:04] jeromeSH26 commented on #23333
merci olivier but I mentioned release V4.11.0 in my post, not version 4.
Will switch to V5 anyway to test

Rgds

[2020-10-31 14:18] numToStr opened #23337 "[Tabs] Leading Icon variant"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently `<Tab />` does not support the leading icon. This variant is useful for desktop screens as there is plenty of horizontal space is available.

## Examples 🌈

![material io_components_tabs](https://user-images.githubusercontent.com/24

[2020-10-31 14:29] oliviertassinari commented on #23337
Related to #15324

[2020-10-31 15:01] stfenjobs commented on #23335
@oliviertassinari

sorry , my english is not well

i mean is , docs Incomplete，

can't find demo about `flexDirection="column"`

[2020-10-31 15:15] oliviertassinari commented on #23335
@stfenjobs We can't add a demo for all the possible values. Closing for #15451.

[2020-10-31 15:15] #23335 closed

[2020-10-31 16:38] mtr1990 commented on #23332
Yes, I think this is necessary,
Thanks for help me, It's woking!

[2020-10-31 16:56] oliviertassinari commented on #23332
Considering it's using the design token from the theme, I think that we can move forward, it should be fine.

[2020-10-31 18:04] emibcn commented on #23241
DDG related issue: https://github.com/duckduckgo/Android/issues/638

[2020-10-31 18:39] Morteza-Jenabzadeh commented on #23332
can I take it?

[2020-10-31 18:43] oliviertassinari commented on #23332
@mtr1990 would have priority as it's thanks to him that we would be fixing this bug. If he's not interested, definitely.

[2020-10-31 20:42] ggrantrowberry opened #23340 "Material UI rendering extremely slow in chrome extension"
I am building a chrome extension using React and Material-UI for the popup. I used create-react-app to set everything up. The rendering of Material UI `component` animations (switch toggle, select highlighting on mouse over, etc.) is extremely slow. OnClick methods fire just fine but the animations have issues.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](h

[2020-10-31 20:51] #23340 closed

[2020-10-31 20:55] ggrantrowberry commented on #23340
Sorry I'm new here. I don't understand. How is this not a bug?

[2020-11-01 09:19] samrae7 commented on #22911
Update on drawer.test.js - because this component uses the modal component it is hard to test with react-testing library and so I haven't proceeded. I'm guessing this is the reason it was left until now

[2020-11-01 13:00] antonholmberg commented on #23062
@eps1lon Oh I completely missed that line.

[2020-11-01 13:04] antonholmberg commented on #23062
Thanks for the link to the `@mateial-ui/pickers` I will see if I can use them for now

[2020-11-01 13:28] the5ereneRebe1 opened #23363 "[Tooltip] The default offset of popper changes for different screen sizes."
The popper of the Tooltip have different offsets for different screen sizes, for screen size 375px and above the popper appears to be closer to the Tooltip child.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The popper offset fo

[2020-11-01 13:46] oliviertassinari commented on #23363
@the5ereneRebe1 Thanks for the report. I can reproduce with v5. Yeah, we started to discuss this problem in: https://github.com/mui-org/material-ui/pull/23088#issuecomment-710014975 with @eps1lon. Maybe we should inverse the logic:

[code]

[2020-11-01 20:05] jakehewitt commented on #11467
This solution still works but is now throwing an error in console
`Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`

[2020-11-01 20:11] jackson-sandland commented on #10382
It would be optimal if there was an option when creating a material-ui project to allow for CSS/SCSS use instead of having to learn a totally new style framework. I also think the way classNames are appended to the DOM make development opaque since it's not entirely clear where the classes are defined / where the classNames are coming from. I do like everything material-ui has to offer but figurin

[2020-11-01 20:36] mbrookes commented on #10382
@jackson-sandland It's covered here: https://material-ui.com/guides/interoperability/#plain-css

They're documented on each component API page, for example: https://material-ui.com/api/accordion/#css

[2020-11-01 21:59] eps1lon commented on #23363
I generally do not understand why the logic should change on touch screens. From personal experierence increasing size/offset does not change the potential problem hiding the tooltip. It assumes a pretty unnatural handling of touch devices. I don't think we established resources/research into this problem. Seems to be we're better off removing the logic until we have a good understanding of the pr

[2020-11-01 22:00] #23215 closed

[2020-11-01 22:19] oliviertassinari commented on #23363
Which visual change are you referring to and under which condition? Do you agree that the proposed change is moving in the right direction? Moving the visual change of the tooltip from mouse vs touch pointer usage to screen width?

[2020-11-02 02:19] valtism commented on #23215
Will this fix be going into v4, or will it be v5 only?

[2020-11-02 09:30] eps1lon commented on #23215
This fix will be backported to the next v4 feature release but that one will also include deprecation warnings. The recommendation in https://github.com/mui-org/material-ui/issues/23215#issuecomment-719046162 still stands: Material-UI v4 + React 17 is unstable and not fit for production yet.

[2020-11-02 09:57] mathieuhasum commented on #23220
Looking forward to this feature!
As @yuchi mentioned,  the Babel macro also seems to be a possible alternative.
Some reference I found for the implementation of the `css` prop in styled-components:
https://medium.com/styled-components/css-prop-support-for-create-react-app-37e8c5d96861
https://styled-components.com/docs/tooling#babel-macro

[2020-11-02 10:00] yuchi commented on #23220
Please note that Styled's Babel Macro is a "bad macro", what I mean is that it's actually a Babel Plugin which is triggered file-wide at macro import (they release both the plug-in and the macro).
In this regard it is **not** an hygienic macro, it doesn't have a trigger reference: every occurrence of a `css` prop (by name! not by hygienic reference!) gets transpired.

[2020-11-02 10:08] Maroa01 opened #23365 "Unable to Install Material-UI icons."
I am trying to add the Material-UI icons to my react app. I used the npm install @material-ui/icons and this is the error message i get each time. How can i resolve this issue and add the material-ui icons to my app.

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: amazon-clone@0.1.0
npm ERR! Found: react@17.0.1
npm ERR! node_modules/re

[2020-11-02 10:10] eps1lon commented on #23365
Duplicate of #23306: Material-UI does not support React 17 yet.

[2020-11-02 10:10] #23365 closed

[2020-11-02 10:12] #23306 closed

[2020-11-02 10:15] Maroa01 commented on #23306
Is there a way to add the Material-UI icons for react 17.01? Any suggestions?

[2020-11-02 11:22] eps1lon commented on #23363
Any placementS7ize logic for the tooltip depending on screen size.

[2020-11-02 11:23] Apollinaire commented on #22941
This looks like it's linked with an issue I have in a TS environment;
Basically, you can't spread a ListItemProps typed object inside ListItem without having the following error:
[code]

Reproduction : https://codesandbox.io/s/material-ui-issue-forked-w5cew?file=/src/Demo.tsx

[2020-11-02 11:27] oliviertassinari commented on #23363
@eps1lon What should be removed, the increase of font size? The change of the relative position between the anchor and the tooltip?

The current logic is inferred from https://material.io/components/tooltips and how Google implements the tooltip in its product (desktop & mobile). We could definitely put it under more scrutiny.

[2020-11-02 11:46] eps1lon commented on #22956
@useit-consulting Could you check-out https://w3c.github.io/aria-practices/examples/combobox/combobox-autocomplete-list.html and tell me if this is working for you?

[2020-11-02 12:14] Apollinaire commented on #22941
After looking more into it, this seems related to #14971 , since the propTypes are generated from the TS types

[2020-11-02 12:44] olee commented on #20708
Does no one at all care about this issue?
By investigating the problem (before I even found this issue 😅) I found out that the issue lies within useSynchronousEffect.

The problem is caused because the function body is invoked twice, but one of those iterations is completely dropped.
This means that the initializer passed to useSynchronousEffect is called, but the effect which should handle dispos

[2020-11-02 13:15] olee commented on #20708
Ok I found out that useSynchronousEffect is used because it's handler takes care of creating and attaching the stylesheets, which is necessary for the following code to get the classes.

To solve this, I would propose splitting this into two steps:

1. Synchronous actions:
    - Create a (temporary) stylesheet
    - Add stylesheet to sheetsRegistry (required for SSR, ain't it?)
2. A following useL

[2020-11-02 13:27] Bird-Kid commented on #23306
You should be able to add `@material-ui/icons` using the same `--legacy-peer-deps` flag in npm v7:
[code]
Same disclaimer applies as in my post above: Material UI does not officially support React v17 yet, so use with caution.

[2020-11-02 13:48] Dezainer commented on #14257
Guys, this did the trick for me:

[code]

[2020-11-02 14:19] oliviertassinari commented on #20708
@olee In the current direction, we will deprecate `@material-ui/styles` in v5 and remove it in v6. See #22342. We will close all the issues related to this package once we have made enough progress in the migration.

[2020-11-02 15:20] Rondip commented on #13394
Still having this issue

[2020-11-02 15:30] oliviertassinari commented on #22941
Duplicate of #14971

[2020-11-02 15:30] #22941 closed

[2020-11-02 15:45] appli-intramuros commented on #8223
Thanks @KannugoPrithvi , this is the good solution ! https://material-ui.com/styles/api/#creategenerateclassname-options-class-name-generator

[2020-11-02 15:50] jeromeSH26 commented on #13394
using v15, no more this issue

Le lun. 2 nov. 2020 à 16:20, Rondip <notifications@github.com> a écrit :

[2020-11-02 16:43] ggrantrowberry commented on #23340
Looks like it's not a Material-UI issue at all.
https://bugs.chromium.org/p/chromium/issues/detail?id=971701

[2020-11-02 16:51] piehouserat commented on #22450
@oliviertassinari this is so weird, I've attached a screenshot of what I see

https://ibb.co/BTSwfRq

Is there any way this could be environment related? Only thing of note is that I am on the macOS Big Sur beta although I can't see how this would affect things

[2020-11-02 17:01] NawarA commented on #23289
How often is the script above run? I'm observing we're missing icons that are present on material.io, for example
![image](https://user-images.githubusercontent.com/2067616/97896278-b84ddb80-1ce9-11eb-9c74-6620f7d7b9dc.png)

doesn't exist in MUI...though its clearly a very common icon, that developers would expect in there

Perhaps a cron should run daily or weekly to sync everything? Or perhaps b

[2020-11-02 17:10] oliviertassinari commented on #23289
@NawarA https://next.material-ui.com/components/material-icons/

[2020-11-02 17:31] oliviertassinari commented on #23332
@Morteza-Jenabzadeh Feel free to move forward

[2020-11-02 19:09] NawarA commented on #23289
Nice, looks like icons will sync on every semantic diff 👍

[2020-11-02 19:56] mbrookes commented on #23289
@oliviertassinari Any reason that these can't be published under v4?

[2020-11-02 20:00] oliviertassinari commented on #23289
The same as before? Encourage adoption and feedback on v5, the more users, and the earlier they are using it, the best feedback loop.

[2020-11-02 20:02] oliviertassinari commented on #23306
@eps1lon To continue the discussion on https://github.com/mui-org/material-ui/pull/23367#issuecomment-720404626. Could a fresh install failing (using the latest version for all the dependencies Material-UI v4, React, v17, npm v7) be a compelling reason enough to backport #23311 to v4?

[2020-11-02 20:04] mbrookes commented on #23289
So not really then. There's nothing specific to the Material Icons to get feedback on, so holding them to ransom doesn't make a huge amount of sense.

[2020-11-02 20:09] reedanders commented on #20288
I'm on this.

[2020-11-02 20:16] zirho commented on #22947
This is a valid issue report.
I found my project also exhibit the same issue with overrides.

I followed the doc for v9.11 at the moment.
https://material-ui.com/components/use-media-query/

[2020-11-02 21:01] eps1lon commented on #23306
I don't have confidence that v4 supports React 17 and we don't have the bandwidth to support it amidst work for v5. There should be some warnings that this is unsafe.

The warning is a compelling reason **not** to do it. I have asked multiple times what the reason is for  upgrading. So far nobody has explained why they need React 17 + Material-UI v4.

Maybe developers don't understand how (peer de

[2020-11-02 21:22] Bird-Kid commented on #23306
_New is always better._

Jokes aside:

I feared as much, but I'm all for v5 getting all the attention. (AFAIK React 17 doesn't introduce many (if any) new features and focuses more on future ease of upgrading.)
I've updated my comments above to emphasize that `--legacy-peer-deps` is discouraged (although hopefully that was already obvious enough), but will leave them up if anyone is really eager t

[2020-11-02 21:23] oliviertassinari commented on #23306
@eps1lon I think that there is another flip of the coin, people upgrading is one thing, what about people starting a new project?

[2020-11-02 22:27] FabriceSalvaire opened #23373 "[Tooltip] must be as child of ToggleButton"
Using @material-ui/lab": "^4.0.0-alpha.56

In the doc https://material-ui.com/components/tooltips/ there is this example

[code]

But with this code, the second button is not styled as checked when we click on it

[code]

a workaround is to place the tooltip as a child of ToggleButton

[code]

[2020-11-02 22:30] oliviertassinari commented on #23373
Duplicate of #18091

[2020-11-02 22:30] #23373 closed

[2020-11-03 01:05] jackrevol opened #23374 "[TextField] Omitting defaultValue and value results in undefined value in onChange"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

onChange TextField( in TabList ) then TabList's value change to undefined

## Expected Behavior 🤔

TabList's value does not change

## Steps to Reproduce 🕹

https://codesandbox.io/s

[2020-11-03 06:57] the5ereneRebe1 commented on #23363
@eps1lon @oliviertassinari the difference in the relative position does not make any sense , maybe we should let a developer decide how much spacing he wants and add a attribute on Tooltip component to configure the spacing.

[2020-11-03 08:47] olee commented on #20708
Would you still be accepting a PR which could make the current solution StrictMode compatible if it doesn't have to change too much?

[2020-11-03 09:17] oliviertassinari commented on #20708
@olee Definitely

[2020-11-03 09:26] kevinvugts commented on #22534
hi @oliviertassinari

Is it right that material-ui library re-mounts every step inside the stepper when switching back and forward between the steps? If so, how could I prevent this functionality?

Currently I am experiencing issues with the stat being reset to default on switching back and forward. Also with an instance of formik and formik persists after going back and forward twice, the formik

[2020-11-03 09:39] eps1lon commented on #23306
They will see the warning. I'm just completely lost what your thought process is here. So we have this untested combination that already had 2 obscure bugs. We don't have time to support twice as many releases. And you just want to remove the warning to gain what?

The bad warning is an npm issue. npm 6 and yarn 1/2 correctly show that the peer version is wrong upon investigation (which is common

[2020-11-03 09:54] oliviertassinari commented on #22534
@kevinvugts Are you using the vertical stepper? I think that the behavior is correct. You will find #10569 for developers advocating for the current behavior. I'm reopening as, after all, we might benefit from documentation about it. The following should be enough:

[code]

What do you think about it? Do you want to open a pull request?

[2020-11-03 09:56] oliviertassinari commented on #23363
@the5ereneRebe1 The different is meant to leave space for a finger. You will find it in Google's product and Material Design specification.

[2020-11-03 10:00] oliviertassinari commented on #23363
I'm adding the "good first issue", looking closer, I believe the changes are going in the right direction, we increase the UI for the tooltip on smaller screens and leave more space for fingers (can happen on a large desktop screen).

[2020-11-03 11:09] eps1lon commented on #23374
`<TextField onChange={searchChange} />` is the problem here. Seems like we require either `value` or `defaultValue`.

[2020-11-03 11:11] jungRoit opened #23376 "Multiline TextField doesn't support type password"
Multiline TextField doesn't support type password. This works with normal TextField but if I add multiline prop the password type is now working.

## Current Behavior 😯
 Multiline TextField is not supporting type password

## Expected Behavior 🤔
Multiline TextField should support type Password.

## Steps to Reproduce 🕹
Steps:
1.create a Multiline TextField Component.
[code]
2. add type prop with v

[2020-11-03 11:11] eps1lon commented on #23374
Just checked: A basic `<input onChange={searchChange} />` behaves the same way. You have to provide `defaultValue=""` so that React knows it is uncontrolled.

[2020-11-03 11:16] eps1lon commented on #23374
Nevermind, I see what's happening. The change event is bubbling but something is off with the demo anyway. Too many warnings.

[2020-11-03 11:16] oliviertassinari commented on #23376
https://stackoverflow.com/questions/16058008/is-there-a-known-way-to-have-a-textarea-with-the-password-type

[2020-11-03 11:16] #23376 closed

[2020-11-03 11:19] hmaddisb commented on #23363
hi, can I work on this? and just so I understand it correctly, it is decided that we should move on with the changes suggested in https://github.com/mui-org/material-ui/issues/23363#issuecomment-720091272 ?

[2020-11-03 11:22] eps1lon commented on #23374
Neither the stable nor experimental API support anything but tabs as children. This is an important restriction to guarantee accessibility.

[code]

Works as well but needs some additional styling.

[2020-11-03 11:22] #23374 closed

[2020-11-03 11:52] ErikParso commented on #15631
So there is no plain css solution for this.

Except you do it yourself using css media query and for each breakpoint you set negative margin for container and positive padding of same value for grid item. Do not forget to set container width to unset because flex...

[2020-11-03 11:56] the5ereneRebe1 commented on #23363
@oliviertassinari I understand that but i had a use case where i had to make the relative position between the anchor and tooltip close to 0 and changing the popper offset value with reference to mobile view was causing an overlap on normal screen sizes, i had to solve this issue by detecting different screen sizes and applying different offset values, is there an elegant way to handle this use-ca

[2020-11-03 13:19] hmaddisb commented on #23232
@benneq @oliviertassinari hi, can I work on this? and should i go with saving old value of WebkitUserSelect and reapply it (https://github.com/mui-org/material-ui/issues/23232#issuecomment-716030852) or just go with null?

[2020-11-03 13:25] kevinvugts commented on #22534
Hi @oliviertassinari

Thanks for your prompt reply!

I am using the Horizontal Stepper at the moment. Does this component also has access to the TransitionProps?
``` TransitionProps={{ unmountOnExit: false }} ```

[2020-11-03 13:40] edylucut155 commented on #11749
@mmartinsky I have a similar problem to yours. Did you manage to fix it?

[2020-11-03 14:16] oliviertassinari commented on #22534
@kevinvugts The horizontal stepper doesn't have this notion, so I think that you are looking at the wrong place.

[2020-11-03 14:16] oliviertassinari commented on #23232
@hmaddisb Yes, sure :)

[2020-11-03 14:18] hmaddisb commented on #23232
@oliviertassinari nice! is it best if I go with saving and restoring the old WebkitUserSelect value or just null? maybe restoring it is the best way to go?

[2020-11-03 14:25] kevinvugts commented on #22534
What would be the solution for the Horizontal Stepper? Is there a way I could prevent the unmounting <Step> components?

[2020-11-03 14:29] oliviertassinari commented on #23232
@hmaddisb We would need to restore the previous value. I have seen developers disable user selection globally on applications.

[2020-11-03 14:29] nnkteja opened #23378 "Material UI v5.0.0-alpha.14 documentation page"
is there a way I can check updated documentation based on git tag like https://v5.0.0-alpha.14.material-ui.com/ if not can you please publish it so that we can go through the documentation and see the changes.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2020-11-03 14:36] oliviertassinari commented on #23378
https://next.material-ui.com/

[2020-11-03 14:36] #23378 closed

[2020-11-03 15:45] FabriceSalvaire opened #23379 "[Textfield] add WAI ARIA aria-describedby for error message"
Example

[code]

Actual rendered HTML

[code]

[2020-11-03 16:35] eps1lon commented on #23379
Thanks for the report.

Have you researched how well this pattern is understood by screen readers? What happens if the input already has both name and description?

[2020-11-03 16:51] #20288 closed

[2020-11-03 16:51] #23332 closed

[2020-11-03 17:56] stfenjobs commented on #16374
same here

prod ， dev   Different

[2020-11-03 23:38] maxkahnt opened #23384 "[Drawer] Provide prop PaperComponent"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Drawer should provide a prop to override PaperComponent (not only PaperProps) like, e.g. Dialog does.

## Motivation 🔦

I occasionally need to wrap/replace the paper component.

[2020-11-03 23:54] oliviertassinari commented on #23384
Thanks for raising, interesting issue. We cover something similar in #23043, in theory, it's going to be solved with #21453, we have started to account for in the development of v5.

[2020-11-04 00:03] FabriceSalvaire commented on #23379
no I just read good practice on the topic ...

but I just upgraded to next and it seems to be done now

[code]

[2020-11-04 00:16] maxkahnt commented on #23384
Yeah, that looks like a big chunk of work ;). What would be a good way to work around it for now?
I can see the following three options:
1. Use Dialog instead and style it according to my needs. I can override PaperComponent and PaperProps there.
2. Manually one-time override all styling of paper and nest a component that suits my needs.
3. Create a local copy of the Drawer implementation and hard

[2020-11-04 00:48] oliviertassinari commented on #23384
@maxkahnt You can customize the CSS of the Paper and render your own.

[2020-11-04 04:03] portal7 opened #23385 "Documentation on official page v4.11.0 not working"
Documentation appear like not working on official page (internal links:  ie.

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Goin on lateral navbar (Documentation Index) and going to "Component API" does not navigate to proper p

[2020-11-04 06:41] Devi-Das-Git opened #23386 "React Material table IE11 issue"
I am using material-table editable grid. click on delete/edit/create and click on cancel button all other rows are diabled except one in IE11. all rows are not highlighted but in chrome all rows are highlighted.
` return (
    <MaterialTable

      title="Editable Preview"
      columns={columns}
      data={data}
      icons={tableIcons}
      options={{
        headerStyle:{backgroundColor:'#3a5

[2020-11-04 06:49] greggman commented on #23385
I noticed the same. I also noticed at least in the Slider docs, none of the sliders actually slide

https://material-ui.com/components/slider/

No idea if that is intentional but I assume it's not since, specially for marks=true you'd probably want to test it.

[2020-11-04 06:50] thiagodantasv commented on #23385
I also experienced this same bug at both firefox and chrome browsers but i have not seen any error on console.

[2020-11-04 07:21] yescine commented on #23385
Icon Search not working
Snippet code button not showing

[2020-11-04 08:34] eps1lon commented on #23386
Thanks for the report.

I would suggest opening this in the [repository for `material-table`](https://github.com/mbrn/material-table). We don't publish `material-table` and can't help you with potential issues.

If this is an issue with a `@material-ui/` package please provide a code example without any 3rd party code.

[2020-11-04 08:34] #23386 closed

[2020-11-04 08:36] mnajdova commented on #16995
Seems like this issue is fixed in v5 - https://codesandbox.io/s/material-demo-forked-qvy2m?file=/demo.js (the order of which the rules are added depends now on the order of the props, or the order of the props inside the `sx` object).

One important thing to note that the order of which the props are written is important. But this is also how CSS works - https://codepen.io/mnajdova/pen/dyXKwWm

No

[2020-11-04 08:57] johnnyn2 commented on #23385
Error in console
**GET https://material-ui.com/_next/static/runtime/main-195383a98baaf66fb5d3.js net::ERR_ABORTED 404**

[2020-11-04 09:27] code-guru commented on #16374
I solved the issue by by creating my own generateClassName function, by doing this you can create unique classNames for production and make sure the classNames will be unique. I also increase the specify of my customisations for mui classes (e.g. Mui-Paper) to `mydiv.Mui-Paper`.
here is how you can provide your own generateClassName

[code]

the mui default function can be found here `https://gith

[2020-11-04 09:33] hmaddisb commented on #23232
@oliviertassinari seems like a good idea, do we think the previous should be stored as a state?

[2020-11-04 09:36] oliviertassinari commented on #23232
@hmaddisb A ref, not a state because the value isn't used in the render.

[2020-11-04 09:37] hmaddisb commented on #23232
@oliviertassinari yes of course

[2020-11-04 09:38] oliviertassinari commented on #23386
cc @dtassone Hopefully, not supporting IE 11 on the data grid won't be an issue :)

[2020-11-04 09:38] eps1lon commented on #23232
I'm running some experiments with preventDefault which is the diomatic way to stop some native behavior. There are just some quirks with the event timing in React though. Might better than this fairly invasive body style.

[2020-11-04 10:04] oliviertassinari commented on #16995
@mnajdova Sounds great, I can confirm that the behavior was [unpredictable in v4](https://codesandbox.io/s/material-demo-forked-vlllj?file=/demo.js) but is [consistent in v5](https://codesandbox.io/s/material-demo-forked-qvy2m?file=/demo.js). What about we add a test case to keep this property in case we need to heavily refactor the system's implementation?

[2020-11-04 10:11] oliviertassinari commented on #23385
I can't reproduce 🤔, it seems to be related to #23077.

[2020-11-04 10:31] mnajdova commented on #16995
Sounds good will create a PR for it 👍

[2020-11-04 12:17] jasoncowlamsparks opened #23389 "Using fieldset to style inputs"
I've encountered a problem styling inputs.
I want to use correct html in my forms, sadly old school I know but I'm very user focused.
Why do you use a fieldset and a legend to add borders and focus styles to your inputs?
It basically means that you are preventing users from using semantic html in their applications.
I'm not sure but it would be better to use some other html element for styling, I'

[2020-11-04 14:26] portal7 commented on #23385
odd, but now its working.

[2020-11-04 14:26] #23385 closed

[2020-11-04 16:00] #16995 closed

[2020-11-04 19:16] oliviertassinari commented on #23389
@jasoncowlamsparks I assume you are talking about the OutlineInput. The logic had to take the constraints of Material Design into account. What are you trying to customize?

[2020-11-04 21:22] randyshoopman opened #23392 "[Stepper] Can't customize StepLabel's icon"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm trying to change the number of the steps.  Based on previous examples in version 4 this is possible using the StepLabel icon attribute.  Currently the steps are always numbered 1

[2020-11-05 06:36] hp8wvvvgnj6asjm7 opened #23394 "Self hosted font example not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I tried to follow this guide on self hosted fonts:
https://material-ui.com/customization/typography/

```downloadable font: no supported format found (font-family: "Raleway" style:nor

[2020-11-05 07:35] arunnjaswal opened #23395 "Multiselect close button"
Hello Team,
![Screen Shot 2020-11-05 at 1 04 49 PM](https://user-images.githubusercontent.com/30898217/98211100-8ea1e800-1f67-11eb-841c-9c771deb1fcb.png)
Could anyone please assist how could I close the pop-up for multiselct on close button click.

[2020-11-05 09:19] Sandeep0695 commented on #23291
Thanks boss @oliviertassinari & @eps1lon
But I need to open select in "BottomSheet dialoge" when webpage open in mobile mode and for desktop mode need current style.
E.g.
https://react-spectrum.adobe.com/react-spectrum/Picker.html

[2020-11-05 09:35] eps1lon commented on #23363
Could you share some resources for that?

[2020-11-05 09:40] jasoncowlamsparks commented on #23389
Hello Olivier
Sorry I was having a bit of a rant as I could not get the styles to work
for some unknown reason
Then I started looking deeply at the code and was slightly confused as to
why you use a fieldset and a legend to display borders.
This is just wrong; fieldsets are used for grouping form elements, legends
are used for add heading to fieldsets, they are specific semantic use cases
and used

[2020-11-05 09:56] eps1lon commented on #23395
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-11-05 10:17] eps1lon commented on #23389
like Material UI are used widely in this industry and should at least try
and maintain a decent level of semantic HTML.

What actual problem is our usage causing? Are screen readers not able to interpret it? Website crawlers?  With what particular customization is our usage interfering? Or is this just an academic exercise?

get  a lot of unnecessary empty ones, why not just use a div

Because it

[2020-11-05 10:31] jasoncowlamsparks commented on #23389
You might as well just close the issue if you don't understand why using
invalid html is bad for accessibility

On Thu, 5 Nov 2020 at 10:17, Sebastian Silbermann <notifications@github.com>
wrote:

[2020-11-05 10:37] oliviertassinari commented on #23392
@randyshoopman Thanks for raising the issue. Yeah, it sounds like we broke this during the refactoring from cloneElement to usage of the context #21613. What do you think about this fix?

[code]

[2020-11-05 10:39] avilabiel commented on #12483
I also confirm the interest. Right now, I just want to put the `CircularProgress` inside of a `<p>` for many reasons. I was 100% sure that we would have a `component` prop to use and change this behavior like `Typograph`.

[2020-11-05 10:41] oliviertassinari commented on #23394
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-11-05 10:53] oliviertassinari commented on #12483
@avilabie I doubt we even need a `component` prop for this problem. Applying the following diff should be enough:

[code]

What do you think about it?

[2020-11-05 10:55] eps1lon commented on #23389
If you change your mind and want to engage in a discussion feel free to ping a maintainer. But we want to foster an open community that is respectful of differing viewpoints and you're not contributing to it by responding the way you do.

In this particular example you didn't explain what the invalid HTML is and how it specifically affects accessibility here. We're taking this very serious but can

[2020-11-05 10:55] #23389 closed

[2020-11-05 11:04] avilabiel commented on #12483
@oliviertassinari thank you for your quick answer! Yeah, I do agree with you, but the @Mangatt description makes sense:

[code]

This kind of flexibility seems good to implement because of the description above.

[2020-11-05 11:08] oliviertassinari commented on #23379
@FabriceSalvaire I'm not sure to follow the issue. Do you have a live reproduction? All the demos I can find in https://next.material-ui.com/components/text-fields/ have the `aria-describedby` prop.

[2020-11-05 11:14] oliviertassinari commented on #12483
@avilabiel If you want to work on it, feel free to. I have added the "good first issue" label.

[2020-11-05 11:17] oliviertassinari commented on #23291
@Sandeep0695 Why do you have such a requirement? Why not use the native select behavior on mobile?

[2020-11-05 12:14] oliviertassinari commented on #23389
@jasoncowlamsparks You would need to prove this statement, we will ignore the feedback, until then.

1. Why is it invalid? https://validator.w3.org/ accepts it.
2. Why is it bad for accessibility? It's aria-hidden: https://github.com/mui-org/material-ui/blob/5d08d0bc166b73d4cb94cfdde11e7b36bc348e7e/packages/material-ui/src/OutlinedInput/NotchedOutline.js#L85-L86
The closest report we got was #2238

[2020-11-05 14:37] avilabiel commented on #12483
Great, I will. Thank you, @oliviertassinari .

[2020-11-05 14:50] Npervic opened #23398 "[Slider] Testing onChangeCommitted from click"
- [ ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When testing the slider functionality using rtl and jest no significant DOM update happens when clicking on labels (or doing mousedown or other events)

## Expected Behavior 🤔
DOM sho

[2020-11-05 14:54] oliviertassinari commented on #23363
Sure, I could gather the following.

### Layout on large screens:

<img width="215" alt="Capture d’écran 2020-11-05 à 15 42 11" src="https://user-images.githubusercontent.com/3165635/98255301-8ce31f00-1f7d-11eb-9dd3-8b60698da8f1.png">

https://material.io/components/tooltips#specs

<img width="119" alt="Capture d’écran 2020-11-05 à 15 52 59" src="https://user-images.githubusercontent.com/31656

[2020-11-05 14:55] eps1lon commented on #23398
Thanks for the report.

You have a controlled component but use `defaultValue` which is only valid with uncontrolled components. The console warns about this.

When I use `value` everything seems to behave as expected. Note that `onChangeCommitted` is different to `onChange`. `onChangeCommitted` is similar to `onInput`.

Could you expand a bit on the "Steps to reproduce"? Just the user interface i

[2020-11-05 15:04] Npervic commented on #23398
@eps1lon I replaced the defaultValue with value and updated the original post with suggested info.

[2020-11-05 15:21] eps1lon commented on #23398
Right, it's about testing not actual user interaction. The Slider is using pointer position which a programmatic click doesn't include. You would need to calculate the pointer position when the pointer would click the specified element and pass that.

I can't help you with that right now.

[2020-11-05 15:56] Npervic commented on #23398
@eps1lon thanks il give your suggestion a shot

[2020-11-05 16:05] nuragic opened #23399 "Empty <style> elements created for each <Box> component"
Hi,

I just noticed this strange behaviour in the rendered HTML and I believe it's a library bug, but I don't know what's causing it. It happens in both development and build modes.

## Current behaviour

For each `<Box>` component in the JSX, a new `<style data-jss="" data-meta="MuiBox"></style>` node (empty) is added in the `<head>`.

## Expected behaviour

It just shouldn't do this.

## Steps t

[2020-11-05 16:09] oliviertassinari commented on #23399
We have fixed it in v5

[2020-11-05 16:09] #23399 closed

[2020-11-05 16:13] nuragic commented on #23399
@oliviertassinari Cool thanks for the info and for the fix buuut, it's appening on v4 and we have it in production as well as millions other projects I guess :D So do you think it would be possible to backport the fix to v4 (latest)? Which commit / issue solve this? Many thanks.

[2020-11-05 16:19] TakumaKira commented on #22170
@oliviertassinari

Sorry for the late reply.

I tried again [the reproduction of this issue](https://github.com/mui-org/material-ui/issues/22170#issue-677787091)(https://codesandbox.io/s/jolly-benz-uz6mw?file=/demo.tsx) with
[code]
but the expected `option 2 12` was never appeared on log. I think this is because filtered options are changed by inputting the search word "2" but the length of the re

[2020-11-05 17:12] eps1lon commented on #23399
We don't have the bandwidth to backport every feature. We only backport important bug fixes. Could you explain the bug that affects your users beyond "it shouldn't add empty tags"?

[2020-11-05 17:39] nuragic commented on #23399
@eps1lon I completely understand, I don't mind trying to backport this fix myself... could you provide some guidance?

Practical example: we have a virtualized list and each item is rendering various <Box> elements... each time you scroll, a <style> element is added... we're talking about thousands and thousands of elements... making the performance worst as time pass on.

[2020-11-05 18:05] fra00 opened #23400 "build react material ui external rollup component with ThemeProvider"
I have a component into external package (cretaed with rollup) imported into another project with material ui theme.

Main project
` import  { LoginToolbarRedux } from "toolbar-login";`
` ThemeProvider theme={theme}`
`               <LoginToolbarRedux`
`                   .....`
`               </LoginToolbarRedux>`
` </ThemeProvider>`

external component
` <ThemeProvider theme={innerTheme}>`
`

[2020-11-05 18:18] #16528 closed

[2020-11-05 18:28] levigunz opened #23401 "V5 - @emotion peer dependency"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After a clean installation of @next (alpha 14) with CRA, @emotion/core and @emotion/styled are not in scope for the project. Importing a component from from @material-ui reveals that

[2020-11-05 18:41] #23400 closed

[2020-11-05 18:59] TonyAttalla opened #23403 "Material UI for react stepper won't go to the next step (docs)"
In the Material UI for react official docs, the steppers won't go to the next step on at least some browsers (Works on firefox, does not work on chrome)

## Current Behavior 😯

Stepper doesn't move to the next step

## Expected Behavior 🤔

It should go to step 2?

## Steps to Reproduce 🕹

Steps:

1. Go to https://material-ui.com/components/steppers/
2.  hit "next" on the horizontal steppers

## Co

[2020-11-05 19:02] levigunz commented on #23401
Opened a PR resolving this, but there may be a wider discussion about what _should_ be the default when Material-UI is installed in a project that has no other style library already in use.

I think most will agree that it should work, or at the very least the documentation should be updated to reflect that there are additional steps to usage (installing emotion in this case)

[2020-11-05 19:03] oliviertassinari commented on #23401
@levigunz This is an interesting topic. You can find a thread about this very topic at https://github.com/mui-org/material-ui/pull/22435#discussion_r490782223. We still not 💯 sure that it's the best approach. cc @eps1lon @mnajdova.

[2020-11-05 19:06] oliviertassinari commented on #23399
Duplicate of #21893

[2020-11-05 19:12] oliviertassinari commented on #21893
Fixed in #22945

[2020-11-05 19:12] #21893 closed

[2020-11-05 19:53] levigunz commented on #23401
@oliviertassinari @mnajdova can we add this discussion to the #22342 initial comment? Make it a little more visible that it is an open question rather than a specific issue? Hopefully it will be a little easier for others to find and we can close this thread.

[2020-11-05 20:03] parmdhillon opened #23404 "material-ui.com down"
Hi,
I want to let you guys thats Official Docs at material-ui.com/, is not working, there is a missing main-#.js file. I  trying it from 2 Hours.
![16046065500437827200272124345890](https://user-images.githubusercontent.com/46890264/98290676-fbbd7980-1f77-11eb-8291-825b4fa1d8d0.jpg)

[2020-11-05 20:12] eps1lon commented on #23404
Sounds like another https://github.com/mui-org/material-ui/issues/23077. Might be worth talking to netlify what's up. That's the 3rd incident within a month.

[2020-11-05 20:13] randyshoopman commented on #23392
@oliviertassinari That looks right to me :thumbsup:.  Thanks

[2020-11-05 20:13] leogouveia commented on #23404
I'm having the same problem.

[2020-11-05 20:15] eps1lon commented on #23404
Sorry for the inconvenience but it's not something we can do anything about or track. It should be resolved within the next hours. Please don't spam the thread with "have the same issue" unless you can contribute new information. Upvote the issue instead and subscribe to notifications to be notified once it is resolved.

[2020-11-05 20:23] jsheffers commented on #21489
Can you elaborate on this?  I don't see how simply allowing { label: string} as a default for the component helps pass a different value instead of the label string.

[2020-11-05 20:31] eps1lon commented on #23403
Thanks for the report.

Could you look in your devtools console if some JS is not loading? Just in case this is a duplicate of https://github.com/mui-org/material-ui/issues/23404

Otherwise a screen recording would be nice since I can't reproduce the issue.

[2020-11-05 20:46] TonyAttalla commented on #23403
![image](https://user-images.githubusercontent.com/39226687/98294518-1692ec80-1f7e-11eb-9295-d718d3fb7c9e.png)

looks like it yeah, I just can't explain why it'd be working on firefox and not chrome

[2020-11-05 21:04] #23403 closed

[2020-11-05 21:07] oliviertassinari commented on #23404
Duplicate of #23077

[2020-11-05 21:07] #23404 closed

[2020-11-05 21:10] oliviertassinari commented on #23392
@randyshoopman Do you want to work on a pull request? :)

[2020-11-05 21:33] oliviertassinari commented on #22170
@TakumaKira Test again, the reproduction of the issue is fixed on my end.

[2020-11-05 21:34] dmatranga opened #23405 "Sidebar won't expand / collapse"
Hi, the sidebar on the left side of the Material UI page (and all docs pages) won't expand or collapse. I'm using Google Chrome 86.0.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
No expand or collapse

## Expected Behavior 🤔
Exp

[2020-11-05 21:36] oliviertassinari commented on #23405
Duplicate of #23077

[2020-11-05 21:36] #23405 closed

[2020-11-05 22:15] randyshoopman commented on #23392
Sure, I'll give it a shot

[2020-11-05 22:18] dmatranga opened #23406 "[docs] View the source on Github links not working in AppBar"
'View the source on Github' links not working in AppBar Documentation

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I click on a link from this page [https://v3.material-ui.com/demos/app-bar/](https://v3.material-ui.com/dem

[2020-11-05 22:22] eps1lon commented on #23406
Thanks for the report.

We're currently not using permalinks for GitHub links so these are prone to grow stale on old deployed docs. We should rethink our "link to github" strategy in general. I think in this example we could use actual permalinks via commit SHA.

[2020-11-05 23:14] mmmols commented on #22594
I will make a PR in a min since @Avi98 haven't responded.

[2020-11-05 23:24] jkester1986 commented on #8090
@matheusicaro Thank you SO much, I spent hours trying to figure this out, and trying the other things I've seen suggested in multiple places to no avail. This was the only thing that worked.

[2020-11-06 00:43] ohhyunjin opened #23409 "Add a "No data to show" message to `<Table>` component when there is no data"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

For example, if a user logs in to their dashboard and has no data to show on a table, the table should display a message on the center of it that says something like "No data to show".

## Examples 🌈

<img width="669" alt="Screen Shot 2020-11

[2020-11-06 00:48] Guneetgstar commented on #6068
`withWidth` in `nextjs` disables `SSR` at all. See (https://github.com/vercel/next.js/issues/18872).

[2020-11-06 00:56] victorcbr commented on #23406
same happening on website :/

[2020-11-06 02:33] hp8wvvvgnj6asjm7 opened #23410 "-"
-

[2020-11-06 02:35] #23410 closed

[2020-11-06 04:18] alinahid477 opened #23411 "Material-UI website is not working"
It seems Material UI website is not working for sometime.
I have been trying use the site for various references but none of the components seems to be functions neither the code snippets are showing up.
Also the search seems to have disappeared.
![image](https://user-images.githubusercontent.com/5283455/98325534-245e7580-2043-11eb-9c0c-5786021c8e04.png)

![image](https://user-images.githubusercon

[2020-11-06 05:20] cjnoname commented on #22426
<img width="1438" alt="QQ20201106-161919@2x" src="https://user-images.githubusercontent.com/29768744/98329245-e1ed6680-204b-11eb-8479-8ceae3dbf71f.png">

APRA AMCOS Member Portal

[2020-11-06 06:22] baijiahei commented on #23411
![image](https://user-images.githubusercontent.com/16861647/98333344-7c917980-203b-11eb-9d2c-3d05dd306ead.png)

[2020-11-06 06:29] vinikatyal commented on #21727
Did u make this work ?

[2020-11-06 07:44] hp8wvvvgnj6asjm7 opened #23413 "backgroundSize property not updating"
All I wanted is to have a background image resize automatically, and it is impossible that I need so much code to solve this:
[code]

[code]

In normal css all one needs is to set it to 'cover' and thats it!
Image won't resize with JSS.

[2020-11-06 07:53] origamium commented on #23411
We have the same issue. backend is dead?

[2020-11-06 07:55] origamium commented on #23411
Netlify deploy preview seems to be working...

https://deploy-preview-23357--material-ui.netlify.app/

[2020-11-06 07:57] nuragic commented on #23399
Ok thanks for the additional info, I guess that I'd rather invest that time updating to v5 then...

[2020-11-06 07:59] Sandeep0695 commented on #23291
But my teammate want bottom sheet for android and iOS both hence, @oliviertassinari  sir i want such behavior.
It may be possible with MaterialUI ? :(

[2020-11-06 08:08] oliviertassinari commented on #23399
@nuragic Two thoughts here. You can reproche the same fix in v4 and prepare the migration by using this approach https://material-ui.com/system/basics/#emotion.
You can solve the virtulization performance issue by relying on CSS. In v5, you could do:

[code]

[2020-11-06 08:13] oliviertassinari commented on #23411
Duplicate of #23077

[2020-11-06 08:13] #23411 closed

[2020-11-06 08:14] #23413 closed

[2020-11-06 08:15] oliviertassinari commented on #23413
Tip: makeStyles should be created outside of the component, it returns a hook. The returnef hook should be used inside the component, it returns CSS class names.

[2020-11-06 08:35] eps1lon commented on #23409
That is out of scope for a basic table. You might want to look into the upcoming [DataGrid](https://next--material-ui.netlify.app/components/data-grid/#overview). Otherwise this is fairly straightforward to implement in your application code.

[2020-11-06 08:35] #23409 closed

[2020-11-06 08:41] oliviertassinari commented on #23409
We have a customization demo with the default illustration of Ant Design at https://material-ui.com/components/data-grid/rendering/#no-rows-overlay. Usually, Material Design data table displays a simple text message when it's empty. We will add a component in the core in the future if we find the need for something similar, but nothing is planned in this direction.

[2020-11-06 09:07] eps1lon commented on #23363
I don't think change the layout depending on device in the Button? Shouldn't this be a separate discussion?

I can't find mentions of gap depending on pointer size in https://material.io/components/tooltips#specs

[2020-11-06 09:14] hiahmedhameed commented on #21727
@vinikatyal

I'm casting argument types as follow:

[code]

TBH, Autocomplete is not easy component but i understand that is designed to be generic.

[2020-11-06 09:21] vinikatyal commented on #21727
Thanks this is good I used something similar as well 👍

[2020-11-06 09:32] nuragic commented on #23399
@oliviertassinari Cool thanks for the info! Some questions:

You mean  by doing so in my code? Or doing it on material-ui `<Box/>` (as in https://github.com/mui-org/material-ui/pull/22945)?

Yeah I was reading all the release notes for the v5 alpha releases and I've seen the new `sx` API... looking forward to try it.
Regarding the virtualization issue, I guess that you mean to temporally get rid o

[2020-11-06 09:45] oliviertassinari commented on #23399
1. In your code yes
2. Any feedback on `sx`,  good or bad, welcome! Yes, you could try to replace the box we class names. It might significantly help with your performance issue.

[2020-11-06 09:49] WeeHong opened #23415 "Drawer is not working in Firefox"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The drawer is not working on [MaterialUI](https://material-ui.com/customization/palette/#customization) website when open in Firefox but it works fine in Internet Explorer and Chrome.

[2020-11-06 09:50] oliviertassinari commented on #23415
Duplicate of #23077?

[2020-11-06 09:54] WeeHong commented on #23415
@oliviertassinari yes, quite similar.

[2020-11-06 09:54] #23415 closed

[2020-11-06 10:04] nuragic commented on #23399
Well then I'm not sure what do you mean... you said *"reproduce the same fix in v4 and prepare the migration to v5"* so... we would have to change all the JSS styles in our code and use the styled approach of emotion / styled-components? Or maybe I'm just lost? 😅

I've found this https://github.com/mui-org/material-ui/blob/next/docs/src/pages/guides/migration-v4/migration-v4-de.md but there's no m

[2020-11-06 10:08] oliviertassinari commented on #23399
I meant that you can create your own Box with emotion our system.

[2020-11-06 10:10] nuragic commented on #23399
Aahhh ok got it! 🙏  🆗 👌

[2020-11-06 10:18] oliviertassinari commented on #23363
What do you mean?

Yeah, the new specs are worse than the initial ones. You can find this better describe in https://material.io/archive/guidelines/components/tooltips.html#tooltips-tooltips-desktop. In the current one, you would need to measure the distance in px in the demos.

[2020-11-06 10:39] useit-consulting commented on #22956
@eps1lon
Apologies for the delayed reply.

That example does not work with my iPhone. The behavior is almost exactly like the Mui autocomplete:

- Listbox popup disappears when I swipe away from the input
- Listbox popup disappears when I finish typing and close the keyboard with the "Done" button
- Listbox popup disappears when I try to explore-by-touch, unless I place my finger directly on a sug

[2020-11-06 13:48] Npervic commented on #23398
Hey @eps1lon I tried passing clientX and clientY to mousedown events options but what ever values i pass it seems that i allways end up with the same change(i.e. the end result is always `1h+` and none of the other values seems to be targetable). Also code coverage says that even when testing like this the `onChangeCommitted` is not called (althought the value of `aria-valuenow` changes on slider

[2020-11-06 14:20] oliviertassinari commented on #23398
@Npervic Did you consider asking on StackOverflow? This sounds like a support request.

[2020-11-06 16:30] dominique-mueller opened #23418 "[Tooltip] does not merge custom PopperProps modifiers properly"
The `<Tooltip />` component does not merge custom `PopperProps` properly, in particular the popper.js modifiers, leading to visual issues and possibly further bugs.

- [X] The issue is present in the latest release. ALPHA ONLY!
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I cus

[2020-11-06 16:31] dominique-mueller commented on #23418
I'm happy to fix it and open a PR, just let me know :)

[2020-11-06 16:37] rahulsingh10573 commented on #23291
@Sandeep0695 nd @oliviertassinari I also need similar features .
I have this time @oliviertassinari nd #material UI team provide such features.

[2020-11-06 16:38] rahulsingh10573 commented on #23291
@Sandeep0695 nd @oliviertassinari I also need similar features .
I hope this time @oliviertassinari nd #material UI team provide such features.

[2020-11-06 16:59] #23401 closed

[2020-11-06 18:42] ErikParso commented on #19702
I have a same issue. I have a component with theme specified where i override MuiSvgIcon.colorPrimary.color property.

This component is bundled with @material-ui/core sepcified as external dependency in webpack.config.

			'@material-ui/core': {
				commonjs: '@material-ui/core',
				commonjs2: '@material-ui/core',
				amd: '@material-ui/core',
				umd: '@material-ui/core',
				root: 'MaterialUI'

[2020-11-06 18:45] useit-consulting commented on #22956
@eps1lon  I've done some more digging today and I believe I know the cause of this issue.

There was a change in default VoiceOver behavior that came with iOS 13 and iOS 14. Moving VoiceOver focus will now trigger keyboard focus and keyboard blur events by default. This _should_ be why the listbox closes when searching the screen.

So I think we can try adding an option/prop to keep the listbox op

[2020-11-06 18:50] #23392 closed

[2020-11-06 19:03] JonathanGetahun opened #23419 "Rating module can't be found on personal IDE and Sandbox"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I can't use Rating module. I keep getting the error: Module not found: Can't resolve '@material-ui/core/Rating' on VSCode IDE and when I try it on codesandbox same thing, however, a

[2020-11-06 19:04] #23419 closed

[2020-11-06 19:05] oliviertassinari commented on #23419
Tip: it's in the lab, not the core.

[2020-11-06 19:12] JonathanGetahun commented on #23419
Thank You.

[2020-11-06 19:26] oliviertassinari commented on #23418
@dominique-mueller Thanks for reporting the issue. So I guess, we could perform the merge without the `deepmerge` utility? :). A pull request would be greatly appreciated.

[2020-11-06 20:01] oliviertassinari commented on #23077
The issue seems resolved. I have reverted https://github.com/mui-org/material-ui-docs/commit/a7fa7aa97bb8c8b0fcbef4269d7153b81673c540. The rational from Netlify's team is:

[2020-11-06 20:02] #23077 closed

[2020-11-06 23:49] mbrookes commented on #23077
@oliviertassinari From the description, it seems like https://github.com/mui-org/material-ui-docs/commit/a7fa7aa97bb8c8b0fcbef4269d7153b81673c540 was intended to fix the issue that reverting it is also intended to resolve? If so, what's the root cause of the issue that led to this change in the first place?

[2020-11-06 23:57] oliviertassinari commented on #23077
@mbrookes The initial issue I was trying to solve is similar. The proxy was previously linking a non-production env (next). I fixed the rewrite but the return content was still wrong after 1 hour. I was hoping https://github.com/mui-org/material-ui-docs/commit/a7fa7aa97bb8c8b0fcbef4269d7153b81673c540 would invalidate the cache.

[2020-11-06 23:59] dominique-mueller commented on #23418
Either we extend the `deepmerge` utility or we use some custom logic. I'll look into it, and open a PR once ready!

[2020-11-06 23:59] oliviertassinari commented on #23418
It would likely be simpler with the spread … operator.

[2020-11-07 10:13] #23394 closed

[2020-11-07 10:40] BernardA opened #23420 "[Autocomplete] keep mobile virtual keyboard disabled"
On mobile the virtual keyboard should not be enabled when using the Autocomplete, or at the least one should have the option to disable it.

It gets in the way of the user interacting with the UI.

<img src="https://user-images.githubusercontent.com/9449665/98438625-ea957980-20eb-11eb-84d4-4492b5ad3f92.PNG" width="300" />

- [x ] The issue is present in the latest release.
- [x ] I have searched t

[2020-11-07 18:00] dominique-mueller commented on #23418
PR is open, let me know if something's missing / in need of correction.

[2020-11-07 18:05] oliviertassinari commented on #23420
@BernardA You can either use a different component (Select) or customize it to look denser. In any case, this isn't something we can implement.

[2020-11-07 18:05] #23420 closed

[2020-11-07 20:57] Arnaldo-Manjate commented on #5254
Ran into this issue myself i will just leave this here for the next dev who uns into this issue

1. pass in a displayEmpty prop to the Select component , this prop is a boolean so it must be set to true.
2. pass in a renderValue prop which is a function  that returns the value that should be displayed value should be displayed.

ie :

`<Select
      displayEmpty
      defaultValue="value"
      re

[2020-11-08 04:36] ats1999 opened #23424 "how to enable outside click on dialogs."
Currently, if any users click outside of dialog then dialog closes itself. If we enable `disableBackdropClick` then dialog doesn't close, but I want to work on the other side of the dialog. I also wont to listen  the outside of dialog, so we can perform other operations.

[2020-11-08 08:38] BernardA commented on #23420
Thanks but in this day and age having a UI that only works properly on desktop does not make a lot of sense.

I would suggest that you clearly state this HUGE caveat in your docs, so people do not waste their time.

The specific feature that made me choose this component was the ability to group items, which I did not seem to find in your `select` component. Any suggestions on how to go about it?

[2020-11-08 09:48] #23395 closed

[2020-11-08 09:48] raphaelchaula opened #23425 "Add support for dir="rtl" for Material ui Autocomplete options"
All autocomplete options align left, can you please add support or provide an api to change direction or alignment of options.

dir: 'rtl' or 'ltr'

or

textAlign: 'left' or 'right'

[2020-11-08 09:49] #23379 closed

[2020-11-08 10:07] #23424 closed

[2020-11-08 10:08] #23425 closed

[2020-11-08 10:08] oliviertassinari commented on #23425
tip:check the `renderOption`prop.

[2020-11-08 10:10] oliviertassinari commented on #23424
tip: a dialog modal prevents the interactions outside of it by design for accessibility consideration. you probably want to use a different component.

[2020-11-08 10:10] #23418 closed

[2020-11-08 10:12] #22594 closed

[2020-11-08 10:27] raphaelchaula commented on #23425
Thanks, How can i use it to align the options?

[2020-11-08 11:15] eps1lon opened #23444 "[RFC] Links vs Buttons"
Opening this to be filled with arguments why or why not buttons should look like anchors.

We accidentally merged a change that enforced the distinction partially. Any decision we do make should be applied consistently. The button vs anchor discussion is already hard to follow. We shouldn't make it more complicated by applying different stances throughout our docs.

#22780 enforced different visua

[2020-11-08 11:31] eps1lon commented on #23398
@Npervic `mousedown` does not commit the change. You probably need `click`.

[2020-11-08 11:38] eps1lon commented on #22956
Could you open a new issue on the apg repo (https://github.com/w3c/aria-practices/issues/new)? It'd be interesting to get their input on why this isn't working. I seem to recall them saying we should test their implementation before using. But I think their implementation should at least work in the most popular SR for mobile devices.

[2020-11-08 11:44] oliviertassinari commented on #23444
Regarding #22780, the incentive is to make it easier to understand where a user is in the navigation. Am I on an intermediary level I can drill down into or am. I on a leaf I can open? The motivation is identical to the different visual a folder explore has in different OS, e.g. macOS.

<img width="327" alt="Capture d’écran 2020-11-08 à 12 42 51" src="https://user-images.githubusercontent.com/31

[2020-11-08 12:17] oliviertassinari commented on #23406
We had a discussion in the past about this problem. It was somewhat made on purpose, but I can't recall the motivation. These links are barely used:

<img width="513" alt="Capture d’écran 2020-11-08 à 13 15 30" src="https://user-images.githubusercontent.com/3165635/98464647-9d390b00-21c4-11eb-8ac0-f271d6ad6baf.png">

But it's always a move in the right direction. @dmatranga do you want to work o

[2020-11-08 12:39] eps1lon commented on #23363
The mockup is just so misleading. I thought this was the button. The archived version makes it more obvious, thanks :+1:

However, it's not clear to me if the dimensions of the tooltip change because of the interaction modality or because of screen size. I have fairly big hands and think I hold a phone like most people. The dimension changes don't do anything for me. You would have to hold your fi

[2020-11-08 12:58] oliviertassinari commented on #23363
Agree, this part is open to interpretation. Considering that laptop screens can be touch interactive, I find that basing the margin-top based on the touch and not the screen width would work better.

Yeah, I guess it's why tooltips on mobile are rarely used 😁

[2020-11-08 13:23] oliviertassinari commented on #23398
It seems that we can improve our tests. It's more logical to fire up and down on the same node:

[code]

We could also test the end value, based on the position:

[code]

@Npervic Why are you testing this in JSDOM and not a browser?

[2020-11-08 13:32] ChromeQ opened #23446 "ToggleButton & ToggleButtonGroup should accept a variant and/or color props like Button"
I like the Toggle Group and Toggle Button abstract away some handling of the selected button, but I would like an option to make the buttons look like a regular ButtonGroup which can take a color prop to make them primary or secondary, and a variant for outline or contained etc

It makes sense to me that the Toggle Button Group should have many if not all of the same options that a ButtonGroup doe

[2020-11-08 13:34] Npervic commented on #23398
Why wouldn't I? I dont see a reason a component as such would have problems being tested in jsdom or am i missing something @oliviertassinari ?

[2020-11-08 13:36] oliviertassinari commented on #23398
@Npervic jsdom has no layouting

[2020-11-08 13:40] #23446 closed

[2020-11-08 14:08] ChromeQ commented on #23446
Can I at least have a reason or explanation why this is a won't fix?

[2020-11-08 14:21] Npervic commented on #23398
@oliviertassinari I see so testing this in js dom is not possible if I understand you correctly? How should I go about testing this then?

[2020-11-08 15:00] TakumaKira commented on #22170
@oliviertassinari
Hmmm, does it somehow depend on the environment?🤔
What should we do in such a case?

[2020-11-08 15:22] oliviertassinari commented on #23446
@ChromeQ The two components cover different use cases, we have been chatting a bit about the idea of merging them in the past but it never took. In this case, you can simply customize the components. There isn't a lot of value is spending time on this (vs. the others issues)

[2020-11-08 17:26] LukasDeco opened #23447 "I can't remove the `overflow: hidden` on the Mui Tabs component wrapper "Mui-Scroller" without resorting to !important css"
Provide a way to remove the overflow hidden on the MuiScroller in Tabs component using the component's API.

- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

I don't want to use `!important` rule in CSS to achieve this. We should be able to remove this CSS u

[2020-11-08 17:45] abhisheksarka commented on #10235
If anyone is still looking for a solution. Here is my approach

[code]

[2020-11-08 17:48] Maxgit3 commented on #23406
Do you need assistance with this issue?

[2020-11-08 18:00] oliviertassinari commented on #23447
@LukasDeco What problem are you trying to solve? (from an end-users perspective)

[2020-11-08 18:52] nauman99 commented on #23406
Can I take this ?

[2020-11-09 05:40] hp8wvvvgnj6asjm7 opened #23448 "padding overrides on muiContainer-root not working"
It seems that the muiContainer-root has a 3px padding by default.
I tried to follow the guideline and edit it from the theme:

    const theme = createMuiTheme({

      overrides : {
        MuiContainer:{
          root:{
            paddingLeft:'0 !important', // only works if important
            paddingRight:0, //  won't work
          }
        },

[2020-11-09 05:46] #23448 closed

[2020-11-09 07:04] waleedshkt commented on #15903
I found a **simple solution**.

Just wrap the child functional component with a simple `div`.

[2020-11-09 09:40] cyrilchapon opened #23449 "Typescript src attribute not recognized in Paper with img component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

With Typescript, when changing `<Paper />` `component` to `'img'`, the `src` attributes is not recognized.

[code]

## Expected Behavior 🤔

With some other builtin components, when sw

[2020-11-09 10:14] DonutRanger commented on #14394
Is there a workaround for this?

[2020-11-09 11:09] dvh91 opened #23450 "[Tooltip] onOpen / onClose unexpected behaviour"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When hovering on different targets within the `Tooltip` children, it triggers `onOpen` rather than trigger it only if `open` was changed to `true`.

## Expected Behavior 🤔

I would ex

[2020-11-09 11:26] dioxmio commented on #17010
still an issue for me. I just did:

`declare module '@material-ui/core/Box' {
    interface BoxProps {
        ref?: React.MutableRefObject<HTMLElement>;
    }
}`

with typescript module augmentation it's simple

[2020-11-09 13:25] eps1lon commented on #23449
Thanks for the report.

Closing this in favor of https://github.com/mui-org/material-ui/issues/21154 which has the same underlying issue.

[2020-11-09 13:25] #23449 closed

[2020-11-09 13:28] eps1lon commented on #23450
Thanks for the report.

Can reproduce with v5 as well: https://codesandbox.io/s/mui-tooltip-onopen-onclose-bug-forked-it19t as well.

[2020-11-09 13:49] mnajdova commented on #18962
Now that we have the `sx` prop is safe to drop the `css` prop. Will work on a PR 👍

[2020-11-09 15:11] oliviertassinari commented on #23398
@Npervic I have added the `good first issue` as we can improve the test cases of the component. If this is something you could be interested feel free to pick it up :). Otherwise, in your case, the Slider relies on mouse down & mouse up & the layout dimension to trigger its event. I would suggest you to either 1. apply the same approach as the [proposed diff](https://github.com/mui-org/material-ui

[2020-11-09 15:21] Npervic commented on #23398
@oliviertassinari this sounds actually interesting, and I'd love to contribute if I can. Il take a look at solving this over the work week for my case, and on the weekend I could try and contribute from my personal GH account.

[2020-11-09 15:24] oliviertassinari commented on #23398
@Npervic Great :), to remove any source possible of confusion. We apply the "good first issue" anytime there is a working diff that very likely solves the problem, in our case, it's https://github.com/mui-org/material-ui/issues/23398#issuecomment-723576801.

[2020-11-09 15:32] delucca opened #23458 "Styled + Typescript: No overload matches this call"
Hi!

I'm trying to code a simple custom Row component, integrating `react-beautiful-dnd` with a MaterialUI table. My project uses Typescript, but as soon as I transform that Row in a styled row I receive an error.

Here is a sample code:

[code]

The error happens at the `StyledTableRow` line in my component. Since I'm passing a custom component to it, I receive this error from my IDE:

[code]

[2020-11-09 16:14] kcarra commented on #15573
At least in v5 I've been able to get around this issue by using variants in my components theme:

[code]

Then use the button like so:
[code]

I was hoping to be able to do this with the color prop as well in v5, but have not been able to get it to work. [13875](https://github.com/mui-org/material-ui/issues/13875) was the closest issue I found to being able to customize the color prop. I would ide

[2020-11-09 18:18] oliviertassinari commented on #17010
@dioxmio We only solved it in v5.

[2020-11-09 18:25] oliviertassinari commented on #14394
@DonutRanger Did you try this approach https://stackoverflow.com/a/48330155/2801714?

[2020-11-09 18:58] oliviertassinari commented on #15573
@kcarra Thanks for trying it out! We plan to continue pushing in this direction for v5:

- This issue is still open to explore how we can extend the support of `theme.components.X.variants` to any prop, as you did with the `<Button variant="">`.
- For a direct mapping between the color and the theme's palette, bypassing `theme.components.X.variants`, #13875 is the issue to follow.

[2020-11-09 19:03] oliviertassinari commented on #23458
@delucca Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-11-09 19:40] oliviertassinari commented on #23450
@dvh91 Interesting problem. The motivation for using *mouseover* over *mouseenter* is covered in

https://github.com/mui-org/material-ui/blob/37d6ad0e7fed9c71fe05d1d4293667169fe46de0/packages/material-ui/src/Tooltip/Tooltip.js#L256-L258

Maybe something like this?

[code]

[2020-11-09 19:51] jacobedawson commented on #8581
I ran into this same issue, and it took me a little while to come up with a fix

I'm working with the outlined variant of a Select, and passing an empty string for the default values that I want to show. Here are the changes I had to make to get this to work:

1.) Added the 'input' prop to the Select component and passed in an OutlinedInput

[code]
2.) Created a classes object with makeStyles / us

[2020-11-09 19:58] oliviertassinari commented on #21154
@cyrilchapon Has shared a very simple reproduction in #23449: https://codesandbox.io/s/basicalerts-material-demo-forked-qgvhc. Looking back at the thread, it's awesome to see that the issues we got in the past got solved. What do you think about this fix?

[code]

? Do you want to work on a pull request? :)

[2020-11-09 20:11] oliviertassinari commented on #23384
Closing for #21453

[2020-11-09 20:11] #23384 closed

[2020-11-09 21:01] cyrilchapon commented on #21154
You are awesome guys 🤩

[2020-11-09 21:17] dvh91 commented on #23450
@oliviertassinari That could work.
Something to note- it also applies to `onClose` when `enterDelay` > 0 and `onClose` triggered while `open` is still falsy.

[2020-11-09 21:19] oliviertassinari commented on #23450
@dvh91 OK, this sounds like something we can handle at the same time.

[2020-11-10 00:13] cyrilchapon commented on #6140
@msimulcik @LuudJanssen
Splitted version, completely dynamic breakpoints according to theme, configurable defaultValue (initially undefined as many props ignore undefined)

[code]

[2020-11-10 08:26] #19706 closed

[2020-11-10 09:06] regischen opened #23461 "pseudo selector in makeStyles seems not work"
[code]

when I write this style in makeStyles, the style doesn't apply to the last child of headItem component.
Hope there is a solution.

[2020-11-10 09:12] #23461 closed

[2020-11-10 09:15] oliviertassinari commented on #23447
Mind that there is a `visibleScrollbar` prop on v5 that seems to cover your use case https://next.material-ui.com/api/tabs/.

[2020-11-10 09:15] #23447 closed

[2020-11-10 09:25] #23187 closed

[2020-11-10 09:40] kevinvugts commented on #22534
@oliviertassinari Is there a possibility to solve the unmounting Steps in Horizontal Stepper in a different way? Currently it's causing issues in my app. It would be awesome if you had some suggestions. :)

[2020-11-10 09:47] matchatype commented on #22450
@oliviertassinari It does reproduce locally with v5 example as well, but the curl command refers to master branch. As a workaround you can use a type assertion: `ref={innerRef as any}`.

[2020-11-10 09:53] cdavid15 commented on #19387
Just looking to see if there is any update / progress on this as I am keen to make use of the new Navigation Rail (assuming it will leave BETA) but wasn't sure on the workflow within Material UI for implementation.

Does the components only get build once they are official guidelines within Material Design?

[2020-11-10 10:10] oliviertassinari commented on #22534
@kevinvugts You can ask on StackOverflow. For the horizontal stepper, this is coming from your application's code.

[2020-11-10 10:19] arbabi2010 commented on #17407
plea

please share your complete code with us . if it is possible.

[2020-11-10 10:28] oliviertassinari commented on #22450
@matchatype Thanks for raising. You are right, we need to update all the examples' installation instructions, for instance:

[code]

Do you want to submit a pull request? :)

---

Regarding the ref, could you confirm that this fix it?

[code]

[2020-11-10 10:56] matchatype commented on #22450
Hey @oliviertassinari you are right, it does fix it... feeling so dumb now 🤪
I'll be happy to push a PR for that 🙂

[2020-11-10 13:19] oliviertassinari commented on #22426
- Product: Unity Dashboard
- The problem solved by the library: design system + rich application
- Company or organization: Unity
- Link: https://dashboard.unity3d.com/
- Screenshot:

<img width="1327" alt="Capture d’écran 2020-11-10 à 14 17 35" src="https://user-images.githubusercontent.com/3165635/98678924-8c70cc80-235f-11eb-94a1-77a6847d80b3.png">

[2020-11-10 13:50] jjoselv opened #23468 "Style Components interoperability not working with Tooltip"
While following the guide https://material-ui.com/guides/interoperability/#deeper-elements-2 to style the Tooltip element and the arrow, I'm not able to style the Tooltip with the default classnames (.MuiTooltip-tooltip, .MuiTooltip-arrow)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and beli

[2020-11-10 13:54] badunius commented on #16110
Could you please state this somewhere in the docs. It is not that clear as of now.

[2020-11-10 13:55] BernardA opened #23469 "Select grouped <ListSubheader>'s are overlapping on top"
When limited by the height, scrolling the options will make each subheader remain on top even when all its sub-items have being scrolled up. Normally each subheader should be replaced by the next subheader.

- [x ] The issue is present in the latest release.
- [ x

] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplic

[2020-11-10 13:56] oliviertassinari commented on #16110
@badunius did you find?

https://next.material-ui.com/components/links/#links

<img width="807" alt="Capture d’écran 2020-11-10 à 14 56 13" src="https://user-images.githubusercontent.com/3165635/98683063-e88a1f80-2364-11eb-8187-c719bc89dfff.png">

[2020-11-10 13:57] #23468 closed

[2020-11-10 13:57] oliviertassinari commented on #23468
https://material-ui.com/guides/interoperability/#portals

[2020-11-10 14:12] jinseobhong opened #23470 "[Textfield] Has a problem focusing where it doesn't want in App bar."
### Summary
When I select a text field in the app bar, have a problem choosing the wrong location.

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![Example](https://i.stack.imgur.com/yDZCc.gif)

## Expected Behavior 🤔

It is not

[2020-11-10 14:14] jjoselv commented on #23468
I'm not able to style deep components, can you help me modifying the CodeSandbox please?
My nearest attempt is this:
https://codesandbox.io/s/styled-components-forked-pg6zu?file=/StyledComponentsButton.js

[2020-11-10 14:29] BrentFarese opened #23471 "Autocomplete disablePortal breaks Popper behavior"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The Autocomplete component allows a developer to pass `disablePortal`.  The `disablePortal` implementation is found [here](https://github.com/mui-org/material-ui/blob/56984eaabad285ba

[2020-11-10 14:41] oliviertassinari commented on #23471
@eps1lon works on this problem in #23263.

[2020-11-10 14:45] oliviertassinari commented on #23468
https://codesandbox.io/s/styled-components-forked-3m5gm

[2020-11-10 15:00] kcarra commented on #15573
@oliviertassinari I'm wondering if this issue can be closed then. As far as creating custom variants this seems to be working as expected in V5 using `variants` in your theme

[2020-11-10 15:01] jjoselv commented on #23468
Sorry to bother you again :(
Take a look at this forked codesandbox from yours, I cannot manage to change the arrow color:
https://codesandbox.io/s/styled-components-forked-o66s8?file=/StyledComponentsButton.js

[2020-11-10 15:09] jjoselv commented on #23468
Nevermind, I should have copied the style to arrow too
Figured it out.
Thanks a lot!!!!!

[2020-11-10 16:10] jamespedid opened #23472 "TabPanel value property is a string, documentation suggests it should be an integer."
When using a `TabPanel` with typescript, the `TabPanel` has a type definition that has the `value` property listed as a `string`. The `Tabs` component has value listed as an `any` type, presumably because the documentation suggests that it can also be `false` instead of a number.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/materi

[2020-11-10 16:20] jamespedid commented on #23472
I seem to have gotten confused because some of the examples had a TabPanel component that was not the same as the one in the `labs` package.

[2020-11-10 16:20] #23472 closed

[2020-11-10 16:22] brorlarsnicklas commented on #23469
I might be wrong, but I think that this is not a problem with the material-ui components in general. It is just the way position sticky works.

Each of the <ListSubHeaders> have position: sticky and in order to get the behavior that I think you are expecting, you have to put your subheaders and their items inside a container. Adding e.g, a div around those will fix your problem.

![image](https://

[2020-11-10 16:35] oliviertassinari commented on #23469
Duplicate of #18200

[2020-11-10 16:35] #23469 closed

[2020-11-10 16:49] oliviertassinari commented on #23470
@jinseobhong It seems to be an issue with the user-agent. What makes you think it's related to Material-UI? I can't reproduce on Chrome 86 on macOS with the codesandbox.

[2020-11-10 17:07] jinseobhong commented on #23470
Receiving your answer,

I tried changing the user agent again(Mozilla / 5.0 (X11; Linux x86_64) AppleWebKit / 537.36 (Gecko와 같은 KHTML) Chrome / 86.0.4240.183 Safari / 537.36 →Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0), Looks like a problem with Chrome for Linux. For Firefox it works fine without any problems.

Is there any good way to fix browser issues?

[2020-11-10 17:12] oliviertassinari commented on #23470
@jinseobhong I fear we can't do much about it.

[2020-11-10 17:12] #23470 closed

[2020-11-10 17:15] jinseobhong commented on #23470
thank you for your answer!

[2020-11-10 17:15] jinseobhong commented on #23470
thank you for your answer

[2020-11-10 17:42] BernardA commented on #23469
@brorlarsnicklas, the codepen I linked to is forked from  [your select demo page](https://material-ui.com/components/selects/). I only added a few lines to the options so that the issue is more clearly visible. So, it is indeed a problem with material-ui.

[2020-11-10 19:13] andrewkfiedler commented on #18287
@belhassen07 is it possible to help out with this effort?

[2020-11-10 21:03] #18962 closed

[2020-11-11 05:03] #16617 closed

[2020-11-11 06:20] dantman commented on #22342
I don't want to take us on too big of a tangent, but I would like to push back on some of these rationales.

- In the past when building RN apps one of the hardest things to deal with was Material Design. In fact it was a big enough issue it could potentially decide whether to bother building a mobile app. I hear it's a bit better with one promising new library. But I doubt it's as promising as it

[2020-11-11 06:32] dantman opened #23478 "Nested theme providers cannot override theme light/dark mode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

MUI's theme provider supports overriding the theme in a subtree. However while overriding the primary/secondary color appears to work, overriding the dark/light mode of a theme in a s

[2020-11-11 07:04] mnajdova commented on #23478
I can see that it works in v5 - https://codesandbox.io/s/material-nested-theme-mode-bug-forked-1b1yw?file=/demo.js

For v4 you must use the old name `type` inside the palette - https://codesandbox.io/s/material-nested-theme-mode-bug-forked-x4rox?file=/demo.js

We are tracking here that we should add deprecation on v4 for `type` and support the `mode` - https://github.com/mui-org/material-ui/issues

[2020-11-11 07:18] dantman commented on #23478
Ok, sorry for the wrong sandbox. I am using `type` in my real project which I originally debugged the issue in. I forked a sandbox from another nested themes issue, made a simplified test case, saw it was broken as expected, and thought I had the right sandbox setup.

It does appear to be that changing the type/mode does work if you have entirely separate theme objects created from scratch. Howeve

[2020-11-11 09:40] #23478 closed

[2020-11-11 09:43] oliviertassinari commented on #23478
@dantman It's by design, either you generate the palette with the type, or you provide your own values.

[2020-11-11 09:54] Storky commented on #14348
I had similar problem by just using **makeStyles()**
The issue that  <style> of makeStyles() is printed above the <style> of component itself. So component's styles overlaps custom styles and you can't see the effect, like custom bg color of <AppBar/>

The reason of that is wrong import source, I used
`import { makeStyles } from '@material-ui/core/styles';`

The right import is:
`import { makeStyl

[2020-11-11 10:41] #23458 closed

[2020-11-11 11:16] ambroseus commented on #21250
@oliviertassinari  I use simple solution to use always mounted TabPanels:
[code]

[2020-11-11 11:24] dantman commented on #23478
I'm not sure what you're suggesting I do; I've already done my own workaround, but your statement was ambiguous. I followed the MUI documentation on how to override part of a theme. I did not specify any text/background colors myself, the palette was unmodified from MUI's defaults other than the primary color. The only way someone would know that when extending a theme changing the `palette.[type/

[2020-11-11 11:33] mbrookes commented on #22342
We look forward to seeing your POC 😄

[2020-11-11 11:45] oliviertassinari commented on #18287
@andrewkfiedler Belhassen has stopped the effort in this direction mid-year.

Starting this year, we have been collecting a list of designers that are interested in such a product. If you don't mind, I have added your email to the list (using your public emails used on commits).

At this point, it seems that the user demand is high enough to justify exploring it. The results of this [design survey

[2020-11-11 12:09] dantman commented on #22342
I'd love to play around with it if I have a chance. But people generally don't bother making POCs for things that maintainers show a disinterest for. No point building something when the current atmosphere is that it'll probably just end up abandoned. Hence why I want to push away from dismissing the value of RN or the value of RN as a possibility for the future.

[2020-11-11 12:52] jlramosr opened #23479 "Get styles after renderToNodeStream"
I use *ReactDOMServer.renderToString()* to render my app in the server side:

[code]
It works perfectly.

Now, I want to use *ReactDOMServer.renderToNodeStream()* and keep my styles fine, but when I implement my server with this feature, **the part of css inside the html is empty**.

[code]

I don't know how I can solve this. Any idea?

[2020-11-11 12:55] oliviertassinari commented on #23479
Duplicate of #8503

[2020-11-11 12:55] #23479 closed

[2020-11-11 13:17] oliviertassinari commented on #8503
An update, this issue is being resolved in v5 thanks to #22342. So far, we have migrated the Slider in the lab, where this can be tested.

[2020-11-11 13:31] paulbreslindeepcrawl commented on #10502
Worth noting that the disabled MenuItem will still be selectable when it's wrapped with a div. The div must have
`pointer-events: none` to avoid this issue.

[2020-11-11 13:55] chen406226 commented on #15903
TKS  haha

[2020-11-11 16:20] kodonnell-heila commented on #17370
It would be nice if this was added to your docs:

It's frustrating to find this post after implementing your jss implementation thinking it is a better option than scss files....

[2020-11-11 16:30] oliviertassinari commented on #17370
An update, this issue is being resolved in v5 thanks to #22342. So far, we have migrated the Slider in the lab, where this can be tested.

[2020-11-11 16:33] oliviertassinari commented on #21794
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-11 16:34] oliviertassinari commented on #21622
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-11 16:35] oliviertassinari commented on #21528
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-11 16:35] oliviertassinari commented on #21143
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-11 16:45] oliviertassinari commented on #21318
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

We are normalizing with the emotion's `shouldForwardProp` API: https://emotion.sh/docs/styled#customizing-prop-forwarding. The `@material-ui/styled-engine-sc` allows using the same API with styled-components.

[2020-11-11 17:33] reedanders commented on #22371
hi @mnajdova, I'd like to close this up, but I would like to certain of the case where localization broke in [#22293](https://github.com/mui-org/material-ui/pull/22293).

Can you confirm this is the failure you'd like to test for? [#22293 (comment)](https://github.com/mui-org/material-ui/pull/22293#issuecomment-678374756). Specifically, changing localization to https://deploy-preview-22293--materi

[2020-11-11 17:41] raj96 opened #23481 "[Feature Request] Circular Sliders"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Component to render a circular slider, which would have all the features that the Slider component has.

## Examples 🌈

https://www.npmjs.com/package/round-slider
https://www.npmjs.com/package/@fseehawer/react-circular-slider

## Motivation 🔦

[2020-11-11 17:46] #23481 closed

[2020-11-11 17:46] oliviertassinari commented on #23481
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure enough people are looking for such capability. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-11-11 20:01] #17504 closed

[2020-11-11 20:01] #23190 closed

[2020-11-11 20:23] brorlarsnicklas commented on #23450
Is it ok if I give this a try? :)

[2020-11-11 21:25] Ahmeed2m commented on #23291
This would be very useful to have material-ui act this way on its own, maybe even have a native flag in menuItem to act as option when it's true like the Select would be just efficient to make the example in https://github.com/mui-org/material-ui/issues/23291#issuecomment-719087681 even simpler

[2020-11-11 21:28] MikeAlvarado commented on #11386
Hi @oliviertassinari, I can't seem to understand how or which ones are the one exported from the list.

I want to give the same color of a contained button as a shadow. A contained button with primary color, to have the same primary color shadow.

[2020-11-11 21:53] gregnb opened #23483 "[Dialog] Dialog title announced after dialog closed in NVDA"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Upon closing the Dialog component it announces the dialog title in NVDA

## Expected Behavior 🤔

After closing of a Dialog component it should not announce anything related to the Dia

[2020-11-11 22:19] oliviertassinari commented on #22208
A reproduction with v5: https://codesandbox.io/s/hopeful-vaughan-cgn54?file=/src/Demo.tsx. We should be able to do when the migration is more advanced.

[code]

[2020-11-11 22:28] yemi commented on #17370
@oliviertassinari cool! I would like to add though, that when using the production build I don't have the same performance issues as I did initially, meaning that I currently don't have any performance issues. Reason being that the extra style tags in <head> do get removed when not used anymore. The main reason I really enjoy working with JSS in Material UI is that it provides me a great DX, far s

[2020-11-11 22:41] oliviertassinari commented on #21011
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package: https://codesandbox.io/s/wizardly-meadow-r0h7w?file=/src/App.js.

[2020-11-11 22:47] oliviertassinari commented on #20521
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.
The same codesandbox but updated & working with the latest alpha version: https://codesandbox.io/s/material-demo-forked-eq5ss?file=/demo.js.

[2020-11-11 22:58] oliviertassinari commented on #20446
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.
The same codesandbox but updated & working with the latest alpha version: https://codesandbox.io/s/makestyles-mediaqueries-forked-h0iq5?file=/demo.js.

[2020-11-12 01:19] mbrookes commented on #23481
Here's a quick-and-dirty implementation using CircularProgress: https://codesandbox.io/s/material-demo-forked-r3bvf?file=/demo.js

[2020-11-12 02:23] tonyjara commented on #13957
Warning still showing up and this is no longer a problem in FF, is there a way to mute this warning? Im on Material UI Core 4.11
![Screenshot 2020-11-11 232219](https://user-images.githubusercontent.com/45184825/98887452-c8498600-2474-11eb-801b-198747065c97.png)

[2020-11-12 04:52] peterlu-hinter commented on #9595
@oliviertassinari   I think this is still an issue. Why select dropdown is hooked with the modal implementation. Select dropdown is not a pop up dialog. Its position should be relative to the select field. The whole modal body overflow:hidden is wrong for select. What is my select dropdown contains 200 items. I cannot even scroll the page with overflow: hidden. And adding padding to the body is a

[2020-11-12 06:20] ZeeshanTamboli commented on #23406
@nauman99 Are you already working on this? Don't want to duplicate your effort otherwise I'll take it up.

[2020-11-12 07:25] nauman99 commented on #23406
@ZeeshanTamboli I haven't started it yet. You can take it if you want.

[2020-11-12 07:40] ItayTur opened #23484 "Popper ref doesn't work"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Attaching ref prop to ref or popperRef get null in the current property of the ref object in useEffect. Also, attaching callback to fire the callback with the current property as unde

[2020-11-12 08:31] oliviertassinari commented on #13957
See #22804 for why it's still relevant. The description of the warning was changed in v5.

[2020-11-12 08:59] eps1lon commented on #23484
The ref is working but is not tied to `useEffect` timing. You can use a callback ref instead: https://codesandbox.io/s/material-ui-issue-forked-50xep

[2020-11-12 08:59] #23484 closed

[2020-11-12 09:28] oliviertassinari commented on #9595
@peterlu-hinter This depends on your perspective, a native select on macOS behaves like a modal. We have moved the discussion to #17353.

This is fixed in v5: https://next.material-ui-pickers.dev/demo/datepicker

[2020-11-12 09:46] raj96 commented on #23481
@mbrookes
Looks good, but too much effort for a simple ui element IMO, also the controls are not that great.
What do you feel?

[2020-11-12 09:57] oliviertassinari commented on #20355
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package. The [`$ruleName`](https://material-ui.com/customization/components/#use-rulename-to-reference-a-local-rule-within-the-same-style-sheet) API is no longer available on the styled-components API. Instead, developers can leverage the global class names, which is a step closer to relying on

[2020-11-12 10:00] oliviertassinari commented on #19785
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-12 10:01] oliviertassinari commented on #19780
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.

[2020-11-12 10:06] oliviertassinari commented on #19671
This API isn't supported in v4, nor it will be in v5 (#22342).

[code]

you need to use the props from the first argument:

[code]

https://codesandbox.io/s/unruffled-cray-v3szn?file=/src/App.tsx

[2020-11-12 10:06] #19671 closed

[2020-11-12 10:12] oliviertassinari commented on #19422
An update, this issue is being resolved in v5 thanks to #22342 and the new `@material-ui/styled-engine` package.
https://codesandbox.io/s/jss-repeat-problem-forked-gmtl1?file=/src/App.tsx