[2020-03-10 20:10] joshwooding commented on #19846
@YuryShkoda you should be able to apply the fix in your theme using overrides. I’ll post a code snippet later.

[2020-03-10 20:21] captain-yossarian commented on #19144
@wederer @oliviertassinari I can take this up if nobody mind

[2020-03-10 21:43] SemperFortis commented on #19859
Hi, I am having issues similar to this but with the Pagination component. It gives me the error Attempted import error: 'useControlled' is not exported from '@material-ui/core/utils'. I am currently on Material-UI v4.9.5 and Material-UI Lab v4.0-alpha.45. I tried downgrading versions already. Any solutions?

[2020-03-11 00:50] IngoVals opened #20061 "Slider max changing does not clamp value"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If we change the value bound to the max prop below the actual value the onChange event is not fired.

## Expected Behavior 🤔

 I would assume that the actual value should be affected,

[2020-03-11 03:34] clodal commented on #15697
Try extending off your interface off `BaseTextFieldProps`, that might just do it. Worked for me

[2020-03-11 05:44] PatrickHo-134 commented on #19859
I'm also having the same issue. Really appreciate if anyone can help

[2020-03-11 07:07] wederer commented on #19144
@captain-yossarian You are very welcome to! Thanks!

[2020-03-11 09:11] sveyret opened #20062 "Indicate the ES publication in package.json"
I would like to be able to use the ES version of _material-ui_ in a project using a modern node version (> 13.7).

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

As stated in the [NodeJS 13 doc](https://nodejs.org/api/esm.html#esm_package_entry_points), the ES module entry point for _Node

[2020-03-11 09:27] Monfernape commented on #3157
I guess I caught mistake here. Instead of displaying  value={value}, value can be display as value={`${value}`} to make things work.

[2020-03-11 09:32] #19048 closed

[2020-03-11 09:41] Alaa-Ben commented on #19245
MenuProps={{variant:'menu'}} is not working for me unfortunately :'(

[2020-03-11 09:55] eps1lon commented on #20062
Your example is already supported. Did this stop working in node 13?

We don't recommend this. Use aliases in your build process instead.

Closing this in favor of #18447. The esmodule story of node will be part of this story. But we have to draw up a concrete plan. I'm especially concerned that the new esm API did not account for different bundle targets beyond the used module (modern, es6, ie11

[2020-03-11 10:01] jharper93 opened #20063 "Slider valueLabel child elements styling"
I am unable to style the child nodes of the valueLabel in the Slider component. I am limited to only the css rule name (valueLabel) and am unable to style any of the nested nodes within it

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
There are two nested spans inside of `<span class="Mu

[2020-03-11 10:06] #20062 closed

[2020-03-11 10:11] eps1lon commented on #20063
You can override the `ValueLabelComponent`. You can find an example in https://material-ui.com/components/slider/#customized-sliders

[2020-03-11 10:11] #20063 closed

[2020-03-11 10:13] levrik commented on #19427
I hit this issue today. Worked around it by putting the following code into my `theme.ts`.

[code]

@oliviertassinari Maybe the lab package could include something like this in their typings directly?

[2020-03-11 10:25] oliviertassinari commented on #19427
I think that it would be interesting to document this problem. Somebody relying on a third-party component would face the same problem.

@levrik Would it force us to have core depending on the lab? I don't think that developers should expect the same quality from the lab than from the core. I think that we should be willing to take a tradeoff that discriminates against the lab.

[2020-03-11 11:27] Romcol opened #20064 "Warning "Material-UI: this elevation `1` is not implemented" with disableGeneration to true"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![Error message](https://i.ibb.co/3zT59xt/Capture-du-2020-03-11-12-10-12.png)

## Expected Behavior 🤔

No warning should occur.

## Steps to Reproduce 🕹

This issue happens in SSR. On

[2020-03-11 11:59] anisg commented on #15573
With this feature and style System expands to all components (and not just Box), this will be for me the best UI Toolkit ever.

[2020-03-11 12:59] sveyret commented on #20062
It is not working when writing ES module in node (either using node 13, or node 12 with `--experimental-modules`, not sure for previous versions, and setting `"type": "module"` in the `package.json`).

This is because it is impossible to destructure an imported _CommonJS_ module from an _ES_ module. You have to do:

[code]

The main point is that the `module` entry is not read by node, you have to

[2020-03-11 12:59] eps1lon commented on #20064
Yeah we should not warn in that case. It's a bit tricky to recognize the context though.

It's not a high priority issue though since the use case isn't one that is recommended by react anyway. You shouldn't introspect the rendered tree anyway.

[2020-03-11 13:00] oliviertassinari commented on #20064
@eps1lon What do you think of going back to the theme approach in https://github.com/mui-org/material-ui/pull/18385/files#r346834275? It would solve this issue and help us when moving to styled components.

[2020-03-11 13:03] eps1lon commented on #20062
Ok thanks for the heads-up. We don't support experimental flags or non-lts node versions though. We'll figure this out once node 14 is released.

[2020-03-11 13:03] dandv commented on #19931
@geroddokar: it would help format the output to surround it with triple backticks (`).

[2020-03-11 13:20] zekehernandez opened #20067 "[TextField] Outlined input cause scrollabar"
For the outlined TextField (at least), if the label for the input has multiple words particularly, the hidden legend element can be taller than the actual input itself, which can cause layout issues.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Cu

[2020-03-11 13:32] diimii opened #20068 "[Autocomplete] Not refreshing options (used with async calls)"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hello,
i'm implementing one autocomplete that call async function to retrive places in the world.
actually when i write a specific address ( ex. " viale dezza, melegnano" )
the api

[2020-03-11 13:47] oliviertassinari commented on #19846
@YuryShkoda Do you want to submit a pull request? :)

[2020-03-11 13:54] oliviertassinari commented on #13442
@rhuanbarreto This problem should have already be solved. Could you share more details on what you are experiencing? How do you open a new page? What language do you except? What version are you using? What language do you get?

[2020-03-11 14:03] timonweber opened #20069 "Theme: TypeScript support missing for palette.action properties"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The following properties of `palette.action` are exported in [src/styles/createPalette.js](https://github.com/mui-org/material-ui/blob/e02abe51ce16ad1cd3d0af95c77e76d5625c82e8/package

[2020-03-11 14:07] YuryShkoda commented on #19846
@oliviertassinari I've been trying to implement fix, but it was working for some screen resolutions only and I have limited options for tests using real devices, that is why I'm afraid to bring more harm then use. And I have too many radio buttons across my project to risk.

[2020-03-11 14:07] SigholmErika opened #20070 "Cannot apply disabled-styling to Button component when using href"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When applying styles to MUI-button, in my case:
[code]
it will not apply the disabled-style when button is marked with an href-prop, but works fine when href is removed.

## Expected

[2020-03-11 14:25] Vgurnani opened #20071 "Select event is not working properly"
When we are not select any value from drop down  and click out side then placeholder goes up and come on position after 2nd click

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔
When we didn't select any v

[2020-03-11 14:30] rhuanbarreto commented on #13442
I found out what happened. My google search was giving me the search result in portuguese because my account is in portuguese. I changed google language to english and it's fine now.

[2020-03-11 14:31] eps1lon commented on #20070
This is because we render an anchor element `<a />` instead. These don't support the CSS pseudo-class `:disabled` since the [elements cannot be `disabled`](https://html.spec.whatwg.org/multipage/semantics-other.html#concept-element-disabled).

[2020-03-11 14:31] #20070 closed

[2020-03-11 14:32] eps1lon commented on #20071
Your issue has been closed because it does not conform to our issue requirements. Please fill out template and provide a more detailed explanation of the issue.

For how-to questions and other non-issues, please use Spectrum.chat or StackOverflow instead of Github issues. There is a StackOverflow tag called "material-ui" that you can use to tag your questions.

[2020-03-11 14:32] #20071 closed

[2020-03-11 15:06] Romcol commented on #20064
Sure it's low priority, it doesn't show up when compiled to production. What do you mean I shouldn't introspect the rendered tree?
I have to use `react-ssr-prepass` to get the list of components rendered so as to make the API calls synchronous (`getInitialProps()` like in `next-js`). In this respect, I have to introspect the rendered tree while disabling the generation of style. I think it also ap

[2020-03-11 15:37] tonyhallett commented on #19953
Here is a workaround.

You need to import the [TreeViewContext](https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/TreeView/TreeViewContext.js)

Prevent the label click from being [processed by the wrapped TreeItem](https://github.com/mui-org/material-ui/blob/63b76590391538a6789f76b8e29097cb7a24164c/packages/material-ui-lab/src/TreeItem/TreeItem.js#L385).

Use the [nor

[2020-03-11 16:17] BenLorantfy commented on #14455
What's wrong with https://github.com/mui-org/material-ui/issues/14455#issuecomment-462163189 ?  I think the bigger issue is not being able to wrap disabled buttons with tooltips. IMO it's a good user experience to tell the user why a button is disabled.

[2020-03-11 16:19] levrik commented on #19427
@oliviertassinari No, not at all. I could imagine that lab requires core being installed but I would assume this is already required? In the end this is the same technique you're recommending in the docs when adding custom colors to a theme's palette.

[2020-03-11 16:28] SleighJ commented on #7821
Experiencing a similar issue where the placeholder prop doesn't work, with or without InputProps={{ shrink:  true }}. This is my first experience where setting InputProps has not fixed the issue.

[2020-03-11 16:37] eduardosiqueirahaupt commented on #3973
use style into "renderInput"
Ex: ' renderInput={params => <TextField {...params} style={{ width: "200px" }} label="debug" />}   '

[2020-03-11 16:57] tonyhallett commented on #19882
@joshwooding @eps1lon
There are two issues here.
Firstly there is the focus stealing and secondly the [crash](https://github.com/mui-org/material-ui/issues/19882#issuecomment-592427810).

The crash occurs because the TreeItem is not cleaned up properly by the TreeView.

When the TreeItem is removed it informs the TreeView.
[code]
The TreeView cleans up the nodeMap
[code]

But when we then focus by

[2020-03-11 17:07] tonyhallett opened #20074 "[TreeView] Error when focusByFirstCharacter - dynamic items"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Error

## Expected Behavior 🤔

Should not throw

## Steps to Reproduce 🕹

https://github.com/mui-org/material-ui/issues/19882#issuecomment-592427810

Steps:

1. Remove a tree item
2.

[2020-03-11 17:24] tonyhallett commented on #20074
I will create a pull request

[2020-03-11 17:48] oliviertassinari commented on #19427
@levrik Ok so the best approach would be to document?

[code]

[2020-03-11 17:54] m4theushw commented on #20061
Did you save your codesandbox? It's the same as the template. :)

[2020-03-11 17:54] oliviertassinari commented on #14455
@BenLorantfy We need `pointerEvents: none` to get it to work for disabled buttons: https://material-ui.com/components/tooltips/#disabled-elements.

[2020-03-11 18:03] mlizchap commented on #19882
Could we just add a null check before `map.parent` to prevent the crash?

[code]

...but there's also the issue of focus stealing.  I'm still trying to wrap my head around the details of the component, but I'd like to look at it more tonight when I have more time if no one's currently looking into it.

[2020-03-11 18:46] mlizchap opened #20077 "[Docs] Add color sample to Default Theme docs page"
I think it would be helpful to have a sample of the default theme colors in it's docs page.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

Currently the [docs](https://material-ui.com/customization/default-theme/#default-theme) just have the hex code with no preview of the

[2020-03-11 19:12] BenLorantfy commented on #14455
Yeah never-mind I didn't realize the browser behaviour going on here. I understand why it's needed now 👍

[2020-03-11 19:51] felixswift commented on #19159
Hey  @bmaclean, I am looking for a similar solution! Would love your help. Thanks!

[2020-03-11 20:09] eps1lon commented on #20077
I had a similar idea today but regarding IntelliSense in vscode :laughing:

But this is a great idea now  that we control the full component. I guess we can check if the string would be useful as a color and then add a preview:

https://github.com/mui-org/material-ui/blob/5633c2768437604c7cfeed4eb62493c537469b19/docs/src/pages/customization/default-theme/DefaultTheme.js#L45-L46

[2020-03-11 20:12] #20069 closed

[2020-03-11 20:27] Akshay6396 commented on #16908
Delete your **package.lock.json** file and then run **npm i** it would work fine

[2020-03-11 20:37] kelly-tock commented on #16609
on 4.9.5 and started seeing this in the last week

[2020-03-11 21:01] HenrySiau commented on #20067
Can not re-produce this issue
CodeSandbox: https://codesandbox.io/s/material-demo-0t93e
Chrome Browser version:  80.0.3987.132 (Official Build) (64-bit)
<img width="507" alt="Screen Shot 2020-03-11 at 1 58 04 PM" src="https://user-images.githubusercontent.com/30228097/76463369-7958c780-63a0-11ea-8969-0dd592f780db.png">

[2020-03-11 21:07] NMinhNguyen commented on #16609
@kelly-tock @razvanmandache could you please provide a repro?

[2020-03-11 21:58] zekehernandez commented on #20067
Hi @HenrySiau, the input element wasn't the wrong size, it's the span inside of the legend element.

[2020-03-11 22:11] SemperFortis commented on #19859
They're both on the lastest versions....

[2020-03-11 22:12] joshwooding commented on #19882
@tonyhallett Thanks for the help. I've already fixed the crash in #19973 but having trouble with the asynchronous nature of the test.

[2020-03-11 22:17] kelly-tock commented on #16609
https://github.com/mui-org/material-ui/issues/16609#issuecomment-528325054

seems to have fixed it for us.

[2020-03-11 22:34] kelly-tock commented on #16609
had this issue in storybookjs as well, and the optimization fix from above fixed it there as well.

[2020-03-11 22:36] NMinhNguyen commented on #16609
@kelly-tock it’s great that you’ve found a workaround but ideally it would be good to get more insight into the issue so that the rest of the community doesn’t have to resort to turning optimisations off.

[2020-03-11 22:44] kelly-tock commented on #16609
I will give it a shot. I can very easily try and see if it was also happening before 4.9.5 as we just upgraded to that

[2020-03-11 22:49] tonyhallett commented on #19882
@joshwooding Your test 'works after conditional rendering'  deals with ArrowDown.

https://github.com/mui-org/material-ui/issues/19882#issuecomment-592427810

![image](https://user-images.githubusercontent.com/11292998/76471168-dc228100-63e9-11ea-925b-85d253e6d2c5.png)

Is related to focusByFirstCharacter.

@mlizchap

[code]
and the resolution

[code]

[2020-03-11 22:50] in-dot-ru opened #20081 "[InputBase] does not accept input while using autoComplete hook"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When propagating the props produced by the ```autoComplete``` hook to the ```InputBase``` component with a custom ```inputComponent```, the inner input component refuses to allow the

[2020-03-11 22:51] tonyhallett commented on #19882
I was about to make a pull request for this.  Proceed ?  If desired could extract the firstCharMap clean up to a separate function.

[2020-03-11 23:01] joshwooding commented on #19882
@tonyhallet Sounds good. It's probably better to make a separate function for the firstCharMap clean up part.

[2020-03-11 23:33] tonyhallett commented on #19882
@joshwooding Will do.  Be tomorrow though

[2020-03-11 23:42] joshwooding commented on #19846
@YuryShkoda Sorry it took so long. https://codesandbox.io/s/material-demo-sueb1 - but if you think the fix above won't work then I'm not sure this will work for you. Also the css selector is fragile so use at your own risk :)

[2020-03-11 23:49] joshwooding commented on #19882
@tonyhallett Cool. I would also add a null check for the map.parent too.

[2020-03-12 01:08] tonyhallett commented on #19882
The sandbox provided https://codesandbox.io/s/bold-hill-rw9y5 illustrates two crashes.  The first due to focusByFirstCharacter is still an issue. The second can be thrown with arrow down - this does not occur with the latest build.

[2020-03-12 10:27] sebastian-ludwig opened #20083 "[Select] opens while scrolling"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I start scrolling on a SelectField it immediately opens the Select-Options.

## Expected Behavior 🤔

Start Scrolling on a SelectField should not open the Select-Options.

## St

[2020-03-12 11:21] eps1lon commented on #20083
I have to examine how `<select>` behaves on touch devices. But on desktop devices `SelectInput` absolutely should open on mousedown because that's how `<select>` works.

[2020-03-12 11:21] levrik commented on #19427
@oliviertassinari I think that something like this could be integrated in `@material-ui/lab`'s typings.
This would "extend" the typings from `@material-ui/core` when `@material-ui/lab` is installed.
I'm not sure what happens if only `@material-ui/lab` would be installed. But I think that TypeScript handles errors in typings gracefully if I remember correctly.
But I'm assuming anyway that `@materia

[2020-03-12 11:43] wmitsuda opened #20084 "[Slide] Wrong direction TypeScript definition"
Please see: https://material-ui.com/api/slide/

The docs say the direction prop has a default value of "down", but if you omit it from real code, the type information will complain saying you didn't specify the direction prop.

Either the doc or the type info is wrong.

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/iss

[2020-03-12 11:47] oliviertassinari commented on #20084
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-12 11:49] oliviertassinari commented on #20084
Looking at the source, it seems about right

https://github.com/mui-org/material-ui/blob/7102777b6d248e9b23740a629781726f725019c7/packages/material-ui/src/Slide/Slide.d.ts#L6

Do you want to take care of the problem? :)

[2020-03-12 12:38] eps1lon commented on #19427
@levrik That's be great!

[2020-03-12 12:43] oliviertassinari commented on #19427
Would it require a circular dependency?

[2020-03-12 13:35] eps1lon commented on #19427
@oliviertassinari /core wouldn't depend on the lab. We would use module augmentation in the lab which already depends on /core.

[2020-03-12 15:56] sandorvasas opened #20088 "Select value changes from null to empty string"
[code]
When that MenuItem is selected, the Select's onChange is called with `event.target.value=''`

How to keep the null value?

[2020-03-12 16:35] ivowork commented on #19788
@mikkopori the issue is that you are using `inputProps` instead of `InputProps`

[2020-03-12 17:34] pedroRelvas commented on #19842
Do you have the solution to it? Thanks.

[2020-03-12 18:10] mikkopori commented on #19788
Great, thank you very much for your keen eyes!

[2020-03-12 19:18] eps1lon commented on #19704
I don't have the full history for this component. For `HiddenCSS` we could spread the props to the `div`. However, the types need to reflect that only `<Hidden implementation="css" />` supports this. `<Hidden implementation="js" />` does not support this.

[2020-03-12 20:04] kmckee commented on #2250
Sorry to resurrect such an old post, but can anyone share any links to where these two props are differentiated in the documentation?  All I've been able to learn is that:

Name | Type | Default | Description
-- | -- | -- | --
| checked | bool |   | If true, the component is checked. |
| value | any |   | The value of the component. The DOM API casts this to a string. |

It's still not clear to me

[2020-03-12 21:10] YuryShkoda commented on #19846
Just tried the fix using scale() and it looks perfect.
`root: {
        "& svg:first-child": {
          transform: "scale(1)"
        }
      }
`
I was able to test on 4 real screen resolutions.
Huge thanks to everyone!

[2020-03-12 22:46] adridavid opened #20090 "[styles] Theme default props are overriden by Component default props"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using withStyles, theme default props are overriden by Component default props.

[code]

In the example above, the button will be outlined. It should be contained.

Moreover we don't

[2020-03-12 22:49] oliviertassinari commented on #20090
This is expected

[2020-03-12 22:52] fromi commented on #19704
That's right, but it can be covered in the documentation isn't it ? It would not be the first component to expose properties without effect depending on another properties' value.

[2020-03-12 23:44] tonyhallett opened #20092 "[TreeView] Incorrect expanded logic"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the * key is pressed the TreeItem will [call](https://github.com/mui-org/material-ui/blob/7102777b6d248e9b23740a629781726f725019c7/packages/material-ui-lab/src/TreeItem/TreeItem.

[2020-03-13 06:19] eps1lon commented on #19704
Docs should have a warning as well, yes.

Though it is technically correct. Props are spread to the root element in both cases. One case just doesn't have on ;)

[2020-03-13 06:32] mosaiceye commented on #15616
If you do this:
`    useEffect(() => {
        if( data.length === rowsPerPage && page > 0 ) {
            setPage(0);
        }
    }, [data.length, rowsPerPage, page]);`

And this:
`                <TableFooter>
                    <TableRow>
                        <TablePagination
                            rowsPerPageOptions={[5, 10, 25, { label: 'All', value: -1 }]}

[2020-03-13 06:33] mosaiceye commented on #15616
Set your page property on your <TablePagination> like this:
`page={ ( page > 0 && data.length === rowsPerPage ) ? 0 : page }`

[2020-03-13 08:28] levrik opened #20094 "Can't type props of createStyles/makeStyles while still inferring class names"
It's not possible to type props of `createStyles` or `makeStyles` while still inferring the class names.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using `makeStyles<Theme, SomeProps>` will result in `Record<string, string>`

[2020-03-13 09:23] eps1lon commented on #20094
`makeStyles` with two generic params expects the `ClassKey` as the second param:
`export default function makeStyles<Theme = DefaultTheme, ClassKey extends string = string>`

If you specify the `Theme` you also have to specify `ClassKey`. Otherwise TypeScript will fallback to the default which is `string`.

[code]

Generally you don't need to use the generic arguments. By specifying them explicitl

[2020-03-13 09:23] #20094 closed

[2020-03-13 09:57] levrik commented on #20094
@eps1lon I think you misunderstood. I want to pass props to `useStyles` that are used inside the stylesheet. I want to type these. But it doesn't seem to be possible to type these without having to define them manually.

[2020-03-13 10:05] eps1lon commented on #20094
`makeStyles<Theme, ClassKey, Props>` if you prefer this syntax. You have to decide though in TypeScript. Either use inference or type each generic argument. There is no middleground in TypeScript. If you're interested in this feature please subscribe to https://github.com/microsoft/TypeScript/issues/26242

[2020-03-13 10:14] levrik commented on #20094
@eps1lon But I don't see a way of getting the props typed by inference or am I missing something here?

[2020-03-13 10:25] ValentinH opened #20095 "[Tooltip] - PopperProps broken starting from 4.9.5"
Because of #19851, we are not able to create our own custom arrow for a Tooltip.
![image](https://user-images.githubusercontent.com/2678610/76612682-16406f80-651d-11ea-90a6-59984b5c0f08.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Beh

[2020-03-13 11:21] eps1lon commented on #20094
I think you get better help on StackOverflow. Maybe https://github.com/mui-org/material-ui/blob/79d90997d49b0cb07bf61999e5c3ed985a914e35/packages/material-ui-styles/test/styles.spec.tsx#L431-L452 already helps?

[2020-03-13 11:26] eps1lon commented on #20095
It  looks like it's actually attempting to merge the Elements. We probably just want to merge plain objects.

[2020-03-13 11:29] ValentinH commented on #20095
Should I create a PR to prevent [deepMerge](https://github.com/mui-org/material-ui/blob/master/packages/material-ui-utils/src/deepmerge.js) from merging Elements?

[2020-03-13 11:50] eyalito opened #20096 "[Select] variant not working properly when input={<Input/>}"
## Current Behavior 😯
When Select has input prop, e.g. `input={<Input/>}`, variant prop is not working properly. For `variant="filled"`, background color is missing; for `variant="outlined"`, outline is missing. This applies both when variant is used on Select or on parent FormControl.
![image](https://user-images.githubusercontent.com/29921442/76617920-f6667700-652f-11ea-8608-06db58709daf.png)

W

[2020-03-13 12:25] tonyhallett opened #20097 "[TreeView] Selection focus"
- [x ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When focus leaves the TreeView and tab back we tab back to the last node that had focus regardless of any selection.

## Expected Behavior 🤔

1)

If none of the nodes are selected be

[2020-03-13 12:51] tonyhallett opened #20098 "[TreeView] Allow deselection for single select"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

You can select a node by clicking or by pressing space - it should be possible to click or space a selected node to deselect it

## Examples 🌈

It is possible to manage this yourself with the TreeView selected and onNodeSelect props but I thi

[2020-03-13 13:22] tonyhallett opened #20099 "[TreeView] disableSelection does not disable all selections"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

1) Only click is disabled
2) Single select tree item when not selected will have aria-selected=false

## Expected Behavior 🤔

1) Expect all selection to be disabled.
2) > If the tree

[2020-03-13 16:59] JuanmaMenendez commented on #18443
For the same reasons, this property (**getOptionSelected**) should be added to the [\<Select\>](https://material-ui.com/api/select/)  component.

What do you think @DarkKnight1992   ?

[2020-03-13 18:04] adelegard commented on #20049
Thank you for fixing this! <3

[2020-03-13 18:26] theGirrafish commented on #19536
Seems to be an issue with more than just The `Collapse` component, I'm having the same problem with `CardHeader`. I think the problem is the type definitions are restricted to the default component used instead of being overridable like the `Chip` or `Avatar` components.

Here's a sandbox with my code showing the similar issue.
As you can see, it works for `Chip` but doesn't work for `CardHeader`.

[2020-03-13 18:34] theGirrafish commented on #19536
I could push out a change, looks like it'll be of the same flavor as this PR.
https://github.com/mui-org/material-ui/pull/18868

[2020-03-13 20:19] IngoVals commented on #20061
Of course I did, do you think I'm an idiot, you are probably just opening it wrong :smile:

Yeah it should be fixed now.

[2020-03-13 22:12] kelly-tock opened #20104 "Getting Warning: Each child in a list should have a unique "key" prop. when spreading props and composing multiple Mui components"
I have written a wrapper component similar to `TextField`  for `Select`, called `SelectField`. I noticed that in our SSR app that we're getting the warning for keys, even though there is no array in the component. In our Storybook app(client side only) there is no keys error.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-u

[2020-03-13 22:20] #20104 closed

[2020-03-13 22:23] oliviertassinari commented on #20061
@IngoVals It's the responsibility of the developer to update the value accordingly when the value goes out of range. The component has does a best effort not to render something broken, however, don't expect more from it.

[2020-03-13 22:23] #20061 closed

[2020-03-13 22:49] aryzing opened #20106 "Material-UI: too many re-renders. The layout is unstable."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When typing a large input into a `<TextField>`, eventually the following error pops up in the console

[code]

## Expected Behavior 🤔

For this to not happen

## Steps to Reproduce 🕹

[2020-03-13 23:04] oliviertassinari commented on #20106
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-13 23:11] #19144 closed

[2020-03-14 04:38] ProPablo opened #20107 "Malfunctioning slider on mobile with custom Thumb component"
Adding Thumcomponent prop doesnt allow you to drag the slider around from the thumb on mobile, however, the slider does allow you to start dragging after tapping on a mark and resuming sliding that way.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

##

[2020-03-14 05:59] DarkKnight1992 commented on #18443
@JuanmaMenendez select already works with you provide a primitive value

[2020-03-14 11:33] JuanmaMenendez commented on #18443
Yes but I need to provide and select an object, not a primitive value.

[2020-03-14 12:18] DarkKnight1992 commented on #18443
@oliviertassinari is that's possible ?

[2020-03-14 12:59] kelly-tock commented on #20104
Cross posting https://stackoverflow.com/questions/60678043/getting-warning-each-child-in-a-list-should-have-a-unique-key-prop-when-spre?noredirect=1#comment107355735_60678043

[2020-03-14 13:43] yuki-yoshimura commented on #15745
In my case I was writing something like this inside my index.html file.
 `<script src="/bundle.js"></script>`

But I was also using HtmlWebpackPlugin (a plugin which automatically add bundle.js reference inside index.html) inside my webpack.config.js.

So I just solved this by removing the bundle.js reference from index.html.
Bad me

[2020-03-14 14:40] Tokenyet opened #20109 "Primary color is not working in 4.9.5"
Here is the code I used:
[code]

Just want to report, `Primary.main` is not working in latest version, and I checked the documentation, It seems to be no change on this part, so I decided to rollback to 4.9.0, everything work as expected.

I didn't check the other property, since primary is the biggest impact, so I report on Primary color.

[2020-03-14 15:40] #20109 closed

[2020-03-14 17:08] danawoodman commented on #19983
@oliviertassinari does that matter? It is a valid attribute of text in HTML

[2020-03-14 17:10] IngoVals commented on #20061
Yeah, that makes sense. I'm making some assumptions that perhaps aren't right.

[2020-03-15 00:13] oliviertassinari commented on #19983
@danawoodman Yes, it does, the system doesn't aim to support all the CSS properties possible.

[2020-03-15 00:17] oliviertassinari commented on #18443
It's supported but discouraged with the non-native select. It's not supported by the native select.

[2020-03-15 00:19] oliviertassinari commented on #20084
@wmitsuda I believe the fix would look like this:

[code]

[2020-03-15 00:21] oliviertassinari commented on #19427
@eps1lon This sounds great :)

[2020-03-15 06:03] thundermiracle opened #20125 "[TreeView] Gmail sample's css isn't correct when selected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
It's not a bug but only a css problem. In Gmail Clone sample, `backgroundColor: transparent` was overridden by the default one which causes the background not pure.

How about change i

[2020-03-15 07:40] JBayaraa22 commented on #18482
@mespeche I have removed **react** and **react-dom**. But still getting the error.  Do you have any other suggestion ?

[2020-03-15 08:40] nirkrumer opened #20126 "Elements visualizations are different between projects"
Hey,
I have 2 projects on intellij , which i use material-UI.
The first is great, and the second has weird visualization. - both of them java spring boot projects.
The first:
![image](https://user-images.githubusercontent.com/38032506/76698200-baa2ed00-66a8-11ea-8724-cf82fa4fb5d9.png)
All commands are in different colors, the tabs are in blue rectangle and so on.

The second one is different:
![im

[2020-03-15 08:59] kasaiee commented on #10552
I had a similar issue, `fontFamily` was working in the first level of nested components and finally, I fixed it by using `!important`

[code]

I tested all the solution you suggested but none of them worked.
__any idea?__

[2020-03-15 09:17] kasaiee commented on #10552
I found what makes the problem. I used `google-maps-react`. I used the 'Typography' component in `InfoWindow` to show some details on each marker. changing `Typography` to normal HTML `h6` solved the issue.

__has issue__
[code]

__correct__
[code]

__Reason__ : `Typography` overrides default style on my customized style

[2020-03-15 11:55] #18766 closed

[2020-03-15 12:27] #19709 closed

[2020-03-15 12:40] oliviertassinari commented on #20064
@Romcol If you want to give it a try, I think that we could get away with this patch:

[code]

pull request welcome :).

Now, assuming we move to styled-components, we will no longer be able to leverage the `classes` object to run this warning. Also, assuming we start to support dynamic values from the theme, I think that we start to need a broader solution to the problem. For instance, let's say

[2020-03-15 12:53] #20107 closed

[2020-03-15 12:53] oliviertassinari commented on #20107
Tip: keep the same component reference between two renders

[2020-03-15 12:55] #20106 closed

[2020-03-15 12:59] oliviertassinari commented on #20096
@eyalito You need to provide the right input component, we have Input, OutlinedInput and FilledInput.

[2020-03-15 12:59] #20096 closed

[2020-03-15 13:01] #20088 closed

[2020-03-15 13:02] oliviertassinari commented on #20083
I can't reproduce the issue.

[2020-03-15 13:30] oliviertassinari commented on #19980
@kjeske Thanks for the extra information. Interesting. But I can't help myself wonder, what problem would we solve for the users? I have looked at Google single sign-on form, when the email is in an error state, the input's validity value isn't updated. Maybe we can ignore the problem?

If we were to implement such a feature, we could probably set the validation error in an effect, looking at `ari

[2020-03-15 13:47] oliviertassinari commented on #20000
While not ideal, it's probably good enough. I think that we can close to focus on even more important problems :). We could have imaging moving the `shrink` state into the form control.

[2020-03-15 14:16] barthony opened #20129 "[AutoComplete] style not overriding when using core as external module"
## Current Behavior 😯
The pop up indicator behaves like it was not overriden by my makeStyles

## Expected Behavior 🤔
It should do nothing

## Steps to Reproduce 🕹
I was using makeStyles to change popupIndicatorOpen.transform to "none" on AutoComplete component
In my webpack config I had :
    externals: {
        "react": "React",
        "react-dom": "ReactDOM",
        "react-i18next": "ReactI1

[2020-03-15 14:41] #20129 closed

[2020-03-15 15:08] netochaves commented on #19883
Can I take this?

[2020-03-15 15:12] oliviertassinari commented on #19883
@netochaves "good first issues" are meant to ramp up new contributors, given you have already done a [none negligible](https://github.com/mui-org/material-ui/pulls?q=is%3Apr+netochaves+is%3Aclosed) number of contributions, I think that it would be better to focus on harder issues. Thanks

[2020-03-15 15:17] oliviertassinari commented on #11612
My bad, it's already supported.

[2020-03-15 15:17] #11612 closed

[2020-03-15 15:18] #19981 closed

[2020-03-15 17:31] rtman commented on #11723
would be great if this could become official!

[2020-03-15 17:43] #19836 closed

[2020-03-15 17:49] msabc opened #20130 "[Docs] responsiveFontSizes needs a better example"
When searching for a way to make my Typography responsive, I came across **responsiveFontSizes** function, only to be let down by the example provided.
The example, IMO, is not helpful to anyone who is just starting out with Material-UI.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
I th

[2020-03-15 19:04] HadiSDev opened #20131 "Autocomplete | disableOpenOnFocus should also work if components is already focused"
Like the **disableOpenOnFocus** property makes sure the popup does not appear on click, it would be nice if it actually also worked if the text field was already focused.

[2020-03-15 19:06] netochaves commented on #19975
Working on this

[2020-03-15 19:41] Vadorequest opened #20132 "Attempted import error: 'getDynamicStyles' is not exported from 'jss'"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

My CI server just failed with the following error:
[code]

Using:

[code]

## Expected Behavior 🤔

Such error shouldn't happen, it works fine on my computer which is using `4.9.0` for

[2020-03-15 19:48] Vadorequest commented on #20132
I just checked https://www.npmjs.com/package/@material-ui/styles and no recent version was released.

Investigating origin of the error. Roll back own source code to latest working version.

[2020-03-15 19:49] Vadorequest commented on #20132
Rollback to latest working source code failed, issue definitely comes from a dependency update, but I don't know which one.

[2020-03-15 19:51] ariariel commented on #20132
I believe it is related to this:
https://github.com/cssinjs/jss/pull/1303

[2020-03-15 19:51] blendsdk commented on #20132
I have the same error. it was just working

[2020-03-15 19:57] webface opened #20134 "makeStyles stopped working"
I have been working on a project for 3 weeks with the same depencies even deployed to server. Now all of a sudden I get error during dev and build

[code]

## Current Behavior 😯

Fails to build with error:
[code]

## Expected Behavior 🤔

Should build as usual

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Ma

[2020-03-15 20:03] webface commented on #20134
[code]
It was working fine for weeks then this

[2020-03-15 20:04] Marcioshub commented on #20134
I'm also having this issue.

[2020-03-15 20:07] webface commented on #20134
[code]

[2020-03-15 20:21] mglaman commented on #20134
Same as #20132

[2020-03-15 20:24] mglaman commented on #20134
jss v10.1.1 released which fixes this

[2020-03-15 20:24] webface commented on #20134
@mglaman I dont see a fix on that post

[2020-03-15 20:24] Vadorequest commented on #20132
Fix has been applied (commit has been reverted by author, and released). Closing.

https://github.com/cssinjs/jss/pull/1303

[2020-03-15 20:24] #20132 closed

[2020-03-15 20:25] Vadorequest commented on #20134
https://github.com/cssinjs/jss/pull/1303 author has released a fix, I just tested it and confirm it works now as it did before.

[2020-03-15 20:25] mglaman commented on #20134
Confirming it fixes things as well (thx @Vadorequest for tracking it down)

[2020-03-15 20:27] webface commented on #20134
@Vadorequest @mglaman how do i fix it in my project?

[2020-03-15 20:33] Vadorequest commented on #20134
Reinstall your dependencies. That should do the trick.

[2020-03-15 20:35] albertoZurini commented on #20134
Reinstalling dependencies doesn't work for me. I've removed `@material-ui/core` from `package.json`, then removed `node_modules`, then `npm i @material-ui/core -s`, but I still got
[code]

[2020-03-15 20:38] Vadorequest commented on #20134
It's not core, it's styles

`@material-ui/styles`

[2020-03-15 20:41] albertoZurini commented on #20134
I'm facing this issue in `core` library. I've just installed it and I got this error after using this sample code:
[code]

[2020-03-15 20:47] albertoZurini commented on #20134
Managed to solve (I don't know how). Here my `package.json`:
[code]

[2020-03-15 21:05] oliviertassinari commented on #20134
Closing as a duplicate of #20132

[2020-03-15 21:05] #20134 closed

[2020-03-15 21:57] JuanmaMenendez commented on #18443
@oliviertassinari thanks for your answer, can you please give us a link about the use of **getOptionSelected** in a Select component, I don't see anything in the docs https://material-ui.com/api/select/

[2020-03-15 22:26] embeddedt commented on #19574
I can make a PR to close this and #18200 together if you would like.

[2020-03-15 23:03] oliviertassinari commented on #19574
@embeddedt I think that we should handle the Select and Autocomplete component independently in this case.

[2020-03-15 23:05] oliviertassinari commented on #20131
@HadiSDev Feel free to control the open state to implement a custom behavior.

[2020-03-15 23:05] #20131 closed

[2020-03-15 23:07] oliviertassinari commented on #20130
You can find a better example in https://material-ui.com/customization/typography/#responsive-font-sizes.

[2020-03-15 23:07] #20130 closed

[2020-03-15 23:38] oliviertassinari commented on #20081
@in-dot-ru Try to memoize the created component. If you instantiate a new DOM node a each keystroke, it won't work.

[2020-03-15 23:38] #20081 closed

[2020-03-15 23:43] oliviertassinari commented on #20067
@zekehernandez Do you have an example (reproduction) of where it can cause an issue?

[2020-03-15 23:48] oliviertassinari commented on #20057
@BjoernRave Thanks for the report, it should have been solved with #19974. We will soon release it :)

[2020-03-15 23:48] #20057 closed

[2020-03-16 00:51] embeddedt commented on #19574
Okay; I am working on a PR for the Autocomplete component. Once that's done I will look at the Select component.

[2020-03-16 06:05] eyalito commented on #20096
ahh... my bad, sorry. Thanks for the tip!

[2020-03-16 06:07] cracktvo commented on #19894
Hi emirhankudev,
If you have installed jss, you need to remove it from your dependencies. That worked for me.

[2020-03-16 07:00] matthewoates opened #20136 "Theme example breaks with AppBar usage"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

https://codesandbox.io/s/material-demo-qjiv5

This breaks with the suggested theme object:

[code]

To fix the `cannot set property type of undefined` error:

[code]

And to fix that error:
[code]

and I'm

[2020-03-16 07:11] matthewoates commented on #20136
It looks like the docs here:

- https://material-ui.com/styles/advanced/
- https://material-ui.com/customization/theming/

and the Codesandboxes need to be updated to include `createMuiTheme({ background: ... })`

[2020-03-16 08:44] gmltA commented on #19842
@pedroRelvas I ended up with a wrapper components that applies decoration via `useStyles` hook to inner `Autocomplete`.

[2020-03-16 09:06] vince1995 opened #20137 "[Autocomplete] blurOnSelect consistency"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a `Autocomplete` has `blurOnSelect` it doesn't blur when an option is selected via keyboard (arrows and return). The popup closes.

## Expected Behavior 🤔

It should also blur.

[2020-03-16 09:35] ShehryarShoukat96 commented on #19883
@oliviertassinari Can I work on this issue?

[2020-03-16 10:00] eps1lon commented on #20136
Yeah the example is not very helpful since it uses /core but wouldn't work with /core components. We should wrap it in `createMuiTheme`.

[2020-03-16 10:08] maayanbar13 opened #20138 "[CardActionArea] FocusHighlight uses descendant css selector instead of child"
The `focusHighlight` selector for `CardActionArea-root:Hover` uses the descendant selector (space)  instead of the direct child selector (>), even though the `focusHighlight` element will always be a direct child of the button.
This can cause a performance hit, as well as some weird interactions with nested CardActionAreas.

- [x] The issue is present in the latest release.
- [x] I have searched t

[2020-03-16 10:36] #20090 closed

[2020-03-16 12:30] tonyhallett opened #20140 "TreeView visibleNodes built incorrectly on re-render"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After a re-render navigation is incorrect

## Expected Behavior 🤔

Navigation works the same as it did before the re-render

## Steps to Reproduce 🕹

https://codesandbox.io/s/mystifyi

[2020-03-16 12:58] androane commented on #18004
@oliviertassinari why have you closed this one?

[2020-03-16 13:19] tonyhallett opened #20141 "TreeView programmatic focus does not change tab indices"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Call focus() on a tree item it does not affect the isTabbable of the newly focused tree item or any of the others.

## Expected Behavior 🤔

The newly focused tree item has tabindex 0

[2020-03-16 13:22] ahummel25 commented on #9243
So is the solution here to use `createMount` from `material-ui/test-utils`?

I would like to continue to use `react-test-renderer`.

[code]

[2020-03-16 13:26] oliviertassinari commented on #20138
@maayanbar13 This is not supported nor that we aim to support it. `button > button` is an invalid HTML structure.

[2020-03-16 13:26] #20138 closed

[2020-03-16 13:27] #20095 closed

[2020-03-16 13:44] oliviertassinari commented on #18200
For a future iteration, let's not forget about the learnings of #19574.

[2020-03-16 13:58] zekehernandez commented on #20067
@oliviertassinari, I'll get an example up as soon as I can.

[2020-03-16 13:59] danawoodman commented on #19983
Ok, well I have some text where we want to support changing the default cursor

[2020-03-16 14:00] maayanbar13 commented on #20138
While thats true that still doesn't address the performance issues that arise from this issue, for no good reason.

[2020-03-16 14:12] zekehernandez commented on #20067
Okay, @oliviertassinari here is a small demo: https://codesandbox.io/s/material-demo-f5qv0
As the code stands in there, everything looks fine. But if you change the label to "Outlined but very long" the Dialog Content is now too long for its container and a scrollbar appears.

Like I said before, it is a pretty minor thing, and easy to work around; but it appears to be a regression as it didn't be

[2020-03-16 14:21] Ravindersingh1526 opened #20144 "ClickAwayListner close on its child element click"
Bug-ClickAwayListner close on its child element click
On npm update new packages

[2020-03-16 15:04] eps1lon commented on #20144
Your issue has been closed because it does not conform to our issue requirements.

For how-to questions and other non-issues, please use Spectrum.chat or StackOverflow instead of Github issues. There is a StackOverflow tag called "material-ui" that you can use to tag your questions.

[2020-03-16 15:04] #20144 closed

[2020-03-16 15:12] levrik opened #20145 "[AutoComplete] Breaks full width of TextField inside flex containers"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

As you can see in the example linked below, setting `fullWidth` on an `TextField` supplied to `Autocomplete` doesn't take the full width anymore as soon as the `Autocomplete` is wrapp

[2020-03-16 17:44] belgamo commented on #20084
@oliviertassinari were you able to reproduce this problem? I'm willing to take care of that, but I have not been able to reproduce it.

[2020-03-16 17:54] oliviertassinari commented on #20084
I haven't tried to reproduce it. I have only looked at the source that looked wrong.

[2020-03-16 17:56] belgamo commented on #20084
:thinking: @wmitsuda could you provide more details?

[2020-03-16 18:41] vineetenator commented on #18018
Thanks, @edgarcheverier!
This works for me after updating the `_document.tsx` and `_app.tsx` files.

I am using
[code]

[2020-03-16 18:49] deepmistri opened #20148 "Dynamic Sidebar"
Hi ,

I want create dynamic sidebar means dynamic useraccess so how can i import component and core icons using database in material ui?

[2020-03-16 18:55] deepmistri opened #20149 "AutoComplete and Google Manage Scrooling"
Hi,

When i tried to scrolling page then google manage complete and autocomplete not scrollable

![Screenshot_24](https://user-images.githubusercontent.com/62154851/76790794-8aad3400-67e5-11ea-8d5e-2f4cbc92e5e8.png)
![Screenshot_24](https://user-images.githubusercontent.com/62154851/76790818-939e0580-67e5-11ea-8471-10304db7be50.png)

[2020-03-16 18:56] #20148 closed

[2020-03-16 19:15] #20149 closed

[2020-03-16 19:16] oliviertassinari commented on #20149
Tip, check our documentation about this very problem

[2020-03-16 20:37] NaturalFigurehead opened #20150 "Using a headless CMS with Material UI"
I have a Gatsby site that uses Material UI. I'm working on setting up a headless cms for it and have started using Ghost (ghost.org). The Ghost api returns the body of a post as an html string. I'd like to change the content of the html string into the corresponding Material UI components.

Is there anyway people have done this in the past? I'm considering just parsing the string and inserting mat

[2020-03-16 20:43] Cristy94 commented on #20145
The problem is that `Autocomplete` wraps the `TextField` in an extra `<div>`. You now have to add `width: 100%` or `flex-grow: 1` to the `Autocomplete` component.

[2020-03-16 21:08] #20150 closed

[2020-03-16 22:19] dfernandez-asapp opened #20151 "[Typography] The last theme in use overrides the generated CSS"
With multiple `ThemeProvider` tags, the last theme in use will override the `MuiTypography` CSS classes.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In the following code:

[code]
The style of the first `h5` will use the style

[2020-03-16 22:46] dfernandez-asapp commented on #20151
As a workaround, if you nest the `ThemeProvider` object it works:

[code]

[2020-03-16 23:06] oliviertassinari commented on #20138
Do you have benchmark that illustrates the performance issue? As far as I know, the impact is negligible and can/should be ignored.

[2020-03-16 23:12] oliviertassinari commented on #20151
Duplicate of #15914

[2020-03-16 23:12] #20151 closed

[2020-03-17 05:57] aaronhayes opened #20152 "[Autocomplete] Uncaught TypeError: Cannot read property 'length' of null"
TypeError · Uncaught TypeError: Cannot read property 'length' of null

https://github.com/mui-org/material-ui/blob/701e3ad76b788a50ea83aeb8516ed303c2435bd0/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L821

If `value` is `null` and `multiple` is true, we run into this error. Should add a check for `value` being `null`.

Version:     `"@material-ui/lab": "^4.0.0-alpha.45"`

[2020-03-17 08:28] mukhammad-akilov opened #20153 "[Slider] Update to match the specification"
I need to change text in label, not background color

![image](https://user-images.githubusercontent.com/31181880/76836731-20cb7380-6853-11ea-8da2-fe442974b8ce.png)

`const theme = createMuiTheme({
overrides:{
    MuiSlider: {
         valueLabel: {
             color: 'black',
         },
    }
}`

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://gith

[2020-03-17 08:51] levrik commented on #20145
@Cristy94 I'm completely aware of this. But it feels a bit weird that I have to manually add styles to something. I also wonder why `Autocomplete` needs this `div` wrapper.

[2020-03-17 09:52] eps1lon commented on #20152
@aaronhayes  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-03-17 11:17] Ghost180195 commented on #20153
I fixed this problem by changing constrastText to "my color" pallete theme

[2020-03-17 13:18] aaronhayes commented on #20152
Yep will see what I can put together @eps1lon

[2020-03-17 13:32] iamsteeve commented on #18954
I also have that problem I solved it by removing input prop although I don't know what side effects it has
[code]

[2020-03-17 14:02] m4theushw commented on #19673
Do you really need to keep the last tab always selected? This behavior is occuring because your `deleteLastTab` makes the Tabs component to rerender twice.

[2020-03-17 14:08] slykar commented on #16293
I have the exact same issue when using `makeStyles` or `createStyles`.

[2020-03-17 14:09] tonyhallett opened #20154 "TreeItem does not allow conditional child"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There is an error

## Expected Behavior 🤔

No error

## Steps to Reproduce 🕹

https://codesandbox.io/s/wonderful-pond-89ohe

Steps:

1. Load the sandbox - see that there is nothing di

[2020-03-17 14:15] Michal-Sh commented on #19673
@m4theushw Interesting, why is it?
I don't really need to select always the last tab, the user selects it, and it frequently happens in our system.
Actually this bug happens also in another case:
1. adding a tab
2. change the tabs' source to an array with a different length from the previous one

[2020-03-17 14:21] eps1lon commented on #20154
I thought #19849 fixed this but it seems to only fix `TreeView` not `TreeItem`.

[2020-03-17 14:27] tonyhallett commented on #20154
https://github.com/mui-org/material-ui/pull/20156

There are more serious bugs than this

[2020-03-17 14:32] m4theushw commented on #19673
@Michal-Sh The `deleteLastTab` is making two changes to the state (`setTabs` and `setValue`). Each change makes the component to rerender. When `setValue` is called some DOM operations have not completed yet so this confuses the logic to determine if the arrow should be displayed. I believe this is the same reason for the second bug if 1 and 2 are made at the same time.

[2020-03-17 14:36] Michal-Sh commented on #19673
@m4theushw
Thanks
I thought that this is the problem.
About the second case - it doesn't happen at the same time

[2020-03-17 15:41] m4theushw commented on #19673
@Michal-Sh Could you provide an example showing this case?

[2020-03-17 17:17] GilCarvalhoDev commented on #18954
SOLVED!

[2020-03-17 17:31] #20018 closed

[2020-03-17 17:47] #19574 closed

[2020-03-17 19:04] DanMaycock opened #20160 "Unable to set "data-testid" on the inner input of a Checkbox component."
- [X ] The issue is present in the latest release.
- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

It isn't possible to add a "data-testid" on the inner input element for a Checkbox component via inputProps when using typescript 3.8.3. It gives the typescript error "Type '{ 'data

[2020-03-17 19:12] mheavenor commented on #15827
At the very least, the documentation should be updated right? The documentation says that `component` is a valid prop of `ButtonBase` but if you try to type `<ButtonBase component=... >` you get an error.

[2020-03-17 19:36] dkulakov commented on #10820
https://codesandbox.io/s/material-demo-672l1

Have the same question, but for FormControlLabel & Switch components, is it possible?

[2020-03-17 19:57] ohlr opened #20161 "Autocomplete with state - filterSelectedOptions has no effect"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

filterSelectedOptions has no effect

[code]
[code]

## Expected Behavior 🤔
filterSelectedOptions should filter the selected options

## Steps to Reproduce 🕹
use autocomplete as descri

[2020-03-17 20:05] ohlr commented on #20152
@eps1lon  This should be a sufficient test case

        <Autocomplete
            options={options}
            getOptionLabel={option => option.label}
            value={null}
            onChange={(event: any, newValue: any) => {
                handleOptionsIdChange(newValue);
            }}
            multiple={true}
            renderInput={params => (
                <TextField {...params}

[2020-03-17 20:19] felipe-b-oliveira commented on #9595
It didn't work for me

[2020-03-17 20:20] eps1lon commented on #20160
This is currently a limitation of typescript. We're waiting for https://github.com/microsoft/TypeScript/issues/28960.

For more context see https://github.com/mui-org/material-ui/pull/18902.

Possible workarounds:
- `@ts-ignore`:
[code]
- use ByRole instead of ByTestid. We generally don't recommend data-testid. Most of the (interactions) tests can be implemented using `ByRole`.

[2020-03-17 20:20] #20160 closed

[2020-03-17 22:11] dmitriid commented on #19574
Thank you! 👍💪

[2020-03-18 02:59] ro7584 opened #20162 "scripts docs:api remove not exist path"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
rimraf command remove not exist path.
https://github.com/mui-org/material-ui/blob/master/package.json#L9

## Expected Behavior 🤔

According to faca5c4 change `docs/pages/api` to `docs/

[2020-03-18 03:07] belgamo commented on #19173
I think that isn't the problem. Based on that https://github.com/mui-org/material-ui/issues/19173#issuecomment-586765108 to fix it the `InputProps` of component coming from the user only needs `ref` prop. What do you think?

[2020-03-18 04:29] JoshuaCS94 opened #20163 "[AvatarGroup] Add prop for sorting Avatars rendering in ascendant or descendant order"
Hi, guys! 👋 This is my very first contribution to `Material-UI` and wanted to start with a small feature.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add a prop to `AvatarGroupProps` to let the user specify how to sort Avatars out: **descendant** (default) or **ascendant**. It could b

[2020-03-18 07:13] eps1lon commented on #20162
Feel free to open a PR 👍

[2020-03-18 07:23] eps1lon commented on #20163
I don't understand why you would want to display the rest on the top of the stack. That's not how I would display cards in the real world.

However, you can do this already with
[code]
-- https://codesandbox.io/s/avatargroup-reverse-stack-8q7f1

[2020-03-18 07:23] #20163 closed

[2020-03-18 09:33] #20162 closed

[2020-03-18 10:09] IannisIP opened #20165 "[Menu] Menu positioned incorrectly after hovering a MenuItem element"
When hovering a MenuItem, the positon of the Menu container should not change.

- [x] The issue is present in the latest release. Please not that if you downgrade MUI to v4.5.0
 It behaves as expected.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When hovering a MenuItem, the p

[2020-03-18 10:18] hbmuller commented on #20000
I'm good with that. Closing the issue.

[2020-03-18 10:18] #20000 closed

[2020-03-18 10:37] richardwhitefoot opened #20166 "[docs] Text link color low contrast ratio"
The regular size link text within the documentation is difficult to read due to the low contrast ratio between the background and text color - it uses the secondary green.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Regular si

[2020-03-18 12:31] nratter opened #20168 "[4.9.6] webpack produces a warning -> "export 'createUnarySpacing' was not found in '@material-ui/system'""
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

WARNING in ./node_modules/@material-ui/core/esm/styles/createSpacing.js 14:18-36
"export 'createUnarySpacing' was not found in '@material-ui/system'
@ ./node_modules/@material-ui/core

[2020-03-18 12:43] oliviertassinari commented on #20168
@eps1lon Oops, it had to happen! 😆

[2020-03-18 12:48] #20168 closed

[2020-03-18 12:51] oliviertassinari commented on #20168
It should be solved with `@material-ui/core@4.9.7`.

[2020-03-18 12:56] oliviertassinari commented on #20163
Which, using the above solution would translate into:

[code]

[2020-03-18 14:09] Kyderman commented on #16245
Just wanted to bump this up as it's still a problem!

[2020-03-18 15:15] eps1lon commented on #20166
A screenshot would help a lot. I think I'm looking at different links:
![Screenshot from 2020-03-18 16-14-24](https://user-images.githubusercontent.com/12292047/76975961-8e4ed100-6933-11ea-9f98-e7100bcea26d.png)

These links have a 5.06 ratio which is well above AAA rating.

Did you change your docs colors in https://material-ui.com/customization/color/#color-tool?

[2020-03-18 15:43] richardwhitefoot commented on #20166
I don't recall changing the color, but that's the more likely.

Happy to close, thank you.

[2020-03-18 15:43] #20166 closed

[2020-03-18 17:28] jdoklovic opened #20170 "[TextField] Long label causes scroll/height when not focused"
When you use a long string value for the label of a TextField, it causes a lot of extra height when the field is not focused. This, in turn, can cause the container to show scrollbars, especially if it's in a Dialog.

- [ X ] The issue is present in the latest release.
- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is no

[2020-03-18 18:17] jonesmac commented on #12749
I agree with @rommelmamedov what's the drawback to making it invisible via css vs type=hidden?

[2020-03-18 18:31] JoshuaCS94 commented on #20163
@eps1lon @oliviertassinari
Thank you, guys. Im trying to go with the overrides alternative which I got working but just after overpassing some TypeScript complaints. I want to get rid of them and get a clean code. Let me explain them.

First of all, `MuiAvatarGroup` key doesnt exist on the [`Overrides`](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/styles/overrides.d.

[2020-03-18 19:35] tonyhallett commented on #20098
Note that it is possible for multi select.  When it takes the selectNode path.

from https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/TreeItem/TreeItem.js
[code]

selectNode calls the TreeView https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/TreeView/TreeView.js

[code]

Also note that with click you need ctrl or meta key - with space y

[2020-03-18 19:37] oliviertassinari commented on #20163
Follow #19427

Ignoring the type here seems the best option.

[2020-03-18 19:48] #19036 closed

[2020-03-18 19:58] jcafiero opened #20172 "[Chip] Screen reader reads out all of the chips at once"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently, when the screen reader moves to read a group of chips, it reads off the information within each of the chips one after the other. There is no indication given that this is

[2020-03-18 20:04] eps1lon commented on #20172
Thanks for the detailed issue! Just wanted to let you know that this might not be adressed in v4 since we want to rework the a11y story of the Chip for v5 anyway.

That doesn't mean we wouldn't merge a fix for this though!

Just one minor request: Please use exact versions when describing your environment. `latest` changes over time and it might be confusing if the current behavior is no longer re

[2020-03-18 20:07] tonyhallett commented on #20097
Here is a quick demo of how selection should work https://codesandbox.io/s/confident-golick-j2nnt

https://www.w3.org/TR/wai-aria-practices/#TreeView does not define what should happen if we focus a tree with selected node / selected first node that is not visible as an ascendant has been collapsed.

Two options here
1. Focus the first node
2. Expand the selected node and focus

For multi-select t

[2020-03-18 20:28] JoshuaCS94 commented on #20163
Yeah! I was thinking about the same: **module augmentation** 👍
But seems like that guy havent finished the PR so I would have to do it locally on my project.

Could go that way for now. Maybe raise the issue to [csstype](https://github.com/frenic/csstype)? After all it seems to be a limitation on their types and not yours... I could augment their module too 🤔

[2020-03-18 20:34] oliviertassinari commented on #20042
I think that we can leave this problem to userland.

[2020-03-18 20:34] #20042 closed

[2020-03-18 20:39] hothands-schneider commented on #19245
Status of this? This is crippling some of our work. Please bump

[2020-03-18 20:41] oliviertassinari commented on #20043
@edgarjrg Interesting. The changes we are pushing are optimized for the many, we are constantly actioning users' feedback. Most of the changes you are referring too that have impacted you were meant to fix bugs (I believe). In practice, it seems that the solution you are looking for is to freeze upgrades.

[2020-03-18 20:41] #20043 closed

[2020-03-18 20:46] shware100 opened #20173 "MenuItem + Component - Tab key does not work when dialog opened via MenuItem"
Using the Menu and MenuItem components.  The MenuItem provides a "component" property which is used to open a dialog.  The dialog opens fine, but the tab keys do not work.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The dialog

[2020-03-18 21:14] oliviertassinari commented on #20173
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-18 21:15] oliviertassinari commented on #20170
Closing as a duplicate of #20067.

[2020-03-18 21:15] #20170 closed

[2020-03-18 21:30] whizsid opened #20174 "Can not parse type parameters with withStyles components"
I want to pass a type parameter to my component exported with `wthStyles` component. But it not working.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

### Component:-
[code]

### Render
[code]

It gives me following error:-
[cod

[2020-03-18 21:41] eps1lon commented on #20174
This is unfortunately a limitation of TypeScript. See #14544 for more context.

[2020-03-18 21:41] #20174 closed

[2020-03-18 22:14] mikebarkmin commented on #19679
Did you manage to fix it? I am facing the same issue.

[2020-03-18 22:19] shware100 commented on #20173
Thanks!

https://codesandbox.io/s/weathered-cdn-bcwut

Tried again from scratch and not sure how long things hang around under the free stuff.  It's ugly but does reproduce the problem.

Shawn

[2020-03-18 22:31] shware100 commented on #20173
FWIW, the workaround is NOT use the component attribute and instead manage the dialog open state via props.  But, that makes it hard to have different dialogs associated with different MenuItem components.

Appreciate any points in case I'm missing something very obvious.

[2020-03-18 23:34] oliviertassinari commented on #20067
@zekehernandez What do you think of this patch? Do you want to submit a pull request? :)

[code]

[2020-03-18 23:37] oliviertassinari commented on #20050
@rretter We leave this aspect up to the users to implement. You are free to persist the input states upon blur. Alternatively, you might like https://material-ui.com/components/autocomplete/#helper-message.

[2020-03-18 23:37] #20050 closed

[2020-03-18 23:58] oliviertassinari commented on #20068
@diimii Thank you for the feedback. It's the second time I see somebody facing this problem. I think that we could improve the documentation on this matter. Basically, you need to disable the built-in filter: `filterOptions={x => x}`.

What do you think of the following diff? I wonder how we could better document this point 🤔

[code]

[2020-03-19 00:05] oliviertassinari commented on #20137
The prop was introduced for the mobile experience. It's frequent to want to hide the virtual keyboard after the selection of an option. We have never considered the use case on a desktop with the keyboard. Could you share more on why you want to implement such behavior?

I would be in favor of denying the request, and implement the following breaking change:

[code]

[2020-03-19 00:07] #20161 closed

[2020-03-19 00:07] oliviertassinari commented on #20161
Tip, check `getOptionSelected` out.

[2020-03-19 00:08] #20152 closed

[2020-03-19 00:38] oliviertassinari commented on #20145
@levrik It's required per https://www.w3.org/TR/wai-aria-practices/#combobox. But they are working on removing the container: https://github.com/w3c/aria/wiki/Resolving-ARIA-1.1-Combobox-Issues#aria-11-problems. I'm not sure it's stable enough yet. @eps1lon What do you think, should we follow this draft or delay things?

This is an interesting concern, I have been wondering about this problem late

[2020-03-19 00:40] #20165 closed

[2020-03-19 00:41] oliviertassinari commented on #20165
tip, check the margin of the h4

[2020-03-19 00:56] adamdicarlo opened #20175 "[docs] Popover/Chip demo runtime error"
The page at https://material-ui.com/components/popover/ has a demo that crashes when using the `anchorPosition.top` and `anchorPosition.left` controls.

Perhaps https://github.com/mui-org/material-ui/issues/17101 did not actually fix the bug.

- [ ] The issue is present in the latest release. **??? I'm not sure what release is used on the live website.**
- [x] I have searched the [issues](https://

[2020-03-19 01:01] oliviertassinari commented on #20153
@Ghost180195 Thanks for raising this issue. At first glance, it seems that we will need to update the style of the component:

<img width="350" alt="Capture d’écran 2020-03-19 à 01 55 46" src="https://user-images.githubusercontent.com/3165635/77020674-d9450480-6984-11ea-88d0-cf967f6b88c4.png">
https://material.io/components/sliders/#anatomy

<img width="330" alt="Capture d’écran 2020-03-19 à 0

[2020-03-19 01:06] #20083 closed

[2020-03-19 01:30] m4theushw commented on #20068
@diimii When the options are filtered on the server you should disable the built-in filtering of Autocomplete. Pass an identity function to `filterOptions` prop, like below:

[code]

The [Google Maps demo](https://material-ui.com/components/autocomplete/#google-maps-place) implements an async call.

[2020-03-19 05:33] nazrulcsebd commented on #1911
This works for me with the version  `"@material-ui/core": "4.9.0"`

    <TableContainer className={classes.container}>
              <Table className={classes.table} stickyHeader size="small">
                <TableHead>
                  <TableRow>
                    <TableCell width="30%">User Name</TableCell>
                    <TableCell width="20%">Designation</TableCell>

[2020-03-19 07:12] prabhu8511 opened #20176 "Drawer not getting closed"
How to close Drawer with type  'permanent',  after selecting an item from the drawer menu the mobile screen.

 onItemClickHandler (event) {
    this.setState({ drawerStatus: false })
}

 render () {
    var drawerItems = (
      <MenuList className={this.props.classes.mainMenuList}>
        {routes.map((prop, key) => {
          return (
            <Link to={prop.path} key={key} className={this.p

[2020-03-19 07:33] rassie commented on #20137
I've stumbled upon this too, even though my use case is probably a bit different.

I want to enable user to change a setting quickly from predefined options. If the user were to use a keyboard, he'd focus the input field, type something in, select an option with arrows and confirm with return. Now the value of the selected entry is in the text input field and the cursor is positioned behind the te

[2020-03-19 10:40] vince1995 commented on #20137
Because we expect that if a value is selected the user finished his input. It would be confusing if the input is still focused after the selection.

 And it's consistent to mobile device logic.

[2020-03-19 10:53] oliviertassinari commented on #20137
Ok, thanks for these insights. I think that we can move forward with consistency. @vince1995 Do you want to work on a pull request? :)

[code]

[2020-03-19 11:03] oliviertassinari commented on #20175
@adamdicarlo Thanks for reporting this problem. It's my fault, I was too eager in my changes in #20111. I would propose the following patch: do you want to work on it? :)

[code]

[2020-03-19 11:30] guicostaarantes commented on #19953
@tonyhallett can you please specify how exactly you imported TreeViewContext in your workaround?

Also thanks for the commit, it'll be much more elegant to solve it by adding the iconClickExpandOnly prop to TreeView.

[2020-03-19 11:44] tonyhallett commented on #19953
`const TreeViewContext = require('@material-ui/lab/esm/TreeView/TreeViewContext');`

Also as [mentioned](https://github.com/mui-org/material-ui/pull/20087#pullrequestreview-374568279) you can use expanded and onNodeToggle and check that event similarly to how I did in the pull request instead of using the private TreeViewContext.
https://github.com/mui-org/material-ui/blob/176bf440590df95cccae4676

[2020-03-19 13:16] sebastian-ludwig commented on #20083
You're absolutely right, it works correctly for desktop and mobile. It was  a problem with my custom device, that has a Touch-Interface, but handles Events in a desktop way (especially mousedown). My solution was using a Controlled Open Select.

[2020-03-19 13:20] oliviertassinari commented on #20083
@sebastian-ludwig Awesome, we are happy to hear it :)

[2020-03-19 13:25] levrik opened #20180 "Can't augment common colors of theme palette anymore"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I couldn't find a way to augment the `common` key of a `Palette` anymore.

## Expected Behavior 🤔

That it is possible like before.

## Steps to Reproduce 🕹

Material-UI 4.9.5: https:

[2020-03-19 13:30] oliviertassinari commented on #20180
Note that `import createPalette from "@material-ui/core/styles/createPalette";` isn't a legit import, this module is private.

[2020-03-19 13:31] oliviertassinari commented on #20180
@levrik From what I understand, we can close this issue, the augmentation should happen at the theme level, not the color one.

[2020-03-19 13:31] levrik commented on #20145
Adding `fullWidth` to the `Autocomplete` component sounds like a good idea as long as that wrapper div has to be kept.

[2020-03-19 13:35] levrik commented on #20180
@oliviertassinari For some reason I got a `createPalette` is not a function error when I did
[code]

[2020-03-19 13:35] jakeleventhal opened #20181 "Missing release notes for 4.9.7"
The release notes for 4.9.7 are missing

[2020-03-19 13:36] levrik commented on #20180
@oliviertassinari No. Not really. As explained in my description the augmentation from the `Theme`/`Palette` level doesn't work.

[2020-03-19 13:37] oliviertassinari commented on #20181
Nothing to report, a minor bug fix

[2020-03-19 13:37] #20181 closed

[2020-03-19 13:38] oliviertassinari commented on #20180
`createPalette` is private

[2020-03-19 13:39] levrik commented on #19427
@oliviertassinari I'll try to work on this the coming weekend.

[2020-03-19 13:39] eps1lon commented on #20180
You can't augment `core/colors` anyway. If you patch your local node_modules/ then you're on your own.

Maybe you tried to augment colors the Theme? https://material-ui.com/guides/typescript/#customization-of-theme should help you achieve that.

[2020-03-19 13:40] eps1lon commented on #20181
This should be included anyway. There's no "minor" bug fix.

[2020-03-19 13:40] levrik commented on #20180
@oliviertassinari That's interesting. Because TypeScript didn't complain about the import of `createPalette` from `@material-ui/core/styles`.

[2020-03-19 13:42] levrik commented on #20180
@eps1lon Yep. We've started on this guide but thought that a common `blue` color used throughout our application makes the most sense inside the `common` key of the `palette`. If I remember correctly for example `Box` can only use colors from the `palette` as `bgcolor`, not from the theme directly. It was a requirement for us to be able to use this common color for `Box`es.

[2020-03-19 13:47] oliviertassinari commented on #20181
I have added a git tag

[2020-03-19 13:59] R4DIC4L opened #20182 "[styles][makeStyles] Uncaught TypeError: Cannot read property 'refs' of undefined in detach function"
When using makeStyles hook on the start-up page (e.g.: Login) of a React application, the page doesn't load sometimes in development mode and below error is encountered.

    at detach (eval at <anonymous> (VM17 bundle.js:4698), <anonymous>:176:5)
    at eval (eval at <anonymous> (VM17 bundle.js:4698), <anonymous>:262:9)
    at eval (eval at <anonymous> (VM17 bundle.js:4698), <anonymous>:218:9)

[2020-03-19 14:01] oliviertassinari commented on #20182
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-19 14:04] ottogutierrez opened #20183 "Drawer doesn't close when callback is used with other functions"
Normally, when using the drawer, there is a callback that is passed as prop to the presenting view. Following the Material-UI example about the Drawer, when the container div is clicked (in the presenting component), the method (callback) is called from the "onClick" method.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui

[2020-03-19 14:07] aress31 opened #20184 "[Animation/useScrollTrigger] Animation triggered by scrolling to predefined Component"
I did not find a way to "bind" the `useScrollTrigger` function to a specific `Component` or section/area of a page other than the `window` itself.

Here is the relevant code:
[code]

When passing a `Node` or reference to a `Node` a crash occurs. The documentation is unclear about how to use the `useScrollTrigger` function for things other than interactions with an `AppBar`.

- [x] I have searched

[2020-03-19 14:07] eps1lon commented on #20180
You should only augment what you actually change. In your case you told typescript that you somehow change `import { common } from '@material-ui/core/colors'`. You probably didn't use this in your codebase to begin with which made the type change harmless. It's nevertheless unsound if you don't actually patch the runtime.

Augmenting the theme is less harmful since we assume that you change the co

[2020-03-19 14:15] effortlesscoding commented on #14357
I can get a pretty output if I use react-test-renderer:

import React from 'react';
import {create} from 'react-test-renderer';

const TestComponent = () => (
  <div className={{ root: { backgroundColor: 'red'}}}>
    <p className={{ test: 123 }} style={{ background: 'yellow'}}>Adsfds</p>
  </div>
);

test('renders learn react link', () => {
  const wrapper = create(<TestComponent />);
  expect(wr

[2020-03-19 14:18] R4DIC4L commented on #20182
I have sent a PR for this issue at https://github.com/mui-org/material-ui/pull/20185

[2020-03-19 14:40] levrik commented on #20180
@eps1lon Please take a look at the first Codesandbox I've posted.
That's basically exactly what we're doing. We've passed a custom `palette`. So we augmented what we've changed. Without the augmentation our code is broken.
Whatever. Could you suggest an alternative? As I said it seems like the `Box` component is reading from the palette. We want to provide a custom color through the theme to be us

[2020-03-19 14:49] eps1lon commented on #20180
No, you changed `colors/common` which is also used by the theme when you only actually augmented the theme.

The guide I linked exactly described this. If you have further question then stackoverflow is the better place for these kind of issues.

[2020-03-19 14:51] eps1lon commented on #20145
I wouldn't touch anything combobox related right now without actually verifying it with assistive technology. If I remember correctly then ARIA 1.2 and 1.3 will have an updated version of the combobox pattern.

[2020-03-19 14:56] knitesh commented on #17370
@oliviertassinari does moving to styled-components has been finalized ?

[2020-03-19 15:08] levrik commented on #20180
@eps1lon No. The guide doesn't answer the question about the `Box` component.
So. How can I change the `palette` of a theme? Is this an unsupported thing? Because it works. But I can't make it work with TypeScript. This is basically what this issue is about.
With augmentation I can't change the type of a property of `Theme`. I can't augment the `palette` key. Augmentation works for adding fields o

[2020-03-19 15:11] angeloron opened #20186 "Button contained style not working with Transition"
- [X] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When having a `Button` with a "contained" variant in a `Transition` (`Slide`, `Grow` or `Fade`) the `Button`'s variant is no longer recognized.

## Expected Behavior 🤔
The `Button` sh

[2020-03-19 15:18] #20186 closed

[2020-03-19 15:33] oliviertassinari commented on #20180
While the generic approach is documented in https://material-ui.com/guides/typescript/#customization-of-theme, I have tried to update your codesandbox with no luck. I don't know how to process, but I believe it's possible. Maybe it would be great to have a demo for it?

@levrik Great catch, it sounds like we should keep the types in sync with the implementation. I believe this diff would do it :).

[2020-03-19 16:07] #20183 closed

[2020-03-19 16:08] #20184 closed

[2020-03-19 16:09] oliviertassinari commented on #20184
tip: target expects a DOM node.

[2020-03-19 16:12] aress31 commented on #20184
@oliviertassinari I would suggest adding an example on the Doc, to illustrate how to implement this.

[2020-03-19 16:17] oliviertassinari commented on #20173
@shware100 Yeah, this sounds much better. The problem in your example is that React forward the events following the React tree, not the DOM tree, your tab is intercepted by the Menu, it's a close signal.

[2020-03-19 16:17] #20173 closed

[2020-03-19 16:23] oliviertassinari commented on #12749
@jonesmac You might prefer the native select implementation of the component.

[2020-03-19 16:29] dominictwlee opened #20188 "[Switch] Accept children for track"
## Summary 💡
Switch should accept a prop/children so that additional customization can be passed to the Switch, namely adding labels/text within the Switch track.

## Examples 🌈
Something like this would be nice. I don't believe this is possible currently as the switch track span does not accept any children.

![image](https://user-images.githubusercontent.com/34794189/77089934-624c5200-69fe-11ea-

[2020-03-19 16:42] jonesmac commented on #12749
I have no choice if I want to use this library and standard html5 validation from what I’m seeing. Also, not really what I asked. I’m curious if the decision for type=hidden is really the best?  The same effect of a hidden input can be done with CSS and could benefit from html5 validation. Again, is there an advantage for type hidden vs hiding via css?

[2020-03-19 16:42] cmdcolin commented on #14357
@effortlesscoding your example doesn't include withStyles though? that is the main cause of the issue here

[2020-03-19 16:45] kkurze-sp opened #20189 "[Autocomplete] Search text removed on Tab change"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When an you type a text for search in Autocomplete (no selection made) and I switch tabs, the text is removed when I come back

## Expected Behavior 🤔

The state of the UI is the same

[2020-03-19 17:44] oliviertassinari commented on #12749
@jonesmac Did you try html form validation with an hidden input? Does it work? As far as I know, it doesn't.

[2020-03-19 17:47] oliviertassinari commented on #20189
It's the expect behavior on blur.

[2020-03-19 17:47] #20189 closed

[2020-03-19 18:20] #19983 closed

[2020-03-19 18:31] oliviertassinari commented on #19842
Interesting, this sounds like another limitation of #18810.

[2020-03-19 18:43] oliviertassinari commented on #18810
It seems that #18854 has introduced a couple of issues:

- Types force multiple to be set #19354
- Decoration with 'withStyles' fails #19842
- Wrong T inference #19484

[2020-03-19 18:58] oliviertassinari commented on #20136
Definitely, it will be clearer with something like this:

[code]

[2020-03-19 19:00] oliviertassinari commented on #19883
@ShehryarShoukat96 Sure :)

[2020-03-19 19:03] oliviertassinari commented on #20063
@jharper93 You might want to follow #20153, we discuss the same use case. In its current form, too much work is required to custom the label. I have proposed a simple patch, waiting for a larger effort.

[2020-03-19 20:19] oliviertassinari commented on #20023
@simoami Your proposal sounds great, I would propose the following diff:

[code]

The update of the demo can servers as a visual regression test. Do you want to send a pull request?
Regarding the motivation for these styles in the first place, well, if nothing visuall changes after removing them, I believe it's safe to ignore :).

[2020-03-19 22:16] riceboyler opened #20191 "[Slider] onChange Typing is broken if wrapping Slider Component and reexporting Props"
Since @material-ui/core v4.9.5, the Slider component appears to not be wrappable due to the change in the Typings, especially for the onChange prop.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When attempting to wrap and re-exp

[2020-03-19 23:01] oliviertassinari commented on #20191
@riceboyler The change you are referring to is #20110. I can reproduce the issue.

[2020-03-19 23:06] jonesmac commented on #12749
type=hidden inputs bypass native HTML 5 validation. Hence I landed here and asked if there was a reason type=hidden was necessary.

[code]

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/hidden

[2020-03-19 23:21] oliviertassinari commented on #20191
Same problem if we set `defaultValue`.

[2020-03-19 23:35] Mykasoda commented on #11900
This also confused me. I just re-started the development server "npm start" in most create-react apps and then it worked.

[2020-03-19 23:47] oliviertassinari commented on #20191
@eps1lon They are two patches that come to mind:

1.
[code]

2.
[code]

2. Seems more appropriate, I would expect the Material-UI components to only apply props compatible with native elements.

[2020-03-20 00:31] oliviertassinari commented on #19536
@theGirrafish Thanks for the effort in #20110, we are getting closer to full coverage of the `OverridableComponent` types.

[2020-03-20 00:34] NMinhNguyen opened #20192 "Expose `data-mui-test` when `process.env.NODE_ENV === 'test'`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Only strip `data-mui-test` if `process.env.NODE_ENV !== 'test'`, perhaps something like

[code]

## Examples 🌈

## Motivation 🔦

I understand that we don't want to have `data-mui-test` in our bundles. However, in some cases, it's the only "pu

[2020-03-20 00:34] oliviertassinari commented on #19536
However, the last time I have checked, the approach isn't compatible with hosting the prop's description in TypeScript not with the `XComponent` & `XProps` props, I'm not sure it scales very well.

[2020-03-20 00:36] oliviertassinari commented on #20192
v5 will have fully public class names so I don't think that it's needed.

[2020-03-20 00:38] #20192 closed

[2020-03-20 01:34] maulerjan commented on #17142
So is there any solution?

[2020-03-20 01:45] hawky93 opened #20193 "[Pagination] Missing RTL support"
I am currently using the material ui pagination and after passing the rtl option they appear as so
<img width="208" alt="Screen Shot 2020-03-20 at 7 12 25 AM" src="https://user-images.githubusercontent.com/9379960/77129549-6cac3180-6a7a-11ea-9c80-90d20a321f03.png">

The order is correct but the arrowheads are facing the wrong way.

[2020-03-20 02:58] manferlo81 commented on #19679
Hi @mikebarkmin, I did manage to fix it. As @oliviertassinari said I just needed to read the documentation, everything is there, check the "Server Side Rendering" section on Material UI documentation.

[2020-03-20 04:36] webextensions commented on #7994
Note: The current fix (`transform: translateZ(0)`) can cause issues in Firefox if you have some modal on top of the page (eg: Lightbox modal via `react-image-lightbox`)

[2020-03-20 07:07] mikebarkmin commented on #19679
I have read the SSR stuff. I also followed the reference implementation for next.js. But this behavior still exists. Can you explain what do you changed?

_app.js: https://gitlab.com/openpatch/web-frontend/-/blob/master/pages/_app.js
_document.js: https://gitlab.com/openpatch/web-frontend/-/blob/master/pages/_document.js

[2020-03-20 08:32] manferlo81 commented on #19679
@mikebarkmin in a quick inspection to your code, it looks good to me, I am not sure what is causing the problem. I have a couple things written in a different way but I dont think it makes any difference. Maybe you should try cloning the example and from there test to see a what point it breaks, to figure out what is causing the issue.

[2020-03-20 09:06] eps1lon commented on #20193
@hawky93  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-03-20 09:16] eps1lon commented on #20191
This is another reason why polymorphic components are so hard to reason about.

Imagine your `MaterialUIComponent` implements `variant` expecting a string. Now you pass in your `CustomComponent` that implements `variant` expecting a number like so `<MaterialUIComponent component={CustomComponent} />`.

What would be the correct type of `variant`? Does `MaterialUIComponent` only handle string `vari

[2020-03-20 10:37] smajl commented on #18671
Can someone please give me clear instructions on how to enable autoprefixing for the grid attributes? Because it does not seem to work at all. The second example from @oliviertassinari generates nothing.

I was hoping that running your npm script with `cross-env AUTOPREFIXER_GRID=autoplace ...` would enable grid support but again.. nothing. I'm running latest `"@material-ui/core": "^4.9.7"`

@nino

[2020-03-20 10:41] oliviertassinari commented on #20193
@hawky93 Thanks for the report. Regarding the reproduction, the steps are 1. navigate to https://material-ui.com/components/pagination/, 2. trigger RTL.
What do you think of the following patch? Do you want to work on a pull request? :)

[code]

[2020-03-20 11:48] oliviertassinari commented on #20191
@eps1lon Definitely a hard problem 🤯, here is how far I went with the reflection:

- The primary use case for using OverridableComponent component seems to be about support **new** props, available on `CustomComponent` but not on `MaterialUIComponent`. Correct me if I'm wrong.
- We can assume that if a prop isn't available on `MaterialUIComponent`, it will be forwarded to `CustomComponent` as is.

[2020-03-20 12:00] maciej-gurban commented on #20168
Looks like the release is there but cannot be installed from yarn/npm yet?

[2020-03-20 12:05] LucianHij commented on #10051
When will be this implemented? It will be very helpful if we could specify for the `Collapse` element an `in` and `out` direction `left right top bottom`.

[2020-03-20 13:12] shware100 commented on #20173
And there it is, from Menu.js:

[code]

Thank you very much for circling back.

[2020-03-20 13:18] dimitropoulos commented on #19744
I think I must not have well communicated the value of the component if you don't want the colors and you don't want it to always be visible (when wanted, of course) when not resizing.

I'm happy to implement it however you wish, but I think the next step is to just make a demo of it on the docs page.

This isn't the kind of component that you will have on all the time or anything like that.  It r

[2020-03-20 13:57] oliviertassinari commented on #19744
@dimitropoulos I think that we can take a step back and wait for more feedback from users. In this context, I would propose that we link the component in https://material-ui.com/discover-more/related-projects/#components under a new DX category. We monitory the adoption of the package.

[2020-03-20 14:24] eps1lon commented on #20191
Which means unsound types in your custom component. If you expect a non-nullable `variant` of type `number` then you either (depending on the implementation): will always see `undefined` when you expect a number or see `string` when you expect a number.

So we definitely should have this test in place. The custom component has to expect the same type or none at all.

For the Slider  case we simply

[2020-03-20 14:35] riceboyler commented on #20191
We actually have this exact same issue with the Slider as well. Previously, the `orientation` and `track` props were set as strings in our local wrapper, but with the changes in #20110 we had to set them to explicitly match the props in the MaterialUI Slider Props.

Honestly, I'm glad that it was reproducible and I'm not crazy. I guess most people who use the library don't wrap the components, but

[2020-03-20 14:40] aress31 opened #20196 "[Divider] maxWidth='xs|sm|md|lg|xl' support"
Would be nice to implement support for the `maxWidth` property for the `Divider` component.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
There are a few workarounds like wrapping the `Divider` with a `Container` or `Box` component but this approach adds a lot of unnecessary lines of cod

[2020-03-20 15:02] #20196 closed

[2020-03-20 15:17] oliviertassinari commented on #20191
@eps1lon It's somewhat a large issue. it impacts:

- Slider: onChange, defaultValue
- BottomNavigation: onChange
- CardHeader: title

@riceboyler Do you have an example we can look at?

[2020-03-20 15:19] riceboyler commented on #20191
I'm glad you asked. In looking back through our code, I realized that the problem was we weren't properly instantiating our `useState` calls, so the typing was off. Never mind this second one.

The first issue with the SliderProps still applies though.

[2020-03-20 15:26] CarlosGines commented on #15726
Hey! I just found this thread. I am still reproducing this issue on `react@16.13.0`, so I guess it did not go way?

[2020-03-20 15:39] oliviertassinari commented on #19673
I have looked at bit at the issue, I couldn't find any simple solution. I suspect it's not worth investing time on.

[2020-03-20 15:51] dotmaike commented on #1824
https://material.io/components/snackbars/#usage

[2020-03-20 16:05] #20058 closed

[2020-03-20 16:18] oliviertassinari commented on #19982
@danawoodman What makes monospaced font different?

[2020-03-20 16:23] R-Oscar commented on #10098
@oliviertassinari is there any way to use single theme provider? I would like to have [determenistic classnames ](https://material-ui.com/styles/advanced/#with-material-ui-core)

[2020-03-20 16:24] oliviertassinari commented on #8498
@klauszhang As we are speaking the only way to avoid this issue is to create a wrapper component and not to spread the variant if out of the built-in supported range. However, #15573 will address it.

[2020-03-20 16:25] oliviertassinari commented on #8498
Duplicate of #15573

[2020-03-20 16:26] oliviertassinari commented on #10098
@R-Oscar the class names of styled-components aren't deterministic, there is no way to make them so.

[2020-03-20 16:30] oliviertassinari commented on #17799
@Ognian We don't plan to support it

[2020-03-20 16:33] R-Oscar commented on #10098
@oliviertassinari I mean classes of @material-ui/core (such as `MuiSvgIcon-root`). According to the spec there should be only one theme provider in order to achieve that, but I would like to keep styled components in my project

[2020-03-20 16:46] oliviertassinari commented on #10098
https://github.com/mui-org/material-ui/issues/10098#issuecomment-574162533 will do the task.

[2020-03-20 16:49] seare-kidane opened #20197 "[ClickAwayListener] failed to rasing onClickAway if you have an element that is removed from DOM when clicked"
If you have a React component/html element that's going to be hidden when clicked, the `ClickAwayListener` will fail to trigger the `onClickAway` due to the following condition

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behaviour

[2020-03-20 16:54] oliviertassinari commented on #20008
@alexstep-dev Any idea what could cause this?

[2020-03-20 17:20] danawoodman commented on #19982
Material UI has styling for monospace fonts but no way to change the font family from what I can tell

[2020-03-20 17:23] srghma commented on #19512
Yes, other components are affected too

e.g. this is not possible
[code]

but this is

[code]

thus it makes sense to fix `OverrideProps`

[2020-03-20 18:13] #19982 closed

[2020-03-20 18:17] oliviertassinari commented on #19982
Might help https://github.com/mui-org/material-ui/issues/14264

[2020-03-20 18:20] Ognian commented on #17799
@oliviertassinari what is the downside on the proposed fix? Why don't you just change the default style?

[2020-03-20 18:46] zeckdude commented on #8498
@oliviertassinari Can you provide me an example of the wrapper component you are referring to? I’m unsure how to implement that.

Also, any idea when that fix will be in? Is it in development?

[2020-03-20 21:58] oliviertassinari commented on #8498
@zeckdude https://github.com/mui-org/material-ui/issues/8498#issuecomment-333455132

[2020-03-20 22:01] oliviertassinari commented on #17799
@Ognian the interactive area would no longer be correct

[2020-03-20 22:31] oliviertassinari commented on #20197
@seare-kidane The logic originates from #463. I think that we should close this issue as "won't fix". The dismiss event on click behavior, if we allow it, will be much worse inside the click away container. We can find the same strategy in https://github.com/Pomax/react-onclickoutside/pull/68. What do you think about the following resolution? Do you want to submit a pull request? :)

[code]

[2020-03-20 22:40] #20008 closed

[2020-03-20 23:16] oliviertassinari commented on #19512
When diving in #20191, I was wondering if developers building on top of the `xxxProps` wouldn't face this problem, it seems that they do.

[2020-03-21 02:47] igorbrasileiro commented on #20145
First of all, I'm new here. I hope can help the material-ui community

@Cristy94 and @oliviertassinari I tried to remove this extra div and the behavior still the same seemingly, I did a few tests.

Someone who has a good background about Material-UI, why need this extra div, have something special that I'm not seeing?

[2020-03-21 08:33] ro7584 opened #20201 "docs:start is equivalent to docs:icons"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`docs:start` does the same as `docs:icons`.

https://github.com/mui-org/material-ui/blob/master/package.json#L18

## Expected Behavior 🤔
According to b6182ce67251bc965319ab8e48d2d2cf5

[2020-03-21 11:16] oliviertassinari commented on #19980
I had a closer look at the answer to this problem provided by the popular forms integration in React out of formik, final-form and react-hook-form, I could only find https://github.com/jaredpalmer/formik/issues/219 that surface the problem. So it seems that it's rare to leverage the built-in form validation in React.

It's to be noted that we could consider handling the `:invalid` pseudo-classe li

[2020-03-21 11:16] #19980 closed

[2020-03-21 11:31] oliviertassinari commented on #20145
@igorbrasileiro https://github.com/mui-org/material-ui/issues/20145#issuecomment-600926581

[2020-03-21 13:53] tonyhallett opened #20204 "[TreeView] Cannot be controlled soley by keyboard after tabbable item removal"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

You cannot tab to any of the items in the tree view

## Expected Behavior 🤔

I should be able to use my keyboard

## Steps to Reproduce 🕹

https://codesandbox.io/s/jovial-hoover-59x0w

[2020-03-21 14:16] eps1lon commented on #20204
Can't reproduce. After I refocus the tree I can navigate just like before.

We should not capture focus if an item is removed. This is not any focusable widget works on the web. If you remove a child than it is simply blurred. Focus should not be moved if a child is removed since we can't know what the expected behavior should be. You could implement this in userland though.

[2020-03-21 14:35] tonyhallett commented on #20204
How are you refocusing the tree ?

[2020-03-21 14:38] tonyhallett commented on #20204
I assume with a click.  Shouldn't I be able to refocus with the keyboard ?

[2020-03-21 15:43] netochaves commented on #19137
Working on this issue.

[2020-03-21 18:23] Michal-Sh commented on #19673
@oliviertassinari
Thanks for your response and efforts.
Do you want me to create a demo of the second example?

[2020-03-21 18:28] tonyhallett commented on #20204
After the item is removed none of the remaining items have tabindex=0 and so cannot be focused by using the keyboard.  This has nothing to do with the control changing focus but that it cannot be focused without performing a click.

[2020-03-21 18:50] oliviertassinari commented on #19673
@Michal-Sh Is the root of the second example different?

[2020-03-21 19:12] hburrows opened #20208 "Typescript declaration merging (module augmentation) broken with colors/common/CommonColors"
Now that CommonColors has changed from an exported Typescript `interface` to a non-exported `type` defined using `Record<...>` I can't figure out how to augment it with my own common colors and still make Typescript happy.  Before merging #20079 (Display color preview in IntelliSense) this was straightforward with Typescript's declaration merging/module augmentation.  Is this an oversight or shoul

[2020-03-21 19:36] oliviertassinari commented on #20208
Duplicate of #20180

[2020-03-21 19:36] #20208 closed

[2020-03-21 19:56] oliviertassinari commented on #19137
@mzbyszynski Would the following solve your problem? https://deploy-preview-20209--material-ui.netlify.com/components/autocomplete/#multiple-values

[2020-03-21 19:56] #20201 closed

[2020-03-21 21:44] hburrows commented on #20180
@eps1lon I'm a little confused by what you're proposing the solution to this problem is.  Are you saying we should just add a new property to `Palette` (for example, `my_common`)?  As @levrik is saying, the way `CommonColors` is now defined you can't augment the `common` property of `Palette` -- it's private and it's defined as a `type` equal to `Record<...>` and you can't change the type via augm

[2020-03-21 21:49] oliviertassinari commented on #20180
@hburrows This ⤴️

[2020-03-21 22:01] hburrows commented on #20180
@oliviertassinari That makes sense.  Unless I'm missing something obvious that means there is no way to add additional colors to `Palette.common`.  However, if that is possible, can you please share an example because it's lost on me.  I'm OK adding a sibling to  `Palette.common` (i.e. `Palette.app_common`) to hold my app's common colors, but I just don't want to do that if I'm not understanding t

[2020-03-21 23:23] eps1lon commented on #20180
I was under the impression you could just add deep properties with module augmentation but seems like I misunderstood something. We'll add the ability to augment this.

Quite unfortunate that this just happened to work by augmenting `colors/common`. Sorry for the trouble.

[2020-03-22 01:49] igorbrasileiro commented on #20084
@belgamo if you go to this [slide example]( https://material-ui.com/components/transitions/#slide) at Material-UI doc and remove
`direction="up"`, Typescript will throw an error. look here at [codesandbox](https://codesandbox.io/s/floral-sky-zswd1)

What @oliviertassinari said solves the problem.

[2020-03-22 02:03] igorbrasileiro commented on #20068
@oliviertassinari Can I submit this pull request if @diimii doesn't want to?

[2020-03-22 02:43] igorbrasileiro commented on #18514
@oliviertassinari  Can I take this issue?

[2020-03-22 09:11] HenryLie commented on #20193
I would like to take on this issue as my first contribution 😄

[2020-03-22 09:14] oliviertassinari commented on #18514
@igorbrasileiro Sure :)

[2020-03-22 09:15] oliviertassinari commented on #20068
@igorbrasileiro Definitely :)

[2020-03-22 09:51] alakdam07 opened #20231 "Material-UI list grid showing repetitive API data"
I am using React App. For styling, I am using the Material-UI library.

I fetched data from one open API and pass the data in the child component and render it to the child component. I used the Material-UI grid and want to show three card columns in one row.

My app works fine but it shows the same data three times.

`function HeroCard({ districts, source, date }) {
  const [spacing, setSpacing]

[2020-03-22 11:25] eps1lon commented on #20099
"incorrect aria-selected for single select" was fixed in #20102

[2020-03-22 13:33] meetmangukiya opened #20234 "Default active tab's indicator doesn't show up in nested Tabs"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/7620533/77250607-24a23000-6c6f-11ea-914b-c142474434c8.png)

## Expected Behavior 🤔

![image](https://user-images.githubusercontent.c

[2020-03-22 14:57] in4system commented on #18781
Put the error value into renderInput={params => <TextField {...params} error />

[2020-03-22 17:14] nainardev opened #20239 "Dark Mode not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I have a project where setting dark theme just sets Secondary text to white

## Expected Behavior 🤔
Dark theme in whole app

## Steps to Reproduce 🕹
Repo: https://GitHub.com/nainardev/

[2020-03-22 17:16] #20239 closed

[2020-03-22 18:06] NelsonZeng25 commented on #16341
Top voted answer for this question fixed it for me.
[https://stackoverflow.com/questions/56897838/getting-a-error-typeerror-color-charat-is-not-a-function-in-c-node-modul](https://stackoverflow.com/questions/56897838/getting-a-error-typeerror-color-charat-is-not-a-function-in-c-node-modul)

[2020-03-22 20:13] #20234 closed

[2020-03-22 20:13] oliviertassinari commented on #20234
tip: force a render when the new tab is active

[2020-03-22 20:53] thiagosantos346 opened #20241 "When i chante to more than 201 value, return a error."
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.?.?

[2020-03-22 22:17] oliversaternus opened #20242 "TypeScript declaration file of MuiThemeProvider is missing"
- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

My build fails because of a missing declaration file in @material-ui/core/styles.
The MuiThemeProvider.js file is present, but the MuiThemeProvider.d.ts file that was there in older

[2020-03-22 22:30] oliviertassinari commented on #20242
This module is no longer encouraged, use `ThemeProvider` instead.

[2020-03-22 22:30] #20242 closed

[2020-03-22 23:00] oliviertassinari opened #20243 "[TreeView] Trigger focus on Ctrl + C / V"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The active focus on a tree view shifts when pressing <kbd>Ctrl</kbd>+<kbd>C</kbd>.

## Expected Behavior 🤔

The active focus is left unchanged. Same as https://www.w3.org/TR/wai-aria-

[2020-03-23 00:38] igorbrasileiro commented on #20243
I was reproducing the bug above and I think I found another.

## Steps to Reproduce 🕹
Steps:
1. Load [basic-tree-view](https://material-ui.com/components/tree-view/#basic-tree-view)
2. Open "Application"
3. Ctrl + C - will focus `Calendar`
4. Ctrl + C - will focus `Chrome`
5. Ctrl + C - will focus `Calendar`

Steps `3`, `4`, `5` will loop if press `Ctrl + C`multiple times

[2020-03-23 08:16] #19137 closed

[2020-03-23 08:39] mr-bjerre opened #20244 "[Autocomplete]: Support overflow ellipsis by default"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

It would be nice if ellipsis was added if `maxWidth` and `maxLines` are set in `Autocomplete` and there is overflow.

## Examples 🌈

[code]

## Motivation 🔦

I use `Autocomplete` for a lot of multiple select. Often I create quite extensive li

[2020-03-23 08:43] oliviertassinari commented on #20244
Duplicate of #19137

[2020-03-23 08:43] #20244 closed

[2020-03-23 09:02] devhyunjae opened #20245 "[Tooltip] disableTouchListener not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

demo:
![160](https://user-images.githubusercontent.com/12890257/77299610-1700af00-6d30-11ea-97d9-4ff25709195a.gif)

## Expected Behavior 🤔

given: Tooltip comp with disableTouchListen

[2020-03-23 09:05] oliviertassinari commented on #20245
tip: the focus event.

[2020-03-23 09:26] #20077 closed

[2020-03-23 10:03] SweVictor commented on #17754
Did you arrive at any "best practice" regarding this? Also - the SVG icon use case (FontAwesome) is highly interesting to us as well:

[code]

[2020-03-23 10:55] oliviertassinari commented on #20245
@devhyunjae Thanks for the bug report. I can reproduce the problem. What do you think of this patch?

[code]

Do you want to submit a pull request? We would also need a new test case :).

[2020-03-23 10:59] meln1337 opened #20246 "When height of popper is higher than 100% it doesn't attach to element"
When height of popper is higher than 100% it doesn't attach to element and just attaches to top of page. How I can change the behavior?

[2020-03-23 11:02] #20246 closed

[2020-03-23 11:04] oliviertassinari commented on #20246
tip, check the options in https://popper.js.org/docs/v1/.

[2020-03-23 11:12] bjunix commented on #19279
The workarounds in #14375 generally fix the issues with MUI snapshot testing. But this single issue still stands and I can't find a workaround to make PrivateSwitchBase work in snapshot tests reliably. Any ideas?

[2020-03-23 12:31] #18514 closed

[2020-03-23 13:49] zekehernandez commented on #20067
Oliver, looks great! I just confirmed real quick that the other Inputs didn't have the same issue. They don't. I'll submit a PR as soon as I can.

[2020-03-23 13:50] mzbyszynski commented on #19137
@oliviertassinari Yes limit tags as a great solution!
https://deploy-preview-20209--material-ui.netlify.com/components/autocomplete/#limit-tags

[2020-03-23 13:51] oda opened #20248 "[Autocomplete] Autocomplete freezes due to forcing reflow"
Hi, thanks for the great library.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On a slightly big web page (roughly 1Mbyte), if you add an Autocomplete box and you type characters (~ 10 keys/s), the characters do not appear for

[2020-03-23 14:02] OriginLive opened #20249 "[Text Field] Text overflows textfield compounds"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

With a long label, the text field overflows out of the bounds.
Also for some reason the theme provider is overriding the label even though there's no theme parent.

## Expected Behavi

[2020-03-23 14:26] oliviertassinari commented on #20248
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-23 14:31] oliviertassinari commented on #20249
Duplicate of #12255

[2020-03-23 14:31] #20249 closed

[2020-03-23 14:57] TomekStaszkiewicz opened #20250 "[Transition] Add 'parent/anchor' prop to Slide component."
It would be useful to be able to provide optional _parent_ prop, which default would be equal to window. It is easy to implement(we did it ourselves in our company) and it increases the functionality at the same time!

- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

1. The Slide component

[2020-03-23 15:05] oliviertassinari commented on #20250
@TomekStaszkiewicz Did you try it, I think that it would be interesting to share the code and outcome :)

[2020-03-23 15:13] Chaysen opened #20251 "Add InputProps `min`, `max` and `pattern` to `<TextField />` for `type="number"`"
Hi,

## Summary 💡
I get TS errors when using the `<TextField />` component when  adding InputProps `min`, `max` and `pattern` to `<TextField />` for `type="number"` in `InputBaseProps` interface. I wan to use`type="number"` and restrict the input.

## Examples 🌈
- Restrict number values to only be positive
e.g
[code]

## Motivation 🔦
- Improve usage of `<TextField/>` Component
- Better Typing

[2020-03-23 15:25] #20251 closed

[2020-03-23 15:25] oliviertassinari commented on #20251
tip: inputProps !== InputProps.

[2020-03-23 15:49] TomekStaszkiewicz commented on #20250
Yes, I did! :) All you have to do is:
1. Add parent as prop
2. Change `getTranslateValue` function.
[code]
The only problem I can see right now is that window object does not have offsetWidth and offsetHeight properties, but I'm sure it can be solved with simple if statement. ;)

[2020-03-23 16:31] k2s commented on #19376
This worked for me:

[code]
then

[code]

[2020-03-23 16:39] tylerthehaas opened #20254 "Popper does not compile correctly when using next.js"
# Bug report

![image](https://user-images.githubusercontent.com/11150235/77339021-ccac0d80-6cf0-11ea-9761-44d856140b0f.png)

## Describe the bug

Material-UI uses popper.js for all of its popovers. When these are used inside next we are getting the above error. This seems to be an issue with how next has its compilation setup. When I do the same code in a create react app setup I do not have this

[2020-03-23 16:42] #20254 closed

[2020-03-23 16:47] tylerthehaas commented on #20254
why was this closed? It seems like this is a bug in your latest release.

[2020-03-23 16:48] oliviertassinari commented on #20254
@tylerthehaas I have tried the reproduction, it doesn't reproduce the issue. I believe you will have to find an explanation deeper in the toolchain.

[2020-03-23 16:50] tylerthehaas commented on #20254
you checked out my code and ran it and it didn't throw a runtime exception when you clicked inside the input?

[2020-03-23 17:00] oliviertassinari commented on #20012
@ValentinH I don't have the details on this question. If it doesn't, it will be a great opportunity to port these advantages back to react-jss.

@dmtrKovalenko I like the proposal. I have been wondering about going into this direction. I think that solving this problem will be very interesting, it's a complex problem with many use cases to consider and strong tradeoffs to take. In any case, I doub

[2020-03-23 17:01] oliviertassinari commented on #20254
No exceptions.

[2020-03-23 17:30] seare-kidane commented on #20197
@oliviertassinari It seems removing the `doc.documentElement.contains(event.target)` condition could cause more worse issues. But I want to dig more to understand the reported issues better.
But, for now at least, we should add it to known issues in the docs and provide a workaround.

Even though it's going to pollute the DOM, the workaround I found is to use styles prop with conditional `display`

[2020-03-23 17:32] oliviertassinari commented on #20197
@seare-kidane +1 for mentioning this limitation on top of the proposed change in https://github.com/mui-org/material-ui/issues/20197#issuecomment-601938088. Delaying the removal of the element is another viable alternative.

[2020-03-23 18:04] nainardev commented on #6115
@jedwards1211 see this
https://css2js.dotenv.dev/

[2020-03-23 18:06] #20180 closed

[2020-03-23 20:46] jedwards1211 commented on #6115
@nainardev I've noticed that and other utilities are pretty limited, they convert CSS attributes, but don't convert selectors, nested selectors, animation keyframes, media queries, etc. Because of that I made my tool very comprehensive, it can convert pretty much anything.

[2020-03-23 21:42] #20193 closed

[2020-03-23 23:00] sldrigging commented on #6722
position: 'fixed' fixes the position of the Navbar to the very top. It does not work for developers who don't not want Navbar on the very top.

Is there a way to achieve this feature in a React - App?
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky

Material-UI's 'and React-Bootsrap's position: 'sticky' does not work.

[2020-03-23 23:01] Maskey2 commented on #6722
position: 'fixed' fixes the position of the Navbar to the very top. It does not work for developers who don't not want Navbar on the very top.

Is there a way to achieve this feature in a React - App?
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky

Material-UI's 'and React-Bootsrap's position: 'sticky' does not work.

[2020-03-23 23:48] krishnaUIDev opened #20256 "Text field is accepting e alphabet if we add type = 'number'"
- [X ] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The text field is accepting e alphabet if we add type = 'number'

## Expected Behavior 🤔
Text field should not accept alphabets if we add type='number'

## Steps to Reproduce 🕹

Steps

[2020-03-24 01:58] devhyunjae commented on #20245
@oliviertassinari Nah i don't want to make more mess in here 😅Up to you mate.

[2020-03-24 03:14] sparebytes commented on #18331
I had a couple issues with @keyvman's solution

1. Blurring the autocomplete would reset the `touched` status of all other fields. I fixed it by spreading the existing `touched` fields like this: `onBlur={() => setTouched({ ...touched, [name!]: true })}`

2. This bug seems to be more a part of Material UI itself. I was using the `freeSolo` option but custom values weren't being propagated to formi

[2020-03-24 04:37] sessionboy opened #20257 ""Unexpected token export" for ssr"
I used material-ui in ssr, but an error occurred when I was running in production.
The `FormControl` component has a syntax error, which seems to be a problem during babel build,nodejs does not support `export {default} from module`.
[code]

I use [razzle](https://github.com/jaredpalmer/razzle) to build ssr application

[2020-03-24 07:39] iCoderXXI commented on #17010
Actually ref on Box is working. Just typing should be added.

[2020-03-24 07:44] nagwan commented on #18394
i am stuck in the same case,
anything new here?!

[2020-03-24 08:31] oliviertassinari commented on #20257
There is an inconsistency in your setup. You use the ESM module in an environment that doesn't support it. Change this tradeoff. Additionally, you might want to reconsider the choice of razzle https://github.com/jaredpalmer/razzle/issues/1159.

[2020-03-24 08:31] #20257 closed

[2020-03-24 08:33] oliviertassinari commented on #18394
We are waiting for a reproduction.

[2020-03-24 08:58] oliviertassinari commented on #20256
Duplicate of #10582

[2020-03-24 08:58] #20256 closed

[2020-03-24 09:08] oliviertassinari commented on #10582
The described behavior is expected, it's how it should be working per the specifications: https://stackoverflow.com/questions/31706611/why-does-the-html-input-with-type-number-allow-the-letter-e-to-be-entered-in.

[code]

If you are looking for a more strict pattern, you can approach the solution as follow:

[code]

More details in https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-sy

[2020-03-24 09:13] nagwan commented on #18394
@oliviertassinari thank u for your efforts and time,
there is not any temp. suggestions?
and when will the production build will be?
my project going live in two weeks🙃

[2020-03-24 09:14] oliviertassinari commented on #7960
A great alternative solution https://github.com/mui-org/material-ui/issues/10582#issuecomment-603118446

[2020-03-24 09:20] oliviertassinari commented on #18394
No idea

[2020-03-24 12:16] oliviertassinari commented on #20250
What does `fakeTransform` refers to? Do you want to work on a pull request? Also, it would be interesting to benchmark with these sources:

 - https://react.semantic-ui.com/modules/transition/#explorers-transition-explorer
- https://semantic-ui.com/modules/transition.html
- https://www.telerik.com/kendo-react-ui/components/animation/types/
- https://github.com/FormidableLabs/react-animations

Do y

[2020-03-24 12:30] oliviertassinari commented on #19948
I can't reproduce on

<img width="235" alt="Capture d’écran 2020-03-24 à 13 27 36" src="https://user-images.githubusercontent.com/3165635/77425582-41577880-6dd3-11ea-9ac7-1eb2393b7984.png">

Assuming the chromium base version adoption will only grow, I think that it's safe to ignore.

[2020-03-24 12:30] #19948 closed

[2020-03-24 13:32] vianneyguesdon opened #20258 "[TreeView]: New Component declination => CheckBox TreeView"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Hello team, Olivier and all core team members ! Congrats for this awesome project, I love material UI!

I've been looking for for a component behaving like this :
![demo-composant-materialui](https://user-images.githubusercontent.com/47182193

[2020-03-24 13:33] #20258 closed

[2020-03-24 13:42] HenryLie commented on #19833
I'd like to try tackling this issue, but I wonder what is the best way to do it?
Is adding `MuiSvgIcon-disabled` class to the icon and applying `.38` opacity as per the documentation enough?

[2020-03-24 14:02] vianneyguesdon opened #20259 "[TreeView]: New Component declination => CheckBox TreeView"
Hello Olivier, core team members and community ! Congrats for you work, Material UI is getting better and better everyday !

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I've been looking for a component that would behave like this :
![demo-composant-materialui](https://user-images.gith

[2020-03-24 14:49] Cristy94 commented on #19746
This worked great in development, but there's an issue: in production when you bundle and minify everything that `` is removed, as all comments are removed. What's the best way to ensure this still works in production and is not removed when minifying with terser?

[2020-03-24 15:05] oliviertassinari commented on #19746
@Cristy94 We document alternatives to the HTML comment.

[2020-03-24 15:20] Cristy94 commented on #19746
Thanks a lot! Ended up doing this:
[code]

I spent a lot of time trying to make terser (with ParcelJS) keep the HTML comments but it didn't work. This worked and it also solves the identifier name syncing issue mentioned above.

[2020-03-24 16:38] bhkj9999 commented on #20248
got this issue too, my problem even worse, I received JSON from API but nothing is shown or just the first one or first two in the array shown, try to backward to Version 4.0.0-alpha.45. It solved my problem.

I am using
`import useAutocomplete from '@material-ui/lab/useAutocomplete';`

[2020-03-24 18:04] oliviertassinari commented on #20248
@bhkj9999 Do you have a reproduction we can look at?

[2020-03-24 19:24] Lagicrus opened #20263 "[Theme] Support additional custom themes"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The ability to have more palette types.
Support tertiary colour options.
Whilst light & dark is extremely useful, I want to add an addition theme for Colour Impaired viewers. Which to my knowledge is not supported as a toggle for `palette/typ

[2020-03-24 19:27] oliviertassinari commented on #20263
@Lagicrus I couldn't agree more. I think that it would be awesome to include these themes too https://material.io/design/material-studies/about-our-material-studies.html.

[2020-03-24 21:41] #19883 closed

[2020-03-24 23:31] #16341 closed

[2020-03-25 00:56] embeddedt commented on #20245
@oliviertassinari I can make a pull request for this. I just need to figure out how to make a test.

[2020-03-25 02:13] netochaves commented on #19591
Can I work on this?

[2020-03-25 05:13] Zaynex commented on #20175
Still meet problem but not the same message.
![Kapture 2020-03-25 at 13 12 21](https://user-images.githubusercontent.com/13745971/77504105-6367fe00-6e9a-11ea-85d6-8324cc67e112.gif)

[2020-03-25 05:27] nagwan commented on #18394
okay, herein i get a temporary solution
first
[code]
and i wrapped my componets in the `<ThemeProvider>`

then there was still a problem in the legend, which i could not control via material css rules,
so i controlled via the global style in my css file
like this
[code]

hope this helps anyone

[2020-03-25 08:23] TomekStaszkiewicz commented on #20250
https://github.com/mui-org/material-ui/pull/20266
I did not change anything related to `fakeTransform` actually ;). In my pull request you can see how light the change is :)

[2020-03-25 08:41] oliviertassinari commented on #19591
@netochaves Please, do :)

[2020-03-25 09:27] sruthisripathi commented on #18251
You can use `ListboxProps` to give test id to autocomplete `listbox` and then from there you can select menuitem using `getByText`

[code]

[2020-03-25 09:54] oliviertassinari commented on #18251
You can refer to the tests of the component to learn the idiomatic way to test it: https://github.com/mui-org/material-ui/blob/32d647cbf72fb3661638d88c428ba37b804b6f15/packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js.

[2020-03-25 10:12] oliviertassinari commented on #19833
@HenryLie What do you think of this patch?

[code]

[2020-03-25 10:20] RebeccaStevens opened #20267 "TpyeInfo: Should use readonly types over mutable types."
The material-ui components declare their types as mutable when in fact they are treated as immutable by material-ui.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Values of a readonly type cannot be given to material-ui componen

[2020-03-25 10:25] #20175 closed

[2020-03-25 10:25] eps1lon commented on #20267
Yeah these are all technically readonly. It's just so much churn to mark every prop as readonly which probably causes breakage somewhere because people pass their `*Props` around and mutate them in place.

We can't support this use case. If you're interested in it please upvote the issue.

[2020-03-25 10:25] #20267 closed

[2020-03-25 10:33] RebeccaStevens commented on #20267
@eps1lon I don't think this would cause breakages as mutable values can be given to readonly types (as essentially `MutableType<T> extends ImmutableType<T>` - e.g. `Array<T>` is `Readonly<T> & MutableArrayStuff<T>`).

[2020-03-25 10:48] eps1lon commented on #20267
This would throw now, no?
[code]

[2020-03-25 10:49] RebeccaStevens commented on #20267
Ah yes, that would.

[2020-03-25 10:55] eps1lon commented on #20267
I get the desire to make this more strict and in the end this might as well not break anything. It's just that I want to avoid different typing approaches across the code base which means we would update types for components that are considered stable. Looking at how much value this provides even a single issue report isn't worth the trouble for us.

But who knows. Maybe this gets traction. Thanks

[2020-03-25 11:53] eps1lon commented on #20263
These are covered by #18908

@Lagicrus  I think from the description of the issue this is more about custom colors not completely different themes? If so then I think #13875 already covers this?

[2020-03-25 12:11] darkowic opened #20268 "Export `createSvgIcon` from `@material-ui/icons`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Export `createSvgIcon` function from `@material-ui/icons` to be able to create custom icons while reusing the `createSvgIcon` function.

## Examples 🌈

[code]

## Motivation 🔦

It would be great to reuse the `createSvgIcon` function in other

[2020-03-25 12:18] eps1lon commented on #20268
This is an internal utility that serves our specific purpose. We need to be able to adjust this to our internal needs which makes it unsuitable for public release.

It's tiny enough that you can build your own utility or just use `<SvgIcon>{path}</SvgIcon>`

[2020-03-25 12:18] #20268 closed

[2020-03-25 12:32] oliviertassinari commented on #20268
I have seen @dmtrKovalenko face the same problem: https://github.com/mui-org/material-ui-pickers/blob/next/lib/src/_shared/icons/ArrowDropDownIcon.tsx#L2.

[2020-03-25 12:34] oliviertassinari commented on #20268
I think that it would make sense to expose this helper from the core package. So far, we have
- core: 1 duplicated version
- lab: 1 duplicated version
- icons:  duplicated version
- pickers: import private version from core

[2020-03-25 12:36] eps1lon commented on #20268
This is not the same problem though. You're talking about internal usage which is quite different from public release.

[2020-03-25 12:37] oliviertassinari commented on #20268
@eps1lon Sure, what do you think of refactoring lab and icons to follow the approach in pickers? I would reduce bundle size.

[2020-03-25 12:48] #20141 closed

[2020-03-25 12:55] #20099 closed

[2020-03-25 13:03] eps1lon commented on #20099
Closed in #20146. GitHub decided to ignore this.

[2020-03-25 13:06] darkowic commented on #20268
It's kind of util that could be reused between different internal packages but also outside - like in my project where I need to create several custom icons.
Creating new util is not a big deal ofc but still, it is some duplication that could be avoided.

[2020-03-25 13:18] oliviertassinari commented on #20268
@darkowic For the public aspect, I think that we could delay the effort to a point where we have more user requests. Also, I think that we should look into how it fits with the SVGR ecosystem before moving forward.

[2020-03-25 14:43] Floriferous opened #20273 "[Dialog] Nesting dialog components inside dialog breaks scroll behavior"
I'm trying to render a complex `Form` component inside of a `Dialog`, and make the `DialogActions` cancel or submit this form, closing after a promise resolves.

Here's a reproduction of what I'm trying to do: https://codesandbox.io/s/cool-silence-e4bmw

The issue is that for this Form component to work, the submit button has to be a child of the form, with `type="submit"`. And so I'm nesting `Dia

[2020-03-25 14:54] Floriferous opened #20275 "[Docs] Allow providing a custom theme and preview it live"
We're going to make a lot of modifications to our theme soon, and I was thinking that it'd be really cool if I could enter a custom theme (JSON and all) in the material-ui docs, through an inline editor, and navigate through all the docs with that theme.

Benefits:
* Previewing and testing custom theming options is a breeze
* Remove all "customization" demos from the components, and add a button t

[2020-03-25 14:56] oliviertassinari commented on #20273
Duplicate of #13253

[2020-03-25 14:56] #20273 closed

[2020-03-25 15:01] oliviertassinari commented on #13253
I don't think that https://material-ui.com/components/dialogs/#form-dialogs is following the best practice, I believe it should have `<form>` element.

[2020-03-25 15:17] oliviertassinari commented on #20275
@mbrookes Has started an effort in this direction a couple of days ago, an early preview:  https://github.com/mbrookes/material-ui/tree/docs-themetool. Feedback appreciated!

[2020-03-25 15:47] Floriferous commented on #20275
Ha, yeah that's exactly what I was thinking about!

Here's some feedback:
* It'd be great if the theme was accessible via the top navigation bar, like the colors currently are. Modifying it in a Dialog would be great on Desktop, or maybe in a Drawer that persists across navigation
* Not sure what the limitations are of this editor, but it crashed when I tried to declare a `const` or `var`
  * Prob

[2020-03-25 18:12] HenryLie commented on #19833
@oliviertassinari
The approach with `currentColor` looks very clean and concise.
Personally, I am in favor of unifying this behavior into `Autocomplete`, since it results in one less class and  makes the code shorter overall.

I'll submit a PR that uses the `currentColor` approach on both `Select` and `Autocomplete` component.

[2020-03-25 18:16] oliviertassinari commented on #19833
@HenryLie Ok, this sounds fair 👍

[2020-03-25 18:40] HenryLie commented on #19833
@oliviertassinari

Sorry, I just noticed a drawback of applying this method on the `Autocomplete`.
In this component, the icon uses `IconButton`, and it already applies `theme.palette.action.disabled` color to the icon with a stronger specificity when `disabled` prop is passed into it.
![Screen Shot 2020-03-26 at 3 30 49](https://user-images.githubusercontent.com/11569345/77572461-5c7cd200-6f12-11

[2020-03-25 18:44] oliviertassinari commented on #19833
@fbarbare You would need to increase specificity too with the disabled pseudo-class.

[2020-03-25 18:46] oliviertassinari commented on #20263
@Lagicrus Maybe you are looking for a high contrast mode? It's somewhat related to #13174.

[2020-03-25 19:36] bmaclean opened #20277 "Update PaletteColor to include ColorPartial"
When customizing the theme with custom palette options, using a numerical Material color scale (e.g. `theme.palette.primary[500]` throws a type error, though setting the `500` colour for `primary` is permitted by `PaletteColorOptions`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe

[2020-03-25 19:59] oliviertassinari commented on #20277
@bmaclean Did you augment the types? https://material-ui.com/guides/typescript/#customization-of-theme

[2020-03-25 21:23] bmaclean commented on #20277
I haven't yet, no. The main concern in the issue was that `PartialColor` is part of the `PaletteColorOptions` API, but not the `PaletteColor` API, which creates the type error I highlighted in the issue. Would there be a problem with having a union between `PartialColor` and `SimplePaletteColor` for the `PaletteColor` type def?

[2020-03-25 21:27] oliviertassinari commented on #20277
OK let us know if module augmentation isn't enough.

[2020-03-25 21:42] sabativi opened #20279 "[Rating] Support details in tooltip"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using a Tooltip on a  custom IconContainerComponent

[code]

[code]

The tooltip is not shown

## Expected Behavior 🤔

Tooltip visible

## Context 🔦

is working on  "@material-ui

[2020-03-25 21:54] oliviertassinari commented on #20279
@sabativi The support was dropped in #19103.

[2020-03-25 21:58] malouro opened #20280 "[Breadcrumbs] Focus goes to top of page after expanding in IE11"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In Internet Explorer 11, the focus is shifting to the top of the page after expanding the Breadcrumb list via keyboard.

(Note: if it helps to debug - after hitting the expand button,

[2020-03-25 22:16] Lagicrus commented on #20263
Thanks for the links! They seem to be closer to what I was looking for.
Do you think it would be worth linking the IBM link to https://github.com/mui-org/material-ui/issues/18908 as an additional example?

I will admit that I seem to have drifted from the original scope of the request from an additional set of colours (on top of Primary/Secondary) to a whole new theme itself so #13875 is of intere

[2020-03-25 22:16] #20263 closed

[2020-03-25 22:30] Lagicrus opened #20281 "[Autocomplete] Configurable Multiple Placement"
Move the multiple chip display of Multiple within Autocomplete as shown [here](https://material-ui.com/components/autocomplete/#multiple-values) and have an option similar to [Tooltip](https://material-ui.com/components/tooltips/#positioned-tooltips) where you can position it around the targeted value.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repos

[2020-03-25 23:03] ydax opened #20282 "Simple Prop for Aligning Grid Items"
In a` <Grid> `component, the keywords `left`, `center`, and `right`, could be added to align the item accordingly.

- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Currently, aligning items is not intuitive, and developers can end up with many `<Grid>` components to achieve relatively simp

[2020-03-25 23:15] #20282 closed

[2020-03-25 23:15] oliviertassinari commented on #20282
@ydax I would recommend checking this guide out :) https://css-tricks.com/snippets/css/a-guide-to-flexbox/.

[2020-03-25 23:21] vianneyguesdon commented on #20259
I've been working on a sandbox here :
https://codesandbox.io/s/material-demo-zjpr8

[2020-03-25 23:30] NathanHealea commented on #15918
Has there been movement on making the outlined shrink property more accessible? I'm looking to increase the font size of the outlined input text label when the label has shrunk.

I'v been able to increase the text side of the label using overrides, but still running into a similar situation as above with the border intersecting the label text.

![image](https://user-images.githubusercontent.com/65

[2020-03-25 23:59] oliviertassinari commented on #15918
Solved in #17680, question answered in #19952.

[2020-03-25 23:59] #15918 closed

[2020-03-26 00:02] oliviertassinari commented on #20281
You have an example of this in https://material-ui.com/components/autocomplete/#customized-autocomplete.

[2020-03-26 00:02] #20281 closed

[2020-03-26 00:07] oliviertassinari commented on #20280
The problem doesn't seem limited to IE 11. What do you think of this diff?

[code]

[2020-03-26 00:16] #20248 closed

[2020-03-26 01:06] eltonchan opened #20283 "MuiButton can't Test. Enzyme Internal Error: unknown node with tag 14"
when i use enzyme mount/shallow button, will failed. Enzyme Internal Error: unknown node with tag 14(v4.2.1 can work, but v4.9.7 can't work)

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Enzyme Internal Error: unknown node with t

[2020-03-26 01:17] eltonchan commented on #20283
![image](https://user-images.githubusercontent.com/12627010/77600329-906feb80-6f42-11ea-8ea2-57ee5d69251e.png)

[2020-03-26 01:43] mrsants opened #20284 "When trying to type or receive this error"
When trying to type or receive this error

This demo had a runtime error!

We would appreciate it if you report this error directly to our issue tracker.

TypeError: Cannot read property 'value' of null

[2020-03-26 02:05] m4theushw commented on #20172
Is adding `role="list"` and `role="listitem"` for items enough? We could add to the docs. I updated the [codesandbox](https://codesandbox.io/s/objective-colden-utixb) and tested it with NVDA.

[2020-03-26 02:17] #20283 closed

[2020-03-26 03:26] bertino12 opened #20285 "Textfield with inputRef and PasswordInput w/ InputAdornment crash when on the same component"
When I just have my textfield with inputRef to make it have focus on page load. It works great. When I add a password textfield containing the show/hide password toggle the page crashes on refresh with 49 errors referencing withStyles and invalid hooks warnings

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of

[2020-03-26 03:33] hugows commented on #20068
@igorbrasileiro Hi, I wanted to talk about Autocomplete with you and can't find a contact anywhere. If you mind, could you please send me an email ?

[2020-03-26 03:50] malouro commented on #20280
Yeah something like that should work. 😄 I wouldn't mind strapping together a PR for this once I get the time to look at this a bit more

Thanks!

[2020-03-26 06:41] Iamthewaseem commented on #14283
You saved my life!!!!

[2020-03-26 08:34] eps1lon commented on #20284
Can you link the page and describe the steps that produced this error?

[2020-03-26 09:16] sruthisripathi opened #20286 "[Autocomplete] openOnFocus is not working properly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The popup opens even when `openOnFocus` is set to `false` which is the default value according to `Autocomplete` [api doc](https://material-ui.com/api/autocomplete/)

![autocomplete1]

[2020-03-26 09:44] HenryLie commented on #19833
I just submitted a PR to both fix the issue and unify the behavior with `Autocomplete`.
I'm not sure if the implementation is optimal, but I think discussing it in the PR will be better.

[2020-03-26 10:08] DaVitzi opened #20288 "[theme] Improve augmentColor(color) warning"
We have a problem with our project where when we run `npm i` after a git clone the theme is not recognized. Default colours are used. Lately we have this problem too.

Error: Material-UI: the color provided to augmentColor(color) is invalid.
The color object needs to have a `main` property or a `500` property.

I reckon that augmentColor method is MUI library method.

[2020-03-26 10:15] DaVitzi commented on #20288
If this is not a bug then what? I cannot find something by looking up into stackoverflow or anywhere else. Can you please provide at least some information? That would be much appreciated as we are blocked right now.

[2020-03-26 10:57] BjoernRave opened #20289 "[Select] Add Open On Focus"
I like the `openOnFocus` feature from the autocomplete component and would like to have the same behavior on the select component

[2020-03-26 11:13] NutterV opened #20291 "[Folder Decorators] : Intellij : When combined with compact directories in Project View"
**In Intellij**
When folder decorators are selected and used in combination with the compact directories option in the native project view, when a folder has been extracted for decoration then the child folder now shows the whole path again

**When using just the native compact directories in project view**
-  📁 src/main/java
  -  📁 com.add.mui.tools.nilesh
    -  📁 utils
      - 📄 Util
    - 📄 Ma

[2020-03-26 11:32] oliviertassinari commented on #20291
Wrong repo

[2020-03-26 11:34] oliviertassinari commented on #20289
@BjoernRave You can listen to the focus even and control the open prop.

[2020-03-26 11:34] #20289 closed

[2020-03-26 11:40] oliviertassinari commented on #20280
@malouro Outside the need for a safeguard against potentially none `a` element, I believe it could land as above. Feel free to spend time on it.

[2020-03-26 12:55] #20285 closed

[2020-03-26 13:51] oliviertassinari commented on #20286
@sruthisripathi Only a click on the `<input>` will open the popup. I'm not aware of any alternative.

[2020-03-26 13:51] #20286 closed

[2020-03-26 13:53] oliviertassinari commented on #20284
Let's assume a duplicate of #20175

[2020-03-26 13:53] #20284 closed

[2020-03-26 13:54] oliviertassinari commented on #20279
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure people are looking for such feature. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-03-26 13:54] #20279 closed

[2020-03-26 13:56] oliviertassinari commented on #20259
Duplicate of #17407

[2020-03-26 13:56] #20259 closed

[2020-03-26 13:59] oliviertassinari commented on #20259
@vianneyguesdon If you could share your component on #17407, it would be awesome :)

[2020-03-26 15:03] Lagicrus commented on #20281
That is true. I just feel that having a single parameter to alter this placement is easier for use versus what seems to be a highly custom implementation of it which also removes chips from the design of it.

On top of which I feel having to dig through a 200~ line example just to figure out *how* to move them under the input element, takes away from readability and easy integration vs an example

[2020-03-26 15:15] oliviertassinari commented on #20281
@Lagicrus Agree. It's probably good enough for specific requirements like yours.

[2020-03-26 15:42] NathanHealea commented on #15918
@oliviertassinari,

Maybe I'm missing something, but I attempted implementing  #19952 with not change.

![image](https://user-images.githubusercontent.com/6578985/77665746-4f290d00-6f3d-11ea-8148-1ace2620a90f.png)

As you can see `.MuiInputLabel-outlined.MuiInputLabel-shrink` still takes the default values, and not the values I'm specifying ` transform: "translate(14px, -6px) scale(2)"`

[2020-03-26 15:47] oliviertassinari commented on #15918
See #19952.

[2020-03-26 16:11] cooperate opened #20292 "Breakpoints override fails in .tsx files"
Overriding breakpoints through createMuiTheme fails in typescript files.

## Current Behavior 😯

Typescript throws
`Argument of type '"xlg"' is not assignable to parameter of type 'number | "xs" | "sm" | "md" | "lg" | "xl"'.ts(2345)`
when breakpoint has been overridden correctly.

## Expected Behavior 🤔
Breakpoint should override in makeStyles.

## Steps to Reproduce 🕹

createMuiTheme function
`cr

[2020-03-26 16:19] oliviertassinari commented on #20292
You need to augment the theme: https://material-ui.com/guides/typescript/#customization-of-theme.

[2020-03-26 17:14] #19833 closed

[2020-03-26 19:15] HerbertSu commented on #1529
Adding on to waahab, I was able to access the input through `this.refs.datePicker.state` to get the input value I accessed `this.refs.datePicker.state.inputValue`

[2020-03-26 20:39] jcafiero commented on #20172
I think that makes it a lot easier to read!

[2020-03-26 21:37] bmaclean commented on #20277
Is the inconsistency between the `PaletteColor` and `PaletteColorOptions` API not an issue? e.g. being able to set a '500' colour in the palette options, but not being able to read it from the theme?

[2020-03-26 22:02] oliviertassinari commented on #20277
@bmaclean The current behavior looks expected, user can provide a rich color object, internally, we handle it to populate the main, dark and light keys.

[2020-03-27 04:51] null93 commented on #4532
It seems like this issue went away for me once I set the `disableRipple` attribute.

[2020-03-27 05:57] sruthisripathi commented on #20286
There is a padding around input field due to which you can focus just outside `<input>` but well inside what appears to be the `textbox` for autocomplete. If you focus in that padding area and you have set `openOnFocus` to false, then the popup is not opening. If you focus inside `<input>`, the popup's opening even if you set `openOnFocus` to `false`.

[2020-03-27 12:25] mfsjr opened #20296 "[Select] Aria error flagged by WAVE and W3C"
WAVE errors in tables, in TablePagination/TableFooter

- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
1. Go to https://material-ui.com/components/tables/
2. Run WAVE
3. Should not get errors from standard components

WAVE identif

[2020-03-27 12:49] eps1lon commented on #20296
Thanks for opening this issue.

Does WAVE provide more information beyond "Broken ARIA Reference Errors"?

[2020-03-27 12:51] oliviertassinari commented on #20296
## Broken ARIA reference

### What It Means

An aria-labelledby or aria-describedby reference exists, but the target for the reference does not exist.

### Why It Matters

ARIA labels and descriptions will not be presented if the element referenced does not exist in the page.

### How to Fix It
Ensure the element referenced in the aria-labelledby or aria-describedby attribute value is present with

[2020-03-27 12:58] oliviertassinari commented on #20296
@mfsjr Thanks for the report, while this issue focuses on the errors. WAVE reports some less important alerts, I will take care of it in batch (e.g. broken anchor link).

[2020-03-27 13:01] oliviertassinari commented on #20296
@eps1lon If you would prefer working on it, I can leave it to you. Let me know, I wouldn't want to distract you from the prop-types -> TypeScript migration of the descriptions :D.

[2020-03-27 13:02] bunste opened #20297 "[Chip] Backspace and delete keys don't work when nesting an input"
I'm using a `TextField` component as label prop for a `Chip`. That worked without problems for a long time. Since the type of label is specified with `node`, I assumed that I could insert any child component there. Since I recently updated to the latest version, there is the following problem: I can still add text (cut and paste works too), but I can no longer delete text with the backspace or del

[2020-03-27 13:11] bunste commented on #20297
I think it has to do with some of the recent changes to the `Chip` component (see [this commit](https://github.com/mui-org/material-ui/commit/c5f4a86918cf21577f2b18139b362ec9ae01ff6a#diff-e0528e6b6a6fe93ca94abbac71825ac3).

`handleKeyDown` will do `event.preventDefault()` for backspace and delete keyboard events.

I wonder if my use case is no longer supported or if this is a bug that should be fi

[2020-03-27 13:12] eps1lon commented on #20296
@oliviertassinari No perfectly fine. That's why I assigned it to you and unsubscribed. But you had to mention me again :stuck_out_tongue:

[2020-03-27 14:00] mfsjr commented on #20296
Thank you @oliviertassinari , @eps1lon for such quick response!

[2020-03-27 15:10] rajpraful opened #20299 "@material-ui/lab/rating Rating component not working with custom icons"
Rating component not working with custom icons

## Current Behavior 😯

On change is working but the rating is not changed

## Expected Behavior 🤔

Rating should change if the state value passed to the 'value' attribute is changed.

My code is :

[code]

| Material0ui Lab | ^4.0.0-alpha.45 |
| Material-UI | v4.9.0 |
| React       |   16.12.0  |
| Browser     |  chrome 80.0  |
![2020-03-27_20-40-18]

[2020-03-27 15:12] oliviertassinari commented on #20299
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-27 15:13] watkinshughes commented on #19318
We are seeing the same issue in our implementation. Not sure how this is a support issue instead of a bug. Thanks.

[2020-03-27 15:13] #20299 closed

[2020-03-27 15:13] oliviertassinari commented on #20299
tip: `newValue`.

[2020-03-27 15:15] oliviertassinari commented on #19318
@watkinshughes Without reproduction and working demos in the documentation, we assume it's a support request.

[2020-03-27 16:07] gradinarot commented on #17018
@sdornan did you got this resolved?

[2020-03-27 18:01] #19882 closed

[2020-03-27 18:15] alexbarkin commented on #20137
Hey, @oliviertassinari I would be happy to take this one on, is it still available?

[2020-03-27 18:41] oliviertassinari commented on #20137
@alexbarkin Definitely :)

[2020-03-27 19:09] Abdelilah-BH opened #20302 "tooltip"
hello
How i can fixed the position of Tooltip to the bottom always,
If the height of the browser changes, the position changes to the top
Like the picture below
![Screenshot from 2020-03-27 20-06-38](https://user-images.githubusercontent.com/37023308/77791332-b7274280-7066-11ea-878b-2f39378bbf08.png)
![Screenshot from 2020-03-27 20-07-14](https://user-images.githubusercontent.com/37023308/77791360

[2020-03-27 19:14] Abdelilah-BH opened #20303 "fix the postion of tooltiop"
hello
How i can fixed the position of Tooltip to the bottom always,
If the height of the browser changes, the position changes to the top
Like the picture below
![Screenshot from 2020-03-27 20-10-35](https://user-images.githubusercontent.com/37023308/77791712-724fdb80-7067-11ea-8ebb-a74050ae0115.png)
![Screenshot from 2020-03-27 20-10-44](https://user-images.githubusercontent.com/37023308/77791753

[2020-03-27 19:46] saulshanabrook commented on #20012
We are considering using Material UI in JuyterLab and was wondering about this point:

This sounds like an interesting and useful idea and I am curious if other libraries provide compatibility with different style engines. Ideally, it would be nice to be able to switch dynamically between these frameworks and just generating plain CSS, by just changing some config or build value and not having to

[2020-03-27 20:16] oliviertassinari commented on #20012
@saulshanabrook I'm not aware of any deployed prior work on this matter.

This is awesome, I'm going to following this thread to see if I can bring in any facts.

[2020-03-27 21:10] oliviertassinari commented on #20296
I could narrow the problem down to https://github.com/mui-org/material-ui/pull/17892#issuecomment-544258957.
@mfsjr What do you think of the following patch? Do you want to work on a pull request? :)

[code]

It solves:

- 1. WAVE

<img width="242" alt="Capture d’écran 2020-03-27 à 22 06 49" src="https://user-images.githubusercontent.com/3165635/77800537-46d4ed00-7077-11ea-857e-153584405d1c.png"

[2020-03-27 22:30] bluebill1049 commented on #17018
@gradinarot https://react-hook-form.com/api#Controller

[2020-03-27 23:07] #19591 closed

[2020-03-28 07:02] nickylogan opened #20310 "[Typescript] Missing classes prop for CssBaseline and ScopedCssBaseline"
The `classes` property is missing from the prop type of CssBaseline and ScopedCssBaseline, while the docs mentioned that the prop should exist: [ScopedCssBaseline API](https://material-ui.com/api/scoped-css-baseline/) and [CssBaseline API](https://material-ui.com/api/css-baseline/)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/mate

[2020-03-28 08:28] eps1lon commented on #20310
Thanks for reporting this. They do indeed implement this prop but it doesn't have any effect since they don't implement any classNames.

[2020-03-28 08:50] kasaiee commented on #10756
I still have this bug 😭😭
even I use `window.scrollTo(window.pageXOffset, window.pageYOffset)` to force keep the scroll at the current position on Dialog `onClose`

[2020-03-28 13:15] Angelk90 commented on #19063
@oliviertassinari : I don't understand why it was closed?
Should I open a Feature request for this thing?

[2020-03-28 13:22] oliviertassinari commented on #19063
It's a support request, no work is required on Material-UI side.

[2020-03-28 14:42] tonyhallett opened #20311 "[TreeView] no selected background color applied on mobile device"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There is no selected background color for a selected tree item.

## Expected Behavior 🤔

There is selected background color for a selected tree item.

## Steps to Reproduce 🕹

https:/

[2020-03-28 15:40] gradinarot commented on #17018
I manged to solve it by passing InputLabelProps and biding the "shrink" prop to the field's value.

[2020-03-28 22:03] NawarA opened #20313 "Using the makeStyles / useStyles() pattern causes React apps to render twice"
Let me start by saying, I ❤️ MUI. K, lets dive in:

I log how frequently my react app renders, just so I maintain fine grain control over DOM renders / reflows. I noticed whenever I start my react app, it rendered twice at the root level. I began investigating the root cause and I've narrowed it down to:

[code]

This causes react apps to render twice. Here's the thing, on the first render, `class

[2020-03-28 22:56] eps1lon commented on #19413
WIth TypeScript 3.9 we'll be able to replace `$ExpectError` with `@ts-expect-error`. As soon as 3.9 is stable we can merge https://github.com/mui-org/material-ui/compare/master...eps1lon:chore/remove-expect-error.

For `$ExpectType` we have to do a bit more research since I suspect that most solutions that test for assignability do not consider `any`.

There are some other rules where it's not obv

[2020-03-28 23:08] #20243 closed

[2020-03-28 23:16] eps1lon commented on #20313
This codesandboxes use [StrictMode](https://reactjs.org/docs/strict-mode.html) (see index.js) which calls render twice. Depending on your component tree this causes issues if you have side effects during render (such as console.log or
`++renderCount`)

Not necessarily. What we care more in react are commits and even more is actual performance measurements. Render counting is a tool to identify iss

[2020-03-28 23:16] #20313 closed

[2020-03-29 00:05] #20137 closed

[2020-03-29 01:04] NawarA commented on #20313
It sounds like you're dismissing the issue.

Maybe I misread your comment, but it seems you're saying that React strict-mode causes components with `makeStyles` (but not `withStyles`) to render twice...which you believe is fine?

I'd like to point out, a second time, that in `strict-mode`:
- `makeStyles` is forcing components render an extra time
- `withStyles` does *not effect* component renders

[2020-03-29 08:18] eps1lon commented on #20313
Rendering twice is the whole point of StrictMode. We can't and shouldn't do anything about it. It's like asking someLibraryMethod to not execute twice after the app-developer called it twice.

makeStyles isn't forcing your component to render twice. StrictMode is. You can observe the same behavior with any other hook. It's not "my believe" that this is fine. This is by design of React. If you thin

[2020-03-29 11:05] nainardev opened #20335 "Position absolute for Bottom Navigation"
If I have a long list, Currently it stays at the bottom unlike how app stays

Is there a prop to position it

[2020-03-29 11:07] oliviertassinari commented on #20313
@NawarA ⚠️ This is a development only behavior. It won't happen in production. Proof: https://codesandbox.io/s/strictmode-w-and-wo-hooks-vex1m deployed in production: https://csb-vex1m.netlify.com/.

[2020-03-29 13:12] gsouf commented on #15914
This issue is driving me crazy. To be honnest all the explanations above do not sound clear to me and I'm not sure if I'm falling in a case cited above.

Whatever I have a nested theme that does not apply:

[code]

Made some experiment and applying <MD.CssBaseline /> inside the nested theme will apply the dark theme, but globally. Even for the parents.

[2020-03-29 16:04] mbrookes commented on #20275
Yep, this was just a rough POC.

This is the editor that underpins VSCode, so I doubt it! 😄 The issue isn't the editor, it's how to eval the resulting text.

[2020-03-29 16:33] leehep commented on #4476
i try to make table row collapse with paginnion
i wonder is ther any other way to writh it bucuse i have to use <></> to make it work properly :(

` const TableBodyData=(
    <TableBody>
      {(rowsPerPage>0
      ? data.slice(page * rowsPerPage,page * rowsPerPage+rowsPerPage)
      :data
      ).map(row=>(
        <>
          <TableRow  onClick={()=>handleExpandedChange(row.id)} key={row.id}  s

[2020-03-29 20:48] #20140 closed

[2020-03-29 21:03] #20154 closed

[2020-03-29 22:52] oliviertassinari commented on #20310
@nickylogan Thank you for reporting this issue. What do you think of this fix? Do you want to work on a pull request :)?

[code]

[2020-03-29 22:58] eps1lon commented on #20310
@oliviertassinari This would only cover ScopedCSssBaseline. This does not solve the issue for CssBaseline which is a docs-only issue.

[2020-03-29 23:07] oliviertassinari commented on #20310
I don't understand the issue with CssBaseline.

[2020-03-29 23:46] maksimgm commented on #20084
@olegberman I can create a PR for this issue

[2020-03-29 23:56] eps1lon commented on #20310
The docs say CssBaseline has a classes prop. This prop has no effect for that component.

[2020-03-30 00:12] maksimgm commented on #20084
PR for the issue:
https://github.com/mui-org/material-ui/pull/20338

[2020-03-30 00:27] maksimgm commented on #20136
PR created:
https://github.com/mui-org/material-ui/pull/20339

[2020-03-30 02:33] nickylogan commented on #20310
I think so, CMIIW, but in [this line](https://github.com/mui-org/material-ui/blob/964f9abc7f0838c83561bf581235742c6cdee721/packages/material-ui/src/CssBaseline/CssBaseline.js#L50), it doesn't seem that the `classes` prop is being used at all.

[2020-03-30 03:12] nscozzaro commented on #3289
Hi, I'm also struggling with performance issues with the List component. I have 400 items in the list, and as you can see below, the response is really laggy. For some reason my screen cap video got slowed down when I converted to GIF, but it actually helps to highlight the performance issue.
I haven't tried React Window yet because I'd prefer to not use another library if I don't have to, to avoi

[2020-03-30 07:03] dantman commented on #3289
@nscozzaro Move your list item contents out of the loop you create them in to a small dedicated component, use `memo` on that component, and make sure the props you pass to it are pure and in your map you pass a selected boolean rather than the currently selected value(s) (so a selection change on one item doesn't make the props change on every list item).

[2020-03-30 07:26] #20084 closed

[2020-03-30 08:27] bearbytes opened #20340 "[ListItemText] Primary text does not apply dark theme"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When creating a MuiTheme with dark palette, strings added as `<ListItemText primary={...}/>` are still rendered in black color, making them hard or impossible to read on a dark backgr

[2020-03-30 09:59] nemethricsi commented on #14840
can't believe but it solved my issue as well! Thanks! :)

[2020-03-30 10:03] mfsjr commented on #20296
Looking

[2020-03-30 10:09] MidnightDesign commented on #17789
For anyone who stumbles upon this in the future: I've managed to fix the problem by explicitly _including_ `core-js/es/object` in my Webpack's `entry` array.

[2020-03-30 11:02] RmStorm commented on #18173
I was running into this exact same problem, where I fetch the valid values for a state from an API and so I have to instantiate the state in some empty manner. Basically `{}` and `[]` and `null` work but `undefined` doesn't. This was a little surprising to me and also not obvious from [the documentation linked](https://reactjs.org/docs/forms.html#controlled-components) in the warning.

I expected

[2020-03-30 12:30] bearbytes commented on #20340
After doing more research, I figured out that the problem gets fixed by adding a `<CssBaseline />` BELOW the `ThemeProvider`, like so:

[code]

However, this behaviour is not clear from the Docs, and I still don't understand why it happens for the primary text, but not the secondary.
But since the problem can be fixed easily, I will close this ticket.

[2020-03-30 12:30] #20340 closed

[2020-03-30 13:35] JeremyGrieshop commented on #11723
This is the best one I've seen so far, congrats!

The one bug that I do see is w/r/t keyboard handling.  If you use a mouse to move away from an expanded submenu, it works well, but if you use the keyboard to expand a menu, and keep navigating down with the keyboard, the original submenu stays active.  To demonstrate/reproduce this on the codesandbox demo, simply do the following:  Right Click to

[2020-03-30 14:18] #20136 closed

[2020-03-30 14:33] oliviertassinari commented on #20340
@bearbytes Thanks for the report. The default variant of the typography relies on color inheritance. You need to set the right color at the root of the DOM tree. It's expected.

[2020-03-30 14:39] oliviertassinari commented on #20296
@mfsjr Did you try to have the CI run the tests? Also, did you pull the latest changes and run yarn at the root of the repository?

[2020-03-30 14:40] DavidHenri008 opened #20343 "MenuItem does not pass the disabled class"
The MenuItem does not pass the disabled class to the inner ListItem like it does with the dense class name.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When a disabled class name is passed to the MenuItem classes property a war

[2020-03-30 14:46] eps1lon commented on #20343
That is a general problem with our styling solution and component inheritance. `MenuItem` implements a different `classes` prop which means you can't override the `classes` prop of the `ListItem`.

Maybe we should start exposing separate props for the classes of the inherited component. This has probably been asked before @oliviertassinari ?

[2020-03-30 14:51] oliviertassinari commented on #20310
@eps1lon Thanks for the details. I guess we could move forward with

[code]

[2020-03-30 14:53] DavidHenri008 commented on #20343
But it is done for the dense class no?

[2020-03-30 14:55] oliviertassinari commented on #20343
@eps1lon I would be in favor of this solution:
- https://github.com/mui-org/material-ui/blob/92a6d9288df1c3dbbece4da16d201d2ef3c04741/packages/material-ui/src/Link/Link.js#L157
- https://github.com/mui-org/material-ui/blob/92a6d9288df1c3dbbece4da16d201d2ef3c04741/packages/material-ui/src/Link/Link.js#L157
- https://github.com/mui-org/material-ui/blob/92a6d9288df1c3dbbece4da16d201d2ef3c04741/packag

[2020-03-30 15:03] eps1lon commented on #20343
Yeah because `Menu` handles that class separately. It's not just simply forwarding this class.

A pull request following the approach @oliviertassinari pointed out in https://github.com/mui-org/material-ui/issues/20343#issuecomment-606049698 would be welcome!

[2020-03-30 15:19] oliviertassinari commented on #18173
@RmStorm Thank you for taking the time to write in details your experience. I fear it's expected, however, your mention to the link not helping can be leveraged. I have updated https://github.com/mui-org/material-ui/issues/19423#issuecomment-589862301 to have a mention about it. Thanks (also, feel free to work on it if you want to help us improve the library :)).

[2020-03-30 15:58] savissimo commented on #19953
Could we have an option to expand when clicking the icon or the label, but collapsing only when clicking the icon?

[2020-03-30 16:04] martinsvb opened #20345 "Handle mobile portrait"
Hi guys,

first of all thank you for great library!

We are solving in team responsivity of our application.
And I want to ask you about xs = 0px breakpoint:
https://material-ui.netlify.com/customization/breakpoints/
For me it looks, that it isn't possible to catch mobile portrait by these techniques:
https://material-ui.com/customization/breakpoints/#css-media-queries
https://material-ui.com/comp

[2020-03-30 16:15] eps1lon commented on #19953
We're probably going with a solution that enables checking in an onClick handler if the click came from the icon or label and then you can customize this behavior. Props-based approaches don't scale very well for one-off use cases.

[2020-03-30 16:27] hodn opened #20346 "Fullscreen Dialog with incorrect padding (left, right)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I implemented the example of Fullscreen Dialog and there are black bars on the left and right of the screen. Do you have any suggestions? Thank you very much.

## Expected Behavior 🤔

[2020-03-30 16:31] #20346 closed

[2020-03-30 16:38] mfsjr commented on #20296
@oliviertassinari  The docs mention CI running tests upon submitting the PR only, so no, I did not, I was just trying to make sure my environment could run the tests on my fork of master.

I ran "yarn install" which took a few minutes and succeeded.
yarn install v1.22.4
[1/4] 🔍  Resolving packages...
success Already up-to-date.

Git log shows the most recent:
Author: Maksim Mamrikov <maksimgm@user

[2020-03-30 16:57] NawarA commented on #20313
You're right! Thanks dude!

You're awesome 💪

[2020-03-30 17:03] oliviertassinari commented on #20345
@martinsvb I would recommend leveraging `orientation : landscape` in the CSS media query.

[2020-03-30 17:03] #20345 closed

[2020-03-30 17:37] diegovillacis10 commented on #12010
We had the same problem and we made it work with this:
[code]

[2020-03-30 19:43] mariacheline commented on #10571
Hi, I get `....node_modules/@material-ui/icons"' has no exported member 'MenuIcon'.`
despite installing `@material-ui/icons`

[2020-03-30 22:21] oliviertassinari commented on #20297
@bunste Thanks for the report, I think that we should have the handler of `keyDown` and `keyUp` to use the same logic. What do you think of this patch to align them?

[code]

Do you want to work on a pull request? :)

[2020-03-30 22:22] savissimo commented on #19953
Fine for me. It would be great to have a mechanism to stop the propagation of the event. Like, in the onSelect event handler, a boolean that says whether the item will expand, whether it will be selected. That would give us complete flexibility, covering pretty much any desired behaviour, while keeping the props under control.

(If that is exactly what you were planning to do... well, great :) )

[2020-03-31 00:57] ksrb opened #20351 "[Select] onChange fired with current value"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
`<Select>` `onChange` handler is being called when the value is not actually changed/the user has selected the same value.

## Expected Behavior 🤔
`<Select>` `onChange` to only be call

[2020-03-31 01:23] netochaves commented on #20343
Can I take this?

[2020-03-31 01:53] DavidHenri008 commented on #20343
Fine for me!
Thanks.

[2020-03-31 02:30] chaudharykiran commented on #20297
I can work on the this PR? cc @oliviertassinari  @bunste

[2020-03-31 04:28] maksimgm opened #20352 "Issue running `yarn && yarn dev`"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When running `yarn && yarn dev`, I receive a compatibility error with my version of `node`
[code]

## Expected Behavior 🤔
When I run `yarn && yarn dev` I expect the project to run loca

[2020-03-31 05:11] NMinhNguyen opened #20353 "Expose `@material-ui/core/utils` from top-level `@material-ui/core`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

## Examples 🌈

[code]

## Motivation 🔦

I may be mistaken, but from what I gather, `@material-ui/core/utils` is probably safe to import since it has typings, is a 2nd level import, and is imported by another package, `@material-ui/lab

[2020-03-31 06:21] pradeepa1997 commented on #13701
can i set two transition directions when the slide will appear and disappear .
Ex:It will come from left side and It will disappear in right side.

[2020-03-31 07:04] imbudhiraja commented on #20168
@oliviertassinari @EsoterikStare I can still see this warning in `@material-ui/core@4.9.8`

[2020-03-31 08:29] oliviertassinari commented on #20352
This is an issue for eslint, the error is self explanatory. Thanks for the report.

[2020-03-31 08:29] #20352 closed

[2020-03-31 09:39] eps1lon commented on #20353
Sounds reasonable. @oliviertassinari did we reach a conclusion how we want to consolidate utils or do we stick with the current "put utils as low as possible" approach?

[2020-03-31 09:41] NMinhNguyen commented on #20353
What does this mean? For someone not too familiar with the approach 🙂

[2020-03-31 09:50] mfsjr commented on #20296
@oliviertassinari  Looks like the test failure is originating in material-table, not material-ui.  I guess that is because material-table is in a material-ui demo, and somehow gets evaluated during testing.  When I fix it there, 'yarn test' succeeds.

[2020-03-31 09:53] eps1lon commented on #20353
We have `@material-ui/utils` as well as each package as its own utils module. We usually start out with having utils even lower e.g. in `@material-ui/core/SomeComponent/helpers` (or utils). If we need it somewhere else we move it up (here `@material-ui/core/utils`. Once  a lab component (or `@material-ui/styles`) needs it we move it to `@material-ui/utils`.

Basically to prevent exposing potential

[2020-03-31 09:58] NMinhNguyen commented on #20353
I think that's fair! And very sane. Would you say `@material-ui/core/utils` are currently public though?

[2020-03-31 10:04] eps1lon commented on #20353
Yes. Any first and second level path import.

-- https://material-ui.com/guides/minimizing-bundle-size/#option-1

[2020-03-31 10:05] NMinhNguyen commented on #20353
Shall I raise a PR to re-export them then?

[2020-03-31 10:07] eps1lon commented on #20353
Sure, Olivier can chime in if I missed something.

[2020-03-31 10:18] oliviertassinari commented on #20353
I think that the only public modules are the ones exported in barrel index is private, so as we are speaking `@material-ui/core/utils` is private.

[2020-03-31 10:20] shawaner commented on #7466
I met a similar issue, and fixed by:

`body {
    margin: 0;
    padding: 0;
}`

[2020-03-31 10:22] NMinhNguyen commented on #20353
@oliviertassinari would you suggestion be to copy & paste the utils in my project then?

[2020-03-31 10:23] oliviertassinari commented on #20296
@mfsjr It's good to know thanks for sharing. So you have an issue with your installation steps. We force an older version of material-table in the demos.

[2020-03-31 10:23] eps1lon commented on #20353
That one is definitely not private. Though breaking changes aren't a problem there since we can be more liberal with version bumps.

[2020-03-31 10:44] oliviertassinari commented on #20351
@ksrb Thanks for the report. I remember handling this problem with the Autocomplete in:

https://github.com/mui-org/material-ui/blob/5aad5f2f729066534bd9d408cc8518b51a9f0f14/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L482

I would propose the same fix for the Select component. What do you think of this patch? :)

[code]

Do you want to send a pull request?

[2020-03-31 10:53] tulodzieckim opened #20355 "[styles] withStyles - makeStyles - Can't use props (function) in nested styles"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Whenever I try to use function as `backgroundColor: props => props.color` for nested styles in `makeStyles` or `withStyles` the style does not work.

## Expected Behavior 🤔
It should b

[2020-03-31 11:07] oliviertassinari commented on #20353
@eps1lon I think that it's up to us to decide what's public and what's private. We could very say it's private, as long as we didn't document it. The only exception would be the barrel index of `@material-ui/core` that we have repeatedly committed, in the past, to considering public if exported.

---

@NMinhNguyen Ok, so that was for the current state of affair, regarding the target we should have

[2020-03-31 11:08] mfsjr commented on #20296
PR submitted:  https://github.com/mui-org/material-ui/pull/20356

[2020-03-31 11:10] bunste commented on #20297
@chaudharykiran I would also have tried to create a pull request, but you are welcome to do so!

[2020-03-31 11:16] NMinhNguyen commented on #20353
@oliviertassinari would you like me to explicitly enumerate the public modules vs exporting `* from './utils'`?

[2020-03-31 11:20] oliviertassinari commented on #20353
@eps1lon What do you think?

[2020-03-31 11:54] eps1lon commented on #20353
Nope. The minimal consensus is that the `main` entry in a public package in the npm registry is public (and should follow SemVer). It's not up to use to deviate from that (unless we want to break peoples code).

[2020-03-31 12:02] oliviertassinari commented on #20353
@eps1lon Agree, assuming the package is considered public. We could very-well consider it a private module we have for the sake of sharing internal logic.

[2020-03-31 12:08] zeljkocurcic commented on #18443
I have a warning when using this prop, not sure if there's anything I can do about it:

[code]

[2020-03-31 12:13] maciej-gurban commented on #18918
Is there a way to hook into the `RadioGroupContext` or any other way to get the currently selected value from RadioGroup's `value`? I'm also after creating a wrapper around `Radio`, and not using `FormControlLabel`.

By importing the `RadioGroupContext`, and trying to use it I'm getting undefined as in the consumer

[2020-03-31 12:38] NMinhNguyen commented on #20353
Whatever you decide regarding `@material-ui/utils`, just make sure that if a breaking change is made to it, then you bump the major version. You can choose not to document it, and have it as private, but you wouldn't want `^1.2.3` of `utils` to suddenly resolve to `^1.3.0` that contains a breaking change :) Still gives you the flexibility to make frequent breaking changes to it because it's privat

[2020-03-31 12:39] NMinhNguyen commented on #20353
How should I move forward with the PR? https://github.com/mui-org/material-ui/issues/20353#issuecomment-606563659

[2020-03-31 13:32] NMinhNguyen commented on #20353
Just had a chat with Olivier on Twitter, and he said:

[2020-03-31 13:36] oliviertassinari commented on #20353
@NMinhNguyen Yes, I believe it's what @eps1lon was proposing initially.

[2020-03-31 13:51] oliviertassinari commented on #18443
@zeljkocurcic Upgrade to the latest version.

[2020-03-31 13:57] oliviertassinari commented on #18918
I'm reopening as I believe we miss:
- A section in the documentation
- To export `useRadioGroup` in the barrel index (js and ts).

[2020-03-31 14:00] NMinhNguyen commented on #18918
FYI it already is exported via https://github.com/mui-org/material-ui/blob/5aad5f2f729066534bd9d408cc8518b51a9f0f14/packages/material-ui/src/RadioGroup/index.js#L2 and https://github.com/mui-org/material-ui/blob/5aad5f2f729066534bd9d408cc8518b51a9f0f14/packages/material-ui/src/index.js#L239

so we just need a documentation change.

[2020-03-31 14:12] riteshjagga commented on #8040
Other than Popovers, issue exists for `SelectField`, `DropdownMenu` components too. And wrapping `DropdownMenu`'s content inside `Menu` doesn't show the selected value.

[2020-03-31 15:21] ravi586941 opened #20358 "Material UI Clipped Drawer component doesn't load properly on refresh (css misalignments)"
I'm using Clipped Drawer component in my project which uses makeStyles component for styling the Drawer component under App bar. Page loads fine when I change something in code and automatically refreshes but when I intentionally refresh page Drawer component's zIndex is overriding App bars zIndex

- [ ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github

[2020-03-31 15:23] ravi586941 commented on #20358
I'm using "@material-ui/core": "^4.9.8",

[2020-03-31 15:27] oliviertassinari commented on #20358
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-31 15:31] filipanton opened #20359 "Reason not working with onChange?"
When using autocomplete the reason is always undefined when I use onChange but it seems to work just fine when I use onInputChange.

Example:

`<Autocomplete
                            id={"object" + this.props.data.jobid}
                            options={this.state.objects}
                            getOptionLabel={option => option.objectNumber + " | " + option.name}

[2020-03-31 15:49] #20359 closed

[2020-03-31 15:55] oliviertassinari commented on #20359
tip upgrade

[2020-03-31 16:05] KendoJaaa commented on #13875
please

[2020-03-31 16:09] TiagoPortfolio commented on #5457
That's not the material-ui tooltip though...

[2020-03-31 16:46] VagnerNico opened #20360 "Missing the component type on FormHelperText.d.ts"
When I try to define the FormHelperTextProps in the TextField Component, TypeScript rises an error about the missing component prop definition in the FormHelperTextProps.
But FormHelperText.js uses this, so much so that if I use the @ts-ignore, the TextField render propperly.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-u

[2020-03-31 17:35] a-tonchev commented on #13394
Hello guys, I face the same problem with opening a Menu or opening the Drawer.

What do you think guys, can we expect solution soon, or we should just ignore the warning for now?

Thanks

[2020-03-31 18:00] oliviertassinari commented on #20360
@VagnerNico Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-31 18:29] eps1lon commented on #13394
This will be solved in v5. We can't fix it without a breaking change. I'll put together a gist how to fix this  in your app by using the theme.

[2020-03-31 19:09] CHPrado commented on #18514
I think I'm having a problem now because of this.

I'm using an object as value and options like this:

[code]

it is still working like before but now I'm having a spam of warnings.

Any suggestion?

[2020-03-31 19:28] oliviertassinari commented on #18514
@CHPrado Check the `getOptionSelected` prop.

[2020-03-31 19:47] CHPrado commented on #18514
I'm kinda new, is there an example somewhere for me to understand how this prop can help with this warnings?

Thanks in advance.

[2020-03-31 20:14] Uzwername commented on #20067
Seems like @zekehernandez has had quite a busy week :)

I'll create a pull request under an hour or so, but if @zekehernandez really want to do it, please let me know & I will work on something else :)

[2020-03-31 20:23] CHPrado commented on #18514
Thanks, this worked:

[code]

[2020-03-31 20:29] zekehernandez commented on #20067
😅
Sure did haha. But more than that, I started to work on this and locally, after adding the suggested fix, it didn't appear to work. But by all means, give it a go! Thanks!

[2020-03-31 20:32] enriqueortega opened #20364 "<input> tags within radio buttons do not change checked attribute when switching between choices"
When changing radio buttons in the UI, the checked attribute on the `<input>` tag does not get updated. Upon inspection of the DOM, you can see that the checked attribute remains on the first child regardless if it's checked or not.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe tha

[2020-03-31 20:42] #20364 closed

[2020-03-31 20:43] oliviertassinari commented on #20364
tip `input:not(:disabled):checked`.

[2020-03-31 21:09] Mishhub commented on #13216
Add
MenuProps={{ disablePortal: true }}
 prop to Select component. This fixed mine
Just like mentioned here https://github.com/mui-org/material-ui/issues/13216#issuecomment-429527839

[2020-03-31 21:13] Uzwername commented on #20067
@zekehernandez Oh, great to know, thanks for the info.

Could you please tell me how did you test for such a visual bug? I haven't found any appropriate script in package.json to launch some visualization/demo page, though there certainly should be some & must be missing something.

[2020-03-31 21:45] oliviertassinari commented on #13216
Duplicate of #18586.

[2020-03-31 21:48] #20351 closed

[2020-03-31 21:49] emeentag opened #20365 "Grid item display property is not flex but block instead"
According to API v4.9.8 `<Grid item />` must be a flex item behaviour. Which means that it should have a `diplay="flex"` proporty as farr as i understood.
[code]

But when i create some grid item inside a grid container they were all block items not the flex ones. Is that expected?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/mate

[2020-03-31 21:53] #20365 closed

[2020-03-31 21:54] oliviertassinari commented on #20365
An element can be a flex item and container or one of them or none of them, check out the spec for more details.

[2020-03-31 22:27] VagnerNico commented on #20360
Yes @oliviertassinari sorry by not posting before, I was in hurry and submitted the issue to don't forget about her.
[Link to the code with the Typescript complaining](https://codesandbox.io/s/cold-snow-3d3os).
I never used codesandbox before, if u find any problem on this link please let me know.

Thanks to you and the team for the amazing lib.

[2020-03-31 22:43] oliviertassinari commented on #20360
Did you save it?

[2020-04-01 01:17] seare-kidane commented on #20197
@oliviertassinari Sorry for my late response, it's been a tough time 😞. Anyways,  delaying the removal of the element should also work and regarding the proposed change in [#20197 (comment)](https://github.com/mui-org/material-ui/issues/20197#issuecomment-601938088), I don't think removing `doc.documentElement` is necessary, since the it was not the source of the issue.

[2020-04-01 03:32] bshin19 opened #20366 "Clipped Drawer Example Overflow Bug"
In the clipped drawer example, the top of the scroll bar is clipped beneath the header when it overflows (as the example does). An extra child element is added to the top to prevent this from causing content to be hidden beneath the header, but that still leaves the scroll bar flowing beneath the header.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://

[2020-04-01 03:55] MohitKS5 commented on #18013
[code]
startAdornment is now at first line and endadornment at last line.
center is default of MuiInputAdronment.

[2020-04-01 05:50] ravi586941 commented on #20358
looks like my project setup has some config issue so closing this

[2020-04-01 06:32] wenq1 opened #20367 "Keyframe feature export (for use in styled () approach)"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

@keyframe API in JSS makeStyles () is working by adding a $ sign to mentioned in the doc:
[code]

However, the above approach only works for `makeStyle ()` approach, not for `styled ()` approach, it doesn't work. Wouldn't it be nice to allow

[2020-04-01 07:46] oliviertassinari commented on #20367
Please move the discussion to JSS.

[2020-04-01 07:46] #20367 closed

[2020-04-01 08:37] caroe233 opened #20369 "Scrollbar showing for scrollable Tabs in Legacy Edge"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When you have scrollable Tabs, they do not show a native scrollbar for Firefox / Chrome / macOS. However, I do get a native scrollbar for Legacy Edge and it looks quite odd.

## Expec

[2020-04-01 08:45] TrySound commented on #17497
This would be sweet. We have translations in context editor. Putting editor or app into iframe does not work for us. We workarounded this with disableEnforceFocus in theme for now.

[2020-04-01 09:00] ArcadeRenegade opened #20370 "JSS Not Minified in Production Build"
Hello, I tried searching for a solution to this for several hours but couldn't find one.

In my production build, the JSS generated by Material UI is not minified and the class names are not turned into jss123. They stay as MuiButtonBase, MuiInputBase, etc.

This is happening on both server side render and client side render.

I am setting NODE_ENV=production explicitly during build and runtime. A

[2020-04-01 09:05] oliviertassinari commented on #20370
Duplicate of #10068

[2020-04-01 09:05] #20370 closed

[2020-04-01 09:09] ArcadeRenegade commented on #20370
i see. i used the gatsby material ui plugin before and thought the minification was built in.

[2020-04-01 10:57] oliviertassinari commented on #20197
@seare-kidane Thanks for the update. As far as I understand it, the check of `doc.documentElement` serves no purpose, we can save it. Do you think that you will have time to work on a pull request? :)

[2020-04-01 11:25] DDDDDanica commented on #20288
<img width="937" alt="Screenshot 2020-04-01 at 12 23 52" src="https://user-images.githubusercontent.com/12678455/78131969-d2ea6a00-7413-11ea-9823-0f0c9ecc357a.png">

Same issue here, seems like a "main" or 500 is required all of the sudden ~~

[2020-04-01 11:34] CyanoFresh commented on #19591
maybe add another noOptions message when startAfter provided? Something like `Type 1 more character to search'