[2020-02-21 03:04] ogg130 commented on #10993
This was how I put a backdrop behind a persistent drawer eventually, thank you!

[2020-02-21 03:23] ogg130 commented on #18926
Perfect! Thank you!

[2020-02-21 04:11] fillon opened #19791 "[Checkbox] outlined"
Hi,

Is there a way to group Checkboxes with 'outlined' ?

To have the list of checkboxes contained in the rectangle area (if it makes sense) :-)

[code]

[2020-02-21 07:05] mikkopori commented on #19788
So are we using it wrong and the error is correct? I do not follow 🙂

[2020-02-21 07:43] #19791 closed

[2020-02-21 09:09] eps1lon opened #19792 "[TextField] implement suffix/prefix props"
## Current Behavior 😯
![Screenshot from 2020-02-21 09-59-58](https://user-images.githubusercontent.com/12292047/75019325-f6270e80-5490-11ea-8270-cc35e37b3ca8.png)

## Expected Behavior 🤔

![filled-end-alignment](https://user-images.githubusercontent.com/12292047/75019409-16ef6400-5491-11ea-8d49-906a60d256d7.png)

## Steps to Reproduce 🕹
[code]

https://codesandbox.io/s/textfield-endadornment-on-fi

[2020-02-21 09:11] oliviertassinari commented on #19792
There is a concern to consider with the display when the field is empty and only the label is visible. I might recall a older issue on this very problem.

[2020-02-21 09:22] eps1lon commented on #19792
Ok I now remember the underlying issue. I want to abuse the end adornment for a suffix. Changing the alignment would be bad if we have something like a show/hide password toggle.

We probably want to implement prefixes/suffixes separately as described in the guidelines:

![Screenshot from 2020-02-21 10-22-01](https://user-images.githubusercontent.com/12292047/75021012-07254f00-5494-11ea-9d2d-fff1b

[2020-02-21 09:22] oliviertassinari commented on #19792
👌 Makes it hard to solve :).

[2020-02-21 09:24] oliviertassinari commented on #19792
Maybe we should force the shrink state?

[2020-02-21 09:27] eps1lon commented on #19792
I'm favoring separating adornments and affixes. They are already described in guidelines. Forcing the alignment would look weird if your adornment is button-like (see password show/hide toggle).

[2020-02-21 11:16] thundermiracle commented on #19778
I'm running into the same issue.
Force focus the input after click indicator will solve the problem.

[code]

[2020-02-21 11:33] Floriferous opened #19796 "[Input] Size prop only works on TextField, not on Input"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I'd like to be able to tell regular Inputs, or OutlinedInputs to have smaller size, the problem is the size API is only exposed on TextField, but not the more basic input components.

These 2 components don

[2020-02-21 11:44] thundermiracle opened #19797 "[Autocomplete]filter not work correctly after selecting option once"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
filterOptions is not correctly working after select option once.

## Expected Behavior 🤔
after click to select the option, filter will still work fine.

## Steps to Reproduce 🕹
1. Clic

[2020-02-21 12:01] thundermiracle commented on #19797
I think [this line](https://github.com/mui-org/material-ui/blob/264684bd6103045dd3e507ab4ddb4e8e54c83f5f/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L272) in useAutocomplete causes this issue.

[code]

After selected the option, `inputValueIsSelectedValue` becomes true forever and `''` will be passed into the filterOptions() so all options are displayed.

[2020-02-21 12:07] oliviertassinari commented on #19797
Why should it behave differently? What's your use case?

[2020-02-21 12:20] thundermiracle commented on #19797
Same input should display same option IMO.
Input `The Shawshank Redemption` first time displays only _The Shawshank Redemption_,
the second time will display all options which is confusing.
Perhaps empty inputValue is the normal behavior in Autocomplete, would you please add an option which can ignore `inputValueIsSelectedValue` check?

![autocomplete-2](https://user-images.githubusercontent.com/2

[2020-02-21 12:40] thundermiracle commented on #19797
And we'd like to use Autocomplete in `freeSolo` mode.
User can input or select `The Shawshank Redemption`.
But he will aware that behaviors are different between input it and select it which is difficult to explain.

https://codesandbox.io/s/material-demo-o4nli

[2020-02-21 13:21] dbarabashdev commented on #19160
Hey @abrown945,

I tried to rewrite your code to a more manageable way. I think that you complicated the creating component process. Look at my example, please. 👇🏻

https://codesandbox.io/s/material-demo-snq47

I hope it works out for you 👨🏻‍💻

[2020-02-21 13:28] dbarabashdev commented on #18869
@oliviertassinari is it ready for moving to the core?

[2020-02-21 13:46] dbarabashdev commented on #17842
@oliviertassinari I've tried to remove `zIndex` for `AppBar` component and it's really breaking `AppBar` in the documentation. If this case very popular from the developers `[AppBar] Remove z-index when position="static"`. We really can add a property for zIndex that we don't need that in  the `static` case

[2020-02-21 14:34] Memogcia commented on #17799
Hi, a quickly dirty fix could be:

`overrides: {
      MuiSelect: {
        icon: {
          position: 'relative',
        },
      },
    }`

And the result is ...

![image](https://user-images.githubusercontent.com/5641594/75042952-dee22400-5484-11ea-8664-e822e5c4c1d7.png)

[2020-02-21 14:45] Memogcia commented on #17720
Quickly dirty solution for this:

[Comment ](https://github.com/mui-org/material-ui/issues/17799#issuecomment-589678881)

[2020-02-21 15:03] pskfry commented on #13875
to me, this use case is fundamental to any style library. looking forward to this addition

[2020-02-21 16:08] gforrest-bw opened #19798 "[Autocomplete] Filter based on visible option labels by default"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Rather than filtering based on the actual value of the Autocomplete options, by default the Autocomplete component could apply filtering to the output of `getOptionLabel`. This more closely aligns with what the user expects, since their only

[2020-02-21 17:20] FabianL1 commented on #5750
Is there still no solution from material-ui? Can not really believe that mui does not work on iOs (since this is the result of it)

[2020-02-21 17:57] #19765 closed

[2020-02-21 18:02] zeckdude commented on #8498
For anyone who needs another example, this is my implementation. It is my own `Typography` component which wraps the Material UI `Typography` component, but it defines a different variant scale and allows for a primary/secondary font and font weight options.

[code]

[2020-02-21 18:14] GFynbo commented on #18869
@oliviertassinari Do we want the max prop to have be the default functionality? For example if I pass an AvatarGroup with 6 Avatar children, should the default behavior be to show 3 and have +3 at the end or to show all 6 and only have +x functionality when explicitly defined?

[2020-02-21 19:06] ORESoftware opened #19799 "I want to use <Snackbar><Alert/></Snackbar> but"
I installed:

[code]

then I tried to use `<Snackbar>` but I get:

![Screenshot from 2020-02-21 11-03-16](https://user-images.githubusercontent.com/11139560/75063619-245d1c00-549a-11ea-96b0-c3af486d3957.png)

does anyone know what these problems are about?

There is no Alert exported from  `"@material-ui/core"`

[2020-02-21 19:21] #19799 closed

[2020-02-21 19:22] oliviertassinari commented on #19799
Tip, the Alert is unstable (in the lab).

[2020-02-21 19:56] ORESoftware commented on #19799
@oliviertassinari  unstable? I guess so, see:

https://stackoverflow.com/questions/60345074/how-to-import-alert-alerttitle-component-with-materialui/60345328#60345328

[2020-02-21 21:26] oliviertassinari commented on #19709
For anyone looking at the problem, the fix should be about:
[code]

Then, it's about adding a test case to prevent regressions in the future.

[2020-02-21 21:46] oliviertassinari commented on #19173
Here is a follow-up to the proposed solution. I believe the following changes would do it:

[code]

Basically, we updated the input value fields based on the inputs, as long as the textbox isn't focused. Doing it with a focused textbox would be taking the risk (if the props aren't memoized) to have user losing context.

[2020-02-21 22:23] oliviertassinari commented on #19423
Regarding a potential solution, I would propose a diff close to this:

[code]

[2020-02-21 22:31] oliviertassinari commented on #18869
@GFynbo Great question, I think that we can consider a default value for the max prop.
Regarding the behavior, let's say max=5, if we provide 8 children, we would display 5 avatars and +3. Does it match your intuitive expectation?

[2020-02-21 23:45] GFynbo commented on #18869
@oliviertassinari Certainly makes sense to me! I'll work on that.

[2020-02-21 23:57] oliviertassinari commented on #19798
@gforrest-bw Thanks for opening an issue. You seemed to have identified a great improvement opportunity. We have had a couple of iteration on the stringify method, and it's still a partial solution. However, I think that using `getOptionLabel` is great, at least, as long as you keep the customization of the component low.

What do you think of this diff? Do you want to work on a pull request? :) I

[2020-02-22 00:02] geochronology opened #19801 "Unable to clear selected tab indicator when route changes to button-based login page"
I'm encountering an error when I try to clear the selected tab indicator from my Tabs navigation.

The <Tabs> element contains five individual Tab components in addition to a Button component that reroutes the user to our login screen.

If I click on the Login button, then the console displays the following error: "Material-UI: the value provided `5` to the Tabs component is invalid.
None of the T

[2020-02-22 00:03] oliviertassinari commented on #19500
I have added the `waiting for users upvotes` tag. I'm closing the issue until we get more traction for it. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-02-22 00:10] oliviertassinari commented on #19797
I'm closing as the behavior looks expected. We would be happy to reconsider it when we have a compelling use case for a different behavior.

[2020-02-22 00:10] #19797 closed

[2020-02-22 00:11] #19801 closed

[2020-02-22 00:16] oliviertassinari commented on #19796
@Floriferous Thanks for the report, yes, it sounds like something we would want to fix.

[2020-02-22 00:40] Studio384 commented on #18869
Should the `max` prop show the max number of user avatars, or just avatars tho? Do we expect `max=5` to give 5 avatars and a +-avatar, or 4 avatars and a 5th avatar with the +-avatar in case it is more than 5.

[2020-02-22 00:53] oliviertassinari commented on #19637
The best fix I could find so far is

[code]

However, it's related to #19779 and #19705. I suspect we can use a single solution for these 3.

(I'm not sure that a reset of the index to -1 after selection is an option. It seems quite disruptive for keyboard users with `filterSelectedOptions` and `disableCloseOnSelect`).

[2020-02-22 01:33] jonatanklosko commented on #19637
Looks like a good solution to me!

Not sure how this relates to #19779, as it has to do with initial scroll position, not highlight. For #19705 I'd say it makes sense to introduce `resetHighlightOnSelect` that jumps the highlight index to 0 (unless it's empty, otherwise `-1`), as both behaviors may be useful in some cases.

[2020-02-22 01:35] oliviertassinari commented on #19637
Here is a proposed solution for #19637, #19779, and #19637. Let us know if it works for your use case!

[code]

We will probably need to add one test case per issue for this logic (corresponding to each issue).

[2020-02-22 01:35] oliviertassinari commented on #19779
Here is a proposed solution for #19637, #19779, and #19637. Let us know if it works for your use case!

[code]

We will probably need to add one test case per issue for this logic (corresponding to each issue).

[2020-02-22 01:35] oliviertassinari commented on #19705
Here is a proposed solution for #19637, #19779, and #19637. Let us know if it works for your use case!

[code]

We will probably need to add one test case per issue for this logic (corresponding to each issue).

[2020-02-22 01:41] oliviertassinari commented on #19426
I'm closing as I don't think there is much leverage to apply.

[2020-02-22 01:41] #19426 closed

[2020-02-22 03:09] jonatanklosko commented on #19637
Definitely works for me! Have been trying to write a test, but somehow cannot get it to work:

[code]
(the second highlight check still says it's `'three'`, even though the option should be filtered out, I must be missing something here)

[2020-02-22 11:39] oliviertassinari commented on #19677
@chybisov I think that we should revert and ignore the blurry issue.
As far as I understand it, there is no clear explanation of why a z-index fixed the problem in the first place, nor that it will keep working.

[2020-02-22 11:59] #19479 closed

[2020-02-22 12:34] oliviertassinari commented on #19787
This is part of the constraints of the chip. You can use a smaller variant to avoid the issue.

[2020-02-22 12:34] #19787 closed

[2020-02-22 12:45] #19778 closed

[2020-02-22 14:35] oliviertassinari commented on #19574
I would propose the following diff:

<img width="320" alt="Capture d’écran 2020-02-22 à 13 41 48" src="https://user-images.githubusercontent.com/3165635/75094133-c3f8d800-5588-11ea-9363-86a95d6a5b24.png">

[code]

What do you guys think about it? @d0minikt Do you want to open a pull request? :)

[2020-02-22 14:43] oliviertassinari commented on #19692
Regarding the normalization of the API, I have the following diff in mind:

[code]

[2020-02-22 15:24] dmitriid commented on #19574
Looks really good 👍

Can you try with longer category names? Though it still should look good :)

[2020-02-22 15:26] oliviertassinari commented on #18450
I'm still confused about the problem we are trying to solve here. So far, I have seen the following mentions:

1. "A have millions of options".
In such a case, you will need to run a query to the backend for every throttled keystroke. We can't expect the end-users to scroll many options. After 10, I would start to question the humain attention and focus. For instance, Google displays at most 10 se

[2020-02-22 15:28] oliviertassinari commented on #19574
28 pixels?

[2020-02-22 16:49] oliviertassinari commented on #18815
@haseebdaone I had a closer look at the changes. I think that a change, in this order, will solve our problem. Note that the tests will also need to be updated :)

[code]

[2020-02-22 17:32] oliviertassinari commented on #19137
Following up on https://github.com/mui-org/material-ui/issues/19137#issuecomment-573345041, I have tried a quick POC, it seems to be good enough. If somebody wants to complete it and open a pull request, it would be awesome/

<img width="548" alt="Capture d’écran 2020-02-22 à 18 13 31" src="https://user-images.githubusercontent.com/3165635/75096357-24930f80-559f-11ea-81df-f7c0128136b7.png">

[co

[2020-02-22 17:36] chybisov commented on #19677
@oliviertassinari blurry text with z-index and transitions is known chrome issue and I've already explained why this happen in PR.

[2020-02-22 17:43] oliviertassinari commented on #19677
Does Chrome as an issue on its bug tracker we can look at?

[2020-02-22 20:34] GFynbo commented on #18869
I think reasonable behavior is to show the number defined with an additional +x avatar shown after for a total of 6 avatars displayed. It seems fairly logical to have the max shown prop show that number of avatars with the remaining in an additional +x prop.

[2020-02-22 23:06] onzag commented on #16665
This solution does not work for me.

The location of the element is lost in chrome, it goes back to the begining (but not on firefox).

I attempted different ways, from focusing manually, but the location always goes back to the beggining.

Google Chrome 80.0.3987.100 beta
Google Chrome 80.0.3987.100
Google Chrome 81.0.4044.26 beta

Tested on all of them, same behaviour.

[2020-02-22 23:49] jonatanklosko commented on #19637
Definitely works for me! The following test passes after applying the fix:

[code]

[2020-02-23 00:32] jedwards1211 commented on #18450
Fair enough, yeah I guess it's not likely that the user would scroll a huge amount

[2020-02-23 06:06] gmonte commented on #5421
This bug still exists in version 4.5.0.
I need access the form reference inside the Dialog.
How I solve this problem?

[2020-02-23 09:10] thundermiracle commented on #19797
@oliviertassinari
The most common use case is making a search bar like google does.
And of course google search bar displays same options no matter I input `The Shawshank Redemption` or select `The Shawshank Redemption` from the drop down options.

I was trying to just load options once and achieve the same effect so I opened this issue.
So as the behavior is expected, I have to make async request

[2020-02-23 09:30] oliviertassinari commented on #19797
Exactly

[2020-02-23 09:41] thundermiracle commented on #19797
@oliviertassinari
Thanks for your time!

[2020-02-23 10:30] chybisov commented on #19677
@oliviertassinari I don't have exact link to an issue. Text becomes blurry when transform transition with z-index is used what other confirmations are needed? :)

[2020-02-23 10:57] oliviertassinari commented on #19773
Solved by #19789

[2020-02-23 10:57] #19773 closed

[2020-02-23 11:03] oliviertassinari commented on #19677
@chybisov Could it be a Chrome only thing? Does it reproduce on Safari of Firefox?

[2020-02-23 11:53] chybisov commented on #19677
@oliviertassinari checked Chrome (Windows, Mac), Firefox (Windows, Mac), Safari and it seems only Chrome Windows has this issue.

[2020-02-23 11:55] haseebdaone commented on #18815
I'll give this a go

[2020-02-23 15:39] nikitabudkovskiy opened #19824 "How to fix the change of the first slider?"
Hey guys
When developing an application, I encountered such a problem.
When you move the second slider and higher in a certain area, the first slider begins to change.
![image](https://user-images.githubusercontent.com/7972703/75115020-91c4a480-5674-11ea-8fdd-fa8bc925e674.png)

If you change the slider just below the current value, the first slider starts to change, and not the current
If the valu

[2020-02-23 16:51] adyfk opened #19826 "PrimarySearchAppBar Demo"
in the UI demo material, I found missing "fade" components in the style  "@material-ui/core/styles/fade"

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Cont

[2020-02-23 19:21] jeromeSH26 opened #19827 "AutoComplete:<li> cannot appear as a descendant of <li> when using ListItem in renderOption"
Hi guys,
I have this boring warning when using a ListItem object as renderOption:
`Warning: validateDOMNesting(...): <li> cannot appear as a descendant of <li>`.

Can't find how to bypass it. Any idea?

[code]

[2020-02-23 20:09] #19824 closed

[2020-02-23 20:14] joshwooding commented on #19826
fade is imported on the second line: https://github.com/mui-org/material-ui/blob/758246193afc8353c642522fdc46d93eaef89c62/docs/src/pages/components/app-bar/PrimarySearchAppBar.js#L2

[2020-02-23 20:14] #19826 closed

[2020-02-23 20:43] sibelius commented on #18166
I've got the same error when using Popover api

is there a quick fix for this?

[2020-02-23 20:46] sibelius commented on #18166
[code]

[2020-02-24 00:30] ergilaze opened #19831 "Multiple Menus issue"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I use Array.map() and place Menus inside it, when I try to get the index from the element, it gives the last index

My code:

array contains 3 items.
[code]

## Expected Behavior

[2020-02-24 01:18] alecananian commented on #19831
Is your loop supposed to be rendering multiple `Menu`s or `MenuItem`s?  Because right now, you'd be rendering a new `Menu` for each item in the array.  Try moving the `array.map` inside the `Menu` tags instead.

[2020-02-24 01:58] ergilaze commented on #19831
@alecananian I want to render multiple Menus for each element in the array and you're right, the Menus overlap each-other. Do you know how I can fix that?

[2020-02-24 03:07] adyfk commented on #19826
they not export the fade . you can try to install latest version .

we need to use
import * as styles from

styles.fade
we need to make it to get fade method

[2020-02-24 04:54] alecananian commented on #19831
It depends on the behavior of the Menus. If they're triggered by clicking a button, you'll need to anchor them to some element, like [this example](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/menus/SimpleMenu.js) from the docs.

[2020-02-24 07:40] #19831 closed

[2020-02-24 07:58] Jongkeun opened #19832 "[Autocomplete] Wait for User to Stop Typing"
Hello. Thanks for an awesome component!
These are quite nice and super useful.
I appreciate.

I'm curious about how I can go through a problem.
I have data options of about 5000.
So when I start to write down something in TextInput, rendering was a little slow.
And textinput wasn't working clearly.

So I came out with a way to filter when a user stopped typing.

I tried with `renderInput` and `set

[2020-02-24 08:21] pApApAw commented on #19780
@Romcol , experience that few days ago. I fixed this issue by switching the `<div id="root">${html</div>
<script async src="${baseUrl}/bundle.js"></script>` if you are using their SSR boilerplate.

[2020-02-24 08:52] #19832 closed

[2020-02-24 11:22] fbarbare opened #19833 "[Select] - When the Select is disabled the dropdown arrow is not greyed out"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The dropdown arrow is not greyed out
![image](https://user-images.githubusercontent.com/5055248/75147901-4c48bb80-56f6-11ea-82b4-0acb4ea70c0a.png)

## Expected Behavior 🤔

As per the

[2020-02-24 11:34] ronaksonigara opened #19834 "@material-ui/pickers sandbox not working"
https://codesandbox.io/s/8gpxl

[2020-02-24 11:34] ronaksonigara opened #19860 "[DatePicker] Codesandbox link not working"
https://codesandbox.io/s/8gpxl

[2020-02-24 11:53] eps1lon commented on #19834
Probably due to using latest versions of date-fns. Which is not supported by /pickers v3.

[2020-02-24 12:07] ronaksonigara commented on #19834
Tried using different versions but it still not working. Kindly help me with the version.

[2020-02-24 12:21] ergilaze commented on #19831
@alecananian That's exactly what I have and still doesn't work.

[2020-02-24 12:35] ergilaze commented on #19831
@alecananian SOLVED.

Just added index in the handleClick function.
`onClick={(e) => this.handleClick(e, index)}`

`open={index === menuIndex}`

[2020-02-24 13:28] rommelmamedov opened #19835 "Autocomplete incompatibility with InputProps."
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Autocomplete element stop working after adding **'InputProps'** prop to the **TextField**.

## Expected Behavior 🤔

I want to render Autocomplete with custom **'startAdornment'**

##

[2020-02-24 13:50] rommelmamedov commented on #19835
I find it out it's because I didn't pass **`...params.InputProps`** to InputProps... 😓
It should be like this: InputProps={{ ...params.InputProps, startAdornment: <div/>}}

[2020-02-24 13:50] #19835 closed

[2020-02-24 14:23] gespispace commented on #19834
@ronaksonigara I changed version @date-io/date-fns on 1.3.13 and it is work.

https://codesandbox.io/s/material-demo-nzfim

[2020-02-24 14:55] ronaksonigara commented on #19834
Thanks it's working

[2020-02-24 15:55] latoura opened #19836 "[Autocomplete] Clicking on the GitHub input's demo is closing the popup"
When using the Autocomplete component with custom template (like the GitHub Autocomplete in the Material-UI documentation), when the Popper is opened, the input is empty. Clicking on the empty input is closing the Popper instead of just getting the focus.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this rep

[2020-02-24 16:01] oliviertassinari commented on #19836
@latoura Thanks for reporting this regression.

[2020-02-24 16:03] oliviertassinari commented on #19834
I believe the root issue was solved in the work-in-progress v4 of the pickers component by moving @date-io as an internal dependency. cc @dmtrKovalenko for confirmation. I'm not sure what can do about it in the meantime 🤔

[2020-02-24 16:04] dmtrKovalenko commented on #19834
https://codesandbox.io/s/material-demo-bqjuv

[2020-02-24 16:07] oliviertassinari commented on #19834
So we can either 1. start the upgrade to v4-alpha or lock the version in 2.
https://github.com/mui-org/material-ui/blob/8d0a7e19446849b8d5992b27ee3ee48b76005596/docs/src/modules/utils/helpers.js#L98-L110
?

[2020-02-24 16:08] dmtrKovalenko commented on #19834
I think we should not propagate alpha version, because we are still planning breaking changes.
Lets wait to the first beta

[2020-02-24 16:50] larsenwork commented on #18005
@oliviertassinari not sure if exactly the same issue but in a typescript project I ran into having a theme like

[code]

# Steps to reproduce:
1. Have `theme.palette.background.default = "white"`
2. Don't get any type warnings/errors and the app seems to work fine
3. Load a snackbar and get thrown an error `Material-UI: unsupported `white` color.`

Try out sandbox here: https://codesandbox.io/s/ma

[2020-02-24 17:08] larsenwork commented on #18005
As an aside somehow it understands that e.g. `theme.palette.primary.main` can't be black.
Looking at the typescript definitions I don't know how it does that. It seems like it's only a runtime check inside [colorManipulator](https://github.com/mui-org/material-ui/blob/5147ac2c008d1b253180267d56257b93c820faf7/packages/material-ui/src/styles/colorManipulator.js#L111).

![image](https://user-images.g

[2020-02-24 18:37] gforrest-bw commented on #19798
I'd be happy to work on a PR. I'll probably open it under my personal account (@a-type) off work hours.

[2020-02-24 19:02] simkessy commented on #19834
I'm having an issue with date pickers at the moment where it's showing me 1 day behind the selected date.

The displayed date in Material UI Pickers is 1 day behind the selected date:

I selected 25th, the value in formik is 25th but the value displayed on the form is 24th.

[code]

[code]
[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/rOSbx.png

Could it be a dependency

[2020-02-24 19:05] oliviertassinari commented on #19798
@gforrest-bw Awesome :D

[2020-02-24 19:55] jeromeSH26 commented on #19692
[code]
FYI
typescript is complaining because all MUIAutoComplete classes are not in ThemeOptions object.

[2020-02-24 19:57] oliviertassinari commented on #19692
@jeromeSH26 See #19655.

[2020-02-24 20:23] jeromeSH26 commented on #19692
@oliviertassinari merci Olivier, but I already had a look at the official answer ;-)
Of course extending the default theme is a solution (that I have partialy applied BTW) but this is not very dry and quite annoying as you mostly need to recreate/reimporte all the types related to the classes already done by the lab. ;-)

Would you mind having a look at #19827  ? This is also an annoying situation

[2020-02-24 20:36] dmtrKovalenko commented on #19834
@simkessy, no it is definitely not version issue

[2020-02-24 22:17] joshwooding commented on #19826
It's exported here:

https://github.com/mui-org/material-ui/blob/8d0a7e19446849b8d5992b27ee3ee48b76005596/packages/material-ui/src/styles/index.js#L1

[2020-02-24 22:41] simkessy commented on #19834
Any idea what the issue could be here?

[2020-02-24 23:48] kelly-tock commented on #18018
what built in components are also dynamic? Box was mentioned above, are there others or am I misreading that?

[2020-02-24 23:50] kelly-tock commented on #19772
https://github.com/mui-org/material-ui/issues/18018

[2020-02-25 06:20] thierryMic commented on #15745
This is how i solved the problem for me, hope it helps.

- Remove node_modules and the yarn.lock file
- reinstall everything with yarn install

Note that my yarn.lock file appeared to refer to multiple versions of @material-ui/styles.

[2020-02-25 06:21] sedelgadof commented on #11138
hello friends is my first participation
only add this code in the container style={{width: this.state.open ? '' : 0}}
and the fancy animations work perfectly !!!!

[2020-02-25 06:31] ahmetcaglayan opened #19839 "AutoComplate default value selected problem."
https://codesandbox.io/s/friendly-payne-fhzdh

The example I prepared above does not seem to be selected as such. But it works when I assign "null" to useState default.

Why do I have to assign a null at first?

[2020-02-25 06:54] danhtn commented on #8738
Try with below CSS:

`.MuiTable-root {
  .MuiTableCell-root {
    min-width: 120px;
    max-width: 120px;
    .MuiIconButton-root {
      padding: 0px; // Style for action buttons
    }
  }
}`

[2020-02-25 09:02] luky1984 commented on #19360
Upgrade dependencies to

"@material-ui/core": "4.9.4",
"@material-ui/icons": "4.9.1",
"@material-ui/pickers": "3.2.10",
"react": "16.12.0",
"react-dom": "16.12.0",

devDependecies

"@types/react": "16.9.22",
"@types/react-dom": "16.9.5",

[2020-02-25 09:37] nainardev opened #19840 "[Docs for Skeleton] Use React Suspense in example"
Cleaner and easier to read

[2020-02-25 10:01] eps1lon commented on #19840
Your issue has been closed because it does not conform to our issue requirements.

[2020-02-25 10:01] #19840 closed

[2020-02-25 10:23] gmltA opened #19842 "[Autocomplete] Decoration with 'withStyles' fails in TypeScript"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Decoration of `Autocomplete` with `withStyles` breaks TS compliation. I believe there have to be a way to infer Autocomplete's type in a wrapper, but I couldn't come up with a solutio

[2020-02-25 11:20] akharkhonov opened #19843 "[Autocomplete] Add ability to control options selections"
Add ability to control options selections with the new optional `onOptionSelect` callback.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
When user wants to selects an option with the mouse  or keyboard,  component checks for a  callback and then calls it with an option as an argument  bu

[2020-02-25 11:23] akharkhonov commented on #19843
Here is main idea:
[code]

[2020-02-25 12:50] LukasDeco opened #19845 "Unclear how to customize Palette types in Typescript"
I am using Typescript and unable to add custom properties to Palettes in my MUI theme successfully.

## Current Behavior 😯

I create a type interface to add custom properties to the Palette like so:
[code]

I am trying to a lot of interfaces to get it to work...

Then I use those types in my theme like this:

[code]

I use that function to create my main theme by importing it and calling it:
`cons

[2020-02-25 12:56] kurbatov commented on #12779
I would like to draw an attention to this issue one more time because now in 4.9.4 it still exists and stil breaks the expectations.

Is it possible to make the Material UI Input component to have the cursor at the end after autofocus not writing ref-boilerplate for every single one of the them?

[2020-02-25 13:51] Floriferous commented on #14860
Well it's nice if you're the user, just disable lastpass, but we're all developers here right? So what can we do to prevent our forms from being broken for our users who do use LastPass (and who will never find this github issue)?

[2020-02-25 13:57] oliviertassinari commented on #14860
To be clear, this error doesn't break anything on the page, it's noise for developers. If you want to get it fixed, contact LastPass support, the more requests, the more likely they will prioritize it.

[2020-02-25 14:00] alexeymarkov commented on #17895
It is still an issue.
For instance I cannot set "width" to avoid multi line for tooltips with spaces.

[2020-02-25 14:01] eps1lon commented on #19845
Could you provide a complete example? There are a couple of steps that are unclear regarding where/when they happen.

[2020-02-25 14:26] kelly-tock commented on #18018
I removed strict mode during development mode on the app i'm working on and that helped with this issue. interestingly with strict mode on, I was still getting this with `CardMedia` component.

[2020-02-25 14:33] Floriferous commented on #14860
My bad, I had another weird error that caused my input to bug, this error is indeed just noise.

[2020-02-25 14:59] Julien-Hery commented on #19836
@oliviertassinari After some investigations I don't think it's a regression.

This behavior comes from the fact that the [Customized Autocomplete](https://material-ui.com/components/autocomplete/#customized-autocomplete) example creates a function called `handleClose` which will clear `anchorEl` used by the `Popper`.

In most of the examples the `Autocomplete` component may have an `Indicator` (th

[2020-02-25 15:10] YuryShkoda opened #19846 "[Radio] Centering issue in Safari"
Dot in radio button is not centered in Safari for 13 and 15 inches screens. On iphone (checked on iphone Xs), chrome and firefox the dot is perfectly centered.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹
That is how I style m

[2020-02-25 16:18] piyushkathayat commented on #8237
@oliviertassinari
below styles changes border-bottom-color but on hover, it didn't work.

`root: {
        '& .MuiInput-underline:before': {
            borderBottomColor: props => props.border || lightGrey
        }}`

Any possible solution.

[2020-02-25 16:44] rusakovStas opened #19847 "Set value to Autocomplete field via JS"
Hello!
Before all - thank you so much for your components!
Please help me!
I've been trying to figure out how to correctly set value to Autocomplete field for the last day(
I wrote a new feature for Autocomplete field in my app - handling a Copy Past of few values.
It works like a charm, but when i try do so via JS in an Integration autotest - it's not working(

`(function(element) {element.value

[2020-02-25 17:24] yann120 commented on #19709
Hi, can we do a PR to fix this tonight ?
I'm going to the meetup "Contribute by Doctolib" and I'm looking for 'good first issues' :)
Thanks

[2020-02-25 17:47] oliviertassinari commented on #19709
@yann120 I was working at Doctolib, sounds great! 😆

[2020-02-25 18:14] sarnendumukherjee commented on #1129
were there any solution given for this problem? I am facing the same issue!

[2020-02-25 18:16] rdsedmundo opened #19848 "[material-ui][docs][Tooltip] Create a demo to show how to change the distance between the tooltip and its container"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary/Example/Motivation 💡🌈🔦

I'd like to be able to control the distance where the tooltip is placed. I searched through the props, style classes, and also here in the Github issues but I didn't find anything that was easy to configure to achieve thi

[2020-02-25 18:20] captain-yossarian commented on #19779
@fast0490f @oliviertassinari I will pick it up if you don't mind

[2020-02-25 19:00] oliviertassinari commented on #19848
Using the padding/margin is the right direction to take.

[2020-02-25 19:07] rdsedmundo commented on #19848
Can you please clarify how exactly?
https://codesandbox.io/s/modest-solomon-qjxqk

[2020-02-25 19:10] oliviertassinari commented on #19848
This is left to be answered on StackOverflow.

[2020-02-25 19:37] waker-lna commented on #8171
It could be nice to be able to change the asterisk to adhere to the newest UX recommendation: https://www.nngroup.com/articles/required-fields/

[2020-02-25 19:40] joshwooding commented on #19846
Hmm, looks like it might be slightly off.

Above website:
![765BA58B-49A0-484E-B90C-1E31E62BC671](https://user-images.githubusercontent.com/12938082/75281131-9de06b80-5806-11ea-9149-aa766025e9b7.jpeg)

Docs:
![96C14D40-C2BA-4317-8260-8282F8A66822](https://user-images.githubusercontent.com/12938082/75281174-ac2e8780-5806-11ea-88a0-9aa5409b6125.jpeg)

Tested on an iPhone

[2020-02-25 19:49] mitchied commented on #18698
@kybarg any updates on this bug?

[2020-02-25 20:17] oliviertassinari commented on #19846
@joshwooding Thanks for the confirmation, the solution seems simple: apply the scale transformation to the overlapping svg elements.

[2020-02-25 20:19] oliviertassinari commented on #19846
Do you confirm the following?

[code]

[2020-02-25 20:22] #16795 closed

[2020-02-25 20:29] oliviertassinari commented on #8171
@waker-lna Could you expand on this? What do you mean by change?

[2020-02-25 20:37] oliviertassinari commented on #1129
@sarnendumukherjee Check what happens with a native `<input>` and `<button>`.

[2020-02-25 20:41] oliviertassinari commented on #19833
There is a reference to it in https://material.io/design/interaction/states.html#disabled. From what I understand, we could use inheritance (opacity)

[2020-02-25 21:00] joshwooding commented on #19846
Can confirm that worked :)

Implementation comment for someone who will take this on: We probably don't want to change layer to dot currently just in case it breaks styles. It might be something to include in v5

[2020-02-25 21:39] oliviertassinari commented on #19846
Well, it's a private component `@ignore - internal component`.

[2020-02-25 21:42] mbrookes commented on #11138
@sedelgadof AFAIK, this was fixed in #12241.

[2020-02-25 21:54] joshwooding commented on #19846
Do we classify the CSS it exposes as private then?

[2020-02-25 22:01] oliviertassinari commented on #19846
As far as I know, developers can't interact with the style of private components, the class names are non-deterministic, not accessible with the theme.

[2020-02-25 22:35] deymundson commented on #19739
@oliviertassinari I can take this on

[2020-02-25 23:16] thundermiracle opened #19852 "[Autocomplete] Dropdown list obstructs the label when displayed above"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/25689126/75296049-86899880-586f-11ea-9558-454c412ffc68.png)

## Your Environment 🌎

| Tech        | Version |
| ----------- | -------

[2020-02-25 23:29] thundermiracle commented on #19839
IMO
[code]

[2020-02-25 23:56] LukasDeco commented on #19845
Sorry my bad, I'll include my full theme:
[code]

[2020-02-26 00:48] IAmMarcellus commented on #11552
@oliviertassinari I think this may have been incorrectly closed as https://github.com/mui-org/material-ui/issues/6140 was about making the props responsive, which isn't related to this and didn't resolve this issue.

[2020-02-26 00:54] IAmMarcellus commented on #9098
@mcobzarenco I don't think they ever fixed this issue. Somone created another issue for it here: https://github.com/mui-org/material-ui/issues/11552, but it was closed as a part of https://github.com/mui-org/material-ui/issues/6140, although that never resolved it. @oliviertassinari any word on if this will be resolved?

[2020-02-26 02:20] amcasey commented on #19113
Looks like `emotion` might be in the same boat.

[2020-02-26 04:07] chaudharykiran commented on #19709
I am afraid, I may not be able to send PR for this tonight. cc. @oliviertassinari @yann120

[2020-02-26 04:11] GFynbo commented on #18869
PR #19853 deals with max prop

[2020-02-26 04:36] codyng opened #19854 "material-ui + nextjs do not respect createGenerateClassName or <StylesProvider>?"
Hi all,

I am not sure if this is the bug or I don't know how to configure material-ui + nextjs.
I wanna add the productionPrefix from StyleProvider's createGenerateClassName.

My nextjs is based on the sample:
https://github.com/mui-org/material-ui/tree/master/examples/nextjs

No matter I inject <StylesProvider generateClassName={generateClassName}> to _app.js or _document.js, I can't make the "p

[2020-02-26 04:58] codyng commented on #19854
I've found the solution:
https://codesandbox.io/s/nextjs-qyxpl

[2020-02-26 04:58] #19854 closed

[2020-02-26 05:16] codyng commented on #14327
So can we disable the generation of injection of <style id="jss-server-side">html {...} into the HTML so we don't need to manually remove it in the client side script?

[2020-02-26 07:56] mrlexz opened #19855 "Failed prop type: Invalid prop `value` supplied to `Select`, antd"
I got this warning when i use initialValue for Select in antd
my code here:
[code]
Help me plz~

[2020-02-26 09:11] #19839 closed

[2020-02-26 09:23] agongdai opened #19856 "material-ui: Cannot find module: './AccessAlarm'"
We have a project using @material-ui. It's built upon:

- create-react-app: 3.4
- node: 10.18.1
- yarn: 1.21.1
- @material-ui: 4.9.x

This problem is weird: i can `yarn start` and `yarn build` locally, the versions are exactly the same as server. However, after I push to server, it failed:

[code]

The building steps on server is:

[code]

The failed line is:
[code]

or

[code]

Anyone has any ide

[2020-02-26 09:31] eps1lon commented on #19856
@agongdai  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-02-26 09:51] yann120 commented on #19709
Hey @oliviertassinari , we fix it yesterday at Doctolib event with your advices. But we write a new test and we can't make it pass... But we are working on it and try to understand why 👍

[2020-02-26 09:52] oliviertassinari commented on #11552
Right, it seems to be a single missing value we could add to be comprehensive :).

[2020-02-26 09:53] #11552 closed

[2020-02-26 09:54] oliviertassinari commented on #11552
My bad, it's a brand new CSS property. This will be handled when enabling all the system's props for the core components.

[2020-02-26 09:56] dyaacov commented on #19600
Appreciate some assistance here.

[2020-02-26 09:57] oliviertassinari commented on #9098
This feature should come for free with #15561

[2020-02-26 10:21] agongdai commented on #19856
@eps1lon , thanks for the reply. Well, the weird thing is, i can run it locally, but cannot run it on server. The server actually worked well before. It suddenly failed. Not sure whether other people had the same experience. Andway, i really cannot replicate the issue. That's annoying.

[2020-02-26 10:25] junibrosas commented on #12290
@oliviertassinari Hi, regarding overriding default nodes to Typography, can your demo also be implemented using `react-markdown`?

[2020-02-26 10:25] Romcol commented on #19780
@pApApAw Sorry, I don't get it.

Any way I can solve this issue or bypass it?

[2020-02-26 10:27] oliviertassinari commented on #12290
react-markdown was really slow, and doesn't seem to have changed. I would avoid it.

[2020-02-26 10:31] eps1lon commented on #19856
You might find better help on stackoverflow or our spectrum.chat.

We use the issue tracker for bug reports and feature requests. Once you can reproduce the issue feel free to open a new issue.

[2020-02-26 10:31] #19856 closed

[2020-02-26 11:03] muzamil301 opened #19859 "./node_modules/@material-ui/lab/esm/useAutocomplete/useAutocomplete.js Attempted import error: 'useControlled' is not exported from '@material-ui/core/utils'."
[code]
Corresponding versions

`"@material-ui/core": "^4.8.3",
"@material-ui/lab": "^4.0.0-alpha.44",`

I am trying to use autocomplete component and facing this issue.
link for component [https://material-ui.com/components/autocomplete/#multiple-values](url)

[2020-02-26 11:21] #19859 closed

[2020-02-26 12:10] OriginLive commented on #15000
@oliviertassinari In my page, buttons appear gray (disabled), for mobile users if a form throws an error. The same bug happens when testing on chrome and setting it in responsive mode.
Is there a fix for this issue

[2020-02-26 12:23] oliviertassinari commented on #19438
Closing as a duplicate of #19860

[2020-02-26 12:23] #19438 closed

[2020-02-26 12:30] oliviertassinari commented on #19860
@ronaksonigara What do you think of this temporary patch? Do you want to submit a pull request? :)

[code]

[2020-02-26 12:35] ronaksonigara commented on #19860
@oliviertassinari Thank you for all the help. This temporary patch works.

[2020-02-26 13:01] Floriferous opened #19861 "[TextField] Display helperText on focus only"
There may already be a nice way to do this, but I couldn't find it.

I'd like to be able to display an Input's FormHelperText only if the input is focused. It should however always display the helperText if it is an error (and override the helperText).

I believe these are the main possible states:
* If input is `error: true`, display the error helperText
* If input is `error: false`, and input is

[2020-02-26 13:08] muzamil301 commented on #19859
thansk for response, issues is resolved my lab version was updated and material core version was outdated, now using updated versions

[2020-02-26 16:32] codyng opened #19863 "material-ui + nextjs: Plenty of styles are inserted to the HTML when production build"
Hi there,

I am using material-ui with nextjs. When building and export to static HTML files, there are plenty of styles embedded to the HTML pages, which make very large file size. Those are embedded in-between <style id="jss-server-side"></style>.

According to the guild, these styles will later be removed:

[code]

I am wondering if it is fine to not embed the styles to the HTML and how to do t

[2020-02-26 16:34] #19863 closed

[2020-02-26 16:53] callmeberzerker opened #19864 "SwitchProps exposed from @material-ui/core should have onFocus and onBlur"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

TypeScript will complain that `Switch` doesn't support `onFocus` and `onBlur`

## Expected Behavior 🤔

`onFocus` and `onBlur` should be added to `SwitchProps`.

[2020-02-26 16:54] goffioul commented on #19423
I think I'm running into the exact same problem in my application. I created a sandbox to illustrate it (before I realized this issue already existed): https://codesandbox.io/s/loving-ritchie-ulvin
- when using `value`/`onChange`, the state is not updated when entering free text
- when using `inputValue`/`onInputChange`, the component is shown with an initial empty value

[2020-02-26 18:07] ilmiont opened #19865 "[TablePagination] Out of range warning when "count={-1}""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

The `count={-1}` should, per the documentation, indicate that the total count is unknown as we are (probably) using server-side pagination.

I therefore expect to be able to u

[2020-02-26 18:26] TommyJackson85 opened #19866 "[Drawer] Mini Variant Example with discoverable menus on button links."
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

A new version / example of the Mini Variant drawer, in which we could demonstrate how to include a discoverable menu on each button link of the side bar.

**My current progress:**
https://codesandbox.io/s/material-demo-su5e4
I added the menus

[2020-02-26 18:49] smerriman18 opened #19868 "[Drawer] Confusing drawer documentation"
The `<div className={classes.toolbar} />` component that leads to the styles component `toolbar: theme.mixins.toolbar` is really confusing because you have to go to a different page to figure out that the `theme.mixins.toolbar` is just a 54px margin. It would be more clear to just include a margin.

[2020-02-26 19:25] joshwooding commented on #19868
It might be slightly more confusing but it’s necessary to accommodate for the responsive toolbar styles. I think in this case correctness is better than simplicity, would it help if we added an explanation to the docs?

[2020-02-26 19:39] smerriman18 commented on #19868
That would be wonderful. I spend a lot of time trying to figure out why our content was underneath the app bar, but then discovered that all it needed was a margin. Thank you!

[2020-02-26 19:40] eps1lon commented on #19864
@callmeberzerker  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) is a good starting point. Thank you!

[2020-02-26 19:50] countableSet opened #19869 "[Stepper] Expanded prop missing from typescript"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Looks like a new prop was added to the stepper component for expanding steps, however, looks like it's missing from the typescript definition.

caused by;
https://github.com/mui-org/m

[2020-02-26 20:44] dfernandez-asapp opened #19870 "[RadioGroup] By default unnamed groups are not correctly grouped for accessibility purposes"
An unnamed RadioGroup will handle value changes as expected. However, the input elements of different groups will be on the same group in HTML.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Two unnamed groups handle the React st

[2020-02-26 21:30] callmeberzerker commented on #19864
Hi @eps1lon

It's hard for me to reproduce an issue because both in my code and in the template it "just works". But if I try to navigate to the definition of "onFocus" it doesn't lead anywhere.

Then I took a look at SwitchBase.d.ts

[code]

And `onBlur` and `onFocus` are obviously missing here.

[2020-02-26 22:59] kybarg commented on #18698
@mitchied the case was with `onBlur` event in my case
this is my code of [final-form](https://github.com/final-form/final-form) integration

[code]

[2020-02-26 23:35] oliviertassinari commented on #19870
@dfernandez-asapp Note that we are using (1) in

- https://github.com/mui-org/material-ui/blob/4fba0dafd30f608937efa32883d151ba01fc9681/packages/material-ui-lab/src/Rating/Rating.js#L168
- https://github.com/mui-org/material-ui/blob/4fba0dafd30f608937efa32883d151ba01fc9681/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L123
- https://github.com/mui-org/material-ui/blob/4fba0dafd30

[2020-02-26 23:42] oliviertassinari commented on #19869
@countableSet Thanks for the report, feel free to submit a pull request to fix it :)

[2020-02-26 23:49] oliviertassinari commented on #19865
@ilmiont Thanks for the report. What do you think of this patch?

[code]

Do you want to submit a pull request :)?
I think that we could also add a test interacting with the pagination icons when `count={-1}`.

[2020-02-27 00:08] michaelpward opened #19872 "@material-ui/system spacing transformation rejects an array passed via theme"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Creating a custom theme with a property "spacing" whose value is an array results in a console.error.
The system "transformation" does not take place. Spacing behaves as it does with n

[2020-02-27 00:19] oliviertassinari commented on #19872
@michaelpward Thanks for the issue! There is definitely an inconsistency between
- https://material-ui.com/customization/spacing/#custom-spacing
- https://material-ui.com/system/spacing/#transformation

[2020-02-27 00:28] #19869 closed

[2020-02-27 01:03] dbarabashdev commented on #19865
@ilmiont I did  [Pull Request](https://github.com/mui-org/material-ui/pull/19874) where we potentially fixed your problem. You can jump up too! :)

[2020-02-27 04:44] bobysf12 opened #19875 "Cannot set data-testid into TextField after upgrading to Typescript 3.8.2"
I cannot do this anymore after upgrading Typescript to 3.8.2:
[code]
The app fails to build:
[code]
It used to work with Typescript 3.7.x

@material-ui/core version 4.9.4

[2020-02-27 07:03] el1f commented on #19796
Can't you achieve the same result by providing the `OutlinedInput` with `margin="dense"` though? Is the issue here that the prop that you have to supply to the two components is different which ends up in their use not being very straightforward?

[2020-02-27 07:04] parthjawale commented on #19846
Hey, can I work on this try?
This would be my first issue.

[2020-02-27 07:09] joshwooding commented on #19846
@parthjawale Sure! Hopefully the first of many :)

[2020-02-27 07:24] eps1lon commented on #19875
@bobysf12  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-02-27 07:46] #19454 closed

[2020-02-27 07:52] eps1lon commented on #19864
`obviously` is a very tricky word in programming. These props come from `extends`.

I just verified this in our demos an `onFocus` and `onBlur` are accepted on `<Switch />`. We need the reproduction to understand the issue.

[2020-02-27 08:04] muhammadawaisshaikh commented on #3896
1. link google fonts in your index.html
`<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">`

2. Add in your body style
`/* Styles */
body {
  margin: 0 auto;
  font-family: 'Montserrat';
}`

3. few changes in app.js
`import { MuiThemeProvider, createMuiTheme } from '@material-ui/core/styles';`

`const theme = createMuiTheme({
  typography: {

[2020-02-27 08:50] Floriferous commented on #19796
Yes, it’s about consistency indeed, it’s not intuitive that all that size-small does, is set margin-dense on the input.

I don’t know if making size an alias for margin is the best way, or if size should become the standard API for changing margins and paddings. I would say that size is simpler to understand than margin.

[2020-02-27 09:26] andreivanea commented on #19484
I don't think this issue should be closed. I'm having the same problem with it: it doesn't infer the right type for the _option_.

[code]

In the example above, the component is going to infer `MyOption[][]` instead of `MyOption[]`. Although the suggested workaround makes the code compile again, it just feels weird and I believe it should be fixed in future versions.

This worked until **4.0.0-alp

[2020-02-27 09:45] gmltA opened #19876 "[Autocomplete] freeSolo and disableClearable should impact types"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

As for now, type signature for `onChange` event handler says that `newValue` property should be of type `T[]`:

https://github.com/mui-org/material-ui/blob/a0ab3dfe280bca88758b8e9bac2

[2020-02-27 10:11] eps1lon commented on #19876
Please include the code that is currently rejected by TypeScript.

[2020-02-27 10:32] oliviertassinari commented on #19876
This sounds like a duplicate of #19484.

[2020-02-27 10:33] oliviertassinari commented on #19484
Do you have a reproduction?

[2020-02-27 10:34] akharkhonov commented on #19484
@oliviertassinari  https://codesandbox.io/s/eager-blackwell-1vfve?fontsize=14&hidenavigation=1&theme=dark

[2020-02-27 10:35] akharkhonov commented on #19876
https://codesandbox.io/s/eager-blackwell-1vfve?fontsize=14&hidenavigation=1&theme=dark

[2020-02-27 10:40] akharkhonov commented on #19875
This can help you
[code]

[2020-02-27 10:50] gmltA commented on #19876
@oliviertassinari the cause of both issues are definitely the same.
@eps1lon I encounter no TypeScript errors, but the typing of method is misleading, because the actual value provided by component in `onChange` handler is not compatible with it's type signature. @akharkhonov's example properly illustrates this issue.

[2020-02-27 10:50] parthjawale commented on #19846
Great and thanks!

[2020-02-27 11:16] oliviertassinari commented on #19796
@Floriferous Ideally, I would imagine that the InputBase is only aware of the *size* state, not the *margin* one, we could keep the margin prop scoped to the FormControl component. There is a breaking change constraint to take into account, maybe it could be simpler to delay it to v5?

[2020-02-27 11:35] richnicholls404 opened #19877 "In makeStyles, using a nested selector doesn't work when combined with prop interpolation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When combining interpolation and nested selectors, the nested selectors get ignored

## Expected Behavior 🤔

The nested selectors should be applied to the interpolated class

## Steps

[2020-02-27 11:39] #19877 closed

[2020-02-27 11:54] andreivanea commented on #19484
@oliviertassinari for some reason, I can't get @akharkhonov 's example to fail, even after removing the explicit generic parameter, but in @mr-bjerre 's example, just change `const handleSelect = (e: any, v: any]) => {` to `const handleSelect = (e: any, v: Person[]) => {` and you'll be able to see it.

[2020-02-27 11:54] oliviertassinari commented on #19872
What do you think of this patch?

[code]

Do you want to submit a pull request :)?

[2020-02-27 11:56] akharkhonov commented on #19484
@andreivanea Type something into the textfield, press Enter and press button. You will see fail.

[2020-02-27 12:00] andreivanea commented on #19484
@akharkhonov I get it now. I thought you were trying to point out something else. Your example shows a runtime error, while I was talking about a compile-time one (TypeScript complains about incompatible types).

[2020-02-27 12:52] luansantosti opened #19878 "show InputAdornment on Autocomplete Textfield"
I would like to add an Icon in the autocomplete textfield;

## Summary 💡
I'm trying to use the InputAdornment on a TextField that is inside an Autocomplete, but the Icon doesn't show up. This could be a limitation or may I'm implementing it wrong?

[code]

## Examples 🌈
When the user select the option, the Icon should appears in the TextField also.

![Screen Shot 2020-02-27 at 9 44 39 AM](https://

[2020-02-27 12:56] #19878 closed

[2020-02-27 12:57] oliviertassinari commented on #19878
I believe it's covered in #19479.

[2020-02-27 14:00] luansantosti commented on #19878
Yep, my bad, it works, thanks @oliviertassinari

[2020-02-27 14:09] parthjawale commented on #19846
I tested it on my iPhone 11 Pro. For some reason all radio buttons behave differently.
Tested on the documentation label placement section (http://localhost:3000/components/radio-buttons#label-placement)
The dot is placed at the left in the first and second case, right for the third case and at the exact center for the last one.

Working on a fix.

[2020-02-27 14:09] parthjawale commented on #19846
I tested it on my iPhone 11 Pro. For some reason all radio buttons behave differently.
Tested on the documentation label placement section (http://localhost:3000/components/radio-buttons#label-placement)
The dot is placed at the left in the first and second case, right for the third case and at the exact center for the last one.

Working on a fix.

[2020-02-27 14:11] parthjawale commented on #19846
@joshwooding  I tested it on my iPhone 11 Pro. For some reason all radio buttons behave differently.
Tested on the documentation label placement section (https://material-ui.com/components/radio-buttons/#label-placement)
The dot is placed at the left in the first and second case, right for the third case and at the exact center for the last one.

@oliviertassinari The scale transformation fix seem

[2020-02-27 14:48] Wgil commented on #14357
Guys,

I'm using this as `withStyles` mock:
[code]
But I'm having a prop-types error since I'm using a `className` with object instead of string. Also, my style values are missing from the snapshots:
[code]
[code]

I could manage to fix it by using `JSON.stringify` in my classes but the snapshot output is not nice:

[code]
[code]

What am I missing to get an snapshot like this?
[code]

Any help wo

[2020-02-27 15:29] flotos opened #19879 "Specifying "component" props to "tabs" does not work for Typescript"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.?.?

[2020-02-27 15:41] flotos commented on #19879
My fault, I was using a styled-component wrapper which caused this issue. Sorry for the useless issue

[2020-02-27 16:06] richnicholls404 commented on #19877
Took a while to find the related issue, here for anyone else who gets stuck on this: https://github.com/mui-org/material-ui/issues/16745

[2020-02-27 17:00] embeddedt commented on #19875
As far as I know, TypeScript 3.8 introduced some breaking changes with regards to unions (which I wouldn't doubt Material-UI makes extensive use of). Considering that the `data-testid` property wouldn't be part of any built-in union, it's possible that adding extra props like this is no longer allowed.

Have a look at https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta (breaki

[2020-02-27 18:13] johnaagudelo0820 opened #19880 "[Autocomplete] Testing, simulate change doesn't work."
I need to simulate an onChange event with enzyme to update a state's component  that is not working, I share the component's code in order to be helped.

Component:
[code]
-----------
test component.

[code]

We use GitHub issues exclusively as a bugs and feature request tracker.

For support, please check out https://material-ui.com/getting-started/support/. Thanks!

[2020-02-27 18:45] callmeberzerker commented on #19864
hey @eps1lon -> I failed to reproduce this issue in the codesandbox template and I failed to reproduce it when I opened my project in `vscode`.

It seems for this or that reason, `IntelliJ IDEA` (or WebStorm) fails to properly resolve the field through the inheritance hierarchy. :(

Pity.

Sorry for having you wasted time -> will report an issue at their side.

Closing this issue.

[2020-02-27 18:45] #19864 closed

[2020-02-27 19:17] damusix commented on #18966
@oliviertassinari @r3dm1ke Just an FYI, I have been searching all over the internet how to have a basic "success" button, and everything points to creating a styled component. This completely defeats the purpose of having a theme altogether. If all my forms have a success button, I would need to make a success button component and import it into my forms. We should be to be able to use `<Button co

[2020-02-27 19:24] oliviertassinari commented on #18966
@damusix Agree, it's planned for v5 #13875.

[2020-02-27 19:53] damusix commented on #18966
@oliviertassinari Awesome! What's the timeline for this?

[2020-02-27 21:07] michaelpward commented on #19872
@oliviertassinari Thanks for the quick response and patch!

While my skills are rising rapidly, I don't think I'm at the level where I'm ready to submit PRs :(

I've hacked your patch in on my end and am not achieving the expected result. No matter what I do the padding always comes out as  (value * 8). I cannot get it to use the value from the array.

I'll point out that this is the same when pas

[2020-02-27 22:24] ClementThu opened #19881 "Autocomplete multiple default value"
I need to retrieve selected option from user choice after saving page.
i try : with two array top100film in "options" and top100film2 (with only 2 first films present on array one ) into "defaultValue. The autocomplete show the twos items but the list is not selected and i have the twos first item in double. I try lot of thing it seems only works with top100film[1].

Do you think it's possible two

[2020-02-27 22:28] #19881 closed

[2020-02-27 22:30] oliviertassinari commented on #19881
Tip:  `getOptionSelected`.

[2020-02-27 22:49] ClementThu commented on #19881
Thank for the tip, i find exacly what i need : https://codesandbox.io/s/material-demo-b3nsz

[2020-02-28 00:09] PaulACoroneos commented on #14420
We have many customers who still use ie11. The number is low but sizeable enough to where we would have significant impact. I would hope that the team continues to support ie11 for the foreseeable future. Thanks for your hard work.

[2020-02-28 00:31] mbrookes commented on #14420
@PaulACoroneos When it comes to that stage, are you happy continuing using the last (unsupported) version that works with IE11, or is Hilton willing to pay for long term support? (Not a ransom note, just a practical question based on the reality of us supporting IE11 beyond what is reasonable for the average user.)

[2020-02-28 00:36] DC7T3xer commented on #13281
Who else realised that colSpan is case-sensitive? 😄

[2020-02-28 00:47] PaulACoroneos commented on #14420
@mbrookes Not taken that way at all. I appreciate the work you and the team do a lot. To be honest adoption is currently low. So most likely we would seek out an alternative.

[2020-02-28 01:35] AlexKvazos opened #19882 "[TreeItem] TreeItem hijacks focus when typing on an input box that updates it."
I am using a <TextField /> to change the contents of a TreeView and a matching TreeItem is being focused when I backspace.

CodeSandbox: https://codesandbox.io/s/bold-hill-rw9y5

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The

[2020-02-28 02:52] bobysf12 commented on #19875
Hi @eps1lon ! Thank you for your response! I tried to make an example from the codesandbox link that you provided but unfortunately I couldn't reproduce the problem there.

[2020-02-28 02:55] bobysf12 commented on #19875
That works, but it only works on the `input` field. Whereas I also need to get the label and helper text.
The reason I pass `data-testid` to `TextField` component directly is because I can easily get input, label, and helper text by doing this:
[code]

[2020-02-28 04:50] jkhaui commented on #16862
I am also having major issues trying to include material-ui with create-react-library. Use-case is simple, same as OPs: to create a library of resusable components with material-ui as the base, but this issue makes it impossible

[2020-02-28 06:44] eps1lon commented on #19875
@bobysf12

[code]

I can reproduce the issue though with ` <TextField data-testid="asd" />` and `typescript@3.8.2`.

[2020-02-28 07:45] eps1lon commented on #19882
Can't reproduce:
![mui-tree](https://user-images.githubusercontent.com/12292047/75520751-94bded00-5a06-11ea-8c01-ce32e1c4b122.gif)

Please include your environment as was requested in the template.

[code]

[2020-02-28 07:49] AlexKvazos commented on #19882
[code]

![ezgif-7-84f769697dd8](https://user-images.githubusercontent.com/4448627/75521104-9965af80-59cc-11ea-8748-2604d9484344.gif)

[2020-02-28 08:13] kidokidozh opened #19883 "[Tooltip] onFocus does not work on TextField if using a Tooltip with it"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`onFocus` does not work if using a `Tooltip` with `TextField`:
[code]
This problem does not exist in Material-UI version `<=4.7.1`

## Expected Behavior 🤔

`onFocus` can work when usi

[2020-02-28 08:34] eps1lon commented on #19882
That is not reproducing what you describe though:

Could you describe the additional steps from your gif that are missing from the initial description?

Also please include your browser.

[2020-02-28 08:37] AlexKvazos commented on #19882
@eps1lon  My apologies. Honestly it's not exactly the same each time. What I do to reproduce is to open and close the nodes multiple times, and then start typing items in the list and deleting the query again. Repeating the whole process until at some random point it freezes and I loose focus.

Running
Chrome Version 79.0.3945.130 (Official Build) (64-bit) on Mac OS 10.15.3 (19D76)

[2020-02-28 08:40] eps1lon commented on #19883
Introduced in #18687 which should be reverted until we unterstand mouseEnter/over event propagation in react.

[2020-02-28 08:57] eps1lon commented on #18679
The issue is that `Tooltip` is [taking the original mouseOver](https://github.com/mui-org/material-ui/blob/4fba0dafd30f608937efa32883d151ba01fc9681/packages/material-ui/src/Tooltip/Tooltip.js#L468-L473) and [attaches them to another element](https://github.com/mui-org/material-ui/blob/4fba0dafd30f608937efa32883d151ba01fc9681/packages/material-ui/src/Tooltip/Tooltip.js#L514). If that mouseOver made

[2020-02-28 09:13] theshook commented on #17799
Hello, where should I put this? having the same problem

[2020-02-28 09:16] oliviertassinari commented on #19883
Agree #18687 wasn't probably the best fix for this. It didn't account for components, like the TextField. that might apply the event on a nested element.

I think that a clear solution would be to add an argument to `handleFocus`, `handleLeave`, and `handleEnter` to correctly forward the prop event handler: meaning, stating at the React level, not looking into the DOM.

[code]

[2020-02-28 09:23] eps1lon commented on #19883
The following test as well as the [existing one](https://github.com/mui-org/material-ui/blob/4fba0dafd30f608937efa32883d151ba01fc9681/packages/material-ui/src/Tooltip/Tooltip.test.js#L294) for #18679 should pass:

[code]

[2020-02-28 09:24] oliviertassinari commented on #19677
@chybisov Ok, in this case, I think that we should remove the z-index. The fewer of them we have, the better.

[2020-02-28 09:26] oliviertassinari commented on #19883
All 💚

[2020-02-28 09:28] eps1lon commented on #19882
I think I got it including the crash:

![mui-tree](https://user-images.githubusercontent.com/12292047/75533855-0309ac00-5a15-11ea-8f59-e55151125f8d.gif)

The crash happens when I press `a` after the tree stole focus.

[2020-02-28 09:30] chybisov commented on #19677
@oliviertassinari do you mean we should make above changes or just remove z-index as it was before and leave blur issues as is?

[2020-02-28 09:31] oliviertassinari commented on #19677
I meant to leave the blur as is.

[2020-02-28 09:33] AlexKvazos commented on #19882
Thank you @eps1lon. Happy to work this out if I can be given any pointers.

Frustration made me just think of a "disableKeyEvents" setting on my project to get around it but we probably need something better.

Let me know and happy to help.

[2020-02-28 09:50] eps1lon commented on #19882
With a confirmed reproduction you can work on this. Would be greatly appreciated!

[2020-02-28 10:12] AlexKvazos commented on #19882
@eps1lon I think I need a pointer on why this could happen if I want to fix this with a better solution other than "disableKeyEvents".

If you're okay with that quick fix then happy to send a PR just now.

[2020-02-28 10:34] orenku commented on #12044
I face the same problem- Snackbars are used to provide async information to the user. They should always appear on top of any modal/drawer on the screen.
@aflip has identified the source of the problem correctly

[2020-02-28 11:02] eps1lon commented on #19882
I think starting with a test in https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/TreeView/TreeView.test.js that replays the reproduction would be a good start. Then it might be clearer how the fix should look like.

[2020-02-28 11:39] wederer commented on #19144
Just had this issue and found this issue. I would approve of the change in the demos.

[2020-02-28 11:47] oliviertassinari commented on #19144
@wederer Do you want to work on a pull request? :)

[2020-02-28 12:07] brandonccx commented on #15610
The issue also exists in my development environment when I use `npm link`. For example:

We have two projects A and B
A depends on @material-ui/core
A depends on B
B depends on @material-ui/core
They both have installed node_modules

I get used to link B to A for debugging. When I run the dev-server on project A, B will look for the module from the nearest path which is installed in directory of B

[2020-02-28 13:05] ModKub commented on #16669
Hi,
I am building mirofrontends app with typescript.
I want to use material-ui package as external package for all of my frontends. And I have problems with types.
I share material-ui with systemJs and import maps and have issue with typescript and material-ui like "cannot find module material-ui... " cause this package is not installed directly.

 Separate types package is what I am looking for.

[2020-02-28 13:43] oliviertassinari commented on #15610
@brandonccx https://github.com/mui-org/material-ui/issues/15610#issuecomment-592485700 is a great solution.

[2020-02-28 14:24] dfernandez-asapp commented on #19870
Many thanks for the info, I'll create a PR for this.

But I have two questions, out of curiosity:
1. I see that other frameworks like ReachUI are using a more complex logic for the ID generation, mainly because of SSR. In this approach the `setDefaultId` is called in a `useEffect`, meaning that these ids are ignored for SSR. Is there any undesired behavior for not having the ids in SSR?
2. Why sto

[2020-02-28 14:33] oliviertassinari commented on #19870
1) What would you use the id for prior to hydration?
2) To rerender

[2020-02-28 15:02] OlegBrony commented on #19876
I had similar problem with types for autocomplete.
![image](https://user-images.githubusercontent.com/19880334/75559400-0c623b00-5a4c-11ea-9546-301f663d2446.png)
for some reason the null after T appears. but why if we always get the new value?

[2020-02-28 15:17] oliviertassinari commented on #19876
@OlegBrony The input can be cleared.

[2020-02-28 16:01] lostpebble commented on #19113
I started adding Material UI (`4.9.4`) to my project today, and the slowdown is really so significant that I don't think I can even use it in my project. Just added a simple `<Slider/>` component, customized using `withStyles()`.

We're talking going from instant TypeScript feedback in my IDE to what feels like 5-10 seconds at times (for parts of my code that aren't even interacting with Material

[2020-02-28 16:15] Arhell opened #19884 "[Autocomplete] change ripple"
![0660a06319](https://user-images.githubusercontent.com/26163841/75565016-e04bb780-5a55-11ea-98aa-7c2987898dc5.jpg)
Hi, tell me please, when pressed, it works around and i need a wave like on ordinary buttons
Thanks!

[2020-02-28 16:34] oliviertassinari commented on #19113
@lostpebble Does the same happen by using something else than `withStyles` to customize the slider, say CSS modules?

[2020-02-28 16:36] #19884 closed

[2020-02-28 16:42] Ajaay opened #19885 "[Autocomplete] Inconsistent filterSelectedOptions behaviour when controlled component"
When using the multiselect Autocomplete as a controlled component I am seeing inconsistent behaviour with the filterSelectedOptions option. On my own machine it never filters the initial value, but on Codesandbox it sometimes does and sometimes doesn't.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repos

[2020-02-28 17:29] alishi973 commented on #1404
Worked for Me,Thanks

[2020-02-28 17:34] deymundson opened #19886 "[Select] NVDA does not announce helper text"
This may be captured more broadly by issue #15597
When focus is brought to a (non native) select widget, NVDA announces the label and the value but not the helper text.

NVDA announces native select widgets as expected (value, label, and helper text).

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this reposit

[2020-02-28 17:42] oliviertassinari commented on #19885
This sounds like a support request with how HMR work.

[2020-02-28 17:44] #19885 closed

[2020-02-28 17:46] oliviertassinari commented on #19883
@kidokidozh Do you want to work on a pull request? :)

[2020-02-28 17:48] oliviertassinari commented on #19870
@dfernandez-asapp Do you want to work on a pull request with (1)? :)

[2020-02-28 17:49] dfernandez-asapp commented on #19870
Yes

[2020-02-28 17:50] oliviertassinari commented on #19852
Interesting, thanks for raising. I think that we could add a small margin/padding bottom to the popup. Do you want to work on it? :)

[2020-02-28 17:51] sudoStatus200 commented on #19883
@oliviertassinari  Hi, I would like to work on this.

[2020-02-28 18:51] stliang commented on #204
Suppose I have a popup menu and use

import { Link } from 'react-router-dom';
import MenuItem from '@material-ui/core/MenuItem';
.
.
.
<MenuItem component={Link} to="/your-path">...</MenuItem>

The Link will bring up the /your-path page, how would one close the popup menu?

[2020-02-28 19:49] ScryingMonkey commented on #19697
I am still having this issue when installing @material-ui/icons with yarn.  Manually setting the timeout fixed it for me.
`yarn add @material-ui/icons --network-timeout 500000`

[2020-02-28 20:51] ivan-jelev opened #19887 "[Autocomplete] Add ability to override/compose key down events in autocomplete"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Developer should have ability to override or compose default [onKeyDown functionality](https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L548)

## Examples 🌈

Currently when i s

[2020-02-28 22:15] alexandrelaplante opened #19888 "[Link] gives warning when color="default""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Link will forward its "color" prop to Typography. Link allows color to be "default" while Typography does not.

https://github.com/mui-org/material-ui/blob/a0ab3dfe280bca88758b8e9bac2

[2020-02-28 22:48] Mugungaman commented on #16341
The comments marked off-topic are what I used to solve this same issue.

[2020-02-28 22:49] h0tw4t3r opened #19889 "[Docs] Drawer Component Docs should be upgraded with <Hidden /> element"
`<Drawer />` component is documented with an example of opening `<AppBar />`, and some custom styles used to hide elements, while it could be done with `<Hidden />` component, which would drop off some of the CSS hijacks, and make it more composite.

https://material-ui.com/ru/components/drawers/

[2020-02-28 23:00] oliviertassinari commented on #16341
@Mugungaman Do you have a reproduction for the error?

[2020-02-28 23:00] chybisov commented on #19677
@oliviertassinari from design point of view I can't agree with you here ☺

[2020-02-28 23:17] Mugungaman commented on #16341
**_This recreates, where 'content' is a style applied to a component..._**

_App.js:_

`  const theme = createMuiTheme({
 ...,
  content: {
    padding: 25,
    objectFit: "cover"
  }
});
...
<CardContent className={classes.content}>
`

_Child component:_

`const styles = theme => ({
  ...theme
});`

**_...and this fixes it, wrapping the style name 'content' in a spreadIt object:_**

_App.Js:_
`co

[2020-02-28 23:44] thundermiracle commented on #19852
No problem, I’ll handle it this weekend.

[2020-02-28 23:54] oliviertassinari commented on #19852
Maybe?
[code]

[2020-02-29 00:59] amcasey commented on #19113
@lostpebble We don't currently have a supported way to exclude a particular set of types.  If you really, really want to, the thing to experiment with would be path mappings.  You could try a path mapping like `"@material-ui/*": ["simplemui"]` and then create a `simplemui.d.ts` containing

[code]

That would effectively make all material-ui types `any`.  It's definitely a hack and not something I

[2020-02-29 02:40] dimitropoulos opened #19891 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-02-29 04:23] bobysf12 commented on #19875
This problem is not reproducible anymore with typescript@3.8.3
Thank you @eps1lon for your response! I think I can close this for now.

[2020-02-29 04:23] #19875 closed

[2020-02-29 04:32] jeasoncc opened #19892 "i can use snackBar"
when i user <snackBar> and  set hook ,it 's always tip hook error

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech

[2020-02-29 10:11] oliviertassinari commented on #19891
Thanks for the update

[2020-02-29 10:11] #19891 closed

[2020-02-29 10:14] oliviertassinari commented on #19846
@parthjawale Do you have an example when the scale(1) approach doesn't work?

[2020-02-29 10:21] #19870 closed

[2020-02-29 10:26] oliviertassinari commented on #16341
I have no idea how developers are creating this issue. Let's close until we have a full reproduction.

[2020-02-29 10:37] aflip commented on #12044
Folks, The person who raised the issue is  a-f-i-l-p, my username is a-f-l-i-p, and while its fun to be tagged into a completely random bug discussion, I'd appreciate it if you could tag the right person!

Cheers

AFLIP not AFILP

[2020-02-29 10:58] oliviertassinari commented on #12044
@orenku Do you have a reproduction?

[2020-02-29 11:02] oliviertassinari commented on #12044
[code]

renders OK

https://codesandbox.io/s/material-demo-6jt1m

<img width="511" alt="Capture d’écran 2020-02-29 à 12 01 45" src="https://user-images.githubusercontent.com/3165635/75606269-52221080-5aeb-11ea-8e31-7bc8bae6715c.png">

[2020-02-29 11:18] thundermiracle commented on #19852
@oliviertassinari
Thanks for your solution!
As outlined TextField and normal TextField's height is different, normal TextField needs at least 12px.
Should we consider adding a margin prop or just set a fixed margin?

![image](https://user-images.githubusercontent.com/25689126/75606399-aea71f00-5b2f-11ea-9d2c-47b7f3e4ba40.png)

[2020-02-29 12:09] hc-codersatlas opened #19893 "Support prefers-reduced-motion in animations"
Please add check for css media query `(prefers-reduced-motion)` in any animations / transitions to disable them as per user preference to assist with accessibility and user preference of it. Would be good to have it as a theme setting also.

[2020-02-29 14:42] emirhankudevi opened #19894 "'@material-ui/core/styles' RTL support for TypeScript"
import { StylesProvider, createGenerateClassName jssPreset } from '@material-ui/core/styles';
import { create } from 'jss';
import rtl from 'jss-rtl';

I have an error about RTL supporting when i import as above. I have a file what named **App.**tsx**.**

![image](https://user-images.githubusercontent.com/28100737/75609545-a2649700-5b1a-11ea-9315-ad9e0bb17974.png)

Argument of type '{ plugins: (Pl

[2020-02-29 14:53] sarink opened #19895 "material-ui/styles doesn't export breakpoints"
If you are using `material-ui/styles` in standalone mode, is there a way to utilize the responsive/breakpoint system? It seems currently the only thing we can do is also install `core` and set up a `Theme`...

[2020-02-29 15:28] turkdoktoru opened #19897 "Importing json incoming array data into editable-table"
hi, i'm using react material-table editable.

drBounty [] does not throw all incoming data into a separate line when I try to transfer the list in json.

So I want to import the array list that comes as json into material-editable data. can you help with this?

`

    import React, { Component } from "react";
    import withAuth from "../../components/helpers/withAuth";
    import { connect } from

[2020-02-29 15:39] oliviertassinari commented on #19897
Wrong repository

[2020-02-29 15:39] #19897 closed

[2020-02-29 15:41] turkdoktoru commented on #19897
So what am I supposed to do?
So I want to edit and add over the table.
How will I do

[2020-02-29 16:17] oliviertassinari commented on #19897
You could ask about it in https://github.com/mbrn/material-table

[2020-02-29 16:31] turkdoktoru commented on #19897
I already know this component.
Can I edit the row on the table that is important?

[2020-02-29 18:38] sudoStatus200 commented on #19883
@oliviertassinari  There is one thing I noticed.
If you add disableFocusListener= {true} prop to tooltip then onFocus event works.
Like this:
` <Tooltip title="Some hint" disableFocusListener={true} >
        <TextField
          onFocus={() => {
            console.log("This  works  fine");
          }}
        />
      </Tooltip>`
and  when disableFocusListener={false} then onFocus is not workin

[2020-02-29 19:02] dimitropoulos commented on #19744
@oliviertassinari any thoughts?

No rush, just curious what you think when you have a moment. :smile:

[2020-02-29 20:19] vitorioaraujo commented on #16939
same problem with me, I'm using an accuracy of 0.01.
It is for an evaluation and comparison between media evaluation, so each digit influences the user's perception.

But if the accuracy was 0.1 it would help a lot

[2020-02-29 20:30] oliviertassinari commented on #16939
Do you have a reproduction?

I think that we should warn against any precisions value below 0.1 as the limit to perceive a change and a point where the keyword interaction become painful.
The nominal use cases for this prop is 1 and 0.5.

If somebody wants to work on it, it would make a great new warning.

[2020-02-29 22:08] mbrookes commented on #19895
Correct - the styles package doesn't have a default theme.

[2020-02-29 22:08] #19895 closed

[2020-02-29 22:27] mbrookes commented on #19886
@deymundson Thanks for the report. Any suggestion as to how we should fix it?

[2020-02-29 22:30] mbrookes commented on #19868
@smerriman18 We'd be glad if you would like to document it. 👍

[2020-03-01 07:01] Maaartinus commented on #19423
@goffioul That's my problem, too. As a workaround I added `onChange` also to the `TextField`.

[2020-03-01 09:56] jeromeSH26 commented on #19827
any idea?

[2020-03-01 10:58] colemars opened #19920 "Something with Transition Components is breaking Dialog"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When passing Dialog a TransitionComponent, something breaks down and prevents dialog from removing its body styles onClose - resulting in an unresponsive app.

Would dig into it more b

[2020-03-01 11:05] alexeychikk commented on #10161
@Vincz @oliviertassinari Could you please update the TypeScript definitions as well?

[2020-03-01 11:07] colemars commented on #19893
This is an open issue here https://github.com/mui-org/material-ui/issues/16367

[2020-03-01 12:01] samheyman commented on #10000
The solution re-iterated by @Toshiuk is to simply add the following to your Menu, StyledMenu or Select element:
`disableScrollLock={ true }`

We really need to make solutions more easily findable! :-)

[2020-03-01 12:15] #19920 closed

[2020-03-01 12:16] #19893 closed

[2020-03-01 12:23] colemars commented on #19920
Whoops just realized where I was defining the Transition component

[2020-03-01 12:32] oliviertassinari commented on #19920
We don't support it :)

[2020-03-01 13:29] eps1lon commented on #19886
Select is currently in a weird state since there's little work on a complete custom `<select />` implementation. I'm going to look at the new combobox pattern in aria 1.3 and see how that is supported by AT. Maybe we can start incorporating these change.

[2020-03-01 13:35] eps1lon commented on #19883
@sudoStatus200 I think we should look at `disableFocusListener` after the proposed changes. Might be that `disableFocusListener` just affects the symptoms but doesn't have to do anything with the cause of the issue.

[2020-03-01 13:38] #19894 closed

[2020-03-01 13:49] eps1lon commented on #19697
Was it confirmed that this is due to compressed size? And I don't think this would add much compressed size since it's repetitive text.

[2020-03-01 13:52] eps1lon commented on #19666
Closing this since it's been incomplete for over 7 days. While there are come inconveniences with trapping focus they're not on the level of a bug as far as we know.

[2020-03-01 13:52] #19666 closed

[2020-03-01 13:54] rswlkr opened #19922 "[material-ui][docs][TextField] Update react-number-format integration demo"
[react-number-format](https://github.com/s-yadav/react-number-format) has a customInput prop that allows passing materialui components. A custom implementation of the input component is therefore not required and the [docs/examples](https://material-ui.com/components/text-fields/#textfield) should be updated to reflect this.

- [X] The issue is present in the latest release.
- [X] I have searched

[2020-03-01 13:54] eps1lon commented on #19664
I think making the speed configurable as suggest by @arsen in https://github.com/mui-org/material-ui/issues/19664#issuecomment-586431658 is justified.

[2020-03-01 14:02] eps1lon commented on #19113
I think we've made some good improvements (somewhere in the 30% area) but it looks like all we could do right now is make the typings looser.

This absolutely requires concrete proposals e.g. which wrong code would you be ok with to be accepted by the type checker. Then we would need to benchmark and see if this makes a meaningful dent.

You have to understand that purposely introduced regressions

[2020-03-01 14:03] eps1lon commented on #19922
Could you include an example that uses `customInput` over our current solution?

[2020-03-01 14:22] rswlkr commented on #19922
`        <NumberFormat
            customInput={TextField}
            thousandSeparator={true}
            prefix={'£'}
            id='minValue'
            label='Minimum Value'
            onChange={handleChange}
            value={minValue}
            className={classes.formControl}
            inputProps={{
              name: 'minValue'
            }}
          />`

[2020-03-01 14:29] oliviertassinari commented on #19664
@arsen Why do you need to configure the duration?

[2020-03-01 17:09] #19670 closed

[2020-03-01 17:18] goffioul commented on #19423
@Maaartinus Well, that comes with its own set of issues. If I have the same `onChange` handler for both `Autocomplete` and `TextField` and the initial state value the empty string, then there will be an error generated on the first character entered, about the `TextField` switching from uncontrolled to controlled mode.

I also wanted to mention that the autocomplete popup behaves a bit strangely w

[2020-03-01 17:39] goffioul opened #19924 "ArrowBackIos is not centered"
`ArrowBackIos` is not centered, unlike other variants of the same icon.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`ArrowBackIos` is not centered, while all other variants are (outlined, rounded...).

## Expected Behavior 🤔

[2020-03-01 17:51] oliviertassinari commented on #19924
Duplicate of #17425

[2020-03-01 17:51] #19924 closed

[2020-03-01 18:16] #18815 closed

[2020-03-01 18:23] #19872 closed

[2020-03-01 18:46] bugzpodder commented on #19423
@goffioul @Maaartinus try this: https://github.com/bugzpodder/ui-components/blob/master/src/common-suggest/common-suggest.tsx#L72

[2020-03-01 19:13] xcafebabe opened #19925 "Classnames mismatch SSR and CSR"
Using Intersection Observer API I'm trying to render a Material-UI Component by it's visibility on the viewport.

[code]

Basic stuff, useOnScreen is a hook with a toggled boolean using Intersection Observer and a ref.

In order to be "SEO friendly" I'm using NextJS and I wanted this component to always be visible in SSR and conditional visible in CSR.

The problem arises during rehydration in CSR

[2020-03-01 19:17] oliviertassinari commented on #19423
I have some concerns with the logic in https://github.com/bugzpodder/ui-components/blob/07409c975c8dfea9ea37d7f129a8170abdc7daf1/src/common-suggest/common-suggest.tsx#L72-L81
The `value` and `inputValue` states are meant to be isolated.

[2020-03-01 19:19] #19925 closed

[2020-03-01 19:21] oliviertassinari commented on #19925
tip: check the expectations of https://reactjs.org/docs/react-dom.html#hydrate.

[2020-03-01 19:58] #19865 closed

[2020-03-01 21:09] oliviertassinari commented on #19888
@alexandrelaplante Well spotted. What do you think of the syncing the prop-type of the Link's color prop with the Typography?

[code]

Usually, it's the other way around the TypeScript is outdated, but it's fine in this case. Do you want to submit a pull request? :)

[2020-03-01 21:14] captain-yossarian commented on #19705
Hi @jdoklovic, could you please checkout on my [branch](https://github.com/mui-org/material-ui/pull/19923) and check if this fix will work for your case.
If no, could you please share minimum code example?

[2020-03-01 21:17] oliviertassinari commented on #19922
I wonder about the best option we have here. In which order should we compose the two components? NumberFormat > TextField as in the above example requires less code. I wonder about the implication it can have with the MaskedInput example. I also wonder about the forms libraries integrations.

[2020-03-01 21:17] #19889 closed

[2020-03-01 21:20] captain-yossarian commented on #19637
@jonatanklosko I want to double check my PR. Could you please checkout on my branch and check if code is working as expected?
Thanks in advance

[2020-03-01 21:25] oliviertassinari commented on #19887
@ivan-jelev Interesting, we have seen a similar concern raised in #19500. What do you think of my proposal at https://github.com/mui-org/material-ui/issues/19500#issuecomment-580867606? I think that we could move forward with it :).

[2020-03-01 21:32] oliviertassinari commented on #19876
@gmltA Actually, I think that this issue and #19484 are different.

@OlegBrony comment is also accurate. While the `freeSolo` prop means the new value can be a string, `disableClearable={true} + multiple={false}` prevents the presence of `null` in
https://github.com/mui-org/material-ui/blob/a0ab3dfe280bca88758b8e9bac26fec4847793e6/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts#L

[2020-03-01 21:32] jonatanklosko commented on #19637
Works as expected, thanks!

[2020-03-01 21:33] oliviertassinari commented on #19852
Ah, ok, in this case, let's ignore the problem.

[2020-03-01 21:33] #19852 closed

[2020-03-01 21:37] oliviertassinari commented on #19827
@jeromeSH26 The API was designed to prevent the usage of ListItem in this context. It's too slow.

[2020-03-01 21:39] oliviertassinari commented on #19843
@akharkhonov What's the issue with using the `value`/`onChange` API for this use case?

[2020-03-01 21:40] oliviertassinari commented on #19827
The alternative is to set a component="div" on the list item to clear the warning.

[2020-03-01 21:40] #19827 closed

[2020-03-01 21:55] oliviertassinari commented on #19836
@Julien-Hery Thanks for the analysis of the problem. I think that this should be our baseline expectation: https://v4-5-2.material-ui.com/components/autocomplete/#customized-autocomplete.

The problem I envision the onBlur approach is that it doesn't handle the <kbd>Escape</kbd> key. What do you think of this alternative: we introduce a `reason` argument? So we can filter the event, something in t

[2020-03-01 22:15] dbarabashdev commented on #19888
@oliviertassinari, why we should remove `default` prop? I checked props for Typography and we'll need just add `default`

[code]

After these changes, we fixed the error. What do you think about that? :)

[2020-03-01 22:25] oliviertassinari commented on #19888
I thought that `default` wasn't supported. Where did you see it defined?
I have looked at https://github.com/mui-org/material-ui/blob/33a7c2681718db9a5ac8463e9357d423d5c70f58/packages/material-ui/src/Typography/Typography.js#L185.

[2020-03-02 00:09] yuechen commented on #18882
I'm sorry, I noticed that all of these issues are closed. How are we supposed to use freesolo autocomplete as a controlled component? When it's used a controlled component, the dropdown list is never filtered. Thank you!

[2020-03-02 00:16] yuechen commented on #18173
I actually don't think this warning is appropriate. It can be totally expected behavior to change the variable passed into defaultValue without expecting the value in the Autocomplete to change. Material UI should not specify this for the developer, and should definitely not throw an error for this (as is currently the behavior). Could be more acceptable as a warning.

[2020-03-02 03:34] escapiststupor opened #19927 "`onPaste` event not passed to `InputComponent` in `InputBase`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When calling the `onPaste` handler of any Input component that's based on `InputBase`, the event system is different from some of the other "hand picked" event handlers. [`e.target` is actually invoked by the enclosing `<div />` itself ](http

[2020-03-02 04:35] weslenng commented on #19927
Both properties seems to work right for me. Do you have a reproduction?

By the way, have you tried sending `onPaste` through `inputProps` and getting the value with `
e.clipboardData.getData('text/plain')`?

Here is an example:
[https://codesandbox.io/s/thirsty-resonance-pf725](https://codesandbox.io/s/thirsty-resonance-pf725)

[2020-03-02 07:15] Pajn opened #19929 "Bundle size increases with over 16 KB gzipped when only including a single SvgIcon"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I included a single svg icon like so:
[code]
In a standard (non ejected) create-react-app project. The gzipped size increased with 16.25 KB.

This is the @material-ui dependencies as

[2020-03-02 08:39] joshwooding commented on #19882
Quick update: Fixed this on the weekend but was having trouble getting a test to pass.

[2020-03-02 09:10] eps1lon commented on #19929
It is using `SvgIcon` from `/core`. Which has some props to e.g. color it in primary or secondary colors. This means it's including the styling solution which is quite heavy.

It seems like you make no use of that which is why you're probably interested in #6218.

Otherwise this is expected since the styling solution is quite heave. The increase should be smaller if you're already using `jss`.

[2020-03-02 09:10] #19929 closed

[2020-03-02 09:17] eps1lon commented on #19927
This is working as documented.

--https://material-ui.com/api/text-field/

@weslenng has the correct approach to it by using `inputProps`.

While I agree that it might make more sense to pass it down it would make it harder if you actually want to listen to paste events on the surrounding `div`.

`onChange` is a top level prop for convenience. Please upvote this issue if you want to pass `onPaste`

[2020-03-02 09:17] #19927 closed

[2020-03-02 09:29] eps1lon commented on #19882
Do you have the branch pushed so that I can take a look?

[2020-03-02 11:39] oliviertassinari commented on #18173
@yuechen This resonates with https://github.com/mui-org/material-ui/issues/15343#issuecomment-538759792.

[2020-03-02 11:46] oliviertassinari commented on #19744
@dimitropoulos This is smart and pretty cool!

[2020-03-02 11:52] oliviertassinari commented on #19744
What do you think we should do with it? Tweet, link it in the docs, etc?

[2020-03-02 11:58] whitehatrt opened #19930 "Functionality Issue"
## Issue
Toggle left-to-right button functionality not working properly

## Current Behavior 😯
On click of Left-to-right some text not displaying properly when trying to change it in the original state.

## Expected Behavior 🤔
All content to be shown properly when clicked on Left-to-right

## Page Link :
https://material-ui.com/components/click-away-listener/

Try to click ok left-to-right/right-t

[2020-03-02 11:59] goffioul commented on #19245
Is there a chance to see a (quick) fix for this regression in 4.x branch? From PR #19809 and #19838, I understand a different implementation will be used for 5.x, but that leaves current users of 4.x a bit dead in the water with a broken component.

[2020-03-02 12:39] akharkhonov commented on #19843
@oliviertassinari firstly, onChange obviously reacts to the all value changes and there is no way to catch adding and prevent it. Second, onChange is executed when values are changed both from the option selection and the text field that's why inside OnChange, we don't know exactly where he came from.

[2020-03-02 12:41] eps1lon commented on #19930
We don't actively support the Opera browser. See https://material-ui.com/getting-started/supported-platforms/#supported-platforms for a list of browsers we do support.

[2020-03-02 12:41] #19930 closed

[2020-03-02 12:55] goffioul commented on #19245
Just answering myself. It's possible to disable the jumpy behavior by using `MenuProps={{variant:'menu'}}` on the `Select` component. It's not great, because then the selected element(s) will not come into view when the menu pops up, but from a UX perspective, it's better than having the popup jumping all around while you make your selection.

[2020-03-02 12:57] whitehatrt commented on #19930
Same Issue also in chrome version  80.0.3987.122(latest).
But it Works fine In Firefox

[2020-03-02 12:59] Sewdn commented on #11734
@oliviertassinari When trying to configure global overrides in a theme, pseudo-classes dont seem to be applied correctly. Can you confirm that this is the correct way to have a FilledTextfiled use a different backgroundColor when being in focus:

[code]

I can confirm backgroundColor is correctly being overriden, but the focused pseudo-class is not.

Thanks!

[2020-03-02 13:05] eps1lon commented on #19930
Can't reproduce with chrome version 80.0.3987.122 on Ubuntu.

[2020-03-02 13:06] oliviertassinari commented on #19930
I believe we have already seen such comment in the past. You need to use a font that supports right to let.

[2020-03-02 13:08] geroddokar opened #19931 "npm install @material-ui/core error"
Installation error @ material-ui / core ... Here is the log

`0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '@material-ui/core',
1 verbose cli   '--save'
1 verbose cli ]
2 info using npm@6.13.4
3 info using node@v13

[2020-03-02 13:08] oliviertassinari commented on #19843
Did you try to filter events out with the reason argument?

[2020-03-02 13:12] ankeshdamahe commented on #19930
![image](https://user-images.githubusercontent.com/52713496/75679337-716c9980-5cb5-11ea-92a3-71166c4f2fd7.png)
same issue on window chrome version 80.0.3987.122(latest).

[2020-03-02 13:12] whitehatrt commented on #19930
i am on windows not ubuntu

[2020-03-02 13:13] oliviertassinari commented on #11734
@Sewdn I would recommend to look at the injected CSS. Make sure the changes are in the CSSOM as well as you get the correct specificity and target the right element. Otherwise, you could ask on StackOverflow.

[2020-03-02 13:22] geroddokar commented on #19931
npm cache clean --force help oO

[2020-03-02 13:23] #19931 closed

[2020-03-02 13:24] akharkhonov commented on #19843
I have found reason argument for onInputChange event only. Does reason exists for onChange too? Also, I thought the currentTarget/target in the event object in onChange would help me find out what exactly DOM element call this event.(input -> user manually added value, another element -> user selected option). But it seems that they both refer to the input element.

[2020-03-02 13:28] oliviertassinari commented on #19843
OK, great, so let's move the discussion to #19064.

[2020-03-02 13:28] #19843 closed

[2020-03-02 13:29] oliviertassinari commented on #19843
Feel free to give it a shot :).

[2020-03-02 13:35] dimitropoulos commented on #19744
I think the options I was suggesting were either merge it in as one of the components (ideally) or link it in the docs.  It's such a small amount of code (and useful, I think, to anyone using breakpoints in material-ui) that I think it wouldn't be _too_ too bad to included it.  Now, I realize that "it's useful" isn't a good enough metric because if so every project would be republishing lodash or

[2020-03-02 13:42] oliviertassinari commented on #19744
Ok, I don't have any preference. @mui-org/core thoughts?
My main concern will be about, how do we teach users about it, and do we make them use it?

On this topic of improving the debugging experience, I was wondering about an error boundary:

- https://elastic.github.io/eui/#/utilities/error-boundary
- https://ant.design/components/alert/#Alert.ErrorBoundary

But it could harm the existing DX.

[2020-03-02 14:38] dimitropoulos commented on #19744
(I'm working on writing up an issue for ErrorBoundaries :smile:! I would be happy to contribute this component and I think I have some feedback that could be useful (TLDR; I think it definitely has a use, and I have some rationale to share as to why a library like material-ui has any business including such a component).  I should be done writing up the issue in the next few hours.)

[2020-03-02 14:56] joshwooding commented on #19882
@eps1lon Ill push it when I get home

[2020-03-02 15:25] Sa-meer opened #19932 "When Text-Field is disable the mouse pointer does not change like earlier versions"
I'm using select prop of the TextField and when I use disabled prop mouse pointer is not changing like earlier versions:

Old version:
TextField: https://v0.material-ui.com/#/components/text-field
SelectField: https://v0.material-ui.com/#/components/select-field

Latest Version:
https://material-ui.com/components/text-fields/

New version should also change the mouse pointer so that a user can not

[2020-03-02 15:30] #19932 closed

[2020-03-02 16:35] bugzpodder commented on #18882
@yuechen try https://github.com/mui-org/material-ui/issues/19423#issuecomment-589862301

[2020-03-02 16:52] SergeyUstinovich opened #19935 "[Autocomplete] Add scrollbar support in IE11"
**IE11**: Clicking on scrollbar of opened drop-down closes it.
It works fine in Google Chrome.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Clicking on scrollbar of opened drop-down closes it.

## Expected Behavior 🤔
Clicking on

[2020-03-02 16:55] Alaa-Ben opened #19936 "[Select] Value 0"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hello ! I'm using a Select through a TextField as shown bellow:
[code]
rateValues is an array of items, each item has a label and a value. For example: {label: '50%', value: 0.5}
Swit

[2020-03-02 17:03] Alaa-Ben commented on #19936
The issue was that `value={value || ''}` returned '' when value was 0.
Closed.

[2020-03-02 17:03] #19936 closed

[2020-03-02 17:10] lwilkins opened #19938 "Content Security Policy support clarification"
According to the documentation, to support the CSP header, a nonce needs to be added to the style-src directive (https://material-ui.com/styles/advanced/#content-security-policy-csp). However, a number of Material-UI components make use of inline style attributes (e.g. Tabs - https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Tabs/Tabs.js#L433). These require the 'unsafe-i

[2020-03-02 17:38] bramick opened #19940 "Sketch for Material-UI link fix in Documenation"
https://material-ui.com/discover-more/related-projects/
Design Resources
• Sketch: "Sketch for Material-UI"

- [x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
"Sketch for Material-UI"
Current link:  https://material-ui.com/store/item

[2020-03-02 18:09] eps1lon commented on #19938
Generally I think we shouldn't use inline styles to begin with since they make customizing harder. So ideally we wouldn't use inline styles at all.

In the meantime we should add this notice to the docs.

[2020-03-02 18:45] LoganBrownStFX opened #19941 "Disable default filtering on Autocomplete"
We are using the autocomplete feature on an application in dev.

We get suggestions from the backend call based on the query that is put into the autocomplete and those suggestions are what populates the options prop.

However, the autocomplete component uses it's own filtering to further filter those results based soley on the value. Whereas our api filters data based on associated metadata and w

[2020-03-02 19:12] protzman opened #19943 "ListItemText with primary, secondary, secondaryTypographyProps does not display correctly"
When using a `ListItemText` component with the fields `primary`, `secondary`, and specifically `secondaryTypographyProps` the text is not displayed properly inside of the `ListItemText`. The `secondary` prop once given `secondaryTypographyProps` is displayed at the end of the `primary` text instead of on its own row below.

- [x] The issue is present in the latest release.
- [x] I have searched th

[2020-03-02 19:27] #19940 closed

[2020-03-02 19:38] mbrookes commented on #19744
One option would be to use it in the docs, and enable it only on the breakpoints page, from where we could mention and link to it.

[2020-03-02 19:54] dimitropoulos opened #19945 "[ErrorBoundary] New ErrorBoundary Component"
This ticket is to track ideas/rationale for material-ui including an ErrorBoundary component.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[ErrorBoundaries](https://reactjs.org/docs/error-boundaries.html) are a React 16+ specific feature that uses the [componentDidCatch](https://reactj

[2020-03-02 19:55] oliviertassinari commented on #19940
Thanks, confirmed, this was our last 404 :)

<img width="424" alt="Capture d’écran 2020-03-02 à 20 55 25" src="https://user-images.githubusercontent.com/3165635/75712418-2e67f180-5cc8-11ea-849e-d8c2a41f25cf.png">

[2020-03-02 19:57] watkinshughes commented on #19591
The use case for our team for this same feature request would be to disable the filter until _x_ number of characters are typed by the end user...thus limiting the distraction of the combo box until the list is filtered by at least a certain number of characters.

[2020-03-02 19:57] dimitropoulos commented on #19744
That could be a good option!  That way it's sort of self-supporting.  Someone that's interested in using breakpoints (and therefore looking at the breakpoints page) will be exposed to it that way.

Also, just to say it out loud, I'd rather archive my implementation and just import it into material-ui itself: but I'm more than happy to keep it separated and just link.  I just don't want it to (for

[2020-03-02 19:58] dimitropoulos commented on #19744
I'm happy to do all the leg work on getting the component added to the Lab and so forth, if there's interest.

[2020-03-02 20:16] jcafiero opened #19946 "[Select] Cannot select option in Firefox"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When tabbing to a Select element in Firefox, you can hit enter to open the Select. The Select will open, but you cannot change focus with your keyboard and select a different option f

[2020-03-02 20:20] roxdavirox opened #19947 "new component Editable label"
Hey there, I've created a new component that you can click into a label and its render a editable inline input for the label.

it is important when you want to edit a title component without use a dialog or whatever component thats block user actions.

# example:
[code]

see here: https://github.com/roxdavirox/mui-editable-label

please, fell free to contribute.

[2020-03-02 20:25] oliviertassinari commented on #19591
@watkinshughes Ok, it sounds fair. I don't think that it should be the default behavior but I can understand why some Product Manager would want it. Given the small overhead of the feature, I think that we can include it. Feel free to work on a pull request :).

[2020-03-02 20:26] watkinshughes commented on #19591
Nice, thank you! Will see if I can get some time set aside for working on a PR.

[2020-03-02 20:49] oliviertassinari commented on #19941
@LoganBrownStFX Please ask on StackOverflow next time:
https://github.com/mui-org/material-ui/blob/e3766ec06257723c7d344181c83bddf2a5092d42/docs/src/pages/components/autocomplete/GoogleMaps.tsx#L107

[2020-03-02 20:49] #19941 closed

[2020-03-02 20:58] oliviertassinari commented on #19938
This concern seems important for the usage of the components in high demanding environments, e.g; #13364 coming from SnapChat Inc.? However, from our issue history, most loosen the CSP for it.

We do have a couple of components that rely on inline style:
- SpeedDial
- Skeleton
- Autocomplete
- TextareaAutosize
- Tabs
- SwipeableDrawer
- Slider
- Modal
- LinearProgress
- CircularProgress
- GridList

[2020-03-02 22:02] sdornan commented on #17018
I'm having a similar issue as this, but it's unclear if it's the same or different. I'm using `setValue()` on a few Material UI input fields on page load, but the labels are not shrinking properly in Safari only. In Chrome, the `MuiInputLabel-shrink` and `MuiInputLabel-filled` classes are being properly applied. Let me know if I should open a separate issue, or if it's a Material UI problem and I

[2020-03-02 22:15] oliviertassinari commented on #17018
@sdornan If you have a minimal live reproduction that show that the issue originates from Material-UI, e.g. using codesandbox, feel free to open a new issue. In the case of react-hook-form, we have already explored some of the issues with the approach the library took. More details in https://github.com/mui-org/material-ui/issues/18269#issuecomment-562892026.

[2020-03-02 22:22] bluebill1049 commented on #17018
@sdornan please consider using Controller with MUI components.
https://react-hook-form.com/api#Controller

[2020-03-02 22:40] SleighJ commented on #17568
+1

After some digging, I was suggested to use a boolean in a key prop to reset the component, but this breaks my styling work around since there is no (easy) way to set the background of the input (without applying it to the entire container)

[2020-03-02 22:40] sdornan commented on #17018
Here's a reproduction: https://codesandbox.io/s/hopeful-mountain-cgx6p

Will open a new issue if necessary.

[2020-03-02 23:01] weslenng commented on #19888
@oliviertassinari It seems to me that the color prop-value `default` has been replaced by `initial` in this [commit](https://github.com/mui-org/material-ui/pull/15100/files#diff-4af233301e5925ea3d62084e825c1c6eL187). But for some reason this has never been changed in the Link component.

I will work on it!

[2020-03-02 23:11] kthompson55 opened #19948 "[Select] Multiple Selects in non-Chromium Edge selects page content"
In the **non-Chromium version of Edge**, if you have two or more selects, it's possible to enter a mouse-down state that moves with your mouse around the page.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Clicking between two S

[2020-03-02 23:23] oliviertassinari commented on #19935
@SergeyUstinovich Thanks for the report. I have no idea on how to fix it.

But it seems the page could receive some care from an IE 11 standpoint:

1. We could remove the clear icon for this component:

<img width="326" alt="Capture d’écran 2020-03-02 à 23 44 25" src="https://user-images.githubusercontent.com/3165635/75724980-cd4c1800-5cdf-11ea-9fd2-095e4d59fece.png">

[code]

2. We could fix th

[2020-03-02 23:35] SergeyUstinovich commented on #19935
@oliviertassinari Thanks for looking at the issue.

If the issue is fixed by removing `X` icon then I would say go ahead and remove it.
We used the component for one of our client's application and we found the issue is `showstopper` for them as about 30% of their users are on Internet Explorer 11 :( .

And to be honest I do not care too much about the page layout fix as it's not a priority for me

[2020-03-02 23:38] oliviertassinari commented on #19935
No, they don't but this should:

[code]

Can you confirm? Feel free to open a pull request :)

[2020-03-03 05:16] selhari commented on #18287
I'd love to know about the development of UI kit for Adobe XD, if still in debate/planning or if it's gonna happen.

[2020-03-03 06:48] wederer commented on #19144
I don't have time at the moment, but might look into it in a week or two.

[2020-03-03 06:53] OriginLive opened #19952 "[TextField] When changing font size, the text is not aligned."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.
## Similiar Issues:
https://github.com/mui-org/material-ui/issues/8017

## Current Behavior 😯

When overriding font size, the text does not align correctly.

## Expected Behavior 🤔

Text should be in the cen

[2020-03-03 07:06] zzossig commented on #19845
I also get some trouble after updating the material-ui latest version.
My theme object looks like this.

[code]

And I got an error `Can not read property lev0 of undefined`.
It seems like only `primary` `secondary` `error` `success` ... (specified here https://material-ui.com/customization/palette/#palette) allowed in the palette object and other objects ignored.

[2020-03-03 08:07] petercutting commented on #14257
this might be related. My theme override has been working OK until I updated to 4.9.5.
          MuiTableRow: {
            root: {  "&$selected": { backgroundColor: '#f09628', }  }
          },

Now my override is ignored and I get the following instead

.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
    background-color: rgba(240, 150, 40, 0.08);
}

[2020-03-03 08:34] LaurianeDPX opened #19953 "[TreeView] Expand/collapse node only when clicking on expand/collapse icon"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When I click on a tree item that has children, the node expands, wherever I click on the line. While this behavior might be ok for most users, I would like to have the possibility to expand/collapse only when I click on the expand/collapse ic

[2020-03-03 08:53] MatthieuCoelho commented on #19953
I have the same use case, it could be useful !

[2020-03-03 09:43] #19888 closed

[2020-03-03 09:44] #19637 closed

[2020-03-03 09:44] #19705 closed

[2020-03-03 09:44] #19779 closed

[2020-03-03 09:45] #19868 closed

[2020-03-03 10:23] oliviertassinari commented on #18287
@selhari To be clear, we are talking about deploying the same as https://material-ui.com/store/items/sketch-react/. @belhassen07 Would be the best one to answer it.

[2020-03-03 10:39] oliviertassinari commented on #14257
@petercutting It seems that we have increased the specificity. You could resolve the issue by doing the same.
[code]

[2020-03-03 10:42] lwilkins commented on #19938
Thanks for the input @eps1lon and @oliviertassinari . I'll loosen the CSP in my application for now, but exploring the removal of all inline style attributes would be great and would be something I'd support.

[2020-03-03 10:55] mattmcdonald-uk opened #19957 "[Skeleton] Invisible against a dark background"
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The Skeleton component only supports one rendering colour, and if placed over a dark background is invisible.

## Motivation 🔦

I am using a text variant Skeleton on a dark grey background, but it can't be viewed. It would be nice if it supp

[2020-03-03 10:58] oliviertassinari commented on #19957
@mattmcdonald-uk I would recommend customizing the CSS in such a case.

[2020-03-03 11:43] ajeyacube opened #19958 "Autocomplete integration issue"
When I am trying to integrate Autocomplete in my code i am facing this issue.

<Autocomplete
    name="brandId"
   options={brandList}
   getOptionLabel={option => option.name}
   renderInput={params => (
    <TextField
        {...params}
        label="Brand"
        variant="outlined"
        fullWidth
      />
   )}
   />

This is how my code looks. "brandList" is and array object.

![image](h

[2020-03-03 12:34] mattmcdonald-uk commented on #19957
OK - perhaps this is a fairly niche use case.

[2020-03-03 13:51] videni opened #19960 "is there any nested menu like Antd's menu component?"
hi, I am looking for a menu component for material-ui. currently  we need to do some extra work to have features like [Antd's menu component](https://ant.design/components/menu/). can we make it much easier to use?

[2020-03-03 13:58] cyberCris commented on #10820
If i'm using the withStyles override i would add label in FormControlLabel or Radio component?
i was trying to do as the example provided but got lost:

export const RedRadio = withStyles({
  root: {
    '&$checked': {
      color: colors.secondary,
    },
  },
  checked: {},
})(props => <Radio color="default" {...props} />);

export const CustomRadioLabel = withStyles({
  root: {
    color: '#757

[2020-03-03 14:04] triethyl commented on #12096
I still find the issue persists. Please repoen.

[2020-03-03 14:41] rodolfoberlezi opened #19961 "Popover breaks the body tag"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I click to open the popover text box, the body receives a style to modify its padding-right and overflow. I noticed it in my web application because it has a different background

[2020-03-03 15:12] kurtwilbies opened #19963 "Use code written for material-ui.com"
When I clone the repo and run the code I get a nice website. I tried to build a website based on the code, but its too complex. Could you please publish a skeleton of material-ui.com, so we can use that already public code.

[2020-03-03 15:19] oliviertassinari commented on #19963
@kurtwilbies You can find examples to get started in https://material-ui.com/getting-started/example-projects/.

[2020-03-03 15:19] #19963 closed

[2020-03-03 15:57] #19064 closed

[2020-03-03 16:00] #19958 closed

[2020-03-03 16:02] oliviertassinari commented on #19960
It's being tracked on #11723.

[2020-03-03 16:02] #19960 closed

[2020-03-03 16:03] oliviertassinari commented on #12096
@triethyl This is a support request. You will find more luck on StackOverflow.

[2020-03-03 16:05] oliviertassinari commented on #19961
This is expected, use the Popper component is you are not looking for the modal behavior.

[2020-03-03 16:05] #19961 closed

[2020-03-03 16:45] oliviertassinari commented on #19945
@dimitropoulos So, If I understand the motivation correctly, the component is about improving the user experience in production? It sounds great.

On the execution of the idea side of things. A few thoughts, at first sight, but happy to be proven otherwise:

1. We shouldn't display the error stack but still allow developers to handle it/
1. Will need some UI for displaying the error, the Alert sou

[2020-03-03 17:00] oliviertassinari commented on #19744
To be honest, I'm not sure I would personally use this component. I would be worried about hiding some parts of my application. Now, I do get this pain point when I need to work on the responsiveness of the page, I have often caught myself trying different breakpoint values until I could find the right one for the current screen width I'm on. I mean, it's like how I handle the light switches, let'

[2020-03-03 17:05] belhassen07 commented on #18287
@selhari I've already started the development of the UI Kit. We will publish it as soon as it's ready for use.

[2020-03-03 17:07] emilyuhde opened #19965 "Popover - Cannot close Popover when using screen reader (Voiceover w/ Safari on Mac and iPad)"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently you are unable to close a Popover when you are using a screen reader. I tested this on Safari on Mac and iPad with Voiceover. You end up getting into a focus trap where you

[2020-03-03 17:24] oliviertassinari commented on #19965
Do you think that it should be something the component should handle or more something we should be cautious with in the documentation?

[2020-03-03 17:30] dimitropoulos commented on #19945
Could you please say a little more as to why?  In the above implementation setting `description` prop to be always empty solves this aim `description=""`

I share that curiosity.  What I meant is that this is (from a DOM structure perspective) relatively simple component and I think that tying it to the Alert component will only complicate matters.  If you feel strongly, by all means, I am happy t

[2020-03-03 17:32] emilyuhde commented on #19965
@oliviertassinari I think as long as the examples on the site and/or documentation shows a solution for handling fixing this, that would be fine, but it would be even better if the component could handle this automatically.

[2020-03-03 17:41] pietmichal commented on #9106
Still an issue in 2020

[2020-03-03 18:10] dimitropoulos commented on #19744
do you mean visually hiding?  the default position (in any corner or between any corners) [is configurable](https://github.com/dimitropoulos/mui-breakpoint-indicator#the-position-prop-string-defaults-to-top-center) if you know the page you're using it on requires it to be in a particular place.  I know exactly what you're talking about I've hit this a lot when using this component, hence making th

[2020-03-03 19:08] pashamesh commented on #16846
@tsturtz please check if `@types/react-router-dom` is installed.

[2020-03-03 19:47] emilyuhde commented on #19378
Sorry for the delayed response!

I did some more testing with this today and I think this might just be user error. It seems like when using Voiceover and Safari, the correct way to navigate into the panels to have the content read out is by using ctrl + option + right arrow. I'm close the ticket out since I don't think there's anything you guys need to change!

[2020-03-03 19:47] #19378 closed

[2020-03-03 19:47] malyzeli commented on #16995
This is my **workaround** how to display properly coloured bottom border (works for other sides as well).

You have to set `border` and then unset individual sides. In this case border color is applied as expected. It is better solution than using regular `color` prop, because it does not apply color to contained text in child elements.

Not very nice since it's adding visual bloat to the code, bu

[2020-03-03 20:11] oliviertassinari commented on #19945
As a end-user (not as a developer), I don't want to see the stack trace of an error, it's noise.
I'm interested in 1. getting the feedback that there is an error (not always the case on products I'm using, even for Uber). 2. Having actionable information regarding what to do next.

We could accept a React component. The usage of `ReactNode` made me think that you were more interested in a React El

[2020-03-03 20:20] emilyuhde commented on #19965
I worked on this a little more, you can press the esc key to close the Popover, but that doesn't resolve the issue on iPad/mobile devices.

[2020-03-03 21:31] pefi1011 opened #19970 "[Select] Placeholder moves up for (multi) Select component when startAdornment is set"
- [ ] The issue is present in the latest release. -> I suppose
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Adding icon to outlined `Select` component moves placeholder above the input field although no value is selected. Example:

![Screenshot 2020-03-03 at 22 11 37](https://us

[2020-03-03 21:31] eps1lon commented on #19947
Thanks for sharing. Once this gets more adoption we'll consider adding it to the core.

[2020-03-03 21:31] #19947 closed

[2020-03-03 21:42] dimitropoulos commented on #19945
Ok.  I see what you mean.  I think it depends on the audience but you've brought me to reconsider my position and upon reconsideration I now strongly agree with you.  Most audiences (end users) will see a stack trace as an active act of aggression, hahaha.  The default should be to hide the componetStack.

Just to put this in front of us while we're talking:
[code]

I picked ReactNode rather than

[2020-03-03 21:43] dimitropoulos commented on #19945
Let me know, though, if you think you have enough interest for me to start on a proof of concept.  I'm trying to plan out my next few nights/weekends (which is when I could work on this) and I'd love to pencil this in if it's of interest to you!

[2020-03-03 21:57] oliviertassinari commented on #19945
@dimitropoulos From my perspective, using `Component` in the name of the prop implies `React.ElementType` under the hood.

I personally think that it's worth exploring, I don't know about what the rest of the team think :). I think that it would be ideal to identify exactly how it will be used in practice.

[2020-03-03 22:09] mbrookes commented on #19744
I do the same. I imagine most people do!

When I have this problem, I rewire the switches to be more intuitive. :)

If it was set to the bottom right by default in the docs, it wouldn't obscure anything.

I agree with removing the colors - they don't add any additional information.

Even though it would take up more space, I wonder if, at least for the docs, it should display "breakpoint: md" so t

[2020-03-03 22:43] oliviertassinari commented on #19952
@OriginLive Did you try to customize the transition?

[2020-03-03 23:53] joshwooding commented on #19882
@eps1lon Sorry it took so long!

[2020-03-04 03:29] mattcorner opened #19975 "[TreeView] Add disabled support"
A way to include a TreeItem in a TreeView which is disabled. Disabled being no hover, no click, greyed out styling.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Proposing a boolean "enabled" property on TreeItem. Default should be true. False should disable the TreeItem with no hover,

[2020-03-04 08:01] oliviertassinari commented on #19975
Adding the support for a `disabled` prop sounds like a great idea. I could at least find the following benchmark:
- https://www.telerik.com/kendo-angular-ui/components/treeview/disabled-state/

[2020-03-04 08:52] OriginLive commented on #19952
@oliviertassinari could you give an example of how to override a label transition and how to center it correctly? Here's an example in codesandbox:
https://codesandbox.io/s/busy-pare-oj517

[2020-03-04 08:53] WojtekHerisz commented on #17000
Any news about this component? I think there is a lot of people which are waiting for something like this :)

[2020-03-04 08:56] oliviertassinari commented on #17000
I wasn't expecting this component to be requested, but yeah, we will think about something for it :).

[2020-03-04 09:00] oliviertassinari commented on #19952
@OriginLive Definitely! Here we go:

[code]
https://codesandbox.io/s/lingering-haze-hnop1

[2020-03-04 09:00] #19952 closed

[2020-03-04 09:05] OriginLive commented on #19952
@oliviertassinari
thanks, however that example also changes the height of the field. The idea here is to have a 20px font in 56px height.

[2020-03-04 09:08] oliviertassinari commented on #19952
@OriginLive Ok, updated

[2020-03-04 09:13] OriginLive commented on #19952
@oliviertassinari can you explain how you got the 19px in "translate(14px, 19px) scale(1)" for future reference please.

[2020-03-04 09:33] oliviertassinari commented on #19952
19px is just because it feels right, in #8017, I think that we come to the conclusion that we can't easily write CSS that display great value for any potential configurations.

[2020-03-04 09:34] OriginLive commented on #19952
I assume padding is the same? Damn, it would be nice to have that calculated somewhere.

[2020-03-04 09:40] oliviertassinari commented on #19952
The padding vaue is less important, I couldn't get a "round" line-height value based on the font and font-size so I went with something that would be just right below 56px, and fixed it with an explicit height CSS property.

[2020-03-04 09:50] Zhouzi commented on #15827
Here's another example throwing the error (using the TypeScript compiler or Webpack):

[code]

Most of the time, we use this component this way:

[code]

But there are situations where the avatar appears in a link `<a>`. Since inline elements cannot contain block elements, the avatar must not be a `div` but a `span`. So we use it this way:

[code]

That's where the compiler complains. Note that I

[2020-03-04 09:59] #19935 closed

[2020-03-04 10:05] adamschoenemann commented on #11601
+1 to slikts, this is quite a nuisance

[2020-03-04 10:23] dieguezz opened #19976 "No prefixes generated when using makeStyles"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When styling any component using `makeStyles`, css autoprefixer is not adding any rules.

## Expected Behavior 🤔

As stated [here](https://material-ui.com/styles/advanced/#css-prefixes

[2020-03-04 10:35] Asfalot opened #19977 "Popover with menu jumping when selected more than one item in multi-select"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Popover with menu jumping when selected more than one item in multi-select

## Expected Behavior 🤔

It should not jump like in previous versions - https://v4-7-2.material-ui.com/compo

[2020-03-04 10:50] OriginLive commented on #19952
@oliviertassinari just to let you know, there's also a way to use:
[code]
instead of
[code]
part.

The em part scales better i believe. Not quite sure how it affects everything else, but i feel like border-box with height seems a bit hackish.

[2020-03-04 10:56] kjeske opened #19980 "Validity.valid property is set to true for text fields in invalid state"
Validity.valid property is set to true for text fields in invalid state

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Validity.valid property is set to true for text fields in invalid state.

## Expected Behavior 🤔

Validity.val

[2020-03-04 10:58] oliviertassinari commented on #19980
Can you reproduce the same with a native `<input type="text" />` element?

[2020-03-04 11:09] kjeske commented on #19980
When i check the state I do it on the native input text element, but I'm not sure if that's what you mean. I was thinking that material ui as a library could set that property when the valid state is changing. It could work like:
- call input.setCustomValidity(helperText) when the input goes into an invalid state.
- call input.setCustomValidity('') when the input goes into a valid state.

[2020-03-04 11:32] #19977 closed

[2020-03-04 11:51] oliviertassinari commented on #19980
I meant, is this an issue with React or Material-UI? What happen if you remove Material-UI?

[2020-03-04 11:52] #19798 closed

[2020-03-04 13:25] Jack-Works opened #19981 "Discussion: Accessibility of TextField"
I mentioned there is an article that tells us "Stop using Material Design Text Fields" because the lack of accessibility. Is there any way to improve it and still follow the Material Design? 🤔

Ref: https://www.matsuko.ca/blog/stop-using-material-design-text-fields/

[2020-03-04 13:54] eps1lon commented on #19981
Please see my [twitter convo](https://twitter.com/sebsilbermann/status/1234613955227738115) with the author and #19950

There were a lot of misleading information in that article as well as issues that are not tied to Material design.

For example you don't have to use placeholders.

Other than that we would need to go point by point. Is there something particular we should address?

Just like fac

[2020-03-04 14:54] danawoodman opened #19982 "Cannot change monospace font family"
I am attempting to customize the default monospace font in Material UI but there is no (documented) way of doing this according to:

https://material-ui.com/customization/default-theme/?expand-path=$.typography

I have searched for a solution with no luck on Github and StackOverflow.

How does one change the default monospace font family?

- [x] The issue is present in the latest release.
- [x] I

[2020-03-04 15:05] danawoodman opened #19983 "<Box> and <Typography> do not support "cursor" CSS property"
The `Box` and `Typography` components do not support the CSS `cusor` property, though they should if they are to support all common CSS properties. Because they don't support it means I have to use `makeStyle` unnecessarily in some cases.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I

[2020-03-04 15:16] TomPradat opened #19984 "Padding added to the body when opening a Modal"
- [x] The issue is present in the latest release. (4.9.5)

I've search the issues and this is related to a lot of issues, including this one => https://github.com/mui-org/material-ui/issues/10000

## Current Behavior 😯

In my application, I sometimes get a padding-right added to the body when a Modal is opened.

## Steps to Reproduce 🕹

I haven't find a way to reproduce this yet and it happens ran

[2020-03-04 15:19] TomPradat commented on #19984
So I've investigated on this behavior, and adding the following css fixes it :

[code]

It's really weird and seems to be a problem with the navigator. Sometimes when rendering a modal, the html tag gets a scrollbar.

This causes the ModalManager to add a padding based on this scrollbar width => https://github.com/mui-org/material-ui/packages/material-ui/src/Modal/ModalManager.js

[2020-03-04 15:34] TomPradat commented on #19984
The scrollbar appears beetween the moment the modal is rendered and the moment when the opacity is set to 1. This causes the `isOverflowing` in the ModalManager to return true

[2020-03-04 15:38] Julien-Hery commented on #19836
@oliviertassinari Yes the 4.5.2 version is working as expected.

I didn't thought about the escape key, good catch. The `reason` solution looks great. I don't have time right now to implement it. If @hasanozacar PR doesn't close the issue in the near future, I will try to take a look :)

[2020-03-04 15:41] TomPradat commented on #19984
This is what happens in the sandbox from this [comment](https://github.com/mui-org/material-ui/issues/10000#issuecomment-567204475).

I'm not sure what we should do about it though. Should we just provide the css fix in the documentation ?

[2020-03-04 15:49] vince1995 opened #19985 "Outlined TextFields with node as label doesn't render correctly"
## Current Behavior 😯
The outline overlaps the label.

## Expected Behavior 🤔
Should render exactly like with strings.

## Example
https://codesandbox.io/s/usage-u9poj

## Workaround
Currently I add some margin.

EDIT: I've added some `OutlineInput`s to the codesandbox, they are all acting different. 🤔

[2020-03-04 18:29] danawoodman opened #19986 "[docs] System Typography page is first search result for Typography"
Seems strange that the docs site shows `<Box>` components for the `<Typography>` docs:

![](https://p198.p4.n0.cdn.getcloudapp.com/items/yAuvZzLE/Screen+Shot+2020-03-04+at+3.28.48+PM.png?v=7e26d04233d041fd00a037b56cb43ecb)

https://material-ui.com/system/typography/#typography

[2020-03-04 18:59] mbrookes commented on #19986
That's the Typography page for the System package. The Typography docs are here:

https://material-ui.com/components/typography/
https://material-ui.com/api/typography/

Perhaps we somehow need to make it clearer what section a page belongs to.

[2020-03-04 19:15] danawoodman commented on #19986
Ah, that wasn't obvious. That page is the first result when searching for "Typography":

![](https://p198.p4.n0.cdn.getcloudapp.com/items/JruWqQ4w/Screen+Shot+2020-03-04+at+4.13.42+PM.png?v=e78d0e67814733e32a05c774d938bb01)

[2020-03-04 19:28] m4theushw commented on #19154
I'm thinking about starting a draft for `NumericField`. To support currency values should we (1) use [Intl.NumberFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat), (2) extend the Material-UI's localization API or (3) delegate all formating to user?

[2020-03-04 19:55] tristanMatthias commented on #15976
This is also an issue for me. It seems to be a type error, because the I'm logging the value itself and it's working, but next.js throws an error saying it doesn't exist. Breakpoints too.

[2020-03-04 20:47] haveamission opened #19989 "AutoComplete component does not update when a new item is selected"
I am attempting to use the `<AutoComplete />` component. When a new value is selected, the component does not update.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I click the down arrow, and select a new value in AutoComplete

[2020-03-04 21:03] ljmerza opened #19990 "popper dropdowns show elements behind them"
latest version created a popper dropdown from the example in the docs and can still see elements behind it
![image](https://user-images.githubusercontent.com/4085765/75922750-a6056000-5e31-11ea-9657-7a8c1c694c30.png)

[2020-03-04 21:06] ianschmitz commented on #17491
So close @eps1lon!

Unofrunately the generic type of `WithStyles` and `StyledComponentProps` are slightly different, which causes an error:

[code]

Looks like `WithStyles` types the generic as

[code]

while `StyledComponentProps` types the generic as

[code]

I imagine that is because `WithStyles` lives in `@material-ui/core`, while the other lives in `@material-ui/styles`?

[2020-03-04 22:13] weslenng commented on #19983
I think it makes sense that this property should be added to the Box component. I will send a PR!

[2020-03-04 22:32] joshwooding commented on #19989
It updates for me?

[2020-03-04 22:34] joshwooding commented on #19990
Please provide a minimal reproducible example.

[2020-03-04 22:47] joshwooding commented on #19943
This is due to the display changes we made in v4. Seems like a simple fix.

[code]

[code]

https://github.com/mui-org/material-ui/blob/89c0ed4468b2a703728f2d6279c8252fc2b7ef1b/packages/material-ui/src/ListItemText/ListItemText.js

@protzman Do you want to work on a pull-request?

[2020-03-04 22:50] weslenng commented on #19983
@oliviertassinari What do you think about one `cursor.js` file in `material-ui-system`?

[2020-03-04 22:50] mbrookes commented on #19986
I noticed that too. I think we should leave this open for now.

[2020-03-04 22:51] haveamission commented on #19989
@joshwooding Just the name, which is a separate update process, or the data below?

The data below is not updating unless you click the X in the component

Try clicking the X to see the difference I am speaking of.

[2020-03-04 22:55] mbrookes commented on #19986
I've changed the subject to reference the search result as that's the entry point to the source of confusion, but I also think we could make the distinction clearer on the page. (Add breadcrumbs? Change the System page headings to "System – Pagination"? Something else?)

[2020-03-04 23:22] joshwooding commented on #19989
@haveamission I don't have any data. If the name is updating correctly it seems like an implementation issue?

[2020-03-04 23:30] devsportties opened #19994 "how can I change the background color of the right side?"
I tried to change it on

  paper: {
    margin: theme.spacing(8, 4),
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
    backgroundColor: 'black',
  },

it does not cover everywhere but just the form?

[2020-03-05 00:12] joshwooding commented on #19994
Please use our issue template.

[2020-03-05 00:12] #19994 closed

[2020-03-05 00:14] joshwooding commented on #19982
Have you looked at our typography theme page (https://material-ui.com/customization/typography/) ?

[2020-03-05 00:16] joshwooding commented on #19986
Is there a way to show component pages first as well? I would expect most searches are looking for the component pages rather than the System pages.

[2020-03-05 00:36] mbrookes commented on #19986
That was the main point, as reflected by the change of subject. @oliviertassinari  would be best to answer, as he has singularly developed the Algolia integration.

[2020-03-05 01:56] mfaizan1 commented on #7633
How can i use prop in an external styles json file ?

for example this is external file
[code]
i import this file and spread the object

[code]

now on color function i get props = {} .

can someone help me in this regard ?

[2020-03-05 02:53] bmaclean commented on #19159
@oliviertassinari if you want some help on this I recently implemented something similar and could help out. Let me know!

[2020-03-05 04:00] SunnyXiao opened #19997 "Add customize rules for form validation"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

For FieldText，Can we add customize rules for the validation, the rules can be as Array | String | Object.

## Examples 🌈

<FormValidation onSubmit={this.onSubmit}>
    <FieldText
      ref={ref => this.field = ref}
      label='Email'
      t

[2020-03-05 07:55] arsen commented on #19664
@oliviertassinari
It may sound weird but having the DURATION 550ms (plus DELAY_RIPPLE 80ms) on mobile devices feels that the app is running slow.

[2020-03-05 08:54] masbaehr commented on #11649
Why not just add xxl at 2560px for heavens sake ;) ?
Especially for the Container this is very important

[2020-03-05 10:12] hbmuller opened #20000 "`OutlinedInput` displays notch when it shouldn't"
Kind of a very specific bug and also hard to phrase it properly. But in short, `OutlinedInput` will have a "notch" even when it was disabled via a theme if `TextInput` has a prop `InputLabelProps={{ shrink: true }}`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a

[2020-03-05 10:49] vishal-vp commented on #16341
I have reproduced this. Please check this sandbox https://codesandbox.io/s/material-uiissues16341-7mfwk

[2020-03-05 10:56] eps1lon commented on #20000
Great issue! Not sure why it happens but at least I have a test for it.

[2020-03-05 11:22] eps1lon commented on #20000
So here's why this happens:
Usually you want to display the notch when the label is shrunk, right? I hope we can agree that this would be the desired outcome for most use cases.

To guarantee this `TextField` sets `notched` to the same value as `InputLabelProps.shrink`. The props from the theme act as default values. Since `notched` is set by the `TextField` the default value from the theme is ign

[2020-03-05 11:27] eps1lon commented on #20000
It's a bit unfortunate that we have the label logic for the OutlinedInput so spread out. Ideally this would be handled by InputLabel as well.

[2020-03-05 12:05] hbmuller commented on #20000
In our case we do want them to be separate. We still have the "shrink" transition, but it doesn't get to go out of the field - just from the center to the top of the field. And in most cases, that works all fine.

The case we use `shrink` for is when an input has some placeholder text. When that happens, we want the placeholder to be visible even without the user focus. So, besides adding `placeho

[2020-03-05 12:05] kjeske commented on #19980
React works fine. If you put `required` attribute on the field, the `validity.valid` value will be set properly. The problem is when don't use the [html validation attributes](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation) and then explicitly set `error` of your mui field to `true`. Then you are in a situation where the field in UI indicates that there is an e

[2020-03-05 12:07] hbmuller commented on #20000
Again. That is not a particular blocker for us, and it is fine if this just looks too "userland". I just found it a bit confusing.

[2020-03-05 12:15] dieguezz commented on #19976
Ok this is correct. I tried with a more complex example and i realised its true that only adds the necessary ones. Not a bug sorry

[2020-03-05 12:15] #19976 closed

[2020-03-05 15:27] mcobzarenco commented on #6115
@hc-codersatlas old == mature -- could you please elaborate why that is a problem?

[2020-03-05 15:28] jdoklovic commented on #19705
@oliviertassinari @captain-yossarian Sorry I'm late to this.
I'm not going to have time to test anything until after next week.

Also, I'm not really sure how I would go about local testing. There don't seem to be any docs on how to consume component changes in a different project locally. yalc? npm links? any suggestions would be helpful.

[2020-03-05 15:41] mcobzarenco opened #20002 "`createMuiTheme` return type doesn't take into account merged objects"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Thank you so much for this project -- it is amazing!

## Current Behavior 😯

I would like to add custom fields to the `Theme` object as described in the [docs](https://material-ui.com/customization/theming/

[2020-03-05 15:42] pefi1011 commented on #19970
@oliviertassinari sorry for a duplicate..I did not find any issue with this..can you please post the issue here so that I can track the changes and perhaps even implement the fix myself?

[2020-03-05 15:51] eric-burel commented on #6115
Ok seems like an hot issue but can someone please confirm this simple info: is it currently possible to use a `styled-components`-like syntax, with tagged template literals that looks like CSS, in current Mui versions (4 or 5)?
I couldn't  find any clear yes or no answer to this question. I don't really care about the underlying technology, only about developer convenience. Copy-pasting CSS from I

[2020-03-05 17:12] eps1lon commented on #19413
Hopefully https://github.com/microsoft/TypeScript/pull/36014 gets released. Then we could already switch from `tslint` to `tsc`. Should also help with overzealous IDEs that report a many issues in the repo (that are expected).

`$ExpectType` is a bit harder though.

[2020-03-05 17:51] mbrookes commented on #6115
This issue is about the styling solution used in Material-UI, your question appears to be about how you style your app / restyle the components, for which you can use any solution:

https://material-ui.com/guides/interoperability/

JSS has basic support for template literals as a plug-in.

[2020-03-05 18:14] zain-ak commented on #9427
I used the method mentioned by @Loktor and it worked perfectly for me as my expansion panels are in separate components.

My only qualm is the fact that I'm getting this warning/error:
![Capture](https://user-images.githubusercontent.com/14963706/76011491-a9a4ef80-5ee2-11ea-9e65-e27a0ed4015f.PNG)

I've tested my app out in Firefox and it's working as expected, maybe misses the initial click at tim

[2020-03-05 18:24] eps1lon commented on #20002
Customization is explained in [our typescript guide](https://material-ui.com/guides/typescript/#customization-of-theme). Does this work for you?

Changing the signature of createMuiTheme would be incomplete since it wouldn't affect the type you read from context.

[2020-03-05 18:30] dfernandez-asapp opened #20003 "[Button] className is not the last class applied to a button"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The value of the `className` property is not the last class name applied to a button.

This seems to be a transpile issue problem because the source code clearly puts the className va

[2020-03-05 19:25] eps1lon commented on #20003
Isn't the order irrelevant? If two selectors have the same specificity then the first one that appears in the declaration wins. I don't think order in `classNames` matters ever. Do you have an example that showcases the issue you have?

[2020-03-05 19:32] dfernandez-asapp commented on #20003
I don't think that the issue is incomplete. There is an example in the original report: https://codesandbox.io/s/button-classname-issue-bs6m2

I also included the code generated from the babel transform which clearly doesn't respect the order of the original code (it may be an issue with `babel-plugin-optimize-clsx`).

Even if you have the same specificity the order in the `class` attribute matter

[2020-03-05 19:55] dfernandez-asapp commented on #20003
I just confirmed that this is a bug in `babel-plugin-optimize-clsx`. Related issue: https://github.com/merceyz/babel-plugin-optimize-clsx/issues/18

@eps1lon About real world use cases:
* I found this problem while migrating from v3 to v4. I found a slight difference in one of our pages that was caused by the order. I can work around it with some specificity tricks (the usual double class declarat

[2020-03-05 20:33] eps1lon commented on #20003
The order of the classes in the `class` attribute has no effect on styling. Only specificity and order of the declarations has an effect. Could you share an example where the order affects styles?

[2020-03-05 20:34] ExE-Boss commented on #19413
For `$ExpectType`, I just use:
[code]
from [tsd](https://www.npmjs.com/package/tsd).

[2020-03-05 21:06] dfernandez-asapp commented on #20003
Sorry to continue the discussion, but your comment is incorrect, the example: https://codepen.io/dfernandez-asapp/pen/mdJBQOX

shows that order matters, and I'm actually having a bug from it.

[2020-03-05 21:12] Joycechocho commented on #12034
https://github.com/mui-org/material-ui/issues/13216#issuecomment-429527839
This works for me.
Also, if you are using TextField

`                    <TextField
                      select
                      label={"Name"}
                      value={value}
                      onChange={selectValue}
                      SelectProps={{
                        MenuProps: { disablePortal: true

[2020-03-05 21:15] xiaoyu-tamu opened #20004 "[Link] Use the component as a button"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Should `<Link/>` have cursor pointer by default when onClick handler is defined? Sometimes I like to use MuiLink as action toggle, `<Link onClick={dosomething}>Edit</Link>`

[2020-03-05 21:17] dfernandez-asapp commented on #20003
Ok, my bad the order doesn't matter. I got an instant of craziness due to hours of bug fixing. Probably the issue is caused by a declaration order change between versions. Going to close this, and dig more on why the computed CSS is different in my case. Sorry for the back and forward.

[2020-03-05 21:17] #20003 closed

[2020-03-05 21:20] oliviertassinari commented on #20004
Tip, only use the Link for the UI display, and the button for the behavior, as.in the documentation

[2020-03-05 21:23] nickperkinslondon commented on #9716
...so I guess the answer is "no".  ( and that code doesn't work for me )

[2020-03-05 21:24] xiaoyu-tamu commented on #20004
Ok. Thanks

[2020-03-05 21:30] danawoodman commented on #19983
@weslenng sweet! Can it be added to `<Typography>` too?

[2020-03-05 21:31] danawoodman commented on #19982
@joshwooding I think so, but no where does it talk about customizing the font family for monospace fonts?

[2020-03-05 23:07] ypresto commented on #19113
In my case for `makeStyles(theme => createStyles(...))`, returning `Record<ClassKey, any>` from `createStyles(...)` almost halves (in my code and computer, about 1200ms -> 750ms) `encodedSemanticClassifications-full: elapsed time` shown in tsserver log (it looks not an expensive job, but perhaps waiting for type check to be completed).

[code]

`createStyles(...)` checks style structure so we can

[2020-03-05 23:33] eps1lon commented on #19113
@ypresto  `createStyles` is only needed for typescript versions without `const` assertions. If you can use `{ display: 'block' as const }` in your codebase (ts >= 3.4) then use that over `createStyles`.

[2020-03-05 23:33] amcasey commented on #19113
@eps1lon We noticed that and tried making the switch in `docs` but the results were unimpressive.

[2020-03-05 23:42] ypresto commented on #19113
@eps1lon with const and without createStyles, IntelliSense does not show context-aware candidates anymore :cry:

[2020-03-05 23:48] amcasey commented on #19113
@ypresto It should.  Do you have an example code snippet?

[2020-03-06 00:10] amcasey commented on #19113
@ypresto By "kills it", do you mean "causes it to work the same way as `createStyles` did"?

It's a drag to put it everywhere, but no more of a drag than putting `createStyles` everywhere.

[2020-03-06 00:12] ypresto commented on #19113
@amacleay I meant `kills IntelliSense` :pray:.

[2020-03-06 00:13] amcasey commented on #19113
Sorry, I missed your comments.  I'll give that a shot.

[2020-03-06 00:14] ypresto commented on #19113
I have no idea why but this is 1100ms → 750ms, interestingly:

[code]

Removing `CardProps & ` from FC also is almost the same result.

[2020-03-06 00:27] ypresto commented on #19113
Finally, I found the biggest one, 750ms → 130ms:

Removing `style={...}` from two Typographys.

[code]

But why? Adding the same style to `<div>` does not hit the performance. Maybe `OverridableComponent` is too complicated..?

[2020-03-06 00:28] embeddedt commented on #19113
AFAIK the way Material-UI handles local styles on components is different than the way React handles it for HTML elements.

[2020-03-06 00:31] ypresto commented on #19113
@embeddedt In type level, it resolves to `React.CSSProperties` which is the same as div's style prop.

[2020-03-06 00:31] embeddedt commented on #19113
@ypresto I stand corrected. Sorry.

[2020-03-06 04:15] vishal-vp commented on #16341
I have figured it out. The problem was due to using the colors wrongly in theme. The following code causes the error.

[code]

The correct way to use colors in theme is as follows: (Notice that value of primary should be the color and not the main key of primary object).

[code]

To be honest the official documentation does not consolidate all the aspects of customizing theme. It is broken down in

[2020-03-06 04:27] vdh commented on #15827
@Zhouzi  I think this use of generics ought to solve your issue:
[code]
Which can also be a functional component:
[code]

[2020-03-06 07:51] #19990 closed

[2020-03-06 09:33] Lagily commented on #11723
@azmenak nice solution, when using the keyboard to navigate, it seems that the sub menus do not close when navigating away from an element

[2020-03-06 11:08] Romcol commented on #19780
Hi,

I've found a way to fix the problem.

The thing is, `StylesProvider` uses the same instance of `sheetsManager`. When using two react trees, it causes such collisions.

[code]
A way to fix it is to pass a new `sheetsManager` to `StylesProvider` such as this

[code]

(see https://codesandbox.io/s/material-ui-seeds-unwlf)

Hope it can help someone! Not sure how the PR should be done though, but

[2020-03-06 12:45] rschpdr commented on #19490
I second this. Just had to pass empty Fragments as arguments to the button props (Typescript wouldn't let me pass null). It's not a hard or lengthy workaround, but it's not something that's easy to understand from the perspective of someone looking at the code for the first time.

[2020-03-06 13:03] oliviertassinari commented on #19990
This sounds like a duplicate of #19677.

[2020-03-06 13:07] testarossaaaaa commented on #20002
@mcobzarenco it can works if you use the this typed theme object directly, but not when it goes from the context.

[2020-03-06 13:08] #19989 closed

[2020-03-06 13:08] luansantosti commented on #1578
`inputProps={{ maxLength: 365 }}` works for me.

[2020-03-06 13:39] alexstep-dev opened #20008 "Skipped character after rapidly typing into Combo Box field"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I try repeatedly to type some string (f.e. "123") very quick into Combo Box field (https://material-ui.com/components/autocomplete/#combo-box), in some of cases I have just "23" string inside. Before thatI added **eventListener*

[2020-03-06 13:42] gota1993 commented on #16341
I have same issue.

In App.js I have

[code]

In child component, I have

[code]

and here is error

![1](https://user-images.githubusercontent.com/38917779/76088653-d08e1f00-5fd1-11ea-8359-ee076de49e34.PNG)
![2](https://user-images.githubusercontent.com/38917779/76088654-d126b580-5fd1-11ea-9954-6eca4d2c60b8.PNG)

[2020-03-06 13:45] gota1993 commented on #16341
this doesn't fix issue for me

[2020-03-06 14:07] oliviertassinari commented on #19986
I think that the introduction of a breadcrumb has potential.
Regarding Algolia, I have no idea how they rank the content in this case. I believe we have another issue open related to improving the ranking of Algolia. For instance, I have noticed that, sometimes, it display the components page before the API page, sometime, the opposite.

[2020-03-06 14:10] #19997 closed

[2020-03-06 14:13] mcobzarenco commented on #20002
@eps1lon @testarossaaaaa Thank you so much for you guidance!

:+1: I'll try the solution described in the guide using declaration merging -- I'd argue that is preferable to express the relationship in the type system directly if possible.

`ThemeProvider` is already declared as generic in the type of `Theme`:

[code]

and similary the `useTheme` hook
[code]

Such that something like the snippet be

[2020-03-06 14:34] oliviertassinari commented on #11649
Especially for the Container this is very important

@masbaehr For the sake of simplicity? The fewer breakpoints to consider the better.

[2020-03-06 14:37] oliviertassinari commented on #19984
The issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-06 14:37] #19984 closed

[2020-03-06 14:39] #19985 closed

[2020-03-06 14:51] eps1lon commented on #20002
I would recommend not using `useTheme<MyTheme>()`. We're probably removing this anyway since it's abusing generics. What you're actually doing is type casting so you should be explicit about it:

[code]

Sure but you still need to tell all the context consumers what the type is. With module augmentation we provide the safest way to do that.

I'm going to close this issue since it's more suited for

[2020-03-06 14:55] oliviertassinari commented on #19705
@jdoklovic The change is going live this weekend. You will be able to try it directly.

Regarding your question on yarn link, etc. You are right, it's not documented. The simplest would be to used the version of the packages we publish for each pull request. You can find it following the codesandbox ci breadcrumbs. Better documentation on the topic could potentially help.

[2020-03-06 14:55] #20002 closed

[2020-03-06 14:56] mcobzarenco commented on #20002
:+1:

FWIW when using declaration merging as suggested by the guide, I still have to cast to `Theme` when using the `useTheme` hook, i.e.
[code]
fails as `useTheme()` returns `DefaultTheme`, not `Theme` -- should the guide suggest declaration merging for `DefaultTheme` rather than `Theme?

[2020-03-06 15:38] piotros commented on #19677
Any updates on this issue? Will addition of `z-index` in `FormControl` be reverted?

[2020-03-06 16:00] vince1995 opened #20009 "[TextField] react-addons-css-transition-group breaks with multiline TextFiels"
I've noticed that if a `TextField` is `multiline` it breaks the show functioniality of `react-addons-css-transition-group`. The hide trantion still works.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The show transition of `rea

[2020-03-06 16:08] iccube-real opened #20010 "[Modal] close on mousedown (right and middle mouse buttons)"
Currently a Modal closes on escape and left button click, would it be possible to make it close also on right and middle button clicks (mousedown event) ?

thanks a lot for your great work :-)

[2020-03-06 16:26] #20010 closed

[2020-03-06 16:30] eps1lon commented on #20002
You're probably importing from `@material-ui/styles` not `@material-ui/core/styles`. Would be nice to include in the docs what is affect and what not :+1:

[2020-03-06 16:33] eps1lon commented on #20008
Can't reproduce in chrome on Ubuntu 18.04. Can you reproduce this in an incognito tab i.e. without any extension?

Can't explain why it would miss some inputs.

[2020-03-06 16:58] #20009 closed

[2020-03-06 16:59] iccube-real commented on #20010
Here we go, https://stackoverflow.com/questions/60568518/mui-modal-close-on-mousedown-right-and-middle-mouse-buttons

[2020-03-06 17:00] oliviertassinari commented on #19677
@piotros Do you want to submit a pull request for it :)?

[2020-03-06 17:56] oliviertassinari commented on #19997
@SunnyXiao We encourage the integration with third-party form libraries for solving this problem https://material-ui.com/components/text-fields/#complementary-projects.

[2020-03-06 18:07] oliviertassinari commented on #19970
It's this one #13898.

[2020-03-06 18:07] #19970 closed

[2020-03-06 18:44] rretter opened #20011 "[Docs] "Helper Message" section of "AutoComplete" component examples don't match descriptions"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

See issue title; that's pretty much it.  Neither example actually does what the textual descriptions say.

## Expected Behavior 🤔

Examples should match descriptions and vice versa.

[2020-03-06 18:46] rretter commented on #20011
https://material-ui.com/components/autocomplete

[2020-03-06 19:05] vince1995 commented on #20009
So, you‘re saying it‘s not a bug, it‘s a feature? 🤔

@oliviertassinari

[2020-03-06 19:38] Cristy94 commented on #19746
I just now tried your solution and it worked. Thank you!

[2020-03-06 20:04] henrymorton commented on #19654
Hi there,

You have at least two people looking for it?!

Cheers,

Henry

[2020-03-06 20:36] #20011 closed

[2020-03-06 22:19] oliviertassinari opened #20012 "[RFC] Material-UI v5 🚀"
# Introduction

Material-UI v4 was released 10 months ago, per our [release schedule](https://material-ui.com/versions/#release-schedule). It's time to plan for v5.
Our [GitHub milestone](https://github.com/mui-org/material-ui/milestone/35) has a due date for October 1st 2020, and while I doubt we will release in time, planning 6 months ahead seems relevant.

Developers made it clear in the past t

[2020-03-07 00:53] mbyrne00 commented on #19677
It’s a simple revert pending decision. Hardly needs a PR if decision hasn’t been made

[2020-03-07 08:10] s97712 opened #20013 "Link Component disabled property does not work correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

As the following code, it cannot display the correct style
[codesandbox](https://codesandbox.io/s/dreamy-sammet-f9qzu?fontsize=14&hide

[2020-03-07 08:15] ValentinH commented on #20012
Really detailed plan and it looks good to me.

The only thing that scares me about is the styled component part.

Does react-jss includes all the features of @material-ui/styles? Specifically the awesome TS support for the return type of `useStyles()`?

[2020-03-07 09:29] eps1lon commented on #20013
What would the correct style look like?

[2020-03-07 09:46] s97712 commented on #20013
[codesandbox](https://codesandbox.io/s/dreamy-sammet-f9qzu?fontsize=14&hidenavigation=1&theme=dark)
That's my expected sytle

[2020-03-07 09:50] keymandll opened #20014 "Tooltip: you have provided a `title` prop to the child"
Tooltip constantly prints error message stating I have provided a `title` property for the child, but that is definitely not the case.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The current behaviour is that my console is flo

[2020-03-07 09:54] eps1lon commented on #20013
I don't understand. What is problem here? Why should the default cursor be "not-allowed" and the color "graytext"?

[2020-03-07 10:04] s97712 commented on #20013
That's my expected style, may be a little different, but if the the component is disabled, should it be look different?

[2020-03-07 10:07] eps1lon commented on #20013
Since this neither is close to disabled styles for anchor or button tags I wouldn't agree. Seems like there's nothing to do for us since you can apply the styles you find most fitting.

[2020-03-07 10:07] #20013 closed

[2020-03-07 10:25] oliviertassinari commented on #20014
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-07 14:13] psdr03 commented on #19943
Can I take this? Would be my first issue.

[2020-03-07 14:23] edgarjrg commented on #17791
I also had this problem when upgraded from.`4.3.3` to `4.9.5`

thanks to @fyodore82 to point out in this comment https://github.com/mui-org/material-ui/commit/b6ff4f55e5375a5fbd7040485d12ea7170a8047b#commitcomment-37686032  to the way of using component https://material-ui.com/guides/typescript/#usage-of-component-prop

I used to have:
[code]
after update the compiler gave this error:

[code]

tha

[2020-03-07 15:05] TommyJackson85 opened #20018 "[SwipeableDrawer][Drawer] Include a simplified code-source version with only one Drawer, on the Drawer documentation."
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Just have second code source example (with sandbox) on the SwipeableDrawer section of the [Drawer page](https://material-ui.com/components/drawers/#drawer).

The current one we have has 4 swipeable drawers from each side of the device. This is

[2020-03-07 15:28] TommyJackson85 commented on #19606
I noticed from console of the the SwipeableDrawer sandbox example:

<img width="785" alt="Screenshot 2020-03-07 at 13 53 09" src="https://user-images.githubusercontent.com/22279028/76146106-0b528e80-6088-11ea-99d3-00190343f0fd.png">

<img width="699" alt="Screenshot 2020-03-07 at 13 25 25" src="https://user-images.githubusercontent.com/22279028/76146114-15748d00-6088-11ea-9355-e138101c5e32.png">

[2020-03-07 17:10] mbrookes commented on #20018
I wonder if we really need to show all the positions in a single demo?

[2020-03-07 18:48] TommyJackson85 commented on #20018
The one we have on the site does anyway. I’m proposing just one side with this, so the code can be easier to implement for developers.

Sent from my iPhone

[2020-03-07 19:39] joshwooding commented on #19943
@psdr03 Sure :)

[2020-03-07 19:40] mbrookes commented on #20018
Yes, I'm just questioning whether it's necessary to have the "four side" version. @oliviertassinari ?

[2020-03-07 20:04] dmtrKovalenko commented on #20012
## Unstyled components

I think that providing hooks is not a really best solution for making custom design systems. I know that some companies using material-ui like

[code]

And this is a really powerful way to build custom design, based on best practices and documentation of material-ui. But the proposed solution with hooks will may them to write custom companies, custom Html structure – and I

[2020-03-07 21:00] TommyJackson85 commented on #20018
Personally, I think there is no harm keeping this as a second example to demonstrate it.

Sent from my iPhone

[2020-03-07 21:42] Cristy94 commented on #19270
Is the fix present in the latest version? The `onChange` still doesn't seem to trigger when bluring the input with `freeSolo`.

[2020-03-07 22:53] mbrookes commented on #20018
In any case we can definitely add the simpler version. Would you like to submit a PR?

[2020-03-07 23:32] TommyJackson85 commented on #20018
Yeah I will work on it in 10 hours

Sent from my iPhone

[2020-03-08 02:18] onenick972 commented on #3411
Hi....still experiencing this problem even at ver 4.9.5...Im using react hook form to set the valeus in the TextFields...when i set the values to empty space it works...but for a password text field it shows as a character
![Capture](https://user-images.githubusercontent.com/362096/76155362-9603af80-60c1-11ea-839b-44cb0cd4b2e8.PNG)

[2020-03-08 02:21] onenick972 opened #20022 "[TextField] defaultValue overlays prompts until edited still occurs even in ver 4.9.5"
Hi....still experiencing this problem even at ver 4.9.5...I'm using react hook form to set the values in the TextFields...when I set the values to empty space it works...but for a password text field it shows as a character
![Capture](https://user-images.githubusercontent.com/362096/76155396-eb3fc100-60c1-11ea-80e6-73e6b29a6861.PNG)

![Capture](https://user-images.githubusercontent.com/362096/7615

[2020-03-08 02:50] yordis commented on #20012
Personally, before tackling the unstyled components, I would make sure to divide it into two categories: Behavioral and UI. Or at least have clear boundaries about this in the source code, now with hooks, probably most things would become as part of a hook rather than as part of the component body.

Behavioral components expose functionality either by hooks or by elements that don't affect the UIs

[2020-03-08 05:00] simoami opened #20023 "[Alert] html content breaks up text in Alert"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The content in the Alert component breaks into several lines when html tags are present in the content. For example: `<em>`, `<i>`, `<strong>`

<img width="572" alt="Screen Shot 2020-

[2020-03-08 05:01] simoami commented on #20023
The presence of `display: flex` is causing the html tags in content to break into separate lines.

[2020-03-08 11:00] alexeychikk commented on #9248
I'm using `keepMounted={true}` on `<Menu>` component in `gatsby` environment. Menu children are not being rendered in SSR mode at all.

[2020-03-08 15:27] #19677 closed

[2020-03-08 15:40] oliviertassinari commented on #19664
@arsen What would be a better value? Would it make sense to apply such value by default?

[2020-03-08 15:59] oliviertassinari commented on #20023
@simoami Any idea on how we could solve this problem?

[2020-03-08 16:08] oliviertassinari commented on #19845
The issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-03-08 16:08] #19845 closed

[2020-03-08 16:14] oliviertassinari commented on #19744
What if we were using the exact same approach than Chrome that displays the current viewport when resizing? This approach solves the visibility issue, as only visible when resizing, to later fade away.

Regarding the discoverability issue, I think that we could document it in the breakpoint parts of the documentation, as well a include it in the examples.

Exciting 😃.

[2020-03-08 16:20] cohancarpentier commented on #19723
By definition, adding `container` to a grid element makes its width `100%`. The fact that you don't have `wrap="nowrap"` on the outermost grid element gives you this (expected) behavior.

To acheive the result you want, you shouldn't add the `container` attribute:
[code]

This is something take bothers me aswell, but it's how the CSS was declared for `Grid`.

[2020-03-08 16:54] RouNNdeL opened #20041 "Allow disabling auto resizing of textarea in TextField"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add a property to allow disabling automatic resizing of a `textarea` in a `TextField` component.

## Examples 🌈

![image](https://user-images.githubusercontent.com/22538735/76167250-8e95e200-6165-11ea-8f2b-d2456232b9b3.png)

Textarea's height

[2020-03-08 17:07] RouNNdeL commented on #20041
After some investigation I've found this piece of code in `InputBase`:
[code]

Turns out setting the `rows` property on the `TextArea` to a truthful value and a number makes use of a normal `textarea`.

[2020-03-08 17:07] #20041 closed

[2020-03-08 18:02] oliviertassinari commented on #19983
What's your use case for changing the cursor?

[2020-03-08 18:12] oliviertassinari commented on #12034
Note that #18586 has a proposed solution to a builtin solution to the problem.

[2020-03-08 19:27] #19943 closed

[2020-03-08 19:27] londonoliver commented on #19723
Ok.

[2020-03-08 19:27] #19723 closed

[2020-03-08 21:17] federico-solveit opened #20042 "Typography: show tooltip of full content when ellipsis is active"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Using Typography, I think it would be good if we can show ToolTip of full text when ellipsis is active

## Examples 🌈
A code sandbox which represents what I would like to have is the following.
https://codesandbox.io/s/material-demo-p2omr

##

[2020-03-08 23:58] edgarjrg opened #20043 "Stability at upgrade"
Hi! thank you for making this great project! 🎉

I would like to propose static versions of styles to avoid differences when upgrading.

- [ X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

[code]

## Motivation 🔦

I went from 4.3.4 to 4.9.5 on one project and there're many litt

[2020-03-09 00:20] simoami commented on #20023
@oliviertassinari There are several ways to fix this but my observation is that the `MuiAlert-message` class name carries a `display: 'flex'` prop was either meant to vertically center align the message in case the Alert container was given a fixed height (who would do that??) or if the contained action or icon elements were vertically larger than the text content. These are unlikely scenarios in

[2020-03-09 01:25] zzossig commented on #19845
Sorry, I found that it was my bad.
I did update `material-ui/core` but didn't update `material-ui/styles`

[2020-03-09 04:11] vishal-vp commented on #16341
@gota1993 Try to reproduce it at https://codesandbox.io/ and share it so that others can debug it.

[2020-03-09 07:03] goneale commented on #17900
Hi guys,
I'm currently running "@material-ui/core": "^4.9.5"
Receiving the error about:
_Material-UI: you have imported a private module.
Please replace the '@material-ui/core/styles/MuiThemeProvider' import with:
`import { ThemeProvider as MuiThemeProvider } from '@material-ui/core/styles';`

Yet when I do that, now I receive the error

and

What's going on?

[2020-03-09 08:48] eric-burel commented on #19113
Hi guys, not sure if it's worth opening a new issue for this, so I'll post it here since it's related to types correctness/performance. Let me know if I should open an issue instead.
When following the [documentation to add a custom font](https://material-ui.com/customization/typography/), I end up with the following typing error:
`Type 'string' is not assignable to type 'FontFaceFontDisplayProper

[2020-03-09 09:26] eps1lon commented on #19113
@eric-burel This is an isssue with typescripts' automatic type widening. Try

[code]

[2020-03-09 09:35] eric-burel commented on #19113
Thanks it works, and I've learnt a new concept "type widening" :) It's weird that `fontStyle` is not affected for example, it's only first CSS property defined as an enum but the first time I hit this.

[2020-03-09 10:25] mahesh-kedari commented on #15573
This will surely help to extend components with lot of flexibility.

[2020-03-09 10:32] flycj opened #20044 "Server-side rendering createGenerateClassName productionPrefix invalid"
server render  , set up  createGenerateClassName  -> productionPrefix  invalid

I have checked the documentation and other issue , but it still doesn't help me
The app code I wrote is as follows
[code]
Both the server and client will call the app component rendering
The final effect is：
In the production: the element's class attribute will start with “pkg-” when rendering on the client, but the el

[2020-03-09 10:35] eps1lon commented on #20044
Could you create a  codesandbox for this or a clonable repro? Should probably not include any custom react-router or other contexts.

[2020-03-09 10:55] Monfernape commented on #3157
@rickymarcon I've tried but it doesn't work.

[2020-03-09 11:31] theshashiverma commented on #8958
https://stackoverflow.com/a/60599662/10268122

[2020-03-09 12:26] martinsvb opened #20045 "ToggleButtonGroup className typescript problem"
[ToggleButtonGroup](https://material-ui.com/components/toggle-button/) doesn't know clasName property in typescript

- [x] The issue is present in the latest release.
- [] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Typescript message:
Type '{ children: Element[]; className: string;

[2020-03-09 12:55] eps1lon commented on #20045
Which version of `@material-ui/lab` and `@types/react` are you using? Please also include the exact version of `typescript` and the `tsconfig.json`.

It should technically be working since we extend attributes of a `div` which has a `className` prop.

[2020-03-09 13:31] martinsvb commented on #20045
I'm using:
"@material-ui/lab": "^4.0.0-alpha.19",
"@types/react": "16.8.8"

You navigate me to increase "@material-ui/lab" on "4.0.0-alpha.45" and it fixed the problem!

I checked ToggleButtonGroup typing too and error looked strange for me.

Can you provide information about version pairs somehow simply on main page?
I mean some information this core-version requires this lab version?

But anyway

[2020-03-09 13:35] martinsvb commented on #20045
I'm sorry increase lab version didn't fix it.
I had there:
                // @ts-ignore
                className="t_refiner-item-contentsectiontype"
typescript: 3.7.5
My tsconfig:
{
    "compilerOptions": {
        "allowJs":true,
        "baseUrl": ".",
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "forceConsistentCasingInFileNames": true,
        "jsx":

[2020-03-09 14:11] eps1lon commented on #20045
This looks like an issue with your setup. This is better asked on StackOverflow. If you can provide a clonable repo that reproduces this issue please add a link to it here.

[2020-03-09 14:11] #20045 closed

[2020-03-09 14:28] martinsvb commented on #20045
But before increase to version 4.9.5 it was ok.

[2020-03-09 15:03] flycj commented on #20044
The above code is all the main code. Can you see the problem from above?
If you need to create a codesandbox for this or a clonable repro, I think it will take me 1-2 days for me to come, because I am a newbie to ssr

[2020-03-09 16:34] pascal-mormin opened #24824 "[DateTimePicker] Wrong tab indicator size"
## Environment

| Tech                 | Version |
| -------------------- | ------- |
| @material-ui/pickers |   4.0.0-alpha.3  |
| material-ui          |  4.6.1       |

## Steps to reproduce

It seems there is a problem with TabIndicator size on DateTimePicker when opening dialog. I got this problem on my project but i can reproduce it on [material-ui pickers site's demo](https://v4-0-0-alpha-3.

[2020-03-09 17:37] Romcol commented on #20044
That's normal.

You need to do on the server:

[code]
And your app probably needs to be different on client and server. Good luck because SSR is a tough subject!

[2020-03-09 17:54] manoopratap commented on #11612
how to set the default value when we are passing the array into the menu item

[2020-03-09 19:05] Ognian commented on #17799
@oliviertassinari why is this issue closed? Is it fixed? I see only a workaround ...

[2020-03-09 19:11] eps1lon commented on #20044
If you need to create a codesandbox for this or a clonable repro, I think it will take me 1-2 days for me to come

This won't be actionable for us otherwise. We don't have the bandwidth to debug issues. We rely on reproducible issues.

[2020-03-09 19:13] embeddedt commented on #20023
Another option is to wrap the inner content in a `div` or `span`, as shown in the repro.

[2020-03-09 19:17] simoami commented on #20023
@embeddedt
Yeah, that's what I did in the demo link above. However, why add nested markup if we don't need to. If we really don't need the flex mode, then we can just drop it and avoid the unnecessary nesting. My suggestion is to address the issue at the root.

[2020-03-09 19:32] zeckdude commented on #8498
@oliviertassinari I'm just now realizing that while my example above works well, it throws a proptype error:

[code]

Is there any way I can get that error message not to appear?

[2020-03-09 21:15] adelegard opened #20049 "Chip onDelete bug with firefox"
As a user using Firefox (73.0.1), when I tab onto a Chip and it has focus, then hit the "delete" key on my keyboard, I would expect the `onDelete` function to get fired. However, it does not. Instead the browsers "back navigation" happens and I am brought back to the previous web page.

This works as expected in Chrome (80.0.3987.100), fyi.

- [x] The issue is present in the latest release.
- [x]

[2020-03-09 21:34] eps1lon commented on #20049
Which OS? On ubuntu I can't reproduce `Delete` triggering back navigation. This is with 73.01 though.

Is this within an incognito window or do you use any extensions?

[2020-03-09 22:28] mnemanja commented on #14264
Hi @oliviertassinari, I have trouble setting the fontFamily on a variant:

[code]

h1 never gets the fontFamily change.

[2020-03-09 22:34] michaelpward commented on #14357
Just adding my opinion that this is a major time suck. Hours of Googling across multiple days. Trying and failing to find a solution to get consistent snapshots.

I finally find this and #9492 only to see it's been an issue for 3 years and it seems core devs think this is fine. I want my 3 days back.  Instead I now have to figure out which of the hacks on this page may minimize  additional time re

[2020-03-09 23:03] eps1lon commented on #14357
@michaelpward  I'm sorry to hear that you such a frustrating experience. https://github.com/mui-org/material-ui/issues/9492#issuecomment-368205258 is an example implementation that should cover 90% of the use cases. What did you find lacking from this example?

The reason why we're hesitant to add documentation for this is that we
1. don't recommend it in the first place and don't want a guide to

[2020-03-09 23:11] jedwards1211 commented on #6115
I just finished implementing a very comprehensive CSS to JSS converter:
* https://codemodsquad.github.io/jss-codemorphs/
* VSCode extension: https://marketplace.visualstudio.com/items?itemName=vscodeshift.jss-codemorphs

Hopefully will take the hassle out of copying and pasting CSS into JSS styles.

[2020-03-09 23:25] adelegard commented on #20049
This is on MacOS 10.15.3. I also just updated my firefox to 73.0.1 and am seeing the same behavior.

[2020-03-09 23:41] eps1lon commented on #20049
Huh, [this was at least at some point the default behavior](https://osxdaily.com/2012/08/05/return-safari-6-delete-key-functionality-to-go-back-a-page/). Seems like they brought it back.

Can you observe the same behavior on https://codesandbox.io/s/material-demo-z96m3?

I guess we should prevent the default on any key we handle and trigger an action anyway.

[2020-03-09 23:58] rretter opened #20050 "Autocomplete w/o freeSolo rejects typing in of valid list elem"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Autocomplete field not defined to permit "free texting" (freeSolo prop is **not** present) allows user to type in value, which narrows list elements to those which (so far) match th

[2020-03-10 00:05] eps1lon commented on #20049
Though I can reproduce this on macOS and firefox with `Backspace` I can't with `Delete`. But the reason is the same so once we fix it, we fix both cases.

[2020-03-10 02:33] defkev commented on #17353
Seeing the same behavior as @Dito-Orkodashvili with a `<Button>` wrapped by a `<Tooltip>` toggling a `<Menu>`

If the box model is close to showing the vertical scrollbar, opening the menu will add the `padding-right:17px` scrollbar to the body though there is no scrollbar moving the body 17px to the left.

As a workaround set the tooltip's title to nothing when the `<Menu>` is opened:

`<Tooltip

[2020-03-10 03:26] flycj commented on #20044
Thank you very much, that is the problem here, I don't know that the options of the ServerStyleSheets function need to pass the serverGenerateClassName property.

I saw the source code to understand
![企业微信截图_db6f3617-47a9-415a-9fa9-64b6435d5bb9](https://user-images.githubusercontent.com/5103045/76276755-b00be080-62c1-11ea-9062-4bca39c4aaf2.png)
This place in the documentation is not clear

Good lu

[2020-03-10 03:28] #20044 closed

[2020-03-10 05:32] Jack-Works commented on #17423
Should add it to the document 👀

[2020-03-10 07:29] rhuanbarreto commented on #13442
Is it possible to save the language choice in a cookie or in localstorage? Every time I open a page I need to change the language.

[2020-03-10 09:18] #20049 closed

[2020-03-10 09:25] alexstep-dev commented on #20008
I even can show you! :)

![GifMaker_20200310112342529](https://user-images.githubusercontent.com/16436849/76298249-d6ca1700-62c1-11ea-8531-b21d479a9b48.gif)

[2020-03-10 10:49] BlackstarMC97 commented on #19859
Hi muzamil301, what versions did you use?

[2020-03-10 11:16] lorisdev opened #20053 "Half Ratings display are broken when `text-align: center`"
## Current Behavior 😯

When a `text-align: center`applies on a `Rating` component with half rating visible, the display of the half rating is broken

<img width="283" alt="Capture d’écran 2020-03-10 à 12 14 49" src="https://user-images.githubusercontent.com/28871795/76307272-ce290f00-62c8-11ea-9ed4-30189d745aa9.png">

## Expected Behavior 🤔

The half rating should preserve the same expected disp

[2020-03-10 11:50] ShehryarShoukat96 commented on #19883
@sudoStatus200 are you still working on this issue?

[2020-03-10 12:24] mlizchap commented on #20053
I'd like to give this a shot if that's OK

[2020-03-10 12:54] hug0b opened #20054 "[Fab] Inconsistent click event behavior"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Props of a Fab component like "name" and "value" are often inaccessible when handling click events.

## Expected Behavior 🤔

Those props should always be accessible inside `event.targ

[2020-03-10 13:02] eps1lon commented on #20054
[You probably want to use currentTarget instead of target](https://stackoverflow.com/questions/10086427/what-is-the-exact-difference-between-currenttarget-property-and-target-property).

[2020-03-10 13:02] #20054 closed

[2020-03-10 13:18] YuryShkoda commented on #19846
Hey folks,

Do you have any suggestion how I can fix it in my project until this issue will be fixed in upcoming release?
My project is a <a href="https://www.erudicat.com">PMP Exam Simulator</a> with 1k+ sample questions meaning there are 4k+ radio buttons and it is very important for me to fix it asap.

Thank you in advance.

[2020-03-10 15:38] #20053 closed

[2020-03-10 16:44] laclance opened #20056 "Unable to get spacing working on Grid"
Please can someone help I can't figure out why spacing is not working, I created a minimal sandbox example of my setup.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹

https://codesandbox.io/s/material-demo-k3oge

| Tech

[2020-03-10 16:44] BjoernRave opened #20057 "[AutoComplete] Can't convert object to string error when option has object as value"
When providing options to the autocomplete, where values are objects, it throws the `Can't convert object to string` error.

The error occurrs in the `useAutocomplete` file in the `defaultStringify` function.

The function should maybe use recursion to convert all existing objects.

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.9.5  |

[2020-03-10 17:34] emilyuhde opened #20058 "ExpansionPanelSummary - Cannot pass classes prop to ButtonBase"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Current, if you pass the `classes` prop to the ExpansionPanelSummary component, it is being pulled out of the props object (https://github.com/mui-org/material-ui/blob/066fbcdd32d9182

[2020-03-10 18:20] #20056 closed

[2020-03-10 19:41] koistya commented on #16374
Having the same issue with the `<Button />` component as well.