[2020-04-18 19:58] tonyhallett commented on #20622
My issue is solely with the CONTRIBUTING.md. Although yarn protypes is there in the warning comment I think the contributing guide should say that when props change you must edit the definition file only and yarn protypes. That this auto generates proptypes and copies across jsdoc comments.

[2020-04-18 19:59] ynotdraw commented on #14018
FWIW, seeing the same thing.  I've tried the suggestions posted here (https://github.com/mui-org/material-ui/issues/16867) with `strict` and `strictNullChecks`, but still no dice.  Is `const c = useStyles({});` "the way" now?

[2020-04-18 20:33] eps1lon commented on #20622
The thing is also that yarn proptypes isn't run frequently. yarn docs:typescript:formatted is a candidate for watchmode in the future.

[2020-04-18 22:37] rretter commented on #10938
"I don't think the market share of formik would worth adding such extra logic" --@oliviertassinari

That market share is now greater than the other two packages combined.
And the "extra logic" being, oh my God --- an entire line of code!

But it's there's not much reason to suffer that huge change because this issue is only "a huge pain for our team" --@cvburgess.

@oliviertassinari: You are patho

[2020-04-18 22:48] oliviertassinari commented on #10938
https://github.com/mui-org/material-ui/blob/3c3b51908011a6b648e91d576b25dd73f29d43e9/packages/material-ui/src/Select/SelectInput.js#L182

[2020-04-19 01:12] totalard opened #20625 "Tooltip throwing findDOMNode is deprecated in StrictMode in Console"
Tooltip Showing Warning all time .. Please FIx it.

[code]

- [ X] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Your Environment 🌎

I am using Latest React, Nodejs 13, and latest MUI (Updated Today)

[2020-04-19 02:44] ottogutierrez commented on #20553
@erfansamieyan, I get what you're saying but the issue is that onChange on the Textfield does not get triggered. You can see this example in this [Codesandbox](https://codesandbox.io/embed/material-demo2-1hvzq?fontsize=14&hidenavigation=1&theme=dark)

[2020-04-19 06:57] FernandoGOT commented on #20607
Sorry for the delay, I didn't updated the documentation, since I tested the `getOptionSelected` while passing the (option, val) props and got the same problem. Here an example:

[CodeSandbox](https://codesandbox.io/s/autocomplete-multiple-bug-2bycf?file=/demo.js)

I'm a little busy now, but if I have some free time I'm going to try to find the source of the problem

[2020-04-19 08:10] eps1lon commented on #20605
You probably want to use `NoSsr: true` in your useMediaQuery.

[2020-04-19 09:02] eps1lon commented on #20625
Duplicate of #13394

[2020-04-19 09:02] #20625 closed

[2020-04-19 10:12] oliviertassinari commented on #20622
@tonyhallett So, something in this order?

[code]

[2020-04-19 10:25] hadasmaimon opened #20639 "[Autocomplete] support chip which shows number of hidden chips"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

**Component**:
 Autocomplete (which render tags)

**Description**:
I want mui to support onClose the **chip which shows number of hidden** chips (ex: +9)

**Suggestion**:
it can be a properties as: doHideOverflow

## Examples 🌈
![image](https

[2020-04-19 10:34] oliviertassinari commented on #20639
@hadasmaimon You can customize the options to match your requirements.

[2020-04-19 10:34] #20639 closed

[2020-04-19 10:39] hadasmaimon commented on #20639
Okay, are you sure it's not helpful to others?
This is a very common feature
For example, in Gmail
![image](https://user-images.githubusercontent.com/40765442/79685616-d0c14180-8242-11ea-931c-2f7bc720c89b.png)

[2020-04-19 10:40] oliviertassinari commented on #20639
See https://material-ui.com/components/autocomplete/#limit-tags for a close experience.

[2020-04-19 10:43] hadasmaimon commented on #20639
perfect!
Thanks, I'll try

[2020-04-19 11:10] marcosvega91 commented on #20622
I think it's ok @oliviertassinari

[2020-04-19 11:32] BraunreutherA opened #20640 "Theme global props nested classes not overwritten"
Hi there,

we're trying to combine tailwindcss with material ui to overwrite the style and reuse functionality. That's why I started by overwriting classes in the theme global props object.  This works properly for root classes but not for nested classes.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this rep

[2020-04-19 11:33] kopax opened #20641 "theme.palette.success is missing after using createPalette"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

success color is missing and cause application crash

## Expected Behavior 🤔

I expect to render my Alert without errors.

## Steps to Reproduce 🕹

I am customizing my theme as follow

[2020-04-19 11:37] oliviertassinari commented on #20641
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-04-19 11:41] kopax commented on #20641
So far I am able to only override with probably non default colors as follow:

[code]

Now the `theme.palette.success` is defined, I also had to add `info`, and I keep having an error:

[code]

What I want is to have the same behavior as without the custom theme.

Where are those default colors stored and how can I use the default?

I am preparing a reproduction

[2020-04-19 11:41] yoav-bulwarx opened #20642 "Expansion Panel with Text Field input change the panel's back color on input focus"
When creating an expansion panel with text field inside the 'ExpansionPanelSummary', the expansion panel background color always change to #E0E0E0 (grey[500]) when focusing the text field input.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current

[2020-04-19 11:46] kopax commented on #20641
Reproduction: https://codesandbox.io/s/crazy-stallman-hgd09?file=/src/App.js

I don't want to manually set one by one all those colors, what I want is to use the default colors if they are not defined.

[2020-04-19 11:53] #20641 closed

[2020-04-19 11:53] oliviertassinari commented on #20641
We need a reproduction with the latest version.

[2020-04-19 11:55] #20642 closed

[2020-04-19 11:56] kopax commented on #20641
This is the palette I am able to use, it's quite complicated:

[code]

I really wish to have a better explanation and solution for this, I am now preparing a reproduction with latest version

[2020-04-19 11:59] kopax commented on #20641
According to this: https://stackoverflow.com/questions/59827027/uncaught-typeerror-cannot-read-property-main-of-undefined-when-trying-to-use upgrading the version should work, however, I am using the latest version of react-admin which is still using mui 4.3.3 https://github.com/marmelab/react-admin/blob/v3.4.1/packages/ra-ui-materialui/package.json#L29

This block the upgrade on our end, thanks f

[2020-04-19 12:09] oliviertassinari commented on #20640
@BraunreutherA Do you have a reproduction?

[2020-04-19 12:24] #20471 closed

[2020-04-19 12:27] BraunreutherA commented on #20640
@oliviertassinari I've created a codesandbox with comments: https://codesandbox.io/s/interesting-moon-50wek?file=/src/Demo.js

I created the example for a textfield but the overwrites work the same way for every component.

[2020-04-19 14:09] tonyhallett commented on #20622
Yes that's better.  I still think that it should be explicit that prop types should not be touched.

Perhaps have a single command for yarn proptypes && yarn docs:api

Perhaps you can remove

To update the component API documentation (auto-generated from component PropTypes comments), run:

yarn docs:api

[2020-04-19 14:51] tonyhallett commented on #19953
[sandbox ](https://codesandbox.io/s/fragrant-cloud-erhwy) using the new onNodeToggle (#20609) to allow expansion only for icon ( or label ) click.  Hooks can be created that are similar ( and simpler ) to [npm useseparatetoggleclick](https://www.npmjs.com/package/useseparatetoggleclick).

[2020-04-19 14:59] oliviertassinari commented on #20640
@BraunreutherA I don't understand, it seems to behave correctly.

[2020-04-19 15:03] eluchsinger commented on #12639
@oliviertassinari Did anyone work on this one?

[2020-04-19 15:06] oliviertassinari commented on #12639
@eluchsinger Not I'm aware of. I would be cautious with the bundle size and customization implications. I don't think that it should land in v4.

[2020-04-19 15:15] BraunreutherA commented on #20640
<img width="1313" alt="Screenshot 2020-04-19 at 17 03 51" src="https://user-images.githubusercontent.com/9135543/79691556-8f3f8f00-8260-11ea-88cc-e1213e853014.png">

In this screen shot you can see, when the property `props.MuiTextField.classes.root` is not set the class `MuiTextField-root` is set on the Textfield root.

<img width="1309" alt="Screenshot 2020-04-19 at 17 05 51" src="https://user-i

[2020-04-19 15:20] davidcalhoun opened #20645 "[Slider] Keyboard controls nonfunctional in 4.9.10+"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After focusing on the Slider component by clicking into it (or tabbing into it), the user cannot change values with keyboard left and right arrow keys.

## Expected Behavior 🤔

The us

[2020-04-19 16:36] marcosvega91 commented on #20640
I don't know if it's a problem or not but may I can help @oliviertassinari to understand.
For the `TexFieldElement` the root class is taken from method `getThemeProps`. The class then is passed as props to component replacing the default one.
The default class is in classes object while the new class is in more object. The more object contains also the `InputLabelProps` taken from the theme.

`ret

[2020-04-19 17:10] BraunreutherA commented on #20640
@marcosvega91 Thanks for the help! :)

Sadly the way you described it doesn't work. It was my first attempt until I had to use other Input elements. The idea is to have a smooth update path by using react-mui native components and upgrade screen as soon as we have the capacity to do it.

[2020-04-19 17:17] marcosvega91 commented on #20640
Yes I thought that you needed something different but I wrote this solution anyway maybe could help :)

[2020-04-19 17:41] marcosvega91 commented on #20645
Hi @davidcalhoun I think it's a problem with the configuration of your slider because with a simpler slider it works.

Try this
`<Slider defaultValue={[20, 30]} />`

I will check with yours

[2020-04-19 17:51] oliviertassinari commented on #20645
@davidcalhoun Thanks for the report, it's a regression from #17057.

[2020-04-19 19:33] oliviertassinari commented on #20645
@davidcalhoun What do you think of this fix?

[code]

Do you want to submit a pull request :)? We would also need a new test case that fire a click and that assert the activeElement.

[2020-04-19 20:10] marcosvega91 commented on #20645
I can do It if @davidcalhoun don't want :)

[2020-04-19 21:02] #20605 closed

[2020-04-19 21:02] luminaxster commented on #20605
Thank you so much! I'm sorry for taking so much of your time.

[2020-04-19 21:39] eps1lon commented on #20605
No worries. This is definitely a hard issue and I would prefer we wouldn't put media queries into JavaScript anyway. Having feedback that this is easy to get wrong helps.

To be honest I wouldn't mind making `NoSsr` required so that you have decide how your component is going to be used. Hydration quirks should definitely be visible in your codebase.

[2020-04-19 22:23] hpatel-git commented on #18331
You need to pass getOptionLabel to resolve label. Here is the example
[code]

[2020-04-19 23:55] mateja176 opened #20653 "Tooltip not working with forwardRef"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Tooltip is not being displayed.

## Expected Behavior 🤔

Tooltip is displayed.

## Steps to Reproduce 🕹

Steps:

1. Wrap functional component with forwardRef
2. pass the ref to desire

[2020-04-20 03:37] Hacksign commented on #16591
declare NODE_ENV=production explicitly

[2020-04-20 04:11] ims7inc commented on #20554
Is there any API level change to achieve the correct behaviour?

[2020-04-20 08:55] peterbartos commented on #18208
shouldn't that be by default?

[2020-04-20 09:43] rotimi-babalola commented on #17789
This worked for me. Thanks!

[2020-04-20 09:50] oliviertassinari commented on #18208
The problem was solved in the latest version of the Autocomplete, the popup is portal.

[2020-04-20 10:49] #20645 closed

[2020-04-20 11:13] timbilalov commented on #19245
`MenuProps={{variant: "menu"}}` works for me. Thanks!
But we all (i guess) also waiting for a more common fix for this bug :)

[2020-04-20 12:37] abhi1d commented on #14530
Option 2 really saved my day.

[2020-04-20 13:42] JeremyGrieshop commented on #11723
This works really well!  When using it, my first instinct was to use Escape to back out of a menu and not LeftArrow.  I can't seem to find any standardized documentation on how keyboard navigation should work on the web, but I've seen Escape used in other component frameworks, as well as Native (MacOS) to simply close out all menu options current open.

[2020-04-20 14:48] drodriguln opened #20655 "Add types for exported component styles"
I am having the same issue described in https://github.com/mui-org/material-ui/issues/15218 but this request is for a TypeScript project.

My team is creating a Material UI-based library where some of the components are just wrappers with extra styles applied.

Here's a simplified example of what we're doing:
![Screen Shot 2020-04-20 at 9 02 31 AM](https://user-images.githubusercontent.com/1994148

[2020-04-20 15:05] eps1lon commented on #20655
We solve this by adding another prop for classes of a specific component e.g. `ListItemClasses` in your case. This has the benefit of making it clear which styles belong to which component and makes sure that you don't create colliding classNames.

If this doesn't work for you, you could add the classes explicitly and leave them empty e.g. `gutters: {}`. This also aids documenting your component i

[2020-04-20 15:06] vahe-nikoghosyan commented on #13394
`import React from 'react';
import ReactDOM from 'react-dom';
import './index.scss';
import App from './App';
import * as serviceWorker from './serviceWorker';
import { turnOnTheServer } from './helpers/helpers';

// Environment variable config
turnOnTheServer()

ReactDOM.render(
  <React.StrictMode>
    <App />
  </React.StrictMode>,
  document.getElementById('root')

);
`
    ||
    v

`import R

[2020-04-20 15:21] wasinsandiego commented on #20610
@oliviertassinari Sorry, times is crazy so I let this slip. Thank you for the quick reply 🙏

Happy to look into it when things settle down for me. If it's something thats more effort than it's worth in the immediate future would a note in the docs be welcome?

[2020-04-20 15:33] LennyLip commented on #19145
Hello, same here.  Any news?

[2020-04-20 16:03] drodriguln commented on #20655
Thanks for getting back to me so quickly!

There isn't really an "inner" component for our basic wrappers since some of them are simply withStyles(ourStyles)(ListItem), so I think combining the classes prop is the best route for us vs something like adding a MuiClasses prop. Plus our styles are for overriding the MUI component styles. But perhaps I'm not 100% understanding.

I've definitely tried

[2020-04-20 16:09] oliviertassinari commented on #20622
This could help. I would personally use it.

[2020-04-20 16:09] oliviertassinari commented on #20653
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-04-20 16:19] mateja176 commented on #20653
Hi @oliviertassinari. There's a [minimal reproduction link](https://stackblitz.com/edit/refs-and-functional-components+) below the steps to reproduce. It's a stackblitz project, however it has the latest version of react and material-ui/core installed.

[2020-04-20 16:34] eps1lon commented on #20655
Removed and changed class keys are a breaking change. This only happens on major version bumps. For added classes you can catch it via

[code]

This should help. This seems justified to me since you only writing this once for a component. Otherwise it's a dev-only warning. We can't disable it because we the default use case is building own styles.

If this issue gets more traction we can implement

[2020-04-20 16:40] drodriguln commented on #20655
Awesome, I'll do that for the time being. Thanks!

[2020-04-20 16:43] fullofcaffeine commented on #18018
I'm having this issue again :(

But now it's related to the server having two rendering passes (AFAIK, that's how it should be) + the className suffix generation logic.

If anyone could have a look, the issue is described [here](https://stackoverflow.com/questions/61277705/loading-state-second-ssr-rendering-pass-causing-a-client-side-rendering-glitch) (and [here](https://github.com/mui-org/materia

[2020-04-20 17:02] mateja176 commented on #20653
@oliviertassinari Here's a live demo in [codesandbox](https://codesandbox.io/s/cool-monad-y7luk). I understand that you want to be efficient by enforcing consistency among live examples by recommending the usage of codesandbox. However, going as far as closing the issue because the live example was provided in stackblitz instead of codesandbox leaves a bad impression on the community and has a bad

[2020-04-20 17:20] oliviertassinari commented on #20653
@mateja176 Thanks for the reproduction. Tip: you need to spread the props too.

[2020-04-20 17:39] hadasmaimon commented on #4549
@oliviertassinari is that `listStyle` props still exist on the autoComplet component?

[2020-04-20 17:55] mateja176 commented on #20653
Thanks. Indeed, spreading the rest of the props was the missing piece as documented [here](https://material-ui.com/components/tooltips/#custom-child-element). However it would be nice it was also mentioned in the api section for the [children prop](https://material-ui.com/api/tooltip/).

If anybody stumbles upon the same issue, the explanation behind this is that the Tooltip component is using the

[2020-04-20 18:02] ryanvazquez commented on #5634
@JeremyGrieshop Dropping in the future to to thank you

[2020-04-20 18:17] hadasmaimon commented on #4549
@oliviertassinari  what is the alternative of it?

[2020-04-20 18:28] oliviertassinari commented on #20653
@mateja176 You are not the first one to fall into this trap, we have tried in the past to guide people, I'm not aware of any new leverage we get at this point. Thanks for the detailed explanation.

[2020-04-20 18:28] oliviertassinari commented on #20653
Hum, yeah, actually mentioning that it should spread props, could be interesting.

[2020-04-20 18:40] mateja176 commented on #20653
You're very much welcome.

[2020-04-20 18:44] oliviertassinari commented on #20653
Sorry, closing I don't think that we have the bandwidth to spend more time on the problem.

[2020-04-20 18:44] #20653 closed

[2020-04-20 19:03] fullofcaffeine commented on #20604
OK, let me try to reduce this to a single question then.

**How do I prevent `material-ui`'s class generation logic from generating a different ID for component's class when this component is not present in one of the server rendering passes, and present on the other?***

---

_* If the component is rendered in both passes, then the className matches.
* It's present in one and not the other becaus

[2020-04-20 19:07] oliviertassinari commented on #20604
@fullofcaffeine You make sure it's present.

[2020-04-20 19:17] Philipp91 opened #23604 "[DatePicker] Provide prop to customize the icons"
The icons are currently hard-coded:

https://github.com/mui-org/material-ui/blob/29fbcceb44e851a3a856e42035f86865dacd1fcd/packages/material-ui-lab/src/internal/pickers/PickersToolbar.tsx#L98-L102

There is already a `keyboardIcon` prop, but that one controls the icon in the input adornment. I don't really understand why that prop has "keyboard" in its name. It does not show a keyboard on the icon.

[2020-04-20 19:22] fullofcaffeine commented on #20604
But sometimes it's conditional to data that hasn't been loaded during that
rendering. How to deal with this?

On Mon, Apr 20, 2020, 2:07 PM Olivier Tassinari <notifications@github.com>
wrote:

[2020-04-20 19:29] picosam commented on #18563
Hello @oliviertassinari, may you please provide an example? I can't get it to work this way...

[2020-04-20 20:30] ClovisLeb commented on #14971
The following "solution" **doesn't fix the root problem** with the TS MUI types but provides a way to **temporarily** overcome the typescript errors.

Declare a custom interface:
`interface CustomMenuItemProps extends MuiMenuItemProps {
    button?: any;
}
`

Create a new component wrapping the original material-ui component and pass in the TS interface:
`<MuiMenuItem
            {...CustomMenuIte

[2020-04-20 20:38] oliviertassinari commented on #18563
@picosam 6 upvotes, sounds fair:

[code]

https://codesandbox.io/s/material-demo-xb3zm?file=/demo.js:0-1108

[2020-04-20 20:39] NaveenKJammula opened #20660 "Enabling autocomplete filtering using multiple fields instead of just "getOptionLabel" field"
Currently using Autocomplete component of material UI,  by default I can only filter options basing on "getOptionLabel" field. however, with "createFilterOptions" I can add another additional field like following.

`const filterOptions = createFilterOptions({
  matchFrom: 'start',
  stringify: option => option.title,
});`

I am wondering if I could be able to do something like below(should be able

[2020-04-20 21:37] oliviertassinari commented on #20660
@NaveenKJammula You can concatenate the fields you want to search in https://material-ui.com/components/autocomplete/#custom-filter.

[2020-04-20 21:37] #20660 closed

[2020-04-20 21:45] fullofcaffeine commented on #20604
Ah, I just saw the `<NoSSR>` tip. Thanks, will try it out.

[2020-04-21 03:53] mohammad5055 commented on #20613
I have updated the post to include a [full reproduction test case](https://codesandbox.io/s/material-demo-fv075?file=/demo.js). Could you please reopen the issue?

[2020-04-21 06:42] Yakovtam opened #20665 "Autocomplete : scroll bar"
I have many options

[2020-04-21 06:49] fandy commented on #15561
@oliviertassinari is this going to be added for v5? Is there a canary version that's already available?

Changing the font weight of <Typography> is super important if you want responsive font sizes. If you use any of the hacks like referencing the theme.fontSize or initial, you're stuck with the smallest screen fontSize, which doesn't adapt.

[2020-04-21 06:51] Yakovtam opened #20666 "Autocomplete : scroll bar"
with Label  Autocomplete：
I have many options，I've chosen all of them, and then I want to uncheck the last few.

When I uncheck one, the scroll bar will roll to the top,

When I want to deselect the second one, I need to pull the scroll bar to the bottom,

The third one is the same...

In this case, the operation is too complicated.

I hope the scrollbar doesn't move by itself, just let the user s

[2020-04-21 06:53] Yakovtam opened #20667 "Autocomplete Select all and deselect all"
I hope Autocomplete can support all selection and cancel all selection，thanks！

[2020-04-21 07:58] veer66 opened #20669 "@material-ui/core 4.9.11 cannot be compiled by shadow-cljs."
@material-ui/core 4.9.11 cannot be compiled by shadow-cljs since it has multiple versions of dom-types.

[code]

## Current Behavior 😯

[code]

## Expected Behavior 🤔

[code]
## Steps to Reproduce 🕹

Steps:

1. git clone -b issue1 https://github.com/veer66/shadow1.git shadow1-issue1
2. cd shadow1-issue1
3. sudo docker run -it --rm -u $(ls -n README.md | awk '{ print $3 }') -v $(pwd):/work -e HOME=

[2020-04-21 08:33] peterbartos opened #20671 "Theme being reset to default when opening Dialog component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- I set up a simple theme with ThemeProvider to define custom primary color
- Checkboxes with primary color appear correct in the component tree
- When a Dialog component opens, the c

[2020-04-21 08:52] eps1lon commented on #20671
There's definitely something wrong. Opening a dialog shouldn't mount duplicate checkbox `<style>` elements.

[2020-04-21 09:11] david commented on #20669
I believe the problem has to do with `@material-ui/react-transition-group`, which is using version 3.4.0 of `dom-helpers`. I looked and it seems that repo is about 50 commits behind upstream `react-transition-group`.

I'd be happy to open a PR against `@material-ui/react-transition-group` if anyone would be willing to provide some guidance as to what needs to be done.

[2020-04-21 09:23] hadasmaimon commented on #4549
This is the alternative:
[code]

[2020-04-21 09:53] oliviertassinari commented on #20671
Legacy context api

[2020-04-21 09:54] #20671 closed

[2020-04-21 10:41] oliviertassinari commented on #20613
@mohammad5055 You can customize the z-index of the popup.

[2020-04-21 12:24] eps1lon commented on #20669
You'd need sync it with the latest relase of `react-transition-group`.

[2020-04-21 13:14] adybaby commented on #13448
Agree with the sentiments that this logical model does not seem to marry with common sense. Who would ever presume that `down(sm)` conceptually transpiles to `max-width: md`?

[2020-04-21 14:03] adybaby commented on #13448
I've overwritten up, down, and between in theme.breakpoints as follows:

[code]
It seems to be working fine so far (and far less confusing, to my mind), but can anyone see any problems with this down the road?

[2020-04-21 14:11] riccihenrique opened #20675 "[Autocomplete] Controled component doesn't work"
Basically, i created the autocomplete component and seted default value as my state (this.state.quest.ansType), but when i change this state, the component result an error:  component is changing the default value state of an uncontrolled Autocomplete after being initialized. To suppress this warning opt to use a controlled Autocomplete.

I need this for my update function. When the user select th

[2020-04-21 14:27] a-scales commented on #20482
I'm getting the same issue as above with the lab .alpha-49 and core 4.9.10

I ran npm update, still got an error.
I removed node_modules and package.json, and still get the same ` 'createSvgIcon' is not exported from '@material-ui/core/utils'` error as I did before.

However, I updated to alpha-50 and core 4.9.11 and it worked just fine.

[2020-04-21 14:27] #20675 closed

[2020-04-21 14:54] ohlr opened #20676 "UseScrollTrigger does not trigger on-page-reload in gatsby production page"
Using `gatsby` witth `gatsby-theme-material-ui` the `useScrollTrigger` does not trigger on page reload when the page is build.
In dev mode the behavior differs as one reloads on the top of the page not in the middle.

    const trigger = useScrollTrigger({ disableHysteresis: true, threshold: 50 });

When I am in the middle of the page and reload, the trigger should fire but it does not.

@material

[2020-04-21 15:07] oliviertassinari commented on #20676
@ohlr Do you have a reproduction?

[2020-04-21 15:09] TomaszWaszczyk commented on #9243
Also that issue: https://stackoverflow.com/questions/61346327/warning-an-invalid-container-has-been-provided-in-jest

[2020-04-21 16:52] oliviertassinari commented on #20676
@ohlr, awesome, thanks. I can reproduce the issue.

[2020-04-21 17:03] oliviertassinari commented on #20676
@ohlr What do you think of this diff? The trick is to pull out values from the target as soon as available, instead of waiting for the next scroll event. It helps with Gatsby, but also help with Next.js in dev mode during live updates.

[code]

Do you want to submit a pull request? :)

[2020-04-21 17:32] marcosvega91 commented on #20676
I can do It if @ohlr don't have time :D

[2020-04-21 17:45] oliviertassinari commented on #20676
@marcosvega91 The challenge will be with the test case then 😉

[2020-04-21 17:47] marcosvega91 commented on #20676
@oliviertassinari yes i know i was thinking about that

[2020-04-21 17:48] oliviertassinari commented on #20676
@marcosvega91 In this case, we could have two pull requests, one for the fix, and one for the test, how does it sound?

[2020-04-21 17:49] davecaruso commented on #12639
much earlier when i animated the radio button component, i also started working on this issue, but never finished it. a partial implementation of the animated checkbox is on [npm](https://www.npmjs.com/package/material-ui-animated-checkbox) but it's not complete, nor the most quality code.

for people who are browsing this issue and just want a thing that works, that may be of use to them.

[2020-04-21 17:54] marcosvega91 commented on #20676
@oliviertassinari no problem :), i'll wait for @ohlr maybe he want's to write the test case :)

[2020-04-21 18:19] ohlr commented on #20676
Feel free to do it @marcosvega91.
@oliviertassinari this project is truly amazing - I am a big fan! Thanks for your work.

[2020-04-21 18:31] oliviertassinari commented on #20676
@ohlr Last year, around this period, we have started to prioritize work on interoperability with Gatsby and more broadly, for people building static websites with React. While our effort starts to play-off: https://npm-stat.com/charts.html?package=gatsby-plugin-theme-ui&package=gatsby-plugin-material-ui, I feel we could still do better. The main chunk we have plan for this story is to provide a ne

[2020-04-21 18:35] oliviertassinari commented on #20655
Does it mean we can close?

[2020-04-21 18:59] ohlr commented on #20676
I think since static pages are more broadly used in commercial sites (where SEO matters) more corporate templates would help to gain speed quickly (a really good example which is not in the store https://github.com/dunky11/react-saas-template) all the paid ones are Admin templates.

The documentation regarding server-side rendering (Gatsby in particular) could be more specific I think. It took me

[2020-04-21 19:01] drodriguln commented on #20655
Yep, I'm all set! Feel free to close. 😄

[2020-04-21 19:26] iDVB commented on #16359
I created a watered down custom hook that works the same as MUI's [AppTableOfContents.js](https://github.com/mui-org/material-ui/blob/9bf9e82bfaef83857e74eca877b33c4e503626a9/docs/src/modules/components/AppTableOfContents.js#L85).:

https://gist.github.com/iDVB/a041da210605f05e0b36ac03ed403c00

[2020-04-21 19:32] mohammad5055 commented on #20613
@oliviertassinari How?

[2020-04-21 19:44] #20655 closed

[2020-04-21 20:05] isrsen1 commented on #19953
@tonyhallett is it possible to attach onClick event on label only with useseparatetoggleclick package?

[2020-04-21 21:03] marcosvega91 commented on #20551
@oliviertassinari maybe it can be a feature to keep and skip only in free solo mode, what do you think?

[2020-04-21 21:14] oliviertassinari commented on #20551
I have never really understood the motivation for the prop in the first place. It feels like a logic you put in place to save requests to the backend API, not something you do to help users. I would be in favor of keeping the autocomplete simple.

[2020-04-21 21:24] edonadei opened #20683 "[Autocomplete] onChange does not send a event when option selected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm trying to implement the Autocomplete for Google maps implementation, and when i'm selection one of the option, the onChange does not trigger

## Expected Behavior 🤔

The onChange

[2020-04-21 21:41] marcosvega91 commented on #20588
I Will create a PR with this feature soon :)

[2020-04-21 21:44] marcosvega91 commented on #20551
If you want i can make a PR to remove the change

[2020-04-21 22:38] oliviertassinari commented on #20551
@marcosvega91 No objection from my side 😬

[2020-04-21 23:09] oliviertassinari commented on #20683
@edonadei Be careful, event.target.value isn't always available, as the input value can change from indirect user interactions. Also, be mindful of the difference between the `value` and `inputValue` states.

[2020-04-21 23:09] #20683 closed

[2020-04-21 23:58] KandarpAjvalia commented on #10771
You saved my life! had been trying to figure this out for 3 days.

[2020-04-22 01:13] qianlanse commented on #17445
same question
![image](https://user-images.githubusercontent.com/13144533/79929804-6cd48e00-8479-11ea-8c92-033187f07e05.png)

[2020-04-22 01:29] me4praveen commented on #13394
when u guys will solve this?

[2020-04-22 04:18] vadimshvetsov opened #20689 "TextField select width different from input"
It was surprised that `<TextField select />` (and `<Autocomplete/>`) haven't fixed width out of the box without explicitly setting width in styles like regular `<TextField>` input. Even after setting `25ch` or `195px` it different from other components in a column and I can't fit it to a form. Is it a bug?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https:

[2020-04-22 04:22] alogobay commented on #17441
Thanks @hongyuan1306. You are right.

[2020-04-22 04:36] dohomi commented on #20551
@marcosvega91 the startAfter option works flawlessly on `freeSolo`. It would be a bummer if you revert the change without making it possible to get the same result in any other way

[2020-04-22 07:14] tonyhallett commented on #19953
@isrsen1 the purpose of the useseparatetoggleclick is to manage separated click toggling for you. If you specifically need an onclick on the label provide a span as the label and handle the click on that.

[2020-04-22 07:29] marcosvega91 commented on #20689
@oliviertassinari maybe the input field inside the select must be type text rather than hidden with disabled attribute and all css classes?

[2020-04-22 07:54] petermikitsh opened #20692 "[ExpansionPanelSummary] low contrast on focus in dark mode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img width="969" alt="Screen Shot 2020-04-22 at 12 47 20 AM" src="https://user-images.githubusercontent.com/1571918/79955173-40961e80-8433-11ea-9209-c66da4251409.png">

## Expected Be

[2020-04-22 08:11] Vincent-Alibert commented on #10000
hello, in my app i use this solution.
I add `disableScrollLock={true} disablePortal={true} id="custom" ` on my component (<Menu> ) and in my css
`#custom {
     .MuiPopover-paper,
     .MuiPopover-paper {
            max-height: inherit !important;
      }
}
`
this work perfectly in my case. I hope this tricks can help.

[2020-04-22 08:15] marcosvega91 commented on #20692
For darken theme is better to use 600: '#757575'; instead of 300: '#e0e0e0';

[2020-04-22 08:50] oliviertassinari commented on #20551
@dohomi You can implement the same behavior by controlling the open state.

We have a usability issue when `freeSolo={false}` too. We don't give any feedback to the users that he needs to enter at least x chars. I think that in an acceptable version, we would get a "Need x more characters"  to trigger the options.

[2020-04-22 08:53] #20676 closed

[2020-04-22 08:54] dohomi commented on #20551
@oliviertassinari ok yeah - maybe best would be a demo example and leave it by the developer

[2020-04-22 09:08] dimoff66 commented on #16795
TreeItem api link is not working
https://material-ui.com/ru/api/tree-item/

[2020-04-22 09:10] marcosvega91 commented on #20551
It sound's good but you need to change the behaviour of `createFilterOptions` because you need to access in some way to `startAfter` params inside `useAutocomplete` hook

[2020-04-22 09:43] keemor commented on #9426
Here's MaterialUI for React with Styled-Components solution

https://stackoverflow.com/questions/60063602/materialui-for-react-with-styled-components

[2020-04-22 10:16] egilsster commented on #6115
Might have missed this answered somewhere, but want to raise it anyway. We're in the progress of migrating to Material UI components as well as evaluating our styling solution (`less` vs `makeStyles` vs `styled-components`), most of our styling is done through less files and most of the new MUI code is using `makeStyles`, what I want to know clarify is since this will be part of v5, what can we do

[2020-04-22 10:24] #20532 closed

[2020-04-22 10:26] aminnairi commented on #11251
Looks like this one works as intended (not sure why I need both Grids to be container though).

[code]

[2020-04-22 10:58] paulgarbas commented on #16665
Use `onMouseDown` instead of `onClick` and insert `e.preventDefault()` after the desired logic.

[2020-04-22 11:13] oliviertassinari commented on #20692
Wow, it has been broken like this for 2 years 🙃. How is this even possible. Do people use the accordion or dark mode 😱?

What about this diff?

[code]

[2020-04-22 11:32] marcosvega91 commented on #20692
I have tried and can be good

[2020-04-22 12:06] oliviertassinari commented on #6115
@egilsster

1. Yes, either from @material-ui/styles or react-jss
2. Yes https://material-ui.com/guides/interoperability/#theme,

[code]
3. The main issue is 1. configuration overhead, one time cost, 2. loading two CSS-in-JS runtime, which has a ~15 kB gzipped overhead, a cost similar, to say, including Sentry: https://bundlephobia.com/result?p=@sentry/browser.

[2020-04-22 12:19] egilsster commented on #6115
Thanks for a quick reply, very appreciated.

This is pretty cool. Some work around tooling would probably follow this, the project I am migrating is not using TS but VSCode / language server does not seem to have any idea what `theme` is in this case and I lose `styled-components` syntax highlighting as well.

Thanks again, will continue following this development.

[2020-04-22 12:36] eps1lon commented on #20488
I'm generally in favor of referencing the label instead of duplicating it.

However, this particular use case can be solved by separating markup and styles:

[code]

[2020-04-22 12:56] crispero commented on #4045
Hello, i have the same problem, how u fixed it?

[2020-04-22 12:57] oliviertassinari commented on #20488
@eps1lon A couple of internationalization libraries are implemented with a component, for instance, react-intl' `<FormattedMessage />` or react-18next's `<Trans />`. Allowing a node would help for these cases. @romanyanke What's your use case for using a Node over a string?

[2020-04-22 12:57] crispero commented on #4045
Hello @ethan-deng, i have the same problem, how u fixed it?

[2020-04-22 13:01] eps1lon commented on #20488
Sure. That's why I'm generally in favor. `react-intl` has `useIntl().formatMessage` for usage in attributes.

[2020-04-22 13:46] romanyanke commented on #20488
@oliviertassinari react-intl's <FormattedMessage /> is exactly my case.
I'm using material-ui with typescript a lot and there are props that requires only string. The other props requires ReactNode. In my opinion ReactNode is much greater in terms of good API.

[2020-04-22 13:59] kepler16bv opened #20695 "Possible error in example for function createNode in testing documentation"
The function `createMount` in the [testing docs](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/guides/testing/testing.md) is followed by an example that I don't quite understand and I'm not sure whether there is an error in the example or it's me.

Focusing on my doubt, the relevant part of the current example is
[code]

whereas as far as I understand it should be
[code]
Am I w

[2020-04-22 14:19] oliviertassinari commented on #20695
@kepler16bv We need to revamp the testing guide (#17070). I don't think that developers should use any of the modules we expose.

[2020-04-22 14:24] fandy opened #20696 "Responsive typography helper for modifying properties"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Sometimes it's necessary to have an `h6` with a different `fontWeight` than what's in the `theme`, but referencing it directly with `theme.typography.h6.fontSize` makes you lose out on responsiveness.

## Possible solutions 🌈
* Add fontWeight

[2020-04-22 14:27] oliviertassinari commented on #20696
Duplicate of #15561

[2020-04-22 14:27] #20696 closed

[2020-04-22 14:31] kepler16bv commented on #20695
Ouch, ok thanks! As of today, what should we use then? The native `enzyme` functions?

[2020-04-22 14:32] oliviertassinari commented on #20695
https://github.com/testing-library/react-testing-library

[2020-04-22 14:55] fandy commented on #20696
@oliviertassinari I don't think this is a duplicate of that issue, which advocates for alignment (already a solution for that). You can't do the same with font-weights.

[2020-04-22 15:07] oliviertassinari commented on #20676
@ohlr Ok, so I see two topics:

1. **more/better templates**. Agree, at this point, we might need to hire a **designer**/developer to do us a good looking template. For instance, do you find anyone that you like in https://jamtemplates.com/ that we could bring to Material-UI? Regarding https://github.com/dunky11/react-saas-template, I'm not sure. It doesn't feel very professional. For instance, I

[2020-04-22 15:10] oliviertassinari commented on #20696
From what I understand, they are some cases where you want to change the font weight, using the `fontWeight` prop of the system would solve your issue (it also comes with responsive helpers)

[2020-04-22 15:26] fandy commented on #20696
Ah I overlooked that, thank you.

Is there any reason it's not part of the `Typography` component API?

[2020-04-22 15:34] adir1661 commented on #18018
this helped me too, it was very tricky to find all imports but it seems like these imports affect the unrelated customized (styled) components on the page....
@oliviertassinari  i suggest you to look at this and it might also be the issue in this[https://github.com/mui-org/material-ui/issues/12203#issue-342925881](url) problem

[2020-04-22 15:48] fandy commented on #20696
@oliviertassinari okay I gave that a try, but Typography won't inherit from Box if you've set a default in your theme.

[code]

[2020-04-22 16:01] dana-playbuzz opened #20698 "Select onChange is not being triggered when e.target.value is the selected value"
Select component - onChange is not being triggered when e.target.value is the selected value

- [x] The issue is present in the latest release. (was working ok on 4.8.3).
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

onChange isn't being triggered in case the clicked menuItem is

[2020-04-22 16:02] 8ctopotamus commented on #13394
Snackbar is producing the same error.

![image](https://user-images.githubusercontent.com/17594101/80005032-af519700-8488-11ea-87dd-ebf0489f6c6b.png)

[2020-04-22 16:21] oliviertassinari commented on #20698
It's on purpose: #20361, it's onClick that you are looking for.

[2020-04-22 16:21] #20698 closed

[2020-04-22 16:22] oliviertassinari commented on #20696
Correct, it's what we want to solve in #15561.

[2020-04-22 16:37] jedwards1211 commented on #6115
@oliviertassinari if there's a migration to styled-components, will that mean we can no longer rely on CSS APIs like `<ListItem classes={{ selected: myCustomClassName}}>` to be around?

[2020-04-22 16:43] sibelius opened #20700 "I can't select text inside expansion panel summary"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I can't select text inside expansion panel summary

## Expected Behavior 🤔

I should be able to select text inside expansion panel summary

## Steps to Reproduce 🕹

Go here https://ma

[2020-04-22 16:52] eps1lon commented on #20700
Thanks for opening this issue. I'm generally a big fan of having as much text-selectable as possible but this does not apply to general audiences.

These are buttons (following [WAI-ARIA APG Accordion](https://www.w3.org/TR/wai-aria-practices/examples/accordion/accordion.html)) which generally do not allow text selection.

You can add `user-select: text` to these elements but you would need to pre

[2020-04-22 16:54] oliviertassinari commented on #20689
@vadimshvetsov The built-in width comes from the browser (`<input>`), you are free to customize it, I don't think that we should change the default. Set a custom width for your use cases

[2020-04-22 16:54] #20689 closed

[2020-04-22 16:54] #20669 closed

[2020-04-22 16:59] oliviertassinari commented on #6115
@jedwards1211 The `classes` API will stay.

[2020-04-22 17:07] jedwards1211 commented on #6115
Okay.  I'm a bit confused how MUI would use styled-components internally then, since styled-components can only apply a class to the root element.

[2020-04-22 17:16] yordis commented on #6115
[code]

Does that makes sense @jedwards1211

[2020-04-22 17:20] sibelius commented on #20700
I just think most texts should be selectable, I'm gonna add this `css` in our components, thanks

[2020-04-22 17:20] #20700 closed

[2020-04-22 17:35] eps1lon commented on #20700
That's fine. We just try to be as close to the native UI as possible and don't have the bandwidth to do extensive UX research if button text should actually be text-selectable or not. We have to rely on specialists and as far as I can tell every button(-like) element disables text-selection by default.

But there are obviously use cases where you want to allow it regardless and nobody is saying th

[2020-04-22 17:38] marcosvega91 commented on #20692
Am i mistake or I saw a PR for this?

[2020-04-22 17:39] vadimshvetsov commented on #20689
Also `fullWidth` prop doesn't work on this kind of `Select`. Can't see any examples how to make form with inputs and selects with the same width. It's the only option to explicitly set width to all the inputs?

[2020-04-22 17:58] ryan-conn commented on #7900
This bug was never fixed (or was at one point and is broken again), as I don't want to create a duplicate issue here's my bug report:

- [x] The issue is present in the latest release.

## Current Behavior 😯
Switching tabs or windows and then going back to the tab containing a MaterialUI button makes the ripple effect get stuck:
On using alt+tab to switch windows:
![alt-tab bug](https://user-image

[2020-04-22 18:15] sibelius commented on #20700
thanks for all the explanation, I've learned a lot today

[2020-04-22 18:32] jedwards1211 commented on #6115
I know it seems simple, but how would you refactor compound selectors like https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Button/Button.js#L75

[2020-04-22 19:00] yordis commented on #6115
Maybe this? I am not sure to follow since this feels basic to me, I am probably missing some context and/or info.

[code]

[2020-04-22 19:07] jedwards1211 commented on #6115
@yordis possibly.  As I said though people probably aren't thinking about how many breaking changes this will cause for users.

[2020-04-22 19:19] yordis commented on #6115
Would you mind sharing real examples, and real potential breaking changes?

It is hard to follow you when you don't share strong cases. Based on your messages I think you don't fully understand this topic, or I may be making wrong judgments. Please help me to understand, I may be the wrong one.

[2020-04-22 20:12] kumarunster opened #20701 "Tooltip title type change in 4.9.10 breaks applications with react-i18next"
In reference to https://github.com/mui-org/material-ui/issues/20537, the issue is already closed and comments are not possible anymore. I hope we can clarify here some questions.

This change https://github.com/mui-org/material-ui/commit/50c0bbc3a2040c9945f5009a6bd56292d216f236#diff-e85d391d0f501804b70512f4083dd2ecR96-R99 on the line
https://github.com/mui-org/material-ui/blob/99ca172ffd3c775240e7

[2020-04-22 20:30] hisapy commented on #14357
Hi devs, I'm having issues with the generated class names too. But I noticed that the difference of a new class name appears to be consistent, not a random generated each time you run a test. So I took a quick look to [`createGenerateClassName`](packages/material-ui-styles/src/createGenerateClassName/createGenerateClassName.js) and saw that the `suffix` is

[code]

So I please correct me if I'm wr

[2020-04-22 20:37] #20588 closed

[2020-04-22 20:39] eps1lon commented on #20701
It synced the typescript types with the `prop-types`. `Tooltip` without a `title` always issued a runtime dev-only warning. The requirement was [documented prior to that change](https://v4-8-3.material-ui.com/api/tooltip/).

The reason is that a Tooltip without a title doesn't do anything. Not rendering a Tooltip would make more sense in these situations.

[2020-04-22 20:40] oliviertassinari commented on #20701
https://github.com/mui-org/material-ui/pull/20342#discussion_r404749808

[2020-04-22 20:41] jedwards1211 commented on #6115
@oliviertassinari will theme overrides still work in v5?  For the following override example to work, MUI would still have to do some kind of conversion so that `root` magically becomes the `styled-components` generated class name, or apply a generated `root` class name in addition to the `styled-components` generated one.

[code]

@yordis having thought through it more, I realized compound select

[2020-04-22 20:48] oliviertassinari commented on #14357
@hisapy I think that the suggestion by @VincentLanglet is the best so far on this thread. At this point, we have a working workaround, we should focus on improving the DX. Ideally, the problem would be handled by default. But if not possible, we would combine some code + documentation.

[2020-04-22 20:52] oliviertassinari commented on #7900
I can't reproduce, could it be a rendering issue of Firefox?

[2020-04-22 20:53] hisapy commented on #14357
Thx! For the moment, if the generated suffix in the className is not random then I think I can live with it for a while 😄

[2020-04-22 21:30] myrubapa commented on #7900
I checked on last version Firefox 75, working correct.

[2020-04-22 22:02] mohammad5055 opened #20703 "Setting Z-index of autocomplete dropdown, and using getOptionSelected"
I am implementing the Autocomplete widget in my webApp, but the drop down is rendering behind my edit panel. I can use my arrow keys to select options but I cant see the pop up. If I remove either of the following css property {position: "fixed"} or {"z-index": "2000"} it works, but my edit panel will no longer look correct. So it seems that I need to be able to set the zindex of the drop down to

[2020-04-22 22:05] #20703 closed

[2020-04-22 22:41] mohammad5055 commented on #20703
@oliviertassinari i have posted the question here https://stackoverflow.com/questions/61376276/setting-z-index-of-autocomplete-dropdown-and-using-getoptionselected, can you please help me out?

[2020-04-22 22:56] dominictwlee opened #20704 "Responsive htmlFontSize"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
So a fairly common use case I have is to apply media queries for font-size on the html element to scale everything up or down depending on screen size. Is there any way to do this dynamically with the htmlFontSize property, to make it reflect

[2020-04-22 22:59] oliviertassinari commented on #20704
We discourage changing the HTML's font size, it breaks the font size resizing accessibility feature, prefer using our responsive utils.

[2020-04-22 22:59] #20704 closed

[2020-04-23 00:57] mattcorner commented on #19975
Thanks for working on this @netochaves . Just wondering the status of releasing this feature @oliviertassinari? Pull request has gone quiet.

I need the functionality in a project I'm working on and wondering whether to write something to mimic this in the interim, or wait for the real thing. Appreciate the work!

[2020-04-23 01:51] JorgeOsorio97 commented on #10159
I am having this issue in version 4.0.2
I realized that when clicking outside the menu, the **onClose** is beign fired but **onExit** is not.

[2020-04-23 02:36] ronaldotijucas opened #20705 "Extra space in the label when setting InputLabelProps={{ required: false }}"
When setting `InputLabelProps={{ required: false }}`  in a required TextField, it hides the asterisk but don't remove the space of it.  It was working fine until version 4.8.3.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img

[2020-04-23 02:54] m4theushw opened #20706 "[Input] Missing pseudo-classes generates error when overriding"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Trying to override the CSS class `adornedEnd` or `adornedStart` of `<Input />` generates an error  "Material-UI: the key X provided to the classes prop is not implemented in ForwardRe

[2020-04-23 04:17] mboyers opened #20707 "Select multiple popup menu moves when items are selected"
I noticed this when upgrading from Material UI 4.2.0 to 4.9.10, but through troubleshooting, I believe this behavior started with version 4.8.3.

When using a Select with the multiple attribute, the popup menu moves to a different location upon selection of the first item.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/i

[2020-04-23 05:09] bartlomiejzuber commented on #20701
@kumarunster As a "solution"(not sure if that's correct one yet) you can override the `i18next` type of `TFunction`. Although I didn't had time to dig deeper into `i18next` to ensure that `undefined` can be excluded from their types as well.

Here's the code I've used:
[code]

[2020-04-23 05:39] guanbinrui opened #20708 "[styles] Style nodes leaking when switching global theme in StrictMode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have been created a sandbox for this bug here https://codesandbox.io/s/clever-black-shc9b?file=/src/index.tsx.

For nested `<ThemeProvider/>`s rendered in `<React.StrictMode/>`. The

[2020-04-23 06:11] tpeek opened #20709 "[Select] onClick not fired on menu items"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If you select the same value twice in a single Select, `onChange` is not called the second time.

## Expected Behavior 🤔

`onChange` should be called every time a user selects a value

[2020-04-23 06:15] marcosvega91 commented on #20705
The same problem happens if you set required inputLabelProps and not required the TextField. Why you use required true and false in the same time? You want to hide the * but make the input required?

[2020-04-23 06:21] marcosvega91 commented on #20707
I think is a duplicate of [#20698 ](https://github.com/mui-org/material-ui/issues/20698)

[2020-04-23 06:22] marcosvega91 commented on #20709
I think is a duplicate of #20698

[2020-04-23 06:49] tpeek commented on #20709
Thanks @marcosvega91, looks like this issue was brought up before. Following the comments, changing `onChange` to `onClick` does seem to work.

However, I can't seem to find that documented in the API docs for either [TextField](https://material-ui.com/api/text-field/) or [Select](https://material-ui.com/api/select/)

It might also be helpful to update the description of `onChange` in the Select A

[2020-04-23 07:00] tpeek commented on #20709
Hm, the `onClick` solution actually doesn't work as well as I first thought- selecting the menu item that is already selected results in `onClick` being called with an event where `event.target.value` is `0`. 🤔

[2020-04-23 07:17] marcosvega91 commented on #20709
Hi @tpeek you can try here [codesandbox](https://codesandbox.io/s/inspiring-dew-ej53c)
I put a console.log inside your function and it seams to work

[2020-04-23 07:28] tpeek commented on #20709
@marcosvega91 Your linked codesandbox is using `v4.9.8`. If you update it to `v4.9.9`, it does the weird "return 0" behavior mentioned above.

[2020-04-23 07:41] stb1rd commented on #20373
Had the same issue, deleted `node_modules` and `yarn.lock`, ran `yarn` again and it worked

[2020-04-23 07:58] jeromeSH26 commented on #15610
Hi guys,
although this issue is closed, just to confirm that applying some import refactoring and buil settings in weback, fixed the problem of multi time the same classes to be applied, and on top of that, as far as I'm concerned, fixed the issue that the global theme defined in the APP is well applied to some components I have created in a seperate library I'm importing in the main APP.

It turn

[2020-04-23 07:58] mhmo91 commented on #13394
I'm getting this error when using Grow transition
```Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://fb.me/react-strict-mode-find-node```
I'm using
[code]

[2020-04-23 08:07] edwin32 opened #20711 "Missing HTMLElementType"
In the latest version of @material-ui/core (v.4.9.11), it has a dependency to @material-ui/utils v4.9.6:

https://github.com/mui-org/material-ui/blob/de70fa4ded6504a057167839c49e189f5ef13971/packages/material-ui/package.json#L55

I assume it's not right since the core package has new references to HTMLElementType function which not provided by @material-ui/utils v4.9.6. Probably we need to release

[2020-04-23 08:38] marcosvega91 commented on #20709
I understand the problem. Is linked to #20361

[2020-04-23 08:49] shotmk opened #20713 "[SvgIcon] classes prop has no effect on svg styling"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

 Current Behavior 😯
Setting colorSecondary, colorPrimary rules in classes SvgIconProp has no influence on the resulting style.

 Expected Behavior 🤔
Setting colorSecondary, colorPrimary rules in classes Svg

[2020-04-23 08:58] marcosvega91 commented on #20709
@tpeek  I have fixed the issue here #20712

[2020-04-23 09:20] Sjiep commented on #17100
I bumped into this issue too, A potential workaround solution until this is fixed in v5, is mentioned in a [comment](https://github.com/mui-org/material-ui/issues/18442#issuecomment-555190921) from #18442.

[code]

[2020-04-23 09:30] ronaldotijucas commented on #20705
Well, we are signing required fields in the other way, but it doesn't matter to be honest. The point is that the api allows it, and behaves correctly, but for for the extra-space. It was working fine in the previous minor version, as I pointed out.

The way I see it, the current minor version broke an expected visual behaviour, furthermore if this behaviour was not desired, `TextField` should not

[2020-04-23 09:36] marcosvega91 commented on #20705
Yes yes it makes sense. I need to understand why is broken now

[2020-04-23 09:47] oliviertassinari commented on #20705
@ronaldotijucas Thanks for raising, however, I don't think that we should handle this case.

[2020-04-23 09:52] #20713 closed

[2020-04-23 09:52] oliviertassinari commented on #20713
Tip, if you want to use a `.blue` global class name, you need to write the CSS for it.

[2020-04-23 09:55] oliviertassinari commented on #20709
Duplicate of #20698

[2020-04-23 09:57] oliviertassinari commented on #20709
@tpeek I don't think that we need to change anything about it. This replicates the behavior of a native select. If you need to respond to the click events, you can attach a listener to the menu items.

[2020-04-23 09:59] oliviertassinari commented on #20701
@bartlomiejzuber Thanks for sharing.

[2020-04-23 09:59] #20701 closed

[2020-04-23 10:02] oliviertassinari commented on #20711
@edwin32 This isn't released yet.

[2020-04-23 10:02] #20711 closed

[2020-04-23 10:12] #20695 closed

[2020-04-23 10:31] shotmk commented on #20713
@oliviertassinari i was thinking i need to provide actual values to classes prop and not a class name... my fault.

[2020-04-23 10:43] edwin32 commented on #20711
Ah you're right, it's not released yet, sorry for the false alarm. I installed it by cloning and building the core package master repo, assuming that it's the released version, thus the error.

[2020-04-23 10:50] stuckinaboot commented on #15185
Has anyone created a customized version of this? I've tried using `renderTags` on the `Autocomplete` component to get this working but have had no luck.

[2020-04-23 11:08] eps1lon commented on #20705
That is definitely an issue because:
1. `filled` behaves different
2. Hiding the "asterisk" is a common use case since it is somewhat controversial whether a `*` is a sufficient indicator for a required field.

[2020-04-23 11:12] reenan opened #20714 "Using createGenerateClassName with AutoComplete causes style miss-match across dev-prod environments"
[AutoComplete](https://material-ui.com/components/autocomplete/) styling uses CSS attribute selectors, per example: `.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-endAdornment`

If using `createGenerateClassName` with `disableGlobal`, this part _**[class*="MuiOutlinedInput-root"]**_ will NOT be converted, resulting that this rule will look something like: `.jss-1[clas

[2020-04-23 11:13] oliviertassinari commented on #20707
We plan to remove the `getContentAnchorEl` feature in v5, it should get us this bug for free.

[2020-04-23 11:15] oliviertassinari commented on #20707
A temporary workaround

[code]

[2020-04-23 11:16] ronaldotijucas commented on #20705
In the mean time a workaround can be done using the elements which compose a TextField:

[code]
https://codesandbox.io/s/asterisk-material-ui-49x-l9xjt

[2020-04-23 11:16] oliviertassinari commented on #20714
What's your use case for `disableGlobal`?

[2020-04-23 11:18] reenan commented on #20714
I don't want to display any actual class name, only the generated codes, if I don't use it, the actual MUI classes will be shown.

[2020-04-23 11:21] oliviertassinari commented on #20714
@reenan Ok so you can stick to `disableGlobal: false` for now. We will likely prevent developer to easily disable the global class names in v5.

[2020-04-23 11:23] reenan commented on #20714
In this case, I won't be able to replace the default MUI class names with the generated ones?

[2020-04-23 11:26] oliviertassinari commented on #20708
@guanbinrui Thanks for the reproduction, we have been aware of this issue for 6+ months but never had a dedicated issue yet :)

[2020-04-23 11:27] oliviertassinari commented on #20714
Correct

[2020-04-23 11:31] reenan commented on #20714
OK, understood. Thank you for the clarification.

Is there any release date/period already planned/estimated for v5?

[2020-04-23 11:31] kumarunster commented on #20701
thanks all for the answers, anyway it is a breaking change in a BUGFIX version. could you please revert, it does not make any sense to have this restriction. In my opinion such changes should be propagated in major versions.  Ofcourse, it is your product, but such things are producing LOT of WTF, because nobody expecting changing types in a relatively mature product, just by bumping a  third numbe

[2020-04-23 11:33] oliviertassinari commented on #20714
@reenan Can't tell could be stable in 2021.

[2020-04-23 11:40] eps1lon commented on #20701
I understand the frustration. It's unfortunate that this causes so many issues for you.

It was a bug since we document that it doesn't accept `undefined` and issued runtime dev-only warnings if the `title` was `undefined`.

It's unreasonable for types to bump major version every time we refine or fix a type. We're following `@types/` versioning strategy in this regard.

[2020-04-23 11:47] eps1lon commented on #20708
Since `makeStyles` as similar implementation as `createUseStyles` from `jss` a fix in https://github.com/cssinjs/jss/issues/1332 could likely be ported to `makeStyles`.

[2020-04-23 11:58] dmtrKovalenko opened #20716 "[TextField] Required `variant` prop"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The following code failing with error `Type 'undefined' is not assignable to type '"outlined"'`

[code]

## Expected Behavior 🤔

No errors

## Steps to Reproduce 🕹

https://codesandbo

[2020-04-23 12:00] oliviertassinari commented on #20716
Duplicate of #15697?

[2020-04-23 12:01] dmtrKovalenko commented on #20716
Probably, sorry. But what the reason to close it?

[2020-04-23 12:02] dmtrKovalenko commented on #20716
No it is not a duplicate. It is about handing it is optional `?`

[2020-04-23 12:06] eps1lon commented on #20716
It's a duplicate of #15697. The error message is just misleading. See https://github.com/mui-org/material-ui/issues/15697#issuecomment-493419773 for a more detailed explanation.

[2020-04-23 12:06] #20716 closed

[2020-04-23 12:10] dmtrKovalenko commented on #20716
It's not about determination union, but about missing `?` for according props.

[code]
Instead of what you have for now

[code]

[2020-04-23 12:26] msniezynski commented on #19137
Is it possible to set maximum number of tags that will be visible when **focused**?

[2020-04-23 12:27] oliviertassinari commented on #19137
@mzbyszynski I have do doubt you can customize the component for doing such.

[2020-04-23 13:47] #20705 closed

[2020-04-23 14:16] boy51 commented on #19484
I am having this issue using the onChange function of an autocomplete with multiple = true. Hope this is the right place to post.
[code]
Seems multiple is messing up the type inference. So if my options is an array, the onchange value is not an array, right? So handleChange should be `(event: any, value: TeamMember | null) => void;` But it infers the type TeamMember[] for value. So if I provide Te

[2020-04-23 14:29] ohlr commented on #20676
regarding 1) I am not an expert in template design, so maybe open a new discussion in a separate issue? And do a poll (thumbs up / down) or something :)

regarding 2) Fair point ;) maybe its just me being to lazy reading existing docs carefully ;)

[2020-04-23 15:06] eluchsinger commented on #12639
I would do it myself, but I am not an animations expert and lack a bit of the time to look into it. If I find some time I can do it myself and create a PR.

[2020-04-23 15:14] oliviertassinari commented on #20706
@m4theushw This is an interesting concern. I would propose the following:

- [ ] We remove all the empty style rules available in `Input`, `OutlinedInput`, and `FilledInput`. This is breaking, wait for v5.
- [ ] We remove the usage of `InputBaseClassKey` from the TypeScript definitions in OutlinedInput, it's plain wrong.
- [ ] We add a `InputBaseClasses` prop to support your use case.

What do you

[2020-04-23 15:48] blake-mealey opened #20722 "findDOMNote is deprecated in StrictMode error when using Menu component"
I have seen #13394 which is related, but I would just like to get clarity on this warning error I am seeing when I click on a button that opens a `Menu` component:

[code]

My code currently looks like this:

[code]

Is there a way to rewrite this to avoid this error? If not, what are the implications of using this in production? Thank you!

[2020-04-23 15:55] Marcioshub commented on #20722
Im also getting this when using `expansion panels`:

`
Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://fb.me/react-strict-mode-find-node
    in div (created by Transition)
    in Transition (created by Forw

[2020-04-23 15:59] #20722 closed

[2020-04-23 16:00] oliviertassinari commented on #20722
Duplicate of #18018

[2020-04-23 16:19] petermikitsh opened #20723 "[RadioGroup]: label text color in dark mode"
Accessibility issue with RadioGroup labels in dark mode.

See https://codesandbox.io/s/goofy-bardeen-uvefd?file=/src/index.js

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When enabling `light` mode, we expect dark text. (The ba

[2020-04-23 16:38] oliviertassinari commented on #20723
Duplicate of #15850

[2020-04-23 16:38] #20723 closed

[2020-04-23 16:47] petermikitsh commented on #20723
Adding `<CssBaseline />` as a child of the ThemeProvider did the trick. Thanks!

Updated codesandbox: https://codesandbox.io/s/bitter-waterfall-i248t?file=/src/index.js

[2020-04-23 17:31] #20692 closed

[2020-04-23 20:19] sandeepgahlawat commented on #11749
@LeroyDoornebal
It sort of worked for me but not exactly. Variant='temporary' did not work at all but variant=' persistent' did and I can see the drawer and it HTML content inside the DOM and it is at the right place but nothing is visible on the screen.
Can you help me out? I need help urgently.

[2020-04-23 20:21] eps1lon commented on #19649
@acroyear Could you explain how this relates to keyboard navigation? The "…" is a static element that triggers no interactions. It seems to me that this is a general issue you would like to see implemented?

[2020-04-23 20:27] tpeek commented on #20709
Adding an `onClick` prop to a `MenuItem` doesn't seem to work at all: https://codesandbox.io/s/eloquent-solomon-zjr2y?file=/src/Demo.js

Replacing the `onChange` prop with `onClick` in the `Select` component works for clicks but does not work for keyboard controls: https://codesandbox.io/s/relaxed-zhukovsky-jhykx?file=/src/Demo.js

[2020-04-23 22:15] oliviertassinari commented on #20709
@tpeek Thanks for raising, it looks like a bug. Material-UI is supposed to forward all the events. What do you think of this patch? Do you want to submit a pull request? :)

[code]

[2020-04-23 22:32] sandeepgahlawat commented on #11749
@LeroyDoornebal
Although it's working fine for the most part. The only problem is with slide exit animation, the drawer slides out of the container it is contained in and goes off-screen. Whereas the expected behavior should be that the drawer should end slide exit animation inside the container it is in.
Can you help me fix it?

[2020-04-23 23:12] hurricane987 opened #20725 "[TablePagination] Add showFirstButton and showLastButton support"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

First of all, thank you for creating and maintaining such an extensive set of attractive and easy-to-use UI components. My job is much easier because of you fine people.

My request: it would be nice to have FirstPage and LastPage buttons in

[2020-04-23 23:17] hurricane987 commented on #20725
Oh! I just realized there is an example in in source with a custom actions component. Thanks!

[2020-04-23 23:23] diminishedprime commented on #10159
I'm also having this issue with the following version:
[code]

[2020-04-23 23:28] oliviertassinari commented on #20725
@hurricane987 Thanks for the example with Angular Material, I was curious about how they format the numbers, they don't 🙃

<img width="636" alt="Capture d’écran 2020-04-24 à 01 26 38" src="https://user-images.githubusercontent.com/3165635/80159248-c6989d80-85ca-11ea-8baa-005bcca7eb9f.png">

Related to #20656

[2020-04-23 23:29] oliviertassinari commented on #10159
Do you have a minimal live reproduction?

[2020-04-23 23:30] Sphinxs commented on #17875
Same issue, I'm using Material UI 4.9.11.

[2020-04-24 01:02] m4theushw commented on #20706
Why don't we just add the missing classes to the `Input` to avoid the error?

[2020-04-24 01:42] hckhanh opened #20726 "animation does not work with ?:"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I try to implement animation with `?:` operator like this:

[code]

The animation does not appear

## Expected Behavior 🤔

The animation should work, depend on the condition valu

[2020-04-24 03:16] Amritpd commented on #18514
Hi is it possible to simply mute this warning in production?

[2020-04-24 05:45] LincMitch commented on #19387
I'm keen to use Navigation Rail and hope this goes ahead. If it does, a few questions:
1. Any estimates as to when it is likely to be available?
2. Would it be quicker to 1st implement it in the Framerfx?
3. Can you make RWD feature a be a prop and appear left, bottom and even right and top?

[2020-04-24 07:01] Janpot opened #20727 "Autocomplete grouBy + virtualization example, wrong groups"
Checking the example of [autocomplete + virtualization](https://material-ui.com/components/autocomplete/#virtualization). The groups are supposed to be the first letter of the item but they seem to be kind of random. See gif:

![group-by](https://user-images.githubusercontent.com/2109932/80183984-1d719780-860a-11ea-9be7-849ea2161ec0.gif)

- [x] The issue is present in the latest release.
- [x] I h

[2020-04-24 07:05] Janpot commented on #20727
https://github.com/mui-org/material-ui/blob/54ace6528ed4df4798c9a91e6e5f42e4dc29ccaa/docs/src/pages/components/autocomplete/Virtualize.js#L118

[code]
needs to become
[code]

[2020-04-24 08:03] MargaretKrutikova opened #20730 "Single-select autocomplete doesn't open on click after selecting option"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am using `Autocomplete` component with single-choice that closes on option select. When an option has been selected, it closes, but stays in focus which prevents it from opening whe

[2020-04-24 08:30] oliviertassinari commented on #20730
It's expected, why should it behave differently?

[2020-04-24 08:36] #20551 closed

[2020-04-24 08:41] oliviertassinari commented on #20727
@Janpot Well spotted, we have made a change to the args of renderGroup recently. We need to fix it :).

[2020-04-24 08:44] oliviertassinari commented on #20726
@hckhanh It's a known bug, you can find a duplicate in the repository. It doesn't work, you can inject global keyframe CSS instead.

[2020-04-24 08:46] oliviertassinari commented on #20706
@m4theushw Because these classes are implemented by the `InputBase`, not the wrapping components.

[2020-04-24 08:47] oliviertassinari commented on #17875
Duplicate of #13448

[2020-04-24 08:48] #20726 closed

[2020-04-24 08:49] Janpot commented on #20727
@oliviertassinari off-topic, what's your workflow for generating these diffs?

[2020-04-24 08:56] oliviertassinari commented on #20727
@Janpot I edit them in my locale env, check that it works, run `git diff`, copy, reset hard to master.

[2020-04-24 09:14] oliviertassinari commented on #18514
@Amritpd No warnings are or shoul be printed in production. Check that you build for production (NODE_ENV === 'production)

[2020-04-24 09:20] MargaretKrutikova commented on #20730
I thought I saw a comment here, but can't see it anymore. Have I missed something?

[2020-04-24 09:25] oliviertassinari commented on #19387
@LincMitch We won't support it before a year if we ever do. The best case would be to create a standalone repository for it.

[2020-04-24 09:26] yu2749luca opened #20731 "Module not found: Can't resolve '@material-ui/core' in '/app/node_modules/@material-ui/lab/esm/AlertTitle'"
Running our web project (using material ui) on localhost is perfectly fine. However, it became an issue when I tried to launch it on Heroku. It shows

`Module not found: Can't resolve '@material-ui/core' in '/app/node_modules/@material-ui/lab/esm/AlertTitle'`

I have tried to install the latest Material Ui core/lab.

Here is the info for dependencies
`
  "devDependencies": {
    "@material-ui/core

[2020-04-24 09:27] marcosvega91 commented on #20730
I can work on it @oliviertassinari

[2020-04-24 09:31] eps1lon commented on #20731
You have `dependencies` and `devDependencies` mixed up. Heroku probably only installs production dependencies (not `devDependencies`).

If the issue persist, please open an issue with heroku. We don't have the bandwidth to debug every environment.

[2020-04-24 09:35] oliviertassinari commented on #20730
@MargaretKrutikova Yeah, sorry, we have had a regression since the first version of the component.

[2020-04-24 09:38] MargaretKrutikova commented on #20730
@oliviertassinari no worry! thanks a lot for looking into this 🙂

[2020-04-24 09:41] SahilChaudhary25 commented on #18331
In that case you should use setFieldTouched API

[2020-04-24 09:47] oliviertassinari commented on #18331
Let's move the discussion to https://github.com/stackworx/formik-material-ui/issues/126

[2020-04-24 10:26] yu2749luca commented on #20731
@eps1lon , the issue has been resolved. It is indeed what you said. I just had to copy all the information from devDependencies to dependencies. Thank you.

[2020-04-24 10:51] #20731 closed

[2020-04-24 11:56] JanPretzel opened #20733 "styled-components interoperability breaking in tests"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using `styled-components` to overwrite styles of `material-ui` components, such as `Button` it works perfectly fine in the browser, but seems to break in tests with `jest`, `reac

[2020-04-24 12:47] majelbstoat opened #20735 "[AvatarGroup] component interacts poorly with custom Avatars"
Due to something in the way AvatarGroup clones its children, it can't be used with custom Avatar components, which greatly limits its utility.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a custom Avatar component with f

[2020-04-24 13:07] oliviertassinari commented on #20733
@JanPretzel Interesting, we don't have the time to investigate, but it's great to have this issue open to other to share findings :).

[2020-04-24 13:09] oliviertassinari commented on #20735
This is a common limitation of the cloneElement API. You will find numerous workaround in the issue history as well as a recommendation in our documentation. tip: spread the props.

[2020-04-24 13:09] #20735 closed

[2020-04-24 13:27] eps1lon commented on #20733
Thanks for opening this issue and providing this much detail!

Unfortunately this is an issue with `jsdom`. `jsdom` has little support for style inheritance or the cascade. You can track https://github.com/jsdom/jsdom/issues/2160 for progress on this issue.

If you want to test styles I'd suggest visual regression test since they give more meaning than assertions on single CSS properties. For more

[2020-04-24 13:27] #20733 closed

[2020-04-24 14:23] majelbstoat commented on #20735
I'm sorry, I'm not sure I understand which props to spread where, or which issue history you mean? I'm actually already spreading props on the MuiAvatar. This is the full component:

[code]

I looked at all the issues and pull-requests for [AvatarGroup] before I posted the issue and none of them seemed to mention this. And the only documentation for AvatarGroup that I could find was:

https://mate

[2020-04-24 14:28] oliviertassinari commented on #20735
@majelbstoat Do you have a minimal live reproduction to illustrate the issue?

[2020-04-24 14:33] eloyrubinos opened #20738 "Complete spanish localization"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I was wondering why the spanish localization is not finished. I would be happy to contribute the missing translations.

[2020-04-24 14:38] oliviertassinari commented on #20738
@eloyrubinos We would love your help. You can contribute in https://translate.material-ui.com/ :D.

[2020-04-24 14:38] #20738 closed

[2020-04-24 14:40] majelbstoat commented on #20735
Here you go: https://codesandbox.io/s/avatargroup-not-adding-classname-19js6

[2020-04-24 14:47] alorek opened #20740 "FormLabel for a required field has asterisk read by screen readers"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Screen Readers read the 'asterisk' on required fields as 'star'

## Expected Behavior 🤔

Screen Reader should only read the label and the 'required' attribute

## Steps to Reproduce 🕹

[2020-04-24 15:12] burtonator opened #20741 "Better and more consistent handling of colors"
Right now colors aren't very consistent throughout MUI.

For example, there are colors for primary, secondary, info, error, warning, and success.

But many components only accept default, primary, and secondary.

It would be nice to make an 'error' button or a 'success' button for example without having to resort to CSS.

Also, some components have textPrimary and textSecondary but these aren't th

[2020-04-24 15:23] hurricane987 commented on #20725
Perhaps I closed this prematurely. I'm going to use that example with the custom actions component but it makes sense to have this option as configurable props.

[2020-04-24 15:50] eloyrubinos commented on #20738
I was actually talking about the theme, not the docs. I see there are commented parts of the spanish localization, as well as others.

[2020-04-24 17:09] Andrew5569 opened #20744 "Add disableElevation to Button Group"
Recently the `disableElevation` prop was added to the `Button` component https://github.com/mui-org/material-ui/pull/18744. However, this prop was not added to the `ButtonGroup` component.

Could `disableElevation` prop be added to the `ButtonGroup` component to make it consistent with the `Button` component?

[2020-04-24 17:53] oliviertassinari commented on #20738
@eloyrubinos Yes, if you could help us complete the translation, it would be awesome:
https://github.com/mui-org/material-ui/blob/2231349c302a089cc556614ff562b02a729b1e77/packages/material-ui/src/locale/index.ts#L346
We have introduced a couple of new keys recently.

[2020-04-24 17:54] oliviertassinari commented on #20725
@hurricane987 Agree, it would be consistent with the pagination component: https://material-ui.com/components/pagination/#buttons. Do you want to work on it?

[2020-04-24 17:58] hurricane987 commented on #20725
I probably won't have time until next week but yeah I'd be happy to!

[2020-04-24 18:03] oliviertassinari commented on #20725
@hurricane987 Perfect, to be fair, I doubt somebody will give it a shot before a couple of months if it's not coming from you, so don't worry about somebody stealing your opportunity to contribute 😁.

[2020-04-24 18:03] #20709 closed

[2020-04-24 18:05] #20730 closed

[2020-04-24 18:13] tripleTriangles commented on #18269
@bluebill1049 I tweaked your demo to show the issue I'm seeing and hopefully you have a good solution.
https://codesandbox.io/s/react-hook-form-controller-n196b?file=/src/index.js
Trying to validate a checkbox is checked before enabling a button.  All of the other fields I've used work as expected except for the checkbox.

[2020-04-24 18:15] oliviertassinari commented on #20741
@burtonator This issue bundle different concerns, you will find related discussions in the history.

[2020-04-24 18:15] #20741 closed

[2020-04-24 18:21] oliviertassinari commented on #20744
@Andrew5569 Great idea, do you want to give it a try? :)

[2020-04-24 18:25] cadillion commented on #19780
We had a similar problem for this, and it took a team of three a full week to find all the bugs. The fixes for us were as follows:

- Make sure that your client and server are both running in the same `NODE_ENV`. When they don't match, `material-ui` does funky things
- use a new matching `productionPrefix` between the two environments; ensure that the client uses a `StylesProvider` with `generateC

[2020-04-24 18:25] oliviertassinari commented on #20735
I'm confused, your codesandbox seems to work perfectly. What's the unexpected behavior?

[2020-04-24 18:28] tpeek commented on #20709
I think we might have to do a bit more with the `onKeyUp` part- I've tested passing `onKeyUp` to each `MenuItem`, and it works for the arrow keys but not for the 'Enter' key. Example: https://codesandbox.io/s/divine-violet-jucyq?file=/src/Demo.js

My guess is that the `Menu` closes `onKeyDown`, so the `MenuItem` isn't around for the `onKeyUp` event.

[2020-04-24 18:29] majelbstoat commented on #20735
The avatars inside the group should have height and width 85, per the `size=“xl”` prop.

[2020-04-24 18:31] oliviertassinari commented on #20709
<kbd>Enter</kbd> will trigger onClick.

[2020-04-24 18:32] oliviertassinari commented on #20735
compose the className too.

[2020-04-24 19:38] Andrew5569 commented on #20744
Sure I can do that :+1:

[2020-04-24 19:56] majelbstoat commented on #20735
It is already composed?

`const Component = <MUIAvatar className={classes[size]} src={src} alt={name} {...other} />`

That’s what I said in the initial issue:

“However, when I do this, the xl className is not applied to the nested MuiAvatar

Both nested MuiAvatars should have the className `makestyles-xl-509`“

[2020-04-24 20:03] oliviertassinari commented on #20735
What I mean is that you should concatenate the class name coming from the AvatarGroup with the new one you inject.

[2020-04-24 20:48] chybisov commented on #20593
@oliviertassinari it's not external dependency. We provide all styles for these components.

[2020-04-24 21:03] marcosvega91 commented on #20725
Why not integrate the pagination component inside of table pagination?

[2020-04-24 21:31] oliviertassinari commented on #20725
Two different concerns, TablePagination is for data grids, Pagination is for lists.

[2020-04-24 22:35] oliviertassinari commented on #13394
For the developers that feel adventurous, they can try:

[code]

[2020-04-24 23:10] oliviertassinari commented on #20402
@benwiley4000 I had a closer look at the problem, with this playground case:

[code]

I have proposed diff that seems to solve these cases:

1. Native form validation (#20402):

<img width="329" alt="Capture d’écran 2020-04-25 à 00 55 03" src="https://user-images.githubusercontent.com/3165635/80262966-6c154500-868f-11ea-908f-8e4d20211b4b.png">

2. Autofill (https://twitter.com/devongovett/status

[2020-04-25 02:39] NawarA commented on #19387
I built the nav rail in my react app. i followed the specs to the pixel.

i could somehow try to export it. would that be helpful?

[2020-04-25 03:02] LincMitch commented on #19387
@NawarA That would be very helpful indeed as I'm more designer than developer. Really just consuming components and hacking at them within Framer X.

[2020-04-25 03:20] coktopus commented on #20568
https://github.com/mui-org/material-ui/pull/20749

[2020-04-25 03:58] majelbstoat commented on #20735
Ahh, I finally understand, and got it working. Thanks for taking so much time to help me get that right. For others similarly confused, the final component is:

[code]

[2020-04-25 03:58] nahtnam commented on #20012
With the move to styled components, is react-native support something that can be done? Mobile apps would be significantly easier to make

[2020-04-25 07:17] #20744 closed

[2020-04-25 07:59] oliviertassinari commented on #19387
@LincMitch Are you using https://packages.framer.com/package/material-ui/material-ui or did you made your own version?

[2020-04-25 08:58] hckhanh commented on #20726
thank you @oliviertassinari

[2020-04-25 08:58] JanPretzel commented on #20733
Thanks for the swift answer guys, it cleared up some question marks I had :+1:.

[2020-04-25 13:54] marcosvega91 commented on #12297
Hi @oliviertassinari, today I was thinking about it. Why not implement in the project?
A lot of commits are only to run prettier & linter 💯

[2020-04-25 13:57] oliviertassinari commented on #12297
@marcosvega91 Git hooks slow down the development experience, I think that it's significantly better to rely on the CI. It gives an incentive to speed it up too.

[2020-04-25 14:28] marcosvega91 commented on #12297
Yes I understand but the two commands are very fast in this project

[2020-04-25 14:29] oliviertassinari commented on #12297
@marcosvega91 If it runs below 5s, why not.

[2020-04-25 14:31] marcosvega91 commented on #12297
No 5 seconds no 😭

[2020-04-25 16:04] NMinhNguyen commented on #13394
Do we know what it's going to take to make `makeStyles` StrictMode compatible? Is it the use of `useSynchronousEffect`? I'm aware of the plan to move to Styled Components, but I'm curious how/if they solved this problem.

[2020-04-25 17:03] eps1lon commented on #12297
You can set them up for yourself locally. I myself lint and format pre-push. I'm not sure about the rest of the team but I have conmit hooks disabled globally so they wouldn't be maintained by me at least.

[2020-04-25 17:12] oliviertassinari commented on #12297
If we can make the git hook opt-in, I'm all 💯. Some developers prefer them, cc @dmtrKovalenko.

[2020-04-25 17:39] netochaves commented on #20480
Can I take this?

[2020-04-25 17:53] oliviertassinari commented on #20480
@netochaves Sure :)

[2020-04-25 18:25] esseswann opened #20752 "[TextField] Underline misalignment when Divider present"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

It seems that when using `<TextField select={true} />` and when there is a `<Divider />` element somewhere in the tree above the underline is one pixel off
![image](https://user-image

[2020-04-25 19:04] oliviertassinari commented on #20752
It looks alright in my env.

[2020-04-25 19:05] esseswann commented on #20752
Probably it happens only on 4k displays?

[2020-04-25 20:42] marcosvega91 commented on #20752
It seams a problem of height. If you try to change the zoom of the page you can see the error.
I think that something like this can solve

[code]

[2020-04-25 20:59] oliviertassinari commented on #20752
@marcosvega91 Looking at the history, it seems that we can remove an older patch for #13302:

[code]

Would that work?

[2020-04-25 20:59] esseswann commented on #20752
@marcosvega91 I noticed that simple removal of `height: auto` helps, but git blame shows that that this is some kind of native-select [fix ](https://github.com/mui-org/material-ui/commit/0ed94fc9d8a3f67670133a5d31d2b873b091bca5#diff-ce8035e02697b1240040334ca176cd16R26)for FF. I am not sure that it is still actual because removing it does not break anything
[code]

[2020-04-25 21:00] oliviertassinari commented on #20752
@esseswann I have just tested it, it seems that we fixed the issue later on by forcing the height.

[2020-04-25 21:09] #20740 closed

[2020-04-25 21:33] tpeek commented on #20707
If it helps, looks like this is the PR that caused this bug: https://github.com/mui-org/material-ui/pull/19046

Overriding `getContentAnchorEl` seems to prevent the Menu from repositioning itself at all, even after closing and reopening it. Is the old behavior no longer supported?

[2020-04-26 03:15] dandv opened #20755 "Describe how exactly to change where simple menus open"
https://material-ui.com/components/menus/#simple-menu states:

**How** can this be changed via props? The page doesn't say. I went to the [Menu API page](https://material-ui.com/api/menu/), and I don't see anything simple like `open: 'below'`, or an offset.

Developers have been struggling to figure this out [for 2+ years](https://stackoverflow.com/questions/48157863/how-to-make-a-dropdown-menu-op

[2020-04-26 07:23] eps1lon commented on #13394
There are multiple issues that make `makeStyles` not concurrent safe. Being able to use a library that is dedicated to this problem space should free up some resources.

[2020-04-26 08:44] fakekamrankhan opened #20772 "Vertical Stepper: Warning: findDOMNode is deprecated in StrictMode."
I am using the Vertical Stepper as coded on Material UI's [Stepper](https://material-ui.com/components/steppers/#vertical-stepper) component section of the website.

By using it, React throws a findDOMNode warning in StrictMode.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that

[2020-04-26 08:47] eps1lon commented on #20772
Duplicate of #13394

[2020-04-26 08:47] #20772 closed

[2020-04-26 09:08] esseswann commented on #20752
Seems to be working on the `variant=filled` aswell
![image](https://user-images.githubusercontent.com/6066417/80303046-81d15a00-87b6-11ea-8a85-3bc52716d864.png)

@oliviertassinari So does anybody make a pull request? :)

[2020-04-26 09:12] esseswann commented on #20582
![image](https://user-images.githubusercontent.com/6066417/80303170-2358ab80-87b7-11ea-9a5b-1767619839a4.png)

FYI on my 4k display it is visible on both examples

[2020-04-26 09:16] oliviertassinari commented on #20582
@esseswann Does the proposed patch solve it?

[2020-04-26 09:16] buraksakalli commented on #20582
@esseswann, @oliviertassinari
You're right, but the patch didn't solve it.

[2020-04-26 09:17] oliviertassinari commented on #20752
@esseswann Priority to the author of the issues ;)

[2020-04-26 09:40] oliviertassinari commented on #20582
@buraksakalli How did you try the patch?

[2020-04-26 09:48] oliviertassinari commented on #20568
@gfeller For curiosity, how do you end-up uncovering this issue? What's your use case for printing a slider? :)

[2020-04-26 10:12] buraksakalli commented on #20582
I've applied your advices to `Tooltip.js`

[2020-04-26 10:16] oliviertassinari commented on #20582
@buraksakalli If you are referring to the `Tooltip.js` that is present in your node_modules, there are two. Does it display something if you add a `console.log('edit');`?

[2020-04-26 10:47] CrocoDillon opened #20776 "NextJS example with CSS Modules gives wrong order of styles"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Custom styles defined in CSS Modules appear above Material UI styles (I'm talking about the injected `<style>` blocks) so they don't override Material UI styles properly (assuming sam

[2020-04-26 11:13] oliviertassinari commented on #20776
@CrocoDillon You need to make sure Material-UI styles are injected before CSS modules ones.

[2020-04-26 12:11] oliviertassinari commented on #20755
@dandv Thanks for raising this issue. It seems that it bundles different concerns we can and should break down:

1. **The positioning issue**. Thanks for linking the StackOverflow issue 🙏, it's exactly why we promote this tool and only for questions/support. "Viewed 16k times" and 32 upvotes make is in the top [110 issues we have](https://stackoverflow.com/search?q=%5Bmaterial-ui%5D+views%3A14000)

[2020-04-26 13:23] smolaolga opened #20778 "TextField does not receive defaultValue"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In the example below native `<input>` gets defaultValue after button click, but not `<TextField>`

[code]

## Expected Behavior 🤔

Expected defaultValue to be the same for `<input>` a

[2020-04-26 13:41] oliviertassinari commented on #20778
This issue, and different forms of it have been raised in the past #11150, #12876, #18956. It comes down to: should we support update on the default value? So far our answer has been, not supported.

[2020-04-26 13:41] #20778 closed

[2020-04-26 13:42] oliviertassinari commented on #12876
Duplicate of #11150

[2020-04-26 13:43] oliviertassinari commented on #18956
Duplicate of #11150

[2020-04-26 13:47] marcosvega91 commented on #19500
What do you think about this implementation ?

[code]

[2020-04-26 14:02] oliviertassinari commented on #19500
I came back to the use case of @mvestergaard, we have recently better organized the documentation to split the `freeSolo` use case into two different cases: 1. search field and 2. combobox create option. The discussion here was interesting because could further help differentiate the two use cases. I have tried to benchmark more, it seems very rare to have the wai-aria behavior implemented for <bk

[2020-04-26 14:04] oliviertassinari commented on #19500
Ok, my bad, the issue is that Material-UI prevent default the native behavior.

[2020-04-26 14:12] oliviertassinari commented on #19500
We very likely need to make a change to account for it, it breaks the default behavior. We could either continue in the direction we have started with `selectOnFocus` and `clearOnBlur`, add a third `handleHomeEndKeys` like prop. This prop would be disabled by default if `props.freeSolo`.

The alternative is to say, 3 cases are enough, let's wrap all these concerns into a dedicated abstraction. I d

[2020-04-26 14:13] marcosvega91 commented on #19500
I was referencing to this issue and [#19887](https://github.com/mui-org/material-ui/issues/19887)
My idea is to add a way for the user to decide the order of the event.
For example i can

`<Autocomplete keyDownOrder={{"home":["own"]}} />`

And when the keydown is pressed with home key only the onKeyDown callback passed by the user is fired.

I can

`<Autocomplete keyDownOrder={{"home":[]}} />`

In

[2020-04-26 14:14] oliviertassinari commented on #19500
@marcosvega91 Ok, let's move to #19887. For this one, I think that we have a compelling motivation to make a dedicated prop for it.

[2020-04-26 14:15] smolaolga commented on #20778
@oliviertassinari Execuse me for creating duplicated issue. Could you please kindly explain how it works for native input as default value for native input updates?

[2020-04-26 14:23] oliviertassinari commented on #19887
I had forgotten to link the previous benchmark I have run on the issue. Basically, I have been wondering about this very problem in the past for the potential touch handle conflicts between the components: once a component decides to handle an event, the other components shouldn't intervene. The idea for `event.muiHandled?: boolean;` started in https://github.com/mui-org/material-ui/pull/17941/fil

[2020-04-26 14:26] oliviertassinari commented on #20778
@smolaolga What problem do you try to solve?

[2020-04-26 14:29] esseswann commented on #20752
![preview2](https://user-images.githubusercontent.com/6066417/80310442-73e5fe00-87e3-11ea-857f-ef447409d9e7.gif)

I was checking it for NativeSelect and accidentally noticed that NativeSelect from current master no longer works, the dropdown is not opening onClick. It works [on the website](https://material-ui.com/components/selects/#select) though.
I did not apply any fixes, might be a separate i

[2020-04-26 14:44] oliviertassinari commented on #20752
@esseswann Solved in #20777.

[2020-04-26 14:47] jedwards1211 commented on #20755
I do find the `transformOrigin` and `anchorOrigin` props a bit verbose, perhaps we should export `topLeft`, `bottomRight`, etc constants from somewhere?

[2020-04-26 14:53] jedwards1211 commented on #20755
A more apt comparison with Grommet would be a menu aligned to a different `dropTarget`

[2020-04-26 14:59] smolaolga commented on #20778
I have a hook+context to store user profile, userProfile can be updated
[code]

I have EditUserProfile component that is a form to update user profile
[code]

I probably need to move to controlled inputs instead

[2020-04-26 15:04] CrocoDillon commented on #20776
@oliviertassinari I don't know how to control that. Seems like both NextJS and Material UI give little control over how, where and when the styles are injected (which is of course convenient until you do need to have that control).

[2020-04-26 15:07] jedwards1211 commented on #20755
Here's the [material-ui-popup-state](https://jcoreio.github.io/material-ui-popup-state/#trigger-menu) way for reference.

It's worth noting that Grommet provides no builtin way to open on hover, that would take boilerplate code.  material-ui-popup-state provides [hover boilerplate](https://jcoreio.github.io/material-ui-popup-state/#hover-menu).

Evergreen does have an open on hover option.  And fo

[2020-04-26 15:09] oliviertassinari commented on #20778
@smolaolga Thanks for the context. Yes, you could need to control the component.

[2020-04-26 15:14] smolaolga commented on #20778
![defaultValue](https://user-images.githubusercontent.com/62951257/80311644-87946300-87e9-11ea-852d-19b47c1dc9e4.png)

but if you take a look at components tree, you will see that InputBase actually caught defaultValue and then finally it's lost

This is related to
First Name  input and one below it

<TextField
                        label="First Name"
                        defaultValue={firstN

[2020-04-26 15:21] smolaolga commented on #20778
![defaultValue](https://user-images.githubusercontent.com/62951257/80311644-87946300-87e9-11ea-852d-19b47c1dc9e4.png)

but if you take a look at components tree, you will see that InputBase actually caught defaultValue and then finally it's lost

This is related to
First Name  input and one below it

[code]

Should it really be like that? Actually expected both inputs to act in the same way

[2020-04-26 15:25] CrocoDillon commented on #20776
Okay the solution seems simply adding a `StylesProvider` with the `injectFirst` prop, updated my CodeSandbox to reflect that.

[code]

Seems like the `StylesProvider` has some more options regarding class name generation, maybe it can fix the issue in strict mode too where the counter seems to be off by one. But that's a different issue so I will close this one. Thanks!

[2020-04-26 15:25] #20776 closed

[2020-04-26 15:26] esseswann commented on #20582
![image](https://user-images.githubusercontent.com/6066417/80311872-da224f00-87ea-11ea-9fe3-f9038ad70cb0.png)

I checked the 1em solution in multiple browsers it seems to be fixing it. There is some very slight non-pleasant effect during the intro transition when browser lags to calculate correct position of the arrow but AFAIK such problems can only be solved with SVG-based whole-element solution

[2020-04-26 15:28] smolaolga commented on #20778
thank you for answering!

[2020-04-26 16:02] NMinhNguyen commented on #13394
If it's not too much trouble, would you be able to spell them out? For the benefit of those who may want to contribute a solution, or even to understand the problem space better. But I agree with the core team wanting to spend resources on using an alternative library instead.

[2020-04-26 16:16] eps1lon commented on #13394
- https://github.com/cssinjs/jss/issues/1338
- https://github.com/cssinjs/jss/issues/1332

We are not using `createUseStyles` but a custom implementation that is very similar. Since the issues are the same I suspect fixes in one could be ported to another.

If you want to deep-dive you should apply

[code]
to https://github.com/mui-org/material-ui/blob/27471b4564eb40ff769352d73a29938d25804e45/pack

[2020-04-26 16:41] #20752 closed

[2020-04-26 16:49] #20568 closed

[2020-04-26 16:51] marcosvega91 commented on #19887
@oliviertassinari You want to cover only the first two cases?

[2020-04-26 16:54] oliviertassinari commented on #19887
@marcosvega91 For the third case, I think that it should only concern the hook API, which support it.

[2020-04-26 16:57] marcosvega91 commented on #19887
@oliviertassinari  It means that you need to pass a parameter to Autocomplete component to understand if you want to override the default behavior  ?

[2020-04-26 17:03] oliviertassinari commented on #19887
@marcosvega91 I don't understand, what do you mean?

[2020-04-26 17:20] marcosvega91 commented on #19887
To implement the third behavior we need a way fro the user to tell to Autocomplete component what it will have to do.
How Autocomplete will understand that it must call default behavior and then user one?

Now the onKeyDown is passed through useAutocomplete hook and there the callback is called at the end of onKeyDown function.

[2020-04-26 17:28] picosam commented on #18563
Hi @oliviertassinari! Again, thanks for your help. Your method is working well, except I'm unable to capture the value when the user types then clicks tab to move to the next field or to the submit button. I created the following sandbox for you to see what I mean: https://codesandbox.io/s/wild-sea-h2i0m

[2020-04-26 17:43] inspiraller commented on #14711
hi
I've tried your solution above by implementing this on the storybook.main.js to override webpack as below
[code]
Unfortunately this does nothing and I still get the same error using Material-Table

[2020-04-26 19:17] dkulakov commented on #16551
I also got that bug and fix it adding prop key to each Box, like in the example.
https://codesandbox.io/s/twilight-resonance-uw8m4?file=/src/index.js

Does someone have another solution?

[2020-04-26 19:31] oliviertassinari commented on #19887
@marcosvega91 I think that that second and third cases should be identical.

[2020-04-26 19:38] hadasmaimon opened #20782 "[AutoComplete] How to add scroll bar inside the render tags"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
How to add scroll bar inside the autocomplet to avoid too many lines as here:

![image](https://user-images.githubusercontent.com/40765442/80317336-e79c0100-880b-11ea-993b-848e7f0bb35f

[2020-04-26 19:41] marcosvega91 commented on #19887
Yes right as i said in the previous comment i didn't read the case well.

So i can create a PR for this :)

[2020-04-26 19:57] #20782 closed

[2020-04-26 19:58] oliviertassinari commented on #20782
The Gmail UX, you probably want to rethink you approach to the problem, in any case, we don't have the bandwidth to provide consulting on it here.

![Uploading Capture d’écran 2020-04-26 à 21.57.38.png…]()

[2020-04-26 20:05] weslenng commented on #20245
@oliviertassinari I was working on this issue but I can't break my test
Any suggestions?

[code]

[2020-04-26 20:14] oliviertassinari commented on #20245
@weslenng Start by ditching enzyme for testing-library.

[2020-04-26 20:43] weslenng commented on #20611
@oliviertassinari I tried to implement your solution but one test fail:

[code]

What do you think about this diff?
[code]

[2020-04-26 20:43] hadasmaimon commented on #20782
I tried it in Gmail,
And once I added more than a certain number of emails,
It added a scroll...
So maybe there is an idea for an existing solution,please?
![image](https://user-images.githubusercontent.com/40765442/80319071-179cd180-8817-11ea-9eec-aeb12dba4b02.png)

[2020-04-26 21:46] oliviertassinari commented on #20611
The test goes against the documentation: `If `true`, hitting escape will not fire any callback` but it's the same issue with `disableBackdropClick`. Ok, I think that your alternative proposal is great.

For v5, I think that we can drop `disableBackdropClick`, `onBackdropClick`, `onEscapeKeyDown`, `disableEscapeKeyDown`. onChange + reason + filtering should be enough.

[2020-04-26 22:11] weslenng commented on #20245
I made the test below, but the Tooltip keeps not rendering
So, I think which the disableTouchListener prop is working correctly 🤔

[code]

I tried to dispatch the touch event manually in the given reproduction and the behavior as the same

For reference, the code who I used is [here](https://gist.github.com/weslenng/915ad95e2660796d0572dd90c4a86512)

Note if I remove the disableTouchListener, the

[2020-04-26 22:12] oliviertassinari opened #20785 "[Slider] RTL keyboard handling issue"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Keyboard handling is different to a native slider.

## Expected Behavior 🤔

Keyboard handling should be identical to a native slider.

## Steps to Reproduce 🕹

https://codesandbox.io/

[2020-04-26 22:12] oliviertassinari commented on #20785
A possible fix:

[code]

[2020-04-26 22:16] oliviertassinari commented on #20776
@CrocoDillon Perfect, I would have expected this very solution to work :). I have been wondering for a long time if we shouldn't make `injectFirst` the default. It seems to be required way more often than the other way around.

[2020-04-26 22:22] oliviertassinari commented on #20245
@weslenng I think that we should reproduce the sequence of events that causes the problem, I suspect it's the focus event that makes the tooltip visible, but I'm not sure, need to console the triggered events.

[2020-04-26 22:40] tiotdev commented on #10068
Same issue here with next.js, would be great to have an up to data advanced example with minification

[2020-04-26 22:53] CrocoDillon commented on #20776
Yeah I agree, that that would probably make a more sensible default 😅

[2020-04-26 22:55] fillipvt opened #20787 "Add examples of interoperability with styled-jsx to the docs"
Hi!

Given that NextJS comes with `styled-jsx`  by default and that MUI already has a pretty great example showcasing how to use MUI with NextJS I think it would be natural to have such type of example.

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The thing I think would be most helpfu

[2020-04-26 22:58] eps1lon commented on #20785
In the past I argued against rlt behavior based on props but considering RTL languages I do think they have a place i.e. theming is used for the actual language but the prop is used for certain UI elements such as a progressbar.

The [material guidelines](https://material.io/design/usability/bidirectionality.html#localization) have some examples with different directions for slider-like elements.

[2020-04-26 23:07] oliviertassinari commented on #20787
Duplicate of #20776?

[2020-04-26 23:14] fillipvt commented on #20787
Hey @oliviertassinari thanks for chiming in!

I don't think it is a duplicate because the current issue discusses an addition to the docs. Perhaps in said example there will be the need to have `<StylesProvider injectFirst>` in order for it to work correctly. But as a whole #20776 would only be a part of the current issue.

What do you think?

[2020-04-27 00:24] gracektay opened #24174 "[DatePicker] Accessibility issue regarding heading"
![Kitty Cat fix](https://www.programmableweb.com/wp-content/cat-can-fix.jpg)

## Environment

| Tech                 | Version |
| -------------------- | ------- |
| @material-ui/pickers | 3.2.10  |
| material-ui          |  4.95   |
| TypeScript           |    n/a     |
| React                |  16.8.6 |
| Browser              | All     |
| Peer library         |moment 2.4.0|  |

## Steps to repr

[2020-04-27 00:55] benwiley4000 commented on #20402
@oliviertassinari that's great! Yes I think it's a good idea. Would you like to make the PR since you have the diff ready? Otherwise I can try to submit something in the next few days.

[2020-04-27 05:14] mswindu opened #20788 "[Autocomplete] Remove excess option from property forcePopupIcon"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Property `forcePopupIcon` has an option `auto` that is not needed. I suggest removing this option. And simplify condition:
[code]
to
[code]

## Motivation 🔦

I think that this change will simplify the code. It will become easier to understand

[2020-04-27 05:45] marcosvega91 commented on #19887
@oliviertassinari There is a test that now fails because of changing.
The test do the following on keyDown
[code]
Because of the user keydown function is on the top of keydown listener in useAutocomplete, defaultPrevented will never be true.

[2020-04-27 07:55] oliviertassinari commented on #20402
@benwiley4000 For context, select2 uses this approach (a massively popular select for jQuery), so I suspect it's a safe move. If you could open a pull request, get the credit for the initiative, that would be great.

[2020-04-27 08:01] #19649 closed

[2020-04-27 08:28] oliviertassinari commented on #20788
It would break the logic.

[2020-04-27 08:28] #20788 closed

[2020-04-27 08:31] mswindu commented on #20788
What logic breaks?
I did a codebase analysis and nothing should break.

[2020-04-27 09:34] hadasmaimon commented on #20782
@oliviertassinari the problem was:
when wrapping `renderTags` content with `div`, this causes `startAdornment.length` to equal 1 instead of number of tags (because the tags are contained within the parent `div`)
As a result, the `limit tag` does not appear, since `more` is not `>0` (the result is negative)

My solution was:
Wrap the tags only on `OnOpen`

Autocomplete code:
[code]

[2020-04-27 11:17] #19953 closed

[2020-04-27 14:22] #20611 closed

[2020-04-27 14:51] MateuszSadowski opened #20796 "Extra space in the label when setting MuiInputLabel: { required: false } props in global theme"
Our use case is to have the input field to be set as required, but there should be no asterisk next to the input label. The same issue was mentioned here #20705 and it works now when directly setting InputLabelProps={{ required: false }} on the component.

As I understood from the documentation, the same should be possible with setting default props with MuiInputLabel. However, it doesn't seem to

[2020-04-27 15:15] oliviertassinari commented on #20796
Duplicate of #20705

[2020-04-27 15:15] #20796 closed

[2020-04-27 15:25] MateuszSadowski commented on #20796
I don't believe this is a duplicate of #20705 since it is confusing that it works for InputLabelProps on the component and not MuiInputLabel in the theme. Unless, I'm mistaken and these are not the same 2 things?

[2020-04-27 15:30] bbigras opened #20797 "Can't build with yarn2"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I run `yarn start` I get:

[code]

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1. mkdir test
2. cd test
3. yarn set version berry
4. yarn dlx create-react-app my-app

[2020-04-27 15:42] oliviertassinari commented on #20797
@bbigras Please open the issue in JSS, It's an issue on their end. Also, I would be in favor of dropping the dependency on tiny-warning.

[2020-04-27 16:18] eps1lon commented on #20797
Requires the release of https://github.com/cssinjs/jss/pull/1315

[2020-04-27 16:43] sospedra commented on #16598
Hey @oliviertassinari @timneutkens just a random fella here that spent almost 1 hour looking how to implement this without using `getInitialProps`. And now I discovered that since it's on `_document` it doesn't break SSG.

Do you think we can put this in the [material-ui + next.js](https://material-ui.com/styles/advanced/#next-js) documentation?

[2020-04-27 16:49] eps1lon commented on #6955
#20781 was not intended to close this.

[2020-04-27 17:37] zsolt-dev opened #20800 "Select component with grouping overlays ListSubheader on to each other"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹

1. open https://codesandbox.io/s/material-demo-dr9qc?file=/demo.js
2. click on select
3. scrol down
4. ListSubheaders overlays on each other, so they are not readable, like in this

[2020-04-27 17:50] zsolt-dev commented on #20800
The solution seems to be to enclose each group in a div, like this:

[code]

So probably it would be better to just update the documentation, so it would include the divs...

This is the wrong/incomplete documentation/demo:
https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/selects/GroupedSelect.js

[2020-04-27 17:57] luminaxster opened #20802 "[Skeleton] zIndex occludes other elements"
I noticed this line:
https://github.com/mui-org/material-ui/blob/7bd0fd0b5051f154bdd4d0491708d84e6687e012/packages/material-ui-lab/src/Skeleton/Skeleton.js#L60
Makes the Skeleton animations to behave unexpectedly when content overlaps them, take for instance when they are part of a scrollable list with a sticky list item:
![image](https://user-images.githubusercontent.com/6577822/80403684-fd520a80

[2020-04-27 18:44] fullofcaffeine commented on #20604
Happens it wasn't really related to `material-ui` (or `mst-gql`). If anyone is curious, you may check my answer here: https://stackoverflow.com/questions/61277705/loading-state-second-ssr-rendering-pass-causing-a-client-side-rendering-glitch.

[2020-04-27 18:47] oliviertassinari commented on #20800
Duplicate of #20749 18200

[2020-04-27 18:47] #20800 closed

[2020-04-27 18:54] oliviertassinari commented on #20802
@luminaxster Thanks for raising, it seems that we can remove the index, do you want to work on a pull request? :)

[code]

[2020-04-27 18:58] oliviertassinari commented on #19429
@mbrookes I believe the issue was addressed in the latest version, could you confirm?

It behaves similarly to Facebook than further distinguishes the wave color from the overall background color. (in a light background -> darker, in a dark background -> lighter).

[2020-04-27 19:00] oliviertassinari commented on #20604
@fullofcaffeine Awesome :)

[2020-04-27 19:13] luminaxster commented on #20802
Thank you for the quick reply @oliviertassinari, sure thing. I'll take on the endeavor =)

[2020-04-27 19:19] mbrookes commented on #19429
Yep, LGTM.

[2020-04-27 19:19] #19429 closed

[2020-04-27 19:40] #20802 closed

[2020-04-27 19:51] orpheus commented on #13319
I'm facing a similar issue when switching between tabs. On change it triggers a redux action which changes a variable that is fed to a connected container component which renders the tabs. There's a lot going on in the connected component and I think that's what's causing the lag. Remove the action that fires onChange and the speed of tab switching is fine.

My case is too complex to easily reprod

[2020-04-27 19:59] emersonbottero commented on #19710
it is a feature requests

[2020-04-27 20:02] ankitasingh170190 opened #20804 "Table Pagination : Header and Rows shift with pagination click"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When we click on the Table Pagination the headers and rows element shift horizontally with page click.

## Expected Behavior 🤔

The table elements should not shift their positioning

[2020-04-27 20:19] oliviertassinari commented on #20804
@ankitasingh170190 Thanks for the report. What do you think of this diff? Do you want to submit a pull request? :)

[code]

[2020-04-27 20:21] scrozier commented on #19595
FWIW, I would favor (also) renaming the option, as you suggested, @oliviertassinari. It specifically does not do what it name implies. I have to rethink it every time I come back to it.

BTW, I love this component. :-)

[2020-04-27 20:21] ankitasingh170190 commented on #20804
I am trying to see if there is a way we can dynamically change the width incase we are not aware of the data we will be showing ?

[2020-04-27 20:22] oliviertassinari commented on #16598
@sospedra I'm not sure how we could have best answered your concern. Any specific diff suggestions?

[2020-04-27 20:23] oliviertassinari commented on #19595
@scrozier What name you would suggest?

[2020-04-27 20:31] oliviertassinari commented on #20804
@ankitasingh170190 Auto layout is likely something we will support in the upcoming DataGrid component @dtassone is working on.

[2020-04-27 20:36] sospedra commented on #16598
Sure, I'll just submit a PR ;)

[2020-04-27 20:40] scrozier commented on #19595
@oliviertassinari It's tricky, isn't it? I wonder if that means that there's an underlying architectural issue? You're really wanting to find out which option is selected, ergo `getOptionSelected`, but this particular prop does not do that, it's just a supporting player. `optionEqualValue` seems pretty good, if not exactly elegant. Other thoughts: `optionEquivalence`, `optionMatch`, `optionMatcher

[2020-04-27 20:44] KyruCabading commented on #16569
Hi @oliviertassinari, regarding @ghan 's use case. I actually came across the very exact issue.
Let me try explaining the issue in a different way.

Although the DialogTitle allows us to customize the Typography component used within DialogType through `disableTypography` (like change the rendered variant h6 to h3), the current API does not allow us to change all DialogTitle's Typography component

[2020-04-27 20:46] ankitasingh170190 commented on #20804
wow that is awesome. Cannot wait for the release. I will submit a PR for this issue. Thank you.

[2020-04-27 21:32] oliviertassinari commented on #19595
@scrozier Both options sound great.

[2020-04-27 21:55] #20480 closed

[2020-04-27 21:58] ankitasingh170190 commented on #20725
@oliviertassinari I have used pagination component with Table to achieve the same. Thank you.
![Screen Shot 2020-04-27 at 5 53 33 PM](https://user-images.githubusercontent.com/49923437/80424848-8aa65680-88b0-11ea-9b2e-1fc19bb03453.png)

[2020-04-27 22:08] anujsinghwd opened #20805 "Material-UI: A component is changing an uncontrolled Pagination to be controlled."
Material-UI: A component is changing an uncontrolled Pagination to be controlled. Elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled Pagination element for the lifetime of the component.

[2020-04-27 22:27] #20805 closed

[2020-04-27 22:33] scrozier commented on #19595
@oliviertassinari Should I open an issue for this?

[2020-04-27 23:08] oliviertassinari commented on #14073
I have found a new use case where `disableLastBorder` would have been valuable:

without
<img width="392" alt="Capture d’écran 2020-04-28 à 01 08 15" src="https://user-images.githubusercontent.com/3165635/80429585-c19a5d80-88ec-11ea-8655-c37d7bb30879.png">

with
<img width="365" alt="Capture d’écran 2020-04-28 à 01 07 39" src="https://user-images.githubusercontent.com/3165635/80429545-b21b1480

[2020-04-28 00:21] MrXyfir commented on #11985
Sorry to gravedig but did you ever solve this @allpwrfulroot?

[2020-04-28 01:17] weslenng commented on #20245
It looks like `mouseOver` event makes the tooltip visible 🤔
I don't know how to exactly handle this issue so, what do you think about this diff?

[code]

[2020-04-28 01:17] weslenng commented on #20245
@oliviertassinari It looks like `mouseOver` event makes the tooltip visible 🤔
I don't know how to exactly handle this issue so, what do you think about this diff?

[code]

[2020-04-28 02:15] rahulcyadav commented on #16181
How?

[2020-04-28 03:00] asciant opened #20808 "[Autocomplete] TypeError when passing inputProps to TextField in renderInput"
When applying `inputProps` to a TextField that is rendered by Autocomplete through `renderInput` the `inputRef` is null and that results in a TypeError being thrown.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

A TypeError is t

[2020-04-28 04:24] marcosvega91 commented on #14073
It's good to add this simple feature. In same cases I did it manually

[2020-04-28 05:15] tariknz commented on #8581
`shrink` doesn't help when using outline variant. The label has a line crossed through it.

[2020-04-28 06:02] sthenault opened #20811 "Multiple select hide selected chip display"
I recently updated to the latest and greatest material-ui (4.9.12). Since that I've a display issue with select inputs that use chips to display the selected values.

## Current Behavior 😯

The bottom of the chip, below the select "line", isn't displayed. Worse, chips that should be outside the original select size aren't displayed at all.

## Expected Behavior 🤔

The whole chip is displayed and t

[2020-04-28 06:14] efkan commented on #20707
duplicate issue https://github.com/mui-org/material-ui/issues/19245

[2020-04-28 06:46] mhienle opened #20812 "[TextField] Module parse failed: Unexpected token"
After updating to v4.9.12, I get the following error:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The above error occurs when I start webpack-dev-server. It disappears when I locally change the line

[code]

to

[code]

[2020-04-28 08:19] MargaretKrutikova commented on #20730
I really appreciate such a quick fix! However I have noticed that when there is an option selected and the list is open, you can't click on the input field to toggle open/close on it. Just received this comment from our testers. Any way this could be fixed?
Thanks! 🙂

[2020-04-28 08:34] aeroxy opened #20814 "Enable to set React Material-UI's Select Component's zIndex"
<https://material-ui.com/components/selects/>

[code]

I've tried this above and it is not working. Because the select component is inside a pop-up modal that has a custom zIndex of 1500, it would be hidden behind the modal (default zIndex is 1300).

[code]

This above doesn't work either...

[2020-04-28 09:09] oliviertassinari commented on #20812
@mhienle This is expected, our sources take advantage of the latest version of ECMAScript, by extension, it impacts the `/es` version: https://material-ui.com/guides/minimizing-bundle-size/#ecmascript. The syntax you have an issue with is:

- Nullish Coalescing Operator https://github.com/tc39/proposal-nullish-coalescing
- Optional Chaining Operator: https://github.com/tc39/proposal-optional-chain

[2020-04-28 09:20] #20814 closed

[2020-04-28 09:23] oliviertassinari commented on #20707
Duplicate of #19245

[2020-04-28 09:23] #20707 closed

[2020-04-28 09:23] oliviertassinari commented on #19245
A temporary workaround:

[code]

[2020-04-28 09:25] oliviertassinari commented on #20811
@sthenault Oh, great, it's a regression from #20780, we can revert and label the corresponding issue #20752 "won't fix", cc @esseswann.

[2020-04-28 09:38] #20808 closed

[2020-04-28 09:40] #20812 closed

[2020-04-28 09:40] asciant commented on #20808
Support? A documented prop throws a TypeError if you set it.....

[2020-04-28 09:42] oliviertassinari commented on #20730
@MargaretKrutikova I'm not sure we would want to address this in the core of the library, did you try to customize the behavior?

[2020-04-28 09:44] oliviertassinari commented on #19595
@scrozier Sure, if you want to submit a pull request directly, that will do it too :)

[2020-04-28 09:46] mhienle commented on #20812
@oliviertassinari If this is expected, could you point me to a workaround? This currently prevents my team from upgrading to v4.9.12

[2020-04-28 09:50] oliviertassinari commented on #20812
@mhienle The answer is in https://material-ui.com/guides/minimizing-bundle-size/#ecmascript, this is meant for advanced cases. Your question makes me believe you are not on the targeted audience for using the /es distribution.

[2020-04-28 09:53] eps1lon commented on #20812
The docs point to the latest spec. Stage 4 is not part of the spec (yet). The problem is that babel no longer offers the ability to transpile for a certain version of ES.

I'd say we fix it here and rewrite the section in v5 to match how babel works.

[2020-04-28 10:30] esseswann commented on #20811
It is still reproducible on https://material-ui.com/components/selects/ ? I don't seem to have it
I can try to fix it for this specific case

[2020-04-28 10:48] tykdn opened #20815 "[Autocomplete] Missing support for limitTags={0}"
In the  api document,'the maximum number of tags that will be visible when not focused. Set -1 to disable the limit'. But I set 0 also disable the limit.Dose the limitTags api support value of 0.

Thanks!

[2020-04-28 10:56] marcosvega91 commented on #20811
Maybe the solution that I post last time can cover all cases

`height: '100%'`

to select-menu

[2020-04-28 10:56] oliviertassinari commented on #20815
I don't think that it matters, I'm closing.

[2020-04-28 11:38] simetri8 commented on #13875
@malyzeli very nice! Thank you. Would you please put it in codesandbox?

[2020-04-28 12:03] jmc420 commented on #13576
I am being dumb but I don't understand this.

I raised this question on stackoverflow:

https://stackoverflow.com/questions/61458978/mui-expansion-panel-summary-expanded-override

And there was a reply here with another answer:

https://stackoverflow.com/questions/55516006/customizing-the-expansionpanel-in-material-ui-and-overwriting-the-styles/61479263#61479263

I don't understand this answer. if

[2020-04-28 13:43] Narutuffy commented on #14711
Hey guys just commenting to let you know that, I'm still facing this issue

[2020-04-28 13:50] dabretin commented on #20711
Hi !
I've just update material-ui and I have the same errors...

"@material-ui/core": "^4.9.12",
"@material-ui/icons": "^4.9.1",
"@material-ui/lab": "^4.0.0-alpha.51",
"@material-ui/styles": "^4.9.10",
"react": "^16.13.1",
"react-dom": "^16.13.1",

[2020-04-28 14:03] esseswann commented on #20811
@marcosvega91 The `height 100%` solution does not seem to fix the original problem with height inconsistency.
@oliviertassinari I checked your solution it seems to be working
![image](https://user-images.githubusercontent.com/6066417/80496510-f8668700-8971-11ea-9363-bba24c17b820.png)
![image](https://user-images.githubusercontent.com/6066417/80496556-06b4a300-8972-11ea-8f3f-1c40db82a4d3.png)

I co

[2020-04-28 14:10] dabretin commented on #20711
=> with a yarn cache cleaning all is correct ! :)
Sorry for not check this before...

Thx for ur great work !

[2020-04-28 14:23] qkdreyer opened #20818 "Simple Select Label Unfocused"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- Clicking on an InputLabel linked to a Simple Select is not focusing its Select
- Clicking on an InputLabel linked to a Native Select is focusing its Select

## Expected Behavior 🤔

[2020-04-28 14:25] qkdreyer commented on #20818
I think it worth mentioning even if the Simple Select doesn't get focus, linking it with its InputLabel allows screen reader to access it

[2020-04-28 14:32] qkdreyer commented on #20818
Issue is also reproductible on latest iOS Safari

[2020-04-28 14:35] jeromeSH26 commented on #13394
although I have put the drawer inside the forwardRef, I still have the issue.
And the weird part is that when adding this forwardRef, the transition disapeared.

[code]

![image](https://user-images.githubusercontent.com/51024915/80500242-3c578d00-896e-11ea-854b-01a6ede7b278.png)

[2020-04-28 14:41] mhienle commented on #20812
@oliviertassinari Thanks for your help.
We introduced the `/es` version like half a year ago, apparently to minimize bundle size, and never had a problem with that before. We also weren't aware that users are discouraged to use it. We will see if using the "normal" version resolves the issue.

[2020-04-28 14:43] oliviertassinari commented on #20812
We don't discourage it's usage, it's meant for advanced use cases.

[2020-04-28 14:46] oliviertassinari commented on #20812
@eps1lon should we reopen?

[2020-04-28 14:54] o-alexandrov opened #20819 "Color. Inconsistency with the official tool"
Thank you for the awesome library.
Let me describe the issue:
- the [color tool](https://material-ui.com/customization/color/#color-tool) generates different result than the [official tool](https://material.io/resources/color) that you also mention in the docs.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a dupli

[2020-04-28 15:30] codeskills-nl opened #20820 "Floating action button styling"
Current Behavior: on click at the button, in the left bottom piece of "MuiTouchRipple-root" appears (very light). Only the round variant.

Expected Behavior: Part of square shouldn't appear

Steps to Reproduce: just click the round fab-button: https://material-ui.com/components/floating-action-button/

Browser: Chrome Version 81.0.4044.122 (FireFox is ok)

[2020-04-28 15:34] keul opened #20821 "Focus on TextField is lost if variant is changed on the fly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If the `variant` property of a TextField is changed on the fly the focus on the field is lost

## Expected Behavior 🤔

Would be nice is the focus is kept.

## Steps to Reproduce 🕹

Go

[2020-04-28 15:56] joshwooding commented on #20820
I can't reproduce this on Windows 10 - Chrome 81.0.4044.129. What OS are you on?

Have you tried updating Chrome?

[2020-04-28 16:06] codeskills-nl commented on #20820
I am using MacOS v 10.15.3
Latest version has the same problem:

![fab](https://user-images.githubusercontent.com/17906337/80510384-ef2de800-897a-11ea-8729-e445463f2936.gif)

[2020-04-28 16:10] oliviertassinari commented on #20820
Makes me think of #5988.

[2020-04-28 16:11] hothands-schneider commented on #19245
@oliviertassinari That is a working fix for us! Thanks

[2020-04-28 16:36] scrozier commented on #19595
@oliviertassinari I shall give it a whirl....

[2020-04-28 16:53] oliviertassinari commented on #20821
@keul Thanks for the report, however, I don't think that we want to support this use case.

[2020-04-28 16:53] #20821 closed

[2020-04-28 16:55] oliviertassinari commented on #20820
I think that we can ignore the issue, it's an edge case. Let's wait for feedback.

[2020-04-28 16:55] #20820 closed

[2020-04-28 16:55] marcosvega91 commented on #20821
@oliviertassinari maybe something similar can work

[code]

[2020-04-28 17:11] oliviertassinari commented on #20821
@marcosvega91 Regarding your proposed fix, it makes me think of #14132,

[2020-04-28 17:15] marcosvega91 commented on #20821
I proposed a fix that if i think better has not sense. So I deleted It

[2020-04-28 17:22] Bdthomson opened #20824 "[Autocomplete] Adding the loading prop does nothing if freeSolo is true"
In the Asynchronous example of Autocomplete in the docs - https://material-ui.com/components/autocomplete/#asynchronous-requests, the loading prop triggers a "Loading..." disabled option to be displayed. When you take that same example and add `freeSolo`, as demonstrated here - https://stackblitz.com/edit/ca3vpr?file=demo.js, the loading option no longer shows up.

I found a similar issue describi

[2020-04-28 17:51] eps1lon commented on #20821
I think for uncontrolled components the state would be lost as well. It would definitely be nice to be able to switch variants but the amount of work required isn't justified compared to the gain. Generally you don't switch variants since you only have a single variant per form anyway.

[2020-04-28 18:01] joshwooding commented on #20820
Hmm, I see something similar but only when I zoom in: https://imgur.com/a/cjCJlZB. Mac 10.14

[2020-04-28 19:28] jozsi commented on #20797
I am getting a similar issue on v4.9.12 when `react` and `react-dom` are added as a peer dependency in my app (moving them to a normal dependency made the issue disappear):
[code]

[2020-04-28 19:44] #20811 closed

[2020-04-28 19:44] saschametz opened #20825 "Temporary drawer has missing transition if initial state of the drawer is "open""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a situation where the temporary drawer is open by default. The drawer closes instantly without a transition if you click on the backdrop area. But this only happens for the fir

[2020-04-28 19:45] #20825 closed

[2020-04-28 19:48] saschametz commented on #20825
Isn't this a bug?

[2020-04-28 19:54] mbrookes commented on #20819
@o-alexandrov Material-UI uses the 2014 color palettes: https://material.io/design/color/the-color-system.html#tools-for-picking-colors

The "official" tool also uses these palettes, but the light and dark shades are calculated from the selected color rather than using palette colors directly. Material-UI uses shades from the palette, which is in line with "Distinguish UI elements" in the above do

[2020-04-28 22:00] TSLChris commented on #17795
@oliviertassinari Just ran into this again with bg color and found my own issue, haha. Are there any docs or more info on how to use these elements properly?

[2020-04-28 22:30] MatheusLima7 opened #20827 "Is possible to change background color in Modal?"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.
`<Modal
                backgroundColor="#000000"
                open={true}
                onClose={() => {}}
                aria-labelledby="simple-modal-title"
                aria-describedby="simple-modal-description"

</Modal>`
## Summary 💡
I have

[2020-04-28 22:37] gitKendra commented on #2699
In case anyone comes across this looking for answer like I did, take a look at the recent TextField API documentation (https://material-ui.com/api/text-field/#textfield-api). It has an `inputRef` property to pass a ref to the input element and access the value like a normal `<input>`

[code]

[2020-04-28 22:45] joshwooding commented on #20824
What do you think @oliviertassinari?

As far as I can see the 'fix' would be:

[code]

But I haven't decided if this is the right thing to do :/

[2020-04-28 22:46] alecananian commented on #12290
For those sticking with react-markdown, you'll need to use the `renderers` property to override elements.  Example using the material-ui `Typography` component for paragraphs:

[code]

The full list of overridable renderers is available in the [Node types section of the documentation](https://github.com/rexxars/react-markdown#node-types).

[2020-04-28 22:47] #20827 closed

[2020-04-28 22:54] joshwooding commented on #20827
See [backdrop](https://material-ui.com/api/backdrop/#backdrop-api) otherwise you are passing in the body so should be able to style it.

Also:

[2020-04-28 23:16] oliviertassinari commented on #20824
@joshwooding looks good

[2020-04-28 23:21] esseswann opened #20828 "[Tabs] Inconsistent horizontal paddings"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When `variant="standard"` the tabs horizontal paddings are 12px which makes the overall looks inconsistent

![image](https://user-images.githubusercontent.com/6066417/80546143-9895cd80

[2020-04-28 23:34] LincMitch commented on #19387
@oliviertassinari Yes that's the one. Ideally, I want to wrap those components to integrate better into Framer X and allow the designer to have more flexibility - else it's hard to get it adopted as is.

[2020-04-28 23:36] LincMitch commented on #19387
@NawarA did you manage to export it?

[2020-04-29 00:00] mbrookes commented on #19387
@LincMitch What did you have in mind? Those components wrap the Material-UI ones.

[2020-04-29 00:11] LincMitch commented on #19387
@mblodorn I see. Well, I want to keep the package as a base and extend it, so would that be a wrap of a wrap? For instance, a simple example is how to add a colour prop to the Snackbar and attach that color coming from the theme component. Or another simple example is adding color to the icon component that is not a current color option.

[2020-04-29 00:16] jaironalves opened #20829 "[docs] Keep the same header between locales"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Intention

Regardless of how the translation affects the content, it should not affect the anchor (#) that keeps pointing to the content.

## Summary 💡

The request is that the translations keep the same header, facilitating the way the links are made a

[2020-04-29 00:33] mblodorn commented on #19387
hey there,

@LincMitch, I think you meant to tag @mbrookes

[2020-04-29 00:42] LincMitch commented on #19387
Thx @mblodorn

[2020-04-29 03:49] SkyHacks commented on #14530
I had to explicitly set the label on the `<Select>` in addition to using the `<InputLabel>`
[code]

[2020-04-29 07:08] tykdn commented on #20815
@oliviertassinari  Sorry,I did not express clearly.I means, does Autocomplete support  maximum  number of tag of 0.
In other word, when I set 0, it should display none tag.
Thanks!

[2020-04-29 07:40] rmar72 commented on #18514
@oliviertassinari  I'm in the same situation as @cdpautsch  where we are fetching our possible options from a back-end service. When we filter and remove the previous list of options the previous selected option persists behind the scenes, I say behind scenes because you won't see it as an option from the new list in the dropdown. So here you are looking at the new options and don't select any of

[2020-04-29 07:45] RmStorm commented on #7403
For people that come across this issue. The way to achieve this behaviour in the current version of autocomplete is to set the `autoHighlight` prop to `true` this will autoHighlight the first entry in the drop down list and allow you to select it using enter.

[2020-04-29 07:45] keul commented on #20821
@eps1lon @oliviertassinari  I updated the codesandox with an uncontrolled example and there's the same issue.
However I really don't find useful adding any complexity for supporting this edge case.
My report was only just in case it was hiding other issues. Changing the variant on the fly is useful.

Thanks all for your time!

[2020-04-29 08:34] oliviertassinari commented on #18514
@rmar72 Apply the same strategy as @cdpautsch to solve the issue, let the component hid the already selected options for you.

[2020-04-29 08:38] sandorvasas commented on #20088
Maybe I was too diplomatic when asking 'How to keep the null value?'.

This is a bug report. MenuItems should keep exactly whatever values are assigned to them. empty string != null

[2020-04-29 08:58] oliviertassinari commented on #20828
Related to #15324

[2020-04-29 09:12] oliviertassinari commented on #20829
@jaironalves Thanks, regarding the implementation, it would require to:

1. Change the logic of `parseMarkdown.js` to process the English version first.
2. In the `heading` handler, use the English hash for the non-English locales

Done

[2020-04-29 09:14] wende60 commented on #16316
I am using gatsby and material-ui/makeStyles (latest versions) and after the build i experience random issues. In those cases some classes are added like **class="jss4 jss9"**, but some of them just contain wrong styles and destroy the layout after build. While using the dev server everything is fine. Is there any way to do without this generated classes and kep the original class names instead?

[2020-04-29 09:15] esseswann commented on #20828
@oliviertassinari Can I fix it for 4.*?

[2020-04-29 09:18] newpost opened #20831 "bool operate error!click link view it."
[demo](https://mr9jg.csb.app/ )
 [souce code](https://codesandbox.io/s/mr9jg)

[2020-04-29 09:54] oliviertassinari commented on #20815
@tykdn Thanks for the clarification. What do you think of this fix? Do you want to submit a pull request? :)

[code]

[2020-04-29 10:47] joshwooding commented on #20824
@Bdthomson Would you like to work on it? 🙂

[2020-04-29 11:03] lasso-codie opened #20832 "[TreeView] Unmount crashes React"
If the `TreeView` component is unmounted by e.g. disabling it through a button (see example), it can crash React if a custom React component is used in the tree hierarchy with a property also named `nodeId`. The name `nodeId` clashes with the property `nodeId` of `TreeItem` and causes the bug. TreeView believes the custom component is also a `TreeItem` seemingly.

[![Edit elegant-galileo-4p4th](ht

[2020-04-29 11:08] Aerowiel opened #20834 "Material-ui Select inputProps issues with focused,disabled,..."
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I try to override the "disabled" property through the "inputProps" property of the "Select" of "Material-UI" I get this error message:

Material-UI: the key `focused` provided to

[2020-04-29 11:13] #20834 closed

[2020-04-29 11:27] gadzhimari opened #20836 "No index signature with a parameter of type 'string' was found on type 'Record'"
I have dynamic class property which apply depends on prop value. And the problem is compiler throw exception:
[code]

In material docs in typescript section nothing says about this use cases. Please tell me how can I solve this kind of error.

## Example
[code]

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.9.11  |
| React       |  16.9.34       |
|

[2020-04-29 11:50] joshwooding commented on #20832
This is a known limitation that I'm looking to remove. Immediate children need to be TreeItems or have a nodeId prop that is the same value as the nested TreeItem,

[2020-04-29 12:17] Aerowiel commented on #20834
Isn't it a bug ? Why did you close it without answering ?

[2020-04-29 12:40] eps1lon commented on #20836
You need to tell typescript what type `colorName` is. It can be any `string` which makes `classes[colorName]` potentially `undefined`.

[2020-04-29 12:40] #20836 closed

[2020-04-29 12:53] tykdn commented on #20815
@oliviertassinari Yes,I am glad to submit a pull request.

[2020-04-29 12:57] karthikjagadeeswaran commented on #10251
[code]
Actually i am using the datetime picker in formik i want the output format as `yyyy-MM-dd HH:mm:ss` but it is coming like `Wed Apr 22 2020 00:00:00 GMT+0530 (India Standard Time)` and also it doesn't support UTC time.can you anyone help?

[2020-04-29 13:09] sibelius commented on #19248
@jlramosr did you figure it out how to solve this?

[2020-04-29 13:51] jlramosr commented on #19248
@sibelius no yet. Nobody provides me a correct solution :(

[2020-04-29 14:13] eps1lon commented on #20829
Note that using the id from another translation can break if the translations aren't synced. It's not ideal for the master deploy but manageable. We just need to make sure that we never deploy outdated translations to `material-ui.com`.

[2020-04-29 14:20] oliviertassinari commented on #20829
@eps1lon Great point. Depending on the level of quality we want to provide on the translations, we could either fail or fallback to the translated version. Maybe the latter?

[2020-04-29 14:22] sibelius commented on #19248
I'm following your code here https://github.com/jlramosr/jose-react-form/blob/39ff68de420b8310579eada4980c04f40772c05f/src/Form/FormElements/Query.jsx#L84

not sure if you have a newer version

this codesandbox (https://codesandbox.io/s/material-demo-0fbyb?file=/demo.js) implements it using `useAutocomplete` hook, not sure if using `Autocomplete` component has everything to support this

My proble

[2020-04-29 14:31] eps1lon commented on #20829
That is hardly a useful guarantee. When is "eventually"?

[2020-04-29 14:36] oliviertassinari commented on #20829
@eps1lon The "when" depends on the frequency we merge the changes into the repository. I think that it can be automated. Right now, it's every time we manually do it.

[2020-04-29 14:38] saschametz commented on #20825
Could you reopen this please? This is a bug in the current version, not a support request. @oliviertassinari

[2020-04-29 14:41] karthikjagadeeswaran opened #20837 "DateTime Picker Format"
## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | above V4  |
| React       |    16     |

[code]
Actually i am using the datetime picker in formik i want the output format as `yyyy-MM-dd HH:mm:ss` but it is coming like `Wed Apr 22 2020 00:00:00 GMT+0530 (India Standard Time)` and also it doesn't support UTC time.can you anyone help?

[2020-04-29 14:44] eps1lon commented on #20829
That's what I was saying: It's not as important if they're out-of-sync on `master`. But they need to be synced before we deploy `material-ui.com` which happens on release.

[2020-04-29 14:51] mohammed-shakeel-jdas commented on #17440
Hi @oliviertassinari @eps1lon , Im facing a similar issue when i just import the pagination component
Could you help me regading this.
Code:
import * as React from "react";
import { Box, Typography, Link } from "@material-ui/core";
import { LightTheme, LuiBackground, LuiCardComponent, Tokens } from "..";
import {
  ThemeProvider,
  withStyles,
  createStyles,
  makeStyles,
  Theme
} from "@materia

[2020-04-29 14:54] mohammed-shakeel-jdas opened #20838 "[Pagination]: Error: Material-UI: unsupported `` color."
Hi @oliviertassinari @eps1lon , Im facing a similar issue when i just import the pagination component
Could you help me regading this.
Code:
import * as React from "react";
import { Box, Typography, Link } from "@material-ui/core";
import { LightTheme, LuiBackground, LuiCardComponent, Tokens } from "..";
import {
ThemeProvider,
withStyles,
createStyles,
makeStyles,
Theme
} from "@material-ui/core/

[2020-04-29 15:05] #20838 closed

[2020-04-29 15:16] Morphexe opened #20839 "Slider doesnt work when using css:Zoom"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The Slider components does not work correctly when inside a element using the Zoom  CSS Property, it seems the mouse clicks are offseted depending on the zoom amount.

## Expected Beha

[2020-04-29 15:18] oliviertassinari commented on #20839
@Morphexe I can't reproduce, can you with different environments?

[2020-04-29 15:25] Morphexe commented on #20839
Hi, I can reproduce it on latest chrome on your documentation web site.
[https://i.imgur.com/r2XARCh.gifv](url)

Seems my recording software recorded the mouse in the wrong coordinates, hopefully it shows what I mean.

[2020-04-29 15:29] #20839 closed

[2020-04-29 15:31] oliviertassinari commented on #20839
@Morphexe Something is likely wrong in your env. I can't reproduce on Firefox, Chrome, Safari, macOS. Let's wait to get confirming results.

[2020-04-29 15:32] Morphexe commented on #20839
I dont think Firefox supports the  CSS Zoom property, at least it doesnt work on my firefox version, which should be latest. I can replicated it 3 different machines.

[2020-04-29 16:01] hadasmaimon commented on #11069
@oliviertassinari this is a great alternative,
But can the placeholder option be grayed out, instead of being black?

select component with placeholder option:
![image](https://user-images.githubusercontent.com/40765442/80618090-8ebaab80-8a4b-11ea-9ee9-d59573e0525d.png)

textField placeholder (inside an autocomplete)
![image](https://user-images.githubusercontent.com/40765442/80617841-44d1c580-8a4

[2020-04-29 16:11] oliviertassinari commented on #20839
@Morphexe Ah, right, sorry for the confusion, let's not support this css prop.

[2020-04-29 16:21] kevincastejon commented on #18351
This issue is still there is still annoying... can we re-open it?

[2020-04-29 16:22] #20245 closed

[2020-04-29 16:27] oliviertassinari commented on #18351
@kevincastejon Adding `flex-grow:1` do the component would likely break developers expectation.

[2020-04-29 16:28] #18351 closed

[2020-04-29 17:20] Precigus opened #20840 "Autocomplete component "required" attribute does not add an asterisk (*) to the TextField"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When using Autocomplete component with React, if I add a _required_ attribute to it, I would expect the label to have an asterisk (*).
Currently if I want to have an asterisk in the label, I have to manually add it to the label string, as add

[2020-04-29 17:23] #20840 closed

[2020-04-29 17:23] oliviertassinari commented on #20840
It seems to work fine

[code]

[2020-04-29 17:24] oliviertassinari commented on #20832
Should we add a test case for this one? I would have expected it to be already covered when cleaning the test cases, surprised.

[2020-04-29 18:07] hbole opened #20842 "Radio Button & Checkbox Not Being RenderedProperly"
While using radio button and check box in next js these buttons are not rendered properly.
I am seeing input checkbox & input radio button separated from the icons. Don't know what the issue is.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current

[2020-04-29 18:16] Morphexe commented on #20839
Sadly scale doesnt work the same way as zoom does, that said I will try and see if I find what is causing it but I am pretty sure its a mouse position issue on the event, I will see if I can debug and find the exact cause.

[2020-04-29 18:44] amitkumarchauhan1987 commented on #16862
My Question has nothing to do with hook realted issue but in fact its related to sharing theme object...My component library is not picking up the theme provided from consumer App...Any help would be appreciated

[2020-04-29 18:56] #20842 closed

[2020-04-29 18:56] oliviertassinari commented on #20842
There is an issue with the style configuration/usage

[2020-04-29 18:58] oliviertassinari commented on #20839
Awesome, if you can have find a simple solution, I think that we will consider it :). What's your use case for using this CSS property?

[2020-04-29 19:15] Morphexe commented on #20839
We are currently using as zoom for certains micro components on a frontend, essentially mimicking the browser zoom, but for different slices of ui.

[2020-04-29 19:41] kellyctaylor opened #20844 "[TextField] Overlapping label when using type="number" with an invalid number"
TextField label overlaps invalid text entered into an number field.
![overlapping-label](https://user-images.githubusercontent.com/41919678/80638228-1db8cb00-8a2e-11ea-9770-81d197833d97.gif)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Beh

[2020-04-29 19:46] oliviertassinari commented on #20844
Duplicate of #8155

[2020-04-29 19:46] #20844 closed

[2020-04-29 20:09] rmar72 commented on #18514
@oliviertassinari appreciate the reply. How is this not an issue with the google maps api example? You are loading new options, getting rid of the previous selected option and these are updating the options given prop and selected value.

[2020-04-29 20:15] oliviertassinari commented on #18514
@rmar72 Thanks for raising about the warning that http://material-ui.com/components/autocomplete#google-maps-place has. Could you open a new issue? We need to s

[2020-04-29 20:44] rmar72 commented on #18514
@oliviertassinari no there's a confusion here. The google maps example works fine. What I'm asking is how is this issue Not an issue with this example given that you update prop options and selected values dynamically and from a backend service? I thought you couldn't do that.

[2020-04-29 21:37] squirly opened #20846 "Missing dependency in `@material-ui/labs`"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Typescript fails to build with the following error:
[code]

## Expected Behavior 🤔

Typescript builds successfully.

## Steps to Reproduce 🕹

Steps:

1. In a project that has material

[2020-04-29 22:58] esseswann opened #20849 "[TextField] Letter-spacing consistency"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Default Typography letter-spacing and default TextField letter-spacing are inconsistent

It is not explicitly mentioned in the spec but you can see TextField typography is practically `body1` style with cor

[2020-04-30 00:40] KamalAman opened #20852 "[Autocomplete] Selecting & Focusing Options"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Typing into the auto-complete and pressing enter should select something, such as the suggested option. (the first options if there is only 1 option, or the suggested option if there are more)
Secondly, there is no way to highlight an option

[2020-04-30 02:54] o-alexandrov commented on #20819
@mbrookes thank you for your reply, the depth of your knowledge on this topic is truly amazing.

Please share your opinion whether the material-ui and official tools should produce **the same light and dark shades**.
- personally, before knowing there's a difference, it'd have been hard for me to guess there's such case

[2020-04-30 06:08] richardanewman commented on #13898
Had the same issue, so want to share my solution. Big thanks to @PsyGik for sharing his solution, which I borrowed to come up with this one. Please let me know if you see any room for improvement. I just started working with React, so I could definitely be missing something. But so far, so good. It's working.

`//Pushes label to right to clear start adornment
const PriceField = withStyles({
	root:

[2020-04-30 06:18] mohammed-shakeel-jdas commented on #20838
@oliviertassinari , Could you please let me know why is that the color being picked ''.
Thank you

[2020-04-30 06:32] richardanewman commented on #13898
Had the same issue, so want to share my solution. Big thanks to @PsyGik for sharing his solution, which I borrowed to come up with this one. Please let me know if you see any room for improvement. I just started working with React, so I could definitely be missing something. But so far, so good. It's working. Apologies about the formatting. Github isn't liking tabs right now.

[code]

[2020-04-30 06:40] mohammed-shakeel-jdas commented on #18005
Hi @oliviertassinari , @AugustoPedraza , @eps1lon
I ran into same issue, When i try importing the pagination component.
Below is the simple code this:
import * as React from "react";
import { Box, Typography, Link } from "@material-ui/core";
import {
    ThemeProvider,
    withStyles,
    createStyles,
    makeStyles,
    Theme
} from "@material-ui/core/styles";
import Pagination from '@material-u

[2020-04-30 07:58] tanmaykaushik451 commented on #13020
Thanks a lot brother..Was stuck in this thing for two days ..couldnt even have thought of this...I tried it and it worked like a charm

[2020-04-30 08:25] raihan71 commented on #15917
thanks, you save the day

[2020-04-30 08:27] matthlavacka commented on #19692
I'm able to change it by doing:

[code]

[2020-04-30 10:33] esseswann commented on #20852
The threshold for auto focus should probably be configurable because in certain cases one would not want motivate user to use doubtful matches

[2020-04-30 10:37] akshaykatariyaa commented on #19423
defaultValue = {props.type === "Edit" ? props.data : null}

                            onChange={(event, value) =>
                              AssignSuppAddress(value)
                            }

i am getting this error :
a component is changing the default value state of an uncontrolled Autocomplete after being initialized. To suppress this warning opt to use a controlled Autocomplete.

[2020-04-30 13:25] KamalAman commented on #20852
@esseswann, What i am thinking is that autocomplete does not know anything about the threshold. The only api change I would make is a new prop called `highlightedValue` and then any concept of a threshold would live in the developers component.

[2020-04-30 14:06] esseswann commented on #20852
Sounds reasonable though it should probably be something about `focused`. Also there should be a discussion on weather this prop should allow focusing on only the first item

[2020-04-30 16:12] ryancogswell opened #20855 "[CssBaseline] Previous stylesheet is not removed when theme changes -- StrictMode problem"
When using `CssBaseline`, if you toggle between two themes, when you change back to the initial theme the styles are not changed. After the first change of the theme, both CssBaseline stylesheets are in the DOM and the second one wins, but when changing back to the initial theme the stylesheet already exists so it is not recreated, andsince the second one is not removed and is still later in the `

[2020-04-30 17:00] joshwooding commented on #20855
I think this is the same as #20708?

[2020-04-30 17:02] joshwooding commented on #20832
I

[2020-04-30 17:04] ryancogswell commented on #20855
Definitely looks related. If they have the same root cause, this issue seems like a simpler reproduction of the problem than the sandbox in #20708.

[2020-04-30 17:10] mbrookes commented on #20819
I think the question is perhaps better phrased as "should the 'official' tool follow the guidelines." to which I'd say yes.

[2020-04-30 18:57] o-alexandrov commented on #20819
@mbrookes would you agree, there is a vast number of users, who add colors not based on the material palette?

Doesn’t it make more sense to define light and dark shades based on the selected main color?

I might be wrong on the following statement and I will find appropriate people from the Material Design team to ping here:
- I think with a high degree of confidence the official tool doesn’t bre

[2020-04-30 19:33] steverecio opened #20856 "You can click through a Popper to check a checkbox"
Paper component (elevation=1) accepts clicks from UI elements underneath. I have the following code:

[code]

Any elements (buttons, checkboxes, etc) that sit below the popper / paper component above, accept click events. The component should block any click events from flowing to components underneath it.

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.9.9  |
| React

[2020-04-30 20:43] p00000001 commented on #18488
I am still experiencing this issue on the latest build, and wonder if it is perhaps a misunderstanding of desired behaviour around the Home/End keys.

At present, when the popper is closed, the user can perform common keyboard shortcuts on the text input:

- Home key to go to the start of the text input
- End key to go to the end of the text input
- Shift + Home/End key to select the contents of t

[2020-04-30 21:36] eps1lon commented on #20856
Could you share a codesandbox and describe the expected and current behavior in more detail? It's not clear why a clickawaylistener should prevent click events.

[2020-04-30 21:59] steverecio commented on #20856
@eps1lon https://codesandbox.io/s/material-demo-mu35u?file=/demo.js

Notice how you can still toggle the checkbox underneath the paper when the popper is open

[2020-04-30 23:06] YoussefEgla opened #20858 "Deprecation warning - Paper component"
I get this warning when using paper component in strict mode with typescript.

`findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://fb.me/react-strict-mode-find-node`

**call stack**
- in div (created by ForwardRef(Pape

[2020-04-30 23:40] NawarA commented on #19387
@LincMitch nah, ive been busy coding, instead of exporting. I'll get to it next week. Is that okay with you, in terms of timing?

[2020-05-01 00:15] LincMitch commented on #19387
Of course, no rush. Just appreciate the offer.

[2020-05-01 00:43] LincMitch opened #20859 "Extend Framer X support"
In the store, you are selling Material-UI for Sketch:
https://material-ui.com/store/items/sketch-react/

But unfortunately, the designers we have are shifting to Figma. So any plans to sell Material-UI for Figma?

I know we have Material-UI for Framer X, but the designers find it too limiting, so I was thinking the workflow could be:

1. Material-UI for Figma
2. Figma to Framer importer
3. In Fram

[2020-05-01 01:21] LincMitch commented on #20859
Actually, just found this https://material.5ly.co/ pretty cool.

[2020-05-01 02:24] o-alexandrov commented on #20819
@material-components, hello, could you please step in and share your thoughts on this inconsistency and your suggestions to resolve it?

I apologize, I don’t know your most appropriate team member to ask, so I’m pinging entire team.

[2020-05-01 02:28] luminaxster commented on #13394
@oliviertassinari unstable_createMuiStrictModeTheme is so cool! Those warnings were driving me nuts. May I update the [theming docs?](https://material-ui.com/customization/theming/#createmuitheme-options-args-theme). A quick paragraph mentioning strict mode theming is available but unstable.

[2020-05-01 02:43] raghav0622 opened #20861 "Extracting Styles to a separate css file for nextjs or any other server rendered app in its public dir in production mode"
I would like to extract component styles in separate css file for caching on cdn and removing them from head of every page where there are so many repeated styles for my nextjs app.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2020-05-01 03:55] burtonator opened #20862 "Tabs 'value' typescript definition should be number | false"
There's no clear way via typescript to define <Tabs> with no active selection.  The type is 'any'

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Well the typescript definition is wrong.  Just need to fix it.

[2020-05-01 05:33] sandeepgahlawat opened #20863 "Unable to set hover color using classes Api"
import React from "react";
import { makeStyles } from "@material-ui/core/styles";
import Button from "@material-ui/core/Button";

const useStyles = makeStyles({
  root: {
    background: (props) => props.background,
    borderRadius: (props) => props.borderRadius,
    border: (props) => props.border,
    color: (props) => props.textColor,
    width: (props) => props.btnWidth,
    height: (props) =

[2020-05-01 06:16] #20863 closed

[2020-05-01 06:57] JasonHK opened #20864 "Incorrect TypeScript definition of `createStyles()`"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

According to the [documentation](https://material-ui.com/styles/api/#createstyles-styles-styles), `createStyles()` should accept either a function or an object, but the TypeScript [de

[2020-05-01 07:37] eps1lon commented on #20864
We don't accept a function without an argument. The function signature is only useful if you're using the theme:

[code]

[2020-05-01 07:37] #20864 closed

[2020-05-01 08:24] JasonHK commented on #20864
@eps1lon No, TypeScript **STILL** throws an error after adding the argument. TypeScript doesn't care if the arguments were omitted or not.

Don't you see the description of the issue?

[2020-05-01 09:42] JasonHK commented on #20864
@eps1lon Is this what you called "working properly"?

![2020-05-01_00001](https://user-images.githubusercontent.com/4410086/80796837-d28bed00-8bd2-11ea-8e0e-7afdb6b62f5a.png)

[2020-05-01 09:57] eps1lon commented on #20864
Right, the API docs are wrong. See our [TypeScript guide](https://material-ui.com/guides/typescript/#augmenting-your-props-using-withstyles) for the correct usage of `createStyles`

[2020-05-01 14:21] dan-valentine commented on #17402
@sidonaldson did you ever create that new demo with the react-router-dom NavLink component breaking the clickawaylistener?

[2020-05-01 14:27] JasonHK commented on #20292
@oliviertassinari Sorry, but module augmentation is not possible since `type` keyword is not overridable.

[code]

The above module augmentation will throw the following error:

[code]

[2020-05-01 14:51] Floriferous opened #20867 "[Select] Variable height option does not render properly"
In v4.9.12, when you use Select with variable height options (larger height for example), it doesn't render properly:

[code]

Here's a simple reproduction: https://codesandbox.io/s/still-mountain-gfru2

It works on v4.9.11.

Linked to #20822

[2020-05-01 15:31] burtonator opened #20868 "tree view should use maps not arrays for selected / expanded"
Right now selected/expanded are arrays and not maps/dictionaries.

Arrays are linear time lookup.  Maps are constant time... O(N) vs O(1)...

For smaller maps it won't matter but for bigger maps performance will be impacted.

[2020-05-01 16:47] Uneetpatel7 commented on #20804
Can I work on this?

[2020-05-01 17:00] marcosvega91 commented on #20804
@ankitasingh170190 are you working on this ?

[2020-05-01 17:22] oliviertassinari commented on #20730
Awesome. Let us know if there is something preventing to implement the behavior. My main concern against moving this logic in the core is about what happen with text selection? I have recently learned about `getSelection().isCollapsed`, so maybe it could be something to bring into the core after all but to be careful.

[2020-05-01 19:09] mbrookes commented on #20819
No doubt, and the more recent spec (what we loosely refer to as "v2") reflects that:

"All of these colors can be customized for your app."
"The Material palette generator can be used to generate a palette for any color you input."

For colors that fall outside of a pre-defined palette, then yes. And that's exactly what Material-UI does. If you define an arbitrary main color, then light and dark a

[2020-05-01 19:20] mbrookes commented on #20859
@LincMitch Yes, Figma is in the works – keep an eye out! When it lands, contact us and we'll find a way to give you credit for your Sketch purchase towards buying the Figma assets for each of your designers.

I'm curious though - what does importing Figma components and replacing them with Framer ones give you that working with the Framer components directly doesn't?

[2020-05-01 19:22] pawlarius commented on #18586
Hi, I am sorry to continue commenting on this closed PR, but I just tried the disableReactTree props, while it fixed to don't trigger onClickAway from ClickAwayListener, it still has some issues when using Select inside a ClickAwayListener wrapped by Popper.

I have made the demo here https://codesandbox.io/s/material-demo-89jyg?file=/demo.js.
In the demo, the Select are using props `MenuProps={{d

[2020-05-01 20:52] ravi586941 opened #20871 "Multi select with chips has styling issue in material ui example"
I'm trying to add chips in multi select component, I already did using material ui sample example, so came to material ui page to check it and I see that it has styling issue. Here: https://material-ui.com/components/selects/

- [x ] The issue is present in the latest release.
- [ x
<img width="931" alt="Screen Shot 2020-05-01 at 3 52 01 PM" src="https://user-images.githubusercontent.com/11303070/

[2020-05-01 20:58] ravi586941 commented on #20871
If I select multiple chips, all I see is only top 2 components, I don't see all selected chips. As far as I remember last time when I checked the linked, it was working fine but not now.

Here I selected all chips but I could see only 2. I saw issue in my deployed project, I checked in local it was fine then I deleted node_modules and did re installed then I saw this issue in my local too.

<img w

[2020-05-01 21:41] sparlos opened #20872 "Slider's label is not Horizontally Centred to Thumb in Internet Explorer 11"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`valueLabel` that is attached to `MuiSlider` does not centre to the slider's thumb in IE 11. Issue does not appear in any other browser.

## Expected Behavior 🤔

Slider's value label

[2020-05-01 21:46] sparlos commented on #20872
I found a workaround by putting this into my custom theme:
[code]
I noticed that the [custom implementations of the sliders](https://material-ui.com/components/slider/#customized-sliders) on the Slider demo page were not broken, and they used the left property for styling. I don't know if that provides any insight into what the issue is, but I figured I'd say it anyways!

[2020-05-02 00:06] LincMitch commented on #20859
@mbrookes Good to hear and thanks for the kind offer of credit.

[2020-05-02 00:14] LincMitch commented on #20859
To answer your question "I'm curious though - what does importing Figma components and replacing them with Framer ones give you that working with the Framer components directly doesn't?"

1. I wanted to present the components in the same format/layout as the SketchApp and Figma renderings so that designers see something similar and aren't intimidated.
2. Needed to learn how Framer can import Figma

[2020-05-02 00:52] ankitasingh170190 commented on #20804
yup.

[2020-05-02 03:11] ankitasingh170190 commented on #20862
@oliviertassinari will this change work for the above issue. Thank you.

--- a/docs/src/pages/components/tabs/SimpleTabs.js
+++ b/docs/src/pages/components/tabs/SimpleTabs.js
@@ -29,8 +29,8 @@ function TabPanel(props) {

 TabPanel.propTypes = {
   children: PropTypes.node,
-  index: PropTypes.any.isRequired,
-  value: PropTypes.any.isRequired,
+  index: PropTypes.number.isRequired,
+  value: PropT

[2020-05-02 03:48] SankaD commented on #17042
try adding component="div" to Typography.

[2020-05-02 04:48] CoericK commented on #17530
+1 Im also facing the same issue, @wysird, I love this library, but for instance, I have a simple UI where i want to display a simple button but using theme colors:
[code]
To look like this:
![Screen Shot 2020-05-01 at 23 36 39](https://user-images.githubusercontent.com/897586/80855197-b739d580-8c04-11ea-8938-72de003c1f4a.png)

In order to it would be nice to have something like :

[code]
But inst

[2020-05-02 04:49] CoericK commented on #17530
@mbrookes how did you workaround this?

[2020-05-02 06:55] freewind commented on #20700
I have a use case for text-selection in expansion panel summary: I have a system which has many reports, and I use expansion panels to show them. The summary to show the report name, and details panel show the report details. User often need to copy the long report name to other people or to some documents, but they can't copy it.

Now I can enable it by adding the style:

[code]

It's working, bu

[2020-05-02 07:54] marcosvega91 commented on #20871
The problem is solved here https://github.com/mui-org/material-ui/pull/20822

[2020-05-02 09:28] esseswann commented on #20867
Copied my findings from #20822
Notice that the `height` in `MuiInputBase-input` is removed

![image](https://user-images.githubusercontent.com/6066417/80860436-3e706300-8c70-11ea-8ced-8a7adca7968d.png)

[2020-05-02 09:52] o-alexandrov commented on #20819
@mbrookes thank you, all your points are clear and I agree with you completely.

Since:
- material-ui's team is willing to consider to match the *official* color tool:

@material-components, could you point us at the exposed color tool's API we could connect to that here in material-ui's code, so there is a single source of truth to maintain?
- or, if the color API is not exposed, could you please

[2020-05-02 10:53] esseswann commented on #20867
@Floriferous are you planning on submitting a pull request? If no I think I can fix this :)

[2020-05-02 11:11] Floriferous commented on #20867
@esseswann Sure, go ahead :)

[2020-05-02 12:15] Belisarith commented on #20576
**Version of Material UI: ^4.8.2"**

If you look into the examples for lists on the homepage, you see the following in the checkbox example [(List examples)](https://material-ui.com/components/lists/#lists):

`<ListItem key={value} role={undefined} dense button onClick={handleToggle(value)}>`
This strikes me as odd. I would have expected something like:

`<ListItem key={value} role={undefined} den

[2020-05-02 12:39] wysird commented on #17530
@CoericK so according to @mbrookes you're supposed to do something like this:

[code]

[2020-05-02 13:31] esseswann commented on #20867
It does not seem to reproduce in the latest master. I think it's actually fixed in that pull request because it is resetting the height to auto, so probably you can close this after 4.9.13 is released

[2020-05-02 14:56] joshwooding commented on #20871
@ravi586941 As @marcosvega91 said, this will be fixed in v4.9.13 - https://material-ui.netlify.app/components/selects/

[2020-05-02 14:57] joshwooding commented on #20871
Duplicate of #20811

[2020-05-02 14:57] #20871 closed

[2020-05-02 15:07] antonlashan commented on #13394
May be disable `StrictMode`

replace
[code]

to

[code]

https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects

[2020-05-02 15:19] joshwooding commented on #20872
Ah the fun we all experience with IE11 😭

[2020-05-02 15:27] #20804 closed

[2020-05-02 15:32] #20785 closed

[2020-05-02 15:37] #20815 closed

[2020-05-02 16:56] esseswann commented on #20868
This line shows that there is indeed an array look up for finding if the item is expanded
https://github.com/mui-org/material-ui/blob/e04b4634f4b72f564c4e7532c1c91c15ab4fd5eb/packages/material-ui-lab/src/TreeView/TreeView.js#L39

But firstly Arrays in JavaScript are known to have faster lookup time when they have a small length and secondly both in terms of performance and proper type usage you sh

[2020-05-02 17:46] vince7488 opened #20878 "All examples are not working in CodeSandBox"
All examples are not working in CodeSandBox
`Property 'children' is missing in type '{}' but required in type 'Props'.ts(2741)
demo.tsx(20, 3): 'children' is declared here.`

Issue located at: https://codesandbox.io/s/c503m?file=/demo.tsx
from: https://material-ui.com/components/app-bar/

- [X] The issue is present in the latest release.

[2020-05-02 17:59] marcosvega91 commented on #20872
Justify content Is not working well

[2020-05-02 18:33] eps1lon commented on #20868
An array is easier to handle for the basic use case. IMO `<TreeView expanded={[1, 2]} />` is easier to parse than `<TreeView expanded={{1: true, 2: true}} />`. We could switch to other data structures internally but this adds the cost of transforming these data types.

In the end it boils down to: Are there real-world use cases where dictionaries make a noticeable difference?

[2020-05-02 19:57] iDVB commented on #17775
@afuller611-animas Did a workaround end up being created for this?
We have the same issue as our use case is also similar and is to replicate GitHubs branch creator menu.
![image](https://user-images.githubusercontent.com/189506/80890742-45599e80-8c8d-11ea-96e4-a4ab36a2d4bc.png)

There is a menu with items and an input at the top. When you type into the input the items are replaced with a single i

[2020-05-02 21:01] #20846 closed

[2020-05-02 21:10] sandro768 commented on #13926
I've got the same issue. in material UI ^4.9.12 version
Duplicate of #13926 #

[2020-05-02 22:01] oliviertassinari commented on #20852
@KamalAman So, you are supporting the position of a `autoHighlight` value to `true` by default, for the combo box cases.

[2020-05-02 22:02] eps1lon commented on #20862
In v5 this will become `unknown`.

In any case: `any` accepts `false`. Could you include some example code that illustrates the issue you're having?

[2020-05-02 22:13] oliviertassinari commented on #20852
Yeah, ok, looking at more implementations, UI libraries & final products, this sounds like a sensible default. So we can 1. turn `autoHighlight = false` into `autoHighlight = !props.freeSolo` and 2. account for the change in https://material-ui.com/components/autocomplete/#creatable. What do you guys think?

[2020-05-02 22:36] oliviertassinari commented on #17775
@iDVB The closest we have to this use case is: https://material-ui.com/components/autocomplete/#customized-autocomplete. You should be able to make it match your use case.

[2020-05-02 22:50] oliviertassinari commented on #20868
Here is a quick and dirty benchmark, assuming somebody tries to render 100,000 items:

[code]

array: 0.3330078125ms
object: 0.001953125ms

It looks like that if we hit a performance issue, we can handle the concern internally, 20 items are enough to convert the data structure to an object and observe an ROI > 1.

---

This makes me think, virtualization support could be pretty neat!

[2020-05-02 22:59] #20878 closed

[2020-05-02 22:59] oliviertassinari commented on #20878
@vince7488 The linked codesansbox seems to work as expected. I'm going to assume it's a support request.

[2020-05-03 04:08] ankitasingh170190 commented on #20725
@hurricane987 can I work on this ? Thank you.

[2020-05-03 06:08] Uneetpatel7 commented on #20727
I would love to submit a PR for this issue

[2020-05-03 08:22] oliviertassinari commented on #20727
@Uneetpatel7 Feel free to :)

[2020-05-03 08:27] eps1lon commented on #20868
1. Objects are likely the worst choice here. Set and Map should have better runtime. Adding this many properties to objects has likely some memory overhead.
2. .reduce  is over-engineered. A simple forEach does the same.
3. Micro-benchmarks are not useful for this issue. We want to know the actual performance impact on render/user interactions.
4. console.time is inaccurate for micro benchmarks. T

[2020-05-03 09:44] oliviertassinari commented on #18811
What do you guys think about this version? In collaboration with @mbrevda: https://codesandbox.io/s/material-demo-ymnv8?file=/demo.js.

[2020-05-03 09:50] mbrevda commented on #18811
FWIW, I don't love the solution myself. Specifically, I'd prefer the declarative nature of using the `<Tab>` component and would rather avoid a (separate) array of paths in order to tell `<Tabs/>` which one is the active tab.

Perhaps if `<Tabs value/>` took a predicate passing each tab's props and expecting true or false we could cut down on some duplication/imperative code?

[2020-05-03 11:26] mbrookes commented on #20819
@o-alexandrov Not sure if you missed the comment that the color tool output doesn't match the spec palette tool output. That would need to be resolved first. Also, an API is definitely not the way to go, as this has runtime implications (not just docs), hence "breaking change".

[2020-05-03 12:02] iDVB commented on #17775
Thanks @oliviertassinari , I looked at that a bit and could not see how I could use it. Seems like the searching of the labels is pretty tightly built into that component and our scenario does not need that.

I managed to get it working but I had to fork both the `Menu` and `MenuList` components.... just so I could add an extra prop to the `MenuList` that I called `searchFocus`.
![image](https://u

[2020-05-03 12:03] #20824 closed

[2020-05-03 12:07] joshwooding commented on #20868
I had similar thoughts on this, I had previously discussed using a Set but decided against it since I did not have an example where I could measure the actual performance impact as @eps1lon suggested.

[2020-05-03 13:10] HiranmayaGundu commented on #15588
Hey! I just faced this issue and I had come across this [blog post](https://joshwcomeau.com/gatsby/dark-mode/#our-first-hurdle). The approach suggested here seems to be to use `CSS Custom Properties` along with script to detect whether the user has a color preference on initial load.

Theme-UI seems to do [this](https://theme-ui.com/color-modes/#advanced) and also provides a `useColorMode` hook th

[2020-05-03 14:54] vovaksenov99 commented on #15697
I had react error when tried `as any` from previous answer

My way
[code]

It's work well

[2020-05-03 15:18] oliviertassinari commented on #18811
@mbrevda How would it look like?

[2020-05-03 15:24] mbrevda commented on #18811
psudocode:

[code]

Basically each tab gets passed to the function until it returns two. A la `Array.find`

[2020-05-03 17:02] oliviertassinari commented on #20849
@esseswann Nice, thanks for the report. A great 👁️ for the details.

We rely on CSS inheritance from `div > input` to apply `theme.typography.bod1`. However, the user agent overrides our styles. What do you think of this diff? Do you want to submit a pull request?

[code]

[2020-05-03 18:26] oliviertassinari commented on #20867
Duplicate of #20811

[2020-05-03 18:26] #20867 closed

[2020-05-03 19:06] oliviertassinari commented on #18488
@p00000001 Thank you for this detailed report. I completely agree with you. We have an open issue about it #19500. What do you think of my proposed resolution in https://github.com/mui-org/material-ui/issues/19500#issuecomment-619557202? Do you want to submit a pull request? :)

[2020-05-03 19:26] esseswann commented on #20849
@oliviertassinari I suppose we should also address line height and in general try to inherit everything font-related from the typography\theme defaults, stuff like `text-rendering`, rtl etc. I can examine them in pull request but I would like to approve inheriting them from the theme

[2020-05-03 19:30] oliviertassinari commented on #20849
I was wondering about line height too. Why not.

I'm not aware of any other CSS property we would need to reset from the user agent default styles. I would expect text rendering to inherit without any specific code.

[2020-05-03 20:24] NawarA opened #20896 "[Slider] Cannot read property 'focus' of null at focusThumb"
Hi, I'm getting inconsistent behavior with the slider component. I'm using a slider with a min, max, and range property. Sometimes it works, sometimes it crashes with the error:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior

[2020-05-03 20:33] agus08 commented on #18322
`const useStyles = makeStyles({
  rootProgress: {
    backgroundColor: "#F2F2F2",
    height: "20px",
    borderRadius: "10px"
  }
});

const classes = useStyles();

function BorderLinearProgress(props) {
    const { color, value } = props;
    const innerStyle = makeStyles({
      label: {
        position: "absolute",
        width: "100%",
        height: "100%",
        zIndex: 1,
        maxH

[2020-05-03 20:51] suyogn commented on #17504
I am facing same problem,
It is an inconsistency between <Typograhpy> & <Box> font sizes in the responsive view.

I tried to use fontSize="h1.fontSize" still not working same as per the Typography.

import { ThemeProvider, responsiveFontSizes } from "@material-ui/core/styles";
typography: {
    h1: {
      fontSize: '5.6rem',
    }
}

[2020-05-03 21:03] oliviertassinari commented on #20730
I have tried the idea I was suggesting above:

[code]

It doesn't feel like something we would want to push further. It feels off when the user tries to change the position of the caret or when he double click to select all. I don't know how we could handle these cases.

[2020-05-03 21:05] oliviertassinari commented on #20855
@ryancogswell Thanks for the reproduction. I think that the issue is identical, the style leaks which is even more visible with global styles.

[2020-05-03 21:05] #20855 closed

[2020-05-03 21:38] oliviertassinari commented on #20856
I have no idea how to explain this behavior. Adding a z-index: 1 on the Popper solves the issue, however, it's not something we can apply. I would propose we ignore the issue.

[2020-05-03 21:39] oliviertassinari commented on #20858
Duplicate of #13394

[2020-05-03 21:39] #20858 closed

[2020-05-03 21:41] oliviertassinari commented on #20861
@raghav0622 You can use `disableGeneration` to disable the generate of the styles for each request and use the server-side API to generate the CSS and deliver it differently.
However, we wouldn't advise going in this direction unless you have experienced and identified a performance win opportunity.

[2020-05-03 21:41] #20861 closed

[2020-05-03 21:44] OoDeLally opened #20897 "TreeView expand control at TreeItem level"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently there is no way to:
1. Expand all `TreeItem` by default without knowing the `TreeItem`'s id in advance.
2. Expand a `TreeItem` from the `TreeItem` itself.

Both of these features can be solved by adding `defaultExpanded` and `expand

[2020-05-03 21:51] oliviertassinari commented on #18322
I think that the simplest is to display something at the end or at the center but nothing inside:

<img width="376" alt="Capture d’écran 2020-05-03 à 23 50 33" src="https://user-images.githubusercontent.com/3165635/80926669-ed0fc300-8d98-11ea-99e7-6013c2b32888.png">

<img width="136" alt="Capture d’écran 2020-05-03 à 23 50 40" src="https://user-images.githubusercontent.com/3165635/80926667-ebd

[2020-05-03 22:08] joshwooding commented on #20896
Nice catch, this is actually due to the value being passed in is smaller than the min value. A simpler reproduction is: https://codesandbox.io/s/async-bash-qek7c?file=/src/App.js

[2020-05-03 22:22] oliviertassinari commented on #18586
@pawlarius What problem to you try to solve?

[2020-05-03 22:31] oliviertassinari commented on #20896
Remove it, try to slide, notice the lag, revert 😆.

[2020-05-03 23:02] oliviertassinari commented on #20872
@sparlos Oh wow, this sounds like pure luck. These styles shouldn't be here in the first place. They probably originate from a previous iteration, until I figure a way to center the label with the display styles, quite handy to avoid changing the position of the label when customizing the size of the thumb.

What about something in this order?

[code]

[2020-05-03 23:16] oliviertassinari commented on #20292
I guess that in this case, you could need to augment `Breakpoints`. Do you have any solution in mind? We recently had a similar concern in #20212.

[2020-05-04 01:39] LincMitch commented on #20859
Had another thought. I find Framer X struggles performance-wise with code components on the canvas. So I relly on RenderTarget https://www.framer.com/api/render-target/ to only render design components to the canvas and code components to preview.  This is a key issue I'd like to resolve while extending any Material UI component in Framer X. It also allows Designers to use design components on the

[2020-05-04 08:45] #20727 closed

[2020-05-04 09:01] gamb commented on #20797
I tried applying a resolution within Yarn, but doesn't  seem to access sub-directory for the jss-package.

[code]

Might just have to make a local tarball 🤷

[2020-05-04 09:03] oliviertassinari commented on #20859
@LincMitch Interesting, If I understand correctly, you would like to see a .png version when the render target is a canvas? Could this be something, long term, Framer X handles internally (as a cache).

[2020-05-04 09:30] LakshitPaliwal commented on #16186
<AppBar  style={{position: 'fixed'}}>

[2020-05-04 10:14] LincMitch commented on #20859
@oliviertassinari, not png/image but real design components. But I guess PNG is a start. In fact,  I do that know by taking a screengrab of the preview window and making that the renderTarget.Canvas.

[2020-05-04 12:25] dandymon commented on #18119
Agreed, I had this exact error, had to wrap my text inside a <Button>

[2020-05-04 12:57] Kristiyan96 commented on #1911
Because I am reusing the tables, per table basis, I can say

[code]

And then, use the style in the root of the table

[code]

Haven't tested much yet (Fixed header, etc)

[2020-05-04 13:33] JasonHK commented on #20292
@oliviertassinari I've come up a way to fix this in #20901.

[2020-05-04 14:01] megphillips91 commented on #17000
Voting this request up. Have tried a few npm packages and not super confident in performance of any of the ones available. I haven't gotten exactly the expected behavior out of those available. I would be super confident in you guys to put out a reliable component :)

[2020-05-04 14:16] #20582 closed

[2020-05-04 14:34] ravi586941 commented on #20871
I'm trying to use 4.9.13 version but I'm getting the error
_npm ERR! notarget No matching version found for @material-ui/core@^4.9.13_ I can only use till v4.9.12. I see 4.9.13 is published. When should I be able to use the latest 4.9.13 version? @joshwooding

[2020-05-04 14:36] oliviertassinari commented on #20871
@ravi586941 Caching issue

[2020-05-04 14:46] Jack-Works commented on #17423
🤣 really should add it to the document, wasted another 10 minutes today

[2020-05-04 14:54] amitsaxucsb commented on #3289
@dantman I tried the way you suggested but it is taking time to load if we have more then 200 records in list.

[2020-05-04 15:21] esseswann commented on #20849
While fixing it I noticed this
![image](https://user-images.githubusercontent.com/6066417/80982368-e7b38680-8e33-11ea-9c4c-47fefcfc31fc.png)
Should it be of our concern?

[2020-05-04 15:24] oliviertassinari commented on #20849
I believe we already have an issue open for it.

[2020-05-04 16:10] Dashue commented on #17000
I'm using https://github.com/paulcollett/react-masonry-css for now and it's serving it's purpose well

[2020-05-04 16:42] burtonator opened #20904 "No ability to implement 'tab' selection within autocomplete control"
We're migrating from react-select to MUI autocomplete and they have an option to handle 'tab' to pick the current item.  This is pretty standard in other UIs.

I can properly intercept 'Tab' but I can't determine which of the items is currently selected.

I think we need an onSelected or other callback for this.

There is a renderOption and I thought that I could use onFocus and tabIndex with this

[2020-05-04 16:53] burtonator commented on #20904
looking at the code, I *think* what I want is onHighlightChange

... but that doesn't seem to be defined in the typescript bindings.

And predictably , React raises an error when it's called:

this is with materialui-core =4.9.13

[2020-05-04 17:02] burtonator commented on #20904
OK... I realized that this is from the lab so I updated to =4.0.0-alpha.52 and that doesn't fix it.

The site doesn't list Autocomplete in the lab anymore but the import suggested is from the lab.

Is it about to graduate?  Maybe this is the reason I'm not seeing onHighlightChange?

[2020-05-04 17:05] burtonator commented on #20904
ok.  Verified that the current source code does not have onHighlightChange in the list callbacks in the typescript definition.

It's clearly listed here:

https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/Autocomplete/Autocomplete.js

just not here:

https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts

What ca

[2020-05-04 17:06] #20904 closed

[2020-05-04 17:07] burtonator commented on #20904
@oliviertassinari Why was this closed? This seems like a legit bug.  Maybe I'm missing something?  I pointed out the exact problem at the end.

[2020-05-04 17:10] oliviertassinari commented on #20904
@burtonator Interesting feedback on the tab behavior. I have benchmarked with a couple more of implementations, It seems that we should leave this aspect to the developers. the WAI-ARIA has no mention of this behavior. I would be worried about having an unpredictable behavior.

I have closed as no reproduction was provided and all the indicators point toward 1. your dependency is outdated 2. you d