[2022-08-18 07:36] TamirCode opened #33973 "[Autocomplete] Highlighting example in docs needs improvement"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The [example in docs for highlighting](https://mui.com/material-ui/react-autocomplete/#highlights) in autocomplete component needs to be changed for a better library perhaps because it doesn't work properly. It only highlights if you start typing the beginning of th

[2022-08-18 09:09] mnajdova commented on #33942
Yes, it is duplicate of https://github.com/mui/material-ui/issues/33606, I will create a PR for it (we should not warn if the whole tabs are hidden).

[2022-08-18 09:12] Janpot commented on #33942
👍  Ok, closing this one then

[2022-08-18 09:12] #33942 closed

[2022-08-18 09:47] michaldudak commented on #33953
Could you please create a working reproduction on CodeSandbox?

[2022-08-18 09:59] michaldudak commented on #33940
I don't consider these selects "buggy". They match the behavior of a native HTML select when no value is selected. That being said, we can add a placeholder text to enhance the components' appearance.

Currently, it's done with the `renderValue` prop, as in the examples above. Feel free to create a PR with updated demos. Or, if you'd like, you could also introduce the `placeholder` prop that the `

[2022-08-18 10:16] mnajdova commented on #33606
Thanks for the report. Agree, it looks strange. Maybe we can update the condition for the warning to not do it if the whole tabs element is hidden, maybe something like this would be better:

[code]

Would be great if we can cover these two scenarios with tests. Would you be interested in creating a PR for this?

[2022-08-18 10:29] markedwards commented on #33274
I migrated to [Swiper](https://swiperjs.com).  The footprint is larger than react-swipeable-views, but it has quite a large feature set.  It is also fully maintained, and seems to be extremely widely used.

I suggest the MUI docs get updated with an example using Swiper.  The canonical example would be roughly the same size and complexity as the current react-swipeable-views example.

I'm willing

[2022-08-18 11:09] #33710 closed

[2022-08-18 11:16] mnajdova commented on #33935
You should invoke the code you want to run on client side in `useEffect`. For example, set the initial theme to `Dark` using the default option in `useState`, and then change it in `useEffect` to `Light`. This way the SSR version will be dark, and the client one will be light. See https://codesandbox.io/s/sad-brown-cfbzq7?file=/pages/_app.js

[2022-08-18 11:16] #33935 closed

[2022-08-18 11:24] mnajdova commented on #33904
I wouldn't change how it behaves, mainly because we want the buttons to have consistent height. If you disable the ripple, you would probably want to add some focus indicator around the button, so I assume you would want to have the padding. My proposal would be to add a theme override for the `IconButton`, that will remove the padding if `disableRipple` is set (or set the padding to zero if this

[2022-08-18 11:25] #33200 closed

[2022-08-18 11:30] mnajdova commented on #33178
There wasn't any reproduction for the problem, I am closing it.

[2022-08-18 11:30] #33178 closed

[2022-08-18 11:32] mnajdova commented on #33175
Interesting, we are likely going to have this problems with @mui/base's `componentsProps`. I assumed using `HTMLAttributes` would be sufficient.

[2022-08-18 11:47] #33940 closed

[2022-08-18 11:47] michaldudak commented on #33907
Thanks for the report, I was able to reproduce it. I found that this issue is caused by ScopedCssBaseline's CSS that is applied near the bottom of all styles. Since `.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input` (that contains `box-sizing: content-box;`) and `.css-1mq96nu-MuiScopedCssBaseline-root *` have the same specificity, the one declared at the bottom wins.

@siriwatknp, @mnajdova,

[2022-08-18 11:50] michaldudak commented on #33104
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-18 11:54] michaldudak commented on #33175
That's what we have *ComponentsPropsOverrides interfaces for. You can augment the module that hosts them and create your own definition with the custom attributes.

[2022-08-18 11:58] mnajdova commented on #33175
I understand, but should we maybe be less strict and allow `data-*` attributes?

[2022-08-18 12:03] Ofigelov opened #33977 "Backdrop click with opened popup of Autocomplete makes dialog close immediately."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`Backdrop click` force to close `Dialog` component despite of opened popup of `Autocomplete`

### Expected behavior 🤔

`Backdrop click` is ignored if popup of `Autocomplete` is opened

### Steps to reproduce 🕹

Steps:

1. open the [codesandbox](https://code

[2022-08-18 12:19] michaldudak commented on #33175
This would basically mean accepting `Record<string, string>` in addition to what's already accepted (unless we go really fancy with something along ``Key extends `data-${infer AttributeName}` `` but I don't think this would fly with TS 3.5).

I remember we discussed a similar problem in the past. One issue with this approach is that it's very permissive (and it's not possible to make it stricter),

[2022-08-18 12:21] michaldudak commented on #32088
As for Option 4 and your worry about a breaking change - MenuUnstyled has already departed from what was in Material UI. Its implementation was completely rewritten, so we have to expect some breaking changes anyway.

[2022-08-18 13:39] georgewfsantos opened #33979 "Style transition not working with mui/system"
We've recently changed from styled-components to styled() coming from mui/system. We noticed that transitions do not take place as expected.
Below is the code for a font-size transition when we were using styled-components:
[code]
When using styled() from mui/system this transition does not take place. The code is as follows:

[code]
Ps.: If I define the font-size to be changed in a hover event, u

[2022-08-18 13:55] fratelo98 commented on #19249
I actually want to verride this class,

@media
<style>
.MuiTabs-scrollButtonsDesktop {

   1. display: inline-flex;

},

by default It is display: none;
I am talking about material ui tabs component, when it's resolution for
smaller devices left and right arrow are set display: 'none',

And I want this to override.

Thank you in advance.
--
Đorđe Nikitović
Avantech Electronics doo
Živojina Žujović

[2022-08-18 13:58] fratelo98 commented on #19249
I was fixed this ,

You can add another props direct to imported Tabs like this ,
scrollButtons="on"
It better works for mobile devices .

 <Tabs
              className={classes.tabs}
              // variant="fullWidth"
              value={value}
              onChange={handleChange}
              indicatorColor="primary"
              textColor="primary"
              variant="scrollable"

[2022-08-18 14:08] fzaninotto commented on #33606
As long as it fixes the warning in the case I described, it's fine by me.

No, sorry - I have my own bugs to fix in react-admin!

[2022-08-18 14:31] GideonMax opened #33981 "Drawer animates from the wrong direction when using rtl"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [x] I have tested the latest version

### Current behavior 😯

when using rtl (theme.direction="rtl"), a drawer anchored to the side (left or right), will slide across the entire screen during its open/close animation.

### Expected behavior 🤔

drawer should slide in from the correct side of the screen during open/clos

[2022-08-18 16:22] EthanStandel commented on #33380
Completed with PR#33677

[2022-08-18 16:22] #33380 closed

[2022-08-18 17:08] amanzrx4 commented on #33981
Does #26450 solves this?

[2022-08-18 18:12] karlosos opened #33983 "Testing TimePicker with react-testing-library (jest)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

No examples on the web of how to test `TimePicker`.  It looks like there is no option to test `TimePicker`.

### Expected behavior 🤔

Being able to perform following test:

1. Select new time on the TimePicker
2. Assert that the time has changed based on ot

[2022-08-18 18:24] karlosos commented on #33983
Moved to mui-x repo https://github.com/mui/mui-x/issues/5842

[2022-08-18 18:24] #33983 closed

[2022-08-18 19:38] samuelsycamore commented on #33416
Just chiming in to say +1 to move forward with this! I think this concept and its implementation will be much easier for new users to grasp when the terminology is aligned here.

[2022-08-18 22:16] joel1st commented on #33004
Can confirm that disabling <StrictMode> resolves the issue. Likely the mount/remount behaviour causing the issue.

[2022-08-19 02:23] mwskwong opened #33985 "[FilledInput] `focused` and `disabled` style cannot be overridden in theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Specifying the theme in the following manner will NOT override the default `focused` and `disabled` style of `FilledInput`.
[code]

### Expected behavior 🤔

Specifying `focused` and `disabled` style should override the default style.

### Steps to reproduce

[2022-08-19 04:44] o-alexandrov commented on #31009
To summarize, the following features from `mui` work in iOS Safari, but don't in iOS Chrome:
- Ripple effect
- Drawer animation
- and based on my experience, almost all other animation (except the `mui.Collapse` for some reason)

[2022-08-19 05:18] #33881 closed

[2022-08-19 06:49] Primajin commented on #32914
Yep found another example:

Before:

[code]

After:

[code]

Causing:

[code]

[2022-08-19 07:41] tomasz-sodzawiczny opened #33987 "[Joy] Generate index.ts to keep it up to date"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It's easy for the global [index.ts](https://github.com/mui/material-ui/blob/master/packages/mui-joy/src/index.ts) to get out of date with new components added to the repo - I just created https://github.com/mui/material-ui/pull/33982 to fix the current mismatch in @

[2022-08-19 10:47] fshahmt opened #33990 "Textfield with min-max inputProps not working when hooking up to state"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am using a mui textfield and it works fine when I use it without hooking it upto the state but once I hook it to the state, the

    <TextField
      size="small"
      type="number"
      inputProps={{ min: 0, max: 999 }}
    />
This is the default one t

[2022-08-19 10:56] mnajdova commented on #31009
It works on me using:
- iOS version: 15.5
- Chrome version: 104.0.5112.99

https://user-images.githubusercontent.com/4512430/185603954-a68e1963-feff-422e-b3a0-a364bde97bcd.mp4

What iOS version do you use?

[2022-08-19 10:57] mnajdova commented on #33878
Sounds like it should work as expected, thanks for the info :))

[2022-08-19 11:10] ZeeshanTamboli commented on #33944
Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-19 11:11] o-alexandrov commented on #31009
iOS version: `15.6`
Chrome version: `104.0.5112.88`

The only possible explanation I have is:
- it might be related to the `reduced motion` accessibility setting of the phone, will double check this
  - if that's the case, hopefully mui would expose ability to disable reduced motion override

https://user-images.githubusercontent.com/9992724/185606094-b88c7749-cfd1-4661-a199-9452ebb59213.mp4

[2022-08-19 11:35] o-alexandrov commented on #31009
When I closed all tabs, iOS Chrome works the same as iOS Safari.
I don't think there's anything MUI can do about it.
- @EmilioMirasola @suren-atoyan can you check what you reported after closing all other tabs?

https://user-images.githubusercontent.com/9992724/185609849-c8828729-1708-428c-8ae3-4d241a30b698.mp4

[2022-08-19 13:10] EmilioMirasola commented on #31009
@o-alexandrov I'm experiencing this in a PWA environment, so no other tabs are open

[2022-08-19 13:32] pieetrus opened #33992 "'SliderInput' is not exported from '@mui/material/Slider' (imported as 'SliderInput') even though it is marked as exported from Slider.d.ts file"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Build fails and return error `export 'SliderInput' (imported as 'SliderInput') was not found in '@mui/material/Slider' (possible exports: SliderMark, SliderMarkLabel, SliderRail, SliderRoot, SliderThumb, SliderTrack, SliderValueLabel, default, sliderClasses

[2022-08-19 14:53] Sliffcak commented on #17407
@hamsishe  great work! Any tips on how I could extend this to where the children could be a group of radio buttons (in addition to have checkboxes in the same parent)

[2022-08-19 15:07] mpanjato commented on #33878
@cjones26 & @mnajdova thank you, upgrading @mui/styled-engine worked for me too

[2022-08-19 15:23] paulschreiber opened #33993 "AvatarGroup and Avatar use unstructured markup"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently, `AvatarGroup` and `Avatar` generate `<div>`s for markup, which is not semantic/structured.

[code]

### Expected behavior 🤔

Using a list would better structure the list and its members for screen reader users:

[code]

### Steps to reproduce 🕹

[2022-08-19 19:00] pull-task-dev opened #33996 "Feature Request: extend trigger of TouchRipple to FormControlLabel"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

When using a component built upon MuiButtonBase, for example, CheckBox, the TouchRipple animation triggers when user clicks the component. Very good.

When such a component is wrapped with FormControlLabel to provide an adjacent label, currently the TouchRipple anim

[2022-08-19 21:40] samuelsycamore opened #33998 "[docs] Revise Joy UI documentation for grammar and style consistency"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

## The problem

The Joy UI documentation currently contains inconsistent grammar, style, voice, and formatting throughout. It's important to address this non-technical debt (prose debt? 😅) as we continue to grow this library and prepare to release an alpha

[2022-08-19 21:54] sophiac15 commented on #25737
I'm having a very similar same issue when rendering a Snackbar with `anchorOrigin { vertical: 'bottom', horizontal: 'left' }`, it spans the width and height of my Snackbar, right below the Snackbar overlaying my BottomBar. It is not visible but prevents me from clicking on the buttons underneath the anchorOrigin overlay. How can I set the anchorOrigin to be anchored exactly to where my Snackbar is

[2022-08-19 23:14] oliviertassinari commented on #33380
@EthanStandel If you could work on a follow-up for https://github.com/mui/material-ui/pull/33543#pullrequestreview-1076496406 it would be awesome 🙏

[2022-08-19 23:43] oliviertassinari commented on #33445
For the implementation of this, I believe. that we will need to

a. Add 301 for all the URLs that are going to become 404, e.g. https://mui.com/pt/careers/ should be a 301 to https://mui.com/careers/
b. Remove the alternate hrefLang from the `<html>`, so that we don't instruct bot crawlers to dead ends.

https://github.com/mui/material-ui/blob/ea838244a4217066b1fb80e0933d24a6fe2fe157/docs/src/modu

[2022-08-20 00:25] vanesyan opened #33999 "Add LoadingButton component analogous for Joy UI"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

`LoadingButton` component analogous for Joy UI. Either built in into the current `Button` component as optional properties (`loading`, `loadingIndicator`, etc.) as dedicated component like it's current presented for material UI.

### Examples 🌈

https://mui.com/mate

[2022-08-20 02:01] fdcolongonzalez commented on #21701
Thank you, thank you, thank you very much! This was very helpful to me. However, I did another change that maybe could be helpful to anyone.
[code]

In my case I'm looking for any dynamic value which starts with `mui-` and whatever it has as complement, and I replace all that value with a fixed one. This is because the original solution was not working for me, so I updated it and now it works very

[2022-08-20 03:23] siriwatknp commented on #33998
Thanks! @samuelsycamore.

[2022-08-20 03:45] zarepp opened #34000 "TypeError: Cannot read properties of undefined (reading 'fontSize') for @mui/joy/node/List/List.js"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Collapsible List component unable to use.

### Expected behavior 🤔

Workable Collapsible List

### Steps to reproduce 🕹

Steps:

1. import List from '@mui/joy/List';

### Context 🔦

_No response_

### Your environment 🌎

System:
    OS: macOS 12.5
  Binarie

[2022-08-20 11:46] Anandoganiya commented on #21085
` <TableHead style={{ backgroundColor: " #F3F4F6" }}>
      <TableRow>
        {headCells.map((headCell) => (
          <TableCell
            key={headCell.id}
            // align={headCell.numeric ? "right" : "left"}
            align="left"
            // padding={headCell.disablePadding ? "none" : "normal"}
            padding="normal"
            sortDirection={orderBy === headCell.id ? orde

[2022-08-20 12:00] soumya-99 commented on #29345
Well... I've created a small template for Material You (Material Design 3). You can have a look at it
[Project Repo](https://github.com/soumya-99/material-you-starter-template)
And here's the M3 Color Picker: [Color Picker](https://github.com/soumya-99/material-you-color-picker)
Color Picker Repo Link: [Repo Color Picker](https://github.com/soumya-99/material-you-color-picker)
This is made with Ty

[2022-08-20 14:29] aanes1 commented on #17228
any fix?

[2022-08-20 23:37] EthanStandel commented on #33380
@oliviertassinari I could try to carve out some time to make that happen next week. In the mean time, is it worth making another issue to represent this ask or possibly just reopening this issue?

[2022-08-21 00:00] TheRealCuran commented on #1824
Yes, please! You have my :+1: (bonus points if I can configure which "type" can be stacked and which not. Ie. I want errors stacked but infos/successes only replacing each other.

[2022-08-21 00:09] TheRealCuran commented on #19154
Just to make sure: please don't overlook a `step` parameter in the implementation. And please make it possible to define a set of valid fractions (static and by callback). I have `number` fields implemented in a tool we use internally, where only a defined set of fractions are OK. Say you press the "up" button and you would only want to got from `x.33` to `x.5`, then there should be some kind of o

[2022-08-21 03:46] SpareShade opened #34021 "Custom theme overrides throws theme.palette[ownerState.color] is undefined"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have
[code]

theme options:
[code]
injected into app
[code]

### Expected behavior 🤔

Each augmented theme property should exist in theme.

### Steps to reproduce 🕹

Provided above

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summar

[2022-08-21 03:59] SpareShade commented on #34021
wasn't reading the error properly...

part of the ts augmentation was accidentally commented out, as per below:

[code]

[2022-08-21 03:59] #34021 closed

[2022-08-21 05:07] BenRauzi opened #34023 "Simple way to change document that styles are injected into"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Use case for this is primarily in chrome extensions that want to inject content into the page. This is often done by rendering the react app within an iframe so it does not mess with the styles of the webpage. When doing this you can fetch the document and window ob

[2022-08-21 05:18] BenRauzi commented on #30675
@codyng  @megasapp Do you have a working example of this I could take a look at?

[2022-08-21 07:09] GideonMax commented on #33981
Yes, thank you

[2022-08-21 07:09] #33981 closed

[2022-08-21 07:51] dielok commented on #33498
Hi, thanks for the workaround. Shouldn't that be the default behaviour? As I understand, that is just a hack the developer can apply while using it. I mean, opening a dropdown by clicking on the button and closing it by clicking again on the button is the expected behaviour of such a controll element.

[2022-08-21 08:25] ericjj94 commented on #4900
I am having the same issue that the Datepicker needs to open up on the minDate but when I add the onShow to the Datepicker component, typescript complains that the onShow prop is not available on the DatePicker. Any suggestions on this or is there any other way to implement this functionality.
I am using mui version: 5

[2022-08-21 10:07] johnta0 commented on #30678
Hi @mgoetz-nerdery .
I was experiencing the same issue, but I could workaround by the code below.
In my case `theme.transitions` didn't work because its type is 'unknown'.

[code]

[2022-08-21 11:50] oliviertassinari opened #34025 "Add support for Stitches as a @mui/styled-engine"
### Discussed in https://github.com/mui/material-ui/discussions/32476

<div type='discussions-op-text'>

<sup>Originally posted by **tpvladyslavdasyha** April 27, 2022</sup>
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

This RFC is a proposal for adding a style engine [Stitches](https://stitches.dev/) package t

[2022-08-21 12:06] oliviertassinari commented on #33754
This would be an opportunity to solve this pain #28035.

Proof of concept: https://codesandbox.io/s/vigilant-mcclintock-pivrt3?file=/demo.tsx

[2022-08-21 15:04] tiennesdm commented on #33558
Hi [siriwatknp](https://github.com/siriwatknp) Upgrading a typescript is not completely resolving this issue
Build becomes successful however It is giving the error by running it is there any suitable version for this
MUI Version - 5.5.0
Typescript version - 4.0.3 or any version post 3.5
"@mui/lab": "5.0.0-alpha.71",
"@mui/material": "5.5.0",
"@mui/styled-engine-sc": "5.4.2",

[2022-08-21 17:17] Ryczko commented on #33930
Space is added not by Babel but by Prettier. It is not valid for the `React.ReactNode` type, so the behavior is correct

[2022-08-21 20:27] alexeybryk commented on #28918
Hello. You can also add React.forwardRef to your children component. This works for me.

[2022-08-22 01:42] #34023 closed

[2022-08-22 03:24] michaellee8 opened #34028 "LinkedComponent not respected by ListItemButton"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Supplying `LinkComponent` to `ListItemButton` does not cause its `component` to be overriden.

### Expected behavior 🤔

Supplying `LinkComponent` to `ListItemButton` should cause its `component` to be overriden by the supplied component.

### Steps to repro

[2022-08-22 04:11] prankurnov15 commented on #29469
If this issue is still open can I give it a try ?

[2022-08-22 04:44] siriwatknp commented on #33754
No object with the name `useFlexGap`, it sounds better than my proposal!

[2022-08-22 04:57] ZeeshanTamboli commented on #34000
@zarepp Can you upgrade to the latest version of Joy UI which is `v5.0.0-alpha.41`? It works for me at https://mui.com/joy-ui/react-list/#collapsible-list.

If it still happens in the latest version, please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-08-22 06:17] siriwatknp commented on #33558
Do you mean it is still error even with TypeScript `v4.1.5` up?

[2022-08-22 06:20] tiennesdm commented on #33558
Yes I am facing this issue
build becomes successful but it is giving an error

On Mon, 22 Aug 2022 at 11:47 AM, Siriwat K ***@***.***> wrote:

--
Sent from Gmail Mobile

[2022-08-22 06:33] sushanyadav commented on #31961
Getting the same issue with icon buttons.
![CleanShot 2022-08-22 at 12 18 00](https://user-images.githubusercontent.com/53527664/185854330-baa0aba0-cca1-4fd5-ae1e-3e881a13cae8.png)

Guys any workarounds?

[2022-08-22 06:35] #33959 closed

[2022-08-22 06:40] ZeeshanTamboli commented on #32049
@mwskwong We have added support for CSS variables in lab components. It should be available in the next release.

[2022-08-22 07:09] #33902 closed

[2022-08-22 07:35] BarneyRoos opened #34029 "Material Icons: The page will auto load when search value change"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

<img width="1263" alt="image" src="https://user-images.githubusercontent.com/12667145/185865170-0bad1bb9-1ae8-4af8-b56d-ef4c05d838aa.png">

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

[2022-08-22 07:53] ZeeshanTamboli commented on #33985
This is not a workaround. Check the error in the console. It is explicitly said to increase the specificity of state classes. States like hover, focus, disabled and selected, are styled with a higher CSS specificity. To customize them, you'll need to increase specificity. https://mui.com/material-ui/customization/how-to-customize/#state-classes

[2022-08-22 07:53] #33985 closed

[2022-08-22 07:57] michaldudak commented on #33498
When we have the MenuButton component, this logic will be built in. For now, we have to fall back to this fix.

[2022-08-22 08:04] santhosh01712 commented on #33898
I found a solution. I've updated this example with my solution.

https://codesandbox.io/s/crazy-butterfly-4c2ehe?file=/src/App.js

[2022-08-22 08:04] #33898 closed

[2022-08-22 08:08] MarinaGhe commented on #33898
Oh, that's exactly what I started doing :D thanks!

[2022-08-22 08:31] mwskwong commented on #33985
So, if I get your idea right, my "workaround" is in fact the proper way to define the `focused` and `disabled` style in the theme?

[2022-08-22 08:32] ZeeshanTamboli commented on #33985
Yes, correct!

[2022-08-22 08:54] michaldudak commented on #34029
Please describe what problem are you experiencing

[2022-08-22 09:26] #33853 closed

[2022-08-22 09:43] siriwatknp commented on #33967
@metadanc Can you provide the CodeSandbox that I can reproduce? You can fork from this > https://codesandbox.io/s/3gfsri?file=/demo.tsx

[2022-08-22 09:55] michaldudak commented on #33791
I selected the correct translation on Crowdin. It'll be included when with the next translations PR.

[2022-08-22 10:18] mnajdova commented on #33990
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

-------------

For e.g. I don't understand what

[2022-08-22 10:20] mnajdova commented on #33979
Can you please share a codesandbox with the whole code so that it's easier to debug? You can start by using this template https://material-ui.com/r/issue-template-latest

[2022-08-22 10:20] SirAndrii opened #34032 "[Autocomplete] Add ability to get access to selected options"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

My goal is to modify selected options in Autocomplete. In docs, I have found only the ability to check if a value is checked or not.

On [https://codesandbox.io/s/elated-shirley-k4jbcp](https://codesandbox.io/s/elated-shirley-k4jbcp) I added a textfield that adds ne

[2022-08-22 10:24] mnajdova commented on #33972
Thanks for the issue. We cannot implement this directly in the Autocomplete component, because it is not the correct behavior based on the aria spec for this component. If you want to have this as a behavior, you can implement that on your side, but using the `Autcomplete` in a controlled mode and add a custom `onKeyDown` handler, or listen to the `onBlur` event and do what you would like the comp

[2022-08-22 10:34] fshahmt commented on #33990
Codesandbox as requested. https://codesandbox.io/s/kind-hawking-pz8f5s?file=/src/App.tsx

[2022-08-22 10:46] mnajdova commented on #33963
You can use the `renderValue` prop inside the `SelectProps`, for e.g. here is a short demo: https://codesandbox.io/s/mui-textfield-selection-forked-suwzwu?file=/src/App.tsx

[2022-08-22 10:46] mnajdova commented on #33963
You can take a look at the `Select` page for more info on the props that are available here.

[2022-08-22 10:47] #33963 closed

[2022-08-22 11:00] mnajdova commented on #33703
First of all, yes, you should use only one version of Material UI. The downsides of using both are countless, starting from bundle size (we use different styling engines in both versions for example). We didn't rename the packages in order for people to be able to use them both, it was a decision made in order to clarify the scope and the [future of the company](https://mui.com/blog/material-ui-is

[2022-08-22 11:04] cherniavskii opened #45450 "[docs-infra][RFC] Show a banner with a warning on deploy previews"
### What's the problem? 🤔

Sometimes we share deploy previews with our users to showcase the feature before it's released or to demonstrate a bugfix.

Users might get confused and expect the feature to be released publicly, which is not the case (I think @joserodolfofreitas mentioned that we had support requests regarding this).
Or they might find an old deployment preview URL in the issues, but t

[2022-08-22 11:05] mnajdova commented on #33565
@TurkaljGoran are you using `@mui/styled-engine-sc` and configured it with an alias? Can you maybe share a simple reproduction repository?

[2022-08-22 11:32] mnajdova commented on #33169
The demo seems to be broken in the codensadbox link. It crashes when trying to open the autocomplete. Can you check and maybe start by fixing the console errors shown or open a new issue if necessary.

[2022-08-22 11:34] mnajdova commented on #33175
Alright, let's keep the issue open and see if it will get more traction.

[2022-08-22 11:48] fredrivett opened #34033 "`styled` producing `Unsafe assignment of an `any` value` typescript error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When `@typescript-eslint/no-unsafe-assignment` is set to `error`, the below code (see steps to reproduce) returns the following error:

```@typescript-eslint/no-unsafe-assignment: Unsafe assignment of an `any` value.```

### Expected behavior 🤔

The return

[2022-08-22 12:01] fshahmt commented on #33990
Thank you to the collaborators for atleast looking into this. I got it working so I guess this can be closed now, although I'm still trying to figure out why it wasn't working.

[2022-08-22 12:01] #33990 closed

[2022-08-22 12:35] josuevalrob commented on #29345
So, what is the plan here?
currently they are two options:
1) https://react-m3-demo.web.app/Components
2) https://www.beercss.com/

but nothing official from MUI.
How do we proceed?

[2022-08-22 12:53] ZeeshanTamboli commented on #34032
@SirAndrii The CodeSandbox link you provided is incorrect. Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-08-22 13:01] matheussanton opened #34035 "404 This page could not be found - When opening new API Tab"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/58829685/185924975-32df2f7d-147d-43b8-ad48-2ea4ede58a74.png)

### Expected behavior 🤔

![image](https://user-images.githubusercontent.com/58829685/185925484-42a41076-a835-4abb-af7f-428e7de59f5a.png)

### St

[2022-08-22 13:25] SirAndrii commented on #34032
Thank you, I have edited my start topic message

[2022-08-22 14:27] aifeipeng opened #34036 "Module '"react"' has no exported member 'HTMLInputTypeAttribute'."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When running typescript check I get error in
[code]
saying `error TS2694: Namespace 'React' has no exported member 'HTMLInputTypeAttribute'.` and `error TS2305: Module '"react"' has no exported member 'HTMLInputTypeAttribute'.`

We are using `react: 17.0.2`

[2022-08-22 14:38] aifeipeng commented on #34036
Also tried upgrading to typescript `typescript: 4.7.4` without success

[2022-08-22 14:51] aifeipeng commented on #34036
Also tried upgrading to `"react-dom": "18.2.0"` and `  "react": "18.2.0"` but I still have the same error

[2022-08-22 15:23] oliviertassinari commented on #34035
@matheussanton It's fixed in #33991 by @mnajdova

[2022-08-22 15:23] #34035 closed

[2022-08-22 15:30] oliviertassinari commented on #33791
We have reported a year ago to Crowdin about this duplication of string bugs, they said they fixed it, but AFAIK, they didn't. #33445 will solve this

[2022-08-22 16:05] arimet opened #34038 "Autocomplete disableCloseOnSelect ignored if blurOnSelect"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If `Autocomplete` has the property `disableCloseOnSelect`, it does not work if we also set `blurOnSelect`.
The choice selector closes.

### Expected behavior 🤔

The choice selector should remain open. Or the documentation should inform that the two cannot c

[2022-08-22 16:59] o-alexandrov commented on #29345
Every startup’s design is probably better off by conforming to a UI/UX, familiar to the users.

MUI Joy, with all respect, doesn’t offer that. It’s not Material Design by Google, not Fluent UI by Microsoft, and not Human Guidelines by Apple.

So if you agree with the argument, then MUI will become the same type of organization with Joy, serving own goals first and the community second as the major

[2022-08-22 17:02] TiagoPortfolio opened #34039 "FormControlLabel has a default margin-right, is this intended?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The FormControlLabel component has a default `margin-right: 16px`. This makes reusability and alignment with other components tricky. If we want to make the label clickable with full width, we have to remove this margin.

![image](https://user-images.github

[2022-08-22 18:36] oliviertassinari commented on #29345
@o-alexandrov I'm a believer in this as well. It's exactly why I initially got involved in Material UI. Now, when it comes to Material Design v3. As far as I know, it has little market adoption for the end-users compared to Material Design v2. Is there a desktop website with a significant audience that truly embraces it? I doubt Gmail qualify. Or on mobile, outside of the Google Pixel phone, who i

[2022-08-22 23:40] richardhuf84 commented on #33421
It looks like the `<title>` tag is removed, as the SvgIconRoot uses the`as` prop, and replaces the Root node with the value of the `component` prop.

https://github.com/mui/material-ui/blob/master/packages/mui-material/src/SvgIcon/SvgIcon.js#L97

[2022-08-23 00:08] visualjeff opened #34041 "Autocomplete free-solo and problems with the Android keyboard"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Autocomplete free-solo has an issue with closing Android keyboard.

We have an autocomplete with text input and when clicked on the Android keyboard opens and then closes.  This issue only happens with the Chrome browser on Android.

[code]

### Expected be

[2022-08-23 01:14] siriwatknp commented on #33558
What's the error look like? Can you please share the repo or a minimal Code Sandbox that I can take a look?

[2022-08-23 01:18] siriwatknp commented on #33961
I have a [`Textarea` PR](#33975 ) open.

For the `multiline`, it will be a new component (`TextareaField`) instead of using the prop (to not bundle the TextareaAutosize and make the types separated).

[2022-08-23 01:33] siriwatknp commented on #33999
The LoadingButton will be a prop instead of a new component like this:

[code]

We are working on the **CircularProgress** component (#33869) that will be used as a default loader.

For a workaround, you can create a custom loader like this: https://codesandbox.io/s/blissful-tereshkova-61w5xu?file=/demo.tsx

[2022-08-23 02:22] visualjeff commented on #34041
Issue resolved.  Resizing window around the Autocomplete caused problems for the Android keyboard.  So we disabled resizing for Android devices.

[2022-08-23 02:22] #34041 closed

[2022-08-23 02:36] siriwatknp commented on #33993
This issue is related to default accessibility (the markup) of the Avatar, AvatarGroup. Another issue is the workaround via `component` that is not working in AvatarGroup which should be a separate issue. Let's separate them:

The markup benchmark
 - https://chakra-ui.com/docs/components/avatar/usage#avatargroup (uses `role="group"`)
 - https://mantine.dev/core/avatar/#avatargroup (same as Materia

[2022-08-23 02:41] siriwatknp opened #34042 "[AvatarGroup] Can't specify `component` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`component` prop does not work for AvatarGroup.

### Expected behavior 🤔

should be able to change the semantics of AvatarGroup.

### Steps to reproduce 🕹

[code]

### Context 🔦

This issue is coming from https://github.com/mui/material-ui/issues/33993

###

[2022-08-23 02:42] siriwatknp commented on #34042
Might be fixed by https://github.com/mui/material-ui/pull/33994

[2022-08-23 03:07] tiennesdm commented on #33558
![image](https://user-images.githubusercontent.com/22448400/186060458-16989ede-0538-42fd-a241-131cfee5b155.png)

This is the error I am getting when I make a build using the webpack configuration and it does not work properly
Typescript version - 4.1.5
"@mui/lab": "5.0.0-alpha.71",
"@mui/material": "5.5.0",
"@mui/styled-engine-sc": "5.4.2",

[2022-08-23 03:09] tiennesdm commented on #33558
Is there any way to make compatible version  for this
MUI Version - 5.5.0
Typescript version - 4.0.3 or any version post 3.5
"@mui/lab": "5.0.0-alpha.71",
"@mui/material": "5.5.0",
"@mui/styled-engine-sc": "5.4.2" without getting any error for this version

[2022-08-23 03:44] HexM7 commented on #33961
Sounds good!

[2022-08-23 03:44] #33961 closed

[2022-08-23 06:51] ZeeshanTamboli commented on #34032
You always have access to modified options. For your use case about selecting it after it is added you can pass `value` prop and filter the `Autocomplete`'s selected option. I have vaguely tried to do it here - https://codesandbox.io/s/lively-dawn-nhquwy?file=/src/App.tsx. Also, please use StackOverflow for these type of questions.

[2022-08-23 06:51] #34032 closed

[2022-08-23 07:08] usmanabdurrehman commented on #33925
What do you mean by styles are going all the way and styles are not going all the way?

[2022-08-23 07:19] danilo-leal commented on #29345
It might be safe to expect, and we've been broadly discussing this internally, that Material UI won't go through a significant overhaul any time soon to be on par with what's currently out there of Material Design v3, simply because it's not yet mature and fully fleshed out yet. As @aaronadamsCA points out, there are misaligned expectations with what was once announced and what's available today i

[2022-08-23 09:16] petrkrejcik commented on #21625
- I use `FormHelperText` so the width of the input does not change when helper text is long.
- I render `" "` to render empty helper text so the height of the input is always the same and the rest doesn't jump when helper text appears.

[code]

[2022-08-23 10:27] mnajdova commented on #34039
Thanks for the report. I agree none of the components should have a margin unless necessary. However, changing this would be a breaking change. For now, I would propose adding an override on your side, by setting `marginRight: 0`, or just unsetting it, and I will add this in the v6 milestone so that we can come back to it later. I am a bit reluctant to change the behavior, as it hasn't appeared so

[2022-08-23 10:34] mnajdova commented on #34033
Can you please share a simple repository with everything set up so that we can debug easily? Thanks!

[2022-08-23 10:42] TiagoPortfolio commented on #34039
Thanks @mnajdova!

I am setting `marginRight: 0` to make it work for now :)
I am curious to know why this `marginRight` was added, I am sure there is a reason for this to be added when the component was created.

Cheers!

[2022-08-23 11:29] Samaa-Amin opened #34044 "Too many re-renders error with date pickers and time zone."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Date pickers throughs error on certain dates with certain time zones ex: ("2010-04-30 12:00", "Egypt"):
`Too many re-renders. React limits the number of renders to prevent an infinite loop.`

### Expected behavior 🤔

Should be able to pick any date with any

[2022-08-23 13:18] nigel-f-wilson commented on #29769
Hi @hbjORbj , Are you aware if any action was ever taken relating to this issue? If not, I'd love to tackle it with your help.

[2022-08-23 13:41] cloudeweb opened #34045 "Autocomplete: get id instead of label into Textfield value"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have a React form with Autocomplete Material UI.

I'm using useState for save selected_problem_id with onChange

[code]

Current behavior: This is rendered input, value with label

`<input autocomplete="off" id="problem_id" type="text" role="combobox" val

[2022-08-23 13:48] unpxre commented on #29345
Please also consider that a lot of current applications also have a mobile applications.

Companies want to use the same design system in both - web and mobile.

Bigger companies have also a lot of projects for web, written not always in react.

Biggest Material lib for react native already supports Material You. Flutter framework and others also.

Summing up Material You introduce changes even in

[2022-08-23 13:52] slowWriting opened #34046 "[Stepper] When using `alternativeLabel`, optional label is not centered."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

optional label is aligned to the left, but title is aligned to the center

### Expected behavior 🤔

Optional text should be probably also centered.

### Steps to reproduce 🕹

Steps:

1. Open demo of alternativeLabel - https://mui.com/material-ui/react-stepp

[2022-08-23 14:36] DeveloperAspire opened #34047 "Self hosted font not working in MUI"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The self-hosted fonts are not working even if the web browser says the font family has been set to what I specified and the browser console says : Failed to decode downloaded font: http://localhost:3000/assets/fonts/Fellix-Regular.ttf.

### Expected behavio

[2022-08-23 16:25] alexey-barkovsky-redshelf opened #34048 "Using probably unnecessary ternary across the code base"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

In code base I see a lot of use cases like this (pseudocode):
[code]
It seems that it can be replaced with:
[code]
Am I missing something and there is an explanation for using ternary instead of && ?

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-08-23 16:47] sachin-digi commented on #783
For single `TextField` form `autofocus` prop  worked fine for me. But for form with multiple `TextField` i just simple wrapped my whole form component in the `React.memo(FormComp)`. This issue occurred for me only when i was nesting the form in another component and it was wrapped with `ValidatorForm`. If i used form directly on base component it was working fine

[2022-08-23 16:51] schopra8 commented on #28543
Hi team, is there any workaround at the moment that allows us to change the opacity used in the ripple effect? Thanks, in advance!

[2022-08-23 17:18] metadanc commented on #33967
Hey @siriwatknp I ended up using a different approach to get what I wanted (using flexWrap), since I wanted to use the Grid as a way to Responsively move two components from 2 cols to 2 rows.

I spent a bit of time trying to replicate it on the Sandbox and was unable to. Perhaps anyone coming across this issue will adopt the flexWrap approach for similar usecase.

[2022-08-23 17:18] #33967 closed

[2022-08-23 18:37] oliviertassinari commented on #29345
@unpxre Awesome, thanks for mentioning it. I have added https://github.com/callstack/react-native-paper/issues/3126 and https://github.com/flutter/flutter/issues/103537 as benchmarks in this issue's description. It seems that they both when with the option to provide MD2 and MD3 as supported options (not dropping one for the other).

These two PRs could maybe be of some inspiration for us: https:/

[2022-08-23 19:03] wybran commented on #29345
@unpxre Maybe you could add Material You to your best project: https://zseis.zgora.pl/ XD
BTW, pozdro z elektrona :D

[2022-08-23 19:37] blingerson commented on #19450
This is also an issue with Drawers (or any other modal) where the container property is used. One example is a contained drawer in a sidenav. When the page loads aria-hidden is added to the root container element of the entire page when the item is opened even though the whole page is still accessible since the drawer is contained. It seems maybe aria-hidden on the container element would make mor

[2022-08-23 21:52] lgaspari commented on #33949
Hey @anahids, I've tried to reproduce your issue [here](https://codesandbox.io/s/thirsty-allen-8qnqxt?file=/index.js), but it looks like it's working as your expected behavior. My guess is that you have something that's messing with the `Table` component. Would you mind creating a codesandbox yourself to reproduce? Thanks!

[2022-08-23 22:37] CalebJamesStevens commented on #31190
Issue is still peristant when testing mui5 components with enzyme in react18.2 and react-dom 18.2

[2022-08-24 00:14] Aid19801 commented on #28687
This is infuriating.

[2022-08-24 04:25] siriwatknp commented on #34048
What is the issue that you encounter with this?

[code]

[2022-08-24 05:18] arfath2 commented on #10620
How can i handel active to right side connector of the stepper in material ui

[2022-08-24 05:43] coder-lcn commented on #31869
Hi, I am trying to solve this problem. I found that it is possible to prevent mousedown from triggering by disabling the default behavior in the createHandle MouseDown function. But this way has a new problem, that is, when the browser page size changes and switches to the mobile terminal or the computer terminal. This logic does't change in real time, it only takes effect on the first page load.

[2022-08-24 07:15] alexey-barkovsky-redshelf commented on #34048
It's not an issue at all as it works. I just don't understand why you need this. I would assume to see ternary when there is smth that returns from else clause, like this:
[code]
In cases when  you return `null` in else clause it does nothing and can be replaced with `&&`.
This:
[code]
Instead of this:
[code]
I mean using ternary in such situations seems doesn't bring any additional value. `Null`

[2022-08-24 07:17] hasanpour commented on #24897
As the problem still persists, I created a [Sandbox with a TextField](https://codesandbox.io/s/mui-rtl-textfield-firefox-forked-x4ddeb?file=/src/App.js) on it to reproduce the problem. Please open it on the Firefox to see the issue.

[2022-08-24 08:27] ZeeshanTamboli commented on #34048
You may want to read this article - https://kentcdodds.com/blog/use-ternaries-rather-than-and-and-in-jsx

[2022-08-24 09:02] michaldudak commented on #33519
The actual input does not cover the area behind the adornment, so when a browser sets a background for an auto-filled field, it doesn't extend to the adornment. When CSS `has()` selector has better support (which should be pretty soon), you can try to work around it by setting a background color of the root in your own CSS, like this:

[code]

[2022-08-24 10:35] insideyiqi opened #34051 "[Autocomplete] Input Text will be covered by clear button when use Small TextField"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Reproduce link: https://codesandbox.io/s/mystifying-murdock-57b7wl?file=/demo.tsx

The text will be covered by the clear button when the `TextField` is set to `size="small"`

![image](https://user-images.githubusercontent.com/4853005/186396279-5df19299-f233

[2022-08-24 10:46] michaldudak commented on #33607
I wasn't able to reproduce this issue. I followed the steps you specified, but I haven't noticed any drastic slowdown. It takes about a second to load the page for the first time on my machine.

One thing I can recommend after looking at this code is to import individual icons directly from their subdirectories:
[code]

[2022-08-24 11:08] bryantobing12 commented on #9716
if we set the `component` props in `<Button/>` to span. the button will lose the keyboard navigation functionality

[2022-08-24 11:29] mnajdova commented on #34039
As far as I could see from the commits, it was added to play nicely with checkboxes & radios (I suppose when they are positioned inline. Now that we have the `Stack` component I would assume this is no longer necessary really and it creates a surprises (as it did for your use-case). We'll revisit in v6 and update the styles if we decide to go in this direction.

[2022-08-24 12:14] michaldudak commented on #33787
What version of Safari do you use? I wasn't able to reproduce it with 15.6.1

[2022-08-24 12:16] bryantobing12 commented on #29961
is there a way to remove the warning, or do we need to live with this morning if we want to use  multiline text field that will render textarea?

[2022-08-24 12:19] mnajdova commented on #33789
I would suggest using `TransitionProps={{ apear: false }}`, for e.g. - https://codesandbox.io/s/wizardly-wu-2u5n1r?file=/demo.tsx to avoid surprises like this. This way the positioning can be calculated on time when the children components render.

[2022-08-24 12:33] mnajdova commented on #33490
We are not invoking `onChange` if the options change, and in my opinion this is correct behavior (as there wasn't any interaction with the component). I would assume you can wait for all promises to resolve before setting the value, this way it should work as expected.

[2022-08-24 13:04] michaldudak commented on #34036
Would you be able to share your project (as a git repo or on codesandbox)? I can't reproduce the problem you're facing locally.

[2022-08-24 13:06] mnajdova commented on #33525
Interesting, so far we only see the need of applying integers there. Have you thought of maybe adding additional tokens in the theme that can basically contain these values, like:

[code]

Or simply using const for this, maybe something like:

[code]

This is a good example of how people may want to extend the style function used for the `sx` prop. I will look into this in more details.

[2022-08-24 13:18] michaldudak commented on #33992
We don't export SliderInput from @mui/material. It should be removed from Slider.d.ts - this was likely omitted by mistake. Slider gets a plain `input` in its Input slot, so there's nothing to export.

Would you like to create a PR and remove the unnecessary export?

[2022-08-24 13:27] mogrady88 commented on #33787
I actually can't reproduce it with 15.6.1 either. I think we're good! 👍

[2022-08-24 13:48] pieetrus commented on #33992
Yes, sure.

[2022-08-24 13:49] ximex commented on #24178
is there any plan to impl an `onChangeComitted`?

[2022-08-24 14:08] #34048 closed

[2022-08-24 14:09] oliviertassinari commented on #34048
Please consider an antipattern:

[code]

[2022-08-24 14:11] alexey-barkovsky-redshelf commented on #34048
<>
   {Boolean(icon) && <ListItemIcon>{icon}</ListItemIcon> }
</>
😉
Though I am not sure if boxing is a time/memory consuming or not.

[2022-08-24 14:12] mnajdova commented on #33198
Thanks for the detailed description and the reproduction. I would propose using a controlled mode of the Autocomplete for this scenario. The values of the components when it is in uncontrolled mode depend on the user interactions. Changing the options is not an interaction. This is why the controlled mode exists as an escape hatch.

Even if we do decide to change the behavior, it would be a breaki

[2022-08-24 14:41] D3press3dd commented on #4532
I was working today and encounter this problem, in my case if you're using something like formik o react hook form they render everytime when the input change. so create a new button, in my case i just wrapped my custom button with react.memo, hope this help to someone

[2022-08-24 14:51] flaviendelangle opened #34056 "[SvgIcon] Passing an `ownerState` to `SvgIcon` changes the font size"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If you pass an `ownerState` to the `SvgIcon` component, it has priority over the `ownerState` created inside the component, which causes font size problems.

### Expected behavior 🤔

The `ownerState` received by `SvgIcon` should be ignored.

The solution is

[2022-08-24 14:57] georgewfsantos commented on #33979
@mnajdova , here it is. You just to need to uncomment the respective block of code and comment the other one to alternate between the styled-component and muy/system's styled version. Thank you in advance.
https://codesandbox.io/s/quirky-torvalds-ewysk7?file=/src/App.tsx

[2022-08-24 15:01] raul-madrigal commented on #30953
This is really an issue when upgrading to React 18, and moving to MUI v5 is not an option right now for an autoFocus problem.

[code]

[code]

This is another way to reproduce the issue and is not related to explicitly adding the `autoFocus` attribute, when a Button is part of a form and the user hits enter, the same pulstate error appears.

<img width="1332" alt="Screen Shot 2022-08-24 at 9 00 25

[2022-08-24 15:01] clementlize commented on #33175
Hi there, I recently faced the exact same problem, while trying to add a "data-test" property to a checkbox using _inputProps_.

I was really surprised at first because it is something you can do on textFields. I then went to the code and found out that there is a difference between the 2 types files about the inputProps. The one inputBase allows us to add as many arbitrary properties as needed.

[2022-08-24 16:52] oliviertassinari opened #34057 "[Skeleton] Built in support for delayed appearance"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

This issue is meant to discuss the need for a built-in support for delaying the appearance of a skeleton.

### Examples 🌈

You can find an example in https://mui.com/material-ui/react-progress/#delaying-appearance.

### Motivation 🔦

With @DanailH, I believe that we

[2022-08-24 18:44] NathanC opened #34058 "Snackbar componenent message vanishes on mobile"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Occasionally (can't figure out what variable causes it yet) on mobile, the snackbar message and actions vanish. They show up for a second on the snackbar, then then message and actions disappear, leaving just an empty (but still visible snackbar). The snack

[2022-08-24 19:23] ccmarcosa opened #34059 "DateTimePicker mui component - onChange is trigger each time it detect minDateTime."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

onChange event is trigger each time it detect a minDateTime.

### Expected behavior 🤔

onChange should not be triggered every time a minDateTime is detected.

### Steps to reproduce 🕹

Steps:

1. Use two DateTimePicker component to represent Start Date Time

[2022-08-24 19:30] #33787 closed

[2022-08-24 22:13] jacobweberbowery opened #34061 "In shadow DOM, keyboard not working for Select menu"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When Select menu (and its popover) is displayed within a shadow DOM, arrow keys have no effect.

### Expected behavior 🤔

Arrow keys should select menu items.

(I'm not sure to what extent shadow DOM is supported, but it seems to be mostly working otherwise

[2022-08-25 04:54] 0xc00010ff commented on #34000
I'm seeing a similar issue. `v5.0.0-alpha.41`.

Simple use of Collapse
[code]

errors with
`Collapse.js:49 Uncaught TypeError: Cannot read properties of undefined (reading 'create')
    at Collapse.js:49:1
    at transformedStyleArg (createStyled.js:209:1)
    at handleInterpolation (emotion-serialize.browser.esm.js:139:1)
    at serializeStyles (emotion-serialize.browser.esm.js:264:1)
    at emot

[2022-08-25 05:17] ZeeshanTamboli commented on #33101
I believe this is not a bug. To have the disabled label on Select, you need to provide `disabled` state to FormControl which if `true`, the label, input and helper text is displayed in a disabled state. API docs: https://mui.com/material-ui/api/form-control/#props. You can also apply `disabled` prop to `InputLabel` which gives the desired label color in disabled state.

Closing this issue and the

[2022-08-25 05:17] #33101 closed

[2022-08-25 05:29] ZeeshanTamboli commented on #26488
`readOnly` prop was added for `Input` in #33654 which is already released.

[2022-08-25 06:14] vimutti77 opened #34063 "Allow to disable some theme-aware properties of sx"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Allow to disable some feature of sx in theme.

### Examples 🌈

Theme config
[code]
Result
[code]

### Motivation 🔦

I want to disable [sizing](https://mui.com/system/sizing) feature from theme-aware properties of sx.
So when I set `width: 1` it will  resolves to `wi

[2022-08-25 06:39] mnajdova commented on #33990
If you use `value` you need to also use `onChange` for making sure the state is updated with the value. See https://codesandbox.io/s/async-violet-lcr7b6

[2022-08-25 07:01] ZeeshanTamboli commented on #34000
@0xc00010ff This issue created by @zarepp is related to Joy UI's `List` component where it's signaled on a Collapsible list. We need more information on it. It's not clear.

You are saying the issue is on `Collapse` component. You may want to create a separate issue related to Joy UI's `Collapse` component. Also please provide a minimal reproduction using a CodeSandbox on that issue. The [issue te

[2022-08-25 07:04] mnajdova commented on #27933
Ah I haven't realized that the bug used v4. We don't accept fixes for v4, and it indeed seems like is already working in v5. I am closing this. Thanks @gauravsoti1 for the info :)

[2022-08-25 07:04] #27933 closed

[2022-08-25 07:34] khteh opened #34065 "React 18 support?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

[code]

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-08-25 07:46] michaldudak commented on #34065
@mui/styles is a legacy styling solution and will not support React 18 (see https://mui.com/system/styles/basics/)

[2022-08-25 07:46] #34065 closed

[2022-08-25 07:51] michaldudak commented on #34051
Duplicate of #33939

[2022-08-25 07:51] #34051 closed

[2022-08-25 08:03] michaldudak commented on #33965
When providing a custom `renderGroup`, you are responsible for rendering the group's children.
For example:
[code]

The docs don't state this clearly. I'll make sure they are updated.

[2022-08-25 08:07] mnajdova commented on #33138
Before spending some much time on this, please we aware that currently there are problems with using `@mui/styled-engine-sc` with next.js, see https://github.com/mui/material-ui/issues/29742

I could fix the problem locally by removing `@mui/styled-engine` in the package.json. This is the diff:

[code]

[2022-08-25 08:10] mnajdova commented on #33055
We can wait to see if the issue gets upvotes, in order to determine if it is worth adding. I would be oppose to it, as it adds unnecessary overhead, and can be easily done in userland.

[2022-08-25 08:10] #33055 closed

[2022-08-25 08:15] #33894 closed

[2022-08-25 08:15] mnajdova commented on #34063
Thanks for the issue. Is this related specifically for the sizing and the usage of the value `1` or are there other use-cases you have in your codebase?

It kind of reminds me of https://github.com/mui/material-ui/issues/33525 (although not too much related), which is about changing the behavior of the `sx` prop. I almost feel like people should be able to provide their own `sx` style function (ma

[2022-08-25 08:56] mnajdova commented on #34045
Can you maybe share in more details what you are trying to achieve. You can use controlled mode of the component to achieve this, or you can simply add the id to the `inputProps` (see https://codesandbox.io/s/trusting-forest-tkwwix?file=/src/App.tsx), but that would mean that it will be used as a an actual value int the text field, which may not be what you want.

[2022-08-25 08:57] mnajdova commented on #33939
It was fixed, will be available in the next release (next Monday).

[2022-08-25 09:22] vimutti77 commented on #34063
My original problem is only about the sizing.

But I think it would be great if we could customize the behavior of sx in userland.
So we can solve various issues without waiting for the official release.

In the example, we can customize the spacing of sx to support for aliases.
[code]

[2022-08-25 10:10] #33953 closed

[2022-08-25 10:11] mattixittam opened #34067 "incorrect borderRadius error thrown in development"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using a theme that has `shape.borderRadius` set to a string (`'4px'` in my example) and entering an sx-value for borderRadius on a component (Box for example), MUI throws an error:

[code]

This is because somehow the shape.borderRadius theme value is

[2022-08-25 11:13] Brodzko commented on #27980
I've been thinking about this recently and I think a good alternative would be to control the dark mode overlays and shadows separately? Based on the [Material Design Elevation spec](https://material.io/design/environment/elevation.html#elevation-in-material-design), shadows are determined by distance from the elevated surface to the closest surface underneath it - so e.g. a `Paper` with `elevatio

[2022-08-25 11:44] TamirCode commented on #33973
Sure, I'll get to it sometime today or tomorrow. Thank you

[2022-08-25 12:01] Methuselah96 opened #34068 "[Box] Type error when too many properties exist in JSX.IntrinsicElements"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `Box` component produces type errors when too many properties are added to JSX.IntrinsicElements.

### Expected behavior 🤔

The `Box` component should not produce type error when properties are added to JSX.IntrinsicElements.

### Steps to reproduce 🕹

[2022-08-25 12:03] #33992 closed

[2022-08-25 12:11] #33104 closed

[2022-08-25 12:44] ZeeshanTamboli commented on #33564
Thanks but it is fixed and released already.

[2022-08-25 13:19] michaldudak commented on #33260
@mui/core, I've created a poll to settle this finally: https://github.com/mui/material-ui/discussions/34069.

[2022-08-25 13:53] oliviertassinari opened #34071 "[text field][Joy] Autofilled state is indistinguishable"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The autofill UI state is indistinguishable:

<img width="707" alt="Screenshot 2022-08-25 at 15 49 55" src="https://user-images.githubusercontent.com/3165635/186682715-f1628b35-c6aa-4d08-a8f8-a8abdef7085c.png">

This prevents me as an end-user to know if, fo

[2022-08-25 13:54] ZeeshanTamboli commented on #34067
Thanks for reporting. Looks like a bug to me. But the issue is actually about `theme.shape.borderRadius` supporting a string type. If we provide a number in the borderRadius in sx prop, it multiplies with the provided borderRadius in theme i.e `theme.shape.borderRadius * sx's borderRadius`. So, theme's borderRadius shouldn't support string.

If borderRadius is a string in sx prop, it will not mult

[2022-08-25 13:55] TheWilks opened #34072 "[material-ui][Button] Height is at 36.5px instead of 36px"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Honestly this is such a small thing but it bugs me to no end when trying to setup things in the UI consistently. The button height measures out to 36.5px when bring inspected in Chrome/Firefox/Edge when the height should be at 36px.

There seem to be some o

[2022-08-25 17:38] oliviertassinari commented on #33260
Here are the different options that seem [to emerge](https://github.com/mui/material-ui/pull/33411#discussion_r922350848). This is about the CSS class name. We might also want to consider the impact for overrides in `theme.components.x`:

### A. `CompanyComponentName`

[code]

My initial assumption was that we were following this. I like how it's always the same. Sharing Mui between different prod

[2022-08-25 17:42] oliviertassinari commented on #33260
Here are the different options that seem [to emerge](https://github.com/mui/material-ui/pull/33411#discussion_r922350848). This is about the CSS class name. We might also want to consider the impact for overrides in `theme.components.x`:

### A. `CompanyComponentName`

[code]

My initial assumption was that we were following this. It's always the same. Sharing Mui between different products which

[2022-08-25 17:56] sforehand opened #34074 "[menu] SRs not properly announcing expanded state"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If you create a menu and apply the proper aria properties, the screen reader does not properly announce when the menu is expanded.  The screen reader announces the menu is collapsed however.

I have verified with NVDA (Windows) and the OS X VoiceOver.

###

[2022-08-25 22:45] ViniciusMRosa commented on #31835
The same here, thanks for sharing @williamrjribeiro

[2022-08-25 23:50] 0xc00010ff opened #34075 "Transitions not working in Joy when using CssVarsProvider. Cannot read properties of undefined (reading 'create')."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version
@mui/joy 5.0.0-alpha.42
@mui/material 5.10.1

### Current behavior 😯

When trying to use a Transition like Collapse within a project that extends the Joy theme and uses CssVarsProvider

You get error

<img width="407" alt="Screen Shot 2022-08-24 at 9 48 34 PM" src="https://user-ima

[2022-08-25 23:55] 0xc00010ff commented on #34075
Running example:
### https://codesandbox.io/s/objective-bas-2p1zwv?file=/src/App.tsx

Note:
- Commenting out just the `<Collapse>` tags (lines 57 & 64) will sanity check that regular components work as expected
- Commenting out just the `<CssVarsProvider>` tags (lines 55 & 67) will sanity check that the Transition works without CssVarsProvider

[2022-08-26 00:12] 0xc00010ff commented on #34075
Potential workaround from the docs: https://github.com/mui/material-ui/issues/34075
Going to try to deepMerge an empty Mui theme to populate the missing transitions property. ⏳

[2022-08-26 00:21] 0xc00010ff commented on #34075
Yeah actually that works. Adding the Mui themes to the Joy theme populates the missing `transitions` property.

An example Joy theme that works with Transitions and CssVarsProvider.
Pretend this is `MyTheme.tsx`
[code]

[2022-08-26 00:28] 0xc00010ff commented on #34075
I had seen this in the docs before but just didn't look at it hard enough.
Might I suggest a **Transitions** page in the Joy docs that just has a short blurb like:

or better yet- a solution that works without deepmerging themes. Perhaps copying over the transition components into Joy. Or giving the Joy default theme an empty Transitions property that will bolt up to Material UI components.

I ass

[2022-08-26 01:38] Methuselah96 commented on #34068
For those facing this issue, I was able to workaround it by patching [Box.d.ts](https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Box/Box.d.ts) like so:

[code]

I'm not sure if this is a good long-term fix, but it seems to work from what I can tell.

[2022-08-26 02:00] Methuselah96 commented on #34068
The above solution does seem to lose automatic typing for event handlers (i.e., `onContextMenu` for a normal `div` `Box`), but it is much better then it not being able to type-check at all.

[2022-08-26 04:06] miketwheeler commented on #31085
If someone else ends up here - https://codesandbox.io/s/v4005
try and ridding an encapsulating component of the AppBar if you have one, making the AppBar the parent itself worked for me

[2022-08-26 05:22] ZeeshanTamboli commented on #34067
If you provide a theme value as a string, MUI will explicitly throw error informing you that it is not a valid value and you need to change it. Although it is not being used for multiplication with the sx value, the value provided to theme should be correct for other sx prop values.

Come to think of it, I won't consider this issue as a bug that it is throwing error. But yes, the theme.shape.borde

[2022-08-26 05:22] #34067 closed

[2022-08-26 06:49] #33893 closed

[2022-08-26 06:54] T04435 commented on #12044
I had the same issue, I think is not a problem from MUI but users.

If you have the `<Snackbar />` in a child component it won't matter which `z-index` you add, it will show behind any parent component that also has `pos: absolute`, that is how css absolute works parents will be above always.

So solution:
Move it out of the nested DOM element with a `<Portal />` as per @jsholzer comment https://g

[2022-08-26 06:58] mnajdova commented on #33050
This is expected. We can catch keyboard events only if the select is on the page, which is not true in this case (the browser's address bar is outside of the web page). In order to understand this, imagine what would happen if a website would be able to capture all keys pressed in the address bar :)

I hope the explanation helps.

[2022-08-26 06:58] #33050 closed

[2022-08-26 07:11] Rajat-Bhatt opened #34078 "TimePicker Issue"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Here I attached a video link to the current behavior of the time picker. The Time picker automatically gets the current date and time even if I do not select any of these.

https://screenrec.com/share/CEuelVBgSh

### Expected behavior 🤔

_No response_

###

[2022-08-26 07:57] mnajdova commented on #32968
From what I could find, this looks like a firefox issue. See:
- https://bugzilla.mozilla.org/show_bug.cgi?id=654072
- https://github.com/facebook/react/issues/21459
- https://github.com/whatwg/html/issues/7292

Doesn't look like it is related to the Material UI component.

[2022-08-26 07:59] siriwatknp commented on #34075
I suggest that you visit the guide on ["Using Joy UI and Material UI together"](https://mui.com/joy-ui/guides/using-joy-ui-and-material-ui-together/).

[2022-08-26 08:09] 0xc00010ff commented on #34075
My issue is fixed by following that guide, which is what my code sample above implements.
All good now. Thanks.

[2022-08-26 08:09] #34075 closed

[2022-08-26 08:34] hbjORbj commented on #33413
Can you explain what your solution was?

[2022-08-26 09:09] michaldudak commented on #33416
I've just created a poll to make a decision: #34080

[2022-08-26 10:00] michaldudak commented on #33936
Thanks for the report, @hb250131. Would you like to contribute to the project by creating a PR?

[2022-08-26 10:04] alexfauquette commented on #33416
Maybe a  dumb proposal, but could we use "component slot" instead of "slot" in the doc and keep the prop naming as it is?

[2022-08-26 10:09] noobDev31 commented on #33969
Guys any eta for this?

[2022-08-26 10:13] michaldudak commented on #34038
AFAIK having an open Autocomplete without focus is not a scenario we support. The docs don't state this clearly, though. I'll make sure they are updated.

[2022-08-26 10:30] michaldudak commented on #33996
I think it's a sensible request.
However, unless there's a significant number of upvotes from the community, we won't have the bandwidth to implement this. Feel free to open a PR if you'd like to give it a shot.

[2022-08-26 12:11] #33944 closed

[2022-08-26 13:37] svenssonaxel opened #34081 "React 18 not supported by latest published @material-ui/core"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

### Expected behavior 🤔

`npm install` succeeds

### Steps to reproduce 🕹

[code]

### Context 🔦

_No response_

### Your environment 🌎

[code]

[2022-08-26 13:39] svenssonaxel commented on #34081
It seems like current source supports react 18 in all places but one:
[code]

[2022-08-26 13:40] aifeipeng commented on #34036
Thank you for taking your time. Not sure of the exact reason yet but we have a monorepo and I guess there is some dependency stuck at `@types/react 17.0.11`.  So yeah that was our issue basically.

So if anyone else encounters this, be sure to check what version of `@types/react` you're actually using. Run `yarn list @types/react` if you're using yarn for example.

Thanks and sorry for taking your

[2022-08-26 13:40] #34036 closed

[2022-08-26 14:55] michaldudak commented on #33303
Let's just fix it. @mlgrn would you like to take a shot at it?

[2022-08-26 15:50] parulraheja98 commented on #29727
Is there any update on this? Still able to reproduce this issue locally.

[2022-08-26 17:16] sjdemartini opened #34083 "[Select] `renderValue` has incorrect TypeScript types when `displayEmpty` is `true`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

For the `Select` component, as of https://github.com/mui/material-ui/pull/33088, `value` accepts `T | ''` as the type, but `renderValue` still only has the type `(value: T) => React.ReactNode`. This is incorrect since if `displayEmpty` is `true`, `renderVal

[2022-08-26 19:59] Nikhil1920 opened #34084 "[AppBar] color prop ignored when defaultMode="dark" for CssVarsProvider"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

color prop is ignored on appbar when default mode is set to dark in CssVarsProvider

### Expected behavior 🤔

color prop should be respected even when default mode is set to dark

### Steps to reproduce 🕹

Minimal reproduction is at https://codesandbox.io/s

[2022-08-26 21:16] c3-joshsi opened #34085 "[docs] API reference layout overflow"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Because of the layout/styling of pages in MUI docs, when there is overflow content, it's annoying to have to scroll to read when there is so much empty space.

https://user-images.githubusercontent.com/107882367/186991172-73a74b8b-4a6c-43bc-a7d7-3834d3d7c75

[2022-08-26 21:54] PrimulaX commented on #33878
I don't know how it's possible but after updating `InputBase` stop accepting styles.
here is my pkgs:
[code]
And downgrade causes the same problem as mentioned in issue.

Any idea?

[2022-08-27 00:29] jasham opened #34088 "Typo mistake in readme.md file"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In readme.MD file the line ***[MUI System](https://mui.com/system/getting-started/overview/) is a collection of CSS utilities to help you rapidly lay out custom designs.***

***layout*** is written as ***lay out***

### Expected behavior 🤔

it should be ***

[2022-08-27 01:05] indrasen536 opened #34089 "Trigger api call/ function call on setting the default value of MUI Select"
In Short : Execute the onChange event when default value is set in Material-UI Select Component.

When you will run this react component, you will find a Material UI Select Component with a defaut selected option as 10 which is being set using useState hook.How to make an API call at the same time when the default value is being set. The onChange props will only execute when we change the dropdown

[2022-08-27 08:06] moezguedri commented on #31890
I am unable to download  icons-material-5.10.2.tgz from https://registry.yarnpkg.com/@mui/icons-material/-/icons-material-5.10.2.tgz
I tried yarn, npm, curl and from browser. All fail.

[2022-08-27 14:36] ivp-dev opened #34092 "MuiBase: Select option in SelectUnstyled component causes maximum call stack error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Choosing option in Select component cause an maximum call stack error

![image](https://user-images.githubusercontent.com/24565710/187034376-9060629a-f4d8-4995-b531-43147c5b4f6f.png)

### Expected behavior 🤔

Option should be selected

### Steps to reproduc

[2022-08-27 15:53] ivp-dev opened #34093 "[docs] Demo UnstyledSelectSimple crashes"
- [x] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20UnstyledSelectSimple%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/base/react-select/
2. Open DevTool and **toggle mobile view** (!important), than try to select option in the demo control
3. demo *Unstyled

[2022-08-27 15:54] #34092 closed

[2022-08-27 16:50] ivp-dev opened #34094 "Should be onBlur"
Name event callback should be onBlur

https://github.com/mui/material-ui/blob/0afdf84f23aa55264e344833d5c0df490fb88584/packages/mui-base/src/SelectUnstyled/useSelect.ts#L156

[2022-08-28 03:52] mayuehit commented on #13501
that's helpful !!!

[2022-08-28 04:07] zignis opened #34112 "[Select][Joy] Starts to slow down when having large number of options"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I guess the mouse events are causing the `Select` component to slow down significantly when having a large number of options.

### Expected behavior 🤔

The hover and scroll behaviour should be smooth.

### Steps to reproduce 🕹

Steps:

1. CodeSandbox: https

[2022-08-28 06:53] wjonesusna2012 opened #34113 "[TextControl] First element in container margin interferes with label absolute positioning"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When placing a TextField or FormControl component inside of a container element such as a stack or DialogContent element, the first TextField element doesn't have any margin-top applied to it. This causes the label, onFocus to render outside the bounding bo

[2022-08-28 10:29] Lutif opened #34114 "support secondary colrCircularProgress"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

support secondary color for determinate `CircularProgress` similar to determinate linear progress but customisable. customizable

### Examples 🌈

To achieve something similar currently, we have to use two `CircularProgress` over each other. This [hacky solution](htt

[2022-08-28 12:41] bring-shrubbery commented on #25852
I've come up with a solution, and it's pretty simple:

1. Wrap your app in both theme providers at the same time.
2. Join your ChakraUI and MaterialUI theme together using some sort of `deepMerge` function.
3. It works!

The end code will look something like this:

[code]

**This works because** MaterialUI and ChakraUI both use [ThemeUI-based](https://theme-ui.com) themes, so they are technically

[2022-08-28 14:07] aestheticsdata opened #34117 "Autocomplete filled with object returns a string"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

selectedCategory is an object : {ID: string, userID: string, name: string, color: string} which is in the value props of the Autocomplete.
but when the form is submitted the value return by the Autocomplete is a string which is the property name of

[2022-08-29 00:49] zavarka commented on #32269
Just wanted to add currently TypeScript is not aware that you can pass the colors defined in the theme.  The following values are not listed in the auto-completion suggestions:

[code]

It would be helpful to have these included in the `color` type.

[2022-08-29 05:38] #34000 closed

[2022-08-29 06:51] michaldudak commented on #33416
There are no dumb proposals, @alexfauquette :). If we're going to stay with "components", we'll have to adjust the docs to match the API.

Please make sure to vote in the poll.

[2022-08-29 07:09] #34094 closed

[2022-08-29 07:59] PunitSoniME commented on #34088
@jasham

Would you like to create a PR of this issue ?

[2022-08-29 08:00] nguyenbathanh commented on #27149
Did you manage to resolve this issue?

[2022-08-29 08:03] jasham commented on #34088
Thanks, @PunitSoniME. I will create PR and submit it.

[2022-08-29 09:10] #34029 closed

[2022-08-29 10:07] flaviendelangle commented on #34081
`@mui/styles` is legacy, I don't think the team will spend time making it compatible with React 18.
Unless they just need to update the `package.json` and there is no incompatibility in the codebase.

[2022-08-29 11:09] #33565 closed

[2022-08-29 11:09] #33703 closed

[2022-08-29 12:11] #33169 closed

[2022-08-29 12:54] Janpot commented on #33416
There's another place where we use pascalcase for properties that are not React components: under the theme `components` property. Not that it should be part of this RFC, bit would it make sense to start thinking about moving these to camelcase as well?

[2022-08-29 13:25] #33457 closed

[2022-08-29 13:27] michaldudak commented on #33416
I'd say it's less of an issue because there are no inconsistencies like in case of components and componentsProps. We could create another RFC to discuss it.

[2022-08-29 17:08] a2441918 commented on #22426
[Trinity LifeSciences](https://trinitylifesciences.com)

[2022-08-29 17:12] a2441918 opened #34126 "[Select][base] Type Error in MultiSelectUnstyled.types.d.ts"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Type Error while doing a build

### Expected behavior 🤔

Build should not fail

### Steps to reproduce 🕹

Steps:

1. Install latest version of @mui/material and @mui/styled
2.
3.
4.

![image](https://user-images.githubusercontent.com/4927454/187256469-d6830

[2022-08-30 02:13] Nick6464 opened #34128 "DataGridPremuim using Aggregation and Row Grouping ignores hide prop in Column Definitions"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

All columns are shown that are in the Column definition regardless of "hide: true" being present.

### Expected behavior 🤔

Columns with hide: true should hide as they do for a standard DataGrid

### Steps to reproduce 🕹

Steps:

1. Sandbox the Aggregation

[2022-08-30 02:30] SunShinewyf opened #34129 "Tooltip with styled theme can not set sx props for the children element"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

the codeSandbox link is https://codesandbox.io/s/strange-hamilton-2sjtkj?file=/demo.tsx
setting `sx` props for Tooltip does not take effect for the Button element
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/11244400/18733484

[2022-08-30 03:02] siriwatknp commented on #34128
@m4theushw Can you transfer to MUI X

[2022-08-30 05:36] jasham commented on #34088
any update @PunitSoniME on this issue?

[2022-08-30 05:48] siriwatknp commented on #34114
In my opinion, what you propose should be in the customization part.

The hacky solution could be replaced with `:before` psuedo element. https://codesandbox.io/s/friendly-worker-k6pwfx?file=/demo.tsx

[2022-08-30 05:51] #34114 closed

[2022-08-30 06:02] siriwatknp commented on #34117
Please share the reproducible CodeSanbox, thanks!

[2022-08-30 06:09] siriwatknp commented on #34089
This should be the expected behavior of `onChange`.

You might want to take a look at [`useEffect`](https://reactjs.org/docs/hooks-effect.html) from the official React docs.

[2022-08-30 06:10] #34089 closed

[2022-08-30 06:42] PunitSoniME commented on #34088
@jasham

Thanks for creating a PR

And about updates, I am just a normal contributor like you.

Someone else will review, approve and merge your PR.

Best of luck 👍

[2022-08-30 06:56] jasham commented on #34088
Oh Thanks @PunitSoniME

[2022-08-30 08:01] mnajdova commented on #19113
As https://github.com/mui/material-ui/pull/32735 was merged, for everyone that would like to try an updated relaxed typings for `OverridableComponent` (one of the bottlenecks that were reported in this issue), can do it from version 5.10.3 by using the following import to the module augmentation that relaxes the types:

[code]

You can see more details on the changes in the PR https://github.com/m

[2022-08-30 08:01] #19113 closed

[2022-08-30 08:34] ZeeshanTamboli commented on #32659
We can close this issue as this is not a MUI problem but a TypeScript limitation. Similar to #15697 to some extent.

[2022-08-30 08:34] #32659 closed

[2022-08-30 09:04] florianbepunkt commented on #19113
@mnajdova Thanks. How exactly is this used? Do we only need to import it once, e. g. in app.tsx `import type {} from '@mui/material/OverridableComponentAugmentation';`?

[2022-08-30 09:17] ypresto commented on #19113
Sorry for I cannot do anything for while on this.

I revised for OverridableProps performance just a little bit and found that recent TypeScript maybe became more lazy at least for completion.

For `<Button>`, `component` prop does not show up in completions (of course I can specify it without error)

<img width="313" alt="image" src="https://user-images.githubusercontent.com/400558/187394736-3f04

[2022-08-30 09:18] mnajdova commented on #19113
Yes, you need to import it only once, for example in your `index.tsx` file.

[2022-08-30 09:20] mnajdova commented on #19113
@ypresto thanks for the response.

I've seen this reported already in https://github.com/mui/material-ui/issues/33799

I suppose you are trying the default `OverridableComponent` version, not the one from the module augmentation.

This means that the perf would be even worse.

[2022-08-30 09:25] michaldudak commented on #34126
It's caused by TypeScript 4.8 stricter checks. The fix is already in progress.

[2022-08-30 09:27] michaldudak commented on #34112
Thanks for the report. I'll look into it.

[2022-08-30 09:38] ypresto commented on #19113
Yes #33799 seems what I see. :pray:
Current performance in my env is way good without improved version of OverridableComponent (note that I recently bought M1 Pro MacBook Pro 💻).
But when #33799 is fixed in the future, the perf would be worse than current without the improvement, I think.

[2022-08-30 10:03] joserodolfofreitas commented on #33416
I agree. The changes are most welcome, although we kinda have a special case on date pickers, particularly considering we'll release the first v5 stable this week, and the v6 by the end of the year (packed with lots of breaking changes).

Would it help to call them slotComponents and slotProps?

[2022-08-30 11:09] #34033 closed

[2022-08-30 11:48] michaldudak commented on #34113
Hi, thanks for the report. I don't think we can add margins or padding now without breaking existing designs. The workaround can be applied in userland and is pretty simple - add a top padding to the Stack or other container that has a TextField showing this issue.

[2022-08-30 12:35] oliviertassinari commented on #34081
Duplicate of #32685

[2022-08-30 12:35] #34081 closed

[2022-08-30 12:42] flaviendelangle commented on #34081
@oliviertassinari are you sure it's a duplicate ?
#32685 talkes about React 18 with MUI v4
This one talk about React 18 with `@mui/styles` v5 as far as I understand

[2022-08-30 12:42] katanagari7c1 opened #34133 "[TextField] Multiline TextField crashes Storybook's storyshots tests"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In a project I'm working on, we're testing several components that uses material-ui elements using Storybook. Recently we noticed that if we want to use a TextField with the multiline prop, it works as expected in the application and in Storybook, but when

[2022-08-30 12:46] oliviertassinari commented on #34081
In the first message of @svenssonaxel, he specifically mentions v4:

npm ERR! peer react@"^16.8.0 || ^17.0.0" from @material-ui/core@4.12.4
npm ERR! node_modules/@material-ui/core
npm ERR!   @material-ui/core@"*" from the root project

Then in his section mentions, he branches to v5 and `@mui/styles` which is another issue: #32142. I went with ignoring it, as I assume he looked at the codebase wit

[2022-08-30 12:49] oliviertassinari commented on #34081
On a related now, our GitHub workflow is not working :/

https://github.com/mui/material-ui/blob/f8a1779c3aa910d8c533af5674cd2a9d19a6809e/.github/workflows/issue-mark-duplicate.yml#L16-L17

[2022-08-30 14:19] markhalonen commented on #19113
Thank you so much for the effort on performance @mnajdova! Good performance is super critical for productive development.

Regarding

I think this is an interesting metric, but what I think what people are complaining about is autocompletion time in VSCode, which uses tssserver:

https://shopify.engineering/migrating-large-typescript-codebases-project-references

I am not aware if the TypeSense pr

[2022-08-30 14:59] tech-meppem commented on #30414
I can confirm this is happening still.

I believe what's happening is that when rendering the drawer / paper component, it deletes/replaces the existing styles, instead of just overriding the ones that have changed.
This means that the `transform` style is deleted, and as such, the discovery doesn't work.
Although, that's only a guess based on logging output of styles that I've been debugging.

I'

[2022-08-30 15:31] yaseenshar opened #34135 "Error while using mui5 Button"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

Error while using mui5 Button with const enterKeyframe=0,_system.keyframes`\n  0% {\n    transform: scale(0);\n    opacity

pakage.json

"de

[2022-08-30 17:04] michalzard commented on #10934
@mui/material": "^5.10.2 and this issue still remains when type is specified as number

[code]

[2022-08-30 18:53] arronhunt opened #34136 "Inconsistent output values with the `darken` function."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using MUI's internal `darken` function ([material-ui/packages/mui-system/src/colorManipulator.js](https://github.com/mui/material-ui/blob/198f67996ca7983dd4530ee87af998f65a211899/packages/mui-system/src/colorManipulator.js)) we see very different color

[2022-08-30 19:12] #34126 closed

[2022-08-30 19:30] michaldudak commented on #33000
Could you please share what's your use case here? The Select component is meant to replace and hide the native input. The ability to customize the type was deliberately disabled in #17390

[2022-08-30 19:40] michaldudak commented on #34061
We haven't been testing the components in such context. It's not a popular use case after all.
If you'd like to investigate the problem, I'll be happy to assist you with a PR.

[2022-08-30 19:42] michaldudak commented on #34047
Would you be able to provide a codesandbox or a repo I could clone to replicate this issue?

[2022-08-30 20:18] paulschreiber opened #34137 "Stepper and Step use unstructured markup"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently, Stepper and Step generate <div>s for markup, which is not semantic/structured.

### Expected behavior 🤔

Using a list would better structure the list and its members for screen reader users:

[code]

### Steps to reproduce 🕹

[code]

### Context

[2022-08-30 20:41] lenzi-erickson opened #34139 "Using @mui/x-date-pickers-pro and Typescript, Have to add @mui/x-date-pickers package to modify MuiClockPicker in theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If I only use the `@mui/x-date-pickers-pro` package with this line `import type {} from "@mui/x-date-pickers-pro/themeAugmentation";` then I get errors when trying to modify `MuiClockPicker` in the theme file: `Object literal may only specify known properti

[2022-08-30 20:52] jmsbrett commented on #31835
I had this issue and could not solve it with the above solutions.

Uninstalling and Reinstalling then rebuild:
[code]

[2022-08-30 20:59] lenzi-erickson commented on #34139
I found this [in the docs](https://mui.com/x/react-date-pickers/getting-started/#typescript):

So it appears my assumptions are correct. Maybe some types are missing in the -pro package?

[2022-08-30 21:23] lenzi-erickson commented on #34139
Moved this to mui x issue: https://github.com/mui/mui-x/issues/5965

[2022-08-30 21:23] #34139 closed

[2022-08-31 00:34] elyobo commented on #29816
Is there a plan to un-experimental the `experimental_sx`?

[2022-08-31 04:06] ifatB opened #34142 "Error with @mui/types version when trying to install mui packages"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Attempting to install @mui/material using the command:
_npm install @mui/material @emotion/react @emotion/styled_

I receive the error:
_No matching version found for @mui/types@^7.2.0_

When trying to install @mui/types@7.2.0 I receive the same error.

Whe

[2022-08-31 04:10] Nick6464 commented on #34128
I'll move it across now, thanks for the heads up!

[2022-08-31 06:27] mnajdova commented on #19113
Thanks for sharing this blogpost @markhalonen I will read trough it now. From scanning it, seems like https://github.com/microsoft/TypeScript/wiki/Performance is already linked there (which is the reference I used), but if I find out more about this, will test it out and provide more information here.

[2022-08-31 07:02] migo opened #34148 "Build error with preact and parcel because of missing useId hook"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I build my application with parcel in prod mode, I get the following error:

[code]

The problem seems to be that preact does not support the `useId` hook yet. However, since useId is only available in react 18 and react 17 is still supported by mui, I

[2022-08-31 07:19] thomas-kahn opened #34149 "[docs] DataGridAPI table gets clipped horizontally due to a CSS-parameter"
The documentation for the DataGrid API gets clipped horizontally due to a CSS-parameter.

![image](https://user-images.githubusercontent.com/7136350/187616630-afdb33b6-0ebc-4806-8a22-eeef9107fe96.png)

The CSS-parameter that restricts the width of the page is:
`max-width: 105ch;` and is set on the `main-content` element (`MuiContainer-root css-1j45p21`). If you disable this rule you can see the co

[2022-08-31 07:33] michaldudak commented on #33924
You can render either Button or IconButton conditionally, based on the `useMediaQuery` result:
[code]

[2022-08-31 07:33] #33924 closed

[2022-08-31 07:44] lancej1022 commented on #30210
Id like to reopen this issue because we're experiencing the exact same problem as what OP reported when bundling our component library with Webpack, so I don't think its a Vite-specific issue.

For context, my team manages an internal component library that is based on `mui` and gets consumed by all other frontend developers at my job. This component library imports MUI components/helpers and make

[2022-08-31 07:46] michaldudak commented on #34088
https://github.com/mui/material-ui/pull/34122#issuecomment-1232583246

[2022-08-31 07:46] #34088 closed

[2022-08-31 07:48] michaldudak commented on #34093
It has been fixed in the last release with #33882.

[2022-08-31 07:48] #34093 closed

[2022-08-31 07:57] lancej1022 opened #34150 "React "each child in a list should have a unique key" error when bundling MUI"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

bundling `mui` in production mode generates key errors for seemingly no reason

### Expected behavior 🤔

bundling mui in production mode does not generate key errors for components that arent actually part of a list

### Steps to reproduce 🕹

Steps:

1. To

[2022-08-31 08:02] michaldudak opened #34151 "[MultiSelect][base] Unstyled MultiSelect requires double tap to select items on mobile Chrome"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On mobile Chrome (on Android) or on Chrome/Edge with mobile emulation enabled, the MultiSelectUnstyled required two taps to select an item. The first tap only highlights an item.

### Expected behavior 🤔

The behavior should be consistent with iOS and deskt

[2022-08-31 08:03] mnajdova commented on #34074
Thanks for the report. Can you please share a benchmark you've used for how it should behave? We use https://www.w3.org/WAI/ARIA/apg/patterns/menubutton/ as a reference for the behavior & aa1y.

[2022-08-31 08:17] SpiritMod commented on #33905
+1
<img width="1082" alt="Знімок екрана 2022-08-31 о 11 16 48" src="https://user-images.githubusercontent.com/6351540/187629325-7c899d3c-cfb3-4df8-a7a1-45ac283cd173.png">

[2022-08-31 08:27] mnajdova commented on #32891
Duplicate of https://github.com/mui/material-ui/issues/31835

[2022-08-31 08:27] #32891 closed

[2022-08-31 08:30] mnajdova commented on #32917
@amok ultimately these components will depend on the `useButton` hook from @mui/base so they would inherit all features. If you are willing (or someone from the community) to add this prop on these components now, @michaldudak can help with the implementaiton.

[2022-08-31 08:33] mnajdova commented on #32917
Btw, as a workaround, you can add the `aria-disabled` prop and the `Mui-disabled` class in order to achieve the experience you want. See https://codesandbox.io/s/broken-cache-5ffve3?file=/demo.tsx

[2022-08-31 08:34] mnajdova commented on #32930
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-31 08:38] mnajdova commented on #32929
It is rendered inside the `Box`. I don't understand what is the problem:

[2022-08-31 08:43] mnajdova commented on #32933
You forgot to set the `value` on the `AntTabs` component. See https://codesandbox.io/s/sweet-grass-lvb9er?file=/src/App.js

![image](https://user-images.githubusercontent.com/4512430/187636818-c67f3550-e37a-42af-86be-23ce2fc248a6.png)

[2022-08-31 08:44] #32933 closed

[2022-08-31 08:47] siriwatknp commented on #34135
Please provide a reproduction via CodeSandbox and describe the error thoroughly.

[2022-08-31 08:50] mnajdova commented on #32906
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-31 08:50] thomas-kahn commented on #34149
Sure!
https://mui.com/x/api/data-grid/data-grid-pro/

[2022-08-31 08:58] mnajdova commented on #32986
As there is no such things as previous sibling selector, we would need to add these styles in the `MenuList` component (which up until now didn't have any styles). However, before we do that, I would wait to see if the issue will get some traction. If it doesn't then we can consider this with not common scenario and you can add the style on your end.

[2022-08-31 08:58] siriwatknp commented on #34085
@oliviertassinari Currently, the section has max-width of `105ch`, should it increase for widescreen monitor?

[2022-08-31 09:09] MikhailKalinnikov commented on #4904
Я сделал проверку в модели и ошибка исправлена.
К примеру:
  const somethingtModel = { ...something, childOfSomething: something.childOfSomething ?? '' };
<AvForm model={somethingtModel}........
  <AvGroup>
              <AvField
                   .......
                  name="childOfSomething"
                />
      ............

[2022-08-31 09:17] Janpot opened #34153 "[core] `npx @mui/envinfo` gets stuck indefinitely"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Try running `npx @mui/envinfo`. Nothing happens

### Expected behavior 🤔

It shows output from `envinfo`

### Steps to reproduce 🕹

Steps:

1. run `npx @mui/envinfo`
2. confirm download package if necessary
3. wait forever

### Context 🔦

Trying to add comp

[2022-08-31 09:24] Janpot commented on #34153
🤔  Trying a bit more, it seems to only happen in my fork of `mui/mui-toolpad` and in `mui/material-ui-x`

[2022-08-31 10:18] SimonMulquin commented on #30099
Hello @deviprsd and @reicek, I just found a solution on here:

https://mui.com/material-ui/migration/troubleshooting/#storybook-and-emotion

This worked perfectly for me 🙂

[2022-08-31 10:26] teetotum opened #34154 "[Select] property 'SelectDisplayProps' type is too restrictive: should allow data-* attributes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm on version 5.5.1 (according to my package-lock.json)

TypeScript will complain when I try to set `data-testid` via `SelectDisplayProps`.
Currently I need to silence TypeScript; either like this:
[code]
or like in the first example of this [issue](https:

[2022-08-31 10:27] SimonMulquin commented on #30099
Hello guys,

I found an alternative solution here: https://mui.com/material-ui/migration/troubleshooting/#storybook-and-emotion

It works perfectly for me 🙂

[2022-08-31 10:32] SebastianCB-BCV opened #34155 "Textfield UI overlap bug when operator is present"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you use the following TextField component from `import { TextField } from '@mui/material'`
and type in some operator like - or + in the middle of the text field, fx: "145-231" or "12+51", the label then goes back down in the text field and merges with

[2022-08-31 10:59] oliviertassinari commented on #34085
@siriwatknp I would propose this solution for the problem: https://github.com/mui/material-ui/issues/31745#issuecomment-1121095958.

I think that we should be careful about the max width. As far as I know, the value of a small max width is to limits the amount of horizontal distance the eye has to travel before it has to go to the next line. The longer the distance is, the more likely our eye will

[2022-08-31 11:04] mnajdova commented on #33969
Can you update the Codesandbox to actually show the issue? Yep, the accordion expects at least one element to be defined as children, as it shows it as a title in the accordion itself. Everything rest is considered a content that will be shown when the accordion is opened. This ensures that a11y will work as expected.

[2022-08-31 11:09] #33607 closed

[2022-08-31 11:12] zaverden commented on #33799
@pratikkarad I bumped into this today.

Because of how types are written, TS does not gives you autocompletion for `component` prop. but TS knows about it

I mean, this code does not report any type error, so TS knows about `component` prop:
[code]

if you click through "helpers types" from MenuItem definition you'll end up in OverridableComponent, and this is where `component` prop is defined

ht

[2022-08-31 11:19] zaverden commented on #34028
extra context:

ListItemButton forces compoment to `a` if `href` is set

https://github.com/mui/material-ui/blob/dfc0b89c665de8e5e3e4ecf68d8c782e74dbb65c/packages/mui-material/src/ListItemButton/ListItemButton.js#L180

I believe the idea was that undelying `ButtonBase` will handle `LinkComponent`. But `ButtonBase` uses `LinkComponent` with href only if `component` is button

https://github.com/mui

[2022-08-31 11:58] vorbrodt commented on #34042
Does #33994 fix it?  Otherwise I would like this issue

[2022-08-31 12:29] ifatB commented on #34142
This was a problem with our nexus library.

[2022-08-31 12:29] #34142 closed

[2022-08-31 12:30] amok commented on #32917
@mnajdova thank you for the reply. We're working on making our app compliant with a11y requirements.
It appeared that actually a lot of the MUI's components do not support `aria-disabled` feature: f.i. `Button`, `Checkbox`, `AccordionSummary`, `Chip`, `IconButton`, `Radio`, `Select`, `Tab`, `ToggleButton` etc. We've implemented wrappers for those components, f.e.:

![image](https://user-images.git

[2022-08-31 12:33] #33993 closed

[2022-08-31 13:38] sforehand commented on #34074
hi @mnajdova .  Thanks for the response.  I believe the benchmark you are using is correct.  When the menu is opened, the aria-expanded is properly set but neither NVDA (windows) or VoiceOver (OS X) reads the expanded property.  I am not sure if it concerns the menu taking focus or some sort of timing issue concerning a state change.  Originally I believed it was my local code but the same issue o

[2022-08-31 14:02] sforehand commented on #34074
@mnajdova Hi.  Here is a screenshot of NVDA after the menu is expanded.  You can see it is not reported as expanded

[https://ibb.co/Jx9yggk](url)

[2022-08-31 14:04] ZeeshanTamboli commented on #34154
This is similar to #18874. It's a limitation of TypeScript. Upvote https://github.com/microsoft/TypeScript/issues/28960 to get this issue fixed.

You can extend the `SelectDisplayProps` as shown in [StackOverflow example](https://stackoverflow.com/a/61482645).

[2022-08-31 14:04] #34154 closed

[2022-08-31 16:49] teetotum commented on #34154
But shouldn't the `SelectDisplayProps` type rather defined to be a combination of `React.HTMLAttributes<HTMLDivElement>` with some `HTMLDataAttributes` type in the material-ui d.ts file? So to allow those attributes?
Like this:
[code]

[2022-08-31 16:59] alyssaMoonStruck commented on #32727
But why is this the case? It should work in either instance. Please advice - issue is not resolved. unsure why the thread has been closed.

[2022-08-31 17:11] baruahmunmi005 commented on #30676
@mnajdova, could you please provide clearable={true} option for "MobileDatePicker" too? It will be very useful.

Thanks in advance!!

[2022-08-31 17:19] jmca commented on #32917
As an additional note, since this won't block tabbing onto the element and clicking the enter key, you might also want to nil out the relevant handlers (like `onClick` for instance).

[2022-08-31 22:47] Hye-Dev commented on #22426
Product: Hye Cloud
Business: Hye Hosting LLC.
Link: https://cloud.hye.gg
Screenshot:
<img width="1470" alt="image" src="https://user-images.githubusercontent.com/55052584/187797909-501a778f-d38c-4e96-9db9-9acb378f7ab4.png">

[2022-08-31 23:05] ggascoigne commented on #34155
you get the same thing if you enter "1.2e" and forget the exponent value.

[2022-09-01 04:47] ZeeshanTamboli commented on #34154
@teetotum It's a good proposal👍. But template literal types — ``data-${string}`` — are available since TypeScript v4.4 and the minimum version of TypeScript that MUI requires is 3.5 ([docs](https://mui.com/material-ui/getting-started/supported-platforms/#typescript)). It may throw an error for users who use TypeScript version less than 4.4 with MUI.

I'll add "waiting for upvotes" label.

[2022-09-01 04:57] ZeeshanTamboli commented on #34149
@thomas-kahn It's horizontlly scrollable.

[2022-09-01 06:02] nathanlao opened #34162 "MUI doesn't support react version 18.2.0"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: client@0.1.0
npm ERR! Found: react@18.2.0
npm ERR! node_modules/react
npm ERR!   react@"^18.2.0" from the root project
npm ERR!
npm ERR! Could not

[2022-09-01 06:46] mnajdova commented on #34162
Only `@mui/material` (v5) is compatible with React 18. Check the peer dependencies :)

[2022-09-01 06:46] #34162 closed

[2022-09-01 07:03] mnajdova commented on #34063
Interesting, the comment you've added is very similar to the other issue (unless you were proposing API for that particular issue). It's definitely interesting problem. In that case, I am closing this issue in favor of https://github.com/mui/material-ui/issues/33525 Please share your thoughts there and upvote that issue :)

[2022-09-01 07:03] #34063 closed

[2022-09-01 08:24] toniocodo opened #34163 "[ToggleButtonGroup - ToggleButton] theme styles are not applied on colors and selected attributes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When setting the theme to tweak ToggleButton and ToggleButtonGroup, styles for colors and selected states aren't applied.

### Expected behavior 🤔

Theme styles should be taken in account and applied on components.

### Steps to reproduce 🕹

Steps:

1. Crea

[2022-09-01 09:10] #34045 closed

[2022-09-01 09:17] michaldudak commented on #32970
@oliviertassinari This is a different issue than the one discussed in https://github.com/mui/material-ui/issues/29740#issuecomment-989805271. In the case of LoadingButton, we were discussing inheriting props. In this case, the behavior of the Button is changed depending on whether it's standalone or within a ButtonGroup.

I don't think the ButtonGroup should set defaults for props like `disableEle

[2022-09-01 09:33] michaldudak commented on #30676
@baruahmunmi005 Please open an issue in the https://github.com/mui/mui-x repo.

[2022-09-01 09:41] flaviendelangle commented on #30676
You already have an issue https://github.com/mui/mui-x/issues/4450

[2022-09-01 09:41] mnajdova commented on #34129
Yep, it is a bit trickier with the components that do not forward the class name on the root, but do that with the other props. Here is a codesandbox of how you can implement this https://codesandbox.io/s/styled-tooltip-forked-8mpp7h?file=/demo.tsx

I believe this deserves updating the docs.

[2022-09-01 10:48] noobDev31 commented on #33969
To be honest I am not able to reproduce it on the **codesandbox** but in my codebase whenever I drop an Accordion -
![image](https://user-images.githubusercontent.com/109504204/187896316-68b6ee2a-b287-4391-90ce-7880d9ed1f7c.png)

![image](https://user-images.githubusercontent.com/109504204/187896464-6807735a-4b72-48a8-9158-358065619c51.png)
 I mean I have possibly tried giving many possible defaul

[2022-09-01 10:57] michaldudak commented on #34083
Thanks for the report.
I believe you're right. The type of `renderValue` should be `(value: T | '') => React.ReactNode`.

Would you like to create a PR?
Aside from the actual change, a test case in Select.spec.tsx would be welcome.

[2022-09-01 11:14] michaldudak commented on #29469
@prankurnov15 feel free to take it. It's not assigned to anyone.

[2022-09-01 11:23] michaldudak opened #34164 "[docs] Improper styling of Joy Select demo"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The Group options demo under https://mui.com/joy-ui/react-select/#option-component has invalid styles. It lacks a background, making the listbox items unreadable.

![image](https://user-images.githubusercontent.com/4696105/187902237-d1081d31-f608-4b08-8d8d-

[2022-09-01 11:44] michaldudak commented on #32917
Work on this has already been started in #27719

[2022-09-01 12:09] michaldudak commented on #29961
There's no way to remove it in dev mode. It doesn't show up in the production build.

[2022-09-01 13:50] oliviertassinari commented on #29961
I'm curious. What are the valid problems with the use of a `textarea` with the autocomplete?

[code]

I struggle to envison this.

[2022-09-01 13:55] YaYaPao commented on #32727
Got the same issue. It worked for me to downgrade vite from **3.0.9** to **3.0.8**!

[2022-09-01 14:38] arnaudakotonou97 commented on #32727
As people said this issue is probably related to a version of Vite (lower to 3.0 I guess) who provides a bad type for a function in Popper.js

[2022-09-01 16:29] techpeace commented on #34025
If I'm not mistaken, since you can use [the `styled()` API to hook in with other styling libraries](https://mui.com/material-ui/guides/styled-engine/#how-to-switch-to-styled-components), you should be able to use [the `styled()` function provided by stitches](https://stitches.dev/docs/api#styled) to incorporate it into a mui project.

[2022-09-01 18:17] aaarichter commented on #33525
@mnajdova thank you for your response.  Of course I didn't think of the simple solution 😵‍💫

[2022-09-01 18:27] aaarichter commented on #33151
@ZeeshanTamboli sorry for the late reply

Thank you for the suggestion

There is no reference in the docs and I can't find it anymore.
please ignore

[2022-09-01 18:27] #33151 closed

[2022-09-01 18:44] Gallevy opened #34167 "[Joy] RadioButton selected circle not properly aligned"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Joy RadioButton UI when its selected is not centered:
![bug_100%](https://user-images.githubusercontent.com/17080607/187989638-2be9808c-cf1b-4cbc-96b3-c3a6fbf59929.png)

When zooming to 200% in the browser, it seems normal:
![200%](https://user-images.githu

[2022-09-02 00:49] CroMarmot opened #34169 "page is refreshing everytime when I typing a letter"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

open page https://mui.com/zh/material-ui/material-icons

enter letter in search box

the page reloading

### Expected behavior 🤔

open page https://mui.com/zh/material-ui/material-icons

enter letter in search box

just the list change instead of reloading

[2022-09-02 01:19] hiuny opened #34170 "[examples/remix-with-typescript] React 18 version example is required."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

A function called `renderToPipeableStream()` is used in `entry.server.ts` of remix 1.7.0 using react 18.2.0. However, this part is not reflected in the remix example of mui. Can you please reflect it?

[code]

[code]

### Expected behavior 🤔

I hope that th

[2022-09-02 05:47] monika-parmar commented on #29727
I'm facing this warning everytime when I try to select a link, that I've provided in dropdown, with the help of paper component.
I'm sharing the Autocomplete component and the UI screenshot of the dropdown
` <Autocomplete
        popupIcon={''}
        fullWidth
        clearOnBlur
        clearOnEscape
        sx={[
          error.fullAddress ? commonClasses.fieldError : {},
          onboarding

[2022-09-02 05:55] FrankyGolang commented on #32906
Sorry I don't have time to fix this right now, just use defaultProps , and everything works fine. In the code it is clearly seen that you overwrite the variable by doing variantMapping = defaultVariantMapping,
So here it doesn't read because defaultVariantMapping overwrites variantMapping, there's not much to prove.
  (paragraph ? 'p' : variantMapping[variant] || defaultVariantMapping[variant])

[2022-09-02 06:05] a90100 commented on #34169
I have the same issue.

[2022-09-02 06:27] abdulgafur24 opened #34173 "Overlapping checking multiple checkboxes on mobile"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On mobile
if you select two checkboxes in a row, then when you click on the second one, it will affect the first

### Expected behavior 🤔

if you select two checkboxes in a row, then when you click on the second one, it should affect the second

### Steps t

[2022-09-02 06:55] siriwatknp commented on #34167
Can you share a CodeSandbox that reproduces the misalignment? I can take a look at it.

[2022-09-02 07:05] siriwatknp commented on #34163
Using props as keys like this does not work in many cases. We have them to support migration from v4 to v5.

If you want to customize the component based on props, I suggest using a [`callback`](https://mui.com/material-ui/customization/theme-components/#overrides-based-on-props) or [theme variants](https://mui.com/material-ui/customization/theme-components/#creating-new-component-variants):

This

[2022-09-02 07:06] #34163 closed

[2022-09-02 07:11] siriwatknp commented on #34173
Is this an edge case that would not happen in practice?

[2022-09-02 07:14] siriwatknp commented on #34170
@hiuny Thanks for the feedback. Do you want to submit a PR to update the example?

[2022-09-02 07:15] siriwatknp commented on #34153
I could not find a better label for `@mui/envinfo`.

[2022-09-02 07:29] hiuny commented on #34170
@siriwatknp
I'd love to, but I don't know how the renderToPipeableStream() function works, so it's going to be hard right now. I think it would be quick if someone who knows the 18 version of react helped.

[2022-09-02 07:57] thomasjm opened #34174 "[TextField] Bad behavior when user edits box before hydration with SSR"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using MUI's `TextField` to make a simple SSR login page with a username and password.

The problem is when the user is working over a slow network connection, so it takes some time for the Javascript to download and hydrate the page. As a result, they c

[2022-09-02 08:02] Phebonacci commented on #27703
Looks like this is happening for all components with a prop for another component's props, because I'm also seeing this issue on `<Menu MenuListProps={{ component: ... }} />`.

[2022-09-02 08:21] abdulgafur24 commented on #34173
I faced this issue when I used [table with checkboxes](https://mui.com/material-ui/react-table/#sorting-amp-selecting) on mobile in my real project

[2022-09-02 08:46] siriwatknp commented on #34174
I think the solution to this is to lean toward CSS `:placeholder-shown` but this will be a very big breaking change for Material UI. https://codesandbox.io/s/poc-textfield-hsos3?file=/index.js

I plan to try this out for Joy UI and wait to see the feedbacks first.

[2022-09-02 08:57] toniocodo commented on #34163
thank you for the support 😃 I'll use the proposed methods

[2022-09-02 09:44] siriwatknp opened #34176 "[RFC][Joy UI] Remove `TextField` in favor of composition"
## Problems

The `TextField` is a wrapper of `FormLabel`, `Input`, and `FormHelperText`. It binds the id with ARIA to those components which reduce a lot of effort for developers.

However, it becomes a pain when you need to pass props to the inner HTML input:

### Hard to customize

To pass a prop to the HTML input, you have to do this:
[code]

### Confusion

Take Material UI as an example, Joy U

[2022-09-02 10:43] miguelcss commented on #32186
@michaldudak What you refer is not accurate in some scenarios.

If we override the MUISwitch style, the transition also is lost. I tok your working example, added the ```Android12Switch```from official documentation here https://mui.com/material-ui/react-switch/  and I can replicate the bad behavior of no transition.

Code:
https://codesandbox.io/s/switch-component-animation-issue-forked-gdhdr1?fi

[2022-09-02 12:20] kiko-lin opened #34179 "LocalizationProvider children not rendering since 5.0.0-alpha.90"
@mui/lab/LocalizationProvider is not rendering children since @mui/lab 5.0.0-alpha.90

[2022-09-02 15:49] KevinCalmant opened #34181 "[Autocomplete] Options overflowing on small screen"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello,

When i put some autocomplete on the bottom of a overflow-y: scroll div (only on small screen windows 150%) the popper incorrectly overflow the screen like this:

![image](https://user-images.githubusercontent.com/11736770/188191536-81c27d45-ba01-459

[2022-09-02 16:05] Greg-NetDuma commented on #19450
If you have time you can try my fix #34165, after some generic testing it seems to work but I've not tested nested modals that deeply.

[2022-09-02 17:45] narutosstudent commented on #34169
I could reproduce this.

It seems like it is happening somewhere here looking in the code? https://github.com/mui/material-ui/blob/5defd72e2a160e450540d5aadfdd33629bdac5a3/docs/data/material/components/material-icons/SearchIcons.js#L485

cc @siriwatknp @CroMarmot @a90100

[2022-09-02 19:45] flieks opened #34182 "use sx in styled components (from '@emotion/styled')"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

using `sx` in the `styled components` does not work.

Or is there another easy way to give some responsive behavior to my Input, Button, Box etc that i styled via @emotion/styled components ?

### Examples 🌈
It would be nice if i could code like this:
[code]

### Mo

[2022-09-02 23:49] thomasjm commented on #34174
Doing the placeholder with CSS sounds like it would help the styling issue. But what about the part where hydration blows away the user's edits? Would it be possible to fire an `onChange` event after hydration to provide the pre-hydration value?

[2022-09-03 00:20] vguleria1108 commented on #29469
Issue is with <input type="number" /> itself.
So In my opinion this can be solved by adding Regex check for type number

[2022-09-03 02:35] #34164 closed

[2022-09-03 03:28] siriwatknp commented on #34174
My gut feeling is that React should handle this properly. What's the behavior of using pure React HTML input?

[2022-09-03 03:35] #34042 closed

[2022-09-03 03:44] #32141 closed

[2022-09-03 05:26] hayawata3626 commented on #33973
If no one else is working on it, I will do it. OK?

[2022-09-03 09:48] oulfr opened #34185 "All icons rerender without any change"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

example of icons:

`<AccountOutline sx={{mr: 2}}/>`

![image](https://user-images.githubusercontent.com/35069360/188263202-02c2bcf6-9d44-4156-b426-847e86a282e9.png)

### Expected behavior 🤔

the sx properties sx={{mr: 2}} is not changed, no need to rerender

[2022-09-03 11:56] russellfoster commented on #33930
Not using prettier (why do you assume I am?). The output I get from babel is adding a separate space node to the create element call.

[2022-09-03 13:46] lpizzinidev commented on #34182
You could use `experimental_sx` to use the `sx` syntax in `styled`:
[code]

Check the [docs](https://mui.com/system/styled/#how-can-i-use-the-sx-syntax-with-the-styled-utility) for more info

[2022-09-03 14:12] cadentic opened #34186 "simply there is no behavior if tailwindcss , mui and nextjs is used together"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

simply there is no behavior if tailwindcss , mui and nextjs is used together . i trieed everything that is explained in both the example but tailwindcss never worked out with mui in next project.

### Expected behavior 🤔

components must be working ptoperly

[2022-09-03 16:03] pursonchen commented on #17407
Great sample.

[2022-09-03 20:20] joshkay commented on #27651
After transitioning to the `Experimental_CssVarsProvider` I started getting the following error with Next.js due to the generated style ids clashing between client & server.

```Warning: Prop `className` did not match. Server: "MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorPrimary MuiAppBar-positionFixed mui-fixed mui-style-16wruoc-MuiPaper-root-MuiAppBar-root"

[2022-09-04 02:24] EdmundsEcho opened #35544 "components prop with Checkbox slot seems to have stopped working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

My datagrid in v4 was using the `components: { Checkbox }` option.  I read through the breaking changes and did not see anything.  Did I miss something?  Thanks in advance.  - E

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Link to live

[2022-09-04 09:57] thomasjm commented on #34174
Using a raw `<input>` doesn't work properly either actually. What happens is the pre-hydration edits stay in the box, until you trigger a React update and then they get blown away. There is no `onChange` event.

I'm a bit confused why nobody else seems to have problems with this issue. It seems like edits during hydration delays should affect any mutable DOM element. Do people just minimize their

[2022-09-04 16:46] #35544 closed

[2022-09-04 21:20] flieks commented on #34182
Thanks, that works.
Just one other question. How can i use stuff like this in sx in styled component ?
[code]
This works without sx in styled, and customizes a specific class

[2022-09-05 00:29] brahn commented on #31355
I'd be interested in an alert size that matches button size.  For example, here's an alert next to a button (both with default sizing)

<img width="302" alt="email-preview 2022-09-04 17-25-06" src="https://user-images.githubusercontent.com/235302/188339554-612d61a4-43b1-43c7-9c9e-87d6cf84bdcc.png">

The height mismatch is visually unpleasant, and becomes more so when the button has `size="small"`:

[2022-09-05 06:11] ZeeshanTamboli commented on #34083
I've created a PR for it - #34177

[2022-09-05 06:14] momguide commented on #10601
if you want to create scoll, then
write code like:
`MenuProps={{ PaperProps: { style: { maxHeight: '33%' } } }}`
it works!

[2022-09-05 06:16] eggplants opened #34192 "[FormControlLabel] Clickable margin in Stack"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I use `FormControlLabel` in `Stack`, the right margin makes clickable.

---

![スクリーンショット 2022-09-05 15 05 06](https://user-images.githubusercontent.com/42153744/188371485-fea3ac85-31c2-4cc2-be71-a4665c4a25ac.png)

↓

![スクリーンショット 2022-09-05 15 06 29](ht

[2022-09-05 06:23] yhaizler commented on #27670
@gaurikolhe @ahmetuysal
Did you find a solution to this bug?
I also encountered this, and I don't know how to handle it.

[2022-09-05 06:23] eggplants commented on #34192
`<Stack alignItems="flex-start">` works...

[2022-09-05 06:23] #34192 closed

[2022-09-05 07:13] PunitSoniME commented on #34186
I don't know which steps you followed, but I am facing no issue with next.js, mui and tailwindcss combined

![image](https://user-images.githubusercontent.com/11643426/188388095-b6bf6d35-a4a5-42e3-8d59-c0ba27513736.png)

[2022-09-05 08:17] fanorenantsoa commented on #28687
same here

[2022-09-05 08:24] saqi3492 commented on #30523
i also facing exactly same issue. Can u please share its solution?

[2022-09-05 09:33] wiseaidev commented on #22426
Side Project:

- Product: chat app.
- The problem solved: Create a modern sleek UI.
- Company or organization: None.
- Links:
  - Demo: https://chat-docs.wiseai.dev/demo
  - Repo: https://github.com/wiseaidev/chat
- Screenshot:

![chat](https://github.com/wiseaidev/chat/blob/main/docs/static/images/send-messages.png)

[2022-09-05 10:49] lpizzinidev commented on #34182
You should be able to customize specific classes of a component specifying it in the `sx` object, for example:
[code]

[2022-09-05 10:57] ajaynigam-mh opened #34194 "[Rating] For keyboard users on Safari browser, Unable to see effects and outline on focus / active stars"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Only for Keyboard Users, I am trying to access the rating component on the safari browser but cannot see focus/active effects on stars.

![safari](https://user-images.githubusercontent.com/53289809/188597592-b136ca6b-c6ca-4a6f-a74c-0f3836cb27b4.png)

### Ex

[2022-09-05 11:06] #34137 closed

[2022-09-05 11:30] AhsanImtiazRafiq opened #34195 "[Button] MUI Buttons is not supporting Warning, Success , Error and Info style overrides"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

According to the MUI  Documentation the style overrides should allow the button colors like success , warning , info, error ,
Though they are not available in the buttons classes and I am unable to override them.
Documentation URL: https://mui.com/material-

[2022-09-05 13:10] lpizzinidev commented on #34195
You should be able to make it work with this code (tested on mui `5.10.3`):
[code]

[2022-09-05 13:54] povilass commented on #34195
Read documentation ![image](https://user-images.githubusercontent.com/8037810/188464254-172f2450-0568-4b8f-ab52-b93dab063df9.png)

And add other https://mui.com/material-ui/customization/palette/#adding-new-colors also how to include color which already exist with augmentation.

You need to enable them create file augment.d.ts and add it to your tsconfig.json
![image](https://user-images.githubuse

[2022-09-05 14:00] emlai opened #34198 "[FormControlLabel] Support `required`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Implementing a labeled checkbox with a "required" asterisk, such as the following, is currently not possible without workarounds:

![image](https://user-images.githubusercontent.com/7543552/188464851-dd8f884d-3d66-4e47-b630-67d2c6cdba4b.png)

This would nor

[2022-09-05 14:14] #34186 closed

[2022-09-05 14:14] hbjORbj commented on #34185
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-05 14:17] hbjORbj commented on #34179
Please create a new issue with an example that reproduces the problem: a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-05 14:17] #34179 closed

[2022-09-05 15:38] kabernardes commented on #34038
Hi, can I help with this issue?

[2022-09-05 16:01] ryan01010111 commented on #34028
Bumping this. I would reason that `'button'` is the more appropriate "default" `component` prop for `ListItemButton` when `href`or `to` are present. Provided with its native default component, `ButtonBase` would then be able to apply the appropriate logic based on these props.  This helps centralize said logic, easing configuration of things like custom link components via `ButtonBase`'s `LinkComp

[2022-09-05 17:24] zaverden commented on #34028
@ryan01010111 I've already sent the PR (#34159) to fix the issue. waiting for a feedback from @hbjORbj or other maintainers

[2022-09-05 17:24] kabernardes commented on #33966
Hi, can I help with this?

[2022-09-05 17:49] michaldudak commented on #33966
Sure, go ahead!
To clarify - we just need to rename the component in MUI Base. Due to backward compatibility, let's leave the `Unstable_TrapFocus` export from Material UI as it is now.

[2022-09-05 19:44] lucasmarkes commented on #2793
how can i display only 2 per row? if I insert 4 radio's, only 3 are going to the 1st row and only 1 to the next row :/

[2022-09-05 21:51] Zetta56 commented on #32958
Is anyone still working on this issue? If not, I can try fixing it.

[2022-09-05 22:29] Mark-777-0 commented on #34136
@siriwatknp

Would you like me to standardize the `darken` function ?

I'd be glad to help!

[2022-09-06 00:54] richmondp opened #34199 "[Autocomplete] Duplicate values are not being filtered from the result list"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have an autocomplete field with an array of options that contain a couple of duplicate label values. When typing into the autocomplete field, the list filters out results but does not correctly filter out duplicate records. It will filter out one of the d

[2022-09-06 05:13] MohammedSaberMohammed opened #34201 "[Autocomplete] Typescript error"
Reproduction:  https://codesandbox.io/s/focused-https-tlfnou?file=/src/Autocomplete.tsx

@DevMammadov See this test case: https://github.com/mui-org/material-ui/blob/1fd983abd9c26d3d751f99d2efbfa2e5ab063786/packages/material-ui-lab/src/Autocomplete/Autocomplete.spec.tsx.

_Originally posted by @oliviertassinari in https://github.com/mui/material-ui/issues/19354#issuecomment-674437093_

[2022-09-06 05:18] MohammedSaberMohammed commented on #34201
I've the exact issue mentioned above and I applied the solution mentioned by @oliviertassinari  but I got another error when using the component
`Type '{ multiple: true; disableClearable: true; freeSolo: true; name: string; label: string; lookup: { id: number; label: string; }[]; }' is missing the following properties from type 'Pick<Props<unknown, true, true, true>, keyof Props<unknown, true, tru

[2022-09-06 07:54] blueanchovy commented on #12568
Followed the above but I was still getting some issues because the content was quite large for each panel in my case. There were also some responsiveness issues. Figured out a workaround if anyone's looking:-
[code]

[code]

[code]

[2022-09-06 07:56] ortonomy commented on #27038
Late to the party, but was experiencing the same thing with <DatePicker />

I had to do this:

[code]

[2022-09-06 08:09] flieks commented on #34182
@lpizzinidev thanks that does not work for some reason..

[2022-09-06 08:20] PunitSoniME commented on #34199
@richmondp The codesandbox link you provided has nothing in App.tsx file
Can you add the code as well please ?

[2022-09-06 08:45] Alesich commented on #19512
I also have the same issue with:
"@mui/material": "^5.9.3",
"@mui/styles": "^5.10.2",

`TS2322: Type '{ children: string; variant: "subtitle2"; component: string; }' is not assignable to type 'IntrinsicAttributes & TypographyProps'.   Property 'component' does not exist on type 'IntrinsicAttributes & TypographyProps'.`

[2022-09-06 09:26] ajaynigam-mh opened #34202 "[Rating] Unable to properly navigate using Arrow keys in Safari browser"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Only for Keyboard Users, I am trying to access the rating component on the safari browser with arrow keys but I cannot properly navigate between stars similar to the chrome browser.
![safari](https://user-images.githubusercontent.com/53289809/188597592-b136

[2022-09-06 10:17] siriwatknp commented on #34182
@flieks @lpizzinidev For the callback version, you have to do this:

[code]

https://codesandbox.io/s/hungry-wilbur-7r0gqn?file=/demo.tsx

**Reason**: Internally, `sx()` returns a callback (not an object) that will be used the `styled`.

[code]

Both emotion and styled-components support callback in an array, that's why the code above works.

[2022-09-06 10:19] #34182 closed

[2022-09-06 10:20] siriwatknp commented on #34136
Feel free to open a PR. If it is not a breaking change, we can move forward and merge it.

[2022-09-06 11:03] mkdudeja commented on #33308
this happens in development mode only. React 18 and Strict mode, component re-renders twice which might cause this issue. Works fine for the production build.

Expectation: should work fine for the development mode as well.

[2022-09-06 12:04] hbjORbj commented on #34201
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-06 12:18] aviyi commented on #28687
same here

[2022-09-06 12:26] EduardoSCosta commented on #33559
Hi, I was investigating this issue and found out what is causing the problem, can I send a PR?

And I found something else, in the `Popover` component, the prop `marginThreshold = 16` is preventing the dropdown from being positioned less than 16px horizontally (example in the image below), is this intentional? (Above 16px, it aligns perfectly with the select)

![Screenshot_20220906_091619](https:/

[2022-09-06 12:52] ragunathkc1 commented on #31123
is that resolved?

[2022-09-06 18:15] MrWest commented on #5133
this is the way to go:
`<Drawer PaperProps={{ id: 'id-drawer' }}>{...}</Drawer>`

[2022-09-06 18:38] HarikrishnanBalagopal commented on #19980
[code]

The built-in form validation scrolls the form to the first invalid element https://jsfiddle.net/fqmro16z/

[2022-09-06 18:39] HarikrishnanBalagopal commented on #19980
I am not using any other solution, just React and MUI. Please support invalidating the text field properly so that native browser behaviour can kick in and help the user find the invalid fields.

[2022-09-06 18:46] arronhunt commented on #34136
@Mark-777-0 In my ticket description I referenced TinyColor’s method which converts all colors to HSL before transforming them. IMHO this is the most optimal way to adjust a color’s “darkness.” because it retains the original hue and saturation levels intended by the designer. In contrast, the RGB method is more akin to overlaying pure black with an alpha value which results in some loss of satura

[2022-09-06 19:07] peterbartels commented on #34025
Stitches uses theme variables and you can't pass a theme as a function for styled:

`const { styled } = createStitches({
  theme: {
    colors: {
      violet800: 'hsl(252 62% 54.9%)',
    },
  },
});
const Button = styled('button', {
  backgroundColor: '$violet800',
});`

[2022-09-06 19:34] MohammedSaberMohammed commented on #34201
@hbjORbj  Thanks for ur response
Reproduction:  https://codesandbox.io/s/focused-https-tlfnou?file=/src/Autocomplete.tsx

[2022-09-06 20:10] #34047 closed

[2022-09-06 20:14] mschaefer-gresham opened #34208 "Opening popups in React 18 can result in the popup initially opening in the wrong location and then snapping back to it's anchor."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using MUI together with React 18, popups that have longer render times can open in the wrong location on the screen, then snap back to their anchor.

### Expected behavior 🤔

The popup should open in the correct location by respecting its anchor.

###

[2022-09-06 21:26] neovirtual opened #34210 "List value of false or 0 (zero) text grayed out"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I think there is a but in the (alpha) Joy Select component. When there is a value, but the value evaluates to false, for example, when the list value is 0 or is a boolean false, the text in the field looks grey due to the opacity being set incorrectly to 0.

[2022-09-06 21:40] teetotum commented on #11069
I don't want to overwrite `renderValue` because I would lose the original behavior covering single and multiselect and would need to mimic the original behavior.
I think I found a workable css solution:
[code]

[2022-09-06 22:33] richmondp commented on #34199
Apologies @PunitSoniME. The code should be  in the sandbox now and I have also added it to the description above.

[2022-09-06 23:44] Mark-777-0 commented on #34136
<img width="900" alt="Screen Shot 2022-09-06 at 6 59 39 PM" src="https://user-images.githubusercontent.com/83738282/188754698-13e5465c-11dd-44c3-8ebe-95ceff346432.png">

Hi @siriwatknp I have begun trying to edit the darken function,  but I've noticed that instead of a `/src` directory there are `/legacy`, `/modern` and `/esm` files within the `node_modules` and `@mui/systems`. After a bit of time

[2022-09-06 23:46] Mark-777-0 commented on #34136
Thank you for this!

[2022-09-06 23:47] Mark-777-0 commented on #34136
Thank you for this! Let me give it a shot

[2022-09-07 01:06] Mark-777-0 commented on #34136
<img width="1149" alt="Screen Shot 2022-09-06 at 8 38 18 PM" src="https://user-images.githubusercontent.com/83738282/188766362-7cc3c9d1-826f-40d8-be16-3ce598ffeeb0.png">

@arronhunt hopefully I didn't mess anything up and you can use it soon!

[2022-09-07 03:23] SunShinewyf commented on #34129
@mnajdova Cool, I tried and  it worked for me, thanks very much~

[2022-09-07 04:35] siriwatknp commented on #34174
Maybe @eps1lon could shed some light on this.

[2022-09-07 04:42] siriwatknp commented on #27651
Can you open a new issue with reproduction? You can tag me, I will take a look.

[2022-09-07 05:46] danilo-leal commented on #34149
Yup, what @ZeeshanTamboli said ☝️. The added gradient on the table's edge was supposed to be a scrolling affordance. It's interesting that it didn't communicate well with you! It's something that has been discussed a while back, and [just came up recently](https://github.com/mui/material-ui/issues/34085), coincidently. I don't think this is the ideal solution to the problem of the wide table, we d

[2022-09-07 06:22] #34181 closed

[2022-09-07 08:11] #34117 closed

[2022-09-07 08:55] flaviendelangle opened #34214 "`slots` overrides do not merge with the theme"
## Problem

### How does the theme default props work

Users can define default props for there components using the theme as follow:

[code]

The props passed to the theme, will then be merged with the props passed to the component with a shallow merge.

https://github.com/mui/material-ui/blob/50e2b942cb7602fdbb69df7d4285fd4de9747f71/packages/mui-utils/src/resolveProps.ts#L13-L17

### What is the

[2022-09-07 09:04] ZeeshanTamboli commented on #34210
Why isn't the Option value in `string` ("0" or boolean "false")?  Like:
[code]
OR
[code]
Then it works as expected and placeholder color is correct.

-----

Can you provide a CodeSandbox reproducing the issue? The [issue template](https://codesandbox.io/s/divine-darkness-g1ppwh) is a good starting point.

[2022-09-07 09:10] #32929 closed

[2022-09-07 09:10] #32930 closed

[2022-09-07 09:10] #34135 closed

[2022-09-07 12:10] chaosmirage commented on #20852
I needed to focus on the first item after opening the `Listbox` to start navigation through the keyboard from the first item when there is already a selected item in the list (the `autoHighlight` prop doesn't fit).

After analyzing the `Autocomplete` implementation I found a workaround.
Of course it is fragile, but if don't have another way it can be used at your own risk.

https://codesandbox.io/

[2022-09-07 13:10] neovirtual commented on #34210
ZeeshanTomboli, the Option value is required to be a string? It cannot be a number of boolean, for example? Here is the CodeSandbox that shows the problem: https://codesandbox.io/s/joy-issue-34210-select-component-4br2bp

[2022-09-07 13:14] Sergey-Shar commented on #19788
Thanks!!!!!!!!!

[2022-09-07 15:03] HexM7 opened #34217 "[Joy][TextField] Invalid componentProps mapping"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Correct me if I am wrong, is it the expected behaviour that when trying to set the maxlength attribute on the textfield using `componentProps` prop, the attribute gets passed to root element instead of the input slot?

[code]

This renders to:

[code]

Noti

[2022-09-07 15:05] HexM7 commented on #34217
Similar #34176

[2022-09-07 15:05] #34217 closed

[2022-09-07 15:43] teetotum opened #34218 "[Select] moving focus with keyboard ArrowUp or ArrowDown is not working when [disablePortal] is set"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I click into a `<Select>` (with `disablePortal`) the dropdown opens, but ArrowUp and ArrowDown will not move the keyboard focus to any of the items.

### Expected behavior 🤔

Without `disablePortal` the behavior is as expected: keyboard ArrowUp and Arr

[2022-09-07 15:50] T04435 commented on #28687
I had this issue, solved by adding {...params.inputProps} to the input in the `renderInput` props as per https://mui.com/material-ui/react-autocomplete/#combo-box

Please note that it is `inputProps` NOT `InputProps`, hope it helps.

[code]

[2022-09-07 16:27] RPisRyan commented on #32641
If you are creating reusable sx objects, you can type them as `SystemStyleObject` instead of `SxProps` to enable spread.

[2022-09-07 21:49] azizoid opened #34221 "Cannot navigate through or skip the disabled date in Calendar view on DatePicker"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

We can pass the `shouldDisableDate` prop to disable specific date. which will result showing the calendar with some dates disabled. - that is expected behaviour
The problem happens when we want to navigate through the dates using keyboard only. Tab moves us

[2022-09-08 04:51] ZeeshanTamboli commented on #34210
My bad, it isn't required to be a string. It can be any value. Thanks for the reproduction, looks like a bug.

[2022-09-08 05:51] #33255 closed

[2022-09-08 06:30] #22278 closed

[2022-09-08 08:30] ZeeshanTamboli commented on #33927
It got fixed in MUI Base version `@mui/base@5.0.0-alpha.95` with https://github.com/mui/material-ui/pull/33882.

[2022-09-08 08:30] #33927 closed

[2022-09-08 08:32] keemor commented on #18326
For anyone coming here to disable animation and rotation of the icon:

Global via theme:

[code]

Local via sx prop:
[code]

[2022-09-08 08:52] John-Dennehy commented on #33440
@TurtIeSocks Can you share what you did in tsconfig?

[2022-09-08 09:55] kordian-smartbear opened #34224 "[material-ui-codemod] 404 while trying to install version v1.0.0-beta.35"
While running npm install on a project with dev dependency
`"material-ui-codemod": "1.0.0-beta.35" `
i get 404 for this package.

I created separate clean npm project and try to install it and there is:
`npm ERR! code ENOVERSIONS
npm ERR! No valid versions available for material-ui-codemod`

After this i checked github repo and for tags 1.0.0-beta.41 and bellow there is a npm issue with following

[2022-09-08 10:06] ZeeshanTamboli commented on #33905
@elias-pap There is no `DisplayedRowsProps` or `componentsProps.displayedRows` in TablePagination. See API docs: https://mui.com/material-ui/react-table/#api.

-----

Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-09-08 10:20] rizamoyi commented on #33054
Hi anyone still working on this? I'd like to take it. @emlai @cyberGHostJs @hilalsidhic

[2022-09-08 11:46] kushagra010 commented on #33054
Hey, doesn't seems to be an issue for me :thinking:
@emlai

[2022-09-08 12:15] synchronos-t commented on #33335
Is there some reason why the `outlineColor` cannot take the palette color strings, and why it cannot be made to support those just like the `color`, `borderColor` and `backgroundColor` can?

[2022-09-08 13:15] shadoworion opened #34225 "[Select] Problem with label"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I want to see the label in a select component, but there is only white space that breaks the top border (no string)

### Expected behavior 🤔

I see in the inspector that label exists but I don't see it
[code]

### Steps to reproduce 🕹

[code]

### Context 🔦

[2022-09-08 13:16] kordian-smartbear commented on #34224
Ok, it looks like this version is no longer available. I will update it in the repo.

[2022-09-08 13:16] #34224 closed

[2022-09-08 13:24] teetotum commented on #34218
I've developed a workaround that anyone can use until this is fixed.
I listen for the native bubbling DOM event `focusin` and check if the paper has focus; if this is the case I just focus the first item. Done.

[code]

and the custom hook

[code]

[2022-09-08 13:38] rizamoyi commented on #33054
@kushagra010 I started working on it but ran into another error while solving the issue. This is the error

`TypeError: Cannot read properties of undefined (reading 'type')`

At the following location:
https://github.com/mui/material-ui/blob/0189797d23c6469438c7dc68db214f490697ebce/packages/mui-system/src/colorManipulator.js#L58

[2022-09-08 14:29] kabernardes commented on #30034
Hi, can I try to work on this issue?

[2022-09-08 15:38] meenarama opened #34227 "[Fab] button disabled class (classes.disabled) is not working."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

css for classes.disabled is not honored when the Fab button is disabled

### Expected behavior 🤔

css for classes.disabled is honored when the Fab button is disabled

### Steps to reproduce 🕹

Steps:

`< Fab disabled classes={{ disabled: "my-disabled" }}>A

[2022-09-08 15:41] meenarama commented on #34227
Probably, fab button needs to have the classes forwarded to buttonbase, just like button - https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Button/Button.js#L36 ?

[2022-09-08 16:08] oliviertassinari commented on #33332
I was curious about this bug, I wonder if it wasn't a bug in emotion. I have found https://github.com/emotion-js/emotion/issues/2480 that covers precisely this.

It sounds like we can't do anything about this, other than what Jun already did by answering this issue (is by itself documentation), so 👍 to close.

[2022-09-08 16:08] nk9 opened #34228 "[StepContext] Getting empty object from `useStepContext()`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I call `useStepContext()`, the output is always an empty object.

### Expected behavior 🤔

I would expect to get an object with the current step's `index`, etc as described in #30900 and #31021. I have also tried the workaround described in #30900 usin

[2022-09-08 17:00] emlai opened #34230 "[Chip] icon `color` prop doesn't work inside Chip"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`<Chip icon={<FaceIcon color="error" />} label="Label" />` creates a __gray__ icon.

### Expected behavior 🤔

`<Chip icon={<FaceIcon color="error" />} label="Label" />` creates a __red__ icon.

### Steps to reproduce 🕹

Codesandbox demo: https://codesandbox

[2022-09-08 17:16] kushagra010 commented on #34210
Hey, @ZeeshanTamboli can I pick this up ?

[2022-09-08 18:25] nikse opened #34231 "[Icon] Handshake icon seems to not be available in latest version"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

For some reason can't get any of the handshake icons to render using an Icon element

`<Icon>handshake</Icon>` does not render anything

### Expected behavior 🤔

Handshake icon should render

### Steps to reproduce 🕹

Steps:

1. try to render `<Icon>handsha

[2022-09-08 19:11] tomkingkong commented on #29727
For anyone who may still be running into this warning. The issue I ran into was a mislabelling of "freeSolo", with a capital "S".

[2022-09-08 19:13] wunderman4 commented on #32727
Ran into same issue using vite@3.0.0, upgraded to 3.1.0 and its working as expected now.

[2022-09-08 19:37] hi-mark commented on #710
I am facing same issue and in chrome

[2022-09-08 19:47] hi-mark commented on #710
I am facing same issue and in chrome

[2022-09-08 21:04] EduardoSCosta opened #34233 "[Select] Dropdown menu is misaligned when the select is less than 16 pixels from the left"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When the select is less than 16px far from the left, the menu will be misaligned, as in this example:
![Screenshot_20220908_174424](https://user-images.githubusercontent.com/30778707/189223490-9427cfb1-1e41-470c-87f6-ace721425891.png)

### Expected behavior

[2022-09-08 21:04] EduardoSCosta commented on #34233
If this is a bug, I can work on it.

[2022-09-08 21:41] fuzl-llc opened #34234 "Masonry Component Has Extra Right Margin"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you set the "spacing" property, it adds the spacing to the right side margin.

If you have a two column layout, currently it:

- adds no space on the left of the left column (which makes sense)
- adds space between the two columns (which makes sense)
-

[2022-09-08 21:44] fuzl-llc opened #34235 "Give Masonry Fine Grained Spacing Controls"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently there is only a single "spacing" setting to specify the spacing. It would be great if you could specify "horizontal spacing" and "vertical spacing" separately. It would also be great to specify if you want spacing applied to the left and right of the mason

[2022-09-08 23:22] fuzl-llc commented on #34234
As a workaround for anyone finding this, you can add a CSS style:

.MuiMasonry-root { margin: 0!important; }

It seems to work so far. You should also be able to set a global style override but I can't get that to work for some reason.

[2022-09-09 04:13] siriwatknp commented on #34210
Go ahead!

[2022-09-09 04:15] #33332 closed

[2022-09-09 04:43] yossico2 opened #34236 "[Select] dropdown opens up and then down (flickers)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

(multi) select with 80 items opens above InputLabel and then below it (flickers)

### Expected behavior 🤔

It should popup below the InputLabel without flickering

### Steps to reproduce 🕹

Please see the following [sandbox](https://codesandbox.io/s/mui-sel

[2022-09-09 06:18] Khansahab-1 opened #34237 "[icons] Add skype icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

plz add skype icon

### Examples 🌈

plz add skype icon

### Motivation 🔦

plz add skype icon

[2022-09-09 06:42] hbjORbj commented on #34237
Duplicate of https://github.com/mui/material-ui/issues/23289

[2022-09-09 06:42] hbjORbj commented on #34237
We do not take requests for adding icons because we just repackage Material Design icons.

[2022-09-09 06:42] #34237 closed

[2022-09-09 06:45] hbjORbj commented on #34231
What do you expect to happen with `<Icon>handshake</Icon>` and where is this `Icon` coming from?

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2022-09-09 06:49] hbjORbj commented on #34227
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-09 07:13] ZeeshanTamboli commented on #27962
It works in latest version of Material UI `v5.10.4` - [CodeSandbox](https://codesandbox.io/s/elated-neco-3sws23?file=/src/App.js). Closing this issue.

[2022-09-09 07:13] #27962 closed

[2022-09-09 07:37] burzaszsolt opened #34238 "[ToggleButton] `variant` prop is missing"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm trying to add a variant to the ToggleButton component on theme level and there is no such interface that I could override with module augmentation.

### Expected behavior 🤔

I would expect to have a variant prop available with an extendable interface as

[2022-09-09 07:58] RAGIPANINIKHIL commented on #18935
Thanks, your solution worked. my scenario was i been using dialog in many places so i override the props , whenever i use the dialog it will set by default

const theme = createTheme({
  props: {
    MuiButtonBase: {
      disableRipple: true,
    },
    MuiDialog: {
      role: 'main',
      TransitionProps: {
        onEnter(node, isAppearing) {
          node?.setAttribute('role', 'presentation

[2022-09-09 07:58] RAGIPANINIKHIL commented on #18935
Thanks, your solution worked. my scenario was i been using dialog in many places so i override the props , whenever i use the dialog it will set by default

const theme = createTheme({
  props: {
    MuiButtonBase: {
      disableRipple: true,
    },
    MuiDialog: {
      role: 'main',
      TransitionProps: {
        onEnter(node, isAppearing) {
          node?.setAttribute('role', 'presentation

[2022-09-09 09:12] tomasz-sodzawiczny opened #34239 "[Joy][menu] `disablePortal={true}` is set by default on `PopperUnstyled`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The Joy menu components sets disablePortal=true by default on PopperUnstyled. This causes the menu to be rendered within the flow of the document and might cause weird, hard to debug issues (layout / hidden menu), depending on the style of parent components

[2022-09-09 09:22] yashukaushik01 opened #34240 "[Grid] Adding overflow causing unwanted 8px scroll"
When we add overflow property to a material ui Grid component (not sure of other components), I want that if my content exceeds the height defined by me then only scroll should be seen, but adding overflow property to the component's styles, gives the default scroll of 8px which is always shown.
I have tried setting spacing to 0 but it didn't work.

[2022-09-09 09:59] alisasanib commented on #33303
Hi @michaldudak, may I work on this issue? I think the source of this bug is in this line of code, and I couldn't understand the logic behind it:
https://github.com/mui/material-ui/blob/adda22c283b8d6aea46a1be25e2dd18f4d03c7b9/packages/mui-material/src/ButtonBase/TouchRipple.js#L228

Changing it to `rippleSize = Math.max(rect.width, rect.height)` will solve this issue.
Do you confirm this proposal

[2022-09-09 10:02] burzaszsolt commented on #34238
I created a [PR](https://github.com/mui/material-ui/pull/34241) trying to fix the issue.

[2022-09-09 10:38] joserodolfofreitas commented on #34208
@mschaefer-gresham,
If you're computing data that takes longer to process, you should memoize the Popover content, so it doesn't get recomputed with each re-render.
I did a fork of your reproduction case.

https://codesandbox.io/s/data-grid-community-forked-uk13sj?file=/src/MyPopover.tsx

[2022-09-09 10:47] mschaefer-gresham commented on #34208
Thank you for responding. But all you did was lower the number of iterations in my for-loop. If you change it back to 1000 iterations, then I get exactly the same behavior with or without the memoized content.

What am I missing?

Cheers,
Matthew

From: José Rodolfo Freitas ***@***.***>
Date: Friday, September 9, 2022 at 12:38
To: mui/material-ui ***@***.***>
Cc: Matthew Schaefer ***@***.***>, Men

[2022-09-09 10:51] joserodolfofreitas commented on #34208
sorry @mschaefer-gresham, I realized it a few minutes later, and deleted the comment for a chance you wouldn't see it just yet.

[2022-09-09 11:45] hbjORbj opened #34242 "[Joy][button] Replace `start/endIcon` prop with `start/endDecorator`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

- Remove `startIcon` and `endIcon` props from the Joy `Button` component and add these two props: `startDecorator` and `endDecorator`.

### Examples 🌈

- `<Button startIcon={...} endIcon={...} />` => `<Button startDecorator={...} endDecorator={...} />`

### Motivati

[2022-09-09 11:46] hbjORbj commented on #34242
@danilo-leal @siriwatknp

What do you think?

[2022-09-09 11:46] hbjORbj commented on #34240
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-09 12:23] joserodolfofreitas commented on #34208
I pushed the debugging further and isolated the problem on the TreeItem.
Here's a sandbox of my latest test.
https://codesandbox.io/s/isolating-treeitem-51nfgh?file=/src/MyTree.tsx

@mschaefer-gresham, did you face this behavior using other components besides the TreeView?

[2022-09-09 12:26] mschaefer-gresham commented on #34208
@joserodolfofreitas Yes we are experiencing it with the grid as well.

[2022-09-09 12:45] shadoworion commented on #34225
Okay, yes, I miss this warning... It was apparent to me - if I can use the label in Text Field, it would be the same in Select.
So it is strange that it is not working and I need additional components to configure it...

[2022-09-09 13:10] joserodolfofreitas commented on #34208
Could you provide a reproduction case?

I recommend opening a new issue on [MUI X repository](https://github.com/mui/mui-x/issues/new/choose) with a reproduction case using the Data Grid, so we can explore this problem further. Perhaps we can replicate the fix on the TreeItem later.

[2022-09-09 13:29] meenarama commented on #34227
@hbjORbj , this is similar to this defect - https://github.com/mui/material-ui/issues/25011. I have created a PR for this - https://github.com/mui/material-ui/pull/34245, could you kindly take a look.

[2022-09-09 13:33] jochimv opened #34246 "[Tooltip] Two tooltips on a button"
Hello,

I want to display two tooltips on a button. However, I can't find any way to do it **without errors in the console**.

My goal:

[![enter image description here][1]][1]

Minimal reproducible example

    import * as React from 'react';
    import { Tooltip, Button, Box } from '@mui/material';

    export default function BasicTooltip() {
      return (
        <Box sx={{ margin: 10 }}>

[2022-09-09 13:59] Tejv1708 commented on #10571
Module not found: Error: Can't resolve '@material-ui/icons/LockOutlinedIcon' in  .
What should I do .

[2022-09-09 14:18] trgtrg commented on #29225
I also encounted this problem with the keys. I have lots of options with cyrillic symbols and spaces - while filtering them react does not render properly autocomplete list and leaves some of options visible, while they should be hidden.

Fixed it with this code:
`
renderOption={(props, option, state) => {
    props.key = props.id;
    return <li {...props}>{option.name}</li>;
}}
`

[2022-09-09 14:33] mschaefer-gresham commented on #34208
@joserodolfofreitas apologies. It is not a grid, but a customized list that uses many nested MUI types. I won't be able to reproduce this right now.

[2022-09-09 14:35] colespencer1453 commented on #33476
@m4theushw I am getting the:
MUI: The `children` component of the Tooltip is not forwarding its props correctly.
Please make sure that props are spread on the same element that the ref is applied to.

Error when using a tooltip on the GridEditInput cell like so. I am using this in the renderEditCell.

Is this a bug or am I using refs/props incorrectly here?

[code]

[2022-09-09 14:44] paulschreiber opened #34248 "[Divider] Component is announced by screen readers"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Divider elements are announced by screen readers.

The HTML created looks like this:
[code]

### Expected behavior 🤔

Divider elements are not announced by screen readers.

The HTML created looks like this:
[code]

### Steps to reproduce 🕹

[code]

### Cont

[2022-09-09 15:22] nikse commented on #34231
sorry, looks like our local font file was out of date. closing, thanks for looking

[2022-09-09 15:22] #34231 closed

[2022-09-09 15:46] paulschreiber opened #34250 "[Dialog] `DialogTitle` should use h1 instead of h2"
### Current behavior 😯

Dialog and DialogTitle generates this HTML
[code]

### Expected behavior 🤔

[code]

### Steps to reproduce 🕹

[code]

### Context 🔦

Dialogs should have their owner heading hierarchy, starting with h1. This is important for screen readers.

### Your environment 🌎

<details>
  <summary><code>npx @mui/envinfo</code></summary>

[code]
</details>

[2022-09-09 16:02] #34246 closed

[2022-09-09 16:04] hbjORbj commented on #34028
I am on my way to reviewing the PR right now !

[2022-09-09 16:16] paulschreiber opened #34252 "When dialog opens, focus remains on background"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When a dialog opens, focus remains on the background. I've used CSS to highlight focus in yellow to make this visually evident:

<img width="817" alt="image" src="https://user-images.githubusercontent.com/86784/189394986-0f536c55-3071-4962-a943-f1755bdb026b

[2022-09-09 16:18] emlai opened #34253 "[FormHelperText] No asterisk when `required`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`<FormHelperText required>Required</FormHelperText>` shows no asterisk. Only `Mui-required` class is added.

### Expected behavior 🤔

`<FormHelperText required>Required</FormHelperText>` shows the 'required' asterisk after the text.

### Steps to reproduce

[2022-09-09 16:18] paulschreiber commented on #34252
Please tag with `accessibility`. I don't have a PR for this because I'm not sure of the correct approach. Fix may need to go in Modal or another parent component.

[2022-09-09 16:50] fuzl-llc commented on #34234
One other observation... I think I was wrong when I said this:

- adds no space on the left of the left column (which makes sense)
- adds space between the two columns (which makes sense)
- adds space on the right of the right column (which does not make sense)

Actually, it seems it adds space to the left of the left-most column, between each column, and to the right of the right-most column. The

[2022-09-09 17:34] AlbertDev33 commented on #10571
try: npm install @mui/icons-material

This worked for me.

[2022-09-09 20:04] martinmckenna commented on #33634
Seeing the same thing in my project too. would love to see this fixed soon!

[2022-09-09 21:20] danilo-leal commented on #34250
Thanks for the heads up @paulschreiber! I wonder if we really should do this, though. If the dialog's title is an h1, wouldn't that confuse users leaning in screen readers, given that it could give the impression that they have navigated to a different page altogether, which is not totally the case? A few benchmarks I've collected quickly:
- A [w3.org example of a modal dialog](https://www.w3.org/

[2022-09-09 21:22] AlexanderKositsyn commented on #24282
I was on 6.4 version and had same issue. Update to 6.5 solved this bug

[2022-09-09 22:17] oliviertassinari commented on #34250
+1 to keep h2, based on #16569.

[2022-09-09 22:34] oliviertassinari commented on #34248
@paulschreiber Why?

As far as I know, an `<hr>` has a semantic meaning that should be announced by the screen reader. However, there are cases where it's purely added for the aesthetic, in which case it's the responsibility of the developers to hide. It sounds to me that we should add accessibility docs for it in https://mui.com/material-ui/react-divider/.

[2022-09-10 01:47] MaxiSantos commented on #33875
same here

I had the same issue but I updated all to 5.10.3 along with vercel (12.3.0) which I think it was also causing some issues and now the builds goes ok

[2022-09-10 07:29] kirilreznik commented on #29491
@NickEmpetvee Hi !
I am facing the same issue could you please elaborate on the logic of the given by @avivm solution and how you managed to implement it

[2022-09-10 09:40] baharalidurrani commented on #10739
@pganster this hook is not working for the Landscape case.
[code]
You can reproduce this issue by using a smaller landscape screen (`width < 600px`).

[2022-09-10 10:36] ZeeshanTamboli commented on #34253
Yes, `required` prop on FormHelperText is only to apply required classes key as indicated in the [docs](https://mui.com/material-ui/api/form-helper-text/).

Asterik (*) is usually on form control's label when the field is `required` from accessibility's point of view. It doesn't make sense to show it on helper text. If you want to show it on helper text you can simply include it in the helper text

[2022-09-10 10:36] #34253 closed

[2022-09-10 21:15] oliviertassinari commented on #33303
@michaldudak This was by design of the MD v1 spec: https://material.io/archive/guidelines/components/buttons.html#buttons-flat-buttons

<img width="197" alt="Screenshot 2022-09-10 at 23 11 17" src="https://user-images.githubusercontent.com/3165635/189501901-2c79e354-0977-4a6b-b17c-4f6b83765cff.png">

Now, looking at the MD v2. spec, I believe that we should remove the ripple on focus.

[2022-09-11 07:44] mtr1990 opened #34278 "[CSS variables] Nested theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Before when using nested themes with ThemeProvider and it worked fine.

I recently switched to CSS variables to better support next.js in Darkmode.

[code]

Above code works fine with following version dependencies:

[code]
But after i upgrade the dependenc

[2022-09-11 08:01] ManavJethani commented on #30369
Hi @mnajdova @EdmundMai , I am facing an issue with Mui Autocomplete when trying to move within the list of options with down arrow key on Firefox with VoiceOver screen reader enabled. It just collapses the list when i press the down arrow key, this is working fine with chrome. It is repeatable on official MUI docs for autocomplete https://mui.com/material-ui/react-autocomplete/, please let me kno

[2022-09-11 08:21] ManavJethani commented on #19134
Hi, @oliviertassinari @Bebersohl , I am facing an issue with MUI autocomplete, whenever i assign aria attributes to autocomplete it breaks my css. Also when i focus on the input, i get an error 'Uncaught TypeError: inputRef.current is null
    handleClick useAutocomplete.js:900', please let me know how i will resolve this. I am assigning the aria attribute on input field `<TextField

[2022-09-11 10:24] alisasanib commented on #34234
Hi @hbjORbj, may I work on this issue? I think the source of this discrepancy is this line in the code:

https://github.com/mui/material-ui/blob/f015784964f177834c475f79b0711bdb5e3ff512/packages/mui-lab/src/Masonry/Masonry.js#L96

As every item in the Masonry component has its own margins calculated based on the spacing value, I think it might be better to change this line as it's forcing extra ma

[2022-09-11 10:49] ManavJethani commented on #22302
Hi, @oliviertassinari @Bebersohl , I am facing an issue with MUI autocomplete, whenever i assign aria attributes to autocomplete it breaks my css. Also when i focus on the input, i get an error Uncaught TypeError: inputRef.current is null handleClick useAutocomplete.js:900, please let me know how i will resolve this. I am assigning the aria attribute on input field <TextField {...params} label="pl

[2022-09-11 10:53] ManavJethani commented on #25273
Hi, @teenguyen @oliviertassinari , I am facing an issue with MUI autocomplete, whenever i assign aria attributes to autocomplete it breaks my css. Also when i focus on the input, i get an error Uncaught TypeError: inputRef.current is null handleClick useAutocomplete.js:900, please let me know how i will resolve this. I am assigning the aria attribute on input field of autocomplete <TextField {...p

[2022-09-11 15:46] NickEmpetvee commented on #29491
@kirilreznik I went with something other than Material TreeItems. Once the data is in a parent/child hierarchy, I have a loop that maps through it and displays an icon and tracks depth, and uses depth to drive the indentations.

[2022-09-11 15:56] kazizi55 commented on #34170
Hi! @siriwatknp, can I pick this up?

[2022-09-12 00:58] kingofdice66 opened #34280 "Theming for MenuList component.focusOpacity and hoverOpacity not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![current](https://user-images.githubusercontent.com/50295155/189557998-80f2e5ab-290d-4406-ad25-89a946544b2f.png)

### Expected behavior 🤔

![expected](https://user-images.githubusercontent.com/50295155/189557944-669187d0-f06e-42a1-b94c-c5b2b8280056.png)

#

[2022-09-12 03:16] danilo-leal commented on #34242
That makes sense to me! But just out of curiosity, is there a use case where the decorator _isn't_ an icon?

[2022-09-12 03:48] siriwatknp commented on #34242
For examples:
- `Chip`: e.g. cart button
- `Text`: e.g. [checkout button](https://dribbble.com/shots/8031219-Checkout)
- `CircularProgress`: to display loading

[2022-09-12 04:58] takakobem opened #34282 "Grid v2 is not working properly with @mui/styled-engine-sc (styled-components)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Layout is not applied using Grid v2 with @mui/styled-engine-sc.

### Expected behavior 🤔

Layout is applied correctly using Grid v2 with @mui/styled-engine-sc.

### Steps to reproduce 🕹

load https://codesandbox.io/s/styled-components-forked-epl2xt and you

[2022-09-12 05:09] johndebord commented on #4909
With these props:
[code]
It doesn't appear to be centered. But it may be due to how the height and width are set; not sure

![sc](https://user-images.githubusercontent.com/35586806/189577857-4aca4007-9107-4ee9-96ed-ea94a3b166e2.png)

[2022-09-12 05:16] ZeeshanTamboli commented on #34280
If you see in the [`MenuItem` implementation](https://github.com/mui/material-ui/blob/master/packages/mui-material/src/MenuItem/MenuItem.js#L76), `action.hover` is used when hovering over an item. `action.hoverOpacity` and `action.focusOpacity` is used when the MenuItem is selected and then hovered.

[2022-09-12 05:16] #34280 closed

[2022-09-12 05:36] builtbyproxy commented on #33501
I'm getting the same error when using MUI in NextJS. I'm experiencing it with `createTheme` instead of `usePagination`
@Kyhaiu did you get any closer to solving this?

[2022-09-12 06:45] siriwatknp commented on #34239
Yeah, that makes sense to me.

[2022-09-12 06:45] ZeeshanTamboli commented on #34225
In `Select` component, you need to provide form control and input label, else `TextField` with `select` prop is a complete form control including a label, input and help text. The InputLabel and FormHelperText need to be rendered inside a FormControl in order to have the nice behavior and positioning in Select component.

For most use cases, you should use TextField rather than the lower-level com

[2022-09-12 06:45] #34225 closed

[2022-09-12 07:02] siriwatknp commented on #34214
In general, this makes sense to me. We can do a POC with Joy UI in the next quarter together with Data Grid integration.

[2022-09-12 07:37] ZeeshanTamboli commented on #34201
@MohammedSaberMohammed What is the issue exactly? What is your use case? The `options` and `renderInput` is a required prop for Autocomplete to work properly.

If you want to have custom name for props on your custom `SelectAutocompleteField` component which extends `AutocompleteProps`, you will have to omit `options` and `renderInput` from `AutocompleteProps` extended in your custom `Props` inter

[2022-09-12 07:37] #34201 closed

[2022-09-12 08:11] ZeeshanTamboli commented on #31185
Also can be solved by adding `margin="dense"`: https://github.com/mui/material-ui/issues/29892#issuecomment-979745849.

Duplicate of #29892 which will be considered in [v6](https://github.com/mui/material-ui/milestone/42).

[2022-09-12 08:11] #31185 closed

[2022-09-12 08:47] michaldudak commented on #33093
The type system is not aware of the logic you put in `filterOptions`, so it can't automatically exclude `string` from onChange's parameter. You can always manually type the parameter (`onChange={(event, newValue: FilmOptionType)...` and the additional code block won't be necessary.

[2022-09-12 08:51] michaldudak commented on #33303
:+1: Agreed.
@alisasanib could you take Olivier's comment into consideration in your PR?

[2022-09-12 08:52] alisasanib commented on #33303
@michaldudak Yes sure!

[2022-09-12 08:53] omarjcamo commented on #29191
Following...
Experiencing the same with a `styled` Grid and the `component` prop.

[2022-09-12 09:18] flaviendelangle commented on #34214
Would you consider it a breaking change ? Technically it's a behavior change but I don't know who would currently use the theme to define `components` and expect the current behavior.

[2022-09-12 10:45] ReverendDromaeo opened #34285 "GlobalColorOverrides"
Currently we have the option for typescript to augment the ButtonPropsColorOverrides so we can use our custom palette colors as strings for the color props on Button elements:

[code]

The implementation in Button.d.ts just uses the default strings and extends the interface:
[code]

Now being lazyBoi™ I don't want to add the overrides for every component, so I was wondering whether we could have s

[2022-09-12 11:07] michaldudak commented on #34236
Thanks for the report. I was able to reproduce it on both Windows and Mac.
Would you like to investigate the problem?

[2022-09-12 11:18] michaldudak commented on #34233
The Popover responsible for displaying option list has a default margin set to 16px. You can override it by setting it on MenuProps:

[code]

(or, with Select)

[code]

[2022-09-12 11:18] #34233 closed

[2022-09-12 11:28] michaldudak commented on #34218
Thanks for reporting this issue and the workaround. Would you like to investigate the root cause of this in our Select component?

[2022-09-12 11:30] michaldudak commented on #34195
@AhsanImtiazRafiq does @povilass' reply answer your issue?

[2022-09-12 11:35] kabernardes commented on #33903
Hi, can I try this one?!

[2022-09-12 11:51] dagochen opened #34286 "InputLabel overlaps with dropdown-arrow of Select component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On resizing the window the label overlaps with the dropdown button of the select component (see sandbox and screenshot).
This also applies to adornments.

![image](https://user-images.githubusercontent.com/5236186/189646136-5d9f4007-72ae-4dbf-b429-1b06959d8

[2022-09-12 12:24] DeLm0re commented on #34286
You can refer to a precedent issue opened for that case.
Here is my answer that is still working perfectly on 5.10.4
https://github.com/mui/material-ui/issues/28465#issuecomment-942271114

[2022-09-12 13:31] emlai commented on #32269
It's also weird that `error` color works, but not `warning`, `success`, etc.

[2022-09-12 14:12] emlai opened #34290 "[Typography] Cannot customize primary/error color"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`<Typography color="primary">` doesn't allow customizing the color:

- `color="primary"` doesn't add any classes that we could use for styling.

- `styleOverrides` doesn't support the `primary` or `colorPrimary` key:
[code]

- New component variant has no e

[2022-09-12 14:14] kazizi55 commented on #34170
I would like to take the work on it!

[2022-09-12 14:37] michaldudak commented on #33260
The poll results are in:

![image](https://user-images.githubusercontent.com/4696105/189682149-1ac202fe-9909-4d8b-948c-24f2d51f2e26.png)

We will proceed with the last option - have `Mui[Component]` in each product + product-specific classes on root slots.

[2022-09-12 15:10] #34185 closed

[2022-09-12 16:42] jscholes commented on #34250
Hello all; for context I represent [PAC](https://pac.bz), the team of accessibility consultants who recommended that this change be made within a product managed by @paulschreiber.  Hopefully I can shine a light on this suggestion.

A modal dialog is considered to be a distinct area from the main page, and hence the heading hierarchy can and should be reset.  An `h2` is not the most appropriate ch

[2022-09-12 16:52] paulschreiber commented on #34248
@oliviertassinari You are correct here. The review flagged some dividers as aesthetic, which should be suppressed by the screen reader, but it's fine for the default behaviour for Divider to be that it is announced.

[2022-09-12 16:59] danilo-leal commented on #34250
Thanks, @jscholes, appreciate the thorough answer! All of that makes sense to me and seems enough to allow the change to move forward. @oliviertassinari any objections or thoughts? We might want to enrich documentation about this, I think, given that it has come up again.

[2022-09-12 17:49] stmoor opened #34292 "Download Button does not work on mobile"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When clicking on a button to download a file on mobile, instead of downloading the file, it downloads an html file (with the name of the actual file it is supposed to download and .html at the end), but the file download notification on Android says "No fil

[2022-09-12 17:59] lenzi-erickson opened #34293 "In the latest MUI version, I have to add @mui/system package"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using "@mui/material": "~5.10.3" I did not need the @mui/system package. After upgrading to "@mui/material": "~5.10.5" I have to install the @mui/system package or I get a lot of "module not found" errors. (I noticed the issue when running jest tests). `Can

[2022-09-12 18:14] Kyhaiu commented on #33501
Unfortunately I don't know how to solve this without copying the entire code of `usePagination` in my case. But, maybe I can help you, if you provide an example with error on [codesandbox](https://codesandbox.io)

[2022-09-12 18:20] oliviertassinari commented on #34250
@danilo-leal it sounds good to move forward. I think that the change should be proposed to https://www.w3.org/WAI/ARIA/apg/example-index/dialog-modal/dialog.html too.

[2022-09-12 18:32] ozgurbaserdem opened #34294 "[Dark Theme] Using Dark Theme when theme is in a separate file?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am not sure if this should be labeled as a bug, since it could just be my organizations use of MUI Theme that is weird and I can't find a proper guide in the theming & dark theme docs for our case.

Currently, we have a theme set up in a seperate file, wh

[2022-09-13 02:43] 0xc00010ff opened #34297 "Using a Mui-X Grid with Joy - Error: MUI: Unsupported `var(--joy-palette-neutral-800)` color"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Error implementing basic Mui X Grid in a Joy project.

### Expected behavior 🤔

The grid should support CSS variables, or Joy UI theme values, or have a fallback that renders with a warning.

### Steps to reproduce 🕹

Steps:

1. Start a Joy project
2. Exten

[2022-09-13 02:44] 0xc00010ff commented on #34297
I'll buy the Mui X Pro if I can get the Grid to work in my Joy project.

[2022-09-13 02:47] siriwatknp commented on #34278
@mtr1990 First of all, thank you so much for opening the issue. I have been waiting for the nesting CSS variables theme.

Before we jump to a conclusion, can you first share why you need a nested CSS variables theme?

[2022-09-13 02:47] 0xc00010ff commented on #34297
I see this is being discussed in the mui-x repo. https://github.com/mui/mui-x/issues/6083
If you'd prefer us to discuss it there, feel free to close this or let me know and I'll close.

[2022-09-13 02:55] siriwatknp commented on #34282
This is a bug on `styled-components`. It seems like CSS variables do not work with object style.

<img width="557" alt="Screen Shot 2565-09-13 at 09 54 35" src="https://user-images.githubusercontent.com/18292247/189797324-3feecf55-92a4-45ba-aa0b-b96276c13c29.png">

<img width="485" alt="Screen Shot 2565-09-13 at 09 55 34" src="https://user-images.githubusercontent.com/18292247/189797460-d720a4f8-d

[2022-09-13 03:06] siriwatknp commented on #34282
Issue created: https://github.com/styled-components/styled-components/issues/3810

[2022-09-13 03:17] siriwatknp commented on #34252
The auto-focus should be done by the developer. For example, [this demo](https://mui.com/material-ui/react-dialog/#form-dialogs) focuses on the TextField when the dialog opens.

On you case, I guess you can add `autoFocus` to the Button:

[code]

If this does not work, please let me know. Note that, I am not sure why [it does not work in CodeSandbox](https://codesandbox.io/s/oj32k6?file=/demo.tsx)

[2022-09-13 03:17] #34252 closed

[2022-09-13 03:19] siriwatknp commented on #33260
@michaldudak Just to confirm for the product selector, are these correct: `Mui-material`, `Mui-joy`, and `Mui-base`?

[2022-09-13 04:21] mtr1990 commented on #34278
Hi @siriwatknp ,

Thanks for your feedback on this issue

Actually the functions change color, or switch light/dark mode… I can work directly on a single theme without nesting.

But in terms of component management, it won't be optimized

Currently the structure I'm using with ThemeProvider looks like this:

[code]

https://codesandbox.io/s/awesome-ellis-rt1ol9?file=/theme/palette.ts

You can remo

[2022-09-13 04:39] qwertie commented on #33416
FWIW I have absolutely no idea why you would refer to subcomponents as "slots". (I found this page by Googling "mui slots" because I saw "slots" in the documentation and had no idea what it meant.) I remember that slots in Qt meant "event handler"...

[2022-09-13 04:54] trombipeti opened #34298 "[TextField] `legend` style conflicts with Bootstrap when no label is set"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`<TextField size={"small"} variant="outlined" placeholder="No label" />`
![current](https://user-images.githubusercontent.com/6303783/189810714-1626d91b-918f-4a47-99ae-bcffc7656d61.png)

### Expected behavior 🤔

![expected](https://user-images.githubusercon

[2022-09-13 06:39] itarunbisht opened #34305 "Is there any official file upload component of material UI where we can **drag and drop** files or just simply upload them."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi
Is there any official file upload component of material UI where we can **drag and drop** files or just simply upload them.
Similar to the shared link.

https://www.npmjs.com/package/material-ui-dropzone
This seems like a third party package to me.

### Examples

[2022-09-13 07:13] michaldudak commented on #33260
Yeah, I think we can go with these.

[2022-09-13 08:12] teetotum commented on #34218
I would like to give it a try. I can't say when I will find the time though. Maybe next friday.

[2022-09-13 08:28] michaldudak commented on #33903
Sure, go ahead!

[2022-09-13 09:19] nemonemi opened #34306 "Objects are not valid as a React child on Alert after updating to 5.9.0 and 5.10.5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After running the same code that contains a snackbar + an alert, it throws the following error message:
[code]
The code:
[code]

### Expected behavior 🤔

It should work without any errors. This is a regression issue.

### Steps to reproduce 🕹

_No response_

[2022-09-13 09:27] michaldudak commented on #34194
Thanks for reporting this. Would you like to investigate this issue?

[2022-09-13 09:33] michaldudak commented on #34202
I'm able to select any number of stars using the keyboard in Safari. The difference seems to be that the selection does not wrap around (in Chrome, when I press the right arrow when five stars are selected, it goes to 0, then 1, etc.; in Safari it stays at 0).

Similarly to #34194, this may have something to do with focusing elements in Safari. Would you like to investigate this problem as well?

[2022-09-13 09:50] MichaelGorski commented on #10571
Did you try to use **import { LockOutlined } from "@mui/icons-material";** ? I had the same issue with trying to import icons like **import DeleteIcon from "@mui/icons-material/Delete"**; but didnt work.
Using the other way solved it for me.

(using vite)

[2022-09-13 09:55] michaldudak commented on #34198
@oliviertassinari I must admit even I'm confused here given the multitude of options we have (FormControlLabel vs FormLabel). The demo you point to in https://github.com/mui/material-ui/issues/11038#issuecomment-381721883 doesn't exist anymore, and we don't show required fields in either Radio, Checkbox, or Switch docs.

[2022-09-13 10:25] AhsanImtiazRafiq commented on #34195
@michaldudak yeah thats one way to do it , I haven't tried it but it make sense and can be used as workaround , but it would be great if you can add the relevant styleoverride props in the next release as mentioned in the Button API documentation , or don't declare it in the documentation as this creates confusion.

For me I also used a workaround with css, the solution I applied is in the followi

[2022-09-13 11:12] michaldudak commented on #34199
The autocomplete options should not contain duplicates. What would be the use case with them, anyway?

[2022-09-13 11:20] maio4 opened #34307 "[DataGrid] MUI datagrid filter popup causes horizontal scrolling and extends further from website limits on mobile"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When clicking on the filter button in the DataGrid , the popup doesn't adjust to the screen limits and causes horizontal scrolling.
This image represents this page: https://v4.mui.com/components/data-grid/filtering/
![image](https://user-images.githubuserco

[2022-09-13 12:17] yk-jemmic commented on #34061
@michaldudak I wouldn't say it's not a popular use case. Being able to use a MUI with a React app that can be wrapped with a web component using shadowDom will give you more potential clients with big finances who want to move from JSF/JSP to ReactJS and who is willing to pay for the pro version.

There are currently 2 ways to use a React app with JSF/JSP.
- in the *.xhtml file, include the iframe

[2022-09-13 13:55] michaldudak commented on #34133
I was able to reproduce it. Would you like to dig a little deeper and investigate the root cause of this?

[2022-09-13 13:57] michaldudak commented on #34148
Would you be able to prepare a minimal repo I could clone to reproduce the error?

[2022-09-13 14:56] githorse opened #34308 "Error when using color utilities on palette colors (`Unsupported 'primary.main' color.`)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I can't use the `lighten` or `darken` utilities with a palette color:

[code]

This may duplicate [34297](https://github.com/mui/material-ui/issues/34297), but I'm not sure.

### Expected behavior 🤔

The `lighten` and `darken` utilities should work with `sx

[2022-09-13 17:01] adamransom commented on #33709
For us at least, the following workaround gives us the desired behaviour:

[code]

[2022-09-13 19:08] nizans commented on #32686
@siamahnaf198
Same issue here, any solution ?

[2022-09-13 19:15] siamahnaf198 commented on #32686
Try

`<Grid item {...{smd: 6}></Grid>`

[2022-09-13 19:16] siamahnaf198 commented on #32686
Try

`<Grid item {...{smd: 6}></Grid>`

[2022-09-13 19:16] siamahnaf198 commented on #32686
Try

`<Grid item {...{smd: 6}></Grid>`

[2022-09-13 19:46] migo commented on #34148
Hi @michaldudak, I tried to create a minimal repo for reproducing it, but I did not succeed.
Then I tried to minify my original code and came to a point where my minimal project and my original project were exactly the same. Still the error only occurred in my original project. Then I realized that it must have to do with the package-lock.json file. When I removed it in my original project, the er

[2022-09-14 00:13] richmondp commented on #34199
Agreed @michaldudak, the data isn't that useful when it contains duplicates and in my particular case I am not in control of the data coming through but I can map over the data and modify the label to make them distinct.

That being said, I still did not expect to results for the autocomplete component not matching my input string.

[2022-09-14 05:14] MaxiSantos commented on #30599
https://github.com/mui/material-ui/issues/27846

This is still happening.. wondering where the problem is..

[code]
I have styled-engine folder under node_modules/@mui (and the engine is styled-compoennt-sr) I saw it working when changed styled-engine version to a different one (from 5.3.0 to latest) But after reinstalling all again (because I watend to see if it was working correctly) then it sta

[2022-09-14 05:36] andrew-tacklit commented on #30447
Hi, has anyone managed to set up this on v5? I need some guidance on this, please 🙏

[2022-09-14 07:39] michaldudak commented on #34292
We don't have any custom logic for the `download` attribute in Material UI components, so likely this isn't a bug in our project.
What is this `Link` component you pass into the `component` prop? Could you try using it directly and checking if the problem still exists?

[code]