[2021-08-03 08:24] BobrImperator commented on #27238
I noticed that the only missing thing for us to make theme being respected in storybook was to add `CssBaseline` in the preview, there was no need to re-define the providers.
Though interestingly the CssBaseline is not explicitly added by us in the app itself.

It looks something like this:
[code]

[2021-08-03 08:47] gurkerl83 commented on #27530
The topic described in the present issue seems related to https://github.com/mui-org/material-ui/issues/27234.

The basic question here seems to be how the object styleProps could be generated in its form in a dynamic way.

Perhaps for the typing of the overridesResolver also the values returned by the function shouldForwardProp is meaningful, in order to compute a flexible type.

Thx!

[2021-08-03 09:54] stevegreenn opened #27584 "Clicking a Select component when embedded within an iFrame causes the page to jump [Firefox]"
- [x] The issue is present in the latest release (and the v5 beta).
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When an app using Material-UI's Select component is embedded within an IFrame, you get behaviour like this:
![alt text](https://i.imgur.com/C2oLihy.gif)

As you can

[2021-08-03 10:22] mnajdova commented on #27530
What exact problem is not solved with https://github.com/mui-org/material-ui/issues/27530#issuecomment-890882150? You are providing the props per component creation, you can make them loose if you need to. Can you provide more concrete example of what is not working or is difficult to be implemented.

[2021-08-03 10:30] mnajdova commented on #27584
Can you please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), or a link to a repository on GitHub that reproduces the problem?

[2021-08-03 10:48] stevegreenn commented on #27584
[Here is a CodeSandbox](https://codesandbox.io/s/429zg)
[Here is a direct link to the page containing an IFrame](https://429zg.csb.app/iframe.html).

[2021-08-03 10:56] rajzik opened #27586 "[LoadingButton] Change behavior of the loading button for position `start` | `end`"
Use `startIcon` and `endIcon` for the loading button when `loadingPosition` is `start` or `end`.

This would help for better styling options as `loadingIndicator` have position absolute and doesn't have any size in button context.

Loading button can be used without icon and `LoadingIndicator` covers icon anyway.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues]

[2021-08-03 11:10] mnajdova commented on #21015
@JacobMGEvans please provide a codensandbox illustrating the issue.

[2021-08-03 11:24] mnajdova commented on #23877
@asibilia it's expected for v5. See https://next.material-ui.com/guides/migration-v4/#jest-syntaxerror-unexpected-token-export

[2021-08-03 11:25] mikomarrache opened #27587 "DatePicker.onChange - selectionState argument always undefined"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When selecting a date, the selectionState argument is always undefined.

## Expected Behavior 🤔

When selecting a date, the selectionState argument should have one of the defined valu

[2021-08-03 11:43] mikomarrache commented on #27587
I think #24151 is related. The use of onAccept can be replaced by onChange. However, I don't think that would work if we don't get the selectionState.

[2021-08-03 11:47] mnajdova commented on #26571
@sarink thank for pointing out. Here is a working example:

https://codesandbox.io/s/kind-resonance-ldo25?file=/src/Demo.tsx

This is for the host elements. The components are used as:

[code]
For dynamic element rendered, you can use the `as` prop, available in both emotion & styled-components:

[code]

[2021-08-03 11:54] Paul6552 opened #27589 "[DatePicker v5] required attributes missing"
IntelliJ is telling me that required attributes are missing.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
IntelliJ is telling me that I miss required attributes (date, openPicker, rawValue)
![image](https://user-images.githubu

[2021-08-03 13:06] oliviertassinari commented on #27590
This makes me wonder is using `type: 'tel'` correct? Shouldn't we do?

[code]

[2021-08-03 13:11] Avni1802 commented on #20856
Can i work on this issue??

[2021-08-03 13:15] DaltheCow commented on #19679
Why did this work? I had already set up _app.jsx and _document.js and that solved most of the mismatched classname instances but the final one with MuiBox-root-7 and MuiBox-root-8 didn't go away until turning off reactStrictMode...

[2021-08-03 13:29] oliviertassinari commented on #20856
@Avni1802 Yes. @michaldudak any concern with swapping the position of the input before the overlay?

[2021-08-03 13:33] #27241 closed

[2021-08-03 13:34] #27204 closed

[2021-08-03 13:35] oliviertassinari commented on #27212
@daniel-ilan See the docs, there are multiple steps to get RTL working: https://next.material-ui.com/guides/right-to-left/

[2021-08-03 13:35] #27212 closed

[2021-08-03 13:35] #27250 closed

[2021-08-03 13:36] oliviertassinari commented on #27250
For context and AFAIK `process.browser` is specific to Next.js

[2021-08-03 13:46] mnajdova commented on #27586
If you check your console you will see a warning that this is not supported:

[code]

We do not use the start and end icon for the loading indicator as there would be a shift in the width of the button when changing states. If you still want to support it, I would recommend setting bigger width of the button.

[2021-08-03 13:46] #27586 closed

[2021-08-03 13:52] m365i commented on #27525
from locking around, this thread https://stackoverflow.com/a/54520964 suggest that it might only be a windows specific problem.
this is what i see
![image](https://user-images.githubusercontent.com/80205459/128027151-86737e1e-ee07-48d7-b9b5-3028e6427efc.png)
and after changing
[code]
to
[code]
![image](https://user-images.githubusercontent.com/80205459/128027242-6014cfc7-8e91-4b12-8c7c-eddf4aa4fff

[2021-08-03 13:52] oliviertassinari commented on #27327
I'm closing because we don't support `@material-ui/styles`.

[2021-08-03 13:52] #27327 closed

[2021-08-03 14:00] oliviertassinari commented on #27475
It seems the same as #15529. I can't reproduce the issue: https://codesandbox.io/s/material-demo-forked-386xd?file=/demo.tsx on Chrome 91. @liitfr What browser are you using?

I would propose we close any issue regarding `@material-ui/styles` as "won't fix", motivated by the fact that it has a high opportunity cost. We are deprecating it, soon or later.

[2021-08-03 14:00] mnajdova commented on #27584
Hmm, I can't reproduce. I am using the same Windows and Firefox versions.

<img src="https://user-images.githubusercontent.com/4512430/128028551-14c3ae0b-73c4-4cec-bca2-b422c9ce93f2.gif" width="300" />

[2021-08-03 14:08] mnajdova commented on #27584
Alright, I can reproduce

[2021-08-03 14:33] Avni1802 commented on #20856
We just need to remove z-index: 1 from the class named PrivateSwitchBase-input-7 because as it is z-index : 1 it will always be on the top layer and the click event triggers.
For better understanding i am attaching the image.
![Screenshot (260)_LI](https://user-images.githubusercontent.com/59050786/128033978-2cddadf7-9e17-499d-aaff-221df018238a.jpg)

[2021-08-03 14:41] kkataev commented on #27577
@KyLoc20 thank you for your explanation. But my question is more like when to use it behavior-wise? Do we have any design preference here, or it is just matter of what you like more?

[2021-08-03 14:55] michaldudak commented on #20856
No, I don't see any issue with that.
However, is removing the `z-index` from the input not sufficient?

[2021-08-03 14:58] Sandeep0695 commented on #27589
Have u tried the same on VS Code?

[2021-08-03 15:24] dethstrobe commented on #27535
That was it. Works like a charm. Thank you @eps1lon

[2021-08-03 15:26] michaelbayday commented on #15695
interested in this :(

[2021-08-03 17:05] oliviertassinari commented on #15695
@bengry If you have proposals on how it could be implemented, please let us know.

[2021-08-03 17:06] oliviertassinari commented on #20856
@michaldudak The `<input>` needs to be last in the DOM to render above it's previous siblings

[2021-08-03 17:11] a2441918 opened #27592 "Unable to style a selected list item - V5"
I am using Material V5. How do I style the selected list item? I want a borderLeft of 5px.

Something like this:

[![enter image description here][1]][1]

    const theme = createTheme({
      palette: {
        primary: {
          // light: will be calculated from palette.primary.main,
          main: colors.primary
          // dark: will be calculated from palette.primary.main,
        }

[2021-08-03 17:42] killmenot commented on #14427
it also requires to override styles for `MuiFilledInput` and `MuiOutlinedInput` to have the same behaviour with dark mode
[code]

[2021-08-03 17:59] oliviertassinari commented on #19679
@DaltheCow The styling solution in v4 is not strict mode compatible. You would need to upgrade to v5 to get this.

[2021-08-03 18:43] AnthonyDugarte opened #27593 "[ThemeOptions V5]: Component prop not available in MuiLink's defaultProps when creating theme"
When configuring the default component prop for MuiLink:

![image](https://user-images.githubusercontent.com/34623660/128068370-9e916335-bfdc-4a9a-968a-bd9db2dfef7c.png)

 as in the [guide](https://next.material-ui.com/guides/routing/#global-theme-link):

![image](https://user-images.githubusercontent.com/34623660/128068095-ef895674-5dbd-491f-8cc6-ff474e365fe2.png)

The following error is presenti

[2021-08-03 19:21] githorse commented on #16745
Note that above solution does not help me when I just want to style all children:

[code]

I haven't found a way to make this work; if anybody knows how, please post it.

[2021-08-03 19:46] michaldudak commented on #20856
All right, looks like it should work, then.

[2021-08-03 20:11] oliviertassinari commented on #27475
Confirmed:

[code]

https://github.com/cssinjs/jss/blob/master/packages/jss/src/utils/escape.js

[2021-08-03 20:12] oliviertassinari commented on #27475
@liitfr Feel free to fix this upstream in https://github.com/cssinjs/jss if it's important for you.

[2021-08-03 20:12] #27475 closed

[2021-08-03 20:39] latobibor opened #27594 "[Select v5-beta.2] Outlined component's label has no background fill (looks "strikethrough")"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/12050526/128075763-f1a98c65-5ffe-492a-a363-093279d8ffba.png)

## Expected Behavior 🤔
![image](https://user-images.githubusercontent.c

[2021-08-03 21:19] sarink commented on #26571
@mnajdova what about typesafety?

[2021-08-03 21:50] kieckhafer commented on #25324
I'm also seeing this issue on a lot of my components, it seems that the `Mui{Component}-root` styles are overriding any local styles I have created with makeStyles. This is happening in at least 4 components I can think of off hand.

I've even taken examples of nested lists directly from the docs, and I'm still seeing this:

[code]

<img width="379" alt="Screen Shot 2021-08-03 at 2 49 14 PM" src="

[2021-08-04 01:52] robsonkades commented on #25324
I have the same problem.

react and nextjs

[2021-08-04 03:28] thinceller commented on #24901
Is there any update on this?
Can I create a pull request using the modification approach in [this comment](https://github.com/mui-org/material-ui/issues/24901#issuecomment-778688048)?

[2021-08-04 07:00] Paul6552 commented on #27589
No. Could not imagine why this should make a difference

[2021-08-04 08:10] intereki commented on #25856
I wonder even in demo link: https://codesandbox.io/s/nrblo?file=/demo.js the label is not working properly.

[2021-08-04 09:02] PoojaKushwah1402 commented on #18119
TypeError: Cannot read property 'className' of undefined
Still facing this issue, even though I have wrapped the component inside some other comp.

[2021-08-04 09:07] mohsenomidi commented on #27594
This issue also exist in text field

[2021-08-04 09:30] michal-perlakowski commented on #27594
I think you should add `label="Category"` to the Select. See [the updated sandbox](https://codesandbox.io/s/hopeful-lehmann-7x1xy?file=/src/App.tsx).

FWIW, it might be easier for you to use a [TextField with the `select` prop](https://next.material-ui.com/components/text-fields/#select) instead of using the Select component directly

[2021-08-04 09:43] michal-perlakowski commented on #27593
This is just a TypeScript error, so as a temporary workaround you can `// @ts-ignore` - this is how it's done in the demo.

[2021-08-04 09:58] ItayTur commented on #17775
Found a workaround [here](https://stackoverflow.com/a/58379376/9608006)

basiclly wrapping the inner input with `<MenuItem/>` and call `event.stopPropagation()` on `onKeyDown` prop.
[code]

[2021-08-04 10:27] SunD004 commented on #23523
same troubles, when fix? :)

[2021-08-04 10:35] SunD004 commented on #23523
same troubles, when fix? :)

Can you add this features to KeyboardDateTimePicker ? :d

[2021-08-04 10:50] michal-perlakowski commented on #27592
You have to change `MuiListItem` to `MuiListItemButton` and `&$selected` to `&.Mui-selected`. See [the updated sandbox](https://codesandbox.io/s/selectedlistitem-material-demo-forked-qb3ij).

[2021-08-04 11:01] michal-perlakowski commented on #27589
This is probably a bug in IntelliJ, because TypeScript doesn't show these errors.

[2021-08-04 11:16] #27490 closed

[2021-08-04 11:17] mnajdova commented on #27490
@Brodzko I've merged the PR that adds the support for `createStyles`. Let me know if there are some problems once you test it

[2021-08-04 11:27] michal-perlakowski commented on #27582
You're passing incorrect value to the `open` prop. When `anchorEl` isn't null, you open all menus, but only one can be visible at a time, so the last one is visible. To fix this, you can add a state variable which will track which menu is open:

[code]

See [the updated demo](https://codesandbox.io/s/focused-grass-qhnls).

[2021-08-04 11:42] wolfgang2612 commented on #27582
Ah, thank you so much. I didn't realise this mistake.

[2021-08-04 11:51] kanermichael opened #27601 "Menu component add padding to body and moves the scrollbar of the window"
When using the menu component and clicking for the subitems to open, a padding-right with 15 px and a overflow:hidden is added to body.

`<body dir="ltr" style="padding-right: 15px; overflow: hidden;">`

this results in pushing the whole body when it is clicked

- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of

[2021-08-04 11:52] Brodzko commented on #27490
@mnajdova  I have started working on a different story in the meantime so it will take a while but I will ping when I try it out. Thanks for spending time on this!

[2021-08-04 13:02] BensonLiao commented on #20856
I vote for removing the `z-index` too,
the native radio button using `auto` and it works fine on all these cases.

And I've also done a few [test](https://codesandbox.io/s/material-ui-test-on-radio-button-event-consistency-205eo?file=/demo.js) about this issue under the environment according to #17366,
you can see the one with implicit label doesn’t have this problem.

I think the problem could be

[2021-08-04 13:08] oliviertassinari commented on #20856
@BensonLiao Please go ahead with a PR

[2021-08-04 14:01] BensonLiao commented on #20856
Thanks and I'm honor to take the ticket!
You agree with this solution too?
I though it may raise a debate for paring the label with some type of input,
it seems no definite answer for now,
while I personally stands for pairing label with these type of input,
because it provide more a11y and focus/activate area to trigger event like [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/la

[2021-08-04 15:05] nkappler commented on #11723
why is this so hard?

I've hacked something together in a few minutes, which seems to work fine:

[code]

this is just a POC handling the submenu opening and closing on hover but it is pretty straightforward and works...

[2021-08-04 15:19] JeremyGrieshop commented on #11723
When a submenu more than 2 deep is opened, this would close the parent when entering the child, I imagine.  You have to be able to control the entire ancestor hierarchy to keep them all open.   Likewise, when hovering away from the deepest child, the child and all parents have to "close".

[2021-08-04 15:28] nkappler commented on #11723
That was my intuition, too, but no, it works with arbitrary many submenus:
![image](https://user-images.githubusercontent.com/9429273/128209015-e18b4172-68ee-4917-a2ba-b2e3bf81c3fc.png)

[2021-08-04 15:32] nkappler commented on #11723
Since the new Popper is part of the MenuItem, the onMouseLeave event is not triggered for any submenus

[2021-08-04 15:33] JeremyGrieshop commented on #11723
Got a link to a codesandbox?

[2021-08-04 15:47] nkappler commented on #11723
https://codesandbox.io/s/stoic-mcnulty-ux2l8?file=/src/App.tsx

Here you go, there's really not much to it...

[2021-08-04 15:57] nkappler commented on #11723
The root menu has to be implemented with a Popper + ClickAwayListener, I think. Popover won't work because then the submenus event handlers don't work

[2021-08-04 16:12] JeremyGrieshop commented on #11723
There's a lot I like about the simplicity of this solution!  The current PR for this (#20591 ) solves some accessibility, keyboard navigation, RTL support, and additional styling, too.  I had been using a custom solution myself, but I may try to convert it over to yours until the PR can get merged.

But, I'd probably add keyboard events and a transition/delay for the Poppers.

One thing that would

[2021-08-04 16:31] nkappler commented on #11723
Yes, that's a good point, I also had it in mind but just wanted to write a quick POC tailored to my needs

I have noticed this already, too. Could be a bit tricky...

[2021-08-04 16:52] cmacdonnacha opened #27604 "[Theme] Child theme does not inherit parent theme styles"
I have noticed that my child component which has its own theme, does not inherit styles from its parent theme.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Child theme does not inherit styles from parent theme.

## Expected Beh

[2021-08-04 17:42] R-Bower opened #27605 "[system] TypeScript type for compose function doesn't expose filterProps"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary

The source code for the `compose` function from `"@material-ui/system"` generates a `filterProps` property that isn't exposed in the function's TypeScript type.

## Example 🌈
[code]

## Motivation 🔦

Many components in my library rely on custom

[2021-08-04 18:04] Enough7 commented on #27191
It broke between [9th May](https://web.archive.org/web/20210509110939/https://material-ui.com/api/grid/) and [25th July](https://web.archive.org/web/20210725165502/https://material-ui.com/api/grid/). Just for the record

[2021-08-04 18:08] the-wrong-guy opened #27606 "How to customise the UI of TextField of type "datetime-local" ?"
Hey, I am using TextField for getting data and time input and I want to customize its look, I did searching on how to customise it but found nothing but an unanswered question on [StackOverflow](https://stackoverflow.com/questions/65783998/how-to-customize-the-material-ui-textfield-datetime-picker).

So can anyone tell me how to customize it?

[code]

[2021-08-04 19:23] fvkramer opened #27607 "[docs] v4 Mismatch between default theming palette colors and rendered output"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Default color values on the theming palette page https://material-ui.com/customization/palette/ show different hexadecimal values than color values on default theme page https://mat

[2021-08-04 21:24] latobibor commented on #27594
Thanks for the tip! Do you think this should be done through documentation change (pointing to _TextField with `select` prop`) or should it be fixed?

I think the "UX" of the code shows it was not _obvious_ to me what to use, therefore something gotta change.

[2021-08-04 21:30] oliviertassinari commented on #20856
@BensonLiao The label is off-topic to the problem we are going after.

[2021-08-04 22:23] Karol-Perec commented on #18200
Ad 1. Stopping propagation worked for me.
`            <ListSubheader onClickCapture={(e) => e.stopPropagation()}>
              {title}
            </ListSubheader>`

[2021-08-04 22:47] hanstar17 commented on #20852
I also wish to see this change soon. But what is a reasonable workaround for my use case?

My use case is basically Notion's tag field:
1. The field can take multiple tags.
2. On focus, no items should be highlighted i.e.e autoHighlight=false
3. If user types, the first item is highlighted (inputValue-highlighted item)
4. User-highlighted item (by up/down keys or hover) takes precedence over input

[2021-08-04 23:24] tractorcow commented on #20373
Issue persists on 4.12.3 too.

[2021-08-04 23:45] lovelle-cardoso commented on #21782
Our team was also really caught off guard by this. We noticed the bundle sizes for our form pages were really bloated despite us only using text fields and buttons from material-ui. Spent ages trying to track down where the bundler was getting confused and importing Selects and Modals, only to find that TextField bundles Select, Modal, and their many dependencies by default.

For any other devs st

[2021-08-05 02:29] nolastemgarden opened #27608 "[Stepper] Demo doesn't match description."
In the v5.0.0-beta.2 documentation, on the demo page for Steppers, under the headings "Mobile Stepper" and "Text" it says it is going to demonstrate a mobile stepper where "The current step and total number of steps are displayed as text." but it in fact has a domo with dots.
Sorry if I am submitting this error report in the wrong way, I'm a first time contributor.  It's not really a "bug" but it'

[2021-08-05 02:30] nolastemgarden commented on #27608
Here is the link to the place in the docs where the error is https://next.material-ui.com/components/steppers/#text

[2021-08-05 02:56] arbrog commented on #16456
@McGern You can use `createStyles` to have better typing:
[code]

[2021-08-05 03:19] dailytravel opened #27611 "Add locale props to ListItemButton"
Hi Team!

I think that, we need add locale props to ListItemButton component to use Internationalized Routing in NextJs, thanks!

- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2021-08-05 05:28] BensonLiao commented on #20856
@oliviertassinari Thanks for reply~
so it seems this checkbox problem was not that simple if we just remove `z-index` from SwitchBase?
ok then I'll try go for some test with the label issue under current environment.

[2021-08-05 08:36] #27413 closed

[2021-08-05 08:47] #27486 closed

[2021-08-05 08:48] eps1lon commented on #27611
Thanks for the feedback.

Could you expand more on what problem you're trying to solve? Forgot about the API for now and instead focus on the problem.

[2021-08-05 08:59] eps1lon commented on #27606
You want to check how to customize `<input type="datetime-local" />`.

[2021-08-05 09:00] #27606 closed

[2021-08-05 09:02] eps1lon commented on #27191
Closed in https://github.com/mui-org/material-ui/pull/27576

[2021-08-05 09:02] #27191 closed

[2021-08-05 09:08] dailytravel commented on #27611
Hi!

I think that, if you add the locale prop to ListItemButton to NextJs auto
add locale to path when route locale changed. Many thanks!

<ListItemButton component="a" href="#simple-list" locale="en-us">
  <ListItemText primary="Spam" /></ListItemButton>

On Thu, Aug 5, 2021 at 3:48 PM Sebastian Silbermann <
***@***.***> wrote:

[2021-08-05 09:09] #27611 closed

[2021-08-05 09:27] nkappler commented on #11723
One thing I just noticed, which the PR hasn't solved yet is parent MenuItems staying highlighted when a sub(sub...)menu is open.
This would be very easy to implement with my solution.

[2021-08-05 09:35] Salmaan-gurmani commented on #27489
Yes it is also reproducable there as well :)

[2021-08-05 09:42] eps1lon commented on #27594
Duplicate of https://github.com/mui-org/material-ui/issues/27533

[2021-08-05 09:42] #27594 closed

[2021-08-05 09:44] #27589 closed

[2021-08-05 09:47] eps1lon commented on #27489
Does this look like on the screenshot just by visiting the page or did you do anything additional?

[2021-08-05 09:55] MridulaKamath opened #27612 "[docs] API props tables too squished on tighter viewports"
The description column of Props in swipeable drawer api page is not visible.
This is probably because `disableSwipeToOpen` is having a longer value in `default` column.

https://github.com/mui-org/material-ui/blob/639d5f82ce418483eab9fa7b65d56ccc9aea49a1/docs/pages/api-docs/swipeable-drawer.json#L9-L12

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://gi

[2021-08-05 10:19] eps1lon commented on #27590
We are no longer assuming an `inputMode` and probably shouldn't for i18n considerations.

If you want to force `numeric`, you can do that by specifying it via `renderInput`:

[code]

[2021-08-05 10:28] PalTamasWBA commented on #25324
Same here

![image](https://user-images.githubusercontent.com/12021198/128335059-083caff4-3dc1-467a-bf1c-4e7d282a6456.png)

My stylesheet of the mui divider is injected after the custom makeStyles.

I'm using react + storybook

[code]
`ThemeProvider` is just my custom wrapper around the `ThemeProvider` from `@material-ui/core/styles`

I am not using `@material-ui/styles` anywhere.

[2021-08-05 10:30] Salmaan-gurmani commented on #27489
https://user-images.githubusercontent.com/64686892/128335593-4fd43b2a-8bc6-44d5-8b67-322f655b876c.MP4

I have uploaded a video for your convenience. Thanks for keeping up

[2021-08-05 10:55] Taipan95 opened #27613 "[Autocomplete] Can't pass styles to dropdown menu items"
I don't know if this is a bug or if it's something I am doing wrong but I would appreciate some feedback on this, I've been pulling my hair with this for a couple of days now.

I am using v5 beta1 release (my codesandbox link is on beta2 release), and I would like to customize the options in the dropdown menu, specifically the states when the user hovers over an item or navigates through the list

[2021-08-05 11:17] magdastone commented on #21488
I've been experiencing the same problem. I am using material-ui's radio button group and I am not able to focus a radio button with tab. I am working with chrome. I checked safari and firefox - same issue

[2021-08-05 12:00] #26698 closed

[2021-08-05 12:25] Bidrman opened #27614 "Chip Select with deleteable chips"
Hey guys,

The problem was spotted in MUI 5 beta

here is a code to sandbox I made (not a masterpiece, but it should be fine for demonstation).

https://codesandbox.io/s/multipleselectchip-material-demo-forked-khdio?file=/demo.tsx

Now when you add some option chips into the select, you can notice that they should be deleteable, however if you click on closing button chip wont disappear, only sele

[2021-08-05 13:49] BensonLiao commented on #20856
Hi @oliviertassinari, one little question.
so the PR for radio's label workaround should link back to #17366, right?
thanks.

[2021-08-05 14:25] mnajdova commented on #27605
Agree, the following diff should fix it:

[code]

@R-Bower would you like to create a PR for it :) ?

[2021-08-05 14:48] Floriferous opened #27616 "[TextArea] Maximum Height demo appears to be broken"
It's possible that I misunderstand the demo itself, but it does not seem to do what it should: https://material-ui.com/components/textarea-autosize/#maximum-height

You can increase the size of the textarea as much as you want with the mouse. Maybe this is the expected behavior, but that could be clarified with a short description, such as "Maximum and minimum height applies to keyboard and window

[2021-08-05 16:15] dandrei commented on #27216
Using `5.0.0-beta.2` and I still have access to `makeStyles`. Presumably this will be completely deprecated by the time the stable version is released?

[2021-08-05 16:16] R-Bower commented on #27605
Will do! :)

[2021-08-05 16:51] smac89 opened #27617 "[Documentation] MuiGrid props section is broken"
https://material-ui.com/api/grid/#props

Scroll to props, and observe how bad the formatting looks.

[2021-08-05 18:44] tm1000 commented on #27397
Meant to comment Thanks @michaldudak #27416 is perfect and @oliviertassinari I'm kind of embarrassed I looked for other tickets on this and couldn't find them!! :-|. For me #27416 works just because without it I was looking into the source and wasting a bit a of time. Thank you both for your dedication to this project and the hours you spend on it!

[2021-08-05 19:34] eashish93 opened #27621 "Advanced configuration not needed for SSR with emotion + next.js"
As per doc, emotion > 10 just works out of box for SSR. Even next.js emotion example shows no config needed for SSR. So why in material ui example for next.js, emotion cache is needed.

[2021-08-05 19:44] eashish93 commented on #27621
Closing, as I missed the comment on material-ui next.js example which describe the potential problem.

[2021-08-05 20:09] joacub opened #27622 "makeStyles hook fired every time"
The hook is firing the render all the times even if there is not changes, when using memo for example and using this hook.

this is in last next beta release

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

[2021-08-05 20:29] wescopeland commented on #13253
Beware: `display: 'contents'` has a major implementation bug with all versions of Safari causing its child content to be inaccessible by assistive technologies.

[2021-08-05 20:34] mnajdova commented on #27622
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-05 20:36] mnajdova commented on #27617
Was fixed by https://github.com/mui-org/material-ui/pull/27576. Prove: https://deploy-preview-27576--material-ui.netlify.app/api/grid/

[2021-08-05 20:37] #27617 closed

[2021-08-05 20:37] mnajdova commented on #27419
Fixed by https://github.com/mui-org/material-ui/pull/27503

[2021-08-05 20:37] #27419 closed

[2021-08-05 20:46] mnajdova commented on #27616
Thanks for the report. This is expected. It's how the HTML textarea works. These two aspects of resizing are different. You need to use CSS to disable this behavior: `resize: none`.

I wouldn't change anything to be honest. Let's see if someone else has an opinion on this.

[2021-08-05 20:49] #27614 closed

[2021-08-05 20:49] mnajdova commented on #27614
Hint: You can use https://next.material-ui.com/components/autocomplete/#multiple-values

[2021-08-05 20:59] mnajdova commented on #27613
Thanks for the report. Here is a working example: https://codesandbox.io/s/combobox-material-demo-forked-ugd4c?file=/demo.js

This is a bit tricky. The problem is that the component renders the list as a sibling to the root, so styling the root won't help. I've used in the demo the `PopperComponent`, but this is also not ideal, mainly because the styles are winning only because we have increased t

[2021-08-05 21:05] mnajdova commented on #27612
Can you please share a screenshot? What was the size of the window when it was not visible? I can see it:

<img src="https://user-images.githubusercontent.com/4512430/128421024-87413d4e-054f-4828-8971-cf04da78c106.png" width="600" />

[2021-08-05 21:11] mnajdova commented on #27604
It's by design. You can use callback for the nested theme and merge it with the outer, See https://next.material-ui.com/customization/theming/#nesting-the-theme

Here is a working codesandbox - https://codesandbox.io/s/f2r0z?file=/demo.tsx

[2021-08-05 21:11] #27604 closed

[2021-08-05 21:12] mnajdova commented on #27601
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-05 21:15] mnajdova commented on #27593
Related guide on TypeScript - https://next.material-ui.com/guides/typescript/#usage-of-component-prop

[2021-08-05 21:24] mnajdova commented on #27587
@mikomarrache please your use-case on https://github.com/mui-org/material-ui/issues/24151 so that we have one conversion opened around this. In addition, I guess you can also use the `onClose` event too as an indicator that the date was chosen.

[2021-08-05 21:24] #27587 closed

[2021-08-05 21:34] mnajdova commented on #27579
Note that, there isn't a `TransferList` component exported from Material-UI. It is simply a demo of how one can be created. I agree that it may be confusing that it is listed as a component in the sidebar.

Seeing the date from [last year's survey](https://material-ui.com/blog/2020-developer-survey-results/#5-how-can-we-improve-material-ui-for-you) that we did, it wasn't something that was asked f

[2021-08-05 21:44] oliviertassinari commented on #27579
The component was introduced to match https://ant.design/components/transfer/ and old UX pattern. I don't get the issues raised:

1.  for mobile devices => it's meant for desktops
2. overall this pattern requires two scan => it's the tradeoff of the component
3. example of composed components => we have more example like this in the casebase

I would personally close this issue, but cc @mbrookes f

[2021-08-05 22:15] pantelispanayiotou commented on #27613
Thank you for the answer, helped me as well. Can you also please show a way to target .Mui-focused? Because currently when i hover away, the styles of focused are applied and the option is highlighted. I would like to control this with styles

[2021-08-05 23:44] MrDogeBro commented on #27419
Thanks!

[2021-08-06 00:13] alvamanu commented on #27622
There is an issue with this hook that is breaking everything related to it. I believe they changed the directory where it resides.

It's breaking my template and also node modules. Notistack specifically.

[2021-08-06 00:17] alvamanu opened #27623 "makeStyles dir @material-ui/core/styles breaks my build"
There's no much details to put here. I'm supposed to present a project to my boss right now, as in today. And I can't deploy it because

`./node_modules/notistack/dist/notistack.esm.js
Attempted import error: 'makeStyles' is not exported from '@material-ui/core/styles'.`

This error is appearing in other areas as well.

Please fix this or I'll have to choose another UI platform. Thanks

@olivierta

[2021-08-06 01:08] joacub commented on #27622
You only have to make a component memoized and out this hook inside of that component every time something happen in react this hooks is fired like there is something new and there is nothing new.

there is other issues related to this.

[2021-08-06 01:33] dethstrobe commented on #27535
I think I had a false positive, after I made the change in my repo, the tests started to fail in my ci pipeline. Then after I trashed my node_modules are reinstalled. And it started happening to me locally.

When I do a comparison,
[code]
These are actually the same element.

But for some reason even when I trigger the `fireEvent.change` on either/or by selecting which ever element, it still doesn

[2021-08-06 03:51] MridulaKamath commented on #27612
Screen size is 1280 x 609.

![Image](https://user-images.githubusercontent.com/24778642/128453203-67db532c-ecee-4c21-ad6e-46903aec4e60.jpg)

[2021-08-06 06:50] ganeshaprabhu opened #27625 "Mindate MaxDate Issue in datepickers"
If we provide mindate/maxdate attributes for all datepicker controls, the year range was not showing after the latest updates.

[2021-08-06 06:53] siriwatknp commented on #27607
@fvkramer thanks for raising this point. It is fixed in v5, https://next.material-ui.com/customization/palette/ and `next` should replace in a month so I think we can let v4 be like this.

For further improvement, we have introduced a lighter color for dark mode for better contrast in v5. I think it would be nice if we add some info about it in this section:

<img width="944" alt="Screen Shot 2564

[2021-08-06 08:00] opoveshchenko opened #27626 "Rating component doesnt update the size"
Rating component doesnt update the size of rating stars

## Current Behavior 😯

The size of Rating Starts is always `small`

## Expected Behavior 🤔

Rating component has `size` prop where can i change the size of the stars. If i change the size to `large`, the Rating start sre still small

## Steps to Reproduce 🕹

This how i use Rating:

[code]

[2021-08-06 08:22] mnajdova commented on #27626
What do you mean, they are different sizes. See https://codesandbox.io/s/basicgrid-material-demo-forked-trxwy?file=/demo.tsx

[2021-08-06 08:24] opoveshchenko commented on #27626
i import it from` import { Rating } from "@material-ui/lab"`

[2021-08-06 08:25] mnajdova commented on #27623
Follow https://github.com/iamhosseindhv/notistack/issues/412 for the support of Material-UI v5 in notistack.

[2021-08-06 08:25] #27623 closed

[2021-08-06 08:29] mnajdova commented on #27622
@alvamanu take a look on https://next.material-ui.com/guides/migration-v4/#main-content for how to migrate to v5.

Again, please provide a codesandbox, I understand that for you it's just few lines of code, but for us is one of many issues that we need to debug/take a look on, so we need to have a clear reproduction to be able to start looking in the issue.

We simply cannot act on comment like th

[2021-08-06 08:30] mnajdova commented on #27625
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-06 08:31] mnajdova commented on #27626
Please provide a reproduction, via codesandbox link. It's unclear what version you are using and how.

[2021-08-06 08:34] opoveshchenko commented on #27626
These version i use:
[code]

[2021-08-06 08:36] #27006 closed

[2021-08-06 09:02] dandrei commented on #27146
@eps1lon I was going to create a new issue for this, but maybe it will be resolved more quickly if I just post this here. Here's a CodeSandbox [example](https://codesandbox.io/s/material-ui-issue-27146-0hqiz) of just such an attempt, where TypeScript complains that:

Here's the code I'm trying to run:

    const DrawerPaper = styled(Paper)(() => ({
      border: "1px solid red",
      margin: "10p

[2021-08-06 10:05] devntv commented on #18119
yeah i also got the same message

[2021-08-06 10:38] gerhat commented on #24219
I am facing the same issue. At least it doesn't break PrimaryButton's props typing.

[2021-08-06 11:34] pantelispanayiotou commented on #26492
Any updates on this? I also have the same issue..

[2021-08-06 12:13] Sandeep0695 commented on #26531
Any update ?

[2021-08-06 14:40] Plonski commented on #15185
If anyone is looking for a solution to this issue, Jon M has a tutorial on how to style chips here:

https://smartdevpreneur.com/how-to-create-material-ui-chips-with-vertical-orientation/

For me it was as simple as overriding the class props on the Chip:

`classes={{
   root: classes.chipRoot,
   label: classes.chipLabel,
 }}`

and assigning the css values like so:

`chipRoot: {
    margin: theme

[2021-08-06 14:40] mnajdova commented on #26531
@Sandeep0695 there isn't any comment/PR linked so that means no update. We are mostly focused on getting a stable release on v5 now, so it may take some time until we can get to this one. Feel free to open a PR if you can, we can do a review :)

[2021-08-06 14:53] mnajdova commented on #27459
We plan the stable release for the beginning of September.

[2021-08-06 15:51] stevemk14ebr opened #27628 "Theme provider wrong import results in inconsitent styling"
This one took me quite a while to figure out. What was occurring for me was inconsistent application of style at different levels of the dom hierarchy and different styling across browsers. The reason was the following:

[code]

instead of

[code]

symptoms:
* darkscrollbar did not work on chrome, but did on firefox
* some nested elements of theme provider did not have access to theme and would in

[2021-08-06 20:23] oliviertassinari commented on #27494
@eps1lon We had the same problem in v4.12.3. We broke https://material-ui.com/versions/ three times in a row.

This time, I could find the log https://app.netlify.com/sites/material-ui-docs/deploys/6103cf361f627800078428af. What command are you using when publishing the documentation?

[2021-08-06 21:14] romanown opened #27630 "TextField clear button"
i can not switch on the clear button as autocomplete

[2021-08-06 21:55] sah opened #27631 "Select items can't be selected in IE11, in 5.0.0-beta.2"
In IE11, when using 5.0.0-beta.2, the `Select` component doesn't close or call onChange when an item is clicked.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When clicking `MenuItems` in a `Select` dropdown, IE11 throws an exce

[2021-08-07 00:58] mbrookes commented on #27579
"To my eyes the current design reminds me of the 90s"

I don't think that's completely unfair, the component is in the realms of Oracle, Microsoft and other enterprise application vendors. For that reason, we chose to demonstrate the possibility of composing this pattern, rather than providing a native component for it.

It could be re-homed, but I'm not entirely sure where.

[2021-08-07 02:39] dmitrif commented on #16037
Wasn't working for me with the following + strict typescript ruleset:
| Dependency | Version |
---------------------------
| `@material-ui/core` | 4.11.0 |
| `@stripe/react-stripe-js` | 1.4.1 |

The issue is that MUI is attempting to pass in a prop named `inputRef` instead of `ref` which would be forwarded. Beyond that I cleaned up the typing, but would appreciate help getting rid of the 2 `@ts-ig

[2021-08-07 09:29] povilass commented on #27630
Can you provide more information about your problem and give an example?

[2021-08-07 10:10] povilass commented on #27628
Can you make some examples of what does not work because ` import { ThemeProvider } from '@material-ui/core/styles';` and `import { ThemeProvider } from '@material-ui/styles';` are working differently:
1. `import { ThemeProvider } from '@material-ui/core/styles` applies emotion styling + jss styling
2. `import { ThemeProvider } from '@material-ui/styles';` jss styling

Can you share an example of

[2021-08-07 10:44] povilass commented on #27613
I think it works as expected because it is like a styled component principle, yes before it worked with makeStyles/withStyles but we created classes which we passed to the component. As an example but the not best idea you can use [this](https://codesandbox.io/s/combobox-material-demo-forked-edg81?file=/demo.js) you can generate new class of course.

[2021-08-07 10:53] jarirajari commented on #27579
Thank you for properly addressing this issue! The design, look and feel of this component component made me to raise this issue. Looking at the comments, maybe it could be moved to a "Components" -> "Custom" (new category, same level as "Lab") and with description that it is an example of composition? Maybe "Custom" could be home for non-native components?

[2021-08-07 11:11] povilass commented on #27622
Works as expected renders because of the nested object which does a shallow comparison of props and rerenders component [example](https://codesandbox.io/s/brave-firefly-44fz1?file=/src/Demo.tsx).

If I pass primitive type as value [example](https://codesandbox.io/s/suspicious-tdd-ko2e9?file=/src/Demo.tsx) it won't render because shallow comparison works.

Even if you remove the hook you gonna have

[2021-08-07 11:18] alvamanu commented on #27622
Sorry I wasn’t more specific. It works with npm. It doesn’t work with yarn.

To the devs of this project, please be more specific with the location of your hooks. This was a problem that could’ve taken me back 5 months of progress.

[2021-08-07 11:25] povilass commented on #27616
good to have disableResize but css is good enough also option.

[2021-08-07 12:11] romanown commented on #27630
the component Autocomplete has button to clear and its show when hover. but the component TextField not have button to clear its input field. i need button to clear input field of TextField as Autocomplete.

[2021-08-07 12:30] romanown commented on #27630
example pictures / Autocomplete has button to clear around red.
![image](https://user-images.githubusercontent.com/7169357/128600139-3f7d1e6a-15a9-4948-886f-884a328bf96d.png)
TextField not have button to clear  (around red expty).
![image](https://user-images.githubusercontent.com/7169357/128600178-c34bf29f-4b42-4b49-995c-0a85bacbd1e7.png)
in one picture
![image](https://user-images.githubusercont

[2021-08-07 12:30] povilass commented on #27630
Ok, got it but you probably miss the point from where input stands from an HTML specification perspective.

In HTML you got input types like text, search https://www.w3schools.com/code/tryit.asp?filename=GT9HP909NMYW
![image](https://user-images.githubusercontent.com/8037810/128599928-2666b4bb-8f05-4eec-b888-dd65511f5176.png)
If you type something in the search input you get what you want (on hove

[2021-08-07 12:34] romanown commented on #27630
thanl You for support. but i can not to see any button on this
![image](https://user-images.githubusercontent.com/7169357/128600296-9880dacd-2bf7-4b26-86ad-6e2152263240.png)

[2021-08-07 12:35] povilass commented on #27630
I am testing this in chrome you?

[2021-08-07 12:38] romanown commented on #27630
in crome its work. but i need also in firefoxe

[2021-08-07 12:39] povilass commented on #27630
an old issue https://github.com/mui-org/material-ui-pickers/issues/1156 and working solution with only additional code https://codesandbox.io/s/material-ui-pickers-usage-demo-2vnf5?file=/src/App.jsx

[2021-08-07 12:41] romanown commented on #27630
i need in textfield

[2021-08-07 12:44] povilass commented on #27630
ok so implement it in TextField https://codesandbox.io/s/material-ui-pickers-usage-demo-forked-jfmuw?file=/src/App.jsx

[2021-08-07 12:49] romanown commented on #27630
i do example but onclick is bad
![image](https://user-images.githubusercontent.com/7169357/128600666-66e30cdb-4dc8-4f85-982a-c042872e2838.png)

[2021-08-07 12:50] romanown commented on #27630
thank You. but its do not clear the input.

[2021-08-07 12:51] romanown commented on #27630
i changed it and its work. setValue('') . thank You.

[2021-08-07 12:52] povilass commented on #27630
great success!

[2021-08-07 14:31] fvkramer commented on #27607
@siriwatknp thanks for the follow up. I can get around to a PR sometime next week.

[2021-08-07 17:53] joacub commented on #27622
Maybe is a react problem, I will send a example let me have time to reproduce this

[2021-08-07 19:57] oliviertassinari commented on #27579
The usage of the component is not that low:

<img width="265" alt="Capture d’écran 2021-08-07 à 21 54 30" src="https://user-images.githubusercontent.com/3165635/128612416-58fda218-cb65-4dee-8b68-adf9b4dbe389.png">

We have other components similar to this one: the AppBar, the Drawer. A lot of the pages are compositions. In the past, the autocomplete page only this, and many people used it anyway

[2021-08-07 19:57] stevemk14ebr commented on #27628
Sure here is a simple example: https://codesandbox.io/s/theming-material-demo-forked-fnhvx?file=/demo.js

The issue also applies to many other components whos type depends on a theme, as well as the darkscrollBar helper.

[2021-08-07 19:59] milaabl opened #27633 "Tabs component takes >3s to switch"
When I click on specific tab, it takes ~3s to update the index of slected tab and to render other data that depends on it.

[2021-08-07 21:22] chaserda opened #27637 "Leveraging theme values inside global theme V5"
https://stackoverflow.com/questions/57630926/material-ui-theme-overrides-leveraging-theme-palette-colors

This describes my question, except how does this work with v5? My code is as follows:

[code]

Why would the background color not get applied?

[2021-08-07 21:25] oliviertassinari commented on #27633
@milaabl You can leverage memoization to only render the content that you need inside these tabs. Avoid rerender 10 tabs for instance. You can find more help on StackOverflow. Also, note that we talk about this problem in #21250 a bit. You can use. this API: https://next.material-ui.com/components/tabs/#experimental-api

[2021-08-07 21:25] #27633 closed

[2021-08-07 22:00] mbrookes commented on #27506
The material.io example is odd – they aren't disabled dates, but rather the dates for the following month (but not the previous month). The guidelines are inconsistent in their use.

I agree that the contrast between the active and disabled dates could be better, perhaps closer to https://material-ui.com/components/pagination/

I see what you mean about the month picker – I doubt it's as intended!

[2021-08-08 05:46] milaabl commented on #27633
Thank you, Olivier, will try that

[2021-08-08 06:40] #27630 closed

[2021-08-08 06:53] siriwatknp commented on #27608
@nolastemgarden Thanks for the feedback. I believe that this could be the fix,

[code]
@nolastemgarden Would you like to submit a PR?

[2021-08-08 06:55] siriwatknp commented on #27607
Closed since there is no need to fix. However, feel free to submit a PR for the improvement from my suggestion.

[2021-08-08 06:55] #27607 closed

[2021-08-08 07:02] siriwatknp commented on #27637
Thanks for the feedback.

Please provide a reproduction via CodeSandbox (https://material-ui.com/r/issue-template-next). It will help us resolve the issue faster.

[2021-08-08 07:19] siriwatknp opened #27651 "[RFC] CSS theme variables support"
## Problems
- **Dark theme flash on SSR** (server-side rendering)
    One obvious example is [material-ui documentation](https://material-ui.com). If you toggle dark theme and press hard refresh, you will see a flash of light mode before it turns dark.
- **Bad debugging experience**
  the value in dev tool is the color code ex. `#f5f5f5` which is hard to know which design token the component is us

[2021-08-08 10:28] olee commented on #27510
Here's a CodeSandbox with material-ui v4 (however the same applies to v5 afaik): https://codesandbox.io/s/mui-org-material-ui-27510-5bql7?file=/src/Demo.tsx

As you can see, the bottom left icon should be the same size as the bottom right, however it isn't:
![image](https://user-images.githubusercontent.com/6547794/128628910-638702b7-fa58-42ae-b873-676900c98e0f.png)

@oliviertassinari I think the

[2021-08-08 10:40] povilass commented on #27628
It works as expected behaviour. Look you got context from `import { ThemeProvider } from '@material-ui/styles';` comes from `import { ThemeProvider} from '@material-ui/private-theming';` This provider job is to merge outer theme with inner theme properties if you want to override some styles from your root theme and pass that theme to consumer [code](https://github.com/mui-org/material-ui/blob/nex

[2021-08-08 11:51] #27579 closed

[2021-08-08 13:20] oliviertassinari commented on #27203
I have updated to take into this potential point of confusion for once we work on the documentation https://github.com/mui-org/material-ui/issues/21757#issuecomment-657226028

[2021-08-08 13:24] oliviertassinari commented on #27637
The answer on StackOverflow is great.

[2021-08-08 13:24] oliviertassinari commented on #27637
Duplicate of #21757

[2021-08-08 13:24] #27637 closed

[2021-08-08 13:28] oliviertassinari commented on #27203
Regarding the proposal to change the behavior of the deep merge, I would personally be against so that we could potential have each argument leverage the previously created theme.

[2021-08-08 13:32] #27372 closed

[2021-08-08 16:55] oliviertassinari commented on #27590
@eps1lon What do you think about this diff https://github.com/mui-org/material-ui/issues/27590#issuecomment-891831199?

[2021-08-08 17:38] nolastemgarden commented on #27608
I would like to submit a pull request, but I'm not exactly sure how.
Should I just be following this guide
<https://github.com/mui-org/material-ui/blob/d72ad561cc45fdc5023ef8ce368c91a25fe40425/CONTRIBUTING.md>,
making the changes above or do the changes you recommended already live on
a branch that I can refer to in the PR?

Nigel Wilson

Mathematics Teacher  @ Nola STEM Garden

On Sun, Aug 8, 202

[2021-08-08 21:26] oliviertassinari commented on #27510
@olee Right, it does look like a bug. This seems to fix it:

[code]

We would need to add a test case.

[2021-08-08 21:54] nolastemgarden commented on #27608
Working on it!

[2021-08-08 22:33] oliviertassinari commented on #27651
@siriwatknp Notes:

- The related issue: #15588, #12827.
- On the dark/light aspect, we also need to take into account the `color-scheme` CSS property of the `<html>` element for the scrollbar, native forms, etc: https://github.com/mui-org/material-ui/issues/25016#issuecomment-849659928
- "Case I: JS is disabled on the client" I would propose that we skip this case. AFAIK, disabling JS is no longe

[2021-08-08 22:45] oliviertassinari commented on #27631
I'm closing per https://next.material-ui.com/getting-started/supported-platforms/#ie-11.

[2021-08-08 22:45] #27631 closed

[2021-08-08 22:54] oliviertassinari commented on #27628
@stevemk14ebr Were you using v4 before, migrating from it to v5? I'm asking to understand why you are using `@material-ui/styles`.

[2021-08-08 22:56] oliviertassinari commented on #27626
@opoveshchenko Still true https://github.com/mui-org/material-ui/issues/27626#issuecomment-894098748

[2021-08-08 22:57] #27622 closed

[2021-08-08 23:09] stevemk14ebr commented on #27628
I used ```@material-ui/styles``` because there are examples here https://next.material-ui.com/styles/api/#heading-themeprovider that use that import style.
![image](https://user-images.githubusercontent.com/6619205/128648259-c9a04038-05aa-4af6-b57b-1f0065bd499c.png)

From this documentation the difference between the two imports doesn't seem to be mentioned at all. As a user I found the difference

[2021-08-08 23:11] stevemk14ebr commented on #27628
This example is a timebomb for user confusion:
![image](https://user-images.githubusercontent.com/6619205/128648419-046f9215-5202-4e85-ba86-95755ec8dd3c.png)

[2021-08-08 23:32] oliviertassinari commented on #27628
@stevemk14ebr Ok great we are good then, for now (until we get more feedback). In #27639 I made it clearer

<img width="264" alt="Capture d’écran 2021-08-09 à 01 30 52" src="https://user-images.githubusercontent.com/3165635/128648827-082386d5-2bfa-4ae9-b074-23393b7e8789.png">

It's also an argument in favor of having a separate docs environment for different parts of the project. To emphasize th

[2021-08-08 23:32] #27628 closed

[2021-08-08 23:33] blackboardd opened #27654 "CardHeader de-centered avatar"
Styling in [CardHeader.js](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/CardHeader/CardHeader.js) de-centers avatar.
[code]

Current workaround (TypeScript):
[code]

[2021-08-09 01:16] DouglasPds commented on #27510
Hi, I want to work on this, I have a PR waiting for review, if I'm not allowed to work on two PR, please let me know.

[2021-08-09 01:49] willheslam opened #27655 "Native Select serialising object into "classes" attribute on select element"
The Native Select component is serialising an (empty) object as [object Object] into an attribute called "classes" on the select element.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

This doesn't appear to cause any pro

[2021-08-09 05:14] yingying96 commented on #22598
May i know if the issue is resolved? I tried the CSS workarounds but it didn't work for me

[2021-08-09 05:34] yingying96 opened #27657 "Tabs not scrollable"
- [X ] The issue is present in the latest release.
- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The behavior is similar to the one described in the following closed issues.
- https://github.com/mui-org/material-ui/issues/22181
- https://github.com/mui-org/material-ui/issues/22

[2021-08-09 06:12] eps1lon commented on #27651
Obviously we would need to revisit how we use the theme. There wasn't a need before but if we can enable  not re-rendering then we should try it. I suspect that for dark mode (which only affects color) we can probably get this fairly easy by splitting contexts.

[2021-08-09 06:21] yogesnsamy commented on #23780
Seeking assistance.

I'm facing the same issue following the full code on the official documentation https://codesandbox.io/s/ipxty:
[code]
[code]

[2021-08-09 06:41] sashberd opened #27658 "Dialog onBackdropClick depricated warning"
After upgrade to 4.12.3 I started to get next warning in console
<img width="1316" alt="Screen Shot 2021-08-09 at 9 37 47" src="https://user-images.githubusercontent.com/11975561/128668179-a7cdb2ba-c000-4d9d-a544-e4711056e144.png">

Any workaround how to fix it?

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of t

[2021-08-09 06:53] eps1lon commented on #27658
Thanks for the feedback.

The warning includes a workaround. For more information, check out our [migration guide](https://next.material-ui.com/guides/migration-v4/#dialog).

[2021-08-09 06:55] #27605 closed

[2021-08-09 06:59] aniawala opened #27659 "Select Component not display properly after choosing one of the last items of scroll list on Safari"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I chose one of the last items in select list (it should be list with many items that uses scroll) then when I close this list and open it again it doesn't appear in a place it sho

[2021-08-09 07:36] eps1lon commented on #27655
Thanks for the report.

Frozen codesandbox: https://codesandbox.io/s/nativeselect-material-demo-forked-hc5eq

[2021-08-09 07:40] eps1lon commented on #27659
Thanks for the report. Really appreciate the detailed repro steps.

I can confirm the same issue on Chrome 92.0.4515.131 on Ubuntu 20.04.

However, I can no longer reproduce the issue with our v5 beta: https://next.material-ui.com/components/selects/#multiple-select

@aniawala Can you reproduce the issue on https://next.material-ui.com/components/selects/#multiple-select?

[2021-08-09 07:42] #27629 closed

[2021-08-09 07:47] eps1lon commented on #27525
Reading through https://stackoverflow.com/questions/54519758/flag-emojis-not-rendering/54520964  it sounds like we should be using actual images instead.

[2021-08-09 07:52] aniawala commented on #27659
Thank you Sebastian, it works just fine with v5 beta.

[2021-08-09 07:55] aniawala commented on #27659
Are you planning to fix this for v. 4.x ?

[2021-08-09 07:59] eps1lon commented on #27659
Unfortunately not since that fix was part of another feature change. We're only backporting critical bug fixes since it's oftentimes very costly to extract single bug fixes. Diverging branches (v4 vs v5) also makes it harder to identify issues between v4 and v5.

[2021-08-09 07:59] #27659 closed

[2021-08-09 08:10] aniawala commented on #27659
Ok, thank you for help!

[2021-08-09 08:34] eps1lon commented on #27657
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-09 08:40] eps1lon commented on #27654
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-09 09:29] RemyMachado commented on #27213
I'm having the same error. How do you know, which version of the `lab` you need to install for a given `@material-ui/core` version?

[2021-08-09 10:45] oliviertassinari commented on #27525
@siriwatknp has used a country image API in https://github.com/mui-org/material-ui/pull/27599, maybe it's relevant. We also had a similar feedback in #27323

[2021-08-09 11:42] rxdrag opened #27664 "BottomNavigationAction some time reponse 2 times onClick on mobile device."
BottomNavigationAction some time reponse 2 times onClick on mobile device.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

taps on touch devices dispatch 2 clicks

## Expected Behavior 🤔

taps on touch devices dispatch 1 click

##

[2021-08-09 14:27] kgrhartlage commented on #26440
This would be an incredibly helpful change for us also. We need to show a device status icon - and ideally also a device class icon - not only on the options, but also for the selected value. We use this type of device select for both single and multiselection. IIUC one can only render a string unless multiselection is enabled, which results in an inconsistent UI in our case. And since we cannot o

[2021-08-09 15:23] yingying96 commented on #27657
Update codesandbox here: https://codesandbox.io/s/material-demo-forked-nobir?file=/demo.js:0-2159&resolutionWidth=320&resolutionHeight=675

[2021-08-09 15:55] oliviertassinari commented on #27213
@RemyMachado The simplest is to check the changelog, see which version of the lab was released with your version of the core.

This makes me think. @mui-org/x since we don't intend it keep the major version in syc with the core, we probably will want to add a version compatibility table.

[2021-08-09 16:19] acfromspace commented on #26534
Sandbox: https://codesandbox.io/s/xenodochial-beaver-z7xwk

Made a version that still worked the `rows` attribute of `<TextField/>` if still wanting to stay with that. Added code where the `<TextField/>` resets back to its previous state, however you specify.

[code]

Ran into the same issue and thought I should shed some light on it with the current behavior fix and how I went about it.

[2021-08-09 16:27] simondriesen commented on #27625
@mnajdova I'm having the same issue, starting from `@material-ui/lab 5.0.0-alpha.41`

This is the minimal props you need to recreate it:
[code]
https://codesandbox.io/s/custominput-material-demo-forked-cmnig?file=/demo.js

[2021-08-09 16:37] eps1lon commented on #27625
This is no longer supported. You need to provide the same type as `value` has: https://github.com/mui-org/material-ui/pull/27392

[2021-08-09 16:37] #27625 closed

[2021-08-09 16:47] oliviertassinari opened #27666 "Rename the packages"
We are making a change to the terminology used in the project to support the long-term direction. The high order bit is that *MUI* describes the name of the project/company, *core* prefixes the core components (the simple, design ones).

Current:

- `@material-ui/core` Material design system
- `@material-ui/unstyled` The unstyled components
- `@material-ui/system` The design system CSS utilities
-

[2021-08-09 17:12] oliviertassinari commented on #27651
@eps1lon Yeah agree. To be clear on where I was coming from, I was trying to consider what will happen with:

https://github.com/mui-org/material-ui/blob/ebbe3728f52dbf6e1b71dfb2d1a5149d19acb5fb/docs/src/components/home/ProductSuite.tsx#L16-L18

[2021-08-09 18:17] sah commented on #27631
If the project has deprioritized IE11 support to the extent that basic components like Select are no longer kept working, I'd suggest it would be more helpful to claim no support for IE11.

[2021-08-09 18:19] daveteu opened #27668 "LoadingButton with fullWidth position"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/18649392/128754466-9da2b111-c73f-4d7c-b1b3-b456d127e709.png)

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

[2021-08-09 18:22] sah commented on #27631
In the spirit of being helpful to others who may find this issue and aren't quite ready to drop IE11 support entirely, here's how I worked around the problem (for a TextField with the select prop set):

[code]

[2021-08-09 19:04] jaddap2 commented on #22426
We are using it in intranet website at NIH

[2021-08-09 19:11] oliviertassinari commented on #27631
@sah Awesome, thanks for sharing. The Slider uses the same pattern.

[2021-08-09 19:13] oliviertassinari commented on #27631
@eps1lon What do you think? Should we avoid overring the `event.target` if the user-agent is not supporting it? Effectively silencing the issue, or else?

[2021-08-09 20:14] #27409 closed

[2021-08-09 20:40] kylegach opened #27669 "[ButtonBase] `tabIndex` typed incorrectly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[`tabIndex`](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/ButtonBase/ButtonBase.d.ts#L79) on `ButtonBaseProps` (specifically, `ButtonBaseTypeMap`) is type

[2021-08-09 22:00] gaurikolhe opened #27670 "[Autocomplete] change in screen size doesn't change width of Options container (when it's open)"
I am using AutoComplete component on my iPad. When I click on options and rotate the screen (portrait mode to landscape mode on Chrome, Safari & Firefox) the options container width doesn't reset with Textfield width of Autocomplete.
(This is also reproducible on MUI website)
<img width="1163" alt="Screenshot 2021-08-09 at 4 30 19 PM" src="https://user-images.githubusercontent.com/34228000/1287795

[2021-08-09 23:36] oliviertassinari commented on #27657
@yingying96 use `allowScrollButtonsMobile`, it's in the docs of v5

<img width="230" alt="Capture d’écran 2021-08-10 à 01 31 35" src="https://user-images.githubusercontent.com/3165635/128786973-9a018e1a-43cc-4294-9d27-2d8e4e008455.png">

https://codesandbox.io/s/material-demo-forked-2yw9t?file=/demo.js

[2021-08-09 23:36] #27657 closed

[2021-08-10 00:49] R-Bower opened #27672 "[system] `style` function is not aptly named."
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[Related issue](https://github.com/mui-org/material-ui/pull/27618)

## Summary 💡

The `style` function from `@material-ui/system` is ambiguous and undocumented.

Better names for `style`:
`createSystemProp`
`createStyleProp`

Proposed solution:
1. Rename t

[2021-08-10 01:01] R-Bower opened #27673 "[system] Propagate custom `style` props to component SxProps."
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- Custom props created using `style` aren't propagated to the SxProps which enhances each MUI component.  While the SxProps prop technically works with any valid CSS, the theme-aware transformers aren't applied.

## Examples 🌈
[code]

One way

[2021-08-10 02:44] yingying96 commented on #27657
Thanks. Looks like i still get this issue because i'm on v4.7. May i know if this will be included in v4? Or it will just be on v5?

[2021-08-10 06:17] eps1lon commented on #27669
Thanks for the feedback.

I agree, that we probably should just use the type from `@types/react` via `React.HTMLAttributes<any>['tabIndex']`.

[2021-08-10 07:27] ivan-srsen opened #27674 "[Select] Server side pagination"
Is there a way to implement server side pagination for select component?

[2021-08-10 08:23] itsshajad opened #27677 "unable to click last item on Avatar Group"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-08-10 08:57] oliviertassinari commented on #27657
@yingying96 I don't have the bandwidth to check what's the story in v4. If it was a fix in v5, it won't be included in v4, we don't to incentive the community to upgrade and so we can focus our efforts looking forward.

[2021-08-10 09:46] eps1lon commented on #27677
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-10 10:27] #27510 closed

[2021-08-10 10:32] eps1lon commented on #27459
Thanks for the report.

We're not backporting non-critical bug fixes to 4.x. Especially if we don't even know what specific change is required.

[2021-08-10 10:32] #27459 closed

[2021-08-10 10:33] #27674 closed

[2021-08-10 10:37] eps1lon commented on #27572
Thanks for the report.

The issue has been fixed in v5. It no longer reproduces with `^@material-ui/core@5.0.0-beta.3`: https://codesandbox.io/s/combobox-material-demo-forked-mbl94

[2021-08-10 10:37] itsshajad commented on #27677
okay here is example https://codesandbox.io/s/material-demo-forked-wyoby?file=/demo.js unable click on last item

[2021-08-10 10:37] #27572 closed

[2021-08-10 10:43] eps1lon commented on #27577
Dialogs are more focused on a single question. "Side Sheets" (or `Drawer` how we name it) are similar to `<aside />` content.

Imagine a road. A Dialog is a crossing where you either have to go left or right. But you have to acknowledge the change in direction. A "Side Sheet" is like more like an exit or a road house where you can pick up additional stuff.

Our documentation has a collection of co

[2021-08-10 10:43] #27577 closed

[2021-08-10 10:48] eps1lon commented on #27677
Thanks for the report.

That is expected behavior since you render more Avatars than are displayed by default. The clickable `Avatar` is currently not displayed

Avatars are not considered to be clickable. Though a clickable elipsis might make sense (e.g. to expand or display other information).

[2021-08-10 10:53] itsshajad commented on #27677
okay now client says I want to open a popup on clicking last ellipses and show all the ellipses into popup

[2021-08-10 11:04] eps1lon commented on #27664
Thanks for the report.

What mobile device are you using and how do you click? A recording would be ideal.

Does it also "respond" two times with just `onClick={() => console.log('click')}`?

[2021-08-10 11:06] eps1lon commented on #27668
Thanks for the report.

Frozen repro: https://codesandbox.io/s/loadingbuttonstransition-material-demo-forked-hrun0

[2021-08-10 11:08] eps1lon commented on #27359
@pierluigi-giancola The API is still not working and fails with "Google Maps JavaScript API error: RefererNotAllowedMapError".

I suggest you use StackOverflow to figure out how to use the `Autocomplete` with Google APIs. Once you've isolated the issue to a repro without 3rd party code, we can revisit.

[2021-08-10 11:08] #27359 closed

[2021-08-10 11:09] eps1lon commented on #27362
Closing since no reproduction has been provided.

[2021-08-10 11:09] #27362 closed

[2021-08-10 11:09] eps1lon commented on #27264
Closing since no working reproduction has been provided.

[2021-08-10 11:09] #27264 closed

[2021-08-10 11:09] eps1lon commented on #27396
Closing since no reproduction has been provided.

[2021-08-10 11:09] #27396 closed

[2021-08-10 11:09] eps1lon commented on #27380
Closing since no reproduction has been provided.

[2021-08-10 11:09] #27380 closed

[2021-08-10 11:10] eps1lon commented on #27478
Closing since no reproduction has been provided.

[2021-08-10 11:10] #27478 closed

[2021-08-10 13:20] AsemK opened #27681 "[Pickers] no style overrides possibility for sub components"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After migrating pickers to emotion, I lost the ability to modify the styling of some subcomponents. I think this is due to the fact that `styled` is used without providing the `name`

[2021-08-10 13:35] johwer commented on #26251
I updated it for disable also
`MuiButton: {
      root: {
        transition: 'color .01s',
        '&.Mui-disabled span': {
          transition: '.01s',
        },
      },`

[2021-08-10 13:41] rxdrag commented on #27664
Chrome on windows and firefox on android both has this problem.
![image](https://user-images.githubusercontent.com/18096128/128877098-0eeb4323-efb6-4ae4-b6ae-b1b14f369683.png)

Demo link:[Demo]( https://rx-admin.vercel.app/workspace/customer-emails)
Source file: [Source](https://github.com/rxdrag/rx-admin/blob/master/src/compontents/NavDrawer/BottomDrawer.tsx)

[2021-08-10 14:09] eps1lon commented on #27664
Please reduce this to a minimal, reproducible example. Full application code is not debuggable for us.

[2021-08-10 14:31] eps1lon commented on #26534
The fix can be reduced to

[code]

I'm currently debating whether we should warn about `rows={0}` (since that isn't supported anyway) or if we actually should support switching from `rows={undefined}` to `rows={5}` (since that would currently also loose the cursor).

[2021-08-10 14:34] RemyMachado commented on #27213
@oliviertassinari Two things.
- I can't find the `lab` version it was released with by looking at the changelog. e.g. `core` v4.11.3 doesn't state any lab version https://github.com/mui-org/material-ui/blob/master/CHANGELOG.md#4113

- I can't find in which version of the lab, a feature was first released. I would like to know, since which version I can use the `TabContext` component.

I feel like

[2021-08-10 14:34] nolastemgarden commented on #27608
I have created this PR #27682 to fix this problem in the docs.

I was able locate and make this change recommended by @siriwatknp
       <MobileStepper
+        variant="text"

However they also recommended this change that I could not figure out how to implement:
--- a/docs/src/pages/components/steppers/TextMobileStepper.tsx
+++ b/docs/src/pages/components/steppers/TextMobileStepper.tsx

[2021-08-10 14:44] eps1lon commented on #27666
`@mui/core-base` this sounds redundant. Why not just

[code]

Also gets rid of potential confusion around "unstyled" which will never be actually unstyled.

[2021-08-10 15:11] eps1lon commented on #24943
The documentation for `DatePicker` now includes documentation for the `views` prop: https://next.material-ui.com/api/date-picker/#props

[2021-08-10 15:11] #24943 closed

[2021-08-10 17:04] YuriyEmpty opened #27685 "[ThemeProvider v5] Theme don't see components overrides"
I try build my  theme with **Material-Ui 5.0.0-beta.3**, and use official docs.
The problem is this: on creation my custom theme, i try override ThemeOptions.components, but dont get result.
First i export ThemeProvider from **@material-ui/styles** - unsuccessfully. In the Theme object overides is exists, but provider dont use it.
Next I try export ThemeProvider from **@material-ui/core/styles** -

[2021-08-10 17:48] oliviertassinari commented on #27666
@eps1lon The alternative was `@mui/core-unstyled`. Michal, Marija, Danilo where in favor of using base

Interesting proposal. It similar to the exisiting `@angular/material` approach. I see two aspects to consider:

- How does it fit if we add a new product/project under the `@mui` org? For instance a low-code UI builder `@mui/studio-cli`, `@mui/studio`.
- Would it be clear enough that only the co

[2021-08-10 18:29] sandroweb opened #27686 "Autocomplete component don't lock screen when opened"
In Select component, when to open, screen will be locked, but the same feature don't occure with Autocomplete component.

This problem cause a problem. When my page is scrolled, the list opened go up too.

Any one help me please?

Screen video with this problem: [https://www.loom.com/share/b89ca160eb314b728c025ee9fde65c47](https://www.loom.com/share/b89ca160eb314b728c025ee9fde65c47)

[2021-08-10 20:18] pavinduLakshan commented on #13281
Does `colSpan` still work for you guys? I tried the following, but the cell won't span the three columns. Can someone look into this and point me out what I'm doing wrong? Thanks a lot.

[code]

[2021-08-10 21:06] stertheweb opened #27687 "Pagination by server is causing issues when trying to filter on a different page."
I am getting this bug where I move to the second or higher page of a grid and try to apply a filter, but the pagination does not send me back to the first page. The pagination works fine if I stay on the first page and try to apply it.

For example: I have 60 rows in one of my grids and am only showing 50 per page. I click to go to page 2 and filter the ID column for only rows containing "14". In

[2021-08-10 22:01] Schmavery opened #27688 "Crash when using v5.0.0 TimelineDot with color='inherit'"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I recently upgraded to MUI 5 from v4 and have been working through the issues. I just came across this one.
I create a component with
[code]
and get `Uncaught TypeError: Cannot read pr

[2021-08-10 22:14] mnajdova commented on #27685
Did you check https://next.material-ui.com/styles/basics/#using-the-theme-context?

[2021-08-11 01:57] rxdrag commented on #27664
please check:
[Demo](https://mui-bug-reproduce.vercel.app/)
[Source](https://github.com/rxdrag/mui-bug-reproduce)

[2021-08-11 05:52] eps1lon commented on #27688
Thanks for the report.

The codesandbox does not include any usage of `TimelineDot`. Did you forget to save its contents?

[2021-08-11 05:52] eps1lon commented on #27685
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-11 05:55] eps1lon commented on #27686
Duplicate of https://github.com/mui-org/material-ui/issues/17353

[2021-08-11 05:55] #27686 closed

[2021-08-11 05:56] #27506 closed

[2021-08-11 06:55] eps1lon commented on #27664
I can reproduce it with the devtools but not on a real device. Devtools oftentimes emulate touch devices incorrectly. Can you reproduce the problem with a real touch device?

[2021-08-11 07:02] #27669 closed

[2021-08-11 07:03] rxdrag commented on #27664
yes, I can reproduce the problem with a real touch device.
![ffa6eac3548a5caf95dd3898e4aadf4](https://user-images.githubusercontent.com/18096128/128984051-98126be4-ea79-4e82-957b-c782747dcb3d.jpg)
![d571637577a5cb82203fcb19ca78c0a](https://user-images.githubusercontent.com/18096128/128984242-f589b587-bd60-4809-8c97-ecd29e7cfedd.jpg)

[2021-08-11 07:08] eps1lon commented on #27666
Do you think it does not fit? If so: why?

`core-unstyled` would be just as redundant.

[2021-08-11 07:14] eps1lon commented on #27664
Confirmed on Firefox.

I would suggest isolating the problem more until it no longer happens:
1. with/without `stopPropagation`
2. use a basic `<button />`
3. change drawer position
4. with/without `Drawer`

If this already happens with `<button />` on Firefox then there's little we can do about it.

[2021-08-11 07:24] eps1lon commented on #27571
Closed in https://github.com/mui-org/material-ui/pull/27573

[2021-08-11 07:24] #27571 closed

[2021-08-11 07:32] rxdrag commented on #27664
I removed Drawer and stopPropagation, problem is still exists:
[code]
![27caee677f6b735e07070d5060af1aa](https://user-images.githubusercontent.com/18096128/128988339-734bd7e6-56fd-41ff-8dbf-ffc12b13b31e.jpg)

[2021-08-11 07:34] rxdrag commented on #27664
remve icon, still has problem:
[code]

[2021-08-11 07:36] eps1lon commented on #27192
Closed in https://github.com/mui-org/material-ui/pull/27407

[2021-08-11 07:36] #27192 closed

[2021-08-11 07:36] rxdrag commented on #27664
change to button, the propblem disappear:
[code]

[2021-08-11 07:39] rxdrag commented on #27664
this code also has not the problem
[code]

[2021-08-11 08:12] eps1lon commented on #22368
Re-opening since the fix for this issue (https://github.com/mui-org/material-ui/pull/22524) causes another bug: https://github.com/mui-org/material-ui/issues/27664#issuecomment-896572656.

`BottomNavigationAction` should not have different click behavior compared to any other button-like element.
The ripple starting is not an indication that a click will be dispatched. It's just indicating that th

[2021-08-11 10:18] MridulaKamath commented on #27612
@mnajdova I am seeing this behavior in other pages - another exmaple is DatePicker API page. This there any workaround to view the complete table?

[2021-08-11 11:48] sandroweb commented on #27686
It's not duplicate, because #17353 is about Select component. My issue is about Autocomplete component.

[2021-08-11 12:29] eps1lon commented on #27612
@MridulaKamath The table should be scrollable. The scrollbars are just at the bottom.

But there is some room for improvement here. The content is way too squished on tighter viewports. It should overflow earlier and have an immediate affordance for scrolling/resizing with an appropriate signifier.

[2021-08-11 13:27] MridulaKamath commented on #27612
@eps1lon There are no scrollbars. For now, I'm viewing the page in chrome via inspect with a larger screen size.

The below image is of the [DatePicker API](https://next.material-ui.com/api/date-picker/)
![DatePickerAPI - Page](https://user-images.githubusercontent.com/24778642/129035455-250e176e-28d1-47b9-8001-f86aef175d1d.jpg)

[2021-08-11 13:31] enoh-barbu opened #27692 "Tooltip class name based on position is not updated properly when having a default placement value"
![Untitled](https://user-images.githubusercontent.com/24221572/129037221-89420ac8-575b-477d-9e96-8e3e8458b984.png)

As you can see in the image, the toolip it's being show on the left side of my box, but the css class remains "MuiTooltip-tooltipPlacementRight", that's because I've explicitly set the placement to "right".

When there is no space to show the tooltip on the right side of the box, it

[2021-08-11 14:10] TheDaneSimon opened #27695 "make the track detachable the of thumb on a slider"
let me set the width % of the track myself, and not just have it fixed to the thumb

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

so let me be able to set the track value myself.
this can create a nice way to set a desired value and get an actual value, to let the user know if the backe

[2021-08-11 14:23] ydax opened #27696 "Material UI: Why is the name prop on <Rating /> throwing a console error?"
I'm getting a little error in the console from Material UI related to the `<Rating />` component.

When I pass the `readOnly` prop as `false`, I'm getting this error:

### Expected Behavior
By passing a dynamic prop into a template literal (`objectId`), the string passed to the `name` prop is always unique to itself. Therefor, I don't expect to see this error asking for a unique `name` property.

[2021-08-11 14:23] Kyoij opened #27697 "classes doesn't work in styled component"
classes prop in styled component doesn't work.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Can't pass class into classes prop

## Expected Behavior 🤔
can pass class into classes prop

## Steps to Reproduce 🕹

https://codesandbo

[2021-08-11 14:42] eps1lon commented on #27696
It doesn't look like this bug report has enough info for one of us to reproduce it: https://codesandbox.io/s/material-demo-forked-xckz1

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-11 14:43] cristianoccazinsp opened #27698 "Stable style API?"
Hello,

I really appreciate the work and effort put into this library. I've been using it since version 1 (I think), and it has always been great. However, you guys keep changing the styling API on every version! I don't know how many times I had to do massive code migrations in order to keep up with the updates, yet every new version introduces a million breaking changes.

Are you guys ever going

[2021-08-11 15:10] Schmavery commented on #27688
I guess I did forget to save, sorry. Should be fixed now.

[2021-08-11 17:33] YuriyEmpty commented on #27685
Yes, I do that.

[2021-08-11 17:38] YuriyEmpty commented on #27685
I found the problem: My packages "@material-ui/styles" have version ^4.11.4. After upgrade to v5 the problem is gone.

[2021-08-11 17:42] scottlamb opened #27700 "smaller static date picker on desktop"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I'd like the static date picker to be smaller on desktop, perhaps matching the [material ui specification](https://material.io/components/date-pickers#spec):

![image](https://user-images.githubusercontent.com/8949524/129070096-7947a461-41a1-

[2021-08-11 17:54] #27685 closed

[2021-08-11 18:05] omidtajik opened #27701 "[docs] RTL not working when stylis is not installed"
I'm trying to use Mui RTL support with nextjs. But it doesn't seem to work correctly and components are still LTR.
I forked mui nextjs example from [here](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/nextjs-with-typescript) and did everything step by step from [here](https://next.material-ui.com/guides/right-to-left/) but my attempt was not successful to add RTL support t

[2021-08-11 18:16] serv-inc commented on #14357
@angusmccloud : this worked with minor adjustments, thanks so much!

[code]

[2021-08-11 19:19] alex-knyazev opened #27702 "ToggleButton doesn't fire 'onChange' event when clicked on text inside"
I have such code:
[code]

When clicked on empty space, value is changed, when on text - onChange function isn't fired.

Something with incorrect buttonValue here https://github.com/mui-org/material-ui/blob/49b75b08a6584c930fdd23a0eb1fe28f6e1ffce5/packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.js#L130

[2021-08-11 21:41] jgozal commented on #27139
@vishalrajole is there an estimate for a fix? We're also experiencing the same issue

[2021-08-11 22:25] ezequiel-zacca-fivestars commented on #27139
@vishalrajole any estimation for this being fixed?

[2021-08-12 07:09] dandrei opened #27703 "[Paper] Typing error when trying to pass `component` to `PaperProps` of `Drawer`"
I'm trying to pass a custom Paper component to Drawer; the code works, but I get a TypeScript complaint.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The code works, but TypeScript complains that:

## Expected Behavior 🤔

TypeS

[2021-08-12 07:49] eps1lon commented on #27702
It doesn't look like this bug report has enough info for one of us to reproduce it: https://codesandbox.io/s/togglebuttons-material-demo-forked-qt7jq

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow

[2021-08-12 07:50] fcole90 opened #27704 "Cannot find module: '@material-ui/lab/themeAugmentation'. Make sure this package is installed"
- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Adding the following import
[code]
Causes the build to fail with the following:
[code]

## Expected Behavior 🤔

Importing to work correctly as documented at https://next.material-ui

[2021-08-12 07:51] eps1lon commented on #27697
Thanks for the report.

It may be currently intended to not forward `classes` to decorated components but I do agree that this is unexpected in this case.

[2021-08-12 07:51] fcole90 commented on #22203
The docs still have the wrong syntax and the suggestion given in the `next` documentation causes https://github.com/mui-org/material-ui/issues/27704

[2021-08-12 07:55] eps1lon commented on #27701
Thanks for the feedback.

That RTL guide definitely needs to be overhauled for v5 since it starts with how-to for v4.

Can't speek to why RTL is not working in your specific example. I'll let @mnajdova handle that.

[2021-08-12 08:07] eps1lon commented on #27704
Thanks for the feedback.

With the TypeScript version you're using, you can use

[code]
instead.

Otherwise the import isn't stripped from the runtime when `@material-ui/lab/themeAugmentation` doesn't exist (because it's just a `.d.ts` file).

[2021-08-12 08:12] eps1lon commented on #27695
You want to overlay a different value instead. The rail and track are well defined. The track should always have the position of the current value. If you want to overlay a different value then you need to come up with custom markup.

In your example you have a Slider for the max volume and an indicator for the current volume. These are separate components.

[2021-08-12 08:12] #27695 closed

[2021-08-12 08:36] fcole90 commented on #27704
Thanks, I think it would be helpful to add this to the docs. Just sent a PR: https://github.com/mui-org/material-ui/pull/27705

[2021-08-12 10:08] fcole90 commented on #27704
If you check the documentation for 5, then the import is the one which I was using, and that fails.

Also, I understand that you don't want to make changes to the 4

[2021-08-12 11:28] eps1lon commented on #23164
A reminder that this issue is still not clearly outlined.

Currently it's ignored that a click causes a focus and how a conflict of `openOnFocu` and `disableOpenOnClick` should be resolved.

There is not "intuitive" solution for this so we need to define clearer what the expected behavior is and how an API for that might look like. It sounds like we want to further split between keyboard-focus and

[2021-08-12 11:31] #21551 closed

[2021-08-12 11:40] ThewBear opened #27707 "InputLabel asterisk doesn't have `MuiInputLabel-asterisk` css class"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

InputLabel required asterisk (*) doesn't have `MuiInputLabel-asterisk` class but it is specified in [the documentation](https://next.material-ui.com/api/input-label/).

[code]

## Exp

[2021-08-12 12:11] Miyagee commented on #18985
Did this one actually get fixed in #19663. Can't seem to find any documentation that indicate that this is supported now.

[2021-08-12 13:09] rajzik opened #27708 "[Pickers] How to change pen, clock, calendar icons?"
I have tried to change icons that are rendered in pickers, for example `MuiCalendarPicker` has `component` prop that allows for custom icons. But from code search and some digging I have found out that it is impossible to change other icons.

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repositor

[2021-08-12 13:40] kgregory opened #27710 "[Pickers] Warning about fade being replaced by alpha when using v3 pickers"
After updating to @material-ui/core 4.12.3 the following warning is presented in the console when using a DatePicker from @material-ui/pickers 3.3.10, specifically when its modal is opened:

[code]

Initially confused me a bit because I wasn't using `fade`, but found that this is happening because `fade` is being used in @material-ui/pickers in a few components (e.g. [ToolbarText](https://github.c

[2021-08-12 14:02] eps1lon commented on #27710
4.12.x is specifically for deprecation warnings. If you don't want to see deprecation warnings or can't act on them, stay on 4.11.x.

Additionally, `@material-ui/pickers` is no longer maintained. It's replaced by v5 of `@material-ui/lab`

[2021-08-12 14:02] #27710 closed

[2021-08-12 14:12] nahrr commented on #16065
Thank you, working perfect!

[2021-08-12 14:40] mnajdova commented on #27701
@omidtajik I found the issue. You didn't have `stylis` installed as a dependency. It works now - https://codesandbox.io/s/sweet-lake-n34xo?file=/README.md

I will make sure to mention this in the guide when I will do the re-structuring of the docs page as per @eps1lon's suggestion

[2021-08-12 16:39] oliviertassinari commented on #27666
I imagine that it could be confused by the community in two cases when they see `@mui/material`

- they might expect it to be the material design theme of the low-code solutions, nop, that would be `@mui/studio/material` or `@mui/studio-material`
- or they might expect the package to include all the components, advanced included, nop, that would likely be `@mui/x-grid/material` or `@mui/x-grid-mat

[2021-08-12 17:50] michaldudak commented on #27666
One issue with `@mui/core` is that it's too similar to the current `@material-ui/core` and people may be confused it's a totally different package. Other than that, I'm OK with it.

Assuming we go with `@mui/core`, how do you think we should name the components in this package? `[Component]Core` feels a bit weird to me.

[2021-08-12 20:26] cedricb-obs opened #27715 "[SvgIcon] wrong css width/height attributes"
- [x] The issue is present in the latest release. ([here](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/SvgIcon/SvgIcon.js#L38))
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When i use [`DataGrid` with **Toolbar** component](https://material-ui.com/c

[2021-08-12 20:47] tielushko commented on #22456
Using v4.11.4 and the accordion details are still displaying as a flex... Not sure whether this the fix was added or not.

[Sandbox with example](https://codesandbox.io/s/quizzical-nash-lihd2?file=/demo.js

[2021-08-12 21:13] oliviertassinari commented on #27666
@michaldudak Great points.
Maybe another concern to consider is: what will developers say on Twitter to mention they use the unstyled components? "I'm using MUI Core Base"

[2021-08-12 21:23] oliviertassinari commented on #14357
Closing as in v5, we rely on emotion and styled-components that have their own plugin https://emotion.sh/docs/testing, https://github.com/styled-components/jest-styled-components.

[2021-08-12 21:23] #14357 closed

[2021-08-12 21:50] oliviertassinari commented on #27442
Duplicate of #23708

[2021-08-12 21:50] #27442 closed

[2021-08-13 00:10] Arulpiruthiviraj commented on #17064
my approach was to iterate with parent elements on each node expandsion

`const Tree = ({listToRender}) => {
  const [childNodes, setChildNodes] = useState([]);
  const [expandedData, setExpandedData] = useState([]);
  const [expanded, setExpanded] = useState([]);
  const [nodeDataLoading, setNodeDataLoading] = useState(false);
  const [currentlyExpandingNode, setCurrentlyExpandingNode] = useState

[2021-08-13 00:18] zamgill opened #27717 "Select/MenuItem hover effect broken after material-ui/core v4.8.3"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hover effect is not working when MenuItem(s) are shown and mouse is hovered over them.

## Expected Behavior 🤔

Hover effect to be working properly. As it does up until version 4.8.3

[2021-08-13 05:06] qiweiii commented on #27525
I would like to take this issue

[2021-08-13 06:30] eps1lon commented on #27717
Thanks for the feedback.

I can't reproduce this issue on Chrome 92 or Edge 80. What specific version of Edge reproduces the problem for you?

Can you reproduce the issue on v5: https://next.material-ui.com/components/selects/#basic-select?

[2021-08-13 06:31] eps1lon commented on #27692
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-13 07:39] omidtajik commented on #27701
@mnajdova Thank you. It worked!
Yes, the doc seems to need to be changed

[2021-08-13 07:57] enoh-barbu commented on #27692
@eps1lon https://codesandbox.io/s/eager-ritchie-snbb3?file=/src/Demo.tsx here seems to be working... not sure what's the difference. I'm up to date with Material UI, using v5 beta 3 as well...

[2021-08-13 07:59] enoh-barbu commented on #27692
![image](https://user-images.githubusercontent.com/24221572/129324295-40ee2c87-0460-4289-a7a7-3777414360fc.png)
As you can see in the image, the class is properly generated. I'm gonna close this ticket...as I can't reproduce it here, only locally

[2021-08-13 07:59] #27692 closed

[2021-08-13 08:03] croraf commented on #22456
@tielushko  This is not a change for v4 of material-ui. It will be included in v5.

[2021-08-13 09:44] huizhong90 opened #27721 "Data Grid"
How can we know which column menu is selected from the data grid?
In order to change the filter column to the corresponding column.

[2021-08-13 10:43] #25417 closed

[2021-08-13 11:51] felipepastor commented on #22257
@Lane Do you know how we could add Types for your proposal?

[2021-08-13 12:29] HasanYousef opened #27725 "Can't resolve '@material-ui/lab/LoadingButton'"
@material-ui/lab module doesn't contain LoadingButton folder after running `npm install @material-ui/lab`.
it's not in /lab either.

[2021-08-13 12:53] #27725 closed

[2021-08-13 12:54] oliviertassinari commented on #27725
Tip: make sure the docs you browse match the version of the software used.

[2021-08-13 13:37] t-itani commented on #22426
Product: Quran in English
Company or Organization: ClearQuran
Link: https://www.clearquran.org
Screenshot:
![clearquran](https://user-images.githubusercontent.com/50718670/129365504-1d2ae92a-8db9-462f-a04b-c08f6de5c46a.jpg)

[2021-08-13 13:42] thoughtlessmind opened #27726 "Tooltip of `Show the full source` getting visible hovering over the previewing components container"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When hovering over the container displaying the demo preview of the components, the tooltip of `Show the full source` getting visible.

## Expected Behavior 🤔
When hovering over the d

[2021-08-13 13:54] eps1lon commented on #27726
This is intended behavior to highlight that the source is available.

[2021-08-13 13:54] #27726 closed

[2021-08-13 13:54] Tomassito opened #27727 "Generic Class Component wrapped in withStyles - TS error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When trying to create a React Class component with generic props, if it's wrapped with `withStyles` HOC it produces error.
https://codesandbox.io/s/quiet-smoke-tnk9u?file=/src/App.tsx

[2021-08-13 13:55] eps1lon commented on #27666
What is the concern here? You're now arguing against your proposal.

[2021-08-13 14:16] oliviertassinari commented on #22257
@felipepastor Interesting point. I think that we could update https://next.material-ui.com/guides/composition/ to describe how to extend the props of the components, including TypeScript. We have a couple of frequently upvoted issues related to it.

For instance, @eps1lon has been advocating for using more this wrap pattern. There are definitely cases where you don't want to update the theme to ad

[2021-08-13 14:33] oliviertassinari commented on #27666
I'm exploring the merite of the proposal. I don't think that it matter who it comes from. If we want to deliver a new product that resonates with a different audience, we need a name that can be clearly identified. If we think that it's clear enough, then all good.

Danilo has used a different framing, pushing for MUI Core for being the main product, with material design, and the unstyled componen

[2021-08-13 15:02] #27727 closed

[2021-08-13 15:03] oliviertassinari commented on #27727
@Tomassito We discourage the usage of withStyles and class components. You will find more luck on StackOverflow.

[2021-08-13 16:16] zamgill commented on #27717
I'm seeing the issue on Edge Version 92.0.902.73. Would you be able to create a sandbox for me to test?

Below is a short gif that shows the issue on the codesandbox link I shared above but the issue doesn't show on the v5 link you shared.

![img](https://i.ibb.co/ky7xkhT/Issue-Demo.gif)

[2021-08-13 16:45] DanMMX commented on #20373
I have this problem on beta 3
https://codesandbox.io/s/vigilant-morning-h0957?file=/src/App.tsx
(forked from the updated dependencies fix)

[2021-08-13 17:08] oliviertassinari commented on #20373
@DanMMX See the docs https://next.material-ui.com/guides/typescript/#usage-of-component-prop:

[code]

[2021-08-13 17:37] Zombobot1 opened #27729 "Theme provider doesn't work in storybook"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I added theme provider for my stories in storybook with a custom font. In the dev tools I see that the provider was injected. However, Typography sets Roboto as its font family. On th

[2021-08-13 19:27] Zombobot1 commented on #27729
I also rendered the same component (with theme provider) inside storybook and in regular application. I got diametrically opposite results. Unfortunately, they both are wrong

![image](https://user-images.githubusercontent.com/48030070/129408853-3afa6c82-932f-4abc-874c-511182d0a0c6.png)

This theme was used in both cases:

[code]

[2021-08-13 19:37] Zombobot1 commented on #27729
[Example](https://next.material-ui.com/customization/palette/#example) form the docs

![image](https://user-images.githubusercontent.com/48030070/129410066-bcebc002-9f2e-4f7a-b4af-37395f55abdb.png)

[2021-08-13 19:41] toschlog opened #27731 "[Select] Collapse as TransitionComponent doesn't work"
[x] The issue is present in the latest release.
[x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If I specify a TransitionComponent in the MenuProps of a Select component, the menu draws in the wrong place and does no transition.

The default transition is Grow, but I want to change

[2021-08-13 19:48] wescopeland commented on #26366
I was able to get it to work with something similar:

[code]

[2021-08-13 22:12] oliviertassinari commented on #22203
@fcole90 Yeah, if you use the docs of v5, you also need to have v5 installed :)

[2021-08-13 22:31] Zombobot1 commented on #27729
If i use theme provider inside a story and try to access the theme through useTheme I get the default theme. However, if I wrap all stories in a decorator (this is a proper way of doing it) as it described [here](https://stackoverflow.com/a/68418747) I see that theme from useTheme is correct (it uses my primary color). Unfortunately, the MUI component (a button) is still blue so I consider that my

[2021-08-13 22:36] #20250 closed

[2021-08-13 22:45] Zombobot1 commented on #27729
Duplicate of [this](https://github.com/mui-org/material-ui/issues/27238)

[2021-08-13 22:45] #27729 closed

[2021-08-13 23:25] hbjORbj commented on #22519
I opened a pull request on the implementation of `useResizeObserver` hook. It can be found here: https://github.com/mui-org/material-ui/pull/27736

[2021-08-14 00:48] dantman commented on #26488
Yes to both! Even though Material doesn't have a defined style for `readOnly`. That shouldn't completely stop the developer from using `readOnly` on a TextField and providing their own styles.

[2021-08-14 04:49] Hiroki111 commented on #15903
I saw a similar (probably the same) issue with `@material-ui/core/Fade`.
@waleedshkt 's approach solved it.

i.e.
[code]

[2021-08-14 04:59] rxdrag opened #27737 "How to remove p tag from TabPanel?"
When i use TabPanel, It add a p tag ,so the brower get an error. How to remove it?
![image](https://user-images.githubusercontent.com/18096128/129434585-7f2c70ab-cb23-4bf2-85ba-159bc850a039.png)
![image](https://user-images.githubusercontent.com/18096128/129434632-d81d123e-1110-46dd-a816-4a9c0cf8a976.png)

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https:/

[2021-08-14 05:18] #27737 closed

[2021-08-14 06:50] alexile commented on #27707
I've just run into the same problem with my tests. Could you please take a look #27738 ?

[2021-08-14 07:00] mjchang opened #27739 "TextField Form Enter Submit Triggers EndAdornment"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Pressing enter in a TextField to trigger a form submit triggers the Input Adornment onClick. This happens for both startAdornment and endAdornment.

## Expected Behavior 🤔

Input Ador

[2021-08-14 08:31] liho98 commented on #26449
why are you closing this issue, that 22488 issue has been closed, its not duplicate, dont you even try the author code? before closing this issue, OMG.... Please reopen it. Its critical bug on production, my version is `@material-ui/core": "5.0.0-alpha.31`

[2021-08-14 08:49] eps1lon commented on #22519
Some actual examples would help. This generic example doesn't help decide on an implementation.

[2021-08-14 12:22] alon-glater commented on #26991
Hi, my friend @itay347 and I would like to take on this issue.

We've taken a look at the solution suggested by @oliviertassinari and we have a couple of questions:

1. We thought about testing the change as such: we check if the buttons in the `PickersModalDialog` component receive the props passed to them from the `MobileDatePicker` component. Would such a test be acceptable?
2. We assume that w

[2021-08-14 13:22] zhuhang-jasper commented on #15610
Any solution for CRA? (we don't have webpack config)

[2021-08-14 13:31] TheDiveO commented on #15610
See https://github.com/mui-org/material-ui/issues/15610#issuecomment-756171269; I'm using CRA.

[2021-08-14 13:38] zhuhang-jasper commented on #15610
This doesn't help. I already have my "strictMode" removed long ago.
Actually this issue was fixed when I first faced it when I uses `@material-ui/core`.
Today I use `@material-ui/lab`, and this problem happens again.

I already tried moving both these packages into dev & peer dependencies.

[2021-08-14 13:44] oliviertassinari commented on #15610
The docs: https://material-ui.com/getting-started/faq/#i-have-several-instances-of-styles-on-the-page

[2021-08-14 19:00] oliviertassinari commented on #26991
@alon-glater

1. you would need to use the new prop and assert that developers can append any props.
2. I don't get it. It's a injection point, the props should be an empty object or undefined by default.

[2021-08-14 19:51] paxperscientiam commented on #27725
@HasanYousef , while it may not solve your problem, you still need to update icons and lab packages.

![Screen Shot 2021-08-14 at 3 51 03 PM](https://user-images.githubusercontent.com/7539871/129458624-afc32a76-5380-450b-9e1c-128897c25251.png)

[2021-08-15 00:36] CloutProject commented on #20012
I merged my entire codebase to Material-UI v5 and everything went well. However, there is one thing that annoyed me: the _styled_ api doesn't seem to support _styled-components_ syntax for regular html tags (where you use a dot instead of parentheses). For instance: one would expect to be able to do the following:

[code]

I know I can achieve the same behavior with the parentheses syntax, but is

[2021-08-15 03:30] faisalscientist commented on #18251
Have you found a way to test this yet?

[2021-08-15 06:19] HasanYousef commented on #27725
@paxperscientiam I had to rollback to version 4 because version 5 is full of bugs especially when combining it with other packages like [notistack](https://www.npmjs.com/package/notistack), I also had issues with Modal components.

[2021-08-15 08:23] VikR1000 opened #27772 "Theme Colors Missing in Firefox?"
My theme colors show up as expected in Chrome and Safari, but are all #ffffff in Firefox.

- [x ] The issue is present in the latest release. (CHECKED IN LATEST MUI V4. HAVEN'T CHECKED V5 BETA YET]
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I've got my theme set up like this:

[2021-08-15 12:01] thorn0 opened #27773 "TextField: `event` in `onChange` isn't typed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

A type isn't inferred for the `event` parameter of the `onChange` prop of `TextField`.

## Expected Behavior 🤔

A type (`React.ChangeEvent<...>` I guess) should be inferred.

## Steps

[2021-08-15 12:23] oliviertassinari commented on #20012
@CloutProject Note that not all the styled implementation supports this shortcut, e.g. https://github.com/cristianbote/goober#comparison-and-tradeoffs. Goober doesn't support it in the base package to minimize bundle size.
It also leads to two way to do the same things, developers are left wondering if they should either use `styled('div')` or `styled.div`. 👍 for not supporting this API.

An issue

[2021-08-15 12:53] oliviertassinari commented on #27306
Regarding how we manage the product. Up until now, as the owner of it, I have used the milestones to include problems to fix in order to reach a specific larger goal. So I have removed the v6 milestone from this issue because we haven't yet a clear consensus on the direction the product should take on this one.

Now, we could act on a different way to manage milestones, by including issues that ha

[2021-08-15 13:08] gamemaker1 commented on #27590
Hi there! I would like to take up this issue, anything I should know before taking a crack at it? Thanks!

[2021-08-15 13:24] eranabir opened #27774 "Losing focus when changing state inside onFocus event when using custom input"
how to keep input focus when changing state inside onFocus event

[code]

[2021-08-15 13:27] #27774 closed

[2021-08-15 14:18] monteiz commented on #17172
I am experiencing the same problem.

Environment:
Browser: Chrome 92.0.4515.131 (Official Build) (x86_64)
React: ^16.14.0
OS: macOS v.10.14.6

[2021-08-15 16:31] Janitha133 commented on #16341
After that, get it in child component like this way
[code]

It worked for me

[2021-08-15 19:23] paxperscientiam commented on #27725
@HasanYousef , yeah, i think i've reached my breaking point on version 5 lol. I'll be rolling back too.

[2021-08-16 03:40] kt-jun opened #27786 "[DatePicker] How to customize the calendar header text format"
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
For example, we want to change the format for displaying the year and month, such as "2021, August", by ordering the year and month and adding commas.

## Examples 🌈

![image](https://user-images.githubusercontent.com/88994256/129508287-a1f0e

[2021-08-16 03:55] VikR1000 commented on #27772
Solved! It was just some funky setting that had gotten into Firefox. I'd just installed it (to try out their data breakpoints) so I don't know why this was the setting (in Preferences->Colors):

<img width="771" alt="Screen Shot 2021-08-15 at 8 51 45 PM" src="https://user-images.githubusercontent.com/18017954/129509362-6bf004be-9265-441b-ae18-58b5aa880528.png">

[2021-08-16 03:55] #27772 closed

[2021-08-16 08:11] EliasJorgensen commented on #22368
@eps1lon I disagree, the ripple starting indicates to the user (at least any user who does not know how MUI works) that the button has been clicked. When the ripple starts, the user then expects the appropriate action to occur. If the given action does not occur, the user will interpret this as an error. The whole reason i opened this issue in the first place, is because a (non-technical) customer

[2021-08-16 08:19] hbjORbj commented on #9337
I opened a pull request for resize observer hook, where I developed a fix for this issue: https://github.com/mui-org/material-ui/pull/27736#issuecomment-898908577

[2021-08-16 08:21] #27701 closed

[2021-08-16 08:22] EliasJorgensen commented on #22368
I also do not necessarily agree on this. If you are scrolling around on a page at a certain pace, you would not have a 100% hit rate, when trying to press a given button element. No matter how fast you scroll though, a fixed bottomnavigationaction will always be the same place, and you will likely always hit it whenever you try, as navigation quickly becomes muscle memory. Therefore a user would e

[2021-08-16 08:42] hbjORbj commented on #22303
As far as I understand from the previous conversation on this issue, 1 and 2 have already been resolved, and 3 is to be fixed. Am I correct?

I cannot reproduce 3 as shown in the following recording.

https://user-images.githubusercontent.com/32841130/129536229-d031999f-af79-4874-94c2-29906f5d8e68.mov

[2021-08-16 09:14] EliasJorgensen commented on #22368
@eps1lon I have investigated the issue discussed in #27664. It seems to be a timing issue, where the time used by Firefox to fire the onClick event exceeds the 10ms used in the touch timeout here: https://github.com/mui-org/material-ui/pull/22524/files#diff-9bd1b68cd4c10ba7a546c4e18fb32dd88299f9a9de53f2efe599f54cdf24ae92R112.

If i increase the timeout, then i can no longer reproduce the issue in

[2021-08-16 09:26] hbjORbj commented on #23641
I opened a pull request for resize observer hook, where I developed a fix for this issue: #27736 (comment)

[2021-08-16 11:03] mnajdova commented on #27697
Maybe we should not stop forwarding the `classes` prop for components that does not specify any of the mui related options. It would be cleaner and more expected I think.

[2021-08-16 11:25] daveteu opened #27790 "Datagrid - date and datetime types (darkmode)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In DataGrid, when using date and dateTime types, the Date and DateTimePicker components are not respecting `palette.darkmode`

![image](https://user-images.githubusercontent.com/18649

[2021-08-16 12:16] mnajdova commented on #20012
Looks like all planned work has finished, so we believe we can close this one.

[2021-08-16 12:16] #20012 closed

[2021-08-16 12:29] ItayTur opened #27792 "BaseInput ref is undefined when using with Select"
I'm using Material-UI Select component, with Material-UI InputBase to show the values.

I need access for the ref of the ROOT of the Input component, but it's not working and the current of the ref is undefined.

- [ v ] The issue is present in the latest release.
- [ v  ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a

[2021-08-16 12:31] siriwatknp commented on #27015
[code]

@mnajdova because the color is forced in the `ListItemText`, that's why the color from theme (typography variant) is overridden.

[2021-08-16 12:57] MarksCode opened #27793 "[Discussion] Is Material-UI v5 beta stable enough to use in production?"
Not sure where to ask this so I'll just do it here:

I'm switching out my website from Ant Design to Material-UI and I'm wondering if I should use Material-UI v4 or if I should just use v5 since it's in beta right now.

Does anyone know if v5 is stable enough to use in production or should I just use v4?

[2021-08-16 13:43] mnajdova commented on #27793
The stable v5 release is planned for September. I would suggest if starting right now, to start with v5.

[2021-08-16 14:21] MarksCode commented on #27793
@mnajdova Can you explain what "Stable" release means? Is the version that's out now unstable?

[2021-08-16 14:32] michaldudak commented on #27127
We've got few options on the table. Let's vote and decide:
* 👀 styleProps
* 🎉 ownerState
* 🚀 ownerProps
* ❤ $
* 👍 owner

As for the last one - it may feel awkward at first, as it could suggest it's a reference to the owner component, but IMO expressions like `owner.disabled`, `owner.onClick` look quite well and are not ambiguous.

You may vote for all options that you find acceptable.

[2021-08-16 14:40] KeesV opened #27796 "Updating to `@material-ui/core` beta 4 breaks build on Windows"
Updating to @material-ui/core 5.0.0-beta.4 from 5.0.0-beta.3 breaks imports on Windows.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Starting the sample app on Windows fails with an error:
[code]

When running on Linux (through

[2021-08-16 14:56] dimitropoulos commented on #20012
@oliviertassinari (cc: @CloutProject) I think the point you make is very valid, however the problem is that the `styled.div` syntax is far far far more common.  The styled-components docs pretty much exclusively uses this syntax.  I also hit this when I upgraded to v5 (and, frankly, just in daily usage) because I'm so used to the standard styled-components API.

I agree with the decision to just h

[2021-08-16 15:06] eric-burel commented on #20012
@dimitropoulos  related to my previous comment, I think the question that should be answered first is whether most people should actually use Material UI's `styled`, since Material UI is a library of component and a design system, but not a technical solution for CSS-in-JS.
It's great that MUI happen to expose their abstracted API. It could be a nice fit if you develop your own library of componen

[2021-08-16 15:15] mnajdova commented on #20012
@eric-burel does this [page on the docs](https://next.material-ui.com/system/styled/) explain a bit more when you may need to use the `styled()` we expose?

[2021-08-16 15:48] eric-burel commented on #20012
Partly yes, this is my understanding currently of the section "What problems does it solve?":

I think that it could be done by reexporting Emotion/SC `styled` function but with the right typings/default values. Haven't tried yet.

Didn't fully grasped the consequences of this. Doesn't it apply only when trying to restyle Material UI components?

Ok, this one is interesting, because it allows to h

[2021-08-16 15:58] oliviertassinari commented on #20012
Could we follow up on this discussion in a new GitHub issue? One that focuses on https://github.com/mui-org/material-ui/issues/20012#issuecomment-898976536. It would allow us to keep the scope small, so others can find it and contribute.

[2021-08-16 16:02] qiweiii commented on #26332
I would like to take this issue

[2021-08-16 16:55] CWSites opened #27799 "Running unit tests causes console warnings on unused `Box` component."
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

We built out our own component library `dot-components` based on Material UI. When I run unit tests in my application that is using `dot-components`, my console is littered with the f

[2021-08-16 17:28] imsuvesh opened #27800 "Display Slider valueLabel when dragging slider with onChangeCommitted prop."
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Slider valueLabel and thumb don’t change their position when dragging slider using onChangeCommitted prop.
When using onChange prop it is working fine but why not implement the same behavior for onChangeCommitted too?
Call the change function

[2021-08-16 17:53] paxperscientiam commented on #21015
@JacobMGEvans still on v4 myself, but setting `component` to `"span"` worked for me. thanks

[2021-08-16 18:10] oliviertassinari commented on #22303
@hbjORbj I have added a link to reproduction from your video. popper.js makes it work in v2 by using `inset`. We can still reproduce when the content overflows: https://codesandbox.io/s/spring-tdd-2zxjw?file=/src/Demo.js

https://user-images.githubusercontent.com/3165635/129609810-3be4f799-d69f-475e-917b-614214a8974a.mp4

[2021-08-16 19:28] oliviertassinari commented on #26332
A bit related https://github.com/mui-org/material-ui/pull/27331#issuecomment-898443080

[2021-08-16 19:48] danilo-leal commented on #27666
The story I'm trying to tell is that the MUI company has two main flagship products if you will: a set of Core and Advanced components. Other products (templates, design kits, low code) would all be built leveraging one or both of these sets. Both of them could be available with Material Design, the 2nd DS, and/or unstyled. Using the prefix also helps to create a clear boundary for the business mo

[2021-08-16 20:26] awitherow opened #27806 "Autocomplete onInputChange does not work with Debounce"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I do something like this...

[code]

 the debounce setQuery gets called immediately without debouncing.

## Expected Behavior 🤔

It should debounce.

## Steps to Reproduce 🕹

Ste

[2021-08-16 20:45] CWSites commented on #27799
Updated my original issue with a sandbox which displays the problem.

[2021-08-16 21:32] egorguscha opened #27807 "nextjs(ssr) FOUC"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Styles apply when client had been rendered
![image](https://user-images.githubusercontent.com/22044607/129631951-40278d56-4659-4310-a7bb-2faefbdb70ee.jpeg)

## Expected Behavior
Shoul

[2021-08-17 02:17] #27608 closed

[2021-08-17 02:40] matthewkwong2 opened #27808 "[TimePicker] Strict time format validation"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

### Current Behaviour
`TImePicker` will treat `8:5`, `07:0` (and similar format) as valid times despite the placeholder for the input suggest users should enter `hh:mm`.

### Suggested Behaviour
Add an option or make it the default behavior t

[2021-08-17 04:24] UGeneF opened #27810 "[Templates] TS compilation error on Blog.tsx"
- [x] Use the latest material-ui version.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

The project should compile

## Steps to Reproduce 🕹

Steps:

1. Create a blank app using `npx create-react-app my-app --template typescript`
2. Download the re

[2021-08-17 06:11] Paul6552 commented on #27533
@eps1lon
Can i pls add some more problems to this ticket:

There is another codesandbox example:
[Next example](https://codesandbox.io/s/material-demo-forked-ilgze)

1. I changed my initial codesandbox example to the example on material-ui documentation page. But why do we have two labels?
![image](https://user-images.githubusercontent.com/25934591/129672904-de44eace-2ead-422c-b8f6-d593dd4676f9.pn

[2021-08-17 06:33] #26332 closed

[2021-08-17 06:34] #27704 closed

[2021-08-17 06:35] #27707 closed

[2021-08-17 06:39] #27525 closed

[2021-08-17 06:40] eashish93 commented on #27666
What about this ?
[code]

[2021-08-17 06:43] egorguscha commented on #27807
Please add this point at the beginning of the doc as possible

[2021-08-17 06:43] #27807 closed

[2021-08-17 06:45] eps1lon commented on #27799
Thanks for the report.

Your codesandbox does not match the issue description. The codesandbox is using `@digital-ai/dot-components` which is not released from this repositoriy. Please include a minimal reproduction with as little 3rd party code as possible.

If you can not reduce it further, we'll have to close since this should be fixed by `@digital-ai/dot-components`.

[2021-08-17 07:40] fcole90 commented on #27704
Sorry @eps1lon, but what about the 4.x docs? Are they going to stay wrong in regards to this?

[2021-08-17 07:43] chahakshah111 opened #27812 "Import error for date-fns/formatISO from @material-ui\lab."
In date picker component when i import @material-ui/lab/AdapterDateFns i'm getting this error:

./node_modules/@material-ui/lab/node_modules/@date-io/date-fns/build/index.esm.js
Module not found: Can't resolve 'date-fns/formatISO' in 'C:\Chahak\Coding\Office\nft-ui\node_modules\@material-ui\lab\node_modules\@date-io\date-fns\build'.

How can i solve this?

I'm using :
 "@material-ui/lab": "^5.0.0-

[2021-08-17 07:45] eps1lon commented on #27812
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-17 07:49] eps1lon commented on #27704
We're not backporting non-critical fixes at the moment. Stable 5.x is two weeks away.

[2021-08-17 08:03] eps1lon commented on #13394
With the release of v5 (release candidate next week) all `StrictMode` related issues for React 17 (and current 18) will be fixed. For new `StrictMode` issues in React 18 we'll want to open a new issue (if they come up).

Happy to close this issue before its 3 year anniversary and thank you for your patience.

[2021-08-17 08:03] #13394 closed

[2021-08-17 08:06] eps1lon commented on #27146
We went with

[code]

in https://github.com/mui-org/material-ui/pull/27150

[2021-08-17 08:06] #27146 closed

[2021-08-17 09:20] chahakshah111 commented on #27812
@eps1lon Thanks for the CodeSandbox demo i tried my code over there and I found that I was using date-fns version - 2.0.0-beta.5. I updated to version 2.23.0 (as CodeSandbox using that version as dependency) and it worked fine. Closing for now

[2021-08-17 09:20] #27812 closed

[2021-08-17 09:27] siriwatknp commented on #27666
In my opinion, I don't think there will be a developer look at the package name first and try to guest what's inside. I believe that they all start by copying the package name in `getting started` section. So I think the shorter name, the better. Even though someone is confused about what's is `@mui/core` or `@mui/material`, they will google it and land on our documentation.

So I think `@mui/mate

[2021-08-17 09:38] #27688 closed

[2021-08-17 09:39] #27655 closed

[2021-08-17 09:52] qiweiii commented on #25312
I would like to work on this simplification!

[2021-08-17 10:03] oliviertassinari commented on #25312
We already fixed the issue in #27357. If needed, developers can prepend: https://github.com/mui-org/material-ui/pull/27357/files#r673042892.

[2021-08-17 10:03] #25312 closed

[2021-08-17 10:11] robphoenix commented on #27601
This is happening when opening a menu and a dialog. I'll try and get an example up for you today.

[2021-08-17 10:29] michaldudak commented on #27127
`ownerState` it is, then.

[2021-08-17 10:47] mnajdova commented on #27127
Just a note, when we do the change, there are some use-cases where some additional props needs to be passed to some slots that are not necessarily `ownerState`, for example passing `markActive` to the `Mark` component in the `Slider` - https://github.com/mui-org/material-ui/blob/next/packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.js#L691

This is one use-cases I can think of immed

[2021-08-17 10:52] gamemaker1 commented on #27590
When I tried replacing `type: tel` with `type: number`, I see the following error in the console:

[code]

It seems MUI is using the [RIFM (React Input Format and Mask)](https://github.com/realadvisor/rifm/) library, which does not support using `type: number` - there has been a discussion on it [here](https://github.com/realadvisor/rifm/issues/28).

Looks like using `type: tel` was an informed ch

[2021-08-17 10:55] oliviertassinari commented on #27590
Why are you using `type="number"`?

[2021-08-17 11:18] #27498 closed

[2021-08-17 11:27] #27664 closed

[2021-08-17 11:38] michaldudak commented on #27796
Hi, I followed the steps you described but I could not reproduce the error you're having. Does it happen consistently on your machine? Can you verify you've got beta.4 installed in node_modules (and @material-ui/core/Box/index.js does exist there)?

[2021-08-17 11:48] oliviertassinari commented on #22368
Agree, I think that we could increase the timeout from 10 ms to 80ms. It's still enough to make the UI feel responsive.

@rxdrag Could you expand on how the double click event is problematic in your use case? I get that it's not ideal but if the annoyance is only about calling a "cheap" (from a runtime perspective) method twice. It sounds like an interesting tradeoff to take this double click pain

[2021-08-17 12:06] lokinderchauhan commented on #26605
@oliviertassinari  This issues is showing up for me  in `@material-ui/lab 5.0.0-alpha.43`.

[2021-08-17 12:24] oliviertassinari commented on #26605
@lokinderchauhan Please make sure you have no peer dependency warnings.

@eps1lon do you know why peer dependency constraints are not breaking the npm installations, only raising a warning developers ignore?

[2021-08-17 12:27] soerenBoisen commented on #22368
@eps1lon I would be careful about requiring that BottomNavigationActions and buttons act exactly the same. The crucial difference here is that BottomNavigationActions always remain static as the user scrolls, whereas buttons are usually embedded in the scrolling content.

It is natural for a user to expect to be able to interact with static elements before other content has stopped scrolling. But

[2021-08-17 12:41] eps1lon commented on #22368
They can be static just like the BottomNavigationAction.

[2021-08-17 13:30] fcole90 commented on #27704
That's very close, indeed! 😊👍

[2021-08-17 13:33] mnajdova commented on #27015
Looks like it worked like that always, see forked sandbox with v4 - https://codesandbox.io/s/muilistitemtext-bug-forked-lf90f?file=/src/App.js

The general problem is not that much how the color is provided, I've tried this diff it worked the same:

[code]

The style overrides will always take presedence over the styled defined for the component (even if default props are updated, still the styles

[2021-08-17 13:45] oliviertassinari commented on #22368
To expand on what the 80ms of https://github.com/mui-org/material-ui/blob/a9194b570c7384ae869023020d084229fdc0dc32/packages/material-ui/src/ButtonBase/TouchRipple.js#L12

is about. It's about being long enough to accurately know if a click event is going to happen. It's also about being short enough to make the ripple feel instant.

The problem we face seem to strick the same tradeoff

[2021-08-17 14:02] shalokhin-artur opened #27819 "Folder styled-engine is missing [version 5.0.0-beta.4]"

[2021-08-17 14:13] prvnsmpth commented on #18018
Just in case this helps someone: I was able to get rid of the `prop className did not match` error by simply replacing `Box` with a `div`.

[2021-08-17 14:14] alexworker23 commented on #24282
@italodeandra Thank you! Your fix solved my problem. Issue was also only with the "Docs" tab.

[2021-08-17 14:19] eps1lon commented on #27819
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-17 14:26] tudi2d opened #27820 "BottomNavigationAction component types conflict"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When creating a `BottomNavigationAction` using a Link as a `component` & an `onChange` function prop it will trigger a `No overload matches this call` type error, even though this is

[2021-08-17 14:27] eps1lon commented on #27806
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-17 14:33] KeesV commented on #27796
Thanks for looking in to this!
I'm quite sure I have beta.4 in node_modules: `node_modules/@material-ui/core/package.json` has `"version": "5.0.0-beta.4"`.

Contents of `node_modules/@material-ui/core/Box` on Linux (including file sizes):
[code]
and after running `yarn install` on Windows:
[code]
It seems `.js` files are deleted. I'm at a loss here... Any idea what could be causing this behavior?

[2021-08-17 14:34] eps1lon commented on #27793
It means that there's a possibility for breaking changes before a stable release. "stable" and "unstable" refer to the public API not to whether functionality is expected to be buggy.

[2021-08-17 14:34] #27793 closed

[2021-08-17 14:47] eps1lon commented on #27739
Thanks for the feedback.

This took me a while to understand but this is actually expected behavior considering you use `<button />`. That means that the button is actually equivalent to `<button type="submit" />`. On submit every submit button receives a click event.

What you actually want is `<button type="button" />` in the `endAdornment`.

[2021-08-17 14:47] #27739 closed

[2021-08-17 14:49] mnajdova commented on #22074
As far as I can see all Breaking Changes which are part of the PR description are handled. I've runned the script again, by selecting the milestone: v5-beta, and these were the only items there:

- ~[ ]~ [[CssBaseline] Change body font size to body1 (1rem)](https://github.com/mui-org/material-ui/pull/24018)
  Change of default, can't be deprecated.
- [x] [[Icon][SvgIcon] Change default fontSize fr

[2021-08-17 14:52] KeesV commented on #27796
I'm digging into this a bit more, and found out that if I use `npm` instead of `yarn`, everything works as expected. I'm now in the process of trying various versions of `yarn` to see if I can isolate the issue a bit more.

[2021-08-17 14:59] goncalovf opened #27821 "Custom breakpoints are not deep merged in createTheme() with a base theme"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`createTheme(baseTheme, newThemeSettings)` ignores the breakpoint settings of `newThemeSettings`. The breakpoints of `baseTheme` are applied.

## Expected Behavior 🤔

The breakpoint s

[2021-08-17 15:09] #27697 closed

[2021-08-17 15:18] CWSites commented on #27799
@eps1lon `dot-components` is my library which I referenced having issues in. I've done a search of the entire codebase and we aren't using `Box` at all. My question is, what would be causing this warning to be triggered if the code in question doesn't exist in my library?

[2021-08-17 16:07] 41y08h commented on #13455
This occurs because the dimensions of the thumb are greater than a point and that overflows when it's at the end of the slider.
Got it fixed by wrapping the slider in a `div` with the following styles
[code]

Enjoy :)

[2021-08-17 16:29] ErikParso opened #27822 "Do not rename classes to jss in production build"
Hi, Sorry. I cannot find any information about this problem. Is it possible to achieve that my class names generated by makeStyles are same in development and production build ? In production build all my classes are renamed to jss and I would like to keep name I specified in options parameter of makeStyles function. Is it possible ? Thanks.

[2021-08-17 16:36] eps1lon commented on #22074
It wasn't working because you changed the milestone title without telling anybody.

Yep, looks good 👍🏻

[2021-08-17 16:43] eps1lon commented on #27822
You can use the [`StylesProvider`](https://material-ui.com/styles/api/#stylesprovider) to write a custom class name generator.

[2021-08-17 16:43] #27822 closed

[2021-08-17 16:48] eps1lon commented on #27799
Please reduce this to an example that's not using any code that is not inspectable from within the codesandbox i.e. inline the relevant code of `@digital-ai/dot-components`

[2021-08-17 16:50] eps1lon commented on #27773
Thanks for the feedback.

Please confirm that the issue persists locally. I suspect that this is just an issue with the TypeScript playground that's already tracked in https://github.com/microsoft/TypeScript-Website/issues/248

[2021-08-17 16:54] eps1lon commented on #27800
Thanks for the feedback.

When dragging the value is not committed. Therefore `onChangeCommitted` isn't called. This is explained in https://material-ui.com/api/slider/#props:

On the other hand, `Input` does not implement `onChagenCommitted` which is why you get a warning in the console: ``Warning: Unknown event handler property `onChangeCommitted`. It will be ignored.``

Why would we need two di

[2021-08-17 16:54] #27800 closed

[2021-08-17 16:54] KeesV commented on #27796
OK, I ended up converting my project to Yarn 2, which solves the problem for me. Thanks for your patience!

[2021-08-17 16:54] #27796 closed

[2021-08-17 16:59] sarkstephan commented on #24528
I'm having the exact same issue using a custom breakpoint, with breakpoints.down().

[code implementation](https://github.com/mui-org/material-ui/blob/79ebf71d31cca2c73143891960ea54ec1132bdeb/packages/material-ui/src/styles/createBreakpoints.js#L40)

`
// It can't be configured as it's used statically for propTypes.
export const keys = ['xs', 'sm', 'md', 'lg', 'xl'];`

![Screen Shot 2021-08-17 at

[2021-08-17 17:05] eps1lon commented on #27792
Confirmed for 5.x: https://codesandbox.io/s/material-demo-forked-cx22l?file=/demo.tsx

[2021-08-17 17:11] eps1lon commented on #27731
Thanks for the report.

Looks like it's just an issue with `Collapse`. It's working for `Fade`: https://codesandbox.io/s/basicselect-material-demo-forked-idh71

[2021-08-17 17:13] eps1lon commented on #27717
https://codesandbox.io/s/glml5?file=/demo.js

[2021-08-17 18:24] oliviertassinari commented on #27666
I have updated the milestone to reflect the previous plan we had on Notion: https://www.notion.so/mui-org/Rollout-strategy-5167e83974e042d7b07ece884e1c3b47. This was meant for v5. e.g. MUI X will include it in v5-beta.0. It's how we started to organize the priorities 11 days ago. I have updated a bit the wording where the temporality was confusing. cc @danilo-leal to make sure I didn't alter the i

[2021-08-17 18:27] dziul opened #27823 "[material-ui.com] Infinite refresh in page 404"
Didn't know where to go, but there's a bug, I believe, when we land on page 404.

Accessing Chrome (version
92.0.4515.159 64bits, Window 10), https://material-ui.com/pt/components/, for example, is in an infinite refresh. Even accessing the anonymous tab

strangely on Firefix, Edge does not happen.

![loop-page-404-chrome](https://user-images.githubusercontent.com/19353873/129780529-fb440d2d-6d5b-

[2021-08-17 18:32] RobertaMelo commented on #19702
I had this problem when I was using the react-redux-toastr and I discovered that I was called this tag <Toaster /> out of (or before) of called the tag to <MuiThemeProvider >, maybe your problem be with some import.

[2021-08-17 18:34] CWSites commented on #27799
@eps1lon either you're not listening, or you're not understanding. I'm trying to be as respectful as I can, but you're asking for something that I can't give you while still showing the issue I'm seeing. I own `@digital-ai/dot-components`, it is our private repository of material ui components that we use in our products.

I'm simply asking for clarity around why this console warning is occurring

[2021-08-17 18:39] oliviertassinari commented on #27666
@siriwatknp I propose we have a vote, see what's more popular. We already had one, but better making sure before we make a change:

- 🚀

[code]

- 🎉

[code]

- 👀

[code]

[2021-08-17 19:57] ryancogswell commented on #27799
Here's a link to the Stack Overflow question @CWSites created about this:
https://stackoverflow.com/questions/68822767/material-ui-the-css-function-is-deprecated-use-the-stylefunctionsx-instead#68822767

[2021-08-17 21:14] imsuvesh commented on #27800
@eps1lon Thank You for replying

Ok, that's Nice, I missed it thanks for the correction.

A gentle Sorry on the input part csb didn't saved it correctly that's why you saw the earlier version of code. Corrected it anyways...

My suggestion is why not implement the same behavior for valueLabel and dragging thumb for `onChangeCommitted`, not to actually put the whole `onChange` prop functionality.
`

[2021-08-17 21:20] CWSites commented on #27799
@ryancogswell you mentioned

I can't even begin to comprehend how that would be importing something that I am not being explicit about. The whole reason for importing specific components is for the tree-shaking and not importing what we don't need.

[2021-08-17 21:28] joao7yt commented on #23523
any updates on this? trying to figure out how to do it using TimePicker from @material-ui/pickers

[2021-08-17 21:30] atorenherrinton commented on #27731
I would like to give this a try if no one else is working on it.

[2021-08-17 22:01] ryancogswell commented on #27799
I believe this is fully addressed in the Stack Overflow question, so closing this issue.

[2021-08-17 22:01] #27799 closed

[2021-08-17 22:21] mbrookes commented on #27666
So, `@mui/styled-adapter`?

[2021-08-17 22:25] oliviertassinari commented on #22074
The GraphQL query we run is limited to 100 results, we have 244 PRs that match.
<details>
  <summary>The 244 records</summary>

  https://codesandbox.io/s/recursing-jang-y0w5h?file=/src/data.json

</details>

I went on updating the breaking changes PRs that we did to add the missing v5-beta milestone label.
I didn't update them all, I ignored the ones that seems impossible to add a deprecation for

[2021-08-17 22:51] rattrayalex commented on #12432
@oliviertassinari does that mean that v5 of material-ui no longer has a small download side?

[2021-08-17 22:57] tamvo22 opened #27824 "Material UI v5 Datagrid custom toolbars requires passing in props."
Based on Material UI v4 docs for Datagrid Export Typescript doesn't require passing of props for both GridToolbarFilterButton and GridToolbarExport.

[Data Grid - Export](https://material-ui.com/components/data-grid/export)

However, Mui v5 will report the following error if we don't pass default props for them:

Type '{}' is missing the following properties from type 'Pick<GridToolbarFilterButton

[2021-08-17 23:16] oliviertassinari opened #27825 "Rollout of v5 🚀"
This issue is a follow-up on #20012 now is time to keep track of the final steps required to ship v5! This effort is part of the [OKR Q3 2021: Release v5](https://www.notion.so/mui-org/29282afaab56440b83294b7161ddc021?v=c966caf35c4642aba6b89db1d1014ccc&p=b83f3143c7c041b0bca0f06f281e64ed). It also concretizes [Rollout-strategy](https://www.notion.so/mui-org/Rollout-strategy-5167e83974e042d7b07ece88

[2021-08-18 00:24] m4theushw commented on #27666
Should we mention that it's around emotion?

To me, `@mui/styled-engine-sc` sounds like an extension of `@mui/styled-engine`. Also, I wouldn't see a problem if we expanded the styled-components abbreviation to be more meaningful.

This is what I had in mind:

[code]

[2021-08-18 00:30] oliviertassinari commented on #12432
You can check the size of the package with https://packagephobia.com/.

[2021-08-18 02:02] rattrayalex commented on #12432
Looks like `@material-ui/icons@5.0.0-beta.4` is currently ~15MB, which is actually more than `4.11.2` at ~10MB.

[2021-08-18 06:02] eps1lon commented on #27799
@CWSites We can't help you if you about private code. This is the first time I'm hearing this from you. With all due respect, please listen to the maintainers and try to answer the questions/task they pose. We don't ask these because we're bored but because they are required to solve the issue.

[2021-08-18 06:16] eps1lon commented on #27666
@m4theushw The idea is that the emotion adapter is the default one. That's why it doesn't have a suffix.

[2021-08-18 06:35] eps1lon commented on #27823
Thanks for the feedback.

Unfortunately, I can't reproduce this with Chrome 92 on Ubuntu 20.04.

I hope that this is just a temporary issue considering other browsers don't have the same behavior.

[2021-08-18 07:02] eps1lon commented on #27584
Cannot reproduce on Firefox 88.0.1 nor 91.01 with a viewport of 320x1280 when scrolled to the bottom and opening the Select.

@mnajdova, @stevegreenn Can you still reproduce the problem? Could you include a screen recording using

[2021-08-18 07:02] eps1lon commented on #27501
Closing since no reproduction was provided within 14 days.

[2021-08-18 07:02] #27501 closed

[2021-08-18 07:04] eps1lon commented on #27470
Closing since no reproduction was provided within 14 days.

[2021-08-18 07:04] #27470 closed

[2021-08-18 07:04] eps1lon commented on #27330
Closing since no reproduction was provided within 14 days.

[2021-08-18 07:04] #27330 closed

[2021-08-18 07:04] eps1lon commented on #27400
Closing since no reproduction was provided within 14 days.

[2021-08-18 07:04] #27400 closed

[2021-08-18 07:05] eps1lon commented on #27527
Closing since no reproduction was provided within 14 days.

[2021-08-18 07:05] #27527 closed

[2021-08-18 07:22] siriwatknp commented on #27015
@mnajdova agree, I don't see other option so far and I think it works as expected from the implementation. To change the color of `SecondaryText` globally is to update `theme.palette.text.secondary`, not `theme.typography`.

I think we can close this issue.

[2021-08-18 07:26] eps1lon commented on #27731
Sure, go ahead. I've assigned the issue to you for bookkeeping. If you're stuck at any point feel free to open a PR with your progress.

[2021-08-18 08:00] eps1lon commented on #27015
The implementation does not decide whether something is a bug or not. If it did, nothing would be a bug since everything would work as implemented.

It seems like there is a misunderstanding of the API. So this does need work e.g. documentation, runtime warnings, different API. But just handwaving as "this is the implementation" is not user-friendly.

@mnajdova  Though it does sound like it was al

[2021-08-18 08:54] mnajdova commented on #27015
Makes sense, will remove it from the milestone.

I can come back to this once we are done with the v5 release. My point is, I don't think it is expected that adding theme overrides for a component used somewhere, should win over the styles defined for this component where it is used? If this worked like this, we would have had bugs all over the place. Namely, the order of the overrides is the foll

[2021-08-18 09:00] oliviertassinari commented on #17871
An update the W3C working group discussed this topic in https://github.com/w3c/csswg-drafts/issues/1936 and updated the guidelines:  https://github.com/w3c/csswg-drafts/commit/272dd50ed23ee2fa24bc8a58d25378fc12711c73

[2021-08-18 09:13] g1r0 opened #27829 "<Autocomplete /> warning isOptionEqualToValue passed to DOM node"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There is a warning on component mount
[code]

## Expected Behavior 🤔

Rendering causes no warning.

## Environment

@material-ui/core                   5.0.0-beta.3
@material-ui/icons

[2021-08-18 09:13] thorn0 commented on #27773
Yes, I've faced it locally. Also, it's reproduced on StackBlitz: https://stackblitz.com/edit/react-ckmpff?file=demo.tsx

[2021-08-18 10:01] mnajdova commented on #27829
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-18 10:17] stevegreenn commented on #27584
Hi @eps1lon, I can still reproduce the problem. Here is a link to a screen recording: https://streamable.com/10ohzw

I'm on Firefox 91 now.

[2021-08-18 10:20] mnajdova commented on #27821
Thanks for the report. The result `theme` seems to be correct, it may be a problem with how the `sx` prop resolves the breakpoints. Taking a look now.

[2021-08-18 10:21] stfenjobs commented on #26863
same here
in example [nextjs-with-typescript],  i got same error:
https://github.com/mui-org/material-ui/blob/next/examples/nextjs-with-typescript/pages/_document.tsx#L62

[code]

---
i have to add ` // eslint-disable-next-line react/display-name` on the code line

[2021-08-18 10:36] #27821 closed

[2021-08-18 11:16] goncalovf commented on #27821
Thank you very much for the proposed solution and explanation :+1::+1:

[2021-08-18 12:13] #27612 closed

[2021-08-18 12:52] JohnnyCrazy commented on #26492
A workaround in case someone needs it:

[code]

Preserves the style and everything but makes sure every option has their own `key`

[2021-08-18 13:12] mnajdova commented on #22074
Looking into the breaking changes left here are my thoughts:

There are lots of options here of how people may migrate (using @material-ui/styes, using tss-react, migration to styled() and sx, I don't think we can have a clear migration message that would fit them all) I wouldn't add a deprecation in v4 for them.

Can't add deprecation notes

I don't think we can easily support this with deprecati

[2021-08-18 13:23] mnajdova commented on #27810
@UGeneF what version of @material-ui are you using? Looks like you copied the content from the `next` branch so make sure you use @material-ui/core@next as well.

If it still doesn't work please provide a github repository link where we can debug the issue.

[2021-08-18 13:28] and-kost commented on #11212
The next solution helps for me:
for Select tag add options
MenuProps={{ disableScrollLock: true }}

[2021-08-18 13:58] benmneb opened #27831 "Icon component can't receive custom theme colors"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`Icon` component can't receive custom theme colors, while Buttons and IconButtons can.

## Expected Behavior 🤔

`Icon` component _can_ receive custom colors from the theme, just like

[2021-08-18 14:34] #27127 closed

[2021-08-18 14:34] toschlog commented on #27731
I just looked at the codesandbox link posted yesterday by @eps1lon and I'm not seeing the same thing he is.  I added this to the <Select> component:

[code]

With that in place I'm seeing the same thing as when I try to use "Collapse" -- the menu appears at the origin and there's no transition.  The same happens if I use "Grow" as the TransitionComponent.

[2021-08-18 14:52] marr commented on #27533
I am also running into issues with the `label` prop on `Select` elements.

Issue 1: When I set a `label` prop, it doesn't show up in the output.
<img width="88" alt="Screen Shot 2021-08-18 at 10 23 10 AM" src="https://user-images.githubusercontent.com/44376/129915741-8d49a8e1-1eae-4d1c-b0e6-72b583fb89ff.png">

Issue 2: When I use an `InputLabel`, the label looks bad:
`variant="outlined"`
<img widt

[2021-08-18 16:35] GlowingUnicorn opened #27832 "[Menu] Custom button throws off display of popper-based menu"
## Current Behavior 😯

When using a popper based menu together with a button styled with 'withStyles', the popper will not show close to the button, as it should, but in the upper left corner.

## Expected Behaviour 🤔

I'm only guessing the popper should be displayed close to the button no matter what kind of styling we're using. Apologies if this is not an actual bug.

## Steps to Reproduce 🕹

Li

[2021-08-18 16:36] oliviertassinari commented on #27666
It looks like we have a new winning option on https://github.com/mui-org/material-ui/issues/27666#issuecomment-900540740:

[code]

I have updated the issue's description.

 @m4theushw In the topic of the styled engine/adapters, there is a potential third candidate that optimizes for bundle size #27776, emotion optimizes for providing the best tradeoff between bugs, features, performance, bundle si

[2021-08-18 17:11] atorenherrinton commented on #27731
If the component is imported and then passed as a value to the transitionComponent Fade, Grow and Zoom work, but Collapse does not work.

[code]

[2021-08-18 17:34] atorenherrinton commented on #27731
If the component is imported and then passed as a value to the transitionComponent Fade, Grow and Zoom work, but Collapse does not work.

[code]

[2021-08-18 17:37] atorenherrinton commented on #27731
Thank you. I'm a complete newbie at this, and I'm trying to figure out how to test the material-ui locally. Do I link it the react-app (e.g. yarn link)? If there is an article for this I would really appreciate. Thank you in advance!

[2021-08-18 18:00] alimirmohammad opened #27833 "inputMode prop"
There is an inputMode prop available on TextField component. However, when I use it, the component does not pass down inputmode attribute to the input element.

I managed to pass down this attribute via inputProps.
I wonder what is the purpose of inputMode prop on the TextField. Is this a bug?

[2021-08-18 18:32] atorenherrinton commented on #27731
I think I've figured out why this is happening but not sure what the fix would be.

For every transition component except for Collapse, in React Developer Tools it shows the component is being rendered:
<img width="500" alt="Screen Shot 2021-08-18 at 11 24 26 AM" src="https://user-images.githubusercontent.com/25964143/129952315-a293dc90-91f0-4b21-a149-ffb365d2755d.png">

For the Collapse component

[2021-08-18 19:04] ryancogswell opened #27835 "[docs] js file content is being displayed for TypeScript version of demos"
When toggling between "JS" and "TS" on the demos in the v5 docs (https://next.material-ui.com/), it always displays the code for the `.js` file. If I go to the CodeSandbox while "TS" is selected, the sandbox pulls in the TypeScript package dependencies, but uses the code from the `.js` file.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mu

[2021-08-18 19:26] eps1lon commented on #27835
Closed in https://github.com/mui-org/material-ui/pull/27691: https://next--material-ui.netlify.app/components/slider/#continuous-sliders

Will be part of the next release.

[2021-08-18 19:26] #27835 closed

[2021-08-18 19:28] eps1lon commented on #27833
Could you clarify what you mean by that?

[2021-08-18 19:30] eps1lon commented on #22074
I think we've made a good faith effort to add as many deprecation warnings as possible. There's a long tail of issues that I would love to see handled but I don't think it's worth the time of core members.

[2021-08-18 20:02] EliRobinson commented on #27015
Just checking back in. The correct answer to solve this issue is to change the `palette.secondary.text` color to match what I want it to be and wrapping it in it's own `Typography` with a variant is not the right order?

[2021-08-18 20:35] yblok13 opened #27836 "Ability to set component props other than style to new component variants"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Just like you can set style on a custom variant, we should be able to set all the other props for each variant.

## Examples 🌈

[code]

## Motivation 🔦

Instead of creating a bunch of custom components, it's super easy to just declare the var

[2021-08-18 20:40] AlvesJorge commented on #27831
Hi Ben,
While I wasn't able to find out why this is happening ( and I would love to know why ) I found a workaround that could be an easy fix for , and a guidance to why this might be happening to someone more experiences in MUI that might see this.
https://codesandbox.io/s/material-ui-v5-icons-custom-color-bug-forked-jswdn?file=/demo.js
By using "warning" which is one of the listed values for the

[2021-08-18 20:45] AlvesJorge commented on #27832
Your pen works fine on my browser

[2021-08-18 20:47] CWSites commented on #27799
@eps1lon I understand, but there's no possible way for me to expose my entire library in order to problem solve. Thankfully @ryancogswell was able to help and I believe our babel config wasn't properly setup which is why the warning from `Box` was slipping through.

[2021-08-18 21:01] ryank425 opened #27837 "[Autocomplete] Where is the debug mode in v5"
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I am using AutoComplete to list options that match with the query with custom renderOptions function, and have Tooltip on top of those options. I also have some interactions on Tooltip that allow me to drag components to others using React-

[2021-08-18 21:03] eps1lon commented on #27837
See https://github.com/mui-org/material-ui/pull/23377 for all the context

[2021-08-18 21:03] #27837 closed

[2021-08-18 21:27] ryank425 commented on #27837
Having open={true} itself doesn't achieve what the debug mode achieved though.

https://material-ui.com/api/autocomplete/

debug | bool | false | **If true, the popup will ignore the blur event if the input is filled**. You can inspect the popup markup with your browser tools. **Consider this option when you need to customize the component**.
-- | -- | -- | --

I am not trying to inspect the code

[2021-08-18 23:30] benmneb commented on #27831
Hey Jorge,

That was the best work-around I came up with for now as well.

And I assumed that “string” in the prop options there meant any custom
string? 🤷‍♂️

- Benjamin

On Thu, 19 Aug 2021 at 4:40 am, Jorge Alves ***@***.***>
wrote:

[2021-08-19 01:10] hb-coding commented on #27808
Here is the line where where the single minutes digit is getting converted

https://github.com/mui-org/material-ui/blob/6a96545f49b31b7cc97bcecf1cb33bf195154daa/packages/material-ui-lab/src/internal/pickers/hooks/useMaskedInput.tsx#L81

I agree that this could cause unintended consequences, however the issue appears to come from the `dateAdapter` 's `parse` method that is being used. One workaroun

[2021-08-19 02:47] UGeneF commented on #27810
@mnajdova Thanks for your response!
Indeed, I`ve been using files from the next branch with the "prev" material UI version.
So the issue is wrong, closing

[2021-08-19 02:47] #27810 closed

[2021-08-19 05:39] dungle-scrubs opened #27839 "Material UI is incompatible with Gatsby v3 incremental builds due to browserlist using fs when using accordion component"
Referenced in [this](https://github.com/hupe1980/gatsby-plugin-material-ui/issues/65) `gatsby-plugin-material-ui` issue, SSR in Gatsby v3 is disabled when using Material UI for some people due to `browserlist` accessing the file system via `fs`.

I know this isn't technically a bug, but an alternate method of prefixing could solve the problem.  The only option to make it work is by disabling prefi

[2021-08-19 06:29] eps1lon commented on #27839
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-19 07:41] eps1lon commented on #27731
I suspect that this is best tested manually during development so I would suggest you pick a demo using `Select` from `docs/src/pages` in TypeScript (ignore type errors for now) and work with that during development (`yarn docs:dev`).

Once you figured out how to fix or what the problem is, you can open a PR and I guide you through the rest.

[2021-08-19 08:45] mnajdova commented on #27174
Instructions have been provided one month ago without any activity. I am going to close. Feel free to re-open if needed.

[2021-08-19 08:45] #27174 closed

[2021-08-19 08:49] mnajdova commented on #27015
I am sorry, it's hard to follow. Can you share a sandbox? I haven't suggested solution to the problem, just explained how it works. You can use the classname for the secondary typography to add any color you want. See https://codesandbox.io/s/muilistitemtext-bug-forked-f3kdy

[2021-08-19 09:25] croraf commented on #13250
I'd like to have this as well. The abstraction would convert if necessary. The same behavior is present in material-ui "select" components, and select and radio buttons are basically analogues.

[2021-08-19 09:49] GlowingUnicorn commented on #27832
Apologies, I hadn't saved properly yesterday. You can open it again.

[2021-08-19 10:46] oliviertassinari commented on #13250
From what I understand, #26333 is about solving the same problem for the number type. Why? to be consistent with native radio input.

[2021-08-19 11:10] croraf commented on #13250
Yes, seems like this is true. Both things remove consistenc with native html elements. In my opinion this is worthy, cause to be honest native html is trashy :D

[2021-08-19 11:44] poojaSingh18 commented on #14711
Hello, I am also facing this in 4.12.3. Any idea when permanent fix will be provided ?

[2021-08-19 12:27] #27280 closed

[2021-08-19 12:59] oliviertassinari commented on #14711
@poojaSingh18 It should already be fixed in v5.

[2021-08-19 13:08] dethstrobe commented on #27535
Turns out switching to userEvent fixed my problem. https://github.com/testing-library/user-event

[2021-08-19 13:13] mikomarrache opened #27844 "Padding top reset when using Dialog with styled-components"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The padding-top CSS property of MuiDialogContent-root is set to 0px.

[code]

## Expected Behavior 🤔

The padding should not be set - it doesn't happen with the Basic Dialog example i

[2021-08-19 13:29] kinshukshah commented on #27418
Hi @eps1lon I will take up the issue and create a PR.

[2021-08-19 13:49] fondberg opened #27846 "create-react-app-with-styled-components fails with Can't resolve '@emotion/react'"
The styled-components example fails with not finding emotion

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[code]

## Expected Behavior 🤔

## Steps to Reproduce 🕹
Follow the example:
[code]

## Context 🔦

## Your Environment 🌎

<

[2021-08-19 14:00] fondberg commented on #27846
Also tried `create-react-app-with-styled-components-typescript` with the same result

[2021-08-19 14:22] atorenherrinton commented on #27731
Thank you, I will try that out!

On Thu, Aug 19, 2021 at 12:41 AM Sebastian Silbermann <
***@***.***> wrote:

[2021-08-19 15:30] chiragBorkarEV opened #27848 "Any prop to show/hide table scrollbar"
Hello,

Issue: Table scrollbar is only visible while active horizontal scrolling for long tables.

Expectation: Assuming this is default behavior, any prop to set scrollbar always visible would be great to indicate user to scroll horizontally to see complete table.

[2021-08-19 16:04] chaserda commented on #26795
Have the same issue. Title gets rid of the top padding for me on Dialog Content. How come this doesnt follow the doc examples?

[2021-08-19 16:32] chaserda opened #27851 "Dialog Title overrides Dialog Content Padding."
Title gets rid of the top padding on Dialog Content and it gets overridden by:

.MuiDialogTitle-root+.css-141nu3b-MuiDialogContent-root {
    padding-top: 0;
}

This is on "@material-ui/core": "^5.0.0-beta.1".

This is an issue if you have the whole title background a different color than the content. Content will bump right up to it.

Example:

https://codesandbox.io/s/hopeful-fermi-0v850?file=/s

[2021-08-19 16:34] qiweiii commented on #23176
@oliviertassinari the two `react-spring` codesandbox examples mentioned above are still not working, now it show `ModuleNotFoundError Could not find module in path: 'react-spring/web.cjs'`, a fix is to import `react-spring` instead of `react-spring/web.cjs`.

[2021-08-19 18:18] scottfr opened #27853 "[material-ui][LoadingButton] Crashes React when Chrome has Translated the Page"
## Current Behavior 😯

React crashes when changing the loading state of a LoadingButton when Chrome has translated the page:

`Uncaught DOMException: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.`

## Steps to Reproduce 🕹

0. Set up Chrome languages to use a non english language and enable translation from english (htt

[2021-08-19 19:19] Fauzdar1 commented on #9116
I'm facing the issue with Menu and Dialog even without the TransitionComponent, I thought it was related with MDB but after replacing every element, it still doesn't work properly.

Whenever a dialog/Menu is opened and closed, the UI freezes and makes everything unclickable, then, either I've to refresh the page or it takes about 6-7 seconds to come back to senses.

I just don't understand why it

[2021-08-19 19:43] kinshukshah commented on #27418
Hi @eps1lon I have created a [Pull Request](https://github.com/mui-org/material-ui/pull/27854) can you please go through it.

[2021-08-19 20:26] giladl82 opened #27855 "[Tabs]: Scrolling tabs when page is RTL, not working"
When page layout is RTL, using scrollable tabs, doesn't scroll.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Clicking on the scroll button does nothing

## Expected Behavior 🤔

Scroll tabs and display hidden tabs

## Steps to Re

[2021-08-19 21:02] oliviertassinari commented on #22074
Closing and using the newly opened GitHub issues to refine the priorities on the v4 to v5 migration pain sounds 👌.

[2021-08-19 22:19] navalex opened #27857 "CSSBaseline don't update body background on theme switch"
Hi,

I'm using custom themes to switch between light and dark theme and CSSBaseline to set body background-color. When I change theme the first time, it works, but on 2nd time everything change except the background-color. Other theme change do the same (everything except background-color). Here is my app layout:

[code]

[2021-08-20 00:38] EliRobinson commented on #27015
Ok, I'll go with a one-off styled solution. I'll keep following this to see where we land with the order of priority in terms of colors on the secondary text.

[2021-08-20 00:38] Changhong-st commented on #16307
tyr `textTransform: "uppercase" as const` that works for me

[2021-08-20 02:50] dungle-scrubs commented on #27839
Hey @eps1lon ,

I think I've narrowed down where the issue is coming from, but I don't know the exact reason.

It seems to be coming from Mui's accordion component (Finally got the error to disappear after removing the only accordion component in the full site).  Here's a [minimal reproduction](https://github.com/dungle-scrubs/material-ui-gatsby-ssr-problem).

## Directions

`yarn build`

## Error

[2021-08-20 04:39] anshul2807 commented on #27846
I'm going to work on this Issue.. Can you explain me in brief.

[2021-08-20 04:47] anshul2807 commented on #27846
`npm install @emotion/react`
Try using this.

[2021-08-20 05:49] neelbrahmakshatriya opened #27858 "[Tooltip] Arrow position issue in RTL v5"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Tooltip's arrow doesn't have the proper position in the RTL layout.
This issue happens in the latest version of Material UI (v5.0.0-beta.4) and this issue was not there in v4.

![rtl-

[2021-08-20 05:49] fondberg commented on #27846
It works after installing `@emotion/styled` AND `@emotion/react` which defeats the purpose of having the style engines disconnected and pluggable (as per the documenation)

[2021-08-20 05:58] anshul2807 commented on #27846
I understand what's your issue. And I already started working on this.

[2021-08-20 07:24] kinshukshah commented on #27418
These are the checks I am not able to pass can you help me
![image](https://user-images.githubusercontent.com/29067768/130195994-52e430d6-01ff-495a-a167-9704f6a36b51.png)

[2021-08-20 07:51] g1r0 commented on #27829
@mnajdova, thanks for taking a look!

I've tried to make a reproducer with Next and CRA templates with no luck. While digging deeper I find an issue with a stuck docker container in my dev environment where dependencies versions were partially out of sync. Rebuild from scratch helped to solve the warning.

I will close an issue.

[2021-08-20 07:51] #27829 closed

[2021-08-20 09:19] mnajdova commented on #27846
Thanks for the report. I can reproduce that it does not work with npm.

I tried and it works with yarn. I believe it's related to the package alias we use, namely because of the changes done in https://github.com/mui-org/material-ui/pull/27591.

Based on https://github.com/mui-org/material-ui/pull/27088#issuecomment-885278495 I remember that @oliviertassinari tested that it works with npm. Olivier

[2021-08-20 10:46] Dave7776 commented on #15976
import { makeStyles } from "@material-ui/styles";
to
import { makeStyles } from "@material-ui/core/styles";

[2021-08-20 11:18] mnajdova commented on #15976
@Dave7776 if you are using v4 both should work. If you are using v5 you need to import from '@material-ui/styles' and have a ThemeProvider at the top of your app. Take a look on the migration guide for more details: https://next.material-ui.com/guides/migration-v4/#main-content

[2021-08-20 14:41] codemonkey800 commented on #26876
I ran into a similar issue after upgrading to Next.js 11.  After upgrading, for some reason the server-side CSS extraction doesn't work anymore, so there's always a flash of unstyled content only for the Material UI components on initial load.

Disabling Webpack 5 fixed it for me:

[code]

but this is hardly a solution considering how many [improvements](https://nextjs.org/docs/messages/webpack5)

[2021-08-20 15:02] jrdn91 opened #27867 "Create transitions with different duration / easing per property"
I love using the transition creator function to set up transitions, it's a much easier way to define transitions for my CSS. Normally I am fine with all my properties having the same easing and timing etc. but is there a way if I did want to have each property transition differently to handle that using the creator function?

I couldn't find anything on if this function can handle that, my initial

[2021-08-20 15:32] zamgill commented on #27717
Still the same thing. Please see the gif at this link for demo: https://i.ibb.co/ky7xkhT/Issue-Demo.gif

[2021-08-20 16:32] gamemaker1 commented on #27590
As per @eps1lon [above](https://github.com/mui-org/material-ui/issues/27590#issuecomment-893342392), we shouldn't be using `inputMode` for localisation reasons. That's why I tried to use `type=numeric` instead.

[2021-08-20 16:36] kian00sh opened #27869 "[Slider] Missing props for slider sub components when using "componentsProps" prop"
The type definition for componentProps is missing props as it only has the two keys of "as" and "styleProps".

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Typescript throws error when any prop other than "as" or "styleProps" is

[2021-08-20 18:11] thecodejack opened #27870 "[v5] Picking up wrong theme context in storybook + material ui setup"
When I tried to upgrade my react components to v5 beta, observed a weird behaviour. I am using storybook and in one of pages I am seeing that React.Consumer of `createStyles` is picking up `theme context` of `storybook` instead of `material ui`'s. Reproducer links are shared.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-u

[2021-08-20 19:54] MarcioVb opened #27872 "[DatePicker] Do not stop at calendar IconButton when browsing with tab"
Hi guys!

Is there a way to turn off the Calendar IconButton focus when navigating with keyboard tab?

Thanks a lot!

[2021-08-20 20:21] esslamben opened #27873 "Switch inputprops give a typescript error when trying to add custom props e.g data-testid"
Not sure if this falls under a feature or a bug but as part of some cypress tests I have I wanted to add a data-testid prop to the input but typescript kept giving me a warning so I had to extend InputHTMLAttributes.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Able to pass custom props

[2021-08-20 20:30] esslamben commented on #27873
Just to add to this, feel free to point out if I'm completely wrong in the use case and shouldn't be using InputProps in this manner. It does work though which is why I thought its worth pointing out as the TS rules don't seem to align with the actual functionality.

[2021-08-20 20:36] Fauzdar1 commented on #9116
Short fix but works perfectly for the UI freeze after closing any Model, Dialog or Menu is as follows:

    <Modal
        ...
        style={{display: modalOpen ? "block" : "none"}}
        ...

    </Modal>

Setting the display property to none just after closing the Dialog/Menu etc will not let the UI freeze and you can re-open the element instantly.

[2021-08-21 05:28] mark-night opened #27875 "Typing error on setting `component` in `defaultProps` for 'MuiFormHelperText' when creating custom theme"
Happens in TypeScript, totally fine in JavaScript.

- [ x ] The issue is present in the latest release.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[code]

## Expected Behavior 🤔
`component` should be defined in type definition

## Steps to Reproduce 🕹

Steps:

See above

##

[2021-08-21 05:53] siriwatknp commented on #27870
I suspect that it is the same as #24282

[2021-08-21 06:20] elroytoscano opened #27876 "Material-UI Swipeable Drawer Does not translate smoothly"
I'm trying to implement a Swipeable Drawer, the drawer is visible, the fade out transition is smooth as well, however, the drawer does not translate smoothly, The drawer slides in and out without any transition style applied to it( which should be applied). One interesting case is that in case the "openDrawer" state is set to 'true', during initialization, the drawer translates smoothly, but beyon

[2021-08-21 07:39] elroytoscano commented on #27876
The conditional rendering was the issue.

[2021-08-21 07:39] #27876 closed

[2021-08-21 07:40] thecodejack commented on #27870
Yes. Temporarily able to fix with https://github.com/mui-org/material-ui/issues/24282#issuecomment-859393395

Thanks.

[2021-08-21 07:40] #27870 closed

[2021-08-21 09:42] gavindang2911 commented on #19362
`const useStyles = makeStyles(() => {
  const style: StyleRules = {
    tab: {
      fontWeight: 600,
      fontSize: '30px',
    },
  };
  return style;
});`

Using StyleRules should work

[2021-08-21 09:44] gavindang2911 commented on #19362
[code]

[2021-08-21 09:44] gavindang2911 commented on #8198
const decorate = withStyles(() => {
  const style: StyleRules = {
    root: {
      fontWeight: 700,
    },
  };
  return style;
});

[2021-08-21 09:45] AlvesJorge commented on #27832
Couldn't figure out this example.
Look into the error messages on the console.
[code]
This is probably trying to let you know that you are losing the reference to anchorEl on each re-render

[2021-08-21 09:48] AlvesJorge commented on #27872
I can't test if it is going to work since there is no codepen  but try adding `tabindex="-1"` inside your IconButton element , like this
`<IconButton tabindex="-1"/>`

[2021-08-21 09:52] AlvesJorge commented on #27857
Hi navalex,
If you can include a codesandbox replicating this behaviour it will be easier to help!
Thanks!

[2021-08-21 10:03] AlvesJorge commented on #27851
Hi Chase,
Try using style instead of sx to set the paddingTop.
[Sandbox example](https://codesandbox.io/s/elegant-galois-w3rbi?file=/src/App.js)
Don't know why this happens but seems sometimes when mui is stubborn , using style instead of sx works.There's probably a reason out there not to do this, but since I don't know what it is I can't tell you not to do it haha.
Cheers

[2021-08-21 10:23] AlvesJorge commented on #27848
Hi Chirag,
Can you provide a codesandbox to replicate this issue?
For me the scrollbar is always visible when you reduce the size of the table on [the mui example](https://codesandbox.io/s/elegant-galois-w3rbi?file=/src/App.js)

[2021-08-21 10:39] whplh opened #27877 "Tab color looks wrong for Tabs with textColor="primary""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The tab text color is text color secondary

## Expected Behavior 🤔
The tab text color is text color primary

## Steps to Reproduce 🕹

Steps:

1. Open [demo](https://codesandbox.io/s/co

[2021-08-21 11:35] oliviertassinari commented on #27666
I have updated the "target". Also, the next release of MUI X, next week, will be with the following package names:

- `@mui/x-data-grid` DataGrid
- `@mui/x-data-grid-pro` DataGridPro

[2021-08-21 13:56] fondberg commented on #27846
I retested with npm@7.1 and it works. But with LTS versions `node v14.17.5 (npm v6.14.14)` it doesn't

[2021-08-21 14:39] LorenzHenk opened #27879 "[Dialog] Improve performance with lots of elements"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Adding / removing children to / from the HTML `body` causes the browser to recalculate the children of the `body`. With many elements this can have a noticeable performance impact.

Temporary elements should be created in a permanent child of

[2021-08-21 17:06] navalex commented on #27857
Hi,

I finally founded what caused this issue! It is related to the React.StrictMode, something like it disallow the possibility to modify body element or something like that. Don't remember precisely why, but removing the strict mode solved the issue.

[2021-08-21 17:06] #27857 closed

[2021-08-21 17:35] #26944 closed

[2021-08-21 18:24] oliviertassinari commented on #27846
I have noticed two issues with CRA+npm:

1. styled-engine-sc doesn't get installed when using the release tag:

[code]

2. `@material-ui/system`'s `@material-ui/styled-engine` dependency is not aliased, we need https://github.com/npm/rfcs/blob/latest/accepted/0036-overrides.md to be implemented.

[2021-08-21 18:42] MariaSolOs opened #27880 "[Migration] V5 with Next JS"
- [x] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When upgrading to V5 on a Next JS project, the styling breaks completely and the classname mismatch error appears.

## Expected Behavior 🤔

After following the steps in the v4 -> v5 m

[2021-08-21 19:36] mnajdova commented on #27880
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-21 21:04] eps1lon commented on #27872
This is something we want to take a look at. Ideally, pickers would just take one spot in the tab order not two. But we have to check if this makes keyboard input slightly awkward.

[2021-08-21 21:52] MarcioVb commented on #27872
Hi guys!

The code below worked perfectly:

OpenPickerButtonProps={{ tabIndex: -1 }}

Thaks!

[2021-08-21 22:11] oliviertassinari commented on #27848
Closing as this is depending on the native scrollbar of the OS.

[2021-08-21 22:11] #27848 closed

[2021-08-21 22:11] oliviertassinari commented on #27848
A bit related to https://github.com/mui-org/material-ui-x/issues/510 too.

[2021-08-21 22:17] oliviertassinari commented on #27700
Agree, we didn't solve it in the original repo, see the same unresolved issue: https://github.com/mui-org/material-ui-pickers/issues/1648.

[2021-08-21 22:21] oliviertassinari commented on #27872
Note that we tried with Dmitiry to reproduce https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/datepicker-dialog.html which asks for the button to be tabbable.

[2021-08-21 22:23] AlvesJorge commented on #27872
Good to know!

[2021-08-21 22:23] oliviertassinari commented on #27857
@navalex We fixed the root issue in v5.

[2021-08-21 22:37] oliviertassinari commented on #27686
Duplicate of #21661

[2021-08-21 22:39] MariaSolOs commented on #27880
Thank you @mnajdova for your quick response! I prepared [this repo](https://github.com/MariaSolOs/mui-v5-next) to illustrate the problem. In the `with-v4` branch I have a simple application with a single AppBar component. In the `with-v5` branch I have the result after running the codemod and fixing the breaking changes. Note that I also followed the example [here](https://github.com/mui-org/mater

[2021-08-22 11:04] oliviertassinari commented on #27877
Duplicate of #16394

[2021-08-22 11:04] #27877 closed

[2021-08-22 11:07] oliviertassinari commented on #27823
Is it a duplicate of https://github.com/mui-org/material-ui/issues/23874 that we only fixed in v5?

[2021-08-22 17:04] majelbstoat commented on #26571
Also came here hoping the answer was "we're going to add it back", and disappointed that that's not the case. (Same reasons as everyone else: styled is ugly, verbose and fragments style definitions; losing type safety is a step backwards.)

I appreciate the efforts of react-tss but I want something that's really as close to the API of makeStyles of possible, without worrying about access to css, c

[2021-08-22 17:31] fondberg commented on #27846
Thanks @oliviertassinari
Seems emotion is still required though for me even if I want to use styled-components. Should the doc change to reflect this?

[2021-08-22 17:44] DoginUwU opened #27913 "theme.typography.pxToRem is not a function on use MuiAvatar"
- [X] The issue is present in 5.0.0 alpha/beta.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`theme.typography.pxToRem is not a function`

## Expected Behavior 🤔

## Steps to Reproduce 🕹

![image](https://user-images.githubusercontent.com/59850361/130364760-dc3e5290-ebdf-4a6a-8

[2021-08-22 18:23] mnajdova commented on #27846
Seems emotion is still required though for me even if I want to use styled-components. Should the doc change to reflect this?

Emotion should not be required. You can use yarn if you want to follow the current template.

Agree, will do it tomorrow

[2021-08-22 20:30] oliviertassinari commented on #27590
@eps1lon Do you have more details on the i18n implications? I guess it's a tradeoff in the end as we don't expect a phone number in the field even if we signal it.

[2021-08-22 23:23] mnajdova commented on #26571
Again, we don’t plan to add the API as part of the library and we are recommending using tss-react in the migration guide for the people that want to use the same API.

Regarding tss-react, we’ve also tested server side rendering to ensure that it works (I don’t think it works with the codesnipet you shared). It is type safe as well, as last when I saw there was a PR for adding an API as a replace

[2021-08-23 00:58] garronej commented on #26571
Hi @majelbstoat,
In fact, you don't have to worry about `cx` and `css` if you're not gonna use them.
The only API difference between TSS's `makeStyle` and the OG `makeStyle` is that you have to deconstruct classes.
[code]
As @mnajdova mentioned, in TSS much effort have been put into making SSR work and to feature support of custom emotion cache. If you choses to go with your custom implementation

[2021-08-23 01:12] Jack-Works commented on #26571
Our project has 100% migrated to tss-react and feeling good.

Could you implement `withStyles` in `tss-react` too? It's convenient when just want to overwrite the style of a Mui Component.

[code]

[2021-08-23 03:41] siriwatknp commented on #27913
I guess it is about the version of `@material-ui/*` should all start from `v5`.

However, it doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal exampl

[2021-08-23 04:11] siriwatknp opened #27914 "[Switch] Add `track` to unstyled switch"
## Summary 💡

Unstyled switch should provide `track` element by default (for styling purpose). I think unstyled package not only take care of the functionality but should also provide default anatomy that suitable for styling.

This [preview](https://deploy-preview-27488--material-ui.netlify.app/branding/home/) demonstrate a bug when the switch has `thumb` bigger than `root`. Clicking on the edge

[2021-08-23 06:17] michaldudak commented on #27666
Makes sense (and has the advantage of being shorter than "Unstyled"). The only issue is that it'll clash with the existing ButtonBase and SwitchBase. We are going to ultimately get rid of them, but for the time being, we can rename these two unstyled components when reexporting from Material (or do not reexport at all).

For Material/Joy components we won't append anything to component names, righ

[2021-08-23 06:35] michaldudak commented on #27914
I've actually already started working on it. The `track` slot will be optional, so there will be a possibility to omit it if you don't need it.

[2021-08-23 07:35] qiweiii commented on #27853
Found an explanation: https://github.com/facebook/react/issues/11538#issuecomment-390386520

There are a few solutions to fix this:
- Add a container `div` outside `children` in `LoadingButton`
- Add `span` on text nodes in LoadingButton examples in docs
- Add `<html translate="no">` to `html` tag

[2021-08-23 07:42] eps1lon commented on #27873
It understand the frustration here. The issue is, that we can't really do much about it.

TypeScript has a special case for `data-*` attributes in JSX e.g. `<div data-whatever="test" />` will always typecheck. But `{ 'data-whatever': 'test' }` is just a plain object for TypeScript and we can't add `data-*` to the native HTML interfaces without breaking backwards compatibility with older, supported

[2021-08-23 07:42] #27873 closed

[2021-08-23 07:49] eps1lon commented on #27879
Thanks for the feedback.

We already have work started in https://github.com/mui-org/material-ui/pull/27699 for the Tooltip.

In 4.x and 5.x you can provide a custom `container` (e.g. a permanent child of `document.body`) to the `Dialog`. So if you see performance problems in your app related to `document.body`, you can fix it.

However, it's not that trivial to make that the default beheavior sin

[2021-08-23 08:16] eps1lon commented on #27717
You said that you're on OS: Linux 5.4 Ubuntu 20.04.2 LTS (Focal Fossa) but reproduced the issue with Edge.

Were you on an actual Windows machine or did you use an emulator like browserstack.com?

[2021-08-23 08:21] eps1lon commented on #27851
You codesandbox doesn't include any styles related to padding. Could you clarify what the issue is?

Or are you just suggesting that the content should have padding as well?

[2021-08-23 08:25] siriwatknp commented on #27666
Yes, please. At least, I don't see a reason to prepend design system name to component.

[2021-08-23 08:25] eps1lon commented on #27832
The issue is with your definition of `StyledButton`:

[code]

It is newly created on every render and therefore the ref is constantly thrown away. It needs to be created outside of the render body.

I cannot reproduce any issue with that codesandbox.

[2021-08-23 08:25] #27832 closed

[2021-08-23 08:33] eps1lon commented on #27867
You could just create multiple ones:
[code]

[2021-08-23 08:33] #27867 closed

[2021-08-23 08:37] eps1lon commented on #27839
The error is pointing to `postcss` and `autoprefixer`. These are not packages we're responsible for.

[2021-08-23 08:37] #27839 closed

[2021-08-23 08:53] #22074 closed

[2021-08-23 08:59] eps1lon commented on #27836
Thanks for the feedback.

Note that the best approach still is to create custom components. The theming based approach always has the downside of improving bundle size globally and makes discoverability of the implementation harder.

[2021-08-23 08:59] peterbartels commented on #27880
Looks like you missed the step `Migrate makeStyles to emotion` from the migration guide. I still see makeStyles in your v5 branch.

[2021-08-23 09:00] eps1lon commented on #27844
This is intended behavior to implement Material design guidelines. Sounds like  you just want to override the styles.

[2021-08-23 09:00] #27844 closed

[2021-08-23 09:01] eps1lon commented on #27855
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-23 09:12] eps1lon commented on #27853
I guess this will be more common now that we removed a bunch of `span` wrappers that we only had for styling purposes (e.g. https://github.com/mui-org/material-ui/pull/26666).

Turns out these make the components resilient to google translate.

We can never fully fix this since we rely on React and the browser here. But maybe `LoadingButton` is the most common problem so we'll monitor this issue.

[2021-08-23 09:18] mnajdova commented on #27880
@MariaSolOs this import is not valid (https://github.com/MariaSolOs/mui-v5-next/blob/with-v4/components/AppBar/AppBar.tsx#L4):
[code]

You should either migrate from `makeStyles`as pointed by @peterbartels, or if you don't want to switch to different API you have two options:

- use makeStyles from @material-ui/styles (note that with this you will have both emotion and JSS in your bundle)
- migrat

[2021-08-23 09:26] garronej commented on #26571
@Jack-Works I opened [an issue](https://github.com/garronej/tss-react/issues/16) for `withStyles`.

[2021-08-23 09:39] mnajdova commented on #27846
This doesn't work with npm as well :( Need to revert those changes as well

[2021-08-23 09:42] #27858 closed

[2021-08-23 10:27] Daanholsink opened #27918 "Cannot read property 'useRef' of undefined"
I am getting the message: "Cannot read property 'useRef' of undefined" after trying to use the DataGrid of package Material-ui/data-grid.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have made a screenshot of the StackTrace.

[2021-08-23 10:34] virat07 opened #27919 "Autocomplete dropdown issue"
In the autocomplete component the list is overlapping and it remains open if the browser scroll is used which makes the list behave differently than expected.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The list which is shown

[2021-08-23 10:41] art1mis commented on #27918
@Daanholsink I have made a clone of the example repository and it is rendering the data grid without any error.

https://codesandbox.io/s/blissful-diffie-kg43m?file=/App.js

[2021-08-23 11:13] Daanholsink commented on #27918
@art1mis Thanks for the quick response. The weird part is that the code is working on Codesandbox, but it is not working in any of my projects. Did you clone my repository and tested it there? If no, could you please try that, I am really curious.

[2021-08-23 11:14] #27846 closed

[2021-08-23 12:21] MarvinThiele commented on #21528
@oliviertassinari

Hello, I just had a very similar issue with <MuiThemeProvider>, which caused a memory leak in our application where elements frequently changed due to live data streamed by socket-io. The changing elements were within the ThemeProvider. It took me a very long time to figure out that the ThemeProvider was causing these issues.

With ThemeProvider:
![image](https://user-images.git

[2021-08-23 12:28] DouglasPds commented on #27792
Hi, I want to work on it.

[2021-08-23 12:36] oliviertassinari commented on #21528
@MarvinThiele We have closed this issue because fixed in v5. Please upgrade and test the leak again.

[2021-08-23 12:44] DoginUwU commented on #27913
https://codesandbox.io/s/practical-voice-q7gew?file=/src/components/avatar/Avatar.tsx

[2021-08-23 13:04] jim-moody opened #27922 "showTodayButton does not work in v5 DatePicker (desktop)"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Setting the `showTodayButton` prop to `true` in the DatePicker does nothing

## Expected Behavior 🤔

Setting the the `showTodayButton` prop to `true` in the DatePicker should trigger