[2019-06-24 15:30] oliviertassinari commented on #12237
What's the error?

[2019-06-24 15:38] dcjones1 commented on #12237
I'm getting this: TypeError: Cannot set property 'webkitTransition' of undefined.

[2019-06-24 15:43] oliviertassinari commented on #12237
Your tested code probably doesn't forward the ref correctly. We have reverted some changes in v4.1.2 #16348. We will release v4.1.3 to workaround the problem. You can revert to v4.1.1 in the meantime.

[2019-06-24 16:02] joshwooding commented on #16353
If this is `DateTimePicker` from `@material-ui/pickers` can you open this [here](https://github.com/mui-org/material-ui-pickers). If not let me know and I’ll re-open the issue.

[2019-06-24 16:02] #16353 closed

[2019-06-24 16:05] impavidum commented on #4952
https://github.com/gregchamberlain/react-chips

multi section, etc..

[2019-06-24 16:35] aaditya-taparia commented on #16271
https://github.com/mui-org/material-ui/issues/16271#issuecomment-504937017

@oliviertassinari Sorry point was not `hover: hover` but to put it outside, maybe I'm missing something, but worth a try

[2019-06-24 17:08] oliviertassinari commented on #16271
@aaditya-taparia For this very issue, I think that we should stick to the `@media (hover: none)` approach for consistency in the codebase. However, I would be interested in running a detailed pros/cons comparison between the two strategies.

[2019-06-24 17:10] oliviertassinari commented on #16338
This is strange. It shouldn't cause any problem. Make sure the import paths are correct, that they don't cause cjs & esm duplication. Let us know if you can find a minimal reproduction.

[2019-06-24 17:10] #16338 closed

[2019-06-24 17:25] oliviertassinari commented on #16352
@rassie I believe that your use case is invalid, I think that we should warn against:

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_slider_role

[2019-06-24 17:31] MaxLeiter opened #16357 "[Buttons] Disable elevation"
I have buttons that I don't want to have a box-shadow. Instead of custom CSS, using the `elevation` key would be ideal for me, as that's how we handle `<Paper />` shadows

[2019-06-24 17:35] taschetto commented on #14203
@ryancogswell Unfortunately I won't be able to push this

[2019-06-24 17:36] joshwooding commented on #16357
I’m not sure if this should be in the core library. I guess we should see what other users wants. I would close this in the mean time let’s see what @oliviertassinari thinks :)

[2019-06-24 17:46] oliviertassinari commented on #16357
@joshwooding I agree. Personally, I would override the box shadow, or start from the button base component.

[2019-06-24 17:46] MaxLeiter commented on #16357
It just seems kind of 'silly' for paper to accept elevation but nothing else. What sets Paper apart?

[2019-06-24 17:52] oliviertassinari commented on #16357
@MaxLeiter The Paper is used to abstract a surface, a surface has an elevation. In the light mode, the surface elevation defines the box shadow, in the dark mode, the elevation defines the box shadow and the background color. I don't think that the Button answer to the same requirements. But waiting for people upvotes sounds like a good tradeoff.

[2019-06-24 18:06] rassie commented on #16352
We are letting the user set a "hardware optimization factor" which in our case is going from 1.5 being very low quality up to 0.5 being very high in increments of -0.25. Currently, it's wired directly from a label-less slider and works properly for what we want it to do.

I certainly understand the accessibility problem, but what is the solution here? Numerical values are a technical detail not of

[2019-06-24 18:16] oliviertassinari commented on #16352
Thanks for sharing the business case.

[2019-06-24 19:19] goldylucks opened #16359 "PR: Magellan navigation (sticky scroll nav bar)"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Like [zurb's Magellan](https://foundation.zurb.com/sites/docs/magellan.html). highlight navbar item based on scroll and/or based if element is in viewport

## Examples 🌈
See link above

## Context 🔦
I

[2019-06-24 19:20] eps1lon commented on #16352
The problem is that the min value is actually announced as the minimal value which might be confusing to screen reader users. We should stick with the min <= max requirement since everything else wouldn't make sense in math nor aria.

It sounds like an option to reverse the display is more appropriate. If I remember correctly we had a similar request a couple of months ago where someone tried to t

[2019-06-24 19:35] rassie commented on #16352
We are working with BabylonJS and the values are parameters for https://doc.babylonjs.com/api/classes/babylon.hardwarescalingoptimization, which talks about priority. In UNIX/Linux, a process priority goes from -19 to +19, 0 being the default and -19 the highest. Priority 1 in every task list is highest, while 5 is the lowest. So there are several usecases where an inverse scale might be of use. H

[2019-06-24 19:43] oliviertassinari commented on #16352
@eps1lon The RTL solution sounds appropriate: https://www.telerik.com/forums/invert-slider-range-, @rassie should be able to use it.

If we go down this path, I think that we should also warn for negative step values.

[2019-06-24 19:50] eps1lon commented on #16352
Yeah I have no doubt there are scales where lower values are better. My issue is that I can't imagine a UI where the minimum value is on the right. I wouldn't have an issue if priority is displayed on the slider where the higher priority is on the left as long as I know that lower value means higher priority but then I also wouldn't have an issue displaying this is in reverse.

[2019-06-24 20:15] rassie commented on #16352
I'll have to sleep on the prospect of dealing with RTL :) Isn't this violating or at least exploiting WAI-ARIA like there's no tomorrow?

[2019-06-24 20:18] Falieson commented on #15269
@bh1505 thank you so much. @oliviertassinari sorry i didn't get this too.
Working at that startup was so crazy I didn't have time to breath or do any of this good citizen stuff.
New company is wicked cool and breezy, looking forward to next time!

[2019-06-24 20:19] rassie commented on #16352
Oh and BTW: the slider used to work in previous versions and apparently, the tick calculation also works. Would it be possible to both fix it for negative steps and include the warning about not being properly accessible? In our project it's no concern at all and I would like to have the possibility to opt-in into bending the a11y rules.

[2019-06-24 21:08] Katecarter opened #16360 "Table Pagination display numbers off"
The display numbers are off in TablePagination

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Displayed record range should not be higher than the max number of records. It would be preferable if the page number were reset to the first page when

[2019-06-24 21:39] eps1lon commented on #16352
Quite the opposite is far as I can tell. In left-to-right languages lower values are usually displayed on the left/bottom while higher values are displayed on the right/top. Screen readers will still get the correct announcement while you can display the max value the placement you think is right.

[2019-06-24 22:37] LucasMatuszewski commented on #10068
Hello :)
Any update about minified CSS in main html document SSRendered by Next.js ?

Now I have:
- 1 line with Next.js headers.
- 735 lines of jss/css/Mui (not minified)
- 1 line for whole the rest of my App ;P

Any link to example / documentation would be appreciated.
If changing the class names at runtime is a blocker, maybe we could just remove white spaces? Better this than nothing :D

thx in

[2019-06-24 22:42] kof commented on #10068
You def. shouldn't have 735 lines of critical css from 1 line of your app.

[2019-06-24 22:45] samkelleher commented on #10068
In the short term I wrapped cssnano in the HtmlDocument to minify the css being injected into the page at runtime. After this, I moved away from NextJS and did this minification during webpack build.

[2019-06-24 22:47] oliviertassinari commented on #10068
On the Gatsby side, [the Gatsby's plugin](https://github.com/hupe1980/gatsby-plugin-material-ui/blob/221e1e6a43720408245f88ad5b8ef0ea0d954c6a/gatsby-plugin-material-ui/src/gatsby-ssr.js#L42) minify and prefix at build time.

[2019-06-24 23:03] anandbkrishnamohan commented on #13174
@oliviertassinari maybe you got confused with the way I wrote the sentence. The issue is that some of the material-ui components are not visible in high contrast mode - it is not a problem with high contrast mode. As @eps1lon mentioned it may be the color scheme is not suited for this mode.

[2019-06-25 01:41] nvtin commented on #16347
I got the same error with version 4.1.1
It works well con my development but not in production.

[2019-06-25 03:07] bigtone1284 commented on #14742
@oliviertassinari Hey I was looking to contribute to the project and was looking for a good issue from amongst the "good first issue" labelled issues. I reached out to @mbrookes regarding some good issues to start with and he recommended these issues would be a good place to start.

Anyway, for this issue, it seems like the `Select` component was working as expected and some additional documentati

[2019-06-25 03:08] nvtin commented on #16347
I had tried v4.1.2 and v4.1.1 and It was not working. It is working well for me on v4.1.0

[2019-06-25 05:54] eps1lon commented on #16347
If it's not working on 4.1.1 or before please open a new issue and follow the template. The reproduction from https://github.com/mui-org/material-ui/issues/16347#issuecomment-504877635 does not crash with 4.1.1

[2019-06-25 06:59] oliviertassinari commented on #14742
@bigtone1284 Thanks for your interest in contributing! You are on the right track here :). Yes, I think that you understand the context correctly.

[2019-06-25 08:45] pavel06081991 commented on #15000
It looks like there is small javascript solution described here http://www.prowebdesign.ro/how-to-deal-with-hover-on-touch-screen-devices/

[code]

[2019-06-25 09:29] LeroyDoornebal commented on #15609
I have the same issues as described here. My project is current with all dependencies and `strictNullChecks` was already set to true.

[2019-06-25 10:44] olee opened #16363 "Cannot use @material-ui/styles with latest material-ui v3"
I tried to use the latest version of @material-ui/styles together with the latest v3 version of @material-ui/core.
First I noticed, that the install utility function got removed, so I added this code manually to the project:

[code]

This however generates some broken styles:
![image](https://user-images.githubusercontent.com/6547794/60091069-0e009400-9744-11e9-9f3f-6fc2751904c2.png)

![image](htt

[2019-06-25 10:45] koshkarik commented on #16105
@oliviertassinari I have finally opened an issue on Safari side with your example https://bugs.webkit.org/show_bug.cgi?id=199188 If it will be needed i will clean up the example from the rest of unnecessary things. I hope they will reply soon about this issue, but there is a big chance that fixing this bug in Safari will take a while and a lot of people will face this problem for that period of ti

[2019-06-25 10:49] oliviertassinari commented on #16105
@koshkarik How? Do you know a fix that can be deployed without breaking people code?

[2019-06-25 10:50] oliviertassinari commented on #16363
@olee You should have a peer dependency warning. It's not supported.

[2019-06-25 10:50] #16363 closed

[2019-06-25 10:56] koshkarik commented on #16105
@oliviertassinari actually didn't figure out yet :(

[2019-06-25 11:05] #15980 closed

[2019-06-25 11:09] dreamsinspace opened #16364 "[TextField] <Select /> doesn't trigger onChange when its children is react-virtualized's <List />"
When `react-virtualized`'s `<List />`  is used with `<TextField select />`, `onChange` is not invoked. I have tried to render the options without virtualising and it worked perfectly.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When clicking t

[2019-06-25 11:23] dreamsinspace commented on #16359
![image](https://user-images.githubusercontent.com/48520047/60094458-55077d00-9776-11e9-8a6b-9b82b3f0e7ae.png)
Isn't it what Material-UI already offered?

[2019-06-25 11:25] oliviertassinari commented on #16105
I hope that the Safari team will be able to help. Given they have acces to advanced debugging tools, they might be able to explain what's going on.

[2019-06-25 11:29] yinonby commented on #16353
Thanks for the comment, opened https://github.com/mui-org/material-ui-pickers/issues/1148

[2019-06-25 11:38] olee commented on #16363
So which version should I use then?
I would think `@material-ui/styles@3.0.0-alpha.10`, but when I tried that, it **crashed**.

For now I got it working with latest `@material-ui/styles` by adding this component after the theme provider:
[code]

[2019-06-25 11:50] oliviertassinari commented on #16363
You can use v4. It should be working fine.

[2019-06-25 11:54] olee commented on #16363
Well the thing is that material-ui v4 is really awesome (I love it!), there are a lot of breaking changes, preventing us from upgrading directly.
Still we would like to use the new styling solution for our components.
However if this is really not supported that well, then I guess we have no choice but to not use it for now.

Still thanks for the info ;-)

[2019-06-25 12:01] oliviertassinari commented on #16364
This is not supported, check #14943.

[2019-06-25 12:01] #16364 closed

[2019-06-25 12:02] oliviertassinari commented on #16364
Did you try the native implementation?

[2019-06-25 12:02] oliviertassinari commented on #14943
A new constraint to take into account, the usage of cloneElement prevents virtualization: #16364.

[2019-06-25 12:09] eps1lon opened #16366 "Button ripples too often on keydown in chrome 49"
- [x] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When a Button is focused a repeating keydown those not restart the ripple
![button-ripple-repeat](https://user-images.githubusercontent.com/12292047/60096955-9b4ae500-9752-11e9-9f10-d127ed7bc8f4.gif)

[2019-06-25 12:12] eps1lon commented on #14943
With a priority on customization we should use context by default. Even if it looks like a overengineered cloneElement for the basic case it prevents so much subtle bugs with custom components.

[2019-06-25 12:15] oliviertassinari commented on #16359
@dreamsinspace Right, the documentation implements it internally. The source: https://github.com/mui-org/material-ui/blob/404c2ba16816f5c7ab7d8b2caf6bbc3d2218b820/docs/src/modules/components/AppTableOfContents.js.

@goldylucks Do you have another example of UI library implementing it? Ant calls it `Anchor`. We call it TableOfContents. What's the proper name for this component?

[2019-06-25 12:25] oliviertassinari commented on #16366
@eps1lon What's is wrong with that? I can reproduce this behavior with
- chrome://settings/
- https://material-components.github.io/material-components-web-catalog/#/component/button

[2019-06-25 12:32] oliviertassinari commented on #16366
This behavior seems to be reproducible cross-browsers on Windows. I can't reproduce it on macOS.

[2019-06-25 12:34] dreamsinspace commented on #16364
@oliviertassinari I do use it on smaller devices, but on desktops native
selects are a bit off design

On Tue, 25 Jun 2019 at 19:03, Olivier Tassinari <notifications@github.com>
wrote:

[2019-06-25 12:37] eps1lon commented on #16366
Visual feedback.

The current behavior matches native buttons.

See first point.

[2019-06-25 13:07] eps1lon commented on #16366
To summarize:
On native buttons:
- Enter keydown clicks
- Space keydown applies `:active`
- Space keyup clicks

The ripple is our `:active` styling but the restart of the ripple is quite heavy which is why the code wants to prevent this. This is not working on chrome 49.

I guess macOS is your actual OS while windows is run in browserstack? Because in browserstack I have issues in chrome 75 as wel

[2019-06-25 13:17] oliviertassinari commented on #16366
Correct.

@joshwooding Could you report what's the behavior on Windows? I don't have access to a really environment.

[2019-06-25 13:21] oliviertassinari commented on #9997
I'm closing for #13863. I believe it's the same concern.

[2019-06-25 13:21] #9997 closed

[2019-06-25 13:21] oliviertassinari commented on #16364
@dreamsinspace Would the autocomplete better solve the problem https://material-ui.com/components/autocomplete/?

If you want us to implement a richer ComboxBox / AutoComplete MultiSelect, SelectList, upvoting would be a start: #13863. Thanks!

[2019-06-25 13:37] eps1lon commented on #16366
I have a dual boot setup for that purpose. It works on win and linux. I'm wondering why the other tests passed though. Probably timing related.

[2019-06-25 13:40] oliviertassinari commented on #16366
Oh nice!

[2019-06-25 13:48] oliviertassinari commented on #16366
Can we conclude that it's a bug in Browserstack live infrastructure? (Does it also impact the automated environment?)

[2019-06-25 14:03] eps1lon commented on #16366
Pretty sure this is just a browser stack issue. It seems like the events work fine if coming from inside the browser. The failure was caused by a missing event.key in chrome 49. Basically same issue but different cause: One browserstack the other old browsers.

[2019-06-25 14:17] notseenee opened #16367 "[Feature request] Support prefers-reduced-motion media query"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The transition components Collapse, Fade, Grow, Slide, and Zoom (and other MUI components with animations) should have reduced motion in their animations, by either disabling the animations altogether

[2019-06-25 14:50] eps1lon commented on #11864
This is more of a general question regarding testing react components. If you use a custom context then you are responsible for either mocking it or ensuring your components are only rendered in the actual context.

I guess most of the issues arise from using shallow rendering API which we no longer encourage. We had to refactor way too many test without anything actually breaking because of heavy

[2019-06-25 15:15] mynameistechno commented on #11864
Agreed. I've also started to migrate away from shallow rendering with enzyme and using dom-testing-library instead. Additionally we use a render wrapper function for rendering in tests that includes all the context we need. Here is a simplified version built on examples from dom-testing-library that add our redux store and mui theme:
[code]

I *think* we can close this ticket.

[2019-06-25 15:35] the-question opened #16369 "[docs] [TableCell] Inconsistency regarding padding and size properties"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I believe this is linked to #14561 though, but as it's already merged, I think it needs a new issue.

## Expected Behavior 🤔
The description for the `size` property should be:

The description for the CSS class `sizeSmall` s

[2019-06-25 15:41] hill84 commented on #204
On v.4.1.3 the console complains: "Failed prop type: Invalid prop `component` supplied to `ForwardRef(ButtonBase)`. Expected an element type that can hold a ref. "
What is the correct way to attach a child Link to a MenuItem component?

[2019-06-25 16:08] dvberzon opened #16371 "ListItemIcon top margin is wrong inside ListItem with alignItems="flex-start""
- [ x] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

A ListItemIcon inside a ListItem with `alignItems="flex-start"` should line up with the list item text if there is secondary text. This used to work in v3

## Current Behavior 😯

The ListItemIcon ha

[2019-06-25 16:59] oliviertassinari commented on #11864
:+1: for closing, unless @eps1lon wants to update the documentation.

[2019-06-25 17:17] samuelcolburn commented on #16359
I'm not convinced this really needs to be a framework component.

Regardless, I think `Anchor` or something similar would be the most appropriate name. To me it is very reminiscent of native `<a href="#section">` elements and their scroll-to functionality.

[2019-06-25 17:59] oliviertassinari commented on #16371
@dvberzon Interesting. Would using the same logic as `ListItemAvatar.js` in `ListItemIcon.js` work?.

[2019-06-25 18:02] oliviertassinari commented on #16369
@the-question You gonna need to be explicit. I don't understand what you are trying to communicate. Please use our issue template, otherwise, you take the risk to be ignored. Thank you!

[2019-06-25 18:43] dvberzon commented on #16371
I think so. I fixed it locally by adding a 4px top margin directly with css. But I feel it should work out the box.

It would be nice to also expose the `alignItemsFlexStart` css property like ListItemAvatar has:

https://material-ui.com/api/list-item-avatar/#css

In case the listItemText margin has been customised.

[2019-06-25 19:16] eps1lon commented on #16366
Same browser, same OS: only browserstack has the issue

[2019-06-25 19:16] #16366 closed

[2019-06-25 19:52] jbblanchet opened #16374 "CSS rules specificity is order dependent on chips"
In v4, looking at the chips demo, the css rules specificity is dependent on the order of the css, which is problematic when using any build tools that might change the order

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The should be no specifici

[2019-06-25 19:59] leMaik commented on #16360
I think I remember that we chose not to implement this but require the user to handle this back when the `TablePagination` was added. :thinking:

[2019-06-25 21:14] oliviertassinari commented on #16374
@jbblanchet I fail to see the problem. Could you expand on what's wrong?

[2019-06-25 22:06] bigtone1284 commented on #14742
@oliviertassinari I submitted a PR here https://github.com/mui-org/material-ui/pull/16376, I'd appreciate any feedback on this.

[2019-06-25 22:20] joshwooding commented on #15968
@oliviertassinari Haven't had time to look into it. I'll close for now.

[2019-06-25 22:20] #15968 closed

[2019-06-25 22:20] joshwooding commented on #16249
If the `lineHeight` solution is the only way, I don't think we should.

[2019-06-25 22:24] joshwooding commented on #5750
It looks like they've fixed it (https://bugs.webkit.org/show_bug.cgi?id=153852#c29), we just need to wait for the fix to be released.

[2019-06-25 22:30] the-question commented on #16369
@oliviertassinari Thank you for the advice.
If it is indeed the doc that should be updated, I think the only needed change is in the TableCell PropTypes comments.
If you confirm and want me to create a PR with the 2 changes described in the _Expected Behavior_, I can do it.

[2019-06-25 22:35] oliviertassinari commented on #16369
@the-question Thanks for taking the time to follow our template. I agree, I think that the descriptions should be updated as sugested :).

[2019-06-25 22:49] theKashey commented on #5750
The fix is covering the body scroll problem, but not:
- a component inside a scrollable container (not a case for a Modal)
- horizontal scroll (which may lead to a navigation back or forward)
- both for mobile and desktop solutions.

While Modal case would be ok - some management still might be needed.

[2019-06-25 23:11] goldylucks commented on #16359
@samuelcolburn the idea here is to sync the active link with the scroll position, not just render an anchor element :)

@oliviertassinari, I've done a short search and here are some related resources:

- [zurb's Magellan](https://foundation.zurb.com/sites/docs/magellan.html)
- [react-scrollspy](https://github.com/makotot/react-scrollspy) - this is what I'm currently using
- [medium article "Scroll

[2019-06-26 00:18] dreamsinspace commented on #16364
@oliviertassinari Cheers

[2019-06-26 00:28] dreamsinspace commented on #13863
I want to add something here. It's not just for convenience' sake, but also for the stability and ability to move fast of the framework/library (whatever it's called). Take this issue as an example https://github.com/mui-org/material-ui/issues/16364. Material-UI's `<Select />` cannot be used with `react-virtualized` (`<List />`), limiting the versatility of the component but also generate an unnec

[2019-06-26 01:25] nareshbhatia opened #16377 "[CardMedia] objectFit: cover is not appropriate for iframe"
When `CardMedia` is provided with a `component` prop of 'video', 'audio', 'picture', 'iframe', or 'img', Material UI automatically [adds the following styles](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/CardMedia/CardMedia.js#L15-L20) to the component:

[code]

This is good for image components, but not good for embedded iframes with video. Specifically, on iOS, the

[2019-06-26 01:34] dreamsinspace commented on #16359
@goldylucks We could even have different aliases of `<ScrollSpy />`, although I'm not sure if this has any drawbacks

[2019-06-26 05:25] sathishs683 commented on #16347
Issue fixed,  working in 4.1.3

[2019-06-26 06:52] #11864 closed

[2019-06-26 07:34] oliviertassinari commented on #16371
Would the following diff work?
[code]

[2019-06-26 08:12] oliviertassinari commented on #16377
@nareshbhatia Interesting, regarding the width prop, it seems to help. What's the harm? I can reproduce the object-fit issue. I'm wondering, what's the behavior when providing a video or audio element?

Here is one possible approach:

[code]

Another one:
[code]

Do you have a specific implementation in mind?

[2019-06-26 08:13] dvberzon commented on #16371
That looks correct to me, I'm afraid I'm not set up to test it

[2019-06-26 08:17] oliviertassinari commented on #16371
I have added the "good first issue" flag. The core team won't work on it, but if somebody wants to do a first contribution here, it's a great starting point :).

[2019-06-26 08:25] oliviertassinari commented on #16359
@goldylucks Thanks for sharing this benchmark. I think that it's a low priority component for us, given few people actually seem to need (based on the downloads of the linked packages). I don't think that it's something we should consider in the near future. However, given it's something we have already implemented in the documentation, the biggest challenge here might be to agree on what the API

[2019-06-26 09:48] eps1lon commented on #15790
I guess we can close this since #16324 was merged and deployed?

[2019-06-26 09:50] akomm opened #16379 "[system] style option "transform" has invalid typing"
The typing for the style function only allows transform to number or string. However also objects should be allowed, as you can see in system's package own code [here](https://github.com/mui-org/material-ui/blob/8935a9699dcbb11c0811fb074bd3d42f7bc2bb15/packages/material-ui-system/src/display.js#L4-L12)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/m

[2019-06-26 09:57] oliviertassinari commented on #15790
🙆‍♂

[2019-06-26 09:57] #15790 closed

[2019-06-26 09:58] oliviertassinari commented on #15790
The current approach to the problem (inspired by https://reactjs.org):

![Capture d’écran 2019-06-26 à 11 58 27](https://user-images.githubusercontent.com/3165635/60170913-ba587e00-9809-11e9-9ab2-40169a21a028.png)

[2019-06-26 10:08] oliviertassinari commented on #13863
@dreamsinspace This issue is one of the most important one open right now on the project. I used to believe that providing different customization options to users would be the best approach: https://material-ui.com/components/autocomplete/. However, after reviewing the user survey answer we have run at the beginning of the year. I'm no longer sure about that. People seem to really value the one-s

[2019-06-26 10:35] koshkarik commented on #16105
@oliviertassinari how do you think, is it possible do add `zIndex: 1` to InputBase somewhere here https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/InputBase/InputBase.js#L32 ? Because it definitely fixes this issue and i believe (have checked it, but don't know for sure) it doesn't break anything.

[2019-06-26 10:39] eps1lon commented on #16379
Could you prepare a codesandbox to play around with? This would help alot in verifying that this is valid at runtime.

[2019-06-26 10:45] oliviertassinari commented on #16105
Hum. Adding a z-index would move the component into its own stacking context so it might break people. If we try it, it's also possible that we will have to revert it.

[2019-06-26 10:45] mlenser opened #16381 "[Snackbar] Is it possible to disable the transition?"
Is it possible to disable the transition for the `Snackbar`?

`TransitionComponent` is a prop that I assume wraps the component, but passing null and a generic div wrapper don't seem to work.
Maybe there is something in `TransitionProps`, but I expect that's just to tweak the transition, not turn it off.

**Use case:** I am rendering a `Snackbar` via SSR. I want to show a notification that javascr

[2019-06-26 11:01] oliviertassinari commented on #16381
Does this work?

[code]

[2019-06-26 11:02] oliviertassinari commented on #16381
Oh, reading your use case now. Wrong answer.

[2019-06-26 11:03] oliviertassinari commented on #16381
Tip: check the props of react-transition-group, you will find what you are looking for in it.

[2019-06-26 11:16] akomm commented on #16379
Yes here we go :)

https://codesandbox.io/s/busy-joliot-qfkmh

[2019-06-26 11:37] eps1lon commented on #13539
`Menu` and `RootRef` still use it. `Menu` looks safe but `RootRef` is not. Until we remove this component we should keep this open for visibility.

[2019-06-26 12:08] mlenser commented on #16381
Based on https://reactcommunity.org/react-transition-group/transition#Transition-props there is the `enter` prop which is supposed to disable enter transitions, but it doesn't seem to work.

[code]

The Snackbar still animates in.

I can take my question to StackOverflow, though maybe this common case could also be added to the docs. I can send a PR if desired and I figure it out.

[2019-06-26 12:23] nareshbhatia commented on #16377
@oliviertassinari no harm in adding `width: 100%`, it's just that for getting the standard 16:9 aspect ratio, I would have to supply the additional styles to the frame anyway:

[code]

The above styles happen to be a defacto standard for the getting videos in iframes (google for it and you will get multiple hits with the same answer), so I wouldn't want half the styles in CardMedia and other half

[2019-06-26 12:45] adonig opened #16382 "How to combine ComponentCreators when using 'styled' Components"
We used `styled-components` before. Now we rewrite all our styled components using `@material-ui/styles`'s styled function, which returns a `ComponentCreator<Component>`.

One of our styles gets reused in another style like this:

[code]

Is there a way to do the same with `@material-ui/styles`'s styled function?

[2019-06-26 13:33] oliviertassinari commented on #16377
My preferred approach so far is the last one. I like how it doesn't introduce any breaking change, and how it only applies the necessary style properties.
What's wrong with the introduction of a `img` style rule?

[2019-06-26 13:37] oliviertassinari commented on #16381
Did you try `appear`?

[2019-06-26 13:43] oliviertassinari commented on #16382
It's a duplicate of #16113.

@adonig What's the motivation for moving away from styled-components? If I were you, it's only something I would consider doing to reduce bundle size, until we execute the styles engine adapter architecture.

[2019-06-26 13:50] adonig commented on #16382
@oliviertassinari We have a mix of components using `styled-components` and components using `@material-ui/styles`. This causes some circumstances with media queries, breakpoints, themes, etc. That's why we decided it might be worth to try to refactor the styled components to material-ui before our code base grows even larger.

[2019-06-26 13:57] mlenser commented on #16381
Yes, but it looks like it still requires javascript for it to appear. `appear` makes the `Snackbar` appear instantly, but with JS disabled (and SSR) it still doesn't pop in.

[2019-06-26 14:02] oliviertassinari commented on #16381
I remember making sure appear={false} was working correctly a while ago. I would expect it work work correctly on the first SSR pass.

[2019-06-26 14:42] mlenser commented on #16381
Doing the following seems to work:
[code]
Overwriting the styles on the `SnackbarContent` seems the only way to get it to work.

[2019-06-26 14:48] slim-hmidi commented on #16371
@oliviertassinari Could I work on it if it is not affected to anyone?

[2019-06-26 15:03] nareshbhatia commented on #16377
I am good with the second approach too - introduction of an `img` rule. We just need to document what each component type is doing to the styling.

[2019-06-26 15:31] zeckdude opened #16383 "On small breakpoint and below, remove Grid container spacing"
I have a basic Grid using a spacing of `5`. I want that spacing not to happen at the `sm` breakpoint. How can I remove it on the `sm` breakpoint?

I've asked this [question on stackoverflow](https://stackoverflow.com/questions/56765522/using-material-ui-how-can-i-remove-spacing-on-grid-item-in-small-breakpoint) with no helpful replies.

I was able to get it to work using this CSS hackery, but I wa

[2019-06-26 15:47] oliviertassinari commented on #16371
Sure :)

[2019-06-26 15:50] oliviertassinari commented on #16377
OK great, unless somebody has a better proposal, we can go for it. My concern with the initial proposal is the breaking change impact potential. Maybe I'm wrong, it's not a BC?

[2019-06-26 15:57] oliviertassinari commented on #16382
This use case sounds valid. I agree that you should aim for minimizing the number of approaches you use to solve the same problems, or the same class of problems. It reduces entropy. I'm closing for the duplicate.

[2019-06-26 15:57] #16382 closed

[2019-06-26 15:58] oliviertassinari commented on #16381
Hum, there is something to dig here. I don't expect any extra style to be provided.

[2019-06-26 16:27] lookfirst commented on #9342
@gabrielliwerant

Latest is currently at: https://github.com/cssinjs/jss/tree/master/packages/jss-plugin-extend

[code]

[code]

Then something like this seems to work well enough...

[code]

[2019-06-26 16:36] ZYinMD commented on #16222
Hi @oliviertassinari , I'm trying to test your fix, so I went to my local project where the bug exists, and went into `project_root/node_modules/@material_ui/core/InputBase/Textarea.js` and manually copied in your change. Is it the right way to test it? It didn't seem to make a difference. Not even when I simply set `over: 'hidden'`. I can prepare a repo if you need.

[2019-06-26 16:38] mbrookes commented on #13863
Happened to come across [this blog post](https://accessibility.blog.gov.uk/2018/05/15/what-we-learned-from-getting-our-autocomplete-tested-for-accessibility/) today (while searching for something completely unrelated to this issue).

The [component in question](https://github.com/alphagov/accessible-autocomplete) might prove a useful reference for accessibility (and code?|. [It is 10.8KB](https://

[2019-06-26 17:02] littletower commented on #16316
@NickCis I'm having the same issue, could you elaborate on how your workaround works? thanks!

[2019-06-26 17:32] oliviertassinari commented on #16222
If you add a console log, can you see it?

[2019-06-26 18:24] adin-ttc commented on #14335
@MohammedFaragallah thanks. I was also getting a similar error which I believe was related to my implementation of a custom JSS prefix. Upgrading to 10.0.0-alpha.20 solved it.. I had removed react-jss and upgraded jss-rtl to latest but in the end material-ui still only referenced 10.0.0-alpha.17

`
import React from 'react';
import { create } from 'jss';
import rtl from 'jss-rtl';
import { createG

[2019-06-26 19:14] #16369 closed

[2019-06-26 20:15] oliviertassinari commented on #16381
Ok, I had a look, it seems alright. The following is displayed during in the initial SSR output:
[code]

[2019-06-26 20:15] #16381 closed

[2019-06-26 20:21] mnbroatch commented on #15867
I am also confused at the difference between /core/styles and /styles . The former has some-but-not-all styles functionality?

[2019-06-26 20:23] mlenser commented on #16381
Great, I'll try that tomorrow. Thanks so much, Olivier.

[2019-06-26 21:12] ZYinMD commented on #16222
Great point! The answer is no. After some experiments, I finally found out that I need to make changes in the esm folder for it to work. PR submited.

Btw I never knew making stupid commits into my own forked repo would show up here. So embarrassed.

[2019-06-26 21:22] bigtone1284 commented on #15867
@liywjl @eps1lon I'd like to help here if I can.

So context is that the current docs does not  have the correct import path for functions like `makeStyles` and `ThemeProvider`?  The documentation has them as being imported from `'@material-ui/styles'` when they should be imported from `'@material-ui/core/styles'`?

[2019-06-26 21:54] mbrookes commented on #16359
It could possibly move into the `@material-ui/docs` package.

[2019-06-26 22:54] joshwooding commented on #15867
@mnbroatch Does this help? https://material-ui.com/customization/default-theme/#material-ui-core-styles-vs-material-ui-styles

@bigtone1284 The docs has a section about `@material-ui/styles` where it’s used exclusively. All component demos should be using `@material-ui/core/styles`

[2019-06-26 23:05] mnbroatch commented on #15867
@joshwooding Not really...

Given that wording ("@material-ui/core/styles/makeStyles wraps @material-ui/styles/makeStyles") I would expect that if I wanted to use makeStyles I could `import { makeStyles } from @material-ui/core/styles` just as easily as using `@material-ui/styles`. But I'm on what as far as I can tell is the latest 3.x.x (3.9.3), and I see makeStyles in the 3.x docs, but that impo

[2019-06-26 23:14] benmccann commented on #11618
I've used `labelPlacement="start"` to put the label on the left. However, it is right-aligned. Can anyone provide a pointer for left-aligning the label?

![Screenshot from 2019-06-26 16-11-50](https://user-images.githubusercontent.com/322311/60221153-6b244480-982d-11e9-8d41-6da39f462a9c.png)

[2019-06-27 01:23] greygatch commented on #15073
The examples were removed?

[2019-06-27 01:36] dreamsinspace commented on #13863
@mbrookes Never knew there's a blog that actually mentions that kind of information in gov.uk! 🤣
@oliviertassinari I think starting from scratch would be a great idea. You could maybe open some sort of issues to begin with, and list out all the use cases and scenarios. I'm quite new to contributing to this repo, but I think given the above information I can do pretty well

[2019-06-27 01:56] NickCis commented on #16316
@littletower
You have to declare as functions all the styles that override. Eg:
[code]

[2019-06-27 02:58] harwinwin opened #16389 "Filter Date Range in MUI datatable"
import React from "react";
import MUIDataTable from "mui-datatables";
import { createMuiTheme, MuiThemeProvider, withStyles } from "@material-ui/core/styles"
import CheckCircle from "@material-ui/icons/CheckCircle";
import { Link, withRouter } from 'react-router-dom';
import 'react-date-range/dist/styles.css'; // main style file
import 'react-date-range/dist/theme/default.css'; // theme css file
i

[2019-06-27 02:59] harwinwin commented on #16389
can anyone tell me how to make filter date range in MUI datatable? Please?

[2019-06-27 03:01] tm1000 commented on #16091
Ref https://github.com/styled-components/babel-plugin-styled-components/issues/224

[2019-06-27 03:15] chadalen opened #16390 "FOUC Publishing Gatsby Site Using Material UI"
@material-ui/core: 4.1.1
@material-ui/styles: 4.1.2
gatsby: 2.10.0
gatsby-plugin-material-ui: 2.0.1

Link to the repo with the issue: [https://github.com/chadalen/blog](https://github.com/chadalen/blog)

When you visit [blog.chadalen.com](https://blog.chadalen.com) you'll see a flicker of unstyled content (FOUC). The issue only happens when you deploy the site with command `gatsby build`. Locally,

[2019-06-27 03:30] marcelosuzumura commented on #16374
For me, when running in dev the `MuiChip` is loaded after `MuiAvatar`, but when using in prod after building it with `yarn build`, the reverse occurs and `MuiAvatar` is loaded after `MuiChip`.

Since `MuiAvatar-root` and `MuiChip-avatar` have the same specificity and are applied to the same element, the load order makes it look different in each environment.

In **dev** it looks as I intended it t

[2019-06-27 04:19] layerssss opened #16391 "ModelManager set aria-hidden=true on <body>"
I can produce this issue on core/4.1.2 but not on 4.1.1. I think this was introduced by https://github.com/mui-org/material-ui/pull/15839 .

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Opening then close a Model should not leave aria-hidden=tru

[2019-06-27 04:26] raymondsze commented on #15107
`variant: "nav"` may not be suitable?
The MWC has this kind of style for Menu of SelectField as well. For that case, the parent component is `ul` but with `primary` style. Although Material-UI does not necessary to follow MWC.

<img width="174" alt="Screenshot 2019-06-27 at 12 24 37 PM" src="https://user-images.githubusercontent.com/15674149/60234433-c9593200-98d6-11e9-9378-bf359fffdf74.png">

[2019-06-27 04:32] eps1lon commented on #16391
I was wondering what issue NVDA had after opening the drawer on our docs. It's making our docs inaccessible as well.

[2019-06-27 05:39] #16389 closed

[2019-06-27 06:22] joshwooding commented on #16222
@ZYinMD Don’t worry about it, mentioning the issue number in commit messages is a common thing to do. At least it’s the right issue number 😄 The amount of times I have referenced the wrong issue accidentally... 😅

[2019-06-27 06:35] eps1lon commented on #13863
Or we can cut the middleman and start with WAI-ARIA which they did as well:

If we look at their implementation first we might as well just use their component and apply our styling. No need to waste time re-implementing it and calling it our own. See also internal doc about a11y implementation in material-ui.

[2019-06-27 07:12] mlenser commented on #16381
That indeed works. I thought I tried that specifically before, but somehow missed it. Thanks again!

[2019-06-27 07:14] #16222 closed

[2019-06-27 07:19] oliviertassinari commented on #15073
Nothing was removed. It's in the git repository.

[2019-06-27 08:21] goszczynskip commented on #9513
@oliviertassinari Google recently announced that their bot was updated to evergreen: [link](https://webmasters.googleblog.com/2019/05/the-new-evergreen-googlebot.html).

[2019-06-27 08:28] CorayThan commented on #15827
@WillSquire How does that help? The button doesn't magically use that interface instead of its normal one.

[2019-06-27 08:39] oliviertassinari commented on #9513
We recently had an issue about somebody having broken rendering with Google because of a new non supported JavaScript feature. Maybe Google has updated their bot but not their crawl inspection tool. I guess it will soon follow.

[2019-06-27 08:40] oliviertassinari commented on #9513
I believe that we have another open issue to bring CSS Grid in the project.

[2019-06-27 08:43] WillSquire commented on #15827
No it doesn't, but because the exported components do have `component` fields I can `extend` the imported prop definition that's missing it in my case.

[code]

[2019-06-27 08:50] oliviertassinari commented on #11618
@benmccann This would be better asked on StackOverflow. Stuff to try: text align right, flex justify end.

[2019-06-27 09:10] #16062 closed

[2019-06-27 09:15] oliviertassinari commented on #16374
@jbblanchet Oh, this is a bug. Thanks for providing more details! I believe that the import is wrong. What do you think of this diff?:
[code]

Do you want to submit a pull request? :)

[2019-06-27 09:16] Zache commented on #15528
I avoid using the `ThemeProvider` in my tests by providing a defaultTheme to `makeStyles`

[2019-06-27 09:22] zhdanouskikh opened #16393 "Snackbar is not closing when clicking on Dialog Button"
When opening a Dialog, Snackbar with message is shown. But when you click on the Dialog Cancel button, ClickAwayListener of Snackbar is not triggered and Snackbar is still shown after closing Dialog.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

[2019-06-27 09:28] Luucky opened #16394 "Tabs textColor primary refers to secondary palette text color"
- [ X] This is not a v0.x issue.
- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When you set `<Tabs textColor="primary">` it should use the `theme.palette.text.primary`

## Current Behavior 😯

When looking through the code in [tabs.js](https://github.com/mui-org/material-ui/blo

[2019-06-27 09:45] oliviertassinari commented on #16391
I'm having a quick look at what could cause this bug (I have the code context fresh in my head). Will leave it to you then @eps1lon.

[2019-06-27 09:48] oliviertassinari commented on #16394
The same concern was raised in #16084.

[2019-06-27 10:03] slim-hmidi commented on #16371
@oliviertassinari  to run a single integration test, you use ``` yarn test:watch -- -g TEST_FILE_NAME ```?
I tried to write an integration test and according to the `Material-Ui Testing` readme I'm not able to run a single file.

[2019-06-27 10:03] oliviertassinari commented on #16391
The `modalRef` points to the body 😱

https://github.com/mui-org/material-ui/blob/bba51682748343a7010e3bc8306d5ad59fa95969/packages/material-ui/src/Modal/ModalManager.js#L205

The fix seems to be:
[code]

I'm amazed by the fact that it doesn't break any test. I believe the regression happened in the Modal to hook migration.

[2019-06-27 10:09] oliviertassinari commented on #16371
@slim-hmidi I personally use the `.only` API of mocha on the test case I'm interested in.

[2019-06-27 10:18] oliviertassinari commented on #16390
`gatsby-plugin-material-ui` is provided twice, could it cause the issue? cc @hupe1980

[2019-06-27 10:30] oliviertassinari commented on #16393
@zhdanouskikh This case is interesting. Did you dive a bit into it?

[2019-06-27 10:42] zhdanouskikh commented on #16393
@oliviertassinari only thing that I know is that on v3 it worked as it should work :)

[2019-06-27 11:06] hupe1980 commented on #16390
@chadalen Try to remove the second plugin entry update your material-ui/core dependency -> "@material-ui/core": "^4.1.3"

[2019-06-27 12:03] eps1lon commented on #16391
Oh just saw this. Took me an hour longer though.

[2019-06-27 12:18] eps1lon commented on #15827
@WillSquire Your types would accept `<LinkTab component={NotALink} />`. Is this actually expected?

[2019-06-27 12:58] balinabbb commented on #13522
I was about to submit the very same issue, with one addition:

I get the following warning after navigating away with `component={Link}` and `to="/other-url"`.
Did not test it, but my guess is the `setState` in `handleTooltipClose` after navigating away and unmounting the component.

## React warning
[code]

## Your Environment 🌎

| Tech         | Version |
|--------------|---------|
| Material-UI

[2019-06-27 14:22] mbrookes commented on #13863
ARIA isn't the be-all and end-all of accessibility. They didn't just just consult the specs, they consulted accessibility experts.

[2019-06-27 15:31] eps1lon commented on #13863
No need to argue against claims nobody made.

No but they put it first and those experts probably contributed to the WAI-ARIA docs.

[2019-06-27 15:55] samuelcolburn commented on #16359
@goldylucks I recognize that. The idea though is to essentially have an anchor list that highlights your current position, so having the component name include or reference `anchor` in some way makes sense to me.

However, if there is already some naming convention around these types of components like `ScrollSpy` or `TableOfContents` then that's is fine too.
I would add though that `TableOfConten

[2019-06-27 16:17] ffjanhoeck commented on #16270
@oliviertassinari https://github.com/mui-org/material-ui/pull/16401
Here we go

[2019-06-27 17:40] shartte opened #16402 "[TextField] onBlur event argument might be undefined"
This seems like a revival of #9027, and causes event handlers which expect to be passed an event object to fail, since it'll be `undefined`.

The offending line of code is here:
https://github.com/mui-org/material-ui/blob/46af75d63b249e24872d481c99ceaa9d4a5f6e21/packages/material-ui/src/InputBase/InputBase.js#L223

This might have been introduced in the conversion to a function component, but I am

[2019-06-27 17:50] bigtone1284 commented on #15867
@mnbroatch so you feel as though based on the wording of the docs, that one should be able import `makeStyles` and similar from `@material-ui/styles`, not from `@material-ui/core/styles`?

@joshwooding I think you are explaining that these methods are to be imported and used after they are wrapped with the default theme at the `/core` level?

[2019-06-27 17:52] jbblanchet commented on #16374
@oliviertassinari Sorry for the delay. Re-reading my description right now, I'm missing half of the info, I probably shouldn't have opened this during a rush between 2 meetings. :smile:

@marcelosuzumura Thanks for completing my bug report, this is exactly the behavior I was seeing. :+1:

I sadly have no idea if this is the right fix or not, I've never used emotion in any project so it's unclear t

[2019-06-27 17:54] mnbroatch commented on #15867
There's nothing (in that section of the docs at least) telling me that withStyles and makeStyles should behave differently in that regard, or that there would be behavior differences between the wrapped and unwrapped versions of those functions. The usage of the word "wrap" is pretty vague, so one really can't predict the behavior.

[2019-06-27 19:03] joshwooding commented on #15867
The docs currently reflect the v4 code, relying on them for v3 is not recommended.

There was a fairly major style change in v4 where `@material-ui/styles` is now used behind the scenes hence makeStyles is now exported in `@material-ui/core` whilst it wasn't in v3. In v3 you need to use `@material-ui/styles` alongside `@material-ui/core` to get the newer functionality, v4 provides it out of the bo

[2019-06-27 19:24] mnbroatch commented on #15867
ok, yea now that I understand a little better, I think https://v3.material-ui.com/css-in-js/basics/ is OK

[2019-06-27 20:00] sashankaryal commented on #15942
Any updates?

[2019-06-27 20:14] bigtone1284 commented on #15867
Cool. So the current docs/examples can be changed to import `withStyles`, etc from `@material-ui/core/styles`?  and @joshwooding you will suggest a change for the descriptions in the docs around how the functions are wrapped and exported?

[2019-06-27 20:40] IvanGrimes commented on #15695
@Mario-Eis
Hello.
This should help:

[code]

[2019-06-27 20:43] joshwooding commented on #15867
@bigtone1284 The styles section is supposed to be using `@material-ui/styles`.

[2019-06-27 21:21] JonjonHays commented on #10210
@rmariuzzo I'm using React 16.8.6 and still having this exact issue. Maybe I'm not understanding -- does the PR you referenced fix this issue for tooltips in general, or do I as the user have to do something else, like wrap the tooltip in a portal, add a prop somewhere, etc?

[2019-06-27 21:28] JonjonHays commented on #10210
@rmariuzzo Scratch that -- I ran yarn add react again and the issue was solved -- thanks for the fix!

[2019-06-27 22:20] joshwooding commented on #16393
Hmm, seems to work correctly on an iPhone.

[2019-06-27 22:21] fragm3 opened #16403 "Menu in AppBar onClick causes scroll to top"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The page should not scroll to top on click on AppBar Menu Items

## Current Behavior 😯
While trying out the latest Material-UI version, I am having some problem when the user clicks on Menu Links, the

[2019-06-27 23:07] chadalen commented on #16390
@oliviertassinari @hupe1980 Oh wow, that was the issue :O late night coding haha thanks guys :D

[2019-06-27 23:07] #16390 closed

[2019-06-27 23:29] oliviertassinari commented on #16390
I'm not sure it's a case we can automatically detect 🤔.

[2019-06-28 00:10] bigtone1284 commented on #15867
@joshwooding so styles section should import from `@material-ui/styles` while components section (demos) should import from `@material-ui/core/styles`?

[2019-06-28 00:17] joshwooding commented on #15867
@bigtone1284 correct :)

[2019-06-28 05:06] mikepc opened #23523 "[TimePicker] minutesStep, handle disabled minutes"
**Is your feature request related to a problem? Please describe.**
When setting the `minutesStep` prop, there's no indication to the user which minutes are not selectable.  This is nearly a bug, but it's honestly a feature.

**Describe the solution you'd like**
By default minutes that are not eligible for user interaction should be a "disabled" style, which can be overridden in the usual way.

**D

[2019-06-28 06:23] eps1lon commented on #15942
@sashankaryal The original issue was fixed in 4.0.2. If the issue still persists in later versions please open a separate issue and fill out the template.

[2019-06-28 06:28] #15512 closed

[2019-06-28 06:30] hupe1980 commented on #16390
@oliviertassinari Maybe something like:
[code]

[2019-06-28 06:42] eps1lon commented on #16374
Isn't this a general issue that should be resolved in some other way? The current approach hurts tree shaking because it pre-emptively imports components whose classNames might appear on the same `class` attribute.

[2019-06-28 06:49] #16391 closed

[2019-06-28 08:03] #16270 closed

[2019-06-28 08:04] #14742 closed

[2019-06-28 08:09] #16371 closed

[2019-06-28 08:19] #16394 closed

[2019-06-28 09:10] chboing commented on #14932
@oliviertassinari you're comment content: '""'. just litteraly saved my mental health, my week, my life
THANKS

[2019-06-28 09:16] popuguytheparrot opened #16407 "[Textfield] Leading icon not by specification material design"
The lead icon is not displayed by specification material design.
https://material.io/design/components/text-fields.html

Current
![image](https://user-images.githubusercontent.com/19804652/60331966-73e85800-999e-11e9-8578-3eb338a08936.png)

Expected
![image](https://user-images.githubusercontent.com/19804652/60331998-8367a100-999e-11e9-8c94-10f43dc57851.png)

[2019-06-28 09:22] nurishi opened #16408 "Tooltip's arrow sample is broken since 4.1.2"
Tooltip's arrow sample below is broken since 4.1.2. Arrow position will get shifted as soon as it gets rendered.
https://material-ui.com/components/tooltips/#customized-tooltips

I've confirmed it was working fine until 4.1.1 and after checking 4.1.2 release note, I found this change was affected. Also confirmed by directly editing 'transform' styles in Chrome DevTool.
https://github.com/mui-org/m

[2019-06-28 09:28] oliviertassinari commented on #16407
@popuguytheparrot Don't confound the *standard* variant (that is no longer documented in the Material Design specification, kind of legacy now) and the *filled* variant of the text field.

[2019-06-28 09:28] #16407 closed

[2019-06-28 09:42] rajatkantinandi opened #16409 "[Select] Should have role='listbox' or 'combobox' instead of 'button'"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Select should behave like native selects & screen readers recognize them as either 'listbox' or 'combobox' instead of button.
And there should be a way to associate label of the select to the label of

[2019-06-28 09:45] oliviertassinari commented on #16402
@shartte This is a new logic that was introduced in #15446. I would propose one of these two options:
1. We remove the onBlur call, it's a bug in React: https://codesandbox.io/s/rough-wave-04260. Should we defer the problem to them?
1. We update the TypeScript definitions to account for the fact that the event argument of blur might be missing

[2019-06-28 09:51] oliviertassinari commented on #16402
I think that I'm in favor of option n°1.

[2019-06-28 09:56] eps1lon commented on #16402
Sounds like the safer option to me.

[2019-06-28 09:57] eps1lon commented on #16409
Which screen readers?

[2019-06-28 10:05] akomm commented on #16379
@eps1lon I found additional errors in the same typing, so related to this issue. I have changed the transform in the following examples to make this other issues with the typing visible.

Example: https://codesandbox.io/s/nifty-varahamihira-o13xh
Issue: the vSpaced property is required. It should always be optional.

Example: https://codesandbox.io/s/boring-hawking-qmtj9
Issue: the theme property

[2019-06-28 10:08] oliviertassinari commented on #16408
@nurishi Thanks for the report. The behavior has changed after #16297 by @gijsbotje. Notice that you would get the same broken output by replacing the default Grow transition with the Fade transition:

![Capture d’écran 2019-06-28 à 11 59 28](https://user-images.githubusercontent.com/3165635/60334604-34207100-999c-11e9-8a84-64de50779455.png)

I believe that we could apply the following fix:

[co

[2019-06-28 10:17] Favna commented on #16408
Looks like I was sniped in creating this issue by am hour. I just noticed it myself as well. Adding the suggested `position: 'relative'` to my own styling of the `tooltip` custom CSS class does indeed fix the issue so on a quick glance I'm going to guess that is indeed the proper fix.

[2019-06-28 10:24] oliviertassinari commented on #16403
@fragm3 Could you provide an isolated minimal reproduction? Thanks.

[2019-06-28 10:32] oliviertassinari commented on #16374
@eps1lon What other way do you have in mind? For instance, take styled-components, you would have to import the component and to reference it in the selector.

In this very occurrence of the problem, I believe that the cjs and esm versions of the Avatar components are loaded. It can't work correctly.

[2019-06-28 10:33] oliviertassinari commented on #16390
@hupe1980 Is this a problem already existing plugin authors have fixed? I would be curious to look at their approach. A warning would be great. It's also weird that the problem happens in the first place.

[2019-06-28 10:44] hupe1980 commented on #16390
@oliviertassinari A similar approach:[https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-layout/src/gatsby-node.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-layout/src/gatsby-node.js)

But by scanning the config we could also issue warnings if the plugin is used incorrectly with gatsby-plugin-styled-components

[2019-06-28 10:45] shiraze commented on #11214
Thanks! That really helped me get smaller radio buttons:
`    MuiRadio: {
      root: {
        height: theme.spacing(4),
        width: theme.spacing(4),
        backgroundColor: "transparent",
        "& .$MuiSvgIcon-root": {
          fontSize: "1.25rem",
        },
      },
    },
`

[2019-06-28 10:54] eps1lon commented on #16374
I would've included this and not just asked if it was possible. It's in general an issue for tree-shaking not just because it bloats the bundle for possible specificity conflicts but also because it violates `sideEffects: false` which might cause all sorts of subtle bugs that we don't even know about yet.

A naive approach would guarantee that the stylesheet order is stable but I'm not sure how bi

[2019-06-28 11:10] oliviertassinari commented on #16390
Nice, the `didRunAlready` approach looks really great.

[2019-06-28 11:12] popuguytheparrot commented on #16407
@oliviertassinari
FIlled variant
![image](https://user-images.githubusercontent.com/19804652/60338480-bc0f7680-99ae-11e9-92c0-1c872ead6c7e.png)

[2019-06-28 11:29] nurishi commented on #16408
@oliviertassinari @favna Thanks for your quick replies.
I could also confirm `position: 'relative'` indeed works for my project code as well!
Thank you!

This is no longer issue to me. I think we can go for the fix and close the issue accordingly.

[2019-06-28 11:32] oliviertassinari commented on #16408
The last concern left is about people that have copy & paste the demo, but won't get this fix upstream if we only handle it at the documentation level. But at the same time. I'm not sure that we should add position relative to everybody.

Does anyone want to submit a pull request? :)

[2019-06-28 11:35] oliviertassinari commented on #16393
Same behavior on my Android phone. So, it could has something to do with the touch vs click events.

[2019-06-28 12:33] eps1lon commented on #15588
[We currently use this media query in our docs](https://github.com/mui-org/material-ui/blob/b31810dc18bac1acfe0277bcadd96dfa1878c266/docs/src/modules/components/ThemeContext.js#L44) to switch to a dark theme on the client. Since we prerender them we always deliver the version with the light theme that gets hydrated with the preferred color scheme causing a flash of outdated styles if a dark theme

[2019-06-28 12:35] eps1lon commented on #12990
Duplicate of #13875

[2019-06-28 12:35] #12990 closed

[2019-06-28 12:46] eps1lon commented on #12251
Looked through https://github.com/mui-org/material-ui/issues/12251#issuecomment-407856100 and checked if the icons not included due to size are now included. The following icons are included now:

- PlayCircleFilledWhite (filled)
- StarRateOutlined
- StarRateRound
- StarRateTwotone
- StarRateSharp

[2019-06-28 13:40] eps1lon commented on #9993
Closing in favor of the more active #9993.

[2019-06-28 13:40] #9993 closed

[2019-06-28 13:51] eps1lon commented on #7336
This is a feature that we would like to see implemented in userland.  Maybe we'll add a more feature-rich table to the `@material-ui` namespace in the future but for now this remains a basic component for simple data display.

`material-table` is a more feature-rich table component that is built on top of `@material-ui/core/Table`. They also haven an open issue about frozen columns: mbrn/material-

[2019-06-28 13:51] #7336 closed

[2019-06-28 13:54] akomm commented on #16379
The longer I am on the thing, the more I realize its utterly broken. And that not only on the typing side.

I am working on a fix for me and found an implementation error in the style function.

Given this monkey patch:
[code]

Which gave me:
- the style prop is optional
- the style prop type is inferred correctly

Note: this is not complete, I am about to figure out the point of the theme prop ad

[2019-06-28 14:08] eps1lon commented on #11811
The `onBlur` on the SpeedDial will fire if the dial is blurred. If you click an element in the browser then  mousedown, blur(previouslyFocused), focus(clicked), mouseup, click events are fired in that order. This means that

is expected. Ergo

would not be standard behavior. Each action and the dial are separate buttons that receive individual focus and therefore blur individually.

This is likely

[2019-06-28 14:24] eluchsinger opened #16415 "[Bug] Homepage linking to @Next"
On the homepage (https://material-ui.com) under *Installation*, the suggestion is to install `@next`. Is this a bug?

I would expect to install the normal stable version of material-ui.

![Image](https://user-images.githubusercontent.com/12324017/60348996-f8e46900-99c0-11e9-9435-8c0208db77f6.png)

[2019-06-28 14:35] rgautier2003 commented on #9427
How would one make it where the first panel is open on default and then all children panels as they are clicked on would "open/close" by clicking only on the **icon** however not close the first panel? Any examples with a class based component? Thanks

[2019-06-28 15:12] oliviertassinari commented on #16415
@eluchsinger Oops, and that's not the only place where we don't link the right target.

[2019-06-28 15:22] fragm3 commented on #16403
@oliviertassinari fixed it with popper component

[2019-06-28 15:22] #16403 closed

[2019-06-28 15:25] mesvil7 commented on #15867
Just to be sure. are You planning to move all the styles components within core/styles?

[2019-06-28 17:05] CarsonF commented on #15827
If I may jump in here. The `ButtonProps` type accepts two generics and this worked perfectly for me.

[code]

The pain points for me are with the other components use `ExtendButtonBase` instead of `ExtendButtonBaseTypeMap` - `IconButton`, `Tab`, `MenuItem`, etc.

[2019-06-28 17:31] CarsonF commented on #15827
I can also confirm changing the `IconButton` type definitions to match fixes the typescript errors for me.

Modified `IconButton` types:
[code]

Usage:
[code]

FYI, I'm migrating from v3 right now, so I haven't tried running my app yet.

[2019-06-28 17:32] oliviertassinari commented on #15078
I believe we should close for #13863.

[2019-06-28 17:36] oliviertassinari commented on #16409
Could this problem share the same root cause with #11833?

[2019-06-28 19:09] shartte commented on #16402
Yeah, if the current behavior stays in place, it should at least be documented, if possible, also on the InputBase page (onBlur is currently absent there since it's forwarded to the native element I assume).
Previously this same issue was fixed by passing `{}` as the event object (see #9042). If the ref is still valid at that point, one might even try to pass a fake object (`{target: ref.current}`

[2019-06-28 20:22] rajatkantinandi commented on #16409
Different screen readers announcing it little differently for example Voice over says its a 'toggle button' & chromevox extension saying as 'popup button not pressed' none of them indicate it as combobox or listbox instead of a button.
And also the label is associated with the hidden input field instead of the div with role button.
So the label is also not announced.
And this is not same as the is

[2019-06-28 20:58] oliviertassinari commented on #16402
@shartte I would suggest you had a closer look at the pull request. It's not an accurate fact.

[2019-06-28 21:01] oliviertassinari commented on #16402
@shartte Could you share with us the context in which you have experienced the problem? I think that it will help us take a better tradeoff.

[2019-06-28 21:21] bigtone1284 commented on #15867
@joshwooding I am going to make the edits for this.

[2019-06-28 21:23] bigtone1284 commented on #15867
@mesvil7 mesvil7

I think moving styles components to within core/styles is not in the scope of this issue and might be a different conversation.

@joshwooding I can make the change related to updating the import examples in the docs as we discussed above.

[2019-06-28 21:49] shartte commented on #16402
@oliviertassinari Ah you're right, I mistook the test code for the actual implementation. Sorry!
My onBlur handler was doing validation onBlur, which was easily skipped by checking whether the event was undefined. It was just something I wasn't expecting.

[2019-06-28 21:54] bigtone1284 commented on #15867
Hey, I started looking at this issue. I think the original solution of @eps1lon to `MuiThemeProvider from @material-ui/core/styles` might not be correct.  I tried making this change in the codesandbox associated with the page that @liywjl and @eps1lon initial started talking about, and trying to import `MuiThemeProvider` from `@material-ui/core/styles` did not work.

tl;dr, I don't think the docs

[2019-06-28 22:26] bigtone1284 commented on #16360
@Katecarter @leMaik @oliviertassinari Could we resolve this in the demo by calling `setPage(0)` when `handleChangeRowsPerPage` is called?

I made a quick edit to a [code sandbox](https://codesandbox.io/s/material-demo-ldyhk) to demo.

[2019-06-29 00:38] davidoffyuy commented on #16415
@oliviertassinari  I was wondering if I could be assigned this issue.  Pretty new to open source contributions.

In my forked local build, I just modified the HomeStep.js file to say "npm install @material-ui/core". I searched other areas where there might be @next, but they seem to be correct as they're talking about migrating. Where else did you see incorrect link targets?

[2019-06-29 01:13] ghoshabhi commented on #14655
I have been looking for this solution for couple days now. Gold.

[2019-06-29 04:15] kptlronyttcna opened #16418 "Box clone not overriding child component styles"
See #15993

https://codesandbox.io/s/hardcore-resonance-by6zt

[2019-06-29 05:11] tehnools opened #16419 "npm i material-ui/core Permission denied (publickey)."
Hi there I am having issues with installing @material-ui/core

It don't understand why I can't install it without an SSH key because it's a publicly available npm package.

OS: Ubuntu 18.04.2 LTS
npm version : 3.5.2

**Error log:**
`Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/material-ui/core.git
npm ERR!
npm ERR! Warning: Permanently added the RSA host key fo

[2019-06-29 05:21] #16419 closed

[2019-06-29 06:15] eps1lon commented on #11857
Recommended workaround using themes:

[code]

We're trying to figure out if we can apply the fix to the core component but we risk breaking changes for other customizations.

[2019-06-29 07:00] goldylucks commented on #16359
@oliviertassinari

The download number represents the people who found it ;) we could have missed many people who turned elsewhere for solutions (like yours truly here ...)

So it's documented but not implemented? Is that the case? I'm happy to prepare a PR for this, A-Z, so you (or whoever is responsible) would only need to code review and ask for changes if needed.

We can also take a different

[2019-06-29 07:04] goldylucks commented on #16359
@mbrookes

Isn't it already [in the docs](https://github.com/mui-org/material-ui/blob/404c2ba16816f5c7ab7d8b2caf6bbc3d2218b820/docs/src/modules/components/AppTableOfContents.js) like @oliviertassinari [linked](https://github.com/mui-org/material-ui/issues/16359#issuecomment-505417887) above?

[2019-06-29 07:13] goldylucks commented on #16359
@samuelcolburn

Right! Makes sense to me as well, sorry for the misunderstanding.

Scroll spy doesn't sound intuitive to me either. when I searched it last week, I googled queries along the lines of:

1. react attached scroll nav
1. react scroll nav
1. react nav scroll
1. react scroll menu
1. react sticky scroll

After not finding anything, I went to zurb's foundation site and browsed their compon

[2019-06-29 09:23] #16408 closed

[2019-06-29 09:32] oliviertassinari commented on #14655
@ghoshabhi Do you mean that upgrading was enough to solve your problem?

[2019-06-29 10:12] oliviertassinari commented on #16415
@davidoffyuy Sure, thank you for volunteering! I have found the following extra issues:
[code]

[2019-06-29 10:36] oliviertassinari commented on #16209
@mbrn Did you found the time to look into the issue :) ? An advanced table component is most valuable for enterprises, enterprises are more likely to require IE 11 support. I believe it's an important dimension for your project.

[2019-06-29 10:44] oliviertassinari commented on #15993
@kptlronyttcna thanks for the reproduction. When using the `clone` prop, the order in which the elements are imported is important:

This works:
[code]

This doesn't work:
[code]

[2019-06-29 10:44] #16418 closed

[2019-06-29 11:03] oliviertassinari commented on #16393
Ok, I believe it's a regression with the click away logic. In your example, the listener is removed and added back when the click event is triggered, this event is missed by the component. I would propose the following fix:

[code]

Also, it's probably time to move `useEventCallback()` into its own help file rather than duplicating it between components. 4 repetitions sound to me like a good signa

[2019-06-29 11:04] oliviertassinari commented on #16393
@zhdanouskikh Do you want to submit a pull request? I'm sure your team would really appreciate it :)

![Capture d’écran 2019-06-29 à 13 03 57](https://user-images.githubusercontent.com/3165635/60383210-60a4bd80-9a6e-11e9-9e04-84083af92203.png)

[2019-06-29 11:49] mbrn commented on #16209
Hi @oliviertassinari ,

I am really very busy nowadays. But i will resolve this in 2 days:). Thanks for your patience.

[2019-06-29 13:11] joshwooding commented on #15867
@bigtone1284 I’m confused, the export is there https://github.com/mui-org/material-ui/blob/ffb125d828a4675641963231fee6f1de6e01041a/packages/material-ui/src/styles/index.js#L5

[2019-06-29 13:16] joshwooding commented on #16402
Updating the typescript definition definitely makes sense if the current behaviour stays. Perhaps there should be a section on the documentation as well? So users not using typescript could potentially look there or maybe something in the prop description is better

[2019-06-29 13:18] joshwooding commented on #15078
@oliviertassinari I agree

[2019-06-29 13:21] joshwooding commented on #9427
@rgautier2003 It’s better to ask those kind of questions on [stackoverflow](https://stackoverflow.com/questions/tagged/material-ui)

[2019-06-29 14:41] #15078 closed

[2019-06-29 15:46] oliviertassinari commented on #16209
No problem, as long as it wasn't forgotten, we are 👌

[2019-06-29 15:49] inform880 opened #16426 "Tooltips should be given an option for strict widths that ignore spaces"
Tooltips can be provided custom widths by overriding classes, and have a default width. The problem I have is that if the tooltip title is just a solid string with no spaces, there will be no wrapping.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

[2019-06-29 15:59] kptlronyttcna commented on #15993
Hmm, It appears that

this works:
[code]

but this does not:
[code]

In both cases `Box` is imported last (to see it in codesandbox you have to manually refresh the preview window)

[2019-06-29 16:11] oliviertassinari commented on #16426
This part of the documentation should provide the beginning of an answer: https://material-ui.com/components/tooltips/#variable-width.

[2019-06-29 16:11] #16426 closed

[2019-06-29 16:59] davidoffyuy commented on #16415
@oliviertassinari Thank you!

I will submit the pull request later tonight (US Central Time). Should I update the migration pages and minimizing file pages for the various other languages too? Also, I noticed that those pages are still in English. Hopefully that is normal.

[2019-06-29 17:06] oliviertassinari commented on #16415
If you can handle all the occurrences of the problem at once, it would be perfect 👌 .
The diff I have shared only touches the source of truth of the documentation. The translations are handled in Crowdin, they should be ignored.

[2019-06-29 18:47] bigtone1284 commented on #15867
@joshwooding were you going to make that change? I can give it a try but you might have more familiarity with this issue. I'd be happy to provide some eyes on the review if it helps?

[2019-06-29 19:21] bopfer commented on #9131
I am having an issue that appears to be related to this one:

https://codesandbox.io/s/github/bopfer/mui-formik-input-focus

Just look at the "Plain Form" to see the issue I am having.  When I click on that form from the home page, the first input is focused properly.  But, if I go back to home, then open the drawer and click the "Plain Form", the first input is not focused.  Instead the IconButto

[2019-06-29 19:55] joshwooding commented on #15867
@bigtone1284 I was but I’m on holiday right now, if you or someone else wants to re-word it slightly I’ll be happy to take a a look otherwise I’ll make in change in around a weeks time.

[2019-06-29 20:54] oliviertassinari commented on #16359
Here you go: https://getbootstrap.com/docs/4.3/components/scrollspy/

[2019-06-29 21:38] haohaiD commented on #10312
I got the exactly same problem in my Material-table. The date picker will show date - 1 value in the date picker when it is editing.

[2019-06-29 21:56] inform880 commented on #16426
@oliviertassinari Yes, I followed documentation and read that very thoroughly, there is no option to force word wrap without spaces in the characters. This is still an issue.

[2019-06-29 23:23] oliviertassinari commented on #16426
@inform880 You can apply custom CSS to it.

[2019-06-30 00:56] davidoffyuy commented on #16415
@oliviertassinari

Hey. Last question. In _migration-v3.md_, should I remove the @next reference as well for the Styles component?

`If you were previously using `@material-ui/styles` with v3 you need to update your `package.json` to use the latest version of Material-UI Styles.

[code]

Or run

[code]

[2019-06-30 02:14] mesvil7 commented on #15867
Import MuiThemeProvider from '@material-ui/core/styles' work fine since this component is importing ThemeProvider from '@material-ui/styles'. (@material-ui/core/styles/MuiThemeProvider.d.ts)
@material-ui/styles has no exported member 'MuiThemeProvider' it has ThemeProvider.

I think the confusion is you have components doing the same things in core/styles and styles in the root

[2019-06-30 06:28] dreamsinspace commented on #13863
@oliviertassinari I made a start on `<AutoSuggest />` component using a combination of `<Popper />`, `<TextField />`, `<Paper />`, `<ClickAwayListener />`, `<Fade />` and `<MenuItem />`. A lot more needs to be done in order to provide more customisation for users and improve performance, but this is what I came up with:
[code]
Codesandbox: https://codesandbox.io/s/loving-gould-2dz5d

[2019-06-30 09:22] oliviertassinari commented on #16415
Yes, well spotted.

[2019-06-30 10:08] oliviertassinari commented on #9131
@bopfer The `disableRestoreFocus` prop could help.

[2019-06-30 13:58] rfgamaral opened #16431 "What's the recommended return type for makeStyles() to use with TypeScript?"
I'm using Material-UI with TypeScript and ESLint enforcing a lot of rules (from the Airbnb preset) and I haven't managed to fix this issue:

![image](https://user-images.githubusercontent.com/96476/60397666-33780e00-9b47-11e9-99dc-76398e31b979.png)

I need a return type for `makeStyles()` but I'm not sure what to put there... I mean, looking at the `makeStyles.d.ts` file it seems the return type i

[2019-06-30 14:20] eps1lon commented on #16431
We don't recommend specifying a return type since it requires maintenance i.e. repeating of class keys.

You don't require it. The lint rule demands it. While I would agree with adding explicit return types to function declarations I wouldn't personally use it for lambdas. I think you should re-evaluate your lint ruleset.

That looks fine to me.

[2019-06-30 14:20] #16431 closed

[2019-06-30 14:25] bopfer commented on #9131
@oliviertassinari, I just added that to the Drawer's ModalProps in my condesandbox.  It stopped the focus from going to the IconButton.  But, it still does not go to the input field.  Looks like it is staying in the Drawer somewhere.

[2019-06-30 14:26] NMinhNguyen commented on #16393
@oliviertassinari interestingly, https://reactjs.org/docs/hooks-faq.html#how-to-read-an-often-changing-value-from-usecallback shows a version of `useEventCallback` that depends on `useEffect` instead of `useLayoutEffect` - do you know if there's a significant difference? Like, is there a need for the ref to be set ASAP? I guess it's better to be safe than sorry 😅

[2019-06-30 14:27] oliviertassinari commented on #9131
Maybe you need to disable the focus trap too. If you can find an elegant solution that doesn't require to disable any of the Modal accessibility features, let us know :)

[2019-06-30 14:36] #16415 closed

[2019-06-30 14:44] bopfer commented on #9131
Adding `disableEnforceFocus: true` to the ModalProps works.  But, that does seem bad for accessibility.  I will let you know if I find anything more elegant.

[2019-06-30 14:47] oliviertassinari commented on #9131
I would look into a way to trigger the route transition a bit after the drawer closes.

[2019-06-30 15:13] rfgamaral commented on #16431
Well, this rule in particular comes from `@typescript-eslint/recommended` and I just found this issue (https://github.com/typescript-eslint/typescript-eslint/issues/493) that should fix the problem, once released.

In the meantime, I've added the following to my `.eslintrc` file:

[code]

Thank you!

[2019-06-30 15:53] davidoffyuy commented on #16415
@oliviertassinari  Sorry, just realized you said NOT to touch the translations. I misread. Thanks for fixing that and remove the @next after styles.

[2019-06-30 16:00] oliviertassinari commented on #16415
@davidoffyuy No problem :)

[2019-06-30 16:54] joananespina commented on #4648
If you're like me that just skims around when reading the docs and didn't find a `type` prop in the `IconButton` [docs](https://material-ui.com/api/icon-button/) . . . there is this message at the end of the Props list:

`ButtonBase` accepts the `type` prop, so just add `type=submit` to the IconButton component like so: `<IconButton type="submit">`

Posting this here for anyone coming from Google.

[2019-06-30 17:34] mschipperheyn commented on #16239
AFAIC the best carousel lib is still https://github.com/nolimits4web/Swiper

[2019-07-01 01:38] nareshbhatia opened #16434 "Checkbox does not work with Formik 2.x"
Setting the `onChange` property of MUI checkbox to Formik's `field.onChange` handler does not work. Toggling the checkbox does not toggle Formik's boolean field.

    <MuiCheckbox {...props} checked={field.value} onChange={field.onChange} />

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is

[2019-07-01 02:45] stunaz commented on #16434
obviously not a `material-ui` issue...

this works

[code]

[2019-07-01 03:07] nareshbhatia commented on #16434
Thanks @stunaz - it works indeed! Curious what makes it work. Your solution passes all the `field` properties to `MuiCheckbox` vs. mine which sends only `onChange`. So there must be something else in `field` that makes it work.

[2019-07-01 03:07] #16434 closed

[2019-07-01 03:28] stunaz commented on #16434
something to do with the event life cycle. in your situation the event is already _gone_ when you call `field.onChange(event);`

[2019-07-01 06:24] joacub opened #16435 "makeStyles.js dynamic values background: props => props"
For generation unique classnames and reuse and reuse on between server request its needed to pass for dynamic properties the props for generation unique classes.

[code]

or maybe a second parameter with name key for determinisc every dynamic classes

[2019-07-01 06:51] RZsam commented on #15898
@travi @eps1lon @ztoben
I still did not find any answer neither here or in stack overflow.
I'm not using multiple version of material-ui.
did you make any progress?

[2019-07-01 07:40] maniekins opened #16436 "[Dialog, accessibility] Cannot do any actions by keyboard after close a dialog."
While screen reader is on (e.g. NVDA) navigation and doing any actions on buttons, inputs etc are working, but when somebody opens and closes a dialog, input fields are blocked for editing. Users can't type anything in text fields or activate buttons by keyboard.
I noticed there are missing logic to remove `aria-hidden="true"` from body element after close a dialog.

- [x] This is not a v0.x issue

[2019-07-01 07:44] eps1lon commented on #16436
Could you test it on https://material-ui.netlify.com/components/dialogs/#dialogs and see if it still happens? I think we already fixed it on master.

[2019-07-01 07:47] mohan-cao opened #16437 "Material UI slider rail incorrectly aligned with alternate textAlign property"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Slider should render properly in a container with any text-align CSS property set

## Current Behavior 😯
Slider's rail alignment bugs out and center aligns when the parent container has a text-align pr

[2019-07-01 07:55] maniekins commented on #16436
@eps1lon Thanks for quick response. Yes it is working correctly and I noticed that `aria-hidden` is not exist. When it will be available and in which version?

[2019-07-01 08:03] eps1lon commented on #16436
Definitely in the next version. I can't make concrete promises to the timeline. It will likely stay this work week. If this is cruicial for you I recommend rolling back to 4.1.1 which should have the correct behavior though I haven't verified.

[2019-07-01 08:04] maniekins commented on #16436
Ok. Thanks for information

[2019-07-01 08:06] eps1lon commented on #16436
You can watch the repository for releases only which should notify you of the next release. Leaving this open for visibility until the next release.

[2019-07-01 08:08] maniekins commented on #16436
No problem :)

[2019-07-01 08:21] akomm commented on #16379
@eps1lon or someone feels also responsible for it:

Is there anything I can do further so you can confirm this whether it is intended or not intended to work like that, or whether my points are valid or not, so further thoughts about PR can me made? I won't start a PR until I know there is no special Idea behind all or some of the things I see as unexpected behavior.

Any mechanics like tagging as

[2019-07-01 08:27] eps1lon commented on #16379
Yeah the best course of action for typescript issues is to actually open a PR with your proposed typings as this will run all the tests. Very often people propose solutions that only helps their problem but but introduces unsound types or breaks other typing patterns. Having a PR with all the tests and concrete code patches helps a lot.

[2019-07-01 08:47] joacub commented on #15511
Same here

[2019-07-01 09:17] leekad commented on #10098
I create this in my project so I can use 1 theme for both.

[code]

[2019-07-01 09:33] goldylucks commented on #16359
I guess I missed that @oliviertassinari !

Great. Do we need other people to confirm?

I've read the [contributing](https://github.com/mui-org/material-ui/blob/master/CONTRIBUTING.md) guide, let me know if/when to start working on that

[2019-07-01 10:32] akomm commented on #16379
@eps1lon

I am working on a PR.  I would like to sum up the issues:

1. `style`-factory: transform-typing is wrong and does not allow complex projection.
2. `style`-factory: using `themeKey` and transform does not work together. I wrote test changing this and allowing both to be used. IT does not break existing tests. It allows to project complex styling still using theme-mapping, including breakp

[2019-07-01 10:44] oliviertassinari commented on #16435
@joacub Could you follow our issue template? I don't understand what's going on here.

[2019-07-01 10:48] eps1lon commented on #16379
You can put this all into a single PR. It would help if you keep changes as atomic as possible i.e. if you can isolate changes please do so via multiple commits in case it would help break it up into PRs after some discussion. For example it seems like the `unknown` removal isn't necessary for the other changes

The thing about monorepos is to allow exactly that. Don't bother too much about crossi

[2019-07-01 11:03] oliviertassinari commented on #16436
@eps1lon Oh, thanks. I should have read the discussion. I have only read the issue description. What's the expected outcome of keeping it open? Meaning, how does the extra boost of visibility help? The value I see in labeling duplicate and closing is that we can free up our mind from it. There is no need to keep it in the back of our head, remembering to close it once it's released.
I can think of

[2019-07-01 11:10] RZsam commented on #15898
since I'm using laravel, I created new laravel project (5.6) and tried material V4 there and did not get any errors. I replaced packages and versions in the main project package.json still have errors. this is packages which are the same in new and main project:

        "@babel/preset-react": "^7.0.0",
        "axios": "^0.17",
        "babel-preset-react": "^6.23.0",
        "bootstrap": "^4.0.0

[2019-07-01 11:14] akomm commented on #16379
Got all the stuff fixed and passing tests (including new tests).

Now about to break it up like "add fail test for X" "fix X" as you proposed. Kind of hard if you can not simply reference separate issues ;)

[2019-07-01 11:23] oliviertassinari commented on #16359
@goldylucks we use the lab as a playground to try things out. We add, remove, break things as the different iterations require it. The first step would be to open a pull request under it. Then, we will review it.

Matt was proposing to host the component in the docs package. Why not. I believe that the final location should be discussed after we have run our first experimentation in the lab and wa

[2019-07-01 11:36] eps1lon commented on #15898
Could you do a `yarn why` for `react`, `@material-ui/core` and `@material-ui/styles` (or `npm ls` if you`re using npm)?

A clonable repository would help a lot here.

[2019-07-01 11:47] balazsorban44 commented on #16272
I still experience the problem, when I click a radio button, the input should get checked, but it does not.

I was looking at the provided CodeSandbox example, and when I click any of the radio buttons, for me nothing even gets selected/checked (the radio buttons are unresponsive).

So I created my own example, using v4 here: [CodeSandbox example](https://codesandbox.io/s/radiogroup-input-not-chec

[2019-07-01 11:49] RZsam commented on #15898
@eps1lon  this is [new project](https://github.com/RZsam/test-v4)
main is private project.

[2019-07-01 12:16] akomm commented on #16379
@eps1lon so the style factory is not tested at all type-wise. The moment I simply introduce a test and call `style` it does not work. And whenever I add a fix, it still not work until I add them all. Its like a closed chain.

[2019-07-01 12:25] eps1lon commented on #16379
Can you open a draft PR so I can review what's not working? I don't know what "does not work" means.

[2019-07-01 12:33] akomm commented on #16379
I was talking about the index.spec.tsx, containing tests for the index.d.ts (mui-system). So what is not working is that for usage with `styled-component` and `styled` from `mui-system` fail differently and need different amount of fixed to be fixed. Both work correctly type-wise, when everything is fixed. Simply put: the style function is not tested in the index.d.ts spec file at all, and once yo

[2019-07-01 12:36] oliviertassinari commented on #16437
@mohan-cao Oops, this is a funny one! Thank you for reporting the issue. I believe that the following fix will do the job:
[code]

What do you think about it? Do you want to submit a pull request? :)

[2019-07-01 12:37] RZsam commented on #15898
@eps1lon  [main project](https://github.com/RZsam/main-v4)
[new project](https://github.com/RZsam/test-v4/)

only diffrence is package.json

[2019-07-01 12:48] eps1lon commented on #15898
Please create a minimal clonable repository with explicit steps to reproduce the issue. `yarn dev` will crash with missing files.

[2019-07-01 12:56] RZsam commented on #15898
I think there's no need to yarn dev ;
1.run `yarn watch`
2.run `php artisan serve`
then test on http://localhost:8000/

if you don't want to try with laravel then just use package.json in main project

[2019-07-01 13:06] oliviertassinari commented on #16272
@balazsorban44 The problem seems to be that no change event is triggered:

[code]

Could it be a testing library question?

[2019-07-01 13:53] mohan-cao commented on #16437
Sure, I'll go ahead and make a PR

[2019-07-01 13:55] balazsorban44 commented on #15726
@oliviertassinari adding the mock for createRange seem to help, but I get

[code]

My test (using `@testing-library/react`):

[code]

[2019-07-01 14:01] eps1lon commented on #16272
The test already crashes when rendering the `<App />`. Stack trace begins in jss.

@oliviertassinari The change event would be fired on the radio2 if I remember correctly. The values wouldn't change but the checked state. Could you create a sandbox that renders the same in the browser and the test environment so that we can compare with the actual behavior in the browser?

[2019-07-01 14:05] Angelk90 commented on #15820
@oliviertassinari : But  if app is declared as a class how do I do it?
Because in the app I have a state and other functions.

[2019-07-01 14:23] oliviertassinari commented on #15820
@Angelk90 You should use the higher order component API: https://github.com/mui-org/material-ui/issues/15820#issuecomment-495480040.

[2019-07-01 14:28] eps1lon commented on #15726
@balazsorban44 There are timeouts started when hovering. You should either let all timers run out inside your `act()`  or set the timeouts to 0 via props.

[2019-07-01 14:41] balazsorban44 commented on #15726
@eps1lon Trying like this:

[code]

Still the same. 🤔 What do I do wrong? I would prefer this solution.
Or if not that, what do you mean by

?

[2019-07-01 14:44] jeffshaver opened #16441 "[Popover] ModalClasses prop regression"
On Popover, we were using the ModalClasses prop to pass a class to the div that gets mounted for the Modal.

This is broken now. I am not 100% sure on when this regression occurred (maybe on the functional rewrite?).

The problem (I think) is that Modal doesn't pull off classes as a known prop, it just gets spread using `{...other}`. Which means the div gets an attribute called `classes` and its v

[2019-07-01 14:52] eps1lon commented on #15726
Yeah sorry this was just a quick guess. Could you ask the question on stackoverflow and link it from here? I'll take a look later.

[2019-07-01 15:00] balazsorban44 commented on #15726
@eps1lon

https://stackoverflow.com/questions/56837949/act-warning-when-testing-component-with-material-ui-tooltip

[2019-07-01 15:12] mbrookes commented on #16359
@goldylucks Yes, the TOC component is used in the docs, but isn't in the `@material-ui/docs` package, which is where we expose some of the docs site internals for public use.

[2019-07-01 15:39] burtyish opened #16442 "[Modal] has inline styles instead of classes. Breaks support of classes API"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Overriding a Dialog's style class worked in version 3.x, I expected this to continue working. I didn't see anything about this mentioned in the [migration guide, under Dialogs](https://material-ui.com/

[2019-07-01 17:08] oliviertassinari commented on #16441
@jeffshaver Your issue is very similar to #16442. The classes API was removed. You can use the class name API directly.
[code]
Does it solve your issue?

[2019-07-01 17:14] oliviertassinari commented on #16442
@burtyish Correct, you have to use `!important` for overriding the inline style. Your problem is very close to #16441.

Yes, removing the imports to JSS has yielded a significant bundle size reduction. We were at 24 kB gzipped before #15466, we are at 5 kB gzipped now for a single import of the Modal.

[2019-07-01 18:22] jadbox opened #16443 "Slow visibilitychange issue"
I'm getting a poor pagespeed rank because of this initial-website-loading 200ms+ block of repeated calls to focusVisible:66 to handle the visibilitychange event. Can we debouce this maybe?
![2019-07-01_1119](https://user-images.githubusercontent.com/595843/60457949-30862780-9bf2-11e9-819e-a77dc48ed027.png)

[2019-07-01 18:29] oliviertassinari commented on #16402
I think that we can go with option n°2 with the TypeScript and prop type description update. We can always revert later on to option n°1 if people still get errors in production because they try to access event.x in the blur event.

[2019-07-01 18:33] oliviertassinari commented on #16443
@jadbox Could you provide a minimal reproduction so we can look into it?

[2019-07-01 19:23] thomasjm commented on #13053
Note: I just upgraded to Material UI v4 and now it seems this problem applies to `input[type="text"]` as well.

[2019-07-01 19:33] ryancogswell opened #16444 "Menu keyboard navigation broken in demos"
In #15901, the Menu demos were changed to use the `keepMounted` property. This breaks the auto-focus functionality in `MenuList` since it is then mounted before it is open and the `focus` call happens on mount.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected

[2019-07-01 19:41] jadbox commented on #16443
@oliviertassinari I'm afraid I don't think I can as it's in a large project, but the total amount of dom elements is pretty normal for a web app. If anyone else can check their projects to see if this is an issue would help. This task is one of the first to occur when the React bundle starts.

[2019-07-01 21:18] oliviertassinari commented on #16443
@jadbox The provided information leads to:
https://github.com/mui-org/material-ui/blob/7fb9b403553bb9d74f1ef00c07f53e61341cc71e/packages/material-ui/src/utils/focusVisible.js#L66

There is no reason for the visibility change to takes more than some μs. Let us know if you can isolate the problem :)

[2019-07-01 23:58] joacub commented on #16435
@oliviertassinari sorry for the bad explain, is very simple, when have a class with dynamic value is needed pass the props to the generator because is needed for create a unique class name and not based on counter

[2019-07-02 00:52] AnaBrade commented on #15898
Adding the dependency `hoist-non-react-statics` version `3.3.0` to our `package.json` solved the issue for us.

[2019-07-02 01:57] travi commented on #15898
will likely be a bit before i can try another attempt at upgrading, but based on the description of what that package is responsible for and this output from `npm ls hoist-non-react-statics` (pre-upgrade attempt), i'd say thats very likely our issue as well:

[code]

thanks a ton for sharing @AnaBrade!

[2019-07-02 02:50] tgrowden commented on #14897
@oliviertassinari How up-to-date is this? I was just looking at the docs and noticed that `components/slider` has Typescript source.

[2019-07-02 04:26] OsamaEhsan opened #16445 "Module not found: Can't resolve '@babel/runtime/core-js/map'"
I am using Material UI for React, I updated the Material-UI to the latest version and it is giving me following error

../node_modules/material-ui/styles/withStyles.js
Module not found: Can't resolve '@babel/runtime/core-js/map' in 'C:\Users\User\Documents\code\react\node_modules\material-ui\styles'

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/mate

[2019-07-02 04:55] eps1lon commented on #14897
@tgrowden A maintainer has to update it manually. Thanks for letting me know.

[2019-07-02 04:57] eps1lon commented on #16445
Please include all the dependencies in your package.json and your lockfile.

[2019-07-02 06:10] eps1lon commented on #16444
The PR that added keepMounted includes a rationale for it. But even if not it's still a doxumented prop and the component should support it. I want to revisit the keyboard navigation soon but we have other priorities that come first (see roadmap)

[2019-07-02 06:30] eps1lon commented on #16442
Just to be clear: You didn't save 19kB in a bundle using material-ui. Only if the Modal was the only component you used.

[2019-07-02 06:50] zhdanouskikh commented on #16393
@oliviertassinari good try, but I am not very familiar with mui implementation, only with usage 😅

[2019-07-02 06:53] NMinhNguyen commented on #16393
@oliviertassinari I'm happy to PR it. Where would you like me to extract this helper? `reactHelpers`?

[2019-07-02 06:57] oliviertassinari commented on #16442
@eps1lon Yes, this statement is accurate.

[2019-07-02 07:05] oliviertassinari commented on #16393
@NMinhNguyen Thanks for your interest, I believe that we should break `reactHelpers.js` down in multiple small pieces as we do with the other modules in the `/utils` folder.
So I would propose the introduction of a new `/utils/useEventCallback.js` file.

[2019-07-02 07:35] oliviertassinari commented on #16435
@joacub It makes more sense. Thanks for the details. I'm trying to rely on react-jss in #16180. It should probably happen in https://github.com/cssinjs/jss/blob/329a8bcf7d5524f69af8ad37147d5ea7531b6a9f/packages/react-jss/src/utils/sheets.js#L69.

cc @kof

[2019-07-02 07:46] eps1lon commented on #16393
What would be the benefit of that?

[2019-07-02 07:52] oliviertassinari commented on #16393
Would it help with consistency? Oh and I think that the `/utils/helpers.js` is in an identical state. Alternatively, we could bundle everything under a single file.

[2019-07-02 07:55] oliviertassinari commented on #16445
@OsamaEhsan This is not a minimal reproduction example I was asked by email.

[2019-07-02 07:59] eps1lon commented on #16393
I'm a bit skeptical about breaking it down even more. They're already tiny and I don't think the "one function - one file" approach scales very well. It's obviously a grey area where neither approach is always correct. I was just asking if there was an observed issue or if you think `reactHelpers` has simply grown too big.

[2019-07-02 08:01] NMinhNguyen commented on #16393
@eps1lon, @oliviertassinari I'll leave breaking out `reactHelpers` out of my PR for the time being.

[2019-07-02 08:06] oliviertassinari commented on #16393
@eps1lon I can think of two different strategies
1. We break each export in a single file. It seems to be the rule following by the majorities of the modules we have in this folder. Pushing that to 100% would be what maximize the majority. It can work this way.
2. I'm personally more in favor of having files of 1k LOCs and to break them down once they grow too  big (too many LOCs). We could have a

[2019-07-02 09:04] omerpeled commented on #16029
same with Switch component

[2019-07-02 09:10] TrueMoein commented on #14834
+1 same 😟

[2019-07-02 10:03] ShreeGiriKumar opened #16447 "How to reduce the height of the popover on select"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker. For usage and support questions, please check out the resources below. Thanks!

---

1. Read the [documentation](https://material-ui.com/).
2. Ask questions on [StackOverflow](https://stackoverflow.com/questions/tagged/material-ui) using the tag material-ui.
3. Chat with the community on [Spectrum](http

[2019-07-02 10:04] #16447 closed

[2019-07-02 10:25] lucableve opened #16448 "Problem css components"
I have two components, one is loaded at startup, the second after clicking the button.

Both have style classes, but when the second list-item is mounted, the parent class overrides the first component.
The solution is to use the important thing but it's really bad ...

######First component######
[code]

######Css First Componente before click:######
[code]

#####Second component######
[code]

##

[2019-07-02 10:37] ryancogswell commented on #16444
Ah, I found it:

I was looking for something explicitly mentioning `keepMounted` on my first search through the pull request and missed this bullet point.

I agree and it is now more important to support `keepMounted` well since the examples use it and developers will pattern their usage on the examples (which means they are much more likely to use `keepMounted` in the future and thus notice this

[2019-07-02 10:41] andrewBsk opened #16449 "Can't type on input TextField on iOS after exported React app as PWA"
I have a simple log in form using React app and React material with two inputs for email and password.
Copied from here:
https://github.com/mui-org/material-ui/blob/master/docs/src/pages/getting-started/page-layout-examples/sign-in/SignIn.js

Textfields work fine on Chrome and Safari browsers on Mac, iPhone and Android.
Textfields work also fine when i export app as a PWA on Chrome Android (prompt

[2019-07-02 11:41] TrueMoein commented on #14283
Hi @oliviertassinari, can you test this example again? It seems not working now.
Thanks.

[2019-07-02 12:53] andrewBsk commented on #16449
Update1:
Issue occurs **only** while using Swift keyboard.

[2019-07-02 13:10] ShreeGiriKumar opened #16451 "How to change the material ui popover height which gets open on select control click"
<Select
                                        value={contCountrySelected}
                                        onChange={(event) => this.handleControllingCountryChange(event.target.value)}
                                        styleName= {'app.fbSelectTextPos'}
                                        inputProps={{
                                            name: 'controllingcountry',

[2019-07-02 13:49] #16451 closed

[2019-07-02 14:31] SephiL1nk opened #16452 ""Invalid hook call" error with withStyles and ThemeProvider from ES6 module"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When linking the module to another react project using `yarn link` or `npm link` and using the `<Boilerplate />` component, it should work and display "Hello World"
## Current Behavior 😯
It's currently

[2019-07-02 14:34] eps1lon commented on #16452
Duplicate of facebook/react#13991

[2019-07-02 14:34] #16452 closed

[2019-07-02 14:45] eps1lon commented on #16443
I mean the time itself is super low. It's just called very often. @jadbox Are you using the buttons in shadow doms? I'll take a look at the current state of the polyfill upstream. Maybe we don't need it at every owner document and just at the topmost.

[2019-07-02 15:35] 7s4r opened #16454 "[Link] TypeError: Cannot read property 'addEventListener' of undefined"
When I'm running unit tests with Jest, I get this error:
`TypeError: Cannot read property 'addEventListener' of undefined`

I think this is related to this [issue](https://github.com/mui-org/material-ui/issues/10383) and this [pull request](https://github.com/mui-org/material-ui/pull/10978). As breadcrumb component was added recently from lab to core, it is missing fallback to ownerWindow.

- [x]

[2019-07-02 15:51] oliviertassinari commented on #14283
@TrueMoein I have updated my original comment to reflect how it should be done with v4, latest.

[2019-07-02 16:03] OsamaEhsan commented on #16445
@oliviertassinari What other details I should include?

[2019-07-02 17:07] oliviertassinari commented on #16445
@OsamaEhsan By minimal reproduction, I meant an isolated public git repository we can checkout. It should contain the minimum of code needed for us to debug the issue.

[2019-07-02 17:17] #16437 closed

[2019-07-02 17:31] oliviertassinari commented on #16448
@lucableve Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-07-02 17:42] #16393 closed

[2019-07-02 17:52] oliviertassinari commented on #16449
@andrewBsk Can you produce the problem with a raw `<input />` element?

[2019-07-02 18:38] cosmere opened #16456 "Styles injection order different between dev and prod"
First off, ❤️this project. It has helped me create some elegant front-ends while providing a nice DX. So 💯for that.

I am not certain this is a bug. However it seems odd to me. If this is not an appropriate place for this, please let me know and I will close it / move it / delete it upon maintainer request.

I only started experiencing this after upgrading from v3 to v4.

- [x] This is not a v0.x

[2019-07-02 18:53] oliviertassinari commented on #16456
Do you have a reproduction?

[2019-07-02 19:43] kof commented on #16435
I still don't understand it 🤷‍♂️

[2019-07-02 20:07] realisation opened #16457 "Using withStyles with Container throwing warning about refs, even though I didn't know I was using refs."
I tried to put my own styles into a Container component that I want to use in a Modal component (no custom styles in the modal component) with `withStyles`, and suddenly it was throwing warnings about functional components not being able to use refs. I should use React.forwardRef.

However, I wasn't using refs.

I just had a Modal component with my ContainerWithStyles component as a child.

Is thi

[2019-07-02 20:25] oliviertassinari commented on #16454
@7s4r This is mostly a documentation issue. You should check https://material-ui.com/components/links/#third-party-routing-library regarding how react-router should be used with the Link component.

However, I believe we can improve the DX around this issue. I would propose the following diff:
[code]

cc @eps1lon.

Do you want to submit a pull request? :)

[2019-07-02 20:26] oliviertassinari commented on #16457
@realisation Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-07-02 20:34] joacub commented on #16435
@kof for generator class names is needed some Parma’s for create a unique dynamic classnames is very simple when the class name hace some prop with function this create a link class with numeric auto increment but this logic not work with cache so is needed to know the props or other for create unique class name and no colisions

[2019-07-02 20:45] mrgab0 commented on #14416
it is a human error of appreciation

import { ThemeProvider } from '@material-ui/styles';
import { createMuiTheme } from '@material-ui/core/styles';

error is related to a typeof but sounds like a package error: Attempted import error: 'ThemeProvider' is not exported from '@material-ui/core/styles'.

[2019-07-02 21:35] francisrod01 commented on #14933
I agree. There's no way to run premium-themes on local server. I guess because it's premium. haha

[2019-07-02 21:59] dmiller9911 opened #16458 "react-number-format render loop with FormControl"
TextField or InputBase components wrapped in FormControl values can get out of sync with react-number-format component and cause render loops.

I am starting here, but I am a little torn where this issue should live. Recently I upgraded a project from MUIv3 to MUIv4, and one of our e2e tests(cypress) started failing. After some digging, I found an issue with MUIv4 and react-number-format when usin

[2019-07-03 01:56] mbrookes commented on #16239
You can make a passable carousel using the mobile stepper (this is a modified version of the docs example):

![image](https://user-images.githubusercontent.com/357702/60557530-c2e71200-9d3d-11e9-98c6-2095d78d9dd1.png)

https://codesandbox.io/s/material-demo-gq5rk

(The dots could do with a better colours, but I didn't attempt to restyle them.)

There is also: https://mui.wertarbyte.com/#material-a

[2019-07-03 04:15] ypresto commented on #16351
https://github.com/mui-org/material-ui/issues/16351#issuecomment-504965517

I found `makeStyles()` function has same difference of `@material-ui/core/styles` and `@material-ui/styles` version.

But in where referencing `makeStyles` in document it seems always referring `@material-ui/styles` one.

Only the document I found about that difference is here:
https://material-ui.com/customization/default

[2019-07-03 04:54] eps1lon commented on #16458
Can't reproduce with 0, 4x nor 6x CPU throttling. Will take a look at implementation later.

With "loop" you mean it causes an infinite loop?

[2019-07-03 04:56] eps1lon commented on #16454
Though we don't need the manual prepare step. This can be delegated to `useIsFocusVisible`.

[2019-07-03 04:58] eps1lon commented on #14416
You can use imports "like this". Just import the correct names (ThemeProvider -> MuiThemeProvider).

[2019-07-03 05:02] eps1lon commented on #16456
Likely same issue as #16374. Core issue is that we actually need to warn against imports from `@material-ui/core` because the `sideEffects: false` entry in our package.json is incorrect. Each component file has a side-effect: setting the order in which style tags are inserted.

[2019-07-03 06:47] koshkarik commented on #16105
Hello! Any updates on this issue?

[2019-07-03 06:49] oliviertassinari commented on #16105
What's new?

[2019-07-03 07:20] oliviertassinari commented on #16435
I'm closing, it's not something we will try to solve here in the long run.

[2019-07-03 07:20] #16435 closed

[2019-07-03 07:26] 7s4r commented on #16454
Thank you @oliviertassinari ! It works adding this code:
[code]

[2019-07-03 07:27] ScripterSugar opened #16459 "StylesProvider's injectFirst option not working for the server-side rendering"
Using injectFirst prop of StylesProvider does not change the injection order when render by server-side, especially in next.js example.

## Expected Behavior 🤔

By using injectFirst, MUI styles should be injected faster then other styles (styled-component in my case)

## Current Behavior 😯

Style injected first on the client side but not on the server side.

## Steps to Reproduce 🕹

As I'm not sur

[2019-07-03 07:30] siriwatknp opened #16460 "useMediaQuery return wrong width"
### I found that `useMediaQuery` has some glitch when screen changes from big to small

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
`useMediaQuery` should return correct width when screen changes

## Current Behavior 😯
When the screen change fro

[2019-07-03 07:38] oliviertassinari commented on #16454
@eps1lon The ButtonBase component fails identically to the Link component. I believe the components delegate the preparation step to when the ref trigger.

[2019-07-03 07:41] oliviertassinari commented on #16456
@cosmere Are you sharing a useStyles hook between different component? I have seen people impacted by it with the same symptom.

[2019-07-03 07:43] oliviertassinari commented on #16459
@ScripterSugar The `injectFirst` option has no impact on the initial response from the server. With Next.js, you should make sure the serialization order of the CSS is correct, it's in those lines:
https://github.com/mui-org/material-ui/blob/22ea5ae3b435f6a16b902c8621544b3e08a20783/examples/nextjs/pages/_document.js#L72

[2019-07-03 07:43] #16459 closed

[2019-07-03 07:49] eps1lon commented on #16454
Yep which makes more sense in a concurrent environment or non-ref environment. Not sure what you're trying to say. Breadcrumbs just needs to use the full `useIsFocusVisible` hook.

[2019-07-03 07:52] oliviertassinari commented on #16460
@siriwatknp This is a limitation of the current implementation of the demo. You can find a version that is free from this glitch in #16127 but it relies on a private API.

Do you really need this use with logic? It's mostly documented for migration purposes, it's not the encourage default approach.

[2019-07-03 07:57] ScripterSugar commented on #16459
@oliviertassinari

That resolved my issue. Thank you for the answer :)

[2019-07-03 07:58] oliviertassinari commented on #16454
@eps1lon What do you mean by full hook? The error reported in this issue originate from the Link component. Why is the breadcrumb a variable of the equation?

[2019-07-03 08:04] eps1lon commented on #16454
I was under the impression that patch targeted link which was still using prepare. There's no need to add an additional error in the `prepare` logic. We already have error messages for incorrect ref forwarding. Additional ones are just noise at this point.

[2019-07-03 08:26] roeycohen commented on #10873
complete icons list can be found here:
https://material.io/tools/icons/?style=baseline

[2019-07-03 08:30] oliviertassinari commented on #16454
@eps1lon I wish `elementTypeAcceptingRef` was enough in this case. The custom prop type warns for
[code]

but doesn't warn for
[code]

---

No matter what
[code]

Would already be a great step forward, @7s4r if you want to give it a try :) ?

[2019-07-03 08:34] siriwatknp commented on #16460
Actually, I only need a hook that return me the current width of the screen. I thought useWidth is something similar to withWidth. What is your suggestion?

[2019-07-03 08:35] siriwatknp commented on #16460
The glitch is from useWidth logic or it is from useMediaQuery. I think the latter is the reason.

[2019-07-03 08:38] eps1lon commented on #16454
Huh that's a weird one. I guess it doesn't warn because it's a class component at which point I don't understand why we can't get the correct host instance (that's what the findDOMNode fallback is for).

I can't get the codesandbox to run (had to add 2 missing dependencies and then it failed in `jss`).

Your patch is a great step but I'm interested in a reproducible example for that error message.

[2019-07-03 08:43] oliviertassinari commented on #16454
@eps1lon For reproducing, I had to use the export as zip feature of Codesandbox:

![Capture d’écran 2019-07-03 à 11 42 12](https://user-images.githubusercontent.com/3165635/60577218-9e178c80-9d87-11e9-9b72-5a1b96f57878.png)

It seems that findDOMNode returns a weird object with `import renderer from "react-test-renderer";`

[2019-07-03 08:45] oliviertassinari commented on #16460
The glitch comes from the useWidth demo usage. Can you work around the problem with a different usage strategy of `useMediaQuery`?

[2019-07-03 08:50] eps1lon commented on #16454
Yeah so it's an issue with `react-test-renderer`. No warning for `<Button component={RouterLink}>` is correct because `RouterLink` is a class component.

It's a slight variation of the previous issue where we prepared in the effect phase. In `react-test-renderer` there are not host instances which means we could fix it by moving it into the ref phase. This doesn't get called for host components bu

[2019-07-03 08:54] oliviertassinari commented on #16454
@eps1lon I think that you are right. I would suspect a bug into findDOMNode with react-test-renderer .toJSON().

[2019-07-03 09:22] #16351 closed

[2019-07-03 09:32] SephiL1nk commented on #16452
Thank you, you were right and it was solved using : https://github.com/facebook/react/issues/13991#issuecomment-496383268

[2019-07-03 09:35] #16444 closed

[2019-07-03 10:08] JavaJamie commented on #240
Hi @oliviertassinari. I have tried that but to no avail. It works if I do the following:
[code]
I just want to apply it only to the tab swipe transition. Thanks for your support and great work with Material UI. It really is a game changer :)

[2019-07-03 10:30] charlax commented on #10717
I'm also having the problem on Firefox (no issue on Chrome), on dev (can't reproduce on production), using a multiline field. Unfortunately, the code is pretty complicated. Pretty sure this issue is very hard to reproduce. From the stack, it looks like it's related to `syncHeight`.

[code]

[code]

[2019-07-03 10:41] eps1lon commented on #16458
Can only reproduce it if the first 2 inputs are fast. Once the mask is displayed I see no issues.

I think setting filled in an effect is wrong (we need to fix it if we do). It's a derived state and should therefore be handled as such.

[2019-07-03 11:41] oliviertassinari commented on #10717
@charlax We have done a few changes to the multiline handling logic in the master branch. Could you try the next release v4.2.0 this weekend? Most notably, the logic was isolated into its own component: [`TextareaAutosize`](https://master--material-ui.netlify.com/components/textarea-autosize/). We might have fixed the issue. We would need a reproduction to know for sure. Thank you!

[2019-07-03 11:46] oliviertassinari commented on #240
@JavaJamie Then something is off in the way you are changing the value. Try this:

[code]
https://codesandbox.io/s/material-demo-i6xwk

[2019-07-03 11:53] Rajarml commented on #14448
@IshaanKanwar I had exactly the same use case and I manage to find a solution after seeing a source code file *CardMedia.js*:
[code]

[2019-07-03 12:13] merkelAlbert opened #16463 "[Drawer] Container of Drawer jumps"
- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
If i initialize drawer in container with `SlideProps={{ direction: 'left' }}` (or `SlideProps={{ direction: 'up' }}` too)  container should stay immovable

## Current Behavior 😯
Container jumps

## Ste

[2019-07-03 12:15] rofazayn opened #16464 "Text field's outline overlaps label"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
What should happen is the following
![Screenshot_1](https://user-images.githubusercontent.com/37586909/60589536-a70d5b80-9d91-11e9-9aa7-2dc2f6302046.png)

## Current Behavior 😯
But instead I get this
!

[2019-07-03 12:18] rofazayn opened #16465 "[OutlinedInput] Label width is being calculated before fonts are loaded"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
What should happen is the following
![Screenshot_1](https://user-images.githubusercontent.com/37586909/60589536-a70d5b80-9d91-11e9-9aa7-2dc2f6302046.png)

## Current Behavior 😯
But instead I get this
!

[2019-07-03 12:23] rofazayn commented on #16465
I somehow opened 2 issues at the same time, weird
This is a duplicate of #16464

[2019-07-03 12:54] oliviertassinari commented on #16465
We have a similar issue with the Tabs component: https://github.com/mui-org/material-ui/issues/7187. I'm not aware of any better solution than the ones we have explored in the tab linked issue. To sum-up:
- The action path: we could expose an action prop to ask for the component to update its position, synchronise the outline gap with it.
- The font wait loading path: mount the React tree once the

[2019-07-03 13:08] amitava82 commented on #13625
The examples on codepen works but when I download the same package and run locally, it does not 😕

[2019-07-03 13:11] charlax commented on #10717
Thanks for adding this component - I had implemented it myself and will now be able to remove it.

Awesome, will try it out this week-end.

[2019-07-03 13:43] rofazayn commented on #16465
I dug into FontFaceObserver, and I found a solution

I loaded the font first and returned a promise that resolves when the font is loaded then renders the page

[2019-07-03 15:00] rahuliet opened #16466 "How to modify font-size of tooltip in SpeedDialAction of React's Material UI"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker. For usage and support questions, please check out the resources below. Thanks!

---

1. Read the [documentation](https://material-ui.com/).
2. Ask questions on [StackOverflow](https://stackoverflow.com/questions/tagged/material-ui) using the tag material-ui.
3. Chat with the community on [Spectrum](http

[2019-07-03 15:27] #16466 closed

[2019-07-03 15:28] AndreasSchouten opened #16468 "Upgrade from v3 to v4 - Error: Cannot find module"
I upgraded from material-ui v3 to v4. (Tried different subversions.) My bundler is not able to find a refreced js file.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The import should work as before with v3.

## Current Behavior 😯

Error message

[2019-07-03 15:45] nickanna42 opened #16469 "Outlined Select broken between v4.0.2 and v4.1.3"
Upgraded from the version stated in title, and my outlined selects no longer work properly

- [ x] This is not a v0.x issue. <!-- (v0.x is no longer maintained)
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Clicking anywhere on the Select component should cause the dropdown men

[2019-07-03 15:51] andrewBsk commented on #16449
Can confirm that problem is occurring with raw `<input/>` as well.

[2019-07-03 15:58] christophrus commented on #5055
@oliviertassinari So was this completely removed at some point? Really missing this feature.

[2019-07-03 16:10] oliviertassinari commented on #16449
@andrewBsk Thank you! So it's not linked to something that Material-UI does wrong.

It would be interesting to know if it's something we can solve here? Did you find a related issue in the iOS safari issue tracker?

[2019-07-03 16:11] oliviertassinari commented on #5055
@christophrus It was never added nor removed. It's a browser feature (`<input type="search" />`).

[2019-07-03 16:17] martinmckenna opened #16470 "TextField Select Variant's `event.target` not a DOM node"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

[code]
## Current Behavior 😯

[code]

See example here:

https://codesandbox.io/embed/happy-chandrasekhar-xd0ee

[2019-07-03 16:38] joacub commented on #16435
The solution is very simple, pass the props in the param options...

[2019-07-03 16:38] oliviertassinari commented on #16469
@nickanna42 Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-07-03 16:40] oliviertassinari commented on #16435
@joacub The long term plan is to rely on react-jss and have style adapters for styled-components, etc. I believe that this change would be better applied on react-jss.

[2019-07-03 16:41] oliviertassinari commented on #16468
@AndreasSchouten Could it be a bug in Parcel?

[2019-07-03 16:43] oliviertassinari commented on #16468
Well no, it might be a wrong assumption, it works with https://github.com/mui-org/material-ui/tree/master/examples/parcel. Do you have a reproduction?

[2019-07-03 16:47] oliviertassinari commented on #16470
It's a duplicate of #14778.

[2019-07-03 16:47] #16470 closed

[2019-07-03 16:50] anna-kol opened #16471 "Ability to customize backdrop of select and popover"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Select and popover components each generate a backdrop
menu-label for select
material-ui-popover-wrapper for popover
They both have z-index of 1300 and i think there should be an ability to customize i

[2019-07-03 18:43] bigtone1284 commented on #16360
@Katecarter @leMaik @oliviertassinari I opened a PR to address this example. Would appreciate a review from all/any of you. I will be out of town for a couple of days so I might not be able to address all of your concerns before early next week.

[2019-07-03 19:19] oliviertassinari commented on #16471
The underlying issue is identical to #16442. Is that OK with you if we close as duplicate?

[2019-07-03 19:27] bigtone1284 commented on #15867
@joshwooding @mesvil7 @mnbroatch

I opened a PR on this and appreciate any input on this. I gave a first effort at adding some language to help clarify.  Thanks! I can probably address any concerns early next week.

[2019-07-03 19:41] amakk commented on #15993
Has anyone had a chance to look into this?

In the mean time, what I have done is copied the `Box` component and increased specificity of CSS generated by `Box`. Here is the implementation, in case it's helpful for others having this issue:

[code]

[2019-07-03 20:30] francoiscabrol commented on #16441
@oliviertassinari it solved the issue for me but I had to add an important in the css to override the z-index.

[2019-07-03 20:56] oliviertassinari commented on #16441
@francoiscabrol Right, same issue as #16442.

[2019-07-03 20:56] #16441 closed

[2019-07-03 21:00] rahuliet commented on #16466
Solution is posted at https://stackoverflow.com/questions/56870940/font-size-of-tooltip-in-speeddialaction-of-reacts-material-ui

[2019-07-03 21:36] francisrod01 opened #16474 "alias is not a valid Plugin property while using doc-development babel env"
We primarily use GitHub as an issue tracker. For usage and support questions, please check out the resources below. Thanks!

Hey everyone, I'm trying to create a project from scratch following this repo, but to use only `onepirate` theme. It's ALL OK, but when I browser to `/sign-in/` and refresh the page, all routes are available only if I remove the last "/".

Can you help me about this experien

[2019-07-03 21:50] fafamx opened #16475 "Box clone ignores SyntheticEvent"
Adding clone property to Box component will cause SyntheticEvent to break. It's actually passing styling props and nothing more.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Clone should also pass events and everything else that react expects on

[2019-07-03 22:48] NMinhNguyen commented on #16374
@eps1lon @oliviertassinari this is the exact issue I mentioned in https://github.com/mui-org/material-ui/pull/15355#issuecomment-503234660 btw

[2019-07-04 00:25] romanr commented on #15573
I am interested in creating custom variant in Typography. It seems to be working, however there are errors in console.

Theme:

[code]

Code:

[code]

Just works!

But with error in console: 🤕

[code]

So the only change required is to not to threat this as an error?

[2019-07-04 02:03] Nutties93 opened #16476 "How to align table pagination internal components. (Captions,Actions ...)"
I was able to center the 'entire' table pagination but I couldn't align the internal components of tablePagination from MaterialUI separately with the code below. I would like to center the Pagination caption and 'right' action components. I've also have looked into the source code of tablePagination and tried the css styles there as well. But the results are the same.

Pagination: {
   display:'f

[2019-07-04 05:43] #16476 closed

[2019-07-04 05:55] ShivamJoker opened #16477 "[Popper] How can I remove the transform minimum value of 5px?"
I am trying to use popper with autocomplete search but it is having some issues with positionsing right below the NavBar of mui

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

It should appear below the navbar and centered

## Current Behavior 😯

[2019-07-04 05:59] oliviertassinari commented on #16449
I have missed this part. I would assume it's a bug on their end: https://apps.apple.com/gr/app/swiftkey-keyboard/id911813648

I'm closing for now.

[2019-07-04 05:59] #16449 closed

[2019-07-04 06:33] oliviertassinari commented on #15573
@romanr Thanks for experimenting around with. People using TypeScript will also have an issue with the accepted values. I think that we can soften the static prop types to accept more values. The challenge is to keep the default values documented, while ideally have a dynamic check that the variant you are trying to use is defined.

[2019-07-04 06:36] #16445 closed

[2019-07-04 06:37] #16448 closed

[2019-07-04 07:14] anna-kol commented on #16471
ok, thanks

[2019-07-04 07:42] #16471 closed

[2019-07-04 08:46] #16122 closed

[2019-07-04 08:55] eps1lon commented on #16443
Re-opening since I noticed this in our docs as well:

25.88 ms
Self Time
29 μs

It seems weird that this should run 1000 times.

[2019-07-04 08:56] AndreasSchouten commented on #16468
@oliviertassinari Thaks for the link. The example works and it works also with checkboxes.

I copied step by step all my configuration to the example project, but was not able to reproduce the error.

On the other I found a workaround. If I import the Checkbox in the first js file which is parsed, the error disapears.

By now I not understand this sind effekt. If I will find a propper solution or

[2019-07-04 08:56] #16468 closed

[2019-07-04 09:10] lflserg commented on #7680
Still its a problem

[2019-07-04 10:19] oliviertassinari commented on #16477
Your codesandbox seems OK. The popper display right under the anchor element and is correctly centered. What's the issue in more detail?

[2019-07-04 10:20] eps1lon commented on #16443
This seems to be an issue with chrome 75 (and 76 beta). I can't really pin point it but it seems like that the first `addEventListener` call is just slower than usual regardless of the event type.

Will re-open if this happens in other browsers as well but so far it seems like it should be handled in the chromium issue tracker.

[2019-07-04 10:20] #16443 closed

[2019-07-04 10:38] oliviertassinari commented on #16475
@fafamx So far, we have been spreading the props when using the cloneElement API in the codebase. Doing the same in this case sounds reasonable. We would need to change the spread logic around those lines https://github.com/mui-org/material-ui/blob/143124dc944f61c9f4456ea3cd7e4a3e6cebd668/packages/material-ui-styles/src/styled/styled.js#L91. Do you want to give it a shot?

[2019-07-04 11:01] ShivamJoker commented on #16477
@oliviertassinari try changing the height to 100% and didn't you noticed the popper is slightly moved
![https://i.imgur.com/qCPfgJK.png](screenshot)
When you will inspect the popper has translate3D of 5px and 26px which shouldn't be there

[2019-07-04 11:06] eps1lon commented on #16477
@ShivamJoker The codesandbox linked in the original issue does not look anything like your screenshot. Maybe you forgot to update the link?

[2019-07-04 11:11] oliviertassinari commented on #16474
@francisrod01 I'm closing for #14604. I believe that the pain point is identical, the free full theme examples we host on the repository are not straightforward to use. They require too much knowledge.

[2019-07-04 11:11] #16474 closed

[2019-07-04 12:07] francisrod01 commented on #16474
Hey @oliviertassinari, thanks for answer this issue.
I don't think so, it's not too hard to use with the projects from scratch, like the projects in the `examples` folder. But I found this problem about the last slash in all links on the browser and we need to solve it in the premium-themes or maybe creating a helper to that as a theme module.

[2019-07-04 12:12] serrnovik opened #16480 "Stepper having two and more steps causing warnings received `false` for a non-boolean attribute inside internal SVG"
Stepper having two and more steps causing  Warnings : Received `false` for a non-boolean attribute `active` (and same for completed) inside internal SVG inside (probably) Step.js

## Expected Behavior
Create simple stepper **with two and more steps** (having just one step causes no warnings), like:
[code]
Expect to see no issues in console log.
## Current Behavior
[code]

[code]

## Environment 🌎

[2019-07-04 12:50] ShivamJoker commented on #16477
@eps1lon sorry for the inconvenience something went wrong while forking it
https://codesandbox.io/s/material-demo-zqi1z this is the updated link can u please give a solution
or fix it

[2019-07-04 12:52] oliviertassinari commented on #16474
@francisrod01 I'm confused, you are mentioning a Babel issue in the title of the issue.
Is the last slash issue you are mentioning something different, what's the problem about?

[2019-07-04 13:02] francisrod01 commented on #16474
Sorry, i can explain that. After the slash issue, I've tried to sue the babel command to run the application, but I also needed to use some modules from the material-ui project, like `helpers`, `log`, `handleKillSignals.js`, etc, and this issue is related about a babel configuration to run as `doc-development` environment.

[2019-07-04 14:17] mschipperheyn opened #16481 "[Grid] Allow arbitrary spacing (decimals)"
Grid spacing spits out a warning when you use e.g. 1.5. That sucks.

- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Grid spacing should allow decimals.

## Current Behavior 😯
It spits out a warning when you do.

## Context 🔦
Designs sometimes req

[2019-07-04 15:18] oliviertassinari commented on #16477
@ShivamJoker Thank you.

I agree with the 5px part. I don't think that it should be here. Now, all the layout computation is handled by https://github.com/FezVrasta/popper.js. We only provide a React API on top of the JavaScript one. The preventOverflow modifier has a default padding value of 5px: https://github.com/FezVrasta/popper.js/issues/704. You can override it:
[code]

https://codesandbox.i

[2019-07-04 15:39] CRGavrila opened #16482 "display none when is checked, and change the label's color"
Hello, I checked everywher and I couldn't find any:
I'm tring to change color to the label when checkbox is checked
`

const styles = theme => ({
  root: {
    position: "relative",
    width: "100%",
    display: "flex",
    "& input:checked ~ label": {
      color: "red"
    }
  },
  label: {
    padding: 4
  },
  day: {
    textTransform: "uppercase"
  },
  dayInput: {
    // display: 'none'

[2019-07-04 15:43] siriwatknp commented on #16460
But I think the glitch is in `useMediaQuery`.
Take a look here. https://codesandbox.io/s/material-ui-layout-v10-b4wil
I change `useWidth` logic to something very simple. I keep resizing the screen but it still return `null` which means `useMediaQuery` return `false` for every breakpoint?

[2019-07-04 15:54] fafamx commented on #16475
@oliviertassinari Sure, I'll give it a try. Keep you posted 👍

[2019-07-04 15:54] oliviertassinari commented on #16480
@serrnovik You can't provide an icon directly to the connector props like it's done:
[code]
You need to provide an intermediary component:
[code]

Does it solve your problem?

[2019-07-04 16:00] oliviertassinari commented on #16482
@CRGavrila How would you do it with pure CSS? Maybe you would need to change the DOM structure?

[2019-07-04 16:07] KamalAman opened #16483 "Disabling Theme transitions do not work without the presence of CssBaseline"
The [FAQ](https://material-ui.com/getting-started/faq/) documentation states how to disable transitions with

[code]

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Progress bars should not animate.

## Current Behavior 😯

Transitions are not disa

[2019-07-04 16:17] raphaelbadia opened #16484 "customizing Select's Paper with a forwardRef looses style on the way"
I'm trying to customize the Paper in the Select component, to add "clear" and "select all" buttons.
I need to pass props to my customized paper so I extracted it to a new component using forwardRef.

But when selecting an option, the menu looses its positioning attributes, and it goes on the top-left on my screen.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.c

[2019-07-04 16:21] ShivamJoker commented on #16477
Hey thanks for the help I didn't mean to get rid of that 26px but in my case i want the popper to appear below the navbar which is not happening but the 5px padding is gone
can you please tell what should fix that I am directly targeting the header with `navbar` id
but it ends up going to the top of the viewport no matter how i manage to give the `HTML object reference`
[code]

You can also see in

[2019-07-04 16:24] philraj opened #16485 "TextField types are not allowing spreading props over pre-set variant value"
TextField types are not allowing spreading props over pre-set variant values like so:

[code]

I think this has to do with how the type union for TextFieldProps includes types that specify `variant` as a required prop, despite the fact that it's an optional prop.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository an

[2019-07-04 16:35] eps1lon commented on #16485
Duplicate of #15697

[2019-07-04 16:35] #16485 closed

[2019-07-04 16:40] oliviertassinari commented on #16477
@ShivamJoker Would this be a question for StackOverflow? Does it work without the height 95%?

[2019-07-04 16:51] oliviertassinari commented on #16483
@KamalAman I have tried your codesandbox with v3. It doesn't seem to work either. Any idea what changed between v3 and v4?

Interesting, the FAQ relies on the presence of the CssBaseline component in the react tree: https://codesandbox.io/s/material-demo-s71sb. I think that we should warn about it in the question, well spotted! :D Do you want to submit a pull request?

What do you mean?

Do you ex

[2019-07-04 16:54] oliviertassinari commented on #16484
@raphaelbadia You are creating a new component at each render. React will unmount and remount it. We don't handle that well. Using the same component seems to solve the issue: https://codesandbox.io/s/material-ui-responsive-table-butui.

[2019-07-04 16:56] mschipperheyn opened #16486 "Speeddial action click should pass key name"
A speed dial sub action click generates a general click event.
It should pass the name of the action key (as well).

- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Sub action click should pass the name of the action key (as well).
`
<SpeedDialAct

[2019-07-04 16:56] #16484 closed

[2019-07-04 17:08] ShivamJoker commented on #16477
@oliviertassinari yes yes it works without the height i want the height to be taken for all the empty space what should i do ?

[2019-07-04 17:09] KamalAman commented on #16483
@oliviertassinari

The context for this issue is that I have visual regression tests with storybook-puppeteer. Since the transitions/animations are not disabled for any progress bars, by test suite fails.

[2019-07-04 17:11] oliviertassinari commented on #16477
Oh great, then you don't need the Popper component. I believe you can solve the problem with only CSS.

[2019-07-04 17:11] #16477 closed

[2019-07-04 17:14] oliviertassinari commented on #16483
Oh thanks, it's perfectly clear now. So I believe it's about the missing CssBaseline in the documentation and in your react tree. Does it should your problem?

[2019-07-04 17:17] raphaelbadia commented on #16484
But how can I pass props to my paper then ?

On Thu 4 Jul 2019 at 18:57, Olivier Tassinari <notifications@github.com>
wrote:

[2019-07-04 17:24] oliviertassinari commented on #16484
Like this?
[code]

[2019-07-04 17:27] #16486 closed

[2019-07-04 17:27] eps1lon commented on #16486
`key` isn't a normal react prop. You can't read it from inside your component.

It's up to you how you want to determine the clicked action (create event handlers per key, as `data-key` attribute etc.

[2019-07-04 18:31] philraj commented on #16485
Looks like I entered the wrong search terms, apologies.

[2019-07-04 19:32] eps1lon commented on #16485
No worries. That's what we are for. Even helps visibility.

[2019-07-04 22:11] sumedhan opened #16488 "[MenuItem] dense not working"
`dense` prop on MenuItem is not working as expected. Since the MenuItem has a[ default ](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/MenuItem/MenuItem.js#L12) vertical padding of 4 and [dense](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/ListItem/ListItem.js#L42) ListItem also has the same padding, there is no visual difference between

[2019-07-04 23:21] mateja176 opened #16489 "@material-ui/core has no exported member 'MuiThemeProvider'"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

`MuiThemeProvider` is exported by `@matterial-ui/core` or a related package

## Current Behavior 😯

Error is thrown
`@material-ui/core has no exported member 'MuiThemeProvider'`

## Steps to Reproduce

[2019-07-05 00:02] merceyz commented on #16489
Seems it's only exported in `@material-ui/core/styles`

[2019-07-05 02:02] Pikachews commented on #13416
I noticed that the position that the menu opens at depends on the scroll position of the menu... maybe that might provide a clue as to what's going on here?

[2019-07-05 02:08] Pikachews commented on #13416
And disabling `keepMounted` seems to fix the positioning when it is opened (likely because the scroll position would be reset every time it is closed).

[2019-07-05 03:09] ypresto commented on #15827
Implemented @CarsonF's solution in #16487!

[2019-07-05 06:40] #16457 closed

[2019-07-05 06:51] dondi opened #16491 "TextField `multiline` with no `rows` throws error when using ReactTestRenderer"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When a renderer for `<TextField multiline />` is created by `ReactTestRenderer.create`, no errors should be thrown:
[code]

## Current Behavior 😯

Running a test containing such a request produces thi

[2019-07-05 06:56] #16360 closed

[2019-07-05 07:06] oliviertassinari commented on #16491
@dondi Thanks for the report, the issue is that the input ref is null when the *useLayoutEffect* effect triggers. I'm wondering if we shouldn't change the logic to:
[code]

[2019-07-05 07:49] oliviertassinari commented on #16491
In v1 -> v3 we were avoiding the issue with:
https://github.com/mui-org/material-ui/blob/acbf1e360c326de183cc1801f7510222060e54b4/packages/material-ui/src/InputBase/Textarea.js#L103-L111

[2019-07-05 07:53] raphaelbadia commented on #16484
Oh it works perfectly, thanks a lot !

[2019-07-05 08:01] oliviertassinari commented on #16491
@dondi What do you think? Do you want to submit a pull request?

I have run the following script:
[code]

The problem seems to be isolated to the TextareaAutosize :)

[2019-07-05 08:12] 311289189 opened #16492 "scss/css module support"
Material UI, should be available in Scss, due to the limitations and problems inherent in JSS

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The framework should be style agnostic, or JSS should be removed in favour of native css support

## Curr

[2019-07-05 08:23] oliviertassinari commented on #16488
@sumedhan Thanks for the report. I can confirm that the dense prop doesn't work. Following the specification, I think that it would be interesting to make it work: https://material.io/design/components/menus.html#specs.

What do you think of this diff?
[code]

Do you want to submit a pull request? The dense mode can then be activated with:
[code]

[2019-07-05 08:24] oliviertassinari commented on #16492
Yes: #16238.

[2019-07-05 08:27] dondi commented on #16491
Thanks for the quick analysis! It'll take a little longer to digest everything but sure, once I’ve gotten myself situated, I can submit something.

[2019-07-05 08:33] oliviertassinari commented on #16492
@311289189 This is being prioritized in v5: #6218. I have a work in progress: #16238. The plan is to make styled-components the default engine while keeping JSS for backward compatibility.

I don't understand this argument, could you expand on it? :). For instance, what's your fear n°1? What

[2019-07-05 09:28] oliviertassinari commented on #16482
@CRGavrila I gave your issue a second try. I can't think of any CSS selector that can handle your DOM structure. I'm closing, it will be better asked on StackOverflow, this doesn't surface an issue with Material-UI. It's more a CSS / React question. You should either reverse the span and input or control the input to get the checked state in JavaScript.

[2019-07-05 09:28] #16482 closed

[2019-07-05 09:47] serrnovik commented on #16480
Thank you seems to have no warning after change.

[2019-07-05 09:50] #11865 closed

[2019-07-05 09:50] oliviertassinari commented on #16480
@serrnovik Great! :) It seems that the description in: https://github.com/mui-org/material-ui/blob/300d4eb916ad0d941ae4717d9a42e3e1b3501435/packages/material-ui/src/Stepper/Stepper.js#L122-L125 is wrong. It accepts an element, not a component. Would fixing the description help in your case? Is this something you want to change? :)

[2019-07-05 10:09] oliviertassinari commented on #16460
@siriwatknp Nothing surprising from my perspective. I'm not aware of any guarantee in the order the different hooks will resolve. We might end up in an intermediary state where no media query matches.

[2019-07-05 11:28] serrnovik commented on #16480
@oliviertassinari, yes. Description is deceiving now.
If I saw an error from typescript typings that would save some time on debugging the issue.
to be consistent with style I'll use:
[code]

[2019-07-05 12:03] maxmantz opened #16493 "Migrating from v3 to v4 - why do my components render differently?"
After upgrading from v3 to v4, I have encountered strange issues regarding the colors of my components.

Example 1:
![image](https://user-images.githubusercontent.com/6616421/60720395-ef13b600-9f2a-11e9-8fe4-8983d5debb9c.png)

This is the view I get when I load the page initially. Everything looks fine, except the font color of the labels on the left sidebar. Those should be bright, since the them

[2019-07-05 12:15] konqi opened #16494 "Label for inputs should be associated via wrapping, not "for" attribute"
Not sure if this has been asked before (I wasn't able to find an issue for it).
HTML5 allows two ways to associate a label with an input field. The first one is via the "for" attribute and an id, like
[code]

The other is to use the label as a wrapper, like
[code]

When using the first method if no id is set the browser does not know about the relation between the label and the input. This isn't i

[2019-07-05 12:16] jpsalvadorm63 commented on #13734
Maybe its better to separate `theme` (stuff like palette) from `style` (stuff like `margin` and `padding` etc.

[2019-07-05 12:30] oliviertassinari commented on #16493
@maxmantz Should help:

1. We have changed the CSS color inheritance. In this case, you will need a wrapping `<Typography component="div">` to apply the correct color.
2. If you start using the theme provider component, you should always have on at the top of your react tree. It's related to #15914

[2019-07-05 12:30] #16493 closed

[2019-07-05 12:35] eps1lon commented on #16494
Yeah that would be nice. Styling is quite tricky though so it might not be viable or require a lot of effort. Adding an `id` prop to the `TextField` does not though which is all that is required to make it accessible.

The `getByLabelText` from `@testing-library/react` might be problematic because it doesn't use `textContent` but joins text nodes.

If you have problems with accessibility either ch

[2019-07-05 12:36] oliviertassinari commented on #16494
@konqi I believe It's in the public API landscape, I'm not sure we can change anything before v5. But it's worth exploring. When I look at Bootstrap and Reakit, none use this pattern, why?

[2019-07-05 12:38] eps1lon commented on #16494
Or they don't know about it?

[2019-07-05 12:44] oliviertassinari commented on #16494
I don't know, let's ask.

Hey @diegohaz, I was looking at your experimental API for solving the form problem in https://reakit.io/docs/form/, it's interesting! :). I was wondering, what's the tradeoff behind doing:
[code]

and not?

[code]

Thanks.

[2019-07-05 12:46] oliviertassinari commented on #16494
@eps1lon Do we still have a few contrast issues?

[2019-07-05 13:06] konqi commented on #16494
@eps1lon to be honest, accessibility is not really my main concern here. I believe it's a side-effect of me having an id-allergy. So being forced to use Ids is my greatest pain. Reusability of components using Inputs is also reduced. e.g. when I render the same component twice, the same id exists twice on the dom - that simply shouldn't happen and is the reason why I avoid ids if possible.
I'd lik

[2019-07-05 13:24] maxmantz commented on #16493
@oliviertassinari

wrapping the two `<muiThemeProvider />` with another seems to have fixed my issue. Thanks a lot!

[2019-07-05 13:53] mateja176 commented on #16489
It is exported indeed. When you log `MuiThemeProvider` to the console. the result is:

[code]

However the `ThemeProvider` exported from `@material-ui/core/styles` is not the same as `MuiThemeProvider` from `@material-ui/core`. For example even when `ThemeProvider` is present, the components do not respond to changes in the theme palette ( the components did respond when `MuiThemeProvider` was pre

[2019-07-05 14:19] oliviertassinari commented on #13416
@Pikachews Thanks for reporting the issue. Yes, it seems that the component doesn't support the `keepMounted` prop very well.

[2019-07-05 14:28] eps1lon commented on #16460
Couldn't quite reproduce it though I did get the occasional `null`.

Wouldn't it make more sense to check if the screen size is above a certain breakpoint and the return the biggest one. For example:

[code]

Solves the issue of holes between the intervals which removed the occasional `null` for me.

@siriwatknp Could you try that implementation and see if it solves your issue?

[2019-07-05 14:38] eps1lon commented on #16494
Yeah I totally get that. Creating ids is a common pain point currently. The upside of  using ids is that you get to use `aria-describedby` or `aria-controls`. So even if we can switch to <label><input /></label> by default we would still advice our users to pass an id for the helper text.

Of the top of my head I can't find any strong concern against it. Only issue might be stacking context. Someb

[2019-07-05 15:43] merceyz commented on #16489
https://github.com/mui-org/material-ui/blob/6a7daaad5d7db4ebcc48eeeba927ef007c655e5f/packages/material-ui/src/styles/index.js#L5
https://github.com/mui-org/material-ui/blob/6a7daaad5d7db4ebcc48eeeba927ef007c655e5f/packages/material-ui/src/styles/index.d.ts#L11

It is exported

[2019-07-05 15:53] Exitialis1 opened #16496 "CSS specificity is not working when trying to set Icon font size"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Setting the css property font-size should over-ride the default font size.

## Current Behavior 😯
When styling with makeStyles the default CSS has higher specificity. causing the font size to remain it

[2019-07-05 16:18] oliviertassinari commented on #16496
I fear we can't help much without a reproduction 😔.

[2019-07-05 16:45] diegohaz commented on #16494
Reakit supports wrapping inputs with the native `<label>` (not `<FormLabel>`) just like one would do with HTML. The documentation uses this method specifically for [checkboxes and radio buttons](https://reakit.io/docs/form/#checkbox), but nothing prevents someone from using this for other input types.

`FormLabel` just exists so you can use the separate label approach without worrying about genera

[2019-07-05 17:13] Hacksign opened #16498 "Is there any distribution(umd production version) file of @material/styles ?"
# What I want to do

I'm trying to exclude material-ui from my bundle file. But there seems no umd development/production version of `@material/styles` package.

# What is the problem

There are some components like `ThemeProvider`, which is exported by `@material-ui/styles`, caused `@material-ui/esm/styles` is included again when bundling files with webpack.

If I exclude `@materal-ui/styles` in

[2019-07-05 17:24] User195 opened #16499 "Slide component adds hardcoded 24px gutter"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
I use Slide component to build castom carousel. Slide one by one horizontally. But I notice gap between slides. Later I figure out Slide component compute transition translate by block width and add gu

[2019-07-05 18:47] oliviertassinari commented on #16499
The gutter was added in #7072 to hide the Paper box shadow. I'm wondering if we couldn't use an overflow hidden approach instead.

[2019-07-05 18:47] mateja176 commented on #16489
A temporary workaround is to add the `@ts-ignore` decorator or to enhance the module i.e.
[code]

[2019-07-05 18:52] mateja176 commented on #16489
Or an even better solution as suggested by @merceyz would be to import `MuiThemeProvider` from `@material-ui/core/styles` like so:

[code]

[2019-07-05 18:53] oliviertassinari commented on #16498
We have no UMD version of @material-ui/styles. Did you try to create your own vendor bundle (with React, Material-UI etc.)?

[2019-07-05 18:58] ilovett commented on #16037
I was getting plenty of `Unrecognized create() parameter` warnings with @oliviertassinari implementation, I've updated it to be more specific about props:

![image](https://user-images.githubusercontent.com/1776100/60739196-e2389780-9f15-11e9-9f9b-105230bcea5a.png)

[code]

[2019-07-05 19:13] mateja176 commented on #16489
However if you are extending the Theme with custom fields go for the first option since `MuiThemeProvider` from `@material-ui/core/styles` removes extra fields i.e. my custom colors field was removed.

[2019-07-05 19:22] oliviertassinari commented on #16498
Also, I hope you are not using the UMD version of @material-ui/core.

[2019-07-05 19:22] mateja176 opened #16500 "MuiThemeProvider removes extra fields from theme"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

As with `@material-ui/core@^3` the extra theme fields ( i.e. colors ) should not be removed

## Current Behavior 😯

Any extra fields are removed after the created theme is passed to MuiThemeProvider a

[2019-07-05 19:24] oliviertassinari commented on #16500
You can't mix v3 and v4 versions. You need to use the same versions.

[2019-07-05 19:24] #16500 closed

[2019-07-05 19:24] #16498 closed

[2019-07-05 19:25] oliviertassinari commented on #16496
Check your dependencies, maybe you have duplicated version of the Material-UI packages. I'm closing until we can reproduce the issue.

[2019-07-05 19:25] #16496 closed

[2019-07-05 19:25] #16469 closed

[2019-07-05 19:26] #16456 closed

[2019-07-05 19:59] lucasfalcaojump commented on #10110
@oliviertassinari the suggestion you wrote doesn't work. I'm trying to attach a masked input inside the Material UI TextField, but my application doesn't even load... something like this:

[code]

[2019-07-05 20:00] ryancogswell commented on #16496
I verified that there are in fact two copies of at least some portions of Material-UI within https://armicus.com/static/js/2.036c5f94.chunk.js.

Specifically, I found two copies of the following code:
[code]

which is from the `decomposeColor` function in https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/styles/colorManipulator.js#L115.

The two different copies have diff

[2019-07-05 21:09] mateja176 commented on #16500
Firstly, thanks for reviewing the issue. However all of the `@material-ui` packages are version 4 or higher as can be seen below

[code]

I'm not sure what made you think that I am mixing up version. Anyhow the problem still remains as illustrated by the following screenshots

![Screenshot from 2019-07-05 23-05-31](https://user-images.githubusercontent.com/33357948/60745259-c9fa6400-9f79-11e9-8049

[2019-07-05 21:31] ryancogswell commented on #16496
@Exitialis1 When creating the sandbox, I suspect that you changed some aspects of the code structure compared to your actual code. In your actual code, are you defining the styles in a separate file?

The order in which the style sheets appear is determined by the order in which `makeStyles` is called. For Material-UI components, this is at the point when the component is first imported. This mean

[2019-07-06 06:30] oliviertassinari commented on #16500
I was looking at https://github.com/mateja176/react-hot-starter/blob/2b653b145a79fbdc35b1cbc83f2afd41152c0049/package.json#L27
[code]

[2019-07-06 09:22] mateja176 commented on #16500
@oliviertassinari Actually everything works fine with that setup ( on `master` ) 😂 The issue of theme fields being removed occurs on the `material-ui-4` branch as noted in steps to reproduce ( `git checkout material-ui-4` ). Nevertheless the problem still remains even after upgrading all `@material-ui` packages to their latest version ( namely v4 or higher ).

[2019-07-06 09:57] eps1lon opened #16502 "Improve internal search results on material-ui.com"
Listing various points that could be improved for searching our docs. Also documenting unhelpful search results. It's not about implementing all of those but exploring how viable they are or if they have better alternatives.

- allow browsing results (currently limited to 5 results)
- implement opensearch
- improve a11y (they are announced as "search result" in chrome + NDVA)

Unhelpful results:
-

[2019-07-06 10:31] oliviertassinari commented on #16500
Oh, I'm sorry about that. We are expecting a minimal reproduction, I wasn't expecting a project with multiple branches. This is an issue tracker for bugs in Material-UI, not a support help line.

[2019-07-06 10:40] mateja176 commented on #16500
You're right a minimal reproduction is easier to debug. However, I wasn't looking for a support helpline but to help identify and solve a potential issue with `@material-ui/core`.

[2019-07-06 11:16] eps1lon commented on #16500
@mateja176 Top of your console includes

This may cause theme propagation issues, broken class names and makes your application bigger without a good reason.

`npm` included multiple versions even though `npm ls` resulted in
[code]

It shouldn't install two versions. If I remove `node_modules/@material-ui/core/node_modules/@material-ui/styles` everything works. Try regenerating your package-lock o

[2019-07-06 11:47] mateja176 commented on #16500
@eps1lon On point, thank you so much! All that was required is:

[code]

And `@material-ui/styles@4.1.2` is now deduped

[code]

My apologies, this was not directly related to `@material-ui`.

[2019-07-06 12:11] oliviertassinari commented on #16502
I wish Algolia docsearch was implementing the analytics conversion API. Quantitative data could help. At least, we could measure the global impact of our changes. For instance, we could consider a successful conversion when staying more than 30s? on the result page. Or maybe we could start simpler and only implement the click event.

[2019-07-06 12:33] oliviertassinari commented on #16499
@eps1lon Came up with a better solution in #14465. I think that we can revert the gutter changes now. I haven't noticed any issue without.

@User195 What do you think of this diff?
[code]

Do you want to submit a pull request :)?

[2019-07-06 13:04] oliviertassinari commented on #16354
@Exitialis1 Did you had something like this in mind?

![Capture d’écran 2019-07-06 à 16 03 07](https://user-images.githubusercontent.com/3165635/60756576-a3830a00-a007-11e9-80bd-263d6c91c6a1.png)

![Capture d’écran 2019-07-06 à 16 03 59](https://user-images.githubusercontent.com/3165635/60756584-aed63580-a007-11e9-9f47-6431605a19cb.png)

[code]

[2019-07-06 13:20] Exitialis1 commented on #16354
That would be perfect yes, I should have mentioned originally that I wanted to use it to combine a normal button and an icon button for a more options drop down. I don't know if that would affect the changes that you made.

[2019-07-06 13:23] oliviertassinari commented on #16354
@Exitialis1 I would hope that it behaves identically. @mbrookes What do you think?

[2019-07-06 14:02] oliviertassinari commented on #16463
@merkelAlbert Interesting. I have no clue what could be wrong in this case. Did you or your team found a solution?
![Capture d’écran 2019-07-06 à 16 59 46](https://user-images.githubusercontent.com/3165635/60757144-7aff0e00-a00f-11e9-988b-5aa04b2c2005.png)

It looks like a browser bug but it behaves in different wrong ways on Safari, Chrome and Firefox.

[2019-07-06 14:16] merkelAlbert commented on #16463
@oliviertassinari, yes, we found two doubtful solutions. First is ```disablePortal: true``` in ```ModalProps```.Second is ```variant="persistent"```. We can adapt these solutions to our requirements. But the fact is that we cant use this native drawer api out of the box like with working cases, that i described in the issue

[2019-07-06 14:51] oliviertassinari commented on #16494
@diegohaz Thanks for the feedback!

[2019-07-06 16:59] eps1lon commented on #16436
Fix released in 4.2.0

[2019-07-06 16:59] #16436 closed

[2019-07-06 18:42] acroyear opened #16504 "Slider in lab warning is in render, not constructor, fires too often"
No reason to have all the boilerplate here, I think. :)

index.js:1437 Warning: Material-UI: the Slider component was moved from the lab to the core.

Yay, the component is stable! 🎉

You should use `import { Slider } from '@material-ui/core'`
or `import Slider from '@material-ui/core/Slider'`

This fires a LOT, because it is triggered in renderWithHooks->DeprecatedSlider, and I think that is too

[2019-07-06 18:48] acroyear commented on #16504
This is actually really frustrating it happened right now. I'd *just* updated to the latest as of this morning...and now you're pushing 4.2 and lab 19 with this new warning and I have to go back and update everything all over again (it is a library of components - i'd just pushed it to npm, then started to update the apps dependent on it and...now i'm getting warning central).

part of the problem

[2019-07-06 19:06] giancarlobianchi12 commented on #9717
Same problem ! Thank you

[2019-07-06 19:36] eps1lon commented on #16504
The lab is only available as an alpha. There are not semver guarantees for lab components.

[2019-07-06 20:16] acroyear commented on #16504
I'm aware, which is why the constantly flying error message is problematic. One can upgrade from 18 to 19 just by doing an npm install, even while still on 4.1.3 (which won't go to 4.2.0 automatically), and thus get these console.error messages constantly and be unable to fix without explicitly moving to 4.2.0.

that's why i suggested that asap in .20, the deprecation warning should be moved to a

[2019-07-06 20:30] mbrookes commented on #16354
Looks good. Didn't occur to me when creating the button group that we could support the text button this way.

[2019-07-06 20:42] oliviertassinari commented on #16354
@Exitialis1 Do you want to give it a try? :)

[2019-07-06 20:43] HosseinAlipour commented on #14335
I wonder what package exactly it conflicts with? because It was working a week ago, since then I didn't change anything in package.json and this exact same error happened today after beginning to use jss. however, after I upgraded to v10, it worked again.

[2019-07-06 21:14] jayarjo opened #16505 "No attrs() method on styled()?"
[attrs()](https://www.styled-components.com/docs/api#attrs) is not available on the [styled](https://material-ui.com/styles/basics/#styled-components-api) method of the `@material-ui/styles`. Any plans on adding it? Or maybe I'm missing something.

[2019-07-06 23:12] tyler-mitchell opened #16506 "Migration from v4.1.3 to v4.2.0 breaks theme"
After upgrading from v4.1.3 to v4.2.0, `<ThemeProvider theme={theme}>`  is no longer working

[2019-07-06 23:38] mbrookes commented on #16506
Not questioning the veracity of your statement, but could you provide more detail as to what is no longer working?

[2019-07-06 23:45] tyler-mitchell commented on #16506
@mbrookes Sure thing--after updating, my theme is no longer being applied and instead, the defaults are applied.

[code]

[2019-07-07 05:19] phelanma opened #16507 "Grid Type does not support Paper#elevation and Paper#square properties in tsx"
Similar issue but not duplicated: https://github.com/mui-org/material-ui/issues/12855

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Should be able to use elevation and square props on Grip component in example [sign-in-side](https://github.com/mu

[2019-07-07 05:20] phelanma commented on #16507
Work around for now, is extract Paper specific items and apply a CSS class doing the same.

[2019-07-07 08:54] Biboswan opened #16508 "Form Label colour changes from secondary to primary theme color on selecting a radio button"
The behaviour mentioned happens only in Google Chrome but not in Firefox Developer Edition (69).

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
  On selecting a radio button from a radio group, a sortBy context changes, but in no ways, the form control label's colour shall chang

[2019-07-07 10:03] oliviertassinari commented on #16504
@acroyear We will remove the Slider export from the lab in the next few months. I would encourage you to freeze your dependencies or the lab version in your package.json if you want to avoid future issues like this one.

[2019-07-07 10:05] #16504 closed

[2019-07-07 10:06] oliviertassinari commented on #16505
There is no plan to add it here. We are in the process of making @material-ui/styles depend on react-jss, to move to a style adapter strategy with styled-components as the default engine.

[2019-07-07 10:06] #16505 closed

[2019-07-07 10:10] oliviertassinari commented on #16506
@tyler-mitchell Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

For your issue, you most

[2019-07-07 10:10] #16506 closed

[2019-07-07 10:47] oliviertassinari commented on #16508
@Biboswan The form label has another color for the focused state. You can override it too if you don't want it.
https://github.com/mui-org/material-ui/blob/cf2cdd83f2a2f65d0e979d1faa9e815a5e2d3502/packages/material-ui/src/FormLabel/FormLabel.js#L15-L17

[2019-07-07 10:47] #16508 closed

[2019-07-07 11:09] #16489 closed

[2019-07-08 00:44] ee92 opened #16509 "Input label jumps to the left after transition"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When an empty TextField with a label loses focus, the label should transition down to look like a placeholder.

## Current Behavior 😯

The label transitions as expected, but immediately after the tran

[2019-07-08 02:43] sumedhan commented on #16488
Just created a PR. It works with the changes you recommended! Thanks.

[2019-07-08 06:39] 311289189 commented on #16492
@oliviertassinari nice! thanks i will take a look

Yes, I guess I just mean dependency risk. So if/when there is a bug that belongs to the framework or some JSS, it could take alot longer to find than if it is CSS written by the developer.
Thanks for working on this package though, it's really useful

[2019-07-08 06:39] #16492 closed

[2019-07-08 07:45] jayarjo commented on #16505
@oliviertassinari yeah, that'd help solve the confusion.

[2019-07-08 08:29] charlax commented on #10717
Just tried it, still happenning:

[code]

[code]

[2019-07-08 08:34] oliviertassinari commented on #16509
@ee92 This is likely a browser rendering glitch related to the transition. I fear we can't do anything about it.

[2019-07-08 08:34] #16509 closed

[2019-07-08 08:38] oliviertassinari commented on #10717
@charlax Do you think that you can provide a reproduction?

[2019-07-08 08:48] andrewBsk opened #16512 "Scrolling for long content is not smooth inside Container"
I have a component rendering a few children components.
I am running the app on mobile browser Chrome and Safari and also as a PWA on iOS.

When i render that component inside a full screen material dialog the scroll is fine smooth and fast as expected.

However, when i render that same component inside a Container component (see following code), the scrolling is slow and not smooth.
The behaviour

[2019-07-08 09:00] oliviertassinari commented on #16460
@eps1lon I confirm your proposal, it works better with :)
[code]

I would also propose that we try to revert the multi-media query support. I have tried:
[code]

It seems to be OK. What do you think?

[2019-07-08 09:02] oliviertassinari commented on #16512
@andrewBsk Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-07-08 09:05] oliviertassinari commented on #16512
@andrewBsk You should be interested in https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling.

[2019-07-08 09:05] #16512 closed

[2019-07-08 09:25] hjyao commented on #7466
Still have the same issue, but fixed by adding xs={12}.

[2019-07-08 10:08] Exitialis1 commented on #16496
@oliviertassinari where would I check for duplicates? I checked the below:

- packages.json - only lists what I copied from it for the "Your Environment" section of the original post
- package-lock.json - searching for "material-ui" shows no duplicates
- node_modules - contains one "@material-ui" folder which contains the subfolders core, icons, styles, system, types and utils

Is there anywhere e

[2019-07-08 10:18] Bouncue opened #16513 "What the meaning of Note: [This component] are no longer documented in the Material Design documentation."
This kind of note in the documentation website:

Does that mean the component will be removed in the near future?

Or it won't receive any improvement, bugs fixing, if any?

What's the disadvantage of using those component?

[2019-07-08 10:26] Exitialis1 commented on #16496
@ryancogswell the only changes made to the MobileTest.js file in codesandbox were to comment out the NavBar component import and render, I tried copying these comments in my real code base and it made no difference.

[2019-07-08 10:42] cahergil opened #16514 "Migration to v4.2.0 breaks theme"
This is my index.js file. Now it takes dark blue and pink as primary and secondary colors. I have tried reinstalling all packages again with no luck
[code]

Dependencies:
[code]

[2019-07-08 10:53] Exitialis1 commented on #16496
I did some more experimenting and discovered that if I use:

import { withStyles } from '@material-ui/styles'
import { makeStyles } from '@material-ui/styles'

Then it doesn't work (for either). But if I use:

import { makeStyles } from '@material-ui/core/styles'
import { withStyles } from '@material-ui/core/styles'

Then it works fine (for either). So I looked a bit deeper and from what I can tel

[2019-07-08 11:30] eps1lon commented on #16513
They are just not part of [Material design](https://material.io/) anymore. Should probably add a link so that it's obvious that is just a note for designers i.e. if you strictly want to use Material design you should no longer use it.

We will still support it.

[2019-07-08 11:32] eps1lon commented on #16514
Are there any warnings in your console?

What does `yarn why @material-ui/styles` (if `yarn.lock`) or `npm ls @material-ui/styles` (if `package-lock.json`) print?

[2019-07-08 11:34] oliviertassinari commented on #16496
Does https://material-ui.com/getting-started/faq/#i-have-several-instances-of-styles-on-the-page help? The behavior you are describing is a strong signal that the root issue is a duplicate. You can change the imports. It's fine, at least, until v5 (2020).

[2019-07-08 12:00] andrewBsk commented on #16512
Yeap, that was it, thanks :)

[2019-07-08 12:07] cahergil commented on #16514
Carlos@Carlos-PC MINGW64 ~/Desktop/FrontEnd/udacity/playas-react (master)
$ npm ls @material-ui/styles
playas-react@0.1.0 C:\Users\Carlos\Desktop\FrontEnd\udacity\playas-react
+-- @material-ui/core@4.2.0
| `-- @material-ui/styles@4.2.0
`-- @material-ui/styles@4.2.0

[2019-07-08 12:16] eps1lon commented on #16514
Possible duplicate of #16500

Could you check if you have `node_modules/@material-ui/styles` as well as `node_modules/@material-ui/core/node_modules/@material-ui/styles`? Only a single version should exists. If multiple versions exist in your node_modules/ make sure npm dedupes those (e.g. remove the lockfile and install again https://github.com/mui-org/material-ui/issues/16500#issuecomment-508920

[2019-07-08 12:36] oliviertassinari commented on #16513
:+1: for adding an extra sentence that diffusing people fears.

[2019-07-08 13:20] joshwaiam opened #16517 "Next9 & Material-UI example error"
With Next9 just being released, I went through integration and ran into one minor error in the examples: specifically in the _document.js page.

In `getInitialProps()`, you are currently showing:

[code]
It seems that styles now expects an array of React Elements, so this fixed it for me:

[code]

- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/materia

[2019-07-08 13:40] jonasgroendahl opened #16518 "tabIndex on Paper while Drawer is open causes TextField to become unselectable"
The problem occurs when a Drawer is open and you attempt to select a TextField. Everything else is targettable but the TextInput is not.
I hosted the site to showcase the error: https://5d23460e2da74110456145be--objective-mestorf-6b1e2a.netlify.com/

I was fiddling around with the example and it seems like the tabIndex on the nested Paper inside the Drawer is causing the problem. If I delete the a

[2019-07-08 13:47] charlax commented on #10717
I tried quickly but couldn't write a simple reproduction... The bug appears in a component that is pretty deep in the stack...

Perhaps some `console.log` would help if you give me some pointers as to where to put them?

[2019-07-08 14:06] oliviertassinari commented on #10717
Add one in https://github.com/mui-org/material-ui/blob/7d826a907ba4928d62940bdd57864b32aaeb0a02/packages/material-ui/src/TextareaAutosize/TextareaAutosize.js#L73.

[2019-07-08 14:09] x5engine commented on #15832
if this is not working then should not be part of the docs as working!!

using back `import { withStyles } from '@material-ui/core/styles';`

[2019-07-08 14:33] oliviertassinari commented on #16517
@joshwaiam Thanks for the report. There is an effort in this direction: #15587.

[2019-07-08 14:38] oliviertassinari commented on #16518
@jonasgroendahl Please provide a minimal test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-07-08 15:13] Janpot commented on #16517
See https://github.com/mui-org/material-ui/pull/16519

[2019-07-08 15:42] Exitialis1 commented on #16496
Perfect! I hadn't upgraded material-ui-pickers to @material-ui/pickers and that was causing the duplication, the commands on that page helped me realise that and solve the issue, thank you so much

[2019-07-08 15:43] charlax commented on #10717
And now I can't reproduce the bug...

[Heisenbug](https://en.wikipedia.org/wiki/Heisenbug)?

[2019-07-08 16:38] hlolli commented on #16202
I'm also getting this issue after updateing MUI. Both TextField and Input are affected. I'm not even using withStyles in my webapp.

[code]

[2019-07-08 16:40] hlolli commented on #16202
From the compiled non-source-mapped js code

[code]

seems as if the className prop can't be a string anymore? Must be an object.

[2019-07-08 16:45] cahergil commented on #16514
Thanks @eps1lon !
Your assumptions were right, your solution works 100%.

[2019-07-08 16:50] jedwards1211 commented on #12432
@oliviertassinari

Is that actually worse than if all the code is in one package and only half of your deps use the `/es` modules?  I can't think of how it's any worse

[2019-07-08 16:55] jedwards1211 commented on #12432
I'm getting the timeout on a Raspberry Pi but I'm still confused why it would be a problem since the tarball for `material-ui-icons-4.2.1.tgz` is only 1.2M.  Is yarn mistakenly including the unzip operation inside the timeout?

[2019-07-08 17:48] eps1lon commented on #16514
Great to hear! I guess we can close.

[2019-07-08 17:48] #16514 closed

[2019-07-08 18:57] oliviertassinari commented on #16202
@hlolli The className still accept a string. Something must be wrong somewhere else. I would suspect an issue with the bundling stack of your project.

[2019-07-08 19:00] oliviertassinari commented on #10717
@charlax I'm sure the bug will come back at some point to haunt us.

[2019-07-08 19:25] hlolli commented on #16202
https://codesandbox.io/s/4j7m47vlm4?fontsize=14

Give it a quick try and I can't reproduce on this web editor. I'll look further into what's going on with the closure-compiler.

[2019-07-08 19:26] hlolli commented on #16202
Nevermind that url, I pressed share and copied the url, but it's just like how I started it with. :)

[2019-07-08 19:38] hadiMh commented on #5037
How can I use the Calendar component itself?
I just wanna use the Calendar itself to show it on the page. Please tell me how to use it. I have got errors. I explain details below:

I have used `"@material-ui/pickers": "^3.1.2"` and I have imported these two like this:
`import { DatePicker, MuiPickersUtilsProvider } from '@material-ui/pickers';`
but I get error.

How can I use this component. I hav

[2019-07-08 19:42] oliviertassinari commented on #5037
@hadiMh Could you move the concern to https://github.com/mui-org/material-ui-pickers?

[2019-07-08 21:43] rob2d commented on #14455
AFAIK, enabling pointer events/disabling works the same with touch behavior as with mouse events.

Another problem with this issue is you can't add an informational `Tooltip` -- which in some use cases isn't very great (I know Material-UI is minimalist but sometimes giving reasons for things e.g. authentication not provided or non elevated permissions in an app can be night and day for UX).

At th

[2019-07-09 04:50] dondi commented on #16491
@oliviertassinari I have tried the two approaches, https://github.com/mui-org/material-ui/issues/16491#issuecomment-508654731 and https://github.com/mui-org/material-ui/issues/16491#issuecomment-508666249, and the first approach which swaps out `useEffect` for `useLayoutEffect` did not work for me because `syncHeight` still gets called in _TextareaAutosize_, thus accessing the ref and encountering

[2019-07-09 06:31] sefo opened #16524 "Select onOpen doesn't work"
- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
According to the [Select API](https://material-ui.com/fr/api/select/) when I open a Select element it should fire the _onOpen_ event.

## Current Behavior 😯
It doesn't fire the event.

## Steps to Re

[2019-07-09 07:31] eps1lon commented on #16524
This is fixed when using `^4.0.0`. We only backport security fixes to 3.x.

[2019-07-09 07:31] #16524 closed

[2019-07-09 08:08] eps1lon commented on #12704
I think this is covered by our [`Box`](https://material-ui.com/components/box/#box) component and [`<Box fontWeight={500} />`](https://material-ui.com/system/typography/#font-weight).

@oliviertassinari Do you think we can close this issue or is there something else we could do?

[2019-07-09 09:02] verekia commented on #12704
Box looks great, that definitely solves the problem for bold text.

That being said I think a good addition to Box could be `text-decoration`, mostly for `underline` and `strikethrough`:
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_text-decoration

If you think that's relevant it could probably be moved to a different issue though.

[2019-07-09 09:29] eps1lon commented on #12704
New properties can be proposed via PR to https://github.com/mui-org/material-ui/blob/5b25ed3bb0c3639f8ce8204e20ab1e354f63bde2/packages/material-ui-system/src/typography.js#L36

[2019-07-09 09:44] RZsam commented on #16202
https://github.com/mui-org/material-ui/issues/15898 solved the problem
@hlolli

[2019-07-09 10:23] oliviertassinari commented on #16491
@dondi Thanks for trying it out. However, I was proposing the oppossite. Adding an env test for test should make the logic uses useEffect instead of useLayoutEffect. Could you try again :) ?

[2019-07-09 10:30] oliviertassinari commented on #12704
@eps1lon I think that using the system in the core components would completely solve the issue: #15561. +1 for closing this one.

[2019-07-09 10:35] #12704 closed

[2019-07-09 11:04] jonasgroendahl commented on #16518
@oliviertassinari Codesandbox added with a minimal test case

[2019-07-09 11:33] eps1lon commented on #16518
The root will also be `aria-hidden`. Might be an issue with disablePortal

[2019-07-09 11:50] #16488 closed

[2019-07-09 12:26] oliviertassinari commented on #16496
@Exitialis1 Thanks for the update. I think that we should add in the warning description that module duplication can creates specificity issues.

[2019-07-09 13:23] cat-ico opened #16528 "[system] Wrong order of media queries"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When using [Box](https://material-ui.com/components/box/) the generated media queries should be in correct order
## Current Behavior 😯

When property `display` is added only for higher media query and

[2019-07-09 13:29] bengry commented on #16442
@oliviertassinari Are there any AI going forward here - i.e. is this something that's going to be changed (ideally), or is the inline-style going to be kept, making it hard to override (force the need to use `!important`)? It wasn't clear from the thread so far.

[2019-07-09 13:31] barbalex commented on #7960
@peterbartos
Unfortunately your solution also produces this error: `[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive.`

Only working solution so far seems to be @joshwooding https://github.com/mui-org/material-ui/issues/7960#issuecomment-497945204

[2019-07-09 14:50] ryancogswell commented on #16496
@oliviertassinari I wonder if it might also be worthwhile to change this warning to be included even in production mode.

[2019-07-09 16:51] #16458 closed

[2019-07-09 18:14] oliviertassinari commented on #16496
@ryancogswell We have seen a couple of problems related to it recently. When releasing @material-ui/styles@v4.2.0, I'm not sure I should have increased the required dependency in https://github.com/mui-org/material-ui/blob/86de5254767be6f76edf7ca4b868452b22557df8/packages/material-ui/package.json#L41

[2019-07-09 18:19] oliviertassinari commented on #16518
Thanks for the reproduction, I'm not sure. Why are you using a temporary drawer? Did you try the other variants (that don't use a Modal?)

[2019-07-09 18:20] oliviertassinari commented on #16518
@eps1lon Outch!

[2019-07-09 18:26] dondi commented on #16491
@oliviertassinari I tried again (and copy-pasted the code from the comment to be sure) but still get an error:
[code]

I’ll dig in a bit more to see what’s up. The discussion here and in the PR is giving me a better big-picture sense of what’s going on and so I’m getting some other ideas now.

[2019-07-09 18:45] croraf opened #16534 "[Grid] .MuiGrid-grid-md class does not load when the page is loaded at xs width"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Grid should be responsive even when the page is loaded as `xs` width.

## Current Behavior 😯
Grid is not responsive.

## Steps to Reproduce 🕹
The bug is reproducible here: http://ec2-18-217-230-111.us-

[2019-07-09 18:58] mvelluet opened #16536 "Select with react-select focus on selected item (example not working)"
Hello,

I use material ui and react select.

## Expected Behevoir
When I select item, in the menu and I reopen it. There is a focus on my selected item.

## Current Behevoir

This work perfectly fine [here](https://material-ui.com/components/autocomplete/#react-select
) and in local with your repository
https://material-ui.com/components/autocomplete/#react-select

But It doesn't works with the ex

[2019-07-09 19:00] oliviertassinari commented on #16534
@croraf I can't reproduce 😔.

[2019-07-09 19:06] neeschit opened #16537 "ModalManager leaves behind padding styles on Body aria hidden"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

ModalManager should not leave behind DOM changes when it is closed

## Current Behavior 😯

Leaves behind `padding-right: 0px` if this condition evaluates to true

https://github.com/mui-org/material-u

[2019-07-09 19:48] oliviertassinari commented on #16442
@bengry Whitch property do you need to override? We might be able to revert by pushing @material-ui/unstyled the package forward.

[2019-07-09 20:37] jonasgroendahl commented on #16518
The idea is that the user should make a selection within the drawer but at the same also have access to the input field within the another specific element while everyone thing else is unselectable and ideally behind the backdrop. If you click the link to the live site, it might make more sense for my use case. Or would you use a different approach here? Persistent drawer? (that means you would be

[2019-07-09 20:47] croraf commented on #16534
@oliviertassinari OK. Open this page on xs. http://ec2-18-217-230-111.us-east-2.compute.amazonaws.com/diagnoses/2. Then click on the logo in the header. Then widen to md. Then open one of the cards.

[2019-07-09 20:50] oliviertassinari commented on #16534
Still can't :/

[2019-07-09 20:54] croraf commented on #16534
https://file.io/TaQCOq - this link is temporary

[2019-07-09 20:57] croraf commented on #16534
https://file.io/mYhXtD This link can only be downloaded once. Can you download it @oliviertassinari

[2019-07-09 21:03] joshwooding commented on #16534
I re-created it following these steps. I got them wrong multiple times though 😅

[2019-07-09 21:04] croraf commented on #16534
@joshwooding Sometimes it doesnt show also. And also when you recreate, and resize width by 1px it corrects itself.

[2019-07-09 21:13] croraf commented on #16534
Now I cannot reproduce again...

[2019-07-09 21:14] samwalshnz opened #16541 "Material-UI website redirect v1-5-0.material-ui.com/* to v1.material-ui.com/*"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Navigating to [https://v1-5-0.material-ui.com/*](https://v1-5-0.material-ui.com/demos/buttons/) should redirect to [v1.material-ui.com/*](https://v1.material-ui.com/demos/buttons/) (e.g. https://v1-5-0

[2019-07-09 23:18] thomastaechoi commented on #4476
@AurelReb Thanks for the example but I have a question.
I'm not sure what collapseComponent is doing or what the purpose is because I removed it and it still works perfectly fine.

[2019-07-09 23:37] AurelReb commented on #4476
@thomastaechoi I just looked at it, and you're right. When I updated my component to fix the transition, I kept my collapseComponent function, but it's useless because Collapse component already uses 'div' as root component. Thank you, I'll update the codesandbox

[2019-07-09 23:46] sunilb0575 commented on #9915
I am using material-UI 4.2.0, and still getting this error. Is this fixed? Thanks.

[2019-07-10 04:12] benmccann commented on #11618
Thanks for the suggestions. I got some [good answers on StackOverflow](https://stackoverflow.com/questions/56812652/positioning-material-ui-label-to-the-left-with-left-alignment).

[2019-07-10 05:27] bengry commented on #16442
@oliviertassinari I wanted to override the `z-index`, similar to what @burtyish mentioned in the OP.

[2019-07-10 05:57] chrisparton1991 commented on #16327
This seems like an issue with the type definitions. `IconButton` extends from `ExtendButtonBase`, which has `{ href: string }` as its prop type.

If having no `href` attribute is a valid use case (which looks to be the case), then the prop type should be `{ href?: string }`.

I'll open a PR for further discussion.

[2019-07-10 06:00] LKay opened #16543 "Extract css to separate file with webpack and mini-css-extract-plugin"
I want to exclude bundled style from js files and put them in separate css file (chunk). Did some searching about this matter but couldn't find anything working and exactly pointing to the issue.

In my app I can extract styles using `mini-css-extract-plugin` when they are defined outside js in css/scss files but have no success in extracting MUI styles. Is there any way to achieve that?

[2019-07-10 07:11] #16499 closed

[2019-07-10 07:12] #16480 closed

[2019-07-10 07:18] #13539 closed

[2019-07-10 07:22] #16517 closed

[2019-07-10 07:29] peterbartos commented on #7960
@barbalex are you sure you tested exactly the `blur()` approach? I'm not calling there `preventDefault()`. Blur itself helps to avoid changing input number by scroll.

[2019-07-10 08:27] oliviertassinari commented on #16534
We won't have time to look into heisenbug. We need a simple, predictable reproduction (with the source). Unless @joshwooding has an idea of what could be wrong. I propose we close until we can be helpful.

[2019-07-10 08:28] barbalex commented on #7960
@peterbartos yeah, it sounds kind of weird that the error mentions `preventDefault` when onWheel only blured the current target.

Double checking I now see that `[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive.` must have been caused by something else. I probably still had a prevenDefault call in the component when testing blur(). Sorry

[2019-07-10 08:30] oliviertassinari commented on #9915
@sunilb0575 I would only expect an issue in the devtool. The logic should be working in the browsers. Do you want to give #14763 a try :)?

[2019-07-10 08:57] oliviertassinari commented on #16543
@LKay This is not supported. I have done a quick exploration months ago in this direction: https://github.com/oliviertassinari/material-ui-generate-css-file. I wish we could support https://github.com/callstack/linaria in the future. It could help.

But, why would you want to do that? I believe that it's not needed.

[2019-07-10 09:02] oliviertassinari commented on #16541
@samwalshnz Sorry about that. We should be good from an SEO point of view, we were pointing the canonical of v1 to the naked domain. We could try the following, do you want to give it a go?
[code]

[2019-07-10 09:13] oliviertassinari commented on #16528
@cat-ico Thank you for the reproduction, I can confirm the problem with:
[code]

It outputs:
[code]

[2019-07-10 09:25] oliviertassinari commented on #16537
@neeschit Does the same happen in the browser?

[2019-07-10 09:28] barbalex commented on #7960
Just in case someone lands here looking for a working example, here is my TextField component. It is used with [formik](https://jaredpalmer.com/formik):
[code]

[2019-07-10 09:51] fraser-mcmillan opened #16545 "Popper arrow doesn't respect theme"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When configuring the `Popper` component to display a pointer arrow, I expect the arrow will respond to theme changes, e.g. If my application is using a light theme I expect the Popper body and arrow to

[2019-07-10 10:22] oulfik opened #16547 "valueLabels in the slider component are overlapping"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

![Unbenannt](https://user-images.githubusercontent.com/52165945/60956948-104a1d00-a304-11e9-9132-38cec0e27ee4.png)

Maybe show the values inside of a tooltip-like component with a specific margin.

##

[2019-07-10 10:45] croraf commented on #16534
![image](https://user-images.githubusercontent.com/19698636/60962878-a172c100-a30f-11e9-977a-be05e2e6ffa4.png)

You can see on the picture that when the issue happens, the div element has the correct class-name:
`MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6`

But in the Styles tab below  MuiGrid-grid-md-6 is not present.

Also in the `head` element of the DOM i do see the followi