[2015-12-12 01:08] mbrookes commented on #2460
If you're going for a re-write, any chance to rename raw-theme to base-theme or core-theme or similar? I found that naming really confusing when 0.13 was introduced.

Even though the "raw" themes are only the base values for theme-manager, conceptually they _are_ the theme, as (other than custom themes) it what the user specifies to choose a theme.

To me, raw says "unpopulated", "incomplete", "fi

[2015-12-12 07:35] subjectix commented on #2460
@mbrookes Yeah, can't say I don't agree with you on this. But this breaking change will be painful, just search rawTheme in the source :D I don't know if it's worth the effort, @oliviertassinari Thoughts?

[2015-12-12 08:26] zachguo commented on #2482
I think you ARE using a custom left icon. I can confirm `onLeftIconButtonTouchTap` is working if there's no `iconElementLeft` specified.

However this is a thing need to be either fixed or documented.

[2015-12-12 08:45] ryanfields opened #2490 "ListItem secondaryText color hardcoded?"
I can't seem to get the secondary text in a ListItem to obey theming.  When I switch to a dark theme, the text remains Black(54%), making it unreadable on a list item with a black background.  I can work around this by applying a color style directly to an element within the secondaryText property, but I find I have to keep doing that to lists all over my app.  For a lot of my lists, secondary tex

[2015-12-12 08:50] sothychan opened #2491 "LeftNav is still using old menu -- which will be deprecated soon"
Is this on purpose?  Nevertheless, there's a serious bug with left nav where if you were to pass in the menu-item component from the new menu, the code in left-nav completely bypasses the logic to attach the event handler to it so clicking on the menu items do not fire any events.

I am strongly hoping that this is an oversight.  Regardless, I've already forked the project and plan to fix the issu

[2015-12-12 09:06] subjectix commented on #2491
@sothychan menuItems will be deprecated too, see #2456. I wouldn't bother If I were you :grin:

[2015-12-12 09:12] subjectix commented on #2491
And within the PR deprecating that, we'll address all the issues regarding this. Also, there is debate whether the LeftNav should actually ever attack a handler. Making assumptions is bad for production. So maybe try controlling LeftNav via it's open prop and onRequestChange, and add a handler to your menu-items handling the closing. This library tries to cover too many use-cases, where as react's

[2015-12-12 09:16] subjectix commented on #2468
seems like webpack cannot resolve material-ui. are you sure it's inside a node_modules folder somewhere?

[2015-12-12 09:17] subjectix commented on #2471
it's a bug, thanks for reporting. I guess it must be hard coded, some where.

[2015-12-12 09:22] subjectix commented on #2482
Well this is somehow by design. if AppBar adds it's own IconButton (when you provide a className not a component) it attaches a handler, otherwise you will have to attach the handler yourself. in other words:
[code]

[2015-12-12 09:23] subjectix commented on #2482
But I guess we have to either deprecate `iconClassNameLeft` or document this. Thanks for reporting it.

[2015-12-12 09:24] subjectix commented on #2486
This comes from the DropDownMenu's Paper background. we have to fix this! thanks.

[2015-12-12 09:33] genyded commented on #2468
Yes but there is ni lib folder when installing master

[2015-12-12 09:44] subjectix commented on #2468
Oh I get it now!

you need to build the src folder.

do the following:

1. go to root of material-ui folder
2. do an `npm install` to install the build tools.
3. do an `npm run build` to build the `lib` folder.

we really need to document this! don't close this issue please.

[2015-12-12 11:17] #2110 closed

[2015-12-12 19:08] tarkanlar commented on #2316
Same here

[2015-12-12 19:47] dangerismycat commented on #1987
I'm still having this issue on version 0.14.0-rc1. Should it be fixed in that version, or will that fix go out in a future version?

Also: is there good documentation somewhere of what exact properties the various styles (`underlineStyle`, `underlineFocusStyle`, `menuItemStyle`, `floatingLabelStyle`, etc)  are looking for? I've looked through all the docs I can find and haven't seen a good list.

[2015-12-12 20:28] subjectix commented on #1987
@dangerismycat this fix will be shipped with 0.14.0-rc2

[2015-12-12 20:42] andrejunges opened #2494 "[Dialog] context is lost inside Dialog childs"
material ui - 0.14.0-rc1
react-intl - 2.0.0-pr-3

I'm using react-intl and material-ui in my App and I'm having problems in all Dialog's childs where the intl property provided by `injectIntl` from react-intl is 'lost' (different from the app language once it changes). When I change the language all the components from the app update it's labels, only the dialogs childs dont.
I'm not saying its a

[2015-12-12 20:48] dangerismycat commented on #1987
@subjectix Awesome. Any idea when that will ship?

[2015-12-12 21:00] subjectix commented on #1987
@dangerismycat I'll have to discuss this with @oliviertassinari. Possibly very soon :grin:

[2015-12-12 22:32] oliviertassinari commented on #2494
I have noticed the same issue. This issue was introduced by the usage of `unstable_renderSubtreeIntoContainer` https://github.com/callemall/material-ui/blob/master/src/render-to-layer.jsx#L131.
I have huge suspicion that it's an issue with react itself. The update feature is not in their tests cases.

[2015-12-12 22:51] rscnt opened #2496 "[Docs] IconButton: Improve documentation for IconStyle property."
Add documentation for `iconStyle.iconStyleFontIcon` and `iconStyle.iconHoverColor`.

I know that there's documentation for the FontIcon component, but it may not hurt to put a reference for [these two values](https://github.com/callemall/material-ui/blob/master/src/icon-button.jsx#L161).

[2015-12-12 23:42] foglio opened #2497 "[TextField] floatingLabelText shows wrong behavior in UIWebView iOS 8.4"
Although floatingLabelText works properly in Safari in iOS 8.4, it shows wrong behavior in UIWebView.
The attachment above is the appearance in UIWebView and the below is the appearance in Safari.
Both screenshots are captured in the same simulator.

![simulator screen shot 2015 12 13 8 33 09](https://cloud.githubusercontent.com/assets/3273726/11764456/94e996fc-a174-11e5-9c1b-2f2c685e7a08.png)
![s

[2015-12-13 00:33] andrejunges commented on #2494
was it implemented using `unstable_renderSubtreeIntoContainer` in these last releases? I haven't updated react for some weeks.. and I just noticed it yesterday

[2015-12-13 00:38] andrejunges commented on #2494
may be useful: https://twitter.com/dan_abramov/status/613329336809168897

[2015-12-13 02:44] sothychan commented on #2491
Excellent.  As a workaround, I just added onTouchTap events to my menuItems for now.  Glad to hear that it's on the radar.  I will take your advice and not bother with it :).

I am interested and can make myself available to help if you guys need.  If so, please PM me and give me the details on how you guys envisioned how it should be built.

[2015-12-13 02:46] sothychan commented on #2491
@subjectix When you say that menuItems will be deprecated, you're talking about the old one, correct?  The one here: /material-ui/src/menu/*?  The one in /material-ui/src/menus are still valid, correct?  Or, are you getting rid of menu items altogether and use list items instead since it seems like it just renders that underneath the hood?

[2015-12-13 05:52] rob2d opened #2499 "Styling on LeftPanel"
I am using the LeftNav for an alternate options panel; unfortunately, when I change the style of the width of the panel, when it is not visible (closed), the difference in the length still becomes visible because there is an explicit position being set. Is it possible to program in the ability to detect this width and then automatically offset the inverse of that width? That would be amazing.

Tha

[2015-12-13 07:42] pizza0502 opened #2500 "[Table] Sorting tables by alphabetical"
http://www.material-ui.com/#/components/table
Is there any way to add on the sorting function in tables in material design way?

[2015-12-13 09:05] shiroganee opened #2501 "SelectField / DropDownMenu aren't opening"
Hello.
I'm trying to use your pretty sweet lib in my newest project, but I've one terrible problem. SelectField and DropDownMenu simply doesn't work. There is not a single error in console.

[code]

And yes, I was looking at the issues tracker here, and I tried every possible answer.
I've InjectTapEventPlugin just before ReactDOM.render.

Also I'm using initial server side rendering and gulp + bro

[2015-12-13 10:29] oliviertassinari commented on #2494
No, It wasn'r.

[2015-12-13 11:35] subjectix commented on #2491
@sothychan I'm talking about using `menuItems` prop. i.e. using JSON to represent the children of the LeftNav for the sake of composability. This way, the surface API will be much cleaner and much easier to customize than having one single component doing so many irrelevant things. the old ones will be removed and the new ones will always be used in a composable way. @sothychan getting rid of the

[2015-12-13 11:36] subjectix commented on #2499
yes, we will work on this soon. We will add a width prop to LeftNav so it can be explicitly modified.

[2015-12-13 11:38] subjectix commented on #2501
Is it possible for you to use the latest development branch (checkout master) and see if this is fixed there. SelectField and DroDownMenu now use Popover. this was reported fixed. please double check. we'll release a 0.14.0-rc2 soon.

[2015-12-13 12:56] rob2d commented on #2499
That's great news! Thank you! For now I can try an ugly hack fix tracking the state but I do appreciate that this can be added in soon!! :)

[2015-12-13 13:19] rob2d commented on #2376
Great, thank you! This addresses the issue :) perhaps documentation should be updated to reflect as well as error messages... Its just a bit vague at the moment. But still, great. Thanks.

[2015-12-13 17:25] subjectix commented on #2376
sure, we'll try to add an example for this. thanks for pointing that out :+1:

[2015-12-13 17:50] jgog opened #2504 "SelectField needs more methods"
Can we have `getValue` and `setValue` methods for SelectFields?

I understand `SelectField` and `DropDownMenu` are undergoing a lot of change recently but these methods will be a good-to-have.

[2015-12-13 18:31] subjectix commented on #2504
@jgog these methods are imperative and make handling the flow of data really hard, that's why we prefer not to support them (directly) but the fact is, it's very easy to write a wrapper component to expose such methods. and of course, you'll need only one wrapper:

[code]

And you would use it like this:

[code]

Although this might need a bit of tweaking to make SelectField work with it (and I ap

[2015-12-13 18:52] #2484 closed

[2015-12-13 18:54] #2176 closed

[2015-12-13 19:05] jgog commented on #2504
@subjectix Thanks for the explanation, but I thought a `SelectField` was suppose to work as the html `<select>` and the `value` prop should be a part of the FormData when wrapped in a form.
I didn't understand how the handling of data flow becomes hard in case of a `SelectField`. And I think the `onChange` way of interaction with the component is more suitable for the `DropDownMenu` but for `Selec

[2015-12-13 20:06] rhythnic opened #2505 "tabItemContainerStyle left/right margin copy to inkBarContainerStyle"
tabItemContainerStyle width is copied to inkBarContainerStyle, but margin is not, so if margin=auto is set on tabItemContainerStyle, the ink bar isn't centered.  If possible, nesting the ink bar inside of the tab item container would solve the issue, or copying the left/right margin to inkBarContainerStyle would solve it.

[2015-12-13 20:37] calbertts commented on #2414
@oliviertassinari I'm still seeing it.

[2015-12-13 20:51] oliviertassinari commented on #2414
Yes, that's because this issue is fixed on the master branch. But the doc site is reflecting the 0.13.4 version.

[2015-12-13 21:43] oliviertassinari commented on #2482
I think that we should remove those touchTab event properties at some point.
It would be better to use a composable approach.

[2015-12-13 21:46] frankandrobot opened #2506 "Multicolumn lists?"
Why do you use divs instead of styling lists via UL/LI tags?

If you use UL/LI tags, it would be possible to customize it more easily using "normal" CSS3.

[2015-12-13 21:47] thomasantony commented on #262
+1

I am new to React (my last experience with web-development was with jQuery, 3-4 years ago). I wanted to use material-ui and I have been stuck with first having to learn how npm/browserify/gulp/watchify etc. works before I can actually code anything. I am sure that these tools are great and produce very efficient production code. However, to start off, a simple JS/CSS file that can be included

[2015-12-13 21:50] subjectix commented on #2482
@oliviertassinari Couldn't agree more.

[2015-12-13 22:57] shiroganee commented on #2501
I would do it with a pleasure, but if I want to build lib with babel ./src --out-dir ./lib i get error that .babelrc.breakConfig is Unknown option :9

[2015-12-13 23:02] oliviertassinari commented on #2460
I agree with @mbrookes, `baseTheme` seems like a better name for this object.
But yes, that's would be a breaking changes, people would have to change their import.

[2015-12-13 23:03] oliviertassinari commented on #2501
You are using babel@6, we are using v5.x (We haven't updated it yet).

[2015-12-13 23:18] shiroganee commented on #2501
Ok thanks for the help. I installed babel5 and it build, but right now I've other problem

at

in getStyles in LeftNav

(sorry for dumb questions :<)

[2015-12-13 23:30] shiroganee commented on #2501
Ok, so I tried (meanwhile it also changed a little my leftNav) and it still doesn't work.

       let menuItems = [
            {payload: '1', text: 'Never'},
            {payload: '2', text: 'Every Night'},
            {payload: '3', text: 'Weeknights'},
            {payload: '4', text: 'Weekends'},
            {payload: '5', text: 'Weekly'},
        ];
        return <div>

            <div clas

[2015-12-13 23:53] mbrookes commented on #2460
Could you perhaps retain the "raw" theme files as stubs that import the new baseTheme, so the old names would still work?

ITo @subjectix point about number of usages - internally if the name rawTheme was still used it wouldn't matter so much if the documented / end-user visible name were change. But a global search-and-replace would easily fix it! :smile:

[2015-12-13 23:58] subjectix commented on #2460
@mbrookes good point. Maybe we can push this into the 0.14.0 release. But right now it's almost impossible to just do a global scan/replace, too many Big changes are occurring = too many conflicts will arise. we'll have to wait until the docs are migrated :D

[2015-12-14 00:13] mbrookes commented on #2460
Oh, yes. Didn't think about merge conflicts.

[2015-12-14 06:48] ashtonwar commented on #55
@hai-cea Think there's been some regression here - the number type looks squiff. & the up / down handles cut through the underline.

[2015-12-14 07:41] EugeneZ opened #2510 "[Autocomplete][MenuItem] Multiple invariant violations when navigating away after touchtap"
This seems to have been brought up in #1599 but since nothing happened there I'm opening another issue. Here are the errors:

![material-ui](https://cloud.githubusercontent.com/assets/13424/11775309/c14c2b00-a20b-11e5-88da-ba9dc5dc4eeb.png)

Here is the code:

[code]

When I wrap the `pushState` call in a `setTimeout` the issue goes away, so I'm fairly certain that's the problem. I'll use the work

[2015-12-14 07:53] subjectix commented on #2391
@genyded seems like `actAsExpander` was there all along -_- The name needs revision. if you set it to `true` on your `CardHeader` then only the expand icon can expand it. See if that fixes it.

[2015-12-14 09:15] genyded commented on #2391
Ahhh. so that's what that does... but actually it looks like setting it to `false` makes it so only the icon expands... `true` anywhere in the header expandss. Thanks!

[2015-12-14 09:15] #2391 closed

[2015-12-14 09:30] subjectix commented on #2391
Exactly my reaction :D It's very confusing, and I cannot come up with any names! I'm gonna open an issue for this.

[2015-12-14 09:36] alitaheri opened #2512 "[CardHeader] Rename actAsExpander"
After the discussion in #2391, I believe the name `actAsExpander` is very confusing. Yet I do not know what to change it to.

Just to clarify, setting `actAsExpander` to `true` changes the `CardHeader` so that clicking everywhere will expand the `Card`. While setting it to `false` forces expansion only through the icon on the right.

[2015-12-14 09:53] shiroganee commented on #2501
Ok, so it was bad on my part.
Maybe I will write the reason of it so someone else won't have similar problem.
The problem was with react-tap-event-plugin not declared in gulp task that was doing bundle. It was missing in depedencies

    var dependencies = [
    'alt',
    'react',
    'react-dom',
    'react-router',
    'react-tap-event-plugin', //this bastard
    'material-ui',
    'underscore'

[2015-12-14 10:33] subjectix commented on #2501
I think the docs should include this!

[2015-12-14 11:12] piotr-dobrogost commented on #2115
@zachguo Would you mind to raise this (not working for *SelectField*) as a separate bug? I believe it's different than issue #1011.

[2015-12-14 12:10] oliviertassinari commented on #2433
Regarding the file/folder organisation. I think that the current solution in a tradeoff.
I think that we should have one folder per component, it makes each component more modular.
I don't like spreading the different block (readme, test, source code, documentation, examples) between different folders.

[2015-12-14 12:19] subjectix commented on #2433
no no, i meant like this:

instead of:
[code]
We put them in the docs/src/app/components/pages/components:

[code]

I like it this way, I just mean put these folders in the `docs/src/app/components/pages/components` folder, it keeps the Folders close to the doc page that uses them.

[2015-12-14 12:20] oliviertassinari commented on #2433
That makes sense :+1:.

[2015-12-14 12:23] subjectix commented on #2433
@oliviertassinari All right, then. I'll try to run a clean up after the PRs are merged.

[2015-12-14 14:23] piotr-dobrogost opened #2513 "Add information on gitter channel to the docs"
I found out there's [gitter](https://gitter.im/callemall/material-ui?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) channel from issue #2087 looking for information on IRC channel.

[2015-12-14 14:26] oliviertassinari commented on #2513
Their is a badge here https://github.com/callemall/material-ui/blob/master/README.md for the gitter channel.

[2015-12-14 14:26] subjectix commented on #2513
@oliviertassinari not in the docs site there isn't.

[2015-12-14 14:31] abhinavsingi commented on #1850
While upgrading react, do you follow any script to change all the files?
What kind of scenarios do you take care of

[2015-12-14 14:36] oliviertassinari commented on #2513
That's a good point.

[2015-12-14 16:30] acornejo commented on #2209
+1

alternatvely, i can't figure out how to display a datepicker and a dropdown menu in the same row, without having vertical alignment issues (it almost seems as if the two elements belong to two different toolkits).

[2015-12-14 16:47] newoga commented on #2433
@subjectix @oliviertassinari Just letting you know that I'm not ignoring this issue, but didn't went to step on your toes either. If you'd like me to assist with this effort before we tackle some of the other pull requests I previously submitted, let me know.

[2015-12-14 17:01] #2491 closed

[2015-12-14 17:01] #2499 closed

[2015-12-14 17:34] frnk94 opened #2514 "[Dialog] autoDetectWindowHeight issue with images"
If there a big image inside the new `Dialog` a part of it will be rendered outside of the view port because he detecting height before the image load.

I solve this on my side by having this callback: `window.dispatchEvent(new Event('resize'));`
on onLoad of `<img />`

[2015-12-14 17:53] frnk94 commented on #2514
The weird thing is that the image is not even load remotely its a `props ` passed down. Look like
`<img src={'data:image/png;base64, ' + this.props.position.image} />` is async and causing the image getting rendered in a different loop

[2015-12-14 19:31] #2467 closed

[2015-12-14 19:32] mbrookes commented on #1937
Hi @jma7889 - fixed in #2488.

[2015-12-14 19:43] zachguo opened #2517 "[SelectField] Click on floating label doesn't focus"
![sg50qi6b07](https://cloud.githubusercontent.com/assets/3478203/11791819/c3d0dcbc-a257-11e5-9b5f-166fa8dd44ca.gif)

v0.14.0-rc1 & v0.14.0-rc2
related issues: #2201 #2115

[2015-12-14 19:44] zachguo commented on #2115
@piotr-dobrogost see #2517

[2015-12-14 19:48] #1937 closed

[2015-12-14 20:20] mbrookes opened #2518 "[FlatButton] Unused props."
I noticed there are unused props in FlatButton, [here](https://github.com/callemall/material-ui/blob/eec70d6bb255d86bb2852c3d1da17f01b826fed2/src/flat-button.jsx#L78):

    onKeyboardFocus: React.PropTypes.func,
    onMouseEnter: React.PropTypes.func,
    onMouseLeave: React.PropTypes.func,
    onTouchStart: React.PropTypes.func,

And [here](https://github.com/callemall/material-ui/blob/eec70d6bb2

[2015-12-14 20:30] newoga commented on #2518
Are you sure those aren't being use?

Looks like they're being called here: https://github.com/callemall/material-ui/blob/eec70d6bb255d86bb2852c3d1da17f01b826fed2/src/flat-button.jsx#L209-L227

That being said, we could probably check to see if the prop is defined before attempting to call:
[code]

[2015-12-14 21:26] mbrookes commented on #2518
Yes, sorry, realised my mistake and just came to close this. Shouldn't depend on syntax highlighting!

[2015-12-14 21:26] #2518 closed

[2015-12-14 21:36] 416serg opened #2521 "Allow TAP Object into a label."
Something like this

    <RaisedButton
      backgroundColor="#44bbff"
      labelColor="#fff"
      fullWidth={true}
      label={<TAP label='create_my_own_path' />}
      onTouchTap={this._handleCreatePath}

or when you have a `<TextField/>` with both `hintText` and `FfloatingLabelText` and using TAPi18n for browser language translation if your app is multilingual. Right now those fields only al

[2015-12-14 22:58] hburrows commented on #2486
+1 Also encountering this.

[2015-12-15 00:16] thomasantony opened #2522 "IconMenu broken by Bootstrap Grid system"
I have been using react-bootstrap combined with a trimmed down version of Bootstrap CSS (containing only the Grid System) to implement a responsive grid in my material-ui based design. It seems that the icons in Icon Menus get truncated as soon as I include the CSS file.

Example code (uses full bootstrap CSS from the CDN for simplicity):
[icon-menu-test.zip](https://github.com/callemall/material-

[2015-12-15 00:24] oliviertassinari commented on #2522
Could this be linked to https://github.com/callemall/material-ui/issues/2481?

[2015-12-15 01:39] frnk94 commented on #2522
Add this property to fix it `{ boxSizing:'content-box' }`

[2015-12-15 01:56] brysgo opened #2523 "AppBar doesn't respect 8px margin that comes default on chrome <body>"
The left and right side are asymmetrical because the right margin is not respected.

[2015-12-15 02:23] altaihero opened #2524 "text field getValue from dynamic function error"
Thank you for your create UI.

I am trying getValue from dynamic function

const getRefValue = (name) => {
            return  this.refs[name].getValue();
};

when i call this function i got error ("Uncaught TypeError: _this.refs[name].getValue is not a function")

but if i try this.refs['refName'].getValue() like this fine how to make dynamic function ?

[2015-12-15 02:33] thomasantony commented on #2522
I followed recommendation by someone on here (which was later deleted for some reason).

Added

    {boxSizing: 'content-box'}

to the svg-icon style. That seems to fix it. Please merge my pull-request #2525

[2015-12-15 02:44] frnk94 commented on #2522
I deleted because #2481 said exactly what i told u

[2015-12-15 02:49] thomasantony commented on #2522
@frnk94 Okay. My bad! I must have skimmed it and not paid enough attention. Thanks for the help anyway!

[2015-12-15 03:08] leshow opened #2526 "Icon not showing up"
I am using the example project, I added an AppBar to main.jsx:
[code]

the `muidocs-icon-custom-github` icon does not show the github icon. An IconButton with such a class name is described in the [docs](http://www.material-ui.com/#/components/icon-buttons)

[2015-12-15 08:53] soulmachine opened #2528 "Is the website www.material-ui.com open source ?"
This is more than a newbie question.

I'm reading the docs on the website <http://www.material-ui.com/> and I find that not all code snippets on the website  are complete, which causes some difficulty understanding the examples on the website.

I'll be appreciated if someone could tell me the complete source code of the `Tabs`  here <http://www.material-ui.com/#/components/tabs>

[2015-12-15 08:58] oliviertassinari commented on #2528
We are update the doc to show complete code snipets of examples.
Have a look at this PR, that should probably help https://github.com/callemall/material-ui/pull/2515.

[2015-12-15 08:59] subjectix commented on #2528
@soulmachine The docs are being migrated. The old codes are [here](https://github.com/callemall/material-ui/blob/master/docs/src/app/components/pages/components/tabs.jsx), but I would suggest you checkout the @oliviertassinari's PR #2515.

[2015-12-15 09:23] jgog opened #2529 "[IconButton] Tooltip broken"
just upgraded to rc2 and the `tooltip` prop on my `IconButton` just broke. Works fine when I remove the `tooltip` prop.

[2015-12-15 09:32] pristas-peter opened #2530 "A way to be able to turn off autoprefixer"
Hi, we are using material-ui components wrapped in Radium. Since Radium does auto-prefixing by decorating the render method, which is also server-side rendering capable, there is no need for material-ui components to do the same thing. Currently there is no way to turn off this feature in material-ui, what we do is that we comment out methods in styles/auto-prefix.js do to nothing, but could there

[2015-12-15 09:42] crysislinux commented on #2528
I found that http://www.material-ui.com/ was built with React&Material-ui. It is a great example for learning.  I can understand  each code snipet. But there are challenges putting them together to build a functional site.

I'll be appreciated if the code of http://www.material-ui.com/ is open source.

[2015-12-15 09:44] subjectix commented on #2530
There is a discussion going on in #684. However, what you ask is something different. @oliviertassinari  Can this be even implemented?

[2015-12-15 09:44] jgog commented on #2529
Fixed the issue, it was saying `Cannot read property 'tooltip' of undefined` (Similarly for `dialog` also).

This was because I have a custom theme and it didn't have the new zIndex property, this should be added to the documentation and changelog.

My theme now looks like this:

[code]

[2015-12-15 09:46] subjectix commented on #2528
@crysislinux It **IS** open-source :D it's in the docs folder. and the deployment is on the `gh-pages` branch.

We are changing how the documentations are built.

[2015-12-15 09:47] subjectix commented on #2460
More reason why we have to implement this #2460.

[2015-12-15 09:48] subjectix commented on #2529
Thanks for getting to the bottom of this. :+1:

[2015-12-15 09:54] crysislinux commented on #2528
@subjectix Found it. Thanks a lot :)

[2015-12-15 10:00] subjectix commented on #2528
@crysislinux You're welcome ^_^

[2015-12-15 10:33] soulmachine commented on #2528
@subjectix The `docs` folder, I see, thanks!

[2015-12-15 10:33] #2528 closed

[2015-12-15 11:08] subjectix commented on #414
This was fixed with the introduction of Popover component.

[2015-12-15 11:08] #414 closed

[2015-12-15 11:10] subjectix commented on #415
Menu is now a simple component thanks to Popover.

[2015-12-15 11:10] #415 closed

[2015-12-15 11:11] subjectix commented on #164
The old menus are deprecated, and the new ones are navigable.

[2015-12-15 11:11] #164 closed

[2015-12-15 11:14] subjectix commented on #957
The rawTheme now suppoers `zIndex`, you can easily switch the zIndices to achieve this.

[2015-12-15 11:18] subjectix commented on #1316
DropDownMenu uses the popover now and it renders a layer of it's own.

[2015-12-15 11:18] #1316 closed

[2015-12-15 11:21] subjectix commented on #1641
Dialog now uses the `Portal` pattern with render-to-layer. This doesn't happen anymore.

[2015-12-15 11:21] #1641 closed

[2015-12-15 11:24] subjectix commented on #1476
With render to layer, they can be as nested as you wish.

[2015-12-15 11:24] #1476 closed

[2015-12-15 11:27] subjectix commented on #1659
We will not support inheritance. But we are working on improving customization.

[2015-12-15 11:27] #1659 closed

[2015-12-15 11:36] oliviertassinari commented on #2526
You are right, the className is from the doc source code: https://github.com/callemall/material-ui/blob/master/docs/src/www/css/font-icons/style.css#L59.

[2015-12-15 11:39] subjectix commented on #2526
@oliviertassinari Yes definitely! :+1:

[2015-12-15 11:40] oliviertassinari commented on #2530
That's not ideal, radium is probably not autoprefixing every react element (futher down the tree).

What's the use case ?

[2015-12-15 11:52] neenaoffline commented on #2214
This was previously requested in #1119 and #1147

[2015-12-15 11:55] pristas-peter commented on #2530
I think it does, but I'm not sure about this... I've patched import function of every material-ui component to be wrapped in Radium...

Radium is capable of passing userAgent through context, not global variable like material-ui. Due to racing condition with global variable, we cannot use your prefixing solution...

[2015-12-15 11:57] pristas-peter commented on #2530
Or just implement feature to be able to pass userAgent within context...

[2015-12-15 12:06] #2214 closed

[2015-12-15 12:40] ZhnZhn opened #2531 "Toggle : elementStyle"
After apply custom style through props elementStyle for Toggle => Error in console:

Error: You're calling `ensureDirection` on the same style object twice.
Stack trace:
ensureDirection@http://127.0.0.1:8080/jspm_packages/npm/material-ui@0.14.0-rc2/lib/utils/styles.js:25:24
prepareStyles@http://127.0.0.1:8080/jspm_packages/npm/material-ui@0.14.0-rc2/lib/utils/styles.js:92:21....

and does not appl

[2015-12-15 13:45] patrykkopycinski opened #2532 "SelectField with floatingLabelText and errorText"
![screenshot 2015-12-15 14 43 07](https://cloud.githubusercontent.com/assets/5188868/11812155/7b159682-a33a-11e5-8fbc-cb648c31896f.png)

[2015-12-15 13:53] abhinavsingi opened #2533 "Guidelines to upgrade from React-0.13 to React-0.14"
Just like this commit:
https://github.com/callemall/material-ui/commit/bed7282c17f30c510847064087d4b6c5d947ee5b

I wanted to know what are the guidelines, methods to be followed if react is to be upgraded?

[2015-12-15 14:02] oliviertassinari commented on #2532
@patrykkopycinski Thanks for reporting this issue, we should solve it before the next release.

[2015-12-15 14:03] oliviertassinari commented on #358
@patrykkopycinski, we plan to add a showcase section to the doc.
I have checked out https://www.syncano.io/. That's preaty great!
Would you be ok to add it at some point?

[2015-12-15 14:06] oliviertassinari commented on #2533
Is this enough https://facebook.github.io/react/blog/2015/10/07/react-v0.14.html?

[2015-12-15 14:26] patrykkopycinski commented on #358
@oliviertassinari Thanks!, sure, but in fact our website isn't based on MUI, the dashboard is:  https://dashboard.syncano.io
Let me know if i can help you somehow with it

[2015-12-15 14:33] patrykkopycinski commented on #2532
http://www.material-ui.com/#/components/text-fields here in right column it seems it doesn't look properly also

[2015-12-15 14:38] oliviertassinari commented on #2532
![capture d ecran 2015-12-15 a 15 38 37](https://cloud.githubusercontent.com/assets/3165635/11813467/efcba5d2-a341-11e5-8d9f-5706357a6723.png)

[2015-12-15 15:35] Kingdutch commented on #2369
The issue of `<Table style={{height: 225}}>` not working is because the style set on the table gets merged with the internal styles.root and not the styles.bodyTable which is where the `<Table height="255">` goes to.

The last example doesn't work because the classname is applied on the table element itself and not on the bodyTable element (as with the second example above) so the bodyTable still

[2015-12-15 15:45] mvayngrib commented on #593
@lenaten is material-ui-native compatible with tcomb-form-native, or if not, how big a project would that be?

[2015-12-15 16:42] lenaten commented on #593
@mvayngrib I stopped to work on this project for a while..

[2015-12-15 16:45] mvayngrib commented on #593
@lenaten that's a shame, thanks for responding

[2015-12-15 17:17] RobTheBuilder2 opened #2536 "zIndex is not defined in styles/index.js"
A new dependency called zIndex was added to the raw theme.  However, zIndex was not added to the index.js located in the styles folder.  I have to hard-code the path in my custom theme.js to make it work.  It would be nice to be able to access it through the Styles namespace.

[2015-12-15 21:11] Gattermeier commented on #764
@lukkuz  for me styles get completely ignored in this case

[2015-12-15 22:28] dlindahl opened #2538 "[EnhancedSwitch] Double Ripple"
When touching a Toggle component, the ripple is emitted twice. This is likely due to the [touch handlers that exist on `EnhancedSwitch`](https://github.com/callemall/material-ui/blob/5c8a39b8fc27d560c5f6d2e42a3dd4d822436475/src/enhanced-switch.jsx#L411-L417) that explicitly start and stop the `touchRipple`.

Since `TouchRipple` handles its own touch events, I have a feeling that the ones on `Enhan

[2015-12-15 22:40] leshow commented on #2526
so... how do I get the icon to show up?

[2015-12-15 23:10] oliviertassinari commented on #2526
@leshow For the `FontIcon`, you need to have
[code]
and to import the font
[code]

[2015-12-15 23:20] brezal opened #2540 "Meaningful Transitions"
Is there planned work on implementing any of these ideas? https://www.google.com/design/spec/animation/meaningful-transitions.html

[2015-12-15 23:22] mbrookes commented on #2460
Thought I'd have a crack at implementing the base theme change: https://github.com/mbrookes/material-ui/commit/b92af82d36752cc27932e16f511f4a0b89fa0284

I haven't changed the import for `DefaultRawTheme` in any of the components yet, just the docs site as a POC.

I removed the `LightRawTheme` and `DarkRawTheme` requires in `styles/index.js` just to prove they weren't being used, but would they nee

[2015-12-16 00:14] newoga commented on #2460
@mbrookes It seems like everyone likes the term `baseTheme` more, myself included :smile:. I made a comment on your commit but I think you can open a new pull request as this seems more about deep merging defaults for themes. It'll be easier to review the changes there and material-ui build/linter will run too.

[2015-12-16 01:21] mbrookes commented on #2460
Yes, sorry to hijack this issue with mine. The deep merge work is much more interesting & important!

I'll open a PR as [WIP], and no problem if it gets bounced as not the right direction for the project.

[2015-12-16 04:35] chbdetta opened #2543 "[DatePicker] cancel button in year selection panel doesn't work"
in addition, after clicking the cancel button and go back to month selection panel, neither of the 'ok' nor 'cancel' button close the picker.

the demo page has the same issue
http://www.material-ui.com/#/components/date-picker

[2015-12-16 05:40] dcsan opened #2544 "problems with layering and handsontable"
mui is a fantastic time saver, but I've hit a nasty problem.
I'm combining material-ui with a very useful [handsontable](http://handsontable.com/)
however, I'm getting layering problems where the tables header rows conflict with mui elements.

![image](https://cloud.githubusercontent.com/assets/514002/11833046/b71abcfa-a373-11e5-8741-c4ec43aed72a.png)

In digging through the layers of CSS I can't

[2015-12-16 05:44] dcsan commented on #2544
other components also have the same issue

![image](https://cloud.githubusercontent.com/assets/514002/11833172/e82f1010-a374-11e5-9893-a0d167a6d6cd.png)

also [added as an issue to the HandsOnTable repo](https://github.com/handsontable/handsontable/issues/3069#issue-122156925)

[2015-12-16 05:59] #2448 closed

[2015-12-16 05:59] #2475 closed

[2015-12-16 06:16] subjectix commented on #2460
@mbrookes baseTheme is definitely a much better name. rawTheme confused me at first too. :+1: :+1:

[2015-12-16 06:20] subjectix commented on #2538
Maybe `TouchRipple` shouldn't handle it's own touch event, and be activated only through a `prop` or `method`. This issue is a bad one! CheckBoxes have ripples even when they aren't activated themselves. and when dimensions of components change these ripples get messed up. @oliviertassinari Thoughts?

[2015-12-16 07:07] #2536 closed

[2015-12-16 08:50] oliviertassinari commented on #2536
@RobTheBuilder2 Can you have a look at my comment https://github.com/callemall/material-ui/issues/2460#issuecomment-163654273.
Do you think that implementating this would have prevent this issue?

[2015-12-16 09:24] SPAHI4 opened #2547 "Timepicker and datepicker issue"
1. Timepicker and datepicker does not opens on click on floating label
2. datepicker name of day of the week is not translated
![date](https://cloud.githubusercontent.com/assets/1670998/11837092/d49967b4-a3ef-11e5-954a-334834e16b05.png)

3. timepicker bug when
[code]
![time](https://cloud.githubusercontent.com/assets/1670998/11837075/b6a8e8ba-a3ef-11e5-98fd-af975b586661.png)

[2015-12-16 09:29] jeffreyzhiw opened #2548 "Datepicker cannot be opened in the center of the window when used in a dialog ?"
when I use the datepicker component in a dialog, i found that it cannot be opened in the center of the window.. could this bug be fixed ?

[2015-12-16 09:31] #2532 closed

[2015-12-16 09:33] subjectix commented on #2548
@jeffreyzhiw What version of material-ui are you using?

[2015-12-16 09:33] #2486 closed

[2015-12-16 09:37] oliviertassinari commented on #2547
1. Can you have a look at http://www.material-ui.com/#/get-started/installation?
2. We have a first attent here https://github.com/callemall/material-ui/pull/2282.

[2015-12-16 09:38] jeffreyzhiw commented on #2548
0.13.4

[2015-12-16 09:39] subjectix commented on #2548
Please take a look at `0.14.0-rc2` to see if your issue is resolved.

[2015-12-16 09:42] oliviertassinari commented on #2544
@dcsan Please take a look at 0.14.0-rc2 to see if your issue is resolved (it should be).

[2015-12-16 09:44] oliviertassinari commented on #2543
Please take a look at 0.14.0-rc2 to see if your issue is resolved (it should be).

[2015-12-16 09:48] SPAHI4 commented on #2547
@oliviertassinari nothing changed when i used injectTapEventPlugin();

[2015-12-16 09:52] oliviertassinari commented on #2530
I couldn't agree more. We need this feature :+1:

[2015-12-16 10:01] jeffreyzhiw commented on #2548
@subjectix  thx !!

[2015-12-16 10:04] SPAHI4 commented on #2540
+1 would be great to see something like
https://elements.polymer-project.org/elements/neon-animation?view=docs

[2015-12-16 10:24] TrySpace opened #2549 "Popover anchorEl not documented"
The prop `anchorEl` that I see in the example, is not documented, described or explained.

Also, the example given is not a very common usecase. The code is good for the example elements we see, but not as a code example. What I mean is, seing the different options in action is good, but the example should be very simple and minimal.

Maybe the documentations should also more clearly state which p

[2015-12-16 10:37] #2548 closed

[2015-12-16 10:45] TrySpace opened #2550 "Popover anchorOrigin error not correct"
It throws a Failed propType: ``anchorOrigin.horizontal` of value `center` supplied to `Popover`, expected one of ["left","middle","right"].`

While docs say: `horizontal: [left, center, right]` and `vertical: [top, middle, bottom]`

This is because `center` and `middle` got mixed up.

I think we'd better choose one name for both midpoints or accept both `middle` and `center` for either..

[2015-12-16 10:47] subjectix commented on #2550
I think `center` is better. but `Popover` was in a release already. this will be a breaking change. so we have no choice but `middle`, for now at least.

[2015-12-16 10:51] tzuryby opened #2551 "Node JS Independence"
Dear community,

Have any of you managed to reorganize / recompile materila-ui as a standalone, that is, not as an NPM, not depend on nodejs.

I am willing to re-write an app, which is currently written in tornado and have no will to run another daemon on the server (node.js in this case).

[2015-12-16 11:02] TrySpace commented on #2326
Right now I have the issue that I can't position it, other than giving it a invalid achorOrigin and targetOrigin (horizontal: 'middle') will put it top right on the screen instead of topleft.
And then when I scroll down one "tick"(depends on browser/mouse settings probably), it will move exactly `100px` to the left for each tick, and will end up at the left side.
100px is probably the exact amount

[2015-12-16 11:31] TrySpace commented on #2326
I tried it from a different element, and now only the x axis (`left`) works, but the `top` doesn't even get a value:
![popover-no-worky](https://cloud.githubusercontent.com/assets/5586278/11839716/41080dce-a3f0-11e5-9be8-8750dde7b284.png)

Here I assigned the `GO` button as the anchorEl by using e.currentTarget.

![popover-no-worky2](https://cloud.githubusercontent.com/assets/5586278/11839755/9729

[2015-12-16 12:05] AngelEyesChina commented on #957
@subjectix , that would mean the LeftNav will appear under the AppBar, yet I think the AppBar will hide the first items in the LeftBar.
It's my understanding that the desired behavior is similar to  the way the docs look.

[2015-12-16 14:17] subjectix commented on #957
@AngelEyesChina Yes you are right. but since Levtnav is now composable you can simply add padding or margin.

[2015-12-16 14:29] newoga commented on #2551
Hey @tzuryby,

This project's dependence on Node.js is really only for things like package management and build tools used on the on the development side. There is no dependency on node.js when used in production and this does not require a node server/daemon.

This project is really meant to be used with a tool like [webpack](https://webpack.github.io/) or [browserify](http://browserify.org/) ([e

[2015-12-16 14:40] TrySpace commented on #2036
Very slow for me as well, especially with a lot of nested elements, had to optimize rendering as little as possible each time.

[2015-12-16 15:53] flyon opened #2553 "give warning if injectTapEventPlugin() not called -> items not interacting with mouse"
Hey, just wondering if it would be possible to give a console warning if you didn't call injectTapEventPlugin.

I just started a new project and forgot to do that, and at some point discovered that nothing responded to my mouse input. (perhaps because my laptop also supports touch?)
Took me a while to figure out this was the missing part.

My bad ofcourse, but a warning could save others some time

[2015-12-16 16:00] oliviertassinari commented on #2553
That's very good question and a very commun issue for starters.
It would be awesome.
I don't have any clue on how to do it at the moment.

[2015-12-16 16:25] ajsharp opened #2554 "Do away with SelectField#selectedIndex in favor of value"
To specify the currently selected item, you should be able to do it by specifying a value property, in staying with convention of most other form components.

[2015-12-16 16:52] subjectix commented on #2554
yup that sounds like a great idea! We are going to make SelectField composable. It would be awesome if we fixed this, too. Actually I'm working on it at the moment, i'll try to see if I can squeeze this in without breaking anything.

[2015-12-16 17:12] inkorange commented on #204
I'm attempting to use `MenuItems` in my LeftNav like this:
[code]

Wrapping a `<a>` around a `<MenuItem>` tag throws a warning `validateDOMNesting(...): <a> cannot appear as a descendant of <a>. See MainLayout > a > ... > MenuItem > ListItem > EnhancedButton > a"`

If you do a React inspection of the output you get the following.
[code]
which having nested `<a>` elements is offensive.

`<MenuItems

[2015-12-16 17:26] subjectix commented on #204
this is a separate issue, please open one, so we can label it and add it to milestones, tnx :grin:

[2015-12-16 18:32] newoga opened #2555 "[TextField] General improvements umbrella"
This is an umbrella issue for tracking general improvements to the `TextField` component in preparation for implementing #2416. I think taking this iterative approach gives us the best chance for getting there while maintaining backwards compatibility:

**General Improvements:**
- [x] Make underline a separate internal `TextFieldUnderline` component (issue #2475, PR #2476, PR #2559)
- [x] Make hin

[2015-12-16 18:37] acornejo opened #2556 "column placement (multiple items per row)"
often you want to place two or more components in the same line.

for instance, you may want to have two input boxes, one for firstname the other for lastname, or perhaps one input box for phone number and next to it a dropdown for type (i.e. mobile, home, work). etc.

there are plenty of such examples in google's material design website, see here:

https://www.google.com/design/spec/components/te

[2015-12-16 18:39] dcsan commented on #2544
hi! this is indeed fixed in 0.14!
now i just need to find some examples of the new menu API...
https://github.com/callemall/material-ui/pull/2507

[2015-12-16 18:42] oliviertassinari commented on #2544
0.14 is still in a preprelease state, and the documentation is not yet published. Still you have all the source code available.

[2015-12-16 18:49] oliviertassinari commented on #2554
Awesome, I was planning to work on this (to fix my selenium tests), please go ahead :+1:

[2015-12-16 19:29] subjectix commented on #2555
@newoga These are fantastic ideas! I like them all :grin: Thanks :+1:

[2015-12-16 19:35] subjectix commented on #2554
@oliviertassinari Yeah I'll make a PR as soon as I hit some stability.

[2015-12-16 20:08] #2544 closed

[2015-12-16 20:28] anthony-dandrea commented on #2100
+1

[2015-12-16 20:32] oliviertassinari opened #2558 "Convert the code base to ES6 module"
This was started here https://github.com/callemall/material-ui/pull/2333.
However, as pointed out by @Apercu the index wasn't updated, same for the readme examples.
We can use https://github.com/reactjs/react-docgen/blob/master/src/main.js as inspiration.

I'm also wondering if adopting the ES6 module definition for the index would make webpack/browserify only imports the desired file with the fol

[2015-12-16 20:36] newoga commented on #2448
@justjacksonn We recently merged a reimplementation of how underline works and is styled. The new implementation still relies on two lines, but the code has been refactored and simplified. Would you be able to confirm whether this was fixed for you with the latest in master? :smile:

[2015-12-16 20:37] newoga commented on #2555
@subjectix Glad to hear! Hopefully I can knock a few out this week!

[2015-12-16 21:17] bendiy commented on #1427
I've ran into this issue and it is only happening when `onChange` is set to a function, but a `value` isn't set. If I leave `onChange` off, the `floatingLabelText` floats to the top like it should when selecting an option. If I have an `onChange` function that also updates the state property `value` is using, it works correctly. Note, the `floatingLabelText` float to the top initially, but when th

[2015-12-16 21:37] bendiy opened #2561 "[SelectField] documentation method onChange(name event) parameters reversed"
The docs show `onChange function(name, event)`, but it should be `(event, name)`.
http://www.material-ui.com/#/components/select-fields

`onChange` is passed down to the `DropDownMenu` here:
https://github.com/callemall/material-ui/blob/master/src/select-field.jsx#L163

which all call `this.props.onChange(e, index,...)`, not `(index, e)`:
https://github.com/callemall/material-ui/blob/master/src/dr

[2015-12-16 21:55] justjacksonn commented on #2448
I would love to verify, but I gotta be honest.. I am horrible at figuring out how to get the latest from a given branch and then using it as if I npm install --save.  I have thus far waited for the fixes to be pushed, if you can enlighten me on that step, I'd be happy to grab the latest and give it a whirl.

[2015-12-16 22:05] subjectix commented on #2561
yeah, these events should be documented in a far better way. thanks ^_^

[2015-12-16 22:09] oliviertassinari commented on #2561
Thanks for reporting it, but this was already fixed https://github.com/callemall/material-ui/pull/2502/files.

[2015-12-16 22:09] #2561 closed

[2015-12-16 22:26] subjectix commented on #2448
@justjacksonn What is the platform you're working on? is it linux?

[2015-12-16 22:32] newoga commented on #2448
Node.js has a [feature](https://docs.npmjs.com/files/package.json#git-urls-as-dependencies) where you can add a git url as a dependency so where you have the version you can try `git://github.com/callemall/material-ui.git` to pull the latest in `master`. I don't use the feature often but it's documented and should work.

Thanks much for following up @justjacksonn

[2015-12-16 22:47] justjacksonn commented on #2448
Well Mac and/or Linux depending on the day of the week. :D

[2015-12-16 23:05] Apercu commented on #2558
I've done the work [here](https://github.com/Apercu/material-ui/tree/refactor/es6-modules), still have to be test it better before a clean PR. Don't hesitate if I've forgot something!

[2015-12-16 23:26] oliviertassinari commented on #2558
@Apercu That looks good! Could you submit a PR?
I guess that
[code]
Would no longer work, I don't think that it's bad.

[2015-12-16 23:30] subjectix commented on #2448
@newoga That won't work since it will not trigger a build. it will be VERY hard to get that to work :grin:

@justjacksonn Good, then you need git and node. do the following in command line:

1. `git clone https://github.com/callemall/material-ui.git`
2. `cd material-ui`
3. `npm install`
4. `cd docs`
5. `npm install`
6. `npm start`
7. open browser and go to `http://localhost:3000`

This is if you w

[2015-12-16 23:39] HriBB commented on #1054
I have this problem on Nexus 7 with 0.14.0-rc2. When I tap on menu item there's no ripple and menu closes with a delay.

[2015-12-16 23:43] subjectix commented on #2558
and

[code]

[2015-12-16 23:44] Apercu commented on #2558
I also have to rework a bit on the lint to make it pass too

[2015-12-17 00:30] newoga commented on #2558
If we have the [export extensions](https://github.com/leebyron/ecmascript-more-export-from) functionality enabled from babel, we might be able to put all these exports in a `mui.js`.  Then in `index.js` do something like:

[code]

Haven't tested it but that should allow us to support:
[code]

I know in the latest babel the export extensions are available in [stage 1](https://babeljs.io/docs/plugin

[2015-12-17 00:31] bendiy commented on #2561
Thanks. Didn't find that when searching the issues.
On Dec 16, 2015 3:33 PM, "Olivier Tassinari" <notifications@github.com>
wrote:

[2015-12-17 00:57] bendiy commented on #2446
See: https://github.com/callemall/material-ui/issues/1427#issuecomment-165249532
Make sure when `onChange` is set, `value` is also set.

[2015-12-17 04:02] birnam opened #2566 "MenuItem right icons are not styleable if desktop=false"
https://github.com/callemall/material-ui/blob/master/src/menus/menu-item.jsx#L168-L172
[code]
In MenuItem when merging styles.rightIconDesktop with rightIcon.props.style, the merge only happens if desktop == true, otherwise it sets it to null. If desktop == false it should at least preserve the style property the developer provided for the rightIcon.
[code]

[2015-12-17 06:15] chbdetta commented on #2543
Nice! It's fixed. I'll close this

[2015-12-17 06:15] #2543 closed

[2015-12-17 06:27] rdagger opened #2568 "LinkButton requires two clicks"
Not sure if this is a bug but when using LinkButton attribute on the buttons, I have to click twice to activate the link.  Here is my code:

[code]

I was able to get to work on a single click by adding:
[code]

[2015-12-17 09:34] zhguokai opened #2569 "how to use slider box?"
I din't find any commponet for image  auto slider?

[2015-12-17 10:53] SPAHI4 commented on #2547
also timepicker does not have wordings prop

[2015-12-17 11:02] ryanfields opened #2570 "[ListItem] Is the secondaryText limit necessary?"
Is there a technical limitation or style guide restriction somewhere that forces ListItem secondaryText to be restrained to a maximum of two lines?  My app has a lot of short-form content, but not quite short enough to always fit within the two lines allowed.  My goal is to display an avatar, an account name, and a chat message in as little space as possible.  ListItem almost fits the bill, but no

[2015-12-17 13:53] truthtaicom commented on #2569
You can use https://github.com/akiran/react-slick

[2015-12-17 15:36] newoga commented on #2570
Hi @ryanfields, that's an interesting question. According the the spec for lists, they shouldn't have more than one line of primary text and two lines of secondary text. It seems that Lists are supposed to be used more for "overviews" of items that might take you to a detail page of an item. So in the example screenshots on the spec site, the `List` would be good to see overview of conversation, b

[2015-12-17 15:38] oliviertassinari commented on #2569
Your use case is not clear but you can have a look at https://github.com/oliviertassinari/react-swipeable-views, It may help.

[2015-12-17 15:40] ryanfields commented on #2570
That's an acceptable alternative.  Can ListDivider be used outside of a List element?  If not, can List contain children other than ListItem and still display everything correctly?

[2015-12-17 15:51] newoga commented on #2570
Yup, I haven't tried it but there's no reason why it shouldn't work. In master, we migrated the `ListDivider` code into a [Divider](https://github.com/callemall/material-ui/blob/master/src/divider.jsx) component and deprecated `ListDivider` and `MenuDivider` (which now use by default reuse the new `Divider` component).

If you want, you can change your import to:

[code]

So that when you update y

[2015-12-17 15:52] oliviertassinari commented on #2570
@newoga I feel like another way to resolve this issue (and other that I had with the list item) would be to make this component composable.
@ryanfields would be able to overide the style of the secondary node or to implement his custom children component for the ListItem.

[2015-12-17 15:56] newoga commented on #2570
@oliviertassinari I don't disagree and I think it's worth investigating/creating an issue for. But I do question if long expanses of content on `ListItem` aren't in line with the original intentions for a ListItem in the material spec. I could argue that it may make sense for @ryanfields to make his own custom `<Message />` component that reuses things like dividers and avatar for the purpose of c

[2015-12-17 16:01] ryanfields commented on #2570
I'm happy with using Paper and Divider for now.  My goal is just to use as much native Material-UI as possible so that I don't have a bunch of maintenance headaches.  Too many fully custom components means:

* I have to do a lot of my own cross-browser testing
* I have to worry about whether updates to Materials-UI will break my custom components

If my Message component is just a Paper element co

[2015-12-17 16:02] oliviertassinari commented on #2570
I completly agree with you

[2015-12-17 16:09] oliviertassinari commented on #2570
I will be working on how we can make the list item composable. I hope to address this issue. I think that we can let it open for now.

[2015-12-17 16:26] newoga commented on #2570
@oliviertassinari Sounds like a good plan to me!

Thanks for the extra context, @ryanfields

[2015-12-17 16:35] TrySpace opened #2572 "[Snackbar] should be in root of document like Dialog?"
When using `Snackbar` in a nested component, no amount of z-index is going to help it get on top.

Are there plans to make this work like dialog, so it will always be on top?

Is it also going to support prop `open` like the new `Dialog`, or will this mean problems with the timer?

[2015-12-17 16:51] oliviertassinari commented on #2572
I'm currently working on it, see https://github.com/callemall/material-ui/pull/2562.

We are using `zIndex: 10,` I think that we should instead use the muiTheme. I'm gonna take care of this.

I don't think that we need to use the `RenderToLayout` component.
According to the material spec, we should only have on snackbar displayed at the time.
Hence, you should only have one instance of this compon

[2015-12-17 17:12] oliviertassinari commented on #1054
@HriBB I confirm your issue with a touch device emulator.
Could you open a separate issue?

[2015-12-17 17:16] oliviertassinari commented on #2566
@birnam Thanks for finding this. Do you want to submit a PR to fix it?
I think that it would be good to add an example with `desktop={false}` and a right icon.
Right now, we only have an example with `{desktop=true}`.

[2015-12-17 17:28] oliviertassinari opened #2573 "Remove the usage of isMounted()"
Following https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html.
We need to fix those component
- [x] Snackbar https://github.com/callemall/material-ui/pull/2562
- [x] RefreshIndicator #2739
- [x] CircularProgress #2739
- [x] LinearProgress #2739
- [x] Menu
- [x] IconMenu
- [ ] TextField (PR #3437)
- [ ] FocusRipple (PR #3437)
- [ ] CircleRipple (PR #3437)
- [x] click-awayabl

[2015-12-17 17:37] TrySpace commented on #2572
Cool, and yes, I only need one at a time, but when the snackbar is in a nested element, I think it will not  be on top consistently if it is not placed in the root element? No matter how high the z-index, because of html hierarchy and ultimately depends on its parent's `absolute` and `relative` properties and a combination of it.

Or is z-index supposed to work differently when it's fixed, because

[2015-12-17 18:30] subjectix commented on #2573
:+1: :+1: :+1:

[2015-12-17 18:34] oliviertassinari commented on #2573
@subjectix I have started doing it on my PR updating the `Snackbar`.

[2015-12-17 18:50] newoga commented on #2036
I'm willing to looking into performance issues, but it's been a while since I've used Cordova. Would somebody be willing to create a cordova/material-ui project on github that reproduces some performance issues so that we can look at it?

[2015-12-17 18:59] subjectix commented on #2573
@oliviertassinari very nice :+1:

[2015-12-17 19:46] bpmckee commented on #2010
@oliviertassinari Any idea how long it will take to get this into 0.14.0?  using 0.14.0-rc1 in order to get around some other broken things in x.13.x.

[2015-12-17 19:56] oliviertassinari commented on #2010
We should have kept a 0.13.x to release hot fixes,  but we didn't.
I hope that we can release 0.14 before the end of the year. We are doing heavy changes with this up coming release.

[2015-12-17 20:51] subjectix commented on #2524
@altaihero can you please provide the code that calls this function? it seems like the name is not provided a valid ref string.

[2015-12-17 21:08] oliviertassinari commented on #2572
@TrySpace I have just merged https://github.com/callemall/material-ui/pull/2562 that should address your first point.
Regarding your second one.

I still think that this should be handled by a single Snackbar. We could improve this existing behavior by adding a minimum time opened.
Right now, if the message change, the Snackbar close and open with the new message ride away.

[2015-12-17 21:22] birnam commented on #2566
Sure @oliviertassinari I'll get that to you asap

[2015-12-17 21:26] subjectix commented on #210
This was fixed with the introduction of zIndex to the theme,

[2015-12-17 21:26] #210 closed

[2015-12-17 21:28] subjectix commented on #1239
Dialog is using RenderToLayer now, this is fixed.

[2015-12-17 21:28] #1239 closed

[2015-12-17 21:29] subjectix commented on #1310
Fixed now. Dialog uses RenderToLayer.

[2015-12-17 21:29] #1310 closed

[2015-12-17 21:32] subjectix commented on #1557
This was fixed. somewhere along the line,

[2015-12-17 21:32] #1557 closed

[2015-12-17 21:33] subjectix commented on #1740
This was fixed by Popover and RenderToLayer,

[2015-12-17 21:33] #1740 closed

[2015-12-17 21:34] subjectix commented on #1506
This was fixed a long time ago :grin:

[2015-12-17 21:34] #1506 closed

[2015-12-17 21:36] subjectix commented on #2023
@oliviertassinari Is this still an issue?

[2015-12-17 21:38] subjectix commented on #2270
This was addressed in #2507

[2015-12-17 21:38] #2270 closed

[2015-12-17 21:40] subjectix commented on #2315
adding 0.14.0-rc2 as dependency will fix this.

[2015-12-17 21:40] #2315 closed

[2015-12-17 21:42] subjectix commented on #2460
@oliviertassinari I'm working on this. don't touch it :D

[2015-12-17 22:08] oliviertassinari commented on #2023
Yes it's.

[2015-12-17 22:17] Illyism commented on #2573
You seem to be having trouble with this sometimes because you're adding and removing events that don't refer to the same function such as in `mixins/click-awayable.js`. [bind() returns a new function](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_objects/Function/bind)

Something like this would solve this:

[code]

[2015-12-17 22:18] r0ber70 opened #2574 "Attempting to use a component class as a mixin?"
I'm using webpack and installed material-ui with npm. I have already replaced text inputs in my forms with the material-ui text-field and it works great.

But.

Then I tried adding a button. Simple enough right? Suddenly, I get this error:

Invariant Violation: ReactClass: You're attempting to use a component class as a mixin. Instead, just use a regular object
I have tested and this error gets th

[2015-12-17 22:19] subjectix commented on #2023
@oliviertassinari hmmm how can this be? I mean, are you considering Day Light Saving maybe?

[2015-12-17 22:23] subjectix commented on #2574
We'll try to look into this. thanks for reporting.

[2015-12-17 22:33] oliviertassinari commented on #2023
I don't remember, it was linked to how the date is computed.

[2015-12-17 22:34] newoga commented on #2574
Mm, that's bizarre. The only mixin being used in the raised button is `StylePropable`, and that's a regular json object.

[2015-12-17 23:02] #1487 closed

[2015-12-17 23:02] #2554 closed

[2015-12-17 23:08] careyf opened #2575 "[AutoComplete] Menu items become invisible on dataSource changes"
Found on 0.14.0-rc2.

I am using a simple array of strings as a datasource, and sporadically all or some menu items will become invisible. A gif is attached illustrating the issue. You can see at the end I am able to select a menu item which is complete invisible but stll clearly present.

I traced into things and found that the opacity on some menu items remains as 0, but I'm not sure what the ca

[2015-12-18 00:31] genyded commented on #1902
+1 opening any Dialog `Only a ReactOwner can have refs` and I am using NPM 3 so dups should be nomalized.

[2015-12-18 00:36] zhguokai commented on #2569
thanks every one

[2015-12-18 01:11] archinal opened #2576 "Adding disabled=true to DropDownMenu has no effect"
The code below renders the same DropDownMenu as if `disabled` were false. It should, however, create either an un-expandable menu or a menu filled with disabled items.

[code]

[2015-12-18 02:41] leshow commented on #2526
I added that to my main.css and index.html (i'm using the gulp/react example app) and the icon was replaced with the rectangle with an 'X' in it, the icon missing icon. So that still didn't do it. Where are you getting the `content` CSS from?

[2015-12-18 02:44] leshow commented on #2526
Ah, nevermind. I was missing some more CSS from that file

[2015-12-18 02:44] #2526 closed

[2015-12-18 02:57] roylee0704 commented on #209
Consider this one? https://github.com/roylee0704/react-flexbox-grid
It is a set of React components implementing flexboxgrid.css with the power of CSS Modules.

[2015-12-18 03:22] Beingbook opened #2577 "Popover appended to incorrect position."
When popover located to right bottom corner, it does diet. like this:
<img width="100" alt="2015-12-18 12 17 01" src="https://cloud.githubusercontent.com/assets/2682865/11888484/59e8e1fa-a581-11e5-845b-2434839bce18.png">
<img width="120" alt="2015-12-18 12 17 06" src="https://cloud.githubusercontent.com/assets/2682865/11888486/59eb3cc0-a581-11e5-82d5-238f5cc5c712.png">
<img width="140" alt="2015-1

[2015-12-18 04:48] ajsharp commented on #2204
Bump. Another part of this problem is the inability to set a DatePicker `defaultDate` to a null value -- it causes an error. I believe this could be solved if `DatePicker` supported `Calendar`'s `initialDate` property. When I try to set the `defaultDate` to `null`, I get an exception because `Calendar` expects a valid date in `getInitialState` when building the `displayDate` property.

[2015-12-18 04:52] ajsharp commented on #2204
Ah, actually, the fix is to set the `defaultDate` to `undefined`, not `null`.

[2015-12-18 05:57] alitaheri opened #2580 "Proposal: Use underscore for internal props"
Since we are making the components composable, we will need some way of passing around props that are implementation details. besides the HOCs for themes will also pass down props, these props shouldn't be directly set, put rather via another internal component. Also we can filter names that start with underscore from the documentation. I think this will express the purpose of these props very wel

[2015-12-18 07:53] oliviertassinari commented on #2580
To raise the discussion, another way to do it, would be to blacklist `muiTheme` from the documentation generation.

[2015-12-18 08:03] subjectix commented on #2580
@oliviertassinari `muiTheme` might not be the only prop. But it's not a bad idea either :D With internal props we can have much more control over how components communicate with each other. And we can just edit thing as we like since they are private. no more deprecation warning, no more deferred removal and no more breaking change for these private props. We can have them as we like. it's just th

[2015-12-18 08:15] oliviertassinari commented on #1600
Using actions as a JSON object is now deprecated. You can simply pass an array of `FlatButton` components to the `actions` property.

[2015-12-18 08:15] #1600 closed

[2015-12-18 08:37] ToanNG opened #2581 "[Card] Expandable card example is not working"
I tried copying the example of expandable card in this page [http://www.material-ui.com/#/components/cards](http://www.material-ui.com/#/components/cards) to my project, but seem like nothing happened when I clicked on the expander. Is it a bug or did I miss something?

[2015-12-18 09:07] #2581 closed

[2015-12-18 09:08] ToanNG commented on #2581
Sorry I just seen some components need the react-tap-event-plugin

[2015-12-18 10:15] Serfenia opened #2582 "[RefreshIndicator/CircularProgress] - Make CircularProgress be configurable to start out on full stroke"
Hey there,

As an enhancement I would like to see the `CircularProgress` to start on a large stroke instead of a small one, through a boolean configuration. What I mean with this is the following:

Small:
![screen shot 2015-12-18 at 11 11 40](https://cloud.githubusercontent.com/assets/2427370/11894532/27201184-a578-11e5-8d65-804fb3b23c34.png)

Large:
![screen shot 2015-12-18 at 11 12 15](https://c

[2015-12-18 10:47] alonronin opened #2583 "Time Picker with Left Nav"
when selecting time the left nav is slide also.

[2015-12-18 10:54] oliviertassinari commented on #2583
Could you check with the lastest release. This should be fixed.

[2015-12-18 13:45] tirsen commented on #2340
+1 loading property would be nice

[2015-12-18 14:55] HriBB opened #2584 "No ripples in IconMenu on tablet (Nexus 7)"
When I tap on menu item there's no ripple and menu closes with a delay. Ripple works on desktop Chrome. Using 0.14.0-rc2 on Nexus 7 with Android 6.0

#1054

[2015-12-18 15:10] newoga commented on #2580
I'm agree that we could use some kind of approach for managing/differentiating/hiding internal props from others. I think hiding them from the docs is a good start, and I'm open to naming conventions as well. Like @subjectix said, if it's an internal prop and something that's internal only, we could technically change the name or naming convention of those props without it impacting users.

Any th

[2015-12-18 15:14] HriBB commented on #2584
How can I help? How can I debug this?

[2015-12-18 15:42] subjectix commented on #2580
@newoga Yeah definitely, an umbrella issue to address these would be great. :+1: Any chance you got the time to compose that? I've got my hands full with the themeManager :grin:

[2015-12-18 18:01] newoga opened #2586 "[Doc] codegen improvements umbrella"
This issue is to track improvements to documentation generation that we would like to have.
- [x] Indicate which props are deprecated and information on the new appropriate/supported behavior
- [ ] Add ability to selectively hide props from documentation (like internal props)

[2015-12-18 18:03] newoga commented on #2580
@subjectix No problem, I created it the issue here: #2586

[2015-12-18 18:03] newoga commented on #2586
I haven't given this topic much thought but I think @oliviertassinari mentioned in a PR that he has some more ideas on what he wanted to do with the doc generation.

[2015-12-18 18:24] subjectix commented on #2580
@newoga thanks a lot :+1:

[2015-12-18 18:33] almoraleslopez commented on #2409
Tested in Windows, Linux (Ubuntu desktop) and Mac and same behavior. It's not a OS related problem.

[2015-12-18 18:58] newoga commented on #2409
@almoraleslopez Thanks for the additional details. I haven't had a chance to try to reproduce this. If you could put up a simple project that reproduces this, that'd be a huge help. You could also consider forking this project and add the same i18next dependency and see if you can add it as an example to the documentation site to see if it's reproducible there.

[2015-12-18 19:02] newoga commented on #1427
@bendiy Thanks for writing that up. I agree with your observations. I'm actually in the middle of refactoring some of the `TextField` code that controls this logic at the moment. And you are correct.

The `SelectField` uses a `TextField` internally to control floating labels. The conditions in which the floating label is display as floating text vs as hint text is not intuitive. Unfortunately I do

[2015-12-18 20:11] dcsan opened #2587 "AutoComplete - Cannot read property 'props' of undefined"
with 0.14-rc2

I'm using an autocomplete component and getting the error below whenever I try to use that field.

Uncaught TypeError: Cannot read property 'props' of undefined

here in `element.props`

[code]

component markup
[code]

is there a way to set `element`?

![image](https://cloud.githubusercontent.com/assets/514002/11906303/41b0e872-a580-11e5-9957-aa92a893d18b.png)

[2015-12-18 20:54] r0ber70 commented on #2574
Yes I know. :-/ It's giving this error on all elements I've tried so far, except the textfield. It may be something to do with my setup but I'm not sure what.

[2015-12-18 20:55] dcsan opened #2588 "Dropdown on change is now returning indexes only"
I upgraded react and material-ui to the 0.14-rc2
and Dropdown menu params seem to have changed
I wouldn't think a change like this would slip through react itself

Package: react@0.14.3
Maintainers: mdg
Git: https://github.com/meteor/react-packages
Implies: jsx, react-meteor-data, react-runtime

[code]

    setTopicFilter(event, selectedIndex, menuItem)

previously the 3rd param was the text of th

[2015-12-18 21:00] birnam commented on #2566
PR @oliviertassinari :  https://github.com/callemall/material-ui/pull/2589

[2015-12-18 22:41] oliviertassinari commented on #2586
@newoga Thanks for opening this issue.
Indeed, I plan to clean up a bit what we have started with the documentation:
- using the new `deprecatePropType` where we can and make the codgen displaying the warning message in the description.
- update the examples tu use stateless function components where possible.

[2015-12-18 22:49] #2566 closed

[2015-12-18 23:05] zachguo commented on #1993
For me, it's laggy only when `React Dev tools` is enabled.

[2015-12-18 23:16] alitaheri opened #2591 "[Proposal] flat and intuitive component structure to simplify import statement."
I think this format:

[code]
is much more intuitive and convenient than this:
[code]

Making this happen is hard and takes a lot of time. But it's a goo plan I think.

It can only be for deployment so gitignore and development can stick to lib.

@oliviertassinari @newoga @Zadielerick What do you think about this?

[2015-12-18 23:28] oliviertassinari commented on #2591
@subjectix That seems better, however, in the long run, I would prefer to use
[code]

[2015-12-18 23:38] subjectix commented on #2591
@oliviertassinari That would require tooling. besides not every build system can handle this from client side. I think it's best to provide both formats.

[2015-12-19 00:05] sergiu-paraschiv commented on #2575
I'm can confirm this is happening to me too.

[2015-12-19 05:03] newoga commented on #2591
Yup, I can't argue with this. I like both approaches more than what we currently have.

[2015-12-19 06:59] subjectix commented on #2591
@newoga Cool. after my marathon on the theme handling, I'll move onto improving the build script, upgrading to babel 6. updating dependencies and related housework stuff.

[2015-12-19 16:04] mhagmajer commented on #2432
+1 When are we hoping to release 0.14.0?

[2015-12-19 16:16] carlosramireziii opened #2594 "Title of a text-only GridTile is not properly spaced"
When using a `GridTile` without an action button (text-only), no spacing is applied to the title area.

The spacing for the title is set with the following [logic](https://github.com/callemall/material-ui/blob/master/src/grid-list/grid-tile.jsx#L99):
[code]
The `actionPos` variable is set [here](https://github.com/callemall/material-ui/blob/master/src/grid-list/grid-tile.jsx#L77):
[code]
So if an

[2015-12-19 17:09] dcsan opened #2595 "autocomplete dropdown will affect the rest of the display items"
If i have an autocomplete menu, and open it up, it will push down all the other DIVs below it.
I would have expected the menu items that show up to be on their own fixed layer and not affect the rest of the display

closed
![image](https://cloud.githubusercontent.com/assets/514002/11914252/38621736-a630-11e5-918e-373461609052.png)

open:
![image](https://cloud.githubusercontent.com/assets/514002/1

[2015-12-19 20:07] vijayrawatsan opened #2596 "[AutoComplete] Down arrow key does not work the first time."
If you press down arrow key to select first item it does not select anything. Then you press down again it selects second entry in the dropdown menu.

[2015-12-19 21:53] daphee commented on #2244
I have the same issue.

"Fixed" it for me by changing the render function in lib/ink-bar.js.

In the createElement function I changed the third parameter to be the empty string instead of a space.

[code]

[2015-12-19 22:52] rdagger opened #2600 "Enhanced Button press blocks Tabs in Chrome"
An EnhancedButton press disables the Tabs on the page in Chrome.  Also the button press ripple is not centered on the button.  Afterwards when the tabs are clicked a big ripple appears over the tab but they do not function.  The tabs function OK until the EnhancedButton is pressed.  The EnhancedButton press may disable other controls too.

The problem does not occur in FireFox or IE. Although the

[2015-12-19 23:10] ayhankuru commented on #2244
problem this line [#L74](https://github.com/callemall/material-ui/blob/master/src/ink-bar.jsx#L74) @subjectix

@christiandennis @andrejunges maybe utf8 encoding problem. should you save utf8 bom  reference http://stackoverflow.com/a/1462039

[2015-12-19 23:13] subjectix commented on #2244
@ayhankuru Thanks for finding this, we'll try to understand why it's  even there

[2015-12-19 23:13] oliviertassinari commented on #2244
This `&nbsp;` seems ugly :flushed:. I think that we should try to remove it.

[2015-12-20 00:57] javaguy opened #2601 "SelectField alignment issue with inline forms"
I'm trying to create an inline form and want horizontal alignment between my fields.  However, without any styling the SelectField is too high:

![image](https://cloud.githubusercontent.com/assets/65890/11915930/67e4dba4-a6b4-11e5-98bb-2fe2fca4e28d.png)

I've tried setting the margin and padding on the field, but not luck. How do I get them aligned?

Here is the jsx i'm using
[code]

[2015-12-20 01:31] ptim commented on #1396
I'm seeing this on all my flat and raised buttons in safari 9.0.1 and:

[code]

[2015-12-20 08:00] habibialkaff opened #2602 "AutoComplete returns the first item onEnterKeyDown"
I'm just wondering if the autocomplete onEnterKeyDown should pass the first item index (or list of filtered items), not just the search text value. The Item TouchTap event already passes the selected index.

Currently, my workaround is to loop through the dataSource again when the onNewRequest event is triggered. Perhaps it might be better if the component is able to do it.

[2015-12-20 08:18] thelordoftheboards opened #2603 "DeviceBatteryXX icons look all the same."
I created a react component with a card and list with list items representing each and every icon found in the material-ui project. I am noticing that some of the icons look the same:

![image](https://cloud.githubusercontent.com/assets/7056535/11917117/925ccfaa-a6ae-11e5-8aea-d4a3239fe46f.png)

At the same time, I am noticing a new message that appeared in the chrome console:

![image](https://cl

[2015-12-20 08:26] vmaudgalya opened #2604 "DropDownMenu default label style not consistent?"
Hi, I've found that when I insert a DropDownMenu in different locations in my code, the default label style is not consistent.

Here is some code where I see an inconsistency:
[code]

And here is how it appears:

When closed:
![screen shot 2015-12-20 at 12 16 08 am](https://cloud.githubusercontent.com/assets/12266146/11917133/5e22cb4e-a6af-11e5-8094-591ef6b4d2f7.png)

When open:
![screen shot 2015

[2015-12-20 09:40] Tux1 opened #2605 "Good practice to insert header LeftNav"
Hello,

I use the RC2 release that really helps me. I used to insert header into the top of my LeftNav. However it seems it is deprecated and I am wondering how to do that ?

Thank you for your help

[2015-12-20 10:03] oliviertassinari commented on #2604
That looks like a bug. I think that the font family should be applied to the root element.
Something like https://github.com/callemall/material-ui/blob/master/src/tabs/tab.jsx#L110.
A PR is welcomed :+1:

[2015-12-20 10:06] oliviertassinari commented on #2601
We have changed the style of the SelectField lately, could you try with the latest prerelease?

[2015-12-20 10:08] subjectix commented on #2605
@Tux1 Just put inside the LeftNav as a child. it's composable now :grin:

[2015-12-20 10:09] Tux1 commented on #2605
Oh yes of course ! Thanks

[2015-12-20 10:09] #2605 closed

[2015-12-20 10:31] oliviertassinari commented on #2603
The battery icon looks the same because of the wrong `fill-opacity` property.
For instance `battery-50` shoud look like
![capture d ecran 2015-12-20 a 11 29 35](https://cloud.githubusercontent.com/assets/3165635/11917566/1dc8b28a-a70d-11e5-9d24-0748ec913f8b.png)
Turns out, that's a duplicate of https://github.com/callemall/material-ui/issues/1577.

[2015-12-20 10:31] #2603 closed

[2015-12-20 10:32] oliviertassinari commented on #2603
@thelordoftheboards That should be easy to fix, I'm gona make a PR.

[2015-12-20 11:07] danielbanfield commented on #2568
I don't think this is related to LinkButtons only - I have a similar problem with IconButtons. Some clicks simply aren't registered at all. Added disableTouchRipple and eveything was fine.

[2015-12-20 12:01] almoraleslopez commented on #2409
Hi @newoga

I've tested it by forking Material UI and works as expected. Then I've tried back in my app and works fine.

I think the problem was in the perfomance of my computer. When I opened the issue I had all the development tools working (gulp/grunt, debugging, etc) and maybe it cause the lag and performance issue.

I'll report any new issue if I find any problem.

[2015-12-20 12:01] #2409 closed

[2015-12-20 12:32] #1577 closed

[2015-12-20 12:43] ayhankuru commented on #2409
@newoga i think problem AutoPrefix, sample timeline. what do you think?
![xxx](https://cloud.githubusercontent.com/assets/2834954/11918002/74b70c3a-a727-11e5-9dd9-62a6d2784655.png)

also reference article https://developers.google.com/web/fundamentals/performance/rendering/

[2015-12-20 14:27] genyded commented on #1902
Status on this? It really hinders any progress...

[2015-12-20 16:39] oliviertassinari opened #2607 "Upgrade to babel 6"
React native has upgraded to babel 6. We should do it too.

[2015-12-20 17:20] thelordoftheboards commented on #2603
Thank you this is awesome!

[2015-12-20 17:52] newoga commented on #2409
@almoraleslopez Thanks for the update. If you run into the issue again (even if it's just in development with all those tools running), let me know.  We may be able to learn something about the performance characteristics of that component as a result.

@ayhankuru Thanks for sharing! Can't rule anything out at the moment. Though since @almoraleslopez reported times were a lot longer and he couldn'

[2015-12-20 19:34] suhail-ansari-apconic opened #2608 "[Table] Dynamic TableRow do not show checkbox"
I have created a component which generates Table and another one which generates TableRows. The problem is that the checkbox on the rows are not showing.

Any ideas?

Thanks

[2015-12-20 19:42] dcsan opened #2609 "zIndex: rawTheme.zIndex.leftNav not defined when using getMuiTheme ?"
I'm trying to use a custom theme, and get an error:

Uncaught TypeError: Cannot read property 'leftNav' of undefined

at left-nav.js

        zIndex: rawTheme.zIndex.leftNav,

related to #2527 ?

Adding

[code]

this to my theme seems to have stopped it crashing, but not sure if there can be a guard for if that property exists?

fyi the code I'm using is around getMuiTheme, not a rawTheme. So i th

[2015-12-20 19:44] oliviertassinari commented on #2609
This should be fixed by https://github.com/oliviertassinari/material-ui/commit/8ade956b109e554bd0cd830c890531e184512c82. Could you try the master branch?

[2015-12-20 19:46] dcsan commented on #2609
I'm using a build off 14.0-rc2

[2015-12-20 20:20] Zadielerick commented on #2591
@newoga @oliviertassinari  Yes, both of these sound pretty easy to implement, I think I know how to make either one happen.

[2015-12-20 20:20] oliviertassinari commented on #2591
I'm already on it :+1:

[2015-12-20 21:24] kkotwal94 opened #2610 "Dialog not showing on tab onActive"
My app is hierarchical and it inherits from parents in this case the "App" Component is the parent:

Im struggling to use this idea, where I have a navigation bar where on tab click of the tab "Login/Signup" a dialog/modal should appear. However it does not, i tried to follow the docs and the examples source but couldnt get it running. I used the handleOpen, handleClose functions as well. Here is

[2015-12-20 22:36] crussi opened #2612 "Tooltip"
Hi everyone!
I see Tooltip.jsx, but, I can't find how to use it in the documentation.  Any help would be greatly appreciated.

Chris

[2015-12-20 22:42] javaguy commented on #2601
Thanks @oliviertassinari for the quick response. I tried the same code with the master build but no change.

[2015-12-20 23:01] oliviertassinari commented on #2607
I have faced two issue when trying to upgrade to babel 6:
- https://github.com/4Catalyzer/babel-plugin-dev-expression/issues/1
- https://github.com/reactjs/react-docgen/issues/47

[2015-12-20 23:10] hourliert commented on #2077
Same issue here. :+1: for @oliviertassinari proposal.

[2015-12-20 23:48] Cavitt commented on #2077
@oliviertassinari that would make a great prefixer plugin for /rofrischmann/inline-style-prefixer

[2015-12-21 00:53] oliviertassinari commented on #593
Alright, I have started working in this https://github.com/callemall/material-ui/pull/2611.
That's going to take some time!

[2015-12-21 00:58] dcsan opened #2615 "[AutoComplete] Issue with the controlled behavior / clear"
I have an autocomplete field which uses

[code]

like this;

[code]

but when I update the

[code]

in the `onNewRequest` func
it will clear the autoComplete once, but not the second time.
it seems some internal caching happens?
## how to call internal methods of the MUI components?

mat-ui components more general question:
Is there a way to call the methods on that object directly like setValue?

[2015-12-21 01:13] mvayngrib commented on #593
@oliviertassinari awesome! very very excited

[2015-12-21 01:16] leesei commented on #2376
The docs is lagging behind in 0.14 rc builds, which means the team is busy adding feature.
I'm okay with that. I've learnt to check the source, which is pretty easy to read, for the latest interface.
But the easiest thing to do is indicate the user the docs maybe out of day and it's better to check to code for the moment.

[2015-12-21 01:17] hourliert commented on #2243
Thanks @jma7889. Would be nice if documented.

[2015-12-21 01:18] leesei commented on #773
:+1: to this feature.
Looking forward for the PR.

[2015-12-21 01:27] leesei opened #2616 "LeftNav overflow handling"
Great to see `LeftNav` redesigned to handle custom child components.
Yet I found, when I'm adding a list of `CardMedia` (thumbnails) in `LeftNav`, that the default `overflow` style is `hidden`.
It's true that I can use `style` prop of `LeftNav` to override the style, I think the default should be `{ overflowY: 'scroll' }`.

Any comments?

EDIT: My `LeftNav` is not docked and the content is shorter

[2015-12-21 01:28] quanglam2807 commented on #2032
+1

[2015-12-21 01:33] dcsan commented on #222
old issue, but can someone give an example how to use these methods?

It seems like maybe the input component no longer exists, but perhaps these methods work for textfields?

related
https://github.com/callemall/material-ui/issues/2615

[2015-12-21 03:08] krambertech opened #2617 "Toggle and checkbox do not support valueLink prop"
I'm just using checkbox (or toggle) with valueLink and receive this error

![image](https://cloud.githubusercontent.com/assets/10474869/11922569/c5f293a2-a7a0-11e5-86db-a04dcd7bd979.png)

The problem, I guess, is [here](https://github.com/callemall/material-ui/blob/v0.14.0-rc2/src/enhanced-switch.jsx#L267)

[2015-12-21 03:47] thelordoftheboards opened #2618 "SVG Icons index generator broken?"
I suspect that the [index generator](https://github.com/callemall/material-ui/blob/master/src/svg-icons/index-generator.js) for the SVG icons might be broken, since it relies on having a line like

[code]

However it seems that in 0.14 the syntax is more like

[code]

I have recently 'borrowed' the code to generate a component with a list of all the icons, so that I could see them, and it stopped

[2015-12-21 09:41] oliviertassinari commented on #2616
What about removing this overflow property?
Why do we need this `hidden`?

[2015-12-21 09:42] oliviertassinari commented on #2618
It was broken indeed. It's should be fixed by https://github.com/callemall/material-ui/pull/2614

[2015-12-21 09:44] #2558 closed

[2015-12-21 09:44] #2618 closed

[2015-12-21 09:44] thelordoftheboards commented on #2618
Thank you for checking up on this

[2015-12-21 09:47] oliviertassinari commented on #2617
valueLink is going to be deprecated in the next react release. We plan to remove the support here too.

[2015-12-21 09:47] #2617 closed

[2015-12-21 09:49] oliviertassinari commented on #222
Imperative method are going to be removed from this repository. Use the property API instead.

[2015-12-21 09:50] oliviertassinari commented on #2032
Was fixes by https://github.com/callemall/material-ui/pull/2539

[2015-12-21 09:50] #2032 closed

[2015-12-21 14:07] francescabarbazeni87 opened #2619 "trouble with datePicker defaultDate parameter"
Hi,

I'm not able to change "defaultDate" parameter, it remains setted on today's date. I've tried to set "value", "minDate" and "maxDate" parameters with the same date type variable and work well, the problem seems to be only on "defaultDate" parameter.

Thanks

[2015-12-21 14:16] oliviertassinari commented on #2619
The `defaultDate` property is supposed to only be used during the first render.
If you need to change the date later, the `DatePicker` need to behave like a controlled component.
Hence, I think that it should be handled by the `date` property. I'm not sure this is implemented.

[2015-12-21 16:23] jma7889 opened #2621 "Dropdown Menu OnChange event bug"
this applies to v0.14.0-rc2

OnChange event does not pass menuItem anymore. Based on documentation it should be
[code]

Instead, what is happening now is
[code]

Both 2nd and 3rd parameters are selectedIndex, menuItem never get passed along. Please fix.

Also I use extra properties in menuItem of pass data, so please retain everything in menuItem.
e.g. I use menuItem as
[code]

[2015-12-21 19:47] joshparolin commented on #2459
Just to confirm, using 0.14.0-rc2 (and rc1) was causing the same errors for me:
[code]
The error disappeared if I removed my custom theme OR if I rolled back to 0.13.4.

Here is my custom style:
[code]

And here's how I'm applying it:
[code]

[2015-12-21 19:58] oliviertassinari commented on #2459
This issue should be fixed now on the master branch.

[2015-12-21 20:03] ajsharp opened #2623 "Card should not set overflow:hidden"
This is a problem for form elements like select boxes at the bottom of a card. I'd advocate for `overflow: visible`.

[2015-12-21 20:27] joshparolin commented on #2459
@oliviertassinari - I installed master branch and can confirm that the problem has been resolved on my end. Thanks!

[2015-12-21 20:39] oliviertassinari commented on #2459
:tada:

[2015-12-21 20:39] #2459 closed

[2015-12-21 21:55] alitaheri opened #2624 "Leftovers from #2585"
#2585 had some work undone. But since the work was huge I preferred to postpone these works:

- [x] Replace Style mixin with Util functions. -> #458
- [x] Add info on this in the documentation.
- [x] Doc pages should be moved to `Page.jsx` instead of `index.jsx` see [here](https://github.com/callemall/material-ui/pull/2585#issuecomment-166030578). https://github.com/callemall/material-ui/pull/2628

[2015-12-21 22:35] archinal commented on #2576
Thanks for marking this as a bug, @subjectix . Is the intended behaviour that the "button" itself is disabled, or that all menu items shown after expanding the menu are disabled? I'm happy to submit a PR either way.

[2015-12-22 01:03] dmcd opened #2625 "[Autocomplete] click-awayable doesn't work nicely for dragging selection"
If you want select the text in a Autocomplete for example and you drag outside the component your selection will be lost.

Could you use click and touchstart events instead? or mousedown.

[2015-12-22 01:16] gravitypersists commented on #1011
I'm seeing this with React 14 as well. Specifically, the label text is coming down over the option text.
![bug](https://cloud.githubusercontent.com/assets/231863/11945604/8c0249c4-a806-11e5-8d7d-6baebc0e74da.gif)

[2015-12-22 03:02] bdefore commented on #1011
@gravitypersists are you setting `value`, per the idea of being a controlled component?

[2015-12-22 03:31] Ch4s3 commented on #2241
:+1:

[2015-12-22 04:13] linzerui opened #2626 "cannot control `Snackbar` show or hide via `props`"
I have the data showed below to control the `Snackbar`:

    snackbar: {
        message: 'done..',
        open: false
    }

it seems that I have to do so while I want to show the `Snackbar`:

first: update the store:

    snackbar: {
        ...,
        open: true
    }

second: in the component which the `Snackbar` exist:

    componentWillReceiveProps(nextProps) {
        if (nextProps.open)

[2015-12-22 06:29] subjectix commented on #2576
@archinal Thanks for reporting this. Well if someone wants to disable the items they can simply pass disabled to the button. so disabling the DropDownMenu should disable the entire menu. :grin:

[2015-12-22 06:42] alitaheri opened #2627 "Improve Overall Theme Handling"
After the huge changes made in #2585 it was decided to break the PR into fractions.

### The roadmap for changing themes:

- [x] rename rawTheme to baseTheme #2635
- [x] Improve theme-manager #2635
- [x] Improve the theme wrappers
- [x] Write convenient update stopper to address #1176
- [x] The items in #2624
- [x] Memoization of style objects
- [ ] migrate the components

[2015-12-22 07:33] subjectix commented on #2626
We do wish to make all our components controllable. Thanks for reporting :grin:

[2015-12-22 07:36] subjectix commented on #2612
duplicate of #2230

[2015-12-22 07:36] #2612 closed

[2015-12-22 07:37] subjectix commented on #2588
thanks for reporting

[2015-12-22 07:38] subjectix commented on #2595
This is a regression introduced after Popover.

[2015-12-22 09:35] oliviertassinari commented on #2626
This was fixed with https://github.com/callemall/material-ui/pull/2562

[2015-12-22 09:35] #2626 closed

[2015-12-22 10:17] oliviertassinari commented on #2471
Was fixed by https://github.com/callemall/material-ui/pull/2579.

[2015-12-22 10:17] #2471 closed

[2015-12-22 10:20] oliviertassinari commented on #2308
This was fixed by https://github.com/callemall/material-ui/pull/2443, thanks for reporting.

[2015-12-22 10:20] #2308 closed

[2015-12-22 10:21] oliviertassinari commented on #2254
The documentation was updated with https://github.com/callemall/material-ui/pull/2443.

[2015-12-22 10:21] #2254 closed

[2015-12-22 10:23] oliviertassinari commented on #2188
@lockelee1015 That's good to know.

[2015-12-22 10:23] #2188 closed

[2015-12-22 10:37] oliviertassinari commented on #2627
Correct me if I'm wrong, but I think that we can add the PureRenderMixin to all of our component as soons as they use the muiTheme HOC :boom:

[2015-12-22 10:39] subjectix commented on #1507
@oliviertassinari Don't you think this would be by design? I mean if it's disabled then so is it's subtree. should we allow expansion when the List disabled?

[2015-12-22 10:50] subjectix commented on #2627
@oliviertassinari We should move away from using mixins. Why do you think we should use PureRenderMixin? can't we just use a method to check for changes?

[2015-12-22 11:01] subjectix commented on #2621
duplicate of #2588

[2015-12-22 11:01] #2621 closed

[2015-12-22 11:02] subjectix commented on #2621
I'm working on a fix right now.

[2015-12-22 11:18] #2588 closed

[2015-12-22 11:20] oliviertassinari commented on #2627
Yeah, yeah, that's a detail :grimacing:. My point is, I think that it's going to be really easy to fix https://github.com/callemall/material-ui/issues/1176

[2015-12-22 11:20] newoga commented on #2627
I agree we should not use mixins but if @oliviertassinari is right, nothing is stopping up from implementing the pure rendering as another HOC like [this](https://github.com/acdlite/recompose/blob/master/src/packages/recompose/pure.js). :smile:

[2015-12-22 11:25] subjectix commented on #2627
@oliviertassinari I definitely agree with This :+1: :+1: Also we won't have to check for context since muiThemeable does it ( I guess this is what you meant :grin: ).

@newoga I totally agree. I'm gonna add this before migrating the components.

Thanks a lot for the feedbacks :+1: :+1:

[2015-12-22 11:47] oliviertassinari commented on #2627
Well, I have been giving a lot of thought to this issue.
The main point is that we need to have an immutable context variable `muiTheme`.
The improve theme-manager will merge values, so people will have to use it to change their `muiTheme`.
That's going to be far easier for people to have an immutable `muiTheme` context.

Then, I would refer to https://github.com/callemall/material-ui/issues/1176#

[2015-12-22 11:53] subjectix commented on #2627
@oliviertassinari Yeah muiTheme should definitely be marked immutable. We better not use any library. We just document the behavior and say: if you want to change the theme you have to make another call to getMuiTheme with whatever theme you like before passing it down. And if you want to change theme for a subtree simply wrap the subtree around a MuiThemeProvider. It's rather easy, don't you thin

[2015-12-22 11:55] oliviertassinari commented on #2627
I completly agree

[2015-12-22 11:56] subjectix commented on #2627
@oliviertassinari Alright. I'm gonna do some research and create a proposal PR with a utility function. :grin: Thanks

[2015-12-22 12:36] jalieven commented on #779
+1

[2015-12-22 12:53] daniel-sim commented on #1394
This works for me...
`<CardActions style={{ width: '100%', textAlign: 'right' }}>`

[2015-12-22 13:20] francescabarbazeni87 opened #2631 "TimePicker, disable range of time"
Hi,

in TimePicker is it possible to disable hours and minutes? like in DatePicker with "minDate" and "maxDate" parameters, it would be useful to set the available time range,

for example TimePicker from={'9:00am'} to={'6:00pm'}

[2015-12-22 13:49] #2440 closed

[2015-12-22 14:22] Lopinopulos opened #2632 "Dialog body hides Autocomplete dropdown"
I want to use an autocomplete inside the dialog. But Dialog body has `overflow` styles in its body:

[code]

The result of this is incorrect autocomplete control rendering.

![Dropdown is under dialog footer bar](https://cloud.githubusercontent.com/assets/1469636/11957016/7df764ec-a8e0-11e5-9df9-35a208fef21e.png)

[2015-12-22 14:24] oliviertassinari commented on #2632
We should use the Popover component internaly. cc @subjectix.

[2015-12-22 14:37] bblumberg commented on #1644
This is a pretty significant bug for us. Looking at the code it looks like something got implemented part way and then whomever ran out of steam...

That said. you all have come a huge way in the last 6 months. Congrats and thanks!

[2015-12-22 15:29] subjectix commented on #2632
Yes, there are many issues regarding this. Using popover for this will solve many issues :grin:

[2015-12-22 15:43] Zadielerick commented on #2513
Would it be ok to add it in the [getting started page](http://www.material-ui.com/#/get-started/prerequisites)? Maybe under Prerequisites or as a new "Help" menu Item?

[2015-12-22 15:51] subjectix commented on #2513
How about the main page?

and then a **Join the chat [ gitter badge ]** ?

[2015-12-22 15:53] Zadielerick commented on #2513
@subjectix  That would also work, So right underneath it or side by side?

[2015-12-22 15:55] subjectix commented on #2513
@Zadielerick I'm still wondering which is better myself :sweat_smile: @oliviertassinari What do you think?

[2015-12-22 16:28] oliviertassinari commented on #2513
What about having a community section?
Something like http://getbootstrap.com/getting-started/#community.

[2015-12-22 16:40] oliviertassinari commented on #2632
@subjectix You want to fix it until v0.14.0?

[2015-12-22 16:49] subjectix commented on #2632
yes absolutely! it's a regression

[2015-12-22 16:49] subjectix commented on #2632
I'm working on it. don't touch it :grin: :grin:

[2015-12-22 16:53] Zadielerick commented on #2513
@oliviertassinari :+1:

[2015-12-22 16:54] subjectix commented on #2513
@oliviertassinari great idea :+1: :+1:

[2015-12-22 16:57] #2522 closed

[2015-12-22 16:58] subjectix commented on #2481
@cgwyllie Please take a look and see if #2633 fixes it.

[2015-12-22 17:44] gravitypersists commented on #1011
Ah. I hadn't gotten to that part yet, I just assumed it was broken. I would still consider this an issue, though, as all other controlled components work fine without the `value` set.

I also needed to prepend a blank menuItem to avoid overlap on first render.

Finally, I don't understand why the docs don't include the two most important pieces of information: the format the component expect `menu

[2015-12-22 19:30] subjectix commented on #2446
@CezarLuiz0 Is this fixed with the `0.14.0-rc2` or rather, master?

[2015-12-22 19:33] subjectix commented on #2408
@tjunnone I can't reproduce this. can you checkout the latest changes? It might be fixed when IconMenu was changed to use popover instead

@oliviertassinari I think this is fixed now, can you confirm?

[2015-12-22 19:39] wema1043 opened #2636 "cant "merge" two tablerowColumns"
is there an posibillity to merge two tableRowColumns to one?

|..Column..|..Column2..|..Column3..|
|.....Merged Column.....|..Column4..|

with normal html <table> I have the possibility to use "colespan"
But for material-ui I don't find any solution.

[2015-12-22 20:01] subjectix commented on #2636
you can actually pass the `colSpan` down with props, it's not documented but if you add that prop with the value of 2 to your merged column component it will do the trick.

[2015-12-22 20:03] subjectix commented on #2636
Please don't close this if your issue is resolved with my suggestion until we add a section for this to the documentations.

[2015-12-22 20:15] subjectix opened #2637 "[Proposal] Improve the milestones"
I think `Composable Components` feels more like a label than milestone. these should be added to roadmap. Milestones indicate important points in a projects lifecycle. I wish to close those milestones and add them to the roadmap. Instead we should add milestones that indicate releases or long term projects like `es6-classes` `babel 6 migration` and such. `Cross browser support` cannot indicate a t

[2015-12-22 20:19] bendiy commented on #1427
Duplicate of #1011

[2015-12-22 20:20] bendiy commented on #1011
Same issue here:
https://github.com/callemall/material-ui/issues/1427#issuecomment-165249532

[2015-12-22 21:05] newoga commented on #2637
I agree that `Composable Components` is better suited for a label than a milestone.  I'm all for using milestones to indicate releases (for example we would have a milestone for 0.14.0). :+1:

[2015-12-22 21:06] newoga commented on #2627
@subjectix Didn't get a chance to say thanks for splitting up the work into multiple PRs! So far it's been a lot easier to review. Thanks!

[2015-12-22 21:20] subjectix commented on #2627
@newoga Yeah I was kinda getting a head ache myself :sweat_smile: :sweat_smile:

[2015-12-22 21:23] subjectix commented on #2637
@newoga The most important reason for this is because milestones hold a mutex :D and `Composable Components` doesn't indicate at what point this issue will be/was resolved.

[2015-12-22 22:05] oliviertassinari commented on #2637
I agree with you.

[2015-12-22 22:09] oliviertassinari commented on #2408
I couldn't reproduce it too.

[2015-12-22 22:53] oliviertassinari commented on #1011
@gravitypersists The docs was missing a lot of information... This should be fixed with https://github.com/callemall/material-ui/pull/2565

[2015-12-22 23:35] dlindahl commented on #2053
I am also seeing this same error with 0.13.3 with the `TableBody` component. It looks like its coming from the [`ClickAwayable` mixin](https://github.com/callemall/material-ui/blob/e33afed6913b58a990bd4b51a038bbfff0a0f42f/src/mixins/click-awayable.js#L20) (which probably explains why @Thomsos is seeing it with `IconMenu`.)

It works fine in Chrome but not IE11. If I had to guess, I'd say its cause

[2015-12-23 00:22] archinal commented on #2576
Hmmm investigating this further, it seems to have incidentally been fixed in one of the latest versions. I can add a disabled example to the docs if that would be helpful?

[2015-12-23 06:05] globexdesigns opened #2638 "Custom theme broken with AppBar"
Using material-ui 0.14.0-rc2

The documentation for using custom themes states that a raw theme can be defined as:

[code]

However, if you use such a theme with the AppBar component, you'll end up with the following error:

[code]

The code that's failing is in `app-bar.js` on this line: `zIndex: rawTheme.zIndex.appBar,`

In order to fix this, you must add the following to the raw theme:

[code]

[2015-12-23 06:13] globexdesigns opened #2639 "Default AppBar height is too tall"
Using material-ui 0.14.0-rc2

According to https://www.google.com/design/spec/layout/structure.html#structure-app-bar the default height of the AppBar should be 56 but the material-ui max-height on the AppBar is set to 64

And this is confirmed when loading any material-ui apps on an Android phone. The default height is definitely bigger than what native Material Design apps use.

The height is al

[2015-12-23 06:27] globexdesigns commented on #2639
Looks like the reason this is happening is because the default Spacings for material-ui are set for "desktop" use with no easily pluggable "mobile" spacings. To get around this, I had to create a custom theme and set:

[code]

It's a bit strange that all spacing values are prefixed with 'desktop' and there are no 'mobile' prefixed spacing values defined and used anywhere. Is this by design?

[2015-12-23 06:31] subjectix commented on #2639
not by design, I don't think so. @oliviertassinari Should the prefix even be there?

[2015-12-23 06:33] subjectix commented on #2638
This an indirect duplicate of #2529 and is being addressed in #2635. The fix will make it into the 0.14.0 release.

[2015-12-23 06:33] #2638 closed

[2015-12-23 06:47] subjectix commented on #2576
@archinal Thanks for getting to the buttom of it :grin:

Improvements to the documentations are always welcome :grin: Thanks

[2015-12-23 07:07] subjectix commented on #2637
@oliviertassinari Alright, thanks ^_^

[2015-12-23 07:12] SushilShrestha opened #2640 "Support for strings with html tags on RadioButton label"
Hi,
In RadioButton, is it possible to embed html tags in the label? I was trying something like.
\<RadioButton value="hello" label ="this is test \<b>something special here\</b> there." />

[2015-12-23 07:19] subjectix commented on #2640
@SushilShrestha You can't convenietly embed html anywhere in react. but you can provide an element instead of string like this:

[code]

[2015-12-23 07:39] SushilShrestha commented on #2640
@subjectix Oh sorry for the trouble, I was unaware that label accepts {} thing. Thanks.

[2015-12-23 07:50] subjectix commented on #2640
@SushilShrestha You're Welcome :grin: If all works out well. please close this issue. thank you :smile:

[2015-12-23 07:53] #2640 closed

[2015-12-23 09:01] chenzhenyao opened #2642 "SelectField inputStyle having no effect"

[2015-12-23 10:05] oliviertassinari commented on #1646
I'm closing it since https://github.com/callemall/material-ui/pull/2611 was merged.

[2015-12-23 10:05] #1646 closed

[2015-12-23 10:06] #2637 closed

[2015-12-23 10:07] oliviertassinari commented on #2576
Go for it :100:

[2015-12-23 10:10] oliviertassinari commented on #2053
I should be fixed by https://github.com/callemall/material-ui/pull/2296.

[2015-12-23 10:14] oliviertassinari commented on #2639
You can simply change this theme value https://github.com/callemall/material-ui/blob/master/src/styles/theme-manager.js#L15.

There are the material spec:
- Mobile Landscape: 48dp
- Mobile Portrait: 56dp
- Tablet/Desktop: 64dp

That's because it's not yet implemented. But yes it would be great to make this lib responsive, that would help me with the react-native implementation.

[2015-12-23 10:29] oliviertassinari commented on #2529
The `zIndex` was moved out of the rawTheme and is now directly in the muiTheme.
We had many people complaining about this.

[2015-12-23 10:29] #2529 closed

[2015-12-23 10:34] oliviertassinari commented on #2446
I have just tried the examples of @CezarLuiz0 with the master branch. It's working correctly.
[code]

[2015-12-23 10:40] mikeshukshin commented on #2608
+1

[2015-12-23 10:43] #2408 closed

[2015-12-23 10:56] CezarLuiz0 commented on #2446
Using `0.14.0-rc2` with npm, It was not fixed. Same problem here.

![captura de tela 2015-12-23 as 08 55 02](https://cloud.githubusercontent.com/assets/954889/11975249/e2f2df3a-a952-11e5-891b-ef60837a3b8a.png)

I will try use the master.

[2015-12-23 11:02] CezarLuiz0 commented on #2446
Using `npm install material-ui --save`, the npm installed the version `0.13.4`, same issue here.

[2015-12-23 11:10] oliviertassinari commented on #2446
@CezarLuiz0 Can you share the SelectField source code?

[2015-12-23 11:14] CezarLuiz0 commented on #2446
Sure!

[code]

[2015-12-23 11:19] oliviertassinari commented on #2446
Here is what I have
![dec 23 2015 12 18](https://cloud.githubusercontent.com/assets/3165635/11975538/5ac5cb32-a96f-11e5-8606-37d46f8b1d0c.gif)

[2015-12-23 11:30] CezarLuiz0 commented on #2446
See my gif above, the selected item by the user changed, but for you, SelectField doesn't changed. My main problem is the label on the item and when I select an item, It doesn't get the selected color.

In documentation, SelectField works fine :confused:

[2015-12-23 11:40] oliviertassinari commented on #2446
I'm using the same source code than you. The result is completly different.
I don't understand, that must be on your side. Make sure your material-ui is currently installed.

[2015-12-23 11:56] CezarLuiz0 commented on #2446
Look my dependencies:

[code]

[2015-12-23 12:02] oliviertassinari commented on #2446
Let's see what we have with `0.14.0-rc2`
![dec 23 2015 13 00](https://cloud.githubusercontent.com/assets/3165635/11976111/4ba0a86a-a975-11e5-8251-20336f37629f.gif)
So you where right :+1:
Still, this is what we have on the master branch:

[2015-12-23 12:15] subjectix commented on #2446
We'll release 0.14.0 very soon :grin: Check back after the release and see if it's fixed

@oliviertassinari Thanks for the confirmation :+1: :+1:

[2015-12-23 12:15] MacKentoch opened #2644 "Dialog Content showing under Overlay (v0.14.0-rc2)"
I did not find any related opened issue (*if there is already one opened sorry for opening a new one*).

**Since I updated `v0.14.0-rc2`, `Dialog` content appears under Overlay (*zIndex issue*)**.

*I don't remember but I think I was with version `v0.14.0-rc1` before updating and it was ok*.

As a **tempory fix** I set a `zIndex` in `contentStyle`  :

[code]

*But I guess it is unwanted*.

[2015-12-23 12:23] oliviertassinari commented on #2644
Could you try with the master branch? The zIndex should already be set to `1500`.

[2015-12-23 12:24] #1507 closed

[2015-12-23 12:25] oliviertassinari commented on #2513
@Zadielerick Do you want to take the lead on this?

[2015-12-23 12:28] MacKentoch commented on #2644
yes.

Give me a bit time I will have to trick my jspm (I was on npm dep.).

[2015-12-23 13:11] MacKentoch commented on #2644
It will be more complicated since master don't have lib directory when jspm install it from github :

[code]

[2015-12-23 13:12] oliviertassinari commented on #2644
You can try,
- `npm install`
- `cd node_modules/material-ui && npm install && rm -r node_modules/react && cd ../../`

[2015-12-23 13:53] QuantumInformation commented on #1049
I started looking at https://github.com/tleunen/react-mdl today, maybe we could borrow from that repo's knowledge? Defo an upside to letting google do the hard work.

[2015-12-23 14:02] QuantumInformation commented on #1712
I tried to install material-ui today but get:

![image](https://cloud.githubusercontent.com/assets/216566/11977776/c8955804-a97d-11e5-8364-cd894449d315.png)

[2015-12-23 14:06] oliviertassinari commented on #1712
`react-tap-event-plugin` is a peer dependency. You have to install it on your project.

[2015-12-23 14:48] MacKentoch commented on #2644
It does not work.
I manually installed npm packages from `jspm_packages/github/**/*` but it throws errors.

When I change `zIndex values` in `/lib/styles/zIndex.js` it should make a difference?
It appears to me it does not.

I went back in version v0.14.0-rc1 to compare both version but `/lib/styles/zIndex.js` did not exists before.

[2015-12-23 15:33] michaelguild13 commented on #2500
@pizza0502 You can fork it and add the methods to the class.

I found an example of someone doing this with jquery manipulation (http://codepen.io/azamatms/pen/ZGwOMM)

I am planning on forking and adding in sorting and eventually search on keyword.

[2015-12-23 15:58] QuantumInformation commented on #1712
Ah ok, never used them before.

[2015-12-23 16:03] QuantumInformation commented on #1712
What is the correct way to go about solving this:
[code]

[2015-12-23 16:10] oliviertassinari commented on #1712
@QuantumInformation Have a look at our examples: https://github.com/callemall/material-ui/blob/master/examples/webpack-example/package.json.

[2015-12-23 16:20] QuantumInformation commented on #1712
@oliviertassinari thx, if I use them I get:

npm WARN react-router@1.0.2 requires a peer of history@1.13.x but none was installed.
npm WARN website@1.0.0 No description

[2015-12-23 16:27] ayhankuru commented on #1712
@QuantumInformation npm install --save react-tap-event-plugin history

[2015-12-23 16:35] newoga commented on #1712
That's an issue with react router and history. Not material ui.

Install the history version specified not the latest. It's on react routers change log. Sorry  I would link but I'm on my phone.

[2015-12-23 16:53] gfpacheco opened #2645 "[RaisedButton] className is being applied to inner button tag"
I'm trying to add a class to my `RaisedButton`, but it's being applied to the inner `<button>` instead of the root tag.

The style I'm trying to set is margin, but the inner tag is becoming disaligned with the root one, instead of the whole button to translate:

![screen shot 2015-12-23 at 14 51 14](https://cloud.githubusercontent.com/assets/3705660/11980828/da73a150-a984-11e5-849f-e0ffc48f1e10.pn

[2015-12-23 17:59] newoga commented on #1712
Here is the change log for the [latest](https://github.com/rackt/react-router/releases/tag/v1.0.2) (as of now) version of react-router.

[2015-12-23 18:53] dlindahl commented on #2053
Though I'd prefer to not rely on an RC candidate, it does seem to resolve the issue.

One catch to that, though, is it relies on `isMounted` which is [considered an anti-pattern and is slated to be deprecated](https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html). So while it works around the problem, I'm not sure I'd say it "fixes" it.

[2015-12-23 20:02] gravitypersists commented on #2536
in case others come here and try to reverse engineer Rob's comment, this is what I had to do to get zIndex working while using custom theme:

[code]

which adds zIndex to here: http://www.material-ui.com/#/customization/themes

(and yes, applying defaults to all of these would seriously be welcome, I'm only trying to update the font family for now)

[2015-12-23 20:25] oliviertassinari commented on #2053
We are realy close to release v0.14.
Regarding, `isMounted` any help to resolve https://github.com/callemall/material-ui/issues/2573 is welcomed.

[2015-12-23 20:25] #2053 closed

[2015-12-23 21:25] chrismcv commented on #2577
i suspect setting a fixed with on it may help as a short term workaround

[2015-12-23 22:01] #2632 closed

[2015-12-23 22:04] #2595 closed

[2015-12-23 22:05] subjectix commented on #2481
@oliviertassinari I think this is safe to close

[2015-12-23 22:07] cgwyllie commented on #2481
Yeah, sorry -- haven't tested it, but looks like the PR should work.

Thanks :)

On 23 December 2015 at 22:06, Ali Taheri Moghaddar <notifications@github.com

[2015-12-23 22:10] #2481 closed

[2015-12-23 22:10] oliviertassinari commented on #2481
@cgwyllie Thanks for responding :100:

[2015-12-23 22:17] subjectix commented on #2513
@oliviertassinari Flip a coin? :grin: :grin: :grin:

[2015-12-23 22:19] shiroganee opened #2646 "can't use Link (from react-router) within MenuItem in 0.14.0-rc2"
Whenever I try to use Link within MenuItem it shows

Also, when I click the link I get in that place circle background in black.

[2015-12-23 22:24] subjectix commented on #2646
MenuItem wraps it's children inside an `<a></a>` element, hence the error. We'll try to fix it as it causes to many issues. But if you're in a hurry a PR is always welcome ^_^

[2015-12-23 22:45] oliviertassinari commented on #2513
Toss :game_die:

[2015-12-23 22:55] subjectix commented on #2513
@oliviertassinari I don't have a dice with me :grin: I go `Tails`, flip a coin. :D

[2015-12-23 23:03] oliviertassinari commented on #2513
Alright, I'm gonna do it!

[2015-12-23 23:09] subjectix commented on #2513
@oliviertassinari Thanks a lot, :+1: :+1: :+1:

[2015-12-24 00:51] oliviertassinari commented on #2460
Can we close this issue? (https://github.com/callemall/material-ui/pull/2635)

[2015-12-24 00:58] Bnaya opened #2647 "Circular progress aligned incorrectly"
![screen shot 2015-12-24 at 2 53 34 am](https://cloud.githubusercontent.com/assets/1304862/11987527/a9b91698-a9e9-11e5-8b71-6b7fcde5e09b.png)
![screen shot 2015-12-24 at 2 55 04 am](https://cloud.githubusercontent.com/assets/1304862/11987539/c71358c0-a9e9-11e5-93e8-4595cc834e57.png)

I would like to try and fix that, what is the recommended workflow for developing the lib?
As i can see the main gu

[2015-12-24 04:51] subjectix commented on #2460
@oliviertassinari Yes absolutely :grin:

[2015-12-24 04:51] #2460 closed

[2015-12-24 05:07] HenrikBechmann commented on #2254
My implementation fails at

const NavigationClose = require('material-ui/lib/svg-icons/navigation/close')

'can't find module'

Using Typescript/reactjs (.tsx)

Any clue of how to get around this, or where to look for documentation, would be appreciated.

The problem seems to be that close is not included in material-ui.d.ts file.

[2015-12-24 11:08] matt1as opened #2649 "Error when trying to use Card"
When trying to using Cards from the example page I get the following error
    `Error: Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Check the render method of Classified`.

My code is
[code]

[2015-12-24 13:13] shiroganee commented on #2646
Well I'm still at 0.13.4 at my project (and I need to release version 0.1 asap - especially that as you can see I'm sitting at christmas eve ;)). after that I might give it a try.
And about <a></a> well I could expect that - I simply thought that maybe I was using it in improper way.

Merry Christmas anyway :+1:

[2015-12-24 17:25] arcseldon commented on #2261
Hi. Is there any documentation on this?

[2015-12-24 18:07] #2513 closed

[2015-12-24 20:31] HenrikBechmann commented on #2254
Yeah, I had to add definitions in material-ui.d.ts, mirroring NavigationMenu entries, both for NavigationClose and MoreVertIcon. Most `material-ui/lib/svg-icons/...` icons do not yet of .d.ts entries.

(I also had to create a .d.ts file for react-tap-event-plugin)

    /// <reference path="../typings/react-tap-event-plugin.d.ts" />

I take it the authors use .jsx but not typescript? or they have m

[2015-12-24 20:41] subjectix commented on #2254
@HenrikBechmann This is not a typescript project. and we don't maintain the definition files. That is because you'll see a lot of regressions going on when using those files from DefinitelyTyped.

But there is a discussion going on, maybe we can generate the definition files directly from the source.

[2015-12-24 20:52] stevenmwade commented on #2482
How is this possible with the one that is added by default (the hamburger)? If you have no IconElementLeft, it doesn't fire. @zachguo I'm not sure how you are getting that.

[2015-12-24 20:54] HenrikBechmann commented on #2254
@subjectix automated generation of def files would be awesome! In the meantime it's not a showstopper, because there are good patterns to follow. Just annoying ;-)

Generally your project looks good. Early days, but I'm encouraged to keep going with it.

Thanks for all your work!

- Henrik

[2015-12-24 20:57] subjectix commented on #2254
@HenrikBechmann Awesome indeed, I use typescript myself all the time. Thanks for your feedback :+1: :smile:

[2015-12-24 20:59] ayhankuru commented on #2649
need theme context
http://www.material-ui.com/#/customization/themes

1. Using React Lifecycle Methods with Context

or

2. Using ES7-style Decorator

[2015-12-24 21:45] stevenmwade opened #2652 "App bar and Left Nav functionality don't match docs"
App bar defaults to having a left hamburger with no way to actually establish a click event on and adding `iconElementLeft` seems to be able to get one if you hack something together. Also have never been able to get `iconClassName` to work.

Left nav when `docked={false}` has the ability to toggle closed when clicking in the blocked out area to the right which doesn't actually have that behavior

[2015-12-24 21:54] oliviertassinari commented on #2652
The docs has been reworked and the API of those components has changed since the last 0.13.4 release.
We are going to release 0.14.0 really soon (today or tomorrow).
I'm closing this issue for now.
Feel free to reopen if it's still no solved.

[2015-12-24 21:54] #2652 closed

[2015-12-24 22:21] stevenmwade commented on #2652
That'll do it. Sounds good.

[2015-12-25 00:20] kkotwal94 commented on #2610
Was a derp moment forgot to include it, and put it in the wrong render

[2015-12-25 00:20] #2610 closed

[2015-12-25 00:24] kkotwal94 opened #2653 "Disabling autofill on inline text"
something like autocomplete = off on <input> for html would be just as cool/useful for <TextField>'s I think. Unless you can already do it, but I don't see it in the docs.

Autocomplete by chrome can make it look kind of bad sometimes with certain styling.

[2015-12-25 03:30] vmaudgalya opened #2654 "[DropDownMenu] [SelectField] onChange not triggered via tab/arrow keys"
I was using the DropDownMenu component for a form and at times I tab through each element and use the arrow keys to select options. However upon pressing the up/down arrow when the DropDownMenu is selected, the onChange event is not being triggered, even though the displayed text is changing.

[2015-12-25 06:52] kodermax opened #2655 "Cascading menu"
How can I make cascading menu from http://www.material-ui.com/#/components/menus
?

[2015-12-25 07:43] matt1as commented on #2649
But why do I need theme context, I'm not using a custom theme, and it's not mentioned in any documentation I have seen.

[2015-12-25 08:03] subjectix commented on #2649
@matt1as I don't think its related to theme. Could you try to find out exactly which one of these component is causing that error? I don't think it's related to `Card`

[2015-12-25 09:20] oliviertassinari commented on #2649
Your import is wrong, please use [stackoverflow](http://stackoverflow.com/questions/tagged/material-ui) for this type of question.

[code]

[2015-12-25 09:20] #2649 closed

[2015-12-25 09:22] #2647 closed

[2015-12-25 09:30] vmaudgalya commented on #1897
This code snippet will work for a single checked box, and it can be extended for multiple checked boxes by using an array as described above by @andrewhn
[code]

[2015-12-25 10:12] #2604 closed

[2015-12-25 10:21] vmaudgalya commented on #2654
The same applies for the SelectField component

[2015-12-25 15:52] #2607 closed

[2015-12-25 18:30] oliviertassinari commented on #2654
That's definitly something that we should fix.
@subjectix would this be easy? I know that you had some issue with making the new API and the deprecated one work together.

The SelectField is internaly using the DropDownMenu.
We plan to deprecate the DropDownMenu for the SelectField. Does that makes sense for you?

[2015-12-25 18:45] vmaudgalya commented on #2654
@oliviertassinari it does make sense, it seemed like the SelectField provided all the functionality of DropDownMenu and more

[2015-12-25 19:08] subjectix commented on #2654
The Component is a mess right now. and we can't really remove anuthing there since we should wait for 0.15.0 ( semver is important :expressionless: ).

About the behavior you are facing. I think it's somehow expected behavior that unless you actually select an item the value shouldn't change up/down keys are line scroll on mouse, they are used to navigate, not select. So I think the bug here, real

[2015-12-25 20:23] NGPixel opened #2659 "Textfield property hintText throws error when using component"
The property **hintText** on the **Textfield** component throws an error when using another component to generate the text (such as React-Intl for localization):

[code]

throws:

Other text properties such as **floatingLabelText** are accepting components just fine.

[2015-12-25 20:25] oliviertassinari commented on #2659
It should be fixed in the latest release.
We accept any node now: https://github.com/callemall/material-ui/blob/master/src/TextField/TextField.jsx#L51

[2015-12-25 21:13] stevehu opened #2660 "[Build] Build is broken during npm install from master"
I have cloned the project and run npm install from project folder and got the following error. Looks like somehow babel doesn't like the syntax. Can someone help me to get the project built?
Thanks a lot.

SyntaxError: src/DropDownMenu/DropDownMenu.jsx: Unexpected token (261:6)
[code]
npm ERR! Linux 4.2.0-16-generic
npm ERR! argv "/home/steve/.nvm/versions/node/v4.0.0/bin/node" "/home/steve/.nvm/v

[2015-12-25 21:30] oliviertassinari commented on #2660
That's really weird, I'm wondering if npm@2 has anything to do with the error.

[2015-12-26 00:07] altaihero commented on #2524
thank for reply

this is my code
import React, { Component, PropTypes }  from 'react';

//form fields
import TextField from 'material-ui/lib/text-field';
import Checkbox from 'material-ui/lib/checkbox';
import RadioButton from 'material-ui/lib/radio-button';
import RadioButtonGroup from 'material-ui/lib/radio-button-group';
import Toggle from 'material-ui/lib/toggle';

import FlatButton from 'mate

[2015-12-26 01:06] altinselimi commented on #1013
style={{color:'red'}} doesnt work for me either. I am in need of changing some other style properties in spite of the color, but nothing seems to work.

color={'red'} works just fine btw.

[2015-12-26 02:02] stevehu commented on #2660
I have upgraded to npm@3.5.2 but the problem is still there. Has anyone tried the latest code from github? If yes, I will clean up my nodejs and reinstall everything.

Thanks.

steve@joy:~/project/material-ui$ npm run build

[code]
npm ERR! Linux 4.2.0-16-generic
npm ERR! argv "/home/steve/.nvm/versions/node/v4.0.0/bin/node" "/home/steve/.nvm/versions/node/v4.0.0/bin/npm" "run" "build"
npm ERR! no

[2015-12-26 04:51] stevehu commented on #2660
I have upgraded to Node v5.3.0 and Npm v3.3.12 and the issue still exists. Can anyone try to clone the project and run npm install? I just want to confirm if this issue is only for my environment. Thanks.

[2015-12-26 04:54] NGPixel commented on #2659
While TextField.jsx has the correct type set to node, the TextFieldHint.jsx **text** propType is expecting a string instead of node:

    text: React.PropTypes.string,

[2015-12-26 05:04] MacKentoch commented on #2644
I installed `v0.14.0` it is `now fixed`!

You can close this issue and thank you for this nice version.
I also now have snackbar appearing without any problem.

:+1:

[2015-12-26 05:04] #2644 closed

[2015-12-26 06:29] subjectix commented on #2524
I don't see any component having `ref="test"`.

[2015-12-26 09:05] oliviertassinari commented on #2659
Yes indeed.
Do you want to submit a PR to fix this?

[2015-12-26 10:12] oliviertassinari commented on #2660
I have just tried, It's working fine for me.
[code]

[2015-12-26 12:47] dwoodlock opened #2663 "-webkit- prefix not being added to 'transform' on iOS8"
I am building a Cordova app using the WKWebView plugin and using your LeftNav component.  When I run the app on iOS8, the left menu is always visible even when I set the property open={false}.  In troubleshooting, I discovered that you are using the 'transform' css property instead of '-webkit-transform' in this case.  I didn't completely debug your code to determine the logic you use to decide be

[2015-12-26 12:52] oliviertassinari commented on #2663
That would aslo be the occassion to solve https://github.com/callemall/material-ui/issues/2336.

[2015-12-26 12:54] stevehu commented on #2660
I have cloned the project again and this time everything works. I don't know the root cause though. Thanks.

[2015-12-26 12:54] #2660 closed

[2015-12-26 18:44] #2659 closed

[2015-12-26 19:20] kodermax opened #2668 "Warning: The imperative method"
I use this code
[code]
When i click on this select i get error
![image](https://cloud.githubusercontent.com/assets/590985/12007653/d2f947d0-ac1e-11e5-9ba9-ec550b7e9982.png)

and mouse cursor another.

[2015-12-26 19:50] subjectix commented on #2668
Thanks :+1:

[2015-12-27 07:00] alitaheri opened #2670 "[Dialog] Width is customizable but not beyond the contents maxWidth"
From a discussion made in the IRC channel with @2c2c we found that Dialog was added a width prop to customize how wide it can be. It works fine for when you want to shrink it. but expanding it goes as fat as only the maxWidth set on the content [here](https://github.com/callemall/material-ui/blob/master/src/dialog.jsx#L201).

@oliviertassinari Do you think we should remove this style?

[2015-12-27 07:14] kodermax opened #2671 "[Menu] Support grouping / categories"
Please add feature like this
![image](https://cloud.githubusercontent.com/assets/590985/12009278/9c3fc174-ac82-11e5-9a31-2d916aeace55.png)

[2015-12-27 07:16] subjectix commented on #2671
Thanks :+1: :+1:

[2015-12-27 09:10] kkotwal94 opened #2672 "ES6 Mixins and how to use?"
How would we add a decorator for something like:

```let {StylePropable, StyleResizable} = Mixins;```

I've been trying to imitate the FullWidthSection.jsx in the docs, but using Mixins in ES6 have always been weird to me I know we need some kind of decorator correct? Would it be something like this?

[code]

But im sure i need to call some kind of method outside of it, I don't know what though.

[2015-12-27 09:13] eks1985 commented on #2655
Here is documentation

http://www.material-ui.com/#/components/menus

Use menuItems (array) prop

And don't forget to care about rightIcon to indicated nested

[code]

[2015-12-27 09:21] kkotwal94 commented on #2672
I went ahead and installed core-decorators, and then did something like this:

[code]

yet it still cannot find these methods/functions :/

[2015-12-27 09:55] dcsan opened #2673 "leftNav menu broken between 14.0-rc2 and 14.0 release"
I was working with a private build of 14.0-rc2, and after today's update, the left nav menu in my app has broken. I get the change/toggle event but I can't seem to make the menu visible.

I noticed [menuItems](https://github.com/callemall/material-ui/blob/master/CHANGELOG.md#deprecations) has been deprecated in some places, but I'm not using that method afaik.

I did notice a few warnings that

so

[2015-12-27 11:03] oliviertassinari commented on #2670
I don't think that we should remove the max-width style.
What about deprecating the `width` property for the `contentStyle`?

[2015-12-27 11:51] raybooysen opened #2674 "Following the example for a Card without an avatar renders an avatar"
I'm following the sample code to render a card without an avatar and still seeing it:

http://www.material-ui.com/#/components/card

![image](https://cloud.githubusercontent.com/assets/461957/12010111/1269360c-ac90-11e5-90eb-1cfd8a1b7920.png)

[2015-12-27 11:57] 2c2c commented on #2670
my thoughts were that the default is sensible, but should maybe be less hidden.

[2015-12-27 12:43] RobertButera opened #2675 "Clear top and left/right margins from AppBar"
Hi,

How do I remove the top and left/right margins from the AppBar so that the AppBar extends the full width of the viewport and goes to the very top of the viewport?

Regards
Rob

[2015-12-27 13:20] kodermax commented on #2655
menuItems is already deprecated.

[2015-12-27 15:45] oliviertassinari commented on #2675
The `AppBar` doesn't apply any margin.
That's an issue with the margin of your `html`, `body` element.
Please use http://stackoverflow.com/questions/tagged/material-ui for this type of question.

[2015-12-27 15:45] #2675 closed

[2015-12-27 16:25] oliviertassinari commented on #2674
What version are you using?

[2015-12-27 16:36] oliviertassinari commented on #2655
What's making you say this?

[2015-12-27 17:07] subjectix commented on #2674
@oliviertassinari Yeah versioning of the docs site is a must!. for now we can at least do that. Any idea how we can achieve this? A section in the header maybe?

[2015-12-27 17:09] subjectix commented on #2655
@kodermax The nested meniItems on MenuItem is not deprecated. In-fact, it's the best way to have nested menus. menuItems on other components that render a list is deprecated, not MenuItem it self

[2015-12-27 17:14] newoga commented on #2674
@oliviertassinari @subjectix Yeah I think a dropdown in the header makes sense. Maybe we make the header "versionless" and the rest of the content based on doc version. Might be able to use react router's dynamic routes and stored built copies of the docs in a different repo.

[2015-12-27 17:17] subjectix commented on #2674
We should discuss this in the related issue: #1986

[2015-12-27 17:17] #2674 closed

[2015-12-27 17:18] subjectix commented on #1986
@newoga We have to automate the generation of versions. I mean git gives us a great API to checkout different versions, Then we can bundle those versions in a sub directory and have react-route point to it entirely. something like:

`material-ui.com/0.13.4/`

[2015-12-27 17:27] newoga commented on #1986
@subjectix Yeah makes sense. That's pretty much what angular-material does too. Here's the build script that seems like it does it: https://github.com/angular/material/blob/master/scripts/snapshot-docs-site.sh.

They chose to put it in a separate repo I guess because it's generated and someone checking out src code may not want to pull all the generate docs with it.

[2015-12-27 19:19] raybooysen commented on #2674
0.14.0-rc1 is the version I'm using.

[2015-12-27 19:53] rdagger commented on #2446
I'm using 0.14.0 and I had a lot of trouble getting the SelectField to work.  I was having the same problem with the label above.  Here is an example of how I fixed it:
[code]
Key is necessary or else you get console warnings. PrimaryText is what is displayed in the DropDown.  Value is necessary to avoid the label bug and make the field operate properly.
I'm not sure if this is the best practice.

[2015-12-27 19:59] subjectix commented on #1986
@newoga Interesting idea... I guess we have to talk to the guys about this. A separate repo makes a lot more sense. @oliviertassinari What do you think?

[2015-12-27 19:59] subjectix commented on #2674
@raybooysen 0.14.0 was released recently. please update.

[2015-12-27 20:01] subjectix commented on #2446
@rdagger Thanks for the code example. Yeah I can confirm this issue. We'll try to look into it as soon as we can.

[2015-12-27 22:44] mbrookes commented on #718
Here you go:

![image](https://cloud.githubusercontent.com/assets/357702/12012442/57ee5472-aceb-11e5-8214-4b87b4707e06.png)

The yellow highlight indicates the fields have been autofilled. As you can see, the password is filled, but the label is still in place.

[2015-12-27 22:51] mbrookes commented on #2456
Dupe of / resolves #27

[2015-12-28 00:47] newoga commented on #718
Mm, that's interesting. @mbrookes Do you know if it's for all input types or just password inputs?

[2015-12-28 01:42] mbrookes commented on #718
Not sure - I tried swapping the order of address and password, but autofill didn't fire, either to fill in a known user/password, or to save a new one. I'll have to figure out how best to test other fields.

[2015-12-28 02:14] newoga commented on #718
Okay, I plan on revisiting refactoring some of the TextField stuff in the near future. I'll try to experiment a bit too. Let me know if you notice anything else.

[2015-12-28 04:18] ammark47 opened #2676 "Colors are not working on Raised Button"
I am trying to get the colors shown in the material-ui.com RaisedButton demo but my button only comes out as grey. Not sure why this is not working.

this is my customThemeManager:
[code]

[2015-12-28 07:44] Yuliang-Lee opened #2677 "[Drawer] can not change root styles"
[code]

the className move to Paper component from root element would make we can't change the root element's styles!

[2015-12-28 08:21] AngelEyesChina commented on #282
+1

[2015-12-28 10:11] piotr-dobrogost commented on #2480
It looks like this was fixed during migration to the new DropDownMenu here https://github.com/callemall/material-ui/commit/fb0b275804f1350d25de0b358f954e0df76697b8#diff-a66a0f83cf2d50f9d7d4be309c3d1811

[2015-12-28 12:35] oliviertassinari opened #2679 "[Core] Improve our import path"
The tree shaking feature is on his way with webpack 2 (http://www.2ality.com/2015/12/webpack-tree-shaking.html) and will probably soon be implemented by browserify.
I think that, at some point, we will have to deprecate the usage of import:
[code]
And instead, advice people to use:
[code]

[2015-12-28 14:29] markoshust commented on #2174
It'll be a while until I test again as I scaled things back to just iPhone. I'll reopen this if it still persists on my next testing.

[2015-12-28 15:02] oliviertassinari commented on #2673
@dcsan I have just tried the source code you are providing to reproduce the issue.
Here is my result:
![dec 28 2015 16 01](https://cloud.githubusercontent.com/assets/3165635/12020404/6c357bae-ad7c-11e5-8e99-59be40f001c0.gif)

Looks like it's working fine.

[2015-12-28 15:11] oliviertassinari commented on #2480
I have tested the `autoWidth={false}` on the `SelectField`. It's seems that it's working fine:
![dec 28 2015 16 09](https://cloud.githubusercontent.com/assets/3165635/12020520/a78c9a7e-ad7d-11e5-907a-d61a23825666.gif)

[2015-12-28 15:18] oliviertassinari commented on #1986
Their solution seems pretty nice :+1:.

[2015-12-28 17:16] stevenmwade commented on #2652
@oliviertassinari Ok, so either `onLeftIconButtonTouchTap` doesn't handle regular clicks or there is still no way to add a click event to the default menu icon. I honestly don't understand this implementation.

[2015-12-28 17:20] oliviertassinari commented on #2652
Is your project correctly installed? http://www.material-ui.com/#/get-started/installation

[2015-12-28 17:22] stevenmwade commented on #2652
So if I don't want the plugin, then I have to set my own element?

[2015-12-28 17:26] oliviertassinari commented on #2652
`onLeftIconButtonTouchTap` is reling on the `onTouchTap` event. This event isn't trigger unless the plugin is installed.
This property will be deprecated in the future.

Yes.

[2015-12-28 17:29] alitaheri commented on #2679
@oliviertassinari How smart and reliable can it really be? How about nested imports? things like svg-icons? how can we address that? I mean we cant put all the icons in the main index file, right? can it actually shake those branches deep down the import tree? I couldn't find info whether it can or not. But there are other issues. Maybe people don't want to enable it for some reasons. I think it's

[2015-12-28 17:29] stevenmwade commented on #2652
@oliviertassinari Ok, great. Thanks.

[2015-12-28 17:40] ammark47 commented on #2676
I've tried inline styles, changing the css file, and this:

constructor(props, context) {
		  super(props, context);
		  this.state = {
		  	muiTheme: ThemeManager.getMuiTheme(DarkRawTheme)
		  }
		}

		static childContextTypes = {
		    muiTheme: React.PropTypes.object,
		 }

		getChildContext() {
		   return {
		     muiTheme: this.state.muiTheme,
		   };
		 }

		 componentWillMount() {
		     l

[2015-12-28 17:49] Aweary opened #2682 "Menu checked icon misaligned in docs"
http://www.material-ui.com/#/components/menus
<img width="663" alt="screen shot 2015-12-28 at 11 46 28 am" src="https://cloud.githubusercontent.com/assets/6886061/12022777/b6792aae-ad58-11e5-9941-edb0bfa990bf.png">

On OS X `10.11.1`, verified issue occurs in Chrome `Version 47.0.2526.106 (64-bit)` and Safari `9.0.1`

[2015-12-28 17:53] stevenmwade commented on #2652
@oliviertassinari I'm guessing clickaways require that plugin because I'm not seeing a way to handle those otherwise.

[2015-12-28 17:57] oliviertassinari commented on #2682
Indeed :grimacing: https://github.com/callemall/material-ui/pull/2661.

[2015-12-28 17:58] oliviertassinari commented on #2652
@stevenmwade Yes, every click event of this lib require this plugin, from the button, to the menu.

[2015-12-28 18:09] alitaheri commented on #2682
@oliviertassinari We should release 0.14.1 fast, to avoid more reports on this.

[2015-12-28 18:27] newoga commented on #2679
@oliviertassinari @alitaheri I agree with both of you :smile: .

One of my first challenges with `material-ui` was knowing where to import components (especially icon components) and I often found myself looking at the source code to find what my import path needed to look like.  Put them all on the root `material-ui` makes it a lot easier for the user because you only need to know what the compon

[2015-12-28 18:39] oliviertassinari commented on #1986
I also like the idea of building the doc of the HEAD like https://material.angularjs.org/HEAD/.

[2015-12-28 18:45] alitaheri commented on #1986
@oliviertassinari That would solve a lot of our problems. :+1: :+1:

[2015-12-28 19:11] jma7889 opened #2683 "checkbox style is different from default style bug"
apply to final release of 0.14.0

checkbox font is bald while default is not. I didn't apply any custom style to the checkbox, but checkbox somehow is displayed with balder font and line. Both chrome and safari in OS X have the issue.

I don't have this problem with 0.13.x versions.

<img width="588" alt="screen shot 2015-12-28 at 2 09 24 pm" src="https://cloud.githubusercontent.com/assets/225801/

[2015-12-28 21:01] alitaheri commented on #2679
@newoga Interesting idea. However, the dependency management will be really hard. unlike a library like lodash, this one is very tightly coupled. we'll need to make a huge number of packages (some internal) to include all. besides the svg-icons will prove difficult, they should all be in one package and yet support static imports so only the ones needed get through.

Supporting both styles:

[code

[2015-12-28 21:06] newoga commented on #2679
@alitaheri Haha, indeed, they might. I don't want to die. :laughing:

[2015-12-28 21:08] alitaheri commented on #2679
Me neither xD xD

[2015-12-28 21:48] dcsan commented on #2673
sorry for troubling you and thanks for checking. it turns out I had to update the package within a meteor package...

[2015-12-28 21:48] #2673 closed

[2015-12-28 22:17] cdzwmlcl opened #2685 "all components became smaller on mobile device after change the architecture to isomorphic"
I have change my app architecture from client rendering to isomorphic. After that, I found that all components became much smaller on mobile device while behaving normal on PC. Any ideas?

[2015-12-28 22:22] oliviertassinari commented on #2685
@cdzwmlcl Shouldn't this be asked on http://stackoverflow.com/questions/tagged/material-ui?

[2015-12-28 22:24] cdzwmlcl commented on #2685
@oliviertassinari Thank you! I will move it to stackoverflow

[2015-12-28 22:25] #2685 closed

[2015-12-28 23:16] dcsan opened #2686 "cards seem to have a lot of extra space in the header?"
Is this amount of space expected in the design, or is there a way to tighten this up?

![image](https://cloud.githubusercontent.com/assets/514002/12027039/dfdd6c76-ad75-11e5-8072-bb3ec0d44981.png)

perhaps there are extra fields, eg `subtitle` that will always take up space?
markup is as below:

[code]

[2015-12-28 23:27] dcsan commented on #2686
I also tried adding a subtitle and using `CardTitle` instead of `CardHeader`
there's a big dead area created under the subtitle. HR added for clarity in next block

![image](https://cloud.githubusercontent.com/assets/514002/12027174/5a7e3072-ad77-11e5-9f8a-cc4add448a00.png)

[code]

[2015-12-29 02:20] mbrookes opened #2687 "[ListDivider] getInitialState(): must return an object or null"
Uncaught Error: Invariant Violation: ListDivider.getInitialState(): must return an object or null

Introduced in: 0.14.0

[2015-12-29 02:28] newoga commented on #2687
Mm, my initial thoughts maybe this is happening because getInitialState() isn't returning an object [here](https://github.com/callemall/material-ui/blob/master/src/lists/list-divider.jsx#L8).

[2015-12-29 02:29] newoga commented on #2687
Separate note:

We should also change [index.js](https://github.com/callemall/material-ui/blob/master/src/index.js) to export `ListDivider` and `MenuDivider` as `Divider` so that only you only get the deprecation warning when you import from them directly under lib.

[2015-12-29 02:43] mbrookes commented on #2687
Yes, it's a fairly quick fix to replace occurrences of ListDivider with Divider,  but deprecation warnings shouldn't break things to start with :smile:  It strikes that, especially with the rename / restructure for many components, we need to test old and new ways of importing components in parallel until the old is removed.

I agree on index.js, although hopefully no-one is using that in producti

[2015-12-29 03:25] newoga commented on #2687
@mbrookes Totally agree, it's deprecated but it's supposed to work _just_ as it was before. The fix should be easy, I'll submit a PR and test tonight. It could make sense for us to release a 0.14.1 in the near future after we fixed regressions for components that have them.

[2015-12-29 03:34] olmg-mike commented on #2654
I tried to upgrade to 0.14.0 from 0.13.4 because I was experiencing this same problem.  I don't see it in 0.14.0 mainly because I can't use the tab key to focus on the SelectField control anymore to recreate the issue.

[2015-12-29 08:39] scarletsky commented on #1011
![be03f314-16c9-450e-9dfd-e75df69eb8f7](https://cloud.githubusercontent.com/assets/2386165/12031717/874103cc-ae4a-11e5-8388-d6013e9c5b0e.png)

@oliviertassinari  After upgrading to 0.14.0, I got lots of error when using `SelectField`. I think the deprecated information should be a warning, not an error.

[2015-12-29 08:46] alitaheri commented on #1011
@scarletsky It IS a warning, only in form of an error to contain the stack trace. it won't halt execution. it's just red.

[2015-12-29 08:53] scarletsky commented on #1011
@alitaheri Oh, I see... What I want is to follow the warning, use composability instead of menuItems. But I've check the docs, I can not get any useful info to migrate, because the `SelectField` section still use `menuItems`...

[2015-12-29 08:56] piotr-dobrogost commented on #2480
Thanks for taking a look. I'm sorry I wasn't specific enough. The dropdown menu itself does obey `autoWidth` indeed but as the *SelectField* consists also from *TextField* I expected this field would also set its width according to `autoWidth`. What do you think?

[2015-12-29 08:57] alitaheri commented on #1011
@scarletsky Yes SelectField is still old. I'm working on it to migrate. the 0.14.1 will be brand new :grin:
For now just follow the docs on DropDownMenu it's the exact same usage. compose them like that. sorry for the inconvenience, I'm working on it ^_^

[2015-12-29 09:03] scarletsky commented on #1011
@alitaheri OK, thanks for the information. Hoping 0.14.1 release ! :smiley:

[2015-12-29 09:09] YuHuaiChen commented on #2646
Use the `containerElement` with `linkButton` props!

see:
http://stackoverflow.com/questions/32106513/material-ui-menu-using-routes/34507786#34507786

[code]

[2015-12-29 09:13] YuHuaiChen commented on #1823
Use the `containerElement` with `linkButton` props!

see:
http://stackoverflow.com/questions/32106513/material-ui-menu-using-routes/34507786#34507786

[code]

[2015-12-29 09:16] YuHuaiChen commented on #204
Use the `containerElement` with `linkButton` props!

see:
http://stackoverflow.com/questions/32106513/material-ui-menu-using-routes/34507786#34507786

[code]

[2015-12-29 09:50] hmeerlo opened #2688 "Dropdown selected value split over multiple lines"
Hi,

I have a weird issue with the dropdownmenu. The list of items is rendering fine, but whenever I select a value with a space in it the selected value is rendered over 2 lines. It looks like the autWidth is not working properly?

![dropdown](https://cloud.githubusercontent.com/assets/448150/12032572/f69e86b2-ae19-11e5-945a-18ab1a0bb6de.gif)

[2015-12-29 09:52] #2688 closed

[2015-12-29 09:52] hmeerlo commented on #2688
Never mind, my bad had a width property on the parent. Doh!

[2015-12-29 09:54] oliviertassinari commented on #2480
That makes sense. The width is set [here](https://github.com/callemall/material-ui/blob/master/src/TextField/TextField.jsx#L174).
That's not going to be straightforward to implement.
I have noticed some issue with the `autoWidth` that should be fixed.
A PR is welcomed :+1:.

[2015-12-29 10:24] muzykalukasz opened #2689 "0.14.0 Left Nav - Clicking on the overlay while open triggers component under overlay"
When Left Nav is open
And you user click on the overlay with the intention to close the menu
Any link where user has clicked will be triggered

Tested on:
- Chrome - mobile device simulator (__bug doesn't appear on the desktop view__)
- iOS Safari

[2015-12-29 10:37] oliviertassinari commented on #2689
I confirm with the chrome simulator.
![dec 29 2015 11 34](https://cloud.githubusercontent.com/assets/3165635/12033161/345d4500-ae20-11e5-8c80-0e6daff51ad6.gif)
I suspect an issue with https://github.com/zilverline/react-tap-event-plugin.
We should try with `event.preventDefault()` or with `setTimeout(, 0)`.
Do you want  to submit a PR?

[2015-12-29 10:42] muzykalukasz commented on #2689
let me give it a shot :)

[2015-12-29 10:44] muzykalukasz commented on #2689
I just tried with prevent defaut, worked. Let me check if it didn't cause any other issues

[2015-12-29 11:14] altaihero commented on #2524
test is just example i was just try get ref value from function

[2015-12-29 11:14] #2524 closed

[2015-12-29 13:32] iseki-masaya opened #2692 "The layout of GridList is broken in Cordova apps for iOS from 0.13.0 to 0.14.0 (latest)"
The left image is expected layout and the right image is actual.
<img src="https://cloud.githubusercontent.com/assets/3327639/12034723/5443ba40-ae78-11e5-90ae-5edb5fb8e262.jpg" width="320px"><img src="https://cloud.githubusercontent.com/assets/3327639/12034720/4fae4540-ae78-11e5-9f8d-c82dbaba1d3d.jpg" width="320px">
It works correctly in 0.12.5.  I also tried in safari and it works correctly( if I

[2015-12-29 14:25] kodermax opened #2693 "Bug! floatingLabelText for TextiField"
![image](https://cloud.githubusercontent.com/assets/590985/12035817/30fd1c88-ae51-11e5-8b78-e5dcbb3835cc.png)

[2015-12-29 14:30] alitaheri commented on #134
@oliviertassinari Do you think we should add a contribution guild in the community section too?

[2015-12-29 14:34] alitaheri commented on #1932
duplicate of #1856

[2015-12-29 14:34] #1932 closed

[2015-12-29 14:38] oliviertassinari commented on #134
No, I think that this need a section on his own.

[2015-12-29 14:39] alitaheri commented on #134
You're right. should we put it in the docs? Or just a CONTRIBUTING.md file that github can pickup too?

[2015-12-29 14:41] alitaheri commented on #2682
This was fixed with that PR :grin:

[2015-12-29 14:41] #2682 closed

[2015-12-29 14:53] oliviertassinari commented on #134
A `CONTRIBUTING.md` than can be used by the docs and referenced in the Readme sounds great.

[2015-12-29 14:57] #2380 closed

[2015-12-29 14:58] alitaheri commented on #134
Cool. I'm going to make a PR so we can discuss the contents.

[2015-12-29 15:37] iseki-masaya commented on #2692
The reason of it is the difference of useragent.
I add the below code to ```config.xml``` and fix this problem.
[code]

material-ui use ```inline-style-prefixer``` from 0.13.0 and this library cannot detect the useragent of cordova apps.

[2015-12-29 15:48] alitaheri commented on #2692
@iseki-masaya Thanks a lot for getting to the bottom of this :+1: :+1:

@oliviertassinari I think we should document this right?

[2015-12-29 15:51] kodermax opened #2696 "Bug! IE 9 floatingLabelText for SelectField"
When I choosed some item.

![image](https://cloud.githubusercontent.com/assets/590985/12037138/30ea9b06-ae5d-11e5-8f67-a7b21221b01e.png)

[2015-12-29 16:10] mbrookes opened #2697 "[LeftNav] rename to SideNav"
Just a thought - given that this component can be opened on the left or right, LeftNav is a bit of a misnomer.

Since component files are being renamed to `PascalCase`, it would seem like a good opportunity to also rename the component itself.

There will still only be one deprecation warning, and users will be free to import as LeftNav from `material-ui/lib/SideNav` (or from deprecated `material-

[2015-12-29 16:20] newoga commented on #2697
i agree with this. :+1: This also goes along with our general strategy to better rename our components to match the spec, as the [spec](https://www.google.com/design/spec/layout/structure.html#structure-side-nav) would call this a Side nav.

We may even want to consider deprecating `openRight` prop to something like `openSecondary` or something like that to better support RTL theme/languages.

[2015-12-29 16:37] oliviertassinari commented on #2692
@iseki-masaya can you open an issue to the `inline-style-prefixer` so they can fix it?

[2015-12-29 16:40] mbrookes commented on #134
@alitaheri - I had some thoughts about this, and have been meaning to put them down somewhere. Feel free to cherry pick, reword, expand, remove as needed. :)

In no particular order, and by no-means definitive:
 * Project philosophy
  * Overarching objective of the project
  * What it is / isn't intended to be
  * How we interpret / apply Material Design guidelines
 * Directory structure
  * What

[2015-12-29 16:41] oliviertassinari commented on #2697
Noticed that with react-native it's called `DrawerLayout` https://facebook.github.io/react-native/docs/drawerlayoutandroid.html.

[2015-12-29 16:58] #2687 closed

[2015-12-29 16:59] alitaheri commented on #2697
It's *Stateless Functional Components* all over again :disappointed:

[2015-12-29 17:04] alitaheri commented on #134
@mbrookes Good thinking :+1: :+1: I guess we need to organize a bit before we can actually include some of these points.

[2015-12-29 17:11] alitaheri commented on #2555
@newoga I'm tackling your 3rd item ( `TextFieldLabel` ). don't go for it for now.

[2015-12-29 17:11] alitaheri commented on #2693
Can you give me the code for that? I can't reproduce.

[2015-12-29 17:12] dcsan opened #2699 "TextField doesn't support 'ref' ?"
I'm defining a TextField component (within a card) which I pass a ref
but the ref isn't defined ...

[code]

How are people making forms with material-ui? Just using the onChange events on every part of the form?

FWIW the TextField is inside a Card/Form
the ref on the wrapper div works fine.

like the very second issue in this repo...
https://github.com/callemall/material-ui/issues/2

[2015-12-29 17:19] alitaheri commented on #2699
I'm working on this as well. The problem is that the ref is passed down to the input. something that doesn't work with React. I'm addressing this in the following PR I'll make.

[2015-12-29 17:25] newoga commented on #2555
@alitaheri Cool! Thanks for the heads up.

[2015-12-29 17:28] newoga commented on #2697
Haha, It's also worth mentioning that the spec also calls this a Navigation drawer. Or rather, a type of Side nav is the Navigation drawer. I'm open to any of those names, but still agree with @mbrookes originally sentiment regarding the term "Left" is confusing because it can open from both sides.

@alitaheri How about `<StatelessFunctionalSideNav />`? :laughing:

[2015-12-29 17:34] kodermax commented on #2693
[code]

[2015-12-29 17:36] alitaheri commented on #2697
I agree with @mbrookes. The name is not very intuitive. How about NavigationDrawer with `openOpposite` prop. In other words the side is automatically changed with rtl. and if they want it to open from the opposite site they set that to true. Thoughts?

@newoga If we decide on that name I will set React on fire :laughing: :laughing:

[2015-12-29 17:37] mbrookes commented on #2697
Confusingly the MD spec calls it both 'Side Nav' (as @newoga found) and also ['Navigation drawer'](https://www.google.com/design/spec/patterns/navigation-drawer.html). Personally I prefer `Side nav`, as drawer implies open and closing, whereas it can be fixed, but it's all semantics, and either is better than LeftNav.

@alitaheri - not sure I follow...

[2015-12-29 17:37] alitaheri commented on #2693
Hmmm I'll look into this as well. thanks.

[2015-12-29 17:38] kodermax commented on #2693
i fixed now, soon i send PR.

[2015-12-29 17:40] alitaheri commented on #2693
Thanks :+1: :+1:

[2015-12-29 17:42] alitaheri commented on #2697
@mbrookes Well in case of RTL language the <TARGET_NAME> will have to open from the right side. It's usually like that. everything flips! but some may want their <TARGET_NAME> component to open from the opposite side (it being rtl or ltr). So I think the component should be made a bit smarter to react to language direction. yet allow interception with `openOpposite` prop,

[2015-12-29 17:51] mbrookes commented on #2697
@alitaheri - sorry for the confusion, I was referring to your Stateless Functional Components comment, but by the time I submitted my comment, the conversation had moved on, so I deleted it.

Understand re RTL - @newoga had suggested openSecondary, which matches the language in the spec.

Regarding the overall component naming, Drawer to me says it opens and closes, where as it can be fixed (but y

[2015-12-29 17:57] alitaheri commented on #2697
@mbrookes Yeah either one is good, I'm ok with both. and if openSecondary is the convention then sure :grin:

[2015-12-29 18:08] dcsan commented on #2699
OK great, let me know if i can help! when do you expect the PR to land?

[2015-12-29 18:11] dcsan commented on #2676
I noticed this too and assumed I was just doing something wrong, but apparently not.

I am able to change the secondary color by modifying the theme tho.

[code]

and then later:

[code]

HTH.
note this is an example using meteor.

[2015-12-29 18:17] alitaheri commented on #2699
In 20 minute at most.

[2015-12-29 18:25] mbrookes commented on #2639
@oliviertassinari - should responsiveness go in the roadmap? There are a few issues now that relate to this in one form or another.

[2015-12-29 18:32] dcsan commented on #2699
i'm not sure if your PR will address this, but in trying to workaround,
none of the events send info in the parameters either:

[code]

[code]

with onChange and onEnterKey there are no other values sent apart from the synthetic event.
just p1, p2 etc are undefined. I think this is a regression?

so we can't read via ref, or by using the component methods.
that makes it impossible to use these fie

[2015-12-29 18:42] alitaheri commented on #2699
It does get passed into that callback, via the first argument `evt.target.value`. It's a lot messed up, granted. we have to address a lot of issues regarding these components

[2015-12-29 18:49] alitaheri commented on #957
With zIndices added to theme, achieving this is now possible.

[2015-12-29 18:49] #957 closed

[2015-12-29 18:52] alitaheri commented on #1001
These imperative methods are now deprecated

[2015-12-29 18:52] #1001 closed

[2015-12-29 18:54] alitaheri commented on #1112
I'm closing this, it seems to be abandoned. feel free to reopen if it persists :grin:

[2015-12-29 18:54] #1112 closed

[2015-12-29 19:20] maxkrieger commented on #1011
:+1: making `value` an int works

[2015-12-29 19:35] unional opened #2706 "Simplify import for complex components"
Will you consider to support:
[code]

along with the current way:
[code]

I remember seeing this recommendation on react.io, but couldn't find the source.

[2015-12-29 19:37] oliviertassinari opened #2707 "[Popover] useLayerForClickAway issue"
@niba noticed that we have two issue with this property:
1. Documentation says that default: false which is incorrect. The default is true.
2. We dont pass useLayerForClickAway from popup to render layer.

[2015-12-29 20:38] rwoody commented on #2446
@rdagger @alitaheri

Can confirm floatingLabelText and hintText cannot be used in conjunction. When I try, the floatingLabelText is displayed where the hintText would normally go, but clicking on it does nothing.

[2015-12-29 21:32] #2699 closed

[2015-12-29 22:00] mbrookes commented on #2699
@dcsan - Just a little plug for https://github.com/mbrookes/formsy-material-ui - even if you don't want to use formsy for form validation, you it might help you with ideas for using the components in forms.

[2015-12-29 22:01] oliviertassinari commented on #2639
Yes, I think so!

[2015-12-29 22:09] oliviertassinari commented on #2697
I agree. But I'm confused:
- http://www.getmdl.io/components/index.html#layout-section/layout is using `LayoutDrawer`
- https://material.angularjs.org/latest/demo/sidenav is using `SideNav`
- https://www.google.com/design/spec/patterns/navigation-drawer.html talk about a `NavigationDrawer`

Should we vote?

[2015-12-29 22:17] newoga commented on #2697
I vote `<SideNav />`.

The material spec isn't exactly clear or perfect when distinguishing betweens patterns and components. But for this, they use the term [Side nav](https://www.google.com/design/spec/layout/structure.html#structure-side-nav) in their layout documentation, and [Navigation drawer](https://www.google.com/design/spec/patterns/navigation-drawer.html) in their patterns documentation

[2015-12-29 22:18] newoga commented on #2697
MDL confuses me a lot because it seems at times to invent new terms for things in the spec. Mmm...

[2015-12-30 00:04] mbrookes commented on #2697
There are quite a few ambiguities and even straight up contradictions in the spec, not just naming / terminology, (It's a shame it isn't open source, or at least had an 'issues' tracker somewhere), but the more I read these particular sections the more confused I become.

"Side nav bars may be pinned for permanent display, or they can float temporarily as overlays. Temporary nav drawers overlay th

[2015-12-30 02:44] newoga commented on #2697
@mbrookes Haha! That gave me a good laugh. :laughing: I feel your pain.

I feel the same way.

As a general rule, I think we should do our best to "honor" the spec but we shouldn't kill ourselves in an attempt to conform to it perfectly. Based on my personal experience reading the spec, I'm thoroughly convinced that a 1-1 mapping is going to be impossible :laughing: (and I really think that it's o

[2015-12-30 03:28] iVanlIsh opened #2712 "Wrong imput statement"
http://www.material-ui.com/#/components/menus
"import Divider from 'material-ui/lib/menus/menu-divider';" should be "
import Divider from 'material-ui/lib/divider';"  as below.

[2015-12-30 03:50] newoga commented on #2712
Thanks @iVanlIsh! We're looking for all the help we can get, especially cleaning up documentation. Do you have time to make a pull request?

https://github.com/callemall/material-ui/blob/master/docs/src/app/components/pages/components/menus.jsx#L5

[2015-12-30 03:55] iVanlIsh commented on #2712
ok

[2015-12-30 05:17] JasonWeise opened #2714 "TableRowColumn Not Wrapping Text"
There doesn't appear to be any way (that I can find) to wrap text in a TableRowColumn. I have tried with ```<p>,<span> and <div>``` as children of the TableRowColumn and the text never wraps.

At best I can get ... at the end of the text (which appears to be default behaviour) but that doesn't actually allow the user to view the larger text, it only seems to indicate that the text is longer than t

[2015-12-30 05:36] newoga commented on #2714
@JasonWeise Could you try applying the following style to the `TableRowColumn` element?

[code]

Source: http://stackoverflow.com/questions/1057574/html-td-wrap-text

[2015-12-30 05:41] JasonWeise commented on #2714
@newoga Thank you so much, that got it. I was CERTAIN I tried that as I found it on a forum somewhere, but was getting so frustrated that heaven only knows what I ended up trying.
Think I just needed to walk away for a bit... you are a saviour :+1:

[2015-12-30 05:41] #2714 closed

[2015-12-30 05:44] newoga commented on #2714
No problem @JasonWeise!

@oliviertassinari @alitaheri I know we plan on adding functionality to the Table at some point based on the roadmap. Do you think this use case should be a configurable prop? I can argue both ways.

[2015-12-30 05:55] newoga commented on #2706
@unional We are currently looking into approaches to simplifying, but don't think this approach is currently planned or has been discussed. The only current component that is doing something like this to the best of my knowledge is `<AutoComplete/>`.

@oliviertassinari @alitaheri What do you think about this? The only concern I could imagine having is would implementing this approach mean that if

[2015-12-30 05:57] newoga commented on #2696
@oliviertassinari @alitaheri We could probably close this because this is the same issue as #2693 (as `<SelectField />` uses `<TextField />` internally

[2015-12-30 06:04] newoga commented on #2672
@kkotwal94 My advice is to not use those mixins. The React team is not going to support mixins with components based on ES6/2015 classes.  We have started and are continuing to move towards replacing those mixins with other approaches like utility functions, higher order components, or inheritance.

More importantly, if it's not explicitly documented on the website, it's probably best to not use i

[2015-12-30 06:32] alitaheri commented on #2714
@newoga It's debatable, I think the use case is valid! but a configuration prop might complex the logic within the component. if we support composability better this would be much easier to implement.

[2015-12-30 06:34] #2712 closed

[2015-12-30 06:40] alitaheri commented on #2699
@mbrookes Good job on your project :+1: :+1: I liked it. might not be bad to open an issue requesting a mention in the README.

[2015-12-30 06:43] #2616 closed

[2015-12-30 06:56] alitaheri commented on #2697
I'm against sticking exactly to the specs. After all they are only guidelines in my opinion, it's good to follow conventions but we shouldn't limit ourselves to them. I like `SideNav` more, since it's easier to write and harder to misspell :grin: :+1:

[2015-12-30 07:01] alitaheri commented on #2706
@newoga I'm afraid doing this will force import many unused components leading to increased size of the final build. @oliviertassinari What do you think about this?

I believe we should actually remove the component that are using this approach too. If we want to support orthogonality.

[2015-12-30 07:06] hmeerlo opened #2716 "[DropDownMenu] Why no placeholder?"
Why doesn't a DropDownMenu have a placeholder text for when no value has been selected yet? Now the control is rendered only a few pixels wide with no hint what to select.

[2015-12-30 07:07] unional commented on #2706
If the component are or can be used orthogonally, then of course they should be separate. This only applies to sub-component/sub-section-component that are meant to be used under the main component.

Another (better) example would be `Table` vs `TableBody` etc.

[2015-12-30 07:11] alitaheri commented on #2706
@unional I see. might not be a bad idea after all. @oliviertassinari what do you think?

[2015-12-30 07:12] newoga commented on #2714
@alitaheri Since Table is already a little composable, we may be able to put this logic in the [getStyles()](https://github.com/callemall/material-ui/blob/master/src/table/table-header-column.jsx#L73) for `<TableRowColumn />`.

I think we get a way with doing it in one line of code with something like:

[code]

[2015-12-30 07:16] newoga commented on #2706
@alitaheri I had same concern as you but am starting to agree that this could be a good approach for some of the more specific use cases. I know react-bootstrap uses this approach for some of their nav stuff too.

[2015-12-30 07:30] newoga commented on #2706
@unional I guess it's worth mentioning that a similar approach to this is using the * syntax for importing...

[code]

That should work right now.

[2015-12-30 07:47] hmeerlo commented on #2716
Ok, my bad. There is a SelectField for this purpose.

[2015-12-30 07:47] #2716 closed

[2015-12-30 07:48] hmeerlo opened #2717 "[AutoComplete] showAllItems and filter"
It would be nice to have a mix of the showAllItems and the filter. So when the control is focused all items are shown so the user could scroll through them and so he knows what the valid values are. And when he starts typing the list is filtered.

[2015-12-30 07:53] alitaheri commented on #2714
That sounds like a good idea :+1:

[2015-12-30 08:43] kkotwal94 commented on #2672
Yea, it does. I just found it helpful that those kind of mixins already existed and I knew what they did, using them was just a problem. But thanks for clearing that up makes complete sense!

[2015-12-30 09:52] rdagger opened #2718 "selectedMenuItemStyle for SelectField"
I’m trying to change the color of the selected menuItem in a SelectField.  It looks like you can only change the selected color when you create a Menu component.  Then you can use the selectedMenuItemStyle prop.  However, the SelectField and DropDown components create the Menu inside the PopOver and the menuItem.selectedTextColor is hard coded to rawTheme.palette.accent1Color.  It would be very he

[2015-12-30 10:21] oliviertassinari commented on #2706
I agree. For instance, I don't like this line https://github.com/callemall/material-ui/blob/master/src/auto-complete.jsx#L354. It can lead to unused imported files. The three shaking of rollup or webpack has no way to know if the  `Divider` will be used or not.

The solution proposed by @newoga seems to address the issue.

[2015-12-30 10:41] oliviertassinari commented on #2697
I agree, in the spec, we can see that it used to display picture information.
Hence, I think that `Navigation` or `Nav` is out.

I vote for `<DrawerLayout />`, just to follow react-native :grin:.

In the same spirit. I think that our existing `AppBar` should be the actual `Toolbar`(https://facebook.github.io/react-native/docs/toolbarandroid.html#content) and that the fixed positioning, waterfall e

[2015-12-30 10:48] #27 closed

[2015-12-30 10:49] #2456 closed

[2015-12-30 10:49] #2213 closed

[2015-12-30 10:51] oliviertassinari commented on #2696
@newoga #2693 is an issue with `multiLine` and `errorText` used at the same time. I'm not sure this is the case here.

[2015-12-30 12:07] andrejunges opened #2719 "[DropDown] - new docs function properties"
wouldn't be better the docs display the signature of the function properties so we can see the arguments without going to the examples?

example from DropDown:
onChange(e, index, value)
I could only see that it changed the last argument looking at the example

[2015-12-30 12:08] oliviertassinari commented on #2719
I agree, that's a more general issue with the autogenerated docs.

[2015-12-30 12:23] fgarcia opened #2720 "Can't open links in a new tab"
While browsing the Material UI doc website, it is not possible to do right click on a component-link and open it in a new tab.

For example, it is not posible to browse the list of components and open a new browser window/tab for each of them. Instead I am forced to manually copy the url and paste it into a new window.

Is there any shortcut to avoid this? Or is it a problem considered in the road

[2015-12-30 12:26] oliviertassinari commented on #2720
That's a good point. We could do it by following https://jsfiddle.net/g3thx9e9/.

[2015-12-30 14:11] garntsev opened #2722 "Material design Stepper for Material UI"
Hello!
Any plans on adding Material UI Stepper component?
https://www.google.ru/design/spec/components/steppers.html#

Thank you!

[2015-12-30 14:13] oliviertassinari commented on #426
@skv-headless Any update on this? I don't think that it worse the effort.

[2015-12-30 14:14] oliviertassinari commented on #1622
`ListDivider` is now deprecated for `Divider` that is documented here http://www.material-ui.com/#/components/divider.

[2015-12-30 14:14] #1622 closed

[2015-12-30 14:15] oliviertassinari commented on #2722
Not I'm aware of, if you want to start this, we would be happy :+1:.

[2015-12-30 14:17] oliviertassinari commented on #1630
This is an old issue, I'm closing it, it should be fixed now.

[2015-12-30 14:17] #1630 closed

[2015-12-30 14:19] oliviertassinari commented on #2009
What about being able to change the theme of the all documentation in the http://0.0.0.0:3000/#/customization/themes section?

[2015-12-30 14:19] oliviertassinari commented on #2363
I have added a comment in the last example that point to the repository.

[2015-12-30 14:19] #2363 closed

[2015-12-30 14:20] oliviertassinari commented on #2719
Well, it's a duplicate of https://github.com/callemall/material-ui/issues/2417.

[2015-12-30 14:21] oliviertassinari commented on #2586
I think that we can close this issue.

[2015-12-30 14:24] oliviertassinari commented on #2719
Let's say, it's related for now.

[2015-12-30 14:35] garntsev commented on #2722
Yes, I'd love to! Have you got any tutorial/documentation on developing new Material UI component?
Or just "Use the source, Luke"?

[2015-12-30 14:50] oliviertassinari commented on #2722
We dont' have any guide for this yet (we plan to add a contribution section).
For now, the best this is to start by copying an existing component. I would say that the `SelectField` is a good one.

[2015-12-30 15:12] garntsev commented on #2722
Thank you!
Any dedicated team member to contact with on this component request?

[2015-12-30 17:04] mikedklein opened #2723 "ListItem when disabled className is not returned"
As per discussion on gitter with @oliviertassinari:

Adding disabled='true' to a ListItem prevents you from setting a className for that ListItem. And needs to be passed [here](https://github.com/callemall/material-ui/blob/master/src/lists/list-item.jsx#L419) so one can style inner span text if needed.

[2015-12-30 17:51] Aweary opened #2725 "[AutoComplete] Popover top value inconsistently calculated"
![Example](http://g.recordit.co/3wvgkt5Lry.gif)

This `<AutoComplete>` instance is inside a `<ToolbarGroup>`. The `top` property seems to either be rendered at `70` or `0`, depending on its mood I guess.

This is with the latest `0.14.0` release.

[2015-12-30 18:35] Aweary commented on #2725
It seems to be an issue with how the values from `getTargetPosition` are calculated and/or parsed in `applyAutoPositionIfNeeded` in the `<Popover/>` component.

In the instances where the offset is correct (e.i, not overlapping), `getTargetPosition` is returning an object that looks like:

[code]

and 'setPlacement` calculates `targetPosition` as `{top: 70, left: 1224}`. These values are passed to

[2015-12-30 18:45] Aweary commented on #2725
This issue is, of course, resolved if `<AutoComplete>` sets the `canAutoPosition` prop on the `<Popover>` to `false`

[2015-12-30 19:20] orecus opened #2727 "[ListItem] Nested items does not trigger requestChange in SelectableList"
I've noticed that nested ListItems does not trigger requestChange at all. The below code can be used to test and see the issue.

[code]

[2015-12-30 19:28] oliviertassinari commented on #2727
Fixed by https://github.com/callemall/material-ui/pull/2320.

[2015-12-30 19:28] #2727 closed

[2015-12-30 19:32] alitaheri commented on #2727
:scream: He had checked the master and was still experiencing this. @orecus Did you clone the master branch, build the source and import to this fixed?

If so, sorry I gave you the trouble of opening this issue :(

[2015-12-30 19:51] orecus commented on #2727
Ohh no sorry, I never got the Master build to work at all, I should have been more clear on what the problem was there. I think this issue can be closed.

[2015-12-30 19:56] alitaheri commented on #2727
@orecus We'll soon release 0.14.1 hope it all works out for you :grin: :grin:

[2015-12-30 20:02] alitaheri commented on #2655
@kodermax I'm going to close this issue. feel free to reopen if your issue is not resolved :grin:

[2015-12-30 20:02] #2655 closed

[2015-12-30 20:04] alitaheri commented on #2672
Please ask further questions on stackoverflow. thank you ^_^

[2015-12-30 20:04] #2672 closed

[2015-12-30 20:07] alitaheri commented on #2686
Hmmm I'm not experiencing this issue. We have to investigate. a PR would also be welcome :grin:

[2015-12-30 20:09] alitaheri commented on #2706
@oliviertassinari I don't think that solution can be implemented if we plan on flattening the folder structure. I think we should flatten the structure, so every component (no matter how tightly coupled) are imported using the exact same pattern `material-ui/lib/XXX`

[2015-12-30 20:10] alitaheri commented on #2718
Hmmm this is a very good feature to have. a PR is welcome if you have the time ^_^

[2015-12-30 20:12] alitaheri commented on #2725
This is a very odd and moody bug. Thanks for the detailed report :+1: :+1: We'll look into it. although a PR is also welcome :grin: :grin:

[2015-12-30 20:14] alitaheri commented on #2587
I don't understand the the flow of code that leads to this bug. can you provide more details please?

[2015-12-30 20:15] alitaheri commented on #2594
Thanks for getting to the bottom of it :+1: :+1: Feel free to submit a PR addressing this :smile:

[2015-12-30 20:17] #2178 closed

[2015-12-30 20:20] alitaheri commented on #2608
@suhail-ansari-apconic Any chance TableRows aren't directly nested inside TableHead? Table needs to pass down some props in order for it to function properly.

[2015-12-30 20:21] Aweary commented on #2725
Do you think setting `canAutoPosition` to `false` would be acceptable for the `<AutoComplete>` component, or would that have unexpected consequences? If that would work, I'd be happy to get a PR going

[2015-12-30 20:25] alitaheri commented on #2615
This is rather react related not material-ui

you cannot call methods on `elements` rather on instances referenced with `ref`, for more information please read through this awesome blog post by the react team [here](https://facebook.github.io/react/blog/2015/12/18/react-components-elements-and-instances.html).

[2015-12-30 20:28] alitaheri commented on #2646
This was fixed with #2708

[2015-12-30 20:28] #2646 closed

[2015-12-30 20:31] alitaheri commented on #2583
@alonronin I'm closing this issue. feel free to reopen is the issue still persists ^_^

[2015-12-30 20:31] #2583 closed

[2015-12-30 20:34] alitaheri commented on #2582
I don't quite follow what you wish to achieve.

What is the use case? I mean is it even noticeable?

you can use the value prop to set it to any percentage you like. can't you? O.o

[2015-12-30 20:37] #2609 closed

[2015-12-30 20:38] alitaheri commented on #2725
I'm not sure. I wan't around when this component was being written. @oliviertassinari Can you take the lead on this one?

[2015-12-30 20:42] stevenmwade opened #2731 "Select and deselect all rows adds extra index"
When messing around with `onRowSelection`, I came across an interesting bug (maybe) where when you select and deselect all rows the `selectedRows` comes out as `all` and `none` as expected but once you start selecting again there is always an `undefined` index.

[2015-12-30 20:44] af7 opened #2732 "[TimePicker] Cannot change its value! Plus a 'setValue()' warning that is related to 'TextField'"
I get the following warning when trying to change the value on a TimePicker:

![image](https://cloud.githubusercontent.com/assets/7850073/12057129/8bebf862-af46-11e5-83cd-80cfcff77ec9.png)

And the value does *not* change!

This is the code I am using:

[code]

I am using the latest MUI version (0.14.0).

[2015-12-30 20:45] oliviertassinari commented on #2725
@chrismcv Should be the best in place to answers this :grin:

[2015-12-30 20:45] alitaheri commented on #2731
Thanks for reporting. :+1:

[2015-12-30 20:50] af7 commented on #2732
@alitaheri Thanks, does this problem exist in all implementations? This makes the TimePicker unusable in our application and we cannot push our changes, so I was wondering if there is something I should change on my code.

[2015-12-30 20:55] stevenmwade commented on #2731
Using React dev tools it actually seems to be a null value in the state of the `TableBody`.

[2015-12-30 20:56] garntsev commented on #2722
Olivier?

[2015-12-30 20:56] alitaheri commented on #2732
I will definitely investigate before releasing 0.14.1

Thanks for reporting :+1: :+1:

[2015-12-30 20:56] newoga commented on #2586
@oliviertassinari Feel free to close or if there's anything else in the pipeline I can update the description.

Thanks!

[2015-12-30 20:57] oliviertassinari commented on #2722
I don't get it.

[2015-12-30 21:00] #2586 closed

[2015-12-30 21:00] oliviertassinari commented on #2586
The last task in the pipeline is https://github.com/callemall/material-ui/issues/2417.

[2015-12-30 21:01] alitaheri commented on #2731
Interesting... Thanks a lot for investigating :+1: :+1:

[2015-12-30 21:03] alitaheri commented on #1979
Fixed in #2708

[2015-12-30 21:03] #1979 closed

[2015-12-30 21:03] alitaheri commented on #1823
This was fixed in #2708

[2015-12-30 21:03] #1823 closed

[2015-12-30 21:10] mbrookes commented on #2699
Thanks @alitaheri  - maybe a "related projects" section? I'll have a dig around github and see if there are others. I don't think it could be justified for mine alone. :)

[2015-12-30 21:11] alitaheri commented on #2699
@mbrookes That would be great :+1: :+1: Thanks a lot

[2015-12-30 21:28] garntsev commented on #2722
I mean, who to contact with when I am ready with this component?

[2015-12-30 21:34] alitaheri commented on #2670
@oliviertassinari I need help with this one. I don't know how to tackle this. I can't remove the maxWidth, it's a breaking change. I can't calculate whether the width will resolve to a value higher that maxWidth since I can't determine what the original intention was. The best i can come up with is having a weird prop `disableWidthLimitation` or something to.

I'm not sure what you mean by that. E

[2015-12-30 21:35] stevenmwade commented on #2731
@alitaheri I _think_ it's happening here:

table-body.js:120

    var lastSelectedRow = this.state.selectedRows.length ? this.state.selectedRows[this.state.selectedRows.length - 1] : undefined;

    newState.selectedRows = [lastSelectedRow];

If you have nothing selected first then it seems that it creates `[undefined]`.

[2015-12-30 21:35] alitaheri commented on #2722
No one. this is now, more or less a community maintained project. any contributions are welcome. just make the PR, we'll review and merge when all is good :grin:

[2015-12-30 21:39] alitaheri commented on #2731
Wow!! Nice job getting to the bottom of this :+1: :+1: Thanks a lot :grin:

@oliviertassinari Do you think this can break anything? I'm going for this.

[2015-12-30 21:42] mbrookes commented on #2699
@alitaheri I searched guthub for material-ui sorted by popularity, and while there are lots of Material Design related projects projects that use material-ui in their name, most are not related to material-ui at all. (It says something about this project that it's name is now synonymous with Material Design!). There may well be material-ui related projects that don't use material-ui in their name,

[2015-12-30 21:42] stevenmwade commented on #2731
Sure! Until y'all have a real fix I just did this:

      if(lastSelectedRow) {
        newState.selectedRows = [lastSelectedRow];
      } else {
        newState.selectedRows = [];
      }

[2015-12-30 21:47] alitaheri commented on #2731
that's prune to coercion issues. I did this:

[code]

[2015-12-30 21:50] stevenmwade commented on #2731
@alitaheri And that's why I leave it to you!

[2015-12-30 21:51] alitaheri commented on #2699
@mbrookes Thanks for the effort :+1: :+1: Feel free to open another issue requesting that page. I think is good pattern to promote these related project as they might fulfill some needs our users have. :+1:

[2015-12-30 22:00] alitaheri commented on #2731
@stevenmwade Thanks :sweat_smile: :sweat_smile:

Checkout my PR, see if it fixes it ^_^

[2015-12-30 22:03] alitaheri commented on #2668
@oliviertassinari I think I should remove the deprecation warning. So many thnigs need to be fixed befroe we can remove that method. -_-

[2015-12-30 22:06] alitaheri commented on #2732
@af7 I cannot reproduce this bug. I see the deprecation warning, and I'm working on it. but the text field's value does change. odd...

[2015-12-30 22:10] stevenmwade commented on #2731
@alitaheri Awsome!

[2015-12-30 22:12] alitaheri commented on #2731
Thank you :blush:

[2015-12-30 22:25] alitaheri commented on #817
We will soon remove this and use third party library for these kinds of things.

[2015-12-30 22:25] #817 closed

[2015-12-30 22:29] alitaheri commented on #1216
Probably because we don't have fall back for the default font, @oliviertassinari What do you think?

[2015-12-30 22:29] #1238 closed

[2015-12-30 22:32] alitaheri commented on #1240
This is not related to material-ui, you have some animations happening inside your dialog. that possibly calls a callback that has a reference to an unmounted reference. you need to do cancellation in these cases. take a look at [this](https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html) blog point by react team.

[2015-12-30 22:32] #1240 closed

[2015-12-30 22:37] oliviertassinari commented on #2732
I don't get it, `defaultTime` is not supposed to only be used during the first render. It shouldn't be used to change the value.

[2015-12-30 22:40] alitaheri commented on #2732
@oliviertassinari I don't think that's the problem. I think today is not wrong for a default, and the reason it's in the state is because it shouldn't change across renders that happen between days. Besides, this component supports uncontrolled behavior. so that shouldn't prevent setting the value inside the state.

[2015-12-30 22:41] alitaheri commented on #1638
@binarykitchen @BenNG Guys is this still happening?

[2015-12-30 22:44] alitaheri commented on #1752
@zacksinclair I think this was fixed somewhere. can you check again?

[2015-12-30 22:49] alitaheri commented on #1847
this was fixed somewhere along the line.

[2015-12-30 22:49] #1847 closed

[2015-12-30 22:50] Serfenia commented on #2582
A refresh indicator that is only there for like 200 ms barely grows to a spinning one (So UI technical it is not even visible, only if you pay good attention). The animation of the line as you can see starts out small, and not large. The percentage unfortunately does not work, tried it.

[2015-12-30 22:51] alitaheri commented on #1857
The old menus are deprecated now. I'm closing this. if the issue still persists with the new ones. feel free to reopen ^^

[2015-12-30 22:51] #1857 closed

[2015-12-30 22:53] alitaheri commented on #2582
Interesting... I didn't think of it that way! Well we are very busy at the moment with the docs and code quality. Feel free to submit a PR :grin:

[2015-12-30 22:54] alitaheri commented on #1974
I'm closing this one since JSON is now deprecated.

[2015-12-30 22:54] #1974 closed

[2015-12-30 23:08] alitaheri commented on #2485
ToolbarGroup passed style down to it's children. but since it's immediate child is Link the RaisedBottom is not receiving the props. can you use something else and try again?

[2015-12-30 23:10] aweary opened #2735 "[AutoComplete] Support array of objects for dataSource"
I'd like to have more control over the values passed to `<AutoComplete>`. I purpose that we add support for objects and implement a prop like `primaryKey` that represents the property on the object used as in the `<MenuItem/>`.

Here's an example of what it might look like:

[code]

Currently `<AutoComplete/>` does do a check for whether the `dataSource` items are objects, but it treats them as Re

[2015-12-30 23:25] unional commented on #2706
IMO `AutoComplete` should not export `MenuItem` and `Divider` is it currently is.  When designing API, we should ask ourselves what is the intent:

1. Here is `AutoComplete`, as well as `AutoComplete.Divider` which is a sub-component that can only be used under `AutoComplete`, or
2. Here is `AutoComplete`, as well as `AutoComplete.Divider` which **I provide as I think it would be convenience for y

[2015-12-30 23:29] unional commented on #2706
@newoga , that would work. I would suggest to maintain some form of it after the flattening.

Another way would be:
[code]

[2015-12-31 00:31] af7 commented on #2732
@alitaheri Actually what it did is that when I tried to change the "hand" on the clock it reverted back to the "defaultTime" value after around 1 sec. However, now that I test it again.... it does not happen... I did not change something there (my changes are elsewhere), weird...

[2015-12-31 00:34] af7 opened #2736 "[AppBar] Produces a warning and is not rendered"
I use MUI v0.14.

The AppBar causes the following warning and it is not rendered:

![image](https://cloud.githubusercontent.com/assets/7850073/12059584/cd78bb1a-af66-11e5-9d09-f53f314c16a6.png)

The code is quite simple, it used to work before the upgrade (I did not change anything there):

[code]

[2015-12-31 02:22] zpz1982 opened #2737 "checkbox performance issue"
I have a page which have more than 50 checkbox, the response is slow when click checkbox. It seems be fixed when I add shouldComponentUpdate().

[code]

[2015-12-31 03:13] leesei commented on #2697
To throw more stones into the water, it's *Android* that uses `DrawerLayout` to implement the *Navigation Drawer* pattern. And react-native just followed suit.
http://developer.android.com/training/implementing-navigation/nav-drawer.html
Polymer's Paper uses `DrawerPanel`.
https://elements.polymer-project.org/elements/paper-drawer-panel

I'm beginning to believe you can name a component whatever y

[2015-12-31 03:18] leesei opened #2738 "Responsive Nav"
Implementing responsive nav (a nav that is docked on large screen, float in small screen) is a painpoint.
The removal of `PageWithNav` makes the code easier to read (in [master.jsx](https://github.com/callemall/material-ui/blob/master/docs/src/app/components/master.jsx)).
However that implementation depends on internal undocumented components.
Is there a suggested way detect break points in materi

[2015-12-31 03:22] stevehu commented on #1956
+1. Also allow new entry to be added to support tagging..

[2015-12-31 06:30] alitaheri commented on #2706
@unional Hmmmm... You make some valid points!

@newoga @oliviertassinari I have a proposal:

how about we flatten the ENTIRE structire:

[code]

but still provide a way to require all the related components through re-exports:

[code]

[2015-12-31 06:32] alitaheri commented on #2732
@af7 I really hate moody bugs -_- After my PR is merged this issue will close. if you issue still persists after that please reopen so we can investigate further. thank you for reporting :+1: :grin:

[2015-12-31 06:35] alitaheri commented on #2736
This is not material-ui related. Some of your requires are dysfunctional. please share all you require / import statements at the top of your file. thanks :grin:

[2015-12-31 06:35] alitaheri commented on #2737
Thanks for reporting :+1: :+1:

[2015-12-31 07:06] unional commented on #2706
@alitaheri , what you suggest is similar to `lodash` modern:
https://github.com/lodash/lodash/tree/3.10.1-es
where `lodash.js` => `material-ui` or `material-ui/index`
and each component has its own export, such as `array.js` => `Card.js`

[2015-12-31 07:12] alitaheri commented on #2706
@unional That's how it is right now. :grin:

[2015-12-31 07:14] unional commented on #2706
I see.  Do you see the tree-shaking in webpack would become a standard? I'm using jspm, not webpack.

[2015-12-31 07:16] alitaheri commented on #2706
@unional I will eventually. But I don't think we should rely on it. If it doesn't work as exactly as expected the output file can become devastatingly big!

[2015-12-31 07:52] newoga commented on #2706
@alitaheri I think standard ES6 module syntax is all we need. For example, another approach that currently works is:

[code]

That would eliminate our need to have some `material-ui/lib/card-all` import path.

Also, nothing is stopping us from still exporting everything at root `material-ui` path. I think supporting both is fine and not too hard. :smile:

[2015-12-31 07:57] alitaheri commented on #2706
@newoga :scream: :scream: I take my suggestion back it was stupid :laughing:. Good idea :+1: :+1:

I really like it :grin:

@oliviertassinari I think we should follow this, do you agree?

[2015-12-31 09:28] af7 commented on #2736
The thing is that when I remove the <AppBar> code there is no warning or problems in the page. I also used only the <Avatar> component there and it worked without problems. Only if I use the <AppBar /> component there, I get this warning and the page then is problematic.

This is how I import:

[code]

Exactly the same code used to work before the upgrade.

Thanks!

[2015-12-31 10:05] oliviertassinari commented on #2670
What I mean by this, is that we can remove the `width` property. Then, if people want to change the width, they can use `contentStyle`.

[2015-12-31 10:11] #2731 closed

[2015-12-31 10:17] oliviertassinari commented on #2668
@alitaheri Who is calling this `getInputNode`?

[2015-12-31 10:19] alitaheri commented on #2670
@oliviertassinari Oh right. Ok then, we should definitely add an example in the docs too! after we deprecate it.

[2015-12-31 10:26] alitaheri commented on #2736
@af7 Take a look, i think this should fix it. Thanks for reporting :+1: :+1:

[2015-12-31 10:27] oliviertassinari commented on #1216
That's an issue with the font loading. It's not the responsability of material-ui, you're going to choose between different rentering strategy of the font.
I advice you to reade the **Optimizing loading and rendering** section of https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization?hl=en.

[2015-12-31 10:27] #1216 closed

[2015-12-31 10:28] alitaheri commented on #2668
You can. keep clicking on the floating label. TextField calls this. and it's dependent on the value that is returned on the object by that method. It's messed up in so many ways >.>

[2015-12-31 10:36] af7 commented on #2736
@alitaheri Where should I take a look? I do not see any code here. Thanks!

[2015-12-31 10:36] #2732 closed

[2015-12-31 10:39] alitaheri commented on #2736
I meant the PR is just submitted :smile: #2740

[2015-12-31 10:44] oliviertassinari commented on #2738
I guess you want to implement something like https://github.com/callemall/material-ui/pull/2721.
Well, IMHO, the `LeftNav` allow to do it easily. That would be a simple layout component.

[2015-12-31 10:47] oliviertassinari commented on #2737
That issue is directly linked to https://github.com/callemall/material-ui/issues/1176.

[2015-12-31 11:05] oliviertassinari commented on #2706
Well, I think that the best way is to let people use
[code]
or
[code]

In order to do so, I guess that we just need this in our `card/index.js`
[code]

[2015-12-31 11:09] #2736 closed

[2015-12-31 11:14] oliviertassinari commented on #2668
Oh yes indeed, that's probably linked to https://github.com/callemall/material-ui/issues/2517.

[2015-12-31 11:15] alitaheri commented on #2706
That can't happen if we decide to flatten the folder structure.

P.S. you don't have to re-export the default, this is equivalent and simpler:
[code]

[2015-12-31 11:17] alitaheri commented on #2668
Yeah, it is. Alright! I'm done I'm not going to work around this!! I'll fix it anyway I can :angry:

[2015-12-31 11:18] oliviertassinari commented on #2668
So, it's a touchTap on the floating label is calling `this.focus` and that is breaking.

[2015-12-31 11:19] alitaheri commented on #2668
Yes it is. I think adding pointerEvents: 'none' might fix a lot of issues related to this, don't you think?

[2015-12-31 11:26] oliviertassinari commented on #2668
`pointerEvents`: http://caniuse.com/#search=pointerEv.
Another way, would be to make the `getInputNode()` of the `DropDownMenu` returning an object with an `focus` method that open it.

[2015-12-31 11:30] alitaheri commented on #2668
@oliviertassinari I tried a much simpler pattern. I provided a focus() method on `DropDownMenu` and it worked. the only issue is the reliance on value that is returned ON the returned object.

[2015-12-31 13:17] kodermax opened #2741 "not visible errorText"
![image](https://cloud.githubusercontent.com/assets/590985/12064655/fb10cc2a-afd9-11e5-81e4-a8792769f431.png)

[2015-12-31 13:19] kodermax commented on #2693
now i don't see bug in the last version. and you?

[2015-12-31 13:23] kodermax commented on #2693
sorry, this bug come when i use multiLine=true

[2015-12-31 13:55] RoyTimes opened #2743 "ask for raw react.js code of the gh-page"
Hi! Just a beginner of React.js. Really like the design of [the official site](www.material-ui.com). It would be a great help if you could send me the raw code in jsx : )  my email is: zs@ziorix.com

[2015-12-31 14:11] oliviertassinari commented on #2743
the code is available in the `docs`  folder.

[2015-12-31 14:11] #2743 closed

[2015-12-31 14:22] #1626 closed

[2015-12-31 14:23] #2354 closed

[2015-12-31 14:33] alitaheri commented on #2693
@kodermax Yeah multiline does have many positioning bugs. thanks for reporting :+1: :+1:

[2015-12-31 15:29] af7 commented on #2736
Great, thanks! Will there be any *patch* version release by Monday hopefully? (so that when doing "npm i" it works?)

[2015-12-31 15:44] alitaheri commented on #2736
@af7 Yeah we will soon release 0.14.1 we have to address a couple of regressions first :grin:

[2015-12-31 17:24] kodermax opened #2746 "stage-1 bug in example"
![image](https://cloud.githubusercontent.com/assets/590985/12066654/6944ba18-affc-11e5-9463-bd6b0168c7e2.png)

webpack-example has bug

[2015-12-31 17:40] oliviertassinari commented on #2746
I have cloned the repo, run
[code]
I couldn't reproduce the issue.

[2015-12-31 18:09] stevenmwade opened #2747 "Setting state with the selectedRows has unexpected results"
<Table
		fixedHeader={true}
		selectable={true}
		multiSelectable={true}
		height={'100%'}
		onRowSelection={selectedRows => onRowSelect(selectedRows)}>

    <TestTable data={this.state.data}
		onHeaderClick={this.sortColumn}
		onRowSelect={this.updateSelectedRows} />

    updateSelectedRows(selectedRows) {
		this.setState({selectedRows});
	},

When I use this pattern, then the table no longer beh