[2022-06-02 11:23] eps1lon commented on #32391
Last time I looked at it, it wouldn't have had an impact on actual users. I'd recommend testing the proposed patterns with screen readers and see if this is helpful. Especially with multiple Skeleton per page in mind.

[2022-06-02 11:39] abhinav-22-tech commented on #32129
After carefully reviewing the code `getboundingclientrect` does not work correctly when `scale`.
Some alternative:
1. `getboundingclientrect` replace with 'offset'(`offsetTop`, `offsetLeft ` etc).
2. reverse the `scale `effect and then calculate the `coordinates`.

[2022-06-02 12:32] ZeeshanTamboli commented on #32985
Can you provide a reproduction? A CodeSandbox may help. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

Also for `selected` or any state classes (hover, focus, disabled etc), you need to apply custom styles by _increasing the specificity_. Perhaps there is an error logged in the console in your application which mentions about it in detail. More det

[2022-06-02 12:40] ZeeshanTamboli commented on #32965
Please provide a CodeSandbox (https://mui.com/r/issue-template or https://mui.com/r/ts-issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-06-02 12:49] ZeeshanTamboli commented on #32932
It works for me. See https://codesandbox.io/s/zealous-gauss-unc7ug?file=/src/Demo.tsx.

Perhaps something to do with your build setup. Please ask the community on StackOverflow if the error persists.

[2022-06-02 12:49] #32932 closed

[2022-06-02 12:51] #32812 closed

[2022-06-02 14:01] #32591 closed, assigned to siriwatknp, danilo-leal

[2022-06-02 14:01] BohdanKov commented on #32727
I replaced
`import { Button } from '@mui/material';`
to
`import Button from '@mui/material/Button';`
and it helped me

[2022-06-02 14:19] mayankpandav commented on #32727
https://github.com/mayankpandav/demo_mui_vite  no luck even not using Button on demo repository

[2022-06-02 14:56] HeinKoZin commented on #32985
https://codesandbox.io/embed/condescending-morning-g1po7x?fontsize=14&hidenavigation=1&theme=dark

[2022-06-02 16:00] AlexKrupko opened #32999 "[Stack] `direction` prop with breakpoints breaks `spacing` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `spacing` prop calculates wrong if we use `direction` conditionally based on breakpoints. Actually, it calculates correct, there is the wrong order of the `style` tags. So, style for lower resolution overwrites the higher one.
Code for example -
[code]

[2022-06-02 16:11] spider9375 opened #33000 "[Select] inputProps type not showing"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

when i provide `inputProps{{
type: 'test'}}`
there is no `type="test"` in the HTML input element

### Expected behavior 🤔

type prop is visible in the HTML element

### Steps to reproduce 🕹

[Steps:

1.
2.
3.
4.
](https://codesandbox.io/s/multipleselect-dem

[2022-06-02 16:30] ethan-davis-seekout commented on #28465
My Autocomplete dropdown list depends on database query results from my textfield input. I found Autocomplete's [freeSolo](https://github.com/mui/material-ui/issues/28465) field was a better solution for me, rather than Autocomplete's default to assume a static dropdown list with a ArrowDropDownIcon. Using Autocomplete's freeSolo field removes the ArrowDropDownIcon from my textfield and is the bet

[2022-06-02 17:31] Moizsohail commented on #28624
I am interested in working on this issue.

[2022-06-02 17:32] Moizsohail commented on #28624
@oliviertassinari

[2022-06-02 17:32] ris314 commented on #17473
@cherniavskii provided extremely helpful content [here](https://github.com/mui/mui-x/issues/5030#issuecomment-1143497861)

This works great:
[code]

One inconvenience is that if several MUI components, which rely on portal functionality, are rendered within the Shadow DOM, then you'd have to hunt them all down and supply default container for all of them explicitly - seems lok a lot of error prone

[2022-06-02 17:51] ris314 commented on #17473
@cherniavskii, if I wanted to override the default container for `MuiTooltip` and `MuiAutocomplete`, how would I go about doing that?

[2022-06-02 17:53] JeffBaumgardt opened #33001 "`createPalette` - Remix - SyntaxError: Cannot use import statement outside a module"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Building a ssr app in Remix I have a fully custom theme and for the palette I use the `createPalette` function. In there I do lots of overrides and additions. What I have works as expected in Create React App and I can assume it's webpack doing the magic th

[2022-06-02 20:30] #32832 closed

[2022-06-02 23:41] dkadrios commented on #32640
Nothing to add except to say we're running into the same issue -- hoping it gets triaged 🤞🏽

[2022-06-02 23:47] squirrl commented on #9574
Sorry to resurrect a dead thread, but in case someone comes across this with the same question:

`<TextField>` generates a three layer tree, with a grandparent `<div>` (MuiFormControl), parent `<div>` (MuiInputBase), and child `<input>` (MuiInput).

Other ways to do it are probably better, but if you have some specific need for inline styling you can pass props to the grandchild via the InputBase/

[2022-06-03 00:56] JoelBrenstrum commented on #32727
I managed to get around the issue here

https://github.com/vitejs/vite/issues/8308#issuecomment-1145481581

[2022-06-03 01:09] shadigaafar commented on #31847
Personally as i noticed in some apps by Google and Microsoft have many `ar-*` locales, but changing between them does not really do anyting, they all the same, useing Standard Arabic, but maybe it is important for them for other informaiion like time and etc. Facebook and Twitter apps support only Standard Arabic (Twiitter Support also Feminine Standard Arabic) , and mostly all arabs apps, have ju

[2022-06-03 03:37] vanga commented on #32518
I am also seeing this issue with React 18. For the time being, I went ahead with the `minHeight` suggestion made above. Since the image dmensions are dynamic in my case, I set it to something very large which adds unnecessary scroll bar.

[2022-06-03 07:39] alexfauquette commented on #23674
Last step "translate" is on going :)
https://github.com/mui/mui-x/pull/5100

[2022-06-03 07:39] #23674 closed

[2022-06-03 08:21] mohsenomidi commented on #30330
Is there any plan to add this feature?

[2022-06-03 08:47] mnajdova commented on #32967
Always use exports from `@mui/material` if you are already using this package, and the system otherwise (for example building your own design system with unstyled components). The difference is the default theme that will be used.

We were considering something similar, but decided to go with the less abstract definition, as it is much more readable and easy to understand for people coming to the

[2022-06-03 09:26] AgentIvan commented on #23032
I have a problem with the [Form dialogs](https://mui.com/material-ui/react-dialog/#form-dialogs) example of mui
https://codesandbox.io/s/formdialog-demo-material-ui-forked-v1dm0t?file=/demo.tsx
The `autoFocus` on `TextField` doesn't work inside of `Dialog` so I need to use `useEffect`:
[code]

[2022-06-03 10:13] ZeeshanTamboli commented on #32985
As I said in the previous comment, you need to override the selected style on the root so that the CSS specificity is increased. This is because internally we style state classes with a higher specificity. You can use the `Mui-selected` class and add the overrides on the root.

Here is the [CodeSandbox](https://codesandbox.io/s/empty-tree-64h4t4?file=/src/theme.tsx) demonstrating the same.

As for

[2022-06-03 10:13] #32985 closed

[2022-06-03 10:17] jderusse opened #33004 "Textfield's autofocus in modal does not works with StrictMode and ReactDOM.createRoot"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When switching to `ReactDOM.createRoot`, opening a Dialog containing a TextField with `autofocus`, the field is not focused.

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

reproducer: reproducer : https://codesandbox.io/s/dreamy-kowalevs

[2022-06-03 10:18] cherniavskii commented on #17473
I've found a better solution to address this - see https://github.com/mui/mui-x/issues/5030#issuecomment-1145815537

I think this can be addressed by the section in docs. I'm not 100% sure this is complete solution, but it looks like it addresses most of cases, and we can always update the docs if there's something to add here.

[2022-06-03 10:36] mnajdova commented on #31847
The localization are simply filling the theme with default props for the components (for the content/aria generation labels etc). If there is no default prop for the particular string/or there are no localization, yes the will be filled with English, as that is what we have by default in the components).

[2022-06-03 10:42] AgentIvan commented on #23032
I have a problem with the [Form dialogs](https://mui.com/material-ui/react-dialog/#form-dialogs) example of mui
https://codesandbox.io/s/formdialog-demo-material-ui-forked-v1dm0t?file=/demo.tsx
The `autoFocus` on `TextField` doesn't work inside of `Dialog` so I need to use `useEffect`:
[code]

  There was no this problem in material-ui v4

  Should I create a new Issue?

[2022-06-03 10:49] mnajdova commented on #30483
Probably there are two separate conversations happening here :) My sandboxes were more towards the initial comment about how styles are `merged` and we are shipping unnecessary styles, mostly related to https://github.com/mui/material-ui/issues/30483#issuecomment-1004792181

[2022-06-03 10:53] mnajdova commented on #29428
Looks like this is a struggle for lot of people. I am reopening. We started to work a bit on improving the migration guide in https://github.com/mui/material-ui/pull/32740

Will it help if we add as a link in the migration guide an example project for using both @mui/material + @mui/styles? I will start drafting this so that we can link it to people using these packages side by side during the mig

[2022-06-03 11:31] SalahAdDin commented on #29428
If it is helpful: I'm getting this specific problem only with the **Badge** component.

[2022-06-03 11:43] michaldudak commented on #32908
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template or https://mui.com/r/ts-issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-06-03 11:46] michaldudak commented on #33004
Thanks for the bug report - it's an interesting one!
Would you like to dive deeper and investigate the issue?

[2022-06-03 11:53] mnajdova commented on #30957
Great, ok it's good to have it as a reference for other people hitting the same problem.

[2022-06-03 11:56] siriwatknp commented on #32587
cc @michaldudak

[2022-06-03 12:13] #32641 closed

[2022-06-03 12:31] emlai opened #33006 "[IconButton] `'default'` color is not explained"
In the [IconButton API docs](https://mui.com/material-ui/api/icon-button/):
<img width="797" alt="Screen Shot 2022-06-03 at 15 30 14" src="https://user-images.githubusercontent.com/7543552/171853974-6852462a-c1c8-46b9-86fc-cec5bf166b48.png">

`'default'` is mentioned as the default color, but the meaning of this value is not explained anywhere in the docs. The other color values are explained in t

[2022-06-03 12:46] michaldudak commented on #32587
We don't plan to do anything breaking in the v5 timeframe, so you're safe to use whatever we currently have. We'll likely upgrade to Floating UI at some point, as we generally want to use the latest dependencies. If upgrading from Popper to Floating UI cause breaking changes, we'll do it in the next major.

cc @mnajdova (as the co-owner of this component)

[2022-06-03 12:57] dcallus opened #33008 "anchorOrigin and transformOrigin can create delay on what menuItem is (visually) selected."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When adding an anchorOrigin OR transformOrigin prop to a Menu so that it pops over the button it can create a visual glitch. If your mouse is on a certain area it can select the wrong menuItem briefly before changing. It is sometimes only a small area where

[2022-06-03 13:03] mnajdova commented on #32587
The plan sounds good to me 👍

[2022-06-03 13:05] maria-clipp commented on #16995
`<Box border={1} borderColor="gray.A400"/>` Does not work

[2022-06-03 13:07] mnajdova commented on #32989
Duplicate of https://github.com/mui/material-ui/issues/24282#issuecomment-1086834032 I guess you wanted to add comment over there :)

[2022-06-03 13:07] #32989 closed

[2022-06-03 13:38] Andarist commented on #30483
Ah yes - I might have only been considering the very latest comments.

[2022-06-03 15:21] damianbeles opened #33010 "Drawer `transitionDuration` property refers to its content only"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Setting the `transitionDuration` property on `persistent Drawer` refers only to its content transition, but not to the drawer as a whole.

![Issue image](https://i.imgur.com/qvs3yW5.gif)

### Expected behavior 🤔

Setting the `transitionDuration` property on

[2022-06-03 18:06] dcallus commented on #33008
Just some extra info which may (or may not) help solve the bug.

On my local repo, the hand cursor also changes to a pointer briefly after clicking the button and changes back to a hand the moment the selected item changes. This doesn't matter at all, but it may be related as they seem to 'load' at the same rate.

This doesn't seem to happen on the CodeSandBox repo though.

However, moving the cur

[2022-06-03 20:50] Aerophite commented on #18251
MUI now changes the text field to a "combobox" role so you have to do `getByRole('combobox')`. Not exactly sure when that happened but my company had to update tests a couple of months ago when we updated `@mui/material` to `^5.6.0`

[2022-06-03 20:53] michaldudak commented on #32302
Your `react-scripts` package is very outdated. Try updating it to the latest version.

[2022-06-03 21:15] Moizsohail commented on #32970
When using ButtonGroup. you all need to add this in the createThemeObject
[code]

[2022-06-03 21:17] michaldudak commented on #32357
How do you require your library exactly? Do you `npm pack` it and specify the path to the .tar.gz in your package.json? If not, you may have multiple instances of React (possibly in the same version) running.

[2022-06-03 21:19] michaldudak commented on #32294
Thanks for reporting this. @mnajdova would you mind taking a look if the usage of theme is correct in this case?

[2022-06-03 22:37] benjamhawk opened #33011 "[TreeView] Updating `disabled` prop of `TreeItem` doesn't update the styling immediately"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When updating the ```disabled``` property on the ```TreeView``` component, the disabled class does not get applied immediately. It appears it doesn't update until the next render.

### Expected behavior 🤔

Disabled styles should update as soon as the ```dis

[2022-06-04 00:06] chrisbucholz commented on #15073
One point the link mentions (https://www.joshwcomeau.com/react/the-perils-of-rehydration/) is that you don't need to wrap that `<ClientOnly>` around your whole App like that.

In our case, it was only a single (though often used) component that used styled-components which was causing the warning. Tracking that down and wrapping just that in `<ClientOnly>` helped silence the warning, while leaving

[2022-06-04 01:41] VladParshin opened #33012 "Style override for <DialogTitle> 's height does not move the Typography text inside."
Running Material-UI/core version 4.12.3 (may be a bit old, as I've not updated during development of the current project)

I'm trying to tweak a Dialog 's title via a style override so that ` <DialogTitle>` is a thinner version. However, the text inside DialogTitle is not adhering to the new height, despite other elements repositioning.

![image](https://user-images.githubusercontent.com/63443061/

[2022-06-04 08:08] stenalpjolly opened #33013 "MUI Icon Import Error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Upgrading from 5.6.1 to 5.8.2 results in

`Module not found: Can't resolve '@mui/icons-material/ContentCopy'`

[2022-06-04 08:57] Moizsohail commented on #33012
It's a bit confusing. Can you please share a codeSandbox

[2022-06-04 09:05] fazlay commented on #32763
Could u please give us a hint!  So other can be solve the problem if they face

[2022-06-04 14:13] rodrigofariow commented on #32587
Sounds good, thanks for the info!

[2022-06-04 16:17] abriginets opened #33016 "[useMediaQuery] Illegal invocation errors in Sentry"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I just deployed my app and connected Sentry to it. Now it repotrs illegal invocation errors in production which is comming from MUI source code:

![image](https://user-images.githubusercontent.com/17240507/172015211-75e77849-038f-46ac-a1e4-0d742abaa3d2.png)

[2022-06-04 16:19] ajhenry opened #33017 "Tailwind styles aren't applied to Popover Menus when following Tailwind MUI interoperability docs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using MUI style interoperability with tailwind and CRA/Next, we need to specify the `important` option in the tailwind config in order to correctly apply styles between the two frameworks.

All components of the React tree should fall under the contain

[2022-06-04 16:57] dimitropoulos commented on #32970
@Moizsohail thanks, and I did do that in my code, but the bug here is that it's intended that MUI can turn off ripple globally as instructed in the docs (["How can I disable the ripple effect globally?"](https://mui.com/material-ui/getting-started/faq/#how-can-i-disable-the-ripple-effect-globally)) and that instruction doesn't work because of a presumed bug with `MuiButtonGroup`.  While it's helpf

[2022-06-04 18:34] omerman opened #33018 "[LoadingButton] - Add ability to control size of circular progress"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hello all,
I think LoadingButton could have the `componentProps` property, and let us pass props for the circularProgress that is being rendered. I think it will improve our experience!

Let me know what you think :)

### Examples 🌈

I had written something like thi

[2022-06-04 18:49] Moizsohail commented on #32970
I thought about it but I don't think it's a bug. Basically the default disableProp being passed from the ButtonGroup takes preference over the overrides from the globalContext. Let's see what the maintainers have to say about it. @oliviertassinari
There can be two possible resolutions.
1. Remove the default prop.
2. Update the doc by adding a small hint.
I am happy to work on it though.

[2022-06-04 19:48] Moizsohail commented on #33011
The issue is caused by the useRef nature of the nodeMap in TreeView component.
I think the issue arises due to the following flow.

1. disabled prop is updated to true
2. Entire Component tree is rendered. The TreeItemContent uses the old value from the nodeMap.
3. useEffect is then run where it ReRegisters the component.
4. No state update happens after that. The TreeItemContent never rerenders t

[2022-06-04 19:49] Moizsohail commented on #33011
@benjamhawk this is not an answer to your question. I just looked it up and leaving it here for the maintainers.

[2022-06-04 20:40] RhisiartK opened #33020 "IconButton's hovered background is not circle when adding styling in sx property (display)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

THe background in the hover state is not a circle shape.

### Expected behavior 🤔

The background in the hover state is a circle shape.

### Steps to reproduce 🕹

Steps:

1. Add `sx={{ display: { xs: 'block', sm: 'block' } }}` to IconButton
2. Show backgrou

[2022-06-04 23:15] tombohub commented on #31835
any solution so far?

[2022-06-05 01:00] VladParshin commented on #33012
Here is a quick minimum reproducible example:

https://codesandbox.io/s/condescending-lederberg-34esk4?file=/src/App.js

[2022-06-05 01:41] kumailraza404 commented on #22278
Hey @mnajdova I'm interested in helping. Would love some guidance on how to do it? I believe that all we have to do it delete the before selector content, if a prop is passed to it.

[2022-06-05 01:41] kumailraza404 commented on #22278
Hey @mnajdova  I'm interested in helping. Would love some guidance on how to do it? I believe that all we have to do it delete the before selector content, if a prop is passed to it.

[2022-06-05 06:09] Moizsohail commented on #33012
You need to put a space after "."
change this
[code]
to this
[code]

[2022-06-05 06:21] michaldudak commented on #33018
Yes, we intend to add `componentsProps` to all components eventually.

[2022-06-05 06:24] Moizsohail commented on #33012
The following overrides seems to do the trick
[code]

[2022-06-05 06:49] michaldudak commented on #32346
The issue appears as your `Listbox` component has a `position: absolute` set (line 120 in your sandbox). Because of this, Popper can't calculate its height and behaves in an undesired way.

[2022-06-05 06:49] #32346 closed

[2022-06-05 07:20] michaldudak commented on #32363
How would you expect this to work and be documented?

As you can see in https://codesandbox.io/s/basiclist-demo-material-ui-forked-wom0u3?file=/index.tsx, it's possible to override the style of the ListItemButton in various states.

[2022-06-05 07:36] michaldudak commented on #32420
Due to Typescript limitations, wrapping a generic component in a `forwardRef` causes the generic parameters to be lost (it's similar to what's happening when wrapping a generic component in a `styled()` utility, as described in https://mui.com/material-ui/guides/typescript/#complications-with-the-component-prop).

To work around this issue, cast whatever the `forwardRef(...)` returns to the correc

[2022-06-05 07:39] michaldudak commented on #32425
Thanks for digging into this, @jwohlfert23. You're right, passing a new array to the `value` prop causes this problem. You can use the `defaultValue` prop instead to make this work properly.

[2022-06-05 07:39] #32425 closed

[2022-06-05 07:45] michaldudak commented on #32477
@vicasas, @sgleisner's explanation is correct. Does it answer your problem?

[2022-06-05 11:03] bteepell commented on #29136
I am seeing the same issue described and shown in the repo.

[2022-06-05 11:34] smitgol commented on #33004
Check this https://reactjs.org/docs/strict-mode.html#warning-about-legacy-string-ref-api-usage

[2022-06-05 13:48] dimitropoulos commented on #32970
both 1 and 2 would be good, but it sounds like 1 would be better.

It sounds like we understand each other.  I know what you mean, but from a user experience standpoint (not a code standpoint) it's 100% a bug.  It says "do this to globally disable the ripple" and when you do the thing it says it doesn't globally disable the ripple.

If nothing else, maybe the default of the MuiButtonGroup can inhe

[2022-06-05 14:04] oliviertassinari commented on #32970
I wouldn't be surprised if this problem hasn't been discussed multiple times on issues in the past. I think to have a deep dive into the issue history to find them before moving in any direction.

[2022-06-05 18:36] VladParshin commented on #33012
Thanks for that, that seems to have the effect I was looking for.
I understand that it is a css issue, but isn't it also an issue with the style override from MUI? The expected behavior would be for the 2 elements to resize together, rather than one becoming smaller, and the text inside of it staying in place, and not to what the new 'inside' is.

[2022-06-05 19:53] michaldudak commented on #31835
@arpitdalal I'm trying to reproduce the error using the codesandbox you provided, but I'm unable to. Perhaps a more recent version of dependencies could solve the problem. Could you please verify if that's the case?

I was also trying to investigate the issue using plain esbuild, but I also wasn't able to make it fail.

[2022-06-05 19:56] michaldudak commented on #32941
Material UI is not responsible for loading the fonts. This indeed looks like a problem with another tool you use (possibly Next.js).

[2022-06-05 19:56] #32941 closed

[2022-06-05 20:00] michaldudak commented on #33013
Have you tried reinstalling the dependencies? I could not reproduce the error you're reporting. See [this sandbox](https://codesandbox.io/s/svgmaterialicons-demo-material-ui-forked-c0ddpr?file=/demo.tsx) - it works fine with 5.8.2.

[2022-06-05 21:02] michaldudak commented on #33016
Without a reproduction to know the context, there's not much we can do.

[2022-06-06 01:12] notsidney commented on #32557
And here’s a version with the `sx` prop so you don’t have to override the icon components:

[code]

[2022-06-06 04:45] jaballogian commented on #32893
Hi @nsilvestri

### Case

I also experience the same thing.
I have to use the `ReactDOMServer.renderToString()` function to render custom `react-leaflet` marker icon with React component.

Here is the result when I use `react` and `react-dom` v17 (the custom markers are fine)
![image](https://user-images.githubusercontent.com/24468466/172096074-abc0c0ca-8599-4d4c-bc9c-60b93dae82cf.png)
and here is

[2022-06-06 05:17] fullstackwebdev commented on #31835
in my theme.ts,  if I use below, I can reproduce the issue:

`import { createTheme } from '@mui/material/styles';`

But if I use this line below, it fixes it:

`import { createTheme } from '@mui/material';`

[2022-06-06 05:24] fullstackwebdev commented on #31140
`createTheme_default is not a function`

I commented on the esbuild ticket but if somebody gets stuck this worked for me, change the import and remove '/styles'

----

in my theme.ts, if I use below, I can reproduce the issue: createTheme_default is not a function

import { createTheme } from '@mui/material/styles';

But if I use this line below, it fixes it:

import { createTheme } from '@mui/mat

[2022-06-06 07:45] nhatcuongboy commented on #32992
Thanks @PunitSoniME. I made it successfully. Hope this issue will be updated soon.

[2022-06-06 07:54] acnologia opened #33039 "React Drawer animation not working when implemented as a function"
What I found worked for me was implementing the drawer _exactly_ as shown in the documentation. For example:

[code]
Have the open prop point to an object with a key and value pair. My object:

[code]

Have the onClose prop point to a function exactly as shown in the documentation:

[code]

And whatever you have opening your drawer point to the same function:

[code]

I'm relatively new to React.j

[2022-06-06 08:10] PunitSoniME commented on #32992
@nhatcuongboy

Should I inform someone from team to close this issue ?

[2022-06-06 10:57] HexM7 opened #33041 "[docs] Demo VirtualElementPopper crashes"
- [x] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20VirtualElementPopper%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-popper/
2. Play around with VirtualElement demo
3. demo *VirtualElementPopper* crashes

## Your Environment
| Tech

[2022-06-06 10:58] #33041 closed

[2022-06-06 11:26] nunos7 commented on #18494
I have a field to filter the options in the list, the warning message is also shown, if in the filtered options there is not the option chosen previously... what is the recommendation for this use case?

[2022-06-06 11:56] TathagatNegi opened #33042 "Is there anything by which we can know when mui tabs scroll buttons are visible on UI. I have a use case wherein I have to show a dropdown whenever scroll buttons are visible on the mui tabs"

[2022-06-06 12:01] workspacetask commented on #23365
Samen Error

[2022-06-06 12:05] vegemite4me commented on #25852
@caocuong2404 Thank you for the suggestion, but unfortunately this hasn't helped me. It looks like Chakra deletes MUI's `theme.breakpoints.keys` value and then Material falls over when trying to call `reduce()` on something that is undefined (`breakpoint.keys`) inside `generateGrid()`.

[2022-06-06 12:16] soullivaneuh opened #33043 "Skeleton: rounded variant"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Provide a `rounded` variant for the `Skeleton` component.

### Examples 🌈

My current override:

[code]

### Motivation 🔦

I am trying to put a skeleton with the similar shape of a rounded avatar: https://mui.com/material-ui/react-avatar/#variants

Having the same v

[2022-06-06 13:57] Motherships commented on #18494
I fixed removed this warning by checking if my data is already fetched, otherwise im setting value to empty string

Like this `value={data.length ? value : ''}`

Right now it works alright, but i always can miss some edgecases

[code]

[2022-06-06 14:21] turshija commented on #28578
Having the same issue since processing my project took more than 1 hour and I had to kill all node processes.
Going through smaller and smaller set of files, I finally managed to pinpoint one huge component (800 lines) which took 25 minutes to complete.
I've installed codemod so I could modify it directly in node_modules, added a bunch of console logs (1,2,3...) between each function (much debuggi

[2022-06-06 14:26] SreehariMadhu commented on #32074
I am facing an issue with downgrading my react 18 to 17 for using mui styles....can you please specify how to properly downgrade react from 18 to 17.0.2?

[2022-06-06 15:20] yasserelsaid opened #33046 "Flickering unstyled page on reload with the next.js example"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I cloned the nextjs example and hosted it on vercel and aws amplify without making any changes. When you first visit the site or reload, a flicker of the unstyled page appears and then the styles kick in. This a link to my deployed instance of the nextjs ex

[2022-06-06 17:47] yanickrochon commented on #30330
I have intergrated [`@reactour/tour`](https://www.npmjs.com/package/@reactour/tour) to my project with success. For those who are looking for something right now.

[2022-06-06 20:29] mcgrealife commented on #20527
I am still experiencing this in MUI v4.11.3 (maybe it's solved in v5).

To workaround, I created a custom tab indicator – **and my custom tab experienced the same issue**! Which revealed this interesting note: when refreshing a page, the selected Tab's boundingClientRect values always return 0.

Here is how I tested:
- attach ref to `<Tab ref={ref}>`
- `useEffect(() => {})` on every render to `con

[2022-06-06 21:45] ncesar commented on #24966
Nice solution, thank you!

[2022-06-06 22:32] yasserelsaid commented on #8060
Same, cloned the repo and didn't change anything. It flickers when deployed

[2022-06-07 04:04] siriwatknp commented on #31796
@michaldudak I think I found the root cause. It likely comes from `useListbox` hook (line: 175).

[code]

I wonder if the `Enter` and `' '` should be removed from the list?

[2022-06-07 05:10] #32741 closed

[2022-06-07 05:10] #32753 closed

[2022-06-07 05:20] stenalpjolly commented on #33013
Clean build works, but upgrading is not working

[2022-06-07 05:30] gyf304 commented on #19113
Here's a workaround if you don't care about `sx` typing or anything style related.
[code]
You'll also need to enable `skipLibCheck` in `compilerOptions` in `tsconfig.json`.

For convenience, put the above script as the `postinstall` hook in `package.json` so npm / yarn does it for you, see [npm docs](https://docs.npmjs.com/cli/v8/commands/npm-ci)

[2022-06-07 05:36] alexander-vashchuk opened #33049 "Autocomplete tweak the content of renderedTags when nothing is selected"
In my app, I am working on the dashboard, which gets cast on the screen, so users can't actually touch it

![Animation](https://user-images.githubusercontent.com/86713661/172303540-0305ae4b-b53c-4eb8-8917-288b672aa24e.gif)

So, I have this very nice feature, when all options are selected, I'm just tweaking autocomplete's text to show "All Options Selected". It helps the end user, simplify the flow

[2022-06-07 06:26] DanailH opened #43052 "[docs-infra] Lock versions on Codesandbox examples"
### Summary 💡

In order to provide clarity and remove misunderstandings, it would be great if we can lock the versions in the Codesadnbox examples. The main reason is that sometimes it can happen that an issue is reported but by the time we check the reproduction case it has already been fixed.
If we have locked versions in the examples listed in the docs we can know exactly the versions the probl

[2022-06-07 06:40] yuriymironov96 opened #33050 "[Menu] Escape does not dismiss Menu if user clicked address bar and then opened it via right-click"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Menu component does not disappear after pressing Escape, if it was opened using right mouse button and before this user had browser address bar in focus.

### Expected behavior 🤔

Menu component should disappear after pressing Escape.

### Steps to reproduc

[2022-06-07 08:08] kbrueckner opened #33053 "Identifier for component type in production builds"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

In production builds of the application
[code]
all MUI components are anonymous and do not tell the developer which component was rendered.
I am searching for a solution which help to identify the underlying component such as TextField.

### Examples 🌈

_No response

[2022-06-07 09:27] emlai opened #33054 "[IconButton] Custom non-palette color causes TypeError"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I augment `IconButton` with new colors that don't exist in the palette:

[code]

and then try to use these colors:

[code]

My app crashes with:

[code]

at the following location:

https://github.com/mui/material-ui/blob/dec32b361714bed9c73ee1360c4b63

[2022-06-07 10:10] #29003 closed

[2022-06-07 10:18] dwjohnston opened #33055 "Add a 'determineIsSelected' callback to the Tabs component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently the 'isSelected' behaviour of the Tab and Tabs components is based on the value passed into the Tabs component and the value passed into the individual tabs components, on what I assume is a `===` comparison.

Such narrow equality checking is not always de

[2022-06-07 10:32] Taliss commented on #30410
@siriwatknp
One way to fix this (even though I am not sure if it's a fix or just a side-effect) is not to use `emotionCache`.
NextJS now support SSR with emotion. This is also working out with a simple `_document`  file, without the need for enhancing and style injections.

next.config: ( flag emotion )
[code]

_document: ( no extra enhance code and injections )
[code]

_app: ( no cache provider )

[2022-06-07 10:44] Taliss commented on #33046
#30410

[2022-06-07 11:35] michaldudak commented on #33004
@smitgol how does it relate to the problem? There are no warnings about refs.

[2022-06-07 11:39] jderusse commented on #33004
Tried to dig into the issue, but internal's react is too complicated for me :(

[2022-06-07 11:46] siriwatknp commented on #33054
The customization capability is not complete. I marked this as an enhancement.

The fix can use optional chaining like in `SvgIcon`. However, please note that when you customize the color prop, you are opting out of the theme palette so you have to style by:

[code]

[2022-06-07 12:39] emlai commented on #33054
Ah that explains it.

I worked around it by passing the color to the icon component instead:

[code]

[2022-06-07 13:29] AayushiGK commented on #17861
This worked for me. But it removed all the styling

[2022-06-07 13:50] mirismaili opened #33057 "Use `font-variation-settings` alongside `font-weight` to support variable fonts"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Now, all major browsers support [`font-variation-settings`](https://developer.mozilla.org/en-US/docs/Web/CSS/font-variation-settings). So I decided to replace my custom ([self-hosted][2]) used font to its [variable version][1] (single file, for all variations).

But

[2022-06-07 13:58] atlanteh opened #33058 "Draggable Dialog doesn't work with nodeRef"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the example of [draggable dialog](https://mui.com/material-ui/react-dialog/#draggable-dialog), we get a deprecation warning: `Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Draggable which is inside Strict

[2022-06-07 14:18] bojkel commented on #32074
You can run

[2022-06-07 14:24] bojkel commented on #32074
You can run `npm uninstall react` followed by `npm install react@17.0.0`

Or do it manually. In package.json, change the version of React and React-DOM to ^17.0.2, delete node_modules and package-lock.json/lock.yarn and finally run `npm install`.

Don't forget: React 18 comes with a bunch of syntax changes to its hooks and index.js so get ready to refactor.

[2022-06-07 14:53] sum93 opened #33060 "[InputUnstyled] not forwarding textarea specific props (rows, maxRows, minRows)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`rows`, `minRows`, `maxRows` props have no effect when the `multiline` flag is set for an `<InputUnstyled />` component.

### Expected behavior 🤔

The `rows`, `minRows`, `maxRows` props have the same effect just as they have in the case of a `<TextField />`

[2022-06-07 17:14] mk2s6 opened #33061 "Grid Action cell item showInMenuNotWorking"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When add column of actions to datagrid component it is throwing error related to showInMenu item options

MUI: GridErrorHandler - An unexpected error occurred. Error: Cannot read properties of undefined (reading 'showInMenu').  TypeError: Cannot read proper

[2022-06-07 17:27] makotot opened #33062 "[docs] Internal link that does not exist from the Box page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The relevant text is above on https://mui.com/material-ui/react-box/ .

The link in this section of the Box page is probably still the same as they were in the [v4 documentation](https://v4.mui.com/system/basics/#all-inclusive) and do not reflect the latest

[2022-06-07 19:32] gin93r commented on #16307
@Changhong-st this worked for "none" as well. e.g. `textTransform: "none" as const`.
Thanks!

[2022-06-07 19:37] oliviertassinari commented on #33062
👍 this change would make sense, thanks for raising.

[2022-06-07 21:45] drewscott16 commented on #32935
I had the same issue and joshkel's commit seems to have fixed it for me!

[2022-06-08 01:02] Shubhamchinda commented on #33054
Is this issue open to working on?
I'd like to take it. @emlai

[2022-06-08 02:48] siriwatknp commented on #32427
@ZeeshanTamboli was [right](https://github.com/mui/material-ui/issues/32427#issuecomment-1108118020) from the implementation perspective:

[code]

The variant and size are combined to create a style. However, from DX perspective, at first I thought what @cheesestringer tried to do should work.

For me, sizes and colors should be independent. That would make customization a lot more intuitive and e

[2022-06-08 05:46] bryantobing12 commented on #29727
still an issue for me. not wanting to add more state as said in @angrybacon answer, because i use react hook form mainly to control the state.

[code]

can i just return true for `isOptionEqualToValue` prop? is it affect anything., didn't find the effect so far. even still don't get it the purpose of that prop in the first place

[2022-06-08 05:53] RyoGitacc commented on #16884
did you just delete package.json? did not delete dependencies in node_module?

[2022-06-08 05:54] RyoGitacc commented on #16884
did you just delete package.json? did not delete dependencies in node_module?

[2022-06-08 05:57] rubek-joshi commented on #32281
Even in your example you can clearly see the typing is missing.

![image](https://user-images.githubusercontent.com/33681318/172542460-c58a96fa-09d8-4c42-925b-ec98e5be80a8.png)

[2022-06-08 07:56] letienan1998 opened #33066 "Cannot install @mui/styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have create a react app and install some library and it generated a package.json contains some dependencies:

i have import in a component withStyles
`import { withStyles } from "@mui/material";`
i got an error like this:
 Uncaught Error: MUI: withStyles

[2022-06-08 10:05] abdeldjalilhachimi commented on #11244
I have fixed this issue by adding global css file and I put there this ` label {
color : green // you can put your primary color based on costumized theme
}`

[2022-06-08 10:48] #32039 closed

[2022-06-08 11:08] kkaplita opened #33080 "[pickers] Console warning when migrating from the lab"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have warnings (in console displayed as errors) after migrating DatePickers from `lab` to `mui-x`.

Warning is `Warning: forwardRef render functions accept exactly two parameters: props and ref. Did you forget to use the ref parameter?`.

I modified all fi

[2022-06-08 11:09] #32897 closed

[2022-06-08 11:23] #32794 closed

[2022-06-08 11:33] mnajdova commented on #26488
+1 for adding the prop on the `InputBase`, we already have it as a prop on the unstyled version of this component - https://mui.com/base/api/input-unstyled/

I would also add this new class `Mui-readOnly` as a [state class](https://mui.com/material-ui/customization/how-to-customize/#state-classes). This can be justified by the existence of the pseudo selector `:read-only` - https://www.w3schools.c

[2022-06-08 11:56] emlai commented on #33054
@Shubhamchinda I don't think it's being worked on, so feel free to take it. Thank you!

[2022-06-08 12:02] #32214 closed

[2022-06-08 12:06] mnajdova commented on #26492
I still believe https://github.com/mui/material-ui/issues/24198#issuecomment-752797748 should fix the issue, no need to add new API for it.

[2022-06-08 12:21] #32935 closed

[2022-06-08 12:30] infi-pc opened #33070 "JoyUI color palette"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi, I am super excited that you made a big step forward with Joy UI. I especially love the potential it brings.

I know it is a work in progress, but the first thing I noticed that could be improved is the color palette (in the buttons).

### Examples 🌈

![CleanShot

[2022-06-08 12:47] mnajdova commented on #29942
I think this doesn't work for more components. We need to add a TS spec test and verify if this works for all components. Then we should either try to find a fix to the issues or document how it can be used. cc @mui/core

[2022-06-08 13:42] mnajdova commented on #33066
@mui/styles is not compatible with [React.StrictMode](https://reactjs.org/docs/strict-mode.html) or React 18.

There is a warning on the page for the package https://mui.com/system/styles/basics/ You can use v5's styling solution @mui/system or tss-react that is a replacement for @mui/styles, but uses emotion.

[2022-06-08 13:42] #33066 closed

[2022-06-08 13:56] HHK1 commented on #32420
Hi @michaldudak thanks for your reply 🙏

In the issue description I've outlined a change to MUI lib's `OverridableComponent` that solved the described issue, have you had a chance to try it?
I'm not sure why `OverridableComponent` is returning just a `JSX.Element` rather than `JSX.Element | null`, and when I dived into that it seems to me that it was the source of the incompatibility between `Forw

[2022-06-08 13:57] mnajdova commented on #33008
Thanks for the codensandbox, I can repro it. Not gonna be able to look into the reasons why it happens, looks like a edge case tough. Happy to help if someone wants to dig deeper.

[2022-06-08 14:05] mnajdova commented on #33017
Maybe @robertwt7 can help out here.

[2022-06-08 14:10] mnajdova commented on #33020
This is because you are overriding the `display: 'inline-flex'` style added by the `ButtonBase` component. If you override some of the styles, it may be required to adjust some other CSS props too. What is the use-case you have that made you change the `display` prop?

[2022-06-08 14:14] mnajdova commented on #33043
We cannot possibly add variant for all use-cases people may have. You can:

- update the styles in the theme is this is how all skelethon look like in your application
- create a new Skelethon component using the `styled()` if this is something you use in multiple places
- use the `sx` prop if this is required on just one instance

[2022-06-08 14:48] danilo-leal commented on #33070
Hey @infi-pc, thanks for opening this one, glad to see the first issues regarding Joy UI pop up! 😊

This is definitely not the "final" palette, we're still iterating on numerous things in the default theme as it's very challenging to pull all of them correctly! One of my biggest concerns regarding the palette is that the scale feels consistent while following two requirements: contrast ratio (most

[2022-06-08 16:09] skfahad opened #33072 "Server side rendering not working with Next Js"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am posting this question only after referring [this](https://stackoverflow.com/questions/51913703/material-ui-breaks-after-refreshing), [this](https://stackoverflow.com/questions/67797057/material-ui-button-loses-styling-after-page-refresh) answers and ot

[2022-06-08 17:16] wilav-dev commented on #18556
Same issue. Can't disable suggestions (I need it specially for autocomplete field)

Tried:
off
none
new-password
random strings
Date.now().toString()

Random strings was working but after upgrading chrome is not working anymore. Any other trick?

[2022-06-08 18:08] totszwai commented on #32904
We will migrate it to 5.8.

[2022-06-08 18:08] #32904 closed

[2022-06-08 18:32] rcfish opened #33074 "Autocomplete with autoComplete option not completing selection"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The description of the option in the API states: If true, the portion of the selected suggestion that has not been typed by the user, known as the completion string, appears inline after the input cursor in the textbox. The inline completion string is visua

[2022-06-08 18:45] enix79 commented on #32929
Any help would be appreciated.

[2022-06-08 19:06] zzev opened #33075 "[Autocomplete][InputUnstyled] `Unable to find the input element` error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the AutoComplete component with an InputUnstyled passed to the `renderInput` prop, the following error is raised:

`MUI: Cannot find input element. Resolved to null while expecting an HTMLInputElement.`

However, if I use the TextField as stated

[2022-06-08 19:36] artzub commented on #30980
I've met the same bug in my work.
I fixed it by the way to override some methods of AdapterDayjs.
Since the timezone plugin for UTC timezone keeps LocalTime and just adds `$u` flag, because `.utcOffset` is overridden by the utc plugin.

https://github.com/iamkun/dayjs/blob/dev/src/plugin/timezone/index.js#L101
[code]

We should convert all dates with `$u === true` to UTC instance with using `.utc(

[2022-06-08 19:55] shehmirkz commented on #19376
good solution

[2022-06-08 20:48] dimitropoulos commented on #32970
Totally.

So what are the next steps towards fixing this?  By "fix" I mean that MUI is changed in such a way that the instruction on the docs remains as-is and (if followed) the ripple will actually be disabled globally (i.e. including `MuiButtonGroup`).

[2022-06-08 21:32] jberrydev commented on #21361
I think what we want is the ability to format the value that is given to text field.  So the possibility of showing an image with the value.  Think if we have formatted or customized the renderOption and we want the value to be the same format as what the user clicked or match the renderOption.

[2022-06-08 22:20] manavm1990 commented on #31890
[code]

Having similar issue, but I am using `pnpm`. No feedback, nothing...just stuck indefinitely. Even 'CTRL + C' has no effect. 😖

[2022-06-08 22:37] manavm1990 commented on #31890
Well, this time I let it hang around for IDK 10-15 minutes and it finally went through. So weird - NS what could have taken so long. I was running other tasks such as `brew upgrade` in the background and browsing web just fine, so no connection 🔌 issues. 😕

[2022-06-08 23:48] pstoica commented on #29225
Just hit this as well. Very unexpected behavior that I have to wrap around.

[2022-06-09 02:09] jrp6864 commented on #31191
Hi, Probably not the best solutions but, it works for me.

The problem is that value can only be in "MM-DD-YYYY". It Doesn't matter what format your onChange return. So I save another const which is responsible for keeping a preserved value for the Datepicker. May be the code would make more sense.

@kaykhancheckpoint Sandbox is the perfect place to test the workaround. ( https://codesandbox.io/s/

[2022-06-09 03:47] robertwt7 commented on #33017
This is actually a good point, any reason from the MUI team why `PopOver` component does not fall under the container, instead it falls under the `body` tag?

[2022-06-09 04:06] GandresCoello18 commented on #32245
It worked for me by forcing the installation, thank you very much.

**npm install --force**

[2022-06-09 04:07] #32787 closed

[2022-06-09 04:11] danwexler commented on #32935
Great to see this get fixed! 👍🏼

On Wed, Jun 8, 2022, 5:21 AM Marija Najdova ***@***.***>
wrote:

[2022-06-09 06:16] deansimcox opened #33078 "Datepicker currently opens to todays date, even when minDate and maxDate are both set in the past"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The Datepicker currently always opens to todays date (as far as I can tell), and in some scenarios this doesn't make sense.

## Screen recording of current behaviour
![](https://media1.giphy.com/media/uRMDrl7bEzvUWZzt67/giphy.gif?cid=790b7611d7a63e7316fe96f

[2022-06-09 07:23] siriwatknp commented on #33046
duplicate of #30410

[2022-06-09 07:23] #33046 closed

[2022-06-09 07:27] siriwatknp commented on #30410
@Taliss The difference is that the example uses the [advanced approach](https://emotion.sh/docs/ssr#advanced-approach), not the default approach.

[2022-06-09 08:13] stenalpjolly opened #33079 "Tooltip not working with react-icons"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Error:
[code]

Sample Code:

https://codesandbox.io/s/winter-fast-ph29nu

[2022-06-09 10:10] WNortier commented on #10571
After you've installed the packages in some cases you may need to restart the development server by quitting and running `npm start`

[2022-06-09 12:08] medihack opened #33081 "[TextField] `Too many re-renders. The layout is unstable.` error message with `multiline` enabled in controlled mode"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using a multiline TextField in controlled mode the following error message in the console occurs multiple times:
[code]
Also, the text field is not correctly resized sometimes. When pressing a return sometimes no new line is added.

The error only happ

[2022-06-09 13:21] #32965 closed

[2022-06-09 14:06] huwprosser commented on #32245
Upgrading to React 18, react-dom 18 and "@types/react": "^18.0.12",
    "@types/react-dom": "^18.0.5" fixed these issues for me.

[2022-06-09 14:47] smitgol commented on #33079
i think for non material component inside tool tip we need to use react forward ref something like this

`const MyComponent = React.forwardRef(function MyComponent(props, ref) `{`
  //  Spread the props to the underlying DOM element.
  return <div {...props} ref={ref}>Bin</div>
});
<Tooltip>
  <MyComponent>
<Tooltip />
`

[2022-06-09 14:49] ZergRushJoe opened #33082 "[Snackbar] Crash when passing more than one child"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/7153267/172876047-b446ec11-9b4c-43ba-9a50-45dfb16fbc4f.png)

### Expected behavior 🤔

should show both elements in the snackbar

### Steps to reproduce 🕹

Steps:

1. create a snackbar with more then one chi

[2022-06-09 14:50] maliksenpai commented on #33058
You can check this article: https://stackoverflow.com/questions/63603902/finddomnode-is-deprecated-in-strictmode-finddomnode-was-passed-an-instance-of-d

And you don't need to use "const paperProps = { nodeRef };" if you don't need it. Because your 24. line code is reducing your performance. You can use like this:

`<Dialog
      open
      onClose={onClose}
      PaperComponent={PaperComponent}

[2022-06-09 14:51] wiseaidev opened #33083 "Errors when installing `@mui/styles` on react v18"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am not able to use `@mui/styles` with react `v18`.

[code]

### Expected behavior 🤔

Make it compatible with react `V6`.

### Steps to reproduce 🕹

Just run:

[code]

### Context 🔦

Just bump these versions to `react > 18.0.0`:

https://github.com/mui/mat

[2022-06-09 15:08] Audrey-Ann commented on #33080
Hello there! Same issue here :) But with 2 different mui components :

![Screen Shot 2022-06-09 at 11 06 16 AM](https://user-images.githubusercontent.com/16864703/172880386-b39810ba-251d-4129-b3b0-38cfe6cda179.png)

![Screen Shot 2022-06-09 at 11 06 34 AM](https://user-images.githubusercontent.com/16864703/172880401-6b98d97d-eb40-4f59-983c-fdc1c484c017.png)

[2022-06-09 15:18] httpete opened #33085 "Alpha 85 throws console errors in tests that 84 does not"
With 85 in my jest tests I get this, with 84 smooth and nice.

[code]

[2022-06-09 15:55] DianaKoenraadt commented on #27590
I see the same issue.

[code]

No matter what I try, the keyboard does not switch to digits in Android or iOS

@eps1lon In response to your last comment, perhaps I'm mistaken but it seems you are discussing whether or not you should **always** specify numeric. I'd say no: It's fine that the default behavior is a normal keyboard. As long as I can switch to numeric for specific use cases. Maybe I'm

[2022-06-09 16:41] stenalpjolly commented on #33079
Can we simplify this and add support for non-material components?

[2022-06-09 16:46] oliviertassinari commented on #32904
OK, please let us know if you have a reproduction, until then I don't think that we can really help.

[2022-06-09 16:49] smitgol commented on #33082
I have find solution about this. we need to wrap up multiple component inside snackbar into one div. like this
`<Snackbar open={open} autoHideDuration={6000} onClose={handleClose}>
        <div>
          <Alert
            onClose={handleClose}
            severity="success"
            sx={{ width: "100%" }}

            This is a success message!
          </Alert>
          <div>kop</div>

[2022-06-09 16:55] ZergRushJoe commented on #33082
Yes, this a good temporary fix but it should still be able to handle
multiple children or display a better error to let people know what the
problem is

On Thu, Jun 9, 2022, 12:50 PM smitgol ***@***.***> wrote:

[2022-06-09 16:57] smitgol commented on #33079
good idea we actually create a component specially for Tooltip content

[2022-06-09 17:10] hiiamtrong commented on #19831
@ergilaze hi bro, can you tell me what is the menuIndex, i'm having a same problem

[2022-06-09 18:59] oliviertassinari commented on #33083
Duplicate of #32142

[2022-06-09 18:59] #33083 closed, assigned to nobody

[2022-06-09 19:00] oliviertassinari commented on #33066
Duplicate of #32142

[2022-06-09 19:14] Moizsohail commented on #33011
@oliviertassinari any suggestions?

[2022-06-09 19:26] oliviertassinari commented on #33066
Strange, I would have expected the `duplicate` label to be added automatically

https://github.com/mui/material-ui/blob/05daa0e6d78a51d59908302624cce500751e41e5/.github/workflows/issue-mark-duplicate.yml#L16

per https://actions-cool.github.io/issues-helper/en-US/advanced#mark-duplicate.

[2022-06-09 20:12] tombohub commented on #19317
@gijsbotje  did you make your own or found something like this?

[2022-06-09 21:16] tombohub commented on #19317
I am trying to create a component, but my React skills are not as good. What did you do instead?

[2022-06-09 21:46] rtritto opened #33090 "[edge] Error: Module not found: Can't resolve 'dns'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

### Expected behavior 🤔

No error

### Steps to reproduce 🕹

Steps:

1. `yarn create next-app --example with-mongodb with-mongodb-app`
2. add MONGODB_URI env var
3. create _next.config.js_ file:
[code]
4. `yarn up mongodb react react-dom`
5. `yarn d

[2022-06-09 21:46] #33090 closed

[2022-06-10 02:07] Shubhamchinda commented on #33054
Great, thanks. I'll take this.

[2022-06-10 02:39] jmaldon1 commented on #31835
I was getting this issue with remix, it had to do with the `<CssBaseline />`.

If your project was set up using the [Remix MUI Example](https://github.com/mui/material-ui/tree/master/examples/remix-with-typescript), then the fix for me was to add the `<CssBaseline />` to the `Layout.tsx` file. Like so:

[code]

[2022-06-10 03:05] jmaldon1 commented on #31140
I wrote the same thing in this issue because it was the first to pop up on google: https://github.com/mui/material-ui/issues/31835#issuecomment-1151859490

I was getting the `Uncaught TypeError: createTheme_default is not a function` issue with remix, it had to do with the `<CssBaseline />`.

If your project was set up using the [Remix MUI Example](https://github.com/mui/material-ui/tree/master/ex

[2022-06-10 04:42] zachsa commented on #10076
If I use variant = dense for the toolbar, how can I find the height in the theme object?

[2022-06-10 05:09] mnajdova commented on #29713
No, we just re-opened all issues that had the label: "status: needs triage". I am closing it

[2022-06-10 05:10] #29713 closed

[2022-06-10 05:11] #29728 closed

[2022-06-10 05:11] #29729 closed

[2022-06-10 05:12] #29755 closed

[2022-06-10 05:13] #29971 closed

[2022-06-10 05:13] #29999 closed

[2022-06-10 05:14] mnajdova commented on #27969
Was renamed to `ownerState`

[2022-06-10 05:14] #27969 closed

[2022-06-10 05:15] #30190 closed

[2022-06-10 05:15] #30191 closed

[2022-06-10 05:17] #30673 closed

[2022-06-10 05:18] #30954 closed

[2022-06-10 05:19] #30871 closed

[2022-06-10 05:19] #29966 closed

[2022-06-10 05:20] #31199 closed

[2022-06-10 05:21] #31197 closed

[2022-06-10 05:21] #30965 closed

[2022-06-10 05:22] #30367 closed

[2022-06-10 05:27] mnajdova commented on #33072
You can reference any of the examples in https://github.com/mui/material-ui/tree/master/examples in order to see how to implement SSR for Material UI v4, for example I can see differences in the https://github.com/mui/material-ui/blob/master/examples/nextjs/pages/_document.js between the example and the project you linked. I hope this helps

[2022-06-10 05:28] #33072 closed

[2022-06-10 05:30] #30628 closed

[2022-06-10 06:08] #29700 closed

[2022-06-10 06:08] #29903 closed

[2022-06-10 06:14] mnajdova commented on #29943
Apologizes but it is not clear what is the problem and in which case. On the issue description itself, the problem is that the props are not being spread. For the other comments, please open new issue with a clear description and reproduction.

[2022-06-10 06:15] #29943 closed

[2022-06-10 06:16] #30036 closed

[2022-06-10 06:17] #30039 closed

[2022-06-10 06:17] #30133 closed

[2022-06-10 06:18] #30146 closed

[2022-06-10 06:19] #30277 closed

[2022-06-10 06:19] #30290 closed

[2022-06-10 06:20] #30498 closed

[2022-06-10 06:21] #31004 closed

[2022-06-10 06:22] #30898 closed

[2022-06-10 06:22] #30814 closed

[2022-06-10 06:23] #30604 closed

[2022-06-10 06:23] #30572 closed

[2022-06-10 06:23] #30511 closed

[2022-06-10 06:24] #31191 closed

[2022-06-10 06:25] #31280 closed

[2022-06-10 06:26] #31365 closed

[2022-06-10 06:27] mnajdova commented on #32513
Yes, closing as a duplicate

[2022-06-10 06:28] #32513 closed

[2022-06-10 06:45] mnajdova commented on #32537
It works as expected when resetting with `""` - https://codesandbox.io/s/materialuipickers-material-demo-forked-kl1km4?file=/demo.js

[2022-06-10 06:45] #32537 closed

[2022-06-10 06:47] #32568 closed

[2022-06-10 06:49] mnajdova commented on #33085
cc @flaviendelangle maybe we should have used `React.forwardRef` for the wrappers, but I am not sure if it is worth fixing. Note that the pickers are moving from @mui/lab to @mui/x, for more info on this - https://mui.com/blog/lab-date-pickers-to-mui-x/#how-do-i-migrate You may want to migrate them. There is a codemod for this too.

[2022-06-10 06:50] mnajdova commented on #33085
I am marking as wontfix, but will let Flavien have the final decision.

[2022-06-10 06:52] mnajdova commented on #33079
The error message is pretty clear in my opinion. It is not like all third-party components are not working, it's just that they need to accept ref. If you don't, it is responsibility of the user of the component to make sure they do (by wrapping the component as described above)

[2022-06-10 06:52] #33079 closed

[2022-06-10 06:57] mnajdova commented on #33053
This is expected behavior, it should be stripped. See https://twitter.com/dan_abramov/status/1255233343039340548?lang=da

[2022-06-10 07:07] kbrueckner commented on #33053
It is not about unexpected behaviour, I am rather more asking for an option to identify the component. It does not necessarily have to be the displayName attribute.

[2022-06-10 07:09] michaldudak commented on #31890
It is a pretty large package (https://bundlephobia.com/package/@mui/icons-material@5.8.3), so naturally, it will be downloaded slower than other MUI packages. Any problems with npm servers, connections, etc. will affect the download times in a much more significant way.

Obviously, 10-15 minutes is far too long to download it. However, once we publish the package to npm, we can't do anything to en

[2022-06-10 07:16] Harmouch101 commented on #33083
@oliviertassinari, so it won't add support for react v6 which begs the question: Is there an alternative approach to the old school way of creating CSS classes style objects? You can refer to the following listing as an example:

[code]

And then pass this style object to an `EnhancedTableHead` component like so:

[code]

I didn't check the docs for this, but I am going to look it up. In the meant

[2022-06-10 07:28] devhyunjae commented on #32142
@oliviertassinari @michaldudak
I am using `@mui/styles` only for
`import { createStyles, makeStyles } from '@mui/styles';`
I deleted @mui/styles and tried to use these inside '@mui/material'
But it throws error like this
[code]

Finally my question is, I am using React18 and I want to use `createStyles, makeStyles`. What is the best shot in here?

[2022-06-10 07:30] #26369 closed

[2022-06-10 07:32] flaviendelangle commented on #33085
We have the exact same here https://github.com/mui/material-ui/issues/33080 for `LoadingButton` so I think there is something to fix

[2022-06-10 07:35] mnajdova commented on #22278
If someone wants to add a demo for it in the docs would be great :)

[2022-06-10 07:39] mnajdova commented on #33053
But is there a real use-case for it? It's hard for me to justify shipping additional bytes in production without a clear reason why.

[2022-06-10 07:59] Harmouch101 commented on #32142
Hey @devhyunjae, It seems like it won't add support for react v6. Therefore, I have found a workaround for this issue by following the steps below:

* Convert all your CSS objects into a normal CSS file. For example:

**Before**: JS component.

[code]

**After**: CSS file.

[code]

* Import your CSS file into your JS component:

[code]

* Add the CSS properties to the JS component:

[code]

* Remo

[2022-06-10 08:03] #32748 closed

[2022-06-10 08:16] michaldudak commented on #29942
The problem with overriding the `component` prop in a theme is that TS won't suggest/allow props of the overridden component.

Consider the following example: https://codesandbox.io/s/component-override-in-theme-qk0p5t?file=/src/Demo.tsx

Even though Chip's component is set to `a`, TS complains when we use the `href` prop on it.
Because of this, I think we should recommend wrapping MUI components

[2022-06-10 08:44] Harmouch101 opened #33092 "The `TablePagination` component is rendered twice with react v6"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `TablePagination` component is being rendered twice. Take a look at the top left of the screen.

![tablePagination-bug](https://user-images.githubusercontent.com/62179149/173026397-299d74a9-6bce-4f28-a795-7dea66556559.gif)

### Expected behavior 🤔

Get

[2022-06-10 09:02] MarksCode opened #33093 "[Autocomplete] `freeSolo` prop makes `onChange` value type become `T | string`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When passing in a custom option type `Option` to the Autocomplete component and `freeSolo={true}`, the `onChange` says the value can be of type `Option | string` instead of just `Option`.

[code]

### Expected behavior 🤔

Type of value in `onChange` should

[2022-06-10 11:50] joeltine commented on #31345
Ooc, Did anything happen with this issue? Any changes or investigation?

[2022-06-10 11:52] masterambi commented on #33085
yeah me too

[2022-06-10 12:10] #32908 closed

[2022-06-10 12:58] httpete commented on #33085
What’s really bad is - we aren’t even importing or using these calendar components. Something really changed .

[2022-06-10 13:05] erdalstk commented on #33085
exactly, same for me.

[2022-06-10 13:12] perevezencev opened #33098 "[typescript] Property 'css' is missing in type"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

An error occurs when using this overridden component
[code]
<img width="1344" alt="Screenshot 2022-06-10 at 15 55 50" src="https://user-images.githubusercontent.com/5954104/173070576-943f3fd8-4920-47bd-b4fb-080a68509148.png">

We are building own ui-kit on

[2022-06-10 18:56] Moizsohail commented on #33012
What you are suggesting is a change in font size relative to the change in height. I have rarely seen such implementation.
Too support my answer I am attaching a [stackoverflow response](https://stackoverflow.com/a/64618937) that answers your query.

[2022-06-10 19:04] Moizsohail commented on #32970
@oliviertassinari By your response https://github.com/mui/material-ui/issues/29740#issuecomment-989805271, what I understand is that this not the intended behavior.

I am interested in working on fixing this issue.

[2022-06-10 19:11] w4t3r-45 commented on #9198
getContentAnchorEl is not working with TS , is there any solution , i don't even see it in the Menu props in the latest MUI 5.8

[2022-06-10 20:13] vitorinoguilherme commented on #32727
I had the same error with vite/mui when installed the eslint-plugin-import-helpers dependency.
I tried everything, the only solution was revert the commit.

[2022-06-10 20:37] DaveLak commented on #33072
FWIW, @mnajdova I think a lot of the examples in https://github.com/mui/material-ui/tree/master/examples are currently broken because they use `next@latest` which is currently `12.1.6` and that version has a bug in CSS generation. See: https://github.com/vercel/next.js/issues/36675.

For anyone else finding their way to this issue, the Next bug appears to be fixed in `next@12.1.7-canary.4`.

[2022-06-10 21:09] juanca opened #33101 "[Select] Different label colors on TextField vs Select when disabled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

<img width="307" alt="Screen Shot 2022-06-10 at 1 59 26 PM" src="https://user-images.githubusercontent.com/841084/173150448-f2408468-67ce-4838-8c47-950170e41ccc.png">

### Expected behavior 🤔

The Select's label has the same grey as the TextField.

### Step

[2022-06-10 22:17] VladParshin commented on #33012
Not the `font size`, the position of the text or rather the `line-height`, as it seems to be static, and not tied to the size of the element itself. Thus, the `line-height` element causes the issue I had, where the text area overflows onto the element outside the new `DialogTitle`'s size.

[2022-06-10 23:14] davakos commented on #32537
Thank you, this works perfectly. Not sure why I didn't try this... I think in MUIv4 I had a condition for AutoComplete where I had to initialize the field value to `null` and persisted that after the migration to v5. Thanks!

[2022-06-11 00:04] JustinLuuu commented on #31337
I have the same problem, how was it solved?

[2022-06-11 03:51] jmaldon1 opened #33104 "Remix visual bug when using Bottom Navigation Bar, Outlet, and scrolling"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The child elements that are produced by `<Outlet />` seem to go under the navigation bar, and you can't scroll any further to see it.

[code]

[code]

http://localhost:3000/dashboard/plans
![image](https://user-images.githubusercontent.com/25569545/17317132

[2022-06-11 04:17] sondt1610 opened #33105 "[Popper] Rendering width of popper is wrong with a customized useAutocomplete hook has dynamic width"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

- Demo link: https://codesandbox.io/s/customizedhook-material-demo-forked-n3lmro?file=/index.tsx
- Width of popper is wrong when use a customized useAutocomplete hook has dynamic width
![image](https://user-images.githubusercontent.com/33110100/173172005-84

[2022-06-11 06:25] gautamV19 commented on #32846
Is there anything left in this issue?

[2022-06-11 07:33] ddolcimascolo commented on #33085
Same here guys. I do import pickers from mui-x but I still have the lab for another component (`TabContext` from the top of my mind) and my tests are now full of this warning...

I can provide further logs, context, reproduction repo if that's worth it. Feel free to ask

Cheers,
David

[2022-06-11 07:35] ddolcimascolo commented on #33085
@flaviendelangle @mnajdova Should you remove the won't fix label?

[2022-06-11 09:39] oliviertassinari commented on #32846
@gautamV19 Everything is left to be done, in case it's something you would like to have a look at.

[2022-06-11 10:10] giorgiPapava commented on #30410
I'm still facing this issue. nothing seems to work for me mentioned above.

[ReBank](https://rebank.ge/top-card) this is the website, I can't give the source code since its enterprise application but I can tell you that I'm using Next.js, MUI, styled-components (not @mui/styled-engine-sc, regular mui configuration with just styled-components styled api). As you can see styles are flickering on the

[2022-06-11 10:13] mhdalmajid commented on #33080
I have same issue when I use
[code]
[code]
and solved as  [kkaplita](https://github.com/kkaplita) mentioned in https://github.com/mui/material-ui/issues/33080#issuecomment-1150818679

change this
[code]
to this
[code]

[2022-06-11 11:32] danykina commented on #30038
@karan316 I had a similar problem in build with yarn 2 and pnp.
Try to avoid importing (all imports) from @mui/lab, and replace them with direct imports, for example:
[code]

[2022-06-11 20:33] Rossnerandre commented on #8060
Still facing this issue with version 5.8.3, cloned nextjs example repo and it's flickering

[2022-06-12 05:02] #32992 closed

[2022-06-12 07:40] s4nju commented on #33060
Is anyone working on this? I would like to work on this!

[2022-06-12 08:10] #32363 closed

[2022-06-12 11:33] #17473 closed

[2022-06-12 11:33] #31188 closed

[2022-06-12 12:46] oliviertassinari commented on #31188
Duplicate of #17473

[2022-06-12 16:42] malikarami commented on #13926
I am experiencing this issue too. The Mui version is 5.8.2
As you can see the SVG icon is centered but the text is not. I have tried setting flex alignment and justification attributes, but they did not help.

![Screen Shot 2022-06-12 at 21 10 07](https://user-images.githubusercontent.com/51096677/173243677-53160050-a85d-43c3-9492-b070dc2410be.png)
![Screen Shot 2022-06-12 at 21 10 18](https://use

[2022-06-12 18:26] 3x071c opened #33126 "[examples] Next.js example renders duplicate CSS (after downgrading to next v12.1.5)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Pull down the `nextjs-with-typescript` example:

[code]

Downgrade next.js to 12.1.5 (from the bad 12.1.6 release) in the `package.json`:

[code]

Install the dependencies, and run the development server:

[code]

Visit `localhost:3000`, right-click and `Vi

[2022-06-12 21:09] #33016 closed

[2022-06-12 21:15] oliviertassinari commented on #32587
I have added this issue to #30660 and added the v6.x label, to be sure we consider this in the next major.

[2022-06-13 02:26] geneshairzan commented on #31835
experice same issue..

still can find the root cause of the problem..

iam using vite v2.9.9 &  "@mui/material": "^5.8.0",

my temp fix,
make error in vite config, undo, recompile

my problem somewhere near :
`import Box from "@mui/material/Box";
`
i changed into :
`import {Box}from "@mui/material";
`

[2022-06-13 06:28] Louai99k commented on #31982
I know this is closed but I didn't understand the solution. I'm using version 5.2.3 so that I didn't open a new issue so I want to ask is now the after the updates the ownerState will be received always because if so I will update to the latest version. Btw why when I console log the props from within styleOverrides it runs three times?

[2022-06-13 07:59] mnajdova commented on #33017
Sounds about right, it should be similar to as described in https://github.com/mui/material-ui/pull/33007 for the shallow dom - https://deploy-preview-33007--material-ui.netlify.app/material-ui/guides/shadow-dom/ :)

This deserves an docs update on our interoperability guide with Tailwind CSS - https://mui.com/material-ui/guides/interoperability/#tailwind-css and maybe even updating the project ex

[2022-06-13 08:40] giorgiPapava commented on #30410
I fixed it with adopting styled-engine-sc with yarn resolutions and next webpack resolve alias

[2022-06-13 08:57] vith commented on #20360
Here's a slightly different codesandbox repro (I was preparing to open a new issue because I didn't find this one initially)

- passing a custom component
- also showing that there's no type error when passing component to a standalone `FormHelperText`
- with all latest dependencies as of now

https://codesandbox.io/s/vigilant-meadow-gqdy5x?file=/src/Demo.tsx

[2022-06-13 09:23] Nefcanto commented on #33085
I'm getting this too. Without doing anything. I just updated my docker image and reinstalled everything and now I get it for `DatePicker.js`.

[2022-06-13 09:34] ValeryP commented on #27584
Any idea how to solve this issue? I already thinking to give up on Material UI since it happens for all my forms.

[2022-06-13 09:57] cherniavskii commented on #33085
@Nefcanto can you provide an example reproducing the issue? You can start with this demo: https://codesandbox.io/s/2s7m0n?file=/demo.tsx

[2022-06-13 10:19] cherniavskii commented on #33085
Should be fixed by #33107

[2022-06-13 10:57] mnajdova commented on #33085
Not really, the problem with `LoadingButton` is still there.

[2022-06-13 11:22] mnajdova commented on #33085
Found the problem, one more components need to forward a ref. Creating a PR.

[2022-06-13 11:46] smitgol opened #33135 "Hover not working in create Theme in v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`components: {
    MuiTypography: {
      styleOverrides: {
        root: {
          hover: {
            color: "white"
          }
        }
      }
    }
  }`
i want to have text color white on hover in typography component. But its not working as excep

[2022-06-13 12:02] #33080 closed

[2022-06-13 12:02] #33085 closed

[2022-06-13 13:16] yann-combarnous opened #33137 "[lab]: dependency @mui/x-date-pickers is fixed to 5.0.0-alpha.1"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently @mui/lab package depends on "@mui/x-date-pickers": "5.0.0-alpha.1".

When using @mui/x-date-pickers, this forces the download of 2 versions of packages.

### Expected behavior 🤔

Could @mui/lab package depend on "@mui/x-date-pickers": "^5.0.0-alph

[2022-06-13 13:25] mnajdova commented on #33135
You should use "&:hover" as a key, see https://codesandbox.io/s/gifted-khayyam-4qtzlj?file=/src/App.js

[2022-06-13 13:40] mnajdova commented on #32150
Yes, here is a reference: https://mui.com/material-ui/customization/theme-components/#overrides-based-on-props

Yes, but you have only access to the theme, as the props are already specified in the `props` key. My recommendation would be using `styleOverrides` where you specify the slot and then use style function. It's very likely we are going to land on this API only in some of the future versio

[2022-06-13 13:53] Rossnerandre commented on #8060
try use "next": "12.1.5", work for me

[2022-06-13 13:58] cherendeen-envative commented on #8520
Unfortunately this is no longer possible due to the component now being omitted from the base props:

https://github.com/mui/material-ui/blob/736f89f1e199dba07b06b969e7bfc3e0b2142a5b/packages/mui-material/src/TablePagination/TablePagination.d.ts#L143

Trying to find another way. I need to be able to place the pagination controls in the table header ( but above the header columns )

[2022-06-13 13:59] mnajdova commented on #31013
My test in https://github.com/mui/material-ui/issues/31013#issuecomment-1057960229 is wrong. After I fixed it by replacing the `Test2` component with:

[code]

It works. I am taking a look at the initial bug.

[2022-06-13 14:06] mnajdova commented on #31013
@ypresto found the root cause here. We are not depending on the styled composition, this is why the styles are not merged in the correct order. Adding a `PaperComponent`, or even better a `component` prop with `Paper` key sounds great. I am adding the `good to take` label.

[2022-06-13 14:32] giorgiPapava opened #33138 "Unable to use styled-engine-sc on next.js/yarn application"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have production application on next.js, MUI and styled components. I had issue of styles flickering on first load. As I found out it was due to MUI using emotion internally and I was using styled-components to override styles. So, I switched to styled-eng

[2022-06-13 14:36] yasserelsaid commented on #8060
"next": "canary" in package.json fixes this.

[2022-06-13 14:58] Phalelashvili commented on #33138
ჩემთან მუშაობს, შენი პრობლემაა 🤡

[2022-06-13 16:39] andrebnassis commented on #31365
@mnajdova Is it fixed? In what package version can I find it?

[2022-06-13 18:55] ajhenry commented on #33017
I think I can tackle this!

[2022-06-13 19:32] josuemy commented on #24536
Hi, would it be possible to update the codesandbox examples? They currently show this error:
![image](https://user-images.githubusercontent.com/16602140/173430547-586c0905-2391-4ab7-9f9f-02b37804e0fe.png)

Thanks!

[2022-06-13 21:13] davidhenley commented on #33081
Reproduced

[2022-06-13 22:14] stesvis opened #33139 "Can't change color of selected items in TimePicker"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In TimePicker I am unable to set the color of the selected items in the clock, while I was able to change basically everything else:
![image](https://user-images.githubusercontent.com/6062684/173454455-427b8279-7c03-4833-8480-899ba88e671f.png)

I would like

[2022-06-14 00:50] vovi-z commented on #28624
@Moizsohail are you still working on this issue?

[2022-06-14 01:07] javedbartlett opened #33140 "[Urgent] Impossible to augment "TypeText" - Property 'link' does not exist on type 'TypeText'."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying to add a `link` type to `text` so that I can access it like so: `color: theme.palette.text.link`

I've tried augmenting the type like so, but this doesn't work:

[code]

The example for `status.danger` DOES work:

[code]

I have also to no avail

[2022-06-14 05:37] ronaklalwaniii opened #33141 "Masonary has `NaNpx` height & margin."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Masonary doesn't respect the columns refer to the attached image.

The problem seems to be with the `height` & `margin` of `MuiMasonry-root` class.

The `height` & `margin` properties have `NaNpx` value refer to the attached image.

I have changed the spaci

[2022-06-14 07:19] siriwatknp commented on #29848
You are right, it looks like we can provide an interface for augmenting the Tabs' indicatorColor. I have reopened the issue.

We can add `TabsPropsIndicatorColorOverrides' to the d.ts for types:

[code]

[2022-06-14 07:27] VanTanev commented on #29844
Hey, I understand that as an OSS developer this might be a very annoying question, but do you have some general guidance or timeline on when we might see React 18 complete?

Thanks!

[2022-06-14 07:58] akshayitzme commented on #31835
thanks @geneshairzan your temp fix worked for me

my error was
``` Box.js:5  undefined is not a function ```

[2022-06-14 09:12] flaviendelangle commented on #33137
Hi,

Unfortunately it's a trade-off we made to give an incentive for people to migrate and have the latest bug fixes.
See this comment for context: https://github.com/mui/material-ui/issues/32654#issuecomment-1119622328

You should be able to use `yarn dedupe` to remove the duplicated version.
Otherwise, know that the pickers will leave the lab entirely on the first release of July 2022, so  the p

[2022-06-14 09:20] micktg commented on #21085
You can use flex direction in this case, for example:

`flexDirection: cell.align === "left" ? "row" : "row-reverse",`

See also here https://stackoverflow.com/a/68318088/7220665

[2022-06-14 09:21] soullivaneuh commented on #33043
@mnajdova The goal is not to support all use-cases people may have, but to support the shapes MUI provides by default.

Currently, the `Avatar` component has a `rounded` variant and we don't have any `Skeleton` equivalent. However, we do have that for the `circular` variant, matching the default shape of `Avatar`.

This make no sense to me.

[2022-06-14 10:12] VanTanev commented on #29844
@eps1lon Hey, thanks for answering!

I'm currently evaluating moving to React 18 and from reading this issue my understanding was that MUI 5 is not ready. I hadn't actually tested implementing it yet.

If MUI is considered ready for React 18, that's great!

[2022-06-14 11:45] kasperfilstrup opened #33144 "Autocomplete with type also accepts `string`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When upgrading from `@mui/material` 5.4.3 to 5.8.3, the usage of `<Autocomplete<Type> ... />` now render all of our implementations with `getOptionLabel` and `onChange` invalid, since `string` always now also is an accepted type - even though we've explicit

[2022-06-14 12:02] mohamedaleya commented on #21397
I'm having this issue with
    "@material-ui/core": "^4.12.4",
    "@mui/material": "^5.8.4",

when trying to:
import Avatar from "@mui/material/Avatar";

[2022-06-14 12:50] michaldudak commented on #31796
We can't remove them completely, because in cases where focus is managed with `aria-activedescendant`, the listbox (having DOM focus) would incorrectly respond to pressing enter or space. Because it's a non-interactive element (`ul` by default), pressing space when it has focus would scroll the page down, which is not what anyone would expect :)

In case of MenuUnstyled, however, focus management

[2022-06-14 14:04] aaarichter opened #33146 "[material-ui][Backdrop] aria-hidden is set by default"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When running the backdrop example with child components as shown on https://mui.com/material-ui/react-backdrop/#example, the backdrop div has `aria-hidden="true"` set. This is problematic IMO, esp when the child element is for example a loading spinner with

[2022-06-14 14:07] aaarichter opened #33147 "[Backdrop]: allow white-transparent background color"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

By default, the backdrop background color is set to 5% black. It would be great to set this via api to transparent white.

Also is the backdrop background color dark-mode compatible ?

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-06-14 14:11] tvogelsang opened #33148 "[Grid] columnSpacing and rowSpacing props ignore breakpoints with 0"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using Grid with columnSpacing and rowSpacing with breakpoints that have 0, they are ignored and the lowest breakpoint value is used.

For example:
[code]

### Expected behavior 🤔

When you're viewing the Grid at breakpoint xl, lg, md or sm >= 600px the

[2022-06-14 14:43] davidgarciab commented on #33062
I have created #33149 to fix this, please let me know if that's fine.
Thanks!

[2022-06-14 15:26] omerman commented on #32967
@mnajdova
I just found that it is already possible!
https://mui.com/system/styled/#custom-components

I must of missed it!

[2022-06-14 17:48] ipenywis commented on #29860
Still getting the same issue with mui v5.8.4.
Got it fixed after downgrading all deps to 5.1.1
[code]

[2022-06-14 17:53] boopxyz opened #33150 "Issue with using TailwindCSS and MUI"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

TailwindCSS will not apply to my components

### Expected behavior 🤔

TailwindCSS should apply its classes to my components

### Steps to reproduce 🕹

Steps:

1. Create a MUI app following the [guide](https://mui.com/material-ui/guides/interoperability/#tai

[2022-06-14 18:27] aaarichter opened #33151 "[Snackbar] responsive styles problems with anchorOrigin"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

**Problem 1:**  don't honour theme anchorOrigin style overwrites +

when setting e.g the `top`  `anchorOriginTopRight` position to the theme, the snackbar responsive styles overwrite don't honor the custom setting and overwrite it with the default setting.

[2022-06-14 19:19] javedbartlett commented on #33140
This behavior is currently causing issues in my application so I'd be grateful for a response!

[2022-06-14 19:43] joshkel opened #33152 "[Tooltip] Error message from using a class component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If a React class component is used as the child of an MUI Tooltip, you get an exception with a somewhat cryptic error message. In Chrome:

[code]

In Firefox:

[code]

<details>
<summary>Full stack trace in Chrome</summary>

[code]

</details>

### Expected

[2022-06-14 19:50] jacobweberbowery commented on #17473
One thing that it doesn't address is the `overflow: hidden` that's applied when something like a menu is visible. With the suggested approach, it will lock the given shadow root element, when you may want it to lock the actual document.body, if that's the part that actually scrolls.

[2022-06-14 20:34] vascojm82 commented on #32770
I upgraded from v12.0.10 to v12.1.7-canary.39 and I still have this issue happening, anybody can help?

[2022-06-14 21:02] vascojm82 commented on #30410
Hi, I upgraded NextJS from v12.0.10 to v12.1.7-canary.39 and I'm still seeing this issue, the style from the theme won't load on the page's first render, anyone can help?

[2022-06-14 21:05] FrenchMajesty commented on #23916
The behavior is not consistent with how auto-complete works on any search engine that provides suggestion either. Unfortunately, we've built our entire UI Kit library on top of the functionality that comes from the library so it's a difficult thing for us to work around.

It would require us to do significant engineering at lowest level of abstraction within our UI Kit to address this short coming

[2022-06-14 22:17] brandonscript commented on #31104
I can't believe I missed this reply, thank you so much!

[2022-06-15 03:29] dwjohnston opened #33155 "[Stack] Does not play nicely with TextField margin dense"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you have a row Stack with two TextFields margin dense, they are misaligned:

[code]

![image](https://user-images.githubusercontent.com/2467377/173730772-759cdfe9-ff3b-4476-99bf-27cc3387a206.png)

### Expected behavior 🤔

The text fields should be alig

[2022-06-15 06:57] JandenMa opened #33157 "CircleCI build failed because of the `omitEventHandlers.ts`"
### Duplicates
- [ ] I have searched the existing issues

### Latest version
- [ ] I have tested the latest version

### Current behavior 😯

<img width="1534" alt="image" src="https://user-images.githubusercontent.com/27947587/173759247-9d1c5635-aab4-472b-a41f-4ba18b1b52fd.png">

I got this error in CircleCI when building, I never upgraded MUI packages/dependencies these days.

### Expected behavi

[2022-06-15 07:24] hbjORbj commented on #33074
As you already mentioned, below is the description of the prop `autoComplete` for `Autocomplete` component.

I think `autoComplete` is working as expected in the codesandbox you provided. Here is a recording.

https://user-images.githubusercontent.com/32841130/173767785-1d03bf50-8712-4073-bf42-a27e4d808320.mov

[2022-06-15 07:34] hbjORbj commented on #33081
For your information, this error message won't show up in production mode. You will find this code snippet helpful.

https://github.com/mui/material-ui/blob/master/packages/mui-base/src/TextareaAutosize/TextareaAutosize.js#L89-#L114

[2022-06-15 07:41] michaldudak commented on #33075
Thanks for the report, @zzev. I'll take a look at it today.

[2022-06-15 07:43] hbjORbj commented on #33082
May I ask for an exemplary scenario in which you would like to pass multiple children? You can simply pass 1 component by wrapping them around with some thing. e.g.,
[code]

Maybe we can improve description of `children` prop in API documentation?

[2022-06-15 07:45] hbjORbj commented on #33092
Can you provide a code sandbox? Did you use React 18?

[2022-06-15 07:46] hbjORbj commented on #32518
Similar [issue](https://github.com/mui/material-ui/issues/33092) happening in `TablePagination` component.

[2022-06-15 08:09] DyuldinKS commented on #15759
@WillSquire @eps1lon
Hi! Is there any workaround if I need to extend Link component with custom properties? `as typeof Link` doesn't work in this case. E.g.:
[code]

[2022-06-15 08:46] michaldudak commented on #33075
We haven't tested this scenario yet, as we haven't overhauled the Autocomplete when creating Base components, but you should be able to make this work.
First of all, your StyledInput should forward its ref to the InputUnstyled:

[code]

then, you have to pass in the props of the input in a format that InputUnstyled expects. In MUI Base we're using `componentsProps.*` instead of `*Props` across all

[2022-06-15 08:54] JandenMa commented on #33157
same issue on local:
1. remove `yarn.lock` and `node_modules`
2. run `yarn`
3. run `yarn start`
4. throw error

[2022-06-15 09:30] #29428 closed

[2022-06-15 09:41] nazanin-bayati commented on #14185
For a typescript implementation and mui 5, you can act like this.
Example of new color in the palette file:
[code]
type.ts will be like this:
[code]

[2022-06-15 09:48] cherniavskii commented on #17473
@jacobweberbowery Right, I can reproduce it with this demo: https://codesandbox.io/s/shadow-dom-forked-t3d7cl?file=/demo.tsx

I think we can use `document.body` as scroll container if `container` is inside of the shadow dom. I haven't tested it, but something like this should do the job:

[code]

@jacobweberbowery Would you like to submit a pull request?

[2022-06-15 10:08] JandenMa commented on #33157
![image](https://user-images.githubusercontent.com/27947587/173802179-88cfed8e-411f-4b1d-a7ae-358c1a892d7b.png)
I locked my version under v5.4.x, but its dependencies will install the latest version of v5, I think it would cause some unexpected issues.

[2022-06-15 11:09] JandenMa commented on #33157
nvm, it works since I upgraded my `typescript` to v4, sorry my fault.

[2022-06-15 11:56] oliviertassinari commented on #33155
What we do here

https://github.com/mui/material-ui/blob/a84af6c0806db4c46986732406990852dff58d5f/packages/mui-material/src/Stack/Stack.js#L85

is indeed strange. I guess we should either always reset the margin, or never do it.

[2022-06-15 12:02] kkatsuba commented on #33058
@atlanteh
I had the same issue. After a small dive to react-draggable I found a solution. Here working demo

https://codesandbox.io/s/determined-easley-fv0ztg?file=/src/Demo.tsx

[2022-06-15 12:03] kkaplita commented on #33147
You can override color in own custom theme.

[2022-06-15 12:08] atlanteh commented on #33058
@kkatsuba thanks for your reply!
I believe your solution is the default solution there's in [draggable dialog](https://mui.com/material-ui/react-dialog/#draggable-dialog) example.
My problem is that this solution requires using the `handle` prop which under the hood uses `findDOMNode` which is deprecated, and using the nodeRef one doesn't work in mui as shown in my example.

[2022-06-15 12:23] kkatsuba commented on #33058
It's not such in default example. and there no errro about `findDOMNode` deprecation

Explanation:

https://github.com/react-grid-layout/react-draggable/blob/44a8c6ed103ec6c0a4dda5faf7f8ebca16f9b325/lib/DraggableCore.js#L268

In my example `findDOMNode` not used under hood.
Firstly it will find `Paper` with `nodeRef`
And then with `handle` will filter only title. It uses `matchesSelectorAndParents

[2022-06-15 14:37] totszwai commented on #32806
Sadly nope. IMHO, `styled-components` and `emotion` should deal with existing instance gracefully. Like whenever it tries to initialize it should just check and see if there's already an instance running...

[2022-06-15 14:51] atlanteh commented on #33058
@kkatsuba Ahh wow now I got it!
So the nodeRef is used on the entire paper, and the handle, makes sure that only this handle (ie the title) is draggable and not the entire content, by matching the reffed element and its ancestors.
I see that there's a slightly alternative here instead of the handle.. to use the `cancel` prop: `cancel={'[class*="MuiDialogContent-root"]'}` both work great.

Thanks s

[2022-06-15 14:51] #33058 closed

[2022-06-15 16:05] mnajdova commented on #32518
This is not related, we should treat it as a separate issue.

[2022-06-15 17:20] achendrick opened #33165 "Using a styled(Grid) results in an error from 'RegularBreakpoints'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]
Doing the above is resulting in the following error
`Exported variable 'StyledGrid' has or is using name 'RegularBreakpoints' from external module "{project_path}/node_modules/@mui/material/Grid/Grid" but cannot be named.`

### Expected behavior 🤔

I

[2022-06-15 17:46] JeffBaumgardt commented on #33001
I'll leave it as a note here for anyone else. I've done a lot of various research, experimenting with babel configs, rollup/esbuild configs and lots of back and forth.

I did not solve the actual problem, but I did remove `createPalette` and am just returning an object with my palette config. That config does make it to the `createTheme` and should make its way there. As far as I can suspect is it

[2022-06-15 17:46] #33001 closed

[2022-06-15 19:25] sree2chin opened #33166 "Theme MuiTypography variants and other styleOverrides working with local node modules, but not working when mui is loaded with cdn with same version number"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Sample code:
 MuiSelect: {
      styleOverrides: {
        //rounded select fields
        root: {
          borderRadius: 50,
          borderColor: "#C5C5C5",
        },
      },
    },

The above code works when mui is loaded with local node modules as p

[2022-06-15 20:27] amaidah commented on #24536
This would be super helpful for us too!

[2022-06-15 21:19] cgarrovillo opened #33167 "Theming shadows requires 25"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/6688713/173931934-f7dd38a8-b1ab-4504-827f-a4d11341d277.png">

When overriding the theme `shadows`,  it needs 25 items in the array.

### Expected behavior 🤔

A hard 25 item require

[2022-06-16 01:24] jacobweberbowery commented on #17473
@cherniavskii Thanks for the quick response! [Here's a PR](https://github.com/mui/material-ui/pull/33168) based on your solution. It seems to work in my local testing.

[2022-06-16 01:41] seungwoohong opened #33169 "[Autocomplete] If the same label exists, dummy options is added"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If there are two or more of the same label for an option in Autocomplete, the option is infinitely added.
Every time you search for the same keyword.

### Expected behavior 🤔

Every time, You should get same result, when you search for the same keyword

###

[2022-06-16 03:07] ryancogswell commented on #32510
I've handled this issue in a different manner in my own code which is fully migrated. This is no longer important enough to me to bother with the work of adding documentation and tests to the pull request, so I'm going to go ahead and close this.

[2022-06-16 03:07] #32510 closed

[2022-06-16 03:20] ryancogswell commented on #32881
@rart FYI - @joshkel did enhance the codemod to support replacing `@mui/styles/makeStyles` (#32962).

I wrote the initial version of the jss-to-tss-react codemod. If there are some patterns that were common in your code that it didn't cover, please share some code examples. I'll be able to tell fairly quickly whether or not it's a pattern that I could easily enhance the codemod to cover.

[2022-06-16 05:29] tyuen commented on #31380
This bug has been fixed in Safari 15.5

[2022-06-16 06:34] eggplants opened #33172 "ToggleButtonGroup: Can I keep ToggleButton separate without bug?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I want to keep each ToggleButton in a ToggleButtonGroup apart like this:

![image](https://user-images.githubusercontent.com/42153744/174006619-035a4db6-01a9-4ecb-87f5-4b33c60947a1.png)

↓

![image](https://user-images.githubusercontent.com/42153744/1740064

[2022-06-16 07:22] StrikEr2909 commented on #21661
I am having same issue. someone please update if is there any solution to this issue.

[2022-06-16 08:19] thomas-kahn commented on #32686
@siamahnaf198 :I don't understand? What is the solution to this problem?

[2022-06-16 08:22] DeLm0re opened #33173 "Add an API to detect if a given component comes from MUI"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hello,

It should be great if MUI was able to provide a function we can use to check if a given component comes from _@mui/material_. Maybe it is already possible, but I did not find any documentation or track to begin with.

I have an use case where I need to forwa

[2022-06-16 08:33] rejetto commented on #33165
I can confirm this (recent) problem. For the moment I'm workarounding it by forcing the type `as ReactElement`.

[2022-06-16 09:16] MarksCode opened #33175 "[Checkbox] data-* props not allowed in inputProps"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

As seen here: https://codesandbox.io/s/checkboxes-demo-material-ui-forked-61wy40, adding a `data-*` prop throws an error:

### Expected behavior 🤔

`data-* `props should be allowed, like in the TextField component.

### Steps to reproduce 🕹

https://codesan

[2022-06-16 10:00] philosofonusus opened #33177 "Typescript "The expected type comes from property 'children' " error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Example of erros:

InputAdornment.d.ts(16, 5): The expected type comes from property 'children' which is declared here on type 'IntrinsicAttributes & { classes?: Partial<InputAdornmentClasses> | undefined; children?: ReactNode; disablePointerEvents?: boolea

[2022-06-16 10:10] philosofonusus opened #33178 "This JSX tag's 'children' prop expects a single child of type 'ReactNode', but multiple children were provided."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Example:

FormContainer
This JSX tag's 'children' prop expects a single child of type 'ReactNode', but multiple children were provided

### Expected behavior 🤔

Not to have this error

### Steps to reproduce 🕹

[code]

### Context 🔦

Tried to make a route

[2022-06-16 11:10] mnajdova commented on #33150
Can you show an example of what doesn't work? Could be duplicate of https://github.com/mui/material-ui/issues/33017 if it is related to the portal components.

[2022-06-16 12:10] robcaldecott opened #33179 "IconButton: Unable to change ripple border radius"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When styling an `IconButton` to use a different `border-radius` the ripple will still be circular, even if you attempt to override the ripple styles.

![image](https://user-images.githubusercontent.com/796702/174066333-04d30455-f9c0-43f2-ad40-ce197a04a7cc.p

[2022-06-16 12:18] robcaldecott commented on #33179
I have found the way to do this: you need to style `MuiTouchRipple-child`:

[code]

[2022-06-16 14:19] joshkel opened #33182 "Accessibility of Tooltip with disabled items"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'm having trouble figuring out how to make accessibility work well with a Tooltip with disabled items.

If I follow [the docs](https://mui.com/material-ui/react-tooltip/#disabled-elements):

[code]

then Tooltip adds the label to the span instead of the button, and

[2022-06-16 14:20] cindyloo commented on #31190
still an issue with react 18. is there an update?

[2022-06-16 14:42] vicasas commented on #32477
@michaldudak Yeah, I was thinking maybe we could add a new `ref` parameter to reference where we want the component to display (relative to something) not always at the top of the window.

In my particular use case, we were designing a triple `AppBar` where the first one is not fixed and the other two are. With the use of the hook they were always positioned at the top of the window, with CSS we f

[2022-06-16 15:20] Nahid570 commented on #13506
f

[2022-06-16 15:59] ZergRushJoe commented on #33082
My use case was as notifications got pushed I would simply loop and add
them to the snake bar

On Wed, Jun 15, 2022, 3:43 AM Benny Joo ***@***.***> wrote:

[2022-06-16 16:05] ZergRushJoe commented on #33082
also called children as in multiple not child. React does that on purpose .

[2022-06-16 17:03] amirhoseinsalehi commented on #11964
You can use this trick to force Select to lose its focus:

[code]

[2022-06-16 17:16] ealexhaywood opened #33186 "[question/discussion] Any plans to develop Material Design 3 components/variants?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

While [Material Design 3](https://m3.material.io/) doesn't deviate too much from [Material Design 2](https://material.io/design), I do think it would be pretty cool to for MUI to provide MUI v3 components or additional variants to existing components to achieve the

[2022-06-16 17:26] achendrick commented on #33165
@rejetto good idea 👍🏻, much better than just reverting to **5.8.3**

I ended up going with `export const StyledGrid = styled(Grid)(({ theme }) => ({})) as typeof Grid;` which worked a little better for me.

[2022-06-16 18:25] ievgennaida commented on #21250
Please check the latest version of the tabpanel.
It's causing child components to be mounted two times.

[2022-06-16 20:33] christopher-yashko opened #33187 "[TextField] Make hiddenLabel prop work with OutlinedInput variant"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

According to the docs, the `hiddenLabel` prop only works with FilledInputs. I would like to have the same behavior work for OutlinedInputs. The mui class on the hidden <fieldset> element after the input has a `top: -5px` value that pushes the input border up by 5 pi

[2022-06-16 21:22] Crystiliser opened #33188 "[Button] styleOverrides for containedSuccess doesn't seem to exist"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Style is not applied at all when adding containedSuccess in styleOverrides

### Expected behavior 🤔

When adding
`components: {
  MuiPaper: {
    styleOverrides: {
      containedSuccess: {
        ...someRandomStyleChanges
      }
    }
  }
}` I expect tho

[2022-06-17 06:38] siriwatknp commented on #32049
👋 Updates about the progress.

**Migration**

The migration to support CSS variables in all components is at the finishing line. All issues have been resolved and we can fix all the problems that cause dark mode flicker when you adopt the new provider.

**Typescript**

We will provide a module augmentation file similar to the lab to augment the theme to have CSS variables. You just need one line i

[2022-06-17 07:32] narendrasinghrathore commented on #33172
@eggplants
I hope this help, you can use `sx` prop customization

[code]
Live example: https://custom-style-toogle-group-button.stackblitz.io

[2022-06-17 07:48] siriwatknp commented on #31244
Would you mind sharing a CodeSanbox with me? I am working on the new grid implementation and I want to make sure that it covers your case.

[2022-06-17 07:48] povilass opened #33190 "[Autocomplete] clearable icon should not be shown on label hover"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/8037810/174249979-93b14b56-49f0-4f4d-a36b-401cc4669a1d.png)

### Expected behavior 🤔

![image](https://user-images.githubusercontent.com/8037810/174250473-fd9c1fc1-0359-4fdf-9091-f56e35898dad.png)

### Step

[2022-06-17 07:59] eggplants commented on #33172
@narendrasinghrathore, thank you! However, those buttons do not appear to hold roundness:

![image](https://user-images.githubusercontent.com/42153744/174253255-0ae7e799-6ac5-4ab1-9d0f-c7772de3d220.png)

[2022-06-17 08:35] NehaChaudhary311 opened #33191 "MUI 5 Select Border"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]
After upgrading from Material-UI 4 to MUI 5, I'm seeing the border like this:-
<img width="153" alt="Screenshot 2022-06-17 at 1 59 25 PM" src="https://user-images.githubusercontent.com/44233033/174259363-fbb71c44-8740-43d3-a7c8-1a968b80c5dc.png">

##

[2022-06-17 08:47] lucasriondel opened #33192 "[Accordion] styling with expanded in theme doesn't seem to work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

i am customizing theme as such:

[code]

but it gives me the following:

![CleanShot 2022-06-17 at 10 37 24](https://user-images.githubusercontent.com/7773454/174261041-ddb7a89c-d91f-4d05-ac2a-c150c1f8d167.png)
![CleanShot 2022-06-17 at 10 38 01](https://us

[2022-06-17 09:01] jyoketsu commented on #31835
worked! thanks

[2022-06-17 09:12] povilass opened #33194 "[Autocomplete] Do not wrap into another div element"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Expected render function to work similar to Datepicker, because Autocomplete wraps additional in another div which can cause TextField not to be rendered correctly sometimes.

### Examples 🌈

Codesandbox https://codesandbox.io/s/combobox-demo-material-ui-forked-6fkw

[2022-06-17 09:21] mstosio commented on #32633
Any update on this?

`export interface TextFieldProps extends StandardTextFieldProps,  FilledTextFieldProps,  OutlinedTextFieldProps,`

I tried to extend it like this but it doesnt work either.

`TS2320: Interface 'TextFieldProps' cannot simultaneously extend types 'StandardTextFieldProps' and 'FilledTextFieldProps'.   Named property 'variant' of types 'StandardTextFieldProps' and 'FilledTextField

[2022-06-17 09:55] oliviertassinari commented on #33081
As far as I know, it's a React 18 compatibility issue. This warning is a symptom (we can mostly ignore it) of the auto height behavior that is not working, I first saw this in #32783.

[2022-06-17 10:11] povilass opened #33195 "[Autocomplete] Tooltip content selection is prevent in usage of tooltip"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Autocomplete prevents text selection in Tooltip in the TextField component directly it works as expected.

![image](https://user-images.githubusercontent.com/8037810/174277630-67008fcd-884d-4993-af35-1027568a23f5.png)

### Expected behavior 🤔

It must allow

[2022-06-17 10:51] narendrasinghrathore commented on #33172
@eggplants you can use styling.
![image](https://user-images.githubusercontent.com/4208015/174284436-e3f8f51f-8ddd-4fb3-8bf2-b0f4db9f9864.png)

[2022-06-17 11:24] rishavpandey43 commented on #32633
@hbjORbj Haven't got any explanation with the issue and this issue is closed.

is this the way, reported issues are replied to?

[2022-06-17 13:05] oliviertassinari commented on #32266
Duplicate of #18269?

[2022-06-17 13:41] joshkel commented on #33173
I apologize if I was unclear; I was talking about static JavaScript properties on the components themselves, not React props passed to the component instances. I put together a CodeSandbox demonstrating this:

https://codesandbox.io/s/mui-name-and-detecting-component-types-ip5fhr

I mentioned isMuiElement as an example of using `.muiName`, rather than something that's directly useful; instead of c

[2022-06-17 13:45] kaykhan opened #33198 "[Autocomplete] Option is no longer available but value is still being rendered"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When available options are removed via filterOptions, the previously selected options should also be removed.

### Expected behavior 🤔

When avaialble options are removed, the previously selected options remain.

### Steps to reproduce 🕹

Steps:

https://co

[2022-06-17 14:15] lucasriondel commented on #33192
It seems to be fixed by using `as CSSInterpolation` as such:

[code]

[2022-06-17 16:41] mc3rvantes opened #33200 "Material UI v5 TextField component causes Jest test to fail"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I recently upgraded from Material UI v4 to v5. It seems there is some kind of incompatibility with my Jest tests since now I get the following error when attempting to render a TextField. The test runs fine if I use the component from MUI v4. The component

[2022-06-17 19:08] gdbroman commented on #27533
In my case, I had to assign a label value to the `Select`'s input component as well...

<img width="411" alt="Screenshot 2022-06-17 at 21 06 13" src="https://user-images.githubusercontent.com/29574724/174387362-15139e45-ad69-49b5-b5f4-400433c7a21a.png">

[2022-06-17 19:47] nnguyen52 opened #33202 "Border styling with MUI5 Dark mode does not working."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

border color doesnt work with dark mode

[code]

### Expected behavior 🤔

expect it to change the color of border of element.

### Steps to reproduce 🕹

Steps:

1. create getDesignTokens function as in [darkmode documentation](https://mui.com/material-ui/cu

[2022-06-17 21:09] ItsTonyDavid commented on #10235
With help of @amakk , my workaround was:

[code]

[2022-06-17 22:34] danielvianna commented on #22485
I've checked Joy and looks insanely good

[2022-06-17 22:37] smmccabe commented on #26767
Is there a reason components that use portals can't just automatically forward the classname? I was debugging a tooltip (uses popper) and it took quite a while to figure out what was going wrong and then find the appropriate docs.

[2022-06-17 22:38] smmccabe commented on #33017
Is this possibly actually just the same issue as noted here? https://github.com/mui/material-ui/issues/33017 The bug is related to portals not to tailwind I think.

[2022-06-17 23:23] danielweil commented on #18106
This is still an issue. I can't find elements with React Testing Library on screen when Backdrop from multiple Select is opened.

[2022-06-18 00:13] younes-alouani commented on #18494
This works perfectly for my case :) !

[2022-06-18 02:25] ealexhaywood commented on #33186
Closing in favor of https://github.com/mui/material-ui/issues/29345.  I'll chime in there with updates if/when I get around to doing anything

[2022-06-18 02:25] #33186 closed

[2022-06-18 03:46] rhacker commented on #33141
+1

[2022-06-18 05:42] rowe-stamy commented on #31244
Sure! So I ended up doing something similar to this:
https://codesandbox.io/s/sleepy-swartz-py56i9?file=/src/GridWrapper.tsx

It's basically a simple wrapper that overrides the padding of the children.

[2022-06-18 11:25] anthonysapien opened #33204 "[icons] Water Drop icon is missing"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

For some reason, the water drop material icon is missing from the set.

Can't resolve '@mui/icons-material/WaterDropRounded'

### Expected behavior 🤔

This icon should be included.

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

[2022-06-18 17:32] zzev commented on #33075
Thank you @michaldudak for the full explanation, it's working now! 😄  And yes, I have to style the InputUnstyled, but that's what I wanted to do from the beginning

[2022-06-18 17:32] #33075 closed

[2022-06-18 21:24] mbrookes commented on #21795
No:

<img width="906" alt="image" src="https://user-images.githubusercontent.com/357702/174457436-410ca50b-7432-4f65-8737-ea8c889f250e.png">

(Although something seems to have gone wrong with the background color.)

[2022-06-19 12:23] RhisiartK commented on #33020
I wanted to show only in specific screen. I'm new in Material UI, so maybe there is another way to do this.

[2022-06-19 12:49] vromaniv-liaison commented on #28826
What is the information that is missing for this ticket to keep moving forward?

[2022-06-19 14:09] pulkitvyas08 commented on #32727
![image](https://user-images.githubusercontent.com/54947769/174485216-2f6c4a97-dcf2-4d55-b158-1ee5479b7073.png)

Facing the same error. None of the solutions here fix this

[2022-06-19 14:58] oliviertassinari commented on #28826
@vromaniv-liaison A step by step reproduction. Codesandbox, screen reader version, etc.

[2022-06-19 15:13] mcqj commented on #29504
Good question - that is very unclear from the docs.

[2022-06-19 15:26] TheWilks commented on #28826
I did have examples created it may be on another issue I had opened. Let me see if I can track it down.

[2022-06-19 15:28] TheWilks commented on #28826
More details here… https://github.com/mui/material-ui/issues/30097

[2022-06-19 16:46] DeLm0re commented on #33173
[code]

This approach is what I was looking for. Even if not all MUI component offer this prop. It will be enough for my usecases I think.

Thanks @joshkel :)

[2022-06-19 16:46] #33173 closed

[2022-06-19 19:00] kyrylolvov commented on #33204
@anthonysapien Are you sure you are looking for an existing icon?

[2022-06-19 19:27] geraldaddey commented on #28574
[mnajdova](https://github.com/mnajdova)

Would like to make this PR. Can you guide me?

[2022-06-19 21:11] Disorrder commented on #18322
@Pradheeep I'm making polls as well, and I'm here to know how other people do :)

[2022-06-19 22:39] emanuella92gomesr opened #33216 "Can material-ui/core 4.12.4 work with React 18?"
I have to upgrade all the libraries that an application uses. However, I read some articles and I found that material-ui/core 4.12.4 does not work with React 18.
Do I have to use the force option or upgrade to v5?

[2022-06-20 00:17] Codex- commented on #20360
Not sure if this is related to this specific issue, seems like it, but the `FormHelperTextProps` also seems to be missing a few standard props like `data-testid`:

![image](https://user-images.githubusercontent.com/8297838/174505858-2788d2d0-6c4f-44a2-a337-f59a49c3157b.png)

If you do a dirty cast the prop works as expected.

[2022-06-20 04:37] skfahad commented on #33072
@mnajdova you see the difference because currently I cannot find the `_app.js` and `_document.js` implementation for MUI 4. The [link](https://github.com/mui/material-ui/blob/master/examples/nextjs/pages/_document.js) you provided is for MUI 5. The example I have provided is referred from some blog and same example I found on few Stackoverflow answers

[2022-06-20 05:07] tmkasun commented on #27241
Hi @eps1lon,

I'm also facing the same layout shifting issue, I have bootstrapped my app using MUI NextJS example, On top of that I have added a color mode switcher (Dark vs Light).

Here is my code https://github.com/tmkasun/me/tree/nextMe
and here is the deployed app https://nextme.vercel.app/

I ran a lighthouse performance test on the above deployment and got the following result
<img width="8

[2022-06-20 05:47] TaisonTsukada opened #33219 "[Drawer] When a Select component is placed inside a Drawer component, the behavior is not correct."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello.
I want to use the Select component inside a Drawer component, but it does not behave well.
When I select a value in Select, the Drawer is closed.

https://user-images.githubusercontent.com/78004609/174533294-bb173d23-f346-4a99-a782-8f1014ab2cbc.mp4

[2022-06-20 06:52] nichita-pasecinic commented on #23409
@oliviertassinari so the solution would be adding a custom component to inside `TableBody` ?
wouldn't we then get a DOM validation error that we can not have a `div` inside `table` tag ?

[2022-06-20 07:04] siamahnaf198 opened #33220 "I found little bug when I try to use Breakpoints in separate style file and use them in sx Props in typescript?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am creating a webpage using `mui` and and `nextjs` with `typescript`. Here I create two separate folder for using mui.

That's why I create a Styles folder-

`Single.styles.ts` Here I defin my all styles-

[code]

And then I import it in my component I us

[2022-06-20 07:20] Dark4545 opened #33221 "Change of dropDown icon to chevron up and chevron down icon whith white color"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I need the chevron up and chevron down icon in the select with white color and also how i'm able to style the chevron up icon because i'm not able to get their class from inspect element

![image](https://user-images.githubusercontent.com/107837505/174546402-b8e1c47

[2022-06-20 07:59] #32518 closed

[2022-06-20 08:08] PrimulaX opened #33222 "Styled components as styled engine in CRA app with craco and react scripts 5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using `styled-components` as styled engine which needs alias and `craco` is used to override `webpack` configs which only supports `react-script 4*` (plus `craco-alias` plugin is already deprecated), meanwhile I need to update `react-scripts`, can I use

[2022-06-20 08:10] siriwatknp commented on #29504
`useTheme` is still valid.

[code]

I will update the docs for more clarity.

[2022-06-20 08:40] siriwatknp commented on #32903
I recommend not using CSS `scale(0.x)` when the label shrinks. This is because the outlined input contains a hidden label to reserve the space when the actual label shrinks. Instead, uses `font-size` to control the size of the label and applies to the `fieldset` as well.

Here is an example: https://codesandbox.io/s/basictextfields-material-demo-forked-16wqj1?file=/demo.tsx

The hidden label is in

[2022-06-20 08:40] #32903 closed

[2022-06-20 08:42] flying-sheep commented on #507
@oliviertassinari is there anything upcoming in mui that does this? You don’t seem to be maintaining [oliviertassinari/react-swipeable-views](https://github.com/oliviertassinari/react-swipeable-views) anymore.

[2022-06-20 08:42] #33221 closed

[2022-06-20 08:48] mnajdova commented on #33220
Here is one example of how I would do it - https://codesandbox.io/s/basicselect-demo-material-ui-forked-0c9l1j?file=/styles.ts I don't have your whole code so I cannot say what's wrong, but this should be a great start and give you on idea of how you can do it.

[2022-06-20 08:49] #33220 closed

[2022-06-20 08:50] mnajdova commented on #33204
This icon didn't exists in v4 and it don't exists in v5. Here are some alternatives you can use - https://mui.com/material-ui/material-icons/?query=water+drop

[2022-06-20 08:54] mnajdova commented on #33202
This is not supported API. You can use the `borderRightColor` to set the color using a theme token directly. See https://codesandbox.io/s/basicselect-demo-material-ui-forked-e6s6si?file=/demo.tsx

[2022-06-20 08:54] #33202 closed

[2022-06-20 08:57] siriwatknp commented on #32893
I guess this issue is either related to `react18` or `emotion`.

It works in react 17: https://codesandbox.io/s/nameless-hooks-nc89ru?file=/src/Demo.tsx.

@Andarist Sorry for tagging you but I think you can shed some light for us on this.

[2022-06-20 09:05] PrimulaX opened #46708 "Styled components as styled engine in CRA app with craco and react scripts 5"
### Duplicates

- [X] I have searched the existing issues

### Current behavior 😯

I'm using `styled-components` as styled engine which needs alias and `craco` is used to override `webpack` configs which only supports `react-script 4*` (plus `craco-alias` plugin is already deprecated), meanwhile I need to update `react-scripts`, can I use `styled-components` as styled engine without `craco`?

###

[2022-06-20 09:06] #33219 closed

[2022-06-20 09:08] mnajdova commented on #33200
Can you please set up an example repro with the failing tests. It is not clear what could cause the issue with the test just from seeing the description of the issue.

[2022-06-20 09:10] siriwatknp commented on #32877
I would wait for upvotes in this case because other projects might not want to have `stroke: currentColor`.

If you want to apply it globally, you can do it via the theme:

[code]

[2022-06-20 09:11] #32876 closed

[2022-06-20 09:14] siriwatknp commented on #32875
<img width="415" alt="Screen Shot 2565-06-20 at 16 14 03" src="https://user-images.githubusercontent.com/18292247/174568468-134866c7-865e-41fb-b701-dd4bee20d388.png">

What do you mean by "is not work"? Please explain more in detail.

[2022-06-20 09:32] HasinaNjaratin opened #33223 "Palette color customization does not work on some components"
Here is my code:
[code]

the color is applied on the button but not on the box component

[2022-06-20 09:34] Andarist commented on #32893
It's basically a "duplicate" of this issue: https://github.com/emotion-js/emotion/issues/2691

[2022-06-20 09:39] #32645 closed

[2022-06-20 09:40] mnajdova commented on #33195
Agree, it is not expected that it works differently between the text field and the autocomplete. If someone wants to dive deeper into this, I can help out. I would start looking into the pointer events first.

[2022-06-20 09:43] mnajdova commented on #33194
Can you expand on this? When it is not being correctly rendered, and what means correctly rendered? I agree that the component should probably render only one div, I am just trying to understand what the problem is so that we can prioritize it accordingly.

[2022-06-20 09:44] mnajdova commented on #33192
Please create a codesandbox using TypeScript and share a link where we can see the reproduction. Thanks!

[2022-06-20 09:47] mnajdova commented on #33017
@smmccabe you linked the same issue, could you double check which issue you wanted to link here? :)

[2022-06-20 09:48] siriwatknp commented on #32640
I think the fix could be very simple, just return if there is no input html.

[code]

[2022-06-20 09:50] mnajdova commented on #32916
You can follow this guide for setting up Material UI & Tailwind CSS - https://mui.com/material-ui/guides/interoperability/#tailwind-css or start from the example project - https://github.com/mui/material-ui/tree/master/examples/tailwind-css

If it is related to the porstals, this is probably more relevant issue - https://github.com/mui/material-ui/issues/33017

[2022-06-20 09:50] #32916 closed

[2022-06-20 09:54] hadiwehbi opened #33224 "Running docker, react 18, and mui/core"
### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When trying to run "docker-compose up --build"  in my project I get the next error, knowing that I have installed mui locally using "--legacy-peer-deps"

Note: I have the last npm version 8.12.2 installed

[code]
[code]

[2022-06-20 09:55] VladSn opened #33225 "Material UI v5 and React 18: CSS is not injected on the server side"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using React 18, MUI v5 and next 12 causing the problem with css injection on the server side, do the page will blink.
![2022-06-20-5 50 37](https://user-images.githubusercontent.com/21108701/174576622-625c45c8-b65c-4a40-b4a3-ff4a91562b22.gif)

### Expected

[2022-06-20 10:12] mnajdova commented on #33165
Thanks for the report, I suppose this diff would solve the issue and help with using unique names for the types:

[code]

Would anyone want to create a PR and verify that the fix is working?

[2022-06-20 10:13] mnajdova commented on #33166
Please share a repository with a reproduction where we can see the issue.

[2022-06-20 10:15] mnajdova commented on #33167
Duplicate of https://github.com/mui/material-ui/issues/28820

[2022-06-20 10:15] #33167 closed

[2022-06-20 11:32] raskyer commented on #33225
(I confirm, I have the same issue)

[code]

And follow along : https://github.com/mui/material-ui/tree/HEAD/examples/nextjs-with-typescript

[2022-06-20 12:01] amx93 commented on #33225
try version
`"next": "12.1.5",`

[2022-06-20 12:30] povilass commented on #33194
@mnajdova ye probably you are right, I registered a couple of issues with https://github.com/mui/material-ui/issues/33190 and https://github.com/mui/material-ui/issues/33195. I think those all relate to this one.

[2022-06-20 12:45] robcaldecott commented on #33225
This is a Next issue and will be fixed in 12.1.7

[2022-06-20 12:49] raskyer commented on #33225
Do you have an issue related to this in Next ? Thanks !

[2022-06-20 12:57] raskyer commented on #33225
Thank you @robcaldecott.
Since it's not an issue with Material, I think we can close this one @VladSn

[2022-06-20 14:13] jooohyun commented on #33165
Hmmm... I have created react project using vite.js (NOT create-react-app).
and I write the below code
[code]

BUT, there are no error.

[2022-06-20 14:25] jadus commented on #32375
![Peek 20-06-2022 16-18](https://user-images.githubusercontent.com/1061454/174623258-b55cd602-5ad0-4929-8540-952da7640c5a.gif)

I don't think you can do this now.
source : https://material.io/components/text-fields

[2022-06-20 14:29] mnajdova commented on #33165
@jooohyun you are right, I can't repro - https://codesandbox.io/s/charming-colden-qgvwx5?file=/src/App.tsx

[2022-06-20 14:31] rejetto commented on #33165
I'm using CRA

[2022-06-20 14:49] mnajdova commented on #33165
@rejetto please share a codesandbox with a reproduction

[2022-06-20 15:52] rejetto commented on #33165
Sorry, I didn't notice I was quite inaccurate.
My use case is a monorepo, containing a CRA app, but the problem is inside a lib that's actually built simply by `tsc`.

So this is where I hade to force the type
https://github.com/rejetto/hfs/blob/208df4891044728fa4de94e05492fe996227135e/mui-grid-form/src/StringStringField.ts#L93

And these are related configurations
https://github.com/rejetto/hfs/b

[2022-06-20 16:05] kristijorgji opened #33228 "Use more than `primary` and `secondary` colors when using typescript"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

[code]

### Summary 💡

https://mui.com/material-ui/customization/theming/
I am creating custom material ui theme as documented above and works correctly for `primary` and `secondary` palette colors.

My issue and therefore this post is because I need more than two colors and I can

[2022-06-20 16:20] jake-collibra opened #33229 "[Avatar] Add ability to change fallback icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The fallback icon used for Avatar is hard-coded to be the MUI Person icon. This should be configurable through props for MUI consumers using a different icon library.

### Examples 🌈

Pagination exposes a `components` prop that lets consumers specify `first`, `last`

[2022-06-20 16:28] jake-collibra opened #33230 "[Alert] Add ability to change default icon rendered when `onClose` is provided"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The icon for the close IconButton when `onClose` is provided to Alert is hard-coded to be the MUI Close icon. This should be configurable through props for MUI consumers using a different icon library.

### Examples 🌈

Pagination exposes a `components` prop that let

[2022-06-20 16:34] katherinedavenia commented on #27154
Thanks @totszwai . I faced the same problem and your solution works. I need to wrap the children with a `div` tag.

[2022-06-20 16:36] jake-collibra opened #33231 "[TablePagination] Add ability to change icons used in TablePaginationActions"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The First, Previous, Next, and Last icons are all hard-coded to be MUI icons. These should be configurable through props for MUI consumers using a different icon library.

### Examples 🌈

Pagination exposes a `components` prop that lets consumers specify `first`, `l

[2022-06-20 16:41] smmccabe commented on #33017
Clearly not at my best on a Friday, https://github.com/mui/material-ui/issues/26767

[2022-06-20 16:42] jake-collibra opened #33232 "[Breadcrumbs] Add ability to change icon used in BreadcrumbCollapsed"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The icon used for BreadcrumbCollapse is hard-coded to be the MUI MoreHorizon icon. This should be configurable through props for MUI consumers using a different icon library.

### Examples 🌈

Pagination exposes a `components` prop that lets consumers specify `first`

[2022-06-20 16:50] jake-collibra opened #33233 "[Autocomplete] Add `popupIndicator` to `componentsProps` object"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The Autocomplete prop `componentsProps` can be used to add props to `clearIndicator` but not `popupIndicator`. This should be added to the object to allow for consistency when overriding styles.

### Examples 🌈

Implementation should be identical to `clearIndicator`

[2022-06-20 16:56] arpitdalal commented on #31140
See this [commnet](https://github.com/mui/material-ui/issues/31835#issuecomment-1160665906) for concise findings of this issue and a couple of temporary workarounds.

[2022-06-20 16:56] jake-collibra opened #33234 "[Autocomplete] Add `popper` to `componentsProps` object"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The Autocomplete prop `componentsProps` does not include `popper`. This should be added to the object to allow consumers to customize popper behavior.

### Examples 🌈

Implementation should be identical to `paper` props override.

### Motivation 🔦

We are using MUI

[2022-06-20 17:01] jake-collibra opened #33235 "[TabScrollButton] Add ability to change left and right icons"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The left and right icons are both hard-coded to be MUI icons. These should be configurable through props for MUI consumers using a different icon library.

### Examples 🌈

Pagination exposes a `components` prop that lets consumers specify `first`, `last`, `next`, an

[2022-06-20 17:02] mgan59 commented on #22485
Getting caught up with the thread and like the direction of __Joy__ and in general the approach being adopted here in supporting templates 👍🏻 -- I manage several material UI projects each with custom templating and appreciate efforts to consolidate on inner-operability and abstractions.

[2022-06-20 17:51] mc3rvantes commented on #33200
Ok I think I have a better idea about what is causing this issue now, which is related to some custom code I have.  I have this spy that overrides the implementation for retrieving the value of a CRSF token, and seems like that is conflicting another part of the code from one of the libraries.

jest.spyOn(document, 'querySelector')...

Sorry to waste your time but appreciate your response!

[2022-06-20 20:04] mccannk opened #33237 "Focus lost when opening a dialog from a menu using the keyboard"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using a keyboard, opening up a dialog from the menu and then closing it , the focus returns to the top of the page and doesn't remain on the menu

### Expected behavior 🤔

Using a keyboard, opening up a dialog from the menu and then close it, the focus rema

[2022-06-20 22:17] 123joshuawu commented on #33195
I can take a look! Just wondering, is there a way to create a test for this behavior?

[2022-06-21 01:08] #33191 closed, assigned to siriwatknp

[2022-06-21 01:12] siriwatknp commented on #33190
Why does it "should not be shown on label hover"?

[2022-06-21 01:21] siriwatknp commented on #33188
Long story short, the decorator classes (eg. `containedSuccess`) won't scale in long term.

In v5 and the future, if you want to style based on props, apply a callback at the slot instead.

[code]

More details, visit https://mui.com/material-ui/customization/theme-components/#overrides-based-on-props

[2022-06-21 01:21] #33188 closed

[2022-06-21 01:38] siriwatknp commented on #33182
@michaldudak Would `focusableWhenDisabled` solve this use case?

[2022-06-21 02:06] siriwatknp commented on #33179
You almost got it right, you have to increase the CSS specificity.

[code]

https://codesandbox.io/s/upbeat-tdd-zr4e1e?file=/src/App.tsx

[2022-06-21 02:06] #33179 closed

[2022-06-21 02:28] anthonysapien commented on #33204
Hi, thanks for responding. I'm looking for this icon: https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Awater_drop%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048

[2022-06-21 02:30] anthonysapien commented on #33204
I see it's part of something called Material Symbols vs. Material Icons.

[2022-06-21 03:25] #33225 closed, assigned to nobody

[2022-06-21 04:56] kkalvako commented on #31960
I face the same issue. @michaldudak here is a codesandbox link in case it helps.

[https://codesandbox.io/s/material-demo-forked-tlu40e?file=/demo.js](https://codesandbox.io/s/material-demo-forked-tlu40e?file=/demo.js)

[2022-06-21 06:50] mnajdova commented on #33165
Sorry, but this is not enough info for us to look into. Please re-open the issue when there is a reproduction that we can look into.

[2022-06-21 07:01] mnajdova commented on #33229
Take a look at https://mui.com/material-ui/react-avatar/#fallbacks. You can basically provide the fallback with either `children`, the first letter of the alt, or use the default. This gives you enough flexibility for all three scenarios

[2022-06-21 07:01] #33229 closed

[2022-06-21 07:03] mnajdova commented on #33230
Looks like we can add the `components` & `componentsProps` API here to allow people to override all slots available.

[2022-06-21 07:04] mnajdova commented on #33231
Looks like we can add the `components` & `componentsProps` API here to allow people to override all slots available.

[2022-06-21 07:05] mnajdova commented on #33231
If this is a blocker you can create a custom `TablePaginationAction` component and adjust it to your needs.

[2022-06-21 07:10] siriwatknp commented on #32049
@ceopaludetto Thanks for the feedback. Can you explain a bit more about your use case? Providing a minimal CodeSandbox would be great!

[2022-06-21 08:10] divs94 commented on #19961
Hello hope you doing well. i am also having the same issue with popover getting 'padding-right:17px' to body after clicking on <select/> .
Is there any resolution you've got??

[2022-06-21 08:42] rejetto commented on #33165
Sure!

I discovered the error disappears on my side when I disable `declaration` in my `tsconfig.json`.
This way I was able to give you this: https://codesandbox.io/s/dry-shadow-x950wv?file=/src/App.tsx
It may take a while before the problem appears, so I'm adding also a screenshot, just in case
![image](https://user-images.githubusercontent.com/1367199/174753982-3d773c80-dab7-4dcb-9663-df819668ba

[2022-06-21 08:46] michaldudak commented on #33144
When the Autocomplete is in free solo mode, the `renderInput` and `onChange` treat the value as `T | string`. It's because users can not only select a value for a list (which is of type T) but also enter a value in a textbox (which is a string).

In your example, the Autocomplete is in an inconsistent state. The type parameters you set don't match the props. You usually should not need to set type

[2022-06-21 08:57] mnajdova commented on #33232
Looks like we can add the `components` & `componentsProps` API here to allow people to override all slots available.

[2022-06-21 08:58] mnajdova commented on #33233
Sounds great, would you like to create a PR for it?

[2022-06-21 08:58] mnajdova commented on #33234
Would you be up to creating a PR for it? :)

[2022-06-21 09:04] Himanshudabhi34 commented on #9313
How to write float value in TextField as input in material ui component for multiple input field ??

[2022-06-21 09:29] ninpeng opened #33239 "useAutocomplete.d.ts does not included disabled & readOnly property"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://github.com/mui/material-ui/blob/master/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js#L75
https://github.com/mui/material-ui/blob/master/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js#L104

useAutocomplete has disabled

[2022-06-21 09:37] floklein commented on #32876
Thanks indeed I was answered on the emotion Slack!

[2022-06-21 10:31] povilass commented on #33190
Probably you are right maybe hover is ok. Most autocomplete clearable works when "value exists" and it stays always check examples https://react-select.com/home .
My case can be described when I reworked the label to be inline input.
![image](https://user-images.githubusercontent.com/8037810/174776576-6a661da4-5eef-4247-aeba-b62972a600fb.png)

I am not using TextFIeld but I created something simil

[2022-06-21 11:37] anthonysapien commented on #33204
Never mind. I see it here as well: https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Awater_drop%3A

[2022-06-21 11:42] #46708 closed, assigned to nobody

[2022-06-21 13:17] rart commented on #32881
@ryancogswell,

We already migrated, but that's a great addition 👏

Because the migration was done some weeks ago, I've now forgotten some of the struggles or some details. But here's what I remember:

1. We were on `mui/styles` instead of `@material-ui/styles` (already covered, as you mentioned)
[code]

2. We had this pattern in many places:
[code]
Notice how the rule is a function that receives

[2022-06-21 14:39] LvChengbin opened #33242 "Don's mutate the theme object in ThemeProvider."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

ThemeProvider try adding a property `Symbol( mui.nested )` to the original theme object.

https://github.com/mui/material-ui/blob/7c75acec84879d013ae8e68ff319baf9fef1045e/packages/mui-private-theming/src/ThemeProvider/ThemeProvider.js#L58

It causes error w

[2022-06-21 14:48] mnajdova commented on #33228
Looks like you are using the v4, but are referring to the v5 docs. This is the docs related to what is supported in v4 - https://v4.mui.com/

The feature you link is available in v5. See this codesandbox as an example: https://codesandbox.io/s/circularcolor-demo-material-ui-forked-emblvw?file=/demo.tsx

More info on TypeScript can be found on - https://mui.com/material-ui/customization/theming/#cu

[2022-06-21 17:37] achendrick commented on #33165
@rejetto is exactly right. You will not see this error if you don't also update your `tsconfig.json` to have `"declaration": true`

All that would need to be done to address this issue would be `export interface RegularBreakpoints`

[2022-06-21 18:11] sforehand opened #33245 "[Mui-Drawer] When a temporary drawer is open, aria-hidden="true" is added to root DOM object causing accessibility verification errors"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently, when opening a temporary MUI drawer, an attribute of aria-hidden="true" is added to the root DOM object.  This causes accessibility verification using the AXE tool to fail with the following error:

`ARIA hidden element must not be focusable or c

[2022-06-21 23:20] ceopaludetto commented on #32049
@siriwatknp
So, my idea is to provide a prop in `CssVarsProvider` which changes the css var injection in :root. If user chooses "data-attribute", the injection will be:
[code]

But if he chooses "media", the injection will be:
[code]

In second option, he loss the ability to dynamic change the theme based on user preference inside the application, but he can use without calling `getInitColorScheme

[2022-06-22 00:51] totszwai opened #33246 "Mui Chip missing colorError in chipClasses.d.ts"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

tslint error when trying to `styleOverrides` on `colorError`, example

[code]

<img width="378" alt="image" src="https://user-images.githubusercontent.com/4440365/174919805-9f5dc583-3b85-49ce-8714-89227c7f777e.png">

### Expected behavior 🤔

Be able to styl

[2022-06-22 01:01] siriwatknp commented on #32049
@ceopaludetto  Got it, yeah it is not possible at this point. Would you mind creating a new issue? I can work on it.

[2022-06-22 03:16] ZhangDongling commented on #11561
I found this will work and no warnings in Chrome console:
[code]

That is, use `react-dom` to `createPortal`, and use `react-dom/client` to `creatRoot`.

[2022-06-22 03:17] ceopaludetto commented on #32049
Of course not, thanks for listening, i'll open later

[2022-06-22 03:50] pvijeh opened #33247 "Global styles doesn't work in next.js"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

global styles, like this https://mui.com/material-ui/api/global-styles/

doesn't work in nextjs.

### Expected behavior 🤔

it should work.

### Steps to reproduce 🕹

Steps:

1. like this https://mui.com/material-ui/api/global-styles/, in nextjs
2.
3.
4.

##

[2022-06-22 05:00] Nefcanto opened #33248 "More examples of localization for date pickers"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

As a user who wants to use `DatePicker` I need to see more examples and clearer explanations.

For example, I want to use **hijri** calendar, but I don't want to use `moment.js` because it's an old library with old design and their official recommendation is that we

[2022-06-22 06:07] alansouzati commented on #5750
How about setting `overflow: hidden` for everything that is `aria-hidden: true` while the dialog is open? this fixes the issue on my end, and I think it would be nice to solve this in the meantime in MUI. It looks like MUI is already putting `aria-hidden` in these elements.

In the meantime here is what Ive done:

[code]

[2022-06-22 06:42] alansouzati commented on #5750
This [PR](https://github.com/mui/material-ui/pull/33250) adds the workaround that fixes the Safari bug 🙏

[2022-06-22 07:39] sarvesh-codeprism commented on #31261
Worked for me.

[2022-06-22 08:10] #33092 closed

[2022-06-22 08:34] vikvorona opened #33251 "[TreeItem] TreeItem shows expand icon if children is multiple empty arrays"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://github.com/mui/material-ui/blob/a2d3a00e7502f2c66e85f61d1ecab9a569bce6ea/packages/mui-lab/src/TreeItem/TreeItem.js#L187

In my scenario expandable is true because children are `[[], []]`;
As result the expand icon is shown, but TreeItem does not hav

[2022-06-22 08:59] kristijorgji commented on #33228
Thanks, where can I find the npm for version 5 ?
I upgraded to latest with yarn and I got     "@material-ui/core": "^4.12.4",
 instead of version 5...

[2022-06-22 10:04] xanben opened #33252 "MUI [Checkbox] component - attribute 'checked' is displayed all time in HTML if element is checked or not."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

For Controlled CheckBox, after component is rendered, in <input> attribute 'checked' is displayed if component is checked or not.

### Expected behavior 🤔

When CheckBox is not checked - in <input> attribute 'checked' should not be displayed.

### Steps to

[2022-06-22 11:11] mnajdova commented on #32689
Duplicate of https://github.com/mui/material-ui/issues/33081

[2022-06-22 11:54] ImCheesecake opened #33255 "[ListItemText] primaryTypographyProps doesn't include variantMapping"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

While using ListItemText and providing a variant to `primaryTypographyProps ` it defaults to a span. And since there's an issue with using `component` if you create your [custom components](https://mui.com/material-ui/guides/typescript/#complications-with-t

[2022-06-22 12:27] oliviertassinari commented on #32942
From my perspective, it's a support question. We document this here: https://mui.com/material-ui/react-link/

<img width="781" alt="Screenshot 2022-06-22 at 14 27 17" src="https://user-images.githubusercontent.com/3165635/175028719-e9415a79-fbea-48a0-9d87-9674e1961f89.png">

It was designed so the correct approach is:

[code]

[2022-06-22 12:30] oliviertassinari commented on #32942
However, there is a broader question (not directly surfaced in this issue), we say variant: "inherit", but it doesn't truly inherit:

[code]

<img width="271" alt="Screenshot 2022-06-22 at 14 30 25" src="https://user-images.githubusercontent.com/3165635/175029320-99edfffa-01fd-47a2-84fc-43e306a1bd32.png">

https://codesandbox.io/s/xenodochial-stitch-wpjcqk?file=/src/Demo.tsx

[2022-06-22 14:17] neelbrahmakshatriya commented on #33141
+1

[2022-06-22 14:55] alexkyle98 commented on #19450
Also experiencing this issue when testing a Popover component in testing library which uses the disablePortal prop. A fix would be great.

[2022-06-22 15:35] davidgarciab commented on #28624
As this hasn't moved for some time, I have taken the freedom to create a PR https://github.com/mui/material-ui/pull/33257 to add the synonyms and to increase the number of search results, so new synonyms can also be visible.

Please, kindly take a loot.
Thanks

[2022-06-22 17:16] leonardopn commented on #31409
Same problem here with LoadingButton. I'm not sure why this happens, but I have a boolean-type state and when executing a function it sets this value to true and when finished, sets it to false. I use this to determine if loading should appear. Whenever this state is changed, the error reported in the issue occurs.

[2022-06-22 18:00] Osman-Sodefa opened #33258 "[Autocomplete] Add additional class names to Autocomplete if it is expanded"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

We'd like to introduce ~~3~~ an additional CSS "state"-classes to the Autocomplete component:

- `MuiAutocomplete-expanded` if the `Popper` is displayed (even if it just displays the "No Options"
- ~~`MuiAutocomplete-expanded-top` if the `Popper` is displayed above

[2022-06-22 18:23] ZakAlbert commented on #29345
Hello everyone.

I share with you my own implementation of the Material You theme in MUI using the createTheme function and the official google [Material Color Utilities](https://github.com/material-foundation/material-color-utilities/tree/main/typescript) library to generate the dynamic theme.

[Project Repo](https://github.com/ZakAlbert/react-material-you-theme)

I hope it is useful to you.

##

[2022-06-22 18:38] JLaferri opened #33259 "[ButtonGroup] Split Button with href does not style correctly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/1534726/175111019-d4125c9f-23a5-4ae0-901b-c287d6ec50f9.png)

### Expected behavior 🤔

![image](https://user-images.githubusercontent.com/1534726/175110924-d716c0e7-989d-48af-a652-925e1e7ae4b1.png)

### Step

[2022-06-22 19:18] jake-collibra commented on #33229
I don't think this completely covers what I'm asking for - the fallbacks documentation referenced says the following:

By providing our icon in `children` it will never fall back to the first letter of the alt text. I'll accept this as "closed/won't fix" and continue to document the difference in behavior on our end.

[2022-06-22 21:32] alansouzati commented on #5750
I stand corrected. this fixes the problem but losses scroll position. im trying another work around.

[2022-06-22 23:23] theKashey commented on #5750
There one more fix which can help for the majority of cases - [inert](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/inert) which is coming to a full support (only Firefox is one little behind)

[2022-06-23 00:11] alansouzati commented on #5750
[code]

[2022-06-23 00:29] #32049 closed

[2022-06-23 01:55] samuelsycamore opened #33260 "[Base] Slot class names are inconsistent"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

As I've been documenting the component slots and their classes in the MUI Base docs (#33156), I've noticed that the format for class names is inconsistent across the components. Variations on the theme include:

- `MuiOptionUnstyled-root` https://mui.com/ba

[2022-06-23 05:22] JohnnyRacer opened #33262 "Cannot set the text value for TextField inside a AutoComplete component."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

### Expected behavior 🤔

The value of the TextField input is not updated through the ref like usual. On a regular TextField input the same ref setup will result in the value of the text being updated to the version filtered by the regex.

### Steps

[2022-06-23 05:44] Absleepy commented on #9313
@Himanshudabhi34  Can you Please provide more details? What do you mean by float value in textfield?

[2022-06-23 06:15] #31796 closed

[2022-06-23 06:31] seungwoohong opened #33263 "[Autocomplete][Textfield] InputProps.inputProps isn't able to override."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

An error 'Cannot read properties of null' has occurred on click autocomplete.

[code]

[Codesandbox](https://codesandbox.io/s/countryselect-demo-material-ui-forked-06hg06?file=/demo.tsx:231-1247)

[code]

[Link](https://github.com/mui/material-ui/blob/cb744

[2022-06-23 06:37] nichita-pasecinic commented on #11749
Is it possible though to have a swipeable (from bottom) drawer inside a fixed width and height container ?
Basically the drawer should be triggered from bottom and it should not hover nor footer nor header and actionable only from page content.

[2022-06-23 07:00] cabutler10 opened #33264 "TextField cursor doesn't stay at end of text on mobile"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the text field on mobile, the focus changes every time the user hits the spacebar and so the text moves around a lot and the user cannot see the end of the text given to the input. Please see attached video of the MUI webpage on a Google Pixel 3.

[2022-06-23 07:10] ZeeshanTamboli commented on #32926
@opsidao It was crashing because it couldn't find the `contrastText` token in the color palette. For default palettes, the `contrastText` if omitted in the palette gets calculated from `main`, but for custom colors we wouldn't calculate to avoid run-time styles and also support CSS variables.

Thus we decided to update the docs instead to mention that all tokens should be provided if you want to u

[2022-06-23 07:13] #32926 closed

[2022-06-23 07:14] Rizzwaan commented on #27149
facing in mUI 5, only in some places

[2022-06-23 07:30] opsidao commented on #32926
Thanks a lot for looking into this @ZeeshanTamboli. @mnajdova, @siriwatknp and @danilo-leal ❤️

[2022-06-23 08:15] Shubhamchinda commented on #33054
@geraldaddey Give me a day, and I'll submit a PR.

[2022-06-23 08:49] #33081 closed

[2022-06-23 09:11] michaldudak commented on #33260
Thanks for reporting this. AFAIK we settled on `BaseComponentName`, so we'll have to update the other ones. `MuiBaseComponentName` is also OK, but the former is a bit shorter and it's pretty clear as well.

[2022-06-23 09:22] MukeZ commented on #21250
Same here, I use official example, It always calls twice when I switch tabs.

[2022-06-23 09:29] JamesAsuraA93 commented on #13570
Thanks man you made my day works!! So beatify

[2022-06-23 09:41] #31982 closed

[2022-06-23 10:38] Mario-Eis opened #33268 "MenuItems as Link break keyboard input"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The issue of using menu items as router links or anchors was already discussed here: https://github.com/mui/material-ui/issues/204. But all the suggested solutions will break the keyboard navigation of the menu list.

### Expected behavior 🤔

When a menu li

[2022-06-23 12:09] jonatasdaniel commented on #27149
I found the issue: I still was using libraries from MUI4 along with some MUI5. Following this step solve the issue to me:
https://mui.com/material-ui/migration/migration-v4/#replace-all-imports

[2022-06-23 12:11] #33150 closed

[2022-06-23 12:31] ianpaschal commented on #29727
I'm currently struggling with this. I'm going to use this comment box as a rubber duck and maybe someone can explain what I'm doing wrong.

So... This error has made me realize I don't entirely get what the point of the `value` field is anyway. As I understand it, the autocomplete component is essentially a text input and a select welded together. The `onChange` handler fires when the user clicks

[2022-06-23 12:48] socramm9 commented on #33247
It works I use it.

You should provide a Codesanbox to demonstrate it not working

[2022-06-23 13:19] Donhv commented on #27846
did you fix this issue? i have same when deploying to Jenkin

[2022-06-23 13:27] mnajdova commented on #33268
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-06-23 13:30] mnajdova commented on #33264
Looks like a strange behavior for sure, thanks for reporting, we will look into it soon.

[2022-06-23 13:36] mnajdova commented on #33263
I apologize but I don't really understand what is the issue you are reporting. Here is a working example - https://codesandbox.io/s/countryselect-demo-material-ui-forked-n7v8ke?file=/demo.tsx

[2022-06-23 13:37] samuelsycamore commented on #33260
Cool, that naming pattern works for me! 👍

[2022-06-23 13:38] ianpaschal commented on #29727
I forked the controlled input example from the documentation and tweaked it slightly, working towards what I was actually building (albeit not for Harry Potter characters).

[Link](https://codesandbox.io/s/controllablestates-demo-material-ui-forked-bqpec3?file=/demo.tsx)

Although the warning does not show up, there is a lot of questionable UX going on. You will notice the behavior where you delet

[2022-06-23 13:41] Mario-Eis commented on #33268
Here is a sandbox link: https://codesandbox.io/s/relaxed-hamilton-51wx2m?file=/src/App.tsx

In one example, the markup is correct, but selection is broken. And another example with working keyboard selection but broken markup.

[2022-06-23 14:06] alex-oleksiiuk opened #33271 "Menu component jumps on window resize"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

**How it could work** Open menu could smoothly change its position on window resize like every other component + it could stick to its parent no only horizontally, but also vertically
**How it works now** It snaps into a new horizontal position once resizing is paus

[2022-06-23 18:51] markedwards opened #33274 "ReactSwipeableView is resulting in errors with react 18"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

SwipeableDrawer is resulting in the following console error in react 18:
[code]

There is a related issue [here](https://github.com/oliviertassinari/react-swipeable-views/issues/659), but it is getting no traction so far.

### Expected behavior 🤔

No error

[2022-06-23 19:49] Rafcin opened #33275 "Can't use Joy and Material UI together"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello. I'm currently trying out and working on migrating parts of my project to the new vars system, and I setup the experimental CssVarsProvider from the standard Mui Package, and at the same time I've loaded Joy to try to utilize the new Aspect Ratio and

[2022-06-23 19:56] Rafcin commented on #33275
I was slightly mistaken it seems, CSSVars from Joy and from experimental are different.

[2022-06-24 00:41] seungwoohong commented on #33263
I apologize for the lack of my explanation

Example code
[code]

After inserting InputProps into inputProps, clicking the input makes error as below

![Screen Shot 2022-06-24 at 9 38 25 AM](https://user-images.githubusercontent.com/25470245/175437492-744ad67b-034b-4669-b62d-d99a7402eded.png)

[2022-06-24 04:58] hoangtrung99 commented on #21250
@ievgennaida @MukeZ
What version of React are you using?
Is the problem related to [New Strict Mode Behaviors](https://reactjs.org/blog/2022/03/29/react-v18.html#new-strict-mode-behaviors) in React 18?

[2022-06-24 05:12] MukeZ commented on #21250
@hoangtrung99
Yes I'm using React 18, It only renders once when I remove ` <React.StrictMode>`.
And it renders twice when StrictMode on.

[2022-06-24 05:14] PunitSoniME commented on #33268
@Mario-Eis

Your issue can be fixed by simple solution,

In your above example, remove **li** tag from first example, and set **href** values with protocols like **https://** or **http://**

It will work fine.

try below is the solution
`<MenuList>
          <MenuItem component="a" href="https://www.google.com" target="_blank">
            Press Enter Key to open the link in a new tab
          </

[2022-06-24 07:37] mnajdova opened #33276 "[Tabs] Components crashed when used with React 18 & Suspense"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When used together with Suspense, it crashes when Suspense is showing fallback, as the refs' current is null. It is similar to https://github.com/mui/material-ui/issues/32640

Codesandbox: https://codesandbox.io/s/awesome-moore-y9zl1o?file=/src/app.js

###

[2022-06-24 08:42] #33276 closed

[2022-06-24 08:43] #32640 closed

[2022-06-24 09:02] ievgennaida commented on #21250
It's a strict mode of react is causing this.

[2022-06-24 09:45] mnajdova commented on #33275
Correct. The `CssVarsProvider` from @mui/material is there to allow you to add a CSS variables support in the @mui/material's components.

The one from Joy has a different theme shape and a bit different strategy for creating variants etc. @siriwatknp can provide more detailed answer here :)

Anyway, thanks for trying out the new package, any feedback we receive is very well appreciated 🙏

[2022-06-24 10:01] mnajdova commented on #33271
Thanks for the issue, the `Menu` component uses the `Popover` under the hood, so I've marked the issue as related to the `Popover`. The `Popper` doesn't seem to have this issue.

[2022-06-24 10:03] mnajdova commented on #33247
Tip: check some of the examples we provide to see how to configure the project using nextjs - https://mui.com/material-ui/getting-started/example-projects/#main-content

[2022-06-24 10:05] markedwards commented on #33274
Why is this the wrong repository for this issue?  `react-swipeable-views` is a dependency of MUI.  If that component is not working, and will not be updated, then MUI has to switch to use a different dependency, no?

[2022-06-24 10:12] jagribble commented on #32074
@michaldudak is there plans to enable React 18 with @material-ui/core v4?

[2022-06-24 10:14] fahadashiq12 commented on #32074
For now I guess only React 18 compatible with MUI v5.x..

[2022-06-24 10:16] michaldudak commented on #32074
@jagribble no, we don't have such plans.

[2022-06-24 10:17] mnajdova commented on #33262
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-06-24 10:19] mnajdova commented on #33259
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

Codesandbox I tried: https://codesandbox.io/s/fl

[2022-06-24 10:35] mnajdova commented on #33252
Looks like a bug indeed. @rehanmohiuddin sure go ahead and give it a try :)

[2022-06-24 10:39] mnajdova commented on #33246
@totszwai we can add it 👍 Would you like to prepare a PR for it? Note that you can always use:

[code]

We are likely going to be moving towards this approach in v6. Take a look at this codesandbox - https://codesandbox.io/s/mui-chip-missing-colorerror-definition-forked-ljwtch?file=/demo.tsx

[2022-06-24 10:47] mnajdova commented on #33224
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-06-24 10:49] #33172 closed

[2022-06-24 10:50] mnajdova commented on #33177
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-06-24 10:57] mnajdova commented on #33178
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-06-24 11:13] oliviertassinari commented on #33274
Maybe we should remove the demos in the documentation that use react-swipeable-views. I wonder what are the alternatives to this project noawdays.

[2022-06-24 11:15] mnajdova commented on #33072
Yep, thanks @DaveLak for linking this here, we already have another issue covering this.

These links can help:

v4 - https://github.com/mui/material-ui/tree/v4.x/examples/nextjs
v4 migrating to v5 - https://github.com/mui/material-ui/tree/master/examples/nextjs-with-typescript-v4-migration (using both JSS and emotion)
v5 - https://github.com/mui/material-ui/tree/master/examples/nextjs

[2022-06-24 11:23] Industrial opened #33280 "[core] Streaming Server Side Rendering doesn't work. Emotion by itself does work."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hi!

I got Streaming Server Side Rendering working with my Deno Web Framework and I would like to use Emotion and also MaterialUI.

### Expected behavior 🤔

When doing Streaming Server Side Rendering, the `<style>` tags are rendered before the component and

[2022-06-24 11:24] Primajin opened #33281 "Multiple arity in sx prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I would like to use the multiple arity way also in the sx prop so that I don't need to import spacing from theme.

### Examples 🌈

https://mui.com/material-ui/customization/spacing/#multiple-arity offers to use multiple arguments just like in CSS:

[code]

now the [

[2022-06-24 12:56] markedwards commented on #33274
Apologies, I actually was confused between `SwipeableViews` and MUI's `SwipeableDrawer` (both of which I'm using in the same layout), and I mistakenly thought that this dependency was coming from `SwipeableDrawer`.

I agree with @oliviertassinari the issue here is simply that the docs should really point to a solution that is currently maintained.

[2022-06-24 13:05] PunitSoniME commented on #33259
@JLaferri

The result you want to achieve is pretty much simple.
Check below sandbox code and let me know if you have any confusion.

And also I have fixed your link redirection as well on click of the button

[Codesandbox](https://codesandbox.io/s/mui-issue-33259-smdnbu)

[2022-06-24 13:24] TimoWilhelm commented on #32049
@siriwatknp This look great! I think there might be an issue with the SnackbarContent.

https://github.com/mui/material-ui/pull/32835/files#diff-c69c0067f63247670034da3fc1b223b7603fc9cee0545d1ce2cf1521e58fbebbR33-R35

The content color will always be primary text color, which will have poor contrast with the snackbar background color.

I think it should be something like `color: theme.vars.palette

[2022-06-24 14:17] emical commented on #22426
[Islamic Dream meanings](https://islamicdreambook.com/dream-meaning-search/1/) — Authentic Islamic dream interpretation site with all dreams searchable easily and explained discussed. dream look up dictionary, All dream symbols, dream meanings

https://islamicdreambook.com/
![image](https://user-images.githubusercontent.com/107794953/175554549-c1b134d7-ea60-4123-9294-61c5f49fe353.png)

![Islamic D

[2022-06-24 17:09] Rafcin commented on #33275
So after some testing, the experimental one seems fine although the joy one
is having issues with the card other components. It's unable to read the
variants and the breakpoints. If I wrap it from app if can't reach the
children on other pages and if I wrap it directly on some page it seems
fine. I stopped passing my theme to it and sane issue.

On Fri, Jun 24, 2022, 2:45 AM Marija Najdova ***@***

[2022-06-24 17:15] skypyxis commented on #30249
This works (storing scroll position and setting it after new data is loaded and appended) but it has one problem:
If we scroll the results in the list with the keyboard (down arrow key) when new data is appended the focused item goes back to the first item in  the list.
Any idea how can we solve this?

[2022-06-24 18:16] oliviertassinari opened #33282 "[typography] Built-in scrollMarginTop support"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Improve the scroll top integration of `scrollMarginTop`.

### Examples 🌈

I'm not sure what's the best way to abstract this, but I wonder if it wouldn't make a lot of sense to, once the Typography component is moved to @mui/system, to:

1. Add a minimum value of scr

[2022-06-24 20:44] Rafcin commented on #33275
Are Mui and Mui Joy compatible? I wouldn't think they would conflict but is that possible?

Btw I forgot to mention it in my last message. Joy is looking great! From the stuff I've seen so far I think it's going to be a great new package!

[2022-06-24 21:10] notmd opened #33286 "[SelectUnstyled] `useSelect` in controlled mode emit the `onChange` callback infinitely"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `onChange` callback is being called many times

### Expected behavior 🤔

The `onChange` only is being called 1 time.

### Steps to reproduce 🕹

Steps:

1. Open [https://codesandbox.io/s/useselect-demo-mui-base-forked-8vcgem?file=/demo.tsx](https://codes

[2022-06-25 01:20] JohnnyRacer commented on #33262
@mnajdova Here is a Codesandbox showing the problem: [link to Codesandbox](https://codesandbox.io/s/mui-autocomplete-filtering-3r3cy0?file=/src/Comp.tsx). Hope this is helpful.

[2022-06-25 06:49] YakuBrangJa commented on #19584
Here is my solution
`<Button disableElevation variant="contained">
            <span>End</span>
            <Send />
</Button>`

`
   MuiButton: {
        styleOverrides: {
          root: {
            gap: '0.5rem',
          }
        }
      },`

[2022-06-25 09:08] kbrueckner commented on #33053
My use case is described above, when writing HOC I need to know the type of the underlying component.
In general I am with you but we are talking about a few bytes not kilobytes. IMO it is also not good practice to strip away such in my view crucial information.

Nevertheless as I mentioned earlier my request goes back to the need to identify the component. Is there any other way to get that infor

[2022-06-25 09:24] altechzilla opened #33289 "🐞 createTheme's "components" key breaks fast refresh if used with an external function"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using `ThemeProvider` and `createTheme` from `@mui/material/styles` to build out a custom MUI theme for an app.

All the component overrides are exported/imported in external files to keep the project structured and clean.

Whenever importing component styl

[2022-06-25 11:28] Ponuyashka7316 opened #33290 "Example project for MUI doesn't work properly. https://github.com/mui/material-ui/tree/master/examples/nextjs"
### Duplicates

- [ ] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Seems like currently SSR doesn't work. If you run the project and press "view page source" (or disable JS is browser), you won't see any prerendered html.

Link: [example](https://github.com/mui/material-ui/tree/master/examples/nextjs)

### Expected behavio

[2022-06-25 12:31] jmas commented on #31366
I had the same issue and I fixed it by wrapping into `declare global`:

[code]

[2022-06-25 12:51] dante01yoon opened #33291 "date picker, input field style broken"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]
  Don't forget to mention which browser you used.
  Output from `npx @mui/envinfo` goes here.
[code]

[2022-06-25 16:34] anthonysapien commented on #33204
@mnajdova Hi, can you please reopen this issue or help me to understand the approach? The water drop icon is part of the material icon set. Isn't MUI trying to include all of the icons?

[2022-06-25 19:50] jonasdev commented on #19254
I had this issue. Couldn't find any updates?
But I did solve it with this
[code]

[2022-06-25 20:00] nnguyen52 commented on #33202
Thank! Will check it out!

[2022-06-25 20:24] nnguyen52 commented on #33263
Why you add the line InputProps={{inputProps:{}}} ? Removing it seems work!

[2022-06-25 21:11] Rafcin commented on #32049
Even though `Experimental_CssVarsProvider` says experimental, is it stable enough to use? I've been playing around with it in sandboxes and it's hands down my new favorite feature.

Also a question regarding the vars provider. Suppose we have a theme object, until this point had my own version of `useColorScheme` and my theme object had my palettes split into dark and light. With the experimental

[2022-06-25 22:59] javedbartlett commented on #33140
Hey @michaldudak , I just wanted to follow up on this. Thanks for looking into it!

[2022-06-26 03:30] echarles commented on #33275
I am trying to have a application which mixes the standard mui (material-ui) and the new joy components. To do that, I wrap the mui StyledEngineProvider/CssVarsProvider into the mui ThemeProvider to finally receive undefined exception when I try to access the mui (material-ui) theme.

This lead me to think that both are incompatible for now, which is not the best experience from 2 libraries coming

[2022-06-26 03:59] Rafcin commented on #33275
That's what I'm thinking, I really wanted to leverage aspect ratio and the
new card components. I just kind of moved everything over to the
experimental CSS vars component and now I'm working on porting aspect ratio
and card.
 That's my current solution at least.

On Sat, Jun 25, 2022, 8:30 PM Eric Charles ***@***.***> wrote:

[2022-06-26 05:34] echarles commented on #33275
I you have a workaround, happy to know more on that (code snippet appreciated). Thx!

[2022-06-26 07:25] the-mgi commented on #18833
this is a bug i guess. is there any progress on this?

[2022-06-26 10:15] AHeiming commented on #29848
Hi,

anyone already working on this? Otherwise I would like to do this 😄

[2022-06-26 10:32] #33093 closed

[2022-06-26 11:32] siriwatknp commented on #29848
Feel free to submit a PR 👍

[2022-06-26 12:16] WillSquire commented on #13921
@jdrucey is right, it's still a problem with custom props. To be honest, I end up writing less code and find it easier to maintain if I just do:

[code]

MUI uses `React.ElementType` as the base type for the generic in `OverridableComponent`.

I feel like this shouldn't be an issue, though.

[2022-06-26 12:53] wilav-dev opened #33303 "[Button] Focus effect padding"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The focus effect does not cover the hole button

<img width="219" alt="Captura de Pantalla 2022-06-26 a la(s) 09 50 58" src="https://user-images.githubusercontent.com/71793326/175815079-1edeae6d-d964-4eed-8bde-e1c1cb71e1bc.png">

### Expected behavior 🤔

Fo

[2022-06-26 12:55] ihamlet commented on #33178
I have the same problem
`  const panelHeader = (icon: object, title: string):ReactNode => (
    <div className={`${style.panelHeader} flex-align-items-center `}>
      { icon }
      <span className={style.panelTitle}>{title}</span>
    </div>
  )`

[2022-06-26 12:59] ihamlet commented on #33178
`
  const panelHeader = (icon: ReactNode, title: string) => (
    <div className={`${style.panelHeader} flex-align-items-center `}>
      { icon }
      <span className={style.panelTitle}>{title}</span>
    </div>
  )

`
Set type ‘ReactNode ’
This is how I handled it
![001378DD](https://user-images.githubusercontent.com/4519860/175815316-2cf0e5e1-3b61-4cba-b60a-ac42860082cd.png)

[2022-06-26 15:24] nichita-pasecinic commented on #6625
Hi, couldn't really find any good solution to have a sticky header on `Table` and a scrollable `TableBody` ?

The solution proposed by @oliviertassinari
[code]
Does not solve the issue with the scrollable `TableBody` (scroll container should be the `TableBody` and do not include the header row, when `stickyHeader=true`), so why then it is a duplicate of https://github.com/mui/material-ui/issues/12

[2022-06-26 15:27] nichita-pasecinic commented on #12014
Hi, @oliviertassinari how this solution (https://github.com/mui/material-ui/issues/6625#issuecomment-381729555) solves this issue ?
Just having a sticky position header does not solves the scrollbar issue on `TableBody`
Could you please help here ?

[2022-06-26 15:42] IfeOlulesi commented on #5278
Thanks for sharing @oliviertassinari & @gaiousantonio0909
This solved my problem!!!

[2022-06-26 15:44] destroyer22719 opened #33304 "MUI visual bug on reload with NextJS, large image of icon briefly flash before dissapearing on a reload for a NextJS website, particularily noticable on FireFox and somewhat noticable on Chrome"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://user-images.githubusercontent.com/65511595/175822123-7bf17fa4-b1de-4e9a-b903-fdec71b1fe05.mp4

### Expected behavior 🤔

There should be no giant image when the page is reloaded

### Steps to reproduce 🕹

Steps:

1. Follow the steps on implementing m

[2022-06-26 15:58] philosofonusus commented on #33178
Yes, it is workaround on custom components, but I use components from the library, as you can see in the example

[code]

[2022-06-26 16:09] avivm commented on #29491
@NickEmpetvee I solved it using the following click handler:
[code]

And the following TreeItem:
[code]
The "Box" in the label catches the click event and by stopping propagation the collapse event does not fire.

[2022-06-26 16:15] ryanpcmcquen commented on #6625
Use two tables:
https://github.com/mui/material-ui/issues/6625#issuecomment-419457217

[2022-06-26 16:37] nichita-pasecinic commented on #6625
@ryanpcmcquen it would mess up the cells alignments, check-up this one - https://codesandbox.io/s/ly8vvm5o19

[2022-06-26 16:45] Michael-Davies commented on #33275
A workaround that seems to be working for me is to use `Experimental_CssVarsProvider` when I have a Material UI component that I need to use. An example:

[code]

[2022-06-26 18:52] Rafcin commented on #33275
I don't think wrapping different sections of the project multiple times is a good idea. Ideally, you want the context at the root and set once. My solution thus far and I'm still working on it is to port over the Joy components (card and ar). I have the experimental vars setup, all I need to do is add the correct vars to the theme and modify the ts classes file for the components because they use

[2022-06-26 21:57] jgb-solutions commented on #30735
Just ran into the same issue here with Cloudflare Pages with Remix and MUI. Any solutions?

[2022-06-27 02:53] ntalamdotcom commented on #2860
Hi, How can I improve the delay?

[2022-06-27 03:01] ronaklalwaniii commented on #33141
Any update?

[2022-06-27 04:09] seungwoohong commented on #33263
@nnguyen52 Thanks for your suggestion. but I think inputProps should be omitted in the type of the props to avoid the error in advance.

[2022-06-27 04:41] yakirifrah opened #33306 "Autocomplete options not selected on ipone devices."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Current behavior 😯
With iPhone (safari and chrome) trying to select an Autocomplete option from the options list, results in the option not being selected,

### Expected behavior 🤔

I am using MUI v4 Autocomplete for my dropdown. Ours react app runs as a mi

[2022-06-27 06:27] samandarmeena opened #33307 "@FunMiles In case you want to use timeZones with date-fns, I have just made this work by overriding DateFnsUtils and creating my own MuiPickersUtilsProvider:"
@FunMiles In case you want to use timeZones with date-fns, I have just made this work by overriding DateFnsUtils and creating my own MuiPickersUtilsProvider:

yarn add date-fns-tz

**DateFnsTzUtils.js**
[code]

**MuiPickersTzUtilsProvider.jsx**
[code]
**Example of usage:**
[code]

_Originally posted by @ericsantanna in https://github.com/mui/material-ui-pickers/issues/2098#issuecomment-695360012_

[2022-06-27 06:28] samandarmeena commented on #33307
i am using this code but not working my side
please help me

[2022-06-27 08:46] DanielJerrehian commented on #5185
I am also experiencing this on v5

[2022-06-27 08:47] DanielJerrehian commented on #5185
Adding `disableScrollLock={true}` to my Menu component did the trick for me

[2022-06-27 09:23] robcaldecott opened #33308 "[Select] menu position bug"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using a `TextField` with `select={true}` and you click to open the menu there is a brief flash of the menu in the top-left corner of the screen before it repositions under the text field. This is particularly noticeable when using a select with many op

[2022-06-27 10:16] robcaldecott commented on #33304
This is a NextJS regression and should be fixed in 12.1.7

https://github.com/vercel/next.js/issues/36675

[2022-06-27 10:43] #33307 closed

[2022-06-27 11:10] #32875 closed

[2022-06-27 11:10] #33166 closed

[2022-06-27 11:10] #33192 closed

[2022-06-27 12:00] michaldudak commented on #33055
@mnajdova, @hbjORbj - assigning this to you as the owners of navigation components

[2022-06-27 12:30] michaldudak commented on #33098
The CircularProgressProps does not even define the `css` prop. When I pasted the definition of your CircularProgress into the example project, the error was gone, so likely it's something in the build process of the component library that causes this error. I'm not able to investigate this, though.

[2022-06-27 12:44] robcaldecott commented on #33308
On further inspection I think this is caused by `React.StrictMode`.

[2022-06-27 13:03] mayankpandav commented on #32727
works for me

[2022-06-27 13:24] fonziemedia commented on #31375
Having the same issue but the vh fix doesn't work for me as I have more content than the viewport height and the drawer looks chooped.. any other way to fix this?

[2022-06-27 13:32] michaldudak commented on #33105
The Autocomple hook gives more flexibility but also requires more work. Setting a width is a developer's responsibility. This can be achieved pretty easily by adding `style={{ width: anchorEl ? anchorEl.clientWidth : null }}` to Popper:

[code]

[2022-06-27 13:32] #33105 closed

[2022-06-27 13:50] Mario-Eis commented on #33268
Well, in that case the DOM is not correct. ul should only contain li elements.
https://www.w3.org/TR/2011/WD-html-markup-20110113/ul.html

But yes, I can see that it works without the li and I will go with it. Its on you to decide how important this is :)

[2022-06-27 13:57] pierreminiggio opened #33311 "Dependencies might be missing"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [ ] I have tested the latest version

### Current behavior 😯

Wanted to use the FormatColorFillIcon from https://mui.com/material-ui/material-icons/?query=fill&selected=FormatColorFill
so i npm installed "@mui/icons-material" because the code to import is :
`import FormatColorFillIcon from '@mui/icons-material/FormatC

[2022-06-27 14:10] #33057 closed

[2022-06-27 16:01] jake-collibra commented on #33234
@mnajdova opened a PR as requested on Friday, feels good to help out!

[2022-06-27 17:27] tjdibbs opened #33313 "Extra attributes from the server: bis_skin_checked"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

### bis_skin_checked

I just update next@canary to the latest version after getting error that: React.hydrate is not allowed in the react18. After successful upgrade i got another error that  **Extra attributes from the server: bis_skin_checked**

### Expec

[2022-06-27 17:58] mlgrn commented on #33311
I just did a portfolio project to get some MUI experience and had the same problem. Would be interested to know why this is, or to help fix it if this turns out to be a bug.

[2022-06-27 20:51] edjumacator commented on #30092
I'm having the exact same issue as @rifkegribenes, I am able to `console.log('theme:', theme)` in my `app.js` file but once its been provided to the theme provider, my children and styled components have an empty theme object. I'm using the new `createTheme` function, I've tried all variations of imports, I've deleted my `package-lock` file, reinstalled my `node_modules`, and re-read the entire v4

[2022-06-27 21:13] javedbartlett commented on #33140
Hey @michaldudak , thanks for looking into this. I just wanted to follow up and see if you needed anymore info from me?

[2022-06-27 23:27] nnguyen52 commented on #33311
![image](https://user-images.githubusercontent.com/55565770/176053280-86ae2aa1-7078-47ef-96e6-491302ddd31b.jpeg)

Nextjs example with mui5. You can install entire thing and dont need to worry which packages are missing.

[2022-06-28 00:16] mlgrn commented on #33303
not sure what the maintainers think is the best approach here, but maybe adding a prop for longer buttons to the ButtonBase since this is only going to be in certain cases? went through the Ripple.js file to see where the styling originates from

[2022-06-28 06:03] JIsbak commented on #32373
Issue can also be reproduced on Chrome browsers on iPhone 11 and 8.

[2022-06-28 07:08] im-amir commented on #32737
Is there any update on this?
Facing the same issue in all iPhone devices.

[2022-06-28 07:20] yakirifrah commented on #33306
@mnajdova

[2022-06-28 07:20] michaldudak commented on #33140
Hi @javedbartlett, in your example you added the `text` object directly to the `Theme`. This way it'll be accessible by `theme.text.link`.
In order to add a field to `theme.palette.text`, you have to modify the `TypeText` interface: https://codesandbox.io/s/dazzling-leftpad-wvv7pd?file=/src/App.tsx

Could you please check if your code match this example? If modifying TypeText still doesn't work, p

[2022-06-28 07:33] pierreminiggio commented on #33311
That's not really the point.

The point is to not to have to do that. Our projects shoudn't have to deal with the npm dependencies or one of its npm dependencies.

My project shoudn't need to know that @mui/icons-material depends on both @emotion/react @emotion/styled, that shoudn't be my role as a dependency user to clean them up later if for some reason later down the road @mui/icons-material do

[2022-06-28 07:48] robin-xyzt-ai opened #33317 "V4.x: Cannot assing to read only property '0' of object '[object Array]' when using the Slider"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using the range `Slider `(by passing an array as `value`) with a read-only array as value results in a

[code]

### Expected behavior 🤔

Expected behavior is that the `Slider` component doesn't attempt to alter my input array.

The current workaround is to

[2022-06-28 09:21] eugenestepanyuk opened #33319 "DataGrid is not filled with data in Dynamic Routes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

DataGrid is not filled with data _funds_ but the data array is full

### Expected behavior 🤔

Waiting for the DataGrid to fill up when rendering a dynamic page

### Steps to reproduce 🕹

Steps:

1. Click on the link "Groups"
2. Click on any item from the li

[2022-06-28 09:29] CatalinNarita opened #33320 "[Stepper] Reuse from component library causes StepperContext props to not work properly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Reusing MUI Stepper from own component library causes it to misbehave. Properties that come form the StepperContext are not working properly and/or missing.

### Expected behavior 🤔

Reusing MUI Stepper from own component library should not introduce Contex

[2022-06-28 09:31] michaldudak commented on #33146
I think setting `aria-hidden` makes sense when the Backdrop is used with a Modal. Otherwise, it may not be necessary. I suppose we could remove the attribute and set it only in Modal.

cc @mnajdova, @siriwatknp

[2022-06-28 09:38] michaldudak commented on #33147
@aaarichter does @kkaplita's suggestion answer addresses your problem?

[2022-06-28 09:51] michaldudak commented on #33148
Thanks for reporting this! Would you like to contribute to the project by investigating the cause and working on a fix?

[2022-06-28 10:08] michaldudak commented on #33152
Non-ref forwarding class components are not supported by the Tooltip (#21811).
We don't make it clear in the docs, though.

[2022-06-28 10:25] #33319 closed

[2022-06-28 10:34] ocavue opened #33321 "@mui/material@5.8.6 includes incorrect .d.ts files"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://unpkg.com/@mui/material@5.8.6/styles/CssVarsProvider.d.ts

<img width="1158" alt="image" src="https://user-images.githubusercontent.com/24715727/176158268-08213b98-17e5-4ad6-b7f9-ccf1f111bef2.png">

### Expected behavior 🤔

https://unpkg.com/@mui/ma

[2022-06-28 10:36] Poky85 commented on #17119
For me, issue occurs even in browser. It's very rare so I'm not able to reproduce. Probably happens after the `Tabs` are unmounted, which means that not all calls to `updateScrollButtonState()` are cleared properly. Also `updateScrollButtonState` is provided as callback in [imperative handler](https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Tabs/Tabs.js#L625) so with calli

[2022-06-28 10:55] slacerda85 commented on #33321
I'm stuck at build time because of this error too. Fixed local build with this:

`<import("@mui/system/cssVars/createCssVarsProvider")` instead of "packages/mui-system/src/..."

[2022-06-28 11:31] joshkel commented on #33152
@michaldudak Thank you. I had figured that out and was able to work around it, but I also wondered if MUI's `useIsFocusVisible` should include a development-time check for non-class components to make this clearer. (I had tried to include these details in my original issue but botched the Markdown+HTML, so it wasn't viewable - it's fixed now, so please take a look.)

[2022-06-28 12:09] michaldudak commented on #33152
Yes, that's a good idea. I'd check for `Element` instead of `HTMLElement`, though, as SVGs elements should work just fine with the Tooltip. Would you like to create a PR?

[2022-06-28 12:51] zigang93 opened #33322 "[Questions] How to properly config vscode to auto import mui"
as this pages https://mui.com/material-ui/guides/minimizing-bundle-size/ mention about minimizing bundle size..

I am just wonder how do we change the default suggestion from vscode ?
[code]
<img width="668" alt="IMG_1422" src="https://user-images.githubusercontent.com/11520821/176181443-08725478-b1ed-4d49-a98b-579e2b18f160.PNG">

It is very annoying to see this kind of import statement is not sup

[2022-06-28 13:03] ManuC84 commented on #19512
This still happens. Is there a fix if one does not want to use `styled` ?