[2018-01-28 23:04] caub commented on #10073
@oliviertassinari I was making a generic Form component, that could handle
[code]

and checkbox are handled quite differently than others

[code]

[2018-01-29 00:38] asifruhi commented on #8872
try this: https://material-ui-next.com/guides/server-rendering/

[2018-01-29 02:21] jatazoulja commented on #7402
I am having issue here as well,

I notice this if I pass `<SomeComponent {...props}/>`

and I export with redux:
[code]

[2018-01-29 04:15] StokeMasterJack opened #10076 "AppBar position="fixed" shouldn't require a shim"
In order to make the AppBar (position=static) work in the least surprising way a shim is required:

[code]

[2018-01-29 05:14] evtuhovdo commented on #9221
In the approach of responsive tables, there are many options. I think that it would be steeper not to add this option without explicitly indicating how to solve the table mapping problem. And to make individual options that would indicate that the table will be rotated or will scroll.

[2018-01-29 05:43] webbygregg commented on #7878
I am having the same problem using @next and an ejs template. Everything loads fine except the fonts.

In my template I have <style id="jss-server-side"><%- css -%></style>

Any recommendations?

[2018-01-29 05:46] cyrus-za commented on #8032
@dmbaranov why is this issue closed? Just because you never used styled-components does not make this a non-issue.

[2018-01-29 07:09] sfandrew commented on #773
@freb I don't see the AppSearch or AppFrame component installed in my node_modules/Material-UI dir. I have the latest version installed. Am I missing something?

[2018-01-29 07:12] mehrdaad commented on #10064
I've already read that in docs.
What I'm suggesting is rename one of the prop types for more clarification.
and also not getting an error from Airbnb style eslint rules.

[2018-01-29 08:26] vdhieu commented on #10075
You have use className and classes
[code]

[2018-01-29 08:48] oliviertassinari commented on #8032
@cyrus-za Nothing should prevent you from making styled-components work. This was a support question. StackOverflow is better suited for support.

[2018-01-29 08:51] oliviertassinari commented on #7878
@webbygregg You need to make ejs not escaping the `css` variable.

[2018-01-29 08:53] oliviertassinari commented on #7402
We can't help without a full reproduction example. Codesandbox.io can help building one.

[2018-01-29 08:55] oliviertassinari commented on #10073
It's not just Checkbox that is different. Switch and Radio handling are different too. Let's keep things simple. The TextField component is only here as an higher abstraction for the Input.

[2018-01-29 08:55] #10073 closed

[2018-01-29 09:22] caub commented on #10073
Ah Thanks, yes I forgot that `<Input>` doesn't do checkbox, radio, .. I'm used to html:)

[2018-01-29 09:35] dmbaranov commented on #8032
@cyrus-za and also I want to add to the answer above that it wasn't me who closed this issue.

[2018-01-29 10:36] talentedandrew commented on #9867
IMO and a suggestion, fixing w3c issues using `https://validator.w3.org` will not help much when using modern web technologies. In my project it gave me an error `Element style not allowed as child of element body in this context. (Suppressing further errors from this subtree.)` .It wants the `<style>` tag in the `<head>`, not in a `<div>` or anything inside the `<body>`. [This](https://stackoverf

[2018-01-29 11:02] cescoferraro opened #10077 "[NEXT] Action dont get fired on dynamic Select itens"
## Expected Behavior
Work just like a standard hard coded MenuItens tag , just like this

[code]

## Current Behavior
In my scenario, partyProducts would come from an ajax request, so I intended to pass it as props. But I am simulation the prop with a hardcoded array, but then clicking does not work. I can see all the itens but cannot pick one. Seens like the CHANGE action is not being triggered

[2018-01-29 11:06] #10077 closed

[2018-01-29 11:06] cescoferraro commented on #10077
Wrong Repo!

[2018-01-29 11:08] pricetula commented on #4787
This project for time picker is good https://github.com/TeamWertarbyte/material-ui-time-picker

[2018-01-29 12:21] oliviertassinari commented on #10075
@vdhieu Is right. We have some alternative APIs too: https://github.com/mui-org/material-ui/blob/v1-beta/docs/src/pages/customization/css-in-js.md#alternative-apis.

[2018-01-29 12:21] #10075 closed

[2018-01-29 12:38] oliviertassinari commented on #10076
@StokeMasterJack I believed you meant `fixed` in the example.

There are different solutions to this problem:
- you can use this mixin to apply the style to a different element:
https://github.com/mui-org/material-ui/blob/a88a405eaf4e57fb2ff8cb88599ecaf31e786b77/src/styles/createMixins.js#L17-L25
- you could add a margin on the `List` component.
- you can use `position: sticky`

*P.S. the height o

[2018-01-29 12:39] oliviertassinari commented on #10076
An alternative is using the React 16 fragment but we are still supporting React 15.

[2018-01-29 12:53] #7054 closed

[2018-01-29 12:58] oliviertassinari commented on #10071
@Rhywden This question would have been better asked on StackOverflow! What you are experiencing is the expected behavior. You are rendering the component at each keystroke. Each render of the component is defining a unique id as key. A new key will unmount and mount all the child components. The TextField doesn't persist his internal state. He lost it when unmounted.

[2018-01-29 12:58] #10071 closed

[2018-01-29 13:35] jgoux commented on #9997
I just wanted to add that this project https://github.com/techniq/mui-downshift looks promising and exactly in the scope!

[2018-01-29 14:54] arteniioleg commented on #9337
I faced a similar problem and just to clarify: That 160px comes from [specs](https://material.io/guidelines/components/tabs.html#tabs-specs)

[2018-01-29 15:26] arteniioleg opened #10078 "[Tabs] onChange after animations"
A callback after change animations have ended.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Kind of `onChangeEffectsEnd`.

## Current Behavior
`onChange` is fired right on click, before animations start.

## Context
On tab click I redirect (link behavior). I want to redirect aft

[2018-01-29 16:55] freb commented on #773
They aren't modules included with material-ui, so you won't find them in the node_modules folder. They are only visible if you've cloned the repo. They are components that were created for use with the documentation site (https://material-ui-next.com/). All of the code for the documentation site is found under the `docs` folder in this repo. But you can use the code there as an example of how to i

[2018-01-29 17:01] scottastrophic commented on #10036
@oliviertassinari Following your pattern has given me the effect I was looking for, but the library is throwing warnings that are leading me to believe I've been Doing It Wrong™ with the overrides both here and elsewhere. My code:
[code]
[code]
Hopefully this is enough to convey my intent. The errors being thrown are of two sorts.

`React does not recognize the "deleteSection" prop on a DOM elemen

[2018-01-29 18:17] xaviergonz opened #10080 "[Select] Select popover gets shrunk once a value is selected"
The select popover gets horizontally shrunk once a value is selected

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

The popover should not get shrunk on the popover exit animation

## Current Behavior

The popover gets shrunk horizontally on the exit animation.

## Steps to Repro

[2018-01-29 18:32] gnapse opened #10081 "Confusion around obtaining a ref to a Button/IconButton element"
When reading the documentation, I find it confusing that `IconButton` ([doc](https://material-ui-next.com/api/icon-button/)) is documented to have a `buttonRef` and a `rootRef` props. What's the difference between those two? Also, why `Button` ([doc](https://material-ui-next.com/api/button/)) is documented to have none of those? And then `ButtonBase` ([doc](https://material-ui-next.com/api/button-

[2018-01-29 18:41] oliviertassinari commented on #10081
I have removed the ref properties form most of the component: #10025. It will be released in beta.31 this evening.
The documentation is implicit with the spread. For most use cases, you should use none of them. Just the `ref`.

[2018-01-29 18:43] gnapse commented on #10081
But the ref on a `Button` or `IconButton` does not give me the actual `button` dom element, which is what I need, and what I obtain via `rootRef`. What can I do to obtain the native `button` html element reference then?

[2018-01-29 18:45] gnapse commented on #10081
I see the linked recommendation, but how can you recommend switching over to use that, when the use of `findDOMNode` is being discouraged, and that api could be deprecated by React in the future? (see [here](https://github.com/yannickcr/eslint-plugin-react/issues/678#issue-165177220))

[2018-01-29 19:36] Eurythmax commented on #10010
I have a similar issue. The default color/backgroundcolor of the <TextField/> when focused is #304ffe.
This color comes from the classes `.MuiFormLabel-focused-186` and `.MuiInput-inkbar-191:after`
I want to change these colors for every textfield to #ffa000.

What is the best solution for this?

Thank you

[2018-01-29 19:38] stijnvanlieshout commented on #10075
Thanks, works perfectly

[2018-01-29 19:42] ianschmitz commented on #10010
@Eurythmax take a look at https://material-ui-next.com/customization/themes/#customizing-all-instances-of-a-component-type

[2018-01-29 19:44] oliviertassinari commented on #10081
This documentation section was added with #9768. Another React issue to have a look at https://github.com/facebook/react/issues/11401. It's suggesting the addition of a special "hostRef" prop that only works on host components (`<div>`, etc.). It would solve your problem.

We can add a `buttonRef` property to the ButtonBase component in this case. Simple and scalable solution.

[2018-01-29 20:00] gnapse commented on #10081
Ok, good to know about that other react issue. BTW, that one also does not recommend the use of `findDOMNode`. So I'm not sure I understand the direction this project is taking in officially recommending its use. Presumably is until React makes its mind about this `hostRef` thing. I'd still prefer to avoid the currently recommended solution to root refs since definitely all proposals seem to disco

[2018-01-29 20:03] oliviertassinari commented on #10081
Alright. Let's implement it :).

[2018-01-29 20:40] jahtalab opened #10083 "[Snackbar] Don’t block the floating action button"
## Expected Behavior
According to [material.io](https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-usage) Snackbar should not block the floating action button.

## Current Behavior
Snackbar blocks floating button

## Steps to Reproduce (for bugs)
on a media size small enough so that snackbar covers the full width of the page.
1. Add a floating action button
2. Add a s

[2018-01-29 20:44] oliviertassinari commented on #10078
@arteniioleg The transition is implemented in:
https://github.com/mui-org/material-ui/blob/295a429c71f5ab3a6bce10e1f3633924702027d1/src/Tabs/TabIndicator.js#L13

Hence the transition duration is going to be:
https://github.com/mui-org/material-ui/blob/295a429c71f5ab3a6bce10e1f3633924702027d1/src/styles/transitions.js#L27

It's not something I that I think we should be implementing in the core of t

[2018-01-29 20:44] #10078 closed

[2018-01-29 20:47] #9546 closed

[2018-01-29 20:51] oliviertassinari commented on #10083
I had to rely on some global logic to fix the issue in the past: https://github.com/oliviertassinari/SplitMe/blob/c25fe62187a856386fd0c43c51859d6f973d651e/src/main/MainActionButton.js#L21-L23. It's a high-level issue. I have no clue around how it could be achieve in the core of Material-UI.

[2018-01-29 20:54] #10081 closed

[2018-01-29 20:55] scottastrophic opened #10085 "[Appbar] add position="sticky""
Support for `position: sticky;` is [pretty good](https://caniuse.com/#feat=css-sticky) at this point; it would be nice to have this as an option for Appbar behavior.

[2018-01-29 21:02] oliviertassinari commented on #10085
It's related to #10076. I'm happy with it. It fallback to static for old browsers like IE11.

[2018-01-29 22:17] scottastrophic commented on #10085
What is the "it" you mean? I can take a crack at implementation. Are there other instances where you have old-browser fallbacks I can crib from?

[2018-01-29 22:25] oliviertassinari commented on #10085
Sorry. "with the idea". No need to worry about the old-browser fallbacks. As far as I know, the CSS specification is taking care of it for you. IE 11 will read `position: sticky;` as unknown and fallback to `position: static;`

[2018-01-29 22:45] goodbomb opened #10087 "[ButtonBase] Add a "render" prop to the ButtonBase"
Hi, I don't believe this is a duplicate, but I've found that spreading "extra" props into the `component` prop is confusing and counter-intuitive (info found here: https://stackoverflow.com/questions/37843495/material-ui-adding-link-component-from-react-router). It would make a lot more sense to allow an actual `render` prop that can be used to actually render out a component.

For example:

[code

[2018-01-29 22:48] oliviertassinari commented on #10087
There is this pattern that I want to better document:
https://github.com/mui-org/material-ui/issues/7956#issuecomment-326908167
It's also documented here: https://material-ui-next.com/demos/buttons/#third-party-routing-library.
What do you think of it?

[2018-01-29 22:51] goodbomb commented on #10087
Ah, that makes more sense. I was under the impression that the "component" prop could only be passed a reference, not an element. The following example solves my use case:

[code]

That said, since it applies to everything that extends from ButtonBase, wouldn't it make sense to put that section in ButtonBase instead of Button?

[2018-01-29 22:53] oliviertassinari commented on #10087
@goodbomb I agree. I think that we could add a link in the FAQ too.

[2018-01-29 22:56] goodbomb commented on #10087
Works for me. Thanks for the prompt responses!

[2018-01-30 03:28] xiaoyu-tamu opened #10091 "[Grid] Override grid nest class name failed"
I am trying to override Grid class names injected by Material-UI, I use the following prop
[code]
[code]

- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

After overriding, I want the grid items have following style

[code]
## Current Behavior

But it seems doesn't work, The devtoo

[2018-01-30 03:51] petermiles commented on #10085
If scott doesn't want to take over this, I would be happy to knock it out.

[2018-01-30 05:24] sfandrew commented on #773
Thank you very much @freb!

[2018-01-30 07:58] kirill-konshin opened #10092 "Setting SlideProps for Drawer kills default classes"
The following code produces weird result on latest version:

[code]

Compare:

[code]

The expectation is that custom class is appended to all the regular classes.

[2018-01-30 08:21] oliviertassinari commented on #10091
@xiaoyu-tamu This question would have been better asked on StackOverflow.
`$typeItem` is referring to a rule name in your stylesheet.
[code]

[2018-01-30 08:21] #10091 closed

[2018-01-30 08:21] oliviertassinari commented on #10091
Also, you can use `spacing={0}` to remove the padding.

[2018-01-30 08:23] kirill-konshin opened #10093 "No way to set custom classes for subheader and title spans of MuiCardHeader"
On latest version there is no way to set classes or other props of subheader and title spans of MuiCardHeader.

![image](https://user-images.githubusercontent.com/1530410/35554663-670d159a-0551-11e8-873d-078067c5c50e.png)

https://github.com/mui-org/material-ui/blob/42a0e1d4c4db2c83337f2977b0bc4f075a5af719/src/Card/CardHeader.js#L46
https://github.com/mui-org/material-ui/blob/42a0e1d4c4db2c83337f2

[2018-01-30 08:25] Eurythmax commented on #10010
Thanks @ianschmitz  i have made my own Textfield now.

[code]

[2018-01-30 08:27] oliviertassinari commented on #10092
Looking at this issue makes me think two things.
1. People should be able to provide their custom transition implementation like in the snackbar component.
2. People should be able to provide extra properties to the paper element like in the dialog component.

I believe you are looking for 2.

[2018-01-30 08:28] arteniioleg opened #10094 "[Tabs] Highlight underline wider that tab"
![staticshot_30-01-2018_10-15-12](https://user-images.githubusercontent.com/28860670/35555153-f9bf4c82-05a6-11e8-8a64-b32e1ba14643.png)

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Exact highlight underline alignment all the time (even after heat death of the universe).

## Curr

[2018-01-30 08:29] oliviertassinari commented on #10093
This is a pattern we 💯 support. Use the `classes` property.
[code]

[2018-01-30 08:29] #10093 closed

[2018-01-30 08:41] kirill-konshin commented on #10092
Yes, I am. This issue is linked to my other issue #10093, I am trying to add classes to customize the look not via JSS.

In my opinion, case 1 can be solved by overriding (via case 2), but also can be supported separately.

[2018-01-30 08:44] kirill-konshin commented on #10093
Great, thanks!

[2018-01-30 08:55] arteniioleg commented on #10094
I started making the second page (on second tab click) and again after refresh the line is shifted.

![staticshot_30-01-2018_10-54-40](https://user-images.githubusercontent.com/28860670/35556859-1fe2d988-05ac-11e8-9446-8ed033049ccf.png)

[2018-01-30 09:24] oliviertassinari commented on #10092
@kirill-konshin For your use case, you need:
https://github.com/mui-org/material-ui/blob/v1-beta/docs/src/pages/demos/drawers/ResponsiveDrawer.js#L106-L112

[2018-01-30 10:34] Loktor commented on #9427
There is another way to get around this problem:

[code]

You can manage the ExpansionPanel expanded state yourself, and by using the onClick event of the Icon which is passed to the ExpansionPanelSummary (which is the header line) you can open/close the expansion panel only via the icon)

[2018-01-30 11:18] #10085 closed

[2018-01-30 11:20] oliviertassinari commented on #10085
@petermiles Took care of it. Thanks for proposing your help! Don't miss the `good first issue` tag.

[2018-01-30 11:21] oliviertassinari commented on #10094
@arteniioleg Do you have a reproduction link? codesandbox, repository, etc. ? We can't help without.

[2018-01-30 11:25] arteniioleg commented on #10094
No. I will try to make one this week.

[2018-01-30 12:31] arteniioleg commented on #10094
I can't reproduce on codesandbox https://codesandbox.io/s/vjpvk106n3
My project has a more complicated structure (redux+router) so I can't upload the entire project on codesandbox.

A workaround would be to trigger the refresh of MUI components manually right after page load. Because [the bug fixes itself when I resize the window or remove a SnackBar](https://streamable.com/mtpg1).

How to trigger

[2018-01-30 12:31] #10094 closed

[2018-01-30 12:37] oliviertassinari commented on #10094
Use the `action` property: https://material-ui-next.com/api/tabs/#tabs.

[2018-01-30 12:59] arteniioleg commented on #10094
This [fixes the problem](https://streamable.com/vptza)

[code]

----

This doesn't

[code]

[2018-01-30 15:11] petermiles commented on #10035
Hi,

I can take this over if it's still open.

[2018-01-30 15:40] mbrookes commented on #10035
@petermiles

<img width="228" alt="image" src="https://user-images.githubusercontent.com/357702/35575266-dd26bbe6-05d3-11e8-8864-87169f33bd42.png">

😄

[2018-01-30 16:03] petermiles commented on #10035
Didn't know if I had to be assigned to work on it.

[2018-01-30 16:11] mbrookes commented on #10035
No, just jump on in. (GitHub doesn't let you assign outside of collaborators anyway.)

[2018-01-30 16:23] WonderDev21 opened #10097 "cannot change indicator style!"
I cannot change indicator style!

[2018-01-30 16:35] danielkarlsson opened #10098 "How to use mui theme with styled components API"
How can I access the mui theme with the example shown in the documentation on how to use the styled components API?

[2018-01-30 16:37] mbrookes commented on #10098
https://material-ui-next.com/guides/interoperability/#styled-components

[2018-01-30 16:37] #10098 closed

[2018-01-30 16:37] #10097 closed

[2018-01-30 17:13] danielkarlsson commented on #10098
To clearify here, what I was wondering about was not with styled-components itself but in the documentation for beta.31 there is a section here
https://material-ui-next.com/customization/css-in-js/#styled-components-api-13-lines-
with an example. If its possible to access the mui theme value props in here it would be good to include that in the example.  Would be intrested to see how its done when

[2018-01-30 18:24] mbrookes commented on #10098
Yes, if you get the theme from context yourself; otherwise you'd have to make it a component, and wrap it with the `withTheme` HOC, by which point you might as well just use JSS!

Please jump on gitter if you'd like to discuss further.

[2018-01-30 18:59] kirill-konshin commented on #10092
Thanks, it helped. Still a bit awkward for `Drawer` case though:

[code]

Although I do understand that these all are different components, thus they require different notation of classes, but there has to be a more unified way to set deep classes... Here alone we use 4 different ways.

[2018-01-30 21:11] oliviertassinari commented on #10092
@kirill-konshin I would do it this way:
[code]

[2018-01-30 21:26] kirill-konshin commented on #10092
Yep, that's nicer. My example was to just illustrate the potential issue. `BackdropClassName` is not even documented...

[2018-01-30 21:30] oliviertassinari commented on #10092
I don't know what version you are using but `BackdropClassName` is gone.

[2018-01-30 21:33] kirill-konshin commented on #10092
That's good! Less possible ways the better.

[2018-01-30 21:37] #10092 closed

[2018-01-31 01:21] TheZoker opened #10104 "[TextField] FormLabel is not grey by default"
I'm using the latest beta and the FormLabel is not grey, but white:
![screenshot_2018 01 31_02h06m22s_005_](https://user-images.githubusercontent.com/1368405/35600274-664765de-062d-11e8-8028-4860a290cc20.png)

The issue is, that you can't see the white FormLable on the white Paper background.

Is this a bug or how can I fix this?

[2018-01-31 03:27] snydersaurus opened #10106 "Getting at the wrapped React component when exporting withStyles"
Is it possible to get at the React class wrapped by WithStyles?

Context: getting the ref to a child component e.g.

`<MyComponent ref="myComponent"></MyComponent>`

Trying to reference `this.refs.myComponent` gives me a `WithStyles` object obviously and not a `MyComponent` object.

[2018-01-31 07:34] #10087 closed

[2018-01-31 08:22] oliviertassinari commented on #10106
`withStyles` enhance the components with an `innerRef` property. You can use it.

[2018-01-31 08:22] #10106 closed

[2018-01-31 08:24] oliviertassinari commented on #10104
The color is defined in:
https://github.com/mui-org/material-ui/blob/a2f6571615ad3d907045b1390a49eb3066e3b4ed/src/Form/FormLabel.js#L7-L9

[2018-01-31 08:27] #10104 closed

[2018-01-31 09:36] Romainpetit opened #10107 "[Badge] Provide docs for other use cases"
How am I supposed to use the Badge component in combination with :
- Buttons
- Tabs
- Typography
?

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

This does not work, but is what I expected to write :
[code]

## Current Behavior

The [Badge demo page](https://material-ui-next.com/

[2018-01-31 11:44] Anushree-Desai commented on #8037
I am using DateTimePicker as below:

`
import DateTimePicker from 'material-ui-datetimepicker';
import DatePickerDialog from 'material-ui/DatePicker/DatePickerDialog';
import TimePickerDialog from 'material-ui/TimePicker/TimePickerDialog';

<DateTimePicker
     onChange={this.setDate}
     DatePicker={DatePickerDialog}
     TimePicker={TimePickerDialog}
/>
`
It is throwing below error:
warning.js:

[2018-01-31 14:17] oliviertassinari commented on #10107
It's more than the documentation that is lacking. The component doesn't support these use cases as far as I know. I'm not event sure we should. It depends on the implmentation implications.

[2018-01-31 15:03] mbrookes commented on #10107
Badge isn't a Material Design component, so it already delivers more than suggested by the spec. I agree that these other use-cases are atypical.

[2018-01-31 15:49] snydersaurus commented on #10106
Thank you @oliviertassinari. I saw that `innerRef` mention in the docs but it wasn't clear how to use it.

[2018-01-31 15:50] Romainpetit opened #10110 "[TextField] Add "input" property for custom Input component"
Like Select does, It'd be useful to allow TextField to receive a custom Input component.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Passing a custom Input element via the `input` prop.
[code]

## Current Behavior

Having to stick to the default Mui Input
[code]

## Context
My

[2018-01-31 17:17] oliviertassinari commented on #10110
@alltom You can already do it this way:
[code]
We should minimize as much as possible the API surface. I don't think that adding a `inputComponent` component to the TextField will be wise. At some point, we removed `inputProps` too. But people were complaining about it as it's a common use case. I don't think we are in a common use case here. Thanks for raising this point 👍 .

[2018-01-31 17:17] #10110 closed

[2018-01-31 17:38] xiaoouLi opened #10111 "Do I have to wrap tabs within AppBar?"
I'm using tabs on a dialog in a web application. I want to fix the tabs on the top of the dialog (not the page) when the content is scrolling. (Something like the following. As you see the content scrolls up a little bit, but the tabs don't). How can I do that?
![image](https://user-images.githubusercontent.com/4204710/35607836-29c56010-060b-11e8-97be-b0eca0f63196.png)

And do I have to wrap tabs

[2018-01-31 17:45] #10111 closed

[2018-01-31 17:48] danielteles commented on #7442
@iabotsiTC this worked for me, but not as expected :( with pages that have a scroll view the application only renders the size of the screen

[2018-01-31 17:58] JohannesLamberts commented on #10022
@pelotom
Sorry - its described in the docs, as you said.

However, this only works if there aren't any more additional props.

[code]

In this case I'll get 'Property foo does not exist on typ  [...]'.
I could write `withStyles({})<any>` to compile without errors, but now I loose type-safety and code-completion.
I could write `withStyles({})<Omit<ComponentProps, 'classes'>>` or define a separate i

[2018-01-31 18:30] TroySchmidt opened #10112 "FormControlLabel not using FormLabel as default"
FormControlLabel is not using the FormLabel as the basis component for outputing the label.  It instead has a class for label wrapped in Typography, but no fontSize set.  If the pxToRem is the standard (as it is in other components) then it needs to be here.  The ultimate solution is probably to also use FormLabel instead of Typography with custom class on it since that would make it consistent th

[2018-01-31 18:51] andrispraulitis commented on #6129
@oliviertassinari

Except that overrides are extended which means I have to re-override in every sub tree. I want nested themes where I start completely fresh overrides with createMuiTheme(), is that possible?

[2018-01-31 19:01] oliviertassinari commented on #6129
@andrispraulitis Yes, it is. You are in control of how the outer (parent) theme impact the inner (child) theme. This example was made for you: https://material-ui-next.com/customization/themes/#nesting-the-theme.

[2018-01-31 19:02] andrispraulitis commented on #6129
Yes I think I got it now.

`const defaultTheme = createMuiTheme()
const theme = outerTheme => ({
	...defaultTheme,

})`

[2018-01-31 19:05] oliviertassinari commented on #10112
@TroySchmidt It's not by design. We want to keep the two use cases separated for the simplicity of the implementation. I don't get what's the issue. The font size is set by the Typography component.

[2018-01-31 19:08] oliviertassinari commented on #6129
@andrispraulitis It doesn't need to be a callback. It can be simple object.

[2018-01-31 19:40] oliviertassinari commented on #10107
<img width="331" alt="capture d ecran 2018-01-31 a 20 37 24" src="https://user-images.githubusercontent.com/3165635/35643457-9bcb3a02-06c6-11e8-872e-acc44bd14897.png">
https://codesandbox.io/s/y27vxjyxy9
Actually, It's not that bad. I'm adding it to the documentation.

[2018-01-31 19:41] phsantiago opened #10113 "Label tag with htmlFor prop dont't work together with Checkbox component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Use a label tag to check a Checkbox using a htmlFor prop.

## Current Behavior

Id isn't rendered in Checkbox, so when I click in a label the checkbox don't get marked.

## Steps to Reproduce (for bugs)

https://codesandbox.io/s/v1m6j

[2018-01-31 20:04] mbrookes commented on #7442
Relevant discussion: https://twitter.com/ryanflorence/status/958465067166588929

[2018-01-31 20:10] oliviertassinari commented on #10113
@phsantiago Thanks for the feedback. Yes, you are correct. The id is applied to the root of the Checkbox. Write now, you have two options:
[code]

[code]

What you are suggesting is to forward the `id` property down to the `input`. It's something we are already doing with the Input component:
https://github.com/mui-org/material-ui/blob/d71a8cc0d83112e5272604a49095cb053d373801/src/Input/Input.js#L5

[2018-01-31 20:14] #10107 closed

[2018-01-31 20:16] TroySchmidt commented on #10112
The issue is that if you use FormControlLabel and mix that with something like TextField then the user has to remember to enforce the matching for the label styles because they are not out of the box.  I get that the implementations are different.  But if I put out FormControlLabel with TextField I would expect out of the box that the font is the same.  So the default implementation for FormContro

[2018-01-31 20:21] oliviertassinari commented on #10112
The `FormControlLabel` component was designed for the control components: Switch, Checkbox, and Radio. It wasn't designed for the TextField. I'm not sure to understand what problem you are trying to solve. Do you have a live example? codesandbox, webpackbin, stackblitz or else.

[2018-01-31 20:35] oliviertassinari commented on #8503
Some more thoughts: https://twitter.com/necolas/status/958795463074897920.
I don't think this issue is a priority. We might revisit it one year from now.

[2018-01-31 20:38] TroySchmidt commented on #10112
```FormLabel``` is ```pxToRem(16)``` while the ```FormControlLabel``` has a label class with no specific font size specified.  Right now the default is 16 in the theme so they turn out to be the same.  If someone changes their theme so the font size is 18 then the ```FormControlLabel``` and ```FormLabel``` would be in conflict and the theme not equally applied where it only appeared to be equally

[2018-01-31 20:42] oliviertassinari commented on #10112
@TroySchmidt I'm sorry but I can't grab my head around it without a code snippet demonstrating the issue. The control property is supposed to already have a font size.

[2018-01-31 20:52] music-mind opened #10115 "Auto Complete Component missing floatingLabelStyle in Docs"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

    Should indicate on the docs for the Auto Complete component that you can set the style of the floating label.

## Current Behavior

    Website does not show floatingLabelStyle as a property for Auto Complete.

## Steps to Reprodu

[2018-01-31 22:19] oliviertassinari commented on #10018
I rollbacked on the idea to add a `block` property to the TextField component. I find it very specific. Maybe we will do it in the future if people find it useful. I'm closing the issue as it sounds like a pure CSS issue. I can't think of another leverage on our end. I want to look into a Block component in the future as a better abstraction.

[2018-01-31 22:19] #10018 closed

[2018-01-31 22:23] pelotom commented on #9530
Angular Material Components just did this:

https://egghead.io/courses/structure-angular-apps-with-angular-material-components

[2018-01-31 22:38] oliviertassinari commented on #10064
I have added the `waiting for users upvotes` tag. I'm closing the issue as it unsure if changing the property names will make the situation better. So please upvote this issue if you think it would. Suggestions are even better! We will prioritize our effort based on the number of upvotes.
You can suppress this eslint warning for now.

[2018-01-31 22:38] #10064 closed

[2018-01-31 23:13] mbrookes commented on #10112
This is where I wish github had "mark notification as unread" feature, because @TroySchmidt's last comment makes sense to me, but I don't have the energy to dig further right now.

Someone bump this tomorrow. 🛎

[2018-01-31 23:57] viotti commented on #6604
This is what I did to overcome the height variation problem: override `TextField` with an absolute positioned `FormHelperText`.

    import { withStyles } from 'material-ui/styles'

    const sheet = () => ({
        'abs-placed': {
            position: 'absolute',
            top: 45
        }
    })

    const XTextField = withStyles(sheet)(props => {
        const { classes, ...etc } = props

[2018-02-01 00:22] mgsakata commented on #7402
Hello.  I am having a very similar issue.  Passing the props to child components results in the Warning about the key provided is not implemented.  I am not certain if I am doing something opposed to Material-UI style overrides or if it is something which legitimately needs fixing?

Warning message from the codesandbox.io example:
`Warning: Material-UI: the key `button` provided to the classes pro

[2018-02-01 00:46] mschipperheyn opened #10120 "Select has no classname property"
supposed to be applied to the root element

[2018-02-01 00:48] nharrisanalyst commented on #10113
/claim

[2018-02-01 00:52] nharrisanalyst commented on #10113
/claim I would like to be assigned this issue thank you

[2018-02-01 02:34] Nevulus opened #10121 "[Input][InputAdornment] Extra space added below text on mobile browsers iOS"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior
On mobile Chrome and Safari, tested iOS 11.2.5, when inputting text in an Input field featuring an InputAdornment, there is a strange behavior where extra space is added below text. See attached screen shot.

![image1](https://user-imag

[2018-02-01 03:48] johnnyPescarul opened #10122 "Import material-ui-icons light (white) version"
I am trying to use the builtin material-ui-icons and I was wondering if it is possible to get the light (white) version of the material icons instead of the dark ones.

- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

ability to import light version of material icons

## Current Be

[2018-02-01 06:48] bendiy commented on #9640
I've had this error several months ago and just ran into it again today. Using the next.js example, it happens if `withRoot()` is called on a component that is not a page or possibly if `withRoot()` is not called on anything in the `./pages` directory.

https://github.com/mui-org/material-ui/blob/ac58d7b2c070cbd3d3df835063f56feed4944147/examples/nextjs/pages/index.js#L73

[2018-02-01 06:56] credifiable commented on #9640
@bendiy - But shouldn't this behaviour be consistent for a given setup? I mean, with same version of npm, node, and packages? On a separate note - Are you suggesting to change the sequence of application of HOCs(Higher Level Components) in this case? Example: `withStyles(styles)(withRoot(Index))`?  Haven't tested it though!

[2018-02-01 07:29] bendiy commented on #9640
@credifiable
I know `export default withRoot(withStyles(styles)(Index)); ` works on the index.js page. If you switch it to something like this, it can cause the error: `export default withStyles(styles)(withRoot(Index));` or `export default withStyles(styles)(Index);`.

I'll try to make an example tomorrow.

I've seen it twice now, months apart, and it has something to do with the call order (or l

[2018-02-01 08:00] cvanem opened #10123 "[Tab] TabIndicator z position is the same as the tab label and icon"
## Summary
I find it to useful to have a tab selector that has a full height TabIndicator that does not block the tab's icon and label.  This can be accomplished in userspace by overriding the classes below, but is there any reason that the TabIndicator position should not be behind the icon and label by default? Possibly even go as far as having a tabIndicatorFullHeight option on the Tab componen

[2018-02-01 08:35] Romainpetit commented on #10107
Your sandbox example shows basic tabs usage, without badge.
I ended up using the `icon` prop of the tab to inject an empty `Badge` in a `Tab` :

      <Tabs
          <Tab label="Tab with badge" icon={<Badge badgeContent={2} color="error"></Badge>} />
      </Tabs>

[2018-02-01 08:46] klis87 commented on #7888
I still confirm this issue, using `material-ui: 1.0.0-beta.17`. Below snippets solved this for me:
[code]
but using `mountOnEnter` shouldnt really be necessery here.

[2018-02-01 08:46] iabotsiTC commented on #7442
@mbrookes : What are the benefits of using `#root { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }` over `html, body { height: 100%}`?

[2018-02-01 09:22] oliviertassinari commented on #10120
Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/v1-beta/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-02-01 09:22] #10120 closed

[2018-02-01 10:11] mbrookes commented on #7888
https://github.com/mui-org/material-ui/blob/v1.0.0-beta.31/CHANGELOG.md#100-beta18

[2018-02-01 12:30] oliviertassinari commented on #7888
@klis87 Upgrade, the issue should have been fixed along the way. You are quite behind.

[2018-02-01 12:31] oliviertassinari commented on #10113
@nharrisanalyst Feel free to submit a pull-request :).

[2018-02-01 12:41] christophediprima opened #10124 "Component Render API?"
When using a third party Link component in a button. The animation that should cover the entire button is interrupted because of the re-rendering of the custom Link component.

[2018-02-01 12:41] oliviertassinari commented on #7402
@mgsakata It's expected:
[code]

[2018-02-01 12:42] klis87 commented on #7888
Apologies, I pasted version of `material-ui-icons`, my mistake. I have almost the newest version -`1.0.0-beta.30`, I will upgrade to `.31` to see whether it is working.

[2018-02-01 12:46] oliviertassinari commented on #7888
@klis87 Feel free to open an issue if you have a reproduction example with the latest version of Material-UI :).

[2018-02-01 12:48] oliviertassinari commented on #10124
@christophediprima A live reproduction example would have been great. I do think I know the origin of what you are describing. I have already experienced it. If you create a new component in the render lifecycle, it will get unmounted during the next render. You need to move the component creation outside. I want to look into a component render API in the future to prevent this issue.

[2018-02-01 12:57] oliviertassinari commented on #10123
@cvanem We don't rely at all on the `z-index` for the Tab component.

I don't expect this behavior. It's counter-intuitive to me. What if people want to change the background color? The indicator will no longer be visible.
![capture d ecran 2018-02-01 a 13 57 06](https://user-images.githubusercontent.com/3165635/35679558-d90cf004-0757-11e8-9dba-d3407d9b51ff.png)

[2018-02-01 12:57] #10123 closed

[2018-02-01 13:00] oliviertassinari commented on #10122
There is no light or dark version of the icon components. The color of the icon is inherited from the parent:
https://github.com/mui-org/material-ui/blob/c452548d8729a411ae7bcc8dadbff3c46763a8dd/src/SvgIcon/SvgIcon.js#L10

[2018-02-01 13:00] #10122 closed

[2018-02-01 13:01] oliviertassinari commented on #10121
@Nevulus I believe it's a regression introduced in beta.31.

[2018-02-01 13:07] cvanem commented on #10123
The indicator would be in front of the background color, but behind the text and icon.  Am I looking at this wrong?  Here is how I have it setup:
![tabindicators](https://user-images.githubusercontent.com/24579103/35679845-babfb0d8-0715-11e8-93e4-64b7aad1ce30.png)

Anyway, not a big deal as it can be implemented via class overrides.

[2018-02-01 13:18] oliviertassinari commented on #9997
I'm adding this issue to the priority list for post v1. I agree. The community needs a simple component for 80% of the use cases.

[2018-02-01 13:22] sebald commented on #10124
Ran into this last week, I assume this is the same issue @christophediprima has.
Here is a sandbox for you: https://codesandbox.io/s/pk971py22x 🙂

Although, I am not sure if this really is MUI's fault. It's just doing you what you tell it to do. Passing an inline function to the `component` prop isn't great. The same is true for event handlers like `onClick`. It causes (unnecessary) re-renders.

T

[2018-02-01 13:23] sebald commented on #10124
If people run into the above, I suggest updating the documentation -> https://material-ui-next.com/demos/buttons/#third-party-routing-library

[2018-02-01 13:27] sebald commented on #9526
@ajay2507 They have it on their official components: https://material-components-web.appspot.com/button.html

[2018-02-01 13:29] LAITONEN opened #10125 "Event of FlatButton is not being passed to the event handler"
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Whenever a FlatButton is clicked, the event handler should receive the event object of the button.

## Current Behavior

Instead it receives the event object of a child span.

## Steps to Reproduce (for bugs)

1. Open: https://codesa

[2018-02-01 13:30] oliviertassinari commented on #10124
@sebald I agree. Do you want to take care of it? :)

[2018-02-01 13:32] christophediprima commented on #10124
Thanks guys! You are too kind! Sorry about this... I was on a hurry and I just wanted to ping if someone had the same issue... Shame on me!

[2018-02-01 13:36] mbrookes commented on #9526
Not sure where the "Expected Behavior" gif originates, but the spec shows a ripple: https://material.io/guidelines/components/buttons.html#buttons-flat-buttons (scroll to behavior).

[2018-02-01 14:09] sebald commented on #10124
@oliviertassinari Will do! ... feeling bad for not contributing to MUI anymore anyway 😇

[2018-02-01 14:13] klis87 opened #10126 "Child of Fade with in={false} visible on mount"
References #7888

I have a below snippet:
[code]
Initially on load `this.state.scrollVisible` is `false`, but `ScrollTopButton` is visible anyway. After showing/hiding, it starts to work correctly, only initial load with `in={false}` is broken.

Adding `mountOnEnter` prop helps, but shouldn't be required.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this re

[2018-02-01 14:13] klis87 commented on #7888
This is exactly what I did :)

[2018-02-01 14:19] sebald commented on #10124
@oliviertassinari I wonder where to put this information. Since re-rendering will always happen if people use an inline function for the `component` prop. Maybe [this](https://material-ui-next.com/guides/composition/) is a better place? And add a link to the button demo to the composition document?

Side note: I stumbled upon this when I wrote a wrapper/an abstraction that enforced some usage cons

[2018-02-01 14:38] rogovdm opened #10127 "[Stepper] Page not found for StepIcon"
https://material-ui-next.com/api/step-icon
https://material-ui-next.com/api/step-connector

Page not found

And for now I am getting Error 503 first byte timeout, but not sure if that is not temporaly for this pages:
https://material-ui-next.com/api/step-position-icon
https://material-ui-next.com/api/step-label

[2018-02-01 14:40] oliviertassinari commented on #10124
@sebald I was thinking of something like:
[code]

Yeah, I haven't thought about this one. It's a great idea 👍 .

[2018-02-01 16:32] TroySchmidt commented on #10112
@mbrookes bump.  I am deep in a project deadline or I could put together a shareable example.

[2018-02-01 17:59] TroySchmidt opened #10130 "WithTheme missing from exports from default material-ui"
```WithStyles``` is available in TypeScript from ```material-ui``` when importing, but ```WithTheme``` is missing and has to be imported from ```material-ui/styles/withTheme``` directly instead.  To use TypeScript effectively, ```WithTheme``` type is needed so it should be as available as ```WithStyles```.

[2018-02-01 18:54] hessamnadr opened #10131 "change style of tabIndicator"
I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Context
for change color and position of tab indicator (ink bar) in tabs haven't props or classes or another parameter. I search my problem on issues and  StackOverflow but not find a solution for this.

| Tech         | Version |
|--------------|---------|
|

[2018-02-01 19:02] xiaoouLi opened #10132 "Why customized className cannot override original component class (e.g. .jss1 .jss2)"
Hi there,

I added a className to Tabs component to override the original min-height property in css, while it doesn't work unless I add "!important" to that property.

The jsx is as following:
`
            <Tabs
              className={styles.tabsRoot}
              classes={{
                scrollingContainer: styles.tabsScrollingContainer
              }}
              value={activeTab}

[2018-02-01 19:43] oliviertassinari commented on #10132
Please refer to this part of the documentation: https://material-ui-next.com/customization/css-in-js/#css-injection-order.

[2018-02-01 19:43] #10132 closed

[2018-02-01 19:45] oliviertassinari commented on #10131
tips, you can use the `indicatorClassName` property.

[2018-02-01 20:35] mbrookes commented on #10112
@TroySchmidt Is the concern that these components don't scale the text with respect to `theme.typography.fontSize`? I'm not sure what the intention was with that key, but support for it seems pretty sketchy:

<img width="851" alt="image" src="https://user-images.githubusercontent.com/357702/35701462-0032ab48-078e-11e8-8f82-7658f39caa8e.png">

However if you set the font-size on the `<html>` elemen

[2018-02-01 20:59] #10112 closed

[2018-02-01 21:24] marie-hughes commented on #4384
They don't for me either.

[2018-02-01 21:38] #10127 closed

[2018-02-01 22:05] Mycroft1891 commented on #7186
I would like to add that when used with a RaisedButton you have to use the `containerElement` prop:

[code]

[2018-02-01 22:13] strayiker opened #10134 "disableRipple property breaks the Button"
\<Button disableRipple /\> throws an exception when the KeyDown event triggered.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Pressing the spacebar over keyboardFocused button should`t lead to exception.

## Current Behavior
https://github.com/mui-org/material-ui/blob/c17d66e187

[2018-02-01 22:15] oliviertassinari commented on #10134
@strayiker This is a nice finding! Would you mind adding a test and the missing logic? :)

[2018-02-01 22:56] strayiker commented on #10134
Done

[2018-02-01 23:13] caub commented on #7956
@zhangwei900808 No, that's still wrong semantically, it generates `<ul><a ..>...`
https://codesandbox.io/s/lpwq74p30m

[2018-02-01 23:31] #10134 closed

[2018-02-01 23:35] oliviertassinari commented on #10126
@klis87 Thank you for the reproduction example!

[2018-02-01 23:38] #10126 closed

[2018-02-02 00:08] strayiker opened #10139 "Small button with icon not looks like a small"
[Here](https://codesandbox.io/s/vy79r048z5) small button is small.
But [here](https://codesandbox.io/s/rw1mky9prp) it looks like a medium size button.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Button with size="small" looks smaller then medium size button, independently by co

[2018-02-02 00:34] waynepan commented on #9287
Using react hot loader v4 (possibly 3), I think this can be solved by moving the MuiThemeProvider one level up. eg
`  render(
    <MuiThemeProvider theme={theme}>
      <App />
    </MuiThemeProvider>, document.getElementById('app'))`

Then having <App /> be the hot reload root component.

[2018-02-02 01:06] pelotom commented on #10022
You don't want to use `{}` if you actually have non-empty props. You should either write

[code]

or, if you're including `classes` in your props, you can write

[code]

The second problem you have is that you're making `classes` required in your props; they should be optional:

[code]

[2018-02-02 02:58] gnapse commented on #7186
`RaisedButton` is from the old version of this library. This is now achieved with `<Button raised>` and it does not need or even have the `containerElement` prop.

[2018-02-02 06:31] klis87 commented on #10126
@oliviertassinari Thanks for quick fix and ... decreasing bundle size :D

[2018-02-02 06:38] xiaoouLi opened #10141 "Wrong behavior for onChange event for Tabs?"
Hi there,

I got something wrong when I'm writing test cases with enzyme.

My source file is like following:
Let's say I have two tabs A and B, and two corresponding contents cA and cB.
Both A and B are Components, not simple DOM.
A is the default tab.

In the test file, I can successfully do wrapper.find('A') at this point.
Then I click tab B (by simulate method of enzyme), the onChange event han

[2018-02-02 09:55] #10141 closed

[2018-02-02 10:06] oliviertassinari commented on #10139
Yes, it's on purpose.

[2018-02-02 10:19] mbrookes commented on #10139
Due to the icon size:

<img width="109" alt="image" src="https://user-images.githubusercontent.com/357702/35728135-7b079fee-0802-11e8-8c2a-dc6ec8ad2b6a.png">

[2018-02-02 11:25] fionaDawn commented on #1534
@johnnyPescarul you have to set "exact" to point to exact route. e.g.
`<ListItem button component={NavLink} exact to={to} activeClassName={classes.active} >. . .`

[2018-02-02 11:36] JohannesLamberts commented on #10022
Thanks again for your reponse!

Unfortunately, the attempt to mark `classes` as optional doesn't work (at least in my environment).

[code]

Typeof Test provides no match for the signature `(props: TestProps & WithStyles<"root">): ReactElement`, because `classes` is now required in `WithStyles<"root">`, but optional in TestProps.

If I mark `classes` optional in `WithStyles<>`, the compiler still

[2018-02-02 13:02] oliviertassinari commented on #10139
I have already been thinking of adding such support when working on the size property. It's introducing extra complexity in the render method of the Button—you can find the same type of complexity in the IconButton—that I don't think it's worth adding.

[2018-02-02 13:03] oliviertassinari commented on #10139
[code]

[2018-02-02 13:04] oliviertassinari commented on #10139
@strayiker Does that solve your issue?

[2018-02-02 13:17] strayiker commented on #10139
@oliviertassinari Yes, it solves the problem. But the property is a little misleading, i think. Without reading the documentation, I would like to use it like this: fontSize="1.2em" or fontSize={1.2}; to make the icon little bit bigger.

[2018-02-02 13:19] oliviertassinari commented on #10139
@strayiker I'm open to name suggestion. `sizeFont`?

[2018-02-02 13:23] strayiker commented on #10139
Maybe leave it with `fontSize`  name, but allow to pass true/false/units?

[2018-02-02 13:40] mattspeller commented on #9243
I can confirm with @oliviertassinari  that mockPortal.js solves this issue. (not all issues trying to snapshot a material-ui dialog, but this particular one)

[2018-02-02 14:10] caub commented on #1404
@mariotacke see https://github.com/mui-org/material-ui/issues/7956#issuecomment-362433602

[2018-02-02 14:16] caub commented on #7956
@oliviertassinari Would there be an easier way to do:
[code]

Because this is cumbersome

demo: https://codesandbox.io/s/nk834yk5pl (not using `component={Link} to="/..."` but that's the same)

[2018-02-02 15:48] RavenHursT commented on #4151
I've started a request thread to have something to solve this entered into the MUI spec.  There's clearly use cases for this kind of single data-point interface, and since we're all trying to follow MUI's spec, it would be good to have it added so we can all get on the same boat, so to speak: https://github.com/material-components/material-components-web/issues/2042

[2018-02-02 17:09] phallguy commented on #9941
Filed initial PR #10144

[2018-02-02 17:48] xiaoouLi commented on #10141
I think this is probably a defect in material-ui, isn't it?

[2018-02-02 18:00] ianschmitz opened #10146 "[typescript] Can't pass partial BackdropProps to Modal component"
During the revamp in #9613, the various Modal Backdrop props were consolidated into `BackdropProps`. This is a great improvement, however the TypeScript declaration file specifies `BackdropProps?: BackdropProps` in the Modal props. This becomes an issue since `BackdropProps` has a required `open` prop, which makes it a little clunky to use from the context of a Modal component.

I propose we chang

[2018-02-02 18:15] mbrookes commented on #9306
There was a discussion on twitter this week on why you *shouldn't* have a delay, but I only skimmed it on mobile, and I can't find despite trawling the tweet history of likely suspects. Regardless, some devs want to do this, and clearly Jakob Nielsen thinks it's a good idea, so I've added @pelotom's clever solution to the docs.

[2018-02-02 20:48] oliviertassinari commented on #7956
@caub Why are you introducting an extra Button component? You can use the component property on the MenuItem.

[2018-02-02 22:41] pelotom commented on #10022
@JohannesLamberts does this not work for you?

[code]

[2018-02-02 23:30] caub commented on #7956
@oliviertassinari because `ul > a` isn't valid html5 https://codesandbox.io/s/lpwq74p30m

[2018-02-02 23:33] oliviertassinari commented on #7956
@caub `nav > a` is.

[2018-02-02 23:34] caub commented on #7956
Ok, thanks, fine https://codesandbox.io/s/lpwq74p30m

[2018-02-03 00:17] #9306 closed

[2018-02-03 00:21] darieldejesus commented on #4956
If someone comes to this issue and is looking for a Material-UI menu with only icons, you can follow the following approach:
[code]
As you can see, I haven't use `<MenuItem />`. Instead, I imported the **icons** I wanted to show (IconGooglePlus, IconFacebook, IconYoutube) and I added them as children of the `<Menu />` component.

As the documentation says:

As you can see, it never says you ***hav

[2018-02-03 00:58] braco commented on #2777
To any readers, @dukuo's answer doesn't seem possible now, and only <path /> works.

[2018-02-03 02:25] bendiy commented on #9640
Here's how I'm able to recreate this issue. Working with two examples here:
The Next.js example MUI provides:
https://github.com/mui-org/material-ui/blob/ac58d7b2c070cbd3d3df835063f56feed4944147/examples/nextjs/pages/index.js#L73
Adding in the Next.js Auth0 example here:
https://github.com/luisrudge/next.js-auth0/blob/master/pages/index.js#L89

I get the rendering bug if my `index.js` line is:
[co

[2018-02-03 02:33] bendiy commented on #9640
This is the error I get in the browser console:
[code]
It renders fine the first time after restarting the next.js server. If I then refresh the browser, It looses it's style and renders weird and throws the error.

[2018-02-03 05:19] ralphsmith80 commented on #4671
I'm noticing this with expansion panel on 1.0.0-beta.31.

Setting `CollapseProps={{style:{ overflow: 'visible' }}}` fixes the tooltip issue but cause the content to not be hidden when the panel is collapsed.

Here's a [codesandbox example](https://codesandbox.io/s/4wjxpz8lyx)

I agree with the @octavioamu assessment that

Is it worth filing a new issue for this in v1 or is it on the roadmap alread

[2018-02-03 08:00] lhuria94 opened #10148 "Passing Textfield component inside Radio Button group breaks"
I am trying to render Textfield inside RadioButtonGroup but it seems like it's not possible.
The implementation I want is kind of like this:

[code]
Let me know if anyone has a solution to achieve this.

| Tech         | Version |
|--------------|---------|
| Material-UI  |     0.19.4    |
| React        |     15.6.2    |
| browser      |    Chrome     |

[2018-02-03 08:14] JohannesLamberts commented on #10022
@pelotom that doesn't work in my environment, unless I:
- set `--strictNullChecks=false` - what makes sense, since the classes property is (as I woud say) in fact required by the Test-Component. ( If you'd use the Component directly without setting the classes-property I would expect runtime errors. ) - this avoids the compiler error `Object is possibly 'undefined'`
- change withStyles.d.ts as fol

[2018-02-03 11:06] andreacornaglia commented on #9511
Happy to help with any Spanish/Portuguese translations if needed as well!

[2018-02-03 11:45] oliviertassinari commented on #10146
@ianschmitz I think that we should be using this pattern everywhere. Yes please. Let's change it! 🙏

[2018-02-03 12:51] mbrookes commented on #9436
@estaub It bothers me too. Do you fancy having a crack at fixing it?

[2018-02-03 12:56] mbrookes opened #10153 "[docs] Add Transitions section"
In addition to demos for the transition components, it should including a note about delaying the animation. (https://github.com/mui-org/material-ui/pull/10151#issuecomment-362803481)

[2018-02-03 14:15] halafi opened #10154 "[TextField] broken dateTimePicker in firefox"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Working dateTimePicker in Firefox on demo page.

https://material-ui-next.com/demos/pickers/#pickers

## Current Behavior

![ohwell](https://user-images.githubusercontent.com/5550440/35767890-43029dd6-08f4-11e8-9fb1-649919e4ef41.png)

[2018-02-03 14:25] vivektiwary opened #10155 "There is no way to make transparent DropDownMenu"
When I am using DropDownMenu and as `menuStyle` I am setting transparency but it is being set for a div whose role is `menu` but a "div" above that is actually controlling the transparency.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Make the Menu transparent

## Current Behav

[2018-02-03 16:05] oliviertassinari commented on #10154
Firefox doesn't support `type=datetime-local` https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local. Please refert to #4787

[2018-02-03 16:05] #10154 closed

[2018-02-03 16:34] oliviertassinari commented on #9483
Bootstrap removes the overflow once the element is entered.

[2018-02-03 16:57] oliviertassinari commented on #9640
@bendiy It's the sign your class name generator is shared between different request. Don't do it.

[2018-02-03 17:09] oliviertassinari commented on #10139
@strayiker I see two options going forward.
1. We rename `type fontSize: boolean;` to `type sizeFont: boolean;`.
2. We remove `fontSize` and add a `size` property
[code]

I'm more in favor of 1. Your use case will be solved like this:
[code]

[2018-02-03 17:22] strayiker commented on #10139
The third option from this two looks good, in my opinion.

[2018-02-03 18:44] pelotom commented on #10022
@JohannesLamberts what version of TypeScript are you using? It works fine for me with TS 2.6.2.

[2018-02-03 21:04] #10121 closed

[2018-02-03 21:20] estaub commented on #9436
@mbrookes Sorry, no.

[2018-02-03 21:53] wsfuller commented on #6733
Still unable to get this to work

[code]

[2018-02-03 23:10] podeig opened #10159 "Menu component is not being closed after clicking outside of menu."
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
When I click outside of menu, it must be dissmised.

## Current Behavior
After update from 1.0.0.beta 21 to 1.0.0 beta 31 menu is not being closed after clicking outside of menu. I have to choose something from menu to go on. Otherwise

[2018-02-03 23:17] braco opened #10160 "Animated Submit Button"
Would something like this be worth building on top of material-ui as a third party module? All the components are here – some in the usage docs aren't too far off, it would just need to animate between states (I think?).

![Image](https://i2.wp.com/reactscript.com/wp-content/uploads/2017/01/Animated-Submit-Button-For-React-Native.gif?resize=350%2C200)

https://github.com/mathieudutour/react-progre

[2018-02-03 23:38] tqle commented on #10139
Question, is size specific to an icon font or to an svg icon? Icon fonts use fontSize. Does the svg icon uses the same size to scale width and height? Ideally properties should be semantic to the css property you are trying to do. I am still learning this framework so I don't know what your naming conventions are.

[2018-02-04 08:22] freb commented on #8963
Not sure if you want me to file a separate issue, but I just ran into something very closely related to this. When the drawer is closed, if you add content to the drawer, changing its height, the content will spill onto the screen. It's most noticeable on `anchor="bottom"`, but, also happens on side anchors (but you must add much more content before its manifests.

Here is a demo: <https://codesan

[2018-02-04 09:57] JohannesLamberts commented on #10022
@pelotom I'm using the same version.
I double checked and found out, that I was wrong about the second one (having to change withStyles.d.ts).
To show the failing build with `--strictNullChecks=true` I created a small [repo](https://github.com/JohannesLamberts/mui_withStyles/commits/master).
Did you successfully build with the same tsconfig? I'm using react-scripts-ts to build my application. I co

[2018-02-04 10:00] oliviertassinari commented on #10160
@braco I agree, I think that the building blocks of this component are present.
- CircularProgress
- Button
- theme.transitions
- Fade

![giphy 3](https://user-images.githubusercontent.com/3165635/35776326-7b67aa62-099a-11e8-9c69-e826a1378e02.gif)

[2018-02-04 10:00] #10160 closed

[2018-02-04 10:03] pelotom commented on #10022
@JohannesLamberts that repo it compiles for me under `--strictNullChecks` if I change

[code]

[2018-02-04 10:12] oliviertassinari commented on #10159
@podeig Check the breaking changes section of the documentation before upgrading. Also, check the warnings in your console.
[code]

[2018-02-04 10:12] #10159 closed

[2018-02-04 10:14] Vincz opened #10161 "Adding custom classes / style to Hidden component (css implementation)"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
A way to add custom classes to the Hidden "div" tag.

## Current Behavior
Unable to add custom classes to the generated div.

## Context
Trying to add an Hidden in a Toolbar.

## Your Environment

| Tech         | Version |
|----------

[2018-02-04 10:44] oliviertassinari commented on #10161
@Vincz I was wondering if somebody would raise this issue in future. Turns out yet. For predictability, with the other components that forward the properties on the root element, I'm happy with this change. Notice that the js implementation doesn't add any extra element, so it's irrelevant with it.

The fix can be as simple as adding the provided `className` in:
https://github.com/mui-org/material

[2018-02-04 11:48] Vincz commented on #10161
Sure :)

[2018-02-04 12:13] Vincz commented on #10161
@oliviertassinari Here it is :)
https://github.com/mui-org/material-ui/pull/10163

[2018-02-04 12:25] podeig commented on #10159
Nice! Thank you! onClose works. I'll check the documentation. :)

[2018-02-04 12:34] klis87 opened #10164 "Add MuiCard stylesheet to theme overrides"
Currently there are `MuiCardHeader` and `MuiCardContent` stylesheets available for overrides, there is not `MuiCard` though. I need to globally override Card top and bottom margins.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
[code]

## Current Behavior
Currently, this is how I

[2018-02-04 13:09] Vincz commented on #10161
Ok, so, the tests failed. In the PR, I join the `classNames` var so I the hidden `div` tag className props is a string and not an array. The tests assume that the className props is an array.
The problem is, as an array, the resulting of `className={["a","b"]}` is class=`"a,b"` which is incorrect.
Also, not sure if the custom classes should be prepend or append.
What do you think ?

[2018-02-04 13:12] Vandell63 commented on #9961
Hey, I got the same issue but my Chrome have the right version  Version 64.0.3282.119 (Build officiel) (64 bits). Any Idea ?

[2018-02-04 13:20] oliviertassinari commented on #9961
I have no clue.

[2018-02-04 13:29] Vandell63 commented on #9961
Ok find it ! It is cause by tsconfig.json. we need to specified the es6 instead es5.
[code]

[2018-02-04 16:15] oliviertassinari commented on #10161
The order doesn't matter.

[2018-02-04 18:58] braco commented on #10160
Thanks @oliviertassinari, will take a look at those.

[2018-02-04 19:21] #10161 closed

[2018-02-04 19:22] TroySchmidt commented on #10112
@mbrookes From what I was looking at ```FormControlLabel``` label class on the line referenced int the first post here had nothing set for the font.  So it wasn't ```rem``` at all.  It is just nothing.
Are what you saying is that higher that ```FormControlLabel``` the font is being set somewhere that isn't apparent since it has the ```label``` class that is empty?

[2018-02-04 19:32] oliviertassinari commented on #10164
The Card component doesn't come with any style:
https://github.com/mui-org/material-ui/blob/98e065e20bfedc52022ed464067b4ae701126b79/src/Card/Card.js#L28
So yes, you won't be able to use the `overrides` key.
I don't think that we should resolve this issue. I think that we should consider the `overrides` key a quick escape hatch. A wrapping component is the approach I would encourage people to use.

[2018-02-04 19:55] quirimmo commented on #9886
Any solution to this @tomanagle pls?
Having the same with `RaisedButton`

[2018-02-04 20:48] tomanagle commented on #9886
Can you please past your package.json here?

[2018-02-04 21:23] quirimmo commented on #9886
Thanks @tomanagle .
Here it is:
[code]

[2018-02-04 22:11] sambhav-gore opened #10166 "Change Request - Set typography color default to `inherit`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

This is a change request.
In My opinion, it would be helpful if the `color` prop of Typography is set to `inherit` by default.
It would also match expectation that when I set a color on a parent component then all children inherit the

[2018-02-04 23:15] JohannesLamberts commented on #10022
@pelotom: Ahhh sure, I missed that. Very sorry for taking your time.

[2018-02-04 23:15] #10022 closed

[2018-02-05 00:06] mbrookes opened #10168 "[Switch] Shadow doesn't match spec"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
![image](https://user-images.githubusercontent.com/357702/35783895-96d7b3ec-0a07-11e8-80a5-5b6464e39344.png)

https://material.io/guidelines/components/selection-controls.html#selection-controls-switch

MCW for comparison is somewhere

[2018-02-05 00:33] caub opened #10169 "IconButton doesn't work anymore with material-icons fonts"
Since 1.0.0-beta.30, there's this bug with `IconButton`: (it should display twice a `+` icon) (it works with 1.0.0-beta.29, ou can test in the codesandbox)
[code]
and
[code]

Currently, it displays "add +"

IconButton is missing `material-icons` css class:

generated html:
[code]

demo: https://codesandbox.io/s/38q8204lpq

| Tech         | Version |
|--------------|---------|
| Material-UI  |    1

[2018-02-05 02:50] ianschmitz commented on #10146
I'm on it (Y)

[2018-02-05 06:08] Flash619 opened #10171 "Drawer ignoring varient property. Blocking content when set to persistant or permenant."
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Drawer should be "at the same elevation as the content or background.". Only a temporary drawer should, as discribed, "opens temporarily above all other content until a section is selected.".

## Current Behavior

The Drawer blocks al

[2018-02-05 07:52] barbalex opened #10172 "really good job"
Hi guys

Just a big thank you for this great project.

I am enjoying v1.

Love your release notes and the way I am informed about new releases when visiting the docs.

Great stuff!

[2018-02-05 07:52] #10172 closed

[2018-02-05 07:53] urkopineda opened #10173 "[AppBar] Title typography is too small"
I have updated my app to the latest beta and now the typography of the title in the AppBar has changed. [In this demos](https://material-ui-next.com/demos/app-bar/) the title is shown correctly, but if you open them in the code sandbox the title [looks like this.](https://codesandbox.io/s/mj111k223y)

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this reposit

[2018-02-05 08:20] #10146 closed

[2018-02-05 08:24] oliviertassinari commented on #10169
You have missed this first breaking change note here: https://github.com/mui-org/material-ui/releases/tag/v1.0.0-beta.31.

[code]

[2018-02-05 08:24] #10169 closed

[2018-02-05 08:26] oliviertassinari commented on #10168
Also to benchmark with the other implementation to find the best shadow index to use:
https://github.com/mui-org/material-ui/blob/0f4b8a9dd32612b4fffe8d552c73f1526460f996/src/Switch/Switch.js#L34

[2018-02-05 08:31] oliviertassinari commented on #10173
Upgrade to 1.0.0-beta.32, your demo is using 1.0.0-beta.31. https://codesandbox.io/s/1ym14opk04

[2018-02-05 08:31] #10173 closed

[2018-02-05 09:37] leMaik commented on #10168
Here is what the Switch looks like in Android 7.1:
![image](https://user-images.githubusercontent.com/5544859/35797600-7a56568e-0a60-11e8-92cf-31cb8bd802e7.png)

Looks like z-index = 1 or 2 to me. :thinking:

[2018-02-05 09:46] snk5000 opened #10174 "Multiline Inputs are broken after commits on Feb 4, 2018"
Hello, after commints on Feb 4 2018 all multiline inputs stopped to resize properly.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
When user adds a new row to multiline field it resizes it's height to fit the text and cursor moves to the new row.

## Current Behavior
When user ad

[2018-02-05 10:46] mbrookes commented on #10168
Oh, good catch.

We could add a `variant` prop, but I'm not sure that the difference is significant enough to warrent it.

[2018-02-05 10:47] leMaik commented on #10168
I'd stick to the Android implementation then. I may create a PR later.

[2018-02-05 10:59] oliviertassinari commented on #10168
@mbrookes I don't think people care much about this. What about following https://material-components-web.appspot.com/switch.html ?

[2018-02-05 11:10] leMaik commented on #10168
@oliviertassinari That's esentially the Android version minus different elevation. :wink:

[2018-02-05 11:28] mbrookes commented on #10168
@oliviertassinari I think you're agreeing with me then.

Android is closer to the spec. Lets go with that as @leMaik suggested.

[2018-02-05 11:51] Aetherall opened #10175 "Disable classname generation for the whole app"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

On the server :
The classname generation should occur once

On the client:
The classname generation should occur once

Both classnames generation should match

#### ===========

I should be able to avoid using MuiThemeProvider at the

[2018-02-05 12:07] oliviertassinari commented on #10175
You are not, you can use the context or forward the property down the React tree manualy. I'm personaly using the second approach.

[2018-02-05 12:10] oliviertassinari commented on #10175
You can provide a fake jss instance.

[2018-02-05 12:13] oliviertassinari commented on #10175
I start to think that we are going to need our own `JssProvider`.

[2018-02-05 12:18] oliviertassinari commented on #10174
Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/v1-beta/examples/create-react-app) _may_ be a good starting point. Thank you!

[2018-02-05 12:18] #10174 closed

[2018-02-05 12:24] oliviertassinari commented on #10171
I'm surprised there is no warning in the console.

[code]

[2018-02-05 12:24] #10171 closed

[2018-02-05 12:27] #10164 closed

[2018-02-05 12:27] Aetherall commented on #10175
So you suggest add a middleware component which get a custom disableStylesGeneration from context and pass it to the MuiThemeProvider ?

It seems ok to me but given the number of users, some would get confused by the additionnal step

Maybe add a walkthrough in the doc should be something to consider

In fact I am not using yet multiple MuiThemeProvider, but I might want to in the future

I starte

[2018-02-05 12:39] oliviertassinari commented on #10166
@sambhav-gore I believe it's already the case.

I have been auditing my code base. I have found the following occurrence:
- No color: 108
- `color="inherit"`: 23
- `color="primary"`: 0
- `color="secondary"`: 0
- `color="error"`: 0
- `color="textSecondary"`: 0

So I'm against this change.

[2018-02-05 14:47] Vandell63 opened #10177 "React-Select. I can't remove chips from a mobile device"
If you turn on your browser to mobile mode you will see that the delete button from the chips of the 'React-Select' component do not trigger. I investigate and i though that it come to the React-select library... not sure. Can you check this ?

[2018-02-05 15:11] damaniosif commented on #10171
what is the fix for this?

[2018-02-05 15:17] Flash619 commented on #10171
@damaniosif I had miss spelled literally every important property for this functionality.

[2018-02-05 15:49] liamm12 commented on #4585
@aahan96  that way doesn't make any sense for react it will reload the page. the simple you you can just import NavLink from react-router-dom

`<li><NavLink to="/login"> <FlatButton label="login" style={{top: -7}} /></NavLink></li>`

[2018-02-05 16:11] sarayE commented on #4472
I had the same issue --> found that the 'materialize.min.css' caused it.
Remove the link from the index.html

[2018-02-05 17:48] phsantiago commented on #10113
@oliviertassinari thanks for the feedback, I would like to solve this. My main ideia is to apply id in input only when is a checkbox/radio/switch.

[2018-02-05 19:01] caub opened #10178 "[MobileStepper] bug/regression for variant="progress"?"
It looks broken https://material-ui-next.com/demos/steppers/#mobile-stepper-progress, the progress is indeterminate instead of at a given step

[2018-02-05 19:05] oliviertassinari commented on #10178
@caub Thanks for raising the issue. Yes, it's a regression. It should be `variant`, not `mode`.
https://github.com/mui-org/material-ui/blob/0f4b8a9dd32612b4fffe8d552c73f1526460f996/src/MobileStepper/MobileStepper.js#L92

[2018-02-05 20:40] wendyperalta opened #10182 "SVG icons throw a warning: Received `true` for a non-boolean attribute `fontSize`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+fontSize) of this repository and believe that this is not a duplicate.

## Expected Behavior
There shouldn't be a warning when importing an svg icon. Or if there should be, please update docs to reflect the correct way of rendering the SVG icon in our code. Currently the docs don'

[2018-02-05 20:45] freb opened #10183 "[Drawer] persistent=true open=false, component visible after adding props/children that increase size"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

This issue is similar to #8963, to which I added a comment. If children are added to a drawer where `persistent=true`, the component will spill onto the page.

The component position should update automatically in order to stay hidden

[2018-02-05 20:51] oliviertassinari commented on #10183
Yes, I was referring to this pattern for the `Slide` component:
https://github.com/mui-org/material-ui/blob/2f99330ce6a38c34da33bd0f1882bb6e8800f84b/src/Tabs/Tabs.js#L368-L376

[2018-02-05 21:03] oliviertassinari commented on #10182
@wendyperalta You are suffering from a bundle duplicated module:
- `material-ui-next`
- `material-ui-icons` that is importing `material-ui`

Upgrade everything and you should be good.

[2018-02-05 21:03] #10182 closed

[2018-02-05 21:04] #10072 closed

[2018-02-05 21:59] leMaik commented on #10168
@oliviertassinari Not exactly, your diff would make it match MCW, my PR makes it match Android behavior. :thinking:

[2018-02-05 22:03] #10177 closed

[2018-02-05 23:35] #10168 closed

[2018-02-06 03:48] Flash619 commented on #10171
@oliviertassinari Based on your fix, which did fix the dark overlay, the drawer is still opening above the content. How would you get the drawer to 'squeeze' the content to the right side instead of floating above it?

[https://codesandbox.io/s/z6y569o1jx](Another Code Sandbox Link)

[2018-02-06 08:24] cyrus-za commented on #8032
@dmbaranov sorry my bad. I meant to say @oliviertassinari. I updated it now.

@oliviertassinari Stackoverflow is not the right place for this as this is a compatibility issue.

See https://github.com/styled-components/styled-components/issues/1282 and https://github.com/styled-components/styled-components/issues/1146

[2018-02-06 08:45] nitkapawel opened #10189 "material-ui-icons-next wrong peerDependencies"
Currently I'm using material-ui v0.20 and I want start the migration to v1.
As it is written on the page: https://material-ui-next.com/guides/migration-v0.x I've installed the package material-ui-next to have to versions of material-ui (npm install material-ui-next).

Now I want to use material-ui-icons package.
So my idea was to install the material-ui-icons-next that analogous should have the de

[2018-02-06 09:12] #10083 closed

[2018-02-06 09:15] oliviertassinari commented on #8032
styled-components interoperability with Material-UI is documented under this page: https://material-ui-next.com/guides/interoperability/#styled-components.

[2018-02-06 09:18] oliviertassinari commented on #10189
This issue will be solved once we release Material-UI under a new npm organization in #9673. We will be able to close #9469 too.
Current workaround: https://github.com/mui-org/material-ui/pull/8473#issuecomment-333472103

[2018-02-06 09:37] #10178 closed

[2018-02-06 09:56] Dazorn96 opened #10191 "[AppBar] Svg-Icon color not suitable for lightBaseTheme"
Hello, I have the following AppBar component built in **AppBarTop.js**
[code]
It is called after in **App.js** to render the _MuiTheme_
[code]
I should expect a _lightBaseTheme_ AppBar with a **NavigationMenu** icon on the left and an **ActionAccountCircle** on the right. That's right!
But I shouldn't expect the right-one icon ** colour is black** (i expect white).

![image](https://user-images.gi

[2018-02-06 10:03] PDXIII commented on #8498
Your suggested approach seems not to work anymore. When I try to follow it I get the desired result but with nasty error messages:

[code]
Any suggestions how to add own type styles tat can be used in the way like yours:

[code]

Thank you in advance showing me the right direction.

[2018-02-06 10:12] oliviertassinari commented on #8498
@PDXIII I have updated the example. But I believe you didn't copy paste the example in the first place.

[2018-02-06 10:50] Apollinaire opened #10192 "[docs] Typography demo is not in the menu of the V1 docs but the page exists"
The [Typography demo page](https://material-ui-next.com/style/typography/) is not in the menu under the component demos tab, even though the page exists. I've found it from the typography api page.
Adding it to the menu will make this content available for people!

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a du

[2018-02-06 11:17] nitkapawel commented on #10189
Ok, I still have a problem with that.
My current situation:
In package.json I have:
[code]

My whole app is based on v0.20, but I want to migrate all icons to material-ui-icons-next and I'm using them like this:
[code]

And now, after the build on Bamboo I have an error:
`npm ERR! peer dep missing: material-ui@^1.0.0-beta.16, required by material-ui-icons-next@1.0.0-beta.17-next`

On the beginning

[2018-02-06 11:56] oliviertassinari commented on #10192
![capture d ecran 2018-02-06 a 12 55 56](https://user-images.githubusercontent.com/3165635/35858539-187eeb32-0b3d-11e8-9789-64d2b75e4ef9.png)

@Apollinaire The documentation tries to follow the folder organization of [the official specification](https://material.io/guidelines/). The search bar is a great way to discover content.

[2018-02-06 11:56] oliviertassinari commented on #10192
I don't think that we should reorganize it. cc @mbrookes

[2018-02-06 11:58] oliviertassinari commented on #10189
I'm closing the issue as the pain point was solved temporarily with #9469. No need to keep it open.
Why don't you do?
[code]

[2018-02-06 11:58] #10189 closed

[2018-02-06 12:19] jboron commented on #5286
This is my solution

**table.component.html**
[code]

**table.component.scss**

[code]

[2018-02-06 12:32] nitkapawel commented on #10189
There is no matter if I'm using material-ui-icons-next or material-ui-icons.
Problem appears during npm install...

`npm ERR! peer dep missing: material-ui@^1.0.0-beta.16, required by material-ui-icons@1.0.0-beta.17`

So the error is saying that im missing material-ui@^1.0.0-beta.16
but I have this package but on the other name (material-ui-next like it was recommended in docs).
So in my opinion i

[2018-02-06 12:56] oliviertassinari commented on #10189
@nitkapawel I used to have this warning too. It's should be temporary the time of the migration. At the end of the day, it's a warning reminding you to complete the migration. It's not a blocker.

[2018-02-06 12:57] oliviertassinari commented on #10189
This would suppress the warning. But I'm note sure it's a good thing.
Especially given the situation is already pretty ugly with:
[code]

[2018-02-06 13:19] Spooner commented on #10191
Try:
[code]

[2018-02-06 13:31] Dazorn96 commented on #10191
@Spooner doesn't work.

[2018-02-06 13:38] Apollinaire commented on #10192
OK, I did not see that it was included in this section of the menu, my bad. I thought it was a component so intuitively I thought it would be in the component Demo section.
I'm closing the issue, sorry for bothering you for nothing!

[2018-02-06 13:38] #10192 closed

[2018-02-06 13:55] Spooner commented on #10191
Ah sorry, it works that way in 1.0.0 - didn't notice you were using the older Appbar stuff.

[2018-02-06 13:59] oliviertassinari commented on #10083
@mbrookes has added an example. It's illustrating how one can use a global logic to solve the problem. You will most likely have to make you state management logic aware of it.

[2018-02-06 15:26] fatso83 opened #10193 "MenuItem seems "selected" after deselect on touch devices"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
I expect that a menu item on a touch device should function approximately the same as on desktop: when a selected item is clicked (touched) the darkened background should turn white (at some point - after finishing the transitions).

#

[2018-02-06 16:17] KINKCreative opened #10194 "Cannot resolve dependency '../Subheader' on normal build"
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
I do not use any Subheader elements in my project. Bundling the project should throw no errors.

## Current Behavior
Bundling the project folder, without Subheaders being used anywhere, throws the below error:
[code]

## Steps to Rep

[2018-02-06 17:25] carlgunderson commented on #8458
@rdegorter I'm having this issue and rather than updating our somewhat complex build process, I simply grabbed the SVG code for each icon I'm using directly from material-ui-icons and dropped that into my components in place of named `import`s. This doesn't solve the issue, which could still manifest itself in more impactful ways, though.

[2018-02-06 17:58] storiesofjerry commented on #7870
Install material-ui using this command :

`npm install material-ui@latest`

[2018-02-06 19:04] leMaik commented on #10191
You can use the `muiThemeable` HOC and use `context.muiTheme.appBar.textColor` as the icon color.

E.g.:

[code]

[2018-02-06 19:06] leMaik commented on #10166
You could create a very simple wrapper for that: `const InheritColorTypography = (props) => <Typography color="inherit" {...props} />`

[2018-02-06 19:06] leMaik commented on #10166
@sambhav-gore

You could create a very simple wrapper for that: `const InheritColorTypography = (props) => <Typography color="inherit" {...props} />`

[2018-02-06 19:42] sambhav-gore commented on #10166
@leMaik this is a good suggestion, I didn't even think about it.

[2018-02-06 19:59] caub commented on #8726
I'd just wrap `withStyle`

[code]
demo: https://codesandbox.io/s/k2y01rj3w7

[2018-02-06 20:02] oliviertassinari commented on #10166
@sambhav-gore We are personally wrapping ~30 components from Material-UI on my project in order to apply some small tweaks. It's IMHO the best approach to follow. I don't think that the component overhead has much impact in from the JavaScript VM perspective.

The main issue with the wrapping pattern is really about educating the team to use the "right" version of the components. I don't have a go

[2018-02-06 20:02] #10166 closed

[2018-02-06 20:06] jiminy-billy-bob opened #10197 "[Select] The Select's Menu is not positioned properly when using the 'open' prop"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
When using the `open` prop, the Select's Menu should be positioned in the same place as if it were not a controlled component and was opened via a click.

## Current Behavior
The Select's Menu is positioned in the top-left corner, or e

[2018-02-06 20:16] oliviertassinari commented on #8726
@caub It's working, but you need to be cautious with this pattern. The injected CSS will grow with the number of instance of the component. It's a duplicate of #7633. I haven't dug into the topic. But I believe @kof version use some performance optimization.

[2018-02-06 20:16] oliviertassinari commented on #8726
@caub Thanks for sharing!

[2018-02-06 20:52] jiminy-billy-bob commented on #10197
I **do** want a controlled Select

[2018-02-06 20:54] caub commented on #10197
then see the error, it says it wants a onClose prop

[2018-02-06 21:01] jiminy-billy-bob commented on #10197
This is totally unrelated.
I added an onClose function as you requested, and it doesn't change anything to the **Menu positioning issue**. This CodeSandbox is not intended to be a working example, it only shows the **Menu positioning issue**.

[2018-02-06 21:02] sambhav-gore commented on #10166
Thank you for consideration and the alternate solution is fine with me.

[2018-02-06 21:23] caub opened #10198 "[Select] [Input] Infinite loop error"
I'm trying to have an `<Input>` inside a `Select` like below

But it's triggering an infinite loop, I'll try to do it without a Select, but with a Popover, MenuList, etc.. to see if the error is still there

**Edit**: it doesn't happen without a wrapping Select https://codesandbox.io/s/n370kz19y0, I guess the problem is that Select uses an Input already, but it's still buggy

[code]

demo with an

[2018-02-06 21:32] caub commented on #10197
yes, but better without errors

[2018-02-06 21:49] oliviertassinari commented on #10194
We have no import nor `Subheader` component in the codebase. I doubt the issue is coming from us.

[2018-02-06 21:49] #10194 closed

[2018-02-06 22:02] caub commented on #10155
oh v0.x, else use PaperProps with v1

[2018-02-07 03:51] msiadak commented on #9529
I've been looking into this; hope to have a PR submitted by this weekend.

[2018-02-07 06:26] shashankKeshava commented on #3105
[Paper](http://www.material-ui.com/#/components/paper) can be used to overcome this issue

[code]
## Output:
![screen shot 2018-02-07 at 11 49 44 am](https://user-images.githubusercontent.com/15323807/35901527-0a6e4db0-0bfd-11e8-8b4d-ca9f134c3ad0.jpg)

[2018-02-07 08:05] oliviertassinari commented on #9529
Oh, I'm happy to hear it! The idea is to provide an empty service worker.
Regarding making the documentation work offline, I'm not convinced it's gonna worth it. How much deployment update delay and complexity is this adding? For having already wrote a sw, I know it's significant. Maybe sw-toolbox or sw-precache can make is simple.

[2018-02-07 08:08] oliviertassinari commented on #9529
Maybe we can leverage https://github.com/oliviertassinari/serviceworker-webpack-plugin. But I'm not sure it's the best path going forward.

[2018-02-07 08:12] #10193 closed

[2018-02-07 08:26] jfperrin commented on #8460
Hi @burcakulug, have you a running example of a solution that I could use for my project ? I struggle with this warning :-(

[2018-02-07 09:09] jiminy-billy-bob commented on #10197
@caub Your example is doing exactly what I'm trying not to do: clicking on the Select to open it.

Please read the OP again:

I want to be able to open the Select **without** clicking on it (from a separate button). In this case, I have no anchor to pass. I tried to pass the inputRef as the anchorEl, but it doesn't work as the input is hidden.

I'll create a full working (except the bug) example,

[2018-02-07 09:25] caub commented on #10197
Well, maybe you could make a custom Select (that's what I'll need to, for other reasons (placing a filter input))

a Select is just an Input and a Menu: https://codesandbox.io/s/n370kz19y0 that way you can get a ref to to Input (not the input which is indeed hidden)

[2018-02-07 09:49] #10175 closed

[2018-02-07 11:47] MaximKudriavtsev opened #10202 "Bad the Table's text-weight"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Material design table [example](https://material.io/guidelines/components/data-tables.html#data-tables-tables-within-cards)
Table's text-weight should be 500.
![image](https://user-images.githubusercontent.com/15093892/35914254-ad5067f

[2018-02-07 12:31] oliviertassinari commented on #10202
It's already 500:
https://github.com/mui-org/material-ui/blob/1f7930fa470342038e833eab69c1fb58c044d2dd/src/Table/TableCell.js#L27
https://github.com/mui-org/material-ui/blob/1f7930fa470342038e833eab69c1fb58c044d2dd/src/styles/createTypography.js#L15

[2018-02-07 12:31] #10202 closed

[2018-02-07 13:00] nikandlv opened #10203 "Problem with Drawer"
Hi. i tried to implement Permanent Drawer in my project but im facing this coping the code exactly
https://codesandbox.io/s/x3wzz9rx4w

[2018-02-07 13:07] MaximKudriavtsev commented on #10202
@oliviertassinari see my [example](https://codesandbox.io/s/4895l9lm3w)

[2018-02-07 13:27] oliviertassinari commented on #10202
@MaximKudriavtsev We follow the specification.

<img width="196" alt="capture d ecran 2018-02-07 a 14 26 58" src="https://user-images.githubusercontent.com/3165635/35918680-fb81fd18-0c12-11e8-895a-124bb01b7261.png">

[2018-02-07 14:04] burcakulug commented on #8460
Hi @jfperrin , I have started this personal fun project, you can take a look at this as a sample.
https://github.com/burcakulug/mytvguide/blob/master/app/containers/UsersPage/index.js#L36

For my actual work project, I implemented some wrapper components using Formik's Field and Material UI components, if that project gets opensource, I can also post it here later. For now, the one above should gi

[2018-02-07 14:13] nikandlv commented on #10203
false alarm just noticed that i need to clear my cache before upgrading to beta-32

[2018-02-07 14:13] #10203 closed

[2018-02-07 16:10] oliviertassinari commented on #10203
:)

[2018-02-07 16:58] jiminy-billy-bob commented on #10197
I have updated the [CodeSandbox](https://codesandbox.io/s/r7nvmz31nq) with a proper working example.

@caub Surely I can write my own Select component from scratch, but the current behavior is not expected by users. You always expect a Select's Menu to be positioned correctly. Otherwise you create your own component if you want another behavior.

@oliviertassinari What do you think of this? The cu

[2018-02-07 17:13] glenarama commented on #9687
Im running into the same experience, the example is very complex. Three files are needed to handle a basic setup.
Since Next.js does not allow for comments in the head the method for reordering css injection does not work either so we can't use styled-jsx or styled-components with this example as is.

@adrianmcli it sounds like you have had some luck integrating styled-components.
Im getting stuck

[2018-02-07 18:01] mbrookes commented on #9529
@oliviertassinari Adding an empty service worker just to get a better score isn’t worth it either. It’s solving for the wrong problem.

[2018-02-07 18:50] msiadak commented on #9529
My efforts on this issue have focused on the [v3.0 beta of Workbox](https://developers.google.com/web/tools/workbox/next/) that was recently released.

Assuming we're okay with only generating/enabling a service worker on the exported version of the docs (this appears to be the version that gets published to firebase), I think I'm pretty close to a simple automated service worker build that can be

[2018-02-07 20:13] mbrookes commented on #9529
@msiadak Thanks for your efforts - interested to see the results. And I'll be adding Workbox to our Showcase!

[2018-02-07 21:13] murffious opened #10206 "Examples in the docs for Buttons and more are not helpful at all."
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Copy and paste components and have them actually work out of the box just like Bootstrap components

## Current Behavior

I copy and pasted the entire example in `https://material-ui-next.com/demos/buttons/`  for a Raised Button and i

[2018-02-07 21:18] oliviertassinari commented on #10206
Here is a sandbox: https://codesandbox.io/s/532orrz0pn.

This is done on purpose. We try to save time our users by promoting some best practices.

[2018-02-07 21:18] #10206 closed

[2018-02-07 21:19] oliviertassinari commented on #10206
react-dom vs prop-types: https://npm-stat.com/charts.html?package=react-dom&package=prop-types

[2018-02-07 21:21] oliviertassinari commented on #10206
We encourage people to start from of our examples: https://github.com/mui-org/material-ui/tree/v1-beta/examples.

[2018-02-07 21:26] #10197 closed

[2018-02-07 21:28] oliviertassinari commented on #10197
@caub was right. It's something people can already handle on their side. I have been looking into documenting the approach. Turn out, the overhead for moving the logic in the library is minimal. I have added it.

[2018-02-07 21:39] oliviertassinari commented on #9529
I have just seen this: https://github.com/hanford/next-offline.

[2018-02-07 22:19] oliviertassinari commented on #9687
@glenarama I'm eager to see such example too. We could host it on Material-UI.

[2018-02-07 22:22] #10042 closed

[2018-02-07 22:27] adrianmcli commented on #9687
@glenarama @oliviertassinari

I'll spin up an example soon. Quite busy this week though.

[2018-02-07 23:10] eigood commented on #5560
SvgIcon fetches muiTheme directly from this.context, *not* from this.props.  When MuiThemeProvider changes the theme, the react api is designed to not call renderr() on components when just the context has changed.

Slider is written correctly, but SvgIcon is not.

I have no idea if this problem exsists in -next.

[2018-02-07 23:11] eigood commented on #5560
It'll notice the theme change if you do a rollover(which causes a re-render).

[2018-02-08 00:05] JulesAU commented on #9262
@oliviertassinari Just trying to make sure I understand your response: "import directly the component you need."

Does that mean I can work around this particular issue? I'm also seeing the redundant `Select` component in my production bundle due to my use of `TextField` - I'm importing it as per the material-ui docs:

[code]

Is there anything I can do differently to avoid this, or do we just nee

[2018-02-08 00:31] eigood commented on #5560
Actually, what I said about Slider doesn't seem to matter.  But here's a preliminary workaround:

[code]

[2018-02-08 02:23] dsandi commented on #4472
Having this issue only on the password field

[2018-02-08 04:01] digleg commented on #7195
hey  the separate package "material-ui-next" is not up-to-date and it there any other way to use a npm alias material-ui (old version ex 0.20.0) and material-ui-next(new version 1.0.0-bata) and also keep the newly update for material-UI?

[2018-02-08 04:05] digleg commented on #7195
hey  the separate package "material-ui-next" is not up-to-date and is there any other way to use a npm alias material-ui (old version ex 0.20.0) and material-ui-next(new version 1.0.0-bata) and also keep the newly update for material-UI? thanks!

[2018-02-08 04:20] pselden commented on #4752
Sorry to necro this thread, but is there an example that anyone has where it doesn't push the app bar when it opens, like in Google Inbox?

[2018-02-08 04:39] rmariuzzo opened #10210 "Tooltip can't be right placed"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
When I tell a `<Tooltip />` to be `placement='right'` I expected to be placed to the right of the reference.

## Current Behavior
When I tell a `<Tooltip />` to be `placement='right'` it is placed to the left of the reference, even whe

[2018-02-08 05:34] sarkistlt commented on #8821
any updates on this issue? using next@5 which uses "react-hot-loader": "4.0.0-beta.18", having the same issue, with next@4 all works fine

[2018-02-08 07:22] zsinryu commented on #8191
Any update for this issue?

[2018-02-08 08:37] #10130 closed

[2018-02-08 08:42] oliviertassinari commented on #10210
@rmariuzzo The tooltip is always positioned so it can be visible. No changing the position with `overflowX: 'auto'` will make the tooltip **invisible**.

We can skip the problem by relying on a portal. We have #9351 to track this enhancement.

[2018-02-08 08:42] #10210 closed

[2018-02-08 08:46] NMinhNguyen opened #10212 "[build] Bundling with Rollup"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate. I believe the only relevant thing is this comment https://github.com/mui-org/material-ui/issues/8100#issuecomment-328078814:

## Expected Behavior

Bundling with Rollup should work as long as MUI provides ES modules (https://github.com/rollup/rollup/wiki/ES

[2018-02-08 09:02] oliviertassinari commented on #9262
@JulesAU What I mean is that the TextField is a helper to simplify the usage of the underlying components. If you want to save some bundle size. It's 100% fine to write your own TextField component without the Select import. https://material-ui-next.com/demos/text-fields/#components

[2018-02-08 09:03] oliviertassinari commented on #5560
@eigood The issue was solve on v1-beta by using an event bus for propagating the context theme update.

[2018-02-08 09:41] JulesAU commented on #9262
Ahh of course... Thanks for the tip!

[2018-02-08 11:58] PolGuixe commented on #9982
I am also looking at this. Is there a way to modify the color of the placeholders in a TextField?

[2018-02-08 12:12] PolGuixe commented on #9982
I believe is related to this https://css-tricks.com/almanac/selectors/p/placeholder/

Maybe it can be solved by passing the right class

[2018-02-08 12:18] z-ax commented on #4787
Hi. As the component is pretty important and we already use the next version, have to ask is there an estimation on this, or maybe a way to help?

Checked other DatePickers, doesn't really work good enough with any, so bundled one should be the best solution (especially to work with `redux-form` or `redux-form-material-ui@next` which we do use as well).

[2018-02-08 12:32] kallebornemark commented on #6625
Would be really nice to have this feature back!

[2018-02-08 12:46] jiminy-billy-bob commented on #10197
Perfect! Thanks a lot

[2018-02-08 13:21] ismail-codar commented on #4787
For now, it seems like the best solution is to use https://github.com/dmtrKovalenko/material-ui-pickers. I am using it with formik.

[2018-02-08 13:27] oliviertassinari commented on #10212
@NMinhNguyen I thought we were already applying these transforms for the `es` folder. We should. Good catch. However, I have one concern with this `es` folder. It's module duplication. I start to think that the best path going forward is to simply remove it.

Same concern than before. I don't think it's wise to publish a different version of our components. It's gonna bloat users bundle when using

[2018-02-08 15:16] eigood commented on #5560
@oliviertassinari How can we make this work on current then?  I have already installed both -next packages, and have started using -next icons, using the suggestion of setting the global, but the project I'm working on isn't quite ready to switch completely.

Thinking overnight, the reason my workaround works, is because all the icons are marked Pure.  That means a shallow comparison of props is d

[2018-02-08 15:56] rmariuzzo commented on #10210
Thank you @oliviertassinari

[2018-02-08 16:23] z-ax commented on #4787
Is a date picker as modal a requirement of Material Design?

[2018-02-08 16:40] NMinhNguyen commented on #10212
@oliviertassinari Could you please elaborate on what you meant? Correct me if I'm wrong, but I think the analogy with `lodash` doesn't necessarily apply here because with the current version 4 of `lodash`, they actually publish different packages (`lodash`, `lodash-es`, `lodash.x` etc). My proposal is to add a different module format to the same published package, and point the `module` field in `

[2018-02-08 19:18] MaratFaskhiev opened #10213 "Multiline TextField caret issue"
Type the entire first line, move to the second line, the text bar starts in front of the first word on the second line and caret is placed at the beginning of the first word.

- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Caret is placed after the last symbol.

## Current Behavio

[2018-02-08 23:49] #10035 closed

[2018-02-09 00:29] RavenHursT opened #10215 "[CheckBox] Setting muiTheme values makes Checkbox not revert to default color when unchecked."
Setting `palette.[X]` on the MuiTheme, causes Checkboxes to _not_ revert to their original color when unchecking them.
## Expected Behavior
When a user sets some kind of `primary1Color` or `textColor` on the MuiTheme `palette` to change the color of `Checkbox` while checked. When the box is checked, the primary color should apply.  And when the user unChecks the `Checkbox`, the box-outline should

[2018-02-09 00:32] RavenHursT commented on #10215
I tried debugging all the way down to `SvgIcon` for the `Checkbox`...

It appears that `fill` is getting munged somehow w/ these `onColor` and `offColor` values, even though the `style.fill` value coming _into_ `svgIcon` is _correct_.

https://github.com/mui-org/material-ui/blob/master/src/SvgIcon/SvgIcon.js#L89

[2018-02-09 06:15] nickbae91 opened #10219 "The v1.0.0-beta.32 LinearProgress update didn't happen"
The LinearProgress update (mode => variant) for the "determinate/indeterminate" props didn't happen it seems, as I have to use "mode" to get it working.

[code]

| Tech         | Version |
| Material-UI  |v1.0.0-beta.32|
| React        |16.2.0|
| browser      |Chrome|

[2018-02-09 07:36] nikandlv opened #10220 "Component Request Fab Menu"
This component seems nice to have!
I will standardise it later if you guys don't have time.
https://pasteboard.co/H6O9a3h.png
Ps: Awesome work. keep up the good work

[2018-02-09 09:34] mbrookes commented on #10220
Duplicate of #2851, WIP here: #9539

[2018-02-09 09:34] #10220 closed

[2018-02-09 09:49] mbrookes commented on #10219
@nickbae91 It does: bedb9f9b1d06ecd1cda760c9581b845bec5de71a, https://github.com/mui-org/material-ui/releases

Perhaps check your dependencies?

[2018-02-09 09:49] #10219 closed

[2018-02-09 09:49] oliviertassinari commented on #10219
https://codesandbox.io/s/20j0lwkj3n

[2018-02-09 12:10] rauleite opened #10221 "[Flow Typed] Wrong AppBar position"
I think the type of prop _position_ in [AppBar](https://github.com/flowtype/flow-typed/blob/master/definitions/npm/material-ui_v1.x.x/flow_v0.61.x-/material-ui_v1.x.x.js#L9) should be:
`position?: 'fixed' | 'absolute' | 'sticky' | 'static'`

Ref: [AppBar](https://github.com/mui-org/material-ui/blob/v1-beta/src/AppBar/AppBar.js#L101)

[2018-02-09 15:29] tho-graf opened #10222 "[Collapse] Input with IconButton as Adornment doesn't render correct in Collapse"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

If the "Collapse" transition has finished, the content / children should be in the final position / layout.

To Reproduce you need the following composition:
A Collapse with an Input inside, which has a IconButton as Adornment.
Withou

[2018-02-09 16:15] bluepeter opened #10223 "[Grid] Spacing with negative margins results in sometimes imprecise layouts"
I am using `Grid` to align-right buttons in a `Card`. Everything used to look super, but in recent incarnations of material-ui-next, the use of negative margins is resulting in non-ideal presentation with the right negative margin:

![screenshot-localhost-3000-2018 02 09-08-10-24](https://user-images.githubusercontent.com/2158187/36037246-07e1ea8c-0d71-11e8-8023-746f55f0e22d.png)

The code for thi

[2018-02-09 16:40] jeaddoncel commented on #6446
use
 https://kradio3.github.io/react-mdc-web/components/linear_progress/

and be happy

[2018-02-09 16:42] oliviertassinari commented on #10221
@rauleite We do no longer host the flow typed definitions, please refer to https://github.com/flowtype/flow-typed.

[2018-02-09 16:42] #10221 closed

[2018-02-09 23:35] oliviertassinari commented on #10223
@bluepeter It's hard to help without a live example of such issue. From your code, you would say that the best option is to use `spacing={0}`. I start to think that it should be the default behavior. The negative margin can really cause trouble. Might not worth it having it by default.
cc @mui-org/core-contributors.

[2018-02-09 23:44] bluepeter commented on #10223
Thank you. Adding `spacing={0}` to Grid container fixed this for me.

[2018-02-10 08:34] sameerjain commented on #9790
I am having weird issue with this, if I have an empty readonly TextField  and update its value on later state change, I can see overlapping label and value.

[2018-02-10 08:40] sameerjain commented on #9790
Sorry false alarm, I missed setting initial state parameter

[2018-02-10 09:13] mlake opened #10226 "<Input> caret issue on mobile within Dialog/Modal"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Caret should position on active input field.

## Current Behavior

Caret is often appearing as if input is on the next input
Tested on actual mobile device and recorded video using simulator on iOS

SEE VIDEO HERE:
[https://drive.goog

[2018-02-10 10:09] mlake commented on #10226
Tried isolating the problem (removing Grid, trying Modal) and I wonder if it isn't related to the background(body?) scrolling behind the dialog.

[2018-02-10 10:21] oliviertassinari commented on #10226
Duplicate of #9034.

[2018-02-10 10:21] #10226 closed

[2018-02-10 10:55] mlake commented on #9034
Super..so for the TLDR; it's an iOS bug introduced in iOS 11.0 that is reportedly fixed in iOS 11.3 beta as of Feb 2018. Actually...that's not so super. Thanks for making me re-architect my app Apple.

[2018-02-10 13:18] #10113 closed

[2018-02-10 17:38] oliviertassinari commented on #10198
@caub Oh man, this is a great catch. The fix is trivial. I'm on it.

[2018-02-10 17:49] oliviertassinari commented on #10051
I have added the `waiting for users upvotes` tag. I'm closing the issue as I'm not sure people are looking for such abstraction. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2018-02-10 17:58] #10198 closed

[2018-02-10 18:07] LimaEduardo opened #10231 "How to mask a TextField component?"
Hello!

I'm trying to apply a mask to a TextField component, but I'm unsuccessful.

I've tried following the instructions given in docs, but there the Input component is used and this component is breaking my project. Reviewing, I want to mask TextField, not Input.

I'm using material-ui 1.0.0-beta.24 and React 16.2

[2018-02-10 18:07] #10231 closed

[2018-02-10 18:22] vaidyanathanas commented on #5330
You need to wrap your table in a MuiThemeProvider tag
[https://stackoverflow.com/questions/39863436/typeerror-cannot-read-property-preparestyles-of-undefined](here) is the solution

[2018-02-10 19:42] atrauzzi opened #10232 "Idea: nativeOn[Mobile] for Selects"
Just getting into the select box.  I wonder if a property that triggers a native UX only when run on platforms that offer something better (non-desktop?) would be worthwhile?

[2018-02-10 20:03] emanuellarini opened #10233 "[Reboot] Change name to CssReset?"
Yesterday I used for the first time the Reboot component and one guy of my team read the code and asked me:
- "Why are you rebooting components?"

(hahahha)

So, to prevent overthinking, Isn't better to use it as **CssReset** name?

Also, I thought "css reset" was a convention but not sure about that.

Sry for bad english and thank you very much. =)

[2018-02-10 20:28] borisrorsvort opened #10234 "Add example for Navigation drawer clipped under the app bar"
For Apps focused on productivity that require balance across the screen, it is recommanded to use the Navigation drawer clipped under the app bar (https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-behavior)
if it can be build with the current components, it would be great to add an example
<img width="395" alt="screen shot 2018-02-10 at 21 27 16" src="https://user-im

[2018-02-10 21:31] barbalex opened #10235 "v1: tabs that are scrollable do not center"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Tabs that receive the prop `centered` should always center.

## Current Behavior
They remain left aligned if they are also set `scrollable`.

## Steps to Reproduce
https://codesandbox.io/s/kk371k1w75

## Your Environment

| Tech

[2018-02-10 22:00] oliviertassinari commented on #10232
I have been wondering about it too when designing the select. I don't think that it's something that should be baked into the component:
- The implementation should be straightforward in userland.
- People might not need it.

Thanks for raising this point.

[2018-02-10 22:00] #10232 closed

[2018-02-10 22:03] jacobweber commented on #9958
This doesn't fix the issue. Cordova on iOS uses UIWebView, which still has the 300ms delay even with the above viewport settings. As a result, it's unpleasantly slow.

You can try using Cordova's [cordova-plugin-wkwebview-engine](https://github.com/apache/cordova-plugin-wkwebview-engine) plugin, although it looks buggy.

[2018-02-10 22:05] oliviertassinari commented on #10233
@mbrookes I'm happy with the current Reboot component wording. Do you think it could be better named?

[2018-02-10 22:12] mbrookes commented on #10233
I was confused by the choice of name originally. Something abstract like "Reboot" might make sense for branding a standalone CSS reset, but the majority of Material / Material-UI components are more literally named.

[2018-02-10 22:16] atrauzzi commented on #10232
No problem, that occurred to me as well. Does make sense to keep that on the outside the more I think about it...

[2018-02-10 22:17] transitive-bullshit opened #10236 "Publishing npm modules that make use of material-ui as peer deps"
First off, I seriously love material-ui -- you guys have made my life so much easier.

One area I had trouble with over the course of several projects was the ability to extract reusable components into separate npm modules, which given my project's heavy use of material-ui, this proved harder than expected with existing solutions.

Towards that end, I created an npm module [boilerplate](https://g

[2018-02-10 22:31] techniq opened #10237 "material-ui-next.com not compatible with Internet Explorer 11"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Navigate the Material-UI 1.0 docs using Internet Explorer 11 (useful to check component demos, etc).

## Current Behavior
An error is thrown in the console and unable to click on the drawer navigation.
![image](https://user-images.gith

[2018-02-10 22:36] oliviertassinari commented on #10236
@transitive-bullshit Thanks for letting us know.

[2018-02-10 22:36] #10236 closed

[2018-02-10 22:38] oliviertassinari commented on #10237
It should be working. We had had numerous regressions in the past.

[2018-02-10 22:41] oliviertassinari commented on #10237
Who is using `startswith`? Could it be a Next.js 5 regression?

[2018-02-10 23:17] oliviertassinari commented on #10212
Modules don't need to be in different packages to introduce duplication in users bundle. Simply the `es` non `es` folder can lead to it. I have been giving more thought about it. I'm happy keeping the `es` folder as long as third party libraries don't use it and people are aware of the duplication cost it can have.

They are much smaller libraries. Duplication tolerance for them is higher.

Babel

[2018-02-10 23:31] NMinhNguyen commented on #10212
Given tree shaking is brittle, I think that we need to ask third party libraries to do an explicit path import.

@oliviertassinari Sorry, I wasn't very clear. I was actually referring to other libraries writing `import { Button } from 'material-ui'` in their own library source code, and then relying on Babel to transform that into `material-ui/Button` for CJS output and `material-ui/es/Button` for

[2018-02-10 23:43] Drillan767 opened #10238 "Unable to override a Typography component with inline style or CSS"
I have a Paper element containing a grid system (24 columns) that contains a Paper, that contains a typography

[code]

I would like to change the Typography's font color to white, but it gets overriden by the Typography component. I **can** make it change if use the `style` attribute or the classes, but I would like to use some "normal" CSS for these kind of things

- [x] I have searched the [iss

[2018-02-11 03:42] Marc3001 commented on #5753
I am getting same issue if I am using custom component (here called `Login`) in `iconElementRight`.
[code]
![image](https://user-images.githubusercontent.com/5851662/36069227-7a4cc478-0eb3-11e8-8324-cc30862695a1.png)

My custom component is only a material-ui `FlatButton` with some `onClick` logic.
[code]

But if I put directly `FlatButton` in `iconElementRight` attribute everything is working fin

[2018-02-11 06:28] fitzchak opened #10241 "Right to left is not working with TextInput"
RTL support demo is not working as [described](https://material-ui-next.com/guides/right-to-left/#3-jss-rtl):
https://codesandbox.io/s/yqypn8pprz

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
The label in the text box should be on the right side as in the example, but this is not

[2018-02-11 07:23] Vincz commented on #9342
I ran into the same issue, trying to use the extend plugin.
I tried to follow this : https://material-ui-next.com/guides/right-to-left/#3-jss-rtl
but I'm using server side rendering and I was not able to make it works.

PS: Not sure it was worth it to remove these plugins for 2kb as these are really awesome features that everyone should use  😁

[2018-02-11 08:34] rogovdm opened #10242 "[docs] undefined sets"
Sometimes we can see this in docs:

Values are not defined.

Example page will be Tabs. https://material-ui-next.com/api/tabs/

[2018-02-11 09:35] oliviertassinari commented on #10212
@NMinhNguyen Yes, I agree with this point at the condition all the third party libraries you want to use follow this pattern. Hard to enforce.

Yes, please! I thought it was already done. It can be considered a bug on our end.

[2018-02-11 09:46] cvanem opened #10243 "[Avatar] Default position"
When an Avatar is used with a Chip component, it's rendered position is not the same as the chip.  See screenshot for clarification.    My CSS is a little weak, but I think the correct solution is to remove   position: 'relative' from the Avatar root class?  Can the default 'relative' position be removed from the Avatar root class or should I be manually overriding it on my end?  Perhaps the Chip

[2018-02-11 10:15] oliviertassinari commented on #10243
@cvanem It's hard to tell without a live reproduction example. But it seems you miss an `z-index` on this custom popover.

[2018-02-11 10:15] #10243 closed

[2018-02-11 10:21] #10241 closed

[2018-02-11 10:21] oliviertassinari commented on #10241
Please follow the guide: https://material-ui-next.com/guides/right-to-left/#right-to-left.

[2018-02-11 10:22] #10238 closed

[2018-02-11 10:23] oliviertassinari commented on #10238
Please follow our guide: https://material-ui-next.com/guides/interoperability/#raw-css. You need to make sure the CSS injection order is correct.

[2018-02-11 10:44] #10153 closed

[2018-02-11 12:14] mbrookes commented on #10242
@rosskevin Any ideas? (See also Collapse `timeout`). Default is also a bit whack (hard problem I know.)

[2018-02-11 12:15] oliviertassinari commented on #10242
I'm looking into it as this very moment.

[2018-02-11 14:03] nwabdou85 opened #10248 "serious regression in the display since this week on chrome and Firefox. Why ?"
I've seen  since this week, a serious regression in the display on chrome and Firefox but not in chromium as you can see in the two picture

this is on chome
![googlechromeversion 62 0 3202 94 official build 64-bit](https://user-images.githubusercontent.com/6404998/36074093-70f68142-0f3b-11e8-8e36-33f41feb09b9.png)

this is on chromium (the page as above)
![chromium](https://user-images.githubuser

[2018-02-11 14:43] oliviertassinari commented on #10242
We were missing the recursion 👌
<img width="790" alt="capture d ecran 2018-02-11 a 15 43 07" src="https://user-images.githubusercontent.com/3165635/36074584-4c93f418-0f42-11e8-9d3d-e25f372b5681.png">

[2018-02-11 14:48] ruiwei opened #10250 "Selects kept focus after clicked"
Cannot blur after clicked on the Selects.

[2018-02-11 14:49] #10250 closed

[2018-02-11 16:26] alfredayibonte opened #10251 "Can not format textField of type date in the form 'DD/MM/YYYY'"
Can not format textField of type date in the form 'DD/MM/YYYY'. The options for type are limited. Why not have a format field

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
TextField should have a format prop that will help format date in any format. eg.
[code]

## Current Behavio

[2018-02-11 16:40] oliviertassinari commented on #10251
Don't miss the notice note on the documentation page section: https://material-ui-next.com/demos/pickers/. The format is implemented by the native `<input>` element. The issue isn't on our end. Also, consider the documented alternative third-party libraries.

[2018-02-11 16:40] #10251 closed

[2018-02-11 16:41] squelix commented on #10020
I had the same problem and i didn't solve it :/ I had to do the ripple effect on myself.

[2018-02-11 16:41] #10242 closed

[2018-02-11 16:42] oliviertassinari commented on #10020
A reproduction example would help.

[2018-02-11 16:51] oliviertassinari commented on #10235
@barbalex Good catch! We should add a warning about it. It's not possible.

[2018-02-11 16:55] oliviertassinari commented on #10234
I agree. The following products are using the above pattern:
- Google Keep
- Google Calendar
- Inbox
- YouTube

[2018-02-11 17:01] #10076 closed

[2018-02-11 18:31] oliviertassinari commented on #3599
This issue has been solved a long time ago with v1-beta. Sorry for not catching up earlier:

<img width="486" alt="capture d ecran 2018-02-11 a 19 31 31" src="https://user-images.githubusercontent.com/3165635/36076839-32141e90-0f62-11e8-91ae-5b2e8909a3b7.png">

[code]
https://codesandbox.io/s/2zy676o3w0

[2018-02-11 18:31] #3599 closed

[2018-02-11 18:51] oliviertassinari commented on #4489
We have 3 paths going forward:
1. We tell users to copy and paste the icon path. So we don't change anything.
2. We make all our icons exporting the path.
3. We add an extra property to the `SvgIcon` component. `extraChildren` is something like this.

Option 1 and 3 sounds like the best ones to me.

[2018-02-11 18:55] oliviertassinari commented on #6955
This comment is relevant too https://github.com/mui-org/material-ui/pull/5604#issuecomment-262122172.

[2018-02-11 18:55] oliviertassinari commented on #4795
Closing for #6955

[2018-02-11 18:55] #4795 closed

[2018-02-11 19:02] oliviertassinari commented on #5241
Closed by @mbrookes with #9693.

[2018-02-11 19:02] #5241 closed

[2018-02-11 19:11] oliviertassinari commented on #3209
Duplicate of #5069

[2018-02-11 19:11] #3209 closed

[2018-02-11 19:15] oliviertassinari commented on #5989
@skirunman Is correct, nested list is supported in v1 with an API allow a lot of flexibility. The Collapse component contains a `mountOnEnter` and `unmountOnExit` property so you can keep the react component mounted and the state alive.

[2018-02-11 19:15] #5989 closed

[2018-02-11 19:44] oliviertassinari commented on #9820
I think that it's important to keep the documentation live for the older version. I would even say people can greatly take advantage of a versioned documentation after any signification breaking change.
Right now, I think that we should plan the migration of material-ui-next.com. to material-ui.com. We need to keep v0.x documentation live.

[2018-02-11 20:05] dbarabashdev commented on #10235
Hi guys! As I understand, just need to to remove this place?

<img width="335" alt="screen shot 2018-02-11 at 22 03 29" src="https://user-images.githubusercontent.com/10253529/36077773-89e3a48c-0f77-11e8-99c2-a1793e6a6ff8.png">

[2018-02-11 20:29] barbalex commented on #10235
@oliviertassinari Sad that it is not possible. Because this seems like the feature that would make tabs work from huge to tiny screen sizes.

[2018-02-11 20:34] barbalex commented on #10235
@oliviertassinari Would this not work if the tabs were per css centered div's whose bottom border is highlighted when the tab is active?

I'm sure this is very naive and there are good reasons it is not solved that way. But I'm curious.

[2018-02-11 20:43] dbarabashdev commented on #10235
@barbalex I try to do some changes for this issue and I think we can to do something. I should think

[2018-02-11 22:23] skirunman commented on #10233
Reboot was confusing to me especially as I come from an embedded software background. Reboot is what you to do an operating system. I like xxxReset so CssReset works for me.

[2018-02-11 22:29] enugentdt opened #10253 "Errors with component demos"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

I am trying to use the third AppBar demo on the material-ui-next component demos. Upon insert into my site, it should not error out, as this is a component demo

## Current Behavior

Errors occur in multiple locations - mainly lacking

[2018-02-11 22:58] oliviertassinari commented on #10233
@skirunman Man, we should call it Bootstrap :p.

[2018-02-11 23:15] humbss commented on #7870
it is working for me
npm install material-ui@next --save

my package.json has -> "material-ui": "^1.0.0-beta.33",

and in my component im using:
import Button from 'material-ui/Button';
<Button  raised> working </Button>

[2018-02-11 23:44] oliviertassinari commented on #10253
@enugentdt I have just tried the typescript example instructions. It's working. I'm not sure you are looking at the right project.

https://github.com/mui-org/material-ui/blob/a81e5f9e54fdcc4648ffe6bdc08eaa596fb0a9bc/examples/create-react-app-with-typescript/src/index.tsx#L1

[2018-02-11 23:44] #10253 closed

[2018-02-12 04:32] Vincz opened #10255 "Server side rendering & jss plugins"
Following the guide about server side rendering, I tried to use the `jss-default-preset` (as `jss-compose` and `jss-extend` are really awesome 🥇 )
My server code is the following:

[code]

When my server render the css, everything is fine. But for the client part, it does not execute the extra plugins (jss-extend and jss-compose).
In the guide, the [client part](https://material-ui-next.com/guides

[2018-02-12 04:54] huytran0605 opened #10256 "TextField multiline duplicate text with Japanese Character in IOS cordova app"
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
With japanese character can input normally, not duplicate when having newline.

## Current Behavior
- Input in textfield with Japanese character, when enough character, textfield will have  a new line
- It will have duplicate all text

[2018-02-12 08:03] oliviertassinari commented on #10253
Oh yes, the demos are written in ES2015. They are as simple as possible.
I think that using `import * as React from 'react';` will confuse beginner.

[2018-02-12 08:21] liamm12 commented on #5457
simply you can achieve this through these steps:

`npm Install react-tippy`
then
`import { Tooltip } from 'react-tippy';`

[code]

[2018-02-12 10:05] thomaskempel commented on #10222
@oliviertassinari could you figure out something? I noticed, that when I set "overflow:visible", it looks good.

![image](https://user-images.githubusercontent.com/2846460/36091486-2e14fee0-0fe4-11e8-8d29-5bc82c69ef23.png)

But that only works, when I set it in the browser and the transition was over. When I set the style  to the Collapse Component, the transition looks totally broken (of course :

[2018-02-12 10:18] oliviertassinari commented on #10255
@Vincz Yes, you need to apply the configuration on the server and the client. You need to use `JssProvider` on the client too. The document doesn't do it as it's relying on the default jss instance.

[2018-02-12 12:57] IljaDaderko opened #10258 "Not parsing internationalised strings in placeholders correctly"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Should display correct string.

## Current Behavior

Displays `[Object object]`

## Steps to Reproduce (for bugs)

I am using [react-int](https://github.com/yahoo/react-intl) library for internalisation, it woks really well with mater

[2018-02-12 13:28] oliviertassinari commented on #10258
@IljaDaderko Could you provide a live reproduction?

[2018-02-12 13:29] oliviertassinari commented on #10258
@IljaDaderko Yes, it's expected, the placeholder is a native input property.

[2018-02-12 13:29] #10258 closed

[2018-02-12 13:31] oliviertassinari commented on #10258
Check the warnings in the console:
[code]

[2018-02-12 13:32] #10212 closed

[2018-02-12 13:33] IljaDaderko commented on #10258
@oliviertassinari do you think it is a good idea to allow its behaviour replicate one of `label`? As far as I am aware a lot of react internalisation / localisation libraries use components like one in my example above.

Otherwise I can implement helper that solves this no prob 👍

[2018-02-12 13:35] oliviertassinari commented on #10258
@IljaDaderko It's feasible it would also allow us to remove quite some CSS hacks. But I'm tempted to say the more we can rely on the native platform, the better.

[2018-02-12 13:36] IljaDaderko commented on #10258
Understandable, alright will follow beta releases and see what you decide on :)

[2018-02-12 14:58] cyl19910101 commented on #9097
@oliviertassinari Hi bro, I have the empty string problem too, but not like this calling `renderToString` after `sheetsRegistry.toString`, my problem is `sheetsRegistry.toString` can generate stylesheet string correctly in the "first call", but after that, the `sheetsRegistry.toString` just return empty string, I'm not sure if it's related to this one, so I just put it here first.

[code]

The sec

[2018-02-12 15:20] mnemanja commented on #10237
I can confirm the behavior. Best of luck with it :)

[2018-02-12 18:05] activebiz commented on #9106
@rolandjitsu This soultion no longer work in @types/react 16.0.36 version. :(

[2018-02-12 18:10] activebiz commented on #8063
This no longer works as per "@types/react": "^16.0.36",

[2018-02-12 18:42] romanzenka commented on #8298
I do not think the implementation will be trivial! The big deal with text area is that you give it some vertical space and it would not leave this space. But the TextField as it is implemented grows with each new row being entered. I ran into this problem when I realized that on my UI I have an undefined amount of space that I want to fill with one text area (there is a vertical splitter allowing

[2018-02-12 19:00] rolandjitsu commented on #9106
@activebiz I'll give that a try tomorrow and see if it still works for me.

[2018-02-12 19:37] jamesst20 opened #10261 "[TextField] Bug: Border bottom is not present"
Hi,

There seems to be a bug with the TextField, the underline or bottom border doesn't always show. I wouldn't be able to tell since when it was introduced, all I know is that it wasn't present in beta 19.

How to reproduce ? Visit the page example: https://material-ui-next.com/demos/text-fields/ in Layout section, the TextField that is labeled "Normal" has no underline.

![capture d ecran 2018-0

[2018-02-12 19:47] shanimal commented on #6723
I noticed that an undefined onClick handler in the parent is preventing the click.
[code]
If I add properties via a POJO w/spread it works as expected...
[code]

[2018-02-12 20:01] oliviertassinari commented on #9097
@cyl19910101 Posting this issue on StackOverflow would be much more efficient. The stylesheets are generated only once per component type (for performance). We use a cache. You need to clear this cache between two requests. It's what the `sheetsManager` is for [in the guide](https://material-ui-next.com/guides/server-rendering/).

[2018-02-12 20:04] oliviertassinari commented on #10255
It's also what we do with the documentation:
https://github.com/mui-org/material-ui/blob/0d9ac14f5b33ee1762adb7101fbed9f7e478bc0e/docs/src/modules/components/AppWrapper.js#L73-L74

Let me know if you have further question. I'm closing. Don't hesitate using StackOverflow for this type of question. It scale better.

[2018-02-12 20:04] #10255 closed

[2018-02-12 20:10] oliviertassinari commented on #10261
@jamesst20 What browser are you using? I can't reproduce with Chrome 64.0, Safari 11.0 and Firefox 58.0

[2018-02-12 20:13] paxromana96 opened #10262 "Checkboxes inherit 'disabled' prop from TableBody, not TableRow"
Checkboxes generated by a <TableBody> with the displayRowCheckbox field set to `true` (default option) inherit their `disabled` prop from the <TableBody>'s `this.prop.selectable`, rather than from the generated <TableRow>'s `selectable` property. Below is the relevant code from the `master` branch:

[code]

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this r

[2018-02-12 20:24] jamesst20 commented on #10261
That is odd, I am using Chrome Version 64.0.3282.140 (64 bits) on Mac OS 10.13.2.

I will try to troubleshoot on my side to see if anything comes up

[2018-02-12 20:27] oliviertassinari commented on #10261
@jamesst20 Same with Browserstack:
<img width="426" alt="capture d ecran 2018-02-12 a 21 27 22" src="https://user-images.githubusercontent.com/3165635/36117898-8da03ada-103b-11e8-8594-b7dc691d9c87.png">

Let us know if you can find more information on this weird display issue.

[2018-02-12 20:27] #10261 closed

[2018-02-12 20:29] jamesst20 commented on #10261
Can't reproduce on Safari 11/Firefox 59beta, for some odd reasons only my Chrome appears to be suffering from the bug, including in Private Window.

[2018-02-12 20:29] oliviertassinari commented on #10233
@mbrookes Let us know what you want to do with the wording. I'm happy with `CssReset`.

[2018-02-12 20:36] narendravenkata opened #10263 "How to add a select field as a column in table"
I am trying to add a column in material-ui table with selectfield. https://github.com/narendravenkata/React_Form. this is the code link. I am unable to set the values and update in edit mode.

- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Steps to Reprodu

[2018-02-12 20:59] GavinQ1 commented on #8979
Maybe here is an option:
install material-ui-next, and replace the autocomplete @ material-ui 0.xx.xx with the beta version. @hristod @kaseyhinton

[2018-02-12 21:40] mbrookes commented on #10233
Hmm... the various descriptions of CSS resets suggest that they reset the CSS for all the html elements, where as Reboot only resets a couple of things, and sets a couple of others. Calling it CssReset / ResetCSS might be overpromising.

CssSetup or CssBaseline perhaps? (I wish I'd pushed back harder on the original name so we weren't making another breaking change. At least it's a small one! 😅)

[2018-02-12 21:47] MaybeRex opened #10264 "Dont update the docs until version is available on npm"
# Issue
Some of the docs provided on https://material-ui-next.com/ are not as useful until the version documented matches the npm version available

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Documentation version and npm version should match

## Current Behavior
Documentation

[2018-02-12 21:51] emanuellarini commented on #10233
Reading the docs now, it says:

Then, why not call it NormalizeCss ? 😄

[2018-02-12 21:55] oliviertassinari commented on #10233
@mbrookes What about using the utils section for components that don't fit anywhere else? In our case, I find the style section a good fit.

[2018-02-12 21:58] oliviertassinari commented on #10264
I always forget to publish `material-ui-next` (the official repository is material-ui). Done.

[2018-02-12 21:58] #10264 closed

[2018-02-12 22:13] mbrookes commented on #10233
Is it though? Style is about Material Design style - https://material.io/guidelines/style/# Color, Icons, Typography... Reboot is the odd one out.

[2018-02-12 23:04] rocketraman opened #10265 "[Docs] Improve styled-components integration documentation"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

The documentation around styled-components integration could be improved. The main scenario I think is not documented well is the case where the root component is not the one that the user wants to style. The use case I ran into is attempting to style `Dra

[2018-02-12 23:10] oliviertassinari commented on #10265
@rocketraman Sure, this sounds good 👍

[2018-02-12 23:38] rocketraman commented on #10265
@oliviertassinari Let me write something up quickly and submit a pull request for review.

[2018-02-13 04:53] Vincz commented on #10255
Awesome. 👍  Thank you :)

[2018-02-13 05:33] enugentdt commented on #10253
Would there be a possibility in updating them so they work with the latest beta, that way newcomers like myself are able to get a test site up and running quickly?

[2018-02-13 08:07] oliviertassinari commented on #10253
@enugentdt If you mean writing our demo in TypeScript, the answer is no. While TypeScript popularity is quickly growing, it's still low compared to raw JS.

[2018-02-13 12:16] k7sleeper commented on #9542
I had the same problem! Thx for help!

[2018-02-13 12:32] z-ax opened #10269 "[TableCell] No "scope" attribute added for type "head""
As our team checked, [WebAIM recommends](https://webaim.org/techniques/tables/data) to always specify the `scope` attribute, so suggesting to make it out-of-the-box for the `TableCell` for the "head" type.

Mainly, without this attribute screen readers fail to read the table as expected (even if it sounds weird to me personally for special semantic `<th>` inside `<thead>` usage).

- [x] I have sea

[2018-02-13 12:36] bife1 opened #10271 "Select disableUnderline"
in `Select` component, property `inputProps={{
      disableUnderline: true
}}`
 doesn't do anything, it doesn't disable input's underline, but I can disable it somehow, indicating clearly
`input={<Input disableUnderline />}`, I think its a bug, can you fix it?

[2018-02-13 12:49] d7my11 opened #10273 "Progress bar with 'determinate' mode applies 'indeterminate' styles"
Current :
in progress bar component with `mode="determinate"` and changing the `value` property.
the bar behave exactly like bar with `mode="indeterminate"`.

the results of `LinearProgress` with `mode="determinate` are elements with `MuiLinearProgress-indeterminateBar` className

![screen shot 2018-02-13 at 2 46 48 pm](https://user-images.githubusercontent.com/1069375/36150646-fb501d3e-10cc-11e8-

[2018-02-13 13:17] pietrofxq opened #10274 "[TextField] Don't add asterisk to required field label and placeholder"
Is there a good reason to insert an asterisk `(*)` when adding the `required` prop to `TextField`? There are valid cases to not have an asterisk in a required form (login forms) and this is a visual choice that should be left for the developer to decide. I don't believe people should resort from using the `TextField` component just because of an asterisk that could be manually added.

[2018-02-13 13:46] rogovdm opened #10275 "[docs] StepConnector. Page not found"
Page not found
https://material-ui-next.com/api/step-connector

[2018-02-13 14:06] andyweiss1982 opened #10276 "Determinate Circular Progress value not displaying as expected"
The value supplied to a determinate circular progress component doesn't appear to manifest properly.  The circles appear "overfilled" relative to the values provided.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

I expect that when I pass a value of 20 to the circular progress c

[2018-02-13 14:12] RahavLussato commented on #7731
@SaltyQuetzals Inline styling applied to the root element so it is solving this case but @oliviertassinari what about cases when you need to do it on inner class, e.g. if i have CardHeader
Inline styling can help me to have props based styles on the root, how can i do it for title ?

[2018-02-13 14:17] oliviertassinari commented on #10273
From #10101

[code]

[2018-02-13 14:17] #10273 closed

[2018-02-13 14:22] oliviertassinari commented on #10276
Solved by #10228 cc @mbrookes

[2018-02-13 14:22] #10276 closed

[2018-02-13 14:25] oliviertassinari commented on #10275
@rogovdm Thanks for raising this issue. It shouldn't be referenced. It's a private API:
https://github.com/mui-org/material-ui/blob/6c92ef12a4d205deea3cddc70f33988efef3da30/src/Stepper/StepConnector.js#L37
We need to remove it from https://github.com/mui-org/material-ui/blob/6c92ef12a4d205deea3cddc70f33988efef3da30/docs/src/pages/demos/steppers/steppers.md. Do you want to work on it? :)

[2018-02-13 14:27] andyweiss1982 commented on #10276
@oliviertassinari thanks for the quick update.  Is this in a release package I can use yet, or should I be waiting for an upcoming release?

[2018-02-13 14:28] oliviertassinari commented on #10274
@pietrofxq The asterisk is added as asked by the specification. You are free to disable it:
https://github.com/mui-org/material-ui/blob/6c92ef12a4d205deea3cddc70f33988efef3da30/src/Form/FormLabel.js#L119
[code]

[2018-02-13 14:28] #10274 closed

[2018-02-13 14:29] oliviertassinari commented on #10276
@andyweiss1982 Next release will be this weekend. Otherwise, you can rollback to an earlier version.

[2018-02-13 14:30] andyweiss1982 commented on #10276
OK thanks! @oliviertassinari

[2018-02-13 14:32] oliviertassinari commented on #10269
@z-ax This sounds like a good idea 👍. Bootstrap is doing it for instance: https://getbootstrap.com/docs/4.0/content/tables/

[2018-02-13 14:54] mbrookes commented on #10271
@bife1 If seeing this fixed is important to you, please feel free to submit a PR.

[2018-02-13 15:18] z-ax commented on #10269
Well, our team tested it with the "scope" attribute and table reading worked a lot better - each cell it read as header title and value. Still not sure why they just didn't support the `th` tag out of the box :)

Well, yeah, probably should take a moment to add this. But I didn't contribute with code here yet, will check the process for PR first :)

[2018-02-13 16:37] mariorubinas commented on #6625
Same problem with Material-ui v1.0.0-beta.33

This is a must have feature! I think anyone who works with data grids would agree with me.

[2018-02-13 16:55] tonymckendry opened #10278 "[TextField] Autocapitalize property ignored"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

In v0.x the Autocapitalize property would prevent mobile device keyboards from capitalizing the first letter - after upgrading to 1.x this does not seem to be the case

## Current Behavior

The Autocapitalize property seems to do noth

[2018-02-13 17:01] mbrookes commented on #6625
@mariorubinas If this feature is important to you, please consider submitting a PR. You can use this issue if you'd like to discuss your approach.

[2018-02-13 17:29] mbrookes commented on #10278
Have you tried `inputProps`?

https://material-ui-next.com/demos/text-fields/#components

"You might also have noticed that some native HTML input properties are missing from the TextField component. This is on purpose. The component takes care of the most used properties, then it's up to the user to use the underlying component shown in the following demo. Still, you can use inputProps (and Input

[2018-02-13 17:39] tonymckendry commented on #10278
Sorry must have missed that little blurb - there is no direct example of inputProps being used, but I attempted <TextField inputProps={{autoCapitalize: 'none'}}/> (as well as all lowercase for the key and 'off' for the value) - does not seem to be making a difference.

[2018-02-13 17:48] carlgunderson commented on #7633
This functionality is key to being able to write expressive style rules that combine props, media queries, and interactive states. You can't replace that functionality with inline styles. Unfortunately, `withStyles` is unusable in any of my projects until this gets added.

[2018-02-13 18:46] #4706 closed

[2018-02-13 18:55] oliviertassinari commented on #10278
@tonymckendry The solution to your problem is:
[code]
https://codesandbox.io/s/koykw4w8vo

[2018-02-13 18:55] #10278 closed

[2018-02-13 18:59] tonymckendry commented on #10278
@oliviertassinari - thank you. It turns out that the 3rd party keyboard I am using on my Android device (Swiftkey) is ignoring this rule, but the native Samsung Keyboard and the iOS keyboard are behaving as expected.

[2018-02-13 19:15] caub commented on #8726
@oliviertassinari there's this https://github.com/cssinjs/react-jss/blob/master/readme.md#dynamic-values in react-jss, I wonder if if can't be used in material-ui? Also I understand your point where you say inline `style` prop is perfect for dynamic values, but it's nicer to have all styles definitions in the same places. There's also https://github.com/airbnb/react-with-styles that would handle `

[2018-02-13 19:29] strayiker opened #10280 "[Input] Incorrect easing function"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

https://github.com/mui-org/material-ui/blob/bfbf4ed7f765ebf6760b22a598ad6e4eb9f6f244/src/Input/Input.js#L50
Easing function that used in this line does not exists in theme definition. `easeInOut` will used instead as default value.

[2018-02-13 19:34] SrikanthChebrolu commented on #8726
I am facing the same issue can some one help me out
`import React from 'react';
import PropTypes from 'prop-types';
import { withStyles } from 'material-ui/styles';
import Drawer from 'material-ui/Drawer';
import AppBar from 'material-ui/AppBar';
import Toolbar from 'material-ui/Toolbar';
import List from 'material-ui/List';
import Typography from 'material-ui/Typography';
import IconButton from '

[2018-02-13 20:08] simonbw opened #10281 "Fade cannot fade components that don't pass down `style`"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

-----

**Previous Behavior**
In version 1.0.0.beta31, you could put anything inside a `<Fade>` component and it would get faded.

**Current Behavior**
As of version 1.0.0.beta32, it seems that `Fade` relies on the child component doing the right thing with

[2018-02-13 20:13] oliviertassinari commented on #10281
@sebald Has already experienced this issue. The simplest solution is to add an extra `<div>` element as first children to receive the style property. This change was made in order to better support server rendering. I believe we need to document this point.

[2018-02-13 20:23] oliviertassinari commented on #10280
@strayiker You are correct, it does no longer exist. What about simply removing this line? [material-components-web is using `easeInOut`](https://github.com/material-components/material-components-web/blob/4844330e7836d9dc97798b47594ff0dbaac51227/packages/mdc-animation/_variables.scss#L18) (`.mdc-line-ripple`).

[2018-02-13 20:27] oliviertassinari commented on #10275
@rogovdm It's an opportunity for contributing to the OSS world 👼
<img width="186" alt="capture d ecran 2018-02-13 a 21 26 15" src="https://user-images.githubusercontent.com/3165635/36171918-9ecda062-1104-11e8-839a-2a7e387904e3.png">

[2018-02-13 20:28] kof commented on #8726
@oliviertassinari injected CSS will grow +- same way html would grow with inline styles. Static styles are rendered in separate sheets and reused across all component instances.

[2018-02-13 20:38] svanetten1976 opened #10283 "Color Theme Problems"
Hi, just completed the process of migrating our application to material-ui-next. Most things are working great, but the color theme system only appears to work for some components. We have a configuration object that we run through the createMuiTheme utility and provide it as the theme to the MuiThemeProvider. Even though the theme and the palette are correctly generated, these colors do not carry

[2018-02-13 20:56] oliviertassinari commented on #10283
@svanetten1976 Wow, I can't think of anything that could explain this issue 🐛. I would encourage you to try to simplify the problem so the root cause can be found. It's very likely to be a usage issue on your end. Without a reproduction example, we can't help more.

[2018-02-13 21:01] oliviertassinari commented on #10271
@bife1 The `Select` component inherited the properties of the `Input` component. `disabledUnderline` is implemented by the `Input` component. So the answer to your problem is:
[code]
https://codesandbox.io/s/84jkyqpvp0

[2018-02-13 21:01] #10271 closed

[2018-02-13 21:03] #10283 closed

[2018-02-13 21:07] eigood opened #10284 "Tabs.fullWidth/Tab.fullWidth doesn't work"
This is due to Tabs.styles.root.maxWidth setting not being reset for the fullWidth class.  If I disable that property in the css debugger, then I get full width tabs.

I shouldn't have to add an `overrides.MuiTab.fullWidth.maxWidth: 'initial'` in my own theme to fix this bug.

[2018-02-13 21:19] rosskevin opened #10285 "[ListItemSecondaryAction] visibility on hover"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
`ListItemSecondaryAction` should be able to be `hidden` by default, then `visible` on hover.  This is a really common use case, so if possible, we should consider a clean way to make this (optional) behavior available behind a boolean

[2018-02-13 21:47] matjanos opened #10286 "In production mode style classes changed only in HTML"
When I build a project in production mode JSS generates non-deterministic class names in components views but styles definition is not changed at all.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
I expect to have it changed in both: HTML in `class` attribute and inisde `<style>`

[2018-02-13 21:54] oliviertassinari commented on #10286
@matjanos The root of your issue come from a mismatch of `NODE_ENV` between the client and the server. You need the client code to run in production mode too.

*You can use the [global CSS mode](https://material-ui-next.com/customization/css-in-js/#global-css) if you are in the rush.*

[2018-02-13 21:54] #10286 closed

[2018-02-13 21:56] rosskevin commented on #10285
Here is an attempt to use `onHover` on `ListItem`, which has no effect: https://codesandbox.io/s/54p1xl9nnp

[2018-02-13 21:56] oliviertassinari commented on #10286
(I'm assuming you are doing server side rendering)

[2018-02-13 21:58] oliviertassinari commented on #10284
Yes, it's per the specification.

[2018-02-13 21:58] #10284 closed

[2018-02-13 22:08] eigood commented on #10284
I see that in the spec(264dp), thanks for the pointer.  Would there be a suggested component to use to have auto-expanding tabs?  I'm currently in the process of porting to -next, and this was the first actual thing that I thought was a bug.

[2018-02-13 22:12] oliviertassinari commented on #10284
@eigood I'm not sure what you mean, but the `overrides.MuiTab.fullWidth.maxWidth: 'initial'` workaround sounds great.

[2018-02-13 22:12] rosskevin commented on #10285
Interesting - mouseover/mouseout causes the same thing.
https://codesandbox.io/s/21kw46kvj0

This looks like an event problem with `ButtonBase`?

[2018-02-13 22:13] oliviertassinari commented on #10285
@rosskevin It sounds like the expected behavior. Let me post the correct approach.

[2018-02-13 22:14] eigood commented on #10284
The specs provide sound advice for desktop/mobile web interactions; the sizes defined there have been tested in the field, and users are used to those settings.  Changing it should be done carefully.  I'm just looking for a slightly higher recommended suggestion, and then might provide feedback to the designers.

[2018-02-13 22:16] choelterati opened #10287 "Text Field out of alignment since update"
I noticed some text fields and components implemented using 'FormControl' were no longer in horizontal alignment after a recent package update to beta33.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Some of these controls are aligned using <Grid> and on other pages they are alig

[2018-02-13 22:16] oliviertassinari commented on #10285
[code]

https://codesandbox.io/s/xo0mmyv2oo

[2018-02-13 22:17] rosskevin commented on #10285
I was very hopeful @oliviertassinari - but same problem:

![blink3](https://user-images.githubusercontent.com/136564/36176789-6da883c4-10d9-11e8-95c4-bca251b84803.gif)

[2018-02-13 22:19] oliviertassinari commented on #10285
@rosskevin Oops. I haven't saved the codesandbox. Done

[2018-02-13 22:20] oliviertassinari commented on #10287
@choelterati Could you share a reproduction example?

[2018-02-13 22:21] #10285 closed

[2018-02-13 22:55] #10265 closed

[2018-02-13 23:30] mbrookes commented on #4958
2.5 years, no further comments, and no fix suggests this isn't a priority.

[2018-02-13 23:30] #4958 closed

[2018-02-13 23:31] mbrookes commented on #5565
I think it's safe to assume after 2+ years that this won't get fixed on v0.x

[2018-02-13 23:31] #5565 closed

[2018-02-13 23:32] mbrookes commented on #5732
I think it's safe to assume after 2+ years and no further requests that this won't get fixed on v0.x

[2018-02-13 23:35] mbrookes commented on #5753
As it's 2+ years since this was opened, and no-one has found it important enough to fix the issue, lets close it.

[2018-02-13 23:35] #5753 closed

[2018-02-13 23:36] mbrookes commented on #5157
As no-one has found this important enough to fix in nearly 2.5 years, lets close it.

[2018-02-13 23:36] #5157 closed

[2018-02-13 23:36] #5732 closed

[2018-02-14 05:28] phsantiago opened #10289 "[CardMedia] Isn't possible add children"
The CardMedia component don't accept children on his tag.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

I would like to be able to do it inside CardMedia:
![image](https://user-images.githubusercontent.com/10498833/36188932-9df6c768-1136-11e8-960d-40cecf90996b.png)

## Current B

[2018-02-14 05:50] phsantiago commented on #10289
My bad guys, this actually works.

[2018-02-14 05:50] #10289 closed

[2018-02-14 07:00] lukePeavey commented on #10044
@oliviertassinari Id be happy to fix this if no else if working on it

[2018-02-14 09:26] #10280 closed

[2018-02-14 09:40] axlider opened #10291 "IE 11 poblems"
In latest version v1.0.0-beta.33 I can see several problems in IE 11.
Problems can even be seen on demo pages

- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Behaviour should be o.k. in all browsers
## Current Behavior

1. Layout Problems. Please see below
2. As a side note: I am

[2018-02-14 11:59] nitte93 commented on #5329
This issue it closed? But, I tried passing   `dialogClassName`  and `containerClassName` to the `Datepicker` component, and unfortunately none of them gets applied. The document also doesn't talk much about these two props. How do I pass a `classname`  to datepicker's dialog component. Any help would be appreciated.

[2018-02-14 12:31] oliviertassinari commented on #5329
@nitte93 The issue was closed because it won't land in v0.x.

[2018-02-14 12:32] nitte93 commented on #5329
@oliviertassinari Ok, is it coming in next version? I can create a PR if you need.

[2018-02-14 12:35] sebald commented on #10281
Glad I am not the only one 😄

[2018-02-14 12:59] nitte93 commented on #5329
@oliviertassinari are we not having `Datepicker` in material@next. If not, what is the recommended workaround?

[2018-02-14 13:13] nitte93 commented on #5329
@oliviertassinari it's not there in the materialui@next's too. The recommended components for `datepicker` on the picker page doesn't supprt passing a `dialogContainerClassname`.Is there any plans on that, If required I can create a PR, if not! Is there any recommended way to pass classname to datepicker dialog.

[2018-02-14 13:23] chyzwar opened #10292 "react-jss unexpected output."
react jss should compile advanced css object for :hover.

## Expected Behavior
[code]

[code]

## Current Behavior

[code]

it is getting compiled into:

[code]

I created issue here because react-jss playground screate correct output. I am not sure if this is because of specific version of jss used or something in material.

| Tech         | Version |
|--------------|---------|
| Material-UI  |

[2018-02-14 13:59] oliviertassinari commented on #10292
withStyles doesn't load the [jss-expand](http://cssinjs.org/jss-expand) plugin. It's documented in https://material-ui-next.com/customization/css-in-js/#plugins.

[2018-02-14 13:59] #10292 closed

[2018-02-14 15:30] Andy4ward opened #10293 "Typings Exports missing from index"
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
importing parts of material-ui should be available from the top level folder

## Current Behavior
The following list produces a typescript error ".../material-ui/index has no exported member <whichever member>"

InputAdornment (I beli

[2018-02-14 15:41] oliviertassinari commented on #10293
@Andy4ward Do you want to submit a pull request for fixing this?

[2018-02-14 15:43] Andy4ward commented on #10293
@oliviertassinari quite new to react/javascript/material-ui/git etc. so not sure i know how to do that as I only installed material-ui through npm

[2018-02-14 16:42] mbrookes commented on #10293
@Andy4ward IT's pretty straightforward: https://github.com/mui-org/material-ui/blob/v1-beta/CONTRIBUTING.md#getting-started

[2018-02-14 17:12] RonanQuigley opened #10294 "Unable to modify color of ListItemText using MuiListItemText override"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
The ListItemText component should change colour when an override is applied

## Current Behavior
Currently in order to override it I have to disable typography; is there any way to apply the color whilst maintaining the typography? I t

[2018-02-14 17:40] Andy4ward commented on #10293
@mbrookes thanks for the link
@oliviertassinari i think this has been done now. Please let me know if there are any issues

[2018-02-14 18:20] Clabaste opened #10296 "DatePicker (localized) does not work correctly for years before 1980"
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
If I choose a date, this date should correctly displayed

## Current Behavior
For the year 1979 and longer ago, the localized version interpretes the months wrongly, e.g. July will be August, August will be September and so on. Sorry,

[2018-02-14 19:08] johnmcqu commented on #10262
Same issue here!

[2018-02-14 19:20] HaydenEdgmon commented on #10262
Same, looks like the the TableRow should have a 'disabled' prop, currently seems like the 'disabled' value of a row's Checkbox is referencing the Table's 'selectable' value

[2018-02-14 19:22] #10294 closed

[2018-02-14 19:24] oliviertassinari commented on #10294
The color CSS property doesn't inherit. You need to target the right DOM element:

[code]

[2018-02-14 19:24] nwabdou85 commented on #10248
any one to help here, it's urgent please ?? I'm losing a customers beacuse of this

[2018-02-14 19:28] oliviertassinari commented on #10248
@nwabdou85 Sorry, I do no longer work on v0.x. I have no clue.

[2018-02-14 19:34] nwabdou85 commented on #10248
@oliviertassinari  who can help me with that?

[2018-02-14 20:19] caub opened #10297 "[docs] Menu composition example issue with React-popper"
This is not a huge issue, but I was trying the [MenuListComposition](https://github.com/mui-org/material-ui/blob/v1-beta/docs/src/pages/demos/menus/MenuListComposition.js) example, and trying to make it toggle the dropdown on click the "Open Menu" target button.

But I notice that the `ClickAwayListener` is always called just before (which is weird, but I guess due to how React handles all events

[2018-02-14 20:27] xaviergonz opened #10298 "weird dependency warning: material-ui > react-popper@0.7.5: please use 0.7.4 or 8.0.0 and above"
I'm not sure why this warning pops up, maybe react-popper 0.7.5 is badly broken?

[2018-02-14 20:42] oliviertassinari commented on #10298
@xaviergonz Sounds like we need to upgrade!

[2018-02-14 20:58] #10293 closed

[2018-02-14 20:59] #10269 closed

[2018-02-14 21:43] #10298 closed

[2018-02-14 23:16] #10275 closed

[2018-02-14 23:16] caub commented on #10297
Oh, by waiting for a js loop cycle: https://codesandbox.io/s/oqj43j8o99

I'll see if I can update the docs example soon

[2018-02-15 07:08] manukbenjamin opened #10304 "Nested listitem is not expanding, if I visits a route directly"
I have created nested list items using material makeSelectable and Drawer. It is working as expected if I navigate through list items, but If I visit a route directly, the nested list items are not expanding.

Any solution to make those list items expanded automatically. I am using some buttons and links to navigate to other pages(used react-router-dom BrowserHistory push method).

Any help on thi

[2018-02-15 08:40] #9529 closed

[2018-02-15 09:16] manukbenjamin commented on #10304
Found same issue here : http://www.material-ui.com/

![nested_listitem_issue](https://user-images.githubusercontent.com/17172207/36248826-be1e8034-125e-11e8-992b-109ad75a286a.gif)

[2018-02-15 09:53] jagregory commented on #10020
Tonight I made an attempt to reproduce this tonight with a clean repo, but I failed.

After a lot of experimentation, I isolated the problem down to one library which was pulling in an older version of React, so I had two React versions in my node_modules. I attempted to reproduce this in a clean project by bringing in the same dependency, but couldn't get it to happen. It's something about the wa

[2018-02-15 10:31] oliviertassinari commented on #10044
@lukePeavey Nobody is working on it. It's yours 💃.

[2018-02-15 10:44] stefanorie opened #10305 "Typescript definition for ButtonClassKey"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Following the [docs](https://material-ui-next.com/api/button/) it should be possible to overwrite the `fullWidth` class name on the Button component. However, the `fullWidth` key is missing from the `ButtonClassKey`. Resulting in the following error:

[cod

[2018-02-15 12:09] state0fmind opened #10306 "How to change font across all the components?"
I think this explanation should be added to the docs.

[2018-02-15 12:49] #10306 closed

[2018-02-15 12:49] oliviertassinari commented on #10306
https://material-ui-next.com/customization/themes/#typography

[2018-02-15 12:50] oliviertassinari commented on #10305
@stefanorie Right, the key is missing in:
https://github.com/mui-org/material-ui/blob/bf7feca3414f5a5961365c0f85dc5ff4d39f3ac9/src/Button/Button.d.ts#L19-L30

Feel free to submit a pull-request :).

[2018-02-15 13:07] stefanorie commented on #10305
Sure, I'll give it a try!

[2018-02-15 13:18] msman opened #10309 "material UI Multiple Select not viewing several selected items when they selected, my be css issue"
I tried to use the Multiple Select (chip). But I get a difference, is that when many items are selected, they are not viewed, I couldn't change the height to be enough to display selected options. please help.

I am sure it is height property because I added `height:auto` using chrome style editor and so selected options could be viewed and issue solved at the console. You can guide me through add

[2018-02-15 13:30] oliviertassinari commented on #10309
It could be linked to some other global CSS override you have in your app. I'm closing the issue as it's seems linked to your project.

[2018-02-15 13:30] #10309 closed

[2018-02-15 13:53] nWidart commented on #7195
Hello,

When using typescript, is there a specific version of the `@types/material-ui` to use? `^0.20.7` seem to have _some_ of the types.

Thanks,

[2018-02-15 13:59] #10305 closed

[2018-02-15 14:05] tgrrr opened #10311 "Controlled card demo creates Linter fatal error"
- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behaviour

No error in ESLint
Alternatively: Clicking the icon -> expands the card

  handleExpandChange = (expanded) => {
                                            ^
    this.setState({expanded: expanded});
  };

Error: Unexpected Token, fa

[2018-02-15 16:09] sertjerm commented on #6886
not good idea but worked for me
i'm using with jquery

`import $ from 'jquery'`
`  componentDidMount() {
        $(".div-my-calendar").find("button:eq(0)").bind("click", () => {
            console.log('prev')
            this.onMonthChanged('prev')
        })
        $(".div-my-calendar").find("button:eq(1)").bind("click", () => {
            console.log('next')
            this.onMonthChanged('n

[2018-02-15 16:39] bansalrachita opened #10312 "Date Picker shows wrong date value in version 18.2"
The date picker will show the date minus 1-day value for a given date value in the date picker.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
   The date value assigned from the state object should populate the date picker date value as it is.

## Current Behavior
    The date pi

[2018-02-15 17:04] bfang711 commented on #2866
Popover anchor to `mouseevent.target` winds up to pop over at upper-left corner of the screen. Any solution for that?

I know it works in v1 beta according to the website. However I'm still using material-ui v0.20.0. (seems like a lot of changes need to be made to migrate to v1-beta. for example, `import {FlatButton} from '.../FlatButton';` needs to change to `import {Button} from '.../Button';`.

[2018-02-15 17:48] nwabdou85 commented on #10248
Finally, I found the solution, is not related to material ui but to  react bootstrap;

Thank's

[2018-02-15 17:48] #10248 closed

[2018-02-15 22:38] oliviertassinari commented on #10291
I have found the root cause. The server-side generated CSS is correct. The client-side CSS is injected after the server side one (higher specificity), unfortunately, #10237 prevent the client-side CSS to be fully injected and to remove the server side one. We end up in a stale state.

Duplicate of #10237

[2018-02-15 22:38] #10291 closed

[2018-02-15 22:39] oliviertassinari commented on #10291
If you want to try it yourself, you can disable JavaScript: https://www.technipages.com/internet-explorer-enabledisable-javascript.

[2018-02-15 22:44] oliviertassinari commented on #10287
I can't see any diff. I'm closing until a reproduction is provided.
<img width="831" alt="capture d ecran 2018-02-15 a 23 43 53" src="https://user-images.githubusercontent.com/3165635/36284976-209a39e2-12aa-11e8-802e-c87a2302f1c3.png">

[2018-02-15 22:44] #10287 closed

[2018-02-15 22:44] #10297 closed

[2018-02-16 02:35] uncleoptimus commented on #10223
This worked for me, too. 👌
Was using `spacing={16}` or otherwise leaving unspecified. Result was strange on mobile, with small slivers of blank page to the right and bottom I could not account for and that `overflow` css rule couldn't totally address 😂

[2018-02-16 04:39] up209d commented on #9640
I got that warning as well

It is definitely because of the name generator is shared among requests. So the generator function should be placed inside handler request function to avoid global variable

[code]
Otherwise if you put it somewhere it has to be a function

[code]

[2018-02-16 04:57] ahmedhosny commented on #1792
Any ideas on the best way to listen to changes in AppBar height? This way the dummy div marginTop can also be responsive.

[2018-02-16 05:37] tashburn opened #10316 "How to style a disabled Button?"
I don't see a way to style a disabled `IconButton` (or any `Button`, for that matter) in [the docs](http://www.material-ui.com/#/components/icon-button).

Is there a way?

If not, please add this ability -- perhaps as a `disabledStyle` prop.

[2018-02-16 07:26] AdamGorkoz commented on #10281
@oliviertassinari  I would like to take this one if you don't mind :)

Since this is my first contribution (ever) i'd like to better understand the agreed upon solution here.
So the Fade component should wrap what ever children it gets with a div automatically so the fade transition will work correct ? or are we saying that the user should be aware that he needs to add a single div as child and th

[2018-02-16 08:06] chyzwar commented on #10292
Thanks. I am sorry for not reading docs carefully enough :(

[2018-02-16 08:28] lhuria94 commented on #10148
Found this solution we can render our component inside Radio button's label. Something like this:

[code]
Where in your component:
[code]

Note: We will have to pass z-index explicitly to make it editable because of the Radio button behavior.

[2018-02-16 12:48] oliviertassinari commented on #10281
@AdamGorkoz Hi, we are happy to hear it. You can learn more about our process in [CONTRIBUTING.md](https://github.com/mui-org/material-ui/blob/v1-beta/CONTRIBUTING.md).

This is key. I think that we should document that some our transitions components (Fade, Grow, Zoom, Slide) provide a `style` property to the children. It's user responsibility to apply this style to the DOM if they want the anima

[2018-02-16 14:13] radi-ratlh opened #10319 "Styles break in production when using jss-rtl"
I am facing a wired issue when trying to publish my app to production, I am using "npm run build" to build my app.the log contains some warning but its's not related to my issue:
[code]

The problem is when I render the production build the app styles is corrupted while the js functions is working fine e.g.login, axios requests and routing.
**I figured out what causing this issue but I couldn't so

[2018-02-16 14:31] oliviertassinari commented on #10319
@radi-ratlh We can't help with a complete reproduction example. It's most likely a configuration issue on your side. You can try the unsafe global option if you want to ship quickly: https://material-ui-next.com/customization/css-in-js/#global-css.

[2018-02-16 14:31] #10319 closed

[2018-02-16 14:55] cnagadya opened #10320 "Custom color for each step in the Stepper"
How can I have each step with a different iconColor as shown in the pic?
![image](https://user-images.githubusercontent.com/26176338/36313399-78502960-1342-11e8-9287-13a69ba9900d.png)

The approach below changes the color of all icons collectively
[code]

[2018-02-16 15:12] antiwebbite opened #10321 "[Modal] Exit Transitions Being Cut Off"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Modal should have smooth transitions on open and close or give users the ability to add them.

## Current Behavior
Currently in your [Modal example](https://material-ui-next.com/demos/modals/), there is a short transition in and when c

[2018-02-16 15:26] AdamGorkoz commented on #10281
#10322 submitted a pull request :)

[2018-02-16 15:39] #10320 closed

[2018-02-16 15:41] oliviertassinari commented on #10321
@antiwebbite Before answering this issue. Are you using the Modal over the Dialog component on purpose?

[2018-02-16 15:51] antiwebbite commented on #10321
Yes, this will display custom information that doesn't fit within the standard template set up in the dialog component. (i.e. Title section, Content section, Actions section)

That being said, I think I can use the Dialog component and then add styling to undo it's template and add my features like an X in the corner to get this to work, but I figured we had a Modal component for a reason and it's

[2018-02-16 17:04] antiwebbite commented on #10321
As a side note, I have attempted to use Dialog and it seems way more polished and farther along, so I should be able to make it work for my purposes with a bit of customization. Even still, I felt it was worth reporting/inquiring about modal transitions for the future or other users!

[2018-02-16 17:11] oliviertassinari commented on #10321
You are right. The relevant piece of logic is:
https://github.com/mui-org/material-ui/blob/218c6c23c726d8f4b014834eaa850438eb5b0e87/src/Modal/Modal.js#L67-L70
It doesn't wait for the Backdrop transition to complete to close the modal. It only waits for the children transition if provided.

In a future version, I want to expose a version of the modal free of the `withStyles()` dependency (and the +

[2018-02-16 17:11] #10321 closed

[2018-02-16 17:21] matthewdordal commented on #10316
It looks like the v0.x version has a `disabled` class that can be overridden. I made an example of doing that on a button here:

https://codesandbox.io/s/7yqkmx61oj

Here's an example of some custom styles on the IconButton also

https://codesandbox.io/s/84jkp007nj

I found references to these in the v0.x Component API docs for the [Button](https://material-ui-next.com/api/button/#css-api) and the

[2018-02-16 17:26] sfowl73 commented on #9336
I had the same issue. I ended up having to use an `onClick: (event) => {handle.my.stuff(event.target.value)}`. It seems to work as expected now. I seem to remember onChange also being very finicky with mui 0.x and having to use onClick instead.

[2018-02-16 18:37] walwoodr commented on #8111
Probably too late to be helpful for @xaviergonz or @zeckdude, but I got there [this way](https://stackoverflow.com/questions/42008913/how-do-you-set-the-ripple-color-of-a-material-ui-listitem/48832912#answer-48832912)

I wouldn't say this is in fact a well documented override.

[2018-02-16 20:10] maxdubrinsky opened #10324 "Chip preventing default on keydown events"
Currently I have an `Input` sitting inside the `label` of a `Chip`, and the way "backspace" is handled causes several issues with this text input. I'm able to stop the `onDelete` function being called, but cannot fix the fact `Input` is never getting an event.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplic

[2018-02-16 20:22] shssoichiro commented on #9351
I'm having this issue as well, when using a Tooltip inside of a GridListItem. Since the GridListItem sets `overflow: hidden`, portions of the tooltip are cut off.

[2018-02-16 20:23] oliviertassinari commented on #10324
@maxdubrinsky I agree. I think that it's an issue on our end. I think that the event listener
https://github.com/mui-org/material-ui/blob/2de755d97f0d676f221b41446c78f9b54fa54a37/src/Chip/Chip.js#L101
should only listen to `event.currentTarget === event.target`.

[2018-02-16 20:32] oliviertassinari commented on #10324
@maxdubrinsky Do you want to work on it?

[2018-02-16 20:34] dustingraves commented on #4489
I just encountered this problem today... I like option 3. There is a project called Grommet that does something like this http://grommet.io/docs/icon

Each path is wrapped in `<g ...attributes><path /></g>` flag and you can specify path attributes

[code]

[2018-02-16 20:37] maxdubrinsky commented on #10324
@oliviertassinari I can take a stab at it.

[2018-02-16 20:41] oliviertassinari commented on #4489
@dustingraves People can already do that with Material-UI. I don't follow.

[2018-02-16 20:45] dustingraves commented on #4489
I didn't read the original problem fully... I will remove my comment to keep the issue clean

[2018-02-16 21:57] radi-ratlh commented on #10319
@oliviertassinari Thank you, it's ok for now to keep the classes names, I will try to reproduce the issue in separate project and update the issue here.

[2018-02-16 22:46] maxdubrinsky commented on #10324
@oliviertassinari So I've got something working but am running into issues with the unit tests. I'm not super familiar with mocha, but assigning event targets doesn't seem documented/intuitive. Does this project have a standard/convention for this?

[2018-02-16 23:21] oliviertassinari commented on #10324
@maxdubrinsky I don't the link with mocha. Maybe you can hit us with what you have and I can have a look?

[2018-02-16 23:29] henrylearn2rock opened #10327 "CircularProgress, length of the line does not animate under load"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
CircularProgress animation should be smooth and predictable under load

## Current Behavior
The animation is okay but the dynamic length of the line only updates once a while under load.  Maybe my understanding of Promise is wrong? I t

[2018-02-16 23:48] oliviertassinari commented on #10327
The circular progress animation requires CPU/GPU processing power to run, much more than a simple rotation. I don't think that we could do anything to improve the current situation. It's definitely a limitation. Under heavy load, we lose the stroke dash animation, the only thing that keeps working is the rotation. At least, we rely 100% on CSS to run the animation, some different implementation re

[2018-02-16 23:49] oliviertassinari commented on #10327
@henrylearn2rock My best advise would that you run scripting intensive operations in a web worker or by batch in order not to block the main rendering thread.

[2018-02-17 04:14] atrauzzi opened #10329 "TextField not animating label when updated via state without event"
![possible material ui bug](https://user-images.githubusercontent.com/115199/36337879-8069814a-1366-11e8-9faf-92d22dfd0709.gif)

You can see the code for this component [here](https://github.com/atrauzzi/gerty/blob/a2a1ce36227a95c6aeb4aa1ca3f0035b9bc21354/src/Layer/Git/Component/CloneGitRepository.tsx#L66-L93).

Apologies if it's my own mistake, but I'm noticing when I update the state of my paren

[2018-02-17 09:04] AdamGorkoz commented on #10234
I'll have a go at this one :)

[2018-02-17 10:33] id0Sch opened #10331 "unable to customize Step icon using StepIcon"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
I would like to be able to customize the icon in the stepper, instead of only being able to use the index of the step.
I've tried using the StepIcon but it doesn't work, here my attempt.
https://codesandbox.io/embed/n0zy0m04zm

## Your

[2018-02-17 10:37] #10331 closed

[2018-02-17 10:38] oliviertassinari commented on #10331
@id0Sch You are using the font icon component. You need to load the font. One way to do it is:
[code]
It's documented [here](https://material-ui-next.com/style/icons/#font-icons). I will add an example to make it clearer.

[2018-02-17 11:24] Vincz opened #10333 "SSR Problem (maybe Hidden comp related)"
I have an app using material-ui and SSR. On some pages of my app, I get a warning like:

    Warning: Prop `className` did not match. Server: .... "a-224 b-231 c-241 d-293" Client: "a-224 b-231 c-241 d-284"

(I replaced the long classnames with a, b, c, d). But the mismatch is on the "suffix" of the last className. "d-293" on server vs "d-284" on client.

So it seems that at some point, there is s

[2018-02-17 11:49] oliviertassinari commented on #10333
@Vincz Non of our component should be causing SSR mismatch. Even the Hidden component is supposed to handle this use case well.

I have been facing this mismatch issue numerous times in the past. Either on issues here or on my projects. It's never fun. Next step. Look at what the `d-293` class name correspond too on the server and what `d-284` correspond too on the client. You can turn on the `dan

[2018-02-17 11:49] #10333 closed

[2018-02-17 12:13] Vincz commented on #10333
@oliviertassinari You were right. I finally have it.
The problem comes from [material-ui-pickers](https://github.com/dmtrKovalenko/material-ui-pickers)
Somehow, on the server side, it generates twice the classes for Modal & Dialog (components used in the pickers).
I'll investigate and check with them.
Thank you anyway for your good advices !

[2018-02-17 13:05] erykpiast opened #10335 "Unused modules in bundle"
I've started analyzing `material-ui` part (quite big as it turned out) of my application bundle. My app is very simple for now, I use not many different widgets, so I was quite surprised seeing modules like `Popover` inside the bundle. I've traced dependency graph and I found quite a long path from `Select` (which I consciously use), through `SelectInput` and `Menu` modules, to that `Popover` thin

[2018-02-17 13:46] ibreathebsb opened #10336 "css override with webpack?"
I'm trying to make a floating action button, but after compiling, material-ui styles are inserted at last, and `MuiButtonBase ` override my style `position: fixed`, how can i fix this? i know inline style works, but i really don't like that way. has anyone encounter this problem?
BTW, I'm using `html-webpack-plugin` and `postcss`

[code]

[code]

[2018-02-17 13:48] designjudo commented on #7633
You can always setup a custom theme, and use this convention: We really like how styled components gives you access to the props.theme out of the box by nesting ThemeProvider inside MuiThemeProvider when both called theme={theme}. It extends the default theme that mui exposes

[code]

[2018-02-17 14:03] oliviertassinari commented on #10336
The answer to your question is in this documentation section: https://material-ui-next.com/customization/css-in-js/#css-injection-order.

[2018-02-17 14:03] #10336 closed

[2018-02-17 14:49] Glaadiss commented on #1404
Now, you can create this with following code:
[code]

[2018-02-17 15:51] #10281 closed

[2018-02-17 17:11] id0Sch commented on #10331
Thanks!

[2018-02-17 17:11] MaratFaskhiev commented on #10256
We have the similar issue for English characters at Android device. It is reproducible both at android and cordova.

Material UI version is 0.20

[2018-02-17 17:14] #10234 closed

[2018-02-17 17:59] MaratFaskhiev commented on #10256
It looks like it is connected to this PR: https://github.com/mui-org/material-ui/pull/7006

After I commented `input.setSelectionRange(cursorPosition, cursorPosition);` it is not reproducible anymore.

[2018-02-17 18:47] oliviertassinari commented on #10335
@erykpiast Thanks for raising this issue! I agree. We need to do something. The best option I can think of is having two `SelectInput` components, then find some way to exposes it with a clean API.

[2018-02-17 20:16] npattarone commented on #10296
Same issue here, but using locale = 'es-ES'

[2018-02-17 20:42] strayiker opened #10339 "Improve Button accessibility"
https://github.com/mui-org/material-ui/blob/218c6c23c726d8f4b014834eaa850438eb5b0e87/src/ButtonBase/ButtonBase.js#L132-L144

If Button is an "a" element and does not have the "href" attribute, it must be treated as a non-interactive element.

## Expected Behavior
<Button component="a" onClick={() => alert('!')} /> should have a "button" role and respond to keyboard events.

## Current Behavior
Thi

[2018-02-17 20:57] oliviertassinari commented on #10339
Do you have some ressources explaining this expected behavior?
As long as no W3C warnings are raised, Lighthouse is happy with the pattern and we follow an officiel specification. I'm happy with this change.

[2018-02-17 21:18] strayiker commented on #10339
[w3](https://www.w3.org/TR/wai-aria-practices-1.1/#keyboard-interaction-3)

[w3 examples](https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/button/button.html)
[mdn](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_button_role#Keyboard_and_focus)

[2018-02-18 00:29] TroySchmidt commented on #9351
Yes @shssoichiro I have had that issue as well.  In a table case with overflow:hidden and scrollbars the tooltips won't extend outside that parent div with the hidden.

[2018-02-18 05:08] thupi opened #10340 "[Button] Do not activates ripple on autoFocus"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Expected behavior is that the button would trigger the ripple effect in order to visually tell that it has focus :-)

## Current Behavior
The button component triggers the ripple effect when the focus is moved manually using (tab). Bu

[2018-02-18 07:10] malcolm-kee commented on #8298
@sakulstra I think the main difference between `<Input multiline />` and `TextArea` is that TextArea is having a fixed height while `<Input multiline />`'s height change with the input, as demo in the [Material UI Text Field - Field Types section](https://material.io/guidelines/components/text-fields.html#text-fields-field-types).

[2018-02-18 07:16] tashburn commented on #10316
@matthewdordal Thanks for the idea. I'm using version 0.20 though, where you pass style props like `style`, `tooltipStyle`, `hoveredStyle`, `iconStyle`. It seems an oversight to not include a `disabledStyle` prop.

http://www.material-ui.com/#/components/icon-button

Your solution looks like it will work for the current 1.0 beta. Any idea when it will be out of beta?

[2018-02-18 09:05] oliviertassinari commented on #10340
@thupi Yes, it's. Try opening the dialog with the keyboard. The current behavior is correct. The pulsating ripple is here to show users where the focus here. Mouse users don't need it.

Duplicate of #3008

[2018-02-18 09:05] #10340 closed

[2018-02-18 09:11] dandrei commented on #9640
I'm using `withStyles` the same way I'm using it in a CRA app, namely:

I apply it to a component under './layouts/', which I use as a template for files under `./pages/`

On the first load when `Next.js` is started, there are no errors. When refreshing, I start getting:

Any clue on how to address this?

[2018-02-18 13:25] thupi commented on #10340
My bad, i was not able to find the issue that related to this.

@oliviertassinari  However, my use case is that i have a login form and a dialog is shown when the email or the password is wrong. But due to this behavior a user can't know which of the actions that is going to be pressed when they press (Enter).

I read the issue you referenced but i was not able to find any easy way to start the ri

[2018-02-18 14:02] oliviertassinari commented on #10339
The following HTML raises no [W3C warning](https://validator.w3.org/nu/#textarea):
[code]

It sounds like we should revert: https://github.com/mui-org/material-ui/pull/10050/files#diff-0ecf88aee38c8d99100d7484df04c106R44.

[2018-02-18 14:10] oliviertassinari commented on #10340
@thupi The pulsating ripple should be visible if a keyboard interaction triggers the form validation and the display of the dialog. You are assuming the user will start the interaction with the mouse and finish it with the keyboard 🤔.

The purpose of #3008 is to implement a standard keyboard focus API. So you can solve your use case.

The API will be imperative.

I'm not aware of a hacky workaroun

[2018-02-18 14:52] thupi commented on #10340
@oliviertassinari You are totally right :-) ! I was not aware of that the button is able to detect whether or not keyboard was used to get to the Dialog :-) !

Thanks alot :-) Looking forward to the keyboardFocus API :-)

[2018-02-18 16:04] mbrookes commented on #6571
For those still confused, please remember that GitHub issues is not a support forum. This is explained in the [README](https://github.com/mui-org/material-ui/blob/v1-beta/README.md#questions), and in [SUPPORT.md](https://github.com/mui-org/material-ui/blob/v1-beta/README.md#questions) which is flashed when you open a new issue.

To be clear, we want users to be successful with Material-UI, but tim

[2018-02-18 17:12] sunshineo commented on #10148
Thank you @lhuria94 ! However I feel this is quite a complicated workaround for such a simple task.

[2018-02-18 17:22] leMaik commented on #10311
The `field = ...` syntax in classes is a new feature that is only supported through babel at the moment.

This can be fixed by using babel-eslint as parser for eslint and adding the corresponding `.babelrc` with presets to parse ES2015.

https://github.com/mui-org/material-ui/blob/master/.eslintrc.js#L10
https://github.com/mui-org/material-ui/blob/master/.babelrc#L2

[2018-02-18 17:55] pmosconi commented on #2175
I was able to align header and content column widths using CSS grid:
[code]

[2018-02-18 19:43] AdamGorkoz commented on #8813
@oliviertassinari Is there a special reason why this is not supported ? i'd like to take a shoot at it unless i missing something

[2018-02-18 19:49] oliviertassinari commented on #8813
@AdamGorkoz I believe it's a documentation issue.

[2018-02-18 22:52] sakulstra commented on #8813
@AdamGorkoz this is how you could tackle this with the current implementation https://codesandbox.io/s/wqq7059oq8 .
We should probably add something along these lines to the documentation, but I didn't find time and tbh forgot about it - feel free to do so :)

[2018-02-18 23:13] mbrookes commented on #10044
@lukePeavey I appreciate your comment wasn't directed to me, so forgive the intrusion, but: no need to apologise. No open source project carries any obligation to contribute. If it benefits you to fix something, and sharing that fix benefits others, then that's a bonus. The opposite is also true - those who use open source, complain when something is broken, but contribute nothing in return, drain

[2018-02-19 05:45] samdenty99 opened #10341 "Max call stack - Modal._this.enforceFocus"
![image](https://user-images.githubusercontent.com/13242392/36363696-e650c5f0-1536-11e8-9c06-49e6bf31cd07.png)
![image](https://user-images.githubusercontent.com/13242392/36363704-f46dfab8-1536-11e8-901f-2fe9a010c9ca.png)

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Doesn't exce

[2018-02-19 06:54] adrianmcli commented on #9687
@glenarama @oliviertassinari

I hacked an example together real quick. Not sure how correct or good it is, but here it is: https://github.com/adrianmcli/styled-mui-next

I feel like `getPageContext.js` and `withRoot.js` might benefit from being abstracted away into a library, but I'm not sure.

Let me know what you guys think. Let's try to improve it together.

[2018-02-19 08:33] oliviertassinari commented on #10341
@samdenty99 The modal also keeps itself in focus. The maximum call stack error is the expected behavior. You have an infinite focus loop.
Ideally, the modal component should be able to detect the loop and raised an extra warning along suggesting people to diable the behavior with `disableEnforceFocus`.

Given it's the first time the problem is raised. Let's use this issue as documentation for futu

[2018-02-19 08:33] #10341 closed

[2018-02-19 08:42] lexanth opened #10342 "Input adornment with IconButton incorrectly positioned on Internet Explorer 11"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Positioning of the IconButton as an InputAdornment should be the same on IE11 as it is on other browsers.

## Current Behavior
The IconButton is rendered too low and further to the right (for a right adornment).

## Steps to Reproduce

[2018-02-19 09:33] Clabaste commented on #10296
Hi Natalie,

thanks for your response!

I thought also about the 1970 Unix thing, but the bug also in the year 1979 and longer ago, but not in 1980 and "younger".

[2018-02-19 11:27] rg4real opened #10343 "[Grid] API sugar proposal"
Grid component has quite a few props. And those are great. A person (or a group) who came out with this API are awesome 👍

I have a small proposal. In order to *group properties visually* (because it'a lot of them) I came up with this idea:

![image](https://user-images.githubusercontent.com/1548235/36375600-88f8e274-1578-11e8-9313-77402084a7c7.png)

Nice, but why not proposing adding a `sizes` pr

[2018-02-19 11:31] npattarone commented on #10296
In locale =‘es-ES’ there are no problems between 1980 and 1970, that’s why I said the UNIX thing... also not seeing it in Material UI official API for DatePicker on locale=‘fr’, only beyond 1969... but maybe it’s something related to our own configurations on each machine 🤷‍♀️

[2018-02-19 11:31] keenondrums opened #10344 "[Select] tabIndex is hardcoded and can not be changed"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

tabIndex should be passed as a prop and the componenet should use this passed value

## Current Behavior

tabIndex is harrdcoded to 0 or null

## Steps to Reproduce (for bugs)

1. Just take a look here https://github.com/mui-org/mater

[2018-02-19 11:41] oliviertassinari commented on #10343
@rogovdm This issue is deeply linked to #6140. I was suggesting doing it the other way around:
[code]
or
[code]
But I'm not sold on any specific API. It's something we can start thinking about for Material-UI v2.

[2018-02-19 12:35] oliviertassinari commented on #10344
@keenondrums What is your use case?

[2018-02-19 13:07] oliviertassinari commented on #10342
It's working on Material-UI side on IE 11. I'm not sure I can help. Maybe it's a JSS issue?
![capture d ecran 2018-02-19 a 14 07 04](https://user-images.githubusercontent.com/3165635/36379267-3d1d82a0-157e-11e8-8067-8f2bd60531bd.png)

[2018-02-19 13:24] alexanthony commented on #10342
Even there, it's right up against the right hand edge of the text field, whereas on chrome there is more padding:

![image](https://user-images.githubusercontent.com/1242475/36379816-e665e7e6-1577-11e8-9639-9c79f27f33f9.png)

The vertical difference is a bigger issue, and seems to be from using a material-ui/Icon rather than something from material-ui-icons?

[2018-02-19 13:35] keenondrums commented on #10344
@oliviertassinari I just want tabulation to happen in certain order. In my dialog I want it to start from a set of fields, then jump to submit button, then to close button. Anyway it's a very general requirement to be able to affect tabulation order.

[2018-02-19 13:47] oliviertassinari commented on #10344
@keenondrums Sounds good.

[2018-02-19 13:56] usman250994 commented on #5309
@JarLowrey  this is not working at all :(

[2018-02-19 15:04] palaniichukdmytro opened #10349 "SVG fontSize sets by default to true and ignore width and height for SVG"
SVG fontSize sets by default to true and ignore width and height for SVG

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Expected use root overrides style when fonwSize are not provided
So I have overrides for MuiSvgIcon

[code]

## Current Behavior

But when I use my icon  withou

[2018-02-19 15:08] oliviertassinari commented on #10349
@palaniichukdmytro Would this change solve your issue? https://github.com/mui-org/material-ui/pull/10348/files#diff-38574c080d4e2eb38c49b86e6588ad98R106

[2018-02-19 15:18] palaniichukdmytro commented on #10349
@oliviertassinari  actually better do not use fontSize as css api, and style as you mention in style.

[2018-02-19 15:27] oliviertassinari commented on #10349
@palaniichukdmytro Sorry, I don't understand your point. What do you think we should change and how you would use the component with this change?

[2018-02-19 15:32] bityogi commented on #3771
Check out [this](https://github.com/erikras/redux-form-material-ui/issues/169) for a solution.

[2018-02-19 16:06] palaniichukdmytro commented on #10349
As you can see here when I use svg icon itself without fontSize boolean props , it works as expected. But when I wrapped to IconButton the svg inside use fontsize , but I did not provide it
https://codesandbox.io/s/jnwrq7zv0v