[2021-12-07 09:01] bertom commented on #29151
No, for now I only saw this behavior in the Box component.

It looks indeed like this is the issue.
I'd be happy to help with a test, please let me know what exactly you need for that.

[2021-12-07 09:19] siriwatknp opened #30091 "[docs] Docs restructure"
From the decision in the [Notion](https://www.notion.so/mui-org/Documentation-per-product-decision-time-d9347d7d37b641129d2fea12d68555d2#5f4bfc2904394335926627f6f77d29b7), the documentation will be restructured into each product.

## Goal

Incrementally and smoothly transition to the new structure by preserving the same DX for the community and maintainers (tests should be added along the way).

T

[2021-12-07 09:25] siriwatknp commented on #30090
It works for me. Can you capture a screenshot or a recording on your side?

[2021-12-07 09:26] xDisfigure commented on #29598
thanks @siriwatknp  🥳

[2021-12-07 10:15] RobTF opened #30092 "[ThemeProvider] not working from @mui/material/styles, but does from @mui/styles."
Hi,

I'm trying to port a moderately sized project from MaterialUI4 to MUI5. I'm following the migration instructions but have hit a bit of a wall with the following;

I am using the `createStyles`/`makeStyles` APIs from @mui/styles, however I get the following error when running unit tests or launching the project;

[code]

My tests are all wrapped in a `<ThemeProvider>` instance.

My initial tho

[2021-12-07 10:29] mnajdova commented on #30092
You should not include them in your package.json, as they are already bundled with `@mui/material`. You should only need to install: `@mui/material`, `@mui/styles`, `@emotion/react`, `@emotion/styled`.

[2021-12-07 11:02] RobTF commented on #30092
Yes I understand, it was not my initial thought to do so, it was just an experiment to see if I could force the packages to get deduped. The issue appears unaffected in either case.

[2021-12-07 11:16] RobTF opened #30093 "Create react app with typescript example does not run"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Error message: "Failed to load config "airbnb-typescript" to extend from."

![image](https://user-images.githubusercontent.com/4292237/145019396-07726b88-c532-4e78-a777-5c550017f9ba.png)

### Expected behavior 🤔

Working example.

### Steps to reproduce 🕹

[2021-12-07 11:20] RobTF commented on #30093
Workaround for now is to move the example directory out of the `material-ui/` directory.

[2021-12-07 11:57] codcodea commented on #30086
A quick solution and a new method for me. Thank you very much!

[2021-12-07 12:26] Frikki commented on #27703
Referencing [the PR comment](https://github.com/mui-org/material-ui/pull/27816#issuecomment-900208604) that seem to agree with @TheGLander’s comment above, do we know of any road map when Mui will address this issue?

[2021-12-07 13:50] collinsuzebu commented on #6525
@mbrookes is this possible in current version of MUI?

[2021-12-07 14:02] fmeum commented on #27139
I just submitted https://github.com/mui-org/material-ui/pull/30095 to get this fixed.

[2021-12-07 14:49] JeanPetrov opened #30096 "InputUnstyled with 'multiline' property logs warnings for 'maxRows' and 'minRows'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When having InputUnstyled with 'multiline' logs warnings  for 'maxRows' and 'minRows':

[code]

### Expected behavior 🤔

Should not logs an warnings.

### Steps to reproduce 🕹

Steps:

1. Have a InputUnstyled with 'multiline'
2. Check console

https://codes

[2021-12-07 14:54] mnajdova commented on #27139
Would be great if someone can share a reproduction. For example, is the `zIndex` the only problem? Should we also exclude the `components` and `palette` keys? Will the same happen for the `Theme` interface too?

[2021-12-07 15:01] fmeum commented on #27139
This is the only type error I am seeing with my codebase. I could try to develop a reproducer for this, but I don't think this would reliably uncover other potential type issues.

[2021-12-07 15:04] TheWilks opened #30097 "[Snackbar] Screen reader not reading a snackbar when triggered from a button within a dialog"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When snackbars are triggered from a button within a dialog they are not read by the screen reader.

### Expected behavior 🤔

When snackbars are triggered from a button within a dialog they should be read by the screen reader.

### Steps to reproduce 🕹

**St

[2021-12-07 15:04] mnajdova commented on #27139
This would be great 👍

It's great if we don't find other, the aim is to figure out how to test it and add tests to make sure we don't regress again in the future.

[2021-12-07 15:15] TheWilks commented on #30097
This is related to #29080

[2021-12-07 15:23] mnajdova commented on #30092
Please share a reproduction then and I can take a look at. Everything should work as expected if you use the latest version of all packages.

[2021-12-07 15:24] mnajdova commented on #30093
We don't support running the examples inside the project, you always need to copy them outside of the project in order to run them.

[2021-12-07 15:30] mnajdova commented on #30066
I would say that is better than using an object. It is what you would do if you were to use plain HTML. If you have some kind of identifier for the item, you could use that too.

[2021-12-07 15:35] #30093 closed

[2021-12-07 15:41] fmeum commented on #27139
@mnajdova To reproduce, clone https://github.com/fmeum/mui-reproducer and run
[code]
to get the output:
[code]

I can't reproduce this anymore if I do one of the following:
- Update typescript to major version 4.
- Disable `strictNullChecks` in the `tsconfig.json`.

[2021-12-07 15:46] karan316 commented on #30038
Oh wait, I disabled type checking for the build temporarily. So maybe that's why the build passed. Try setting `ignoreBuildErrors` to false in the next config file and run the build again.

[2021-12-07 15:46] mnajdova commented on #30011
@kirill-konshin here is a working example

[2021-12-07 16:21] danilo-leal commented on #29764
@krossekrabbe Thanks for opening the issue and contributing!

I personally don't think it makes sense to have the current major version in the URL - it's implicit (my assumption, at least) that the URL with no disclaimed version is the latest - but for previous versions it does, and we already do that.

Take the link you mentioned as an example — https://material-ui.com/customization/globals/#css

[2021-12-07 17:11] anonkey commented on #29008
I have same problem but fix doesn't work for overriding subfield like adding some fields in mixins :

Subsequent property declarations must have the same type.  Property 'mixins' must be of type 'Mixins', but here has type 'Mixins & { border: (color: string, width?: string | number | undefined, style?: string | undefined) => string; }'.ts(2717)

[2021-12-07 17:12] reicek opened #30099 "[Migration] theme.typography.pxToRem is not a function"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After migrating to MUI 5 (from v4) I'm getting this Type error:

![image](https://user-images.githubusercontent.com/3601209/145069529-0c7e84bf-d0b7-4a99-a11b-79904ab96743.png)

### Expected behavior 🤔

It should render without issues.

### Steps to reproduc

[2021-12-07 17:30] anonkey commented on #29008
Maybe repository should contain a minimal tested example of theme with module augmentation for better understanding and testing

[2021-12-07 18:31] kirill-konshin commented on #30011
I see, so it's not enough to just provide a prefix, it's required to replace `Mui` with something. I suppose docs should put some stress on it, or maybe change the API to prevent issues like mine...

[2021-12-07 18:45] kirill-konshin commented on #30011
I've also found out that there's an alternative way:

[code]

Is this legit? Which one is better, this one or via `ClassNameGenerator.configure`?

[2021-12-07 19:04] alexandervandekleutab commented on #783
This solved it for me. I was using a styled tooltip like

[code]

But that declaration was inside the component. I moved it out of the component and it works. Thanks!

[2021-12-07 19:55] elmeerr commented on #29772
I don't think I can add more to what I've show (actual print screen from my IDE + system configuration)...I've created a [Sandbox](https://codesandbox.io/s/objective-smoke-cp23t?file=/src/Demo.tsx)
but the prop types warning is not showing so I can only assume that something is going on with either my IDE (Webstorm) or some package I have installed...dunno. Feel free to close the issue if the inte

[2021-12-07 20:57] breno-sapucaia commented on #24282
i feel u

[2021-12-07 22:18] VicHofs opened #30102 "[DataGrid] Setting edit cell value to anything results in undefined value"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using the DataGrid API to update cell value in custom edit cell results in the cell's value being set to `undefined`. This does not happen if directly passing `value` from `GridRenderEditCellParams` to the `setEditCellValue` API method but still happens if

[2021-12-07 22:18] oyalhi-mgm commented on #16216
This is still not working with v5

[code]

[2021-12-07 22:57] andrewlangemann opened #30103 "[Menu] Selected MenuItem style is very faint when opening menu with mouse"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have a `Menu` component with several items. When I open the menu using my mouse, the selected menu item is very faint and has poor contrast compared to the other menu items. See screenshot:

![Screenshot](https://user-images.githubusercontent.com/26331901

[2021-12-07 23:58] mbrookes commented on #30103
Hi, thanks for the feedback, but the difference between keyboard and mouse focus is intentional. You can find these states documented in the Material Design guidelines.

[2021-12-08 00:00] #30103 closed

[2021-12-08 02:16] siriwatknp commented on #30011
Mark this as enhancement on the docs.

[2021-12-08 02:21] #30011 closed

[2021-12-08 02:27] siriwatknp commented on #30011
Depends on your need.

`ClassNameGenerator` is for changing the static class names in case if you have to use other CSS solutions like pure CSS or Sass.

`CacheProvider` is for emotion, usually used if you already have other part of the application that is using emotion but not MUI.

[2021-12-08 02:30] siriwatknp commented on #30081
Can you provide the link to the repo?

[2021-12-08 02:39] michaelfaith commented on #30081
The code sandbox is here:  https://codesandbox.io/s/mui-styled-issue-mpk2u?file=/src/Demo.test.tsx
The repo for the project I'm experiencing the issue is in our corporate repos, and unfortunately not shareable. I tried setting that sandbox up with a boiled down version of what I'm trying to do, and replicate the config that I figured would affect this.  The only thing I wasn't able to do in the sa

[2021-12-08 03:45] mtr1990 opened #30104 "[ClassName generator] in MUI v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Is it possible we just show ` class="css-1lt9dpx" `

Instead of display - `class="MuiTypography-root MuiTypography-h1 css-1lt9dpx" `

Is this possible in MUI?

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

_No response_

### Context 🔦

R

[2021-12-08 03:54] siriwatknp commented on #30099
I guess it is because you don't have `ThemeProvider`, please check this topic on the migration doc https://mui.com/guides/migration-v4/#themeprovider-setup

[2021-12-08 03:59] siriwatknp commented on #30104
I guess your point is about optimizing the generated HTML for SSR. No, we don't have the option to entirely remove static class name generation.

Note: it might be worth doing some benchmark on bundle size reduction if there are no MUI static class names.

[2021-12-08 04:34] mtr1990 commented on #30104
@siriwatknp Yes, that's right

In my project, there are even class names that are much longer than the example I provided. I still haven't found a solution for this work

Thanks for your feedback.

[2021-12-08 04:55] manoharreddyporeddy commented on #14948
@iamvanja
Very true.
Wasted 20 mins on this

It should be renamed to LONG PRESS OR LONG TOUCH ( INSTEAD OF TOUCH ........ )

[2021-12-08 07:27] Amirhossein-Moghadam commented on #18227
Hi , if you use Autocomplete , it's better to use "popupIcon" , because Textfield is different from AutoComplete and when you use inputProps , autocomplete doesn't show options.
`
        <Autocomplete
          popupIcon={ <<ArrowDropDownIcon />/> }
        />
`

[2021-12-08 08:12] mnajdova commented on #30104
We are generating class names for each state, this is why you may have longer classes. As @siriwatknp mentioned, would be great to see what is the pain (for example noticeable bundle size being generated) before we think about implementing something to support not generating them.

What is your pain? What would not having those classes solve for you? Note that in some cases we use those classes to

[2021-12-08 09:11] mtr1990 commented on #30104
This is not so important to me.

I'm just curious if we have a class name reduction feature. just a matter of HTML optimization as @siriwatknp mentioned.

Thank you for your feedback.

We can close the problem here.

[2021-12-08 09:11] #30104 closed

[2021-12-08 09:14] #30035 closed

[2021-12-08 10:19] Janpot commented on #29883
Thank you for bringing this to our attention. I've added a fix in https://github.com/mui-org/material-ui/pull/29888

[2021-12-08 10:56] #29228 closed

[2021-12-08 11:08] HelpMe-Pls opened #30110 "[docs] justifyContent option in the Grid interactive demo doesn't work as expected"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Trying out the interactive example from https://mui.com/components/grid/#interactive on v5 doc doesn't work as expected for `justifyContent` if it is set with the `direction` of `column` and `column-reverse`:
![image](https://user-images.githubusercontent.c

[2021-12-08 12:22] doflo-dfa opened #30111 "@guimex22 The value needs to be referentially equal to the option to consider it selected. We have #18443 to customize this."
@guimex22 The value needs to be referentially equal to the option to consider it selected. We have #18443 to customize this.

However, I think that we have an opportunity to warn about this case. What do you think of this diff?
[code]

Do you want to work on a pull request? :)

_Originally posted by @oliviertassinari in https://github.com/mui-org/material-ui/issues/18514#issuecomment-557880360_

[2021-12-08 12:24] #30111 closed

[2021-12-08 12:57] #29883 closed

[2021-12-08 13:22] oliviertassinari commented on #29764
Interesting problem. But also a bit misaligned with our incentives to move the community on a single major version: the latest. 👍 for going with the minimum effort path from the maintainers perspective, and for miximizing the advantage of upgrading to latest.

[PostgreSQL does this](https://www.postgresql.org/docs/current/datatype.html). One challenge is what happens when a page in v5 doesn't exis

[2021-12-08 13:49] ChrisTav424 opened #30115 "[website] Carousel type component from MUI website"
What component is used to make this on the MUI home page?

![5776F377-3FF4-472B-945D-4368C41245A5](https://user-images.githubusercontent.com/44398463/145219189-c7a70bc8-db79-40ec-acdf-6947ab5da731.jpeg)

https://mui.com/

It seems to be a sort of carousel but I can't find the component?

Thanks in advance

[2021-12-08 13:59] michaelfaith commented on #30081
Removing that mock didn't make a difference.

[2021-12-08 14:24] matrixik commented on #25738
There is already `event.target.valueAsNumber` so it would be nice to have `event.target.valueAsDate`  or `event.target.date` together with `event.target.name`.

Previous requests (short search): https://github.com/mui-org/material-ui-pickers/issues/182, https://github.com/mui-org/material-ui-pickers/issues/473, https://github.com/mui-org/material-ui-pickers/issues/483, https://github.com/mui-org/m

[2021-12-08 14:48] masterambi commented on #30115
react-swipeable-views

[2021-12-08 14:59] ChrisTav424 commented on #30115
Ah fantastic, so it's not an MUI component just a react one.

Thank you!

[2021-12-08 15:08] hafley66 opened #30116 "[Portal] Add ThemeOptions.components.MuiPortal.defaultProps"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

[code]

I am not asking to support ShadowDOM with emotion, there are other libraries and approaches for that problem, and should be considered solved. The 2nd problem is defaulting the Portal.container to the shadow dom's div child, or enabling `disablePortal`. This

[2021-12-08 15:14] hafley66 commented on #30116
cc @junhuhdev This is alternate approach outside of material-ui-x, this would allows us to override 1 single element to get same effect across all elements

[2021-12-08 15:45] reicek commented on #30099
Hi @siriwatknp

Tried those steps but the error is still there. I used `useTheme` and `createTheme` but same results.

[code]

Throws:
![image](https://user-images.githubusercontent.com/3601209/145228457-53be1421-d367-4204-b3b3-c520972ba4ee.png)

[code]

Also throws:
![image](https://user-images.githubusercontent.com/3601209/145231763-175c87fe-36b7-4012-839f-bf28515bc03f.png)

However on both case

[2021-12-08 16:20] danilo-leal commented on #30110
Thank you for letting us know! I believe it was just a matter of adding more height to the example container so that `justifyContent` works. PR opened and hopefully fixed :)

[2021-12-08 16:27] danilo-leal commented on #30115
Closing this one since it seems @ChrisTav424 got his answer!

---
A fun fact though is that `react-swipeable-views` is made by @oliviertassinari, so it's kinda in the MUI realm? 😉

[2021-12-08 16:27] #30115 closed

[2021-12-08 17:39] caioorg opened #30119 "Select component is scrolling to top of page after selecting item"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Since I have a component select, after I select an option the component kind of loses the reference and scrolls to the top of the page even applying the MenuProps

`
<Select
      onChange={(
        e: ChangeEvent<{ name?: string | undefined; value: unknow

[2021-12-08 19:17] reicek commented on #30099
Just noticed this on the documentation, I'll check if this is what I was missing:

[code]

[2021-12-08 19:43] hdoshi2 commented on #15073
For using Material UI with Next.js. The issue is deeper and related to server-side VS client-side rendering. It is explained well here: [Rehydration](https://www.joshwcomeau.com/react/the-perils-of-rehydration/)

This helped resolve my issue:
https://github.com/vercel/next.js/issues/7322#issuecomment-976395572

Basically, I wrapped components that need to be rendering on the client side, but creat

[2021-12-08 19:47] hdoshi2 commented on #15073
For using Material UI with Next.js. The issue is deeper and related to server-side VS client-side rendering. It is explained well here: [Rehydration](https://www.joshwcomeau.com/react/the-perils-of-rehydration/)

This helped resolve my issue:
vercel/next.js#7322 (comment)

Basically, I wrapped components that need to be rendering on the client side, but creating this file ClientOnly.js:

[code]

I

[2021-12-08 20:03] VicHofs opened #30120 "[Select] initial open state prop feature suggestion"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

By setting the suggested `initialOpenState` prop on a `Select` to true, the component's open state is toggled on mount, meaning options are visible immediately.

### Examples 🌈

[Live working example here](https://codesandbox.io/s/select-feature-suggestion-g96bb?fil

[2021-12-08 20:28] reicek commented on #30099
No luck, but must be related as it seems that components can't access any value on the default theme.

[2021-12-08 20:32] kirill-konshin commented on #30011
My goal was to ensure no CSS classes collision. So I suppose I can use `CacheProvider`, since I don't use pure CSS or SASS.

[2021-12-08 22:24] reicek commented on #30099
Found the problem, it's related to Storybook's `react-docgen-typescript-plugin`.

Closing this ticket.

[2021-12-08 22:24] #30099 closed

[2021-12-08 22:32] mrkrlli commented on #28979
Is it possible to keep an emotion/styled-components theme truly isolated from the MUI theme?

in the docs it says:
[code]

However as noted above, this seems to just overwrite the MUI theme where there are naming conflicts with the custom emotion/styled-components theme.

We're looking to continue with how this worked in MUI 4. MUI components inherit the default MUI theme, and our custom emotion/s

[2021-12-08 22:43] UFO-101 commented on #17712
Absolute positioning didn't work well for me. I suggest this approach:
[code]
But Material UI should really just add this feature

[2021-12-08 23:51] ryanyue123 opened #30123 "[Autocomplete] Can't create new options when `multiple` and `freeSolo` are set"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In the `multiple values` example in https://v4.mui.com/components/autocomplete/#multiple-values, there is an example that combines `freeSolo` with `multiple` and the user is able to also type in phrases that are not part of the original `options` array. The

[2021-12-09 00:38] ShuPink commented on #29648
I also struggled with this when trying to upgrade next.js (12) with (s)cssmodules to mui v5.

I found that I had to add `prepend: true,` when creating the cache.  It's [shown in the documentation](https://mui.com/guides/interoperability/#css-modules), but wasn't there in the [next.js example](https://github.com/mui-org/material-ui/blob/master/examples/nextjs-with-typescript/src/utils/createEmotion

[2021-12-09 02:29] siriwatknp commented on #29648
@ShuPink Thanks for the info! @PraveenPeri Can you try it out?

[2021-12-09 03:35] gailuron1964 opened #30124 "Unwanted vertical scrolling when TextField is rendered"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The CodeSandbox here reproduces the issue: https://codesandbox.io/embed/magical-chebyshev-otlpu?fontsize=14&hidenavigation=1&theme=dark

If you scroll down, then click on "CLICK TO SWITCH VIEW BELOW", you will notice that there's an automatic scroll to the

[2021-12-09 04:30] iansjk commented on #29506
Something curious that we noticed was that the `.Mui-focusVisible` class is only incorrectly applied upon mouse click on the slider if this it is the _first element interacted with on the page_.

For example, on this page: https://sanitygone.help/operators/skadi-the-corrupting-heart/
There is a SliderUnstyled being used here:
![image](https://user-images.githubusercontent.com/1508774/145334466-757

[2021-12-09 04:38] iansjk opened #30125 "[docs] Menu component examples appear to use `aria-controls` incorrectly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On the docs page for the React Menu component, the examples appear to use `aria-controls` incorrectly.

For example, the [first example of the Menu component] is a button that, when clicked, opens a menu adjacent to the button. Expanding the source indicate

[2021-12-09 07:14] HelpMe-Pls commented on #30110
@danilo-leal Very much appreciate your fix on this. The interactive example really speeds up my workflow whenever I have to look at the docs :D

[2021-12-09 07:14] #30110 closed

[2021-12-09 07:22] ChrisTav424 commented on #30115
Thanks for your help!

[2021-12-09 07:23] pamapa commented on #30092
i had the same issue when updating @mui from 5.1.0 to 5.2.3.
I have seen @mui/private-theming in **two** packages node_modules:
- node_modules/@mui/styles/node_modules/@mui/private-theming
- node_modules/@mui/system/node_modules/@mui/private-theming

And @mui/types in **two** packages node_modules:
- node_modules/@mui/material/node_modules/@mui/types
- node_modules/@mui/styles/node_modules/@mui/ty

[2021-12-09 07:28] shangdev commented on #29480
@oliviertassinari
Can fix it?

[2021-12-09 08:36] Janpot commented on #29625
@SoniaQ I've been trying to reproduce this issue but it works for me. Can you please confirm that it's fixed or provide a link to the exact codesandbox that has the problem.

[2021-12-09 08:45] RobTF commented on #30092
Ok, so it's solved.. somehow?

I took a look at the create-react-app example in the mui source and that built and ran OK using the `@mui/themes/styles` version of `ThemeProvider` so I knew it wasn't something obviously systemic in mui itself.

I studied the package.json ofthe example and noted nothing other than version numbers being different. So I bumped the package versions for a bunch of depen

[2021-12-09 08:58] RobTF commented on #26607
It is a bug;

If I run my app with no theme overrides, text fields look like this

![image](https://user-images.githubusercontent.com/4292237/145365155-be086e53-b8b1-45de-90bf-f4f90018ebf2.png)

If I put the following into my theme setup;

[code]

It looks like this;

![image](https://user-images.githubusercontent.com/4292237/145365282-41b302b5-c2c9-4aa0-81ef-3c06584ad23b.png)

Something, somewher

[2021-12-09 11:52] mnajdova commented on #30119
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-09 12:10] westprophet commented on #29691
+

[2021-12-09 12:23] BENJYY1337 opened #30127 "Cannot read properties of undefined (reading 'type')"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When i want to change my color to theme.palette.background.secondary i have this error ( update mui v4 => v5 )
[![Image from Gyazo](https://i.gyazo.com/76046fbed37fffc77a26c77fc36423c9.png)](https://gyazo.com/76046fbed37fffc77a26c77fc36423c9)

### Expected

[2021-12-09 12:25] oliviertassinari commented on #29740
This expected behavior is not so obvious to me. I think that it depends at how we look at it. `MuiButton` targets one React component, it's not meant to leak to another one.

On the other hand, if a developer customizes the default variant of the button (button with a lower case), yes, you expect `Button` and `LoadingButton` to be impacted.

[2021-12-09 13:12] ossan-engineer opened #30129 "sx.aspectRatio can't accept number"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Passing a number to sx.aspectRatio causes type errors.

[code]

Looking at the DevTools, it seems that an unnecessary suffix, px, is being added.

[code]

### Expected behavior 🤔

AspectRatio should also accept number, plus it doesn't add unnecessary px suf

[2021-12-09 14:29] mnajdova commented on #30127
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-09 14:32] chandu940 opened #30130 "opencollective.com/material-ui link says "not found""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

[2021-12-09 14:33] m-claes opened #30131 "[Datagrid] Direct filtering under column name"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

To speed up the filtering process for end users would it be possible to provide a direct filter box below the column name (see example screenshot). This way the user has direct access to filtering without the need to go the the filtering menu.

### Examples 🌈

![ima

[2021-12-09 14:36] mnajdova commented on #30129
It's coming from emotion, it is specified as a string there too. I am not sure that I would change it specifically in the `sx` prop too. If you feel like this is a bug please file it on the emotion repo and link this issue. See https://codesandbox.io/s/boxsx-material-demo-forked-vsrx9?file=/demo.tsx

[2021-12-09 14:36] #30129 closed

[2021-12-09 14:37] mnajdova commented on #30130
This is the new link: https://opencollective.com/mui Where did you get the link from? Maybe we need to update it somewhere.

[2021-12-09 14:56] chandu940 commented on #30130
From this website
Under **Sponsor this project** tab
https://github.com/mui-org/material-ui
---
![image](https://user-images.githubusercontent.com/71727275/145418634-715ac95b-5ccf-458e-90c3-bb7c1441498f.png)

[2021-12-09 15:55] hafley66 opened #30132 "[Utils][DataGrid] Regression seen on 5.2.2 -> 5.2.3"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Getting errors when trying to open DataGrid column selector from column menu.
I know the demo is with data grid, but the error is throwing on version changes of `@mui/material`, so I have put it here. Feel free to move.

### Expected behavior 🤔

Reproducibl

[2021-12-09 17:51] shahalihridoy opened #30133 "A client-side exception for Autocomplete in Next.Js production"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I use the following simple code in my Next.Js app it works fine in localhost. but in production version it crashes the page.
`              <Autocomplete
                disablePortal
                id="combo-box-demo"
                options={top100F

[2021-12-09 19:12] mrkrlli commented on #28979
Here's a code repro: https://codesandbox.io/s/0ob9j?file=/index.tsx

[2021-12-09 20:02] mrkrlli commented on #25852
@oliviertassinari @eps1lon So I ran into this issue, where our current emotion theme is clashing with the MUI 5 theme. It also wasn't clear from the migration documentation that this would be an issue, which took a lot of digging to uncover.

The only place I see this mentioned is here: https://mui.com/guides/interoperability/#theme

However I think the warning is also misleading. Rendering the MU

[2021-12-09 20:09] eglavin commented on #17454
Yeah I'm running in to this issue with the tabs component with these mui versions

[code]

[2021-12-09 21:20] BrittanyDilts opened #30137 "Unable to truncate placeholder text"
In a system using the outlined input, with short input fields and descriptive placeholder/label texts, the text runs out of the input when unfocused. When focused, the text length is acceptable because the text size shrinks.

However, I can't do anything with the overflow of the text - in particular, I cannot set a hardcoded width on it with `overflow: hidden`, so `text-overflow: ellipsis` applies

[2021-12-09 22:06] devkral opened #30138 "ampm parameter default of DateTimePicker differs from documentation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

the default of the ampm parameter is by default true, but documented as false

### Expected behavior 🤔

the parameter should match the documented default.

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

[2021-12-09 23:51] igaponov opened #30139 "Link component adds additional class with custom styles without any reason"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Link component adds a class named css-XXXXXXX-MuiTypography-root-MuiLink-root to "a" tag with custom styles, this breaks all my markup because it has "margin: 0" rule and it always comes last and rewrites all other styles. The documentation doesn't mention

[2021-12-10 04:30] shahalihridoy commented on #30133
Upgrading Next.Js package to 12.0.7 solved the issue.

[2021-12-10 07:55] mnajdova commented on #30130
Thanks, we will update it (it is available if you click on the Sponsor button. cc @oliviertassinari

[2021-12-10 08:08] lewismoten opened #30140 "[Autocomplete] TextField not conforming to rtl"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Autocomplete / Textfield Components are not aligned properly when body direction is right to left.
- Controls (clear / open ) are on right side of text
- TextField label is left aligned

### Expected behavior 🤔

- Controls (clear / open ) are on left side o

[2021-12-10 08:30] marc-polizzi commented on #29983
@mnajdova the status is still incomplete? is anything wrong w/ the provide project?

[2021-12-10 09:13] ddequidt commented on #29518
I actually find a hack to make it work.
It probably have some consequences on focus system but it is fine for my use case.
I share it without any guarantee that it work for other cases.

I just register a focusin event on TreeItem dom ref to stop propagation of this event.
[code]

[2021-12-10 09:33] mnajdova commented on #27139
Ok, so it is related to TS v3. Got ya, thanks for the clarification. Can you check that it works with the packages from the PR that you have created? You can do that by:

1. Change the package.json to:

[code]
2. Run `yarn install && npx tsc`

[2021-12-10 09:37] fmeum commented on #27139
@mnajdova Is it possible that `"mui/material"` should be `"@mui/material"` in your suggested patch? If so, then yes, my PR fixes the issue, tsc exits without an error.

[2021-12-10 09:41] mnajdova commented on #27139
Oops yes, sorry was a typo. Great, thanks for confirming it.

[2021-12-10 09:47] #27139 closed

[2021-12-10 12:36] lazex opened #30142 "CSS priority is incorrect when using HMR"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The display updated by HMR and the display when reloading the page are different.

### Expected behavior 🤔

Material UI shoud render same result.

### Steps to reproduce 🕹

Steps:

1. Create a new project using `create-react-app` .
2. Change App.js as follo

[2021-12-10 12:43] mnajdova commented on #30142
Take a look at the [state classes](https://mui.com/customization/how-to-customize/#state-classes) guide. You need to bump the specificity of the component which state you want to alter. For example, in this case it should be:

[code]

The link that I mentioned above has the reasoning about why this is required.

[2021-12-10 13:26] jasonghent98 commented on #29469
Has this issue been resolved/closed yet? It seems like the problem has been solved @alisasanib . Unless there is something else that needs to be fixed.

[2021-12-10 13:30] oliviertassinari commented on #30130
Fixed in e6558bc2ccf47e8330ec1c35ec23d68d35bd8624

[2021-12-10 13:30] #30130 closed

[2021-12-10 13:43] mnajdova commented on #30139
That class is generated by emotion and contains all styles that MUI defines for this component. One of that style is the margin. See: https://github.com/mui-org/material-ui/blob/master/packages/mui-material/src/Link/Link.js#L82

Which styles does it rewrite? What are you trying to solve?

[2021-12-10 13:59] cq-ubaid-khan opened #30143 "Provide more preferences as initialState to data grid"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently the datagrid only support few properties as initial state one example `pinnedColumns`, We want it to receive `columnsOrders`, `columnsSizes`, `pagination`, `columnVisibility` as an initial state of grid.

Support for this configuration will be useful where

[2021-12-10 14:15] kmurgic opened #30144 "[ButtonBase] Keyboard triggered onClick on non-button element does not bubble"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When a Menu has an onClick prop, clicking on a nested MenuItem triggers the onClick, but pressing spacebar or enter while a nested MenuItem is focused does not.

### Expected behavior 🤔

When a Menu has an onClick prop, clicking on a nested MenuItem trigger

[2021-12-10 14:50] kmurgic commented on #30144
My coworker just pointed out that [the example for AccountMenu](https://mui.com/components/menus/#account-menu) uses an onClick handler on the menu to close the menu and is broken for keyboard accessibility due to this bug.

Changing these two lines from `onClick(event)` to `buttonRef.current.click()` fixed the issue for me
https://github.com/mui-org/material-ui/blob/master/packages/mui-material/s

[2021-12-10 15:03] igaponov commented on #30139
@mnajdova it rewrites my custom margins. Is it possible to disable it? Or move those styles before my custom ones?

[2021-12-10 15:20] kmurgic commented on #30144
Opened a PR.  I haven't contributed much to open source code, so please accept my humble apologies if I made any newbie mistakes.
https://github.com/mui-org/material-ui/pull/30145

[2021-12-10 17:16] ShaleenAg21 opened #30146 "background colour not changing in createTheme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I define my theme using `createTheme`, I am trying to define a global define background colour property using `background` in `palette`

like this:
[code]
but the background colour is not changing as expected.

### Expected behavior 🤔

Background colou

[2021-12-10 17:55] ChristainBlake commented on #26660
Try using  import ListItemButton from '@mui/material/ListItemButton';

[2021-12-10 18:12] kmurgic commented on #30146
You need to use the [CssBaseline](https://mui.com/components/css-baseline/) component in order for the default background to be set.
[Sandbox](https://codesandbox.io/s/sad-proskuriakova-e1dhr?file=/src/Demo.tsx)

If you look in the docs for CssBaseline you'll find where it says that CssBaseline causes palette.background.default to be applied https://mui.com/components/css-baseline/#page

[2021-12-10 18:18] kmurgic commented on #30146
It does feel like that could be documented better.  Seems like maybe this would be a good place to document how to change the background in theme.palette : https://mui.com/customization/palette/? I'm not sure.

[2021-12-10 18:46] ShaleenAg21 commented on #30146
This worked thanks but yes its weird that we have to specifically use `CssBaseline` for it to work considering if you change `paper` property in `palette.background`, it will work fine but `default` wont work

[2021-12-10 20:14] mstruensee opened #30148 "Switch Component with unset capability"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Add the ability to have a Switch with an unset value.  (maybe fancy select with 3 values only)
ON | UNSET | OFF
ENABLED | UNSET | DISABLED

### Examples 🌈

_No response_

### Motivation 🔦

Ability to unset a value of a Switch (without using a select with 3 values or

[2021-12-10 23:52] marr commented on #30119
Possible dupe of https://github.com/mui-org/material-ui/issues/29508?
I reproduced the behavior with an autocomplete component here https://codesandbox.io/s/autocomplete-scroll-bug-39wfv

[2021-12-11 01:01] mwskwong commented on #26660
Dude... what are you trying to suggest? This bug only appears in `@material-ui/core@5.0.0-alpha.36` and has been fixed already.

[2021-12-11 01:15] Rolfchen commented on #25697
In case anyone else is also having trouble with this (especially with `getByRole` from testing library). You need to provide an `id` to the `TextField` for the label to associate itself with the input.

Here's the part of the doc that talks about accessibility: https://finance-manager-amber.vercel.app/

[2021-12-11 02:40] ryjogo opened #30150 "[AutoComplete] onChange being called when value is duplicated"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

According to the documentation:

However, it seems that when the value is a duplicate - the onChange hook is ran.

### Expected behavior 🤔

onChange should not run, as the value has not changed?

### Steps to reproduce 🕹

https://codesandbox.io/s/vibrant-su

[2021-12-11 03:24] satoc0629 opened #30151 "[docs] Demo EnhancedTable crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20EnhancedTable%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/tables/
2. ??
3. demo *EnhancedTable* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI  | v

[2021-12-11 05:31] spmsupun commented on #22278
I am surprised this doesn't have an option to control with props rather than override the style

[2021-12-11 08:07] kftsehk commented on #29272
I see there is a migration that can be applied, still `<Hidden />` has a value for js implementation, for the `implementation="js"` it enhances code readability.

In v4, the semantic of hidden is self-contained
[code]

After deprecating, we get
[code]

Now, as you see, the sematic is -no longer self-contained within the few lines of code where the Hidden should apply.

Most likely some of us will

[2021-12-11 11:53] bylly1 opened #30152 "How I add custom breakpoint to sx prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Is a way to pass custom breakpoint to sx prop without overriding the theme add add more breakpoints? Can be done?

### Examples 🌈

I want something like this to do
<Box
   sx={
      display: {
         [400px]: 'none',
        md: 'block'
      }
   }

### Motivati

[2021-12-11 14:20] VascoBotelho commented on #30152
Yes, I would also like this, but maybe something like this would be easier to work with.
[code]

[2021-12-11 14:55] angellromero commented on #28880
This still appears to be an issue if you scope vscode to the `nextjs-with-typescript` directory within examples.  I am personally experiencing this same issue.  @eps1lon

[2021-12-11 18:01] aliyeysides opened #30153 "[Tabs] Using fragments in Tabs child node breaks functionality"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Functional component child nodes of `Tabs` wrapped in fragments break functionality. For example, if I have a custom functional component `<DynamicTabs />` that returns multiple `Tab` elements with a fragment root and use `<DynamicTabs />` as a child of `Ta

[2021-12-11 22:06] igaponov commented on #30139
@mnajdova I've updated the example in https://codesandbox.io/s/react-mui-forked-0sewm so you can see, that the margin for the Link component in App component is rewritten by that custom class `css-1iwtne7-MuiTypography-root-MuiLink-root`.

[2021-12-11 23:28] #30092 closed

[2021-12-12 00:57] stobrien89 commented on #29081
can confirm that upgrading to `mui/x-data-grid` > `5.0.0` resolves this issue.

[2021-12-12 08:43] Alexey-Mancurov opened #30174 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/buttons/#contained-buttons
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Versio

[2021-12-12 11:40] EmanueleGurini opened #30175 "MUI v5 has problems with Storybook when overriding multiple components global styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

I'm using MUI v5 with Storybook:
when i'm override MuiCard component's global style i've not problems, but when i want to override MuiCardMedia too changes aren't avaible inside storybook story.

Someone has similar problems usign storybook?

Thanks

[2021-12-12 15:39] ipr0310 opened #30177 "Bug in Select component when having multiple mode activated"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/35440957/145718915-8b30f834-6cac-421a-a7c7-9d7ec922c409.png)
The label "Background" is overlapping the blue border, looking like mixed

This bug can be found in a demo you are sharing in Material UI docs:
-

[2021-12-12 16:41] deviprsd commented on #30099
@reicek could you reference the issues and solution?

[2021-12-12 16:47] adoumas commented on #11980
In this way, you can get totally rid of it.  Add it to the overrides of the createTheme function.

``
MuiCardContent: {
      root: {
        "&:last-child": undefined
      },
    },
``

[2021-12-12 17:08] deviprsd commented on #30099
Related to
+ https://github.com/storybookjs/storybook/issues/16099
+ https://github.com/mui-org/material-ui/issues/24282

Solution
+ https://github.com/mui-org/material-ui/issues/24282#issuecomment-967747802

[2021-12-12 17:21] petermikitsh opened #30178 "[Autocomplete] cursor resets highlighted item when using arrow keys"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I begin with my mouse hovering over the first item. When I reach the bottom of the list (navigating via d-pad), the final down keypress results in `The Godfather`, the second item in the list, being selected (due to mouse hover).

https://mui.com/components

[2021-12-13 00:58] fwextensions commented on #29822
Sorry for the delay.  I did finally try a react-codemod and noticed two things:

1. Files that did not include any code to be modified by the codemod were left unchanged, so their line endings were untouched.  In the MUI codemod, *every* file's line endings are changed.
2. Their readme says there's a way to pass options to the recast printer, but it doesn't seem to work.  I tried `npx react-codemo

[2021-12-13 01:27] zgibex333 commented on #26571
I'm newbie at material UI. The question is: how we can create reusable classes using sx syntax without makeStyles?
The only decision I came up with - creating object with styles in parent component and import it anywhere I need, but I don't think that's a perfect solution?
Can someone help?

[2021-12-13 03:05] SliderCO-007 commented on #27149
I'm observing the same issue with MUI styles.
![image](https://user-images.githubusercontent.com/25831067/145744602-9e97cc38-bd0f-4ff1-a316-5552adbec49a.png)

I have set useStyles = makeStyles locally in the component but the local css is not being recognized unless !important is added which is not a good solution.

Solution: So I found a solution to this issue.
https://mui.com/guides/interoperabi

[2021-12-13 06:39] parmarravi opened #30180 "Snackbar add start icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Add a start icon in snackbar as a prop

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2021-12-13 07:14] zenzjtech commented on #2777
```<StepLabel icon={ <img src={require("images/milestones/bootstrap.svg").default} alt="" width="50" height="50" /> } />```
For me, I need to add *.default* after the require syntax.

[2021-12-13 07:20] pamapa commented on #30092
@mbrookes Did you accidentally close this issue? Is this now fixed?

[2021-12-13 08:31] 2211rohit opened #30181 "Arrow Circle Icons are not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

import ArrowCircleRightIcon from '@mui/icons-material/ArrowCircleRight'
import ArrowCircleLeftIcon from '@mui/icons-material/ArrowCircleLeft'

I'm getting this error on both
`Cannot find module '@mui/icons-material/ArrowCircleRight' or its corresponding typ

[2021-12-13 08:57] mnajdova commented on #30152
Take a look at the [custom breakpoints](https://mui.com/system/basics/#custom-breakpoints) section. You can also use the [callback value](https://mui.com/system/the-sx-prop/#callback-values) and then specify them as `theme.breakpoints.up(custom-breakpoint)`

[2021-12-13 08:58] #30152 closed

[2021-12-13 09:39] mnajdova commented on #29772
We cannot do anything without reproduction. I will close it and feel free to open it if you manage to create one.

[2021-12-13 09:39] #29772 closed

[2021-12-13 09:40] mnajdova commented on #29516
@tobilen this guide should help you with the plugin - https://mui.com/system/styled/#how-to-use-components-selector-api

[2021-12-13 09:42] mnajdova commented on #29637
I am closing the issue. Instructions for fixing it were provided. If there is another issue feel free to re-open.

[2021-12-13 09:42] #29637 closed

[2021-12-13 09:47] mnajdova commented on #29674
This is how emotion works, I am not sure if we should change the behavior. What I mean is, if you use `styled()` on top of a component, it overrides the styles that it has (it doesn't matter if they are correlated to a prop or not). The `sx` prop is the only prop that allows you to opt out of this.

It does, it is described in the issue description, the question is for the other props.

----------

[2021-12-13 09:47] mnajdova commented on #29674
@michaldudak I would say this is expected behavior, can you check again.

[2021-12-13 09:51] mnajdova commented on #29021
Can't you use `data-` attribute? That should work as expected.

[2021-12-13 10:00] mnajdova commented on #30139
Ideally none of the components would have a `margin`, but in this case we are setting to do some resets and have a consistent look in all browsers. Global styles are always injected first, and you cannot change this. I would propose using a selector for the list in your global styles, for example:

[code]

[2021-12-13 10:00] mnajdova commented on #30139
The codesandbox is not working, the `App.js` is empty.

[2021-12-13 10:05] bylly1 commented on #30180
[code]

[2021-12-13 10:07] mnajdova commented on #29272
I don't think this is a reason enough for us to add back the component. We provide mechanisms for hiding elements both using CSS and JS. There are tools that could help you see if a prop is not used so that you can remove it, or if something is not defined, so you should not need to do it manually.

cc @mui-org/core in case someone has a different opinion on the matter.

[2021-12-13 10:09] mnajdova commented on #22278
Would anyone be interested in adding a prop for this? I could help with it.

[2021-12-13 10:14] mnajdova commented on #27512
@daveteu the migration should be very minimal. You would need to update the SSR config for emotion, you can check the examples that we have, for example: https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-typescript If you were using styled from `@mui/material/styles` you should not need to change anything. If you were using styled from `styled-components` you would need to mi

[2021-12-13 10:46] mnajdova commented on #28632
Was fixed by https://github.com/mui-org/material-ui/pull/29616

[2021-12-13 10:46] #28632 closed

[2021-12-13 11:01] metinc commented on #30092
In my case I was able to fix this error by simply deleting the yarn.lock and then running yarn again.

[2021-12-13 11:05] marc-polizzi opened #30182 "Autocomplete: How tp Drag & Drop Chips"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'd like to be able to sort the autocomplete chips.

I've tried using react-dnd in the `renderTags` method but there seems to be an issue.

Do you have any plan supporting this feature? Any advise otherwise?

### Examples 🌈

_No response_

### Motivation 🔦

_No resp

[2021-12-13 11:18] mnajdova commented on #29266
@hbjORbj would you like to take a look at this?

[2021-12-13 11:22] mnajdova commented on #29492
I don't see a big value of adding this API. @emotion doesn't support it - https://github.com/emotion-js/emotion/issues/821 It can be easily added in userland, for example - https://github.com/emotion-js/emotion/issues/821#issuecomment-546204409

[2021-12-13 11:26] hbjORbj commented on #29266
@mnajdova Will do :)

[2021-12-13 11:26] mnajdova commented on #30011
@kirill-konshin  no, this is just me trying if that works too, no need to change it, you can use the original code. THe point is that you need to have an initialize.js scripts that yous should import first.

[2021-12-13 11:37] mnajdova commented on #29983
I didn't have a chance to look into the repository, but you are correct, I am removing the `status: incomplete` label.

[2021-12-13 11:43] mnajdova commented on #28820
Ah, I see, ok looks like the limitation exists. I guess we should look into this in v6, any change now I think will be a breaking change, but I may be wrong. I will leave it open in case someone wants to explore it further.

[2021-12-13 11:45] Duoquote commented on #9574
Would love to see something like that to dynamically change the color.

![image](https://user-images.githubusercontent.com/16341937/145806591-321d3f76-c038-44d9-912c-a4a5f88760de.png)

[2021-12-13 11:54] theHasanas commented on #28820
The patch works fine, changing it from Type to Interface does nothing since no Type specific features are used anywhere. But what do I know. If any maintainers could look into this it should be a very simple fix.

[2021-12-13 12:03] mnajdova commented on #28820
@theHasanas would you like to create a PR with the change? If the CI is green I think it should be safe to merge it.

[2021-12-13 12:06] mnajdova commented on #30092
@RobTF it is not somehow :), it is by using the same version of the dependencies so that you end up with the same context.

[2021-12-13 12:21] AriaMoradi commented on #29492
I had a similar issue with setting style on Virtuoso from https://virtuoso.dev/

[code]

[code]

[2021-12-13 12:33] rodrigofariow opened #30184 "[DateRangePicker] - add option to select time for start and end dates -> DateRangeTimePicker"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Not sure how this should be implemented according to the material design specs exactly.

### Examples 🌈

_No response_

### Motivation 🔦

My company has recently bought the MUI X PRO license and despite it's clear benefit (specially `DateGridPro`) we were expecting

[2021-12-13 12:41] TiagoPortfolio commented on #30184
I was looking for something like this in the docs and I couldn't find it as well.

[2021-12-13 12:43] Republiek commented on #30184
I agree. Would be great to have that functionality

[2021-12-13 12:49] igaponov commented on #30139
Fixed codesandbox. I have custom margins, adding it to a parent selector for every link will require a lot of work, that's definitely not a nice BC.

[2021-12-13 13:03] hbjORbj commented on #30148
Hi. Thanks for your suggestion. Please feel free to open a pull request with your suggestion!

[2021-12-13 13:19] hbjORbj commented on #30177
Hi. Thanks for creating the issue.

When you change the value you pass to `InputLabel`, you should modify as well the `label` prop you pass for `input` of `Select`. Check out https://codesandbox.io/s/multipleselectchip-material-demo-forked-b89wi?file=/demo.js:1408-1454

[code]

[2021-12-13 13:28] oliviertassinari commented on #27028
This is because your dependencies don't match:

- @material-ui/core: 5.0.0-alpha.36
- @material-ui/lab: 4.0.0-alpha.58

[2021-12-13 13:35] Altair2169 opened #30185 "Cant load custom fonts with nextJS"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have been trying to load custom fonts in MUI for my nextJS project. But it errors out. According to the docs we need a loader for it parse custom fonts but I haven't been able to find any information related to that. How should I configure Next and MUI to

[2021-12-13 13:38] hbjORbj commented on #30137
It doesn't look like this bug report has enough info for one of us to reproduce it.
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-13 13:47] abhinav-22-tech commented on #30181
Have you installed icons?
https://mui.com/components/icons/#installation

Take a reference from this:
https://codesandbox.io/s/wild-dew-qfbdf?file=/src/Demo.tsx

[2021-12-13 13:49] hbjORbj commented on #30181
Hi. Have you installed `@mui/icons-material`?

I can confirm that they are working: https://codesandbox.io/s/quirky-rosalind-ddt1e?file=/src/Demo.tsx

[2021-12-13 14:02] abhinav-22-tech commented on #30175
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
It will be more understandable.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

Thank you

[2021-12-13 14:20] abhinav-22-tech commented on #30174
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

Thank you

[2021-12-13 14:20] oliviertassinari commented on #27136
The same goes for `@mui/styles`, there are no support for strict mode.

[2021-12-13 15:15] marr commented on #30119
For completeness sake, here is a csb illustrating the behavior does not occur using MUI v4.x: https://codesandbox.io/s/autocomplete-scroll-bug-forked-u72jg?file=/src/App.js.

There are two open issues describing this behavior that have been outstanding for awhile. It's becoming more of a show-stopper for us and we'd love to hear an update / confirmation that it is an issue?

[2021-12-13 15:19] AlfredOdling opened #30187 "<Stack/> makes buttons fullWidth in your own Codepen example"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Stack makes buttons fill up the whole width of the Stack component.

### Expected behavior 🤔

It should work as the example in the document; only the width of the text + margins.

Such as here: https://mui.com/components/stack/#usage

### Steps to reproduce

[2021-12-13 15:26] mnajdova commented on #30185
This should help - https://stackoverflow.com/questions/60134693/why-is-my-local-font-not-being-applied-with-emotion-global-styling You can define the font face using `link` and reference it then in the global styles. If I need to guess the URLs are not correct.

[2021-12-13 15:28] Lefevcal opened #30188 "[Container] maxWidth error"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The max width for the component Container is "960undefined" for md size.
There is the problem for all size above xs.

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

[2021-12-13 15:32] michaldudak commented on #27533
I'm going to update the docs to make it clearer that in this case setting both Select's `label` prop and  InputLabel is required.

labelWidth instead of label
specifying OutlinedInput on the input prop of select
CSB for the 2nd point

@melvyn-oviavo I can't see the problem you're describing on the codesandbox. Could you verify if it was fixed in the meantime?

[2021-12-13 15:44] Altair2169 commented on #30185
I tried defining them into the global css file and then had MUI try to access them inside `typography.fontFamily` but it doesn't seem to work. As when I check the fonts they aren't applied

[2021-12-13 15:54] Altair2169 commented on #30185
I figured out the problem, I was defining the formats of the font incorrectly, which was why they weren't loading. For others here's how this'll work

in your global css define the fonts

[code]
 and then refer them inside your theme object as how you do for regular fonts

Thanks

[2021-12-13 15:54] #30185 closed

[2021-12-13 16:12] Nikiweikame opened #30190 "學習"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

_No response_

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2021-12-13 16:14] Nikiweikame opened #30191 "學習"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary>`npx @mui/envinfo`</summary>

[code]
</details>

[2021-12-13 16:15] Nikiweikame opened #30192 "練習"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

_No response_

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2021-12-13 16:15] avimaymon opened #30193 "Material Table - UI jump using lookup column filtering when selecting/deselecting values"
When filtering column values by using its lookup values there is a UI jump when selecting/deselecting values.
In the following example you can see that for every selection then the first one ("None") the popup is going up
![image](https://user-images.githubusercontent.com/29678658/145847666-1e1562a3-2c72-45fc-8221-d0b55f8945d1.png)
![image](https://user-images.githubusercontent.com/29678658/145847

[2021-12-13 18:11] PraveenPeri commented on #29648
@ShuPink @siriwatknp Thanks for the workaround! That resolved the issue

[2021-12-13 19:17] kmurgic commented on #30144
Update: After spending some time on this, I have been struggling to find a fix for this that doesn't either involve a small breaking change or place the wrong click element on the propagated event. Maybe someone else wants to take a crack at this and see if they can think of something a bit more clever than my solution. Perhaps if nothing else MUI can document this keyboard accessibility issue wit

[2021-12-13 19:32] andre-kingsmen opened #30196 "Typography fontFamily in createTheme doesn't work when using theme composition"
### Duplicates

- [ ] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

This works, mui applies Poppins
[code]

This doesn't, mui applies the default Roboto
[code]

### Expected behavior 🤔

This should apply Poppins
[code]

### Steps to reproduce 🕹

_No response_

### Context 🔦

_No response_

### Your environment 🌎

<details>

[2021-12-13 20:34] #30119 closed

[2021-12-13 22:03] vipertechofficial opened #30197 "Show tips or implement contain CSS property"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Well, I wrote  big react JS module will exploit CSS performance to the fullest, after having had some headaches I figured out that when the image load inside MUI avatar root, well,my module freezed for a few seconds, it is not just poor code my side, or maybe event

[2021-12-13 22:29] marr commented on #30119
@caioorg What was the outcome here? I see you closed the issue with no explanation.

Thanks

[2021-12-13 22:43] BrittanyDilts commented on #30137
I'm certain the styles are not changed by us. The version numbers are all 4.*.* in the package.json, so it may be something that was a problem in previous versions, but the latest update has it covered. I'll see if we can update the versioning. Thanks!

[2021-12-14 00:42] AlexKrupko commented on #28554
It seems this issue has not been fixed.
I have following code -
[code]

So, only the value of `columns` prop from top-level container is used for calculating item widths. All nested `columns` props are ignored.

[2021-12-14 02:11] gabrielgodoy opened #30198 "[Tooltip] Tooltip with followCursor gets wrong initial position after element is rendered"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Today when an element that has tooltip with followCursor is rendered, the tooltip initially shows up on the wrong position `transform: translate(0px, 0px);`

### Expected behavior 🤔

Tooltip should show up on correct position after element shows up on page

[2021-12-14 03:56] kftsehk commented on #29272
Here are some thoughts your team may consider.

Some tool in IDE will help highlight unused variable, I know VSCode can, I cannot speak for other IDE, our team has people using Vim.

I didn't know of a tool that does the removal automatically, and I don't think it works because
[code]
is not safe for whole line removal if `fn()` has other side-effects.

If the above is true, using an HOC will make

[2021-12-14 07:10] siriwatknp commented on #29648
Anyone would like to submit a PR to improve the example and docs is welcome!

[2021-12-14 07:47] siriwatknp commented on #29822
I propose the enhancement to "skip files that don't require any code modification, like the React codemods." as @fwextensions suggested.

[2021-12-14 07:55] #29206 closed

[2021-12-14 07:57] JeremyRubin commented on #29081
not sure about these fixes? I'm on 5.2.0 and still having this issue (also took a long while to even find this thread, is this in upgrade guide anwhere?)

[2021-12-14 08:02] #29379 closed

[2021-12-14 08:41] theHasanas commented on #28820
Ahh, I looked again and you were right, it would indeed introduce a breaking change; the patch is modifying `Shadows` to be an object with indexed values instead of an array.

While MUI itself doesn't really rely on the `Shadows` being an array, it is a breaking change for any consumers who rely on it as an array.

Sorry for the confusion. Will just stick to the patch and hope for v6.

[2021-12-14 09:12] michaldudak commented on #30198
I don't think it's possible to fix this. Tooltip needs to know the position of the mouse and this is available only on mouse events. Since there isn't any event right after the tooltip is created, it has no way of knowing where the mouse cursor is.
However, there is a workaround you can use: instead of conditionally creating the Tooltip, render it always and control its `open` prop: https://codesa

[2021-12-14 09:12] #30198 closed

[2021-12-14 09:25] michaldudak commented on #30197
Hi @vipertechofficial. Thanks for these insights. Would you like to create a PR with the change you're proposing?

[2021-12-14 09:30] michaldudak commented on #30180
Snackbar is meant to be a container for arbitrary content. See https://mui.com/components/snackbars/#customization for details on how you can modify its appearance. There is no need to add another prop to achieve what you need.

[2021-12-14 09:30] #30180 closed

[2021-12-14 09:36] michaldudak commented on #30188
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-14 09:48] michaldudak commented on #30187
Demos in the docs are wrapped in a container with `display: flex`, so they don't expand horizontally and are better to look at. What you see in CodeSandbox is "raw", without any containers.

The `Stack` itself has nothing to do with the width of its children (at least with its default 'column' direction).

[2021-12-14 09:48] #30187 closed

[2021-12-14 09:56] michaldudak commented on #30120
Hi @VicHofs. I think it's a valid idea. Please create a PR and we can discuss the implementation details there.

You could use the `useControlled` hook, similarly to how `value` and `defaultValue` and handled by the SelectInput. I'd also call the new prop `defaultOpen` to match other uncontrolled props we have across the board.

[2021-12-14 10:15] michaldudak commented on #30125
Hi @iansjk. Thanks for pointing this out!
I think removing the attribute when the menu is closed will have much less impact on existing codebases. Would you like to contribute by creating a PR?

[2021-12-14 10:29] melvyn-oviavo commented on #27533
@michaldudak I must have forgotten to save the sandbox after saving. It's not fixed yet.
<img width="338" alt="Screenshot 2021-12-14 at 11 28 37" src="https://user-images.githubusercontent.com/78786958/145981090-037277e6-3429-4b14-b8d2-f4f77f2358cb.png">
.

[2021-12-14 10:30] michaldudak commented on #30140
Hi @lewismoten. Could you please create a codesandbox showing the issue you're facing?
Also, make sure you follow the steps described in https://mui.com/guides/right-to-left/

[2021-12-14 10:41] michaldudak commented on #27533
Right, now I can see it. I'm reopening the issue, then.

[2021-12-14 10:46] 2211rohit commented on #30181
Hello Abhinav and Benny
Thanks for answering my query. Maybe the problem is with my system as it is working fine on my colleague's system. Thanks again and sorry for the inconvenience.

[2021-12-14 10:46] #30181 closed

[2021-12-14 10:55] mnajdova commented on #30139
The issue here is that you are using `makeStyles` with v5. If you wish to do this you need to have `StyledEngineProvider` with `injectFirst` in the root of your app. See the index.js file in https://codesandbox.io/s/react-mui-forked-j6uqf?file=/App.js All works as expected now. I hope this helps.

[2021-12-14 11:00] mnajdova commented on #29492
You can do that with different API, for example:

[code]

[2021-12-14 11:28] piet-v commented on #29691
solution: minDate needs to be of type `Moment` and not `Date`

[2021-12-14 11:34] PabloLION commented on #29445
Hi @mnajdova. Recently I've been busy. I will try it next week on Christmas vacation.

[2021-12-14 11:37] michaldudak commented on #29674
Gotcha, it makes sense.

[2021-12-14 11:37] #29674 closed

[2021-12-14 12:06] s-mahdi commented on #27057
I used [controlled tooltip](https://mui.com/components/tooltips/#controlled-tooltips) to solve this issue.

[2021-12-14 12:17] michaldudak commented on #29625
It should work now as I upgraded react-router to v6 in #29553.

[2021-12-14 12:17] #29625 closed

[2021-12-14 12:42] WasiakSzymon commented on #18822
After X long hours spent on trying do 'hacks' with scroll/fix warning type listBoxComponent props i couldn't find any working way do handle that... the way which i've chosen is use hook useAutocomplete and provide custom list box build based on material-ui components like `<Typography component='li' />`   (i wanted have the same style/look like material-ui autocomplete)

there is good example (eas

[2021-12-14 13:24] michaldudak commented on #30196
The Typography component doesn't use the `typography.fontFamily` from the theme directly. It uses values derived from it, such as `typography.body1.fontFamily`.

As noted in https://mui.com/customization/theming/#api, the second (and any further) parameters are not processed by createTheme, but simply merged with the result, so the derived values won't be created.

In your case, the following shou

[2021-12-14 13:24] #30196 closed

[2021-12-14 13:50] abhinav-22-tech commented on #30193
I think this is not related to material UI, mui provides the UI, internal functionality of the UI is programmed by the developer.
Thank you

[2021-12-14 14:09] mnajdova commented on #29445
@siriwatknp @hbjORbj before @PabloLION starts do you have some tips/doubts around this?

[2021-12-14 14:37] AlfredOdling commented on #30187
I'm just a bit confused, my expectation was that the buttons would be their own size after putting them in a Stack. When I put `width: fit-content;` on the Stack it works as I want. Isn't this the default behavior?

![image](https://user-images.githubusercontent.com/18306386/146018306-d10b3d9d-32f6-4f94-bce0-c2d83a9e9ca6.png)
![image](https://user-images.githubusercontent.com/18306386/146018388-0b

[2021-12-14 14:46] alisasanib commented on #30032
Hi! May I work on it?

[2021-12-14 14:49] michaldudak commented on #30187
Stack creates a container with `display: flex`. It does not set `align-items` so that, by default, they are stretched to the full width of the container (they behave as if `align-items` was set to `stretch`). This is the default behavior of flexbox containers.

You can control it by either limiting the width of the Stack (as it's done in the demos in documentation), by applying an `align-items` CS

[2021-12-14 15:27] michaldudak commented on #30178
This indeed could be considered a bug, but I would say it's low priority. Firstly, the workaround is pretty simple (moving the mouse). Secondly, we are working on a change in Autocomplete internals that will be free of this issue. It likely won't be released before the next major version, though.
We may reconsider working on it in v5 if we see a significant need for it in the community (measured b

[2021-12-14 15:28] AlfredOdling commented on #30187
Great, thanks!

[2021-12-14 15:47] theboyknowsclass commented on #156
any word on this?  the PRs seems to have been open for a loooong time

[2021-12-14 16:09] Mood-al opened #30207 "[Tabs] Scrollable tabs don't work on RTL mode"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hi guys I'm currentlly using v4 and when i switch to rtl scroll doesnt work when i click on the arrow i even noticed that same issue happening with the offecial doc of material
you can just switch to rtl and see the issue
https://v4.mui.com/components/tabs/

[2021-12-14 16:21] shadoath commented on #22933
What version of `next` are you running? I pushed mine up to 12.0.5 and had issues with the `Document` and wonder if that's related.

[2021-12-14 16:28] michaelfaith commented on #30081
I found a stackoverflow post with someone seemingly having the exact same issue: https://stackoverflow.com/questions/69328284/jest-rtl-failure-mui-v5-emotion-theme-issue  I've encouraged them to post a reproduction here, if they have one.  I've been struggling to recreate it outside of our project.  I didn't think to mention before, we're working in a yarn (1.x) workspaces environment, in case tha

[2021-12-14 16:42] AlexKrupko opened #30209 "[Grid] Wrong grid item width for nested containers with custom columns prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Cell width is calculating incorrect for nested containers with custom `columns` prop.

[code]

So, the value of `columns` prop from top-level container is used for calculating all item widths. All nested `columns` props are ignored.

I guess, this issue is

[2021-12-14 16:44] michaldudak commented on #28912
Closing due to inactivity.

[2021-12-14 16:44] #28912 closed

[2021-12-14 16:45] michaldudak commented on #29142
Closing due to inactivity.

[2021-12-14 16:45] #29142 closed

[2021-12-14 16:45] michaldudak commented on #29122
Closing due to inactivity.

[2021-12-14 16:45] #29122 closed

[2021-12-14 16:45] michaldudak commented on #28760
Closing due to inactivity.

[2021-12-14 16:45] #28760 closed

[2021-12-14 16:45] michaldudak commented on #28742
Closing due to inactivity.

[2021-12-14 16:45] #28742 closed

[2021-12-14 16:46] michaldudak commented on #28722
Closing due to inactivity.

[2021-12-14 16:46] #28722 closed

[2021-12-14 16:46] michaldudak commented on #28960
Closing due to inactivity.

[2021-12-14 16:46] #28960 closed

[2021-12-14 16:47] michaldudak commented on #29606
Closing due to inactivity.

[2021-12-14 16:47] #29606 closed

[2021-12-14 16:47] michaldudak commented on #29563
Closing due to inactivity.

[2021-12-14 16:47] #29563 closed

[2021-12-14 16:47] michaldudak commented on #29515
Closing due to inactivity.

[2021-12-14 16:47] #29515 closed

[2021-12-14 16:48] michaldudak commented on #29348
I assume the ❤ reaction and the lack of other activity means the issue has already been fixed.

[2021-12-14 16:48] #29348 closed

[2021-12-14 16:49] michaldudak commented on #29217
Closing due to inactivity.

[2021-12-14 16:49] #29217 closed

[2021-12-14 16:49] michaldudak commented on #29197
Closing due to inactivity.

[2021-12-14 16:49] #29197 closed

[2021-12-14 16:49] michaldudak commented on #29193
Closing due to inactivity.

[2021-12-14 16:49] #29193 closed

[2021-12-14 16:49] michaldudak commented on #29184
Closing due to inactivity.

[2021-12-14 16:49] #29184 closed

[2021-12-14 16:50] michaldudak commented on #29166
Closing due to inactivity.

[2021-12-14 16:50] #29166 closed

[2021-12-14 16:52] michaldudak commented on #28519
Closing due to inactivity.

[2021-12-14 16:52] #28519 closed

[2021-12-14 16:53] michaldudak commented on #29607
Closing due to inactivity.

[2021-12-14 16:53] #29607 closed

[2021-12-14 16:54] michaldudak commented on #29629
Closing due to inactivity.

[2021-12-14 16:54] #29629 closed

[2021-12-14 18:01] Vallo opened #30210 ""Each child in a list should have a unique 'key' prop" when bundling mui using Vite"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have a Vite project in library mode that exports a component. Said component uses `@mui/material` package and consists of the following:

[code]

If I run the library as standalone project, I get no errors. If I build in development mode `vite build --mod

[2021-12-14 18:45] djleonskennedy commented on #24282
@Overkloker your solution works, thank you!

[2021-12-14 18:56] danilo-leal commented on #30207
Hey! Thanks for opening the issue. That is weird, to me is working fine (video attached). To better investigate, I think it's useful for you to leave more info about your setup (browser version, OS, etc)

https://user-images.githubusercontent.com/67129314/146061858-9c91f9fe-b634-4195-aa83-1098b8101b98.mov

[2021-12-14 19:38] VicHofs commented on #30120
Awesome, @michaldudak !

I actually called the prop precisely `defaultOpen` in my local implementation, so that's perfect. I will review my implementation with those points in mind and open a PR shortly.

[2021-12-14 20:27] penguinuux commented on #29706
I am having the same here!
![Screenshot from 2021-12-14 17-18-00](https://user-images.githubusercontent.com/23422294/146074323-f4f69838-33ca-4784-b64b-340c5263e7b7.png)
!

[2021-12-14 20:27] mbrookes commented on #28273
https://mui.zendesk.com/agent/tickets/1841

[2021-12-14 23:28] mbrookes commented on #30182
Hi Marc, This sounds like a feature request, but it isn't clear what the use case is. Could you provide more information, and perhaps examples of other Autocomplete components that support the feature you're requesting? (You can edit the issue to keep everything in one place.)

[2021-12-15 01:26] mbrookes commented on #27170
I might be wrong about this (and a bit late to the party), but I'm not convinced that we should priorities based purely on page views. Some components must surely get more views simply because they're more complex. I would personally give a weighting to components that replace native HTML form controls, such as checkbox, radio, textfield. These are going to be more commonly used than say TablePagi

[2021-12-15 01:27] mbrookes commented on #27170
If the package is now called base, should the components be too?

[2021-12-15 01:28] zaandr commented on #29875
I have a similar issue. After adding the "ref" property to the component, the component loses "component" property. But, the compiler doesn't swear.

`export const Test: React.FC = (): ReactElement => {
    const ref = useRef(null);

    return <IconButton ref={ref} compo<-- does not offer />;
};
`
Or this is phpStorm problems... Does not offer this option from the list

[2021-12-15 02:41] linkjane commented on #28136
Thank you so much, and I saw the feedback of library emotion 🙏🙏🙏🙏

[2021-12-15 02:41] #28136 closed

[2021-12-15 05:28] marc-polizzi commented on #30182
@mbrookes done

[2021-12-15 06:22] deveshlashkari commented on #10075
Works perfectly. Thanks!

[2021-12-15 06:42] michaldudak commented on #27170
TablePagination and Tabs have already been done. We're working currently on the Select component. Other form inputs will follow early next year.

Not necessarily. The Base package is more than just unstyled components. It contains hooks and other components that are not "stylable" at all (like NoSsr). Also, changing the suffix to "Base" would create ambiguity as we already have ButtonBase, SwitchB

[2021-12-15 07:53] chenzesam opened #30214 "Input will blur when use in Dialog which have PaperComonent props"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

when i use Input in Dialog which have PaperComponent props. the Input will blur every change.
[codesandbox link](https://codesandbox.io/s/inputs-material-demo-forked-pv1or?file=/demo.js)

### Expected behavior 🤔

don't blur.

### Steps to reproduce 🕹

[code

[2021-12-15 08:01] siriwatknp commented on #29445
From my understanding, the intention of @PabloLION is to improve the UX of the search. If there is no impact on the current behavior, I don't have any objection.

[2021-12-15 08:03] siriwatknp commented on #30081
will try to reproduce it this week. will post an update on this issue.

[2021-12-15 08:46] HelpMe-Pls opened #30215 "[docs] Typo in CSS Media Query demo of Breakpoints"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In the CSS Media Query (https://mui.com/customization/breakpoints/#css-media-queries) demo's source code , you defined:
![image](https://user-images.githubusercontent.com/43715386/146150665-1eddf295-7d25-445c-9506-2882fc6aa3ae.png)

And the output renders i

[2021-12-15 09:09] SreenivasForLeafcraft commented on #24492
Glad to have you start the work prior, can i know if we have any prop ready by now?

[2021-12-15 09:24] michaldudak commented on #29727
Sorry for the late response. I'm getting a 404 error on the sandbox you provided. Could you check it?

[2021-12-15 09:53] shahhhashmatali2002 commented on #240
.MuiTouchRipple-root {
  display: none;
}

[2021-12-15 10:10] michaldudak commented on #30215
Good catch! We shouldn't have used colors from the theme here.

[2021-12-15 10:14] caryhgq opened #30218 "Error merging theme style media query error in sx property"
### Duplicates

- [ ] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/6456736/146161868-5808eeae-e0db-4c56-8036-32f77308c3b2.png)
![image](https://user-images.githubusercontent.com/6456736/146162135-ee970a6f-9595-4e90-9e6a-729cb7430e77.png)

### Expected behavior 🤔

![image](

[2021-12-15 10:19] mnajdova commented on #25852
We should definitely update the docs on this. It works differently than how it did in v4. I will create a PR for the docs next week.

[2021-12-15 10:23] nephix opened #30220 "[docs] Demo VirtualElementPopper crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20VirtualElementPopper%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/popper/#virtual-element
2. Select text
3. demo *VirtualElementPopper* crashes:

[code]

I also have that behavior in a proje

[2021-12-15 10:36] michaldudak commented on #30214
You defined your custom Paper component inline. It basically creates a new instance of it on every render, which messes up the focus. Move the component definition out of the render function to make it work properly: https://codesandbox.io/s/inputs-material-demo-forked-ofxtr?file=/demo.js

[2021-12-15 10:36] #30214 closed

[2021-12-15 10:40] ernestasrutkauskas opened #30221 "Test fails with "TypeError: theme.spacing is not a function" after migration from MUI v4 to v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Have design system created/customized with MUI v4. Decided to update to V5 using [this manual](https://mui.com/guides/migration-v4/). All steps are done (with codemods and manual fixes), except moving from JSS, to Emotion - decided to keep JSS and (with @mu

[2021-12-15 10:57] chenzesam commented on #30214
@michaldudak ok, thanks.

[2021-12-15 11:16] TimonPllkrn commented on #24492
The prop [`disableGutters`](https://mui.com/api/accordion/#props) was released with version [5.0.0-alpha.24](https://github.com/mui-org/material-ui/releases/tag/v5.0.0-alpha.24) and is available since then.

[2021-12-15 11:33] mykola-yarchuk commented on #14348
Thank you guys it helps, but it looks a bit different at this point.

this worked for me:

`preview.js`

`import { StylesProvider } from "@material-ui/styles";

export const decorators = [
  (storyFn) => (
    <StylesProvider injectFirst>
      {storyFn()}
    </StylesProvider>
  )
]`

[2021-12-15 11:55] #25053 closed

[2021-12-15 13:59] irshadpalayadan opened #30223 "Date picker dosn't have option to provide required label with asterisk symbol."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

<img width="630" alt="Screenshot 2021-12-15 at 7 28 20 PM" src="https://user-images.githubusercontent.com/45300256/146199959-0246d938-946d-4735-86c5-4a4538c25edb.png">

### Expected behavior 🤔

<img width="279" alt="Screenshot 2021-12-15 at 7 45 53 PM" src=

[2021-12-15 14:20] michaldudak commented on #30045
Hi @patrickcze. I've tried to reproduce this error, but I, unfortunately, can't.
I added the app to the home screen, ran it, and went through the fields from bottom to top. For each field I tapped on it, then closed the keyboard with the Done button.
Should I be doing something different to see this problem happen?

https://user-images.githubusercontent.com/4696105/146202853-943d8c7b-9188-4907-bec

[2021-12-15 14:48] michaldudak commented on #30123
Thanks for the report. It seems that the bug exists also in the most recent version of MUI: https://codesandbox.io/s/tags-material-demo-forked-50np5?file=/demo.js

[2021-12-15 14:50] siriwatknp commented on #29965
At this point, I suggest only adjusting the `line-height: 1.5` for size `small` because changing to use `minHeight` in v5 might  be a breaking change. In v6, we can revisit the size implementation again.

[2021-12-15 15:49] gonzalotudela-hub opened #30224 "[icons] Dynamic Feed icon outlined version is not matching with Google Fonts"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The Dynamic Feed icon in Outlined format does not match Google Fonts

<img width="816" alt="Screen Shot 2021-12-15 at 7 46 42 AM" src="https://user-images.githubusercontent.com/76226681/146218372-2d8d8f00-3fbf-4000-8e8a-3b0488bf38cc.png">

### Expected beha

[2021-12-15 16:11] michaldudak commented on #30138
It's not exactly `true` by default. When not set, it defaults to the current locale setting. Anyway, the docs are incorrect.

[2021-12-15 16:22] JonKrone commented on #28754
Just to add another voice of support here, my team would also love the addition of interfaces we could extend for adding custom props to any component through the `variants` theme configuration. The javascript is there, we just need type support. @siriwatknp's [suggestion](https://github.com/mui-org/material-ui/issues/28754#issuecomment-937451070) is a great direction

[2021-12-15 16:51] rathpc opened #30225 "Recent removal of ".MuiSelect-root" class causing inability to specifically target root for only Select's"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Following the merge of this [PR](https://github.com/mui-org/material-ui/pull/29593) into version 5.1.1, we can no longer specifically target the root element of a Select explicitly without also targeting all Inputs. Having this root class for example allowe

[2021-12-15 17:12] HelpMe-Pls commented on #30215
@michaldudak Thanks for your response. My initial question was the breakpoints.down(`'md'`) which was rendered as down(`'sm'`). Very much appreciate your fix on the color, but the main point of my issue seems to be overlooked in your PR:

`theme.breakpoints.down('md')`:
![image](https://user-images.githubusercontent.com/43715386/146232458-88733440-5571-499b-968b-6eb2e8364653.png)

Should be render

[2021-12-15 17:54] danilo-leal commented on #30224
Hey! Thanks for opening this issue.

This is weird, though. Yeah, it's not matching with Google Fonts but it seems that it's Google who is wrong, not us?! I mean, on Google Fonts, the filled variant looks a lot more like an outlined version rather than a filled one. Why would the outlined version have the rectangle all filled and the filled the opposite? It doesn't make sense 🤔

| Outlined      |

[2021-12-15 18:14] shaneajeffery commented on #30081
@siriwatknp I am the individual that posted the SO post that @michaelfaith is referencing.  I too posted an issue here, but it got closed for not having a code sandbox.  Unfortunately, there is something within our corporate projects that is to blame it looks like.  I can get the ThemeProvider to work and inject the theme just fine if I just do a very basic example in a code sandbox.

@michaelfait

[2021-12-15 18:51] zaandr opened #30227 "The PaperProps sx menu uses the default spacing value, not the theme override value."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Apply default value.

### Expected behavior 🤔

Apply  theme override value.

### Steps to reproduce 🕹

[codesandbox](https://codesandbox.io/s/styled-component-prop-lost-forked-ilnym?file=/src/App.tsx)

### Context 🔦

_No response_

### Your environment 🌎

<

[2021-12-15 19:05] rejetto opened #30228 "clock picker: no font for outer circle"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

number in outer circle have no font set.
It will inherit the font on the body if you have one, or will display a Serif/Times otherwise.
The inner circle doesn't have such problem.

### Expected behavior 🤔

apply typography default font

### Steps to reprodu

[2021-12-15 19:22] hmillison commented on #19584
Can someone look into this? It feels wrong that the default icons provided with Material UI used with the components aren't aligned properly.

[2021-12-15 19:35] gonzalotudela-hub commented on #30224
I totally agree with you.

Either way, I think we should map to Google and be wrong with them 🤓

[2021-12-15 19:37] SweetmanTech commented on #22249
solved it for me by adding `hiddenLabel` thx @oliviertassinari  🌈 🙌 🎉

[2021-12-15 19:56] kaitlynbrown commented on #25324
I'm having this issue too. I only have one version of @material-ui/styles in my yarn.lock file. All of my mui styles imports are from @material-ui/core/styles. Like others, I'm using next.js. This problem started happening after I started using `createGenerateClassName`, which I did to fix a different issue where class names for classes with interpolated styles were different between the client an

[2021-12-15 19:59] michaelfaith commented on #30081
@siriwatknp  @shaneajeffery we were finally able to get this working.  And it's not entirely clear how.  I tried incrementally reducing the packages from our project to isolate the dependencies.  It started, working at some point, and so I started slowly adding dependencies back, and it never stopped working.  So at the end of that exercise we ended up with the same package.json, but an updated ya

[2021-12-15 20:23] mbrookes commented on #30182
Thanks. The Autocomplete doesn't intuitively suggest that it can be used to create and ordered list, as opposed to a set. Let's see if others would find this useful.

[2021-12-15 20:40] mbrookes commented on #27170
I know, I did say I was late to the party. 😁  Just advocating for more completing the more fundamental components above  others in the list that remains.

[2021-12-15 20:44] shaneajeffery commented on #30081
@siriwatknp @michaelfaith It is most certainly a dependency issue.  I went ahead and just updated all of my dependencies in my `package.json` to the `latest` using https://www.npmjs.org/package/npm-check-updates and

[code]

Now, my issue is gone and I don't need to use the `useTheme` anymore to inject the theme into the styled component.

The issue has to be the older version of Emotion + MUI + J

[2021-12-15 21:15] bsell93 commented on #24765
I wanted to be able to essentially pass the `disabled` prop to the `form` component and then have all inputs/buttons disabled without having to pass individual props. I will leave my solution below in hopes it'll help someone else.

<details><summary>Code</summary>

[code]
</details>

[2021-12-15 21:19] Mood-al commented on #30207
Hi man thank you so much for replying on me

I just recorder this video and you can see it clearly this is exactly what is happening with me inside my project in LTR mode it's woking fine but in RTL it's not as you see
I'm going to show you a video and my code in another reply
https://user-images.githubusercontent.com/63562308/146266331-8f3b679d-f067-45fb-a0c2-b6c125c39a4c.mp4

[2021-12-15 21:22] alexserver opened #30229 "SxProps doesn't exist in @mui/material/styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

when you type
`import { SxProps, Theme } from '@mui/material/styles';`

The Typescript linter complains:
`Module '"@mui/material/styles"' has no exported member 'SxProps'.`

This is happening in the new version @mui/material v5.2.4

### Expected behavior 🤔

[2021-12-15 21:31] jake-klingler commented on #30038
just got bit by this, too.

trying to do this:

[code]

causes `tsc --noEmit --project ./my/project` to hang indefinitely.

replacing the type import with a custom one using `ButtonProps`:

[code]

allows `tsc` to finish successfully.

[2021-12-15 21:36] Mood-al commented on #30207
https://user-images.githubusercontent.com/63562308/146267647-e7e41831-5f72-43ec-9313-8004e3565002.mp4

here is a video inside my project you can see same thing is happening here but arrows are flipping their direction
this is my tab component
![image](https://user-images.githubusercontent.com/63562308/146267162-f244b714-fba3-4f5b-88e7-c47d64940585.png)

and here my work to add rtl to the jss
![ima

[2021-12-15 21:37] alexserver commented on #30229
Doing some inspection, I found that `SxProps` is in package `@mui/system`, so either you move an export to `@mui/styles` or change the documentation, because somehow the TS linter is crashing and complaining.

[code]

[2021-12-15 22:12] kaitlynbrown commented on #25324
Found the solution here: https://github.com/mui-org/material-ui/issues/17423#issuecomment-531480174

[2021-12-15 22:33] #30081 closed

[2021-12-16 00:51] justindra opened #30230 "[TextField] Notch appears when no label has been added"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using `TextField` without setting a `label` it seems to show a notch that spans the whole length of the Input. With a label, it looks fine.

![image](https://user-images.githubusercontent.com/4289486/146287380-f92f7661-d0da-49c6-8b54-9fc784f744c9.png)

[2021-12-16 01:49] siriwatknp commented on #30081
@michaelfaith @shaneajeffery Thanks for the info, it will save a lot of time for other people!

[2021-12-16 02:17] PabloLION commented on #29445
I confirm what @siriwatknp said, that my PR will not change any function of current function. I just took a look at the repo and it's so clean! I like it a lot! (although there's a typo in `docs/pages/index.tsx`, you'll see it in the PR)

However, I'm failing to locate where does the route happens:
I see in `docs/pages/_app.js` there's a `findActivePage` methods seems to do this job, yet it is in

[2021-12-16 03:44] raymondsze opened #30231 "MonthPicker onChange trigger the outer form onSubmit"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The MonthPicker after onChange function will trigger the outer form submssion.

### Expected behavior 🤔

The MonthPicker after onChange function should not trigger the outer form submssion.

### Steps to reproduce 🕹

[code]

### Context 🔦

_No response_

##

[2021-12-16 03:48] raymondsze opened #30232 "YearPicker does not trigger onChange with latest changed value"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The YearPicker trigger onChange with the original value in the latest version.

### Expected behavior 🤔

The YearPicker should trigger onChange with the latest changed value.

### Steps to reproduce 🕹

[code]

### Context 🔦

_No response_

### Your environm

[2021-12-16 03:56] raymondsze opened #30233 "Cannot disable ClockPicker, StaticTimePicker, StaticDateTimePicker"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The "disabled" does not apply to ClockPicker and ClockPicker inside StaticTimePicker and StaticDateTimePicker.

### Expected behavior 🤔

The "disabled" should apply to ClockPicker and ClockPicker inside StaticTimePicker and StaticDateTimePicker, not only th

[2021-12-16 04:39] siriwatknp commented on #30091
@danilo-leal @oliviertassinari @mbrookes Can you take a look at the images for product drawer UI, does it make sense to you?

[2021-12-16 07:01] narekmal commented on #30123
Hi! I can work on this issue

[2021-12-16 07:02] siriwatknp commented on #29648
I dig a little bit deeper. At the built time, emotion styles are not at the top of `head` even though `prepend: true` is set (this is due to the styles provided to nextjs). When the site is hydrated on the client, emotion moves styles up to head if `prepend: true` is set. I wonder if the issue still persists (or a flash of broken styles) if users have a slow internet connection?

ref: https://gith

[2021-12-16 08:12] michaldudak commented on #30215
Ahh, right, sorry!

[2021-12-16 08:27] michaldudak commented on #27170
All right, I'll keep it in mind.

[2021-12-16 08:29] igor90 opened #30234 "Textarea with multiline has low performance"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Rendering textfield component with multiline property takes 10 or more seconds

### Expected behavior 🤔

Components should be rendered faster

### Steps to reproduce 🕹

Here is the example
https://codesandbox.io/s/multilinetextfields-material-demo-forked-0d

[2021-12-16 09:28] michaldudak commented on #30230
Please create an isolated reproduction using Codesandbox (https://mui.com/r/issue-template-latest).

[2021-12-16 09:32] worlderland opened #30235 "[Tooltip] Component behaves funny in Firefox"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I've implemented the tooltip component grabbed from MUI v4 into our app, and when I test it on Firefox, it behaves in funny way, as in, sometimes (randomly) the background disappears, the border is not continuous, when "arrow" is applied it's not shown.
I'm

[2021-12-16 09:46] maticrivo commented on #15511
Hi @oliviertassinari
How do we change the usage of `jss` in favor of `react-jss` in v4 to solve this issue temporarily until we can upgrade to v5?

I couldn't find anything about it in the docs.

Thanks.

[2021-12-16 10:41] #30215 closed

[2021-12-16 10:53] mnajdova commented on #30218
Duplicate of https://github.com/mui-org/material-ui/issues/28911

[2021-12-16 10:58] mnajdova commented on #30218
My bad it is not the same issue. It is related to how we merge the breakpoints in the `sx` prop. We are not handling media queries with multiple conditions as it is here (sm AND landscape).

[2021-12-16 11:03] michaldudak commented on #30234
TextField in multiline mode uses TextareaAutosize internally by default. It does a few expensive calculations when it's created. Having hundreds of them on a single page is not a typical use case.

I'd suggest rearranging the UI so that the controls are shown when they are actually needed (I assume you don't need the user to actually fill all ~300 fields). Alternatively (or additionally), you can

[2021-12-16 11:56] j0mba opened #30236 "createTheme not passing info tag"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I've created a palette to pass primary and secondary colors, it works, but when i try to pass the info tag it wont work.

    palette: {
    mode: 'dark',
    primary: {
        main: darkprimaryColor,
    },
    secondary: {
        main: darksecondaryColo

[2021-12-16 12:27] michaldudak commented on #30210
Hi @Vallo. Thanks for the report. I was able to reproduce the behavior you described, but haven't yet found the root cause of the problem. I'll let you know if I discover anything meaningful.

[2021-12-16 12:59] mnajdova commented on #29445
all pages are inside `docs/src/pages.ts`

Sounds good, let's start and once we have something working we can polish it :)

[2021-12-16 13:04] michaldudak commented on #30236
Fab does not recognize the `info` color. It's by design: https://mui.com/api/fab/#props

[2021-12-16 13:04] #30236 closed

[2021-12-16 13:09] michaldudak commented on #30235
I wasn't able to reproduce this error. Perhaps some Firefox extension is to blame?

Anyway, you are reporting an issue with v4. We are currently maintaining v5. Please verify if the problem exists in v5 and if you have any extensions enabled.

[2021-12-16 13:13] michaldudak commented on #30229
@mnajdova is this an issue with the docs or have we accidentally omitted an export?

[2021-12-16 13:30] michaldudak commented on #30227
The `border-radius` property you set in PaperProps does not take `spacing` into consideration. It uses the `shape.borderRadius` field, as described in the docs: https://mui.com/system/the-sx-prop/#borders

[2021-12-16 13:32] michaldudak commented on #30221
Looks like you forgot to link the codesandbox example.

[2021-12-16 13:33] michaelfaith commented on #30081
Yeah, that's a good point.  We have this declared in our package.json.
[code]

It looks like storybook is pulling in the older emotion:
[code]

[2021-12-16 14:12] carlosjunod commented on #25273
Hey @teenguyen  I'm facing the same error, but I tried what @oliviertassinari  mentioned [here](https://github.com/mui-org/material-ui/issues/25273#issuecomment-802727195) but it did not work :(

where you able to fix it?

I created a sandbox fork doing what I understand that @oliviertassinari  was suggestion (create a component of Popper's children) but I'm having the same issue.

https://codesan

[2021-12-16 15:48] tomas-c opened #30237 "DateTimePicker defaults to current minutes and seconds rather than 00"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If you go to https://mui.com/components/date-time-picker/#api and try selecting a day on the "Clear Initial State" input you will notice that the minutes are initially set to the minutes of the current hour. The seconds of the Date value will also be set to

[2021-12-16 16:03] GonzAVic commented on #28671
I had the same problem, I wanted to create a variant for TextFields but material ui does't support it for this components... here is a workaround I use for this:

https://medium.com/@victorgonz96/create-material-ui-textfield-variants-2616b673cce0

[2021-12-16 17:07] RoiEXLab opened #30238 "Wrong propType for <Avatar imgProps={} />"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In my react project I'm making use if the sx props for the image props, which works, but TypeScript complains that the sx prop is not an allowed attribute for an `<img>` Tag.

### Expected behavior 🤔

Because this attribute clearly works when the typescript

[2021-12-16 21:03] Renaud009 commented on #28273
I really need this feature to work too for customizing the DateRangePickera bit too.

I there another way at the moment to add a custom component to the DateRangePicker? My custom component would essentially be a list with pre-selected range values (last week, last month, last 3 months, last year) like we use to see with other date range widgets.

[2021-12-16 21:09] PabloLION commented on #29445
Hi, @mnajdova about

- I noticed the file `docs/src/pages.ts` ​but it's for static routing to the pages.​ Not sure if I can use dynamic routes.
- <details>
<summary>I added a `docs/pages/search.tsx` page (tl;dr reason)
The feature I want is like said in the summary, to parse URLs like `https://github.com/search?q=material-ui`. Lots of platforms use `/search` as the search page route but since we d

[2021-12-16 21:33] bbernstein commented on #29820
has anyone else tried testing DatePicker component on headless linux?

[2021-12-16 22:06] mmgil commented on #28918
Same here

[2021-12-16 22:19] kodeschooler commented on #8741
We are in the process of migrating our app to mui and this error is now happening within a tabbed dialog and a popup. Every time the second pop up is closed the stack error is produced and can be seen in the browser console. I installed the same material ui libraries and versions we are running on code sandbox. I've illustrated it here: https://codesandbox.io/s/wild-frost-lno47

Just click the + b

[2021-12-16 23:38] PabloLION commented on #29445
I didn't finish the part of automatic adding to search engine. It seems I need to create a new "[OpenSearch description file](https://developer.mozilla.org/en-US/docs/Web/OpenSearch)". Yet I don't have the access to your netlify or other servers.

@siriwatknp, maybe you can consider doing this.

[2021-12-17 00:05] caioedut commented on #28918
Works for me:
Pass children as real children instead of using "children" prop.

Wrong:
`<Snack {...} children={children}/>`

**Correct:**
`<Snack {...}>
  {children}
</Snack>`

[2021-12-17 02:21] Jerryh001 opened #30242 "After reorder TreeItem in TreeView, multiple selection broken"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

As title describe, the `index` (internal state of `TreeView`) not update after reorder items, that will cause multiple selection (hold shift) broken. (see Steps to reproduce for example)

### Expected behavior 🤔

 (see Steps to reproduce for example)

### S

[2021-12-17 02:24] worlderland commented on #30235
Hi @michaldudak ,

Thank you so much for your quick reply.
I have checked my Firefox and I do not have any extensions installed. I have tested the v5 as well (as per attached screenshot) and it does behave in the same way.

I tried on 2 other laptops in the office and on one of them it behaved the same as mine, while on the other one it didn't.
Therefore I'm starting to thing that the 2 laptops wh

[2021-12-17 02:51] lm7405 opened #30243 "Tree view - tree item disable attribute not refresh"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://user-images.githubusercontent.com/94356438/146480605-3d74e709-f799-4c8b-afb2-2988cca2cadc.mp4

i want to change "disabled" property in <TreeItem>
disable attribute not view correctly at one click, it work after other change(open/close, click twice a

[2021-12-17 07:23] Whity3D opened #30244 "Can't build next app with mui and setting emotion/babel-plugin"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have **next** app with **mui** and **emotion**. I am trying to setup **emotion/babel-plugin** for use components as selectors. But I receiver error:

[code]

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1. Go to sandbox - http

[2021-12-17 07:25] ernestasrutkauskas commented on #30221
@michaldudak sorry, LINK: https://codesandbox.io/s/laughing-agnesi-ojyiq?file=/src/styles.css

[2021-12-17 08:42] johnwaweru commented on #1328
Dong this re-renders the form and the input field loses focus as soon as you begin typing.

[2021-12-17 08:59] igor90 commented on #30234
Hey
Thank you for response
Your suggestion increase the performance, but it break the styles.
I created "fake" component which does not effect performance but has the same view.

[code]

[2021-12-17 09:17] siriwatknp opened #30247 "Update these scripts to compat with the new structure (it must still work with the current structure)"

[2021-12-17 09:18] siriwatknp commented on #30247
My mistake 🥲

[2021-12-17 09:18] #30247 closed

[2021-12-17 09:31] #27993 closed

[2021-12-17 09:59] TiceWise commented on #29703
For now we found a work around:
For the MenuItem; Also override the @media min-width:
[code]
And for the background color; set the MuiOutlinedInput background color:
[code]

[2021-12-17 10:16] oliviertassinari commented on #29965
I had noticed the same problem, on macOS 12, Chrome v96! I'm glad we have an issue open about this problem. @apokusin thanks for the care ❤️

[2021-12-17 10:58] michaldudak commented on #30243
The code you pasted here has some problems. Please provide a working codesandbox illustrating the problem. You can use this template: https://mui.com/r/ts-issue-template.

[2021-12-17 11:19] michaldudak commented on #30150
Thanks for the report. I agree that onChange should not be called in this case.

[2021-12-17 11:28] michaldudak commented on #30153
The `Tabs` component requires `Tab` components as direct children.
If you'd like to extract the logic of rendering individual tabs, you can create a function (not a functional component) that returns the array: https://codesandbox.io/s/basictabs-material-demo-forked-pi4p3?file=/demo.tsx

[2021-12-17 11:28] #30153 closed

[2021-12-17 11:52] LuigiMaestrelli opened #30249 "[Autocomplete] Adding items to options causes scroll to go to the top of the list (paging)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm implementing async load with pagination with the Autocomplete.
When the listbox is open and the user scroll to the bottom, we load the next page and add the new options.
After adding, the position of the scroll on the listbox is reseted and  the scroll

[2021-12-17 11:52] michaldudak commented on #30209
I'm not sure if I understand the problem. I tried to reproduce it in codesandbox using the code you provided (I used 5-column grid for better visibility): https://codesandbox.io/s/proud-shape-gz9n1?file=/src/Demo.tsx

The whole grid is 500px wide and the grey and green cells have 200px and 100px respectively, as I expected. Could you explain in more detail what you would expect?

[2021-12-17 13:09] sebascomeau commented on #20559
I have the same issue using yarn behind a proxy but I can download it with the browser and also with curl in the same terminal and it take about 3 sec.

I've tried with these flag but same issue

[code]

Here's the error

[code]

[2021-12-17 13:39] shishirtiwari23 commented on #26587
@eps1lon  I faced a similar issue

[2021-12-17 13:42] oliviertassinari commented on #25053
The pain was also raised in https://github.com/mui-org/material-ui-x/pull/1030#discussion_r574745566 too :)

<img width="790" alt="Screenshot 2021-12-17 at 14 17 39" src="https://user-images.githubusercontent.com/3165635/146553260-bbbedf84-44bb-4960-a22b-f6ff2130732f.png">

[2021-12-17 14:03] vladblaj opened #30250 "[Tooltip] Tooltip title prop has been changed to aria_label in the rendered component."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Steps:
Passing title prop to Tooltip will actually be transformed to aria_label in the children component.  In MUI v4 rendered children components would have the title attribute.

### Expected behavior 🤔

Children components of Tooltip should have the title

[2021-12-17 15:01] michaldudak opened #30251 "[SelectUnstyled] Create SelectUnstyled and useSelect"

[2021-12-17 18:08] danilo-leal commented on #30224
Uhm... I feel uncomfortable with this idea 😕

@oliviertassinari and @michaldudak I think you guys had some recent PRs/discussions about icons. What's your vision about this?

[2021-12-17 18:09] danilo-leal commented on #30207
@mnajdova or @siriwatknp any ideas on what's happening?!

[2021-12-17 18:18] BernardoMoschen opened #30252 "LocalizaitonProvider with Date-fns is not chaning to the desiredLanguage"
I'm trying to internationalize the DatePicker component, using date-fns, but even setting the locale to French(frLocale), the data in the calendar doesn't change.

- Imports:
![image](https://user-images.githubusercontent.com/76796293/146589710-e8fed089-7ed3-4fa8-b0d8-4ad017ada0fd.png)

- Components:
![image](https://user-images.githubusercontent.com/76796293/146589662-eb4435e6-51aa-43b8-b9c6-3388

[2021-12-17 18:24] BernardoMoschen commented on #30252
It suddenly started working, so I'm closing this issue.

[2021-12-17 18:24] #30252 closed

[2021-12-17 21:34] kodeschooler commented on #8741
I thought we could migrate to mui gradually, what's wrong with running previous versions and mui at the same time?

[2021-12-17 23:49] oliviertassinari commented on #29445
This seems to be a continuation of #16764.

[2021-12-18 06:49] ahmad-reza619 commented on #30250
You could set the `describeChild` props to true in your ToolTip component, but I know that's a bit chore. The cause for this is this line https://github.com/mui-org/material-ui/blob/6af5ac9bd062fab467a7ffb3bf67f054b0d5f474/packages/mui-material/src/Tooltip/Tooltip.js#L521

`describeChild` defaults to false, Idk why, needs info from the core team

[2021-12-18 07:08] ahmad-reza619 commented on #30238
Hi there, i would like to work on this

[2021-12-18 07:27] narekmal commented on #30032
Hi! Can I take this issue?

[2021-12-18 08:33] mehranml opened #30257 "[DateTimePicker] InputProps spell check issue"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

hello  i had use placeholder for datetime picker and it didnt worked correctly i find issue in spell check in InputProps => inputProps
so the first letter should be small but its define capital

### Expected behavior 🤔

_No response_

### Steps to reproduce

[2021-12-18 11:42] Parsa-Sedigh commented on #29648
@siriwatknp Yes FOUC effect for my custom css module styles happens, if user has a slow internet connection, my custom styles don't apply until the site is hydrated, even though I'm using `<StyledEngineProvider injectFirst>` and `<CacheProvider value={emotionCache}>`(because of custom emotion cache)
I'm using:
@mui/material: 5.1.0
@emotion/react: 11.5.0
@emotion/server: 11.3.0
next: 12.0.7

[2021-12-18 12:01] narekmal commented on #30123
Works ok if to remove `getOptionSelected={(option, value) => option.title === value.title}`
Or can be replaced with
[code]

[2021-12-18 15:52] mbrookes commented on #30091
For ReactJS it seems that it's only a FAB at mobile breakpoint where a fixed Nav is no longer practical. I don't think having it placed bottom right permanently (if that's the intention) is good UX.

[2021-12-19 00:50] RobertAron opened #30261 "DX: Slow Parsing/Intellisense When Using styled HOF"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using `styled()(()=>{})` intellisense/parsing of code become much slower than before. On my machine it is by a factor of 10.

Prior to using HOF: ~.5 Seconds
After using HOF: ~5 seconds

# Examples

These example show how long it takes for Typescript t

[2021-12-19 02:08] ahmad-reza619 commented on #30257
Hello, thank you for reporting an issue, but could you please give us more context? what do you mean by spelling issue? which one is having a spelling issue is it the DateTimePicker component or TextField(since DateTimePicker can render a custom input)?

[2021-12-19 10:41] siriwatknp commented on #28107
## **Goal**

Decide on one API between `styleOverrides` and `variant` for dynamic theming.

## **Requirements**

Let's make sure that we have considered all possible use cases about theme customization so that we can pick the API that provides the best experience.

1. **target root element**: eg. "I want to change the size of the default button"
2. **target slot element**: eg. "I want to reduce th

[2021-12-19 11:27] KshitijPatil39 commented on #29469
Is anyone working on this? If not I will make the changes and create a PR

[2021-12-19 12:08] sizata-siege commented on #25336
@jony89 I fixed this by temporarily changing `direction: 'rtl'` to `direction: 'ltr'` in the theme of my project

[2021-12-19 12:26] TrySpace opened #30277 "Right-click contextmenu triggers event"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'm trying to override the right-click behaviour, or the `contextmenu` event.type.

However, it is never triggered, I always get the system-right-click-menu.

In my old code, which used the `@rmwc` library, there is a property available called `onContextMenu` on a R

[2021-12-19 13:24] TrySpace opened #30278 "Use TransitionGroup with Grid"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I tried to get the below code to work, but wrapping the grid item breaks the layout, because it wraps the children in a `div`, so I added `component={null}`, but then the Grid items don't get stretched to the width:

![Grid transition bug](https://user-imag

[2021-12-19 13:45] shorcy commented on #29637
After spending a lot of time updating the repo to use SX prop and updating _app and _document to use emotion cache instead. I still be having the same issue now just with different colors.
The new code can be found here: https://codesandbox.io/s/hopeful-bush-5jbz8.

But the issue is now only visible on the live site (Hosted with vercel).
https://daniiel.dev/

[2021-12-19 14:31] florianbepunkt opened #30279 "[Autocomplete] Let developers determine the value that is set by clear"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently clear sets the value of an autocomplete to either `null` if `multiple == false` or `[]` if `multiple == true`. Depending on the shape of your values / options, this might not be desirable. But there is no way to change this.

For example I'm using an Optio

[2021-12-19 16:41] db926 commented on #23120
So which syntax we should use now onwards?

[2021-12-20 01:51] siriwatknp commented on #30091
How would that help?

Note: The mobile device is only ~3% from google analytics.

[2021-12-20 05:41] ahmad-reza619 commented on #30279
I agree with this, this would certainly helps me in my office work
+1 Upvoted

[2021-12-20 08:39] Janpot commented on #16502
Adding one more: I'm looking for the [icons browser](https://mui.com/components/material-icons/). Searching for "icons" gives me two entries named "material icons" with no clue about which will lead me where.

<img width="603" alt="Screenshot 2021-12-20 at 09 33 06" src="https://user-images.githubusercontent.com/2109932/146736892-758252e3-1ed5-412e-975a-5a5fdde2a0b8.png">

[2021-12-20 08:50] vladblaj commented on #30250
Hi,
Thanks for the tip, I will make use of `describeChild`.

[2021-12-20 08:55] mnajdova commented on #30229
As far as I can see it should be exported: https://github.com/mui-org/material-ui/blob/master/packages/mui-material/src/styles/index.d.ts#L59

Also, our CI didn't catch any problem, but the error is shown in code sandbox - https://codesandbox.io/s/c3mnd?file=/demo.tsx

I will double-check to see what is happening

[2021-12-20 09:20] mnajdova commented on #28107
+1 for consolidating the API. I like better the `styleOverrides` as a key for the overrides, as `variants` as a term is misleading for most of the developers (they are confusing it with the `variant` prop available on some components). From a technical point of view, this would require only changing the typings (the callbacks are automatically supported).

What is important with this is that altho

[2021-12-20 09:26] mnajdova commented on #28107
@siriwatknp would you like to close https://github.com/mui-org/material-ui/issues/28107 and https://github.com/mui-org/material-ui/issues/27415 and open a new issue for https://github.com/mui-org/material-ui/issues/28107#issuecomment-997368895

[2021-12-20 09:34] olee commented on #29864
I totally agree with this one and this is a major letdown that there's no way to use these utilities properly yet for building custom components.
If the functions were at least exported with their current "unstable_" prefix that would be one thing, however right now they are completely invisible to any typescript project which makes this even more cumbersome.

[2021-12-20 09:34] alexfauquette opened #30285 "[ButtonBase] The ripple is not removed when the input is blur by an effect"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When calling the `focus` by using `useLayoutEffect` on another component rendered before the `<BaseButton />` the ripple is not removed and can be accumulated.

### Expected behavior 🤔

The ripple is present only if the BaseBUtton is focussed

### Steps to

[2021-12-20 09:53] #28206 closed

[2021-12-20 10:44] abhiseksubham opened #30287 "Need to change the indicator color on tabs, need small casing for the tab text"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I need to change the indicator color on tabs

### Examples 🌈

<Tabs
									value={value}
									onChange={handleChange}
									indicatorColor="primary"
									className={classes.turnSmall}
									className={classes.tabsContainer}
									aria-label="examp

[2021-12-20 11:46] siriwatknp commented on #28107
Sure, I am waiting to see other comments from the team if we are good with `styleOverrides` to support callback. cc @michaldudak @hbjORbj @oliviertassinari

[2021-12-20 14:07] #29993 closed

[2021-12-20 14:14] mvpindev opened #30290 "[TextField] Label shows single space if label prop is set to "" since Version 5.2.4"
### Duplicates

- [ ] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If the label prop is set to "", its shows an empty space in the textfield-label area.

Version 5.2.4
![image](https://user-images.githubusercontent.com/49334712/146780399-1111a327-0367-4f0a-b21c-31925cdc4595.png)

### Expected behavior 🤔

There shouldn't be

[2021-12-20 14:16] mvpindev commented on #30290
Duplicate

[2021-12-20 15:22] samuelgarbo opened #30291 "[docs] Demo SpacingGrid crashes"
- [x] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SpacingGrid%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/grid/#main-content
2. ??
3. demo *SpacingGrid* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| M

[2021-12-20 15:23] ojasbendale18200 opened #30292 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 15:33] jaminthorns commented on #28339
@eps1lon Forgot to tag you with my previous message. I've provided a reproduction of the issue above.

[2021-12-20 15:34] dimasaenko-seniordev opened #30293 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=photo&theme=Outlined
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|-----

[2021-12-20 15:40] UnderTheMoonspell opened #30294 "Autocomplete custom styles get overwritten by MUI styles (v5)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After upgrading to MUI5, the autocomplete options custom styles are loaded after the MUI styles which makes me use !important to override the styles.

![image](https://user-images.githubusercontent.com/10156878/146793606-4b2d74ef-9f40-442d-9213-c46b749bd067

[2021-12-20 15:40] TiPiKej opened #30295 "[docs] Demo ChipsPlayground crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20ChipsPlayground%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/chips/#main-content
2. ??
3. demo *ChipsPlayground* crashes

## Your Environment
| Tech         | Version |
|--------------|-----

[2021-12-20 15:54] mnajdova commented on #30244
Thanks for the repro. Looks like it happens when the `styled` import is aliased, as `muiStyled` in your case. I've created https://github.com/emotion-js/emotion/issues/2601

[2021-12-20 16:00] danilo-leal commented on #29993
@sparmboy Hey!

We just released a new version of the docs and with it went a lot of general design polishment, one of them being the problem reported on this issue. Hopefully, it's fixed :) Feel free to open another issue with any other improvement opportunity you find out there, thanks!

[2021-12-20 16:06] GalitMiller opened #30296 "[docs] Demo ScrollPlayground crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20ScrollPlayground%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/popper/#main-content
2. ??
3. demo *ScrollPlayground* crashes

## Your Environment
| Tech         | Version |
|--------------|--

[2021-12-20 16:12] AakashTyagi354 opened #30297 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=message
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---

[2021-12-20 16:12] AakashTyagi354 opened #30298 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=message
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---

[2021-12-20 16:12] AakashTyagi354 opened #30299 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=message
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---

[2021-12-20 16:15] prasenjit-26 opened #30300 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=ham
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|-------

[2021-12-20 16:18] seba9999 opened #30301 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=profil
2. just clicking on accountProfil make it crash
3. demo *SearchIcons* crashes

## Your Environment
| Tec

[2021-12-20 16:18] #30301 closed

[2021-12-20 16:18] seba9999 commented on #30301
Duplicate

[2021-12-20 16:22] astroTANSAN commented on #21040
I don't have those attributes, and the buttons are still not using following the palette that I see here: https://mui.com/customization/dark-mode/#main-content

[2021-12-20 16:22] blofland opened #30302 "[docs] Demo SpacingGrid crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SpacingGrid%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/grid/
2. ??
3. demo *SpacingGrid* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI  | v5.2.5

[2021-12-20 16:32] federiccobrunelli opened #30303 "[docs] Demo AnchorPlayground crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20AnchorPlayground%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/popover/#anchor-playground
2. ??
3. demo *AnchorPlayground* crashes

## Your Environment
| Tech         | Version |
|-----------

[2021-12-20 16:35] PedroVOliveira opened #30304 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?theme=Outlined
2. Click at any icon displayed as a result
3. *SearchIcons* demo crashes

⚠️ Crashes only in dark mode

[2021-12-20 16:47] Animfahad32 opened #30305 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 16:49] Janpot commented on #30304
Was investigating this, looks like nit wax introduced by https://github.com/mui-org/material-ui/pull/29994
Only happens on the dark theme

[2021-12-20 16:51] Janpot commented on #30305
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 16:54] Janpot commented on #30303
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 16:54] #30303 closed

[2021-12-20 16:54] Janpot commented on #30302
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 16:54] #30302 closed

[2021-12-20 16:55] Janpot commented on #30300
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 16:55] #30300 closed

[2021-12-20 16:55] Janpot commented on #30299
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 16:55] #30299 closed

[2021-12-20 16:55] Janpot commented on #30298
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 16:55] #30298 closed

[2021-12-20 16:55] Janpot commented on #30297
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 16:55] #30297 closed

[2021-12-20 16:58] haducanh opened #30306 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=dot
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|-------

[2021-12-20 17:03] danilo-leal commented on #30292
Duplicate of #30304.

[2021-12-20 17:03] #30292 closed

[2021-12-20 17:03] danilo-leal commented on #30306
Duplicate of #30304.

[2021-12-20 17:03] #30306 closed

[2021-12-20 17:03] danilo-leal commented on #30293
Duplicate of #30304.

[2021-12-20 17:03] #30293 closed

[2021-12-20 17:09] danilo-leal commented on #30304
I'm not being able to reproduce... Using Chrome, Version 96.0.4664.93 (Official Build) (arm64), incognito mode so is not affected by any extension and in either mode (light and dark) everything's running fine. 😕

[2021-12-20 17:11] zeeking786 opened #30308 "[docs] Demo ChipsPlayground crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20ChipsPlayground%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/chips/#chip-playground
2. ??
3. demo *ChipsPlayground* crashes

## Your Environment
| Tech         | Version |
|--------------|--

[2021-12-20 17:15] danilo-leal commented on #30308
Duplicate of #30295

[2021-12-20 17:15] #30308 closed

[2021-12-20 17:20] Zonxpkk opened #30309 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=brief
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|-----

[2021-12-20 17:22] shashwatsinha28 opened #30310 "[docs] Demo SearchIcons crashes"
- [ x] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=data
2. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
Browser: Microsoft Edge  96

[2021-12-20 17:23] danilo-leal commented on #30287
Hey, thanks for opening the issue!

We have [a section called Customization on the Tabs documentation page](https://mui.com/components/tabs/#customization) that showcases a demo with the text capitalized. It should also give you an idea of how to change the indicator color. We also have [an unstyled version of the Tabs](https://mui.com/components/tabs/#customization) in case you want even more fle

[2021-12-20 17:24] Ceagah opened #30311 "[docs] Demo SearchIcons crashes"
- [x] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/pt/components/material-icons/?query=qr
2. Click in any icon
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|-----

[2021-12-20 17:25] Freem11 opened #30312 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 17:25] ujjwalanand43 opened #30313 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 17:25] danilo-leal commented on #30311
Duplicate of #30304

[2021-12-20 17:25] #30311 closed

[2021-12-20 17:26] danilo-leal commented on #30313
Duplicate of #30304

[2021-12-20 17:26] #30313 closed

[2021-12-20 17:26] danilo-leal commented on #30312
Duplicate of #30304

[2021-12-20 17:26] #30312 closed

[2021-12-20 17:27] danilo-leal commented on #30309
Duplicate of #30304

[2021-12-20 17:27] #30309 closed

[2021-12-20 17:27] danilo-leal commented on #30310
Duplicate of #30304

[2021-12-20 17:27] #30310 closed

[2021-12-20 17:29] Mohamed-Magde opened #30314 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=sh
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|--------

[2021-12-20 17:30] danilo-leal commented on #30314
Duplicate of #30304

[2021-12-20 17:30] #30314 closed

[2021-12-20 17:32] siddharthmanimaran opened #30315 "[docs] Demo SpacingGrid crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SpacingGrid%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/grid/
2. ??
3. demo *SpacingGrid* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI  | v5.2.5

[2021-12-20 17:32] KerryKilian opened #30316 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 17:33] lkochanski opened #30317 "[docs] Demo SpacingGrid crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SpacingGrid%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/grid/#main-content
2. ??
3. demo *SpacingGrid* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| M

[2021-12-20 17:33] danilo-leal commented on #30296
Probably related to #30304

[2021-12-20 17:33] danilo-leal commented on #30295
Probably related to #30304

[2021-12-20 17:34] danilo-leal commented on #30317
Duplicate of #30304

[2021-12-20 17:34] #30317 closed

[2021-12-20 17:34] danilo-leal commented on #30316
Duplicate of #30304

[2021-12-20 17:34] #30316 closed

[2021-12-20 17:34] danilo-leal commented on #30315
Duplicate of #30304

[2021-12-20 17:34] #30315 closed

[2021-12-20 17:34] danilo-leal commented on #30291
Probably related to #30304

[2021-12-20 17:35] adamvnovak opened #30318 "[docs] Demo InteractiveStack crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20InteractiveStack%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/stack/#main-content
2. ??
3. demo *InteractiveStack* crashes

## Your Environment
| Tech         | Version |
|--------------|---

[2021-12-20 17:38] hhv1996 opened #30320 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=remove
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|----

[2021-12-20 17:39] danilo-leal commented on #30320
Duplicate of #30304

[2021-12-20 17:39] #30320 closed

[2021-12-20 17:40] danilo-leal commented on #30318
Probably related to #30304

[2021-12-20 17:48] Saloniaga opened #30321 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 17:48] sinazPSI commented on #30318
I am facing a similar issue with the following error:
[code]

[2021-12-20 17:50] TheMoonDawg commented on #30304
@Janpot Ah, yup. Light theme works fine for me. Good workaround for now. :D

[2021-12-20 17:50] Janpot commented on #30321
Duplicate of https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 17:50] #30321 closed

[2021-12-20 17:52] Janpot commented on #30318
Yes, this is the same problem as https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 17:52] #30318 closed

[2021-12-20 17:53] ace-niraj opened #30322 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 17:53] danilo-leal commented on #30322
Duplicate of #30304

[2021-12-20 17:53] #30322 closed

[2021-12-20 17:54] Janpot commented on #30296
yes, this is the same issue as https://github.com/mui-org/material-ui/issues/30304

[2021-12-20 17:54] #30296 closed

[2021-12-20 17:54] danilo-leal commented on #30295
Same issue, actually. Closing it to focus on the opened.

[2021-12-20 17:54] #30295 closed

[2021-12-20 17:55] danilo-leal commented on #30291
Same issue, actually. Closing it to focus on the already opened.

[2021-12-20 17:55] #30291 closed

[2021-12-20 18:02] aman97703 opened #30323 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=search
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|----

[2021-12-20 18:03] danilo-leal commented on #30323
Duplicate of #30304

[2021-12-20 18:03] #30323 closed

[2021-12-20 18:04] #30304 closed

[2021-12-20 18:30] jesseb34r opened #30324 "[docs] Demo SpacingGrid crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SpacingGrid%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/grid/
2. ??
3. demo *SpacingGrid* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI  | v5.2.5

[2021-12-20 18:32] danilo-leal commented on #30324
Fixed with #30319 - we'll soon release a new docs version with it.

[2021-12-20 18:32] #30324 closed

[2021-12-20 18:32] OskarD opened #30325 "[docs] Demo SearchIcons crashes"
- [x] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=bookmark
2. Click on an icon
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|---

[2021-12-20 18:33] danilo-leal commented on #30325
Fixed with #30319 - we'll soon release a new docs version with it.

[2021-12-20 18:33] #30325 closed

[2021-12-20 18:36] sirloris opened #30326 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=download
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|--

[2021-12-20 18:39] danilo-leal commented on #30326
Fixed with #30319 - we'll soon release a new docs version with it.

[2021-12-20 18:39] #30326 closed

[2021-12-20 18:42] jessiephone opened #30327 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2021-12-20 18:43] eculeus opened #30328 "[docs] Demo SpacingGrid crashes"
Element width was about 680.

- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SpacingGrid%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/grid/
2. ??
3. demo *SpacingGrid* crashes

## Your Environment
| Tech         | Version |
|------------

[2021-12-20 18:45] eculeus commented on #30328
oops looks like #30304

[2021-12-20 18:45] #30328 closed

[2021-12-20 18:45] danilo-leal commented on #30327
Fixed with #30319 - we'll soon release a new docs version with it.

[2021-12-20 18:45] #30327 closed

[2021-12-20 18:48] ipr0310 opened #30329 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=create
2. Click on any icon
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|----

[2021-12-20 18:49] marr commented on #30249
I've been trying to get help with this same issue but have received: no response on one ticket, and closure of another ticket with no explanation.
FWIW, your sandbox appears to not be loading additional pages when scrolling.
I have shared this CSB that illustrates the issue quite simply: https://codesandbox.io/s/autocomplete-scroll-bug-39wfv?file=/src/App.js
Thanks for reporting

[2021-12-20 18:49] danilo-leal commented on #30329
Fixed with #30319 - we'll soon release a new docs version with it.

[2021-12-20 18:49] #30329 closed

[2021-12-20 19:29] LuigiMaestrelli commented on #30249
Don't now if helps, but I have an older project running some v4 version and this kind of use was working.
At the time the Autocomplete component was still in the lab package

[2021-12-20 19:46] DavidHenri008 commented on #29744
@mnajdova This works well with DatePicker but unfortunately it does not work with DateTimePicker because the PapaerProps are not passed to the [DesktopWrapper](https://github.com/mui-org/material-ui/blob/857b47be4b3010c458203241f51f225dfd55184c/packages/mui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx#L68)...

[2021-12-20 20:04] yanickrochon opened #30330 "Add the "Feature Discover" component"
### Summary 💡

Last week, we launched a small app to help customers order online instead of calling the sales reps. Most of them had no issue whatsoever navigating the interface, however a few seem to totally ignore some basic features. In order to help them, we need to highlight certain elements on the page, and I was trying to find an implementation of the "[Feature Discover](https://material.io

[2021-12-20 20:24] danilo-leal opened #30331 "[TablePagination][base-ui] Add an additional container to the pagination actions"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The TablePagination component, be it its styled or unstyled version, should have an additional container (and therefore a class to target it) so more flexibility in customization is allowed, specifically with label and action pagination buttons. The following pictur

[2021-12-20 20:24] danilo-leal commented on #30331
cc @mnajdova and @michaldudak :)

[2021-12-20 20:28] aldabil21 commented on #13347
Too late already, but might help...
You were almost there, since this is specific to the "outline" input, you override the `MuiOutlinedInput`

[code]

It also workd with `MuiInputBase` but with `!important`,

[code]

[2021-12-20 20:28] tesfahailu opened #30332 "[docs] Demo InteractiveGrid crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20InteractiveGrid%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/grid/#main-content
2. Scroll down page
3. demo *InteractiveGrid* crashes

## Your Environment
| Tech         | Version |
|-------

[2021-12-20 20:32] danilo-leal commented on #30332
Fixed with #30319 - we'll soon release a new docs version with it.

[2021-12-20 20:32] #30332 closed

[2021-12-20 20:34] danilo-leal commented on #30330
Hey!

We currently don't have this component in the roadmap, however, if we see significant interest in the community, we may consider creating one!

[2021-12-20 21:28] Budelon commented on #29703
I have the same problem here with Button.
Using:

`<Button
        style={{
            backgroundColor: '#E9F2FC',
            color: "#14143c",
            marginBottom: '10px',
            fontWeight: 700,
            fontSize: "20px",
            width: "100%",
        }}
        variant="contained"

        Entrar
 </Button>`

in detriment of

`makeStyles(((theme: any) => ({
button: {

[2021-12-20 22:20] mbrookes commented on #30091
By having a top level page that allows for navigation between products, rather than depending on an obscure icon.

Then why would you chose to optimise for it by using a mobile-first design pattern on desktop? (bottom-right FAB as the primary navigation mechanism for moving between products)

[2021-12-20 23:34] alisasanib commented on #30150
Hi! I would like to work on this issue

[2021-12-21 00:17] kutnickclose commented on #29266
+1 - This issue is currently breaking my grid spacing when trying to migrate from v4 to v5.

[2021-12-21 00:52] kutnickclose commented on #29266
Confirmed this issue was introduced in the migration from emotion.  It was not an issue in @material-ui/core v5.0.0-alpha.23, and is an issue in v5.0.0-alpha.24 (when the migration to emotion for the Grid was introduced).  I used the sandbox above and made some modifications.

PR that introduced the change: https://github.com/mui-org/material-ui/pull/24395

[2021-12-21 01:43] kenianbei commented on #29176
Same issue, though adding a component="div" to Box fixes it.

[2021-12-21 01:59] dagumak opened #30334 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=image
2. Click "Image"
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|---------

[2021-12-21 03:09] joelhenrique2000 opened #30335 "How's the MUI changelog generated?"
How the project changelog is generated, I saw that there is a script called releaseChangelog, but its output does not correspond to the project's CHANGELOG.MD.

Is there any workflow with GitHub or CI / CD actions?

[2021-12-21 06:33] liesislukas opened #30336 "After upgrading to v5 from v4 input borders are gone"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

this is input:
![image](https://user-images.githubusercontent.com/2733862/146882459-a15c1dc7-8814-4730-84cb-7180c1d4b04e.png)

on focus you can see it better
![image](https://user-images.githubusercontent.com/2733862/146882481-630b18fd-d914-4557-8339-0415a6

[2021-12-21 06:50] ossan-engineer opened #30337 "[Tooltip] It may not work in shrunken label"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you use Tooltip in a shrunken label, it may not work.

### Expected behavior 🤔

It should work in shrunken label.

### Steps to reproduce 🕹

https://codesandbox.io/s/tooltip-demo-62000?file=/demo.tsx

### Context 🔦

_No response_

### Your environment

[2021-12-21 07:36] irfancankalelikargo commented on #19584
Still an issue, button with icons looks vertically aligned on Firefox but not in Chrome

[2021-12-21 08:19] VictorNanka commented on #29706
same problem
<img width="1421" alt="Screen Shot 2021-12-21 at 16 19 41" src="https://user-images.githubusercontent.com/30154366/146895602-05d89421-c439-4795-b692-9f315b9fc898.png">

[2021-12-21 08:54] narekmal commented on #30242
Can I take this issue?

[2021-12-21 09:03] ZeeshanTamboli commented on #30334
Hi @dagumak. It was fixed in #30319 and should work now in the new docs version. Please hard refresh the docs page.

[2021-12-21 09:03] #30334 closed

[2021-12-21 09:09] mnajdova commented on #30244
@Whity3D looks like the bug in the emotion plugin was resolved. It should be available in the next release of the plugin. Keep an eye on it and upgrade when it is available. I am closing the issue now.

[2021-12-21 09:09] #30244 closed

[2021-12-21 09:10] mnajdova commented on #30294
You should use the `.MuiAutocomplete-option` subselector for adding overrides. Can you share a codesandbox of how you are overriding those? I can help resolve the problem.

[2021-12-21 09:11] Andarist commented on #30244
I've just cut a new release of our Babel plugin - it should be available shortly.

[2021-12-21 09:19] UnderTheMoonspell commented on #30294
I am already using that selector.

`<Autocomplete
    id={name}
    classes={{
      option: styles.menuItem,
      listbox: styles.menuList,
      noOptions: styles.noOptions,
      groupLabel: styles.headerItem,
    }} />`

I forgot to mention I am using CSS modules, but the other components seem to be working fine. There was also a similar problem in a page where I was importing React-Select, b

[2021-12-21 09:26] mnajdova commented on #30336
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-21 09:34] siriwatknp opened #30341 "[TablePaginationUnstyled] Ease styles customization"
A follow-up from https://github.com/mui-org/material-ui/pull/30149#issuecomment-997897043.

The idea is to ease customization, most use cases might want to achieve this UI in mobile and stretch to single row on desktop.

<img width="400" alt="Screen Shot 2021-12-14 at 18 45 39" src="https://user-images.githubusercontent.com/67129314/146084617-90220006-fdfd-4d8f-94d9-b9e0f0163674.png">

From what I

[2021-12-21 09:40] hbjORbj commented on #29266
@kutnickclose  Thanks for the update! I left a comment in your PR.

[2021-12-21 10:45] sandorvasas commented on #30010
It doesn't work for me either. I styled CSS and styled(), everything. I'm having a heart attack for over an hour over a f***ing line color

[2021-12-21 11:21] UnderTheMoonspell commented on #30294
Actually this also happens in other components, like Select.

![image](https://user-images.githubusercontent.com/10156878/146921756-31d6f9d8-c1ac-4271-a681-5f0e33a7339f.png)

P.S.: This app was migrated from V4 according to the migration guide, and it was working as supposed before

[2021-12-21 12:53] mnajdova commented on #30294
You are not based on the code. You should use something like:

**styles.css**
[code]

[code]

If there are problems please create a codesandbox, otherwise, it's hard to iterate and verify that it works. cc @hbjORbj probably these are more opportunities for improving the migration guide.

[2021-12-21 13:04] siriwatknp commented on #30341
duplicate of #30331

[2021-12-21 13:04] #30341 closed

[2021-12-21 13:04] siriwatknp commented on #30331
From what I see, there are 2 options:

### Option 1: **Add a separator at the middle**
The result will look like this:
[code]

then, we can use `flex` and `@media` to achieve the image above:

[code]

### Option 2 : split the components

I feel that this is better than option 1 because we don't need to consider any edge cases related to design and let the consumer owns it but I'm sure that there a

[2021-12-21 13:12] UnderTheMoonspell commented on #30294
So that's a change then? I never had to target '.Mui' selectors before, the classes property used to be enough to target exactly what I needed.

[2021-12-21 13:30] ibrahimhajjaj opened #30342 "Routing appbar with list component"
Hi,

I'm building my AppBar like this, I get json response from the backend and then I use in this way

[code]

And I interduce a variable that contains the menu structure as like this

[code]
Now my question how to implement a routing on this structure { dashboardItems.path }.

sorry I'm just getting started

[2021-12-21 13:50] mnajdova commented on #29744
@DavidHenri008 I would say then it is a bug in those components. I am assigning @flaviendelangle to be aware of the problem

[2021-12-21 14:04] mnajdova commented on #30207
@Mood-al looks like you are using v4. We do not actively work on it anymore. Can you try to reproduce with v5 (as far as I can see it works as expected)?

Also, looks like it works with v4 too (at least on the documentation - https://v4.mui.com/components/tabs/#scrollable-tabs) Make sure you follow this guide when configuring RTL - https://v4.mui.com/guides/right-to-left/

If this didn't help, ple

[2021-12-21 14:16] mnajdova commented on #30294
Yes, we just haven't documented it correctly. I would assume the same would go for the select. If I was using CSS modules, I would always specify all styles with sub-selectors inside the root class name. It's simpler and there won't be any surprises.

[2021-12-21 14:40] bsell93 opened #30343 "[docs] Setting custom color in playground breaks docs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When setting docs color at https://mui.com/customization/color/#playground the docs break

The colors I put in were `#304d6d` for primary and `#5cc2a7` for secondary.

### Expected behavior 🤔

Docs work correctly with website colors set.

### Steps to repro

[2021-12-21 14:55] bsides commented on #24783
Not trying to reopening this, but I'm still curious on how does it work? Should I have `sinon` and `fakeTimers`? Does anyone have a quicker way to do this without having to get another package?

[2021-12-21 15:36] UnderTheMoonspell commented on #30294
@mnajdova ok thanks for the help :)

[2021-12-21 16:08] cherniavskii opened #30344 "mui.com crash on Safari"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

mui.com crashes on Safari

### Expected behavior 🤔

mui.com works on Safari

### Steps to reproduce 🕹

Steps:

1. open https://master--material-ui.netlify.app/
2. see error page
![Screenshot 2021-12-21 at 16 51 22](https://user-images.githubusercontent.com/

[2021-12-21 16:22] alexandre-lelain opened #30346 "[Slider] Add a prop to forward props to the html input"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hello,

First of all, Thank you for your hard work on the v5!

I'm working on a use-case where I need to forward some props to the HTML `input` the `Slider` component renders in the DOM.

I couldn't find a way to achieve that from what I read in the docs: https://mu

[2021-12-21 16:32] oliviertassinari commented on #30344
Got reported on a tweet https://twitter.com/ludvigerikss0n/status/1473287869242429453 and 3 PMs

<img width="364" alt="Screenshot 2021-12-21 at 17 31 45" src="https://user-images.githubusercontent.com/3165635/146965212-0e632204-9399-430b-bee6-c02847108850.png">

[2021-12-21 16:39] oliviertassinari commented on #30344
Just did a quick patch https://github.com/mui-org/material-ui-docs/commit/bf5628da28bc2321d97bd3347183e8b8c2c0214d so we have more time to fix it right in #30345

[2021-12-21 16:48] abhiseksubham opened #30347 "Need to remove the bottom underline in Select component with standard variant"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

_No response_

### Examples 🌈

import * as React from 'react';
import InputLabel from '@mui/material/InputLabel';
import MenuItem from '@mui/material/MenuItem';
import FormControl from '@mui/material/FormControl';
import Select from '@mui/material/Select';

export d

[2021-12-21 16:59] michaldudak commented on #30150
@alisasanib go ahead, it's all yours!

[2021-12-21 17:02] abhiseksubham commented on #30347
I am talking about the one under here,

The one "inside Filled and standard variants"  heading.

[2021-12-21 17:31] laclance opened #30348 "[NextJS] `Warning: Prop className did not match`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have looked at the other issues and tried the code from examples below but still get the same error. Maybe because I'm using @mui/material/styles?
https://github.com/mui-org/material-ui/tree/v4.x/examples/nextjs-with-typescript
https://github.com/mui-org/

[2021-12-21 18:20] Shrammer1 commented on #27851
I have this same issue:

![image](https://user-images.githubusercontent.com/5368121/146978618-3938ddfd-5b81-42a7-9f21-7b26460f399d.png)

My Theme:
[code]

Dev tools CSS:

![image](https://user-images.githubusercontent.com/5368121/146978686-5cb3c00c-b63b-4920-a4a6-1cf805377210.png)

Temporary work around is to apply style directly to dialog content component:
`<DialogContent style={{paddingTop: '10

[2021-12-21 19:50] ibrahimhajjaj opened #30349 "Need to implement router for dashboard example"
Hi,

I really couldn't a the proper way to implement routing to this doc's example [Dashboard](https://github.com/mui-org/material-ui/tree/master/docs/src/pages/getting-started/templates/dashboard) without messing the code and change entirely, so if someone would make a simple working example with nested dropdowns on this it would be much appreciated!

Thanks.

[2021-12-21 20:24] Debanjan2001 opened #30350 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=leave&theme=Two+tone
2. ExitToApp icon crashes
3. demo *SearchIcons* crashes

## Your Environment
| Tech

[2021-12-21 20:25] #30350 closed

[2021-12-21 20:25] Debanjan2001 commented on #30350
Probably due to browser issues.. Reloaded and it worked

[2021-12-21 20:36] AlexKrupko commented on #30209
Hi @michaldudak ,
please check the calculated value of `max-width` property for nested grid items.
<img width="1612" alt="Screen Shot 2021-12-21 at 22 32 51" src="https://user-images.githubusercontent.com/5411244/146994321-e3bf1298-e69a-4f0b-ae75-4c3abdbcf912.png">

[2021-12-21 21:30] nachiketnkulkarni opened #30351 "Table cell data copy"
When we try to copy data from table cell by double clicking on that, sometimes extra spaces are getting added at the end of the string.

If the cell is having single word then there is no space but if there is any special character or space between two words then space is getting added at the end.

[2021-12-21 23:43] fitzerman commented on #30343
I have this problem too. Since I can't unchange my theme colors, I can't view the docs at all until this is resolved

[2021-12-21 23:54] Freem11 opened #30352 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=return
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|----

[2021-12-22 00:07] bsell93 commented on #30343
I forgot to add this. @fitzerman this will help you. I found a way to unset it.

The best way: `cookieStore.delete('paletteColors')` run that in the browser console.

Alternatively you can clear all browser data (not ideal) in chrome at: chrome://settings/clearBrowserData

Both worked for me in two separate instances.

[2021-12-22 00:07] bsell93 commented on #30352
@Freem11 may be related to #30343

[2021-12-22 00:36] fitzerman commented on #30343
@bsell93 genius thank you!

[2021-12-22 01:56] watanabeshuji opened #30355 "custom format on header of CalendarPicker."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Now, CalendarPicker's header contains 2 blocks ( month block and year block)
It is natural in English (such as 'December 2021')
In Japanese, it is natural '2021年12月'.

So we want to set format at CalendarPicker header.

### Examples 🌈

_No response_

### Motivation

[2021-12-22 02:19] fkunecke opened #30356 "[docs] Broken link to /size-snapshot from useMediaQuery"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On the page:
https://mui.com/components/use-media-query/
there is a broken link to `/size-snapshot`

### Expected behavior 🤔

The link shouldn't be broken.

### Steps to reproduce 🕹

Steps:

1. visit the page https://mui.com/components/use-media-query/
2. c

[2021-12-22 04:32] watanabeshuji commented on #29689
@DukeManh me too. but I found this workaround. (v5.2.5)

NOT work
[code]

work
[code]

[2021-12-22 05:50] JanKanty commented on #29086
Yep. After migration all my calculated `padding`s are broken. Issue: I have `<Card />` with custom `padding`, but if specific card is "selected" it has border which i need to subtract from my `padding` which was previously pure `spacing()`. Now it throws everywhere `NaNpx`

[2021-12-22 06:01] selenehyun opened #30357 "RTL problem with nested ThemeProvider"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If the ThemeProvider is nested and rendered, the RTL plugin(stylis-plugin-rtl) is not applied to the style of the child ThemeProvider.
![image](https://user-images.githubusercontent.com/10769487/147053906-0b62c9a2-eec1-40f7-9fbd-a7348c7b292f.png)

### Expec

[2021-12-22 07:40] ShuPink opened #30359 "[docs] Adding `prepend: true` to emotion cache breaks remix example"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Adding `prepend: true` to the [emotion cache used in the remix-with-typescript](https://github.com/mui-org/material-ui/blob/master/examples/remix-with-typescript/app/src/createEmotionCache.ts ) example to modify the injection order of mui styles and global

[2021-12-22 09:22] nikhilgupta46 opened #30360 "[Typography] `margin` property is attached to root style by default"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The problem is that in latest V5 Typography there is by default { margin : 0 } being extended in classes and therefore the margin is getting attached to the root styles which is then being override only by applying !important to the margin from the classes.

[2021-12-22 10:15] christopheriainhansen opened #30361 "[typescript] `Declaration or statement expected in @mui/base/ButtonUnstyled/index.d.ts` error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently when utilizing MUI in a Typescript React project, then when trying to build the project, the TS1128 error is thrown.

TypeScript error in C:/.../node_modules/@mui/base/ButtonUnstyled/index.d.ts(3,1):
Declaration or statement expected.  TS1128

[2021-12-22 10:17] ZeeshanTamboli commented on #30347
Hi @abhiseksubham! You can use the `disableUnderline` prop on `Select`. Props of the `Input` component are also available. See [CodeSandbox](https://codesandbox.io/s/selectvariants-material-demo-forked-yyvz3?file=/demo.js).

[2021-12-22 10:17] #30347 closed

[2021-12-22 10:20] mnajdova commented on #30229
@alexserver I've created a brand new create-react-app with typescript and could not reproduce the issue. Can you maybe create a GitHub repo where I can see the issue? Would be easier for me to debug, compared to CodeSandbox.

[2021-12-22 10:22] taiwanhua commented on #29706
same problem
![截圖 2021-12-22 下午6 22 21](https://user-images.githubusercontent.com/32023081/147077553-f2e50ec5-e454-4372-97b0-b255a4c57f8a.png)

[2021-12-22 10:29] hbjORbj commented on #30343
@bsell93 Hi. I followed your "steps to reproduce" but can't reproduce the error. Can you provide a video?

[2021-12-22 10:39] hbjORbj commented on #30346
Hi. Thanks for opening the issue.

Please feel free to open a pull request with the changes you are suggesting and request a review from me.

[2021-12-22 10:39] mnajdova commented on #30359
@ShuPink what are you trying to achieve? I would assume you need to add the global styles in https://github.com/mui-org/material-ui/blob/master/examples/remix-with-typescript/app/root.tsx#L25 before or after the emotion styles, depending on your use-case.

[2021-12-22 10:41] hbjORbj commented on #30279
@florianbepunkt Thanks for the suggestion.

@oliviertassinari What do you think about this?

[2021-12-22 10:46] mnajdova commented on #30348
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-22 11:01] laclance commented on #30348
i did, all you have to do is add a class with useStyles hook

[2021-12-22 11:06] mnajdova commented on #30348
If you want to use JSS you need to configure it. We do not recommend using both in new projects, hence we don't have them in the examples project. Take a look on how you can do it in https://github.com/mui-org/material-ui/tree/v4.x/examples/nextjs-with-typescript

I can't do anything without a reproduction. It is not clear which versions of the library you use, how you configured SSR etc.

Adding

[2021-12-22 11:07] mnajdova commented on #30348
BTW you can see how to configure JSS on this example - https://github.com/mui-org/material-ui/tree/v4.x/examples/nextjs-with-typescript (v4)

[2021-12-22 11:09] laclance commented on #30348
yes as i mentioned thats where i copied code from and cant use codesandbox ```This expression is not callable.
  Type 'typeof import("/sandbox/node_modules/@mui/material/styles/index")' has no call signatures```

[2021-12-22 11:11] laclance commented on #30348
but as i mentioned i tried all the configurations from these ```https://github.com/mui-org/material-ui/tree/v4.x/examples/nextjs-with-typescript
https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-typescript
https://github.com/mui-org/material-ui/tree/master/examples/nextjs
https://github.com/mui-org/material-ui/tree/master/examples/nextjs```

[2021-12-22 11:16] laclance commented on #30348
so i'm presuming my only solutions are to downgrade to v4 or change everything to styled components?

[2021-12-22 11:17] mnajdova commented on #30360
The `margin: 0` was there in v4 too https://github.com/mui-org/material-ui/blob/v4.x/packages/material-ui/src/Typography/Typography.js#L10 it is not something new to v5. In your global styles, you can use:

[code]

This way you don't need to use `!important`

[2021-12-22 11:23] mnajdova commented on #30348
Again, just share a simple reproduction of what you have and where you see the error and I can provide some guidance. I cannot guess what you have in the project.

If you want to use both v4 MUI (@mui/material) and JSS (@mui/styles) you will need to configure both JSS and emotion (combination of how these can be configured can be found in:
- JSS - https://github.com/mui-org/material-ui/tree/v4.x/e

[2021-12-22 11:27] tuanthanh191996 commented on #16798
Anyone know how to fix this issue, I do exactly like the docs and it still not showing the text the I have modify with getAriaValueText function

[2021-12-22 11:35] #30356 closed

[2021-12-22 11:35] MrPhyaeSoneThwim opened #30364 "[question][CalendarPicker] How to display full width"
Now I am using @mui/lab Calendar Picker to filter the transactions for each selected date. And one thing I wanna know is how to show the calendar in full width depending on the parent container width. Can you please give me some possible answers for that?

[2021-12-22 11:37] nikhilgupta46 commented on #30360
@mnajdova the point is that I have override the typography h1 variant with these properties
(   fontSize,
    fontWeight,
    lineHeight
    letterSpacing,
    fontFamily
    color )
that were specified in globalStyles but margin property is by default attached to it's root level properties
so when using typography with variant= "h1" and passing className which has marginRight:10px doesn't work wi

[2021-12-22 11:51] oliviertassinari commented on #30356
Thanks for the report, it will be fixed in the next release. You can use the search of https://bundlephobia.com/package/@mui/material@5.2.5 too.

[2021-12-22 12:24] nikhilgupta46 commented on #30360
@mnajdova I could comment margin :0  in node_modules / typography but that is a patchy fix which i don't want so wanted to solve through any props exposed
<img width="1373" alt="Screenshot 2021-12-22 at 5 50 07 PM" src="https://user-images.githubusercontent.com/29714931/147091902-707cc2c5-321b-43cd-b2bd-382ea9e65bb6.png">

[2021-12-22 12:26] mnajdova commented on #30357
Here is a working example - https://stackblitz.com/edit/mui5-single-theme-provider-rtl-jtdmgv?file=ThemeProvider.tsx You need to use different keys for the different caches you have.

[2021-12-22 12:26] #30357 closed

[2021-12-22 12:27] hbjORbj commented on #30364
Can you provide a code sandbox so that we can more clearly describe how it can be done?

[2021-12-22 12:36] selenehyun commented on #30357
Wouldn't it be better to add something about this to the MUI documentation?

I'm a beginner with "emotion", but I couldn't find out from MUI's documentation that the `key' affects these behaviors.
I've read almost every document multiple times 😢

[2021-12-22 13:00] laclance commented on #30348
ok thanks so it seems the error only arises when passing arguments to makeStyles.
[code]

[2021-12-22 13:24] MrPhyaeSoneThwim commented on #30364
Yes thanks. I added some code inside your template. I wrapped the Calendar Picker with Box component that has fix width of 24rem. Actually what I want is to stretch the calendar layout to fill the whole container. Please check my representation at the following link.
[https://codesandbox.io/s/polished-sun-3p58y](https://codesandbox.io/s/polished-sun-3p58y)

[2021-12-22 13:29] brandoncamerer opened #30365 "[Chip] Using `display: none` causes chip misaligning."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Instead of the chip looking normal on larger screens... it off centers the Icon when you try to hide it on smaller screens using the recommended method here: https://mui.com/system/display/

`<Chip sx={{display: { xs: 'none', sm: 'block' }, ml: 4}} color="s

[2021-12-22 13:43] bsell93 commented on #30343
Here you go!

https://user-images.githubusercontent.com/5335177/147101928-e9760ea9-b7b3-4a97-aa90-ab31d58bbd6a.mov

[2021-12-22 14:24] laclance commented on #30348
https://github.com/laclance/mui-styles

[2021-12-22 14:44] hbjORbj commented on #30364
Hi. I hope this helps.

https://codesandbox.io/s/clever-bouman-lxwui?file=/src/Demo.tsx

[2021-12-22 14:45] #30364 closed

[2021-12-22 14:47] hbjORbj commented on #30365
@brandoncamerer Can you provide a code sandbox that clearly shows the issue? You can use this template: https://codesandbox.io/s/mui-issue-latest-s2dsx

[2021-12-22 15:00] brandoncamerer commented on #30365
https://codesandbox.io/s/gracious-danny-c6wt7?file=/src/Demo.tsx

[2021-12-22 15:11] Huzaifa181 commented on #11853
You have to declare the modules to extend the default styles of material UI e.g for pallete...
export declare module "@material-ui/core/styles/createPalette" {
    interface PaletteOptions {
      BgColor?: string;
    }
  }

[2021-12-22 15:32] anteniyus commented on #13594
add
`body {
        padding: 0 !important;
        overflow: auto !important;
    }`
to your CSS and the problem would be solved.

[2021-12-22 15:45] douavue opened #30367 "Datepicker - Picker doesn't open to valid range between the min/max"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If the Datepicker has a min/max value in the future, the calendar opens to today which requires me to click through the calendar to find a valid date.

### Expected behavior 🤔

The calendar should open to the first valid date (min).

### Steps to reproduce

[2021-12-22 16:00] douavue commented on #30367
Passing the min date to `defaultCalendarMonth` resolved the issue.

[2021-12-22 16:58] EdmundMai opened #30369 "[Autocomplete] Screen reader does not announce when it's open / closed"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I open the screen reader using the keyboard, the screen reader does not announce that it's open
When I close the screen reader using the keyboard, the screen reader does not announce that it's closed

### Expected behavior 🤔

When I open the screen rea

[2021-12-22 17:00] MariaSolOs commented on #29466
This would be great! The previous date pickers didn't have that toggle, and it doesn't seem to be possible to hide it via CSS because the container doesn't have any deterministic classes... It should be possible to separately choose between keeping the toolbar and this toggle feature.

[2021-12-22 18:17] Mood-al commented on #30207
Hi Marija thank you so much for replying on me
I'm going to try v5 but my issue is i have to convert my entire project to v5 plus v5 it has no styled component ssr support and my project is built on next js ssr and there is no jss rtl support like v4 so if i wanted to use it i have to use emotion and i really have no use for it i mean i will just use it for material ui so i really dont know how to

[2021-12-22 18:43] Sneha0607 opened #30370 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=edit
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|------

[2021-12-22 19:59] Mood-al commented on #30207
Hi again

i created a new project in codesandbox using next js and mui v5 you can see it here
https://codesandbox.io/s/stupefied-borg-7u66f

as you see same issue is appearing now
do you have any idea how i can fix it?

[2021-12-22 21:23] justin-barca-at-camis commented on #30229
I have this issue as well so instead I did when I was on mui@5.1.1.

[code]

You can see the demo uses a later version which may be the cause of this for you too.

[2021-12-22 21:30] simplecommerce commented on #29131
Just wanted to update this issue, the issue has been fixed in the latest release of Meteor 2.5.2.

Details can be found here: https://github.com/meteor/meteor/pull/11788

[2021-12-22 21:30] #29131 closed

[2021-12-22 22:07] sandyClark603 commented on #29169
Same issue here.  My developers have been trying to circumvent by sending an empty tabindex over, but that just makes it worse.

Focusable Items are already focusable.  The only time to add a TabIndex is to bring a non-focusable Item into focus or to remove a focusable item from focus. Having a tabIndex ="0" on an HTML Semantic Element is redundant and should be removed.

[2021-12-23 00:44] EdmundMai commented on #30369
The `role="combobox" should be on the `input`, not on the outer div

My temporary workaround is to set

[code]

and for `inputProps`

[code]

[2021-12-23 02:47] konekoya commented on #30370
What do you mean by "crash"? I'm not seeing anything crashes in that link 🤔

[2021-12-23 03:06] konekoya commented on #30365
Chip component is using flex to layout its content. So when you change the default display from `flex` to `block` it will break everything. I'm not sure what you're trying to achieve here. But you can align it nicely with flex and have the same visual effect of `block`:

https://codesandbox.io/s/elastic-darwin-b1cpk?file=/src/Demo.tsx

[2021-12-23 03:21] konekoya commented on #30343
I'm experiencing this too. I just found a temp fix by removing a cookie named __paletteColors__ from your browser... because that cookie will cause crashes when you visit other Mui docs pages

[2021-12-23 03:23] konekoya commented on #30370
Okay, I am seeing this too. A temp workaround: https://github.com/mui-org/material-ui/issues/30343#issuecomment-1000014701

[2021-12-23 04:06] brandoncamerer commented on #30365
@konekoya - Thank you, I think the documentation around that just had me a little confused.

[2021-12-23 04:06] #30365 closed

[2021-12-23 05:09] ruler501 opened #30375 "[ThemeProvider] Palette Changes not Propagating Immediately"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When updating the theme to change the palette my components don't update till I make a change elsewhere (specifically the change I'm making is to change the number of columns in a grid component relatively deep in the page).

### Expected behavior 🤔

When I

[2021-12-23 05:12] ChuckJonas commented on #19113
Has there been any progress on this?  Material-UI v5 is borderline unusable due to this.

[2021-12-23 05:58] ShuPink commented on #30359
@mnajdova I'm not sure why I can't see your reply here... so I guess I'll just look like I'm talking to myself 😅  .

Sorry for not being very clear, I was trying to make my global/shared styles take precedence over mui's because mui's styles would override them.
Hopefully this picture might make it clearer: green = global css file, and blue = mui styles.

global css file being overridden by mui
![

[2021-12-23 06:58] laclance commented on #30348
I know there is a codemod to help migrate JSS styles to styled but it doesn't work where props are used and I have a lot of components that use style props.

[2021-12-23 07:36] josiaharkson opened #30377 "[DatePicker] Too many re-renders. when undefined is passed to the value prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

 DatePicker crashes when undefined  is passed to value props.

`  <Grid item xs={12} sm={6}>

            <FormControl fullWidth>
               <LocalizationProvider dateAdapter={AdapterDateFns}>
                 <DateTimePicker
                   maxDate=

[2021-12-23 07:43] mnajdova commented on #30375
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-23 07:47] mnajdova commented on #30360
Are you using `@mui/styles` (`makeStyles`) with the v5 of `@mui/material`? If this is the case you are likely missing `StyledEngineProvider` with `injectFirst`. See https://mui.com/guides/interoperability/#css-injection-order

If this is not the case please create a CodeSandbox illustrating the issue.

[2021-12-23 09:08] moshfiqrony opened #30379 "TextField without label in outlined variant break outline at top"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I migrated from V4 to V5 all my text field that is **outlined** has no border at the top. The notch is visible even if I pass label null.

### Expected behavior 🤔

I want an outlined input field without label

### Steps to reproduce 🕹

Steps:

1. Use a

[2021-12-23 09:08] MrPhyaeSoneThwim commented on #30364
Great thank to you @hbjORbj and really appreciate your answer. But your code only works to stretch the calendar header not the whole layout.
![ipad](https://user-images.githubusercontent.com/83585609/147216554-e8eca836-48c3-4dfe-a5b4-d644436a8f36.png)
The calendar view displayed in the above picture is really what I want to make...

[2021-12-23 10:07] mnajdova commented on #30207
Unfortunately, I cannot reproduce both in v4 and v5, and neither on the CodeSandbox. Do you have some system language settings different than English? Can you post the output from `npx @mui/envinfo` here?

[2021-12-23 10:33] mnajdova commented on #30379
Looks correct to me - https://codesandbox.io/s/serverless-river-zdx34?file=/src/App.tsx

Please share a CodeSandbox illustration the issue, otherwise is not clear.

[2021-12-23 10:56] oliviertassinari commented on #30125
The reference pattern I believe we implement: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-actions.html.

[2021-12-23 12:04] moshfiqrony commented on #30379
Thanks @mnajdova , Yes I can see in your sandbox that it is rendering fine. Maybe there are any configurations that cause this for me. FYI I have migrated my project from V4 to V5. Would that be any problem?

[2021-12-23 12:07] mnajdova commented on #30379
It shouldn't be. Maybe double-check that you have addressed all breaking changes around the `TextField` component - https://mui.com/guides/migration-v4/#textfield

[2021-12-23 12:29] vibonacci commented on #28633
Importing from `@mui/material/styles` was causing this for me.

You should import `createTheme, ThemeProvider` from "@mui/material"

`import {createTheme, ThemeProvider} from "@mui/material";`

[2021-12-23 12:39] mnajdova commented on #29274
On https://github.com/mui-org/material-ui/issues/29274#issuecomment-953980228 I wuld go with Option 3. My reasoning:

Not the best DX. If we are aware that developers would hit some issue, we rather be prepared and provide something to solve it rather than ignore it.

I wouldn't do this because, it would mean that we encourage this API. Making it manual, would kind of indicate to developers that t

[2021-12-23 12:43] mnajdova commented on #21528
@AdiGutner can you share some more information? Are you still using `makeStyles`? If yes, that can be the issue.

[2021-12-23 12:47] mnajdova commented on #28820
Thanks for looking into it @theHasanas I've added it to our v6 internal project :)

[2021-12-23 13:07] moshfiqrony commented on #30379
I just found out that bootstrap is having some styles for legend and it is happening for that.

[2021-12-23 13:07] #30379 closed

[2021-12-23 14:03] #16945 closed

[2021-12-23 14:26] oliviertassinari commented on #30370
Duplicate of #30304

[2021-12-23 14:26] #30370 closed

[2021-12-23 14:26] oliviertassinari commented on #30370
This was fixed. The regression comes from #29994. Now, the problem is that we use a service worker, sometimes it doesn't want to update or take time 😁

[2021-12-23 14:30] oliviertassinari commented on #30343
I can reproduce but I have to open a Menu, like the translation to have the page crash.

[2021-12-23 15:27] Mood-al commented on #30207
I just wanted to say that in mui v5 tabs are working just fine at RTL mode
https://mui.com/components/tabs/#main-content
so i just did as you mentioned at mui v5 docs in my codesandbox example
as you see here https://codesandbox.io/s/stupefied-borg-7u66f
but it's not working at all as it expected i mean the scroll at rtl doesnt work at all
could you just check out my example at codesandbox and you

[2021-12-23 15:49] UnderTheMoonspell commented on #30294
@mnajdova correct me if I'm wrong but this makes using compose way harder than before, since we can only use pure selectors, so .listbox .item { compose: etc from "./etc" } doesnt work anymore.

Also i was able to make this work, but in order to do it, this was what I had to do:

[code]

[2021-12-23 16:09] artidata opened #30383 "[Stack] to enable margin override by any of the children component."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I like the Stack component, It enables pixel perfect stacking as compared to flexbox. I understand that it uses regular margin to achive the stacking. However, I feel like sometimes, there is special child component that shouldn't adhere to regular margin.  I believ

[2021-12-23 16:57] mnajdova commented on #30207
Are you using Edge? If yes, this is why we need more context to what you use. I will take a look tomorrow again if the is is the case

[2021-12-23 16:59] mnajdova commented on #30294
Will check it tomorrow

[2021-12-23 17:08] MrPhyaeSoneThwim commented on #30364
Finally I got the full width calendar layout. And this is my code fragment that I used to override default theme...
[code]

[2021-12-23 17:09] dbehmoaras commented on #27512
This is good solution when working in dev, but it's unfortunate to have to include this when the issue doesn't present itself when the bundle is built.

[2021-12-23 18:16] Mood-al commented on #30207
No I'm not I'm using chrome but when i ran npx @mui envinfo on vscode it showed edge because maybe they built it on tob of it

[2021-12-23 20:16] Darhagonable opened #30384 "Missing typing for styleOverrides and variants callbacks"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using callbacks in createTheme with styleOverrides and variants the code works correctly but it complains about the types being incorrect.

see the examples in Steps to reproduce

### Expected behavior 🤔

The typing to be correct so it passes typescrip

[2021-12-23 20:21] boutahlilsoufiane commented on #29635
Hi @michaldudak, I will work on this issue.

[2021-12-23 21:13] pmasior commented on #29689
Thanks for your answer. This workaround works in my case

[2021-12-23 23:27] forgo commented on #19584
I agree MUI should not be responsible for centering the font itself, as fonts vary wildly in how they handle ascender/descender dimensions; however, there still seems to be something off that I can't perfectly quantify.

A wrapper for the text doesn't actually help much because the height of a button is unconstrained and fits to what you put inside. So, if I change the font-size to 30px in a "smal

[2021-12-24 00:03] Nekonyx commented on #19113
Try to do it yourself. This is Open Source. I've been following this Issue for quite some time, and things are moving very slowly, so I don't think anyone will take care of it.

[2021-12-24 00:35] ChuckJonas commented on #19113
@Nekonyx k, fill me in on the effort you've made and I'll see if I can move the needle.

I was just asking because there hasn't been an update since October and this is probably the most compelling reason to move away from MUI I've seen.

Doesn't seem like it's a concern for the contributors so I'm sincerely wondering if it's not an issue they themselves face?

Every change takes 4-10s to complete

[2021-12-24 01:39] iansjk commented on #30125
@oliviertassinari, the reference pattern uses `<button aria-controls="menu1">`, but the `<ul id="menu1">` is always present in the DOM, so that the button's aria-controls `IDREF` is always valid. The problem that I'm seeing in MUI is that the `IDREF` is only valid while the menu is open, because the referenced id doesn't exist when the menu is closed.

[2021-12-24 02:47] dohomi commented on #24282
This solutions fixed it for me:
[code]

[2021-12-24 08:08] mnajdova commented on #30294
Here is a working example @UnderTheMoonspell https://codesandbox.io/s/autocomplete-css-modules-demo-forked-udjpj?file=/src/CssModulesSlider.module.css

You were close :) When you use CSS modules you need to specify the selector for the subclass and pass it along. Basically you are again passing all the classes as before, you just bump the specificity for the styles for the option, by rising the se

[2021-12-24 08:14] mnajdova commented on #30348
It's clear now. It is a duplicate https://github.com/mui-org/material-ui/issues/26876 and possible more others. You need to move to v5 the issue is solved there. We do not plan to backport fixes in v4 at this moment.

[2021-12-24 08:14] #30348 closed

[2021-12-24 08:17] mnajdova commented on #30384
Duplicate of https://github.com/mui-org/material-ui/issues/27415 Follow the discussion there

[2021-12-24 08:17] #30384 closed

[2021-12-24 08:18] laclance commented on #30348
I am on v5

[2021-12-24 08:19] laclance commented on #30348
[code]

[2021-12-24 08:21] mnajdova commented on #30383
You need to bump the specificity in this case. Here is a working example - https://codesandbox.io/s/stack-margin-fail-demo-forked-3ujih?file=/demo.tsx

Basically, I've added a classname `Item` and used it to bump the specificity by one:

[code]

[2021-12-24 08:21] laclance commented on #30348
oh do you mean @mui/styles is technically v4?

[2021-12-24 08:22] #30383 closed

[2021-12-24 08:35] mnajdova commented on #30369
I've just verified that your proposal work with NVDA, I've used this sandbox - https://codesandbox.io/s/combobox-material-demo-forked-38b59?file=/demo.tsx

Would you like to create a pull request @EdmundMai?