[2021-04-08 21:10] oliviertassinari commented on #23885
The use case is to bridge the gap between any JavaScript behavior and the CSS utility breakpoint API. Regarding the example, it was meant to demonstrate the API proposal. I think that the AppBar elevation aspect is irrelevant to the motivation for it.

[2021-04-08 21:19] oliviertassinari commented on #17350
What do you mean by "these issues"? From what I understand:

- in order to close #17350, the best course of action is to introduce a new `useBreakpoint()` hook. It will completely solve the migration concern.
- in order to close #23885, the best course of action is to introduce a new `useBreakpointValue()` hook. It will completely solve the gap between the CSS utility breakpoint API and the JS log

[2021-04-08 21:41] rajiff commented on #23632
Hi

There is also a warning in that `WARNING: Do not use this method in production` So that means it is not useful for deploying to production. So please help with what is the recommended way to fix for Production then ?

[2021-04-08 21:57] oliviertassinari commented on #25667
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-04-08 22:22] AndyCErnst commented on #25674
That's fantastic news. Thank you. Looking forward to the release.

[2021-04-08 22:22] shawn-p-m commented on #14860
lastpass boo.

[2021-04-08 22:29] eps1lon commented on #17350
So if https://github.com/mui-org/material-ui/issues/17350 and https://github.com/mui-org/material-ui/issues/23885 are different issues, why did you bring up https://github.com/mui-org/material-ui/issues/23885 here?

These are either coupled or they're not.

[2021-04-08 22:31] oliviertassinari commented on #14860
As a side note. LastPass has significantly reduced the interest of its free plan recently, with only one device now. It seems that a large chunk of the audience has moved to https://bitwarden.com/. They have x3 their user base in 2 months:

<img width="672" alt="Screenshot 2021-04-09 at 00 29 29" src="https://user-images.githubusercontent.com/3165635/114104177-aab90500-98ca-11eb-82db-d379dd57646a.

[2021-04-08 22:38] eps1lon commented on #23885
That's not a use case. It's the exact opposite of a use case because it's obvious that a solution already exist in the form of CSS. Why this needs to be transferred to JS is something you should be able to provide.

A motivation for a solution is absolutely relevant. There's no point in working on a problem if you're unable to describe the problem at a higher level. Code should not be written just

[2021-04-09 02:06] svict4 opened #25677 "v5 Grid component errors within Storybook"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using Material-UI v5 within Storybook v6.2.5, using the `<Grid>` component errors:

<details>
  <summary>ReferenceError: values is not defined</summary>

[code]
</details>

## Ex

[2021-04-09 03:14] cyphernull commented on #25664
The standard `<TextField />` on the website's 'components' section https://material-ui.com/components/text-fields/

[2021-04-09 06:54] dav-m85 commented on #21377
@oliviertassinari had the same error, what worked was inspired from your solution:
[code]
[code]
Been struggling with alias resolution, for some reason regex doesn't seem to work for me, and relative paths in "replacement" messes up with the final path.

[2021-04-09 07:55] eps1lon commented on #25664
Can you include a frame-by-frame? I can't spot any problems in the first video. Maybe it's just an optical illusion?

[2021-04-09 08:00] vangaris commented on #18450
@luisanton-io  thanks a lot is working perfectly!

[2021-04-09 08:15] cyphernull commented on #25664
This the frames
![ezgif-6-a3993c497280](https://user-images.githubusercontent.com/23122353/114150555-c6fe8580-994e-11eb-95b6-8e36671f43d5.gif)

[2021-04-09 08:49] eps1lon commented on #25664
Awesome, thanks. This may be a rendering bug in your environment. I don't have that overflow on Ubuntu 20.04 and Chrome 89.

Does the issue persist if you change the duration in chrome devtools to e.g. 2000ms:

![chrome devtools screenshot of `.MuiInput-underline:after`](https://i.ibb.co/sJ7BJPC/Screenshot-from-2021-04-09-10-47-28.png)

[2021-04-09 08:51] eps1lon commented on #25208
Are we even sure that is the correct type in this place. Where is this type used in emotion and are we using it the same way? If these are equal then I'm referring back to "It's unclear what this is supposed to do.". Which may be an upstream issue.

[2021-04-09 09:01] cyphernull commented on #25664
Thanks for the tips. But the issue remains. This is  my environments info :
[code]

[2021-04-09 09:11] eps1lon commented on #25481
Some more thoughts about `DatePicker` -> `DateInput` renaming:

What about we rename the current `DatePicker`  to `DateInput` and `CalendarPicker` to `DatePicker`. `DateInput ` composes a textbox + `DatePicker` . *Picker referring to the UI that you choose from pre-defined values (like the `listbox`  in a `combobox`). Seems like the best solution for cleaning up the terminology. But I'm afraid cau

[2021-04-09 09:47] rickstaa commented on #17199
@oliviertassinari Thanks a lot for your example it works perfectly! For future reference, a code sandbox with this example can be found [here](https://codesandbox.io/s/emotion-material-ui-global-css-example-pm8fx?file=/src/App.tsx).

[2021-04-09 10:39] eps1lon opened #25681 "[docs] api-docs new props description missing"
## Current Behavior 😯

A new prop has no description

## Expected Behavior 🤔

The prop description should gracefully fallback (e.g. to english)

## Steps to Reproduce 🕹

- [english Accordion props table has a description for `disableGutters`](https://next--material-ui.netlify.app/api/accordion/)
- [portuguese Accordion props table has no description for `disableGutters`](https://next--material-ui.

[2021-04-09 12:09] oliviertassinari commented on #25681
From what I understand, this is only an issue because we pause the sync with Crowdin. But maybe we could anticipate syncs that are behind. cc @mbrookes is my description accurate? If it's accurate, is it worth fixing (a few days without the content fr new props added)?

[2021-04-09 12:16] amir-dropit opened #25683 "Table scrollbar looks totally different between macOS and Windows on the same browser"
Got to this page on a **macOS machine** with Firefox/Chrome and see a pretty decent looking scrollbar which follows the material design guidelines
https://material-ui.com/components/tables/#virtualized-table

![image](https://user-images.githubusercontent.com/71273519/114177811-81898a80-9945-11eb-80b5-0ae8a3d100fb.png)

Then hop on to a **Windows machine** with the same browser to the same page an

[2021-04-09 12:37] oliviertassinari commented on #25683
Duplicate of #22594

[2021-04-09 12:37] #25683 closed

[2021-04-09 12:46] oliviertassinari commented on #25481
I personally find DateInput more accurate. It also seems that the developer intent is to search for "date picker" and expect a date input in a very large proportion. I would personally +1 for not doing it, saving us time in a renaming that isn't an obvious net improvement for developers.

From a benchmark perspective, it just discovered a tradeoff that I didn't even consider before. Kendo UI has a

[2021-04-09 14:41] supervanya commented on #18782
I am using 3 different types of icons in the project and when I pass the icon to the SvgIcon it doesn't read the viewBox correctly of the component. Is there still a plan to fix this? @oliviertassinari

[code]

[2021-04-09 17:06] dimitropoulos commented on #25481
for whatever it's worth: I added DatePicker to the react-ui-roundup if you wanna see a bunch side by side. https://github.com/dimitropoulos/react-ui-roundup#DatePicker

Only one of them uses `DateInput`, but I gotta say I agree that `DateInput` is a better name.  The _picker_ itself can still be `DatePicker`, but I don't _love_ how so many frameworks conflate input vs. picker.

[2021-04-09 17:47] dimitropoulos commented on #25481
Although, I will mention, that some of these libraries have _both_ DatePicker and DateInput, e.g. blueprint https://blueprintjs.com/docs/#datetime/dateinput, and some really only have the picker https://quasar.dev/vue-components/date and the input part is not really baked in.

You can see them all if you click "OPEN ALL IN NEW TABS" on https://react-ui-roundup.dimitrimitropoulos.com/#DatePicker

[2021-04-09 18:16] mnajdova commented on #24899
Update the `stylis-plugin-rtl` to version `2.0.2` which includes the fix https://github.com/styled-components/stylis-plugin-rtl/pull/21 that will resolve the issue

[2021-04-09 18:16] #24899 closed

[2021-04-09 18:36] michal-perlakowski commented on #25662
@eps1lon I'd like to work on this, but I'm not sure how to declare a function with a property. Would using a namespace be a good idea? For example, for the `Input` component:
[code]
There seems to be [another way with interfaces](https://stackoverflow.com/a/41853194/3853934), but I couldn't get it to work in the declaration file.

[2021-04-09 18:58] joaquinkunkel opened #25687 "Input label not aligned correctly for RTL"
When the document's direction is RTL, the input label is not aligned to the right as should be.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Label is the only thing in inputs that's not right-aligned in RTL layouts.

<img width

[2021-04-09 19:04] RiyaNegi commented on #23164
@oliviertassinari Hey mind if i pick this issue up?

[2021-04-09 19:35] drmzio opened #25688 "[docs] Allow table of contents viewable on mobile"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Basically, add a button toggle that shows the current page's table of contents on mobile viewports. Currently, table of contents are hidden on mobile.

## Examples 🌈

Here's an example I whipped up with CSS. There's no toggle button, but idea

[2021-04-09 19:50] amir-dropit commented on #25683
@oliviertassinari this has nothing to do with dark mode.

Look at it in bright mode too

macOS

<img width="112" alt="image" src="https://user-images.githubusercontent.com/71273519/114233373-df3dc700-9985-11eb-8137-3830ef230d16.png">

Windows

![image](https://user-images.githubusercontent.com/71273519/114233078-76eee580-9985-11eb-82a9-399c381ffdda.png)

[2021-04-09 19:56] eps1lon commented on #25662
[code]
-- https://www.typescriptlang.org/play?ssl=7&ssc=22&pln=4&pc=1#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQFA3AB2MWUBeWcAkg2AK4wAFYmHQBvAL50AJllwAbZJTi4IDVPG58YALjgAKPWGGpdm-kIgiAlHAC8APjgApAMoANAHQBROVhBYmGwAyOFE4EF5gADlkf111KEYAcwBuOEkaLAAPSFg4GTZeOQ0efhS6AB4zeAB6e3Lqjwjo2KwUoA

[2021-04-09 20:06] DanielHabenicht commented on #23289
Adding to this issue the material icons for `content_copy` are missing from the library and they are very common to use. (https://fonts.google.com/icons?selected=Material+Icons&icon.query=content_)

[2021-04-09 20:21] oliviertassinari commented on #23289
I have marked all the comments related to how `@material-ui/icons` doesn't include the icons of https://fonts.google.com/icons as it's off-topic. This issue is about whether or not we should reproduce what https://materialdesignicons.com/ did by sourcing icons from the community.

As of today, to rare exceptions, all the icons of https://fonts.google.com/icons are available in [@material-ui/icons@

[2021-04-09 20:28] oliviertassinari commented on #25683
@amir-dropit Please make the issue description clearer. If it's not a duplicate of #22594, then it sounds like a duplicate of https://github.com/mui-org/material-ui-x/issues/510

[2021-04-09 20:41] oliviertassinari commented on #25688
It could make sense to display the toc on mobile. I personally think that the UX of Google's documentation works well. I seem that Google uses the same docs infrastructure for most its product. Here is how it looks like with a random on, Google Maps

<img width="371" alt="Screenshot 2021-04-09 at 22 34 51" src="https://user-images.githubusercontent.com/3165635/114237793-d946e680-9983-11eb-9944-34c

[2021-04-09 21:21] oliviertassinari commented on #23164
@RiyaNegi Feel free to work on it. I have reread the thread, it seems to still be relevant and bring value.

[2021-04-09 21:24] oliviertassinari commented on #25687
@joaquinkunkel Great to see the library used at https://www.cambly.com/. cc @mbrookes it could make a great addition to the showcase.

Do you have a reproduction?

[2021-04-09 21:38] joaquinkunkel commented on #25687
Sure! You can see it if you go to https://www.cambly.com/?lang=ar (Arabic landing page) and look at that first text field in the hero.

[2021-04-09 22:10] oliviertassinari commented on #24899
Great 🙏

[2021-04-09 23:36] oliviertassinari commented on #18782
@supervanya What do you think about this solution: https://github.com/mui-org/material-ui/issues/18782#issuecomment-564297593?

[2021-04-09 23:41] supervanya commented on #18782
That would be fantastic! Assuming it will inherit the viewBox from the component that's passed as component prop.

[2021-04-09 23:51] oliviertassinari commented on #18782
@supervanya I personally like the solution as much as I did back then. It would deserve to be well documented as it can be a bit magical for not experienced React developers.

[2021-04-10 04:17] siriwatknp commented on #24282
This workaround works in one of my project, thanks!

**`package.json`**

[code]

**`.storybook/main.js`** is similar to above

**`.storybook/preview.js`**

[code]

**`stories/demo.tsx`**

- render component from `@material-ui/core`
- call makeStyles from `@material-ui/core/styles`

**Result**

the classes generated by makeStyles overrides emotion

![image](https://user-images.githubusercontent.com

[2021-04-10 06:33] #19205 closed

[2021-04-10 08:14] RiyaNegi commented on #23164
@oliviertassinari So just to be clear, we want a `disableOpenOnClick` prop to disable dropdown of options on a mouse click event. Rather it would open when the user types something in the Autocomplete input box.

[2021-04-10 08:54] oliviertassinari commented on #23164
@RiyaNegi Correct

[2021-04-10 10:38] oliviertassinari commented on #25664
No issue either on Chrome 89.0.4389.90 and macOS 11.2.3.

[2021-04-10 12:53] ninoM opened #25697 "TextField input isn't associated with an aria-label"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When inspecting (inspect element) the input of a TextField (I've tried in Edge (chromium) and firefox) then going to the accessibility tab, you can see that the input itself isn't asso

[2021-04-10 13:59] #25697 closed

[2021-04-10 14:29] vicasas commented on #10610
Does the support have to be only for the primary color? as shown in the docs https://material.io/components/chips#choice-chips

[2021-04-10 14:33] oliviertassinari commented on #10610
@vicasas It will need to support all the colors. But it's for post v5, we shouldn't work on it now.

[2021-04-10 14:49] pavinduLakshan opened #25699 "NPM package with withStyles HOC is not working with npm link"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Material UI is used in the ongoing [oodt_fm_plugin](https://github.com/apache/oodt/tree/development/react-components/oodt_fm_plugin) and it uses `withStyle` HOC to provide styles. Aft

[2021-04-10 15:02] oliviertassinari commented on #25699
@pavinduLakshan Thanks for the detailed issue report but we can't help. It seems to be a configuration issue we don't have. the bandwidth to debug. Also, note that we don't longer actively support v4

[2021-04-10 15:02] #25699 closed

[2021-04-10 15:48] ninoM commented on #25697
Okay I guess accessibility issues is a support request for mui-org. Got it 👍

[2021-04-10 15:51] oliviertassinari commented on #25697
@ninoM Please follow our issue template

[2021-04-10 16:51] vicasas commented on #22484
I want to start taking this task [#25268 (comment)](https://github.com/mui-org/material-ui/pull/25268#issuecomment-793164896) and I have the following proposal for the page `Chip` https://gist.github.com/vicasas/d2ca635459db9139756c4fda0382a63c

[2021-04-11 01:41] Johnrobmiller opened #25701 "[Theme] Theme is overriding the wrong component"
I've made two Material-UI components. Both are using themes. However, the overrides on one theme are being used in the other! I'm losing my mind trying to find a solution to this. I think could potentially be bug.  Here is the code:

This is being used for component1:

[code]
...and it is changing stuff in component 2, which happens to also have an element with the class "MuiInputLabel-root"

(edi

[2021-04-11 09:04] oliviertassinari commented on #25701
Duplicate of #15914

[2021-04-11 09:04] #25701 closed

[2021-04-11 09:25] #25635 closed

[2021-04-11 12:28] oliviertassinari commented on #20461
I have tried the `<Global>` approach but with:

[code]

But it's not working either. The specificity of the CSS selectors are the same, but emotion doesn't guarantee that `<Global>` is injected before `styled()`.

[2021-04-11 12:55] oliviertassinari commented on #17350
@eps1lon The objective was to raise awareness of the potential dependency between the two issues. Considering the problem holistically could yield a better solution. #23885 might need #17350 to be fixed first.

---

Regarding this issue and the core problem we might solve for developers. So far, I have seen 3 prior-art with the useBreakpoint:

- Material-UI v1.x withWidth
- https://seek-oss.github

[2021-04-11 13:04] Johnrobmiller commented on #15914
To be brutally honest, details about the ThemeProvider's technology should not even matter here, not even a little bit, or at least from the user's point of view.  Concerns about a feature's design are almost always of greater significance than the technology that enables said design.  And with this said, regarding the fact that multiple ThemeProviders must have a parent ThemeProvider element, the

[2021-04-11 13:11] oliviertassinari commented on #25208
It looks like an upstream issue, we could report it back.

From a type perspective, would this improve them? It won't fix the issue but maybe make them more accurate

[code]

[2021-04-11 13:14] oliviertassinari commented on #15914
@Johnrobmiller It's a v4 only issue that we don't actively support anymore. This issue is gone in v5. We gave up on styling with global class names, it harms the DX of customizations but yields other interesting features that make it worth the change.

[2021-04-11 14:32] RiyaNegi commented on #23164
@oliviertassinari Hey so I added the `disableOpenOnClick` prop and it is working for every use case as far as I know. To tackle the use case where both `openOnFocus` and `disableOpenOnClick` are true, I created a state flag called `isClicked` which is set to true when `onMouseDown` is triggered. This was needed because the `onFocus` event needs something to differentiate between an event triggered

[2021-04-11 16:20] oliviertassinari commented on #25688
<img width="372" alt="Screenshot 2021-04-11 at 18 19 47" src="https://user-images.githubusercontent.com/3165635/114312315-8f304300-9af2-11eb-9274-4aadaf45b62f.png">

https://developer.mozilla.org/en-US/docs/Web/API/Element/classList

[2021-04-11 17:13] oliviertassinari commented on #25656
Duplicate of 23399

[2021-04-11 17:13] #25656 closed

[2021-04-11 17:13] oliviertassinari commented on #25656
Duplicate of #21893

[2021-04-11 18:40] reality-farouqk opened #25729 "docs page going blank after complete loading"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-04-11 18:44] oliviertassinari commented on #25729
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-04-11 21:58] oliviertassinari commented on #18450
@DanailH has recently added a similar feature in the data grid component under https://github.com/mui-org/material-ui-x/pull/1199. I'm adding the "good to take" label as it seems easy to implement. We could also consider a `scrollEndThreshold` prop.

[2021-04-11 23:34] Johnrobmiller commented on #11069
Great ideas; I got your solution up and running on my own project.  I like the idea of using React's useState() and useEffect() to dynamically change "useStyles()" properties (which I am assuming is what you did, although it is not in your code).  To anybody for whom this might benefit, here is a bit more code.  Styling is not included, just the structure and logic.  This is the code I used to mak

[2021-04-12 02:19] pavinduLakshan commented on #25699
Nevermind. I managed to solve this myself. See https://stackoverflow.com/a/67051178/8810941. Hope someone may find this useful.

[2021-04-12 05:41] danielo515 commented on #25656
Yeah, it definitely looks exactly like #21893

[2021-04-12 06:00] #25677 closed

[2021-04-12 06:52] abhineet11 commented on #22390
Any solution on this?

[2021-04-12 07:13] eps1lon commented on #23164
It seems to me the behavior requested can already be implemented in a controlled Autocomplete with

[code]
-- https://codesandbox.io/s/autocomplete-disableopenonclick-g0bt3?file=/src/Demo.tsx

If that is the case, then we shouldn't bloat the interface and implementation for such a niche feature.

[2021-04-12 08:04] #24440 closed

[2021-04-12 08:08] #25662 closed

[2021-04-12 08:18] #25568 closed

[2021-04-12 08:19] italodeandra commented on #25568
Thanks for the contribution @itscharlieliu !

[2021-04-12 08:53] oliviertassinari commented on #25677
Did you find a solution?

[2021-04-12 08:59] oliviertassinari commented on #25699
Awesome, thanks for sharing the link

[2021-04-12 09:14] #25667 closed

[2021-04-12 09:18] #25664 closed

[2021-04-12 09:19] #8823 closed

[2021-04-12 10:13] oliviertassinari commented on #22426
- Product: Cambly
- The problem solved: Learn English
- Company or organization: Cambly
- Link: https://www.cambly.com/
- Traffic: 5m sessions/month
- Screenshot:

![www cambly com_english_lang=en (1)](https://user-images.githubusercontent.com/3165635/114378869-6bb7d780-9b88-11eb-8e9e-396d902e89b3.png)

[2021-04-12 10:13] #25687 closed

[2021-04-12 10:15] #25729 closed

[2021-04-12 10:25] neelbrahmakshatriya opened #25734 "Unable to resolve path to module '@material-ui/core/transitions'"
I am getting error while using
`import { TransitionProps } from '@material-ui/core/transitions'`

My `@material-ui/core` verision is `4.11.3`

![transitions](https://user-images.githubusercontent.com/64475785/114380176-63bb6000-9ba7-11eb-9b94-409d49b28dfb.png)

[2021-04-12 10:49] sashless opened #25735 "default form submit will append values as query parameters to url"
Hey there,

when i press enter using a single `TextField` inside a `form` the form is submitted and values are added as query parameters to the url.
When using more than one `TextField` this does not happen. Form is not submitted.

Note: On codesandbox the preview is fully reloaded and does only visually show that the submit happened. When you try this on your machine you will see query parameters

[2021-04-12 11:45] brmzkw commented on #10739
I had a problem related to AppBar height and came across this issue. I'm not sure it's 100% related, but it might help others.

Let's say you have a `<AppBar />` on top of your page and a `<main>` element below. You want to set the `minHeight` of `<main>` to be 100vh - AppBar size. Since AppBar size depends on the screen size, main's size needs to adapt.

To do so:

[code]

[2021-04-12 11:49] eps1lon commented on #25735
Thanks for the report.

This is expected behavior for native forms (i.e. can be reproduced without any Material-UI components). If this is undesired, you can prevent the form from being submittable with `onSubmit={event => event.preventDefault()}`.

[2021-04-12 11:49] #25735 closed

[2021-04-12 11:50] eps1lon commented on #25734
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-04-12 11:56] oliviertassinari commented on #10739
@brmzkw https://github.com/mui-org/material-ui/issues/10076#issuecomment-361232810 was meant to solve this problem

[2021-04-12 12:01] oliviertassinari commented on #22484
@vicasas It llooks good. Will we render a standard and outlined chip in each section?

[2021-04-12 12:09] MieleVL opened #25737 "[Snackbar] Spans the entire screen width"
When rendering a Snackbar with anchorOrigin  `{ vertical: 'bottom', horizontal: 'left' }`, it spans the entire screen width. This is not visible, but can overlap other elements (eg: buttons  that, because of this, are no longer clickable). See screenshot below.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of

[2021-04-12 13:01] croraf commented on #24150
I think onChange callback from the pickers should be passed the `event` same as other inputs.

[2021-04-12 13:09] vicasas commented on #22484
@oliviertassinari If exact, one of each variant, something like TextField.

I will try to upload a PR as Draft as soon as possible so that we can review a preview

[2021-04-12 14:09] MikeRawding commented on #21584
There is definitely a lack of documentation about how `light` `primary` and `dark` variants of colors are used in Material-UI.  Some of the community seems to think these variants are used for "light mode" and "dark mode" including this video which is linked from the documentation https://youtu.be/Q4o0GmfNpJc?t=210

[2021-04-12 14:19] eps1lon commented on #25578
The issue boils down to mounting of portaled content during `mousedown` (naming these type of  components `MouseDownPortal` here): https://codesandbox.io/s/mousedown-mouseup-target-reconciliation-in-click-x73gz

So this is not just an issue with `Select` + `ClickAwayListener` but:
1. `ClickAwayListener` + any `MouseDownPortal`
2. `Select` +  any parent click listener (I think this was the issue yo

[2021-04-12 14:27] oliviertassinari commented on #24150
@croraf I'm not sure it's really related to this issue. Feel free to open a new issue if none exist. Dmitriy was against the idea to expose the `event` as the first argument from the callbacks (from what I remember). I personally think that we should always expose it.

[2021-04-12 14:30] mnajdova commented on #25737
I can repro. This is the fix I would propose. It would improve the styles we have currently and it would solve the issue.

[code]

[2021-04-12 14:33] m4theushw commented on #25578
https://github.com/mui-org/material-ui/pull/25630#issuecomment-815532368

[2021-04-12 14:34] xdshivani commented on #25737
I would like to work on it.

[2021-04-12 15:12] croraf opened #25738 "[DatePicker] Pass `event` as the first argument to the `onChange` callback"
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I think `onChange` callback from the pickers should be passed the event, same as what happens with other inputs. Or an object that extends the event.

## Examples 🌈

https://codesandbox.io/s/date-picker-ks7fl?file=/src/App.js You can see it

[2021-04-12 15:18] MikeRawding commented on #21584
@oliviertassinari here are a few things we could do that might help.

1. Add a sentence somewhere on the `customization/color` or `customization/palette` page explaining that some components, like button, consume multiple variants of the selected color.  This would help make it clear that `palette.primary.dark` is used even if `palette.type === 'light'`.
2. Have the creator of the video linked abo

[2021-04-12 15:22] MieleVL commented on #25737
@mnajdova sure!

[2021-04-12 15:27] eps1lon commented on #25738
Could you elaborate a bit on the motivation? What do you mean with "`setValues` handling"?

Could you provide a codesandbox that illustrates what you're currently doing?

[2021-04-12 15:31] oliviertassinari commented on #25737
This looks like a duplicate of #21821

[2021-04-12 15:58] RidhwanDev commented on #18935
When using jest, I can never seem to get a name for this component. I'd expect to use something like this but it doesn't register.
[code]

Instead, when Jest shows the accessible roles, it shows things like this
[code]
I've added properties like `id`,`aria-labelledby` and `aria-describedby` with no luck..

[2021-04-12 16:15] Nokel81 opened #25740 "Export SVG paths"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Export (in the `@material-ui/icons` package) the SVG paths as a non-default export.

## Examples 🌈

Take [`packages/material-ui-icons/src/AcUnit.js`](https://github.com/mui-org/material-ui/blob/next/packages/material-ui-icons/src/AcUnit.js) f

[2021-04-12 16:23] oliviertassinari commented on #25737
Actually, it's ​a regression from #2514

[2021-04-12 16:27] oliviertassinari commented on #25740
We have started to discuss this in #21251, but with a different problem in mind

[2021-04-12 16:37] mdodell commented on #23690
Would there be a way to integrate [Material-UI's Text Field](https://material-ui.com/components/text-fields/#integration-with-3rd-party-input-libraries) with a third-party integration, i.e. something like [rc-time-picker](https://www.npmjs.com/package/rc-time-picker)?

[2021-04-12 17:06] Nokel81 commented on #25740
Shall I close this then, you seem to have covered a solution that would fit my use case.

[2021-04-12 18:06] oliviertassinari commented on #25740
@Nokel81 I think that we can keep this one open. The problem we go after is different. Also, could you expand on why you need this?

[2021-04-12 18:16] Nokel81 commented on #25740
I would like to be able to draw these SVGs onto a canvas so that I can convert them to PNGs of arbitrary size (for use with electron's `NativeImage`). I would prefer to just create a `NativeImage` with them directly but that is currently not supported.

[2021-04-12 18:23] oliviertassinari commented on #25740
@Nokel81 Ok thanks. This sounds like a niche use case. I'm closing for #21251. It doesn't seem that we want to solve this one specifically.

[2021-04-12 18:23] #25740 closed

[2021-04-12 18:24] Nokel81 commented on #25740
sounds good

[2021-04-12 18:30] itscharlieliu commented on #24511
Is anyone on this issue? If not can I take it?

[2021-04-12 19:31] croraf commented on #25738
https://codesandbox.io/s/date-picker-ks7fl?file=/src/App.js this. You see it requires a second "handleChange" function.

[2021-04-12 19:37] eps1lon commented on #25738
It's not quite clear how the event would be used. It looks like you want to read `event.target.value`?

[2021-04-12 19:55] croraf commented on #25738
Yes.

[2021-04-12 20:39] oliviertassinari commented on #25738
While we have facilitated the usage of `event.target.value`, it doesn't look like something we should generalize lightly. It doesn't seem a valid use case for using the event. However, I personally think that developers might come up with valid ones if we expose the event. Hence why I would 👍 the idea to always expose the event.

[2021-04-12 21:55] little-bamboo commented on #21795
@mirusky It was added to the v5 alpha release.  What version of Material UI Icons are you using?  v4.11?

[2021-04-12 22:55] steverecio opened #25742 "Popper: Child elem with position fixed acts relative to popper"
If you create a popper element and add a child to it with position fixed, the child is positioned relative to the popper, not the page.

Here is a codesandbox demonstrating the situation: https://codesandbox.io/s/material-demo-forked-ne0uv?file=/demo.js

Is this the desired behavior of a Popper?

[2021-04-12 23:01] MmtBkn opened #25743 "[ClickAwayListener] fix click away listener return type"
## Current Behavior 😯
Types say the return type is void for the clickawaylistener.
https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/ClickAwayListener/ClickAwayListener.tsx#L44

## Expected Behavior 🤔
It returns the event
https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/ClickAwayListener/ClickAwayListener.tsx#L144

Types should be fixed. Returning t

[2021-04-12 23:13] mirusky commented on #21795
Hi @little-bamboo thanks for answer, yeah my team was using v4.11.2, we had changed to 5.0.0-alpha.28.

[2021-04-12 23:30] #25743 closed

[2021-04-12 23:37] carlnc commented on #15745
Scenario: pnpm, CRA, Jest.

The following worked for me.

In primary App (not the external Storybook library):

1. Added "@material-ui/styles" to package.json (devDeps)
2. Added to `webpack.config.js` `resolve.alias['@material-ui/styles'] = require.resolve("@material-ui/styles");`
3. Added to `jest.config.js` under `moduleNameMapper` ... `'^@material-ui/styles(.*)$': '<rootDir>/path_to_app/node_mo

[2021-04-13 02:07] ifndefdeadmau5 commented on #24109
no matter which solution in the above I try, it's not working for me. `theme override`(styleOverrides) always take precedence of styling comes from makeStyles API
[code]

[2021-04-13 02:26] akshayKrSingh opened #25744 "Failed to Compile ./node_modules/@material-ui/utils/index.js"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![material-ui failed to compile](https://user-images.githubusercontent.com/8209379/114485316-52b33300-9c29-11eb-803a-2a01d444133e.png)

On running `yarn start`, the typescript compile

[2021-04-13 06:05] usahai commented on #1151
I did it by wrapping it in a flex box

[code]
This causes the textfield error to render inside the box without affecting the components around it.

[Codesandbox](https://codesandbox.io/s/friendly-currying-0ptoq?file=/src/App.js)

[2021-04-13 07:31] mak-elena commented on #25082
Hi guys,
are you aware, that the described problem is still reproducible with **5.0.0-alpha.29** and **5.0.0-alpha.30** for the **DesktopDateRangePicker**?

[2021-04-13 07:35] eps1lon commented on #25738
But how is that useful for tht datepicker? I don't think you want to work with stringified values. Especially if you're using another date library like moment or dayjs.

[2021-04-13 07:40] RiyaNegi commented on #23164
@eps1lon @oliviertassinari Hey so I checked out your solution and it works, but it blocks the dropdown completely( doesn't open on either mouse click or focus). Also, the bigger issue is if you add `openOnFocus` prop to your solution, it opens the dropdown on both mouse click and keyboard click.
I solved this particular problem in the library with the introduction of `disableOpenOnClick`.

--https

[2021-04-13 07:44] MicasiO commented on #18070
I have the same issue, so I created an approximate repro of my project.
[](https://codesandbox.io/s/objective-voice-q14h4)
This problem started when I implemented the horizontal scroll section.

[2021-04-13 07:50] eps1lon commented on #23164
Fixed with

[code]

[2021-04-13 07:56] croraf commented on #25738
Hmmm. I was accounting that `event.target.value` would be made of the same type as the first argument is now.

But now when you say, I guess `event.target.value` should be the same value that is propagated from the native `input` which is a string?

[2021-04-13 09:31] mnajdova commented on #25744
Is the issue still present in v5?

[2021-04-13 09:34] mnajdova commented on #25744
Can you check if the repo is up to date? I am getting different TS error:

[code]

[2021-04-13 09:39] mnajdova commented on #25659
I'll create PR to normalize all styles to use 2. componentClasses[pseudoState], seems like it brings more benefits than 1. and we will at least have consistency.

[2021-04-13 10:02] vtassios commented on #18450
I also have a big amount of data that I need to fetch. So it would be good to have a prop that will load more data onScroll, to prevent delays.

[2021-04-13 10:09] eps1lon commented on #25738
Exactly. And it's not even clear that the `onChange` event would always be triggered by user input into the textbox. Might be due to clicking a value in a picker.

That's why I'm asking what you need the event for. If you just need the value then you already have the value available.

[2021-04-13 10:20] awisawan opened #25747 "How to disable focus/internal fill colors with dropdowns and autofill"
1) What is the correct way to disable autofill for MUI text fields

2) Also autofill and dropdowns are causing internal fill / focus colors (blue and grey) as seen below:
https://prnt.sc/11buwij
https://prnt.sc/11bv0ld

How can i disable these also?

[2021-04-13 10:25] croraf commented on #25738
I just wanted to have consistent API between TextFields, Select and DatePicker so that development might be slightly cleaner (by having only one handler function).

The root problem is then that HTML's `onChange` gets the `event` object as the first argument, instead of the value directly, which seems strange. So I now think they cannot be made consistent ever.

[2021-04-13 10:27] #25747 closed

[2021-04-13 10:30] oliviertassinari commented on #25747
Duplicate of #2653

[2021-04-13 10:30] oliviertassinari commented on #24199
Duplicate of #2653

[2021-04-13 10:30] oliviertassinari commented on #21871
Duplicate of #2653

[2021-04-13 10:36] eps1lon commented on #25738
But it would neither be the same type nor behave the same. For textfields you have a react change event that is associated with a textbox. The value would be associated with the target. Neither of these facts apply to the date(time) pickers.

They are just not the same. That's why they shouldn't be "consistent".

[2021-04-13 10:37] thinkbleworg commented on #8438
I met with the same scenario where the user needs the button to be auto focused on render. Added a solution using action ref

https://codesandbox.io/s/modal-dialog-button-autofocus-y9hfz

[2021-04-13 10:37] oliviertassinari commented on #25738
@croraf Are you using a specific form library you struggle to integrate with?

[2021-04-13 11:01] oliviertassinari commented on #25082
@mak-elena it's tracked in #24937, I believe.

[2021-04-13 11:16] croraf commented on #25738
No. I'm just annoyed having to write a special date handler for every form I use date picker in. Same with the checkbox. So if I have TextField (text, multine, select), Checkboxes and DatePickers I have to use 3 onChange handlers. It is kind of annoying and messy. In theory I think these can all be the same, if the onChange would always receive `value` as the first argument for each of these form

[2021-04-13 11:32] oliviertassinari commented on #25738
@croraf Ok thanks. For the checkboxes, it's [the DOM API](https://next.material-ui.com/components/checkboxes/#ControlledCheckbox.tsx): `event.target.checked` 🤷‍♂️.

[2021-04-13 11:39] croraf commented on #25738
Sure. I'll close the ticket.

Just on the "theoretical level" as this would be a pretty big intervention. What do you think of having the `onChange` handler from `TextField` (text, multiline and select) and `Checkbox` have the signature `onChange(value, event)`, different than the native DOM `onChange` handler.

[2021-04-13 13:07] oliviertassinari commented on #22484
This issue is related to #24640. It basically empowers. The more inline previews we have, the more interesting it will be to be able to edit the demos live.

[2021-04-13 13:48] CWSites commented on #13394
My understanding is the sole purpose of using `StrictMode` is to highlight/warn potential issues. If you're doing something to ignore those issues then what's the point of having `StrictMode` enabled? Developers should not be hiding warnings for the sake of clearing their console but rather using that information to be made aware of potential issues.

I appreciate the MUI team feedback here, and f

[2021-04-13 14:15] SomervilleTom commented on #13394
I'm relatively new to this entire technology stack. I therefore don't trust my own ability to differentiate between nits that I can ignore and serious issues that I should address. I also don't have time to wrap all this in unit tests. That means that I'm exquisitely sensitive to the strength or weakness of linters like this.

So -- I have `StrictMode` enabled in general in order to make maximal u

[2021-04-13 14:23] r20 commented on #10278
In case anyone else tries the same thing I did, note that InputProps (uppercase) is different than inputProps (lowercase).  You need inputProps so the attributes go to the input element, and not the Input component.

`inputProps={{
    autoCapitalize: 'none',
  }}`

[2021-04-13 14:31] RiyaNegi commented on #23164
@eps1lon @oliviertassinari  I added your suggestion to the demo but it's not working. The dropdown doesn't open regardless of mouse click or focus.
--https://codesandbox.io/s/autocomplete-disableopenonclick-forked-3hsfs?file=/src/Demo.tsx

I know it's a niche case to be covering (`disableOpenOnClick` and `openOnFocus` together), but I guess someone might need it?

[2021-04-13 14:39] olee commented on #20904
I tried the very same thing - allowing a user to type in part of an option and press tab to complete with the top result.
However I did not find any solution to this yet.

[2021-04-13 18:14] #25659 closed

[2021-04-13 18:15] mnajdova commented on #24405
FYI, I've just merged https://github.com/mui-org/material-ui/pull/25748, let's keep an eye on it when converting the rest of the components :)

[2021-04-13 19:37] CWSites commented on #13394
I'm not assuming you're incompetent or stupid, nor was I going that way with my comment. I was saying that these warnings are only shown in development mode, once you are in production the warnings won't be shown.

If you're only worried about your console while developing then the fix makes perfect sense, but you're also losing the other warnings. You could also add a filter to your console to ig

[2021-04-13 20:10] vicasas commented on #24405
@mnajdova Does this make global classes like for example `.Mui-selected` stop working? I understand that now each component will have its class by name of type `.Mui[Component]-selected`

[2021-04-13 20:53] marco-wong-1 commented on #14948
Should be able to change it to lower like 50ms or even 0 and it'll show with a slight tap

[2021-04-13 20:53] mnajdova commented on #24405
@vicasas no, global classes still work, there are no changes in the public API, we are just unifying the way of how we access the classes in the styles. See #25659 for more info

[2021-04-13 20:55] slayybelle opened #25755 "[SpeedDial] FabProps not taking style set in classes: {{...}}"
Applying style to FabProps within SpeedDial as we did in 4.11.x is not working. Here is a code snippet, the commented out section worked in 4.11.x and the line after it is the code that works now:

[code]
We only used a single style for this so moving "className: classes.fabRoot" out of classes will work fine but for anyone who used more than one style depending on "primary", "root", "sizeSmall" o

[2021-04-13 21:18] 0xF013 opened #25756 "[Stepper] v5 styled-components StepContent issue"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am trying v5 with styled-components and something weird is happening for me. If I import StyledEngineProvider from `@material-ui/core`, something weird happens inside StepContent. I

[2021-04-13 22:59] rbabbra95 opened #25757 "[Autocomplete] Changing background color of autocomplete options"
Hello, I was curious to know of where and how in the Mui classes I can override the background color of the options in an autocomplete. Currently, there is a gray background on hover, would like to change that. I notice that on hover, an `aria-activedescendant` attribute appears, but I'm not sure how to refer to apply the background style to the values of the `aria-activedescendant` attribute.

[2021-04-14 05:32] #25734 closed

[2021-04-14 06:41] MohammadArasteh opened #25759 "[Box] No MuiBox property defined in ThemeOptions.overrides (typescript)"
can not override MuiBox theme from createMuiTheme in typescrpt, because ThemeOptions.overrides doesn't provide MuiBox

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
when we try to add MuiBox property in overrides object for creati

[2021-04-14 07:10] eps1lon commented on #23164
But that was the point of the codesandbox. People were asking for `disableOpenOnClick` which I implemented in the codesandbox.

[2021-04-14 07:14] eps1lon commented on #25755
Thanks for the report.

I think you forgot to freeze your codesandbox to illustrate the actual issue.

A simpler repro is

[code]

[2021-04-14 08:28] nemonemi opened #25760 "@material-ui/x-grid-data-generator not working"
I've installed the XGrid and the x-grid-data-generator to test it following the example from the documentation, however, after implementing it, it breaks the application completely.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[

[2021-04-14 08:40] nemonemi commented on #25760
I have just realized that there's a separate space for the material-ui-x.
I've moved this issue there.

[2021-04-14 08:40] #25760 closed

[2021-04-14 09:00] oliviertassinari commented on #25759
@MohammadArasteh This seems to be on purpose. What's your use case?

[2021-04-14 09:09] BradPrit09 opened #25762 "[Material UI Chip] onHover DeleteIcon Css Overloading Issue"
I was working on a tag editor component using material UI chips. I came across a CSS overloading issue that is hard to debug. Can anyone point out the mistake?
<br/>
The issue with the chip delete icon is, whenever I hover over the last chip i.e, chip da in the current image of Media 1, it expands and pushes the chip down and up continuously making the Dom unresponsive and unable to select.

[Tag

[2021-04-14 09:11] oliviertassinari commented on #25755
`experimentalStyled` blocks the `classes` prop to be spread by default with the `shouldForwardProp` prop. This works best for the root element, but not so much for the nested element.

[2021-04-14 09:12] robphoenix opened #25763 "[Select] style overrides overwritten by hardcoded values"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

With the move to using emotion MuiSelect styleOverrides are being overwritten. [CodeSandbox](https://codesandbox.io/s/vigorous-wildflower-00t2p)

![image](https://user-images.githubus

[2021-04-14 09:58] mnajdova commented on #25762
@BradPrit09 can you please provide a minimal reproduction that we can look into? Sharing a codesandbox would be the best.

[2021-04-14 10:00] BradPrit09 commented on #25762
@mnajdova  I will build one and update it in a while.

[2021-04-14 10:09] mnajdova commented on #25763
Thanks for reporting. It is a regression from https://github.com/mui-org/material-ui/pull/25653

We need to add the overrides for the `selectedMenu`:

[code]

@robphoenix would you be interested in creating a PR? :)

[2021-04-14 10:10] robphoenix commented on #25763
@mnajdova ah, cool, yeah, for sure I'll do that now 👍🏻

[2021-04-14 10:14] RiyaNegi commented on #23164
I think there is slight misunderstanding. The plan is to cover a case where both(`disableOpenOnClick` and `openOnFocus`) are used together right?
Maybe I am missing something, but currently in the examples you are giving, only one use case is getting covered.
if the following is added along with `openOnFocus` prop, it doesn't work well.
[code]

this is because when `openOnFocus` is passed, it alwa

[2021-04-14 10:20] robphoenix commented on #25763
@mnajdova is that the only one that needs adding? What about `root`, `outlined`, `input` etc.

[code]

[2021-04-14 10:31] MohammadArasteh commented on #25759
there are some components the project which are implemented using Box component, I want add a feature to let the user change the theme of the application, for some reasons I need to change the background color of Box components too

[2021-04-14 10:35] oliviertassinari commented on #25759
@mnajdova do you know if it's possible with TypeScript to communicate that a key can't be used? I mean so far, it could feel, from a developer's point of view that Box missing is an unintended omission.

[2021-04-14 10:50] oliviertassinari commented on #25757
Duplicate of #19692

[2021-04-14 10:51] mnajdova commented on #25763
`filled` and `outlined` are already being handled by `...styles[styleProps.variant]`

[2021-04-14 10:51] #25757 closed

[2021-04-14 10:52] robphoenix commented on #25763
ok, super, thanks 🙏🏻

[2021-04-14 12:09] mnajdova commented on #25756
I could rerpoduce. This is really weird, how:
[code]

works, but

[code]

doesn't work, when this should be identical 😕 cc @oliviertassinari @eps1lon do you have any idea why this may be happening?

[2021-04-14 12:10] 0xF013 commented on #25756
The funny thing is that the alias works, it goes all the way into SC and then fail on interleave() for whatever reason

[2021-04-14 12:12] Frekansapp opened #25767 "[Button] disabled props not working with Reference"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

buttonRef.current.disabled = true; not disabling button
## Expected Behavior 🤔

buttonRef.current.disabled = true; should disable button

## Steps to Reproduce 🕹

https://codesandbox.

[2021-04-14 12:18] onpaws commented on #10000
Wanted to post the solution that worked best for us in case it helps someone else too.
In our case we had some CSS on the body element causing behavior similar to what's described here.

[code]

`overflow-y` was causing the page to shift when <Modal>s were visible, ostensibly b/c of the scroll lock behavior. First we tried `disableScrollLock` which worked, but of course then users could scroll. So

[2021-04-14 12:21] mnajdova commented on #25755
I see, maybe it make sense to do the check for should forward props only if the `experimentalStyled` is being invoked with native element.
[code]
I need to check if this will have some consequences elsewhere.

[2021-04-14 12:26] mnajdova commented on #25755
Or we could do it only for the root:

[code]

This is better in my opinion, as we don't have any opinion on what the slots are.

[2021-04-14 12:34] mnajdova commented on #25767
What do you mean is not disabled? If you inspect the HTML element, it has the `disabled` attribute.

![image](https://user-images.githubusercontent.com/4512430/114710796-714f2200-9d2e-11eb-86fd-f1f139c07ba8.png)

What is the use-case of doing this instead of simply using the `disabled` prop?

[2021-04-14 12:46] mnajdova commented on #25759
I don't understand this. With types, we are defining which options are available. I think that is is expected that using something that is not supported by types won't work. Not sure if TypeScript has a special syntax for highlighting that something doesn't exist in types, it seems unintuitive.

The main reason why we do not support this, is because of perf. Also, I don't see a valid use-case for

[2021-04-14 12:47] Frekansapp commented on #25767
Yes i know it's change the disabled attribute from HTML, But how can I still click the button? And why the style doesn't change?
I can't use state because I'm rendering a huge list. InputBase work properly but i don't want to use because styling.

[2021-04-14 12:57] oliviertassinari commented on #25755
Only the root seems to make the most sense. It's closer to the underlying structural issue that leads to the issue. Basically, it's because the component accepts a `classes` prop and we spread it to the root that we need to swallow it.

Option 3 would be to be more explicit, as we did in v4, to explicitly define the behavior of the classes prop.

[2021-04-14 13:07] oliviertassinari commented on #25759
I was not aware of the performance opportunity. My main motivation was because it's a foot-gun. It would be like adding `padding-top: 2px` to all the elements on the page.

[2021-04-14 13:10] mnajdova commented on #25755
I'd vote we go with Option 2. I like Option 3 too, but in comparison to v4 where we were actually using it, now it is handled in a method outside of the render tree, so it is easier to forget to add it, as it is not used anywhere in the render method of the component.

[2021-04-14 13:12] ffjanhoeck commented on #15511
@oliviertassinari A workaround for v4 would be really awesome. We have huge application, which is using material-ui.
That means, when v5 gets released, we have to prepare 400 files before we can really update...

[2021-04-14 13:12] mnajdova commented on #25759
I'd say yes, developers can do it with a custom component.

[2021-04-14 13:12] #25759 closed

[2021-04-14 13:18] oliviertassinari commented on #15511
@ffjanhoeck I would recommend trying react-jss out. The migration should be easy and they have a better handling of this problem. Also note that you don't need to migrate all the makeStyles and withStyles in v5, the module is still here.

[2021-04-14 13:30] ConAntonakos commented on #24405
Finally got around to migrating `Tabs`. And I believe I am almost done. I am confused about `overrideResolver` (what to pass to `deepmerge`) and `useUtilityClasses` (what to pass as slots).

[2021-04-14 13:54] eps1lon commented on #25755
Didn't we test for `classes={{ root: 'foo' }}` in `describeConformance`? Does this no longer make sense for v5 components since those don't have a notion of "root components"?

[2021-04-14 13:58] rahulmotwani1996 commented on #25767
@Frekansapp I am also able to reproduce the issue. Looks like the click behaviour is not associated with the button.

[2021-04-14 14:00] mnajdova commented on #25755
We test for this, this use-case is a bit different as it is `FabProps={{ classes: { root: 'foo' }}}`. The slots are now created with `experimentalStyled()` which by default does not spread the `classes` prop. The proposed changes is that we should not spread it only on root, not on the other nested components.

[2021-04-14 14:02] oliviertassinari commented on #25767
I recall seeing the same report in the past. I can't find the GitHub issue. From what I remember, we closed it as won't fix with the following motive: use React. Regarding the performance issue, it can be worked around with a context provider and memorization.

[2021-04-14 14:03] eps1lon commented on #25755
Right, forgot about that. I seem to remember similar issues in the past with JSS components.

[2021-04-14 14:06] Frekansapp commented on #25767
You expect me to solve the problem I can solve with a simple function call with a much more complex code structure.

[2021-04-14 14:13] mnajdova commented on #25755
So, in conclusion I think we can try to go with Option 2:

[code]

I will take this on, as there may be some gotch ya-s along the way.

[2021-04-14 14:40] oliviertassinari commented on #25767
@Frekansapp Actually, the issue I recall might have been on another component. I have run a deep search in the history and can't find anything. In all these years, this IMHO signal that it something we should ignore. Other perspective, welcome.

[2021-04-14 14:42] SomervilleTom commented on #13394
@CWSites: Understood, and that's a good point about the filter. Once I get all this working, I'll turn `StrictMode` back on and be sure that's my only complaint.

[2021-04-14 14:53] oliviertassinari commented on #25578
Regarding the problems we are facing, the framing done so far, seems almost correct.

1. I would add one important precision. This is only true if the portal displays above the click target. See https://codesandbox.io/s/mousedown-mouseup-target-reconciliation-in-click-x73gz?file=/src/App.js.
2. I would add one important precision. This is about the Popover component, the fix should be at this leve

[2021-04-14 15:12] oliviertassinari commented on #20041
@badunius We tried to improve this in v5: https://next.material-ui.com/components/text-fields/#multiline. Is it clearer?

[2021-04-14 15:21] oliviertassinari commented on #22342
@garronej We are not using `@emotion/css` but `@emotion/react` and `@emotion/styled`. Now, if you look at the sources, we do export a `css` module: https://github.com/mui-org/material-ui/blob/33850e52ca32787fbc02b64d3225bac2d451612c/packages/material-ui-styled-engine/src/index.js#L2 but it's not the [same one](https://codesandbox.io/s/icy-sound-g0lr9?file=/src/index.js). Looking at the dependencie

[2021-04-14 15:24] MykhayloLegenchenko commented on #25458
The problem is in the Emotion's createEmotionServer function that switches cache to "compat mode":
[code]
Switching cache.compat back to the undefined, solves the problem (in file pages/_document.tsx):
[code]

Looks like it also solves #24970.
Is "compat mode" needed for Material UI?

[2021-04-14 15:52] dalalRohit commented on #10000
Thank you so much for this!

[2021-04-14 16:43] uchar opened #25770 "Warning: Each child in a list should have a unique "key" prop with material-ui and next.js"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using this code in next.js :
[code]

Gives these warnings :
[code]

you can see the complete source code [here](https://github.com/uchar/Q2A.js/tree/master/front_end/src/common/compon

[2021-04-14 16:53] shelbyspeegle commented on #21979
I really like this as well.

In particular, the one that is driving us insane is `Material-UI: The contrast ratio of`... errors. Maybe we are doing something wrong but seeing this three line error six times on load is something we have gotten used to over the last three or so years, making it harder to see errors that actually need our attention. Being able to filter console output to errors only

[2021-04-14 17:00] oliviertassinari commented on #25770
Would it be possible to have a minimal reproduction in codesandbox? It sounds like the key is empty or have multiple times the same value. What if your remove Material-UI, doesn't it still reproduce the issue?

[2021-04-14 17:01] Frekansapp commented on #25767
I just want to say that I think the expected behavior should be as I explained.  As a software developer, it surprised me that the code I wrote did not work. My logic cannot accept that you make such a choice. The solution suggestions you provide just make my code more complex and It will require me to rewrite my code. If we can control components from reference it would be easier. Please consider

[2021-04-14 17:57] uchar commented on #25770
@oliviertassinari  I double-checked it, there is no duplication, I add some logs just before blogPosts.map:
[code]

I also tried to create reproduction in codesandbox , but the warning doesn't happen there !
Do you have ideas what can cause this behaviour ?!

[2021-04-14 18:21] oliviertassinari commented on #25770
@uchar It could be an issue with how React is bundled in ths project;

[2021-04-14 18:50] #25770 closed

[2021-04-14 20:58] PetrShchukin opened #25771 "[Box] doesn't apply maxWidth prop"
Box doesn't apply maxWidth prop
[code]
CodeSandBox:
https://codesandbox.io/s/hardcore-platform-tyfvw?file=/index.js:131-183

Mui version: v4.9.8 ✓

[2021-04-14 21:10] teagueash commented on #18330
This still doesn't work when trying to pass in more custom InputProps...
https://codesandbox.io/s/nifty-feather-nbtnf?file=/src/App.js

[2021-04-14 21:28] oliviertassinari commented on #25771
@PetrShchukin What lead you to believe this API is supported?

[2021-04-14 21:49] jperestrelo opened #25772 "TreeView on mobile doesnt apply background when selecting"
## Current Behavior 😯
When clicking on the TreeView option, doesn't apply background to the node. But in desktop works fine.

## Expected Behavior 🤔
Should apply the background in mobile as well.

## Steps to Reproduce 🕹
You can use this example from the docs: https://93uhk.csb.app/  just open dev tools and toggle mobile view, and try to select an option.

## Your Environment 🌎

[code]

[2021-04-15 01:21] sparkpunk opened #25773 "[Switch] styleOverrides selector do not appear to work"
When writing `styleOverrides` for a Switch component, writing styles using rule name/global class selectors doesn't work as expected (compared to writing overrides for other components in the same manner).

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2021-04-15 02:19] ifndefdeadmau5 opened #25774 "[ListItem] Having styleOverrides key brokes component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I guess global style overrides of `ListItem` component is broken.
Instead of correct rendering, it gives this error.
![image](https://user-images.githubusercontent.com/8914311/1148042

[2021-04-15 05:07] ffjanhoeck commented on #15511
@oliviertassinari Isn't the `makeStyles` in material-ui v4 not a react-jss wrapper?

Or do you mean by trying out react-jss, that I should directly use react-jss, without the makeStyles from material-ui ?

[2021-04-15 07:57] oliviertassinari commented on #15511
@ffjanhoeck Material-UI v4 uses jss, not react-jss. My suggestion is to use react-jss

[2021-04-15 08:20] mnajdova commented on #25774
Thanks for the report. There are two problems with this component, the first one is that we've added the `overridesResolver` on the `ListItemContainer`, but it should be added only on the `ListItemRoot` component. If in the future there is a real requirement to add possibility for style overrids on the containers, we can add those but we will need to use a custom `overridesResolver`. The second pr

[2021-04-15 08:25] ifndefdeadmau5 commented on #25774
@mnajdova Thanks for the detail and sure, I'm down :)

[2021-04-15 08:31] BradPrit09 commented on #25762
@mnajdova Here is the  sample
https://codesandbox.io/s/material-ui-chip-with-delete-icon-on-hover-zsjee?file=/demo.js

STEP 1: Reduce the Project Runtime View Size
STEP 2: Try to select polym in the second row.

Image to Verify the sizes.
![Screenshot from 2021-04-15 13-58-58](https://user-images.githubusercontent.com/14337121/114839120-09164400-9df3-11eb-94b1-13e3e30f9e96.png)

[2021-04-15 08:36] oliviertassinari commented on #25774
How would a developer customize the container if we remove the overridesResolver?

[2021-04-15 08:44] mnajdova commented on #25773
In this component we are not spreading the `...other` on the root slot, so there is no `theme` in the props on the component, hence we get the default theme that doesn't contain the overrides. This is fixing the issue:

[code]

@sparkpunk would you be interested in creating a PR? :)

[2021-04-15 08:48] mnajdova commented on #25772
Looking at the code it looks intentional - https://github.com/mui-org/material-ui/blob/next/packages/material-ui-lab/src/TreeItem/TreeItem.js#L37 @oliviertassinari do you know if this is the wanted behavior?

[2021-04-15 08:55] mnajdova commented on #25774
It wouldn't be possible, but it's a different topic. If we want to support customization for the container components the current implementation is not working. We need to have custom name for the component, something like `MuiListItemContainer`, with slot: `Root`, we will need to have custom `overridesResolver`, we cannot reuse the one for the `ListItem` and we will need to add the typings for th

[2021-04-15 09:00] quadgod commented on #22342
As i see now we are forced by (because tools and frameworks designed for that approach) to move all css inside component body or to styled HOC's. My opinion: if i will do some complex animations and overrides in render body - my components will look like a big mess. And all "react" world accepts and ❤️ hooks approach against HOC's. Styled components its HOC's approach. I totally do not like these

[2021-04-15 09:18] oliviertassinari commented on #22342
@quadgod We plan to deprecate `makeStyles` and `withStyles` in v5. It will stay until v6. You can migrate to any styling solution of your choice. If you choose emotion or styled-components, we have this backed-in.

[2021-04-15 09:20] oliviertassinari commented on #25774
@mnajdova We have multiple components with two `overridesResolver`, I guess we could do the same?

[2021-04-15 09:27] mnajdova commented on #25774
I am doing a quick review, seems like `ListItem` and `Dialog` are the ones that have containers, will remove the invalid overrides resolvers

[2021-04-15 09:30] oliviertassinari commented on #25772
Duplicate of #20311

[2021-04-15 09:30] #25772 closed

[2021-04-15 09:32] oliviertassinari commented on #25772
@mnajdova You are sharing source in v5, but the reproduction provided is v4 https://codesandbox.io/s/styled-components-interoperability-93uhk

[2021-04-15 09:50] sparkpunk commented on #25773
Awesome, will follow up shortly. Thank you!

[2021-04-15 10:09] mnajdova commented on #25772
Oops my bad, didn't notice it.

[2021-04-15 10:17] PetrShchukin commented on #25771
In this page https://material-ui.com/components/box/#box, the latest sentence is "Any other properties supplied will be used by the style functions or spread to the root element."

[2021-04-15 10:24] mnajdova commented on #25774
@ifndefdeadmau5  I've included the fix in https://github.com/mui-org/material-ui/pull/25777 no need for creating addition PR :)

[2021-04-15 10:49] cmnstmntmn commented on #19248
@jlramosr have you find a fix for this issue?

[2021-04-15 10:52] #25737 closed

[2021-04-15 11:15] Frekansapp commented on #25767
I solved the problem by wrapping the material ui button

[2021-04-15 11:22] sytpb commented on #15616
what 's solution finally ?   I have try many ways , it doesn't work .

[2021-04-15 11:26] codewangshuhao commented on #19664
Is there any development plan for [making the speed configurable](https://github.com/mui-org/material-ui/issues/19664#issuecomment-593099963)

[2021-04-15 11:40] mnajdova commented on #25762
I see, the problem is how you designed the chips, you are showing/hiding the delete icon on hover, so the width is changing. I don't see any problem with the component itself. I'd propose you just change the visibility instead, or specify bigger width of the chips so that when adding the delete icon it won't affect the width.

[2021-04-15 11:40] #25762 closed

[2021-04-15 13:01] iamstiil commented on #25553
I'm having the same issue. I created a custom icon library using `SVGIcon` component. When using that library the custom styles are injected before the `SVGIcon` styles are injected, which causes the styles to be overwritten.

![image](https://user-images.githubusercontent.com/4603306/114873265-66ae8e80-9dfb-11eb-9564-9bf073da61c4.png)

[2021-04-15 13:17] maximenathan opened #25779 "[Select] FormControl outlined with shrink and select cause style issue"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Border on Select component cross the shrinked label

![image](https://user-images.githubusercontent.com/7127156/114874008-2b608f80-9dfc-11eb-803a-a8dabaa6dacf.png)

## Expected Behavi

[2021-04-15 13:32] oliviertassinari commented on #25767
Alright, I have added the "waiting for upvotes" label as this pain is definitely something that could be fixed (it would require to change a bit the CSS selector:

[code]

and to skip the ripple:

[code]

But I highly doubt that it will be a net positive. Meaning that the extra bundle size for a use case most developers don't want even to know about will harm.

[2021-04-15 13:32] #25767 closed

[2021-04-15 13:35] #25533 closed

[2021-04-15 13:42] oliviertassinari commented on #25771
@PetrShchukin Ok thanks. I can't think of any way we could have solved the root cause, so I'm simply going to answer the direct question. xs is a breakpoint value, it's not accepted as a final value. This would work

[code]

https://codesandbox.io/s/quirky-moon-ss53u

In v5, you can also do:

[code]

https://codesandbox.io/s/agitated-agnesi-f5rfs

[2021-04-15 14:00] TrejGun commented on #25481
Hi guys! any plans to implement DateTimeRangeInput ?

[2021-04-15 14:27] oliviertassinari commented on #19664
@codewangshuhao Now that we have dynamic styles, it's technically easier. But, how and why would you like to change the value?

Regarding solving this issue, how about we move toward making the ripple less noticeable, closer to material.io?

[code]

This is a change that I think can only be reviewed by applying it and trying it out.

[2021-04-15 14:42] mnajdova commented on #25779
You need to also set the `label` prop on the Select component - https://codesandbox.io/s/infallible-leftpad-obo34?file=/src/App.js:359-454

You can take  a look on the Select docs page https://next.material-ui.com/components/selects/#filled-and-outlined-variants

[2021-04-15 14:50] oliviertassinari commented on #25553
@iamstiil This issue is about v5. For your issue, please search on the StackOverflow and issue history, this has been covered many times.

[2021-04-15 15:10] potofpie commented on #19427
Would this also work for lab components when trying to `props`?

When I do this it changes the variant: (core)
`const coreTheme = { ..., props: {       MuiButton: {variant: 'contained'}  } }`

When I do this it changes the variant: (lab)
`const coreTheme = { ..., props: {       MuiAutocomplete: {variant: 'outlined'}  } }`

The `overrides` extension did work. Just need to take things a little furth

[2021-04-15 15:24] oliviertassinari commented on #19427
@potofpie Yes, this should work. Also, In v5, the autocomplete was promoted in the core

[2021-04-15 16:42] eps1lon commented on #25578
I'm still very much against that change. It fixes a very specific issue while ignoring an infinite amount of similar issues while also adding completely foreign behavior to the event order. Since it's unclear what actual problem it is fixing (the codesandbox in this issue is constructed i.e. missing real world use case), we should defer this change until after v5.

[2021-04-15 17:17] m4theushw commented on #25578
The real world use case is in the issue I added as context: https://codesandbox.io/s/datagrid-bug-demo-forked-u7dec.

I agree with @eps1lon that moving to the Popover may create negative side effects. The Popover can be opened through several ways. We would have to check if what changed the `open` prop to true was a `mousedown` event. BTW, the component that is interleaved when the `mouseup` fires

[2021-04-15 18:20] mackenzie-km commented on #17850
This thread was super helpful to read b/c we are using ServerStyleSheets for print.

However, we are also using Fuse React, which requires us to pass in providers, a redux store, and a Fuse theme before rendering a component. So messing with the JSS was not an option.

To make matters worse, sheets.collect wraps it with another style provider that was causing issues. Per [Material UI docs, we shou

[2021-04-15 19:20] tomas-c commented on #24887
Another issue with the current time being the default is that it does not respect minutesStep setting. If I set minutesStep=5 the initial value sometimes can default to, for example, 13.

[2021-04-15 19:21] mracette commented on #21801
@eps1lon here is the repro with `tsconfig.json`: https://codesandbox.io/s/material-ui-issue-21801-example-forked-jvwlc?file=/src/Demo.tsx

The issue is present no matter regardless of th e value of `strictNullChecks`.

[2021-04-15 19:37] BiancaArtola opened #25783 "[Grid] Spacing on grid causes horizontal scrolling"
I am using the Material UI library on my project. I use the Grid component and I am having some issues when I add the property spacing to the Grid container.
When I add the spacing (in this case only 1), the CSS is updated to:

![image](https://user-images.githubusercontent.com/21174759/114928150-a760d480-9e08-11eb-81b6-77e0734e40a1.png)

With these props, the scrollbar appears on my screen that a

[2021-04-15 21:10] oliviertassinari commented on #21507
The issue is fixed in v5. For instance, with @otaviobps's reproduction: https://codesandbox.io/s/friendly-wescoff-xvukw?file=/src/Demo.js. It was fixed in #24332.

[2021-04-15 21:14] oliviertassinari commented on #25783
Duplicate of #7466

[2021-04-15 21:14] #25783 closed

[2021-04-15 21:14] oliviertassinari commented on #21507
Duplicate of #7466

[2021-04-15 21:14] #21507 closed

[2021-04-15 21:14] oliviertassinari commented on #24272
Duplicate of #7466

[2021-04-15 21:15] oliviertassinari commented on #7466
This issue was fixed in v5 with #24332.

[2021-04-15 21:56] #25779 closed

[2021-04-15 22:32] oliviertassinari commented on #25643
@Yzrsah I might have a different read than Marija on the issue. From what I understand of your request. You would like to extend the core of Material-UI with your own component, but still be able to leverage the same conventions. Meaning, having the sx prop, having the theme overrides, having the global class names/classes slot to customize nested elements. In order to solve this, you have started

[2021-04-15 23:05] andrew2558 opened #25785 "Context menu Right click bug"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Context menu Right click bug, Right-click menu appears anywhere in the window

## Expected Behavior 🤔
Context menu close or  Context menu should not appear outside the specified area

[2021-04-15 23:19] oliviertassinari commented on #25785
Fix in v5 https://next.material-ui.com/components/menus/#context-menu

[2021-04-15 23:19] #25785 closed

[2021-04-15 23:36] oliviertassinari commented on #13100
@vicasas I have updated my original comment to use v5. As for the best next step, I don't know. It seems trivial to implement with the system.  would propose we close

[2021-04-16 01:16] garronej commented on #22342
@oliviertassinari Thank you for taking the time to investigate! I came to the same conclusion but I don't think I should use the `css` function from `@emotion/react` for `tss-react`, it gives warnings when not used in the way it was intended to be used.
[ClassNames](https://emotion.sh/docs/class-names), as you suggested, seems to be the best approach, even if it involves yet another provider.

[2021-04-16 01:18] codewangshuhao commented on #19664
thanks for reply，For my usage scenario, I’m just confused about DURATION by the inconsistency between material-ui  and material.io, and when DURATION is equal to 500ms, I feel a bit stuck when clicking the button. If material-ui can lower the DURATION value, then the configurable DURATION will not Apply to my usage scenario

[2021-04-16 01:27] garronej commented on #22342
@quadgod I fully subscribe you what you wrote. You should check out [tss-react](https://github.com/garronej/tss-react).

[2021-04-16 01:54] viditrv123 commented on #24566
I have made few changes that might be correct. Please check #25787

[2021-04-16 04:42] ethoman opened #25790 "Autocomplete doesn't appear in FormData object when in a form"
I'm a bit confused as to why Autocomplete doesn't appear in the formData object upon form submission when other components, like Select and TextField, do when they are used instead. In the following example, I have an autocomplete component named q1 that does not show up in the formdata object. However, if I use a Select component or essentially any other component, it does appear. My code is para

[2021-04-16 08:12] maximenathan commented on #25779
I indeed missed that
Thanks!

[2021-04-16 09:11] richardprammer commented on #20904
select2 has this behaviour

[2021-04-16 09:25] PetrShchukin commented on #25771
Thanks for the response, "theme.breakpoints.values.xs" returns 0 is that expected?

[2021-04-16 09:55] LawrenShin opened #25791 "Extending styles object causing type error."
I've been extending style objects in this fashion:
`const cssClass = {
 display: 'flex',
 etc...
}`
`export default useStyles({
 ...cssClass,
 etc...
})
`
All were good until I used flexWrap prop, which causing this error:

<img width="100%" alt="Снимок экрана 2021-04-16 в 12 46 23" src="https://user-images.githubusercontent.com/42588742/115007313-85239100-9eb2-11eb-88aa-d7d42c1950d4.png">

Moving

[2021-04-16 10:05] JohnRDOrazio commented on #19797
I find this behaviour very strange. I would expect the current selected option to show in the dropdown options. It is very strange for it not to show. I am using Autocomplete for compiling an address on a form. The "country" input has the list of all the countries in the world. I am using **match-sorter** to filter the options, since the list of countries is an array of objects with some informati

[2021-04-16 10:26] Ashimriat opened #25792 "[Select] Syntax Error: unexpected identifier"
## Current Behavior

When using MUI `<Select>` component (not `<NativeSelect>` one), it performs quite strange:
1. On opening of select appears 'Uncaught SyntaxError: Unexpected identifier' error. As source for this error listed the following code in file Grow.js:
[code]

2. After selecting any value from options list, this error appears once again.
3. After options list is 'closed', it actually r

[2021-04-16 10:57] oliviertassinari commented on #19797
@JohnRDOrazio There is too much information in your previous comment, we can't act on it. Please ask for help on StackOverflow.

It sounds like you didn't provide a `getOptionLabel` prop.

[2021-04-16 11:35] oliviertassinari commented on #20904
Interesting:

- select2 has recently changed the bheavior in https://github.com/select2/select2/pull/5759 to handle <kbd>Tab</kbd> like <kbd>Enter</kbd>
- react-select handles <kbd>Tab</kbd> like <kbd>Enter</kbd>
- On Windows 10 + Chrome, a native select: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select handles <kbd>Tab</kbd> like <kbd>Enter</kbd>

I have added the `waiting for use

[2021-04-16 11:36] JohnRDOrazio commented on #19797
I did provide a `getOptionLabel` prop. But since, as I see [here](https://github.com/mui-org/material-ui/issues/19797#issuecomment-589625113), the `inputValue` is being forced to an empty string when the current input value is the current selected value, this means that the current selected value is never going to show in the dropdown. I don't see the reason for forcing inputValue to an empty stri

[2021-04-16 11:37] richardprammer commented on #20904
Hello, i just got this working on Autocomplete by adding autoSelect + autoHighlight to the component.

[2021-04-16 11:42] oliviertassinari commented on #19797
@JohnRDOrazio `inputValue === ''` in the filterOptions call to signal tha no filters should be applied.

[2021-04-16 12:04] oliviertassinari commented on #19664
@codewangshuhao Do you think that you could: 1. fork the repo 2. run yarn 3. run yarn start 4. apply the patch 5. open `http://0.0.0.0:3000/components/buttons` to see if my proposed patch feels better or worse?

[2021-04-16 12:04] JohnRDOrazio commented on #19797
I find that to be an odd behaviour, resulting in unexpected results for users. Why should no filters be applied when there is an existing value in the input? No filters should be applied only when there is no value, not when there is an existing value, in my opinion. I have updated the example with a second autocomplete, demonstrating my fix for an expected behaviour:
https://codesandbox.io/s/mate

[2021-04-16 12:09] mnajdova commented on #25773
I apologize, I spend more time on this issue, seems like in the original codesandbox, the import to the `ThemeProvider` was not correct! We should import from `@material-ui/core/styles`, not `@material-ui/core`! This is easy to be overlooked :( https://codesandbox.io/s/pensive-bhaskara-i7r09?file=/src/theme.js

I am closing the issue and PR as it seems like everything is workingas expected, just b

[2021-04-16 12:09] #25773 closed

[2021-04-16 12:38] Frekansapp commented on #25767
@oliviertassinari Thank you.

[2021-04-16 12:43] mnajdova commented on #25792
@Ashimriat could you please provide minimal reproduction, ideally sharing a codesandbox wit the issue?

[2021-04-16 12:45] Ashimriat commented on #25792
@mnajdova I can't provide full code  example unfortunately, but I will try to reproduce it on some simple example

[2021-04-16 12:54] mnajdova commented on #25790
@ethoman could you please share a codesandbox with minimal reproduction so we can easily debug? From first look into the code, I guess the names should be put on the `<TextField />` inside the `renderInput`, but I may be wrong.

[2021-04-16 12:55] mnajdova commented on #25792
Sounds good.

[2021-04-16 13:08] #25774 closed

[2021-04-16 14:08] dknadratsenka commented on #25759
@mnajdova , how should i migrate my huge app from mui v4 to v5, if i already have overriden CSS (webkit scrollbar) for MuiBox by theme? There is no any way to migrate to the latest version and do not break styles in app.
I believe MuiBox should be available in theme still.
Why was it removed?

[2021-04-16 14:13] #25755 closed

[2021-04-16 14:16] mnajdova commented on #25791
I could repro https://codesandbox.io/s/priceless-varahamihira-it4ox?file=/src/App.tsx The only way I could avoid the error was to use case on that line.
[code]

Not sure why it is happening with this prop only 😕

[2021-04-16 14:28] maximenathan commented on #25779
I did play with the Select doc but it seems that when the select value empty the bug appear

![image](https://user-images.githubusercontent.com/7127156/115039380-b3b06480-9ed0-11eb-8587-d2982babd16c.png)

https://codesandbox.io/s/selectvariants-material-demo-forked-ec69p?file=/demo.js

[2021-04-16 14:36] oliviertassinari commented on #25779
@maximenathan You force the shrink state on the label. If you don't want to compose the components, use `TextField select` instead, and soon #21782.

[2021-04-16 15:09] mnajdova commented on #25759
@dknadratsenka my bad for not adding the `MuiBox-root` class on the `Box` component, we should definitely add it. Would that help your migration. I'd say you could easily move the overrides from the `MuiBox` to the `MuiCssBaseline` style overrides inside the theme for example, by using the `MuiBox-root` class:

https://codesandbox.io/s/nervous-dust-fmbl6?file=/src/App.js

[2021-04-16 16:14] mnajdova commented on #25075
Coming a bit late to this, but seems like changing the order of the `root` and the other overrides is creating a problems. See https://codesandbox.io/s/wandering-cloud-pvpwc?file=/src/App.js:0-592 Currently if we do:

[code]

The styles defined under `root` win which is not intuitive at all. I know we came again to this multiple time, but it's important to get it right.

So we should do one of the

[2021-04-16 16:31] vince7488 opened #25797 "Drawer API has no component='<html-tag>' prop"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Why is the drawer component stuck with `<div>`?  What if I want it to be an `<aside>` tag?

## Examples 🌈

## Motivation 🔦

[2021-04-16 17:44] #24566 closed

[2021-04-16 18:46] mnajdova commented on #25797
You can use the `PaperProps={{ component: 'aside' }}` in order to change it. See https://codesandbox.io/s/swipeabletemporarydrawer-material-demo-forked-x4m20?file=/demo.js

[2021-04-16 18:46] #25797 closed

[2021-04-16 19:25] rexwreyes opened #25800 "[DatePicker] cant read ISO 8601 date and time?"
I am using AWS App Sync with React/Material UI.  I have some dates in AWSDateTime/ ISO 8601 date and time format `YYYY-MM-DDThh:mm:ss.sssZ` I need to be able to read/change with the TextField Date/Time picker.  I get errors both ways, the most common being:

`Unable to parse as a valid DateTime Object.`

From what I can tell, Material UI is displaying the seconds incorrectly.  Is this intended?  I

[2021-04-16 19:49] oliviertassinari commented on #25075
@mnajdova Oh my bad. I didn't realize this constraint existed. Are you sure about the diff in option 1. ? It doesn't solve the issue, on my end.

[2021-04-16 20:01] ethoman commented on #25790
Sure thing will do - I tried that before I posted this and it did not work. Also, with Select, the name is on the actual Select component and not the renderInput and it works for that but not Autocomplete. I will add a codesandbox when I have time this weekend.

[2021-04-16 20:24] #12700 closed

[2021-04-16 20:48] mnajdova commented on #25075
Can you share a scenario that doesn't work? I was able to override both the root as well as the styles for the label slot via:

[code]

The only thing we need to keep an eye on is to default to an empty object if there isn't any override, hence I changed it to new object and spread. Again, I think this is easy to be overlooked..

[2021-04-16 20:55] oliviertassinari commented on #25075
The problem I see with option 1. is the reproduction provided at the top. I believe it's breaking it. Only option 2. seems to satisfies both constraints (I didn't test it).

[2021-04-16 22:12] mnajdova commented on #25075
@oliviertassinari I've created https://codesandbox.io/s/optimistic-feynman-y5teq?file=/src/App.js based on https://github.com/mui-org/material-ui/pull/25803 which applies Option 1. I don't see any issues (or maybe I am too sleepy 😃 )

[2021-04-16 22:16] mnajdova commented on #25800
Can you please provide a codesandbox with the code so we can debug easier?

[2021-04-16 22:22] oliviertassinari commented on #25075
@mnajdova It works, you are right. So it's not only an issue with the Button but with all the components. e.g.

[code]

I would personally prefer option 2 to simplify the logic and discourage the developer from mixing nested selectors in the root slot with other slots.

[2021-04-16 22:41] mnajdova commented on #25075
Agree, I’ll handle it next week

[2021-04-16 23:40] oliviertassinari commented on #25791
Using `createStyles` solves the issue: https://codesandbox.io/s/lingering-silence-r62nc?file=/src/App.tsx:108-120. I'm closing as it's v4, it doesn't worth going after the root cause.

[2021-04-16 23:40] #25791 closed

[2021-04-17 00:55] itsUndefined opened #25806 "[Link] a11y issue on some themes because of missing underline"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Underline is by default only on hover failing the [WCAG 1.4.1 Criterion](https://www.w3.org/TR/WCAG20-TECHS/F73.html) on some themes.

## Expected Behavior 🤔

Underline is automatical

[2021-04-17 03:05] siriwatknp commented on #20012
@oliviertassinari @mnajdova Is there any downside if `sx` prop can be a function that provide theme so `useTheme` does not needed (since the sx prop already tied to the theme).

[2021-04-17 04:19] igaponov opened #25808 "rgba to hex doesn't work"
Function hexToRgb supports hex values with alpha channel, but rgbToHex doesn't.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

rgbToHex returns incorrect color, alpha value is just converted to hex

## Expected Behavior 🤔

rgbToH

[2021-04-17 04:49] mnajdova commented on #20012
@siriwatknp we were considering this API but decided not to add it until we have a real use-case, see https://github.com/mui-org/material-ui/pull/23053#issuecomment-712042281 There is a discussion on the PR if you are interested to follow the logic of bow we ended with the decision :)

[2021-04-17 08:24] dknadratsenka commented on #25759
@mnajdova thanks. It would help my migration if you would add this class back.

[2021-04-17 09:05] #25744 closed

[2021-04-17 12:24] oliviertassinari commented on #25481
Regarding the topic on "Picker vs. Input", in hindsight, I think that:

- It could be great to have a `DateInput` component that only handles the textbox. For instance, with a birthday picker, end-users don't need the popup.

<img width="254" alt="Screenshot 2021-04-17 at 14 14 54" src="https://user-images.githubusercontent.com/3165635/115112755-4d3a4d80-9f87-11eb-83e4-6a9ed4ed44c1.png">

- I thin

[2021-04-17 13:53] vicasas commented on #13100
@oliviertassinari If it is part of material design, shouldn't we have it the same? Even though it can be done with other components, I feel that it should exist as a quick-use component.

Developers will not want to spend time styling according to material design, they will wait for a solution delivered by MUI. As for example in Vuetify https://next.vuetifyjs.com/en/components/banners/

[2021-04-17 14:00] oliviertassinari commented on #13100
@vicasas There isn't any specific about it

[2021-04-17 14:00] #13100 closed

[2021-04-17 14:02] oliviertassinari commented on #19664
They have updated the implementation: https://next.vuetifyjs.com/en/components/buttons/#flat.

[2021-04-17 14:43] oliviertassinari commented on #25738
@croraf I think that we already had this discussion in the issue history around 2016. We aim to be as close as the native components are possible. Basically, the less you have to learn about Material-UI, the better. And yes, it can mean developers have to learn more about the DOM and React API.

I have added the "waiting for upvotes" label because I still think that this issue would be valuable fo

[2021-04-17 15:15] siriwatknp opened #25814 "[Select] className of input is overwritten if styled Select"
If styled Select and pass `input` as props with className specified, the className is not applied as expected.
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

className is overwritten by emotion

## Expected Behavior 🤔

cla

[2021-04-17 18:49] oliviertassinari commented on #15597
Is there something left to do on this issue?

[2021-04-17 18:59] aleksander351 commented on #12208
@oliviertassinari
The example is not working with bottom positioned select elements. The menu covers the select.

![select-position](https://user-images.githubusercontent.com/7508670/115123913-aa51f580-9fbf-11eb-909f-8c5c63b449e7.jpg)

[2021-04-17 18:59] oliviertassinari commented on #18986
I'm closing as I believe we solve the pain point in #24862.

[2021-04-17 18:59] #18986 closed

[2021-04-17 19:01] oliviertassinari commented on #19346
Closing as it's not an issue with Material-UI. But an integration question between React and your testing solution.

[2021-04-17 19:01] #19346 closed

[2021-04-17 19:08] oliviertassinari commented on #20714
This was fixed in v5. We removed the notion of createGenerateClassName and used hard coded global class names instead

[2021-04-17 19:08] #20714 closed

[2021-04-17 19:16] oliviertassinari commented on #21551
I'm closing as this pain doesn't seem to be a strong one. We improved the documentation around the theme module augmentation, it's might be enough.

[2021-04-17 19:18] oliviertassinari commented on #21749
@mnajdova Is there anything left to be done on this RFC? I'm asking because it seems that we are done (related to #15573).

[2021-04-17 19:26] oliviertassinari commented on #23337
Duplicate of #11653

[2021-04-17 19:26] #23337 closed

[2021-04-17 19:29] oliviertassinari commented on #23830
I haven't seen this issue for a while. I will assume it was fixed

[2021-04-17 19:29] #23830 closed

[2021-04-17 19:42] NALLADILEEPREDDY opened #25820 "Issue with position sticky scrolling"
While scrolling the components including button as a child is not working properly with position sticky.

[2021-04-17 19:49] aleksander351 opened #25821 "Select menu props not working on bottom positioned element"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

We are setting the position of the menu popup below the select element with the following code. But this is not working if the element is positioned at the bottom of the page.
`

[2021-04-17 20:59] #25820 closed

[2021-04-17 21:03] eps1lon commented on #21551
@oliviertassinari

Was

-- https://github.com/mui-org/material-ui/issues/21551#issuecomment-648195104

adressed?

[2021-04-17 21:18] oliviertassinari commented on #21551
As far as I understand it, `DefaultTheme` is private and the problem is @gSarciotto is trying to solve is documented in length in the documentation.

What's the root cause of the pain? What's the proposed solution?

[2021-04-17 21:21] oliviertassinari commented on #25821
I would propose the same solution as https://github.com/mui-org/material-ui/issues/23919#issuecomment-742670320

[2021-04-17 21:44] eps1lon commented on #21551
That comment indicates otherwise.

[2021-04-17 22:16] oliviertassinari commented on #20640
This is now supported in v5. Developers can change the default value of the `classes` prop **as long as** it's not already defined. Proof: https://codesandbox.io/s/continuousslider-material-demo-forked-cbnbp?file=/demo.tsx

[code]

Note that we don't encourage doing it. Prefer applying custom CSS targeting the existing class names.

[2021-04-17 22:16] #20640 closed

[2021-04-17 23:09] oliviertassinari commented on #19466
@galechus We have worked on this problem in v5 with #15573. We have solved the problem for existing props as well as for JavaScript with new props:

[code]

<img width="490" alt="Screenshot 2021-04-18 at 00 22 08" src="https://user-images.githubusercontent.com/3165635/115128166-23f7dc80-9fdc-11eb-9b67-0142db51480b.png">

https://codesandbox.io/s/continuousslider-material-demo-forked-nxq1s?file=/de

[2021-04-17 23:12] oliviertassinari commented on #18000
Closing for #15573.

[2021-04-17 23:12] #18000 closed

[2021-04-17 23:35] oliviertassinari commented on #25808
@igaponov Thanks for the report, the proposed solution looks great

[2021-04-18 00:19] oliviertassinari commented on #25806
Fair enough. In this case, I would encourage we reduce the opacity of the underline.

[code]

This seems to satisfies the aesthetic and accessibility constraints, e.g.

<img width="624" alt="Screenshot 2021-04-18 at 01 55 24" src="https://user-images.githubusercontent.com/3165635/115129766-480dea80-9fe9-11eb-924c-9e045f902c85.png">

**Before**
<img width="536" alt="Screenshot 2021-04-18 at 01 59 0

[2021-04-18 01:32] mnajdova commented on #21749
Correct, we are done. We can close it.

[2021-04-18 01:32] #21749 closed

[2021-04-18 03:12] #25814 closed

[2021-04-18 07:39] siriwatknp commented on #24405
@ConAntonakos Oh no, just saw your comment that the Tabs migration is almost done 😢

[2021-04-18 08:11] benblayer commented on #19689
Same here... Any updates?

[2021-04-18 10:48] oliviertassinari commented on #24862
This was a duplicate of #18986. I have closed it too.

[2021-04-18 10:52] oliviertassinari commented on #18000
@mnajdova Actually, this makes me wonder. There is currently no way to dynamic render CSS in the theme based on the props. Is this something we need?

[2021-04-18 11:58] DanielJDupont opened #25828 "[docs] Ads repeating with broken styling"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The ads duplicate with missing styling.

![adsRepeat](https://user-images.githubusercontent.com/43941960/115144304-fc276980-a019-11eb-92c5-37f029fc51a1.png)

## Expected Behavior 🤔

N

[2021-04-18 12:11] mbrookes commented on #25681
So long as Crowdin sync is running before v5, then I don't think it's a high priority.

[2021-04-18 12:44] jonomatusky opened #25829 "fontSize prop not applied to Icon component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The fontSize prop does not affect the <Icon /> component. Using sx doesn't affect size either. Tested in Chrome 89.0 and Safari 14.0.

See example in the new docs. The fontSize prop d

[2021-04-18 14:46] vicasas commented on #24405
The components we have in the lab written with Typescript should they be migrated using Typescript or should they pass to JavaScript like all other components?

[2021-04-18 14:52] oliviertassinari commented on #24405
TypeScript, unless there is a good reason not too.

[2021-04-18 15:39] oliviertassinari commented on #25829
@jonomatusky Thanks for opening an issue so we can have a focused discussion on this problem. We have been aware of this problem for a while.

On the surface, it's a problem specific to the documentation. It works once you open it in codesandbox. We need to set `injectFirst` to support all the legacy makeStyles/withStyles code we still have in the docs.

At the root cause, it's an issue with emoti

[2021-04-18 22:30] oliviertassinari commented on #25578
Ok, in this case, it sounds like we should ignore point 2. it's not worth it, and will eventually be fixed by removing the backdrop. As for point 1. Are we happy to move forward with it? It doesn't seem to have any major downsides.

[2021-04-19 00:29] oliviertassinari commented on #14559
@neillindberg #23630 improves a bit the warning

[2021-04-19 04:25] SntsDev opened #25836 "Clear TextSearch.id when clearing the input textbox"
Hi. I was wondering if this could be changed a little bit. We're handling the CLEAR action on the input textbox to set { id:"", text: ""}. That is, to empty the selection.

However, this warn appears many times when we do that. Can it also check the case of value.id !== "" before warning?

https://github.com/mui-org/material-ui/blob/1617f4ee72920d40d0b0f9dac34f90b82dadf4bf/packages/material-ui-lab

[2021-04-19 08:01] eps1lon commented on #25578
No. I'll take a look at it over the week but there's a simple solution that requires digging up old context (might be impossible since PRs are oftentimes underdocumented) or a more DOM based solution like https://github.com/mui-org/material-ui/pull/25741.

Since it's a fairly exotic use case with a simple solution there's no need to rush this like you're currently doing. ClickAwayListener is a com

[2021-04-19 08:15] codewangshuhao commented on #19664
I have tried this solution, and I think the stuttering feeling has improved significantly, but the click feel of the button is still not the same as that of material.io[just for myself，i will only use it on pc]

but as the ui framework，we should discuss the final realization plan with more developer，and change it more carefully.

[2021-04-19 08:25] eps1lon commented on #25836
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-04-19 08:33] #25808 closed

[2021-04-19 08:34] aleksander351 commented on #25821
First of all, I would close this Issue only if the specific problem is solved and not some similar issue on mobile devices.

No matter what the material design spec says about select menu positioning, a select component should at least have the option to mimic a browsers native select functionality. Which is for bottom positioned select elements like the image below:

![image](https://user-images.

[2021-04-19 08:35] #18811 closed

[2021-04-19 08:46] eps1lon commented on #21801
@mracette Thanks for the repro. This seems to be caused by some configuration in codesandbox. When I download the codesandbox as a zip, extract, and install it, the error is not reported and the prop and all `ListItemClasses` are recognized:
![Screenshot of IntelliSense when hover over `ListItemClasses`. All classes are listead and the prop is not rejected](https://i.ibb.co/Y75HmN5/material-ui-iss

[2021-04-19 08:47] #25290 closed

[2021-04-19 09:11] #25763 closed

[2021-04-19 09:36] sachindongare029 opened #25837 "textfield component's label position"
textfield component's label position changed to right automatically. And there is no props to align them to left.
Is there any way to align labels to left.

[2021-04-19 10:07] picosam commented on #18450
I also second the above comment.

[2021-04-19 10:51] mnajdova commented on #18000
We have this ability with the variants API as you've mentioned. As far as I remember from our discussions before, we still support the `styleOverrides` because we don't want to introduce too many breaking changes. The keys there are strict props combination, the variants API supports any props combination. Is there other use-case that the variants API doesn't support, or do you propose we change t

[2021-04-19 11:07] oliviertassinari commented on #18000
Interesting. A couple of thoughts:

- If flat CSS specificity in the theme overrides is important, we will need to reorganize the styleOverrides and keep each slot accessible in the theme, in the long term.
- There is currently no way to dynamic handle props from the theme. For instance, if a developer wants to implement the paper box shadow elevation, he will have to create a component with the `

[2021-04-19 11:28] #25837 closed

[2021-04-19 11:33] oliviertassinari commented on #25837
@sachindongare029 Use the customization AP

[2021-04-19 11:33] #25828 closed

[2021-04-19 11:34] mnajdova commented on #18000
I don't understand why the variants API is a hack. As far as I remember we had discussion around adding `root` in the variants API, but we decided intentionally to not add that complexity - https://github.com/mui-org/material-ui/pull/21648#discussion_r450362827 (had to search for it 😄 ) In my opinion, flat CSS specificity is important when defining the initial styles (that is why we decided to go

[2021-04-19 11:35] mnajdova commented on #18000
One more thought, if we support props in the `styleOverrides`, I don't think it make sense to have keys like, `colorPrimary`, which will bring us again to the breaking changes.

[2021-04-19 11:36] mnajdova commented on #25829
As far as I remember this is an issue during the transition period, where JSS is currently applied after emotion so that the overrides would work. I think emotion should always be added after the icons's styles is loaded, isn't that right?

[2021-04-19 11:55] mnajdova commented on #25075
Another potential solution to this problem is to define the styles for the slots independently as done in https://github.com/mui-org/material-ui/pull/25809 not sure what the cost of that would be. cc @siriwatknp

[code]

[2021-04-19 12:25] croraf commented on #25738
I understand the philosophy of aligning with native components, but I'm not sure this is the best way. Native HTML stuff is often buggy and drawn back by the legacy stuff.

[2021-04-19 13:06] rotimi-best commented on #14342
Just in case someone got in here looking for a way to scroll to a particular item in the `<MenuItem>` component, even after you store the ref and you want to access that item (when you open the menu for example, this means you will pass a function to the `onOpen` prop), you should have a setTimeout (in that function) to make sure the element has been rendered, if not the ref.current will be null (

[2021-04-19 14:25] oliviertassinari commented on #14342
@rotimi-best This is likely because of the portal behavior. I have seen this in some of the core components. What you can do is trigger the scroll only once the ref resolves, not on a setTimeout.

[2021-04-19 14:27] Pulkownikfgs commented on #21801
@eps1lon try `"@material-ui/core": "^4.11.0"`

https://codesandbox.io/s/material-ui-issue-21801-example-forked-83h6h?file=/package.json

<img width="1403" alt="2021-04-19 в 17 22 25" src="https://user-images.githubusercontent.com/32388967/115252799-75b37a80-a134-11eb-9759-dc716f04bb62.png">

[2021-04-19 14:35] nour-sidaoui commented on #20896
### calling Number on NewValue worked for me:
`range: [Number(newValue[0]), Number(newValue[1])]`

[2021-04-19 14:35] oliviertassinari commented on #25837
What did you mean by this?

[2021-04-19 15:03] oliviertassinari commented on #25829
@mnajdova Correct.

Based on the amount of JSS we have in the documentation, it might take a while before we can fix the docs (what I called the surface issue as opposed to the root).

[2021-04-19 15:05] oliviertassinari commented on #18000
@mnajdova Sounds good, I think that it's a topic for v6.

[2021-04-19 15:20] thecodejack opened #25840 "Unable to apply all styles via theme in v5 alpha"
I am trying to apply custom styles for components via `theme.components` so that all related material ui components styles gets applied. But due to specificity issues, some are not getting overriden.

- [ x] The issue is present in the latest **alpha** release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a dupli

[2021-04-19 15:22] mnajdova commented on #25829
I can't seem to find the discussion, I remember that the initial implementation of `StylesProvider` (back in emotion v10) didn't have the `prepend` option so we manually were adding the `style` tag - https://github.com/mui-org/material-ui/pull/23934/files#diff-679c878910ba4ea2dbd14791e3ffb71dd394886d694de7991083b9069612bee6R10 but then with the upgrade do 11, we changed it to `prepend`. I don't re

[2021-04-19 15:56] sachindongare029 commented on #25837
@oliviertassinari  I haven't changed any style but when I started app in morning. The alignment of labels changed.
Please refer attached screenshot...
![Screenshot from 2021-04-19 20-54-23](https://user-images.githubusercontent.com/40762204/115266531-e9b24a80-a155-11eb-91ad-5962d63e5bdb.png)

[2021-04-19 15:59] felixbuchholz commented on #20068
@oliviertassinari `filterOptions={x => x}` saved my afternoon!

[2021-04-19 16:06] mnajdova commented on #25840
@thecodejack looks like the bumping of the specificity for the `padding` values is intentional, so that the component would look decent depending on whether there is a popup icon, clear indicator etc. You should be able to override other CSS Props. Is there a real use-case for these specific overrides?

[2021-04-19 16:30] rotimi-best commented on #14342
@oliviertassinari oh that's cool, I tried googling it but couldn't find it. How do I know when a ref resolves in a trigger function?

[2021-04-19 16:38] thecodejack commented on #25840
Yes. I want to adjust margins and paddings for couple of components especially. And due to the specificity issues, I am unable to apply same via `createMUITheme`.

Is there anyway I can override styles(with multiple classes as a css selector) using `createMUItheme`?

[2021-04-19 17:00] mnajdova commented on #25840
Sure, you can use any selector in the overrides to bump the specificity, for example - https://codesandbox.io/s/combobox-styles-override-problem-forked-mf36t?file=/index.tsx

[2021-04-19 17:13] lcdss commented on #23637
Same thing here using Material-ui 5.0.0-alpha.29.

Firefox Developer Edition 88 on Linux:
![firefox-developer-edition](https://i.imgur.com/403d8uQ.png)

Chromium 90 on Linux:
![chromiun](https://i.imgur.com/45gdYyG.png)

[2021-04-19 17:21] mnajdova commented on #25577
@antoine-moquereau thanks for exploring this. @eps1lon seems like we are always ignoring the invalid inputs on the mobile pickers. Do we want to keep this, or re-consider to allow adding validation if developers wants to?

[2021-04-19 17:23] mnajdova commented on #25563
I'd say we should we wait for upvotes on this one? What do you think @oliviertassinari @eps1lon?

[2021-04-19 17:29] mnajdova commented on #25422
Thanks for reporting! I could repro
![971E3A2E-0551-4437-A56E-CE3D0D03BE66](https://user-images.githubusercontent.com/4512430/115278297-946e3d00-a145-11eb-9741-3800bf1395e8.png)

[2021-04-19 17:48] mnajdova commented on #25397
This is not supported currently. Even the description of the props `disablePast` and `disableFuture` states that they are disabling future/past **days**

![image](https://user-images.githubusercontent.com/4512430/115280226-fc258780-a147-11eb-8e6e-14034e7f2c71.png)

I'd say this is low priority, but we could wait for upvotes. What do you think @eps1lon ?

[2021-04-19 18:01] oliviertassinari commented on #23637
@lcdss Do you have a codesandbox? Is it related to a custom font?

[2021-04-19 18:05] oliviertassinari commented on #25837
@sachindongare029 If you have a minimal isolated reproduction with the latest version (v5.0.0-alpha.30) please open a new issue. I would expect this issue to have already been fixed.

[2021-04-19 18:05] #25528 closed

[2021-04-19 18:40] oliviertassinari commented on #25563
I have seen a fixed number of weeks as the default or an existing option in:

- Google's products (Google Calendar + Gmail)
- http://react-day-picker.js.org/examples/customization-fixed-weeks
- https://ant.design/components/date-picker/
- https://github.com/arqex/react-datetime

There is also another topic bundled in this discussion: the display of days from another month: #25842.

[2021-04-19 22:12] mnajdova commented on #25840
Fair enough, we probably do not need specificity of 4. We can reduce it 👍

[2021-04-19 22:53] rexwreyes commented on #25800
Well the error itself is coming from AWS App Sync and i am not building a codesandbox that has API keys for my clients server just so we can see that error.

The issue, like i said is that I can't figure out how to get the DatePicker to read or write the datetime in the ISO 8601 date and time format  `YYYY-MM-DDThh:mm:ss.sssZ`.   It only seems to work with `YYYY-MM-DDThh:mm:ss` or without the UTC

[2021-04-19 22:54] oliviertassinari commented on #25836
@SntsDev This is confusing. To clear, you need to set the value to `null`.

[2021-04-19 23:14] oliviertassinari commented on #25800
@rexwreyes This depends on the date library you are using moment, date-fns, luxon, dayjs. Closing as no reproduction was provided

[2021-04-19 23:14] #25800 closed

[2021-04-19 23:40] oliviertassinari commented on #25578
@eps1lon Happy to hear more about the two solutions you have in mind 👍

I personally think that mouseUp is not a solution. It fails with users that use the scrollbars, so it seems to be worse for data grid users if we changed the default trigger. I also think that the use case is standard. A Select inside a ClickAwayLister is all that is needed. https://codesandbox.io/s/clickaway-material-demo-for

[2021-04-19 23:46] oliviertassinari commented on #19664
@codewangshuhao Your description matches my experience with the diff. It feels better and it's not matching material.io, for instance, they have a much faster transition (I didn't aim for it).

[2021-04-20 01:24] TimSusa opened #25845 "Rotary Knob which acts like a Slider"
# Summary
In order to save space in layouts, where you have a lot of sliders, the idea appeared to just use rotary knobs here, which simply act like sliders.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Features 💡
- completely behaves like a normal slider ( just using y coord diff calculations ->

[2021-04-20 02:38] Vikram710 commented on #24127
will he be working on the font
![muitext](https://user-images.githubusercontent.com/49572404/115329219-a1277b00-a1af-11eb-8d6d-2f7f29b88f01.png)
 color issue in dark mode?  https://next.material-ui.com/

[2021-04-20 03:24] ifndefdeadmau5 opened #25846 "[System] Provide an ability to change default behavior of responsive values"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

For now, responsive values only behaves as we're using `breakpoints.up('xx')`, and there's no way around to make it behaves like `breakpoints.down('xx')`. Providing a way to change this would be useful to some developers trying to add respons

[2021-04-20 06:13] thecodejack commented on #25840
BTW this is not just with `autocomplete`. There are other components where this can be a problem.

[2021-04-20 07:00] sajidfrommerqata opened #25848 "I'm trying to remove cell border but I'm unable to handle it"
I tried disableClickEventBubbling and disableSelectionOnClick but both are showing no effect for the cell border.

For more details, please look at the screenshot.

Screenshot: https://prnt.sc/11qkp1s

Sandbox: https://codesandbox.io/s/datagrid-quick-start-forked-7s4rs

Thanks

[2021-04-20 07:28] eps1lon commented on #21801
Thanks. I'll close in this case since it no longer reproduces with v5. We don't intend to backport type-related issues to v4.

[2021-04-20 07:28] #21801 closed

[2021-04-20 07:41] eps1lon commented on #25397
`disablePast` should consider its context. For example, in a DatePicker it should only error if it is given a past day. But in a DateTimePicker it should also error if the hour is in the past.

Right now `disablePast` only considers days which is confusing. I think it's reasonable to expect that `<DateTimePicker disablePast />` considers time and not just date.

The immediate solution is to rename

[2021-04-20 07:43] eps1lon commented on #25422
@mnajdova Could you set up a codesandbox so that we understand the issue in the future. A non-permalink to the docs might get stale in the future.

[2021-04-20 07:53] eps1lon commented on #25578
Let's not strawman each other. I did not include a full implementation so obviously there are cases where a naive implementation fails.

It's also concerning that you added `mouseEvent="onMouseUp"` if you know that this naive solution has bugs. Maybe this was clear when you added it but since you failed to provide context back then we now have to do all this work again. A perfect example why this

[2021-04-20 07:55] eps1lon commented on #25577
intuitively I would expect validation to work the same on mobile or desktop. But there might be some UX reasons why this is not the case.

But it's clear that others are confused by this as well so either we find out why the current behavior exists and document it. Or we fix it.

[2021-04-20 08:43] mnajdova commented on #25422
Sure, here it is https://codesandbox.io/s/basicdatetimepicker-material-demo-forked-tefqu

[2021-04-20 10:10] mnajdova commented on #25846
We could technically do this, by providing a new config flag in the theme. The place where we are setting this is here [breakpoints.js#L42](https://github.com/mui-org/material-ui/blob/next/packages/material-ui-system/src/breakpoints.js#L42) We will however need do some adjustments, for example, sort the media statements in the opposite order to some bugs we had in the past by providing an addition

[2021-04-20 10:18] mnajdova commented on #25840
Can you provide an example? It's important to make a difference where this is intentional and where it may be a bug.

[2021-04-20 10:32] oliviertassinari commented on #25846
I would vote against supporting it, to encourage developers in the mobile-first approach. Is there any other CSS utility libraries that allows it? I'm not aware of any.

[2021-04-20 12:15] Rakhisharma opened #25851 "[TextField]: React does not recognize the `InputProps` prop on a DOM element."
Warning: React does not recognise the `InputProps` prop on a DOM element.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Functionality of `InputProps` works fine, but I get below warning in console when I run `yarn test`

`React is not able to recognise the  InputProps. `

## Ex

[2021-04-20 12:43] SntsDev commented on #25836
@oliviertassinari, thanks, I realized that when creating the minimal, complete and reproducible example.

[2021-04-20 12:43] #25836 closed

[2021-04-20 12:52] mnajdova commented on #25851
I cannot see an warning on the codesandbox. As far as I can see on the codesadnxbo you are using version next, but in the issue you are saying you are using "@material-ui/core": "4.9.9" with "react": "16.13.1". You could please update the codesandbox to the correct version & combinations so we can reproduce it?

[2021-04-20 13:45] fel1xw opened #25852 "[theme] Fails when combining @chakra-ui/react and @material-ui/core"
```TypeError: undefined is not a function```

It fails here: https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Autocomplete/Autocomplete.js#L340

- [x] The issue is present in the latest release aka _alpha_
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
`<A

[2021-04-20 14:02] lcdss commented on #23637
This only happens on Firefox (as far as I have tested) and I'm not using a custom font. Problably this is related to #19584.

https://github.com/mui-org/material-ui/issues/19584#issuecomment-582852051

[2021-04-20 14:15] bc185168 commented on #5711
I am still experiencing this issue with Material-UI 4.11.1 with Material UI Buttons, List Items, and AutoComplete.

[2021-04-20 14:18] oliviertassinari commented on #25790
I'm closing as it's works find with the solution proposed by @mnajdova https://codesandbox.io/s/combobox-material-demo-forked-94smc?file=/demo.tsx

[2021-04-20 14:18] #25790 closed

[2021-04-20 14:48] mnajdova commented on #25852
I've switched the providers, and added **second** the `ThemeProvider` coming from Material-UI and it works - https://codesandbox.io/s/focused-meninsky-uj9js?file=/src/App.js:663-664 Both libraries are using emotion's `ThemeProvider`, but expect and create different theme structure. If you would like to use both libraries, I'd suppose you need to take care of making sure that the theme that you use

[2021-04-20 14:49] mnajdova commented on #25852
I am closing this as I don't think it's worth exploring any further.

[2021-04-20 15:17] alippai commented on #25481
Does this issue cover https://github.com/mui-org/material-ui-pickers/issues/1526 ?

[2021-04-20 15:40] oliviertassinari commented on #25852
Interesting issue. It's a case we discussed a long time ago when we talked about the migration to emotion/styled components. Basically, it's about how our theme structure might conflict with the one existing apps have.

As @mnajdova said, it's unlikely we can easily solve this.

@fel1xw I would love to learn more about the incentive for using both libraries. Is there something that Material-UI cou

[2021-04-20 16:21] oliviertassinari commented on #24127
@@Vikram710 We are aware of this issue. @mnajdova has been owning the topic.

[2021-04-20 16:36] oliviertassinari commented on #25845
@TimSusa So, if I understand correctly it's a feature request for a circular slider, a knob, like https://eskimoblood.github.io/rc-knob. It's a bit related to #22482. Is this accurate?

[2021-04-20 17:48] eran-or opened #25856 "Label of TextField not aligned to the right direction in rtl mode (reopen of #9332)"
here is the https://codesandbox.io/s/2ezlw?file=/demo.tsx:0-453

And I just added the label: !!!This code not working - the solution is beneath!!!

[code]

I followed this: https://github.com/mui-org/material-ui/issues/9332 and i don't know what they are talking about - the links inside not working and the demo in the documentation not working too. it's seems like old thread.

After wasting my tim

[2021-04-20 18:01] #25856 closed

[2021-04-20 18:01] oliviertassinari commented on #25856
@eran-or You need to configure the JSS plugin, as well. You can follow the guide in the documentation.

[2021-04-20 18:07] SupeDeDupe commented on #17339
@oliviertassinari I have the same question as @pablof300: I updated to @material-ui/core v4.11.3, verified `process.env.NODE_ENV !== 'test'`, and still getting `Warning: Failed prop type: Invalid prop `anchorEl` supplied to `ForwardRef(Menu)`` :thinking:

[2021-04-20 18:11] eran-or commented on #25856
what if i want to use the create-react-app and prefer not to configure the webpack with fork or eject?
jss solution is not fits to everyone and everyone working with css in js. im working with css modules and i'm happy.
if I must configure then i prefer to not use the jss but this simple css solution.

[2021-04-20 18:15] supermacro commented on #11379
This works for me (same as shown above by *oliviertassinari*:

[code]

The above works for me in typescript with the following deps:

[code]

[2021-04-20 18:35] oliviertassinari commented on #25578
I can't remember the history of this component. Digging into it, I could find these key events:

- #7059 introduction of the component with mouseup
- #10694 introduction of mousedown and onclick
- #15743 switch to onclick by default

@eps1lon Unless I have missed something, here is one developer coming up with this use case: #19681.
Another, damien also faced this use case in https://github.com/mu

[2021-04-20 18:41] igortas commented on #10582
It's not working if u swap the input field between number or string type.... Let's u enter special characters and when u swap the input field as string, shows NaN...

[2021-04-20 18:41] oliviertassinari commented on #25856
It's not related to webpack https://material-ui.com/guides/right-to-left/

[2021-04-20 18:41] igortas commented on #10582
It's not working if u swap the input field between number or string type.... Let's u enter special characters and when u swap the input field as string, shows NaN...

[2021-04-20 19:47] italodeandra opened #25857 "NodeJS v16 deprecation"
I'm currently testing NodeJS v16.0.0 and I'm getting the following message on the console.

There are several others, but as this is from `@material-ui/core@5.0.0-alpha.29` and no one mentioned it yet, I'm just doing my part.

[code]

https://unpkg.com/browse/@material-ui/system@5.0.0-alpha.30/styleFunctionSx/package.json

I don't even know what it is or why they changed it, but good luck.

And so

[2021-04-20 20:08] eps1lon commented on #25857
Thanks for the report.

https://github.com/mui-org/material-ui/pull/24090 broke some assumptions about our package layout. We need to make sure the `main` and `module` entries are correct and then see how we reconcile the assumptions with the real world.

[2021-04-20 20:13] eps1lon commented on #25481
I'm afraid not. This issue is mainly about terminology and composition not about component behavior.

While we're at it:  Just wanted to leave the suggestion of @m4theushw in yesterdays meeting about naming the components `DateField`. Personally, I find this the best candidate but I don't think it's realistic to move away from the current terminology.

[2021-04-20 22:48] italodeandra commented on #22486
Hey, I can work on this one!

I'll start a PR tomorrow and I hope I have something to show by the end of the day. Like you said, `nprogress` is simple and we can mimic it's behavior. I have some done some thinking design-wise and perhaps you can share you thoughts too.

The progress bar from `nprogress` has a glowing tip. Does it make sense to copy that too?
Or perhaps we should keep it Material a

[2021-04-20 22:56] oliviertassinari commented on #22486
Note that there is a NPorgress component in the `@material-ui/docs` package that can yield some extra context.

For the design, I guess sticking to YouTube/GitHub or another popular implementation could be enough.

For the theme customization, would using the default prop be enough?

[2021-04-20 23:23] italodeandra commented on #22486
Yes, I'm doing some investigation on all the links you added to the Benchmark.

Okay, I agree. YouTube/Chrome mobile is mostly just a LinearProgress fixed on the top.

Sorry, I didn't understand the question. My plan is to actually just use the LinearProgress with these extra stylings:

[code]

So does it also mean that I should clone LinearProgress theming or can we stick with `LinearProgressProp

[2021-04-21 00:37] ifndefdeadmau5 commented on #25846
@mnajdova oh I was wondered which part doing that work actually, thanks!

@oliviertassinari I'm not sure, but I think that there should be an escape hatch at least. while we can probably just use media query in the style sheet as a last resort, but personally I think that sorta breaks the point of existence of `sx prop`. Also the need of investigating into default style of every material-ui compon

[2021-04-21 02:00] ifndefdeadmau5 opened #25858 "[IconButton] Custom pseudo selector 'Mui-disabled' seems not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Did `.Mui-disabled` custom pseudo selector deprecated? in prior version(latest v4) `&$disabled` correctly applied `disabled` style, but after migration to v5 it doesn't seem to work.

[2021-04-21 05:26] japrogramer opened #25859 "GridList sort items vertically filling up cols instead of going across in a row to fill out the columns"
GridList sort items vertically filling up cols instead of going across in a row to fill out the columns
I want to sort a bunch of options in a dropdown vertically alphabetically and down a column.

currently the sorting is done across the row so the options go across in a row alphabetically
and I want them to go alphabetically down a column and to go to the next column when it becomes to long

[2021-04-21 06:07] georgiosd commented on #20173
Is this working for anyone else? Not me.

[2021-04-21 09:15] mnajdova commented on #25858
@ifndefdeadmau5 you should use the global class, but the selector was wrong, it should be `&.Mui-disabled` (without space) as it is applied on the root element. See https://codesandbox.io/s/jolly-neumann-7s86q?file=/src/index.tsx

[2021-04-21 09:15] #25858 closed

[2021-04-21 09:17] TimSusa commented on #25845
@oliviertassinari Oh yes you are right! Exactly! Sry if I missed this request.

[2021-04-21 09:17] mnajdova commented on #25859
Could you please provide a codesandbox example of the code you have? It would be easier to understand the request and debug.

[2021-04-21 09:21] oliviertassinari commented on #25859
I would personally close the issue upfront, per [this track record](https://github.com/mui-org/material-ui/issues?utf8=%E2%9C%93&q=is:both+is:issue+author:japrogramer).

[2021-04-21 09:23] oliviertassinari commented on #25845
@TimSusa Ok great. I'm closing as "won't fix". This use case is not popular enough for us to consider (by a long shot). If you want to build a complementary module to Material-UI, for the community, this would be great.

[2021-04-21 09:23] #25845 closed

[2021-04-21 09:30] TimSusa commented on #25845
Ok cool. I can do this. Do you have a specific overview on how your api requirements look like or should I just consider your slider component to provide a similar api?

[2021-04-21 09:34] oliviertassinari commented on #25845
@TimSusa Using the source as inspiration can help a lot

[2021-04-21 09:34] dfyz011 commented on #20152
I still have problem here in combination with react-form-hooks:
https://github.com/mui-org/material-ui/blob/42954448866f204b0cf7e35127d5d0af9c24d6fb/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L896

Version: "@material-ui/lab": "^4.0.0-alpha.56"

[2021-04-21 09:46] eps1lon commented on #25845
Why close this but add "waiting for upvotes" on the other issues? What decides what we may consider and what we don't?

[2021-04-21 09:49] eps1lon commented on #25578
Meaning it is irrelevant as an argument.

You do not believe this. I've had to argue with you in the past about this exact same issue. Now that it fits your narrative you're constructing this argument. Please let me do my work.

[2021-04-21 09:53] eps1lon commented on #25422
Forked with exact version numbers and frozen: https://codesandbox.io/s/basicdatetimepicker-material-demo-forked-k1nvx

[2021-04-21 10:06] oliviertassinari commented on #25845
@eps1lon We could add the "waiting for upvotes" label, no objection. I went a step further with "won't fix" as I couldn't find a single third-party library in the dev community, with the beginning of popular usage.

[2021-04-21 10:24] eps1lon commented on #25845
How is that not a reason to not wait for upvotes?

That's not relevant for analysis since that group is not defined. It would only be useful for analys if we know which packages are included at the time.

[2021-04-21 10:28] simonecervini opened #25862 "[Timeline] Add support for `align` override on items"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`<Timeline />` component supports 3 different alignments: `align: 'alternate' | 'left' | 'right'`. While this is enough for most cases, I believe it could be useful to add support for override in each `<TimelineItem />` with a `align: 'left'

[2021-04-21 10:33] oliviertassinari commented on #25845
@eps1lon it was meant as a shortcut, saving us the need to come back to issues that have the "waiting for upvotes" label and decide if they still deserve it to not. For instance, 1 year with the label and no feedback could be a great signal that it's not worth fixing.

If somebody find a knob component that has the beginning of popularity (say >10k download/month so we have a low-threshold) please

[2021-04-21 10:37] Rakhisharma commented on #25851
Hello, I have updated the version on my code sandbox.  But code sandbox is having some issue with running tests, here is the confirmed [issue](https://github.com/codesandbox/codesandbox-client/issues/5685), running test on code sandbox is  unresponsive.

I don't know how I can help you reproduce the issue, if code sandbox tests are frozen?

[2021-04-21 10:45] oliviertassinari commented on #25851
@Rakhisharma Please update the codesandox to use v5 and provide a clear reproduction step. It's not clear

[2021-04-21 10:56] ifndefdeadmau5 commented on #25858
@mnajdova My bad, thanks!

[2021-04-21 11:27] mnajdova commented on #24127
I'd say is best if we wait for the Designer on this one. We could use the help from the community on different topics at this moment, like https://github.com/mui-org/material-ui/issues/24405 or https://github.com/mui-org/material-ui/issues/13875 :)

[2021-04-21 11:38] Vikram710 commented on #24127
Sure ill start with #13875

[2021-04-21 12:48] oliviertassinari commented on #22486
@italodeandra I hadn't considered the option to use the linear progress. I see two issues if we do such:

1. Global customizations done to the LinearProgress will impact the NProgress component too. I fail to envision why customizations should be shared. For instance, it seems that what designers will most often want to tweak is the color of the NProgress
2. We pay the bundle size for props in the

[2021-04-21 13:05] italodeandra commented on #22486
I agree with you.

Does it make sense to copy the code from LinearProgress though? It is exactly what we need (the design, the progress animation, etc). Perhaps we should act like NProgress is a new component, but it uses LinearProgress internally. And we override the LinearProgress customization with NProgress's. And theme customization done to LinearProgress will also be ignored and keep NProgre

[2021-04-21 13:05] oliviertassinari commented on #25792
@Ashimriat I'm closing as the issue was open for 5 days. Feel free to provide a reproduction later on

[2021-04-21 13:05] #25792 closed

[2021-04-21 13:15] oliviertassinari commented on #22486
@italodeandra I think that if the source is simple enough, a duplication could work great.

[2021-04-21 13:26] italodeandra commented on #22486
You're right. What worries me is maintenance, because they will need to have the same code if you want to keep it consistent. They will look the same but with some small differences, like the default color being `secondary` or `contrastText` instead of `primary` being fixed to the top, and not having all the options LinearProgress has because we don't need all of them. So the designer might expect

[2021-04-21 13:40] #25859 closed

[2021-04-21 14:30] italodeandra opened #25866 "[v5.0.0-alpha.31] Doc `Tree View` on dark mode is broken"
- [x] The issue is present in the latest release (`next`).
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/19225266/115570431-63fdde80-a2be-11eb-8d81-195a9f6945a6.png)

Left you have the current version and on the right you have t

[2021-04-21 14:31] italodeandra commented on #25866
By broken I mean, it's not working inside the demo. You can still see that the text is black inside.

[2021-04-21 14:33] italodeandra commented on #25866
I changed the title to something less alarming.

[2021-04-21 14:34] akumath14 opened #25867 "Autocomplete: Group headers are not selectable."
I am trying to make the Material-UI Autocomplete group header selectable. I have used groupBy and renderGroup props to group the list of options and display them.

[2021-04-21 15:36] oliviertassinari commented on #25866
@italodeandra It's being worked on, #25690.

[2021-04-21 15:40] mcalthrop-lego commented on #21801
I'm confused about the above link – when I open it, it shows an error in `Demo.tsx`:
![Screenshot 2021-04-21 at 16 26 30](https://user-images.githubusercontent.com/77628811/115580016-9e677b80-a2be-11eb-8e03-e0251f2eccbc.png)

The [current documentation for v4.11.1](https://material-ui.com/api/menu-item/) shows `ListItemClasses` as being a valid prop:
![Screenshot 2021-04-21 at 16 29 51](https://us

[2021-04-21 15:49] mracette commented on #21801
@mcalthrop-lego my understanding is that this is a "won't fix" situation because the release of v5 is imminent

[2021-04-21 15:56] oliviertassinari commented on #25867
@akumath14 This is not possible. We are considering it for https://github.com/mui-org/material-ui-x/issues/514

[2021-04-21 15:56] #25867 closed

[2021-04-21 15:57] mcalthrop-lego commented on #21801
@mracette Thanks for the reply, and for your workaround, which worked for me. Not ideal, because (a) it's not released, and (b) even when it is, not everyone is going to immediately make the upgrade to a major release. At least there's a way around it.

[2021-04-21 16:26] cmorasca opened #25868 "[5.0.0-alpha.31] Drawer in permanent mode won't collapse"
I migrated from v4 where the code was working.

I uploaded a sandbox to show what happens using the example from the Mui site: https://codesandbox.io/s/los7c

The persistent mode (different mode) example works fine in v5.

It seems to be something related with the transitions.

It's my first time posting an issue, so please be patient if I commit some miskate.. 😅

[2021-04-21 17:15] mlg87 commented on #15616
@marko3190

this wont work when you are on the last page of a set that has fewer items than what youre paginating by

[2021-04-21 17:15] oliviertassinari commented on #20173
@georgiosd It was closed as "won't fix" because it seemed to be an edge case not worth supporting. The current solution is to render the Dialog outside of the React tree structure of the Menu.

In X, we took a different tradeoff with https://github.com/mui-org/material-ui-x/pull/1324

[2021-04-21 17:52] TimSusa commented on #25845
OK, I just want to come back as having a look into the slider code. For me seeing ca 1000 lines of code for the unstyed component and ca 1000 lines of code for the unstyled one I am asking myself if all this gonna makes sense, if you are not really clear in wanting my proposed component or not? Furthermore, sorry to be honest I miss a clear interface and a hint where to start with this task. I wou

[2021-04-21 18:13] oliviertassinari commented on #25845
@TimSusa Yes, I think that we should wait for more interest from the community before working it. Sebastian advocates for removing the "won't fix" label and adding the "waiting for upvotes" label. We could do this as well.

[2021-04-21 19:08] Kentruri opened #25872 "createMuiTheme Bug with change of the colors"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

PD: I don't write english good
The error is that I am using createMuiTheme and change the properties of primary, for another color, a red color, and everything works fine, the color i

[2021-04-21 22:04] dclark27 opened #25873 "Modal and Dialog lose styling in iFrame, mount in wrong container"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Loading Modals and Dialogs in iFrames lose their style.

## Expected Behavior 🤔

iFrame should mount in the body of the iframe, not outside the iFrame container.

## Steps to Reproduc

[2021-04-21 22:10] oliviertassinari commented on #25873
Same as #13625. You need to target the styles to be injected in the iframe.

[2021-04-21 22:10] #25873 closed

[2021-04-21 22:12] oliviertassinari commented on #25872
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-04-22 02:10] matthewkwong2 opened #25875 "[Timeline] Replace :nth-child with :nth-of-type"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Some CSS of the `TimelineItem` is using `:nth-child`, which does not work very well with SSR. In fact, emotion warns about this.

## Expected Behavior 🤔
Replace `:nth-child` with `:nth

[2021-04-22 05:38] mark-night commented on #24894
Is there a way to omit/disable this error in browser console? I'm sure it'll be fixed in some future release, but seeing them keep being thrown in console is really annoying.

[2021-04-22 06:06] jie-chen opened #25876 "disableEnforceFocus prop not working in Popover (V5)"
As shown in this codeBox, the textfield loses focus after popover open even though disableEnforceFocus is set to true https://codesandbox.io/s/material-demo-forked-4gq65?file=/demo.js

[2021-04-22 06:29] d3dc opened #25877 "Theme Default Props don't get picked up by withStyles"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

className="my-label"

Providing a default value for the classes prop causes withStyles to only return that value for the class.

## Expected Behavior 🤔

className="jss2 my-label"

htt

[2021-04-22 06:44] fel1xw commented on #25852
Thank you for your fast responses, but looks like the solution from @mnajdova only works in my skeleton example, as soon as you integrate an component from chakra-ui it also fails probably for the reasons that @oliviertassinari pointed out.

@oliviertassinari Regarding your question why I need to use both libraries I can easily tell you that the project I'm working on started using chakra-ui but a

[2021-04-22 07:57] italodeandra commented on #22486
@oliviertassinari Is it possible to use `next/router` on the demo iframe? I'm trying here without success. I'm adding an example for the Next.js usage while taking advantage that the doc app is actually Next.js. But perhaps it's not possible inside the iframe?

[2021-04-22 08:34] Sjk-Lacoste opened #25878 "CloudDownload icon fail on demo"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-04-22 08:43] #25878 closed

[2021-04-22 08:44] #25846 closed

[2021-04-22 08:47] oliviertassinari commented on #25846
Actually, it's possible in https://tailwindcss.com/docs/breakpoints#custom-media-queries

[2021-04-22 09:04] rsteinmann commented on #17105
I ran into the same error using `@material-ui/core@4.3.3`. My Setup is CRA@4.0.3 with jest and Testing-Library.

To solve my issue I had to replace an old jest configuration in my `package.json` file:

This was the problem:
[code]

[2021-04-22 09:06] mousemke opened #25879 "FormControlLabel should offer typography options"
FormControlLabel offers no option to customize the typography variant.

https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/FormControlLabel/FormControlLabel.js#L104

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would suggest FormControlLabel should accept the

[2021-04-22 09:17] mnajdova commented on #25875
Thanks for reporting. This would solve it:

[code]

Would you like to create a PR? :)

[2021-04-22 09:34] oliviertassinari commented on #25879
We have faced a similar problem in the past. So far, we have 3 options:

1. Nesting of two typography, one from the component, another from the developer
2. Disabled prop https://github.com/mui-org/material-ui/blob/018118626718d2f4c86212699912700682d80956/packages/material-ui/src/DialogTitle/DialogTitle.js#L56
3. Autodisable https://github.com/mui-org/material-ui/blob/018118626718d2f4c862126999127

[2021-04-22 09:39] vitaly87 opened #25880 "Poor preformance on click onDrawer component"
I am trying to use Drawer component the issue is on click on open and close and navigate the component working very slow when I have some screen with data and table,
I can see the performance  tab on click issue

Layout Shift
WarningCumulative Layout Shifts can result in poor user experiences.
Score0.01616
Cumulative Score0.04845
Had recent inputYes
Moved fromLocation: [0,0], Size: [1047x880]
Move

[2021-04-22 09:43] oliviertassinari commented on #25880
@vitaly87 Only re-render the drawer, not the child route

[2021-04-22 09:43] #25880 closed

[2021-04-22 10:00] oliviertassinari commented on #22486
@italodeandra Regarding Next.js, I would recommend the following:

- Replace the one we use in the documentation with this new one
- Describe how it can be done in the documentation with a code snippet
- No demos in an iframe in the docs. It sounds really costly to put in place, with very little value.
- Integrate the component inside the /examples once we release it.

A side note on demo in ifram

[2021-04-22 10:03] italodeandra commented on #22486
@oliviertassinari Thanks for answering.

✅

✅, I also added a demo with a basic implementation (with two buttons one to start and another to end it).

Agree.

After some research on the codebase I found it. Very straight forward by the way.

[2021-04-22 10:04] italodeandra commented on #22486
About translations, I only know Brazilian Portuguese besides English. Can I only add those two?

[2021-04-22 10:10] cmacdonnacha opened #25882 "[Tooltip] displaying twice when used with SVG icon"
In order to have both a styled tooltip and an accessibility friendly icon I am using the `Tooltip` component along with setting `titleAccess` on the `Icon` component, but now two tooltips appear when hovering over. I know that by removing `titleAccess` from the icon component it will prevent this but then you have a poor accessibility experience.

[code]

- [x] The issue is present in the latest r

[2021-04-22 10:15] oliviertassinari commented on #25852
@fel1xw Very interesting, so design (look and feel) was the primary factor in the decision? If it's true, then it resonates with #22485.

But your last sentence would suggest that it's otherwise, that what your team was looking for is the CSS component helpers. @mnajdova has spent the last few months focusing almost exclusively on bringing them to Material-UI (we had to change the styled engine).

[2021-04-22 10:18] oliviertassinari commented on #22486
@italodeandra the source of truth of the transition is in translate.material-ui.com. Your changes will be lost. I wouldn't encourage to care, for now.

[2021-04-22 10:24] oliviertassinari commented on #24894
@mark-night You would need to ask the team of emotion. I was actually eager to turn off these options for the whole Material-UI project as we don't encourage to inline style in the body, but Gatsby doesn't provide the necessary API to render the style in head so I didn't push forward.

This issue includes a possible solution.

[2021-04-22 10:33] mousemke commented on #25879
pr opened

[2021-04-22 11:19] oliviertassinari commented on #25882
Unless I'm missing something, this is enough, for the given situation, cc @eps1lon

[code]

[2021-04-22 11:31] herin0506 opened #25886 "withStyles: allow implicitly used component styling from parent component"
To customize the components using Higher Order Components, using withstyles(), should have convenient approach for styling implicitly used components. The implicitly used components should have capabilities to modify/override the styles from parent component itself.

- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a

[2021-04-22 11:57] m4theushw commented on #20012
@oliviertassinari Did you mean `fade` in "[theme] Remove the alpha color helper"? It's already deprecated in v4.

[2021-04-22 12:04] eps1lon commented on #25882
This should be the default. The Tooltip should give the icon an accessible name. All you need to do is make sure the wrapped element is part of the a11y tree. In our case this would be `<CheckIcon aria-hidden={null} />` as @oliviertassinari already pointed out.

Considering our default `aria-hidden` on icons is a bit problematic (they are visible after all) it might be a good idea not make the ico

[2021-04-22 12:06] eps1lon commented on #25852
I'm pretty sure we originally talked about having a separate theme context. That was one of the arguments against styled-components. Material-UI interferring with existing emotion themes is a problem which we ideally solve before v5 release. In the meantime documentation should be sufficient.

[2021-04-22 12:25] cmacdonnacha commented on #25882
Thanks @oliviertassinari @eps1lon, that example actually throws a typescript error. Apologies I probably should have looked for a TYpescript codesanbox. Want me to update or can you see the same in your Typescript environment?

![image](https://user-images.githubusercontent.com/9777763/115713559-0e810a80-a36e-11eb-94c6-9c7efe8cf0f5.png)

[2021-04-22 12:27] eps1lon commented on #25882
Yeah, we really should solve that at the icon level.

[2021-04-22 12:36] oliviertassinari commented on #25882
@cmacdonnacha I have updated my first comment with undefined instead of null, it works the same way.

[2021-04-22 12:38] cmacdonnacha commented on #25882
Excellent thanks @oliviertassinari . That doesn't seem to give the icon an `img` role, do I need to add that manually? LIke <CheckIcon aria-hidden={undefined} role="img"/>

[2021-04-22 12:41] oliviertassinari commented on #25882
Regarding the history of the a11y of this component, we seem to inherit #6829.

[2021-04-22 12:45] oliviertassinari commented on #20012
@m4theushw I meant removing https://github.com/mui-org/material-ui/blob/33850e52ca32787fbc02b64d3225bac2d451612c/packages/material-ui/src/styles/colorManipulator.js#L253-L268

[2021-04-22 13:39] CAIOHOBORGHI commented on #25021
Doesn't work even with
`InputProps={{placeholder: ''}}`
or
`renderInput={(props) => <TextField {...props} placeholder='' />`

Should this be closed?

[2021-04-22 13:56] mousemke commented on #25879
i could also see doing similar to FormHelperText. Is it worth a new issues or should i do it under this ticket?

[2021-04-22 14:01] oliviertassinari commented on #25021
@CAIOHOBORGHI renderInput doesn't provide "props" but "params" (so it's not confused with a component). The params structure isn't flat.

[2021-04-22 15:06] CAIOHOBORGHI commented on #25021
Okay, so that means that if I don't set an initial value for the Datepicker (or TimePicker), the placeholder will be shown inevitably ?

[2021-04-22 15:12] fel1xw commented on #25852
@oliviertassinari I can clearly say that the design (of the form components) was more or less the reason to introduce material ui at that point (customer requirement). In the beginning I thought I can make the chakra inputs look like material but decided against it because I did not wanted to implement the floating label for all different kind of input elements, like select, datepicker etc on my o

[2021-04-22 16:12] oliviertassinari commented on #25021
I meant that you need to reset the placeholder properly at the right level.

[2021-04-22 16:21] oliviertassinari commented on #25852
@fel1xw Nice, the Box API is what we document in https://next.material-ui.com/system/basics/. There is the `sx` prop and the flatten props for Box, Grid, Stack, and Typography.

For the `useBreakpointValue` API, please upvote #23885. I have been personally pushing for adding it.

As far as I understand the issue. It's unlikely that it will ever land. We need to use the styled engine's ThemeProvide

[2021-04-22 17:02] siriwatknp opened #25893 "[Select] classes appear on the DOM"
Appear on every demo for Select

![image](https://user-images.githubusercontent.com/18292247/115754907-e5d92f00-a3c6-11eb-8958-916c97a2d1d8.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
`classes=[object object]` appear on th

[2021-04-22 17:15] mnajdova commented on #25893
Thanks for reporting. This should do it:

[code]

The problem is that all props are spreaded on this element, but it is not a root in the component, so we have to manually add rule for not forwarding the `classes` prop.

[2021-04-22 19:20] bneigher opened #25898 "[DateRangePicker] Default mouseover date range intelligent behavior"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

This is either a feature request proposal, or an ask for instructions on how to recreate the behavior of a different react date range selector.

The default date range selection intelligence is a bit basic (maybe it's just my implementation,

[2021-04-22 23:26] mark-night commented on #24894
@oliviertassinari I see the source of issue is from emotion or even more teams. I believe each package chooses a certain way for itself for a reason, thus this could take a long time even if it will be changed.
Meanwhile, I do see your solutions to the issue and they all seem to be simple and clear and more than enough for my need. However, they all need to modify the Material-ui source code, how

[2021-04-22 23:30] oliviertassinari commented on #24894
@mark-night Follow our examples

[2021-04-22 23:38] t49tran commented on #19861
I have added a doc page for `useFormControl` #25899, hope this will help.

[2021-04-22 23:38] oliviertassinari commented on #25879
I don't see any issue with it

[2021-04-22 23:48] mark-night commented on #24894
@oliviertassinari I hate to ask this stupid question, but what did you mean by examples? If you were referring to the examples folder under source root, it looks like they are just examples for how to install and setup material-ui with different tools. I'm not having any issue installing and setup material-ui in my project at all.

Your solutions were very clear and make sense, but how do I apply

[2021-04-22 23:56] oliviertassinari commented on #24894
I meant that if you dig deep, you will find a solution in the /examples folder, but it's not important, what matters is that somebody champion this issue and get a fix on HEAD.

[2021-04-23 00:25] mark-night commented on #24894
Confused, isn't the solution right here above, e.g. to modify `Tab.js` in the source code? My question was how to make the changes being made survive from future update (if it's still necessary for the update).

After some googling, was able to find this [patch-package](https://www.npmjs.com/package/patch-package), good enough for now.

Thanks.

[2021-04-23 00:34] oliviertassinari commented on #24894
@mark-night The solution I had in mind is related to the *compat* mode of emotion. But patch-package sounds good as well. If you want to contribute a fix, we would be happy to review a PR.

[2021-04-23 00:54] mark-night commented on #24894
I finally see what you meant. :) I thought cache is only for ssr and I'm not familiar with emotion neither, didn't think down that path at all. I'll check out what emotion compact really does later.

As I'm in progress of making a pure front-end ui, your other solution of modifying Tab.js is simple and good enough, thus I went with that one.

I was just copying your code. :)

[2021-04-23 03:00] parksj10 commented on #20152
Why is null not a valid value? the standard autcomplete (I.e. no `multiple`) accepts null values... Shouldn't we be able to set null (I.e. no values) for a multiple autocomplete?

[2021-04-23 05:13] delesseps commented on #25840
Overrides in v4 (pre emotion) used to remove base styles from the payload.  As a consequence we now have unnecessary style being processed and sent over the wire. e.g.

V4 - https://codesandbox.io/s/mui-style-override-specificity-and-payload-v4-d7we0?file=/index.tsx
![image](https://user-images.githubusercontent.com/5125315/115821430-20ce7780-a446-11eb-8a15-5645eacf7595.png)

V5 - https://codesand

[2021-04-23 07:31] #25857 closed

[2021-04-23 07:49] NPuhlmann commented on #11379
For me I found that Material exports types for the probs also.

`import Select, { SelectProps } from "@material-ui/core/Select";`

 this enables you to make the probs of type "SelectProbs" so I created a new functional Component which holds the SVG.

`
const OpenDown: React.FunctionComponent = (props: SelectProps) => {
    return <SVG_WRAPPER_COMPONENT xlinkHref={"PATH_TO_SVG"} className={`medium

[2021-04-23 08:42] simonecervini opened #25901 "[Stack] Ignored spacing with ResponsiveStyleValue and zero value"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

For example, with `spacing={{ xs: NUMBER, sm: 0 }}`, `sm: 0` is ignored:

![Screenshot 2021-04-23 at 10 24 53](https://user-images.githubusercontent.com/69400730/115842532-34fe7e80-a4

[2021-04-23 08:46] anniehsp opened #25902 "[Date & Time pickers] issue with typing year part"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hi! I was trying to use date & time pickers and I found out the year part contains 6 numbers and I was wondering if there is any props that will avoid this case. Thanks!

Current:
![i

[2021-04-23 09:32] Surm4 opened #25905 "Material-UI is not exporting the material components props"
Hi, many people extends the Material-UI components and I think we want to have access to the mui propTypes
For example:

I got component like this and I have to create the new propTypes
[code]
and I would like to import the propType from Mui like this
[code]
You can say that in this case, we can just use  `PropTypes.number` and the mui `Grid` will catch the error but access to mui propTypes can be

[2021-04-23 09:36] sherinshaju commented on #2866
check this it will help you - https://codesandbox.io/s/use-ref-for-anchorel-forked-1pvh1

[2021-04-23 10:09] oliviertassinari commented on #20152
@parksj10 you can provide an empty array instead.

[2021-04-23 10:16] oliviertassinari commented on #25905
- You don't need them. React validates the prop types for each component it monts.
- It would increase the size of the library by a non negligeable amount for a niche use case. The prop types are removed when NODE_ENV is production.

[2021-04-23 10:16] #25905 closed

[2021-04-23 10:23] cmacdonnacha commented on #16673
Is this the same issue with the `styled` api? Keyframes seem to work when using `mkaeStyles` but not `styled`:

**makeStyles (works)**

[code]

**styled api (doesn't work)**

[code]

[2021-04-23 10:28] cmacdonnacha commented on #25882
Hey guys, should I also add a `role` and `alt` to this?

<CheckIcon aria-hidden={undefined} role="img" alt="Check is complete"/>

[2021-04-23 10:52] oliviertassinari commented on #16673
@cmacdonnacha This sounds about right. It was solved in v5

[2021-04-23 10:56] cmacdonnacha commented on #16673
Thanks @oliviertassinari looking forward to upgrading 👍

[2021-04-23 11:32] GregdTd commented on #12779
Still having the issue, any plans on opening it again ?

[2021-04-23 11:36] oliviertassinari commented on #25886
@herin0506 I'm confused by the issue's description. Could you please clarify the following:

- The screenshot shows v5. The docs API urls shows v4. withStyles is a v4 API. Which version are you using?
- Why did you not use the global class names to customize the element you are interested into?

[2021-04-23 11:55] simenandresen commented on #24852
I would really love if TableContext was made public. I have a couple of use cases for it already, were TableContext seems like an obvious solution (mainly just wanted to get the current `size` so I could use the same `size` in a nested table)

[2021-04-23 12:39] mnajdova commented on #24405
Looks like we finished the migration of all core components 🥳 We have around 2/3 left in the lab and we will be done with those too ✔️ Thanks a lot to everyone that contributed 🙏

[2021-04-23 12:51] eps1lon commented on #25882
You neither need `role` nor `alt`. The role should be implied by `<svg>` and the accessible name is provided by the Tooltip so `alt` would cause `alt` to be considered the accessible **name** and the `title` of `Tooltip` being considered the accessible **description**. I don't think this is what you want.

[2021-04-23 13:03] cmacdonnacha commented on #25882
Nope I'm good with that, as long as a screen reader knows what the `CheckIcon` means I'm all good with that and it gets that from the `title` so that's perfect.

[2021-04-23 13:07] eps1lon commented on #25882
I'm keeping it open since that is a legitimate a11y issue with SvgIcon. Ideally `SvgIcon` shouldn't need extra attention with `Tooltip` (or any other labeling mechanism).

[2021-04-23 13:19] mnajdova commented on #25840
@delesseps in the next version we will release the updates of the overrides for the slots, where we no longer require to bump the specificity for overriding them (except in few cases where it is necessary).

This should solve the issue that you shared, as by design, emotion is merging all styles for the component under one `className`, so the last one applied will win. There styles are however und

[2021-04-23 13:20] cmacdonnacha commented on #25882
Yea good point 👍

[2021-04-23 14:18] sandbox4013 commented on #23232
Could you explain how it works?
document.body.style.WebkitUserSelect = 'none' doesn't apply to body
Checked on tooltip' [example](https://material-ui.com/components/tooltips/)
Ipad Pro 9.7 xcode simulator
![image](https://user-images.githubusercontent.com/49528851/115884628-c8a07100-a457-11eb-966b-33bfef319015.png)

[2021-04-23 14:33] oliviertassinari commented on #23232
@sandbox4013 This fix is only available in v5.

[2021-04-23 15:30] Kogeer opened #25913 "onCellBlur infinite loop"
Dear Mui,

I found an issue. I hope it is correct and help to resolve an unexpected behavior.
I created a create-react-app. The App.js code is below:
[code]

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Whit these dependencies i

[2021-04-23 16:31] siriwatknp commented on #24405
@mnajdova are the pickers ready to be picked up?

[2021-04-23 16:46] smaye81 commented on #20283
What was the fix for this?  I am encountering the same issue.

[2021-04-23 17:49] #21593 closed

[2021-04-23 18:36] oliviertassinari commented on #20283
@smaye81 It's likely related to the version of enzyme and React you are using (they need to match)

[2021-04-23 18:43] oliviertassinari commented on #24405
This sounds like a question for @eps1lon. Without the context, I would assume the answer is yes (so we only bundle one CSS-in-JS engine) unless there is a planned change that could happen before, making the migration to emotion more efficient?

[2021-04-23 19:12] smaye81 commented on #20283
Turns out the fix for me was to upgrade my version of `enzyme-adapter-react-16` from `1.9.1` to `1.15.6`

[2021-04-23 19:46] mmclafferty commented on #19679
Sorry to resurrect this, but also experiencing this issue with TextField when using variant="outlined". Using nextjs 10.1.3, material ui core 4.11.3 and only when reactStrictMode: true. I too have followed the nextjs examples to the T.

[2021-04-23 21:05] wellwellmissesanderson commented on #25875
I'll take a crack at this one

[2021-04-23 22:00] eps1lon commented on #24405
Pickers should be good to go.

[2021-04-23 22:10] #25893 closed

[2021-04-23 23:23] DanielBretzigheimer opened #25919 "[Switch] Android 12 Switch variant"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Like the button or paper components variants I would like to have an option to take the new android 12 switch style.

## Examples 🌈

Screenshots of the new switch control in the android 12 settings page with its on/off state:
![Screenshot_202

[2021-04-24 00:10] awdyson commented on #18494
@oliviertassinari any chance y'all could add an `outOfRange` flag to `<Select>`'s `renderValue`?
Would be nice to set a `defaultProp` like so:
[code]

[2021-04-24 00:24] pehguerra opened #25921 "withStyles is not changing borderBottomColor for Select component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If we try to change the borderBottomColor using withStyles for a Select element, the color style is not being applied

## Expected Behavior 🤔

Underline boder should be #17a2b8 and no

[2021-04-24 01:05] slayybelle opened #25923 "[Tabs] When a Tab is disabled, keyboard traversal is stuck"
Normally keyboard users will tab into a Tabs group, then use either Left/Right (if horizontal tab) or Up/Down (vertical) to traverse the Tabs and according to [WAI aria practices](https://www.w3.org/TR/wai-aria-practices/#keyboard-interaction-19), the Tabs should wrap around (last <-> first tabs); this works great right now unless a Tab is disabled, in which case it will break the traversal instea

[2021-04-24 02:02] nathanlambert opened #25925 "Support for transient props with styled components"
## Summary 💡

Our team is using MUI / typescript / styled, and we'd like to write styles as `display: flex;`, not JS `display: "flex",`, so we've opted to use MUI's `experimentalStyled`, but we're seeing some errors with custom props and our solution is getting ugly. I believe it would be solved by transient props.

## Motivation 🔦

When we want to use custom props like so:

[code]

They work grea

[2021-04-24 02:31] CloutProject commented on #6115
@oliviertassinari Could you please add an example to the repo covering Next.js with the styling engine swapped to styled-components? I just updated to MUI v5 and I'm having a hard time figuring things out.

[2021-04-24 03:44] dungle-scrubs opened #25926 "When wrapping Button in another component, type="submit" is rendered as type="button""
## Current Behavior 😯

I'm trying to extend `Button` to add some animation features, but when I pass it into `ExtendedButton`, the `type` prop gets overwritten as `"button"` when it's intended to be `"submit"`. Therefore, it does not trigger the form action as intended.

[code]

[code]

However, if I don't use `{...props}`, it will retain `type="submit"`, but that's not ideal for repeated use beca

[2021-04-24 05:24] t49tran commented on #19861
I created a PR to add a section for `useFormControl` to the `TextField` document.

[2021-04-24 07:10] delesseps commented on #25840
Thanks @mnajdova for the quick response!  I'm still a little confused by that latest sandbox example though.  There are 3 declarations of padding and the override in this case has not impacted the final result; `16.5px 14px` has won by order of declaration (as per screen below).

Also the `minWidth: 'unset'` has worked however I don't see how it wouldn't be included in the final result and payload

[2021-04-24 10:53] eps1lon commented on #25926
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-04-24 10:55] eps1lon commented on #25923
Thanks for the report.

Confirmed with pinned versions and frozen: https://codesandbox.io/s/basictabs-material-demo-forked-j5evk?file=/package.json

[2021-04-24 11:57] soumalyatheking22012001 opened #25932 "Home icon upon clicking to show input gave error"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-04-24 12:07] oliviertassinari commented on #25932
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-04-24 12:12] dungle-scrubs commented on #25926
Sure thing @eps1lon and apologies, I'm not using the alpha version (5.0.0) but rather v4.11.3.

I've reproduced the error [here](https://codesandbox.io/s/unruffled-fire-kslc8?file=/src/ExtendedButton.js)

As of  v5.0.0-alpha.6, the issue seems to be fixed, but with my version `<button>` renders with `type="button"` instead of `type="submit"`

[2021-04-24 12:19] jie-chen commented on #25876
I realize in this case I should use Popper instead of Popover.

[2021-04-24 12:19] #25876 closed

[2021-04-24 12:46] eps1lon commented on #25926
Yeah, we changed the implementation involving `type` handling multiple times in v5. Glad that this is fixed in v5.

Though we don't plan on backporting fixes to v4 at this moment.

[2021-04-24 12:46] #25926 closed

[2021-04-24 13:02] Rakhisharma commented on #25851
Closing it as I am not able to produce it with latest version of material ui :)

[2021-04-24 13:02] #25851 closed

[2021-04-24 13:06] buitrbao222 opened #25935 "InputLabel required asterisk overlapping FormControl's border"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The required asterisk in InputLabel is overlapping the FormControl's border

## Expected Behavior 🤔

To behave like the asterisk in TextField component

## Steps to Reproduce 🕹

[Code

[2021-04-24 13:20] oliviertassinari commented on #25876
You were likely looking for the `disableAutoFocus` prop, not the `disableEnforceFocus` prop. https://next.material-ui.com/components/trap-focus/#lazy-activation

[2021-04-24 13:21] #25935 closed

[2021-04-24 13:59] oliviertassinari commented on #25901
@simonecervini Thanks for raising the issue. It seems that we need to handle the falsy values. What do you think about this diff? Do you want to work on a pull request? :)

[code]

[2021-04-24 14:14] oliviertassinari commented on #25923
This looks like an easy bug to fix. We handle this twice already:

https://github.com/mui-org/material-ui/blob/54efc0ec383297b2900e8a8a2efa24d692bffd25/packages/material-ui/src/MenuList/MenuList.js#L69-L84

https://github.com/mui-org/material-ui/blob/54efc0ec383297b2900e8a8a2efa24d692bffd25/packages/material-ui/src/useAutocomplete/useAutocomplete.js#L267-L277

@slayybelle Would you like to work on

[2021-04-24 14:30] simonecervini commented on #25901
It would be great! I'm working on it

[2021-04-24 15:53] oliviertassinari commented on #24970
The issue was open on Feb 16, the release of the Feb 27 (alpha.26) shows the issue:

<img width="372" alt="Screenshot 2021-04-24 at 17 50 37" src="https://user-images.githubusercontent.com/3165635/115964606-99f0cc00-a525-11eb-90b3-3fb640c2d96e.png">

https://603a922dd30a69000806c3b8--material-ui-docs.netlify.app/components/time-picker/#basic-usage

Since Ap 12 (alpha.30) I can no longer see the is

[2021-04-24 15:53] #24970 closed

[2021-04-24 15:56] oliviertassinari commented on #25458
@MykhayloLegenchenko It's not a requirement, only a recommendation. @mnajdova is solving the issue with the documentation in #25690 (testing the fix at the root on emotion's side).

[2021-04-24 18:34] oliviertassinari commented on #25862
@simonecervini This sounds like a fair request. I have tried a quick POC:

[code]

Most of our components have an equivalent feature, this would make it consistent.

[2021-04-24 19:35] oliviertassinari commented on #6115
@CloutProject Adding an example with Next.js + Styled components sounds like a great idea. It now growing faster than create react app, the only tool for wish we have [an example](https://github.com/mui-org/material-ui/tree/next/examples/create-react-app-with-styled-components-typescript). Our approach is the same as Preact, so you could start from [the official example](https://github.com/vercel/

[2021-04-24 19:38] oliviertassinari commented on #25643
I'm closing for now, as from what I understand we have hit a dead-end 🚧. We don't have enough information to keep exploring

[2021-04-24 19:38] #25643 closed

[2021-04-24 19:39] #25872 closed

[2021-04-24 19:49] oliviertassinari commented on #25877
Duplicate of #20640

[2021-04-24 19:49] #25877 closed

[2021-04-24 19:51] oliviertassinari commented on #25840
@delesseps If you need more help, please head to StackOverflow.

[2021-04-24 19:55] simonecervini commented on #25862
This works perfectly with a `<Timeline align="left|right" />`, but it gets more complicated with an alternating timeline:

![Screenshot 2021-04-24 at 21 16 02](https://user-images.githubusercontent.com/69400730/115971030-81dd7480-a546-11eb-9602-cc0aa8edca61.png)

In real applications I think you want the alternating pattern (which is now achieved with `:nth-child(even)`) to restart after the last

[2021-04-24 19:59] oliviertassinari commented on #25862
I think that we should ignore this use case.

[2021-04-24 20:12] oliviertassinari commented on #25925
@nathanlambert Are you using emotion or styled-component as the underlying engine?
I'm linking #25911 as it's touching on the same topic.

I'm going to assume that you are importing:

[code]

In which case, you can do:

[code]

@mnajdova A couple of thoughts:

- We could document it
- I don't see what we have a `shouldForwardProp` defined for usage of styled outside of the built-in components. It

[2021-04-24 20:21] #25921 closed

[2021-04-24 20:21] oliviertassinari commented on #25921
Tip:

[code]

[2021-04-24 20:53] #25875 closed

[2021-04-24 22:06] chrisVillanueva commented on #21902
Good afternoon.

Any progress on this issue?  Has the team decided which breakpoints to support?

Thanks!

[2021-04-24 22:14] chrisVillanueva commented on #15824
@oliviertassinari

A quick follow up. Should we continue to follow your most recent recommendation to resolve this issue?

Or has the issue been resolved in the latest `next` branch build?

Thanks!

[2021-04-24 22:18] oliviertassinari commented on #21902
@chrisVillanueva So far, we are going with "First proposal".

[2021-04-24 22:31] ReangeloJ opened #25940 "Data grid rendering page not found"
Hi when visiting the page for the data grid rendering section it gives an 404 error

1. open https://material-ui.com/components/autocomplete/
2. click "Rendering" link

[2021-04-24 22:49] oliviertassinari commented on #15824
@chrisVillanueva material.io [mentions](https://material.io/components/tabs#specs) 90px as the min-width and 360px as the max-width. Its what Vuetify [implements](https://vuetifyjs.com/en/components/tabs/#usage). It's not what Google and more of the design community tends to do (no min-width) but it seems to be already a great improvement, a smaller value, and no more media query

[2021-04-24 22:54] oliviertassinari commented on #25940
@ReangeloJ Thanks for raising it, it was recently broken.

[2021-04-24 23:07] #25901 closed

[2021-04-24 23:22] oliviertassinari commented on #18494
@awdyson I doubt it. The current "out of range" warning is meant for developers so the situation never lands to end users. So far there is a pressure from the devs to remove the warning so it behaves like a native select (YOLO).

[2021-04-24 23:28] simonecervini commented on #25862
Perfect! Considering that with `<Timeline align="right">` all the items are currently moved to the **left** of the timeline, what approach should be followed for the same prop on the `<TimelineItem />` component?

Personally I think that `align="right"` applied to a `<TimelineItem />` should move the item to the right of the timeline. In order to make everything more consistent, I think it would m

[2021-04-24 23:49] ReangeloJ opened #25941 "Data Grid Maximum depth exceeded"
Passing a function which setState to a component rendered in the renderCell property, causes an infinite loop.

The error I get is: "Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops."

For example when trying to open a rendered Menu c

[2021-04-25 00:47] chrisVillanueva commented on #15824
@oliviertassinari
That makes sense.  Appreciate the response.

[2021-04-25 03:08] kkhan01 opened #25963 "material-ui/core 5.0.0-alpha.31 breaks certain overrides"
The page <https://next.material-ui.com/guides/migration-v4/> says to run `yarn add @material-ui/core@next @emotion/react @emotion/styled`. This installed the latest version of mui, and `@emotion/styled` doesn't work properly with the latest mui.

For now, I've only had a few spacing and color issues. I'll focus on the color one here.

## Current Behavior 😯

This is but one example, I've noticed ot

[2021-04-25 03:31] kkhan01 commented on #25963
Using the same versions of emotion and changing only `@material-ui/core`, I've narrowed down the last working version for the color styling to be `5.0.0-alpha.20`.

[2021-04-25 03:32] mnajdova commented on #25963
Duplicate of https://github.com/mui-org/material-ui/issues/24109 You need to use `StyledEngineProvider` with `injectFirst` so that Emotion’s styles will be written first in the head. See https://next.material-ui.com/guides/interoperability/

[2021-04-25 03:32] #25963 closed

[2021-04-25 06:50] likitarai1 commented on #22070
@oliviertassinari @eps1lon Can I contribute to this issue?

[2021-04-25 07:55] Hummel37 opened #25964 "[Select] The title is struck through"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If we are using a select component then the title of the InputLabel is struck through.
![image](https://user-images.githubusercontent.com/54278236/115985417-13330200-a5ac-11eb-8066-b7

[2021-04-25 09:11] bachmanntobias commented on #25919
Indeed

[2021-04-25 09:22] eps1lon commented on #25964
Thanks for the report.

Confirmed and frozen in https://codesandbox.io/s/sweet-lederberg-9cypo?file=/src/demo.tsx

[2021-04-25 09:30] Sakthivelgovindan commented on #4736
Hi @dhavalsoni2001,

Try this, it's working for me,

<Autocomplete
  inputValue={this.state.labelName}
/>

Refer :
https://stackoverflow.com/questions/58626031/how-to-clear-the-autocompletes-input-in-material-ui-after-an-onchange

[2021-04-25 09:32] soumyashisPR commented on #25964
@eps1lon is this issue still open? I would like to work on this in case not already assigned yet. Thanks.

[2021-04-25 09:39] oliviertassinari commented on #25964
Duplicate of #25779

[2021-04-25 09:39] #25964 closed

[2021-04-25 11:57] RohitRajP opened #25965 "Table jerk on expand in collapsible table"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the collapsible table is expanded, the expanding row "jerks", and then "jerks" back to original position on collapsing the row.

![currentIssue](https://user-images.githubusercon

[2021-04-25 12:00] oliviertassinari commented on #25965
It looks like a rendering glitch of the browser.

[2021-04-25 12:00] #25965 closed

[2021-04-25 12:04] RohitRajP commented on #25965
This is on Chrome Version 90.0.4430.85 (Official Build) (64-bit).
Windows OS (64-bit)

Would understand if this occurred on some obscure browser, but the latest version of Chrome with all extensions and settings reseted to defaults?

[2021-04-25 12:20] eps1lon opened #25966 "[test] eslint-config-next"
next.js released a dedicated eslint plugin: [`eslint-plugin-next`](https://www.google.com/search?q=eslint-plugin-next&oq=eslint-plugin-next&aqs=chrome..69i57j0i8i10i30j0i8i30l3j69i60l3.3615j1j7&sourceid=chrome&ie=UTF-8) (github source is more useful since it lists all the rules).

We disabled linting during `next build` since we have a dedicated CI pipeline for linting. Though we probably do want

[2021-04-25 13:29] devqazi opened #25967 "Some features of Material UI break with electron when contextIsolation is false"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The issue arises when using components such as buttons tabs and inputs in electron renderer with following config provided to browser window.
[code]
1. Buttons do not show ripple effec

[2021-04-25 13:41] oliviertassinari commented on #25966
The eslint-plugin-next link is not working, I have found: https://github.com/vercel/next.js/blob/a6ba432641788a0a93bbd96f8c299514e252c12c/packages/eslint-plugin-next/lib/index.js. Is there a specific rule that could be relevant for us, catching issues we didn't notice?

[2021-04-25 14:19] eps1lon commented on #25966
That is the subject of this issue.

[2021-04-25 14:43] oliviertassinari commented on #25967
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-04-25 14:44] oliviertassinari commented on #25967
Also, could you have a look at what's going wrong?

[2021-04-25 14:51] oliviertassinari commented on #22070
@likitarai1 Yes, what solution do you have in mind?

[2021-04-25 15:05] devqazi commented on #25967
@oliviertassinari  Live example is not possible because it does require electron. Though I have provided steps to reproduce in much detail. The best thing I can do now is just make a minimal repo and share the link but still if someone wants to reproduce, they will have to do it on their computer.

Now about what might be going wrong. I found this out while reading about context Isolation in elect

[2021-04-25 15:46] oliviertassinari commented on #25967
@devqazi A minimal repository would be great. It would allow the community to look into the issue.

From what I understand, at the level of the maintainers of the project, this is a low priority as it's important to have `contextIsolation: true` for security reasons.

[2021-04-25 15:55] oliviertassinari commented on #22070
@likitarai1 From what I understand, we had a good path forward with https://github.com/mui-org/material-ui/issues/22070#issuecomment-670853469.

[2021-04-25 16:49] likitarai1 commented on #22070
Yeah I was thinking about implementing https://github.com/mui-org/material-ui/issues/22070#issuecomment-670853469.

[2021-04-25 17:18] oliviertassinari commented on #25862
@simonecervini Oh yeah, I got trapped by this as well working on the git diff POC! How about?

[code]

cc @mnajdova

[2021-04-25 18:41] eps1lon opened #25970 "[docs] Concistent type names in API"
Manually authored API documentation currently sometimes uses uppercase for primitives e.g __Boolean__. However, in JS there is a difference between primitive booleans and `Boolean`. TypeScript has different types for both of these.

We should first make sure we use lowercase names.
As a second step we can think of how to use the same template for the automatically generated component `/api` pages

[2021-04-25 19:31] pehguerra commented on #25921
Thank tou @oliviertassinari, but this solution didn't work as well "/

[2021-04-25 19:44] oliviertassinari commented on #25921
@pehguerra there is no magic here, as long as you add more CSS priority, you will win. Open the dev tools to see what's already applied.

[2021-04-25 20:40] matveychuk commented on #10571
It solved my issue. With yarn not all icons were in node_modules/@material-ui/icons. They start with 'R' letter don't know why. But after using 'npm i' all icons are in place

[2021-04-25 21:46] simonecervini commented on #25862
I think it's a lot more clear. I've created a pull request as a proof of concept with all these changes

[2021-04-26 00:01] idevtech opened #25975 "[docs] Fix React.forwardRef missing display name ESLint error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In the ListItemLink sample code in the Material-UI documentation

[](https://material-ui.com/guides/composition/#react-router)

[code]
there is an ESLint error on React.forwardRef whi

[2021-04-26 02:29] Jerryh001 commented on #24952
It seems like the dependency `@material-ui/types` (which is used in 4.11.3 of `@material-ui/core` and `@material-ui/styles`) has been resolve to 5.1.7 or higher version in yarn 2.

In `@material-ui/types@5.0.0-alpha.25` (or 5.1.7 in npm), `Omit` has been renamed to `DistributiveOmit`, and that will break `onChange` prop.

After set version of `@material-ui/types` to 5.1.0 in `yarn.lock` and instal

[2021-04-26 03:27] gladshop opened #25976 "How to setvalue for Autocomplete multiple?"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Autocomplete with multiple can't change value

## Expected Behavior 🤔

Autocomplete with multiple show value when value change

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Contex

[2021-04-26 08:40] #25932 closed

[2021-04-26 08:41] #25886 closed

[2021-04-26 08:44] #25976 closed

[2021-04-26 08:56] edorivai commented on #25157
FWIW, I observed a regression between `5.0.0-alpha.24` and `5.0.0-alpha.25` [(diff)](https://github.com/mui-org/material-ui/compare/v5.0.0-alpha.24...v5.0.0-alpha.25). I tested this by switching the version for `@material-ui/lab` between `.alpha.24` and `.alpha.25` in the [sandbox](https://codesandbox.io/s/7se4m?file=/demo.tsx).

I also added logs to `onOpen` and `onClose`, which shows that `onClo

[2021-04-26 09:07] fel1xw commented on #25852
Oh, I have not found the `<Box />` api, it's lovely that you also have that. i've for sure upvoted the `useBreakpointValue` issue for you as it is soooo beneficial for the user. :)

Damn, I had the hope that it can be solved until the v5 stable release. :P
Can you think of any "hack" that I can try or use for now? :)

[2021-04-26 09:14] KristerV commented on #18563
I've come up with a much simpler solution:

[code]

Just use the `autoSelect` parameter. Then any blur action will capture the value.

[2021-04-26 10:05] eps1lon commented on #25975
Thanks for the report.

Should be fixed with

[code]

Fix needs to be applied to https://github.com/eps1lon/material-ui/blob/next/docs/src/pages/guides/composition/composition.md as well.

[2021-04-26 10:11] eps1lon commented on #25157
Yeah, we're in the process of resolving that since we have the same issue. Hence to slow movement on actual pickers problems. But we've reached a point where we need to adress this technical debt first before we can work on problems. We've made some progress on the outer layers but the inner layers are still full of needless abstraction for the sake of DRY-ness.

[2021-04-26 10:59] aleksander351 commented on #25821
`Autocomplete` component doesn't have this problem.

[2021-04-26 11:13] filiplipinski commented on #23523
April 2021, any updates ? That's really nice to have, can't adding styles for disabled MINUTES (:nth-child can do it, but it applies also for HOURS :< )

[2021-04-26 11:18] dmtrKovalenko commented on #23523
There is a disabled minutes feature already. This repository is merged in @material-ui/lab@next you will this feature there.

[2021-04-26 11:28] edorivai commented on #25157
I see, thanks for the quick response. I'll give it a shot with `alpha.24` in our app then.

[2021-04-26 11:56] #13875 closed

[2021-04-26 11:58] oliviertassinari commented on #23523
I have updated the reproduction to handle the latest breaking changes on the pickers components (@material-ui/lab@v5.0.0-alpha.31).

[2021-04-26 15:53] idevtech commented on #25975
That fixes the problem. Thanks.

[2021-04-26 16:00] oliviertassinari commented on #25975
@idevtech Do you want to work on a pull request ?

[2021-04-26 16:05] aayushjain7 opened #25985 "[docs] Improve iOS style switch demo"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the iOS styled switch is set to disable and the switch is turned on, it still displays the green colour and does not look like it is disabled. But works fine when the switch is s

[2021-04-26 16:27] mnajdova commented on #25985
The styles you are adding on line 45 have higher specificity, that is why they are winning. I'd suggest adding the `':not(.Mui-disabled)'` selector there too, maybe something like https://codesandbox.io/s/material-demo-forked-khxl6?file=/demo.tsx

[2021-04-26 16:29] idevtech commented on #25975
Sure, walk me through how to proceed. I'm new to that process.

[2021-04-26 16:30] vicasas commented on #25985
This same problem is in v5 in the demo example. I have the following to correct the demo.

[code]

[2021-04-26 16:31] idevtech commented on #25975
Here's a minor correction to @eps1lon solution which removes an ESLint error on the first parameter to forwardRef, "any" changed to "HTMLAnchorElement"

[code]

[2021-04-26 17:42] aayushjain7 commented on #25985
That's great but this was actually from the Material UI documentation. The bug is there.

[2021-04-26 17:54] gladshop commented on #25976
I think this is a bug because I can setValue is normal without multipleline attribute

[2021-04-26 17:55] jerry-sorrells opened #25987 "X Grid: Hidden & Rearranged Do Not Maintain State T Re-render"
I am using a licensed version of X-Grid in a UI with data updating at ~1Hz. When the page re-renders, columns that have been hidden or rearranged do not maintain state, i.e. hidden columns re-appear and rearranged columns return to their default positions. I believe the intent is for the user changes to maintain state through the re-renders. I have searched the API documentation and support pages

[2021-04-26 17:57] angel-zeitoune opened #25988 "Native Time Picker displays differently on phone and desktop"
Using native time picker componente shows different behavior in browser of a desktop computer than in the browser of a mobile

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a native time picker componente is define. On mob

[2021-04-26 18:02] oliviertassinari commented on #25988
@angel-zeitoune Material-UI has no control over how browers render a `<input type="time">`.

[2021-04-26 18:02] #25988 closed

[2021-04-26 18:33] #25940 closed

[2021-04-26 18:59] oliviertassinari commented on #25985
@aayushjain7 This demo is only meant for illustration purposes

[2021-04-26 19:19] oliviertassinari commented on #25985
However, there is a bug in the nominal use case:

![switch](https://user-images.githubusercontent.com/3165635/116136408-8df63d00-a6d2-11eb-9bbe-8af235e6aee6.gif)

I would propose this diff to match the iOS spec:

![fixed](https://user-images.githubusercontent.com/3165635/116138369-03630d00-a6d5-11eb-9941-a1545f8b7d65.gif)

[code]

[2021-04-26 19:48] oliviertassinari commented on #13875
Our latest progress on this feature.

1. First, developers have to extend the palette: https://next.material-ui.com/customization/palette/#adding-new-colors

[code]

2. Second developers have to declare the new palette value as available: https://next.material-ui.com/customization/theme-components/#adding-new-component-variants

[code]

3. Done, working:

[code]

https://codesandbox.io/s/disableel

[2021-04-26 19:54] oliviertassinari commented on #25866
Duplicate of #25458

[2021-04-26 19:59] BiancaArtola opened #25991 "Material UI with Storybook is overlapping styles on micro-frontends"
I am using the latest version of Material UI inside a library created with Storybook. Everything seems to work fine, but when I use the library created with Material UI on my microsites, the styles overlap between each other.

![Untitled Diagram](https://user-images.githubusercontent.com/21174759/116142278-1b746580-a6b0-11eb-859a-b9f809a5f262.png)

This is a generic diagram of the structure that I

[2021-04-26 20:03] cjduncana commented on #16014
I'm still having this problem. I can't override the `active` style because of specificity. The same reason that @oliviertassinari  provided above. I tried his solution, but I get an error in the console.

[code]

[code]

I originally used the following, but it does not affect the styles. At least there's no error.

[code]

[code]

[2021-04-26 20:06] oliviertassinari commented on #6218
An update on the priorities. We plan to start working on this as soon as v5 has made enough progress. We will push it hand in hand with #22485 to have a healthy constraint.

[2021-04-26 20:11] oliviertassinari commented on #16014
@cjduncana

[code]

[2021-04-26 20:12] oliviertassinari commented on #24952
@eps1lon Is working on this in #25978

[2021-04-26 20:28] cjduncana commented on #16014
Thank you very much, @oliviertassinari!!!

Question for the repo: Can we improve this dev UX?

[2021-04-26 20:32] oliviertassinari commented on #16014
@cjduncana It's fixed in v5, we are removing withStyles and makeStyles.

[2021-04-27 01:43] TheAussieStew commented on #19704
Regarding #22281, I don't understand why you've closed that issue, when this issue only proposes a removal of the Hidden component, and not Grid support for custom breakpoints.

[2021-04-27 02:19] k1941996 commented on #16014
please update the documentation also if the makeStyles and witStyles are being removed.

[2021-04-27 02:24] t49tran commented on #25970
Hi @eps1lon, on your second point, do you have an idea how it can be done - using the template for the `api` pages for the manually written API sections ?

[2021-04-27 03:45] bneigher commented on #25898
@oliviertassinari hey Oliver.  I've been doing a bit of digging and it turns out the repo that has this react-infinite-calendar as shown above is in maintainer no-mans land.   We're discussing with the old maintainer and potential new ones what to do with it.  Would you be interested in potentially having this date / date range picker become part of material-ui core?  Not to slander the existing c

[2021-04-27 05:06] alexdaube commented on #25756
For me, this problem was not only specific to `import { StyledEngineProvider } from '@material-ui/core'`. It yielded the same error/result in my application for every import using the `'@material-ui/core'` path.

This occurs for `@material-ui/core@5.0.0-alpha.28` and above.

[2021-04-27 08:07] oliviertassinari commented on #16014
@k1941996 we will deprecate them in v5 and remov them in v6.

[2021-04-27 08:30] oliviertassinari commented on #25902
This is a native `<input`. Material-UI has no control over it's behavior.

[2021-04-27 08:30] #25902 closed

[2021-04-27 08:35] oliviertassinari commented on #25573
@vicasas I agree with Marija, this sounds simple to implement, all the developers need to do is render their icon inside the tree item label. I doubt it need a demo

[2021-04-27 08:51] aayushjain7 commented on #25985
Great! 💯

[2021-04-27 09:13] tculig commented on #17454
Why was this closed? I still have this issue in 2021..

[2021-04-27 09:51] Floriferous opened #25996 "[theme] `theme.transition.create` defaults to non theme easing value"
If you try to modify the `theme.transition.easing` object in the theme, it does not seem to apply to the components.

Here's a reproduction: https://codesandbox.io/s/youthful-noether-rex8r?file=/src/App.js

If you inspect the `<ListItem button />`, you'll see that it has a transition with a cubic-bezier that does not match with the theme I provide, even though the transition duration is updated pr

[2021-04-27 10:16] nour-sidaoui commented on #20896
As of today, the same error happens when I click on **max** in certain conditions.

- `min` and `max` have the exact same values as `values`
- `min`, `max` and `values` are Numbers

@naveensaigit has said that clicking in between the sliders works and it does!

[2021-04-27 10:30] oliviertassinari commented on #20896
@nour-sidaoui Please open a new issue with a minimal live reproduction on the lastest version (v5) if we didn't fully solve the issue.

[2021-04-27 11:16] eps1lon commented on #25970
I haven't looked into how this would look like.

[2021-04-27 12:04] mbrookes commented on #24127
For the navigation design, sure (although @oliviertassinari's proposal LGTM), but the dark mode colors are a regression that needs to be fixed separately to any design changes.

[2021-04-27 12:40] strlns commented on #10582
It's not pretty, but for my Sudoku game (React learning project), I used something like this
[code]

[2021-04-27 13:05] hkkvo commented on #10000
@Vincent-Alibert

thank you for the so

Thank you for the solution.

[2021-04-27 13:41] nour-sidaoui commented on #20896
@oliviertassinari thanks for your quick answer :)
I wish I could reproduce the issue on a sandbox... but unfortunately, I couldn't :/
I'm running on version 4.11.3, is there a stable version where this bug is resolved?

[2021-04-27 14:03] nour-sidaoui commented on #20896
@oliviertassinari
Finally found it, re-render was updating marks but not the values.
useEffect'ed' it and it worked like a charm :)