[2022-07-23 07:10] #33458 closed

[2022-07-23 07:14] kaname-png opened #33618 "TypeScript types very slow"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently when using MUI with typescript the typing gets very slow when you use a component.

For example, as shown in the video, when I use the button component, the typescript typing becomes very slow, since I put a wrong code and typescript detects it se

[2022-07-23 07:57] hbjORbj commented on #33544
Is there a particular reason that you think the error is due to the styled engine?

I reproduce the same error in this [Codesandbox](https://codesandbox.io/s/runtime-dust-hxxqg0?file=/src/App.tsx) without changing the styled engine to `styled-components`.

[2022-07-23 07:59] hbjORbj commented on #33544
I can confirm that removing `vars` prop from `createTheme` makes the error go away. [Codesandbox](https://codesandbox.io/s/styled-components-forked-theme-provider-broken-ly4zjp)

[2022-07-23 13:54] Argyle-clumsystudios commented on #11749
After a lot of trial and error, the thing that finally got rid of the shaky animation (where the outer container itself seemed to be sliding up/down as well), I finally got it figured out. Adding the line `keepMounted: true` to ModalProps finally brings completely smooth animation to the drawer. Thanks @elyobo !!

Final code:

[code]

[2022-07-23 19:57] jhon-rayo commented on #32942
I will work on this and put up a PR if that's fine

[2022-07-23 21:34] shachargiladi commented on #33054
Is this issue still open to work on? Would like to work on it

[2022-07-23 22:40] iperezluis commented on #19788
This work for me! thanks, little details that sometimes i forget

[2022-07-24 07:49] omerp-explorium commented on #33561
@ZeeshanTamboli I get this error outside the codesandbox.
I used MUI Demo sandbox because it was convenient ;)

[2022-07-24 09:58] VivekGupta137 commented on #30278
Having same issue

[2022-07-24 10:24] bladl commented on #33481
I've done some research. Error thrown here.
https://github.com/mui/material-ui/blob/9222ed6f7dc214199341316337d74114e4c07c41/packages/mui-material/src/transitions/utils.ts#L3

Fade component pass 'null' to this function. It does not verify that ref element exists before passing it.

https://github.com/mui/material-ui/blob/9222ed6f7dc214199341316337d74114e4c07c41/packages/mui-material/src/Fade/Fade

[2022-07-24 10:33] creestor commented on #33565
This is not working, because under the hood, mui used emotion.js for making styled components this entails that plugin for styled-components in swc is not compatible with emotion. Also i saw the issue about that here before, cause i have had the same problem.

[2022-07-24 12:18] emlai commented on #33054
@shachargiladi 4 weeks since the last response, so I think it was abandoned. I'd say go ahead!

[2022-07-24 18:45] DwayneGit commented on #16325
I found that what is was doing wrong is putting the dialog with in its own component rather defining <Dialog> with in the parent and the content of the dialog with in its own component.
ex)
[code]

when you think about it every thing out side of <Dialog>{...}<Dialog> does not depend on the open state and will persist regardless of a open being passed in.
ex)
[code]

[2022-07-24 22:56] ved-north27 opened #33632 "Not able to use TextField type property"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have written a Simple text to password type toggle for Password visibility, I get error that `type` in TextField is not defined, here is my code

[code]

I get following error

### Expected behavior 🤔

I should be able to use `type` property as mentioned

[2022-07-24 23:23] #33632 closed

[2022-07-25 02:12] vincent1114 opened #33634 "[Autocomplete] onHighlightChange does not trigger when options changes but not the length"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Changing options asynchronously will with `autoHighlight` have weird behaviour with `onHighlightChange` when options are changed but coincidentally the length doesn't change. The `onHighlightChange` don't trigger, or the first item does not get highlighted

[2022-07-25 02:37] #33351 closed

[2022-07-25 03:10] siriwatknp commented on #32049
@mwskwong Great questions!

For Material UI, **NO**. We consider CSS variables support as an opt-in feature on top of the default API.

No. Omitting the key does not remove the default dark mode styles (that's why it is the default styles). The workaround is to remove the `dark` key from the theme object.

[code]

Proof that it works: https://codesandbox.io/s/cssvariablescustomization-demo-materia

[2022-07-25 03:27] siriwatknp commented on #33544
@HOSS11H I'd say that `theme.vars` is now our private object which can't be overridden via `createTheme`.

`theme.vars` is used for CSS variables support, please use another name. @hbjORbj to fix this issue, I think it should be:

- throw an informative error if `vars` key is passed to `createTheme`.
- add the doc to where @HOSS11H mentioned that `vars` is a private field and should not be used in

[2022-07-25 06:37] utkarsh22garg commented on #33507
Hi team, checking in for any updates here ?

[2022-07-25 07:33] noobDev31 commented on #33613
Hi @hbjORbj any eta for this?

[2022-07-25 09:36] HOSS11H commented on #33544
@siriwatknp @hbjORbj Thanks A lot for your time & effort helping me, can't imagine how confusing that was

[2022-07-25 10:02] #33328 closed

[2022-07-25 10:11] joewtd opened #33639 "In nextjs, how can I use a link tag instead of injecting style tags into html?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [x] I have tested the latest version

### Summary 💡

I found there are too much style rules when view-source.And it's unfriendly to crawler.
**So do we have some solutions for importing styles by link tags in nextjs?**

![image](https://user-images.githubusercontent.com/98067039/180753125-d85eeaa7-b610-47bf-95da-490b0

[2022-07-25 12:43] eugenestepanyuk opened #33641 "Does not fully translate the component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://codesandbox.io/s/locales-demo-material-ui-forked-owmsxi?file=/demo.tsx
here is my example.
When selecting a row in the DataGrid does not translate "1 row selected", by default always English. How to make a translate?

### Expected behavior 🤔

Full t

[2022-07-25 14:35] thoratrb28 opened #33644 "On Firefox, selection gets removed after a right-click on selected text to open the context menu"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

With Firefox [v102.0 (64-bit)] and Material UI's context menu combination, when I select the text and perform a right-click on the selected text, it triggers a context, but it just clears out the text selection. It is reproducible on the [Material UI's offi

[2022-07-25 16:40] AlexKrupko opened #33646 "[Autocomplete]: Typescript error when using controlled Autocomplete with `disableClearable`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

HI there,
I have the following code -
[code]
This code causes typescript error for the `value` prop -
[code]
I tried to use also `undefined` instead of `null`. But I get an error in that case, because we change uncontrolled state to controlled - `MUI: A com

[2022-07-25 16:42] eabalderama opened #33647 "Container maxWidth="md" does not work."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the Container component and add props maxWidth="md" or maxWidth="lg" it does not work and shows undefined in the styles. It only works when you put xs as the maxWidth.

![image](https://user-images.githubusercontent.com/67728905/180829933-12105e3

[2022-07-26 05:11] #33148 closed

[2022-07-26 05:12] sijinyu opened #33651 "Why isn't Grid working properly in MUi 5.9 version?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Development environment

react : ^17.0.2,
"@mui/material": "5.9.2",

I set the same version with codesandbox and pasted the code, so it works well

But not in my environment, just in case I did the mui/core version 4 and it worked

### Expected behavior 🤔

[2022-07-26 07:45] ZeeshanTamboli commented on #33561
It's not showing me the TypeScript error locally. I created a [GitHub repo](https://github.com/ZeeshanTamboli/Material-UI-Autocomplete-getOptionLabel-reproduction-33561) for it if someone ones to fork it and check.

It is also working for me on [StackBlitz](https://stackblitz.com/edit/react-material-ui-typescript-ajtvhx?file=components%2FApp.tsx). But the error is show in CodeSandbox.

[2022-07-26 07:53] pzi commented on #33252
FYI:

We are using the Checkbox (@mui/material 5.8.2.) component on a page that is using Formik and Next.js with `getStaticProps` as follows:

[code]

Full example here: https://codesandbox.io/s/mui-checkbox-cookie-value-q1e544

And we are noticing that the `checked` attribute is set, however, the checkbox does not render in the checked state after the first render. Clicks change the state and it

[2022-07-26 08:36] povilass commented on #33646
Your solution works as expected with our example and null is the correct value to be used https://codesandbox.io/s/modest-stallman-ye4uye?file=/src/App.tsx

[2022-07-26 08:52] AlexKrupko commented on #33646
Hi @povilass,
it works in codesandbox, but in real compiler it doesn't.
I use the latest versions. Sorry, I've forgot to add env info. Thank you, it's fixed now.

[2022-07-26 09:36] ZeeshanTamboli commented on #33151
@aaarichter Regarding **Problem 2**, I don't think we support breakpoints for `anchorOrigin`. If yes, can you point me to the docs where you read that or how you came up with it?

[2022-07-26 10:22] ZeeshanTamboli commented on #33442
It doesn't look like this report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-07-26 10:27] sylvain-chabannes commented on #32038
I encounter the same issue, To workaround it, I mocked the Tab and TabPanel components.

`jest.mock('@mui/material/Tab', () => ({ children, id, "aria-controls": ariaControls, ...props }) => {
  const TabMock = () => <div {...props}>{children}</div>;
  return <TabMock />;
});

jest.mock('@mui/lab/TabPanel', () => ({ children, id, "aria-labelledby": ariaLabelledby, ...props }) => {
  const TabPanelM

[2022-07-26 10:38] netgfx opened #33652 "MUI Datepicker placement"
Hello, I've tried to implement the solution shown here: https://github.com/mui/material-ui-pickers/issues/1115

But `PopoverProps` are no longer supported, I've tried with
[code]
but that moves the datepicker outside of the input bounds, I was trying to position the datepickers' right side on the right-bound of the input thus "aligning right" over the icon. This is doable with the old syntax via
[

[2022-07-26 11:33] michaldudak commented on #33644
I believe this behavior is inherent to Firefox - whenever another element is focused, the selection is lost. This isn't specific to Material UI. Proof: https://jsbin.com/jovakuyimu/1/edit?html,js,output

[2022-07-26 11:35] #33639 closed

[2022-07-26 11:35] ofirrifo opened #33653 "Upgrading from 5.8.3 to 5.9.2 show me error with passing ref prop to ButtonUnstyled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In version 5.8.3 I could pass ref to ButtonUnstyled
[code]

After I upgrade to 5.9.2  I start get error

[code]

This start since this change
[code]

### Expected behavior 🤔

To work as it work in version 5.8.3 which not show error

### Steps to reproduce 🕹

[2022-07-26 11:50] michaldudak commented on #33487
1 million items is a pretty extreme use case.
I suppose there is a space for optimization in Autocomplete's code. We're happy to accept contributions from the community to improve it.

[2022-07-26 12:01] michaldudak commented on #33556
TextField is simply a helper that wires together an Input and a few auxiliary components. If you require to customize it significantly, it'll be the simplest to create the necessary layout on your own, using individual components. You may start your custom component with Tthe extField's code and change it to suit your needs.

[2022-07-26 12:01] #33556 closed

[2022-07-26 12:11] Manubi commented on #20559
I am getting the same error with https://registry.yarnpkg.com/@material-ui/icons/-/icons-4.11.3.tgz
Increasing the timeout to 500000 doesn't help either.
Any other ideas?

[2022-07-26 12:11] siriwatknp commented on #33558
@amitmaury @wdenningSC @irii I accidentally use [literal template type](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html) which is introduced in TS >= v4.1.5

I will revert the change in the next release. For a workaround, if you can upgrade typescript to at least `4.1.5` it should be fine.

[2022-07-26 12:13] michaldudak commented on #33613
Thanks for the report @noobDev31. We could indeed use a class for the read-only state of the Input, to match the behavior of other states.

[2022-07-26 12:29] Salman9000 commented on #4953
link is broken

[2022-07-26 12:37] ZeeshanTamboli commented on #33653
You need to consider the latest MUI Base version for ButtonUnstyled not Material UI version. It works for me in latest MUI Base version. Take a look at the [CodeSandbox](https://codesandbox.io/s/red-frost-nzug6u).

Please provide a CodeSandbox reproducing the issue if there is an error. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-07-26 12:38] #33653 closed

[2022-07-26 13:54] povilass commented on #33651
Can you explain by "isn't Grid working properly"?
XS(6) SM(6) MD(12) LG(12) XL(12) will be applied.
![image](https://user-images.githubusercontent.com/8037810/181022844-e95305fd-e3e7-42c5-9f56-bb439ad50941.png)

[2022-07-26 14:22] talha-ah opened #33657 "Select random color from the mui theme palette"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I want to randomly select a color from my palette. I can build a function to get that but I want to know if MUI provides it or not? If not, can we have a helper function with MUI to do this?

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-07-26 14:40] LincAtMerkle opened #33658 "Framer properties"
I'm importing MUI-Base components into Framer (via ES Modules HTTP endpoint URL's) and would like to see all the Properties in Framer (https://www.framer.com/docs/property-controls/).

Rather than try create these from scratch, MUI once had a .framerfx file with these Properties. And I was wondering how/if I can get these properties again but MUI base related hopefully.

Framer now uses instant NP

[2022-07-26 15:11] ofirrifo commented on #33653
@ZeeshanTamboli
I just created a [CodeSandbox](https://codesandbox.io/s/infallible-moser-2y8oey) with my issue
And the error are exist

[2022-07-26 16:04] alexfauquette commented on #30479
Yes, I'm closing this issue to only keep one open in the mui-x repo

[2022-07-26 16:04] #30479 closed

[2022-07-26 17:05] noobDev31 commented on #33613
No issues @michaldudak. I just one need favor from you do you think this code -
  `   <Box
      component="form"
      noValidate
      autoComplete="off"
      sx={{
        "& > :not(style)": { mb: "2px" }
      }}

      <InputLabel>{props.label}</InputLabel>
      <TextField
        {...textFieldProps}
        helperText={props.helperText}
        error={props.error}
        label={null}

[2022-07-26 17:14] laichak opened #33660 "Divider not printing with Firefox"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

While printing with Firefox, Divider is not showing. It works with Chrome. I am using react-to-print package for printing.

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environ

[2022-07-26 18:14] vulgoguix commented on #27584
I Managed to solve it as follows:

SelectProps={{
              MenuProps:{
              autoFocus: false,
              disableAutoFocusItem: true,
              disableEnforceFocus: true,
              disableAutoFocus: true,
              }
            }}

[2022-07-26 18:47] shabar-shab commented on #29469
@wladimirguerra is this still open I would like to work on this.

[2022-07-26 19:55] kaguya3222 commented on #21206
This is funny that we can't set empty string as value :)

[2022-07-26 20:03] LincAtMerkle commented on #33658
As I have a need, would I be able to contribute to this work?

[2022-07-26 20:57] kaguya3222 opened #33661 "Controlled Autocomplete with disableClearable not accepting initial empty value."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I can't use Autocomplete component in my project with TS. I'm trying to create my custom autocomplete component on top of MUI Autocomplete.

Example code:

[code]

Then, when I want to use it, I can't set an empty value for this component, neither `''` (emp

[2022-07-26 21:47] krichter722 commented on #32038
[code]
right before `render` seem to be a much less invasive workaround.

Consider saving the original `Math.random` and restoring it after the test case.

[2022-07-27 00:07] rubber-duck-software opened #33662 "Cannot"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The label for a TextField can be any ReactNode. However if the label is an <input /> and the TextField is used in renderInput for Autocomplete, then the <input /> element cannot be focused.

![code](https://user-images.githubusercontent.com/25811049/1811321

[2022-07-27 04:13] siriwatknp opened #33663 "[Tabs][base] TabList should only process children with role `tab`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I want to leverage the divider in Joy but doing this does not work:

[code]

Then I found out that `TabList` process the children and attach some values to them.

Does it make sense to only process the children with `role="tab"`? It would make it easy for customizat

[2022-07-27 05:27] ZeeshanTamboli commented on #33653
@ofirrifo You need to type the generic forwardRef function as shown [here](https://codesandbox.io/s/epic-snow-nnbifv).

[2022-07-27 06:47] michaldudak commented on #33663
Thanks for the feedback. I think we could make it work similarly to how SelectUnstyled or MenuUnstyled work with their children - not updating them directly but providing a context which they can interpret on their own.

[2022-07-27 06:48] ZeeshanTamboli commented on #33615
@lindapaiste Thanks for the detailed issue. Yes, some color properties are missing in `IconButtonClasses` type. Would you like to create a PR for it?

[2022-07-27 06:53] michaldudak commented on #33613
You're losing association between label and input this way. Note that a label must have the `for` attribute or have the control it describes as its child.

[2022-07-27 06:54] #33613 closed

[2022-07-27 07:34] LukasTy commented on #33661
Hello @kaguya3222
Thank you for creating a detailed issue. 🙇

To me it seems like a conflict between the configuration of your `AppAutocomplete` component and the desired outcome.
You have provided `disableClearable` property to the component, which in turn has to disallow empty values.

I've reproduced your issue locally and removing `disableClearable` allows setting `null` as the value for `Auto

[2022-07-27 08:05] siriwatknp commented on #29221
I have a plan to add an option to switch between using margin and flexbox gap to the `Stack` component. Using flexbox gap should fix this issue, it is a better way than using margin.

Flexbox gap is at 91.84%, it is promising. https://caniuse.com/?search=flexbox%20gap

[2022-07-27 08:14] mnajdova commented on #31198
+1 for doing this.

[2022-07-27 08:14] kaguya3222 commented on #33661
@LukasTy Hello, thank you for your response. I didn't expect that in order to set autocomplete in empty value we should pass `disableClearable` as `false`. I have an Autocomplete that should have the ability to be empty at the start, but then value shouldn't be clearable by clicking the 'clear' icon (this is the requirement of design). I set `disableClearable` to `false` in order to hide this butt

[2022-07-27 08:50] LukasTy commented on #33661
I see. Indeed, in order to cover such use case accepting `null` as value would make sense, but we should let @mui/core decide on on this matter.

In the mean time you could overcome the TS error with some `evil casting`:
[code]

[code]

[code]
After a bit of testing i didn't notice any issues popping up because of such approach.

[2022-07-27 10:40] noobDev31 commented on #33613
So now we have a CSS class for the **readonly**?

[2022-07-27 10:40] michaldudak commented on #33603
We've got this working in the unstyled version of the Menu: MenuUnstyled. It will serve as a foundation for Material UI component in the future (we aim for the next major version - v6). I'll keep this issue open for reference.

[2022-07-27 11:01] povilass commented on #33662
The issue already exists https://github.com/mui/material-ui/issues/33195

[2022-07-27 11:15] think-divergent commented on #30953
For anyone stuck on material ui v4, here's a patch for patch-package that addresses this issue.

`patches/@material-ui+core+4.11.3.patch`
`
diff --git a/node_modules/@material-ui/core/ButtonBase/ButtonBase.js b/node_modules/@material-ui/core/ButtonBase/ButtonBase.js
index 94b4ac5..7964493 100644
--- a/node_modules/@material-ui/core/ButtonBase/ButtonBase.js
+++ b/node_modules/@material-ui/core/Butt

[2022-07-27 11:27] michaldudak commented on #33613
After we release the next version (likely the next Monday).

[2022-07-27 11:31] shazebCeloxis opened #33669 "custom edit component textfield with multiline"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

i created a textfield multiline edit component so i gave the condition that if it is empty then it should be in exit mode and it remained as well but one problem is there but while i am pressing enter the textfield iis going to next line so can i stop it fr

[2022-07-27 11:39] noobDev31 commented on #33613
Well thanks a lot for this 😊

[2022-07-27 11:58] bflemi3 commented on #25578
The workaround @coot3 posted almost worked for me. I had to make changes to the click handlers as well as the `ClickAwayListener.onClickAway` handler .  I included only the relevant parts of my implementation below.

It's work noting that this will work regardless of whether `multiple={true}` or not.

I'm using `"@mui/material": "5.3.1"`

*Select Implementation*
[code]

*ClickAwayListener Implemen

[2022-07-27 12:27] michaldudak commented on #33660
I wasn't able to reproduce the issue. The https://mui.com/material-ui/react-divider printed (to PDF) just fine on both Edge and Firefox. Note that the Divider in its simplest form is just an `<hr />`. Try checking if plain hr tag prints fine on your setup.

[2022-07-27 12:29] michaldudak commented on #33669
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-07-27 12:31] #33618 closed

[2022-07-27 12:34] LBeckX commented on #15616
[code]

[2022-07-27 12:37] michaldudak commented on #33443
The problem seems to appear only in development mode. When you create a production version of the application, the styles aren't duplicated.

[2022-07-27 12:43] guoyunhe commented on #31194
I also have this issue. It used to work and broke since some day.

[2022-07-27 13:24] mnajdova commented on #28578
cc @siriwatknp let's at least add option for excluding some of the codemods and look into the issue of the specific codemod ASAP.

[2022-07-27 13:32] mnajdova commented on #33245
@sforehand they are siblings -
![image](https://user-images.githubusercontent.com/4512430/181259704-3b495696-0671-45fc-961f-e590d467ec5b.png)

[2022-07-27 13:35] mnajdova commented on #33517
@shirshendubhowmick thanks for sharing your investigations. Yes, emotion is a singleton, which is why we have it as a peer dependency. It could have just been wrong caching when installing the modules. I wouldn't overload the migration guide until we see more people hitting this problem.

[2022-07-27 13:47] mnajdova commented on #33246
I guess while I'm on it I could also add colorInfo, colorSuccess and colorWarning since according to the Chip API all those values are supported.

We need to add all: `colorError`, `colorInfo`, `colorWarning` etc. This would be applicable on components that have `ComponentNamePropsColorOverrides`.

[2022-07-27 13:52] mnajdova commented on #29008
Thanks for sharing your suggestions @MauricePasternak. I agree, we can extend/improve the docs around this. cc @samuelsycamore @siriwatknp

[2022-07-27 13:53] mnajdova commented on #30678
cc @siriwatknp?

[2022-07-27 13:55] kaguya3222 commented on #33661
@LukasTy In my opinion, this is sad that we have to lie to MUI components using type casting with `any` type. I think, currently i can use Autocomplete without `disableClearable={false}`. I created workaround with hiding clear icon like:
[code]

[2022-07-27 14:00] mnajdova commented on #33512
Thanks @povilass this is a good point. We are likely going to hit this in the future with CSS vars. @povilass currently we don't need this in other components, this is why I don't think we should add it right now. cc @siriwatknp did you need so far something like this for joy?

[2022-07-27 14:38] LukasTy commented on #33661
@kaguya3222 I do understand your position, but, sadly, I'm in no position to decide what's the direction this component should go with.
Technically it doesn't look like a big change/problem as the component works with the casting, so it's just a matter of aligning the type definition.
Regarding your solution:
in such case you would probably need to override a different property - `onChange` as wit

[2022-07-27 15:57] kaguya3222 commented on #33661
@LukasTy Yeah, so we have to choose between two workarounds :smile: . Ok, thank you, so currently we have a solution, but anyway, I think people who will face this issue won't be satisfied with the solution.

[2022-07-27 16:47] laichak commented on #33660
Follow up: Here is the code that produce the issue.

<Box sx={{ display: 'none', displayPrint: 'block' }}>
<Divider / >
< /Box>

[2022-07-27 18:25] spntai opened #33672 "Autocomplete TextField multiline=false doesn't seem to work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

TextArea Autosize kicks in even with multiline set to false

### Expected behavior 🤔

Expecting single line TextField

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary><code>npx @mui/e

[2022-07-27 18:33] robonetphy opened #33673 "[icons] Incorrect `Cases` icon in the docs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Icon of Cases looks wired:
![Screenshot (361)](https://user-images.githubusercontent.com/23169768/181345892-f55be986-a604-4b7f-bf2c-e9d84ff8237b.png)

### Expected behavior 🤔

IDK, but I think it's mistake.

### Steps to reproduce 🕹

Steps:

1. open [here](

[2022-07-27 19:58] noobDev31 commented on #30666
Hi Guys, I got an even worse requirement to build using the **TextField** for the required input(asterisk) like below -
![image](https://user-images.githubusercontent.com/109504204/181358062-13c139e7-3684-46a8-b8d6-8477ecc64f65.png)

I tried something like this as well but it won't work for most cases I guess
https://codesandbox.io/s/customizedinputs-demo-material-ui-forked-f6xyx8?file=/coreInputL

[2022-07-27 21:34] alexandra-lim opened #33676 "[Tooltip] Focusable title content is not keyboard accessible when Tooltip precedes a focusable element"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When preceding a keyboard-focusable sibling element like `<button>`, `Tooltip` loses keyboard focus and links or buttons inside of `Tooltip` cannot be accessed.

### Expected behavior 🤔

Focusable elements such as links or buttons should be keyboard accessi

[2022-07-27 23:30] thunderlabs-mikkel commented on #30129
I'm also seeing this issue, however I found a workaround - if you turn the aspect ratio into a string, it works.
Ie:

[code]

Passing that in to the `sx` parameter makes it work.

[2022-07-27 23:58] Homerlrh commented on #30410
Still facing the same problem, style is not load on first load, I also followed the [_document.js](https://github.com/mui-org/material-ui/blob/master/examples/nextjs/pages/_document.js). What else am i missing ?

[code]

[2022-07-28 02:13] siriwatknp commented on #31244
@theMyth721 Hey, we have released Grid v2 in `v5.9.1` which fixes this issue. Can you give it a try?

The doc is not live but you can take a look in this PR > https://github.com/mui/material-ui/pull/33554.

The usage is like this:
[code]

[2022-07-28 02:15] siriwatknp commented on #29266
@zirkelc Hey, we have released Grid v2 in `v5.9.1` which fixes this issue. Can you give it a try?

The doc is not live but you can take a look at https://deploy-preview-33554--material-ui.netlify.app/material-ui/react-grid2/. (Here is the [PR for the doc](https://github.com/mui/material-ui/pull/33554))

The usage is like this:
[code]

[2022-07-28 02:15] siriwatknp commented on #28855
@OnlyJoe33 Hey, we have released Grid v2 in `v5.9.1` which fixes this issue. Can you give it a try?

The doc is not live but you can take a look at https://deploy-preview-33554--material-ui.netlify.app/material-ui/react-grid2/. (Here is the [PR for the doc](https://github.com/mui/material-ui/pull/33554))

The usage is like this:
[code]

[2022-07-28 05:04] shazebCeloxis commented on #33669
`<TextField
            defaultValue={props.value}
            type="text"
            multiline
            rows="3"
            //value={editText}
            onChange={handleChange}
            inputProps={{
                style: {
                    zIndex: "1000",
                    minWidth: "200px",
                    backgroundColor: "white",
                    border: "1px solid blac

[2022-07-28 05:39] shazebCeloxis opened #33678 "Tree data grid server side loading"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently on the expansion of icon in tree data grid the entire data is getting loaded.

### Expected behavior 🤔

I want only the data which will be seen after expanding only that data to be loaded or if not possible not the entire data but only the data wh

[2022-07-28 05:44] LukasTy commented on #33661
@kaguya3222 Well, at least workarounds seem to work without issues, but I will try to ping core team regarding this if they forget to look into this case. 😉

[2022-07-28 07:06] theMyth721 commented on #31244
Hi, thank you, I will try this out very soon.

[2022-07-28 07:20] ofirrifo commented on #33653
@ZeeshanTamboli  Thanks it work :)

[2022-07-28 07:35] zirkelc commented on #29266
@siriwatknp it looks good:
https://codesandbox.io/s/mui-grid-spacing-v5-gridv2-05ho28?file=/src/App.js

[2022-07-28 08:42] aaronadamsCA commented on #32967
FWIW we're already making use of this in a few of our in-house components, and it's absolutely unbeatable in terms of functionality and flexibility so far. I'd love to see it marked stable and given some documentation love. For us, "components that know how to render themselves" is a huge part of MUI's value.

Perfect examples of theme values are "`TopBar` should use a reverse colour scheme" or "`

[2022-07-28 09:25] wladimirguerra commented on #29469
Hi Shabir,
Be my guest!

Wladimir

[2022-07-28 09:40] robonetphy commented on #33673
Hey @ZeeshanTamboli,
Can I create the PR for same?

[2022-07-28 09:44] ZeeshanTamboli commented on #33673
@robonetphy Sure.

[2022-07-28 09:58] mnajdova commented on #32967
@mui/core I there are multiple interesting topics raised here which I think deserve a guide to be created. It would help for pushing the customization using the libraries one step further.

[2022-07-28 09:58] PetrStoklas opened #33681 "[Autocomplete] option gets selected when clicking outside of the option list when autoSelect=true and freeSolo=true"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

property autoSelect is set to true
property freeSolo is set to true

list with options "suggestions" is open

I hover over some of those option with cursor

I then move cursor out of the options list and click

option gets selected as a value of the field

[2022-07-28 10:03] PetrStoklas commented on #27962
@panda7789 In the sandbox I can see the same behaviour as described in this issue

[2022-07-28 10:25] urbsny commented on #32545
I am also using react 17 and had the same problem.
I worked around this problem by modifying `tsconfig.json`.
[code]

[2022-07-28 10:47] maapteh opened #33682 "Im missing `tertiary` in Palette type definition"
https://github.com/mui/material-ui/blob/0eaa8f35db7f5bdc9b324337aa580df4e2d0da5e/packages/mui-material/src/styles/createPalette.d.ts#L81-L99

[code]

[2022-07-28 10:47] hbjORbj commented on #33082
them to the snake bar.

You can simply add a div element inside the `Snackbar` component, and then do the loop / add inside the div?

[2022-07-28 10:48] #33082 closed

[2022-07-28 10:52] maapteh commented on #26475
chakra-ui did this

[2022-07-28 10:59] Dragomir-Ivanov commented on #32545
@urbsny Thank you, will make a new try soon.

[2022-07-28 11:06] hbjORbj commented on #32990
@siriwatknp

What do you think? I think we do this a couple of times in a few components?

[2022-07-28 11:11] michaldudak commented on #33669
From what I understand, you need to handle onKeyDown and run your own logic when Enter is pressed. It doesn't seem like you're describing a bug in our library. For such questions I recommend StackOverflow.

[2022-07-28 11:11] #33669 closed

[2022-07-28 11:22] hbjORbj commented on #33011
@Moizsohail

I changed the onClick behaviour of the button so that it enables / disables the first tree item. As you can see in the screen recording, it seems to work fine.

[Working example](https://codesandbox.io/s/disabledtreeitems-demo-material-ui-forked-m8s8tb)

https://user-images.githubusercontent.com/32841130/181493311-5efabbcb-6681-415a-ab36-c125e4fe07cf.mov

[2022-07-28 11:22] #33011 closed

[2022-07-28 11:58] povilass commented on #33682
You do not need any changes https://mui.com/material-ui/customization/theming/#custom-variables try using augmentation for this case. Create file called material-augmentation.d.ts(any name you want)

[code]

Include file into typescript global definition.
![image](https://user-images.githubusercontent.com/8037810/181499320-ab87cb71-aae3-40db-a744-6aeaf2de792c.png)

[2022-07-28 12:04] maapteh commented on #33682
Ah, its not a supported one :) Its been a while for me using MUI and when i saw the created palette i thought it was a default one :) Thanks @povilass

[2022-07-28 12:04] #33682 closed

[2022-07-28 12:30] shahab0105 commented on #21661
Hello, anyone still trying to solve the position, just add the popperComponent attribute. Popper can be imported from mui
[code]

[2022-07-28 12:39] michaldudak commented on #33661
@kaguya3222 Would applying `disableClearable` conditionally work for your case?
For example `disableClearable={value !== null}`

[2022-07-28 13:01] aaronadamsCA commented on #29345
CSS [`color-contrast()`](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color-contrast) was meant to help solve for this [as soon as this year](https://web.dev/state-of-css-2022/#color-contrast()), but unfortunately [it looks like it got bumped before that article even published](https://www.w3.org/TR/css-color-5/#changes-20220428).

[2022-07-28 13:16] michaldudak commented on #33672
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-07-28 13:27] michaldudak commented on #33676
The Tooltip displays its content in a Portal placed at the end of the body by default. So the button you place in the tooltip is focusable, but since it's near the end of the document, its tab order does not immediately follow the trigger button. You can opt-out of having a portal - this will render the tooltip contents right after the triggering element. To do so, add `PopperProps={{ disablePorta

[2022-07-28 14:18] ritwaldev commented on #32269
Definitely agree with @socketpair, this confused me for a good little while.

[2022-07-28 14:37] manhhnv commented on #21250
@hoangtrung99 Dev mode is twice render, you can try with production mode

[2022-07-28 15:36] spntai commented on #33672
[code]

![2022-07-28_20-47-12_AC_Multiline](https://user-images.githubusercontent.com/68487391/181575144-e2e82049-d6d6-434d-9270-3e6d2b449ac2.jpg)

[2022-07-28 15:46] #33568 closed

[2022-07-28 16:04] #32999 closed

[2022-07-28 16:11] alexandra-lim commented on #33676
It does! Thank you very much!

[2022-07-28 16:20] GMchris commented on #14931
@stefanfrancis93 And anyone visiting this page looking for an answer, this is what I did. This is using MUI 5, however even older versions tend to have `createMixins` somewhere in them.

[code]

[2022-07-28 16:45] stevenkeith85 commented on #30410
Yup...

Just wasted some time with this one. In case this is anyone else's issue.

https://developer.chrome.com/blog/new-in-devtools-102/#network-preview

I used to be able to click on the dev tools preview tab, and see a nicely rendered page. At some point I've presumably upgraded Chrome (or its done it itself 🤷‍♂️) and _things_ stopped working.

I probably never noticed at the time; so when I ne

[2022-07-28 16:56] kelvindecosta commented on #30410
I followed @Taliss 's comment in this thread: https://github.com/mui/material-ui/issues/30410#issuecomment-1148489813

Works like a charm.
I'm using all the latest packages.

Is there a benefit to using the default approach that is missing with this configuration?
It just seems needlessly complicated.

[2022-07-28 19:03] zorgick opened #33686 "Sx styles are not compatible with emotion css util"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

How do I pass sx styles to a component, that will use them in HTML element css property? Right now typescript generates error about incompatible types.

[code]

### Expected behavior 🤔

sx styles are compatible with emotion css prop

### Steps to reproduce

[2022-07-28 20:22] kcarmonamurphy commented on #18514
I followed the suggestion from @ifeltsweet and I was able to make this warning disappear. For context, I had three `<Autocomplete>` fields whose values were filtered from the selections of the previous ones.

[2022-07-28 22:34] LincAtMerkle commented on #33658
There is more to this picture. For MUI Base to be useful within a design tool, I've shared Design Tokens using FigmaTokens, Style Dictionary, Tailwind.
So in effect, you can control MUI styles from Figma.

[2022-07-28 22:44] mbrookes commented on #29345
There's colorManipulator's `getContrastText`, but. apologies, I'm a bit out of touch with what's in the theme or public API...

[2022-07-28 22:59] mbrookes commented on #33445
@flaviendelangle This is about the translation of the docs rather than the localisation of component.

[2022-07-29 03:42] siriwatknp commented on #30678
Please share the code snippet or a reproducible sandbox.

[2022-07-29 03:45] siriwatknp commented on #32990
Which components?

[2022-07-29 05:44] PunitSoniME commented on #33673
Hi @robonetphy

Made a fix and created a PR

[2022-07-29 05:48] LukasTy commented on #33672
@spntai I'm afraid that the case you are trying to achieve is not that trivial.
If I understand correctly, your aim is to have a multiple selection for `autocomplete`, but only ever show the selected options in a single line?

If I'm not mistaken, such feature does not exist and would probably need to be implemented from Autocomplete side and not the TextField.

Would maybe using [limit tags optio

[2022-07-29 07:09] #33602 closed

[2022-07-29 07:49] mche opened #33689 "[Select] Opened menu left position"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello /

Here issue sandbox https://codesandbox.io/s/select-material-demo-forked-b47h5q

Currently opened position for:
[code]
is left relative to parent `<Box>`:
![image](https://user-images.githubusercontent.com/3126480/181708657-92599e44-196e-47d9-bce5-0

[2022-07-29 08:53] fadil9872 commented on #18113
I have an api but how can I use autocomplete with my api and the data changes every time I type something

[2022-07-29 08:55] MonstraG opened #33690 "[@mui/styled-engine-sc] tried to access @babel/runtime but it isn't in its dependencies"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When building the application, following happens:

[code]

### Expected behavior 🤔

Buiild completes

### Steps to reproduce 🕹

https://github.com/MonstraG/mui33690repro

yarn install
yarn build

### Context 🔦

Issue seems to be like https://github.com/mui/

[2022-07-29 08:57] PunitSoniME commented on #33681
@PetrStoklas

autoSelect prop is used to select the option which gets **mouse hover** or **keyboard focus**

If your ```<Select />``` contains **autoSelect** both, it will auto select the hovered or focused option

[2022-07-29 09:12] siriwatknp commented on #28578
@cy-ssid @manuFL @mattbf @turshija I finally found the root cause in `theme-spacing` codemod. Here is the [PR for the fix](https://github.com/mui/material-ui/pull/33691).

Can someone try the build https://ci.codesandbox.io/status/mui/material-ui/pr/33691/builds/276128, if it works?

[2022-07-29 09:21] mche commented on #33689
### If team right then i want to PR

[2022-07-29 09:38] badalsaibo commented on #33413
Hi @hbjORbj what's the status of this issue?

[2022-07-29 09:41] mche commented on #33689
Oke, dublicate https://github.com/mui/material-ui/issues/5634#issuecomment-644278423

[2022-07-29 10:24] AhmedAbdulrahman commented on #29008
@MauricePasternak I have done the same thing for mixins as your CodeSandBox but it gives error:
![image](https://user-images.githubusercontent.com/10485129/181739478-0af17994-ea3d-486b-80aa-5f4f05266954.png)

Error: `Property 'verticalBorders' does not exist on type 'Mixins'.ts(2339)`

btw I have `"@mui/material": "^5.8.6",` installed.

[2022-07-29 10:38] Zhaniarttt commented on #9875
did u find a solution for this ?

[2022-07-29 11:03] Stehsegler opened #33694 "[Base] `TablePaginationUnstyled` not exported on the package level"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Contrary to [the docs](@mui/base), the `TablePaginationUnstyled` component cannot be imported from `@mui/base`, as it is not exported in the package's [`index.js`](https://github.com/mui/material-ui/blob/master/packages/mui-base/src/index.js).

I.e.

[code]

[2022-07-29 11:16] PunitSoniME commented on #33615
@lindapaiste

Can you provide a codesandbox with example how you are going to use the exisisting colorInherit or colorPrimary or colorSecondary please ?

Please for this (Codesandbox)[https://codesandbox.io/s/material-ui-issue-latest-s2dsx] to make an example

[2022-07-29 11:20] HonzaKopecky commented on #28578
This is the first time for me installing from a non-npm source but I did so like this:

`npm i https://pkg.csb.dev/mui/material-ui/commit/479b4ded/@mui/material https://pkg.csb.dev/mui/material-ui/commit/479b4ded/@mui/codemod --legacy-peer-deps --save-dev`

And it **did** indeed make the `v5.0.0/preset-safe` work for me. One of the source files that caused the slow operation for me was a 800 lines

[2022-07-29 11:32] siriwatknp commented on #32088
@michaldudak Any thoughts on my proposal?

[2022-07-29 11:59] siriwatknp commented on #32967
I'm on this!

[2022-07-29 12:00] siriwatknp commented on #29008
I am on this.

[2022-07-29 13:48] MonstraG opened #33695 "[Stepper] StepButton has too big of a space to click"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/17963791/181773450-f154a2dd-ff7a-43e3-9984-705af0587a0d.png)
![image](https://user-images.githubusercontent.com/17963791/181773685-dcaa04f3-5228-46ec-a536-a0f65dfcf08f.png)

Clickable area (together with ma

[2022-07-29 14:44] caio-borghi-yapi commented on #23885
The problem with this approach is that useMediaQuery hook is called 6 times on each rendering.

Would be awesome if there was a way to listen to some property to only call when needed (so we could add debounce to it).

[2022-07-29 14:45] dan-cooke commented on #23885
@caio-borghi-yapi yes you are right, and I have actually noticed performance issues with it.

so I would not recommend my hook for production

[2022-07-29 14:46] grazo99 opened #33696 "MUI Button property color is not compatible with the palette defined in Theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Button.color only accepts: 'inherit' | 'primary' | 'secondary' | 'success' | 'error' | 'info' | 'warning'

### Expected behavior 🤔

Should accept the colors define in the theme's pallette
color={theme.palette.primary.main} --> throws an error

### Steps to

[2022-07-29 14:47] MonstraG commented on #33696
Just put `color"primary"`?

[2022-07-29 14:48] grazo99 commented on #33696
I have primary.main as well as primary.light... should be able to accept primary.main

[2022-07-29 14:50] MonstraG commented on #33696
The button will have `primary.main` background color, if you do `<Button color="primary">test</Button>`

[2022-07-29 14:52] grazo99 commented on #33696
What if I want primary.light?

[2022-07-29 14:57] MonstraG commented on #33696
That you cannot do just by passing `color`. Here is a documentation link to possible ways to do that:
https://mui.com/material-ui/customization/how-to-customize/

If you want to be able to just pass `color="light"` everywhere, you can create your own button variant:
https://mui.com/material-ui/customization/theme-components/#creating-new-component-variants

[2022-07-29 14:59] MonstraG commented on #33686
They cannot be compatible, as `sx` prop takes a javascript object
[code]
and `css` is a special function that you pass scss code.
[code]

In your specific case, you can use a Box instead and change it's component property, like in documentation:
https://mui.com/material-ui/react-box/#overriding-mui-components

[code]

[2022-07-29 15:03] MonstraG commented on #33660
`displayPrint` doesn't seem to be an actual css property.

What you want is
[code]

[2022-07-29 15:11] caio-borghi-yapi commented on #23885
Do you have any ideia if there is a good way to set the currentBreakpoint without causing many rerenders?

A property from useTheme to listen to would be great.

[2022-07-29 15:17] caio-borghi-yapi commented on #23885
@oliviertassinari could this one be re-opened?

[2022-07-29 16:23] vulgoguix commented on #33413
I'm having the same issue with the Table Pagination popover.

[2022-07-29 19:47] aaronadamsCA opened #33700 "Type mismatch on PaginationItem with exactOptionalPropertyTypes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

With TypeScript `exactOptionalPropertyTypes: true`:

[code]

Type error at `PaginationItem`:

[code]

### Expected behavior 🤔

No type error.

### Steps to reproduce 🕹

https://www.typescriptlang.org/play?exactOptionalPropertyTypes=true#code/JYWwDg9gTgLgBAb

[2022-07-29 20:14] zorgick commented on #33686
@MonstraG  Thank you for your answer! However, my question was about the possibility of passing styles, created by MUI utils, to non-MUI components and elements. In v4 we had a nice feature of defining custome styles for all components via `makeStyles`. In v5 I don't see any ready solution with that. I don't feel right using `Box` everywhere, where I can use bare HTML elements.

[2022-07-29 22:50] kinoli opened #33701 "External Library wrapper with webpack can use theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hi, I'm using Mui 5, the latest version and I'm making an external shared library that basically wraps and styles MUI components. When I load the components into my app and wrap everything with the ThemeProvider, the shared components are still using the de

[2022-07-30 00:27] jackie1santana opened #33703 "Material-UI Version 4 stripping and disorienting all of my V5 MUI Styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

 I have this strange **Material UI CSS** issue going on. So basically I am working on a company proje

[2022-07-30 06:03] ayushpayasi commented on #12898
I am facing same issue as @Floriferous , and I have created a sandbox for the same

Sandbox Link - `https://codesandbox.io/s/laughing-kilby-jvkdz8?file=/index.js`

[2022-07-30 07:32] Tzook opened #33704 "[Button] endIcon and startIcon have invalid margins in RTL"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When both your document and your theme has `direction: "rtl"`, the endIcon and startIcon margins become invalid and cause sad behavior:
![image](https://user-images.githubusercontent.com/7537694/181879893-dfc3b5f0-0186-4229-9a90-1ce3e0117517.png)

### Expec

[2022-07-30 12:52] oliviertassinari commented on #29696
This issue feels almost like a duplicate of #9714. There, the argument was made that no supporting, null, undefined, false would be preferable because it would force developers to be explicit about how they want to handle edge cases. Is the value undefined because the translation key for the title missing or something else?

Now, if this issue is about keeping the prop-type error and keeping the T

[2022-07-30 15:58] danyi1212 opened #33708 "NextJS + TS example - Can't resolve 'react-transition-group'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After cloning the [nextjs with typescript example](https://github.com/mui/material-ui/tree/master/examples/nextjs-with-typescript), installing and running the server, when accessing http://localhost:3000/about I'm getting the following error

Module not fou

[2022-07-30 16:06] FasalMohammadh commented on #33708
Iam also expriencing the same issue

[2022-07-30 16:12] jamolpe commented on #33708
I was able to solve this issue installing the  "react-transition-group": "4.3.0" version in my package.json

[2022-07-30 16:27] danyi1212 commented on #33708
Infact an issue with `react-transition-group` v4.4.3. They've published a fix to version v4.4.4 and now it works! Thanks to @jamolpe

[2022-07-30 16:27] #33708 closed

[2022-07-30 18:16] rbong commented on #29742
I have a PR up to fix #365: https://github.com/styled-components/babel-plugin-styled-components/pull/380

However I haven't made a fix for https://github.com/styled-components/babel-plugin-styled-components/pull/364.
The first test case works.
I'm not sure if the second test case should be changed.
It seems like styled-components intentionally ignores renamed imports of `styled` because of https:/

[2022-07-30 19:57] ClassicDarkChocolate opened #33709 "Setting component prop on Dialog will cause bug"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The default styles are not set on the DialogRoot if the `component` prop is specified in @mui/material@5.8.6.

### Expected behavior 🤔

The default styles are set on the DialogRoot if the `component` prop is specified just like in @mui/material@5.8.5.

###

[2022-07-30 20:15] NathanC opened #33710 "Typescript: MenuItem missing "component" prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The MenuItem is missing the "component" prop in Typescript, in `@mui/material` `v5.9.2`.  It has the `LinkComponent` prop, but that seems to do something different.

It looks like this was an issue in MUI 4, but that was closed as fixed: https://github.com/

[2022-07-30 20:32] NathanC commented on #33710
This is also an issue for `ListItem`, apparently. It likewise has no component prop, only a LinkComponent prop, This isn't discussed [in the docs](https://mui.com/material-ui/api/list-item/#props)

[2022-07-30 20:34] NathanC commented on #28335
FYI for anyone having this issue, the workaround of using `component` currently doesn't work because the `component` prop is missing. See https://github.com/mui/material-ui/issues/33710

[2022-07-30 20:38] NathanC commented on #33710
I just did some testing with this, and it works if I forcefully ignore the typing by spreading the props
[code]

So it seems like this is just a issue with the Typescript declarations.

[2022-07-31 02:13] Kosta7 commented on #29466
The workaround above isn't working for me:

[code]

[2022-07-31 09:19] 2brownc opened #33730 "[Popper] Placeholder text from `TextField` is appearing inside `Popper`."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When a `Popper` component is displayed above an `TextField` component, the place holder text of `TextField` is appearing inside the `Popper`.

### Expected behavior 🤔

No content of the `TextField` component should appear on the `Popper` when `Popper` displ

[2022-07-31 09:21] 2brownc commented on #33730
Something to do with the "opacity" of the place holder text of `TextField` and how it changes the `z-index`?

Seems relevant: https://medium.com/nerd-for-tech/complete-guide-to-z-index-in-css-9f09550ae886

[2022-07-31 11:23] iamxukai opened #33731 "[docs-infra] The icons in the search dialog appear abnormally"
### Current behavior 😯

Go directly to a blog through a URL, click the search button. A search dialog appears, but the icons in the search dialog appear abnormally.
![need to be fixed](https://user-images.githubusercontent.com/85668115/183281513-746b1ac9-c9c5-4b2a-8a14-6d7be587ef4a.png)

### Expected behavior 🤔

![expected](https://user-images.githubusercontent.com/85668115/182023228-79f00793-854f

[2022-07-31 17:03] snorkel875 commented on #27933
May I tackle this issue?

[2022-07-31 18:20] Nattyfro commented on #19490
31stJuly2022 -  from macabeus comment  below the backButton={null} type in this...
sx={{ '& .MuiLinearProgress-root' : { width: '100%' } }}

I hope this helped somebody!! ✌️

[2022-07-31 18:42] pratikkarad commented on #33410
Hi, @siriwatknp
If no one else is working on it, I would like to work on this issue.
Thanks!

[2022-07-31 19:37] pratikkarad commented on #33410
Hi, @siriwatknp
If no one else is working on it, I would like to work on this issue. I have studied the issue and I think I have the resolution to this big.
Thanks!

[2022-07-31 21:48] kachi1227 commented on #28850
I would suggest adding this to the docs somewhere as a "things to look out for" if it's not already there. I've already been burned by this a couple times when using VS Code's auto import. Seems like this is something that can easily trip up newcomers to MUI 5

[2022-08-01 01:53] Mark-777-0 commented on #33410
We can both work on this if you'd like?  I just fixed my typo, I'm trying some other things once I can get my local set up re-running.

[2022-08-01 02:15] bannarisoftwares opened #33733 "How to resolve typescript errors in custom theme in Material UI 5?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`palette.ts`

[code]

`themeProvider.tsx`

[code]

`Usage typescript error`

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/2MILd.png

### Expected behavior 🤔

Expected typed support for custom theme

### Steps to reproduce 🕹

Ste

[2022-08-01 03:30] #33544 closed

[2022-08-01 03:32] pratikkarad commented on #33410
Sure @Mark-777-0. Till the time you get your setup re-running, could you please go ahead and close the pending PR if fixing typo didn’t solve the mentioned bug in the issue. So others can raise one if they a solution to this.
Thanks! :)

[2022-08-01 05:18] pratikkarad commented on #33410
Hey @Mark-777-0, I have fixed the mentioned bug for the Stepper component. Please take a look if it's working for you as well.

[2022-08-01 05:19] pratikkarad commented on #33410
Hey @Mark-777-0, I have raised PR and fixed the mentioned bug for the Stepper component. PTAL if it's working for you as well.

[2022-08-01 05:20] pratikkarad commented on #33410
Hey @Mark-777-0, I have raised PR and fixed the mentioned bug for the Stepper component. PTAL if it's working for you as well.

[2022-08-01 06:49] eevsevleev-andersenlab commented on #32749
any updates?

[2022-08-01 06:55] worlderland opened #33735 "Text in toggleButton component adds unremovable gap"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using the MUI ToggleButton component as part of multiple toggle button groups to make a nice navbar, and I'm following the documentation here: https://mui.com/material-ui/react-toggle-button/.

In the "Color" paragraph (of the page linked above) I can s

[2022-08-01 07:12] woojinjang-tatum commented on #33546
@hbjORbj
Thanks for your explain!! :)

[2022-08-01 07:28] PetrStoklas commented on #33681
@PunitSoniME

Yes, but I would expect the option to stop being hovered when the cursor leaves the options list.

[2022-08-01 07:34] PunitSoniME commented on #33681
@PetrStoklas

Then you can remove **autoSelect** prop to disable that functionality.

[2022-08-01 07:40] PetrStoklas commented on #33681
@PunitSoniME

But I find the autoSelect functionality useful in a way where user types something in the input field and the text matches value. Lets say picking from list of U.S. states. Lets say I do not want to scroll down to WY for Wyoming but just type it in quickly, hit tab and go.

Yes I would love to loose the hover when not directly hovering over the option.

[2022-08-01 07:53] michaldudak commented on #33694
Thanks for reporting this. Would you like to contribute to the project by fixing this issue?

[2022-08-01 07:56] ZeeshanTamboli commented on #33457
@luckerzxb I am not able to reproduce it in the `useSelect` [hook demo](https://mui.com/base/react-select/#hook) after opening it in the CodeSandbox as you mentioned. Also, the demo URL you provided is wrong. Are you on MUI base version `v5.0.0-alpha.91`?

[2022-08-01 08:09] michaldudak commented on #32437
I don't see any reason for not having the event marked as passive. This issue is good to take.

[2022-08-01 08:16] michaldudak commented on #16859
It seems to me that the System could be a better place for this as it's a utility to help styling components. CC @mnajdova

[2022-08-01 08:26] ZeeshanTamboli commented on #33513
Can you provide an example in a CodeSandbox or a link to the docs demo for a clear understanding? Also providing some steps to replicate your requirement would be great.

[2022-08-01 08:35] ZeeshanTamboli commented on #33551
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-01 08:39] ZeeshanTamboli commented on #33562
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-01 08:47] ZeeshanTamboli commented on #33578
Fixed in #33324

[2022-08-01 08:47] #33578 closed

[2022-08-01 09:08] MonstraG commented on #33690
Temporary fix is to declare it myself like in https://github.com/styled-components/styled-components/issues/3082#issuecomment-698392819:

[code]

(don't forget to do `yarn install`)

[2022-08-01 09:25] PunitSoniME commented on #33730
Fix added

[2022-08-01 09:26] hbjORbj commented on #33730
Why don't you add `sx={{ zIndex: 1 }}` to the `Popper` component?

Here's a working example: https://codesandbox.io/s/loving-forest-vgsefx

I don't think that we need to add style to the implementation for this specific use case.

[2022-08-01 09:30] hbjORbj commented on #33413
Please create a new issue with a bug-reproducible Codesandbox. You can fork this template: https://codesandbox.io/s/material-ui-issue-latest-s2dsx

[2022-08-01 09:48] NPrada opened #33738 "Joy Select does not open when clicking the select icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When clicking on the icon with the two arrows the dropdown does not open.
![Screenshot 2022-08-01 at 10 45 31](https://user-images.githubusercontent.com/14167048/182121638-e4a038d6-e429-4415-b421-f3c7fdaa8a86.png)

### Expected behavior 🤔

I expect the drop

[2022-08-01 10:03] aromot commented on #29727
same issue for me... still struggling to find a solution.

[2022-08-01 10:49] #33689 closed

[2022-08-01 10:49] mche commented on #33689
Bye.

[2022-08-01 12:10] bourbest commented on #33562
@ZeeshanTamboli  I updated the description with a link to a sandbox that demonstrate the issue.

[2022-08-01 12:35] ZeeshanTamboli commented on #33562
@bourbest The `style` tag is injected by `emotion`. The default style library used for generating CSS styles for MUI components is [emotion](https://github.com/emotion-js/emotion). Hence it would be best to look there. I could find some issues in emotion repo which reports about this  - https://github.com/emotion-js/emotion/issues/1370, https://github.com/emotion-js/emotion/issues/1061.

There is

[2022-08-01 12:35] #33562 closed

[2022-08-01 12:48] pratikkarad commented on #33231
Hey, @mnajdova,
I would like to work on this issue if no one else is working on it.
Thanks!

[2022-08-01 12:51] nttd-zhangxibin commented on #33457
@ZeeshanTamboli  run demo in the sandbox: https://codesandbox.io/s/q3zo8b?file=/demo.tsx
then change chrome to tablet simulation mode. can reproduce it.

i thought on the android chrome , it trigger two events: click and mouseover at the same time.

https://user-images.githubusercontent.com/36401841/182150919-9823d6fc-8762-48d3-9a96-6097e12bba17.mp4

[2022-08-01 13:18] abhinav-22-tech commented on #33235
Yes @antariksh17

[2022-08-01 13:28] michaldudak commented on #33672
Technically, this is not a textarea. To render tags, we use a div with `display: flex` (it wouldn't be possible to style individual "pills" in a textbox.
You could disable wrapping by adding `flex-wrap: nowrap` to the `.MuiAutocomplete-inputRoot`, but this will make the control less usable.

[2022-08-01 13:30] michaldudak commented on #33731
Thanks for reporting this!

[2022-08-01 13:35] abhinav-22-tech commented on #32124
@oliviertassinari is there any step taken related to this new component?

[2022-08-01 13:37] #30422 closed

[2022-08-01 13:42] #28578 closed

[2022-08-01 14:00] abhinav-22-tech commented on #30521
Hey, @obsd Is there any progress?

[2022-08-01 14:25] #33690 closed

[2022-08-01 14:41] MonstraG commented on #33733
https://mui.com/material-ui/customization/theming/#custom-variables

talks about declaring your custom variables in `.d.ts` file.

[2022-08-01 14:43] Janpot opened #33742 "When TextField is used as select, onChange handler type should be ChangeEvent<HTMLSelectElement>"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using a `TextField` as select (using the `select` prop), the `onChange` handler expects a function that receives a  `ChangeEvent<HTMLInputElement | HTMLTextAreaElement>`

### Expected behavior 🤔

It should accept a `ChangeEvent<HTMLSelectElement>`

###

[2022-08-01 14:45] MonstraG commented on #33735
[code]

Same code as in the issue, but propely formatted

[2022-08-01 14:50] vulgoguix commented on #33413
Hello,

I managed to solve this stop, but it generated a new side effect.

Em seg., 1 de ago. de 2022 às 06:30, Benny Joo ***@***.***>
escreveu:

[2022-08-01 14:57] AngelGenchev95 opened #33743 "Select with more than 100 items in Modal appears on the left before repositioning"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently when we have a MUI modal that contains a MUI select with more than 100 items, the first time you open that select, the items appear glued to the left of the screen, before repositioning to their intended spot.

### Expected behavior 🤔

The items s

[2022-08-01 16:02] marcusjwhelan opened #33744 "Unable to set auto focus on 'persistent' drawer"
When attempting to have a persistent drawer move into view and auto focused it is not.

This is unrelated to the appbar, which is a "sticky" variant. The main section where the button is pressed that needs
to focus the drawer when it is opened is in a nested child button of a sibling component of the persistent drawer.

You can tab to the drawer but it is not auto focused when open.

### Expected

[2022-08-01 17:37] TheBit commented on #15588
What about `Sec-CH-Prefers-Color-Scheme` client hint header? https://web.dev/user-preference-media-features-headers/ ?

[2022-08-01 17:41] zcolah opened #33746 "Update MUI Icons to Latest Material Icon Family"
### Summary 💡

Material 3.0 has released a family of icons that have been refined and expanded. I'd really like to see their updates integrated into the MUI icon sets.

**For example here are 2 icons not available in MUI at the moment:**

**1. Database Icon:** https://fonts.google.com/icons?selected=Material%20Symbols%20Rounded%3Adatabase%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048
**2. Edit No

[2022-08-01 18:17] narutosstudent commented on #2826
@oliviertassinari @samuelsycamore @eps1lon

I know this issue is closed, but am I doing something wrong here:

The action isn't showing at all, and the docs don't really help much here.

[code]

Thank you!

FYI, we're using MUI for our startup, including data grid pro, its awesome! 😁 ❤️

[2022-08-01 18:18] narutosstudent commented on #2826
Another question, does MUI have a discord to ask questions and does?

[2022-08-01 19:29] oliviertassinari commented on #32124
@abhinav-22-tech Not I'm aware of but I think that it could be a great component to experiment with (as unstable to start with).

I guess that we could use it to implement our own UI instead of using Algolia's one for the search on the documentation. The version of Algolia has a number of bugs.

[2022-08-01 20:21] AlexKrupko opened #33748 "[Dialog]: Not opened dialog renders when it's wrapped in Suspense component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hi there,

I have two related dialogs wrapped in React Suspense component and there is a component triggers suspense inside second dialog. Both dialogs are rendered in that case even if the `open` prop is `false`.

Please see [Codesandbox example](https://c

[2022-08-01 20:43] oliviertassinari commented on #33481
As far as I know, the ref is guaranteed to be resolved by React at this point, we shouldn't check for null. @bladl Do you have a reproduction we can look into?

[2022-08-01 21:04] Stehsegler commented on #33694
Thanks for your reply @michaldudak! I'm now on vacation and therefore won't be able to look into this in the near future.

[2022-08-01 22:37] bladl commented on #33481
We have a dashboard written completely in MUI. Error is thrown and handled by `<ErrorBoundary>` .
Personally, I caught that bug twice. But our managers often switch tabs and apps, additionally have large bandwidth usage with media resources.
They catch this error 5 to 10 times a day.
Additionally, seems issue related to Safari browser only (both, MacOS and IOS).
People who use Chrome does not have

[2022-08-01 22:50] hasangursoy commented on #5104
Using latest version, placing stopPropagation on onClick event solves the issue.

`
<Checkbox
      checked={isChecked}
      onClick={e => e.stopPropagation()}
      onChange={(_, checked) => setIsChecked(checked)}
    />
`

[2022-08-01 23:12] Mark-777-0 commented on #33694
@michaldudak Can I fix this?

I am quite new could you outline a good place to start and things to do, thanks!

[2022-08-02 01:38] Dsalazar1685 commented on #32437
I'd be happy to take this one.

[2022-08-02 01:54] Dsalazar1685 commented on #33694
@Mark-777-0 I think it should be a small addition to `packages/mui-base/src/index.js` - looks like TablePaginationUnstyled is missing from the rest of the unstyled component exports in there, so you could follow the existing pattern like this:

`export { default as TablePaginationUnstyled } from './TablePaginationUnstyled';
export * from './TablePaginationUnstyled';`

[2022-08-02 04:36] #33043 closed

[2022-08-02 04:37] #29266 closed

[2022-08-02 04:37] #31244 closed

[2022-08-02 04:37] #28855 closed

[2022-08-02 05:09] ZeeshanTamboli commented on #33738
@NPrada Can you point me to the demo where this bug occurs?

[2022-08-02 06:12] siriwatknp commented on #33746
@michaldudak Do we have documentation on how to update the icons?

[2022-08-02 06:15] siriwatknp commented on #33743
@AngelGenchev95 I tried your [stackblitz](https://stackblitz.com/edit/react-ts-xefudx?file=App.tsx) but I could not see the issue. Can you check?

[2022-08-02 06:19] siriwatknp commented on #33733
@MonstraG Thanks for the answer. @bannarisoftwares Please take a look at the link.

[2022-08-02 06:19] #33733 closed

[2022-08-02 06:20] michaldudak commented on #33746
There's a README in the packages\mui-icons-material directory. However, the script to execute has a few issues and requires manual fixes.

[2022-08-02 06:20] ZeeshanTamboli commented on #33165
I've created a PR for it - #33751

[2022-08-02 06:21] siriwatknp commented on #33704
Please follow the doc about [RTL](https://mui.com/material-ui/guides/right-to-left/). You have to use `stylis-plugin-rtl` (if you are using emotion).

[2022-08-02 06:21] #33704 closed

[2022-08-02 06:22] PunitSoniME commented on #33748
Fix of this is very simple.

Just use different Suspense for both Dialogs.

Checkout this [Codesandbox](https://codesandbox.io/s/33748-fix-6ole6h)

[2022-08-02 06:23] michaldudak commented on #33694
@Mark-777-0 thanks, feel free to take it.
The type definitions file (packages/mui-base/src/index.d.ts) should also be updated the same way.

[2022-08-02 06:23] siriwatknp commented on #33696
It is unclear to me what @grazo99 would like to achieve. Please provide a Code Sandbox so that we can help.

[2022-08-02 06:29] siriwatknp commented on #33695
This is related to documentation demo and CSS. I think it is because of [margin collapse](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing), using padding should fix it.

[2022-08-02 06:31] siriwatknp commented on #33651
@sijinyu Please explain in more detail and provide the code sandbox that reproduce the issue.

[2022-08-02 06:44] siriwatknp commented on #33738
I could not reproduce it as well. https://codesandbox.io/s/hopeful-sea-rykx5y?file=/index.js

[2022-08-02 07:21] rwieruch commented on #33579
I removed the FormControl from the TextField, thanks for the hint.

However, Infinity works great for me in a CSS grid, so I will keep it. I got around the warning by passing an explicit height style to the textarea:

[code]

[2022-08-02 07:21] #33579 closed

[2022-08-02 08:28] Janpot commented on #16502
Adding another issue: Searching for "styled", looking for documentation on the `styled` utility. Basically, looking for this page: https://mui.com/system/styled/. The page is not there, not even further down the list:

![Screenshot 2022-08-02 at 10 26 43](https://user-images.githubusercontent.com/2109932/182329062-3eaa6da4-5a5c-46b5-b43a-2833439cefbe.png)

[2022-08-02 08:38] ZeeshanTamboli commented on #33561
Passing the generic types to the `Autocomplete` component fixes the issue: https://codesandbox.io/s/checkboxestags-demo-material-ui-forked-sufdzp?file=/demo.tsx:496-562

[2022-08-02 08:46] siriwatknp opened #33754 "[RFC] Add experimental flag to use flexbox `gap` in Stack"
## Motivation

- The browser support is promising at 91.87% https://caniuse.com/?search=flexbox%20gap
- The current approach uses margin via the selector `'& > :not(style) + :not(style)'` which is not a good DX when it comes to override.
[code]
- Using `gap` reduces the complexity of the code because it works for both `row` and `column` direction.

It would fix:
- https://github.com/mui/material-u

[2022-08-02 08:49] vijaya-lakshmi-venkatraman opened #33755 "[HELP] mui pagination"
Hi,
I use mui for my react app.
I need some help with implementing pagination for a nested object.
Please find the details [here](https://stackoverflow.com/questions/73194477/how-to-include-pagination-for-listed-items-using-mui)

Request some help on this.

[2022-08-02 09:04] AngelGenchev95 commented on #33743
Here's a video of the issue:
https://user-images.githubusercontent.com/41321846/182336688-45bc69fb-0925-4231-b62f-37202a2b9c21.mov
I'm using a macbook pro, Chrome

[2022-08-02 09:39] gyrgy commented on #27564
For me this import seems like working:
`import { SxProps } from '@mui/material';`

[2022-08-02 09:50] #33755 closed

[2022-08-02 11:09] #33442 closed

[2022-08-02 11:18] oliviertassinari commented on #32437
Could this create layout issues? It makes it possible for the scroll and the displayed elements to be out of sync. If React setstate triggers the paint in an asynchronous fashion, then we don't have this timing guaranteed anyway.

👍 to move forward, the UX aspect is very likely marginal and the DX win with less noise sound good.

[2022-08-02 11:25] younes-alouani opened #33759 "Next JS Example - Link Component not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the offical next js example with Mui. VS CODE shows these errors in the Link.tsx component :

[code]

[code]

The following are candidates for correction :

[code]

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3

[2022-08-02 11:30] CarsonF commented on #33561
TypeScript should be able to infer those generic values based on the props given. That's how it worked in v4. It would be a pain to explicitly declare those 4 generics at every call site.

[2022-08-02 11:48] oliviertassinari commented on #15588
@TheBit Developers can already implement a solution relying on `Sec-CH-Prefers-Color-Scheme` but it forces to have a server handling each request, or to have a smart cache that can use it. The goal of this issue I believe is to remove this constraint.

[2022-08-02 12:04] OneTuskedMario commented on #32357
Did you ever figure out how to solve this? @sashafklein

[2022-08-02 12:26] ZeeshanTamboli commented on #33561
I agree. That's why keeping it marked as a bug.

[2022-08-02 12:34] ZeeshanTamboli commented on #33759
@younes-alouani It was fixed in #32655. Make sure you are cloning the latest `nextjs-with-typescript` example.

[2022-08-02 12:34] #33759 closed

[2022-08-02 12:41] siriwatknp commented on #33443
The Box should not forward the `sx` prop to the override component. This issue can be easily fixed by:
[code]

[2022-08-02 12:52] iamxukai commented on #33443
@siriwatknp  I would like to take the work on it.

[2022-08-02 13:21] #33647 closed

[2022-08-02 13:38] PunitSoniME commented on #33748
@AlexKrupko

Can we close this issue if you get your solution ?

CC - @siriwatknp

[2022-08-02 14:01] seanjermey commented on #33245
I was having the same issue, a quick fix is to use variant `permanent` or `persistent` instead of `temporary`

[2022-08-02 14:06] AlexKrupko commented on #33748
Hi @PunitSoniME,
I don't think this is correct behavior if Modal ignores `open` prop.
Of course, it could be fixed as you suggested. But it seems to me more like a hack than a normal solution.
I provided the simplest example just to highlight the issue. In real application Dialog components are much deeper inside Suspense and it's not easy to wrap all of them with their own Suspense component.
Tha

[2022-08-02 14:31] PunitSoniME opened #33762 "[docs] Split button with popper z-index issue"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/11643426/182399426-5d5dddfb-c101-4736-ab92-b34064798542.png)

In the image, View code icon is visible even after options are visible.

### Expected behavior 🤔

![image](https://user-images.githubusercontent

[2022-08-02 14:35] PunitSoniME commented on #33762
Same kind of issue was also reported couple of days ago - [33730](https://github.com/mui/material-ui/issues/33730)

I made a fix [here](https://github.com/mui/material-ui/pull/33736) directly at the component.

However my PR was closed without merge.

[2022-08-02 14:42] Kyderman commented on #24991
You can use `useMediaQuery` to check for the correct screen size and apply that match to part of the decision on whether to have your temporary drawer acting as open.
it will fix the issue

[2022-08-02 14:55] NPrada commented on #33738
Hi thank you for the fast response.
I recreated the issue in this codesandbox here:
[Demo](https://codesandbox.io/s/sad-monad-tk3vwc?file=/demo.js)

I am using Joy on a new project really enjoying it so far

[2022-08-02 15:04] NPrada commented on #33738
Actually I found that the bug does not appear if I render the react app in using `ReactDOM.createRoot` instead of just `ReactDOM.render` you can see in the index file of the demo i put the working code but commented out.

[2022-08-02 15:39] adarshanand67 commented on #29469
Is this issue still open? I would like to work on it.
I'm a first timer.
Could you put me through on the details so I could know what to do?

[2022-08-02 15:44] sashafklein commented on #32357
@OneTuskedMario  - Yes, at least to my satisfaction. Documented on [Stack Overflow](https://stackoverflow.com/questions/71906100/resolving-multiple-versions-of-react-in-component-library-built-with-webpack-and).

[2022-08-02 15:53] #32357 closed

[2022-08-02 15:53] kulraj710 commented on #33709
I am looking more into this issue, but the Dialog component relies on `Model` component which already renders the component `<div></div>`. (Rendering another component than `div`  would not be required in most of the use cases)

Although docs clearly state that all Props of the `Model` component should be available to the `Dialog` component. That's why it shouldn't have broken the design.

[2022-08-02 18:24] #33354 closed

[2022-08-02 20:25] console-bob commented on #24986
@mnajdova (or anyone) I have a similar situation where I need a couple different values for borderRadius, so I would like to have a smallBorderRadius and largeBorderRadius within the theme.shape object. I am new to TypeScript and setting it up to accommodate these new fields is causing problems. I have found examples that allowed me to add colors and typography values but I cannot find an example

[2022-08-02 21:04] aleshh commented on #24986
Oh, just got an alert about this because of the previous comment. Let me clarify what I was getting at.

At my previous job we had a component library that used Mui components and theme. We (at one point) wanted to use two different border radii for different components. The trouble is, if someone had overridden our theme with one that didn't have the second value, the component would crash. So po

[2022-08-02 21:31] console-bob commented on #24986
Thank you @aleshh. My situation is a little different. 1) I still need to support multiple borderRadius values and 2) I am forced to use version 4 of Material UI.

My problem is specifically with the Typescript syntax to allow me to add the additional fields. It looks pretty straight forward, but I don't seem to be able to get the syntax correct. I was able to locate numerous examples for adding f

[2022-08-02 23:57] SerdarSanri commented on #33551
I thought video recording was good enough to show what is happening. it is a simple dialog, there is pretty much nothing special about it. It takes open  T/F value from redux store mountOnEnter , unMountonExit are not set. In the screen recording as you may seen, Dialog's and TrapFocus' open property is false after reload but element is not being unmounted from DOM. After another few refresh it do

[2022-08-03 01:00] filipesperandio commented on #24777
Thanks for reporting this @ameem91, I was pulling my hair off. I know this is released, but I am still on an old build.
Got an workaround by making focused the `inverse` of `disabled` 👍

[2022-08-03 01:28] Zetta56 commented on #33345
From my observations, this is likely caused by the useAutocomplete component (which `Autocomplete` calls under-the-hood) controlling the TextField's input value and setting it via `setInputValueState`, as shown below:

`@mui/base/src/AutocompleteUnstyled/useAutocomplete.js`
[code]

That said, I'm not sure how to fix this without drastically changing these components.

[2022-08-03 01:31] masaok opened #33766 "Improve the styling DX to quickly find a specific component using browser dev tools"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

This StackOverflow question (that I wrote) explains the problem clearly:

https://stackoverflow.com/questions/71152038/in-mui-v5-how-do-you-debug-find-a-specific-element-style-class-in-the-dev-tools

Quick recap:

In MUI v4, it was very easy to locate a specific com

[2022-08-03 02:06] Mark-777-0 commented on #33694
Ok I am on it! I'll report back here with updates soon. Thanks for the pointers

[2022-08-03 02:10] gg-martins091 opened #33767 "Grid container spacing not working (weird behavior)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently the items inside a grid container do not respect the spacing passed to the container component.

The only effect when adding spacing is that the items change in size/position on the screen.

CSB: https://codesandbox.io/s/thirsty-cerf-kjhi4s?file=/

[2022-08-03 03:15] iamxukai commented on #33443
@siriwatknp The issue can occur both in Box and Container. When I use the solution proposed above to Container, it seems to not work. Take the provided codesanbox for example, when I change Box to Container, the following styles and classname are recreated:

https://github.com/mui/material-ui/blob/4ced48effe6bca12e20d006e68fdd757f2ead72a/packages/mui-system/src/Container/createContainer.tsx#L77-L1

[2022-08-03 03:18] siriwatknp commented on #33738
Thanks for the info. I will investigate further.

Glad to hear that! Would you mind sharing what you enjoy? and maybe what you think Joy should have/improve?

[2022-08-03 03:20] siriwatknp commented on #33443
Yep, this issue is just about the `Box`.

[2022-08-03 04:14] alansouzati opened #33768 "Container sx maxWidth being overwritten"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using `maxWidth` inside `sx` prop it gets overwritten by `lg` breakpoint

see the bug here...

https://codesandbox.io/s/container-sx-maxwidth-bug-d3uy8r

this happens because of this line:

https://github.com/mui/material-ui/blob/master/packages/mui-sy

[2022-08-03 04:53] #33165 closed

[2022-08-03 05:55] bill-kasa commented on #21293
Thank you! This just ended my hour long search. Worked perfectly.

[2022-08-03 06:14] virtualhasan opened #33771 "[docs] Demo DensityTool crashes"
- [x] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20DensityTool%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/customization/density/
2.  When Spacing Unit decrease at 0, then crash it
3. demo *DensityTool* crashes

## Your Environment
| Tech

[2022-08-03 06:49] ZeeshanTamboli commented on #33551
Thanks for the video recording but it won't help in debugging for us. Providing even a minimal code reproduction in a CodeSandbox or a repo will help. Try to reproduce the error in a CodeSandbox replicating your code in a simple way. Also please check if it's happening on a particular `@mui` version.

[2022-08-03 07:57] HeppokoNeet opened #33775 "Can't jump from JSX to style on vscode when pressing F12"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I made all css using material ui.
When pressing F12 or command + left click,

![全画面_2022_08_03_16_38](https://user-images.githubusercontent.com/36767393/182554704-a716d5b3-f56c-4467-a34e-bd1fde85354a.png)

I can't jump to css.
the code of style is here:

[c

[2022-08-03 08:38] ZeeshanTamboli commented on #33767
It works. See https://codesandbox.io/s/exciting-brown-67sve2?file=/src/App.js.

The `item` prop in Grid will have the flex _item_ behaviour. The `spacing` prop applies padding at the item level. By adding custom styles to grid item component itself (via the sx prop) you are customizing the `padding` and it's inbuilt styles. You need to apply your custom styles to the child components (Typography).

[2022-08-03 08:38] #33767 closed

[2022-08-03 09:01] badalsaibo commented on #19450
`screen.getByRole('listbox')` doesn't work with `disabePortal` props enabled. To get by, I had to explicitly use `data-testid` to get the component and assert test.

[code]

`screen.getByTestId('select-options')`

[2022-08-03 09:02] mo-alaa commented on #11212
It has a glitch ....  if you scroll, the menu will move down away from from the select !

[2022-08-03 09:30] avnshkumar opened #33779 "[docs] Demo VirtualElementPopper crashes"

[2022-08-03 09:31] #33779 closed

[2022-08-03 10:11] taha875 opened #33780 "[docs] Demo DensityTool crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20DensityTool%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/customization/density/
2. ??
3. demo *DensityTool* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
|

[2022-08-03 10:47] PunitSoniME commented on #33780
## Duplicate Issue - #33771

[2022-08-03 11:33] PunitSoniME opened #33781 "[docs] Adding missing accessibility labels"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Below are the sections where accessibility is lacking

### Aria-label is missing
1. [Button group > Disabled Elevation](https://mui.com/material-ui/react-button-group/#disabled-elevation)
2. [Toggle Button > Color](https://mui.com/material-ui/react-toggle-b

[2022-08-03 11:34] cemalokten commented on #24785
This worked for me! Thank you!

[2022-08-03 11:35] cemalokten commented on #24785
@jbham Setting `value={undefined}` worked for me, thank you! 🥳

[2022-08-03 11:45] umakanthsree opened #33783 "Clearing Field value issue with Number field on Typing e"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have the Number field and button to clear the Number field value. When we provide 1 or 2 etc.., works fine, but on typing '1e' and clicking on the clear button, it doesn't clear the value.

### Expected behavior 🤔

I want the Number field to clear when cl

[2022-08-03 12:48] wladimirguerra commented on #29469
@adarshanand67  have a look at [this draft]( https://github.com/mui/material-ui/pull/32273) to attempt to fix the problem. It seems to be simple but it is hard to make a proper test case because of the testing library limitation. I am not sure that the changes fixed the problem.

[2022-08-03 13:46] proudust commented on #30847
I was able to reproduce this issue and would like to share it on CodeSandbox.
https://codesandbox.io/s/angry-bird-p5c5rv?file=/demo.tsx

[2022-08-03 14:03] BearCooder opened #33784 "React 18 with MUI is working fine"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently Material UI is not supposed to work with React v18 as we can see support for React v18 is being worked on: https://github.com/mui/material-ui/milestone/45

But I just installed newest React v18 with Material UI and started my project and it runs w

[2022-08-03 14:04] oliviertassinari commented on #33766
@masaok Great, thanks for this issue. As the next steps, I can think of 4 different steps:

1. We fix `extractCriticalToChunks` in dev mode. It should append the source map. Our examples are broken

https://github.com/mui/material-ui/blob/58b5d7262adc68955e873f422d51b074df2f1e22/examples/nextjs/pages/_document.js#L61

2. We update our docs and our examples to add the Babel plugin like in https://m

[2022-08-03 15:12] oliviertassinari commented on #33784
So, we should update the description of this milestone https://github.com/mui/material-ui/milestone/45 to be clearer. It's not exploring how to take advantage of React 18.

[2022-08-03 15:29] vonkanehoffen opened #33785 "Tabs component Typescript types can't be extended for custom variants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

As shown in this sandbox: https://codesandbox.io/s/mui-tabs-variant-issue-lk9v5c?file=/src/App.tsx

While I can add a new variant for `Button` and have it pass type checks via module augmentation, if I try the same thing for `Tabs` with:
[code]
both the the

[2022-08-03 16:24] BearCooder commented on #33784
Ok this makes sense, thank you for the clarification! I assumed it is not compatible because of the description in the milestone:
![grafik](https://user-images.githubusercontent.com/104575503/182659871-dc5cb563-2465-4fbc-87a7-9a4a19880386.png)

[2022-08-03 16:54] BryanAPEX commented on #29209
I'm also still experiencing this after upgrading to React 18.2.0 and MUI 5.5.3.

[2022-08-03 18:33] rcb4t2 commented on #30139
@mnajdova The docs for Link component says that it also accepts Typography props. The props `gutterBottom` and `paragraph` do not work because the `margin: 0` is baked in as described by OP. Likewise, using `sx: {{ mb: SOME_NUMBER }}` can't apply a margin bottom either

Applying a bottom margin to a text/link component is a pretty common and reasonable need

Please consider addressing this as a v5

[2022-08-03 18:37] rcb4t2 commented on #30139
For anyone else looking at this, a decent workaround is like so:

[code]

That way you can still get the built-in Link styles and apply Typography props, including bottom margin

Not a great DX though

[2022-08-03 19:07] mogrady88 opened #33787 "(Safari) TrapFocus > Focus border on open"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently in Safari if you click on any of your TrapFocus demos they will open up with a large border. This seems to be incorrect behavior. Other browsers will open up without this extra box (see screenshot below):

![F24AFFD9-2CC1-4BA4-9154-FC9E5E3383B4](h

[2022-08-03 21:18] michaldudak commented on #32088
Sorry, it got lost among other notifications :/

One concern I have with this approach is that having a "large" JSX within a prop doesn't look well, and it's harder to read. Let's consider the following:

[code]

it feels slightly less readable and harder to write (because of nested parenthesis) than

[code]

This looks great.

That's good, however, keep in mind that MenuButton and Menu need a "sp

[2022-08-03 21:22] 42shadow42 opened #33788 "Autocomplete typings don't support wrapper components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Typescript complains about  Types of property 'renderTags' are incompatible.

Types of property 'renderTags' are incompatible.
    Type '((value: ValueType[], getTagProps: AutocompleteRenderGetTagProps, ownerState: AutocompleteOwnerState<ValueType, Multiple

[2022-08-04 02:37] #33780 closed

[2022-08-04 02:54] bannarisoftwares commented on #33733
Added answer here

https://stackoverflow.com/questions/73188234/how-to-resolve-typescript-errors-in-custom-theme-in-material-ui-5/73229861#73229861

[2022-08-04 02:55] siriwatknp commented on #33768
@alansouzati What version of `@mui/material` are you using? It seems fine on my side https://codesandbox.io/s/container-sx-maxwidth-bug-forked-fjedij?file=/src/App.tsx

[2022-08-04 02:58] siriwatknp commented on #33781
Please add more info on which pages/demos are lacking accessibility labels, so that we can keep track of the progress.

[2022-08-04 02:59] #33775 closed

[2022-08-04 02:59] siriwatknp commented on #33775
@HeppokoNeet I think this is about VS code, not Material UI specific.

[2022-08-04 03:05] siriwatknp commented on #33709
@ClassicDarkChocolate Are you saying that it used to work in v5.8.0?

[2022-08-04 03:10] dwjohnston opened #33789 "disablePortal Popper within Popper has bad initial placement."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If I have a disablePortal popper within a popper I expect it to position itself consistently.

Uploading Screen Recording 2022-08-04 at 1.07.54 pm.mov…

### Expected behavior 🤔

Inner popper placement appears to depend on whether the outer popper already ex

[2022-08-04 03:13] dwjohnston commented on #33789
The workaround for this, is to add `transitionDuration={0}` to the outer popover.

[2022-08-04 04:16] siriwatknp commented on #32088
I think it is better than confusion compare to:

[code]

In JSX, this means `Menu` is a child of the `MenuButton` which is wrong. The `Menu` should be a sibling.

The other way is to provide a `MenuProvider` but I don't like it that much:

[code]

Fair enough, let's keep the `MenuButton` for the menu then.

🤔 I rather not go this way.

[2022-08-04 04:39] siriwatknp commented on #33762
I think the ideal fix would be to add `z-index` to Material UI Popper but maybe it makes sense to do it in v6.

[code]

[2022-08-04 04:41] #33762 closed

[2022-08-04 04:41] ZeeshanTamboli commented on #33771
Thanks for reporting. It's a regression from #33480.

If we change the density of the docs via the input to `0` or via the decrease button till `0` value, the demo will crash. It's because the docs theme wrapper sets the `spacing` unit to zero (not the Grid `spacing` prop)  in the global theme for the docs and when it calculates any non-zero spacing of the `Grid` component which this demo uses it

[2022-08-04 04:46] ClassicDarkChocolate commented on #33709
Yes, it works in 5.x~5.8.4 and breaks after 5.8.5

[2022-08-04 05:38] fappaz opened #33790 "[Select] Native input inside Select is not inhering the "disabled" property"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Setting the `disabled` property in a [Select](https://v4.mui.com/components/selects/) (or a [TextField](https://v4.mui.com/components/text-fields/) with `select`) is not setting the `disabled` prop in its inner input.

### Expected behavior 🤔

I would expec

[2022-08-04 06:19] PunitSoniME opened #33791 "[docs] duplicate information of size in floating action button when language is chinese"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/11643426/182776423-198d00e0-677a-49fa-ac6e-3a32016e1afc.png)

### Expected behavior 🤔

![image](https://user-images.githubusercontent.com/11643426/182776541-f8f50e2b-00f6-43e6-b7b3-c2831f2ca19c.png)

### St

[2022-08-04 06:22] PunitSoniME commented on #33791
Should I convert the the text into chinese and create a PR or should I just remove the duplicate information ?

@oliviertassinari @siriwatknp @michaldudak

[2022-08-04 06:57] PunitSoniME commented on #33781
@siriwatknp

Updated the description of this issue, please check above

and thanks for the comment :)

[2022-08-04 07:11] arjunvijayanathakurup opened #33793 "Overriding MuiTableCell using variants gives "Failed prop type" warning"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Gettings a warning as provided below

`Warning: Failed prop type: Invalid prop `variant` of value `tableHeading` supplied to `ForwardRef(TableCell)`, expected one of ["body","footer","head"].`

### Expected behavior 🤔

Should be able to override the default

[2022-08-04 07:24] PrimozRome commented on #31190
I have this same issue on `"react": "^18.2.0"`.

error - TypeError: dispatcher.useId is not a function

Anyone knows what it is?

[2022-08-04 07:29] #33410 closed

[2022-08-04 07:29] ZeeshanTamboli commented on #31190
@PrimozRome Please provide a CodeSandbox reproducing the issue.

[2022-08-04 07:46] ossan-engineer opened #33794 "Invalid strings are available for sx property names"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

↓ compiled styles

[code]

### Expected behavior 🤔

[code]

### Steps to reproduce 🕹

https://codesandbox.io/s/jovial-glitter-kt9uvc?file=/demo.tsx

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary><code>npx @mui/envinfo</c

[2022-08-04 09:05] oliviertassinari commented on #33762
One note on the stacking context, we had to revert changes similar to this one in the past, If I recall correctly on the checkbox. But 👍 to explore this path, only want to mention that sometimes, it creates other conflicts (since it's a priority problem at the root)

[2022-08-04 09:05] oliviertassinari commented on #33730
Issue linked to https://github.com/mui/material-ui/issues/33762#issuecomment-1204749996

[2022-08-04 09:09] SO-Eng commented on #32301
FYI, found the solution.
Need to put 'notched' in <OutlinedInput /> component like, didn't get that directly:

`
      <Select
       ...manyOtherProps
        input={
          <OutlinedInput id="select-multiple-chip" label={label} notched />
        }

      ...
      </Select>`

[2022-08-04 09:23] badalsaibo commented on #33413
This bug isn't produced when using the official [react-popper](https://popper.js.org/react-popper/) library. So I've been using that and its working fine.

https://codesandbox.io/s/react-popper-vanilla-yz8nux

[2022-08-04 10:05] ravi-thorat commented on #33644
Any workaround for this? Material UI should support Firefox out of the box.

[2022-08-04 11:11] Nkzn commented on #31835
in my environment

[code]

[2022-08-04 11:23] #29320 closed

[2022-08-04 11:23] #29207 closed

[2022-08-04 12:35] erfanatp commented on #25856
@ekbatani Amir Khan did it fix?

[2022-08-04 13:02] bryantobing12 commented on #17799
@matias-retargetly is this still an issue/limitation?  is there any workaround?

[2022-08-04 13:11] matias-retargetly commented on #17799
use Autocomplete instead

[2022-08-04 13:11] matias-retargetly commented on #17799
use Autocomplete instead

[2022-08-04 13:26] vulgoguix commented on #33413
I'm not using React Popper.

Em qui., 4 de ago. de 2022 às 06:23, badal ***@***.***>
escreveu:

[2022-08-04 13:38] jimmycallin opened #33798 "Add option to not reset search input field on selection in Autocomplete component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Current behavior of the Autocomplete box in multiselect mode is that whenever you have selected something, the search is reset. There are use cases where this behavior is less ideal.

### Examples 🌈

https://user-images.githubusercontent.com/2225828/182859935-7c011c

[2022-08-04 14:24] pratikkarad opened #33799 "Typescript: Type ExtendButtonBase is missing "component" prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The following components are missing the "component" prop in Typescript documentation, in @mui/material v5.9.3.

- Button
- Fab
- ListItem
- ListItemButton
- MenuItem
- ToggleButton

As per my initial research, I think the component prop will not be shown i

[2022-08-04 14:28] pratikkarad commented on #33799
Also addresses #33710

[2022-08-04 14:38] pratikkarad commented on #33246
Hey,
I would like to work on this issue if no one else is working on it.
Thanks!

[2022-08-04 16:35] alansouzati commented on #33768
it is not right in your example. inspect the DOM node you will see the following styles:

[code]

notice the `MuiContainer-maxWidthLg`, it should be `MuiContainer-maxWidthMd`

[2022-08-04 16:36] pratikkarad commented on #33232
Hey, @mnajdova,
I would like to work on this issue if no one else is working on it.
Thanks!

[2022-08-04 17:29] 42shadow42 commented on #33798
It is already possible to do this, although maybe it's a little verbose:

https://codesandbox.io/s/polished-wave-bgq82z?file=/demo.tsx

[2022-08-04 17:33] brentertz opened #33802 "TablePropsSizeOverrides customization via module augmentation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying to augment the available Table sizes via module augmentation, to include a "large" size, in addition to the existing "small" and "medium" sizes.

This is currently defined at the top of my custom theme file.

[code]

While things render properly

[2022-08-04 18:51] Mark-777-0 commented on #33694
Are there any tests that need to be added? Or any other sections I could've missed?

I think it was pretty straightforward, thanks for the help guys!

[2022-08-04 18:53] bonbonio opened #33804 "mui styles wont load with nextjs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am using the latest versions of the mui libraries, and of nextjs, but I have included my dependencies as reference;

[code]
import { createTheme, responsiveFontSizes } from '@mui/material/styles';
import { cyan, green, grey, red, orange } from '@mui/mater

[2022-08-04 19:05] jimmycallin commented on #33798
This is great, thank you! You can close this issue if you don't want to track adding an explicit option for this behavior.

[2022-08-04 19:40] kenklin commented on #17023
In ES2015 you can use [computed property names](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#computed_property_names), like this:
[code]

[2022-08-04 19:50] noobDev31 opened #33805 "Is it possible to have Split Button as MUISplitButton so that i can style it with the style overrides in the ThemeProvider"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I am basically trying to follow the style overrides way with theme to styling every single component that I am designing like below -

![image](https://user-images.githubusercontent.com/109504204/182939041-5c4f319d-12ab-4cbe-b28a-479b593b1998.png)

I am hoping if I

[2022-08-04 21:12] oliviertassinari commented on #33791
@PunitSoniME We need to fix this in https://translate.mui.com

[2022-08-04 21:26] leonbloy opened #33806 "TreeView onKey handling should be configurable"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

TreeView has its own hanlding of keys. In particular,  when pressing printable characters (should be letters?), it selects the items starting with that letter. And it the pressed key is one of the keys understood by the handler, it's not propagated (no bubbling).

T

[2022-08-04 22:08] tnoetzel commented on #33093
@michaldudak - Doesn't actually seem to be the case that it's ever a string when you're also using `filterOptions` as described [here](https://mui.com/material-ui/react-autocomplete/#creatable).

If you play with that example by simply adding a `console.log` under `if (typeof newValue === 'string') {`, you'll note that it's _never_ a string in this case.

Ideally, `onChange` would be aware of this

[2022-08-05 02:45] Dsalazar1685 commented on #33710
I can do a quick fix for this - the prop spread works but it's always nicer to have the types in place.

[2022-08-05 03:49] lhs1478 opened #33809 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/zh/material-ui/react-button/#contained-buttons
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | V

[2022-08-05 04:10] #33771 closed

[2022-08-05 04:12] max-two opened #33810 "[Stack] Changing order of first item breaks spacing"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The Stack item that is listed first in the source code does not have any spacing above it if its order is changed to be anything other than first in the stack.  In the example A doesn't have spacing, but it should.

It's not just the first one that is messe

[2022-08-05 04:57] #33501 closed

[2022-08-05 05:49] PunitSoniME commented on #33791
@oliviertassinari

I am totally new to this,
Is there anyone who can guide me how to use this ?

[2022-08-05 07:24] ZeeshanTamboli commented on #33581
What is your use case to add extra children on the custom `PopperComponent`? Doing that way adds the list item (the extra child) outside of the list. The DOM structure is incorrect if you inspect.

You can simply append the item in the options.

[2022-08-05 08:08] nuarhu commented on #22631
For anyone looking for a solution for using `<FontAwesomeIcon />` as step icon - this might get you started. With these style settings it doesn't look as good as with the default material icons, though.

[code]

[2022-08-05 08:42] siriwatknp commented on #33785
@vonkanehoffen I don't think Tabs' variant can be extended at this point because it is not just about styling, there are some logic attached to.

Do you want to extend the variant to have full control of the logic as well?

[2022-08-05 08:45] siriwatknp commented on #33788
I don't understand this. Can you please make the error appear in the code sandbox? that way it is easier for us to help.

[2022-08-05 08:48] siriwatknp commented on #33810
Currently, I don't see other way than using `gap`.

[2022-08-05 09:06] siriwatknp commented on #33802
I recommend doing this https://codesandbox.io/s/naughty-lake-lp15nu?file=/demo.tsx, but there is a typescript bug on the `TableCell`.

When you customize the component based on props, use `variants` or a callback because the classes will be removed at some point.

**variants**
https://mui.com/material-ui/customization/theme-components/#creating-new-component-variants
[code]

**styleOverrides callb

[2022-08-05 09:08] siriwatknp commented on #33802
Suggested fix:

[code]

[2022-08-05 09:09] PunitSoniME commented on #33809
Not able to get the issue, can you explain in details please ?

[2022-08-05 09:30] avasuro commented on #16402
But this is not closed... Typescript defintion are wrong - now onBlur handler (according to typescript) always can receive event object: https://github.com/mui/material-ui/blob/master/packages/mui-material/src/InputBase/InputBase.d.ts#L134

[2022-08-05 09:42] siriwatknp commented on #33417
Sounds good.

I am not sure about this, usually the tutorial should be one page but maybe we don't even need the tutorial at this point. (I will move tutorial to least priority and revisit once we have other pages again)

Sure, I put them under `Customization`, do you have a better name?

I notice that we have `Migration` group in the sidebar, maybe the page should be under it? cc @samuelsycamore

[2022-08-05 10:10] mescoff commented on #21377
Same here... Versions:
- `vite: 3.0.4`
- `@vitejs/plugin-react: 2.0.0`
- `@mui/icons-material: 5.8.4`
- `@mui/material: 5.9.3`

I was having the following error:
`createTheme_default is not a function in Box.js`
which was misleading because the error ended up being related to `mui/material-icons`...

Below fix did it for me, thanks @heyheman11

[2022-08-05 10:26] ZeeshanTamboli commented on #33646
Duplicate of #29046

[2022-08-05 10:26] #33646 closed

[2022-08-05 10:28] ZeeshanTamboli commented on #33646
Since the typings make sense, you can apply `disableClearable` when the value is set by doing:
[code]

[2022-08-05 10:41] #33657 closed

[2022-08-05 11:06] ZeeshanTamboli commented on #33662
First of all, a very rare use case where you need the label as an input. Also, it's not an exact duplicate of #33195 but the logic to solve that could solve this as well. I also noticed that it is possible to select the input in the Autocomplete by `Tab` key, so is it something to do with the z-index value?

[2022-08-05 11:25] mnajdova commented on #30139
Setting `margin: 0` is indeed strange, it creates more problems than what it solves. We should look into whether they are ways to get rid of it. Would anyone want to take a stab at investigating this and propose a PR so that we can test the changes in more browsers?

[2022-08-05 11:37] iamxukai commented on #33802
@siriwatknp  I want to have a try.

[2022-08-05 11:48] mnajdova commented on #24986
@console-bob you can target this for the module augmentation: https://github.com/mui/material-ui/blob/v4.x/packages/material-ui/src/styles/shape.d.ts and add more values there, similar to as it is done in https://v4.mui.com/customization/palette/#adding-new-colors for adding new palette values.

[2022-08-05 11:50] mnajdova commented on #33245
See in https://github.com/mui/material-ui/issues/33245#issuecomment-1196768921, this is not correct, so I don't understand what the problem is at all. @seanjermey can you maybe share more info?

[2022-08-05 12:01] ZeeshanTamboli commented on #33681
Duplicate of #20602

[2022-08-05 12:01] #33681 closed

[2022-08-05 12:08] mnajdova commented on #16859
@michaldudak I would argue that we should probably have implementation in both packages. Why? The `useMediaQuery` is useful with any theming solution that you may use, as a util I don't see why it shouldn't be in base. If you use system however, you will likely want to have it there considering the theme values from the system's theme.

[2022-08-05 12:09] mnajdova commented on #27933
There is no open linked PR, so whoever wants can open one :)

[2022-08-05 12:13] mnajdova commented on #29742
@rbong I haven't been looking into this for quite some time. I can try to refresh my view on it next week and provide more feedback if I can.

[2022-08-05 12:13] omerman opened #33814 "[system] Update sx prop to accept SerializedStyles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I think sx prop can easily accept SerializedStyles, and it often looks better to pass it instead of an object describing the css.

FYI -
it does seem to work, but TS throws error about it.

### Examples 🌈

If I write something like this for example:

[code]

### Mot

[2022-08-05 12:37] 42shadow42 commented on #33788
@siriwatknp I wish I knew how, I just know that same code in a CRA typescript project fails to build.

[2022-08-05 13:02] ZeeshanTamboli commented on #33701
It doesn't look like this issue report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-05 14:35] #33676 closed

[2022-08-05 14:49] povilass commented on #29046
I think there are a couple of problems with disableClearable and freeSolo if both are true you can have an empty value and it allows it. So I guess disabledClearable should be pointing to the clearing of input by the user only but the value still can be empty because it is not selected yet. If the value exists then it should be restored but it should only when freesolo false when you got freeSolo

[2022-08-05 15:09] adamransom commented on #33709
We also noticed this issue in 5.8.5. We are using the `ScopedCssBaseline` as the component for `Dialog`, so we get the base-styles applied in an environment where we can't have the global CSS baseline/reset. This used to work perfectly (the styles from both the root modal and `ScopedCssBaseline` get merged), but now the root modal styles are not applied and only the `ScopedCssBaseline` styles get

[2022-08-05 15:48] gudatcomputers opened #33815 "@mui/icons-material @ 5.8.4 - not installing all *.js files"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I install `@mui/icons-material : "5.8.4"` and then `ls -la node_modules/@mui/icons-material` I only see `*.js` files starting with the letter S and beyond.  My app fails to compile.  I have performed `rm -rf node_modules` and reinstalled everything.  `

[2022-08-05 20:18] Zetta56 commented on #33615
Is anyone still working on this issue? If not, can I take it?

[2022-08-05 20:43] markedwards commented on #33274
The thing is, react-wipeable-views is still a very popular package.  react-responsive-carousel comes up in a google search, but it also abandoned.  Is there a good alternative that is being actively maintained?

[2022-08-06 06:23] PunitSoniME commented on #33615
@Zetta56

I guess someone has already create a duplicate issue #33246 and created a PR [33801](https://github.com/mui/material-ui/pull/33801)

[2022-08-06 07:14] ZeeshanTamboli commented on #33615
@PunitSoniME That issue is for Chip component, this one is for IconButton.

[2022-08-06 08:02] PunitSoniME commented on #33615
oh my bad, sorry 😃

@Zetta56 you can take it, if you are not taking please let me know, I will pick this up

[2022-08-06 09:07] ZeeshanTamboli commented on #33768
I don't think `maxWidth` as `sm` ,`md` etc is supported _inside the `sx` prop_.

Docs: https://mui.com/system/sizing/

[code]

[2022-08-06 10:42] ZeeshanTamboli commented on #33783
This is not related to MUI's `InputBase` component but for HTML `input` element. Please use StackOverflow for those type of questions.

----
What I can think of is that `1e` is not a valid number (floating point) and due to this the value is not set in input (you can inspect the DOM and check that value is not set) and thus clearing the input has not effect. `2ef` etc values are getting cleared.

[2022-08-06 10:43] #33783 closed

[2022-08-06 11:21] AlexKrupko commented on #33743
The same issue even without Dialog component.
Please see my screen record.

https://user-images.githubusercontent.com/5411244/183246611-5247f0f3-82e5-47b0-a08e-1d7dbf873f7d.mov

React version: 18.2
MUI version: 5.9.3

[2022-08-06 15:13] AlexKrupko commented on #33743
Hi there,

The reason of this behavior is a big amount of options that are rendered simultaneously when select is opening. Even with 20 - 30 options this issue this error becomes noticeable. If we use 1000 options, the list is rendered at the left and only after ~3 seconds moves to the proper position.

I've found a several possible solutions/ideas:

1. **Use `native` select.** This is the simples

[2022-08-06 15:19] DoParkEQ opened #33821 "Button component onKeyDown triggers onClick as well"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When `OnKeyDown` event fires by pressing enter key, `onClick` event fires as well. Other keys don't cause the issue. Firing `onClick` event does not trigger `onKeyDown` though.

Demo: https://codesandbox.io/s/elated-blackburn-zwxpjm?file=/src/App.js

### Ex

[2022-08-06 17:34] hilalsidhic commented on #33054
Hi is anyone working one this .I'd like to take it. @emlai

[2022-08-06 17:39] venkat125 commented on #18658
Hi ppl, Just posting the fix for my scenario.
For my case the issue was due to the odder of property placement
[code]
`{...getTagProps({ index })}` has to be in top in order to avoid property overridden
[code]
Note: I'm using MUI 4.x version
check answer 2 of this [link](https://www.anycodings.com/2021/12/how-can-i-set-ondelete-prop-in.html)
after placing `getTagProps` to first position the onDele

[2022-08-06 17:54] aaron-mota commented on #19584
Trying to use @brstewart 's solution, as when I changed line-height to 0 on devtools it aligned perfectly, but trying to paste that code into my createTheme doesn't seem to be applying any changes.  Any help?

    const theme = createTheme({
      overrides: {
        MuiButton: {
          styleOverrides: {
            root: {
              lineHeight: 0
            }
          }
        },

[2022-08-06 18:59] lindapaiste commented on #33615
Yes, that's what I ended up doing.

I have a row of `IconButton` components which are all the same color.  I want to have a different `:hover` color for "destructive" actions, and I am using `color="error"` to denote the destructive buttons.
![image](https://user-images.githubusercontent.com/28965286/183261814-77775df9-ecd3-4887-be74-5b6fbe51d577.png)
![image](https://user-images.githubusercontent

[2022-08-06 19:03] lindapaiste commented on #33246
Would it make sense to have a common `interface ColorClasses` which `ChipClasses`, `IconButtonClasses`, etc. can `extend` to reduce the repetition?  Or is it more desirable to keep each component isolated?

[2022-08-07 00:52] alansouzati commented on #33768
Why not? I do think it could and it would be consistent with other api in MUI. In fact, see the PR I sent, the system style function actually process it. The maxWidth function supports this.

[2022-08-07 03:57] JamieKidman commented on #6806
What? Are you sure you answered this question?

[2022-08-07 07:01] mobinco commented on #25336
I fixed it by this code:

[code]

[2022-08-07 07:20] PunitSoniME commented on #33821
@DoParkEQ

You can disable that thing by code as well

just replace your onKeyDown from
`onKeyDown={() => console.log("key");}`

To this
`onKeyDown={(e) => { console.log("key"); e.preventDefault() }`

`e.preventDefault()` will ignore onClick

[2022-08-07 09:08] pratikkarad commented on #33246
In my opinion, keeping each component isolated would be the desirable way, as we have different color classes for different components.
To take an example, we have `colorPrimary`, `colorSecondary` which are common color classes for most of the components like IconButtonClasses, ButtonClasses, AppBarClasses, and many more. But if we take a look at TabClasses, we don't have former color classes avai

[2022-08-07 13:57] xxkhanxx77 commented on #21397
you are not alone i stuck with this too T_T idk how to fix it

[2022-08-07 17:56] YuriyGorvitovskiy commented on #33223
Box component is using default Theme, and not subject to alteration with custom theme or sx parameters depending on theme
looks like the following code is a culprit:
https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Box/Box.js

`const defaultTheme = createTheme();

const Box = createBox({
  defaultTheme,
  defaultClassName: 'MuiBox-root',
  generateClassName: ClassNameGenera

[2022-08-07 18:45] lony commented on #32592
I receive the same error again in the latest version. Anyone can reproduce the error as well?

[code]

[2022-08-07 20:30] noobDev31 opened #33846 "Not able to achieve an error class for the border with the bootstrap input in TextField"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I am trying to have a red borderColor whenever there is an error in the the input base but the problem is the Mui.Error class is applied to the parent and not to the input(child) where border is applied hence its not getting effected -

![image](https://user-images.

[2022-08-07 20:30] #33805 closed

[2022-08-07 20:31] naman9199 commented on #33821
Can I help with this? Please assign me.

[2022-08-07 22:04] akinocakk opened #33847 "Drops occur when there is more than one input with color type."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Drops occur when there is more than one input with color type.

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Especially on my computer, there are more hang-ups. The example is quite simple, but the problem increases when there are more

[2022-08-07 22:09] MariaSolOs opened #33848 "TypeScript complains about a custom popper with SelectUnstyled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm trying to use a custom popper in a `SelectUnstyled` component, but TypeScript complains about the types not being compatible.

### Expected behavior 🤔

I should be able to indicate a custom popper just as with the `Root` and `Listbox` components.

### S

[2022-08-07 22:16] #33847 closed

[2022-08-07 22:51] williamrjribeiro commented on #31835
Today I encountered this issue after installing `@mui/icons-material` to my Remix project.

My workaround was to use [Icon Fonts](https://mui.com/material-ui/icons/#icon-font-icons). Hopefully the root issue will be fixed soon.

[2022-08-08 03:21] siriwatknp commented on #33802
Yes, just for the theming point of view. Here is [why we want to remove it](https://github.com/mui/material-ui/issues/30412#issuecomment-1004515416), those classes do not scale.

[2022-08-08 04:16] PiTiLeZarD commented on #17712
Just to share the solution I found for this:

[code]

[2022-08-08 04:54] ZeeshanTamboli commented on #33768
Which other sizing API?

Yup, I can see it does process. Not sure how.

If we want to keep the support and process the styles, I think we will have to:
- Add the TypeScript typings for these breakpoints.
- Add docs for it.

[2022-08-08 05:13] ZeeshanTamboli commented on #32592
@lony Is it the `onTouchStart` error? If yes, a PR has been opened for it in #33842.

[2022-08-08 05:24] #33443 closed

[2022-08-08 05:28] #32437 closed

[2022-08-08 05:34] ritwaldev opened #33851 "Button on documentation page refreshes the page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On https://mui.com/material-ui/react-text-field/ the search icon button right under:

Refreshes the page when clicked.

### Expected behavior 🤔

Button to have `e.preventDefault()` or something

### Steps to reproduce 🕹

_No response_

### Context 🔦

_No re

[2022-08-08 05:58] lony commented on #32592
![Screenshot 2022-08-08 at 07 57 28](https://user-images.githubusercontent.com/611415/183349252-edce7fcf-03cb-41b0-a19b-3e354ac4a36c.png)

@ZeeshanTamboli yes I think you are right - it's the onTouchStart as well.

[2022-08-08 06:00] PunitSoniME commented on #33851
@ritwaldev

The fix was actually simple, the type of IconButton was `submit` and when you click on those `submit` typed button, the page refreshes.

Just changed the type from `submit` to `button` fixed the problem.

[2022-08-08 06:17] alansouzati commented on #33768
What I mean when it comes to the consistent API is that, for example, I can set width as a system prop or as an sx prop and MUI takes it. By checking the implementation of MUI most components move system props to sx props. Container seemed like an exception. As a consumer, I just assumed that piece was consistent but it was not. My PR is a backwards compatible way to make this consistent.

Finally

[2022-08-08 06:33] siriwatknp opened #33853 "[system] `CssVarsProvider` should not crash the app if local storage is unavailable"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Local storage might not be available in private mode. Pointed out by https://github.com/mui/material-ui/pull/33545#discussion_r938618929.

Reference: https://github.com/mui/mui-x/blob/6be8bcbac5c6df70bf476005383df8731135f573/packages/grid/x-data-grid/src/utils/utils

[2022-08-08 07:39] ZeeshanTamboli commented on #33793
Not only a warning is thrown but also there is a TypeScript error for overriding via module augmentation. It can be done similar to #33816. Only that #33816 was for `size` prop, this is for `variant` prop. Would you like to create a PR for it?

[2022-08-08 08:18] arjunvijayanathakurup commented on #33793
Yes, I will create a PR for this issue

[2022-08-08 08:39] #33802 closed

[2022-08-08 09:08] MonstraG commented on #16494
Now that React 18 is released and stuff, is the issue being worked on?

[2022-08-08 09:10] #33513 closed

[2022-08-08 09:15] michaldudak commented on #32088
Another idea - how about including the button in the Menu component itself (both Unstyled and Joy)? It would remove the confusion and make things simpler for users. For cases where a button is not required (like a context menu), `components.Button` could allow `null`.

Then we would have:
[code]

or

[code]

[2022-08-08 09:19] olegzaitsevway commented on #31190
I have the same error when try to use the Modal component from 'antd' library.

"react": "^18.2.0",
"react-dom": "18.2.0",

[2022-08-08 09:27] eps1lon commented on #16494
Thanks for the reminder! This was actually implemented in #30654. So in React 18 `TextField` will have an associated label before hydration as well.

Closing since there wasn't a concrete use case why wrapping should be preferred over `for`

[2022-08-08 09:27] #16494 closed

[2022-08-08 09:43] ozgurbaserdem opened #33855 "[Select] Change style of the Select-menu on mobile?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi!

I've read through some older issues such as (https://github.com/mui/material-ui/issues/23291) but have not find a proper solution (or I could've missed it).

I wonder if there is a way to change the way the Select menu shows up on mobile to be similar to the mi

[2022-08-08 10:14] #33694 closed

[2022-08-08 10:29] PrimozRome commented on #31190
I have managed to solve the issue. I only upgraded `react` but not `react-dom`. After that, the error was gone!

[2022-08-08 10:57] SerjioValentes opened #33857 "[docs] Demo FrameDeferring crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20FrameDeferring%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-no-ssr/
2. auto google translate is on
3. demo *FrameDeferring* crashes

## Your Environment
| Tech         | Version |
|------

[2022-08-08 12:18] Fifaldi opened #33858 "Mui Autocomplete custom listbox component list footer"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hey, I am trying to add a custom listbox component with a link to subpage as a list footer. I have managed to make custom ListboxComponent however the link in it is not  working. Further more, when I maka simple conosle log on a div inside custom ListobxCom

[2022-08-08 12:25] flaviendelangle commented on #33445
Yes I am talking about the doc
Here is [the pr doc](https://mui.com/pt/x/react-date-pickers/getting-started/) for instance

[2022-08-08 12:46] shovalbatel commented on #32375
I did something like that: (When the value is empty, the adornment doesn't appear)
 <TextField
          label={label}
          type={'number'}
          InputProps={{
            startAdornment:
              currency_char && value ? <>{currency_char}</> : null,
          }}
          value={value}
          onChange={updateFieldValue}
        />

[2022-08-08 13:05] ZeeshanTamboli commented on #33848
I am not able to reproduce your issue in the CodeSandbox: https://codesandbox.io/s/magical-cori-1dmlg5.

Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-08-08 16:34] giladv opened #33861 "GridBooleanCell regression"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

on GridBooleanCell, "other" props are not propagated anymore.
so wrapping it with Tooltip for instance doesn't work anymore.

### Expected behavior 🤔

triggers like Tooltip should work

### Steps to reproduce 🕹

_No response_

### Context 🔦

[code]

### You

[2022-08-08 16:37] jgalrito-airnav commented on #28633
I see this marked as closed but there was no actual answer - has the behavior changed from v4 to v5? Where is it documented? How can we define a baseline font-family and size for all typography components? With v5 I see my global fontFamily and fontSize applied to the body tag, but then a component like Typography variant="button" overrides with its own fontFamily and size.

[2022-08-08 16:38] MariaSolOs commented on #33848
You were not using the setup I had indicated in the description. I just [updated](https://codesandbox.io/s/keen-zeh-fpcgrh?file=/src/App.tsx) the sandbox and here's the repro:
<img width="1089" alt="image" src="https://user-images.githubusercontent.com/62502207/183468763-098bbb67-1d48-463f-b5fc-cf8b687c551c.png">

[2022-08-08 16:38] jgalrito commented on #28633
I see this marked as closed but there was no actual answer - has the behavior changed from v4 to v5? Where is it documented? How can we define a baseline font-family and size for all typography components? With v5 I see my global fontFamily and fontSize applied to the body tag, but then a component like Typography variant="button" overrides with its own fontFamily and size.

[2022-08-08 19:22] TheAschr opened #33864 "Component styling not working with renderToStaticMarkup"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I try to use a material-ui component with the renderToStaticMarkup function the styling is not applied.

### Expected behavior 🤔

The material-ui styling should be applied to the component.

### Steps to reproduce 🕹

1. Create a react app and put this

[2022-08-08 22:11] cyberGHostJs commented on #33054
Hi is anyone working one this? I'd like to take it.
 @emlai

[2022-08-08 22:55] lindapaiste commented on #11108
I really hate that the hover effect is now tied to `disableRipple`!

I came across this issue while trying to figure out why there was no hover effect on one of my `IconButton`s.  I have `disableRipple` set globally through my theme's `defaultProps` because I don't want the animation.  Now none of my `IconButton`s have hover effects.  Why?

In my opinion it is not intuitive that disabling the ripp

[2022-08-09 00:52] ibrahimAboelsuod commented on #32882
Doing this:
`const { ownerState, ...other } = props as unknown as SelectUnstyledProps<any> & { ownerState: any };`
makes you avoide using `// @ts-ignore`

[2022-08-09 02:53] #28045 closed

[2022-08-09 02:53] garronej commented on #28045
Addressed in https://github.com/mui/material-ui/pull/32067

[2022-08-09 03:31] baymax88 commented on #33424
@mnajdova
thanks for your patience.
i missed this part in my code and it was the reason.
[code]

so it's working fine at the moment but still not working for the Dialog ones yet.
do i need to raise a new issue for that and close this?

I created the github repository for that
https://github.com/baymax88/mui-with-tailwindcss

[2022-08-09 03:33] siriwatknp commented on #29320
This is fixed in `v5.10.0`, please try it out!

[2022-08-09 03:33] MariaSolOs commented on #33848
So I was able to identify the issue. My `tsconfig` file sets `"exactOptionalPropertyTypes": true`, which seems to make `PopperUnstyledProps` and `SelectUnstyledPopperSlotProps` incompatible. Because I didn't want to relax my `tsconfig`, using a `@ts-ignore` comment above `components.Popper: MyPopper` fixed it.

[2022-08-09 03:33] #33848 closed

[2022-08-09 03:45] #33424 closed

[2022-08-09 04:39] MonstraG opened #33865 "[docs] /system/getting-started/advanced/ does not exist"
### Duplicates

- [X] I have searched the existing issues

https://mui.com/system/getting-started/overview/
Links to
https://mui.com/system/getting-started/advanced/
in the last line:
![image](https://user-images.githubusercontent.com/17963791/183565392-22728013-dc99-4412-aff7-30e10cf44d1a.png)
which doesn't exist

[2022-08-09 06:13] ZeeshanTamboli commented on #33790
I see that you are using Material-UI v4. It works in Material-UI v5 - https://codesandbox.io/s/bold-cerf-k46b5u.

We won't be supporting fixes in v4. Follow the [migration guide](https://mui.com/material-ui/migration/migration-v4/) to upgrade your app from Material UI v4 to v5.

[2022-08-09 06:13] #33790 closed

[2022-08-09 06:26] ZeeshanTamboli commented on #33865
Thanks for reporting. It's after changes in #33503. The fix should be simple:
[code]

Would you like to create a PR for it?

[2022-08-09 06:56] MonstraG commented on #33865
done^

[2022-08-09 06:57] ZeeshanTamboli commented on #33661
Related issues - #33646, #29046

[2022-08-09 07:09] #33651 closed

[2022-08-09 07:09] #33696 closed

[2022-08-09 07:09] #33735 closed

[2022-08-09 07:24] vonkanehoffen commented on #33785
Oh right. No I just want to apply style via the variant. In this case I have two layers of tabs and I want the lower one to be outlined like so:

![Screenshot 2022-08-09 at 08 22 25](https://user-images.githubusercontent.com/1237951/183589245-3a31249e-efd6-47db-80d5-b0ddde741d2a.png)

It works fine except for the TS error.

[2022-08-09 07:29] michaldudak commented on #33660
@MonstraG it's not a CSS property. It's available in the `sx` prop: https://mui.com/system/display/#display-in-print

@laichak I'm still not able to reproduce your issue. I've tried both on Windows and Mac using a real printer and a PDF one. The divider shows up. It may be related to your setup.

[2022-08-09 07:55] siriwatknp commented on #32088
But then what is the root element? the button or the popper?

[code]

I lean toward having the button being root to have a similar experience to the Select.

[2022-08-09 08:08] pratikkarad opened #33868 "[TabScrollButton] Left, Right icons does not work as expected"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The left, Right icons do not work as expected when we switch the theme direction to `rtl`

### Expected behavior 🤔

As a user, I should be able to navigate through the left and right icons no matter what the value of direction is.

### Steps to reproduce 🕹

[2022-08-09 08:28] #33793 closed

[2022-08-09 08:29] michaldudak commented on #32088
Perhaps the root slot could be a Fragment by default.

I've taken a look at what the other libraries are doing. Chakra, Mantine, and Radix (with Select, as they don't have the menu yet) use the context approach:

[code]

React Spectrum has another solution:
[code]

and FluentUI uses a completely different approach:
[code]

[2022-08-09 09:07] michaldudak commented on #33644
We do support Firefox. As I stated above, this issue is not specific to Material UI. We can't control Firefox's internal behavior. I'm not aware of any workarounds for this.

[2022-08-09 10:11] mnajdova commented on #32088
[code]

This looks most intuitive API to me. And, in addition, we can also support it with the `components` API:

[code]

[2022-08-09 10:35] TamirCode opened #33870 "Tooltip doesn't work on inputadornment"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using a tooltip on an inputadornment, it doesn't work

### Expected behavior 🤔

I expect the tooltip to work without any issues in inputadornment

### Steps to reproduce 🕹

[code]

### Context 🔦

I want a tooltip on my inputadornment icon

### Your env

[2022-08-09 12:17] pratikkarad commented on #33231
Hi @mnajdova, @ZeeshanTamboli, @siriwatknp team, any updates on this?

[2022-08-09 13:14] gauravsoti1 commented on #27933
Hi, since there was no activity on this issue for 9 days. I have created a PR and have made sure to add a test.

[2022-08-09 13:42] vuxor commented on #17906
Add this to 'extends' array in your eslint rc file:
`plugin:import/typescript`

[2022-08-09 14:02] laichak commented on #33660
Yeah, it is weird. My workaround is explicitly set the height to 1px.

const Divider = () => (
    <div style={{ height: '1px', borderTop: '1px solid #C5CAE9' }} />
);

[2022-08-09 14:18] RayaneBnsd07 opened #33874 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-button/
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|-----------

[2022-08-09 14:19] rayak-s commented on #33870
Hi @TamirCode, I tried to reproduce your issue [here](https://codesandbox.io/s/cool-water-8bncqt?file=/src/App.js) but the tooltip is visible. Please let me know if I missed something.

[2022-08-09 14:19] wadehammes opened #33875 "TypeError: (0 , _styledEngine.internal_processStyles) is not a function"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In my Jest tests, I am now getting `TypeError: (0 , _styledEngine.internal_processStyles) is not a function` with the latest Mui and Mui-styled-engine-sc

![image](https://user-images.githubusercontent.com/222170/183673556-d8c5aea9-7ba8-49e5-ae0b-f2b52169af

[2022-08-09 14:28] #33875 closed

[2022-08-09 14:39] TamirCode commented on #33870
my bad its because i had this in my css so the tooltip was showing behind the modal dialog
[code]

[2022-08-09 14:39] #33870 closed

[2022-08-09 14:42] jgbae opened #33876 "Select items can't be selected in IE11, in the legacy bundle"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using the **"legacy bundle"**, and I'm having the same problem as #27631.

According to the [docs](https://mui.com/material-ui/guides/minimizing-bundle-size/#legacy-bundle), the legacy bundle supports IE11.

However, [line 308 of SelectInput.js included

[2022-08-09 16:33] PunitSoniME commented on #33874
Duplicate - https://github.com/mui/material-ui/issues/33809

[2022-08-09 17:33] iamxukai commented on #33255
@ZeeshanTamboli It seems we can easily remove the line to fix it. If the solution is good, I wanna create a PR.
[code]

[2022-08-09 18:09] DavidArmendariz opened #33878 "export 'internal_processStyles' (imported as 'processStyles') was not found in '@mui/styled-engine'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The React app won't start as this error pops up when I run `yarn start` on my project with the latest version of `@mui/material` (5.10.0). The error I am seeing is:
[code]

### Expected behavior 🤔

My React app should compile without errors.

### Steps to r

[2022-08-09 19:59] CWSites commented on #18091
We are doing this method on our ToggleButton however in adding the wrapping Tooltip it's breaking the ToggleButton styles, they are no longer grouped and instead look like two separate buttons. Do you have a workaround for this or do we need to specifically overwrite the styles to make it appear correct?

### Without Tooltip
![Screen Shot 2022-08-09 at 3 58 46 PM](https://user-images.githubusercon

[2022-08-09 20:00] cjones26 commented on #33878
Same issue here.

[2022-08-09 20:45] Fifaldi commented on #33858
I've managed a work around. I know it's not pretty, however it woks in my case. Nevertheless I will still be looking for better solution as I am sure there is one.
Here is my work around solution:

[code]

[2022-08-09 21:14] 20BBrown14 commented on #26795
I'm currently experiencing this same issue on @mui/material@5.9.2

Any `padding-top` I provide to the `DialogContent` component is overwritten with `padding-top: 0` from the `.MuiDialogTitle-root+.css-b3xomw-MuiDialogContent-root` class.

I see that this thread hasn't had a reply in awhile. Has anybody been able to resolve this or find a work around?

[2022-08-09 21:50] #33865 closed

[2022-08-09 22:01] chkilel commented on #12044
Thanks @afilp for the problem description, and for @jsholzer for the hint, this helped me to find the a solution, hope the code below helps.

[code]

[2022-08-09 22:15] samuelsycamore commented on #33417
That's an interesting question @siriwatknp. I'm thinking that a "Migrating to CSS vars" page should probably live next to the other CSS vars pages. The **Migration** section, in my eyes, should just be for upgrading major versions.

[2022-08-09 23:10] Mark-777-0 commented on #33868
This does not happen on my end, `dir="rtl"` makes the default selected tab start on the right, and when it is not there the default selected tab is the leftmost one.

Maybe I am missing something? I can navigate through the tabs https://codesandbox.io/s/long-star-wu282z?file=/demo.tsx

I just used the same sandbox.

[2022-08-10 02:49] norayr93 commented on #13898
Would be great if you could provide some easy workaround to toggle that behavior.I believe there are some edge cases that you haven't included that yet, but maybe some scenarios don't face that edge cases and the important aspect of the field is not working properly.

[2022-08-10 05:23] PunitSoniME commented on #33821
@naman9199

You can directly create a PR.

[2022-08-10 05:27] ZeeshanTamboli commented on #33794
Thanks for reporting! Look like a bug indeed.

I think this happens after we started supporting CSS variables types and CSS variable types with nested selectors (#31163) in the sx prop.

We can use TypeScript [template literals in index signatures](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html) to fix this. But then this feature is available since TypeScript **4.4+** .

[2022-08-10 06:12] ZeeshanTamboli commented on #33255
@iamxukai We will have to fallback to `span` if no `variant` is provided. Also, we need to support [custom variantMapping](https://mui.com/material-ui/react-typography/#changing-the-semantic-element) if passed to the `primaryTypographyProps`.

We will also need tests for it.

You can try it out. Thanks.

[2022-08-10 06:33] pratikkarad commented on #33868
Hey @Mark-777-0, are you able to scroll the tabs and see `Item Seven` in Tabs component?

[2022-08-10 06:58] sajid19 commented on #29965
I am new to the contribution. I want to work in this issue. May I?

[2022-08-10 07:09] #33551 closed

[2022-08-10 07:25] aflip commented on #12044
i am once again reminding you that @aflip and @afilp are different people. i am from the FLIP family  and they are from the FILP family of spellings. happy bug hunting all.

[2022-08-10 08:02] mnajdova commented on #31207
👍 on this. I don't it's worth adding documentation for all native HTML attributes that are supported. The Table component is really a thin wrapper around the native table* elements.

[2022-08-10 08:03] mpanjato commented on #33878
i have the same error : `'internal_processStyles' is not exported from '@mui/styled-engine' (imported as 'processStyles')`
Version mui : "@mui/material": "5.4.4"
Version React : "17.0.2"
is this issue still in progress?

[2022-08-10 08:07] shinsou commented on #29727
I had a bit different kind of a problem that is described in this thread, but as it lands on same field I decided to post here rather to post new thread (hope that's fine).

### TL;DR
A opinion that has very minor affect on... anything. May resolve some common issues found in internet with this component.

### Decription

I have MUIv5 and I use MUI Autocomplete, with Formik (with Yup) and use type

[2022-08-10 08:09] #32348 closed

[2022-08-10 09:12] pratikkarad commented on #33235
Hi @mnajdova, I have raised PR.
PTAL, Thanks!

[2022-08-10 09:54] andyshora commented on #33875
I've also just hit this. @wadehammes do you know what version I should downgrade to to get things working again?

[2022-08-10 10:05] oliviertassinari commented on #33364
So if I understand it correctly, our demos in the docs are broken, they should be using position="relative".

[2022-08-10 10:20] oliviertassinari commented on #33412
In https://mui.com/system/styled/#using-the-theme we document how to use the theme, but it seems that we never talk about how the function API gives access to the props. I guess the docs rely on:

1. Transfer of learning: "Surly, you already know https://emotion.sh/docs/styled#changing-based-on-props or https://styled-components.com/docs/advanced#style-objects"
2. Luck: "Try it yourself, see how i

[2022-08-10 11:05] grzegorzjudas commented on #33784
If it is supported, can we update peer dependencies in package.json's to allow install in v18 environment?
![Zrzut ekranu 2022-08-10 o 13 04 51](https://user-images.githubusercontent.com/3832059/183886163-6c534fe0-503c-4a6e-a012-79f4085ed499.png)

[2022-08-10 11:06] #33060 closed

[2022-08-10 12:17] adamryvola opened #33881 "Autocomplete: keepMounted prop not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you pass `keepMounted` prop to Autocomplete it doesn't work:
`
      componentsProps={{
        popper: {
          keepMounted: true
        }
      }}
`

### Expected behavior 🤔

Autocomplete popper should be always mounted.

### Steps to reproduce 🕹

[2022-08-10 12:19] #33781 closed

[2022-08-10 12:35] mnajdova commented on #33814
The main purpose of the `sx` prop is to allow people to specify theme tokens as part of the values, which is not supported by simply using `css`. For example you cannot use `color: primary.main` or something like this (at least in this moment). In my honest opinion, I wouldn't add new features on the `sx` prop until we see it is really useful, as it would impact the bundle size and the perf and it

[2022-08-10 12:45] mnajdova commented on #33815
I can't repro, for example, it works here - https://codesandbox.io/s/naughty-stitch-zom2zb?file=/src/App.tsx Maybe try https://github.com/mui/material-ui/issues/12432#issuecomment-411046157

[2022-08-10 12:46] #33814 closed

[2022-08-10 13:00] mnajdova commented on #33864
It is because you are not injecting the emotion styles anywhere. Take a look for more info on this here https://github.com/emotion-js/emotion/issues/2102#issuecomment-727186154

[2022-08-10 13:01] #33864 closed

[2022-08-10 13:05] mnajdova commented on #33821
This is the default behavior of the `button` element, we shouldn't change anything. Prove - https://codesandbox.io/s/determined-surf-sedrq4?file=/src/App.tsx As mentioned in https://github.com/mui/material-ui/issues/33821#issuecomment-1207347471 you can disable it in your code if you want to. I would be curious of why you would want to do it tough.

[2022-08-10 13:05] #33821 closed

[2022-08-10 13:16] mnajdova commented on #33846
You can do this by targeting the `MuiInputBase-input` child. See https://codesandbox.io/s/elated-silence-sy96e6?file=/demo.tsx

[2022-08-10 13:16] #33846 closed

[2022-08-10 13:20] mnajdova commented on #33858
Please share a codesandbox that we can look into.

[2022-08-10 13:22] mnajdova commented on #33868
Have you followed https://mui.com/material-ui/guides/right-to-left/#main-content for setting up RTL?

[2022-08-10 13:34] ivp-dev opened #33884 "[Menu][base] Maximum call stack size exceeded error"
https://github.com/mui/material-ui/blob/db6c358d0e83da10968ec81b1a95e11a8e3bb3d0/packages/mui-base/src/MenuItemUnstyled/useMenuItem.ts#L48

In original implementation there is a useEffect hook that calls focusIfRequested on every render. It causes a bug when you press down arrow and escape key at the same time. It causes maximum call stack size exceeded error. Maybe it happens during animation, be

[2022-08-10 13:51] eladkariti commented on #30985
Hi @oliviertassinari, I get the same unexpected behavior regarding the  Arrows keys that doesn't scroll the component.

- is it a know issue?

thanks

[2022-08-10 13:59] cjones26 commented on #33878
Just a heads up @DavidArmendariz & @mpanjato, I was able to resolve this issue by upgrading the following packages to the latest version:

`@mui/base@5.0.0-alpha.88` -> `@mui/base@5.0.0-alpha.92`
`@mui/material@5.8.7` -> `@mui/material@5.10.0`
`@mui/styled-engine-sc@5.8.0` -> `@mui/styled-engine-sc@5.8.0`
`@mui/x-date-pickers@5.0.0-beta.2` -> `@mui/x-date-pickers@5.0.0-beta.4`

[2022-08-10 14:00] mnajdova commented on #33804
Have a looked at the official examples we provide about how to configure Material UI + next.js - https://mui.com/material-ui/getting-started/example-projects/#official-examples

[2022-08-10 14:00] #33804 closed

[2022-08-10 14:01] mnajdova commented on #33799
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-08-10 15:07] AntonyF-Andreani commented on #33784
Hi!

I think we can update `peerDependencies` with `"react": ^17.0.2 || ^18.0.0`, or this change are included on milestone?

If this is correct I can open a PR for that.

https://github.com/mui/material-ui/blob/db6c358d0e83da10968ec81b1a95e11a8e3bb3d0/packages/mui-styles/package.json#L42

[2022-08-10 15:08] RPisRyan commented on #14782
I found that (non-wrapped) suspense state in popover content causes popover in wrong position. It also throws warning: `MUI: The anchorEl prop provided to the component is invalid.`
The fix was to wrap with `<Suspense>`.
I suppose MUI could provide a better warning, or automatically provide suspense component in the modal tree...

[2022-08-10 15:08] DavidArmendariz commented on #33878
@cjones26 @mnajdova Thanks! I guess dependabot doesn't make upgrades to `@mui/styled-engine` because of the way it is specified in `package.json`?
[code]
Is this still the correct way to specify `@mui/styled-engine` package?

[2022-08-10 17:36] arnaudakotonou97 commented on #32727
Got the same issue, what worked for me is removing node_modules and reinstalling dependencies. I assume the issue is related to vite caching system. It goes really fast even for a big project when you are using yarn or pnpm

[2022-08-10 18:05] #32275 closed

[2022-08-10 18:50] oliviertassinari commented on #33784
@BearCooder I have updated the title and description of the GitHub milestone to be clearer https://github.com/mui/material-ui/milestone/45.

![Screenshot_20220810-204646_Chrome](https://user-images.githubusercontent.com/3165635/183992959-d307223d-cb81-4a5f-95c5-909b9958e855.jpg)

@grzegorzjudas @AntonyF-Andreani `@mui/styles` would be a different discussion, see https://github.com/mui/material-ui/

[2022-08-10 18:50] #33784 closed

[2022-08-10 21:09] giladv commented on #33878
any news on this? my dev env is unusable without me changing anything

[2022-08-10 21:13] DavidArmendariz commented on #33878
@giladv upgrading @mui/styled-engine worked for me.

[2022-08-10 21:19] giladv commented on #33878
doesn't work with styled-engine-sc unfortunately for me

[2022-08-10 21:22] cjones26 commented on #33878
Try updating all MUI related packages.  If that still doesn't work, it's likely another third-party package is pulling in an older version of `@mui/styled-engine-sc` and / or `@mui/material` which you may need to add to `overrides` (if using npm) or `resolutions` (if using yarn).

[2022-08-10 21:36] giladv commented on #33878
nothing works.
- tried updating all packages to latest
- removing yarn.lock

for some reason styled-engine-sc is staying 5.8 while there's already a 5.10

[2022-08-10 22:01] giladv commented on #33878
FINALLY. for anyone having problem with this make styled-engine-sc@5.8 will not work with latest mui/system version.
do everything you can to make yarn upgrade it. including messing with yarn.lock

[2022-08-10 23:24] yuklai commented on #26440
The gmail to field would be something that supports renderTags and freeSolo={true}?

[2022-08-11 01:19] gland2015 opened #33887 "page fixed item will shake when open modal mask in scroll page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

page fixed item will shake when open modal mask in scroll page, because page width is change. open mask will add "overflow:hidden" at body element. if need prevent scroll, we can set "pointevent:none" at body. or listen wheel passive event at mask. This doe

[2022-08-11 02:59] TurtIeSocks commented on #33440
@mnajdova sorry for the delay, finally had some time to test latest (5.10.0 as of this comment) and was able to get it to work. Not right out of the box but for some reason I had to make some adjustments to the tsconfig files in the monorepo.

Not really clear why it worked previously and broke after updating but all seems good now and my tsconfigs probably follow better practice 😄  If you would l

[2022-08-11 06:53] TamirCode opened #33888 "Weird Dialog Behavior"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have made a very simple app
It has the App component, and the child component which is an MUI Dialog with a formik form inside.
Formik accepts initial values, and I have made those values be the currentItem state which originates at App.js
However the ini

[2022-08-11 07:01] ZeeshanTamboli commented on #33709
@adamransom Do you pass the `component` prop in `Dialog`?

[2022-08-11 07:07] kot-shrodingera opened #33889 "Custom Typography Variant TypeScript support"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I want to add custom `Typography` variants ('numeric' for example)
I've followed instructions here
https://mui.com/material-ui/customization/typography/#adding-amp-disabling-variants
But I have typescript errors in `createTheme`, and `Typography` component,

[2022-08-11 07:20] imhazige commented on #21694
I found another related bug of "@mui/material": "^5.5.1", when drag the scrollbar to scroll an then click some element in the dialog, the onclose event will trigger make the dialog close.

[2022-08-11 07:33] ClassicDarkChocolate commented on #33709
https://v5-0-6.mui.com/api/modal/

<html><body>

Name | Type | Default | Description
-- | -- | -- | --
children* | element |   | A single child content element.⚠️ Needs to be able to hold a ref.
open* | bool | false | If true, the component is shown.
BackdropComponent | elementType | styled(Backdrop, {   name: 'MuiModal',   slot: 'Backdrop',   overridesResolver: (props, styles) => {     return sty

[2022-08-11 07:35] ZeeshanTamboli commented on #33709
Thanks @ClassicDarkChocolate !

[2022-08-11 07:41] adamransom commented on #33709
When I click that link I can see that the component prop is present in
v5.0.6.

Yes, we were setting this via the component prop (on `Dialog` as it passes
props down to `Modal`).

On Thu, 11 Aug 2022 at 08:35, Zeeshan Tamboli ***@***.***>
wrote:

[2022-08-11 07:53] d-tasevski commented on #33387
Similar story here. Spent more time than I could admit on something apparently so simple, to no avail. In my case, I'm trying to modify the color of the outline of the MuiTextField or MuiOutlinedInput, in default, hover, focus, disabled, and filled state. The only [example in the doc](https://mui.com/material-ui/react-text-field/#customization) seems to be using the old API and is not working for

[2022-08-11 09:20] #33878 closed

[2022-08-11 09:27] mnajdova commented on #33440
If the issue is resolved, I propose we close it. If someone hits something similar they can provide a reproduction and open a new issue. Thanks!

[2022-08-11 09:27] #33440 closed

[2022-08-11 10:45] mnajdova commented on #26795
We can't change anything for now, at least until the next major. I would propose bumping the specificity using `&&`

[2022-08-11 10:46] mnajdova commented on #33868
The codesandbox does not reflex this, please update it.

[2022-08-11 10:50] mnajdova commented on #33710
I don't understand what is the issue, it works as expected - https://codesandbox.io/s/young-cache-pu312y?file=/src/App.tsx

[2022-08-11 10:51] mnajdova commented on #33799
It's not missing, see https://github.com/mui/material-ui/issues/33710#issuecomment-1211828601 Please share codesandbox with a reproduction if this is not the case.

[2022-08-11 11:35] MacAndersonUche commented on #32367
So should i just run npm update package-name --legacy-peer-deps

[2022-08-11 13:09] TeoAvignon commented on #29466
You can try to set the `sx` propertiy inside the `DialogProps` property.

That would give something like this:

`<StaticDatePicker
    ...
    DialogProps={{
      sx:{ '& .PrivateDatePickerToolbar-penIcon': {display: 'none'} }
    }}
  />`

  For other date picker, inspect the pen button element to know which name to write in the sx props.
  For instance, with `MobileTimePicker` you would get:

[2022-08-11 13:21] awakelanka opened #33891 "CreateFilterOptions is not working for numbers."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

CreateFilterOptions is not working for numbers [eg: years]. Throwing candidate.toLowerCase is not a function error. Can we skip toLowerCase() on numbers.
<img width="420" alt="Screenshot 2022-08-11 at 6 49 08 PM" src="https://user-images.githubusercontent.c

[2022-08-11 13:25] snuup commented on #31089
@hbjORbj hbjORbj . you said:
"Hi. As you can see in [InputLabel API doc](https://mui.com/api/input-label/#main-content), it doesn't provide size prop. FormLabel, to which InputLabel is extended, also doesn't provide size prop."

The opposite is true:

https://mui.com/material-ui/api/input-label/

says:

![image](https://user-images.githubusercontent.com/61933552/184143364-d9f13b0d-b6d5-45bd-82e8-3

[2022-08-11 14:16] hamed4000 opened #33892 "RTL support for Material UI Emotion"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

generate duplicates classes
![image](https://user-images.githubusercontent.com/43178970/184128073-abe4d9fb-5284-43fc-be3b-16d069c6dcbe.png)
in this example generate duplicates classes for the mui input component

### Expected behavior 🤔

_No response_

###

[2022-08-11 15:24] pratikkarad commented on #33799
If I type `sx` and hit `Ctrl + space`, typescript documentation gives me the suggestion like following ![image](https://user-images.githubusercontent.com/32093370/184166580-8460b442-396b-47e5-99a1-4130f16bb826.png)
But if I type `component` and hit `Ctrl + space`, it doesn't give the suggestion in typescript documentation. Snapshot attached -
![image](https://user-images.githubusercontent.com/3209

[2022-08-11 16:24] indefinitelee commented on #19938
also interested in knowing if there are any updates to this.
is there a list of components that have/have not been migrated?

[2022-08-11 16:51] VikashPR opened #33893 "[website] Visual bug on the demo Calendar in the hero section"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The landing page calendar is over lapping the background border

![Screenshot 2022-08-11 at 10 12 41 PM](https://user-images.githubusercontent.com/69889418/184187794-f82788fe-3ed7-496a-9c41-12aab8c7f961.png)

### Expected behavior 🤔

![Screenshot 2022-08-11

[2022-08-11 17:20] zhdanouskikh commented on #19938
2 months since my comment and noone replied. Nice job 👍

[2022-08-11 18:21] m2mathew commented on #33878
The solution to return to `5.8.0` was not working for me with these values in `package.json`:

[code]

However, our app builds correctly with this package in `dependencies`:

[code]

By the way, we are finally upgrading the Text-Em-All web app to MUI v5...the app that started this entire project. Thanks for the continuing development and _care_ that you put into MUI, everyone! 🙏

[2022-08-11 19:18] fajw55 opened #33894 "[TablePagination] select cannot be outlined"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When adding `SelectProps={{ variant: "outlined" }}` to TablePagination not all needed classes are applied and root div gets variant="outlined"
[code]
Missing classes: MuiOutlinedInput-root, MuiOutlinedInput-input
Missing element: fieldset

An outline is not

[2022-08-11 20:14] EricWu2003 commented on #19446
@oliviertassinari It looks like the duplicate you tagged was regarding updating the indicator's width when the Tabs component changes width, whereas this issue happens without the Tabs component changing width and is related to the initial width of the indicator. Do you know of a way to update the width?

[2022-08-11 23:27] gauravsoti1 commented on #27933
@mnajdova In the latest version of the library, we don't have this problem, as we can observe here https://codesandbox.io/s/p7njj6?file=/demo.tsx (It's the same example just with latest library)
But this issue is using version 4 of the library.

[2022-08-11 23:58] zqylur commented on #33268
I have a very similar problem with `Autocomplete`, except that removing the li doesn't fix keyboard navigation. I've created a demo here https://codesandbox.io/s/romantic-yonath-lsjjvb. You can see that clicking the item opens a new tab, but keyboard selection with "Enter" only populates the option value, and does not open a new tab.

[2022-08-12 05:24] danilo-leal commented on #33893
Hey @VikashPR, thanks for opening this one! I'm not being able to reproduce it, though 🤔

[2022-08-12 05:28] VikashPR commented on #33893
I tried reproducing it using dev tools in mui.com

[2022-08-12 05:34] MonstraG commented on #33893
![image](https://user-images.githubusercontent.com/17963791/184291136-a33ef24d-2e39-4b95-af2a-497edee4ef54.png)
Firefox 104.0b8 (64-bit)

[2022-08-12 05:43] VikashPR commented on #33893
Please refer this screen recording
https://user-images.githubusercontent.com/69889418/184291863-c1e01a81-e282-43ac-a994-f36e83db612a.mov

Hope this will help reproduce the bug @MonstraG @danilo-leal

[2022-08-12 05:54] pratikkarad commented on #33868
After doing more research, it works in a very confusing way.
Here's an example link for [codesandbox](https://codesandbox.io/s/tabs-dir-issue-gr045i?file=/demo.tsx)
We need to add the MUI theme and also need to add `dir="rtl"` prop to every component, we wish to change the direction.
Initially, my understanding was to just use the MUI theme, but that is not the case.

[2022-08-12 05:54] #33868 closed

[2022-08-12 06:41] gauravsoti1 commented on #29965
@siriwatknp Should this still have a good first issue label? Won't it be better to have logos like `v6` and `on hold`?

[2022-08-12 06:49] gauravsoti1 commented on #33809
I was able to reproduce it. When you toggle loading, this is the error you get.
<img width="769" alt="Screenshot 2022-08-12 at 8 48 43 AM" src="https://user-images.githubusercontent.com/12767895/184299888-eab0b138-d53f-4997-ab9d-d1f5a764eb3f.png">

[2022-08-12 06:52] danilo-leal commented on #29965
Yup, I guess so! Thanks for the heads up @gauravsoti1!

[2022-08-12 07:09] santhosh01712 opened #33898 "Dragover, Drop events are not working with Drawer component"
I have a requirement to use drag and drop events inside a Drawer component to accept a file input.  When I added ref to a Grid and tried to the listeners the events are not actually called.

The sample project can be found here.
https://codesandbox.io/s/crazy-butterfly-4c2ehe?file=/src/App.js

[2022-08-12 07:21] #30992 closed

[2022-08-12 07:21] #33498 closed

[2022-08-12 08:10] #33581 closed

[2022-08-12 09:07] mmailaender opened #33900 "Improve documentation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Documentation that is simple structured and easy to catch up

### Examples 🌈

https://reshaped.so/content/docs/getting-started/overview

### Motivation 🔦

If I visit the MUI documentation, I'm a bit confused about the different areas
![image](https://user-images.git

[2022-08-12 10:11] michaldudak opened #33901 "[SelectUnstyled] Event is not passed to the onChange handler"
The SelectUnstyled's (and MultiSelectUnstyled's) onChange handler is called with the selected value as the first parameter. This is not in line with other components (and native elements) that have an event associated with the change as the first parameter.

Add the event as the first parameter. The current value can be passed in as the second parameter.

[2022-08-12 11:23] StanislauDalininTB opened #33902 "Incorrect Tooltip placement (Support the createRoot react method)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The tooltip places a little bit left than it should be. [Example](https://codesandbox.io/s/material-demo-forked-mxcpbv)

### Expected behavior 🤔

The tooltip places a little bit right and the arrow points to the center of the element.

### Steps to reproduc

[2022-08-12 11:40] michaldudak opened #33903 "[base] Move hooks to their own directories"
As discussed in point 1 of #31415.

[2022-08-12 11:41] michaldudak commented on #31415
I'm closing this one - I feel we reached an agreement.

For point 1 I created an issue: #33903.

Points 2 and 4 have already been done.

Point 3 is dropped.

[2022-08-12 11:41] #31415 closed

[2022-08-12 11:46] mnajdova commented on #33868
@pratikkarad you are missing steps 3. and 4. from the [Right-to-left guide](https://mui.com/material-ui/guides/right-to-left/#3-install-the-rtl-plugin).

[2022-08-12 11:52] mnajdova commented on #33878
Nice to hear this! :) Out of curiosity @m2mathew, why did you decided to use `styled-components` instead of emotion? There are still some issues around it, related to SSR, e. g. https://github.com/mui/material-ui/issues/29742. I am curious to knwo what's the reason for people to put additional effort just to be able to use `styled-components`.

[2022-08-12 11:53] michaldudak commented on #33416
I propose the following approach to proceed with this further:

1. Add the `slots` and `slotProps` props to Material UI components that already support components/componentsProps. References to `componentsProps` exist in 17 components within @mui/material as of today.
2. Add the deprecation notice to the `components` and `componentsProps` props in favor of the newly added ones.
3. Rename the `comp

[2022-08-12 12:11] #33245 closed

[2022-08-12 13:22] #33701 closed

[2022-08-12 13:36] TiagoPortfolio opened #33904 "IconButton has unnecessary padding when ripple is disabled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When we use the **IconButton** component, it has the ripple effect by default and padding to display that effect.
If we disable the ripple effect, the **IconButton** will still have that padding and cause alignment issues.

[code]

![image](https://user-ima

[2022-08-12 13:54] elias-pap opened #33905 "[TablePagination] Cannot change displayedRows child component from <p> to <div>"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Tested with version 5.10.0

I'd like to change the `displayedRows` (label) child component from `<p>` to `<div>`.
Things I've tried:

[code]

[code]

### Expected behavior 🤔

Currently it renders: `<p class="MuiTablePagination-displayedRows css-levciy-MuiTa

[2022-08-12 14:08] danv17 opened #33907 "TextField component change size, by adding value inherit to box-sizing property when Text Primary or Background Default color are changed in theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you change the color to Text Primary o Background Default properties in theme, the TextField component gets te box-sizing: inherit css property and change inner size of input, where goes the value.
Here a [codesandbox](https://codesandbox.io/s/material

[2022-08-12 15:34] m2mathew commented on #33878
@mnajdova We had already moved about 50% of the web app to use `styled-components` in Material-UI v4 instead of JSS. It seemed like an easier solution to use `styled-components` for MUI v5, too. Our web app is client-side rendered, so we don't have any issues with it...at least not in the giant feature PR that is making this change. 😅

[2022-08-12 16:08] danilo-leal commented on #33900
Hey @mmailaender, thanks for opening this one up! We've been talking about the lack of a mui.com/docs page that houses general getting started content, responsible for directing folks to the right place depending on what they're looking for. Here's the issue we have open for that: https://github.com/mui/material-ui/issues/33514

As a bit of context: MUI Core and MUI X are both MUI products but the

[2022-08-12 18:06] kroyee commented on #33004
I ran into this same issue today.
Maybe it's related to https://reactjs.org/docs/strict-mode.html#ensuring-reusable-state

You can swap the `<Textfield />` for a normal `<input />` and get the same result.

[2022-08-12 18:40] samuelsycamore opened #33908 "[docs] Restructure Data Grid "Getting started" docs"
### Summary 💡

I would like to rearrange and revise the Data Grid "Getting started" documentation. Right now there's quite a bit of redundant/repeated/outdated info shared across multiple pages, and there isn't a clear flow from one page to the next for the user.

I am proposing that we take the existing pages:

- Overview
- Getting started
- Demo
- Components
- Style

and rearrange them into this

[2022-08-12 18:41] samuelsycamore commented on #33908
Wrong repo, d'oh

[2022-08-12 18:41] #33908 closed

[2022-08-12 21:43] oliviertassinari commented on #33416
@michaldudak For the angle of how to implement the changes/ I think that it could work, I would only add two things:

For 1. I think that we should also include all the demos in the docs.
For 2. I think that we could delay it, like for one of the deprecations that happen once we start to work on v6

For the angle of either we should move forward. I think that ideally we would want to get some feed

[2022-08-12 22:17] michaldudak commented on #33416
Agreed, both make perfect sense.

As for MUI X, @flaviendelangle also mentioned they'll be affected by these changes. I'm eager to know if you guys consider these changes worth pursuing.

[2022-08-12 23:37] oliviertassinari commented on #31415
So if I understand correctly, the problem we are trying to solve in the RFC is to recognize that hooks can be a first-class citizen. Material UI and Joy UI will likely be built on top of the hooks directly, mostly to improve the DX with the React dev tools and marginally improve the runtime at the expense of allowing inconsistency mistakes between Joy UI and Material UI (which would be reported an

[2022-08-13 01:08] #33887 closed

[2022-08-13 10:58] sambP commented on #2653
Dashlane seems to ignore them all. Does anybody have an idea how to stop dashlane from filling stuff into text fields? The only thing which helped was this:

[code]
But this seems to destroy the mui date/time pickers.

[2022-08-13 11:21] abhishekdam commented on #28918
this is one worked for me

[2022-08-14 13:27] tomer78 commented on #28687
same here.

[2022-08-14 15:59] YeudaBy opened #33924 "[Button] add support for moving between icon button to end/start icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'd love to get some help with this problem. when i building a responsive ui, and want the icon to be only icon without text on small screen, i need to build my own component. i think it will be usefull for lot of pepole. thank you!

### Examples 🌈

[code]

my solut

[2022-08-14 22:28] oliviertassinari opened #33925 "[tree view] Fix look and feel"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The look and feel of the tree view are strange

1. The tree item modifier styles are not going all the way.

<img width="426" alt="Screenshot 2022-08-15 at 00 23 19" src="https://user-images.githubusercontent.com/3165635/184557003-66aeba54-9f58-45e5-a4b9-c2

[2022-08-15 05:19] OasisLiveForever opened #33927 "[docs] Demo UnstyledSelectMultiple crashes in mobile device"
- [X] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20UnstyledSelectMultiple%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. On mobile device (in my case P20 Lite, Android 9, Chrome 104) visit https://mui.com/base/react-select/
2. Select an item from the select in Basics section
3. T

[2022-08-15 05:56] #33695 closed

[2022-08-15 05:57] #33851 closed

[2022-08-15 06:10] mnajdova commented on #33892
I've updated the `_app.js`, see https://stackblitz.com/edit/nextjs-edrbpv?file=pages%2F_app.js. The problem was that the caches were creating in the render function, so it meant new instance were created all the type. I hope this helps.

[2022-08-15 06:11] #33892 closed

[2022-08-15 06:13] mnajdova commented on #33902
Please check the codesandbox. It has the default example, and as far as I could test the positions looks correct in chrome on Windows.

[2022-08-15 06:15] PunitSoniME commented on #33927
I don't understand where it is crashing.

I opened codesandbox of **UnstyledSelectMultiple** from both of the links you provided in above description, but everything seems fine.

[2022-08-15 06:26] OasisLiveForever commented on #33927
On mobile device (P20 Lite, Android 9, Chrome 104) open https://mui.com/base/react-select and under Basics section, select an item in the select (Ten, Twenty, Thirty). The following error occurs:

![unstyled-select-demo error](https://user-images.githubusercontent.com/3196898/184586735-7f401561-dead-4232-9983-46bac9bb32c8.jpg)

This error doesn't occur on PC (Windows 11, Chrome 104).

[2022-08-15 07:26] PunitSoniME commented on #33927
**The error comes in mobile.**

This should be the main highlight of your issue.
But you informed this later.

Please add full details instead of only headings.

[2022-08-15 07:31] OasisLiveForever commented on #33927
I updated the title and the description of the issue.

[2022-08-15 07:34] aksalsf commented on #32727
Got the same issue. Already removing node_modules and reinstalling again, but it didn't work. Happened after update dependancies.

![image](https://user-images.githubusercontent.com/43602616/184594330-a06d608b-fd32-4b9e-b0c2-e6afa8f9d7d1.png)

[2022-08-15 07:34] aslihanozfidan opened #33928 "[Select] Multiple select value prop don't allow to use Array type when using TypeScript"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I send array data to value prop like this.

[code]

I get this error:

[code]

It should run, but Select props in the `Select.d.ts` file waits for a string like this:  `value?: T | '';`

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Step

[2022-08-15 07:44] michaldudak commented on #31415
Also, hooks make it easier to create components that are customizable further (i.e., expose the `componentsProps` prop)

[2022-08-15 08:05] michaldudak commented on #33928
It does work as expected - see the demos in https://mui.com/material-ui/react-select/#multiple-select.
You forgot to destructure props in the `MUISelect` component in your example.
It could be:
[code]

[2022-08-15 08:05] #33928 closed

[2022-08-15 08:08] michaldudak commented on #33927
Thanks for the report. I was able to reproduce it and will investigate it.

[2022-08-15 09:30] gauravsoti1 commented on #27933
Should we close this issue?

[2022-08-15 10:38] fratelo98 commented on #19249
Did you find solution how to override ?

[2022-08-15 12:09] russellfoster opened #33930 "Stepper error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If I open the basic stepper demo:

https://codesandbox.io/s/0pvc26?file=/demo.js

And move the step expression to the same line as the stepper:

`<Stepper activeStep={activeStep}> {steps.map((label, index) => {`

I get the error:

Element type is invalid: e

[2022-08-15 12:11] russellfoster commented on #33930
`<Stepper activeStep={activeStep}> {steps.map((label, index) => {`

[2022-08-15 12:53] TamirCode commented on #16325
the reasoning does not make sense but it works regardless, thanks

[2022-08-15 13:09] TamirCode commented on #33888
somewhat related thread, especially last comments:  https://github.com/mui/material-ui/issues/16325

[2022-08-15 13:10] DwayneGit commented on #16325
It does if you look at the second example. stuff and setstuff are not with in the dialog so it will not be affected/reset when the dialog is opened or closed. But I could have said that more clearly

[2022-08-15 13:17] TamirCode commented on #16325
hmm I see what you mean now

[2022-08-15 13:17] #33888 closed

[2022-08-15 13:28] VikashPR commented on #33893
@danilo-leal can you assign this issue to me ?

[2022-08-15 13:32] danilo-leal commented on #33893
@VikashPR Sure, happy to see you going ahead with it!

[2022-08-15 13:52] VikashPR commented on #33893
thank you, @danilo-leal I need a help I'am trying to clone and run this repo but I'am getting error

[2022-08-15 13:57] dimitriBouteille commented on #17018
I had the same problem, here’s how I fixed the bug :partying_face:

[code]

[2022-08-15 14:14] elarouche commented on #18755
Just wanted to add to the solution @jakeyizle mentioned. For the people using mui v4, you will have to use `getOptionSelected` instead of `isOptionEqualToValue`. Hope this helps someone save some time.

[2022-08-15 16:22] gbrocha commented on #25852
The issue still occurs. Some solution?

[2022-08-15 17:30] VikashPR commented on #33893
Thank you, I need a help I'am facing

[2022-08-15 18:34] RoccoDev opened #33935 "Next.js ThemeProvider doesn't work with SSR"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Theme switching seems to work fine when hot-reloading in the dev environment (if you set up a button to change theme, it will also work fine), but the wrong theme is loaded/used to paint when the page is fully reloaded.

### Expected behavior 🤔

The client

[2022-08-15 20:49] hb250131 opened #33936 ""required" Select fields are not being recognized by screenreaders"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Since the active focused element is button and we are missing `required` attribute on it screen readers (mac voiceover) is not recognizing that the "select" field is required.

Notice that we are missing "required" state on `MuiSelect-select` button.
<img w

[2022-08-15 21:05] lubaskinc0de commented on #23420
same issue

[2022-08-16 03:57] yusufvalid opened #33955 "[Menu] Component appear far from their original position when the zoom style is applied"

[2022-08-16 07:12] ZeeshanTamboli commented on #33798
Thanks @42shadow42 .

We don't want to add an option just for this behavior if it's possible to do it as shown above. Autocomplete is already complex with a lot of features.

[2022-08-16 07:12] #33798 closed

[2022-08-16 07:51] ZeeshanTamboli commented on #33881
Thanks for reporting. It's a bug.

[2022-08-16 08:21] matzehecht opened #33939 "Autocomplete Text"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

With the specific combination of properties (described in the steps to reproduce) the value inside the Autocomplete overflows over the PopUpIcon.

![image](https://user-images.githubusercontent.com/38589070/184830256-408cb20f-463e-4d47-811f-3f8197128786.png

[2022-08-16 08:24] siriwatknp commented on #32088
@mnajdova @michaldudak I think the resulting API should weigh in:
- MenuButton should be a feature, not breaking changes (fine for Joy and Base but not for Material UI)
- Single DOM per component (this would make customization a lot easier)
-

 Here is the comparison for all options:

## Option 1:

encapsulating all the menuButton related logic in a separate component instead of moving it in the M

[2022-08-16 10:25] VasuDevrani opened #33940 "[docs] Unstyled select not showing a placeholder value when nothing is selected"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In the page of 'Unstyled select' compoents - [LINK](https://mui.com/base/react-select/)
select present in the sections ***Option appearance*** & ***Grouping options*** are not showing any pre-text.

![image](https://user-images.githubusercontent.com/1013836

[2022-08-16 11:14] Janpot opened #33942 "Hidden Tabs cause "The `value` provided to the Tabs component is invalid.""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When nesting a `Tabs` component in a hidden (`display: none;`) element, the warning "The `value` provided to the Tabs component is invalid." is shown.

### Expected behavior 🤔

No warnings

### Steps to reproduce 🕹

Reproduction:  https://codesandbox.io/s/a

[2022-08-16 12:30] noobDev31 commented on #33846
Hi @mnajdova I have one request  the **startAdornment** and **endAdornment** also go outside the border -
https://codesandbox.io/s/unruffled-tdd-wcmkbg?file=/demo.tsx:685-712
![image](https://user-images.githubusercontent.com/109504204/184879949-a1e6da39-5c40-49ea-a98d-8ab57b68710e.png)

Do we have a way to put them inside the Bootstrap Input???

[2022-08-16 12:38] ZeeshanTamboli commented on #33855
Let's track it in #23291.

Duplicate of #23291.

----

This https://github.com/TeamWertarbyte/material-ui-bottom-sheet may help you.

[2022-08-16 12:38] #33855 closed

[2022-08-16 12:43] Imran-2022 opened #33944 "export 'default' (imported as 'TreeView') was not found in '@mui/lab/TreeView' (module has no exports)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

export 'default' (imported as 'TreeView') was not found in '@mui/lab/TreeView' (module has no exports)

### Expected behavior 🤔

no error

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summ

[2022-08-16 12:44] #33876 closed

[2022-08-16 13:26] ZeeshanTamboli commented on #33889
@kot-shrodingera The typing aren't getting updated is because you have applied module augmentation in `typings/typography.d.ts` which is not getting imported anywhere as nothing's being exported from it so it's not getting compiled.

What you need to do is define module augmentation in the file where you are creating the theme. See the updated CodeSandbox: https://codesandbox.io/s/crazy-dan-dlhflw

[2022-08-16 13:26] #33889 closed

[2022-08-16 13:34] bladl commented on #33481
Issue was with [Snackbar](https://mui.com/material-ui/api/snackbar/). Passing component that do not render html elements results in error "null is not an object (evaluating 'node.scrollTop')".

[2022-08-16 13:34] #33481 closed

[2022-08-16 16:03] anahids opened #33949 "[Table] Header and body of table are not aligned"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm just testing the code that is in the documentation, but I don't know why the header and the body is not aligned as the following picture:
![image](https://user-images.githubusercontent.com/37279526/184925665-df7305c8-841c-4c69-b060-0ed10a1a74f0.png)

I

[2022-08-16 16:05] lrfrryr opened #33950 "Can't implement custom filter for column in dataGrid"
I have a column (DataGrid) with a renderCell needed for a Link, and also a valueGetter. The problem here is that renderCell uses the value from valueGetter, so I need to return an object to be able to use id, name and lastName in renderCell. At the same time, if I return an object in valueGetter, the filter property does not work. I wanted to customize a specific filter for this column, but I thin

[2022-08-16 21:31] totszwai opened #33953 "[Checkbox] custom component icon issue"
### Duplicates

- [X] I have searched the existing issues (maybe caused by https://github.com/mui/material-ui/issues/27510, via this [commit](https://github.com/mui/material-ui/pull/27656/files#diff-49c7b79e2d81c7cbd8a0a84e4b94604561d5b9982420597d109062e1a297317fR109))

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When configuring MUI theme for Checkbox, pass

[2022-08-16 21:46] dbehmoaras commented on #19848
Agreed. There is very little detail about positioning in the docs beyond the very limited options already described in the docs, and pointing to a stackoverflow that may or may not exist is very unhelpful.

[2022-08-16 22:25] PraveenPeri commented on #26563
@JhosdryG Yes, by using [useAutoComplete](https://mui.com/material-ui/react-autocomplete/#useautocomplete)() hook. I essentially had my own input field and tabular result display components and added the configuration props returned by the useAutoComplete() hook to my results component.
1. `getRootProps()` should be added to the container wrapping the input field(a `Paper` component in my case)
2.

[2022-08-17 01:27] mbayucot commented on #33955
@yusufvalid @m4theushw can i pick up this issue?

[2022-08-17 01:50] fkbRakuten commented on #19249
I would also like to know:)

[2022-08-17 02:13] mwskwong commented on #32049
I noticed the migration task doesn't include lab componenets. Is that intended to be included some time in the future?

[2022-08-17 03:51] danilo-leal commented on #33893
@VikashPR Make sure you follow thoroughly all the steps laid out on the [Contributing](https://github.com/mui/material-ui/blob/master/CONTRIBUTING.md) documentation! If you did all of that already, could you give more details?

[2022-08-17 04:09] VikashPR commented on #33893
![Screenshot 2022-08-17 at 9 38 31 AM](https://user-images.githubusercontent.com/69889418/185032729-5b992608-8a9d-4fe2-8182-bcdd83c172d0.png)
@danilo-leal I followed all the steps, but every time i run ```yarn start``` I'am getting the above error

[2022-08-17 04:35] fkbRakuten commented on #19249
I just used `!important` in the sx parameter to override the CSS and it seemed to work.

`<Toolbar  sx={{ justifyContent: 'space-between', minHeight: '64px !important', pl: '16px !important', pr: '16px !important' }}>`

[2022-08-17 05:37] danilo-leal commented on #33893
Try running `yarn docs:dev`.

[2022-08-17 05:46] VikashPR commented on #33893
Hey thank you, it works

[2022-08-17 07:00] ZeeshanTamboli commented on #33891
`stringify` option in `createFilterOptions` is used to convert an option into a string so that it can be matched against the input text fragment - [docs](https://codesandbox.io/s/cranky-fermat-35x08g?file=/demo.tsx).

If your option labels are years, you can convert it into string in stringify method. See the update CodeSandbox: https://codesandbox.io/s/cranky-fermat-35x08g?file=/demo.tsx.

[2022-08-17 07:00] #33891 closed

[2022-08-17 07:29] ZeeshanTamboli commented on #33894
Thanks for the report! Looks like a bug.

[2022-08-17 08:14] hbjORbj commented on #33955
@mbayucot

Please feel free to!

[2022-08-17 08:17] siriwatknp opened #33959 "Migrate lab components to support theme CSS variables"
# We need your help!

A continuation of #32049 for `@mui/lab`.

## List of components

You can follow the `Contribution guides` in #32049

- [x] LoadingButton - #34001
- [x] TimelineConnector #34002
- [x] TimelineDot #34003
- [x] TreeItem #34004

[2022-08-17 08:18] siriwatknp commented on #32049
Sure! I have created an umbrella issue to keep track of it. The contribution from the community is welcome as well.

[2022-08-17 09:41] ajai-sf commented on #23409
````{emptyRows` === 0 && (
                      <TableRow>
                        <TableCell colSpan={6}>no records found</TableCell>
                      </TableRow>
                    )}```

   this will work

[2022-08-17 11:14] HexM7 opened #33961 "[Joy] Multiline support for Textfield"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently, the textfield only supports single row.

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-08-17 11:25] SpeedrunDi opened #33962 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-button/
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|-----------

[2022-08-17 11:27] #33962 closed

[2022-08-17 12:15] TamirCode opened #33963 "TextField Selection to have customizable selected item different to the MenuItem"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I have made a codesandbox https://codesandbox.io/s/mui-textfield-selection-9sm9bt?file=/src/App.tsx
this is basically the entire code
[code]
anyways I made a customized MenuItem that has a span that shows extra info. However I want it to look different when its sele

[2022-08-17 12:46] TamirCode commented on #33963
my current solution is hacky and ruins the functionality of the text changing to `...` when squeezed
(fixing margin-left)
[code]
(not showing span at all)
[code]

[2022-08-17 12:55] el-j opened #33965 "Autocomplete renderGroup"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

if `renderGroup` is added for rendering a specific styled `groupLabel`
the list just returns the GroupLabels and no `options` anymore:
[code]

<img width="744" alt="image" src="https://user-images.githubusercontent.com/2795534/185121235-5fe2fb22-c0c1-4665-9

[2022-08-17 13:03] mbayucot commented on #33955
@hbjORbj Thanks

[2022-08-17 13:24] #33815 closed

[2022-08-17 13:24] #33858 closed, assigned to nobody

[2022-08-17 13:30] michaldudak opened #33966 "[TrapFocus] Rename to FocusTrap"
Based on the discussion in https://github.com/mui/material-ui/pull/32364#issuecomment-1108255257.
Let's name the component "FocusTrap" so that it's a noun (which is consistent with others), not a verb.

### Benchmarks

- https://github.com/theKashey/react-focus-lock `import FocusLock from 'react-focus-lock';`

[2022-08-17 13:39] PunitSoniME commented on #33961
What is the use of TextField with multiline ?

You can make a TextField with multiline by adding `multiline` prop and also add `maxRows={1}`

Or is there any other scenario ?
please tell us

[2022-08-17 13:40] rogerok commented on #28687
same here

[2022-08-17 15:16] metadanc opened #33967 "Grid v2 breakpoints working for some screens but not all"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Working with two screens (one external monitor and one laptop). For the external monitor, setting `lg={6}` for the Grid components that are children to the "grid-parent" class container has correct behavior - both Grid components are side by side on the sam

[2022-08-17 18:59] oliviertassinari commented on #28189
Consider https://github.com/mui/material-ui/issues/33709, I wonder if this makes sense: https://github.com/mui/material-ui/pull/33934#discussion_r946597267

[2022-08-17 19:36] noobDev31 opened #33969 "Accordion default children prop is causing the component to break in my codebase"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am basically trying to give children as a default prop i.e. `<div />` in my component and when the user has dragged an Accordion but this is happening in the page -

![image](https://user-images.githubusercontent.com/109504204/185221488-f28bf387-80c1-4f33

[2022-08-18 02:21] siriwatknp commented on #32088
@oliviertassinari @danilo-leal @samuelsycamore feel free to jump into the discussion!

[2022-08-18 02:45] yusufvalid commented on #33955
@m4theushw ok sir thank you.
@mbayucot yes sir, please feel free to.

[2022-08-18 04:28] SujeshShakya commented on #28687
same here

[2022-08-18 05:05] trombipeti commented on #20897
Hi all, after days of searching I came across this issue. I need kind of the same thing, though in my situation I don't mind if the TreeView is controlled or not.

I tried to make it work with `handleExpansion` from the `useTreeItem()` hook.
It is not a perfect solution since it expects me to pass a `React.SyntheticEvent` which I don't really have since the content is assembled dynamically but wit

[2022-08-18 06:44] TamirCode opened #33972 "AutoComplete component not to clear input if the typed text matches one of the options"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

AutoComplete clears on blur/escape if you haven't selected one of the values (unless freeSolo is turned on). I want it to clear as it's doing, but only if the typed text doesn't match any of the options. I have a use case where people copy paste an ID to the textfie