[2021-12-24 08:39] mnajdova commented on #30361
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-24 08:48] mnajdova commented on #30383
@artidata you can even simplify it to:

[code]

[2021-12-24 09:12] artidata commented on #30383
[code]

[2021-12-24 09:15] Darhagonable commented on #27415
Shouldn't the typing match what's actually provided? If only the theme is allowed as as argument in the callback shouldn't the api itself only give you that and nothing  else?

My understanding from the corresponding PR is that styleOverrides is deprecated and replaced with variants even though styleOverrides is still being used the the docs?

An example use case I don't see a typescript solutions

[2021-12-24 09:17] hbjORbj commented on #30364
@MrPhyaeSoneThwim
If you either increase `max-width` of your parent container (`Box` in your codesandbox) or set its width to `100%`, your calendar picker will be what you want. You can see that it's been stretched to only 24rem, because that is the max-width of your parent container.

Check out https://codesandbox.io/s/clever-bouman-lxwui?file=/src/Demo.tsx

[2021-12-24 09:34] laclance commented on #30348
Obviously want to move away from useStyles but have lot's of components so will take a bit of time. Importing components with `next/dynamic` resolves the issue for now. Wondering how to convert to styled components though. Code below gives same `Prop `className` did not match` error as above plus and/or the one below.

[code]

```React does not recognize the `isGrey` prop on a DOM element. If you

[2021-12-24 09:38] laclance commented on #30348
I see there is this https://www.npmjs.com/package/tss-react

[2021-12-24 10:43] Darhagonable commented on #27415
I guess you mean like this? Now variants are getting incompatible typing. and the code gets very ugly compared to passing the color prop as callback argument.
https://codesandbox.io/s/colorprop-mapping-version-typeerror-16m79?file=/demo.tsx

[2021-12-24 12:43] christopheriainhansen commented on #30361
I've updated from Typescript 3.7.2 to 3.8.3 and that seems to have fixed the problem

[2021-12-24 12:43] #30361 closed

[2021-12-24 12:52] pmaheshwari-deqode commented on #11843
@Igorbek I've created a library using create-react-library inside my lerna mono-repo. I'm using material-ui components. I tried the above solutions but I'm still seeing `jss` class along with a new class with the `prefix` and `seed` (This class doesn't contain any CSS though, all the CSS that I defined are in jss class).

Does anyone have any solution/workaround for this?

[2021-12-24 12:57] Igorbek commented on #11843
@igorkrup

[2021-12-24 14:28] ariv797 opened #30389 "[docs] Application error: a client-side exception has occurred"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Every time I try to access any documentation for classes in mui.com (safari or chrome), the content loads for just a split second and then an error is thrown, "Application error: a client-side exception has occurred (see the browser console for more informa

[2021-12-24 16:18] acroyear opened #30390 "[colors] Add TypeScript interface for color constants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently the files for the constants like "amber" are simply `declare const amber: { 50: ..., ...etc }`.  This means they don't have an actual common type I can pass into a function or get back from a function. It would be great if there was an interface for the ob

[2021-12-24 16:19] acroyear commented on #30390
Workaround: that interface in the summary works, and the colors will auto-match to it, so just add that to your own project.

[2021-12-24 18:27] acroyear commented on #30390
Updated the key - it'll take both string and number to support amber[500] as well as amber['500'].  amber[500] === amber['500'] returned true as expected/hoped.

[2021-12-24 18:30] yukihirop commented on #24109
@eric-burel (c.c @mnajdova )

I also ran into this problem and found a feature at the end of the verification.
As an example, I know how to reproduce it.

This is a problem when trying to use a library that `wrapped material-ui/core` and  `material-ui/core` at the same time.
(It's just an example I found. There may be others.)

Let's move on with the `wrapped material-ui/core` library as `@your-or

[2021-12-24 20:28] acroyear commented on #30375
This is happening to me, too.  i have a music player that scans an image (in canvas) for the primary colors, and creates a theme from that.  works fine in Material-UI 4.  Not working here. I can see the theme contents change, but the components don't.  Doesn't matter if i add StylesProvider inject in there or not.

[2021-12-24 20:35] Wenox commented on #1404
Hi, please see this thread:
https://lifesaver.codes/answer/cannot-use-react-router-link-with-listitem-in-typescript

E.g.:
[code]

[2021-12-24 21:21] #29648 closed

[2021-12-24 21:25] oliviertassinari commented on #29648
#30381 should also fix the integration with Tailwind CSS. In the future, I think that we could consider having more examples. For instance, we could have:

- material-cra
- material-cra-ts
- material-next
- material-next-ts
- material-next-css-modules
- joy-cra
- joy-cra-ts
- joy-next
- joy-next-ts
- joy-next-css-modules
- base-tailwind

[2021-12-24 21:37] #30125 closed

[2021-12-24 21:45] ruler501 commented on #30375
I'm working on making a minimal example now. I don't use storybook. I am migrating away from reactstrap though so my component hierarchy is a bit of a mix as I replace reactstrap components.

[2021-12-25 02:27] siriwatknp commented on #30348
@laclance the correct syntax is this:

[code]

[2021-12-25 07:01] akshayknz commented on #30389
I'm seeing this is official MUI docs. mui.com/components

[2021-12-25 07:10] artidata commented on #30383
@mnajdova It will be nice to have it mentioned somewhere in the docs.

[2021-12-25 08:02] dbfernandes commented on #30389
Same error here. I updated the Google Chrome from version 95 to 96, but the error remains. My system is a Ubuntu 20.04.

[2021-12-25 08:55] Metheny80 opened #30394 "[Tabs] Active tab cannon be seen when child of AppBar"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Without changing the default theme, the text color of an active tab is the same as its background color, which makes it invisible.
Other (non-active) tabs are displayed as expected.

Note: before upgrading to material v5 there was no issue.

### Expected be

[2021-12-25 11:30] Nikita-Filonov commented on #14257
This example does not working any more. And in v5 we do not event using `createMuiTheme`

[2021-12-25 14:10] laclance commented on #30348
That's exactly what I tried which gave me those errors. I updated the repo [https://github.com/laclance/mui-styles/](url)

[2021-12-26 01:07] andrejunges commented on #30249
Indeed this issue didn't exist on v4.

Looks like the problem is this logic https://github.com/mui-org/material-ui/blob/3735493e98b0f15390642f4b134eff0212c652a6/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js#L341 when there's no selected item.

[2021-12-26 03:14] Nezpun commented on #30389
Having the same problem after setting the color at mui.com/customization/color/

[2021-12-26 05:45] keepforever opened #30406 ""Kitchen Sink" Theme components API Documentation Example"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Traversing the docs is a bit cumbersome when you're custom styling a prebuilt component (i.e. Select):

It would be super instructive/helpful to see a giant JSON object showing all the potential values and all the deeply nested keys.  Either with the default values

[2021-12-26 06:48] AyoCodess commented on #6261
any update on this?

[2021-12-26 06:49] locona opened #30407 "[SKeleton] Add loading property"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Add the loading property to simplify the loading branch of the data acquisition.

### Examples 🌈

Use cases are expected to include

[code]

### Motivation 🔦

I would like to achieve the following simplification of branching.

**current**
[code]

**After the realiza

[2021-12-26 06:51] AyoCodess commented on #6261
this is still not possible? is there a workaround?

[2021-12-26 11:53] masterambi commented on #30407
it would be nice

[2021-12-26 13:03] ahmad-reza619 commented on #30407
i agree with your suggestion, however this is probably would be a breaking change, so we may have to wait for another major release to implement this.

[2021-12-26 14:01] abhinav-22-tech commented on #30394
Please check out: https://codesandbox.io/s/mui-v5-forked-lezli?file=/src/App.tsx
This is because `AppBar` and active `Tab` colors are the same.

Namaste

[2021-12-26 17:59] justdvl opened #30408 "MUI Translation doesn't work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello.
Mui Data Grid Pro translations doesn't work. They work on free version up to a point (footer is translated, the header menu not).
Please see codesandbox example: https://codesandbox.io/s/datagridprodemo-material-demo-forked-21t6w?file=/demo.tsx
Also,

[2021-12-26 18:05] mbrookes commented on #30394
@Metheny80, as @abhinav-22-tech has shown, you need to customize either the AppBar or Tabs colors.

[2021-12-26 18:05] #30394 closed

[2021-12-26 18:25] mbrookes commented on #30389
Duplicate of #30344

[2021-12-26 18:29] mbrookes commented on #30351
Hi, please use the issue template provided when submitting issues.

[2021-12-26 18:29] #30351 closed

[2021-12-26 18:29] #30342 closed

[2021-12-26 18:32] dan-cooke commented on #23885
What about changing `AppBar` orientation from `horizontal` to `vertical` depending on the breakpoint.

This is something Chakra supports out of the box.

The general point here is that currently in MUI it is difficult to make some values responsive, https://github.com/mui-org/material-ui/issues/6140 was a step in the right direction, but it only applies to the `Grid` component.

[2021-12-26 21:35] #28363 closed

[2021-12-26 21:35] #28586 closed

[2021-12-26 21:35] #28670 closed

[2021-12-26 21:35] #28810 closed

[2021-12-26 21:35] #28811 closed

[2021-12-26 21:35] #28821 closed

[2021-12-26 21:35] #28842 closed

[2021-12-26 21:35] #28846 closed

[2021-12-26 21:35] #28961 closed

[2021-12-26 21:35] #28984 closed

[2021-12-26 21:36] #29038 closed

[2021-12-26 21:36] #29151 closed

[2021-12-26 21:36] #29176 closed

[2021-12-26 21:36] #29179 closed

[2021-12-26 21:36] #29190 closed

[2021-12-26 21:36] #29215 closed

[2021-12-26 21:36] #29236 closed

[2021-12-26 21:36] #29275 closed

[2021-12-26 21:36] #29316 closed

[2021-12-26 21:36] #29346 closed

[2021-12-26 21:36] #29437 closed

[2021-12-26 21:36] #29486 closed

[2021-12-26 21:36] #29523 closed

[2021-12-26 21:36] #29528 closed

[2021-12-26 21:36] #29567 closed

[2021-12-26 21:36] #29572 closed

[2021-12-26 21:36] #29618 closed

[2021-12-26 21:36] #29632 closed

[2021-12-26 21:36] #29699 closed

[2021-12-26 21:36] #29720 closed

[2021-12-26 21:36] #29721 closed

[2021-12-26 21:36] #29855 closed

[2021-12-26 21:36] #29865 closed

[2021-12-26 21:36] #29907 closed

[2021-12-26 21:36] #29977 closed

[2021-12-26 21:36] #29984 closed

[2021-12-26 21:36] #30010 closed

[2021-12-26 21:36] #30013 closed

[2021-12-26 21:36] #30043 closed

[2021-12-26 21:36] #30066 closed

[2021-12-26 21:36] #30082 closed

[2021-12-26 21:36] #30090 closed

[2021-12-26 21:36] #30127 closed

[2021-12-26 21:36] #30137 closed

[2021-12-26 21:36] #30140 closed

[2021-12-26 21:36] #30175 closed

[2021-12-26 21:36] #30188 closed

[2021-12-26 21:36] #30221 closed

[2021-12-26 21:36] #30235 closed

[2021-12-26 21:36] #30243 closed

[2021-12-26 21:37] #30337 closed

[2021-12-26 21:39] Mood-al commented on #30207
Why did you close it and so far the bug is in the library??

So far i didnt get any kind of solution from you and i dont even know how to fix this issue!!!

[2021-12-26 21:44] thefenry commented on #29508
What was the outcome of this? It was closed without an explanation or workaround?

[2021-12-26 22:28] Mood-al opened #30409 "mui scrollable tabs doesnt work properly on RTL mode"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hi guys i was using Mui v5 tabs on LTR mode and everything was working fine but when I switched to the RTL mode the scroll stopped working i tried so much to fix this issue but nothing worked for it was tiring me for a month and I need these tabs in my proj

[2021-12-26 23:42] shorcy opened #30410 "Styles not applied in first loading correctly with NextJS"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using SX prop I seem to be getting an issue when deploying the application where a lot of the styles are loaded after the dom has rendered. Even though I use the emotion cache in my _documents.tsx, and create and use the theme in _app.tsx.

### Expecte

[2021-12-27 01:30] siriwatknp commented on #30410
@shorcy Can you try the new `_document.js` in the our nextjs example? https://github.com/mui-org/material-ui/blob/master/examples/nextjs/pages/_document.js

[2021-12-27 01:45] #30344 closed

[2021-12-27 05:16] Q16solver commented on #29176
This seems more like a workaround than a fix, I don't think I would want to add this to hundreds of my Box components just because I wanted to use the react-three package. Is it possible to have an actual fix for this from mui's side? Or does it have to be from react-three's side

[2021-12-27 05:34] karan316 commented on #30038
Yes, this is what I ended up doing as well.

[2021-12-27 07:22] Metheny80 commented on #30394
@abhinav-22-tech @mbrookes The `Tabs` background color is a result of the `Tabs` being under the `AppBar`.
If the `Tabs` are not under the `AppBar` then the background would be white.
Again, this started happening only in v5, and it seems to me that by default the theme should be working out of the box.

[2021-12-27 08:43] siriwatknp commented on #30352
I believe that this is a duplicate of #30304

[2021-12-27 08:43] #30352 closed

[2021-12-27 09:51] mnajdova commented on #30409
Duplicate of https://github.com/mui-org/material-ui/issues/30207

[2021-12-27 09:52] #30409 closed

[2021-12-27 09:52] mnajdova commented on #30207
Please do not open new issues on the same matter. If you have a reproduction that we can take a look, or steps of how to reproduce it, leave a comment and re-open the issue.

So far, I haven't been able to reproduce it with any of the code snippets that you've shared. @hbjORbj can you re-validate too?

[2021-12-27 09:54] mnajdova commented on #30407
I am adding it to the v6 project, thanks for the suggestion

[2021-12-27 09:58] locona commented on #30407
oh, thanks. I'm glad this suggestion was appreciated.

[2021-12-27 10:02] mnajdova commented on #30406
Thanks for the suggestion. Do you see this as a problem for the `theme.components` part or in general for the theme structure. I am asking because on this page we are basically showing all default values for the theme - https://mui.com/customization/default-theme/#main-content (but there is no info for the components).

Maybe we should create an interactive editor where we can show all class keys

[2021-12-27 10:07] mnajdova commented on #30377
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-27 10:09] mnajdova commented on #30375
Isolating the problem to a simple reproduction can help with finding the issue, regardless of whether it is in your application or the library itself. I'll wait for the reproduction.

[2021-12-27 10:17] mnajdova commented on #30349
If someone from the community wants to contribute I would be happy to review a pull request. My biggest worry with this is that it may depend on the framework you are going to choose. I don't see a big value in adding it, especially because it is not related to the library itself.

[2021-12-27 10:17] siriwatknp opened #30412 "[RFC] Consolidate component theming into a one API (aka `styleOverrides`)"
~As discussed in https://github.com/mui-org/material-ui/issues/28107#issuecomment-997368895, there are 2 current APIs that provide component theming.~

~- [`styleOverrides`](https://mui.com/customization/theme-components/#global-style-overrides)~
~- [`variants`](https://mui.com/customization/theme-components/#adding-new-component-variants)~

~A quick history of why there are 2 APIs: In v4, `styleO

[2021-12-27 10:25] mnajdova commented on #30412
Agree with the API.

If we update the types for `styleOverrides` to support the functions and arrays, we could immediately unlock this API. After this, we could deprecate variants and the other class keys in favor of using the `root` and other slots keys in the `styleOverrides`.

Then, in v6 we can drop the other keys and provide codemod for each key in the components (this is the most important p

[2021-12-27 10:43] akramnarejo commented on #11069
just provide following attributes into select
displayEmpty
renderValue={value !== "" ? undefined : () => `placeholder text`}

[2021-12-27 11:25] abhinav-22-tech commented on #30394
@Metheny80 Please check v4 docs https://v4.mui.com/components/tabs/#simple-tabs in this default color is white but in v5 https://mui.com/components/tabs/#basic-tabs default color is blue.
You can customize it according to your requirements.

[2021-12-27 11:28] cq-ubaid-khan opened #30413 "DataGrid controlled pagination issue"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have a controlled pagination with `onPageChange` and `onPageSizeChange` functions applied on datagrid and pagination mode sets to "server", But sometimes when changing `pageSize` the `onPageSizeChange` is called but `onPageChange` also gets called automat

[2021-12-27 11:36] hbjORbj commented on #29266
@zirkelc @rustlestuff

Please check out the following comment by @kutnickclose ; I think it will be helpful

[2021-12-27 11:50] pganster commented on #10739
A hook I've created to get the app bar height:
[code]

[2021-12-27 11:57] peterhirn opened #30414 "[SwipeableDrawer] Discovery and hysteresis broken in React v18"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

- Discovery opens drawer completely
- Partially opened drawer (> hysteresis) is not opened completely

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

https://codesandbox.io/s/unruffled-poincare-2v4pk

### Context 🔦

_No response_

### You

[2021-12-27 12:11] aaronadamsCA commented on #29596
IMO that's the right choice. I just got bit by this and had to step through MUI internals to figure out where I'd gone wrong. `<Link color="primary">` works, `<Link color="error">` throws `TypeError: color.charAt is not a function`. This led me to think I'd somehow made a mistake in theme composition, as opposed to passing an unexpected prop value.

[2021-12-27 12:50] AntonOfTheWoods commented on #13842
Is this still the "official" way to do selects in fullscreen? If so... it would probably be nice to have this documented nicely somewhere. In the meantime, I found that `<Select  MenuProps={{ container: ref?.current }} ... />` seems to work now with MUI v4.

[2021-12-27 12:54] zirkelc commented on #29266
@hbjORbj in my example above (https://codesandbox.io/s/mui-grid-spacing-v5-qs72y?file=/src/App.js) I only used mui v5 components and the issue appears. IMO this is not related to mixing v4 and v5 components.

[2021-12-27 13:04] wladimirguerra commented on #29469
I don't think so. It is a good _workaround_ though.

What if I have a form with multiple inputs? I would like them to have same look and feel. In case the form have a number or date input mixed with other text inputs, I would be forced to make all input labels to be shrunk.

I believe that issue should be properly resolved.

[2021-12-27 13:50] HunteRoi opened #30416 "Horizontal timeline component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It would be great to be able to change the [Timeline](https://mui.com/components/timeline/) component's direction from vertical to horizontal.
The `<Timeline>` component could have a property "direction" that is by default set to "vertical". Simply doing something b

[2021-12-27 13:52] HunteRoi commented on #30416
Related to #24221 that has been closed without any news but a "waiting for 👍" card that does not seem to boost it.

[2021-12-27 13:58] asjustis opened #30417 "[docs] pages are not fully loaded (sometimes)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Opening mui.com ends up not fully loaded. It happens time from time, and it is been there since v4 or even earlier, cannot say for sure. It looks as in the screenshot:

![Screenshot 2021-12-27 at 15 53 03](https://user-images.githubusercontent.com/1465112/1

[2021-12-27 14:29] mohsenomidi commented on #30416
This is not exist in mui, i am using this component [chrono](https://github.com/prabhuignoto/react-chrono)

[2021-12-27 15:20] sortegam opened #30419 "[Badge] classes prop - Typescript error - No overload matches this call"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Just installed v5.2.6 and Badge component is raising type error when trying to override classes prop.

![image](https://user-images.githubusercontent.com/1799845/147484360-a5c24e93-db03-4bc2-b933-5b08684b6403.png)

![image](https://user-images.githubusercon

[2021-12-27 15:30] RemyMachado opened #30420 "[Button] using nested custom `color`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently, we can define new colors with the theme:
https://mui.com/customization/palette/#adding-new-colors

Unfortunately it seems that we can't use the nested property directly within the `color` prop of the `Button`
[code]

It would be nice if we could use it in

[2021-12-27 16:37] danilo-leal commented on #30412
Just because I was playing with the API intended to be deprecated the other day and for me to learn as well: if I only want to override styles of the small size variant, how would I do that, given that `sizeSmall` would be deprecated?

[2021-12-27 16:40] VibhorJaiswal opened #30421 "[docs] Add "Back to top" button"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

"Back to top" button which can directly scroll the page to the top.

I would like to work on it.

### Examples 🌈

- https://www.nngroup.com/articles/back-to-top/
- https://mui.com/components/app-bar/#back-to-top
- https://docs.github.com/en/github/copilot/research-r

[2021-12-27 17:20] kutnickclose commented on #29266
I think visually (and without backgrounds), the new padding/margin strategy is not really an issue for my case.  I would imagine all the visual specs for the Grid component would pass even with the changed padding/margin strategy because the textfields are correctly placed.  That said, the padding/margin change is a breaking change that's not captured in the docs that off-centers the background co

[2021-12-27 18:48] charisra opened #30422 "Codemod variant-prop doesn't change files as expected"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After running the `variant-prop` codemod, no changes are applied.

### Expected behavior 🤔

The script should normally add the `variant="standard"` to all TextField, Select, and FormControls.

### Steps to reproduce 🕹

Steps:

1. Run npx @mui/codemod v5.0.0

[2021-12-27 18:55] RemyMachado commented on #12827
I think that "supporting css properties as theme option" isn't a great idea, because **theme switching** wouldn't work. However, the other way around (supporting theme variables as css properties) is in my opinion the key to the solution.

Using this comment https://github.com/mui-org/material-ui/issues/12827#issuecomment-667072854
I came up with an "OK tier" workaround implementing the following

[2021-12-27 19:07] wladimirguerra commented on #29469
It seems that no one is working on that. I have made the changes and will work on the tests. Soon I will create a PR, if no one does first. :)

[2021-12-27 21:28] mackmcquen commented on #28273
I am also experiencing this issue.  Here is a sandbox with the latest Beta `@material-ui` core and Alpha `@mui` packages (as of 12/27/2021): https://codesandbox.io/s/material-ui-daterangepicker-toolbarcomponent-bug-sandbox-z573p?file=/src/App.js

Material UI Packages:
- `@material-ui/core` (5.0.0-beta.5)
- `@mui/lab` (5.0.0-alpha.62)
- `@mui/material` (5.2.6)

[2021-12-27 22:38] Mood-al commented on #30207
Hi again
I have noticed that the scroll works fine on RTL mode in firefox but in any chromium core browsers like Chrome or edge it doesnt
i really dont know why this happening but if you tried the deployed example on firefox it will work just fine on both RTL and LTR modes

[2021-12-28 00:44] mbrookes commented on #12827
@siriwatknp feel free to unassign yourself if not relevant to your current focus.

[2021-12-28 02:05] siriwatknp commented on #30412
You can look up the props via a callback.

[code]

[2021-12-28 04:11] rohilpinto commented on #30389
![image](https://user-images.githubusercontent.com/45031293/147527121-c18b3944-159c-409d-a583-581792be9f12.png)

I am getting the same error when i try to access anything. I can only see the homescreen.

[2021-12-28 09:54] ArseniyX commented on #16798
use 'valueLabelFormat' instead, its work as expected

[2021-12-28 10:09] tuanthanh191996 commented on #16798
Thanks, It work perfectly

[2021-12-28 10:15] hbjORbj commented on #29266
@zirkelc Hi. This seems to be a regression of this change: https://github.com/mui-org/material-ui/pull/24332

This is briefly described in [grid docs](https://mui.com/components/grid/#main-content): "Limitation - Negative margin - The spacing between items is implemented with a negative margin. This might lead to unexpected behaviors. For instance, to apply a background color, you need to apply di

[2021-12-28 10:18] #30419 closed

[2021-12-28 10:21] mnajdova commented on #30414
I don't understand what is the problem. Can you expend a bit on describing the problem?

[2021-12-28 10:22] mnajdova commented on #30416
Duplicate of https://github.com/mui-org/material-ui/issues/24221, please upvote that issue.

[2021-12-28 10:22] #30416 closed

[2021-12-28 10:29] mnajdova commented on #30420
We had some discussion around this when we were working on the system. The main problem, as you already pointed out, is that the `color` inside the Button, is not the CSS property color, it affects the background, and adjusts the other colors, depending on it. It would be a surprise if it would affect only the text color.

The `color` as a system property, works as you have expected on the CSS uti

[2021-12-28 10:30] mnajdova commented on #30421
@danilo-leal what do you think about this?

[2021-12-28 10:31] mnajdova commented on #30422
Can you send an example of a file where it did not work?

[2021-12-28 10:55] asjustis opened #30429 "[ImageList] Layout breaks on large width with `variant="masonry"`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have implemented masonry to display elements nicely in a 5x2 size grid. Works nicely, just as I wanted:
![Screenshot 2021-12-28 at 12 44 33](https://user-images.githubusercontent.com/1465112/147558601-9b8f15bd-d7c5-4b2d-844a-c2835dd7d2fa.png)

Once I stre

[2021-12-28 10:58] RemyMachado commented on #30420
Absolutely, and that's why it's even more frustrating not to be able to use color shades. At the moment, I'm redefining another `color` that is a duplicate of the nested property I want to to use. I must duplicate every shade as a `Palette`, to leverage the `color` property.

[code]

[2021-12-28 11:15] prakash2091 opened #30430 "migration Issue v4 to v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When i migrate from material-ui to mui, i am facing some css issues.

.MuiButtonBase-root is overriding with .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root class...
<img width="329" alt="Screenshot 2021-12-28 at 7 11 03 PM" src="https://user-images.githubu

[2021-12-28 11:17] hbjORbj commented on #30207
@mnajdova @Mood-al I can confirm that (1) tab scroll works well on v5 in RTL mode and (2) tab scroll doesn't work well on v4 in RTL mode. As Marija already mentioned, we do not work on v4 anymore. I suggest you to migrate to v5. Here is a migration guide from v4 to v5: https://mui.com/guides/migration-v4/

[2021-12-28 11:23] Mood-al commented on #30207
Hey there
I migrated to v5 as you see in this codesandbox example I'm using v5
https://codesandbox.io/s/stupefied-borg-7u66f

And here a deployed version of this example

https://mui-v5-rtl-tabs.vercel.app/

There is something i noticed that Tabs are working just fine on Firefox but once i use any kind of chromium core based browsers like chrome or edge it stops working on RTL
I'm using the latest

[2021-12-28 11:36] hbjORbj commented on #30207
Hi, I am using Chrome.
You can see in the recording that it works fine on v5.

https://user-images.githubusercontent.com/32841130/147562278-f29af6fb-0516-41be-8bff-72a6b4bd9104.mov

[2021-12-28 11:49] Mood-al commented on #30207
It's really odd i dont know why this is happening on my device
here is a video that i just recoded and as you see it doenst working

https://user-images.githubusercontent.com/63562308/147563333-be32013a-61bf-4644-83d5-8c6920b3b256.mp4

[2021-12-28 11:58] mnajdova commented on #30430
Looks like you have both v4 and v5 installed in your application. Can you check your lock file? Or attached it here and I can take a look. v4 could be coming from some of your dependencies that depend on @material-ui/core.

[2021-12-28 12:00] mnajdova commented on #30429
Out of curiosity, have you checked the `Masonry` component from the lab? Here is the docs page for it https://mui.com/components/masonry/#main-content

[2021-12-28 12:04] mnajdova commented on #30429
At what side of the screen width are you starting to see this?

[2021-12-28 12:11] charisra commented on #30422
`import React, { useState, useEffect } from "react";
import TextField from "@mui/material/TextField";
import Paper from "@mui/material/Paper";
import Grid from "@mui/material/Grid";
import Divider from "@mui/material/Divider";
import { connect } from "react-redux";

const useStyles = makeStyles((theme) => ({
    paper: {
        marginBottom: theme.spacing(2),
    },
    root: {
        width: "10

[2021-12-28 12:13] #30238 closed

[2021-12-28 12:15] asjustis commented on #30429
@mnajdova it varies, on my own website I developing, it started from 2466px wide, on the CodeSandbox example started from 2166px

[2021-12-28 12:17] asjustis commented on #30429
Not yet. I'll give it a try and post my findings in a bit

[2021-12-28 12:26] mnajdova commented on #30429
I can reproduce it. Looks like a bug

[2021-12-28 12:39] asjustis commented on #30429
So using `Masonry` from labs it seems to be working correctly.

[2021-12-28 12:45] mnajdova commented on #30429
I would recommend using it instead. We probably should mention the `Masonry` component in https://mui.com/components/image-list/#masonry-image-list

[2021-12-28 13:13] asjustis commented on #30429
@mnajdova makes sense. Masonry seems to be working nicer. Thanks for a quick turnaround!

[2021-12-28 13:17] peterhirn commented on #30414
Sure.

1) Discovery should open the drawer 20px (default) which works in v17 but opens the drawer completely in v18.
2) When the drawer is dragged out < hysteresis it closes again (works in both versions). If the drawer is dragged >= hysteresis it opens fully (works in v17), in v18 it just stays partially opened.

Run my sample (or any react 18 sample) in eg. chromium and switch to responsive/mobi

[2021-12-28 13:34] dapize commented on #12034
adding other case where we are using the onCLickAway function like this (getted from the Menu UI Demo doc page);

[code]

just we have to add the 'return' instead of 'event.preventDefault();' like this;

[code]

thank you @Pabriuz  for the help

[2021-12-28 13:46] an-zaz commented on #17353
I guess, one more option is to close menu on scrolling. I omitted all logic except opening and closing
[code]

[2021-12-28 15:15] Slmii commented on #25324
Same issue here (using v4)

![image](https://user-images.githubusercontent.com/9927849/147580333-c9ae66ca-494f-46be-a9f6-94a454be2850.png)

using `makeStyles`
[code]
I am forced to use `!important` each time this occurs. Problem with `fontWeight` specifically is that it doesnt accept `string`.

[2021-12-28 15:44] prakash2091 commented on #30430
@mnajdova  Thanks for the hints. Looks I have got the issue fixed. Thanks.

[2021-12-28 16:54] bylly1 commented on #30152
I found the solution for my problem

`<Box sx={theme => ({
     [theme.breakpoints.down('400px')]:{
       display: 'none'
     }
   })
 />
`

[2021-12-28 17:17] danilo-leal commented on #30421
Very cool, no objection. I believe we could use a Floating Action Button as the component that triggers that `back to the top` action. Even though FAB's are supposedly for primary actions, styling them to look secondary could work. Do you have anything else in mind?

[2021-12-28 17:23] danilo-leal commented on #30412
Got it. Thanks, Jun! Must say though that just from a first glance perspective, it looks more complex than using the `sizeSmall` approach 😅

[2021-12-28 17:36] keepforever commented on #30406
I don't see there being any problem with `theme` or `theme.components`.

Yes, having the `components` section at `https://mui.com/customization/default-theme/#main-content` is pretty much what I'm after.

I understand that object would be prohibitively large to display there, so, maybe each individual component's `component` config could be exposed on a components `API` page?  Furthermore, maybe y

[2021-12-28 19:33] MartinGK opened #30431 "Storybook & @mui/material (docs tab)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Storybook docs tab broke when I use a component with `@mui/material`

### Expected behavior 🤔

Should render the docs tab of each component

### Steps to reproduce 🕹

Steps:

1.clone repo: https://github.com/MartinGK/storybook-mui-v5
2. yarn && yarn storybo

[2021-12-28 20:38] sungyeonu commented on #30389
Seeing the same error after changing my theme to dark mode via settings on the website. On incognito it works fine.

[2021-12-28 20:43] JoudiOth commented on #30207
Hi there I'm facing the same issue with scrollable tabs on RTL
I tried @Mood-al example and it doesnt work on my device too I'm using window 10 pro with latest version of chrome
here is a video on my device.

Uploading New-Recording-12_28_2021_-11_37_52-PM.mp4…

have anyone found any solution for this bug??

[2021-12-28 21:05] hbjORbj commented on #30207
No, it's difficult for Marija or myself to find a fix for this because we can't reproduce this. Would you be able to spend some time on figuring out the source of the error?

[2021-12-28 21:08] Mood-al commented on #30207
Here is the problem i couldn't find the error and why this is happening

[2021-12-28 21:36] Mood-al commented on #30207
I'm wondering on what OS did you try the codesandbox example ??

I have tried the example on 2 windows devices with diffrent specs and it doesn work on both

[2021-12-28 21:38] Mood-al commented on #30207
I'm wondering on what OS did you try the codesandbox example ??
@mnajdova  @hbjORbj
I have tried the example on 2 windows devices with diffrent specs and it doesnt work on both of them,
have you tried it on windows device or just macOS??

[2021-12-28 22:09] shorcy commented on #30410
That fixed the issue. Thanks a lot, @siriwatknp :)

[2021-12-28 23:07] justindra commented on #30230
@mbrookes why was this closed? It's still occurring in 5.2.6. Please see CodeSandbox by @mvpindev

[2021-12-29 00:27] Magofoco opened #30433 "[typescript] `makeStyles - 'Styles<Theme, StyleProps, "root"...` error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![Screenshot from 2021-12-28 04-30-01](https://user-images.githubusercontent.com/34609892/147616710-3325dba9-ad88-4342-90c2-0eaf3ce072f7.png)

I use "@material-ui/core": "4.11.3"

I have a Text.tsx component and its styles are in Text.styles.tsx. I use the

[2021-12-29 01:48] #30430 closed

[2021-12-29 04:18] rohilpinto commented on #30389
When use the site on chrome it works fine. When I'm on edge ( my primary browser ) it gives me this error

[2021-12-29 06:12] ariv797 commented on #30389
In chrome, I avoided the error by going in incognito mode.

[2021-12-29 06:54] mohammad-mustafa-24ourx commented on #15073
@hdoshi2

can't tell what I faced, and how many combinations I've used to fix this issue....even I downgraded my MUI v5 to material-ui v4, but still no luck....but yes this ClientOnly hasMounted strategy fixed my issue, thanks.

[2021-12-29 07:40] abhinav-22-tech commented on #30207
@Mood-al It works fine in windows( chrome, edge, and firefox). Please try it in Private mode,
Thank you

[2021-12-29 09:23] patspam opened #30435 "[system][Box, Grid, Typography] `textTransform` prop does not work directly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `textTransform` prop is passed through to the DOM node.

### Expected behavior 🤔

The docs for `<Box/>` says:

Similarly, the docs for `<Grid/>` and `<Typography/>` say:

Over on the [sx prop page](https://mui.com/system/the-sx-prop/), it says:

I inter

[2021-12-29 09:27] hbjORbj commented on #30207
@abhinav-22-tech Thanks for confirming.

@Mood-al Each of us uses Windows and Mac respectively, so I think this bug is specific to your device or environment.

[2021-12-29 09:42] hbjORbj commented on #30435
Hi. Thanks for the report. This indeed seems like a bug. I will look into it and update you :)

[2021-12-29 09:45] hbjORbj commented on #30433
We no longer work on v4, so I doubt that the error is from our end. I would recommend you to try migrating to v5 because it is more stable and we actively support it. https://mui.com/guides/migration-v4/#main-content

[2021-12-29 09:54] hbjORbj commented on #30433
Please provide a code sandbox so that I can directly see the error and figure out why :)

Try importing `createStyles` from `@material-ui/core` and using the following format in the meantime:

[code]

[2021-12-29 09:55] UnderTheMoonspell commented on #30294
@mnajdova ok thanks for the help, this doesnt change the fact that it now becomes harder to use "composes" which is one of the nice features of CSS Modules

[2021-12-29 10:23] lulucas opened #30436 "[examples] MUI is missing style when navigating back from error page in remix example"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

MUI is missing style when back from error page in remix.

![image](https://user-images.githubusercontent.com/19854458/147652951-f51f11b0-f8df-4481-8fa2-7300c6b39548.png)
![image](https://user-images.githubusercontent.com/19854458/147652996-ed71c091-3325-40f

[2021-12-29 10:50] hbjORbj commented on #30435
Hi, I opened a pull request to resolve this issue. Please feel free to check it out: https://github.com/mui-org/material-ui/pull/30437

You can see in this [codesandbox](https://codesandbox.io/s/kind-poincare-8kwj7?file=/src/Demo.tsx) that the issue has been fixed.

[2021-12-29 10:51] abhic91 commented on #30412
Hi, I didn't want to create a new issue without knowing if I am doing something wrong. The styleOverrides does not work.

@mnajdova

https://codesandbox.io/s/globalthemeoverride-material-demo-forked-srvfc?file=/demo.tsx
https://stackoverflow.com/questions/69577570/mui-v5-styleoverrides-not-working-with-themes

Am I doing something wrong?

[2021-12-29 10:56] Magofoco commented on #30433
This is the link:
https://codesandbox.io/s/hopeful-leftpad-igl5d
Line 8 of the `Index.styles.ts`:
`const useStyles = makeStyles((theme: Theme) => {...`

Interestingly, I have not TS error on codesandbox even if I use the same dependencies.

I deleted `my yarn.lock` and `node_modules` in the main repo, but the error persists while it does not appear on codesandbox

[2021-12-29 11:00] omkarjadhav24 opened #30438 "How to use gird with draggable support"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I have one taskLists array and in that array, I added one array of TasksOfTasklist
and this TasksOfTasklist rendered in Grid
and now I want to drag  and drop one task from one task list to another

### Examples 🌈

 {
                                taskLists && task

[2021-12-29 11:04] hbjORbj commented on #30433
I think you need to compare your code sandbox to your repo in terms of versions, code, etc and then try to figure out. I will close this issue as this isn't a bug on MUI side. Typescript linter sometimes gives false positives. Try closing your code editor and opening it again. If it doesn't work, I'd suggest trying `git clean -fdx`, `yarn install` and then try again.

[2021-12-29 11:04] #30433 closed

[2021-12-29 11:05] hbjORbj commented on #30438
It doesn't look like this bug report has enough info for one of us to reproduce it.
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-29 11:52] asjustis opened #30439 "[Masonry] Elements do not break into columns properly until refresh"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When coming from another react-router page, elements do not get broken into columns correctly until page refresh or page resize. Elements are just in one line (on my own website: in one row, in the below sandbox - in one column).

### Expected behavior 🤔

E

[2021-12-29 12:14] VibhorJaiswal commented on #30421
@danilo-leal Nothing else, I think I will just implement the floating button with an icon at lower right.

[2021-12-29 13:59] ANANDKNIT commented on #4114
I have fixed this issue by using the random key inside the slider
`     <Slider
            aria-label="slider"
            defaultValue={value}
            key={`slider-${Math.random()}`}
            max={maxValue}
            min={minValue}
            onChangeCommitted={onChange}
            valueLabelDisplay="on"
        />`

[2021-12-29 15:32] resqiar commented on #29742
**Iam not sure** if this is a good workaround, but what I did is just to add &&& in every MUI overridden component.

[code]
I know it's not good to rewrite &&& in every part of the style but it works for now

[2021-12-29 17:13] hbjORbj commented on #30439
You can do this easily by passing a responsive value to `columns`: e.g., `<Masonry columns={{ xs: 2, sm: 3, md: 4, lg: 5 }} ...`

Thanks for the bug report. I will look into the bug and update you.

[2021-12-29 18:44] KOliver94 commented on #28711
If I'm correct, these parts causes the problem but I cannot see any easy way to override the style provided.

https://github.com/mui-org/material-ui/blob/24015d1e4bdf135ba6c6091141cab2299d824be5/packages/mui-lab/src/DateRangePicker/DateRangePickerInput.tsx#L15-L22
https://github.com/mui-org/material-ui/blob/24015d1e4bdf135ba6c6091141cab2299d824be5/packages/mui-lab/src/DateRangePicker/DateRangePick

[2021-12-29 18:46] ArseniyX opened #30443 "[Slider] `getAriaValueText` prop not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

As you can see the slider not show the °C after temperature number.
![alt text](https://i.imgur.com/OjIUylZ.png)
[demo](https://codesandbox.io/s/8d138?file=/demo.js)

### Expected behavior 🤔

i expected to see something like this.
![alt text](https://i.imgu

[2021-12-29 20:04] mbrookes commented on #30230
Closed in error

[2021-12-29 20:11] mbrookes commented on #30230
The issue says that there's a notch for the full width of the text field when there's no label. @mvpindev's sandbox shows a small notch when an empty string is provided, which is to be expected. Removing the labels doesn't lead to a full-width notch: https://codesandbox.io/s/formpropstextfields-material-demo-forked-kzubb

Please provide a reproduction of the issue stated in the description.

[2021-12-29 20:22] mbrookes commented on #30394
See also: https://mui.com/guides/migration-v4/#tabs

[2021-12-29 20:30] grfehr commented on #19447
@Hadard753 did you ever get a working solution for this? I'm seeing the exact same thing as you did in your example referenced

[2021-12-29 20:40] oliviertassinari commented on #30421
Do we have an example of an "established" website/documentation that has a back-to-top button? I have seen this done in https://vuetifyjs.com/en/getting-started/installation/ but I wouldn't qualify as established.

[2021-12-29 20:43] asjustis commented on #30439
@hbjORbj Ummm, looks like my `Context` is taken out of the context here :D I actually have this implemented with Masonry already (in a slightly different way). But I cannot really use it in production unless the bug is fixed or I have a working solution :)

[2021-12-29 21:10] RemyMachado opened #30445 "[IconButton] `edge` property - allow both `start` & `end` values at the same time"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

A fourth value that would enable both `start` and `end` at the same time for the `edge` property.
For instance `edge="both"`.

### Examples 🌈

This is my use case:
[code]

### Motivation 🔦

For instance, my `AppBar` is rendering a `flexbox` containing `Button`s and

[2021-12-29 21:27] mbrookes commented on #30436
I couldn't reproduce this in latest Chrome, Safari or FireFox on MacOS.

[2021-12-29 21:32] hunterchristian commented on #25324
I'm experiencing this as well with NextJS and React. Could we reopen this issue please?

[2021-12-29 22:01] mbrookes commented on #30443
It seems that you've discovered the correct prop (`valueLabelFormat`). `getAriaValueText` (I have no idea why these two props are named so differently) should return a readable string, for example "37 degrees celcius".

[2021-12-29 22:01] #30443 closed

[2021-12-29 22:03] mbrookes commented on #30445
Please provide a codesandbox, or at least some screenshots illustrating the problem.

[2021-12-29 22:10] mbrookes commented on #30417
I'm don't think this is enough for us to reproduce, but since the only thing you seem to be missing is ads, but try whitelisting in ABP or disabling other plugins.

[2021-12-29 22:10] #30417 closed

[2021-12-29 22:33] patspam commented on #30435
Thanks Benny.

I just noticed that the same is also true for `cursor`, which makes me suspect a lot of others are missing too. Is it worth doing an audit of all CSS props?

Or am I reading the docs wrong - are Box/Grid/Typography only supposed to contain a subset of all CSS props?

[2021-12-29 22:34] RemyMachado commented on #30445
Here's a screenshot.
We can see that the `IconButton` isn't aligned with the content below, but they are both in the same container.
`edge="start"`

![image](https://user-images.githubusercontent.com/30229752/147708148-09b911e9-dd27-4219-b5f5-05efd697fdeb.png)

Here's the expectation:
`edge="both"` instead of `edge="start"` + `margin-right="-12px"`
![image](https://user-images.githubusercontent.co

[2021-12-30 01:31] ymoon715 commented on #16325
I think the keepMounted is not working.

[2021-12-30 01:36] ypresto commented on #30433
@Magofoco

This is caused by breaking changes in csstype 3.0.9 -> 3.0.10.
https://github.com/frenic/csstype/issues/148

You can revert your csstype version to 3.0.9 in package-lock.json (or perhaps you can use [Selective Version Resolutions](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/) if you use yarn).

It fixed the issue at least in my env.

[2021-12-30 02:04] CloutProject commented on #29742
It's been more than 3 months since v5 was officially released and there is still no way to use it with Next.js and styled-components.

Next.js is the most popular React framework and styled-components is the most popular css-in-js styling solution.

People using styled-components in their project can try to make the switch to emotion, but there are considerable downsides to it. For instance, emoti

[2021-12-30 04:05] lulucas commented on #30436
reproduce:   https://n5o0j-3000.sse.codesandbox.io

sandbox:  https://codesandbox.io/s/awesome-voice-n5o0j

[2021-12-30 05:43] krishna-vivek-kolasani-zebu opened #30447 "MUI components lose default styling inside an Iframe."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

MUI components don't have default styling inside an iframe.

### Expected behavior 🤔

MUI components look the same inside an iframe as they look outside an iframe

### Steps to reproduce 🕹

[codesandbox](https://codesandbox.io/s/restless-grass-9oycp)

### C

[2021-12-30 06:22] raymondsze opened #30448 "Banner Component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Now the official material web components already implemented Banner component included all the css. I think it is good time to implement a Banner component in this UI library.

https://github.com/material-components/material-components-web/tree/master/packages/mdc-b

[2021-12-30 09:30] #18782 closed

[2021-12-30 09:52] michaldudak commented on #30435
Or am I reading the docs wrong - are Box/Grid/Typography only supposed to contain a subset of all CSS props?

@mnajdova, you would likely know best.

[2021-12-30 09:55] cq-ubaid-khan opened #30449 "Pinned Column Overlap Non Pinned Column"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have both checkbox and row menu column pinned on left side but as you can see from the picture below my "Role" column gets bit of hidden behind row menu column.

### Expected behavior 🤔

No need to explain!

### Steps to reproduce 🕹

![image](https://user

[2021-12-30 10:05] #30150 closed

[2021-12-30 10:05] hbjORbj commented on #30449
It doesn't look like this bug report has enough info for one of us to reproduce it.
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-12-30 10:07] Magofoco commented on #30433
@ypresto Thanks.

However, I do **not** have CSSTYPE in my package.json

**package.json**

[code]

[2021-12-30 10:21] cq-ubaid-khan commented on #30449
I've attached the link of code

[2021-12-30 10:40] ypresto commented on #30433
@Magofoco Yes, it is a transitive dependency. It is automatically installed when you install `@types/react` or `@material-ui/core`. Then it can be found in your package-lock.json or yarn.lock file.

[2021-12-30 10:44] hbjORbj commented on #30439
If you are in a rush, I'd say setting a specific height to images is the most reliable solution for now. if you are going to keep using `213px` for both `width` and `height` for image containers, you can set image's height to `120px` in order to keep the aspect ratio. That's the height rendered by browser when you don't set a specific height.

[2021-12-30 10:49] Magofoco commented on #30433
@ypresto

I can find it in my `yarn.lock`, but how do I know which dependency in package.json to update?

I do not generally push my `yarn.lock`, so I do not think I have to change it manually.
Also it seems I am using `csstype@^3.0.2` and `csstype@^2.5.2` in my `yarn.lock`, not `csstype 3.0.9 -> 3.0.10`

![Screenshot from 2021-12-30 10-45-38](https://user-images.githubusercontent.com/34609892/147

[2021-12-30 12:39] memoriesadrift commented on #30436
I encountered the same bug using Next.js, so it doesn't seem to be limited to Remix.

[2021-12-30 13:09] joao7yt commented on #21749
would be nice to be able to create variants for specific slots. now the variants are always applied to the root slot.

[2021-12-30 14:04] grzegorzCieslik95 opened #30450 "[Autocomplete] render custom options list instead noOptionsText"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hi, i have component like this

[code]

I want to show my custom options list when autosuggest show "no options text". I migrate from v4 to v5. Earlier i used react-autosuggest and everything worked good. Any idea how can i show custom list?

### Expected b

[2021-12-30 14:44] Azumydori opened #30451 "Themeprovider used in Tabs makes DatePicker and FormControl Select unusable"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

So, let me explain the issue.

I created a `<Tab/>` menu with all its corresponding tags to then make a form inside one of the tabs for the User profile I am developing.

I exported the form to the tab system and no issue there, until I tried clicking the `

[2021-12-30 15:27] sandro768 commented on #14427
I still see it in v5 why is this issue closed?

[2021-12-30 15:29] lvauvillier commented on #30436
Same bug here. I was about to post the exact same repro.

[2021-12-30 16:16] lvauvillier commented on #30436
On the client, styleData is `null`.
If the `Document` component is rerender, all the style is lost.

Here is a workaround: pass data from server to client using a `__STYLE_DATA_` global variable:

[code]

And

[code]

This is a link to a working sample using this technique:
https://codesandbox.io/s/optimistic-cherry-dsyr5

[2021-12-30 16:16] VibhorJaiswal commented on #30421
@oliviertassinari  Well, I don't know if you consider it as established or not but Facebook's docusaurus [https://docusaurus.io/docs](url) has this feature.

Implementing this feature is purely your decision. I implemented this because personally, I would like to use this feature and @danilo-leal also gave a green flag.

[2021-12-30 16:36] Hadard753 commented on #19447
Hi think I ended up developing my own drop down component wrapping theirs ,
but since it was almost 2 years ago I can’t really remember , I will try
looking it up a little and get back to you

On Wed, 29 Dec 2021 at 22:30 grfehr ***@***.***> wrote:

[2021-12-30 16:38] raphaelbadia opened #30452 "styled(Component): the props are not forwarded to components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using `styled(ComponentName)`, the props seems to not be forwarded to the underlying component.

Here is an example : https://codesandbox.io/s/basicbuttons-material-demo-forked-g02rx?file=/demo.js

The component `SectionTitle` extends the  `Title` comp

[2021-12-30 16:55] oliviertassinari commented on #30421
To complement my previous answer, Vuetify removed the scroll to top in v3: https://next.vuetifyjs.com/en/components/breadcrumbs.

Thanks for raising Docusaurus. It looks like they removed the scroll to top in v2 too.
However, they worked on a new version in https://github.com/facebook/docusaurus/issues/3513, only displaying it when scrolling up. This sounds like a lot better than what Vuetify was

[2021-12-30 17:02] mihaibogdan opened #30453 "[Masonry] error when replacing content"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have a masonry layout with some skeletons inside (while fetching some data) and when the data is fetched and it needs to update the content, I get this error:
`Masonry.js:193 Uncaught TypeError: Cannot read properties of null (reading 'contentRect')
    a

[2021-12-30 18:35] RemyMachado commented on #30420
Good news, I just noticed that `color="secondary.200"` is already available for the `Typography` component. Thus, it's not reserved to the `sx` prop. Maybe the `Typography` logic charged of the `color` prop could be merged with the `Button` one.

[2021-12-30 20:16] aweygandt commented on #30422
I think I found the issue, the codemod uses a regex to match "/^@material-ui\/core(\/TextField|\/Select|\/FormControl)?$/" but preset-safe rewrote the imports to "@mui/material" so they get skipped. When I change the import back, the changes were made.

[2021-12-30 22:46] Mood-al commented on #10826
Hey guys I have a similar issue but it's so weird one.
My issue is when i set a scrollable tabs on RTL mode the scroll stops working on chrome and on any chromium core browsers
the weird thing is on some windows devices it works just fine and on others it doesnt work
i have tested it on 5 devices 3 of them the tabs scroll worked fine and on my device and on another one it didnt
on mac it worked on

[2021-12-30 23:43] Mood-al commented on #10826
Hey again guys I have noticed that if i sat my portview to 110% and then refresh the page the tabs work fine on RTL mode
like this video

https://user-images.githubusercontent.com/63562308/147794721-14aa0d89-fc32-4ba0-8f80-4803607c5a50.mp4

[2021-12-31 00:03] Mood-al commented on #30207
Hey again guys
@hbjORbj
I noticed something when i sat my portview to 110% on chrome and then refreshed the page the tabs worked just fine on RTL mode like this video

https://user-images.githubusercontent.com/63562308/147795338-04605bf0-eb80-47c0-ba88-675a42567e04.mp4

do you have any thoughts about that?

about my device well i tried it on 5 devices the tabs worked on 3 of them on RTL mode and o

[2021-12-31 08:53] hbjORbj commented on #30453
Hi. This is fixed as part of https://github.com/mui-org/material-ui/pull/29896

You can see in this [codesandbox](https://codesandbox.io/s/material-masonry-forked-nm4ns?file=/demo.tsx) that the error no longer exists. Until the PR is merged, you can use the build of this PR. To do so, replace the version of `@mui/lab` in `package.json` with the following: `"https://pkg.csb.dev/mui-org/material-ui/

[2021-12-31 08:54] hbjORbj commented on #30450
Hi. Can you provide a codesandbox that shows the error more clearly? You can use this [template](https://material-ui.com/r/issue-template-latest)

[2021-12-31 09:05] grzegorzCieslik95 commented on #30450
Yes, sure :) https://codesandbox.io/s/agitated-hellman-9u92d?file=/src/Demo.tsx -> when you paste 'te' in textField imho list should have all of options but now show no options

[2021-12-31 09:09] charisra commented on #30422
That makes sense. So you should probably either fix the codemod to find the updated imports or update your docs to mention that you have to first run the variant-prop codemod and then the preset-safe.

In my case, I updated my code using my IDE, wasn't that hard afterall but I would have prefered the codemod to work.

Thanks and Happy New Year.

[2021-12-31 10:35] lvauvillier commented on #30436
I spend some time digging into this subject, and here is my understanding and how I finally solved it.
@mnajdova I'll be delighted to have your feedback on this solution

## Context
Emotion, dynamically injects `<style>` tags in the page on demand. With Remix, error pages contain a new full html document. And when it renders it creates a mess:
- All tags injected previously are lost
- Emotion cach

[2021-12-31 12:32] josiaharkson commented on #30377
Hi @mnajdova
After following your instructions to reproduce code, I first ugraded to the latest mui versions and the error seemed to dissapper.

I upgrated from `"@mui/lab": "^5.0.0-alpha.48"` to `"@mui/lab": "^5.0.0-alpha.62"`,
And also upgraded from `"@mui/material": "^5.0.0"` to `"@mui/material": "^5.2.6"`.

I no longer experience the issue I raised previosly, thanks.

[2021-12-31 12:32] #30377 closed

[2021-12-31 13:38] anjalisoni3655 commented on #6718
what is the solution for the above issue/feature?

[2021-12-31 14:40] danielh186 commented on #28886
@michaldudak @phudekar
Any news on this? I just ran into the same issue.

[2021-12-31 14:46] danielh186 commented on #28886
When trying to create a new custom variant I will also get the errror `InputComponent is undefined`.
This can be reproduced within the above codesandbox changing the `MuiSelect` variant to a non-standard value.

[2021-12-31 14:51] abhinav-22-tech commented on #30207
Hey, @hbjORbj I tried in my brother's PC it doesn't work properly.

https://user-images.githubusercontent.com/66718489/147828758-7bccbc28-d2d8-400b-8868-cbabe39c0283.mp4

There is a bug in this. I request you please re-open this issue.

[2021-12-31 14:55] Mood-al commented on #30207
Could you please reopen this issue? @hbjORbj?
There are three of us having this issue so it's a bug

[2021-12-31 14:57] Mood-al commented on #30207
Could you try my example too on your brother device? The bug is so weird i dont know what is the thing that makes it appear on some device and disappear on others

[2021-12-31 15:03] Mhart400 opened #30456 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=close
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|-----

[2021-12-31 15:19] ZeeshanTamboli commented on #30456
Latest version is `5.2.6`. Please hard refresh the docs page.

[2021-12-31 15:19] #30456 closed

[2021-12-31 15:39] ZeeshanTamboli commented on #22278
Would a prop be handy here? We can override style easily with the `sx` prop (plus having flexibility of the `flex` value). See [CodeSandbox](https://codesandbox.io/s/oppositecontenttimeline-material-demo-forked-3e8ew?file=/demo.js).

[2022-01-01 00:56] oliviertassinari commented on #30230
I can see a regression between 5.2.3 and 5.2.4 with

[code]

<img width="208" alt="Screenshot 2022-01-01 at 01 44 19" src="https://user-images.githubusercontent.com/3165635/147841772-f2b6700e-a806-428d-8a73-aeaa3ada2765.png">

https://codesandbox.io/s/formpropstextfields-material-demo-forked-6tbsw

<img width="206" alt="Screenshot 2022-01-01 at 01 40 25" src="https://user-images.githubusercontent.

[2022-01-01 00:56] #30336 closed

[2022-01-01 00:57] #30360 closed

[2022-01-01 00:58] #30438 closed

[2022-01-01 01:02] oliviertassinari commented on #30445
The prop is meant to align the icon button inside its padding container, which can only be on one edge.

[2022-01-01 01:02] #30445 closed

[2022-01-01 01:05] oliviertassinari commented on #30450
This sounds like a question. You can create custom options when there are no matches, like it's done in https://mui.com/components/autocomplete/#creatable

[2022-01-01 01:11] oliviertassinari commented on #30422
https://github.com/mui-org/material-ui/issues/30422#issuecomment-1003168679 I believe this is on purpose, if the import is from `@mui` the variant doesn't need to be updated. I assume that the issue is more about the need to clarify that https://mui.com/guides/migration-v4/#variant-prop/https://github.com/mui-org/material-ui/blob/master/packages/mui-codemod/README.md#variant-prop should be run fir

[2022-01-01 14:50] Metheny80 commented on #29943
The tip by @zhzhang helped to fix the selection issue, but the fact that it sets the `props` to the custom inner element changes its display. Is there any other way to overcome this?

My case is:

[code]

As can be seen, the primary and secondary appear next to eachother instead of on top of eachother, due to the change of the `ListItemText` props:

![ListItemText](https://user-images.githubuserco

[2022-01-01 14:54] Mood-al commented on #26450
@oliviertassinari  Hi can you help me with this issue?
I'm using Mui v5 with next js.
the issue is within mui scrollable tabs when i sat them to RTL mode the scroll stop working
like this video

https://user-images.githubusercontent.com/63562308/147853185-7830294b-bdf1-4517-9c1c-b64dc6f7762f.mp4

as you see on LTR it's working just fine but as i sat it to RTL the scroll stayed on LTR dircetion.
th

[2022-01-01 14:56] Mood-al commented on #26450
there is another weird thing which is when i sat my Page Zoom in chrome to 110% and then i refreshed the page the tabs worked just fine on RTL mode
like this vide

https://user-images.githubusercontent.com/63562308/147853404-0d0fbada-8db8-43df-ba0c-8622ee0856c6.mp4

o

[2022-01-01 17:52] ralrom opened #30462 "Popover is too tall. Hardcoded `max-height` ignores `marginThreshold` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently when a Popover component is given a marginThreshold prop that differs from 16 (the default value), the popover can exceed the height of the screen because the Popover Paper element has a static style of `max-height: calc(100% - 32px)`. The `32px`

[2022-01-01 20:44] jansedlon commented on #30436
@lvauvillier It actually works 🤯 Good job!

[2022-01-01 21:04] SamuelHassine commented on #22426
Product: OpenCTI
URL: https://www.opencti.io
Github: https://github.com/OpenCTI-Platform/opencti
![image](https://user-images.githubusercontent.com/1334279/147860151-896fcb36-0576-4049-a3c2-d784af76e792.png)

[2022-01-01 21:27] subodha commented on #29742
Since it has been updated next JS SWC compiler to work with styled component I have tried using SWC instead bable.

https://codesandbox.io/s/nextjs-ssr-with-styled-components-typescript-14exc?file=/next.config.js

seems it working fine. bet need to check more

[2022-01-01 22:53] ruler501 commented on #30375
I found the error, I accidently created contradicting themeproviders at different points in the hierarchy.

[2022-01-01 22:53] #30375 closed

[2022-01-01 23:04] MyNameIsTakenOMG commented on #30129
Encountered this issue too, at the moment I turned to "paddingTop" after experimenting on it a bit and ending up getting no luck😂, not sure if this is a bug or something, but thanks for your workaround anyways, appreciate it👍

[2022-01-02 08:56] NickWinston123 opened #30465 "DataGrid not rendering table?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The DataGrid does not show any rows or data just the navigation buttons on the bottom.

![2022-01-02_3-51-43](https://user-images.githubusercontent.com/11579042/147870914-7dfe69d0-5eb7-467c-9caf-80a24ced3a1e.png)

### Expected behavior 🤔

The DataGrid shoul

[2022-01-02 10:31] axel-xitaso commented on #29877
Following the Remix philosophy of "less JavaScript, more browser", the TailwindCSS/MUI integration issue that @jansedlon mentions and that I can reproduce can seemingly be fixed with a slight modification of the Tailwind config to produce different CSS: Either add `important: true` to your Tailwind config or `important: "#app"` and wrap your entire React app in `<div id="app"></div>`, see https://

[2022-01-02 12:42] overbid opened #30466 "MUI with next/image got React Hydration Error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm started with https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-typescript and use next/image

[code]
then got "Warning: Prop `style` did not match" in console.

### Expected behavior 🤔

Get rid console error.

### Steps to reproduc

[2022-01-02 12:49] overbid commented on #30466
[code]

[2022-01-02 14:23] AlehKomar opened #30467 "[docs] Demo HorizontalLinearStepper crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20HorizontalLinearStepper%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/steppers/
2. ??
3. demo *HorizontalLinearStepper* crashes

## Your Environment
| Tech         | Version |
|--------------

[2022-01-02 18:12] sjdemartini opened #30468 "ListSubheader can no longer be styled to match the background color of dark-mode Paper components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using dark mode, if a `List` is created with `ListSubheaders` (that are sticky, the default) and placed inside of a `Paper` (or `Card`) component, the sticky headers cannot be made to match the background color of the `Paper`. This leads to an awkward-

[2022-01-02 20:29] Mood-al commented on #26450
@oliviertassinari  Hey
I even tried your example and same thing is happening to me

https://user-images.githubusercontent.com/63562308/147888652-62a1ca9d-d2b6-4426-ba25-83619966cf4d.mp4

[2022-01-03 02:09] siriwatknp commented on #30422
I would say that this is a bug. To give the best experience, the Codemod should be independent of each other. The fix should be pretty straightforward (updating the regex to include `@mui/material`). Feel free to submit a PR (otherwise I can do it this week).

[2022-01-03 02:35] siriwatknp commented on #12827
@mbrookes Thanks, this is now on my radar. I will create a proper RFC about adopting CSS variables for mui-material soon.

@RemyMachado I think that's a good quick workaround, however, you will still see a flicker when switching between light & dark mode. We have done some POC about how to fix it #27651 and I will create a plan for adding CSS variables to mui-material soon.

[2022-01-03 02:41] siriwatknp commented on #30468
I mark this issue as related to the `Paper` component rather than the `List`.

[2022-01-03 02:45] siriwatknp commented on #30466
Can you provide your repo that contains this error? I think it is better in terms of reproduction.

[2022-01-03 02:47] siriwatknp commented on #30465
@mui-org/x should I transfer the issues to mui-x or just tag one of the x team?

[2022-01-03 03:04] sjdemartini commented on #30468
@siriwatknp Yeah, agreed. This a problem in how Paper is implemented in dark-mode with MUI v5.

[2022-01-03 03:07] siriwatknp commented on #30452
@raphaelbadia This is the expected behavior. Take a look at this sandbox, https://codesandbox.io/s/basicbuttons-material-demo-forked-ersce?file=/index.js. I tested it out with `styled` from emotion.

[2022-01-03 03:08] #30452 closed

[2022-01-03 03:20] siriwatknp commented on #30124
I don't think this issue is related to the TextField component, but rather CSS layout (height) problem.

I tried adding `height: 1000` to TextField and there is no scroll to top.

[code]

Feel free to reopen the issue if I missed anything.

[2022-01-03 03:20] #30124 closed

[2022-01-03 03:22] overbid commented on #30466
https://github.com/overbid/nextjs-with-typescript
Thx. for your response.

[2022-01-03 03:26] siriwatknp commented on #30142
It seems unrelated to MUI but if you could provide the repository that I can reproduce, I am happy to take a look.

[2022-01-03 03:29] siriwatknp commented on #30447
Currently, I believe that MUI does not provide out-of-the-box support for iframe. I think it is worth having a section explaining how to use MUI inside an iframe.

[2022-01-03 03:30] siriwatknp commented on #30431
duplicate of #24282.

[2022-01-03 03:30] #30431 closed

[2022-01-03 03:49] HelpMe-Pls commented on #30023
@antonichandra  You can fix this by manually adding this to the `<GlobalStyles>`:
![image](https://user-images.githubusercontent.com/43715386/147898427-c4d5bc85-57f3-4c71-82a5-8be5673f25d4.png)
[Try it out](https://codesandbox.io/s/globalcssoverride-material-demo-fix-edge-bug-4u3yx)

[2022-01-03 04:34] siriwatknp commented on #30467
It works on my side, not sure what's wrong.

[2022-01-03 04:55] sspread commented on #8009
`initialFocusedDate`

[2022-01-03 05:20] LucasLongarini commented on #20107
@odedbendov I just added some `paddingLeft` to the slider track `.MuiSlider-track` which seemed to solve the half-touch issue

[2022-01-03 06:46] overbid commented on #30466
Now the issues is gone with nothing fix. Sorry for wasting your time.

[2022-01-03 06:46] #30466 closed

[2022-01-03 08:25] michaldudak commented on #30221
@ernestasrutkauskas The sandbox you provided isn't complete enough to allow me to reproduce this error. What I suspect, however, is that you should wrap your tested component in a ThemeProvider. Judging by the error you receive, the Chip looks for a ThemeProvider among its parents but can't find it.

[2022-01-03 08:27] michaldudak commented on #30209
@AlexKrupko indeed, this doesn't look correct.

[2022-01-03 08:31] vinayr commented on #29816
Not a fan of `styled()`. I just refer the sx styles like this -

[code]

code autocomplete works except for the breakpoints `sm`, `xs`, etc.

It would be nice if an utility (like `sxStyles` above) can be provided out of the box.

[2022-01-03 08:52] grzegorzCieslik95 commented on #30450
@oliviertassinari thanks! That works!

[2022-01-03 08:52] #30450 closed

[2022-01-03 09:22] flaviendelangle commented on #30465
You can transfer it :+1:

[2022-01-03 09:34] likeavirgil commented on #30290
https://github.com/mui-org/material-ui/issues/30230

[2022-01-03 10:32] Florensvb opened #30472 "Autocomplete loses Focus after pressing Enter in Chrome"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The Autocomplete looses focus after confirming a new value with the Enter button, using the Chrome Browser.

### Expected behavior 🤔

The Autocomplete should remain in focus, as it does on Firefox and Safari.

### Steps to reproduce 🕹

Steps:

1. Create an

[2022-01-03 10:47] overbid commented on #30466
That's Dark Reader (Browser's Extension) fault.

[2022-01-03 12:22] hbjORbj commented on #30225
Hi. I apologize for late reply.

We are aware of this constraint. As you can see [here](https://github.com/mui-org/material-ui/pull/29593#issuecomment-964188090), we think that this is rather a healthy constraint.

I am against reverting the change we made in #29593 because providing the root class of `Select` but not supporting it is a bug. More details about the issue: https://github.com/mui-org

[2022-01-03 12:25] mnajdova commented on #30429
Credits go to @hbjORbj for implementing the Masonry component :)

[2022-01-03 12:34] rathpc commented on #30225
Yes, I understand that but I would also reference [this comment](https://github.com/mui-org/material-ui/pull/29593#pullrequestreview-801212005) and argue that the hypothesis mentioned is not valid and there are in fact developers wanting to style them differently.

I am not seeing the issue of allowing someone to style the Select root without styling the TextField root. Why would that be a concern

[2022-01-03 12:46] Darkmax512 opened #30474 "is there anyway to extract the styles to external stylesheet instead of head."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'm using next js with mui it's really good I managed to use it well with SSR but all the styles are injected in the head tag is there any way to make it in external CSS files instead .

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-01-03 13:40] hamzamumtaz007 opened #30475 "Clicking on material ui popover closes the popover"
I am using material ui popover for displaying the details of an event on react fullcalender. The issue is that when i click on the popover itself it closes, how can i prevent the popover from closing when clicking itself?

[2022-01-03 14:29] papgeorge21 opened #30476 "Placing ThemeProvider at the root of app still causes theme/style errors"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

As per the migration from v4 to v5 guideline suggests, I placed ThemeProvider at the root of my app.
I am NOT using any theme
I'm getting the following errors:

`MUI: The styles argument provided is invalid.
You are providing a function without a theme in t

[2022-01-03 14:59] rr4 commented on #12011
Quick note, after appending a new anchorEl to the shadow DOM, what worked for me was to reference the container on the <Menu> component.
[code]

[2022-01-03 15:17] caub opened #30477 "Contrast-ratio issues for datepicker focus"
With some theme main color, the calendar focused day can be very hard to read

![2022-01-03-161143_306x138_scrot](https://user-images.githubusercontent.com/3134574/147947266-acbb4ca3-d58f-4ab7-a5d1-0b494f6a6e3c.png)

Demo: https://codesandbox.io/s/mui-datepicker-w6rk8 (note: initially the selected day is not hovered or focused, and contrast ratio is quite fine there, try to hover or focus it to ge

[2022-01-03 15:41] wasimshaikhTeqfocus commented on #24828
@sethhen thanks its working for me

[2022-01-03 15:52] Hamza-101 opened #30478 "Material theme returns white screen"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Whenever I try to run my file with Material UI components it returns a white screen.

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1. Import material ui components
2. npm start
3. white screen
4.

### Context 🔦

Trying to run MU

[2022-01-03 16:00] caub opened #30479 "Datepicker is not correctly selecting days outside current month"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![mui-date-outsidemonth-bug](https://user-images.githubusercontent.com/3134574/147951720-8a5b7d1c-460a-4ce8-9f0c-fca0471d9546.gif)

When using showDaysOutsideCurrentMonth option and selecting a day outside current month, then going back to previous month an

[2022-01-03 16:03] asjustis commented on #30439
Thanks @hbjORbj , following your advice, decided to make my images square to explicitly set height as well. Not ideal, but perfectly fine workaround until the issue is fixed :))

[2022-01-03 16:07] XanderSelorm commented on #30360
@nikhilgupta46,  Has there been any fix yet? I am facing a similar issue after migrating to v5

[2022-01-03 16:08] timvandam commented on #14582
I am having this issue right now. I am on the latest webstorm version. Tried downgrading to the oldest version Jetbrains Toolbox allowed me to (some 2020 version), but unfortunately had the same issue

[2022-01-03 16:40] mohammad-mustafa-24ourx commented on #12461
In TS, with Mui v5 Drawer faced the same issue, but then simply changed the hook type to "any":
`const [toggleAnchor, setToggleAnchor] = useState<any>("left")

<Drawer
    anchor={toggleAnchor}
    open={toggleMenu}
    onClose={toggleDrawer}
    disableScrollLock={ true }

</Drawer>
`

and it helped me, I tried with enum also, but it didn't helped me, probably I missed something, but no worries n

[2022-01-03 19:18] manigurusankar10 commented on #29970
I would like to work on this. I'm trying to figure where the DateTimePicker component is located?

[2022-01-03 20:40] DonaldTPowell commented on #4098
Not working!

[2022-01-03 21:30] joselevelsup opened #30481 "[docs] Doc Site is down"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/10066172/147982476-34b82e01-a734-4013-b4c4-bbd56fb33047.png)

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

<de

[2022-01-03 21:59] joselevelsup commented on #30481
Actually nevermind, after clearing the site data, everything is back to normal.

[2022-01-03 22:42] Myrnedraith commented on #29875
I am also having this issue. Any word on when this might be resolved? I don't see an issue corresponding to the overall TypeScript generic loss problem.

[2022-01-04 00:16] dutchenkoOleg opened #30483 "MUI5 override does not work as expected - duplications of code"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In MUI4 I was able to override initial style code.
But now in 5 version I can't get the same behavior.

[code]

I am getting result with redundant CSS output code

[code]

### Expected behavior 🤔

It must be merged to **override** but not adds under the bot

[2022-01-04 00:26] frozberry opened #30484 "Allow responsive CSS in Typography theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I know I can use the `sx` prop to set css based on the breakpoints:

[code]

However, this requires manually adding the sx prop to every instance of the typography. This should be job of the theme, were I can define the default css once and have it apply every time

[2022-01-04 00:26] toriqo commented on #27846
late to the party, I know. just install `babel-plugin-styled-components` via npm/yarn and it should fix it

[2022-01-04 00:30] nfour commented on #19113
I was wondering if anyone had thought of having different type distributions for MUI.

So assuming the `sx` property is the culprit, but lets just use it as an example...

https://mui.com/system/the-sx-prop/

I don't need to use the `sx` prop when I use MUI because instead I utilize this pattern from emotion/styled-components:

[code]

I think this is pretty standard these days too and wouldn't be

[2022-01-04 03:31] siriwatknp commented on #30472
Please provide a link for the reproduction with CodeSandbox.

[2022-01-04 03:33] siriwatknp commented on #30474
Please describe more details about your use-cases or the motivation behind your question, thanks.

[2022-01-04 03:35] siriwatknp commented on #30475
Please provide a simple demo via CodeSandbox. I think that would be a lot easier for the people to help look into it.

[2022-01-04 03:38] siriwatknp commented on #30476
From what you described, I am pretty sure that it is not a bug in MUI. If you could post a link to your repository, I am happy to take a look.

[2022-01-04 03:39] siriwatknp commented on #30478
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-04 03:49] siriwatknp commented on #30483
The theming does not override via JS object but creates a new stylesheet that leans toward CSS override. This makes pseudo styling possible https://github.com/mui-org/material-ui/issues/26813.

If you don't want the font-size to appear twice, I suggest to edit `theme.typography.button` instead.

Do you have other practical use cases? because in CSS, if you want to reset to the initial value, you s

[2022-01-04 03:58] siriwatknp commented on #30484
It will be possible once we add callback support to `styleOverrides` https://github.com/mui-org/material-ui/issues/30412.

For now, you will have to use `theme.breakpoints` instead.

[code]

[2022-01-04 04:10] siriwatknp commented on #30412
One reason might be the familiarity of the existing API (`sizeSmall`). It might be frustrating for some people at the beginning
 because they have to change the way they used to do but I am pretty sure that we will have fewer issues in long term. Also, I believe that some people will love it (at least I am 😂).

`sizeSmall` approach is a NO-go for sure as far as I know. Take a look at `chipClasses`

[2022-01-04 07:40] HaoboZ opened #30486 "AppBar enableColorOnDark includes backgroundImage"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using AppBar component and setting enableColorOnDark adds a backgroundImage on dark mode, which has a different shade in color than in light mode

### Expected behavior 🤔

Colors in AppBar should be the same if enableColorOnDark is set on different color mo

[2022-01-04 09:25] Hamza-101 commented on #30478
Code:
import * as React from 'react';
import ReactDOM from 'react-dom';
import Button from '@mui/material/Button';

function App() {
  return <Button variant="contained">Hello World</Button>;
}

ReactDOM.render(<App />, document.querySelector('#app'));

Sandbox:
![image](https://user-images.githubusercontent.com/45544623/148037502-3693b249-72e9-4a79-8546-5a9ed195b9ac.png)

Desktop Local:
![image](

[2022-01-04 09:27] ossan-engineer opened #30488 "[TextField] event handlers passed to `InputLabelProps` don't work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Setting InputLabel event handlers for an outlined or filled labels doesn't not work.

### Expected behavior 🤔

It should work like an event handler for standard label.

### Steps to reproduce 🕹

https://codesandbox.io/s/formpropstextfields-material-demo-for

[2022-01-04 09:48] raphaelbadia commented on #30452
Hello @siriwatknp , sorry, I didn't understand your demo. I've updated my sandbox with the emotion import.

You can comment the styled import at line 4 and uncomment the emotion one at line 5 to see the issue :

![CleanShot 2022-01-04 at 10 44 39](https://user-images.githubusercontent.com/1901628/148040316-51f9e393-c8bd-4986-98c0-8f6906c7e8b9.gif)

With Material-UI `styled` :
<img width="523" alt=

[2022-01-04 09:52] raphaelbadia commented on #30452
I don't know how to reopen an issue. Should I create a new one ?

[2022-01-04 09:58] levyal commented on #17018
Put something like this on your text field.

InputLabelProps={{ shrink: controllerProps.value ? true : false }}

[2022-01-04 10:04] levyal commented on #17018
Put something like this on your TextField.

InputLabelProps={{
             shrink: controllerProps.value ? true : false
}}

[2022-01-04 10:57] krishna-vivek-kolasani-zebu commented on #30447
I would really appreciate it if you could point me to anything that helps me in getting MUI v5 working inside iframes or shadow DOM in the meanwhile.

[2022-01-04 11:55] levyal commented on #17018
Put something like this on your TextField.

InputLabelProps={{
shrink: controllerProps.value ? true : false
}}

[2022-01-04 12:08] kazukinagata commented on #29428
I am one of those who faced this struggle. I think it's better to document as long as makeStyles API is living.
In a large project using MUI V4, it is not easy to strip off makeStyles, so emotion and JSS will have to live together for a while.

[2022-01-04 12:11] #29558 closed

[2022-01-04 12:11] hbjORbj commented on #29558
@jetro4u Hi, I apologize for late reply.

When I select value from pre-define options it is automatically selected and I get the value in the console. But when I enter arbitrary value, neither is it selected nor the value show up in the console even after pressing the enter key.

I assume you refer to the `singleSoloInputSelect` component you created. I cannot reproduce this issue in the [codesand

[2022-01-04 12:13] cattre opened #30490 "The mask "__/__/____ __:__" you passed is not valid for the format used dd MMMM yyyy HH:mm. Falling down to uncontrolled not-masked input."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using the DateTimePicker component, a warning is displayed in the console about the mask not matching the input value:

`The mask "__/__/____ __:__" you passed is not valid for the format used dd MMMM yyyy HH:mm. Falling down to uncontrolled not-masked inpu

[2022-01-04 13:46] hbjORbj commented on #30488
Hi. Yes, `InputLabelProps` currently does not support event handlers passed to it.

Your workaround in the [codesandbox](https://codesandbox.io/s/formpropstextfields-material-demo-forked-1dwvd?file=/demo.tsx), which is to pass a div element to `label`, seems perfectly fine.

However, sure, I think we can also support event handlers in `InputLabelProps` as I can't think of any downside from it.

@s

[2022-01-04 13:59] marcinb1986 opened #30491 "Changed styling for DateTimePicker after page reload"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello,
For DateTimePicker from @mui/lab once page loads for the first time styling looks as it should be .
![image](https://user-images.githubusercontent.com/76134242/148069116-d3091083-534f-458f-9d23-0d224a4f1e6e.png)
But when page is reloaded then styling

[2022-01-04 15:28] jesusvallez commented on #6261
my workaround...

[code]

Its ugly but it's the only one solution I found

[2022-01-04 16:18] danilo-leal commented on #30412
Right, thanks for the explanation! I believe it's a great idea to add this reasoning to the documentation when explaining the changes :)

[2022-01-04 16:28] totszwai opened #30494 "Theming: Checkbox indeterminate is not being treated the same as checked/disabled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When overriding the `indeterminate` state's style, is not throwing the same warning/error message as `disabled`.

Example code:
[code]

I am greeted with a message such as

However, not for `indeterminate`?

### Expected behavior 🤔

`indeterminate` should b

[2022-01-04 18:34] patrickcze commented on #30045
@mbrookes @michaldudak would it be possible to re-open this one, sorry was offline during the holidays for a bit. Looking at the original issue, i realized i made a typo, its actually specific to iPad OS and based on your video above it looks like its fine on iOS.

In the browser its fine:

https://user-images.githubusercontent.com/8822656/148106931-e9e788ff-3540-419c-872a-9cb08eb3964f.MP4

Where

[2022-01-04 19:07] ImCheesecake opened #30496 "[Button] createTheme with spreading gives ts error on defaultProps with string literals"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

According to the documentation you can set default values when creating a theme with `defaultProps` like this:
[code]
But if you want several overrides you should be able to export all overrides and spread them like this:

[code]
And since typescript 3.4 yo

[2022-01-04 21:10] danilo-leal commented on #30421
Sorry, I had initially understood that this issue was a request for adding a back-to-top component to the component set (which Olivier pointed to be already available in AppBar's docs) and not to the documentation itself. 😅

Anyways, I think that for medium to large breakpoints it might not be needed, especially given that the table of contents is there, fixated, and clicking in its first item has

[2022-01-04 21:42] vizath commented on #26806
Coming back to this old issue here...

The issue is that the `styleOverrides` overwrites the background even when the `invisible` prop is passed to the Backdrop (like used in popover).
The backdrop for `<Backdrop open invisible>asdf</Backdrop>` will not be invisible and will show up. That might be the expected behavior, I'll let you judge.

https://github.com/mui-org/material-ui/blob/a830265405462

[2022-01-04 23:52] JeremyGrieshop opened #30498 "Popper propTypes validation for Virtual Element object throws an error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the Popper and attempting to pass a fake, Virtual Element object in by setting the coordinates for the Popper, I'll get a prop-types warning in the console:

![image](https://user-images.githubusercontent.com/6199892/148138890-14df41f0-23ce-4685-

[2022-01-05 02:36] siriwatknp commented on #30486
We have received a lot of complaints about the `background-image` on dark mode (introduced in v5). We might consider other options in v6 for better customization but for now you can remove the `background-image` by:
[code]

https://codesandbox.io/s/lucid-ride-08657?file=/src/Demo.tsx

[2022-01-05 02:36] #30486 closed

[2022-01-05 02:41] siriwatknp commented on #30496
I think this is the expected behavior from typescript. I tested it in typescript playground v4.5.4

![image](https://user-images.githubusercontent.com/18292247/148152226-7f737288-9b13-4b8b-ae5c-c99991e899ca.png)

[2022-01-05 02:41] #30496 closed

[2022-01-05 02:47] siriwatknp commented on #30494
I am not sure about the history of this, so tagging other team members. cc @mui-org/core

[2022-01-05 02:49] siriwatknp commented on #30494
@totszwai Did you face any customization issues? or this is only about consistency?

[2022-01-05 03:05] siriwatknp commented on #30498
I am not sure if it relates to this https://github.com/facebook/prop-types/pull/370.

[2022-01-05 03:28] theDigg commented on #22426
I built a side project for a site that allows users to create, and compete in code golf challenges. It's a work in progress, but it utilizes MUIv5, NextJS, and firebase.

Product: CodeGolf
URL: [https://www.codegolf.dev](https://www.codegolf.dev)
Github: [https://github.com/theDigg/codegolf](https://github.com/theDigg/codegolf)
![https://www.codegolf.dev](https://firebasestorage.googleapis.com/v0/

[2022-01-05 04:15] JeremyGrieshop commented on #30498
Wow, that totally fixed it (upgrading to prop-types 5.8.1)!  I even searched facebook/prop-types first, but I guess he submitted the bug report and the PR literally minutes after I opened this one here.

[2022-01-05 05:27] NickWinston123 opened #30500 "Cannot visit the material ui website"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I know this is not related directly to material ui but this has become quite an annoyance.

A while ago I remember I was playing around with the setting the global theme and whatnot on the material ui website ( I believe where you can enable dark mode ) and

[2022-01-05 06:12] Velunce commented on #240
First, you need to disable to render the MuiTouchRipper elements in theme setting 'props'
`props: {
    MuiButtonBase: {
      root: {
        disableTouchRipple: true,
      },
    },
  },`

Second, you should remove the MuiButton-root default hover backgroun-color in the 'components'
`MuiButton: {
      styleOverrides: {
        root: {
          ":hover": {
            backgroundColor: "unset",

[2022-01-05 06:15] meds opened #30501 "MuiTouchRipple style overrides aren't applying"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

With the following defined inside theme:
`{
    components: {

    MuiTouchRipple: {
        styleOverrides: {
            childLeaving: {
                backgroundColor: '#ff9900',
                color: '#00ff00'
            },
            ripple: {

[2022-01-05 09:32] lulucas commented on #30436
@lvauvillier It helps a lot, thanks!

[2022-01-05 09:35] imekachi opened #30504 "[TypeScript] `MuiTimePicker` is missing from the LabComponents in ThemeAugmentation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I was trying to add `defaultProps` to the TimePicker component
I added the import
[code]
`MuiTimePicker` was not defined on the `LabComponents` interface while there was no issue with the `MuiDateTimePicker`  component.

![image](https://user-images.githubu

[2022-01-05 10:19] oliviertassinari commented on #30500
Duplicate of #30343

[2022-01-05 10:19] #30500 closed

[2022-01-05 10:21] oliviertassinari commented on #30500
Unless it's a duplicate of #30304 and the issue is with the sw.js that fail to reinstall.

[2022-01-05 10:48] oliviertassinari opened #30506 "Add Space component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Add a component to hold space

<img width="288" alt="Screenshot 2022-01-05 at 11 42 10" src="https://user-images.githubusercontent.com/3165635/148204461-7e15da90-6a31-462b-b34c-e7bd3765e4bf.png">

### Examples 🌈

[code]

### Motivation 🔦

I'm not convinced that we s

[2022-01-05 10:52] #30506 closed

[2022-01-05 10:53] oliviertassinari commented on #30506
Let's see if the community has thoughts on this one. I'm closing and leaving the "waiting for 👍" so we can gather feedback (to answer why? we should have it) and measure interest from the community

[2022-01-05 11:17] socramm9 commented on #30478
Is this really your code?

[code]

If yes you are passing nothing to `ReactDom.render` and you are not using the Material `Button` in `App`.

It should look something like this:

[code]

[2022-01-05 11:25] #30234 closed

[2022-01-05 11:43] michaldudak commented on #30224
It looks like Google has updated its icons, so that outlined and filled look the same. I'm closing this issue.

[2022-01-05 11:43] #30224 closed

[2022-01-05 11:50] oliviertassinari commented on #30224
@danilo-leal Go with what is ultimately right. So in our case, do nothing, let Google fix their bug, which they ultimately did :).

[2022-01-05 12:23] #29996 closed

[2022-01-05 12:31] andrei9669 opened #30507 "Add ability to overwrite Mui Button Base href type"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The problem right now is that `ExtendButtonBase` and `ButtonTypeMap` are types, not interfaces, so we can't use module augmentation on them to change the href prop from `string` to anything else as we could do with [theme custom variables](https://mui.com/customizat

[2022-01-05 12:40] Frooons opened #30508 "Performance rendering large form"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

For the application we are building a form is needed which consists of multiple table rows containing 10 form element per row (some checkboxes, some textfields, a autocomplete and a select). Unfortunately we appear to be running into some limitations from t

[2022-01-05 14:18] abhiseksubham opened #30509 "Don't need top label on the MUI Select Box"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Don't need top label on MUI select box
( in this case 'Age' )

https://codesandbox.io/s/basicselect-material-demo-forked-ki4o2

### Examples 🌈

https://codesandbox.io/s/basicselect-material-demo-forked-ki4o2

### Motivation 🔦

Business requirement

[2022-01-05 14:19] totszwai commented on #30494
@siriwatknp Is more about consistency, we are using MUI started to configure everything via theming recently.
In the early phase of v5, there were no warning/error messages about using `disabled` and `checked` etc. Now after upgrading to the latest, we get the error message printed out. However, it not being consistent with `indeterminate` (as well as any other similar attributes) as mentioned in

[2022-01-05 16:03] JMarchandev commented on #22278
I juste found this
` .MuiTimelineItem-missingOppositeContent:before {
                        content: none
 }`

[2022-01-05 16:17] raphaelbadia opened #30511 "[TreeItem] : the `selected` class cannot be overridden in the theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `styleOverrides` for the `MuiTreeItem` works for all classes except for the `selected` class.
The style written in `styleOverrides.selected` is not applied at all in the DOM.

### Expected behavior 🤔

In my theme if I write

[code]

I should see the sel

[2022-01-05 16:39] raphaelbadia commented on #30511
https://mui.com/customization/how-to-customize/#state-classes

[2022-01-05 19:25] Mood-al commented on #30207
@hbjORbj Hey man have anyone found a solution for this issue?

[2022-01-05 20:14] hbjORbj commented on #30207
@Mood-al Hey, I do not currently have the time to investigate into this as I have more important other tasks, and so does the other team members. This is relatively not a high-priority issue. We will look into it when we can for sure.

[2022-01-05 20:34] socramm9 commented on #30508
You could try to only render an input if the user interact whit it. For example double click or hover. It could also help if you work whit `React.memo` To make sure your components are only rendered when a prop changes

But I think the best solution would be to work whit Virtualization of your grid. You could implement it yourself whit `react-virtualized` or you could use `@mui/x-data-grid `

[2022-01-06 02:50] siriwatknp commented on #30494
It makes sense to me to make `indeterminate` a global class (`.Mui-indeterminate`) because it is a state. If we are agreed on this, the proposed change is:

1. add `indeterminate` to global class
2. deprecate `.MuiCheckbox-indeterminate`

cc @mui-org/core

[2022-01-06 03:39] siriwatknp commented on #30501
`TouchRipple` is considered an internal component in v5. Can you share the use case where theming `TouchRipple` makes sense?

[2022-01-06 04:35] meds commented on #30501
I'm themeing  an app and want to use a custom ripple colour over components on mouse down.

[2022-01-06 06:29] junlueZH commented on #12827
Has the above feature been implemented to the latest release?

[2022-01-06 07:58] bylly1 commented on #30509
This is an example with no label
https://codesandbox.io/s/yfqqi?file=/demo.js

`<FormControl sx={{ m: 1, minWidth: 120 }}>`
`<Select`
         `value={age}`
         ` onChange={handleChange}`
         ` displayEmpty`
          `inputProps={{ 'aria-label': 'Without label' }}`
        `>`
         ` <MenuItem value="">`
            `<em>None</em>`
          `</MenuItem>`
          `<MenuItem value=

[2022-01-06 08:23] michaldudak commented on #30494
👍 I agree. But this is a breaking change, so we'd have to wait for it until v6.

[2022-01-06 09:04] siriwatknp commented on #30501
I suggest you use `&:active` + `color` on the Button. The TouchRipple's background-color inherits `color` from the Button.
Check this out: https://codesandbox.io/s/material-ui-v5-theme-sandbox-forked-uk0ns?file=/src/Demo.tsx

[2022-01-06 09:10] siriwatknp commented on #12827
@junlueZH Not yet (but we have created a proposal) and it will be slightly different. I have created a plan for adopting the CSS variables as a feature for `@mui/material`, please take look at https://github.com/mui-org/material-ui/discussions/30485 and comments there.

cc @abhisheksarka @balazsorban44 @aphecetche @RemyMachado

[2022-01-06 09:27] Janpot commented on #28628
I've been investigating a little bit in this. I noticed the following
For any of the subpath imports (e.g. `@mui/material/Button`) snowpack resolves to the commonjs version of our module and then converts that to ESM. At first I thought this was the issue since statically analysing commonjs modules to find all exports doesn't work in 100% of the cases. I converted our packages to ESM in https://gi

[2022-01-06 09:53] paales commented on #27130
@mnajdova Due to this line https://github.com/mui-org/material-ui/blob/master/packages/mui-material/src/Slider/Slider.js#L657 it seems it isn't possible to actually possible to create a new size `size`

[2022-01-06 09:53] ayoub-root commented on #19692
with MUI V5 it's working using

const useStyles = makeStyles({
  option: {
    "&.Mui-focused ": {
      backgroundColor: green[100] + "!important",
    },
  },
});
..........

const styles = useStyles();
..........

   <Autocomplete
       classes={{
            option: styles.option,
                      }}
.

[2022-01-06 11:27] hbjORbj commented on #30488
@ossan-engineer

Hi. We decided to enable pointer events for `InputLabel` elements with `shrink=true`. So, you will be able to use click event for shrunk labels but not for un-shrunk labels.

Please check out [codesandbox](https://codesandbox.io/s/formpropstextfields-material-demo-forked-fot64?file=/demo.tsx).

[2022-01-06 11:37] zivl opened #30516 "adding testkit package or testkit driver to each component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

When developing a real app with many reusable components and writing tests for it, it is essential to have a testkit driver for each component so it will be much easier and faster to write unit-component tests for my app.

### Examples 🌈

An Example:

Today in order

[2022-01-06 11:39] ossan-engineer commented on #30488
@hbjORbj Cool! That makes sense perfectly. I appreciate your quick fix.

[2022-01-06 12:16] bartvanenter opened #30517 "[DateRangePicker] Add a classNames to the DateRangePickerViewDesktop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The desktop container component in the date range picker should have a className so that it can be stylable by the user.

### Examples 🌈

_No response_

### Motivation 🔦

<img width="1622" alt="desktopborder" src="https://user-images.githubusercontent.com/2277643/14

[2022-01-06 12:42] bartvanenter opened #30518 "[DateRangePicker] Add classNames to target to PickersArrowSwitcher component and don't wrap month title"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The PickersArrowSwitcher should have a className on its wrapper and the arrow buttons so that these can be targeted and styled.

Also, it would be nice if the user can decide how the month name (title) is being rendered, instead of always wrapping it in a Typography

[2022-01-06 13:55] bartvanenter opened #30519 "[DateRangePicker] Add classNames to PickersCalendar component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The header (or row) that contains the week labels should have a className so that it could be styled.

The weekday labels (['S, M, T, W, T, F, S']) should be customizable just like weekdays are.
Now, it is possible to resize the weekdays, but then they have a differ

[2022-01-06 14:18] hbjORbj commented on #30472
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2022-01-06 14:18] hbjORbj commented on #30474
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2022-01-06 14:18] hbjORbj commented on #30475
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2022-01-06 14:18] hbjORbj commented on #30476
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2022-01-06 15:00] newlukai opened #30520 "[docs] No peer dependencies explanation on `@mui/lab`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After `npm install`ing @mui/lab and using the desired component, running `npm run build` shall successfully create a build.

### Expected behavior 🤔

The build fails due to a missing dependency:

[code]

`npm list @mui/styled-engine` reveals that this depen

[2022-01-06 15:31] hbjORbj commented on #29679
@samesfahani-tuplehealth

Hi. You can see in this [codesandbox](https://codesandbox.io/s/example-material-demo-forked-50vm9) that the error is gone. I also tested locally, and there is no such error. I think it was a temporary bug on code sandbox (failing to fetch the latest versions, maybe)?

[2022-01-06 15:38] samesfahani-tuplehealth commented on #29679
![image](https://user-images.githubusercontent.com/66535998/148408534-beb73b0b-6896-47ca-b094-35881312ef8d.png)

I still see the type error.

[2022-01-06 15:40] samesfahani-tuplehealth commented on #29679
Maybe, but was a fix pushed out on the mui side of things for this?

[2022-01-06 15:43] hbjORbj commented on #29679
You are still seeing it because you are in your code sandbox. Please go to the [forked code sandbox link](https://codesandbox.io/s/example-material-demo-forked-50vm9) I attached. The difference is that I updated the dependencies to the latest.

I don't think so. This was already tested a while ago when adding array type for `sx`.

[2022-01-06 15:55] hbjORbj commented on #29679
In fact, there are two sides to this.

The typescript error in [your code sandbox](https://codesandbox.io/s/example-material-demo-forked-3xv10?file=/demo.tsx) should've been specific to `fifty && { bgcolor: 'red' }`. This was recently fixed in #29911.

However, only with `{ bgColor: 'background.paper', ... }`, you should have not had the typescript error. So, I think, at the point you reported thi

[2022-01-06 15:56] hbjORbj commented on #29679
@uwinkler Hi, that's not really how you should use `sx`. Check out https://mui.com/system/the-sx-prop/#array-values

[2022-01-06 15:56] #29679 closed

[2022-01-06 16:07] #30476 closed

[2022-01-06 18:57] alisasanib commented on #30230
I would like to work on this issue

[2022-01-06 18:59] VinceVachon commented on #27851
Why was this closed? Has it been fixed?

[2022-01-06 19:07] obsd opened #30521 "[Autocomplete] Save onBlur (free solo)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

There is clearOnBlur I think it will be really good to add saveOnBlur, I saw many of my users write a text in freeSolo mode but forget to click enter.
I will be happy to create a PR for that if you want (solved it already on my local project)

### Examples 🌈

When a

[2022-01-06 19:11] totszwai commented on #30494
@siriwatknp @michaldudak Just want to make sure we are on the same page, from issue https://github.com/mui-org/material-ui/issues/29644 someone mentioned that Mui would remove the keys (`disabled`, `checked`, `indeterminate`) from `styleOverrides`, but now you are saying you would do the opposite in v6?

Which way should we go with right now and forward in v6? We'd like to stick with the recommend

[2022-01-06 20:52] Hamza-101 commented on #30478
@socramm9
Still nothing
![image](https://user-images.githubusercontent.com/45544623/148450162-b9f3b994-8566-4d60-bbf8-566e4d061337.png)
![image](https://user-images.githubusercontent.com/45544623/148450242-e47d615c-fb43-4f92-bca4-881848b1dd16.png)

[2022-01-06 22:58] socramm9 commented on #30478
I am not able to reproduce your issue. Please upload your full repository.

[2022-01-06 23:09] MartinPham commented on #22426
Product: Discuzz - Open source comment system
Maintainer: Martin Pham
Link: https://discuzz.mph.am/
GitHub link: https://github.com/discuzz-app/discuzz
Screenshots:
![Discuzz](https://github.com/discuzz-app/discuzz/blob/main/docs/img.jpg)

[2022-01-07 00:34] austenator opened #30523 "Autocomplete Dropdown Z-Index & Scrolling Issue"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

We are seeing (also reproducible on the latest documentation examples as shown in the attached video below) that everywhere our project uses Autocomplete that as the user scrolls the dropdown menu is on a different z-index (best way I can describe what is h

[2022-01-07 02:57] joacub commented on #29193
Sorry for the time to response, but this still been a problem, is impossible to use modules in node since you don't put "type": "module" so when you use esm in node it will treat like commonjs and is not

[2022-01-07 03:11] joacub opened #30525 "ESM - Webpack 5 - NodeJs Server"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

 ESM are not usable in server side, after node 12 esm is enabled and when we want to use esm is imposible since the packages.json does not have type: module or the files are not properly named with .mjs ext.

when using import Accordion from '@mui/material/

[2022-01-07 03:27] siriwatknp commented on #30525
There is an afford to support ESM. https://github.com/mui-org/material-ui/pull/30510

[2022-01-07 03:35] siriwatknp commented on #30523
From what you describe, I would say that this is a bug in the docs.

This is expected if your Header has `z-index` <= 1300 (the Popper is using `theme.zIndex.modal`)

Can you share what it looks like on your side? and what do you expect?

[2022-01-07 03:36] Nicktho commented on #30506
To add my 2c, I would model this using the available `<Stack />` component, something like:

[code]

This way of thinking in boxes is something we've been getting our designers on board with too.

[2022-01-07 03:41] siriwatknp commented on #30223
Please provide a CodeSandbox so that we can see how you use it, thanks!

[2022-01-07 03:43] joacub commented on #30525
Nice, is there any deadline for this ?

[2022-01-07 03:55] #30250 closed

[2022-01-07 03:55] siriwatknp commented on #30491
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-07 03:58] siriwatknp commented on #30520
Thanks for reporting the issue! I am agree that we should mention the peer dependencies in the lab.

[2022-01-07 04:03] siriwatknp commented on #30521
From my quick thought, it sounds a good improvement for the free solo but do you see any concern for the usage that is not free solo?

[2022-01-07 04:53] ShivamTyagi12345 commented on #30249
i would like to help
/assign

[2022-01-07 05:06] uwinkler commented on #29679
Hi Benny,

thank you very much for your help. A quick follow-up question:

How do I type `sx` props correctly? This seems not to work if I want to share sx props:

[code]

[2022-01-07 06:39] Hamza-101 commented on #30478
@socramm9  https://github.com/Hamza-101/perosnalproject

[2022-01-07 08:06] socramm9 commented on #30478
You are missing 2 dependencies `@emotion/react @emotion/styled ` and you have to delete this line of code

`import reportWebVitals from './reportWebVitals';`

because the file does not exist.

if you don’t want to use emotion please take a look on these guides

[https://mui.com/getting-started/installation/](https://mui.com/getting-started/installation/)

[https://mui.com/guides/styled-engine/](ht

[2022-01-07 08:12] atillaaliyev opened #30526 "[Select] Menu item in Select Component floating top about 1 px"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Don't float , it should be smooth for good user experience

### Expected behavior 🤔

When menu item rendering or clicking select component for selecting item , menu items are floating top about 1px
https://mui.com/components/selects/#basic-select

if it doe

[2022-01-07 08:21] socramm9 commented on #30478
Correction `reportWebVitals.js` Seams to exist but only on your screenshot. Maybe you forgot to commit it

[2022-01-07 08:23] Hamza-101 commented on #30478
Yes, probably forgot to commit.

[2022-01-07 08:25] Hamza-101 commented on #30478
I'll try emotion files, but I am not using their components.

[2022-01-07 08:32] socramm9 commented on #30478
![F80E5FD6-23E0-4470-9501-BC11D347B9BF](https://user-images.githubusercontent.com/52098754/148515155-b802aa08-023b-4a0d-87fc-607c1a78d314.png)

 `@mui/marerial` Uses `emotion` or `styled-components` under the hood. So one of those is needed for everything to work

[2022-01-07 08:34] michaldudak commented on #30230
Sure, go ahead!

[2022-01-07 08:39] michaldudak commented on #29193
@Janpot has already started working on it in #30510. However, as this is a breaking change, we have to wait with releasing it for the next major.

[2022-01-07 08:55] Frooons commented on #30508
Thnx for the tips, only rendering an input when the user interacts with it has the most performance gains but this might lead to some confusion on the UX side for our end users. I hope MUI can improve its render performance for inputs, otherwise the "render input on interaction" idea is an interesting one to work out further.

[2022-01-07 08:55] joacub commented on #29193
With next major you wanna say mui v6 ? Or 5.3

[2022-01-07 09:37] socramm9 commented on #30508
You can style your inactive inputs to look like normal ones. So that the user doesn’t notice.

I think it will be difficult to further improve the rendering performance of the components.

I had a similar issue using Fluent UI. My solution was to use `React.memo`, `virtualization` and also to only render my inputs on hover

[2022-01-07 09:52] enflam3 commented on #17353
This seems to bee good solution for me , but another problem is that if you have more then one <Select> this triggers open all of <Select>. How would I modify it for multiple <selects> where only one can be open at the same time?

[2022-01-07 09:54] enflam3 commented on #17353
This seems to bee good solution for me , but another problem is that if you have more then one this triggers open all of . How would I modify it for multiple where only one can be open at the same time?

[2022-01-07 10:06] andreassk80 commented on #15251
How about using the [Utopia](https://utopia.fyi/) fluid type system?

[2022-01-07 10:10] siriwatknp commented on #30494
You should use classes from the component like this:

[code]

With this, you don't have to worry about v5, or v6. It will resolve the correct one in sync with the component.

[2022-01-07 10:15] michaldudak commented on #29193
v6 is where we'll be able to introduce breaking changes.

[2022-01-07 12:17] larsenwork commented on #29961
Curious about this too — fwiw here's a repro using the docs demo of the component — try selecting e.g. `The Lord of the Rings: The Return of the King` as an option to see why this could be valuable.
https://codesandbox.io/s/combobox-material-demo-forked-m5351?file=/demo.tsx
![image](https://user-images.githubusercontent.com/3859425/148543001-6f2691e6-b450-4be2-80f0-ebe0dc09156c.png)

[2022-01-07 12:46] githubjosh commented on #26369
hoping this solution finds its way to prod. it would really make the grid system more flexible and granular.

[2022-01-07 12:51] Hamza-101 commented on #30478
Still not working.

[2022-01-07 13:22] pradeepm93969 commented on #15073
@hdoshi2

After trying a dozen of solutions, this finally helped me. Thanks a lot.

Are there any side effects of using this?

[2022-01-07 15:23] cattre commented on #25574
Was about to open a new issue but might be covered with the work here - there doesn't appear to be a clear icon on this component (as there is for autocomplete). I guess it is similar to a standard TextField in this respect, but would be good for consistency if all fields could have this option.

Have tested on desktop with DatePicker and DesktopDatePicker.

[2022-01-07 15:40] garg10may commented on #13013
Why this is closed. This issue still persists. This even occurs for Select filed if the initial value is null.

[2022-01-07 17:17] austenator commented on #30523
@siriwatknp Thanks for the quick response. Could be both, it's interesting I'm able to replicate it with the docs.

I attached a video of what we are seeing.

**I did find out we are using V4**, so maybe this is obsolete in V5, but since I replicated it in the V5 docs I figured it was the same.

https://user-images.githubusercontent.com/21992376/148580931-09dc0590-7686-450d-837d-a3ffd8c24e49.mov

[2022-01-07 18:03] ChuckJonas commented on #19113
I've noticed the biggest offender in my project is using [`@mui/system/styled`](https://mui.com/system/styled/).

If I wrap an mui component (EG button), my typescript hangs for 30+ s.  I actually had to increase the memory limit to even get it to finish typecheck without blowing the heap.

[2022-01-07 18:20] EdmundMai commented on #30369
@mnajdova Sure I can look into this. Before I begin, would you mind pointing me to the specific file(s) I need to update to save time?

[2022-01-07 18:36] gabsrl commented on #12701
Thanks!!

[2022-01-07 18:59] gabsrl commented on #5996
If you want to this, nowadays you've gotta to use the new API (v5.2.7 of mui) way:

[code]

[2022-01-07 19:24] godmar commented on #22342
Could the documentation on this change perhaps be improved?  As is, I find it very difficult to distinguish what is now preferred and what is legacy. In particular, is the use of `styled` now legacy or still recommended?  And if so, which version of `styled`?
Is the creation of wrapper components that use `sx` now recommended (I believe yes (?), but can't be sure from reading the documentation.)

[2022-01-07 20:34] wesrisenmaymme opened #30529 "[Button] Small variant with startIcon or endIcon is misaligned vertically"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The text and icon are not vertically aligned when using the small size of the button:
![image](https://user-images.githubusercontent.com/87720385/148602037-73a27eb1-aa36-4fcb-80c9-ad518d3bfb65.png)

### Expected behavior 🤔

The text and the icon should be a

[2022-01-07 21:46] danilo-leal commented on #30529
Hey @wesrisenmaymme, thanks for opening the issue! However, I believe this is duplicated with #29965 - even though we didn't discuss the start or end icon being misaligned there, it's probably because of line-height. There's already a PR (#30240) open for solving it but since it's a breaking change, we'll most likely have to leave it in the backlog until it's time for the next major (v6).

[2022-01-07 21:51] danilo-leal commented on #30526
Hey @atillaaliyev, thanks for opening this issue! Could you be more specific about what's the issue you're seeing there? Is it the fact that there's no spacing between the Menu Item and the Select, as highlighted by the green line in this screenshot?

<img width="150" alt="Screen Shot 2022-01-07 at 18 50 19" src="https://user-images.githubusercontent.com/67129314/148612039-00c31192-7949-4347-896a-

[2022-01-08 06:21] markedwards commented on #30038
@mbrookes Why was this closed?  The above suggestion is only a workaround.  It should be possible to use `LoadingButtonProps` without tsc hanging.

[2022-01-08 11:09] p2k commented on #27532
@mnajdova this issue has (more or less) unexpected implications. The [toolbar mixin](https://github.com/mui-org/material-ui/blob/512896973499adbbda057e7f3685d1b23cc02de9/packages/mui-material/src/styles/createMixins.js) is defined like this:

[code]

Because of that, unexpected results can occur if you use the mixin in different environments (Babel, CRA, ...) because as it seems the order is not g

[2022-01-08 11:14] p2k commented on #27532
I have to add that an unintuitive solution is to do this:

`<Toolbar sx={theme => theme.mixins.toolbar }>`

At which point the styling engine will at least be deterministic (wrong or not).

[2022-01-08 14:01] shawnlwy85 opened #30535 "[AutoComplete] onChange not working in mui v5.2.7"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [x] I have tested the latest version

### Current behavior 😯

https://github.com/mui-org/material-ui/blob/v5.2.7/docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.js

I direct copy the whole code from the web and run it
it shows the onChange props not working (i put in the console.log) ,
when I key in

[2022-01-08 14:17] oliviertassinari commented on #29709
I can't reproduce the issue. Does anyone has a reproduction?

[2022-01-08 14:19] oliviertassinari commented on #30389
This is unrelated to #30344, #30344 is about Safari, the errors reported here are on Chrome.

[2022-01-08 14:23] oliviertassinari commented on #30344
I'm adding the "bug" label back so we can find all the bugs by only searching with this label. The "regression" label is a sub-type of bugs (regressions are usually x2-x5 more important relative to the other bugs).

[2022-01-08 14:24] oliviertassinari commented on #30389
Duplicate of #30343

[2022-01-08 14:24] #30389 closed

[2022-01-08 14:34] ariv797 commented on #30389
This is not a duplicate as the other issue is too specific

[2022-01-08 15:38] ludvigalden opened #30536 "Style override improvements (overriding child selectors in default styles)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Description 💡

I have successfully and rather easily migrated my application from MUI 4 to 5. I'm consistently annoyed with the tediousness in overriding the default styles, though. It can be explained using the following example:

If I want to override the styles of the `List

[2022-01-08 16:32] oliviertassinari commented on #30389
@ariv797 What error do you have in the console? Which URL are you on?

[2022-01-08 18:51] RemyMachado opened #30537 "`responsiveFontSizes` util to extract values"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'm using `responsiveFontSizes(theme)`.
I have a component composed of a `Typography` and an `Icon`.
The problem is that when I use big variants, for instance `h3`, I get a really small icon in comparison:
![image](https://user-images.githubusercontent.com/30229752/

[2022-01-08 19:37] RemyMachado commented on #30537
I made a terrible working POC, but I didn't succeed to make a type-safe version of it.
It returns an array of media queries coming from the theme that we can pass to sx.

[code]

It would be great if we could make an util function returning only the current `fontSize` instead of return every single media queries. It would allow to be passed to something else than `sx`, but one utility for `sx` onl

[2022-01-08 19:44] joranb opened #30538 "Bug with @material-ui/lab/Pagination"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I click on a page number to change page I need to click it twice. If I am on page 1 and click page 2, the first click has value 1 and if I click page 2 again the second click has the value 2. So 1 click just triggers my API to load the same page again

[2022-01-08 21:27] bdefore commented on #29822
A further note for the future fix: this occurred to me in reverse: running the codemon tool converted CRLF -> LF when run on my Manjaro Linux machine, causing a loud diff that interfered with review. This alerted me to another tool that had inadvertently changed my LF -> CRLF and something I wanted to address anyway, but ideally codemon's underlying tools don't make any line ending changes.

More

[2022-01-08 22:46] obsd commented on #30521
In regular mode, it should check if the written word is equal to one of the options if it is, select it, if not clear/do nothing.
Or if we want to keep it simple it could be an option for freeSolo only.

This is what I think, would love to hear your thoughts about that as well...

[2022-01-08 23:15] Fer0494 opened #30539 "[Tabs] Scrollable Tabs are sometimes displaying partial tabs"
### Duplicates

- [X] I have searched the existing issues
Which this PR apparantly solves it https://github.com/mui-org/material-ui/pull/22600 but it DOES NOT removes the partials.

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Actually Tabs are being display somehow partials, some tabs have more text, which they will have more width, however this cause to see

[2022-01-09 01:12] frantchessico opened #30540 "`TypeError: Cannot read properties of undefined (reading 'body1')`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Please inform with utmost urgency on the MUI website the libraries that are supported in this new version. I am of the opinion that some of them should be included in the documentation.

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Step

[2022-01-09 05:05] Richard-Halabi commented on #23484
**I have a similar issue when deploying to heroku , an autocomplete that is using a popper component is cauing a major memory leak but sadly this solution is not working.**

[2022-01-09 05:11] Richard-Halabi commented on #20940
I have an issue with v4 , mui autocomplete component combined with popper component it is causing a memory leak on deployment. https://stackoverflow.com/questions/63714557/react-app-that-runs-locally-crashes-on-heroku-h10-app-crashed

[2022-01-09 05:11] Richard-Halabi commented on #20940
I have an issue with v4 , mui autocomplete component combined with popper component it is causing a memory leak on deployment. https://stackoverflow.com/questions/63714557/react-app-that-runs-locally-crashes-on-heroku-h10-app-crashed

[2022-01-09 07:37] ariv797 commented on #30389
![Screenshot (80)](https://user-images.githubusercontent.com/76804697/148673475-67748733-9c14-4575-95b5-3fa00b10759c.png)

@oliviertassinari This error was on [this](https://mui.com/components/typography/#main-content) url. It fails when the page loads.

[2022-01-09 08:53] vanminhquangtri opened #30559 "How to custom title of weekday of Material-ui DateRangePicker"
I spend almost half day but can't not found any solution to customize the title of week day of Material-ui DateRangePicker. Instead of "S", "M",..., I want to show the title as I expected.
Already tried to custom the dateAdapter as below but this not helps.
I see that Material-ui has component called MuiPickersUtilsProvider which I can customize the day title as I want but this component not suppo

[2022-01-09 09:07] bandrewfisher commented on #30389
I am experiencing this same issue. When I change the primary or secondary color and click "Set docs colors", I receive the same error as @Nezpun

[2022-01-09 12:36] oliviertassinari commented on #30343
People keep complaining about this one, e.g. https://twitter.com/tolulopemalomo/status/1479730591935385601 or https://mui.zendesk.com/agent/tickets/2017 or https://mui.zendesk.com/agent/tickets/2014

[2022-01-09 13:17] oliviertassinari commented on #30389
Ok thanks, so it's a duplicate #30343, the error is with the colors.

[2022-01-09 13:43] joranb commented on #30538
You can close this issue, it was not a bug. The problem was with setState and functional components, you can't provide callback so I had to use useEffect like this:

  const isFirstRender = useRef(true);
  useEffect(() => {
    if (isFirstRender.current) {
      isFirstRender.current = false; // toggle flag after first render/mounting
      return;
    }
    fetchData({ search, page, pageSize });

[2022-01-09 14:02] alisasanib commented on #29310
Hi! I would like to work on this issue :)

[2022-01-09 19:15] stunaz commented on #30506
Here is my implementation
[code]

[2022-01-09 19:24] stunaz commented on #16239
@oliviertassinari  How do you prioritize the "waiting for +1", looks like this is the most upvoted for a long time now

[2022-01-09 19:47] oliviertassinari commented on #16239
We display it as part of MUI X in the roadmap, I propose we transfer this issue to MUI X, so the Core team can focus on what has been making it successful so far:

<img width="615" alt="Screenshot 2022-01-09 at 20 45 38" src="https://user-images.githubusercontent.com/3165635/148698124-c0c5eefa-9de6-41bb-99c5-f45f9cb567d8.png">

cc @mui-org/core @mui-org/x for thoughts

[2022-01-09 23:20] michaeltford commented on #29744
Hi, Please let me know if I should create a new issue but I thought 'Styling does not work' fits my description.

A more descriptive statement is "PaperProps and PopupProps" are not 'compatible' with Stylized Components.

(Stylized Components generate new Components not just new className entries). (I personally think this is a limitation of Stylized Components but...).

My use case is that I am t

[2022-01-09 23:33] atillaaliyev commented on #30526
https://user-images.githubusercontent.com/6121871/148705465-258e97d4-e6a5-4196-b41e-aab0c19b7561.mp4

https://user-images.githubusercontent.com/6121871/148705643-27b9eff9-1d41-4ff1-85bb-eec50f282a0a.mp4

Hi @danilo-leal ,
You should focus to menu items, you will see rendering problem.

[2022-01-10 00:35] AlbinoGeek opened #30562 "mui.com documentation imploded "Cannot read properties of undefined (reading 'type')""
## Probably reported to the wrong place, for that I apologize.

### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://mui.com/components/text-fields/#main-content implodes.

![image](https://user-images.githubusercontent.com/1910461/148707493-7b90feb2-e2d0-4831-9dcd-0d85c14c410a.png)

### Expected beha

[2022-01-10 02:22] AlbinoGeek commented on #30562
This appears to have now been fixed. I wonder what happened?

[2022-01-10 03:57] pdemarino opened #30564 "[typescript] `createTheme` typing should include `MuiWithWidth`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The following code works, but it is generating a TypeScript error: `Object literal may only specify known properties, and 'MuiWithWidth' does not exist in type 'Components'.ts(2322)`

[code]

### Expected behavior 🤔

No typescript errors

### Steps to repro

[2022-01-10 07:01] SebHex commented on #29742
I've got a `Next.js 12 (SWC)` + `MUI 5` + `styled-components` + `TypeScript` build working so far, with the following setup:

<details>
<summary>package.json</summary>

[code]
</details>

<details>
<summary>next.config.js</summary>

[code]
</details>

<details>
<summary>tsconfig.json</summary>

[code]
</details>

<details>
<summary>pages/_document.tsx</summary>

A [custom document](https://nextjs.

[2022-01-10 07:11] e965 opened #30565 "@mui/codemod outputs mess"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying to upgrade from v4 to the new v5. I installed the necessary packages, try to run the codemod - and it outputs some kind of incomprehensible noise.

### Expected behavior 🤔

Everything is working fine, I suppose?

### Steps to reproduce 🕹

_No re

[2022-01-10 07:36] pussyslain commented on #30565
Probably affected by this https://www.theverge.com/2022/1/9/22874949/developer-corrupts-open-source-libraries-projects-affected

[2022-01-10 07:48] laclance commented on #30348
@siriwatknp any update please? I updated packages and still get the same errors [ https://github.com/laclance/mui-styles/](url)

[2022-01-10 07:58] e965 commented on #30565
@pussyslain perhaps this is really the reason - I tried to do the codemod before ТН, in the middle of december - and then everything worked fine.

[2022-01-10 08:16] e965 commented on #30565
@pussyslain yes, that really is the problem.

Temporary solution:

1. Install the `@mui/codemod` package locally in the project
2. put this in `package.json` file:

[code]
3. create script

[code]

4. run:

[code]

And everything works as it should.

[2022-01-10 08:29] Vahid-Taheri commented on #30565
@e965 very on-time solution. :+1:  I was looking for it right now!
In my case, it works by running `yarn install` before the 4th step after adding resolutions.
Thanks

[2022-01-10 08:40] siriwatknp commented on #30521
I think it make sense to support saveOnBlur only for freeSolo mode. Feel free to submit a PR and tag me. Thanks!

[2022-01-10 09:42] e965 commented on #30565
The problem is present in a `jscodeshift` package that uses a `"colors": "^1.1.2"` dependency (and of course, when trying to install a newer version, an infected one is installed).

Issue - https://github.com/facebook/jscodeshift/issues/474

[2022-01-10 10:08] siriwatknp commented on #30348
@laclance Please take a look closely at the `shouldForwardProp`. It should be inside 2nd argument of `styled`.

This is **WRONG**:
[code]

This is **CORRECT**:
[code]

[2022-01-10 10:22] socramm9 commented on #30478
I can't help you if the only information you give me is

It works fine for me. This is what I did:

1. Download your repository
2. run  `npm i @emotion/react @emotion/styled`
3. remove `import reportWebVitals from './reportWebVitals'`
4. run `npm start`

Result:

<img width="1810" alt="Bildschirmfoto 2022-01-10 um 11 14 33" src="https://user-images.githubusercontent.com/52098754/148749464-099c66c4

[2022-01-10 10:50] #30346 closed

[2022-01-10 10:58] hbjORbj commented on #29679
@uwinkler

Here is a [codesandbox](https://codesandbox.io/s/passingsxprop-material-demo-forked-13ujy?file=/demo.tsx) I just created. Please check it out.

[2022-01-10 11:51] #30343 closed

[2022-01-10 12:27] #30488 closed

[2022-01-10 12:51] abhinav-22-tech opened #30566 "[Store] MUI Store favicon is not showing"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

![image](https://user-images.githubusercontent.com/66718489/148768644-987f8bb9-820a-485f-86af-953d07795360.png)

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1. Visit https://material-ui.com/store/

### Context 🔦

_No response_

[2022-01-10 13:08] vdpdev commented on #12827
@siriwatknp The main idea of css variables for me is to use them inside of *.module.css files. This allows me to decrease rerenders because of hook styles changes (maybe they never will but it's still possible) and improve performance.
Does your proposal allows to use css variables inside of *.module.css files?

[2022-01-10 14:34] otaviobps commented on #30279
+1

Setting to `null` also cause troubles with `yup`, having to set a `nullable` or `typeError` validation. I want to customize the default behavior of my `Autocomplete` to an empty string

[2022-01-10 14:47] ChambreNoire opened #30568 "[Select] Grouped native Select in FormControl with "standard" variant does not hide empty value option"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using a grouped Select component with the native <optgroup> element (I use the native optgroup as it renders in a more visually pleasing way). This is used within a <FormControl> with the "standard" variant alongside an InputLabel.
If I provide an empty

[2022-01-10 15:15] pothosproject opened #30569 "No overload matches styled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

From the example https://mui.com/components/app-bar/
![Screenshot_theme_mixins](https://user-images.githubusercontent.com/70979135/148786151-88dc2f12-a8e4-42c6-80a3-656f1961f5e9.png)

[code]

[code]

### Expected behavior 🤔

Typescript should not throw erro

[2022-01-10 15:24] egilsster opened #30571 "[Switch] Hard to override Switch size variants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Not exactly sure how to do the override, but in Material-UI v4 I was using this to change the size of the thumb:

[code]

which I changed to

[code]

But this does not affect the thumb.

### Expected behavior 🤔

It should change the height/width of the thum

[2022-01-10 15:25] Kizmar opened #30572 "[Documentation Request] Advanced use of `styled()` on components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently converting our app's styling method from `makeSyles()` to `@mui/material/styles styled()`. Hitting some complexities that I haven't been able to resolve by reviewing the docs. Maybe I'm blind and it's already documented somewhere, but can we get more in-de

[2022-01-10 15:36] Kizmar commented on #30572
Of course, 13 seconds after I post this, I figure out the issue.
[code]

[2022-01-10 16:20] patrickcze opened #30573 "TextFields inner inputs in a Drawer do not return to their original locations in ipadOS Safari when running as a PWA"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using TextFields in a Drawer in ipadOS Safari when the application is running in PWA mode and has been saved to the users desktop. If a user uses the keyboard close button on the Safari virtual keyboard then the input element within the TextField does

[2022-01-10 17:11] wesrisenmaymme commented on #30529
This is indeed a duplicate. Thanks for the explanation.

[2022-01-10 17:11] #30529 closed

[2022-01-10 17:32] danilo-leal commented on #30571
Hey @egilsster, thanks for opening up the issue. Maybe the issue was only that you didn't add a space between `&` and the class name.

[code]

This should work! Let me know if it did for you.

[2022-01-10 18:27] danilo-leal commented on #30566
Hey @abhinav-22-tech, the MUI Store code lives inside a private repo so we'll update it there. Thanks for opening the issue and for the heads up! cc @oliviertassinari

[2022-01-10 19:11] nannu-coder commented on #30279
when i click next it is go next but my input value is empty.how to slve this?

[2022-01-10 19:19] atillaaliyev commented on #30526
Yes, it is.

[2022-01-10 19:21] siamahnaf198 opened #30575 "Material ui dark mode reset when page refreshing?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am using mui5(Material Ui) in my nextjs application. I am trying to implementing dark mode. All are going well. I want a feature that if any user toggle the dark mode then it will be saved in local-storage. Then when I refresh the page, It automatically g

[2022-01-10 21:05] totszwai opened #30576 "No Mui-error class (error state) with FormGroup and FormControlLabel"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Taken straight from Mui's own demo example:
https://mui.com/components/checkboxes/#formgroup
https://codesandbox.io/s/zrn3v

As of the latest 5.2.8, there is still no way to determine and customize (via theming) the error state of the `FormGroup` and `FormC

[2022-01-10 21:11] DanielManning opened #30577 "DatePicker does not show weekday text in non-English languages"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Non-English languages only show the day and the month in the header text of the DatePicker.

### Expected behavior 🤔

If the browser's language is set to English, the date displayed in DatePicker (e.g. StaticDatePicker) is `${dayOfWeek}, ${month} ${day}` (e

[2022-01-10 22:39] oliviertassinari commented on #30346
@alexandre-lelain Note that in your test example, developers might prefer to query the input with the a11y label of it, to ensure that it's properly labeled, for example:

[code]

[2022-01-11 00:06] #30467 closed

[2022-01-11 00:06] #30142 closed

[2022-01-11 02:46] siriwatknp commented on #30447
You can take a look at our docs implementation. https://github.com/mui-org/material-ui/blob/f80abbb5f942064c9c270b2ac5bb2a2318876754/docs/src/modules/components/DemoSandboxed.js?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L18

**Note**: neglect the `jss` if you are using MUI v5

[2022-01-11 02:59] Angusross111 opened #30579 "Textfield padding added via emotion sx object breaks label positioning"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Reproduction forked from the latest Nextjs Mui v5 [example](https://github.com/mui-org/material-ui/tree/master/examples/nextjs) with an added textfields:
https://stackblitz.com/edit/github-jkq4vj?file=pages/index.js

Adding `'& .MuiInputLabel-root': { p: 4

[2022-01-11 04:15] Tjajeer opened #30580 "Theme configuration not working properly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

MUI theme configuration like typography and components override not working, sometimes page refresh it works, but most of time it does not work

- Typography like h1 override does not work
<img width="357" alt="Screenshot 2022-01-11 at 9 38 06 AM" src="http

[2022-01-11 06:49] egilsster commented on #30571
Interesting, that actually did the trick. So far, none of my overrides have had spaces between `&` and the selector but they are working. Anyways, I will close this issue since it was a user problem anyways. Thanks!

[2022-01-11 06:49] #30571 closed

[2022-01-11 08:00] chaosmirage commented on #29086
Workaround: `calc(${theme.spacing(2)} - 1px)`

[2022-01-11 08:42] mnajdova commented on #30535
The `onChange` in the Autocomplete is invoked when the value inside the `Autocomplete` changes, for example new value is selected. You are probably looking for the `onInputChange` prop, in case if you want to track changes on the `input` field itself.

[2022-01-11 08:42] #30535 closed

[2022-01-11 08:59] BC-M commented on #26664
Add following prop to TimePicker as workaround:

[code]

Try here: [codesandbox](https://codesandbox.io/s/responsivetimepickers-material-demo-forked-vcpib)

However, since I do not know the side effects, please use with caution!

[2022-01-11 09:06] mnajdova commented on #27532
Right, we need to update the `toolbar` mixin, by moving the `{orientation: landscape)` inside the `xs` breakpoint. @hbjORbj I remember we discussed this already, would you like to create a PR and validate that it works as expected?

[2022-01-11 09:11] mnajdova commented on #29345
It is a breaking change, so I am not sure that we can start with it right away (at least we cannot update the components which are part of `@mui/material`). We could try to adopt the styles to some of the components that we have inside `@mui/material-next` - this is our experimental package that depends on `@mui/base` that we envision will be the replacement for `@mui/material` v6. In my opinion t

[2022-01-11 09:25] shagungarg0 commented on #29965
can i work on this issue??

[2022-01-11 09:25] mnajdova commented on #29742
Thanks, @subodha and @SebHex for sharing your examples, I was reluctant to depend on the `experimental` option for nextjs, but it could be our only working option. I will test out the repositories you've shared and post my update here.

[2022-01-11 09:47] mnajdova commented on #22342
@godmar thanks for your feedback. For sure, we need to work on the documentation. @danilo-leal had a great suggestion on how we may approach this. As for now, everything under the `System` and `Customization` is preferred, everything under `Styles (legacy)` is legacy. You can find these as section in the Docs' drawer.

[2022-01-11 09:52] mnajdova commented on #30436
@lvauvillier I was on vacation, I've just seen your comment. Let me test it and verify that it works, and I will update the Remix example.

[2022-01-11 09:55] mnajdova commented on #27130
@paales looks like it wasn't updated as it is done with the other components, for example, the [Button](https://github.com/mui-org/material-ui/blob/v5.2.7/packages/mui-material/src/Button/Button.js#L428) We also need to update the types for the props. Would you like to create a PR for this?

[2022-01-11 10:17] hbjORbj commented on #30539
It doesn't look like this bug report has enough info for one of us to reproduce it.
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-11 10:29] hbjORbj commented on #30537
Hi. From the object output of `responsiveFontSizes(theme)`, you can cherry-pick the font-size already. Check out https://github.com/mui-org/material-ui/blob/master/packages/mui-material/src/styles/responsiveFontSizes.test.js

[2022-01-11 10:32] hbjORbj commented on #30568
Hi. You should pass `shrink={true}` to `InputLabel` component.

Check out https://codesandbox.io/s/groupedselect-material-demo-forked-yys71

[2022-01-11 10:33] hbjORbj commented on #30540
It doesn't look like this bug report has enough info for one of us to reproduce it.
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-11 10:35] hbjORbj commented on #30579
It doesn't look like this bug report has enough info for one of us to reproduce it.
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-11 10:43] hbjORbj commented on #30579
Hi.

I am not sure what you are trying to achieve via padding, but you can use margin instead. You can either pass `mx` or `my` to `sx`. Check out stackblitz I just created [here](https://stackblitz.com/edit/github-jkq4vj-etjaad?file=pages/index.js).

You can also pass a `margin` prop to adjust vertical spacing. More details are [here](https://mui.com/components/text-fields/#margin).

I hope that

[2022-01-11 10:53] mnajdova commented on #29816
@vinayr you can do this using the `experimentalSx`. See https://mui.com/system/styled/#how-can-i-use-the-sx-syntax-with-the-styled-utility

[2022-01-11 10:56] mnajdova commented on #30435
@patspam there is a list of which CSS properties are available under the Docs' System section. We do not support all CSS properties as first class props.

[2022-01-11 10:57] subodha commented on #29742
Hi @mnajdova ,
small update, as per the current situation **swc styled component support** is not `experimental` anymore It has been officially launched with SSR support. Please refer the https://github.com/vercel/next.js/issues/30802

[2022-01-11 11:06] mnajdova commented on #30369
@EdmundMai you should touch the [`useAutocomplete.js`](https://github.com/mui-org/material-ui/blob/master/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js) and maybe the [`Autocopmlete.js`](https://github.com/mui-org/material-ui/blob/master/packages/mui-material/src/Autocomplete/Autocomplete.js) files.

[2022-01-11 11:09] mnajdova commented on #30294
It's not perfect that you need to bump the specificity here, we should work on improving the DX for customizing the `Select` overall. This is not specific to CSS modules. You would need to bump the specificity in this case.

[2022-01-11 11:40] boutahlilsoufiane commented on #29385
Hi @mnajdova and @hbjORbj, I will work on this!

[2022-01-11 11:41] boutahlilsoufiane commented on #29385
Hi @mnajdova and @hbjORbj, I will work on this!

[2022-01-11 11:59] abhinav-22-tech commented on #29965
#30240 This is already on hold.

[2022-01-11 12:10] hbjORbj commented on #29385
@boutahlilsoufiane Please go ahead! We always appreciate contribution of the community.

[2022-01-11 12:10] hbjORbj commented on #27532
@mnajdova Sure, I will own this.

[2022-01-11 12:28] shagungarg0 commented on #29965
I am a beginner and target gsoc this year..can you guide me that how i should start??

[2022-01-11 12:36] agoblet commented on #29692
I am experiencing a similar issue as well. From reading this issue and the PR, it might actually be the same issue. My masonry [layout](https://github.com/agoblet/agoblet.github.io/blob/main/src/routes/content/Content.tsx#L33) is breaking as well. I only have this problem after deploying to production. My tiles have images in there, so the delayed loading might cause the masonry to compute the wro

[2022-01-11 12:36] #30435 closed

[2022-01-11 12:54] ssljivic commented on #25324
@oliviertassinari can you please reopen this ticket since there is an issue as described above. The styles got overridden due to the order of styles in HTML: mui styles are being placed after the user defined styles, thus we cannot override the default styles.

[2022-01-11 12:59] hbjORbj commented on #30564
I think your codesandbox is not complete. Can you check?

[2022-01-11 13:13] danilo-leal commented on #29965
Hey @shagungarg0, thanks for the willingness to start working on this issue. However, @abhinav-22-tech already took the lead and opened the PR for it but given it is a breaking change, we put it on hold until the next major (can't give you a prediction when that will happen exactly though).

To find more good opportunities to contribute and learn, you can filter the issues with `good to take` and

[2022-01-11 13:17] ssljivic commented on #25324
Just found the solution - it is well documented :)

https://mui.com/guides/interoperability/#css-injection-order-3

[2022-01-11 13:56] cryptoAlgorithm commented on #29345
Ok, great. Maybe this can be introduced as part of the material-ui v6 update? Since by then, material v3 styles should be quite common across sites using material design. We might want to wait and see how Google handles this in their own Material Web Components library, and how they actually look.

[2022-01-11 14:13] mnajdova commented on #30576
This is not a regression, since it behave like that before. It is not something broken in 5.2.8. I am marking it as an enhancement, as it is pretty much an ask for a new feature.

I would say it is a low priority as you can anyway use the error state variable for adding conditionally a class name or styles. But if someone from the community would like to work on it, please feel free to grab it.

[2022-01-11 14:13] drzackyll commented on #30535
I see this is somehow already closed, but +1 for me. I tried migrating from @material-ui/lab to @mui but onChange does not fire in the new version.

[2022-01-11 14:15] mnajdova commented on #30580
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

-----

Did you use the examples projects we prov

[2022-01-11 14:18] mnajdova commented on #30575
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

-----

Are you using the examples project that w

[2022-01-11 14:19] mnajdova commented on #30573
I've re-open the original issue. Duplicate of https://github.com/mui-org/material-ui/issues/30573

[2022-01-11 14:20] #30573 closed

[2022-01-11 14:23] mnajdova commented on #30569
I can't spot any issues in https://codesandbox.io/s/laughing-vaughan-0c8w2?file=/src/App.tsx Can you share a reproduction?

[2022-01-11 14:24] #30538 closed

[2022-01-11 14:36] #30565 closed

[2022-01-11 15:42] mnajdova commented on #30536
Thanks fort he feedback @ludvigalden!

Even by definition, you want to override `ListItem` in context when it is used inside `MenuItem`, so for sure this cannot be defined in the `MuiListItemIcon`. The same would go when it is used in the `ListItem`. I would say that what you proposed as a solution is what is correct.

If we don't go in this way, we would need to create new components for basicall

[2022-01-11 15:45] mnajdova commented on #30516
You could easily create test utils module on your side. Why do you think this should be part of the library?

[2022-01-11 15:46] mnajdova commented on #30451
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-11 16:04] ImanYZ commented on #29692
I also tested the PR and it works fine. When will you release the solution?

[2022-01-11 16:53] pdemarino commented on #30564
Hi - thanks for your reply!

The Codesandbox was just meant to illustrate the Typescript error - that was the goal. `createTheme` works fine, the issue is just with the typings.

![Screenshot from 2022-01-11 11-51-24](https://user-images.githubusercontent.com/4493847/148986136-28d84ab3-c9a8-4d80-a7e2-573085ecbc57.png)

[2022-01-11 16:54] #30478 closed

[2022-01-11 17:03] hamidreza-nateghi opened #30582 "Styles apply on next render when RTL toggle button is clicked"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using MUI v4.0
When I click toggle button, select input styles apply on second render.
[![Edit aged-flower-l31xf](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/aged-flower-l31xf?fontsize=14&hidenavigation=1&theme=dark

[2022-01-11 19:25] kgregory commented on #28339
@jaminthorns I ran into this too.  Thanks for supplying the reproduction.

Seems like some work needs to be done to `TransitionProps` before it's spread.

Something like this:

[code]

For now I'm going to live with the warning until this is fixed or we can upgrade.

[2022-01-11 19:40] godmar commented on #22342
Thank you. I'm still confused, though.

For instance, [Styled components API](https://mui.com/styles/basics/#styled-components-api) is under the "Styles (legacy) -> basics" drawer and describes the use of `const MyButton = styled(Button)({ .... })` - so this would be legacy.

However, under System -> styled -> API [here](https://mui.com/system/styled/#styled-component-options-styles-component) it

[2022-01-11 19:40] ValentinH commented on #15827
@rickstaa thanks for the awesome explanation and detailed examples! 😍

I'm trying one more thing: override the default `color` prop of the Button with something like `'color1' | 'color2'`.

The closest I got is using `Omit<>`. However, TS then accepts any other props like your "notallowedvariable" 😞
[code]

If I don't use Omit and simply do:
[code]
the Button only accepts the original colors (prim

[2022-01-11 19:54] totszwai commented on #30576
@mnajdova Let's say we have a `FormControl` and it contains several `FormGroup` and many `FormControlLabel`, is pretty annoying to keep passing the error states along when we could just style them through Mui theming easily.

Could you provide a simple solution on how to use the error state to style them properly?
As of right now, we have to pass the error state chain over from the parents to mult

[2022-01-11 21:46] justdvl commented on #18985
@oliviertassinari can you please add to documentation that noOptionsText doesn't work with freeSolo?
It's not nice if documentation is misleading and misses such an important information.

[2022-01-11 22:19] Angusross111 commented on #30579
I can see how using margin on a Textfield makes more sense than padding now. thanks.
The reason I was staying away from margin was the textfields and buttons were overflowing the parent container as shown [here](https://stackblitz.com/edit/github-jkq4vj-ausyhc?file=pages/index.js)

[2022-01-12 02:18] hbjORbj commented on #30579
In this particular case, instead of using `m`, you should use `my` or `margin` prop. Overflowing is happening because you are passing `m`, which affects the horizontal spacing as well. I pass `my: 4` in [here](https://stackblitz.com/edit/github-jkq4vj-anbniv?file=pages/index.js).

I am sure that solves your problem.

I will close this issue.

[2022-01-12 02:23] hbjORbj commented on #29692
@agoblet Hi, can you replace `@mui/lab: ...` in your `package.json` with `    "@mui/lab": "https://pkg.csb.dev/mui-org/material-ui/commit/1f395898/@mui/lab",` and then see if your issue is solved?

[2022-01-12 02:54] hbjORbj commented on #30279
In fact, as @otaviobps suggested, using `reason` argument of either `onChange` or `onInputChange` prop will do the job, and hence I will close this issue.

@nannu-coder Please create a separate issue with a codesandbox that clearly shows the error. You can fork this template (https://material-ui.com/r/issue-template-latest).

[2022-01-12 02:54] #30279 closed

[2022-01-12 05:28] ttahir86 commented on #18494
not rendering the select isn't part of my requirements so that may not be a practical solution for some people. Like another poster, I have 2 selects: A and B. B's select choices are dependent on A. The first time, everything loads fine. But when you change A, the B select clears out and the choices update. Everything still works. Only difference is that this warning is thrown. What exactly is the

[2022-01-12 06:57] BangrongGao opened #30584 "[docs] Demo ScrollPlayground crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20ScrollPlayground%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/data-grid/scrolling/#scrolling-to-specific-cells
2. ??
3. demo *ScrollPlayground* crashes

## Your Environment
| Tech         |

[2022-01-12 08:22] andrei9669 commented on #30507
One more thing with this issue is that in the docs, it is recommended to use a component prop for more richer structure(https://mui.com/guides/routing/#global-theme-link) but the issue with this approach is that if I want to style it, then this approach won't work.
[code]

[2022-01-12 08:57] d4rky-pl commented on #29492
For those of us that do _"see a big value of adding this API"_ and like to keep decorative props with the rest of the styles where they belong:

[code]

[2022-01-12 09:24] michaldudak commented on #29345
Agree. Just note that `material-next` is our experimental (playground) package. We intend to test different shapes of the API there and introduce breaking changes without notice, so it's not safe to depend on it in production.

[2022-01-12 09:30] fanismahmalat commented on #11557
`disableTypography` is not supported in ^mui@5.0.0

Any alternatives?

[2022-01-12 09:38] subodha-atomix commented on #29742
I have created a working example for [styled-engine-sc] MUI + styled-components + Next.js  TS with SWC  🚀 ..

https://github.com/subodha/next-ssr-ts-swc-mui-sc-example

Theme can be customized by updating  `src/theme.ts`

It works fine for me. Feel free to share anyone feedback

[2022-01-12 09:43] SenalDolage commented on #29742
@subodha  This seems to be a working solution for me too, thanks for this!

[2022-01-12 09:52] AndyW22 commented on #29742
@subodha-atomix @SebHex  Sorry but neither of these examples are solving the issue as you are not actually using styled components anywhere in the repo. This is the same problem the material ui example repo has, the problem is not setting up styled components and being able to build.
The problem is that **actually using** styled components with material ui doesn't work, for example:

[code]

I hav

[2022-01-12 10:16] subodha commented on #29742
Hi @AndyW22

Have you tried with @mui/system styled instead using import `styled` from `'styled-components'`;

[code]

I updated the repo here. please do let me know is the issue is still there

https://github.com/subodha/next-ssr-ts-swc-mui-sc-example/blob/main/src/pages/index.tsx#L18

[2022-01-12 10:21] AndyW22 commented on #29742
i tried running the server from that repo, but it gives:
[code]

[2022-01-12 10:23] Mikheil-A commented on #24282
@Overkloker 's solution worked for me: https://github.com/mui-org/material-ui/issues/24282#issuecomment-952211989

btw, instead of `emotion-theming` you can use `import {ThemeProvider} from '@storybook/theming'` if you don't want to add another dependency to your project.

[2022-01-12 10:23] subodha commented on #29742
you have to add install `@mui/styled-engine-sc` manually
I have mentioned it on the readme file. Do let me know it you have any issue after that

[2022-01-12 10:24] subodha commented on #29742
you have to add install @mui/styled-engine-sc manually
I have mentioned it on the readme file. Do let me know it you have any issue after that

[2022-01-12 11:11] joserodolfofreitas commented on #16239
Makes sense to have the component in MUI-X. A carousel is a fairly advanced component, with multiple kinds of user interactions and behaviours, and possibly a high demand for customisation.

+1 on moving the issue to X.

[2022-01-12 11:25] mnajdova commented on #29742
Why would this be required? It doesn't even produce any changes in `package.json`?

[2022-01-12 11:27] slDias opened #30585 "The website's install command example is incomplete"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The install command presented at the website is missing the dependencies
`npm install @mui/material`

### Expected behavior 🤔

It should include the dependencies as shown in the documentation
`npm install @mui/material @emotion/react @emotion/styled`

### S

[2022-01-12 11:28] subodha commented on #29742
It didn't install via yarn install even it is on the package json. I'm working on that @mnajdova

[2022-01-12 11:28] mnajdova commented on #29742
@subodha I've replaced the code from https://codesandbox.io/s/wandering-sunset-3x4xd?file=/src/Copyright.tsx:0-427 using two pages and I manage to break it after the first edit of a page.

[2022-01-12 11:28] mnajdova commented on #29742
@subodha we had a similar setup, but needed to revert it, see https://github.com/mui-org/material-ui/pull/27917 as an example

[2022-01-12 11:32] subodha commented on #29742
I will check on this

[2022-01-12 12:34] #23043 closed

[2022-01-12 12:52] snehaelsaalex commented on #30453
If the review of the PR is completed, kindly merge.

[2022-01-12 12:53] slaby93 opened #30588 "Custom Button variant with custom color doesn't work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I do create custom theme like this:
[code]

Then I do render them like this:
![image](https://user-images.githubusercontent.com/12088647/149143165-9790ddfe-59c5-44c3-81fe-4caa335b04d8.png)

This is the outcome:
![image](https://user-images.githubusercontent

[2022-01-12 12:59] #29310 closed

[2022-01-12 13:10] mnajdova commented on #29742
I've updated https://github.com/mui-org/material-ui/pull/29873 to also add `withConfig` internally on all MUI components, but still, it doesn't solve the issue. I will extract the changes that are necessary for the plugin to work and will continue iterating on that PR. If someone wants to give a try on the latest packages build there these are the packages you will need:

[code]

[2022-01-12 13:25] AndyW22 commented on #29742
@subodha thanks I was able to get my app to work with @mui/system . there are a few problems I've noticed:

- Using `react-material-ui-form-validator` The inputs have a really short height for some reason, and aren't fixed by any style changes. If i import a `<TextField />` , then that will fix the styling of all the inputs, even though I'm not using the `<TextField />, it breaks again if I try an

[2022-01-12 13:41] abhinav-22-tech commented on #30588
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-12 14:06] michaldudak commented on #30585
I assume you mean the command on the https://mui.com/ page.
You're right, this command does not include all the dependencies required to develop applications with MUI. However, I see it more as a marketing feature. The detailed instructions on how to install the required package and start coding are in the docs (right under the Get started link). I'm not convinced if listing the dependencies here

[2022-01-12 14:48] Regiss05 opened #30590 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=what
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|------

[2022-01-12 15:10] mnajdova commented on #29742
@AndyW22 why don't you use the default styled engine - emotion? There aren't any known problem with it. You can still use the `styled()` from `@mui/system`. Even in v4, material-ui doesn't come with build in `styled-components` support. Note that you can still use `styled-components` for overriding when using the default styled engine, the problem is that you would need to have both styling engine

[2022-01-12 15:17] AndyW22 commented on #29742
my app is quite deeply vested into styled components so I haven't really been considering switching over to emotion. Looking at the documentation it looks very similar though, so maybe I'll change to emotion if I get round to it.

[2022-01-12 15:20] ZeeshanTamboli commented on #30590
@Regiss05  Please hard refresh the docs page. The latest version is v5.2.8.

[2022-01-12 15:20] #30590 closed

[2022-01-12 15:34] georgesglynn opened #30591 "DatePicker AdapterLuxon start day of the week with Sunday"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hello! I am a dev at Southwest Airlines and we have absolutely LOVED using the MUI package for our team's application.

We are currently on V4, I am working towards getting us upgraded to V5. This particular issue has been around for us since early last year but now

[2022-01-12 15:49] mnajdova commented on #30436
@lvauvillier I've created https://github.com/mui-org/material-ui/pull/30592 based on your codesandbox. The only problem I could notice is the flickering when going from 404 to a valid page. I think it's coming from the GlobalStyles.

Note that I've updated in the meantime the example project to not require double rendering (see https://github.com/remix-run/remix/issues/1325, seems like the example

[2022-01-12 17:03] BC-M commented on #29480
Same as #26664.

[2022-01-12 17:49] subodha commented on #29742
the main difference I could find is _document.tsx
Our one is https://codesandbox.io/s/nextjs-ssr-with-styled-components-typescript-14exc?file=/pages/_document.tsx

[2022-01-12 17:51] subodha commented on #29742
hi @mnajdova
the main difference I could find is _document.tsx
Our one is https://codesandbox.io/s/nextjs-ssr-with-styled-components-typescript-14exc?file=/pages/_document.tsx

[2022-01-12 19:09] kdany25 commented on #9716
Thank you @narkai

[2022-01-12 19:44] agoblet commented on #29692
@hbjORbj yes that seems to resolve the issue :) removed the workaround and added that branch, and cannot reproduce the issue on production.

[2022-01-12 20:46] krzema12 opened #30594 "Include Kotlin/JS examples in the docs"
Hi Team!

As you may know, Kotlin can be transpiled to JavaScript. Kotlin's wrapper around MUI is in development: https://github.com/JetBrains/kotlin-wrappers/tree/master/kotlin-mui and is already pretty usable. It has its own showcase https://github.com/karakum-team/kotlin-mui-showcase that works as docs, but I thought it would be really cool if MUI's docs could offer examples in Kotlin, straight

[2022-01-12 21:20] leonardorafael commented on #29345
Hello my friends, if you need MATERIAL DESIGN 3 how about https://www.beercss.com?

![theme-1](https://user-images.githubusercontent.com/12979016/149222946-f7158c88-8052-434f-94ac-ce0cfa350f97.gif)

[2022-01-12 22:36] ConnerAiken commented on #30209
@alonmatthew and I found if you set the nested columns grid explicitly to: `<Grid columns={12}>`, it will still inherit the parent grid column count.

However, if you set either of these, it will work:
- `<Grid columns={{xs: 12}}/>`
- `<Grid columns={'12'}/>`

[2022-01-12 22:49] Meligy commented on #19113
Just for the team visibility, this continues to be an issue for many developers, and the team might not see that because most of the noise is happening in TypeScript's own repository:

https://github.com/microsoft/TypeScript/issues/34801

And a member of the TypeScript has just used [a comment from 2020 in this thread above](https://github.com/mui-org/material-ui/issues/19113#issuecomment-59310079

[2022-01-12 22:51] embeddedt commented on #19113
At this point, I often just try to disable MUI types as much as possible in my codebase to prevent autocompletion lag.

[2022-01-12 23:09] danilo-leal commented on #30526
By accessing the documentation on my machine, I'm not being able to reproduce. But, accessing the Codesandbox for the first Select demo (https://codesandbox.io/s/m60rm?file=/demo.js) I can see the flickering indeed. @mui-org/core any ideas?

[2022-01-12 23:20] ConnerAiken commented on #30209
@michaldudak Is there somewhere in the documentation that says Grid's should inherit their parent container's column prop? IMO this is not intuitive.

I would expect the nested grid here to be 12 columns, as is default:
https://codesandbox.io/s/nestedgrid-material-demo-forked-ghqye

Here's an example of trying to manually override it in a basic shorthand use case but it doesn't work:
https://codes

[2022-01-12 23:44] lvauvillier commented on #30436
@mnajdova yeah! I also iterate around `useLayoutEffect` but it is not recommended to use in component rendered server side. We get an explicit warning.

[2022-01-13 01:09] #29480 closed

[2022-01-13 02:11] siriwatknp commented on #30526
I cannot reproduce it on my machine (documentation and codesandbox). Are you sure that you are on 100% view because if I zoom out a little bit I can see the flicker?

![image](https://user-images.githubusercontent.com/18292247/149253415-ec3103bf-5095-4f90-8425-ec4b43cb2277.png)

[2022-01-13 03:35] zigang93 commented on #30038
facing the same problem when start to using yarn 2 pnp

[2022-01-13 04:23] zreecespieces opened #30597 "[Autocomplete] Cannot override `border-color` on hover"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Whenever you hover over the Autocomplete component the border color is always black or white depending on the light/dark mode set in the theme. I'm trying to customize the border-color on hover to some arbitrary color, yet it is always black or white. I am

[2022-01-13 04:25] adiramardiani commented on #28245
Hi @mnajdova, currently I think mui v5 is more stable, can you consider this again ?
Tailwindcss is version 3 now, and I think nice combo if documentation mention integration about mui and tailwindcss (and maybe other) officialy

Hi @gamegee I found some premium theme on [themeforest](http://react-material.fusetheme.com/apps/dashboards/analytics) and he use mui v5 and tailwindcss working well. If

[2022-01-13 06:01] mnajdova commented on #30436
@lvauvillier right, we can use the `useEnhancedEffect` (`unstable_useEnhancedEffect`) from @mui/material :)

[2022-01-13 06:16] #30520 closed

[2022-01-13 06:24] cryptoAlgorithm commented on #29345
@leonardorafael That implementation has a few issues:
1. The implementation does not follow material standards fully: Buttons are the wrong shapes, animations are there when they shouldn't be and it looks like the sizing and paddings aren't correct
2. That doesn't seem to be a react library on quick inspection, which doesn't fit into the purpose of Material-UI
3. The ripple animation seems to be f

[2022-01-13 06:55] LFFATE commented on #24783
Possibly. But you can use jest fake timers. This is my way to test (jest + react-testing-library):

[code]

[2022-01-13 08:08] slaby93 commented on #30588
https://codesandbox.io/s/cold-rgb-gzjzt?file=/src/Demo.tsx

[2022-01-13 08:48] hbjORbj commented on #30526
@siriwatknp is correct. The flicker is happening if you are not on 100% view.

[2022-01-13 08:54] mnajdova commented on #30588
The background color is set if the variant is `contained`. As you have a different variant, you would need to add it yourself. Note that we plan on supporting callbacks in the `styleOverrides` with https://github.com/mui-org/material-ui/pull/30524 which should make overrides ever better.

[2022-01-13 09:10] michaldudak commented on #30209
No, I believe it shouldn't work like that and it's a bug. The columns prop should behave the same no matter if it's a top-level or nested grid. Would you like to take a look at it and contribute a fix?

[2022-01-13 09:49] vanminhquangtri commented on #30559
The only way I found is manipulate DOM, then change the text by innerHTML

[2022-01-13 10:42] ShivamTyagi12345 commented on #30249
yes @glaucoheitor  thanks for checking in.yes! I am working on my PR

[2022-01-13 11:44] mnajdova commented on #29740
After some discussion we aligned on the following:

I am closing the issue as expected behavior.

[2022-01-13 11:44] #29740 closed

[2022-01-13 12:40] abhinav-22-tech commented on #30588
Hey, @slaby93
Please check this: https://codesandbox.io/s/long-wind-tc6o2
I am correct?

[2022-01-13 12:50] hbjORbj commented on #30597
Hi.

In order to apply style on hovering, you should pass `"&:hover .MuiOutlinedInput-notchedOutline": { ... }` to the `root` classname of `MuiOutlinedInput` using `createTheme`.
e.g.,
[code]

I agree that it would've been much less confusing if we could have something like this:
[code]

cc @oliviertassinari @mnajdova This would be a breaking change, right?

[2022-01-13 12:56] mnajdova commented on #30588
@slaby93 you can make the `style` callback from the theme, for example:

[code]

[2022-01-13 14:02] aaronadamsCA commented on #29345
It would be nice to somehow get early support for MD3 design tokens in advance of the rest.

The biggest leaps forward with MD3 compared to the design tokens available by default in MUI today are:

- **New typographic tokens.** The system (5 semantic choices × 3 sizes) is far more intuitive, the type scale is actually usable out of the box (MUI's built-in `h1` is an insane `96px`, whereas MD3 tops

[2022-01-13 14:27] chaosmirage commented on #29334
@oliviertassinari

Is it mean that `selected` will be added back?

[2022-01-13 15:11] simonv3 commented on #29961
We just migrated to mui-v5 and on some pages have multiple autocompletes that are multi-line (like multi-select ones) and the amount of error messages this throws makes debugging other stuff really hard on those pages :(

[2022-01-13 15:21] CodingDive opened #30599 "Error: Can't resolve '@mui/styled-engine'"
Because of the hard github templates I almost forgot to say: Thank you so much for all the hard work on this library! I'm coming from a few different design-systems and I really love the components and api of mui! ❤️

### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After following the [installation guide

[2022-01-13 15:32] ClassicDarkChocolate opened #30600 "[BottomNavigation] Action icon is not vertically aligned when it's inactive (no-label)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The action icon is not vertically aligned and will be worse when theme font size increase.

https://mui.com/components/bottom-navigation/#bottom-navigation-with-no-label

Might be that the height of icon + hidden label > height of content box, so the curren

[2022-01-13 16:02] cryptoAlgorithm commented on #29345
Ideally, MUI should (or start efforts to) adapt Material v3 as soon as possible since its the most popular react material library, and might give MUI a head start over potential competitors (including google's own library). Material v3 support would be quite enticing since I foresee the popularity of the new standard increasing after android 12 actually becomes mainstream, and people might be attr

[2022-01-13 16:21] zreecespieces commented on #30597
Great, thank you very much for this solution.

I'm just not sure how I would have known to select that `.MuiOutlinedInput-notchedOutline` class. I spent a long time going through the element inspector and looking for the class that sets the `border-color` on hover but I couldn't find it. If I select the div that has the class `.MuiOutlinedInput-root` and use the inspector to force hover state, I s

[2022-01-13 17:03] yanickrochon opened #30602 "Actually implement showClearButton for the various date and time pickers"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I see this statement at multiple places in the documentation, but this feature seems to be completely missing in the code.

### Examples 🌈

[Demo](https://codesandbox.io/s/basicdatepicker-material-demo-forked-4ndp2?file=/demo.js)

[code]

### Motivation 🔦

The abili

[2022-01-13 17:56] mmacu opened #30603 "[Fab] Badge leaks over Floating Action Button"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`Badge` component  leaks over `Fab` component despite being defined earlier in DOM.

![image](https://user-images.githubusercontent.com/49128164/149383055-5e5e77dc-32ad-407b-8797-008fc1bf6d4c.png)

### Expected behavior 🤔

`Badge` component should hide behi

[2022-01-13 18:28] ConnerAiken commented on #30209
@michaldudak Sure. Thanks for clarifying.

[2022-01-13 18:36] Blackburn29 commented on #30591
I have this same problem for an application I am working on. This appears to be an issue with how Luxon reports the days of week using Intl. The issue can be reproduced by calling the date adapter function `getWeekdays()` which fetches the days of week.

https://github.com/dmtrKovalenko/date-io/blob/master/packages/luxon/src/luxon-utils.ts#L332
[code]

[2022-01-13 19:40] oliviertassinari commented on #29345
To be honest, I'm not so sure that MD 3 will have a lot of traction. I'm eager to wait for positive signals before committing to this effort. The context seems different in 2022 than it was in 2016:

1. Does MD 3 looks great like MD 1 was when end-users had smaller screens with less resolution? Personally, it's a clear no and the same answer goes from @mbrookes.
Before MD 1 (OS 5 - Lollipop 🥰), it

[2022-01-13 20:10] anking opened #30604 "[Autocomplete] Inside Dialog, bad rendering"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[Autocomplete] Inside Dialog, bad rendering
https://github.com/mui-org/material-ui/issues/18082

Issue seem to re-appear in 5.2.8

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your

[2022-01-13 20:39] RemyMachado commented on #30537
Excuse me, I'm struggling to understand how I would use it. I want to inject the `fontSize` in a non-MUI component, any SVG for instance.

[2022-01-13 20:43] anking commented on #30604
never mind i got the
    // disablePortal flag turned on

[2022-01-13 21:08] cryptominnow commented on #30599
I'm having the same issue it's extremely strange, everything was working fine and without any changes to my site I ran into this error. Funny thing is I have a build live on vercel that's working from before the bug. I cloned the repo from that build and ran it and got the error.

It's not even consistent, sometimes with the exact same dependencies on a fresh installation I have no problems.

[2022-01-13 21:18] alisasanib commented on #29061
I would like to work on this issue.

[2022-01-13 21:23] stevenharderjr commented on #16494
Labels that do not wrap their inputs can be removed from the visual design of the document (by positioning and/or opacity) without affecting the visibility of the associated input. I like the look of "unlabeled" inputs (e.g., username and password fields indicated solely by placeholder text), but I still want them to be accessible, so I use the `for` attribute.

[2022-01-13 21:35] CodingDive commented on #30599
I also saw that the `@mui` folder in `node_modules` of the [create-react-app styled-components typescript example project](https://github.com/mui-org/material-ui/tree/master/examples/create-react-app-with-styled-components-typescript) looked a little different than the folder in my `node_modules` despite setting up everything similarly in `package.json` and `tsconfig` files. That's one possibility

[2022-01-13 21:40] mogrady88 opened #30605 "[AvatarGroup] the max prop avatar that comes up does not respect other avatars size"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

resizing avatars within an `AvatarGroup` is fine unless you have the max set and see the additional default avatar at the end of the list. Resizing other avatars in the group does not affect the size of this last child. You also have no ability to style that last ch

[2022-01-13 22:18] anking opened #30607 "[Autocomplete] Incorrect handling of multiline fields"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Autocomplete currently not working correctly with multiline fields, producing the following error:
**MUI: Unable to find the input element. It was resolved to [object HTMLTextAreaElement] while an HTMLInputElement was expected.
Instead, Autocomplete expects

[2022-01-13 22:54] st4l1nR commented on #18482
I solve this problem installing   npm i @emotion/react @emotion/styled

[2022-01-14 00:06] #30475 closed

[2022-01-14 00:06] #30474 closed

[2022-01-14 00:06] #30472 closed

[2022-01-14 01:41] D1plo1d commented on #28578
Codemod finished in just over an hour for me (heh, my earlier estimate of only being 20 minutes in: way off!). Here's what I see from codemod:

[code]

[2022-01-14 03:30] SridharDnesh opened #30609 "Component with a select and input fields should exist"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [x] I have tested the latest version

### Summary 💡

Why there isn't a component with multiple base component. Like a select and a input.

### Examples 🌈

![Screenshot 2022-01-14 084903](https://user-images.githubusercontent.com/23471970/149446591-021abf7c-b20e-45bd-b086-17eff006dbc1.png)
A component like this is hard

[2022-01-14 07:32] AkshayGadekar opened #30610 "Can we add search input in "SELECT" component?"
I know there is autocomplete component, but it will be great if select component has input text to search options, it makes selecting options easy if there are lots of options.

### Examples 🌈

select2 plugin also has search option:
https://select2.org/searching

[2022-01-14 08:03] Drachmann-statu opened #30611 "makeStyles theme.spacing does not work on mui/material: 5.2.7 but works on 5.2.2"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I upgrade from @mui/material 5.2.2 to @mui/material 5.2.7 and suddenly I get

[code]

### Expected behavior 🤔

I expected that the `import makeStyles from '@mui/styles/makeStyles';` would work at it did previously.

### Steps to reproduce 🕹

Steps:
1. Upgra

[2022-01-14 08:44] michaldudak commented on #30609
We can't create every possible combination of components. What you're suggesting is quite specific to what you're doing and the majority of our users won't benefit from it.

However, it should be relatively simple to create such a composite control on your own using input adornments. I've created a quick POC showing how it could be done: https://codesandbox.io/s/composite-textfield-poc-w2ljx?file=

[2022-01-14 08:48] michaldudak commented on #30610
The Select component supports keyboard navigation - if you press letter keys when the Select has focus, it'll highlight the item that starts with the phrase you write. Having an editable textbox in addition to a dropdown would make it a combo box. And this is something that Autocomplete component is for. What makes you not want to use Autocomplete in your case?

[2022-01-14 08:50] michaldudak commented on #30607
Duplicate of #29961

[2022-01-14 08:51] #30607 closed

[2022-01-14 08:58] michaldudak commented on #30605
Thanks for the report.
Would adding a specific CSS class to the additional avatar help in your case? It should make it possible to target it with CSS. We could also expose the default avatar props by adding the `componentsProps` prop to AvatarGroup.

[2022-01-14 09:31] hanselsen opened #30613 "[DateTimePicker] Cannot read properties of undefined (reading 'replace')"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Once in a while, at random occasions, I get this error: `Cannot read properties of undefined (reading 'replace')`.

![image](https://user-images.githubusercontent.com/1150323/149491463-8ccf8a7e-9a1d-499c-aec5-c5804cb3899e.png)

The `KeyboardDateInput` is so

[2022-01-14 09:38] michaldudak commented on #30582
Hi, you're describing a problem that occurs in v4. We are currently actively maintaining v5 only. If a similar problem exists in v5 as well, we can take a look at it.

I'm not also not able to verify the issue you described as the Codesandbox you linked does not work (throws `Cannot read properties of undefined (reading 'button')` immediately).

[2022-01-14 09:44] michaldudak commented on #30603
It seems that the Fab is missing the z-index (while the Badge has `z-index: 1`). We need to be careful not to break any existing layouts though.

Would you like to work on a fix?

[2022-01-14 09:58] hanselsen commented on #30613
Murphy strikes again. At the point I submitted this issue, my colleague notifies me that he has found that it only occurs when we use the `enUS` locale. Will investigate and update this issue.

[2022-01-14 10:00] michaldudak commented on #30600
To make sure I understand you correctly:

![image](https://user-images.githubusercontent.com/4696105/149496655-6bea289f-72bd-44d6-8d50-99a534764464.png)

The problem you're describing is that dimensions 1 != 2 on the picture above?

[2022-01-14 10:04] cryptoAlgorithm commented on #29345
I fully agree that the material standard would need to be slightly adapted to look great on desktop-sized websites/web apps, however it seems like the material v3 standard takes into consideration slightly larger screen sizes, like the navigation rail etc. Also, I think the standard google is showing at their reference site https://m3.material.io/ seems much better than the reference v2 site (not

[2022-01-14 10:11] hanselsen commented on #30613
Found it. I also have the the DataGrid component and to localize that, I had imported locales like this:
[code]
This `enUS` did cause my error.

I changed the import to this and it worked properly again.

[code]

--

This might change the source of this issue. Did I do something wrong with the localization of the DataGrid now? There is not much documentation on the DataGrid yet.

[2022-01-14 10:19] flaviendelangle commented on #30613
Could you give me a reproduction case of your problem with both the DateTimePicker and the DataGrid ?
[This codesandbox](https://codesandbox.io/s/datagridpro-v5-quick-start-54iz1) might be a good starting point.

I agree that the Localization documentation is light.

[2022-01-14 10:21] ClassicDarkChocolate commented on #30600
Yes, exactly!

[2022-01-14 10:54] #30429 closed

[2022-01-14 11:33] mmacu commented on #30603
@michaldudak Yes. I can work on a fix.

[2022-01-14 11:48] hanselsen commented on #30613
Writing the codesandbox reproduction, I figured out what it actually was.
Upon language changing, I set the dayjs locale like this.
[code]
What I just needed to do was:

[code]
According to https://day.js.org/docs/en/i18n/changing-locale

[2022-01-14 12:19] mmacu commented on #30603
I've added pull request.

[2022-01-14 12:35] mnajdova commented on #30611
You need to also upgrade `@mui/styles` to 5.2.3. Here is a working sandbox - https://codesandbox.io/s/admiring-cherry-zlimx?file=/src/App.tsx

[2022-01-14 12:36] #30611 closed

[2022-01-14 13:25] hbjORbj commented on #30453
@snehaelsaalex @mihaibogdan

Hi. I would like to let you know that the [fix](#29896) is likely to be merged in the upcoming release, which is on this Monday :)

[2022-01-14 13:25] hbjORbj commented on #29692
@agoblet @jpmtrabbold
Hi. I would like to let you know that the [fix](#29896) is likely to be merged in the upcoming release, which is on this Monday :)

[2022-01-14 13:28] atillaaliyev commented on #30526
@siriwatknp you are right, Actually, my view is 100% on browser, but windows display setting is %125, I suppose it is. Is it bug, I'm not sure. If you think it's not bug, you can close this issue. Thank you.

[2022-01-14 13:37] #30526 closed

[2022-01-14 14:04] agoblet commented on #29692
Thx for picking this up so quickly again after a period of staleness! @hbjORbj

[2022-01-14 14:15] RestonAbaqus opened #30617 "[Grid] When placing multiple containers, they overlap"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When placing Grid containers under the first one they overlap with the top one, this behavior does not happen with material v4

[code]

When checking the css the second grid container has some margin-top negative

[code]

### Expected behavior 🤔

I would ex

[2022-01-14 15:21] yanickrochon opened #30618 "DatePicker (and presumably other pickers) not updated on value change if focused"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

This usse started when I couldn't reset the value of the field after a `keyDown` event (the issue is described, [here](https://stackoverflow.com/questions/70711481/cannot-reset-mui-datepicker-from-keydown-event))

Basically, modifying the value while the co

[2022-01-14 15:42] danilo-leal commented on #30174
Fixed with #30319. If the issue persists, hard refresh the documentation to the latest version (currently v5.2.8).

[2022-01-14 15:42] #30174 closed

[2022-01-14 15:43] danilo-leal commented on #30151
Fixed with #30319. If the issue persists, hard refresh the documentation to the latest version (currently v5.2.8).

[2022-01-14 15:43] #30151 closed

[2022-01-14 16:17] #29692 closed

[2022-01-14 16:17] #30453 closed

[2022-01-14 16:47] yojolo opened #30620 "[DatePicker] Add arrows to navigate between years"
## Duplicates

- [ ]  I have searched the existing issues

## Latest version

- [ ] I have tested the latest version

## Current behavior

Currently in the date picker, when I am in month view, I don't have access to arrows to go to previous or next year.
I have to first click on the year, the select the year.

![image](https://user-images.githubusercontent.com/11913700/149552681-93d5d127-d8b2-4b3