[2021-03-14 15:12] vicasas commented on #16947
Some of them are:

-  https://next.material-ui.com/system/display/#inline
- https://next.material-ui.com/system/flexbox/#display

Some of them are:

- https://next.material-ui.com/customization/theming/#custom-variables
- https://next.material-ui.com/customization/breakpoints/#css-media-queries

If that's exactly what I meant. Should they be removed from the component apis documentation?

[2021-03-14 15:19] mbrookes commented on #22426
@stackin-developer Nice, clean, approachable design! Do you have an in-house designer?

[2021-03-14 15:23] stackin-developer commented on #22426
Thanks, @mbrookes Yes, We do have an in-house designer.

[2021-03-14 15:55] vicasas opened #25364 "Add template example with switch dark/light mode"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

A basic template is needed that focuses on providing a solution or guide to developers on how to switch between dark / light mode. The idea is to be able to deliver a richer documentation in content of this feature.

## Motivation 🔦

The moti

[2021-03-14 15:55] #25327 closed

[2021-03-14 16:02] oliviertassinari commented on #16947
For the inline style, it's seems OK. It draws a contrast between what we want to show and the set up for the demo to work correctly.

For the customization demo, it does look like something we need to update.

For the rule name, they are now legacy and specific to @material-ui/styles. The less we can depend on them, the better.

[2021-03-14 16:09] oliviertassinari commented on #25364
The issue makes me think about the pain reported in #21273. I agree that a new demo in https://next.material-ui.com/customization/palette/#dark-mode would solve some of the pain.

[2021-03-14 17:58] oliviertassinari opened #25365 "[Autocomplete] Update to ARIA 1.2"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The combo box follows [ARIA 1.1](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html).

## Expected Behavior 🤔

The combo box follows ARIA 1.2

[2021-03-14 19:49] oliviertassinari commented on #25273
I can observe the same. The usage of `<NoSsr>`, leads to the resolution of the useAutocomplete/useEffect before the child input ref. This breaks the a11y of the component and should be handled.

[2021-03-14 21:39] fadi-george commented on #21377
With Node 15.11 and Windows, I can build with version 5.0.0-alpha.24 for icons without an alias.

But updating to alpha.27 seems to break it. I tried with and without the alias.
The error seems to list a different file each time build script is run. E.g.
Error: Could not load /node_modules/@material-ui/icons/esm/Timeline.js (imported by node_modules\@material-ui\icons\esm\index.js): EMFILE: too ma

[2021-03-14 23:25] fadi-george commented on #21377
Had to run this, to get it to build for mac too for `alpha.24` (Big Sur)

[code]

[2021-03-14 23:44] fadi-george commented on #21377
After running the script above to increase maximum number of open files, I am able to build for `alpha.27` for Mac. No alias changes also my imports are structured like this:
`import { Print as PrintIcon } from '@material-ui/icons';`

Otherwise if I did:
`import PrintIcon from '@material-ui/icons/Print';`

I would get:
[code]
And in this case, the alias change does not work either.

[2021-03-14 23:54] fadi-george commented on #21377
Too many files open will still be an issue for windows for `alpha.27` which I am not too sure on how to fix.

[2021-03-15 00:37] oliviertassinari commented on #21377
@fadi-george Do you have a reproduction with the proposed config not working?

[2021-03-15 05:26] motevallian commented on #17423
Could you be more specific? How come you could use a SINGLE instance in both server and client? These are separate machines and hence separate instances.
I think what you mean is to make sure every time the server receives a request, it creates a new generator, otherwise independent request will share the same generator, causing wrong classNames generated for any request other than the first time.

[2021-03-15 11:13] deski-app opened #25370 "MuiThemeProvider with components imported from a subproject"
I'm using `@material-ui": "^4.11.0` in a modular projects.

Shared UI components are stored in a separate npm project called **UI** and imported by multiple parent projects. This seems to break styling applied with `MuiThemeProvider`. The **PARENT** project app is wrapped in MuiThemeProvider.
- The styling is applied properly to material-ui components imported directly to the **PARENT** project.
-

[2021-03-15 13:12] alexfoxy opened #25371 "Page becomes unresponsive after closing a modal in iOS webkit, safari & chrome"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After closing a modal the screen becomes unresponsive to press/click events until the page is scrolled again. This is only an issue on iOS (simulators and real devices). It also only

[2021-03-15 14:13] edgarzapeka commented on #18658
in case someone is still struggling...but stopping the event propagation, the `onDelete` callback will be executed & it will prevent Select's `onOpen` callback
`
<Chip
...
  onMouseDown={e => {
    e.stopPropagation()
  }
  onDelete={() => {
    // do whatever
  }}
/>
`

IMO this behaviour is very unexpected and leads to bad UX

[2021-03-15 16:56] mmintel opened #25374 "Select broken"
Hey there,
I was trying to create a select field with material-ui but no matter what I'm doing I will always get an error that doesn't say a lot. E.g. my TextField works perfectly with everything else, as soon as I add the `select` property it will crash.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this rep

[2021-03-15 17:06] eric-burel commented on #25293
Seems related to https://github.com/mui-org/material-ui/issues/25293

[2021-03-15 19:23] gap777 commented on #19861
What's the status of this?

[2021-03-15 19:59] fadi-george commented on #21377
Busy with work, I won't get to that anytime soon.
With Vite 2.1.0, I can't seem build with icons alpha.27.

[2021-03-15 20:37] jqrun commented on #24372
+1, problem still persist in `@material-ui/core@5.0.0-alpha.27`

[2021-03-15 22:27] piotrdytkowski opened #25376 "Checkbox doesn't work in MUI data-grid"
When I want to use a Checkbox component with checked and onChange attributes, onChange is not fired.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Versions:
"@material-ui/core": "4.11.3",
"@material-ui/data-grid": "4.0.0-alpha.22",

## Current Behavio

[2021-03-15 23:22] itscharlieliu commented on #25321
Hi, can I take this issue?

[2021-03-16 01:47] teenguyen commented on #25273
I was actually able to replicate our initial issue with the barebones useAutocomplete example in the docs (looks like the template is down btw): https://codesandbox.io/s/material-demo-forked-e0v7m?file=/demo.js

I added a button to trigger a popper where the autocomplete will live. If you comment out `open` in `useAutocomplete`, there are no issues and you can see that the input exists in the popp

[2021-03-16 05:52] brendonco commented on #23533
same here helperText={null} does not do anything for me on version 5.0.0-alpha.27.

[2021-03-16 10:16] rofrol opened #25381 "When resizing and toggle between dialog and popover - popover has wrong position"
When resizing and toggle between dialog and popover - popover has wrong position.

I need to use this this code to trigger correct positioning:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have two buttons which open

[2021-03-16 16:01] janus-reith commented on #25307
@oliviertassinari Do you have any idea what could be causing this, or maybe have hints where I could star debugging this?

[2021-03-16 16:29] mpmaia commented on #25104
I was able to reproduce the problem on iOS 14.4. It seems that [Apple removed the support for custom scrollbars](https://developer.apple.com/forums/thread/670065).

[2021-03-16 17:53] brydar commented on #19145
@GhassenRjab Did you manage to find a workaround about this?

[2021-03-16 18:03] doorman02 opened #25387 "Google icon missing from social icons"
Was adding social icons for login possibilities and noticed that the Google icon was missing. Any plans on adding this icon?

- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Google icon should be in the list of social icons
## Examples 🌈

## Motivation 🔦
Googel signin is pretty common use

[2021-03-16 18:09] ianizaguirre commented on #25104
Thank you for your reply.

Interesting, but why would the scrollbar for the Dialog modal be considered a custom scrollbar when the styling is that of the default apple scrollbar.

I would have expected the dialog container to have been detected by IOS as a scrollable area and the default apple scrollbar to then kick into effect.

[2021-03-16 18:16] mbrookes commented on #25387
Duplicate of #21795

[2021-03-16 18:16] #25387 closed

[2021-03-16 20:52] mpmaia commented on #25104
My first hypothesis was that maybe Material UI was using a custom-styled scrollbar. That seems not to be the case.

I think that this problem might be a WebKit issue. This page does not display a scrollbar on my iOS 14 device: https://codepen.io/mpmaia/pen/KKNYLWg

[2021-03-16 21:35] rrcobb commented on #19610
This seems like an okay behavior, if a little strange to the user, but the error is pretty cryptic. Any way that using the function "wrong" can throw something with a little more guidance?

[2021-03-16 22:06] mpmaia commented on #25104
I've investigated this issue a little bit more and the problem seems to occur only when the background is white and iOS's dark mode is enabled. The same page works with dark mode disabled or if I set the background to grey and keep using dark mode (https://codepen.io/mpmaia/pen/mdOgYpN). I believe the scrollbar's thumb is being rendered as a white element over a white background when dark mode is

[2021-03-17 00:12] thodwris commented on #7900
It's happening again on FF 86.0.1. Did anyone else notice?

[2021-03-17 00:16] pkuczynski commented on #21661
I am experiencing the same issue. Did anybody found a solution for it?

[2021-03-17 00:18] oliviertassinari commented on #7900
@thodwris Please provide more details. What's happening again?

[2021-03-17 00:20] oliviertassinari commented on #19610
@rrcobb Agree, if we intended to keep these withStyles and makeStyles modules around in the long term, it would have made sense to invest time on improving the DX. However, we are moving away from them in v5.

[2021-03-17 00:21] thodwris commented on #7900
If you press a button and navigate to another tab and go back to the page that you pressed the button you can see the ripple effect stuck. I just opened a bug report to [Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1698996)
<img width="231" alt="button" src="https://user-images.githubusercontent.com/297024/111396242-e837c300-867b-11eb-8a31-e37a3e7989f1.PNG">

[2021-03-17 00:26] oliviertassinari commented on #7900
See #25171

[2021-03-17 00:57] mpmaia commented on #25104
There is a bug reported on the WebKit bug tracker about this problem: https://bugs.webkit.org/show_bug.cgi?id=213394

[2021-03-17 01:23] xrebelox commented on #12432
[#14232 ](https://github.com/mui-org/material-ui/issues/12432#issuecomment-411046157) is definitely the way to go, I was having this issue and I managed to fix it by setting the network-timeout.

[2021-03-17 02:56] andy99316 commented on #18901
Thanks @kevin-lindsay-1 !!

[2021-03-17 03:03] fadi-george commented on #21377
Can build for Vite 2.1.0 as well using kern.maxfiles trick for alpha.27 as well.

[2021-03-17 03:23] dohomi opened #25389 "v5: min, max, maxLength missing for input props"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

On Input or TextField component the `min`, `max`, `maxLength
 props are not being forwarded and also not available with TypeScript. I think this is a regression from v4?

<img width="516" alt="Screenshot 2021-03-17 at 11 21 45" src="https://u

[2021-03-17 09:53] ShubhankarKG opened #25391 "Dashboard UI - Getting started template - inconsistent"
- [x] The issue is present in the latest release . (checked from the default branch)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I picked all the files from the Dashboard template, and installed the necessary packages (`@material-ui/core, @material-ui/styles, @material-ui/icon

[2021-03-17 10:03] #25391 closed

[2021-03-17 10:09] christiaan opened #25392 "[Select] variant outlined focus state leaks outside of border"
When a Select with variant outlined has focus, the background color that is added leaks outside of the border in the corners.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img width="100%" alt="Schermafbeelding 2021-03-17 om 11

[2021-03-17 10:10] christiaan commented on #25392
This happens both in the latest 4.x and 5.x release.

[2021-03-17 10:44] NMinhNguyen commented on #20660
Just ran into this too, and concatenating would work for the default `matchFrom: 'any'`, but not `matchFrom: 'start'`. For example, if you have an object with `GME` and `Gamestop` strings, and you want to search for `Gamestop`, if you concatenate `GME - Gamestop`, then you won't be able to match it from the start.

[2021-03-17 12:31] chaddoncooper commented on #24831
+1 for this, my use case is also based on a time range. I also need a minimum value between the two.

[2021-03-17 12:45] oliviertassinari commented on #25389
Use `input Props.

[2021-03-17 12:45] #25389 closed

[2021-03-17 13:13] RadoslavK commented on #14711
The solution provided by @IoHL works but you might need to specify a different separator. This worked for me.
`test: /node_modules\\@material-ui\\core\\esm\\Popper\\Popper\.js$/`
instead of `test: /node_modules\/@material-ui\/core\/esm\/Popper\/Popper\.js$/`

[2021-03-17 13:27] rofrol commented on #13672
That worked for me to also change background color when on no-hover device:

[code]

[2021-03-17 13:28] rofrol commented on #19238
Look here https://stackoverflow.com/questions/61486061/how-to-set-selected-and-hover-color-of-listitem-in-material-ui/61486779#61486779

[2021-03-17 14:22] oliviertassinari commented on #24831
I have tried to implement quickly the UX in https://codesandbox.io/s/rangeslider-material-demo-forked-63xq9?file=/demo.tsx by controlling the slider. I have found two blockers:

1. The active thumb swaps to the nearest to the active pointer. We could add a prop to disable this behavior.

![active thumb](https://user-images.githubusercontent.com/3165635/111482802-87b88c80-8734-11eb-9020-73ac9af0ef0

[2021-03-17 14:31] oliviertassinari commented on #19674
@amosbastian When the drawer opens, there is an animation. The thumb is initially off-screen, preventing the tooltip to position itself. You can use the `popperRef` prop to force a repositioning once the transition is over.

[2021-03-17 14:31] oliviertassinari commented on #19674
Duplicate of #22303

[2021-03-17 14:31] #19674 closed

[2021-03-17 16:25] chriswall-aa commented on #25314
Hi Olivier,

Apologies I didn't see the notification for this!

I'm sorry, I don't understand your comment... The codesandbox loads and it animates on the first render to bring the last tab into view. I am trying to turn off the animation _entirely_, since animations run inconsistently between loads and my visual regression tool snapshots the tabs component at different positions each time:

![Scr

[2021-03-17 17:53] antoinerousseau opened #25395 "Missing logout icon"
Can't find this icon in @material-ui/icons 4.11.2:
https://material.io/resources/icons/?search=logout&icon=logout&style=baseline

[2021-03-17 18:02] antoinerousseau commented on #25395
My bad, it's been added into MUI v5

[2021-03-17 18:02] #25395 closed

[2021-03-17 19:44] fluxquantum commented on #15616
Where does 'params' come from in this case?

[2021-03-17 19:49] karinehaug opened #25397 "disablePast is not disabling or validating time for DateTimePicker"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When adding disablePast to DateTimePicker, previous dates are disabled and validations kicks in when typing past date. But the time picker are not disabling past time, and there is no

[2021-03-17 20:23] marcusjwhelan commented on #25290
@eps1lon Installed that exact way same issue
[code]
was on Material ui
[code]
Migrated to
[code]
No webpack changes but webpack is now telling me that several files are not found. Looks like files using @material-ui

other errors
[code]

[2021-03-17 20:48] fluxquantum commented on #15616
Thanks for sharing your approach. Could you provide more detail about how you're passing around the state of 'data'? I currently have a bunch of handler functions to update the current page. How are your handler methods working with the useEffect hook? I took a stab leveraging your solution but so far haven't been able to reset the page.

I am doing something like

 const [page, setPage] = useStat

[2021-03-17 21:11] oliviertassinari commented on #25290
In this case, I would propose we update the documentation to bring in clarity on the version required:

[code]

I would hope it solves the pain for the next developers reading the guide.

[2021-03-17 21:18] fluxquantum commented on #16360
@oliviertassinari Thanks for all the support you have given this library. Just wanted to check in if there has there been any update for a solution to this? I saw a workaround from a thread year ago but I am having trouble leveraging it. I would like to know if there was some feature available with the later versions of mui to solve this. Thank you for your time.

[2021-03-17 21:47] marcusjwhelan commented on #25290
@oliviertassinari  I don't believe this is a docs issue.

When you install them as described in my comment it does not import. If you look at my comment above.

[2021-03-17 22:52] oliviertassinari commented on #25290
@marcusjwhelan Do you have a reproduction?

[2021-03-18 00:17] NMinhNguyen commented on #20660
@oliviertassinari would you be open to the following diff? The main difference being you can return multiple strings from `stringify`, and they'll all be tried.

[code]

[2021-03-18 00:23] oliviertassinari commented on #20660
@NMinhNguyen What's the advantage over?

[code]

[2021-03-18 00:26] NMinhNguyen commented on #20660
If you read my above reply, you'll see that given an object

[code]

[2021-03-18 00:30] oliviertassinari commented on #20660
@NMinhNguyen Ok, thanks for the explaination

[2021-03-18 00:31] #25392 closed

[2021-03-18 00:32] NMinhNguyen commented on #20660
For now it was simple enough for me to copy & paste the `createFilterOptions` function into my own code and modify that, but if you're happy with the diff, I'll PR it with `.d.ts` changes, docs and tests.

[2021-03-18 00:35] oliviertassinari commented on #20660
@NMinhNguyen I think that we can delay the topic for some time. createFilterOptions is only meant to be a quick and dirty patch until developers implement something that match their use case

[2021-03-18 00:47] #25280 closed

[2021-03-18 00:55] oliviertassinari commented on #19861
@gap777 Missing documentation for the public `useFormControl` hook.

[2021-03-18 00:56] #25298 closed

[2021-03-18 01:29] fluxquantum commented on #15616
Hi @fzaninotto , thanks for sharing your approach, I'd like to try out the various strategies in this thread. May you give a little more detail on how you hide the pagination while loading the data? What part of the component is that custom method embedded? Thank you for your time.

[2021-03-18 05:07] slayybelle opened #25399 "[Select] aria-expanded not getting set to "false" when listbox collapsed"
listbox collapsed state should be indicated by aria-expanded="false"; instead no aria-expanded property is present. When the listbox is open, then aria-expanded is set to "true", as expected.
Seen in  4.11.3

We are getting flagged by our a11y consultants for violating WCAG2.1:
▪ 1.3.1 Info and Relationships (Level A) ▪ 4.1.2 Name, Role, Value (Level A)

The absence of aria-expanded="false" result

[2021-03-18 08:48] eps1lon commented on #22838
Closing since there isn't anything to do for us. The initial issue was not confirmed. We can re-open until someone confirms it.

[2021-03-18 08:48] #22838 closed

[2021-03-18 08:51] escapiststupor opened #25400 "InputBase takes onClick handler and trigger it even when disabled"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

InputBase takes onClick handler and trigger it even when disabled (as well as other derivative components that stems out from this one, of course)

## Expected Behavior 🤔

I understan

[2021-03-18 08:52] eps1lon commented on #25399
This changed in Aria 1.2: In 1.2 it defaulted to `false` which meant we can omit it. The default as removed in 1.2. The new example implementation in the APG works as suggested.

[2021-03-18 10:23] oliviertassinari commented on #25399
I didn't follow. What change should be done?

(I'm asking because the "good first issue" label suggests that there is a straightforward solution somebody that has never contributed to the project could handle.)

[2021-03-18 10:25] oliviertassinari commented on #25400
The onClick event is bound to a div, not an input.

[2021-03-18 10:25] #25400 closed

[2021-03-18 10:27] escapiststupor commented on #25400
which I understand and elaborated, but perhaps the api could be designed differently so it could be less counterintuitive?

[2021-03-18 10:37] SPapaioannou opened #25401 "Missing push_pin icon"
Hello, i'm trying to find the `push_pin` icon but I cannot. [material icon url](https://material.io/resources/icons/?search=pin&icon=push_pin&style=baseline)

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I believe its a duplicate of https://github.com

[2021-03-18 11:19] #25401 closed

[2021-03-18 11:20] oliviertassinari commented on #25401
Duplicate of #25317

[2021-03-18 11:22] eps1lon commented on #25399
`aria-expanded` is either `'true'` or `'false'` not `undefined`.

[2021-03-18 11:56] fabio-rizzello-omnia opened #25403 "Autocomplete: use readonly array for options and value"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently if you pass a readonly array inside the options of the Autocomplete the compiler will complain about it

## Examples 🌈

[code]

## Motivation 🔦

Using readonly array in the options prop and value prop (for multiselect) will enable u

[2021-03-18 12:00] AllanRaf opened #25404 "How to make the bottom row of DataGrid component stick to the bottom?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Hello,

I am trying to create a table with <DataGrid>.  It has nice built in sorting functions which I like using.  I also add an extra row to the bottom of the table which sums up the total of each column.  However, this row containing total

[2021-03-18 12:51] oliviertassinari commented on #25403
Duplicate of #24639

[2021-03-18 12:51] #25403 closed

[2021-03-18 12:58] Xenfo commented on #25246
I'm having the same error. Mind sharing how you fixed it?

[2021-03-18 13:51] oliviertassinari commented on #25399
@eps1lon OK thanks. I have slightly updated your initial comment as it seems to have a typo.

I believe we should also update the demos in the documentation in this case. For instance:

https://github.com/mui-org/material-ui/blob/09addbf5ca274d4e6d449a1dcdfe49e852f5f0d4/docs/src/pages/components/menus/BasicMenu.tsx#L22

cc @DanailH as we have used ARIA 1.1 for the data grid of the menu buttons.

[2021-03-18 14:17] MartinDawson commented on #25312
@oliviertassinari Is their any chance this could be looked into please? I also posted an SO post here and it seems nobody knows:
https://stackoverflow.com/questions/66638599/material-ui-v5-server-side-rendering-css-order-not-working-with-gatsby

[2021-03-18 14:33] oliviertassinari commented on #25312
@MartinDawson Yes, we will. I didn't yet have the chance. Next.js is growing a lot faster than Gatsby, so it didn't seem to be a crazy important. However, the onboarding experience is critical to the success of our project so it should be painless to start with Gatsby.

[2021-03-18 14:44] MartinDawson commented on #25312
@oliviertassinari Thank you.

I considered next or gatsby. Guess I chose the wrong framework.

[2021-03-18 14:48] zelmaru opened #25409 "TextField `multiline` prop disables HTML5 form validation features"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The validation does not happen when I use the `multiline` prop. It turns out the `multiline` prop transforms TextField into textarea which cannot have a HTML5 type attribute.

## Exp

[2021-03-18 14:49] oliviertassinari commented on #25314
I was raising that it doesn't seem to make sense to have an animation for the initial render. I think we should remove it no matter visual regression or not. For now, you can simply hide the whole tab during the screenshot.

[2021-03-18 14:53] oliviertassinari commented on #25409
I'm closing as you have already explain why it can't be done. Thanks for the issue, it will probably be helpful for documentation purposes.

[2021-03-18 14:53] #25409 closed

[2021-03-18 15:14] cngeru commented on #22426
Product : My Portfolio
Description : Showcase my portfolio. With dark and light theme..Motivated by a design on gatsby [Piotr.pl](Piotr.pl)
Link: [http://dcngeru.web.app/](http://dcngeru.web.app/)
Screenshot :

[2021-03-18 15:32] ahummel25 commented on #17992
I'm still getting this error with implementing solution from https://github.com/mui-org/material-ui/issues/17119#issuecomment-524266401

I'm unit testing a component with `react-test-renderer`.

My component is using a few material-ui components:

[code]

Partial test code:

[code]

Error:

[code]

[2021-03-18 15:40] oliviertassinari commented on #25307
@janus-reith No idea, did you try v5?

[2021-03-18 15:50] #25370 closed

[2021-03-18 15:51] oliviertassinari commented on #25370
Tip: make sure the theme context singleton isn't duplicated.

[2021-03-18 16:00] Xenfo commented on #25246
It ended up being the icon pack I was using.

[2021-03-18 16:02] eps1lon commented on #25399
@oliviertassinari Thanks for the correction

We should investigate first if the default for `aria-expanded` changed there as well or if AT is affected. Slightly upgrading the issue to "good to take" since some upfront investigation would be nice.

[2021-03-18 17:16] marcusjwhelan commented on #25290
@oliviertassinari

to run each
[code]
and reached at
`localhost:3000`

unchanged working react application on material-ui 4.11
* https://github.com/marcusjwhelan/dockerReact

with the install
* https://github.com/marcusjwhelan/dockerReact/tree/material-ui-issue-datepicker
[code]
material-ui 5.0.0-alpha.27 and lab at 5.0.0-alpha.27

[2021-03-18 17:27] janus-reith commented on #25307
Yep, I couldn't reproduce it there.
Hm, I was scared by the alpha tag, but if a v4 fix is unlikely that might be the way to go.

[2021-03-18 19:06] #21533 closed

[2021-03-18 20:47] oliviertassinari commented on #25307
I would honestly imagine an issue inside Next.js. The injection order depends on the JavaScript import resolution order. With v5, you get emotion by default as a style engine that resolves the injection order differently (with props cascading). If you swap the engine to styled-components, you will likely experience the same issue as sc behaves like JSS.

[2021-03-18 21:13] julihereu opened #25411 "[TextField] Option size="small" doesn't work for multiline"
- [x] The issue is present in the latest release. Even in v5.0.0-alpha.27.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Adding the option size="small" to a textfield that has the option multiline doesn't make the textfield smaller. It even makes it a little bit bigger and lifts

[2021-03-18 21:42] chriswall-aa commented on #25314
(It's worth noting that some users might want to disable this animation on subsequent interaction, too)

[2021-03-18 21:51] oliviertassinari commented on #25314
@chriswall-aa We can wait for them to open an issue ;)

[2021-03-19 00:14] oliviertassinari commented on #25314
This diff should solve the issue:

[code]

I have seen this crappy behavior on the past. It's now, that I have made the connection. Say, you have a Next.js app, and you switch to a different tab. You will remount the whole page. Having the tab animation twice (first when you click, and second when it remounts) doesn't feel clean. Feel free to work on it :)

[2021-03-19 00:40] oliviertassinari commented on #25273
@teenguyen This is the same problem. The new warning in #25311 covers it.

[2021-03-19 01:26] oliviertassinari commented on #25411
@julihereu Thanks for the report. It's a regression with the migration to emotion. This diff should do it, in case you want to work on it:

[code]

[2021-03-19 01:27] #25374 closed

[2021-03-19 01:29] oliviertassinari commented on #25289
This is by design

[2021-03-19 01:29] #25289 closed

[2021-03-19 01:31] theKashey commented on #21533
👏 material is the best 👍

[2021-03-19 01:33] oliviertassinari commented on #21533
The new routing guide: https://deploy-preview-25331--material-ui.netlify.app/guides/routing/.

[2021-03-19 01:35] Lagicrus commented on #25289
Thanks for getting back to me and pointing me in the right direction :)

[2021-03-19 09:37] janus-reith commented on #25307
Thanks, that might be a valuable hint for me, will see if I can reproduce it with SC.
I was also considering some issue revolving around next/head maybe.

[2021-03-19 09:45] robphoenix commented on #19585
@Anwardo out of interest, how are you rendering the MenuItem content when using the `renderValue` prop?

[2021-03-19 10:28] #25273 closed

[2021-03-19 10:36] oliviertassinari commented on #25273
Thanks for bringing this issue to our attention. It's an interesting downside with exposing headless components. A component structure can force interesting constraints.

Here, the implementation of useAutocomplete is simplified by asking developers to render all its parts with a standard rendering order: all refs resolve before effects. Supporting out of order, would mean having to listen to each

[2021-03-19 10:45] jeunesseBurce commented on #19109
@oliviertassinari I am encountering a same problem in grouping. Tried to sort it but what I need to grouped are data with nested children on it. And I wanted it to be grouped by its parent node. Would this be possible using AutoComplete?

data is like as follows:

[code]

with this kind of data it shows this error:
`Material-UI: The options provided combined with the `groupBy` method of Autocomple

[2021-03-19 10:47] oliviertassinari commented on #19109
@jeunesseBurce Please ask support questions on StackOverflow

[2021-03-19 10:56] matteo1976 commented on #2653
doesn't work for me... I still have suggestions ....

[2021-03-19 11:15] oliviertassinari commented on #2653
We document possible solutions in https://next.material-ui.com/components/autocomplete/#autocomplete-autofill. It's not a simple problem.

[2021-03-19 11:32] oliviertassinari commented on #16481
At this point, the solution is simple as:

[code]

I'm changing the label. If somebody wants to take it on, please do :).

[2021-03-19 11:45] oliviertassinari commented on #8823
#6115 was resolved, we should now be able to fix this issue. I had a quick look at it. The following was helping:

[code]

but we still need to use the React context to propagate the `columns` prop from a Grid container to a Grid item.

[2021-03-19 11:59] simplecommerce commented on #23266
I have a similar problem to this, where I use Popper to replace the Menu component in my react-select.
I have an iframe with a google maps inside, and whenever I hover on the menu items in my popper, it triggers the iframe to flicker and resize.

Oddly enough, I noticed that, it seems to be caused by the fact that the element is rendered under the iframe in the tree, if it is rendered above it, it

[2021-03-19 12:07] oliviertassinari commented on #6140
In #25149, we have introduced custom [responsive props](https://deploy-preview-25149--material-ui.netlify.app/components/stack/#responsive-values). We can apply the same approach here:

[code]

And, then, it works:

[code]

If somebody wants to work on it, it's good to grab.

[2021-03-19 12:18] oliviertassinari commented on #21589
I'm closing for #19704

[2021-03-19 12:18] #21589 closed

[2021-03-19 12:27] oliviertassinari commented on #11764
Actually, we could already implement this today. It should be easy.

[code]

<img width="752" alt="Screenshot 2021-03-19 at 13 25 14" src="https://user-images.githubusercontent.com/3165635/111779590-9d55bf80-88b6-11eb-8134-e1f75ba9dc0b.png">

[code]

[2021-03-19 12:32] oliviertassinari commented on #11251
Alright, let's use this API:

[code]

[2021-03-19 12:45] Avi98 commented on #8823
@oliviertassinari  can I take this up?

[2021-03-19 12:54] oliviertassinari commented on #9513
It's to be noted that the Box can be used with CSS grid to reproduce the behavior of the Grid component.

[code]

https://codesandbox.io/s/cssgrid-material-demo-forked-j2941?file=/demo.tsx:1571-1612

<img width="509" alt="Screenshot 2021-03-19 at 13 52 20" src="https://user-images.githubusercontent.com/3165635/111783294-5a95e680-88ba-11eb-8aeb-54305eb32b08.png">

[2021-03-19 13:30] NMinhNguyen opened #25417 "[Autocomplete] Slow despite virtualisation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`Autocomplete` maps over `groupedOptions` and creates React elements where the number of items can be tens of thousands (e.g. list of stocks): https://github.com/mui-org/material-ui/b

[2021-03-19 17:42] Dilinar commented on #11928
I've looked all around for a solution to this, I've read the documentation, tutorials and a bunch of StackOverflow posts but no luck.
I have a <Link> component that is a thumbnail to a product on a store website. It also has a button, that is supposed to add the item do the cart without opening the items sub-page. Unfortunately this does not work, clicking the button opens up the sub-page, can't s

[2021-03-19 18:45] #23755 closed

[2021-03-19 19:17] legendariusx commented on #7900
I get the same issue after closing a Dialog or Menu. The ripple persists until it loses focus or I hover over it.
![grafik](https://user-images.githubusercontent.com/58625398/111831744-11f92000-88f0-11eb-861c-5c94142eba6b.png)

[2021-03-19 20:19] sandbox4013 commented on #4387
For those, who has no luck with previous suggestions - try this one
[code]

[2021-03-19 23:13] Izhaki opened #25420 "[docs] Differences between @material-ui/styles @material-ui/core/styles (no createMuiTheme)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

---

I have recently started a project with `@material-ui/styles` (no `@material-ui/core`).

Today I decided to add a theme.

# My User Journey

Perhaps my journey through the docs was not the ideal one, bu

[2021-03-19 23:18] oliviertassinari commented on #25420
@Izhaki Not that we are deprecating this package `@material-ui/styles`, considering migrating to react-jss which is very similar. `createMuiTheme` takes a JavaScript object in and return a JavaScript object. It adds a bunch of things for Material Design. I'm closing as it's legacy, we don't need to document it.

[2021-03-19 23:18] #25420 closed

[2021-03-19 23:20] Izhaki commented on #25420
Shame, but makes sense.

Should this be in the docs?

[2021-03-19 23:22] oliviertassinari commented on #25420
It's not deprecated yet. We will keep it around in v5 with a deprecation and remove it in v6.

[2021-03-19 23:36] ifndefdeadmau5 commented on #11764
@oliviertassinari May I work on it? :)

[2021-03-20 00:15] jansedlon commented on #25411
@oliviertassinari Just tried your sample and looks like that's all that's needed. @julihereu you can take it anyway if you want, I was just looking for a change for my first PR.

[2021-03-20 02:01] ashmlk opened #25421 "DataGrid Filter Column does not change on choosing filter from new column"
I recently noticed that when selecting a filter on a new column, the Filter component on the toolbar shows the previously selected column and not the new column. What I mean is:

If we have columns A and B, and initially, the column is A, and from the column options menu on column B I choose a filter, when the filter shows up, it is still set on column B. Is there a certain way this could be added

[2021-03-20 05:21] jeff-breunig opened #25422 "[DateTimePicker] formatting OK/PM buttons overlap"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The OK/PM buttons and AM/Clear buttons overlap.

## Expected Behavior 🤔
The buttons should be positioned so that they do not overlap.

## Steps to Reproduce 🕹

Steps:
1. https://nex

[2021-03-20 12:39] #25411 closed

[2021-03-20 12:52] BetoOrozco95 commented on #21745
Hello, you need to change the keys to:
`const theme = createMuiTheme({
		breakpoints: {
			keys: ['tablet', 'laptop', 'desktop'],
			values: {
				tablet: 640,
				laptop: 1024,
				desktop: 1280
			}
		},..............`

[2021-03-20 14:26] oliviertassinari commented on #25421
@ashmlk I have updated the description of your pain point. I had to read it four times to understand what you meant. I believe it's still true to your problem. Please let us know if it's not.

What you are describing is a UX tradeoff. With `<DataGrid>` only one filter can be set at a time. If we implemented what you suggested, it would mean removing any previous filter when opening the popup from

[2021-03-20 16:20] emulienfou opened #25427 "[Styles] Cannot use import statement outside a module"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Error message is returned when using alternative import.
Error message is: `SyntaxError: Cannot use import statement outside a module`

## Expected Behavior 🤔

Build should work prope

[2021-03-20 16:34] #25427 closed

[2021-03-20 16:35] oliviertassinari commented on #25427
Tip, check the import path

[2021-03-20 19:04] Arjit222830 opened #25430 "Mouse Event Failuer"
## Current Behavior 😯

When onMouseEnter={handleClick} and onMouseLeave={handleClose} is used in Button,  onMouseLeave event triggers as soon as we hover the button. So, no menu is shown on hover

## Expected Behavior 🤔

 onMouseEnter should show menu on hover while onMouseLeave should close the menu when moved out of the button

## Video

https://user-images.githubusercontent.com/43830893/1118827

[2021-03-20 19:59] jansedlon commented on #25283
@oliviertassinari Tried the CodeSandbox and it works there as well as on local env.

[2021-03-20 20:04] jansedlon commented on #25283
What is the difference between `onFocus` and `onTouchStart` on touch devices?

[2021-03-20 20:13] jansedlon commented on #25283
If I think about that.. If you disabled touchListener then it makes sense that `enterTouchDelay` doesn't do anything. You disabled it.

[2021-03-20 20:24] jansedlon commented on #25304
I'll make a PR. Your code solves it.

[2021-03-20 20:30] diegodelafuenteDim commented on #21795
¿Any news ? This icon is missing.

[2021-03-20 21:32] geochronology commented on #14860
Disabling lastpass on localhost seems to have changed from @gdarchen's instructions.

How to do now:
1. Click extension and go to "Open my vault"
2. Navigate to Account Settings
3. Go to "Never URLs" tab
4. Add "http://localhost" and for Type choose "Never Do Anything"

[2021-03-21 07:49] stefanfrancis93 commented on #14931
Hey can you share a snippet of your theme where the custom mixins are added?
I couldn't find any articles with a working example.

Thanks in advance

[2021-03-21 11:27] jansedlon commented on #25430
Reproduction: https://codesandbox.io/s/determined-engelbart-3jz7o?file=/index.js

[2021-03-21 11:30] #25430 closed

[2021-03-21 11:32] oliviertassinari commented on #25430
Duplicate of #7680

[2021-03-21 11:41] oliviertassinari commented on #25283
@jansedlon I don't get the question.

Wou would say that my proposal on https://github.com/mui-org/material-ui/issues/25283#issuecomment-794303990 is good enough for solving this issue?

[2021-03-21 12:26] jansedlon commented on #25283
@oliviertassinari  Basically. From what I understood, there's nothing wrong with the `Tooltip`.

[2021-03-21 13:02] oliviertassinari commented on #25283
@jansedlon Ok, thanks for double-checking, it always feels more reassuring. Do you want to contribute the update of the docs?

[2021-03-21 13:50] Kryword opened #25454 "Missing to forward data-testid prop in Tooltip component"
I'm working with react-testing-library to do tests in jest, and I found out that Tooltip component is not forwarding the data-testid prop. For example, `Dialog` component does forward `data-testid` prop if passed to the component.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that

[2021-03-21 14:08] oliviertassinari commented on #25454
Extra props are spread to the root element, hence the wrapped component. It behaves correctly.

[2021-03-21 14:08] #25454 closed

[2021-03-21 15:43] jansedlon commented on #25283
@oliviertassinari Sure, done.

[2021-03-21 16:36] #25217 closed

[2021-03-21 16:41] #25283 closed

[2021-03-21 19:57] oliviertassinari commented on #25417
@NMinhNguyen Thanks for opening the issue. I have tried to render 100,000 rows. It's REALLY slow. It takes about 10s to open in dev mode. This is pretty interesting as it's slightly counterintuitive. I always thought that creating a LOT of elements with React was cheap. Anyway, here is how to get the demo render x30 faster:

[code]

[2021-03-21 20:04] NMinhNguyen commented on #25417
Heh, in my profiling I also found `Reach.Children.map` to be quite slow on a large list, and I see you worked around it with a custom implementation. Thanks for sharing :) Could you explain what you're doing with `push(item)` and `concat(item.children)`? I no longer have the modified code in my `node_modules`, but I felt like exposing a `renderListbox` prop allows the most flexibility to the consu

[2021-03-21 20:07] oliviertassinari commented on #25417
Actually, it's not x30 faster. It's more x2-5. I got confused in my benchmark. I would raise that it seems to be mostly something affecting the dev mode, not the production mode.

[2021-03-21 20:08] NMinhNguyen commented on #25417
Oh really? from my observations, it seemed like prod mode was still noticeably slow.

[2021-03-21 20:09] oliviertassinari commented on #25417
@NMinhNguyen I think that it's the point where we should say: use the hook API, not the component API. I'm not aware of anyway to make it work with keyboard control.

[2021-03-21 20:12] NMinhNguyen commented on #25417
I'll see if I can show you the implementation in the next few days when I get some time. It was pretty much equivalent to what `Autocomplete` currently does, and all the behaviour remained intact because I was passing in all the required props to render the listbox.

[2021-03-21 20:12] oliviertassinari commented on #25417
I'm adding the "good to take" label for https://github.com/mui-org/material-ui/issues/25417#issuecomment-803649981. As for pushing it further => headless hook or add a limit in the filter.

[2021-03-21 20:13] #25336 closed

[2021-03-21 20:15] oliviertassinari commented on #25417
@NMinhNguyen This would be great to see the approach. This way, if the pain comes up again in the future, we could reconsider.

[2021-03-21 20:17] oliviertassinari commented on #25381
I don't get it. What's the issue? How do you reproduce it?

[2021-03-21 20:23] oliviertassinari commented on #25371
@alexfoxy What version of iOS are you using? I have tried iOS 14.4 on an iPhone 12 Pro Max simulator, no issues.

[2021-03-21 22:51] DmitryScaletta opened #25458 "`CssBaseline` styles for `body` are duplicated in the next.js example"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`CssBaseline` styles for `body` are duplicated in the next.js example

Light theme:
![image](https://user-images.githubusercontent.com/5096735/111923149-d193d080-8aae-11eb-99a3-5feb3e

[2021-03-22 01:05] jrhager84 commented on #9513
So is the intended solution moving forward to just use Box as the scaffold to build a css grid?

[2021-03-22 01:17] oliviertassinari commented on #9513
@jrhager84 Not sure yet. At least, we have a clean new demo for it: https://next--material-ui.netlify.app/components/grid/#css-grid-layout

[2021-03-22 04:35] pzi commented on #15610
I had to change the webpack config to the following to get it to work for our component library:

[code]

When I used the regex rule, it was complaining about an invalid `@` character when bundling. This seemed to have something to do with another webpack config in `output.libraryTarget: 'commonjs-module'`. Not sure what 'commonjs-module' does compared to 'commonjs2'.

[2021-03-22 04:52] ehimare369 commented on #15610
I am glad it worked for you. Please give an update if you later find a concrete difference between 'commonjs module' and 'commonjs2'.

[2021-03-22 06:14] MichaelTrilford-Airwallex commented on #12628
It doesn't seem to accept 500, 600, 700 etc.

[2021-03-22 06:40] sohamsshah commented on #25364
@vicasas This looks a good issue to work on. Would love to be assigned for this task. Any suggestions or references I can refer for working for this? Thanks :)

[2021-03-22 07:00] danielo515 opened #25459 "Types for ButtonBase are wrong"
This is the type definition for button base (which is later used by a lot of other components like Tabs)

https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/ButtonBase/ButtonBase.d.ts#L68

As you can see there, it doesn't specify a property called component, it  specifies defaultComponent.
If you

- [x] The issue is present in the latest release.
- [x] I have searched the

[2021-03-22 08:48] eps1lon commented on #25459
Thanks for the report.

I can't see an error in the code you provided. Is this maybe a duplicate of https://github.com/mui-org/material-ui/issues/15827?

[2021-03-22 09:23] rofrol commented on #25381
@oliviertassinari Remove useEffect to reproduce it

[2021-03-22 09:27] david-iccube opened #25460 "Chips action not bound with html dataset"
To reduce potential react component refresh it would be nice to easily bind data with in material-ui componets.

Scenario :

[code]

But the dataset is not bound to the event currentTarget. Of course we can move to the html element that holds de data, but first we need to find where it is located.

It's a nice to have, stick in the moon, comment...

[2021-03-22 09:29] petercutting commented on #8287
I am still seeing this issue

"@material-ui/core": "^4.11.2",

[2021-03-22 09:38] #25304 closed

[2021-03-22 09:54] oliviertassinari commented on #8287
@petercutting Do you have a minimal live reproduction in codesandbox with the latest version (v5)?

[2021-03-22 09:56] oliviertassinari commented on #25460
It should already be working

Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-03-22 09:57] danielo515 commented on #25459
Yes, it is exactly the same issue. I thought I have search better, my bad.
Thanks.

[2021-03-22 09:57] #25459 closed

[2021-03-22 10:14] RoyChen4212 opened #25462 "Tab scrollbuttons disabled status with CSS"
I use SCSS for the styling option with this MUI framework. When I use scrollable tabs, I cannot select the disabled scroll buttons to add the styles but I can add the styles of default scroll buttons.
[code]

At index.scss file
[code]

I've tried with `&.Mui-disabled` and even with`.MuiTabScrollButton-root.Mui-disabled` but they didn't work for me.
Please let me know how I can select that disabled

[2021-03-22 10:44] #25462 closed

[2021-03-22 10:46] oliviertassinari commented on #25462
Tip the `.MuiTabs-scrollButtons.Mui-disabled` CSS selector should work.

[2021-03-22 10:52] oliviertassinari commented on #12628
@MichaelTrilford-Airwallex We should be good in v5 now with

[code]

e.g. open this demo in codesandbox https://next--material-ui.netlify.app/components/checkboxes/#customized-checkbox

[2021-03-22 11:01] oliviertassinari commented on #25381
@rofrol No idea what's wrong. I'm closing per https://github.com/mui-org/material-ui/issues/25204#issuecomment-792363888

[2021-03-22 11:01] #25381 closed

[2021-03-22 11:01] alexfoxy commented on #25371
I am using 14.4 on both. It is a bit tricky to reproduce. Try scrolling down the page and then opening and closing a modal a few times. I have had other testers reproduce it so it's not just my device.

[2021-03-22 11:10] oliviertassinari commented on #25458
We have seen this issue in the past. It's great to have a standalone issue for it, thanks for opening it. See, https://github.com/emotion-js/emotion/issues/2158. It's also related to #24970.

[2021-03-22 11:15] oliviertassinari commented on #25364
@sohamsshah A new `### Toggle` section with a very simple example using the context should do it.

[2021-03-22 11:37] tacheometry opened #25463 ""calculate" icon is missing"
The "calculate" icon from [material.io](https://material.io/resources/icons/?icon=calculate&style=baseline) is missing when trying to import it from @material-ui/icons.
[code]
[code]
How the icon itself looks:
![baseline_calculate_black_18dp](https://user-images.githubusercontent.com/39647014/111984127-a5f70180-8b13-11eb-9b4a-df04b5f122e3.png)

[2021-03-22 12:01] aepp opened #25465 "[Tooltip] Provided `classes` produces console warnings when used around a Textfield"
When defining custom classes `tooltip` or `arrow` on a Tooltip component used on a Textfield, the console shows warnings like:
`The key `tooltip` provided to the classes prop is not implemented in ForwardRef(TextField).
You can only override one of the following: root.`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issu

[2021-03-22 12:14] aepp opened #25467 "[Snackbar] `key` is not a prop"
I used to set the `key` prop on a snackbar to ensure independent treatment of consecutive snackbars like described in the docs. I updated from alpha 19 to alpha 27 today and console started to warn me, that `key` is not prop.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this

[2021-03-22 12:15] #25463 closed

[2021-03-22 12:16] #25467 closed

[2021-03-22 12:16] oliviertassinari commented on #25467
Duplicate of #25304

[2021-03-22 12:51] DollarAkshay commented on #13734
Have you changed the original code, I am comparing this to the solution that @eps1lon has provided. They are identical in all ways.

[2021-03-22 13:41] david-iccube commented on #25460
Done

https://codesandbox.io/s/charming-fast-zpcj2

btw, you've a small issue with the codesandbox link.

[2021-03-22 14:06] manziEric commented on #25314
@oliviertassinari i'm going to work on this

[2021-03-22 14:10] HoussemDjeghri commented on #16976
@oliviertassinari this issue is still happening in Firefox 86.0.1

[2021-03-22 14:46] oliviertassinari commented on #25460
@david-iccube Thanks. Then it's a question. the other props are spread on the root element, the delete action is triggered from a nested element. It can't work. Instead, you can have a handle factory that accepts your param.

[2021-03-22 14:46] #25460 closed

[2021-03-22 16:02] sohamsshah commented on #25364
Okay thanks! On it ✅

[2021-03-22 18:28] steverecio opened #25471 "Checkbox accepts clicks through component layers"
I'm using the material-ui Checkbox component and it appears to accept clicks between layers. I previously raised this issue ([#20856](https://github.com/mui-org/material-ui/issues/20856)) as I was using a checkbox in a Popper element and in the element beneath it. The solution was to use z-index: 1 on the popper. I'm now using the react-modal library and the issue is arising again. Using z-index:

[2021-03-22 19:11] oliviertassinari commented on #25471
Duplicate of #20856

[2021-03-22 19:11] #25471 closed

[2021-03-22 19:14] steverecio commented on #25471
@oliviertassinari the issue persists despite the lack of popper usage. The recommended solution "z-index: 1" does not work. The checkbox still has the same issue.

[2021-03-22 19:59] steverecio commented on #25471
Here is a code sandbox: https://codesandbox.io/s/material-demo-forked-mldm9?file=/demo.js:0-674

Note that the button is unclickable but the Checkbox accepts clicks / hovers when it should not be receiving user input.

[2021-03-22 20:37] steverecio commented on #25471
The solution I found was to always add `z-index: 0` on all Checkboxes. This will prevent them from accepting click events from modals layered on top.

[2021-03-22 21:21] lgibso34 commented on #17997
Setting the span to "inline-block" worked for me.

[2021-03-23 09:03] wKich commented on #22426
@oliviertassinari here is scraped list of all public github repo dependents https://gist.github.com/wKich/a9c7ce41b0ac15233717469ea9e3a627 sorted by star count. For an unknown reason, github includes repos that had or mentioned material-ui somewhere in code or issues.

[2021-03-23 14:06] ahayes91 commented on #15914
Ditto on this issue - I'm working on a single-spa app as @pkhodaveissi mentioned, and having multiple React apps on the page that each use a `MuiThemeProvider` component with the same theme in their tree are causing conflicting stylesheets and unexpected behaviour in our components.
I confirmed that upgrading to MUI 5 would indeed resolve the issue for us, but seeing as MUI 5 isn't ready yet and w

[2021-03-23 17:54] coding404life commented on #8912
in the material-UI documentation, they say that you can override or add global classes through the <Cssbaseline /> component
`const theme = createMuiTheme({
  overrides: {
    MuiCssBaseline: {
      '@global': {
        textUpperCase: {
          textTransform: 'uppercase'
        },
      },
    },
  },
});`

[2021-03-23 18:39] tomsturge commented on #22001
The problem we are facing is that the BottomNavigationAction creates a button element and we want an anchor tag. A link driven by JS on a button is detrimental for SEO

[2021-03-23 18:48] MatiasManevi opened #25474 "Import declaration conflicts with local declaration of 'Snackbar'.ts(2440)"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I want to use Snackbar component but I am having issues when trying to import the component. It says:
`Import declaration conflicts with local declaration of 'Snackbar'.ts(2440)`

The

[2021-03-23 19:19] rajanlagah commented on #24785
Getting the same error.

[code]
And calling it from
[code]

[2021-03-23 21:47] #25474 closed

[2021-03-23 22:20] oliviertassinari commented on #15914
@ahayes91 If you have multiple react roots, `disableGlobal` isn't enough. You need to have a uniq seed for each.

I'm closing as this is fixed in v5.

[2021-03-23 22:20] #15914 closed

[2021-03-24 05:19] zp1112 opened #25475 "tooltip not been removed when the origin element had been removed"
the code is like this:

[code]

when click title,element removed but the global tooltip still position on the page,how to fix it?I need to remove component by using document.remove

![image](https://user-images.githubusercontent.com/14245159/112259547-770f9580-8ca3-11eb-931b-22b44927b8c3.png)

[2021-03-24 09:05] ee0pdt commented on #20470
So having spent a sleepless night worrying about accessibility of chips in my app, I think that the issue is in how the Material Design language for Chips has been interpreted here. Things I have noticed:

1. I can't find examples of a deletable chip being used outside a text area in actual Google apps, so the delete and backspace buttons are readily available to remove the last entered input (sho

[2021-03-24 09:27] abdullRahman95 commented on #15697
This solution worked for me!

 `variant={'outlined' as any}`

[2021-03-24 09:51] ilmiont opened #25477 "[Autocomplete] Autocomplete component expose 'groupedOptions'"
The `useAutocomplete()` hook exposes `groupedOptions`, which allows you to access the filtered options to display based on the user's current input.

It would be useful to be able to access this with the `Autocomplete` component too. `Autocomplete` currently provides no way to access the list of options which are currently rendered to the user - the only approach is to manually inspect the DOM to

[2021-03-24 10:23] DollarAkshay commented on #16325
Would be nice if you explained this a bit more. The `Dialog` component does not have any `keepMounted` prop, where should I add this.

[2021-03-24 10:27] DollarAkshay commented on #16325
Setting the `keepMounted`  to true or false property did not clear the state.

[2021-03-24 10:57] oliviertassinari commented on #16325
@DollarAkshay see https://next.material-ui.com/components/dialogs/#performance

[2021-03-24 11:51] oliviertassinari commented on #25477
You can solve this issue by providing your own filter method and by controlling the input value. Once the user press <kbd>Enter</kbd>, then you can apply the filter on the input value and your options.

[2021-03-24 11:51] #25477 closed

[2021-03-24 12:01] oliviertassinari commented on #25475
Disable the portal behavior of the tooltip with the corresponding prop. If you need more details, please ask on StackOverflow.

[2021-03-24 12:01] #25475 closed

[2021-03-24 12:05] rusaym opened #25478 "SCRIPT438: Object doesn't support property or method 'closest'"
On the IE11 `DataGrid` renders not correctly and there are errors on the console.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/17137916/112306660-18511880-8cb1-11eb-8ae9-62c087ec504e.png)

## Expected Behavior 🤔

![image](https://user-images.githubusercontent.com/17137916/112306761-3454ba00-8cb1-11eb-920c-fc1734f8fce3.png)

## Steps to Reproduce 🕹

Steps:

1. Create n

[2021-03-24 12:35] vicasas opened #25479 "[Card] Unnecessary styles using a child to CardMedia"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the `CardMedia` component is used in a custom way passing it an <img> child, there are unnecessary styles of position that were used for the image through the `image` or `src` pr

[2021-03-24 13:15] #25314 closed

[2021-03-24 13:22] Nerfi commented on #24041
hey there I have the same issue with my component,Im using commerce.js in order to process payments and using Material UI.
The issue Im facing is`<Select value={shippingCountry} fullWidth onChange={(e) => setShippingCountry(e.target.value)}>
                {Object.entries(shippingCountries).map(([code, name]) => ({ id: code, label: name })).map((item) => (
                  <MenuItem key={item.id

[2021-03-24 14:08] MonstraG opened #25480 "[TextareaAutosize] calculates size incorrectly in Firefox"
When calcualting minumal height based on `rowsMin` prop, resulting textarea is smaller than in Chrome.
Additionally, when all rows are filled, width shrinks a bit.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
This is a gif from

[2021-03-24 14:25] optimista commented on #13840
and in new version 5

[code]

[2021-03-24 14:33] bocvana commented on #9427
Does anybody know why 'e.stopPropagation' doesn't work on the switch form?

[2021-03-24 14:35] oliviertassinari commented on #25479
@vicasas Do you have a reproduction? What's unnecessary? Why are these extra styles problematic?

[2021-03-24 14:38] #25321 closed

[2021-03-24 14:40] eps1lon opened #25481 "[RFC] Picker variants"
TL;DR: Changes to the public API are
1. `Static*Picker` will become `*PickerView` (naming open).
2. Drop `allowKeyboardControl`

Right now we ship every picker in 4 different variants:
1. static e.g. `StaticDatePicker`
2. mobile e.g. `MobileDatePicker`
3. desktop e.g. `DesktopDatePicker`
4. responsive e.g. `DatePicker`

Static variants are the underyling picker without the textbox(s). It isn't sta

[2021-03-24 14:45] oliviertassinari commented on #25465
@aepp Thanks for reporting this issue. While the warning is [no longer present](https://codesandbox.io/s/material-ui-issue-forked-6yetj?file=/package.json) in v5.0.0-alpha.28. It doesn't change the fact that `classes` leak. It's not supposed to inherit. For instance:

[code]

<img width="527" alt="Screenshot 2021-03-24 at 15 42 37" src="https://user-images.githubusercontent.com/3165635/112329548-9

[2021-03-24 14:47] vicasas commented on #25479
@oliviertassinari Yes!

https://codesandbox.io/s/material-demo-forked-qo4hj?file=/demo.js

Why if I want to build my customizable component, the css generated by `CardMedia` doesn't affect my child. This given that the styles that remain are applied when there is an image as a background

For my use case in particular, it does not bring me any considerable problem, but if we could handle this scen

[2021-03-24 14:50] Nerfi commented on #18494
@blazejmojak  hey there !  I have pretty much the same issue as you, Im getting some data from and API and trying to place that data on the select Material UI elemnt , but I keep getting and error , can you help me out ?

[2021-03-24 14:59] blazejmojak commented on #18494
@Nerfi - hi. Are you get data from api via React.useEffect?

[2021-03-24 15:07] Nerfi commented on #18494
@blazejmojak  yes I am, if you want to I can send you the component on which Im doing this

[2021-03-24 15:08] blazejmojak commented on #18494
@Nerfi Yes, send me code

[2021-03-24 15:10] Nerfi commented on #18494
@blazejmojak  https://github.com/Nerfi/e-commerce/blob/master/src/components/checkout/AddressForm.js , you can just jump into line 33 and 94m thanks !

[2021-03-24 15:13] blazejmojak commented on #18494
@Nerfi Isn't it private repository? I can't see.

[2021-03-24 15:14] jordmantheman commented on #16673
For those on v4, I've notice I could get this to work if I followed 1 rule:

**If you provide a callback for a single keyframe-selector or keyframe CSS Value, then you must provide it for every keyframe-selector or keyframe CSS Value.**

[code]

Of course, the official disclaimer: Worked for me in my so-far minimal testing.

[2021-03-24 15:23] Nerfi commented on #18494
@blazejmojak alright , I forgot about that, well in that case have a look at this place , https://github.com/adrianhajdin/project_e_commerce/blob/main/src/components/CheckoutForm/AddressForm.jsx, I took the same code from this guy tutorial

[2021-03-24 15:31] Mangatt opened #25482 "[Modal] enable getDoc prop"
It would be helpful to be able to modify `getDoc` prop in `[TrapFocus]` from `[Modal]` component. Right now it is impossible to refocus previously focused element in different document context (iframe) because of that.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`getDoc` prop provided

[2021-03-24 15:33] Mangatt commented on #25482
This is important especially because a lot of components use `[Modal]` internally, but actually none of them enables access to `[TrapFocus]` through prop directly.

[2021-03-24 16:37] oliviertassinari commented on #25465
@baterson sure

[2021-03-24 16:40] oliviertassinari commented on #25482
@Mangatt Do you have a reproduction? I don't understand the issue. Why is https://github.com/mui-org/material-ui/blob/5fc45752d8f9583cc782ae04065845c9772509ff/packages/material-ui-unstyled/src/ModalUnstyled/ModalUnstyled.js#L95

Not enough?

[2021-03-24 17:00] oliviertassinari commented on #25479
OK, I think that I get it know. The `CardMedia` is an helper, if it doesn't fit your use case, you can simply not use it.

[2021-03-24 17:00] #25479 closed

[2021-03-24 18:08] Mangatt commented on #25482
@oliviertassinari Actually it is not. Look at following pseudocode:

[code]

In this case is `input` focused. When you open `Dialog`, `TrapFocus` will save reference to `iframe` and thus will not be able to refocus input again after `Dialog` is closed, because it will call `iframe.focus()`.

It should be non-breaking change to forward `getDoc` prop from `Modal` to `TrapFocus` and it would enable t

[2021-03-24 18:30] pbollaram opened #25485 "Select component out of range value issue when values are set with props or useEffect"
i am using select component with values by setting them using useEffect like below.

useEffect(()=>{
const {property, properties} = props;
 setProperties(properties); // properties is an array of values ['somevalue1', 'somevalue2']
 setProperty(property)
},[props])

but this leads to following javascript warning. i guess this because of race condition where property is set first rather than proper

[2021-03-24 18:50] MatiKloster opened #25486 "[Table] Sorting and selecting table is working as expected with repeated row's values"
Sorting and selecting table is working as expected with repeated row's values

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
If a row of the table has a duplicated value from another one, and you want to sort by asc and desc on an

[2021-03-24 19:04] oliviertassinari commented on #25481
@eps1lon Great issue and an interesting topic! A couple of thoughts that I have maturing since I started diving into the pickers with @dmtrKovalenko last year.

- First, I would like to emphasize that the mobile and desktop versions of the popup content can be significantly different. You can have a clock picker on mobile but it's far from great UX on desktop: #23690. The issue seems to have gotte

[2021-03-24 19:12] oliviertassinari commented on #25486
tip, you can't give it the same id.

[2021-03-24 19:13] #25486 closed

[2021-03-24 23:49] #25485 closed

[2021-03-24 23:52] oliviertassinari commented on #25482
@Mangatt Interesting. I'm closing as the current behavior seems correct. The iframe gets the focus back. getDoc is unstable until trap focus is. I don't think that there is much value in considering this case. I have added the "wontfix" label.

[2021-03-24 23:52] #25482 closed

[2021-03-25 01:40] slayybelle commented on #19205
I'm getting a similar error using axe-core using 4.11.3; the id is pointing the tooltip perhaps?  However, since the tooltip is only on hover this id doesn't exist.  Would be nice if we could pass the aria-label in as a prop and assigned to the <button> element
<img width="766" alt="Screen Shot 2021-03-24 at 6 37 36 PM" src="https://user-images.githubusercontent.com/32496958/112405700-03d04880-8cd

[2021-03-25 02:12] slayybelle commented on #19205
mb, this accomplished what I need:
FabProps={{
  "aria-label": t("Just testing"),
}}

[2021-03-25 02:34] matthewkwong2 opened #25492 "[Stack] component prop not available"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The `<Stack />` component does not have a `component` prop. It will always return as a `<div />`.

## Expected Behavior 🤔
Like almost every component in `material-ui`, there should be

[2021-03-25 07:25] useit-consulting commented on #22956
@oliviertassinari Do you have any update on this?

As I said before, this is a critical barrier for mobile screen reader users. And it can also be a legal liability for any organization using the autocomplete.

It is currenty stopping one of our clients from using the MUI autocomplete in their production app.

[2021-03-25 07:53] Harish-Karthick commented on #25399
Can i work on this issue?

[2021-03-25 08:20] blazejmojak commented on #18494
@Nerfi - In my opinion, you should first check if shippingCountry isn't empty before map shippingCountries.
The reason is, that you make setShippingCountries which causes re-render. Select value={' '} and you don't have 'empty' option when shippingCountries is mapping. Next step is setShippingCountry (and re-render again) and you can see the form correctly (but an error appears in the console).
Co

[2021-03-25 08:26] ognjenio opened #25493 "In DataGrid when using column selector, the first time a column is hidden the grid is scrolled down"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There's a DataGrid. The data grid has a toolbar. The toolbar has a column selector. The first time a column visibility is changed ~~is hidden~~, the page is scrolled down. The second

[2021-03-25 09:07] LaunoisRemy opened #25494 "Data-grid loose focus on version 4.0.0_alpha.23"
When we display a modal from a button included in a datagrid, we can not keep the focus inside on a TextField, it remains on the datagrid behind

## Current Behavior 😯

When you try to write in a TextField in a modal display from datagrid, you lose focus directly and you can't continue, unless you spam. If you try to delete nothing happens, or rather something happens on the datagrid behind.

## S

[2021-03-25 09:33] Mangatt commented on #25482
I'm sorry, but I don't think you're right @oliviertassinari .

Look at https://codesandbox.io/s/confident-germain-35fsg?file=/src/App.js (https://material-ui.com/r/issue-template-next is not working).

Try do focus first `TextField`, then click `Button` and close the `Dialog`. `TextField` didn't receiver focus back, because `iframe.focus()` does not do anything. Now try this again with second fiel

[2021-03-25 09:34] Mangatt commented on #25482
I can submit PR if we can agree on one of this solutions.

[2021-03-25 09:52] eps1lon commented on #25481
This issue is not about creating a single component for mobile/desktop nor that we should reduce the difference. Aside from `allowKeyboardControl` no public API/behavior is supposed to change with these changes.

Sure. This issue is not trying to dispute that.

Apart from the textbox I don't see any difference. I forgot to mention different textboxes which I encorporated in the initial proposal.

[2021-03-25 09:55] eps1lon commented on #25399
@Harish-Karthick Sure, thanks for taking the time :+1: I'm assigning you for visibility. If you got any questions feel free to ask. It's totally fine to open a PR even when you're blocked at some point.

[2021-03-25 11:15] dohomi opened #25495 "[Autocomplete] async examples of the new documentation broken"
The async Autocomplete examples are currently not working any longer.

Open:

https://next.material-ui.com/components/autocomplete/#load-on-open

The request is not able to be made. Beside that I think from .27 => .28 the async Autocomplete errors but I still investigate.

<img width="414" alt="Screenshot 2021-03-25 at 19 15 44" src="https://user-images.githubusercontent.com/489221/112464535-93dcc

[2021-03-25 11:38] Mangatt opened #25496 "[TrapFocus] default getDoc"
I think that it could be beneficial to have default value for `getDoc` prop in `[TrapFocus]`.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In the very basic form it could have have `ownerDocument` value that is implemented in `[Modal]`. But I think we could go little bit further and de

[2021-03-25 11:39] Mangatt commented on #25496
I could submit a PR if this is something that makes sense to others.

[2021-03-25 11:42] Mangatt opened #25497 "Defaul issue template is not working"
See https://codesandbox.io/s/material-ui-issue-dh2yh

[2021-03-25 11:55] oliviertassinari commented on #25495
@dohomi Thanks for raising it, the endpoint seems dead: https://country.register.gov.uk/records.json?page-size=5000.

[2021-03-25 12:24] smashboy opened #25499 "Wrapping Dialog children with form brakes DialogActions from sticking to the bottom"
Hello everyone!

I've bumped to the issue when my modal is wrapped with form element and `fullScreen` set to `true` and because of this combination `DialogActions` is not displaying where it should.

![image](https://user-images.githubusercontent.com/30213662/112472382-bad2cf80-8d75-11eb-9750-c874d22e1767.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](ht

[2021-03-25 12:48] oliviertassinari commented on #25499
Duplicate of #13253

[2021-03-25 12:48] #25499 closed

[2021-03-25 13:51] ntbosscher opened #25500 "Table stickyHeader doesn't work with height: 100%"
Table stickHeader functionality doesn't work when the TableContainer height is set to "100%" or "flex: 1"

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When you set the TableContainer height to 100% or `flex: 1` the sticky functi

[2021-03-25 14:28] oliviertassinari commented on #25495
They didn't provide a replacement option. Just discontinued it. In this case, I would propose we avoid external network requests:

[code]

@dohomi What do you think about this option?

[2021-03-25 15:10] oliviertassinari commented on #25500
@ntbosscher You have to make it overflow correctly.

[2021-03-25 15:10] #25500 closed

[2021-03-25 15:38] oliviertassinari commented on #25497
@Mangatt Thanks for the report. It seems that the sandbox where deleted, maybe a SQL migration that went wrong? 🤷‍♂️

I have created two templates

<img width="1068" alt="Screenshot 2021-03-25 at 16 36 13" src="https://user-images.githubusercontent.com/3165635/112500139-69800b80-8d88-11eb-8b7c-92a6688532db.png">

- https://codesandbox.io/s/material-ui-issue-next-o7xkt
- https://codesandbox.io/s/ma

[2021-03-25 15:42] ognjenio commented on #25493
https://github.com/mui-org/material-ui-x/issues/1148

[2021-03-25 15:42] #25493 closed

[2021-03-25 15:50] JanKaczmarkiewicz opened #25502 "[Autocomplete] Wrong onChange value type with wrapper and multiline"
Hi, First of all, I really love this library. Thanks for Your job :)

I am trying to extend Autocomplete type based on https://github.com/mui-org/material-ui/blob/1fd983abd9c26d3d751f99d2efbfa2e5ab063786/packages/material-ui-lab/src/Autocomplete/Autocomplete.spec.tsx
And I have a problem with onChange value type
<img width="754" alt="Screenshot 2021-03-25 at 16 50 20" src="https://user-images.gith

[2021-03-25 18:07] steverecio commented on #12246
What is the right way to make a tooltip disappear when clicked? disableFocusListener doesn't seem to work. I want the tooltip to show up onHover but disappear if it is clicked.

[2021-03-25 18:14] oliviertassinari commented on #25502
The pain seems to be, more or less, the same as #25013. Here is a failing test case:

[code]

 I don't have the faintest idea as to where to start looking to fix it. If you have a solution, please submit a pull request. It would be great.

[2021-03-25 18:22] oliviertassinari commented on #12246
@steverecio For custom behaviors, control the open state with the props: https://next.material-ui.com/components/tooltips/#controlled-tooltips

[2021-03-25 18:29] oliviertassinari commented on #25496
@Mangatt You can subscribe to the focus event on the iframe and manage the focus programmatically for your custom use case.

[2021-03-25 18:29] #25496 closed

[2021-03-25 18:32] oliviertassinari commented on #25482
I would recommend listening to the focus event on the iframe and bridge the gap between the two documents.

[2021-03-25 18:39] oliviertassinari commented on #25492
@matthewkwong2 Thanks for opening this issue. Yes, this is a hard requirement for this CSS utility component. The types are actually already designed to accept a `component` prop. The fix should be as easy as:

[code]

Do you want to take on this issue?

[2021-03-25 18:40] #25497 closed

[2021-03-25 18:45] oliviertassinari commented on #25481
@eps1lon Agree with you. I was trying to take a step back and try to present the context in which the RFC happens. The intent was to explore how much the proposal fits with the other constraints.

Regarding the difference, I have only tried to further precise it. 1. I have made a proposal for the name at each level. 2. I have clarified that the mobile view and desktop view are different components

[2021-03-25 19:20] Mangatt commented on #25482
That would require `iframe` to be focusable (otherwise it will not trigger `onFocus`) and it is actually hard to distinct between normal `onFocus` and this `TrapFocus` one.

Passing `getDoc` prop couldn't hurt.

[2021-03-25 19:24] oliviertassinari commented on #25482
focus seems to trigger: https://codesandbox.io/s/confident-currying-bip3b?file=/src/App.js

[2021-03-25 19:36] Mangatt commented on #25482
You are right, I don't know why it didn't worked before, but thanks anyway!

[2021-03-25 19:46] JanKaczmarkiewicz commented on #25502
I found solutions :)
1.  (component use fix) Explicitly pass `multiple={false | undefined} freeSolo={false | undefined} disableUnderline={false | undefined}`
or
2. (component definition fix) assign defaults to component definition generics
[code]
I think the second option is better :)

**Explanation**
The reason for this odd behaviour is that if we don't pass default type to generic (Multiple exte

[2021-03-25 19:58] Mangatt commented on #25496
@oliviertassinari Ok, understood.

Just for future reference - should we stop posting these potential improvements because our usage is not "typical" (e.g. different `document` contexts)? It will save time for everybody.

[2021-03-25 19:59] Mangatt commented on #25496
Don't get me wrong, you're doing great job, but to be honest, I feel like community input is not welcomed here as it used to be.

[2021-03-25 20:09] oliviertassinari commented on #25496
@Mangatt We are always eager to hear about the pains developers have and the potential solutions that have found. Usually with how open-source work, a no today, doesn't mean a no forever, a yes, is forever. You can expect the default answer to be no or ignorance.

When we do see potential, we will definitely push further. We have to balance our time, there is a tremendous amount of value in only f

[2021-03-25 20:22] Mangatt commented on #25496
We usually do not need you (or your team) to solve our problems. We already have solutions or workarounds, but we want to give back to community, even though `material-ui` is fully fledged company now.

Anyway, thanks for clarification. We will try again in the future then.

But I can't stress this enough - `material-ui` is incredible piece of code and you all are doing great job (despite my ranti

[2021-03-25 21:07] CWSites commented on #24864
Sorry I haven't had a chance to dig in here, if someone else is able to take it that would be great. I'm not sure when/if I'll have time to set aside here.

[2021-03-25 22:11] callmeberzerker commented on #24865
I've tried to address your points @oliviertassinari in the PR. If you have any remarks please tell me. Thanks!

[2021-03-25 22:49] oliviertassinari commented on #25502
@JanKaczmarkiewicz Great, thank you for spending time on this problem. So, if I understand correctly, this is doing it:

[code]

Go for it :)

[2021-03-25 23:14] oliviertassinari commented on #19205
It seems that this fix would solve the aria errors.

[code]

We could also fix the radio group description:

[code]

@slayybelle Do you want to work on it? :)

---

Along my exploration, I also noticed https://github.com/mui-org/material-ui/pull/23791/commits/267e78ddf9dbc57ed3e705238ad63a45fdb6a715#r601897006, but it's a different topic.

[2021-03-25 23:19] #24865 closed

[2021-03-26 00:26] itasahobby opened #25508 "Automatically generated MenuItem unexpected behaviour"
`<MenuItem>` generated with map function doesn't assign value to `<Select>` component while manual `<MenuItem>` do

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:
1. Create a

[2021-03-26 01:16] dohomi commented on #25495
@oliviertassinari yes that is looking good 👍

[2021-03-26 01:25] dohomi commented on #9957
I'm a bit late to the party but I added a thumbs up. Not sure if you would like to open this issue again @oliviertassinari but in my current use case I am integrating `react-phone-number-input` with a country selector. The options should be natively and the selected field should show the `flag`. I do this now with `MenuItem` but the client would like to keep the options native which is especially

[2021-03-26 04:19] VNXtreme commented on #8581
You saved me too @jacobedawson. Thank you!

[2021-03-26 08:59] Ryuyxx opened #25510 "[Pagination] The default color is in rgba."
I was testing [sample code](https://material-ui.com/components/pagination/#outlined-pagination), but the default colors were not the same.
I don't have any particular settings of my own.

- my env
[code]
- should be
[code]
- versions
[code]
#### codes
I could changed backgroundColor. Couldn't on text color.
[code]

[2021-03-26 09:07] eps1lon commented on #25481
Update the issue with notes about the terminology we use. Came to the realization that we should rename `DayPicker` to `CalendarPicker`.

I'm also leaning towards replacing the `Picker` in `DatePicker`, `TimePicker`, `DateTimePicker` and `DateRangePicker` with `Input`. This would distinguish them from e.g. `ClockPicker`, emphasize that you don't just "pick" but also have an "input" (i.e. textbox)

[2021-03-26 09:19] #25510 closed

[2021-03-26 09:21] oliviertassinari commented on #25495
@dohomi OK, great. I have left a "good first issue" label, so anyone can grab it to open a pull request.

[2021-03-26 09:39] itasahobby commented on #25508
Solved the issue by wrapping it in an array instead of a div, not sure if it is intended this way.
Working piece of code would be :
[code]

[2021-03-26 09:39] #25508 closed

[2021-03-26 09:46] ptxmac commented on #21709
The documentation is still referring to the old syntax: https://material-ui.com/components/about-the-lab/#typescript

[2021-03-26 09:52] ptxmac commented on #22203
The docs should probably be updated with the new syntax: https://material-ui.com/components/about-the-lab/#typescript

[2021-03-26 10:24] oliviertassinari commented on #22203
@ptxmac It was already fixed: https://next.material-ui.com/components/about-the-lab/#typescript

[2021-03-26 10:26] ptxmac commented on #22203
Right, It's just that this issue was closed in August, so I expected any changes to actually have been released :)

[2021-03-26 10:47] oliviertassinari commented on #25508
Duplicate of #14943

[2021-03-26 11:19] Muzietto opened #25511 "Edge/IE11 Multiple Accordions - last chosen accordion won't close if I select a new one - ClickAwayListener not triggered"
- [X] The issue is present in the latest release 4.11.3.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have multiple sibling components that are basically glorified Accordion's. They are controlled one by one through an `[expanded, setExpanded]` `useState` hook inside each com

[2021-03-26 11:35] oliviertassinari commented on #25511
Closing per https://next.material-ui.com/getting-started/supported-platforms/#ie-11

[2021-03-26 11:35] #25511 closed

[2021-03-26 11:37] Muzietto commented on #25511
@oliviertassinari - what about Edge? Don't you support it? I can remove every reference to IE11.

[2021-03-26 11:39] oliviertassinari commented on #25511
@Muzietto We support Edge since 85 or newer.

[2021-03-26 11:55] #16481 closed

[2021-03-26 11:58] xbaun-mms opened #25513 "[Card] Component property missing"
The `component` property is missing on the `Card` element because its props definition is derivated from `Paper` that is using `OverridableComponent` (https://github.com/mui-org/material-ui/pull/25426).

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

##

[2021-03-26 12:09] oliviertassinari commented on #25513
It seems related to https://github.com/mui-org/material-ui/pull/25456 and https://github.com/mui-org/material-ui/pull/25059

[2021-03-26 12:50] Muzietto commented on #25511
@oliviertassinari - OK, here how things are:
- my issue is not about one of the new components mentioned in your list. I respect your list and I have already fixed several IE11 Grid issues without bothering you guys
- I am 100% independent about polyfills.
- the link to the legacy bundle is broken, otherwise I would have tried it long ago
- it's legitimate to say that next release will drop suppor

[2021-03-26 13:15] oliviertassinari commented on #25511
@Muzietto To provide context on the policy. The simple fact of reading and disuccsing an issue is consuming resources, resources we prioritize differently.

[2021-03-26 14:00] yonnierf commented on #25511
🤦🏻🤦🏻

[2021-03-26 14:22] Baorohua opened #25514 "My ask for the"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-03-26 14:25] Baorohua opened #25515 "MJA Spoke"
**歡迎**

[2021-03-26 14:58] #25514 closed

[2021-03-26 14:58] #25515 closed

[2021-03-26 16:06] Hamdan85 opened #25517 "Object is a Reserved word"
Object seems to be a reserved word, so, if you create a component named Object, and use makeStyles, component brakes with following message:

Uncaught TypeError: _ref$object is undefined

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavio

[2021-03-26 18:37] oliviertassinari commented on #25517
@Hamdan85 It seems to be a generic question with React. This fails without Material-UI: https://codesandbox.io/s/material-demo-forked-l0d6v?file=/demo.tsx:0-92

[code]

[2021-03-26 18:37] #25517 closed

[2021-03-26 18:41] hp8wvvvgnj6asjm7 opened #25518 "formcontrol when size=small not centering triangle"
![center](https://user-images.githubusercontent.com/45887282/112678397-c7812180-8e62-11eb-8c8b-7e47c6ae9f1c.jpg)

[2021-03-26 19:51] teenguyen commented on #25273
Wow the answer really was that simple. Thank you so much! This has been a huge blocker for us 😅

[2021-03-26 20:58] oliviertassinari commented on #25518
@hp8wvvvgnj6asjm7 Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-03-26 22:50] Iamsoto opened #25519 "[Backdrop] Doesn't block Accordian summary component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The backdrop component, when opened, doesn't cover or block any Accordian Summary component when it's on the same page.
## Expected Behavior 🤔

The backdrop should cover the accordian

[2021-03-26 23:44] andrew2558 opened #25520 "How to add custom node attributes to the treeitem element？"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

How to add custom node attributes to the treeitem element

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2021-03-26 23:48] andrew2558 commented on #25520
i get it
` <TreeItem nodeId="2" label="Calendar" myId="125" />`

![image](https://user-images.githubusercontent.com/25080605/112703117-c38be880-8ed0-11eb-9b12-bb666a237de2.png)

[2021-03-26 23:48] #25520 closed

[2021-03-27 00:37] mojimi commented on #25312
It's a shame it's not working, Gatsby is incredibly popular, including the Mui plugins Gatsby has

[2021-03-27 00:41] oliviertassinari commented on #25519
@Iamsoto Thanks for reporting this behavior. Yeah, the z-index: -1 was added specifically for the dialog body scroll support. I would propose we move the style to only where we need it since it has stacking size effects:

[code]

Feel free to work on a pull request :)

[2021-03-27 02:15] matthewkwong2 commented on #25492
@oliviertassinari I'm not familiar with how open source projects usually work. Do you wish me to fork the repository and open a pull request?

[2021-03-27 02:21] SARCASMOOO commented on #7442
If you want a full-height grid use the makeStyles and set the root class to be 100vh.

For example,

here is a component I made that takes up the entire screen.

import React from 'react';
import { Grid, makeStyles } from '@material-ui/core';
import WelcomeHeader from './WelcomeHeader/WelcomeHeader';
import GetInTouchButton from './GetInTouchButton/GetInTouchButton';
import MoreButton from './More

[2021-03-27 05:03] TAO44123 opened #25523 "page.js:138 Uncaught TypeError: widgetDom.webkitCreateShadowRoot is not a function"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

when I write a long paragraph in a grid item, the browser will report a error.
page.js:138 Uncaught TypeError: widgetDom.webkitCreateShadowRoot is not a function
just happen when the

[2021-03-27 06:22] StuffByLiang commented on #23610
@eps1lon Would love to make a pr adding some documentation to use codemod with typescript! I'm migrating to mui v4 -> v5 and I also had a bit of a struggle getting mui's codemod to run with typescript. Thoughts?

[2021-03-27 09:06] eps1lon commented on #25523
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-03-27 09:07] eps1lon commented on #23610
Sounds great. Feel free to go ahead and then we work with the initial proposal.

[2021-03-27 09:34] xdrbenny commented on #25523
!open

[2021-03-27 09:37] ohmpzz commented on #20689
I set inputs and select with ```fullWidth```. When I change the option in ```select```. ```Dialog```  width change according to.

I fixed with ```<div style={{ width:'100%' }}>```.

[code]

[2021-03-27 09:46] #25326 closed

[2021-03-27 10:37] oliviertassinari commented on #25492
@matthewkwong2 This sounds about right, it would be great. Note that we would also likely need to run the scripts to update the documentation. The CI will let you know what are these scripts in questions.

[2021-03-27 12:37] sagarsatalkar opened #25525 "Dialog not opening in desktop fullscreen mode"
Material Ui Dialog not opening in desktop fullscreen mode.
Actually, it opened beside the page when we exit from fullscreen it is showing.

[2021-03-27 12:43] oliviertassinari commented on #25525
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-03-27 14:27] xdshivani commented on #25492
assign this to me!

[2021-03-27 14:40] oliviertassinari commented on #25492
@silver-snoopy is already on it

[2021-03-27 15:05] xdshivani commented on #25492
As this task was not assigned to anyone, so I thought I am free to give a PR. I didn't see your text, because I was busy editing the file.

[2021-03-27 17:04] oliviertassinari opened #25528 "[TrapFocus] Improve props"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

1. Have `() => document` as the default prop value of `<TrapFocus getDoc />`.
2. Have `() => true` as the default prop value of `<TrapFocus isEnabled />`

## Motivation 1 🔦

99% of the time*, developers don't need to care about the support of

[2021-03-27 17:09] Sabbb20 opened #25529 "New clips"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2021-03-27 17:31] m4theushw commented on #25528
While looking at the TrapFocus [page](https://next.material-ui.com/components/trap-focus/) I noticed that the keys are not visible on the dark theme. Since the docs will be updated this could be fixed too.

![image](https://user-images.githubusercontent.com/42154031/112728903-3bc1d080-8f08-11eb-8a77-581e5fe6f393.png)

As an example, GitHub uses a light color shadow when on the dark theme:

![image

[2021-03-27 17:38] oliviertassinari commented on #25528
@m4theushw Oh damn. I have tried to reproduce the exact look and feel of GitHub of this: <kbd>Tab</kbd>

**Light**

<img width="130" alt="Screenshot 2021-03-27 at 18 37 11" src="https://user-images.githubusercontent.com/3165635/112729242-80ab2e80-8f2b-11eb-902d-928675716013.png">

**Dark**

<img width="122" alt="Screenshot 2021-03-27 at 18 37 26" src="https://user-images.githubusercontent.com/3165

[2021-03-27 19:30] oliviertassinari commented on #25312
@mojimi What makes you think that it's "not working anymore". It's popular, but [not really growing](https://www.similarweb.com/website/gatsbyjs.com/?competitors=nextjs.org).

@MartinDawson I had a look at your issue. I believe this problem can't be solved with the current [API exposed by Gatsby](https://www.gatsbyjs.com/docs/reference/config-files/gatsby-ssr/#apis) and emotion. What we would need

[2021-03-27 19:39] MartinDawson commented on #25312
@oliviertassinari Thanks a lot for the update.

I can't migrate to next.js yet so I'm interested in the other 2 solutions.

So, does the `sx` prop use makeStyles/withStyles under the hood or can I use this instead?

Or are you saying I can't use MUI at all and need to switch to styled components?

Thanks

[2021-03-27 19:53] jonnyasmar commented on #23877
Sorry for resurrecting a closed thread, but I had this exact same issue and discovered that it had to do with using a default import of a color, e.g.

[code]

Replacing this with the following, works just fine:

[code]

I haven't investigated further to figure out what the cause of this issue is, but hopefully it will help someone else who encounters this.

[2021-03-27 21:10] #25492 closed

[2021-03-27 21:11] #25519 closed

[2021-03-27 21:17] #25502 closed

[2021-03-27 23:15] oliviertassinari commented on #25513
Looking closer, the reproduction is plain wrong. There is no `components` prop. Still, I think that we can use the opportunity to use the *OverridableComponent* pattern, same as #25456:

[code]

Would it solve your issue? Do you want to work on it?

[2021-03-28 03:12] orest22 opened #25531 "[Checkbox] a11y issue Safari VoiceOver"
Hey, Safari reads the Checkbox label in a weird way by appending "and one more item" to the checkbox label.

For example, if a label is "Gilad Gray", Safari will read it "Gilad Grayand one more item" which sounds really weird to a user.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe

[2021-03-28 04:42] kanish671 commented on #25495
I would like to pick this up!
Is the solution what you are proposing in the above comment?

[2021-03-28 06:30] jkarttunen opened #25533 "[Rating] clearing rating is not possible with keyboard"
On Rating component, you can clear (set rating to 0) by selecting same rating twice using pointer.
Setting rating to 0 is not possible with keyboard usage

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
On Rating component, you can

[2021-03-28 10:03] sag1v commented on #22342
Is emotion a peerDep (like styled-components were)?
What about multiple instances, i mean what if a consumer also use emotion but with a different version?

[2021-03-28 10:05] oliviertassinari commented on #25495
@kanish671 Yes

[2021-03-28 10:28] oliviertassinari commented on #25481
@eps1lon Looks great.

[2021-03-28 11:09] #25465 closed

[2021-03-28 11:43] oliviertassinari commented on #22342
@tihuan You can inject a custom PopperComponent, wrapping the default one. We will migrate the Autocomplete demos away from JSS in https://github.com/mui-org/material-ui/issues/16947. We also need to fill this section https://next.material-ui.com/guides/interoperability/#portals.

@sag1v styled-components and emotion are peer dependencies. For emotion, we only support v11.

[2021-03-28 11:54] oliviertassinari commented on #25533
In the initial design of the component, the cleared state was only supported as an initial state. Later on, we added the click twice to clear interaction. I guess we could follow follow the direction proposed in this issue.

[2021-03-28 12:19] oliviertassinari commented on #25533
I would propose the following diff:

[code]

[2021-03-28 12:31] oliviertassinari commented on #25531
I can reproduce on this demo: http://next.material-ui.com/components/checkboxes/#label

<img width="489" alt="Screenshot 2021-03-28 at 14 29 10" src="https://user-images.githubusercontent.com/3165635/112752225-3a5cda80-8fd2-11eb-938e-6af81feaedbc.png">

[2021-03-28 14:52] oliviertassinari commented on #25531
I can also confirm that the propose fix work:

[code]

[2021-03-28 14:59] #25495 closed

[2021-03-28 16:09] TAO44123 opened #25539 "[componemt] grid exception report"
the progrm reported error in chrome

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
when I add lots of text in grid item block, the chrome will report an exception:
page.js:138 Uncaught TypeError: widgetDom.webkitCreateShadowRoot i

[2021-03-28 16:25] oliviertassinari commented on #25539
Duplicate of #25523

[2021-03-28 16:25] #25539 closed

[2021-03-28 16:55] oliviertassinari commented on #9957
@dohomi I'm surprised this issue didn't get more upvotes. The last time I needed something close in a real product was for iOS and the `<input type="date">`.

If you need to render a flag, maybe you could try an emoji? Or maybe render a start adornment?

[2021-03-28 17:05] TAO44123 commented on #25523
I find if I create a new project, there is not such problem, so let me check how to reproduce it. Or it's my program's problem.

[2021-03-28 17:23] georgegarrington opened #25540 "Grid container justify not working"
I have tried setting all of justify, justifyContent, justify-content to "flex-start" on a grid container and nothing is happening. When I use justifyContent I get the following message:

Warning: React does not recognize the `justifyContent` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `justifycontent` instead. If you acciden

[2021-03-28 17:27] #25540 closed

[2021-03-28 18:07] oliviertassinari commented on #20856
@steverecio Thanks for the reproduction. I have further simplified it down to https://codesandbox.io/s/material-demo-forked-hq39t?file=/demo.js.

[code]

<img width="267" alt="Screenshot 2021-03-28 at 20 00 09" src="https://user-images.githubusercontent.com/3165635/112762494-3778de80-9000-11eb-9cd2-6bb739400b67.png">

I can reproduce it in Firefox, Safari, Chrome, Edge, so it seems to be per the s

[2021-03-28 18:13] TAO44123 commented on #25523
Hi,
 I reprodec this problem in a project, you can get the demo from following link.
https://github.com/IntegrityXu/material-ui

wait for your response :)

[2021-03-28 18:40] oliviertassinari commented on #20856
One solution is:

[code]

**but** it breaks https://next.material-ui.com/components/radio-buttons/#customized-radios and https://next.material-ui.com/components/checkboxes/#customized-checkbox. We would need to fix them with:

[code]

A breaking change.

---

The only other alternative I can think of is to make the lack of z-index easier to spot (not requiring an interaction) with:

[code]

[2021-03-28 18:47] oliviertassinari commented on #25316
@TonyVeigel Yes, correct. You create a new value at each render. When a new value is provided the autocomplete clears the input. So it's completely frozen.

[2021-03-28 18:49] oliviertassinari commented on #25523
@TAO44123 I can't see any error, but it sounds like you now have a reproduction to send to the author of the browser client.

[2021-03-28 18:49] #25523 closed

[2021-03-28 19:11] oliviertassinari commented on #20012
@josephluck We might want to seriously consider publishing the [eslint rules](https://github.com/mui-org/material-ui/tree/next/packages/eslint-plugin-material-ui#restricted-path-imports) we use internally to the developers. We only allow one level-deep imports. What's done in:

[code]

is wrong. https://codesandbox.io/s/material-box-spacing-bug-forked-c544f?file=/demo.tsx:0-300

[2021-03-28 19:35] oliviertassinari commented on #25076
@jqrun I'm closing as it doesn't seem important (nobody else reporting the issue. Thanks for the reproduction

[2021-03-28 19:35] #25076 closed

[2021-03-28 20:22] sohamsshah commented on #25364
Hi, Can you assist me re: where exactly I have to add the `## Toggle Section` in the codebase. I was finding issues to figure that out ://
If possible, I would like to see some examples as well similar to this to take some inspiration. Thanks!

[2021-03-28 22:38] oliviertassinari commented on #25480
Ok, so I had a look. I could narrow down the origin to the padding. See this reproduction: https://codesandbox.io/s/material-demo-forked-251xl?file=/demo.tsx
[code]

It completely fails in Firefox 87:

<img width="232" alt="Screenshot 2021-03-29 at 00 36 20" src="https://user-images.githubusercontent.com/3165635/112770389-e16b6180-9026-11eb-95af-4545d886da62.png">

We can easily solve the issue wi

[2021-03-28 22:42] oliviertassinari commented on #25167
Duplicate of #23641

[2021-03-28 22:42] #25167 closed

[2021-03-28 22:43] oliviertassinari commented on #25167
Also note that we worked on this problem in #21814

[2021-03-28 23:01] oliviertassinari commented on #19585
@Anwardo This point is interesting. The current behavior requires the Select to traverse the children, hence goes in direct contradiction with #14943.

I would personally be leaning toward going in the **opposite** direction, remove this default behavior that looks for the content of the MenuItem. In the `Autocomplete`.

[2021-03-28 23:10] #19957 closed

[2021-03-28 23:19] oliviertassinari commented on #25290
@marcusjwhelan I have tried to run the reproduction with `npm run start` but it fails from everywhere. It looks like a configuration issue. I'm marking the conversation resolved.

[2021-03-28 23:28] oliviertassinari commented on #25165
@eps1lon Correct, I have made a mistake.

What should we do for the next release of `@material-ui/types`? From what I understand. We have two options:

1. We freeze the version of @material-ui/types in a new release of @material-ui/core. It wouldn't impact the previously released versions of core. I wouldn't worry much about it, I would expect developers to bump everything at once, most of the tim

[2021-03-28 23:37] oliviertassinari commented on #25201
I can't reproduce locally. Closing.

[2021-03-28 23:37] #25201 closed

[2021-03-28 23:38] oliviertassinari commented on #25201
A working codesandbox: https://codesandbox.io/s/boxsx-material-demo-forked-s3n13?file=/demo.tsx.

[2021-03-29 00:35] dohomi commented on #9957
@oliviertassinari thanks for you suggestion. The problem is, that still the name of the country would be rendered and this takes too much space (thats why only the flag of the country should be displayed). Especially with `react-phone-number-input` the country code would be redundant because it will be displayed in the main input field as well

[2021-03-29 02:39] TAO44123 commented on #25523
can I communicate with you to show you the problem, beacuse the problem is very tricky. it just happened in chrome and when the there are lots of text in the grid item blick!

[2021-03-29 02:45] TAO44123 commented on #25523
And I have upload the screen shot on github, maybe you can check out it.

[2021-03-29 06:31] binh1298 commented on #20461
@oliviertassinari Hi. Is there any way to use ScopedCssBaseline yet still keep the `box-sizing` of `.MuiInputBase-input` to be  `content-box`?
I'm using the outlined variant of select component and it seems like it becomes smaller when wrapped by ScopedCssBaseline (because of box-sizing). How can I avoid this behavior or is it meant to be smaller?
Currently I think there's 2 ways to get around thi

[2021-03-29 08:45] alainib opened #25544 "cannot change `type` of FAB created with SpeedDialAction"
I'm trying to add two buttons created with `SpeedDial` to submit or cancel a form created with FORMIK.

FORMIK just need a `<button type="submit" disabled="">save</button>` to be submitted.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

in the doc i se

[2021-03-29 09:04] oliviertassinari commented on #25523
@TAO44123 The error shows jQuery on the trace.

[2021-03-29 09:06] rickstaa commented on #15827
Based on @oliviertassinari's answer, the [Material-ui documentation](https://material-ui.com/guides/typescript/#usage-of-component-prop), @bengry answer [this blog post](https://www.javaer101.com/en/article/19865835.html) and [this pullrequest](https://github.com/Microsoft/TypeScript/issues/9366) I found a solution that works in my project.

[code]

This allows me to keep Typescript happy while ex

[2021-03-29 09:25] #25544 closed

[2021-03-29 09:25] alainib commented on #25544
wrong syntax

`<SpeedDialAction
		key={"save"}
		icon={<SaveIcon />}
		{...FabProps}
	/>`

	to

	`<SpeedDialAction
		key={"save"}
		icon={<SaveIcon />}
		FabProps={FabProps}
	/>`

[2021-03-29 09:28] rickstaa commented on #15827
I just noticed that although my solution doesn't throw any errors, it also does not work as it disables type-checking all together. I think this is because it uses [React.ElementType](https://flow.org/en/docs/react/types/#toc-react-elementtype). If somebody has a solution that doesn't break the TypeChecking, that would be great.

[2021-03-29 09:49] #25518 closed

[2021-03-29 09:50] eps1lon commented on #25165
We should fix the prior mistake and bump it to v6. Trying to think of a way to prevent these mistakes in the future. Will wait for another incident to come up with a good solution.

[2021-03-29 09:54] eps1lon commented on #25531
I think `aria-disabled` is never a required attribute so fixing it in ButtonBase seems like the better solution.

The diff alone for SwitchBase looks weird though. How woul aria-disabled be applied?

[2021-03-29 09:59] oliviertassinari commented on #20461
@binh1298 If you are using v4, this issue describes the solution. If you are using v5 with sc, the solution still apply.

If you are using v5 with emotion then I have no idea. I'm reopening.

[2021-03-29 10:14] cmacdonnacha commented on #16357
@oliviertassinari Is there a way to use `disableElevation` but still have a box shadow for pseudo classes like `:active` or `:hover`? Right now it looks like `disableElevation` overrides all styles, no matter what:

![image](https://user-images.githubusercontent.com/9777763/112822257-9f223e80-907f-11eb-9200-049ff9046df3.png)

[2021-03-29 10:17] eps1lon commented on #25533
Ideally we'd have an API that allows for various input methods to clear the Rating. Adding an extra button is the most obvious affordance but might be considered too excessive if targetted at power-users. `Backspace` or `Del` for clearing a rating might also be an idea (just guessing here. needs UX research). If we can show both affordances in a demo that'd be perfect :+1:

[2021-03-29 10:17] oliviertassinari commented on #16357
@cmacdonnacha you can customize the CSS directly.

[2021-03-29 10:20] cmacdonnacha commented on #16357
Yea I have added some css to my main `theme.ts` file but it still doesn't seem to work:

[code]

[2021-03-29 10:23] oliviertassinari commented on #25533
@eps1lon <kbd>Backspace</kbd>/Del sounds great. Should it replace the approach of allowing an empty radio option in the keyboard navigation (the diff that https://github.com/mui-org/material-ui/issues/25533#issuecomment-808889153 implements)?

[2021-03-29 11:21] aykutkilic opened #25546 "TextField step setting needs inputProps instead of 'I'nputProps"
I need a TextField where the user enters a number with certain step size and also there's an adornment in the end. To get this working I need to set inputProps for step size and InputProps for the adornment which is confusing for the developer.

Is it possible to merge them or are there any good reasons to keep them separate?

- [x] The issue is present in the latest release.
- [x] I have searched

[2021-03-29 11:40] #25546 closed

[2021-03-29 11:40] oliviertassinari commented on #25546
Duplicate of #11377

[2021-03-29 12:27] igorurr commented on #12420
in version 4.11.13 this error is reproduced, an example is on your site
https://material-ui.com/components/dialogs/#scrolling-long-content

[2021-03-29 12:55] eps1lon commented on #25533
I'm not that familiar with the implementation and I don't think we should discuss the implementation in an issue. The problem we're trying to solve is how an affordance for clearing might look. Not how we implement it. That should be decoupled generally and discussed in the actual PR.

[2021-03-29 13:27] vicasas commented on #25364
@sohamsshah As mentioned above it should be here https://next.material-ui.com/customization/palette/#dark-mode below that section

[2021-03-29 13:27] oliviertassinari commented on #25533
@eps1lon I meant Should we allow an empty radio in the keyboard navigation as in https://www.w3.org/WAI/tutorials/forms/custom-controls/#a-star-rating?

[2021-03-29 13:39] sohamsshah commented on #25364
Thanks. Will look into this :)

[2021-03-29 14:21] oliviertassinari commented on #12420
@igorurr It's a regression, it's fixed in v5.0.0-alpha.28: https://next.material-ui.com/components/dialogs/#scrolling-long-content.

[2021-03-29 15:00] zehawki commented on #25189
Hah, I came here to report this exact issue and see its here already. Its a bit strange that the grid is not responsive to its container, and instead computes based on viewport. This are many cases where one wants to render a component (which is using grid internally) within a smaller container / box  etc etc. In such cases, not having the grid resize according to its own container leads to terrib

[2021-03-29 15:13] m4theushw opened #25550 "[docs] Keyboard shortcuts not visible in dark mode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img src="https://user-images.githubusercontent.com/42154031/112728903-3bc1d080-8f08-11eb-8a77-581e5fe6f393.png" alt="image" width="250">

## Expected Behavior 🤔

<img src="https://us

[2021-03-29 15:24] m4theushw commented on #25528
#25550

[2021-03-29 15:32] missbruni opened #25552 "Cannot read property 'getBoundingClientRect' of null for TransitionComponent prop"
Tried applying a simple change of transition for a snackbar components wrapping an alert from the lab but it's throwing an error inside the Slide component. (Probably something related to the ref) - Example CodeSandbox below using a MUI Example simplified.

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this re

[2021-03-29 15:38] #25552 closed

[2021-03-29 15:39] oliviertassinari commented on #25552
Tip, see the warning in the console.

[2021-03-29 15:59] ShravanSunder opened #25553 "Emotion CSS injection order is not correct for specific styles"
- Using emotion with mui5-latest
- I'm having issues making the injection order of my custom css work.
- Mui-5's emotion css is always injected after my custom css (using emotion)

I'm current using this in my provider
[code]

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe th

[2021-03-29 16:38] oliviertassinari commented on #25553
Your reproduction is invalid. It wouldn't apply CSS to a div primitive.

[2021-03-29 16:40] oliviertassinari commented on #25553
See https://next.material-ui.com/guides/interoperability/#emotion for a working version. I'm closing until we have a reproduction

[2021-03-29 16:40] #25553 closed

[2021-03-29 17:10] tihuan commented on #22342
@oliviertassinari Ahh merci! Totally missed the [`PopperComponent ` prop](https://material-ui.com/api/autocomplete/#props) on `Autocomplete` 🙏 Everything makes perfect sense now. Really appreciate your help!

Following #16947 now too 👍

Have a wonderful day!

[2021-03-29 17:51] oliviertassinari commented on #17000
It seems that we have a use case for the component in our own marketing pages:

<img width="628" alt="Screenshot 2021-03-29 at 19 50 24" src="https://user-images.githubusercontent.com/3165635/112878327-154a9380-90c8-11eb-9eb8-c39b7210d467.png">

[2021-03-29 18:08] #25550 closed

[2021-03-29 18:28] michal-perlakowski commented on #24864
@oliviertassinari I think this issue can be closed now.

[2021-03-29 18:42] dholbert opened #25555 "Material-UI tables get unintentionally stretched in Firefox 87+ and Chrome 91+"
Hi! Sorry for not filling out your issue-template; I'm just forwarding an issue that was reported to Mozilla which in fact seems to be something that you'll want to fix in your library (or perhaps already have).  (I don't have Material UI locally and can't set up a dev environment to test its latest version etc.)

STEPS TO REPRODUCE:
1. View https://bug1700879.bmoattachments.org/attachment.cgi?id=

[2021-03-29 18:44] dholbert commented on #25555
I suspect you want to add this to some Material-UI CSS stylesheet:
[code]

Or perhaps this (a little more targeted):
[code]

Either of these should restore the old behavior (either at the level of the flex container wrapper-element or the table as a flex item).  If the table is the only thing that ever lives inside of a `.MuiTableContainer-root`, then these two solutions should be equivalent. If i

[2021-03-29 18:55] Hamdan85 commented on #25517
@oliviertassinari well that's strange because I actually have a component here called Object.jsx that works fine without trying to use makeStyles. it only breaks when I try to use makeStyles...

but well.. thanks ;)

[2021-03-29 19:15] oliviertassinari commented on #25517
I have updated the codesandbox to remove TypeScript: https://codesandbox.io/s/material-demo-forked-jvsud?file=/demo.js.

[2021-03-29 19:16] #24864 closed

[2021-03-29 19:42] ShravanSunder commented on #25553
@oliviertassinari  what do you mean that it wouldn't apply CSS to div primitive?  the following should apply styling to the div that represents below.  Emotion does work this way locally.  In the code sandbox it doesn't seem to work.
[code]

[2021-03-29 19:42] ShravanSunder commented on #25553
The problem i'm having is twofold.
1. the issue one mentioned above
2. getting emotion working with mui code sandbox to show a reproduction

[2021-03-29 21:39] oliviertassinari commented on #23885
This API might help: https://github.com/mui-org/material-ui/blob/830c18ba71af19bc0370f1eeb902f9f605144a5d/packages/material-ui/src/Stack/Stack.js#L34

[2021-03-29 21:57] oliviertassinari commented on #25189
Interesting issue. There are, more or less two solutions track.

1. JavaScript. In this track, It's about:
  a. Having an API to measure the size of the container: #22519.
  b. Having an API to turn size into a breakpoint value.
  c. Having an API to resolve a set of responsive values, e.g, `{ xs: 1, md: 2 }` to the current one based on the breakpoint. It's related to #23885.
  I think that it's w

[2021-03-29 22:03] oliviertassinari commented on #25555
@dholbert Do you have a reproduction in an isolated codesandbox? This style isn't coming from Material-UI:

<img width="152" alt="Screenshot 2021-03-30 at 00 02 44" src="https://user-images.githubusercontent.com/3165635/112905795-51432000-90eb-11eb-9c41-9a45cac5f3df.png">

[2021-03-29 22:21] milos-kuznezov778 commented on #16609
v4.11.2, I run into the same issue. it's working properly on `dev` mode but on `production `mode

![image](https://user-images.githubusercontent.com/78355435/112907185-198da580-90f6-11eb-9b20-8b038f6d96b0.png)

I tried all possible approaches mentioned above but still not working.
just trying with v5 but I'm not pretty sure if any other incompatible issues would happen unexpectedly with this upgra

[2021-03-29 22:26] milos-kuznezov778 commented on #16609
it's really happened some minor broken styles on the other parts of other pages due to the migration to v5.
as we're about to release the project, I'm gonna rollback to v4.11.2.

[code]

[2021-03-29 22:29] milos-kuznezov778 commented on #16609
I tried with v5, it's still same

![image](https://user-images.githubusercontent.com/78355435/112907979-645bed00-90f7-11eb-81ac-0657abe18335.png)

[2021-03-30 00:19] dholbert commented on #25555
I don't, sorry. All I've got is the above-linked testcase from the reporter on https://bugzilla.mozilla.org/show_bug.cgi?id=1700879 .

Aha - thanks, I should've picked up on the fact that the `display:flex` styling was in a rule with a different (non-`Mui`) classname associated with it.

in that case, I'll close this.  Thanks in any case for having taken a look!

[2021-03-30 00:19] #25555 closed

[2021-03-30 00:59] dohomi commented on #9957
@oliviertassinari I came up with following solution: https://gist.github.com/dohomi/ccc14d935278f27b7ed352c7050d180a

This is based on v5 maybe it helps anyone else or gives inspiration how to handle it.

[2021-03-30 06:19] datchanhkun commented on #17407
I don't understand the getChildByID code. Can you re-explain how you checked the child when the parent is checked.

[2021-03-30 07:13] neenu-mathew opened #25558 "Filter chip "close" button is not able to access through keyboard tab key"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the tab the filter chip will be focused but when click on the "enter" key the chip is not closing. Have tried in chrome and safari.

## Expected Behavior 🤔

The filter chip

[2021-03-30 08:08] zizizheng opened #25559 "[styles] Outdated warning message"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

override `MuiTabs.styleOverrides.root` in global theme will invoke warning message in the develop console, and can not apply to component correctly, while typescript is working fine

[2021-03-30 08:26] oliviertassinari commented on #25559
@zizizheng Do you have a reproduction?

On a different note, the warning is outdated, we should apply this diff:

[code]

[2021-03-30 10:12] paulo60pg opened #25560 "[docs] When clicking on the left drawer, ancre doesn't stay on the click"
The drawer seems to always go back to the top after each click.

I would expect the same behavior as V4 documentation.

[2021-03-30 10:33] oliviertassinari commented on #25560
What's the issue?

[2021-03-30 11:20] FrAgFo0d opened #25562 "[Pagination] Allow to differentiate more item types"
At the moment in PaginationItem I can set common styles in the styles.root.
These can be overwritten by styles.page (if you do not use (props: PaginationItemProps)).

However material also adds the page styles to the next and previous button. Preventing you from styling those seperately from the page buttons.  I would like it that the next and previous button would not have the page styles in ther

[2021-03-30 11:21] #25399 closed

[2021-03-30 12:12] oliviertassinari commented on #25562
You are right. It looks like there is an opportunity to add customization slot to allow differentiation without the need for custom React code.

[2021-03-30 12:22] paulo60pg commented on #25560
The left drawer doesn't stay where the click is made. Which creates confusion on where we are in the doc.

Please find a video below :

https://user-images.githubusercontent.com/44470174/112987668-46c46d00-9163-11eb-917a-6d22629f87fb.mov

[2021-03-30 13:05] oliviertassinari commented on #25562
What about this approach?

[code]

[2021-03-30 13:31] InFuz opened #25563 "[DatePicker] Add prop showFixedNumberOfWeeks"
I would like to be able to set a property showFixedNumberOfWeeks for Datepicker.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

showFixedNumberOfWeeks - whether to always show fixed number (6) of weeks, regardless of the number of days and weeks in a month. By analogy with how it is done

[2021-03-30 13:57] oliviertassinari commented on #20856
It seems we don't get any preference on the direction we should take. In this case, I would recommend the first one. Solve once for all.

[2021-03-30 14:01] oliviertassinari commented on #25558
I'm closing as it seems you mean to open the issue on https://github.com/gregnb/mui-datatables.

[2021-03-30 14:01] #25558 closed

[2021-03-30 14:16] mahametiq opened #25564 "Autocomplete dropdown box flows with scrolling"
Hello together, thanks in advance for your support :)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

when trying to use the Autocomplete component from Material UI, I face an issue with wrong position of the drop down while scrol

[2021-03-30 14:20] steverecio commented on #20856
@oliviertassinari Thanks for looking into this. I would vote for whichever solution is default for native html input checkboxes. As long as the solution is easy to find / documented, then the default being most similar to html has my vote.

[2021-03-30 15:30] oliviertassinari commented on #25564
This sounds like the same as #17473. The popup of the autocomplete is rendered inside a portal by default. You can either disable it or change the container to something else than the root element.

[2021-03-30 15:30] #25564 closed

[2021-03-30 15:55] oliviertassinari commented on #25560
It looks like a regression from https://github.com/mui-org/material-ui/pull/24418

[2021-03-30 18:25] oliviertassinari commented on #10382
@paizle This should do it https://github.com/tompascall/js-to-styles-var-loader

[2021-03-30 18:32] paizle commented on #10382
Interesting. Ok, so going by the example:
`require('relative/path/to/colors.js');`

What would be the path to use to import the MUI theme colors or something similar? I'm just not sure yet what I would reference here.

[2021-03-30 23:40] bennidhamma commented on #21040
I'm guessing this is known, but doesn't look good on v5:

https://codesandbox.io/s/material-demo-forked-wwbv8?file=/index.js

[2021-03-31 00:08] JimmyRowland opened #25565 "<Tab> Theme provider can't target MuiTab: {selected}"
I am trying to customize MuiTab text color in createMuiTheme but failed

- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The selected tab does not change color

## Expected Behavior 🤔

Selected tab text should be red

## Steps to

[2021-03-31 04:37] zizizheng commented on #25559
hi @oliviertassinari, thanks for reply.

Finally found that the global style work find, just accidentally been overridden by other style, buy the warning message is still **shown in console**.
I also made a tiny [reproduction in codepan](https://codesandbox.io/s/material-ui-tabs-fjh6w) but everything is fine, style works great and no message in console.

So I check the node_modules in my project,

[2021-03-31 07:56] FrAgFo0d commented on #25562
Looks good to me. Maybe start and end ellipsis is too much, hower I like to be able to style it all ;)

[2021-03-31 09:48] kjeske commented on #21377
@oliviertassinari I tried many different solutions in my quite big application using material-ui (btw it's crazy awesome lib, thanks!) and the only config that worked for me is provided here: https://github.com/vitejs/vite/issues/1853#issuecomment-805605644

[2021-03-31 11:39] #25525 closed

[2021-03-31 12:30] TQjona opened #25566 "Multiline TextField wrongly sized in print"
Printing a `<TextField variant="outlined" fullWidth multiline>` cuts off text if the browser window is wider then the printed page or is oversized if the browser window is smaller then the printed page.

I assume this is an issue with the resize handling in the `TextareaAutosize` component due to the browsers not firing a resize event on print.

- [x] The issue is present in the latest release.
-

[2021-03-31 12:46] FrAgFo0d commented on #25562
By the way I found some other peculiar things. Which makes the need of !important statements necessary
Do you want a bug report for that. (You can see them in here https://codesandbox.io/s/admiring-ishizaka-ml181?file=/src/PaginationItem.tsx)

[2021-03-31 12:55] oliviertassinari commented on #25562
@FrAgFo0d It's expected, if you want to keep using makeStyles (we are deprecating it), you need to have emotion inject first, for instance: https://next.material-ui.com/guides/interoperability/#css-injection-order-3. I guess we could add a new section for react-jss as developers might transition to it with Material-UI removing the API.

[2021-03-31 13:00] oliviertassinari commented on #25559
@zizizheng Ok, this sounds like a module duplication issue with your environment. I'm adding the "good first issue" label so we can process https://github.com/mui-org/material-ui/issues/25559#issuecomment-810024789 :)

[2021-03-31 15:54] #25566 closed

[2021-03-31 15:56] micktg commented on #12365
@IT-Suitapest can you give an example how to regain the focus? Nothing I tried worked for me.

[2021-03-31 16:01] oliviertassinari commented on #12365
@micktg You lose the focus when the component is remounted. Make sure the component reference stays the same between two renders.

[2021-03-31 16:08] #24831 closed

[2021-03-31 16:48] oliviertassinari commented on #25565
Tip, increase the specificity. use `.Mui-selected` as CSS selector to do such.

[2021-03-31 16:48] #25565 closed

[2021-03-31 17:29] SomervilleTom commented on #18479
The documentation strongly implies that `ButtonGroup` accepts "small" as a value of its `size` property. The same is true for the `Radio` element. I've provided that value in both places and it has no visible effect whatsoever.

Here is the code I'm using (copied from the example in the docs):
[code]
Does anybody actually check to see that an issue like this actually works before closing it? I'm n

[2021-03-31 18:10] #18309 closed

[2021-03-31 18:23] oliviertassinari commented on #18479
@SomervilleTom Interesting, this issue was about `<Radio size="small">`. Do you want to create a new issue for the radio group? I think that it indeed makes a lot of sense :)

[2021-03-31 18:37] #25513 closed

[2021-03-31 18:43] oliviertassinari commented on #21040
@bennidhamma The change of button color comes from the removal of `color="default"` for `color="primary"` as a default. See #18776

[2021-03-31 20:14] italodeandra opened #25568 "[LinearProgress] Add color="inherit" support"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the component **LinearProgress** with the property `color` being the value `inherit`, the component throws the following error:

`Cannot read property 'main' of undefined`

[2021-03-31 20:15] SomervilleTom commented on #18479
Heh. Silly me, I thought (hoped?) they were synonymous. I will indeed create a new issue. FWIW, I did try passing `small` in each of the `Radio` children of the `RadioGroup`, with no visible effect.

[2021-03-31 20:15] italodeandra commented on #25568
It works fine with **CircularProgress**: https://codesandbox.io/s/material-ui-v5-circularprogress-with-colorinherit-1mog1

[2021-03-31 20:20] italodeandra commented on #25568
I was wrong about it being available on documentation. Perhaps this wasn't implemented on the **LinearProgress** like it was on **CircularProgress**? If that's the case then I'll close the issue.

[2021-03-31 20:46] oliviertassinari commented on #25568
This sounds like a great idea. The CircularProgress always supports it. We could easily reproduce the pattern with:

[code]

[2021-03-31 21:07] oliviertassinari commented on #25560
Actually no. I could pinpoint the origin. It's about #25416. It's a breaking change from React 17, introduced in https://github.com/facebook/react/pull/17925. @dtassone one example of why the sooner we run the data grid in React 17 the better :).

@paulo60pg we can restore the previous behavior with a simple change:

[code]

Would you like to work on a pull request? :)

[2021-03-31 21:29] oliviertassinari commented on #15302
@fluxquantum I would use the `backIconButtonProps` and `nextIconButtonProps` prop to provide a disabled prop.

[2021-03-31 21:33] oliviertassinari commented on #25560
On a different note. The scroll experience on mobile is horrible. it drove me crazy for the last 2 years. I would propose we fix it with:

[code]

[2021-03-31 21:44] oliviertassinari commented on #25568
There is one light limitation with my proposed solution, the buffer UI is slightly altered. I did so to keep the implementation simple, an approximation.

[2021-04-01 02:20] reactdozen commented on #23610
@StuffByLiang
Your solution works fine

[2021-04-01 04:18] vocko commented on #17774
This thing seems to be still broken in 4.11.2.

I§m using drawer for a vertical menu and each menu item has a right side tooltip. When I set 100vh on the root element, all tooltips start to appear on the top of the page instead of next to the menu items as they are supposed to.

Interesting enough, the arrow is still in the correct place.

Any ideas where could be an issue?

[2021-04-01 05:31] vocko opened #25571 "[Tooltip] misplaced when height set for #root"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When height is set on the root element (100vh or 100% - same effect), all tooltips start to appear about 500px higher than they should. Most of them appear on the top of the page inst

[2021-04-01 06:05] italodeandra commented on #25568
You did exactly what I would actually. Because of how inheriting works, I don't see any other option for now.

I'll test it today. I know you coded yourself, but would you prefer for me to create the PR? Let me know how you expect to proceed with this, I'm happy to help.

[2021-04-01 07:03] maurosbu commented on #20068
Hi, I was losing my mind trying to figure out why certain options, retrieved through asynchronous requests, were not rendered.

In order to solve the issue, as suggested by @oliviertassinari, I had to set filterOptions property. This is strange and unintuitive.

I'm using react@17.0.2 + @material-ui/core@4.11.3

[2021-04-01 07:30] FrAgFo0d commented on #25562
Ah good to know makestyles is going to be removed. I will have a look at what the alternatives are.
Is jss already out of the 5.0 beta?

Maybe some transitioning document to a live without jss would be nice as well ;)

[2021-04-01 07:34] sashasemeniuk commented on #14948
I set this prop to 1ms but it doesn't seem to work. I still need to hold the tooltip, but is there any way to show the tooltip just by a slight tap?

[2021-04-01 07:52] andrew2558 opened #25573 "How to show icon and [collapseIcon,expandIcon] at the same time in treeitem?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

How does treeitem make the icon of the icon property and the icon of the [collapseIcon,collapseIcon] property exist at the same time?

## Examples 🌈

![image](https://user-images.githubusercontent.com/25080605/113261014-82953900-9301-11eb-8b5

[2021-04-01 08:46] mnajdova commented on #24440
I think it was just forgotten, we can add it, I don't see a reason why not. Here is a bit of explanation of what it does - https://github.com/emotion-js/emotion/blob/master/packages/cache/src/index.js#L216

Agree, I believe it should solve the issue.

Regarding the white color, I agree it makes sense, we should just document it as a breaking change.

[2021-04-01 09:23] mnajdova commented on #24778
I like the idea of inverting the logic, as in my opinion using all values of the palette may be the more common use-case (if I am wrong in this assumption that it doesn't make sense that we do the changes). If we do this change, that means that only the more advanced scenarios will require module augmentation (wanting to restrict some colors). No objection from my side, we just have to make sure t

[2021-04-01 10:18] Myzel394 commented on #22429
@nihalwashere Would be kind if you could tell us how you use it now...

[2021-04-01 10:21] Hummel37 opened #25574 "[DatePicker] The field should be clearable by default"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If we are using a Datepicker from the Material UI Lab in Material UI 5.  The date can be cleared on the desktop version and it works gerat.
On the mobile version it indicates, that th

[2021-04-01 11:29] mnajdova commented on #20461
As far as I can see the `ScopedCssBaseline` component uses the `withStyles` API, but the component `CSSBaseline` is created with the new `styled()` API. Let's try to convert the component and see if it will solve the issue.

[2021-04-01 12:04] Hummel37 commented on #25574
I have now found, that there is already a property for it "clearable".

[2021-04-01 13:40] #18200 closed

[2021-04-01 13:42] oliviertassinari commented on #25568
@italodeandra The above is meant as a POC. If you could convert them into a mergeable PR, it would be great. For instance, I think that we can breakdown https://next.material-ui.com/components/progress/#linear-indeterminate

[code]

same for https://next.material-ui.com/components/progress/#circular-indeterminate

[2021-04-01 13:43] darlanhms commented on #25246
I'm still having this issue, someone who solved it can share the solution?

[2021-04-01 14:02] oliviertassinari commented on #25246
@darlanhms Which issue, the module augmentation not working or the error on import? On both case this is a support question. I'm locking, please ask on StackOverflow.

[2021-04-01 14:03] mnajdova commented on #22208
I think we are now at this stage. Marking this as `good first issue`.

[2021-04-01 14:11] mnajdova commented on #24966
@oliviertassinari proposed changes look good to me. If we go with this approach, we will need to update the typings for the styleOverrides for the `MuiCSSBaseline`, as currently we expect `CSSProperties` there. This changes should be enough I think:

[code]
This is why you had the TS error.

[2021-04-01 14:16] oliviertassinari commented on #22208
When we work on this. I think that we should clean up the demos, the type casing shouldn't be necessary, e.g

https://github.com/mui-org/material-ui/blob/293b579ab1dc22770921e57d1e5a51f9b90bbec0/docs/src/pages/components/menus/CustomizedMenus.tsx#L41

[2021-04-01 14:26] mnajdova commented on #22208
I believe the `typography` is another story as the typings are different - https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/styles/createTypography.d.ts#L45, but I agree that the demos should be updated when we do these changes.

[2021-04-01 15:23] Astronatural commented on #5309
`inputProps={{maxLength: 10}}`

Only worked for me when I set the type to "tel".

[2021-04-01 15:44] Hummel37 opened #25577 "Material UI Datepicker Validation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The validation for dates fails on the datepickers

![image](https://user-images.githubusercontent.com/54278236/113318736-0efb2800-9311-11eb-9079-f74e02381efc.png)
![image](https://use

[2021-04-01 15:46] Hummel37 commented on #25577
And I have a question for the localization for datepickers...
![image](https://user-images.githubusercontent.com/54278236/113319808-22f35980-9312-11eb-8cc2-4f2f254c93a6.png)
Why is there in the german culture just one 'y' and not 4 'yyyy'?

[2021-04-01 17:20] davext commented on #11377
I'm still having trouble understanding the difference between inputProps vs InputProps

![image](https://user-images.githubusercontent.com/18369214/113330067-329f7d80-92d3-11eb-9862-9db625c4c5e5.png)

1. I noticed that autoComplete="new-password" [mentioned here](https://material-ui.com/components/autocomplete/#autocomplete-autofill) works when I have "inputProps" but it does not when I have Input

[2021-04-01 18:47] oliviertassinari commented on #11377
@davext The structure of TextField is:

- FormControl
  - FormLabel
  - Input
    - input
  - FormHelperText

it should clarify it

[2021-04-01 18:58] m4theushw opened #25578 "[ClickAwayListener] Calling onClickAway straightaway when used with Select"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a `Select` is used in conjunction with the `ClickAwayListener`, the `onClickAway` prop is called straightaway after the select is open.

<img src="https://user-images.githubuserc

[2021-04-01 19:51] SomervilleTom commented on #18479
I seem to be back at this issue. I really do want a smaller `Radio` component. I have provided `size="small"` to the `Radio` component (I have three of them). This results in a 24 pixel height for the resulting element, even with margin and padding of 0.

I want this design element to have a 19 pixel height (to match the standard html `input` and `label` it replaces). The `input` element it replac

[2021-04-01 19:55] oliviertassinari commented on #18479
@SomervilleTom See https://next.material-ui.com/components/radio-buttons/#size

[2021-04-01 20:19] croraf commented on #18200
I tried it on latest docs and it works ok. One suggestion, to show a demo example in docs where the "sticky" list subheader behavior can be noticed.

[2021-04-01 20:33] pmendelson commented on #19683
I don't have an opinion about whether the Mui-disabled class is or isn't a good ideal to direct the styling but many html checkers frown on seeing the same classname multiple times in the same class attribute

[2021-04-01 21:48] belfortmaycon opened #25579 "Can't get Icons or IconButton for Tests"
I'm trying to test a component that has a endAdornment iconButton and other with a TreeView, but nether the iconButton and the ExpandIcon/CollapseIcon have good options to dispatch test events.

- [ x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Curre

[2021-04-01 21:50] aldebout commented on #21785
I recently revisited this when migrating from v4 to v5.

How come
[code]
applies the flex shorthand to the element when
[code]
doesn't?

I would expect both snippets to have the same result.

[2021-04-01 21:58] #25579 closed

[2021-04-01 21:59] oliviertassinari commented on #21785
@aldebout You should get a warning when you use the latter in v4. If there is none, then it's a hole from our side. expanded is a pseudo-class, it can't host styles.

[2021-04-01 22:13] aldebout commented on #21785
I guess I've just been very confused for a long time 😅 .
I expected `styleOverrides.expanded` (or the v4 equivalent) to create the associated class (`.MuiAccordion.Mui-expanded` or `.MuiAccordion-root.Mui-expanded`).
What's the use case for the `styleOverrides.expanded` then? I can't find an example in the docs :/

[2021-04-01 23:07] oliviertassinari commented on #21785
none

[2021-04-01 23:13] SomervilleTom commented on #18479
@oliviertassinari: Way cool, thanks!

[2021-04-02 03:06] codyarose commented on #25135
@terrydel Did you find a solution to this? I have the same issue, the DatePicker won't close when clicking outside of the picker when it's in a Dialog.

[2021-04-02 03:23] davext commented on #11377
@oliviertassinari

I discovered a better trick for the autoComplete to be disabled.

Instead of the label in the AutoComplete to be the name of the field, I take it out, and an input field with a hidden slash and it totally disabled Chrome's auto complete. Here's a code example:

` <InputLabel>First Name<Typography hidden>/</Typography></InputLabel>
   <Autocomplete...`

[2021-04-02 06:50] srwaggon opened #25580 "Possible wrong MarginRight values in right side persistent drawer?"
Please forgive me if I'm simply not understanding this.

This is the example code for describing how to make the contents of a page shift when a Material UI side-drawer is opened (from the right side).

https://github.com/mui-org/material-ui/blob/e1457a89cc788abe59f3fb6c8038ed137a6c0520/docs/src/pages/components/drawers/PersistentDrawerRight.js#L69

I find the margin offsets for the `content` elem

[2021-04-02 06:55] alexander-elgin commented on #5635
Setting the prop `disabled` of Autocomplete just changes the text color of the field. Setting the `autoComplete` prop of the TextField to "off" solves the issue but I think the maintainers should fix the prop `disabled` of Autocomplete.

[2021-04-02 07:55] reapedjuggler commented on #25578
Hello, Thank you for the issue Can I work on this issue?

[2021-04-02 09:28] hcz opened #25581 "[ToggleButton] Add fullWidth prop"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Feature request: new property `fullWidth` for the `ToggleButtonGroup` component.
Styles:
[code]
This prop name is currently used for other components:
- FormControl
- TextField, FilledInput, Input, OutlinedInput
- Autocomplete
- Button
- Butt

[2021-04-02 10:06] #24862 closed

[2021-04-02 10:38] Arnaud-SR opened #25582 "Icon component : 'instagram_icon' not working"
Work :

Using `<InstagramIcon />`

Not working

Using `<Icon>instagram_icon</Icon>`

[2021-04-02 10:54] #25582 closed

[2021-04-02 10:54] oliviertassinari commented on #25582
This is not a standard icon. It's a custom addition of Material-UI on top of the existing Material Design icons.

[2021-04-02 11:05] terrydel commented on #25135
Hi Cody, I did as it happens.
I used a clickawaylistener component to manage this.
Here is the code -

[code]

Points to note -
The <div> after the listener is needed, if I recall correctly its because you need to wrap the localizationprovider in something that accepts a ref

The clickaway function is like so -
`const handleClickAway = () => {
    if (isOpen) {
      setIsOpen(false);
    }
  };`

[2021-04-02 11:07] #25580 closed

[2021-04-02 11:14] oliviertassinari commented on #20461
@mnajdova Both CssBaseline and ScopedCssBaseline are using the styled API since very recently.

[2021-04-02 11:39] oliviertassinari commented on #24778
It seems that we have a working POC in https://github.com/mui-org/material-ui/issues/24778#issuecomment-774627820 and we have a product direction agreement. I'm changing the label :)

[2021-04-02 11:49] mnajdova commented on #20461
Ah my bad, was looking into older version.

[2021-04-02 12:07] m4theushw commented on #25578
Yes, feel free to send a PR.

[2021-04-02 12:43] oliviertassinari commented on #25578
I had a closer look at the issue. The problem seems to be related to how, on mouse down, another element overlays with the target, meaning, on mouse up, the target is different. I doubt that my proposed fix can work since `eventTarget.nodeName === 'BODY'` can easily happen when the body children don't expend enough.

[2021-04-02 12:45] reapedjuggler commented on #25578
Thank you for the information @oliviertassinari, Can you propose a better solution to the problem. I would be glad to implement it  :)

[2021-04-02 12:54] oliviertassinari commented on #25578
It's a hard problem. I can't find any good solution.

[2021-04-02 12:56] reapedjuggler commented on #25578
I picked that one because of the `good first issue` label, Thank you for removing it :+1:

[2021-04-02 13:03] m4theushw commented on #25578
I tried to understand why it's not intercepting the `click` event to make `syntheticEventRef.current` true. What I found is that the event  is not being propagated down the tree. I didn't go any further but this could be investigated.

[2021-04-02 13:19] oliviertassinari commented on #25578
Actually, there might be a way. The issue is specific to the click event. We could resolve the outcome at mouseup, and wait for the click event (that might not trigger if we are on a scrollbar) to resolve it:

[code]

[2021-04-02 14:50] mirusky commented on #21795
They didn't merge this ? Please reopen

[2021-04-02 16:45] codyarose commented on #25135
@terrydel Thank you! This looks like it may be a good solution for us

[2021-04-02 17:11] oliviertassinari commented on #25581
Considering that the ButtonGroup and ToggleButtonGroup are on a path to be merged together, or at least stay very close, I 👍 for the idea even if `<ToggleButtonGroup sx={{ width: 1 }}>` would achieve the same output.

[2021-04-02 17:17] drostano commented on #22426
I had to cancel temporarily.  Open collective site has some bug that refuses my new amex card. I'll reinstate if they fix it.

[2021-04-02 17:47] oliviertassinari commented on #24405
I have removed the "On hold" label as @mnajdova is back. We should have bandwidth now to get to 100% 🔥

[2021-04-02 18:04] oliviertassinari commented on #25578
@m4theushw What do you think about the above diff?

[2021-04-02 19:19] oliviertassinari commented on #20461
I have reopened without a reproduction, my bad. I tried in https://codesandbox.io/s/the-box-sizing-style-of-the-child-components-is-overwritten-forked-kze77?file=/src/Demo.js:125-194 but I couldn't see the error. We get this in the `<head>`:

[code]

which is correct.

<img width="260" alt="Screenshot 2021-04-02 at 21 08 46" src="https://user-images.githubusercontent.com/3165635/113446202-a2a72400

[2021-04-02 19:21] oliviertassinari commented on #25562
@FrAgFo0d We are working on removing all dependences to `@material-ui/styles`, isolating JSS. The alternatives are the styled API and the `sx` prop. We will add a migration guide once we are ready.

[2021-04-02 19:26] oliviertassinari commented on #20068
@maurosbu We covered it in v5: https://next.material-ui.com/components/autocomplete/#search-as-you-type.

[2021-04-02 19:48] terrydel commented on #25135
Glad to hear, let me know if it helps.

[2021-04-02 20:31] natac13 commented on #24405
Let's get it done!

[2021-04-02 21:07] Andarist commented on #20461
What do you do for SC?

[2021-04-02 21:17] hcz commented on #25581
@oliviertassinari Thanks for your help!

[2021-04-02 21:51] oliviertassinari commented on #20461
@Andarist From what I understand JSS and sc rely on the JavaScript execution order while emotion relies on prop spreading.

https://next.material-ui.com/components/css-baseline/#scoping-on-children

[2021-04-02 22:52] PraveenPeri opened #25586 "Accessibility issues with tabs"
I am just starting to play with Material and the first thing I noticed was I am unable to navigate through them with the 'tab' key. Instead, I had to use arrows which sounds like a non-standard way and our users would immediately complain about it. Is there a configuration setting to change this or is this by design?

[2021-04-03 03:26] BM-BrunoMarques commented on #17000
is there a link for this?

[2021-04-03 03:50] srwaggon commented on #25580
@oliviertassinari Please review  this again. I believe this is a potential bug. I do not need support.

[2021-04-03 06:40] fayez-nazzal opened #25587 "ButtonGroup causes react-devtools warnings"
Hello, I get this warning when using a ButtonGroup with the prop `fullWidth` inside a toolbar, I did not use the prop `disableElevation` but also get a warning about it:

![image](https://user-images.githubusercontent.com/49946791/113470672-0c5b1880-9460-11eb-8ac6-999c6f89f3ae.png)

![image](https://user-images.githubusercontent.com/49946791/113470674-1250f980-9460-11eb-81e5-3faf6db3f011.png)

her

[2021-04-03 07:49] Andarist commented on #20461
Not sure if I understand this correctly. With `@emotion/react` rules are injected when rendering so it somewhat depends on the render order. Not sure how SC works exactly without double-checking that but I would imagine they might work similarly, especially since they have introduced `StyleSheetManager` which resemebles our `CacheProvider`

[2021-04-03 10:31] maurosbu commented on #20068
@oliviertassinari Many thanks! It would also be useful to have an example for this use case (with requests throttling).

[2021-04-03 10:41] oliviertassinari commented on #20068
@maurosbu True, https://next.material-ui.com/components/autocomplete/#google-maps-place was meant to cover it all.

[2021-04-03 12:08] maurosbu commented on #20068
@oliviertassinari many thanks for your help and for such a great framework.

[2021-04-03 19:10] m4theushw commented on #25578
It's a viable solution, but I think we're adding complexity to solve a bug which is a side effect of another bug. Let me explain. The ClickAwayListener works nicely when it can catch the `click` event on the children and check later if the event happened inside the tree. However, in the scenario ClickAwayListener + Select, this `click` event is dispatched with `body` as target, which triggers the

[2021-04-03 21:54] aayushjain7 opened #25593 "[Autocomplete] Passing different values in option but renders different data"
In the dropdown of Autocomplete, it renders the data passed in the options and getOptionLabel and saves the same data in state. Instead, it should give an option to save its corresponding ID or any other data rather than the label name.
Similarly, it should be able to render the data in Autocomplete just by its ID. An ID can also be set to control different data inside the Autocomplete.

- [x] I h

[2021-04-04 13:05] ariel-upstream opened #25618 "Access the localization language object from .ts file"
Hi,
I'm using the Localization feature with the Material UI theme.
The way I do it in my components is to declare inside the function component `const t: any = useTheme().props`
then I can access the Localization object (e.g: t.ErrorMsg.undefined),
The issue is that I can't access it from my constants.ts file (because the useTheme().props hook should be called only in a function component)
How can

[2021-04-04 13:46] misaka3 commented on #25560
@oliviertassinari
Hi, I want to work this issue.Is it okay?

[2021-04-04 13:51] #25618 closed

[2021-04-04 13:52] oliviertassinari commented on #25560
@misaka3 Feel free to :)

[2021-04-04 13:55] misaka3 commented on #25560
@oliviertassinari Thanks!

[2021-04-04 14:04] oliviertassinari commented on #25618
Tip, the theme is a plain JavaScript object.

[2021-04-04 14:37] oliviertassinari commented on #25593
Duplicate of #23708

[2021-04-04 14:37] #25593 closed

[2021-04-04 15:28] oliviertassinari commented on #25578
@m4theushw What if the mousedown -> mouseup interaction lasts for above 100ms, say 1s? It would still trigger a click event, and the clickaway callback would trigger.

[2021-04-04 16:05] oliviertassinari commented on #25587
Duplicate of #17226

[2021-04-04 16:05] #25587 closed

[2021-04-04 16:12] oliviertassinari commented on #25586
See #6955

[2021-04-04 16:12] #25586 closed

[2021-04-04 16:59] #25560 closed

[2021-04-04 17:31] m4theushw commented on #25578
Yeah, missed that. Clicking and holding invalidates my solution.

I have another alternative. The idea is to cancel the next `click` event (with the wrong target) in the capture phase and redispatch it with the same target of the `mousedown` event.

[code]

[2021-04-04 17:40] fluxquantum commented on #15302
@oliviertassinari Thank you, this gets me a little further on my issue.

Would you have guidance on how I could get the disable to occur when the page is already rendered?

My use case is that I am displaying the TablePagination allow with a set of Accordions.

When I paginate up to a certain point, I trigger a fetch to happen to pull back more data, and during that loading time, there is no accor

[2021-04-04 17:45] fluxquantum commented on #15302
@oliviertassinari As soon as I sent this to you, I figured out at least a way to get it to work, without messing around with hooks or an onClick override.

It's not the prettiest but I essentially just passed an inline expression into the prop that sets a boolean value based on the dataset size and the current pagination values. Putting it here in case others are looking for options.

nextIconButt

[2021-04-04 18:08] oliviertassinari commented on #25578
@m4theushw Interesting. I didn't explore the SelectInput path as I assumed developers could use ClickAwayListener in some cases outside of our control. But on paper, this proposal seems to have potential. Not sure about the exact implementation (e.g. maybe using a synthetic listener + event.nativeEvent. stopPropagation could be better). No objection to pushing further. cc @eps1lon

[2021-04-04 18:13] oliviertassinari commented on #15302
=> StackOverflow

[2021-04-04 18:31] m4theushw commented on #25578
I prefer to fix the SelectInput because it also avoids a future issue if an user tries to listen for `click` events. I'll wait for comments from @eps1lon and submit a PR.

I didn't understand how a synthetic listener can be used here. If, in place of `addEventListener`, I use `onClickCapture`, it will never be triggered, as the `click` event is dispatched to an unknown target.

[2021-04-04 18:59] oliviertassinari commented on #20461
Ok, this is what I recall @mnajdova saying.

From what I understand, at the styled() creation time, an injection order is reserved:

- https://github.com/styled-components/styled-components/blob/404190e26062133a7b916d73c1d52312db20bc92/packages/styled-components/src/models/StyledComponent.js#L230
- https://github.com/styled-components/styled-components/blob/404190e26062133a7b916d73c1d52312db20bc92

[2021-04-04 19:01] #25581 closed

[2021-04-04 19:29] oliviertassinari commented on #25580
@srwaggon Sorry, we don't have the bandwidth to work on what seems to be an hypothetical issue. If there is a bug, provide a reproduction, and ideally a fix.

[2021-04-04 22:08] MariaAbadi commented on #22426
Hi!  Already created a PR on: https://github.com/mui-org/material-ui/pull/25621 🚀
Product: GermanTechJobs.de
Description: Transparent job board with salaries, tech stacks and a cool map 😃
Problem solved: main design system
Link: https://germantechjobs.de/
Screenshot:
<img width="837" alt="germantechjobs" src="https://user-images.githubusercontent.com/72201913/113522701-120d4700-95a3-11eb-879f-219a

[2021-04-04 22:40] vicasas commented on #21979
I really like this approach, I feel that it is something necessary to implement in all places where possible. Giving feedback to the developer as soon as possible on problems using the components is great.

Treat everything that bursts with `error` and treat what is not right using `warn`

[2021-04-04 23:51] oliviertassinari commented on #25571
I could reproduce with Material-UI v5 that uses Popper.js v2: https://codesandbox.io/s/happy-bird-r4etr?file=/src/App.js. You do realize that the tooltip is portal, matching this CSS rule right?

[code]

[2021-04-04 23:51] #25571 closed

[2021-04-05 00:07] oliviertassinari commented on #23610
I would propose the following diff:

[code]

[2021-04-05 03:02] rpk-red commented on #21019
@oliviertassinari can you please provide me example? I would appreciate it.

[2021-04-05 06:09] Ravindersingh1526 commented on #15573
I want to add custom variant in version 4. I have created my application with typescript.

For the following example variant is successfully added and working fine but i receive the typescript prediction errors

const FancyButton = withStyles ({
    root: {........},
    contained: {..............},
    containedPrimary: {........................},
    customVariant: {
         backgroundColor: "r

[2021-04-05 07:30] berkozagir opened #25623 "Component Focus Problem"
When I click on a component other than Input, it acts as if I was going to focus and type the cursor. This issue is also present on material-ui.com and the component we use. I can't write, just cursor and focus problem.

![image](https://user-images.githubusercontent.com/45788973/113549254-be7a1800-95f9-11eb-9705-22462dc7cd8b.png)
![image](https://user-images.githubusercontent.com/45788973/1135492

[2021-04-05 09:00] eps1lon commented on #25578
Just whatever you decide on the implementation, don't solve it with arbitrary timeouts. This makes debugging incredibly hard. It might solve this particular combination but possibly breaks other combinations which are now impossible to debug. We already had to introduce one to fix a React 17 bug. Piling on more is not the solution.

Having worked with several timer related issues in the past month

[2021-04-05 09:15] sajidfrommerqata opened #25624 "Unable to call a function from inside renderCell"
I'm unable to call the function from inside the renderCell.

**My Code looks like this:**
[code]

**Error:** Call to undefined function getUser();

**Expected Result:** I should be able to call functions from inside renderCell

[2021-04-05 09:20] sajidfrommerqata opened #25625 "Sorting based on nested object key is not working"
In the below code, inside renderCell you can   I'm getting branch_location from business_branch object and business_branch object is inside the order object.

**Issue:** The issue is when I do so, The column sort feature stops working

[code]

Expected Result: Sorting should work even If I read values from nested object.

[2021-04-05 09:36] eps1lon commented on #25625
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-04-05 09:36] eps1lon commented on #25624
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-04-05 09:42] eps1lon commented on #25623
Thanks for the report.

What browser (exact version) and operating system were you using for that screenshot?

[2021-04-05 13:43] berkozagir commented on #25623
Hi,

Windows 10 Enterprise 1803
Google Chrome Version 88.0.4324.190 (64-bit)

[2021-04-05 13:48] vicasas commented on #25573
Hi @andrew2558, This serves you? https://material-ui.com/components/tree-view/#custom-icons-border-and-animation

[2021-04-05 14:54] Potseluiko opened #25627 "Dates in the calendar are duplicated"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Days in calendar are duplicated (double March 26).
<img width="364" alt="Screenshot 2021-04-05 at 17 54 39" src="https://user-images.githubusercontent.com/2342136/113587861-120b5680-9

[2021-04-05 15:07] vicasas commented on #25573
@andrew2558 This should work https://material-ui.com/components/tree-view/#custom-icons-border-and-animation and https://material-ui.com/components/tree-view/#gmail-clone.

I leave you this codesandbox where I apply both previous examples.

https://codesandbox.io/s/material-ui-tree-view-with-icons-1s9cu?file=/demo.js

@oliviertassinari Could we or should we apply this example in the documentation?

[2021-04-05 15:55] mnajdova commented on #22342
Thanks everyone for sharing your opinion on the styling solution for v5. As we are getting closer to finishing the migration of emotion (see https://github.com/mui-org/material-ui/issues/24405) I am closing this issue. Feel free to still use this RFC for posting questions or suggestions for improvement.

[2021-04-05 15:55] #22342 closed

[2021-04-05 16:48] Farbod29 commented on #20812
It works for me !!!

`go to your nodemodule  folder `

`/node_modules/@material-ui/core/es/TextField`

and comment inside the if statement.

  if (variant === 'outlined') {
    if (InputLabelProps && typeof InputLabelProps.shrink !== 'undefined') {
      InputMore.notched = InputLabelProps.shrink;
    }

    if (label) {
     // const displayRequired = InputLabelProps?.required ?? required;

[2021-04-05 16:56] mnajdova commented on #15573
@Ravindersingh1526 you need to add these new variants with TypeScript module augmentation, please see https://next.material-ui.com/customization/theme-components/#adding-new-component-variants for an example.

[2021-04-05 16:58] mnajdova commented on #15573
As this API is already available, I am closing this issue. You can take a look on how it can be done on [this guide](https://next.material-ui.com/customization/theme-components/#adding-new-component-variants).

[2021-04-05 16:58] #15573 closed

[2021-04-05 18:32] ConAntonakos commented on #24405
I didn't get to work on one due to time (and I was slow to jump on it 😅). Would love to contribute!

I am happy to take `Tabs` if no one minds.

[2021-04-05 19:02] oliviertassinari commented on #20812
@Farbod29 Note that the `/es/` folder is only meant for advanced use cases.

[2021-04-05 19:36] Ambrish-git opened #25628 "Text Field IE issue for type="number""
Hi,
I am able to enter non-numeric characters in text field for type="number" in IE browser(IE 11, Edge).
I know IE has this issue but why are we not restricting from material-ui library itself ?

![image](https://user-images.githubusercontent.com/51455372/113616946-c77fdf00-9623-11eb-9c63-515669439ffc.png)

[2021-04-05 19:39] oliviertassinari commented on #25628
Closing per https://next.material-ui.com/getting-started/supported-platforms/#ie-11

[2021-04-05 19:39] #25628 closed

[2021-04-05 19:40] oliviertassinari commented on #25628
Related to #19154

[2021-04-05 20:03] dborstelmann commented on #24937
Just curious, would a workaround here be to move to React 17?  I can do that if that solves it in the short term.  I just didn't want to upgrade yet if the bug still exists there

[2021-04-05 20:09] bhairavee23 commented on #25480
Hi I'm new here, is this issue still open and needs to be fixed?

[2021-04-05 21:21] jqrun opened #25629 "Default dark mode paper/default are now the same and aggressively dark"
From this change here in alpha.29: https://github.com/mui-org/material-ui/commit/1f267fabe0dcf8a816b5ddbd89b1cf9dd2d6435a#diff-0c1e87837605522469edc12bc16c6cedf8c05af974c18f58d44df8a51111e8b3L61

I like the idea of brightening based on paper elevation, but I still feel like these defaults are a bit aggressively dark (and also strange that they are equivalent). The previous background.paper and bac

[2021-04-05 21:43] oliviertassinari commented on #25629
I'm closing as no new information was provided. We have been following the Material Design specification. The previous values weren't in sync. Soon or later, we should really have the documentation use more of the default values of the theme. It will be a lot cleaner.

cc @m4theushw.

[2021-04-05 21:43] #25629 closed

[2021-04-05 21:47] oliviertassinari commented on #25480
@bhairavee23 Correct

[2021-04-05 22:05] PetrShchukin commented on #25310
I've noticed the same behavior on Mui web-site. If you minimize the window to be able to see a menu button, then click on it, it will open a drawer, then maximize and minimize window again in order to see the same drawer opened, once you try to close it, there is no going to be any transition.

[2021-04-06 00:37] jqrun opened #25631 "@material-ui/styled-engine-sc fails TypeScript build with skipLibCheck: false"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When running tsc, the following errors come up:

[code]

## Expected Behavior 🤔

Compile without errors

## Steps to Reproduce 🕹

Here's a repo that's TS version of the example repo p

[2021-04-06 00:51] itscharlieliu commented on #25568
Can I take this issue?

[2021-04-06 02:21] dohomi opened #25632 "[TabList] v5 lab component creates a "unsafe" css declaration :first-child"
- [x] The issue is present in the latest v5 alpha release
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The `TabList`creates a `unsafe` css declaration `:first-child`
[code]

[2021-04-06 03:25] vocko commented on #25571
I've fixed my problem by targeting, thanks for pointing me in the right direction where the problem lies.
[code]

[2021-04-06 03:40] Ravindersingh1526 opened #25633 "I want to add custom variant in version 4. I have created my application with typescript."
I want to add custom variant in version 4. I have created my application with typescript.

For the following example variant is successfully added and working fine but i receive the typescript prediction errors

[code]
// example is working fine but typescript prediction errors show on compile time.

How i solve typescript prediction

[2021-04-06 03:45] bhairavee23 commented on #25480
then should i take it up? I'll raise a PR...  I'll try the changes you have suggested above

[2021-04-06 03:48] Tasin5541 commented on #12208
How can we do this when using Textfield for Select? it doesn't accept the menuprops

[2021-04-06 04:33] bhairavee23 commented on #25480
@oliviertassinari After analyzing the issue and trying the changes you put above, I could still reproduce the decrease in the textareasize as @MonstraG has shown in the gif.

I see there is a overflow-hidden that reduces the size of the box and when I change it to "overflow-x: hidden" it is fixed.

I'll test the changes and then raise a pr

[2021-04-06 04:40] bhairavee23 commented on #25480
@oliviertassinari It seems the overflow:hidden issue cannot be solved with just width:200, I fixed it by changing the overflow:hidden to overflow-x: hidden.

[2021-04-06 05:32] dwjohnston opened #25635 "[Rating] Allow a different selection style mode"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The only way Rating components will display is that they highlight all previous icons also.

![image](https://user-images.githubusercontent.com/2467377/113663104-c6ff4b00-96ec-11eb-8566-d610498277af.png)

In some instances you may want to hig

[2021-04-06 06:40] italodeandra commented on #25568
Sure! In a little bit busy this week.

[2021-04-06 06:57] oliviertassinari commented on #25635
Note that the happy case example is likely not accessible. It seems that the audience that can't see some range of colors, won't see which value is selected.

Otherwise, the proposal sounds fair. The Rating is a radio group :+1:.

[2021-04-06 07:15] oliviertassinari commented on #12208
@Tasin5541 You can use `<TextField SelectProps={}>`.

[2021-04-06 07:17] #25633 closed

[2021-04-06 07:22] oliviertassinari commented on #25632
Duplicate of #24894

[2021-04-06 07:22] #25632 closed

[2021-04-06 07:26] bhairavee23 commented on #25559
I don't see a pr open for https://github.com/mui-org/material-ui/issues/25559#issuecomment-810024789 so taking this up

[2021-04-06 07:30] oliviertassinari commented on #25631
cc @mnajdova

[2021-04-06 08:01] nicobao commented on #11552
Hey @oliviertassinari,
Sorry to revive a closed issue, but I need that prop `alignSelf` and I wonder if it is available in v5 (we're using v4)?
Reading the documentation, it seems it is not there https://next.material-ui.com/api/grid/
Is it still work-in-progress?

[2021-04-06 08:29] bhairavee23 commented on #25559
[Pull request for Outdated warning msg](https://github.com/mui-org/material-ui/pull/25637)

[2021-04-06 08:38] oliviertassinari commented on #11552
It's fixed, and documented:

[2021-04-06 09:55] bhairavee23 commented on #22208
This looks to be another item no one is working on, I'll take it up then

[2021-04-06 10:20] mnajdova commented on #22208
Sounds great :)

[2021-04-06 10:46] niklasburman commented on #22956
I can confirm that, we have issues with the component as described. Would be really great with any status regarding the issue. /Thanks

[2021-04-06 10:48] oliviertassinari commented on #22956
Related to #25365.

[2021-04-06 11:02] VuslatSena commented on #21397
Hello, I encountered your solutions while searching for this problem, but I could not come to a conclusion with what you suggested. I still get the same error. I'm realizing the project with React JS. Any advice?
./node_modules/@material-ui/icons/Search.js
Module not found: Can't resolve './utils/createSvgIcon' in 'E:\Documents\GithubRepos\Clone Projects\amazon-clone\node_modules\@material-ui\icon

[2021-04-06 11:54] vicasas commented on #13100
Do you have to add an example in the documents? It is not clear to me.

[2021-04-06 12:07] mowais-ac commented on #5242
had it been added?

[2021-04-06 12:21] natac13 commented on #24405
TableSortLabel coming up.

[2021-04-06 12:32] #25562 closed

[2021-04-06 12:38] losheredos commented on #8113
@marcusjwhelan having same issue here..

[2021-04-06 14:54] chillyistkult commented on #24937
No upgrading to react 17 won't help. Even with latest release (v5.0.0-alpha.29) it's still broken.

[2021-04-06 15:18] RiyaNegi commented on #19205
@oliviertassinari hey I am new here, can I take this issue?

[2021-04-06 15:33] oliviertassinari commented on #19205
@RiyaNegi All yours 👍

[2021-04-06 17:12] natac13 commented on #24405
Alright going to try `Select` for my next one

[2021-04-06 17:16] tomasznguyen commented on #24405
Alright, I'll take `TabPanel`

[2021-04-06 19:14] garronej commented on #22342
Just to mention it here. At [InseeFrLab](https://github.com/InseeFrLab) we choose to go with a custom implementation of the hook API based on emotion. We prefer the hook api over `styled`.

We named the module [`tss-react`](https://github.com/garronej/tss-react), it is designed to integrate with material-ui.

<p align="center">
    <img src="https://user-images.githubusercontent.com/6702424/109001

[2021-04-06 19:44] mnajdova commented on #25631
I could not repro on my machine. The `npm run tsc` did not throw any error.

[code]

My envinfo:

[code]
I'll try to update tomorrow my node, yarn and npm and try again.

Also it's strange that the errors are related to the `@emotion` packages, when those should not be used at all.

[2021-04-06 19:55] jqrun commented on #25631
@mnajdova Oops that was my bad, I committed `skipLibCheck: true` to the reproducer, I just changed it to skipLibCheck: false.

[2021-04-06 19:57] SomervilleTom commented on #13394
FWIW, I'm trying to get a `Dialog` component working. I'm starting with the example at https://codesandbox.io/s/4xlrs. I get the `findDOMNode` warning each time I attempt to apply the `paper` setting for `scroll`. That setting is why I'm using the component in the first place. I don't see how to apply the `unstable_createMuiTheme` work-around because the demo code doesn't appear to use a theme any

[2021-04-06 20:13] mnajdova commented on #25631
Alright, will try tomorrow again

[2021-04-06 21:30] jqrun commented on #25076
FWIW, I've found out what makes things succeed.

Essentially, if I change all the imports from my UI library to not import directly from '@material-ui/core', things work.

For example:

[code]

I followed the guide here: https://next.material-ui.com/guides/minimizing-bundle-size/ which led me to use that form of importing, but I'm guessing I might be missing something w/ regards to the extract lev

[2021-04-06 22:11] antoine-moquereau commented on #25627
Indeed, this bug appears with `MuiPickersUtilsProvider` in @material-ui/pickers each time the timezone Asia/Damascus, and others, switched to DST at 12:00 AM (e.g. for Asia/Damascus: 2020-03-26, 2021-03-25, 2022-03-24...).

**but @material-ui/pickers is not longer supported**

Instead, I guess you should use `LocalizationProvider` and `DatePicker` form @material-ui/lab like here: https://codesandb

[2021-04-06 22:22] oliviertassinari commented on #25627
@antoine-moquereau Thanks for the help. I can reproduce the issue with the example that @Potseluiko has provided on Material-UI Core v4. I can also see that it's fixed in Material-UI Core v5.

[2021-04-06 22:22] #25627 closed

[2021-04-06 23:20] antoine-moquereau commented on #25577
About the localization for datepickers, there is just one 'y' and not 4 'yyyy' because of `date-fns` (https://github.com/date-fns/date-fns/blob/master/src/locale/de/_lib/formatLong/index.js#L8). Indeed, date formats are strange over there 👍

[2021-04-06 23:36] oliviertassinari commented on #22342
@garronej Thanks for sharing, we covered this idea a bit in https://github.com/mui-org/material-ui/issues/24109#issuecomment-780750534.

[2021-04-06 23:46] antoine-moquereau commented on #25577
About the issue itself, there is `minDate={new Date('2017-01-01')}` on the `DesktopDatePicker`, `disableFuture` on `DatePicker` and they all use the same `value/setValue` so when you change somewhere the date value, the `Responsive` isn't valid for future dates and the `For desktop` one isn't valid for date before 2017-01-01. Maybe minDate/maxDate shouldn't be used in this demo?

[2021-04-07 01:13] dwjohnston commented on #25635
One thing I'll note is that might not play well with the 'half ratings' /float preciesion stuff.

[2021-04-07 01:24] mattcarlotta opened #25642 "[DataGrid] Failed prop type: Material-UI: The `anchorEl` prop provided to the component is invalid."
- [ x ] The issue is present in the latest release.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using this [Customized DataGrid](https://material-ui.com/components/data-grid/rendering/#customization-example), a warning is throw when:

1.) Hover over any column to reveal the

[2021-04-07 03:28] Yzrsah opened #25643 "V5 - Reduce boilerplate with composeClasses, generateUtilityClass, generateUtilityClasses, overridesResolver deepmerge"
I've been testing V5. The new extensibility and `sx` system is fabulous but I've found certain aspects of the API frustrating.

Something like this could make it easier to setup classes:

[code]
This could reduce boilerplate. You'd only need to write something like this:
[code]
Without the need to add `@material-ui/unstyled` and `@material-ui/utils` to `package.json` or to import these in every lo

[2021-04-07 03:55] KyLoc20 commented on #25623
You probably enabled the feature "Navigate the website with text cursor". Try pressing the key F7 to cancel it.

[2021-04-07 05:32] #25480 closed

[2021-04-07 07:01] #23610 closed

[2021-04-07 07:02] #25559 closed

[2021-04-07 07:56] nulltoken opened #25644 "[Alert] Weirdly vertically aligned close icon"
This styling makes the display of a large alert a bit strange.

https://github.com/mui-org/material-ui/blob/d520cfcbe9a8bdb3dfb12224a9183fbc4814e235/packages/material-ui/src/Alert/Alert.js#L133

![image](https://user-images.githubusercontent.com/92363/113830615-172aeb80-9787-11eb-9b14-092816326892.png)

Overriding it with the following code puts back the "X" in the top right corner.

[code]

Howev

[2021-04-07 08:00] mnajdova commented on #25573
Thanks for responding @vicasas Closing it as the https://material-ui.com/components/tree-view/#customized-tree-view section shows very similar demo.

[2021-04-07 08:00] #25573 closed

[2021-04-07 08:20] mnajdova commented on #25644
Here is an example that illustrates it https://codesandbox.io/s/actionalerts-material-demo-forked-3v9t3?file=/demo.js

I agree it looks odd to have the icon in the middle, especially when there is longer text inside. I'd propose these changes:

[code]

This way it will be aligned with the Alert icon that can appear on the left side.

[2021-04-07 08:39] mnajdova commented on #25643
Thanks for exploring this @Yzrsah looks interesting. The only worry I'd have is that you cannot easily graspe what overrides are available on the component, as the info will be split in two places. Maybe extending the example when there is additional state will be valuable so that we can see the whole API (I mean adding example with `resolverExtensions`.

For the `useClasses` it cannot be that sim

[2021-04-07 08:39] xdshivani commented on #25644
I would like to work on it.

[2021-04-07 09:19] mnajdova commented on #25631
Ok, from what I can see you haven't configured the `paths` in the `tsconfig.json` to reflect the webpack alias for the `@material-ui/styled-engine`. These two need to be synchronized.

[2021-04-07 09:31] Potseluiko commented on #25627
@antoine-moquereau Thanks for the answer. I'll try your solution.

[2021-04-07 10:02] Hummel37 commented on #25577
But that we can enter 0 for the month or 13 and larger values and the picker show's that the date is valid is still wrong, or is that on purpose?

[2021-04-07 10:05] jqrun commented on #25631
Ahh thank you! Indeed I was missing that.

Added:

[code]

+ @types/styled-components and everything worked. Thank you again!

[2021-04-07 10:05] #25631 closed

[2021-04-07 10:08] mnajdova commented on #25631
@jqrun great! @oliviertassinari do you think it would be helpful if we include an example of `styled-components` + `TypeScript`? @jqrun would you be interested in adding it in our `examples`?

[2021-04-07 11:51] badunius commented on #20041
a) Is this mentioned in docs?
"The multiline prop transforms the text field into a textarea or a TextareaAutosize." -- component
"If true, a textarea element will be rendered instead of an input." -- api
b) This is obscure implicit behavior

Your own guidelines imply it would be better to add an `autosize` flag

[2021-04-07 11:54] randalpinto opened #25650 "DataGrid/XGrid should expose a onColumnSizeModelChange event"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Grids can usually be refreshed in the background and when this happens the state of the grid is lost. With the current observers (page size, page number, sort order, filter order) it is possible to persist most of the state but the width of t

[2021-04-07 12:11] JanCizmar commented on #14971
If you are looking for workaround, something like this works:
[code]

[2021-04-07 12:15] luizabentivoglio opened #25652 "material ui select remove parent focus when dropdown menu is open"
How can I keep the parent on focus when a user click on the select's input? It appears that the focus on the parent container is working just when a user choose the MenuItem.

I've already create a codepen here https://codesandbox.io/s/select-material-ui-forked-zssbn?file=/index.js

And a stackoverflow question here https://stackoverflow.com/questions/66978284/material-ui-select-how-to-focus-the-s

[2021-04-07 13:17] cmacdonnacha commented on #22342
In v5 will it be possible to have more emotion like syntax. So something like this:

[code]

instead of this:

[code]

This way it's more "css like" where you can simply copy/paste styles from dev tools for example into your react component.

[2021-04-07 13:36] catchanuj opened #25655 "[TextField] cannot customize outlined input label font size"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When increasing the font size of the Outlined Input Form labels, the notched outline that renders by default for all `TextField`s doesn't accommodate for the increased label width.

<

[2021-04-07 13:58] povilass commented on #22342
Did you actually read [docs ](https://next.material-ui.com/guides/interoperability/#change-the-default-styled-engine)@cmacdonnacha ?

[2021-04-07 14:00] cmacdonnacha commented on #22342
Apologies, nice one 🙏

[2021-04-07 14:02] antoine-moquereau commented on #25577
Strange, are you sure you respect the date format `'mm/dd/yyyy'`?

Because it looks good to me:
![image](https://user-images.githubusercontent.com/25367276/113876817-63daea80-97b8-11eb-86db-0ff450085d97.png)

Except that the last picker, the `Responsive` one, doesn't clear the old accepted value when a new one is invalid (filled from the second picker, `For Desktop`). It continues to display the l

[2021-04-07 14:05] Hummel37 commented on #25577
Yes, I mean for the mobile picker within the pop up Dialog. You can see it in the uploaded picture

[2021-04-07 14:19] mnajdova commented on #25655
You need to use the same `font-size` for the input too. See https://codesandbox.io/s/formattedinputs-material-demo-forked-87984?file=/demo.tsx

[2021-04-07 14:19] #25655 closed

[2021-04-07 14:23] mnajdova commented on #25623
@KyLoc20 is probably right. Will close it, we can reopen if that's not the case.

[2021-04-07 14:23] #25623 closed

[2021-04-07 14:48] antoine-moquereau commented on #25577
Indeed, there is no validation within the pop up Dialog for the mobile picker 🎯
It seems that's on purpose: https://github.com/mui-org/material-ui/blob/d520cfcbe9a8bdb3dfb12224a9183fbc4814e235/packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx#L148

[2021-04-07 15:20] berkozagir commented on #25623
Yes, F7 worked. Thank you. @KyLoc20

[2021-04-07 18:10] garronej commented on #22342
Interesting thanks!

Regarding [https://github.com/mui-org/material-ui/issues/24109#issuecomment-780805118](this) comment.

We were hoping to be able not [to bundle emotion twice](https://github.com/garronej/tss-react#how-to-avoid-bundling-in-another-copy-of-emotioncss) but we figured out that material-ui doesn’t re-export `css()` function from `@emotion/css` 😞

[https://emotion.sh/docs/class-name

[2021-04-07 21:26] cmcodexv commented on #25652
Stackoverflow's answer helped you?

[2021-04-07 21:44] cmcodexv commented on #25310
I am new to Material Ui, I made a layout that opens and closes depending on the witdh of the window, I hope it will help you!
https://github.com/cmcodexv/layoutReactJS

[2021-04-07 22:00] luizabentivoglio commented on #25652
Yes, thank you Carlos

[Luiza Bentivoglio - Chat @ Spike](https://spikenow.com/r/a/?ref=spike-organic-signature&_ts=z72tc)	[z72tc]

[2021-04-08 01:30] PandasPan commented on #13501
Also remember to change `Markdown.s` to 'Markdown.js'

[2021-04-08 05:14] partoneplay commented on #13394
This may help
[code]

[2021-04-08 05:31] danielo515 opened #25656 "Getting a lot of duplicated Mui-box stylesheet injections"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Every time a box is rendered, it injects a new stylesheet, which bloats the HTML with hundreds of empty stylesheets

## Expected Behavior 🤔

I expect styles tags to not be re-injected

[2021-04-08 06:24] mnajdova commented on #25656
@danielo515 can you please share a simple reproduction? Codesandbox would be the best.

[2021-04-08 06:27] mnajdova commented on #25656
It could be related to https://github.com/mui-org/material-ui/issues/16704

[2021-04-08 06:28] #25652 closed

[2021-04-08 07:05] FriedrichF opened #25657 "Autocomplete triggers focus on all input fields (Chrome)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When you select an option in the autocomplete dropdown and hitting "enter" all other autocomplete and input fields on current page get focused. When the option is selected by mouse ev

[2021-04-08 08:41] mnajdova commented on #25208
I've took a look on this. The typings comes from emotion's [`Global` component's props](https://github.com/emotion-js/emotion/blob/master/packages/react/types/index.d.ts#L56) -  more specifically from the [`InterpolationPrimitive`](https://github.com/emotion-js/emotion/blob/master/packages/serialize/types/index.d.ts#L20) We could restrict them, but that would mean that we would diverge from the or

[2021-04-08 09:10] mnajdova commented on #25657
I could not reproduce this on Windows. @eps1lon @oliviertassinari can you try this on mac?

[2021-04-08 09:37] mnajdova opened #25659 "[core] Using hardcoded pseudo classes versus values coming from classes object"
Opening this issue so that we can align on the way we are writing the styles for the pseudo states.

## Current Behavior 😯

We have inconsistencies with how we are defining the style for the pseudo states. On some places we use [hardcoded classes](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Button/Button.js#L162):

[code]

and on other we are using the [classes coming

[2021-04-08 09:52] eps1lon commented on #25657
Unable to reproduce with Version 89.0.4389.114 (Official Build) (64-bit) on Ubuntu 20.04:

https://user-images.githubusercontent.com/12292047/114006551-d1daec80-9860-11eb-9f9a-5f946053eb17.mp4

[2021-04-08 10:07] lsund opened #25660 "Cannot override root CSS of AvatarGroup (next)"
- [ ] The issue is present in the latest release.
- [x] The issue is present in `next
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behaviour

Overriding certain CSS rules for AvatarGroup has no effect

## Expected Behavior 🤔

In the example befolw, the `foo` class should override the defau

[2021-04-08 10:11] eps1lon commented on #25659
Why is this distinction important?

[2021-04-08 10:12] mnajdova commented on #25660
Duplicate of https://github.com/mui-org/material-ui/issues/24109 you need to use the `StyledEngineProvider` with `injectFirst` option so that jss styles would be added after emotion's. See https://next.material-ui.com/guides/interoperability/#css-injection-order

[2021-04-08 10:12] #25660 closed

[2021-04-08 10:14] mnajdova commented on #25659
For debugging purposes mostly, as the overrides for the pseudo states cannot be defined via theme, only via selects. For example we don't support theme overrides for the `disabled` state, those have to be defined with higher specificity - using the `.Mui-disabled` classes in this case (this have been like this since forever. Maybe it's not that important, but it is useful..

[2021-04-08 10:34] mnajdova commented on #24899
Is this still broken? I could not notice anything on the prod version. Anyway, I prepared https://github.com/mui-org/material-ui/pull/25661 for updating the `stylis-plugin-rtl` dependency.

[2021-04-08 10:42] FriedrichF commented on #25657
Here is a screencast of the behavior. A colleague in Mac OS has the same.

https://user-images.githubusercontent.com/4189027/114013494-e1116880-9867-11eb-8050-d69ed5f66423.mov

[2021-04-08 11:10] tomchambers2 opened #25662 "muiName is not part of Typescript typings for components"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The [composition guide](https://material-ui.com/guides/composition/) says you can copy across the `muiName` from a component to your wrapper. While it is present on some components, Ty

[2021-04-08 11:10] eps1lon commented on #25659
What do you with "selects" in this context?

But that's due to the selector not because we consider it a pseudo class.

[2021-04-08 11:11] tomchambers2 commented on #25662
The workaround I've found is to use a string since the muiName is predictable:

[code]

[2021-04-08 11:18] mnajdova commented on #25659
Sorry, I meant with `class selectors`. We cannot do:

[code]

we need to do:

[code]

this is not the case with other states/props.

[2021-04-08 11:20] eps1lon commented on #25659
Gotcha. Coming back to "-not easily noticeable which styles are for pseudo states, and which are styles for the slots". This is irrelevant to this issue since the higher specificity is caused by the selector.

[2021-04-08 11:24] mnajdova commented on #25659
that makes sense, let me update the description.

[2021-04-08 11:26] eps1lon commented on #25662
Thanks for the report.

Would be nice to have these added to the typings as a `string` (not the literal).

[2021-04-08 11:44] eps1lon commented on #25533
That is what I'm referring to. We should make it possible to either add an affordance via an additional button or make it possible via custom keyboard shortcut.

[2021-04-08 12:07] danielo515 commented on #25656
Ok, I have build this to try to reproduce it, no luck so far:
https://codesandbox.io/s/material-ui-infinite-box-styles-fi9m7?file=/src/App.js

Will keep trying

[2021-04-08 12:11] danielo515 commented on #25656
I noticed that it doesn't happen on my app in prod, only in development. I'll try to recreate my dev env a bit better

[2021-04-08 12:42] cyphernull opened #25664 "[TextField] Bouncing effect rendering issue"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Some of the blue bottom lines for active Input field have an unnecessary bouncing effect. The reason could be the cubic-bezier function.

![ezgif-3-383893559116](https://user-images.g

[2021-04-08 14:23] #25644 closed

[2021-04-08 14:44] mnajdova commented on #25664
@cyphernull can you please share on which input fields exactly are you seeing this, as well as your envinfo (running `npx @material-ui/envinfo`)

[2021-04-08 15:35] Vikram710 commented on #24127
what is the status ? @ydubinskyi  @oliviertassinari
I can work  on this if its free

[2021-04-08 16:23] tomasznguyen commented on #24405
I'll go with TreeView and TreeItem next.

[2021-04-08 16:28] royalcala opened #25667 "top bar change color when its open and autocomplete"
when I open an autocomplete the bar top change to white color, regards.

[2021-04-08 16:45] RiyaNegi commented on #19205
@oliviertassinari  Hey sorry if this is a noob question but why do we need to fix the radio group description of  PlaygroundSpeedDial.tsx in an aria-referencce bug issue? I am not sure how they are related or what difference is it making.

[2021-04-08 17:01] oliviertassinari commented on #19205
@RiyaNegi I'm only mentioning it because this is a second a11y issue that surfaces on the page when you audit it. For instance, it pops in https://validator.w3.org/nu/?doc=https%3A%2F%2Fnext.material-ui.com%2Fcomponents%2Fspeed-dial%2F

<img width="1067" alt="Screenshot 2021-04-08 at 18 59 45" src="https://user-images.githubusercontent.com/3165635/114067174-cd342980-989c-11eb-8c45-c12902284744.png

[2021-04-08 17:30] eps1lon commented on #17350
What are some use cases for knowing the current breakpoint other than our internal usage in `Hidden`?

[2021-04-08 17:41] RiyaNegi commented on #19205
Thanks! And yeah sure I will raise another PR :)

[2021-04-08 18:23] oliviertassinari commented on #17350
@eps1lon I believe we will need an internal `useBreakpoint()` hook (returning the current breakpoint) in order to implement: `useBreakpointValue` (#23885).

[2021-04-08 18:43] nulltoken commented on #25644
@mnajdova @xdshivani Thanks!

[2021-04-08 18:43] eps1lon commented on #17350
So can we close one of these issues?

[2021-04-08 18:44] eps1lon commented on #23885
What are the use cases for this hook? I don't consider the initial primer a valid use case. Why would you want to increase elevation depending on the breakpoint? That's not what you should use elevation for.

[2021-04-08 19:34] landon912 commented on #21593
Does this proposal include the props `pendingIndicator` and `pendingPosition` or is this strictly related to the `pending` prop?

[2021-04-08 19:38] oliviertassinari commented on #21593
@landon912 Intuitively, I would say both that `pendingIndicator` and `pendingPosition` should be renamed at the same time.

[2021-04-08 20:23] StanisKo commented on #2653
@oliviertassinari, hey, was wondering if you guys managed to resolve it? :D

[2021-04-08 20:38] AndyCErnst opened #25674 "CircularProgress freezes when JS thread under load"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The CircularProgress component completely freezes when the JS thread is busy.

![slowdown](https://user-images.githubusercontent.com/6656575/114092385-ae1ea300-986e-11eb-9237-7d71526f

[2021-04-08 20:44] oliviertassinari commented on #25674
It's working in v5 https://codesandbox.io/s/material-demo-forked-flrtx?file=/demo.js

[2021-04-08 20:44] #25674 closed

[2021-04-08 20:45] oliviertassinari commented on #2653
@StanisKo Follow the guide in the documentation

[2021-04-08 20:51] StanisKo commented on #2653
@oliviertassinari , that's exactly what I did in the first place; I still get suggestions for password fields. The only -- though cumbersome solution -- is to avoid `id/type=password`, but that drops the wildcards.

I've tried everything from here: https://stackoverflow.com/questions/48304062/material-ui-textfield-disable-browser-autocomplete, but with no avail.

Any specific suggestions on workin