[2021-10-12 06:48] siriwatknp commented on #28980
Is it because of the auto-import in your IDE?

[2021-10-12 07:36] eps1lon commented on #28992
@javismiles Please fill in all the information the issue template asks for.

[2021-10-12 07:40] zenje commented on #28831
Hello, could I try working on this issue?

It seems like a new `OpenPickerIconProps` prop could be added to date / time Picker-related components (DatePicker, DesktopDatePicker, MobileDatePicker, etc) and finally to the internal KeyboardDateInput component.

KeyboardDateInput can then be modified so that the `OpenPickerIcon` renders with this new prop:
[code]

[2021-10-12 08:07] SveinEven opened #29000 "[icons] TipsAndUpdates icon is missing"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`import TipsAndUpdatesIcon from '@mui/icons-material/TipsAndUpdates';
Cannot find module '@mui/icons-material/TipsAndUpdates' or its corresponding type declarations.`

## Expected Beh

[2021-10-12 08:26] borm commented on #28994
@mnajdova, i got example from https://mui.com/getting-started/example-projects/#official-examples
if u think im doing something wrong please explain me how to fix it correctly in **v5**
my example and what i got from the mui website is identical, only one change is makeStyles with overrides

[2021-10-12 08:46] alessio-de-padova commented on #4950
Why would this be out of the Material Design spec?
Other libraries have it. I think it would give a good competitive margin to material ui (which is btw my favorite one) :)
Maybe the pro version!

[2021-10-12 09:26] italodeandra opened #29002 "[DatePicker] Action buttons not showing"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

You pass properties to enable action buttons but it doesn't show them.

## Expected Behavior 🤔

It should show the action buttons.

## Steps to Reproduce 🕹

https://codesandbox.io/s/b

[2021-10-12 09:46] sentinel8 commented on #29002
These properties (clearable, showTodayButton) are only used in mobile mode (dialog) and not desktop mode (inline).

[2021-10-12 09:55] italodeandra commented on #29002
@sentinel8 Are you sure? This isn't mentioned anywhere and the actions also don't show on mobile mode on my codesandbox.

[2021-10-12 10:07] dlanorf opened #29003 "custom attribute can not be applied to Box"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @mui/envinfo`</summary>

[code]
</details>

[2021-10-12 11:12] crtl opened #29008 "Documentation for extending theme is wrong. Module Augmentation does not work."
In https://mui.com/customization/theming/#custom-variables the docs tell you to use following example to extend typescript type but it is not working:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Current example in docs

[2021-10-12 11:18] Andarist commented on #28911
I think the diagnosis here is correct - when you compose styles are "folded" into a single class name and the rest is just CSS behavior.

While this issue is slightly about a different problem I think it might actually shed some additional light on the issue here: https://github.com/emotion-js/emotion/issues/1860 .

[2021-10-12 11:26] faebeee opened #29009 "Example for using Localisation"
Since the Guide suggests using the LocalizationProvider, it would be cool to see, how to format a date using that provider
The date should not be in an input field or similar, but just plain text

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

`const formattedDate = useDate

[2021-10-12 11:27] mnajdova commented on #28911
Thanks for confirming @Andarist. In this case there is nothing much we can do in terms of implementation. I will think about what is the best way to document this.

[2021-10-12 12:02] #28994 closed, assigned to mnajdova

[2021-10-12 12:49] #28979 closed, assigned to nobody

[2021-10-12 15:58] DoronTorangy opened #29014 ""styled" function omits "component" prop from when wrapping MUI components"
I have a `Header` component which is just a wrapped `Typography`:

[code]

The problem is when I use it (I'm using Typescript btw) I can't pass a `component` prop, like I can't do this:
[code]

It seem to happen with every @mui component, not just Typography, like the `styled` function omits the `component` prop.
How can I fix this?

- [x] The issue is present in the latest release.
- [x] I have s

[2021-10-12 16:27] rossjs commented on #28911
Thanks for the help, both of you.

Not to push back too much but is it possible for the library to access a list of CSS properties that are using media queries for each MUI component and then convert something like `sx={{ background: 'green' }}` to `sx={{ background: { xs: 'green' }}}`? I assume in practice it would just convert it to the actual media query underneath the hood, but I think you get

[2021-10-12 16:38] iTzMeRafa commented on #24549
@oliviertassinari
When I try to use `xs` as max-width in my container component, mui sets it to 444 although in my theme settings it is set to 360.
Why would it do that and how can I override it?

Works fine with all other breakpoints.

[2021-10-12 16:58] JDDurrant opened #29015 "[material] `CssBaseline` flagged as deprecated without clear reason"
This is a minor documentation issue. As far as I know, it can't currently affect a site's functionality. If I've raised this in the wrong section, please excuse me and let me know of my error.

---

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Curr

[2021-10-12 17:11] oof2win2 opened #29016 "TableCell not accepting className properly"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`TableCell` is not correctly accepting className, as it is not applying the CSS given there properly.

## Expected Behavior 🤔

`TableCell` should apply className correctly and apply t

[2021-10-12 17:32] oof2win2 commented on #29016
Nevermind, fixed it. #28907 helped.

[2021-10-12 17:57] BrenoVelasco commented on #28922
@ctbodycad I grabbed a piece of code from the issue I mentioned above and it worked well for me. Hope it helps:

[code]

[2021-10-12 18:15] oakhtar147 opened #29018 "Theme overrides do not work for classes defined for custom component in `withStyles`"
I have a use case where I have defined classes for a custom component and inject those using the `withStyles` HOC. My classes depend heavily on the `props` passed to the component. However, I would also like to be able to override these classes using the global `theme`'s `overrides` object.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui

[2021-10-12 19:53] stamahto opened #29019 "Hidden property not working [v5]"
Property "hidden" is not working on any mui v5 component.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I set the hidden property to any component, it remains displayed.

## Expected Behavior 🤔
Component should be hidden.

[2021-10-12 20:14] SveinEven commented on #29000
No, a colleague of mine told me they were missing, so I wrote a comment about it. But after checking myself (which I should've done before posting), I saw they were included. I tried to delete the post but I guess I should have edited.

Thanks though :)

[2021-10-12 22:43] oliviertassinari commented on #28911
Oh boy, I didn't anticipate this customization pain coming. Should we categorize it as a bug in emotion? https://codesandbox.io/s/aged-platform-kl7hr?file=/src/App.js

<img width="511" alt="Screenshot 2021-10-13 at 00 42 51" src="https://user-images.githubusercontent.com/3165635/137038754-2fa92963-2e0d-4eca-af0c-ec9bdf4cf9ee.png">

It seems to behave as with CSS with styled-components.

[2021-10-12 23:50] rossjs commented on #28911
@oliviertassinari That's completely fair since it appears to be related to the order in which emotion is applying styles. I'll take my leave and stop being the squeaky wheel now 😄

Thank you everyone for your hard work on this library though! I've been singing your praises for years.

[2021-10-13 01:29] benny0642 opened #29020 "[Select] When the select is open, the body still can scroll in iOS safari."
As title, when the select is open with menu, the body element still can scroll in iOS safari.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Check the video below, when I open the select in iOS safari, the body still can scroll.

[2021-10-13 01:56] benny0642 commented on #29020
It seems that happens when the browser UI is not fully visible (i.e. the address bar is retracted).

Maybe the issue is related to [safari issue](https://bugs.webkit.org/show_bug.cgi?id=153852).

[code]

[2021-10-13 02:20] dlanorf opened #29021 "[Box] Can not apply custom attribute"
I added a custom attribute on Box component. But it didn't take effect. I found it missing when I checked it with Chrome developer tool.

It worked well before I migrated project from mui v4 to v5.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Curr

[2021-10-13 02:48] GhostCode83 commented on #10571
Made it all the  way  to the bottom to find this!  Thanks for the post
(it worked)

[2021-10-13 05:27] hydroflame opened #29022 "ThemeProvider breaks when moving from 5.0.0-rc1 to 5.0.0"
I have a project which uses @mui/styles and my styling broke when moving from v5.0.0-rc1 to v5.0.0

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I would have expected the transition to go smoothly so I can slowly convert my code

[2021-10-13 06:09] cdll commented on #18482
same issue here

[2021-10-13 06:59] eps1lon commented on #29021
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-13 08:10] eps1lon commented on #29021
Thanks for the repro.

My guess is that we somehow filter unknown props. @mnajdova Is this intended? I think `styled-components` decided to not do this in the past. Might be good to collect all pros/cons for the current behavior and properly document it.

[2021-10-13 08:55] #29014 closed, assigned to nobody

[2021-10-13 08:55] eps1lon commented on #29008
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), or a link to a repository on GitHub.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-13 09:00] timothyarmes opened #29026 "MUI 5 speed issues - very slow"
Hi,

I've just converted a fairly complex project from Material UI v4 to Mui v5.  The initial conversion was fairly painless, about half a day, however removing all the makeStyles was painstaking work and I did it over a two week period.

Everything now works perfectly, however the site is now so much slower that it's practically unusable. For example, a route change that was maybe 0.5seconds befo

[2021-10-13 09:25] patolax opened #29027 "[Table] Poor performance with a fixed height"
My app has Material UI table with 100 records and each row has quite a bit of data to be drawn. Please see the sample below. The data is also updated using setInterval function at 2000ms.

https://stackblitz.com/edit/react-ts-9k8gnl?file=Hello.tsx

When there is a table height set <TableContainer style={{ height: '500px', width: '100%' }}> application performance is very poor. Users cant even scro

[2021-10-13 09:47] javismiles commented on #28992
I will add it in separate issue then as you suggested

[2021-10-13 09:47] #28992 closed

[2021-10-13 09:48] javismiles opened #29029 "Dragging slider breaks in V5 when within TabPanel that is within Dialog, demo and info attached"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When you try to drag a slider that is located within a TabPanel that is located within a Dialog, the dragging doesnt work well.

## Expected Behavior 🤔
When you try to drag a slider

[2021-10-13 11:12] mwskwong opened #29030 "[ListItemButton] Specifying href doesn't automatically rendered as <a>"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

According to the [MUI doc](https://mui.com/api/button-base/), `LinkComponent` (default to `<a>`) will be automatically used to render a link when the `href` is provided, without the n

[2021-10-13 11:52] extjbhlego opened #29031 "[SpeedDialAction] It would be nice if we could make the whole row (icon+tooltip) a clickable element"
## Summary 💡
Title pretty much sums it up. Each row in a `SpeedDial` should be a clickable element (perhaps with a prop to enable/disable this behavior), including hover interaction with cursor. Many of our users report that it is frustrating that the options disappear from the screen when they try to interact with the label instead of the icon.

## Examples 🌈
For example in this demo:
https://mui

[2021-10-13 12:13] eps1lon commented on #29029
In your example you're creating a new `TabPanel` on every render. This means that React will re-mount every children of `TabPanel` on each render. Since we re'render on every `value` change from the `Slider` we re-mount the `Slider` on every render. Re-mounting looses all previous states including focus, dragging etc.

`TabPanel` needs to be stable on every render. Instead, re-implement it so that

[2021-10-13 12:13] #29029 closed, assigned to nobody

[2021-10-13 13:35] mottox2 opened #29033 "[Chip] Unable to disable ripple in clickable Chip"
Cannot disable ripple with clickable chip.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Even if ripple is set to disabled in the theme, it will remain enabled in clickable Chip.

[code]

## Expected Behavior 🤔
If ripple is set t

[2021-10-13 15:25] javismiles commented on #29029
@eps1lon good news, I just fixed it. And the fix was super simple. All I had to do is to add useCallback here:
"  const  TabPanel = useCallback((props) => { ... "
And that's it, now its smooth!
Thank you again for your quick replies

[2021-10-13 15:40] Mansi1 opened #29037 "breakpoint.between got wrong media query"
media query had some strange rounded result
from 0 to 649

expected = @media (min-width:0px) and (max-width:649px)
result       = @media (min-width:0px) and (max-width:648.95px)

https://codesandbox.io/s/young-darkness-xz9j5?file=/src/Demo.tsx

[2021-10-13 16:25] OriAmir opened #29038 "Module federation and MUI doesn't work with 2 different react version"
When using module federation webpack 5  plugin and using 2 projects using 2 different versions of React it's cause an error

- [V] The issue is present in the latest release.
- [V] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

error throw and application not loaded :
![image](https://

[2021-10-13 16:53] kriswuollett commented on #28880
No longer an issue. I changed to using plain npm v7 and so I assume it has to do with how dependencies were loaded and/or previous typescript settings I was using.

[2021-10-13 16:53] #28880 closed

[2021-10-13 17:49] #29037 closed

[2021-10-13 18:58] hydroflame commented on #29022
You are correct.

[2021-10-13 18:58] #29022 closed, assigned to nobody

[2021-10-13 19:00] pavelspichonak commented on #28767
@siriwatknp could you please look at this issue?

Here is [sandbox](https://codesandbox.io/s/5ro7f?file=/demo.js) from documentation. Just add `keepMounted` to Popper component in this sandbox and you will see that you can't click the button.

[2021-10-13 19:09] TheWilks commented on #28924
This issue was also identified by our accessibility review team. Looking forward to seeing any progress on this issue.

[2021-10-13 19:10] bristoljon commented on #16846
Anyone else think the best solution might be just to not use Typescript?!

[2021-10-13 20:18] azz0r commented on #29018
Theming is flat out broken right now

[2021-10-14 06:33] ashfaqnisar commented on #28408
Hey @MrEbbinghaus,
Was having the same issue with the paper component. The colour was becoming lighter than the colour I provided.
The colour provided to the component was **#1d1d1d** but it was turning into **#2c2c2c**

I have added images for reference.
Present Behaviour:
![image](https://user-images.githubusercontent.com/20638539/137262999-c93017b4-cf0c-45b4-b354-5dbfca8486a4.png)

Expected Beh

[2021-10-14 06:46] #29020 closed, assigned to nobody

[2021-10-14 06:55] mnajdova commented on #28718
Duplicate of https://github.com/mui-org/material-ui/issues/5750

[2021-10-14 06:56] mnajdova commented on #28842
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-14 07:29] timothyarmes commented on #29026
I appreciate that. I'm not asking you to fix something that you can't see, however _if_ this is a generalised issue that people are having with v5 then by getting our heads together we may to able to find some common causes.  For that, we need to know how we can help the team get to the bottom of it.

The performance of my app is 5-10x slower since moving to Mui 5. It's the only change in my code

[2021-10-14 07:34] Pablion commented on #29018
Hi, @oakhtar147,
- When checking a checkbox `- [ ]`, its better not to leave a space before the `x`, like this `- [x]`.
- You checked `The issue is present in the latest release` and you have `material-ui: ^4.12.3` , AFAIK, the latest version is `5.0.3`
- I'm having the same problem that my TSlint is giving this error:
[code]
  I guess we are facing different bugs?

[2021-10-14 08:38] #28075 closed

[2021-10-14 08:48] eps1lon commented on #29026
comfortable with profiling with React Developer Tools.

You've linked to images using the Chrome Developer Tools not the React Developer Tools. These are two different things. That's why I included the [link to the React Developer Tools](https://reactjs.org/blog/2018/09/10/introducing-the-react-profiler.html) so that you can get familiar with it. The React Developer Tools should help you find out

[2021-10-14 09:18] patolax commented on #29027
I have added steps now. thanks

[2021-10-14 10:27] Gr3yShad0w opened #29046 "Typescript: Autocomplete value validation when using controlled value (empty first) but with disabledClearable on"
- [ X] The issue is present in the latest release.
- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Im implementing the Autocompleted with controlled state (from react-hook-form).
The Value in the beginning should be emtpy => `null`
When the user selects an Item the ID of the item

[2021-10-14 12:40] OriAmir commented on #29038
hi @eps1lon thanks for the answer.

you could see that here: https://codesandbox.io/s/webpack-module-f-forked-8vto1?
it's the very basic and regular implementation of module fedration includes 2 apps .
one app is with react&react dom in 17.0.0 and the second with 17.0.2 and its didn't work

if you change both to use 17.0.2/17.0.0 it's will work as expected!

thanks again

[2021-10-14 14:11] eps1lon commented on #28924
What about https://codesandbox.io/s/radiobuttonsgroup-material-demo-forked-md7h0?file=/demo.js?

[2021-10-14 14:18] TheWilks commented on #28924
Works fine in that demo.

[2021-10-14 14:29] emanual4real opened #29050 "[system] Missing documentation in flex-box"
**Expected Behavior**:

I expect to see all the `justifyContent` options like `space-between` and `space-evenly` on https://mui.com/system/flexbox/

**Actual Behavior**

I do not see examples or documentation for `space-between` or `space-evenly`

![image](https://user-images.githubusercontent.com/7506967/137338133-8dc56119-97ea-4535-a33f-3a949df15f5a.png)

I'm new to MUI and only found out about

[2021-10-14 15:17] brett-east opened #29052 "Clicking on the ellipsis on the pagination component results in no page being selected"
If your'e using the pagination component and click on the ellipsis between a set of pages,
it deselects the current page and the pagination resets. The handleChange event is still being
triggered for a click on the ellipsis, but it is then being passed through with a null value.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/materia

[2021-10-14 15:23] TokisakiYuu opened #29053 "[examples] Button missing touch ripple effect in Nextjs SSR"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
missing ripple effect when click button in this example, and this example fork by Material-ui offical server rendering example, just I added a Button compoment.

CodeSandbox: [https://

[2021-10-14 16:05] rpvilo opened #29056 "[Autocomplete] `hiddenLabel` prop of `TextField variant={filled}` inside Autocomplete isn't working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The hiddenLabel prop is not working on the filled variant of Autocomplete TextField

## Expected Behavior 🤔

The Autocomplete TextField should have the correct padding with the hidden

[2021-10-14 17:06] jennykortina opened #29059 "Transformation error Unexpected token when running preset-safe codemod"
I am following the https://mui.com/guides/migration-v4/ guide.  When I run ` npx @mui/codemod v5.0.0/preset-safe ./ --no-babel --parser=flow` I get the following error:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When

[2021-10-14 17:46] kykungz opened #29060 "[Dialog] Click event also calls parent onClick"
In summary: Click events inside Dialog propagate to it's parent

I have created a reusable Button which will open a confirmation Dialog, so that I can use this confirmation button in my project without many states and dialog boilerplate.

[code]

Then use it in places I want to have a confirmation behavior without the hassle to declare the dialog and states.
[code]

However when I click anywhere a

[2021-10-14 18:55] repl-krishna-g opened #29061 "DesktopTimePicker mask doesn't work with AM/PM format"
DesktopTimePicker has no effect when AM/PM is used in `inputFormat`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When try to enter time I expect mask to kick in and guide user to type just like it does when we use only hour and

[2021-10-14 19:25] aleccaputo opened #29062 "v5 Docs: Component API list is too narrow and does not indicate horizontal scrolling well"
Pretty minor issue here, but if I was new to reading the docs and i saw this, i would not know to scroll horizontally to see the description column.
I think the breakpoints should be a little more generous with higher resolution/bigger monitors. There also isn't anything at the top that indicates you can scroll horizontally (you'd have to scroll to the bottom to see the scroll bar). I Actually onl

[2021-10-14 19:33] gregjoeval commented on #29062
2560 x 1440
![image](https://user-images.githubusercontent.com/12819403/137383568-51c4f5af-8ce1-46c2-9939-5d2a3b90b237.png)

[2021-10-14 21:57] brookssolveig opened #29065 "Menu component: Dense prop doesn't change padding"
The documentation explains that a "dense" prop may be applied to the Menu component to reduce its padding. It appears to only change the size of the typography component inside it, but doesn't change the height of the list item or any of its padding.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this reposito

[2021-10-14 23:28] Pablion commented on #29018
Thank you for the reply @oakhtar147,
- Nice to see you fix the problems.
- Truely, the `@material-ui` is still with version 4.x.x but I think they are moving on `@mui` with version `5.x.x`.
- Thanks for offering the help. I already resolved it: I imported in MUIv5 both `withTheme()` and `withStyle()` from `@mui/material`, but they are moved to `@mui/styles`.

[2021-10-14 23:59] dryu opened #29066 "LoadingButton loading indicator position is misaligned for text buttons"
LoadingButton loading position is misaligned in case an icon is used with the "text" variant button. It works fine for buttons with "outlined" variant. See codesandbox example.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Loadin

[2021-10-15 00:11] jonathanrtuck commented on #28373
not sure why this was closed. this error occurs in mui's internal code, not the user's code. you can see in the error he posted that it is coming from `node_modules/@mui/lab/themeAugmentation/props.d.ts`.
i'm seeing the same error in a codebase that isn't even using `DateRangePickerDay`.

it looks like we just need to change `DateRangePickerDayProps<TDate>` to `DateRangePickerDayProps<TDate = unkn

[2021-10-15 01:54] siriwatknp commented on #29062
Thanks for reporting this! cc @danilo-leal

[2021-10-15 02:04] siriwatknp commented on #29059
Can you provide one of the sample file with flow type?

[2021-10-15 02:17] siriwatknp commented on #29056
I am not sure why there are hard-coded className in `Autocomplete`. Need more investigation.

[code]

[2021-10-15 02:42] siriwatknp commented on #29050
Note that `justifyContent` is not MUI specific but a CSS property. I think that's why we don't document all of its value. However, adding a couple of lines might help people to see what options they can use. 👍

[2021-10-15 02:46] siriwatknp commented on #29052
Hard refresh on the docs site and try again. Thanks @kykungz

[2021-10-15 03:39] TokisakiYuu commented on #29053
thank you.
but I have also tried it in my local environment, the same issuse was found.

**Environment**
Darwin x64 20.6.0
Node.js 14.17.0
VSCode 1.61.0
Chrome 94.0.4606.81 (**Incognito-mode**)

**NPM Packages**
| name | version |
|----------------|--------|
|@emotion/cache |^11.4.0 |
|@emotion/react   | ^11.4.1 |
|@emotion/server | ^11.4.0 |
|@emotion/styled | ^11.3.0 |
|@mui/material     | ^5.0.

[2021-10-15 03:55] #29053 closed

[2021-10-15 04:19] adamfitzgibbon commented on #29015
I went ahead and submitted a pull request removing the annotation. Feel free to close if you decide that it should indeed be deprecated!

[2021-10-15 06:52] fterh opened #29072 "[Gatsby+MUI] SSR issue using @mui/styled-engine-sc"
Title is pretty much all there is. Some really weird bugs happened on my home page after I switched a <p> node to a <Typography> node in a different page.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Home page loads fine, but c

[2021-10-15 10:18] hanvyj opened #29076 "[Tooltip] `aria-describedby` is missing in V5"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The aria-describedby attribute should be applied to the anchored element when tooltips are displayed as described by https://material.io/components/tooltips/web#using-tooltips. I coul

[2021-10-15 12:22] jennykortina commented on #29059
Sure if I have a type like this:

[code]

it would break on the `hours: ?number`.  It breaks anywhere in the codebase that a maybe flow type is used.  Here is a [link](https://flow.org/en/docs/types/maybe/) to maybe flow types docs.   Again the error from above (also pasted below) is what we see when trying to run the script `Transformation error (Unexpected token...`:

[code]

Thank you so much!

[2021-10-15 13:17] #29000 closed, assigned to nobody

[2021-10-15 13:22] bordeo opened #29078 "Cannot convert a Symbol value to a string with @emotion/babel-plugin and next.js"
`Error: Cannot convert a Symbol value to a string` when using [@emotion/babel-plugin](https://emotion.sh/docs/@emotion/babel-plugin) with [next.js](https://nextjs.org/)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Using componen

[2021-10-15 13:23] dan-mba opened #29079 "GitHub Icon change not mentioned in "Migration from v4 to v5""
The GitHub icon was changed in #27740
As I am working on migrating a site I noticed the change and thought I was doing something wrong.
I finally noticed the SVG paths are different and found the change after scrolling through the release notes.
It would useful if this & any other icon changes were mentioned in the [migration guide](https://mui.com/guides/migration-v4/).

- [x] The issue is presen

[2021-10-15 15:07] kga-gravityandstorm commented on #28990
We're having the same issue with migration to v5.
Don't have an issue with the migration guide itself. We followed all the steps for migration with JSS, but the style mess up is reproducible. No errors in the console logs, the app 'technically works', but most mui elements either ignore the component styling or are using the mui defaults ( i.e. default colors, fonts,etc.).
This also happens if we

[2021-10-15 15:32] TheWilks opened #29080 "Snackbars not read by screen reader"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Snackbars are not being read by a screen reader in various scenarios but the majority of the issues are with Firefox...

1. NVDA screen reader + Firefox: Screen reader is not reading

[2021-10-15 16:10] jamintz opened #29081 "MUI v5 select menu items merged horizontally"
Going through the v4 -> v5 upgrade guide, and my dropdown menus all now look like:

<img width="136" alt="Screen Shot 2021-10-15 at 11 59 12 AM" src="https://user-images.githubusercontent.com/3538254/137518132-41f82a8b-d430-46a3-b19e-9a27b8b7f85e.png">

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this reposi

[2021-10-15 18:48] williamhaley opened #29082 "Rating component stars may bleed through overlaid elements in the foreground"
- [X] The issue is present in the latest release.
    - Present with `@material-ui/core` on `stable@4.12.3` and `@material-ui/lab` on `4.0.0-alpha.60`
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.
    - A naive search for `star` and `Rating` in issues (including closed) does not seem to reveal duplicat

[2021-10-15 19:12] VikR1000 opened #29083 "Suggestion re: Update from v4 to MUI Emotion"
I've just updated my app from MUI v4 with JSS, to MUI v5 with Emotion.

There was a hill to climb initially. Applying the jss-to-emotion CodeMod gave me Emotion code like this:

[code]

...and I of course thought, this is what Emotion CSS code looks like.  So I initially was starting off on the wrong foot.

It turns out that Emotion is very flexible and there are a lot of ways to apply it, e.g. cr

[2021-10-15 19:46] tramert commented on #28990
I am also having major styling issues from upgrading to V5.

About 50% of my app styling is broken, the app runs but it's unusable. With 100's of files it would takes weeks of work to get back to what I currently have with V4.

I tried [the troubleshooting steps](https://mui.com/guides/migration-v4/#troubleshooting) with no success.

I am going back to V4 for now but this is concerning.

[2021-10-15 20:06] javismiles commented on #28990
@tramert exactly, it is just not worth it upgrading with the current issues, hopefully this will be addressed as it is not realistic to expect people to redo, or reanalyze or reconfigure or rethink or re-research how its done etc large parts of their project after an upgrade

[2021-10-15 20:20] MutableLoss opened #29084 "TableRow: Hover Background - Value Provided is Out of Range"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using less transparent selected/hover opacities within a custom theme, the TableRow component causes an out of range error when it attempts to create the hover background-color a

[2021-10-15 20:37] djpremier opened #29085 "Docs: Input incorrect prop, margin replaced by size"
In the 'Input' component documentation, the 'margin' property is showing and the 'size' property is missing, as per the migration guide and associated PR, this property (margin) has been replaced in favor of 'size'.

Guide:

Documentation:
`https://mui.com/api/input/#props`

Pull Request of feature:
 #23832

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https

[2021-10-15 22:43] EugeneBugor commented on #26380
@eps1lon any update on the issue? Thanks.

[2021-10-15 22:54] frastlin commented on #26964
The second item you said, nothing is announced or indicated is selected, so the element seems to not work to the screen reader user. Here is a good example of a multiselect:
http://whatsock.com/Templates/Comboboxes/Simulated,%20Readonly%20Multiselect/index.htm
and another example:
http://whatsock.com/Templates/Listboxes/Multiselect/index.htm
Both are fantastic.

[2021-10-16 00:49] edazpotato opened #29086 "Allow theme.spacing() to return a number"
## Motivation 🔦

I love the spacing utility function because it makes consistent spacing very easy. But in some cases, I want to tweak the value returned by it a little. This is currently quite difficult because the function always returns a string with `"px"` appended to it.
Currently, if I want to, for example, add 2 to the return value of the spacing function, I would have to do something like

[2021-10-16 05:29] prKrumm commented on #28077
Ive got the same problem after updating to Mui5. Can you reopen?

[2021-10-16 07:46] juanrgm commented on #19113
I replaced all type objects at `node_modules\csstype\index.d.ts` by `any` but checking time keeps between 3 and 4 seconds simply with a `Button` component.

- @mui/material: 5.0.4
- @emotion/react: 11.4.1
- typescript: 4.4.3
- CPU/RAM: i7 3.6Ghz / 16GB

[2021-10-16 10:00] juanrgm commented on #19113
I am using material 5, not 4, but thanks for the tip.

After of leave only 5 tags at `JSX.IntrinsicElements` the check time fell to 2 seconds.

[2021-10-16 13:06] donrsh opened #29087 "Theme Nesting Doesn't Work (seems has something to do with storybook)"
As title, theme nesting doesn't work.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/7490144/137588408-7f6f26e7-4aab-4fce-8104-4681d0ccac48.png)

## Expected Behavior 🤔
The primar

[2021-10-16 17:01] ElhadiRagabaat commented on #28029
Error in ./~/@mui/system/colorManipulator.js
Module parse failed: /Users/macbookpro/Desktop/shopify-project/client-app/node_modules/@mui/system/colorManipulator.js Unexpected token (216:67)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (216:67)
 @ ./~/@mui/system/index.js 437:24-53

Error in ./~/@mui/material/node/styles/createTransitions.js
Module pars

[2021-10-16 21:10] petermikitsh opened #29089 "Legacy files import non-legacy code"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

From https://unpkg.com/@mui/material@5.0.4/legacy/Backdrop/Backdrop.js:

[code]
## Expected Behavior 🤔

[code]
## Context 🔦

It's problematic when I want to use the legacy build to su

[2021-10-16 21:39] #28681 closed

[2021-10-17 06:46] MohammedSaberMohammed commented on #28842
I have the same issues and I may change material-ui to another pkg because there are a lot of issues because SSR with Next even after adding _document, also all my styles has been overridden by generated classed from mui in production
[My issue](https://github.com/vercel/next.js/discussions/29967)

[2021-10-17 06:49] tanay123456789 commented on #29056
working on it.

[2021-10-17 08:01] paulincai commented on #21578
I'll just leave this here too. Meteor is a NodeJS full stack development platform. I personally observe this issue in React and as reported initially in this thread, it only happens on the first load of a modal. https://forums.meteor.com/t/material-ui-v5-dialogs-and-menus-initial-open-lags-freezes/56842. This discussion also contains a repo for reproduction.

[2021-10-17 10:22] nikandlv opened #29115 "sx does not behave correctly with Box and Theme"
Using `"primary.main"` in `Box` component does not use the theme color, instead, it uses the default material UI theme. this issue does not exist in `Grid` component though

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

**does no

[2021-10-17 10:24] AbdulWahab-Esketchers opened #29116 "Can not place label at the top right of the textfiled"
Here is the video demo:
[Demo video](https://drive.google.com/file/d/1-5I8BLsmalDsmbj_FXtqjnPq_hMZORTc/view?usp=sharing)
My text field
`<TextField
                    style={{ direction: "rtl" }}
                    InputLabelProps={{
                        classes: { root: classes.labelRoot, shrink: classes.shrink }
                      }}
                    label={t("Ad Title (eg: Toyota Camr

[2021-10-17 11:04] nikandlv commented on #29115
my bad! i was using
`import { ThemeProvider } from "@emotion/react";`
instead of
`import { ThemeProvider } from "@mui/material";`

[2021-10-17 12:52] toHarsh commented on #29066
@dryu I can try too fix this

[2021-10-17 20:02] LorenzHenk commented on #28723
Have you decided on how this should be resolved?
I'd like to work on this issue :slightly_smiling_face:

[2021-10-17 21:37] LorenzHenk opened #29119 "[website] Make the showcase component of hero on landing page scrollable"
The top right section of the landing page is cut off and cannot be scrolled, making it impossible to see some of the cool examples.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The `height` is based on the screen height (`calc(

[2021-10-17 22:30] SrDeLasTinieblas opened #29120 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/buttons/#main-content
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|

[2021-10-18 03:03] MariaSolOs opened #29121 "Styling another component with styled()"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Is there a way to style another component with styled() without using classes but targeting the styled component? Being able to do something like this:
[code]

If it's already possible, could it be added to

[2021-10-18 06:23] PiTiLeZarD opened #29122 "Popper within Dialog not working"
I have a component that once clicked opens a popper underneath with some clickable stuff. In one of the project I use, the popper is within a dialog and opens in the background (can't see or interact with it)

I recently moved to mui5 and used to use that solution for mui4: https://github.com/mui-org/material-ui/issues/14216

- [X] The issue is present in the latest release.
- [X] I have searched

[2021-10-18 06:39] mustafa-hanif opened #29123 "[RTL] sx props don't get flipped using emotion RTL"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`sx` props are not flipped when RTL is applied

## Expected Behavior 🤔

all `sx` props including left, marginLeft, ml, should be flipped

## Steps to Reproduce 🕹

Steps:

Here is a co

[2021-10-18 06:57] #29076 closed

[2021-10-18 08:39] sbitenc opened #29126 "[Textfield] Using `ThemeProvider` of `@emotion/react` doesn't apply custom theme to border"
Hi, i'm trying to customize my textfield to match with our color scheme. However, the colors don't seem to propagate.

Here's an example picture of what happens when you set a color via a theme.

![image](https://user-images.githubusercontent.com/88312868/137694950-8394b57f-83af-4ba4-b914-a547113f0990.png)

The outline should be either the secondary color, or the same as the primary one, or the li

[2021-10-18 10:36] #29060 closed, assigned to nobody

[2021-10-18 10:37] ItayTur opened #29130 "[Select] Add virtualization support"
Material UI Select component is lagging when having more than 200 options. I try to work around it using `react-virtual` npm. this should solve the issue because it follows the Select rule of children can be MenuItem Only, since it provides a hook and not a wrapping component, like in `react-window`.

## Current Behavior 😯

The overflowen options are not rendered when scrolled to them.

## Expecte

[2021-10-18 10:53] simplecommerce opened #29131 "Dialog and Menu freeze delay on initial open on MeteorJS platform"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On my MeteorJS app, when I click on a button to open a Dialog or Menu, there is a freeze delay for the first time.
Any subsequent clicks to the button, will open the Dialog and Menu q

[2021-10-18 10:58] #28976 closed, assigned to nobody

[2021-10-18 11:19] mnajdova commented on #29122
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-18 11:21] ysstudio22 commented on #29119
Hi @hbjORbj

I'm Yoshi.  I'm interested in contributing if this issue hasn't been assigned yet.  I'll wait until @LorenzHenk has replied to you.  Thanks🙂

[2021-10-18 12:04] SveinEven opened #29134 "[Paper] Dark mode theme changes background color of AppBar and Paper"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Theme with dark mode active slightly changes the background color of AppBar and Paper elements. EG `#000000` turns into `#171717` for the AppBar.
This does not happen when the mode is

[2021-10-18 12:23] mnajdova commented on #29130
I haven't used the library much I must be honest, so I am pretty sure it needs more work. Also, take a look at https://mui.com/components/autocomplete/#virtualization for inspiration too.

[2021-10-18 14:54] lougroshek opened #29136 "MUI 5: Custom theme variables do not appear to be passed to styled components in CRA"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I've created a codesandbox that displays the expected behavior, wherein extra theme variables added when creating an MUI theme are passed with other theme variables to styled componen

[2021-10-18 16:02] tiagooliveira08 commented on #27512
The problem with this approach is that the SSR part ends up being turned off @Michal-gasiorowski, I'm having the same problem using next + material-5 + **makeStyles** + npm, I saw several issues reporting this type of issue being caused by various reasons, this ended up leaving me confused about the real status of this issue?

[2021-10-18 16:22] sbitenc commented on #29126
@hbjORbj Hi, thanks for helping me pinpoint the issue.
The problem is, if you actually use import { ThemeProvider } from "@emotion/react";
In that case, you get exactly the problem i got. Using the one from mui, it works perfectly.
Here's the link: https://codesandbox.io/s/adoring-feistel-zzw2u?file=/src/Demo.tsx:120-167

[2021-10-18 17:46] ognitio-technologies commented on #8336
Link not working

[2021-10-18 19:23] dan-mba commented on #29079
@danilo-leal I will work on a PR

Should I create a new section for `@mui/icons-material`  under Breaking Changes?

Is [this file](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/guides/migration-v4/migration-v4.md) the one I need to edit?

[2021-10-18 19:33] jrobinson041 opened #29142 "Table Pagination using deprecated props in demo"
In the Table component demo, all instances of <TablePagination/> are still using the deprecated props `onPageChange` and `onRowsPerPageChange` rather than the new `onChangePage` and `onChangeRowsPerPage`. This is the case on both the v4 and v5 docs.

[2021-10-18 22:38] ysstudio22 commented on #29119
@LorenzHenk I didn't mean to take it from you.  It's your idea. 👍🏻

[2021-10-18 23:28] nmchaves commented on #27686
I think @sandroweb is right. This is different from https://github.com/mui-org/material-ui/issues/21661.

Sandro's point is that the `Autocomplete` component isn't consistent with the `Select` component right now. The `Select` component locks the body scroll, while the `Autocomplete` component does not.

In other words, you can scroll up and down the page even when an `Autocomplete`'s listbox is o

[2021-10-19 01:42] dim0147 opened #29145 "Old docs for https://material-ui.com"
Hi, I'm using the old material-ui.com and can't find the docs anymore and don't want to upgrade into MUI, but when I go to material-ui.com it always redirects to mui.com, those docs, icons or demos are completely not suitable for my current version, is there any docs for the old version?

[2021-10-19 01:44] dim0147 commented on #29145
https://v4.mui.com/

[2021-10-19 02:15] siriwatknp commented on #29142
@jrobinson041 Thanks for reporting the issue. Can you provide the link to the demos you mentioned? The reason is that other people will be clear on what you mentioned.

[2021-10-19 02:33] siriwatknp commented on #29065
As of v5, will need to fix the docs. (thanks for pointing that out!)

I'll let @danilo-leal decide if you want to push this to v6 milestone or not.

[2021-10-19 04:18] siriwatknp commented on #17226
@Manasamahesh Can you provide an example of UI (can be images) that children are not Button?

[2021-10-19 06:03] nraskoti opened #29147 "Popper with disablePortal, parent having transform and position absolute not placing properly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
<img width="369" alt="image" src="https://user-images.githubusercontent.com/17501068/137852384-854e135d-42d1-40a5-9253-3da86023bba0.png">

## Expected Behavior 🤔
<img width="318" alt="

[2021-10-19 06:44] ZeeshanTamboli commented on #28998
Fixed by PR #28652. Somewhat similar issue is #27668.

[CodeSandbox](https://codesandbox.io/s/loadingbutton-demo-forked-uign8?file=/src/App.js)

Fix will be available in the next release.

[2021-10-19 06:44] #28998 closed

[2021-10-19 08:53] bertom opened #29151 "MuiTextField (v5) not overridden by custom theme when imported from separate package."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

We have an app with a custom theme and a `Themeprovider`. Next to that we have a separate package containing components based on MUI components. (All v5)

When we import the wrapped `

[2021-10-19 09:05] RemyMachado opened #29152 "CSS Modules - V4 -> V5"
I'm trying to migrate my app from V4 to V5. I'm using CSS modules. The documentation explains how to use SC or Emotion, but nothing about CSS modules. My theme doesn't seem to work anymore. It looks like it's constantly overridden by emotion or something.

![image](https://user-images.githubusercontent.com/30229752/137878623-2357225a-2d7b-47bc-a6c2-e46d179b02b6.png)

I have no clue about where it'

[2021-10-19 09:54] MonstraG commented on #27512
For me, using yarn, this doesn't fix the issue right now.

[2021-10-19 10:47] mnajdova commented on #29126
This diff should fix it:
[code]

We should depend on one way for getting the theme, this looks like a one-off pattern for setting the `theme` via props, I couldn't find any other usage of this in the material package. We should remove it and double check that everything works as before. @hbjORbj would you like to create a PR and validate this?

[2021-10-19 11:10] PabloLION opened #29158 "[Tabs] Tab switch will cause render on styled element"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a `Tab` in `Tabs` switches, an irrelevant `styled('div')` and all its subcomponents are re-rendered.

## Expected Behavior 🤔

When a `Tab` in `Tabs` switches, only re-render the

[2021-10-19 11:15] wolf-math opened #29159 "[Autocomplete] `onChange` not fired for same item consecutively"
`onChange` is not fired when selecting the same item consecutively. A differnt item (or clear) must be selected first.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Curretnly, when selecting the same element consecutively `onCha

[2021-10-19 11:32] mnajdova commented on #29151
It looks like the same issue as in https://github.com/mui-org/material-ui/issues/29126, which is related to the `InputBase` component. Did you face the issue with other components too?

[2021-10-19 11:55] rajzik opened #29160 "[system] Styled function break `component` prop"
Seems like `component` prop isn't correctly propagated when styled is used.

![image](https://user-images.githubusercontent.com/10364836/137903089-c09a3927-b97c-4dad-99e2-f33ca8942927.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behav

[2021-10-19 12:00] bwaldvogel opened #29161 "Styled component causes a TypeScript error when using the `component` prop"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using a styled component for a component that takes the `component` prop, such as `Typography` or `TableContainer`, the TypeScript compiler reports the error: **`Property 'compon

[2021-10-19 12:02] bwaldvogel commented on #29160
Funny, I reported the very same issue at basically the very same time ;)

https://github.com/mui-org/material-ui/issues/29161

[2021-10-19 12:10] Unit2795 commented on #29081
Also having this issue, also run into buttons, accordions, and switches losing styles between page navigation.

Will have to stay on v4 for now.

[2021-10-19 12:11] rajzik commented on #29160
@bwaldvogel should I close my issue then? So we don't have duplicate?

[2021-10-19 12:12] bwaldvogel commented on #29161
Closing as duplicate of https://github.com/mui-org/material-ui/issues/29160

[2021-10-19 12:34] MariaSolOs commented on #29121
Thank you @mnajdova for the clarification! Unfortunately I’m also working with Next.js, so I guess that I will encounter the same issue…

[2021-10-19 12:43] mnajdova commented on #29015
It was related to https://github.com/mnajdova/material-ui/blob/d1df2a011600960ebbd8f4f1414999e3a3b9f77f/packages/material-ui/src/CssBaseline/CssBaseline.d.ts#L14. I think that I may heave just moved the deprecation on the wrong place at that time. We should remove it indeed.

[2021-10-19 12:43] andremantaswow commented on #14073
fyi the demo at https://mui.com/components/tables/#collapsible-table still shows duplicate borders

[2021-10-19 12:50] hoopyfroody opened #29163 "link-underline-hover codemod assumes preset-safe has not run yet"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

In the migration guide, the link-underline-hover codemod is run after the preset-safe codemod collection. It however assumes the old package names and because they have all been rewritten to @mui at this po

[2021-10-19 13:30] RemyMachado commented on #29152
Yes, I checked these sections.

I have been migrating my theme line by line following the v4->v5 guide and it seems to work now.

I was biased thinking because of the emotion dependency, but the problem was elsewhere. Probably the new `component` prop and its `styleOverrides`.

It would be nice to state in the documentation that even opting out for the css modules that emotion must be installed an

[2021-10-19 13:30] #29152 closed

[2021-10-19 13:33] yanickrochon opened #29164 "Components completely ignore custom theme"
I have searched for this issue, and it appears that many similar issues are reported. Unfortunately, I can't find a resolution from any currently "resolved" issue for this.

I migrated from v4.12.3 to v5.0.4 using the [guidelines](https://mui.com/guides/migration-v4/) and, after a few tweaks (like updating `@date-io/date-fns`), the app finally started with no errors.

But the theme was now the def

[2021-10-19 13:39] siriwatknp commented on #29126
Should we need to consider ThemeProvider from `@emotion/react`?

[2021-10-19 13:59] amen-souissi opened #29166 "[Popper] popper is blinking"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hello,

Related to : #16905

We still have the same problem with the DatePicker Popper (it's a Popper problem).

## Expected Behavior 🤔

Popper does not blink

## Steps to Reproduce 🕹

[2021-10-19 15:10] #29119 closed, assigned to nobody

[2021-10-19 16:42] yuanwei0525 opened #29169 "unnecessary to always have tabindex=0 on <button /> in html"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Following code
`<Button variant="contained">Contained</Button>`
renders
![image](https://user-images.githubusercontent.com/16761205/137954146-48970046-1654-4fc6-bc27-f28779bc8ec2.png)

[2021-10-19 20:30] erickbelfy opened #29173 "How can i use the classes support on MUI 5 since makeStyles will be eventually deprecated?"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I would like to understand how can we have the support for classes object that every component has and stop using makeStyles

## Expected Behavior 🤔

How can i properly use Styled or

[2021-10-19 22:35] danilo-leal commented on #29164
@Isarstyle Hey! Feel free to open a PR with the documentation updates you believe we should do, we'd love to have you contributing if there's an opportunity to improve or anything ended up being misleading :)

[2021-10-19 23:12] garlicPasta commented on #25422
I can confirm that this bug is still in `5.0.0-alpha.43` . Therefore that issue should be reopened

[2021-10-20 00:19] alecmagnet opened #35540 "[Tooltip] [TextField] TextField within custom Tooltip loses focus on change"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hey, gang. I'm a brand-new bootcamp grad, so please forgive me if I do any of this wrong.
I've got a custom Tooltip around one TextField in a form. I'm using the code right out of the docs for a [Variable width Tooltip](https://mui.com/components/tooltips/#

[2021-10-20 02:22] #35540 closed

[2021-10-20 02:58] siriwatknp commented on #29065
@Samyc2002 Please take a look at `MenuItem.js`

[code]

@danilo-leal in `ListItem`, dense reduce padding top, bottom to `4px`.

[code]

[2021-10-20 03:54] #29050 closed

[2021-10-20 05:46] onuralpbicer commented on #29173
You can do something like this
[code]

As a general rule `.Mui<componentname>-<classesname>` though it's sometimes a bit finicky, especially with something like button where it uses ButtonBase etc internally

[2021-10-20 05:52] jatinsandilya commented on #29065
@Samyc2002 Have you figured out a fix yet? I'm from @brookssolveig's team and I'd like to dig into this since this is related to the work we're doing. If you're already there then no issues 👍🏼

[2021-10-20 06:06] greenHermes commented on #18351
Ya this is still a problem. the docs have this but it also doesnt work
<Box sx={{ width: '100%' }}>
      <LinearProgressWithLabel value={progress} />
    </Box>

[2021-10-20 06:26] Pablion commented on #28806
I want to ask, if its not about `framer`, in the file `Box.d.ts`, I see
[code]

and the ` * - [Box API](https://mui.com/api/box/)` is a 404.

Should I create a new issue?

[2021-10-20 06:30] lunatupini opened #29175 "Breakpoints order on grid direction shouldn't affect the behaviour"
Breakpoints order on `<Grid>` direction props are affecting behaviour. IMHO that's not the intended behaviour.

E.g

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
This is my current component:

[code]

Although it's defined as row

[2021-10-20 06:54] vivere-dally opened #29176 "Box from @mui/material conflicts with Box from @react-three/drei"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If I add `@react-three/drei` package as a dependency, then all my components that use `Box` from `@mui/material` start producing the following error:

## Expected Behavior 🤔

There sh

[2021-10-20 06:54] BaiShaojie123123 commented on #28668
I also want to customize a Treeitem, it will be more beautiful and friendly interaction. But ContentProps limits me, I don't know how to achieve the goal

[2021-10-20 07:20] mnajdova commented on #29121
Would you like to contribute a PR for this :)? I can help, it could probably just show the code and link to the corresponding pages of emotin/styled-components.

[2021-10-20 07:28] mnajdova commented on #27512
@MonstraG we haven't tested with yarn 2 yet. Could you confirm that it works with 1?

[2021-10-20 07:34] mbrevda commented on #29159
"already selected" is true from the point of view of the component's internal state. From what the user sees, it seems like nothing is currently selected, and hence it _feels_ like something is not working. Likewise, `onChange` here is reflecting what the component sees, not what the user sees.

Perhaps a prop (as mentioned above) to allow consecutive selects would make sense?

[2021-10-20 08:34] mnajdova commented on #29081
@jamintz what exactly is broken on the CodeSandbox? This is what I see:
<img src="https://user-images.githubusercontent.com/4512430/138058019-df18992e-21f6-45c8-9801-84e61d7eb077.png" width="200px" />

[2021-10-20 08:51] orenmizr opened #29178 "[Grid] Typings only support 12 number of columns 1 | 2 .. | 12 and restricts extending the column number"
version: mui 5.x
os: windows
browser: all

the library gives you a way to specify the number of grid columns. the typescript compiler won't:

[code]

this will not allow you to set the column option

[code]

i am bundling with vite + eslint + prettier.

did a demo on codesandbox but it worked.. for some reason the TSC does not care that i write 16... even if it is not a grid size specified 🤷‍♀️

h

[2021-10-20 08:51] moshfiqrony opened #29179 "makeStyles auto remove styles after build"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I have a input field that loads at first perfect. When I type anything in the box it automatically remove the styles that was written using makeStyles

## Expected Behavior 🤔
It should

[2021-10-20 09:22] Andarist commented on #28911
Ye, I know 😛 just showcasing how you can end up with this "unwanted" situation with vanilla CSS too (so it's not specific to Emotion)

[2021-10-20 09:36] mnajdova commented on #28136
I said is a problem of emotion, not `styled-components`. Can you replicate it with `@emotion/styled`? BTW do you use `@mui/styled-engine` or `@mui/styled-engine-sc`?

[2021-10-20 09:43] mnajdova commented on #27139
@oliveirag thanks for the interest and sorry for the late response. I would go with Option 3 :) Feel free to grab it if you are still interested.

[2021-10-20 09:48] mnajdova commented on #28679
@nickchauhan the solution would be to use the new `componentsProps` API

[code]

I am closing the issue.

[2021-10-20 09:48] iamchathu commented on #28556
@hbjORbj

Now the text input is not working. You can not type in the field.

[2021-10-20 09:54] Pablion commented on #29158
Thanks, mnajdova. It is so obvious but maybe I was confused that moment. This issue shall be closed.

[2021-10-20 09:54] #29158 closed, assigned to nobody

[2021-10-20 10:04] mnajdova commented on #16866
@milenazuccarelli sure go ahead. :)

[2021-10-20 10:07] orenmizr commented on #29178
@mnajdova added the relevant code.

[2021-10-20 10:45] maciekmp opened #29181 "Container component overwrites his own styles and behave incorrectly on XL viewports"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When we use Container component (like here: https://codesandbox.io/s/vcdf3?file=/demo.js) and we open preview in new window (https://vcdf3.csb.app/) with a viewport which have width g

[2021-10-20 11:09] mbrevda commented on #29159
For comparison, here is a workaround implemented in userland. Notice how much extra boilerplate is needed here: https://codesandbox.io/s/combobox-material-demo-forked-x3yhm?file=/demo.js

[2021-10-20 11:17] mnajdova commented on #29178
@orenmizr would you like to create a PR for the changes?

[2021-10-20 11:39] mbrookes opened #29183 "[Box] Link to non-existent API page in types file"
I want to ask, if its not about `framer`, in the file `Box.d.ts`, I see
[code]

and the ` * - [Box API](https://mui.com/api/box/)` is a 404.

_Originally posted by @Pablion in https://github.com/mui-org/material-ui/issues/28806#issuecomment-947367126_

[2021-10-20 12:10] Pablion commented on #29183
Yes, thanks. I would hide that post.

[2021-10-20 12:28] NJDave71 opened #29184 "[Tooltip] location"
When the zoom is set to 1 the Tooltip appears in the proper location.  However if you change the css  zoom: ,8  the tooltip  doesn't appear near the element.   Any Suggestions?

[2021-10-20 12:28] NJDave71 opened #29185 "tooltip postion"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @mui/envinfo`</summary>

[code]
</details>

[2021-10-20 15:47] #29173 closed, assigned to nobody

[2021-10-20 17:09] gabriel-animas opened #29190 "Date Picker in MUI ignores format when cleared by keyboard"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When editing a date in a datetime picker and when clearing out the date by hitting backspace, the format is suddenly ignored and I am able to type anything. (e.g. asdf2134qwerty inste

[2021-10-20 18:55] crshumate commented on #24109
Why is use of `<StylesProvider injectFirst>` not implemented in the [NextJS MUI example docs](https://github.com/mui-org/material-ui/tree/v5.0.4/examples/nextjs)?
Starting a new app and wanted do things the "right" way insteadd of using deprecated JSS. However while using v5 with emotion we had to come here to learn about `<StylesProvider>` to avoid littering our codebase with `!important`

Once w

[2021-10-20 20:31] gavmor opened #29191 "Property 'component' does not exist on type... Grid?"
When emulating [this line of the provided template](https://github.com/mui-org/material-ui/blob/0ff9cb54a9069be9514a520510576cd281ff8faa/docs/src/pages/getting-started/templates/sign-in-side/SignInSide.tsx#L60), TypeScript complains:

[code]

According to [the "with Typescript" composition coveat,](https://mui.com/guides/composition/#with-typescript):

I hope this helps.

[2021-10-20 21:01] mbrookes commented on #29183
Most components _do_ have an API page,  but box has it hardcoded in the markdown for some reason.

[2021-10-20 21:12] paullaros commented on #24109
Tried my best to isolate the CSS injection order issue. You can re-create the issue by clicking the "Go to the about page" link, and hit the refresh icon.

Link: https://codesandbox.io/s/flamboyant-hooks-hdq1b?file=/pages/about.tsx
Based on: https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-styled-components-typescript

/pages/about.tsx
[code]

/pages/_app.tsx
[code]

Before

[2021-10-21 03:56] joacub opened #29193 "ESM - Webpack 5 - Node SM"
IF we select ESM modules output, the builder fails requesting to the library to put type: module or use a mjs extension. the current configuration does not work for esm and have to be required by cjs.

[2021-10-21 04:10] tanay123456789 commented on #28993
Working on it.

[2021-10-21 07:05] bordeo commented on #29121
@mnajdova I'm going to make my comments more clear.
### Summary:

- component as selector **works** on client-side application `mui@v5` + `@emotion/babel-plugin` + `importMap` config.
- component as selector **doesn't works** throwing #29078 on  server-side application `next.js` + `mui@v5` + `@emotion/server` + `@emotion/babel-plugin` + `importMap` config.

I'm preparing a codesandbox for "client-

[2021-10-21 07:26] abhinav-22-tech commented on #29190
Can I take that issue?

[2021-10-21 07:33] Joplinj opened #29197 "Slide component no slide when mountOnEnter"
Hello everybody,

I got a Slide component with children with absolute position inside.

When i don't set "mountOnEnter" and "unmountOnExit", this work fine.

But once i set those parameters, the entering slide not sliding, simply appearing.

`      <Slide
        direction="right"
        in={isOpen}
        mountOnEnter
        unmountOnExit>
          {children}
      </Slide>
`
I guess it's cau

[2021-10-21 08:14] bertom commented on #29151
It is not the same issue, we are using `ThemeProvider` from MUI.
The issue is that some parts of the theme overrides are no applied to components that are imported from another library.

I will provide a sandbox soon

[2021-10-21 08:38] bordeo commented on #29078
Here an example on `next.js` with `@storybook/theming` and `importMap` config. It works as expected
https://codesandbox.io/s/next-storybook-theming-emotion-c3yvc

[2021-10-21 08:41] hbjORbj commented on #28556
@iamchathu I may have forgot to add `onInputChange` prop. This is the fix: `onInputChange={(e, v) => setInputValue(v)}`.

Code sandbox: https://codesandbox.io/s/rhf-mui-autosuggest-forked-g7osd?file=/src/App.tsx

[2021-10-21 08:46] simplenotezy commented on #28687
@eps1lon In my case, I use a simple Create React App without SSR

[2021-10-21 08:54] tytom2003 opened #29199 "my program show error"Module not found: Can't resolve '@mui/icons-material/PhotoCamera'"."
i follow the website to learn material-ui.
[https://mui.com/zh/components/buttons/](https://mui.com/zh/components/buttons/)

when my program use PhotoCamera icon. it will show 'Module not found: Can't resolve '@mui/icons-material/PhotoCamera'.
i tried the command "yarn add @mui/material @emotion/react @emotion/styled" to install material-ui. But it still show the error.
How to solve the problem.

[2021-10-21 09:06] tytom2003 commented on #29199
https://newbedev.com/module-not-found-can-t-resolve-material-ui-i-code-example
Example 1: Module not found: Can't resolve '@material-ui/icons/Menu'
You need to install Icons
Yarn add @material-ui/icons
npm install @material-ui/icons

Example 2: Module not found: Can't resolve '@material-ui/core/Button'
// Install the module usiong the command line
npm install @material-ui/core

 i follow the websi

[2021-10-21 09:39] SunPj opened #29202 "Child drawer is closed on closing its parent drawer"
- [x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a menu in a drawer let's name it D1. On clicking on a menu item the second drawer D2 is opened and a parent D1 is closed. But closing parent drawer D1 triggers closing child o

[2021-10-21 10:21] hbjORbj commented on #27492
@AsemK @TheUnlocked Thanks for the report. This is being addressed in this PR: #29198

You can check out this demo: https://codesandbox.io/s/basictabs-material-demo-forked-dwslp?file=/demo.js

[2021-10-21 11:02] aladdin-add opened #29203 "@mui/envinfo homepage link is broken"
![image](https://user-images.githubusercontent.com/13050025/138264673-066bb8ff-8034-4b9e-a94a-2c6ee71171cb.png)

![image](https://user-images.githubusercontent.com/13050025/138264754-c063c0a5-097a-4736-99bb-a679d82ba7ad.png)

[2021-10-21 12:32] siriwatknp commented on #29181
Yep, you have to specify `<Container fixed maxWidth="xl">`. I am closing this issue.

[2021-10-21 12:32] #29181 closed

[2021-10-21 12:39] FelipeBrenner opened #29205 "@mui/icons-material - Can't resolve '.utils/createSvgIcon'"
Upgrading @material-ui v4 to @mui v5

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Upgrading @material-ui v4 to @mui v5, I have this error, there are already issues with correction, but the correction is pointing out v4 versions

[2021-10-21 12:41] siriwatknp commented on #29087
duplicate with #24282

[2021-10-21 13:24] Pablion commented on #28899
After some digging on [Stack Overflow](https://stackoverflow.com/questions/69488393/button-in-buttongroup-href-property-changes-right-border), I see what is causing this problem, and made a new [CodeSandbox](https://codesandbox.io/s/mui-28645-forked-6ibrg?file=/src/MUI28645.tsx).

Reason for this: The root element (wrapping tag) will restart the CSS selector `:not(:last-of-type)`. More details in

[2021-10-21 14:06] sbitenc opened #29206 "[FormControl] Required bool does not render correctly"
With the required being set for Textfield or Formcontroll, the rendering is different.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Here's an example of FormControll
![image](https://user-images.githubusercontent.com/88312868/1

[2021-10-21 15:13] #27167 closed

[2021-10-21 15:50] lougroshek opened #29207 "MUI 5 `styled()` pass props along with theme object"
Based on [MUI's documentation of the `styled()` utility](https://mui.com/system/styled/#custom-components), the theme is provided for styling directly attached to the component, but props are supposed to be handled only within the `overridesResolver` option. If this is used for large applications, it means that any theming based on conditional logic has to be lifted up into the theme. Potential di

[2021-10-21 18:19] iluvmemes opened #29209 "[Tabs] Invalid value warning triggered when using React.lazy"
v5.0.4

Much like the description in [#8489](https://github.com/mui-org/material-ui/issues/8489), when using dynamic data to generate tabs and their contents, I receive the error:

              Tab with this `value` ("0") is not part of the document layout.
              Make sure the tab item is present in the document or that it's not
              `display: none`.

However, this only occurs on

[2021-10-21 18:35] AndyW22 opened #29210 "NextJS Link tag causes styling bugs with styled components"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

With a client side transition using the nextjs Link component, the styles in various components have issues such as the transition css property not being applied and border-radius.

[2021-10-21 19:01] markalfred opened #29211 "[ListItemButton] `component` and `href` props invalid after wrapping with `styled`"
`ListItemButton` can take the props `component` and `href`, but if it's wrapped in `styled`, these props are flagged as invalid.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

In the above example,

[2021-10-21 21:13] SamuelT-Beslogic opened #29212 "[Doc] Add import Option 2 in the Material Icons page"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

https://mui.com/components/material-icons/
Right now the following page allows you to 1-click copy the import. Which is very useful to search for an icon and import it immediately. However it only offers Option 1, which is not our prefer way

[2021-10-21 22:34] mbrookes commented on #29183
Checking with @mnajdova. It might be like this for a reason.

[2021-10-21 23:32] Samuel-Beslogic commented on #28551
I was having the same issue. Please let's remove it from component style type definition to reduce confusion

[2021-10-22 01:46] all12jus commented on #29205
I'm also having this issue on a fresh install.
[BuilderWebsite 2.zip](https://github.com/mui-org/material-ui/files/7393750/BuilderWebsite.2.zip)

[2021-10-22 03:17] all12jus commented on #29205
@FelipeBrenner Did you create the react app using create react app? If you created it manually could you post your webpack config. I solved mine by changing module/rules for svg to (below). Make sure you remove svg from any of the other tests.

[code]

[2021-10-22 04:28] muswain commented on #28679
the above complained on **sx** not being available on **popper**.

The below works though. could override the tooltip and the arrow as well

`<Tooltip
            title="some title"
            componentsProps={{
              tooltip: {
                sx: {
                  backgroundColor: '#FFFFE6',
                },
              }
            }}
          />`

[2021-10-22 06:32] aprilmintacpineda opened #29215 "[docs] Accordion docs is incorrect in v4"
Go ahead and try to follow it, you can't even import `Accordion` from `@material-ui/core`
https://v4.mui.com/components/accordion/

[2021-10-22 07:10] tytom2003 opened #29216 "My program show "Module not found: Can't resolve '@mui/lab/LoadingButton'" error."
I use loadingButton in my program. But it show error "Module not found: Can't resolve '@mui/lab/LoadingButton'". How to solve the program? i tried "yarn add @material-ui/core@next" commend. But it still show error.

Thank you very much.

[2021-10-22 10:13] royalzzz opened #29217 "TablePagination does not work well in new version"
This is the version of MUI I use.

- "@mui/icons-material": "^5.0.4",
- "@mui/material": "^5.0.4",
- "@mui/x-data-grid": "^5.0.0-beta.4",

The rowsPerPageOptions setting in the component TablePagination doesn't work well. I'm always prompted this error message.👇

_MUI: GridErrorHandler - An unexpected error occurred. Error: Element type is invalid: expected a string (for built-in components) or a

[2021-10-22 11:32] mattixittam opened #29219 "ButtonGroup variant outlined always has primary color borders on hover"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a buttongroup button with variant `outlined` and a different `color` than `primary` set on the individual button is hovered over, the border is `palette.primary.main` instead of

[2021-10-22 13:15] #29163 closed, assigned to siriwatknp

[2021-10-22 13:33] tonai opened #29221 "Can't insert a Grid inside a Stack"
Inserting a `Grid` component direcly inside a `Stack` (that has some spacing) cause a margin issue for the `Grid` container.
[code]

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The negative margin from the `Grid` component is b

[2021-10-22 14:38] Simonpedro opened #29222 "`sx` prop is passed down as an attribute to the underlying DOM element"
`sx` prop is added as an attribute to the underlying DOM element, when using `component` prop, along with a custom component.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`sx` prop is added as an attribute to the underlying DOM

[2021-10-22 15:54] trevorr opened #29224 "ButtonGroup styling breaks when Button components differ in v5"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Buttons have rounded interior corners if the `component` property is changed (e.g. to `"a"` or `{Link}`) on one of the buttons. (It works if all buttons have the same `component` prop

[2021-10-22 16:03] SafaAlfulaij opened #29225 "[AutoComplete] getOptionLabel shouldn't be used as the option's key"
Per docs:

My case requires some options to have the same label, but different IDs.
Example: two friends with the name "Steve Jobs".
For that, I have to override `getOptionLabel` to return meaningful label for the input display, which (in this case above) are the same label "Steve Jobs" for two options.

The issue is here:

https://github.com/mui-org/material-ui/blob/74f61b687a164efce7e3ffa430f681

[2021-10-22 18:48] chwallen opened #29228 "Extend breakpoint functions with a "not" selector"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would love another function for `theme.breakpoints` called `not` (or similar) which simply is a negated `only` media query.

## Examples 🌈

I imagine it as `theme.breakpoints.not("xx")` which would expand into `@media not all/screen and (mi

[2021-10-23 03:18] Skifary opened #29232 "marginBottom not work in Button"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

## Steps to Reproduce 🕹

[CodeSandbox](https://codesandbox.io/s/affectionate-sammet-kvi95?file=/src/App.jsac)

## Context 🔦

## Your Environment 🌎

@mu

[2021-10-23 14:04] Habil99 opened #29236 "Classname did not match on server and client"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/67463980/138559558-d5ce199d-6600-475b-a0c3-95e62f9cd5ba.png)

Error picture above shows that "classname did not match issue" still

[2021-10-23 22:50] ilchenkoArtem opened #29238 "MUI V5: Please wrap your string in the css`` helper which ensures the styles are injected correctly."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When use styled + theme + keyframes I see error

`
It seems you are interpolating a keyframe declaration (fqvbhc) into an untagged string. This was supported in styled-components v3, b

[2021-10-23 23:40] seba-garrido opened #29239 "I can't create tables"
hello I have a problem creating tables and I get the following: Module not found: Can't resolve '@mui/material/Paper'

[2021-10-24 03:02] claudioCMW opened #29265 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/buttons/
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|-------------

[2021-10-24 07:49] #29265 closed, assigned to nobody

[2021-10-24 07:56] #29238 closed, assigned to nobody

[2021-10-24 09:46] zirkelc opened #29266 "[Grid] spacing with full width Items / Layout shift"
The Grid in v5 with spacing=1 adds padding left and top and counters it with a negative margin left and top. However, if the Grid contains only one Item with xs=12 or multiple stacked Items with xs=12, then the left padding and margin should be unnecessary.

- v5 example: https://codesandbox.io/s/mui-grid-spacing-v5-qs72y?file=/src/App.js
-  v4 example: https://codesandbox.io/s/mui-grid-spacing-v4

[2021-10-24 11:47] #29026 closed, assigned to nobody

[2021-10-24 12:21] ageprocpp opened #29269 "Can't set color of AppBar when using with Paper"
I had trouble setting the background-color of an AppBar element and figured out it's because of a Paper element that I was using with the AppBar element. I usually use Google Chrome, but I also see this trouble in Safari.

## Current Behavior

I can't set the color of the AppBar element because the css settings for MuiPaper-root class overrides the color setting of the AppBar element. Background-c

[2021-10-24 14:33] AkshayGadekar opened #29271 "[useMediaQuery] Improve example for use with breakpoints and SSR"
useMediaQuery() is important hook, specially when one wants to pass props conditionally based on breakpoints, which is required lots of times while building responsive web app. But useMediaQuery() does not perform well with nextJS SSR, on client side one can see layout getting fixed after a second. I request material UI team to please give some solution or give us any other way to pass props condi

[2021-10-24 14:39] AkshayGadekar opened #29272 "Hidden component should not have been deprecated"
in v5 Hidden component got deprecated considering its effect can be achieved using sx or useMediaQuery() hook. useMediaQuery() hook is not advisable to use considering SSR and sx prop simply uses CSS, but hidden component used to add or remove component based on breakpoint, it never used CSS display property, because of this it does not used to render component which was to hide. Hidden component

[2021-10-24 20:22] dvargas92495 opened #29273 "Theme's typography margin affects CssBaseline body Margin"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I added a default margin to my Body1 typography:

[code]

I also use the `CssBaseline` component to reset my `body` margin. When I loaded my app, I found that my body had a `margin: 1

[2021-10-24 22:52] YuriGor opened #29274 "Allow array as sx value to have conditional 'sub-classes'"
Instead of declaring inline object it's sometimes useful to declare multiple sub-classes and toggle them depending on props.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`sx` property should accept array as value.
Each element is considered as normal style object and overrides previous

[2021-10-25 00:54] dariyapuri opened #29275 "[ClickAwayListener] not working with safari. But working fine on chrome and firefox."

[2021-10-25 01:56] Abhisheikh-G opened #29276 "FOUC with MUI v5 & Next.js 11 after implementing _document page from example"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
In production, my website flashes unstyled content on page load. Now I had this same problem in development, where I was seeing an error similar to this:
`Prop className did not matc

[2021-10-25 04:25] #29216 closed, assigned to nobody

[2021-10-25 09:26] #29211 closed, assigned to nobody

[2021-10-25 14:23] #29276 closed, assigned to nobody

[2021-10-25 14:52] ketain opened #29287 "[Tabs] Export scroll logic and disable logic"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Via `TabScrollButtonProps={{ onClick: handleScrollButtonClick }}` I am able to override the custom scroll button behaviour, which is nice. At the same time I loose the scroll logic natively pr

[2021-10-25 15:34] dryu opened #29288 "Alert cannot be made square"
Alerts are supposed to inherit all properties from Paper, but if you try to make them square, they ignore that completely. See codesandbox.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Alerts still feature rounded corners.
## E

[2021-10-25 18:05] robcaldecott opened #29291 "TS4023 when extracting types from a styled component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am working on a component library written in TypeScript and as part of the build process am extracting the types. However, I have come across an issue with a particular component th

[2021-10-25 18:36] yanickrochon opened #29292 "Add @mui/lab/locale"
When using localization, the theme can be extended with

[code]
However, components inside `@mui/lab` aren't localized.

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

With `@mui/lab/locale`, extending the theme would decouple de app's responsibility to localize these compo

[2021-10-25 21:52] m4theushw opened #29293 "Prop `theme` became required in styled component after upgrading @types/react to 17.0.32"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I create a styled component that uses values from the theme (via accessing the `theme` provided in the function arguments), TypeScripts claims that the `theme` prop should be pas

[2021-10-26 00:05] JuanJTorres11 opened #29294 "Fade from @mui v5 doesn't forward ref properly and leds to error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I use a Fade component after a Modal to add a transition, when I click a button that activates the Modal, the screen turns white and the console shows the following warnings and error

[2021-10-26 06:55] #29269 closed, assigned to nobody

[2021-10-26 08:04] yadavendra15 opened #29299 "MUI Tabs with WhiteBoard not showing"
Hi All,

I was trying to create a whiteboard inside the tabs, such that they will not re-render on tab change..
So, I've removed the line ```{ value === index && ...... }``` this is the condition which I removed from my code. but my whiteboard is not coming in the other tabs. It's only showing in the first tab, Actually its making its canvas but width and height is zero..

Sandbox link : https://c

[2021-10-26 09:55] barbalex opened #29301 "FormControlLabel: label property seems to be required"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In version 4 I used:
[code]

This blows up in version 5 with this error:

<img width="725" alt="2021-10-26_11h48_26" src="https://user-images.githubusercontent.com/669783/138854324-1e

[2021-10-26 10:16] #29288 closed, assigned to nobody

[2021-10-26 11:04] #29293 closed, assigned to eps1lon

[2021-10-26 11:15] rajzik opened #29304 "Typescript error for styled function after upgrade to latest version"
When styled is imported from @mui/material in latest release I got any as styled function.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Styled is any with latest typescript and @mui/material.
![image](https://user-images.github

[2021-10-26 12:41] #29205 closed, assigned to nobody

[2021-10-26 13:20] doberkofler opened #29307 "Small TypeScript error after upgrading from 5.0.4 to 5.0.5"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After upgrading to the latest 5.0.5 version the following TypeScript code reports an error `src/pages/AboutPage/index.tsx:9:30 - error TS7031: Binding element 'theme' implicitly has a

[2021-10-26 13:31] #29222 closed, assigned to nobody

[2021-10-26 14:49] Yash-GitB opened #29310 "readOnly MobileDatePicker doesn't work in MUI v5"
readOnly has no effect on MobileDatePicker. The mobilepicker opens the date selector on click of the component.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The mobilepicker opens the date selector on click of the component.

#

[2021-10-26 15:03] #29299 closed, assigned to nobody

[2021-10-26 15:17] #29081 closed, assigned to nobody

[2021-10-26 15:43] ilovett opened #29312 "composing theme using previous theme doesn't override palette as expected"
Extending a theme using `createTheme(prevTheme, { palette: { primary: { main: '#ff0000' }}})` doesn't override the entire primary palette as expected, I suspect `light` and `dark` remain blue.  The previous default blue color is still there on hover on a primary contained button.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/materi

[2021-10-26 15:58] arunmmanoharan opened #29313 "Invalid imports in @mui/system/createStyled.d.ts after upgrading to 5.0.5"
After upgrading to 5.0.5, tsc && yarn build fails with the above improper import.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/4927454/138914502-3ea7af14-ddbf-4f81-ab2c-f48681a

[2021-10-26 16:59] joziahg opened #29315 "[Masonry] New flexbox implementation doesn't respect columns prop"
The new flexbox implementation of the Masonry component may render more or less columns than specified with the `columns` prop

- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

New flexbox masonry may render a different number of

[2021-10-26 17:20] sandro768 opened #29316 "No overload matches this call on component property"
I get the TS error when trying to specify a `component` property.
For example: `<Button component={Link}>button</Button>`

Currently, I use @ts-ignore as a solution. Hopefully, we can fix this issue.

[codesandbox](https://codesandbox.io/s/compassionate-butterfly-qfm0g?file=/src/App.tsx)

![image](https://user-images.githubusercontent.com/24352108/138928099-8bf073a6-4c9b-4090-a024-bef4eeceac6f.png

[2021-10-27 02:16] hrgui opened #29319 "createTheme's components styleOverrides also accepts functions, but not supported in typings"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
createTheme's component styleOverrides also accepts `(props) => CSSInterpolation` in addition to `CSSInterpolation`.

## Expected Behavior 🤔
Should createTheme component `styleOverride

[2021-10-27 02:46] minervabot opened #29320 "Props that are invalid HTML attributes are passed to DOM elements by `styled()`"
When using `styled()` to style a regular (non-component) dom element, all props are being forwarded, which deviates from the behavior of emotion styled, which only forwards props that are valid html attributes.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplic

[2021-10-27 03:22] #29082 closed, assigned to nobody

[2021-10-27 06:23] #29078 closed, assigned to nobody

[2021-10-27 06:39] #29319 closed, assigned to nobody

[2021-10-27 08:05] #29313 closed, assigned to nobody

[2021-10-27 08:36] #29304 closed, assigned to nobody

[2021-10-27 08:36] #29307 closed, assigned to nobody

[2021-10-27 08:42] MGMehdi opened #29323 "Default theming no longer work with class component since V5"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Since the migration all my classes component break the theme but not my functional component

## Expected Behavior 🤔

Theme still applies

## Your Environment 🌎

<details>
  <summary>

[2021-10-27 09:42] #29323 closed, assigned to nobody

[2021-10-27 10:36] #29274 closed, assigned to nobody

[2021-10-27 10:45] #29079 closed, assigned to nobody

[2021-10-27 11:14] Mansi1 opened #29330 "Grid with custom breakpoints"
Custom breakpoints on grid does not work
here an example:

https://codesandbox.io/s/custom-breakpoints-elhgv

[2021-10-27 11:45] ivandotv opened #29331 "BottomNavigation and BottomNavigationAction CSS API inconsistencies"
It appears that the CSS classes in the documentation are not correct and have no effect.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

For `BottomNavigation` it [says that the `root class`](https://mui.com/api/bottom-navigation/

[2021-10-27 12:01] rodrigo-a-magalhaes opened #29332 "[docs] Do not repeat language snippet in url in Algolia search"
in the Portuguese version it's breaking the URL

https://mui.com/pt/pt/guides/migration-v4/#heading-handling-breaking-changes

-> PT/PT/

[2021-10-27 13:39] oliviertassinari opened #29333 "Best practice of setting props depending on breakpoints"
### Discussed in https://github.com/mui-org/material-ui/discussions/29318

<div type='discussions-op-text'>

<sup>Originally posted by **mwskwong** October 27, 2021</sup>
For example, I want to display a `Button` and set `fullWidth={true}` while displaying in mobile devices (i.e. `smDown`) and `false` if otherwise. I can think of two ways to implement it.

1. Use `useMediaQuery`. The pros are the

[2021-10-27 13:40] oliviertassinari opened #29334 "selected prop missing on Tab element v5"
### Discussed in https://github.com/mui-org/material-ui/discussions/29306

<div type='discussions-op-text'>

<sup>Originally posted by **TheZoker** October 26, 2021</sup>
In v4 of Material UI, the Tab element had the prop `selected`:
https://github.com/mui-org/material-ui/blob/v4.x/packages/material-ui/src/Tab/Tab.d.ts#L13

In v5, this prop is gone:
https://github.com/mui-org/material-ui/blob/mast

[2021-10-27 13:41] #29301 closed, assigned to nobody

[2021-10-27 14:11] ghost opened #29335 "Pagination icons customisation"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Pagination should have icon customization

## Examples 🌈

Original:
![original](https://user-images.githubusercontent.com/61513036/139081634-13a38d32-3171-41ec-9a75-943ecda89b87.png)

Customized:
![customized](https://user-images.githubuserco

[2021-10-27 15:30] enrique-ramirez opened #29337 "styled() TS definitions busted with recent upgrade from 5.0.4 to 5.0.6"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a bunch of styled components that look like this:

[code]

This is working perfectly fine on 5.0.4. The recent update to @mui/material@5.0.6 broke my build completely by throwi

[2021-10-27 15:41] marr opened #29338 "[TextField] ClassName passed in `inputProps` is added twice to `input` element"
When I set `inputProps={{ className: 'browser-default' }}` on a TextField component, I inspect the DOM and see that the element has two _browser-default_ values in its class list.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

<img width="514" alt="Scr

[2021-10-27 16:02] shmlkv opened #29339 "Save to Pocket Chrome extension breaks the rating component"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1. Install official extension (2 000 000+ users): https://chrome.google.com/webstore/detail/save-to-pocket/niloccemoadcdkdjlin

[2021-10-27 18:54] rtritto opened #29341 "Missing `@mui/system` dependency in `@mui/core` package"
With #28923 Popper was moved from _@mui/material_ to _@mui/core_ ([change](https://github.com/mui-org/material-ui/commit/08458734df7c46ebf29085f9604c581556cb3f42#diff-708290000265ab4d6a1c52f3d6bfcd65b21056e2262f50b707c4ae385a8ae8e7)).
Popper still use *@mui/system* dependency that it was not added in [package.json](https://github.com/mui-org/material-ui/blob/master/packages/mui-core/package.json)

[2021-10-27 19:17] ravipula opened #29342 "[Select] styleOverrides doesn't apply for root slot"
- The issue is present in the latest release.
-  I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
While customizing the components using styleOverrides, The styles applied for the root rule on the select component are not being applied.

## Expected Behavior 🤔
The styles should be applied

[2021-10-27 19:31] ryosua opened #29343 "TableSortLabel active class not being applied when active is set to true"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I set active to true `<TableSortLabel active />`, `MuiTableSortLabel-active` is not applied to the HTML element, so overrides styles are not applied.

## Expected Behavior 🤔

Whe

[2021-10-27 21:29] marianadev opened #29344 "Possibility to have a readOnly Autocomplete"
It would be nice to have a readOnly prop in the Autocomplete component, so it can behave as a readOnly when I am not allowed to edit it (it doesn't mean it should be disabled).

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

There is a readOnly prop that I can pass into the Autocomplete c

[2021-10-27 21:53] NawarA opened #29345 "Adopt Material Design 3 / Material You"
I'm sure you're tracking the pulse of material design standards like me and others. That being said, material ui version 3 is out.

We should track MUI being migrated from Material Design v2 to Material Design version v3.

I'm sure they'll be a few tickets that come out requesting the adoption, so I figured this ticket could act as a stub and catch-all for MUI support for the design language's lat

[2021-10-28 01:19] scottschafer opened #29346 "after upgrading from V1 to V4, our selenium tests are failing with ElementNotInteractableError"
I've upgraded to V4, and now I'm having a Selenium test failure.

This is the code that fails with a ElementNotInteractableError error:
`element("css=.myDialog").native.send_keys(:escape)`

I'm not sure if the appropriate place to post this is here, or in a Selenium forum, but I'm hoping someone will have experience in these matters and can help me find the right element to send the keys to. Again

[2021-10-28 07:26] #29339 closed, assigned to nobody

[2021-10-28 07:30] truongdigital opened #29348 "Have a bug TS when build on server"
- [X] The issue happens when running `yarn build` on the server

## Current Behavior 😯

![Screen Shot 2021-10-28 at 14 23 17](https://user-images.githubusercontent.com/92561174/139207535-48ff0816-6201-466c-a858-d62d9f0f08c4.png)
- This is when running yarn build on the server
- When I run yarn build localhost does not happen issue

## Your Environment 🌎
 - Node v12
 - MUI V5

[2021-10-28 07:31] israelKusayev opened #29349 "MUI: Expected spacing argument to be a number or a string, got [object Object]."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using responsive spacing with grid `container` and `item` I get the following error
`MUI: Expected spacing argument to be a number or a string, got [object Object]. `

if I remov

[2021-10-28 08:04] #29175 closed, assigned to nobody

[2021-10-28 08:54] #28991 closed, assigned to ZeeshanTamboli

[2021-10-28 11:02] jraoult opened #29352 "Lack of deprecation notice for Typography's color prop"
Looking at the TS types definition in V5 and the API doc I can see that the `color` property is not mentioned anymore. I also read the migration guide and ran the codemod when moving from V4 but this is never mentioned or migrated.Reading the actual JS code I notisce that the property is style handled but seems like you are planing to deprecate and incite people to use the `sx` prop instead.

- [x

[2021-10-28 11:18] #29352 closed, assigned to nobody

[2021-10-28 12:10] #29338 closed, assigned to hbjORbj

[2021-10-28 12:29] #29315 closed, assigned to hbjORbj

[2021-10-28 15:02] SBRKH opened #29355 "MUI5: ClassName doesn't apply style"
Hello,

We have upgraded our version of material-ui from V4 to V5 and since then we are having some difficulties with the style.
Since the sx property is new, all our components use classnames.
For some reason, when we apply style via classnames, they don't apply and we end up having to go through the sx property, which wastes a lot of time and from what I've seen, it's not normal.

Below you can

[2021-10-28 18:25] sebastianturbiarz opened #29361 "Problem with scroll on Ios Safari"
There is a problem with any component that relies on scroll locking(popover, modal, etc..)

https://user-images.githubusercontent.com/38399239/139313165-ce224a44-552d-4c34-865b-254915868b8d.mp4

Do you know how to fix that?

[2021-10-28 18:30] #29331 closed, assigned to nobody

[2021-10-28 19:48] joziahg opened #29362 "[Masonry] Initialized with no children results in error"
Initializing the `Masonry` component with no children or an empty array of children results in an error.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When `Masonry` is initialized with no children or an empty of children, the co

[2021-10-28 19:56] tjunnone opened #29363 "jss-to-styled codemod generates nonsense for withStyles"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- The jss-to-styled codemod deletes the styles of 2 out of 3 `withStyles` components in the example
- The first component's style is erroneously assigned to the root element

## Expec

[2021-10-28 20:03] nicbarajas opened #29365 "OutlinedInput receives background on search inputs on iOS"
When viewing an `OutlinedInput` with a `search` input type, it does not override the background color which means the color remains white regardless of the context. I wasn’t sure if this was potentially related to #29151 so I wanted to make sure I filed this separately, as it’s happening out of the box.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://g

[2021-10-28 22:23] #29343 closed, assigned to hbjORbj

[2021-10-29 00:31] #29349 closed, assigned to hbjORbj

[2021-10-29 06:37] AryamnovEugeniy opened #29367 "[DateTimePicker]: Localization with MomentAdapter does not work"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Hello!
First of all, I'd like to thank you for your great work on this library!

## Current Behavior 😯

It seems I found a problem with DateTimePicker with MomentAdapter. I passed to LocalizationProvider Mo

[2021-10-29 07:10] #29361 closed, assigned to nobody

[2021-10-29 07:29] #29330 closed, assigned to nobody

[2021-10-29 07:30] #29355 closed, assigned to nobody

[2021-10-29 09:26] gat-cs opened #29371 "[Menu] Menu containing links"
I am trying to use the `Menu` component to create a dropdown where some of the items are links (e.g. "My profile", "Log out", etc). The documentation (demo and api) does not mention this use case . I have so far found it impossible to achieve the following:

- valid html (no `<a>` or `<div>` directly in a `<ul>`)
- expected behavior for links when using a mouse (hover to see the link target, right

[2021-10-29 11:56] LuminousIT opened #29374 "Minified Error in Production redirecting to 404 page"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The minified console error in production redirects to a [404 page](https://material-ui.com/production-error/?code=15)

## Expected Behavior 🤔

It should link to a page I can view the

[2021-10-29 13:57] #29294 closed, assigned to nobody

[2021-10-29 15:40] OnlyRealNubs opened #29376 "Cannot find variable document (MobileDatePicker) React Native"
Ever since I have installed miu/lab and @emotion I have been getting this error in react

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I get a red error popup in my terminal saying
[code]

## Expected Behavior 🤔

It should not g

[2021-10-29 18:57] wayaway-jtm commented on #29008
Here's my attempt at a CodeSandbox version of my encounter with this issue: [link](https://codesandbox.io/s/hungry-noether-7rxps?file=/src/index.tsx)

I may very well be misunderstanding how TypeScript is supposed to work in this instance but this is the best I've made sense of it.

[2021-10-29 19:22] oualidor opened #29378 "@mui/material conflict when used with material-table >1.59"
### Problem: All @mui/material components are not rendering as expected when use along with material-table in same page.

I spend a day working on this problem and you can start assuming that the problem is a bad compatibility between @mui/material and its dependencies and material -table v >1.59

### This is normal behaviour(when no material table used in page):
![Screenshot from 2021-10-29 20-12

[2021-10-29 19:28] abdelrazek-alaa commented on #29362
@joziahg I'm so sorry I didn't notice that you intend to do a PR. I'm not an English speaker so I didn't get it.
what should I do now?. how could I undo what I've made.
our maintainers please do what is right for this situation, and if @joziahg is still wanna do PR please delete my own PR.
I'm so sorry guys.

[2021-10-29 19:31] simplecommerce commented on #29131
Here is a comment from MeteorJS's CEO about the issue

Hope this can help pinpoint the issue.

[2021-10-29 19:51] abdelrazek-alaa commented on #29362
@joziahg thank you for your kindness.

[2021-10-29 20:06] kkorach opened #29379 "[Grid] grid item doesn't respond to grid container's responsive columns correctly"
The Grid component is documented as supporting responsive columns but it only uses the first breakpoint's value.
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The Grid renders with 4 columns regardless of browser width.

[2021-10-29 22:22] pschlette opened #29381 "Clicking Autocomplete's Input padding or Label doesn't open listbox"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the `Autocomplete` with a `TextField` used to render its input, clicking directly on the input causes the listbox to open. However, if the `Input` has padding, clicking the

[2021-10-30 00:17] burhanyasar commented on #21293
With the new package name it would be:

[code]

[2021-10-30 01:01] jacten commented on #26664
I too am having this issue

[2021-10-30 04:24] tanay123456789 commented on #29342
working on it.

[2021-10-30 07:25] mtr1990 opened #29385 "[DatePicker] The style for Paper not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The style for Paper not working

https://codesandbox.io/s/basicdatepicker-material-demo-forked-07w0l?file=/demo.tsx

In previous versions, I could access it this way. But now it doesn'

[2021-10-30 08:46] Andarist commented on #29320
Thanks for the recognition, but I'm really not that important 😅 Feel free to ping me when in need.

[2021-10-30 09:00] iamkelv opened #29386 "NEW MEMBER"
## Summary 💡

## Motivation 🔦

[2021-10-30 09:18] RoshiniAdapa commented on #8090
Even I am facing with the same issue menu is displaying in the top right can you please help me to fix this.

[2021-10-30 10:45] hbjORbj commented on #29362
@abdelrazek-alaa @joziahg Thank you both :)

[2021-10-30 11:58] boutahlilsoufiane commented on #28844
A second workaround by passing an empty object to the parameter `inputOptions`

[code]

[2021-10-30 13:28] #29386 closed

[2021-10-30 13:29] hbjORbj commented on #29386
I am closing this as there is no content in this issue.

[2021-10-30 14:31] hbjORbj commented on #29381
@pschlette Thanks for the report. First of all, I am afraid I disagree with your statement that clicking the padding doesn't trigger the listbox. You can see the following screen recording, where I intentionally increased the padding and clicked it.

https://user-images.githubusercontent.com/32841130/139536950-e408c333-bd48-480f-8f93-26f8dc39d238.mov

In this case, you clicked the space between th

[2021-10-30 16:47] pschlette commented on #29381
Sorry, I wasn't as clear as I could have been. I wasn't referring to the lowercase-i `input`, but to the MUI `Input` component, which in the case of the doc page is an [`OutlinedInput`](https://mui.com/api/outlined-input/).

Here's a screen recording to show the areas that I assumed would open the listbox on click, but don't. I've set a light gray background color on the `input` tag (via the dev t

[2021-10-30 17:09] oliviertassinari commented on #29342
The behavior looks correct. There are no root slots for the Select component. Maybe one thing that we could do to clear this confusion is:

[code]

And for the question of @ravipula https://codesandbox.io/s/lingering-violet-7rixw

[code]

[2021-10-30 17:56] b3nab commented on #12432
Sorry but why this issue was closed?
Actually the package size is huge and yarn on ci (github actions) have problems downloading it.

![image](https://user-images.githubusercontent.com/3042431/139545263-e30ef162-488b-49fd-b472-d1b25047baee.png)

[2021-10-30 18:09] nmchaves commented on #29381
I completely agree with @pschlette

If the user clicks anywhere inside of the capital-I `Input` (except for the clear button), I think they'd expect the open state to be toggled. But as he explained, the open state currently only gets toggled if the user clicks on the lowercase-i `input` (which doesn't span the entire area).

To add another visual, here is an Autocomplete with a `filled` text fiel

[2021-10-30 18:15] luannoe commented on #24282
@Overkloker I've tried at least 6 different solutions and yours is the only one that works. Thank you so much :D

[2021-10-30 19:09] oliviertassinari commented on #26876
I'm closing as the bug reports are with v4 which we don't support anymore. A new issue with a reproduction on v5 would be interesting.

[2021-10-30 19:09] #26876 closed

[2021-10-30 19:28] oliviertassinari commented on #27139
@aleccaputo this issue is up for grab by the community. Feel free to work on it.

I'l curious why out CI doesn't catch the problem.

[2021-10-30 20:44] JuanJTorres11 commented on #29294
I read the line, but thought that it was a mistake given that the exact same component worked with the previous version, is it an expected behavior with v5 that `React.forwardRef(...)` has to be explicitly added?

[2021-10-30 21:01] hbjORbj commented on #29362
@joziahg Would you still like to create a PR? For testing, please go to `/test/regressions/fixtures/Masonry` and create a file `EmptyMasonry.js` with the following code.

[code]

[2021-10-30 23:41] mohamedelbalshy commented on #25324
i have the same issue wired behavior, sometimes it work and sometimes not.

[2021-10-31 05:22] edazpotato commented on #29086
If I recall correctly, this used to be the default behaviour of `theme.spacing()` in V4, and it only began returning strings with appended px units in V5.

[2021-10-31 06:41] siriwatknp commented on #29294
Yes. `React.forwardRef` is needed in v5.

[2021-10-31 06:51] siriwatknp commented on #29320
Reopen this issue because I think we should find a way to have emotion & styled-components shouldForwardProp default behavior.

[2021-10-31 06:52] siriwatknp commented on #29207
Thanks for your feedback, I have updated my example. I have reopened #29320.

[2021-10-31 10:46] Quado1 opened #29421 "[Question] Global style overrides"
How can I override such class '**.css-1g2sqwz-MuiFormLabel-root-MuiInputLabel-root.Mui-focused**' styles by using the "[Global style overrides](https://mui.com/customization/theme-components/#global-style-overrides)" example?

[code]

I want to change the 'Amount' text color on focused

![msedge_nXFblSESD9](https://user-images.githubusercontent.com/89172246/139586141-00ab434b-2e90-4e9b-aa47-7752a1

[2021-10-31 13:11] israelKusayev opened #29426 "Month and Year picker are effected by typography customization"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Year and month pickers are effected by subtitle1 customization in createTheme -> typography -> subtitle1

![image](https://user-images.githubusercontent.com/42112796/139585031-9e051e3

[2021-10-31 14:46] amaralc commented on #27512
I'm still unsure of how to tackle the issue but it is worth mentioning that the issue is the same, following both, `styled-components` and `emotion` examples.

Exact error message;

[code]

Setps to reproduce:

- (Terminal) Clone any of the available examples of nextjs + mui + typescript, ([emotion](https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-typescript) or [styled-comp

[2021-10-31 15:33] Quado1 commented on #29421
The solution is

[code]

[2021-10-31 15:34] #29421 closed

[2021-10-31 15:36] OPerel commented on #27846
I'm facing this issue also with yarn...
After initially installing with npm, I deleted my `node_modules` and `package-lock.json` and installed everything with yarn.
Still got that can't resolve module error.
Installed `@emotion/react` and `@emotion/styled` and now it's working.
But as mentioned, having both `styled-components` (which I want to use) and `emotion` just defeats the purpose...

Any up

[2021-10-31 15:39] amaralc commented on #27512
After struggling for a day with a combination of issues (Next.js 12 + MUI v5 + TypeScript + makeStyles), I guess there is a permanent solution (at least for those using emotion as engine).

While trying to fix the media query thing, I stumbled upon this [CodeSandbox](https://codesandbox.io/s/wi8be?file=/demo.tsx:177-507), that uses the <StyledEngineProvider> component with `injectFirst` property.

[2021-10-31 16:15] amaralc opened #29428 "Nextjs + Mui V5 emotion example is still showing className mismatch error"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I've followed [this example for nextjs + typescript](https://github.com/mui-org/material-ui/tree/332081eb5e5e107d915e3c70f92e430dc364048f/examples/nextjs-with-typescript); .

The exam

[2021-10-31 16:26] VityaSchel opened #29429 "Autocomplete on android in form: can't issue enter keydown event"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I type text into Autocomplete TextField, normally I would press Enter key to submit into it. On Android, keybord has Next button which prevents me from pressing enter and submitt

[2021-10-31 17:57] zoharith opened #29437 "Select Material UI - adding Ok button with overflow"
Im using with SELECT component of material ui and im trying to add OK button So it will be stuck in the scroll down(using overflow-y).

material ui version - v4
ES6
@material-ui/core/Select
`
<FormControl>

            <Select
                className={classes.select}
                multiple
                displayEmpty
                value={selectedOptions}
                onChange={handleChan

[2021-10-31 18:42] farmstrong8 commented on #29207
@siriwatknp when overriding a component in the same way as overriding a JSX element the type is getting messed cast to never any ideas?

<img width="788" alt="image" src="https://user-images.githubusercontent.com/5731669/139597170-870467f9-d5c2-45b4-94ca-6064f586ddae.png">

[2021-10-31 20:07] panbehkar opened #29439 "[Select] Cannot style when `multiple` is true"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I would like to use styleOverrides  for the MuiSelect only when it has `multiple` prop:

but based on the doc there aren't any CSS classes for it:

https://mui.com/api/select/#css

##

[2021-10-31 20:41] MarksCode opened #29440 "Property 'component' does not exist on type IntrinsicAttributes"
There is a bug when trying to use `component` prop with different mui components such as `Button` and `LoadingButton`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
This error is happening when trying to use `component` prop on s

[2021-10-31 20:59] hbjORbj commented on #29381
@pschlette

This is a personal opinion of yours, and hence it is very easy to be interpreted differently by other developers.

@nmchaves

Same, this is a personal opinion of yours.

Therefore, I'd suggest using `openOnFocus` prop in such case.

Demo: https://codesandbox.io/s/combobox-material-demo-forked-29j01

[2021-10-31 21:00] Mansi1 commented on #26369
If someone needs it feel free https://codesandbox.io/s/custom-breakpoints-elhgv

[2021-10-31 22:32] Macy-ma commented on #27846
I got the same issue as @OPerel, I'm using yarn, I'd like to use `styled-components`, but now it's only working when I installed `@emotion/react` and `@emotion/styled` with `styled-components`, this is not ideal.
![image](https://user-images.githubusercontent.com/85534403/139603323-9da21b60-139e-457b-98c6-d3db2e896191.png)

[2021-10-31 23:26] pailas commented on #16465
Thank you @sebascomeau, you solution for v5 worked for me.

[2021-11-01 02:06] Pablion opened #29441 "[Web][Docs] Search bar hotkey conflict on v5 documentation page"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- After going [mui.com](https://mui.com/) in Chrome92 under Win10 20H2, before `focus` on the page body, using keyboard shortcut `[Ctrl]+[K]` will cause chrome to focus on the address bar (so called `omnibar` by Google).
- Idea: Use another h

[2021-11-01 02:54] siriwatknp commented on #29207
I guess it is the `variant` prop that causes the Card type to behave differently. Internally, Card inherits Paper that contains `variant` prop. Can you try using a different name like that is not `variant`.

If it does not work, please open a new issue with reproduction.

[2021-11-01 03:01] Pablion opened #29442 "[Web][Docs] Search bar result style on v5 documentation page"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- Different height to show more content for search content. More details in chapter #Examples
- Search box of MUI doc page has changed from dropdown of V4 to a pop-up dialogue in V5. We are allowed to put more content in the pop-up.
- The iss

[2021-11-01 03:21] Pablion opened #29443 "[Web][Docs] Search bar content without search string in v5 documentation page"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- Add a "How to search effectively" with more space or always show on top. (Idea from @siriwatknp https://github.com/mui-org/material-ui/issues/28415#issuecomment-925009375)
- (misbehavior?) In the search bar, to trigger the search guide(or d

[2021-11-01 03:29] mbrookes commented on #29443
@Pablion I'm sure you mean well, but your issues are mostly noise. Please be more considerate to maintainers and submit only substantive issues.

[2021-11-01 03:29] siriwatknp commented on #29439
#29384 will allow Select to use `styleOverrides` but I don't see that `MuiSelect-multiple` class name is added, so this is a bug.

[2021-11-01 03:31] siriwatknp commented on #29437
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-11-01 03:40] Pablion opened #29444 "[Web][Docs] Search bar result contetnt on v5 documentation page"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- Allow (maybe hard-bind?) abbreviations in search (like `btn` for `button`, `btn group` etc)
- Progressive search outcomes on user input. (when user search `wordA wordB`, the first result should be the ones from the results from searching on

[2021-11-01 03:40] siriwatknp commented on #29379
I can reproduce it with https://codesandbox.io/s/responsivegrid-material-demo-forked-q9cdi.

@hbjORbj Do you want to take this?

[2021-11-01 03:42] Pablion commented on #29442
Hi @mbrookes, could you explain why is this issue closed?

[2021-11-01 03:43] siriwatknp commented on #29378
Please follow https://github.com/mbrn/material-table/pull/2542

[2021-11-01 03:45] Pablion commented on #29443
Hi mbrookes. I am organizing my notes of theses days and all these notes were in my notes. I don't know how do you split PRs in this repo but for me every issue I made worths an individual PR. Maybe you want me to move them together? Or do you mean its not needed to be changed? I would stop creating more issues if so.

[2021-11-01 03:52] mbrookes commented on #29442
@Pablion If @siriwatknp disagrees, he's free to reopen this issues.

[2021-11-01 03:55] mbrookes commented on #29273
However it introduces crud just to avoid a breaking change, the removal of which would itself be a breaking change.

Let's park this one unless it gets sufficient momentum.

[2021-11-01 03:59] mbrookes commented on #29119
@hbjORbj : https://github.com/mui-org/material-ui/issues/29119#issuecomment-946216451 ?

[2021-11-01 04:05] Pablion opened #29445 "[Web][Docs] Implement search engine in v5 documentation page"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- In chrome, after using stack overflow, an search engine (managed with uri `chrome://settings/searchEngines`) is added to chrome omnibar, so when user types `stack` then with `[tab]` key a search on stack overflow can start directly. (when I

[2021-11-01 04:05] mbrookes commented on #29443
@Pablion I'll leave it to @siriwatknp to determine, but it seemed like issues for issues sake, rather than anything substantive. Perhaps I'm simply misunderstanding what you're proposing.

[2021-11-01 04:09] Pablion commented on #29443
Sure, worries. Maybe I did it in a wrong way.

[2021-11-01 04:33] junjung929 opened #29446 "Unmounting 'Masonry' component throws type error 'Cannot read properties of null (reading 'clientWidth')'"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I implemented one page that contains a responsive masonry component and moved to another page.
Then, I faced this error in the browser console.

[code]

## Expected Behavior 🤔

It sho

[2021-11-01 04:38] junjung929 commented on #29446
Seems it happens because of same reason in #29362
When the component is unmounted, it lost its reference?

[2021-11-01 05:49] zoharith commented on #29437
CodeSandbox for example https://codesandbox.io/s/material-ui-multiple-select-with-select-all-option-forked-ip19v
The problem is that the button is part of the HTML <ul> Tag, So i cannt use overflow-y to stick the button on bottom when we scrolling.

[2021-11-01 06:21] siriwatknp opened #29447 "[system] ClassNameGenerator does not work with predefined classes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

the *classes object in any component does not get updated when ClassNameGenerator is used.

[code]

This impacts some components that import *Classes and use it internally. eg Grid, T

[2021-11-01 06:24] DmitriyKushkulov opened #29448 "Doesn't work theme.breakpoints.down."
Hello. EveryBody.
Thanks for your Material UI.

I have faced the one issue in theme.breakpoints in material UI latest version.

This is my sample code.

import { makeStyles } from '@mui/styles';
const useStyles = makeStyles((theme) => ({
  slickContainer: {
    width: '100%',
    margin: 'auto',
    padding: '0 20px',
    [theme.breakpoints.down('xs')]: {
      padding: 0,
    },
  },
}));

![Scre

[2021-11-01 06:30] siriwatknp commented on #29447
The way to fix this is to expose the getter function so that the result is recalculated when it is called.

[code]

Developers should always use `getGridClasses` to avoid this bug.

[code]

I don't see a better way to fix this issue because all the *Classes objects are generated within the module before ClassNameGenerator can be configured. If this looks good to the team, I think we should encoura

[2021-11-01 07:09] israelKusayev commented on #28632
There is also extra useless margin in the month picker
![image](https://user-images.githubusercontent.com/42112796/139634638-31fb7f3f-4924-4ebd-a8bc-2c6d9dd0f004.png)

[2021-11-01 08:36] hd321kbps opened #29450 "[Web][Docs] Endless page refresh"
Infinite refresh of pages in the Data Grid section
![mui](https://user-images.githubusercontent.com/9886849/139644524-2e833a44-0933-4481-bc8f-3fae60270f0a.gif)

[2021-11-01 09:06] hbjORbj commented on #29119
@mbrookes This was addressed in #29141. Check out https://github.com/mui-org/material-ui/pull/29141#issuecomment-946447684 :)

[2021-11-01 09:09] ggcaponetto commented on #18098
Maybe you want to check out the imperative Snackbar library that I built.
[https://github.com/ggcaponetto/mui-gotit](https://github.com/ggcaponetto/mui-gotit)

[2021-11-01 09:20] mnajdova commented on #29448
You probably haven't wrapped your application in `ThemeProvider`. This is required for `@mui/styles` after v5. See https://mui.com/styles/basics/#using-the-theme-context

[2021-11-01 09:28] mnajdova commented on #29440
Duplicate of https://github.com/mui-org/material-ui/issues/13921

See https://github.com/mui-org/material-ui/issues/13921#issuecomment-484133463 for how to fix it

[2021-11-01 09:28] #29440 closed

[2021-11-01 09:39] mnajdova commented on #29428
@amaralc `@mui/styles` is using JSS as a styling engine. Did you configure JSS for SSR? You can see how this can be done in the examples for v4 - https://github.com/mui-org/material-ui/tree/v4.x/examples/nextjs If you would like to use it with v5, you need to configure SSR for both emotion and JSS.

We do not want to advise developers to use both emotion and JSS in their bundle. If you wish to con

[2021-11-01 09:53] mnajdova commented on #29426
Yes, you can override using the theme. Here is an example - https://codesandbox.io/s/materialuipickers-material-demo-forked-e9i5c?file=/index.tsx

[2021-11-01 09:58] hbjORbj commented on #29381
@pschlette @nmchaves Hi. I discussed further with a team member on this issue, and it was decided that this issue deserves a fix. My suggestion on using `openOnFocus` will work but it is a kind of a hacky way since this prop isn't initially provided for such case but rather for better accessibility. I will work on the fix and let both of you know. 😃

[2021-11-01 10:00] aka-user15 commented on #23306
So I am not using REACT V17

[2021-11-01 10:01] mnajdova commented on #29374
We changed the domain, it is https://mui.com now. So the error would be - https://mui.com/production-error/?code=15

[2021-11-01 10:07] hbjORbj commented on #29379
@siriwatknp @kkorach

This has already been addressed in https://github.com/mui-org/material-ui/pull/29300

Here is a copy of your code sandbox using `@mui/material` package build of this PR: https://codesandbox.io/s/responsivegrid-material-demo-forked-82zcr?file=/demo.tsx

[2021-11-01 10:12] hbjORbj commented on #29379
In fact, even using the build of #29300, the bug is still reproducible in code sandbox provided by @siriwatknp , I will have a look.

[2021-11-01 10:27] rustlestuff opened #29451 "[Grid] Emotion overrides responsive properties (specificity problem?)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Grid item max-width is set to 'none' by `.css-1vpwcmr-MuiGrid-root>.MuiGrid-item`

## Expected Behavior 🤔

Grid item max-width respects media query set by xs, sm, etc. attributes
[cod

[2021-11-01 10:30] hbjORbj commented on #29379
@kkorach Thanks for creating the issue. Just to clarify the problem here, it seems that grid item does not respond to grid container's responsive `columns` correctly. For example, in this [demo](https://codesandbox.io/s/uzb8q?file=/demo.tsx),  both grid container and grid item have the same three breakpoints (xs, sm, md) and hence there is no issue. Yet, in [demo](https://codesandbox.io/s/responsi

[2021-11-01 10:43] hbjORbj commented on #29446
When the component is unmounted, it lost its reference?

Yes, it seems so. I added extra checks to prevent such issue. Check out https://github.com/mui-org/material-ui/pull/29452 :)

[2021-11-01 11:08] oliviertassinari commented on #29447
This looks expected. ES imports are hosted at the top of the file, so

[code]

is executed as

[code]

what developers need to do is the same as in

https://github.com/mui-org/material-ui/blob/3750dfeb0ae1bd4048aabe3d4701294212305ba5/docs/pages/_app.js#L7

[2021-11-01 11:13] oliviertassinari commented on #28550
@smora-gh The class names of the styles are no longer global in v5. You should no need `createGenerateClassName` anymore.

[2021-11-01 11:17] oliviertassinari commented on #29447
Look at #28550, I don't think that we need to fix it, we could keep `unstable_ClassNameGenerator` unstable until we find a really good use cases for it.

[2021-11-01 11:20] sandro768 commented on #29316
Update -> the error only occurs with the `Button` component. You can use [codesandbox](https://codesandbox.io/s/compassionate-butterfly-qfm0g?file=/src/App.tsx) to reproduce

[2021-11-01 11:28] mnajdova commented on #29447
Adding `bootstrap.js` for configuring the prefix makes sense. @siriwatknp maybe we just need to document this?

[2021-11-01 11:35] mnajdova commented on #29451
Thansk frot he report. @hbjORbj is this the same as https://github.com/mui-org/material-ui/issues/29379?

[2021-11-01 11:35] oliviertassinari commented on #23306
I'm locking the issue, problem solved:

- https://unpkg.com/@mui/material@5.0.0/package.json: `react: "^17.0.2",`
- https://unpkg.com/@material-ui/core@4.12.3/package.json: `react: "^16.8.0 || ^17.0.0",`

[2021-11-01 11:42] remyzane commented on #29209
same problem while import use React.lazy, e.g.

const Xyz = React.lazy(()=>import('...')

error:  <Xyz />

fix: <Suspense fallback={null}><Xyz /></Suspense>

[2021-11-01 11:43] hbjORbj commented on #29451
@rustlestuff Hi. To better understand your problem, I created this [codesandbox](https://codesandbox.io/s/responsivegrid-material-demo-forked-j8se0?file=/demo.tsx). There is no problem in this demo, so maybe I am missing something. Can you fork this codesandbox and provide me with one that shows your issue more clearly?

[2021-11-01 11:53] iluvmemes commented on #29209
I've been trying to get a repo together to reproduce the problem per @michaldudak's request with lazy loading (we use that in our app).  @remyzane we're already using suspense in our app and still receive the warnings. ☹️

[2021-11-01 12:14] robphoenix commented on #24282
[This suggestion to use the `modernInlineRenderer` feature](https://github.com/mui-org/material-ui/issues/24282#issuecomment-950180900) didn't work for me unfortunately, however [deleting the alias](https://github.com/mui-org/material-ui/issues/24282#issuecomment-951015101) did. Thanks @Andarist 🙂

[2021-11-01 12:42] siriwatknp commented on #29447
PR created! 👍

[2021-11-01 12:59] #29178 closed

[2021-11-01 13:14] amaralc commented on #29428
Thanks for the reply @mnajdova! I ended up choosing to live without the `makeStyles` API and moving to `styled` API only, with emotion. PR #29434, adds a `styled` component to the example, reflecting that choice, since other developers might be facing the same struggle.

[2021-11-01 13:27] hbjORbj commented on #29379
@kkorach Hey, this was discussed in a team meeting, and there was a suggestion that

instead of having:
```<Grid container columns={{ xs: 4, sm: 8, md: 12 }}>``` and
```<Grid item xs={1}>``` and expecting 4 columns, 8 columns and 12 columns of items, respectively, in `xs`, `sm`, `md`,

you can do the following:
```<Grid container columns={24}>``` and ```<Grid item xs={6} sm={3} md={2}>```.

Demo:

[2021-11-01 13:39] rustlestuff commented on #29451
@hbjORbj Hi there. You are missing direction="column" on `<Grid container spacing={1}>`
If that's the wrong way of going about implementing the Grid, please let me know.

[2021-11-01 14:35] olivierbeaulieu opened #29455 "Adding new component variants does not work as documented for all components"
The v5 documentation details [how to create new variants](https://mui.com/customization/theme-components/#adding-new-component-variants) for components. The example there with Button works great with TS because `@mui/material/Button` exports `ButtonPropsVariantOverrides`.

However, it seems that not all components follow this pattern - namely `@mui/material/Menu` and `@mui/material/Select`. There

[2021-11-01 16:04] #29056 closed

[2021-11-01 16:13] ravipula commented on #29342
@oliviertassinari I could work around to style the input for sure! If there is no root slot for the Select then i think we should update the documentation to reflect this. Thank you!

[2021-11-01 16:14] shiwano opened #29456 "[DatePicker] Allow to change order of month and year in PickersCalendarHeader"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Allow to change the order of year and month in PickersCalendarHeader component for non-Western countries.

IMO: I’d be happy to customize it like this:

[code]

The relevant code is here:
https://github.com/mui-org/material-ui/blob/db8a5f536f

[2021-11-01 17:22] rejetto opened #29457 "false positive for onDoubleClick on Chip"
If I quickly tap with Chrome for Android on 2 different Chip components so that my taps are very close, the onDoubleClick is called on the second Chip.
This happens if they are close horizontally but also vertically.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a

[2021-11-01 17:40] iluvmemes commented on #29209
@remyzane was correct.  It looks as though it happens when the _contents_ of the actual tab is lazy loaded.  @michaldudak here is a repo you can look at.

[https://github.com/iluvmemes/MUI-29209](https://github.com/iluvmemes/MUI-29209)

[2021-11-01 20:05] seba-garrido commented on #29239
I am still waiting for a possible solution, since we have not been able to use the different components correctly :( we do not know if it is a problem with the version of npm or node or something else

[2021-11-01 21:32] kkorach commented on #29379
We're trying to create a constrained version of Grid that matches the responsive design layout and a couple other things (spacing).  Internally our developers will use that instead of the mui Grid.  I don't think the workaround will work because I'm not trying to fix a specific usage.

[2021-11-01 22:26] mbrookes commented on #29443
@Pablion I've reread the issue and the linked comment, and it seems I rushed to judgement, so I'm reopening. Sorry for the confusion.

[2021-11-01 22:54] Pablion commented on #29443
Don't be sorry. I know that there are 500+ open issues and you need to process them faster. Maybe you can reopen issue #29442 as well? Since they are from the same idea of "more content with less height". And I think #29442 has more effect than this one.

[2021-11-01 23:03] Pablion commented on #29445
This is also about the search function although its not about the search bar component on the web. Linking it with #28415.

Also I'm thinking making an PR to solve this issue. So if there's no one doing this right now, maybe @mnajdova can assign this to me?

[2021-11-01 23:29] furkanuyar commented on #20555
Hi @psyycker, as @oliviertassinari stated if you provide a constant `id` to `Autocomplete` like:

[code]
Your snapshot's related parts will be that id each time instead of random like:

[code]

[2021-11-02 00:05] mbrookes commented on #29442
@Pablion I don't quite follow this one, but happy to leave it to @siriwatknp to decide the best action.

[2021-11-02 00:41] South-Paw commented on #29341
ETA?

Have tickets outstanding on this issue & its a relatively straight forward resolution in @mui/core if I'm not mistaken?

[2021-11-02 00:42] jrskerritt commented on #24282
Heads up, @Overkloker's solution no longer works. Seems the `emotion-theming` package was deleted and merged into `@emotion/react`, but simply switching out one for the other caused this problem to return.

Use @Andarist's [solution](https://github.com/mui-org/material-ui/issues/24282#issuecomment-951015101) instead -- it works great

[2021-11-02 01:26] siriwatknp commented on #29442
Thanks for the feedback. I don't have a strong opinion on this but we can keep this open to see if other people have similar thoughts.

[2021-11-02 01:30] siriwatknp commented on #29239
@seba-garrido Can you make your response readable? also please provide the repository that I can reproduce, otherwise, there is nothing I can do here.

Is the CodeSandbox works?

[2021-11-02 02:01] Pablion commented on #29442
I understand, since this is more about UX and there's no "strictly better" in this aspect if everything is designed correctly. I admit that the current style with more spacing would be cleaner although with less content. This is all about balance and equilibrium.

[2021-11-02 02:28] usematics opened #29460 "missing display name building Nextjs example"
If you build the example in https://github.com/mui-org/material-ui/tree/master/examples/nextjs using the ESLint on strict mode it will you get the error  ` Error: Component definition is missing display name  react/display-name`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that th

[2021-11-02 03:51] #29447 closed

[2021-11-02 03:55] siriwatknp commented on #29455
Some component is not possible to extend the variant because the variant is bound to the component's logic. The `Button` variant can be extended because its variants are used in styling only.

We will definitely try to improve this experience in the [second design system](https://github.com/mui-org/material-ui/discussions/29024) and see how we can make it works with `@mui/material`.

[2021-11-02 03:58] siriwatknp commented on #29441
Do you have the same experience on https://tailwindcss.com/?

[2021-11-02 05:03] caocong1 opened #29461 "[docs]after change language, search result link wrong url"
❌ https://mui.com/zh/zh/components/buttons/#main-content
✔️ https://mui.com/zh/components/buttons/#main-content

![](https://user-images.githubusercontent.com/29883462/139789019-92366a79-a910-43d5-8637-95da05882a64.png)

[2021-11-02 05:56] Wimukti commented on #29439
Shall I work on this bug? Or is there anyone else working on this currently?

[2021-11-02 06:02] Wimukti commented on #28993
shall I work on this issue? or is there anyone working on this one currently?

[2021-11-02 06:24] dlanorf commented on #29021
any progress ?

[2021-11-02 06:29] Pablion commented on #29441
@siriwatknp I don't.. And I don't know how do they achieve that. I made a google extension substituting the new tab page and I cannot get focus. In the chrome community it was said that the auto focus on page event is forbidden(maybe only with chrome://newtab).

[2021-11-02 07:06] timurcatakli commented on #28214
@MarksCode I am having exactly the same problem... Did you find a fix?

[2021-11-02 07:19] abhinavjuneja commented on #29027
Were you able to solve this?

[2021-11-02 07:23] #17226 closed

[2021-11-02 08:05] siriwatknp commented on #29439
Thanks, please go ahead. Here is what I think about the fix.

- add `multiple` to `selectClasses.ts`
- in `Select.js`, add `classes.multiple` when multiple is true
- add a test

[2021-11-02 08:16] na-ji commented on #26876
Like I said it's already reproducible on the V5 examples:

[2021-11-02 08:43] mnajdova commented on #29428
We intentionally don't document this, as it is not used in the core components and the `@mui/styles` package is marked as legacy.

I am closing this.

[2021-11-02 08:47] mnajdova commented on #29460
Could you point out on which component it is failing?

[2021-11-02 08:48] mnajdova commented on #29461
Looks like a similar issue as https://github.com/mui-org/material-ui/issues/29332

[2021-11-02 08:49] mnajdova commented on #29332
@michaldudak if you choose Portugal and do a search on algolia, when you open the page you will see the behavior. I think it's related to how we redirect the translation pages. When we have both redirects for the page as well, as in this case, it breaks.

[2021-11-02 09:04] michaldudak commented on #28899
I summarized our discussion in https://github.com/mui-org/material-ui/issues/17226#issuecomment-949425310

[2021-11-02 09:08] Pablion commented on #28899
Yes, @michaldudak, I remember this. I'm also checking if #28645 closes this issue in that PR.

[2021-11-02 09:12] ZeeshanTamboli commented on #28767
Got fixed in #29233. Issue was not linked in the PR.

[2021-11-02 09:12] #28767 closed

[2021-11-02 09:19] michaldudak commented on #29341
The initial idea for the `core` package was not to depend on the system, but it seems we may not be able to avoid it (cc @mnajdova). I'll try to come up with another solution and will get back to you.

[2021-11-02 09:55] aruntj commented on #10076
I know this issue is closed but you can also use the `theme.mixins.toolbar` css to create a div with the height of the app bar which is shown in the mui examples as well

[code]

[2021-11-02 09:57] aruntj commented on #10739
You can use the `theme.mixins.toolbar` css to create a div with the height of the app bar which is shown in mui examples as well

[code]

[2021-11-02 10:12] sjj1991 commented on #28842
I think this issue might be related to SSR. On initial build `yarn build && yarn start` the styles seems to be working fine (even on hard refresh). However, after 60 seconds (set in revalidate) the styles from the SSR pages goes missing, causing the content jump.

[2021-11-02 10:43] michaldudak commented on #29209
This warning is caused by the code added as a fix for #26582.
@oliviertassinari you [suggested](https://github.com/mui-org/material-ui/issues/26582#issuecomment-855299924) to check if the tab width and height are 0. This, unfortunately, captures the case described here: when React.lazy is used, the tab's width and height are 0. I propose to change the condition this way:

[code]

It should cover t

[2021-11-02 11:21] send2alamelu commented on #12206
still reproducible during testing

[code]

[2021-11-02 11:53] mbiggs-gresham opened #29466 "[DatePicker] Add ability to hide view toggle button"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Please provide the ability to remove/hide the button that toggles between the calendar view and textfield/input view.

![image](https://user-images.githubusercontent.com/34435305/139840820-f44aae13-1d91-4223-aa6b-2aeb2b3fb786.png)

## Example

[2021-11-02 12:33] mnajdova commented on #29341
Agree, we should not have it as a dependency. We need to find alternative, maybe accept `isRtl` as a prop in the unstyled version and create a thin wrapper in the `@mui/material` package that would set it based on the theme.

[2021-11-02 12:40] mnajdova commented on #29219
@ZeeshanTamboli if we are now providing the color via context, does the `ButtonGroup` even needs to set the `borderColor`? We can still set the `borederRadius`

[2021-11-02 12:50] mnajdova commented on #29202
To be honest I can’t understand what is the problem. How can the child be mounted if the parent isn’t? You can control the second drawer’s open prop via the first drawer, but it doesn’t mean that it needs to actually be it’s child. You can have them side by side.

[2021-11-02 12:54] mnajdova commented on #28363
cc @DanailH

[2021-11-02 13:02] SunPj commented on #29202
@mnajdova Drawer uses a portal and there is no parent <> child relation in HTML tree. I might be mistaken using this association. The thing is when I open a drawer from another drawer both are hidden and I can't have it working without `keepMounted` prop.

[2021-11-02 13:47] Gr3yShad0w commented on #29046
Because a behaviour of the component (remove a button that clears the input) should not make any impact on the value a componet can receive. The only thing it should change is that the update value now no longer can be null, but the value null should still be accepted

[2021-11-02 14:03] david-ic3 opened #29468 "Date Picker & Cypress testing in a Github action failing"
Good question if this is a bug, but as nobody is answering on SO the [issue](https://stackoverflow.com/questions/69799310/cypress-testing-a-material-ui-datepicker-is-not-working-on-github-actions), I try here.

Our test suite is build in cypress and runs nicely on our desktops. However when we test as a github action the datepicker is in a read only state ( the other components are fine). You can

[2021-11-02 14:34] brunoluizkatz opened #29469 "Input text type number misbehavior"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
- Chrome version:
     - 95.0.4638.54 (Official Build) (64-bit) (ubuntu)
     - 95.0.4638.54 (Official Build) (64-bit) (windows)
     - 94.0.4606.85 (Official Build) (Android 10)
- Fir

[2021-11-02 14:52] usematics commented on #29460
Yes sorry.

./pages/_document.js
62:28  Error: Component definition is missing display name  react/display-name

[code]

[2021-11-02 15:44] ValerianGonnot opened #29470 "Make multi-window rendering possible"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Material-UI injects styles in the DOM on demand during the execution of the application. By "on demand", I mean that only the necessary styles of a component are injected, and that all the styles corresponding to unseen parts or states of a c

[2021-11-02 16:42] lengwe commented on #28571
Think I have solved the problem. The way that I did is to use PaperProps. Before, I used `classes` attribute such as `PaperProps={{classes: {.....}}}` and this will not override the styles. Instead, I used className later and it worked. I have attached the screenshots.
![Screenshot 2021-11-02 at 16 39 45](https://user-images.githubusercontent.com/44134544/139907992-c67941fd-8194-49d0-9580-409646ff

[2021-11-02 16:59] jeremydrichardson commented on #19469
Our issue is that we have a list of tasks on a widget that need to be clickable to take you to the details of the task. This is not a menu but a list of items so semantically should be `<ul><li>`. But as carlo42 states above, this poses issues for accessibility, specifically in how we can test this list with react testing library.

What makes me think this is still a bug is that as soon as we add

[2021-11-02 17:59] MutableLoss commented on #28633
I have been running into the issue where the typography object isn't being applied to styles, but it only happens within Gatsby when using the gatsby-theme-material-ui. This may not be the issue for anyone else, but it's a bit peculiar that only the typography portion of the theme is causing issues. Anyways, thought I would at least mention.

Unfortunately defaultProps applies to all typography co

[2021-11-02 19:08] oliviertassinari commented on #29119
Do we really want to fix this? I can't see the scrollbar on https://mui.com/, and yet, when I try to scroll down the page, I can't it's the hero container that scroll.

[2021-11-02 19:20] LorenzHenk commented on #29119
You're right, after scrolling to the bottom of the hero section I need to stop scrolling for a second or move my cursor a bit and only after that scrolling affects the whole page. Tested with Firefox and Chrome.

Do you have an alternative idea on how this could be handled? It'd still be a shame to not be able to view all the demos :grin:

[2021-11-02 20:22] mpuppala-mn commented on #16977
Yes, This was fixed in the latest version... Thanks for the help @jennajiang777  & @oliviertassinari

[2021-11-02 20:44] sudofix commented on #29207
thanks for this, i had the same problem and this turned out to be why

[2021-11-02 21:37] gregg-cbs commented on #15073
Yeah thats what i noticed, navigating breaks it.

I went back to my old implementation which was working until something happened.
I realised it was an issue with nested html causing an inconsistent closing tag which caused this error.

[2021-11-02 21:44] kieckhafer opened #29476 "MUIButtonBase-root is overriding all styles applied via the `sx` prop"
MUIButtonBase-root is overriding all applied styles.

I (and many others) had [previously experienced a similar issue](https://github.com/mui-org/material-ui/issues/25324#issuecomment-955608495), when I was still using `makeStyles`, and the answer in that thread was basically "Don't use makeStyles".

So I upgraded the app, and no longer use makeStyles anywhere, it's 100% `sx` everywhere, and I'm s

[2021-11-02 21:45] kieckhafer commented on #25324
I converted my entire app to use the `sx` prop, so I'm no longer using `makeStyles`, which we were told would fix this, and I'm still seeing the issue. New thread here if anyone wants to follow along there: https://github.com/mui-org/material-ui/issues/29476

[2021-11-03 00:23] kieckhafer commented on #29476
A second example I just came across... it always seems to be `MuiButtonBase-root`...

I'm trying to hide an icon when my menu is open, as you can see here I have `none` set to try to hide it, but it's being overridden again by `MuiButtonBase-root`'s `inline-flex`:

![image](https://user-images.githubusercontent.com/4482263/139969164-9f8db85f-bf4f-4996-9f73-2ba540f0e7cf.png)

This is the code:

[co

[2021-11-03 02:21] fc commented on #29312
I'm also having issues with theming, rolling back to `@mui/material@5.0.4` fixed it for me.

[2021-11-03 05:50] anikcreative opened #29479 "[Divider] Non-integer values passed to theme.spacing in MuiDivider wrapper result in error when spacing is an array"
### **Summary: Non-integer values are provided to the** `theme.spacing()` **function, when styling the DividerWrapper component. When the default theme spacing has been overridden with an array, these non-integer values are not valid indexes, and result in an error.**
------

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui

[2021-11-03 06:49] shangdev opened #29480 "MUI v5 MobileDateTimePicker shows some wrong lines in Iphone 12"
Device: Iphone 12 128g v15.1
Mui/lab: 5.0.0-alpha.53

Current behavior:
![image](https://user-images.githubusercontent.com/15621520/140019040-be6c14cc-f864-4abe-9120-c0eda1012bde.png)

I'm not sure how those blue border are created? Is there any way to remove them?

[2021-11-03 07:55] mnajdova commented on #29021
This is the default behavior of emotion, for example see - https://codesandbox.io/s/staging-framework-x0nn5?file=/src/Demo.tsx

It propagates props if the `as` prop is a custom component (this is the equivalent of the `component` prop in the Box, otherwise it blocks them if they are not valid HTML attributes. Can you expand on what is the use-case? If you want the property to be propagated to the

[2021-11-03 07:56] mnajdova commented on #28993
@Wimukti feel free to take it :)

[2021-11-03 07:58] jinqiangg opened #29481 "DateRangePicker select Year/Month"
Correct me I miss out anything. While using DateRangePicker on v5, I am unable to do a quick selection to change year / month. Have to manually click on the < or > button. Understand that the range design with the intend of selecting recent dates but I do have use case that requires users to select date from years ago.

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issu

[2021-11-03 08:08] mnajdova commented on #27415
@hrgui yes this is already possible, see https://codesandbox.io/s/createtheme-supports-a-callback-usecase-forked-h9zkc?file=/demo.tsx

[2021-11-03 08:12] acherkashin opened #29482 "Add prop to TreeView component to control focused node"
Thank you for your work, guys! It makes my life much easier! 👍

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would want to add a prop to TreeView to be able to set the currently focused node.  For example, we could have controlled `focusedNodeId` property which will control the curren

[2021-11-03 08:16] mnajdova commented on #29202
Let's take a step back :) This is how it is currently working. What is your expectation?
![drawer](https://user-images.githubusercontent.com/4512430/140027561-ed024665-6ca2-4438-b537-4fb107d2eca5.gif)

[2021-11-03 08:20] SunPj commented on #29202
@mnajdova Thanks. Yes, that's exactly the way I expect it to work. But see what happens when you remove "keepMounted" property. You will see that when you click on "Show second menu", it's not shown.

[2021-11-03 08:40] mnajdova commented on #29482
@acherkashin I would assume the `defaultSelected` should be what you need. Did you try using it?

[2021-11-03 08:56] acherkashin commented on #29482
No, I haven't tried it. However, I don't think it will work for me.

In our case, we select the node with **Enter** key, when I press **Arrow Down** I don't need to select a node.

[2021-11-03 09:04] romokebi commented on #29466
Hi, I have worked on this feature. May I open a PR?

[2021-11-03 09:27] mnajdova commented on #29482
Ah, so you are using the TreeView in controlled mode already?

[2021-11-03 09:28] mnajdova commented on #29481
@jinqiangg if the select is from years ago, isn't it better to use two `DatePicker` components?

[2021-11-03 09:40] acherkashin commented on #29482
@mnajdova That is right.

[2021-11-03 09:43] mnajdova commented on #29480
I can reproduce the same in https://codesandbox.io/s/7e50b?file=/demo.tsx on iOS14.7.1

[2021-11-03 09:56] mnajdova commented on #29479
Agree, if we support this as an input of the `createTheme` the components coming from `@mui/material` should not break. Looks like the `BreadcrumbCollapsed` (internal component) and the `Divider` are the only components using decimal values when passed. We should update the logic to get the value and then calculate the decimal to avoid this error.

@anikcreative would you like to create a PR for t

[2021-11-03 09:56] JaneMax commented on #21572
@yellowspaceboots  @AyemunHossain
What if I have in code
`import { MuiThemeProvider, createMuiTheme } from '@material-ui/core/styles';`
but it doesn't get rid me from this error :(
npm -v
8.1.0
node -v
v16.13.0

[2021-11-03 09:58] mnajdova commented on #29476
Can you share a codesandbox? Which versions are you using? `.MuiButtonBase-root` should not have any styles attached to it in v5.

[2021-11-03 11:01] mnajdova commented on #29470
You need to use emotion's `CacheProvider` for this and specify the `container` where the styles should be injected. See https://github.com/emotion-js/emotion/issues/1229#issuecomment-852919878 (or the CodeSandbox link if you prefer - https://codesandbox.io/s/silly-burnell-c4ncs?file=/src/App.tsx)

Note that MUI v5 is not using `JSS` as a styling solution, but emotion, that is why you need to confi

[2021-11-03 11:12] m0onspell commented on #17001
@UnderTheMoonspell 🤟

[2021-11-03 11:15] #29335 closed, assigned to nobody

[2021-11-03 11:24] mbeltramin commented on #27085
@WilliamKelley, #29335

[2021-11-03 11:25] mnajdova commented on #29482
Ok, I am not sure if it is worth adding it, I would wait to see if this is pain for more developers. Looks like it is not blocking for you at this moment.

[2021-11-03 11:53] acherkashin commented on #29482
Yes, currently we've added a workaround with using nation DOM API.

[2021-11-03 12:02] oliviertassinari commented on #28383
I'm closing as it seems a question. Sebastian highlighted the behavior, they <kbd>Arrow</kbd> works if the element is focused. Clicking a button doesn't focus on Safari. See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#clicking_and_focus

[2021-11-03 12:02] #28383 closed

[2021-11-03 12:09] michaldudak commented on #29209
@iluvmemes, @remyzane, @vicentedr96 would any of you like to work on a PR with the fix I suggested above?

[2021-11-03 12:10] oliviertassinari commented on #29209
As far as I could test the origin, this behavior started between v5.0.0-beta.0 and v5.0.0-rc.0. What did is the release of #27791. I assume that codesandbox triggers a layout change, that triggers the resize observer, that trigger `handleResize` when the DOM notes are unmounted.

[2021-11-03 12:12] oliviertassinari commented on #29209
I was hoping that we could fix the issue by using  https://github.com/facebook/react/pull/17925

[code]

but without a reproduction I can't test it.

Regarding looking at `tab?.style?.display === 'none'`,  if we do this, I personally don't think that it would make sense to keep the warning anymore. A tab can be outside of the DOM layout for many different reasons. We could either remove the warnin

[2021-11-03 12:15] oliviertassinari commented on #29209
Does it means that the indicator is at the wrong position?

[2021-11-03 12:17] richardmtsr opened #29486 "Razzle JS doesnt add Mui styles in it's build"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When running a build of my application using Razzle JS, the styles from Mui don't get included in the static files.
It all loads correctly when running in development / hot-reloading

[2021-11-03 12:37] oliviertassinari commented on #29209
Ok, as far as I can dive into this problem, this is a bug with React & Suspense. I took locally https://github.com/iluvmemes/MUI-29209, I added the [Tabs.js locally](https://codesandbox.io/s/zealous-solomon-s4d8r?file=/src/Tabs.js) and added a breakpoint when the warning triggers. It's when useEffect runs, but React still has a `display: none` applied everywhere:

<img width="1268" alt="Screenshot

[2021-11-03 12:42] oliviertassinari commented on #29209
Ok, looks like it's a known bug with React 17.0.2 @eps1lon was already into it https://github.com/facebook/react/issues/21510. I think that we can close this issue with the "external dependency" label.

[2021-11-03 12:58] eps1lon commented on #29209
Duplicate of https://github.com/mui-org/material-ui/issues/14077

[2021-11-03 13:05] mnajdova commented on #27085
Fixed by https://github.com/mui-org/material-ui/issues/27085

[2021-11-03 13:06] #27085 closed

[2021-11-03 13:08] oliviertassinari commented on #29470
Duplicate of #13625

[2021-11-03 13:09] #29470 closed

[2021-11-03 13:14] mnajdova commented on #29337
@robcaldecott thanks for letting us know. @enrique-ramirez did you manage to create a reproduction of the issue?

[2021-11-03 13:26] mnajdova commented on #29151
From debugging the codesandbox seems like the `theme` that the `OutlinedInput` receives in the component coming from the different package is different, for example, it doesn't have the `components` definition to the custom theme. We had recent fix around this in https://github.com/mui-org/material-ui/pull/29157 Are you using the latest version of `@mui/material` there?

[2021-11-03 14:46] ValerianGonnot commented on #29470
Thank you @mnajdova, it works well

[2021-11-03 15:17] antokhio commented on #9496
Mui 5 way:
[code]
[code]

[2021-11-03 15:57] eGene opened #29489 "[DatePicker][a11y][iOS] VoiceOver in Safari doesn't read date properly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

VoiceOver reads only first or last part of the date in date picker when you navigate to the input field using VO's control+option+right/left buttons. It works fine if you tab into it.

[2021-11-03 16:13] jhsu opened #29490 "when TextField is used as a select, it isn't using error to marked the select element with aria-invalid"
When using the `TextField` as a select with `error={true}`, the field is not found to be invalid. This is because `aria-invalid` isn't set on the labeled field.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

aria-invalid isn't se

[2021-11-03 17:16] soullivaneuh commented on #15777
@oliviertassinari I don't see any typing sample on the current documentation: https://v4.mui.com/guides/typescript/#using-createstyles-to-defeat-type-widening

Also, I still have the similar issue with latest `4.12.3` release.

Here is an example with an override of the `LinearProgress` component:

[code]

Typescript is telling:

[code]

May you re-consider it?

[2021-11-03 17:38] anikcreative commented on #29479
Thank you for the rapid response and for digging into it a bit, @mnajdova!

I'd be happy to take a look at it; I'll try to have a PR ready soon.

[2021-11-03 18:12] ayoubgm commented on #19261
@thidasapankaja  Did you solve this issue ?

[2021-11-03 18:38] smora-gh commented on #28550
@oliviertassinari  we haven't upgraded to styled components. All our components are still using JSS for styling.

@siriwatknp  I did add the `unstable_ClassNameGenerator` import at the root before any other mui imports. But I still see the issue with Grid & ToggleButtonGroup components.

[2021-11-03 19:01] leopardy commented on #17473
Got the answer through stackoverflow. Apparently, the fix is to just do this. <Select MenuProps={{ disablePortal: true }}>

I don't have portal directly imported into my app so I'm scratching my head. https://mui.com/api/portal/#props

[2021-11-03 22:08] kieckhafer commented on #29476
@mnajdova I _think_ I figured out _why_ it's happening, but still have no solution.

This issue seems to only occur on pages where I use [@mui/x-data-grid](https://mui.com/components/data-grid/#mit-version).

The data grid is still on [v4](https://www.npmjs.com/package/@mui/x-data-grid), and it also requires a dependency of `mui 4.12.0` to work. So I'm thinking that on pages with the datagrid, it'

[2021-11-03 22:36] jingxizhang opened #29491 "V5 TreeItem onLabelClick and onIconClick missing"
I was using TreeItem onLableClick and onIconClick APIs in MUI V4 for separating the response on the label body clicking and the customized icon click. However, MUI V5 the APIs are removed. How to work around and regain those clicking controls?

Thanks

[2021-11-03 23:10] consciousnessdev opened #29492 "Adding Component Attribute into Styled Components"
Before, i use styling with styledlike this

const ComponentStyled = styled(Grid)`
    background-color: red;
`

component used as
...
<ComponentStyled>
  {* Content *}
</ComponentStyled>
...

but how if i want to styling from this form

<Grid md={2}>
  {* Content *}
</Grid>

in to styled version with passed 2 from md value?

[2021-11-04 00:31] Izhaki opened #29493 "[docs] Unclear note on styled engines"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

The [current docs](https://github.com/mui-org/material-ui/blob/5912e7bf997c6912f7a8d2b352c884c93c4fe745/docs/src/pages/guides/understand-mui-packages/understand-mui-packages.md) read:

There are a few issue

[2021-11-04 00:50] siriwatknp commented on #28550
Please open another issue with reproduction.

[2021-11-04 01:15] seba-garrido commented on #29239
this is our repository: https://github.com/nicobolton/SoftwareProject_by_NB

If CodeSandbox was tested and works

[2021-11-04 02:34] hulyak opened #29494 "Migration from v4 to v5 - Error: Debug Failure. False expression"
I'm currently upgrading MUI from v4 to v5. I've followed the instructions and updated dependencies, I have changed the imports with @mui/codemod. But, when I try to run the project with `yarn`, I'm getting this error:

[code]

- [ ] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this

[2021-11-04 06:02] ifndefdeadmau5 opened #29497 "[Select] pass label information in `renderValue()`"
`renderValue()` prop provides nice way of customizing how it should look like to be in `Select`.
However, some information is leaking:
e.g)
<MenuItem value="our value here">Label</MenuItem>
Currently there's no way around accessing `Label` text, hence users should create some mapper for displayed value.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repo

[2021-11-04 07:47] prandev01 opened #29498 "<TextField type="number"/> - Can change incremental step as double value? Like '0.1'"
Hello, Hope you are doing well.

I am using <TextField> component of MUI.

[code]

Now, the default incremental value of <TextField> is 1.
I want to change it 0.1.

So my question:

- Can I change the incremental value?
- Or How can I receive the events when the spin (increase/decrease) buttons are clicked?

Kind Regards.

<img width="386" alt="Screen Shot 2021-11-04 at 2 46 40 AM" src="https://us

[2021-11-04 07:52] siriwatknp commented on #29239
Seems like you are mixing v4 `@material-ui/core` with v5 `@mui/icons-material`.

[code]

Please follow the migration guide to upgrade to v5. https://mui.com/guides/migration-v4/#main-content.

I am closing this issue since this is not a bug.

[2021-11-04 07:52] #29239 closed

[2021-11-04 08:09] Nikita-Filonov commented on #19267
Nice solution, this exactly what I needed. Thank you

[2021-11-04 08:27] siriwatknp commented on #29493
@Izhaki Thanks so much for this valuable feedback. The purpose of this doc page is to provide more info about how we structure the packages and the connection between them because we have seen confusion from developers using MUI material v5 (mostly importing the wrong package).

It refers to "install". I think this part is confusing, may be it is better to say "you will need to install if you want

[2021-11-04 08:46] melvyn-oviavo commented on #27533
A lot has been fixed, but here's some more info:
- The label prop on Select is used to calculate the width of the text and with it it's background. You can easily verify this by entering a wider text for the select prop: the border will have a wider gap. This is documented, on the outlined input label prop.
- When `displayEmpty` is set, `shrink` set to true on the InputLabel to prevent it from fal

[2021-11-04 10:38] #25016 closed

[2021-11-04 10:43] reckter commented on #29224
Does this have a reason, or could it "simply" be reverted for a fix?

[2021-11-04 10:56] siriwatknp commented on #29498
Currently, `<TextField type="number"/>` it use a native html `number` input. What you want is not supported at this moment.

Please follow [this issue](https://github.com/mui-org/material-ui/issues/19154) about `NumberInput` instead. I am closing this one.

[2021-11-04 10:56] #29498 closed

[2021-11-04 10:57] soullivaneuh commented on #15777
I actually found a workaround using `Extract`:

[code]

Quite a bit verbose, maybe a simplification can be done here? :thinking:

[2021-11-04 10:58] #29219 closed

[2021-11-04 10:59] siriwatknp commented on #29492
You can directly pass the available props in the host component (Grid) to the styled component.

[code]

I hope this answer your question, feel free to close this issue if that works for you.

[2021-11-04 11:01] siriwatknp commented on #29494
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2021-11-04 11:02] siriwatknp commented on #29491
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-11-04 11:13] siriwatknp commented on #29497
Thanks for the feedback but I don't think the library should provide that because there is afford to find the label related to the value.

I think this work should be on the consumer side, like this:

[code]

cc @mnajdova @michaldudak for other opinions.

[2021-11-04 11:14] siriwatknp commented on #29486
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-11-04 11:15] TodBob opened #29504 "Theming doesnt make sense - its recommended to use deprecated stuff?"
Hello,

At MUI5 web page docs if I look how to use Theming with MUI5 https://mui.com/customization/theming/ . It explains some stuff, nice. But then you look at "You can access the theme variables inside your React components." . The link will send you here https://mui.com/styles/advanced/#accessing-the-theme-in-a-component . But if you scroll up, there is info, that "Note: @mui/styles is the lega

[2021-11-04 11:20] siriwatknp commented on #29504
Thanks for your feedback. The link to deprecated docs should be fixed. I marked this as a bug.

Theming still works in MUI5. (will fix the link as soon as possible)

[2021-11-04 11:27] TomasKomprs commented on #29504
Thank you for the fast response @siriwatknp

Any chance that you have the correct link/page? Or page is correct but some content is wrong?

[2021-11-04 11:39] Izhaki commented on #29493
Hi @siriwatknp thank you so much for the response. The current doc is a very good first iteration; I think the difference between us is that you have written this with deep knowledge of the abstractions and previous issues, whereas myself (like most readers) are first-time readers trying to sense-make.

I'm going to try to explain what I've read as it may give you some inspiration. I believe I got

[2021-11-04 11:47] mnajdova commented on #29385
Using the `sx` prop from your side was the right thing to do, however we skipped the `sx` prop in the pickers component, thinking that it may affect perf and we weren't sure if it will be useful. Seeing this issue, I propose we remove this. For this particular use-case this should fix it:

[code]

Then, you would be able to customize it with - https://codesandbox.io/s/basicdatepicker-material-demo

[2021-11-04 11:53] mnajdova commented on #29376
We do not support React Native. Did you find somewhere reference that we do? Could you maybe link it if that's the case?

[2021-11-04 12:01] mnajdova commented on #27170
I am taking the `Tabs` component

[2021-11-04 12:13] ifndefdeadmau5 commented on #29497
@siriwatknp Thanks for the quick response. I thought this could be pretty handy and could eliminate fair amount of look-up code but I always support what you guys towards to regarding API design :)

[2021-11-04 12:27] michaldudak commented on #29497
Agree with @siriwatknp - this is pretty simple to implement on the application side and if done in the library, it would also impact the developers who don't need it.

[2021-11-04 12:30] SofiaGR opened #29506 "Focus-visible applying with mouse on Slider"
Hello, from what I understand, focus-visible is a class that is added only when the keyboard is used, but that does not seem to be the case for the Slider.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

A box-shadow is being adde

[2021-11-04 12:56] richardmtsr commented on #29486
I have copied my repo files in the following codesandbox (note it doesn't seem to want to run when it does perfectly fine locally):

https://codesandbox.io/s/razzle-material-ui-vfe5r

[2021-11-04 13:03] SuperChuck83 opened #29508 "[Autocomplete] List gets scrolled to the top when new data is received"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When you load data from server by scrolling in autocomplete, then adding this data in the "options" state, the scroll is going to the up of the option pop up

## Expected Behavior 🤔

[2021-11-04 13:04] JochemWarmenhoven commented on #10934
Can this issue be reopened? It is still present

[2021-11-04 13:11] sergioavazquez opened #29509 "Missing emptyLabel feature on datepicker and timepicker"
In `material-ui-pickers` there's a feature that allows you to set a custom label when the value of the picker is null.

Prop name is `emptyLabel` and has the following description: `Message displaying in text field, if null passed`

You can read about it here: https://material-ui-pickers.dev/api/KeyboardDatePicker

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) o

[2021-11-04 13:35] quintstoffers commented on #29131
I don't believe this is a Material UI issue, instead it seems to be caused by (very) frequently updated exported variables in `stylis` in combination with `reify`.

See https://github.com/thysultan/stylis.js/issues/278 and https://github.com/benjamn/reify/issues/277.

[2021-11-04 13:48] mnajdova commented on #28990
For people coming on the issue and want to continue to use the `makeStyles` API, we are considering about adding codemod that would migrate `@mui/styles` to `tss-react`. You can track the discussion here - https://github.com/garronej/tss-react/issues/32 If someone from the community is interested to help out, let us know.

[2021-11-04 15:02] bertom commented on #29151
we are using `@mui/material 5.0.1`

[2021-11-04 18:49] hangryernest opened #29510 "mui/lab/AdapterDayjs with time picker fails to validate like mui/lab/AdapterDateFns and mui/lab/AdapterMoment"
When using dayjs-adapter, with time picker, when a user changes an existing time to something invalid (ie 99:99) the input does not enter an error state. Tested with '@mui/lab/AdapterDateFns" and '@mui/lab/AdapterMoment' and the input goes into error state as expected.

- [X]  The issue is present in the latest release.
- [X] I have searched the issues of this repository and believe that this is n

[2021-11-04 19:32] kkorach opened #29511 "StaticWrapper used by StaticDatePicker is not customizable"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The StaticDatePicker wraps the DatePicker with a StaticWrapper.  The styles that the StaticWrapper creates are not customizable.  The biggest issue is the backgroundColor.  If you add borders and background colors to MuiCalendarPicker-root it

[2021-11-04 19:37] abu-shoev opened #29512 "Mobile - Select(dropdown) is moving away as i scroll"
We're using MUI components for our app and the Select seems to behave odd on the Mobile devices. its moving away from its original place if the user scrolls down.
steps:
1. go to the website that uses MUI component for the Select (ex: https://mui.com/components/selects/)
2. open up the Select
3. scroll down/up
Actual Results: Select is moving away from its original place if the user scrolls down.

[2021-11-04 21:18] ryanfeeley opened #29513 "Use en-dashes, not hyphens, for number ranges on paginaton"
I noticed that a plain vanilla hyphen is used on number ranges for pagination (e.g. 1-100) when it should instead be an en-dash (e.g. 1–100). Small subtle difference that I suppose only dog whistles to the typography snobs of the world—myself included. See wikipedia for reference. https://en.wikipedia.org/wiki/Dash#Ranges_of_values

[2021-11-04 21:22] greglittlefield-wf opened #29514 "[ButtonGroup] Children lacking information about position within the parent"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When wrapping Button children of ButtonGroup in an element, the styling that makes the buttons appear "connected" no longer applies since the buttons are no longer siblings.

The sele

[2021-11-04 21:37] oliviertassinari commented on #29513
For instance here https://mui.com/components/tables/#custom-pagination-actions

[2021-11-04 23:27] SalmonMoses opened #29515 "SpeedDial Actions render on top of each other"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
On hovering speed dial actions are rendered on top of each other (bottom right corner of the screen)
![image](https://user-images.githubusercontent.com/5684686/140433464-294f387d-65b0-

[2021-11-04 23:54] soujvnunes commented on #29492
Yeah @siriwatknp. He can use the [`attrs`](https://styled-components.com/docs/faqs#when-to-use-attrs) function and pass this props directly on the constructor to make it cleaner or every instance to have them:

[code]

[2021-11-05 00:24] tobilen opened #29516 "No SSR stylesheets when using @mui/styled-engine-sc and yarn 2/3 workspaces"
The problem is that server side generated styles do not get attached to the html for the production build.

My stack:
- Yarn 3 with workspaces
- Nextjs
- Material-ui v5 with styled components

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Be

[2021-11-05 03:04] Elfayer commented on #25077
I have this problem. I'd love being able to do:
[code]
My case looks as follow:
[code]

The drawer opens when I click on an item from the list. I am still able to select items when the drawer is open.
You can click in between the list items to close the drawer.
Now, inside the drawer there are forms. I want to be able to lock the closing of the drawer if a form gets dirty. The drawer will masked o

[2021-11-05 04:45] dlanorf commented on #29021
I rely on this custom attribute to find the element in a list, then scroll it into view. This is my use case. Without it I couldn't find the desired element.

[2021-11-05 08:58] RoyChen4212 commented on #29492
Which one is correct to import `styled` from after I configured `@mui/styled-engine` as `@mui/styled-engine-sc` already?

1) import styled from 'styled-components'
2) import { styled } from '@mui/styles'
3) import styled from '@mui/styled-engine`

I'd like to keep `attrs` working like `styled-components`

[2021-11-05 09:08] RoyChen4212 commented on #29492
Also, I guess I'm not able to pass the `theme` to `Styled theme provider` like before, right?

[code]

[2021-11-05 09:14] RoyChen4212 commented on #29493
Guys, so which one is correct to import `styled`?

[code]

[2021-11-05 09:48] RoyChen4212 commented on #29492
`attrs` is not working with the `styled` from `mui V5`.

[code]

[2021-11-05 10:26] povilass commented on #27703
They are using this themself so https://github.com/mui-org/material-ui/blob/a53ce4656cc55b1d03655eba0f1ba2e83611ee35/packages/mui-material/src/Menu/Menu.js#L168

[2021-11-05 11:02] mnajdova commented on #29508
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-11-05 11:07] mnajdova commented on #29511
I see the problem, we need to revisit how the pickers should be customized, there are bunch of issues currently. I propose adding a name and a custom class for it so that it can be targetable. Would you like to work on this?

[2021-11-05 11:11] mnajdova commented on #29512
Duplicate of https://github.com/mui-org/material-ui/issues/24928

[2021-11-05 11:11] #29512 closed

[2021-11-05 11:15] mnajdova commented on #29514
The codesandbox link is not working, can you update it?

[2021-11-05 11:27] mnajdova commented on #29514
@michaldudak this is partially related to the `first-of-type` and `last-of-type` selectors issues. I think we definitely need separate classes fro the first and last child.

[2021-11-05 11:33] mnajdova commented on #29515
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-11-05 11:37] mnajdova commented on #29516
Is this specific to MUI or to `styled-components`? Does it happen after you add MUI and it works without it?

[2021-11-05 11:56] mnajdova commented on #29151
Can you upgrade to `@mui/material` to v5.0.6 so that you have the fix introduced in #29157

[2021-11-05 12:00] mnajdova commented on #29497
Agree, I am closing since instructions on how it can be achieved has been provided.

[2021-11-05 12:05] mnajdova commented on #29476
@kieckhafer you could upgrade to v5 of the `@mui/x-data-grid`, it is in beta currently - https://www.npmjs.com/package/@mui/x-data-grid/v/5.0.0-beta.7

[2021-11-05 12:06] #19463 closed

[2021-11-05 12:28] sebastianfrey opened #29518 "[TreeView] `TreeItem` (v5) can not be made draggable using `react-dnd`"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The v5 version  of the `TreeItem` component can not be made draggable using `react-dnd`.

## Expected Behavior 🤔

It should be possible to make the v5 version of the `TreeItem` compon

[2021-11-05 12:34] flaviendelangle commented on #29476
You can upgrade `@mui/x-data-grid` to the v5 beta if you want, this should solve your problem. The beta is almost over and is as stable as the v4 release if not more.
Otherwise, you can wait for the stable release which should take place next week.

[2021-11-05 12:35] tobilen commented on #29516
it's specific to MUI. In the repro, i've added a component that uses styled components directly, and it renders as expected on dev and prod: https://github.com/tobilen/mui5-sc-workspaces-issue/blob/main/packages/next/src/pages/component.tsx#L21-L24

[2021-11-05 12:53] mnajdova commented on #29516
Alright, I will take a look next week

[2021-11-05 13:32] tobilen commented on #29516
https://github.com/tobilen/mui5-sc-workspaces-issue/tree/emotion pushed a branch with the default styled engine. everything works as expected. Hopefully that helps with debugging 🙏

[2021-11-05 14:36] mnajdova commented on #29345
Thanks for creating the issue. Let's use it as a stub 👌

[2021-11-05 14:55] Brunoestevaochagas commented on #29176
https://codesandbox.io/s/ecstatic-leakey-k0nrj?file=/src/App.tsx

![image](https://user-images.githubusercontent.com/8505105/140530856-b56f8222-b422-47e4-98e9-346764d240a3.png)

[2021-11-05 15:22] oliviertassinari commented on #29518
I'm closing for #21474

[2021-11-05 15:22] #29518 closed

[2021-11-05 15:23] oliviertassinari commented on #29518
@sebastianfrey If you can identify how to fix this with react-dnd, and the fix is lightweight, then we would be happy to review a PR. Now, I suspect that it's not possible, that the integration won't be great, so I have moved the request to the built-in issue feature request.

[2021-11-05 15:40] abhik-99 opened #29520 "Heroku Error on Deployment of App with @mui/lab as dependency."
I am using MUI Lab in my site and when I used `npm i @mui/lab` it inserted

`"@mui/lab": "*"`

as a dependency. This created an error on during Heroku Deployment. The build log for the app has been attached below under Current Behaviour.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believ

[2021-11-05 15:42] abhinav-22-tech commented on #29513
Can I take that issue? I am new to open source. @oliviertassinari Can you please little more guide me?

[2021-11-05 15:54] alex-solovev-investax commented on #29190
Having the same issue. I was trying to upgrade to MUI 5 earlier today, but when I discovered this issue with `DateTimePicker` and couldn't find any resolution – decided to table the update for now. Hope it will be fixed soon.

[2021-11-05 16:04] greglittlefield-wf commented on #29514
@mnajdova Sorry about that, it looks like I didn't save my changes in that sandbox. It should be working now!

[2021-11-05 16:26] kieckhafer commented on #29476
Thanks @mnajdova and @flaviendelangle.

The beta was not yet available when I started the project.

Upgrading to the beta did fix the issue.

[2021-11-05 16:26] #29476 closed

[2021-11-05 17:07] Semigradsky opened #29521 "Add typings for `@mui-material/styles/cssUtils`"
Add typings for `@mui-material/styles/cssUtils`

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
It would be nice to have types for `@mui-material/styles/cssUtils`.

## Examples 🌈
Some functions is useful, for example `toUnitless`:
[code]
`toUnitless` is needed here because `transformOrigin

[2021-11-05 17:11] sebastianfrey commented on #29518
@oliviertassinari Ok, I did further research and this seems quite complex.

First of all, the reported behavior occurs only in `Chromium` based browsers. In Firefox everything works as expected.

When you start dragging in the v5 demo, the `TreeItem` gets immediately re-rendered in the DOM and so the `ref` passed to `react-dnd` has changed. I don't know why this happens, but I guess this has somet

[2021-11-05 17:38] oliviertassinari commented on #25077
To me, not really. I think that we would need a minimal reproduction, so that the next person that looks at the problem, can judge if the solution proposed solve your case.

[2021-11-05 17:41] kkorach commented on #29511
I can take a crack at it.

[2021-11-05 20:46] hamidnawaz28 commented on #28633
import { createTheme,ThemeProvider } from "@mui/material/styles" you might be importing it from  "@mui/styles", in that case you will get these issues. @MutableLoss

[2021-11-05 20:47] hamidnawaz28 commented on #28633
`import { createTheme,ThemeProvider } from "@mui/material/styles"`,
you might be importing it from "@mui/styles", in that case you will get these issues. @MutableLoss

[2021-11-05 21:26] kirill-konshin commented on #24013
I suggest to reopen because this issue emits a ton of errors and with `webpack-dev-server@4` all of these errors are dumped to browser.

I've stumbled upon this issue when I was using Webpack Module Federation.

[2021-11-05 21:29] yordis commented on #24013
@kirill-konshin that was actually my environment as well :D

[2021-11-05 21:38] kirill-konshin commented on #24013
https://github.com/straw-hat-team/react-admin looks like the link is dead, maybe it's worth to put it back, if @oliviertassinari will decide to reopen this ticket.