[2016-04-19 22:21] #2601 closed

[2016-04-19 22:25] tintin1343 commented on #2587
@dcsan @dimasmith @Lopinopulos : Is this still an issue for you guys? If you were not able to resolve this using the above suggestion and need further help on this do let us know.

I am closing this issue for now. Feel free to leave a comment below, if you feel this needs further addressing.

[2016-04-19 22:25] #2587 closed

[2016-04-19 22:31] tintin1343 commented on #3121
Closing this issue for now due to lack of response from the OP. I was able to work on something related to this and in mobiles it would be due to onTouch and onClick being fired together. The solution for double touch ripples should work in that case as pointed above.

[2016-04-19 22:31] #3121 closed

[2016-04-20 01:24] ajsharp commented on #1529
@nathanmarks I'd like to suggest that the DatePicker component be changed to have a `clearable` prop, and if set to true, an "x" will be rendered, similar to the Select component.

[2016-04-20 01:41] nathanmarks commented on #1529
Hey @ajsharp ,

I think that DatePicker could simply be something that you "attach" to a `TextField`, leaving that part of the component to be composable.

[2016-04-20 01:58] Dreculah commented on #4040
Duplicate of #3994

[2016-04-20 02:02] tintin1343 commented on #2902
This is no longer the case. Could not reproduce this in the docs website. Closing this.

If you come across this issue again do leave a comment , we will help you fix it.

[2016-04-20 02:02] #2902 closed

[2016-04-20 02:04] tintin1343 commented on #2840
@alitaheri : Were we able to fix this or is anyone working on this one?

[2016-04-20 02:05] tintin1343 commented on #2847
@fingermark : What are you trying to achieve here? Could you be a bit more elaborate with your use-case?

Were you able to figure this out or fix it?

[2016-04-20 02:08] tintin1343 commented on #2780
@jma7889 : Were you able to solve the problem using the solution/ work-around you suggested?

[2016-04-20 02:14] tintin1343 commented on #2750
Closing this as it does not seem to be a problem with the implementation of Tabs.  Could you present a screen-shot or something which can help us understand the problem better?

Kindly refer to https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md for further guidance with respect to posting an issue.

Closing this issue for now.

[2016-04-20 02:14] #2750 closed

[2016-04-20 02:15] tintin1343 commented on #2844
@stevenmwade : were you able to fix this based on the above suggestion?

@alitaheri : is this a bug or an enhancement to an implementation? Should this be kept open?

[2016-04-20 02:21] tintin1343 commented on #2741
The button is overlapping the errorText. You can use margins in css to position the button.

This is not an issue with material-ui, so I am closing this. Try using CSS to fix this. If you need any further help use can use the gitter channel of material-ui or post the issue on stackoverflow with the material-ui tag.

[2016-04-20 02:21] #2741 closed

[2016-04-20 02:27] tintin1343 commented on #1149
This issue is resolved. Could not reproduce in docs. Closing the issue.

[2016-04-20 02:27] #1149 closed

[2016-04-20 02:31] tintin1343 commented on #297
@0x80 : Were you able to get a solution to this?

I am closing this issue for now as its really old and there has been no response again from your side so I an guessing that you were able to fix it.

If you still feel it issue exists or if its still not clear to you feel free to leave a comment below and we will try and help you.

[2016-04-20 02:31] #297 closed

[2016-04-20 02:33] tintin1343 commented on #295
@mbrookes : Is it still an issue?  Since you investigated something similar need your opinion on this before closing.

[2016-04-20 02:36] tintin1343 commented on #262
@mbrookes @oliviertassinari : Does it still needs to be addressed completely?

[2016-04-20 02:39] tintin1343 commented on #1138
Closing this for lack of response from the OP. If the issue is still not addressed feel free to leave a comment below and we will open the issue up for you.

[2016-04-20 02:39] #1138 closed

[2016-04-20 02:43] tintin1343 commented on #1548
Closing this issue as it looks like a use-case related issue and not MUI based.

@yongxu : If you still have the issue feel free to drop a comment below and we will take a look at it and try and help you.

[2016-04-20 02:43] #1548 closed

[2016-04-20 02:46] tintin1343 commented on #1534
@raptoria @desduvauchelle : A work-around for that would be to handle this in a function for the onClick event and assign a style to the ListItem then. Do let us know if that helps.

Let us know if that helps.

[2016-04-20 02:50] tintin1343 commented on #1544
Reproducible in the docs.

[2016-04-20 02:51] jma7889 commented on #2780
It is resolved, please close. Thanks

[2016-04-20 02:53] tintin1343 commented on #1430
Not reproducible in the docs hence closing this.

[2016-04-20 02:53] #1430 closed

[2016-04-20 02:54] tintin1343 commented on #1207
@aahan96 : Did you fix this or are you still working on it?

[2016-04-20 03:02] tintin1343 commented on #1802
There is currently no functionality to clear the TimePicker or DatePicker.

You could add a button and onClick of that clear the value of the TimePicker.

Closing this issue for now as its a use-case based issue and not a bug.

[2016-04-20 03:02] #1802 closed

[2016-04-20 03:03] tintin1343 commented on #1586
Closing this in favor of the PR.

[2016-04-20 03:03] #1586 closed

[2016-04-20 03:05] tintin1343 commented on #1592
This was not reproducible. Closing the issue.

[2016-04-20 03:08] tintin1343 commented on #1703
Duplicate of https://github.com/callemall/material-ui/issues/3850.

I know this is the original one, but the above mentioned issue has been tagged for the next release so closing this.

Closing this in favor of #3850

[2016-04-20 03:08] #1703 closed

[2016-04-20 03:13] #2780 closed

[2016-04-20 03:38] nathanmarks commented on #3850
@l0gicgate Cleaning up incorrect use of elements, not following semantics, and switching to flexbox are some changes that we're starting to implement and will be implementing more of in coming releases -- it bugs me just as much as you, trust me 😄

[2016-04-20 03:40] tintin1343 commented on #2309
What are  trying to achieve?

Let me know if you still need any help on this.

[2016-04-20 03:43] nathanmarks commented on #2309
This is an annoying inconsistency between the buttons. Something I also noticed while writing this pr: #4035

[2016-04-20 04:08] nathanmarks commented on #4016
Investigating this right now, looks like it was caused in #360080e2ee67caf1e8efb2748cf2fbb37de48758

Trying a potential fix, will submit a PR if it works

[2016-04-20 05:11] alitaheri commented on #2840
@tintin1343 I think we can close it since it's not very easy to reproduce. I don't think it would be easy to solve since it's pretty much a matter of preference and hard to notice.

[2016-04-20 05:11] #2840 closed

[2016-04-20 09:50] skasch opened #4045 "[Dialog] Bad repositioning when closing keyboard after editing a TextField on mobile"
## Problem Description

Hello!

So, I found the following issue: on mobile phone, when I fill a TextField inside a Dialog, I have a weird behavior appearing:
- The Dialog opens up with a TextField, everything looks good;
- When I click on the TextField, the keyboard opens up normally and the Dialog is resized as intended.
- Then, when I close the keyboard, the Dialog is not re positioned correctly

[2016-04-20 10:48] be-next-hotdog opened #4046 "Style about drawer ?"
Hello, everyone,

Little question about drawer / appbar style before try making it work by css.
What should I set up (or with which property) in Drawer in order to disable drawer displaying over the AppBar ? ;)

Looking forward to your reply.

Regards,

Problem Description
-------------------

Versions
--------

- Material-UI: 0.15 beta
- React: v15
- Browser: Any

[2016-04-20 10:57] mdarif commented on #3756
+1

[2016-04-20 11:00] rapahelkottakal commented on #4029
It still currently requires  react-dom@^0.14.0. Please release next version

[2016-04-20 11:57] maticrivo opened #4047 "[TextField] Fix controlled input warning in React 15"
Problem Description
-------------------
I'm getting this error after upgrading to React 15 and MUI 0.15.0-beta.1
[code]

Versions
--------

- Material-UI: 0.15.0-beta.1
- React: 15.0.1
- Browser: Google Chrome Canary (Version 52.0.2712.0 canary (64-bit))

[2016-04-20 12:36] nathanmarks commented on #4029
@rapahelkottakal use `npm install material-ui@next` for the beta

[2016-04-20 13:24] nathanmarks commented on #4047
@maticrivo Please review your use of the input -- this is not a material-ui issue

[2016-04-20 13:24] #4047 closed

[2016-04-20 13:26] nathanmarks commented on #4047
@maticrivo more info: https://github.com/facebook/react/pull/5864

[2016-04-20 13:29] nathanmarks commented on #4046
Structure your DOM appropriately and use z-index.

[2016-04-20 13:29] #4046 closed

[2016-04-20 13:31] rapahelkottakal commented on #4029
Thanks :)

Great set of components b.t.w.
The new version is different and needs new documentation. But for now the example folder has helped.

[2016-04-20 13:45] pricetula commented on #4029
New documentation or heads up would be great, for instance importing modules causes errors while following official docs because the lib folder doesn't exist in material-ui module.

[2016-04-20 13:45] AndrewLindsay221 commented on #3618
@benderunit - we did try this solution as nobody likes to see magic timeout numbers, but we found that something else would grab the focus away from the text field almost immediately, so much like @adrianmc has said, we eventually gave up and accepted the setTimeout solution.

Great to hear that a better solution is on the cards though.

[2016-04-20 14:03] tintin1343 commented on #2847
I am closing this for now. If you face this issue again do let us know by leaving a comment below and we will take a look at it.

[2016-04-20 14:03] #2847 closed

[2016-04-20 14:12] tintin1343 commented on #3754
Closing this as its a Duplicate of https://github.com/callemall/material-ui/issues/2337

[2016-04-20 14:12] #3754 closed

[2016-04-20 14:13] tintin1343 commented on #2337
Closing this as its a duplicate of https://github.com/callemall/material-ui/issues/1956

[2016-04-20 14:14] #2337 closed

[2016-04-20 14:24] tintin1343 commented on #2676
I am closing this for now as the problem mentioned above can be clearly solved using backgroundColor and labelColor props of RaisedButton. If there is any further issues please open a new issue.

[2016-04-20 14:24] #2676 closed

[2016-04-20 14:31] liesislukas commented on #2266
Hi, it was ~5 months ago i already done that project and "fixed" redraws by building my own UI components that made my UI lag. I see a lot of stuff happening in this lib, so thank you 👍

[2016-04-20 14:31] tintin1343 commented on #3027
@liekkas : Have you tried using this

`style={{ display: this.state.mode === 'remote' ? 'none' : 'block', }}`
instead of

 `style={{ display: this.state.mode === 'remote' ? 'none' : '', }}`

Was this problem resolved for you? Or do you still have it?

[2016-04-20 14:32] tintin1343 commented on #2266
Thanks for the update. Yes there is a lot of work going on. Closing this.

[2016-04-20 14:32] #2266 closed

[2016-04-20 14:46] tintin1343 commented on #1534
I am closing this for now. Do let us know if the above suggestion helps or not.

[2016-04-20 14:46] #1534 closed

[2016-04-20 14:56] tintin1343 commented on #2127
![screen shot 2016-04-20 at 9 54 52 am](https://cloud.githubusercontent.com/assets/15271922/14679065/fa2cd33e-06dd-11e6-8ace-db390e58b672.png)

It looks fine on IE 9. Closing this for now.
Do let us know if you still have this issue by commenting below.

[2016-04-20 14:56] #2127 closed

[2016-04-20 14:59] tintin1343 commented on #3047
@volodymyr-kukurudz : Have you tried the suggestion by @yannickschuchmann ? It seems to work for others. Do let us know if this is resolved or not.

[2016-04-20 15:01] tintin1343 commented on #3072
@mbrookes : Is still issue resolved or does it require a PR?

[2016-04-20 15:08] calbertts commented on #288
I'm having this issue right now.. is there a fix for it?

[2016-04-20 15:14] tintin1343 commented on #3014
@mayagamer : I agree this is a good feature to have. but this is a specific use-case and hence I am closing the issue.

You can achieve that by using this.refs.[reference-name].focus after the component has mounted. And then adding a select clause on it.

In jQuery it can be done using this:
$("input:text").focus(function() { $(this).select(); } );

I am not very sure about the exact syntax. You c

[2016-04-20 15:14] #3014 closed

[2016-04-20 15:15] tintin1343 commented on #3007
@JLHwung : Where you able to get this resolved? The PR you mentioned has been merged.

[2016-04-20 15:20] tintin1343 commented on #3012
If you set multiLine to true, this does not happen. I tried reproducing this issue with the docs website but I was not able to. It works perfectly fine.

I am closing this. If you still need help feel free to leave a comment below. Thanks!d

[2016-04-20 15:20] #3012 closed

[2016-04-20 15:27] tintin1343 commented on #2992
@suhail-ansari-apconic : Right now there is no way to enforce a cols on the TextField.

Were you able to resolve this? Do let us know.

[2016-04-20 16:49] jakeboone02 commented on #3465
And if upgrading to React 15 is not an option at this time, depending on `react-tap-event-plugin@0.2.2` should work.

[2016-04-20 18:40] oliviertassinari commented on #262
@tintin1343 Yes, it could be really useful 👍.

[2016-04-20 19:18] ajsharp commented on #1529
@nathanmarks Why? It's less code for the user of this library to say "give me a datepicker with these options". What benefit to the user is being "composable" in this instance?

[2016-04-20 19:19] #4016 closed

[2016-04-20 19:41] davidrusu commented on #1592
This issue still affects me, I've attached a screen recording of the issue. please reopen.

You can see when I resize the screen, the time resets.

![](http://g.recordit.co/NJzGcmJjnn.gif)

[2016-04-20 20:19] tintin1343 commented on #1592
You should select OK to set the Time value.

What you are doing is selecting the date but not setting it. Once you close the Dialog Unless you press OK, it wont be selected.

[2016-04-20 20:23] davidrusu commented on #1592
What I am trying to show is that if a rerender is triggered, the state of the timepicker dialog is reset, this can happen in many different ways.

e.g.
you are polling for data and you trigger a rerender when new data comes in.
resizing the window.

[2016-04-20 20:36] tioback opened #4050 "[TextField] type="number" shows hintText when value has dots and commas"
Problem Description
-------------------
When using a TextField with type "number" and showing a hintText, if user types certain combinations of dots, commas and numbers, the hintText is shown.
Combinations that showed this behaviour:
[code]

[code]

Rendered component
![image](https://cloud.githubusercontent.com/assets/13951017/14689074/1469bcce-071c-11e6-825d-b9db42420508.png)

Correct behaviour

[2016-04-20 20:45] tintin1343 commented on #1592
Alright. Thats a valid point. I am reopening it.

[2016-04-20 20:49] davidrusu commented on #1592
Thank you for reopening.

I would love to but I am swamped right now with exams. I may have some time in 2-3 weeks

[2016-04-20 20:51] tintin1343 commented on #1592
@davidrusu : If its not resolved by then. It would be awesome if you could submit a PR. Best of Luck!

[2016-04-20 23:15] lefnire opened #4051 "Windows: buttons blank, Drawer + MenuItems borked"
Problem Description
-------------------

Was getting high GA bounce rate for Windows users on [Jobpig](https://jobpigapp.com); investigated and noticed all the buttons were blank (white on white?). Additionally, `Drawer` + `MenuItem`s are whack. Here's [how it looks on Mac](https://www.evernote.com/l/ABFBLuF09OtHJrC5EHnR3kpXF4GYUYxdF2c), and [here on Windows](https://www.evernote.com/l/ABFueIx5SMh

[2016-04-20 23:18] nathanmarks commented on #1529
@ajsharp If we followed that principle for everything, the library would be extremely limited. We're talking about a couple of lines of code here, not entire components the user has to implement themselves.

I just flicked through my nexus 6p and found multiple instances of date and time pickers that are not hooked up to text fields -- or anything similar visually (apart from having text). For eg,

[2016-04-20 23:18] lefnire commented on #1748
@timarney could you chance post a sample of how you pulled it off? looking for the same m'self

[2016-04-20 23:32] lefnire commented on #4051
Seems in fact to be a 0.15.0-beta.1 issue. I [reverted back](https://github.com/lefnire/jobpig/commit/0ca6e21d36a3f482a2b1453f36ddbdefd033315b) to 0.14.4 and all's well. (actually upgraded hoping for a separate fix to modals which I'd theorized was the Windows problem... peter_griffin_blinds.gif)

[2016-04-20 23:55] mbrookes commented on #3072
Still an issue AFAIK.

[2016-04-21 00:18] mbrookes commented on #295
No idea, sorry, but as there have been no other comments in 6 months I think it's safe to close.

[2016-04-21 00:19] #295 closed

[2016-04-21 00:40] luisrudge commented on #3976
any ETA on the new release? this is happening to me as well :(

[2016-04-21 00:47] luisrudge opened #4052 "[DatePicker] wrong week days when using `formatDate`"
### With error:
![image](https://cloud.githubusercontent.com/assets/941075/14694667/16a7210a-0741-11e6-9651-f534e3f93b71.png)

[code]

### Without error
![image](https://cloud.githubusercontent.com/assets/941075/14694708/7e6eba14-0741-11e6-8960-aaa29a97fea0.png)

`<DatePicker  />`

I think the component is using the `formatDate` method everywhere and that's causing the error

[2016-04-21 00:52] nathanmarks commented on #4051
@lefnire beta looks fine on my end

![2016-04-20 at 8 52 pm](https://cloud.githubusercontent.com/assets/4420103/14694772/c72d8422-0739-11e6-8751-d4199a0563f6.png)

[2016-04-21 00:53] nathanmarks commented on #4051
@lefnire make sure you are following the up to date usage guidelines:

https://github.com/callemall/material-ui#usage

[2016-04-21 00:56] nathanmarks commented on #4051
@lefnire Looks like you are.

Did you have any console errors after upgrading?

[2016-04-21 01:00] nathanmarks commented on #4051
And here's chrome, windows, your site:

![2016-04-20 at 8 59 pm](https://cloud.githubusercontent.com/assets/4420103/14694895/deed6306-073a-11e6-86de-2fc0d9a4347d.png)

[2016-04-21 01:13] lefnire commented on #4051
@nathanmarks sorry should have been clearer on the second post. I reverted back to 0.14.4 on production, so what you're seeing there is "back to good". [upgrade commit](https://github.com/lefnire/jobpig/commit/140dd9c705dc08ec3d898deb0d39d09dd2d158d3) | [post-upgrade code](https://github.com/lefnire/jobpig/tree/140dd9c705dc08ec3d898deb0d39d09dd2d158d3) | [revert commit](https://github.com/lefnire/

[2016-04-21 01:39] jareddellitt opened #4053 "[IconMenu] Add ability to style underlying List inside of Menu."
Currently there is no way to style the underlying list when using [IconMenu](http://www.material-ui.com/v0.15.0-alpha.1/#/components/icon-menu). This change would enable passing a listStyle object similar to how Menu already allows for and just pass the listStyles down to the Menu object.

[code]

[2016-04-21 01:42] JLHwung commented on #3007
Sure, I use the following workaround:

[code]
The problem is that one should manually add `!formOpen => disableKeyboardFocus` link to every button that will close the form. Else when the end-user press `enter` or `whitespace` accidentally after he/she submits the form, the form will submit again.

[2016-04-21 01:48] kinglywork opened #4054 "problem of date format in ja-JP"
**Versions:**
- Material-UI: v0.15.0-beta.1
- React: 15.0.1
- Browser: Chorme v49

**Code:**
import React from 'react';
import DatePicker from 'material-ui/DatePicker';
import areIntlLocalesSupported from 'intl-locales-supported';

let DateTimeFormat;

const IntlPolyfill = require('intl');
DateTimeFormat = IntlPolyfill.DateTimeFormat;
require('intl/locale-data/jsonp/ja-JP');

const DatePickerExamp

[2016-04-21 02:03] isaackearl commented on #3933
I agree it is also a bit difficult to pick year if you are using this for entering something like a date of birth.  Being able to type in text would help this.

[2016-04-21 02:16] kinglywork commented on #4054
const IntlPolyfill = require('intl');
  DateTimeFormat = IntlPolyfill.DateTimeFormat;
  require('intl/locale-data/jsonp/ja-JP');

console.log(new DateTimeFormat('ja-JP', {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
    era: 'long'
  }).format(Date.now()));

this code can also reproduce the problem.
seems like this is the problem of intl polyfill.  so I'll close this .

[2016-04-21 02:16] #4054 closed

[2016-04-21 03:22] nathanmarks commented on #3933
@mbrookes @tintin1343

Can the DatePicker be used without the built in TextField? That would allow the user full control over the textbox and when/how to display the picker.

[2016-04-21 03:24] nathanmarks commented on #3007
@newoga this + dialog focus scope

[2016-04-21 03:29] nathanmarks commented on #4051
@lefnire does your repo work if i just boot the client not the server?

[2016-04-21 03:53] lefnire commented on #4051
Yes it does. (It'll make some call to :3002/cron, you can ignore it) `npm run client`. Thanks for looking into!

[2016-04-21 03:57] lefnire commented on #4051
Oo, I will say - the homepage works without the server; but to see the LeftNav (now Drawer) you'll need to log in, which requires the server. The worst of it is installing Postgres & `createdb jobs`. Happy to bang it out on Gitter if desired.

[2016-04-21 06:37] jackyon commented on #2932
+1

[2016-04-21 07:32] volodymyr-kukurudz commented on #3047
It works, but when one dropdown is opened and you would like to open another you should make two clicks(first will close current dropdown, second will open new dropdown). Is it possible to switch between menu icon within one click?

[2016-04-21 07:33] volodymyr-kukurudz commented on #3047
Setting useLayerForClickAway={true} is good solution.

[2016-04-21 07:55] Rtg147 opened #4056 "Double line on textfield focus"
Hey guys,
I've fouund something that is if you put a type of mail for instance this double line did not appear but if you put text or password it does.

[2016-04-21 08:52] xdvarpunen commented on #3066
Susy worked nicely with material-ui: http://susy.oddbird.net/. @Sabst flex-grid was nice experience c:

Could you choose one which has pretty much no dependency except CSS itself?

[2016-04-21 10:21] liesislukas commented on #4008
it's all because of this:

![image](https://cloud.githubusercontent.com/assets/2733862/14705795/fb137fd2-07c3-11e6-9010-aea5bac629c7.png)

"material-ui": "^0.15.0-beta.1"
https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css
Chrome Version 50.0.2661.75 (64-bit)

[2016-04-21 11:20] #4056 closed

[2016-04-21 11:20] nathanmarks commented on #4056
Please follow the issue template and resubmit

[2016-04-21 12:43] nathanmarks commented on #156
@newoga

I started looking into this. Would you be open to the idea of drawing aspects from both the https://github.com/reactjs/react-modal repo that @ryanflorence shared a **long!** time ago and `react-overlays`?

I'm interested in putting together a proof of concept that would draw inspiration from these libraries, but be an implementation that is catered to our use case and use our own internal

[2016-04-21 12:50] nathanmarks commented on #4008
This is because the links in that list are `span` elements -- which is totally incorrect.

[2016-04-21 12:53] nathanmarks commented on #4008
I think https://github.com/callemall/material-ui/pull/3953 might fix this

[2016-04-21 12:54] nathanmarks commented on #4051
@lefnire just trying to do the least possible 😄

[2016-04-21 13:22] timarney commented on #1748
@lefnire I took a look and that part of the code (referenced) was either removed or was part of a demo ...  anyway I couldn't track it down.

Did you take a look at https://github.com/callemall/material-ui/blob/master/docs/src/app/components/pages/components/Dialog/ExampleCustomWidth.js ?

That example is for the width but maybe try passing a value for 'top' in the customContentStyle variable.

[2016-04-21 14:36] mbrookes commented on #3976
Fix in the beta released a week ago.

[2016-04-21 14:39] mbrookes commented on #3933
@nathanmarks A user could created their own version of DatePicker without TextField using DatePickerDialog or Calendar.

[2016-04-21 14:49] nathanmarks commented on #3933
@mbrookes If that's the case, that sounds like the best option for specific use cases such as this.

[2016-04-21 15:11] luisrudge commented on #3976
ouch! I was running alpha1. sorry!

[2016-04-21 15:23] caio-ribeiro-pereira commented on #3734
I'm in the same issue :(

[2016-04-21 16:08] luisrudge commented on #2177
Yep, not an issue anymore. Thanks!

[2016-04-21 16:11] tintin1343 commented on #3047
Does it resolve the issue you have of

[2016-04-21 16:15] injune1123 commented on #2182
Thanks for adding this feature, it is exactly what I want to include in my project. I did not find any references on the material-ui website, is there any examples that I can refer to?

[2016-04-21 16:59] rkstar opened #4059 "[Avatar] Avatar "src" not positioned correctly in circle"
Problem Description
-------------------
using [Avatar](http://www.material-ui.com/v0.15.0-beta.1/#/components/avatar) component with a `src` attribute to a url or image that is bigger than the `size` passed in.
[code]

the `background` property is set [here](https://github.com/callemall/material-ui/blob/master/src/Avatar/Avatar.js#L34) and there is a `backgroundSize` defined as well, but becomes `

[2016-04-21 18:28] tintin1343 commented on #4059
Hi @rkstar ,

I just tried to reproduce what you said and even with your changes I am getting the same effect as I do without incorporating your changes.

Can you post your desired design of avatar here possibly a screenshot and the one without that? It will help fix it quickly

[2016-04-21 18:35] tintin1343 commented on #4053
That's a good point. Care to submit a PR?

Also @jareddellitt , What is your use-case exactly?

[2016-04-21 18:37] #3373 closed

[2016-04-21 18:40] #3815 closed

[2016-04-21 18:44] tintin1343 commented on #4052
Your DatePicker looks weird. What version of MUI are you using? Could you update it and try.

I tried reproducing your issue, had no problems in the docs site.

` <DatePicker
      hintText="en-AU locale"
      DateTimeFormat={DateTimeFormat}
      locale="en-AU"
      firstDayOfWeek={0}
    />`

![screen shot 2016-04-21 at 1 43 59 pm](https://cloud.githubusercontent.com/assets/15271922/14720452/2

[2016-04-21 18:55] tintin1343 commented on #4050
@tioback : I was not able to reproduce the error conditions on HEAD of docs.

![screen shot 2016-04-21 at 1 50 44 pm](https://cloud.githubusercontent.com/assets/15271922/14720703/6776c5e0-07c8-11e6-8802-b6e0a9faae4e.png)
![screen shot 2016-04-21 at 1 50 54 pm](https://cloud.githubusercontent.com/assets/15271922/14720704/67783114-07c8-11e6-9de5-da4c0c226e3d.png)
![screen shot 2016-04-21 at 1 51 08

[2016-04-21 18:55] #4050 closed

[2016-04-21 18:58] rkstar commented on #4059
[code]

here is the avatar with unmodified code:
<img width="113" alt="screen shot 2016-04-21 at 2 53 59 pm" src="https://cloud.githubusercontent.com/assets/651566/14720748/f0ea62d4-07d0-11e6-9fea-5e106493974e.png">

i modified `node_modules/material-ui/Avatar/Avatar.js` after `line 58` adding the `backgroundSize` and `backgroundPosition` lines.
[code]

here is the avatar with changes:
<img width=

[2016-04-21 19:01] tintin1343 commented on #4059
@rkstar : Thanks for your quick reply. I will try reproducing this.

If this is the case in HEAD then I will submit a PR on your behalf.

[2016-04-21 19:13] luisrudge commented on #4052
now I'm using latest:

![image](https://cloud.githubusercontent.com/assets/941075/14721216/aef94b14-07db-11e6-9764-146015a2e8d6.png)

Your example doesn't have the `formatDate`param

[2016-04-21 19:16] tintin1343 commented on #4059
@rkstar : Still not able to reproduce the issue. Are you enclosing your Avatar in some other component?

`<Avatar
      src="https://www.fillmurray.com/200/300"
      size={100}
      backgroundColor="rgba(0,0,0,0)"
      style={{border: 0}}
/>`

I used the same component of urs but I didnot make changes in the `Avatar.js`. It looks fine.

![screen shot 2016-04-21 at 2 15 46 pm](https://cloud.gith

[2016-04-21 19:17] cgestes commented on #2182
http://www.material-ui.com/v0.15.0-alpha.1/#/components/card -> "Controlled Example".

Available in 0.15.x versions.

[2016-04-21 19:23] tintin1343 commented on #4052
Still unable to reproduce the issue in HEAD.

<DatePicker
      hintText="en-AU locale"
      DateTimeFormat={DateTimeFormat}
      locale="en-AU"
      formatDate={new DateTimeFormat('en-AU', {
        day: 'numeric',
        month: 'numeric',
        year: 'numeric',
      }).format}
      firstDayOfWeek={0}
    />

![screen shot 2016-04-21 at 2 22 51 pm](https://cloud.githubusercontent.com/asse

[2016-04-21 19:32] luisrudge commented on #4052
What is `DateTimeFormat` in your context?

[2016-04-21 19:33] tintin1343 commented on #3027
Closing this for now. If you feel that the issue still persists do leave a comment and I will reopen the issue.

[2016-04-21 19:33] #3027 closed

[2016-04-21 19:37] tintin1343 commented on #4052
Its from the docs website source code. You can check there.

import areIntlLocalesSupported from 'intl-locales-supported';

if (areIntlLocalesSupported(['fr', 'en-US'])) {
  DateTimeFormat = global.Intl.DateTimeFormat;
} else {
  const IntlPolyfill = require('intl');
  DateTimeFormat = IntlPolyfill.DateTimeFormat;
  require('intl/locale-data/jsonp/fr');
  require('intl/locale-data/jsonp/en-US');
}

[2016-04-21 19:39] luisrudge commented on #4052
maybe that's the problem then? I'm using `const dateTimeFormat = new Intl.DateTimeFormat('en-AU')`

[2016-04-21 19:42] tintin1343 commented on #4052
if (areIntlLocalesSupported(['en-AU'])) {
  DateTimeFormat = global.Intl.DateTimeFormat;
} else {
  const IntlPolyfill = require('intl');
  DateTimeFormat = IntlPolyfill.DateTimeFormat;
  require('intl/locale-data/jsonp/en-AU');
}

![screen shot 2016-04-21 at 2 42 00 pm](https://cloud.githubusercontent.com/assets/15271922/14722038/3a8200c0-07cf-11e6-84bc-f2eb07d421f3.png)

I removed the others. St

[2016-04-21 19:44] rkstar commented on #4059
@tintin1343 yes, the `Avatar` component is down a couple of divs:

[code]

is it possible i'm seeing this issue because the `Avatar` is inside a flex box?

[2016-04-21 19:44] luisrudge commented on #4052
I'm cloning the repo. Will get back to you shortly

[2016-04-21 19:45] tintin1343 commented on #2055
Closing this due to lack of response. If you need help with this issue do let us know by commenting below, I will reopen it.

[2016-04-21 19:45] #2055 closed

[2016-04-21 19:49] tintin1343 commented on #4059
@rkstar : It could be the case. When I re-created the issue for the first time on the docs site , the Avatar was inside the ListItem component and I remember getting an issue like this.

Just for trial sake try remove all the divs and just place the Avatar component. It should work and then enclose it within div and apply style one at a time and notice the change. That should give you an idea abou

[2016-04-21 19:50] luisrudge commented on #4052
This doesn't work on HEAD:

[code]

![image](https://cloud.githubusercontent.com/assets/941075/14722279/30d92aaa-07e1-11e6-85f0-44f183dc5609.png)

[2016-04-21 19:59] tintin1343 commented on #4052
Try using this:
let DateTimeFormat = global.Intl.DateTimeFormat;

<DatePicker
      hintText="en-AU locale"
      DateTimeFormat={DateTimeFormat}
      locale="en-AU"
      formatDate={new DateTimeFormat('en-AU', {
        day: 'numeric',
        month: 'numeric',
        year: 'numeric',
      }).format}
      firstDayOfWeek={0}
    />

and let me know.

[2016-04-21 19:59] luisrudge commented on #4052
I think the issue is because I'm not passing the DateTimeFormat constructor, I'm passing the created object (`DateTimeFormat={() => aussieFormat}`).

using this works:

[code]

[2016-04-21 20:00] mikehuebner commented on #3831
Having a similar issue, is the wrapper the only thing that fixes said problem?

[2016-04-21 20:00] luisrudge commented on #4052
It's good because I didn't had the polyfill in place before, and safari doesn't support Intl yet.

[2016-04-21 20:01] tintin1343 commented on #4052
Oh..That my bad I should have asked you the browser information too.. Is it resolved now?

Also DO post your react, mui and browser version when you are posting an issue helps resolve it fast.

[2016-04-21 20:03] luisrudge commented on #4052
I'm not using safari. This is not a browser issue. The problem, apparently, is that you can't pass an already created object to the DateTimeFormat param, like this: `DateTimeFormat={() => aussieFormat}`

[2016-04-21 20:08] tintin1343 commented on #4052
yeah I saw that just know when I tried using what you did.

It might not be a browser issue but do go through the https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md and follow the format , makes it easier for us to identify the issue.

Since its resolved, I am closing the issue.

[2016-04-21 20:09] joadr commented on #3553
I need this feature as well, now I did the tricky thing that sets the top style to a minus value, the thing is that it's not going to work well on all devices.

[2016-04-21 20:11] tintin1343 commented on #4059
Why have you assigned a flex value of 0? remove thats anyway not needed.

I am closing the issue since its not related to Material-ui. If you still need help do post below in the comments.

[2016-04-21 20:11] #4059 closed

[2016-04-21 20:11] #4052 closed

[2016-04-21 20:21] rkstar commented on #4059
i went right back to the studs and i'm still seeing the same problem.  there are no styles at all now.
https://www.fillmurray.com/300/300

<img width="108" alt="screen shot 2016-04-21 at 4 19 12 pm" src="https://cloud.githubusercontent.com/assets/651566/14723030/ea1c6dec-07dc-11e6-9d76-ca29aa25420d.png">

here's what i have:

### my-colors.js
[code]

### my-ui.js
[code]

### main.jsx
[code]

[2016-04-21 20:26] luisrudge commented on #4052
Ah, sure. I'll add that info in the next one. Thanks for the help!

[2016-04-21 20:36] tintin1343 commented on #4052
No Worries. All the best!

[2016-04-21 20:47] tintin1343 commented on #4059
That is weird. I tried reproducing the exact same thing as u and it worked perfectly fine.

[2016-04-21 20:49] rkstar commented on #4059
hmmm.  i will keep digging i guess.  thanks for your help!

[2016-04-21 21:02] mb-copart opened #4061 "Updating TextField value shows warning in console."
Problem Description
-------------------

When I update the state of value of a TextField, I get this warning from React@15.0.1

Warning: TextField is changing a uncontrolled input of type text to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component. More inf

[2016-04-21 21:06] tintin1343 commented on #4059
Its definitely the them or the some css which you haven't imported properly.

I did just implement the Avatar on itself.
<Avatar
      src="https://www.fillmurray.com/300/300"
      size={100} backgroundColor="rgba(0,0,0,0)"
    />
![screen shot 2016-04-21 at 4 03 20 pm](https://cloud.githubusercontent.com/assets/15271922/14724327/f8ba000a-07da-11e6-8798-84547cf0c889.png)

Looks fine to me. Try di

[2016-04-21 21:08] tintin1343 commented on #4061
@mb-copart : Hi, Could you explain your use-case a bit more in detail. Its very difficult to debug based on the default warning message.

Please follow the https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md document for further guidelines.

[2016-04-21 21:19] tintin1343 commented on #4053
Also, We are in the process of rewriting the menuItem component for the next version release. This might not even be needed by then. So , you will have to wait if you are banking on this change.

[2016-04-21 21:35] tintin1343 commented on #3425
@timaxxer : Do you still have issues with this.

If you still have issues with it, Please refer to https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md for guidelines about posting an issue. We will be able to help you better that way.

[2016-04-21 21:39] tintin1343 commented on #3413
@mbrookes : Do we have a resolution to this or is it still a WIP?

[2016-04-21 21:46] tintin1343 commented on #3402
@DoubleU23: care to submit a PR?

[2016-04-21 21:51] tintin1343 commented on #3342
@Chegleyev : Is it still an issue? If thats the case care to submit a PR, since you already have this figured out?

[2016-04-21 21:52] tintin1343 commented on #3317
I am closing this , since you already found a solution and its specific to your use-case. Thanks!

[2016-04-21 21:52] #3317 closed

[2016-04-21 21:53] tintin1343 commented on #3467
@luisrudge : Is this resolved for you or still a problem?

[2016-04-21 21:55] luisrudge commented on #3467
Let me check if the latest beta fixes the issue

[2016-04-21 21:58] tintin1343 commented on #3557
@jgoux : Was this issue fixed for you? Can this issue be closed?

[2016-04-21 21:59] luisrudge commented on #3467
It's not fixed, but it only happens when you use fixed header and a fixed height for the table:
![image](https://cloud.githubusercontent.com/assets/941075/14725574/25a10862-07f3-11e6-9b30-70e3913d4d3c.png)

`<Table fixedHeader height="10vh">`

[2016-04-21 22:00] tintin1343 commented on #3266
Can you guys check if this is still an issue for you guys?

[2016-04-21 22:01] tintin1343 commented on #3467
@luisrudge : This looks fine to me. The header here is fixed right?

[2016-04-21 22:07] tintin1343 commented on #3147
@dcsan @sheki : where you guys able to fix this using type="submit" ? If you have let me know.

[2016-04-21 22:10] luisrudge commented on #3467
It's not fine, this is the expected result (it works when it's not fixed):
![image](https://cloud.githubusercontent.com/assets/941075/14725843/b0666806-07f4-11e6-9a3a-867705da27a1.png)

[2016-04-21 22:10] mb-copart commented on #4061
Sorry my bad, the initial value that was being sent to TextField was null, which was causing that warning to show up.

[2016-04-21 22:10] #4061 closed

[2016-04-21 22:12] tintin1343 commented on #3467
@luisrudge : Alright, Thanks! Will look into it.

[2016-04-21 22:16] luisrudge commented on #3467
do you have something setup to create repros? Like a codepen or something? That would be insanely cool.

[2016-04-21 22:18] tintin1343 commented on #3467
@luisrudge : AFAIK right now we don't. But I think we are planning on doing something like that.

[2016-04-21 22:23] lefnire commented on #3553
In the interim you can use Bootstrap Modal. I know it's dirty to mix-n-match, but [react-bootstrap](react-bootstrap.github.io)'s modal API is so similar to MUI's that it's a 30m swap; then full-screening via CSS is a breeze. Here's [my own diff](https://github.com/lefnire/jobpig/commit/d746fee9343f34ef4c125aaa7729a173453d925f) for such.

[2016-04-21 22:40] tintin1343 commented on #1393
Was this resolved for you? I am closing this issue for now. If you still have the issue do let me know in comments below I will reopen it.

[2016-04-21 22:40] #1393 closed

[2016-04-21 22:42] tintin1343 commented on #1495
@Kagami @orporan : were you able to solve the issue using the above suggestion? Do let us know.

[2016-04-21 22:43] tintin1343 commented on #1394
@antilect : DId you try the above solution. I am closing this issue for now, but if you are now able to solve the issue using the above suggestion do let me know. I will reopen and investigate the issue for you.

[2016-04-21 22:43] #1394 closed

[2016-04-21 22:46] IrvingAxelB commented on #3553
+1

Im trying to have my dialog turn full screen for mobile users but I'm running into issues using media queries and changing the length of the dialog.

[2016-04-21 22:47] tintin1343 commented on #1532
![screen shot 2016-04-21 at 5 46 47 pm](https://cloud.githubusercontent.com/assets/15271922/14726610/0d2b9090-07e9-11e6-931d-4f557b422bed.png)

Not reproducible in the docs. Closing this for now.

If you still have this issue leave a comment below and I will reopen this issue for you.

[2016-04-21 22:47] #1532 closed

[2016-04-21 22:48] tintin1343 commented on #1584
Closing this issue since its not following the https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md guidelines and I am unable to reproduce it.

If this is not resolved for you, then please follow the guidelines and repost the issue.

[2016-04-21 22:48] #1584 closed

[2016-04-21 22:57] tintin1343 commented on #1637
Looks fine on material-ui docs website. Closing this issue for now. If you feel that the issue needs further addressing leave a comment below and I will open it again.

[2016-04-21 22:57] #1637 closed

[2016-04-21 22:59] tintin1343 commented on #1642
This is resolved now hence closing the issue.

[2016-04-21 22:59] #1642 closed

[2016-04-21 23:01] tintin1343 commented on #1607
This is resolved now. TextField looks fine.

[2016-04-21 23:01] #1607 closed

[2016-04-21 23:02] nathanmarks commented on #4061
@tintin1343 this kind of issue can be close -- it's a user implementation issue not a material-ui issue and unfortunately we don't have the manpower to debug bugs that aren't material-ui related.

[2016-04-21 23:05] tintin1343 commented on #1650
Is it resolved for you now? This is specific to your use-case so I don't know how to recreate this.

I am closing this for now. Do let me know if this is still a problem for you by leaving a comment below and I will reopen the issue.

[2016-04-21 23:05] #1650 closed

[2016-04-21 23:07] tintin1343 commented on #1654
@quadrupleslap : Do you still have this issue?This seems to be more of a use-case related issue rather than that to do with the library. Hence i am closing this for now.

Do let me know if you need any further help with this let me know I will reopen this issue for you.

[2016-04-21 23:07] #1654 closed

[2016-04-21 23:10] tintin1343 commented on #1688
This seems to be resolved in the documentation website. Closing this.

[2016-04-21 23:10] #1688 closed

[2016-04-21 23:12] tintin1343 commented on #1676
@morenoh149 : were you able to solve the issue with the above suggestion?  Let me know if that works

[2016-04-21 23:12] tintin1343 commented on #1676
@grimor : was this issue resolved for you?

[2016-04-21 23:17] tintin1343 commented on #1776
@callemall/material-ui : Do you guys have an idea about this? Is this resolved or still a WIP?

[2016-04-21 23:17] morenoh149 commented on #1676
haven't had a chance. sorry.

[2016-04-21 23:24] tintin1343 commented on #2050
@jgoux : were you able to close the issue by any chance? Do let me know

[2016-04-21 23:25] #2050 closed

[2016-04-21 23:28] tintin1343 commented on #2081
I don't think its an issue. I am closing this for now if you feel you need further help with this do let me know i will reopen this.

[2016-04-21 23:28] #2081 closed

[2016-04-21 23:33] tintin1343 commented on #2683
I think this issue is resolved for now. Closing this issue, if you need any further help with this do let me know I will reopen this for you.

[2016-04-21 23:33] #2683 closed

[2016-04-21 23:34] tintin1343 commented on #2663
@oliviertassinari : Is this still an issue? I remember we updated the inline-style-prefixer library recently.

[2016-04-21 23:35] tintin1343 commented on #2538
This is no longer an issue. Closing this issue for now.

[2016-04-21 23:35] #2538 closed

[2016-04-21 23:37] tintin1343 commented on #2523
This seems to be fixed in the recent version. Closing this.

[2016-04-21 23:37] #2523 closed

[2016-04-21 23:42] tintin1343 commented on #2977
This is reproducible. However @scarletsky why would you want to have a radiobutton group like this? with its text so far away?

[2016-04-21 23:44] tintin1343 commented on #2992
Closing this for now. DO let us know if you need any help with this by leaving a comment I will reopen it.

[2016-04-21 23:44] #2992 closed

[2016-04-22 00:30] nathanmarks commented on #156
@newoga

Well well... maybe i'll try `react-overlays` 😄  https://github.com/reactjs/react-modal/issues/156

[2016-04-22 00:40] tintin1343 commented on #3047
I am closing this issue for now, since the suggestion above solved you problem.

[2016-04-22 00:40] #3047 closed

[2016-04-22 00:42] tintin1343 commented on #3273
@rob2d : have you checked this with the latest version? Let me know if you still need help with this.

[2016-04-22 00:43] tintin1343 commented on #3425
I am closing this for now. If you still need help with this repost the issue by following the guidelines of the contributing doc.

[2016-04-22 00:43] #3425 closed

[2016-04-22 01:46] scarletsky commented on #2977
@tintin1343
In fact, it is not related to my code.  My code is like the following:

[code]

When your container's width is bigger than the `RadioButtonGroup`'s width, and set the `textAlign` to `center`, the unexpected layout will happen....

[2016-04-22 01:47] scarletsky commented on #2977
I have use Flexbox to fix this as a workaround.

[2016-04-22 03:51] ziadloo commented on #2832
Just to share my findings on the subject, I've conducted a test using a table of 100 rows and 10 columns, once with **checkboxes** and one other time without them. Of course presence of checkboxes made it slower but even without them the performance needed a boost.

In my test, using Chrome's Timeline, selecting a row with presence of the checkboxes resulted in 450ms while without them the same ac

[2016-04-22 04:34] ziadloo commented on #2369
The issue that I have with tables and fixed headers is that when I set the Table's height to "100%", the headers are scrolled among the rows, missing from the view if there are enough rows. Fixed headers works only if the height is given in pixels. Personally I find the percentage form much more practical.

[2016-04-22 05:48] nikolovp commented on #3266
Yes, it is. This table is almost useless. Broken UX, bad performance for more than 50 rows...

[2016-04-22 05:52] JuoCode commented on #1011
@alitaheri Use the latest 0.15.0-beta.2 still not work :(

[2016-04-22 06:21] oliviertassinari commented on #1676
@tintin1343 I'm still experiencing a similaire issue with dialog and dynamic content.

[2016-04-22 06:27] tintin1343 commented on #1676
@oliviertassinari : I can look into it. Could you post your findings here? I can take it over.

[2016-04-22 06:33] DERIIIFranz commented on #1956
i would love to see a component like the one from [MaterializeCSS](http://materializecss.com/forms.html#select):
![multiSelect](https://cloud.githubusercontent.com/assets/1215407/13396093/01389518-def3-11e5-8e9e-82fbf0c50da2.PNG)

support for tagging would also be nice to have!

[2016-04-22 06:58] haradakunihiko commented on #2818
@mlarcher @ahmadferdous
maybe this will help.
https://github.com/npm/npm/pull/12290

[2016-04-22 09:40] 2betop opened #4064 "[style issue] RaisedButton"
![image](https://cloud.githubusercontent.com/assets/2698393/14737825/a8637d62-08b0-11e6-821e-4e4450ca8b69.png)

Os: mac10.11.4 (15E65)
chrome: 47

I tried downgrade to  react@0.14.8 and the issue seems went away, so I guess this may due to react@15.x

[2016-04-22 09:53] 2betop commented on #4064
https://github.com/facebook/react/issues/6524

[2016-04-22 09:53] #4064 closed

[2016-04-22 12:09] ssolders opened #4065 "Toggle component needs an event.stopPropagation();"
## Problem Description

I'm displaying a list of Toggle-component inside a Tab-component, inside a Dialog.
I have 2 event-handlers, one for changing tab and one for changing a Toggle.

[code]

The issue occurs when I switch a toggle. My toggleHandler is called as expected but the change event also triggers the tabChangeHandler as well but without a valid tabName as parameter.

To solve this I had

[2016-04-22 12:19] nathanmarks commented on #4051
@lefnire can you reproduce this with a simple example?

[2016-04-22 12:30] nathanmarks commented on #4051
@lefnire Looks fine to me, on https://github.com/lefnire/jobpig/commit/140dd9c705dc08ec3d898deb0d39d09dd2d158d3

![2016-04-22 at 8 22 am](https://cloud.githubusercontent.com/assets/4420103/14741321/658e51f8-0863-11e6-9873-9053c5109546.png)

[2016-04-22 12:31] nathanmarks commented on #4051
**deleted my last reply, forgot to reinstall dependencies 😄 **

[2016-04-22 12:40] nathanmarks commented on #4051
@lefnire Can you check with the beta2 on your end?

[2016-04-22 12:42] nathanmarks commented on #4065
@mbrookes Do you think we should make the tabs API more like stepper so that the only controlled option isn't a magic callback on the parent container? (in this case, `Tabs`).

[2016-04-22 12:47] nathanmarks commented on #1676
@oliviertassinari @tintin1343 FYI guys I am currently experimenting with some `0.16.0` dialog updates.

[2016-04-22 12:49] nathanmarks commented on #3266
@tintin1343 @nikolovp It's most likely going to be refactored/rewritten in the mid-term most.

[2016-04-22 13:15] nathanmarks opened #4066 "[Core] There should be a more sophisticated styling solution."
@callemall/material-ui please leave some input here when you can 👍

We need to decide on a styling solution for `0.16.0` that will help address long standing issues. Outside of performance issues, there are hacks and props all over the place to make up for the fact that we are missing out on some of the powerful features in CSS that cannot be used with inline styles -- pseudo classes, media querie

[2016-04-22 13:58] EasonWang01 opened #4067 "Bad dependence"
"material-ui": "^0.15.0-alpha.2",

I install this version but no lib folder,but four days ago it has,why?

I have try to install 0.14, it works good.

[2016-04-22 14:08] lefnire commented on #4051
@nathanmarks awesome, will do when I find a moment. Thanks!

[2016-04-22 14:12] TrexinanF14 opened #4068 "Tab emits strange character?"
Problem Description
-------------------
I have a simple tab control that is emitting a Â character with no obvious reason why. The character  disappears depending on what kind of content is in the tab. Adding multiple tabs causes the character to be carried with the highlighter for which tab is selected. I'm using babel to transpile, but the output seems harmless.

app.jsx:
[code]
![untitled](http

[2016-04-22 14:23] chrismcv commented on #4066
Some further questions:
6) Will we remove or aim to remove `xxxxStyle` props and have users pass in an `xxxClassName` for overriding styles?  Or will these be complimentary?
7) Will we allow override of styles via CSS and simplify our components interfaces. So if I want to override `menuItemStyle` in IconMenu, do I create a `style = StyleSheet.create({ IconMenu: {MenuItem: { color:red }})` type ov

[2016-04-22 14:23] EasonWang01 commented on #1488
I still got the same error

[2016-04-22 14:26] jareddellitt commented on #4053
@tintin1343 I just wanted to be able to style the underlying List (adjust padding) when using IconMenu, similar to what can be done when just using Menu. Will rewriting MenuItem allow for this?

[2016-04-22 14:26] EasonWang01 commented on #1030
the same error

[2016-04-22 14:42] aahan96 commented on #1207
@tintin1343 - Yes, I am working on it!

[2016-04-22 14:43] tintin1343 commented on #4053
@jareddellitt : We will make it more composable that way everyone will have the freedom and flexibility to   design and make changes to the styles of the components. Right now some of the components are a mess. So a rewrite will allow for it.

[2016-04-22 14:46] nathanmarks commented on #4066
@chrismcv My personal opinion is that we definitely need to leverage the solution to remove these crazy specific props we're seeing proposed: [TextField] add floatingLabelFocusStyle prop #4043

Before we know it, people are going to be asking for props for subcomponent styles for every possible focus/active/hover/whatever state.

I see so many issues that are "how to style XXXX", "can't style XXX

[2016-04-22 14:48] nathanmarks commented on #4067
Read the README

[2016-04-22 14:48] #4067 closed

[2016-04-22 14:51] EasonWang01 commented on #4067
which part?I have try `npm install material-ui@next` and got peer error

[2016-04-22 14:54] EasonWang01 commented on #4067
[code]

[2016-04-22 15:07] EasonWang01 opened #4070 "No lib folder"
I saw http://www.material-ui.com/#/get-started/installation

But in "material-ui": "^0.15.0-beta.2", there is no lib folder

which version should install for the lib folder?

[2016-04-22 15:12] EasonWang01 commented on #4070
`v0.14.4` the website is not updated

[2016-04-22 15:14] EasonWang01 commented on #4067
Because you install  "react-tap-event-plugin": "^2.2.0",

which is for react 0.14

if you are react 0.15

install  "react-tap-event-plugin": "^1.0.0", then others package will just install fine

[2016-04-22 15:31] ziadloo opened #4071 "Setting the height of a fixed header table to 100% is neutral and leads headers to scroll away"
Problem Description
-------------------

1. Define a table with enough rows to make the scroll appear
1. Set the props of the table: `height={"100%"} fixedHeader={true}`
1. Now headers are fixed no more

In this scenario omitting `height={"100%"}` makes no change

Versions
--------

- Material-UI: 0.15.0-beta.2
- React: 15.0.1
- Browser: Chrome 50.0.2661.75 (64-bit)

[2016-04-22 15:51] newoga commented on #4070
We decided not to default the website with latest prerelease versions, but the documentation is available when you use the version dropdown. Here are docs for 0.15.0-beta.2 http://www.material-ui.com/v0.15.0-beta.2/#/

Please use the changelog or release notes to see changes betwen versions.

[2016-04-22 15:51] #4070 closed

[2016-04-22 16:12] IrvingAxelB commented on #4045
Hey @skasch, are you building a mobile app only or is this a web app thats mobile responsive? Reason I'm asking is I'm having trouble controlling my dialog component with media queries.

[2016-04-22 16:34] jareddellitt commented on #4053
@tintin1343 gotcha - would it be more reasonable to add list to the [set of components](https://github.com/callemall/material-ui/blob/master/src/styles/getMuiTheme.js) with overridable styles when defining a custom theme and pull those styles from ```context.muiTheme``` inside of List?

[code]

**List.js**
[code]

I guess I'm just looking for a way to override some of the static styles of componen

[2016-04-22 16:46] tintin1343 commented on #4071
Please refer https://github.com/callemall/material-ui/issues/2369 for further details on it. This is not an issue with the table design.

Height=100% means height='auto' which means that it will pick up whatever height is available in the parent div

If you need a scroll you will always have to mention a height. like height: 400px or some value.

I am closing this as its a duplicate issue. If you

[2016-04-22 16:46] #4071 closed

[2016-04-22 17:04] tintin1343 commented on #4068
I tried recreating the issue in the examples project.

![screen shot 2016-04-22 at 12 01 26 pm](https://cloud.githubusercontent.com/assets/15271922/14748919/0ebebb50-0882-11e6-9d21-48f1389a860f.png)

i did not face any issue.

heres my code:

`Main.js`
/**
 * In this file, we create a React component
 * which incorporates components providedby material-ui.
 */

import React from 'react';
import Ra

[2016-04-22 17:04] #4068 closed

[2016-04-22 18:18] tintin1343 commented on #2966
I Think thats the problem with popoover as I was able to reproduce it in popover docs page too.

[2016-04-22 18:26] tintin1343 commented on #2971
@arnekolja : This no longer happens.

![screen shot 2016-04-22 at 1 24 32 pm](https://cloud.githubusercontent.com/assets/15271922/14751033/92f2ff52-088d-11e6-8de0-1b302c216a93.png)

When I select the longer text it looks like this:
![screen shot 2016-04-22 at 1 25 09 pm](https://cloud.githubusercontent.com/assets/15271922/14751047/ab663b94-088d-11e6-8c63-054e01a4a22d.png)

However the solution you

[2016-04-22 18:26] #2971 closed

[2016-04-22 18:40] tintin1343 commented on #2991
Not reproducible on docs page. Try updating to the latest version of MUI.

I am closing this for now.

[2016-04-22 18:40] #2991 closed

[2016-04-22 18:51] lucianosemerini commented on #4065
In my case, I am trying to do some kind of Wizard with tabs and a Previous/Next set of buttons.

My state has activeTab, showNext and showPrevious.

One function handles the change when clicking a tab, another when clicking on previous/next buttons.

All was working well until I added a textbox in a Tab, and on keyDown it was triggering the onChange of Tabs...

@ssolders workaround helped me, than

[2016-04-22 18:58] tintin1343 commented on #3273
I have worked on similar issues and e.preventDefault()  works in most cases. If you have have not tried it out , do let us know once u do.

I am closing this issue for now . If you still have an issue after trying out the suggested solution do let me know I will reopen this.

[2016-04-22 18:58] #3273 closed

[2016-04-22 19:01] rob2d commented on #3273
The issue in the latest stable version is resolved when adding prevent default to the actual icon div click evebt -- but this shouldn't be a necessity since the context menu itself should be the initial scope of the SyntheticEvent.

Thanks for checking in though!

[2016-04-22 19:07] tintin1343 commented on #3181
Reproducible in the docs.
![screen shot 2016-04-22 at 2 06 45 pm](https://cloud.githubusercontent.com/assets/15271922/14752198/785744c2-0893-11e6-8961-8de4a575afdb.png)

[2016-04-22 19:09] tintin1343 commented on #3282
@aush : What is that you want to achieve?

[2016-04-22 19:21] tintin1343 commented on #3292
https://github.com/callemall/material-ui/issues/4053
https://github.com/callemall/material-ui/issues/3476

Closing this.

[2016-04-22 19:21] #3292 closed

[2016-04-22 19:24] tintin1343 commented on #3476
You have made a good point here. This has been a  long standing issue. we are planning for a refactor and hence forth all discussions will follow on this post.

https://github.com/callemall/material-ui/issues/4053 .

Closing this.

[2016-04-22 19:24] #3476 closed

[2016-04-22 19:29] tintin1343 commented on #3382
![screen shot 2016-04-22 at 2 29 00 pm](https://cloud.githubusercontent.com/assets/15271922/14752722/9400a170-0896-11e6-98c4-4273f29243e2.png)

Reproducible in the docs. This is bad.

[2016-04-22 19:44] oliviertassinari commented on #2663
@tintin1343 Yeah, this issue is pretty old. I believe that it was fixed at the ` inline-style-prefixer` level.

[2016-04-22 19:44] #2663 closed

[2016-04-22 19:58] dwoodlock commented on #2663
Yes – OK by me.

From: Olivier Tassinari [mailto:notifications@github.com]
Sent: Friday, April 22, 2016 2:45 PM
To: callemall/material-ui
Cc: Woodlock, Don (GE Healthcare); Author
Subject: Re: [callemall/material-ui] -webkit- prefix not being added to 'transform' on iOS8 (#2663)

@tintin1343<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_tintin1343&d=CwMCaQ&c=IV_clAzoPDE253xZdHuil

[2016-04-22 20:39] tintin1343 commented on #3444
Not able to reproduce this closing this for now.

Try upgrading it to the latest version of the MUI and see if still is an issue?

[2016-04-22 20:43] tintin1343 commented on #3464
I am closing this for now as e.preventDefault seems to work.

Please check it with the latest version of MUI and also try the suggested solution above. If its still a problem do let me know. I will reopen this.

[2016-04-22 20:43] #3464 closed

[2016-04-22 20:56] tintin1343 commented on #3478
Why Don't you use an iconButton Instead?

Check the docs example for the `github` icon. Check the tooltip example.

[2016-04-22 21:09] #3478 closed

[2016-04-22 21:10] tintin1343 commented on #3418
@nathanmarks : Is still a WIP?

[2016-04-22 21:18] tintin1343 commented on #3643
I am closing this for now as this is not a priority and we are fine now with the clause mentioned in the SLa as @hai-cea mentioned above.

If we need to discuss it further this can be reopened.

[2016-04-22 21:22] tintin1343 commented on #3537
Reproducible in the docs website. Thanks for pointing this out @raptoria

[2016-04-22 21:24] tintin1343 commented on #3558
@sburgess8 : Has this issue resolved for you by using the above PR suggestion? Do let us know.

[2016-04-22 21:29] stephenburgess8 commented on #3558
Thanks for your interest. #3583 does not solve the issue of dropdown menus being accessible in the tab index of a page. This issue is preventing our adoption of this component. I have not compared the DropDownMenu vs IconMenu vis a vis tabbing since the most recent major refactor. I will include it on my todo list to investigate and hopefully work on a PR in the near future.

[2016-04-22 21:31] tintin1343 commented on #3558
Cool. That would be awesome. Thanks!

[2016-04-22 21:35] nathanmarks commented on #3643
@tintin1343 let's leave this open for now

[2016-04-22 21:35] nathanmarks commented on #3643
@tintin1343 Oh -- you spoke to @hai-cea ?

[2016-04-22 21:37] tintin1343 commented on #3561
@dmlinn : I agree with the resizing portion of it which I feel is fine. However it is not off center in the docs website where I tried to reproduce the issue.

Also when you paste something in a textField the focus stays on the text field. If you want the focus to shift to the button press tab till the button gets the focus and press enter, It will submit only once.

I am closing this. Since there

[2016-04-22 21:37] #3561 closed

[2016-04-22 21:39] tintin1343 commented on #3643
@nathanmarks : yes we did have a discussion once regarding this and we decided that the CLA is not an immediate priority for us now as we have the details in the MIT license that we have and it may not be as assertive as a CLA but it still does the job.

I don't mind keeping this open, if you want it to be open.

[2016-04-22 21:42] nathanmarks commented on #3643
@tintin1343 Ok, I didn't realise you had a discussion with @hai-cea after the post above. Since there he mentioned still needing time to look into it. We can re-close if he has decided this isn't something he wants to do.

[2016-04-22 21:42] nathanmarks commented on #3418
leave open

[2016-04-22 22:03] tintin1343 commented on #3635
Could be more descriptive on this?

Please refer to the contributing guide https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md for further guidelines on posting an issue. Try this with the latest version of MUI and repost an issue if it still occurs.

I am closing this for now.

[2016-04-22 22:03] #3635 closed

[2016-04-22 22:04] tintin1343 commented on #3756
@oosthoek : have you tried upgrading the latest version of MUI? If not please try it and let me know if its still an issue.

[2016-04-22 22:05] tintin1343 commented on #3643
@hai-cea : Would like your opinion on this.

[2016-04-22 22:57] nathanmarks commented on #3643
@tintin1343  Let's leave this open if @hai-cea has not actually made a decision.

[2016-04-22 23:17] EasonWang01 commented on #4070
thanks

[2016-04-23 02:44] aush commented on #3282
I'm trying to set a width of a slider by setting it to 50% (of parent container).

Expected result: the slider takes 50% of parent container width.
Actual result: it takes 25%.

[2016-04-23 03:29] nathanmarks commented on #4066
@chrismcv in 6. regarding the more general `xxxxStyle` props, what do you think?

[2016-04-23 06:08] diwyanshu commented on #2347
Thank You Call-Em-All  team for providing the lovely platform of Material Design on top of  React

I have  a question to ask:

By any means is it possible to do multiple selection from the list  ??
 Like in the **wrapstate**

is it possible to provide the selected index prop, can be provide an array of index  rather than a single one

Or will it be better to make a component by own for multiple se

[2016-04-23 06:21] matthewoates commented on #1348
I think so. The tooltip is really lacking for me. Namely, there are two things I need (aside from the current bugs mentioned in https://github.com/callemall/material-ui/issues/3665 and https://github.com/callemall/material-ui/issues/1495)

1) More flexibility in relative positioning. I'd like to position the tooltip all the way to the right or left, and not just above/below.

2) The tooltip as far

[2016-04-23 07:21] owencm commented on #3712
I've done a v1 implementation here: https://github.com/owencm/material-ui/tree/bottom-navigation

It has a bunch of TODOs outlined until it's ready for creating a PR. I may get around to finishing it up but feel free to jump in from this point if you're enthusiastic!

[2016-04-23 07:26] mlarcher commented on #2818
@haradakunihiko: this issue is related to npm-shrinkwrap, which is not involved on the problematic scenario, so I wonder if it could work in our case. I should give it a try, but for now we moved to npm3 to avoid the issue.

Just to make it clear,  our situation is the following:
We have a 0.14 version of React in our package.json and npm@2 installs a newer version of the same minor within node_mo

[2016-04-23 08:47] oliviertassinari commented on #3484
@owencm I completely agree with you. No seeing the ripple animation provide a poor perception of performance.
I must say that I haven't seen much this issue on my [Cordova](https://splitme.net) application.
I'm wrapping every `onTouchTap` handlers with a `setTimeout(, 0)`.
Still, the issue happens from time to time.

@mbrookes Notice that in some cases, we are introducing a delay, e.g the [`<AutoC

[2016-04-23 08:55] oliviertassinari commented on #2347
@diwyanshu The feature you are looking for isn't implemented here. Still, we have a HOC that is close to: [MakeSelectable](https://github.com/callemall/material-ui/blob/390108d0b0a45b00b40cc70bb7a53995b073a79c/src/List/MakeSelectable.js).
You could start from here and do some little changes.

[2016-04-23 16:27] tintin1343 commented on #3282
@aush : Thanks for your reply. I will take a look into it.

[2016-04-23 16:51] ralomucho opened #4077 "[Table] TableRow event handler props not working"
Problem Description
-------------------
Making a new component with Table component, I can't achieve to handle click events :

`<TableRow key={index + 1} selected={row.selected} onRowClick={(ev, row) => console.log('row')}>`

My callback isn't called because it is replaced  by onRowClick function declared in TableBody.js during the execution of createRows.

Versions
--------
- Material-UI: 0.15.0-

[2016-04-23 19:24] rkstar commented on #1594
just updating the source link in this issue for anyone who might find this.
[code]
https://github.com/callemall/material-ui/blob/master/src/TextField/TextField.js#L330

[2016-04-23 19:46] leonardoblanco opened #4078 "[MenuItem] - It changes the css when normalize.css is used"
Problem Description
-------------------

When I load normalize.css the MenuItem change your own view like this:

![image](https://cloud.githubusercontent.com/assets/16529996/14763673/9d05c390-0972-11e6-9187-a2976d9290cc.png)

Versions
--------

- Material-UI: 0.14.4
- React: 15.0.1
- Browser: Versão 50.0.2661.86 (64-bit)

[2016-04-23 20:01] nathanmarks commented on #4078
https://github.com/callemall/material-ui/issues/3764

[2016-04-23 20:01] #4078 closed

[2016-04-23 20:01] vaishsh opened #4079 "[Tabs] InkBar for Tabs should be optional"
## Problem Description

There should be a facility to choose whether to include Inkbar in the Tabs. InkBar component is included in the Tabs render method, which forces Inkbar for every tab.
## Versions
- Material-UI: v0.15.0-beta.2
- React: 15.1
- Browser: Chrome

[2016-04-23 20:01] nathanmarks commented on #3764
Closing in favour of https://github.com/callemall/material-ui/issues/3764

[2016-04-23 20:01] #3764 closed

[2016-04-23 20:02] nathanmarks commented on #3764
I know this one is older -- but I updated the other one to address the core problem already.

[2016-04-24 00:40] nathanmarks commented on #4066
@chrismcv I think that `xxxxStyle` props should go in the `style` property, not the `className`-ified style object.

[2016-04-24 01:21] antoinerousseau opened #4081 "[DatePicker & TimePicker] broken style since beta 2"
See:
http://www.material-ui.com/v0.15.0-beta.2/#/components/date-picker
http://www.material-ui.com/v0.15.0-beta.2/#/components/time-picker

Problem Description
-------------------
A white padding at the top has been introduced, see this before/after:

<img width="173.5" alt="before" src="https://cloud.githubusercontent.com/assets/160279/14764938/c52f9ba2-0990-11e6-89fe-d48bcaba39ab.png"> <img widt

[2016-04-24 01:45] antoinerousseau commented on #4081
Might have been introduced here: https://github.com/callemall/material-ui/commit/baed4d75c2591181adbc44f674d28f8712480608#diff-b256466e0b5fd7c128b64e59315114faR144

[2016-04-24 10:20] jackyon commented on #718
+1

[2016-04-24 10:38] haradakunihiko commented on #2818
@mlarcher Actually, I'm definitely in the same situation, but with react-bootstrap. React-bootstrap has peer dependencies for react and it installs newer version of react inside react-bootstrap module.
And it is very likely because of shrink-wrap (https://github.com/npm/npm/issues/5135#issuecomment-207684987). This could happen also with material-ui.
I think this kind of issue is not caused by a s

[2016-04-24 10:40] jackyon commented on #2115
that's weird, I have upgrade to the next version "0.15.0-beta.2", but the issue still exist, is there any solution for this?

plz advise. thx.

[2016-04-24 14:52] oliviertassinari commented on #4039
@nathanmarks That's some really good food for thought.
1. I have started using jsdom with the `mount` function of enzyme on one of my project. That's working well so far. That would speed up the tests and reduce the complexity. I'm all in :+1:.
2. I agree.
3. I'm not too familiar with the existing test. I was also wondering. What do you think about using enzyme where we simply use the react test u

[2016-04-24 15:05] willemx commented on #2189
Also have this issue, but cannot use the stopPropagation-workaround because the event is triggered inside a third party component :(
So now I must have a check in the onChange handler for all valid Tab-values...

[2016-04-24 15:05] nathanmarks commented on #4039
@oliviertassinari

1. Cool! And the great thing is you can always run the exact same tests with a karma, etc, anything you want.

3. We can definitely use it for the mounting, but there are some things that we still need to use the react test utils for though (as you saw in my `RaisedButton` test).

PS: did you see facebook are recommending `enzyme` as a testing option now? https://facebook.github

[2016-04-24 15:07] nathanmarks commented on #4077
Dupe of https://github.com/callemall/material-ui/issues/1783

[2016-04-24 15:07] #4077 closed

[2016-04-24 15:18] nathanmarks commented on #4051
@lefnire Any chance you were able to reproduce with the latest beta?

[2016-04-24 18:28] oliviertassinari commented on #4039
Yeah, I have seen the commit. That's great. It's becoming a standard. We are using it here, I'm using it at the office and on my projects 👍.

@nathanmarks Looks like we have a plan:

1. Setup the karma tests so that they can also be run in node using JSDOM.
2. Organize the folder better. Bootstrap the JSDOM globals for the unit tests.
3. Identify any "browser" tests we currently have that can be c

[2016-04-24 18:40] oliviertassinari commented on #4066
@nathanhere Thanks for bootstrapping the conversation. That's definitely one of the major issues we need to address for the next releases 💯 .

For me, that's one of the main concern I have with the solution we will choose.
We don't have many benchmarks, be we can easy imagine that we lost many CPU cycles with our current approach. The CPU cycles are lost into memory allocations and garbage collect

[2016-04-24 19:15] nathanmarks commented on #4039
@oliviertassinari Awesome, sounds good to me.

[2016-04-24 19:30] oliviertassinari commented on #4081
@antoinerousseau Thanks for the report! That should be fixed soon.

[2016-04-24 19:32] nathanmarks commented on #4066
@oliviertassinari

I am playing around with a couple of the JS style solutions at the moment.

One thing I was thinking -- outside of dynamic style properties (for eg, if the component has a `color` prop), should we be changing the way we create the base style object?

It seems as though with the JS style libs, to get maximum performance you should use their `StyleSheet.create()` method once and h

[2016-04-24 20:04] rvbyron commented on #4066
Well, I for one would like to see a number of things take place.

A) Yes, by all means get rid of using the element's `style` parameter at the library level. All of the components should be defined using `className`. Having the components use style destroys all of the power CSS offers.
B) It would be great to have classNames automatically attached to the root element of each component (e.g. The `R

[2016-04-24 21:20] #4081 closed

[2016-04-24 22:05] lefnire commented on #4051
sorry, haven't had a chance yet - hopefully tomorrow

[2016-04-25 01:13] jackyon commented on #2115
sorry, new version did work, it fixed the issue.

[2016-04-25 02:48] joncursi opened #4083 "Add support for Material Bottom Navigation"
Material design has a new "Bottom Navigation" component for android and iOS apps!

https://www.google.com/design/spec/components/bottom-navigation.html

Do you guys have this on your roadmap? This would be a wonderful addition to this library! Thanks for your hard work!

[2016-04-25 03:07] joncursi commented on #4083
Sorry, I see this has been listed as an issue already in https://github.com/callemall/material-ui/issues/3712  - closing and will comment there!

[2016-04-25 03:07] #4083 closed

[2016-04-25 06:59] blackChef commented on #288
`$ npm i --save react-tap-event-plugin@0.2.2`

Just for your information.

[2016-04-25 07:21] FranBran opened #4084 "[Card] Adopt styling more strictly to Material Design"
Card-components should mostly use margins instead of paddings in order to collapse spacings.

For example:

current state:
![asis](https://cloud.githubusercontent.com/assets/1215407/14776417/dbc3bd12-0ac6-11e6-8bcb-550a96c6a0cb.PNG)

expected:
![adopted](https://cloud.githubusercontent.com/assets/1215407/14776367/89f084d4-0ac6-11e6-8b3d-090a08cdba62.PNG)

[2016-04-25 12:14] Spyes commented on #3311
Sorry to re-open this thread, but I need exactly this functionality. I have a data attribute that I need to pass to my onChange function, and I have no way of doing this...  Any ideas? Thanks!

[2016-04-25 12:43] TrySpace commented on #3311
@Spyes I think this would need to be implemented per `Component` in this repo

[2016-04-25 12:48] Spyes commented on #3311
@TrySpace For now I've modified material UI's ListItem component to also include the data I pass to it into the div, thanks

[2016-04-25 14:38] tintin1343 commented on #3689
@oliviertassinari : Can this be closed?

[2016-04-25 14:40] tintin1343 commented on #3667
@newoga : Are we going to include this in the upcoming release?

[2016-04-25 14:47] alan-kleiman-ingressorapido commented on #3980
Repeating @akosk's question, is there a reason for `[this.state.selectedRows[this.state.selectedRows.length - 1]]`? Would you guys accept a PR that removes it?

[2016-04-25 15:21] tintin1343 commented on #3653
@leesiongchan : What is iconStyle? where did that come from? You haven't specified an iconStyle in your jsx Code.

This is not an MUI issue. I am closing this for now. If you need further help on this, please use the gitter channel of material-ui or post this on stackoverflow using the material-ui tag.

[2016-04-25 15:21] #3653 closed

[2016-04-25 15:28] tintin1343 commented on #3654
@adrianmc : were you able to solve the problem using the above solution? Menu and ListItem component is currently too complexed and a rewrite is being planned.

If you were able to get the problem fixed by overriding the 'listItem.rightIcon' color, I would close this for now. Do let me know.

[2016-04-25 15:40] mbrookes commented on #3689
@tintin1343 - two thumbs up says yes. 😄

[2016-04-25 15:40] #3689 closed

[2016-04-25 15:50] adrianmc commented on #3654
@tintin1343 Unfortunately, I didn't get around to it. I just gave up and omitted the indicator. It's not a big deal, just something to think about on the next rewrite, I guess. Thanks anyway.

[2016-04-25 16:02] tintin1343 commented on #3654
@adrianmc : Thanks for pointing it out. SInce the problem was not solved I am reopening this issue so that we can keep a track of changes we need to do for the redesign.

[2016-04-25 16:14] tintin1343 commented on #3629
Confirmed.

[2016-04-25 17:33] tintin1343 commented on #3282
@aush : This should be fixed after the PR is merged.

[2016-04-25 17:52] rvbyron commented on #4066
Hmmm... I left a comment here yesterday (Sunday). Did it get deleted?

[2016-04-25 18:57] tintin1343 commented on #3771
Currently the material design spec does not clearly specify how did should be handled.

You could use divs for now to show errorTexts in them using onCheck event handler.

I am closing this issue for now, if you need further help you could use the gitter channel of material-ui or post your question on stackoverflow using ''material-ui tag.

[2016-04-25 18:57] #3771 closed

[2016-04-25 19:02] #2262 closed

[2016-04-25 19:30] tintin1343 commented on #4079
@vaishsh : The current material Spec does not have any guidelines for Tabs without Inkbars. I am not sure if it will be a good idea to have tabs without Inkbar.

I would wait for the other collaborators to comment on this.

[2016-04-25 19:35] lefnire commented on #4051
@nathanmarks https://github.com/lefnire/jobpig/tree/lefnire/MUI-0.15 ; beta2, same visuals. Note I also have Bootstrap CSS in there (I needed full-screen modals on mobile); even if you remove the bootstrap <link> you'll see the same artifacts. Let me know if I should try adding/removing anything

[2016-04-25 19:41] mbrookes commented on #3771
I would add that the most obvious reason for this apparent omission is that there is theoretically no incorrect state for CheckBox or RadioButtons.

(Theonly  exception might be the "Accept the Terms & Conditions" `Checkbox` anti-pattern.)

[2016-04-25 20:25] nathanmarks commented on #4051
@lefnire I'm not sure what to say as I wasn't seeing it on my end. Sounds weird but have you tried another computer?

[2016-04-25 20:26] nathanmarks commented on #4066
@rvbyron I remember it clearly. I certainly didn't delete it though.

[2016-04-25 20:27] lefnire commented on #4051
I feel ya, it's quite a rabbit hole with no easy leads. If beta2 docs are working on your end, it's obviously some conflict on my end (with another module or such). I'll keep exploring and let you know if anything relevant for MUI's purposes crops up. Thanks for bearing with me!

[2016-04-25 20:27] #4051 closed

[2016-04-25 20:28] oliviertassinari commented on #4066
@rvbyron I do remember it too. I have no idea what happen.

[2016-04-25 20:28] nathanmarks commented on #4051
@lefnire How do the beta 2 docs look on your end?

[2016-04-25 20:29] nathanmarks commented on #4051
@lefnire It was actually the beta2 version on your repo that was working for me -- i went back and installed at your commit hash https://github.com/lefnire/jobpig/commit/140dd9c705dc08ec3d898deb0d39d09dd2d158d3

[2016-04-25 20:30] nathanmarks commented on #4051
@lefnire that's where this screenshot is from: https://cloud.githubusercontent.com/assets/4420103/14741646/c9bbc244-0865-11e6-85a7-0c795cc2b5fd.png

[2016-04-25 20:39] lefnire commented on #4051
will check when I get a chance

[2016-04-25 20:57] 5amfung commented on #3764
Why is this issue closed as a duplicate to itself?  I don't see it's resolved.  Should it be reopened?

[2016-04-25 21:04] agoldis opened #4088 "[Toggle] enable switched thumb and track styling"
I thought it would be nice to have the styles of switches being customisable  when in "switched on" mode. That seems to be a useful feature in case you want to mark some switch in different color when switched on.

[2016-04-25 21:20] agoldis commented on #4088
![switch example](https://cloud.githubusercontent.com/assets/1637928/14799352/b024cfe2-0b44-11e6-82b2-10bb14f075a3.gif)
like this

[2016-04-25 21:23] nathanmarks commented on #3764
@5amfung sorry, posted the wrong one: https://github.com/callemall/material-ui/issues/4008

[2016-04-25 21:34] tintin1343 commented on #3147
I am closing this for now. if you still have the issue do let me know by leaving a comment below. I will reopen the issue.

[2016-04-25 21:34] #3147 closed

[2016-04-25 21:37] tintin1343 commented on #3644
@bramick : I hope this issue was resolved for you. I am closing this for now. If you still have issues with this, do let us know. Thanks!

[2016-04-25 21:37] #3644 closed

[2016-04-25 21:38] tintin1343 commented on #3568
Closing this as its a duplicate.

[2016-04-25 21:38] #3568 closed

[2016-04-25 21:39] tintin1343 commented on #3483
Closing this as its a potential duplicate.

[2016-04-25 21:39] #3483 closed

[2016-04-25 21:53] tintin1343 commented on #2977
Since you were able to find a workaround I am closing this issue for now.

[2016-04-25 21:53] #2977 closed

[2016-04-25 21:58] tintin1343 commented on #3964
I am closing this for now as this works perfectly and the description is not very clear.

Please post an issue again with a detailed description. Refer to https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md for further guidelines about positing an issue. The more descriptive you are the better.

Thanks!

[2016-04-25 21:58] #3964 closed

[2016-04-25 21:58] tintin1343 commented on #3756
I am closing this for now. If you still have an issue with this please leave a comment below and I will reopen the issue for you.

[2016-04-25 21:58] #3756 closed

[2016-04-25 22:21] tintin1343 commented on #3716
@TrySpace : Please post only one issue in a thread. Its confusing to discuss and keep track of multiple ones.

Also, though the default material spec does not mention anything about cursor for the toggle component. What you have mentioned still makes sense.

Care to submit a PR?

[2016-04-25 22:32] tintin1343 commented on #503
Could not be reproduced. Closing these issues.

[2016-04-25 22:32] #503 closed

[2016-04-25 22:34] tintin1343 commented on #333
I think React-transition group already helps achieve all these. Closing this.

[2016-04-25 22:45] darkyen commented on #333
Not it does not. React is extremely primitive when talking about animations.

[2016-04-25 22:50] tintin1343 commented on #2577
@Beingbook : Hope this was resolved for you. I am closing this for now. If its still an issue do let me know below. I will reopen it.

[2016-04-25 22:50] #2577 closed

[2016-04-25 22:52] tintin1343 commented on #2531
@ZhnZhn : Hope this is resolved for you. If this is still an issue do let me know I will reopen this.

[2016-04-25 22:52] #2531 closed

[2016-04-25 22:55] tintin1343 commented on #2505
Could you be more descriptive about the issue when you make a post. it helps us better understand it and help you better.

Please go through the https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md document for guidelines with respect to posting issues.

I am closing this for now. If you still have the above issue create a new post by following the guidelines mentioned in the link

[2016-04-25 22:55] #2505 closed

[2016-04-25 22:56] tintin1343 commented on #2335
@frankPairs : Hope this was resolved by the above solution. I am closing this for now. If this is still an issue do let me know. I will reopen this.

[2016-04-25 22:56] #2335 closed

[2016-04-25 22:59] tintin1343 commented on #3140
Closing this.

[2016-04-25 22:59] #3140 closed

[2016-04-25 22:59] tintin1343 commented on #3613
Closing this.

[2016-04-25 22:59] #3613 closed

[2016-04-25 23:12] eXeC64 opened #4090 "<SelectField> takes several seconds to open/close with many children"
Problem Description
-------------------

I have a `<SelectField>` with a few hundred children. It takes several seconds to open and close the drop down menu it provdes. This is a serious usability problem when selecting from many possible values.

Versions
--------
- Material-UI: 0.14.4
- React: 0.14.7
- Browser: Chromium 50.0.2661.75

[2016-04-25 23:52] ciwolsey commented on #4077
Having this problem too - on any new version.

[2016-04-26 00:06] a17 commented on #4090
I have similar problem with delays at opening/closing for 20+ items in SelectField. It works instantly with only a few menu items.

[2016-04-26 02:08] caojinli opened #4091 "why no response when I click <ContentAdd> button with added function to onTouchStart."
<FloatingActionButton style={style}  mini={true} >
		  <ContentAdd onTouchStart={(e)=>{console.log(11);}} onTouchEnd={()=>{console.log(222)}}/>
		</FloatingActionButton>

[2016-04-26 02:59] nathanmarks commented on #4090
Closing in favour of:

https://github.com/callemall/material-ui/issues/3289
https://github.com/callemall/material-ui/issues/2787

[2016-04-26 02:59] #4090 closed

[2016-04-26 05:59] juneidysoo commented on #3186
For what it's worth, I found a workaround by having the message in an array. The source is using === checks which will check for array reference. As long as you are using the same array reference, no reopens will happen.

[2016-04-26 07:45] skasch commented on #4045
Hey [@IrvingAxelB](https://github.com/IrvingAxelB), I am building a responsive web app!

[2016-04-26 07:45] skasch commented on #4045
Hey @IrvingAxelB, I am building a responsive web app!

[2016-04-26 07:47] chrismcv commented on #4066
@rvbyron - had it in my email, so back here in quoted form!

[2016-04-26 09:47] stephenkingsley commented on #3734
i think mui V15 has this issue, mui V14.0.4 is right.

[2016-04-26 09:57] liesislukas commented on #3046
Landscape too.

It looks ok, till you realise that April has **more** days.

![image](https://cloud.githubusercontent.com/assets/2733862/14814274/4fd2800c-0bae-11e6-81d8-eb0a8ef9a2ec.png)

[2016-04-26 12:36] mbrookes commented on #4091
I'm not sure if this is even a MUI question, but in any case, please use SO or Gitter for questions as per the issue template you deleted.

[2016-04-26 12:36] #4091 closed

[2016-04-26 13:49] nathanmarks commented on #4066
@chrismcv Thanks dude!

I think that what @rvbyron has to say is important because in some ways, JS styling is very much a paradigm shift from regular CSS. Most people are **not** using JS styling in their day job and it requires a different way of thinking + makes it harder for designers who may usually contribute to projects that aren't so proficient in JS.

It's important to consider all the an

[2016-04-26 14:00] pricetula opened #4092 "Drawer component on DOC v0.15.0-beta.2 throws an error ' Missing class properties transform '"
Following the official documentaion of material UI v0.15.0-beta.2 the Drawer Component function
`handleToggle = () => this.setState({open: !this.state.open});`
throws an error Missing class component.

However I have used:
[code]

And its working not throwing any error.
- Material-UI: 0.15.0
- React: 15
- Browser: firefox

[2016-04-26 14:30] antialiasis commented on #4040
Why does the changelog and readme point to this tool as making upgrading painless if in fact it doesn't work? If it's currently nonfunctional, the docs should note that instead of acting like it's ready for use.

[2016-04-26 14:49] ShadowMen opened #4093 "[FlatButton][ListItem][MenuItem] Wrong design in chrome 47"
Problem Description
-------------------

The following example shows the bug with the `FlatButton` component.
ListItem and MenuItem have similar problems

[code]

[2016-04-26 15:36] antialiasis opened #4094 "[Docs] Theming docs for 0.15.0-beta.2 still import color-manipulator the old way"
Problem Description
-------------------
In [the theming docs](http://www.material-ui.com/v0.15.0-beta.2/#/customization/themes), the example under API imports material-ui/utils/color-manipulator:

    import ColorManipulator from 'material-ui/utils/color-manipulator';

If a user follows this example, it produces an error. I had to look at the source to find that the current equivalent import state

[2016-04-26 16:10] mbrookes commented on #4094
Thanks.

Fixed in #4095 with:

[code]

[2016-04-26 17:12] #4094 closed

[2016-04-26 17:38] colinshen opened #4096 "Add require * for text field?"
I can find require sign * in text field. add it?
-------------------

Versions
--------

- Material-UI: v0.15.0-beta.2

Form Material Design site, there is [require sign * for text field](https://www.google.com/design/spec/components/text-fields.html#text-fields-required-fields)

[2016-04-26 18:29] nastiatikk commented on #4066
Hi Material-UI team!

Have been following you for a while and now, seeing this topic, I also wanted to contribute with some thoughts why moving from inline-styles to css might be a good idea. I have read a lot of discussions in this repo that cover the rendering performance, styling children/nested elements, the media queries, pseudo-elements, etc., so I'll focus on something else that I haven't m

[2016-04-26 19:24] EloB commented on #3997
I think the problem is in `react-router`. The `<Link />` doesn't use `onTouchTap` property. Made some small hacks to it and got it to work but `react-router` won't support it. https://github.com/reactjs/react-router/issues/1795

[2016-04-26 19:27] jcheroske commented on #1521
I have just spent the last several hours plumbing the depths of the Dialog component. It appears that there is a direct child DIV of the 'content' DIV that is unreachable. None of the *style props target this element, but it has essential styles applied to it. These include the background color of the entire dialog, border radius and height.

[2016-04-26 19:30] Mangatt opened #4097 "Missing margin"
I'm using MUI 0.15.0-beta.2 and I'm having problem with missing margin when I move buttons inside another component.

![margin](https://cloud.githubusercontent.com/assets/2706990/14831445/1a6f2aee-0bf6-11e6-86c5-85a1902343a6.png)

Do you have any idea why is this happening?

[2016-04-26 19:31] rvbyron commented on #4066
@chrismcv

Thanks for finding the email and placing it into the commentary!

[2016-04-26 20:17] seanrankin commented on #1521
Funny, we were looking for the same thing at the same time @jcheroske... I'm running down that rabbit hole myself today.

[2016-04-26 20:34] seanrankin commented on #1521
Ok @jcheroske here's what I did:

// Declared a style with important...
.dialogRadiusHack > div:first-child {
  border-radius: 10px 10px 5px 5px !important;
}

Set a custom style name on the dialog:
contentClassName="dialogRadiusHack"

[2016-04-27 02:07] caojinli commented on #4091
Thank you for your reply, but another information is it works well if I change the property from 'onTochStart' to 'onTouchTap', How is it, and why, please answer my question and thanks a lot.

[2016-04-27 02:19] genyded opened #4098 "DatePicker dates not showing up"
Problem Description
-------------------
See [this stackoverflow](http://stackoverflow.com/questions/36876817/material-ui-datepicker-dates-not-showing-up/36877933#36877933) for additional info. I have a simple page displaying a DatePicker and the days of the month are set to overflow:hidden causing them not to display. If I toggle the overflow to visible they show up (see screen shots). I can't fin

[2016-04-27 03:21] jcheroske commented on #1521
`!important` wins the Internet yet again.

[2016-04-27 07:14] #4092 closed

[2016-04-27 08:00] stileinverso opened #4099 "[Auto Complete] Dropdown list issue"
See these two images.
In the first one, autocomplete is ok but when the input field is down enough in the page a strange error occurs (image 2).
IMPORTANT: it occurs only when I write some couple of letters, like "pa", "go", "ba", ...!
Is it normal?
![material-ui-autocomplete-01](https://cloud.githubusercontent.com/assets/6285444/14845424/644b0f12-0c5e-11e6-8bc8-167b254a3930.png)
![material-ui-aut

[2016-04-27 09:09] linde12 commented on #3103
The problem is that it doesn't integrate well with these types of libraries.

A `SelectableList` wouldn't work at all with e.g. react-dnd since the `ListItems` can't be wrapped in another component. Even using a normal list and a library like react-dnd it's still a hassle to make the list drag-n-droppable.

I also agree that this shouldn't be core functionality and that material-ui should play wel

[2016-04-27 09:20] mauvew commented on #4093
starts from version 0.15.0-beta1, this problem also occurs in chrome 45. Please see the follow pic for reference:

![image](https://cloud.githubusercontent.com/assets/14197252/14847656/b05758f4-0c61-11e6-93e5-13903db1b4a6.png)

[2016-04-27 12:40] Daxten opened #4100 "Row Hover Effect for Tables"
Hi,
sorry if this is a dupe, tried to find an issue for this but couldn't find anything.

Tables have no hover effect on rows, so it's hard to see, for example, which build I'm starting (workaround for this is to wait for the tooltip)

[2016-04-27 12:44] #4100 closed

[2016-04-27 12:45] Daxten commented on #4100
sorry, seems like I got linked here somehow from somewhere else and created an issue on the wrong repo

[2016-04-27 12:50] L3V147H4N opened #4101 "react-tap-event-plugin and React "1.0 release""
Doc says that react-tap-event-plugin will go away with React "1.0", React is now in Version 15.0.1, not exactly 1.0 but what this all mean for the react-tap-event-plugin dependecy?

[2016-04-27 13:10] nathanmarks commented on #4101
@L3V147H4N that information is outdated and will be fixed in the upcoming release.

[2016-04-27 13:10] #4101 closed

[2016-04-27 13:13] nathanmarks commented on #4093
@mbrookes how many prior versions of browsers like chrome are we supporting (officially)?  Not to say that we can't fix this anyways, just curious what our official policy is

[2016-04-27 13:17] nathanmarks commented on #4093
Figured it out. Object property iteration order is ending up different in [`setValueForStyles()`](https://github.com/facebook/react/blob/eb85b7b2c989faeb6ed8cd787cf67bd5f6d3ec7d/src/renderers/dom/shared/CSSPropertyOperations.js#L194) when touched by a particular script (even though when I iterate over the styles in the `createElement` it still has the original order preserved).

The result is `bac

[2016-04-27 13:18] nathanmarks commented on #4093
@mbrookes I think we can take care of this at the source (`EnhancedButton`) by not passing both `background: none` AND `backgroundColor: 'xxxx'`.

[2016-04-27 13:46] Birssan commented on #647
I see this issue is still not fixed correctly...
The solution proposed in the doc only works in Chrome as @Wofiel said. (still the case in beta 15-0.2)

Wouldn't it better to be able to set like a `htmlFor` to the `<FlatButton>` (or `<RaisedButton>`), set an Id to the input file and that's all ? You wouldn't need to trigger the click manually...
I tried wrapping the button in the label, unfortunat

[2016-04-27 14:12] L3V147H4N commented on #4101
:+1:

[2016-04-27 15:32] kd35a commented on #3113
### Expected behavior
What the [docs](http://www.material-ui.com/v0.14.4/#/components/list) say:

### What happens
Both event handlers get the event

### How to reproduce the problem
Here is a minimal example showing the problem: https://gist.github.com/kd35a/93abbe29a72ca27b7d8102c0255a1005

The following patch does **not** fix the issue:
[code]

### Environment
* Chrome 50.0
* React 0.14.7
* Mat

[2016-04-27 18:11] rvbyron commented on #4066
##### Best of both worlds behavior approach?

What about a "behavior" concept of importing the styling technique that best suits your needs. An import of "StyleTheme" or "ClassTheme" could be used to select the behavior. StyleTheme could refer to the muiTheme object material-ui has today and make the component centric styling developers happy. Or, ClassTheme that would use an SCSS file that is bui

[2016-04-27 18:13] Epotignano commented on #579
+1

[2016-04-27 19:34] tintin1343 commented on #4098
@genyded : Did u try upgrading to the latest version of MUI?

[2016-04-27 20:16] tintin1343 commented on #4099
@stileinverso : Thanks for reporting this. However could you provide more information?
Please read through https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md and follow the issue template and provide more information about browsers etc.

[2016-04-27 20:25] #4039 closed

[2016-04-27 20:25] #3519 closed

[2016-04-27 21:01] NgoKnows opened #4103 "onFocus not firing on Select"
Problem Description
-------------------
onFocus not firing on select element, I essentially have this except it has menu elements inside of it:
`
<SelectField
    value={value}
    onFocus={() => console.log('I am focused')}
 />
`
and when I click in the select, no event is being fired.
Versions
--------

- Material-UI:  v0.15.0-beta.2
- React: 15
- Browser: Chrome 49

[2016-04-27 21:10] tintin1343 commented on #4097
@Mangatt : That is weird I am not able to reproduce the issue:

![screen shot 2016-04-27 at 4 00 15 pm](https://cloud.githubusercontent.com/assets/15271922/14868062/374b07f0-0c91-11e6-962b-f4e09f8d88db.png)

Heres the code: Toolbar
[code]

[code]

[2016-04-27 21:12] #4097 closed

[2016-04-27 21:20] tintin1343 commented on #4096
You can achieve it by putting a * in the `hintText` prop.

Read and look at the docs for textField. It describes all the props you can use and how you can use it.

![screen shot 2016-04-27 at 4 18 50 pm](https://cloud.githubusercontent.com/assets/15271922/14868552/c13e143c-0c93-11e6-882a-7946f3646456.png)

Closing this.

[2016-04-27 21:20] #4096 closed

[2016-04-27 21:45] tintin1343 commented on #4103
Duplicate of https://github.com/callemall/material-ui/issues/3402

[2016-04-27 21:45] #4103 closed

[2016-04-27 23:15] niffin opened #4104 "[DatePicker] can't override `underlineStyle`"
Believe it or not, sometimes you work with designers that are _that_ particular.

I've managed to hack my way through with some creative CSS use but it would be great if we had native support for this eg the dropdown component.

[2016-04-27 23:23] CezarLuiz0 commented on #718
Any idea, guys?

[2016-04-27 23:50] binarykitchen opened #4105 "Enhance AutoComplete with faceted search queries seen in VisualSearch.js"
Your AutoComplete component is neat but we are missing some cool features here you can see in
https://documentcloud.github.io/visualsearch/

Especially the ability to specify the facets and the x icon next to them for removal.

[2016-04-27 23:54] nathanmarks commented on #4066
@oliviertassinari

I think that using something like `scss` + css modules for namespacing/hashing has a **lot** of benefits. Is this something you are 100% opposed to? I'm probably slightly biased because it is what I am accustomed to using at work, but a lot of people are in the same boat.

My main problem with the JS styling situation is it feels like all of the solutions are still a work in pro

[2016-04-28 00:06] nathanmarks commented on #4105
@binarykitchen we're actually looking at **removing** application logic from `AutoComplete` (or splitting it out into a helper) rather than adding more proprietary application logic. Sorry if that isn't what you were hoping to hear!

[2016-04-28 00:06] #4105 closed

[2016-04-28 00:08] binarykitchen commented on #4105
Thats a good move. But I am rather missing the ability to type multiple search words. Thats a pure UI feature, not application logic I think.

[2016-04-28 00:09] nathanmarks commented on #4105
@binarykitchen Ah, you mean like a `Chip` powered multi-select autocomplete thingamadoodle?

[2016-04-28 00:10] nathanmarks commented on #4105
@binarykitchen the pieces are in the making: https://github.com/callemall/material-ui/pull/3870

[2016-04-28 00:11] binarykitchen commented on #4105
yess!

[2016-04-28 00:53] genyded commented on #4098
The console error is from a chrome add on and has nothing to do with the app? Isn't 14.4 the latest non-beta version? I cannot put a alpha/beta version into production.

[2016-04-28 01:01] tintin1343 commented on #4098
@genyded : Alright, I was just making sure theres no error in your mui setup. Yes. 14.4 is the latest non-beta version. Having said that, I put your exact same code in the examples project but was not able to reproduce the error.

Can you share the code here?

[2016-04-28 01:58] nathanmarks commented on #4093
@mauvew I just realized that I fixed your issue and it isn't even the OP's issue...

[2016-04-28 02:09] nathanmarks commented on #4093
For reference, here are some issues in older chrome versions I have found that I am fixing:

![img](https://dl.dropboxusercontent.com/s/h2xvx2tzto7ci54/2016-04-27%20at%2010.08%20PM.png)

![img](https://dl.dropboxusercontent.com/s/mr9le2n5umnhb0k/2016-04-27%20at%2010.09%20PM.png)

[2016-04-28 02:50] nathanmarks commented on #4093
And this one is in the current version of chrome too... 👎

![img](https://dl.dropboxusercontent.com/s/yrgw5ceh37k9gjr/2016-04-27%20at%2010.50%20PM.png)

[2016-04-28 03:32] kylefinley commented on #4040
I ran into the same issue.

I was eventually able to run the codemod by copying the contents of `import-path.js` to the root directory and running if from there, e.g. `jscodeshift -t import-path.js components/**`

I have no idea why this works; I suspect it's a bug with `jscodeshift` and not `material-ui` however.

[2016-04-28 04:03] nathanmarks commented on #4040
@antialiasis The version requiring the codemod is currently in beta testing.

[2016-04-28 05:31] jcheroske commented on #3553
@IrvingAxelB I ran into very similar issues on a recent project. My take is that the dialog should be mobile-first, but it's not, and is therefore difficult to use responsively. It also behaves strangely when flexbox is turned on.

[2016-04-28 06:55] oliviertassinari commented on #4040
@kylefinley Nice feedback. Let's see if I can fix this.

[2016-04-28 08:22] coocssweb commented on #1011
@mbrookes this issue still existence at the version 0.14.4 . I still cannot get a <SelectField> to display on click。
no getting any errors in the console！how can i fix it?

[2016-04-28 08:39] stileinverso commented on #4099
I've tested online demo through Chrome, so I think you can reproduce same issue ;-)

[2016-04-28 08:44] jeffijoe opened #4110 "[Slider/Ripples] Janking in Chrome"
## Problem Description

Using the Slider, the performance is pretty sluggish.

Here's a screenshot of the timeline:

![image](https://cloud.githubusercontent.com/assets/2505474/14880253/25a6c014-0d2e-11e6-9458-73d1c0a71c03.png)

Here's another one:

![image](https://cloud.githubusercontent.com/assets/2505474/14880329/8e0cc432-0d2e-11e6-855a-8cf02fe00302.png)
## Versions
- Material-UI: 0.14
- React

[2016-04-28 08:56] kd35a commented on #3113
This patch seems to work though:

[code]

So maybe this issue should be closed?

[2016-04-28 09:15] EcutDavid commented on #1840
I guess it's very normal, closing this one.

[2016-04-28 09:15] #1840 closed

[2016-04-28 09:18] AresZhu commented on #3712
Why was this thread closed? May I know whether it has been implemented already?

[2016-04-28 12:54] nathanmarks commented on #4110
Eugh! This is a good example of an issue with our styling setup:

![img](https://dl.dropboxusercontent.com/s/tdw6qfex78sz18u/2016-04-28%20at%208.53%20AM.png)

[2016-04-28 12:56] jeffijoe commented on #4110
Prefixing for each frame can't possibly be fast.

[2016-04-28 13:08] nathanmarks commented on #4110
@jeffijoe The styling situation is causing a bunch of issues including poor performance in many scenarios. I've opened a discussion on what the solution should be here #4066 , would appreciate any input!

[2016-04-28 15:28] mbrookes commented on #3712
@AresZhu - this isn't closed?

[2016-04-28 18:41] alitaheri commented on #4066
I think we have different concerns regarding this.

1. Where to put the static styles (easy, a css file can do)
2. How to switch some styles depending on input (className switch)
3. How to apply dynamic styles (inline styles can do that)

All seem good when you're writing an application, no one outside your code needs to change anything.

But with libraries things are different, all the above conc

[2016-04-28 18:48] jmgarciamari opened #4113 "Select field and dropdown menu doesn't change"
- Material-UI: 0.14.4
- React: 0.14.0
- Browser: Chrome and Firefox

Hi, I have a problem with select field and drop down menu, I set the value with {this.state.value}, but when I change the value It keeps the first value I passed although my parent component state changes (it changes). Can you help me? I t happens too If I put dropdown menu instead o select field

Thanks

[2016-04-28 18:51] bman654 opened #4114 "Slider does not update correctly when maxValue property changes"
Problem Description
-------------------
If I render the slider with code like:

[code]

And then I call `setState` to increase `max`, the slider does not update the position of the marker.  If I increase `max` again, then the marker position updates to be where it should have been on the previous render (e.g. it is still wrong).

For example,

* first render, max={100} value={50} and the marker ap

[2016-04-28 19:30] b4be1 opened #4116 "keyboardFocused={true} sets only appearance, but not actual focus"
Problem Description
-------------------

Running the [Simple dialog](http://www.material-ui.com/v0.15.0-beta.2/#/components/dialog) example, I found out that although **Submit** button gets highlighted, one cannot call any event by pressing Enter. Bringing focus to **Submit** by pressing TAB a few times and then pressing Enter works fine. I suspect the problem is that `keyboardFocused={true}` is o

[2016-04-28 19:42] nathanmarks commented on #4066
@alitaheri

You raise some great points. Thanks. I'm wondering if some sort of hybrid solution is a possibility. Seems that no matter what angle we take there are a bunch of issues 😆

I have time to work on this next week -- let's have a chat and see if we can come up with a clever idea.

[2016-04-28 19:55] nathanmarks commented on #4066
Another random note -- it would be great if we had a way to enforce certain code conventions and design patterns for inline/jsstyle/whatever across the lib.

[2016-04-28 20:52] #4093 closed

[2016-04-28 21:40] oliviertassinari commented on #4066
@nathanmarks I'm not 100% opposed to. But from my point of view, it's a dead-end.
One of the main advantages of React is to abstract away the rendering specificity of browsers: the DOM.
As far as I know, the long term goal of the React Core Team is to provide an API to write cross-platform component. SCSS won't help. Actually, they are [currently experimenting](https://github.com/reactjs/core-note

[2016-04-28 22:34] visvadw commented on #3409
I think this issue is more generic. As an example, although it applies to RaisedButton but not FlatButton, it also applies to Dialog.

[2016-04-28 22:56] nathanmarks commented on #4066
@oliviertassinari I agree with the dead-end conclusion -- it's not the future. I brought it up largely to stimulate the conversation about how to make JS styles work for us 😄 Wish FB were a _tiny bit_ further along with their experiments!

I actually think the `getStyles()` pattern we currently employ has it's own problems. @alitaheri and I had a pretty good chat today about what to do to improve

[2016-04-28 23:38] tonyjmnz commented on #4059
hey @rkstar, did you find a solution to this? I'm getting the same issue.

[2016-04-29 02:48] hburrows commented on #4066
Just read this post on Lessons Learned At React Amsterdam (https://medium.com/@kitze/lessons-learned-at-react-amsterdam-51f2006c4a59#.o12h794or) and one of presentations was about solutions for styling in React: http://slides.com/kof/javascript-style-sheets#/  A timely presentation for this discussion.

[2016-04-29 03:03] hburrows commented on #4066
One requirement that I keep thinking about and that I haven't seen explicitly stated (at least that I recall) is the need to support web-only vs. web and react native.  If the intent is web-only (i.e. react native isn't a requirement) then solutions that leverage what browsers already efficiently and robustly support and people are very familiar would be a good thing.  If supporting react native i

[2016-04-29 03:53] nathanmarks commented on #4066
@hburrows

Thanks for sharing that presentation!

@alitaheri

We may want to look at the lib mentioned in that presentation. It could save us a lot of work. I was looking at it previously but there were a few things I didn't like (such as the requirement of wrapping every single component in a proprietary HoC). However, there is some discussion about some of that [happening here](https://github.co

[2016-04-29 04:12] owencm opened #4117 "[Feature request] Implement page transitions (spec: Choreography)"
I've noticed is that when building an app with material-ui there is no obvious way to do page transitions which are an important part of the overall UX.

Can we add page transitions in to backlog for future releases, or is there a recommended complementary library?

[2016-04-29 04:22] owencm commented on #4066
FYI it could be interesting to look into [react-responsive](https://github.com/contra/react-responsive) for one possible approach to media queries that integrate well with CSS in JS.

[2016-04-29 04:24] nathanmarks commented on #4117
@owencm if you've got any good references, that'd be wicked 👍

[2016-04-29 04:34] nathanmarks commented on #4117
@owencm

PS: I've almost got an implementation ready using react transition group for this material design enter/exit animation of a grid:

https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0B08MbvYZK1iNTGRLb2Zud2RUNFE/animation-meaningfultransitions-hierarchicaltiming-4do_large_xhdpi.webm

[2016-04-29 06:21] olwen1987 opened #4118 "Clicking on select field doesnt not open the popover or options"
I have added the below code in the app.js of my project

import injectTapEventPlugin from 'react-tap-event-plugin';
injectTapEventPlugin();

Still the select field is not working
I use webpack and gulp.

please let me know if there are any solutions for making this work.

thanks

[2016-04-29 06:57] #4040 closed

[2016-04-29 07:05] adrianmc opened #4119 "[TextField] Huge scaled-up icon when using caps-lock on password type TextField"
Problem Description
-------------------
Using Chrome on a Mac, whenever I'm focused in a password type TextField and the Caps Lock key is activated, I get a large scaled-up icon like this:

![screenshot of bug](http://i.imgur.com/13jh1Ut.png)

Versions
--------

- Material-UI: 0.14.4
- React: 0.14.6
- Browser: Chrome 50.0.2661.86

[2016-04-29 07:18] blankzust opened #4120 "It will be an Error when import Manu and ManuItem"
Problem Description
-------------------

I can not import Manu and ManuItem.There is an error:
![image](https://cloud.githubusercontent.com/assets/8541906/14910096/2092707e-0e1d-11e6-8b82-e9d2e6b86dfc.png)
And my code is:
[code]
And I find it in node_modules
![image](https://cloud.githubusercontent.com/assets/8541906/14910135/74e46a1a-0e1d-11e6-89e4-8baf0d7371cd.png)

Could you please give my some

[2016-04-29 07:42] nktssh commented on #4120
@blankzust just typos
Correct code should be

import M**e**nu from 'material-ui/M**e**nu';
import MenuItem from 'material-ui/M**e**nuItem';

check it letter-by-letter, be attentive with letters in bold

[2016-04-29 07:45] blankzust commented on #4120
I got it.Poor in English Language.Anyway,thank you@nktssh

[2016-04-29 07:45] #4120 closed

[2016-04-29 08:00] nktssh commented on #3817
Can I take this to implementation?

[2016-04-29 08:49] Nek opened #4121 "[Table] Add an ability to style a checkbox of table row"
## Problem Description

There is no way to add custom styling to a checkbox of a table row.
## Versions
- Material-UI: 0.15.0-beta.2
- React: 15.0.1
- Browser: doesn't matter

[2016-04-29 14:55] alitaheri commented on #4066
@nathanmarks The implementation is rather very small and very easy to mixout :grin:
https://github.com/jsstyles/react-jss/blob/master/src/index.js
I think this library can help us out :+1:

[2016-04-29 15:18] nathanmarks commented on #4066
@alitaheri Yeah I agree!

I'm experimenting with some custom react bindings for `jss` as well -- there's a couple of issues/limitations I want to try tackle.

[2016-04-29 16:06] genyded commented on #4098
[code]

[2016-04-29 18:01] oliviertassinari commented on #3817
@nktssh Nobody is working on it. Feel free to do it, thanks :+1:!

[2016-04-30 03:28] antoinerousseau opened #4123 "[TimePicker] Ref is accessed just after being removed"
Problem Description
-------------------
This bug is hard to reproduce and only happens sometimes: when selecting a time, I get this:

I believe it could be because the `Clock` is sometimes unmounted just before it is accessed through its `ref`: https://github.com/callemall/material-ui/blob/a76c0889055fbc7cc854b391f915cd477f3687a8/src/TimePicker/TimePickerDialog.js#L60

Maybe calling `this.dismiss(

[2016-04-30 08:45] legendweny opened #4124 "something may dynamical make a css and conflict with style position:'fixed'"
Problem Description
-------------------

 I found this something may dynamically make a css file called app.css in index.html file
dynamical css file
app.css file
[code]

then AppBar scrolls off the page!!!!!!!!
Beacuse of [Chrome cannot render position:fixed on elements under a transformation. ](http://code.google.com/p/chromium/issues/detail?id=20574)
But I just need a fixed AppBar
So I using ja

[2016-04-30 09:07] Sabst commented on #103
@fourcube could you please share your workaround?

[2016-04-30 09:27] #4124 closed

[2016-04-30 09:31] legendweny commented on #4124
I found that my own legacy dcss resulting file....

[2016-04-30 10:45] wzup opened #4125 "Popover doesn't work if you have many of them on one page"
Here is Stackoverflow question
http://stackoverflow.com/questions/36953767/popover-doesnt-work-if-you-have-many-of-them-on-one-page-how-to-manage-them

[2016-04-30 11:29] #4125 closed

[2016-04-30 14:55] oliviertassinari commented on #3103
Could we break this requirement?

[2016-04-30 20:18] #3919 closed

[2016-05-01 06:42] genyded opened #4133 "Is react 15.x supported?"
I am using material-ui@next and react 15.0.2. I am get errors on all the react dependencies:

 - react@15.0.2 installed, react@0.14.x needed
 - react-dom@15.0.2 installed, react-dom@0.14.x needed
 - react-addons-transition-group@15.0.2 installed, react-addons-transition-group@0.14.x needed
 - react-addons-css-transition-group@15.0.2 installed, react-addons-css-transition-group@0.14.x needed
 - rea

[2016-05-01 09:34] #3793 closed

[2016-05-01 09:54] przeor commented on #477
@plantvsbirds agree. The same issue here, and generally that alpha is requiring React 14+ and the beta is requiring the React 15+

In general, it's a pain in the ass as my whole project is based on the React 14 and I have to down-grade the material-ui to make this working back.

.... everything was ok, until I had to reinstall whole node_modules. Someone has broken the versioning hardly by going f

[2016-05-01 10:18] mbrookes commented on #477
@przeor - what does your dependancy look like?

[2016-05-01 10:21] rockymontana commented on #4133
It works just fine and dandy for me. I'm using:
[code]

[2016-05-01 10:30] mbrookes commented on #4133
@genyded For genuine issues please use the issue template that you deleted, and follow the guidelines in the [Contributing guide](https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#contributing) that was linked to when you started to open an issues.

React 15 is supported in the next release: https://github.com/callemall/material-ui#installation

[2016-05-01 10:30] #4133 closed

[2016-05-01 11:34] genyded commented on #4133
OK...  Switching to react toolbox. Been here since early on... But the quality and service are pathetic now.... Good luck

[2016-05-01 14:24] mbrookes commented on #4133
No loss.

[2016-05-01 16:18] matthewoates opened #4134 "Ripple effect doesn't go away on flat buttons"
This issue has been around for quite a while, and I just reproduced it in 0.14.4 and 0.15.1-alpha.1. I looked through all "button" and "ripple" related issues and found no mention of this, so apologies if this is a duplicate.

https://dl.dropboxusercontent.com/u/19969663/ripple_issue.mov
As you can see, this is the latest version of the demos on material-ui.com. Video was taken in chrome on a mac.

[2016-05-01 16:23] mbrookes commented on #4134
@matthewoates
In order for us to better help you, please use the issue template that is populated by default, and follow the issue guidelines in the [Contributing guide](https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#contributing) that was linked to when you started to open an issues.

All that said, what's the issue here? Repeated clicking leads to repeated ripples? Seems ki

[2016-05-01 16:34] nakleiderer commented on #4134
The behavior shown in the video is, in my opinion and based on other material design libraries, completely expected. The ripple effect has a transparent layer to maintain the visual styles of the button while the animation occurs. Stopping an animation mid-transition would be visually unappealing. For reference https://material.angularjs.org/latest/demo/button has the same behavior. Angular Materi

[2016-05-01 16:37] rvbyron commented on #4066
There seems to be a prevailing sentiment in the React community that JavaScript styling is the best solution. That sentiment is fine, I am not in disagreement with those who want to use it. However, the way JavaScript styling is implemented is almost always without regard to the CSS developer. The implementation all to often favors "style=/[element property]=" over "className=" and prevents the CS

[2016-05-01 16:47] mbrookes commented on #4134
@nakleiderer Thanks, now I see what @matthewoates was getting at - looks like hover state is getting stuck. I can't reproduce it though.

[2016-05-01 16:50] nakleiderer commented on #4134
It might be a browser specific issue. What browser were you using,
@matthewoates
On May 1, 2016 11:48 AM, "Matt Brookes" <notifications@github.com> wrote:

[2016-05-01 18:26] matthewoates commented on #4134
Hello all, and thanks for the quick replies.

The video is ~30 seconds long, so you'll need to wait until the end to see the issue. In my first comment I mentioned that this issue happened *in chrome on a mac* (more specifically, 49.0.2623.110), and I have also reproduced it in *all major browsers*, *including mobile*.

The issue (as reported in the title) is that *the ripple effect doesn't go awa

[2016-05-01 18:33] nakleiderer commented on #4134
@matthewoates I missed that information when I first read you comment, apologies. I haven't dug into the code, so I can't speak with any conviction, but the only thing I can think of that would make this not a bug is:

[2016-05-01 18:41] matthewoates commented on #4134
@nakleiderer : That's a good hunch, but I'm able to have the ripple persist on multiple buttons. Wouldn't that be impossible if this was related to keyboard/aria focus?

see:
![multipleripples](https://cloud.githubusercontent.com/assets/3092315/14943574/76bb70b6-0f91-11e6-8056-3cd4421f666e.png)
The ripple effect persists on the "DEFAULT" and "PRIMARY" buttons. The effect is darker on "DEFAULT", so

[2016-05-01 18:48] nakleiderer commented on #4134
Yep, you're correct about the focus. Seems as though you nailed where the issue is.

I wish I could repro. I tried on Chrome for Windows v50.0.2661.94 m and Chrome for Android v50.0.2661.89 on Android 6.0.1 Build MHC19Q (Nexus 6P).

[2016-05-02 05:43] fourcube commented on #103
I applied an additional CSS class (`.search`) to the <TextField /> Element. I'm not 100% positive, but I think the problem was related to the line-height of `mui-text-field-hint`. It should be the same as the height of the `mui-text-field`.

Less:
[code]

[2016-05-02 06:17] alitaheri commented on #4066
@rvbyron One of the main reasons we want to change our current approach is to make it easier to customize the components using css too. using a library like `jss` will allow us to use the css features while taking advantage of js-styles. And since it turns those styles into css, they can be easily overriden with an extra classname without the ugly `!important` hack.

[2016-05-02 06:53] Sabst commented on #103
Thanks!
The similar workaround I applied in the meantime is to wrap the text-field in a dedicated row of the grid layout.

[2016-05-02 07:03] martinwh99 commented on #1902
I have the same Problem. using meteor 1.3.2.4, react 0.14.6 mantra 1.5.0 material-ui 0.15.0-beta.2.

[2016-05-02 10:57] mikeatm commented on #2932
I think this should be extended to the autocomplete input too, would be very useful.

[2016-05-02 12:11] maticrivo opened #4137 "[TextField] Safari bad floatingLabel render after tab loses focus"
## Problem Description

The following problem only occurs in safari from what i was able to test:
1. Go to http://www.material-ui.com/#/components/text-field
2. Focus on the TextField with Floating Label (Floating Label Text)
3. While focused switch tab
4. Go back to previous tab

Expected result: label should be floating above input which is focused
Obtained result: label is on top of focused inp

[2016-05-02 12:24] johann-sonntagbauer commented on #707
the suggestion from @DERIIIFranz works like a charm. Would suggest to move to the solution MaterlizeCSS has to offer. They built their loader with a bunch of animations layed on top of each other.
Integrated the code as proof of concept into our product. Works well and effort was quite small.

[2016-05-02 12:31] Dombo commented on #1511
@zachguo since the changes in v15.0 pertaining to module imports, my module loading approach would not render the TableFooter component. I couldn't find a suitable workaround for that so instead I slightly modified the structure of your component, see below for anyone interested in using.

[code]

Including the component as so:

[code]

I couldn't determine what was causing your component not to r

[2016-05-02 12:47] genyded commented on #4098
No longer using Material UI - tools are cool but don't have time to deal with Matt Brooke's God complex. We have customers with tight timelines and are trying to meet their needs. So when we ask for help - their is a valid reason. Iterating over process while providing no real help in the process, then having us take even more time to read rude follow up emails that still do not offer any help and

[2016-05-02 13:54] mbrookes opened #4138 "[Docs] Showcase links not clickable."
Problem Description
-------------------

Showcase links can't be clicked.

http://www.material-ui.com/v0.15.0-beta.2/#/discover-more/showcase

Versions
--------

- Material-UI: 0.15.0-beta.1 & beta.2
- React: 15.x
- Browser: Chrome / Firefox / Safari

[2016-05-02 14:14] mbrookes opened #4139 "[Docs] Showcase links not clickable."
Problem Description
-------------------

Showcase links can't be clicked.

http://www.material-ui.com/v0.15.0-beta.2/#/discover-more/showcase

Versions
--------

- Material-UI: 0.15.0-beta.1 & beta.2
- React: 15.x
- Browser: Chrome / Firefox / Safari

[2016-05-02 14:15] nathanmarks commented on #4138
`rootClass="a"`

should be `containerElement` now according to `GridTile`.

[2016-05-02 14:16] nathanmarks commented on #4139
Dupe

[2016-05-02 14:16] #4139 closed

[2016-05-02 14:19] mbrookes commented on #4139
Yeah, whoops!

[2016-05-02 14:58] iafiawik opened #4140 "Unable to get Tabs to work"
Problem Description
-------------------

Hi,

I just started using material-ui and the first thing I did was try out the Tabs component. I am unable to make it work. Nothing happens when I click any tab. Any ideas? I've tried the two different modes  (uncontrolled and controlled) suggested in the docs, but no luck so far. I get no errors in the JS console.

[code]

Versions
--------
- Material-UI:

[2016-05-02 14:58] mbrookes commented on #1902
@martinwh99 - thanks for the report. Can you provide steps to reproduce and perhaps some sample code?

[2016-05-02 15:02] tonyjmnz commented on #3757
I have the same problem and I'm on beta.2

[2016-05-02 15:18] Lakshman-LD commented on #2347
@diwyanshu any improvements on multi-selectable list?

[2016-05-02 15:33] mbrookes commented on #4137
Hi @maticrivo - I could reproduce in 0.14.4, but not in [0.15.0-beta.2](http://www.material-ui.com/v0.15.0-beta.2/#/components/text-field). Can you can confirm?

[2016-05-02 15:54] martinwh99 commented on #1902
@mbrookes - here is a simple APP https://github.com/martinwh99/myTestApp

[2016-05-02 16:00] jamesbillinger opened #4141 "Tap"
Problem Description
-------------------

Versions
--------

- Material-UI:
- React:
- Browser:

[2016-05-02 16:02] bmueller-sykes commented on #3757
I'm seeing something similar on the client side. Here's how we are invoking `TextArea`:

        <TextField
          hintText={hintText}
          multiLine={isMultiLine}
          value={text}
          errorText={errorText}
          rows={rows}
          onChange={e => this.setState({text: e.target.value})}
          onBlur={(e) => this.handleBlur()}
          onKeyDown={this.handleKeyDown}

[2016-05-02 16:06] tintin1343 commented on #4140
I tried to reproduce the issue. I did not use value and onChange as its not needed to make the tabs work.

try using this code:

[code]
I used your code and it works fine.

![tabs](https://cloud.githubusercontent.com/assets/15271922/14959631/d460849e-1055-11e6-8ec1-2da5f2374d76.gif)

[2016-05-02 16:08] mbrookes commented on #1902
Thanks @martinwh99 - waiting for Meteor to install (I'm on a slow link), but in the meantime, I just noticed from your original comment that you're using react 0.14.6 with material-ui 0.15.0-beta.2. It _should_ work, but just as a heads-up, we aren't actively testing 0.14.4 with Material-UI 0.15.0.

[2016-05-02 16:17] tintin1343 commented on #4098
![screen shot 2016-05-02 at 11 15 30 am](https://cloud.githubusercontent.com/assets/15271922/14959874/3a0cc6bc-1057-11e6-94ab-90e59525684c.png)

[code]
I tried reproducing the issue again using the exact same code on V0.14.4 and it worked perfectly fine. The issue could be with your m-ui setup.

Sorry it did not work out for you.

[2016-05-02 16:17] #4098 closed

[2016-05-02 16:19] tintin1343 commented on #4141
HI @jamesbillinger ,

Please follow the [Contributing](https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md)   instructions for posting an issue. It helps us understand the use-case and help you resolve it quickly.

Thanks!

[2016-05-02 16:39] mbrookes commented on #1902
Sorry, meteor install keeps aborting. I'll try again when I'm on a better connection.

[2016-05-02 16:53] jamesbillinger commented on #4141
Sorry...geez...not at all sure how that got submitted.  It certainly was not intentional.  That said...thanks for the quick response and keep up the good work.  We get a lot of value from this project.

[2016-05-02 16:53] #4141 closed

[2016-05-02 16:59] tintin1343 commented on #4141
Haha. Thats fine. No worries.

@jamesbillinger : Thanks for your kind words. Its all because of the community. Really appreciate it.

[2016-05-02 17:07] tintin1343 commented on #4119
Reproducible in HEAD.

[2016-05-02 17:18] adrianmc commented on #4119
Thanks. There seems to be some info here, but no clear solution: http://stackoverflow.com/questions/13238893/disable-caps-lock-indicator-on-webkit-browsers

I've tried `display: block` but it doesn't seem to work.

[2016-05-02 17:22] tintin1343 commented on #4119
@adrianmc : Thanks for the additional info. I am taking a look at it. Let me see what I can do.

[2016-05-02 20:07] #3282 closed

[2016-05-02 20:14] tintin1343 commented on #4119
Hey @adrianmc : I went through a couple of solutions but nothing helped.

Its a problem with Mac OS and webkit browsers trying to enforce accessibility. I could not make it go but figured I could manipulate css to make it look decent.

Heres the code.

[code]

I am overriding the inputStyle as I figured its the input height that I need to override.

It looks decent:

Chrome:
![screen shot 2016-05-

[2016-05-02 20:28] tintin1343 commented on #4119
I am removing the bug label as its not an issue with the library. I am closing this issue for now.

If you feel that I have not addressed it completely feel free to leave comments below and I will try to help you as much as I can.

However, the solution for this issue for now would be to override the default css and adjust it to your use-case.

[2016-05-02 20:28] #4119 closed

[2016-05-02 20:31] tintin1343 commented on #4118
@olwen1987 : Hi, it would be awesome if you could follow the issue template as mentioned in [Contributing](https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md) document.

It will help us to help you better in order resolve the issue when you follow the template for reporting an issue.

[2016-05-02 20:33] tintin1343 commented on #4123
@antoinerousseau : I know you mentioned this:

I tried a lot to reproduce this, but I was not able to generate this behavior. Are you trying to emulate a mobile browser on chrome?

[2016-05-02 20:37] adrianmc commented on #4119
@tintin1343 great work! Do we have an FAQ or something similar for the docs so other users can find out about these issues? Nevertheless, I'm quite satisfied with your solution.

[2016-05-02 20:37] tintin1343 commented on #4116
Reproducible in the docs website.

[2016-05-02 20:39] mbrookes commented on #4116
I've experienced this, and it's very frustrating. Thanks for opening an issue @b4be1.

[2016-05-02 20:42] mbrookes commented on #4118
Thanks @tintin1343.

@olwen1987 - since we know this works (the docs site sues the published version) it is most likely an issue with your code. If you need help with that, please use gitter or SO, and reserve github issues for reproducible issues with Mterial-UI,

[2016-05-02 20:42] #4118 closed

[2016-05-02 20:48] tintin1343 commented on #4119
@adrianmc : Thank you. Really appreciate your feedback.

If you are asking about support for other users to get help with similar issues, then we do not have any official doc.However, if they follow the issue template, one of the steps entail searching the repo if the issue has been reported and its status before posting a duplicate issue. However, some users don't follow this, so we (collaborator

[2016-05-02 21:08] rsteckler opened #4142 "prefixAll broken"
Problem Description
-------------------
The prefixAll from inline-prefix is generating invalid CSS, which impacts the rendering of MUI components.

Here's an example of the CSS generated that doesn't render in Chrome or Safari.  This 'width: calc' happens in slider and toggle, at least.
[code]

I believe this is due to recent commits to [inline-style-prefix-all](https://github.com/rofrischmann/inl

[2016-05-02 21:08] antoinerousseau commented on #4123
It happened in a real Android phone (Moto G).
I'll let you know if it happens again.

[2016-05-02 21:15] rsteckler commented on #4142
Nevermind.  Changing useragent in the mui theme definition from false to undefined fixed it.

[2016-05-02 21:15] #4142 closed

[2016-05-02 21:22] tintin1343 commented on #4123
@antoinerousseau : I have a question (forgive my naivety) . How did you enable developer tools on phone?

Appreciate your input here.

[2016-05-02 21:23] tintin1343 commented on #4140
I am closing this issue for now as this is not an issue with the library.

However, feel free to leave comments below if you need any further help.

[2016-05-02 21:23] #4140 closed

[2016-05-02 22:41] rvbyron commented on #4066
@alitaheri Great to hear! I am really looking forward to seeing material-ui accommodate a className based approach.

[2016-05-02 22:55] mikeatm opened #4143 "rendertostaticmarkup not working with muitheme"
- Material-UI:    v0.15.0-beta.2
- React:   1.3.6
- Browser:  Chrome 49.0.2623.87

this snipped that iv been using ReactDOM.renderToStaticMarkup now throws an error
[code]

this is the error on muitheme:
[code]
Iv recently moved form 14.X to  the newest tag, and the rest of the app works after adjusting the necessary import paths as well as adding a default muitheme,  how would we go about using m

[2016-05-02 23:56] antoinerousseau commented on #4123
@tintin1343 I'm using Rollbar.com to report JS errors

[2016-05-03 00:40] sameeri commented on #3359
@oliviertassinari
Its fine. I do not understand how it would, i will take a look at this again. Thank you!

[2016-05-03 01:29] jamesbillinger commented on #4059
I can also confirm the issue.  I ended up building a component locally as a workaround for the time being (it's really nothing more than an empty div with styling).  One thing that I noticed when testing is that I would often get different results before/after clearing cache as well as in different browsers.  That said, I was never totally unable to reproduce the issue.

[2016-05-03 01:59] echenley opened #4144 "[FlatButton] icon props are not passed through"
Problem Description
-------------------

Icon props aren't passed through when using `FlatButton`'s `icon` prop. See android button in the docs: http://www.material-ui.com/v0.15.0-beta.2/#/components/flat-button. It is passed a color but remains black.

[code]

Output:

![screen shot 2016-05-02 at 8 58 55 pm](https://cloud.githubusercontent.com/assets/6344219/14973023/b87ba01c-10a8-11e6-9d43-a4e32

[2016-05-03 02:44] rkstar commented on #4059
@tonyjmnz no solution yet.  only what i posted above, but that's pretty bogus.

for my part, when i strip away ALL css from my site and load in an avatar all by itself, as @tintin1343 did above, it works, just like above.  i've since added back in some bare bones css rules and this issue is back.  and it's unruly!

the avatar will sometimes display correctly, sometimes it will be 50% height and re

[2016-05-03 04:42] newoga commented on #3948
Just an update on this, we could probably consider using the `object-assign` ponyfill again because they just merged a change that checks for the "order of keys bug" in the native implementations and overwrites it if it exists.

I suppose the disadvantage potentially a small one-time runtime penalty of doing the test (inconsequential in my opinion), in exchange for the advantage of using possibly

[2016-05-03 06:11] martinwh99 commented on #1902
@mbrookes Just updated to the actual versions i'm using. When you run the app just hit login no entry needed. thanks

[2016-05-03 06:16] joncursi commented on #1338
+1

[2016-05-03 06:23] joncursi commented on #1338
Couldn't this be as simple as adding optional ripple behavior to the Paper component? Then you'd theoretically be able to compose anything.

[2016-05-03 06:51] iafiawik commented on #4140
I tried your code but it made no difference. Seems like I wasn't getting any click events. I also tried Firefox and Safari.

However ...

I went through the documentation once again and stumbled upon the section about `react-tap-event-plugin`. I imported the `injectTapEventPlugin` but I never called the `injectTapEventPlugin()` function. Once I did call the function, the click events started comin

[2016-05-03 07:52] mzparulina commented on #1783
Hello, any update on this problem?

[2016-05-03 08:31] martinwh99 commented on #1902
@mbrookes  Just testet my test app with Linux Ubuntu 16.04 it worked! Is it possible that this is a window issue. Im using window 10.

[2016-05-03 09:33] mbrookes commented on #1902
@martinwh99 - it was the meteor install that was timing out, but it installed on the 10th or so go around.

However your app, both the original and new version returns console errors:
[code]

[2016-05-03 11:09] daniel-sim opened #4147 "[TextField] long floatingLabelText overlaps textarea"
<img width="462" alt="screen-shot-2016-05-03-11-07-24" src="https://cloud.githubusercontent.com/assets/843748/14981523/122f79f8-1130-11e6-8b57-169e5dd30ee9.png">

When floatingLabelText wraps to a new line it overlaps the textarea as shown.

- Material-UI: v0.15.0-beta.2
- React: 15.0.2
- Browser: Chrome OSX

[2016-05-03 12:40] #4143 closed

[2016-05-03 12:41] mikeatm commented on #4143
Turns out there was another similar problem that was unresolved, but only this had been  fixed, fixing both resolved it.

[2016-05-03 13:09] martinwh99 commented on #1902
@mbrookes I updated with react-dom. still the same linux is ok win same mistake

[2016-05-03 13:10] nathanmarks opened #4149 "[Core][TouchTap] react-tap-event-plugin registering right clicks as taps on windows"
`react-tap-event-plugin` is picking up right clicks on windows as clicks to trigger `touchTap` events.

I've posted an issue here: https://github.com/zilverline/react-tap-event-plugin/issues/70

This issue is present in our library, but here is a plain vanilla example demonstrating the issue:

![img](https://i.gyazo.com/e6ba6c3ca3e1f1823f7596a626cd178b.gif)

[code]

[2016-05-03 13:24] mbrookes commented on #1902
@martinwh99 That's working for me now, but I can't reproduce the error (I'm on OS X). I'll leave it to one of the guys with access to a Windows machine to take a look.

[2016-05-03 14:25] Sundin commented on #2011
Hello, any update on how to get onClick to work for TableHeaderColumns?

[2016-05-03 14:28] jschlieber commented on #4144
I've got the exact same problem with the `leftIcon` and `rightIcon` props of `ListItem`. Those will always display grey, despite setting `color`:

[code]

Same Versions

[2016-05-03 14:34] nathanmarks opened #4150 "[Core][Themes] There should be an "accent" colour in the theme where we use "secondary""
From my understanding of the spec, there should be an `accent` colour in addition to the `primary` and `secondary`:

https://www.google.com/design/spec/style/color.html#color-color-schemes

It appears that we are currently treating the "secondary" colour as an "accent" colour, this means that our theme palette doesn't have room for a proper "secondary" colour (which is optional).

Should we rename

[2016-05-03 14:50] ccomb commented on #2011
It's ongoing in #3812 but I've currently no time to improve QA on the PR, help appreciated until I can work again on it

[2016-05-03 17:49] jkole commented on #1192
Facing the same problem with 0.15.0-beta.2 and can't really make sense of any ultimate approach/resolution from the various related issues.  Is there currently any way to get the AppBar menu icon button (for example) working with 15 beta 2?  Thanks in advance for any assistance...

[2016-05-03 20:35] tintin1343 commented on #4123
I am closing this issue for now as its not reproducible. If you find anything further do leave a comment below and I wlll reopen it. Thanks!

[2016-05-03 20:35] #4123 closed

[2016-05-03 20:39] tintin1343 commented on #4140
@iafiawik : That is something that we are still working on to get rid off. I suggest keep it for now. It should work fine. Also, since you mentioned above that you just started using the library, I suggest go thru the documentation first and set up the project like its mentioned.

[2016-05-03 20:43] tintin1343 commented on #835
I hope the above solution helps for now. TextField requires a re-write to do away with the styling issues.

I am closing this issue for now. If someone who has this issue does not gets help from the above solutions, please leave a comment below.

[2016-05-03 20:43] #835 closed

[2016-05-03 20:47] tintin1343 commented on #1063
Closing this.

[2016-05-03 20:47] #1063 closed

[2016-05-03 20:49] tintin1343 commented on #1585
Closing this on behalf of  #1321.

[2016-05-03 20:49] #1585 closed

[2016-05-03 21:13] tintin1343 commented on #1262
This works fine with the latest version. Let me know if you are still facing the issue. Checked it on android chrome browser as well.

[2016-05-03 21:13] #1262 closed

[2016-05-03 21:38] tintin1343 commented on #1481
Not able to reproduce on the latest version.

[2016-05-03 21:38] #1481 closed

[2016-05-03 21:41] tintin1343 commented on #1348
@matthewoates : A PR would be welcome.

[2016-05-03 21:43] tintin1343 commented on #1595
@TrySpace : Is this still an issue? Care to submit a PR?

[2016-05-03 21:45] tintin1343 commented on #1676
@oliviertassinari : Was this fixed with the PR?

[2016-05-03 21:46] tintin1343 commented on #1644
Potential Duplicate of: https://github.com/callemall/material-ui/issues/156

Closing this.

[2016-05-03 21:46] #1644 closed

[2016-05-03 21:47] oliviertassinari commented on #1676
@tintin1343 No, I was referring to a related issue.

[2016-05-03 21:49] tintin1343 commented on #1673
@Huxpro : Are you still planning to go ahead with this?

[2016-05-03 21:50] tintin1343 commented on #1776
Closing this.

[2016-05-03 21:50] #1776 closed

[2016-05-03 21:52] tintin1343 commented on #1798
I don't see this in the recent version of MUI. Closing this.

[2016-05-03 21:52] #1798 closed

[2016-05-03 22:03] tintin1343 commented on #1951
Closing this in favor of https://github.com/callemall/material-ui/issues/4066#issuecomment-216386557

[2016-05-03 22:03] #1951 closed

[2016-05-03 22:05] tintin1343 commented on #2001
@mtw17 : Yes its a known issue and we are improving with the  every release that we make. If you check with the latest android versions the buttons can be clicked and the menu items work just fine.

[2016-05-03 22:05] #2001 closed

[2016-05-03 22:07] tintin1343 commented on #2056
Is this still an issue with you?

I am closing this issue since there has been no interactions on this. However if you are still facing this issue just leave a comment below and I will reopen it for you.

[2016-05-03 22:07] #2056 closed

[2016-05-03 22:09] tintin1343 commented on #2019
@oliviertassinari : is this still an issue. Just asking you because I saw you comment in here,

[2016-05-03 22:11] tintin1343 commented on #2137
It would be helpful if you could follow this up on `stackoverflow` or the gitter channel of `material-ui`. I am closing this since it is not an issue per se.

[2016-05-03 22:11] #2137 closed

[2016-05-03 22:15] tintin1343 commented on #2008
Closing this in favor of https://github.com/callemall/material-ui/issues/2144

[2016-05-03 22:15] #2008 closed

[2016-05-03 22:17] tintin1343 commented on #2191
@oliviertassinari : Is this still an issue?

[2016-05-03 22:19] tintin1343 commented on #2222
This looks fine on firefox.

[2016-05-03 22:19] #2222 closed

[2016-05-03 22:32] marnusw commented on #2191
@tintin1343 I actually opened the original PR. The project where this was an issue has remained untouched for some months now, so I'm not sure if this issue has been fixed inadvertently in the mean time. I will find out once I get back to that project, so if you want to close this in the mean time I'll open a new issue here if there still is one.

[2016-05-03 22:32] #2321 closed

[2016-05-03 22:34] tintin1343 commented on #2301
Closing this as there is no response from the OP. If the issue still persists please leave a comment below.

[2016-05-03 22:34] #2301 closed

[2016-05-03 22:35] tintin1343 commented on #2191
@marnusw : Thanks a lot for your input. Let us know if its still an issue.

[2016-05-03 22:35] #2191 closed

[2016-05-03 22:39] #2501 closed

[2016-05-03 22:43] tintin1343 commented on #2636
@alitaheri : are we going to add this to the documentation as mentioned by you? has it been added?

[2016-05-03 22:46] #2761 closed

[2016-05-03 22:48] tintin1343 commented on #2770
Closing this as there is nothing mentioned like this is the material ui spec.

[2016-05-03 22:48] #2770 closed

[2016-05-03 22:55] tintin1343 commented on #3118
Closing this. If its still an issue do comment below and I will reopen this.

[2016-05-03 22:55] #3118 closed

[2016-05-03 22:57] tintin1343 commented on #2999
@ffxsam : Hi, Is this still an issue for you?

[2016-05-03 22:59] ffxsam commented on #2999
Not for me personally, no. On this project I wound up using React Native instead of Meteor+Cordova. The issue can be closed, thanks!

[2016-05-03 23:01] tintin1343 commented on #2999
Thanks for the quick update.

[2016-05-03 23:01] #2999 closed

[2016-05-04 00:11] dwilt commented on #3618
@adrianmc I'm not using an input but I would like this feature as well. I'm trying to have some images and text fade in when the modal is done _animating in_ not just when the `state` is now set to `true`. If I had a callback like you're saying.. say `onModalEntered={myCallback}`, that would be quite handy. That way I could apply a class to my content and thus trigger off the animations

[2016-05-04 00:15] dwilt commented on #3553
I am also trying to achieve a fullscreen modal. I was a bit disappointed to see the lack of `className` hooks int the dialog options. There are 5 divs inside of the base `Dialog` component that come with styling, but there isn't a hook into the div that sets the `max-height` so it can easily be overridden with CSS. I'd imagine tying in this hook would be pretty easy.

[2016-05-04 00:24] nathanmarks commented on #3618
@dwilt @AndrewLindsay221

The callback will be available in `0.16.0`. I already have the feature in development.

[2016-05-04 07:47] martinwh99 commented on #1902
@mbrookes  Thanks a lot for your effort.

[2016-05-04 08:55] stupidisum opened #4151 "[DateTimePicker]: Hard to compose DatePicker and TimePicker"
Problem Description
-------------------
Hard to compose DatePicker and TimePicker

I think material-ui needs something like this [material-datetime-picker](https://ripjar.github.io/material-datetime-picker/)

[2016-05-04 13:37] Havdon opened #4154 "[SelectField] Scroll wheel event bubbling to parent container"
## Problem Description

When a user scrolls down a long dropdown menu to get to the bottom, they will usually scroll the mouse wheel much more then necessary just to get to the bottom quickly. The problem with the current implementation is that once the user hits the bottom of the list, the scroll wheel events will bubble up to parent containers, possibly causing the whole page to scroll. This is

[2016-05-04 13:54] mbrookes commented on #3428
Just noticed this is a dupe of #2232.

[2016-05-04 13:54] #3428 closed

[2016-05-04 13:57] #863 closed

[2016-05-04 13:59] mbrookes commented on #2232
There are a few isues open for this across various browsers, so marking as a dupe of #707.

[2016-05-04 13:59] #2232 closed

[2016-05-04 14:14] mbrookes commented on #863
Dupe of #707.

[2016-05-04 14:23] tintin1343 commented on #4154
This sounds reasonable. I would like the other collaborators to also comment on this.

[2016-05-04 14:26] tintin1343 commented on #4151
What is it that you need here? Could you follow the issue template and be a little more elaborate on this?

The current implementation of date and time pickers are in accordance to the material-design spec.
https://www.google.com/design/spec/components/pickers.html

Having said that, there is a good amount of work going on/ proposed to make the pickers more in sync with the material design spec.

[2016-05-04 14:36] mbrookes commented on #4154
I guess ideally scroll-lock should always be the behaviour when the menu is scrollable, rather than requiring a prop, i.e. `if maxHeight < children.length * menuItemHeight`.

`menuItemHeight` is the tricky part, as the user may have styled it differently to the default.

[2016-05-04 14:39] alitaheri opened #4155 "[Themes] Drop support for multiple themes per component tree"
Having more than one theme object on the context was implicitly supported, now we wish to explicitly **not** support it. That means, if we do that providing multiple themes in a single component tree will break things.

We had long discussions about how we can [improve our current styling approach](https://github.com/callemall/material-ui/issues/4066). And after chatting a lot with @nathanmarks we

[2016-05-04 14:44] tintin1343 commented on #4154
@Havdon : Feel free to submit a PR. Thanks!

[2016-05-04 14:55] tintin1343 commented on #2940
@mbrookes : The documentatin has been updated now. I can see `mode` being mentioned in the Datepicker component itself.

Can this be closed?

[2016-05-04 14:58] tintin1343 commented on #3172
@mbrookes : Have we reached an understanding about not exposing the internal components in the docs?  Can we close this?

[2016-05-04 15:01] quadrupleslap commented on #1654
Uh, yes, this issue is still present. On the other hand, this is a pretty niche case, so I guess that's fair. I solved it anyway, by copying most of the code and changing a couple of lines.

[2016-05-04 15:01] e-monson opened #4156 "AppBar onRightIconTouchTap not firing"
Problem Description
-------------------

I'm trying to place a burger menu on the right side of an AppBar that toggles a LeftNav when clicked. However, my `onRightIconButtonTouchTap` event handler doesn't seem to fire at all. Here's the relevant code:

[code]
Versions
--------

- Material-UI: 0.14.4
- React: 0.14.0
- Browser: Chrome 49.0.2623.87

[2016-05-04 15:01] tintin1343 commented on #3342
Closing this as there has been no response from the OP. Feel free to leave a comment below if you feel that the issue has still not been resolved.

[2016-05-04 15:01] #3342 closed

[2016-05-04 15:03] tintin1343 commented on #1654
@quadrupleslap : Thanks for your response. Appreciate it.

Also, we did away with valueLink anyway now.

[2016-05-04 15:05] tintin1343 commented on #4147
Possible duplicate of https://github.com/callemall/material-ui/issues/3181.

Closing this.

[2016-05-04 15:05] #4147 closed

[2016-05-04 15:27] mbrookes commented on #3172
We do still need to document inherited props, but it's a manual effort, and hasn't been tackled yet.

We also sort of have the opposite problem, in that we document some event props that bubble up from underlying components / elements, for example `onKeyboardFocus`, `onMouseEnter`, `onMouseLeave` etc.

We typically only document the ones we have intercepted (e.g. to set style related state), and p

[2016-05-04 15:32] mbrookes commented on #3413
@nathanmarks has made a start with a README, so it's sort of WIP, but good enough to close this out. 👍

[2016-05-04 15:32] #3413 closed

[2016-05-04 15:37] mbrookes commented on #2940
I don't believe this has been systematically reviewed for all components, so I would suggest to leave it open.

[2016-05-04 15:39] tintin1343 commented on #4114
Possible duplicate of https://github.com/callemall/material-ui/issues/3619.

Closing this.

[2016-05-04 15:39] #4114 closed

[2016-05-04 15:47] rs6g10 commented on #4156
Hey, following works:
`<AppBar
    title="Title"
    iconClassNameRight="muidocs-icon-navigation-expand-more"
    onRightIconButtonTouchTap={ this._toggleNav }
  />`

[2016-05-04 15:47] tintin1343 commented on #3702
@pmwisdom : is this resolved for you?

[2016-05-04 15:52] tintin1343 commented on #3281
@little-burrito : were you able to find a solution to it? Or did upgrading to a higher version work for you?

Do let us know if its still an issue.

[2016-05-04 15:53] pmwisdom commented on #3702
@tintin1343 The gist from @maxpechenin worked for me. But the main repo does not include this fix, so although there is a workaround, its not resolved.

[2016-05-04 15:55] tintin1343 commented on #3702
@pmwisdom @maxpechenin : Care to submit a PR?

[2016-05-04 15:58] tintin1343 commented on #3710
@alitaheri : Do we need this? There is no separate calendar component in material spec. Can this be closed?

[2016-05-04 16:03] pmwisdom commented on #3702
I'll give it a shot if I have time this week.

[2016-05-04 16:04] tintin1343 commented on #3733
This is no longer reproducible in the docs website alpha version 2. I am closing this for now.

If you are able to reproduce it again feel free to post your observations.

[2016-05-04 16:04] #3733 closed

[2016-05-04 16:10] tintin1343 commented on #3738
TextField requires rework. There are issues with the hintText and floatingLabelText

Possible Duplicate of https://github.com/callemall/material-ui/issues/3181.

Closing this.

[2016-05-04 16:15] rs6g10 commented on #4156
This is by design. the righticonbuttontouchtap fires in when you have the iconclassnameright. But if you have iconelementright then better handle the toggleNav event on onClick of the button or in your case menuitem.
below is the example:
`
<AppBar
          ref='appBar'
          title='My Title'
          onLeftIconButtonTouchTap={() => this.showSideNav()}
          iconElementRight={

[2016-05-04 16:17] alitaheri commented on #2636
No it hasn't :sweat_smile: It's not that popular anyway. I think it's safe to close it.

[2016-05-04 16:23] tintin1343 commented on #3866
I tried looking at this. This looks just fine to me.

I am closing this for now. I would still like to see @nathanmarks observations.

[2016-05-04 16:23] #3866 closed

[2016-05-04 16:23] #2636 closed

[2016-05-04 16:28] tintin1343 commented on #3511
@ffxsam : have you got time to take a look at this? Just a reminder 😁

[2016-05-04 16:30] ffxsam commented on #3511
Absolutely no time :)

[2016-05-04 16:30] mbrookes commented on #3871
@newsiberian - we're clearing the timers in `componentWillUnmount`:

https://github.com/callemall/material-ui/blob/master/src/LinearProgress/LinearProgress.js#L122

[2016-05-04 16:40] mbrookes commented on #3738
@tintin1343 - these are different issues.

[2016-05-04 17:23] tonyjmnz opened #4157 "[Table] Allow displaying checkbox on specific rows"
With the current implementation, you can either display checkboxes on all TableRows or not. I currently have a table that contains different sections:

<img width="875" alt="screen shot 2016-05-04 at 1 22 51 pm" src="https://cloud.githubusercontent.com/assets/2080075/15022804/5a65e952-11fb-11e6-942b-039b6ca81186.png">
Meaning that mi section header TableRow only contains the title of the section,

[2016-05-04 17:32] oliviertassinari commented on #3172
You raised a good point! I like this idea. What's the point of documenting standard DOM properties?
Regarding the most useful DOM properties, I see three of them:
- `onClick`
- `style`
- `className`
I like the idea of not documenting them at all. Still having them working and tested. We could remove them from the docs site and keep them from the `PropTypes` if we override them.

[2016-05-04 17:58] mbrookes commented on #4157
@tonyjmnz https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#asking-questions

This isn't possible right now, but I wonder if this might help: https://github.com/callemall/material-ui/pull/3663

[2016-05-04 17:58] #4157 closed

[2016-05-04 17:59] mbrookes commented on #4156
Thanks @rs6g10

[2016-05-04 17:59] #4156 closed

[2016-05-04 18:06] ethan-deng opened #4158 "Button ripple effect is not working in Firefox or IE11"
I just downloaded the most current version of Firefox, it seems the ripple effect of buttons is not working.

Just browse to http://www.material-ui.com/#/components/raised-button with Firefox, you will see it. The behavior is similar on IE11.

On MS edge, the ripple effect works but not very smooth when the React component is updated.

[2016-05-04 18:10] tintin1343 commented on #4158
Possible Duplicate of https://github.com/callemall/material-ui/issues/3850

[2016-05-04 18:10] #4158 closed

[2016-05-04 18:34] ddeath opened #4159 "Autocomplete - switched filters"
Autocomplete search filters are switched:
caseInsensitiveFilter
fuzzyFilter

Problem Description
-------------------
go to the page [http://www.material-ui.com/#/components/auto-complete](http://www.material-ui.com/#/components/auto-complete)

try filters example:
    type t in fuzzyFilter - it will show only matched word whitch has t on begining
    type r in caseInsensitiveFilter it will show ma

[2016-05-04 18:42] tonyjmnz commented on #4157
Thanks, and sorry about posting my question here.

That would do the trick. Unfortunately it isn't merged yet.

[2016-05-04 18:46] e-monson commented on #4156
Yes, thank you! This worked for me.

[2016-05-04 18:47] tintin1343 commented on #4159
It works fine with the alpha 2 version. Did you check that?

[2016-05-04 18:52] ddeath commented on #4159
I tried and it does not work. Maybe I am just expecting different result.

But if I type in fuzzy filter "ea" it should return also "peach" because it includes "ea".

If you type "p" it returns also Persimmon but if you type "pmm" it does return nothing.

[2016-05-04 18:55] tintin1343 commented on #4159
I think you are right. Thanks for the observation.

[2016-05-04 18:56] tintin1343 commented on #4159
Care to submit a PR?

[2016-05-04 19:01] ddeath commented on #4159
Ok I can do it.

[2016-05-04 19:01] tintin1343 commented on #4159
Thanks!

[2016-05-04 19:14] tintin1343 commented on #4144
Thanks for the observation. Care to submit a PR?

[2016-05-04 19:37] tintin1343 commented on #4144
Confirmed Bug. This should be fixed when the PR is merged.

[2016-05-04 20:10] tintin1343 commented on #4113
@jmgarciamari : You would get a faster response if you seek help for this in the `gitter` channel of `material-ui` or on `stackoverflow`.

The issues in this repository cater to issues with respect to the library and new features/ enhancements suggestions and discussions based on the library.

As far as the issue is concerned. I tried reproducing it. it works just fine for me.

[code]

code to han

[2016-05-04 20:10] #4113 closed

[2016-05-04 20:59] newsiberian commented on #3871
@mbrookes, hello, thanks for your attention to this issue.
![linearprogress_1](https://cloud.githubusercontent.com/assets/11130487/15028858/26d14d14-1275-11e6-8e41-353198cffc07.png)
For me, one timer still presents. This was recorded in a idle state, after the page were loaded.

[2016-05-04 21:08] mbrookes commented on #3871
A page with `LinearProgress` on it?

[2016-05-04 21:14] newsiberian commented on #3871
yes, and if I put placeholder [here](https://github.com/callemall/material-ui/blob/master/src/LinearProgress/LinearProgress.js#L147), I see how it continue to stop even after page were loaded, endless...

[2016-05-04 21:23] mbrookes commented on #3871
Until the component is unmounted, and then the timers will be cleared. Sorry, not seeing an issue here.

[2016-05-04 21:27] newsiberian commented on #3871
Oh, you're right) I've just now understood that this is no issue. I suppose, issue could be closed.

[2016-05-04 21:28] #3871 closed

[2016-05-04 22:05] nathanmarks commented on #4155
@alitaheri thanks for writing this out!

With the updated take on theming/styling, only having 1 theme active at a given time would **significantly** reduce the complexity of the implementation meaning less maintenance, easier performance optimization and a much lower chance of bugs.

In the vast majority of real world use cases, theme changing happens (if at all) at a high level and not a mix-n-m

[2016-05-04 23:56] jabrown93 opened #4163 "[SelectField] Label text disappearing and DropDownMenu not displaying"
Problem Description
-------------------

On occasion clicking the SelectField will result in the label text disappearing and the dropdown menu not displaying. Clicking the SelectField again will cause the label text to reappear and clicking again brings up the dropdown menu as expected. The dropdown seems to briefly load before disappearing.

I'm encountering this issue on both my own app and the

[2016-05-05 00:03] mbrookes commented on #4163
@jabrown93 are you able to reproduce with the current beta? http://www.material-ui.com/v0.15.0-beta.2/#/components/select-field

[2016-05-05 00:12] jabrown93 commented on #4163
@mbrookes Yeah I can

[2016-05-05 01:49] stupidisum commented on #4151
I understand and appreciate your effert to sync with MD.

I said 'Hard to compose DatePicker and TimePicker'.

It means if I need user to pick a datetime, I have one variable with two inputs(or pickers), which is very odd and doesn't make sense. And it's hard and ugly to combine two Date(one represents date, one represents time) into one if I don't use a libraries like `moment`.

Maybe I'm thinkin

[2016-05-05 02:07] iamzhouyi commented on #3733
Hi, it still can be reproduced in alpha2
![qq 20160505100453](https://cloud.githubusercontent.com/assets/12145505/15034532/1abf89bc-12a9-11e6-8bff-59a9c7aa74b1.png)

[2016-05-05 02:10] iamzhouyi commented on #3733
and latest beta 2
![qq 20160505100843](https://cloud.githubusercontent.com/assets/12145505/15034577/8e3443ba-12a9-11e6-9523-73d694f36d1d.png)

[2016-05-05 02:12] tintin1343 commented on #4151
@stupidisum : Thanks for the clarification. I understand your problem much more clear now.

Currently, we do not have any provision to do what you want. You can adjust the dateTimeformat to get time as well but the time is not adjustable and hence won't serve your purpose.

If you need a solution to it, I would suggest use the DatePicker and TimePicker as separate adjacent fields and combine the t

[2016-05-05 02:14] tintin1343 commented on #3733
Thanks for this observation. Its a problem with both the selectField and dropDownMenu. There is another post regarding the same: https://github.com/callemall/material-ui/issues/4163

So I am keeping this closed and we can resume discussion there.

[2016-05-05 02:19] iamzhouyi commented on #3733
dropDownMenu can be reproduced as well in the latest version
![1](https://cloud.githubusercontent.com/assets/12145505/15034701/cddac704-12aa-11e6-9196-c6d831ebbdae.png)

[2016-05-05 06:29] blackChef opened #4166 "[DatePicker] expose closeDialog() method"
Since "isOpen" is an internal state of datePicker, It's necessary to expose method for manually opening / closing datePicker. Currently, only `openDialog()` is exposed.  Please expose a `closeDialog` method too.

[2016-05-05 06:45] izziaraffaele commented on #4059
I'm getting this issue too. For me it happens whenever I change the src props for an Avatar component. Normally it get's rendered with `background-size`, `background-origin` and `background-position-*` which makes the component looking perfect. When I change the src prop the avatar gets re-rendered without any of the parameters mentioned before

[2016-05-05 08:16] mbrookes commented on #4163
Hmm thanks, what OS?

[2016-05-05 09:30] oliviertassinari commented on #4166
Imperatives methods like `openDialog` are on their way out of this lib. That's going against the declarative React paradigm. Sorry, we won't fix this issue.

[2016-05-05 09:30] #4166 closed

[2016-05-05 09:32] oliviertassinari commented on #4166
Regarding the DatePicker component, this method is an utility method used by some handler.
You are not supposed to use it. The only public API is the properties and in some very rare cases `focus`, `blur`, `select`.

[2016-05-05 09:56] oliviertassinari commented on #4166
Still, if you could expose your use case for this method, that would help use improve the API :).

[2016-05-05 10:43] mika75 opened #4169 "conflict between normalize and Material-ui button"
Hi, There is a conflict between normalize and Material-ui.

@import '../../../node_modules/normalize.css/normalize.css';

This breaks all material-ui button

You can see it here : http://www.hostingpics.net/viewer.php?id=162453normalize.png

Regards

[2016-05-05 11:59] nathanmarks commented on #4169
Duplicate, please use the search

[2016-05-05 11:59] #4169 closed

[2016-05-05 12:16] mika75 commented on #4169
thk

[2016-05-05 12:22] blackChef commented on #4166
I think it's related with #1206. I want to manually open / close datePicker. But it's a stateful component, and no imperative method exposed.  I end up working with date-picker-dialog directly, because it has `show()` and `dismiss()` method.

Imperative is bad, so is stateful. But with imperative methods, component consumer can create a new stateless component that wraps a stateful component. That

[2016-05-05 12:34] nktssh commented on #4138
@nathanmarks I can do this

[2016-05-05 12:53] nathanmarks commented on #4169
@mika75 yeah sorry -- I was on my phone 👍

[2016-05-05 13:18] nathanmarks commented on #4138
@nktssh Thanks!

[2016-05-05 13:19] nathanmarks commented on #4166
@blackChef That's where we are moving, hence not implementing this feature.

[2016-05-05 13:26] blankzust opened #4171 "Module not found when import Tabs and Tab"
Problem Description
-------------------

I find it difficult to import the components sometimes.
I try to import Tabs and here are my codes.
`import {Tabs, Tab} from 'material-ui/Tabs';`
The codes are just copied from http://www.material-ui.com/v0.15.0-beta.2/#/components/tabs.But the error happend.
![image](https://cloud.githubusercontent.com/assets/8541906/15044522/c7713e2c-1307-11e6-85c4-be4605

[2016-05-05 13:28] nathanmarks commented on #4163
@mbrookes looks like OS X in the gif, I can't reproduce this.

[2016-05-05 13:33] nathanmarks commented on #4151
@stupidisum

FWIW, google usually present them as 2 separate controls (date and time pickers).

[2016-05-05 13:45] blankzust commented on #4171
![image](https://cloud.githubusercontent.com/assets/8541906/15045003/aa089efe-130a-11e6-90ec-ae332dc61475.png)

[2016-05-05 14:04] tintin1343 commented on #4171
@blankzust : try deleting your `node_modules` folder and do a npm install once again

[2016-05-05 14:06] tintin1343 commented on #3733
@iamzhouyi : Yeah .Please reply in the referenced issue. #4163

[2016-05-05 15:48] Kiran-Rao opened #4172 "[DatePicker] Inline Container doesn't cancel when clicking outside container."
Problem Description:
When the clicking outside popover, nothing happens.

Connect Behavior:
When clicking outside popover, DatePicker should cancel.

-------------------

http://www.material-ui.com/#/components/date-picker

`// Code from website example.`
`const DatePickerExampleInline = () => (`
`  <div>`
`    <DatePicker hintText="Portrait Inline Dialog" container="inline" />`
`    <DatePicker h

[2016-05-05 15:56] jabrown93 commented on #4163
I've seen it on OS X 10.11.4 and the latest beta of 10.11.5, I haven't tried on any Windows systems

[2016-05-05 16:04] edelyn opened #4173 "[Dialog] Internet explorer dialog text blurry"
I'm using the 15 beta 2 repo.

I worked around this by setting the dialogs contentStyle to a regular translate (the translate3d causes the issue) if using ie (not edge).
[code]
and then
`<Dialog contentStyle={styles.dialogContent} />`

It would be nice if the core Dialog code had this check.

[2016-05-05 16:07] BinaryWasteland opened #4174 "[Autocomplete] Autocomplete events bubble up to Tabs controller, causing tab content to disappear"
## Problem Description

This seemed to be fixed for the TextField here - https://github.com/callemall/material-ui/issues/2189 - but I am unsure of how to stop propagation on the autocomplete. Any help is appreciated!
## Versions

Material-UI: 0.14.4
React: 0.14.7
Browser: Chrome

[2016-05-05 17:25] rvbyron commented on #4066
Again, fantastic to hear on the className approach. With this in mind, I have some questions on how it might be implemented:
- What do you believe the class name naming convention might look like?
- Will all class names have an "mui-" or other prefix on them?
- Will the class be a dash version of the component name?
- Will a class name be applied on the root element of each component?

[2016-05-05 17:37] olivier1984 commented on #1783
Hi,
I have the same problem, onClick and onRowClick event doesn't work.
I put  onRowClick={this.handleClick("test")} in [table] or [TableBody].
When i refresh my page i spend in {handleClick} one time i log "test" in {handleClick} .
but when i click i don't spend in {handleClick}.

Someone would have any idea?
thanks

[2016-05-05 17:54] rs6g10 commented on #1511
So based on implementation given by @zachguo I was able to add pagination and it works just fine. Thanks for your comments. Following is the complete implementation code (except for methods):
[code]

[2016-05-05 18:07] nathanmarks commented on #4066
@rvbyron

Ideally:

Customizable prefix. Dash notation of some sort for better dev experience and a hashed suffix which can be also be set to a fixed string (so won't change if the theme settings are changed) using a custom theme ID. Including a less verbose production option, or even a callback function to customize. And I'd assume a class on the root is usually always gonna be necessary anyways.

[2016-05-05 18:57] mbrookes commented on #4163
@nathanmarks - duh yeah. Hasty comment on mobile while stuck on the train this morning.

@jabrown93 Try as I might, I can't reproduce this either/

[2016-05-05 19:00] mbrookes commented on #1511
@rs6g10 - that looks like a docs example in the making. Care to submit a PR?

[2016-05-05 19:05] #4172 closed

[2016-05-05 19:21] #4171 closed

[2016-05-05 20:26] austntatious opened #4175 "Running docs locally throws Uncaught Invariant Violation"
After installing all the dependencies for material-ui as well as the docs subdirectory, running with `npm run browser:development` seems to work when building the modules, but there are several errors that appear on the client-side. The first error is an Uncaught Invariant Violation: addComponentAsRefTo(...): The mobile menu as well as the primary button are not working either. When clicked, the f

[2016-05-05 21:22] mbrookes commented on #3997
@EloB - will `onActive` not work for your use case?

(Also what was your process to get that bundle? Neat!

[2016-05-05 21:30] #4175 closed

[2016-05-05 21:31] mbrookes commented on #4175
https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#opening-an-issue

[2016-05-06 00:09] jabrown93 commented on #4163
@mbrookes hmm, my coworkers and I can reproduce it, but not reliably and there doesn't seem to be a pattern to when it happens

[2016-05-06 00:25] #1489 closed

[2016-05-06 00:25] #3046 closed

[2016-05-06 00:25] #3603 closed

[2016-05-06 00:25] #3740 closed

[2016-05-06 00:25] #3786 closed

[2016-05-06 00:44] mbrookes commented on #4163
That's annoying.

[2016-05-06 01:02] #4009 closed

[2016-05-06 01:02] tintin1343 commented on #4009
PR is merged. Hence, Closing this.

[2016-05-06 01:04] tintin1343 commented on #4173
I've seen the blurring issue because of the use of translate 3d. Its a known issue across a lot of browsers.

Care to Submit a PR?

[2016-05-06 01:06] tintin1343 commented on #4173
Also, Kindly refer to the https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md before posting the issue, so that you follow the issue template. It helps to have a better conversation and helps us in reproducing & debugging the issue easily.

Thanks.

[2016-05-06 02:46] blankzust commented on #4171
@tintin1343 Oh,It works.Thx

[2016-05-06 02:47] blankzust commented on #4171
It's puzzled.

[2016-05-06 04:09] chengjianhua commented on #288
@blackChef  your solution helps me a lot ! I have been involved in this problem a morning. Thank you!

[2016-05-06 04:57] iamzhouyi commented on #4163
I can reproduce on windows. try to click near top spot

[2016-05-06 06:28] monotonique commented on #4144
Happened to bump into the same problem. Thanks for that! It really helped.
I am expecting new release.

[2016-05-06 08:28] zabojad opened #4177 "You cannot call prepareStyles() on the same style object more than once"
I'm getting "2 Warning: You cannot call prepareStyles() on the same style object more than once." on an Avatar component with the below code:
[code]

Versions:
- material-ui: 0.14.4
- react: 0.14.8
- chrome: 50.0.2661.75

[2016-05-06 09:53] alitaheri commented on #4138
@callemall/material-ui guys we gotta fix this before the release O.o

[2016-05-06 10:29] wojtkowiak commented on #718
Experiencing the same issue.

[2016-05-06 12:29] SPAHI4 commented on #4151
would be great to have build-in util for compose date and time in a single value

[2016-05-06 12:58] nathanmarks commented on #4138
@alitaheri docs can be pushed any time -- this shouldn't affect release and it's fixed now anyways 👍

[2016-05-06 12:59] #4138 closed

[2016-05-06 13:02] nathanmarks commented on #4163
@iamzhouyi can you be more specific with your instructions?

[2016-05-06 14:01] alitaheri commented on #4138
I thought it was a bug in the src code :laughing:

[2016-05-06 14:41] ccomb commented on #1783
@olivier1984 have a look at #3812

[2016-05-06 15:27] SPAHI4 opened #4179 "[Stepper] hidden content"
When step content of vertical stepper is changed its still have old height and some content is hidden.

[2016-05-06 15:52] luisrudge opened #4181 "[SelectField] Add keyboard support"
- Material-UI: v0.15.0-beta.2
- React: any
- Browser: any

Steps to reproduce:
* go to http://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select
* click the `<select>` element
* type the first letter of an option ('s', for example)
* the `Saab` option will be selected
* go to http://www.material-ui.com/v0.15.0-beta.2/#/components/select-field
* click the first `SelectField` component
* type

[2016-05-06 18:55] tintin1343 commented on #3660
Closing this.

[2016-05-06 18:55] #3660 closed

[2016-05-06 19:19] tommytroylin opened #4184 "[Table] SelectAll in TableHead doesn't work as expect"
## Problem Description

I find some issues when I'm using Table Component

1. When `TableHeader.enableSelectAll` is `true`, and you manually set one`TableRow.selected` to `true`.
   then selectAll checkbox in `TableHeader` can't be unchecked (you can **check all** but can't **uncheck all**).
   To reproduce this bug, goto [Document](http://www.material-ui.com/v0.15.0-beta.2/#/components/table), fi

[2016-05-06 19:21] mbrookes commented on #4181
@luisrudge please can you make the title more succinct, and put the detail in the description.

Also, did the issue template not come up for you? What browser are you using?

[2016-05-06 19:22] jeannei commented on #4042
This issue is also in <li>Material UI Version 0.15.0-beta.2</li>

[2016-05-06 19:29] luisrudge commented on #4181
I updated the title and the issue with the relevant info

[2016-05-06 20:31] nathanmarks commented on #4181
@luisrudge I can't even tab focus the component (at least in the docs example).

[2016-05-06 21:25] #4144 closed

[2016-05-06 21:35] janesconference commented on #2085
@nathanmarks Why has it been closed? height: 100% and overflow does not work on tabs.

[2016-05-06 22:24] tintin1343 commented on #2309
@nathanmarks : How do I reproduce this ? I tried but its working fine for me.

![screen shot 2016-05-06 at 5 23 27 pm](https://cloud.githubusercontent.com/assets/15271922/15087537/44a52b86-13af-11e6-92ef-106e366a1a40.png)

[code]

[2016-05-07 00:49] luisrudge commented on #4181
Thanks @nathanmarks for the help. You're right, there's no keyboard support

[2016-05-07 03:45] tracker1 commented on #2000
Started working on a [standalone picker](https://github.com/tracker1/md-datepicker) in case anyone wants to take a look, there's a couple of bugs, and want to flush out the demo page/app and get it published to gh-pages, but it's working pretty well so far... have had to use CSS, and flush out a lot of bits in order to make it work in the context it was designed for (integrating it at my day job).

[2016-05-07 04:25] NickMalt commented on #4050
same problem

[2016-05-07 05:01] piglovesyou commented on #4181
This keyboard support is only necessary in SelectField, not in DropDownMenu and Menu. Is this correct?

[2016-05-07 06:22] luisrudge commented on #4181
I think so

On Fri, May 6, 2016 at 10:01 PM -0700, "piglovesyou" <notifications@github.com> wrote:

This keyboard support is only necessary in SelectField, not in DropDownMenu and Menu. Is this correct?

---
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/callemall/material-ui/issues/4181#issuecomment-217607975

[2016-05-07 08:03] mbrookes commented on #4181
@piglovesyou From an accessabililtynstamdpoint, every component should be keyboard navigable.

[2016-05-07 10:00] newoga opened #4190 "[Drawer] Theme prop not consistent with component"
### Problem description

The theme prop right now is `navDrawer` instead of `drawer`.

### Steps to reproduce

N/A

### Versions
- Material-UI: `master`
- React: N/A
- Browser: N/A

https://github.com/callemall/material-ui/blob/master/src/styles/getMuiTheme.js#L129

[2016-05-07 10:21] piglovesyou commented on #4181
@luisrudge @mbrookes Thanks. Because I didn't disagree with @mbrookes I only changed Menu.js. Hope it helps.

[2016-05-07 10:29] mbrookes commented on #4190
Oi! Issue template! 😄

[2016-05-07 13:33] waltcow commented on #4184
#3074

[2016-05-07 14:06] mbrookes commented on #4184
@waltcow thanks. @tommytroylin - no, you're right, `Table` is sorely lacking tests.

[2016-05-07 14:06] #4184 closed

[2016-05-07 14:24] alan-kleiman-ingressorapido opened #4194 "Codemod importing TableHeaderColumn as TableHeader"
Problem Description
-------------------
Running the codemod tool to upgrade to MUI 0.15, when upgrading a file that imported TableHeaderColumn was rewritten to import TableHeader in its place. All other imports worked.

The problem seems to be [here](https://github.com/callemall/material-ui/blob/master/packages/material-ui-codemod/modules/v0.15.0/import-path.js#L42). It seems like a one-line fix;

[2016-05-07 14:30] nathanmarks commented on #4194
Go for it!

[2016-05-07 14:42] AJIh opened #4195 "[Autocomplete] Server rendering broken because of property filter"
Problem Description
-------------------
I'm using `<Autocomplete>` in my app like this:

[code]

This will produce warning:

[code]

Server side:
[code]

Client Side:
[code]

Versions
--------

- Material-UI: 0.15.0
- React: 15.0.2
- Browser: Chrome 50.0.2661.94 (64-bit)
- Babel: 6.8.0
- Node: 6.1.0

[2016-05-07 15:41] olivier1984 commented on #1783
Thank you ccomb.

[2016-05-07 16:00] nathanmarks commented on #4177
outdated version

[2016-05-07 16:00] #4177 closed

[2016-05-07 16:13] #3629 closed

[2016-05-07 18:55] AdamGorkoz opened #4199 "New version problem : Invariant Violation: addComponentAsRefTo(...)"
Just created a new project and i'm getting this error :

- Material-UI: 0.15
- React:  15.0.2
- Browser:  Chrome 50.0.2661.94 m

[2016-05-07 20:20] joncursi opened #4200 "Unable to test touchTap Props [Enzyme]"
### Problem description

I am using the `AppBar` component's `onLeftIconButtonTouchTap` prop to load a hamburger menu to the screen, and on tap / click, change the state of my application by opening a `Drawer` component. I am trying to develop an Enzyme test to verify that when the hamburger menu is tapped / clicked, the drawer opens.

Mocha / Enzyme:

[code]

Error output:

[code]

I have tried s

[2016-05-07 20:25] joncursi commented on #4200
FYI

I have attempted the `AppBar` enzyme test above with multiple elements (`IconButton`, `EnhancedButton`, and `button`) as well, but none of those worked (same error). Where is this event being bound and how can we test it's behavior for project-specific purposes?

![screen_shot_2016-05-07_at_4_21_49_pm](https://cloud.githubusercontent.com/assets/4974609/15094383/f8694cc2-146f-11e6-9805-ca93873

[2016-05-07 20:38] joncursi commented on #4200
Looks like I'm not the only one stuck in this boat: https://github.com/airbnb/enzyme/pull/354

[2016-05-07 20:45] eleith commented on #1749
currently with the 0.15 beta, i'm still seeing problems of showing checkboxes when i wrap `<TableRow/>` with another component such as `<MyTableRowWrapper/>`.

stepping through the code, i was able to see what was going on. it turns out that the `<TableBody/>` component goes through each child and pushes a checkbox component (if enabled) and props into each child, assuming that all children are `<

[2016-05-07 20:48] nathanmarks commented on #4200
@joncursi

Works just fine for us: https://github.com/callemall/material-ui/blob/master/src/AppBar/AppBar.spec.js#L109

[2016-05-07 20:57] nathanmarks commented on #4200
@joncursi

Let me try with an icon button too.

[2016-05-07 21:07] joncursi commented on #4200
@nathanmarks

Interesting, I get this when trying `touchTap` simulation:

[code]

[2016-05-07 22:44] mbrookes commented on #4199
Please use the search: https://github.com/callemall/material-ui/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+multiple+copies+of+React

[2016-05-07 22:44] #4199 closed

[2016-05-07 23:51] pazer001 opened #4202 "SelectField opens slow"
after rendering 250 MenuItem's to SelectField, clicking it takes about 1 second and more to open and close.

this is my code:
`<SelectField floatingLabelText="Country" maxHeight={300} autoWidth={true}>
                        {_.values(this.props.state.chatModule.defines.body.countries.data).map((country) => {
                            return (<MenuItem value={country.countryCode} key={country.c

[2016-05-08 00:26] nathanmarks commented on #4179
@SPAHI4

How are you handling the content within the vertical stepper?

![img](https://i.gyazo.com/19485ad6ad1d2f73e1e1150288e0290d.gif)

[2016-05-08 00:32] nathanmarks commented on #4202
#1501 #2787 are connected/dupish

[2016-05-08 00:32] #4202 closed

[2016-05-08 01:50] christopherdro commented on #4059
I too am coming across this on the latest stable 0.15.0.

Small images seem to repeat and larger image don't scale properly.
In my particular case, the bug appears when someone tries to update their profile avatar.

Whats strange is if you alter a file and have webpack re-build, it shows the image properly.
Also, renders properly if the user updates their profile with the new photo and refreshes t

[2016-05-08 04:48] AJIh commented on #4195
It seems that the only difference is the indent of filter function.

With UglifyJS compressor, the error will not appear in production environment.

The filter property is defined in React Components. Maybe it is not necessary to render `filter` attribute to markups?

[2016-05-08 07:16] luisrudge commented on #4181
This is great stuff! Thanks @piglovesyou and @mbrookes <3

[2016-05-08 09:59] AJIh commented on #3757
[This line](https://github.com/callemall/material-ui/blob/master/src/TextField/TextField.js#L293) is using  `Math.random()` to create a uniqueId in `componentWillMount`, which will produce conflicts in client and server sides.

[2016-05-08 12:41] roughsoft opened #4205 "[Docs] Update the Roadmap"
### Problem description

Roadmap is out of date.

### Steps to reproduce

https://github.com/callemall/material-ui/blob/master/ROADMAP.md

### Versions

- Material-UI: 0.15.2
- React: N/A
- Browser: N/A

[2016-05-08 12:53] nathanmarks commented on #3757
@AJIh I could change it to a deterministic hash.

[2016-05-08 12:53] nathanmarks commented on #4205
We're aware, thanks for the reminder 👍

[2016-05-08 12:54] nathanmarks commented on #4205
@mbrookes TAG

[2016-05-08 12:55] alitaheri commented on #3757
deterministic hash of what unique deterministic entity? Not as simple as it might sound :sweat_smile:

[2016-05-08 13:01] nathanmarks commented on #3757
@alitaheri errrrrrr... 😅 😅

Ok, how about this: "provide an ID for server side rendering compatibility" -- lol

[2016-05-08 13:10] nathanmarks commented on #4200
@joncursi I see the issue. I've not actually used the `touchTap` event with the `mount` API, just `shallow` where it works fine.

See this: https://github.com/airbnb/enzyme/issues/99#issuecomment-169217877

[2016-05-08 13:10] #4200 closed

[2016-05-08 13:16] alitaheri commented on #3757
You mean add that note to https://github.com/callemall/material-ui/blob/master/src/TextField/TextField.js#L290?

[2016-05-08 13:18] alitaheri commented on #3757
How about, we don't add label and htmlFor **unless** an id is provided. and document it: "if you wanna support ARIA, add unique, deterministic ids to your text fields.

[2016-05-08 13:21] nathanmarks commented on #3757
@alitaheri is that all we are doing it for? Users are used to passing it for labels anyways.

[2016-05-08 14:10] mbrookes commented on #4205
Lets try doing it here. Contributors can edit this, than we can update the .md file when we're done.

For starters, lets strike through what's done. We can remove it aftter:

## Roadmap

The roadmap is a living document, and it is likely that priorities will change, but the list below should give some indication of our plans for the next major release, and for the future.

### 0.15.0

#### Breakin

[2016-05-08 14:41] mikedizon commented on #2636
would be great if this was added to the docs. I discovered the ability by searching through issues :)

[2016-05-08 15:05] lefnire commented on #4051
BTW this is fixed for my case with the 0.15.0 release (whether intentional or side-effect). :+1:

[2016-05-08 16:31] wzup opened #4207 "[Checkbox] How to add a custom attribute?"
How can I add a custom attribute and get its value within `onCheck` handler?

Example:
[code]

[2016-05-08 16:42] mbrookes commented on #4207
https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#asking-questions

[2016-05-08 16:42] #4207 closed

[2016-05-08 18:25] #1981 closed

[2016-05-08 18:31] alitaheri commented on #3757
yeah, take a look at the code, it's only one id and one htmlFor. do you think that's a good course of action? it might be slightly breaking, but very very slightly :grin:

[2016-05-08 18:34] joncursi commented on #4200
Ah, thanks for sharing that link! Going with native react testing utilities seems to be the only way around this problem. 👍

Does not work:

[code]

Works (provided that `injectTapEventPlugin()` has been called:

[code]

We can definitely chalk this up as an external dependency issue regarding React touchTap support.

[2016-05-08 18:47] oliviertassinari commented on #4195
Thanks for the report. The `filter` property isn't supposed to be passed to the input! Good catch.
Do you want to submit a PR to remove it?

[2016-05-08 18:49] oliviertassinari commented on #4194
Oups, I have writen this map too quickly. A PR would be great :+1:.

[2016-05-08 19:31] nmaves opened #4208 "CircularProgress"
Is there any way to make a smaller version of this?  I was hoping for a CircularProgress that was 36px by 36px.

[2016-05-08 19:31] Huxpro commented on #1673
@tintin1343 Sorry but im too busy to do that. I'll sooooo appreciate if someone can accomplish that work.

[2016-05-08 19:37] tintin1343 commented on #1673
@Huxpro : Thanks for replying.

I am closing this for now as this is not a pressing issue for us. Whenever you get time to work on this do let us know.  We will reopen this. Hope that is alright.

[2016-05-08 19:37] #1673 closed

[2016-05-08 22:07] mbrookes commented on #4208
https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#asking-questions

[2016-05-08 22:07] #4208 closed

[2016-05-08 22:45] jonsrose commented on #4013
I set up a simple test page that toggles menu items but I am not currently able to repro the issue. I can close it now and reopen it if it comes back

[2016-05-08 22:45] #4013 closed

[2016-05-09 01:11] newoga commented on #4190
Sorry, that was a long night and just wanted to make a note of it as a reminder before going to sleep. Just fixed it.

[2016-05-09 02:22] #4194 closed

[2016-05-09 05:31] AJIh commented on #3757
@alitaheri
+1. It's hard to find a unique deterministic entity to calculate hash. Passing `id` property is enough. But we should make sure that components based on `TextField`(like `AutoComplete`,  `DatePicker`...) will pass `id` property to its children.

[2016-05-09 07:29] DavidKvas opened #4212 "Table component is broken in IE < 11"
To reproduce it go to the [table demo page](http://www.material-ui.com/#/components/table) using IE < 11 . The page won't render and you'll get the following error message in your console:

`
Unable to get property 'allRowsSelected' of undefined or null reference
`

[2016-05-09 07:33] adrianblynch commented on #1702
Would these being hidden be a better default?

Sorry to be that person that comments on a closed issue...

[2016-05-09 08:20] simonelp opened #4213 "[Auto Complete] Clear value issue"
### Problem description
When i try to clear the value of the TextField passing searchText props, after select one item from the menu, the value want change.

I'm using the onNewRequest callback, but it's called before setState with selected value.
Also trying to change searchText props with a setTimeout (after the setState function has been called), the check in componentWillReceiveProps doesn't l

[2016-05-09 09:03] EloB commented on #3997
@mbrookes Thanks! I've created a private webservice that I probably will publish soon but the process is pretty easy.

Please create a lightweight jsfiddle template so we can fork on jsfiddle to easier send in bugs and add that to contribute guide.

1. Create a folder
2. Run `npm install the packages you need`
3. Create a `index.js` file fill template below
4. Run `browserify` on that index.js fil

[2016-05-09 09:50] Lakshman-LD opened #4214 "NestedItems are not invoked n Selectable List when used with Link of react-router"
### Problem description
SelectableList does not invoke valueLink method to change the highlighted listItem if the listItem is enclosed with Link in react router.

### Steps to reproduce
Use <Link> from `react-router` and enclose the listItem with <Link> tag.

### Versions

- Material-UI: 0.15.0-alpha.1
- React: 0.14.7
- Browser: chrome

[2016-05-09 09:54] mbrookes commented on #4190
No worries, I was only teasing. :)

[2016-05-09 13:51] jeffshaver opened #4215 "AppCanvas is not defined when imported"
### Problem description

When trying to `import {AppCanvas} from 'material-ui`, `AppCanvas` is undefined. The only way around this is to do `import AppCanvas from 'material-ui/internal/AppCanvas'` which seems weird.

### Steps to reproduce

put `import {AppCanvas} from 'material-ui'` in your code somewhere.

### Versions

- Material-UI: 0.15.0
- React: 15.0.2
- Browser: Chrome (50.0.2661.94 m)

[2016-05-09 14:26] MoOx opened #4216 "AppBar broken on Firefox 48"
On your own website

![screen shot 2016-05-09 at 16 24 30](https://cloud.githubusercontent.com/assets/157534/15116249/c82e45dc-1602-11e6-8915-affa2ea45866.png)

[2016-05-09 14:34] holywyvern opened #4217 "[Drawer] Close request ignored when clicking on Drawer overlay"
### Problem description
When I click on the Overlay of the drawer, it doesn't close as expected, but pressing ESC key calls the event without troubles.

### Steps to reproduce

Let me show some bits of code:

[code]

requestMenuOpen is called when I press ESC key, but not if I press outside of the Drawer.

### Versions

- Material-UI: master
- React:          15.0.2
- Browser:       Chrome 50.0.26

[2016-05-09 14:39] jeffshaver opened #4218 "[SelectField] doesn't open when floatingLabelText is clicked"
### Problem description

If you provide `SelectField` with a  `floatingLabelText` property and then click the `SelectField` where the `floatingLabelText` shows up, the `SelectField` doesn't actually open.

### Steps to reproduce

1. Add a `SelectField` with a `floatingLabelText`
2. Hover mouse where the text is (note that its a text cursor style instead of a hand)
3. Try to click. Notice that noth

[2016-05-09 14:48] jeffshaver commented on #4218
One way of fixing this issue is to also provide `floatingLabelStyle={{pointerEvents: 'none'}}`. This should probably be the default though

[2016-05-09 14:53] catamphetamine opened #4219 "[DatePicker] Inline mode has multiple positioning and transition placement/direction issues"
### Problem description

DatePicker in inline mode is positioned incorrectly.
### Steps to reproduce

Go to the demo page http://www.material-ui.com/#/components/date-picker
Scroll down a bit so that `Inline` section is visible but it should stay at the bottom of the page.
Focus the date picker field.
The date picker component appears sticking to the top of the page.
### Versions
- Material-UI:
-

[2016-05-09 15:04] pulpfree opened #4220 "RaisedButton fullWidth property"
### Problem description
When setting the property: `fullWidth={true}` the button does not alter width
This only started after upgrading from 0.14 to 15
If I set the style attribute with `style={{width: '100%'}}` I do get the desired results.

### Steps to reproduce
    <RaisedButton
        label='Search'
        fullWidth={true}
        secondary={true}
        onTouchTap={this.handleFetchReport.

[2016-05-09 16:29] rvbyron commented on #4066
Well, I think there are many requirements listed and suggestions offered, So, is there a take away from all of this discussion? What is the next course of action? Is there any work being done on implementing react-jss into this material-ui?

[2016-05-09 17:09] nathanmarks commented on #4066
@rvbyron Yep, we're experimenting with a couple of rough ideas behind the scenes. Will update this issue when we've got some more concrete ideas.

[2016-05-09 18:05] Itagiba opened #4221 "Drawer not working and not proper documentation"
##### I decided to choose material-ui in favour of bootstrap and react-toolbox thinking  that the components would be much more out of the box and properly documented but i am having a nightmare implementing anything because none of the documentation seems consistent. I have tried to copy and paste the code straight from: http://www.material-ui.com/#/components/drawer  and the first thing is that

[2016-05-09 18:25] nathanmarks commented on #4221
@Itagiba The initial code not working is because you have different babel settings/plugins -- nature of the best.

To address your 2nd problem -- it's because your `state` property is supposed to be `state.open` but you're passing `this.state.closed` to your drawer.

[2016-05-09 18:25] #4221 closed

[2016-05-09 18:31] nathanmarks commented on #4219
@halt-hammerzeit I don't see your exact problem -- but I see one very similar (it does not stick to the top, but rather opens unnaturally):

1. Our datepicker is not keyboard accessible (can't focus the input to active it...)

2. The open transition isn't natural when the datepicker input field is near the bottom of the page. Expanding popovers are supposed to appear to expand from the element you

[2016-05-09 18:32] nathanmarks commented on #4220
@mbrookes seems like a prop we should get rid of

[2016-05-09 18:35] nathanmarks commented on #4216
@MoOx `48.0a2` is an alpha release for a version not scheduled to hit the release channel until august. Please stick to betas for browser compatibility testing.

[2016-05-09 18:35] #4216 closed

[2016-05-09 18:36] halt-hammerzeit commented on #4219
Yes, that's exactly what I'm talking about: it is supposed to open downwards when you click the input.
But it opens as if the focused field was at the top of the page.
If you don't click cancel and keep on scrolling down then it places itself to the correct position once the space under the input is sufficient.

[2016-05-09 18:37] halt-hammerzeit commented on #4219
Ok, since you know about that issue you can close this github issue whenever you want.
It was just a notification for your team.

[2016-05-09 18:38] nathanmarks commented on #4219
@halt-hammerzeit even the regular implementation is incorrect -- it should **cover** the text field it is attached to. That's how other popovers on form elements should act according to spec.

Leave this open so we have an issue for it.

[2016-05-09 18:42] nathanmarks commented on #4215
@jeffshaver undocumented components should be considered private.

[2016-05-09 18:42] #4215 closed

[2016-05-09 19:08] jeffshaver commented on #4215
@nathanmarks ok.... then should we not be using AppCanvas? Is there any reason to use it?

[2016-05-09 19:21] Itagiba commented on #4221
Thanks for your reply. I had corrected the `this.state.closed` issue and also posted my question to stackoverflow but not reply.

I have reverted some of the code to look like the documentation and updated my babel plugins (see below), but I am still getting an `unexpected token error`.

[code]

My package json file:

[code]

[2016-05-09 19:59] MoOx commented on #4216
I used it daily for years like a lot of other developers and don't have any issues on a daily basis.
FYI, it's "just" the display: flex; property that is not working added. Adding by hand using in the devtools fix the issue.

[2016-05-09 20:07] nathanmarks commented on #4216
@MoOx we wouldn't be able to get to this for a while and the `AppBar` has a full replacement coming soon (before v48 is released). We simply don't have the bandwidth to tend to issues that aren't affecting normal browser versions -- we have a queue of issues present in current browser releases (not developer previews).

That being said, feel free to submit a PR to fix it 👍

[2016-05-09 20:33] mbrookes commented on #4219
Related: #2966

[2016-05-09 21:01] mbrookes commented on #4220
Yeah, that one always bugged me. I suggest we 'wontfix' this issue (no offence @pulpfree 😄 ), as it's removed in `Button`.

[2016-05-09 21:08] mbrookes commented on #4218
Seems to have broken between 0.14.4 and 0.15.0. @jeffshaver Care to submit a PR?

[2016-05-09 22:37] mbrookes commented on #4219
@halt-hammerzeit What you originally described (dialog sticks to the top of the screen), what @nathanmarks mentioned (animation origin), what you responded with (datepicker position), and @nathanmarks subsequently mentioned (anchor origin) are four different things.

The first I can't reproduce either.
The second is covered by #2968 (but the wording there could be clearer)
The third can be fixed b

[2016-05-09 22:43] mbrookes commented on #1702
@adrianblynch I think so, and I've noted this elsewhere in the past. Table may eventually get an overhaul, so that may be the time to address this.

[2016-05-09 23:24] pulpfree commented on #4220
np @mbrookes , knowing that I can make styling adjustments.

Thanks,
ron

[2016-05-09 23:26] #4220 closed

[2016-05-10 00:17] wtgtybhertgeghgtwtg commented on #4066
The issue is that :hover is a very basic, very vital part of styles.  Futurism aside, it might be prudent to avoid premature commitment to a solution that must resort to cheats and work-arounds to reimplement a native feature.

[2016-05-10 01:29] nathanmarks commented on #4066
@wtgtybhertgeghgtwtg we're working towards a solution that uses real stylesheets so functionality such as `:hover` is supported 👍

[2016-05-10 01:36] zachguo commented on #3637
I ran into this issue after upgrading from 0.14 to 0.15.
It didn't work even though I hardcoded `displayName`. Is there any workaround?

[2016-05-10 02:21] zachguo commented on #3637
ok, a workaround is adding `static muiName = 'TableBody';`(ES6) or `statics: { muiName: 'TableBody' },` to your wrapping component.

[2016-05-10 03:43] AresZhu commented on #3712
@mbrookes - Sorry, this thread is still open.
@owencm May I know is there any update about the v1 implementation of bottom navigation component?

[2016-05-10 03:44] DavidKvas opened #4223 "[RadioButton] doesn't work in IE < 11"
### Steps to reproduce
To reproduce it go to the [radio button demo page](http://www.material-ui.com/#/components/radio-button) using IE < 11 . The page won't render and you'll get the following error message in your console:

`Unable to get property 'valueSelected' of undefined or null reference`