[2020-11-29 22:14] cesar-abj opened #23784 "LOOP error on LINK"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

 when i access the follow link "https://material-ui.com/pt/api/tipografia/" an error LOOP appear

[2020-11-29 22:25] oliviertassinari commented on #23784
How did you end-up on this URL? I can't reproduce the loop.

[2020-11-29 22:29] cesar-abj commented on #23784
That only happens when i try to access in Pt-BR language

[2020-11-29 22:32] cesar-abj commented on #23784
well now when i try again only appears a 404 not found

[2020-11-29 22:34] cesar-abj commented on #23784
happen when i go to api of Typography on PT-BR first i receive the loop now just a 404.

[2020-11-29 22:41] #23784 closed

[2020-11-29 22:42] oliviertassinari commented on #23784
Good, the loop is coming from the cached page, the 404 is coming from Crowdin that forces two keys to be duplicate when they are not: https://github.com/mui-org/material-ui/pull/23719/files#diff-3fa58c06be457637b39c5b9b881631938e55d20446c5e4fd10a871606b06c7cf.

[2020-11-29 22:47] tarwich commented on #16704
## Wrap-up from the stress test

I found a bug in the way I was using MobX, which was causing the view to render 2-4 times. Normally it's not noticeable since a render takes around 5-50ms, but when they're taking 1000ms, you kinda notice.

### box-sx
Uses `<Box />` with the `sx={}` property to allow an inline-declared stylesheet to affect divs within.

1400ms
100% (baseline)
500 students
(8900ms b

[2020-11-30 00:17] saiki4116 commented on #21154
@oliviertassinari ,

I can add more tests in `PaperTest` like the ones present for `AvatarTest` using `TestOverride` component.

Changes would break this [test](https://github.com/mui-org/material-ui/blob/6f56be2a07185be06984476aed9f518cbbd6b87d/packages/material-ui/test/typescript/components.spec.tsx#L1072)

[code]
is there any other component that can be used for this test, instead of `Paper`

[2020-11-30 03:58] ToneCat commented on #20482
Did you ever fix this? I'm having the same issue

[2020-11-30 04:04] marianayap commented on #23363
Hello @oliviertassinari, I review the dilemma and I don't feel like I could aport more in the issue but I definitely will love to work in another one

[2020-11-30 04:24] Jack-Works commented on #21749
Yes, that works thanks! But I'm curious why, based on what I learn writing `export {}` make this file a non-ambient module so it's inner declaration are local. Why it can be merged into the global scope?

[2020-11-30 07:05] Jack-Works opened #23785 "Alpha version should have strict version range dependencies to other mui packages"
Because it's hard to bump to many alpha versions at once, I need to upgrade it gradually but I found I get trapped into wrong dependencies resolution.

[code]

In the resolution version above, alpha 10 depends on "@material-ui/system@^5.0.0-alpha.6" but it is resolved to alpha 17 which is incompatible to alpha 10.

[code]

Please list dependencies to each other with strong equal not `^`

[code]

[2020-11-30 08:04] sarbazx commented on #23690
Hi, any progress on this? I need this.

[2020-11-30 08:56] rohan-buchner commented on #23757
@mbrookes you are correct. I have followed all those steps. But somehow my changes didnt reflect. I'll try this in a bit (I still have a dayjob unfortunately :P), but I think this is the crucial part.

And yes, my ultimate want is to have the palette work with a custom variant (Sorry about the 2 fold ticket or question)

Thank you all for the great lib & support.

[2020-11-30 08:58] shivgarg5676 commented on #21142
I also need this issue fixed as this is impacting the page load time of website a load.
FYI: Lighthouse score, if I enable this effect is ~60 and without this effect, it is around ~75. So there is clearly an impact of 15 points in Google page speed insights due to this issue.

[2020-11-30 09:06] Jack-Works commented on #22342
For anyone who needs to tweak emotion too.

[code]

[code]

[2020-11-30 09:23] hmaddisb commented on #23757
@oliviertassinari I could include the change you have suggested for this issue in the CONTRIBUTION.md update I am going to include in my PR for #23583 ? Since they both relate to documentation changes.

[2020-11-30 09:56] eps1lon commented on #23709
Now that I look at this issue without Material-UI: This looks like a React bug to me. We should still get this fix in but I'm also opening a React issue to get some clarification.

[2020-11-30 10:23] eps1lon commented on #23780
The `component` prop is lost with higher-order components right now. We'd like to come up with a better solution but haven't seen on thus far. In the meantime try type-casting like so:

[code]

Closing in favor of https://github.com/mui-org/material-ui/issues/15827

[2020-11-30 10:23] #23780 closed

[2020-11-30 10:41] pusztaienike commented on #23717
Thank you for your patience @oliviertassinari. The problem was a version-mismatch in our repository caused by yarn (https://github.com/yarnpkg/yarn/issues/3967). After updating to @types/react 17.x the errors are gone.

[2020-11-30 10:41] #23717 closed

[2020-11-30 10:46] Vladislav747 opened #23787 "I use ReactModal Window with Material-UI Tooltip"
I use Tooltips for my React Modal Window

I found that my Tooltips are placed after Modal window.
See please first screenshot
![screenshot № 1](https://user-images.githubusercontent.com/17293380/100600503-2e625400-3323-11eb-885e-0d154e4adedb.jpg)

 It also placed after ModalWindow in modal Structure.
See please second
![screenshot № 2](https://user-images.githubusercontent.com/17293380/100600534-3

[2020-11-30 10:58] mnajdova commented on #23757
@rohan-buchner the styles defined in the variants, win over the default styles, and you have this line in your variant's styles:
[code]

That's why that color is set as background. You can add an additional override for the combinations of the new variant and `color: primary`, and add the primary color as a background. I've updated your codesandbox here (using simply blue and red colors for the pr

[2020-11-30 10:59] mnajdova commented on #23787
Can you please use the issue template, and provide a reproduction. Ideally, a codesandbox would be ideal

[2020-11-30 11:13] montogeek commented on #22275
@trcloud How did you solve this issue?

[2020-11-30 11:16] fatemefh commented on #4606
Hello, how can I change the submenus of a menu to open it in nestedMenu reactjs?

[2020-11-30 11:39] oliviertassinari commented on #22275
@mbrookes Looks like the exact same question you asked me yesterday. I'm glad v5 API, by design, solve this issue.

[2020-11-30 11:45] montogeek commented on #22275
@oliviertassinari May I ask how v5 API will solve it?

[2020-11-30 11:56] oliviertassinari commented on #22275
By forcing to increase the specificity.

[2020-11-30 12:00] #23787 closed

[2020-11-30 12:01] oliviertassinari commented on #23787
@Vladislav747 This is expected, you need to increase the z-index of the tooltip to display above your modal. If you can swap the modal component to use the one from Material-UI, you won't get this conflict.

[2020-11-30 12:02] oliviertassinari commented on #23757
It seems that the different concerns were addressed, (this issue bundle a lot of different topic). I have renamed it to focus on one actionable item: how to start the documentation as one of the first steps.

[2020-11-30 12:05] Vladislav747 commented on #23787
Thank you for you answer. I increased z-index of Tooltip with style option.

<Tooltip title={deleteIconText} placement="top" style={{ zIndex: 10000000000000000000000000000000000000000, }} > <GarbageIcon onClick={() => { cleanAllListHeaderProps() }} /> </Tooltip>

Is there way to save my old React Modal and solve problem?

[2020-11-30 12:06] Vladislav747 commented on #23787
I am really sorry but i can't provide the whole code in codesandbox - it's too big and i can show you only parts of it.

[2020-11-30 12:06] oliviertassinari commented on #23717
@pusztaienike I'm glad it's working with React 17

[2020-11-30 12:07] oliviertassinari commented on #23787
@Vladislav747 Please ask on StackOverflow

[2020-11-30 12:09] Vladislav747 commented on #23787
@oliviertassinari Ok thanks !

[2020-11-30 12:44] rohan-buchner commented on #23757
@mnajdova I got it! Thank you! (Still a little new to some of the more advanced MUI usages) But that but that updated sandbox you've created helped tremendously. Thank you so much.

[2020-11-30 14:37] din-psnl opened #23788 "Drawer Issue on Material Design Website"
**Drawer is flickering on the material design's website.** (On Safari Web Browser only)
Check this Screen Recording Video to get an idea : [Screen Recording Video](https://drive.google.com/file/d/1zPRhF7PfhoIYt5Tu8DTECGT5QbL5pBPg/view?usp=sharing).
The display resolution is the default native resolution (1280x800).
The flickering stops if I slightly re-adjust the size of the browser window.

## Ex

[2020-11-30 15:37] marianayap commented on #23709
Hello @joshuambg, I am looking to work on the issue as a first time with open source. Is it taken already? If not I'll like to contribute

[2020-11-30 15:48] AGPX opened #23790 "TextField adornments should be aligned with the text, when requested."
The adornments are always vertically centered, but when variant is "filled" and we have a label, this is bad looking.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The adornment is always vertically centered.

![image](https://u

[2020-11-30 16:02] mnajdova commented on #23711
I can repro it
![bug-tab](https://user-images.githubusercontent.com/4512430/100632944-b9e0e280-332d-11eb-9bff-46dcb79b93dd.gif)
Will debug what could be the issue and post my findings here

[2020-11-30 16:11] oliviertassinari commented on #23788
Duplicate of #22812

[2020-11-30 16:11] #23788 closed

[2020-11-30 16:13] oliviertassinari commented on #23790
Duplicate of #19792

[2020-11-30 16:13] #23790 closed

[2020-11-30 16:16] oliviertassinari commented on #23739
@fbaeta Feel free to provide a reproduction. If there are no workarounds, we should probably consider a solution in Material-UI. However, you are mentioning the theme creator helper that can be bypassed, so we would very likely be better off ignoring this case. We can also reconsider if more developers face this issue.

[2020-11-30 16:32] oliviertassinari commented on #21142
@shivgarg5676 What do you think about the proposed solution in https://github.com/mui-org/material-ui/issues/21142#issuecomment-633144987?

[2020-11-30 16:35] oliviertassinari commented on #23785
@Jack-Works Thanks for raising. This sounds about right. I think that we can use this as an opportunity to put lerna in place.

[2020-11-30 16:44] oliviertassinari commented on #21154
@saiki4116 I wouldn't worry about this test case as the component approach is the one we used everywhere.

[2020-11-30 16:59] #23709 closed

[2020-11-30 17:00] #19887 closed

[2020-11-30 17:03] oliviertassinari commented on #23782
@mirzacodenevis What you did with the root, you would need to reproduce it with subparts of the component.

[2020-11-30 17:18] marianayap commented on #23572
@oliviertassinari I'll like to work on this issue

[2020-11-30 17:20] davidfarina commented on #14018
Is passing an empty object the solution now? Because I just updated to typescript: "4.1.2" and @material-ui/core: "4.11.1" and still get the "Expected 1 arguments..." issue.

[2020-11-30 17:20] oliviertassinari commented on #23572
@eps1lon From what I understand, after https://github.com/mui-org/material-ui/issues/23572#issuecomment-733206342, the UI is valid, the prop isn't configured correctly when the user search, it displays an empty result. Does it qualify?

[2020-11-30 17:39] oliviertassinari commented on #23363
@marianayap Ok sounds fair. For others, I think that we can apply https://github.com/mui-org/material-ui/pull/23453#issuecomment-724183135 as a first approximation. It's definitely an improvement compared to what we have now.

Then regarding the dilemma, I would personally prefer waiting for the Concurrent Mode issue to surface before considering it. If we could have a reproduction, to make it mor

[2020-11-30 17:43] oliviertassinari commented on #21749
@mnajdova Should we document it in https://next.material-ui.com/guides/typescript/#customization-of-theme?

[2020-11-30 17:57] mbrookes commented on #22275
See also: https://github.com/mui-org/material-ui/issues/23755 – we may add a prop for this.

[2020-11-30 18:00] mnajdova commented on #21749
Yes, will do it tomorrow

[2020-11-30 18:06] mbrookes commented on #23757
@rohan-buchner Is there a gap in the documentation? If so, how could we improve it?

[2020-11-30 18:17] eps1lon commented on #23572
What is a valid UI in this context?

[2020-11-30 18:22] oliviertassinari commented on #23572
I guess if the options have no correct labels, then is to have them ignored and not matching when searching.

[2020-11-30 19:24] oliviertassinari commented on #23709
@marianayap Sorry, the issue was already worked on. The problem should now have been solved :)

[2020-11-30 20:27] michalbundyra opened #23792 "Custom children type with TypeScript 4.1"
I am trying to create "extension" of breadcrumbs with specific type of children.
I was able to do it, and all was working fine with TypeScript 3.9.7 and it looks like it works also with 4.0 but not with 4.1.

I am not sure if the issue is with material-ui, TypeScript or my implementation, but I assume it might be material-ui compatibility issue, as it works fine with TypeScript 3.9 and 4.0.

- [x]

[2020-11-30 20:39] eps1lon commented on #23792
You're trying to assign `{ children: Array<undefined | ReactElement> }` to `{ children:
    | ReactElement<BreadcrumbLinkProps>[]
    | ReactElement<BreadcrumbLinkProps>
    | undefined }`.

Your `BreadcrumbsProps` do not declare that they can handle with items that are undefined but you're passing them in `<Breadcrumbs>{}{undefined}</Breadcrumbs>`.

And then you're recursively passing it in `<Bre

[2020-11-30 20:39] #23792 closed

[2020-11-30 21:04] m-salamon commented on #23306
Also you will need to install icons the same way
`npm install --save --legacy-peer-deps @material-ui/icons`

[2020-12-01 00:39] JackS0001 opened #23795 "Modals / Improved Toasts"
Modals similar to bootstrap

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Motivation 🔦

I feel that the Modal in bootstrap is more practical and easy to use than that of Material-UI

[2020-12-01 01:48] #23795 closed

[2020-12-01 05:50] rohan-buchner commented on #23757
The documentation is actually good... its just the sheer volume of the docs & the size of the project.

I for example. Before asking, cloned the project, got it up and running and managed to add a new route as per your suggestion... But I just couldn't get the page to appear

Off the cuff I cant think of anything exactly, other than it being daunting/overwhelming when jumping in the first time, an

[2020-12-01 08:54] oliviertassinari commented on #23795
@JackS0001 Did you find a solution? What was the frustration about?

[2020-12-01 09:27] oliviertassinari commented on #23781
We had a similar report in #11696. I could reproduce it but I really need to try hard to have. Closing as not important

<img width="620" alt="Capture d’écran 2020-12-01 à 10 24 48" src="https://user-images.githubusercontent.com/3165635/100721490-ae3dfc00-33bf-11eb-9e2a-eafe6692e0e2.png">

[2020-12-01 09:27] #23781 closed

[2020-12-01 11:05] mizanureclips opened #23797 "[SwipeableDrawer] Tabs with a scroll closes drawer"
I use Material UI in my project. I have scrollable tabs inside the swipeable drawer. In the mobile version when I scroll tabs right side (like the image below) my drawer has been closed [drawer opens from the right side and closes from the left side]. But I want to scroll tabs without closing the drawer. Only scrolling tabs do not close the drawer. But swiping another element drawer will be closed

[2020-12-01 14:50] oliviertassinari commented on #23492
An iteration on this eslint plugin can be found at https://github.com/jens-ox/eslint-plugin-material-ui-unused-classes.

[2020-12-01 14:56] fbaeta commented on #23739
I will give you a more isolated case of the use case that we are facing in some weeks.

You mention that theme creator can be bypassed. How? The theme creator is a feature of MUI, we are happy with it and we want to continue to use it.

Nevertheless,
1. Checking `constrcutor` is not a bullet proof javascript technique to detect if an object is a plain object
2. JSS is compatible with multiple ifra

[2020-12-01 15:08] eggerand13 commented on #5861
Just like the inital issue starter I tried several ways to inject/force a certain font size into this component but I wasn't able to do it.
Is it therefore possible that this problem is still persisting?

[2020-12-01 15:09] oliviertassinari commented on #23739
@fbaeta Thanks! Do you have a specific use case for providing an element from a different window inside the theme?

[2020-12-01 15:17] oliviertassinari commented on #23797
@mizanureclips This issue should have been solved in the latest version of the library. We have fixed the same issue but for the other direction.  Please provide a minimal reproduction test case with v5.
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-12-01 16:14] yareyaredesuyo commented on #22342
Introducing `sx` props is very nice idea, but i have a question.

what is the difference between anoter library which support sx props, like [theme-ui](https://theme-ui.com/sx-prop/), [chakra-ui](https://chakra-ui.com/docs/features/style-props)?

I read https://next.material-ui.com/system/properties/ and in compared to [chakra-ui's props](https://chakra-ui.com/docs/features/style-props), there loo

[2020-12-01 16:43] gicontz commented on #16442
I've used styled-components on this one
import { Popover as MenuPopover } from '@material-ui/core'
const OptionPopover = styled(MenuPopover)`

    padding: 7px 0;
    width: 121px;

      cursor: pointer;
      font-size: 11px;
      margin: 0;
      color: ${({ theme }) => theme.optionPopover.text.normal.TEXT_COLOR};
      &:hover {
        background-color: ${({ theme }) => theme.optionPopover.b

[2020-12-01 16:45] gicontz commented on #16471
I've used styled-components on this one
[code]

It works on the PopOver but on other part of application - Select Components and like, this will not work anymore... or i think someone could help us out

[2020-12-01 19:18] nklswbr opened #23804 "[docs] Add a shortcut to access the search bar"
It would be great I there were the possibility to access the search bar of the Material-UI docs website via a shortcut. So that when I press CTRL + K on Windows or ⌘ + K on Mac the search bar gets focused and I can enter my search term without using the mouse. The [Tailwind](https://tailwindcss.com/docs) docs and the [React Testing Library](https://testing-library.com/docs/react-testing-library/in

[2020-12-01 19:21] oliviertassinari commented on #23804
@nklswbr It was implemented two years ago but is now broken:

https://github.com/mui-org/material-ui/blob/5eaa2b82def79c14f49d3c34aed0f4dc31b2b7f3/docs/src/modules/components/AppSearch.js#L128

[2020-12-01 19:31] eps1lon commented on #23804
Please include your environment. It's working fine for me and our screen reader tests are passing as well.

Latest docosaurus: https://testing-library.com/

We'll switch to a two-key combination anyway in the future to pass [WCAG SC 2.1.4.](https://www.w3.org/WAI/WCAG21/Understanding/character-key-shortcuts.html).

[2020-12-01 19:57] oliviertassinari commented on #23804
@eps1lon I believe It fails as soon as a user clicks on the page, independently from the environment (It fails for me on macOS and Windows, all browsers). The `<main>` get the focus because is tabIndex={-1} and fails the condition on `<body>`. Can you reproduce it?

A quick fix would be:

[code]

Right, I have included more sources, but it doesn't seem to be broadly normalized, <kbd>s</kbd> is pop

[2020-12-01 20:27] oliviertassinari commented on #22342
@yareyaredesuyo Thanks for raising the point of confusion.
The `sx` prop is a superset of CSS. Do you want to update https://next.material-ui.com/system/properties/ to make it clearer? Maybe it's better explained in https://next.material-ui.com/system/basics/#the-sx-prop?

[2020-12-01 21:08] eps1lon commented on #23804
That wouldn't fix the issue. The idea is to have the shortcut activate if focus is on non-interactive content but you can't know that at runtime. At least that's how shortcuts work. What you're proposing simply kicks the issue down the line.

You can't know that from the comment. There are multiple reasons this could've happened. Generally, you know something from an unknown.

[2020-12-01 21:56] #23757 closed

[2020-12-01 22:07] sujinleeme opened #23807 "[docs] Make stable width of localization example"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When the user selects the option in example autocomplete, label text stays Chinese characters, a default option.

![test2](https://user-images.githubusercontent.com/6011401/100801614-8

[2020-12-01 22:13] oliviertassinari commented on #23804
Agree, the change with `<main>` is only an approximation. We can probably do better. Is this logic be good enough?
https://github.com/algolia/autocomplete.js/blob/892a8f0f1114d55084e43024a4d6fbfd6725c640/src/autocomplete/typeahead.js#L140 It seems to be the same logic used in https://github.com/greena13/react-hotkeys/blob/bfe9c06b3d89504742701b05deb645526e7ad3f0/src/lib/config/Configuration.js#L34

[2020-12-01 22:23] oliviertassinari commented on #23807
It was already fixed https://next.material-ui.com/guides/localization/#example. However, I think that we can still improve the demo by making it width stable:

[code]

<img width="876" alt="Capture d’écran 2020-12-01 à 23 22 21" src="https://user-images.githubusercontent.com/3165635/100803828-22ae8480-342c-11eb-8939-113378f3aa11.png">

[2020-12-01 23:06] oliviertassinari commented on #16442
@mnajdova This one might require a tricky tradeoff for the unstyled components. We might want to keep the inline style for simplicity. It seems to be what [react-modal](https://github.com/reactjs/react-modal) does without any major downsides. However, if we do, we make overrides harder, so better be sure the styles rarely need to be overridden.

[2020-12-01 23:07] oliviertassinari commented on #16471
@gicontz See https://material-ui.com/guides/interoperability/#portals for why it doesn't work and how to fix it.

[2020-12-02 04:34] manuelpaulo opened #23808 "[TouchRipple] Do not trigger it when scrolling"
I've checked #3407, but I honestly think it's still not fixed, or is it back?!

https://www.dropbox.com/s/jm36onjlml8j9oq/IMG_3636.MOV

Thanks a lot.

[2020-12-02 05:35] yareyaredesuyo commented on #22342
@oliviertassinari

Yes current doc is confusing and want to be updated http://next.material-ui.com/system/basics .

What the points i want to know from the docs and maybe not documented thing is followings.

- What Material-UI System itself meaning?
  - Equivalent to inroducing and using `sx` props (styled-system props) as a recommend way for styling? or have any other features?
  - Adding simple

[2020-12-02 05:47] angadp commented on #23673
Can I take this one? I have gone through the Datepicker code and have gone through the documentation and the issue. Would love for this to be my first PR.

[2020-12-02 05:49] angadp commented on #23673
From what I understand I need to expose a prop which will take an icon and that icon should appear on the datepicker.

[2020-12-02 10:11] Ritorna commented on #23710
most likely this performance issue comes up when dealing with complex layouts (i. e. multiple/nested css grid areas comined with multiple elements like textfields and so on).
@shayantabrizi, you could try "isolating" some of your layout areas using the [css contain](https://developer.mozilla.org/en-US/docs/Web/CSS/contain) property using strict or layout, to tell the browser to only recalculate th

[2020-12-02 10:39] #23583 closed

[2020-12-02 10:42] oliviertassinari commented on #23808
@manuelpaulo The behavior in the video looks correct, the ripple is interpreted as soon as you start scrolling. What I am missing?

[2020-12-02 12:00] piyushkmr opened #23810 "[style] Inconsistent class ids with multi-level component wrappers"
I am using Material-UI as the primary component and styling source for our projects, and we are following monorepo structure.

So here, I created the following architecture to use.

- ccl (Central-component-library) [Our component repository, it wraps material-ui components]
  - Uses material-ui as depenency
- common [Our repository that hourses business components e.g. feedback popup that is used

[2020-12-02 12:34] tar-aldev opened #23811 "[Autocomplete] Improve description of getOptionSelected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am using Autocomplete with some extra functionality, to be able to add new value and select existing values (multiple values select)
When new option is added and then existing one i

[2020-12-02 12:57] oliviertassinari commented on #23810
@piyushkmr We can't help without a minimal live reproduction. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point.

[2020-12-02 13:00] oliviertassinari commented on #23811
@tar-aldev Thanks for the report. Any idea what's wrong?

[2020-12-02 13:38] oliviertassinari commented on #23811
Ok, it looks expected, you need to add the new option in the list of options and have `getOptionSelected` match it. `getOptionSelected` needs to create a function between the ensemble of the options and the ensemble of the values (option A can only match with value X, not value X and value Y). In your case, you tell the component that tag 2 is already selected, so when the end-user clicks on it, t

[2020-12-02 13:41] MrBlue9 opened #23814 "[5.0.0-alpha.17] Blank page when using styled-engine-sc"
- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After updating @material-ui/core to 5.0.0-alpha.17, I get a blank page when opening my app. It seems to be related to @material-ui/styled-engine-sc, which I have set up an alias for

[2020-12-02 13:44] oliviertassinari commented on #23673
@angadp Feel free to work on it. We need to introduce a `components` prop to handed the override of nested elements #21453.

[2020-12-02 14:54] mnajdova commented on #23814
I tried running it locally and I stable upon a different error, which is definitely because we didn't release a new version of the `@material-ui/styled-engine-sc`. The local error I got was:

![image](https://user-images.githubusercontent.com/4512430/100888475-72d22900-34b6-11eb-8a73-74f633b1d2f5.png)

And the code is definitely no the latest version we have on next.

I usually test this scenario,

[2020-12-02 15:07] mnajdova commented on #16442
I agree. I will dig more into it tomorrow and try to prototype how it would look like. Also just good for thought, if the unstyled component uses `style` for some portion of the styles it has, is it wrong if developers also use `style` for overriding it? (This will not be common of course, but if we document it correctly it may help people understand better why that tradeoff was made for some comp

[2020-12-02 16:11] oliviertassinari commented on #23814
@mnajdova Which version did you install? latest or next? It seems OK https://unpkg.com/@material-ui/styled-engine-sc@5.0.0-alpha.14/index.js

[2020-12-02 16:22] mnajdova commented on #23814
But that is not what we have currently on next https://github.com/mui-org/material-ui/blob/next/packages/material-ui-styled-engine-sc/src/index.js

[2020-12-02 16:23] oliviertassinari commented on #23814
@mnajdova Ok, I will fix that in #23812

[2020-12-02 16:30] oliviertassinari commented on #23814
Sounds like another reason to push #23793 forward, avoid this type of human errors to happen in the first place.

[2020-12-02 16:55] Codesleuth commented on #12827
I'd love to hear any status update regarding this. I know the gradient calculations may seem like blockers for this, but I'd be happy with a CSS variables snapshot at `createMuiTheme()` call time (using `getComputedStyle`) to create a theme without having to reload a page when the theme changes.

[2020-12-02 17:20] kylewilt commented on #19450
This appears to still be an issue on 4.11.0. I've traced it down to here:
[Modal.js Line 124](https://github.com/mui-org/material-ui/blob/268fff9d7536532307ccb8dd685dc97256f9bd08/packages/material-ui/src/Modal/Modal.js#L124)

The isTopModal function returns false and open is true. It seems that the call to add the current modal to the ModalManager instance doesn't happen early enough.

In my case

[2020-12-02 18:22] bneigher opened #23816 "[DateRangePicker] Day component not supporting DateRange some props"
I'm implementing a custom Day UI to live in the DateRange picker.  It looks like this:
<img width="458" alt="Screen Shot 2020-07-15 at 12 29 42 PM" src="https://user-images.githubusercontent.com/4627728/87587431-ece44b80-c696-11ea-9f37-7f4c4adf315c.png">
You can see that in this date range, none of the IN RANGE days are highlighted, which is odd.
I'm seeing some errors in the console:
[code]

Whic

[2020-12-02 19:04] manuelpaulo commented on #23808
Hi, thanks for the fast reply.

**What is wrong?**
You are correct, problem is ripple effect should be triggered when we touch to select/open and not when we touch to drag. Tapping a list to scroll it is not a select item press gesture. Actual behavior creates a constant flick. Makes one afraid of touching it in order not to trigger it again. Mostly noticed when browsing social networks news feeds

[2020-12-02 23:32] #23807 closed

[2020-12-02 23:35] oliviertassinari commented on #23814
Released, and tested, it works now :)

[2020-12-02 23:35] #23814 closed

[2020-12-02 23:56] #23811 closed

[2020-12-03 00:10] oliviertassinari commented on #23808
@manuelpaulo Do you have a recording with our components, for instance, the list https://next.material-ui.com/components/lists/#lists? You seem to make references to native Android components.

[2020-12-03 02:08] acdoussan commented on #21745
If anyone stumbles upon this and doesn't want to use alpha / wait for full release, you can get around this by manually passing the breakpoint value. For example, instead of `theme.breakpoints.down('tablet')` write `theme.breakpoints.down(theme.breakpoints.tablet)`

[2020-12-03 02:55] orest22 commented on #23747
@eps1lon could it be related to a question you have asked here https://bugs.chromium.org/p/chromium/issues/detail?id=1127875 ?

[2020-12-03 04:20] mayralgr commented on #19796
perfect, I am working on it, little doubt, does a new test must be included?

[2020-12-03 05:14] angadp commented on #23673
Thanks will go through the threads

[2020-12-03 09:36] mnajdova commented on #22342
@yareyaredesuyo thanks for the suggestion on the docs, we'll update it. Regarding the system props vs sx, the sx is a superset of CSS, which means you can use any CSS there (non system CSS properties, pseudo, class selectors and any other valid CSS). In my opinion is way more confusing to have part of the supported CSS/system properties as first class props not he components and the rest on the `s

[2020-12-03 09:43] oliviertassinari commented on #19796
The test could be a simple as checking the class names applied.

[2020-12-03 09:44] #23785 closed

[2020-12-03 10:02] LeoLozes opened #23822 "[DateRangePicker] customizable width / height"
We are very interested to invest in material-UI X and using the new Grid & Calendar components.
I was playing a bit with the calendar yesterday and I find it great, specially the ranged option with the selection, it's something that would be really useful to us.

Unfortunately we are trying to build something like this, with a width that adapts to the parent component, and a calendar that is in a

[2020-12-03 10:26] Jack-Works commented on #23785
So Alpha 19 will use this?

[2020-12-03 11:00] oliviertassinari commented on #23785
Correct

[2020-12-03 12:26] useit-consulting commented on #22956
Still waiting on updates and feedback in the WAI-ARIA thread.

But in the mean time @eps1lon , would you consider a temporary workaround that closes the autocomplete on keyboard `tab` and outside click, instead of using `onBlur`?

I believe that would eliminate this issue, without affecting the UX for keyboard or mouse/touch users. See https://github.com/w3c/aria-practices/issues/1619#issuecomment

[2020-12-03 12:56] mnajdova commented on #23711
I wasn't able to repro it on our docs, with the current next. One thing I noticed on the codensadbox is that if I remove the inline style on the `div` it resolves the issue. @bukerok can you please try this codesandbox - https://codesandbox.io/s/material-ui-issue-forked-2zhjp?file=/src/Demo.js

[2020-12-03 13:13] #23406 closed

[2020-12-03 13:21] bukerok commented on #23711
Yes, it isn't reproduced on your example, but the problem is that is reproduced when there is `display: flex` or Tabs has `display: inline-flex` style specified.

[2020-12-03 14:21] mnajdova commented on #23711
If you have `display: flex` on the container I would suggest adding some `min-width` on the Tabs, to avoid this issue. For some reason when the content changes (and with that the width) the scrolls are showing. Also, I could not always reproduce (at least not on latest `next`), so it's bit hard to debug

[2020-12-03 14:45] montelius commented on #23533
Sorry to say but I've given up on this! So anyone's free to give it a try.

[2020-12-03 14:49] oliviertassinari commented on #23533
@montelius Thanks for the update. Is there a specific pain point you faced that made it hard?

[2020-12-03 15:08] montelius commented on #23533
No not really, it just took too long for me to understand how the components worked, but that's probably because I'm a new contributor!

[2020-12-03 16:22] std4453 commented on #8289
Just met this when trying to set only one entry of the shadows array.

The write-after-createMuiTheme solution works just fine, however it's not a perfect one. I'm wondering whether `createMuiTheme` can do some merging with the default shadows array, maybe by providing `shadows: { 1: 'xxx' }`. Currently doing so lets the `shadows` field in the theme object become an `object` instead of an `array`,

[2020-12-03 16:22] std4453 commented on #8289
Just met this when trying to set only one entry of the shadows array.

The write-after-createMuiTheme solution works just fine, however it's not a perfect one. I'm wondering whether `createMuiTheme` can do some merging with the default shadows array, maybe by providing `shadows: { 1: 'xxx' }`. Currently doing so lets the `shadows` field in the theme object become an `object` instead of an `array`,

[2020-12-03 16:25] mirzacodenevis commented on #23782
It can be solved this way
[code]

[2020-12-03 16:28] oliviertassinari commented on #8289
@std4453 You can do the customization on the theme returned by `createMuiTheme()`. It's a plain JS object. This issue is 3 years old, we did couple iterations on the merge logic. I believe it's correct in v4/v5.

[2020-12-03 16:35] oliviertassinari commented on #23822
@LeoLozes Thanks for looking into the component. We definitely plan to make the standalone usage of a calendar view more flexible. The usage combined with a textbox is only a portion of the use cases for it. We also aim to implement a second design, so assuming we can easily implement custom width (which I don't see why we couldn't) I think that we will be able to support your use case in the futu

[2020-12-03 16:38] montelius opened #23824 "[Data Grid] Text cursor appears in wrong place in demo"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When clicking in Sandbox code in the demo on the Data Grid docs page to place the text cursor, the cursor is not placed where you click. Instead it is placed to the left of where you

[2020-12-03 16:41] yareyaredesuyo commented on #22342
@mnajdova

Thanks for replying!

And i think, system props vs `sx` kind of things (comparision, props, cons, why deprecating Box system props, why v5 recommends sx` way ...) should be documented.

Because this is important for styling in v5 way and confusing parts compared to another styled-system libraries ( cause another libraries does not deprecating Box system props).

[2020-12-03 16:45] oliviertassinari commented on #23824
@montelius Interesting, feel free to report it at https://github.com/codesandbox/codesandbox-client.

[2020-12-03 16:45] #23824 closed

[2020-12-03 16:48] Jack-Works commented on #22342
IMHO the abbreviation of Box props is harmful. Code is written once but read many times. Abbreviations are harder to understand what is really going on. When I first time see `<Box px={2} py={2} />` I'm totally confused.

[2020-12-03 16:51] clxering opened #23825 "[Checkbox]inputRef cannot display the checked status properly"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the component is rendered, it gets the status from the server through `useEffect()` and updates it, but the checked status is not displayed, even though the status is indeed `tru

[2020-12-03 16:55] oliviertassinari commented on #23825
@clxering We don't support it, and will probably never, you need to control the `checked` prop.

[2020-12-03 16:55] #23825 closed

[2020-12-03 17:17] kelly-tock commented on #22342
You can write it out as well right? I have come to like the shorthand

[2020-12-03 17:19] mnajdova commented on #22342
We’ll definitely work on improving the docs, thank you again for the feedback.

@Jack-Works you can use the regular CSS names too if that works better for your team.

[2020-12-03 17:26] oliviertassinari commented on #23306
https://github.com/mui-org/material-ui/releases/tag/v4.11.2 should help

[2020-12-03 19:08] fvlo commented on #16456
Had this same issue with Avatar using shared useStyles.

[2020-12-03 19:14] tar-aldev commented on #23811
Thanks you for clarifications and sorry to put this here after the issue is closed.
Just in case someone else will come across this issue, here is a codesanbox with finalised version of what I could achieve. (Not sure whether setting options this way is a good idea thought, but seems like there is no other way to update options and make Autocomplete aware)
https://codesandbox.io/s/confident-hooks-

[2020-12-03 19:20] oliviertassinari commented on #23811
It looks good. We could consider simplifying the use case in the future.

[2020-12-03 20:51] imjoshdean-tc opened #23826 "[ClickAwayListener] onClickAway stopped firing while testing in v4.11.1"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
While using testing-library, if I click outside of a component that consumes ClickAwayListener, onClickAway is not fired and causes tests to fail.

## Expected Behavior 🤔
onClickAway s

[2020-12-03 21:10] TTiole commented on #18782
I have the same exact use case as @Magofoco
I use both Material UI Icons, and custom .svg files given to me by a designer.
Because of the overriding that SvgIcon does, I either have to pass the viewBox as it is in the original svg (horrible solution, if we wanted to change icons we would have to go through and update each viewBox for all icons as it could change).
Or, I just don't use SvgIcon alto

[2020-12-03 21:29] oliviertassinari commented on #23826
See #23315, you need to add a sleep in your test.

[code]

[2020-12-03 21:29] #23826 closed

[2020-12-03 21:35] imjoshdean-tc commented on #23826
Aha, I had originally tried that, but AFTER my click interaction.

Thanks!

[2020-12-03 21:38] eps1lon opened #23827 "[TrapFocus] Trap to only focus on tabbable elements"
I reverted https://github.com/mui-org/material-ui/pull/23364 which is harmful and was merged without having a full picture.

Leaving this issue for visibility until the issue is transparently discussed.

[2020-12-03 21:48] manuelpaulo commented on #23808
Sure: https://www.dropbox.com/s/p3dm2st04a0qaza/IMG_3644.MOV?dl=0

[2020-12-03 21:50] eps1lon commented on #19651
Reverted https://github.com/mui-org/material-ui/pull/23364 until we have the full picture.

From the issue description it also sounds like https://github.com/mui-org/material-ui/pull/23364 didn't directly address the issue. We can probably fix this particular issue with a more focused and harmless approach.

[2020-12-03 21:54] oliviertassinari commented on #23808
@manuelpaulo Ok thanks for the recording. I'm closing for #2165. This is part of the tradeoff.

[2020-12-03 22:42] eps1lon commented on #23808
Seems like you did fix it temporarily in https://github.com/mui-org/material-ui/pull/8605. That video shows the same interaction as the recorded video in the dropbox. So it's unclear what the "tradeoff" is here.

What this ultimately comes down to is

https://github.com/mui-org/material-ui/blob/5c954b33efdad8e07fd01e780206814eee3fa51b/packages%2Fmaterial-ui%2Fsrc%2FButtonBase%2FTouchRipple.js#L240

[2020-12-03 22:46] eps1lon commented on #23808
@manuelpaulo Could you try out https://deploy-preview-23829--material-ui.netlify.app/components/lists/ (might take a few minutes till it's build) and tell me if that feels better to you?

[2020-12-03 22:47] oliviertassinari commented on #23808
I believe there are different aspects in the tradeoff. The most direct one is the amount of time we wait before firing the ripple `DELAY_RIPPLE` is set at 80ms. In the video of the user, he waits a bit before scrolling. In the video of #8605, I move the finger quickly. However, the higher `DELAY_RIPPLE` is, the most laggy the UI feels for touch click like interactions.

[2020-12-03 22:51] eps1lon commented on #23808
The DELAY_RIPPLE tradeoff I understand. It's a classic fine-tuning issue that will never cover all users properly.

What I'm missing is why we skip the DELAY_RIPPLE if the touch is interrupted (pressumably that's what `touchend` is for). Though I guess it won't fire if we start scrolling? But if we agree that an interrupt should not "flush" the ripple anyway then we can move to "how do we detect s

[2020-12-03 22:55] oliviertassinari commented on #23808
I think that the idea what to still retain a "smooth" UX, avoiding the UI to flash, but instead to continue on the inertia of the ripple already visible. Making it progressively disappear.

[2020-12-03 23:02] cgarrovillo opened #23830 "[docs] Netlify hosting edges caching issue"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Ads, Buttons, toggles, Code Sandboxes, icon search, stopped working on the material-ui docs.

## Expected Behavior 🤔

Things work

## Steps to Reproduce 🕹

Steps:

1. https://material

[2020-12-03 23:02] eps1lon commented on #23808
As far as I can tell the linked code is not concerned with an already visible ripple. Instead it will immediately display the ripple that we delayed for DELAY_RIPPLE ms. So the user wouldn't even notice it because we assume that a touch phase shorter than DELAY_RIPPLE is not an intentional touch.

[2020-12-03 23:12] oliviertassinari commented on #23830
@cgarrovillo Do you see any errors in the console?

[2020-12-03 23:16] oliviertassinari commented on #23808
Agree 👍

[2020-12-03 23:22] mike247 commented on #23830
I have the same problem, I do not see any errors except for 404's on the main.js file

[2020-12-03 23:29] heath-freenome opened #23831 "@material-ui/icons 4.11.2 no longer has unique displayNames on icons according to enzyme .name()"
Prior to 4.11.2 when I used an `enzyme` wrapper to get the `name()` of an icon component, it returned the name of each component properly (i.e. the `Error` icon return `ErrorIcon`, the `Add` icon returned `AddIcon`, etc.). Now all icons return the same name: `Memo([object Object])`

See the test file in an example [code sandbox](https://codesandbox.io/s/brave-galois-hm1mf?file=/src/app.test.js)

-

[2020-12-03 23:36] jedwards1211 commented on #20012
@oliviertassinari you mentioned wanting to refactor the Popover to be able to work like a non modal [here](https://github.com/jcoreio/material-ui-popup-state/issues/37#issuecomment-737791638), should we add that to the list here?  Should we make an issue for it other than #17353?  I'm willing to help discuss that and help implement the changes

[2020-12-03 23:42] oliviertassinari commented on #23831
This is related to #21134. Note that we discourage using enzyme. I believe #22634 correctlt solve this problem.

[2020-12-03 23:45] jday1335 commented on #23830
Seems to primarily be the main.js that seems impacted. But I can access other pages ([https://material-ui.com/components/container/])

[2020-12-03 23:46] oliviertassinari commented on #23831
@eps1lon Do we still need #21134 on `next`, considering React the devtool was fixed (I imagine)?

[2020-12-03 23:49] heath-freenome commented on #23831
Why would you discourage using enzyme? It's one of the more popular react test frameworks?

[2020-12-03 23:50] cgarrovillo commented on #23830
accessing the site through that link somehow makes everything work, even going back to the home page -- weird

[2020-12-03 23:51] oliviertassinari commented on #23830
It seems to be the same issue with Netlify, a third time: #23077, #23385.

[2020-12-03 23:54] heath-freenome commented on #23831
Regardless of being discouraged to use enzyme, is the `data-testid` available in `4.11.2` of the icons?

[2020-12-04 00:01] heath-freenome commented on #23831
Ok, I checked the source code, it is... sadly, it requires that I `mount()` the icon instead of shallow rendering it. Why remove the `displayName` on the icons, but keep it on the regular components?

[2020-12-04 00:21] mbrookes commented on #23830
For anyone whose work is impacted until it's resolved, you can run the docs site locally by cloning the repo and running `yarn start` in the root folder.

[2020-12-04 00:29] oliviertassinari commented on #23831
enzyme is no longer the most popular one, and has little to no traction: https://npm-stat.com/charts.html?package=%40testing-library%2Freact&package=enzyme. We have migrated most of our tests, mostly because removing shallow tests made us more efficient and mount test allows too much to hook into private component APIs.

If this works, great! We don't encourage shallow tests either, quite the oppo

[2020-12-04 00:43] eps1lon commented on #23831
I don't know how enzyme's name() behaves these days with forwardRef and memo. Especially across various versions of React.

The usual advise still stands: Don't use enzyme unless you're following a testing approach that doesn't rely on component internals. Either by following the approach explained in https://testing-library.com/docs/react-testing-library/intro or actually using `@testing-library/

[2020-12-04 00:48] #23831 closed

[2020-12-04 02:19] tedpennings commented on #18928
@aneesha2890 [`Popover`](https://material-ui.com/api/popover/) does not use Popper.js so it can't receive the arrow props above. ([`Tooltip`](https://material-ui.com/api/tooltip/) can do this with `PopperProps`) `Popover`'s parent is [`Modal`](https://material-ui.com/api/modal/) which is a direct implementation with React DOM stuff.

Replying for anyone else finding this thread. I was hoping to do

[2020-12-04 03:00] gregnb commented on #23827
I don't think that a UI with excess elements is less accessible than a UI with completely inaccessible elements.

"The way focus is specified, works across user agents and relates to accessibility **(especially the customization part)**, I'm pretty sure this approach does not work."

You say 'potentially' but it's actuality it _is_ confusing. A user tabs through and they land on these sententials

[2020-12-04 03:22] rossthedevigner commented on #23717
@pusztaienike I ran into this same error today when using running a fresh `yarn install` but I didn't experience this when running a fresh `npm install`. This was really throwing me since I blew away the lock files and node_modules folder. How were you able to determine the version mismatch?

@oliviertassinari I'm curious what would cause this `component` prop TS error. I noticed in my `yarn.lock`

[2020-12-04 03:24] rossthedevigner commented on #14179
@eps1lon How were you able to determine that `@types/react` needed to be updated in this case based on that output?

[2020-12-04 05:49] xiaoyu-tamu opened #23833 "[Table] Support fixed footer"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

 I'm always frustrated when add styles or create classes just for stickyFooter.
[code]

It would be nice MUI support stickyFooter that fixed column footers natively.

[code]

## Examples 🌈

![image](https://user-images.githubusercontent.com/3

[2020-12-04 07:57] petercutting opened #23834 "Timepicker label showing mm:hh (want hh:mm)"
I am using Timepicker for first time. For some reason the label is reversed so that minutes are infront of hours so I get mm:hh but I want hh:mm.

I am not doing anything special. The timepicker is in a drawer. I have tried npm update

![image](https://user-images.githubusercontent.com/473867/101136796-1f72ee80-360e-11eb-8428-5184d3ee5d0c.png)

                    <TimePicker

[2020-12-04 08:39] mnajdova commented on #23834
Please provide a minimal reproduction test case with v5. A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

This example may e something similar to what you need - https://next.material-ui.com/components/time-picker/#landscape

[2020-12-04 09:09] mnajdova commented on #16442
Once we have the separation of unstyled and core versions of the component, I think we will have the best from both worlds ( unstyled version with minimal bundle size) and the styled version with the default styles using emotion/styled-components based on the setup.

[2020-12-04 09:22] katopz opened #23835 "[Table] Wrong Table border radius when apply background color"
Problem : When apply background color to `Table` header, it somehow lost border radius curve.

https://material-ui.com/components/tables/#fixed-header

<img width="399" alt="Screen Shot 2020-12-04 at 16 05 30" src="https://user-images.githubusercontent.com/97060/101144282-a80f8000-364a-11eb-9fa1-fb9d5c9070c4.png">

I think we need to
- add ` border-top-left-radius: 4px;` and `border-top-right-radi

[2020-12-04 09:42] eps1lon commented on #22956
I think you can implement that locally. I'd rather not immediately use the very first workaround we know of. These changes are always scary since we have poor e2e test coverage for these types of interactions. Especially since it's not clear whether this is a screen reader bug and how likely it is that it'll get fixed.

[2020-12-04 09:49] petercutting commented on #23834
yes it was my fault. I found rtl lurking in my theme
direction: 'rtl',
interesting that it hasnt made itself apparent until I used a TimePicker

[2020-12-04 09:49] #23834 closed

[2020-12-04 09:52] mnajdova commented on #23835
@katopz can you please provide a minimal reproduction test case with v5. A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

This example may help you with customization the component - https://material-ui.com/components/tables/#customized-tables

[2020-12-04 10:21] katopz commented on #23835
minimal reproduction is already there with source code + live example 👉 https://material-ui.com/components/tables/#fixed-header

I can see `customized-tables` has rounded border or maybe it's intend to `not rounded border` for `fixed-header` and I've to customize it to be round?
<img width="1252" alt="Screen Shot 2020-12-04 at 17 14 28" src="https://user-images.githubusercontent.com/97060/10115195

[2020-12-04 10:28] oliviertassinari commented on #23835
@katopz We could update potentially do:

[code]

to respect the `<Paper>` border radius.

[2020-12-04 10:32] oliviertassinari commented on #23833
@xiaoyu-tamu See the demo at https://next.material-ui.com/components/tables/#fixed-header, the footer is already sticky. The difference between the footer and the header is that the header horizontal scroll positions need to be sync with the cells, it's not the case for the footer.

[2020-12-04 10:32] #23833 closed

[2020-12-04 10:50] oliviertassinari commented on #23810
@piyushkmr Usually, this behavior happens when multiple class name generator collides. It can originate from a duplicated bundled `@material-ui/styles`, or two React mounting points there aren't isolated. I'm closing because I believe such an issue has been experienced many times in the past, you should be able to find information on the GitHub issue history or even on StackOverflow.

[2020-12-04 10:50] #23810 closed

[2020-12-04 10:58] rlebranchu opened #23837 "[DataGrid] [Rendering] Scrolling on reloading datas"
## Problem
Hello everybody !
I have a question about the scrolls on Mui-Datagrid.
I use the DataGrid to list an editable dataset in a form (below the datagrid).

When I click on a row, I fill the form with the data of the chosen row. I modify some data then confirm: this updates the state variable (on which the props rows are based).

In this case, the number of rows displayed in the DataGrid rema

[2020-12-04 11:15] oliviertassinari commented on #23837
@rlebranchu Do you have a **minimal** live reproduction on codesandbox that showcases the issue? This would help a lot 👷 . [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-12-04 11:26] Arsikod opened #23839 "Web site not working"
Seems like website is not working probperly.
https://material-ui.com/components/material-icons/  page icon radiobuttons not clickable. Search does not search for icons.

[2020-12-04 11:26] oliviertassinari commented on #23830
It seems that the cache got updated and the issue now is gone. It also sounds like this will hit us the next time we release something. Keeping it open until we solve the root cause, no matter the solution. It could be an issue with the configuration on our side, it could Netlify fixing a caching issue, it could be a change of hosting provider, etc.

[2020-12-04 11:29] oliviertassinari commented on #23839
duplicate of #23830

[2020-12-04 11:29] #23839 closed

[2020-12-04 11:33] oliviertassinari commented on #12827
@Codesleuth Progress is kept track on this issu.

[2020-12-04 11:46] #21142 closed

[2020-12-04 12:13] Codesleuth commented on #12827
May be hard for me to find the time (recently became a new father) but certainly a requirement from my side, so I'll look into it.

[2020-12-04 15:15] oliviertassinari commented on #18928
@tedpennings You can use the source of the tooltip as inspiration:

https://github.com/mui-org/material-ui/blob/763266ec723f6e2d426342d33c48e5fc478e7cdb/packages/material-ui/src/Tooltip/Tooltip.js#L21-L58

[2020-12-04 15:59] xiaoyu-tamu commented on #23833
@oliviertassinari

Right, the fixed-header example has fixed footer ( i would say it's a fixed toolbar/paginations ).

What I refer to is make `tfoot > td` fixed inside `<table />`, it should sync horizontal scroll with cells.

I think it's useful when ppl want to duplicate column names in bottom or display aggregate(sum,avg,..etc) value below each cell for long content table.

for example:

![Scr

[2020-12-04 16:33] marianayap commented on #23527
@oliviertassinari  hello! is this issue taken?

[2020-12-04 17:25] gregnb commented on #23827
@eps1lon The only difference I see between the current implementation and the PR implementation is when testing is if hit tab again after the 'Cancel' button I land on the sentential. Define 'all elements' please. Because I am not seeing any other element that was accessible being no longer accessible in the PR other than the sentential

[2020-12-04 18:45] oliviertassinari commented on #23527
@marianayap Nobody is working on it, it's good to take :)

[2020-12-04 19:34] marianayap commented on #23527
@oliviertassinari Hello! I was about to start with the issue but I can't find the material-ui timePicker file

[2020-12-04 20:56] tusharchutani opened #23844 "ListItem selcted property not correctly applying styling"
I am making a styled ListItem component using the withStyles like this

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Looking at the styling the background of the selected ListItem (with selected prop being set to true) th

[2020-12-04 21:14] oliviertassinari commented on #23844
@tusharchutani This is by design. Style sheets are isolated. Feel free to use the global class name instead (`.Mui-selected`)

[2020-12-04 21:14] #23844 closed

[2020-12-04 21:40] theKashey commented on #21142
👍 👍 👍

[2020-12-04 21:57] JonasMS opened #23845 "<Box> breakpoint object passed as prop not updating on state change"
I'm using a ternary with a state variable to change the value of the `mb` prop on the `lg` breakpoint.

code: `<Box mb={{ xs: 2, lg: expanded ? 2 : 0 }}>`

When `expanded` is `true` the corresponding div still have an `mb` of `0`. The `Box` component is not recalculating it's value on the state change.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://gi

[2020-12-04 22:05] oliviertassinari commented on #23845
The issue was fixe in v5.

[2020-12-04 22:05] #23845 closed

[2020-12-04 22:32] ZachCMP opened #23846 "[useAutocomplete] groupedOptions type definition seems wrong"
Hey, I think I found a mistake in the type definitions for `useAutocomplete`.  Happy to take a crack at fixing it, but I wanted to put an issue up first to make sure it wasn't like that for a reason.

---

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2020-12-04 22:44] oliviertassinari commented on #23846
@ZachCMP Thanks for the detailed report. The types look definitely wrong. Would this be enough?

[code]

[2020-12-04 23:16] ZachCMP commented on #23846
@oliviertassinari Thanks for the quick response!  Looking at the `useAutocomplete.js` code, it looks like the returned value for `groupOptions` would actually be `T[] | AutocompleteGroupedOption<T>[]`.

That would remove the type errors, but I think it would still require you to type guard when you implement it.  It seems like the switch is the presence of a `groupBy` prop, so I'm thinking the bes

[2020-12-04 23:22] ZachCMP commented on #23846
Sorry for the double post, but it occurs to me that another option would be to output `filteredOptions` from `useAutocomplete`, and then only output `groupedOptions` when `groupBy` is provided.   Then the types would be:

[code]

That might be more in line with what the variable names indicate, and prevents having to do a type guard.  However, it would also require some slight tweaking of the `Aut

[2020-12-05 00:14] oliviertassinari commented on #23827
@eps1lon Thanks for providing more details on the limitations of #23364, I wish you could have shared it sooner. This helps evaluates the tradeoff.

We have two downsides with the proposed approach:

1. **false-negative**. We can miss tabbable scroll containers. I could find https://github.com/whatwg/html/issues/2851 and https://www.chromestatus.com/feature/5231964663578624 on this topic. It seems

[2020-12-05 00:17] mejackreed commented on #23831
FWIW, we have the same issue in our projects test suite. We rely on enzyme (I know I know), and SvgIcon displayNames. Will look at potential solutions as well. https://github.com/ProjectMirador/mirador/issues/3366

[2020-12-05 00:37] oliviertassinari commented on #20012
@jedwards1211 I believe it's already part of the list in https://github.com/mui-org/material-ui/milestone/35.

[2020-12-05 00:40] oliviertassinari commented on #23846
@ZachCMP A right, I had forgotten about this. I would be leaning for the "quick win" for a start (the union type), at least we would export `AutocompleteGroupedOption`. Would it be good enough in your case?

[2020-12-05 00:41] gregnb commented on #23827
@oliviertassinari the issue is landing on the sentential and then having to hit tab again. Both implementations are fine using two sentential to create a zone, but the current implementation causes a user to land on the sentential and then nothing happens. They *have* to hit tab again vs the PR which then simply forwards a user to the first tabbable element.

Let me share a sample of what these de

[2020-12-05 00:44] oliviertassinari commented on #23827
@gregnb Wait, what, How can it be reproduced? It was never designed to behave like this.

[2020-12-05 01:00] gregnb commented on #23827
I believe you are right and I am wrong. Observation is wrong in a way but the details in the ticket are what we are suffering from

https://github.com/mui-org/material-ui/issues/23532#issuecomment-614264374

I see you have the following suggestions from that thread:

[code]

[2020-12-05 01:40] CodySchaaf commented on #23506
Hey @oliviertassinari, I think I have something pretty promising over on https://github.com/CodySchaaf/material-ui/tree/fix/slider/fix-a11y-for-mobile

It cleans it up a bit and simplifies things even. The only real edge case I ran into was handling the multi-thumb mode (which could use some better aria labeling, but I think that is an issue that already exists). And the `marks && step == null` ca

[2020-12-05 03:31] leonardopliski opened #23847 "[Tooling] Upgrade fs-extra deprecated function"
`Fs-extra` package deprecated the `exists` function, according to `Node.js` docs, it's now [recommended to use](https://nodejs.org/api/fs.html#fs_fs_access_path_mode_callback) `access` instead, `fs-extra` already has an upgraded version using it, which is the [pathExists](https://github.com/jprichardson/node-fs-extra/blob/master/lib/path-exists/index.js) function.

## Current Behavior 😯

The scrip

[2020-12-05 03:59] cngeru opened #23849 "Cannot override some avatar properties"
Cannot override the Avatar styles using classnames. The colorDefault does not change
[code]

[2020-12-05 05:00] shayantabrizi commented on #23710
Seems interesting. Thank you.

[2020-12-05 10:39] jtan80813 opened #23851 "Label Shrink in TextField Bug"
Pls check this issue in stackoverflow
  https://stackoverflow.com/questions/65153433/problem-in-increasing-label-in-material-ui-in-react/65155884#65155884

| Tech        | Version |
| ----------- | ------- |
| Material-UI | 4.10.0  | LATEST VERSION ALSO

[2020-12-05 10:55] oliviertassinari commented on #23851
This is expected, you need to customize the font size of the gutter too

[2020-12-05 10:55] #23851 closed

[2020-12-05 11:10] oliviertassinari commented on #23849
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-12-05 11:20] cngeru commented on #23849
@oliviertassinari  Check out sandbox on [link](https://codesandbox.io/s/material-ui-issue-forked-t47sl?file=/src/Demo.js)

[2020-12-05 11:53] oliviertassinari commented on #23849
@cngeru You need to target all the Avatars:

[code]

[2020-12-05 11:53] #23849 closed

[2020-12-05 12:00] oliviertassinari commented on #19450
@kylewilt What's your use case for using `disablePortal`?

[2020-12-05 12:23] kylewilt commented on #19450
@oliviertassinari if we don’t use disablePortal accessibility tools start reporting a lot of problems for screen reader support. Having the dialog appear in the dom outside of the root react node causes you to get errors like missing a “main” element and heading order problems etc. it also tends to complain about hidden input elements.

There’s really no sane work around in that situation because

[2020-12-05 13:06] oliviertassinari commented on #19651
A related discussion #23827.

What's "the issue"? We might not consider the same one.

Happy to hear more about this alternative solution :D.

[2020-12-05 13:14] oliviertassinari commented on #23827
@gregnb Ok, so if we ignore the technical aspect and focus on the end-user issue reported by the FAAMNG, it's about end-users losing track of where the focus is, downside 1/2 of the current approach:

[2020-12-05 13:25] oliviertassinari commented on #23827
@eps1lon What do you think about this middle ground solution?

1. We abstract the `focusVisible` hook logic, it's currently way too hard to use.
2. We use the abstraction in the Modal.

It might solve @gregnb's FAAMNG issue (it needs to be checked because it's not perfect) and definitely solve https://github.com/mui-org/material-ui/issues/23532. We would still have two downsides:

- The focusVisib

[2020-12-05 13:28] gregnb commented on #23827
Kind of worried about this part tbh. I wonder how that is going to play out

[2020-12-05 13:59] oliviertassinari commented on #23506
@CodySchaaf This looks like a solid start! I have spent more time looking at the UX than the code. On the code side, I have noticed that we could able to drop the type="hidden" input as it duplicates with the new type="range" input. I'm not sure that unstyled should import system, to consider. Regarding the tests, I agree that many of the current tests are no longer relevant. I would remove all th

[2020-12-05 16:35] GuillaumeDesforges commented on #17000
@chrishoermann awesome wrapper! Thanks for sharing this.

Although, an actual component shipped by MUI would be perfect.

[2020-12-05 17:12] ZachCMP commented on #23846
@oliviertassinari Yeah, I think a union type for `groupedOptions` would be good enough.  Let me know if there's anything I can do to help. Also happy to give it a shot and submit a PR.  Whatever's best for you.

[2020-12-05 17:15] oliviertassinari commented on #23846
@ZachCMP Opening a pull request would definitely help :)

[2020-12-05 18:15] hdpinto commented on #16962
I know this issue has been closed for over a year - but this was my only clue to fixing an issue I was having after upgrading NextJS to v10, the Head from `"next/document"` cannot be used outside of `_document`, you must import it from `"next/Head"`.

Thank you.

[2020-12-05 18:53] cgarrovillo commented on #23830
🙌 for putting up a preview branch.

also for treating the issue seriously (despite not directly relating to the library itself)

[2020-12-05 20:25] marianayap commented on #23527
@oliviertassinari Hello! I fixed issue, do I need to do the PR to material-ui-pickers or material-ui?

[2020-12-05 21:55] mbrookes commented on #23527
@marianayap Thanks for working on it. Material-ui `next` branch please. They're in the `lab` package.

[2020-12-05 22:15] sdg002 commented on #18811
Sorry, for the late response. I had done a Proof of Concept solution using Bootstrap navbars. I had used the NavLink and the activeClassName to declaratively style the active link. This was dead simple.

https://reactrouter.com/web/api/NavLink

I was hoping Material Tabs would have been simple. But, I am lost.

[2020-12-05 22:41] marianayap commented on #23527
@mbrookes I forked the material-ui-picker repo to work on it s my first time working on this so I'm a little confused. Can I do it from there?

[2020-12-05 22:44] sdg002 commented on #18811
@mbrevda and @oliviertassinari
Inspired by your code, I got this to work.

- I am setting the `value` prop of the `Tab` object to the `to` property.
- Using the  `path` property of `useLocation` to set the `value` of the parent `Tabs`

[code]

The above works for now. But, I am quite shaken by the realization that there is significant coding involved when using Material UI.  Simple chores end up b

[2020-12-05 23:04] oliviertassinari commented on #18811
@sdg002 Do you wish to add a live demo to the documentation? It seems to be a frequency problem we need to better cover :).

[2020-12-06 00:59] hearchad commented on #15873
I was going to propose HotKeys and found this thread.  Can I re-open?  My approach is not a hook, but a wrapper component that enables the consumer to either accept the default click simulation or write their own handler.  I wrote about it here.  https://dev.to/chadsteele/how-to-add-hotkeys-in-react-4610

simple
[code]

optional
[code]

p.s. I disagree with earlier comments.  UI library should sup

[2020-12-06 01:11] hearchad commented on #15873
btw, the code is written and tested.  I'm simply asking permission to create a PR.  :)

[2020-12-06 05:48] mbrevda commented on #18811
It would indeed seem that this use case (navigation tabs) is popular enough to warrant first class support

[2020-12-06 08:55] jtan80813 commented on #23851
@oliviertassinari Can you show how? why is it if i downgrade to version v4.8.3 its working without customizing the gutter? Thank you.

[2020-12-06 09:35] oliviertassinari commented on #23851
We have fixed the outlined label gutter to only work with CSS. Prior versions were relying on JavaScript layout measurement.

[2020-12-06 09:52] oliviertassinari commented on #15873
@hearchad Thanks for the interest in this problem. So far, we are waiting for more traction on the issue. Three upvotes in one year is far from enough for us to consider the use case. Also mind that there are also existing React projects to solve this problem.

[2020-12-06 11:03] #23847 closed

[2020-12-06 11:41] sdg002 commented on #18811
I have taken the liberty to fork the sanbox and add my changes.
https://codesandbox.io/s/material-demo-forked-il7p7?file=/demo.js

CC @mbrevda  @oliviertassinari

[2020-12-06 12:06] joshwooding commented on #23827
This is something that was raised to me personally when taking part in a wcag 2.1 audit at work. It’s definitely not idea for screen readers.

[2020-12-06 16:02] huttarichard opened #23874 "[docs] Workbox & service workers are causing infinite loading of site"
This might be related #15666. This only happens if you open two tabs. Once you do, material ui site will start loading workbox in infinite loop.

It is consuming insane amount of CPU.
It is really annoying as you are looking at docs a lot.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and beli

[2020-12-06 16:21] oliviertassinari commented on #23874
How did you conclude that it's related to the service workers?

[2020-12-06 16:28] huttarichard commented on #23874
Im guessing there is a connection as if you unregister the service worker `http://material-ui.com/sw.js` it will stop infinite loop.

line 8 in sw.js what is part of the loop:
`importScripts('https://storage.googleapis.com/workbox-cdn/releases/4.0.0-alpha.0/workbox-sw.js');`

I did not investigate further, Im now. But please look into it as well.

[2020-12-06 16:32] huttarichard commented on #23874
Also by first impression it seems to be an issue mostly if you have dev tools open from some reason.

[2020-12-06 16:40] huttarichard commented on #23874
But I have a clear way how to reproduce this (assuming that os is not an issue), latest chrome (Version 87.0.4280.88 (Official Build) (x86_64)):

- Open first tab`https://material-ui.com/` and open devtools (as a part of the window)
- Open second tab`https://material-ui.com/` and again open devtools, same way
- Now go to first tab and refresh page.
- Second tab will go crazy with workbox requests.

[2020-12-06 16:45] oliviertassinari commented on #23874
I can't reproduce, what are your accepted languages (`navigator.languages`)? What cookies do you have in your session?

[2020-12-06 16:49] huttarichard commented on #23874
languages: `window.navigator.languages` `["cs", "en", "pl"]`
cookies `document.cookie` `paletteType=light; _ga=GA1.2.639254161.1605861867; sourceHintSeen=true; codeVariant=TS; lastSeenNotification=51; _gid=GA1.2.14596446.1607173697`

[2020-12-06 18:01] #23846 closed

[2020-12-06 19:18] petermikitsh opened #23875 "[DataGrid] Row Checkboxes: spacebar does not select row"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- Select a data row checkbox, and press the spacebar
- Observe the row is not selected

## Expected Behavior 🤔

- Select data row checkbox, press spacebar, row is selected

## Steps t

[2020-12-06 20:09] vijayusa11 commented on #21397
I just install once again both things
npm i @material-ui/core
npm i @material-ui/icons

And problem was automatically solved.

[2020-12-06 20:40] roykingtree commented on #15827
Will this ever be fixed? I can't even replicate any of the examples in the docs.

[2020-12-07 02:37] BuangHosen commented on #8416
@man-u-13 try to replace div tag with React.Fragment or empty tag

[2020-12-07 02:57] MOIN-AKHTAR commented on #16341
I was also facing this problem but problem solved when i put my custom styling in an object and other MUIStyling in a separate object such as palete and much more I have a login and signup form for which i have made styling and this styling is inside loginSignupStyle Object look at this example
{
    palette:{
      primary:{
         light:"#33C9DC",
         main:"#00BCD4",
         dark:"#00839

[2020-12-07 06:14] wisekaa03 opened #23877 "@material-ui/core/colors/red.js"
[code]

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v5.0.0-alpha.18  |
| React       |   17      |
| Browser     |   Google      |
| TypeScript  |   4.1.2      |
| etc.        |         |

[2020-12-07 09:25] mnajdova commented on #23877
Please provide a minimal reproduction test case with v5. A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-12-07 09:52] ErikParso opened #23878 "Select menu in dialog."
Hello, is there a way to use dialog for selects dropdown menu ? On bottom of dialog should be close button also in top corner and dialog closes only on one of these button click (or backdrop)

[2020-12-07 12:15] rajzik opened #23879 "@material-ui/utils package doesn't have correctly setup types main and module fields."
Material-ui/utils are not private package and can be downloaded from npm. It would be great to use them outside of material-ui. Which is not possible in typescript right now.

https://github.com/mui-org/material-ui/blob/next/packages/material-ui-utils/package.json

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of

[2020-12-07 12:34] eps1lon commented on #23879
Thanks for the report.

Can confirm that this works with `@material-ui/utils@next` but fails with `latest` i.e. 4.x.

[2020-12-07 14:25] furkanmavili commented on #23878
https://material-ui.com/components/selects/#with-a-dialog .Is it what are you looking for? You can add your own close button to top corner

[2020-12-07 14:41] oliviertassinari commented on #23879
@eps1lon Sound we close in this case, as it was fixed by #22367?

@rajzik Is there a specific helper you are interested in? Is there a module exported from `@material-ui/utils@next` that is prefixed with `unstable_`?

[2020-12-07 14:45] oliviertassinari commented on #23878
@ErikParso What's your use case?

[2020-12-07 15:04] rajzik commented on #23879
@oliviertassinari I am interested in `deepMerge`.
`Next` version is correct.

[2020-12-07 15:07] oliviertassinari commented on #23879
@rajzik Our `deepmerge` is a simplified version of the logic, it might not handle all the edge cases, you might want to use https://github.com/TehShrike/deepmerge if you need a sounder approach. It's +319 kB gzipped larger.

[2020-12-07 15:29] oliviertassinari commented on #23874
@huttarichard Ok thanks. I was wondering if it could come from a locale issue, it seems unlikely.

[2020-12-07 15:29] oliviertassinari commented on #23874
Can somebody else reproduce?

[2020-12-07 15:41] oliviertassinari commented on #15827
@roykingtree do you have a reproduction?

[2020-12-07 15:46] carlhopf commented on #23520
By default MacOS has auto hiding scrollbars and I believe most users will expect this behaviour.

Since there's no way to un-do or override the ```::-webkit-scrollbar``` styling to get back to system default behaviour, I also think the scrollbar styling should be optional.

[2020-12-07 15:52] SpeysPiotr commented on #19470
@beccanelson Did you manage to work this around somehow? I currently experience the same problem.

[2020-12-07 15:59] eps1lon commented on #23879
I can't make that decision since LTS policy interpretation is not up to me.

[2020-12-07 16:01] eps1lon commented on #23874
I've experienced similar problems related to docs and multiple tabs. Notably in development or when dealing with devtools. Though I wasn't able to reproduce them reliably. Considering the service worker also acts up in prod we should probably have an eye on it.

[2020-12-07 16:26] oliviertassinari commented on #23808
To remove any potential sources of confusion, this approach breaks the ripple for fast interactions. A click event is triggering in the following example but no visual feedback is provided:

![missing ripple](https://user-images.githubusercontent.com/3165635/101376600-1786a900-38b1-11eb-92f2-b9512ac43d2b.gif)

[2020-12-07 16:54] ButlerBorst commented on #19983
@oliviertassinari is their data to be pulled for the most common CSS attributes? I'd be curious to see the top 25-50.

[2020-12-07 16:56] oliviertassinari commented on #19983
@ButlerBorst I don't have access to this data. I think that the props supported in the system in v4 tries to approximate the most common ones. In v5, we have made the system a superset of CSS, so the problem goes away: https://next.material-ui.com/system/basics/.

[2020-12-07 17:29] oliviertassinari commented on #23879
Ok so considering that we have lived without TypeScript support for this package for a long time now, I don't think that it covers any of:

@rajzik Feel free to migrate to v5 to take advantage of these new features :). However, mind that the `unstable_` modules don't respect SemVer, we might never make them public. Also, feel free to make a case for turning `unstable_` modules into stable ones. We

[2020-12-07 17:29] #23879 closed

[2020-12-07 17:41] nynevi commented on #20482
- find your core version from the commits in this list: https://github.com/mui-org/material-ui/commits/next/packages/material-ui-lab/package.json
- go to the commit and find ` packages/material-ui-lab/package.json` then check version then modify your own package.json `    "@material-ui/lab": "^4.0.0-alpha.33",` with the relevant version
- delete lock file then reinstall

[2020-12-07 17:57] heath-freenome commented on #23831
I just locked down icons to the previous release and just was done with it. I would consider not applying

I would highly encourage not applying it to `next`

[2020-12-07 18:01] atnpcg commented on #23835
@oliviertassinari , thanks for the solution, I'll be creating a PR later this day to update the docs, unless someone else is working on it already

[2020-12-07 18:40] atnpcg commented on #17000
This is something I'm interested to start working on, if no one has started working on it yet

[2020-12-07 18:44] #19796 closed

[2020-12-07 18:47] oliviertassinari commented on #17000
@atnpcg I'm not aware anyone is working on it, you are clear to go. However, I think that the first step is to get a pretty clear picture of what should be built. What problem did developers face when coming here to upvote the issue?

[2020-12-07 18:49] oliviertassinari commented on #23831
@heath-freenome Also, could it be an issue with how enzyme computes the name?

[2020-12-07 18:50] #23835 closed

[2020-12-07 19:04] heath-freenome commented on #23831
#21134 removed the `.displayName` on the outer component... which is what enzyme uses to compute the `name()`

[2020-12-07 19:22] mejackreed commented on #23831
I'm looking at an enzyme solution right now. Looking at: https://github.com/facebook/react/pull/18925/files

"should honor a inner displayName if set on the wrapped function"

Seems like enzyme _should_ support this.

[2020-12-07 19:26] oliviertassinari commented on #23874
@eps1lon I believe the service worker is only registered in production, could the reload be coming from somewhere else?
https://github.com/mui-org/material-ui/blob/25a6babf018961a177433cbfb50c684ca858afb1/docs/pages/_app.js#L214

I believe the reload can only come from two places:

- https://github.com/mui-org/material-ui/blob/25a6babf018961a177433cbfb50c684ca858afb1/docs/pages/_app.js#L196
- http

[2020-12-07 19:30] huttarichard commented on #23874
@oliviertassinari I think the update on reload is somewhat global option.

[2020-12-07 19:49] oliviertassinari commented on #23874
I could solve most of the issue with:

[code]

It might be good enough for the problem at hand. At this point, we leverage the sw.js to have the documentation work a bit better offline. It can be handy when we have issues with our hosting provider. We used to store the whole documentation in the cache but it was too eager in bandwidth so we have moved to a lazy caching.

[2020-12-07 20:03] atnpcg commented on #17000
@oliviertassinari for me it was a stop when trying to implement it with cards in a masonry layout like shown on:
https://material.io/components/cards#behavior (last example) although there is no mention about this kind of layout in material.io

[2020-12-07 20:04] oliviertassinari commented on #19470
@beccanelson why did you set `pointer-events: none;` on the popover element? It creates the issue around disabling scrolling

[2020-12-07 20:05] oliviertassinari commented on #23520
Yeah ok, it seems too opinionated to be done by default for macOS users. Maybe an opt-out flag?

@mbrookes would it work with you if we keep it enabled by default?

[2020-12-07 20:07] oliviertassinari commented on #17000
@atnpcg So you wish to have something similar to https://next.material-ui.com/components/image-list/#masonry-image-list?

[2020-12-07 20:24] atnpcg commented on #17000
@oliviertassinari
I think the one provided on https://paulcollett.github.io/react-masonry-css/demo/
is the one more flexible, that allows you to have different number of columns per breakpoint and can render any child
but of course, will be better if we use our current breakpoints plus possibility of using the theme spacing

[2020-12-07 20:33] atnpcg commented on #17000
I think also what we have on https://next.material-ui.com/components/image-list/#masonry-image-list is close enough, but currently is just a variation for the ImageList, we can try start by there, extracting some of the logic and have it as a standalone component

[2020-12-07 20:44] beccanelson commented on #19470
@oliviertassinari It didn't work without this. Here's the CSS from our application 😆

[code]
Notice how the tooltip no longer works at all when you remove that styling rule from the sandbox link above.

[2020-12-07 20:48] oliviertassinari commented on #17000
@atnpcg We can benchmark what the ImageList is doing but it's a great opportunity to challenge the implementation. Happy to try https://paulcollett.github.io/react-masonry-css/demo/ out, it seems to have a nice compromise in terms of simplicity.

[2020-12-07 20:53] beccanelson commented on #19470
To fix this, I updated the layout of my page to remove `overflow: auto` from the parent container.

[2020-12-07 20:59] oliviertassinari commented on #19470
@beccanelson Your use case seems very specific. I doubt it's common to use a modal and to display it on hover. I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure enough people are looking for such capability. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes. Thanks for raising!

@SpeysPiotr What's your use

[2020-12-07 20:59] #19470 closed

[2020-12-07 20:59] mbrookes commented on #17000
@atnpcg Despite the new name, an imageListLtems child doesn't have to be an image. (Even the MD spec alludes to this IIRC). It would be trivial to set the `cols` prop based on `useWith` for responsiveness. The main issue is that the grid content is laid out in columns, rather than filling horizontally.

The challenge would be to reordered the images so that they are distributed from left-to-right,

[2020-12-07 21:04] mejackreed commented on #23831
I _think_ this is on the right track to at least better compute the displayName the "enzyme way" https://github.com/enzymejs/enzyme/pull/2482

[2020-12-07 21:15] mbrookes commented on #23520
Would OS detection be too icky? It's never going to be nice on Mac while it's enabled, and the system default scroll bar is perfectly fine for both light and dark mode, so Macs don't need the custom scrollbar styles.

[2020-12-07 21:23] GuillaumeDesforges commented on #17000
https://material.io/components/image-lists#usage, section "Types", item 4 is Masonry image lists (yes, it's deep)

[2020-12-07 21:50] atnpcg commented on #17000
you are right @mbrookes and even the library we are suggestion, is rendered in columns, affecting accessibility (screen readers will read top to bottom instead of left to right), also focusable elements will have a top to bottom flow, unless we start detecting what elements are focusable and calculate every single focusIndex.

[2020-12-07 22:42] oliviertassinari opened #23885 "Add useBreakpointValue hook"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Provide a JavaScript API as a counterpart to the CSS [sx breakpoint's API](https://next.material-ui.com/system/basics/#responsive-values).

## Examples 🌈

[code]

Internally, `useBreakpointValue` would use `useMediaQuery` if possible.

## Mot

[2020-12-07 23:14] oliviertassinari commented on #23520
Well, I'm personally not using the autohide scrollbar feature of macOS, I like it just fine with the scrollbar always visible. Maybe because I was used to it for so many years on Windows. As far as I know, CSS OS detection isn't possible.

[2020-12-08 00:03] rosskevin commented on #15827
Here you go @oliviertassinari, a PR with broken tests https://github.com/mui-org/material-ui/pull/16315 closed in favor of existing issues.  It doesn't cover all the cases here but it covers the most basic, fundamental use.  This has been annoying for many typescript users for a fair amount of time.

I understand there are tradeoffs to be made, but this issue and related issues including https://g

[2020-12-08 00:35] oliviertassinari commented on #15827
@rosskevin Thanks. I have moved it to codesandbox: https://codesandbox.io/s/immutable-fast-s9ycq?file=/src/App.tsx.

This sounds like common problem UI libraries have. How are other libraries handling it?

[2020-12-08 00:59] atnpcg commented on #23885
this will be really useful!
I guess `useBreakpointValue` will be listening for mediaQueryChanges and return the current value dictated by the props depending on what's the current breakPoint?

[2020-12-08 01:59] mbrookes commented on #23520
I meant in JS, to determine whether to apply the CSS, but... SSR

Preferably

I don't know. Just how bad do scrollbars look on Windows in dark mode?

[2020-12-08 03:14] atnpcg commented on #17000
My first approach was to use Grid component of Masonry,
although it work, it adds the limitation of having only 1, 2, 3, 4 or 6 columns
![image](https://user-images.githubusercontent.com/69590741/101434949-5839ee80-38c0-11eb-8005-afb333c2430e.png)

[2020-12-08 03:47] sellsjonathan opened #23887 "Dialog closes when clicking on body scroll bar , scroll='body'"
For dialog component with prop `scroll='body'`, when you try to scroll by manually clicking/using on the scrollbar, on mouseUp the dialog will close.

Seems to have popped up again, previously reported (and allegedly fixed) on multiple occasions :
- https://github.com/mui-org/material-ui/issues/22151
- https://github.com/mui-org/material-ui/issues/21694

- [x] The issue is present in the latest re

[2020-12-08 04:00] oliviertassinari commented on #23887
It's only fixed in v5

[2020-12-08 04:00] #23887 closed

[2020-12-08 04:17] dantman opened #23888 "[Accordion] Cannot create custom <AccordionSummary> variants"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Right now it's not possible to customize `<AccordionSummary>` if your customization cannot be done via props adding styles and stuff into the `content` div.

## Current Behavior 😯

AccordionSummary has a hardcoded `content` `<div>` wrapping t

[2020-12-08 07:36] vilemj-Viclick opened #23889 "Reuse of synthetic events - incompatibility with react < 17.0.0"
## Current Behavior 😯

## Expected Behavior 🤔

In the documentation it says: "Please note that react >= 16.8.0 and react-dom >= 16.8.0 are peer dependencies."
Where? https://material-ui.com/getting-started/installation/#npm

Hence expected behavior is not to have console errors about event reuse, when I use a basic and correct onClick handler on a Button.

## Steps to Reproduce 🕹

Here's a codesan

[2020-12-08 08:09] carlhopf commented on #23520
👍  for opt-in flag to preserve system-default behaviour.

but definitely agree that scrollbars look bad on Windows, especially in dark mode.

maybe detect permanent scrollbar visibility and OS, then apply webkit styles. seems tricky though

[2020-12-08 08:55] pefi1011 opened #23890 "Vertical stepper does not set focus at the beginning of a step"
Using stepper in vertical orientation does not properly set the "view" which users see when changing steps.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When changing steps, the "view of a user" is not set to the beginning of

[2020-12-08 09:29] Kai-W opened #23891 "[Grid] Item in direction column has set max-width not max-heigt on item"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
https://codesandbox.io/s/epic-star-bilvv?file=/src/App.js
Regardless of direction row/column of the grid container the Grid items get assigned the class .MuiGrid-grid-xs-4
This class

[2020-12-08 10:09] arkadiusz-wieczorek commented on #19239
You create _Actions_ column in `Table` component and then add `SvgIcon` components in `TableCell` e.g.:

[code]

[2020-12-08 10:49] ErikParso commented on #23878
Hi, I wanted to style select menu dropdown to be mobile friendly. In clasic scenario this dropdown opens relative to anchor which is select. In my case i wanted it to be opened on bottom of screen always. This dropdown also should containt button to confirm selection and cancel. See attached image.

![image](https://user-images.githubusercontent.com/35962203/101473773-8c59f180-394a-11eb-9453-a0e1a

[2020-12-08 10:49] #23878 closed

[2020-12-08 11:26] eps1lon commented on #23889
Thanks for the report.

However, this is unrelated to Material-UI. A `<button onClick={console.log} />` has the same console output. You can't log the full synthetic event to the console unless you call `.persist()` before.

[2020-12-08 11:26] #23889 closed

[2020-12-08 12:08] eps1lon commented on #23520
I want to emphasize that my main concern with scrollbars is scrolling performance. However, this is mainly an issue on mobile devices. I'm not aware of scrolling issues on desktop **though it might be one**.

Scrolling is also a crucial part of the UX so any component needs thorough manual testing in different environments. Since this is integral to the documentation we can't just ship something w

[2020-12-08 12:10] eps1lon commented on #23808
That was my suspicion. A click should always trigger the ripple.

Could you test this on a real device and verify there is actually a `click` event?

[2020-12-08 12:17] zakariamofaddel opened #23894 "Access List children and keep track of the length of that array?"
I have a cart icon and when I click on it a drawer (the cart) opens. Inside the cart I have a <List> component that should contain the cart items added.
[code]
I want to keep track of the number of children inside the list so that I can display the number in a badge on the cart icon.
How do I access the <List> children prop and store it?

[2020-12-08 12:20] vilemj-Viclick commented on #23889
Oh sorry for bothering you. My mistake.
I updated the demo to this:
https://codesandbox.io/s/nervous-fire-x7bv6?file=/src/App.js

Looks like the mistake was really mine. I didn't crosscheck with a native button. It never happened to me before, so I was really sure it must have been the Materal-UI button.

Thanks.

[2020-12-08 12:21] #23894 closed

[2020-12-08 12:22] oliviertassinari commented on #23894
Tip: considering you control the rendering, you can create an array to host it.

[2020-12-08 12:27] oliviertassinari commented on #23808
I have tested on a Xiaomi Mi 9 phone, with Android, MIUI 11, and Chrome latest. The default for me is to have the collapse open without ripple. I have to make a "slow"  tap to see it. Tested on this demo: https://deploy-preview-23829--material-ui.netlify.app/components/lists/#nested-list.

[2020-12-08 12:30] oliviertassinari commented on #23520
@mbrookes you can experience it with BrowserStack. It's significantly worse on Windows without than it's on Mac with. At least from my perspective. We can also weight the difference with the traffic coming from Windows vs MacOS, I haven't looked at the data but I imagine Windows is the dominant OS among developers.

[2020-12-08 12:30] zakariamofaddel commented on #23894
Thank you for your answer!
The problem is that I really can't understand how to access it, I know that the List component has a children prop, but how do I access it to store it?
Something like this?
[code]

[2020-12-08 12:35] oliviertassinari commented on #23878
Thanks for a tip on the solution. See https://github.com/mui-org/material-ui/issues/23291 for a long term solution.

[2020-12-08 12:59] gregnb commented on #23827
I agree

@oliviertassinari if i boil this down (and they're both broken implementations. ie: current vs PR):

PR implementation:
 - (~8% Firefox + ~2% Linux, so far) affected
 - MacOS false positive, but this is already occurring

Current implementation:
 - Loss of focus every time for all users
 - Screen readers are flooded with content every time for all users

I'm still at a loss seeing how the

[2020-12-08 14:53] oliviertassinari commented on #23890
Use the mobile stepper in this case, it's the approach encouraged by Material Design https://material.io/archive/guidelines/components/steppers.html.

[2020-12-08 14:53] #23890 closed

[2020-12-08 16:54] #23572 closed

[2020-12-08 16:56] pefi1011 commented on #23890
@oliviertassinari its the same issue on desktop, not only on mobile

[2020-12-08 17:02] oliviertassinari commented on #23888
@dantman You have a couple of options here.

- Did you consider `flex-direction: row-reverse;`?

<img width="391" alt="Capture d’écran 2020-12-08 à 17 58 57" src="https://user-images.githubusercontent.com/3165635/101516043-4bc89b00-397f-11eb-9c40-8cffdd4b4489.png">
- Did you consider to move the expand icon from the prop down to the children?

[2020-12-08 17:59] oliviertassinari commented on #23891
@Kai-W Thanks for the report, in the past we have discussed the same issue in a couple of time, e.g. #13277. What do you think about this fix?

[code]

[2020-12-08 18:06] mbrookes commented on #23520
It seems we should just be using `color-scheme`. After that, it's down to Browser support. This will also fix native form elements, such as select, which don't currently render correctly in dark mode. Tested in Edge 87 on Windows 10.

[2020-12-08 18:08] oliviertassinari commented on #23520
@mbrookes I don't understand. What's the link with color-scheme and native elements?

[2020-12-08 18:12] oliviertassinari commented on #23885
@atnpcg Regarding the implementation, we have been using useMediaQuery in https://github.com/mui-org/material-ui/blob/cef32a188d799618b4e0b1fe7b5ef201dbc85d6d/packages/material-ui/src/withWidth/withWidth.js#L54

instead of using `window.innerWidth`. However, to be honest, I'm not sure that the solution is great. We had reports about the logic triggering more rerenders that necessary, that it's har

[2020-12-08 18:13] mbrookes commented on #23520
Browsers set native element (including scroll bar) mode according to the page meta or css color-scheme.

[2020-12-08 18:14] Kai-W commented on #23891
Reading the linked issue provided helpful insights. And the provided fix should resolve my issue.

[2020-12-08 18:15] oliviertassinari commented on #23830
Seems React has a similar issue: https://twitter.com/reactjs/status/1336302068273917954.

[2020-12-08 18:16] oliviertassinari commented on #23891
@Kai-W Great, feel free to work on a pull request :)

[2020-12-08 19:30] orpheus opened #23898 "[styles] unexpected behavior with jss injection order when importing from external library vs local module"
When I import a component from a custom library I made, it's stylesheet injection order is different than if I'd import that component from a relative path or if I import a component from the @material-ui/core lib

`"@material-ui/core": "^4.11.2"`

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repositor

[2020-12-08 19:58] mentierd commented on #21528
@oliviertassinari is makeStyles/withStyles going to be replaced with experimentalStyled?

[2020-12-08 19:59] devjuliet opened #23899 "[DatePicker] components jump out of focus"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate. Related to issue #23650

## Current Behavior 😯

When using Static mode, Landscape Component and other components in [DatePicker](https://next.material-ui.com/components/date-picker/) the orientation of the p

[2020-12-08 20:05] orpheus commented on #23898
I believe I've found it the issue..

I added `@material-ui/core` to my `peerDependencies` and to the `external` field in my rollup bundle and it seems to be working fine. I believe that by bundling @material-ui/core with my library, the stylesheet creation and management was not synced between app and library, causing the unexpected behavior.

I don't know if the following is expected behavior, bu

[2020-12-08 20:05] #23898 closed

[2020-12-08 20:33] oliviertassinari commented on #21528
@mentierd It's the long-term direction, yes.

[2020-12-08 23:12] dantman commented on #23888
Technically that would work visually for my use case. But I don't like the way this would introduce the wrong dom order. And it doesn't fix the overall customizability if someone needs more than just changing the position of the icon.

`children` are hardcoded inside of the `content` div which has margins with transitions around it, so an icon button (or other customization) in the children does n

[2020-12-08 23:14] oliviertassinari commented on #23520
1. I wasn't aware of the existence of the `color-schema` CSS property. I doubt we should use it. It doesn't seem to place nicely with developers that want to force a specific theme, independently of what the OS uses.
2. I have looked at the `<select>` in Edge 87, Windows 10. I couldn't spot anything specifically wrong:

<img width="187" alt="Capture d’écran 2020-12-09 à 00 02 19" src="https://us

[2020-12-08 23:29] mbrookes commented on #23520
Developers that want to force a theme can customise the scrollbar and suffer the consequences. That has no place in "an elegant, consistent, and simple baseline". 😈

[2020-12-08 23:42] oliviertassinari commented on #23888
@dantman I would personally prefer this approach, disabling the conflicting animations.

Regarding the unstyled component, you would be able to do:

[code]

Is it good enough?

I think that your problem can serve as a great case study for a systematic approach with the unstyled component cc @mnajdova.

- Alternative 1, react-aria like https://react-spectrum.adobe.com/react-aria/useSelect.html

[co

[2020-12-09 00:11] dantman commented on #23888
My original assumption was something render props like:

[code]

However I actually really like your `useAccordionSummary` example. It fits in well with `useAutocomplete`. It would even expand pretty well to "optional, but very common" parts like the expand icon.

e.g. The built-in `<AccordionSummary>` would be written something like:

[code]

[2020-12-09 02:27] onegrit opened #23901 "Can't run the latest preact example successfully"
When I run 'yarn start' in preact example after  installing, I met the following error:
[code]

Within the same environment, the example of styled-components and gatsby can work.
This issue has tortured me for 1 day, I don’t know how to solve this problem, I look forward to advices. Thanks.
BTW, the codesandbox  preact example can't work either.

- [x] The issue is present in the latest release.
-

[2020-12-09 05:35] manuelpaulo commented on #23808
Sorry for the late reply. I've tested it and it seems way much better.

Only getting wrongly the effect when **scrolling down and then immediately changing my mind and scrolling back up.**

[2020-12-09 08:17] b-d-m-p opened #23903 "[Modal] Recursive reference make simple modal hard to understand"
I would suggest removing this line.

https://github.com/mui-org/material-ui/blob/b0e10a1805ad7abd6f3c368bfbf63f4d85d29b47/docs/src/pages/components/modal/SimpleModal.tsx#L53

https://next.material-ui.com/components/modal/

[2020-12-09 08:48] eps1lon commented on #23903
Thanks for the suggestion.

I definitely agree. Stacking a modal is neither common nor encouraged. So it doesn't make sense to document it in the initial demo and definitely not to call it "simple".

And the demo UX itself is also slightly confusing. It was probably kept as a dev playground but that has no place in the docs.

Would you be willing to remove the recursive structure in the demo? Idea

[2020-12-09 08:51] eps1lon commented on #23808
I'm re-opening for visibility. As a next step we need to figure out why https://github.com/mui-org/material-ui/pull/23829 prevents a ripple for clicks and then check if this still improves the story in this issue. Might very well be that the device @manuelpaulo has actually triggers clicks in which case it becomes not viable to fix the issue from our side.

[2020-12-09 09:24] oliviertassinari commented on #23903
+1 for spitting the demo in two, one basic modal, and one nested modal.

[2020-12-09 09:31] waleedshkt commented on #15662
Working solution using ```useRef``` **react hook**.

[code]

[2020-12-09 09:31] eps1lon commented on #23903
Why do we need the nested modal? We even explicitly "strongly discourage" it.

[2020-12-09 09:38] eps1lon commented on #15827
The solution is to disable excess prop checking which is a hefty trade-off. It would be nice if we don't constantly bring this up again without any update. If you changed your opinion on excess prop checking: please say so. If you got a solution: please say so. If you got a new workaround: please say so.

Repeating that this issue exists never helps in open-source. We're aware of the issue. We hav

[2020-12-09 09:39] oliviertassinari commented on #23903
I'm not aware that we discourage stacking in the documentation. Why would we discourage stacking? The initial demo of https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html uses stacking.

I think that it's important that we document this feature is supported because we depends on it, e.g a select inside a dialog.

[2020-12-09 09:54] Zhouzi commented on #15827
I think keeping this issue open is what encourages users to keep asking for updates. It's making it hard to know what's its status. What you are saying is totally fair and I believe this issue could be closed with a link to the documented workarounds and reasons why it is the way it is.

[2020-12-09 09:59] eps1lon commented on #15827
But it is an issue so closing it will just lead to newly opened issues. We know this from experience. I don't think it's too much to ask to read the issue bottom-up until you find the latest maintainer notice. We have to have require some responsibility from users. The latest status is even the top upvoted comment making it even easier to find.

[2020-12-09 10:01] brorlarsnicklas commented on #23677
Hi, is anyone working on this at the moment? If not, what is the intended approach right now? I'd like to work on it if you can guide me in the direction that you would want.

[2020-12-09 10:26] oliviertassinari commented on #23677
@brorlarsnicklas Nobody working on it. I think that resolving this issue will involve internalizing `date-io` in here. I also think that it involves reconsidering what's the best customization API. It's a large effort;

[2020-12-09 10:48] #23891 closed

[2020-12-09 11:01] mnajdova commented on #23577
We have this issue again after https://github.com/mui-org/material-ui/pull/23852 was merged.

[2020-12-09 11:17] oliviertassinari commented on #15827
@eps1lon Great summary of the issue in https://github.com/mui-org/material-ui/issues/15827#issuecomment-527180902, I didn't find it the first time.

From what I understand, this issue is the result of a change we have introduced in v4. Did we even have developers complaining that `to` wasn't typesafe in?

[code]

If developers can still create a wrapper with the correct types for consumption in th

[2020-12-09 11:39] aepp opened #23907 "[Button] 'default' color not supported in v5"
I'm not sure whether it's a bug or it was intended to remove `default` color from valid colors for `<Button />` elements. Other components e.g. `<Chip />` still allow the 'default' as color property.

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

##

[2020-12-09 11:50] oliviertassinari commented on #23907
Duplicate of #17530

[2020-12-09 11:50] #23907 closed

[2020-12-09 12:08] aepp opened #23908 "[TextField] when disabled - the text color also applied to adornment text (-webkit-text-fill-color)"
Again, not sure whether it's an intension or not, but in v4 you could have a disabled `Textfield` adorned with an enabled  `Button`.  In v5 the adornment text get the color of the input text because of the new css property of `.MuiInputBase-root.Mui-disabled` class:

<img width="251" alt="Screenshot 2020-12-09 at 12 48 45" src="https://user-images.githubusercontent.com/5745874/101626637-897c0100-3

[2020-12-09 12:20] dusanbass commented on #15542
Hey, I have tried running this example, but I cannot make it run.

I've used the Yarn, and run install inside the home directory for the whole project and inside this "examples\create-react-app-with-typescript" directory, and did try to edit lint file but without luck.

this is error from the terminal:

[code]

[2020-12-09 12:32] oliviertassinari commented on #15542
@dusanbass How can we reproduce the issue?

[2020-12-09 12:55] mnajdova commented on #15542
Thanks for reporting. I believe the issue is that we are using the Box props, which we decide to deprecate and remove in v5. @dusanbass can you please try if this will fix the issue on your end too:

[code]

[2020-12-09 13:02] oliviertassinari commented on #23808
@eps1lon I think that you are hitting the core of the tradeoff. On touch start, the component schedules the ripple after 80ms. If a touch move is triggered before the end of the 80ms, we unscheduled the ripple. If the touch end triggers before the end of the 80ms, we trigger the ripple.

Why are we using 80ms? It was meant to provide feedback to users under 100ms so it [feels like](https://www.nng

[2020-12-09 13:04] eps1lon commented on #15827
Yes. In addition, props that are misspelled or removed would not be type-checked.

Same applies to the current state.

[2020-12-09 13:06] dusanbass commented on #15542
Hi @oliviertassinari , the issue in my case could be reproduced when using

Windows 10,
yarn version 1.22.10
node v14.15.0

Then running yarn install in
material-ui (next) *next is the branch checked out by default i guess)
then again yarn install in
/material-ui/examples/create-react-app-with-typescript
and then yarn start

@mnajdova I will do that right now

[2020-12-09 13:29] mnajdova commented on #23901
@onegrit the only solution that worked for me was downgrading the `react-script` version
[code]

Let me know if this works for you. I know it's not the ideal solution, but wasn't able to find anything better.

[2020-12-09 13:31] yukinoda opened #23909 "[docs] ColorDemo.js Palette Preview still in old version"
Demo palette code preview doesn't follow the interface
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

[code]

## Steps to Reproduce 🕹

Steps:

1. Open https://material-ui.com/customization/c

[2020-12-09 13:32] oliviertassinari commented on #15542
@dusanbass Note that the example was designed to be cloned without the rest of repositoy.

[2020-12-09 13:32] mnajdova commented on #15542
@dusanbass please do not try the example inside the material-ui repo. Copy the folder as standalone project and try to run.

[2020-12-09 13:37] eps1lon commented on #15542
Is this error displayed in your editor or when building? If this error only appears in your browser, check https://github.com/facebook/react/issues/20391#issuecomment-739938868

[2020-12-09 13:41] oliviertassinari commented on #15827
@eps1lon Ok, then maybe we should:

- document how to resolve the problem
- link them the documentation in this issue
- wait for TypeScript to provide better capabilities

I guess we already document it in https://material-ui.com/guides/typescript/#usage-of-component-prop :) I could solve https://github.com/mui-org/material-ui/issues/15827#issuecomment-740268850 with:

[code]

https://codesandbox.

[2020-12-09 13:51] eps1lon commented on #23903
Which is why I intentionally put "strongly discourage" in quotes. It's literally quoted:

-- https://next--material-ui.netlify.app/components/modal/#simple-modal

Ok. Why does this matter?

[2020-12-09 13:52] oliviertassinari commented on #23909
@yukinoda the color displayed in

<img width="269" alt="Capture d’écran 2020-12-09 à 14 50 41" src="https://user-images.githubusercontent.com/3165635/101638108-f39ca200-3a2d-11eb-91ae-c75982dc5e3f.png">

are an object "hue" with multiple colors as key. We could probably reduce the confusion by including the import. To be honest, it's meant as simple playground.

[2020-12-09 13:56] eps1lon commented on #15827
I already forgot https://github.com/mui-org/material-ui/pull/19341. Thanks for noticing. I'll update my response above.

[2020-12-09 13:57] oliviertassinari commented on #23903
@eps1lon You are right, I didn't realize it was introduced in #23756. I thought the PR was rephrasing existing content to make it easier to understand. @mbrookes What's the motivation?

Does WAI-ARIA document strongly discouraged patterns?

[2020-12-09 14:09] oliviertassinari commented on #23888
@dantman Yeah, it's a wide topic. So far the plan is to move forward with the unstyled direction. It seemed to be the simplest option available. For instance, with the slider, would you really envision using a hook base version? https://next.material-ui.com/components/slider/#unstyled-slider.

[2020-12-09 14:14] dusanbass commented on #15542
@mnajdova I will try it right away, the reason behind running it inside the whole project was because the Curl command from the web didn't work out for me.

@eps1lon this is displayed inside VSCode when using GitBash and building (for development with yarn start command).

[2020-12-09 14:19] yukinoda commented on #23909
@oliviertassinari

You are right, it's an object "hue". Thanks for the quick check.

Right not a big issue. Was just confused for a moment.

Maybe having an example right after the playground would be nice 😄

[code]

https://github.com/mui-org/material-ui/blob/d16b3c170bf7b1a5b34a1be8817826f75bd274c3/docs/src/pages/customization/color/color.md#playground

[2020-12-09 14:22] dusanbass commented on #15542
@mnajdova , @eps1lon , @oliviertassinari , I would like to report that project is working when copy/paste into some other directory and then yarn install and then yarn start. I had no need to setup current TypeScript version for VS Code. (at the moment of writing VS Code version 1.51 reports TS 4.0.3)

Sorry for causing trouble, and thank you very much for your time and support!!!

[2020-12-09 14:22] oliviertassinari commented on #23909
How about?

[code]
[code]

[2020-12-09 14:24] yukinoda commented on #23909
looks good 👍

[2020-12-09 14:24] brorlarsnicklas commented on #23677
@oliviertassinari oh, I see. Then it might be better for someone else to work with it hehe! :D

[2020-12-09 14:25] yukinoda commented on #23909
@oliviertassinari
But wouldn't it make more comprehensive by matching with the playground?
I think `info` will appear for the first time on this page.

[2020-12-09 14:39] yukinoda commented on #23909
![image](https://user-images.githubusercontent.com/16083322/101643535-962d4300-3a77-11eb-8e26-6dbca7d4c112.png)

How about adding playground default primary color as HEX and secondary color as Hue object pink?

[2020-12-09 15:35] oliviertassinari commented on #23908
@aepp Thanks for the report, the change comes from #23332. What about we scope the color to only the `<input>` element, avoiding side effects on the adonement?

[code]

[2020-12-09 15:49] oliviertassinari commented on #23909
@yukinoda Yeah ok. In this case, I propose that we slowly move away from supporting dropping a complete object color:

<img width="378" alt="Capture d’écran 2020-12-09 à 16 48 05" src="https://user-images.githubusercontent.com/3165635/101652347-6d3c8c00-3a3e-11eb-8921-cb32fe6e2f71.png">

I think that we can avoid magic.

[code]

[2020-12-09 16:26] richsilv opened #23911 "Tooltip with supplied behavior can cause infinite loop if boundariesElement is small"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The [popper.js implementation](https://github.com/popperjs/popper-core/blob/0a2329323252fd287f263c28951883b35095082a/packages/popper/src/modifiers/flip.js#L62-L64) of flip behavior gu

[2020-12-09 16:47] manuelpaulo commented on #23808
check this https://github.com/software-mansion/react-native-gesture-handler
and this: https://reactnative.dev/docs/pressable

[2020-12-09 17:37] aepp commented on #23908
@oliviertassinari if you ask me - sounds like a valid solution to me. The developer has to configure the look of the adornment. Regardless of the state of the input. At least that's how I've been treating adornments - as separate components which **have** to be styled separately, always.

[2020-12-09 18:15] mbrookes commented on #23903
Since it was many months between creating the branch, and submitting the PR, I can't now remember the source. (The MD guidelines used to mention it, but that was WRT modal dialogs specifically). No objection to removing the word strongly if it's too, uh, "strong" 🙂

I've looked at a dozen or so authoritative sources, and none explicitly says not to stack modals, because who even does that? None sh

[2020-12-09 18:37] janderson215 commented on #14860
FYI, the thing that has worked best for me to prevent the LastPass adornment from being added to elements is adding `inputProps={{ 'data-lpignore': true }}` to `<TextField>`. I'm currently having an issue with that solution on a `<TextField>` being used as the `renderInput` in an `<Autocomplete>`. The attribute does not show in the inspector, and even when manually adding the `data-lpignore` attri

[2020-12-09 18:56] caseyjhol opened #23916 "[Autocomplete] Expose setHighlightedIndex to allow manually setting the highlighted option"
With the current implementation, if you hover over an option, and then move your cursor outside of the option menu, the last option you were hovering over remains highlighted. I would like to remove this highlight programmatically.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

#20615 is related, but

[2020-12-09 19:11] carlhopf commented on #23520
The scrolling Select on Chrome 87 MacOS, MUI alpha 18, dark palette.

<img width="197" alt="Screenshot 2020-12-09 at 20 03 16" src="https://user-images.githubusercontent.com/937496/101675098-a504fd00-3a59-11eb-95d8-ccdf0adacad8.png">

Removed styles for system-default, scrollbar only visible temporarily while scrolling

<img width="172" alt="Screenshot 2020-12-09 at 20 08 42" src="https://user-ima

[2020-12-09 19:19] oliviertassinari commented on #14860
@janderson215 On the Autocomplete, you need to spread the params:

[code]

[2020-12-09 20:07] oliviertassinari commented on #23903
👍 for it

I personally think that we should have a demo for stacking because it can happen, it puts the frame behind it inactive (⚠️ not for a dialog). We do that with Dialog > Select, Nested Menu, Dialog > Menu. Maybe the confusion comes from what is a modal vs. a dialog, for instance, Bootstrap's Modal is IMHO a dialog.

https://getbootstrap.com/docs/5.0/components/modal/

Maybe if we have it at

[2020-12-09 20:27] oliviertassinari commented on #23916
@caseyjhol Interesting. I can't remember why I have made the hover change the highlighted item, and not only the keyboard. Recently, we have done #23323 to visual differentiate the two states. What if we made your example the default? Well, not your example the exact default, I think that Chrome does it better with its search bar (isolate keyboard and hover) but you get the idea.

Regarding the AP

[2020-12-09 20:42] caseyjhol commented on #23916
@oliviertassinari I think it would be great if keyboard and hover were isolated. With my current workaround, if the cursor happens to be underneath the input while typing in the input, and I hit "Enter" to perform the search, it actually selects the option that is highlighted by the cursor.

The existing autocomplete hover functionality is identical to GitHub's, so perhaps you were taking inspirat

[2020-12-09 20:47] oliviertassinari commented on #23916
Oh! I have experienced the same but could never figure out why. Maybe that's it 😆.

[2020-12-09 20:48] oliviertassinari commented on #23804
I'm just saying 😁

<img width="340" alt="Capture d’écran 2020-12-09 à 21 47 54" src="https://user-images.githubusercontent.com/3165635/101685610-41ce9700-3a68-11eb-84b8-7c76632fd897.png">

[2020-12-09 20:54] oliviertassinari commented on #23911
Could you confirm that the issue is resolved in v5? https://codesandbox.io/s/mui-tooltip-infinite-loop-bug-forked-ber2q

[2020-12-09 20:54] mbrookes commented on #23903
This is true. I think the problem in part comes from the fact that this demo renders a dialog with a background scrim, for which we then have stacking.

Adding sentence to the effect that "Modals can be stacked, for example a select within a dialog, but stacking of more than two modals, or any two modals with a backdrop is discouraged."

Any stacking demo should then reflect that.

[2020-12-09 21:03] mbrookes commented on #23903
@b-d-m-p Are you happy to work on it?

[2020-12-09 22:34] kmsarsam opened #23919 "[Popover] Repositions After Pinch Zoom Safari Mobile"
When selecting an item from a MenuItem, if you try to zoom in it will go out of sight and when you zoom back in, the list will be repositioned away from its original position

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

We have

[2020-12-09 22:43] developit commented on #23901
I think this requires updating the Babel configuration used by CRA. It's bypassing aliases when injecting the `react/jsx-runtime` imports.

[2020-12-09 22:59] oliviertassinari commented on #23919
@kmsarsam Which version of iOS, Safari are you using?

[2020-12-10 00:18] davidpene opened #23920 "File input on Safari not working - Create-React-App + Material-UI example"
Using the example project provided by Material-UI:
- https://github.com/mui-org/material-ui/tree/master/examples/create-react-app
  - Add an `<input type='file' />`and try to upload a file
- Here is an updated sandbox https://codesandbox.io/s/little-sky-pw2ob

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this

[2020-12-10 00:21] #23920 closed

[2020-12-10 00:25] davidpene commented on #23920
Hi @oliviertassinari did you try the example sandbox? It seems to be a bug

[2020-12-10 00:28] yukinoda commented on #23909
@oliviertassinari

I think that we can avoid magic.

Looks good and more straightforward to the documentation 👍

[2020-12-10 03:10] tpeek opened #23921 "[DatePicker] Allows selecting out of range dates"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

You can select a date that is before minDate or after maxDate.

## Expected Behavior 🤔

Dates before minDate or after maxDate should be disabled.

## Steps to Reproduce 🕹

You can rep

[2020-12-10 04:00] jnrbo commented on #13394
Anyway to solve it without using v5?

[2020-12-10 04:51] onegrit commented on #23901
@mnajdova 👍Great. Your suggestion is as beautiful as your good-looking face.
But another issue occupied when running start:
[code]
I deleted the first two lines of the serviceWorker.js file and then the error message disappeared. I hope to see the transfered file size ASAP.
Thank you very much!
Attach what I deleted in serviceWorker.js:
[code]

[2020-12-10 04:59] AnnLe4869 opened #23922 "[ClickAwayListener] Callback run stop mid-way for useEffect callback run"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Inside the `ClickAwayListener` callback, if there is a `setState` function, then the callback will be "stop" there and the callback of any `useEffect` that is scheduled to run will ru

[2020-12-10 06:18] jtan80813 commented on #23851
@oliviertassinari. Can you show an example of this on codesandbox. Thank you.

[2020-12-10 08:07] piyushkmr commented on #23810
@oliviertassinari, thanks for pointing out. There were multiple instances of `@material-ui/styles` that were the culprit.
Is there a way to configure some kind of warning mechanism in `styles` if that is possible? I can take up the PR task if you can guide me in the right direction.

[2020-12-10 08:49] mnajdova commented on #23901
@developit have you tried just creating a new CRA with the latest version? Maybe that alone can help to solve the issue.

[2020-12-10 08:54] richsilv commented on #23911
I've had to alter the modifier syntax for popper.js v2 so that the flip behavior is actually applied: https://codesandbox.io/s/mui-tooltip-infinite-loop-bug-forked-6pixp

But that does confirm that it works fine in v5. I look forward to a stable release! Thanks very much for looking into this.

[2020-12-10 09:08] #23911 closed

[2020-12-10 09:11] oliviertassinari commented on #23810
In theory, there should already be a warning when the styles package is bundled twice. However, we are moving to emotion in v5 so it's not a high priority.

[2020-12-10 09:16] oliviertassinari commented on #13394
@jnrbo Yes, https://github.com/mui-org/material-ui/issues/13394#issuecomment-619266831, or remove the strict mode wrapper.

[2020-12-10 09:20] oliviertassinari commented on #23909
@yukinoda  OK, great. Feel free to work on a pull request for it in this case :)

[2020-12-10 09:26] #23877 closed

[2020-12-10 09:48] karinehaug opened #23923 "API for Date/Time components missing for v5"
The API for Date/Time components in lab are missing. I'm getting a 404 when opening the page.

- [x] [DatePicker](http://next--material-ui.netlify.app/api/date-picker) (https://github.com/mui-org/material-ui/pull/24655)
- [x] [DesktopDatePicker](http://next--material-ui.netlify.app/api/desktop-date-picker) (https://github.com/mui-org/material-ui/pull/24655)
- [x] [MobileDatePicker](http://next--ma

[2020-12-10 10:19] yukinoda commented on #23909
@oliviertassinari Great. I guess I don't need to be assigned to work on this right? 😮

[2020-12-10 10:26] oliviertassinari commented on #23922
@AnnLe4869 The behavior looks correct, it's how React works.

[2020-12-10 10:26] #23922 closed

[2020-12-10 10:36] oliviertassinari commented on #23851
Done

[2020-12-10 10:54] dantman commented on #23888
I guess I wouldn't necessarily see a use for a `useSlider`. Looking at SliderUnstyled's code, it does a lot and could definitely make use of an `useSlider` internally to separate the huge pile of state/event/etc code from the huge pile of dom/propTypes/classes management; but I don't see users necessarily using it directly. (Unless you can think of a theoretical limitation to the slider's structur

[2020-12-10 11:16] KudMath opened #23924 "ReactSwipableView throws an unsafe-component-lifecycle Warning"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

[2020-12-10 11:18] oliviertassinari commented on #23924
Not maintained here, see https://github.com/oliviertassinari/react-swipeable-views

[2020-12-10 11:18] #23924 closed

[2020-12-10 11:37] oliviertassinari commented on #23888
@dantman Yeah, this makes me think that the problem might not be unstyled specific. We had a similar problem in #19861 and seriously talked about exposing `useFormControl`. In the TreeView, we made the move and have a [`useTreeItem`](https://next.material-ui.com/components/tree-view/#contentcomponent-prop). Maybe the solution here should be simply a `useAccordionSummary()`?

Why not? We are trying

[2020-12-10 12:04] jtan80813 commented on #23851
@oliviertassinari. Thank you. I have a reply there

[2020-12-10 12:19] probablyVincentIp opened #23925 "Link without href does not set cursor to pointer"
### Link without href does not set cursor to pointer, without the href prop it is set to `cursor: auto` which defaults to text

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the `Link` component is used without `href` the cu

[2020-12-10 12:24] yukinoda commented on #23909
@oliviertassinari
Here is the PR ;)
https://github.com/mui-org/material-ui/pull/23926

Thanks for the guidance, I've additionally fixed this error

at
[code]

to
[code]

[2020-12-10 12:26] yukinoda commented on #23909
new demo view
![image](https://user-images.githubusercontent.com/16083322/101772112-48bfdd00-3b2e-11eb-8fcf-ffffd046f4c6.png)

[2020-12-10 12:58] eps1lon commented on #23925
Why should an anchor without an `href`, which is not a link, use the pointer cursor? Sounds like you want to use a button instead.

[2020-12-10 13:12] #23925 closed

[2020-12-10 13:14] FranBran opened #23928 "[Textfield] multiline: correct cursor positioning on click in padding-area"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When clicking the padding-area, the cursor jumps to the last known cursor position

![multiline](https://user-images.githubusercontent.com/1215407/101776911-f3fe7100-3af1-11eb-9168-cb

[2020-12-10 13:18] probablyVincentIp commented on #23925
@eps1lon while an anchor tag without `href` is valid ([source](https://stackoverflow.com/questions/10510191/valid-to-use-a-anchor-tag-without-href-attribute#:~:text=Yes%2C%20it%20is%20valid%20to,of%20just%20the%20element%27s%20contents.)), it seems that without `href` the default behaviour for cursor is text.

issue can be closed

[2020-12-10 13:30] GabriFila opened #23930 "[docs] Place a copy button next to the import for MUI icons"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In the current MUI docs, in the icons section, there is not the possibility to quickly copy the import statement for an icon. It would be good to have a button to quickly copy the import statement.

I would be very happy to add it myself.

##

[2020-12-10 13:32] vicasas opened #23931 "Add in the documentation what emotion is used for in the integration with Nextjs"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I'm implementing Material UI in Next.js v10 using the examples from the same [Material UI repository](https://github.com/mui-org/material-ui/tree/next/examples/nextjs), but I can't understand the reason for using the `emotion` library, I know

[2020-12-10 13:36] oliviertassinari commented on #23930
@GabriFila Does #23850 solve the issue? https://next--material-ui.netlify.app/components/material-icons/

[2020-12-10 13:40] GabriFila commented on #23930
Yes, very sorry did not see it. I only looked at the issues not the PRs.

[2020-12-10 13:43] #23930 closed

[2020-12-10 13:43] oliviertassinari commented on #23930
Great, thanks for the confirmation.

[2020-12-10 13:46] janderson215 commented on #14860
That worked, thank you! You're the man!

[2020-12-10 14:03] eps1lon commented on #23931
Agreed. Our examples should be overly verbose with technical decisions. Whether this happens in the readme or code is not important to me.

[2020-12-10 14:11] vicasas commented on #23931
@eps1lon It would be interesting to have more information regarding the use of `emotion` in the implementation.

[2020-12-10 14:14] 913-Filp-Teodor opened #23933 "Autocomplete renderInput label is being rendered inside the input"
I noticed that when using the autocomplete component the label defined in the renderInput component is being rendered in the input instead of the defined placeholder. When clicking on the input the label goes up and the placeholder appears. Is there any way to to directly show the placeholder in the input before clicking on in?
this is the way it works right now
![image](https://user-images.github

[2020-12-10 14:19] oliviertassinari commented on #23931
@vicasas Which version did you intent on using? v4 or v5

[2020-12-10 14:22] vicasas commented on #23931
@oliviertassinari I'm using material ui version 4.11.2

[2020-12-10 14:23] vicasas commented on #23931
@oliviertassinari  I'm using material ui version 4.11.2

[2020-12-10 14:35] mnajdova commented on #23901
Seems like these changes are enough for fixing the build on the example project:

[code]

[code]

We can go with fixing these, and probably in the future, we should update the example to the latest scripts and re-create to see if it work as expected.

[2020-12-10 14:43] mnajdova commented on #23931
@vicasas you linked the examples project from the `next` branch, which is using the new `styled-engine` which by default depends on emotion. I you take a look on the example project from `master` - https://github.com/mui-org/material-ui/tree/master/examples/nextjs (which is the v4, then there shouldn't be any reference to emotion).

emotion is required for v5, it is even mentioned in the Getting s

[2020-12-10 15:05] vicasas commented on #23931
@mnajdova  I get it! and of course there was a confusion with the versions of the documentation.

In the same way, the use of `emotion` is not very clear to me. Perhaps a couple of lines could be added to the Installation page commenting on why its use? Or a full page to document about this new integration in v5, because I couldn't find it in the documentation.

And for those who come to the Next

[2020-12-10 15:05] miguelangeltorresfp commented on #12237
This solutions doesn't work for me:

This is the transition:

[code]

The modal:
[code]

I tried with this mock in the storybook.test.ts

[code]

But I got this error in the console:

[code]

I'm new to jest and I don't know how to mock this properly.
Thankyou.

[2020-12-10 15:17] oliviertassinari commented on #23931
@mnajdova On a tangent:

- We forgot to fix the Next.js example:

https://github.com/mui-org/material-ui/blob/189e875a71907abf381c9510a241b186bbf1b372/examples/nextjs/pages/_document.js#L76

- This warning is no longer relevant: https://github.com/mui-org/material-ui/tree/next/examples/nextjs#troubleshooting

[2020-12-10 15:21] kmsarsam commented on #23919
My iPhone simulator says software version 14.2

On Wed, Dec 9, 2020, 3:59 PM Olivier Tassinari <notifications@github.com>
wrote:

[2020-12-10 15:30] mnajdova commented on #23931
Let me do it right now, before we forget again

Will remove it

[2020-12-10 16:15] mnajdova commented on #23577
Fixed by https://github.com/mui-org/material-ui/pull/23932

[2020-12-10 16:15] #23577 closed

[2020-12-10 16:44] JavaJamie opened #23939 "Autocomplete doesn't set state in useEffect update."
I've had this issue for ages now and can't seem to get it working so figure it must be a bug. This is the following code:

[code]

When the user is selected the search fires, and the user id is set as a param in the URL. This userId is fed into the Autocomplete above so that we can find the user in the application's users list and set it when the autocomplete is opened again. It logs out the corre

[2020-12-10 16:47] #23939 closed

[2020-12-10 16:49] #23933 closed

[2020-12-10 16:49] oliviertassinari commented on #23933
Tip, check the `shrink` option with the `TextField`.

[2020-12-10 17:23] oliviertassinari commented on #23919
I could reproduce, it seems a bit related to #5750

![Dec-10-2020 18-22-11](https://user-images.githubusercontent.com/3165635/101806780-a9dab700-3b14-11eb-9c86-08378a9c65e4.gif)

[2020-12-10 17:27] oliviertassinari commented on #23919
It's an issue with the Popvover position logic. The Popper component isn't impacted. This issue was already reported in #9802. I think that we need to move forward with the plan of #17636. To have Popover combine Modal + Popper instead of having its own position logic.

[2020-12-10 17:31] drmzio commented on #22485
Another issue you could add with Material Design is that the UI is quite big and bulky looking, especially when building desktop hybrid apps in Electron. For apps that use every bit of precious screen real estate, I either have to customize MUI to be “smaller”, “compact” or straight up just using a different UI library. So perhaps an idea for the next MUI theme would be for a more compact UI?

[2020-12-10 18:28] Djspaceg commented on #13253
I have a different solution to this problem, which requires a slightly newer browser, but doesn't inject styling overrides.
[code]
This allows the inner flex element of Dialog to still be the operator of the flex-box container rules, and allows the children `DialogTitle`, `DialogContent`, and `DialogActions` to retain their flex-box children rules, allowing for correct scrolling.

`display: conten

[2020-12-10 18:58] gh-igor opened #23943 "[ModalManager] Scrollbar is disabled when one modal appears right after another"
We're using MUI internally in separate lib. Apart from that MUI is used in current project.
The issue is that two ModalManagers misbehave.

While one modal closes (by ModalManager_1) and another modal starts showing (by ModalManager_2) then ModalManager_2 gets wrong data.style (styles to restore back) for body

[code]

I wonder if it is possible to create PR into v3 with the following:
[code]

- [

[2020-12-10 18:59] #23558 closed

[2020-12-10 19:10] oliviertassinari commented on #23928
We had a similar topic about caret position a #23096. But it seems different. Currently the padding structure yields the following scroll outcome:

<img width="214" alt="Capture d’écran 2020-12-10 à 20 07 10" src="https://user-images.githubusercontent.com/3165635/101817976-823f1b00-3b23-11eb-81a3-8e468f9e0905.png">

We could potentially change it to (notice that the top & bottom is the same):

<

[2020-12-10 19:25] oliviertassinari commented on #22485
@drmzio Material Design supports the notion [of density](https://material.io/design/layout/applying-density.html#usage). We have implemented it with https://material-ui.com/customization/density/.

[2020-12-10 19:47] mbrookes opened #23945 "[Switch] Layout broken when site-wide docs density is applied"
## Current Behavior 😯

![image](https://user-images.githubusercontent.com/357702/101821500-f1b30b80-3b1f-11eb-889e-46dc19d78c2b.png)

## Expected Behavior 🤔

Layout not to be broken.

## Steps to Reproduce 🕹

Steps:

1. Visit: https://next.material-ui.com/customization/density/ and click the switch
2. Visit: https://next.material-ui.com/components/switches and view the malformed switches

[2020-12-10 19:56] luminaxster opened #23946 "[docs] 5.x versions link redirects to 4.x versions"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The link to the current 5.x versions on the **next** website uses the link of the 4.x versions (https://material-ui.com/versions/)
![Screen Shot 2020-12-10 at 2 40 29 PM](https://user

[2020-12-10 19:58] oliviertassinari commented on #23946
This is by design, it's important to have a single centralized URL where all the versions are listed. v5 is supposed to be covered by https://material-ui.com/versions/#latest-versions.

[2020-12-10 19:59] oliviertassinari commented on #23946
I have pushed a new branch so we can see v5-alpha listed too.

[2020-12-10 20:05] oliviertassinari commented on #23945
A good opportunity to move away from the aberation: Switch shouldn't be built on top of IconButton.

[2020-12-10 20:56] vicasas opened #23948 "Is there a way to minimize the css that is generated in SSR?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In the implementation of Next.js with Material-UI I noticed that when reviewing the source code of my project, the CSS was injected but not minified.

My question or initiative is: How can the Material-UI css be minified in SSR?

![image](htt

[2020-12-10 21:22] vicasas opened #23949 "In SSR the styles of the Box component do not appear"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I create a UI using the Material-UI `<Box />` component the styles do not appear in the <styles> tags of the head section of the HTML document

This when implementing Material-UI

[2020-12-10 21:28] #23948 closed

[2020-12-10 21:28] #23949 closed

[2020-12-10 21:31] oliviertassinari commented on #23946
Fixed

<img width="770" alt="Capture d’écran 2020-12-10 à 22 31 16" src="https://user-images.githubusercontent.com/3165635/101832299-74939080-3b37-11eb-91df-d17ecb4af972.png">

https://material-ui.com/versions/

[2020-12-10 21:31] #23946 closed

[2020-12-10 21:40] oliviertassinari commented on #23949
Duplicate of #21893

[2020-12-10 21:40] oliviertassinari commented on #23948
Duplicate of #10068

[2020-12-10 21:45] #23738 closed

[2020-12-10 21:46] #23598 closed

[2020-12-10 21:47] #23908 closed

[2020-12-10 21:49] vicasas commented on #21893
@oliviertassinari the fix only applies to v5?

[2020-12-10 21:54] oliviertassinari commented on #21893
Yes

[2020-12-10 22:25] AnnLe4869 commented on #23922
@oliviertassinari I edit the question a bit as I think the way I presented the problem before are misleading. My biggest question is, why the `useEffect` callback run in the middle of the `ClickAwayListener` callback? Your explanation only explain why the `useEffect` run twice for `ClickAwayListener` callback, not why `useEffect` callback run in middle of the `ClickAwayListener` callback.

This be

[2020-12-10 23:07] wwahammy commented on #15511
So, what's the work around on v4?

[2020-12-10 23:50] dantman commented on #23888
Fair. I just meant a `useSlider` would probably be so generic it would be equivalent to react-table's `useTable` but for sliders. If you think that a headless `useTable` would've fit being published as part of MUI if react-table didn't already exist, then I'm happy to see a `useSlider` and a collection of headless UI hooks in MUI.

1. Headless UI hooks: Lowest level, implements the core interactiv

[2020-12-11 00:04] oliviertassinari commented on #23888
I have been contacted by @yordis today about this very problem. He chatted a bit and he made #23929 to illustrate a point.

@yordis Maybe if you could summarize what we said and the direction you are proposing it could help broaden the scope of our options :D. I know you wanted to make #23929 production-ready, as long as you think it's worth the effort for illustration purposes happy to see how it

[2020-12-11 00:14] oliviertassinari commented on #23943
@gh-igor The modal manager is a singleton. You would either need to enforce a single version installed, avoid nesting modal, or use a private API, the `manager` prop on the Modal to inject the same modal manager to each Modal. It can even happen with the theme.

[2020-12-11 00:14] #23943 closed

[2020-12-11 00:49] b-d-m-p commented on #23903
Yeah, sure!

[2020-12-11 03:31] Mingyang-Li opened #23952 "Can't resolve '@material-ui/AppBar' in 'C:\Users\admin\Desktop\multistep-form\src\components'"
Error message as title suggested, my package.json are below. All MUI modules imported are of the latest version, yet still unable to render content onto my app. Please help.

Package.json:
`{
  "name": "multistep-form",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@material-ui/core": "^4.11.2",
    "@material-ui/icons": "^4.11.2",
    "@material-ui/styles": "^4.11.2",
    "@te

[2020-12-11 03:58] potier97 opened #23955 "The use of Radio is not suitable when doing a state handler combined with TextField"
- [ ] The issue is present in the latest release.

## Current Behavior 😯

presents the following error in the console: TYPE variable does not exist, it is undefined

## Expected Behavior 🤔

Make the change of state in the radio button when the name or type of the event is identified as the checkbox.

I am using a state change called handleChange, this inside an arrowFunction, the component is a fu

[2020-12-11 05:46] singharpit94 opened #23969 "[DatePicker] Customize Header Component"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui-pickers/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Can we have a feature to override the component for calendar header?
Currently there is no way I can render any component in the header

## Examples 🌈

![image](https://user-images.githubusercontent.com/7591673/101867926-52832800-3ba2

[2020-12-11 06:40] eps1lon commented on #23952
You need to import from `@material-ui/core` like so:

[code]
or
[code]

[2020-12-11 06:40] #23952 closed

[2020-12-11 07:25] #23931 closed

[2020-12-11 07:58] mnajdova commented on #23955
@potier97 could you please provide a minimal reproduction test case with v5. A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-12-11 08:04] eps1lon commented on #23888
Why do you not like that?

For any library constraints are on aspect how we guarantee correct apps. So we don't necessarily want to allow just about any customization. I suspect a particular customization you want to do, which we don't want to support. Requiring users to build their own version if they want to break out of supported patterns is how we guide users into a pit of success. Could you s

[2020-12-11 08:19] eps1lon commented on #23804
Could you explain in what scenario you use what page as an argument? Just so that in the next discussion you're not citing docosaurus instead of github.

GitHub is failing a WCAG criterion. Yes, there are pages failing that. There are also pages not failing that. The existence of these groups does not justify either approach. If you argue like that then you arrive at some "logical singularity" whe

[2020-12-11 08:35] eps1lon commented on #23899
This may be unrelated but there's also an invisible area around the popper that, when clicked on, does not dismiss the popper:

![picker-invisible-area](https://user-images.githubusercontent.com/12292047/101881013-1cd74280-3b94-11eb-855a-2b8c94c4ecb3.gif)

[2020-12-11 08:39] eps1lon commented on #23955
@potier97 Did `npx @material-ui/envinfo` not produce any results for you or did you just forget to run it?

[2020-12-11 09:28] jornpuls opened #23957 "[DateRangePicker] Ability to control which months are shown"
We've been following the development of the upcoming version closely and been tweaking around with the lab components. We'd like to swap out our old date pickers with the mui ones, however, what seems to be missing for this to work is a prop (e.g. on StaticDateRangePicker) that allows us to change the months that are shown. Having only the two small buttons on desktop to change the month was quite

[2020-12-11 09:51] RowanDZ commented on #19848
`const useStyles = makeStyles(theme =>
    createStyles({
        tooltip: {
            maxWidth: '200px',
        },
        tooltipPlacementTop: {
            margin: '4px 0',
        },
        tooltipPlacementBottom: {
            margin: '4px 0',
        },
    })
)`

This will add 4px margin between the anchor and the tooltip.

[2020-12-11 09:54] oliviertassinari commented on #23804
As well as Algolia and Docsearch. Which is a great signal. It means that we can ignore the problem. Focus on energy on making accessible component rather that a perfectly accessible documentation no developers need.

[2020-12-11 10:21] oliviertassinari commented on #23827
@eps1lon What do you think about the above :)? So far I felt that you have been opposing the change without contributing significantly to a solution. It you could engage in this follow-up discussion, it would be great. e.g what alterrnative solution did you consider? You suggested that an alternative was possible :).

It looks like we have a clear direction from the community. This is a step forwa

[2020-12-11 10:48] hmaddisb commented on #23804
Hi! Looked into the suggestion and did the following changes:

[code]

How does that look? I can work on the PR if the approach shown in the diff is what you had in mind!:)

[2020-12-11 10:52] oliviertassinari commented on #23804
@hmaddisb It looks good.

[2020-12-11 11:14] abitgen commented on #8778
Add style to formControl like this
[code]

[2020-12-11 11:14] eps1lon commented on #23804
What makes you say that?

[2020-12-11 11:32] oliviertassinari commented on #23804
@eps1lon From what I understand, in order to satisfy https://www.w3.org/WAI/WCAG21/Understanding/character-key-shortcuts.html, GitHub, Docusaurus, DocSearch, Material-UI would require to provide a panel to allow disabling the / & s shortcuts. This seems to be time wasted compared to the other problems we can invest it in, e.g #18158.

[2020-12-11 11:56] eps1lon commented on #23804
What about the other companies that didn't ignore the problem?

Just came back from amazon.com which had a bug in their search field where the cursor was so far offset that it wasn't visible. Should we therefore not fix problems with hidden cursors in textfields if amazon can ignore it?

[2020-12-11 12:16] eps1lon commented on #23827
The problem is that we have two problems and people think they can fix both of them. Neither problem is clearly defined and the solution is proofably wrong. This makes for a disaster which we should absolutely avoid.

In addition, it doesn't help if bugs are reported without reproduction. Sentinels being focused is definitely a bug which we need to solve. So if this happens, please follow the stan

[2020-12-11 12:26] maerzhase opened #23960 "Reveal component, triggering transitions when components scroll into view"
A `Reveal` component that tracks the "visiblity" of an element and triggers a specific transition.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Common use case is to implement a "reveal"-effect when certain elements scroll into view. Since I love working with `@material-ui` and it come

[2020-12-11 12:38] eps1lon commented on #23827
You know what, I've got plenty things to do so I'm leaving this up for grabs and wait for the issues to come in how the new approach prevents focusing focusable elements. I did my job by referencing the spec and a reference implementation of that spec (chrome). If people want to ignore me, so be it.

[2020-12-11 13:48] hey-johnnypark commented on #11843
@Igorbek

This issue costed my 4 hours. And it would have caused suicide if I did not come across your info. Thanks for making my day. 🙌

[2020-12-11 15:26] oliviertassinari commented on #23960
@maerzhase This sounds like a great idea. We need to improve the transitions for Material-UI. @gevorgmakaryan considering you have some experience building this animation for https://github.com/gevorgmakaryan/thefront-preview. Which solution would you recommend?

[2020-12-11 15:29] oliviertassinari commented on #23960
It seems that there is a dependency on #16663.

[2020-12-11 16:23] maerzhase commented on #16663
IMHO if you decide on using a generic library (e.g. `react-intersection-observer`) `material-ui` itself should focus on providing a component-based API e.g. the `Reveal` component I propose in #23960 and not a hook-based API like `useScrollTrigger`, because it would obfuscate the usage of the library somehow.

[2020-12-11 16:44] Krasnopir opened #23965 "[DateRangePicker] Static mode to choose which date is selected first"
Hello. Maybe somebody know, is it possible for a static mode to choose which date is selected first "Check-in"(start) or "Check-out"(end)?

https://next--material-ui.netlify.app/ru/components/date-range-picker/#static-mode

Thank for  answer. sorry for issue

[2020-12-11 17:44] yordis commented on #23888
What I would suggest,

Before deciding any reusable hook that defines the behavior of X thing, you try to refactor the code into a pattern that will allow you to recognize what is behavior (hook) and what is UI (components) naturally because you will separate the concerns in another word MVC **design** pattern alo 2020.

Doing so, you will leave up with the following topics, which both cases have

[2020-12-11 19:56] rimazk123 commented on #23164
Hi I'd like to try working on this issue :)

[2020-12-11 20:32] Ambrish-git opened #23966 "WCAG issue with TablePagination component"
I am using Wave extension to check the accessibility issues. I am getting "Missing form label" error for the dropdown used for selecting Rows per page. Below is the element for which error is thrown.
`<input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput" value="5">`

Issue can be reproduce using the table pagination example and Wave accessibility check tool.
Table Examples: https:/

[2020-12-11 21:06] Mingyang-Li commented on #23952
Thanks a lot Sebastian, it worked.

[2020-12-11 21:22] eps1lon commented on #23966
Thanks for the report.

This warning is not actionable for us and doesn't actually impact assistive technology. Not only is it excluded from the accessibility tree (`aria-hidden="true"`) but it's also not in sequential tab order. The element exists to enable the native form validation API.

Unfortunately, Wave reports these issues by design. They do describe a workaround under "How does WAVE handl

[2020-12-11 21:22] #23966 closed

[2020-12-11 22:33] Igorbek commented on #11843
@hey-johnnypark thank you, but will not take credit for it, it is all for @igorkrup 😄

[2020-12-11 22:35] bneigher commented on #22426
Product: Dieta Web Portal
Company: [Dieta Health](https://www.dietahealth.com)
GitHub Link: N/A
Screenshot:
![ezgif-1-cb6d945923df](https://user-images.githubusercontent.com/4627728/101961212-1493fd00-3bbe-11eb-852c-fabdfbb87a39.gif)

[2020-12-11 23:19] oliviertassinari commented on #23164
@rimazk123 Great :)

[2020-12-11 23:47] oliviertassinari commented on #23965
@Krasnopir I'm sorry, we can't make sense of the question. I'm closing, you might want to try on Stackoverflow.

[2020-12-12 07:16] Krasnopir commented on #23965
Sorry, my english is not good. I can try again.
I'm sure @dmtrKovalenko understand what I mean.
SO. We have a basic component view
https://next--material-ui.netlify.app/ru/components/date-range-picker/#basic-usage

![Снимок экрана от 2020-12-12 09-00-29](https://user-images.githubusercontent.com/22295024/101977771-b405ce00-3c58-11eb-8c0b-ba79af14c1d9.png)
![Снимок экрана от 2020-12-12 09-00-44](ht

[2020-12-12 08:06] Ritik-Nandanwar commented on #4472
Just delete the existing materialize.css file and create a new file and name it 'materialize.css'

[2020-12-12 08:19] jackcwu commented on #23673
@tcho0501 and I will take a try at it!

[2020-12-12 08:22] jackcwu commented on #23916
@tcho0501 and I will take a try at it!

[2020-12-12 10:26] nasaabg opened #23968 "[DatePicker] Read only static calendar displaying availabilities"
Hi!
Is there a way to implement a Static read-only calendar displaying available dates like for the booking system when you review an apartment and its availability with Material UI pickers?

I have tried to use `StaticDatePicker` & `shouldDisableDate` & renderDay:
[code]
However, it still allows picking some date from that calendar...I would like it to be read-only, showing what dates are prohibi

[2020-12-12 10:34] lorstenoplo commented on #15407
like now what is the difference between rows prop and rowsMax because both are doing the same work

[2020-12-12 10:38] oliviertassinari commented on #15407
@lorstenoplo We have fixed the API in v5. `rows` if for `<textarea>` only while `minRows` and `maxRows` are for the `<TextareaAutosize>`.

[2020-12-12 10:48] oliviertassinari commented on #23520
I'm adding the "good to take" label to move forward with option 4. from https://github.com/mui-org/material-ui/issues/23520#issuecomment-741202238:

- We make the feature opt-in.
- We use it in the documentation.
- Once released, we used it scoped to the data grid (to replace the duplication of code)

[2020-12-12 10:50] oliviertassinari commented on #23604
Duplicate of #23673

[2020-12-12 10:50] #23604 closed

[2020-12-12 10:50] oliviertassinari commented on #23969
Related to #23673.

[2020-12-12 13:14] mfazelinia opened #23972 "Automatic Scroll Buttons RTL Bug"
TabScrollButton does not properly work in rtl

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @ma

[2020-12-12 13:49] YosephKS commented on #23968
Hey @oliviertassinari @nasaabg I am new to this repo and would like to contribute by resolving this issue. Can I have a try to do it if I have background in React App Development?

[2020-12-12 13:57] #23972 closed

[2020-12-12 14:07] YosephKS commented on #23968
@oliviertassinari okay cool thanks for the opportunity, I'll work on it and get back to you once I am done resolving the issue.

[2020-12-12 16:09] ZovcIfzm commented on #23708
Could I try and take a wack at this?

[2020-12-12 16:30] nasaabg commented on #23968
@YosephKS thanks, lmk if you need more details

[2020-12-12 18:02] eps1lon commented on #23916
That sounds like a bug to me. Pressing enter should not activate the item that you hover.

[2020-12-12 18:47] oliviertassinari commented on #23916
@eps1lon On macOS, the hover & keyboard focus shares the same state, it's even true for a native `<select>`. I'm not sure it's a bug but it seems that we all agree we should differentiate the states, e.g. https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html#.

[2020-12-12 20:15] Adamkaram opened #23976 "any update about DatePicker?"
trying to find solving but it's fail every time even i tried codesand Box V5 martial-Ui it's Not working ?!

[2020-12-12 21:55] oliviertassinari commented on #18287
@selhari @andrewkfiedler We have a first version available: https://material-ui.com/store/items/adobe-xd-react/. You access the live preview too: https://material-ui.com/store/previews/adobe-xd-react/.

[2020-12-13 01:08] #23909 closed

[2020-12-13 08:58] ZovcIfzm commented on #23708
Hi! I'm completely new to open source contributions so I'm a bit confused, wouldn't this just be a one line change? Where we just add,
[code]
to Autocomplete.js
And then maybe a test?

I'm thinking since getOptionValue is a completely new function, nothing depends on it so all I would need to add is the function itself and a test.

Please correct me if I'm wrong, thank you so much!

[2020-12-13 10:05] oliviertassinari commented on #23708
@ZovcIfzm If you are completely new, you might want to do one "good first issue" before moving to this "goo to take" issue.

Regarding your question. Yes, we would need a new test case, to make sure it has the correct impacts on the component, e.g. change the onChange returned value, change how value <-> option comparison is done, etc.

[2020-12-13 14:15] mrmowji commented on #16181
Using arrays doesn't seem to be a good approach. That way we need to provide a key for each array item.

[2020-12-13 14:52] ioanaverebi opened #24001 "Setting disableRipple on ListItem customization theme will throw a Typescript error"
Hi!
I am trying to disable the ripple effect globally on a `ListItem` that uses a `Button` as a list item, through the `createMuiTheme.props`. I'm using React, Typescript, and Material UI.
[code]
Typescript will throw the following error:

What is the proper way to set this up?

Here is a code sandbox showing the type error: ~https://codesandbox.io/s/using-buttonbase-props-in-muilistitem-default-p

[2020-12-13 15:26] eps1lon commented on #24001
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2020-12-13 15:28] gadzhimari opened #24003 "useAutocomplete doesn't work inside Dialog"
If I create custom autocomplete using hook with "**open**" option set to true and wrap it inside Dialog I get the following message: "Cannot read property 'removeAttribute' of null".

## Steps to Reproduce 🕹
https://codesandbox.io/s/material-demo-forked-61zi3?file=/demo.js

[2020-12-13 15:46] oliviertassinari commented on #24003
I would be leaning toward "won't fix" for simplicity. The hook is meant to allow creating a custom combo box. If you do so, abstract the Combobox into its own component and render it into the dialog, you should be free of the issue.

[2020-12-13 15:51] Philipp91 opened #24004 "[DateRangePicker] Needs to be generic over TDate"
- [x] The issue is present in the latest (alpha) release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I do:
[code]

then `StaticDateRangePickerProps` does not know the `TDate`, i.e. it uses `unknown`. This means that simple things like this don't work:

[code]

TypeScript

[2020-12-13 16:00] oliviertassinari commented on #24004
Related to https://github.com/mui-org/material-ui-pickers/pull/2045.

[2020-12-13 16:34] #24003 closed

[2020-12-13 17:26] dependabot-preview[bot] opened #24005 "Dependabot can't evaluate your JavaScript dependency files"
Dependabot can't evaluate your JavaScript dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/mui-org/update-logs/59026393).

[2020-12-13 17:27] ryancogswell commented on #24001
@eps1lon I've added a sandbox and removed the one invalid prop (`disableFocusRipple`) from the initial issue text. The gist of the problem is that Typescript complains when specifying ButtonBase props within the MuiListItem portion of the theme props.

Here's the related StackOverflow question (presumably from the same person): https://stackoverflow.com/questions/65274453/overwrite-material-ui-pro

[2020-12-13 17:31] eps1lon commented on #24005
@dependabot I don't know what to do about this issue. Where is this error originating and how can I reproduce it?

[2020-12-13 17:33] oliviertassinari commented on #24005
Fixed, my bad

[2020-12-13 17:33] #24005 closed

[2020-12-13 17:41] eps1lon commented on #24001
TypeScript rejecting it in this particular instance is intended. If you look at a realistic repro, you'll see React issuing warnings because `disableRipple` ends up in the html: https://codesandbox.io/s/using-buttonbase-props-in-muilistitem-default-props-forked-6jdnx

There are already problems with props exclusive to the default `component` but that's were we decided to make the cut. We could con

[2020-12-13 17:41] #24001 closed

[2020-12-13 18:09] ryancogswell commented on #24001
@eps1lon I can understand not supporting arbitrary components, but `ButtonBase` props are part of the `ListItem` API when the `button` prop is used; however, I can't think of any simple solution since what is really needed in this case are conditional defaults (i.e. defaults that only apply when another prop has a particular value).

[2020-12-13 18:15] eps1lon commented on #24001
So are any other props for a specific `component`. It sounds like a niche case and considering the first time I see it, TypeScript actually prevented a mistake, it's probably safer to let people trip over it first.

[2020-12-13 19:25] ZovcIfzm commented on #23708
Thank you! Looking at the issue more in-depth I realize it might be out of my scope. I don't quite understand how to change the onChange returned value for example or what you mean by change how value <-> option comparison is done. I'll go and try to tackle a different issue.

[2020-12-13 20:39] oliviertassinari commented on #12827
Linking https://github.com/mui-org/material-ui/pull/23926#issuecomment-743917089 as we chat about how we can simplify the color palette.

[2020-12-13 21:24] oliviertassinari commented on #23827
@eps1lon I think that we all agree on this. The current approach is provable wrong too. I think that we need to evaluate what's the least worse option.

:+1: for reporting.

So far, we have assumed that the auditor that didn't realize the focus would move to the container, with no outline. If it was truly an issue with focusing the sentinel, I would have expected the auditor to reject the patch we

[2020-12-13 22:18] romanown opened #24007 "after removing this plugin do not work the material-ui menu"
after updated reactjs to 15.5.4 to 16.14.1 and the @material-ui/core to last. but i have error and removed react-tap-event-plugin from my project. after it do not work the material-ui menu. it is  desktop version website and i pressed by mouse. help me please.

[2020-12-13 22:28] #24007 closed

[2020-12-13 23:39] ndrean opened #24008 "React Hook "useBabelRc" cannot be called at the top level"
Following "Minimize bundle size" guide with my CRA (option 2 with `babel-plugin-import`), I get a red warning in VSCode on `override(useBabelRc())`within the file `config-overrides.js`, but no compilation error.

"React Hook "useBabelRc" cannot be called at the top level. React Hooks must be called in a React function component or a custom React Hook function".

However, I can access any of the co

[2020-12-14 01:16] pranshuchittora commented on #16663
Hey, @oliviertassinari glad to see this happening.
The container component is an intuitive way for this feature. What about a custom hook as well, combining both could come with some great potential and enormous possibilities :v:

[2020-12-14 01:24] onegrit commented on #23901
@mnajdova 's temporary solution works.

[2020-12-14 01:29] mbrookes commented on #16663
With only one upvote in 18 months (@oliviertassinari's can be ignored - he upvotes everything), this can be closed.

[2020-12-14 01:29] #16663 closed

[2020-12-14 01:33] ZovcIfzm commented on #23496
Can I take this one up?

[2020-12-14 04:12] nagvbt commented on #13174
Any update on this issue ?
 - This is making us whether to go with Material-UI components or NOT since one of our major requirement is to Support the 'Windows High Contrast Mode'.

Please let me when this issue will be addressed.
Also if you have any work around to support 'Windows High Contrast Mode' for iE & Edge browsers please let us know.

Thanks,
Nag

[2020-12-14 06:00] xs9627 commented on #22426
* Product: FeedPop - Simple RSS feed reader
* Rss reader extension for Chrome
* Company or organization: None
* Link: https://chrome.google.com/webstore/detail/feedpop-simple-rss-feed-r/nleicnolldoamnpiekcpifpimpolkelo
* GitHub link: https://github.com/xs9627/feedpop
* Screenshots:
![Demo](https://i.imgur.com/FyizZRy.gif)

[2020-12-14 06:54] tpeek commented on #23921
Sure, here's a codesandbox with v5: https://codesandbox.io/s/responsivedatepickers-material-demo-forked-3qb91

[2020-12-14 07:09] frozar opened #24011 "[Tabs] Misplacement of the tab indicator if the parent AppBar width change"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

This issue may be related to the issue #8379.

## Current Behavior 😯

I use the example of AppBar providing [here](https://material-ui.com/components/drawers/#demo-nxyoou6eqt), I added tabs in the middle of

[2020-12-14 07:52] Artyom-Ganev commented on #17353
The issue is still actual for me

[2020-12-14 07:56] Artyom-Ganev commented on #17353
In this case you won't have any scrolls at all

[2020-12-14 08:11] Artyom-Ganev commented on #10000
How did you fixed content jump on menu open?

[2020-12-14 08:15] maerzhase commented on #23960
Since #16663 got closed, I guess we don't tackle this one?

[2020-12-14 08:19] Artyom-Ganev commented on #10000
It's a bad solution, because it disables scroll lock when dropdown menu is open. If you click on selector and scroll, the dropdown menu won't hide.

[2020-12-14 08:33] TomPradat commented on #17353
Well you can let the body overflow but I agree this is not ideal

[2020-12-14 08:34] Artyom-Ganev commented on #17353
@oliviertassinari do you have any advice how to fix that?
If I use `MenuProps={{ disableScrollLock: true }}`, the menu will have improper position after scroll
![image](https://user-images.githubusercontent.com/13161268/102058155-26fd7900-3e00-11eb-8c38-a5dc9de127d4.png)
https://codesandbox.io/s/suspicious-wozniak-847u9?file=/src/App.js:594-633

[2020-12-14 09:22] oliviertassinari commented on #13174
@nagvbt Did you test Windows High Contrast Mode with v5? Does it work? If it's not working what's failing? If it's failing, did you look into how we could solve it?

[2020-12-14 09:26] oliviertassinari commented on #23960
@maerzhase These are different issues and almost independent. We could built the useIntersectionObserver hook and keep it private.

[2020-12-14 10:04] romanown opened #24012 "Can't resolve 'debounce' move to @material-ui/core"
i updated @material-ui/core from material-ui. i changed imports as '@material-ui/core' but i have error while compile.
Module not found: Error: Can't resolve 'debounce' in '/var/www/dev.admin/node_modules/@material-ui/core/InputBase'
Module not found: Error: Can't resolve 'debounce' in '/var/www/dev.admin/node_modules/@material-ui/core/GridListTile'.
i not found module debounce as parts of materia

[2020-12-14 10:09] oliviertassinari commented on #24012
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-12-14 10:13] oliviertassinari commented on #24011
Yes, same issue. You can work around it by:

1. Submitting a PR to start using the resize observer in the Tabs component.
2. Refactor the usage of the tabs to be self-contained (to not expand to the full width of the header).
3. Use a ref to trigger a layout synchronization after the end of the transition.

[2020-12-14 10:13] oliviertassinari commented on #24011
Duplicate of #8379

[2020-12-14 10:13] #24011 closed

[2020-12-14 10:18] #23955 closed

[2020-12-14 10:24] yordis opened #24013 "Unable to find required version for "react" in description file"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![Screen Shot 2020-12-14 at 5 19 19 AM](https://user-images.githubusercontent.com/4237280/102069654-e7f50680-3db2-11eb-8e14-87b8db1d2984.png)

## Expected Behavior 🤔

Should have any

[2020-12-14 10:29] romanown commented on #24012
when  i changed only
 import Button from 'material-ui/Button'; to import Button from '@material-ui/core/Button';
its works.
when
 import Menu from 'material-ui/Menu'; to import Menu from '@material-ui/core/Menu';
it failded by Can't resolve 'debounce' . project worked by material-ui@1.0.0-beta.46
error omly after changing to @material-ui/core.

[2020-12-14 10:36] oliviertassinari commented on #24012
@romanown Maybe try

[code]

but I doubt we can help much. I'm closing as it's on a legacy version (v1).

[2020-12-14 10:36] #24012 closed

[2020-12-14 10:42] frozar commented on #24011
Thank you for the quick answer @oliviertassinari

[2020-12-14 10:50] alizadehei opened #24014 "Clicking on the empty spaces of the AutoComplete will not open the popup menu."
Clicking on the empty spaces of the AutoComplete will not open the popup menu.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
If no option is selected, clicking on the region of the clear button (which is invisible) doesn't open t

[2020-12-14 10:54] romanown commented on #24012
i can not move to last version.

[2020-12-14 10:54] mnajdova commented on #24014
This was fixed in v5, I am not able to reproduce it here : https://next.material-ui.com/components/autocomplete/ Can you verify this?

[2020-12-14 11:01] sashless commented on #16105
Still there on Safari 14

[2020-12-14 11:03] oliviertassinari commented on #24014
Duplicate of #22166?

[2020-12-14 11:11] oliviertassinari commented on #24013
Do you have a full reproduction?

[2020-12-14 11:12] yordis commented on #24013
@oliviertassinari let me open up the repo, I am messing around with things

[2020-12-14 11:23] alizadehei commented on #24014
Thanks

[2020-12-14 11:23] #24014 closed

[2020-12-14 16:31] Bruce773 commented on #22426
Company: Lyric Keeper
An app to help musicians easily keep track of their lyrics and chords
Link: https://www.lyrickeeper.com
Screenshot:
<img width="1920" alt="Screen Shot 2020-12-14 at 11 28 46 AM" src="https://user-images.githubusercontent.com/29665383/102107399-b5bdc600-3dff-11eb-995c-6bab8a77a5f6.png">

[2020-12-14 17:44] ratnajeetshyamkunwar opened #24015 "Native Date/Time pickers are not opening on Safari"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On safari browser, Textfield with type `date`, `datetime-local` or `time` doesn't have calendar icon which **onClick** enables the **Datepicker** dialog. So, there is no way to open t

[2020-12-14 18:42] frozar commented on #24011
When I read the previous issues, I realise that there is a lot written on this topic and that is still a hot topic.

As this issue is popular, it would be really helpful to have a basic example of the `updateIndicator()` method. It would save a lot of time to many people and also provide a concrete example of the current recommended work around on this issue.

@oliviertassinari Can you fix the bas

[2020-12-14 19:46] #23496 closed

[2020-12-14 21:17] anmolmalik97 commented on #13179
if autocomplete is inside a container that contains a zoom property. popper position is always incorrect.

`<div style={{zoom: 0.85}}>
		  <Autocomplete/>
	  </div>`

[2020-12-14 21:29] oliviertassinari commented on #24015
Duplicate of #9081

[2020-12-14 21:29] #24015 closed

[2020-12-14 21:37] oliviertassinari commented on #24011
@frozar In your case, I would apply the action ref and do:

[code]

https://codesandbox.io/s/practical-payne-s2pkw?file=/src/index.js:2725-2998

[2020-12-14 21:39] oliviertassinari commented on #13179
@anmolmalik97 You can replace the `PopperComponent` with a simple div.

[2020-12-14 21:55] anmolmalik97 commented on #13179
@oliviertassinari thank you for such a quick response. I tried using it. But using div as a popperComponent pushes the other components away when it opens up.

[2020-12-15 06:27] HVish opened #24019 "[Select] Prop aria-describedby is passed down to hidden input element"
I am trying to use `Select` component with accessibility support. It works pretty well except for the usage with `FormHelperText `. When the select toggle button is focused the screen reader does not read the contents of `FormHelperText`. I have also tried using the `TextField` component with `select` prop for better support as mentioned in [docs](https://material-ui.com/components/selects/#access

[2020-12-15 10:46] mnajdova commented on #24008
@ndrean can you please create a small repro with just the changes related to the problem you are facing? It's a bit hard to follow how to reproduce at this moment. A simple create react app, with just your config and a page that imports some MUI component should be enough.

[2020-12-15 10:59] #17100 closed

[2020-12-15 12:28] ndrean commented on #24008
I  joined the github repo so you can open it in codesandbox by adding "box":

- from https://github.com/ndrean/navbar do:
-  https://githubbox.com/ndrean/navbar

and you will see the problem in the "config-overrides.js". It is not a VScode pb (Atom displays the same error).

[2020-12-15 15:22] mnajdova commented on #24008
I'd say you should just suppress that eslint error in the `config-overrides-.js` file. Based on the documentation this is the correct usage, to it should be safe.

https://codesandbox.io/s/material-ui-issue-forked-q5g1n?file=/config-overrides.js:0-48

[2020-12-15 15:41] ndrean commented on #24008
Yes, as mentioned, with or without the flag "eslint-disable react-hooks", it seems to works as I can use the one-liner multiple import argument. Most probably not related to MUI I believe.

[2020-12-15 15:53] mnajdova commented on #24008
Yeah, I would say is not related to MUI anyhow. Feel free to close the issue if there isn't anything else :)

[2020-12-15 16:16] #24008 closed

[2020-12-15 16:39] maitedev opened #24023 "Material UI autocomplete. How change the looks of disable option?"
I am using the AutoComplete component proposed by the Material UI library. I am using the disabled property to manage read and write changes. I don't like how the component looks visually when disabled = true. I would like to achieve the same effect that I had with the Select component, also from Material UI, in which I used the following code to make it look different visually even when disabled.

[2020-12-15 17:40] protzman commented on #19427
@oliviertassinari So the theme augmentation is only on `5.0` for now? Would you recommend @levrik's approach for `4.X`?

[2020-12-15 17:49] cngeru opened #24024 "Cannot customize the scroll bars in material-ui v5"
Cannot create custom scroll bars as seen on this [link](https://codesandbox.io/s/material-ui-issue-forked-c7r3k)

[code]

[2020-12-15 17:58] mnajdova commented on #24024
@cngeru here is a working codensadbox - https://codesandbox.io/s/material-ui-issue-forked-1mnoe?file=/src/Demo.js Note that the first key in the theme is `components`. Also you didn't use the `<MuiCssBaseline />` anywhere in the `App`.

It is working as expected.

[2020-12-15 17:58] #24024 closed

[2020-12-15 18:27] oliviertassinari commented on #19427
@protzman You are right, it only works with v5. You could probably copy and paste the augmentation approach of into your own codebase.

[2020-12-15 18:32] darshanksexathought opened #24025 "Need a cdn for css ,like bootstrap"
We need a feature like bootstrap for getting all the css class

[2020-12-15 18:40] oliviertassinari commented on #20861
Duplicate of #16543

[2020-12-15 18:41] oliviertassinari commented on #24025
Duplicate of #16543.

[2020-12-15 18:41] #24025 closed

[2020-12-15 18:43] oliviertassinari commented on #24023
The Autocomplete and Select both use the InputBase component the approach should work identically.

[2020-12-15 18:43] #24023 closed

[2020-12-15 18:57] maitedev commented on #24023
Thank you very much Oliver for your prompt reply. I thought the same, but I have tried in several ways and I do not achieve the same result. I may not be putting it in the right place.

`      <Autocomplete
        id={id}
        renderInput={(params) => (
          <TextField
            {...params}
            label={label}
            placeholder={placeholder || "Select ..."}
            Input

[2020-12-15 19:09] geoffhuntoon commented on #15450
Apologies for commenting on a dead thread, but this is the only place I've really found a reference to this issue. Is there going to be further discussion about the modal itself being focused when tabbing? I'm working on a site, and this issue was raised during 508 testing. If it's impossible to "skip" the modal itself when tabbing, is there some way to visually indicate that the modal itself is i

[2020-12-15 19:32] oliviertassinari commented on #15450
@geoffhuntoon see #19651 and #23827.

[2020-12-15 19:53] cngeru commented on #24024
Doesn't work on Chrome Mac

[2020-12-15 20:04] oliviertassinari commented on #24024
It works on Chrome 87, macOS 10.15.7

<img width="688" alt="Capture d’écran 2020-12-15 à 21 04 16" src="https://user-images.githubusercontent.com/3165635/102266711-1c82d280-3f19-11eb-9795-a4184d9eb914.png">

[2020-12-15 20:50] Ksound22 commented on #16884
I get this error every time i use material ui icons. And i can't find an answer on stackoverflow. Its really hurting my progress.

[2020-12-15 21:16] UrielMaD commented on #23899
Is there anyone working on it? if not, can I take it?

[2020-12-15 21:48] Andreychikov-Vasiliy commented on #22342
Hi, I'm diving in new styling solution. Problem happen:
Have:
[code]
And there:
[code]

looks like **height** not applied because _& > div_ is more specific. How to fix that with new styling solution?

[2020-12-15 22:06] #23804 closed

[2020-12-15 22:20] yordis commented on #22342
I am kind of fine with `sx` for other components; still no total convenience about the `sx` thingy, but I digress.

When it comes to `Box,` I much rather keep it as it was before. The only reason I would use the Box component is to have such values.

Also, my code when from primarily JSX  to Objects everywhere.

Also, many people were doing the following thing:

[code]

Now,  we have to be dealing

[2020-12-15 22:20] flieks opened #24026 "Slider - Custom Thumb - disable default thumb click event"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

![image](https://user-images.githubusercontent.com/5032389/102278517-41337600-3f2a-11eb-8804-16fd354ce442.png)

When clicking the edit icon, i want to show an edit dialog with an input box.
The problem is when you click the Icon it is not fir

[2020-12-15 23:42] OsirisRoman commented on #21050
@oliviertassinari I think it is a recursion problem. As you can see in the codesandbox example, the component name is SimpleModal. This component render a button which launches a modal when clicked. But it could be keep calling a new modal again if your keep pressing again in the inner "modal" button. In order to avoid this recursive behaviour you just need to remove the <SimpleModal /> line to av

[2020-12-15 23:51] oliviertassinari commented on #21050
See #23903

[2020-12-16 00:09] mbrookes commented on #22342
We do provide a [code-mod for this](https://github.com/mui-org/material-ui/tree/HEAD/packages/material-ui-codemod#box-sx-prop), so no great harship to migrate, but I'm inclined to agree that Box could perhaps be the exception to the rule as far as supporting individual system props goes, while also supporting the `sx` prop for those that prefer the consistency.

[2020-12-16 01:01] vdjurdjevic commented on #22342
@yordis Totally agree.. I don't like sx approach either.. What I do right now is using emotion with the MUI system to create my own system components with a minimal amount of props. I have my own Box, Flex, Grid, etc. I also wrap other MUI components (like Button) with emotion styled, customize what I need to customize and attach system props that I need (for button only position and margin props

[2020-12-16 06:51] cngeru commented on #24024
Okay... must be an issue on big sur
Thank You

[2020-12-16 07:35] VCuzmin commented on #18450
Hello! How can I do that after all? So, the Autocomplete component supports pagination on async requests? Thank you!

[2020-12-16 08:59] oliviertassinari commented on #18450
@VCuzmin It's not supported natively, we are waiting for somebody to come up with the compeling use case for doing it. See the previous messages. We have shared a workaround.

[2020-12-16 09:01] VCuzmin commented on #18450
What workaround??

[2020-12-16 09:03] oliviertassinari commented on #18450
https://github.com/mui-org/material-ui/issues/18450#issuecomment-555675743

[2020-12-16 09:06] VCuzmin commented on #18450
Thank you!

[2020-12-16 09:40] mnajdova commented on #22342
This is a very valid use-case and I'd even say one that I would recommend. Whitelisting props on your own custom components is valid use-case, I don't understand though why would the `sx` vs direct props on the MUI component be a big difference to you. If you are anyway whitelisting the props you want to support you can do it in your custom components and send the system props to the `sx` prop dir

[2020-12-16 09:52] yordis commented on #22342
I agree with you, and I totally get it. I would suggest that if you will no support it, I would deeply appreciate it if you write documentation giving the answer to people on how to achieve such behavior.

---

Such a position has been harmful in the past, two sides to the topic:

1. from the perspective of Mui maintainers, `sx` is a big win, I totally get it.
2. but don't forget that many of us a

[2020-12-16 10:12] oliviertassinari commented on #22342
@yordis I have one hypothesis for why this need hasn't surfaced a lot so far. Developers would be using the Box props for the simplest use cases, where supporting a subset of CSS is enough. Then, anytime they would face more complex customizations, you would have moved to `styled` API simply to improve visibility on the DOM structure.

We did this survey to gauge the perception from the community:

[2020-12-16 10:24] vdjurdjevic commented on #22342
I don't like it for the same reason I don't like emotions css prop.. It gets messy quickly, and writing complex css in place makes code less readable. When it comes to system props, most of the time I need to position elements, build flex or grid layouts, change font-weight, or something like that. That's why I like the current approach, just create a styled component, attach system props it needs

[2020-12-16 11:07] oliviertassinari commented on #22342
@vdjurdjevic Thanks for providing one confirmation on my hypothesis just before.

Regarding `sx`, I personally don't think that it's overkill. If it was only up to me and with more hindsight, I would personally do:

- Box, Grid, Stack, Typography, support flatten subset of CSS props. Use flatten props anytime I need a trivial change, e.g. `mb`. Use sx anytime I need something that is a bit more co

[2020-12-16 11:30] vdjurdjevic commented on #22342
Well, I am not sure how most developers function, just saying what my use case and preferences are. Not saying that sx approach is bad, it's just I don't like it. My philosophy for building a real product is to have a design system with all components and variants defined, so one-off changes are minimized. That's why I like MaterialUI. It gives me all components I need in a functional sense, 50% o

[2020-12-16 11:48] flieks commented on #24026
Ok maybe buttons aren't the best UX as for the range, the 2 thumbs can overlap. So i will probably put a button on the left and right of the slider.

Another issue is the `aria-` data attributes. If i add new (non official) ones, they are not propagated to the custom Thumb props. The official ones are..

[2020-12-16 12:19] oliviertassinari commented on #24026
@flieks We don't plan to support this use case. Don't try to add a button inside a slider, it's inaccessible.

Do you have a reproduction?

[2020-12-16 12:19] #24026 closed

[2020-12-16 12:48] oliviertassinari commented on #24019
@HVish Thanks for reporting the issue. I could reproduce on VoiceOver with this demo https://next.material-ui.com/components/text-fields/#select. It works with the native select but fails with the nonnative implementation. What do you think about this fix? Do you want to work on a pull request? :)

[code]

At first, I got confused with the difference with `aria-labelledby`. This [blog post](https:

[2020-12-16 12:57] oliviertassinari commented on #22342
@vdjurdjevic Have you ever considering using this API? https://github.com/mui-org/material-ui/pull/23631

<img src="https://user-images.githubusercontent.com/4512430/99802047-45d95a00-2b37-11eb-9da8-4d79d65c28f5.png" width="600" />

[2020-12-16 13:28] yordis commented on #22342
Worth saying that requires plugins therefore TypeScript compiler is out of the equation with that solution. Unless I misunderstood something.

[2020-12-16 13:56] HVish commented on #24019
@oliviertassinari Of course! Actually I was about to send the pull request :D

I have one more question. Like other form components could we have `aria-invalid` attribute for `Select` component? Obviously I tried implementing it before sending the pull request but one test failed with message:

So I was wondering if we could do some work around with non-native select component?

[2020-12-16 14:19] oliviertassinari commented on #24019
I'm not familiar with this prop, maybe @eps1lon has more context on it?

[2020-12-16 14:19] vdjurdjevic commented on #22342
First time I see this proposal.. It looks nice and compact, definitely faster to type (looks like Tailwind approach). My only concern is lack of typescript, type checking, IntelliSense, etc.. Don't get me wrong, I don't mind sx way, it's ok to have it as an option, I like to create my own system components and to wrap material components anyway. So the migration to v5 for me won't be a problem, it

[2020-12-16 15:55] dany952 opened #24028 "server-side pagination"
You can implement a server-side pagination with the options of rows per page and next and previous and how can I do it? Thanks?

![image](https://user-images.githubusercontent.com/70162354/102372366-bfbd0180-3f84-11eb-9719-ac54da6b14a0.png)

[2020-12-16 16:01] #24028 closed

[2020-12-16 17:37] HHK1 opened #24029 "Incompatible type between TabsProps and Tabs"
When trying to define a wrapper for the Tabs component, I get a compatibility error between the exported `TabsProps` and `Tabs` Type from the library.

- [x] The issue is present in the latest release (4.11.2)
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm trying to redefine

[2020-12-16 18:16] oliviertassinari commented on #24029
@HHK1 Do you have a live reproduction we can look into? I believe we did some iteration on the problem, it should work better in v5.

[2020-12-16 18:17] poday98 opened #24030 "No sirve... Da error al deseleccionar"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2020-12-16 18:42] HHK1 commented on #24029
Thanks for the sandbox, I tried the one linked in the issue template but without success. (It was a link to [the typescript sandbox](https://material-ui.com/r/ts-issue-template), maybe the bug issue template could be updated ?)

So, it's indeed fixed on 5.0.0: https://codesandbox.io/s/material-ui-issue-forked-h86qz
And here is the issue on 4.11.2: https://codesandbox.io/s/material-ui-issue-forked-

[2020-12-16 18:42] #24029 closed

[2020-12-16 18:53] oliviertassinari commented on #24029
@HHK1 Great, thanks for the confirmation

[2020-12-16 18:58] GhassenRjab commented on #19145
@m4theushw, your observation about backdrop div is correct.

In my case I show a list of items. If I open the context menu on one item and try to open it on another item (with the context menu still open on the first item), I will be right clicking the backdrop div and not my item.

With this being said, the example edited with [#22463](https://github.com/mui-org/material-ui/pull/22463) does not f

[2020-12-16 19:56] yareyaredesuyo commented on #22342
Looks like deviate from the plan？

How about calm down and rethinking about real world's needs?

Like sending out questionnaires which styled system is really prefferd for Material-UI users, organizing pupular design libraries props and cons.

For me, styled-system props + sx option looks nice.

[2020-12-17 00:17] areisle commented on #15610
I'm having this issue when using mui components with aggrid. I'm not sure if it's mui or aggrid causing the issue, but I've made a min repo showing the issue https://github.com/areisle/aggrid-mui-styles-issue and deployed it here https://aggrid-mui-issue.herokuapp.com/

[2020-12-17 02:41] jfeigel opened #24031 "[SwipeableDrawer] Flexbox horizontal scroll not working on iOS Safari"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Related Items

https://github.com/mui-org/material-ui/issues/16942
https://github.com/mui-org/material-ui/pull/17993
https://github.com/mui-org/material-ui/issues/22100

## Current Behavior 😯

I have a F

[2020-12-17 04:24] natezhengbne opened #24032 "TexField lose focus on click in the Drawer attached under shadow-DOM"
Whenever I click on a TextField to start editing it, thus the focus will be lost immediately.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![chrome-capture](https://user-images.githubusercontent.com/34373238/102443533-b4480400-

[2020-12-17 07:59] mtr1990 opened #24033 "[Slider] Can not use prop classes"
I'm using Slider component and apply
classes={{
  markLabel: classes.markLabel,
  markLabelActive: classes.markLabelActive
}}

but it's not working. Here is demo:
https://codesandbox.io/s/discretesliderlabel-material-demo-forked-u3g57?file=/demo.js

[2020-12-17 09:51] mnajdova commented on #24033
Thanks for reporting @mtr1990 I could find two problems here.

The first one is a bug in the `SliderUnstyled` component, where we are not sending the input classes when generating the class names for each part of the slider. This diff will solve that issue:

[code]

The second issue I could found was around specificity. Basically, for the markLabelActive to be applied we need to increase the speci

[2020-12-17 09:52] oliviertassinari commented on #24033
@mtr1990 Thanks for reporting this issue. I believe there are 3 different problems:

1. @mnajdova has been working on the CSS injection conflict between emotion and JSS during the time of the migration in #23934.
2. The `classes` is no longer applied, at all. This diff seems to fix it, with regression tests:

[code]

3. In v4, the specificity used for `.MuiSlider-markLabelActive` is 1, we didn't d

[2020-12-17 11:22] oliviertassinari commented on #24031
@jfeigel Thanks for opening this issue. I could spot two issues in the current logic. First, we wrongly assume that if a node is overflow hidden, it can't be a scroll container, you have provided that it's false. Second, we only consider the x-axis to prevent default. Both should be fixed in the below diff:

[code]

What do you think about it? Do you want to submit a pull request?

Regarding the t

[2020-12-17 11:36] oliviertassinari commented on #24032
We have fixed this issue along the way in v5. I believe we fixed it when we changed the logic of the TrapFocus to only restore the focus when escaping and landing on the body. Proof: https://codesandbox.io/s/material-demo-forked-6ln7y?file=/TemporaryDrawerLoseFocus.tsx.

[2020-12-17 11:36] #24032 closed

[2020-12-17 13:09] oliviertassinari commented on #19145
@GhassenRjab Are you saying there is an issue on https://next.material-ui.com/components/menus/#context-menu?

[2020-12-17 14:11] jfeigel commented on #24031
@oliviertassinari Thanks for the quick response. Yes, I will take a look at this and try to get a PR submitted.

[2020-12-17 15:55] lorstenoplo commented on #15407
and what should i be using for `textfield`

[2020-12-17 16:08] oliviertassinari commented on #15407
@lorstenoplo `<TextField>` supports both a textarea and a `<TextareaAutosize>`.

[2020-12-17 17:10] soniaboller opened #24036 "[Divider] cannot use divider with text in react"
As per the material-ui [docs](https://next.material-ui.com/components/dividers/#dividers-with-text) I'm trying to create a divider with text in my react app, but am getting this error: `react-dom.development.js:2692 Uncaught Error: hr is a void element tag and must neither have children nor use dangerouslySetInnerHTML.`

- [x] The issue is present in the latest release.
- [x] I have searched the [

[2020-12-17 19:09] #24019 closed

[2020-12-17 19:17] oliviertassinari commented on #24036
@soniaboller This feature is available since v5.0.0-alpha.8. You are using v4.11.2. You need to upgrade.

[2020-12-17 19:17] #24036 closed

[2020-12-17 19:31] glowkeeper opened #24037 "Tiny Tooltips"
I must've done 'something', because whereas my Tooltips were working, suddenly they've turned into tiny indecipherable text :( Below used to display 'Contact' in a font about half the size of the button, now you need a degree in Quantum Mechanics to read the tip...

<img width="122" alt="Screenshot 2020-12-17 at 19 20 34" src="https://user-images.githubusercontent.com/9264929/102533661-9fcd3100-40

[2020-12-17 20:15] oliviertassinari commented on #24037
Looking at your screenshot, the `title` prop is most likely missing.

Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!