[2019-10-09 08:05] #17215 closed

[2019-10-09 08:05] #16631 closed

[2019-10-09 08:33] oliviertassinari commented on #17789
The issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-10-09 09:21] oliviertassinari commented on #17796
@eps1lon's solution looks good.

On a different note, it seems that the Popover component breaks a rule we have with the style convention. It misses the `root` style rule. I would propose that we add it:

[code]

[2019-10-09 09:25] eps1lon commented on #17796
@oliviertassinari I would prefer that. Doesn't require overriding default `style` prop.

[2019-10-09 09:33] oliviertassinari commented on #17796
Right, so people can then do:
[code]

or with the theme

[code]

[2019-10-09 09:34] oliviertassinari commented on #17796
@ljones87 Would you like to work on such a feature? :)

[2019-10-09 09:55] oliviertassinari commented on #17799
We had the same issue in #17720. Could you expand on your use case? Thanks.

[2019-10-09 10:01] oliviertassinari commented on #17720
It seems we had a regression between v3 and v4: https://codesandbox.io/s/material-demo-4qlpy. To dive into it.

[2019-10-09 10:15] janispritzkau commented on #17799
My use case is a select field where the user can select multiple categories which they want to filter. And there should be a clear or reset button to unselect them all with one click.

[2019-10-09 10:40] alimjanqadir commented on #17581
@eps1lon All other components work fine only Grid has this problem.

[2019-10-09 10:41] alimjanqadir commented on #17581
@eps1lon Btw, there no information about android system webview support.

[2019-10-09 10:42] kjeske commented on #15898
Before installing hoist-non-react-statics try to remove node_modules and install them again.

[2019-10-09 10:43] kjeske commented on #16202
Removing node_modules and installing them again worked.

[2019-10-09 11:16] vivekkrishnavk opened #17801 "TypeError: classes is undefined from Button Component"
### TypeError: classes is undefined

Sorry if this is minor issue but I have been stuck with this problem for a while now, with the material UI button component. I am using a modified button component with a close icon for my react project and I am getting the above error message. I have attached the component in question and the screenshot of the error message with this bug. Please feel free to c

[2019-10-09 11:32] sasanrasouli opened #17803 "[Docs / API] typo in ButtonGroup API"
there are two typo in ButtonGroup API. CSS section, ButtonText groupedTextPrimary, groupedTextSecondary description must be variant="text".

[2019-10-09 11:35] burtyish commented on #16483
In my PR, I've included the CSS required as suggested by @oliviertassinari and also added a caveat that CssBaseline is required for the first approach described.

This is my first PR for mui, hope it works out well.

[2019-10-09 11:41] slikts commented on #11601
The current behavior means that tooltips either break button group rendering or don't work with disabled buttons in button groups.

[2019-10-09 11:44] oliviertassinari commented on #17803
@sasanrasouli Thank you for the report. Do you want to take care of the problem?
[code]

[2019-10-09 11:47] alexandrecanuto commented on #17713
@juniordesenv Cara, descobriu o que era? Estou com o mesmo problema... meu CSS está OK em localhost, mas ao jogar em produção parece que as classes se invertem em prioridade e são substituídas.

[2019-10-09 11:50] sasanrasouli commented on #17803
@oliviertassinari yes. your welcome.

[2019-10-09 11:51] alexandrecanuto commented on #16609
I have this exact same problem.

[2019-10-09 11:54] juniordesenv commented on #17713
Cara, nesse dia ai eu tive uma sequencia de erro muito grande... Era uma refatoração da versão 3 pra 4, basicamente no meio dos problemas acabei voltando a versão pra 3.x e acabou ocorrendo isso... Mas ai na 4.x teve outros problemas (alguns pontos ficavam diferente em dev/prod) então acabei tendo que refazer boa parte dos meus componentes. Uma coisa que eu fiz também, foi remover tudo onde tinha

[2019-10-09 12:02] slikts commented on #17383
I've ran into this in the context of #11601.

[2019-10-09 12:25] pheeria commented on #17701
So, the new menu items look differently depending on screen size (bigger on smaller screens), as expected/described.
But why selects and checkboxes look differently on the same screen size? Is this done on purpose?

* Single choice

![image](https://user-images.githubusercontent.com/15848876/66480956-1638d100-eaa0-11e9-9e43-0708a0c83bfa.png)

* Multiple choice

![image](https://user-images.githubu

[2019-10-09 13:09] alexandrecanuto commented on #17713
Humm... a gente ainda tá usando **withStyles**, estamos por fora dessa mudança pra **makeStyles**, vou ver sobre isso. Obrigado!

[2019-10-09 13:15] juniordesenv commented on #17713
Eu acho que pode dar problema usar os dois juntos, mas se ta usando só o whiteStyles, acredito não ter problema e tem as versões do material, que precisa estar tudo na mesma... styles, core e icons por exemplo! De nada

[2019-10-09 13:34] RodolfoDTI opened #17806 "Performance issue on multiple select"
I am with some problens using a dropdown select, with multiple select options.

I have a list with 312 itens, but its very slow to open, select or close the list.

I made a quick update on Material's sample, adding some itens, and we can see the problem here;

https://codesandbox.io/s/sweet-star-2kqeu?fontsize=14

I've tried sometinhg with react-window, but, doesn't works, because it hasen't event

[2019-10-09 14:04] mbrookes commented on #17803
We have three variations in use where more than one prop applies, in order of frequency:

[code]

[code]

[code]

I don't have a strong preference, but it would be good to be consistent.

[2019-10-09 14:10] oliviertassinari commented on #17803
The usage of `and` sounds good to me.

[2019-10-09 14:12] tonymaibox opened #17808 "rulename bug with $label?"
I think there's a bug with the label CSS class in the Button component?

When I reference it in the disabled class, I have to use it with a space after the selector:
[code]
Doing it this way without the space does not work (it's not compiled):
[code]

Or am I doing something wrong? Thanks for any help you can provide!

[2019-10-09 15:02] slikts commented on #17383
The workaround of forwarding the props when nesting buttons doesn't fully work because the `.MuiButtonGroup-grouped:not(:first-child)` and `.MuiButtonGroup-grouped:not(:last-child)` selectors aren't matched.

[2019-10-09 15:21] oliviertassinari commented on #17808
$ is a reference to a style rule in your style sheet. It will warn if the referrence is missing. Alternatively, target the global class name, if it's simpler.

[2019-10-09 15:21] #17808 closed

[2019-10-09 15:23] oliviertassinari commented on #17806
This is a well-known issue. You can't render more than 100 items with the nonnative select. I have faced it working on #17037. I had to remove the list item from the component.

[2019-10-09 15:25] afuller611-animas commented on #17775
@eps1lon

Yes that would be very nice to add in. The problem is the `onKeyDown` prop that you pass to `MenuListProps` doesn't remove the functionality of the `handleKeyDown()` function that is in `MenuList` -- rather, it appends whatever function you pass to `onKeyDown` to `handleKeyDown()`

[2019-10-09 15:26] tonymaibox commented on #17808
@oliviertassinari So, it is a style rule in my style sheet, but I get no warnings for doing it either way. Just that, doing it with `& $ruleName` the spacing works whereas without it doesn't. And the opposite seems to be true for `& $disabled`, so I'm wondering if that's some kind of bug?

Thanks for taking the time to respond.

[2019-10-09 16:13] pranshuchittora opened #17809 "Page Not Found: 404 While requesting old docs"
Page not found
[https://v4-2-1.material-ui.com/customization/theming/#theme-provider](https://v4-2-1.material-ui.com/customization/theming/#theme-provider)
![Screenshot from 2019-10-09 21-40-50](https://user-images.githubusercontent.com/32242596/66499528-a0535a80-eadd-11e9-8879-1d716532a29c.png)

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.co

[2019-10-09 16:17] mbrookes commented on #17809
The path has changed: https://v4-2-1.material-ui.com/customization/themes/#theme-provider

[2019-10-09 16:17] #17809 closed

[2019-10-09 17:35] kpennell opened #17811 "Anyone have experience with React UI Wysiwig builder tool?"
I feel like hand-coding things from scratch (even while using a framework like material-ui or ant) is really not that efficient. I find it super hard to make my prototypes look 100% professional/sleek. It feels like there must be a drag and drop like tool where I can design a bunch of screens, export the components, and then go in and setup functions, state, props, data, context/redux, etc. Am I w

[2019-10-09 17:38] oliviertassinari commented on #17811
@kpennell I would propose to move this question to a different place, either our Spectrum community, for once, this is a perfect question to ask there as it's not a bug/feature request (GitHub) nor a support question (StackOverflow).

[2019-10-09 17:38] #17811 closed

[2019-10-09 17:43] oliviertassinari commented on #17811
Ionci has a design studio: https://ionicframework.com/studio, it's something Material-UI could consider providing as a paid feature, in a distant future. I can't say if we will ever get down this path.

[2019-10-09 17:52] oliviertassinari commented on #17811
A few tools I'm aware of:
- https://www.framer.com/
- https://webflow.com/
- https://ionicframework.com/studio

[2019-10-09 18:52] afridley opened #17812 "Selects in Gatsby allow scrolling"
Using the selects component in on a Gatsby site allows you scroll. The selects box will stay with you as you scroll down the page

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
On a Gatsby site the select box when opened does not

[2019-10-09 19:56] oliviertassinari commented on #17812
The problems come from *layout.css*, it's the first time I see such approach:

[code]

Where does this template come from?

[2019-10-09 20:10] oliviertassinari commented on #17812
Oh boy, it's present with
[code]

[2019-10-09 20:38] jeovazero opened #17813 "[ButtonBase] Bug with draggable HTML attribute"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

A related issue is https://github.com/mui-org/material-ui/issues/16240

## Current Behavior 😯

When drag an element that uses "ButtonBase", the draggable element on dragging in Chrome will get all view that

[2019-10-09 20:44] marcusjwhelan opened #17814 "Auto format to incorrect styles on render"
This error only occurs in Chrome and Opera. Firefox and Edge are fine

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
On load sometimes the username field left-aligns in Grid
If you select the eye on the password it will fix itse

[2019-10-09 20:53] oliviertassinari commented on #17814
See #16912

[2019-10-09 20:53] #17814 closed

[2019-10-09 20:53] marcusjwhelan commented on #17814
Found the issue.
on the `<Grid item xs={10}>`

[code]
there was the css types of

[code]
When I disabled the `flex-basis: 83.33333%` The issue disapeared.

[2019-10-09 20:59] kennethrivera commented on #16862
I have the same issue.

Here's my setup:
/app/  < create-react-app, running on react/react-dom 16.10.2
/admin/ < create-react-app, running on react/react-dom 16.10.2
/sharedcomponents/  < very lean small library with shared components, running on react/react-dom 16.10.2, "@material-ui/core": "3.9.2"

when I updated on the package.json of /sharedcomponents/ to "@material-ui/core": "4.5.0" (but test

[2019-10-09 21:12] marcusjwhelan commented on #16912
[code]
fixed https://codesandbox.io/s/create-react-app-with-typescript-ojqcp (#16912)
and https://codesandbox.io/s/flex-direction-column-bug-8seqs (#17346)
As far as I can tell. Something with the use of flex on Grid in Chrome? Just trying to help.

[2019-10-09 21:24] aleccaputo commented on #14530
@oliviertassinari
Noticed this is closed, but i'm having this issue with 4.4.3 on a <Select/>. Using the solution above to set the background color to white for now, but seems like a hack. I'm not sure i'm understanding the root cause of the issue, because in other projects i've definitely used outlined inputs without the background color solution  and it's worked fine. Does it have anything to do

[2019-10-09 21:27] oliviertassinari commented on #14530
@aleccaputo Do you have a reproduction we can have a look at?

[2019-10-09 21:35] Ecneics36 commented on #10051
I am trying to do this:
https://material-ui.com/components/drawers/#mini-variant-drawer
but by using a collapse component instead of class changes. It would be much easier with our code base. Having a horizontally collapsible container would be perfect.

[2019-10-09 21:42] aleccaputo commented on #14530
[code]

![image](https://user-images.githubusercontent.com/19272595/66522641-e5669500-eabb-11e9-9e62-7584decd5427.png)

theme:
[code]

[2019-10-09 21:44] oliviertassinari commented on #14530
@aleccaputo It's expected, you need to manually measure the label width in this configuration. #17680 might rely 100% on CSS.

[2019-10-09 21:48] aleccaputo commented on #14530
@oliviertassinari interesting, is it because i'm mapping over an array?

[2019-10-09 21:51] oliviertassinari commented on #14530
@aleccaputo No, it's because you need to measure the label width a provide this value to the select component, you can find an example in the demos, only the TextField does it for you.
If the effort in #17680 fail, we should push the documentation solution forward: https://github.com/mui-org/material-ui/issues/17305#issuecomment-527836886.

[2019-10-09 21:51] aleccaputo commented on #14530
@oliviertassinari ahhhh got it, that makes sense. Thank you!

[2019-10-09 22:23] franklixuefei commented on #14971
Bumping up... I hit it as well.

[2019-10-09 22:44] franklixuefei commented on #14971
Probably a silly question -
From the type definition for of ListItem, I see this:
[code]
I wonder why we are explicitly putting `false` here as the type?

[2019-10-10 01:26] slipmat commented on #16995
Adding borderLeftColor, borderRightColor, borderTopColor and borderBottomColor to border.js fixes the issue.

What do you think ?

Happy to raise a PR and update the docs, if that's the best way forward ?

[2019-10-10 01:59] edmundcwm commented on #17803
Hello! I'm new to contributing. Is anyone working on this? If not I can try and fix it!

[2019-10-10 03:42] vivekkrishnavk commented on #17801
I was using next.js and i fixed it bu upgrading next js and all it's associated dependencies to the latest version.

[2019-10-10 03:42] #17801 closed

[2019-10-10 04:04] mcnedward opened #17816 "Allow for Spacing utility classes in more components"
Right now, it seems like the [Spacing utility classes](https://material-ui.com/system/spacing/) are not available in certain components, for example I was trying to use them in my `Button`s.

I'm not sure if this is by design or not, but I would expect to be able to use these class props on any of the components (and actually I would think the same should be true for the [Sizing utility classes](h

[2019-10-10 07:23] eps1lon commented on #14971
* `false | undefined` is the discriminator for when a ListItem does not use Button
* `true` for when it does use a Button

See http://www.typescriptlang.org/docs/handbook/advanced-types.html#discriminated-unions

[2019-10-10 08:27] netcoding87 commented on #16609
We also have the same problem using version 4.3.3. The workaround provided by @alexandrecanuto helped.

It seems like `jss.createStyleSheet` is inserting new styles always at last when all have same index. If then a MUI component is rendered after makeStyles the order gets wrong. For me it looks like an issue with webpack optimization and jss in production mode vs development mode

Question: Why i

[2019-10-10 09:20] Shikesh opened #17818 "Drawer component inside Dialog component"
Hi,

I have a requirement to open `Drawer `inside a `Dialog` . When i try, it always open in whole browser window. Is there any way to override this property ? Below is the screenshot :

![image](https://user-images.githubusercontent.com/56388242/66555942-0f2bc480-eb6d-11e9-9423-052abb065ac9.png)

The `Drawer `in the screenshot should open inside yellow marked box (which is a `Dialog `component).

[2019-10-10 09:49] phacks opened #17820 "Support `inputmode` attribute in `Input` components"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`inputmode` is a HTML5 attribute for `input` tags allows the browser to hint at which type of keyboard (on mobile devices) it should pop up: `text`, `numeric`, `decimal`…

Its advantage on `type="number"` is summed up by the [spec](https://ww

[2019-10-10 10:09] #16483 closed

[2019-10-10 10:11] #17679 closed

[2019-10-10 10:20] #17796 closed

[2019-10-10 10:25] sirajalam049 opened #17823 "Can't give variant to wrapper of TextField component"
I am writing a wrapper component on the top of the TextField component. And the props of my components extending TextFieldProps and I'm passing them to the Mui TextField component. But when I'm giving variant={'outlined'} it is throwing TS error

[code]

- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this rep

[2019-10-10 10:39] eps1lon commented on #17823
Thank you for opening this issue and providing a codesandbox.

This is a bit tricky to get right but can be solved using something like https://github.com/mui-org/material-ui/issues/15697#issuecomment-493419773

This is unfortunately how TypeScript spreads unions.

[2019-10-10 10:39] #17823 closed

[2019-10-10 10:44] oliviertassinari commented on #17820
Does it solve the problem?

[code]

[2019-10-10 10:47] eps1lon commented on #17820
Didn't know about this. Thank you. I'm always happy if my phone switches to numpad for numeric inputs and I never bothered checking if this just looks at `type`.

[2019-10-10 10:56] #17818 closed

[2019-10-10 10:56] oliviertassinari commented on #17818
Tip: look at the Modal's container prop.

[2019-10-10 10:58] oliviertassinari commented on #17816
@mcnedward I'm at 💯💯% with that proposal. We keep track of the progress in #15561.

[2019-10-10 10:58] #17816 closed

[2019-10-10 11:02] eps1lon commented on #17209
Would like to see if we can overload this more.

But even though I'm sounding a bit grumpy: Why not just use a string instead of requiring yet another type overload that's hard to reason about for people and compilers?

[2019-10-10 11:14] eps1lon commented on #17813
To be honest I would see this as a browser issue. It uses dimensions for the image without considering `overflow` of the parents.

This means that we would need to fix this for any component using `overflow`. Considering you can solve this in your app with https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer/setDragImage I don't think we want to fix this in the core.

If somebody has an e

[2019-10-10 11:44] phacks commented on #17820
@oliviertassinari It does work indeed, reproduced it in [this codesandbox](https://codesandbox.io/s/material-demo-0olur) (to be tested on mobile devices).

However I feel like it should reside next to (and documented alongside of) the `type` prop, as they are closely related. What do you think? Would you be open to a Pull Request on the matter?

[2019-10-10 11:46] sdirix opened #17826 "Inputs in grid change position & resize on hover [Chrome]"
# Summary
We are using `Grid` and `Input` to render a structured form. We recently updated to a new material UI version and noticed that our inputs now suddenly jump around on hover.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Detailed Descriptio

[2019-10-10 11:58] oliviertassinari commented on #17820
So far, the tradeoff is to only forward the most common props from the text field to the input. I don't that that we should add such prop, it would create a precedent to include not frequent props and open the door to support x20 more which is an issue with bundle size.

[2019-10-10 11:59] phacks commented on #17820
Makes sense! I’m closing the issue, thanks

[2019-10-10 11:59] #17820 closed

[2019-10-10 12:35] sdirix commented on #17826
Duplicate of https://github.com/mui-org/material-ui/issues/16912

I tested with the latest dev build of Chrome and the issue doesn't occur anymore.

[2019-10-10 12:35] #17826 closed

[2019-10-10 12:59] oliviertassinari commented on #17826
Thank you for the confirmation.

[2019-10-10 13:55] jeovazero commented on #17813
Hey, I found a possible solution in this issue: https://github.com/react-dnd/react-dnd/issues/832.

Adding ['transform: translate3d(0, 0, 0)' to the draggable element](https://github.com/react-dnd/react-dnd/issues/832#issuecomment-442071628).
The explanation [here](https://github.com/react-dnd/react-dnd/issues/832#issuecomment-444080537).

My new [codesandbox](https://codesandbox.io/s/material-dem

[2019-10-10 14:05] FranBran opened #17828 "Align ListItemIcon with ListItemText's primary"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

According to the Material-Design-Specs the ListItemIcon should be aligned with the ListItemText's primary, but it's vertically centered instead.

![grafik](https://user-images.githubu

[2019-10-10 14:32] eps1lon commented on #17813
I would observe this for a bit. Might as well be an issue with chrome devtools and I could not find anything about overflow: hidden and repaint issues. I guess this is fine.

[2019-10-10 14:42] ljones87 commented on #17796
I'd be happy to take a look! Just not sure on my timing. To clarify, I would essentially just be creating a PR for what you have outlined in `b/packages/material-ui/src/Popover/Popover.js`? aka adding the root style object to popover and updating associated ts files?
However, outside of the popover, I would technically like to add custom key/values to the zIndex theme. Is the biggest blocker on th

[2019-10-10 16:08] oliviertassinari commented on #17796
@ljones87 don't worry, it was already taken care of :)

[2019-10-10 16:55] ajorkowski commented on #17799
I'm getting the same issue. See below for an example with a select with an input adornment:

![image](https://user-images.githubusercontent.com/1185777/66589595-96635180-ebda-11e9-85c7-56a15a80c965.png)

I think the problem is that the svg element with the arrow icon is outside of the inner input, so it always goes to the end regardless of whether there is an input adornment or not:

![image](http

[2019-10-10 17:55] cmeeren commented on #17674
Select and NativeSelect support children.

What about Checkbox, Divider, InputBase, Radio, Skeleton, and Switch? They do not have a `children` prop documented, but were not mentioned in your list.

I think it's useful, because having the unsupported prop in the props list makes it possible to provide a useful explanation. For example, on the [BottomNavigationAction](https://material-ui.com/api/bot

[2019-10-10 19:02] adambailey- commented on #16841
I am also experiencing this crash on Windows 10

[2019-10-10 20:55] TimeDropsSB commented on #17209
Because:
1. Arrays do work.  Like I said, in Javascript this is acceptable to do.  So Typescript should be able to type it out as well.
2. Material-UI doc claims that it uses JSS at its core and link to the JSS docs themselves, therefore leading to the belief that every JSS syntax can be used when it is not true - at least, in Typescript.  If there are limitations, the docs themselves should expli

[2019-10-10 21:33] burtyish commented on #14246
@mbrookes, I'd like to take a stab at this one.
The spec lists these variants:

To add the enhancement described in this issue, adding a prop like `variant: 'regular' | 'prominent'` should suffice.

However, for extra pints I might try to match the spec.
Maybe `variant: 'regular' | 'prominent' | 'dense' | 'prominent dense'` would be ok? I'm not in love with `'prominent dense'` though. Two words do

[2019-10-10 21:40] mbrookes commented on #14246
You sure you aren't British? 🍻 😆

For other components we have the `dense` prop. (See\; https://material-ui.com/customization/density/). That would avoid the need for compound variants such as "prominent dense".

[2019-10-10 21:42] burtyish commented on #14246
Haha, yeah I meant extra points, but pints works better! 🍻
Anyway, I like the 'dense' prop idea. I'll start with the prominent variant and leave dense for another PR.

[2019-10-10 22:54] slipmat commented on #16995
Pushed up a simple PR, just in-case.
Alternatively System's `transform` call in `style.js` (styleFromPropValue) could pass back a mapper that enables the transformer to extract values from the theme.. You could then use the existing border props  (would be useful for other transforms as well, I imagine).
ie. `borderRight={"1 solid primary.main"}`

[2019-10-11 01:02] Yvanovitch opened #17833 "Dark theme sets textfield white"
When I set the theme to dark, the textfield just appears white with a white background

- [ X] The issue is present in the latest release.
- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I set the theme to dark and the text field just turns white
## Expected Behavior 🤔

The text

[2019-10-11 01:18] jmayergit commented on #16598
The example provided works well thank you. I am curious if the behavior of _document could be placed in a custom server ? Similar to the generic SSR docs on material ui.

[2019-10-11 01:30] el1f commented on #17754
Maybe we could have something like a `fixedRatio` prop on the `Icon` component that forces the icon in a square div with automatic margins on the sides? This would maintain the flexibility if someone is purposefully adding non-square icons while also providing an easier way to use other libraries while maintaining the look and feel of the Material-UI components.

[2019-10-11 02:08] emmanio commented on #17828
I can fix this one :) will put up a PR this afternoon

[2019-10-11 02:20] mcnedward commented on #17816
Sounds good, I didn't see that issue. Thanks!

[2019-10-11 04:38] TidyIQ commented on #10010
I agree that changing button colors is too complex. I want to avoid nesting themes due to performance issues so I've made this custom button component, but I'm not sure if this would have even worse performance issues. I'd love some feedback on it.

It works fine and allows me to set **any** color for any button variants (i.e. either `primaryLight`, `primary`, `primaryDark`, `secondaryLight`, `sec

[2019-10-11 05:55] sunshixiong789 opened #17836 "[system] TypeScript compose error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![Capture d’écran 2019-12-01 à 17 18 19](https://user-images.githubusercontent.com/3165635/69916701-96573380-145e-11ea-9647-2b281067a7bd.png)

      Type '{ theme: DefaultTheme; }'

[2019-10-11 06:10] eps1lon commented on #17836
@sunshixiong789  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2019-10-11 06:16] eps1lon commented on #10010
Do you have an example that we could profile? I'm not aware of noticeable performance implications when nesting themes.

[2019-10-11 06:59] sunshixiong789 commented on #17836
https://codesandbox.io/embed/create-react-app-with-typescript-i5sp7

I used the demo, can't find error.    but use IDE, throw the typescript error

[2019-10-11 07:42] #7994 closed

[2019-10-11 07:43] #17803 closed

[2019-10-11 07:47] #14455 closed

[2019-10-11 07:49] #17833 closed

[2019-10-11 08:24] dmdb commented on #17784
Facing same issue with https://github.com/mui-org/material-ui/tree/master/examples/nextjs integration on AMP pages.

[2019-10-11 09:02] eps1lon commented on #17836
I can reproduce it in the codesandbox (you have to force it to evaluate the expression).

Can't confirm if it's an actual bug though.

[2019-10-11 09:08] sunshixiong789 commented on #17836
I use the typescript3.5.2, it's a right,but I use the typescript3.6.3. throw the
Error:(24, 3) TS2345: Argument of type 'StyleFunction<Partial<Record<"border" | "borderBottom" | "borderColor" | "borderLeft" | "borderRadius" | "borderRight" | "borderTop", any>> & Partial<Record<"display" | "overflow" | "textOverflow" | "visibility" | "whiteSpace" | "displayPrint", any>> & ... 6 more ... & Partial<.

[2019-10-11 10:24] Tapudp commented on #13570
If someone is using `styled-components` then you can do following:

[code]

[2019-10-11 10:42] Tapudp opened #17838 "Can't change border radius of text-field variant=filled"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

my current component is as follows
[code]

and I'm using it as follows:

[code]

since the variant="failed" it doesn't allow me to set the border-radius, I have tried overriding the r

[2019-10-11 11:04] #17838 closed

[2019-10-11 11:05] oliviertassinari commented on #17838
@Tapudp In v4, you should be able to set the CSS injection order correctly (injectFirst) and to target the right elements with the global class names.

[2019-10-11 11:27] Tapudp commented on #17838
@oliviertassinari I don't have any classnames for it I'm directly using Grid elements and writing Wrapper around it with `styled-components` where I wrote fieldset property?

But regarding, CSS injectFirst is it like !important tag ? can I directly do that while writing css in styled-components or is there some other work around??

[2019-10-11 11:32] Alexand3r commented on #16316
I also have this issue on Production though... you can see in the screenshot below that on localhost (left) the background has the correct color, but on production (right, using `serve` after `npm run build`) the background is "under" MuiPaper-root in terms of order and gets overwritten.

![Screenshot_20191011_131829](https://user-images.githubusercontent.com/988056/66647595-a22a3480-ec29-11e9-920

[2019-10-11 12:57] ndeviant commented on #13672
But if you pass some props to makeStyles, its not working: https://codesandbox.io/s/outlinedinput-emm9t

[2019-10-11 13:45] pheeria commented on #17701
@oliviertassinari do you have any insights about my question?

[2019-10-11 14:30] oliviertassinari commented on #17701
@pheeria I have faced it a few hours ago. I went with small checkboxes. It could make sense to support a `size="small"` on the checkbox, similar to #14129.

![Capture d’écran 2019-10-11 à 16 27 33](https://user-images.githubusercontent.com/3165635/66659582-1245b400-ec44-11e9-8b99-8ec132357941.png)

[2019-10-11 15:31] joshwooding commented on #17806
After reading this I wanted to experiment on virtualising a Select. It's not perfect and a bit clunky but: https://codesandbox.io/s/virtualised-select-experiment-d56qk

[2019-10-11 15:33] azz0r commented on #17504
I to am having issues with this.

If I set it to "1rem" it works. If i set it to 1, "1", 12, or "12" (seen here: https://material-ui.com/customization/typography/#responsive-font-sizes) I get: `Material-UI: unsupported non-unitless line height with grid alignment.
Use unitless line heights instead.`

[2019-10-11 15:48] ryancogswell commented on #13672
@ndeviant This seems like a bug in JSS, but you can work around it by making the empty rules (`focused` and `notchedOutline`) functions just as the `root` rule is a function. It doesn't seem to recognize the existence of non-function rules when it is processing a function rule.

The following works:
[code]

[![Edit OutlinedInput](https://codesandbox.io/static/img/play-codesandbox.svg)](https://cod

[2019-10-11 15:58] oliviertassinari commented on #13672
@ryancogswell This is an issue with Material-UI, not JSS, see #15511.

[2019-10-11 17:27] Chocolatl opened #17842 "[AppBar] Remove z-index when position="static""
`<AppBar />` has  a CSS rule of `z-index: 1100`, even if  the prop `position` is `static`. It caused some problems in my program

I extracted the key code on the codepen: <https://codepen.io/chocolatl/pen/XWWXrxg>

Each `.container` have a `.navbar `. `.navbar` sets `position: static` and `z-index: 1100` to simulate `<AppBar />`

It is expected that the internal `.navbar` will be on top but covere

[2019-10-11 17:45] ccmartell opened #17843 "[Select] Select onBlur after load when open is controlled and initially true"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Select calls onBlur immediately when open={true}

## Expected Behavior 🤔
Select should not call onBlur immediately when open={true}

## Steps to Reproduce 🕹

We are generating a select

[2019-10-11 17:46] adeelibr commented on #17842
You can easily modify the zIndex in Appbar by overriding the CSS class; here is an example I hope it helps https://codesandbox.io/s/material-ui-appbar-static-example-with-zindex-modified-m8hdm

[2019-10-11 17:52] drianoaz opened #17844 "[Button] Variant outlined has same class duplicated"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The `MuiButton-outline` class has been twice applied in button component. When I updated to latest version in my project, the snapshots has broken.

![Screenshot from 2019-10-11 14-40

[2019-10-11 17:55] ccmartell commented on #17843
I also tested this with using the effect to open the menu. It seems to call onBlur as well. So I would say that any programmatic opening of the select menu causes the onBlur event to fire.

[2019-10-11 17:58] mbrookes commented on #17844
Dupe of #17667 ?

[2019-10-11 18:01] Chocolatl commented on #17842
I think the z-index is not necessary when position is static, it will even cause a bug, so should delete it?

[2019-10-11 19:30] eric-the-snake commented on #14175
Just ran into the same problem.

In my case, changing `import { withStyles } from '@material-ui/styles';` to `import { withStyles } from '@material-ui/core/styles';` solved the issue.  I guess the first package does not come with any `Provider`.

[2019-10-11 19:41] MAkerboom commented on #14427
Doesn't support dark theme?

[2019-10-11 19:41] adeelibr commented on #17842
You can give the value for `zIndex: 'auto'`. Have a look at the example again https://codesandbox.io/s/material-ui-appbar-static-example-with-zindex-modified-m8hdm

Or for that matter any of the values will work

[code]

[2019-10-11 19:58] adeelibr commented on #17305
@oliviertassinari Can I document this if possible 😄

[2019-10-11 20:11] kennethrivera commented on #16862
@prasanna-mswamy, @gknapp , @ryan-gray not sure if you have found another solution but, I keep digging into this and  it looks when we are linking the /sharedcomponents/ as part of the npm link, so if you build the library and then delete the /sharedcomponents/node_modules/ folder it won't find 2 copies of react. I found this while reading [another thread](https://github.com/facebook/react/issues/

[2019-10-11 23:26] joshwooding commented on #17305
It would be nice for this to wait for #17483

[2019-10-12 00:01] estermer opened #17846 "[useTheme] Children components of nested themes should useTheme of immediate parent theme"
Hopefully I described this correctly and clearly. We have a nested theme in our app as the example from the docs:

[code]

In `<Child2 />` when calling `useTheme()` the returned theme is the outer theme not the inner theme.

This should return the `innerTheme` if it is different from the `outerTheme`.

[2019-10-12 01:11] verbart commented on #9342
I tried this solution, but in this version only jss-plugin-extend works, all the built-in plugins (`... jssPreset ().plugins`) do not work, as if they were not there. material-ui v4.5, jss v10

[2019-10-12 01:19] verbart commented on #9342
**This is the solution that works for me:**

[code]

[code]

[code]

[2019-10-12 02:32] icancode007 commented on #16454
I can take  a shot at this if its ok with you

[2019-10-12 08:31] eps1lon commented on #17843
Independent of the specific events: What are you trying to solve?

[2019-10-12 08:33] eps1lon commented on #17846
@estermer  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-10-12 08:43] omerman opened #17847 "Add support for grid layout that is dependant of a dom container instead of media queries"
Hello,
First of all thank you for your amazing library :)
I do have a feature request that I believe a lot of people would be interested in.

So now using `Grid` we can do something like this:

[code]

I suggest an api like so:

[code]

that will generate css like so:

[code]
and that will use this library concept, or the actual library :) -  https://github.com/marcj/css-element-queries

Thanks

[2019-10-12 09:17] mbrookes commented on #17847
What does this proposed API do? Please use the issue template provided.

[2019-10-12 09:39] omerman commented on #17847
@mbrookes

Thank you for your quick response!

I'll elaborate:

Currently with `Grid` given API you can set layout behaviors dependent on the screen width.

The API I propose would give you a way to set layout behaviors dependent on the width of the element itself, aka, Container Queries

Examples from a library that implements Container Queries:
http://marcj.github.io/css-element-queries/

If mor

[2019-10-12 12:41] FeynmanDNA opened #17849 "Sorting & Selecting Table Demo Unused Style"
In the Sorting and Selecting Table demo of the docs page, the header action icon is using a class for text:
https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/tables/EnhancedTable.js#L176

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a dup

[2019-10-12 14:05] ccmartell commented on #17843
The main component we use this in is a spreadsheet component created using canvas. We use material ui form elements as a pop over single field editor to edit the information when double clicking into the field. We use the onBlur event or the clickaway event to say that the field is done editing and should be saved which removes the popover editor.

We also use this same select component in our ful

[2019-10-12 16:08] eps1lon commented on #17843
It sounds like you're not really thinking in react. You don't "programmatically" (you probably meant imperatively) close the select. What you do is flip the `open` prop with some global state managment.

I guess my main question is why `onClose` isn't enough. We should already cover every close use case in blur events.

This is also not very clear to me. You're using a Select component which is a

[2019-10-12 16:22] hburrows opened #17850 "Printing using ServerStyleSheets"
I've been using server-side rendering techniques with `renderToStaticMarkup` to print (with good success).  I generate the content on the client and then inject the HTML and CSS into an iframe for preview and printing purposes.  This has been working extremely well and provides all kinds of flexibility in printing.

I'm in the process of converting to MUI 4.5.0.  I've converted the old school JSS

[2019-10-12 21:45] hburrows commented on #17850
Mystery solved.

1) During my conversion, I dropped creating a custom JSS instance for print rendering because I didn't think I needed it (`ServerStyleSheets` creates one) but it's needed because the `Renderer: null` option needs to be set so the call to `sheets.collect` of `ServerStyleSheets` doesn't render to the DOM (pre JSS 10.0.0 this option was `virtual: true`).  This begs the question... is

[2019-10-12 23:22] AugustoCalaca opened #17853 "How do I change the position of the label without leaving this blank space on its sides?"
![Captura de tela de 2019-10-12 20-01-10](https://user-images.githubusercontent.com/28552058/66708866-f61e4180-ed2d-11e9-90d4-f5afd9fe0814.png)

[2019-10-13 01:09] adeelibr commented on #5069
I made rough demo like materia;-ui tables section with an editable table example like this;

Code + Demo: https://codesandbox.io/s/material-ui-editable-tables-wsp0c
Demo: https://wsp0c.csb.app/

(I'll improve the demo, if you think it's okay 😄 )

[2019-10-13 03:47] matthewkwong2 opened #17854 "@material-ui/styles vs @material-ui/core/styles"
Is it more preferable to use `@material-ui/core/styles` instead of `@material-ui/styles` if material-ui is used?

Also according to the [Minimizing Bundle Size Guide](https://material-ui.com/guides/minimizing-bundle-size/), anything below 2nd level import is considered private and can cause module duplication in your bundle. So should I import `makeStyles` like this to minimize bundle size?
[code]

[2019-10-13 08:17] Fleuv commented on #15511
Encountered this problem as well.

I noticed that this problem only occurs when using a [nested selector](https://material-ui.com/styles/basics/#nesting-selectors). So adding a separate class to the element the nested selector points add and adding the dynamic styling to that class should solve the problem.

In this code sandbox I debugged the problem:
https://codesandbox.io/s/styling-duplicates-o

[2019-10-13 08:21] TheBegining opened #17859 "[Popper] Popper with display:flex show wrong position"
Here is the picture.
[Wrong position][1]

  [1]: https://i.stack.imgur.com/Kpgor.png
![image](https://user-images.githubusercontent.com/17702287/66712821-35539d80-edd5-11e9-9011-23ef63ec57d4.png)

![image](https://user-images.githubusercontent.com/17702287/66712838-62a04b80-edd5-11e9-81d5-c8c0541ea1ca.png)

The popper has a style like:`transform: translate3d(225px, 50px, 0px)`

But in the dev tool

[2019-10-13 09:07] oliviertassinari commented on #17854
If you follow the documentation, you should be fine. To answer your question, in your case, the best approach is:

[code]

(the example you have shared imports 3 levels deep, it's not OK)

Hum, in the documentation we say:

It seems that it has confused you. Below is used with the "deeper" semantic. I think that we should update the wording.

[2019-10-13 09:09] #17853 closed

[2019-10-13 09:11] #17846 closed

[2019-10-13 09:35] oliviertassinari commented on #14427
@MAkerboom We could consider changing the color to be a darker blue. Is this someting you would like to experiment with?

[2019-10-13 09:37] mkermani144 opened #17860 "Inconsistent UI"
In some cases, MUI behavior is strange and unexpected. Look at these:

![Screencast 2019-10-13 11_28_38](https://user-images.githubusercontent.com/12621708/66713628-e77d6c00-edb9-11e9-8c43-55ac6b5fb335.gif)
![Screencast 2019-10-13 11_29_23](https://user-images.githubusercontent.com/12621708/66713629-e8160280-edb9-11e9-84cd-38f5383a2aeb.gif)

As you can see, there are some unexpected behaviors. The

[2019-10-13 09:37] oliviertassinari commented on #17305
Agree, we should also wait for the direction #17680 takes.

[2019-10-13 09:42] MAkerboom commented on #14427
@oliviertassinari as long as the outline is showing and it still has enough contrast with the text is seems fine by me

[2019-10-13 10:03] kurtwilbies commented on #17850
Can you send, add or reference a full example of your solution. Probably I have the same problem. I cant find a solution.

[2019-10-13 10:09] oliviertassinari commented on #14427
@MAkerboom The best approach I can come up with is:
[code]

Is that OK with you? Do you want to submit a pull request? :)

[2019-10-13 10:31] croraf commented on #14267
https://github.com/mui-org/material-ui/pull/17848

[2019-10-13 10:33] oliviertassinari commented on #16454
@icancode007 Sorry, we already have @Nikhil-Pavan-Sai on it.

[2019-10-13 11:00] SladeRun14 opened #17861 "Tooltip title prop doesn't render HTML"
When a Tooltip's `title` prop contains HTML tags, shouldn't those tags be respected?

This:

`title = "<div><br>Special Characters: At least 1 of the following:  ! @ ~ % + = $ ^ # |<br>Numbers: At least 1<br>Lower Case Letters: At least 1<br>Password Length: At least 8 characters<br>Upper Case Letters: At least 1<br></div>"`
`      <Tooltip
        title={title}

Results in this:

![Tooltip](https

[2019-10-13 11:15] oliviertassinari commented on #16598
@jmayergit I guess it would be possible?

[2019-10-13 11:18] #17861 closed

[2019-10-13 11:18] oliviertassinari commented on #17861
Tip: check the HTML demo of https://material-ui.com/components/tooltips/#customized-tooltips

[2019-10-13 11:20] oliviertassinari commented on #17860
Check #16912

[2019-10-13 11:20] #17860 closed

[2019-10-13 11:43] SladeRun14 commented on #17861
Il y a toujours un moyen :). Merci, Olivier.

[2019-10-13 12:29] kurtwilbies commented on #17854
The docs are very confusing. What are the best practices?

[2019-10-13 12:33] oliviertassinari commented on #17854
@kurtwilbies what do you mean?

[2019-10-13 12:37] oliviertassinari commented on #17850
@hburrows We will move to styled components in the future (by default) and allow the usage of react-jss. I don't think that we should invest more resources in our current styling solution.

[2019-10-13 12:37] #17850 closed

[2019-10-13 13:11] skenypatel commented on #17764
Hi, is this issue resolved? Can I take it up, if not?

[2019-10-13 13:13] oliviertassinari commented on #17791
I'm closing as we need a reproduction to be able to investigate. Thanks for the report, maybe somebody will find a solution in the future.

[2019-10-13 13:13] #17791 closed

[2019-10-13 13:16] oliviertassinari commented on #17764
@skenypatel you are free to go, regarding the solution, it seems that it's about mentionning the === equality check in the `value` prop description.

[2019-10-13 13:17] timneutkens commented on #16598
Probably not a good idea, in general with Next.js 9 we don't recommend people to start with a custom server and it's reserved for very advanced edge cases.

[2019-10-13 13:33] oliviertassinari commented on #17774
@beaudry I propose to report the issue to Popper.js directly or to consider.

[2019-10-13 13:57] TheBegining commented on #17859
Thanks your template.
It can be reproduce at this live example
[codesandbox live example](https://codesandbox.io/s/create-react-app-7nbsr)

[2019-10-13 14:01] adeelibr commented on #16976
Can I work on this PR kindly.

[2019-10-13 14:18] oliviertassinari commented on #17859
Do you think that you could reproduce the problem with Material-UI, with only Popper.js?

[2019-10-13 14:18] MAkerboom commented on #14427
Much better! thx. will try to make a PR
![test akerboom app_(Pixel 2)](https://user-images.githubusercontent.com/4593646/66717057-1ead4680-edd5-11e9-956a-b2d0bcf0a812.png)

[2019-10-13 14:26] oliviertassinari commented on #16976
No objection from my part. It's slightly opinionated given the `:focus-visible` spec doesn't account for this behavior. But at the same time, the Chrome team seems to be in favor of it, at least, one of their accessibility advocates, Rob did a pull request in this direction.

@robdodson Would you recommend Material-UI to apply https://github.com/WICG/focus-visible/pull/184 in its codebase? Thanks.

[2019-10-13 14:36] oliviertassinari commented on #5069
@adeelibr Thanks for sharing the code sandbox on the issue, It will likely help others.
Now, I'm not sure that we should add a new demo in the documentation. I think that we should work on a new datatable component. I think that we could have the Table component focuses on the style aspect on the table while the datatable would focus on the feature richness. This would be an opportunity to remove

[2019-10-13 14:38] oliviertassinari commented on #17764
@LikiaSun I think that we should wait for the documentation to be updated before closing the issue :).

[2019-10-13 14:38] LikiaSun commented on #17764
ok. sorry

[2019-10-13 14:41] adeelibr commented on #5069
Can I work on the new component for Data table? Also will it be build on top of Table components with extended functionality?

[2019-10-13 14:43] oliviertassinari commented on #5069
@adeelibr See https://github.com/mui-org/material-ui/pull/17848#issuecomment-541423350

[2019-10-13 14:46] estermer commented on #17846
OK I will get on that ASAP

[2019-10-13 14:47] oliviertassinari commented on #17854
@matthewkwong2 What do you think of this diff?
[code]

Would it remove part of the confusion?

[2019-10-13 15:04] ccmartell commented on #17843
Yes. We use the React.useState hook to control the open prop on whether or not to display the select field. We also use the useState hook to control the open prop on the menu for the select component.

Our use case is this: We have a canvas spreadsheet component that doesn't support editing. It does support events and will emit events for double clicking back up to our wrapper component we created

[2019-10-13 15:05] estermer commented on #17846
Well, It seems to be working as I described above. I think there may just be an issue with how we are using the theme provider in conjunction with how it is we are generating the theme. sry bout that.

[2019-10-13 15:21] skenypatel commented on #17764
I'm new to this, I did not understand what exactly I am supposed to do. Can anyone guide me?

[2019-10-13 15:24] oliviertassinari commented on #17846
@estermer Thanks for keeping us updated :)

[2019-10-13 15:29] adeelibr commented on #16844
Can I document this feature for usage of <Toolbar /> & theme.mixins.toolbar for Appbar position fixed demo? 😅

[2019-10-13 16:05] sebastianvoss opened #17864 "Button component property"
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After upgrade to version 4.5.1 I have compilation issues regarding the `component` property for `Button`. For example, this code from the [documentation](https://material-ui.com/compo

[2019-10-13 16:08] hburrows commented on #17850
@kurtwilbies   Here's my entire solution.  The trick is creating your own JSS instance (`const jss = create().setup({ ...jssPreset(), Renderer: null });`) and passing that into `ServerStyleSheets`.  The module exports a utility function, `generateContent`, that takes the component to print, the theme, and a context object.

[code]

[2019-10-13 16:16] hburrows commented on #17850
@kurtwilbies I should have been more clear... the real trick is passing `Renderer: null` to your options for you custom JSS instance

[2019-10-13 16:28] hburrows commented on #17850
@oliviertassinari Can you please point me to the issue(s) that discuss the justification (pros, cons, and advantages) of switching from `react-jss` to `styled-components`?  This seems like another big churn of the codebase with questionable value relative to new, additional functionality that improves the core value proposition.  I get the importance of staying current... but that needs to be weig

[2019-10-13 16:42] hburrows commented on #17850
@oliviertassinari v4 is relatively new and we're months away from v5.  I'm proposing a simple additional option in `ServerStyleSheets` to provide a JSS instance that is semantically correct for the operation and doesn't have a very bad side effect if used in an environment with a `window` object.  It's really nothing more than essentially:

[code]

This would provide a great step forward in thinki

[2019-10-13 16:47] kurtwilbies commented on #17854
I meant use examples, because this issue depends on a deep knowledge of the source code.

[2019-10-13 16:59] oliviertassinari commented on #17850
@hburrows Interesting, you want to use the server-side API to render on the client-side? JSS is one part of the issue then. I would also expect warnings with useLayoutEffect. Do you confirm?
In this case, your suggestion sounds OK. Do you want to submit a pull request?

Regarding the migration to styled-components (#6115), note that people will still be able to use react-jss. If you want to keep w

[2019-10-13 17:05] oliviertassinari commented on #17864
@sebastianvoss Do you have a reproduction?

[2019-10-13 17:57] hburrows commented on #17850
@oliviertassinari That is 100% correct.  I'm using the server-side API to render on the client-side.  Honestly, I'm surprised it's not discussed more often (maybe I should write a Medium post) because it works remarkably well for non-trivial printing-- like reports and bulk printing of multiple items.  I haven't seen warnings from `useLayoutEffect` but maybe that has more to do with our code and h

[2019-10-13 18:04] sebastianvoss commented on #17864
@oliviertassinari Thx for your quick response. It seems after resetting `node_modules` and upgrading to the latest Typescript the error disappeared. Sorry for the noise.

[2019-10-13 18:04] #17864 closed

[2019-10-13 18:13] oliviertassinari commented on #17864
Thanks for the update :)

[2019-10-13 18:19] oliviertassinari commented on #17850
@hburrows I agree, you can find our roadmap and priorities in the documentation. We will likely explore paid advanced components before the styling upgrade. There is still a significant portion of the community on v3. It's not great. I hope that the new features we plan will be an incentive for them to upgrade.

[2019-10-13 20:47] ValentinH commented on #17006
Today, I also faced this issue while using the `filled` variant of the TextField. I naively set the color to `secondary` and had to read the documentation to understand this was not supported.
Would you accept a PR for this?

[2019-10-13 20:48] oliviertassinari commented on #13203
I have updated the provided sandbox, the first reported problem seems to be solved: https://codesandbox.io/s/tooltip-bug-igs7j.

[2019-10-13 22:08] kurtwilbies commented on #17850
@hburrows well done. I have a hard time solving the issues. Can you document your solution. A blog post or github page / repo would be great.

[2019-10-13 22:25] oliviertassinari commented on #17006
@ValentinH [Vuetify](https://vuetifyjs.com/en/components/text-fields) has a color prop. I think that it has the potential to help. So "primary", and "secondary" only?

[2019-10-13 22:31] oliviertassinari commented on #17705
@pimeh @flurmbo What do you think of allowing the *expanded* state to be controlled?
Right now, we have a `defaultExpanded` prop that supports the uncontrollable approach but nothing for the controlled way. A new `expanded`, and `onExpanded` props could solve this problem.

[2019-10-14 02:29] marcio commented on #17043
Hi @mehrdad-shokri, maybe you can try something like that:

[code]

I hope that helps you.

[2019-10-14 02:30] ValentinH commented on #17006
Yes I think this makes sense.

[2019-10-14 02:56] Coglite commented on #17854
best solution would be to remove material ui styles all together , react-jss 10 is released

[2019-10-14 03:28] flurmbo commented on #17705
@oliviertassinari I think that's much better. When I made my fix I wasn't sure how the API for manual control would look like for the TreeItem, but after looking at the Tooltip component I think it can be done analogously to that component's `open`, `onOpen`, `onClose` props

[2019-10-14 03:34] TidyIQ opened #17866 "Feature Request: Add 'dark' and 'light' color variants to all relevant components"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Various components have a `color` prop that allows us to set the color to something like `default`, `inherit`, `primary` or `secondary`. It would be great if this were extended to also include all theme palette colors, i.e. also include `prim

[2019-10-14 05:58] jayesh-kaza commented on #16976
@adeelibr  are you working on this?

[2019-10-14 06:04] jayesh-kaza commented on #16565
@oliviertassinari  is this resolved? Can i work on this?

[2019-10-14 06:11] Nikhil-Pavan-Sai commented on #16976
hahaha :laughing:

[2019-10-14 06:48] #16454 closed

[2019-10-14 06:49] #13203 closed

[2019-10-14 07:15] adeelibr commented on #16976
Yes, i am just waiting on the go ahead from @robdodson

[2019-10-14 07:16] TheBegining commented on #17859
I'm not sure if this is what you need
[example only with popper](url)

[2019-10-14 07:17] oliviertassinari commented on #17705
Cool, in our case, I hope that a two props are enough. I would imagine `onExpand`

[2019-10-14 07:18] #17461 closed

[2019-10-14 07:24] TheBegining commented on #17859
Hi, After I remove the `<CssBaseline />` from `index.js` The popper show normal.

[removed CssBaseline](https://codesandbox.io/s/create-react-app-lmrgc)

[2019-10-14 07:30] TheBegining commented on #17859
Here is another vesion with only Popper.js & CssBaseline
[Popper.js & CssBaseline](https://codesandbox.io/s/create-react-app-xz37t)

[2019-10-14 08:20] oliviertassinari commented on #17854
@Coglite https://github.com/mui-org/material-ui/pull/17391

[2019-10-14 08:23] oliviertassinari commented on #17006
OK, I think that you can go ahead. In the future, we want to find ways to support any color.

[2019-10-14 08:27] oliviertassinari commented on #16844
@adeelibr Yes, I think that it would be great to document the placement issue. For instance, I have seen @jlengstorf hit by this problem in a recent video.

[2019-10-14 08:29] oliviertassinari commented on #17866
Could you expand on your use case?

[2019-10-14 08:39] elmeerr commented on #17006
`FontAwesomeIcon` component from [Font Awesome](https://fontawesome.com/) has a property color that accepts any hexadecimal color, I think that would way to go. For TextField would be like most components that accepts color: `[primary, secondary, inherit]` plus any hexa passed to the property. Focus on theme colors first would already an amazing improvement. Hexadecimal colors can be indeed for a

[2019-10-14 08:48] oliviertassinari commented on #17859
I'm sorry, I wasn't clear. I meant a demo without React, with the library we use for positioning: https://github.com/FezVrasta/popper.js.

[2019-10-14 08:49] eps1lon commented on #17697
[code]

For more context (checkbox vs switch) see #17870

[2019-10-14 08:55] oliviertassinari commented on #17859
@TheBegining Alright, it's basically the same issue as #17774. Given the timing coincidence of the release of 7a86f1167926ca59aa2c933bc5e18676fe95fbf3 and these two issues, I think that we should push #17824 forward. @rahulkotha18 could you restore the branch so we can reopen the pull request? thanks!

[2019-10-14 08:56] oliviertassinari commented on #17859
Closing as a duplicate of #17774.

[2019-10-14 08:56] #17859 closed

[2019-10-14 08:59] oliviertassinari commented on #17774
We had a duplicate report on #17859. I think that we can move the proposed revert forward. It solves a good portion of the issue and has been added in the first place to solve similar issues: #15811.

[2019-10-14 09:04] oliviertassinari commented on #17791
See #17864 as a possible solution

[2019-10-14 09:15] oliviertassinari commented on #17849
@FeynmanDNA Oh right, yes thanks for the report. We can simplify the demo, there is some useless code. What do you think of this diff, do you want to submit a pull request to simplify it :)?

[code]

[2019-10-14 09:26] oliviertassinari commented on #17847
Given that the Grid is one of our most-used components. It would make sense to invest resources in it. However, I'm wondering about the use case, the breakpoint values are supposed to correspond to [page](https://stackoverflow.com/questions/6073505/what-is-the-difference-between-screenx-y-clientx-y-and-pagex-y) widths. If feels strange to mix it with element sizes.

@omerman is this resource relat

[2019-10-14 09:29] eps1lon opened #17871 "[RFC] Cursor pointer on interactive elements"
We're currently applying `cursor: pointer` for most interactive elements (Button, Checkbox, labels of checkboxes, Slider etc).

It's well defined that this cursor [indicates a link](https://developer.mozilla.org/en-US/docs/Web/CSS/cursor)<sup>1</sup>.

Problems arise especially for components that are mapped to host elements e.g. Checkbox for `<input type="checkbox" />`. The host element does not

[2019-10-14 09:31] #16560 closed

[2019-10-14 09:35] oliviertassinari commented on #17843
@ccmartell Can you confirm that the onBlur behavior matches your expectations in v4.5.1 (after #17299)?

[2019-10-14 09:49] ptitjes commented on #17791
@oliviertassinari Tried @material-ui/core@4.5.1 + typescript@3.6.4 as proposed in #17864. This does not fix the problem for us.

[2019-10-14 09:55] chitgoks commented on #7466
It is only maxWidth: `100%`, that made this work. however, the width is now stretched to the maximum. this will not work if i set a specific maxWidth value.

[2019-10-14 09:59] oliviertassinari commented on #17871
Oh wow, it's fascinating to see how things evolve! Is it correct to assume that a majority of the websites are not using `cursor: pointer` for the only purposes to indicate link?

[2019-10-14 10:06] oliviertassinari commented on #17844
Fix released in v4.5.1, we should be good.

[2019-10-14 10:06] #17844 closed

[2019-10-14 10:10] eps1lon commented on #17871
My suspicion is that at some point somebody used a div to link content and used the pointer. And everybody assumed this was an action and therefore any action should have this cursor.

Looking through vscode I can only find a pointer cursor when it actually links content e.g. a filename in the console.

If you look at the Microsoft design guidelines you find that the rationale for the pointer curs

[2019-10-14 10:12] oliviertassinari commented on #17842
@Chocolatl Thanks for raising, I think that we should remove the zIndex in v5. Given the behavior you have described, I would be worry if we change it in v4. It could be a breaking change that messes people top layout.

[2019-10-14 10:38] popuguytheparrot opened #17872 "[ExpansionPanel] add override PaperProps"
Add override PaperProps for remove in some case elevation, "Divider" in ::before.

## Summary 💡

Add ability to override PaperProps for ExpansionPanel

## Examples 🌈

![image](https://user-images.githubusercontent.com/19804652/66745491-c4b98900-ee87-11e9-9948-0415cd3f016e.png)

## Motivation 🔦

It is logical that there should be the ability to change the behavior of the component on which the curr

[2019-10-14 10:39] eps1lon commented on #17843
Why is `onClose` not sufficient? It should cover blurring. Be aware the blur events bubble in react (unlike in the DOM). If you actually have the requirement that any blur event in the subtree should close then this means switching between items would blur.

[2019-10-14 10:41] gknapp commented on #16862
@kennethrivera I upgraded `react-dom` to match the version of `react` I upgraded to and it resolved the error. Sounds like it hasn't solved the issue for others. I use npm for the project that encountered this issue.

[2019-10-14 10:44] eps1lon commented on #17872
Could you share what you're trying to achieve?

[2019-10-14 10:51] popuguytheparrot commented on #17872
@eps1lon I am trying to achieve a normal appearance.
In Drawer I have a component for displaying connected displays. Upon disclosure, there will be full display information.

Because Drawer has a shadow and the panel has a shadow, it looks awful. I am trying to achieve a flat display
![image](https://user-images.githubusercontent.com/19804652/66746133-afddf500-ee89-11e9-8f37-5844ac623a45.png)

[2019-10-14 11:05] lcswillems opened #17875 "theme.breakpoint.down not working correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`theme.breakpoints.down('md')` represents interval `[0, lg+1[`.

## Expected Behavior 🤔

It should represent interval `[0, md+1[` as mentioned [in the documentation](https://material-

[2019-10-14 11:08] #17697 closed

[2019-10-14 11:44] burtyish commented on #14246
@mbrookes, before making any changes, I tried to achieve the prominent layout in a codesandbox, based on one of the demos. (my changes are marked by comments)
https://codesandbox.io/s/material-demo-prominent-appbar-h602s

I found that supporting the prominent bar variant would require changes in the Toolbar component, not the AppBar.

1. Currently, Toolbar supports the prop `variant: 'regular' | '

[2019-10-14 12:21] shiraze commented on #17854
I had to change to change all my references from:
`import MuiThemeProvider from "@material-ui/core/styles/MuiThemeProvider";`
to:
`import { MuiThemeProvider } from "@material-ui/core/styles";`

when upgrading from @material-ui/core@4.5.0 to @material-ui/core@4.5.1

[2019-10-14 12:31] oliviertassinari commented on #17812
Ok, maybe we should apply overflow: hidden to the `<html>` element. Gatsby's owner has provided an interesting answer on why the overflow style on the element is important: https://github.com/gatsbyjs/gatsby/pull/18411#issuecomment-541633814.

I would like to explore a diff that adds overflow hidden to the body and the html element, when required. What do you think of?
[code]

[2019-10-14 12:33] oliviertassinari commented on #17854
@shiraze Thanks for the feedback! This looks expected, imports deeper than 2 level deep are private. `@material-ui/core/styles/MuiThemeProvider` is a private module.

[2019-10-14 12:41] oliviertassinari commented on #17875
@lcswillems Do you confirm it's a duplicate of #13448?

I'm not sure we use the same convention, from my perspective, +1 account for the next element in the breakpoint list. lg + 1 = xl, md + 1 = lg. The exclusive interval (`[`) translates in practice, by -0.05px.

[2019-10-14 12:43] oliviertassinari commented on #17875
Do you have any idea on how we could make the documentation easier to understand, waiting for a potential change of behavior in v5?

[2019-10-14 12:46] eps1lon commented on #17812
This somewhat relates to my gripe with dislodged scrollbars for modals (scrolle=body vs scroll=paper). My guess was always that this was intended to direct mousewheel scrolling while hovering over the body to the dialog.

Would it make sense to prevent event defaults in mouse wheel event handlers?

[2019-10-14 12:48] oliviertassinari commented on #17872
@popuguytheparrot What's wrong with one of these two options?
1. `<ExpansionPanel elevation={0}>`
1. The customization demo in https://material-ui.com/components/expansion-panels/#customized-expansion-panels

[2019-10-14 12:50] oliviertassinari commented on #17812
@eps1lon As an alternative implementation of the scroll lock to the overflow: hidden approach? I don't have all the context on this matter, from what I know, there is no way to prevent manual interactions with the scrollbar buttons.

[2019-10-14 12:51] popuguytheparrot commented on #17872
@oliviertassinari on API page i didnt see this prop

[2019-10-14 12:57] oliviertassinari commented on #17872
Make sense, it requires to dive a bit:

![Capture d’écran 2019-10-14 à 14 54 26](https://user-images.githubusercontent.com/3165635/66752778-8c6b7800-ee92-11e9-9bad-a2d790f8d1c9.png)

---

Now, your problem is related to a potential solution I had in mind to kill the `/api/` pages. sencha might have the beginning of a solution: https://docs.sencha.com/extreact/6.6.0/modern/Ext.carousel.Carousel.h

[2019-10-14 12:59] lcswillems commented on #17875
Yes, it is a duplicate.

Okay, I see. For me it means, "+1" in pixels...

Yes because, for me, it is really confusing. In my head, "sm", "xs" are values... And if I do `theme.breakpoint.down(300)`, it represents `[0, 301[`, but if I do `theme.breakpoint.down('sm')`, it represents `[0, lg+1[` where `lg` is the value in pixels.

Moreover, if I have this code:

[code]

that hides an element when scre

[2019-10-14 12:59] eps1lon commented on #17872
This comes up fairly often.

I thought about this quite often and so far I think the best solution is to make apparent props display by default and then make it expandable. Though this requires quite a bit of infra work.

[2019-10-14 13:01] eps1lon commented on #17812
The scroll bar maybe not. Though I think you can prevent mousewheel scroll. I doubt many people actually click on scrollbars. Those are tiny :smile:

[2019-10-14 13:02] oliviertassinari commented on #17872
@eps1lon Agree, there is potential here!

[2019-10-14 13:05] oliviertassinari commented on #17812
@leMaik Do you remember a past effort in the prevent scroll wheel approach, maybe around 2017? I have a reminiscence of a past exploration of this direction. Ah, hup: #5098.

[2019-10-14 13:23] TheRusskiy commented on #17871
Having "pointer" on interactive elements makes a lot of sense to me. It feels weird without it.

[2019-10-14 13:47] eps1lon commented on #5186
Also interesting that native `<select />` makes no distinction at all between hover and selected. Once you hover over the first item the "highlight cursor" will follow hover. In keyboard modality it will follow focus. Both modalities have different behavior with regard to selection state (mouse: selection does not follow hover, keyboard: selection does follow focus).

[2019-10-14 14:09] ajdaniel opened #17876 "Avatar shows children and image"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I pass in children and a `src` prop to the `Avatar` component, both are rendered. This is a change in behaviour that was not expected, and was caused by #17693.

![image](https:/

[2019-10-14 15:30] weiluntong commented on #17000
Just a remark, in case this does get enough momentum. I don't want to make excuses, but with this being my senior year, landing a place in programming team, and working, I am utterly swamped. I want to contribute though in anyway I can. If everyone is fine with waiting on me, that's cool and I apologize in advance. However, if someone picks it up, that's cool too I just want to be involved in some

[2019-10-14 15:45] jahooma opened #17877 "Switch component doesn't respond to drag gesture"
On touch devices, it is very natural to drag the switch left or right to toggle on or off, but this has no effect.

This was noticed when my Mom could not toggle the switch in our iPhone app! 😂
I imagine young children might also have this problem.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this reposito

[2019-10-14 15:56] petersendidit commented on #17854
Might be good to create a codemod that could be run to catch and fix improper imports.

[2019-10-14 16:27] oliviertassinari commented on #17854
There is a codemod and and eslint rule https://github.com/mui-org/material-ui/tree/master/packages/eslint-plugin-material-ui#restricted-path-imports, https://github.com/mui-org/material-ui/tree/master/packages/material-ui-codemod#optimal-imports.

[2019-10-14 19:04] NicholasTuck commented on #17636
In terms of "impact" this has a huge impact in our ability to utilize material-ui menus in our transition to a mobile responsive website.  We do not have the entire site mobile-responsive, but we get closer by introducing more material/react components to different pages. However until the majority of the page is responsive, the mobile experience will be a zoomed out experience. Thus interacting w

[2019-10-14 21:15] stephenh commented on #11000
@oliviertassinari fwiw we see that `Display` can now do this, but FWIW given that `Hidden` is already / will always be in the public API, we think it'd still be nice to have the complement, `Shown`, available, for consistency.

[2019-10-14 21:16] mbrookes commented on #14246
@burtyish Thanks for the CodeSandbox. That looks good.

Between the breaking change, and the need to style the children, I wonder if for now a demo in the docs based on your example would be the better option?

[2019-10-14 21:25] flurmbo commented on #17705
I think that would work if the callback is called with a boolean parameter indicating the collapsed/expanded state of the TreeItem. Wouldn't the parent component need that value to manually update the state of the `expanded` prop? But otherwise sounds good, you can call it `onToggleExpand` or something!

[2019-10-14 22:37] stephenh opened #17879 "createStyles typing should take a partial"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I want to be OCD and ensure I only declare style overrides that a component actually supports, i.e.:

[code]

Has an error because `foobar` isn't a valid class key.

What I'd like to

[2019-10-14 22:39] stephenh commented on #17879
cc @merceyz and @eps1lon since you've touched the `createStyles.d.ts` file; apologies/thanks! :-)

[2019-10-15 00:03] mbrookes commented on #17877
I've added the accessibility label for want of a more general usability label, since I can see how this could be generally problematic.

[2019-10-15 00:24] pschlette commented on #17854
Is it problematic to import types from deep import paths? I'd like to remove my explicit dependency on `@material-ui/styles`, but I'm not sure where to import e.g. the `CSSProperties` type from, if not `@material-ui/core/styles/withStyles`.

[2019-10-15 01:11] elxris opened #17881 "[Button] Null color prop will crash the app."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Breaks the app.

## Expected Behavior 🤔

Don't break the app.

## Steps to Reproduce 🕹

Steps:

1.

[code]
2. Expect a crash

CodeSandbox:
In App.js look for line 29.
https://codesand

[2019-10-15 05:53] eps1lon commented on #17854
@pschlette Could you explain what you need this type for? I'd hope everything is covered by `*Styles`.

[2019-10-15 06:26] FeynmanDNA commented on #17849
@oliviertassinari i gladly help with the PR

[2019-10-15 07:42] josephstgh commented on #17854
Hi, I have the following.

[code]

So after upgrading to `4.5.1`, I shifted most of the component from `@material-ui/styles` to `@material-ui/core/styles`. But there's no export of `CSSProperties` now, so it complains about that.

Any idea?

[2019-10-15 08:04] eps1lon commented on #17854
@josephstgh It looks like your `Common` interface is unused. Could you expand your example so that `Common` and `getAppStyle` is used?

[2019-10-15 08:19] eps1lon commented on #17877
I just tested this a few days ago when reviewing the role and can totally see how this can be a problem (we even use Slider terminology for the styles).

One issue I can foresee is that switches don't have an intermediate state. So when you start dragging you switch the state anyway which might be confusing.

But I would like to see how this feels once it responds to dragging first.

[2019-10-15 08:21] josephstgh commented on #17854
Hi sorry, let me try.

I have a place where `Theme` is defined.

[code]

So in my other component where I can make use of the `commonStyle`.

[code]

Full disclosure, this is actually part of the workaround because `jssExtend()` plugin does not work for my case. Hence, the use of `spreading` to `extend` the style.

[2019-10-15 08:36] eps1lon commented on #17879
Duplicate of #15777

[2019-10-15 08:36] #17879 closed

[2019-10-15 08:41] oliviertassinari commented on #16565
@jayesh-kaza Thanks for giving a start at this issue. I want to make is clear that the diff I have showcased isn't meant to be the actual solution to the problem, rather something we could explore. I believe the related issue is part of a broader problem:

1. #16565
1. #17408
1. #16942
1. #17190

I think that we should consider a solution that closes these 4 issues at the same time. It would ensur

[2019-10-15 09:27] oliviertassinari commented on #17877
Is this an iOS-only feature (I'm not aware of an equivalent on desktop nor Android)? I would be cautious with the bundle size cost. Ionic has an interesting approach: https://ionicframework.com/docs/api/toggle.

[2019-10-15 09:29] oliviertassinari commented on #17876
@ajdaniel It sounds like you have to pick between one of the two approaches. Why do you mix both?

[2019-10-15 09:31] oliviertassinari commented on #17881
null is not a supported value, use `undefined` or `'default'`.

[2019-10-15 09:31] #17881 closed

[2019-10-15 09:42] sasanrasouli opened #17884 "[ButtonGroup] Support vertical option"
there is no vertical ButtonGroup in Material UI. how can I change horizontal ButtonGroup to vertical one? Do I make my own Buttons group together with display: 'block'?

[2019-10-15 09:59] ajdaniel commented on #17876
That's how it worked before. The children prop became a fallback and I didn't have to code the logic of showing or hiding the children based on the image availability, it just did that automatically.

[2019-10-15 10:03] oliviertassinari commented on #17705
@flurmbo for the signature of the callback method, we can use the same as `onChange` in https://material-ui.com/api/expansion-panel/. The first argument would be the event, the second argument would be the whole expanded state. Maybe we can imagine a third argument to signal the node id that changed. My proposal is from a TreeView perspective.

We might need something close for the TreeItem.

[2019-10-15 10:05] oliviertassinari commented on #17876
We didn't design the fallback mechanism. I think that it was a happy coincidence. At least, I'm not aware it's documented nor that we had a test for it.

[2019-10-15 10:09] oliviertassinari commented on #17876
The children prop description:

This can be an element, or just a string.

It seems that prior to #17693, the implementation behave the opposite to the documentation.

[2019-10-15 10:11] ajdaniel commented on #17876
Okay that's not a problem, I can't argue against undocumented features. I had a feeling this was the case too, but I wanted to raise the point.

Perhaps we can add it as a feature? Perhaps instead of children we could have a prop like `fallbackRender` which renders if the `src` or `srcSet` is empty?

[2019-10-15 10:16] oliviertassinari commented on #17876
I would propose that we 1. update the prop description to match reality. 2. I wouldn't be against a customization demo per @lcswillems use case. 3. a test case to it.

Regarding your fallback proposal, `imgFallbackChildren?: boolean` has potential. However, I'm wondering if it's not better, for their developer to explicit it in their render method. @mbrookes what do you think?

[2019-10-15 10:36] oliviertassinari commented on #17636
@NicholasTuck Thanks for sharing your story. Material-UI doesn't have the resources to solve all the problems faced by our users, but we try to bet on the topic that have the most potential. Right now, we have a significant focus on building new components and features. I can't give you an ETA on when the problem will be solved.

*Notice that your company could support this effort with: https://ma

[2019-10-15 10:40] lcswillems commented on #17876
@oliviertassinari I am not sure to understand what you expect from me?

[2019-10-15 10:43] oliviertassinari commented on #17876
Nothing, I was including you for context :)

[2019-10-15 11:05] mbrookes commented on #17876
That sounds horrible! 🙀We should pick one behaviour and stick to it. If #17693 hadn't already been merged, I'd favour @ajdaniel's use case over @lcswillems', and suggest a customization demo for the latter instead.

Not sure what the best path forward is though, short of reverting #17693 and updating the documentation.

[2019-10-15 11:08] lcswillems commented on #17876
@mbrookes Why would you prefer @ajdaniel use case over mine?

[2019-10-15 11:13] oliviertassinari commented on #17876
@mbrookes What do you think of the behavior in the children prop description? It seems to be a 3rd viable option

[2019-10-15 11:18] reg0 commented on #16637
yes! I have the same problem as @Vang-z

[2019-10-15 11:18] mbrookes commented on #17876
@lcswillems Because displaying one type of content in an Avatar is the norm, whereas your requirement is more of a customisation.

@oliviertassinari Why would 3. be preferable? From my experience, text is always used as a fallback to an image, not the other way around.

[2019-10-15 11:19] lcswillems commented on #17876
The problem with `children > img` is that the avatar img behavior will have to be reimplemented.

If we do `children + img`, @ajdaniel just have to conditionally display its children if `src` is set, that is much easier.

I think @ajdaniel filled an issue just because it broke his code, not necessarily because it was the good use case.

[2019-10-15 11:21] lcswillems commented on #17876
@mbrookes Why not have a `fallbackText` property and let the `children` be used.

[2019-10-15 11:59] oliviertassinari commented on #5186
@eps1lon On which environment? On macOS, I have:

**selected**
![Capture d’écran 2019-10-15 à 13 34 10](https://user-images.githubusercontent.com/3165635/66828114-8936c180-ef50-11e9-99df-a04ae40fec33.png)

**hover/focused**
![Capture d’écran 2019-10-15 à 13 34 16](https://user-images.githubusercontent.com/3165635/66828106-86d46780-ef50-11e9-8508-5f6231fa3544.png)

Regarding the multi-select us

[2019-10-15 12:07] abraaobuenotype commented on #16637
as @mbrookes  said, it worked for me doing this:

![image](https://user-images.githubusercontent.com/25363790/66830150-30a0fd80-ef2b-11e9-92cc-a7d44eb232a4.png)

[2019-10-15 12:20] oliviertassinari commented on #17674
@cmeeren Thanks for the feedback, I have updated the list.

[2019-10-15 12:25] ananthsridhar commented on #10587
From what I have found out now, if you inject the contents of the Drawer using a function like in the demo, it slides. If you put the content in the Drawer as is, it performs as above. Wonder if anyone has a technical explanation for this.

[2019-10-15 12:46] Janpot opened #17887 "Avoid docs layout jump (caused by the ad)"
Every time I open the docs, the page jumps around whenever the ad loads. This is kind of disruptive.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The page slides down when the ad loads

![mui-ad](https://user-images.githubuserc

[2019-10-15 12:56] oliviertassinari commented on #17887
@Janpot Interesting concern, the jump was engineered to increase people's attention. But maybe it's not needed, to A/B test without.

[2019-10-15 13:03] eps1lon commented on #17887
What target would you test how? Because popups do increase attention and revenue. They are however annoying and reduce satisfaction.

[2019-10-15 13:08] Janpot commented on #17887
Oh wow, I would never have expected this to be intentional. Maybe you could add the behavior, **only** when the ad-blocker is enabled?

I'm not unsympathetic towards you using advertisement. But not in this way, I will put the ad-blocker back on until this is resolved.

[2019-10-15 13:16] oliviertassinari commented on #17887
The other reason why the jump is present is that it was simpler to implement. I don't know how an implementation without it would look like. Please understand that ads are a big part of why this project can sustain ongoing development. And yes, the other motivation was to reproduce Bootstrap approach to the problem, they generate significantly more than we do with ads, I hopped they have this conc

[2019-10-15 13:19] eps1lon commented on #17887
This too shortterm to monitor user satisfaction among long term users. It also disregards any revenue created from opencollective etc. It also assumes that the clicks are intentional. I could imagine that a proportion of the current clicks are unintentional since the layout shifts.

[2019-10-15 13:22] oliviertassinari commented on #17887
How long do you think that we should run the experiment?

[2019-10-15 13:30] killpowa opened #17888 "External animations are broken"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In the codesandbox attached, the modal animation is not working on enter and it is working on exit. Downgrading the material ui version to 1.0.0 or removing any mui component from the

[2019-10-15 13:35] #17888 closed

[2019-10-15 13:38] Janpot commented on #17887
You could also incentivize people to disable their adblocker by making it clear the page won't shift when ads are enabled. Who knows, maybe this has a net positive effect?

[2019-10-15 13:41] oliviertassinari commented on #17887
On a second order of thinking, there is an option to force a layout shift no matter if the ad blocker is used or not. This would reduce the incentive to use an ad blocker. However, given that the strategy is to move toward à freemium model, with an open core (paid advanced components) Material-UI has a growing incentive to make the free content experience as smooth as possible, hence address the s

[2019-10-15 13:47] eps1lon commented on #17887
I would not put time into an experiment that tries to gain insights into layout shifts. We know these are very bad<sup>1</sup>. I'd rather put time into improving Material-UI so that people want to pay instead getting Ads money from flashing the screen.

<sup>1</sup> Quick google search:
- https://github.com/WICG/layout-instability
- https://developers.google.com/web/fundamentals/performance/user-

[2019-10-15 13:48] killpowa commented on #17888
How is this not a bug, removing all MUI components or using any other UI library does work as expected, this is specifically related to MUI and it should not interfere at all with animations done externally

[2019-10-15 13:54] oliviertassinari commented on #17887
I'm even wondering if the current jump doesn't violate the nonintrusive whitelisting adblocker policy our ad benefit from (as well as Bootstrap). I have updated my initial comment: the first incentive was to get the implementation working fast, to move to a different problem (I ignored the shift)

Yeah, there is no question that a jump destroys the browsing experience. Now, maybe the solution to t

[2019-10-15 13:56] petrdsvoboda commented on #17775
I use menu items to open dialogs with inputs for quick actions. But because the Dialog is under Menu in the React tree, key events are captured and used to control the menu. `event.defaultPrevented` would be an easy fix. I could make a PR if you are okay with adding it.

[2019-10-15 13:58] oliviertassinari commented on #17887
Actually, I will double down on this:

The problem only seems to be visible on the initial page load, not between consequence page navigation. So as it seems, the jump wasn't engineered, or I engineered it poorly.

[2019-10-15 14:02] vlavellauruit commented on #9342
Hi guys, it is possible to use MuiThemeProvider and use jss plugins as well?  The documentation seems to be a little old, and I have a solution that stops working with extend and compose.
I suppose that is because of some change of context. This is how my code looks like:

[code]

[2019-10-15 14:12] eps1lon commented on #17775
@petrdsvoboda While I would appreciate your contribution I want to caution you against this approach for your particular use case. The issue you are encountering is that events bubble through portals. I would recommend calling `stopPropagation` on keydown events at the Dialog. If you call `preventDefault` only do so on some keys. preventing the default on the "Escape" key would also prevent closin

[2019-10-15 14:22] eps1lon commented on #17887
I was not aware that the dark mode flash causes a layout shift. Seems like something we should address since dark mode shouldn't be concerned with layout.

[2019-10-15 14:34] Janpot commented on #17887
With the risk of piling more issues on top here, but since we're talking about the dark mode flash. Didn't the "custom doc colours" used to persist between page loads in the past? I feel like I've seen that make a flash from default to custom as well, but I can't reproduce anymore.

[2019-10-15 14:45] eps1lon commented on #17887
@Janpot This is an issue with how we serve our docs. If you have a page with different themes you also have to ensure that the server can serve those themes if you want no flashes. For simplicity we only serve the default theme from the server and allow switching on the client. This will always include a little flash since there is a period between html being rendered and javascript being executed

[2019-10-15 14:54] Janpot commented on #17887
Just for my understanding, in case I ever need to implement this

Which is to store the theme state in `localStorage` and SSR the docs? For which the solution would be to store the theme state in a cookie?

[2019-10-15 15:06] eps1lon commented on #17887
If you have a server that receives requests and renders that page and then serves it, yes.

Our docs are rendered as a static site though which means we wouldn't be able to process cookies from requests.

[2019-10-15 15:22] w-inter opened #17890 "Misaligned Label on Select Component"
The label on the `Select` component is misaligned when we send the option `variant=outlined`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the property `variant=outlined` is sent to the `Select` component, and you also nee

[2019-10-15 15:27] petrdsvoboda commented on #17775
@eps1lon Yes, you are right. I had issues with stopping propagation on my Dialog wrapper, but your answer cleared up things for me and that would be the best solution. Thank you.

[2019-10-15 15:33] dspatoulas commented on #16912
In my use case, I have a grid container with cards inside of the grid items. Overriding the flexWrap property fixes the issue I had (similar to the one @yduman posted above). This solution does have the drawback that containers will no longer wrap correctly (resulting in my cards no longer auto flexing to the next row), but is better than the card flexing across the screen IMO. Hopefully, this iss

[2019-10-15 15:41] marcusjwhelan commented on #10468
@oliviertassinari this does not work if there is root styling. If you have styling on root that root styling overrides any other styling you want to apply to the label on shrink state.

[2019-10-15 15:47] oliviertassinari commented on #10468
Make sure the specificity of the CSS you generate is correct. Do you have a reproduction?

[2019-10-15 15:50] oliviertassinari commented on #9342
Yes, it's possible, it's a requirement of the right-to-left support for the library.

[2019-10-15 15:51] stephenh commented on #17879
@eps1lon ah sorry about that, thanks!

[2019-10-15 15:54] oliviertassinari commented on #17875
@lcswillems Thanks for the feedback. I agree, I think that it's simpler to think of the breakpoints as values and not ranges. It's what #13448 plans to solve. Now, because the usage of down() should be significantly less frequent than the usage of up(), we can live with it for the coming months.

[2019-10-15 15:54] #17875 closed

[2019-10-15 16:06] beaudry commented on #17774
The issue can also be seen on the documentation pages where there is no scrollbar (such as the [z-index](https://material-ui.com/customization/z-index/)) when hovering the "Change Language" button.

[2019-10-15 16:07] stephenh commented on #15777
@eps1lon so, I'm not really following; @takakobem and I want to do the same thing, of purposefully restricting our styles def to known-good class keys, i.e. your comment here:

Ah, okay, I see, you're right; FWIW I'm using `createStyles` via the `withStyles` HOC, which doesn't catch that:

[code]

Granted, it looks like `withStyles` has some `any`s in it and HOC's in general are a pita to get type

[2019-10-15 16:11] Tokenyet commented on #13444
It might be a silly question, Doesn't animation of tabs work on ssr? I'm using Next with material-ui, but found out that the indicator won't be animated when tab selected. I used the code in [Customized tabs](https://material-ui.com/components/tabs/) section with Nextjs.

[2019-10-15 16:15] oliviertassinari commented on #13448
Thank you, everybody, for the feedback on this issue. The best proposal I can come up with is to change the mental model behind breakpoints. Instead of considering breakpoints as values and ranges. It will be simpler to consider them as values exclusively. In this context, `theme.breakpoints.down(x)` will match the screen width strictly below the breakpoint value of `x`. The between help would fol

[2019-10-15 16:16] beaudry commented on #17774
Adding `overflow: hidden` to the body fixes the problem since there is no scrollbar appearing when an element is placed below the screen.

[2019-10-15 16:16] marcusjwhelan commented on #10468
The label
[code]
where the css is

[code]

Is it that they both are applied on a `@media`? I need the root styles to be there but need them to change on shrink. The text just gets way too small.

[2019-10-15 16:18] hibearpanda commented on #16609
Had the same issue with Chip Avatar.

In local development it looks like this:
<img width="140" alt="Screenshot 2019-10-16 at 12 10 04 AM" src="https://user-images.githubusercontent.com/11482515/66849795-1f4b0600-efaa-11e9-896b-9cd02a3ef4d8.png">

<img width="424" alt="Screenshot 2019-10-16 at 12 16 33 AM" src="https://user-images.githubusercontent.com/11482515/66849933-63d6a180-efaa-11e9-8778-292

[2019-10-15 16:29] hibearpanda commented on #16374
Found this via #16609

I'm currently on `4.5.1` and have the same issue:
[code]

[2019-10-15 16:29] #17890 closed

[2019-10-15 16:30] oliviertassinari commented on #17890
tip: check how our demos are structured.

[2019-10-15 16:45] oliviertassinari commented on #17887
What do you think of this fix?
[code]

From what I can observe, we have 2 jumps. 1. The first jump comes from the initial page load, the page jumps as soon as React hydration complete.
2. The second jump happens once the ad is loaded.
The above fix should eliminate 2. Now, [considering](https://www.similarweb.com/en/website/material-ui.com) that we have, on average 5 client-side navigation for eac

[2019-10-15 17:07] oliviertassinari commented on #17887
@Janpot It makes sense, I have updated my comment to include a mention to a `.description` patch to solve jump 1.

[2019-10-15 17:50] mbrookes commented on #17876
[code]

That doesn't seem unreasonable.

In that case should the children be displayed _over_ the image (rather than beside it)?

[2019-10-15 17:51] eps1lon commented on #15777
Problems arise when you do explicitly type your own class key e.g. `foo | bar` and then only pass `{ foo: {} }` to `withStyles`. Inside your component `classes.bar` would be `undefined` while the types assume it's a `string`. This doesn't cause crashes in the best case (e.g. just passing it to `className`) but could cause actual styling issues.

At least I think this is what would happen. It reall

[2019-10-15 17:52] eps1lon commented on #17879
No worries. Even with knowing that this came up before I had to browse 2 pages of issues.

[2019-10-15 17:57] stephenh commented on #15777
Cool! I'll see if my itch persists and try it out if I get a chance.

[2019-10-15 17:59] croraf commented on #16534
It would be nice to test it against original `react-jss` and report a bug there if happens. And also against `styled-components`.

[2019-10-15 18:05] benjaminaaron commented on #1911
For me it worked to set the width only for the cells in the header: `<TableCell width={'30%'}>`, this results in the columns for the entire table behaving as expected.

[2019-10-15 18:10] oliviertassinari commented on #17876
@mbrookes I don't know, the use case I had in mind is somebody that want to apply customizations. But maybe it's an edge case and more people would benefit from the fallback behavior.

[2019-10-15 18:17] pschlette commented on #17854
@eps1lon Using the `CSSProperties` seemed like a reasonable way to annotate variables holding some shared styles, like this (simplified a bit):
[code]

Sorry - I'm not sure what you meant by `*Styles`?

[2019-10-15 19:22] croraf commented on #17854
I was really in favor to use `@material-ui/styles` and make it as a peer dependency of `@material-ui/core`.

I think this is something suggested here also: https://www.styled-components.com/docs/faqs#i-am-a-library-author-should-i-bundle-styledcomponents-with-my-library

[2019-10-15 19:32] burtyish commented on #14246
@mbrookes you got it

[2019-10-15 19:47] Coglite commented on #17854
@oliviertassinari I can rewrite the implementation to use react-jss in a couple hours, but there is 1 thing i am unclear on how to solve, which is the use of the '$(pseudoClass)' variables scattered throughout the styles.
For example, the styles on the Button use '$disabled' and its effect on rule generation here
https://github.com/mui-org/material-ui/blob/master/packages/material-ui-styles/src/cr

[2019-10-15 21:17] emilyuhde commented on #17560
I'm working on a fix for this.

[2019-10-15 21:22] ka7eh commented on #12685
I'm getting the same error with `MenuItem`s in MUI 4.5.1.
I'm using the component as it was suggested for `Tabs`:

[code]

[2019-10-15 21:42] glennpatrickryan opened #17895 "SpeedDialActions TooltipClasses is ignored when tooltipOpen is true"
When using the `SpeedDialActions` component, I believe there is a bug for applying styles to the underlying `Tooltip` when the `tooltipOpen` prop is being used. I've tested the component without `tooltipOpen`, and the classes applied seem to be working as expected.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) o

[2019-10-15 21:52] glennpatrickryan commented on #17895
If this is indeed a bug, I would be open to looking into a fix and contributing to this project! I am new to open source contributions, so if this is labeled as a "good first issue", I would look into tackling it.

[2019-10-15 21:58] adeelibr commented on #17884
Hi,

I made a demo on codesandbox with a vertical button group.

Code: https://codesandbox.io/s/material-ui-vertical-button-group-o5dgf
Demo: https://o5dgf.csb.app/

does this help? @sasanrasouli

[2019-10-15 22:02] adeelibr commented on #17876
[code]

If this is up for taking can I work on it? :)

[2019-10-15 22:29] dmwyatt commented on #12527
@cclloyd What did you do to solve this issue?

[2019-10-15 23:43] dacharjaya commented on #8581
Using `displayEmpty ` on `select` with `shrink` in `label` solves the issue.

[2019-10-16 01:09] slipmat commented on #17884
I pushed up a PR which adds orientation to ButtonGroup, to see what folks think.

[2019-10-16 01:24] vksantoshsunny opened #17900 "Updating the material ui to the latest version of @material-ui/core missing the files MuiThemeProvider.js"
I removed my node_modules folder and did a fresh install of the @material-ui/core. Realized that it missed the files MuiThemeProvider.js and MuiThemeProvider.d.ts

I am having compilation problems as this is missing MuiThemeProvider.

## Context 🔦

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.5.1  |
| React       |    16.8.6     |
| Browser     |         |
| TypeScript  |

[2019-10-16 04:00] rahmatrhd commented on #17900
Can you give an example of how you import the `MuiThemeProvider`?

[2019-10-16 04:04] vksantoshsunny commented on #17900
import MuiThemeProvider from '@material-ui/core/styles/MuiThemeProvider'

[2019-10-16 05:01] sunshixiong789 commented on #17836
It's not the same problem,you shoud use createStyles
https://codesandbox.io/embed/k10p4yj8zr

[2019-10-16 06:43] Lilliance commented on #17900
I have same problem.
I inspected `4.5.0` and `4.5.1` release versions.
And now i sure `MuiThemeProvider` does not exist in `4.5.1` package but have in `4.5.0`.

[2019-10-16 07:43] shaunstoltz opened #17903 "Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
--------------^ Click "Preview" for a nicer view!

We use GitHub issues exclusively as a bugs and feature request tracker.

For support, please check out https://material-ui.com/getting-started/support/. Thanks!
what does that mean?

Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

[2019-10-16 08:01] oliviertassinari commented on #17843
I'm closing as the problem do no longer manifest on v4.5.1. It's not meant to stop the discussion.

[2019-10-16 08:01] #17843 closed

[2019-10-16 08:03] #17903 closed

[2019-10-16 08:03] gdarchen commented on #14860
Hello!

You can also exclude the URL as follows:

1. Go on [LastPass](https://lastpass.com/) and connect to your account
2. Go in the `Account parameters` section
3. Navigate to the `URL Exclusions` tab
4. Add an exclusion for your page such as `http://localhost`

Hope this helps!

Best regards :relaxed:

[2019-10-16 08:34] merceyz commented on #17900
`@material-ui/core/styles/MuiThemeProvider` is a private file path, import it from `@material-ui/core` or `@material-ui/core/styles` instead

[2019-10-16 09:11] Tarni-Baghel opened #17904 "Module not found: Error: Cannot find file: 'popper.js"
Hello All,

I am not able to run a project react(Typescript) with material-ui components. I am using storybook for making components, but it is showing an error in Windows Machine, but i run from Linux, it is working properly

Below is an error code, node version, and npm version

**Node Version: v10.15.3**
**Npm Version: 6.4.1**

**Error**
ERROR in D:/wms-app/node_modules/@material-ui/core/esm/Po

[2019-10-16 09:23] TrySound commented on #17904
Looks like the problem either with storybook or with webpack which is used under the hood. There is nothing to do with material-ui.

[2019-10-16 09:33] emirotin commented on #11646
This is [still the case](https://github.com/mui-org/material-ui/blob/3a64d1729425a9ea927125533f23009796ba2b06/packages/material-ui/src/Select/SelectInput.js#L271-L273) and I think it was not before v4 as we've got some of our components styles broken.

I think this behavior is
a) superfluous,
b) backward-incompatible (which is fine given the major release but as far as I've noticed not mentioned a

[2019-10-16 09:35] #17904 closed

[2019-10-16 09:41] oliviertassinari commented on #17895
You should use different class names per
https://github.com/mui-org/material-ui/blob/0f28b62cc9d5b1c070f8959abb7eb9458e42c417/packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js#L124-L142

[2019-10-16 09:41] #17895 closed

[2019-10-16 10:23] Floriferous opened #17905 "[Slider] Custom tooltip ignores valueLabelFormat and valueLabelDisplay"
When you use the Slider with a custom ValueLabelComponent, it ignores the passed `valueLabelFormat` and `valueLabelDisplay`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When you provide a custom component it gets the raw numbe

[2019-10-16 10:36] Tarni-Baghel commented on #17904
Everything is working with Linux machine, I have downgraded the node version and it is the same as the Linux machine.
but it is not working, please help Here is my screenshot please check.

![image_2019_10_16T10_34_24_182Z](https://user-images.githubusercontent.com/52647964/66911721-b8bbfb80-f02e-11e9-800e-c3ba84b30ed3.png)

[2019-10-16 10:54] sasanrasouli commented on #17884
@adeelibr thank you, dude.

[2019-10-16 10:56] adeelibr commented on #17884
If this resolves your issue, can you kindly close this issue? :) @sasanrasouli

[2019-10-16 10:59] doberkofler opened #17906 "eslint import plugin reports error when importing 'Theme' from '@material-ui/core/styles'"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm importing the Material-UI type `Theme` in my TypeScript application:

[code]

Everything seems to work as expected except for my eslint import plugin that reports the `Ensure name

[2019-10-16 11:26] zepatrik opened #17907 "[TextField] enhance css api"
The `TextField` has a very limited CSS Api. I had a look into all the used components and can understand why you would not want to expose all of their CSS Apis. But the current situation is probably even worse.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

My special use case: I have tw

[2019-10-16 13:50] AugustoPedraza opened #17908 "React Application with Material-UI not working on IE 11"
I'm using React on Rails server thanks to the gem react-rails(2.5.0). The application works great on Safari, Chrome, Firefox and even MS Edge.

But it's failing for IE 11:
![image](https://user-images.githubusercontent.com/1100414/66924993-09692f80-f002-11e9-9acd-963e7cd9826a.png)

| Tech        | Version |
| ----------- | ------- |
| @material-ui/core | v4.4.2  |
| React       |  16.8.6       |
|

[2019-10-16 14:07] eps1lon commented on #17908
That looks like an issue with Symbol.for though

[2019-10-16 14:10] hibearpanda commented on #16374
Wanted to create a reproduction for you. Sorry for the rushed reply yesterday - was leaving the office.

I've created a repo https://github.com/idisclosure-legalx/mui-chip that demonstrates the issue with Next. Please let me know if there's anything else I can help with.

[2019-10-16 14:29] ccmartell commented on #17843
Sorry for the delay.

I can confirm that the behavior in v4.5.1 matches my expectations.

We use a fork of [Canvas Datagrid](https://github.com/TonyGermaneri/canvas-datagrid) and our own code. The field editor was lacking for our use (we use a lot more than just strings and text) but we really liked the virtualization that's present through using a canvas spreadsheet rather than trying to use a re

[2019-10-16 15:32] eps1lon commented on #17908
@AugustoPedraza Are you using some `Symbol` polyfill?

[2019-10-16 15:34] vksantoshsunny commented on #17900
Thank you.

[2019-10-16 15:59] defusioner commented on #17199
@feluxe Have you found what you've being searching for?

[2019-10-16 16:35] ryancogswell commented on #17888
For reference (in case others find this issue in the future), this was addressed in StackOverflow: https://stackoverflow.com/questions/58397636/animation-not-triggering-when-using-material-ui/58404742#58404742. It was not a Material-UI bug, but rather an implementation detail of the `TouchRipple` that exposed a problem with the CSS transition approach being used.

[2019-10-16 17:03] AugustoPedraza commented on #17908
After see the issue #15833, I updated to the version 4.5.1  and the error gone away.

Thanks a lot for the help!

[2019-10-16 17:03] #17908 closed

[2019-10-16 17:16] chrtz commented on #14296
Not sure if I get this right, but wouldn't `font-display: swap;` solve this, too?
Sure, this doesn't work in IE or Edge - but might help as well.

[2019-10-16 17:30] aaadipop commented on #10235
related to @jacobweber answer, the magic `margin: auto` instead of `flexShrink: 0` works for me :)

[2019-10-16 17:49] RodSwanston opened #17909 "[Table] Allow multiple header rows (Group)"
It would be great if you could add possibility to have multiple header rows

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The output table should have multiple header rows, it should look something like this:

![](https://user-images.githubusercontent.com/5377501/38248563-731cf9f4-3751-

[2019-10-16 20:19] merceyz commented on #17906
Seems to be a bug in `eslint-plugin-import` https://github.com/benmosher/eslint-plugin-import/issues/1341

[2019-10-16 20:23] adeelibr commented on #17764
@skenypatel You need to update the value prop documentation in file`packages\material-ui\src\Select\Select.js` 😄

Particularly on Line no 190 as show below 😄

https://github.com/mui-org/material-ui/blob/0f28b62cc9d5b1c070f8959abb7eb9458e42c417/packages/material-ui/src/Select/Select.js#L190-L195

[2019-10-16 21:26] oliviertassinari commented on #17909
What about?
[code]

![Capture d’écran 2019-10-16 à 23 25 50](https://user-images.githubusercontent.com/3165635/66960208-4ec24700-f06c-11e9-9d0e-fa7b80e3a400.png)

[2019-10-16 21:29] oliviertassinari commented on #17907
This looks good to me. Notice
1. If you don't use theme nesting, you don't need the class name patch prefix, you can match exactly. This would be my preferred approach.
2. you can target each element with the `xProps` props, e.g. `InputLabelProps` or `InputProps`.

[2019-10-16 21:29] #17907 closed

[2019-10-16 21:30] #17906 closed

[2019-10-16 21:38] slipmat commented on #17905
That's not how the API works, this API enables you to replace the default ValueLabel with your own.

In your codesandbox's `FormatTooltip`, log out the props and you will see that you have `valueLabelDisplay` and `valueLabelFormat`.

You just need to call `title={valueLabelFormat(value)}` and then use valueLabelDisplay to determine what component is returned.

Refer again to
[ValueLabel.js](https:

[2019-10-16 21:54] oliviertassinari commented on #17905
@Floriferous I agree, this sounds like a valid request. It's the only use case for the `valueLabelFormat` prop. If somebody provides value different from the default identity function, I think that we can as well use it.

No objection either, we could move the logic to the parent. This makes sense.

In practice, I think that the changes will look something like:

[code]

I'm wondering if we should

[2019-10-16 22:15] feluxe commented on #17199
@defusioner I didn't have the time to dig deeper into the issue. We decided not to use `mui` for now, because we have a lot of code that uses `emotion` already.

[2019-10-16 22:18] oliviertassinari commented on #17199
@defusioner You can target the global class names. e.g.
[code]

[2019-10-16 22:25] oliviertassinari commented on #5085
@wbstow In practice, you would like to see this diff land?
[code]

[2019-10-16 22:33] oliviertassinari commented on #14296
@chrtz Agree, it's even what we encourage with the documentation (`&display=swap`). Browser support is kind of OK: https://caniuse.com/#search=font-display. I would propose that we close the issue.

[2019-10-16 22:34] oliviertassinari commented on #17908
@AugustoPedraza Great! Does it work with deepmerge v4.1.1?

[2019-10-16 22:42] wbstow commented on #5085
@oliviertassinari It's up to you - with `event.currentTarget.value` I am getting the _index_ of the selected item and the `currentTarget` is the select element. With `event.target` I am getting the _value_ of the selected item and `target` is an object: `{ value: "TheValue", name: undefined }`.

Having access to both might be useful to some, but I think it might be confusing to differentiate acces

[2019-10-16 22:46] wbstow commented on #5085
If you're trying to keep the signalling of the `currentTarget` in line with what happens in the DOM, then `currentTarget` should really be the element that the event handler was attached to, but I don't know if anyone cares about such things.

I corrected my last comment: `currentTarget` in this situation is the selected `LI` element, not the `Select` element.

[2019-10-16 22:48] wbstow commented on #5085
Sorry - one more correction: With `currentTarget.value` it's not even the _index_ of the selected item. It's just a zero (`0`), no matter which item is selected.

[2019-10-16 22:49] oliviertassinari commented on #5085
I don't think that we change it, event.target should be prefered.

[2019-10-16 22:50] wbstow commented on #5085
OK, I had standardized on using `currentTarget` because I always want to get the value of the thing I attached the `onChange` handler to. That does seem to be working with all the other `@material-ui/core` inputs.

Whatever you decide is fine with me, just pointing it out.

Thanks!!

[2019-10-16 22:52] wbstow commented on #5085
To make my Selects work, I simply created a different version of my `useInputValue` hook, which uses `currentTarget` called `useInputTargetValue` - so it's no big deal for me to alternate between these as necessary:

[code]

[2019-10-16 23:08] #17866 closed

[2019-10-17 03:24] #17849 closed

[2019-10-17 05:28] aditya81070 commented on #13448
@oliviertassinari Thanks a lot for this and importantly using hooks in v4. The material-UI is now more easy to use because of hooks.

[2019-10-17 05:29] doberkofler commented on #17906
@oliviertassinari Thank you for your help!

[2019-10-17 06:24] shashikant88093 commented on #1467
<Dialog
title="Dialog"
     fullwidth={true}
maxWidth ={"md"}>
try this one

[2019-10-17 06:51] defusioner commented on #17199
I've started to use emotion with `@emotion/react` package which provides `css` and `jsx` functions, but got blocked with mui classes override in the runtime (not theme). I've looked through and finally I'm using `emotion` basic package which provides both `css` and `cx` (classnames emotion helper).

So finally I create a `Component.css` file that exports styles using styled-components-like syntax

[2019-10-17 07:18] flycj opened #17915 "Why is the color of borderBottom and borderTop different?"
For details, please click on the link to view

https://codesandbox.io/s/material-demo-iebfx

How should I correct it?

material-ui version 4.5.1

[2019-10-17 07:33] eps1lon commented on #16494
Having dived more into how accessible names are computed I can only see a benefit with not having to provide ids which would be quite nice since it gives less opportunity to make mistakes.

If somebody wants to work on this I would suggest making this work for
[code]
-- https://material-ui.com/components/text-fields/#components

Then we'll see how we can incorporate this approach into TextField an

[2019-10-17 08:10] #17887 closed

[2019-10-17 08:12] #14246 closed

[2019-10-17 09:13] oliviertassinari commented on #17199
@defusioner Does the `emotion` package correspond to a deprecated older version of the library? It should be working with the latest version. We have a demo in the documentation.
https://material-ui.com/guides/interoperability/#emotion

[2019-10-17 09:15] #17774 closed

[2019-10-17 09:22] defusioner commented on #17199
@oliviertassinari I'm speaking about `https://www.npmjs.com/package/emotion` package that is the agnostic version of emotion library. This is the latest one (10.x as all others).

What is missing in the doc, is this example (passing an emotion class to the mui component):

[code]

[2019-10-17 11:28] oliviertassinari commented on #16976
I'm personally in favor of moving forward because 1. on Chrome, if you click a button (it gives it the focus), if you cmd+tab to move away and come back, you won't get the focus outline. 2. We can easily revert based on https://github.com/WICG/focus-visible/issues/167 outcome.

[2019-10-17 11:37] pedronfigueiredo opened #17917 "Failing tests with `capitalize` import"
I'm getting a few errors where I'm using the capitalize function on my codebase.

[code]

here's the version info

[code]

Can you give me any pointers on this issue? Thanks!

[2019-10-17 11:49] oliviertassinari commented on #17917
These are private import paths.

[2019-10-17 11:49] #17917 closed

[2019-10-17 12:03] ConAss1 commented on #17692
@tommybernaciak :
I encountered the exact same problem while trying to control an `ExpansionPanel` via the `expanded` prop.
After a bit of trial and error I realised that in order to get rid of the error I had to make sure `ExpansionPanel` has a child `ExpansionPanelSummary`.

This is either a bug or an undocumented requirement.

[2019-10-17 12:20] tommybernaciak commented on #17692
@ConAss1 thanks I will check.

[2019-10-17 12:21] abraaobuenotype commented on #17915
this is a possibility

![image](https://user-images.githubusercontent.com/25363790/67008249-7c84ab80-f0bf-11e9-8559-1da99585b63b.png)

[2019-10-17 12:41] pedronfigueiredo commented on #17917
That solved it! Thank you 🙌

[2019-10-17 12:42] oliviertassinari commented on #17199
@defusioner Thanks for the link, so it's not deprecated! The Tooltip case is interesting, as the tooltip escape the parent hierarchy. This makes the usage of the css prop a challenge. We document ta workaround for styled-components: https://material-ui.com/guides/interoperability/#portals. I don't know how we can approach the same problem with emotion 🤔.

In the case of @feluxe, it's much simpler,

[2019-10-17 12:45] flycj commented on #17915
Oh, thank you very much. This way is normal.
But I think that in the way I wrote, this is a bug.

[2019-10-17 12:47] defusioner commented on #17199
@oliviertassinari I like much the approach of separating css-in-js "classes" into a separate file. I also find styled components approach of "decorating" components not brilliant in the way the final code looks like.

I've liked the approach of this `cx(css)` usage because it keeps component's tree clean and is usable naturally as if there was no css-in-js.

[2019-10-17 12:57] JDansercoer opened #17918 "Why was a breaking change introduced in a patch version?"
For one of our repo's, this turned out to be a breaking change. Why was this introduced in a patch version? Not really following semver is super impactful..

[2019-10-17 13:02] adeelibr commented on #16976
okay, picking this ticket up then 👍

[2019-10-17 13:09] abraaobuenotype commented on #17915
yes ... seems to be a bug

[2019-10-17 13:28] theunreal opened #17919 "Cards have no RTL support"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

My react app is RTL - expect the material cards.

This is how it looks like:
![image](https://user-images.githubusercontent.com/6171883/67012131-7f9c8d80-f0f9-11e9-8fb4-3f4371925b5d

[2019-10-17 13:31] eps1lon commented on #17918
Emphasis on the documentation. The PR should not affect existing code with a breaking change.

Could you include an example that is working different now?

[2019-10-17 14:02] TobyGWilliams commented on #17791
@ptitjes If possible, could you share your tsconfig? I'm on the same packages as you and have tried replicating #17864 and had no luck with that either (including reset node_modules)

[2019-10-17 14:54] emilyuhde opened #17920 "SnackbarContent - Convert unit tests to @testing-library/react from Enzyme"
https://github.com/mui-org/material-ui/pull/17897#discussion_r335333949

Based on a PR feedback when adding a new unit test for SnackbarContent, it came up that these unit tests still need to be converted to `@testing-library/react` from Enzyme.

[2019-10-17 14:54] emilyuhde commented on #17920
I'm working on this issue.

[2019-10-17 15:46] vcasasc commented on #17355
any solution?

[2019-10-17 15:51] oliviertassinari commented on #17355
Do you guys experience the issue with the Tabs demos?

[2019-10-17 16:27] oliviertassinari commented on #17355
While we have a broader issue with the outlined, I propose that we focus on the tabs demos. I think that we can improve performance and dodge this problem with the following fix (example with one tab demo, to apply to all of them).

We can replace:
https://github.com/mui-org/material-ui/blob/5d564f9c1be5bf20b51be1a479d292bf443291ba/docs/src/pages/components/tabs/SimpleTabs.tsx#L18-L28

with

[code

[2019-10-17 16:50] RodSwanston commented on #17909
This can work. Didn't know you can put two `TableRow` in a `TableHead`  I will try it

Thanks!

Also I think this have to be part of the docs

[2019-10-17 16:52] oliviertassinari commented on #17884
I have added the `waiting for users upvotes` tag. I'm not sure people are looking for such abstraction. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2019-10-17 16:52] oliviertassinari commented on #17884
@adeelibr, @slipmat Thanks for the help on this feature request.

[2019-10-17 16:56] oliviertassinari commented on #17909
Agree, it's something to document, and potentially to improve the UI.

[2019-10-17 17:19] XDini117 commented on #17909
Hi (: I tried to do it with my example but a white line appeared between the head rows... tried to change the theme, even styles and got nothing... any advice?
![Screenshot from 2019-10-17 12-10-17](https://user-images.githubusercontent.com/36645803/67031434-24f23a00-f0d7-11e9-8281-8b0b768c0cec.png)
The same with the example edited in CodeSandbox
![Screenshot from 2019-10-17 12-13-41](https://user

[2019-10-17 17:22] GabeCabrera commented on #13366
I am receiving this same issue however i'm using the latest version of Material-UI

[2019-10-17 17:43] XDini117 commented on #17909
I finally found the solution, was that tiny pixel...
[code]

[2019-10-17 18:12] #17919 closed

[2019-10-17 18:14] oliviertassinari commented on #17919
I have seen 3 problems:
- The reproduction is incomplete, it seems to miss the API server (port 3001)
- Bootstrap break the RTL support, I would encourage you to remove this dependency.
- You need to inline the critical CSS in the server-side rendered response.

[2019-10-17 18:28] theunreal commented on #17919
Thanks, it was indeed the bootstrap import that caused it. Closing this issue.

[2019-10-17 18:32] oliviertassinari commented on #17919
Did you try https://material-ui.com/components/grid/?

[2019-10-17 18:37] theunreal commented on #17919
Will do, thanks.

[2019-10-17 18:45] oliviertassinari commented on #17918
I suspect a duplicate of #17900.

[2019-10-17 18:52] oliviertassinari commented on #17918
We might want to introduce the module back, with a big warning, at least it wouldn't break people code.

[2019-10-17 18:58] JDansercoer commented on #17918
Thing is, builds were still working, so I don't think it's related to that issue.
It was still running correctly, but `injectFirst` stopped working.

I'll try to create a minimal repo tomorrow.

[2019-10-17 19:01] oliviertassinari commented on #17918
@JDansercoer Oh, then it's likely a duplicated @material-ui/styles module in your bundle. It's an issue that hit people since v4.0.0. The change you have linked to was precisely designed to prevent it from happening in the first place. I'm closing, until we have a reproduction.

[2019-10-17 19:01] #17918 closed

[2019-10-17 19:10] jmaloon opened #17921 "Add onClick functionality to Rating component"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
An `onClick` prop should trigger a function each time any value (selected or not) is clicked.

## Motivation 🔦
I have a form that triggers a state change when the rating value is selected. If the user clicks on a already selected value, the fu

[2019-10-17 19:23] franklixuefei commented on #12432
FYI - I just hit it as well after upgrading yarn.
[code]

I'll try the `.yarnrc` hack.

[2019-10-17 19:31] oliviertassinari commented on #12432
FontAwesome is a bit larger than us: https://packagephobia.now.sh/result?p=%40fortawesome%2Ffontawesome-free.

[2019-10-17 19:45] franklixuefei commented on #12432
@oliviertassinari Interesting... Yes 9.60 MB is small enough TBH, given this is a lib with bunch of svg data. I'm pretty sure this is due to some blip in yarn or even my network traffic (even though it repro'ed multiple times consistently). I tried the network timeout hack and it works.

[2019-10-17 19:50] smcalilly commented on #1911
I set the column widths with the percentage and it sort of works, but for some reason, it adds a phantom column on the far right. Via inspecting the element, it appears to add a "TableStubCell" element to the table. I have no idea where that came from.

I've had similar issues with other MUI tables, and my work-arounds are never that great. Would be cool if y'all opened up this issue and fixed it.

[2019-10-17 20:02] oliviertassinari commented on #17921
@jmaloon Thanks for the feedback. How can we reproduce the problem?
Do you want to solve the typo?

[2019-10-17 20:07] AliYmn opened #17922 "Container Component align property's Bug in Edge Browser"
Hi,

my Container component's  **align="center"** doesn't work in edge browser, like this;
[code]
how to fix them? thank you...

[2019-10-17 20:27] AliYmn opened #17923 "Menu Click Bug"
Hi, i have interesting problem. When i click menu, some components edges disappear... like my dreams :)) anyway let's go back to the topic.

**if you want to understand me**, you should watch this video. Becasue i recorded page in material ui site for this bug. :  [https://streamable.com/8y7rm](https://streamable.com/8y7rm)

In my site;
Before page :
<img src="https://raw.githubusercontent.com/Ali

[2019-10-17 20:33] jmaloon commented on #17921
I created this sandbox to reproduce the feature request. See the console logs when interacting with the Rating component. https://codesandbox.io/s/nifty-heyrovsky-f8oq0

There isn't really a problem as it stands. Currently the `onChange` will on trigger the callback only if the value changes. What i'm proposing is a new feature (`onClick`) that would trigger on every click.

I can fix the typo and

[2019-10-17 21:09] slipmat commented on #17876
Just to clarify my understanding of this thread.

Was wondering if you see fallback, covering the un-happy path, where src does not load and an `onError` occurs ?

When using `src` (or `srcSet`), I saw `children` as a fallback for the `onError` condition.
Whilst you have the `alt` prop, it does not look so great in practice, with style, `borderRadius: 50%`

Also, worth mentioning one of your other

[2019-10-17 21:47] adeelibr commented on #17909
Can I add a new demo with multiple Table header rows, if that's okay? @oliviertassinari

[2019-10-17 22:14] #17921 closed

[2019-10-17 22:16] oliviertassinari commented on #17921
@jmaloon Thank for the reproduction, the onClick already exist and the onChange behavior is correct.

[2019-10-17 22:23] #17922 closed

[2019-10-17 22:25] #17923 closed

[2019-10-17 22:57] slipmat commented on #17915
It's because System's `borders.js` only sets border style and the border-width in `getBorder`.
https://github.com/mui-org/material-ui/blob/master/packages/material-ui-system/src/borders.js

If you do not specify a color, the browser uses the text color, by default, which explains what you are seeing.

Another issue highlighted this, so I created a PR which might help resolve.
https://github.com/mu

[2019-10-17 23:46] hburrows commented on #17895
@oliviertassinari Correct, the documentation does mention the "staticTooltip" classes.  But the Props emphasize all things "tooltip" (i.e. `TooltipClasses`, `tooltipOpen`, `tooltipTitle`, etc).  So it just seemed (to me at least) like the right place to customize the tooltip was with `TooltipClasses`.  I would suggest the documentation add an explanation about the use/difference between `tooltip`

[2019-10-18 01:56] abraaobuenotype commented on #17915
@slipmat your solution is interesting, but I agree with @flycj, I think it should work the way it is.

it seems that this problem is only presenting to the border-bottom.

It is strange that he set the colors to top, right, left and only bottom not. I took a quick look at source and it's not looking like a problem with @ material-ui, maybe a 3d party lib. As it says in the w3c doc (https://www.w3s

[2019-10-18 02:04] bradwray commented on #13875
My workaround is to name my accent color "error"... and tweak its hex code in the createMuiTheme... it feels wrong.

[2019-10-18 02:07] mbrookes commented on #17915
@abraaobuenotype You quoted w3schools. You are disqualified! 😄 (Just FYI, w3schools is not w3c by any stretch. In fact they are known for their technically inept content.)

[2019-10-18 02:15] abraaobuenotype commented on #17915
flying kick!!!

apparently css behaves as it is in this documentation, that's what I wanted to show

[2019-10-18 06:05] #17560 closed

[2019-10-18 07:02] bureson commented on #17752
@oliviertassinari it looks like the issue is not specifically with CardActionArea, but `button` element in general. In IE11 `button` doesn't seem to be propagating drag event to its parent and therefore CardActionArea does not as well: https://stackblitz.com/edit/react-hvkvrt?file=Card.js

[2019-10-18 07:27] tanmayrajani commented on #13473
We already have Optional sizes demo here: https://material-ui.com/components/dialogs/#optional-sizes

I think we can close this.

[2019-10-18 08:22] JDansercoer commented on #17918
All right, here's my example @oliviertassinari.

First the working example: https://codesandbox.io/embed/bold-yalow-jjg30
Then the broken example: https://codesandbox.io/embed/musing-snowflake-4oxbe

As you can see, the second button should be red, while in the broken example, MUI styles are taking precedence again.

Only change I did, was upgrade `material-ui/core` from **4.3.1** to **4.5.1**. `m

[2019-10-18 08:40] oliviertassinari commented on #17918
You need to upgrade both at the same time. You would experience the same problem with any of our releases since v4.0.0.

[2019-10-18 08:50] TobyGWilliams commented on #17791
Upgrading from typescript 3.5.3 to 3.6.4 is what caused this problem to appear for us.

[2019-10-18 08:51] #17674 closed

[2019-10-18 08:59] renemroger opened #17925 "Dynamically loading Icons for components."
I need to load icons in .ico format; they are coming from currently opened tabs in my browser. And I want to display them instead of the default icons from material-UI. Is there a way to do that?

https://material-ui.com/components/tree-view/#gmail-clone

I want to do something similar to the link above but dynamically loading my custom icons.

[2019-10-18 09:10] #16976 closed

[2019-10-18 09:14] #1462 closed

[2019-10-18 09:18] #17925 closed

[2019-10-18 09:39] oliviertassinari commented on #13473
@tanmayrajani The issue is from a UX (user) perspective, not DX (developer). The issue is about reproducing a similar experience to: https://jsfiddle.net/p7o2mkg4/.

[2019-10-18 09:44] oliviertassinari commented on #17895
@hburrows Thanks for the feedback. I propose we keep this issue as a reference for people facing the problem. We can consider a better solution if the concern keeps coming up. Alternatively, we can improve the description of the props to mention. Any suggestion is welcomed.

[2019-10-18 10:20] #17764 closed

[2019-10-18 10:26] mercuriete commented on #1462
Thanks :-)

[2019-10-18 11:32] lcswillems commented on #8313
What about Next.js `Link` component? It doesn't have a `to` property but a `href` one.

How could I add a link to a `tab` using the Next.js `Link` component?

[2019-10-18 11:49] AliYmn opened #17927 "Menu Click Bug"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Hi, i have interesting problem. When i click menu, some components edges disappear... like my dreams :)) anyway let's go back to the topic.

if you want to understand me, you should wa

[2019-10-18 11:53] AliYmn opened #17928 "Container Component align property's Bug in Edge Browser"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hi, my Container component's align="center" doesn't work in edge browser, like this;

[code]

## Expected Behavior 🤔
But, In edge browser "center" doesn't work.

## Your Environment 🌎

[2019-10-18 12:20] oliviertassinari commented on #8313
This solution should still be valid: https://material-ui.com/guides/composition/#routing-libraries

[2019-10-18 14:12] raza2022 commented on #11653
is there any default way to achieve it, as if I override the theme js then it will effect the tab in whole application, but I wanna this in only two components?

[2019-10-18 15:29] oliviertassinari commented on #17699
@cvolant On a side note, the issue use case looks wrong.

[2019-10-18 17:17] lcswillems commented on #8313
Thank you for the answer!

[2019-10-18 18:11] mbrookes commented on #11653
@raza2022 you can apply @nvdunginest's suggestion locally:
https://material-ui.com/customization/components/

[2019-10-18 18:45] lima-william commented on #2076
Thank you so much!!!! I have been searching for this fix for a while, and yours is the only one that worked !

[2019-10-18 20:08] joshwooding commented on #17871
On GitHub, everything seems to have `cursor: pointer` 😅

[2019-10-18 20:27] eps1lon commented on #17871
In the browser I would agree. Using ubuntu + gnome I rarely see them on native UI (e.g. menubars, shortcuts)

[2019-10-18 21:25] South-Paw commented on #6115
Hi all, where is this ticket at currently? I'd be more than happy to get involved and write some styled components for MUI if that is indeed the direction the project is heading in v5

[2019-10-18 22:17] mbrookes commented on #17871
However the demo at the beginning of that page uses `cursor: pointer` on the elements used to select the pointer type to to view.

[2019-10-18 22:23] mbrookes commented on #13473
@abhijeetahuja One thing I would suggest is setting a minimum width and height. At the moment it's possible resize the dialog smaller than its contents minimum size.

[2019-10-18 23:06] rayy-lo commented on #17909
Hello! Is anyone working on this? This is my first contribution and would like to give this a shot.

[2019-10-18 23:12] mzbyszynski opened #17932 "FormControlLabelClassKey typescript type missing a few values"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When using Typescript the compiler complains if you try to customize the following css classes on `FormControlLabel`:
* labelPlacementStart
* labelPlacementTop
* labelPlacementBottom

[2019-10-19 05:36] eps1lon commented on #17871
We can find dozens of contradicting examples. None of which relate to the statement you quoted. I already said that I'm aware that definition is mostly ignored. No need to make clever remarks about contradicting examples

[2019-10-19 08:37] oliviertassinari commented on #17850
@hburrows Will you have the time to solve the problem in the repository?

[2019-10-19 08:38] #14296 closed

[2019-10-19 08:41] #9136 closed

[2019-10-19 09:17] oliviertassinari commented on #17932
@mzbyszynski Thanks for the report, what do you think of this fix?
[code]

[2019-10-19 09:38] kkaplita opened #17936 "Grid and specified breakpoint options"
Hi!

I have one question about MuiGrid Component... There is only option `spacing`... What can i do in this scenario? I'd like to set **spacing based on breakpoints**, for example... for `xs` set `spacing={1}` and for `lg` - `spacing={2}`?

[2019-10-19 09:41] mehrdad-shokri commented on #17043
@marcio readOnly prop is added on new feature

[2019-10-19 10:07] Cyrus-d opened #17937 "Unable to set the tabindex of html element within the Modal"
Apparently the `tabindex` of the Html element get overwritten by Modal component.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
the `tabindex` of Html element overwritten by modal.

## Expected Behavior 🤔
modal should retain the

[2019-10-19 11:35] oliviertassinari commented on #17937
@Cyrus-d Thanks for the bug report. What do you think of this fix?
[code]

Do you want to submit a pull request? :)

[2019-10-19 12:10] oliviertassinari commented on #17408
I propose the following solution:
[code]

Does anyone want to work on it? :)

We have a reproduction example in https://github.com/mui-org/material-ui/issues/16565#issuecomment-542105521 to try it out.

[2019-10-19 12:13] oliviertassinari commented on #16565
I propose the following solution to problem n°1 (this issue). It's based on https://css-tricks.com/dangers-stopping-event-propagation/ recommandations. I like how it reduces the bundle size and give developers some control with `event.muiHandled`:

[code]

[2019-10-19 12:21] oliviertassinari commented on #17190
We can reproduce the problem without the swipeable drawer: https://codesandbox.io/s/react-beautiful-dnd-swipeable-drawer-x5688. I'm closing.

[2019-10-19 12:21] #17190 closed

[2019-10-19 15:05] hburrows commented on #17850
@oliviertassinari Yes.  I should be able to get a PR together in the next couple of days.

[2019-10-19 15:55] Cyrus-d commented on #17937
@oliviertassinari the fix looks good, however, it won't work with Dialog component because of [line 218](https://github.com/mui-org/material-ui/blob/f8080a63b34052c405f60f2ed4222dcb04b10284/packages/material-ui/src/Dialog/Dialog.js#L218) (Fade component).

[2019-10-19 16:03] oliviertassinari commented on #17937
What's your use case for a different tab index?

[2019-10-19 16:04] Lavoaster commented on #17276
I can open a new issue for this, but I figure this is basically the same issue. Buttons work, but the checkboxes are still affected.

See: https://codesandbox.io/s/create-react-app-4stgk

[2019-10-19 16:13] oliviertassinari commented on #17276
@Lavoaster I can't reproduce it. What environment are you using? Do you have a screenshot,

[2019-10-19 16:25] Lavoaster commented on #17276
@oliviertassinari Sorry, I just realised that the issue is a little bit different.

In this case if you try to check the box in the header, whilst a checkbox is beneath it, it checks the the one beneath the sticky header.

I'm on mac OS 10.15, with Chrome`77.0.3865.120`, I also tested this in safari and the same issue occurs.

[2019-10-19 16:36] oliviertassinari commented on #17276
I can reproduce it too. The z-index: 1 added in #17389 conflicts. What about increasing the z-index to 2 for the sticky header?

[2019-10-19 16:36] Cyrus-d commented on #17937
Noticed the problem while using TextField inside tippy.js popover, here is the sandbox:

[https://codesandbox.io/s/material-demo-81p3j](https://codesandbox.io/s/material-demo-81p3j)

The material-ui popover is working fine, but i like the tippy.js transitions :)

it's not a big deal really; the PR #17939 will solve the problem and i won't use Dialog component for it.

[2019-10-19 16:39] oliviertassinari commented on #17937
@Cyrus-d For the Dialog, you should be able to work around the issue with the `TransitionProps` prop.

[2019-10-19 16:42] Cyrus-d commented on #17937
thanks for the suggestion, will try that.

[2019-10-19 16:50] slipmat commented on #16528
I've a fix for this... will push up a PR later

[2019-10-19 17:29] leMaik commented on #16565
Regarding problem No 2: We should add the move listener to the paper only. That would solve the issue and also I just compared MUI's swipeable drawer with Android's native one:

MUI: swipes while swiping on the backdrop
Android: swipes only when touching the paper, not while swiping on the backdrop, but the swipe can start on the backdrop, though

[2019-10-19 17:33] oliviertassinari commented on #16565
@leMaik If you don't mind, let's move the discussion for point 2 in #17408.

[2019-10-19 17:38] oliviertassinari commented on #17408
@leMaik I confirm your observation, the Android wait for the touch move to be over the paper to handle it. I think that it would be great to reproduce it. Regarding this issue, I imagine it wouldn't impact it as if we have two swipeable drawers, we would need, right from the touch start event, decide which of the two swipeable drawers to consider?

[2019-10-19 17:39] leMaik commented on #17408
@oliviertassinari The start event can stay as it is, we just need to change the move event. You only have one drawer per screen edge, so the "target drawer" can be determined right away.

[2019-10-19 17:42] oliviertassinari commented on #17408
Agree about handling it in the move event. I hope it will have a small overhead.

[2019-10-19 17:42] leMaik commented on #17408
Regarding the start event: We already use that one to determine what is being swiped: https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js#L329

[2019-10-19 17:52] oliviertassinari commented on #17408
Right, I propose to replace it in #16565 (comment) with `event.handled`. Do we need to keep it?

[2019-10-19 17:57] leMaik commented on #17408
Yes, we need `nodeThatClaimedTheSwipe`, don't remove it! :scream: Otherwise, having multiple swipeable drawers won't work anymore (e.g. the demo in the docs).

[2019-10-19 17:59] oliviertassinari commented on #17408
Could you confirm that https://github.com/mui-org/material-ui/issues/16565#issuecomment-544137595 doesn't introduce a regression of multiple swipeable drawers? I have tested it, but better be sure :).

[2019-10-19 18:03] leMaik commented on #17408
@oliviertassinari The current behavior is that only one swipeable drawer can be open at the same time. I don't see how that could be done without checking if a swipeable drawer is already open.

I'm too lazy to copy/paste the parts of that git diff into my editor to try to get your code to work. Could you point me to your branch? :wink:

[2019-10-19 18:17] oliviertassinari commented on #17408
Thanks for the confirmation! I'm sorry, I haven't created a branch. I have erased the change from my env.

[2019-10-19 18:54] Lavoaster commented on #17276
@oliviertassinari That makes it work for me.

[2019-10-19 19:01] oliviertassinari commented on #17276
@Lavoaster Do you want to submit a pull request? Or do you have a better fix in mind? :)

[2019-10-19 19:28] leMaik commented on #17408
@oliviertassinari

This is pretty easy to do. But it goes on: When leaving the paper while swiping, the start position gets set to the touch position if the direction isn't closing the menu. I'm still struggling with that. :sweat_smile:

[2019-10-20 08:18] Hadsch commented on #16943
As a workaround you can use `ref`!
Here is an example: https://codesandbox.io/s/material-demo-6vhdk

[2019-10-20 08:30] #17699 closed

[2019-10-20 08:35] #17937 closed

[2019-10-20 08:54] trainbolt commented on #16846
What is the status of this??? It does not seem like there's a fix for this or some solution that helps us solve the issue.

**Custom Button**
[code]

**Usage**
[code]

**Error**
[code]

[2019-10-20 08:58] trainbolt commented on #16846
Not to mention...
[code]
Component definition is missing display name

[2019-10-20 09:25] eps1lon commented on #6115
I guess unless we want to do this in one go (I doubt we want that). We should either start by making styled-components read the theme from jss or jss read the theme from styled components. The goal should be that we can migrate styles on a per component basis.

This should probably happen on another branch. While we don't want to change everything on master in one go we should probably release it

[2019-10-20 09:26] #17932 closed

[2019-10-20 09:37] yordis commented on #6115
In my opinion,

You folks from the Core team need to align on the direction of the package. Especially that I notice that some of you are resilient to change and I think will be healthy for the community if we don't have multiple voices with such misaligned direction promoting different things.

That is my 2 cents.

[2019-10-20 09:46] eps1lon commented on #6115
@yordis

Two different things to unpack here:

1. I'm not sure how this relates to the quote statement I made. Did someone else state that this should be done in one commit? If so maybe I missed it and you can link it.

2. > Especially that I notice that some of you are resilient to change

This sounds like it is a bad thing but a team should have different opinions on certain aspects. The importa

[2019-10-20 10:17] Janpot commented on #17854
Should [the examples](https://github.com/mui-org/material-ui/blob/7bbf61eb9e1ae6da7a58ad7ba7d7aa98c23d271d/examples/nextjs/package.json#L7) be converted to `@material-ui/core/styles` to be in line with the docs?

[2019-10-20 11:36] kaviyabakiyavel opened #17965 "Transitions Slide in Material UI comes from edge of screen"
Currently the transition starts from the edge of the screen. How can I limit it to transition from within a card.

- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2019-10-20 12:19] yordis commented on #6115
Not at all, the best is to have diversity and alignment, I just talked about the second one.

- TypeScript
- Styled Components (not anymore) 💃

That's all it matters, and I love to hear that.

Now back to focus on how to get there.

I digress, and I would ask you to ignore my comment, was unnecessary and added no value regardless. My apologies. I am happy to see that I am wrong.

[2019-10-20 12:24] eps1lon commented on #6115
Comment deletion was requested.

[2019-10-20 13:10] yordis commented on #16947
@oliviertassinari do we have a list of what's left?

[2019-10-20 13:47] oliviertassinari commented on #16947
@yordis We haven't done many efforts in this direction yet, I haven't looked at how we would make it happen. However, there is a high probability that it will require breaking changes, v5 is planned for around Q4 2020. I think that we should explore a partial deployment strategy for that want to leverage it sooner. Now, this effort has to be balanced with the other priorities, like the support of

[2019-10-20 14:07] yordis commented on #16947
Yeah, I tried to change some examples, but they require some integration with the theme provider, so we may need to inject `material/style` theme provider and `styled-component` theme provider I am assuming.

That is far enough, would it be better to pin different issues for visibility on what is a priority at the moment?

Actually, I am quite happy with `@material-ui/styles` and I am not using `s

[2019-10-20 14:18] Kizmar commented on #16609
Running into the same issue on 4.5.0 - we're not using SSR. Just a typical CRA. We have a shared `export const useGlobalStyles = makeStyles(theme => ({ ... }));` file we use, and I'm noticing when these are imported using the `const globalClasses = useGlobalStyles();` hook and applied with `className`, they are being stomped on by MUI styles.

In the image example below, the element is used like t

[2019-10-20 14:23] oliviertassinari commented on #16947
It depends on the time horizon you are interested in. You can follow the issue with the label `important`, the roadmap page on the documentation and the monthly blog product update.

I don't fully understand this point. Why not using styled-components when using Material-UI?

[2019-10-20 14:35] yordis commented on #16947
`@material-ui/styles` works like a champ so far, no reason to migrate everything 😄 so I am one of those out of 3 that don't use it together today.

[2019-10-20 14:41] yordis opened #17966 "Add fullscreen button"
I am not sure how to start the conversation around

Using `Fullscreen` and `FullscreenExit` combined with Fullscreen API is a common component to have in some back-office driven apps.

Actual code, copied from https://www.npmjs.com/package/@straw-hat/react-fullscreen (I am the author, feel free to send feedbacks, https://bundlephobia.com/result?p=@straw-hat/react-fullscreen@1.2.1)

[code]

Cheers,

[2019-10-20 14:51] yordis commented on #15561
I would prefer to wrap the components with `Box` component when it comes to positioning thing, otherwise, we will be merging concerns and create a rabbit hole where we do this with all components eventually.

I think is a good idea to separate the use `Box` for positioning components.

[2019-10-20 14:58] oliviertassinari commented on #16947
@yordis btw, my answer was made under the assumption you were following up on the main styled-components issue. I haven't realized we were on the documentation one.

[2019-10-20 15:02] yordis commented on #16947
@oliviertassinari do you have any suggestions about the issue with theme context?

I tried to use `props.theme` inside an `styled-components` but didn't work, I am not sure if you have a suggestion for it, but I think we will require to add `styled-components` theme provider as well.

[2019-10-20 15:44] oliviertassinari commented on #15561
Yes, it's the idea. There is a related opportunity we can explore. We could have a component that generates thousands of global class names, a là tailwind, that we could apply directly as class names. It would extend the system support to all elements on the page.

[2019-10-20 15:46] oliviertassinari commented on #17966
@yordis Thanks for sharing. What objective do you have in mind?

[2019-10-20 15:46] #17966 closed

[2019-10-20 15:55] yordis commented on #15561
I think that tailwind is targeting different methodologies on how we design and develop applications in my opinion, the more you rely on something being there (global classes) the harder it is to move code since you trade-off cohesion.

I love the idea, but I would push it into the `@material-ui/system` rather than Mui.

[2019-10-20 18:05] #17909 closed

[2019-10-20 18:46] kvin97 commented on #17905
Shall I work on this issue ?

[2019-10-20 19:23] oliviertassinari commented on #17905
@kvin97 You are free to go :), please only handle the problem n°1 ("I expect the value prop passed to the ValueLabelComponent to be formatted by the valueLabelFormat."). I suspect that n°2 would be breaking.

[2019-10-21 05:22] lookfirst commented on #15585
#17943

[2019-10-21 07:03] ayliao commented on #9427
Giving this one a hacktoberfest shot here: https://github.com/mui-org/material-ui/pull/17969 :P

[2019-10-21 07:13] akhilaudable opened #17970 "Can't override Fab disabled color"
This is similar to #13779 . But in my case the solution is not working

Mui version -
"@material-ui/core": "3.8.1",
"@material-ui/icons": "3.0.1",

[code]
OR

[code]

In both ways `disabled` custom styles are not applying instead,  taking the default style. Any help would be appreciated.

[2019-10-21 07:26] ffurkk commented on #17636
Just for notice... Also me have similar problem.

[stackoverflow link..](https://stackoverflow.com/questions/58447003/material-ui-popover-select-menus-componets-positions-come-wrong-when-i-give-z)

[2019-10-21 07:49] #16565 closed

[2019-10-21 07:50] #17970 closed

[2019-10-21 08:41] ahmetcaglayan opened #17971 "Micro Frontend Theme Problem"
Hello,
I have multiple nested applications.
Each is compiled separately.
They come together in a large container.
But the button in the main application takes on the theme features.
When you add a button in the sub-application, the theme features go.

For the material button from the sub-application, how do I get the theme properties removed?

![81C12438-F513-4F43-AB01-64F3B5791DAA_1_105_c](https:

[2019-10-21 08:43] ahmetcaglayan commented on #17971
MicroFrontends.Artists app code

![A42169D9-DE06-4431-A889-CEC2EF36158C](https://user-images.githubusercontent.com/13018803/67190041-ec64a000-f3f7-11e9-8686-0417af408e55.jpeg)

[2019-10-21 09:23] anil1712 commented on #17904
I am getting the same, is anyone got any solution for this?

[2019-10-21 09:58] Sourcetreehugger opened #17973 "[styles] Exposing of classes from child to parent component with makeStyles and TypeScript"
Hi,

I've been using material ui for a while and I am trying to migrate from the withstyles approach towards the useStyles approach. You have a really neat doc on how to use withStyles and extend from it to get static typing on your component. (https://material-ui.com/guides/typescript/)
By using the method in your doc, we could override classes in child components, creating highly customizable ba

[2019-10-21 10:33] roddc opened #17974 "I got an error when pass the props in Breadcrumbs Integration with react-router"
`
function ListItemLink(props) {
  const { to, open, ...other } = props;
  const primary = breadcrumbNameMap[to];

  return (
    <li>
      <ListItem button component={RouterLink} to={to} {...other}>
        <ListItemText primary={primary} />
        {open != null ? open ? <ExpandLess /> : <ExpandMore /> : null}
      </ListItem>
    </li>
  );}
 `
Warning: React.createElement: type is invalid --

[2019-10-21 10:40] #17974 closed

[2019-10-21 10:41] oliviertassinari commented on #17971
#15914 will likely help

[2019-10-21 10:41] #17971 closed

[2019-10-21 10:52] seprich commented on #16543
For one thing the inability to extract CSS to be separate from JS will compromise security. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src  . Importing material-ui into project means that the safe defaults of "script-src: 'self'" and "style-src: 'self'" are suddenly no longer sufficient and must be compromised with 'unsafe-inline' and maybe even 'u

[2019-10-21 11:14] oliviertassinari commented on #16543
@seprich For the CSP, consider: #17566.

[2019-10-21 11:53] tho-graf commented on #17370
We encountered this problem as well. We were styling a lot of svg elements and the performance was horrible.

Some rerenders took up to ~16s with @material-ui/styles.

We tried several styling methods for out hot paths.

With emotion-js we could reduce it to ~2s.
With plain style={{/*css object*/}} we could reduce it to ~1s.

[2019-10-21 11:58] oliviertassinari commented on #17370
@tho-graf See #6115.

[2019-10-21 12:08] tho-graf commented on #17370
Thank you! This looks interesting, looking forward. Until then we have good workarounds. :pray:

[2019-10-21 12:50] eps1lon commented on #17973
As far as I can tell this feature isn't documented in any shape or form but I guess we do want to support it.

[2019-10-21 14:28] mzbyszynski commented on #17932
@oliviertassinari Thank you! 🎃

[2019-10-21 15:23] adeelibr commented on #17611
Do we need to create a `new component for AvatarGroup` or a `new demo using Avatar component` that achieves the above expected result? 😄 @eps1lon

I would like to work on this feature, if possible.

[2019-10-21 15:55] mrogach2350 commented on #13013
@Dileep9999 's solution fixed it for me, but just wanted to add you can tighten up the ternary.

Instead of
`InputLabelProps={{ shrink: this.state.value ? true: false }}`

use
`InputLabelProps={{ shrink: !!this.state.value }}`

[2019-10-21 16:20] DavidEdri opened #17980 "Problem with resize event listener"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[link for example](https://codesandbox.io/embed/create-react-app-xpc4w?fontsize=14)
when resizing the browser between lower and greater than 600px the grid disappears

i noticed that i

[2019-10-21 18:43] flurmbo commented on #17700
@joshwooding I've come across similar issues to this while investigating #17705, have you made any progress?

[2019-10-21 19:20] mcmillhj-wta commented on #15076
@oliviertassinari Is there an example somewhere of how to properly override with the `paths` option from `tsconfig.json`?

Currently doing this:

[code]

[2019-10-21 19:22] #17980 closed

[2019-10-21 19:22] oliviertassinari commented on #17980
tip: immutability.

[2019-10-21 19:27] oliviertassinari commented on #17876
@slipmat In practice is it frequent for the image URL to be broken? I would be in favor to ignore this problem.
@mbrookes In which direction should we go?

[2019-10-21 20:01] slipmat commented on #17876
Ant Design works that way, although that's not a reason to follow suit.

With MUI you can pass through onError via imgProps, so there are ways around it.
Could be one to cover via the docs, if needed.

[2019-10-21 20:36] netochaves commented on #14897
I'll take `DynamicCSS` and `DynamicCSSVariables`

[2019-10-21 20:45] EmilRais opened #17981 "Website doesn't work in IE 11"
I'm adding support for IE 11 in our web application and I found a small cosmetic issue with one of our menu buttons. I wanted to test it out from your demo page, but your website https://material.ui.com does not work at all in IE 11. It's simply white.

When I check the body in the DOM I only see a couple of script elements and a blank div.
Is this intentional?

[2019-10-21 21:17] jadhaidar commented on #14052
Any news on this? I just faced this issue now and basically hit a brick wall. Is there any way I can circumvent this?

`disableDiscovery={true}` did not work =/

[2019-10-21 21:31] oliviertassinari commented on #14052
@jadhaidar What's your issue?

[2019-10-21 21:36] jadhaidar commented on #14052
I have a scrollable container inside a `SwipeableDrawer` and I am unable to scroll the container. The expected behavior would be to be able to scroll the container and only close the drawer when the user is swiping down while the container is scrolled all the way up (scroll position 0).

[2019-10-21 21:43] oliviertassinari commented on #14052
@jadhaidar Ok, it's not related to this issue, we already have an open issue about it.

[2019-10-21 21:53] oliviertassinari commented on #17981
@EmilRais See https://github.com/TehShrike/deepmerge/issues/171.

[2019-10-21 23:00] mbrookes commented on #17876
The userland fallback approach isn't too onerous. My overriding concern is that #17694 is a breaking change for developers depending on the previous (if incorrectly documented) logic.

[2019-10-22 01:47] junjettrasmonte commented on #15918
@LeviWB Thank you! solution below as per Levi's suggestion.

[code]

[2019-10-22 03:20] waldothedeveloper opened #17986 "Integrating with React-Spring is cumbersome"
I was trying to integrate the Material-UI components with the React-Spring animation library.
You can find it here: https://www.react-spring.io/

When I try to use any imported Material-UI component to a spring component,  for example:
[code]
 I am no longer rendering the imported Material-UI element so React complains.
This forces me to add inline <span> elements that will create turmoil in my co

[2019-10-22 04:47] pcguru commented on #8209
[code]

[2019-10-22 06:20] joshwooding commented on #17700
@flurmbo Sadly real life came up but I can look a bit more into it soon.

[2019-10-22 08:15] #17920 closed

[2019-10-22 09:16] Sourcetreehugger commented on #17973
There is an article in the advanced section on how to override classes from parent to child, so I wouldn't say that this approach is not documented.

https://material-ui.com/styles/advanced/#overriding-styles-classes-prop

[2019-10-22 09:29] eps1lon commented on #17973
Ah right. It was missing from the API docs though.

[2019-10-22 10:29] #17812 closed

[2019-10-22 11:11] #17986 closed

[2019-10-22 11:12] oliviertassinari commented on #17986
Tip: `const AnimatedTypography = animated(Typography)`

[2019-10-22 11:20] gcmatheusj opened #17989 "How to customize AutoComplete from Autosuggest"
Hello everyone!

I want to know, how can i disable underline from Autocomplete, change background color from input and add borderRadius on input bottom?

I'm doing like that:
[code]

Thanks guys

[2019-10-22 11:24] salatielq opened #17990 "ClickAwayListener triggers on DatePicker selection"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The ClickAwayListener triggers on DatePicker selection and closes the menu but letting the Datepicker menu open

## Expected Behavior 🤔

I expect to be able to select a date and keeps

[2019-10-22 11:30] #17989 closed

[2019-10-22 14:16] waldothedeveloper commented on #17986
Thanks @oliviertassinari

[2019-10-22 15:42] NicholasTuck commented on #17636
Note: This can be replicated on chrome desktop mobile emulator, you do need to set the "zoom" to "auto-adjust zoom" (the drop down of the "100%" has that as the last option, to kick in the foe mobile zooming experience.

[2019-10-22 15:45] NicholasTuck commented on #17636
I've tried to identify what is causing the actual pan to the corner and I can't pin point it, I've spent a lot of time debugging through. I am suspicious it's not dom manipulation side effects, and that it's specific js calls, but it's hard to determine that with how react implements dom changes and the effect loops.

I was able to programatically implement the hack @ilyamerman mentioned in the or

[2019-10-22 15:52] Chris9540 opened #17991 "material-ui-theme-editor Update"
hi there iv'e create an updated version of In Your SaaS's material-ui-theme-editor
just wondered if you're interested in it?
https://github.com/Chris9540/material-ui-theme-editor

[2019-10-22 19:07] alexiwonder opened #17992 "Jest snapshot problem with component Fade"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When `Fade` component has `in={true}`, Jest fails to render it with message `TypeError: Cannot set property 'webkitTransition' of undefined`

Stack trace:
[code]
## Expected Behavior 🤔

[2019-10-22 21:57] EmilRais commented on #17981
Maybe it wasn't clear but I was reporting that your website does not work at all from IE 11, not that your library doesn't. I made the library work by adding the necessary polyfill - which I gather from the linked issue I can now remove again, which is great.

[2019-10-22 22:25] oliviertassinari commented on #17981
Thanks for the clarification.

[2019-10-22 23:00] mbrookes commented on #17991
The "Click here to access it" link links to the IYS version, so it isn't apparent (without reviewing the code) what has been extended.

Also, how had you hoped we might resolve this issue?

[2019-10-22 23:00] williamzhou0812 commented on #240
// May help add this two line in  your  index.css  ( react )

// disable Ripple Effect
.MuiTouchRipple-root {
  display: none;
}

// disable FocusHightlight
.MuiCardActionArea-focusHighlight {
  display: none;
}

[2019-10-22 23:55] RDIL commented on #9492
Possibly related:
I get these warnings in my Jest tests:
[code]

[2019-10-23 04:08] MasterEric commented on #17355
Hey @oliviertassinari,
It appears that your latest solution, which deletes the contents of the tab when you switch away from it, fully fixes the rendering issue, as shown in this demo:

https://codesandbox.io/s/notch-bug-demo-fix-0ooj8

The only issue is that in the full application, this destroys components I am storing references for, and thus I will need to adapt the solution somewhat.

[2019-10-23 04:27] jtreminio commented on #204
For external links you'll want to use `component="a"`, but also surround the `MenuItem` in `<li>`:

[code]

[2019-10-23 04:37] senth542002 commented on #15449
Changing ToolBar to Toolbar worked for me. Thanks!!!

[2019-10-23 05:10] Hivemind9000 commented on #10051
I would like this also for collapsing columns horizontally on a Kanban board (which is common in Kanban applications). Have upvoted (now 78 votes). How many are needed @oliviertassinari for this to become a thing?

[2019-10-23 06:14] fbnklmnvds commented on #17784
No solution?

[2019-10-23 07:35] tommybernaciak commented on #17692
@ConAss1 I checked your solution and it works, thanks

[2019-10-23 08:31] techuila opened #17996 "SpeedDialAction onClick inherits function call from parent component SpeedDial onClick"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

SpeedDialAction onClick inherits function call from parent component SpeedDial onClick

## Expected Behavior 🤔

SpeedDialAction's onClick should execute instead of the component Speed

[2019-10-23 08:55] dutchenkoOleg commented on #11098
Saved my life ))

[2019-10-23 09:47] eps1lon commented on #17996
This is normal behavior of event handlers in react and html. You can call event.stopPropagation in the individual action click handlers if you want to prevent this behavior.

[2019-10-23 10:03] EvertEt opened #17997 "Tooltip on disabled buttons with span do not work in Safari"
As described at https://material-ui.com/components/tooltips/#disabled-elements, you have to wrap a disabled button in a span and set pointerEvents to none. This causes the tooltip to never show in Safari.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2019-10-23 10:57] itayyehezkel commented on #17936
You can do it with useMediaQuery hooks.

[code]

If you want to know more about ```useMediaQuery```, [Here is a link to the docs](https://material-ui.com/components/use-media-query/)

[2019-10-23 11:26] AnuranjanPanigrahi opened #17998 "Using TextField as input param of Select"
Using TextField as the input param of Select gives the following warning:
[code]
Here is the snippet of the code I am using: <br/>
[code]
What is the proper implementation of the same?

[2019-10-23 11:31] maniekins opened #17999 "[Dialogs, accessibility] NVDA doesn't read anything after open a dialog"
1. After open any dialog, NVDA doesn't read anything, it works after press tab and move focus to actionable element (note: if any actionable element exists on dialog)
2. It works when we put some element with autoFocus. but with JAWS on IE it is not work correctly.
3. If we are tabbed to focus trap (to the end of dialog) and return to item on dialog by tab, the whole dialog is vocalized again.

I

[2019-10-23 12:03] valentinbourqui opened #18000 "[theme] Be able to use string templates inside createMuiTheme"
Be able to use string templates when you use createMuiTheme and you want override a component like MuiButton :

..with  jss-plugin-template plugin :

[code]

++ Unify style with the same structure as I can do inside "makeStyles" or "withStyles".
++ Use global props defined inside theme

[2019-10-23 12:15] husseinbob opened #18001 "Using Date Picker (dialog) inside MenuItem with onClick closes prematurely"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

With a DatePicker inside a MenuItem, the dialog will appear, but if you add onClick behaviour to the MenuItem, the DatePicker popup no-longer appears.

After adding `onClick={(e) => {

[2019-10-23 13:14] amalv commented on #7466
I've fixed this using styled components in order to set the Grid container margin to zero.

Styled Grid container:

[code]

Now instead of the Grid component that was generating the extra width, GridContainer is used.

[code]

[2019-10-23 13:35] eps1lon commented on #18000
What you probably want is tagged template literals not just template literals. You would need to use an extra helper like ```js
root: css`
        font-size:  14px;
        color: ${props => props.theme.palette.text.primary};
      `
[code]

[2019-10-23 14:04] #17998 closed

[2019-10-23 14:05] eps1lon commented on #17998
Check out https://material-ui.com/components/text-fields/#textfield which includes the source code

[2019-10-23 14:52] ithinco commented on #16884
same with @ramonjesusburgos

When added the Customized snackbars example code in `examples/nextjs-with-typescript`, [https://material-ui.com/components/snackbars/](https://material-ui.com/components/snackbars/) I got this error.

[code]
After removing this line, there is no error any more.
[code]

[2019-10-23 15:13] #9427 closed

[2019-10-23 15:15] ithinco commented on #16884
@oliviertassinari could you please reopen this issue?

[2019-10-23 15:22] codiejay opened #18003 "Eror when I paste text continiously."
- [ x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I get a runtime error when I paste  text inside of a demo element continuously
## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment

[2019-10-23 15:23] ErnestoR commented on #17990
This is not a bug it's how DatePicker works.

So DatePicker works by using a portal which means the DOM of the date picker is not actually a child of the <ClickAwayListener/> in your example. You should be able to disable portal to ensure that the DatePicker is a child element for your example like so:

[code]

[2019-10-23 15:24] JavaJamie opened #18004 "Rendering emojis inside the TextField?"
I know this probably isn't specific to Material UI, but as we are using the library we figured it would be the best place to seek assistance as we are trying to use the TextField component to render emojis from the emoji-mart picker. Does the Material UI TextField support the rendering of emojis? We can display the unicode emoji (which is black and white) but not the actual coloured version displa

[2019-10-23 15:37] eps1lon commented on #18004
@JavaJamie  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-10-23 15:47] AugustoPedraza opened #18005 "IE 11 issue: *Material-UI: unsupported `` color. We support the following formats: #nnn, #nnnnnn, rgb(), rgba(), hsl(), hsla().*"
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Debugging the Material UI code on my IE 11 (from Virtual Machine), I got that [inside the function `hexToRgb`](https://github.com/mui-org/material-ui/blob/2b1bad30e582459c912d47ee7ce

[2019-10-23 16:22] flurmbo commented on #17700
@joshwooding, no problem. When I investigated @eps1lon's issue I found that when trying to make the TreeView a controlled component that updating the props of the TreeView would force the useEffect hooks dependent on `props.children` to rerun, which would overwrite the `nodeMap`. Then when trying to use the keyboard controls I would get similar errors.

[2019-10-23 16:23] #17981 closed

[2019-10-23 18:32] c-dante opened #18006 "SelectInput relying on synthetic events, is there a workaround?"
Unsure if this is considered a bug or what, and I'm not convinced it should be up to y'all to address it, but the select component is relying on react's synthetic events to do the event.target replacement for option blur:

https://github.com/mui-org/material-ui/issues/10534
https://github.com/mui-org/material-ui/pull/12467

Specifically:
https://github.com/mui-org/material-ui/blame/master/packages

[2019-10-23 18:54] sjk191011 commented on #9427
You can change the material-ui source code in the ExpansionPanelSummary.js file

`return React.createElement(ButtonBase, _extends({
        focusRipple: false,
        disableRipple: true,
        disabled: disabled,
        component: "div",
        "aria-expanded": expanded,
        className: clsx(classes.root, className, disabled && classes.disabled, expanded && classes.expanded, focusedState

[2019-10-23 19:17] mbrookes commented on #18004
Yes:

![image](https://user-images.githubusercontent.com/357702/67426500-1c679b00-f5d2-11e9-8ede-e746d8fa1fb3.png)

[2019-10-23 19:38] visualfanatic opened #18007 "Remove / replace styles of existing component"
Let's say we want to create a custom component using `ButtonBase` like so:
[code]

When you use this simplified component it renders without any issue, but when you look under the hood you will see that it creates two classes:
[code]
[code]

As you can see the `border-radius` and `padding` properties are duplicated, and the more properties you add (like `color`, `border`, `margin` etc.) the more d

[2019-10-23 22:11] hoop71 opened #18010 "[Slider] - style rule names don't match other component's API and don't accept styles as expected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When trying to access the `disabled` rule of the `thumb` rule the styles aren't applied as expected
**example `1`** - Doesn't apply styles
[code]

instead, you must apply them like wi

[2019-10-23 23:19] #18003 closed

[2019-10-24 02:09] sopranolinist opened #18013 "InputAdornment with multiline TextField is misaligned"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

If I have a TextField with `multiline={true}` and an InputAdornment then the InputAdornment is not vertically centered. I'm using version `4.1.0` in my project, but as you can see from the code sandbox belo

[2019-10-24 02:27] StebanDev opened #18014 "theme spacing not working as expected for line-height"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using `theme.spacing(X)` for `lineHeight` css property, you only get the number but not the `px` unit.

## Expected Behavior 🤔

You should get assigned the correct value and unit

[2019-10-24 03:29] Justinidlerz commented on #11251
I need using the offset in a case like so:
[code]
In the `md` case, the `email` and `username` in one row and only have the offset before `email`.
In the `xs` case, the `email` and `username` in two rows and have offset before both.

[2019-10-24 06:21] eps1lon commented on #18005
What version of IE 11 and OS version are you using?

This looks like a very obscure bug with regular expressions.

[2019-10-24 06:40] eps1lon commented on #18010
Yeah I can see how this is unfortunate. @oliviertassinari Can we make this work without special syntax?

[2019-10-24 06:44] eps1lon commented on #18007
These are the base styles and your overwritten styles. I can see no duplication here (one is `0` the other is `10px`).

You should already be able to define your own styles. Could you include a repro that highlights that you can't apply your own styles?

[2019-10-24 06:47] eps1lon commented on #18006
Yes but as you already said we're inside react which has its own synthetic event system.

Could you explain why we shouldn't rely on reacts event system or what the specific issue is with the current approach?

[2019-10-24 08:41] AidanCL85 opened #18016 "Search bar is not working properly"
Hello

The search bar doesnt work properly, it doesnt show the records that are asked for, even writing a word exactly as it is shown in a record, that same record doesnt appears in the table, howevert it does shows records only writing a simple letter,

Does this happen to the rest of you?

Thanks in advance,

Best Regards.

[2019-10-24 09:02] oliviertassinari commented on #18010
@hoop71 The CSS selector is:
[code]

This looks fine.

[2019-10-24 09:37] oliviertassinari commented on #18010
Ok, I have updated #18011 with an alternative proposal for the disabled state. It's closer to what we do in the rest of the codebase. I have left the vertical state unchanged.

[2019-10-24 09:45] oliviertassinari commented on #18016
@AidanCL85 Do you have an example? Otherwise, I globally agree, the search experience is not great.

[2019-10-24 09:49] oliviertassinari commented on #18007
@visualfanatic It's not possible yet. I would suggest that you keep track of #6218.

[2019-10-24 09:56] #18004 closed

[2019-10-24 09:58] oliviertassinari commented on #18005
The issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-10-24 09:58] #18005 closed

[2019-10-24 10:04] #17448 closed

[2019-10-24 10:05] oliviertassinari commented on #17448
Let's not solve this problem, for now. Thanks  for the repport.

[2019-10-24 10:11] Misiu commented on #17448
@oliviertassinari sure, but if you could please leave this issue open.

[2019-10-24 10:11] #18001 closed

[2019-10-24 10:14] HashemKhalifa opened #18017 "createBreakpoints does not work with custom variant!"
When using createBreakpoints with custom typography variant I get
`TypeError: Cannot read property '@media (min-width:960px)' of undefined`

otherwise, it works perfectly fine with the normal variant like h1,h2, ...etc.

- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is n

[2019-10-24 10:16] HashemKhalifa commented on #18017
import createBreakpoints from "@material-ui/core/styles/createBreakpoints";
const breakpoints = createBreakpoints({});

MuiTypography:{
        hero:{
          [breakpoints.up('md')]:{
            fontSize: '11rem',
            background: 'red',
          },
          fontSize: '3.75rem',
          lineHeight: '5rem',
          fontWeight: 700,

        },
}

[2019-10-24 10:20] oliviertassinari commented on #18016
@AidanCL85 Oh, I thought it was related to our search in the documentation:

![Capture d’écran 2019-10-24 à 12 20 33](https://user-images.githubusercontent.com/3165635/67476644-b540f980-f658-11e9-8bbf-8377cdea2f12.png)

[2019-10-24 10:20] #18016 closed

[2019-10-24 10:23] oliviertassinari commented on #17448
The incentive to close the issue is to signal that we might not accept a pull request for it, so we can focus on efforts with a higher ROI. In your case, you should be able to implement the desired outcome by programmatically adding the animation: apply the animation unless the user is dragging the thumbs.

[2019-10-24 10:25] #18007 closed

[2019-10-24 10:33] oliviertassinari commented on #17996
@techuila Thanks for the report. @eps1lon is right, it's the expected behavior. What we had before wasn't following the standard of the other components:
https://github.com/mui-org/material-ui/blob/eade31e58deb8ff3faee777313d70141e5868ebe/packages/material-ui-lab/src/SpeedDial/SpeedDial.js#L241
(onclick not forwarded to the root)

[2019-10-24 10:33] #17996 closed

[2019-10-24 10:35] oliviertassinari commented on #17996
Apply the following diff:
[code]

[2019-10-24 10:37] goszczynskip commented on #17083
@oliviertassinari I belive that exposing API of input changes would be benefitial for form handling on the frontend. Right now slider emits MouseEvents with span element as a target. This is a reason of no id/name in event. Exposing ChangeEvents with hidden input as a target will allow to hook up eg. Formik. Maybe slider should accept separate prop: `onInputChange`

[2019-10-24 10:54] oliviertassinari commented on #16884
@ithinco I would encourage you to report your issue on StackOverflow, you should likely find better luck.

[2019-10-24 10:55] #16409 closed

[2019-10-24 10:58] oliviertassinari commented on #17784
@fbnklmnvds If you are looking to make a contribution, it's up for grab: https://github.com/zeit/next.js/issues/7856 / https://github.com/zeit/next.js/issues/9041 / https://github.com/zeit/next.js/issues/9087.

[2019-10-24 11:16] oliviertassinari commented on #17784
@fbnklmnvds What do you think of this diff? Do you want to submit a pull request? :)
[code]

[2019-10-24 11:31] oliviertassinari commented on #16374
@hibearpanda Thanks for the reproduction with Next.js. We can observe it too on the documentation that uses Next.js. Does it reproduce outside? Could it be a Next.js specific issue?

[2019-10-24 11:35] oliviertassinari commented on #17355
@MasterEric Thanks for the feedback, so I think that we should apply these changes.

[2019-10-24 11:47] bmvantunes opened #18018 "[styles] Strict Mode support"
First of all, thank you all very much for the amazing material-ui.

I started my project from https://github.com/mui-org/material-ui/tree/master/examples/nextjs

Lately, I started to notice that my page after hydration looked weird - some styles were missing and some other times they were not applied to the expected elements.

Using React.StrictMode it tells me the following error:
Warning: Prop `

[2019-10-24 12:15] mcMickJuice commented on #16374
This issue is not specific to next. I'm experiencing it with Create React App when running `yarn build`

[2019-10-24 12:53] mchelen opened #18019 "[DataGrid] Implement Column groups"
The fixed header option in https://material-ui.com/components/tables/#fixed-header is not compatible with multiple header rows from this example https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/tables/SpanningTable.js

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository an

[2019-10-24 13:21] oliviertassinari commented on #18017
@HashemKhalifa Do you have a reproduction,

[2019-10-24 13:21] oliviertassinari commented on #18017
createBreakpoints is a private module

[2019-10-24 13:27] bmvantunes commented on #18018
@oliviertassinari I think this is a bug, not a question.

If you see my reproduction steps, the only thing I did was to add StrictMode to material-ui/example/nextjs - no other code is changed

[2019-10-24 13:36] HashemKhalifa commented on #18017
@oliviertassinari the issue still exists, if you are going to use the normal variants like `h1,h2,h3,h4, etc` everything will be fine.

try to create any new variant like `'hero` or `test` then you get an error `Uncaught TypeError: Cannot read property '@media (min-width:960px)' of undefined`

[2019-10-24 13:39] HashemKhalifa commented on #18017
@oliviertassinari would you kindly try the same example you provided and see if it works?!

[2019-10-24 13:43] oliviertassinari commented on #18017
@HashemKhalifa A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-10-24 13:49] oliviertassinari commented on #18019
@mchelen Thanks for the feedback. It's not supported with the `stickyHeader` prop. I think that it's something we should support in the upcoming data tables component. In the meantime, you would need to use 2 `<tables>` elements.

[2019-10-24 13:58] HashemKhalifa commented on #18017
working example with the normal typography: `https://codesandbox.io/s/withworking-version-vcfty`

none working example with customized typography: `https://codesandbox.io/s/noneworking-mui-typography-version-vcfty`

[2019-10-24 14:01] amiral-jion commented on #18018
thank you for reporting it. I'm experiencing the same issue here..

[2019-10-24 14:12] c-dante commented on #18006
Using a different virutal dom library that doesn't use synthetic events (IE `preact`, `inferno`, etc) and a compatibility layer won't work with the select widget (all other widgets work fine).

I 100% understand that it is not the goal of this library to consider those other use cases. I'm not suggesting that relying on the synthetic events is a problem at all -- that's probably the right way to w

[2019-10-24 14:12] fbnklmnvds commented on #17784
@oliviertassinari I did. Also, thanks for the spoon feeding ;) It was my very first pull request and I hope I didn't miss anything important in the process.

[2019-10-24 14:25] oliviertassinari commented on #18017
The problems seem to come from an older version of deepmerge. I could reproduce the fail with v4.0.0. What version are you using? It seems to be OK in v4.2.1. No matter what, this problem should be solved with #17982. Wait for the next v4.5.2 release.

[2019-10-24 14:25] #18017 closed

[2019-10-24 14:30] eps1lon commented on #18006
I didn't know that, thanks :+1: . We try to be compatible with `preact` though we're not running any tests with it. I think the biggest problem is that `preact` doesn't have its own event system? Which means there will be a lot of browser inconsistencies (most notably focus events bubbling). Overall I would agree that patching the target is not a good idea because you usually expect an html elemen

[2019-10-24 14:32] oliviertassinari commented on #18006
👍 for considering `preact`, it gets a bit of traction (as for inferno, I think that we should ignore it).

[2019-10-24 14:35] oliviertassinari commented on #17784
Thank you ✌️

[2019-10-24 14:49] oliviertassinari commented on #18000
Agee, this will likely be possible with styled-components.

[2019-10-24 14:50] sureshakula007 commented on #10382
Hi @oliviertassinari ,
I am getting error while using scss variables colours in makeStyles

Please check the below code
import "../assets/scss/variables.scss";  // scss color variables

const useStyles = makeStyles(theme => ({
  root: {
    color: "{$primary-color}",
    display: "flex",
    height: 22,
    alignItems: "center"
  }
}));

[2019-10-24 14:53] oliviertassinari commented on #10382
Do you have a reproduction?

[2019-10-24 14:56] hoop71 commented on #18010
@oliviertassinari @eps1lon Yes this all makes sense. I do think it makes sense to be able to style like below without having to get the root involved.

[code]

I guess I am also unsure of what the `&` at the end of the rule is there for. In the below case, what is `'$vertical &'` accomplishing?

[code]

[2019-10-24 15:00] oliviertassinari commented on #18010
You need to think in terms of CSS selectors.

$ reference another style rule
& reference the parent style rule
Each style rule has a classn ame.

[2019-10-24 15:02] oliviertassinari commented on #18010
You can resolve it manually:
- `$vertical &`
- `$vertical $rail`
- `.MuiSlider-vertical .MuiSlider-rail`

[2019-10-24 15:04] oliviertassinari commented on #18010
Did you have a look at the changes I propose, does it match your problem?

[2019-10-24 15:16] oliviertassinari commented on #16374
OK thanks, there is a new hypothesis I need to verify. Let's say we mark the Avatar module side effect free, the Avatar has a side effect on the CSS injection order, and webpack? decides to remove the import. 🔥

[2019-10-24 15:19] hoop71 commented on #18010
Yes! Looks good and should solve our needs. Thanks for your fast work as always!

[2019-10-24 15:21] oliviertassinari commented on #17991
Side thought: I think that we should, at some point, work on a live theme builder. I have started to collect benchmark sources: https://trello.com/c/m5FHVBnk/1277-theme-builder. Big 👍 for having themes demos outside the Material Design spec.

[2019-10-24 15:22] sureshakula007 commented on #10382
My question is can I use bootstrap scss colour variables in react material makestyles function.

[2019-10-24 15:25] oliviertassinari commented on #10382
Yes, you should be

[2019-10-24 15:29] sureshakula007 commented on #10382
Thank you, can provide the sample example you if you have.

[2019-10-24 15:39] pcwa-ahendricks commented on #16374
I've seen the avatar issue and a similar issue with the margin-left property with `<Button>` inside `<DialogActions/>`. Not sure if it's related to this avatar issue.

<img width="1812" alt="Screen Shot 2019-10-24 at 8 35 03 AM" src="https://user-images.githubusercontent.com/19213787/67501492-36889400-f639-11e9-8cd1-47d90bf294a4.png">

[2019-10-24 16:21] c-dante commented on #18006
Wow was not expecting the positive considerations! Thanks for the traction.

Here's a codesandbox demoing it failing:
https://codesandbox.io/s/preact-material-ui-select-broken-eles6?fontsize=14

I couldn't get JSX going with everything so I just wrote the small demo using preact's hyperscript method. I also added an input field to demo that other events work.

You can see in the browser's console

[2019-10-24 16:34] oliviertassinari commented on #18006
Before we explore a potential solution, I would like to raise that using preact and the non-native select implementation seems misaligned. Material-UI provides a NativeSelect component that has a significantly smaller bundle size footprint and is free from this problem. I expect the audience that resonates with Preact to prefer the NativeSelect component.

That being said, if you still have a good

[2019-10-24 16:36] oliviertassinari commented on #16374
@pcwa-ahendricks if the side effect free theory is verified, then yes, it should be the same.

[2019-10-24 16:38] oliviertassinari commented on #10382
This should help https://til.hashrocket.com/posts/sxbrscjuqu-share-scss-variables-with-javascript

[2019-10-24 16:50] pcwa-ahendricks commented on #16374
Okay. I can confirm that `config.optimization.sideEffects = false` in `next.config.js` fixes both the dialog and avatar issue. I'll add that that particular Webpack config change also increased the projects initial JS payload size by about ~80kb _after_ making the change.

[2019-10-24 17:10] oliviertassinari commented on #17876
@mbrookes OK, I propose that we revert #17604
- The most frequent use case it to render an avatar or a children, not both at the same time.
- For @lcswillems use case, my recommendation is to use the `component` prop.
- We should add a test case and update the prop description.
- in the future, we can imagine a prop to detect image load error and automatically fallback to the children (but I reall

[2019-10-24 17:21] lcswillems commented on #17876
`component` prop? I don't see how to use it in my case.

And if I have to create a custom made component, I will have to copy paste all the base logic to increment on it.

[2019-10-24 17:26] eps1lon commented on #18006
I think forms are very important and having a great integration story is more important than being able to support other targets.

In general I'd like to make it more visible that `Select` is not implementing the native intricacies (it couldn't since it supports objects as values).

I'd have to look at the current form library landscape and how integration works to make an educated guess. But then

[2019-10-24 17:28] hdstusnick opened #18022 "[Divider] Height is not correct for vertical divider in a flexbox"
When a divider component with vertical orientation is inside a container with flex and height set to 100%, the height is calculated as `0px` in chrome.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The vertical dividing lines do

[2019-10-24 17:37] #17784 closed

[2019-10-24 17:50] c-dante commented on #18006
I'm fairly certain it'd be possible to consume the event from the generated div dropdown and then emit the correct event from the select field. What are your thoughts on this?

Inside most of React's codebase, it seems they go down the route of creating new events when they need to perform this kind of indirection.

[2019-10-24 17:52] oliviertassinari commented on #17876
@lcswillems
[code]

[2019-10-24 17:54] #18010 closed

[2019-10-24 18:02] lcswillems commented on #17876
Okay, I see. I think it is the good design choice.

[2019-10-24 18:42] salatielq commented on #17990
I knew that wasn't a bug but I searched and couldn't find a solution.

Anyway. Thank you @ErnestoR that worked!

[2019-10-24 18:43] #17990 closed

[2019-10-24 18:54] GrahamMThomas commented on #12290
New link is here incase no one wanted to dig through the repo:
https://github.com/mui-org/material-ui/blob/master/docs/src/pages/getting-started/templates/blog/Markdown.js

[2019-10-24 19:08] oliviertassinari commented on #18022
@hdstusnick In a flex container, use:
[code]

I don't know how we could internalize this style. Maybe with a `flexItem?: boolean` prop?

[2019-10-24 19:11] oliviertassinari commented on #17992
Duplicate of #17119. An update of our documentation is welcome.

[2019-10-24 19:13] oliviertassinari commented on #17991
@mbrookes Is right, a live demo for this is critically important.

[2019-10-24 19:20] AugustoPedraza commented on #18005
BTW, I figured out the problem: our stack was using `es6-shim` library, that was adding "buggy" Regex behavior to IE 11. Fortunately, after a hard work, I was able to identify and remove the component that was importing it.

[2019-10-24 19:31] oliviertassinari commented on #18005
🎉 thanks for sharing!

[2019-10-24 19:44] oliviertassinari commented on #17997
@EvertEt Do you have any idea what's going on, I don't? Does https://material-ui.com/components/tooltips/#disabled-elements work for you?

[2019-10-24 22:05] alexiwonder commented on #17992
@oliviertassinari I followed your [comment](https://github.com/mui-org/material-ui/issues/17119#issuecomment-524266401), but still get the same error:
[code]

[2019-10-24 22:30] oliviertassinari commented on #17992
@alexiwonder Oh right, sorry, we track this problem in:
https://github.com/mui-org/material-ui/blob/cec2f0caf91f5ea235e1a62a8c6c2493075927ef/packages/material-ui/src/Fade/Fade.test.js#L33-L34

[2019-10-24 22:56] tonytino commented on #17784
@oliviertassinari Thanks for all your hard work on this project (same to everyone else on your team). This has to be one of my favorite open-source projects. I've learned a lot just by being a consumer of this project (I read the code all the time to understand things further or when looking for guidance on my own code implementation), which is a community service in itself. More importantly thoug

[2019-10-24 23:04] oliviertassinari commented on #17784
@tonytino thank you for the feedback. We do our best with the resources available. Unfortunately, we cannot give a positive outcome to all the topic, sometimes, we have to make hard tradeoffs, saying no.

[2019-10-24 23:21] oliviertassinari commented on #16374
@hibearpanda's reproduction confirms the theory of https://github.com/mui-org/material-ui/issues/16374#issuecomment-545966906. We need a way to mark the Avatar import, not side effect free. The following seems to do the job:

[code]

Does somebody want to try it out?

@pcwa-ahendricks For #16609, the concern is different, the solution proposed here wouldn't scale to the case where somebody impleme

[2019-10-24 23:37] glromeo commented on #18006
While you decide on a strategic solution how about you just force writing on the target field of the event using something like:

[code]

I know it's (kind of) a hack but it would give us using preact a quick workaround while leaving the semantic as it is...

[2019-10-24 23:48] emraeshine3 opened #18028 "Crossword Solver - Gold Sponsor Logo"
Hi there! Crossword Solver is one of your Gold Sponsors.

Our logo is included on this page: https://opencollective.com/material-ui/contribute/gold-sponsors-2860 but can we get it added to the following pages?
https://material-ui.com/
https://material-ui.com/discover-more/backers/

Can we also please get the company name added under our logo on this page: http://taobao.mirrors.alibaba.ir/package/@

[2019-10-24 23:49] emraeshine3 commented on #18028
This page as well :) Let me know, thank you for your help! https://opencollective.com/material-ui#section-contributors

[2019-10-24 23:57] adeelibr commented on #17876
should this be added in the demo as an example, if yes can I pretty please work on this?

[2019-10-25 00:45] oliviertassinari commented on #17876
@ajdaniel I would rather avoid it. @eps1lon is looking into how we can get rid of the component prop.

[2019-10-25 00:47] oliviertassinari commented on #18028
@emraeshine3 Yeap, it's planed in the next batch of update, thanks for the reminding and the support :)

[2019-10-25 01:43] emraeshine3 commented on #18028
Awesome, thank you!

[2019-10-25 01:44] #18028 closed

[2019-10-25 03:09] eugene-ilyin commented on #15216
I've got the same problem using Tooltip component.
As a workaround you can set title of the tooltip as empty if your element is disabled.

[code]

I think that even for disabled element we should show a tooltip. For example in my PHPStorm, I see tooltips for disabled buttons and it's convenient.

[2019-10-25 05:19] EvertEt commented on #17997
It does work but it has extra weird behaviour:
- Chrome: The Source (<>) button changes color
- Safari: The Source (<>) button changes color AND also shows its popup when hovering the button.

[2019-10-25 06:19] simonguo opened #18029 "Table has layout problem in RTL direction"
![image](https://user-images.githubusercontent.com/1203827/67547643-361ff400-f732-11e9-9186-fe5cc94fd538.png)