[2022-11-07 14:24] oravecz commented on #34162
Is this misleading though? Do we know of any issue where @material-ui is not compatible with React 18? If not, couldn't you extend the peer dependency in v4 to allow React 18?

[2022-11-07 14:24] OtisBirdy opened #35042 "MUI for Figma (text line height) --> % to pixel"
Hello,

Based on the MUI for Figma, would like to be able to change the text spacing point (currently in %) to pixel.

I have a grid spacing of 8 pixels and would like to make sure that my line spacing is taken into account.

How do I do this?

On my other Figma projects, it's in pixel. Just the MUI based project is in %.

Thank you very much in advance.
Otis

[](url)
![figma_line_spacing](https:/

[2022-11-07 14:44] oliviertassinari commented on #34827
I think that removed `default` as a valid color value in v5, per https://github.com/mui/material-ui/issues/13028.

I was thinking of the sx prop for one of customizations, for something `styleOverrides` would cover the use case. But even for iOS, there might be too many cases where icons's color is `color: inherit` that setting blue as a default wouldn't work.

[2022-11-07 15:08] kartikKarekarGSLAB opened #35032 "[TreeItem] override the default key handling"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi,

I will be using the @mui/labs version "^5.0.0-alpha.98". I have added the implementation of the TreeView.
I want the default key handling behaviour to be overriden by the custom one. I have passed the function for the same using the prop "onKeyDown" but, lookin

[2022-11-07 15:22] #34490 closed

[2022-11-07 17:17] shubham-sharma-2001 commented on #29860
how to add above those in dependency directly or it require any installation through npm/yarn

[2022-11-07 19:30] scherroman opened #35037 "[Joy] Media query usage"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'd like to be able to import and use `useMediaQuery` with Joy UI just like Material UI supports to adapt my layout for different screen sizes

### Examples 🌈

[code]

### Motivation 🔦

I'm trying to adapt my interface to have my navigation bar show just an `IconBut

[2022-11-07 20:26] TheWilks opened #35038 "[Chip] When disabled it still receives focus"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Add "disabled" to a deletable chip.
2. Tab to that chip.
3. You will notice that Mui-focusVisible. A user can tab to the disabled chip and styles are applied to it.

### Current behavior 😯

You will notice that Mui-focusV

[2022-11-07 20:28] scherroman commented on #35037
Dug around some more and found the [Display page of MUI System](https://mui.com/system/display/#hiding-elements) which recommends using the `sx` breakpoints to hide and show elements at different screen sizes using the `display` property. Makes sense and works well! Though if you use `display: block` to show buttons it messes up their styling. Tried to just omit the breakpoints where the component

[2022-11-07 20:57] Uzwername opened #35039 "[Fab] Hover CSS styles mix up with disabled styles on tap on mobile"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://yrh2tw.csb.app/

Steps:

1. Render a `@mui/material/Fab`
2. Disable it once it gets clicked
3. Simulate a mobile device using Chrome's developer tools (the same happens on real mobiles)
4. Tap on the `Fab`
5. See hover styles

[2022-11-07 21:02] Uzwername commented on #35039
IRL I've fixed this by passing the following as `sx` prop:

[code]

I'd be glad to open a PR to fix it.

[2022-11-08 00:14] nishidemasami opened #35040 "TextField(type="number") deny number more than 309 digits"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

https://codepen.io/nishidemasami/pen/ExRNXLp

Steps:

1. create type="number" TextField
2. add numbers over than 310 digits (number over then about 1.8e+308)
3. the onChange event target value is empty string
4. the onChange event d

[2022-11-08 05:51] sai6855 commented on #35040
it's not a material UI bug, replace Textfield with <input/> you will still see same issue

[2022-11-08 07:54] PratikDev opened #35041 "[docs] many text fields don't manage separate state in the demo and several get changed when one is changed"
**I'm totally a newbie in open-source contributions. so guide me for my next contribution if you see any flaw in my explanation**

while going through the MUI doc and checking some demos, I noticed that many text fields don't manage separate states and because of that all of em get changed when one is changed
check [this page](https://mui.com/material-ui/react-text-field/) and play around in the [

[2022-11-08 07:57] PratikDev commented on #35041
I don't know if anyone noticed it before and already created an issue on it. I searched but didn't get any. I'm working on it now. So if anyone can assign me this

[2022-11-08 08:29] ZeeshanTamboli commented on #35024
Duplicate of #11723

[2022-11-08 08:29] #35024 closed

[2022-11-08 08:38] ZeeshanTamboli commented on #35041
I am not sure if it would be a great DX while viewing the demo code, but it can be tried. @PratikDev Feel free to create a PR and let's see what the team says.

[2022-11-08 08:39] michaldudak commented on #35040
Thanks for the explanation, @sai6855.

What's more, representing such large numbers in JS is problematic. You'll likely want to use `input type"text"`.

If I may ask - what's the use case for having an input accepting so large numbers?

[2022-11-08 08:39] #35040 closed

[2022-11-08 08:43] michaldudak commented on #35041
Why is this a problem? I suppose it was done to simplify the code of the demos, but if this causes some issues for developers reading the docs, I'd be happy to hear why.

[2022-11-08 08:56] PratikDev commented on #35041
@michaldudak we can still keep the code simple just by creating a function that creates a state and returns the state value and an onChange event. so we'll just call the function everywhere we need a state and spread the returns
where's a quick demo of how it'll work

[code]

[2022-11-08 09:05] ZeeshanTamboli commented on #34903
@shivak-cbre Any update? Or should we close this issue?

[2022-11-08 09:22] vikaschowdary47 opened #35043 "clicking on desinger kits in homepage gives error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

<img width="845" alt="image" src="https://user-images.githubusercontent.com/64077749/200525824-64304faf-f8ba-47cd-94dc-7e666e2e9844.png">

### Current behavior 😯

![Uploading image.png…]()

### Expected behavior 🤔

_No response_

### Context 🔦

_No respon

[2022-11-08 10:25] ZeeshanTamboli commented on #34830
I cannot reproduce it in the [CodeSandbox]. Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-11-08 10:26] oliviertassinari commented on #34903
@shivak-cbre Do you have a reproduction we can look into?

[2022-11-08 10:33] shivak-cbre commented on #34903
Yes, Please open the below link in android mobile chrome browser
https://codesandbox.io/embed/material-ui-text-field-character-limit-n4t82?codemirror=1

From: Olivier Tassinari ***@***.***>
Sent: 08 November 2022 15:56
To: mui/material-ui ***@***.***>
Cc: Kongara, Shivakrishna @ Global D&T Contractor ***@***.***>; Mention ***@***.***>
Subject: Re: [mui/material-ui] [TextField] maxLength not workin

[2022-11-08 10:50] michaldudak commented on #35041
The point of these demos is to show the usage of controlled components. Having their values in sync shows that they are indeed controlled. The hook you proposed does hide this.
When using a controlled component, you'll usually want to have access to its state, so encapsulating it in the hook you proposed makes it harder to just copy the demo code and paste it in another project.

[2022-11-08 11:59] michaldudak commented on #34903
The native `<input>` is also affected by this: https://codesandbox.io/s/material-ui-text-field-character-limit-forked-dkfx1b?file=/src/index.js, so it's not a bug in Material UI.

[2022-11-08 11:59] #34903 closed

[2022-11-08 12:20] PratikDev commented on #35041
well if that's the case then i think MUI should describe the reason for intentionally syncing the values in there official doc. and also have an example where values are not synced, for some beginner React devs, so they don't scratch their head all day about how to unsynce it and end up thinking it's MUI who produced the bug

just a suggestion

and besides, now i'm really confused if i should crea

[2022-11-08 12:42] vmilan opened #35045 "[material-ui][ButtonGroup] Disabled styles should be improved"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

## Expected Behavior

The `border color` in `outlined ButtonGroup` should remain the original color when a button is `disabled`. Example:

![Screenshot 2022-11-08 at 13 29 48](https://user-images.githubusercontent.com/1934144/200564034-75b9f26c-e18b-4f21-ae79-85869e

[2022-11-08 13:15] PratikDev commented on #35041
yeah, that sounds more promising. all of em should either be controlled or uncontrolled

[2022-11-08 13:58] michaldudak commented on #35041
Feel free to prepare a PR.

[2022-11-08 15:01] ZeeshanTamboli commented on #34760
@yay See #16484. `Paper` component can be customized with `MenuProps.component` prop.

[2022-11-08 15:01] #34760 closed

[2022-11-08 15:20] asrinutku commented on #32749
+1

[2022-11-08 15:25] ZeeshanTamboli commented on #34635
@ItaiPendler  I think you can do it this way:
[code]

[2022-11-08 15:59] kmurgic opened #35048 "useFormControl missing TypeScript types"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://codesandbox.io/s/beautiful-raman-u7uek5?file=/demo.tsx
Steps:

1. Create a new TypeScript component that calls `useFormControl` (i.e. `const muiFormControl = useFormControl`)
2. Try to access the size and/or color prop (i.e.

[2022-11-08 17:04] hon2a opened #35049 "Can't combine multiple augments"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/suspicious-forest-6nq4bx?file=/src/App.tsx

_Note that this is a typing issue only, it crashes `tsc` but compiles and works with `babel`._

Steps:

1. Create multiple files containing module augmentation that

[2022-11-08 19:09] trizotti commented on #34813
I tried to reproduce this error in different ways and I noticed that the IconButton is not the problem at all. It may be something with the button element: if you replace the IconButton with a simple button, the behavior is the same. There is no problem when the button is replaced with another element, such as div or h1, for example.

[2022-11-08 19:51] vincentducorps commented on #34502
Same for:
- `MuiBadge`
![image](https://user-images.githubusercontent.com/6338609/200661129-704642e4-e23b-440a-93cc-96d944b77e24.png)

- `MuiButton`
![image](https://user-images.githubusercontent.com/6338609/200661283-f32b145f-a7bb-46bb-a508-8bfd0acf1e05.png)

[2022-11-08 20:21] ashuvssut opened #35050 "[MUI v6 Milestone] Implement the new MD3 typography variants in MUI theme."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently, MUI v5 supports the old [MD2's thirteen typography variants](https://m2.material.io/design/typography/the-type-system.html#type-scale)

**Feature Request:** MUI should implement those new [MD3's fifteen typography variants](https://m3.material.io/styles/t

[2022-11-09 00:13] axell-brendow commented on #19354
In my case, I needed to control the type of `multiple` myself because I have a custom prop which its type depends on whether `multiple` is true or false:

[code]

Unfortunately I can't set `value` and `onChange` without using `@ts-ignore`. The only way of not using `@ts-ignore` is to let the parent component set `value` and `onChange`.

[2022-11-09 04:00] siriwatknp commented on #34071
When you say "like in Material UI", which part do you mean? is it the animation (`mui-auto-fill`)?

[2022-11-09 04:06] akshaykn0797 opened #35055 "MUI Datagrid issue"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.Install MUI data grid to your application
2.
3.

### Current behavior 😯

I am trying to use MUI datagrid in my nextJs app, But multiple undefined errors are thrown

it says theme.palette.mode not defined

![image](https://

[2022-11-09 04:22] venugopalkathavate commented on #30900
This code doesn't work with the latest MUI v5.10.13.

[2022-11-09 04:55] siriwatknp commented on #34071
I try a different approach using CSS variables, what do you think? https://github.com/mui/material-ui/pull/35056

[2022-11-09 05:54] sai6855 commented on #35038
hey @hbjORbj  i see you are assigned to this issue, is it okay if i work on this issue?

[2022-11-09 06:29] imSmaity commented on #18227
Hi, I have solved with this **popupIcon={<KeyboardArrowDownIcon/>}**

[2022-11-09 07:26] devdate commented on #21142
Same issue, getting false value for a split second in rendering

[2022-11-09 08:12] timursayfetdinov commented on #30182
@marc-polizzi you just have to add it onMouseDown={(event) => event.stopPropagation()} to Chip
https://codesandbox.io/s/elated-murdock-ngggbp?file=/demo.tsx

[2022-11-09 08:29] Studio384 opened #35059 "[Joy|Typography] Add font-family variable for headings"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Right now the `display`-levels in the default Typography-component have their own font family variable while all the other levels, including the headings use the `body` variable.

Customizing the font of the headings is a common use-case, so having these linked to t

[2022-11-09 08:36] ZeeshanTamboli commented on #34498
@hrhrsdn You need to stop the event from bubbling up in `handleClose` with `event.stopPropagation`. The tab has the onChange event. But with `event.stopPropagation` when the menu is closed, the event phase gets ended and prevents from triggering `onChange`. See the updated CodeSandbox: https://codesandbox.io/s/material-demo-forked-2ze1is?file=/demo.js

[2022-11-09 08:36] #34498 closed

[2022-11-09 08:43] ZeeshanTamboli commented on #35038
@sai6855 Please go ahead.

[2022-11-09 09:24] ZeeshanTamboli commented on #35048
@kmurgic Yes, the types are missing. Doesn't make sense to omit it intentionally if the values are available. Feel free to create a PR.

[2022-11-09 10:10] Niveydhithaa commented on #16775
hi team, ive been using mui select options with multiple tags. but intermittently the options are showing up duplicacy even if duplicates doesnt exist actually.. can anyone help me out?

[2022-11-09 10:31] michaldudak commented on #35043
The screenshot in Current behavior hasn't uploaded. Could you please update the description?

[2022-11-09 10:38] mikkelvp opened #35063 "Slider markActive theme class not applied"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/kind-gould-jx8dmw?file=/demo.tsx

Steps:

1. createTheme > MuiSlider > markActive
2. ThemeProvider
3. Slider does not get the markActive class from theme applied.

### Current behavior 😯

Marks are rendered w

[2022-11-09 11:36] sai6855 commented on #35038
@ZeeshanTamboli created PR, is there any way to test changed component/file? currently i'm running "yarn test" but it is testing all packages.

[2022-11-09 11:41] ZeeshanTamboli commented on #35038
See the `test:unit` section in [Contributing guide](https://github.com/mui/material-ui/blob/master/CONTRIBUTING.md#cicircleci-test_unit-1) to narrow down the tests. You can also use `yarn t <filename>`. Example in this case, `yarn t Chip.test.js`

[2022-11-09 11:55] ZeeshanTamboli commented on #35063
Thanks for reporting. Looks like a bug.

[2022-11-09 12:12] KissBalazs opened #35066 "Nivo Charts wont animate if it is inside a styled() MUI component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://stackblitz.com/edit/react-ts-qm2e32?file=App.tsx

### Current behavior 😯

Nivo charts won't animate and noticeable flickers upon data update inside a styled MUI component.

### Expected behavior 🤔

To be able to animate the N

[2022-11-09 12:35] maciej-baruch commented on #30225
@rathpc The `root` styleOverride still works if you need to use it.

[2022-11-09 12:41] chema0 opened #35068 "[docs] Wrong behaviour source code scroll in Material UI components (only dark mode)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Navigate to [Material UI (MUI Core) components](https://mui.com/material-ui/)
2. Make sure dark mode is enabled.
3. Choose any component,  for example, [Card component](https://mui.com/material-ui/react-card/#media).
4. O

[2022-11-09 12:50] emlai commented on #34813
The problem is probably in the Tooltip or Popper since overriding `PopperProps.onMouseDown` fixes the issue.

[2022-11-09 13:05] sai6855 commented on #35038
Got it

[2022-11-09 13:43] LvChengbin commented on #30892
![image](https://user-images.githubusercontent.com/963223/200845752-c324ed3e-420d-4c4a-987d-34601c4f2164.png)

[2022-11-09 13:44] ZeeshanTamboli commented on #35032
@kartikKarekarGSLAB What is the issue? Does your `onKeyDown` prop passed to `TreeItem` not get executed? It doesn't matter if it's in the last. Can you provide a CodeSandbox that showcases your problem? The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-11-09 14:23] YuLingCheng commented on #34502
I had the same issue on [Button](https://mui.com/material-ui/react-button/), [Radio](https://mui.com/material-ui/react-radio-button/), [Checkbox](https://mui.com/material-ui/react-checkbox/).
Checked the demos on mui and I could see duplicate classes as well
<img width="1276" alt="image" src="https://user-images.githubusercontent.com/7447041/200854825-fabb8c94-9c7b-42e0-8b84-5305d51c3343.png">
<im

[2022-11-09 14:37] GideonMax opened #35069 "[SwipeableDrawer] Passing ref through `PaperProps` does not set reference"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://codesandbox.io/s/blissful-benz-7h259t?file=/src/App.tsx
Steps:

1. click on `FORCE RERENDER` (ref will be output to the console)

### Current behavior 😯

the reference is not set and stays undefined

### Expected behavior 🤔

[2022-11-09 15:13] michaldudak opened #35070 "[core] Scripts can't be used in other repositories"
A continuation of https://github.com/mui/material-ui/pull/35036#discussion_r1017765723

Summary: some of our infrastructure scripts assume they are being run in the mui/material-ui repo. This makes it impossible to run them in the MUI X or Toolpad repos. Scripts should have the workspace root configurable.

Additionally, one way of making the scripts less coupled to Material UI would be to extract

[2022-11-09 15:46] D3press3dd commented on #4532
try to memoize the button, maybe its rendering twice

[2022-11-09 15:54] michaldudak commented on #30900
This was a workaround before the fix was made. You can now import StepContext from the Step module:

[code]

[2022-11-09 16:31] RGDEV2022 opened #35073 "[Dialog] Conditionally adding transition component causes rendering issues"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/pw4zuo?file=/demo.js:923-933

Steps:
Conditionally add transition component to dialog (isMobile then -> slide from bottom).

### Current behavior 😯

The dialog tries to use the transition component when going

[2022-11-09 16:34] CyanoFresh commented on #35068
sam

[2022-11-09 16:57] selfrefactor commented on #30886
any progress as it seems like the issue is stuck without progress for too long? Proposal from @RCout1nho works great and I am thankful. Still, I don't like to have a library file in my source code.

[2022-11-09 17:37] pietmichal commented on #19450
Any updates?

[2022-11-09 18:19] DTom59 opened #35074 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-button/
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|-----------

[2022-11-09 18:51] FrancicoVerdu opened #35075 "Input does not accept styles in border BottomColor"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: [Link](https://codesandbox.io/embed/beautiful-rain-x6ph2r?fontsize=14&hidenavigation=1&theme=dark)

Steps: change the classes such as: "& .MuiInput-root": { borderBottomColor: "red } and you will see that these changes have no effect

[2022-11-09 19:52] michaldudak commented on #34719
It's already being worked on by @akshaya-venkatesh8.

[2022-11-09 19:53] michaldudak commented on #30230
@dtrenz Could you please open a new issue with a link to codesandbox showing the problem?

[2022-11-09 19:57] samuelsycamore opened #35077 "[docs] Duplicated pages for Base components in Material UI are outdated"
## The problem

The Material UI package contains some utility components that it shares in common with MUI Base.

These components are the exact same—they're imported directly from the Base package into Material UI with nothing added.

- Textarea Autosize
- Click-Away Listener
- Portal
- No-SSR

Am I missing any others?

Right now, the most up-to-date and comprehensive version of the docs on these

[2022-11-09 20:45] RemyMachado commented on #9775
### For those using the [dnd-kit](https://github.com/clauderic/dnd-kit) library.

To prevent the backdrop to be dragged, you must apply the `style` only on the `PaperComponent` via `PaperProps`.

Here's an example:

[code]

[2022-11-09 21:20] henrikmaa commented on #35075
Using before should change the underline color as you want.

[code]

  [Codesandbox demo](https://codesandbox.io/s/affectionate-nash-26iu0d)

[2022-11-10 00:12] nishidemasami commented on #35040
I understand. Thank you very much!

[2022-11-10 03:18] venugopalkathavate commented on #30900
@michaldudak Thank you. This is working now.

[2022-11-10 04:18] kartikKarekarGSLAB commented on #35032
Hey,
@gzrae @michaldudak and @siriwatknp for adding tags and looking into the same.

Hope you guys are cleared with the issue I am facing for the TreeView's TreeItem component.

Please let me know if more inputs reuired

[2022-11-10 04:52] kartikKarekarGSLAB commented on #35032
Hi @ZeeshanTamboli,

Thank you for adding the respond. I have added the TreeView implementation as below,

[code]

And also added theh calback,

[code]

I have added the callback at both the places,. Please do check and let me know which is the right place for adding the keyDown callback.

[2022-11-10 05:34] sai6855 commented on #35000
this is not a material UI bug, all html text tags have same behaviour. it's more of a browser issue then materia UI 's.
Observer how "p" tag is rendered in below image
<img width="1106" alt="Screenshot 2022-11-10 at 10 59 06 AM" src="https://user-images.githubusercontent.com/60743144/201008555-ba28a514-6a8d-41de-8ff8-4b85871f52df.png">

[2022-11-10 05:49] CalebJamesStevens commented on #34910
@mnajdova I think you should take the label off of this for "not our responsibility" right?

[2022-11-10 06:33] okanji opened #35079 "[docs] Unable to scroll in code snippets"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://mui.com/material-ui/transitions/#transitioncomponent-prop

Steps:

1. Go to the document for any component (in google chrome, not sure about other browsers)
2. Click the code snippet button and try scroll down to see the bott

[2022-11-10 06:37] #35079 closed

[2022-11-10 06:38] okanji commented on #35079
Duplicate

[2022-11-10 07:06] sebseb7 opened #35080 "Font of TextField changes when using password manager"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

![ezgif-1-ec60b8fdfd](https://user-images.githubusercontent.com/677956/201022505-3e30be4e-972f-4cc8-9a5d-15e3b45f58f2.gif)

### Current behavior 😯

Font of TextField changes when using password-manager.

Tested in current chrome on windows.

using the fol

[2022-11-10 08:15] doerfli opened #35083 "InputAdornment style is not getting disabled when TextField is disabled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://codesandbox.io/s/determined-shirley-8jy3j1?file=/demo.tsx

Steps:

1. Open Sandbox and look at the two Textfields
2.
3.

### Current behavior 😯

The styling of the InputAdornment is the same on enabled and disabled component.

[2022-11-10 09:48] PratikDev commented on #35041
hi @michaldudak
sorry for the disturbance, but I'm facing some issues while making the PR. tho I've applied prettier to format all the codes, but CircleCI still asking me to run "yarn prettier". not really sure what's causing this issue

[2022-11-10 09:53] michaldudak opened #35084 "[Tabs] Change Tabs implementation to use context"

[2022-11-10 10:20] michaldudak commented on #35041
Try running `yarn prettier:all`

[2022-11-10 10:42] sihooleebd commented on #10278
'inputProps' and 'InputProps' are different.
You should use them seperately
`inputProps={{
              autoCapitalize: 'none',
              autoCorrect: 'off',
            }}
            InputProps={{
              endAdornment: (
                <InputAdornment position="end">
                  @{myInfo.myInfo?.userInfo.academyId}
                </InputAdornment>
              ),

[2022-11-10 10:45] helloworld-dave commented on #10278
'inputProps' and 'InputProps' are different.
You should use them seperately
[code]

[2022-11-10 11:10] #34979 closed

[2022-11-10 11:29] dhvcc opened #35085 "JOY CSS theme breaks after @mui/system 5.10.6"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/fancy-fast-1fgp4k?file=/package.json
Steps:

1. Load up the sandbox, everything seems fine
2. Change `@mui/system` version higher than `5.10.6`
3. Switch to dark theme if needed

### Current behavior 😯

Every

[2022-11-10 11:44] pietmichal commented on #19450
That's how I've fixed it. Drop the component anywhere in the tree.

[code]

Example usage: `<RootAriaLabelMuiBugFix rootSelector="#root" />`

[2022-11-10 12:21] mnajdova commented on #34991
Thanks @58bits would you like to create a PR with the proposed changes, so that we can change the example as a whole?

[2022-11-10 12:23] mnajdova commented on #34995
Can you share a codesandbox with the code? It's not sure about which demo you are referring to.

[2022-11-10 12:28] mnajdova commented on #35006
Here is more information on setting up emotion for microfrontends: https://github.com/emotion-js/emotion/issues/2639. You should basically do what you are doing with react.

We don't expect some major breaking changes for the next version of Material UI (which currently is planned for Q4 2023). We are at this moment mostly focused on the new products MUI Base and Joy UI, and as for Material UI, th

[2022-11-10 12:30] mnajdova commented on #35045
I am tagging @danilo-leal to get perspective on the matter from a design point of view. @vmilan did you find some specification around this so far?

[2022-11-10 12:32] mnajdova commented on #35050
Thanks for pointing this out. We are tracking the Material You progress in https://github.com/mui/material-ui/issues/29345. Feel free to upvote the issue or add a comment about it there.

[2022-11-10 12:32] #35050 closed

[2022-11-10 12:36] mnajdova commented on #34910
I've left a comment on the pull request.

[2022-11-10 13:03] mnajdova commented on #30892
Has anyone checked https://github.com/mui/material-ui/issues/30892#issuecomment-1056880350 and the PR linked to it? Posting new screenshots is not helping anyone.

[2022-11-10 13:23] #34996 closed

[2022-11-10 13:42] mnajdova commented on #31835
I would recommend importing everything from the root, for e.g. from `@mui/material`. As far as I know there aren't issues like this. We are going to start tackling all blockers for supporting esbuild soon.

[2022-11-10 13:51] vmilan commented on #35045
@mnajdova There is a reference in material docs: https://m3.material.io/components/segmented-buttons/specs#7bcc5619-f77a-4d34-a202-b6b686eed1cb

Our design team has done some exploratory work with two proposals for implementation:

v1
<img width="431" alt="image (3)" src="https://user-images.githubusercontent.com/1934144/201108081-68ae60e3-5468-409e-a947-c71989cbb7b3.png">
<img width="165" alt="Sc

[2022-11-10 13:53] susanhenriquezcp opened #35087 "Material UI components not working with eslint-plugin-jsx-a11y"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.
2.
3.

### Current behavior 😯

Material UI components are not working with eslint-plugin-jsx-a11y linter.

### Expected behavior 🤔

_No response_

### Context 🔦

Hello!
I am trying to make eslint-plugin-jsx-a11y in our pr

[2022-11-10 13:56] mnajdova commented on #29482
@stuartrowe feel free to upvote the issue, no need for a comment :) We found the number of reactions on the PR to set priority/see traction.

[2022-11-10 13:57] aimad-majdou commented on #27846
For me, I'm using npm, rollup and typescript, and I followed this guide: https://mui.com/material-ui/guides/styled-engine/
And then I updated my configs as following:

tsconfig.json

`"paths": {
      "@mui/styled-engine": ["./node_modules/@mui/styled-engine-sc"]
    }`

rollup.config.js

`plugins: [
      alias({
        '@mui/styled-engine': '@mui/styled-engine-sc',
      }),
    ],`

But I stil

[2022-11-10 14:00] mnajdova commented on #34486
Tagging @michaldudak for opinion. Maybe we can add it as a feature in the `SliderUnstyled` and automatically get it in Material UI too.

[2022-11-10 15:42] nikitahlukhov commented on #19116
One more thank you from 2022!

[2022-11-10 15:55] valleywood opened #35090 "nextjs-with-typescript example outdated (createEmotionServer no longer available in @emotion/server)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Emotion server no longer exports using createEmotionServer directly:
From:
https://github.com/mui/material-ui/blob/master/examples/nextjs-with-typescript/pages/_document.tsx

[code]

From @emotion/server/src/index.js:

[code]
Updated example should be som

[2022-11-10 16:10] michaldudak commented on #35080
What password manager is this?

[2022-11-10 16:14] michaldudak commented on #35074
Could you please provide more information? Did it crash on load, or have you interacted with it? Was there an error in the console?

[2022-11-10 17:52] eoinpayne commented on #21745
This is still not working for me on v5

[2022-11-10 18:15] 58bits commented on #34991
@mnajdova  - https://github.com/mui/material-ui/pull/35092

[2022-11-10 18:37] sebseb7 commented on #35080
Google Chrome 107.0.5304.88 (current version) on Windows 10.

[2022-11-10 18:39] sebseb7 commented on #35080
this is how the TextField looks like:

´´´
                    <TextField spellCheck={false}
                        name="username" error={usernameHelperText != ' '}
                        onInput={(e)=>{setUsernameHelperText(e.target.value?' ':'Enter username')}}
                        onInvalid={(e)=>{e.preventDefault();setUsernameHelperText('Enter username')}}
                        helperT

[2022-11-10 21:43] Sloth303 commented on #12262
I did the icon thing <StepLabel icon={index}> and it works, but if your index == 0 it displays 1, can we do something for this instead of conditionally icon={"0"} ?

[2022-11-10 22:02] gustavo-depaula opened #35094 "[Modal] Can't override Backdrop Props using new Slots API"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Use Drawer and try to override backdrop props using `slotProps`:
[code]

### Current behavior 😯

This WORKS (intended final result), but the TS compiler doesn't like it:
[code]

### Expected behavior 🤔

No type error.

##

[2022-11-11 00:35] Zenoe commented on #35000
@sai6855  Thank you! I didn't realize that's what HTML requires. All I need to do is to add a style `whiteSpace: "pre"` to the element.

[2022-11-11 00:35] #35000 closed

[2022-11-11 02:18] neptune0xf commented on #32727
Same issue ,tried vite@3.0.8 vite@3.1.0 vite@3.2.3 still same error
<img width="1378" alt="image" src="https://user-images.githubusercontent.com/103205025/201248060-a80dc102-b1d9-496d-b440-ac2f31716aa0.png">

[2022-11-11 02:36] codeinearts opened #35095 "[docs] DemoEditor not allowing scroll on website documentation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Get into MUI website
2. Go to any component documentation (e.g. https://mui.com/material-ui/react-autocomplete/#multiple-values)
3. Click on show source
4. Try to scroll to see the example code source

### Current behavio

[2022-11-11 03:45] gitname commented on #35068
I think https://github.com/mui/material-ui/issues/35095 is a duplicate of this issue.

[2022-11-11 03:45] gitname commented on #35095
Hi @codeinearts, according to https://github.com/mui/material-ui/issues/35068, some people have been able to work around the issue by switching the docs website from Dark mode to Light mode.

[2022-11-11 04:35] codeinearts commented on #35095
Hey @gitname

I can confirm that it effectively works correctly using light theme.

I've also discovered that oddly enough, this only happens if entering the url of the docs directly, but not if you land on the home page and the move to components documentation.

When entering directly to the documentation pages, I can also see a flash of the light theme, which might give some clues about why is t

[2022-11-11 04:50] ZeeshanTamboli commented on #31192
Okay I am re-opening the PR.

[2022-11-11 05:32] ZeeshanTamboli commented on #35032
@kartikKarekarGSLAB But what is the issue exactly?

`oKeyDown` callback is on `TreeView` component. See https://codesandbox.io/s/keen-fermat-ur2zsb?file=/src/App.tsx.

[2022-11-11 05:46] kartikKarekarGSLAB commented on #35032
@ZeeshanTamboli The issue I am facing is as below,

The default implementation for keys 'left', 'right', 'down', 'up' needed to be overriden.

Default key down callback implementation. (The library code added in the description of this issue )
- left : collapse tree.
- right : expand tree.
- down : navigate down in tree.
- up : navigate down in tree.

I have added the tree as navigation menu for t

[2022-11-11 08:46] siriwatknp commented on #35085
Thanks for the feedback.

1. If you don't use any API directly from `@mui/system`, I suggest removing it from your project's dependency because Joy UI already uses MUI system as a dependency.
2. The `color-scheme` attribute does not come by default in Joy UI. You have to use `CssBaseline` to enable it. From our lesson learn, this is more flexible for projects that want to migrate to CSS variables.

[2022-11-11 08:46] #35085 closed

[2022-11-11 08:50] #35068 closed

[2022-11-11 10:18] ZeeshanTamboli commented on #35032
@kartikKarekarGSLAB The tree view is fully accessible. You can make a Controlled tree view and navigate as per your use case. See https://mui.com/material-ui/react-tree-view/#controlled-tree-view.

Can you provide a minimal reproduction in a CodeSandbox that I can look into and replicate your use case? The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-11-11 10:53] michaldudak commented on #35049
Duplicate of #31366

[2022-11-11 10:53] #35049 closed

[2022-11-11 11:12] hon2a commented on #31366
See more details in #35049. The issue is **not** that the interface augment in the second file isn't picked up. The issue is that even though the multiple interface augments present for e.g. `ButtonPropsVariantOverrides` in multiple files _are picked up properly_ (as evidenced by examination of the final type), only those from the first file are used by the `GenerateStringUnion` type inference hel

[2022-11-11 11:52] PratikDev commented on #35041
thanks. it worked. and all the tests are also passed now. is there anything more to do from my end?

[2022-11-11 12:19] mnajdova commented on #35045
Thanks! The link you've shared is for md3, which we are definitely going to adopt in the new components. For the changes you are proposing, I would maybe add them in the v6 milestone, as changing the styles at this moment, may break the UI, especially if some style overrides are used. I am adding this to the v6 milestone, so that we have it in mind when starting the work on v6.

[2022-11-11 12:20] mnajdova commented on #34991
Thanks! I will test it out next week and provide feedback on the PR.

[2022-11-11 12:59] wormple12 opened #35099 "[Autocomplete] types break when having multiple default values"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/wrong-types-in-autocomplete-with-multiple-default-values-b5qtpu

Steps:

1. Use an Autocomplete component with the following props
  a. `multiple`
  b. `options` passing an array of objects
  c. `defaultValue

[2022-11-11 13:21] michaldudak commented on #35083
This was done on purpose in #23908. You can always style the adornment according to your needs, overriding the default style.

[2022-11-11 13:21] #35083 closed

[2022-11-11 13:25] michaldudak commented on #34998
Good catch, thanks for reporting this. Would you like to contribute to the project by taking a deeper look at it?

[2022-11-11 13:58] michaldudak commented on #35094
This should work out of the box, without having to augment modules. The Modal uses the Backdrop component, so it makes sense for `slotProps` to accept Backdrop's props.

Would you like to prepare a PR with a fix?

For a workaround, before the issue is fixed, you can specify your own definition of ModalUnstyledComponentsPropsOverrides:
[code]

[2022-11-11 14:25] M-Fasciano opened #35100 "Tiktok icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Is it possible to add the TikTok icon?

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-11-11 14:54] nk9 commented on #34473
I'm experiencing this when trying to install `@mui/styles` with React 18.2.0. How did you resolve the problem?

[2022-11-11 15:19] #35095 closed

[2022-11-11 15:33] michaldudak commented on #32088
This is a good point. Having a different component for menus triggered by a button and those without (i.e. context menus) makes sense. I'm for having at least a `MenuButton` and a `ContextMenu`.

Sure, breaking changes aren't welcome, but if we can significantly simplify the API while introducing them, IMO they're worth considering.

Let's consider the code from https://mui.com/material-ui/react-m

[2022-11-11 15:58] caio-borghi-yapi commented on #16073
This solution is not working for v5

[2022-11-11 16:18] emlai commented on #33182
We're running into this issue as well.

[2022-11-11 17:52] oliviertassinari commented on #34176
Related to this discussion https://twitter.com/BrettThurs10/status/1591118613318369281

[2022-11-11 17:53] MatanBenShabat opened #35102 "Slider-Question"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

import * as React from 'react';
import Box from '@mui/material/Box';
import Stack from '@mui/material/Stack';
import Slider from '@mui/material/Slider';
import VolumeDown from '@mui/icons-material/VolumeDown';
import VolumeUp from '@mui/icons-material/Vol

[2022-11-11 18:06] httpete opened #35103 "Grid2 Doesn't use css gap? Why?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Css Gap is the best css feature ever. I can't understand why the shiny new Mui Grid2 would choose an old hacky technique for spacing?

Can we opt into this? This is a showstopper for me.

### Examples 🌈

.

### Motivation 🔦

.

[2022-11-11 22:34] RyanBarclay commented on #34998
@michaldudak, no worries. I will pass for now on taking a deeper look, currently pretty busy at work, etc. Just wanted to highlight the bug with the hope that it would be addressed.

[2022-11-12 04:22] iamxukai opened #35105 "[RFC] Remove useless code"
### What's the problem? 🤔

Hello, @siriwatknp

These codes are useless in my opinion since `StyleArg`  can't have `__emotion_real` prop. The prop is only in `Component` according to the Emotion source code.

### What are the requirements? ❓

_No response_

### What are our options? 💡

_No response_

### Proposed solution 🟢

[code]

### Resources and benchmarks 🔗

_No response_

[2022-11-12 04:23] iamxukai commented on #35105
I can create a PR, if you agree with this proposal.

[2022-11-12 06:12] Yasir761 commented on #35105
I'm interested in this project can you please assign it to me or I can help with any assignees

[2022-11-12 06:21] iamxukai commented on #35105
I don't have the right to assign someone and want to create a PR on my own if the change is approved :).

[2022-11-12 13:20] oliviertassinari commented on #34510
I would only have two comments on the proposal:

1. It sounds great. It could even be done sooner based on the results in https://stateofcss.com/. For example, 50% of people saying I have used it sounds good enough to justify the importance of providing an early API:

<img width="1024" alt="Screenshot 2022-11-12 at 14 16 18" src="https://user-images.githubusercontent.com/3165635/201475784-a7430360

[2022-11-12 13:29] oliviertassinari commented on #35103
Related to #34510, https://github.com/mui/material-ui/pull/35104#issuecomment-1312475844

[2022-11-12 13:44] #34336 closed

[2022-11-12 14:47] shelcia opened #35107 "export 'Item' (imported as 'Item') was not found in '@mui/material'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Try importing 'Item'  in "@mui/material": "^5.10.13",
![Screenshot 2022-11-12 at 8 10 51 PM](https://user-images.githubusercontent.com/31156685/201479385-6c72bec2-c885-4be5-80c4-4af125b6c874.png)

### Current behavior 😯

[2022-11-12 17:10] sai6855 commented on #35066
hey @KissBalazs the problem is you have declared StyledTable inside App function, so every time state changes inside App new StyledTable function is created. Since new StyledTable is created everytime, react unmounts and remounts children inside StyledTable, because of this unmount->remount->unmount behavoiur you re seening flickering behaviour.

To fix this just create StyledTable outside App.

[

[2022-11-12 17:47] iamxukai commented on #35105
Sorry for not giving the chance to you @Yasir761. I want to make some contributions as well. In my opinion, the work on this issue can't be divided into two PR. You can find other opportunity. Here is the [contributing guide](https://github.com/mui/material-ui/blob/master/CONTRIBUTING.md).

[2022-11-12 18:37] oliviertassinari commented on #30820
@jcdesousa we would love to understand in more depth the problem. What are you are trying to solve exactly? Is this about:

a. Making your DOM look cleaner in the dev tools? Meaning that you are happy to take the extra time hit of adding the necessary className for a cleaner DOM
b. You would like to "brand" these class names, something unique to your design system
c. Something else?

We have been

[2022-11-12 18:48] AymanMorsy opened #35112 "unexpected Horziontal scroll with two Box component MUI"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.
2.
3.
https://stackblitz.com/edit/react-ucvbgt?file=demo.js

### Current behavior 😯

when the page have two Box components one of the positioned relative with width of **100vw** it shows Horizontal scroll
the problem gone

[2022-11-12 21:11] joshlang commented on #33606
This one's getting me, too

Here's my scenario:
[code]

Annoying because of the debug error messages dumped into console.  But everything still works.

[2022-11-12 23:03] oliviertassinari commented on #32088
@michaldudak This point reminds me a discussion with @joserodolfofreitas about how high-level the API of the data grid and date picker should be. I would like to defend the following interpretation of reality: boilerplate for our use case might not matter:

- Developers copy & paste demos, unless the use case if very common, they will never remember what's the API. Personally, even when I was buil

[2022-11-13 05:25] sai6855 commented on #33936
hey @michaldudak created pr, https://github.com/mui/material-ui/pull/35130 added test also. can you please review when you get time

[2022-11-13 07:14] ARMBouhali commented on #29648
@oliviertassinari I think now we need other examples to accommodate for the experimental `app` directory introduced by **next@13**:
- material-next-app-dir
- material-next-app-dir-ts

In `material-next[-ts]` examples, the `_document.js` and `_app.js` files are still used. While in next@13 using the app directory, the two files are replaced by a single `app/layout.(js,ts)` file called 'root layout'

[2022-11-13 09:42] judemanutd commented on #34925
Hey @itsminh99 did you figure out how to resolve this issue?

[2022-11-13 17:30] tschaub opened #35131 "[examples/remix-with-typescript] Problem using @mui/icons-material"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

https://github.com/mui/material-ui/compare/master...tschaub:material-ui:remix-issue

Steps:

1. Start with the existing example
2. `npm install @mui/icons-material`
3. Use an icon button in the index route and a box component in the

[2022-11-13 18:30] VladislavAlushkin opened #35132 "[system] CSS variable class mistmatch with SSR"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://codesandbox.io/s/great-cartwright-28uqm4?file=/pages/index.tsx
Steps:

1. get example from https://github.com/mui/material-ui/tree/master/examples/nextjs-with-typescript
2. migrate to css vars via https://mui.com/material-ui/

[2022-11-13 20:52] KissBalazs commented on #35066
Thank you @sai6855 so much for the clear answer. I learned something new again about React!

[2022-11-13 20:52] #35066 closed

[2022-11-13 21:21] jpmariano commented on #32806
In React typescript, you have to declare that the variable is a type of ThemeOptions.

`
import * as React from 'react';
import { ThemeOptions } from '@mui/material';

const theme:ThemeOptions  = useTheme();
  const theme:ThemeOptions = React.useContext(ThemeContext); `

[2022-11-14 00:03] joy-mollick opened #35133 "Not working , are there maintainers available ? Lots of try , but not see result !"
I wondered, how others use this package! I just download it to design my basic project. I tried many times but failed to render a simple button only !! My simple code of app.js

`
import * as React from 'react';
import Button from '@mui/material/Button';

function App() {
  return <Button variant="contained">Hello World</Button>;
}

export default App;
`

![mui](https://user-images.githubuserconte

[2022-11-14 05:30] sai6855 commented on #35133
@joy-mollick can you provide code sandbox link, reproducing same issue?

[2022-11-14 05:47] sai6855 opened #35139 "[Drawer] Textfield inside drawer is not focusing when drawer is opened."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://stackblitz.com/edit/react-ypqwqa?file=demo.tsx

Steps:

1. click on left button
2.  textfield has autoFocus true
3. you can see input is not focused on open

### Current behavior 😯

input not focused on opening of drawer

###

[2022-11-14 05:48] sai6855 commented on #35139
I'm happy to work on this and create PR

[2022-11-14 05:51] siriwatknp commented on #32088
I understand that the proposal from @michaldudak leans toward **Select** component but honestly, my first intention is to make the **Select** lean toward **Menu** in Joy UI 😅

Seems like:
- **Jun**: push the components to be 1-to-1 mapping with the DOM.
- **Michal**: consolidate components to slots in a single component.

Or should MUI Base and Joy UI have different APIs because they target differ

[2022-11-14 07:14] siriwatknp commented on #35103
@oliviertassinari This issue is not related to those. The way we want the `Grid` component to work cannot be applied using CSS `gap`.

@httpete Here is the demo of why using `gap` does not work for the current API: https://codesandbox.io/s/poc-grid-gap-e1nq9l?file=/index.js

For the Grid item, you will need to know how many items are in a row, so that you can do this:
[code]

You can't mix `gap` w

[2022-11-14 09:29] #35103 closed

[2022-11-14 09:45] sai6855 opened #35141 "[Autocomplete] incorrect highlighted option on mouse hover."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/infallible-joji-lhs0sg?file=/demo.jsx

video link: https://www.loom.com/share/81bc73d696a84d87acc2919018350244

Steps:

1. click on autocomplete
2. place your mouse on 1st option
3. press downward arrow key 3

[2022-11-14 09:47] sai6855 commented on #35141
I can to work on this and create PR

[2022-11-14 09:51] bexoss opened #35142 "Unnable to set TextField's textAlign in Joy UI"
How do I set textAlign with Joy UI TextField?
Nothings gonna make it properly with inputProps.

[code]

[2022-11-14 10:34] #33054 closed

[2022-11-14 10:36] #34928 closed

[2022-11-14 10:43] skfahad commented on #12679
I am facing the same issue

[2022-11-14 11:57] nizans opened #35144 "Accordion component causing SVG elements to disappear"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://stackblitz.com/edit/react-ts-ruzk8w?file=package.json,App.tsx,Svg.tsx,index.tsx

Steps:
1. Place an SVG element inside `Accordion` component
2. Place another SVG anywhere else **AFTER** the accordion element, (If you render a

[2022-11-14 12:16] Paullina26 opened #35145 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-button/#contained-buttons
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Vers

[2022-11-14 12:17] #35145 closed

[2022-11-14 12:32] guptaShyam123 commented on #32749
i  previously added display:none in sm device then i removed this  , now its working properly

[2022-11-14 13:29] oliviertassinari commented on #34895
@michaldudak My point is simply to have an API design approach page that is up-to-date and clear. A page that covers the full scope of the code APIs of MUI (so that differences between products can be highlighted). The value would be:

- For MUI
  - To create more consistent APIs
  - To know why specific APIs exist. It's going to be hard 2 years from now to find back the GitHub or Notion pages whe

[2022-11-14 13:31] oliviertassinari opened #35147 "[docs] Update API design approach"
The content of https://mui.com/material-ui/guides/api/ is getting outdated. We raised in https://github.com/mui/material-ui/issues/34895#issuecomment-1304205535 how it could be great to update it.

[2022-11-14 13:36] michaldudak commented on #34998
Sure, no problem. Perhaps someone else from the community will take a stab at this.

[2022-11-14 13:44] michaldudak commented on #34486
I think it could make sense to make it work similarly to MultiSelect. See `getSerializedValue` usage in https://github.com/mui/material-ui/blob/master/packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.tsx. This way, developers can choose what exactly they need to post to the server. I agree that posting just the max value when the select allows editing more may not be the most intuitiv

[2022-11-14 14:02] fymmot opened #35149 "Chip component is not refocused when closing Modal/Drawer/Menu"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: [https://codesandbox.io/s/mui-chip-focus-bug-c9tlpv?file=/demo.tsx](https://codesandbox.io/s/mui-chip-focus-bug-c9tlpv?file=/demo.tsx
)
Steps:

1. Use TAB key to focus Chip
2. Press Space to activate Chip and open the Menu or Drawer

[2022-11-14 17:01] GhostyJade opened #35151 "Cannot view full source for examples in the official documentation."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
Every page that contains any code example, eg. https://mui.com/material-ui/react-app-bar/

Steps:

1. Open the documentation
2. Go to any page that contains an example for a component
3. Select the IconButton to view the complete cod

[2022-11-14 17:51] samuelsycamore commented on #35151
Hi @GhostyJade, is the problem that you're not able to scroll within the code box? If so, this is a known bug from #34870 that will be resolved with #35064 in the next release (#35146) that should go out very soon. 🤝

[2022-11-14 18:12] #35133 closed

[2022-11-14 19:37] ruiaraujo012 commented on #34928
thanks to all.

When will this fix be released?

[2022-11-14 23:42] juliorochafilho commented on #34893
This happens for me when I try to use version 13.0.3 of Next JS , using 13.0.0 it works fine.

[2022-11-15 00:17] oliviertassinari commented on #35151
Duplicate of #35095

[2022-11-15 00:18] #35151 closed

[2022-11-15 00:19] oliviertassinari commented on #35103
@siriwatknp Right, great point.

So @httpete you can subscribe to #9513 for a version of the Grid that uses the gap instead of the negative margin. It would need to use CSS grid, over CSS flexbox.

[2022-11-15 00:45] httpete commented on #35103
No it wouldn’t, css gap works fine with flex box, been using it for years.On Nov 14, 2022, at 7:19 PM, Olivier Tassinari ***@***.***> wrote:﻿
@siriwatknp Right, great point.
So @httpete you can subscribe to #9513 for a version of the Grid that uses the CSS gap instead of the negative margin. It would need to use CSS grid, over CSS flexbox.

—Reply to this email directly, view it on GitHub, or unsu

[2022-11-15 00:47] oliviertassinari commented on #35103
@httpete True, but it's not the problem.

[2022-11-15 01:33] jannisg commented on #35026
@michaldudak Thank you for your reply and looking into this.

I have managed to address the `Select` component but am still having issues with the other suggestion which involved passing in an element via the `component={}` prop and the resulting wrapper correctly inferring the types of the given components.

I have created an isolated example using a wrapped `Container` element with a custom `Sur

[2022-11-15 02:46] siriwatknp commented on #35103
`gap` works with flexbox but it does not work for the `Grid` component API.

[2022-11-15 05:09] siriwatknp commented on #35059
I don't think the default font-family should have 3 values. The `display` and `body` is enough for most cases.

Note that the `h1` and `h2` is using `theme.fontFamily.display` so you can just update the h3-h6.

[2022-11-15 05:09] #35059 closed

[2022-11-15 05:55] danilo-leal commented on #35059
Yup, definitely agree that two font families cover most of the scenarios⎯with a few exceptions, such as code blocks. But most of the time, it seems to cover pretty well.

[2022-11-15 07:54] nizans commented on #35144
Looks like adding `TransitionProps={{ unmountOnExit: true, mountOnEnter: true }}` fixes the issue, but I still think it should not be related.

[2022-11-15 08:46] siriwatknp commented on #35142
@bexoss I recommend that you use `Input` + `FormControl` instead.

[code]
**Sandbox**: https://codesandbox.io/s/condescending-sanne-8nd3nb?file=/demo.tsx

[2022-11-15 08:48] #35142 closed

[2022-11-15 08:58] siriwatknp commented on #35132
The reason is that `theme.palette.primary.main` changes between modes which causes emotion to generate new classnames.

To fix this, you should use `theme.vars.*` which points to the CSS theme variables.

[code]

This way the component style does not change (still pointing to the same variable between modes), what changes are the value of the CSS theme variables.

I forgot to add this point to the

[2022-11-15 10:20] michaldudak commented on #34928
It's just been released.

[2022-11-15 11:09] #34830 closed

[2022-11-15 11:14] pajazi commented on #31835
Hi guys, don't know if this will help someone, but this worked for me,
I deleted the node_modules folder and re-installed all the dependencies using npm
The problem was solved

[2022-11-15 13:46] TomaszPaszek commented on #29969
@RemyMachado

1. If you have a problem with message `Warning: A component is changing an uncontrolled input to be controlled.` You should use string empty ` "" ` value to init component. Example here: https://codesandbox.io/s/select-typescript-example-for-object-values-forked-2izknu?file=/src/App.tsx

2. But the above solution still has problem with TypeScript warning.
It is working corectly, but

[2022-11-15 14:11] Alf-Melmac opened #35155 "Select dropdown misaligned"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://mui.com/material-ui/react-select/#basic-select
https://codesandbox.io/s/bug-missaligned-slect-dropdown-ubflw6?file=/demo.tsx (only changed minWidth to width)

Tested in Firefox and Edge (Chromium)

### Current behavior 😯

![g

[2022-11-15 15:30] michaldudak commented on #35077
What do you think about having a very short description on each of these pages saying that this component is a part of MUI Base and it's documented there (and it's reexported from Material UI just for convenience)?
Redirecting to Base docs directly may confuse people (especially if they don't notice the product context changed, they may be surprised to see much fewer components in the menu.

[2022-11-15 16:02] totszwai opened #35156 "[Bug] Wrong `theme.shape.borderRadius` definition in d.ts"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.
2.
3.

### Current behavior 😯

According to the MUI v5 migration documentation, `borderRadius` is supposed to be able to take `number` or `string`.

https://mui.com/material-ui/migration/v5-component-changes/#%E2%9C%85-up

[2022-11-15 16:06] samuelsycamore commented on #35077
@michaldudak In this case, would we remove all other content from the Material UI version of the page? I think this makes sense as a stop-gap measure on the way to deprecation in the future.

[2022-11-15 16:08] #35105 closed

[2022-11-15 16:09] samuelsycamore opened #35158 "[docs] Revise Material UI Component docs for style, grammar, and formatting consistency"
## The problem

The Material UI docs have been written by thousands of people over many years. That's really cool, but there's a very conspicuous lack of an editor's touch. Page structure/formatting is inconsistent, grammar often leaves much to be desired, and there are no style rules applied across the board.

As with #32072 and #33998, I intend to audit and revise each existing page individually

[2022-11-15 16:10] #34635 closed

[2022-11-15 16:32] totszwai commented on #35156
Found a workaround. Essentially, we have to force feed it to Mui.
Under the hood, it looks like Mui does take `string` but is just that the typescript definition is wrong.

![image](https://user-images.githubusercontent.com/4440365/201972270-ee8aa41d-d7fa-4f12-8058-5271bf306574.png)

[2022-11-15 16:59] vimutti77 opened #35159 "Allow using linear-gradient color in theme palette"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Allow using linear-gradient color in theme palette or allow to use it in non-default palette

### Examples 🌈

I try to use linear-gradient in palette, but I got `MUI: Unsupported 'linear-gradient(-39deg, #4991f8 0%, #4bc1ff 100%)' color.`
[https://codesandbox.io/s/d

[2022-11-15 17:11] michaldudak commented on #35077
Yes, I think this is my preferred option.

[2022-11-15 18:29] samuelsycamore commented on #35077
Cool, I'm happy to move forward with that plan as long as @oliviertassinari doesn't have any objections.

[2022-11-15 19:01] oliviertassinari commented on #35077
@michaldudak to be clear on this one. The idea was to remove these components from the left side nav on Material UI. The "redirection" is about the 301 that is necessary to add to not break SEO. So I believe that there won't be the confusion of a magic product change.

[2022-11-15 20:44] aaadipop commented on #24201
I'm facing the same situation, when editing and the input is an object and, from [here](https://mui.com/material-ui/api/select/), "If the value is an object it must have reference equality with the option in order to be selected", if there is a separate array with options, the objects will not be eq. so it can be a feature :)

using object.id as value/key works good

[2022-11-15 21:16] sabotag opened #35161 "mui styled RTL with '/*! @noflip */' doesnt work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
[SANDBOX DEMO](https://codesandbox.io/s/mui-rtl-noflip-7rk2zq-7rk2zq)

Steps:
1. According this [instructions](https://mui.com/material-ui/guides/right-to-left/#opting-out-of-rtl-transformation) - when we add `/*! @noflip */` comment

[2022-11-15 21:19] quarryman commented on #35161
Facing same issue.

[2022-11-15 22:05] rruenroeng commented on #33558
Hello there!
I'm running into the same issue:
<img width="697" alt="image" src="https://user-images.githubusercontent.com/16890920/202034825-660ae8e2-43b1-40be-8b92-31ed90eba243.png">
Any chance this will get fixed?

[2022-11-16 02:01] dwjohnston commented on #15705
I believe I have a relevant repro of this issue.

https://codesandbox.io/s/ancient-fog-0grngk?file=/demo.tsx

Essentially what I'm trying to do is have a table, buttons on the tables can trigger dialogs (eg. "Are you sure you wish to delete..."), also table rows can be clicked. Issue I'm having is that the click events propagate through the modal.

[2022-11-16 02:23] dwjohnston commented on #15705
Does anyone have a nicer solution for preventing propagation than what I've got here?

[code]
https://codesandbox.io/s/shy-hooks-49do9w?file=/demo.tsx:1737-2023

Feels pretty icky.

[2022-11-16 03:19] siriwatknp commented on #33558
Even with TypeScript v4.1.5, do you still get the error?

[2022-11-16 04:50] siriwatknp commented on #35159
I see that the docs are lacking this info. We should mention that the `palette.*.(light|main|dark)` will be used to calculate channel colors (I think this should be fixed to only apply to the default palette)

@vimutti77 to make the background works, you need to use `background`, not `bgcolor` (this is how CSS works). https://codesandbox.io/s/silent-sun-onmj8f?file=/src/App.tsx

[2022-11-16 04:57] candiedoperation commented on #783
This won't work if you have multiple fields...

[2022-11-16 05:00] siriwatknp commented on #35112
This is expected. In the devtool, you will see that the `body` has a default margin set by the browser.

One way to fix it is to use `CssBaseline`:

[code]

The idea is to reset the default browser styles. There are more options that you can find online with "CSS reset" keyword.

[2022-11-16 05:00] #35112 closed

[2022-11-16 05:02] sai6855 commented on #34998
sure, i don't mind

[2022-11-16 06:11] 233mawile opened #35164 "[ButtonUnstyled] cannot trigger active status when click element inside button"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://stackblitz.com/edit/react-d7kdwv-qqwmf4?file=demo.js

Steps:

1. Click blue area. Button will show active style.
2. Click black area. Button will not show active style.

https://www.loom.com/share/fdc297f6d99e4052addae0d3fd91

[2022-11-16 08:42] Uzwername commented on #35039
Just following up: is this going to be addressed?

[2022-11-16 08:42] michaldudak commented on #34998
@RyanBarclay sure, I don't mind.
Alternatively you could send a PR to @sai6855's branch or contribute directly to his PR (after you get permissions).

[2022-11-16 11:36] flaviendelangle commented on #35147
Related to https://github.com/mui/material-ui/issues/31745

[2022-11-16 12:25] samkevin1 commented on #35156
I would like to work on this one.

[2022-11-16 13:11] yaredtsy opened #35169 "[Pagination] on table pagination row info is not in correct order on RTL"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://mui.com/material-ui/react-pagination/#table-pagination

Steps:

1. change the direction of the page to RTL
2. it should have been `100 of 30-21`
![image](https://user-images.githubusercontent.com/34584266/202188386-2ab29f50-9

[2022-11-16 13:21] ogutdgn commented on #34912
how can I update? I dont know how to.

[2022-11-16 13:43] mnajdova commented on #35090
It works as far as I can see: https://codesandbox.io/s/github/mui/material-ui/tree/master/examples/nextjs-with-typescript?file=/package.json. Also, this is still the recommended approach on emtoin's docs: https://emotion.sh/docs/ssr#on-server

Please share a repository that would show the error.

[2022-11-16 14:10] BartJanvanAssen commented on #27853
Any update on this one? I face this issue on version:
"@mui/lab": "^5.0.0-alpha.106",

Use case:
In some application I'm using the LoadingButton in a "Confirm Dialog" (strait forward implementation: <Dialog> then <DialogActions> then <LoadingButton>)
steps:
1. open dialog
2. switch google translation in browser adress bar
3. press the loading button and set the loading prop to true.
4. 💥 Crash.

A

[2022-11-16 14:11] valleywood commented on #35090
Went back to the code in the node_modules directory and I can see that you are right. The `src/create-instance/index.js` does actually have a default export: `export default function (cache: EmotionCache) {`

I have no idea why this didn't work for me in the first place (got build error saying that create-instance wasn't found).

Sorry for the inconvenience, closing this issue 🙏

[2022-11-16 14:11] #35090 closed

[2022-11-16 15:06] Gougerik commented on #34912
You can change a version in the package.json file and then use `yarn` on `npm i`. You can use [npm-check-updates](https://www.npmjs.com/package/npm-check-updates) tho.

[2022-11-16 15:29] rruenroeng commented on #33558
Yup. I upgraded to 4.1.5 and then 4.2.4. --> Neither worked but my project is on 3.9.7 in production, so I can't use @MUI as it stands. 😢

[2022-11-16 15:51] scherroman commented on #35037
Reopening this as I've run into a situation where I want to adapt a [modal](https://mui.com/joy-ui/react-modal/) from `layout='fullscreen'` when on mobile to `layout='center'` when on tablet or larger, which is not covered by the use of breakpoints on the `sx` property. Passing in an object with breakpoints like `<ModalDialog layout={{ mobile: 'fullscreen', tablet: 'center' }}>` doesn't appear to

[2022-11-16 16:51] BiancaArtola opened #35175 "[Autocomplete] Detect if the dropdown options are open at top or bottom"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I need to have a way to detect when the options from the autocomplete are being opened at the top or at the bottom of the component.

### Examples 🌈

When the options are displayed at the bottom:
![image](https://user-images.githubusercontent.com/21174759/202242830-

[2022-11-16 17:06] faisalur-rehman commented on #25064
I just ran into this overlapping issue of ListSubHeader and found out that you can `disableSticky={true}` as a prop to the ListSubheader component like so:
`<ListSubheader disableSticky={true}>{customer?.text}</ListSubheader>`

[2022-11-16 18:11] sai6855 commented on #35175
i guess you can do something like this

[code]

[2022-11-16 18:56] BiancaArtola commented on #35175
Thanks for helping with the solution
Looks like the ListboxProps is not working great. The reference is always returning `undefined` and typescript return the following error
![image](https://user-images.githubusercontent.com/21174759/202268780-9e17f8b7-dc4e-4592-b343-b57d9913235d.png)

[2022-11-16 19:18] sai6855 commented on #35175
Have you defined type while declaring listboxref

[2022-11-16 19:32] BiancaArtola commented on #35175
I defined listBoxRef as this

` const listBoxRef = React.useRef<HTMLInputElement>();`

[2022-11-16 19:35] sai6855 commented on #35175
Can you send codesand box link , reproducing same issue. It will be easier
this way

On Thu, 17 Nov 2022, 01:02 Bianca Artola, ***@***.***> wrote:

[2022-11-17 00:46] aaronadamsCA commented on #24765
FYI, Remix recommends `<fieldset disabled>` [in their docs](https://remix.run/docs/en/v1/guides/data-writes#graduate-to-form-and-add-pending-ui). Given the growing popularity of Remix, I expect this technique will be in demand a little more; I was disappointed to find MUI couldn't handle it yet.

[2022-11-17 02:01] bexoss commented on #35142
@siriwatknp THANKS A LOT!+

[2022-11-17 03:03] hanayashiki commented on #31380
true? I'm experiencing a similar bug

[2022-11-17 04:04] siriwatknp commented on #35159
@vimutti77 Looks like you are trying to create a custom palette. Here is my suggestion:

- All of the color tokens should live in `colorSchemes.(light|dark).palette.*` to get the benefit of the `sx` prop. When you write `sx={{ bgcolor: 'custom.main' }}`, the value will resolve correctly. This [PR](https://github.com/mui/material-ui/pull/35178) will fix the issue.

  However, the `sx` prop does not

[2022-11-17 07:52] Bearfinn commented on #31192
To support this request, I am using MUI with `react-hook-form` in which `value` from the server is in form of uuid (string) type and send the data back to the server with uuid (string) only.

If this issue is not tackled, I will need to either:
1. Convert uuid to full object as value to be compatible with the types, and then extract uuid from the full object when sending update request to the serv

[2022-11-17 09:43] chrqls commented on #21728
Hi, same issue here => [https://codesandbox.io/s/unruffled-star-n5geug?file=/src/App.js](https://codesandbox.io/s/unruffled-star-n5geug?file=/src/App.js)

[code]

or it works but I don't get what does the `maxItems` parameter.

[2022-11-17 09:43] joshuarobs commented on #5185
Is there any way we can keep scroll lock disabled, but we have the scrollbar still visible? It should be like on YouTube, where if you click on sort a video's comments, the scroll bar stays the same (no change, no disabled style), but the user is prevented from scrolling

[2022-11-17 09:57] chrqls commented on #21728
Ok, I think I get how it works.
If the path contains more than `maxItems`, the breadcrums is collapsed.
I thought that this parameter defined how many items are displayed in the collapse view.

[2022-11-17 10:19] skypesky commented on #34305
我试了一下拖拽上传的组件，我觉得接口太难用了，后来我选择了:
https://ant.design/components/upload/

[2022-11-17 12:40] michaldudak commented on #32088
Perhaps we should ask the developers what API they'll prefer to use.

[2022-11-17 12:53] oliviertassinari commented on #32088
@michaldudak Sounds great 👍.

Also, some designers like it when it's composable 😛 https://twitter.com/i/timeline

[2022-11-17 13:18] #34995 closed

[2022-11-17 13:33] ZeeshanTamboli commented on #35156
@totszwai The type definition you are pointing out is for `theme.shape.borderRadius` which is not the type of `borderRadius` system prop mentioned in the migration guide.

As stated in the docs, if the `borderRadius` system prop is a number it will multiply with the `theme.shape.borderRadius` which is why the type of theme's borderRadius is just a `number` to support multiplication. See issue http

[2022-11-17 13:35] noahehall commented on #32688
setting default* props fixes layout issues in non-ssr contexts as well

[2022-11-17 13:38] BiancaArtola commented on #35175
Here it is!
https://codesandbox.io/s/react-typescript-forked-po55fm?file=/src/App.tsx

@sai6855 thank you

[2022-11-17 13:48] ZeeshanTamboli commented on #33744
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-11-17 14:10] michaldudak commented on #32088
Sure, if that's what our users want, I'm fine with it. But then, let's rethink other components' API as well because I wouldn't like to have many different customization patterns across the library.

[2022-11-17 14:13] JOELJOSEPHCHALAKUDY commented on #32563
got a solution for older versions applying the following worked for me

`'& [role="option"].Mui-focusVisible': {
    borderLeft: '4px solid blue',
  },
 `

[2022-11-17 14:38] plgagnon2 commented on #10975
why was this closed exactly? still cant set elevation with variant="permanent"

[2022-11-17 15:03] michaldudak commented on #32088
@siriwatknp, @oliviertassinari One more question about options 4 and 5 - how do you envision setting the menu button or items' props conditionally, based on the state of the menu? For a concrete example, let's consider having a custom CSS class applied when a menu is open.

[2022-11-17 15:16] flaviendelangle commented on #34978
The topic is similar to #34978

[2022-11-17 15:27] jeremy-w commented on #32826
That resource concerns itself only with visual layout and also neglects the accessibility concerns.

The best approach I’ve seen for this sort of potentially-interactive stepper is to treat it as a manually-triggered tablist. This is addresses as a common pattern by WAI-ARIA with an example calling out the relevant accessibility behaviors at https://www.w3.org/WAI/ARIA/apg/example-index/tabs/tabs-

[2022-11-17 16:10] #35043 closed

[2022-11-17 16:12] ianschmitz commented on #34978
Looks like you linked back to here @flaviendelangle

[2022-11-17 16:36] flaviendelangle commented on #34978
Indeed, updated :+1:

[2022-11-17 16:42] olefrank commented on #34025
Any news on this?

[2022-11-17 16:58] DWboutin commented on #33178
@mnajdova I just made a reproduction here: https://codesandbox.io/s/naughty-snow-4lmnvy?file=/src/CTASection.tsx

[2022-11-17 17:05] pr218 opened #35542 "AvatarGroup max when total = max"

[2022-11-17 17:10] #35074 closed

[2022-11-17 17:16] DmitriyMalayev opened #35183 "Date field not displaying correctly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.
2.
3.
![image](https://user-images.githubusercontent.com/56614284/202512714-89330df5-2fd3-49d5-8e30-5539bddaee11.png).   Before clicking

![image](https://user-images.githubusercontent.com/56614284/202512773-0e5f393a-9add

[2022-11-17 17:24] pr218 opened #35184 "AvatarGroup max when total = max"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Set AvatarGroup max to 11
Let's have size of avatars 11
Instead of displaying 10 avatar, +1, it displays all 11 avatars
In AvatarGroup.ts

if (totalAvatars === clampedMax) {
clampedMax += 1;
}

clampedMax = Math.min(totalAvatars + 1, clampedMax);
const ma

[2022-11-17 17:24] #35542 closed

[2022-11-17 18:58] CalebJamesStevens commented on #20470
Any momentum on this issue? Running into the same problem currently. Looks like the current implementation of the chip probably shouldn't be used outside of a text field

[2022-11-17 21:32] kasparsiricenko commented on #29834
Yea, I find it frustrating. I used it all the time. Now I have to search manually in packages. Please add this small piece. It was making a difference to many people!

In MUI v5:

<img width="859" alt="Screenshot 2022-11-17 at 21 31 02" src="https://user-images.githubusercontent.com/64709398/202564098-d842d7f8-052b-4d8e-b250-4b954c294ff6.png">

In MUI v4:

<img width="917" alt="Screenshot 2022-11-

[2022-11-17 22:35] samuelsycamore commented on #35077
Alright, this sounds like the best course of action to me:

- Make the Base docs the single source of truth about these components.
- Replace content on the Material UI pages with info about Base, point users to those docs, and mention that the Material UI versions of the components will be deprecated in the future.
- When these components are finally deprecated, then we can remove and redirect th

[2022-11-17 22:50] DmitriyMalayev commented on #35183
**Resolved**

TextField {
    sx {
        width = 40.pct
    }
    label = ReactNode("Start Day")
    variant = FormControlVariant.outlined
    onClick = {
        val target = it.target as dom.html.HTMLInputElement
        target.type = InputType.date.toString()
    }
    onBlur = {
        val target = it.target as dom.html.HTMLInputElement
        target.type = InputType.text.toString()
    }

[2022-11-17 22:50] #35183 closed

[2022-11-18 00:34] TheMoonDawg commented on #31035
Gross solution, but I just used the good ol' `!important` property to get the new color to take.

Hacky, but not awful. :)

[2022-11-18 01:18] JFChoe opened #35187 "[Slider and Tooltip] MUI V4 Tooltip (as slider ValueLabelComponent) won't correctly set enterDelay/enterNextDelay/enterTouchDelay/"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://codesandbox.io/s/material-demo-forked-wtz1p6?file=/demo.tsx

Steps:

1. Create custom ValueLabelComponent for Slider
2. Set `enterDelay` for the Tooltip in ValueLabelComponent

### Current behavior 😯

There is no delay when h

[2022-11-18 03:26] ngocy2011 commented on #12262
How about `icon={index.toString()}` ?

[2022-11-18 03:35] siriwatknp commented on #20470
@CalebJamesStevens Could you take a look at Joy UI Chip? If it looks good to you, we might update Material UI Chip to follow the similar structure.
- https://mui.com/joy-ui/react-chip/#delete-button
- https://mui.com/joy-ui/react-chip/#clickable

We could add this to the `ChipDelete` component.

[2022-11-18 03:49] siriwatknp opened #35188 "[ChipDelete][Joy] Support backspace key press"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

[code]

### Examples 🌈

_No response_

### Motivation 🔦

Mentioned in https://github.com/mui/material-ui/issues/20470#issuecomment-1319070244 which makes sense to me in terms of accessibility. The component is specific to the delete action, so it should work with th

[2022-11-18 03:59] siriwatknp commented on #32826
@jeremy-w Thanks for sharing, that's a great insight.

[2022-11-18 05:38] siriwatknp commented on #32088
I don't think adding a custom CSS class is common for Material UI and Joy UI, otherwise, we would have seen the issues with other components already.

However, it will follow the convention using the class name with the `sx` prop:
[code]

or with the theming API:
[code]

[2022-11-18 08:08] TranLuongTuanAnh commented on #30483
this work for me
`
root: {
 fontSize: '1rem !important'
 }
`

[2022-11-18 08:36] PrakharMathur619 commented on #16073
Yes I am also facing the same issue.
Using -> "@mui/material": "^5.6.4"

Did you find a solution to this?

[2022-11-18 08:45] GutuGaluppo opened #35190 "TextField label not floating after migrating to MUI v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

After migrating to MUI v5 my TextField label is no longer animated (floating to the top left).

That's my code:
[code]

### Current behavior 😯

![textfield_label_issue](https://user-images.githubusercontent.com/33703873/202658082-ca59d546-78d5-475a-a9eb-1

[2022-11-18 08:58] DominicGBauer commented on #31820
@mnajdova don't you need to use `import { createTheme } from '@mui/material/styles';`? How would you do this without getting the `Error: MUI: makeStyles is no longer exported from @mui/material/styles.` error?

[2022-11-18 08:58] VinceCYLiao commented on #5750
I propose that in ModalManage's handleContainer function, we can also set scroll container's touch action style to "none" when open, and restore it when close. Although this will only work on IOS version 13 and later, I think this is OK as a temporary workaround until the iOS safari bug is fixed.

You can try it [here](https://n3ooyr.csb.app/) on your iOS device.

If you think this workaround is O

[2022-11-18 09:02] michaldudak commented on #32088
It is very important for Base components, though. And in this case, there is no possibility to use `sx` or a theme.

[2022-11-18 09:35] koooge commented on #14427
HI there,
I got same issue @mui/material@5.10.12 with react@18 and chrome 107. It did not happen with react@17.

[2022-11-18 09:37] Mistes974 commented on #25189
Container queries are also available for Tailwind
https://tailwindcss.com/blog/tailwindcss-v3-2#container-queries

[2022-11-18 09:50] siriwatknp commented on #32088
https://github.com/mui/material-ui/pull/34997 reminds me that it is possible with:

[code]

Would this work? MUI Base also support this right?

[2022-11-18 10:16] BartJanvanAssen commented on #27853
Had a look into it, made some changes to the loading button to try wrap it with a div and testing it locally. No crashing React anymore. Works fine 👍🏻 . However the spinner (child node of the button) gets it styles unmounted somehow. No clue yet how to prevent that from happening.

I've looked it over, made some changes to the loading button to try and wrap it with a div and test it locally. No mo

[2022-11-18 10:46] michaldudak commented on #32088
Having the "one DOM element per component" pattern makes `slots` and `slotProps` obsolete, IMO.

[2022-11-18 11:09] #35032 closed

[2022-11-18 12:25] ZeeshanTamboli commented on #34150
I am not able to reproduce your issue. Instead I am getting the following error in my React application after linking `@company/components` to my React app with `npm link`:
[code]

Code:
[code]

[2022-11-18 13:05] maciej-gurban opened #35195 "Cannot use conditional CSS blocks inside styled() definitions written as functions"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/exciting-agnesi-xnoes2?file=/demo.js

1. There are 2 elements creating an override for a background color
2. First override uses the `styled()/* styles here */` syntax and this works correctly
3. Second uses

[2022-11-18 14:51] BartJanvanAssen commented on #27853
Made a PR to get the translate bug in loading button fixed. Let me know if i need to make any adjustments.

[2022-11-18 16:20] NicoSan20 commented on #32407
@michaldudak : Same issue here ! The first item is selected when initial value is blank or null. And this happen without pressing enter as you claim.

[2022-11-18 18:16] CalebJamesStevens commented on #20470
https://mui.com/joy-ui/react-chip/#clickable

This is perfect, if it could be added to mui material that would be amazing

[2022-11-18 18:52] nrathi commented on #30811
+1 on this.

[2022-11-18 19:04] CalebJamesStevens commented on #20470
[code]

For those stumbling upon this and waiting for the update this is the accessible solution I had

[2022-11-18 19:36] samuelsycamore commented on #33998
This is the page structure/template that I plan to use going forward:

[code]

[2022-11-18 23:05] xiaoyu-tamu commented on #35132
@siriwatknp

Any idea why i still see dark-mode flickering in nextjs? You can verify it with VladislavAlushkin codesandbox link.

[2022-11-18 23:29] xiaoyu-tamu opened #35200 "[CSS Variable] SSR still see dark-mode flickering. I Followed the guide on website."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/pensive-antonelli-c3q4ju?file=/pages/_app.tsx

Steps:

https://user-images.githubusercontent.com/33362998/202820151-95f7bb68-4a2c-49fc-81f3-49cdf99d82d5.mov

### Current behavior 😯

_No response_

### Expecte

[2022-11-18 23:51] xiaoyu-tamu commented on #35200
I also tried @mui/joy, it works as expected

[2022-11-19 06:23] ZeeshanTamboli commented on #33616
I am able to close the `Dialog` using `Esc` key even if custom `onKeyDown` event handler is present. See https://codesandbox.io/s/clever-pasteur-ve354f?file=/src/App.tsx.

Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-11-19 06:28] ZeeshanTamboli commented on #34872
The issue is not reproducible in the provided [CodeSandbox](https://codesandbox.io/s/sad-ben-j8rpej?file=/demo.tsx) linked i the description. Please provide a CodeSandbox reproducing the issue.

Also, make sure you are using the latest version of Material-UI.

[2022-11-19 10:29] ZeeshanTamboli commented on #35075
Thanks @henrikmaa. @FrancicoVerdu Hope it helps.

[2022-11-19 10:29] #35075 closed

[2022-11-19 12:35] LoveriusB commented on #14427
My hero.

[2022-11-20 03:40] ChrisMGeo opened #35210 "Source code preview in `mui.com` doesn't scroll"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to `mui.com` and any component page (e.g. [Card Component](https://mui.com/material-ui/react-card/)  )
2. Go to any example and reveal source code.
3. Try scrolling through source code.

### Current behavior 😯

The scrolling doesn't work des

[2022-11-20 07:43] aashishpanthi opened #35211 "[feature] Add search on tables"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

There must be a search box ready to use with Material UI tables. Just above the table headers, I want to have a search box that can shorten the table rows on the basis of the values I provide.

No need to have a custom function if this feature will be implemented. A

[2022-11-20 13:14] oliviertassinari commented on #35070
It reminds me of this #22071. I solved a related problem with a script configuration and `process.cwd()` for prettier. This is effectively how `pretty-quick` (that we are using now) solves the same problems: https://github.com/azz/pretty-quick/blob/eaf29e2a5a7e20d6a7d17672812b6340739dadd6/bin/pretty-quick.js#L18.

Sebastian suggested in #23474 that there might be a better way but I couldn't unders

[2022-11-20 13:30] Janpot commented on #35070
`process.cwd` is fine for this, one optimization you could do is to make sure it works when ran [from a subfolder](https://github.com/mui/material-ui/pull/35212/files#diff-0dbf9ff8a0d0fca869b50ef907a7cd744fb849c9be25fe0c7202474eb2c824f8R8)

[2022-11-20 13:49] oliviertassinari commented on #35210
Duplicate of #35095

[2022-11-20 13:49] #35210 closed

[2022-11-20 19:16] oliviertassinari commented on #32088
@michaldudak If the use case covers a niche one, I think that it should be done by controlling the `open/onOpen` prop like with the other components. If the use case is more common, I think that aria attributes could cover it, like `aria-expanded`. If there are no aria attributes that can cover, then I think that applying custom class names would do it. We have an official one documented in https:

[2022-11-20 20:32] oliviertassinari commented on #25189
@Mistes974 I had a quick play with the API, to see a bit how it feels like right now:

[code]

https://codesandbox.io/s/pedantic-bardeen-b9ghp5?file=/src/App.js

A few ideas:

1. We might want to add an equivalent helper to `theme.breakpoints.up`, e.g. `theme.query.container.up("md")` or to make it configurable, `theme.breakpoints.up("md", { container: true })`.
2. The sx prop could benefit from a

[2022-11-21 08:39] siriwatknp commented on #34523
[google icons](https://fonts.google.com/icons?icon.query=copy&icon.style=Outlined) faces up, but the [mui icons](https://deploy-preview-35194--material-ui.netlify.app/material-ui/material-icons/?query=copy+con&theme=Outlined&selected=ContentCopyOutlined) faces down (from https://github.com/mui/material-ui/pull/35194).

[2022-11-21 08:52] wiseaidev commented on #35190
Hey there. I am also using `TextField` with MUI v5, but it is working as expected. I think you should investigate the props' values. For instance, try debugging the `register('email')` method and see what it is returning, it might be overriding other props, like the `label` prop. You can also try changing the label value to `email` cause the error might be coming from the `t` method. Don't forget

[2022-11-21 09:02] siriwatknp commented on #35156
Agree with @ZeeshanTamboli, the [migration docs](https://mui.com/material-ui/migration/v5-component-changes/#%E2%9C%85-update-borderradius-prop-value) refers to the sx prop, not the theme input.

[2022-11-21 09:02] #35156 closed

[2022-11-21 09:33] InfiniteAengus opened #35218 "[icons] Add Discord icon"
### Summary 💡

I love Material UI. While working with Material UI, everything is comfortable but I noticed that there is no discord icon in the Material UI icons.

### Examples 🌈

[2022-11-21 09:38] nikolaidk commented on #29345
Material V3 will be availbale as web components build with lit v2 [lit.dev](https://lit.dev/). The lit build environment also provies a react componet wrapper, that should make it easy to use their componets in what ever platform; the web components are platform antagonistic. Many others are following a similar path. Adobe has spectrum https://opensource.adobe.com/spectrum-web-components/ . SAP ha

[2022-11-21 10:10] Jack-Works commented on #34513
hello! @oliviertassinari please re-open this issue please! I have made a partially reproduction environment here:

https://codesandbox.io/s/blissful-bassi-0bjynp

There are two problems with the current implementation in our environment:

- The padding-right is not added to `body` or `html`.
- I need `overflow: hidden;` to be added on the HTML element, instead of the body element (note: you can tr

[2022-11-21 10:26] oliviertassinari commented on #34513
I can reproduce the issue: https://codesandbox.io/s/vigilant-glitter-7i5plg?file=/src/index.tsx

[2022-11-21 10:59] GsHeri commented on #34523
![image](https://user-images.githubusercontent.com/21007980/203033934-b4a6eecf-1c2c-49bc-99a5-4c3488cd80b1.png)
:D

[2022-11-21 12:25] oliviertassinari commented on #35218
Duplicate of #19371

[2022-11-21 12:27] oliviertassinari commented on #35218
This is effectively the same requet as https://github.com/mui/material-ui/issues/19371#issuecomment-1136033615.

[2022-11-21 12:33] oliviertassinari commented on #29345
@nikolaidk Do you have more references on this? Who is implementing Material Design 3 with lit?

We could consider creating a Vue and Angular wrapper on top of Material UI. For these, the wrapper would need to use Preact for the runtime to keep the bundle footprint minimal. However, the DX won't be as good as with a native implementation (I don't see how it could be, but maybe there is a way).

Bu

[2022-11-21 13:06] ZeeshanTamboli commented on #35099
@wormple12 It looks like TypeScript is inferring the type incorrectly. The whole `Film[]` is getting inferred as `T` type and thus `T[]` gets evaluated to `Film[][]`. As a workaround you can explicitly define generic types to component:
[code]
OR, inline the default values:
[code]

[2022-11-21 13:09] oliviertassinari commented on #34995
@mnajdova I landed on this issue per a notification from @gzrae. Would it make sense for Greg to start asking for reproductions on GitHub issues that use the bug template but don't provide them? The challenge is that some technical knowledge is often required to use this tool accurately.

---

As a side note, GitHub has canned replies, maybe something to generalize: https://www.notion.so/mui-org/T

[2022-11-21 13:13] ZeeshanTamboli commented on #35102
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-11-21 13:14] #35102 closed

[2022-11-21 13:15] ZeeshanTamboli commented on #35107
There is no component named `Item` in Material-UI.

[2022-11-21 13:15] #35107 closed

[2022-11-21 13:50] ZeeshanTamboli commented on #35139
What's your use case?

[2022-11-21 14:05] AGDholo commented on #29345
Angular material v15 is integrating with the material-web-components
https://github.com/angular/components/issues/22738

[2022-11-21 14:05] nikolaidk commented on #29345
Hi [oliviertassinari](https://github.com/oliviertassinari)
I have have been digging into Googles repositories :)  [lit](https://lit.dev) is a google project and used to build [Material v3](https://m3.material.io/) On a sub page under [https://m3.material.io/develop/web](https://m3.material.io/develop/web) there is a link to the repository holding their V3 web components. Current state of work is a

[2022-11-21 15:06] shelcia commented on #35107
https://mui.com/material-ui/react-grid/
![Screenshot 2022-11-21 at 8 34 25 PM](https://user-images.githubusercontent.com/31156685/203088377-3f01af56-67f2-4dea-b274-9eb936c68a10.png)

Item component is still in documentation.

[2022-11-21 15:09] ignacio-dev commented on #18649
Hello, I am running into the same issue. Was this ever solved?

[2022-11-21 15:14] ZeeshanTamboli commented on #35144
I am not able to reproduce your issue: https://stackblitz.com/edit/react-ts-qsnkjj?file=package.json,App.tsx,Svg.tsx,index.tsx. Please provide a proper reproduction.

[2022-11-21 15:37] roniaxe commented on #31832
Is this something that can be fixed ? It seems like that happens when you have a filter field that filters the tree.

[2022-11-21 17:02] totszwai commented on #35156
@siriwatknp but it was the breaking change, we had string value `rem` value set and it was working fine. Now, after the breaking change introduced by Mui, we cannot apply a string `rem` value system-wide anymore.

We don't want to use `sx` props as it is not free and it has a performance penalty.

![image](https://user-images.githubusercontent.com/4440365/203115045-4c143db6-7dfc-45d6-a49c-f98751f0

[2022-11-21 17:30] stoplion commented on #32727
Same issue

[2022-11-21 18:33] greglittlefield-wf commented on #20461
I recently ran into this issue using the latest MUI (using Emotion).

When trying to find a reduced test case, I found two different cases that trigger the issue, and case 1 ended up being what was happening in my app:

1. When using multiple ScopedCssBaselines, where at least one has an `sx` ([sandbox link](https://codesandbox.io/s/mui-scopedcssbaseline-repro-sx-54tem6))

[code]

2. When using mu

[2022-11-21 20:10] #34998 closed

[2022-11-21 20:29] Balour commented on #33490
Confirmed as working in my use case, thanks

[2022-11-21 20:29] #33490 closed

[2022-11-21 20:56] michaldudak commented on #35026
In this case, IMO, your best bet would be to define the type of the component and its props the same way we do in Material UI itself. We use so-called "type maps" to define the props and default root component a given component uses and pass them to utility types: `OverridableComponent` and `OverrideProps` that take care of all the magic associated with polymorphic components (see how they are def

[2022-11-21 21:06] michaldudak commented on #34968
IMO, ideally a component page would have a couple of tabs: Overview/demos, anatomy, API.
Similarly to https://m3.material.io/components/buttons/overview

[2022-11-22 01:58] gcboaventura commented on #30854
I'm trying to use Formik, MUI and IMask together.

But a loop happens when performing the onChange.

I couldn't find the error in my code:

[code]
[code]

[2022-11-22 05:06] ZeeshanTamboli commented on #35107
It is a custom component:
[code]

[2022-11-22 05:47] ZeeshanTamboli commented on #35156
The migration doc above is for sx prop which accepts `string | number`. And the types you are pointing out to is for the theme input `theme.shape.borderRadius` used for multiplication with the `sx` value.

Can you provide a CodeSandbox how the `rem` string value used to work for `theme.shape.borderRadius` in Material-UI v4?

[2022-11-22 07:05] siriwatknp commented on #35156
@totszwai Thanks for the feedback. To make it supports the string, I think we will need to think about `sx` prop but I can see the possibility:

[code]

Until it is possible, you will have to continue with your workaround.

[2022-11-22 07:32] PrathameshAshra commented on #31338
I would have used it right now if it was available.

[2022-11-22 09:54] PedroS11 commented on #10934
If you want to use the input type="number", you can use something like this as it's what I'm using now
`<TextField
              id="outlined-number"
              label="Minutes"
              type="number"
              inputProps={{
                step:1,
                min: 0,
                max: 200
              }}
              defaultValue={minutes}
              onChange={handleMinutes

[2022-11-22 10:12] ZeeshanTamboli commented on #35149
@fymmot I think this is happening because the `Chip` component is listening to `Escape` key and removing the keyboard focus from Chip:
https://github.com/mui/material-ui/blob/b8b1e0d08ceab826a3e11b18a3b4b6e6b5c17206/packages/mui-material/src/Chip/Chip.js#L381-L383

However, I am not sure how the Escape key from Menu is being propagated to Chip. Maybe it's happening because Menu is a React Portal a

[2022-11-22 10:47] matias-retargetly commented on #17799
nice workaround @TarasRospodniuk

[2022-11-22 11:22] fymmot commented on #35149
@ZeeshanTamboli
Thank you for your investigation! That makes sense and explains the divergence in behavior between `<Button>` and `<Chip>`.

Unfortunately your workaround causes a focus trap since `onBlur` is also triggered when tabbing away from the chip with the TAB key, pulling focus back to it.

Would it be possible to add some mechanism to turn off the ESC listener for Chip? A simple `disable

[2022-11-22 11:29] leventdeniz opened #35228 "[RFC] [docs] Add Flexbox Examples using the Stack component in the docs"
### What's the problem? 🤔

If I read the mui system [documentation about flexbox](https://mui.com/system/flexbox/), I was expecting to see some examples of the `Stack` component because it's basically a `Box` that implements `flex`, right?
But there are only examples of flexbox implemented with `Box`.

### What are the requirements? ❓

The `Stack` component should be represented in the Flexbox doc

[2022-11-22 12:12] mnajdova commented on #34759
@wangmartin616 can you do a reproduction for us? Many things could be the reason for this, not necessarily related to Material UI. I would recommend running `tsc --generateTrace trace --incremental false` and uploading the trace.json file from this new folder in about://tracing/ to investigate where the biggest time is spent. You can read more about it here: https://github.com/microsoft/TypeScript

[2022-11-22 12:13] mnajdova commented on #34995
We can give it a try for sure 👍

[2022-11-22 12:35] mnajdova commented on #28679
Please share a reproduction, or open a new issue if it is not related to the issue that was originally posted.

[2022-11-22 13:10] Rafazor commented on #30793
@michaldudak Your `limitTags` is 1, but I can select all of them.

[2022-11-22 13:33] Azeirah opened #35230 "Providing tooltip to `slotProps` for SpeedDialAction results in `[object object]` in html"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/hardcore-sound-31v0eu

Steps:

1. Create a `SpeedDial` with one or more `SpeedDialAction`s
2. Add a `slotProps` prop to the `SpeedDialAction` with a typescript-valid object

### Current behavior 😯

Inspecting

[2022-11-22 13:38] BiancaArtola commented on #35175
Any update on this? @sai6855

[2022-11-22 14:20] barbalex commented on #34392
This was the solution to an epic issue that cost us literally multiple days (https://github.com/gatsbyjs/gatsby/discussions/37051).
@mnajdova  Thanks so much for the hint!

[2022-11-22 15:01] macrozone opened #35233 "[ESM] @mui/icons-material move to pure ESM"
### Steps to reproduce 🕹

I try to convert a NPM module to pure ESM (with typescript).

It occasionally uses icons from `@mui/icons-material`

We usually had imports like this:

[code]

this no longer works, DeleteIcon is not an Component, but an object with the `default` property.

this however works:

[code]
and this as well (probably the recommended way anyway)

[code]

### Current behavior 😯

[2022-11-22 17:12] kash0296 opened #35234 "Autocomplete - Typed text remains in the input field on pressing the space key"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

**Link to my live example**: https://codesandbox.io/s/gracious-hofstadter-pnvc6g

The multiple select behaviour in Autocomplete which works normally when we press the enter key. I want to be able to accomplish the same behaviour if I press the space key.

[2022-11-22 17:35] sai6855 commented on #35175
Sorry for the late reply, I wasn't able to figure out why its not working

On Tue, 22 Nov 2022, 19:08 Bianca Artola, ***@***.***> wrote:

[2022-11-22 17:44] sai6855 commented on #35230
ideal way to add class to tooltip is not by slotProps but by TooltipClasses, but it also seem to have an issue so i created a PR.
[code]

[2022-11-22 17:46] mgomez-tubs commented on #31835
To me this seems to be another issue related bugged vite cache (I guess it can hapen for many reasons) and today it happened to me for the second time. I fixed it by removing the node_modules/.vite/deps folder and restarting the server. I might have updated packages with the server open, so it might be partly my fault.

[2022-11-22 17:54] samkevin1 commented on #35099
@ZeeshanTamboli can I look into this and try to find a solution?

[2022-11-22 18:02] BiancaArtola commented on #35175
Thanks for the reply @sai6855
Is there another way to resolve my issue? Or basically, this functionality is not available on this component? What should I do?

[2022-11-22 18:06] thorn0 opened #35236 "Use the default theme when creating a theme with extendTheme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The parent theme is passed to `createTheme`, so that its values can be arbitrarily used in the new theme. This doesn't seem to be possible with the new `extendTheme` API.

### Examples 🌈

[code]

### Motivation 🔦

_No response_

[2022-11-22 18:06] sai6855 commented on #35175
This functionality is not available in this component, for work around maintainers have to help you.

[2022-11-22 19:19] jeshals opened #35237 "Alert severity change doesnt reflect on the styling, the class is applied but no style changes applied"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. import Alert from MUI
2. Apply severity
3. See no changes to the look and feel, inspect element, css-classes applied, however no look and feel changes

### Current behavior 😯

When you change the severity of the Alert, it should change the text

[2022-11-22 20:56] Azeirah commented on #35230
Thanks a lot! I was also having trouble with the tooltipClasses before, but didn't see an obvious issue like with the slotProps so I thought I was doing something wrong.

[2022-11-22 21:47] luvicsoura commented on #30535
I'm having the same issue as @drzackyll. I'm migrating from @material-ui/lab to @mui, but the onChange is not being called, though everything has been updated as per the breaking changes guide.

[2022-11-22 22:45] stuthib opened #35238 "MUI Unstyled Menu - actions highlightFirstItem select the second one in the list"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

I tried this from the documentation from MUI on chrome - https://codesandbox.io/s/8u02on?file=/demo.tsx

Looks like when we use `menuActions.current?.highlightFirstItem()`, it skips the first item is the list and selects the second

[2022-11-22 22:47] oliver-tunebat commented on #12759
A problem with [ValentinH](https://github.com/ValentinH) solution occurs when spamming clicks really fast. It triggers a bunch of back navigations, potentially skipping many pages of history.

[2022-11-23 03:05] stuthib commented on #23747
+1

[2022-11-23 06:17] MrsDun commented on #34995
https://codesandbox.io/embed/peaceful-saha-fpyjfv?fontsize=14&hidenavigation=1&theme=dark

this is a codesandbox with demo

[2022-11-23 06:25] MrsDun commented on #34995
<img width="1706" alt="image" src="https://user-images.githubusercontent.com/39766442/203483562-88baa8e3-064c-4f68-ba33-646d4332d796.png">
I checked the information about the aria-label attribute, when the page is focused on this form, the screen reader will read the value of the aria-label attribute, but when I click the previous or next button continuously, the button It will always be in the fo

[2022-11-23 06:27] MrsDun commented on #34995
I think it's reasonable to require screen reader feedback for each click when the button is clicked continuously

[2022-11-23 09:03] akomm commented on #34898
Can workaround the `createContext is undefined` error because the stateful component is rendered on the server by wrapping it:

[code]

I don't like it but if maybe someone has no choice and has to move it NOW to next 13, then he could re-export it this way... There are sure way make it less of a pain to redo later.

[2022-11-23 10:32] ckrook commented on #32812
@AAYUSHAIRAN I had the same issue.
Don't forget to import the Slider from "@mui/material/Slider"

I imported the Slider from "@material-ui/material/Slider" which caused this issue.

[2022-11-23 11:25] MartinHelvig commented on #32685
Any tips on migrating to v5? because in the guide it says to update react first and make sure everything works. But I can't do that because everything does not work after I update react.

[2022-11-23 11:50] oliviertassinari commented on #32685
@MartinHelvig Please have a look at #35232.

[2022-11-23 12:33] MartinHelvig commented on #32685
@oliviertassinari yeah thanks, I also noticed it has the @mui/styles in the update package section, which is not supported anymore I think.

[2022-11-23 13:42] mnajdova commented on #35230
Answering to the original question, agree `slotProps` & `slots` is probably something we want to add to all components going forward.

For the particular element in question (answering to @sai6855's point), people should use the `staticTooltipLabel` key in the `classes` prop. We are intentionally not using the `TooltipClasses`, as the component that we render in that particular case is not a `Tool

[2022-11-23 13:53] mnajdova commented on #26476
@oliviertassinari should we close this issue as resolved now?

[2022-11-23 13:53] oliviertassinari commented on #32685
`@mui/styles` is there to allow developers to do a progressive migration. What we want to avoid is having to do one big PR. This would never fly.

[2022-11-23 13:55] olefrank commented on #34025
@oliviertassinari the link in top returns 404 (https://github.com/mui/material-ui/discussions/32476). Can you please update?

[2022-11-23 13:58] oliviertassinari commented on #26476
Yes, we can close. #34454 was the most significant step forward. Since then, we have been doing fixes to improve the DX.

[2022-11-23 13:58] #26476 closed

[2022-11-23 14:05] ninoman opened #35241 "[JoyUI][Textfield] input components like TextField are missing `inputProps` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently there is no way to add a data-testid on the inner input elements for JoyUI input components. in MUi there is a inputProps which you can use, which is missing in JoyUI, I think this is critical to have an ability attach testids to the input elements

### Ex

[2022-11-23 14:26] MartinHelvig commented on #32685
Ah okey, but @mui/styles does not support react 18, so kinda hard anyway.

[2022-11-23 14:32] hahahine opened #35242 "MUI: Unable to find the input element. It was resolved to null while an HTMLInputElement was expected. Instead, Autocomplete expects an input element."
**Current behavior**
I'm getting this error when running tests with storybook:

      MUI: Unable to find the input element. It was resolved to null while an HTMLInputElement was expected.
      Instead, Autocomplete expects an input element.

      Make sure you have customized the input component correctly.

Works perfectly when the code is running, just seems to be problematic with storybook bu

[2022-11-23 14:32] oliviertassinari commented on #32685
@MartinHelvig Correct, you would first need to upgrade to React 17, migrate to https://github.com/garronej/tss-react, and then React 18. But honestly, I don't see the urge to use React 18. I haven't real use cases for it, maybe there are.

[2022-11-23 14:33] MartinHelvig commented on #32685
You might be right about that, just having some other packages dependent on react 18. But I appreciate your comments, helps me alot.

[2022-11-23 14:36] mnajdova commented on #27853
@BartJanvanAssen as far as I tested the issue can be fixed by using `span`, instead of `div`, which should be better in my opinion. However, this changes the structure of the component, which may create some breaking changes. This can be fixed in userland, by simply wrapping the text in the button in a `span` element. It's not great, but it may be better if we recommend this and come back to this

[2022-11-23 14:37] Katanis opened #35243 "Autocomplete crashes app if running from build"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Next.js App crashes and Autocomplete is not rendered when using simple Mui Autocomplete:
[code]
My dependencies:
[code]
Steps to reproduce:

1. npm run build
2. npm run start

### Current behavior 😯

Autocomplete is not rendered and getting random error:

[2022-11-23 14:44] mnajdova commented on #29345
For everyone that wants to check out the first component implementing the Material You design system, check https://codesandbox.io/s/focused-sid-xy7j09?file=/package.json.

The components will be hosted under `@mui/material-next` which is a new, experimental package. We are open for any feedback on the components/theme structure.

[2022-11-23 16:21] brichison commented on #30119
This issue still exists.

[2022-11-23 17:38] barbalex opened #35245 "@emotion/styled is hard dependency even though docs suggest installation without to be possible"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

My project: https://github.com/barbalex/ae2/tree/react18

### Current behavior 😯

Our project should be updated to use react@18.

We run into problems with emotion though when building in gatsby. Seems that emotion can not work server side with react@18.

[2022-11-23 19:16] lancej1022 commented on #34150
Im not totally sure what changed with CRA since initially opening this issue, but since CRA doesn't seem to offer any way to run an older version I just created a barebones react-app from scratch that can be used for `npm link` to work. The barebones react app can be cloned from https://github.com/lancej1022/bare-react

Ive also updated the MUI POC for the issue so that the webpack config can outp

[2022-11-23 19:23] ggascoigne commented on #15251
Related to this: [Fluid Type Scale Calculator](https://www.fluid-type-scale.com/) and [Fluid Type Scale with CSS clamp](https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/).

[2022-11-24 01:54] mon-jai commented on #29345
@mnajdova Seems that the ripple effect is missing/not obvious in Android.

BTW Will material-ui support the [Material 3 ripple effect (I can't find it in the spec)](https://github.com/flutter/flutter/issues/82850)? It seems costly to GPU.

[2022-11-24 06:31] #35069 closed

[2022-11-24 06:45] ZeeshanTamboli commented on #35156
@totszwai Thanks for the reproduction. As said before, we had to support multiplication with the `sx` prop `borderRadius` value so we had removed the `string` type. But since the `string` value is getting evaluated, we can consider https://github.com/mui/material-ui/issues/35156#issuecomment-1323205900 as a possible solution for the sx prop.

Until then, please use `// @ts-expect-error` comment un

[2022-11-24 06:58] ZeeshanTamboli commented on #35099
@samkevin1 Yes you can try it out. I am not expert in TypeScript, but I think this is a limitation of TypeScript.

[2022-11-24 09:31] Katanis commented on #35243
Updated next.js version to **12.1.0** and it fixed the problem

[2022-11-24 09:31] #35243 closed

[2022-11-24 10:37] michaldudak commented on #27853
:+1: I agree, this may break layouts that assume the content of the button is not wrapped in another container.
Let's update the docs and add a warning block that'll advise developers to wrap the text inside the button in a span to work around this problem.

[2022-11-24 10:38] edencorbin commented on #16053
Same issue here on latest material 5.10.15. Label is not shrinking, state of value is '', chrome autofill's, label does not shrink.

[2022-11-24 10:40] mnajdova commented on #34905
There have been some movement on emotion's side for supporting it in `./app` directory. I've forked their stackblitz and added few Material UI components and a custom theme, and it seems like it works 🎉 Here is the [link to stackblitz](https://stackblitz.com/edit/vercel-next-js-ozaxzq?file=app%2Fblog%2FServerComponent.tsx). You can check the `./blog` route that uses server component.

I would appr

[2022-11-24 10:47] fymmot commented on #35149
@ZeeshanTamboli
I am not sure I agree that Chip is mostly for Data display. If you look at the Material Design specification for Chip, as well as various Google implementations of MD, Chip is quite often used for filtering and toggling popups, it's a very common pattern.

See for instance Google Flights filters:
<img width="626" alt="image" src="https://user-images.githubusercontent.com/6492106/20

[2022-11-24 11:05] barbalex commented on #35245
With lots of experimenting I have found solutions:

When using npm: Add `"@mui/styled-engine": "npm:@mui/styled-engine-sc@latest"` to dependencies in package.json

When using yarn: additionally add that line as resolutions:
[code]

This tells npm/yarn to use @mui/styled-engine-sc instead of @mui/styled-engine. So the call in `node_modules\@mui\styled-engine\index.js` does not error.

Have I missed

[2022-11-24 11:12] barthicus commented on #34905
@mnajdova That's a great news! I hope  some day we can use mui in app dir for real :)
I tried your example and I was curious if that works with `@mui-treasury/layout` I use. Unfortunately some `@emotion` related errors pop up: `TypeError: React.createContext is not a function` so I stopped testing this further.
I only modified  the root layout and added the package.
Link to my edited stackblitz: h

[2022-11-24 11:21] Flaburgan opened #35249 "Typescript description of `maxWidth` for `Dialog` is wrong"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

`Dialog.d.ts` is indicating `maxWidth?: Breakpoint | false;` but the documentation at https://mui.com/material-ui/api/dialog/ is indicating `'xs' | 'sm' | 'md' | 'lg' | 'xl' | false | string` as the possible values and, indeed, `string` works.

### Curren

[2022-11-24 11:39] mnajdova commented on #34905
After doing some more investigation, I noticed that not all Material UI components can be render as server components. I was lucky in the example that the `Typography` component was one of them. We will need to revisit this. I will be posting more updates here, or create a new issue that will track the progress on all components.

[2022-11-24 12:21] samkevin1 commented on #35099
yeah I was taking a look but couldn't find a solution. It could be a limitation of TypeScript, but there should be some workaround to make it work properly.

[2022-11-24 13:33] ZeeshanTamboli commented on #34150
@lancej1022 If there is no `key` error in the UMD development build but rather in the ESM bundle, is this an issue with Webpack?

[2022-11-24 13:48] ZeeshanTamboli commented on #35149
@fymmot I couldn't find anything in the [Material Design specification](https://m2.material.io/components/chips) where Chip is used for toggling a menu. Also if you inspect the Google Flights filters, they are HTML buttons.

I think we would not support this. We haven't found any similar kind of request to support this behavior.

[2022-11-24 14:37] mnajdova commented on #34905
Based on https://github.com/emotion-js/emotion/issues/2928#issuecomment-1319747902

Looks like the best way forward is to add the "use client" directive to all Material UI components, at least until emotion supports server components.

[2022-11-24 14:57] fymmot commented on #35149
@ZeeshanTamboli .
I read the following in the MD spec:

From that I got the impression, right or wrong, that Chips are  equivalent to buttons and should be able to do the same thing, including triggering a popup.

As for Google Flights. They are still clearly using the MD chip UI pattern. And when provided with an `onClick`, your own `<Chip>` is rendered as `role="button"` which is exactly the sam

[2022-11-24 15:44] emlai commented on #33268
We're also running into this.

MUI should provide proper documentation of how to do link as menu item, with proper consideration for accessibility, since it's quite a common use case. [Everyone](https://github.com/mui/material-ui/issues/204) suggests overriding `component`, but it's not ideal from accessibility standpoint.

[2022-11-24 16:19] #32718 closed

[2022-11-24 16:20] #30285 closed

[2022-11-24 17:09] gremo opened #35251 "[system] Setting custom breakpoints create TypeScript errors"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Follow the custom breakpoints guide for TypeScript [here](https://mui.com/material-ui/customization/breakpoints/#custom-breakpoints)
2. Add custom breakpoints in `typings.d.ts`:

[code]

### Current behavior 😯

Imports from `@mui/material/style

[2022-11-24 22:42] mightym opened #35252 "Theme styling via component Rule name"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

I encountered quite often that a rule name of a component  don't work when using my custom theme.
And I'm still not sure if I got the concept wrong or this is sometimes a bug. For example:
The `root` rule name works in every case so far. But e.g. when sty

[2022-11-25 07:03] #34503 closed

[2022-11-25 07:23] ZeeshanTamboli commented on #35038
@TheWilks  In order to avoid breaking changes, we introduced a new prop named `skipFocusWhenDisabled` in the Chip component in #35065 to disable focus when the chip is disabled. It will be focusable by default. You can use this new prop which will be available in the next release.

[2022-11-25 07:24] #35038 closed

[2022-11-25 09:47] mnajdova commented on #29345
Based on the spec for Material You, the buttons don't have ripple effect. I found it strange too. I was thinking to wait for a feedback for the community about whether we should support it.

For example, they have it in the `Fab`: https://m3.material.io/components/floating-action-button/specs#d1d87229-b180-428e-9ccf-86d4a91a4901

But not in the button: https://m3.material.io/components/buttons/spe

[2022-11-25 09:51] karlomedallo opened #35253 "nextjs-with-typescript example is not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://stackblitz.com/github/mui/material-ui/tree/master/examples/nextjs-with-typescript

Steps:

1. Click on Open in StackBlitz

### Current behavior 😯

![image](https://user-images.githubusercontent.com/4827074/203953066-60fcc119-

[2022-11-25 10:31] oliviertassinari commented on #35242
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷. A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2022-11-25 11:15] Tasin5541 commented on #31835
I faced this problem once with vite. Try deleting the node_modules folder and reinstalling the libraries again. Also stop the vite server first. I use Trivago/prettier-plugin-sort-imports library to always keep mui imports high in the import lists.

[code]

[2022-11-25 12:28] michaldudak commented on #31192
A `value` must have the same type as an element of `options`. To solve your problem, I'd go with something like this:

[code]

Would this solve your problem?

Having separate types for `options` and `value` would require more changes than what's proposed in #32439. The Autocomplete types assume that `options: ReadonlyArray<T>;` (where `T` is the type of the value)

[2022-11-25 12:40] ThomasVanleynseele opened #35255 "[a11y] `MenuItem` keyboard accessibility breaks when using your own MenuItem component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/red-mountain-mj5dsp?file=/demo.tsx

Steps:

1. Open the menu
2. Press "L" on your keyboard
3. Focus does not get set on the correct MenuItem

### Current behavior 😯

A custom MenuItem is unable to set the foc

[2022-11-25 12:47] petercutting opened #35256 "<Typography lang="" attribute missing, problem for ScreenReader"
the HTML p tag has a lang="" attribute where the language of the specific text can be specified

this does not seem to be available in Typography tag

sometimes there can be more then 1 language on a page and then a ScreenReader may need language info in order to correctly read a text

need it in v4

[2022-11-25 14:06] ZeeshanTamboli commented on #35149
This does not mean a menu list is opened after clicking on a chip. Instead, chips are multiple elements in a particular list/group. Each element represents a chip.

This means chips appear in a set of options. Multiple chips represent multiple options.

Okay, I am not an expert in accessibility. But I can clearly say that we wouldn't want this because it is not a common use-case requested by devs.

[2022-11-25 14:06] #35149 closed

[2022-11-25 15:40] michaldudak commented on #28189
We've discussed this topic with @mnajdova, @siriwatknp, and @hbjORbj on the refinement today, and the following options were considered:

## 1. Regarding the `component` prop:

### 1.1. Leave as-is

This would keep the status quo, but the `component` props in Base and Material UI will mean different things. We've also discussed renaming the `component` prop to `as` in Material UI and Joy.

### 1.2

[2022-11-25 16:25] #35048 closed

[2022-11-25 17:00] hasan-aa commented on #31192
I think at least a note should be added to the documentation of `getOptionLabel` method. The name suggests that it'll pass an option object.
There are ways to work around this but it's time consuming to debug and find the actual reason once you get that point.

[2022-11-25 20:28] Zirafnik commented on #31192
@michaldudak Yes, but what we are saying is that this should not be the case. Value should **not** have to equal the option type. Value should be decoupled from options.

Obviously there are various workarounds for this at the moment, the easiest one being just saving 2 states: one for saving the actual chosen object (`option`) & the other for saving only the value that will be sent to the backend

[2022-11-26 07:09] #33616 closed

[2022-11-26 09:32] khanyakupelo1 commented on #16846
Hi All, the following solution worked for me:

[code]

[2022-11-26 09:40] khanyakupelo1 commented on #16846
Or you can use `Link` from `react-router-dom`

[code]

[2022-11-26 14:08] Alxmerino commented on #17775
The workaround from @ItayTur worked for me! thanks!

[2022-11-26 21:40] lancej1022 commented on #34150
I think might previous message may have been confusing. To be clear, the `key` error is present in both UMD _and_ ESM builds. I simply made it easy to switch between ESM/UMD within the reproduction so that whoever investigates this issue can see that the issue is _not_ related to webpack (as far as I can tell)

[2022-11-27 07:18] modeware commented on #11374
How would we go about stacking it?

Should the component say TableContainer receive a prop (boolean value) for enable such stacking?

For example - ```<TableContainer stackResponsive={true}>```

If we want such a behaviour:
![image](https://user-images.githubusercontent.com/25425426/204123814-bbad604f-46a2-4545-a217-d7f023731845.png)
Is this the right place to add responsive styles based on some c

[2022-11-27 07:53] agauravdev commented on #35256
I can take this up after the status needs triage is removed.

[2022-11-27 08:02] fenghan34 commented on #35099
Hi @ZeeshanTamboli and @samkevin1, can I make a pr for this issue? Seems like I find out how to fix it.

[2022-11-27 13:10] samkevin1 commented on #35099
@fenghan34 yeah go for it

[2022-11-27 16:33] OmerNaveh opened #35276 "Mui Modal state is closed but is still sproadicaly shows on screen after deployment"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

- Refresh on the home screen
- Open the modal elements and click on the button that should close both models and navigate user

### Current behavior 😯

The drawer and dialog elements are still visible (due to MUI inlineStyling) when their open state is cl

[2022-11-27 21:25] rpbouman commented on #32749
Not sure if it's the same cause, but I get:

"MUI: The `value` provided to the Tabs component is invalid.
None of the Tabs' children match with "_1669583764903".
You can provide one of the following values: _newTabPage, 1, _1669583726880, _1669583764903."

The difference being that the value I want to set seems to be perfectly valid, as indicated bij the final error message line.

[2022-11-27 22:58] iMrDJAi commented on #34174
Same issue here! Looks like if you start typing inside text inputs before hydration finishes, the value doesn't change till you refocus. Note that you'll still get a change event every time you press a key, and right after it, another event comes with an empty value, which indicates that something is constantly clearing the input *onchange*.

![image](https://user-images.githubusercontent.com/4230

[2022-11-27 23:05] AChangXD commented on #28918
Bug is still here, wrapping child component in div worked for me.

[2022-11-28 03:48] jhoanborges commented on #28997
so what is the solution?

[2022-11-28 05:25] rodrigonzalz commented on #29345
Perhaps is missing on the documentation but buttons do have a ripple effect. Good place to check actual implementation of the design is the Compose Material Catalog app for Android from Google.

Regarding the sparkling ripple that was introduced at the beginning of Android 12, already during the Beta version it was progressively removed. I had completely forgotten about it as I haven't seen them i

[2022-11-28 06:15] Jacee94 commented on #12597
A little late but found a solution that works for this, you have to pass everything in as props to a new Component you define, and then in the return statement of the component you return a `<Tab>` nested inside of a `<Tooltip>`, and then forward its props into the `<Tab>` element. Attached here is some example code I used for my portfolio, which renders different information based on whether the

[2022-11-28 07:13] #33615 closed

[2022-11-28 08:41] susanhenriquezcp commented on #35087
@michaldudak @gzrae  any updates on it?

[2022-11-28 09:28] jakubrozbicki commented on #23708
@oliviertassinari I can pretty much agree with all cases described here, I have similar issue, but with formik, however issue is still the same: `options[0]` type has to match `value` type, when I'd like to `value` to be type of `options[0]['value']`

- `options` are `[{ value: "1", label: "lorem" }, { value: "2", label: "ipsum" }]`
- `value` to be "1" or "2"

Which is pretty much identical to htt

[2022-11-28 09:34] harvey56 commented on #8380
@harshit98 Sorry, but no, Peter's solution is not amazing. It's incomplete.

Problem here is that value is defined in the `TextField` component as a string. But value in your hook (or setState) is set to be a number. So, whenever you delete the value that shows in your component, you then `parseInt("")` which returns the following warnings :
`
The specified value "NaN" cannot be parsed, or is out

[2022-11-28 09:37] mnajdova commented on #35131
Duplicate of https://github.com/mui/material-ui/issues/31835

[2022-11-28 09:37] #35131 closed

[2022-11-28 10:29] michaldudak commented on #35087
Does this happen only for Material UI components? If you define your own component and lint it, are the rules picked up correctly?
If that's the case, I'd appreciate a reproduction on Codesandbox or a minimal clonable repository.
If not, it's likely a problem with the ESLint plugin.

[2022-11-28 10:52] michaldudak commented on #35039
Moving the disabled styles to the very bottom should do the trick without increasing specificity:

[code]

Would you like to create a PR?

[2022-11-28 11:09] #35099 closed

[2022-11-28 12:45] michaldudak commented on #34927
Could you please prepare a codesandbox or a repository showing the problem you're describing? I'm not too keen to introduce another prop, but perhaps we could investigate the race conditions you mentioned so that the functionality can be implemented in userland.

[2022-11-28 12:53] siriwatknp commented on #35037
Honestly, I don't recommend using JS to switch between layouts. Always use CSS if you can.

This is better for sure:

[code]

I am changing this issue to a question instead.

[2022-11-28 12:57] siriwatknp commented on #35037
After reading the original issue, it is not about the Modal. I will try to add some docs about the media query to Joy UI.

[2022-11-28 13:05] siriwatknp commented on #28189
I vote (1.2) to remove the `component` prop. This will make all MUI Base components follow `slots` and `slotProps` which are able to use a callback to insert props.

Will benefit #32088 and work with Tailwind CSS.

[code]

[2022-11-28 13:21] cncolder opened #35278 "[TextField] Slash characters causes multiline `TextField` unresponsive"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

https://codesandbox.io/s/mui-textarea-slash-unresponsive-e02uep?file=/src/App.tsx

Steps:

1. See the initial rendering 200K slash elapsed time.
2. Click the button below the textarea. Experience what it takes to render 200K numbers

[2022-11-28 13:42] ZeeshanTamboli commented on #35161
It is clearly mentioned in the [docs](https://mui.com/material-ui/guides/right-to-left/#emotion-amp-styled-components) that you have to use the **template literal syntax** for the `/* @noflip */` directive. Please see the updated CodeSandbox: https://codesandbox.io/s/mui-rtl-noflip-7rk2zq-forked-vf9cee?file=/src/App.js

[2022-11-28 13:42] #35161 closed

[2022-11-28 14:45] cncolder commented on #35278
Not just the slash, actually three characters that render slowly. `"` `'` `/`

https://codesandbox.io/s/quote-and-slash-rendering-slow-in-mui-multiline-textfield-5vh1qw?file=/src/App.tsx

[2022-11-28 16:10] #35144 closed

[2022-11-28 16:17] Uzwername commented on #35039
@michaldudak Sure thing, I'll submit it soon

[2022-11-28 16:19] modeware commented on #11374
Here's the update:

Desktop
![image](https://user-images.githubusercontent.com/25425426/204326341-dbfc70b1-e572-4949-9fd1-f399683595f9.png)

Mobile
![image](https://user-images.githubusercontent.com/25425426/204326448-7e20943c-83cb-4fc1-ba16-9f694dcf58fd.png)

So, passing ```stackResponsive``` prop and internally the styled component and onwerState will manage the layouts - using display grid for

[2022-11-28 16:21] scherroman commented on #35037
Thanks for showing that! Though are there any reasons to prefer using css over js aside from css better supporting server-side rendering? It does seem like a lost opportunity to have to directly override all the styles already applied by a property like `layout` to replicate a different layout at certain breakpoints, instead of being able to simply change the value of the property itself with some

[2022-11-28 16:57] dtrenz commented on #15616
Just came across this and resolved like so:

[code]

[2022-11-28 18:01] Boimb commented on #35237
@jeshals You tell about a design system: Maybe you're trying to apply a custom theme?
On my side, I have this working, at least for the "root":

[code]

But still got an issue:
The "icon" prop gets overriden by `.MuiPaper-root-MuiAlert .MuiAlert-icon`
![image](https://user-images.githubusercontent.com/16343151/204346737-96b4c05f-6595-4890-b797-322c677c6495.png)

As far as I investigated, it seems

[2022-11-28 21:28] paulleonartcalvo commented on #34744
Hi :)

Has there been any movement on this specific issue? Just trying to circle back to see if i should update my version or not. Thank you!

[2022-11-28 22:08] VasilyVP commented on #20990
It seems in v5 it does not work as expected on touch screens. Is there plan to fix it?

[2022-11-28 22:38] Eyon42 commented on #31233
This also happens with Next.js SSR.
Just using the hook throws hydration errors and I get the default theme on the frontend.

[2022-11-28 23:07] arminbashizade opened #35281 "[Dialog] Does not trap focus while added in a Shadow DOM"
`Dialog` traps focus correctly when used without a shadow DOM, but after following [this guide](https://mui.com/material-ui/guides/shadow-dom/) from the docs and adding dialog inside a shadow DOM, using the following example, the focus can be sent back to "open dialog" button in the background using Shift+Tab while the dialog is open, which makes using screen readers very confusing:

[code]
the be

[2022-11-29 03:12] siriwatknp commented on #35037
I think CSS is simpler, and framework agnostic. This is just one small example but in a production app, the more JS you have the more complexity you have to handle as well.

I have been thinking about providing style utilities in Joy UI to make it easier for developers in situations like this:

[code]

I think this will benefit the developer's productivity and allows us to create tailor-made style

[2022-11-29 03:18] hiroki0404508 commented on #23747
I also encountered the same event.
I think the environment is the same as @orest22.
Are there any plans to fix this?

[2022-11-29 07:06] ZeeshanTamboli commented on #35175
@BiancaArtola I am not sure how you can detect in your custom styles whether the dropdown is on top or bottom but you can set fixed position of the popper (dropdown) with the `slotProps.popper` API using the [`placement` prop](https://mui.com/material-ui/api/popper/) in popper.

[2022-11-29 07:07] #35175 closed

[2022-11-29 07:09] #35200 closed

[2022-11-29 07:21] ZeeshanTamboli commented on #35184
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-11-29 07:26] ZeeshanTamboli commented on #35187
We don't support fixes in v4. It would be better if you migrate your app to v5.

[2022-11-29 07:26] #35187 closed

[2022-11-29 07:29] ZeeshanTamboli commented on #35190
Thanks @wiseaidev. @GutuGaluppo I hope you resolved your issue.

[2022-11-29 07:29] #35190 closed

[2022-11-29 09:21] PavloKochuiev commented on #32749
+1

[2022-11-29 09:30] MaxMolin opened #35282 "@latest (since approx 20 hrs back) gives error export 'internal_processStyles'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Try to start application using *-sc with latest versio

### Current behavior 😯

ERROR:

export 'internal_processStyles' (imported as 'processStyles') was not found in '@mui/styled-engine' (possible exports: GlobalStyles,

[2022-11-29 09:50] iMrDJAi commented on #19938
@oliviertassinari Not sure if the issue is related to my setup or not, but for some components that rely on inline style such as textField, the style attributes are missing on SSR. I'm facing a style mismatch between SSR and CSR after hydration.

Before hydration:
![Screenshot 2022-11-29 104007](https://user-images.githubusercontent.com/42304709/204495081-b1cea3ff-f85e-49dd-83e8-73f6cf666521.jpg)

[2022-11-29 10:11] ZeeshanTamboli commented on #35195
Thanks for reporting. Looks like a bug!

[2022-11-29 10:15] hongdeyuan commented on #32749
+1

[2022-11-29 11:20] boldurean commented on #30562
Make sure you **don't** have a cicle dependencies on your code. As this was exactly what happened to me. It clicks cicle twice instead of one time.

[2022-11-29 12:00] timbset opened #35283 "Specific component cannot be imported using default import with ESM"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
I made a simple example repo: https://github.com/timbset/next-esm-example

Steps:

1. Clone, install and start using `yarn dev`
2. Open index page in a browser (`http://localhost:3000`)
3. There is an error instead of correct view

#

[2022-11-29 12:22] Divesh-Kumar-Chordia opened #35285 "Material Icon giving blank screen in React , which works fine if we remove the icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.npm i @mui/icons-material
2.npm install @mui/material @emotion/react @emotion/styled
3.npm install @mui/material @mui/styled-engine-sc styled-components
4.npm install @mui/icons-material
5.npm install @mui/icons-material @

[2022-11-29 12:25] Divesh-Kumar-Chordia commented on #35285
link to the repository : https://github.com/Divesh-Kumar-Chordia/YouTube-Clone

[2022-11-29 12:26] Divesh-Kumar-Chordia commented on #35285
page : ./src/components/Menu.jsx

[2022-11-29 13:13] #34759 closed

[2022-11-29 13:17] Mokesh-off opened #35286 "How to change the first menuItem background"
I'm using the select component and want to customize the first menuItem default background color, I'm not able to find the respective class, because if we click on inspect the background color is removed.

**Steps to reproduce:**
Click on select
In the first menuItem, the default background is applied.
Right-click to inspect.
The background color is disappearing in the first menuItem, hence not ab

[2022-11-29 13:34] ZeeshanTamboli commented on #35234
@kash0296 I don't see any typed text in input along with the chip when I press space in both the provided CodeSandboxes. Can you provide the steps correctly in detail to reproduce it?

[2022-11-29 13:42] ZeeshanTamboli commented on #35236
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-11-29 13:44] kyoncy commented on #21142
This did not occur in React 17, but now occurs in React 18.

[2022-11-29 13:48] ZeeshanTamboli commented on #35237
Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point. If the issue is reproduced, we can re-open it.

[2022-11-29 13:48] #35237 closed

[2022-11-29 14:13] mbmx10 opened #35287 "[Popper] Incompatible props: `onResize` and `onResizeCapture`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Use dependencies @mui/lab:.0.0-alpha.110 and @mui/material:5.10.16
2. Render a Autocomplete Component with property `PopperComponent={popperProps => <Popper {...popperProps} />`

### Current behavior 😯

Typescript error:

[2022-11-29 14:26] RafaelCENG opened #35288 "[Tooltip] "React Developer Tools" Google Chrome Extension throws a maximum call stack error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. Copy-Paste from Docs Component ToolTip
2.
3.

### Current behavior 😯

![image](https://user-images.githubusercontent.com/45431116/204552591-61649a9b-83f9-416f-97d0-35105c1be16f.png)
![image](https://user-images.githubuser

[2022-11-29 14:30] thibaultadet commented on #35287
I have the same issue on `Popper` and `Timeline` components after updating Mui packages to latest version:

- "@mui/icons-material": "^5.10.16"
- "@mui/lab": "^5.0.0-alpha.110"
- "@mui/material": "^5.10.16"
- "@mui/styles": "^5.10.16"

same Typescript error:
`Type '{ children: Element[]; sx: { p: number; }; }' is missing the following properties from type 'Pick<TimelineProps, "classes" | "title" |

[2022-11-29 15:14] TravisJRyan opened #35289 "[Popper] contents not applying scoped CSS baseline style"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹
[Sandbox link here](https://codesandbox.io/s/xenodochial-lake-zkiifu?file=/demo.tsx)

Note how in the below example, a scoped CSS baseline is in place, but the popper's contents are not styled because it is in a portal.

[code]

### Current behavior 😯

The

[2022-11-29 15:28] thorn0 commented on #35236
How do I migrate code like this to `CssVarsProvider` and `extendTheme`?

[code]

[2022-11-29 15:55] nishantwrp opened #35290 "403 error on google avatars even after passing referrerPolicy"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

Use the avatar component with a google avatar.

[code]

See `403` error on browser console randomly.

### Current behavior 😯

I was getting error `403` when I tried to fetch google avatars. I found a [fix](https://stackoverflow.com/questions/40570

[2022-11-29 16:29] scherroman commented on #35037
That would be a big improvement over having to manually specify the styles as it's simpler, clearer, and less mental overhead/error-prone in determining which styles to override.

Personally however I love the simplicity, conciseness, and explicitness of being able to optionally pass in an object with breakpoints to properties the most, similar to how the [Stack](https://mui.com/system/react-stack

[2022-11-29 16:41] Andarist commented on #34905
You don't have to add it to all the client components (although that's certainly the easiest solution here). If you have a set of completely headless components that don't rely on Emotion (nor on Styled-Components or other CSS-in-JS libs) then, to the best of my current understanding, you don't have to add that directive there.

Server Components were designed in a way that is at fundamental odds

[2022-11-29 17:19] robcaldecott commented on #34905
I've started experimenting with this using a large app at work and there is an initial FOUC before the styles are applied which is proving tricky to debug. I don't see this on the Stackblitz example shared above but I'll see if I can provide an example, although it may be something the `emotion` team need to worry about.

[2022-11-29 17:28] Andarist commented on #34905
I can't address something that I can't debug 😉 If you provide a repro case then I will happily jump onto it

[2022-11-29 18:26] heath-freenome commented on #35287
My build is failing for this too with:
[code]

[2022-11-29 18:27] mnajdova commented on #34905
Totally 👍 MUI Base components that don’t have any interactions could be server components. All Material UI components anyway load emotion, my comment was referring to them.

100% agree with this. I think the misconception comes from the dofference that using plain CSS would allow you do convert the UI components too.

[2022-11-29 18:30] oliviertassinari commented on #34510
https://twitter.com/threepointone/status/1597636986176610304

[2022-11-29 20:00] Frankusky opened #35291 "[TextareaAutosize] Add `inputProps`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

TextareaAutosize should behave as the other inputs and should support inputProps property

### Examples 🌈

`<TextareaAutosize
  inputProps={{data-cy="comments"}}
/>`

should output a textarea  like the following:
`<textarea data-cy="comments"></textarea>`

### Motiv

[2022-11-29 21:38] hortizgarrido commented on #35287
I am on the same boat

[2022-11-29 22:03] ber8749 opened #35294 "Switch/Slider not keyboard accessible from Menu"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/beautiful-voice-bfgjc9

Steps:

1. Tab into menu and hit the "Enter" button
2. Hit the "down arrow" button until you arrive at the slider/switch
3. Hit "Enter"/"Space" button(s) to focus on slider/switch

###

[2022-11-29 22:28] hortizgarrido opened #35295 "'resolveComponentProps' is not exported from '@mui/base/utils'."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.
2.
3.

### Current behavior 😯

Error on compile:

./node_modules/@mui/material/esm/Modal/Modal.js
Attempted import error: 'resolveComponentProps' is not exported from '@mui/base/utils'.

### Expected behavior 🤔

No error

[2022-11-29 23:02] Uzwername commented on #35039
I'm going to submit a PR no later than tomorrow's night (UTC)

[2022-11-30 06:37] icanhyperfocus opened #35296 "Tooltip is not shown when focussing on rerender"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/pensive-fire-ygq712

Steps:

1. Press alt to focus the second button and see tooltip
2. Now click on the first button
3. Press alt again to focus and check tooltip on second button. No tooltip is being shown.

[2022-11-30 06:44] ZeeshanTamboli commented on #35238
Usage of `highlightFirstItem` is not shown in the linked CodeSandbox. Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-11-30 07:25] ZeeshanTamboli commented on #35236
I believe you can do the following:
[code]
Does this work for you?

-----

Do you have two `ThemeProvider`'s? One being the outer one?

[2022-11-30 09:05] tyzion opened #35298 "[Menu] component different position in production (Chrom)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

I don't have a live example.
I am using version 4 of material-ui, but i tried also version 5

I have at the bottom left of my page a button which opens the menu.
Here's the code:

[code]

### Current behavior 😯

While if I open the page on a normal tab of

[2022-11-30 10:28] lukashanak commented on #18899
Have you figured out the solution?

[2022-11-30 10:34] robcaldecott commented on #34905
Hey @Andarist @mnajdova here's a repo that shows the FOUC:

https://github.com/robcaldecott/nextjs-mui-app-folder

It's a single page with `Container`, `Grid` and two different `TextField` components. It's using `next@13.0.5`. The FOUC happens in both dev and production modes: just refresh the page and you'll see it.

I also see the following console error which may be relevant:

[code]

I am usin

[2022-11-30 10:37] garyb1 commented on #34526
Hey @mnajdova,

But isn't it inconsistent with the interaction with an end node? For a parent node you can press enter to expand it, and you press space to select it. But an end node can be selected with both enter or space?

By the way I think this is a duplicate of [Issue 30758](https://github.com/mui/material-ui/issues/30758) which was supposedly fixed in PR [30795](https://github.com/mui/mater

[2022-11-30 10:38] hbjORbj commented on #35251
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2022-11-30 10:44] hbjORbj commented on #35286
The background-color appears on hover only.

You should customise the background color specifically on hover.

<img width="619" alt="Screenshot 2022-11-30 at 10 43 27" src="https://user-images.githubusercontent.com/32841130/204775605-9ea401ef-7017-42a4-be13-1b1a8ed1d79e.png">

[2022-11-30 10:44] #35286 closed

[2022-11-30 10:51] michaldudak commented on #35255
The Menu applies additional props to the underlying MenuItems. If you want to wrap the built-in MenuItem with your own component, be sure to spread the additional props to retain the functionality:

[code]

[2022-11-30 11:02] Dipali-arup opened #35301 "Mui snackbar - all the snackbar are appearing at once"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

We have a location control that has name/path location and a copy icon to copy path of location. On click on copy icon, we are showing notification that path has been copied using snackbar. When we have more than 1 location control on the page, at that ti

[2022-11-30 11:04] michaldudak commented on #22912
This has been implemented in the Unstyled Menu. There's a demo in the docs that shows it ion action: https://mui.com/base/react-menu/#wrapping-menuitems

[2022-11-30 11:04] #22912 closed

[2022-11-30 11:10] michaldudak commented on #35294
Thanks for reporting this. It's a similar issue to what's described in https://github.com/mui/material-ui/issues/33268.
We'll look into supporting such scenarios in MUI Base's Menu (which will be used by the Material UI's one in the future).

If, however, someone from the community would like to take a stab at fixing it in the current version of Material UI, I'm happy to discuss it and review a PR

[2022-11-30 12:00] Andarist commented on #34905
Yeah, this is very well put. It's true that **some** components with "plain css" can be rendered using server components but the **majority** of them just can't. From my PoV... I wouldn't like to bother thinking in those terms when writing components in the first place. It's creating a mental overhead - "can I use styles in this server component?". It's much easier to just "forbid" this in the cod

[2022-11-30 12:27] robcaldecott commented on #34905
@Andarist OMG thank you so much! I thought the original example had left that in by mistake, ha!

[2022-11-30 13:22] ZHUZIZHEN0509 commented on #28496
May I ask if this problem has been solved

[2022-11-30 14:48] IdoiaRojo commented on #35287
Not working either with 5.10.15 or 5.10.14

[2022-11-30 20:56] warmbowski commented on #32806
@totszwai We have the same problem. useTheme always returns the default theme and not our custom theme when used in in our main app. Like you, we have also broken our theme provider out into a package and import it into our main app. The context looks to be loading the proper custom theme in the main app, but useTheme always returns the default theme. We first noticed this because whenever we used

[2022-11-30 22:35] oliviertassinari commented on #28189
Comments

1.1. I suspect that the `as` prop name is one that we can't use with MUI beyond replacing the component rendered by `styled()`. Why? I imagine that styled will intercept the prop, it won't replace the leaf element but the MUI Base one that is wrapped. So it would break interoperability with emotion, etc.
1.2. I think that the best general direction would be for having as flat as possible

[2022-11-30 23:15] Nick6464 opened #35306 "[docs] Creating custom variants throws errors"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/determined-moore-6gi2tj?file=/demo.js

Steps:

1. Create a custom variant for FormControl or TextField in Theme
2. Apply the new variant name to the relevant Component

### Current behavior 😯

Throws errors a