[2022-10-11 09:49] mnajdova commented on #34652
Is this related to font awesome icons only, or SVG icons too? Can you link a github repository with a reproduction?

[2022-10-11 09:49] mnajdova commented on #32830
@StarAzure it's a different issue, the one that you linked is related to font awesome icons, while this issue is related to SVG icons, which styles are loaded differently.

[2022-10-11 09:52] mnajdova commented on #34690
It's not possible for all components to handle the `variant` prop, as in some components, as the select, the variant is used for rendering different components. I am marking this as duplicate of https://github.com/mui/material-ui/issues/33510, you can follow any additional discussion around this there.

[2022-10-11 09:52] #34690 closed

[2022-10-11 10:25] kraftware opened #34709 "Overriding SwipeableDrawer with shouldForwardProp leads to waring"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Use "Mini variant drawer" Typescript  example from react Drawer Sample Page
2. Use MuiSwipeableDrawer instead of MuiDrawer in styled override

### Current behavior 😯

index.js:1 Warning: Failed prop type: The prop open is marked as required in

[2022-10-11 11:38] Kapeet commented on #18790
hey, i'm still experiencing this on mui v4.11.3, are there any hacks i could use to fix this?

[2022-10-11 12:55] RadoslavK commented on #33004
The workaround does not work for me. Is it even possible to programmatically focus the `TextField` component?

[2022-10-11 13:52] totszwai opened #34712 "[Autocomplete] renderOption is extremely slow"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Go to this sandbox: https://stackblitz.com/edit/react-nv8116-okqafc?file=demo.tsx

Steps:

1. Have more than 500+ entries as Autocomplete options
2. Expand the dropdown or start typing anything
3. Observe the extreme lag on expand or when typing/deleting

[2022-10-11 13:57] ItaiPendler commented on #34635
This would not work as I can't pass a data attribute to StepIconProps when rendering a stepper.
[code]

[2022-10-11 14:49] n1xn opened #34713 "LocalizationProvider and Theme not changing"
I want my users to be able to read the text displayed in mui components in their language. I am extracting the language from the url and setting it to the `sessionStore` with MobX. My problem is that the all MUI components are displaying in default english instead of the set language. The described [localization docs](https://mui.com/material-ui/guides/localization/) are not working.

**app.tsx**

[2022-10-11 15:17] StarAzure commented on #32830
@mnajdova Thanks. It's still an issue so not sure why it was closed. Any suggestions to resolve ?

[2022-10-11 15:57] michaldudak commented on #31869
@coder-lcn, sorry for the late response. Have you tried using pointer events as I suggested in https://github.com/mui/material-ui/issues/31869#issuecomment-1109716626?

[2022-10-11 16:01] kingllama commented on #34646
These two pages of documentation led me to the above:
- https://mui.com/system/properties/
- https://mui.com/system/sizing/#max-width

I should note that setting `maxWidth` to a breakpoint on any other component, for any size other than `xs`, and in both the component property and via the `sx={{...}}` prop work as expected.

[2022-10-11 16:03] kidroca commented on #16810
We had this issue come up in unit tests

1. We updated to React 18
2. We're using `"@material-ui/core": "^4.12.1"` _(couldn't automigrate and a lot of stuff needs to be manually checked before we switch to 5)_
3. A few tests where we use `fireEvent` on a button started to trigger this `pulsate` error

Reading `@testing-library` [documentation](https://testing-library.com/docs/dom-testing-library/a

[2022-10-11 16:04] michaldudak commented on #32970
What I meant was if a Button Group doesn't have props like `disableElevation` explicitly set, it should not [initialize them with `false`](https://github.com/mui/material-ui/blob/f27694b0ec007c879f8c89eba73bd627ea5c7af0/packages/mui-material/src/ButtonGroup/ButtonGroup.js#L188-L191), but rather allow the child buttons to set it themselves.
This way you would be able to override the defaults of Mui

[2022-10-11 16:29] michaldudak commented on #32129
@abhinav-22-tech they are not equivalent. getBoundingClientRect returns the distance to the viewport edge, while `offset*` properties return the distance to the closest positioned element. I suppose we could repetitively call `offset*` to find the distance from the origin. However, given that `getPositioningStyle` is called on every update, this may not be feasible

We could have multiple transfor

[2022-10-11 16:49] lindapaiste commented on #31300
As a redux best practice, I would not recommend creating a snackbar from inside the reducer itself because [reducers should be free of side effects](https://redux.js.org/style-guide/#reducers-must-not-have-side-effects). It would be best to call the function `notification.success(payload.message)` from a middleware, such as the [RTK listener middleware](https://redux-toolkit.js.org/api/createListe

[2022-10-11 17:32] Soundvessel opened #34715 "Allow use `styleOverrides` to target parts in new component variants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Allow use of `styleOverrides` in custom variants so we can target and theme component parts (e.g. `root`, `listbox`) that are not accessible by specificity from root.

### Examples 🌈

Global component overrides can theme component parts via `styleOverrides`.

[code]

[2022-10-11 18:55] michaldudak opened #34716 "[Modal][base] Convert code to TypeScript"
Convert the ModalUnstyled and related modules (everything inside mui-base/src/ModalUnstyled) to TypeScript, to increase consistency with other MUI Base components.
There should be no functional changes.
Use other components as a reference.

[2022-10-11 18:56] michaldudak opened #34717 "[NoSsr][base] Convert code to TypeScript"
Convert the NoSsr and related modules (everything inside mui-base/src/NoSsr) to TypeScript, to increase consistency with other MUI Base components.
There should be no functional changes.
Use other components as a reference.

[2022-10-11 18:57] martinbsanderg commented on #21397
Hey!

This happened to me when I ran "yarn add ..." **while also hosting the site locally**. The problem solved itself when I restarted the session.

[2022-10-11 18:58] michaldudak opened #34718 "[Popper][base] Convert code to TypeScript"
Convert the PopperUnstyled and related modules (everything inside mui-base/src/PopperUnstyled) to TypeScript, to increase consistency with other MUI Base components.
There should be no functional changes.
Use other components as a reference.

[2022-10-11 18:59] michaldudak opened #34719 "[Portal][base] Convert code to TypeScript"
Convert the Portal and related modules (everything inside mui-base/src/Portal) to TypeScript, to increase consistency with other MUI Base components.
There should be no functional changes.
Use other components as a reference.

[2022-10-11 19:01] michaldudak opened #34720 "[Slider][base] Convert code to TypeScript"
Convert the SliderUnstyled and related modules (everything inside mui-base/src/SliderUnstyled) to TypeScript, to increase consistency with other MUI Base components.
There should be no functional changes.
Use other components as a reference.

[2022-10-11 19:02] michaldudak opened #34721 "[TextareaAutosize][base] Convert code to TypeScript"
Convert the TextareaAutosize and related modules (everything inside mui-base/src/TextareaAutosize) to TypeScript, to increase consistency with other MUI Base components.
There should be no functional changes.
Use other components as a reference.

[2022-10-11 19:03] michaldudak opened #34722 "[FocusTrap][base] Convert code to TypeScript"
Convert the FocusTrap and related modules (everything inside mui-base/src/FocusTrap) to TypeScript, to increase consistency with other MUI Base components.
There should be no functional changes.
Use other components as a reference.

[2022-10-11 19:10] michaldudak commented on #34706
This doesn't seem like a Material UI issue. Does it still happen if you remove Material UI components?
If so, it would be great if you could prepare a minimal repro on CodeSandbox or in a repo we could clone. Pasting large amounts of code in the issue itself isn't very readable and doesn't help us reproduce the issue on our end.

[2022-10-11 19:23] michaldudak commented on #34542
Only Material UI is published as UMD.

[2022-10-11 19:25] michaldudak commented on #33884
Would you be able to provide a reproduction on CodeSandbox?

[2022-10-11 19:26] michaldudak commented on #33857
Duplicate of #34692

[2022-10-11 19:26] #33857 closed

[2022-10-11 19:28] michaldudak commented on #33601
This was fixed with #33882

[2022-10-11 19:28] #33601 closed

[2022-10-11 19:31] michaldudak commented on #33660
I'm going to close this since it's not reproducible on our side and we haven't seen any other reports from the community about this issue.

[2022-10-11 19:47] michaldudak commented on #33216
Sorry for the late response. For some reason, this issue wasn't automatically labeled and got lost.
Answering your question - it likely won't work. We haven't been testing v4 with React 18 specifically, but only v5 contains changes made for React 18. You may be able to make it work (possibly with some hacks), but you'll be on your own, as we don't provide any guidance in this case.

[2022-10-11 19:47] #33216 closed

[2022-10-11 19:51] #33013 closed

[2022-10-11 19:56] michaldudak commented on #32867
Duplicate of #32106

[2022-10-11 19:56] #32867 closed

[2022-10-11 19:58] michaldudak commented on #32545
@Dragomir-Ivanov I'm closing the issue due to inactivity. If the problem still exists, please open a new one.

[2022-10-11 19:58] #32545 closed

[2022-10-11 20:06] irwinschmitt commented on #34605
Are you referring to using flexbox instead of grid?

Could you provide an example?

[2022-10-11 20:11] #30594 closed

[2022-10-11 20:15] michaldudak commented on #29706
Duplicate of #30343

[2022-10-11 20:15] #29706 closed

[2022-10-11 20:22] michaldudak commented on #28858
Closing the issue as it depends on Material Design Icons (3rd party project)

[2022-10-11 20:22] #28858 closed

[2022-10-11 20:26] michaldudak commented on #34199
I found an existing issue describing this problem: #26492

[2022-10-11 20:27] #34199 closed

[2022-10-11 20:29] michaldudak commented on #34450
This looks like a duplicate of #32106.

[2022-10-11 20:30] michaldudak commented on #29587
Duplicate of #32106

[2022-10-11 20:30] #29587 closed

[2022-10-11 20:43] michaldudak commented on #29626
Hello, sorry for such a late response. Your issue hasn't been automatically labeled for some reason, and we missed it.
We don't have any Material UI-specific performance tips. After all, applications using Material UI are React applications, so any rules you'd use for a React app also apply here. Feel free to open an issue if you have a specific performance problem with our components or hooks.

[2022-10-11 20:43] #29626 closed

[2022-10-12 03:46] akshaya-venkatesh8 commented on #34646
Please may I take this issue? I'd like to work on this.

[2022-10-12 03:59] siriwatknp commented on #34605
You can take a look at [flexbox albatross](https://heydonworks.com/article/the-flexbox-holy-albatross/) technique but I'm not sure if it will cover all of your needs.

[2022-10-12 04:05] siriwatknp commented on #33348
We aim to put make it stable in v6 next year. I don't think it will deviate much from the current state unless we found blockers.

Can you open a new issue with a CodeSandbox reproduction? You can tag me, I can take a look.

[2022-10-12 04:06] #33348 closed

[2022-10-12 04:09] rclarkem-fubotv commented on #16866
I was not able to get OP's workaround to work for me:

[code]
---
I had to use in my overrides with the `!important` declaration.

[code]

If anyone else is having the same issues still in v4.

[2022-10-12 04:16] siriwatknp commented on #33223
@HasinaNjaratin Thanks for asking. The `Box` component is different from others. The purpose of it is to help you write styles directly in jsx.

The core feature of `Box` is the `sx` prop which you can write object styles with theme values depending on the key, for example:

[code]

will result in `color: $theme.palette.primary.main`

To summarize, the color of the `Box` targets specific values in

[2022-10-12 04:16] #33223 closed

[2022-10-12 04:24] siriwatknp commented on #34333
I think we are close to the conclusion here, so let's pick one and use it across the documentation:

Available options:
1. subcomponent
2. leaf component
3. rendered component
4. `as` component
5. forwarded component

[2022-10-12 04:26] siriwatknp commented on #34333
I vote for option 3 as it is the closest to what actually happens. "rendered component" is what gets rendered on the screen.

[2022-10-12 04:32] akshaya-venkatesh8 commented on #34708
Is this issue up for grabs? Please may I work on it?

[2022-10-12 04:34] akshaya-venkatesh8 commented on #34719
@michaldudak Could I please take this issue?? I would like to work on this.

[2022-10-12 04:46] siriwatknp commented on #28377
Would you be able to provide a minimal repository that reproduces the issue? This kind of issue is pretty hard to find the root cause if we can't reproduce and see the actual code.

[2022-10-12 06:02] Tejas021 commented on #34722
Can i work on this issue

[2022-10-12 06:05] Tejas021 commented on #34720
Can i work on this issue

i want to contribute to open source it would be great if u assign this to me

[2022-10-12 06:26] siriwatknp commented on #32088
After reading #9893 a couple of times, I would like everyone to reconsider the candidate options again. The discussion of the issue consists of 2 topics, the popper behavior, and the menu button. I will focus only on the menu button. The main thing @ryancogswell brought up that triggered me to reconsider is the breaking changes.

This is the API that he proposed (same as my first proposal):

[code

[2022-10-12 07:11] michaldudak commented on #34722
Sure, go ahead!

[2022-10-12 07:12] michaldudak commented on #34720
I've assigned FocusTrap to you. Once you're done with it, you can work on this one as well.

[2022-10-12 07:15] michaldudak commented on #34719
Great, go ahead!

[2022-10-12 07:33] nichita-pasecinic commented on #13347
This changes the color for input hover `<fieldset>` tag
[code]

[2022-10-12 07:40] michaldudak commented on #34195
I just realized you're using Material UI v4, but reference the docs for v5.
In v5, everything works fine: https://codesandbox.io/s/serene-curran-01dvuv?file=/demo.tsx

[2022-10-12 07:40] #34195 closed

[2022-10-12 07:43] ivp-dev commented on #33884
I will try

[2022-10-12 07:47] norayr93 opened #34731 "[Select] First option chosen as selected when grouping with ListSubheader"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

https://codesandbox.io/s/eloquent-architecture-in71n1 - It's a simple grouping.

### Current behavior 😯

Select chooses the first option as `selected` when using grouping with `ListSubheader` and the initial value is an empty string.

### Expected behavio

[2022-10-12 07:56] Acring opened #34732 "[AutoComplete] Vistual List scroll position reset to top when Options update"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:
demo:  https://codesandbox.io/s/divine-wave-mqjvl0?file=/demo.tsx

1.  scroll the list to bottom
2.  wait for 5s
3. see scroll list reset to top

### Current behavior 😯

the list scroll top was reset.

### Expected behavior 🤔

keep the scroll posit

[2022-10-12 08:04] leventdeniz commented on #34716
Please assign me to this issue.

[2022-10-12 08:05] mbayucot commented on #34717
Hi @michaldudak. Can I take this issue?

[2022-10-12 08:06] michaldudak commented on #34716
Here you go!

[2022-10-12 08:06] michaldudak commented on #34717
Sure, go ahead!

[2022-10-12 08:13] michaldudak commented on #34689
If I understand you correctly, you would like to create your own component that can be customized by the MUI theming system, right?

@mnajdova did we have a similar request in the past? It rings a bell, but I can't find it now.

[2022-10-12 08:15] #34542 closed

[2022-10-12 08:15] #34528 closed

[2022-10-12 08:48] michaldudak commented on #34718
Good to hear! It's all yours!

[2022-10-12 08:51] michaldudak commented on #30820
I've started a POC to address this issue: #34380

[2022-10-12 10:54] #33308 closed

[2022-10-12 11:39] AhsanImtiazRafiq commented on #34195
@michaldudak I am using "@mui/material": "^5.8.0", not v4 , but I updated and checked the version as per you sandbox , its working fine after using "5.9.3" onward!
Thanks!

[2022-10-12 12:17] petercutting opened #34734 "VoiceOver Screenreader (blind) user blocked by drawer on iOS (WCAG)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

surf to https://v4.mui.com/components/drawers/
scroll down to Temporary Drawer example
start VoiceOver
Choose "LEFT" menu (click and then double click). menu appears and rest of screen darkens
user is forced to choose a menu option.
User cannot cl

[2022-10-12 13:06] mnajdova commented on #34570
Maybe the other way around is better. The `useSelect` hint could hint that the input should be rendered by providing a `getHiddenInputProps`. Also, there is no harm in adding the hidden input always (even when `name` is not specified) so it should be fine even if in userland the logic for it is not added. I believe we should optimize for an API that is less likely to produce incorrect behavior. If

[2022-10-12 13:36] #31203 closed

[2022-10-12 14:06] frontyard opened #34737 "@mui/material upgrade from 10.9.1 to 10.9.10 breaks our app"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

We are using ~5.10.1 in our package.json

The latest patch version was deployed which was 5.10.9 and something in between those two **patch** versions is not a patch.

Looking further into release log, at least one patch version (5.10.9) has breaking chan

[2022-10-12 14:30] mnajdova commented on #29345
For everyone interesting in chiming in, I've created discussion for the implementation strategy for Material You in `@mui/material` - https://github.com/mui/material-ui/discussions/34738. Feel free to leave your thoughts there.

[2022-10-12 14:38] ryota-murakami commented on #21111
@eudinnou That's really reasonable for create default MUI components Storybook. 😀
I used to have a project that was converted from MUI's Components Docs to Storybook, but it is not currently maintained as I am mainly working on the backend now.

storybook: https://main--632a01c394385880b3383063.chromatic.com/?path=/docs/components-alert--default
repo: https://github.com/laststance/mui-storybook

R

[2022-10-12 15:03] StarAzure commented on #34652
@mnajdova I do not have a public repo for this so I will have to create one that can reproduce this.

I have however added the 3 important file - app.js, document.js and my Layout.js
appjs:
[code]

document.js
[code]

Layout.js
[code]

[2022-10-12 15:09] carlosrsabreu commented on #21142
Can anyone confirm that this situation is happening again?

[2022-10-12 15:18] StarAzure commented on #34652
@mnajdova The suggestion I found on stackoverflow is to load the mui icons upfront. How can I do this for mui icons?

For mui, I import one icon at a time
Example:
`import LockOutlinedIcon from '@mui/icons-material/LockOutlined';`

How can I do a global import of mui icons upfront and prevent reimport?

[2022-10-12 15:53] alvamanu commented on #20906
In my case, async values will only prepopulate when the component is set to multiple values, not to single value. Also, Autocomplete component has a state issue. Console is giving me a warning stating it's uncontrolled. It's out of my hands since it's part of the module.

Any help would be greatly appreciated.

[2022-10-12 17:21] alvamanu commented on #20906
I found a solution for this. First, you have to default the state value to `null`, not `undefined`. Then you have to determine in value prop what type of data you'll populate, like so:

`const getValue = (value: AsyncACValueType) =>
    !multiple
      ? value !== null
        ? Array.isArray(field.value)
          ? field.value[0]
          : field.value
        : []
      : value !== null

[2022-10-12 17:30] DawsonJBailey commented on #19262
God bless you for this

[2022-10-12 17:55] StarAzure commented on #34652
@mnajdova Thanks. Followed the example for app, document js but same issue. Has this anything to do with how emotion cache is loaded first at the top before even page title?

![image](https://user-images.githubusercontent.com/12852059/195414029-99176fbf-5d5d-46c2-ba8a-311736515656.png)

[2022-10-12 18:11] drac94 opened #34740 "Conditionally rendering of Tabs not working properly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add some tabs
[code]
3. Wrap them in a component that checks if the tab should be displayed, for simplicity I am just retuning the children wrapped in a fragment but in theory it should make some checks to return the children or null
[code]

[c

[2022-10-12 19:14] Nikhil562 commented on #34740
I would love to do that , can you please assign to me

[2022-10-12 19:14] Nikhil562 commented on #34737
I would love to do that , can you please assign to me

[2022-10-12 20:08] StarAzure commented on #34652
I fixed the issue with a hack in my high level code but I don't think this is the efficient way. thoughts??

I used useEffect but thinking about using https://reactjs.org/docs/hooks-reference.html#uselayouteffect
[code]

[2022-10-12 21:43] oliviertassinari commented on #34333
@michaldudak For these cases, the tree can only have a height **of one**. Meaning, the leaf component can only be the component that is rendered. In which case, what's clearer? Personally, I agree with them, I think that "rendered component" is clearer in the context. When I see the name, I instantly understand: "ah yes ok, it's the component that will be rendered, it doesn't matter if it's render

[2022-10-13 03:47] MuLoo commented on #30278
Having some issue when i use `TransitionGroup` and `Collapse` in table like
`<TableBody>
            <TransitionGroup component={null}>
              {arr.map(()=> {
                return (
                  <Collapse>
                    <TableRow />
                  </Collapse>
                );
              })}
            </TransitionGroup>
          </TableBody>`

[2022-10-13 05:39] paulleonartcalvo opened #34744 "[Autocomplete & TextField]: Autocomplete and Textfield have different heights when using variant='filled' and hiddenLabel"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Place a textfield with `variant='filled'` and `hiddenLabel` and `size='small`
2. On the same horizontal axis, place an Autocomplete with `size='small'` and `renderInput={(props) => <TextField {...props} hiddenLabel variant="filled" />` (the beh

[2022-10-13 05:56] alexander-vashchuk opened #34745 "How to scope out CSS styles, so they won't affect the scope of MUI styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'm working on the migration of the big system which was build on top of the Bootstrap to MUI

In that system, we have a dark mode feature, it works perfectly for Bootstrap components, the problem is it affects MUI components

### Examples 🌈

![animation](https://us

[2022-10-13 07:39] michaldudak commented on #34720
It's all yours!

Let me know if you encounter any problems along the way. The Unstyled Slider is likely the most complex of the Base components still written in JS.

[2022-10-13 07:40] michaldudak commented on #34721
Sure, go ahead!

[2022-10-13 07:47] michaldudak commented on #34745
You could add `:not([class^=Mui])` to the existing rule so it doesn't affect elements with classes starting with "Mui":

[code]

Side note - these types of questions are best asked on StackOverflow, where the large community can see them and help.

[2022-10-13 07:47] #34745 closed

[2022-10-13 08:17] CarlosAmaral opened #34746 "[Select] Know when it's open in an uncontrollable way"
Hi,

I'd like to keep the Select uncontrolled but at the same time, I'd like to understand when it's open. Is this possible? I've tried to use `useEffectLayout` on the Select's ref but that doesnt quite work. Thank you.

[2022-10-13 09:53] ddolcimascolo opened #34747 "TextField margin shouldn't be larger at the top if there's no label"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Use a TextField with dense, or normal margins without a label (e.g.: with a placeholder instead)

### Current behavior 😯

margin-top is twice the size of margin-bottom

### Expected behavior 🤔

margin-top equals margin-bottom

### Context 🔦

I think the l

[2022-10-13 10:55] mnajdova commented on #34708
The `checked` should be removed from the `styleOverrides`. It is specified on the API page - https://mui.com/material-ui/api/checkbox/ that it is a "state class", this is why you need to bump the specificity in order to override the styles. See https://mui.com/material-ui/customization/how-to-customize/#state-classes for more info on this.

The problem is that we are using the same types for the c

[2022-10-13 11:20] #30257 closed

[2022-10-13 11:23] flaviendelangle commented on #28766
Has been fixed by #28815

[2022-10-13 11:23] #28766 closed

[2022-10-13 12:02] klaskowski commented on #29844
Could we update peerDependency in @mui/styles to React 18? Or is there still something that holds us back?

[2022-10-13 12:53] mnajdova commented on #29844
@mui/styles is not compatible with concurrent mode and react 18, this is why it isn't added in the peer dependencies. The other packages already have React 18 in their peer dependencies.

It is stated in its documentation - https://mui.com/system/styles/basics/

[2022-10-13 15:19] benlambert43 commented on #10739
I'm using React and MUI 5.10.9 on the desktop in an electron client so YMMV:

using the `theme` hook and adding theme.mixins.toolbar deps to a useEffect function changes the state of an appBarHeight variable that I set up to track the height seems to work.

`import  { useTheme } from '@mui/material';`

...

`const theme = useTheme();`
`const [appBarHeight, setAppBarHeight] = useState<CSSProperties

[2022-10-13 15:50] dbehmoaras commented on #32823
@siriwatknp this was incorrectly marked as a duplicate but ok

[2022-10-13 16:42] aParadowski commented on #34539
I'd like to bump this as well. We're converting from `styles` to the new `styled` api approach and just ran into this same issue. It would be nice to at least have it called out in the styled migration section if this is indeed a limitation of the current system.

[2022-10-13 16:56] baharalidurrani commented on #10739
@benlambert43 👆 This is not a working solution.
The value of `theme.mixins.toolbar.minHeight` is always `56` regardless of screen size.
It's the other two values (`48` and `64`) that we need to get dynamically on runtime.
[code]

[2022-10-13 19:36] Fil-good opened #34752 "Cannot find type definition file for 'react-scripts'.ts(2688) in react-app.env.ts"
After copying the code, and some updates of npm, etc. I cannot remove this error code (see subject line). Anyone has an idea how to fix this?

package.json
[code]

tsconfig.json

[code]

[2022-10-13 22:24] KuSh opened #34753 "InputBaseProps is missing onInvalid callback so wrong type is used"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Code is working but doesn't path strict tsc compilation :

[reproduction case](https://codesandbox.io/s/heuristic-hodgkin-smc3n8?file=/src/App.tsx)

### Current behavior 😯

Error `Property 'setCustomValidity' does not exist on type 'EventTarget'.ts(2339)`

[2022-10-13 22:26] KuSh commented on #34753
PR https://github.com/mui/material-ui/pull/33162 fixes the problem

[2022-10-13 22:50] drace-rgare opened #34754 "Grid incompatible with ClassNameGenerator"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

https://codesandbox.io/s/purple-morning-4vq4bh?file=/demo.tsx

Steps:

1. Import and use `unstable_ClassNameGenerator` to prefix classnames
2. Use Grid with `spacing` prop - spacing does not happen

Above codesandbox is the example from https://mui.com/ma

[2022-10-13 22:52] drace-rgare commented on #34754
@siriwatknp created CodeSandbox reproduction mentioned from https://github.com/mui/material-ui/issues/33348, I'm running into the same issue.
Also seeing styling weirdness with the Stepper component, but that's more effort to setup a reproduction for

[2022-10-14 05:06] HyoilKim commented on #11069
It doesn't work for me.

I reproduced the value not to show when it's selected following the code
`renderValue={value === '' ? () => placeholder : undefined}`

but It works after changing the order
`renderValue={value !== '' ? undefined : () => placeholder}`

[2022-10-14 05:15] ryanrw commented on #34721
I need help with with some piece of code inside the `TextareaAutoSize`.

The component contains `inputRef` and `shadowRef`, which is React's ref.

[code]

Is it a good practice that I use non-null assertion on the variable assignment like this?

[code]

It will resolve the TypeScript typecheck error warning, but I don't know if ref can be null.

Thank you for your help.

[2022-10-14 06:11] mnajdova commented on #31835
All import should work if they are imported from top level: '@mui/material' for e.g.

[2022-10-14 06:13] mnajdova commented on #34652
I am closing the issue, there is no clear reproduction, it works on the example project.

[2022-10-14 06:13] #34652 closed

[2022-10-14 06:47] mnajdova commented on #34486
There is no standardized way of how to serialize the value for the range slider, this is why it should be added in userland. The issue is marked as "waiting for 👍" so if people feel like we should add this feature, we will re-open.

[2022-10-14 06:59] mnajdova commented on #34689
You can follow how the Material UI components are created. Using this should work:

[code]

And them you should be able to do:
[code]

From what I can see from the code above you had slot: 'root' (lowercase) which may be the reason why it doesn't work. Here is a codesandbox - https://codesandbox.io/s/laughing-jang-n4tuyk?file=/src/App.js

-------------

Overall just follow how the MUI components a

[2022-10-14 07:00] #34689 closed

[2022-10-14 07:18] mnajdova commented on #32088
I still like the JSX like API better, but considering everything I would be ok if we adopt the prop based API too. This would mean that we can add this in all packages immediately right?

[2022-10-14 07:49] mnajdova commented on #34600
@doliG it turns out that this can create breaking changes for all the developers who used this API so far. Here is the PR - https://github.com/mui/material-ui/pull/34606 I left a comment there regarding why I consider this a breaking change.

[2022-10-14 07:49] michaldudak commented on #34752
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-10-14 07:51] mnajdova commented on #33445
I can start on it next week. We have it in our roadmap for this quarter, but happy to start with it earlier.

[2022-10-14 07:52] #34500 closed

[2022-10-14 07:56] michaldudak commented on #34746
You can use the `onOpen` and `onClose` props even in uncontrolled mode. The docs may be a bit misleading in this matter. I'll make sure they are updated.

[2022-10-14 09:00] Mohammed-Q96 opened #34756 "Using kebab-case for css properties in objects is not supported"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

@emotion logs error in console complaining kebab-case CSS properties in an GlobalStyles component

 here a codesandbox to reproduce(check the console):
[codesandbox](https://codesandbox.io/s/using-kebab-case-for-css-properties-in-objects-is-not-supported-lu

[2022-10-14 09:18] tech-meppem commented on #34503
@siriwatknp Sorry, I didn't see your comment.
Here is a CodeSandbox replicating the issue:
https://codesandbox.io/s/wild-sunset-tn5mmh

[2022-10-14 09:25] michaldudak commented on #34721
Yes, you could do it. This ref is `null` only initially. We would get runtime errors otherwise.

---

I see @paco9595 has also started working on this in #34751. Could you please coordinate your efforts? As @ryanrw was assigned to this issue, I'd prefer his implementation to be merged, but we can have @paco9595's PR as a fallback.

[2022-10-14 09:27] #34717 closed

[2022-10-14 09:31] #29225 closed

[2022-10-14 09:34] mnajdova commented on #34527
I assume the issue was fixed then. I am closing.

[2022-10-14 09:46] mnajdova commented on #34428
Ok this looks very much specific to your use-case. You could use the scroll event then and change the prop value based on the height of the tooltip and the scroll position then. In the end this is why we are exposing this as an API on the component. I hope this helps.

[2022-10-14 09:46] #34428 closed

[2022-10-14 09:52] mnajdova commented on #28465
If someone has time to create a PR with the fix I would be happy to review it. It's hard to say if any of these is the correct fix to the solution without checking if there are no visual regressions in other scenarios.

[2022-10-14 10:05] michaldudak commented on #33049
We don't provide such functionality. You could hack it together, though, by setting `InputProps.startAdornment` manually if there's nothing defined (meaning no options are selected):

[code]

[2022-10-14 11:34] jscheid commented on #34527
Sorry but it's not fixed. If you follow [these instructions](https://mui.com/material-ui/guides/styled-engine/#yarn) and you have `skipLibCheck: false`, you're getting type checking errors.

[2022-10-14 11:44] mnajdova commented on #34527
If it doesn’t happen here https://github.com/mui/material-ui/blob/master/examples/create-react-app-with-styled-components-typescript/tsconfig.json then there is nothing left I can do. Just follow the example. The instructions there are for scenarios where we don’t have example project

[2022-10-14 11:46] bharatkashyap commented on #22426
Company: FNP (formerly Ferns and Petals)
A large online gifting service in India
Link: https://www.fnp.com/
![Screenshot 2022-10-14 at 5 15 22 PM](https://user-images.githubusercontent.com/19550456/195839282-899cddd3-7f74-4b0b-a924-62cbf7f9f1f9.png)

[2022-10-14 11:50] mnajdova commented on #33525
You can add additional tokens in the theme, that’s the first example in the comment above. Is it not sufficient?

[2022-10-14 11:54] michaldudak commented on #33407
I was able to reproduce the problem both using Material UI 4 and 5.

It may be caused by how React Testing Library renders a component. I've added a similar test to our suite (it doesn't use Jest) and it fails as well (although not as spectacularly - it's just the failing assertion).

[2022-10-14 12:08] michaldudak commented on #33605
The Input's adornment is placed within the root that has the `.Mui-disabled` class set:

[code]

You can style the adornment differently if it's placed inside an element with `.Mui-disabled` class.
Hope this helps.

[2022-10-14 12:13] michaldudak commented on #34513
Could you please provide a simple codesandbox showing the problem so we can reproduce the issue and verify any potential solutions?

[2022-10-14 12:19] MakakWasTaken commented on #11069
This seems like a typescript error, try this instead:
[code]

[2022-10-14 12:47] michaldudak commented on #34634
Could you please create a reproduction on CodeSandbox? It'll be much faster for us to verify it this way.

[2022-10-14 12:48] michaldudak commented on #34692
Could you please provide more detail?

[2022-10-14 12:53] ryanrw commented on #34721
@michaldudak I just review on #34751 and I think his work is as same as mine, so it's ok to using his work instead.

[2022-10-14 12:53] jscheid commented on #34527
Your documentation offers multiple different methods of installing `styled-engine-sc`:
1. with Yarn
2. with Webpack
3. with Next.js

The example that you refer to only shows that it works with the Webpack method.

Is the Yarn method still supported? If so, there is still a bug here because when using that method you're getting typing errors. If it's no longer supported, it should probably be remov

[2022-10-14 13:09] michaldudak commented on #34703
This example requires two additional packages: `@mui/icons-material` and `recharts`. I'll update the readme to make sure it's clear.

Let me know if it helps.

[2022-10-14 13:34] michaldudak commented on #34631
The Input doesn't have the `labelId` prop. You can associate a label as you would do in plain HTML: with an `id` on an Input and `htmlFor` on an InputLabel:

[code]

[2022-10-14 13:45] michaldudak commented on #34712
Thanks for reporting this issue. It is noticeably slow, even on a powerful machine.

Would you be interested in trying to improve the implementation

[2022-10-14 13:47] michaldudak commented on #34732
Duplicate of #30249

[2022-10-14 13:47] #34732 closed

[2022-10-14 14:09] #34701 closed, assigned to hbjORbj

[2022-10-14 14:14] wangmartin616 opened #34759 "Typescript compile with tsc takes long time."
Hi,
I have a storybook project with MUI 5 and React 18. There are almost 750 typescript files.
When I run tsc command, it takes almost 20-25 minutes even I exclude node_modules in tsconfig.json.
I previously used React 16 and Material UI 4 and it took only 2-3 minutes. After I upgraded to React 18 and MUI 5, I am facing this issue.

[2022-10-14 14:25] yay opened #34760 "Please support PaperComponent in Select (like in Autocomplete)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The `AutoComplete` component supports the following prop:
[code]
which allows us to show a custom fullscreen dialog (with autocomplete options and a close button) on mobile when the dropdown is clicked.

Unfortunatelly, the same prop is not supported in the `Select`

[2022-10-14 15:02] mnajdova commented on #34734
We haven't been actively working on v4 for over a year. Is it happening with v5 too?

[2022-10-14 15:32] RemyMachado opened #34761 "Can't override/remove [Cssbaseline] rule"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. setup theme & Cssbaseline
[code]
2. Redefine the rule (theme override)
[code]

### Current behavior 😯

`margin: 8px 0;` comes from the default `Cssbaseline` rules. I want to remove it.
![image](https://user-images.githubusercontent.com/30229752

[2022-10-14 15:33] #26790 closed

[2022-10-14 15:40] RemyMachado commented on #34761
I was wrong.
It was coming from my `<GlobalStyles />` config.

[2022-10-14 15:40] #34761 closed

[2022-10-14 15:52] mnajdova commented on #34731
This is a regression introduced in https://github.com/mui/material-ui/pull/27299. We should not add the item as `selected`. cc @michaldudak could you verify that the linked PR was indeed wrong? In my opinion, we should have just focused that element.

[2022-10-14 17:03] oliviertassinari commented on #34737
@frontyard Please provide a reproduction

This is likely unrelated. What you see in https://github.com/mui/material-ui/releases/tag/v5.10.9 is impacting an `unstable_` prefixed module, and per https://mui.com/versions/#what-doesnt-count-as-a-breaking-change it doesn't count. Now, I agree, I had the same thought initially when I read the changes, we could make it clearer that it's about a breaking

[2022-10-14 19:28] Fil-good commented on #34752
@michaldudak : thanks for your answer! yeah, impossible to put all my node_modules etc in this minimal example.
even after 'npm install react-scripts@latest', and 'npm audit fix --force', npm install, then 'npm audit fix --force' is not even possible anymore, after that for me, it's clear: it's a complete mess of interdependencies that don't fit :-D I will not start with this fork, but will start

[2022-10-14 20:34] Fil-good commented on #34752
so, an hour later, everything is working! in the end there was only 1 issue, and by changing, in the tsconfig.json: "jsx": "react" to "jsx: "react-jsx" everything was ok. This was the only difference in the tsconfig file from the example of the forked repo.

my solution to all previous difficulties, was to use 'npm update'  (I also changed my lock file with shrinkwrap, but not sure if this was the

[2022-10-14 20:45] yoisel commented on #34486
@mnajdova This falls more on the land of "common sense"... returning just one value is kind of useless in this scenario.

[2022-10-14 21:13] GTime opened #34763 "useEnhancedEffect_default2 is not a function in remixjs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

I am currently trying to setup mui with typescript remixjs to run cloudflare pages. After setup the a the project following the example provided by mui, I ran the dev script. I didn't get any error from the termin

[2022-10-15 12:28] Gift-Stack commented on #34539
Please assign this issue to me

[2022-10-15 13:03] CodingDive opened #34767 "Styles applied with CSS prop of styled-components is overwritten by MUI default styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Use the css prop from `styled-components` or `styled-components/macro` on a MUI component

[code]
2. Styles will be overwritten by the default styles or the customized theme of MUI components

See https://codesandbox.io/s/styled-components-css-

[2022-10-15 13:20] Vivekkushwaha123 commented on #20856
can I work with this issues

[2022-10-15 13:28] Vivekkushwaha123 commented on #20856
![image](https://user-images.githubusercontent.com/102899392/195988922-df0fd8ce-6d28-4cd7-9ee1-28549781a446.png)
we can add {!anchorEl && <Checkbox /> } code instead in <Checkbox/> to avoid this issue.

[2022-10-15 13:31] Vivekkushwaha123 commented on #20856
please assign me this task if I am correct

[2022-10-15 14:04] aymanxdev commented on #28874
I think you dont need to override the styles here, but what you could instead wrap it in a div and apply the styles you want. If you provide a codesandbox link I could give it a go.

[2022-10-15 14:18] vipindigiqt opened #34768 "No Auto-completions / Suggestions for Custom `styled` components!"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Created a custom component using `styled` utility.
2. Added variants using `createTheme` function.

### Current behavior 😯

I was trying to compose a Flex component for all the flexbox related layouts in my application.

I had a look at the doc

[2022-10-15 15:39] ArealRJ opened #34770 "i use styled-component in project and follow the document‘s step, add @mui/styled-engine in my config,but when i use components,brower is warning referenceError,theme is undefined"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.yarn add @mui/material @mui/styled-engine-sc styled-components
2.configure styled-components as the style engine.
3.use components in project

### Current behavior 😯

Brower prompt reference error,theme is undefined

### Expected behavior 🤔

com

[2022-10-15 17:28] chaiwattsw commented on #34719
Any update on this? If not I would like to take

[2022-10-15 19:44] akshaya-venkatesh8 commented on #34719
@chaiwattsw I am working on it right now.

[2022-10-15 20:31] akshaya-venkatesh8 commented on #34719
I will be raising a PR in sometime. @chaiwattsw @michaldudak

[2022-10-15 21:03] Joroze commented on #32807
I'm having this problem as well and can't find proper documentation for the cases where I need a custom font that is not available in Google Fonts for font optimization.

[2022-10-15 23:55] ShaunLloyd commented on #21111
Hey @ryota-murakami! I'm a Developer Experience Engineer for Storybook 😁 I wrote the article that you mentioned.

You're right that our controls for object props aren't ideal. Do you have a way that you envisioned being able to control object types?

---

Hey friends! I recently put together an example repository for Material UI and Storybook for our recent article, [Material UI in Storybook](http

[2022-10-16 01:48] siriwatknp commented on #34754
I'll look into it tomorrow. For the workaround, I recommend you use `Grid` v2.

**demo**: https://codesandbox.io/s/romantic-clarke-52yuoo?file=/demo.tsx
**docs**: https://mui.com/material-ui/react-grid2/#main-content

[2022-10-16 03:05] akshaya-venkatesh8 commented on #34719
I am struggling with resolving the following error - within the ForwardRef - could you help out? @michaldudak
<img width="1342" alt="Screen Shot 2022-10-15 at 20 03 58" src="https://user-images.githubusercontent.com/15035333/196016014-c850d097-460e-43eb-9fbf-971db2d21f3c.png">

[2022-10-16 07:01] TheGLander commented on #31013
I think I'm gonna take this issue.

[2022-10-16 07:48] erpardeepjain opened #34791 "Support of Circular Slider"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

https://github.com/mui/material-ui/tree/v5.10.9/docs/data/material/components/slider

In the current Slider there are various options but Circular Slider option is missing. There should be props which accept variant of slider as Linear or Circular.

### Examples 🌈

[2022-10-16 10:53] ivp-dev commented on #13539
I could not reproduce this error with functional components. There is my try - [draft](https://codesandbox.io/s/quirky-aryabhata-0qg9n1)
Everything seems to work correctly.

[2022-10-16 13:19] F-Naddaf commented on #10812
What about it in v5?
How can I change it while I'm using material UI v5?

[2022-10-16 15:13] YASHBRO commented on #33738
@NPrada
Can you please try this on the latest version of MUI-Joy, I tried it with both `ReactDom.render` and `createRoot`, and both of them worked fine, then I updated the package version in your codesandbox and it also worked fine.
So can you please try again

[2022-10-16 15:23] believion commented on #34719
@michaldudak  Can i work on this issue ?

[2022-10-16 17:07] jayeshuk commented on #34719
Can i work on this issue ?

[2022-10-16 19:50] mikehuebner commented on #33525
It solves the problem but feels odd having to call up `theme` every time I want a custom value when I can already do `padding: 'sm'` elsewhere yea? Not the worst thing but it makes some items feel inconsistent.

Would be great if we could do this:
[code]

[2022-10-17 00:18] oliviertassinari commented on #32088
A few thoughts:

1. There are different types of menus. Having a single component called `Menu` is maybe an oversimplification. For example, in Radix we have Context Menu, Navigation Menu, Dropdown Menu, Select. We also talked about having a https://github.com/mui/mui-x/issues/511 and https://github.com/mui/mui-x/issues/514
1. The Menu is not necessarily the ideal abstraction to implement all of t

[2022-10-17 05:16] RaviGuggilam commented on #34770
facing similar issue from  14-Oct-2022 onwards.

[2022-10-17 07:20] jyasveer opened #34797 "[docs] Demo VirtualElementPopper crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20VirtualElementPopper%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-popper/#virtual-element
2. ??
3. demo *VirtualElementPopper* crashes

## Your Environment
| Tech         | Version |
|---

[2022-10-17 08:58] michaldudak commented on #34719
@akshaya-venkatesh8 It seems that `forwardRef` doesn't like a component that can return `undefined`. In this case, it can happen when Portal's `children` are undefined (which is not a likely scenario - why would anyone use a portal without children).

To work around this, we could wrap children in a Fragment when they're not a valid React element (line 48):

[code]

---

@believion, @jayeshuk this

[2022-10-17 09:39] #34570 closed

[2022-10-17 09:39] #34603 closed

[2022-10-17 09:46] andriijas commented on #34759
I got massive performance gain by using babel and/or swc for compiling ts and typechecking with ForkTsCheckerWebpackPlugin instead of using tsc.

[2022-10-17 10:15] #33973 closed

[2022-10-17 10:17] siriwatknp commented on #15588
I believe that we can close this issue with the experimental API [`CssVarsProvider`](https://mui.com/material-ui/experimental-api/css-theme-variables/overview/).

[2022-10-17 11:10] #34654 closed

[2022-10-17 11:10] #34666 closed

[2022-10-17 11:16] EmmanuelFRANCOIS opened #34799 "SwipeableDrawer : Property 'onOpen' does not exist"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Here is my code to define a swipeable drawer :
`          <SwipeableDrawer
            open={open}
            onClose={() => setOpen(false)}
            onOpen={() => setOpen(true)}
            ModalProps={{
              keepMounted: true,

[2022-10-17 11:25] #34752 closed

[2022-10-17 12:23] rek commented on #27564
Try:
[code]

[2022-10-17 13:17] zkriszti commented on #33602
The issue is reproduced in mui's own example stackblitz [linked in the doc itself](https://mui.com/material-ui/react-button-group/#split-button).
(Click on the small stackblitz icon for the code example to open - there's no direct stackblitz link, it says "This is a temporary project which is not saved on StackBlitz.").

Also, see screenshot:
![mui_popper_ts_issue_20221017_w_hint](https://user-ima

[2022-10-17 13:52] EmmanuelFRANCOIS commented on #34799
It seems that `onOpen?: ModalProps['onOpen'];` statement is missing in `Drawer.d.ts`.
I tried to add it, and it solved my problem : no error anymore and my app starts just fine...
Please, MUI team, if that solution suits you, could you make this correction asap in your sources ?

[2022-10-17 14:30] pharmpy-dev-123 opened #34801 "Using `setPreBodyComponents` in Gatsby triggers warning: `Warning: Each child in a list should have a unique "key" prop.`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Follow the instructions at https://mui.com/material-ui/experimental-api/css-theme-variables/usage/#gatsby.

### Current behavior 😯

Warning triggered:

[code]

### Expected behavior 🤔

No warning should be triggered.

### Context 🔦

Trying to prevent dark

[2022-10-17 14:41] appurist commented on #29216
This is old, but when importing from `@mui/lab/LoadingButton`, you'll need to install **@mui/lab** with the NPM package too,
`npm install @mui/lab` or `yarn add @mui/lab` or whatever.

[2022-10-17 15:35] xurxe commented on #34734
i just tested this on [mui.com/material-ui/react-drawer](https://mui.com/material-ui/react-drawer/) + VoiceOver + iOS. my findings:

- if you tap + double-tap on the backdrop, the drawer closes. this is the expected behavior, because the initial tap moves the reading cursor to the element, and the double-tap activates it. it's the same reason why we tap + double-tap initially to open the drawer.

[2022-10-17 16:01] GabrielBrandaoProjetos commented on #12034
Muito obrigado, funcionou pra mim.

[2022-10-17 16:37] Aksa12 commented on #34799
Hey, can I work on this issue?

[2022-10-17 21:54] C-Bandstra commented on #5309
How is this still not fixed after 7 years?

[2022-10-17 21:55] C-Bandstra commented on #5309
Any 7 year updates on when this will become a thing?

[2022-10-17 21:56] C-Bandstra commented on #5309
Any chance this will ever be supported?

[2022-10-18 03:24] wustzhaohui commented on #32367
Obviously，you should find the package whitch should update and update it.

[2022-10-18 03:43] siriwatknp commented on #34754
@drace-rgare Hey, it turns out your setup is incorrect. The docs clearly point out that you should "create a separate file and then import it before any @mui/*"

Here is the working Sandbox: https://codesandbox.io/s/withered-sunset-roj9el?file=/MuiClassNameSetup.js

I am closing this issue.

[2022-10-18 03:43] #34754 closed

[2022-10-18 05:14] akshaya-venkatesh8 commented on #34719
Thank you so much. That solved everything. I'll raise a PR.

[2022-10-18 05:54] ddolcimascolo commented on #34747
Yes, it's totally OK to not have this in MUI core

[2022-10-18 06:34] wustzhaohui commented on #32367
I have the same problem as you in antd. I hava tried update these package.Above⬇️
[code]
Hope is useful for you.

[2022-10-18 06:47] sinamoradi1375 commented on #33563
Any updates on this? we're using emotion in our project and margin padding get flipped in sx or in emotion styled

[2022-10-18 07:40] viclafouch commented on #9716
Or there is a library for this :

https://viclafouch.github.io/mui-file-input/ (React 18 / MUI V5)

[code]

[2022-10-18 11:06] NPrada commented on #33738
In the later versions the issue does not seem to appear anymore :)

[2022-10-18 14:24] bendras commented on #27154
Observed similar issue in `Tabs />` component. SEE: https://github.com/mui/material-ui/issues/17119#issuecomment-1282478695

[2022-10-18 15:32] srideviabhirami commented on #34620
What do you mean , when you say multi select crashes ?

[2022-10-18 15:54] srideviabhirami commented on #34526
Are we expecting to expand/collapse the parent node for space and select/unselect for enter key ?

[2022-10-18 16:14] paulleonartcalvo opened #34812 "Add default props definitions to custom theme variants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

When passing component overrides to `createTheme()`, allow the `variants` objects for each component to define its own default props as a callback with theme as its argument (same as `style` on the same object). This would mean that given a minimum set of required p

[2022-10-18 16:23] emlai opened #34813 "[Tooltip] Clicking on IconButton prevents link from opening"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

https://codesandbox.io/s/kind-kowalevski-xnncgc?file=/demo.tsx

1. Click the icon button.
2. Click the link.

### Current behavior 😯

Link doesn't open.

### Expected behavior 🤔

Link opens.

### Context 🔦

_No response_

### Your environment 🌎

_No respo

[2022-10-18 19:13] #34706 closed

[2022-10-18 19:50] Brinda221patel commented on #6466
TabIndicatorProps={{sx: {
                                                  bgcolor: "#FF5733",
                                                }
                                              }}

[2022-10-18 20:02] objectiveSee opened #34815 "Link to examples on MUI page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The MUI [website](https://mui.com/) has some really cool UI components on the right-hand side. Are those available as source code anywhere?

![Screen Shot 2022-10-18 at 2 01 04 PM](https://user-images.githubusercontent.com/1684106/196532097-dc37d264-3fef-4689-bbb0-d

[2022-10-18 20:02] #34703 closed

[2022-10-18 22:35] Rc85 opened #34816 "[TextField] TS error when TextField select multiple onChange signature uses 2 arguments"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create `TextField` with `select` prop and `SelectProps[mulitple]`
2. Pass a function with two arguments as you would when using `Select` with `multiple`

### Current behavior 😯

TS will throw error
[code]

### Expected behavior 🤔

When using mu

[2022-10-18 22:55] dkang23 opened #34817 "Add TikTok social Icon @material-ui/icons/TikTok"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

why is this not done already?

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-10-19 03:30] VinceCYLiao commented on #16866
Can I work on the second step? Looks like it has not been done.
@mnajdova @oliviertassinari
People who set disableRipple to true might still want to keep the hover style, so I propose that we add a new property "disableHoverStyle" to the Radio component, which will skip default hover styles when  is true.

[2022-10-19 05:52] SazedWorldbringer commented on #34815
The source code for those examples can be found in [/docs/src/components/showcase](https://github.com/mui/material-ui/tree/master/docs/src/components/showcase).

[2022-10-19 06:04] alfe opened #34818 "ViewCompact and ViewComfy are replacing each other."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. https://codesandbox.io/s/vigilant-kare-rq0qmy?file=/src/App.js

### Current behavior 😯

It looks like ViewCompact and ViewComfy have been replaced.
![icon-compare](https://user-images.githubusercontent.com/1934979/196609148-89a2faf1-5641-4fe9-8

[2022-10-19 06:10] rawatdev opened #34819 "Material UI Template links are not working"
All links(source code) of free react templates inside the docs of mui are not working.

Page Link: https://mui.com/material-ui/getting-started/templates/

After seeing on the devtools its page is getting undefined for environment variables

```const sourcePrefix = `${process.env.SOURCE_CODE_REPO}/tree/v${process.env.LIB_VERSION}`;```

[code repo page link](https://github.com/mui/material-ui/blob/m

[2022-10-19 06:24] PunitSoniME commented on #34813
@emlai

I tried to test this in Brave browser, and I am able to redirect to the link.

[2022-10-19 07:38] #34631 closed

[2022-10-19 07:42] karthick1231 commented on #17353
@noblessem Thanks! your solution worked

[2022-10-19 08:25] mnajdova commented on #34756
The description of the error is pretty much self-explanatory. Also, this is related to emotion, so I would suggest opening an issue on that repository and get an opinion from the maintainers of why this is not supported.

[2022-10-19 08:26] #34756 closed

[2022-10-19 09:04] applelogintest opened #34824 "TextField select option in Dialog and scrollTop = 0 in onChange event does not work May I know why?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

_No response_

### Current behavior 😯

If you use onClick on Button, scrollTop works well.
However, scrollTop does not work in onChange events after using the select option in TextField

### Expected behavior 🤔

_No response_

### Context 🔦

### Your envi

[2022-10-19 09:09] applelogintest commented on #34824
`
import * as React from "react";
import Button from "@mui/material/Button";
import Dialog from "@mui/material/Dialog";
import ListItemText from "@mui/material/ListItemText";
import ListItem from "@mui/material/ListItem";
import List from "@mui/material/List";
import Divider from "@mui/material/Divider";
import AppBar from "@mui/material/AppBar";
import Toolbar from "@mui/material/Toolbar";
import

[2022-10-19 09:10] applelogintest commented on #34824
here is my code

<code>
import * as React from "react";
import Button from "@mui/material/Button";
import Dialog from "@mui/material/Dialog";
import ListItemText from "@mui/material/ListItemText";
import ListItem from "@mui/material/ListItem";
import List from "@mui/material/List";
import Divider from "@mui/material/Divider";
import AppBar from "@mui/material/AppBar";
import Toolbar from "@mui/mat

[2022-10-19 11:06] emlai commented on #34813
@PunitSoniME I reproduced this on Chrome. Added more details to the issue description.

[2022-10-19 11:57] oalexdoda opened #34826 "[system] Support new style engine that generates static CSS files at build time"
(*issue heavily edited by @oliviertassinari*)

### Summary 💡

I recently found an article that breaks down in detail why CSS-in-JS doesn't have the best performance https://dev.to/srmagura/why-were-breaking-up-wiht-css-in-js-4g9b. One of the core features I'm using with MUI is the `sx` / Emotion / CSS-in-JS feature.

This is a proposal to provide a new style engine inspired by the zero-runtime CSS

[2022-10-19 11:58] #33260 closed

[2022-10-19 12:01] AdamZajler opened #34827 "Cant create variant for SVG icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Use WebStorm & try to create custom `color` variant for SvgIcon like `default` and it is `#434A54`

[code]

### Current behavior 😯

Cant add color named `default` to MuiSvgIcon; & I have no tips in component or anything else (only default colors are avila

[2022-10-19 12:06] altechzilla commented on #34826
Some ideas:
- https://vanilla-extract.style/
- https://linaria.dev/
- https://compiledcssinjs.com/

Any way to get something like this in MUI natively?

[2022-10-19 12:19] michaldudak commented on #34818
Where does this reference come from? It seems we've got it correct - "comfy" means larger panels, whereas "compact" is being able to fit more items on the screen.

This matches https://fonts.google.com/icons?icon.query=view+comfy&icon.style=Outlined and https://fonts.google.com/icons?icon.query=view+compact&icon.style=Outlined

[2022-10-19 12:19] #34818 closed

[2022-10-19 12:36] michaldudak commented on #34817
Our icon set is based on official Material Design icons from Google. Please create or upvote an issue on https://github.com/google/material-design-icons if you'd like to have additional icons.

[2022-10-19 12:36] #34817 closed

[2022-10-19 12:44] #31414 closed

[2022-10-19 13:06] alfe commented on #34818
The URL is here: https://materialui.co/icon/view-compact

It has been swapped between v4 and v5, but there is no problem if it is as intended.

[2022-10-19 13:23] VadymTsupko commented on #26380
issue is still present (reproduced with v5.8.5, v5.9.3, v5.10.10)
https://codesandbox.io/s/mui-rating-component-issue-w0j5ln

Prolem exists when use:
- parent width+flex+justifyContent
- parent flex+gap
- star li element margin

The idea to have independent(without click, cursor pointer) gap between stars

any ideas?

[2022-10-19 14:27] ryota-murakami commented on #21111
@ShaunLloyd Thank you for reacting to my comment!
Frankly, I don't think it is possible to generate control UI other than scaler values with the current docgen-typescript.
Therefore , it will be necessary to manually write Controls Addon settings.
this will need a lot of community contribution and time...

I'm working as a backend engineer now so I don't use MUI and Storybook heavily.
I hope Story

[2022-10-19 14:39] shahyar opened #34828 "Some CSS Variables are incorrectly using `rgba(var(x) / n)` instead of a comma"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Use CSS Variables.
2. Add a `.MuiOutlinedInput-notchedOutline` to the page.
3. It uses `rgba(var(--mui-palette-common-onBackgroundChannel) / 0.23)`, which the browser cannot render as a color.

### Current behavior 😯

Some components output `rg

[2022-10-19 14:54] michaldudak commented on #34818
materialui.co is not the Google's official Material Design Icons site.
It would be the best to create a ticket in their bugtracker.

[2022-10-19 17:20] ShafiaShahid opened #34830 "Replacing components={{ Arrow: SomeIcon }} in MUI Tooltip, disturbs the entire tooltip and takes it to the edge of the page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

[code]

### Current behavior 😯

Currently it take the tooltip away from the triggering component to the edge of the page

### Expected behavior 🤔

Replace arrow with the given i con

### Context 🔦

MUI tooltip customisation

### Your environment 🌎

[code]

[2022-10-19 17:25] jesrodri commented on #34813
I have tested in both Chrome and Firefox and it worked properly

[2022-10-19 17:35] andrehil opened #34831 "Add `shouldForwardProp` to theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'm using a custom property to create custom variants for OutlinedInput.
The problem is that I need to pass the property to the component for the theme to have it, but the property ends up being rendered to the DOM.

### Examples 🌈

Component usage:
[code]

Theme:
[

[2022-10-19 17:48] ZeeshanTamboli commented on #33423
@FionaDL I am not working on this. Please go ahead!

[2022-10-19 18:25] kylealwyn commented on #12913
@noobDev31 you can make a custom textfield using the `InputLabel`, `InputBase` and `FormHelperText` primitives

[2022-10-19 20:54] kardahim commented on #8710
October 2022. Problem still exist. A temporary solution may be:
[code]

[2022-10-19 20:59] oliviertassinari commented on #34826
It would be awesome if it was possible to move to a static extraction option. The biggest challenges would likely be:

1. How to deliver the same great DX?
2. How to make the amount of breaking changes acceptable?

I think that exploring https://github.com/cristianbote/goober could also be great, it could already yield a great improvement. We could also rewrite the system, it's slower than it need

[2022-10-19 23:33] HexM7 opened #34832 "Better way to manipulate classnames with webpack"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently the classnames generated impact the bundle size by a significance margin.

This
[code]

Can be turned in md5 hashes at build time
[code]

The underlying `unstable_ClassNameGenerator` works, but it does not support node packages such as crypto as it runs on

[2022-10-19 23:41] oliviertassinari commented on #34760
@yay In the issue history you should be able to find an issue that covers how this can be done with the existing API.

[2022-10-20 03:31] adhilroshan commented on #34819
I will do it please assign me to it.

[2022-10-20 06:28] uldz opened #34833 "[RFC] Uncaught TypeError: Cannot read properties of null (reading `${themeProperty}`)"
### What's the problem? 🤔

Hello everyone!

I have a problem with using my custom components based on MUI library after bundling it with webpack. They are missing properties of their theme. And it causes errors like that:

`Uncaught TypeError: Cannot read properties of null (reading 'palette')`

Previously issue was with `breakpoints` but I changed them to inline media usages in `useMediaQuery`

A

[2022-10-20 06:34] pavanappdeveloper commented on #31190
I got the same error when using the "useId" hook in React Native.

I have tried to solve the issue. I only change versions of React and React native both as below. After that, the error was gone!

 "react": "18.2.0",
 "react-native": " 0.70"

[2022-10-20 07:07] applelogintest commented on #34824
It was not related to the MUI.

I don't know the exact reason,
It worked by using the setTimeout method and using scrollTo.

Does anyone know the exact reason?

https://codesandbox.io/s/lively-snow-wvr16m?file=/demo.tsx

[2022-10-20 08:05] #33230 closed

[2022-10-20 08:43] #34828 closed

[2022-10-20 08:47] shahyar commented on #34828
I am indeed an idiot. I noticed this yesterday and forgot to close this ticket after I marked my PR as a draft. 100% PEBKAC situation, as I was using the wrong value for the actual var. Thanks, @siriwatknp!

[2022-10-20 08:47] #34833 closed

[2022-10-20 08:48] uldz commented on #34833
Did mistake by importing useTheme from `@mui/styles` and not `@mui/material/styles`, sorry

[2022-10-20 08:50] siriwatknp commented on #34791
Thanks for the request. I'd love to have it too 🤩.

[2022-10-20 08:52] siriwatknp commented on #34819
Thanks!

[2022-10-20 08:54] siriwatknp commented on #34815
cc @danilo-leal 😀

[2022-10-20 08:55] #34815 closed

[2022-10-20 09:38] soumyaa1804 opened #34834 "MUI Menu giving errror"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Used the Mui Menu component and on click of one of the menu item it is giving this error

### Current behavior 😯

On click of any of the menu item, in the console it is giving this error:
[code]

### Expected behavior 🤔

No error should come an

[2022-10-20 10:14] lvergergsk opened #34835 "Textfield component input cursor wrong position if text is very long."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to https://mui.com/material-ui/react-text-field/
2. Insert more than 10000 characters to any input, better 20000 to make error easy to realize.
3. Make sure your cursor is at end of string.
4. The cursor position does not align with the actu

[2022-10-20 10:42] michaldudak commented on #34510
As discussed in the meeting, we can generalize this RFC to consider browser support in general. Also, we can decide if/when to remove the browser-specific hacks and workarounds in code.

Here's the list of such workarounds I've found so far (I'll keep it updated as I stumble upon anything else):
- touch action support detection in useSlider: https://github.com/mui/material-ui/blob/a7a2901744bb2c9b

[2022-10-20 10:57] Ashish-21 commented on #6625
You got any work around this?
If yes can you please help

[2022-10-20 11:06] soumyaa1804 commented on #34834
It's duplicate of https://github.com/mui/material-ui/issues/10341. Thus closing

[2022-10-20 11:06] #34834 closed

[2022-10-20 11:07] jussirantala commented on #34813
I can reproduce it with Chrome. @jesrodri @PunitSoniME Did you click `IconButton` before the link?

[2022-10-20 11:10] michaldudak commented on #34570
Good idea!

Sure, we can do it. I wanted to keep the rendered DOM cleaner in case there's no need for an input, but on the other hand, this behavior could be surprising for developers. I don't really have a strong opinion on this one, so if you think having the input all the time is better, I'm happy to implement it.

[2022-10-20 11:12] juliomiguel commented on #31835
For those who are having the problem with Vite, I solved it the same way **(upgrading the imports to a higher level)**. If the problem continues, just delete the **"node_modules"** folder and then **reinstall all dependencies**.

[2022-10-20 11:29] AnthonyDugarte commented on #10717
Having this same issue:
![image](https://user-images.githubusercontent.com/34623660/196936178-27e38a78-6584-40fb-afda-1dfda5819ec5.png)

Added a `console.log` on https://github.com/mui/material-ui/blob/master/packages/mui-material/src/InputBase/InputBase.js#L360

![image](https://user-images.githubusercontent.com/34623660/196936216-0ec5cd0a-0e31-4fc8-80a2-7cc4dbaa9fa9.png)

the use case is a form

[2022-10-20 11:46] siriwatknp commented on #34828
You are a savior not an idiot! this means that our documentation is not good enough.

[2022-10-20 12:57] 26Saksham commented on #34819
I'm already work on ,could you assign me to it.

[2022-10-20 12:58] 26Saksham commented on #34824
I'm working on material UI
could you assign to me

[2022-10-20 15:01] nuanyang233 commented on #34513
Well, I guess I don't know how to provide an example, it's really simple, I just want to use `<html>` node as a container, like the pull request submitted by Jack works that adds a `scrollContainer` prop to support custom container.

[2022-10-20 15:13] luizhmileck commented on #5391
This totally worked for me thx man, easiest fix, long time to find it.

[2022-10-20 17:25] boxi79 commented on #34770
Do not do `package.json` dependencies resolutions step, or it will cause your content of `./node_modules/@mui/styled-engine` to be `styled-engine-sc` package.

**package.json**
[code]
Just do `webpack.config.js` and `tsconfig.json` part.

[2022-10-20 17:26] boxi79 commented on #30599
Do not do `package.json` dependencies resolutions step, or it will cause your content of `./node_modules/@mui/styled-engine` to be `styled-engine-sc` package.

**package.json**
[code]
Just do `webpack.config.js` and `tsconfig.json` part.

[2022-10-20 18:17] #34747 closed

[2022-10-20 18:46] Alex23rodriguez commented on #32059
I'm getting this issue on 5.10.9... is there anything you did differently?

[2022-10-20 20:07] AlexeiDarmin opened #34837 "Autocomplete prevent reset search value on option select via uncontrolled component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'd like to be able to control whether the input is cleared when you select an option. Currently, the only way to accomplish this is as a controlled component as stated in https://github.com/mui/material-ui/issues/21380#issuecomment-641940993.

Ideally, either a pro

[2022-10-20 21:01] oliviertassinari commented on #34837
@AlexeiDarmin As far as I know the controlled partner is meant to solve this problem, I would encourage creating a wrapper to customize the behavior. The design objective of the theme wasn't to support heavy customizations. I doubt that it's worth the complexity to support this compared to the freedom that wrapper components provide for developers.

As a side note, MUI (also used in MUI X) has the

[2022-10-20 21:04] oliviertassinari commented on #34819
It looks like the regression comes from #34454. I believe this PR also broke https://mui.com/joy-ui/getting-started/templates/

[2022-10-20 21:29] oliviertassinari commented on #34149
Duplicate of #34085

[2022-10-20 21:29] #34149 closed

[2022-10-20 22:30] drac94 commented on #34740
Not sure if this happens with all the components but as soon as I wrap them with a fragment they stop working correctly, check this example when using the grid

[code]
The above render the buttons directly on the grid instead of in the menu

![image](https://user-images.githubusercontent.com/1719915/197070688-77c79f45-4443-438a-9132-acfc2362f373.png)

If I remove the fragments it works correctly

[2022-10-21 03:30] Holybasil commented on #18493
For now, **appears under** is the default behavior in @mui/material/Select, how to set **appears over**?

[2022-10-21 04:34] danilo-leal commented on #34815
Thanks for reporting this one out, @objectiveSee. I have [a year-old draft PR](https://github.com/mui/material-ui/pull/30392), at this point, that I could maybe pick up again. It was meant to facilitate access to the customized version of the components we use on the marketing website. Let us know if that would be relevant to you!

[2022-10-21 06:34] siriwatknp commented on #34763
Please provide a reproduction repository, otherwise, I can't see how we can help. Thanks.

[2022-10-21 06:36] siriwatknp commented on #34767
@CodingDive Would it work for you to use `sx` prop? I will be like this:

[code]

[2022-10-21 06:41] siriwatknp commented on #34768
I think we missed documentation on this. Also, I am not sure if we allow developers to extend their custom components from the default theme.

[2022-10-21 07:00] siriwatknp commented on #34827
Can you provide a CodeSandbox that reproduce the error?

[2022-10-21 07:20] Holybasil opened #34840 "Select: `appears over` is also needed"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Just like the default behavior in v4

### Examples 🌈

now: https://mui.com/material-ui/react-select/
prefer: https://v4.mui.com/components/selects/

### Motivation 🔦

I quite agree with the following statement.
https://github.com/mui/material-ui/issues/18493#issueco

[2022-10-21 07:24] siriwatknp commented on #34835
I can reproduce but I wonder if this case would not be practical in a real-world scenario. I tried with a native HTML input and got similar behavior as well.

https://user-images.githubusercontent.com/18292247/197136721-0e9a561e-d2ca-48ec-bda6-fad048314f8f.mov

[2022-10-21 07:27] siriwatknp commented on #34835
I marked this as "out of scope" but feel free to comment if anyone has a better idea.

[2022-10-21 07:35] siriwatknp commented on #34840
For Material UI, @oliviertassinari I could not find the PR that changes the behavior. If you find it, please attach a link to the PR and I will take a look if we could make it an option.

cc @michaldudak to consider this for MUI Base.

[2022-10-21 07:45] tombburnell commented on #32059
I'm still seeing it on my dev server. Once deployed it's ok. However, I notice that using component="label" fixes it on dev too - I'm not actually sure what component="label" is for but it seems to help it display ok on dev.

[2022-10-21 07:47] kishore-s-15 commented on #31835
Resolved it by changing `import Box from "@mui/material/Box"` to `import {Box} from "@mui/material"`. By changing the imports, prettier has pushed the `Box` import below the `CSSBaseline` import. Can anyone explain why this error occurs?

[2022-10-21 09:30] MonstraG opened #34842 "[Docs] Swipeable edge example broken"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

1. Open https://mui.com/material-ui/react-drawer/#swipeable-edge
2. Click open
3. Click where page scrollbar used to be

### Current behavior 😯

![1](https://user-images.githubusercontent.com/17963791/197163565-1b6a0aa6-46e4-4bed-ac22-f876e5a60baa.gif)

#

[2022-10-21 11:15] emlai commented on #33054
@TCsTheMechanic Workaround for IconButton is to pass the `color` prop to the icon component instead: https://github.com/mui/material-ui/issues/33054#issuecomment-1148613095

[2022-10-21 11:39] capJavert opened #34845 "extendTheme utility included into final bundle, potential bundle size optimization"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Just installing the latest `@mui/joy` into the project. Analysing  bundle size i noticed that extendTheme utility (~12kb size) is included into the production bundle. I am using default next.js with official `create-next-app`.

I was wondering if this is

[2022-10-21 12:36] TCsTheMechanic commented on #33054
@emlai that also doesn't work

![Screenshot from 2022-10-21 09-35-40](https://user-images.githubusercontent.com/22171153/197197137-e2cbcbb5-d901-4b8a-a78d-de5175d15a11.png)

[2022-10-21 12:53] siriwatknp commented on #34845
It is the expected behavior that `extendTheme` is included in the final bundle size because it is used to create [the default theme](https://github.com/siriwatknp/material-ui/blob/joy/autocomplete/packages/mui-joy/src/styles/CssVarsProvider.tsx#L13).

Can you provide the repository that you use for the analysis so that I can investigate further if "~12kb is 15%" makes sense?

[2022-10-21 12:53] siriwatknp commented on #34845
It is the expected behavior that `extendTheme` is included in the final bundle size because it is used to create [the default theme](https://github.com/siriwatknp/material-ui/blob/joy/autocomplete/packages/mui-joy/src/styles/CssVarsProvider.tsx#L13).

Can you provide the repository that you use for the analysis so that I can investigate further if "~12kb is 15%" makes sense?

[2022-10-21 13:25] emlai commented on #33054
@TCsTheMechanic Did you augment the typings:

[code]

[2022-10-21 13:34] AlexeiDarmin-SA commented on #34837
Got it, thanks @oliviertassinari - feel free to close this issue then.

[2022-10-21 14:05] AlexeiDarmin commented on #34837
Got it, thanks @oliviertassinari I'll close the issue then.

[2022-10-21 14:05] #34837 closed

[2022-10-21 14:30] Alex23rodriguez commented on #32059
I was able to trace the issue, in my case, to trying to use Tailwind and MUI simultaneously. Even though MUI has a guide on how to use them together, I wasn’t able to get it to work properly and ended up dropping Tailwind all together.

[2022-10-21 14:33] tombburnell commented on #32059
Ah interesting, I'm also using Tailwind. Far too far along that road to remove it though!

[2022-10-21 14:57] TCsTheMechanic commented on #33054
@emlai still nothing, I'm using `@mui/icons-material`, I don't know if it follows the same module

[2022-10-21 15:10] mtshv commented on #29703
I think I might have the same issue. <img width="1680" alt="image" src="https://user-images.githubusercontent.com/11422166/197228484-ab54eda9-2e6f-4777-9d15-b5fec4339496.png">
When I use MUI `<Divider />` Button styles add 8px margins to it and I do not want them. Do you guys know, how to turn it off on a theme level?

Repro: https://codesandbox.io/s/interesting-gould-t94mgi?file=/demo.tsx

[2022-10-21 15:11] mtshv commented on #27149
Have a similar problem: https://github.com/mui/material-ui/issues/29703#issuecomment-1287097837

[2022-10-21 15:19] objectiveSee commented on #34815
Thanks everyone! I am really loving MUI and it's great to see how fast these issues are being responded to. 🥳

@SazedWorldbringer amazing username ;) He's also one of my favorite characters. 🕴️

[2022-10-22 06:56] sinamoradi1375 commented on #21142
I'm also getting different values on the first and the second render.

[2022-10-22 07:07] PunitSoniME opened #34847 "[Docs] Responsive Drawer is breaking in Mobile Screen"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Open https://mui.com/material-ui/react-drawer/#responsive-drawer ( Open from mobile or small screen devices, in laptop/desktop **Menu** icon won't be visible )
2. Click Here
![image](https://user-images.githubusercontent.com/11643426/197325028-

[2022-10-22 07:25] kianjun0929 commented on #14920
If you find the code provided by MUI, you should find something called MuiInputBase-formControl that actually overwritten the opacity and having a strong implementation.
![image](https://user-images.githubusercontent.com/41623077/197326342-724585fc-954d-471f-bf50-815a2f67b2cf.png)
Try to make the data-shrink value to true to the textfield component, then should be fixed.

[2022-10-22 11:22] sanmoh-hombal commented on #34847
I’d like to take this up to work on. Pls assign to me

[2022-10-22 11:24] samislam commented on #32749
For some reason I am getting
[code]

[2022-10-22 11:43] samislam commented on #32749
I have tried everything, approximately 46 hours trying to figure out a workaround for this error. But no-way. It's obviously a bug. And it has to be fixed.
And for the people who were able to find some workarounds for their projects. Congratulations. But for me, I'll have to wait for the next update until one of the maintainers commit a patch release for this particular bug, which is the only one

[2022-10-22 13:47] alexfauquette commented on #30481
I faced the issue today. Effectively after cleaning data it works fine.

It was not in the localhost because I cleaned it first, and the bug was still there.

The console was reporting a JSON parsing issue

[2022-10-22 19:21] oliviertassinari commented on #15588
@siriwatknp We could close, unless we consider it done once all the pages of https://mui.com/ no longer flash like the homepage https://twitter.com/MUI_hq/status/1582390058099015685

[2022-10-22 22:37] mohph197 commented on #34719
Can I solve this issue? if it's still open of course

[2022-10-22 23:53] doflo-dfa commented on #32286
This is a very hacky solution but ... it does solve the issues caused by this on modern browsers which should solve for 90% of the users of applications

div:has(div[style*="opacity: 0"]) {
  pointer-events: none;
}

[2022-10-23 00:45] pingfengafei commented on #9243
The root cause is `ReactDOM.createPortal`, which many `Modal` components relay on.

[code]

[2022-10-23 02:32] jerichoi224 opened #34863 "LabelImportantOutlined has the wrong icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. use the "LabelImportantOutlined" icon
2. Same icon as "LabelImportant" shows up.

<img width="642" alt="Screen Shot 2022-10-23 at 11 30 06 AM" src="https://user-images.githubusercontent.com/4184001/197370251-c2c775a3-3bfc-487d-a492-7245b39a1488

[2022-10-23 06:56] sidtohan commented on #34336
Can I work on this issue, if it is still open and not being worked upon?

[2022-10-23 09:03] Daksh-964 commented on #34863
Please assign this issue to me.

[2022-10-23 09:06] CoNETProject commented on #32749
Same as me.

[2022-10-23 09:23] achitsaz-ir commented on #14085
A quick fix to escape unnecessary libraries;)

In your case (because your html document hasn't RTL direction) :

You need the **`.MuiStepConnector-alternativeLabel`** class, which is as follows (don't touch it for LTR):
[code]

Change to the following (for RTL):
[code]

You can use the following code for this(`"@mui/material": "^5.10.0"`):
[code]

[2022-10-23 12:59] thovden opened #34864 "[ Backdrop ] Excessive CPU usage"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Include <Backdrop> on a page. It can be open or closed, does not matter.

### Current behavior 😯

The browser will now render composite layers on **every** animation frame, causing excessive CPU usage (>20%) on an inactive page.

The fix is sim

[2022-10-23 13:06] thovden commented on #34864
Here's a performance trace showing the default behavior, where on every animation frame the browser computes composite layers (the green lines):

<img width="864" alt="Cursor_and_DevTools_-_localhost_8000_app_folders_e7tfnndf7fbop9ld6vqfy38ly_and_Tunasong" src="https://user-images.githubusercontent.com/1264256/197393837-09f9495d-001b-44ac-93c1-342b38173542.png">

Here'a a trace after setting `disp

[2022-10-23 13:23] cherniavskii opened #34865 "[docs] Inconsistent theme colors when applying custom colors in playground"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to https://mui.com/material-ui/customization/color/#playground
2. Change Primary color
3. Press "Set docs colors" button

### Current behavior 😯

The docs colors are inconsistent - some elements are using colors from default theme

<img widt

[2022-10-23 13:36] jerichoi224 commented on #34863
@Daksh-964  First time creating a issue in a public repo like this. Am I able to assign this? or does a moderator have to do this?

[2022-10-23 14:43] oliviertassinari commented on #34819
Fixed with https://github.com/mui/material-ui/pull/34454#issuecomment-1288127728

[2022-10-23 14:43] #34819 closed

[2022-10-23 15:36] vguleria1108 commented on #34863
@siriwatknp  I have created this [PR(#34868 )](https://github.com/mui/material-ui/pull/34868) to fix the above issue
<img width="729" alt="Screenshot 2022-10-23 at 9 04 58 PM" src="https://user-images.githubusercontent.com/42806028/197401371-fe4a4b48-0ced-433a-b3d4-4d3a82e7b590.png">

[2022-10-23 20:09] cjauvin commented on #21250
I'm new to MUI (currently using version 5.6) and I'd like to add my humble perspective on this issue, as a newcomer. The current behavior of the MUI Lab TabPanel, as far as I understand it, rather contradicts my a priori mental model of how a set of UI tabs should work: it took me a while just to realize that the reason my internal state was always reset was because the panel unmounts when going i

[2022-10-23 23:23] jeferson-sb commented on #34498
Seems to happen whenever `Tab.js` `label` has a clickable component, so the event bubbles up and triggers the onChange event again.

https://github.com/mui/material-ui/blob/7b2d03742ab5e1c98c5b6ff2f32093123dbe4358/packages/mui-material/src/Tab/Tab.js#L167-L175

[2022-10-24 05:23] yoolbi opened #34871 "[Autocomplete] "MUI: The value provided to Autocomplete is invalid" for multiple files."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

Hello, we are using autocomplete for multiple options and more text fields. The below code sandbox link is a sample of our code.
https://codesandbox.io/s/autocomplete-0kdlmp

When we select some options from the a

[2022-10-24 08:50] LvChengbin opened #34872 "The `Dialog` component triggers ChangeEvent while value of an arbitrary input element inside it been changed."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

[code]

### Current behavior 😯

`handleChange` is called while typing in the input.

### Expected behavior 🤔

Do not delegate the change event from form items.

### Context 🔦

_No response_

### Your environment 🌎

_No response_

[2022-10-24 08:55] siriwatknp commented on #15588
Yep, sounds good. We can get some help from the community to migrate the rest of the pages.

[2022-10-24 08:56] #15588 closed

[2022-10-24 09:21] capJavert commented on #34845
Sure, you can see it here: https://github.com/capJavert/jawa/tree/mui-material-ui-34845

Regarding your usage of `extendTheme`, would it not be more efficient to create default theme once and export it as object to be used in other places. This would then allow for extendTheme to be tree shakeable.

I also think you are maybe pointing to the wrong extendTheme because one above practically does not

[2022-10-24 11:58] fishuke commented on #34068
I have the same problem with the latest version (npm).

I created a component for a workaround if anyone wants to use it:

[code]

[2022-10-24 14:13] irradev opened #34874 "I can not install Material Icons from package - 502 Bad Gateway"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

_No response_

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Context 🔦

error An unexpected error occurred: "https://registry.yarnpkg.com/@mui/icons-material/-/icons-material-5.10.9.tgz: Request failed \"502 Bad Gatewa

[2022-10-24 14:16] WalterWeidner commented on #32142
@michaldudak , I was hoping to get some clarification on this. From your comment it sounds like there's no guarantee it will work with React 18 but that's different than saying it won't in fact work with React 18 (at all). Which one is actually the case (it seems to work in [this very isolated example](https://codesandbox.io/s/xenodochial-voice-4be4e7?file=/demo.tsx))?

Do you have any context as

[2022-10-24 16:37] edenworky commented on #4532
This started happening again specifically in Firefox, Opera is fine. In particular, Firefox prints the following warning to the console on the first click:
`Element.setCapture() is deprecated. Use Element.setPointerCapture() instead. For more help https://developer.mozilla.org/docs/Web/API/Element/setPointerCapture touch-simulator.js:219:19`

Interestingly, when using the Firefox Devtools' Respons

[2022-10-24 18:31] garronej commented on #34575
Hello @mnajdova @oliviertassinari,
I think this is worth reviewing, MUI is getting a bad press for not being easy enough to use in SSR setups:

<img width="1303" alt="image" src="https://user-images.githubusercontent.com/6702424/197597244-1c6f2eaf-c88a-49fc-970e-3ed6ec29c8e5.png">

[relevent timestamp](https://youtu.be/7m14f0ZzMyY?t=4268)

Best regards,

[2022-10-24 19:06] oliviertassinari commented on #34575
@garronej It used to be tricky to get right with Material UI v4 and the JSS counter based approach to generate class names. I would imagine it's what Theo refers to.

Now, I agree that it could be great to abstract this logic. If we do, I think that we should look into how we can make it support different Next.js's versions if they make breaking changes. For example, they have a new experimental l

[2022-10-24 19:58] oliviertassinari commented on #32142
@WalterWeidner The main issue I'm aware of is related to the change that React introduced in v18. Components can now render twice or start rendering but never mounts. I mean that CSS can be added twice on the page and not be clean-up because of the wrong React primitives `@mui/styles` rely on. This is problematic when adding global styles with `@global` because you can't unmount the component to r

[2022-10-24 20:39] garronej commented on #34575
Fair enought, I wasn't aware of the legacy.

👍

[2022-10-25 04:16] mdfauzan97 commented on #29675
Hi, i'm not sure if this is relatable or not but i'm having the same issues while running my project locally (react/typescript)

Failed to compile.

/node_modules/@mui/system/esm/createStyled.js
Attempted import error: 'internal_processStyles' is not exported from '@mui/styled-engine' (imported as 'processStyles').

currently using the latest version of mui/styled-engine
dependencies: {
    "@mui/

[2022-10-25 05:18] sera-1994 commented on #32749
Same as me

[2022-10-25 07:50] mnajdova commented on #34832
@HexM7 are you referring to the class name that contain the actual styles, or the utility classes we generate that can be used as a class selectors?

[2022-10-25 07:53] mnajdova commented on #34770
@ArealRJ please share a project repository that we can look into.

[2022-10-25 07:57] HexM7 commented on #34832
I'm talking about the utility classes, which could be truncated to smaller hashes.

[2022-10-25 07:58] mnajdova commented on #34799
Please share a codesandbox with a reproduction. The `SwipeableDrawer` has the `onOpen` prop

[2022-10-25 08:01] mnajdova commented on #34767
@CodingDive are you using the default emotion styled-engine or the one using `styled-components`. If you are using the default one with styled-components for adding custom overrides you need to make sure to configure styled-components to inject the styles after the ones that are added by emotion.

[2022-10-25 08:08] mnajdova commented on #19866
Coming back after some time, I'd be happy to review the new demo if someone wants to add it. I honestly don't think it's worth adding this new demo, as it doesn't really look like a common use-case. @sleepless000 did a good progress on his codesandbox, so it could be used as an inspiration.

[2022-10-25 08:12] mnajdova commented on #29730
@reramjiawan, sorry for responding after so long, but do you have an actual use case for using here a color different than white/dark grey, which are the default values.

[2022-10-25 08:15] mnajdova commented on #31818
We support imporst up to third level, for example `@material-ui/core/styles`. We don't guarantee/nor document any structured below that, this is probably why the `colorManipulator` location change was not documented. The color manipulators are exported from both `@mui/system` and `@mui/material/styles`.

[2022-10-25 08:31] siriwatknp opened #34880 "Migrate all website pages to use CSS theme variables"
# We need your help!

Help us migrate the website to start using CSS theme variables!

## Progress

If you are interested to contribute, check out the **How-to** and add your name at the end of the bullet to let us know that you are working on it.

Once you have done the migration, open a PR with the title `[website] Migrate xxx page to use CSS theme variables`

- [x] Home page (`/`) #33545
- [x]

[2022-10-25 08:49] frkgrall opened #34881 "[docs] DataGrid documentation for MUI v4 is no longer available (404)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

https://v4.mui.com/components/data-grid/

Even from the menu, DataGrid doc returns 404

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary><code>npx @mu

[2022-10-25 08:54] todevmilen opened #34882 "Datagrid Pro Localization bgBG - Bulgarian"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Open DataGrid Pro with Bulgarian `bgBG` Localization.
2. Check Footer where should show Total Rows.

### Current behavior 😯

![image](https://user-images.githubusercontent.com/78319110/197728346-ca93c8e3-e31f-4ad6-978b-9b71fa5eafc7.png)

___
Th

[2022-10-25 09:01] oliviertassinari commented on #34880
I guess we could also cover the docs pages

[2022-10-25 09:55] keemor commented on #8438
2022 MUI@5 Update

https://codesandbox.io/s/modal-dialog-button-autofocus-forked-m6nw2s?file=/demo.tsx

[code]

Related to: https://github.com/mui/material-ui/pull/8723

Cheers,

[2022-10-25 10:07] siriwatknp commented on #34880
I think the docs pages should be separated (there are architecture decisions that need to be decided) because they contain nested providers to show the default theme.

[2022-10-25 10:19] siriwatknp commented on #34801
For a workaround, you can do this:
[code]

From the library, I propose this fix in MUI system:
[code]

[2022-10-25 10:27] oliviertassinari commented on #34881
My bad, I broke it. A fix is on its way.

[2022-10-25 10:36] oliviertassinari commented on #34880
@siriwatknp ok 👍. Regarding the theme providers structure, I would be in favor of:

- `_app.js` -> Removing the theme provider, have each page provide a Material UI theme, customized for the brand of MUI.
- `MarkdownDocs.js` -> Remove all theme providers
- `Demo.js` -> Remove all theme providers
- `DemoSandboxed` -> Provide the Material UI raw theme or Joy UI raw theme

[2022-10-25 10:40] oliviertassinari commented on #15588
The new issue in question: #34880.

[2022-10-25 10:45] oliviertassinari commented on #34881
Fixed with https://github.com/mui/mui-x/commit/5895a953970dd16eb6cb26299209308c4d2e5e2a, it's now live and working https://v4.mui.com/components/data-grid/.

[2022-10-25 10:45] #34881 closed

[2022-10-25 10:53] siriwatknp opened #34883 "Component customization and extension related issues"
# This is a work in progress...

## Extending theme variants

###

- https://github.com/mui/material-ui/issues/34831: to apply styles based on the custom prop which spread to DOM.
- https://github.com/mui/material-ui/issues/34812: able to set the default props based on the theme.

[2022-10-25 10:56] mnajdova commented on #34285
I would wait to see if this will get some traction. I have hard time imagining that all components should have the same new variants, so we may be sending a wrong message by allowing this new type.

[2022-10-25 10:58] mnajdova commented on #33039
@acnologia please share a codesandbox showing the problem, otherwise it is not clear what's working or not. Also, would be great to see if the issue may be fixed in the latest version.

[2022-10-25 12:04] isakamundsson opened #34885 "Add variant prop to Table component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Add the `variant` prop to Table component to make it extendable to add own variants to the component (such as done with `Button` component e.g.).

### Examples 🌈

Example as for `Button`
https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Button

[2022-10-25 12:56] EduardoSCosta commented on #34880
Hi, I'd like to help. Can I be assigned to the product-templates page? :smiley:

[2022-10-25 13:16] cybersafe-dev commented on #19450
This worked for me, thank you.

[2022-10-25 13:17] kgssystem opened #34886 "Conditional styles don't work in dynamically imported component within StrictMode"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

This is somewhat a follow up to #33343, but with a code example and more precise scenario.

For bug to occur, component needs to be lazily imported (via `React.lazy`), in `React.StrictMode`, use `makeStyles/useStyles`, run on React 18, and have conditiona

[2022-10-25 13:59] siriwatknp commented on #34715
I'd recommend that if you don't need to serve your theme as static files, always go with `styleOverrides`. It is more flexible and robust because you have full control of the conditional expression on what gets into styles and what's not.

[2022-10-25 14:09] tomsseisums commented on #32967
Any progress here?

[2022-10-25 14:13] tomsseisums commented on #34883
Does it make sense to include https://github.com/mui/material-ui/issues/32967 as well under this umbrella?

[2022-10-25 14:17] siriwatknp commented on #34883
Thanks, it should be included!

[2022-10-25 14:37] siriwatknp commented on #34503
That could be an improvement in the logic as well. The `responsiveFontSize` should traverse all the typography that contain style unless the `variants` option is provided.

[2022-10-25 14:46] siriwatknp commented on #34336
@sidtohan Feel free to submit a PR!

[2022-10-25 15:33] siriwatknp commented on #34282
Fixed in https://github.com/styled-components/styled-components/releases/tag/v6.0.0-beta.3

[2022-10-25 15:33] #34282 closed

[2022-10-25 15:51] jesrodri commented on #34760
can I try this one?

[2022-10-25 15:51] jesrodri commented on #34646
@akshaya-venkatesh8 are you working on this?
If not, can I try it?

[2022-10-25 16:10] sidtohan commented on #34336
The current behavior is follows:
1. Clicking on the github icon when on mui-core leads to the mui-core repository.
2. Clicking on the github icon wheo on mui-x leads to the mui-x repository.
Isn't this the desired behavior already, or am I missing something.
@siriwatknp

[2022-10-25 16:21] jesrodri commented on #34880
Hey, I would also like to help! Can you assign me a page?

[2022-10-25 16:32] A1berto commented on #25851
Hi, I have the same problem.
I'm using
"@mui/icons-material": "^5.6.2",
"@mui/lab": "^5.0.0-alpha.81",
"@mui/material": "^5.7.0",
"@mui/styles": "^5.7.0"
In console there is the warning : _**React does not recognize the `InputProps` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `inputprops` instead. If you accidentally passed

[2022-10-25 17:02] MorganEPatch opened #34887 "NativeSelect label overlaps text if value is empty string"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a <FormControl> containing an <InputLabel> and a <NativeSelect>.
2. Use the `id`, `label`, and `htmlFor` attributes to associate the <InputLabel> to the <NativeSelect>.
3. Provide the <NativeSelect> an initial value of `''` (an empty str

[2022-10-25 18:30] TruePadawan commented on #31031
Ahh, the issue hasn't been addressed

[2022-10-25 19:24] Rc85 opened #34888 "[Autocomplete] renderTags does not render anything if used with InputAdornment"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create `Autocomplete` with `startAdornment` and `InputAdornment` in the `renderInput` `TextField` component
2. Add `renderTags` prop to render a `Chip` component
3. Select an option in `Autocomplete`
4. No `Chip` component rendered, but option

[2022-10-26 00:03] rajithaw commented on #34827
As you can see from this code sandbox custom color variants work on other components but not on Icon component.

https://stackblitz.com/edit/react-zws3or?file=demo.tsx

[2022-10-26 00:46] jelyware opened #34891 "After upgrade from Angular 10 to 14, focus is broken when opening a dialog from a mat-menu-item"
### Problem
Clicking on an item which opens a dialog from a mat-menu will automatically close the menu.  The problem then occurs on menu close.  On menu close, the focus returns to the menu when it should remain on the dialog.

### Version
@angular/material@14.2.5

[2022-10-26 01:36] siriwatknp commented on #34880
@EduardoSCosta Thanks!
@jesrodri Assigned you for [Design kits](https://mui.com/design-kits/) page.

Feel free to submit a PR and tag me @siriwatknp for review.

[2022-10-26 02:57] #34871 closed

[2022-10-26 03:12] siriwatknp commented on #33799
I don't think we can do anything with the autocomplete because of how we use the `component` prop with `OverridableComponent`.

[2022-10-26 03:12] #33799 closed

[2022-10-26 03:16] siriwatknp commented on #33794
Based on https://github.com/mui/material-ui/pull/33879#issuecomment-1214641312, I marked this as "out of scope".

[2022-10-26 03:16] #33794 closed

[2022-10-26 03:47] siriwatknp commented on #33070
@danilo-leal Should we close this issue?

[2022-10-26 04:01] siriwatknp commented on #33020
You should use display `inline-flex` in combination with `none` for the breakpoints that you don't want to show the icon button:

[code]

From the snippet above, the icon button disappears in the mobile viewport and laptop viewport. Read more details about the [default breakpoints](https://mui.com/material-ui/customization/breakpoints/#main-content).

[2022-10-26 04:01] #33020 closed

[2022-10-26 04:07] siriwatknp commented on #32906
I think the docs should mention that the custom `variantMapping` will replace the `defaultVariantMapping`, so developers have to provide all of the default mapping + custom mapping.

[2022-10-26 04:16] #32572 closed

[2022-10-26 04:22] siriwatknp commented on #32281
The `TabPanel` comes from `@mui/lab`. To get the typings work, you have to follow https://mui.com/material-ui/about-the-lab/#typescript.

[2022-10-26 04:22] #32281 closed

[2022-10-26 04:38] #32173 closed

[2022-10-26 04:45] saad12035 commented on #34826
@altechzilla  I would recommend that instead of using sx with the components create a separate file and use makestyles for HTML semantics and styled for MUI components.
In this way you can reuse a styled component in anywhere in your project instead of redefining it and it also helps in a way that
with every reload of the page your inline styling will not be rendered and you can always apply lazy

[2022-10-26 04:47] siriwatknp commented on #31561
The default style engine for `@mui/material` is emotion. Please try the [docs](https://mui.com/material-ui/guides/right-to-left/#steps) again (the last time I tried, it worked as expected).

Feel free to reopen the issue with a reproduction if you still encounter the issue.

[2022-10-26 04:47] #31561 closed

[2022-10-26 04:54] #31107 closed

[2022-10-26 05:01] siriwatknp commented on #31079
Thanks, @chwallen for your answer. I think we can close this issue.

[2022-10-26 05:01] #31079 closed

[2022-10-26 05:43] siriwatknp commented on #31078
This is still true if you look at the order of the style injection. What you experienced is how CSS works (related to CSS specificity).

There are several ways that you can do to get exactly `10rem`:
- create another typography variant, this may be the best fit for your use case:
[code]
- plain old `10rem !important`, even though everyone says that this is bad practice but if you want it to be exa

[2022-10-26 05:43] #31078 closed

[2022-10-26 06:14] danilo-leal commented on #33070
I think so, yeah! For the sake of this issue, it's good to go⎯the palette has been updated more times ever since my last comment and it'll probably use some minor tweaks until Joy UI's stable release.

[2022-10-26 06:14] #33070 closed

[2022-10-26 06:26] #29835 closed

[2022-10-26 06:42] #29312 closed

[2022-10-26 06:48] siriwatknp commented on #29021
Use `data-*` attribute if you want to pass it down to the DOM. Emotion (our default style engine) and styled-components filter invalid attributes before sending props to DOM.

[2022-10-26 06:48] #29021 closed

[2022-10-26 06:53] siriwatknp commented on #28911
It looks like [the docs](https://mui.com/material-ui/customization/how-to-customize/) are updated. I'm closing this

[2022-10-26 07:04] siriwatknp commented on #27651
It is live in the documentation as experimental APIs: https://mui.com/material-ui/experimental-api/css-theme-variables/overview/, so I'm closing this RFC!

[2022-10-26 07:04] #27651 closed

[2022-10-26 07:07] siriwatknp commented on #12827
Hey everyone, we have the experimental APIs to generate the theme tokens to CSS variables. Please have a look at https://mui.com/material-ui/experimental-api/css-theme-variables/overview/.

I'm closing this issue!

[2022-10-26 07:07] #12827 closed

[2022-10-26 07:12] siriwatknp commented on #27530
I think this should be included in the docs instead of making it as a feature.

[2022-10-26 07:25] michaldudak commented on #34891
Please open an issue in the [@angular/material](https://github.com/angular/components) repo. This is Material UI - a React library.

[2022-10-26 07:25] #34891 closed

[2022-10-26 07:26] mnajdova commented on #34886
The `@mui/styles` package is not compatible with Strict mode and React 18. It is stated in the docs: https://mui.com/system/styles/basics/ You should use the utils from `@mui/system` and v5 in order to be React 18 compatible.

[2022-10-26 07:31] mnajdova commented on #34696
Please provide a codesandbox with the reproduction. It would help with debugging.

[2022-10-26 07:39] ocavue opened #34893 "[Next.js 13] Hydration failed because the initial UI does not match what was rendered on the server"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Open https://stackblitz.com/github/mui/material-ui/tree/master/examples/nextjs, which will install the latest MUI and Next.js (v13)

### Current behavior 😯

[code]

<img width="567" alt="image" src="https://user-images.githubusercontent.com/24715727/19796

[2022-10-26 08:38] mnajdova commented on #34826
Agree, I remember we discussed this in the past, maybe even trying with a custom styled-engine adapter to be optionally added (and if it proves to be success we can promote this adapter as a default). I could try to create a dirty poc soon about this.

👍 we could actually start investigating this in Q1 2023

Another idea would be to use a utility classes for the `sx` prop, meaning we can keep the

[2022-10-26 08:44] #34865 closed

[2022-10-26 08:45] michaldudak commented on #34797
Duplicate of #32106

[2022-10-26 08:45] #34797 closed

[2022-10-26 08:51] michaldudak commented on #34888
Duplicate of #22103

[2022-10-26 08:51] #34888 closed

[2022-10-26 09:08] #30414 closed

[2022-10-26 09:12] mnajdova commented on #29675
This is likely due to a mismatch between the versions, check https://github.com/mui/material-ui/issues/33878

[2022-10-26 09:20] michaldudak commented on #34816
This is somehow related to #33742. We are going to revise the Select in the future major version when MUI Base is used as the underlying implementation. I'd personally be in favor of removing the `select` prop from the TextField and having a dedicated component for a select in form control.

[2022-10-26 09:21] michaldudak commented on #34887
Could you please provide a reproduction of the problem on CodeSandbox?

[2022-10-26 09:24] #34824 closed

[2022-10-26 09:41] michaldudak commented on #20856
@Vivekkushwaha123 the work has already been done in #32385 but we can't release it before the next major version.

[2022-10-26 10:05] mnajdova commented on #34883
Thanks for creating this umbrella issue @siriwatknp It shows really nicely the different aspects of the problem.

[2022-10-26 10:19] mnajdova commented on #16866
I would propose using `disableRipple` for now, we don't really have a use-case for this yet @VinceCYLiao In the end, it is anyway possible to do it with CSS override, so we are trying to add API for the most common use-cases. Feel free to pick this app and follow what's done in the `Checkbox` component :)

[2022-10-26 10:23] mnajdova commented on #34526
I apologize but I still don't understand why the proposed is better than what we have now. We have two actions possible on parent nodes: expand & select. We kave a different key for each of them, and we are following the guide from ARIA:

It doesn't matter if it is a single or multi select.

[2022-10-26 10:32] mnajdova commented on #34486
My point is, what is "common sense"? We will need to invent it 😁 Is it `[0, 100]`, or `{min: 0, max: 100}`, `{minValue: 0, maxValue}` etc. If you are not using the Slider in controlled mode, this value will go directly to your backend so having the backend depend on what we considered a common sense, could be wrong. This is why I am reluctant to be the one who will make the decision.

[2022-10-26 10:54] Zirafnik commented on #30858
Is there an update on this?

Is there a reason to prefer the example boilerplate code in `Link.tsx`, over:
- above mentioned option
[code]
- or even this solution: [link to another answer](https://stackoverflow.com/a/72224893)

[Next.js docs on passHref](https://nextjs.org/docs/api-reference/next/link#if-the-child-is-a-custom-component-that-wraps-an-a-tag)

[2022-10-26 11:15] michaldudak opened #34895 "[discussion] Prop naming conventions"
A continuation of the topic started in https://github.com/mui/material-ui/pull/32511#issuecomment-1286896429

Should a prop be named after an action or describe the result (e.g. `disableRipple` vs `rippleDisabled`)?

It seems that even the HTML standard is not consistent in this area. The attributes generally describe state, but in some cases they denote an action (`preload`, `defer`, `translate`,

[2022-10-26 11:39] MidnightDesign opened #34896 "Next.js 13 compatibility (app directory/server components)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Material UI v5 doesn't support React Server Components (e.g. with Next.js). Even though the error comes from [`@emotion\react`](https://github.com/emotion-js/emotion/tree/main/packages/react) and not Material UI itself, I think this should be tracked here as well.

[2022-10-26 11:48] Ashish-21 commented on #12014
Do you got any solution for this?

[2022-10-26 11:53] totszwai commented on #34486
@mnajdova there is only one way... Since Slider supports multiple inputs, the output has to be an array of number.

See the last sentence of this reply here
https://github.com/mui/material-ui/issues/34486#issuecomment-1259823925

[2022-10-26 11:55] oliviertassinari commented on #34826
Goober was explored a bit in https://github.com/mui/material-ui/pull/27776

[2022-10-26 12:10] oliviertassinari commented on #34896
Next.js document an example with styled-components, and since we have a working adapter for styled-components, it could be a workaround https://beta.nextjs.org/docs/styling/css-in-js#styled-components

[2022-10-26 12:19] mnajdova commented on #34486
Actually, this is a bad on our side, the Range slider supports only two values, the type should be `[number, number]` rather than array of numbers, this is why I said there could be different interpretations :)

[2022-10-26 12:31] mnajdova commented on #34826
Thanks for linking it, I will check to see what was missing

[2022-10-26 12:32] mnajdova commented on #34893
Thanks for pointing this out, I will check to see what updates we'll need to do.

[2022-10-26 12:34] mnajdova commented on #34646
@jesrodri feel free to take it. It would likely require documentation update. @samuelsycamore is the person who could help/review the PR once you have something :)

[2022-10-26 12:36] #34230 closed

[2022-10-26 14:26] oliviertassinari commented on #34760
@jesrodri If you could find the GitHub issue that answer this one, it would be great, we could then close as a duplicate.

[2022-10-26 14:37] oliviertassinari commented on #34896
Duplicate of #34893

[2022-10-26 14:38] oliviertassinari commented on #34893
Next.js document an example with styled-components for client-side components, since we have a working adapter for styled-components, it could be a temporary workaround https://beta.nextjs.org/docs/styling/css-in-js#styled-components but they mention nothing for server side.

[2022-10-26 14:39] mnajdova commented on #34415
Having a new component solves the bundle size issue of the `Button` component. No need to bundle that logic if it is not used most of the time. +1 for supporting `LoadingButton` as a child of the `ButtonGroup`.

[2022-10-26 14:41] mnajdova commented on #33969
We can't really do something without a reproduction that we can debug. I am closing the issue, feel free to re-open once you are able to reproduce this in a sandbox (it could be a GitHub repository too).

[2022-10-26 14:41] #33969 closed

[2022-10-26 14:43] oliviertassinari commented on #34874
It sounds a bit related to #12432 but different. I sounds like a simple network error, so to close.

[2022-10-26 14:54] mnajdova commented on #34832
Ok, so the main ask is to be able to disable the utility classes generation, as the whole purpose of the utility classes is for the names to be descriptive and deterministic. This is something we discussed some time ago. Potential problems with this is that, sometimes we use the utility classes in the native MUI styles, which can be problematic. We could not do this for the state classes and see i

[2022-10-26 14:56] trizotti commented on #34880
@siriwatknp , I'd love to help. Can you assign the "Pricing" page? 😄

[2022-10-26 15:18] mnajdova commented on #33494
@mojtaba-shahverdi in the sandbox you have:

[code]

Theme as string is not doing anything. You need to create a theme using `createTheme`. See https://codesandbox.io/s/upbeat-dhawan-v0cynj?file=/src/App.js

@lindapaiste what you are sharing in the comment is already included as a guide in the Migration guide - https://mui.com/material-ui/migration/migration-v4/#set-up-themeprovider

[2022-10-26 15:19] #33494 closed

[2022-10-26 15:29] Andarist commented on #28911
@oliviertassinari if this is about this:
[code]
producing such CSS:
[code]

Then yeah - it's a "limitation" of Emotion. This is exactly how SCSS mixins work too. It's because final styles are not truly tied to components, it's just a "flat" string.

I'm not super intimate with Styled-Component's implementation but from what I can see they are separating styles for each "wrapper". So they are hashi

[2022-10-26 15:53] MartinXPN opened #34898 "Next.js 13 example with the `app` router"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

There is a great example of how to use MUI with next.js (https://github.com/mui/material-ui/blob/master/examples/nextjs-with-typescript) in this repository.

Yet, a new version of Next.js was released recently: https://nextjs.org/blog/next-13

This introduces severa

[2022-10-26 16:35] MidnightDesign commented on #34896
@oliviertassinari The error message in #34893 is very different from the one I mentioned here. Also, this was meant to be kind of an overarching issue, because I think there will be more problems other than these two.

[2022-10-26 16:40] brianlu2610 commented on #34880
@siriwatknp I would like to contribute too. Can you assign me a page as well?

[2022-10-26 17:06] oliviertassinari commented on #34896
OK, then I'm assigning the same person on this issue than in the one I linked, so there is no duplication of effort.

[2022-10-26 19:00] AChangXD commented on #34740
Also having similar issue. For me, the onChange fires correctly the first time, and it successfully set the state that is assigned to value field of <Tabs> to the new value. However, the Tabs component doesn't re-render and it still thinks it was set to the previous value.

[2022-10-26 19:10] AChangXD commented on #34740
How I'm creating/passing the <Tabs>:
`setToolbarItems(
        <>
          <Tabs
            value={selectedTab} // If I get rid of this value field, things will work again but it won't display which tab is selected.
            onChange={(event, newValue) => {
              setSelectedTab(newValue);
            }}

            <Tab label="Overview"></Tab>
            <Tab label="Sales Logs"></Ta

[2022-10-26 20:34] manmohitgrewal1 commented on #22815
I was facing the same problem with matrail ui Circular Progress. I moved to React-Spinner https://www.davidhu.io/react-spinners/.

[2022-10-26 21:11] Clumsy-Coder commented on #34898
Also `next/link` no longer require `<a>` as a child of `Link` component

Check https://nextjs.org/blog/next-13#nextlink

Code example affected
https://github.com/mui/material-ui/blob/012c95f917a5db74fd530c63260616d3c3803cd9/examples/nextjs-with-typescript/src/Link.tsx#L8-L37

## Temporary workaround
add prop `legacyBehavior` to `next/link` component

[2022-10-26 21:15] MartinXPN commented on #34898
Another workaround for `Link` might be removing the `Anchor` and adding `ref` and `...other` right to the `NextLink`.
But this might break some edge case that I'm not familiar with.

[2022-10-26 22:47] JanderSilv commented on #34898
Probably for the full compatibility of Mui 5 with NextJs 13, Emotion must have support for React Server Components and Concurrent Rendering.

This already has been requested at Emotion's repo:  https://github.com/emotion-js/emotion/issues/2928

[2022-10-26 23:39] BjoernRave opened #34900 "useLocale Hook to access the current locale set in the Theme object"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I would like to have a hook which exposes the current locale(language) that is being set on the theme object.

I couldn't find this info in the `useTheme` hook.

Alternatively this info could be added to the theme returned by useTheme, or as second parameter.

### E

[2022-10-27 03:30] HexM7 commented on #34832
Or we could just hash and make indeterminate hashes at build time. Regarding the native styles, I think we could just replace raw classes with the correct ones by importing them from individual components

[code]

Instead of

[code]

Is it possible to configure the internal utility classname generator once during build time, on the server side so that we can use node modules like crypto to generat

[2022-10-27 03:54] VinceCYLiao commented on #16866
@mnajdova Please review my [PR](https://github.com/mui/material-ui/pull/34902) when you are available. Thanks!

[2022-10-27 04:40] siriwatknp commented on #34880
@trizotti @brianlu2610 Done! feel free to submit a PR.

[2022-10-27 06:58] shivak-cbre opened #34903 "[TextField] maxLength not working in android device browsers"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

for text field with multiline attribute and rows attribute maxLength is not working in android device browsers. it is working in desktop browsers

### Current behavior 😯

Not considering the maxLength passed in inputProps

### Expected behavior 🤔

It shou

[2022-10-27 07:04] MartinXPN commented on #34898
Is there any workaround that would enable us to use the `app` directory now without waiting for `emotion` and `MUI` library updates?

[2022-10-27 07:11] sanoj-chaudhary commented on #9046
<TextField inputProps={{ className: classes.input, pattern: "[a-z]{1,15}" }}  />

[2022-10-27 07:57] sreenaths commented on #11504
`<ModalBox style={{outline: 0}}>` helped me

[2022-10-27 08:11] vgulerianb commented on #34863
@gzrae I have created this https://github.com/mui/material-ui/pull/34868 to fix the above issue

[2022-10-27 08:16] rallona opened #34904 "renderInput is not a function error in DatePicker"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

- #### Following the use of DatePicker [https://mui.com/x/react-date-pickers/date-picker/](https://mui.com/x/react-date-pickers/date-picker/)

- #### I have tried to recreate this code that is used for datepicker on mobileversion:

[code]

### Current beh

[2022-10-27 08:30] mnajdova commented on #34898
Duplicate of https://github.com/mui/material-ui/issues/34893

[2022-10-27 08:32] rallona commented on #34904
Solved, maybe version problem

[2022-10-27 08:32] rallona commented on #34904
Solved, maybe version problem

[2022-10-27 08:32] #34904 closed

[2022-10-27 08:37] cr1spyvada commented on #34887
Hello, I'd like to work on this issue.

[2022-10-27 08:56] MartinXPN commented on #34898
@mnajdova I don't think this is a duplicate of #34893
Here we ask for a working example app that would work with Next.js 13 (similar to the previous Next.js version https://github.com/mui/material-ui/blob/master/examples/nextjs-with-typescript ), while the other issue reports a bug with hydration.

I think those are completely different requests/issues.

[2022-10-27 09:47] pomubry commented on #34898
I thought this [commit](https://github.com/vercel/next.js/commit/489e65ed98544e69b0afd7e0cfc3f9f6c2b803b7) would be a good read at least for the `next/link` issues.

[2022-10-27 10:13] michaldudak commented on #34722
@Tejas021 are you still working on it?

[2022-10-27 10:38] #32870 closed

[2022-10-27 10:54] michaldudak commented on #32277
It is possible to render the Popper in arbitrary positions - see https://mui.com/material-ui/react-popper/#virtual-element. We are considering having just one popup component in Base (we'll likely update the existing PopperUnstyled to use the new Floating UI).
If there are any missing features, I'd rather add them to the Popper instead of creating another component (unless there is a real use case

[2022-10-27 10:54] #32277 closed

[2022-10-27 12:00] mnajdova opened #34905 "Next.js 13 compatibility"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

This issue will serve as an umbrella for all issues related to Next.js 13. It will be easier to have an overview of all the problems in one place.

[Next.js 13 Hydration failed because the initial UI does not match what was rendered on the server #34893](https://git

[2022-10-27 12:17] michaldudak commented on #32129
Since we've got other issues describing the same problem (#32777 and #33955), I'm going to close this one.

[2022-10-27 12:17] #32129 closed

[2022-10-27 12:43] vitaly-ivanov-navidium commented on #11244
mui 5 example
[code]

[2022-10-27 12:54] ccromnow commented on #34737
I understand the relation to unsafe_ breaking changes not being reflected by minor or major versions for external users, however when you do that in internal packages it causes problems for shared environments.

Short example of environment:
Shared dependencies using Webpack Federated Modules.
Theming is done in a central module that loads parts of the application as federated modules.
In order to

[2022-10-27 13:27] the-mgi commented on #34880
Hello folks, I would like to take on careers page.

[2022-10-27 13:29] michaldudak opened #34906 "[Base] Improve the slotProps type overriding DX"
As noted in https://github.com/mui/material-ui/pull/33582#discussion_r941577213, the current way of overriding the type of `slotProps` (formerly `componentsProps`) is not flexible enough. It is not possible to modify the types of individual slots' props independently because all slots share the same override type:

[code]

In the example above it is not possible to augment the type of props passed

[2022-10-27 14:26] simon-guider commented on #12255
This issue has been open since 2018 and is still not resolved. Has anyone managed to resolve this issue locally?

[2022-10-27 14:41] michaldudak commented on #34903
@mnajdova do you happen to have an Android device to verify it?

[2022-10-27 14:42] smox opened #34907 "[Checkbox] Property size="large" not possible altough it is working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

When youe create a Checkbox with:
<Checkbox  size="large" />

### Current behavior 😯

You get the following error:
Type ""large"" cannot be assigned to  ""small" | "medium" | undefined" .ts(2322)

### Expected behavior 🤔

Shoud compile without errors.

##

[2022-10-27 15:06] samuelsycamore commented on #34906
My gut says that 1 is preferable as the option that would be easier for devs to use. The code feels more readable to me at a glance, and though I don't love all the type it would require for some components, I do like that it adds some "guard rails" to the feature (vs. being able to do things that don't make sense in 2). Since this is a pretty advanced concept to begin with, I think it's better fo

[2022-10-27 15:41] the-mgi commented on #34880
#34908 @siriwatknp brother, here is a draft PR for /careers/ page, but still there's a bug that Next Roles part is not showing the right colors while in light mode. if you can point me in the right direction, it'll be very helpful.
![image](https://user-images.githubusercontent.com/70032816/198335094-0ad25e6b-b86f-4fef-ae8a-9ab40098a6de.png),

as can be seen in mui.com/templates page here in testi

[2022-10-27 15:46] totszwai commented on #34486
Mui's owned example and demo supports shows that it supports more than 2 values... 😑

https://mui.com/material-ui/react-slider/#removed-track
![image](https://user-images.githubusercontent.com/4440365/198336751-de5e1cf1-534f-41b4-8556-77f2da99dffa.png)

[code]

[2022-10-27 16:32] altechzilla opened #34910 "Next.js 13 Error during SSR Rendering ReferenceError: defaultStyleFunctionMapping is not defined"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Set up a starter Next.13 app and install MUI.
2. Disable the app folder, just use the good ol' regular pages folder.
3. Add a component, such as Card on a page, like index.
4. Run the dev server using `next dev --turbo`
5. Error.

### Current b

[2022-10-27 16:33] altechzilla commented on #34826
Kinda wish Emotion was optional to some degree to avoid complexity and issues like:
https://github.com/mui/material-ui/issues/34910
https://github.com/vercel/turbo/discussions/2312#discussioncomment-3966587

[2022-10-27 17:07] Nikhil1920 opened #34911 "Changing theme does not change background color when using CSS variables"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Live example links

https://codesandbox.io/s/create-react-app-with-typescript-forked-46llm7?file=/src/index.tsx

https://nikhil1920.github.io/next-js-mui-pwa-starter/

### Current behavior 😯

Background color is not changing based on theme

### Expected b

[2022-10-27 17:29] Gougerik opened #34912 "Can't resolve '@mui/material/generateUtilityClass'"
**Untill now everything worked well. Today I updated packages and I got this error:**
_./node_modules/@mui/lab/Masonry/masonryClasses.js:1:0
Module not found: Can't resolve '@mui/material/generateUtilityClass'_

**I'm using NextJS framework.
This is my code:**
[code]

[2022-10-27 18:19] MidnightDesign commented on #34896
@mnajdova Since your #34905 seems to be the umbrella issue now, feel free to edit this one to be just about the specific problem with Emotion.

[2022-10-27 18:32] garronej commented on #33280
Hi @Industrial,

Only the emotion's "Default Approach" in compatible with the steaming API (because it injects styles inline):

<img width="971" alt="image" src="https://user-images.githubusercontent.com/6702424/198368215-2573a718-4994-4874-9967-9de168b78a20.png">

But MUI requires emotion's advanced approach (styles manually written in the head) for SSR setup to be implemented.  See [this quote](

[2022-10-27 19:53] ErikParso commented on #12255
I changed it in theme and set label positioning from bottom (changed transformOrigin to bottom left) so text will move upside when it wraps.

		MuiInputLabel: {
			styleOverrides: {
				standard: {
					marginBottom: 0,
					top: 'unset', // label will be positioned from bottom
					bottom: 0,
					transform: 'translate(0, -16px) scale(1)', // in normal state label is 16px from bottom
					'&.MuiI

[2022-10-27 20:47] EduardoSCosta commented on #34880
Hi, me, @jesrodri and @trizotti are facing some errors, so I openned a draft PR and [commented about these errors](https://github.com/mui/material-ui/pull/34913#issuecomment-1294034771).

[2022-10-28 03:04] siriwatknp commented on #34880
@EduardoSCosta @the-mgi For the section that is wrapped with `<ThemeProvider theme={darkTheme}>`, you can remove it and add `data-mui-color-scheme="dark"` to the next div instead.

[code]

[2022-10-28 03:13] geminiyellow commented on #593
this issues was closed, but i still want mui support react native.

[2022-10-28 03:28] siriwatknp commented on #34911
You should add `CssBaseline` to the page.

[code]

I think this deserves some documentation after #34639 is implemented.

[2022-10-28 03:55] duylinhdang1998 commented on #34912
+1

[2022-10-28 05:08] Nikhil1920 commented on #34911
import from '@mui/material/styles' was giving me
`
JSX element type 'CssBaseline' does not have any construct or call signatures.ts(2604)
`
error but the import from `"@mui/material/CssBaseline"` is working as expected.

[2022-10-28 06:58] ccromnow commented on #34912
I think its due to them moving internal functions between packages around that are dependant on each other. check what version of @mui/base you get. all "base", "styles", "material" and systems" I think needs to be part of the same release to guarantee that it will work: https://github.com/mui/material-ui/releases

[2022-10-28 07:11] the-mgi commented on #34880
thanks a lot brother. it is now good 🙌🏼
#34908 here is thr PR, if there is anything you want tme to improve i'll be more than happy to help. thanks 🙌🏼

[2022-10-28 07:26] simon-guider commented on #12255
@ErikParso thank you for the reply, unfortunately, this method does not seem to work with MUI v5.x
<img width="406" alt="image (4)" src="https://user-images.githubusercontent.com/97619093/198528960-cc582578-3d49-44ee-87f8-91bb1dafec21.png">

[2022-10-28 07:44] ErikParso commented on #12255
You have to transform label slightly higher and to the right (16px) in your case.
for non shrinked use 'translate(16px, -36px) scale(1)'
for shrinked use 'translate(16px, -67px) scale(0.7777)'
Adjust height as suits you best

[2022-10-28 08:13] chris-askbrian commented on #34898
Wouldnt it make sense to pin the versions of the used libs at least to the major versions?

[2022-10-28 08:30] michaldudak commented on #29209
@mikkopori, @BryanAPEX thanks for letting us know. I'm reopening the issue.

[2022-10-28 08:34] michaldudak commented on #30948
I've found another issue describing the same problem: #29508. I'm closing this one.

[2022-10-28 08:34] #30948 closed

[2022-10-28 08:35] michaldudak commented on #29508
We'll gladly accept community contributions to fix this problem.

[2022-10-28 08:45] ThanosDi commented on #21293
Any idea why this is not working with react-test-renderer ?

Libraries used:
[code]

Test file
[code]

In the snapshot file I still have `mui-9c4omp` as a className in various components that change on every new style.
I'm mostly using sx={}

[2022-10-28 08:45] Ihor999 commented on #30562
datagrid version 5.17.8   still has the error
steps to reproduce
1. place datagrid on a page
2. place datagrid on the same page inside dialog
3. open dialog and click on datagrid row

![image](https://user-images.githubusercontent.com/10143613/198543820-81a7ee41-6241-4b6e-a644-e2bafd426408.png)

as a result publishClick**  event fired twice for both datagrids but second event can't find column.

A

[2022-10-28 08:49] mnajdova commented on #34896
Sure, I plan to work on this on Monday, will review once again all the issues.

[2022-10-28 09:26] zehawki commented on #12255
As @oliviertassinari mentioned up in this thread, I've also come to believe that its not solvable in MUI because this is how its designed in Google's [material design for text fields](https://m2.material.io/components/text-fields#anatomy) (aka chic-but-useless). Google itself has been conflicted in form field design. This format was intended for short fields (username / email and the like), and is

[2022-10-28 09:38] AlbinoGeek commented on #30562
Hey there! I don't think your issue has anything to do with this. In
particular, this issue is talking about the documentation site exploding.

An update as well, I do apologize for the delay, I have a native Windows
machine now, and can reproduce this 100% in Brave and Chrome.

Basically, just be impatient. Try and type in the search Fields before the
page has loaded, or use keyboard navigation b

[2022-10-28 10:48] michaldudak commented on #34450
Duplicate of #32106

[2022-10-28 10:48] #34450 closed

[2022-10-28 11:03] mnajdova commented on #34898
Locally in your projects yes. In our examples, we intentionally use `latest`, so that we can catch problems immediately when they happen

[2022-10-28 11:53] itsajay1029 commented on #34911
Can you assign this issue to me ?

[2022-10-28 12:30] Gougerik commented on #34912
**This is my dependency list:**
"dependencies": {
    "@emotion/cache": "latest",
    "@emotion/react": "latest",
    "@emotion/server": "latest",
    "@emotion/styled": "latest",
    "@fontsource/roboto": "^4.5.8",
    "@mui/icons-material": "latest",
    "@mui/lab": "^5.0.0-alpha.105",
    "@mui/material": "latest",
    "axios": "^1.1.3",
    "next": "latest",
    "nodemailer": "^6.8.0",
    "no

[2022-10-28 12:48] michaldudak commented on #30249
There is another open issue describing this problem: #29508. I'm closing this one and let's continue the discussion in the original issue.

[2022-10-28 12:48] #30249 closed

[2022-10-28 13:04] sergii-zhuravel commented on #6957
Maybe this can help someone:

I thought I have the same issue (the onClick was fired even the button was disabled), but then I discovered that the parent row of that button had the same onClick handler :)

[2022-10-28 13:17] Floriferous commented on #8416
This is a really painful thing for all mui components. Adding a tooltip on a disabled element is such an essential UX detail (you should always explain why something is disabled, your user won't know, and you the developer will forget all the reasons), that every time I write this I'm a bit frustrated.

[code]

Adding a wrapper like this is a terrible solution:
* The component remounts when you ad

[2022-10-28 13:40] Tracer1337 commented on #34912
Upgrading @mui/material from 5.10.10 to 5.10.11 fixed the problem for me

[2022-10-28 15:45] Gougerik commented on #34912
Yes... When I replaced _"@mui/material": "latest"_ with _"@mui/material": "^5.10.11"_, the issue went gone. Thanks for your note.

[2022-10-28 15:45] #34912 closed

[2022-10-28 15:46] EduardoSCosta commented on #34880
We are getting this CI error, and we don't no why :thinking:

![Screenshot_20221028_124512](https://user-images.githubusercontent.com/30778707/198678849-53fb28d4-b054-4eb2-bfef-d87c3ccdedf2.png)

[2022-10-28 18:12] lnicepei opened #34921 "Typo in page title"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to [Image List page](https://mui.com/material-ui/react-image-list/)
2. Look at the title of the page
![image](https://user-images.githubusercontent.com/95967146/198704001-2ad4e27d-a467-4d52-974e-2634762d5804.png)
![image](https://user-images

[2022-10-28 20:13] RPDeshaies commented on #34905
Not sure if it could be considered to be related to Next13, but I think this issue is also _kind of_ related considering it's about running turbopack within a NextJS 13 application.

https://github.com/mui/material-ui/issues/34910

[2022-10-28 20:44] WalterWeidner commented on #32142
Thank you that is very helpful!

[2022-10-29 00:27] TheWhiteShade commented on #20906
I don't know why, but i have realized it's because the selected value must be obtained from the same object. I'm not very clear on it but i did this and it worked for me.
[code]

[2022-10-29 00:56] FullstackJack commented on #34893
I think I solved this in my project by removing the MUI Link component from inside the Next.js Link component. If I recall, I used `component={NextLink}` and removed `passHref`.

[2022-10-29 02:35] SpareShade opened #34923 "zIndex theme override - module augmentation"
Hi, thank you for this great library!!

I'm trying to extend (theme) the zIndex values eg. `authMod: 2000`, and I cannot find any way to do that.

The question is related to issue opened in 2019 #17796 but the conversation there skewed into direction of addressing the cusomisation of `popper` and the original question was not addressed.

Is there any way to extend/add new values to the zIndex them

[2022-10-29 09:18] itsminh99 opened #34925 "Build failed with cloudfare/next-on-pages"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

I setup NextJS + MUI V5 + cloudfare/next-on-pages([link](https://github.com/cloudflare/next-on-pages)) then build failed when using using _app.tsx and _document.tsx in example link: https://github.com/mui/material-ui/tree/master/examples/nextjs-with-types

[2022-10-29 09:28] #34925 closed

[2022-10-29 10:36] shkhalid commented on #31235
+1

[2022-10-29 13:54] #34921 closed

[2022-10-29 13:54] oliviertassinari commented on #34921
A regression from #34848

[2022-10-29 14:53] theobourikos opened #34927 "[Autocomplete] onInputChange to fire on additional events like caret position change and keydown"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I want to be able to track the caret position within the textbox. The only way to do that now is to handle the 'onKeyUp' event directly on the <TextField> input box. If I want to handle a "Tab" key so that it select the first item in the selection list, I also need

[2022-10-29 15:10] #33884 closed

[2022-10-29 15:10] #34692 closed

[2022-10-29 15:10] #34763 closed

[2022-10-29 15:10] #34634 closed

[2022-10-29 15:28] oliviertassinari commented on #34903
Strange, this should work, per https://github.com/mui/material-ui/issues/12913#issuecomment-522364716 and https://caniuse.com/maxlength.

[2022-10-29 15:29] #32763 closed

[2022-10-29 15:32] shivak-cbre commented on #34903
Android version 11
Material UI version 4.x x
Browser chrome 106.0.5249.xxx

[2022-10-29 15:33] oliviertassinari commented on #34513
This should already be supported, I did the work in #17972.

[2022-10-29 15:48] Jack-Works commented on #34513
I think it didn't solve our's problem. We're already using the mui version that contains #17972 but it didn't help. I opened a PR in #34697

[2022-10-29 15:57] oliviertassinari commented on #34513
A reproduction that demonstrates that it works: https://codesandbox.io/s/nervous-sutherland-ism1ch?file=/demo.tsx

[2022-10-29 16:24] oliviertassinari commented on #34513
I suspect that If you have an extension, the `container` can't be the `<body>`, you have to set something that is a bit deeper in the DOM tree. However, the Modal relies on the container to be the `<body>` to handle the `<html>` overflow case, hence it breaks.

Having a new `scrollLockContainer` prop could make sense. We would only need to make sure that it still makes sense with the need to set t

[2022-10-29 16:40] oliviertassinari commented on #34767
@CodingDive You can follow https://mui.com/material-ui/guides/interoperability/#styled-components.

---

A worse option would be to do:

[code]

It works https://codesandbox.io/s/styled-components-css-prop-with-function-forked-l6xho6 but you are now importing both styled-components and emotion in your bundle ❌

---

@mnajdova I realized that we could improve MUI System:

- Docs in MUI System for `

[2022-10-29 16:40] #34767 closed

[2022-10-29 16:51] oliviertassinari commented on #34827
@rajithaw The code says that MUI will remove the `color` prop for `Icon` and `SvgIcon` components in v6.

https://github.com/mui/material-ui/blob/bb84c5a0e8a728338de74c73c82f947d16cc3abb/packages/mui-material/src/SvgIcon/SvgIcon.js#L52-L53

So instead, this would works:

[code]

https://stackblitz.com/edit/react-zws3or-lndpfm?file=demo.tsx

We also have #19466 about being able to add new props, e.

[2022-10-29 17:13] oliviertassinari commented on #34176
I think that this could work as long as the abstractions terminology/structure is compatible with Material UI's one. At a high level, I would be amazed if we don't get a lot of people asking us to create a Text Field abstraction on top of the lower-level primitives once we remove it, but who knows? It might actually be interesting to experiment. In v1, I tried to promote the composable API https:/

[2022-10-29 17:20] oliviertassinari commented on #31862
@zoran888 This seems to be an issue to open on https://github.com/gregnb/mui-datatables side, we don't control what was released in v4.1.2 https://github.com/gregnb/mui-datatables/releases/tag/4.1.2. Make sure that you are using compatible versions. MUI now has an official data grid if this could help: https://mui.com/x/react-data-grid/.

[2022-10-29 17:20] #31862 closed

[2022-10-29 17:28] oliviertassinari commented on #34832
@HexM7 Do you have more data on this claim?
I don't understand why this would be true or why we could do something about it. At first sight, it seems to be something we should ignore to focus on simplicity.

@michaldudak PR's in #34380 is a bit related to this, to the extent that it touches on the class name generation. Issue's https://github.com/mui/material-ui/pull/34892#discussion_r1005681173 c

[2022-10-29 17:37] oliviertassinari commented on #34895
Having slept on it, I almost feel like:

- `disableRipple` (A) > `rippleDisabled` (B)
-  `invertColors` (A) > `invertedColors` (B)

Where I feel it breaks down is when you control this prop with a state. You would more likely do

[code]

A few benchmarks:

- MUI: A [`disableRipple`](https://mui.com/material-ui/api/tab/#props)
- Radix: A [`hideWhenDetached`](https://www.radix-ui.com/docs/primitives

[2022-10-29 17:42] HexM7 commented on #34832
Could not provide benchmarks atm, but classnames like `Xwtuv` instead of `Mui-Component-slot` would definitely reduce the bundle size. My only concern is to make the classnames indeterministic, by using node module like crypto to generate hashes during build time, which isn't possible atm with the current classname generator utility.

[2022-10-29 17:48] oliviertassinari commented on #34832
Which bundle size? For example, these class names are sent compressed over the wire, using gzip or brotli, both using Huffman coding which might work better on `Mui-Component-slot`. So I would personally expect the opposite. But even then, these class names are generated so I don't understand.

[2022-10-29 22:25] edwinjue commented on #15832
I was receiving the error after I added `HtmlWebpackPlugin` to my project. Little did I know, `HtmlWebpackPlugin` will inject `bundle.js` to the header of dist/index.html.

So, if you're getting this error and use `HtmlWebpackPlugin` check the index.html in your output directory and remove  `<script src="./bundle.js"></script>` if you added it explicitly.  Make sure `bundle.js` not showing up twic

[2022-10-29 23:11] ruiaraujo012 opened #34928 "Grid V2 breakpoint only applied with props order"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

[Code example](https://codesandbox.io/s/billowing-tree-ulwo4e?file=/demo.tsx)

### Current behavior 😯

`md` breakpoint only used if placed as last prop

### Expected behavior 🤔

All items should use 4 cols on `md` breakpoint and up.

### Context 🔦

_No re

[2022-10-30 03:05] JamieKidman opened #34947 "[Masonry] Can the data structure of Masonry be made accessible?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

So most drag and drop implementations works with arrays, would it be possible to have access to the data structure the masonry component uses.
I think part of the issue is the objects aren't in the order of the array so it just behaves weirdly.

If someone already h

[2022-10-30 15:41] sagardeshraj opened #46707 "`meterial-ui/icons` installation fails with network error"
meterial icon is not installing...
datagram is not adding to my components..
please resolve it... so annoying

[2022-10-30 16:32] ryanjanderson opened #34952 "Incorrect title 'Button Navigation' on component list page?"
The file `docs/data/material/pages.ts` has a link to 'Button Navigation' but the actual page is 'Bottom Navigation'.  Assume it is typo.

Looks like this pull request.
https://github.com/mui/material-ui/pull/34848
<img width="950" alt="Screen Shot 2022-10-30 at 9 31 57 AM" src="https://user-images.githubusercontent.com/47285413/198890075-b1864b15-bb77-42c9-8306-4b84f6964ed3.png">

[2022-10-30 17:09] punithnayak commented on #34952
hey can i fix this

[2022-10-30 18:43] punithnayak commented on #34952
I am working on it....

[2022-10-30 19:05] Industrial commented on #33280
@garronej thanks for getting into this. I understand that it's going to be a long term thing. Implementing Streaming SSR was a research/fun project for me and MaterialUI is my go-to UI framework :)

[2022-10-30 20:59] da1z opened #34959 "Joy Inside Mui with Tailwind. tailwind being overwritten"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
sorry i was having hard time to make it work with codesandbox so attaching link to repo and video
https://github.com/da1z/mui-joy-tw-bug

Steps:

1. I adding Joy into Mui + tailwind project as described in docs
2. After adding Joy th

[2022-10-31 02:03] siriwatknp commented on #34911
👍Yes, you are right! changed to the correct import.

[2022-10-31 02:25] JerLai commented on #32400
I implemented this solution and while it works, once you click anywhere else on the screen, it seems to 'turn off', and the styling no longer makes it active. Is there a way to prevent this, or will I have to fall back to using state to manage which is the active tab?

[2022-10-31 05:15] SudeshSharma opened #34961 "Mobile screen goes shirnk on click of textbox?"
I want to add material-ui textfield on Header section. In desktop view I have showed textfiled on image and in mobile view I have removed image. My code working fine in desktop view but in mobile view on click of textfield screen goes shrink.

Below is my code

[code]

CSS part code

[code]

screen shot

1) mobile view
![WhatsApp Image 2022-10-27 at 11 09 19 (1)](https://user-images.githubusercont

[2022-10-31 07:37] dohomi commented on #34826
It would be great if MUI styles would rely entirely on css class composition, similar like [DaisyUI](https://daisyui.com/) build with Tailwind. That could power different themes like `Material UI`, `Joy UI` customised with different CSSVars

[2022-10-31 08:33] michaldudak commented on #34961
Please create a reproduction of this issue on CodeSandbox. An unformatted wall of code in the issue isn't very readable.

[2022-10-31 09:44] drangam opened #34962 "[system] Hydration error with Next.js link"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://stackblitz.com/github/mui/material-ui/tree/master/examples/nextjs?file=README.md

Steps:

1. Follow the installation steps given in https://github.com/mui/material-ui/tree/master/examples/nextjs
2. Run the installation
3.The

[2022-10-31 10:03] prodbyola commented on #32400
@JerLai The solution I implemented above worked just fine for me. You can try it and see if that works better for you.

[2022-10-31 10:14] abhinav0877 commented on #17392
How do we fix this warning, that only comes up while dynamic icon import..

[2022-10-31 10:21] 17x commented on #32749
same here

[2022-10-31 10:24] SudeshSharma commented on #34961
@michaldudak  I have formatted my code. kindly review.

[2022-10-31 10:45] siriwatknp commented on #34928
This looks like a bug to me. The behavior should not depend on the order of props.

[2022-10-31 14:48] cmd-johnson opened #34965 "[Stack] doesn't space children correctly when there are style tags between them"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/unruffled-pine-lnym3m?file=/src/App.tsx

Steps:

1. Create a `<Stack>` with spacing > 0 (e.g. `spacing={2}`)
2. Add multiple children to the Stack
3. Add a `<style />` tag between any of those children

### C

[2022-10-31 14:58] pipech opened #34967 "[Slider] Breaks with `Modal` + `overflow: "scroll"` on iOS"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Code:
[code]

Link to live example:
https://codesandbox.io/s/fervent-mcclintock-xzilxh?file=/src/App.tsx

Steps:

1. Using iOS device (Tested on iPad Mini 6 or iPhone 12 Pro)
2. Goes to https://xzilxh.csb.app/ (Code Sandbox Live Preview)
3. Scroll down to

[2022-10-31 15:03] ruiaraujo012 commented on #34928
I agree with that. Waiting for the fix to come out.
Thanks.

[2022-10-31 15:05] oliviertassinari commented on #28911
@Andarist Yes, I think that this is exactly what this GitHub issue is about.

When the whole style component stack is in your codebase, it's easier to work around but when some of the styles are coming from your code, and the rest is from another place where you can't easily see that it uses media query, I think that for developers that aren't deep into how CSS overrides flows (a lot) it's frustra

[2022-10-31 18:33] samuelsycamore opened #34968 "How should we document the Overriding props across all MUI products?"
As I understand, historically, what I'll call the "Overriding props" (`component`, `components`, `componentsProps`, `slots`, `slotProps`) are a relatively new concept—hence why we don't really have a name for them as a group 😅—and they have not really been exposed until recently. As a result, they aren't documented very well across MUI's products where they are present.

Starting with the MUI Base

[2022-10-31 18:51] yulev5 commented on #27241
I see the same problem in my website

[2022-10-31 18:56] nicksaravia opened #34969 "[TextField] `onBlur` is not firing with label prop "Email""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
- https://codesandbox.io/s/material-ui-email-focus-bug-gfccrk?file=/src/App.js

Steps:
0. Only on Chrome (Open Chrome)
1. Import TextField component and
2. Place two Textfields on the page one with the label="Email"
3. Tab through In

[2022-10-31 19:15] PetroSilenius commented on #34898
For `next/link` I just opened #34970 that sets up support for the `legacyBehaviour` prop to fix existing errors in the examples

I think one option to properly migrate to v13 would be to remove the need for `NextLinkComposed` and just show examples of doing `<MuiLink component={NextLink}/>`. This would require some changes to docs as well to support both the v12 and v13 routers

And as for `@next/

[2022-10-31 19:29] yulev5 commented on #21142
Yes I am also getting false value in first render

[2022-10-31 20:33] oliviertassinari commented on #27241
Please provide more details on what's the root cause of this Cumulative Layout Shift.

[2022-10-31 22:29] stuartrowe commented on #29482
Adding a +1 for exposing a `focusedNodeId` property to control this.

[2022-11-01 00:52] KathrynBrusewitz opened #34973 "[Tooltip] Accessibility bug: Cannot access links within Tooltips by tabbing if there is another Tooltip on page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/tooltip-accessibility-bug-vhh4hm?file=/index.js

Steps:

1. Have more than one tooltip on a page, each containing a link
2. To test accessibility, tab through the page to open each tooltip and try to open eac

[2022-11-01 01:53] nhd2106 commented on #32749
same here

[2022-11-01 02:09] suren-atoyan commented on #32749
+1

[2022-11-01 04:13] pipech commented on #34967
FYI

Workaround is to use `Container sx={{ overflowY: 'auto', maxHeight: '85vh' }}` inside Modal instead of using `Modal sx={{ overflow: 'scroll' }}`.

[2022-11-01 04:29] zignis opened #34974 "[Joy][Tabs] Scrollable variant"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Tabs should feature a scrollable variant for smaller screen sizes.

### Examples 🌈

MUI Material: https://mui.com/material-ui/react-tabs/#scrollable-tabs

### Motivation 🔦

Scrollable tabs.

[2022-11-01 07:44] michaldudak commented on #34969
Do you have any password manager plugins installed? I could reproduce the bug, but when I disabled my 1Password, it started to work correctly.

[2022-11-01 07:58] michaldudak commented on #34961
There are many imports from external modules. With the number of issues we deal with we can't afford to spend time trying to figure out how to reproduce the problem.

Please create an example that would work just by copying and pasting or (even better) creating a CodeSandbox reproduction. You can use https://codesandbox.io/s/material-ui-issue-latest-s2dsx as a starting point.

[2022-11-01 08:10] #34770 closed

[2022-11-01 08:10] #34799 closed

[2022-11-01 08:17] siriwatknp commented on #34737
If the @mui/ packages themselves are relying on unsafe_ functions that would not be the same as an external package, and changes that causes breaking behavior in between packages are at least a minor version. This would be by far the most preferred solution.

Solution 1 seems to be the way that we can start doing this in the future without changing too much. I will keep this in mind for sure.

[2022-11-01 08:20] siriwatknp commented on #34737
For the original issue, I'd say that it is the expected behavior so I'm closing the issue (unless the author meant a different error apart from the [BREAKING CHANGE](https://github.com/mui/material-ui/releases/tag/v5.10.9))

[2022-11-01 08:20] #34737 closed

[2022-11-01 08:27] hbjORbj commented on #34947
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-11-01 08:32] hbjORbj commented on #34952
It has been fixed in https://github.com/mui/material-ui/pull/34955

[2022-11-01 08:32] #34952 closed

[2022-11-01 09:10] #29730 closed

[2022-11-01 09:10] siriwatknp commented on #34968
Speaking of Joy and Material UI, I think it is great that we have the anatomy section for each component but it should be on the API page because it is like a [reference](https://documentation.divio.com/reference/) of the component.

The component page should contain demos that developers want to see first. I guess no one cared that much at first about the HTML produced by the components.

However

[2022-11-01 09:50] mnajdova commented on #34905
Thanks, added.

[2022-11-01 09:56] emekaokoli commented on #18494
Thank you for this, what about a situation where I want the initial value to be an empty string?

`const  [activityCount, setactivityCount] = useState('')`

where I am using the initial empty string in query params for the initial component render to get counts before doing a select?

`fetch(`https://randomuser.me/api/${activityCount}`)`

[2022-11-01 10:43] mnajdova commented on #34910
@altechzilla can you please share a reproduction repository where we can see the issue? Looks like this import cannot be resolved for some reason - https://github.com/mui/material-ui/blob/master/packages/mui-system/src/styleFunctionSx/styleFunctionSx.js#L2

[2022-11-01 11:10] #33039 closed

[2022-11-01 12:17] mnajdova commented on #34962
Duplicate of https://github.com/mui/material-ui/issues/34893

[2022-11-01 12:18] #34962 closed

[2022-11-01 12:25] mnajdova commented on #34923
Here is a codesandbox illustrating how you can do this: https://codesandbox.io/s/infallible-nova-n360po?file=/src/App.tsx. If you have a doubt/question next time, I would suggest looking into the exported types from @mui/material/styles and just override the type that you need. I hope this helps.

[2022-11-01 12:25] #34923 closed

[2022-11-01 13:04] #34969 closed

[2022-11-01 13:10] nicksaravia commented on #34969
Is this something that I need to report with 1Password or something ya'll are going to handle?

[2022-11-01 13:50] RPDeshaies commented on #34910
Hey @mnajdova, I created a repo this morning where I configured a new NextJS 13 repo with TypeScript + Turbo Pack enabled along with the latest version of MUI.

By using a `<Box>` with the `sx` property, the app crashes when trying to render the home page.

Here's the repo, hoping that can help with the troubleshooting phase of this issue.

https://github.com/RPDeshaies/mui-34910-nextjs/tree/49816

[2022-11-01 14:16] nicksaravia commented on #34969
@michaldudak , I started a discussion with 1Passowrd. this is def a 1pass bug. I updated the sandbox to show the same behavior with a regular input type=email. Thanks again for your quick response. I will update this thread once i hear back from them.

[2022-11-01 14:21] cardiffinc commented on #22426
Company: [Kollbak](https://www.kollbak.com)
Kollbak is an ecosystem of services built with the sole purpose of connecting Talents with Clients on a single platform.
![image](https://user-images.githubusercontent.com/61339666/199255817-621e2661-5fe3-4d75-8a07-f376138319fe.png)

[2022-11-01 14:46] altechzilla commented on #34910
Maybe it's something related to the bundler?
i.e. Something along the lines of what's described here? https://tsup.egoist.dev/#tree-shaking or https://github.com/evanw/esbuild/issues/1794 / https://github.com/evanw/esbuild/issues/1435

[2022-11-01 14:48] WilliamKelley commented on #34176
This is the most important aspect of the solution for me. If the alternative can do this by default, then I'd be satisfied.

[2022-11-01 15:16] ryanelian commented on #34826
I agree with @altechzilla and @dohomi

In fact, it would be ideal if MUI is tightly integrated with Tailwind and can be configured as Tailwind CSS plugin.

On the MUI side, Tailwind CSS class composition can be used to develop internally.

On the End-User side, not only it is simpler to add Tailwind plugin in Next.js (unlike integrating with Emotion), but we can also get IntelliSense in Visual Stu

[2022-11-01 16:20] sai6855 commented on #34928
hey i'm big fan of material ui, using it in almost all of my projects. i want to contritube to mui, can i work on this issue?

[2022-11-01 19:13] ianschmitz opened #34978 "[Accordion] `TransitionProps` isn't merged with theme defaultProps"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/twilight-sun-nn4m8m?file=/src/App.tsx

Steps:

1. Expand accordion 1 and observe `console.log` message
2. Expand accordion 2 and observe there is no `console.log`

### Current behavior 😯

`TransitionProps` ob

[2022-11-01 20:56] vOtto opened #34979 "After updating node modules, components lost styling <div components="[object Object]" sx="[object Object]" class="MuiInput-root">"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1.
2.
3.

### Current behavior 😯

component does not have styling

### Expected behavior 🤔

components should have styling

### Context 🔦

<div components="[object Object]" sx="[object Object]" class="MuiInput-root">

### Yo

[2022-11-01 20:57] oliviertassinari commented on #34737
I agree with @siriwatknp. "Current behavior 😯 Patch upgrade has breaking changes." is the expected behavior. I have updated #34639 to be clear, it doesn't impact a stable API

<img width="688" alt="Screenshot 2022-11-01 at 21 56 05" src="https://user-images.githubusercontent.com/3165635/199339298-fee9d674-6336-42ce-b965-3faaddde197e.png">

[2022-11-01 21:42] irradev commented on #28633
Worked for me:

Change typography for all components:
[code]
});

Also Im using Nextjs and Mui CssBaseLine , so in _app.js I have imported like this:
`
import { ThemeProvider } from '@mui/material/styles';
import { CssBaseline } from '@mui/material';
`

But doesn't work in a stepper number component:
![image](https://user-images.githubusercontent.com/33007720/199347245-92c279ca-fb55-44b5-a493-7be5

[2022-11-02 01:02] QasimArif commented on #31009
Any updates on this? I came across this issue just over a year ago on another drawer so my guess is it’s related to Chrome on iOS.

[2022-11-02 01:26] vivekvikigupta commented on #18494
Hi,
In my case, I am rendering select only when option list(as array) is available this still gives warning when list has more than one item but works fine. Here is my code for your reference :
`{
        Array.isArray(optionlist) && optionlist.length > 0 ?

        <FormControl sx={{ m: 1, minWidth: 150 }}>
            <InputLabel id="a">SelectSomething</InputLabel>
            <Select

[2022-11-02 02:25] wilav-dev commented on #33303
Any update or workaround?

[2022-11-02 04:35] SudeshSharma commented on #34961
Sorry for delay @michaldudak

Below is the link of my code example

https://codesandbox.io/s/funny-darwin-yrm3q4?file=/src/App.tsx

[2022-11-02 05:56] webethics commented on #18082
Remove the option "disablePortal" from autocomplete field in react mui. Its enough.

[2022-11-02 06:00] SEHEE019 commented on #32749
Same as me......

[2022-11-02 06:23] akshaya-venkatesh8 commented on #34801
Please may I work on this issue?

[2022-11-02 07:01] dangoodman opened #34980 "FocusTrap in a Shadom DOM loses the focus"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
https://codesandbox.io/s/wandering-framework-25fyeg?file=/demo.tsx

Steps:
1. Open the Popover and focus the input
2. Press Tab or Shift+Tab a few times
3. Notice the focus has escaped the popover

### Current behavior 😯

FocusTrap d

[2022-11-02 07:34] helbing opened #34981 "experimental_sx doesn't work in pseudo-classes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/naughty-wildflower-f7h30d?file=/demo.tsx

If I remove `sx` function, the style will work.

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Context 🔦

_No response_

### Your

[2022-11-02 08:04] #33049 closed

[2022-11-02 08:21] siriwatknp commented on #34801
Feel free to submit a PR!

[2022-11-02 08:25] siriwatknp commented on #34928
Of course! always welcome. Feel free to submit a PR!

[2022-11-02 08:31] siriwatknp commented on #34176
Yes, it [works the same](https://codesandbox.io/s/jwvmit?file=/demo.tsx).

The only downside is that you have to write more code (3 components) instead of 1, the `TextField`.

[2022-11-02 08:48] gijsbotje commented on #34898
@PetroSilenius I just got this link from my colleague: https://mui.com/material-ui/guides/routing/#global-theme-link
I'm mad I didn't find this earlier fix every use of an MUI `Link` or component based on `ButtonBase`. No need to add the `NextLink` as a component to every link and button, just override the default `linkComponent` for those components and your set.

[2022-11-02 09:04] AkshayGadekar opened #34982 "Mui Datagrid does not have numbered pagination?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

https://codesandbox.io/s/f7t5uf?file=/demo.tsx

### Current behavior 😯

In DataGrid, for pagination there is only left and right arrow. I needed complete numbered pagination with arrows, but it seems like there is no option for it.

### Expected behavior

[2022-11-02 09:06] siriwatknp commented on #34959
It works as expected because the `Typography` has CSS `color` so the Paper's color will not override the text. What you can do is put the class name directly in the typography:

[code]

https://user-images.githubusercontent.com/18292247/199448806-73157f0e-124d-444c-9f21-80a5575f1d0b.mov

[2022-11-02 09:06] #34959 closed

[2022-11-02 09:26] mnajdova commented on #34981
Thanks for the feedback. This is not intended usage, the `sx` helper should be used at the top level when defining the styles. What was the motivation to use this only in the pseudo selector?

[2022-11-02 09:45] mnajdova commented on #34910
Aaah you may be right, it could be related to https://github.com/mui/material-ui/issues/31835

[2022-11-02 09:53] michaldudak commented on #34731
Yes, it seems that it's incorrectly selecting the first element in this case. Unfortunately, the tests did not cover this scenario. @norayr93 would you like to contribute to the project by working on a fix?

[2022-11-02 09:57] PetroSilenius commented on #34898
Yea the global theme Link is a great tool! It might be a bit opionated for the nextjs examples though as there are some cases where NextLink doesn't behave as needed for example with external links with a certain target. Could point it up better in the docs though👍🏻

[2022-11-02 10:05] Dodge164 commented on #32749
+1

[2022-11-02 10:10] #34887 closed

[2022-11-02 10:18] michaldudak commented on #34961
Thanks. If I understand you correctly, the issue is that when you tap on a textbox, the element with yellow background shrinks, yes?

I couldn't reproduce the problem using either Safari on iOS 16, or Chrome on Android (11, on an emulator). What browser/OS does the problem appear for you?
Also, the screenshots you pasted have some sort of a footer that appears below the yellow element, which doesn

[2022-11-02 10:26] #46707 closed

[2022-11-02 10:37] michaldudak commented on #33303
We do move the shadow when focused:

**Material UI:**

https://user-images.githubusercontent.com/4696105/199466639-652599f9-f80e-4338-969e-558a1bce72a4.mov

**Material Design 2:**

https://user-images.githubusercontent.com/4696105/199466656-8686139d-206d-4906-8e02-25f7a1fbfa53.mov

As for the breaking change - it's always hard to decide when doing visual changes like this. The change won't literal

[2022-11-02 10:43] uncvrd commented on #23708
Has anyone come up with a solid implementation of this? Here's my attempt...with a major drawback that any prop that has a generic type must be reconstructed:

[code]

But at least now you can do things like this:

[code]

And as long as you define the `valueKey` then it sets the `value` to the type of the key. Please let me know if there are better solutions...I've been trying for a while lol

[2022-11-02 11:14] michaldudak commented on #26440
I think it could be confusing if the rendered value changed during editing.

I'm leaning towards a solution similar to how the Autocomplete works in `multiple` mode, but as @Idonoghue noted, there are rough edges here as well.

If someone is willing to prototype a solution, I'll be happy to review it and discuss the solutions for problems that arise.

[2022-11-02 11:37] SudeshSharma commented on #34961
The problem occurs in mobile view when I click on the textbox.

I am currently using chrome's latest version 107.0.5304.91(Android 10).

[2022-11-02 12:00] icebearlabs commented on #25096
Issues persists with version 5.10.12

[2022-11-02 12:19] gijsbotje commented on #34898
@PetroSilenius I'm going to add a check if the href is relative, if so use NextLink otherwise use an a. moving that logic to the theme saves a lot of boilerplate.

[2022-11-02 12:25] michaldudak commented on #34961
Could you explain what is the symptom in the codesandbox you provided? Perhaps I'm looking for the wrong issue. There's no footer to come up and make the yellow area smaller.

[2022-11-02 12:44] sai6855 commented on #34928
sure, i found the root cause. will create PR once i fix it

[2022-11-02 12:53] michaldudak commented on #34967
Thanks for the report. I was able to reproduce it. TBH, judging by how the artifact looks, it seems like a bug in Safari. I wonder if it would be possible to reproduce it without Material UI components.

[2022-11-02 13:02] SudeshSharma commented on #34961
Hey @michaldudak the height is even shrinking without giving a footer.

[2022-11-02 13:16] michaldudak opened #34986 "[Switch][base] `.Mui-focusVisible` is set on a wrong element"
The `Mui-focusVisible` class is applied to the Unstyled Switch's root element, even though it's not a focused element. The real DOM focus is placed on the input inside the root. In this case, the `.Mui-focusVisible` and `:focus-visible` selectors don't point to the same element. It can be problematic when we want to remove the `useIsFocusVisible` hook.

One possible solution would be to replace `i

[2022-11-02 13:48] maima-online commented on #34912
Upgrading @mui/material to the lastest version works

[2022-11-02 14:10] #34893 closed

[2022-11-02 14:33] WilliamKelley commented on #34176
Great! I can add that I think this would be received well by my company engineering team. Those who are very comfortable would grunt at the loss of a succinct component, but I've fielded so many questions and misunderstandings about TextField and TextField vs FormLabel, Input, etc. that it would have been well worth it to everyone to never have dealt with the abstraction in the first place.

One m

[2022-11-02 15:08] michaldudak commented on #34887
Sorry, I missed the GitHub repo link when I skimmed through the issue initially.
The workaround for this problem is pretty straightforward - add the `shrink` prop to the InputLabel.

[2022-11-02 15:59] ad185412 opened #34988 "[docs] Demo BasicDatePicker crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20BasicDatePicker%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/x/react-date-pickers/date-picker/#basic-usage
2. Try to view
3. demo *BasicDatePicker* crashes

## Your Environment
| Tech         | Version |
|

[2022-11-02 16:18] aaronlademann-wf opened #34989 "Stability of CssVarsProvider / extendTheme"
Hello!

Our organization is interested in using the recent CssVarsProvider / extendTheme functionality [documented here](https://mui.com/material-ui/experimental-api/css-theme-variables/migration/#main-content).

However, the names of the exports still including "experimental" gives us pause. Are these features still considered experimental? Is there a roadmap to stabilization?

Thank you!

[2022-11-02 16:50] samuelsycamore commented on #34968
That is interesting—I hadn't considered moving this content to the API page. Should we do this for MUI Base as well? Or does it make sense to keep that info on the Component pages?

[2022-11-02 17:01] sai6855 commented on #34928
hey i submitted PR ( https://github.com/mui/material-ui/pull/34987 ) , one check has failed due to lack of label for PR, i tried adding it but couldn't figure out how to add label. can you just let me know on how to add labels

[2022-11-02 17:31] RPDeshaies commented on #34910
Also, as a side note, AFAIK NextJS uses [Turbopack](https://turbo.build/pack) / [SWC](https://github.com/swc-project/swc), and not ESbuild.

[2022-11-02 20:26] dtrenz commented on #30230
I'm seeing this bug in version 5.8.1. Has there been a regression?

<img width="239" alt="Screen Shot 2022-11-02 at 4 26 10 PM" src="https://user-images.githubusercontent.com/639833/199595602-547247e2-5eb2-4e9d-8611-43c876ef3e63.png">

[2022-11-02 22:29] ianschmitz commented on #25189
Container queries are available in Chromium as well as Safari. No impl. in Firefox but looks like they're working on it!

https://caniuse.com/css-container-queries
https://bugzilla.mozilla.org/show_bug.cgi?id=1744221

[2022-11-02 22:32] stoplion commented on #31835
Same issue, the solutions here don't work for me.

[2022-11-02 23:35] 58bits opened #34991 "[system] Updated entry.client.tsx for remix-with-typescript example app"
Would be happy to submit this as a PR as well...

Here's an updated `entry.client.tsx` file for the remix-with-typescript example app, based on the latest Remix QuickStart and React 18 (using hyrdrateRoot as opposed to hydrate)

Not sure about `entry.server.tsx` yet as emotion does not support `renderToPipeableStream`?

https://github.com/emotion-js/emotion/issues/2800

[code]

[2022-11-03 02:30] akshaya-venkatesh8 commented on #34801
I am on it.

[2022-11-03 06:31] ZeeshanTamboli commented on #33709
Closing this as it got fixed in `@mui/material` version `5.10.11` with the renaming of `components` prop to `slots` prop.

[2022-11-03 06:31] #33709 closed

[2022-11-03 07:01] #34801 closed

[2022-11-03 08:10] siriwatknp commented on #34989
To be honest, Yes but it is in a good shape to try it out. I don't think there will be a big change in the near future (will make it stable in the next major release of v6).

I'd encourage you to try it out and let us know how it goes because it is an opt-in feature without breaking changes so I think it should not impact your business logics.

We are incrementally migrating https://mui.com to use

[2022-11-03 08:24] #34746 closed

[2022-11-03 08:32] siriwatknp commented on #34176
From https://github.com/mui/material-ui/pull/34994, using `Input` directly instead of the `TextField` let me focus on the composition to create a horizontal text field without banging my head with the `TextField` customization.

<img width="477" alt="Screen Shot 2565-11-03 at 15 31 53" src="https://user-images.githubusercontent.com/18292247/199676514-329736d8-7817-46a3-ae27-ac7456b2258e.png">

[2022-11-03 09:02] MrsDun opened #34995 "[Pagination] Accessibility issues when clicking the previous page and the next page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:

Steps:

1. click "next page" button or "prev page" button continuously

### Current behavior 😯

When the “next page“ button was activated with Enter/Space continuously, the screen reader lack of feedback.

<img width="240" alt="imag

[2022-11-03 09:13] michaldudak commented on #34961
I think the issue you're seeing is related to the viewport resizing when the on-screen keyboard is open. The height of the yellow area is defined as `100vh`, and since this value changes when the keyboard opens, the area shrinks. It is not related or caused by Material UI components, so I'm closing the issue.

[2022-11-03 09:13] #34961 closed

[2022-11-03 09:24] #34312 closed

[2022-11-03 09:35] rompeldunk commented on #30562
This is more or less the exact setup I have too. When opening a Dialog with another DataGrid inside the column.type check fails

[2022-11-03 09:43] michaldudak commented on #34903
@shivak-cbre Have you tried using native textarea with the `maxlength` attribute instead? It doesn't feel like a Material UI issue.

[2022-11-03 09:49] shivak-cbre commented on #34903
No, i haven't tried . I will check

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Michał Dudak ***@***.***>
Sent: Thursday, November 3, 2022 3:13:46 PM
To: mui/material-ui ***@***.***>
Cc: Kongara, Shivakrishna @ Global D&T Contractor ***@***.***>; Mention ***@***.***>
Subject: Re: [mui/material-ui] [TextField] maxLength not working in android device browse

[2022-11-03 09:57] michaldudak commented on #30562
@rompeldunk For problems with DataGrid please open an issue in the https://github.com/mui/mui-x repo.

@AlbinoGeek I still cannot reproduce the issue. I installed Dark Reader, turned on Slow 3G emulation, went to https://mui.com/material-ui/material-icons, and started to type in the search box while the page was still loading. The search didn't work at first, but there were no crashes.

In the con

[2022-11-03 10:15] aaarichter opened #34996 "[Autocomplete] `renderInput` has problems with `InputLabelProps` typings"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

just create an autocomplete like this

example1
[code]

or

example2
[code]

### Current behavior 😯

Example 1 throws following typescript error
![Screenshot 2022-11-03 at 11 05 54](https://user-images.githubusercontent.com/2707029/199694421-e34bc146-b95a

[2022-11-03 10:33] hbjORbj commented on #34979
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-11-03 10:43] michaldudak commented on #34996
The examples you pasted do indeed fail, but for a different reason: `Property 'options' is missing...`
When I added the missing prop I wasn't able to reproduce the problem you're describing (using the latest @mui/material: 5.10.12). Could you prepare a codesandbox or a repo that suffers from this problem?

[2022-11-03 10:46] rabbanirizwan commented on #34988
![6zchwr](https://user-images.githubusercontent.com/33807776/199701492-628fa95a-8d74-41ec-9dee-38b478bfc13d.gif)

@ad185412  it seems to be working fine

[2022-11-03 11:14] joaottc commented on #32749
same thing here

[2022-11-03 11:18] maria-mcparland commented on #32749
+1

[2022-11-03 12:21] aaarichter commented on #34996
@michaldudak thanks for looking into it and suggesting the missing `options` .. its so hard to read those typescript errors.

I actually reverted all my package updates and installed them one by one and after that the error was gone. super weird.

I'll see if I can create a codesandbox and reproduce this issue there

[2022-11-03 14:23] SirRodney commented on #31235
+1

[2022-11-03 14:54] aaronlademann-wf commented on #34989
Thank you @siriwatknp !!!

[2022-11-03 14:54] #34989 closed

[2022-11-03 18:21] RubenMoraVargas commented on #10571
I fix this problem installing the correct library in my case
`npm i @mui/icons-material`
`yarn add @mui/icons-material`

[2022-11-03 18:55] RyanBarclay opened #34998 "[Autocomplete] Keyboard arrow key option selection broken with custom PopperComponent and renderInput"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example:
- [Simplified Sandbox example](https://codesandbox.io/s/mystifying-blackburn-cczzgn?file=/demo.tsx:946-957)
- [On MUI Docs](https://mui.com/material-ui/react-autocomplete/#githubs-picker)

Steps:

1. Click on autocomplete component.

[2022-11-03 19:26] xavier-villelegier opened #34999 "[SwipeableDrawer] Missing close animation when initial `open` is `true`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/dry-brook-9umj8k?file=/src/App.js

Steps:

1. Render a SwipeableDrawer with an initial `open` to `true`
2. Close it by clicking on the backdrop / swiping it down
3. There isn't any animation on the closing. I

[2022-11-04 02:06] sai6855 commented on #34999
Hey mui team, if anyone you can confirm this is bug I'm willing to work on this issue

[2022-11-04 02:42] ishangupta01 commented on #5861
If someone is still looking for a solution, adding `inputProps` inside `renderInput` like this worked for me —
[code]

[2022-11-04 07:21] ZeeshanTamboli commented on #33054
I am not sure what is the issue here. Custom color does work with typescript with module augmentation and can be augmented. If the custom color is not defined in the palette it will crash.
CodeSandbox: https://codesandbox.io/s/vigorous-bardeen-7pnhv6?file=/src/App.tsx

[2022-11-04 08:52] Zenoe opened #35000 "Table cell cuts successive spaces to 1 space"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/ew2l4q?file=/demo.js

Steps:
It's the demo provided by MUI.
As the image shows, modify the string value by adding more spaces in between `Frozen`  and  `yoghurt`, the value display in the table is only one sp

[2022-11-04 08:52] aftab-onefc commented on #6957
I am also facing same issue

[2022-11-04 09:01] keemor commented on #5185
I have latest @mui/material: ^5.10.12, but this issue still exists

Scrollbar disappears when opening TextField with select prop, so I added:

[code]

in

[code]

[2022-11-04 09:29] ZeeshanTamboli commented on #34753
Fixed by #33162

[2022-11-04 09:29] #34753 closed

[2022-11-04 09:40] michaldudak commented on #34980
Thanks for reporting this. The bug stems from the FocusTrap not being aware it's inside shadow DOM. It uses `document.activeElement`, which is being set to the shadow root, not the element that actually has focus within the shadow DOM.

The fix would likely involve replacing `document.activeElement` by `node.getRootNode().activeElement`. Would you like to work on a PR?

[2022-11-04 10:03] lubaskinc0de opened #35002 "[question] Find source code of MUI docs navbar"
### Question

Where is the source code for the header at https://mui.com/material-ui/getting-started/overview/ , i can't find it

### Resources and benchmarks 🔗

![photo_2022-11-04_13-02-39](https://user-images.githubusercontent.com/100635212/199946281-34e98f86-f062-4dcc-a397-3dee59623ee8.jpg)

[2022-11-04 10:16] CodingItWrong opened #35006 "[question] Multiple instances of MUI and Emotion in the same page"
### Order ID 💳

50070

### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### The problem in depth 🔍

We would like to use MUI and MUI X in a microfrontends context. Each microfrontend team needs to be able to upgrade at their own pace, so we would like each microfrontend to have its own instance of MUI and Emotion. But Emotion gi

[2022-11-04 13:57] omerman commented on #33563
🙄 It is important. can be achieved easily if sx would accept css object like so >

[code]

[2022-11-04 14:05] sabotag commented on #12188
@oliviertassinari, hi, how about for mui v5? Thanks

[2022-11-04 14:12] maneetgoyal commented on #33563
One solution that worked for me was to explicitly pass "dir = ltr" to components I don't want to flip.

[2022-11-04 14:15] omerman commented on #33563
Not all components have a dir attribute, this should be solved by Mui

On Fri, Nov 4, 2022, 4:12 PM Maneet Goyal ***@***.***> wrote:

[2022-11-04 14:19] leonbloy commented on #33155
To those working on this issue:

The spacing in Stack causes many problems.

It does not plays nicely with Divider (variant=middle) and also with margins of children ( it treats the first item differently)

Here's a sample

https://codesandbox.io/s/wandering-pine-mdluzs?file=/demo.tsx

In this example, all works ok without spacing. With `spacing={2}` , the Divider middle attribute is lost, and the

[2022-11-04 14:56] #34895 closed

[2022-11-04 14:58] oliviertassinari commented on #34895
I'm closing as it feels like this issue would be a never-ending discussion.

@siriwatknp If you want to push for `invertColors` over `invertedColor`, on my end, I think that both are 👍

[2022-11-04 15:24] alexfauquette opened #35004 "[docs] Simplify redirection from API to components docs pages"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

For users not familiar with the documentation, the API page can be hard to read. And it's not obvious that you should:
- go to the left menu
- open "components"
- select the component you are looking for

There is already a list of all the demonstrations at the bott

[2022-11-04 16:57] nishina-y commented on #31235
+1

[2022-11-04 17:03] trizotti commented on #34722
I'm giving it a try: #35005 ; but I'm facing the following error on CI checks and I don't know why:
![image](https://user-images.githubusercontent.com/26180773/200032571-5dccd254-7346-4198-9073-a7cefa525747.png)

[2022-11-04 18:54] cfator commented on #5711
We need to be able to add some sort of identifier for UI automation script to hook into.  This is likely needed by many, not sure why this is closed.

[2022-11-04 19:45] MBeggiato commented on #34912
Thank you so much!

[2022-11-04 20:37] michaldudak commented on #34895
#css-classes still stands for Material UI, doesn't it? As for #nested-components - in general, yes, but right now we've got a mixture of *Props (more widespread) and slotProps.* (only in a few places).

[2022-11-04 23:21] SENSIB0I commented on #33362
I found a easier way to do it. Try passing something like this to actionIcon prop

[code]

[2022-11-05 04:54] CalebJamesStevens commented on #34910
@altechzilla is this still happening to you? Same exact error happening to me today

[2022-11-05 05:18] dejurin commented on #34910
Also I was have same error

[2022-11-05 06:02] CalebJamesStevens commented on #34910
https://github.com/mui/material-ui/pull/35008

Opened PR to fix issue

[2022-11-05 06:23] dangoodman commented on #34980
I had a patch utilizing `node.getRootNode().activeElement` for the 4.x version of FocusTrap. It worked then. So, I have tried to patch the 5.x version similarly but have had no luck. The new code seems a bit trickier. I'm not sure if I have enough understanding about the browser-specific aspects and the logic in general.

[2022-11-05 10:26] ZeeshanTamboli commented on #33054
Then what styles are you applying with the custom color? Why are you calling it with `color=textPrimary`? What is the use of it?

Yes it works, but if it is not in the palette why should it unnecessarily calculate `theme.palette?.color?.main` by letting it have nullish check just to prevent crash, but actually not using it?

Am I missing something here?

[2022-11-05 12:46] kiko-lin commented on #32749
@samislam I realize that you are using labs components. I am not. Maybe this is something to check.

[2022-11-05 14:00] hiromaily commented on #15903
I faced a same error by putting just `<Card>` element of MUI from `@mui/material/Card`

[2022-11-05 16:11] shahsuvarli commented on #27582
hey

[2022-11-05 16:20] CalvinJamesHeath commented on #12937
I have two MUI modals overlayed and when I close the second one by going to a new page it doesnt remove from the dom the overflow:hidden css prop.

[2022-11-05 18:10] CarlosSuarezJS20 commented on #15759
Looking for some advice:

I have similar question that the one posted here but I'm implementing navigation with a tab component. When I styled the tab with the styled() I can't add the component={Link} and the to="..." properties. See below:

`// Styling the tab, need to create a
const StyledTab = styled(Tab)(() => ({
  ...theme.typography.tab,
  minWidth: 10,
  marginLeft: "25px",
}));`

and here

[2022-11-05 18:39] SandeshJIT commented on #34719
Is the issue still open? Would like to contribute if it's still open.

[2022-11-05 19:50] smeng9 commented on #33507
Experienced the same issue after https://github.com/marmelab/react-admin/pull/8216

The more general `MuiScopedCssBaseline-root *` should have a lower priority than the specific `MuiSlider-root` rule

The CSS order changes causes weird UI glitches, any updates?

[2022-11-05 20:25] mkyy commented on #16307
life saver! worked 100% using it inside custom typography options with `createTheme`.

[2022-11-06 02:18] JamieKidman commented on #34947
So I just got a beefier laptop and it works as expected, i guess its just intensive.

[2022-11-06 02:19] #34947 closed

[2022-11-06 03:50] JamieKidman commented on #34947
I closed this, i know that there is a library that doesnt render parts of a list if they wouldnt be visible would it be possible to add that to masonry (not saying thats my performance issue I just really like this component like its really good)

[2022-11-06 04:33] shrutivtu opened #35024 "Nested Menu Item List"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Not able to find any feature related to nested Menu Item implementation.

### Examples 🌈

https://www.npmjs.com/package/material-ui-nested-menu-item

### Motivation 🔦

Tried to implement nested menu item in my office project and we are using material ui only so my f

[2022-11-06 13:01] Duoquote commented on #22426
- Product: Location Analytics App
- The problem solved: We used Mui in every piece of UI, it's management of styles make developing user interfaces much easier and make it look good.
- Company: Next Geo

![image](https://user-images.githubusercontent.com/16341937/200171266-36653283-deab-4aac-abe2-f7af4ec7fbd1.png)

[2022-11-06 19:51] jannisg opened #35026 "Using `Omit` in Typescript to remove props from end user breaks `component` and type inference"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/wandering-darkness-mevzqv?file=/src/App.tsx

Example shows this behaviour for a polymorphic component (`Button`) and a simpler component, `Select`.

Steps:

1. Import MUI Component and its component prop type

[2022-11-07 02:32] SpareShade commented on #34923
@mnajdova thank you Marija!!
That hint clarified a lot for me :)

[2022-11-07 02:42] siriwatknp commented on #34071
With the current implementation, the way to fix this with CSS is to use [`:has()`](https://caniuse.com/?search=%3Ahas) but it will be years until we can use it.

What we can do now is change the text color when autofill is detected.

[2022-11-07 02:44] siriwatknp commented on #33987
The issue looks solid. We have another https://github.com/mui/material-ui/pull/35003 related to `index.ts` export.

I think the script will help us prevent this mistake in the future. Feel free to open a PR if you like.

[2022-11-07 02:53] siriwatknp commented on #34827
I would not remove the `color` prop in Joy UI because it refers to the theme palette like other components do:

[code]

However, happy to discuss further to bring consistency to both Material UI and Joy UI.

[2022-11-07 03:26] siriwatknp commented on #33054
@ZeeshanTamboli The issue is solid. From my understanding, it is intended that the `color` prop can be customized from the interface `IconButtonPropsColorOverrides` but developers get TypeError which is not expected.

This is not about the color value (that's the developers' decision), not our. We just provide a way to extend the color.

This PR will fix the issue: https://github.com/mui/material-

[2022-11-07 10:03] siriwatknp commented on #34974
From my perspective, I think we can try it with a new component (`ScrollableTabs`) instead of a flag to enable the scrolling feature.

It seems like a better abstraction in terms of the bundle size. If you use a simple `Tabs`, you won't have the scrolling feature bundled to production. From the code I see in Material UI's Tabs, it looks possible without impacting the styles. cc @mui/core

[2022-11-07 11:05] dhulme opened #35031 "scope prop on TableCell cannot be set as empty"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Link to live example: https://codesandbox.io/s/angry-hodgkin-lw1v2p

Steps:

1. Inspect the generated HTML for the empty table cell
2. `scope` attribute is set to `col`

### Current behavior 😯

If the `scope` prop is set to any falsey value and the `Table

[2022-11-07 11:45] oliviertassinari commented on #34827
@siriwatknp Why does an SvgIcon needs the notion of a theme palette color? I mean, why is the sx API not enough?

[2022-11-07 11:47] oliviertassinari commented on #34071
@siriwatknp What prevents us to fix this like in Material UI?

[2022-11-07 13:42] siriwatknp commented on #34827
The `sx` prop is for instance (local) customization. Having the `color` prop allows you to create your own theme. For example, in ios theme the color is likely to be the `primary` color (system blue):

[code]

In some themes, you might want to have the `default` color, or `neutral` color (in Joy UI) which you can't do it with `sx` prop.

[code]

[2022-11-07 14:01] zignis commented on #34974
I agree, the material version carries the unnecessary bloat of scrolling variant and the isolation to a different component would work great. We can then have props like `prevIcon` and `nextIcon`.