[2015-10-26 16:43] ir-fuel opened #1990 "Error when trying to use Tabs"
I have the following code in my webapp:

    export class TopbarComponent extends React.Component {
        render() {
            let tabs = <Tabs>
              <Tab label="Dashboard" route="dashboard" />
            </Tabs>

When loading the page I get the following error in Chrome debugger

Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a str

[2015-10-26 18:37] #738 closed

[2015-10-26 18:40] oliviertassinari commented on #1893
The PR was marged, hence this issue should be fixed.

[2015-10-26 18:40] #1893 closed

[2015-10-26 18:41] StoneCypher commented on #691
I also have this problem.

It looks like it may be that material-ui unwisely chooses to bundle its own react version, leading to version conflicts.

https://github.com/callemall/material-ui/issues/477

[2015-10-26 18:41] StoneCypher commented on #1902
I also have this problem.

It looks like it may be that material-ui unwisely chooses to bundle its own react version, leading to version conflicts.

https://github.com/callemall/material-ui/issues/477

[2015-10-26 18:43] oliviertassinari commented on #691
What do you mean?

[2015-10-26 18:43] StoneCypher commented on #691
see the linked closed ticket

[2015-10-26 18:45] StoneCypher commented on #691
wait, i may have misunderstood the closed ticket, actually

[2015-10-26 18:50] StoneCypher commented on #1902
I also have this problem with React 0.14 and RR 1.0.0.  It is not clear whether #477 is relevant; on digging through my package I think I only have a single React instance.

[2015-10-26 19:30] wmertens commented on #705
So this just came out:
https://github.com/prometheusresearch/react-stylesheet

Seems like an interesting mix between defining styles in js and using
classes.

The only sane way to solve the server-side rendering issue is by using
classes.

On Mon, Oct 26, 2015, 1:51 PM Aleksey Taranets <notifications@github.com>
wrote:

--

Wout.
(typed on mobile, excuse terseness)

[2015-10-26 19:33] StoneCypher commented on #1881
could you push an RC to NPM with this fixed, please?  still occurs in RC3.  thanks much

[2015-10-26 19:50] otroboe commented on #931
Quite old but... +1 :)

[2015-10-26 20:26] Ohskar commented on #705
Excuse terseness!

Sent from my iPhone

[2015-10-26 20:50] Cavitt commented on #705
@oliviertassinari actually there shouldn't be any reason we can't use useragent when rendering on the server and client.
We should have access to that. The only time to use `*` would be for caching and fallback purposes (unrecognized useragent)

The missing prefixes are computed server-side like autoprefixer would do, but they're also able to be computed client side.
Which solves the issue.

[2015-10-26 20:51] otroboe commented on #931
Ok I found a solution with onFocus() and openDialog(), it's just very tricky to not openDialog() when click on it !

[2015-10-26 20:58] oliviertassinari commented on #931
I think we do. Can you check here http://material-ui.com/#/components/date-picker?

[2015-10-26 21:08] otroboe commented on #931
Yes I checked all of this page, but I had to do that:

[code]
It's ugly but DatePicker is not triggered 2 times.

[2015-10-26 21:14] ayhankuru commented on #1990
export default  class TopbarComponent extends React.Component {

[2015-10-26 21:17] ir-fuel commented on #1990
Shouldn't really matter I think?

In the file where I reference it I use
    import {TopbarComponent} from '....'

[2015-10-26 21:22] ayhankuru commented on #1990
share error?

[2015-10-26 21:23] husek commented on #1897
@andrewhn,

Hi Andrew,
Thanks for your answer, however, i still get the same results as described before.

Any ideas?

[2015-10-26 21:47] oliviertassinari commented on #931
@otroboe Are you using the React-Tap-Event-Plugin?

[2015-10-26 21:49] oliviertassinari commented on #1990
@ir-fuel Are you importing Tabs and Tab?

[2015-10-26 21:51] ir-fuel commented on #1990
yes, both

[2015-10-26 22:03] jpilcher opened #1991 "[Card] Invariant Violation"
`Uncaught Error: Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of 'Presentation'.`

I'm trying to use the Card element but I keep getting this error. I lifted the example from the documentation. I have an AppBar and LeftNav working fine, any insight into what I'm doin

[2015-10-26 22:20] ArthurRougier commented on #1975
@oliviertassinari thanks for your answer, I have to admit that I'm a bit struggling to update to that version. The description corresponding accurately to my problem, I guess it does solve my problem though! I can wait for it to be included in the next update and keep you posted.

[2015-10-26 22:26] andrewhn commented on #1897
Does row selection work briefly when you change your _onRowSelection code to the following?

    _onRowSelection: function(selectedRows){
       setTimeout(function() {
         this.setState({
          selected: selectedRows.slice(0);
         });
       }, 2000);
    },

[2015-10-26 23:31] husek commented on #1897
@andrewhn , Yes, it does work for a short time with this snippet.

[2015-10-27 00:48] andrewhn commented on #1897
@husek So you see that when `render()` is called, your table is 'resetting' to having no rows selected. To get around this, you need to set the `selected` attribute of the `TableRow` components yourself, as in my example above.

[2015-10-27 04:30] andjarnic opened #1992 "AppBar demo is out of date or bug"
I use the following code from the demo:

<AppBar
  title="Title"
  iconElementLeft={<IconButton><NavigationClose /></IconButton>}
  iconElementRight={
    <IconMenu iconButtonElement={
      <IconButton><MoreVertIcon /></IconButton>
    }>
      <MenuItem primaryText="Refresh" />
      <MenuItem primaryText="Help" />
      <MenuItem primaryText="Sign out" />
    </IconMenu>
} />

The right side me

[2015-10-27 05:17] mayagamer opened #1993 "[Table] Very laggy when create more than 20 rows on Chrome"
I tried create 20 rows in a table on Chrome. It becomes very slow to select any rows. But It is ok on Safari.
I don't know if that's the Chrome's problem.

[2015-10-27 05:30] mayagamer commented on #1992
The part of your code and your description is not clear.

[2015-10-27 08:54] husek commented on #1897
ahd strange thing, @andrewhn , it's that i set selected at TableRow, but still doesn't working after the render 'reset', here's an simplified version of my component:

        getInitialState: function(){
            return {
                offset: 0,
                selectedRows: []
            }
        },

        _onRowSelection: function(selectedRows){
            setTimeout(function() {

[2015-10-27 09:20] curdinB commented on #1972
Thanks @turt2live, worked for me as well

[2015-10-27 09:20] #1972 closed

[2015-10-27 12:59] TrySpace commented on #1592
I second this @davidrusu, I hadn't noticed it with resize yet, but sometimes while I would move my mouse to `OK` it would reset the hours to `00`.

[2015-10-27 13:01] otroboe commented on #931
@oliviertassinari Yes. But how do I know if it's correctly enable ?

[2015-10-27 13:04] davidrusu commented on #1592
@TrySpace does the time picker state reset when you resize your window?

[2015-10-27 14:23] isilweo commented on #1991
It is problem of your imports. material-ui/lib/card does not export CardHeader component only Card. CardHeader is in diffrent file - material-ui/lib/card-header

Why don't you do imports in normal way like:
[code]

[2015-10-27 14:33] jpilcher commented on #1991
Thanks! That fixed it. I had tried that but I must have had something else wrong I didn't notice. The file posted was after trying a bunch of things.

[2015-10-27 14:33] #1991 closed

[2015-10-27 14:47] isilweo commented on #1961
I'm using node in CardHeader ```subtitle``` so probably both CardHeader ```title``` and ```subtitle``` should be changed also.

[2015-10-27 14:56] isilweo commented on #1968
If you need to change text color of all inputs in your app or component then you can use Theme Overrides to do this. See *Overriding Theme Variables* section of http://material-ui.com/#/customization/themes

as i see input text is defined in textField.textColor here:
https://github.com/callemall/material-ui/blob/master/src/styles/theme-manager.js#L185

[2015-10-27 15:01] TrySpace commented on #1592
@davidrusu Eventually, yes, but not necessarily immediately. I tried looking in the timeline with chromedevtools, but couldn't find any specific method getting called, although I do suspect it might have something to do with the timer that fires after 100ms? I'm not sure why this is...

[2015-10-27 15:16] pandaiolo commented on #1961
@isilweo this has been changed already in PR  #1950

[2015-10-27 16:07] bingomanatee opened #1994 "Horse With No Name"
The input fields for textField have no name. I actually want them to act like normal text fields with a standard submit. Any suggestions?

[2015-10-27 16:09] #1994 closed

[2015-10-27 19:13] isilweo commented on #1961
Yes, sorry. My mistake.

[2015-10-27 21:14] otroboe commented on #750
So is there any solution except to set autoOk to true ?

[2015-10-27 22:55] afhammad commented on #1871
+1

[2015-10-27 23:03] afhammad commented on #1871
this.props.onLeftIconButtonTouchTap inside app-bar.js is always undefined even if passed in to props.

[2015-10-28 01:02] KaeruCT opened #1999 "<IconButton> has an inconsistent color"
I wanted to make an `<AppBar/>` following the third example on [this page](http://material-ui.com/#/components/appbar).

I wanted to extract the `<IconMenu/>` to a component of my own. However, this resulted in the `<IconMenu/>` using `textColor` instead of `alternateTextColor`.

Here's what I had before:
[code]

Here's what I have now:
[code]

I temporarily fixed this by adding `iconStyle={{color

[2015-10-28 01:40] tracker1 opened #2000 "Bad UX for date picker selection"
Suggest making both the summary display at the top/side, as well as the  MMMM yyyy display above the calendar toggle to the year selection.

Upon clicking/tapping a year (even the same one already selected), return to the month/day selection.

----

Also, it may be worthwhile to have a 12-month view per year as well, so that upon tapping the month, or after a year is clicked, a month selector come

[2015-10-28 04:57] mtw17 opened #2001 "Incompatible with Android 4.2.2 on S3"
Using a Samsung Galaxy S3, Android version 4.2.2, it seems that most (if not all) of material-ui will not work. Buttons cannot be clicked, menus will not open, etc. Is this a known issue, and if so are there plans to address it?

[2015-10-28 06:27] mpseidel commented on #30
Hey everyone. I started using material-ui in a side project and have been following the discussion here and [here](http://reactpodcast.com/2015/08/4-conference-recap-css-vs-inline-styles/).

I wanted to add a few points to the mix:

**Does this make sence for smaller applications?**
I have written a lot of smaller internal web apps for businesses using bootstrap and the like. I have never felt muc

[2015-10-28 07:44] oliviertassinari opened #2002 "Component Action Button"
Would be great to have a component like https://github.com/mastermoo/react-native-action-button. I may work on this.

[2015-10-28 08:49] tur-ing opened #2003 "Only use the CSS of Material UI React Components"
Material UI is a set of React Components that implement Google's Material Design in the best way I have seen so far.

Now I have a project where I am unfortunately not able to use React.js. But I want to use the great CSS the project includes.

Is there any way to embed the styles into my existing project?

http://stackoverflow.com/questions/33386399/only-use-the-css-of-material-ui-react-component

[2015-10-28 10:10] mayagamer opened #2004 "Weird components that can not be referred"
Here is the part of code:

      render(){
        return <div>
           <Table ref='fromform'>
             <TableHeader>
          <TableRow>
            <TableHeaderColumn tooltip='The ID'>No.</TableHeaderColumn>
            <TableHeaderColumn tooltip='The Name'>Name</TableHeaderColumn>
            <TableHeaderColumn tooltip='The Status'>Notes</TableHeaderColumn>
          </TableRow>

[2015-10-28 11:47] simtechmedia opened #2005 "Left Nav stuck on IOS"
G'day guys, I'm getting a Left Nav bar that's docked and stuck in IOS, works fine in android and on desktop

Console says "SyntaxError: Attempted to redefine property 'propTypes'."

![screen shot 2015-10-28 at 10 47 09 pm](https://cloud.githubusercontent.com/assets/2899548/10787544/e1b85b3a-7dc5-11e5-863a-764370559548.png)

Any advice?

[2015-10-28 11:53] isilweo commented on #2003
I don't think you can extract CSS from material-ui because there is no CSS. Whole theme is done using javascript code. In the end inline styles are applied to elements. So it would be better just to use some other frameworks and there are quite few of them right now ie:

materializecss.com
www.getmdl.io
https://fezvrasta.github.io/bootstrap-material-design/

[2015-10-28 12:33] oliviertassinari commented on #1646
I have just came across this project https://github.com/xinthink/react-native-material-kit
Looks promissing. Could be valuable to have a similar API between the two project.

[2015-10-28 16:31] jlebensold commented on #1857
@oozaa did you come up with a solution for this which you can share?

[2015-10-28 16:45] oozaa commented on #1857
Hi, I end it up with forking menu/menu and called it 'suggestionsMenu' and removed code that caused issues. But that component currently is not finished and waits in my back log.

[2015-10-28 17:15] jlebensold commented on #1857
@oozaa good to know! Thanks

[2015-10-28 18:28] jason-henriksen commented on #1787
Did anything ever come of this?  I cannot get any item in LeftNav to respond to a click either.

[2015-10-28 18:50] shaurya947 commented on #1787
Also, linking @oliviertassinari and @hai-cea so they can look into this..

[2015-10-28 18:52] AntonVoltchok commented on #1349
We've been trying to do something along the same lines, would be great if someone could comment on if it's possible to somehow make height / overflow / no scrollbar to work.

[2015-10-28 18:56] oliviertassinari commented on #1349
You try to use the `rowsMax` property.

[2015-10-28 23:18] oliviertassinari commented on #2004
This look like an issue with react but not with material-ui.

[2015-10-29 04:36] wang3g opened #2006 "DatePicker component does not work."
I try to use material-ui in my react project. 'npm install material-ui' was failed when my react.js version is 0.14.0. Then I upgraded react.js to 0.14.1, 'npm install' works! So now I got

"material-ui": "^0.13.0",
"react": "^0.14.1",
"react-tap-event-plugin": "^0.2.1"

In my code, I added
const DatePicker = require('material-ui/lib/date-picker');
\<DatePicker hintText="Portrait Dialog" /\>

then

[2015-10-29 08:25] peteringram0 commented on #468
As far as i can see 90% of components work fine in IE9. However it look like nothing will work on IE8.

I think i would use this for projects that don't require IE8

[2015-10-29 09:19] oliviertassinari commented on #2006
Your import `const DatePicker = require('material-ui/lib/date-picker');` is wrong.

@shaurya947 There is at least 10 open issues with a similar wrong import... I think we really need to add it to the documentation.

[2015-10-29 10:14] simtechmedia commented on #2005
Updated to the newest Material-ui, all working now

[2015-10-29 10:14] #2005 closed

[2015-10-29 11:22] Cavitt commented on #705
I've submitted a PR that might be a suitable solution for most https://github.com/callemall/material-ui/pull/2007.

[2015-10-29 13:50] mayagamer commented on #2004
I found a solution. Change _onShowInfo as below:

      _onShowInfo(tid){
        var player = playerList[index];
        this.refs.playerInfoDialog.show();
        setTimeout(function(){
          console.log(this.refs);
          this.refs.name.setValue(player.name);
          this.refs.notes.setValue(player.notes);
        }.bind(this), 0);
      }

But I don't know why.

[2015-10-29 14:16] oliviertassinari commented on #2004
That's because the children of the dialog are not renderer until the dialog is displayed (for performance reason).
Thanks for posting the solution of this issue

[2015-10-29 14:16] #2004 closed

[2015-10-29 14:20] RichardJECooke commented on #866
I just encounted the same problem and this fixed it. Do you know why you have to declare this single property outside the class rather than in the definition? I don't get it.

[2015-10-29 15:10] shaurya947 commented on #2006
@oliviertassinari agreed. @andjarnic also brought this up in the gitter room.

@andjarnic, would you like to fix these issues with a PR to update the components' docs with the right import statements? Let us know.

[2015-10-29 16:47] isikfsc opened #2008 "Cannot have a Controlled Tabbar with an IconButton"
I cannot have a Controlled Tabbar with an IconButton as in the components-Tabs section of material-ui website. I have used the same code in that page in a complete settings and mocked the prop passed  methods with empty component methods.

The Icon button stays above or below of the tabbar outside it, not as  a part of it.

[2015-10-29 17:07] isilweo commented on #1864
Hey, just my few cents here. I think D3+NVD3 is overkill in size. I'm not sure if nvd3.min.js from their github has already d3.js inside but probably not. nvd3.min.js is 210kb + d3.min.js almost 150kb. This sums to 360kb and this is alot. I would love to use D3 but I will wait until they modularize it - https://github.com/mbostock/d3/issues/2461

Maybe an alternative for this is to use [PathsJS](h

[2015-10-29 17:33] bingomanatee opened #2009 "[docs] Mapping color to components"
It would be good to have a visual guide with the components so we know which colors to change in the map to affect components. its kind of hit and miss when you are defining custom palettes. Also, its not clear how you assign custom palettes to individual components.

[2015-10-29 18:34] oliviertassinari commented on #1864
@jessjohn I'm wondering, are these charts related to the material-design specification?

[2015-10-29 19:17] bORm commented on #1908
Not WORK!

[2015-10-29 20:21] mgibeau opened #2010 "[Date Picker] Year selection is broken"
Trying to select a year from the date picker throws an error, using version 0.13.
`Uncaught TypeError: Cannot read property 'isSelectedDateDisabled' of undefined`

Can be reproduced on:
http://material-ui.com/#/components/date-picker
![](http://i.imgur.com/5NfCTCp.gif)

On the other hand, it seems to work fine if you click the month after selecting the year.

[2015-10-29 20:50] oliviertassinari commented on #1908
Should we reopen this issue?

[2015-10-29 20:50] #1908 closed

[2015-10-29 20:52] oliviertassinari commented on #2010
I will have a look

[2015-10-29 21:27] alexyaseen commented on #642
any update on this?

[2015-10-29 21:37] oliviertassinari commented on #507
I have just merged https://github.com/callemall/material-ui/pull/1907. This add an example of how to achieve the effect you describe. I'm using https://github.com/oliviertassinari/react-swipeable-views. However you could use a different library like https://github.com/jed/react-swipe.

[2015-10-29 21:37] #507 closed

[2015-10-29 21:39] oliviertassinari commented on #87
@giantelk I don't think that this library should implement his own swipe component since the logic has nothing to do with the material spec.
You can use https://github.com/oliviertassinari/react-swipeable-views or https://github.com/jed/react-swipe.

[2015-10-29 21:40] #87 closed

[2015-10-29 21:49] thesbros commented on #866
Because it's a static property of the class, rather than an instance property. If you're using Babel with experimental features, you can do this instead:
[code]

[2015-10-29 22:28] wang3g commented on #2006
Thanks for pointing it out. But what's the correct import statement then? I also tried
const DatePicker = require('material-ui/lib/date-picker/index');

it still does not work.

[2015-10-29 22:30] wang3g commented on #2006
ok. I just got it work. The correct import statement is:

const DatePicker = require('material-ui/lib/date-picker/date-picker');

[2015-10-29 22:33] wang3g commented on #2006
There are a bunch of files in /date-picker directory. Which one should we use? Is there any document for date-picker-dialog.js? What are other components (e.g., calendar-month.js, calendar.js, etc) for?

[2015-10-29 23:47] johnnygames opened #2011 "[TableHeaderColumn] onClick not firing"
I'm working on implementing sorting functionality and cannot for the life of me get `onClick` to fire for `<TableHeaderColumn>`. I see that there is an onClick prop in the docs, but no luck.

[code]

This was just for testing purposes, but the third `<TableHeaderColumn>` does nothing when clicked. It also doesn't fire when passed a `this.handleClick` or other callback. onCellClick being passed to

[2015-10-30 04:25] giantelk commented on #87
OK, that makes. Just wish there was 1 UI framework that provided kitchen sink list of features. It's leading me to look more towards React Native or Swift for mobile app.

[2015-10-30 07:54] denis-sokolov opened #2012 "labelPosition documentation mismatch"
The [documentation claims](http://material-ui.com/#/components/buttons) that `RaisedButton` has a `labelPosition` property, while a `FlatButton` does not. In reality, it is [the opposite](https://github.com/callemall/material-ui/pull/1286/).

[2015-10-30 08:23] oliviertassinari commented on #2012
Your are right, the docs was added to the wrong component!
Do you want to submit a PR to move it?

[2015-10-30 08:27] denis-sokolov commented on #2012
I tried and did not figure out how to do that.
Besides, the proper fix would be to add the option on all buttons, instead of fixing the documentation.

[2015-10-30 08:38] oliviertassinari commented on #2012
I agree, but having a wrong document is event worse.

I will have a look then.

[2015-10-30 08:45] denis-sokolov commented on #2012
Thanks!

[2015-10-30 09:33] mimcabrera opened #2013 "Server rendering breaks"
In my code I added

import {DatePicker} from 'material-ui';
<DatePicker hintText="Portrait Dialog" />

Then i've got error
ReferenceError: document is not defined
at [object Object].componentWillMount (~/node_modules/material-ui/lib/overlay.js:64:34)

I also change my import to
const DatePicker = require('material-ui/lib/date-picker/date-picker');

Still no luck

[2015-10-30 12:41] oliviertassinari commented on #2012
@denis-sokolov Can you have a look at https://github.com/callemall/material-ui/pull/2014?

[2015-10-30 14:57] vijayrawatsan opened #2015 "Getting client server render error?"
React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of server rendering. Instead, figure out why the markup being generated is different on the clien

[2015-10-30 15:02] oliviertassinari commented on #2015
Can you have a look at https://github.com/callemall/material-ui/pull/2007?
I'm closing it since it's a duplicate of https://github.com/callemall/material-ui/issues/705.

[2015-10-30 15:02] #2015 closed

[2015-10-30 16:00] bORm commented on #1908
yes, reopen!
I`am trying
npm i material-ui

git clone https://github.com/callemall/material-ui.git
npm i
gulp

and dropdown not work

[2015-10-30 16:22] bORm commented on #1908
Clone this repo for view example
https://github.com/bORm/mui-react-0.14.0

[2015-10-30 17:55] mgibeau commented on #2013
Getting this error too with the latest release, hash that introduced this
https://github.com/callemall/material-ui/commit/d25d12287b1527bde12f15b6d5c2fae473826a4a#diff-26176e848c2cae459bdd7e0ce928752b

[2015-10-30 19:04] oliviertassinari commented on #2013
Any idea on how to fix it?

[2015-10-30 19:57] mgibeau commented on #2013
Hard to say without having the context of was the issue, but reverting to `componentDidMount` works on my end. @mmckelvy Can you validate?

[2015-10-30 20:01] ftorre104 commented on #1000
I'm working on a large, isomorphic react application using react-router and fluxxor. We have the exact problem. The responsive site works fine on new/faster computers -- tested and works fast on iPhone 6, and MacBookPro. However it is noticeably slower on older devices. We've tested Android on Samsung Note 2 running Android 4.3 and older Windows computers.

We've profiled the timelines and it appe

[2015-10-30 20:48] raptoria opened #2017 "IE 10 tab component, Invariant Violation error"
I'm getting the following error in IE10

SCRIPT5022: Invariant Violation: Component (with keys: getDOMNode,mergeStyles,mergeAndPrefix,_checkClickAway,_bindClickAway,_unbindClickAway,componentClickAway,isOpen,close,open,_handleItemTouchTap,_handleMenuEscKeyDown,props,context,state,refs,_reactInternalInstance) contains `render` method but is not mounted in the DOM
main.js, line 896 character 6

it s

[2015-10-30 23:51] dlindahl opened #2018 "Snackbar's get stuck open when receiving new props, regardless of nature"
The changes in lines [93-113](https://github.com/oliviertassinari/material-ui/blob/f53ea39a1b99aa8791ff9ad312be37a1dcfe0fb7/src/snackbar.jsx#L93-L113) of #1668 broke my usage of Snackbars. If the component receives new props while it is open, the Snackbar is closed, regardless of the nature of the new incoming props. And then, when the "`_oneAtTheTimeTimerId`" executes, the Snackbar opens, again r

[2015-10-31 02:21] mmckelvy commented on #2013
@mimcabrera @mgibeau Odd that `document` would be undefined.  Are you by any chance rendering on the server?

[2015-10-31 03:10] mayagamer commented on #1993
It turns out affect Chrome on all platforms

[2015-10-31 03:18] mayagamer opened #2019 "[Table] Uncheck SelectAll Checkbox doesn't trigger onRowSelection event"
In a Table component, Uncheck SelectAll Checkbox doesn't trigger any event. And right after Uncheck it, if you tap the checkbox of any row, onRowSelection event passes an array ending with 'undefined' item.

![30a7973a-2e00-4cfb-ac04-bfc86e0fd815](https://cloud.githubusercontent.com/assets/1431032/10861597/09c55f9a-7fc1-11e5-8008-fa21a4fb17ad.png)

[2015-10-31 06:52] codejunkienick opened #2020 "Ovelay.js document issue"
I've an issue with overlay.js on line 64 when I am using 0.13.1 version
[code]
But it's okay on version 0.13.0. The only difference is that on line 64 in overlay.js componentDidMount changed to componentWillMount. So  i don't know if thats problem on my server setup or else.

[2015-10-31 08:18] oliviertassinari commented on #2020
This is a duplicate of https://github.com/callemall/material-ui/issues/2013. I'm closing this one.

[2015-10-31 08:18] #2020 closed

[2015-10-31 08:19] oliviertassinari commented on #2013
@mmckelvy Can't we just go back to use `componentDidMount`?

[2015-10-31 08:24] oliviertassinari commented on #1993
My best guess here is that we have a rerendering issue. Implementing the shouldComponentUpdate may help.

[2015-10-31 08:25] oliviertassinari commented on #2019
Is https://github.com/callemall/material-ui/pull/1609 solving your issue?

[2015-10-31 08:51] oliviertassinari commented on #2018
@dlindahl Thanks for openning this issue.

Regarding the logic of those line of code. The goal is to acheive the material spec stating that only one snackbar should be displayed at the same time.
In ordre to do it, the first step is to have only one instance of this component.
Then, we also have to solve the following problem : update the message displayed while the snackbar is already displaying

[2015-10-31 09:10] bastienJS commented on #2000
True, the MS Calendar control has a good year/month navigation!

[2015-10-31 09:20] mayagamer commented on #2019
imho it's better to return a array no matter they are all selected or all unselected. But return 'none' is better than nothing.
And there's another issue described in my op, after uncheck the "select all" checkbox, if you tap a checkbox of any row, you get an array ending with "undefined", just like the pic above.

[2015-10-31 10:13] oliviertassinari commented on #2019
I have merge the latest PR. I have also noticed the second issue.
I don't really know how the table is working, do you want to submit a PR to fix it?

[2015-10-31 10:18] oliviertassinari commented on #2013
@mmckelvy @mimcabrera @mgibeau Could you have a look at https://github.com/callemall/material-ui/pull/2021?

[2015-10-31 11:19] oliviertassinari opened #2023 "[DatePicker] test fails for the 31 of October"
Calling addMonths with 31 of October return 1 of December,
while we expect November.

See https://github.com/callemall/material-ui/pull/2022.

[2015-10-31 11:29] oliviertassinari commented on #2018
@dlindahl Can you see if https://github.com/callemall/material-ui/pull/2024 fix your issue?

[2015-10-31 17:41] davide-ganito commented on #1789
I'm interested in this too.

[2015-10-31 19:41] turka50 opened #2028 "[TableHeader] Getting error message with key"
I copied and pasted the example in the docs to start testing this and i'm getting this error :
Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `TableHeader`. See https://fb.me/react-warning-keys for more information.

I tried setting the key value for the child components but nothing help.

**EDIT :  actually even the example in the website s

[2015-10-31 22:00] vjeux commented on #1951
The way we deal with this on React Native which uses inline styles is by providing "customization points" as @cosminnicula mentioned. Using the same example, it would look like this:

[code]

and to implement it

[code]

[2015-11-01 04:02] mayagamer commented on #2019
Sorry, I am just a casual developer. I don't understand what PR is. :stuck_out_tongue_closed_eyes:  But I do think that is a bug.

[2015-11-01 05:51] ayhankuru commented on #1789
http://www.getmdl.io/index.html

[2015-11-01 06:26] celiao commented on #1151
It would be really nice to get this fixed, so the vertical spacing is the same whether there is errorText or not.  https://www.google.com/design/spec/patterns/errors.html#errors-user-input-errors

[2015-11-01 06:41] celiao opened #2032 "[TextField] Why is the vertical spacing of errorText different without and with floatingLabelText?"
Without floating label text:
![image](https://cloud.githubusercontent.com/assets/5824630/10867614/b7216b2c-8028-11e5-938d-0a6e3f42a00b.png)

With floating label text:
![image](https://cloud.githubusercontent.com/assets/5824630/10867618/c7d6bec2-8028-11e5-960b-c06c9f3ba31a.png)

I like the spacing in the top image better.

[2015-11-01 09:44] kritollm opened #2033 "Custom theme only works with Decorator"
I can't figure out why this code only works when using decorator:

    import ThemeManager from 'material-ui/lib/styles/theme-manager';
    import rawTheme from  '../rawTheme.js';

    import ThemeDecorator from 'material-ui/lib/styles/theme-decorator';

    // If I comment out @ThemeDecorator
    @ThemeDecorator(ThemeManager.getMuiTheme(rawTheme))
    class App extends React.Component {
        c

[2015-11-01 13:05] kritollm commented on #2033
It now works, I leave it here in case some other have the same problem.

    class App extends React.Component {
        constructor() {
            super();
        }

        // This also works
        //static get childContextTypes() {
        //    return {muiTheme: React.PropTypes.object};
        //};

        static childContextTypes = {
            muiTheme: React.PropTypes.object

[2015-11-01 13:05] #2033 closed

[2015-11-01 15:45] bORm commented on #1908
up

[2015-11-01 15:46] #2028 closed

[2015-11-01 15:49] #1964 closed

[2015-11-01 15:59] oliviertassinari commented on #1583
Duplicate of https://github.com/callemall/material-ui/issues/2028

[2015-11-01 15:59] #1583 closed

[2015-11-01 22:02] yuyabee opened #2034 "Timepicker's height(style) is broken when used inside Dialog"
<img width="827" alt="screen shot 2015-11-01 at 1 46 38 pm" src="https://cloud.githubusercontent.com/assets/3094688/10871549/065a4e40-809f-11e5-93b8-6b9f920cc1e0.png">

It can be fixed by adding ```height: 64``` below https://github.com/callemall/material-ui/blob/master/src/time-picker/time-picker-dialog.jsx#L75

<img width="863" alt="screen shot 2015-11-01 at 1 47 55 pm" src="https://cloud.github

[2015-11-02 04:29] Beingbook commented on #1974
+1

[2015-11-02 04:40] Beingbook opened #2035 "accessing document in componentWillMount problem"
Hi.

I'm using material-ui with react-starter-kit.
When server side rendering, accessing DOM in componentWillMount can't be accept.
In file material-ui/lib/overlay.js 64 line, it may reference document.

So it doesn't work. Can I get any solutions?

Thank you.

[2015-11-02 07:00] agat commented on #764
+1

[2015-11-02 07:23] oliviertassinari commented on #2035
https://github.com/callemall/material-ui/pull/2021 should fix your issue. Can you confirm?

[2015-11-02 10:24] mayagamer commented on #1974
+1

[2015-11-02 12:01] oliviertassinari commented on #515
@sarink Do we stil experience this issue?

[2015-11-02 12:02] oliviertassinari commented on #634
@louy Thanks for the answer. I think we can close this issue.

[2015-11-02 12:02] #634 closed

[2015-11-02 12:07] oliviertassinari commented on #1471
`react-draggable2` was removed from this project.

[2015-11-02 12:07] #1471 closed

[2015-11-02 12:10] oliviertassinari commented on #1551
@izziaraffaele You PR was merged, so the issue should be fixed

[2015-11-02 12:10] #1551 closed

[2015-11-02 12:14] oliviertassinari commented on #1794
I'm closing this issue since https://github.com/callemall/material-ui/pull/2007 is solving it.

[2015-11-02 12:14] #1794 closed

[2015-11-02 12:16] oliviertassinari commented on #1878
@zanjs Should be fixed with the latest release of Material-ui.

[2015-11-02 12:16] #1878 closed

[2015-11-02 12:19] oliviertassinari commented on #1931
Should be fixed now.

[2015-11-02 12:19] #1931 closed

[2015-11-02 12:30] felarof99 opened #2036 "Anyone tried Material-UI with Cordova? Is it slow?"
I created a simple ReactJS + Material-UI application with Tabs, Left Nav... Packaged it using Cordova and ran it on my Android phone.  I was a bit disappointed because touch events (like changing to a different tab) lagged slightly and UI (ripples...) in general was not as responsive as using a simple Bootstrap Material Theme (like Bootswatch Paper - https://goo.gl/zw0W1I).

Does anyone feel the s

[2015-11-02 12:40] RichardJECooke opened #2037 "Prevent elements of Paper from affecting Paper margin"
The 1rem top margin on a heading makes the Paper element move down, not the heading.

**Code:**
[code]
**Example:**
See in this screenshot how the top of the paper is incorrectly 1rem down the page.
![untitled](https://cloud.githubusercontent.com/assets/5468805/10881877/2404a6fe-816f-11e5-9d42-51a6c861e2a0.png)

[2015-11-02 12:42] cgestes commented on #2036
It's working decently well for me.

I'am using a crosswalk with cordova to get a more modern chrome.

MUI doesn't work correctly on all chrome.

are you compiling in release?

[2015-11-02 12:45] RichardJECooke commented on #1460
If layout isn't supported there should be a note under Layout in the [documentation](http://material-ui.com/#/components).

Because people are going to keep asking where to get the standard Material margins to do stuff like [this](https://www.google.com/design/spec/layout/metrics-keylines.html#metrics-keylines-keylines-spacing).  I know it's the first thing I went looking for.

[2015-11-02 12:48] oliviertassinari commented on #2036
You can have a look a thttps://play.google.com/store/apps/details?id=com.split.app. For me, it's not too bad.

[2015-11-02 13:39] felarof99 commented on #2036
@cgestes I'm using reactify to transform JSX into JS. Is that what you mean by compiling?

@oliviertassinari I'm probably getting the same perf as your app. But I was expecting react to be much smoother, like this app - https://play.google.com/store/apps/details?id=com.thinkmill.react_europe (its not using Material-UI)

[2015-11-02 15:00] weneverfail commented on #1812
@epferrari Seems like a good suggestion, @hai-cea could you take a look at this thread when you have time and give us some input? Would be greatly appreciated, thanks.

[2015-11-02 17:18] pokemane commented on #478
I'm having this same issue, and I also have react-tap-event-plugin installed and injected in my app entry point.  ```<MenuItem />``` is where I found it first, and I saw that ```<MenuItem />``` doesn't expose the onTouchTap prop like its ancestors ```<ListItem />``` and ```<EnhancedButton />```.  Trying to add the prop to the list in ```<MenuItem />``` doesn't seem to have an effect, which seems t

[2015-11-02 18:42] Ganonside opened #2038 "IconMenu throws invariant violation"
I'm getting the following invariant violation when trying to use IconMenu:

[code]

This is a snippet from my `render` method:

[code]

Versions:
material-ui: v0.13
react: v0.14

Note: It might be worth mentioning that I am using react-router and redux. But I don't think that has any direct bearing on this issue.

[2015-11-02 18:52] sylvaiam commented on #1151
Thanks for the workaround, @WolfspiritM. I don't foresee needing more than two lines for an error message so this should work for me

[2015-11-02 19:02] chmann commented on #1968
It's not in the docs but you can use inputStyle as a prop to TextField to style the input directly.

[2015-11-02 20:02] mbrookes opened #2041 "[Datepicker] Performance proportional to date range set."
The default date range of (current-date +/- 100 years) negatively impacts performance. A narrower default date range default (+/- 1 year?) would help performance out of the box, but ultimately Datepicker should be able to handle any sensible date-range.

Ref: https://github.com/mbrookes/formsy-material-ui/issues/18

[2015-11-02 20:03] oliviertassinari commented on #2041
Even with this https://github.com/callemall/material-ui/pull/1905 merged?

[2015-11-02 20:05] mbrookes commented on #2041
@funkybunky - what version of formsy-react are you using?

[2015-11-02 22:16] wilkerlucio commented on #1529
Having this issue here, @Pendla approach almost works, except after reseting the component the text doens't clears up, I'm using floatingText, the floating text goes back to it's original position but the old value still present there.

[2015-11-02 22:34] Lokeh commented on #1902
I am also seeing this same message using `IconButton`.

[2015-11-02 23:22] Beingbook commented on #2035
Oh, I see.
It will be fixed if the commit applied.
Is there way to apply the commit for now?

[2015-11-02 23:34] oliviertassinari commented on #2035
You can use this specific commit in the package.json.

[2015-11-02 23:34] #2035 closed

[2015-11-03 00:55] CalebEverett commented on #1633
I got this to work by adding a few lines to the _onWindowResize function in left-nav.js:

[code]

[2015-11-03 02:21] rhythnic commented on #204
+1

[2015-11-03 09:47] zanjs opened #2046 "server rendering Warning then use ui"
Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of server rendering. Instead, figure out why the markup being generated is different on

[2015-11-03 10:00] oliviertassinari commented on #2046
This is a duplicate of https://github.com/callemall/material-ui/issues/705

[2015-11-03 10:00] #2046 closed

[2015-11-03 11:02] denis-sokolov commented on #2012
Closed by #2014.

[2015-11-03 11:02] #2012 closed

[2015-11-03 11:06] #2018 closed

[2015-11-03 12:04] Webkadabra opened #2048 "Server-side rendering is broken - document not defined"
Just updated to 0.13.1, now I have this error:

[code]

[2015-11-03 12:31] oliviertassinari commented on #2048
@Webkadabra Duplicate of https://github.com/callemall/material-ui/issues/2013. Can you pull the latest master?

[2015-11-03 12:31] #2048 closed

[2015-11-03 13:09] Webkadabra commented on #2048
@oliviertassinari thanks! Having some issues building material-ui and can't debug it now, will be looking forward to hotfix release! I'd love to see 0.13.1.1, why not!

[2015-11-03 13:14] oliviertassinari commented on #2048
@Webkadabra 0.13.2 may come by the end of the week.

[2015-11-03 13:19] Webkadabra commented on #2048
@oliviertassinari Nice! BTW, just applied fix manually and it works. Thanks!

PS
Are tests not covering server-side rendering bugs? I'm new to JS test writing, just wondering if this is something not trivial to test?

[2015-11-03 13:21] funkybunky commented on #2041
Sorry guys, I realized that I've been using material-ui@0.12.1
Updating it to v0.13.0 (with 0.13.1 I had a RTL error message) really improves the perf a lot. Just played around with reducing the date-range to a year and couldn't notice much of a speed difference afterwards (but didn't any perf script on this, just my feeling).
So, from my perspective, we can close this. Sorry for the hassle.

[2015-11-03 13:22] oliviertassinari commented on #2048
@Webkadabra The test coverage is REALLY something that we have to improve. I can't answer, I just don't know.

[2015-11-03 13:22] #2041 closed

[2015-11-03 14:07] Webkadabra commented on #2048
Got it!

[2015-11-03 16:11] jgoux opened #2050 "Wrong Dialog focus when opened from a ListItem"
Hello,
I have a `List` in which each `ListItem` contains a `Dialog`
When I click on a `ListItem` to open its `Dialog`, the focus stays on the `ListItem`, so I'm unable to close the `Dialog` by clicking on the background.

The only option I pass to the `Dialog` is `autoScrollBodyContent={true}`

Here is an example of the issue :
![bug](https://cloud.githubusercontent.com/assets/1443499/10913309/a50

[2015-11-03 17:14] raptoria opened #2052 "Dropdown menu style problem"
Using the default Dropdown menu from the guides, I get this:
![image](https://cloud.githubusercontent.com/assets/7387035/10914964/ab2325a8-8222-11e5-94c4-3281ba1308f1.png)

I want to change the background of the MenuItems to white, and leave the default first selected item  background transparent. eg,
![image](https://cloud.githubusercontent.com/assets/7387035/10915182/a8859276-8223-11e5-8790-4977

[2015-11-03 18:43] oliviertassinari commented on #1646
I have opened this issue in this direction https://github.com/xinthink/react-native-material-kit/issues/51.

[2015-11-03 18:56] oliviertassinari commented on #1522
Should be fixed now

[2015-11-03 18:56] #1522 closed

[2015-11-03 19:36] pandaiolo commented on #1938
I did that more or less, thanks !

[2015-11-03 19:36] #1938 closed

[2015-11-03 20:48] Thomsos opened #2053 "[IconMenu] Invariant Violation: findDOMNode was called on an unmounted component"
I am using IE 11, React 0.14.2 and Material UI 0.13.1. When navigating away from a component using IconMenu, this error is occurring. The error is not being reproduced in Chome.

This error can also be seen when using IE 11 here: http://material-ui.com/#/components/icon-menus

[2015-11-03 20:52] bORm commented on #1908
up

[2015-11-03 21:30] BenNG commented on #1842
Tested with material-ui:0.13.1 it works
I close :)
Thx !

[2015-11-03 21:30] #1842 closed

[2015-11-03 21:32] BenNG commented on #1791
v0.13.1 does the thing :)

[2015-11-03 21:32] #1791 closed

[2015-11-04 08:22] izziaraffaele commented on #2013
Still getting this error.... Please guys don't close the issue if your are not sure it's solved and merged. You just confuse people

[2015-11-04 08:25] oliviertassinari commented on #2013
@izziaraffaele Is this the same error?If now, could you open a new issue with the log so that we can have a look. Thank.

[2015-11-04 08:34] izziaraffaele commented on #2013
The issue is always the same... you use document in componentWillMount which brakes server side rendering since the DOM is not available on server side.

in overlay.jsx
[code]

[2015-11-04 08:48] oliviertassinari commented on #2013
https://github.com/callemall/material-ui/blob/master/src/overlay.jsx#L57

[2015-11-04 08:54] izziaraffaele commented on #2013
Exactly what I meant... I did npm installl from scratch, got the error "document not defined", found the problem on componentWillMount, I came here to report the issue but I saw you already solved the problem and close the issue.

Remember that what people get is this https://github.com/callemall/material-ui/blob/v0.13.1/src/overlay.jsx, so even if you fix the issue keep it open till you'll merge

[2015-11-04 08:58] oliviertassinari commented on #2013
@izziaraffaele I see your point. Well, It's a matter of convention. Do we close an issue once it's merged to master or once it's released?

[2015-11-04 09:22] oliviertassinari commented on #2013
Sorry for that. @shaurya947 Can we do a hotfix release?

[2015-11-04 09:22] izziaraffaele commented on #2013
How many people are using your master branch? how many popole are using your stable release instead? For how many people this is still an issue?

It doesn't matter if you solve it in the master branch, in you local machine or in the branch XYZ... Is it an issue for most people using your package? Then it should stay open...

[2015-11-04 09:25] oliviertassinari commented on #2013
@izziaraffaele I disagre. I'm gonna follow the facebook convention for react here. For instance https://github.com/facebook/react/issues/5337.

[2015-11-04 09:28] jgoux commented on #1521
I'm also interested by this too. It's impossible to change even by adding a custom class.

[2015-11-04 09:44] izziaraffaele commented on #2013
@oliviertassinari not sure if it's a "convention" or it's just what they did in that case ( BTW it's a feature not a bug ;) ). I would like to read some more info about it if you have others.

Anyways it's up to you.... I just think that the other approach lead to lot less questions, duplicated issues and headache for people using your package.

[2015-11-04 10:09] fullvlad opened #2055 "[TextField] w/ multiLine won't update"
I have two TextFields that get their *value* from state.
The only difference between them is that one of them has *multiLine* set to *true*.
The problem is that on rerendering, this TextField (with multiLine) won't update its content.

Here is the options I use for the one with TextField, although the ones related to *errorText* have no effect in creating the issue:
[code]

[2015-11-04 12:34] saadq commented on #536
+1

[2015-11-04 13:02] #1291 closed

[2015-11-04 13:28] rhblind commented on #1395
Any updates on this?
Can't seem to remove the avatar in v0.13.1.

[2015-11-04 16:01] afhammad commented on #1148
+1 this would be cool

[2015-11-04 18:12] maketroli opened #2056 "Cannot set property className of #X which has only a getter"
The full error in the browser console in this

I am trying to put a class with Javascript everytime an action happens, this is the code

[code]
and then changed that code to only this in my Reactjs app

[code]
and the same error comes up . . .

HTML

[code]
so, I don't know what is going on here. any suggestions ?

[2015-11-04 18:23] BenNG opened #2057 "[Slider] display more information."
Hi There !

I was wonderning maybe it could be interesting to display some information about the slider
for my case:
1 -> 2 -> 3
or with a label option:
beginner -> intermediate -> advenced

[code]

Thank you for your work :)

[2015-11-04 18:57] btipling commented on #1810
Do you guys have any kind of an upgrade guide or changelog that can help code bases transition to new versions? This has been a very frustrating experience to move to 0.13

[2015-11-04 22:13] #1682 closed

[2015-11-05 00:16] suitupalex opened #2058 "[Table] Tables seem quite broken."
Lots of issues trying to implement Tables in the latest version (v0.13.1). I've made sure that my entire project is on `v0.14.0` of `react`, `react-dom`, and `react-addons-*` which matches what we're currently using.

Trying to do this table:
[code]

Leads to this error: `Uncaught TypeError: Cannot read property 'children' of undefined`

The code in question https://github.com/callemall/material-u

[2015-11-05 04:20] luisrudge opened #2059 "peer dependencies are not installed in npm3. importing material-ui fails"
![image](https://cloud.githubusercontent.com/assets/941075/10959763/ba4fe68c-8363-11e5-88ba-8dc94e460818.png)

the addons should be dependencies, and not peerDependencies.

[2015-11-05 04:41] iryan2 commented on #1963
This appears to affect Safari and Firefox on OS X as well. If you click 10, the selection is 11, clicking 15 selects 16 etc. Strangely, the demo at http://material-ui.com/#/components/time-picker doesn't suffer from these problems.

[2015-11-05 08:23] oliviertassinari commented on #2059
Addons are very likely to be shared between different react modules, hence I think that they should be peerDependencies. What guys do you think ? @shaurya947 @hai-cea

[2015-11-05 08:55] almasakchabayev opened #2060 "LabelPosition="after" not working"
[code]

FontIcon appears on the right side of label

[2015-11-05 08:57] oliviertassinari commented on #2060
This is a duplicate of https://github.com/callemall/material-ui/issues/2012

[2015-11-05 08:57] #2060 closed

[2015-11-05 08:58] oliviertassinari commented on #1958
This partialy solve the issue https://github.com/callemall/material-ui/pull/2014. We still have `before` and `after` option that are inversed.

[2015-11-05 09:28] nightlyop commented on #1501
I'm using material-ui and I need a list so I'd really prefer using the material-ui list and not yet another library..

+1 for fixing this performance issue.

[2015-11-05 09:32] nightlyop commented on #1132
+1 for less inline style

[2015-11-05 09:53] nightlyop commented on #1563
+1

[2015-11-05 10:07] exelnait opened #2061 "Some small problems with server rendering"
In my project I render my React app in client and server, and when I compile my project on server (with babel-node), there is error:
[code]

I fixed this, just replace string 63 from:
[code]
to:
[code]
Can you take stock this in the next release, please. Thanks!

[2015-11-05 10:11] oliviertassinari commented on #2061
@exelnait Thanks for opening this issue. Yes, I think that we should do a hot fix release. This is already solved in the master branch, see https://github.com/callemall/material-ui/issues/2013#issuecomment-153632142.

[2015-11-05 10:11] #2061 closed

[2015-11-05 12:33] Jarema opened #2064 "[TimePicker] throws Uncaught TypeError: Cannot read property 'isRtl' of undefined"
If I try to include TimePicker example from material-ui library, such error is thrown.

enviroment:

[code]

Im not sure how much `redux` and `router` interfer with `material-ui`

[2015-11-05 13:51] oliviertassinari opened #2065 "Next release v0.13.2"
To do before the next release :surfer::

- [x] Agree what the API name should be for the new `Dialog` API. Right now it's `isOpen`, should probably be `open`. react-native or the html spec are following this pattern for boolean properties (https://github.com/callemall/material-ui/pull/2105) -> agreed on `open`, assigned to @oliviertassinari
- [x] Make `DatePicker` and `TimerPicker` to use the new

[2015-11-05 15:50] luisrudge commented on #2059
They shouldn't be peer dependencies if your lib won't work without it. peer dependencies with node 5 (that uses npm3 by default) will just be a PITA. I don't use any addons in my code, but now I have to add them to my dependencies because of this lib. Also, there's no documentation at all that they are needed in the first place.

[2015-11-05 17:25] oliviertassinari commented on #2059
@luisrudge Are you saying that react shouldn't be a peer dependency?

[2015-11-05 17:29] luisrudge commented on #2059
react is clearly an exception, since **every** react project is guaranteed to be using it. That's not the case with addons.

[2015-11-05 17:44] oliviertassinari commented on #2059
I would refer to the release note of npm https://github.com/npm/npm/releases/tag/v3.0.0.

So I think that this is ok.

[2015-11-05 17:48] luisrudge commented on #2059
I understand why peer dependencies exists and how to handle them. I'm just saying addons shouldn't be dependencies, since not every project uses it.

[2015-11-05 17:50] luisrudge commented on #2059
If you don't change your mind,at least the docs should be very clear that you need to install addons to make it work. So every user will add your packages together, which is the same behavior as you adding this to dependencies instead.

[2015-11-05 17:53] oliviertassinari commented on #2059
I'm just giving my point of view, that's not my call, I will let the community decide, we just have two points of view now.

I agree.

[2015-11-05 18:47] bendiy opened #2067 "[MenuItem] Add support for hidden flag"
I'm trying to conditionally show a `MenuItem` in an `IconMenu`, but I can't find a good way to support this. The `disabled` property works fine in some cases, but in other cases, I'd like to avoid showing the `MenuItem` all together unless a certain condition is met.

For example, I can't do this:
[code]

This throws an error about `cannot find 'type' of undefined`.

Supporting a `hidden` property

[2015-11-05 19:02] otroboe commented on #1432
Any news or trick to prevent that ?

[2015-11-05 19:06] bORm opened #2068 "DropDownMenu not worked! Up=> #1908"
Subj
https://github.com/callemall/material-ui/issues/1908

[2015-11-05 19:10] CalebEverett opened #2069 "[LeftNav] Ripple not showing on menuItems"
Ripple effect doesn't trigger for menuItems specified as prop of LeftNav.  Triggers if MenuItems are child components.

[2015-11-05 19:38] bendiy commented on #2067
Another option would be to add a `menuItems` property to `IconMenu` and `Menu` that accepts an array of JSON data representing all menu items in the menu. Like `DropDownMenu` has.

[2015-11-05 23:13] mbrookes opened #2071 "[SelectField] Missing docs"
SelectField's  `valueLink`, `valueMember` and `displayMember` are undocumented. I would document them, but I don't know what they do. Also, IMHO, SelectField deserves its on doc page separate from TextField.

[2015-11-05 23:38] rlancer opened #2072 "Server rendering breaks"
Needs to do a check to see if document is available, otherwise this throws a document is undefined on the server.

https://github.com/callemall/material-ui/blob/47bf496d977d0ff1ef9e1a7615c405b49e81ac2a/src/overlay.jsx#L57-L59

[2015-11-05 23:59] oliviertassinari commented on #2013
@izziaraffaele Alright, since it's not released and people keep opening issue for this, I'm reoponing the issue until we release.

[2015-11-06 00:00] oliviertassinari commented on #2072
This is a duplicate of https://github.com/callemall/material-ui/issues/2013

[2015-11-06 00:00] #2072 closed

[2015-11-06 02:15] chitopolo commented on #1979
I'm trying to deal with the same issue, i hope to get an answer soon, or if you got it please let me know! ;) Best Regards.

[2015-11-06 03:31] obieq commented on #1701
just confirmed that the above issue is now working on Yosemite Safari v8.0.8.

[2015-11-06 03:31] #1701 closed

[2015-11-06 08:19] chshouyu opened #2074 "Is there any plan for support pagination component?"

[2015-11-06 08:26] TrySpace commented on #1979
"So I think the real issue is that we have no support for nested menus yet." Someone replied, but the comment is gone.

I agree, and we should use the EnhancedButton as a Menu/ListItem. Rather use the touchRipple from the button an add it to an item. Thus avoiding `a`nchor-tags.

Nested / Composable Components would be the best solution here. But that's being worked on across the board, as I under

[2015-11-06 09:11] louy commented on #1908
Hi @bORm,
Your issue is that you're missing `react-tap-event-plugin`.

Just add the following to your App.jsx:

[code]

This is already mentioned in the docs. :)

[2015-11-06 12:32] bORm commented on #1908
Oh, thanks.
I don`t know what happen, but before i have this code in my app.jsx and dropdown don`t worked
maybe I can make a difference
Close

[2015-11-06 12:32] #2068 closed

[2015-11-06 15:05] psanders commented on #1566
+1

[2015-11-06 15:50] denis-sokolov opened #2075 "CircularProgress props are not documented"
`color` and `innerStyle` have been added to `CircularProgress` in #928, but never added to [the documentation](http://material-ui.com/#/components/progress).

[2015-11-06 16:05] oliviertassinari commented on #2074
@chshouyu Could you explain what you mean by pagination? Somethings like http://getbootstrap.com/components/#pagination? I'm not sure this is in the material spec.

[2015-11-06 16:07] oliviertassinari commented on #2069
@CalebEverett Yeap, that's because the `menuItems` prroperty is using the older version of the menu. I think that we should deprecate his usage. Though?

[2015-11-06 16:09] oliviertassinari commented on #1432
I don't follow. Who do you disable the `DatePicker`?

[2015-11-06 16:21] chshouyu commented on #2074
yep, just like the bootstrap pagination component.
use like this
[code]
The main purpose is to match the overall style.
Hope you know,thanks.

[2015-11-06 16:52] jma7889 opened #2076 "How to wrap text in table cell?"
I tried a few methods with custom css, none worked. Is there a way to wrap text in a table column?

[2015-11-06 17:45] shaurya947 commented on #2059
So if I understand correctly, the debate is about whether the react-addons packages belong to dependencies or peerDependencies, right?

@oliviertassinari Considering that all the addons in peerDependencies are required to consume Material-UI, I think forcing people to manually install peerDependencies when they are starting out with MUI is a bad idea. So perhaps we should move them to dependencies

[2015-11-06 17:50] shaurya947 commented on #2013
@oliviertassinari Let's keep this issue open. We should release early next week and then we can close this.

[2015-11-06 17:55] shaurya947 commented on #2069
@oliviertassinari fine by me.. let's show a warning for now and keep it around.

@CalebEverett do you wanna take a shot at this and submit a PR?

[2015-11-06 17:56] tthew opened #2077 "[LeftNav] Server-side React render was discarded. (React 0.14.1)"
Dropping in the `LeftNav` and rending server side causes React (0.14.1) to discard the server side render and throw the following warnings;

[code]
Looks like something to do with positioning.  Why would I be seeing different results for client / server?

I'm running the latest from master. We're currently maintaining our own fork over here; https://github.com/ehealthafrica/material-ui

[2015-11-06 18:14] CalebEverett commented on #2069
Happy to, can you point me in the right direction?

[2015-11-06 19:54] devmessias commented on #2064
I got the same error here. It occurs in line 30  of styles.js

[2015-11-06 21:07] Industrial opened #2079 "[LeftNav] How to implement correctly?"
Hi.

The [example](http://material-ui.com/#/components/left-nav) seems to be failing at the moment. There is no `MenuItem.Types`.

This is my current [code](https://gist.github.com/Industrial/87b2bed077c855ab57de#file-navigationcomponent-js-L45).

I have seen the comment [here](http://material-ui.com/#/components/menus), but I'm not sure how to implement the LeftNav now.

[2015-11-06 22:42] oliviertassinari commented on #2077
https://github.com/callemall/material-ui/pull/2007 should have fix this. @Cavitt any idea what's going on?

[2015-11-06 22:46] nrn commented on #2064
I encountered the same error, tried it out in 0.13.0 and it worked.

[2015-11-06 22:57] Cavitt commented on #2077
@oliviertassinari Prefixing isn't the source of the issue so #2007 wouldn't fix this.

Somehow the left attribute is different. I'll take a look when I can, I have to implement the LeftNav soon so I'll probably run into it.

[2015-11-06 23:17] kamek-pf commented on #1911
Nothing quite special about this :
[code]

[2015-11-06 23:25] kamek-pf commented on #2011
Same here, I'm not able to use `onClick`.
As OP said, it doesn't work for `<TableHeaderColumn>`, but I can't get it to work with `<TableRowColumn>` either. (and yes, I know about then `onCellClick` event :p)

It's a bit strange that `onClick`s never get triggered. Maybe we're no supposed to use them at all with Material UI ? Or are we missing something ?

[2015-11-06 23:26] oliviertassinari commented on #2077
Oh, my bad, it's the `left` property that differ.

[2015-11-07 00:01] oliviertassinari commented on #2011
@kamek-pf Are you using the latest verion of material-ui.
Have a look at https://github.com/callemall/material-ui/blob/master/src/table/table-header-column.jsx#L126. It should be working.

[2015-11-07 00:04] oliviertassinari commented on #2011
Turns out, that the `TableRow` component is overiding the onClick property (https://github.com/callemall/material-ui/blob/master/src/table/table-row.jsx#L145). You have to use `onCellClick`. Let me know if this solve you issue.

[2015-11-07 00:29] oliviertassinari commented on #2069
@CalebEverett I see deferent things to do
- update the doc to use `MenuItems` as child component
- add a warning to those how are using the `menuItems` property. (you can have a look at https://github.com/callemall/material-ui/pull/1996)

[2015-11-07 01:45] ee7klt opened #2080 "How to use getStyles function?"
The docs say that I can look at inline style properties defined on a component using the 'getStyles' function. I'm not quite sure how to use this function on the component (or in fact on how to apply a function to any component). Can you please assist? Thanks.

[2015-11-07 04:05] #1572 closed

[2015-11-07 04:09] rogerwq opened #2081 "Card.onExpandChange called twice"
When I set both 'actAsExpander' and 'showExpandableButton' of CardHeader, the onExpandChange function will be called twice when clicking the expand button.

Is it an issue to be fixed, or a feature as it is?

[2015-11-07 05:29] luisrudge opened #2082 "two floating inputs with error messages get a little cumbersome"
I know I can add margins myself, but I think this is a pretty common use case and should be handle by default. I'm not sure what's the best way to handle, though..  Maybe reducing the spacing between the errorText and the input?

![image](https://cloud.githubusercontent.com/assets/941075/11013715/8f53e062-84ff-11e5-9592-0d5981de9900.png)

[2015-11-07 13:39] VinceBT opened #2085 "Tabs height 100%"
Hello :)

I want my Tab's element (Tab, the Tabs children) to be at `height: 100%; overflow-y: auto;` when they are active but I cant make it work with the ` style={{height: "100%"; overflowY: "auto";}}` on the Tab element.

Can you help me with this ?
Thanks

[2015-11-07 16:37] BTVincent opened #2086 "Left Nav user menu"
Hello everyone !

I'm developping an application with google Sign in and I think It would be great to have a user menu like the Gmail aplication which is one of the material UI component missing in my opinion.

We can already make the options list but could you develop a component for the user pic.

Have a good day :)

[2015-11-07 16:39] BTVincent commented on #1992
I have this issue too, I have read that it comes from the InjectTapEventPlugin, or that the menu-item imported package is the wrong one :(

When you put text into the tags it doesnt work because it isnt working as a button but as a text child.

Have a good day and I hope I have helped you :)

[2015-11-07 20:46] Industrial opened #2087 "IRC Channel"
Hi.

Is there an IRC channel to discuss MaterialUI ?

[2015-11-07 22:43] ayhankuru commented on #2087
maybe slack?

[2015-11-07 23:57] jesconstantine commented on #1311
+1

[2015-11-07 23:58] oliviertassinari commented on #2087
There is a [gitter](https://gitter.im/callemall/material-ui?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) and a [discordapp](https://discordapp.com/channels/102860784329052160/110147627462443008) channel.

[2015-11-08 01:18] patrickgordon commented on #1915
+1 would love to see this

[2015-11-08 01:39] patrickgordon opened #2088 "Override font weight for all components"
Hi there,

Is it possible to override the font weight for all components via themes / some other way?

[2015-11-08 13:22] afhammad commented on #1565
+1

[2015-11-08 14:07] BTVincent opened #2090 "IconMenu empty (doesn't show MenuItem's)"
Hi everyone :)

I am currently on an app and I am using your library for the awesome react components.

The problem is that I have an IconMenu on right of my AppBar and when I click on it it does this :

![ee08c83c299f46c4ed3d36e387ec22c5](https://cloud.githubusercontent.com/assets/1362505/11020755/082a9c08-862a-11e5-9734-b953bbae4c75.gif)

The code is like this :

[code]

I dont understand why no

[2015-11-08 14:10] oliviertassinari commented on #2090
My first guess would be that you are importing the wrong MenuItem component.
That's a recurent issue. We should add the import in the doc. cc. @shaurya947.

[2015-11-08 15:16] Dreampie opened #2092 "Uncaught Error: Invariant Violation: ReactDOM.render(): Invalid component element."
![image](https://cloud.githubusercontent.com/assets/3667080/11021012/7c66019a-866e-11e5-96bc-36d119643e63.png)

[Source code](https://github.com/Dreampie/reactjs-demo/blob/master/src/Routes.cjsx)

[2015-11-08 15:28] CalebEverett commented on #2079
[This](https://gist.github.com/CalebEverett/712fb3948d2695a95957#gistcomment-1613473) might help.

[2015-11-08 15:56] ayhankuru commented on #2092
Something Layout.cjsx broken

[2015-11-08 16:08] Dreampie commented on #2092
src/layouts/Layout.cjsx

React = require "react"
Router = require "react-router"
RouteHandler = Router.RouteHandler
AppBar = require("material-ui").AppBar

Layout = React.createClass
  render: ->
    <AppBar title="Title" iconClassNameRight="muidocs-icon-navigation-expand-more" />
    <RouteHandler/>

module.exports = Layout

what's wrong？

[2015-11-08 16:11] ayhankuru commented on #2092
@Dreampie  return one component?

[2015-11-08 16:17] Dreampie commented on #2092
Can not do this?

[2015-11-08 17:35] CalebEverett commented on #2069
I took a look at this and don't think I have the knowledge to get this done.

[2015-11-08 17:54] Webkadabra commented on #2086
I think there is already optional `header` prop on left nav that you could try utilize for that. I suggested adding additional optional `footer` prop as well in #1786

[2015-11-08 18:16] BTVincent commented on #2086
When I use a header there is an issue from the left-nav.js plugin so It's better if I keep my components
I have developed one by myself now for the moment :

![11ec1ea2565a98dbc047a1c20a0ece7d](https://cloud.githubusercontent.com/assets/1362505/11021791/33c0ba5a-864d-11e5-86a7-eaca1f04a651.png)

[2015-11-08 18:39] BTVincent commented on #2092
Wrap the components in one ?

[2015-11-08 18:43] BTVincent opened #2093 "CircularProgress and Progress color"
Hi everyone :)

Shouldn't we be able the change the CircularProgress and Progress color ?
I am making an app with a blue backgrond and I cant see the progress. Could you update this ?

Thanks have a good day/night

[2015-11-08 19:04] ayhankuru commented on #2093
@BTVincent  docs color param missing :/
https://github.com/callemall/material-ui/blob/master/src/circular-progress.jsx#L159
<CircularProgress mode="indeterminate" color="#ffcc00" />

[2015-11-08 19:04] jmgarciamari opened #2094 "Nested Tabs"
Is it possible to nest tabs?, It's too slow before upgrade to react 0.14

[2015-11-08 19:08] BTVincent commented on #2093
Ha nice thank you ! :)

[2015-11-08 19:15] BTVincent commented on #2090
What is the right component to import ?

[2015-11-08 19:18] jmgarciamari commented on #2094
Ok in issue #1993 says it is a Chrome issue, is slow, in Firefox is working fine

[2015-11-08 19:18] #2094 closed

[2015-11-08 20:07] ayhankuru commented on #2090
@BTVincent  ``` import MenuItem from 'material-ui/lib/menus/menu-item'; ```

[2015-11-08 21:09] celiao opened #2095 "Change overall font size"
Is there an easy, or not so easy, way to change the overall font size?  Via the ThemeManager?

I am creating forms and the input fields are rather large, limiting the number of fields that can be displayed.

[2015-11-08 21:13] oliviertassinari commented on #2095
Would this PR help https://github.com/callemall/material-ui/pull/2039?

[2015-11-08 21:30] celiao commented on #2095
Sure.  What's the likelihood it gets merged, or at least the idea gets incorporated?  And when?

[2015-11-08 21:36] oliviertassinari commented on #2095
This is very likely to be merged. I don't know when.

[2015-11-09 00:07] Dreampie commented on #2092
Can not solve any problems

[2015-11-09 00:20] liviuignat commented on #2013
Hi guys,

the fix for this issue is to move it on ```componentDidUpdate```, and it works correctly with server side rendering also.

[code]

[2015-11-09 00:20] iryan2 commented on #2059
Just voicing support for the approach suggested by @shaurya947.

[2015-11-09 05:51] nripendra opened #2096 "Popover"
I'd like to implement popover functionality, but not sure how to approach. Is there any way I can attach a list to icon?

IconMenu comes quite close to what I'd like, but I want the items to be flexible to display rich data, not just plain text.

I'm trying to develop something like this.
![popover](https://cloud.githubusercontent.com/assets/1594619/11026727/cd279758-86d5-11e5-8d15-53f44953ee67.pn

[2015-11-09 05:56] shipengyan commented on #1432
@oliviertassinari  when form is disabled, this datepicker should disabled in my case.

[2015-11-09 06:17] m4nuC commented on #1261
I am on 0.13.1 and I still have the exact same issue using Chrome Dev tool Iphone4 settings.
![screen shot 2015-11-09 at 2 16 37 pm](https://cloud.githubusercontent.com/assets/1518868/11027072/9273f1a8-86ec-11e5-951d-5607cc41b74a.png)

[2015-11-09 07:18] rewop commented on #2013
HI guys, I came across the same issue while trying the framework. +1 to solve this one asap.

[2015-11-09 07:55] Dreampie commented on #2092
I solve  this problem,in
[code]
not
[code]

[2015-11-09 07:55] #2092 closed

[2015-11-09 08:10] mydearxym commented on #1364
+1

[2015-11-09 08:18] oliviertassinari commented on #2096
Could you have a look at https://github.com/callemall/material-ui/pull/2043?
That's probably what you are looking for. Feedbacks welcomed.

[2015-11-09 09:02] vijayrawatsan commented on #2065
How can I use current master as dependency? When is the next release?

[2015-11-09 09:08] nripendra commented on #2096
@oliviertassinari thanks.. does look like it probably can fit into my need, cannot say without using.

How to use it? Add package directly from github? Since, it doesn't look like released yet.

[2015-11-09 09:17] subjectix commented on #2065
@oliviertassinari `inline-style-prefixer` isn't a framework, it's a library, having multiple versions or instances won't break anything, it should be dependency so that we won't have to add it to our `package.json` :grin:.

:+1: for `open`

[2015-11-09 10:14] denis-sokolov opened #2098 "Field errorText makes the following content jump"
Adding an errorText dynamically makes all the following content jump unpleasantly.
Perhaps the space for the error text could be reserved in advance, or it could animate the vertical motion instead?

![2](https://cloud.githubusercontent.com/assets/113721/11031187/54dcdb68-86db-11e5-8284-6543c4bc2ff1.gif)

[2015-11-09 10:47] almoraleslopez opened #2099 "[DatePicker] Set first day in calendar"
Hello.
Sorry if this is not the right place to open an issue.

I've set a DatePicker with i18n working. The main issue I have is related with the first day shown in the calendar. It begins in Sunday but there are countries that the first day of the week is Monday.

I've checked in src/date-picker/calendar.jsx that calendar days are not dynamically loaded.

Is there any possibility to add this feau

[2015-11-09 11:04] BTVincent opened #2100 "[Tab Component] Disable a tab"
I think the Tab component should have a "disabled" prop allowing to lock or unlock some tabs.

[2015-11-09 11:58] subjectix commented on #1680
This cal be implemented leveraging the `label` property on `Tab` component since it can accept `Element` now.

[2015-11-09 11:58] #1680 closed

[2015-11-09 12:14] cgwyllie opened #2101 "[SelectField] No focus style if onFocus prop given"
With this example:

[code]

If you tab in to the select component, it will be 'active' (can receive keyboard events to select items) but it has no visual appearance of being focused.

If you don't pass the `onFocus` handler, the field will receive the underline style indicating focus as expected.

My guess is that the `DropDownMenu` component is somehow trapping the focus event and preventing the

[2015-11-09 13:02] cgwyllie commented on #1427
+1 I am seeing this issue, and setting a `value` prop fixes the initial render as @neverfox describes. (material-ui 0.13.1, react 0.14.2)

[2015-11-09 14:29] mooncakelmn opened #2103 "Script error when navigating to the edge of ranged DatePicker"
On the demo of [official site](http://material-ui.com/#/components/date-picker), bring up the Ranged Date Picker, navigate the months (i.e. keep clicking `>` to nav to next month). When it reaches the month of maxDate, an script error occurs:

`Uncaught TypeError: Invalid value used as weak map key`

[2015-11-09 14:50] mooncakelmn commented on #2103
Oops, it seems some issue of chrome instance, when I close and re-try in a new tab, everything works fine.

It might because my old tab has been opened for days, and the issue happens along with the slow animation. Closing this~

[2015-11-09 14:50] #2103 closed

[2015-11-09 14:52] 2j2e commented on #2058
Even more, if you will try to avoid TableHeader and TableFooter creation it will fire
`Uncaught TypeError: children[Symbol.iterator] is not a function`

[2015-11-09 15:16] mgibeau commented on #2065
May I suggest you postpone theses changes for a future release, there are currently a lot of fixes in master that could be released separately without introducing breaking changes.

[2015-11-09 17:24] manuelmazzuola opened #2104 "Snackbar style"
With the old snackbar version I could easily change the background color of the snackbar.

[code]

But with the new implementation the background color is set to a children div.
So the code above doesn't work anymore.

![](http://s16.postimg.org/vvq62zwgl/Schermata_da_2015_11_09_18_16_10.png)

I have to add different classes to the snackbars with different colors and match the children div with th

[2015-11-09 17:34] otroboe commented on #1272
Close this issue ?
https://github.com/callemall/material-ui/pull/2054

[2015-11-09 17:48] oliviertassinari commented on #2104
I think that the best solution for this is to add a bodyStyle to the `Snackbar` component.

[2015-11-09 17:50] oliviertassinari commented on #1272
@otroboe Yeap.
@raffy2010 I fix was merge to master. We can close this issue. Feel free to reopen it if it's not what you need.

[2015-11-09 17:50] #1272 closed

[2015-11-09 18:22] vijayrawatsan opened #2106 "Is it possible to wrap content in MenuItem?"

[2015-11-09 18:34] oliviertassinari commented on #2065
@mgibeau We have merged a lot of PRs since the last release. Since we have **very few unit test**, I think that I would be safer to make the next release a minor update instead of a path.

[2015-11-09 21:03] shaurya947 commented on #2090
@oliviertassinari I'll add them

[2015-11-09 21:07] shaurya947 commented on #2059
@luisrudge you wanna submit a PR to move them to `dependencies`?

[2015-11-09 21:08] shaurya947 commented on #1261
@mbrookes have you tested with 0.13.1? Any way you could help @m4nuC ?

[2015-11-09 21:10] shaurya947 commented on #2013
Releasing soon, should fix this..

[2015-11-09 21:13] anthony-dandrea commented on #1968
@chmann super useful. thank you

[2015-11-09 21:13] #1968 closed

[2015-11-09 21:14] shaurya947 commented on #2065
I agree with @subjectix: move `inline-style-prefixer` to `dependencies`, and use `open` prop for Dialog.

@oliviertassinari are you suggesting a v0.14.0? Hmm... I would ideally like to do one more patch release before that. But if you really feel that way, then I'm fine with a minor release. Also, are you (or someone else) working on updating `TimePicker` and `DatePicker` to use the new `Dialog` A

[2015-11-09 21:22] oliviertassinari commented on #2065
@shaurya947 What we could do, is release a v0.13.2 with all the commit before the change of API for the `Dialog` and release a v0.14.0 with the change of API of the Dialog.

[2015-11-09 21:25] subjectix commented on #2065
@oliviertassinari The changes aren't really breaking anything. they just deprecate. maybe it's not bad to have a patch informing people so we can remove the extra code with a minor imo.

[2015-11-09 21:28] shaurya947 commented on #2065
@oliviertassinari I like @subjectix's idea. If we don't have any breaking changes (which it seems we don't) let's just release a v0.13.2 now (with any deprecations and their warnings). Then when we release v0.14.0 in a week or so, we can completely remove the deprecated code.

[2015-11-09 21:28] oliviertassinari commented on #2065
@shaurya947 I'm ok with this :+1:. Let's fix the API and the dependencies and then release :dancer:.

[2015-11-09 21:29] shaurya947 commented on #2065
@oliviertassinari also the import statements, that I'm working on right now.

[2015-11-09 21:30] mgibeau commented on #2065
@shaurya947 I don't agree with this, I don't see why you would hold up a release for API changes, especially considering the state of the current release not working at all.

[2015-11-09 21:33] shaurya947 commented on #2065
@mgibeau v0.13.2 will have all the PR fixes since the last release (including the fix for the server rendering). How is that holding up anything?

[2015-11-09 21:38] oliviertassinari opened #2109 "v0.15.0"
I have a list of task in mind for the next breaking change release.

### Top priority
- [x] Remove the `menu` component as it's deprecated since `v0.14.0` and no longer used in the source code
- [x] Remove all the deprecated code
- [x] Change the default value of `firstDayOfWeek` from `0` to `1`. https://github.com/callemall/material-ui/issues/2980
- [x] Change the default value of `labelPosition`

[2015-11-09 21:47] mgibeau commented on #2065
@shaurya947 Sorry, by holding up I meant adding more scope. The Dialog API doesn't need to change before releasing what's currently in master.

[2015-11-09 21:51] shaurya947 commented on #2065
@mgibeau the dialog API is not being *changed* per se. Only the prop name is being changed from `isOpen` to `open` because many users feel that `open` is a more appropriate name. We have deprecated some of the old prop names. Other than that, `master` shall be released as is.

[2015-11-09 21:56] luisrudge commented on #2059
I can do that, yes.

[2015-11-09 22:01] markoshust opened #2110 "LeftNav onChange event doesn't trigger when within subroutes"
Given these urls:

Page that lists out phases:
`/admin/phase`

Page to insert phase:
`/admin/phase/insert`

I want the LeftNav selectedIndex to be highlighted whenever the user is within the `/admin/phase` hierarchy (page that lists out phases, and the insert phase page).

This bit of code works correctly for highlighting the corrected index (using FlowRoute with Meteor -- similar to React Router)

[2015-11-09 22:03] shaurya947 commented on #2059
@luisrudge If you can get that soon it might make its way to v0.13.2 :-)

[2015-11-09 22:17] luisrudge commented on #2059
ok. I'm doing this now

[2015-11-09 22:45] mbrookes commented on #1261
I have.

On an iPhone 5, if you are using something like:

[code]
and the content behind the datepicker isn't scrollable, the toolbar will cover the buttons due to the placement of the datpicker at the bottom of the screen. (There is dead-space above it with the page content greyed out.

If the content is scrollable, and you don't have a fixed AppBar, you can get the taskbar to disappear by scroll

[2015-11-09 23:06] #2059 closed

[2015-11-10 00:34] shaurya947 commented on #2065
Done. Great job guys :clap:

[2015-11-10 00:34] #2065 closed

[2015-11-10 01:37] Beingbook commented on #2109
inline-style-prefixer dependency makes a problem after updating 0.13.3.
Occurs `TypeError: Cannot read property 'CSS' of undefined at new Prefixer inline-style-prefixer/lib/Prefixer.js:43:46`

<img width="414" alt="2015-11-10 10 36 03" src="https://cloud.githubusercontent.com/assets/2682865/11051915/e0987f84-8796-11e5-9528-6069bb6d1aac.png">

I edited it and works correctly.
<img width="437" alt="

[2015-11-10 05:22] steverandy opened #2115 "[TextField] Floating label is not clickable"
Steps to reproduce:
1. Go to http://material-ui.com/#/components/text-fields
2. Click on the text field sample (first row, second column), specifically on the floating label

Actual: Clicking on the floating label the first time does not focus the field
Expected: Clicking on the floating label for the first time should focus the field input

[2015-11-10 08:06] subjectix opened #2117 "[Discussion] Should LeftNav (and possibly others) follow the same convention as Dialog?"
Recently `Dialog` moved from working with methods to props. Shouldn't the rest of the components (specially LeftNav) follow the same convention to avoid confusion?

Personally I'm a `props` super fan and I think everything should be handled with `props` and `componentWillReceiveProps` instead of methods (not even getters and setter since they can be easily implemented with events and props). Follo

[2015-11-10 09:31] oliviertassinari commented on #2109
@Beingbook You should report this to the `inline-style-prefixer` repository. The latest release is v0.13.2 and not v0.13.3.

[2015-11-10 11:41] liddellj opened #2119 "TypeError: Cannot read property 'CSS' of undefined"
Between 0.13.1 and 0.13.2 something changed that breaks my tests (which are using `ReactTestUtils.renderIntoDocument`) with the error **TypeError: Cannot read property 'CSS' of undefined**

I'm using jsdom 6.5.1, mocha 2.3.3 and React 0.14.2. Stack trace as follows:
[code]

[2015-11-10 11:42] gbaladi commented on #2109
I think this problem only happens if navigator.userAgent isn't set. see https://github.com/callemall/material-ui/pull/2007

[2015-11-10 11:44] oliviertassinari commented on #2109
This is linked to https://github.com/callemall/material-ui/issues/2119

[2015-11-10 11:53] oliviertassinari commented on #2119
@liddellj Good catch. This line https://github.com/callemall/material-ui/blob/master/src/styles/auto-prefix.js#L13 is not working.

[2015-11-10 12:31] #1822 closed

[2015-11-10 13:34] wardywork commented on #1597
Is there any update on a nice way to achieve this functionality ?

[2015-11-10 17:03] oliviertassinari commented on #2117
@subjectix I have just done the migration on my code base to use the declarative API of the Dialog. I end up removing more code than adding (50%). I definitely think that's a good idea.

[2015-11-10 17:15] subjectix commented on #2117
Good to know :D

[2015-11-10 17:16] nickzuber opened #2121 "How to customize RaisedButton"
I was reading through the documentation on RaisedButtons and I can't figure out how to customize simple things such as the hover color of a RaisedButton, or the ripple color. Where in the documentation is this and/how can I do this?

[2015-11-10 19:30] avaneeshd opened #2122 "Prefixer error with Error with V0.13.2"
Getting this error with latest release , It goes when i switch to V0.13.1 :

[code]

[2015-11-10 19:53] #1608 closed

[2015-11-10 19:55] growlsworth commented on #2122
I get this too. It happens to me for server side rendering.

[2015-11-10 19:57] ayhankuru commented on #2122
#2119

[2015-11-10 20:04] hemanth opened #2123 "FR: Granular control over date/time pickers."
It would nice to have the below features in the picker:

* Allow Custom header messages (useful when there are multiple pickers with autoOK)

* Make action buttons optional, again useful with multiple pickers.

* All custom defined, `onTouchTap` events for action buttons.

Let me if this sounds ok, ready to do a PR.

[2015-11-10 20:10] bozzmob opened #2124 "Material-UI React-Native implementation"
Thoughts on whether we can extend Material-UI for ReactJS to React-Native?
So that we can have a uniform UI/experience across all platforms.

[2015-11-10 20:12] oliviertassinari commented on #2124
I agree with you. Please refer to this issue https://github.com/callemall/material-ui/issues/1646

[2015-11-10 20:12] #2124 closed

[2015-11-10 20:14] oliviertassinari commented on #2122
Yeap duplicate, I'm closing.

[2015-11-10 20:14] #2122 closed

[2015-11-10 20:21] ayhankuru commented on #2121
checkout this page http://material-ui.com/#/customization/themes

[2015-11-11 04:34] markoshust opened #2126 "Implement "bottom sheets" functionality"
I'd like to use a "fully expanded bottom sheet", ex. https://www.google.com/design/spec/components/bottom-sheets.html#bottom-sheets-modal-bottom-sheets

This functionality is quite needed for modal's that slide up from the bottom. I didn't notice it anywhere in the code.

[2015-11-11 09:15] cosminnicula commented on #1951
@hai-cea, @oliviertassinari any thoughts on this?

[2015-11-11 09:47] oliviertassinari commented on #1951
Those is are good questions!

The CSS approach we had before was adding an extra layer of API (className). And was used by people to costumized component. IMO it wasn't great since it was making our implementation detail a global API by default and likely to break.
With the inline style approach, you have to use specific style properties for inner components.
If you need a property that doesn't ex

[2015-11-11 10:10] davide-ganito opened #2127 "RadioButton does't work in Internet Explorer 9"
Hi everyone,
`RadioButton` doesn't work in IE9.
It seems that the `opacity` property is always setted to 1 for the `RadioButtonOff` and `RadioButtonOn`.

Anyone can help me on this?
Thanks!

[2015-11-11 11:42] laurenskling commented on #1276
What is the status on this issue? I just started trying the AppBar by following the documentation. It's in many ways not up to date with the product. I had to dive deep into the code to see what was wrong to find out the functionality of components (e.g. MenuItem) are different from the documentation.

[2015-11-11 11:48] oliviertassinari commented on #1276
We could improve the docs by an order of magnitude.

I agree, you have to import the new MenuItem and not the older one. For someone that start, this is very confusing.

[2015-11-11 12:31] oliviertassinari commented on #1869
@vizath Interesting benchmark!

I agree

[2015-11-11 12:34] oliviertassinari commented on #732
@jailbot Do you still experience this issue?

[2015-11-11 12:37] oliviertassinari commented on #2013
The fix was release with v0.13.2.

[2015-11-11 12:37] #2013 closed

[2015-11-11 12:37] rhythnic commented on #1823
I'm having the opposite problem.  I would like it prevent it from rendering as a link.  I'm getting a nested link error when using an IconMenu with MenuItems inside of a ListItem.  Its working in the docs though, so maybe I'm doing something wrong.

[2015-11-11 12:38] oliviertassinari commented on #705
@Cavitt Thanks. The prefix variation between server/client side should be fixed. Please refer to https://github.com/callemall/material-ui/issues/2077 for the `LeftNav` component.

[2015-11-11 12:38] #705 closed

[2015-11-11 13:01] rhythnic opened #2128 "Dialog open vs isOpen"
In the doc examples, isOpen is used as a prop on Dialog.  According to the docs, 'open' should be the prop and 'isOpen' is a method.

[2015-11-11 13:03] oliviertassinari commented on #2128
Fixed by https://github.com/callemall/material-ui/pull/2116. @shaurya947 Can we update the doc?

[2015-11-11 14:08] genyded commented on #1192
This really is a ROYAL PAIN!!! You could hack this to work before, but now you can't even do that (without using older versions of dependencies which then means you have to deal with other issues addressed in newer versions). Why the heck are onClick events not events provided?

Anyone using external React (which many of us have no say in) cannot use Material UI. It's worsened by Material UI addin

[2015-11-11 15:22] oliviertassinari commented on #1824
Could you expain a bit more. What is your issue?

[2015-11-11 16:43] shaurya947 commented on #2128
@oliviertassinari Yes, will do a patch release. Can you double check that other info on the Dialog page is accurate?

[2015-11-11 16:48] cezarlz opened #2130 "[TextField] Mask"
1) There is an idea for apply masks in textfields?
2) Why I need pass props like `fullWidth={true}`, why not simply pass `fullWidth`? Because single props without values returns a `bool`.

Example:

[code]

Thanks!

[2015-11-11 16:55] celsofabri commented on #2130
Nice idea +1

[2015-11-11 16:59] genyded commented on #2064
+1 but going back to 0.13.0 I still get it

[2015-11-11 17:12] matheus-vieira commented on #2130
That would make coding a little bit simpler +1

[2015-11-11 17:56] maximus8891 commented on #1911
[code]
doesn't behave too well with `TableHeaderColumn`

[2015-11-11 18:33] oliviertassinari commented on #2128
I have just checked the raw example. It's fine. Regarding the patch, I would just add the relevant  commit.

[2015-11-11 18:47] oliviertassinari commented on #2130
I don't get it. Why is 2) not working?

[2015-11-11 19:35] shaurya947 commented on #2128
:+1:

[2015-11-11 19:40] ACPK opened #2132 "Social Media Icons"
I'd love the implementation of social media icons in the app.

[2015-11-11 19:49] subjectix commented on #2132
Are [these](https://github.com/callemall/material-ui/tree/master/src/svg-icons/social) the ones you mean?

[2015-11-11 19:56] ACPK commented on #2132
@subjectix I don't see Twitter there.  However, I got it working using:

    https://github.com/xkha/React-invitation/blob/1ea4d282e3e5508410364814c5af376f83708e70/src/styles/main.css

[2015-11-11 19:56] #2132 closed

[2015-11-11 20:00] queryxl opened #2133 "Ripple effect will appear twice when using iPhone browser"
For example, using Chrome/Safari, open the demo page of any component like "AppBar" or "Menu", click on any button or any menu item, the ripple effect will appear twice.

Tested on Chrome/Safari, IOS 9.1, iPhone 6.

[2015-11-11 20:05] subjectix commented on #2133
Duplicate of #1563

[2015-11-11 20:06] queryxl commented on #2133
Oops, didn't find that one when I search

[2015-11-11 20:06] #2133 closed

[2015-11-11 20:49] shaurya947 commented on #103
@jmuel @fourcube trying to clean up some stale issues. What's the status on this?

[2015-11-11 21:38] kamek-pf commented on #2011
Yup, it fixed my issue, thanks @oliviertassinari.

[2015-11-11 21:42] oliviertassinari commented on #2011
@kamek-pf I'm wondering if this is in the doc. Feel free to submit a PR to enhance if it's not the case.

[2015-11-11 21:46] shaurya947 commented on #195
I think we're at a good point now where most components have adequate documentation, and wherever it is lacking, people have opened issues and proposed PRs. So I'll be closing this for now.

[2015-11-11 21:46] #195 closed

[2015-11-11 21:51] shaurya947 commented on #200
@rxaviers we don't specifically test it on every browser before releasing -- but if anything breaks with a particular browser, people report it fairly quickly and it gets fixed. So I think it's safe to say that MUI should work on most modern browsers.

With that being said, I'll be closing this issue for now. If you notice any browser-specific issues, feel free to open a new issue.

[2015-11-11 21:51] #200 closed

[2015-11-11 22:00] shaurya947 commented on #204
@ecesena do you think this would still be an issue with the new `MenuItem` component? See [here](http://material-ui.com/#/components/menus). The `MenuItem`s can be surrounded by `<a>..</a>`, no?

[2015-11-11 22:06] Download commented on #866
Thanks for your examples guys, this solved it for me.

[2015-11-11 22:09] otroboe commented on #1311
+1

[2015-11-11 22:29] shaurya947 commented on #210
@yhbrandon could you document your workaround here?

@cgestes could you post more details about the issue you mentioned?

Let's get this issue taken care of!

[2015-11-11 22:31] shaurya947 commented on #234
@whodidthis @a1russell does #248 help?

[2015-11-11 22:32] #240 closed

[2015-11-11 22:33] #242 closed

[2015-11-11 22:40] shaurya947 commented on #283
@zhiqingchen @danmartinez101 @akinnee this issue has been sitting for quite a while. If this functionality is still desired, would one of you like to submit a quick PR?

[2015-11-11 23:24] kamek-pf commented on #2011
I just checked, it's not in the doc. I'll send a PR tonight.

[2015-11-11 23:31] ACPK commented on #1958
+1 for centering the icon.

[2015-11-12 00:02] emohedano commented on #2064
Same here, tried in 0.13.2 with the same result. I created a [PR](https://github.com/callemall/material-ui/pull/2135) to address the issue, hopefully it will be merged soon.

[2015-11-12 00:08] rxaviers commented on #200
Material-ui is a fantastic design. It would be good if it was reliable cross browsers, cross environments.

A quick test shows:

Grid list (demo) doesn't show up well on:
- Safari 8, OS X Yosemite:
![bs_macyos_safari_8 0](https://cloud.githubusercontent.com/assets/967155/11106969/77f3017c-88c0-11e5-86c2-8068600d4c8b.jpg)
- IE 10, Windows 8:
![bs_win8_ie_10 0](https://cloud.githubusercontent.com/as

[2015-11-12 00:08] genyded opened #2136 "A ton of warning in browser console"
I'm using 13.2 and there are so many warnings in the console (and there are not actually logged as browser warnings so they can't be filtered out) that it's impossible to read any other real console output:

`Warning: onShow will be removed in favor of explicitly setting open
Warning: onDismiss will be removed in favor of explicitly setting open and can be replaced by onRequestClose
Warning: onSho

[2015-11-12 00:19] oliviertassinari commented on #2136
This is the line responsible https://github.com/callemall/material-ui/blob/master/src/dialog.jsx#L296. I think that we should only display the warning if the property is a function and not if it's present since DatePicker is transfering the property to the DatePickerDialog.

[2015-11-12 00:30] Jonatthu opened #2137 "How can I use it with ReactJs.NET"
I am using reactjs with http://reactjs.net/ for mvc asp.net web application, How can I start using material ui with this stack?

[2015-11-12 00:43] garakelian commented on #1599
I'm new to React, so please excuse a newbie question.  Here's the render method for a simple component.  When this code runs, the console.log messages (for "touch1" and "touch2") are being displayed when the component initializes, but NOT when the items are actually clicked.

Can you tell me what I'm doing wrong?  I'm using 0.13.2... Thanks.

   render() {
        console.log("here");
        var

[2015-11-12 00:45] CezarLuiz0 commented on #2130
Hi @oliviertassinari, 2) it's working perfectly! Sorry.

Why 1) isn't a good idea?

[2015-11-12 00:50] oliviertassinari commented on #2130
1) mask is a good feature. But is this specific to material-ui?
2) Do you have an example of a failing usage of the omited value?

[2015-11-12 01:23] kamek-pf commented on #2011
Done, see https://github.com/callemall/material-ui/pull/2138

[2015-11-12 01:31] a1russell commented on #234
@shaurya947 Are you asking if `em` is preferable to `px` in lieu of `rem`, I'd say yes; however, I would still have preferred `rem`. But I'm not going to re-do #433 if that's what you're asking. It was a lot of work, and it got me nothing.

[2015-11-12 01:35] rkstar commented on #2126
something like what [materializecss](http://materializecss.com/modals.html) has done would be perfect.

[2015-11-12 01:53] rkstar opened #2139 "labelPosition not working on RaisedButton"
identical code works fine with `<FlatButton>` but not with `<RaisedButton>`
i'm using 0.13.2

[2015-11-12 02:13] markoshust commented on #2126
Similar to the bottom sheet style, yes. But also with fully expanded option to go full screen modal.

[2015-11-12 04:29] justjacksonn opened #2140 "How is the main material-ui site built?"
I would be interested to know if the site at (http://material-ui.com/#/) is using the full material-ui components, and if so, can we see that example?

In particular I want to use the Tabs/Tab components for my sites top bar menu options (no drop down menus). But at best I am getting smaller fonts that are not the Roboto despite using the roboto font from google. As well, I can't seem to line it u

[2015-11-12 04:31] justjacksonn commented on #2136
I get this same problem. I think it may be other components as well? I see two to three pages of warnings/etc and I end up having to scroll up a while to see the initial output that I may spit out.

[2015-11-12 04:32] justjacksonn commented on #2126
May as well make it capable of any side, not just bottom, as well as center out, etc.

[2015-11-12 05:20] fourcube commented on #103
@shaurya947, since I was able to fix it with CSS in my project it's no longer an issue for me.

[2015-11-12 07:22] thataustin commented on #1824
Not to redirect the question... but is there a way to specify the placement of the snackbar?  I noticed the example puts it in the bottom center of the page, but it always show up bottom left for me.

That might be what you're asking as well, @f0und3r ?

[2015-11-12 08:22] Dattaya commented on #1951
Radium has resolved that issue and released version 1.5. :yum:

[2015-11-12 09:58] oliviertassinari commented on #2136
Should be fixed now. I'm gonna let the issue open until the next release

[2015-11-12 10:15] #2064 closed

[2015-11-12 11:53] markoshust commented on #2126
I believe the material in this case is only supposed to be derived from the bottom up, as that is where the paper is coming from. I guess you can leave it up to the user though, to not follow this if they wish :)

[2015-11-12 11:53] rickihastings commented on #1132
+1

Is this actually being taken into consideration? UI heavy apps are really sluggish because of inline styles, it should be at least possible to extract them out if the dev wishes. It also blocks us when using media queries and psuedo selectors. I may have to consider using react-toolkit.

[2015-11-12 11:57] oliviertassinari commented on #1132
@rickihastings I would refer to this issue https://github.com/callemall/material-ui/issues/1951.

I agree, this could reduce page size. Do you see any other advantage?

[2015-11-12 12:01] Ben07 commented on #1676
@aslauris your solution is nice,but when I show images in a dialog,I don't know when to call the dispatchEvent function because of load time of image.has any idea?

[2015-11-12 12:08] rickihastings commented on #1132
Other than the points already mentioned in #1951 and UI heavy apps being sluggish, not really.

A major issue of mine is I can't even load tables on iPad mini devices, I'm assuming it's because of the sheer amount of inline styles being processed. I'd rather not swap out material-ui for another library because I think it's the most complete, but the inline styles are giving me a huge headache.

[2015-11-12 14:19] raffy2010 commented on #1272
@oliviertassinari
@otroboe
nice job

[2015-11-12 15:15] ganesshkumar opened #2144 "[Tabs] Icon or IconButton"
I dynamically create a list of Tab inside Tabs. It works perfectly. I want to close the Tab on clicking a close icon in the Tab and get struck with it .

**Tab** accepts only `lable` and `value` as parameters. I am using the `lable` parameter to add `IconButton` to the tab. The IconButton gets displayed but when is use `onClick` on this `IconButton` the function doesn't get triggered when I click

[2015-11-12 16:33] shaurya947 commented on #200
@rxaviers wow, thanks for testing this so thoroughly! Now that we have this info, I'll be opening a separate issue for each of these browsers..

[2015-11-12 16:35] shaurya947 opened #2145 "[GridList] support on Safari, IE and Edge"
See last comment on issue #200

@igorbt

[2015-11-12 16:37] shaurya947 opened #2146 "[DatePicker] support on Safari, IE, Edge"
See last comment on issue #200

@oliviertassinari -- can you also cc some other people who have worked on `DatePicker` recently?

[2015-11-12 16:42] shaurya947 commented on #1599
@garakelian try `onItemTouchTap = {() => console.log('touch1')}`

What's likely happening is that the `console.log('touch1')` is getting executed whenever the handler is bound -- but you want to bind a function and have it execute when the event is actually triggered.

[2015-11-12 16:42] #1599 closed

[2015-11-12 16:47] shaurya947 commented on #234
My bad @a1russell, I actually meant to link to #2039.

Sorry to hear that buddy! Let's just see where 2039 goes, and if we need to make any changes to it..

[2015-11-12 16:47] #234 closed

[2015-11-12 16:51] #103 closed

[2015-11-12 16:57] markoshust commented on #1819
I would like this as well, so I made this quick PR. Didn't test it, but really nothing that could go wrong here https://github.com/callemall/material-ui/pull/2147

[2015-11-12 17:59] hannujaakkola opened #2151 "Building webpack-example failed, Unknown plugin "dev-expression""
I just installed the webpack-example but npm start gave me "ERROR in ./src/app/app.jsx
Module build failed: ReferenceError: Unknown plugin "dev-expression"". I needed to npm install babel-plugin-dev-expression before building app.js succeeded.

[2015-11-12 18:06] garakelian commented on #1599
@shaurya947, that did it! Thanks. I guess I have some additional reading to do on ES6 and the "=>" operator. Grateful for the help.

[2015-11-12 18:50] frnk94 commented on #2140
the entire doc source is available...
https://github.com/callemall/material-ui/tree/master/docs/src

[2015-11-12 19:04] oliviertassinari commented on #2151
@hannujaakkola What sequence of command did you run?

[2015-11-12 19:59] yoavgurevich commented on #2119
Is there a temporary fix we can add into the source code right now until the next release is up by any chance?

[2015-11-12 20:19] igorbt commented on #2145
That's strange. From screen I see it's mainly a flexbox issue but this should have been fixed in e967763. I will try to have a look tomorrow at work where I could find all these environments.

[2015-11-12 20:22] oliviertassinari commented on #2145
@igorbt We have merged an improved autoprefixer tool. The prefix are no longer need for the flex property.

[2015-11-12 20:37] #331 closed

[2015-11-12 20:43] shaurya947 commented on #337
Just the revisited the search results mentioned by @s-panferov and it seems like many invocations using `setTimeout()` that modify state now check `isMounted()`. Closing this for now. If there are more specific errors, I'm sure we would see issues for them.

[2015-11-12 20:43] #337 closed

[2015-11-12 20:46] a1russell commented on #234
@shaurya947: Ah, okay, gotcha. Looks like #2039 is similar to what I was trying to achieve, at least for one component. I haven't looked at this project since my PR was rejected, though, so I'm not sure if it covers everything. But it does look to be a step in the right direction. Best of luck!

[2015-11-12 20:48] shaurya947 commented on #338
I believe this should be fixed now. @ajaybeniwal feel free to re-open if you still experience the same issue.

[2015-11-12 20:48] #338 closed

[2015-11-12 20:50] shaurya947 commented on #351
Closing this for now. @luisrudge @monkeymars if you had any success / progress, feel free to post it here.

[2015-11-12 20:50] #351 closed

[2015-11-12 20:53] shaurya947 commented on #353
@wmertens @Cidro are you guys still experience these issues? #1905 should have fixed some of that. Closing for now. Feel free to re-open / comment.

[2015-11-12 20:53] #353 closed

[2015-11-12 21:00] shaurya947 commented on #368
Is there still interest in seeing this as a package on bower? Btw, once you clone the repo, all you gotta do is transpile the `src` folder:

`babel src/ -d lib`

(closing for now)

[2015-11-12 21:00] #368 closed

[2015-11-12 21:03] shaurya947 commented on #404
@omerts do you still experience this issue with the new `MenuItem` component? Maybe try overriding the inline `style` prop to decide whether or not you want to show the item?

(closing for now, feel free to comment).

[2015-11-12 21:03] #404 closed

[2015-11-12 21:07] penkar opened #2155 "SelectAllSelected prop not being passed in Table"
I've been trying to dynamically check and uncheck the Table Header checkbox through another component, and have been unable to do so.

While exploring this issue further I found that in the TableHeader component setting selectAllSelected to true doesn't seem to be passed on. I've added dummy props to my table header just to verify I was looking at the right information, and console.logged the prop

[2015-11-12 21:08] #410 closed

[2015-11-12 21:08] #412 closed

[2015-11-12 21:08] jesseflorig commented on #2151
@hannujaakkola :+1:

[2015-11-12 22:12] #478 closed

[2015-11-12 22:13] #506 closed

[2015-11-12 22:14] #515 closed

[2015-11-12 22:20] shaurya947 commented on #516
This should be working now.

[2015-11-12 22:20] #516 closed

[2015-11-12 22:29] #600 closed

[2015-11-12 22:31] shaurya947 commented on #605
@dwoodlock do you still face this issue today? Closing for now, feel free to comment.

[2015-11-12 22:31] #605 closed

[2015-11-12 22:32] #644 closed

[2015-11-12 22:33] #647 closed

[2015-11-12 22:37] shaurya947 commented on #663
@oliviertassinari any idea?

[2015-11-12 22:39] oliviertassinari commented on #663
@shaurya947 I have no idea.

[2015-11-12 23:46] poojareddyintuit commented on #2119
This is an issue from using node v5.0.0. This went away for me when I switched to 4.2.2, so use 4.2.2 with nvm until they release the fix.

[2015-11-12 23:48] yoavgurevich commented on #2119
My build's using 4.1.1 and my local machine has 4.2.2 installed, so @poojareddyintuit I'm not sure that I can say the same for myself..

[2015-11-13 01:56] Grmiade commented on #2115
+1

[2015-11-13 02:44] justjacksonn commented on #2140
Thanks for pointing that out. Looking at many of the pages, there are things like FullWidthSection and others that are not listed anywhere that I can see in tutorials/examples of using this kit. It's great that the entire site is made with it, but still I think there should be some time spent on actual tutorials for common sorts of layouts, showing how to use the materialui and explaining why/how/

[2015-11-13 03:57] #283 closed

[2015-11-13 03:58] pawsong opened #2156 "Server side rendering returns expanded DropDownMenu"
Server rendered DropDownMenu component is always opened and is closed during client initialization,  which I think is unintended operation.

It seems to be a bug from Menu component.

Initial Menu open state is set in `componentDidMount` > `this._renderVisibility `, which is not called on server rendering, so server rendered Menu component is always opened. Following is the code:

https://github.c

[2015-11-13 03:59] smitch88 commented on #1565
:+1:

[2015-11-13 04:53] jaimemartinez88 commented on #2119
I changed to node 4.2.2 and I am still having the same problem.
I went back to v0.13.1 and node v4.2.2 and it is working.

Reading rofrischmann/inline-style-prefixer they suggest assigning a custom UA so I also tried changing line   https://github.com/callemall/material-ui/blob/master/src/styles/auto-prefix.js#L13  to

userAgent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_0) AppleWebKit/537.36

[2015-11-13 04:53] zhiyelee opened #2157 "npm shrinkwrap: extraneous `history` dependency in node_modules"
Way to reproduce this:
[code]
Found Error

[code]

Not sure which incurs this?

[2015-11-13 04:56] rhythnic commented on #1676
@Ben07  you can probably set call window.dispatchEvent from inside the 'componentWillUpdate' lifecycle callback.  i assume that gets called as the image loads, but I'm not sure.

[2015-11-13 05:14] Ben07 commented on #1676
@rhythnic thanks,I set call window.dispatchEvent inside the 'componentDidUpdate' and use DIV tag which has Immutability height to wrap these images.It's works.

[2015-11-13 06:01] justinmc commented on #2119
I got the same error while trying to do server side rendering.  Using node v4.2.2 and material-ui v0.13.1 does seem to fix it for now.

[2015-11-13 10:19] #2090 closed

[2015-11-13 10:44] Ben07 commented on #1296
Hi,@elanbar. I face the same problem at now,please give me some advices if you solve it.thanks in advance.

[2015-11-13 10:52] oliviertassinari commented on #2093
We should add it to the doc. Let's reopen the issue until it's done.

[2015-11-13 10:59] Ben07 commented on #1296
I think it is because of 'overflow:hidden' style influences your IconMenu,you can modify this style to 'overflow: initial;' in TableRowColumn which wrap your IconMenu component.

[2015-11-13 12:12] Ben07 commented on #1565
+1

[2015-11-13 12:43] serratus commented on #2071
I'm starting to move `<SelectField />` from `text-field` to it's own page right away. If you have any further suggestions what should be included in the new page, please let me know. In my opinion it's also worth mentioning, that the component makes use of `onTouchTap` in case you forget to include `react-tap-event-plugin`, like I did.

[2015-11-13 13:04] oliviertassinari commented on #2071
I agree.

Well, that's true for almost all components.

[2015-11-13 13:24] mbrookes commented on #2071
I don' know if the current menu component used for the docs side menu allows for it, but it would be nice to see component docs logically grouped, for example form components together etc.

[2015-11-13 13:31] vijayrawatsan commented on #2157
even npm ls gives the same error

[2015-11-13 13:38] vijayrawatsan commented on #2157
Deps in 0.13.2
[code]
Output of npm ls for material-ui
[code]

Why is history@1.13.0 extraneous even there

[2015-11-13 13:44] oliviertassinari commented on #2157
That's because of the `devDependencies`. Also the dependencies are wrong since we moved some of them out of `peerDependencies` in the main package.json.

[2015-11-13 13:57] equinusocio commented on #1871
:+1:

[2015-11-13 14:03] rhythnic opened #2158 "LeftNav componentWillReceiveProps open-state conflict"
For me, the componentWillReceiveProps callback is setting state.open to true before the call to setState({open: false}) inside of the close function has had time to take effect, preventing the menu from closing when the close or toggle methods are called.  I've commented out the line to set state.open inside of component will receive props as as workaround.  To fix this, I think that state.open sh

[2015-11-13 14:03] ayhankuru commented on #1871
https://github.com/callemall/material-ui#react-tap-event-plugin

[2015-11-13 14:04] oliviertassinari commented on #1871
@ayhankuru Thanks

[2015-11-13 14:04] #1871 closed

[2015-11-13 14:06] zhiyelee commented on #2157
@oliviertassinari thanks. Any idea how to fix this?

[2015-11-13 14:06] SPAHI4 opened #2159 "Cannot read property 'CSS' of undefined on docs site"
http://material-ui.com/
[code]

[2015-11-13 14:07] oliviertassinari commented on #2159
Duplicate of https://github.com/callemall/material-ui/issues/2119

[2015-11-13 14:07] oliviertassinari commented on #2159
Well, not, what user agent are you using?

[2015-11-13 14:40] vijayrawatsan commented on #2106
@oliviertassinari Any idea?

[2015-11-13 14:45] oliviertassinari commented on #2157
This PR should fix them https://github.com/callemall/material-ui/pull/2160.

[2015-11-13 14:58] oliviertassinari commented on #2151
Should be fixed by https://github.com/callemall/material-ui/pull/2160

[2015-11-13 14:58] vijayrawatsan commented on #2106
Hacked it by using whiteSpace: 'normal' on innderDivStyle

[2015-11-13 14:58] #2106 closed

[2015-11-13 14:59] oliviertassinari commented on #2140
@frnk94 Thanks

[2015-11-13 14:59] #2140 closed

[2015-11-13 15:00] #2128 closed

[2015-11-13 15:20] serratus commented on #2071
Well, for now, I've split up the docs for TextField and SelectField in separate pages. Here's the PR https://github.com/callemall/material-ui/pull/2161

[2015-11-13 16:06] RobTheBuilder2 commented on #642
Any update on this?  If I have a drop down menu with a lot of items in a Dialog component, things are not displayed properly.

[2015-11-13 17:19] shaurya947 commented on #642
duplicate of #414

[2015-11-13 17:21] shaurya947 commented on #685
#797 has been merged. Now we have both a helper `ThemeManager` as well as a `ThemeDecorator` decorator.

[2015-11-13 17:21] #685 closed

[2015-11-13 17:27] yoavgurevich commented on #2119
@justinmc Rolling back to the 0.13.1 package has fixed things for me as well for now. Many thanks!

[2015-11-13 17:30] raveclassic opened #2162 "Invalid tag error using AppBar"
Hi!

Today I've updated material-ui and started receiving very weird error:
`Uncaught Error: Invariant Violation: Invalid tag: 4c357f9d0d31170548c4ad1b5a362ae3.js`.

I'm running webpack with:
[code]

This is reproduced with the simplest rendering of an AppBar component. (Other component seem to work).

Is this related to material-ui update?

[2015-11-13 17:36] shaurya947 commented on #690
@mrphu3074 we've had some changes to `TextField` recently (especially regarding multi-line properties). I'm closing this for now.. but can you check if you're still experiencing this issue or not? Feel free to comment here.

[2015-11-13 17:36] #690 closed

[2015-11-13 17:40] shaurya947 commented on #691
It seems like this happens when there are multilpe react versions installed and they conflict. I'm closing this for now, but @omaksi @luisrudge could you guys see if you still have this issue after ensuring that you don't have another version of React installed? Feel free to comment here..

[2015-11-13 17:40] #691 closed

[2015-11-13 17:42] luisrudge commented on #691
I don't see this anymore and the problem was indeed 2 reacts.

Enviado pelo meu Windows Phone
________________________________
De: Shaurya Arora<mailto:notifications@github.com>
Enviada em: ‎13/‎11/‎2015 15:41
Para: callemall/material-ui<mailto:material-ui@noreply.github.com>
Cc: Luís Rudge<mailto:luis@luisrudge.net>
Assunto: Re: [material-ui] [TextField] invariant.js:42 Uncaught Error: Invariant

[2015-11-13 17:48] Jarema commented on #1311
:+1:  Same thing happens when using dropdown menu as a table row action.

[2015-11-13 17:51] shaurya947 commented on #695
@cgestes:

Not sure what you mean. It makes sense for `ToolbarTitle` to inherit the styles of the `ToolbarGroup` when it is declared inside a `ToolbarGroup`. That should be the expected behavior, right?

If it's only a matter of moving it over by a few pixels, then I would say let's leave that up to the developer as to how they wish to style (by overriding the inline-style of `ToolbarTitle`).

I d

[2015-11-13 17:51] #695 closed

[2015-11-13 17:54] shaurya947 commented on #697
Fixed. See [here](https://github.com/callemall/material-ui/blob/master/src/app-canvas.jsx#L54).

[2015-11-13 17:54] #697 closed

[2015-11-13 17:55] #698 closed

[2015-11-13 17:56] shaurya947 commented on #701
See http://material-ui.com/#/components/tabs . We now have an `inkBarStyle` prop defined on the `Tabs` component.

[2015-11-13 17:56] #701 closed

[2015-11-13 17:58] shaurya947 commented on #706
Closing in lieu of #962

[2015-11-13 17:58] #706 closed

[2015-11-13 17:59] shaurya947 commented on #707
Then I suppose there is nothing we can do about this? @luisrudge @castrolol

[2015-11-13 18:01] shaurya947 commented on #708
@luisrudge can you double check? Closing this for now.

[2015-11-13 18:01] #708 closed

[2015-11-13 18:01] RobTheBuilder2 commented on #642
Why did you close this? What we are discussing is different from the issue that you linked to.  In the other issue he is saying that items flow out of the menu.  I'm saying that if the menu is inside a dialog, items do NOT get displayed at all when the list is large.  And, the guy from issue #1065 is saying that even outside of a Dialog component, he is having issues.  The list is getting truncate

[2015-11-13 18:04] RobTheBuilder2 commented on #1311
+1

[2015-11-13 18:30] rickihastings commented on #579
+1

[2015-11-13 19:05] vijayrawatsan commented on #2115
+1

[2015-11-13 19:21] oliviertassinari commented on #2157
@grobot I'm glad to hear it. Sorry, we have merged a lot of PRs lately.

[2015-11-13 19:21] #2157 closed

[2015-11-13 19:23] oliviertassinari commented on #2115
Yeap, we should fix this!

[2015-11-13 19:24] vijayrawatsan commented on #2157
@grobot How did you test with v0.13.2
Did you build material ui locally?

[2015-11-13 19:25] oliviertassinari commented on #2157
@vijayrawatsan Just clone the master branch and go to example.

[2015-11-13 19:35] shaurya947 commented on #642
My bad @RobTheBuilder2. Thanks for noticing and re-opening @oliviertassinari

[2015-11-13 19:38] ayhankuru commented on #2162
can you share full error?

[2015-11-13 19:40] vijayrawatsan commented on #2157
@oliviertassinari @grobot
Thanks guys.

[2015-11-13 19:41] shaurya947 commented on #709
I just tested on IE 11 (win 7 and 8.1), as well as Edge 12 (win 10) -- using browserstack -- and cannot reproduce this today. So closing for now.

[2015-11-13 19:41] #709 closed

[2015-11-13 19:51] zhiyelee commented on #2157
@oliviertassinari thanks for the fix! When can we expect a new version?  Thanks

[2015-11-13 20:09] RobTheBuilder2 commented on #1987
Also looks like inputStyle is ignored as well.  I have no way to set the style of the Dropdown that is wrapped by the SelectField.

[2015-11-13 20:12] shaurya947 commented on #717
@cdax are you still interested in this functionality + submitting a PR for this? Closing for now. If you get back and are still interested, I'll re-open.

[2015-11-13 20:12] #717 closed

[2015-11-13 20:14] shaurya947 commented on #718
@illogikal could you post of gif that?

[2015-11-13 20:16] shaurya947 commented on #719
See #1717.

[2015-11-13 20:16] #719 closed

[2015-11-13 20:27] shaurya947 commented on #729
@chrismcv could you confirm that the solution suggested above works for you, so I can go ahead and close this?

[2015-11-13 20:29] #732 closed

[2015-11-13 20:33] luisrudge commented on #707
Can we have a fallback for that? Not supporting at least IE11 seems a bit wrong :(

[2015-11-13 20:34] luisrudge commented on #708
It's working, thanks!

[2015-11-13 20:35] luisrudge commented on #709
Thanks!

[2015-11-13 21:14] raveclassic commented on #2162
@ayhankuru I have prepared a demo repo: https://github.com/raveclassic/material-ui-failure-demo

[2015-11-13 21:46] #750 closed

[2015-11-13 21:47] shaurya947 commented on #1737
This has been fixed, right? @yulric

@izziaraffaele could you verify?

[2015-11-13 21:50] shaurya947 commented on #763
@jaygood with the new theming API, once you have generated an `muiTheme` object, you can override specific styles for the slider as listed [here](https://github.com/callemall/material-ui/blob/master/src/styles/theme-manager.js#L122)

See the [docs on overriding theme variables](http://material-ui.com/#/customization/themes) -- scroll to the "Overriding Theme Variables" section.

[2015-11-13 21:52] yulric commented on #1737
Hey @shaurya947, sorry I'm in the process of fixing it or more accurately I have a fix for it ready but writing a test case to verify it is turning out to be a pain. I'm not sure why but I can't access any of the component methods when I try to get one from the rendered dom in my test case meaning that I can't show the dialog and verify the fix I made. Any thoughts?

[2015-11-13 21:58] shaurya947 commented on #1737
Hmm... I can think of a couple things off the top of my head. Make sure you're getting the correct element from the DOM when using React's TestUtils. See #410

Also, now instead of using the `show()` and `dismiss()` methods, you can simply use the `open` prop for the Dialog (I think that will make things easier for you). See PR #1996

cc: @oliviertassinari any ideas?

[2015-11-13 21:59] yulric commented on #1737
did not know the open prop had been implemented, that's awesome. I'll merge that into my repo and have another stab at it.

[2015-11-13 22:00] abastardi commented on #1703
Not just a lack of ripple, but no visual feedback at all that a click has been registered.

The ripple is also missing in IE, though there at least there is a visual cue that the button was clicked.

[2015-11-13 22:16] shaurya947 commented on #764
Should be a pretty quickfix (at least for `FontIcon`). You wanna submit a PR @rolandpoulter ?

[2015-11-13 22:22] shaurya947 commented on #776
`fontFamily` inside most components now references the `rawTheme.fontFamily` prop of your `muiTheme`.

[2015-11-13 22:22] #776 closed

[2015-11-13 22:23] CezarLuiz0 commented on #2130
1) Yes, include on material-ui specification. Native.
2) Sorry, it was my fault. Forget it ;)

[2015-11-13 22:24] shaurya947 commented on #1737
:+1: feel free to reach out if you have any more questions!

[2015-11-13 22:37] RobTheBuilder2 opened #2163 "Set Dropdown menu style in SelectField component"
How can I set the drop down style when rendering a SelectField component?  I have tried several things, but it doesn't look like there is any way to get the style to propagate down to the Dropdown component.  I already made this comment in #1987 but wanted to make sure you guys see this.

[2015-11-13 22:38] shaurya947 commented on #783
I don't think this an issue any more. See code below:

[code]

------------

Here's the app in action (with updated state being logged in the console as the TextField input changes). You can see that the TextField retains focus:

![4uo63bzhmj](https://cloud.githubusercontent.com/assets/3454081/11159425/dd132004-8a24-11e5-8b22-0e6eb858d27e.gif)

[2015-11-13 22:38] #783 closed

[2015-11-13 23:20] Aktof opened #2164 "deselectOnClickaway prop on TableBody is a typo."
I was trying to use the table component and noticed that `deselectOnClickAway` doesn't work. However the example code above the docs notes that `deselectOnClickaway` does work. Should we change this to match the docs or is the example code canonical?

[2015-11-14 00:11] gmaclennan opened #2165 "Ripples fire on drag/swipe on iOS and Android"
When scrolling a ListItem or Button on iOS or Android touch ripples fire wherever I touch to drag / scroll the screen. This gives a pretty bad user experience while scrolling a list.

Using Chrome 46.0.2490.76 on Android 4.4.4 and Safari on iOS 9.1

Is there a way to disable ripple effects altogether?

[2015-11-14 00:22] liviuignat opened #2166 "Realease 0.13.2 dependency error for server rendering"
I am using the latest version - 0.13.2 - in an universal app and ```inline-style-prefixer``` dependency throws an error in ```Prefixer.js```

file:
/material-ui/node_modules/inline-style-prefixer/lib/Prefixer.js

ln: 42
this.cssPrefix = this._browserInfo.prefix.CSS; ===> this._browserInfo.prefix is not defined.

Downgrading is also not an option because of:
https://github.com/callemall/material-ui

[2015-11-14 00:23] oliviertassinari commented on #2163
I agree with you, style property regarding the TextField should be passed to this component and not the DropDown. This shouldn't be too hard to fix.

[2015-11-14 00:27] thanhthang20 opened #2167 "Cannot read property 'CSS' of undefined on both v0.13.2 and v0.13.1"
React v0.14.0, Nodejs v0.12.5

TypeError: Cannot read property 'CSS' of undefined
    at new Prefixer (/Users/thangjs/reborn/node_modules/material-ui/node_modules/inline-style-prefixer/lib/Prefixer.js:43:46)
    at Object.getPrefixer (/Users/thangjs/reborn/node_modules/material-ui/lib/styles/auto-prefix.js:28:18)
    at Object.all (/Users/thangjs/reborn/node_modules/material-ui/lib/styles/auto-pre

[2015-11-14 00:28] ayhankuru commented on #2167
#2119

[2015-11-14 00:30] ayhankuru commented on #2166
#2119

[2015-11-14 00:33] #2167 closed

[2015-11-14 00:34] oliviertassinari commented on #2166
@liviuignat We are sorry about this. Unfortunately we don't have any test for the server side rendering...

[2015-11-14 00:34] #2166 closed

[2015-11-14 01:03] craigjennings11 commented on #2158
I'm also having this problem. The related code change is https://github.com/callemall/material-ui/commit/49feb2ee238f03e90f7c6fcfb3bf73728721ec76. I'm calling leftNav.close() and then routing my app causing a re-render. When `componentsWillReceiveProps` is called, since `docked` hasn't changed it sets `open = this.state.open` which hasn't yet been updated from the `close()` call. This blocks the l

[2015-11-14 01:22] oliviertassinari commented on #2158
Sounds like we can do an easy fix. Do you want to give a try?

[2015-11-14 03:25] rhythnic commented on #2158
[Pull Request](https://github.com/callemall/material-ui/pull/2169)

[2015-11-14 06:06] Sutat commented on #2119
@yoavgurevich @justinmc
I was in **0.13.0** and I had the error.
I tried **0.13.1** without success, I do test with this code : https://github.com/Sutat/T411_SeedWarning/tree/ui/bug/css

Dependencies : https://github.com/Sutat/T411_SeedWarning/blob/ui/bug/css/package.json
Components : https://github.com/Sutat/T411_SeedWarning/tree/ui/bug/css/app/frontend/components

This can be my bad because I ha

[2015-11-14 08:38] oliviertassinari commented on #2158
I think that It will be better to remove this imperative `close` method as we did with the `Dialog`.
Anyway, that's a regression and we have to fix it.
Thanks guys.

[2015-11-14 09:23] raveclassic commented on #2162
OMG looks like the problem was with webpack-file-loader and SvgIcon. Removing file-loader fixes the error - closing.

[2015-11-14 09:23] #2162 closed

[2015-11-14 09:41] roylee0704 commented on #1192
still not working at react 0.14.2. And `onClick` seems not to work too.

[2015-11-14 10:03] roylee0704 opened #2170 "the onClick of RaisedButton doesn't work. [React 0.14.2, Material UI 0.13.2]"
Disclaimer: I'm using redux.

Hi guys, I have following code

[code]

Both **Click/onTouchTap event is not firing**. Note I did include `injectTapEventPlugin()` to support onTouchTap.

HOWEVER, It works without the following line:

[code]

So why this behaviour and how to let it work without commenting out that line?

[2015-11-14 10:58] roylee0704 commented on #2170
Found the issue, it's my fault, I forgot to specify `.bind(this)`. This has nothing to do with `React` or `material UI`.

[2015-11-14 10:58] #2170 closed

[2015-11-14 11:30] chrismcv commented on #729
apologies - should have closed this ages ago... `bind` does of course work

[2015-11-14 11:30] #729 closed

[2015-11-14 16:37] vijayrawatsan commented on #2157
@oliviertassinari Can we have a new patch release for this. This is an important requirement for anyone who want to release his/her code to production.

[2015-11-14 18:15] thataustin commented on #1335
+1 for optional `avatar` on `CardHeader`

[2015-11-14 19:50] luisrudge opened #2171 "RefreshIndicator and absolute values"
IMO, it doesn't make sense to accept ONLY absolute values.
I'm trying to create my own loading component like this:
[code]

This works great, but I get this warnings:
`Warning: Failed propType: Required prop `left` was not specified in `RefreshIndicator`.`
`Warning: Failed propType: Required prop `top` was not specified in `RefreshIndicator`.`

Can we make them at least optional so the dev can cho

[2015-11-14 20:04] oliviertassinari commented on #2157
@vijayrawatsan I can't release.

I'm gonna fix the server side rendering. Then I think that I would be good to do a fix release @shaurya947.

[2015-11-14 20:20] subjectix commented on #2171
:+1: Had the same issue with the component a while back. I used circular progress instead. I would suggest you do the same since this component can be confused with the chromes own refresh indicator on android devices.

[2015-11-14 20:31] oliviertassinari commented on #2119
Could you have a look at https://github.com/callemall/material-ui/pull/2172?

[2015-11-14 20:31] luisrudge commented on #2171
Sorry, what you used?

[2015-11-14 20:32] luisrudge commented on #2171
Oh, nevermind. Found it: http://material-ui.com/#/components/progress

[2015-11-14 20:40] subjectix commented on #2171
By passing `innerStyle={{ margin: 0 }}` you can easily style the components with the animations you desire. you can take a [look](https://gist.github.com/subjectix/b208307a692ca5db9a92) at my implementation.

[2015-11-14 21:23] markoshust opened #2174 "[Autoprefix] leftNav docked always true on ipad"
For some reason when on iPad, leftNav is always opened, even when setting docked={false}. This only happens on iPad. I can't even toggle it open/closed -- it's just always open.

[code]

[2015-11-15 01:00] luisrudge commented on #2074
:+1:  to this one. This would be great!

[2015-11-15 01:32] luisrudge opened #2175 "table header/row alignment"
I have just two columns and the header is completely misaligned with the rows:

![image](https://cloud.githubusercontent.com/assets/941075/11166687/f2a5274c-8b27-11e5-8e62-30920bb851d8.png)

[2015-11-15 01:49] luisrudge opened #2176 "TableBody with selectable=false still selects rows"
[code]

![mui](https://cloud.githubusercontent.com/assets/941075/11166741/56f76faa-8b2a-11e5-8214-e66f72388047.gif)

[2015-11-15 01:50] luisrudge opened #2177 "table: row hover style is overriding selected style"
When I click a row, I expect it to be styled as active and hovering shouldn't override that style

![mui](https://cloud.githubusercontent.com/assets/941075/11166742/6d3ec380-8b2a-11e5-8f05-ee47803faf56.gif)

[2015-11-15 03:11] t1mmen opened #2178 "ListItem, IconMenu and nested <a>'s"
First off, thank you for a great implementation of Material UI!

Using the most recent releases of material-ui & React, I keep seeing errors like this in the console:
[code]

Component usage is pretty standard, I'd imagine:
[code]

The result I'm looking for, is to have `ListItems` that aren't links (preferably without the onTouch animations, too).

I believe my use case would be fixed if https://

[2015-11-15 05:52] anthony-dandrea opened #2179 "hoverColor on button not working"
I've tried a few different things but I haven't been able to get my color to change on hover for `FlatButton`.

[code]

[2015-11-15 05:53] anthony-dandrea commented on #2179
nvm my `style` was overriding `hoverColor`

[2015-11-15 05:53] #2179 closed

[2015-11-15 07:49] xueruini commented on #799
1. You should use `ReactWithAddon.js` in your browser.
2. `{"global": true}` for shim only works with programming API. (github.com/thlorenz/browserify-shim/issues/191)

[2015-11-15 14:08] roylee0704 commented on #209
But what about the `grid-list` component by material-ui ? Wasn't that for grid system?

[2015-11-15 19:54] TCMiranda opened #2181 "ListItem prop-type should be either String or Node, since it is supported."
Isn't it?
Thanks!

[2015-11-15 20:58] yl0g0ly commented on #2082
I think so too.
<img width="652" alt="ss" src="https://cloud.githubusercontent.com/assets/12291403/11170985/16c44d7e-8c27-11e5-9e54-a674df8627e4.png">

[2015-11-15 20:59] easybird opened #2182 "Card - why can't I control the expanded state from outside of the card?"
When one card is expanded, I would like to collapse all my other cards.
But a card only has a prop initiallyExpanded. Changing it after the card component is mounted doesn't have any impact.

It seems to be done for a reason as the prop gets mapped to an internal state inside the getInitialState:
[code]

What's the reason that one cannot expand/collapse from outside of the card?

[2015-11-15 22:26] saikat opened #2183 "Clicking on floating label text doesn't focus the text field"
To reproduce, try clicking on the word "Floating Label Text" on the first input in the second column here:

http://material-ui.com/#/components/text-fields

Since floatingLabelText acts as the hint text when nothing is inputted, it's odd to not be able to click it when it is taking up space in the actual input.

[2015-11-15 23:07] liesislukas commented on #1703
ink not working on Chrome for tabs too, it works for button though

[2015-11-15 23:31] liesislukas commented on #1684
It's v0.13.2 and nothing about events in docs, only props

http://material-ui.com/#/components/buttons

[2015-11-16 01:42] Ben07 opened #2184 "Please update document in http://material-ui.com/ about table"
In document, the table body props deselectOnClickAway is typo,it should be deselectOnClickaway.

[2015-11-16 02:34] maokunlun opened #2185 "Is material UI an external contributor friendly project?"
Hi, I am quite new in the opensource community. I think material-ui might be my first open source contribution.

Yet, I understand this project is originally from a company internal project. Are you welcome external contributor and is there any rule to make my commit be accepted?

Thanks a lot.

[2015-11-16 05:24] subjectix commented on #2185
They welcome contributions, and the community is actually pretty big. The only rule is that every PR that change/update/remove/enhance a component must also update the documentations accordingly.
If you want to know how to set up your environment, and how to update the docs easily I can help out :grin:

[2015-11-16 06:10] celiao opened #2186 "[Table] SelectField in Table getting cut off"
I would like to place a `SelectField` component in a `Table` cell, but the `SelectField` menu is getting truncated to the height of the row.  How can the full menu be displayed?

[2015-11-16 06:12] celiao commented on #2186
![image](https://cloud.githubusercontent.com/assets/5824630/11175329/da94f894-8be5-11e5-8328-5d3be0405b1d.png)

Also, when I select a menu item, the entire row is being (de)selected.

[2015-11-16 06:27] subjectix commented on #2186
First, give your table enough height, then set your `TableRowColumn`'s styles with these:
[code]

For the record, there some work being done to address this issue for all components. see #2043.

[2015-11-16 07:03] celiao commented on #2186
Works great.  Thanks for your speedy reply.

I used the approach presented in #1702 to get rid of the checkboxes, and `<Table selectable={false}>` to disable rows from being selected.

It would be nice to be able to prevent the `SelectField` from selecting the row.

[2015-11-16 07:03] #2186 closed

[2015-11-16 07:43] subjectix commented on #2186
You're welcome ^^

It's possible, [`TableRow`](https://github.com/callemall/material-ui/blob/master/src/table/table-row.jsx#L144-L148) adds handlers to it's children. you can make a Higher Order Component and pass down only those you want, like `onHover`. actually it's a lot better this way, you can make a `TableSelectField` that abstracts away all the complexity. Here is what I did to achieve the

[2015-11-16 09:20] 0x80 commented on #209
@roylee0704 yes seems useful for lists specifically. I think grid systems are also used for whole page layout but I don't use them now. The grid-list component didn't exist yet at the time this question was posted

[2015-11-16 09:34] oliviertassinari commented on #2185
@subjectix That's a good sum-up :+1:.
We also value a lot new unit test of features.

[2015-11-16 10:36] ostrgard commented on #2099
Just adding to this. I believe most, at least European countries, follow this as it's the [ISO 8601: "... beginning with Monday and ending with Sunday."](https://en.wikipedia.org/wiki/ISO_8601#Week_dates). I hope it'll be prioritised by the team, or someone else willing to implement it :)

[2015-11-16 10:39] lockelee1015 opened #2188 "The DateDialog's header's head too long"
![7c90de7d-d39c-40ab-bf04-16a57a9049c7](https://cloud.githubusercontent.com/assets/11925587/11179814/02a8349e-8c91-11e5-8c09-984c895df3c0.png)
When I using DatePicker Component.The Datpicker Dialog's height is too long so I cannot see the picker.But I didn't set any style on that div.It's height is 100% by you set on the element style.How can I resolve this problem.

[2015-11-16 11:23] roylee0704 commented on #209
@0x80 Oh, in fact according to: [Material Design Specs: Grid lists](https://www.google.com/design/spec/components/grid-lists.html), it says:

So perhaps, `grid-list` at material-ui is not built for layouts system.

[2015-11-16 12:19] liyali commented on #2144
+1, it would be great to have `onClick`on `IconButton` components.

[2015-11-16 13:52] oliviertassinari commented on #2188
This issue is similar to this one https://github.com/callemall/material-ui/issues/2034.

[2015-11-16 14:38] Li0liQ opened #2189 "[Tabs] component reacts to child input's "change" event."
[code]
Typing anything into input triggers onChange of Tabs component.
Seems like input's change event bubbles up and gets caught by Tabs.

[2015-11-16 15:27] oliviertassinari opened #2190 "[IconMenu] Wrong use case"
Followinf this PR https://github.com/callemall/material-ui/pull/1894.
I think that it would be great to add a `warning` when someone try to use `IconMenu`
with an empty menu. We should use `IconButton` in this case.

[2015-11-16 15:32] oliviertassinari opened #2191 "[TextField] Don't animate multiLine TextField height while mounting"
Following this PR https://github.com/callemall/material-ui/pull/1736.
When a `multiLine` `TextField` has an initial value longer than a single line the element mounts as a single line and then animates the change in height to the full text height.

I think that the element should mounts with the right height.

[2015-11-16 16:00] clarkie commented on #1335
I agree, avatar should be optional. How are other people working round this? This is what I do but euurghh:

[code]

[2015-11-16 16:46] GeorgS commented on #1672
To get the selected index from the dropdown component you need to get the `selectedIndex` property: `this.refs.jobtype.props.selectedIndex`.

[2015-11-16 18:29] sbroadhead opened #2192 "Underlying Menu of DropDownIcon is not accessible"
I ran into an issue where a DropDownIcon menu (hosted inside a Toolbar) with only a single item in it labelled "Sign Out" was wrapping to two lines due to underlying 'autoWidth' functionality of the Menu apparently not generating a wide enough space for the text. Unfortunately there's no way to apply props to the underlying Menu to turn off autoWidth, nor is there a way to explicitly specify the w

[2015-11-16 19:03] shaurya947 commented on #1684
My bad @liesislukas. I should have taken note of that. Will include in next release.

[2015-11-16 20:00] #2185 closed

[2015-11-16 20:01] shaurya947 commented on #2184
@Ben07 would you like to submit a quick PR to fix that?

[2015-11-16 20:56] mbrookes opened #2194 "[Docs] DatePicker dos returns: `ReferenceError: Can't find variable: Intl`"

[2015-11-16 21:07] oliviertassinari commented on #2194
Is this with the Intl example and a browser that doesn't support `Intl`?

[2015-11-16 21:22] mbrookes commented on #2194
Yes - was just testing further and came back to report that is in Safari (7.1.6). Happened to be the browser I had open at the time. It's fine in Latest Chrome and Firefox.

There is a polyfill available: https://github.com/andyearnshaw/Intl.js

[2015-11-16 21:36] shaurya947 commented on #835
I know we also have props for `floatingLabelStyle` and `hintStyle`. However, after some tinkering around, I haven't been able to get this use case working successfully using only those props (in a *non-hacky* way of course).

cc: @oliviertassinari do you also wanna take a look at this? I feel like some code would need to change in the TextField source..

[2015-11-16 21:39] shaurya947 commented on #2181
@oliviertassinari yes, see https://facebook.github.io/react/docs/reusable-components.html

@TCMiranda so what is your exact question? The [current proptype](https://github.com/callemall/material-ui/blob/master/src/lists/list-item.jsx#L50) is indeed `node` (how I think it should be)..

[2015-11-16 21:41] shaurya947 commented on #816
@grbspltt see http://material-ui.com/#/components/cards

You could stack up cards and have them collapsed by default.. Then you can set the `expander` and `actAsExpander` props accordingly to decide which parts of the card can be expanded collapsed on click / touch.

[2015-11-16 21:47] shaurya947 commented on #872
@eXtreaL have you tried pursuing this use case since we changed theming in v0.12? Take a look [here](http://material-ui.com/#/customization/themes) and feel free to comment if you have any questions. Closing for now..

[2015-11-16 21:47] #872 closed

[2015-11-16 21:50] shaurya947 commented on #880
@corvuscornix are you still experiencing this issues. Just tried following the steps you listed and when I hover the mouse pointer over the "Options" text, it turns into the text cursor (which is what you would expect, right?)

[2015-11-16 21:53] TCMiranda commented on #2181
Oh i see.. You're right!

I was receiving a propType warning, so I thought the problem was the String, but actually, one item of the the list I was rendering had a Boolean value, giving me the warning.

Thanks for the support! Regards,

[2015-11-16 21:53] #2181 closed

[2015-11-16 21:55] shaurya947 commented on #886
@ashwinputhige see #1748 for ideas on how to accomplish 2

Not sure if you're still interested in 3. Let me know and I'll look into it. Closing for now..

[2015-11-16 21:55] #886 closed

[2015-11-16 21:56] shaurya947 commented on #888
This doesn't happen anymore.

[2015-11-16 21:56] #888 closed

[2015-11-16 21:59] shaurya947 commented on #896
@activatedgeek I'm quite confident that you shouldn't see these warnings today. I'm also quite confident that it was probably something with React and not directly with Material-UI. Closing for now, feel free to comment if you have any more questions.

cc: @oliviertassinari thoughts?

[2015-11-16 21:59] #896 closed

[2015-11-16 22:25] shaurya947 commented on #902
@hilkeheremans coming to this pretty late, but from what the `AppBar` component has evolved to become today, I doubt the use case that you mention comes up often. With that being said, why couldn't you just use the `Toolbar` component to achieve this?

[2015-11-16 22:34] shaurya947 commented on #912
Are you talking about tooltips for `IconButton`s? There is a `tooltipStyles` prop that you can use to override the font size.

Try using the `style` prop of the `Avatar` component? For that, you would have to apply a CSS class to the `Avatar` component using the `className` prop and then define a rule for the `hover` of that class name in a stylesheet. Or, you could also try the `onMouseOver` and

[2015-11-16 22:34] #912 closed

[2015-11-16 22:41] oliviertassinari commented on #896
@shaurya947 I agree with you. I'm pretty sure this is linked to an old version of react.

[2015-11-16 22:43] oliviertassinari commented on #835
We have kind of the same issue when we change the font size.
We are using absolute value, it wasn't design with this concern in mind.
I'm wondering if flex box couldn't make our life easier here.

[2015-11-16 22:56] martinhoefling commented on #2052
Seems like I have the same problems as @raptoria . Since upgrading to the newest version, my drop-downs and time pickers are transparent. The background transparency seems to be inherited from the element top level div.

[2015-11-16 23:23] DwightBe opened #2195 "Card Filter duplication bug"

[2015-11-16 23:24] #2195 closed

[2015-11-17 01:26] lockelee1015 commented on #2188
@oliviertassinari I have resolved this problem.I forget add <!DOCTYPE html>,maybe some style or attributes maybe dependency this.No need to fix any code.

[2015-11-17 07:11] austinmao commented on #1236
I am still seeing this problem with the latest Master branch build

[2015-11-17 07:29] tristola commented on #536
+1

[2015-11-17 07:31] corvuscornix commented on #880
@shaurya947 the problem seems to be gone so I will close this issue. :)

[2015-11-17 07:31] #880 closed

[2015-11-17 08:03] beata commented on #1132
+1
I really like the effect of material-ui, but I can't implement it on my work because of inline styles.
It slow downs page rendering, and is hard to customize in css files.

[2015-11-17 08:46] #2184 closed

[2015-11-17 09:24] jmgarciamari opened #2197 "Is possible to disable item on DropDownMenu?"
I wonder if I can do this with menuItems for DropDownMenu:

[code]

[2015-11-17 10:13] svk31 commented on #2165
I added Fastclick to my project to remove the 300ms click delay. Besides making the iOS version feel a LOT faster, it had the added benefit of removing the double ripples. You could try that out.

https://github.com/ftlabs/fastclick

[2015-11-17 10:45] Kagami commented on #1132
Shouldn't you provide benchmarks in order to prove your words? Benchmarks [here](https://github.com/callemall/material-ui/issues/30#issuecomment-62447976) claim the opposite. Just saying "it's slow" as well as "+1" is useless.

[2015-11-17 10:46] jmgarciamari commented on #2197
Sorry something was bad on my code, Is possible to disable itemmenu on dropdown

[2015-11-17 10:46] #2197 closed

[2015-11-17 11:11] oliviertassinari commented on #1132
@Kagami I couldn't agree more.
Adding just `+1` is adding noise to the conversation, use the subscribe button if you want to be kept up to date.

[2015-11-17 12:36] RahavLussato commented on #1958
+1

[2015-11-17 16:40] oliviertassinari commented on #2159
It should be fixed now.

[2015-11-17 16:40] #2159 closed

[2015-11-17 16:40] oliviertassinari commented on #2151
It should be fixed with the latest release.

[2015-11-17 16:40] #2151 closed

[2015-11-17 16:41] oliviertassinari commented on #2136
We have just released.

[2015-11-17 16:41] #2136 closed

[2015-11-17 16:45] oliviertassinari commented on #2119
https://github.com/callemall/material-ui/pull/2172 is supposed to adresse the previous issue.
Be aware that you need to specify the userAgent in the server side. If you don't, the server side will prefix for all browser will the client side will just prefix for the visitor browser.

[2015-11-17 16:45] #2119 closed

[2015-11-17 17:16] afhammad commented on #1517
+1

[2015-11-17 18:33] rickihastings commented on #1132
@Kagami
http://jsperf.com/class-vs-inline-styles/2 according to this test, inline styles are 86% slower.
http://jsperf.com/classes-vs-inline-styles 22% slower here.
http://jsperf.com/inline-style-vs-css-class/9 Inline style color is 38% slower, although inline style object is roughly the same as CSS class.

The main point I think people are making is it forces people to develop and write CSS in a

[2015-11-17 18:45] #919 closed

[2015-11-17 18:46] shaurya947 commented on #931
Closing this issue as it seems like a workaround was found.

@otroboe is this easier to do with the new props that were introduced for Dialog (`open` etc.)?

[2015-11-17 18:46] #931 closed

[2015-11-17 19:24] shaurya947 commented on #964
@micaste could you post your code here so we can take a look at it?

[2015-11-17 19:46] shaurya947 commented on #970
@el1f are you still experiencing this issue today? Could you also post the code for the `nav` class?

[2015-11-17 19:48] shaurya947 commented on #972
@troutowicz I believe this should not be an issue today.. We changed the theming API in v0.12 and now overriding theme properties is more straightforward and robust: http://material-ui.com/#/customization/themes

I'm closing this for now, but if anybody has any questions regarding custom themes / overriding theme attributes, feel free to comment

[2015-11-17 19:48] #972 closed

[2015-11-17 19:49] #973 closed

[2015-11-17 19:50] shaurya947 commented on #974
Theming has changed in v0.12 and does not use the factory pattern / the constructor pattern / the `new` keyword anymore

[2015-11-17 19:50] #974 closed

[2015-11-17 19:51] #984 closed

[2015-11-17 19:53] shaurya947 commented on #984
Today, we also have an `index.js` file for the SVG icons folder, and a script the generates it. See #1959

[2015-11-17 19:57] shaurya947 commented on #986
@ustccjw not sure what you mean.. if you check the [docs](http://material-ui.com/#/components/date-picker) today, the `propType` for the `defaultDate` prop has been updated to `instanceOf(Date)`.

If you would like to change the function signature to `onChange(value)`, we welcome PRs :-)

Closing for now. If I'm missing something, feel free to comment!

[2015-11-17 19:57] #986 closed

[2015-11-17 19:58] shaurya947 commented on #990
As per the [docs](http://material-ui.com/#/components/buttons), `FloatingActionButton` now has a `backgroundColor` prop.

[2015-11-17 19:58] #990 closed

[2015-11-17 20:01] shaurya947 commented on #995
@jackphel I wonder if you could use the React TestUtils to simulate a button click.. https://facebook.github.io/react/docs/test-utils.html#simulate

Closing for now as this has been sitting for too long and @conundrumer suggested some sort of a workaround. Feel free to comment if you would like to discuss more!

[2015-11-17 20:01] #995 closed

[2015-11-17 20:03] shaurya947 commented on #1000
Seems like this is (or perhaps *was*?) more of an issue with React and react router..

@oliviertassinari any thoughts?

[2015-11-17 20:04] shaurya947 commented on #1001
@oliviertassinari @chrismcv is anybody taking the lead on this?

[2015-11-17 20:06] oliviertassinari commented on #1132
@rickihastings Thanks for bringing up those tests. That's interesting.
http://jsperf.com/inline-style-vs-css-class/9 seems to make inline style faster.
Let's continue the conversation on this thread https://github.com/callemall/material-ui/issues/1951.
We are investingating another way to style components.

[2015-11-17 20:06] #1132 closed

[2015-11-17 20:07] shaurya947 commented on #1009
@wheercool could you check again now? Just confirming that it works on my end on Firefox 34.0.5 on Windows 10:
![screen shot 2015-11-17 at 2 06 51 pm](https://cloud.githubusercontent.com/assets/3454081/11223241/95fe257a-8d34-11e5-86ca-d3b7af741005.png)

[2015-11-17 20:07] #1009 closed

[2015-11-17 20:14] oliviertassinari commented on #1000
First of all, the phonegap is faster on iOS than on Android.
As you describe the issue, I king of know this issue. The rendering of the virtual dom of material-ui component is slow.
The first thing to do is to use immutable data and to resolve this https://github.com/callemall/material-ui/issues/1176.
The second thing would be to reduce the CPU cycle needed to create the virtual dom.

[2015-11-17 20:26] micaste commented on #821
It is just about creating a menu giving it the menuItem props looking like that :
[code]

Currently the icon on the menu item that has the text 'Nested' is not supported. The lines concerned are here where item.iconStyle... are not passed : https://github.com/callemall/material-ui/blob/master/src/menu/menu.jsx#L409-L423
and there where the props are not defined then not used: https://github.com/ca

[2015-11-17 20:43] ftorre104 commented on #1000
That is good advice.
To follow up on my comment, we were able to get significant improvements by correctly using PureRenderMixin. (We thought we had it, but had previously implemented it incorrectly, and react was re-rendering every mounted component :/)
Now much faster on iOS and android. Still noticeably faster on iOS than android, albeit it is now much more usable.

[2015-11-17 20:43] shaurya947 commented on #1040
@mstamos @CoDEmanX @Kagami can you test again? I don't see this issue today on the docs website.. We've since implemented the PureRenderMixin so I think it has taken care of the issue

[2015-11-17 20:51] KevinMcIntyre opened #2199 "LinearProgress component's progress bar color is not alterable through props"
Doesn't seem like I can alter the progress bar's color through the style prop or any other prop on LinearProgress, am I missing something?

[2015-11-17 21:01] oliviertassinari commented on #1176
Following the change `gaearon` proposed here https://github.com/facebook/react/issues/2517 and the issue this raise:

I think that we could highly reduce the cost of adding the `ContextPure` to all of our components by assuming that the `muiTheme` is immutable. Hence we could remove the [relevantContextKeysEqual]( https://github.com/callemall/material-ui/blob/master/src/mixins/context-pure.js#L3)

[2015-11-17 21:08] shaurya947 commented on #1099
This is being addressed in #1976

[2015-11-17 21:10] shaurya947 commented on #1102
#830 was replaced by #1243, which has been merged. Closing for now.. @chuchengcao please retest and let us know if you still experience the issue.

[2015-11-17 21:12] #1113 closed

[2015-11-17 21:16] shaurya947 commented on #1115
@JAStanton the `ToolbarTitle` component has a `style` prop that you can use to style the title. It is *intended behavior* for the `ToolbarTitle` title to accept a string type.

If you would like to put something else there, just put that as a child of your `ToolbarGroup` component.

[2015-11-17 21:16] #1115 closed

[2015-11-17 21:19] #1129 closed

[2015-11-17 21:20] #1133 closed

[2015-11-17 21:23] shaurya947 commented on #1138
@jackytck we had a few PRs addressing this / similar issues with the `Table` component. Can you test this again and let us know?

[2015-11-17 22:02] shaurya947 commented on #1158
@chrismcv were you able to work more on this?

[2015-11-17 22:04] mattkrick commented on #2115
+1
cursor: text
user-select: none (needs prefixes)
onClick focuses the input.
can submit PR if needed.

[2015-11-17 22:10] shaurya947 commented on #1168
@bweggersen @cgestes are either of you interested in taking this up in a PR?

[2015-11-17 22:14] shaurya947 commented on #1169
@ilya2306 closing this for now as we've had a few PRs addressing this / similar issues. Please retest and comment here if you still experience this / similar issues.

[2015-11-17 22:14] #1169 closed

[2015-11-17 22:16] shaurya947 commented on #1175
@gappture see the [table docs](http://material-ui.com/#/components/date-picker), we now have an `openDialog()` function that can be called on the DatePicker component.

[2015-11-17 22:16] #1175 closed

[2015-11-17 22:31] quanglam2807 commented on #818
I'm sorry, @shaurya947. I has been a long time and now I don't have the code to test :(. Should I close this issue and reopen it if the bug is still there as I'm quite busy now?

[2015-11-17 22:31] #818 closed

[2015-11-17 22:34] otroboe opened #2201 "[DatePicker] Click on floating label prevent from opening"
Hey guys !

Since 0.13.3 version, my floating label for my DatePicker prevents me from opening it.
I looked quickly and I think its the value *z-index: 1*.
When I override with **labelStyle** *z-index: 0*, it's working.

Maybe it's for an other option or feature, I dont know :)

Thank you.

[2015-11-17 22:45] martinhoefling commented on #2052
Setting the canvasColor in my rawSettings solved the problem.

[2015-11-17 22:46] shaurya947 commented on #1176
@oliviertassinari if you see the React [doc page on context](https://facebook.github.io/react/docs/context.html#passing-info-automatically-through-a-tree), it seems like the issue you mentioned (and all surrounding issues -- it was quite hard to track them sequentially) resolved to this:

which means that context is accessible to all children in the subtree, and they can opt in as they like. With

[2015-11-17 22:48] shaurya947 commented on #818
That would be the ideal thing to do.

[2015-11-17 22:52] shaurya947 commented on #1178
@rkstar @Fer0x anything show up in the console when you click the "Choose an image" button on the doc site?

[2015-11-17 23:39] quanglam2807 commented on #818
@shaurya947 Great. Anyway, thank you very much for reply.

[2015-11-17 23:59] bendiy commented on #1195
Duplicate of https://github.com/callemall/material-ui/issues/1427

[2015-11-18 00:02] bendiy commented on #2183
Duplicate of:
https://github.com/callemall/material-ui/issues/1011

[2015-11-18 00:02] bendiy commented on #1011
Related:
https://github.com/callemall/material-ui/issues/1427
https://github.com/callemall/material-ui/issues/1195
https://github.com/callemall/material-ui/issues/2183

[2015-11-18 00:06] bendiy commented on #1011
I'm having this same problem after upgrading to `0.13.3` from `0.13.0` on a `DatePicker`. If I have a `floatingLabelText` set for the `DatePicker`, the date picker dialog window will not pup up unless I click outside of the label text value. Clicking directly on the `floatingLabelText` does not bring up the date picker dialog. Clicking to the right of it or below it does bring up the date modal.

[2015-11-18 00:09] bendiy opened #2203 "[DatePicker] Support tabbing through a DatePicker field"
Tabbing through a bunch of form fields breaks if there is a `DatePicker` field. It works fine for a `SelectField`, but once you tab to a `DatePicker` field, the tab index reset to the top of the page.

[2015-11-18 00:10] bendiy opened #2204 "[DatePicker] Support clearing a DatePicker field value"
Once a `DatePicker` field is set, there is no way to clear it. You can only select a different date, not completely remove the date.

[2015-11-18 00:10] CoDEmanX commented on #1040
Seems to work very smooth now, only tested chrome but I think that fixed it. Great job!

[2015-11-18 00:12] bendiy commented on #2201
Duplicate of: https://github.com/callemall/material-ui/issues/1011

[2015-11-18 00:13] bendiy commented on #2201
See: https://github.com/callemall/material-ui/issues/1011#issuecomment-157550795

[2015-11-18 00:14] bendiy commented on #2115
Duplicate of: https://github.com/callemall/material-ui/issues/1011

[2015-11-18 00:16] bendiy commented on #2183
https://github.com/callemall/material-ui/issues/2115

[2015-11-18 00:25] rkstar commented on #2199
you're not missing anything.  a quick read through the source code a few days ago showed me it's hardcoded to the `primary1Color` var.

i agree this should be a prop available on circular and linear progress bars as well as the refresh indicator

[2015-11-18 00:30] rkstar commented on #1178
nothing shows in firebug console.
nothing shows in chrome inspector console either

[2015-11-18 02:29] rdagger commented on #2182
I also would like to know if a card can be expanded in code.

[2015-11-18 03:40] TCMiranda opened #2205 "TimePicker spamming error messages"
Hello guys, it seems that I need some help at TimePicker setup...
When using inside a TableRowCollumn, it keeps emitting those error messages:

![captura de tela de 2015-11-18 01 09 37](https://cloud.githubusercontent.com/assets/10077439/11231611/a79d80c0-8d91-11e5-842c-4bb7e0dbcb97.png)

Seems like TimePicker is using those deprecated methods, does that makes sense?
Thanks!

[2015-11-18 04:18] KevinMcIntyre commented on #2199
Fixed this issue for LinearProgress and RefreshIndicator components in pull request #2206.
The CircularProgress component actually already had a color prop :+1:

[2015-11-18 06:37] sergeymakoveev opened #2207 "[Dialog] props "defaultOpen" is not work"
prop "defaultOpen" is not work, but deprecated prop "openImmediately" work fine.

[2015-11-18 08:20] oliviertassinari commented on #2207
@sergeymakoveev How are you using the `defaultOpen`?

[2015-11-18 08:27] sergeymakoveev commented on #2207
This <Dialog /> is open by reload page:
[code]

But this is hidden by reload page:
[code]

[2015-11-18 08:45] oliviertassinari commented on #2207
That's strang, it should be working https://github.com/callemall/material-ui/blob/master/src/dialog.jsx#L145. Which version are you using?

[2015-11-18 08:52] oliviertassinari commented on #2205
@TCMiranda This is supposed to be fixed in the latest release. Can you confirm?

[2015-11-18 09:00] oliviertassinari commented on #2052
@martinhoefling `canvasColor` is supposed to be here by default. Can you share your fix?

[2015-11-18 09:02] #1040 closed

[2015-11-18 09:19] af7 commented on #2121
It is not clear in the documentation where exactly we add the custom code for all components. For example, a list of such objects:

[code]

[2015-11-18 09:37] sergeymakoveev commented on #2207
I seen [https://github.com/callemall/material-ui/blob/master/src/dialog.jsx#L145]() before open this issue.
Just I find reason of this problem in my gulp.
I'm sorry to trouble you :(

[2015-11-18 09:37] #2207 closed

[2015-11-18 09:40] af7 commented on #1812
What is the `ComponentThemes` method? It is not in the material-ui source code.

[2015-11-18 11:03] #1581 closed

[2015-11-18 12:04] dabroek commented on #2101
+1

[2015-11-18 13:24] mdeacey commented on #957
I'm also trying for this. Any updates with using the LeftNav and AppBar components instead of react-sidebar?

[2015-11-18 14:09] jgoux opened #2209 "Datepicker's TextField width 100%"
Hello,
is there a possibility to set the datepicker's textfield at `width: 100%` or `flex: 1` ?

[2015-11-18 14:42] agnesdev commented on #1102
I'm still experimenting the error when set defaultDate to null, then focus on the input I get:

date-time.js:73 Uncaught TypeError: Cannot read property 'getFullYear' of null

[2015-11-18 14:56] stevemarksmonii commented on #1499
+1 Same issue here

[2015-11-18 15:22] otroboe commented on #1578
It works for me, you can close this I think :)

[2015-11-18 15:36] oliviertassinari commented on #1578
@otroboe I agree.

[2015-11-18 15:36] #1578 closed

[2015-11-18 17:03] shaurya947 commented on #1179
The change made by @corvuscornix was merged in #1717

[2015-11-18 17:03] #1179 closed

[2015-11-18 17:04] shaurya947 commented on #1180
This issue had been brought up numerous times in the past -- the behavior noticed by @Heng-xiu is the intended behavior, and to make that more clear, the third tab has been titled "Home (non-content example)"

[2015-11-18 17:04] #1180 closed

[2015-11-18 17:05] shaurya947 commented on #1189
#1190 was merged

[2015-11-18 17:05] #1189 closed

[2015-11-18 17:07] shaurya947 commented on #1191
There was a simple fix suggested in #1629

@drojas closing this issue, thanks!

[2015-11-18 17:07] #1191 closed

[2015-11-18 17:11] #1195 closed

[2015-11-18 17:18] shaurya947 commented on #1203
PR #1232 was merged to address this. The `Tab` component has a `width` prop -- I bet that would work for your use case @inoc603. The `Tabs` component no longer has a `tabWidth prop`, perhaps removed in favor of the finer control over each tab using the `width` prop. Closing for now.

[2015-11-18 17:37] shaurya947 commented on #1211
@RangerMauve ok to close?

[2015-11-18 17:39] shaurya947 commented on #1216
@travischoma would you be able to share a gif / video of that? On my end, if I go to the "Buttons" page of the docs, and refresh, the labels seem to be present before other parts of the page load up..

[2015-11-18 17:40] RangerMauve commented on #1211
Yes, thanks!

[2015-11-18 17:40] #1211 closed

[2015-11-18 17:40] shaurya947 commented on #1217
This has been fixed. See [here](https://github.com/callemall/material-ui/blob/master/src/slider.jsx#L95).

[2015-11-18 17:40] #1217 closed

[2015-11-18 17:51] silvenon opened #2211 "[Dropdown Menu] Glitches in Safari"
![dropdown](https://cloud.githubusercontent.com/assets/471278/11249102/45dea654-8e25-11e5-8db2-b21ec8b85009.gif)

[2015-11-18 18:55] markoshust opened #2213 "SelectField component missing documention for menuItems"
This page is missing documentation for `menuItems` required prop. Not sure how to show text or value.

http://material-ui.com/#/components/select-fields

[2015-11-18 19:11] markoshust commented on #2213
`valueLink` and `value` are also undocumented.

[2015-11-18 19:16] thesteady commented on #1267
Has anything happened with this? I'd also be interested in using a gem to simplify adding material-ui to a rails project.

[2015-11-18 19:38] silvenon commented on #2211
This glitch happens because it's animating `all`. Animating only `opacity`, `height` and `padding` fixes it. I think it's better for Safari to fix this bug rather than rewriting the material-ui to animate only changed properties :pensive:

[2015-11-18 19:42] martinhoefling commented on #2052
@oliviertassinari : I have my own rawTheme defined but no canvasColor. Now it looks like this:

[code]

[2015-11-18 19:49] ganesshkumar opened #2214 "Chips - Material Component"
Is there any plan to implement `Chips` component as in [Angular-Material](https://material.angularjs.org/latest/demo/chips)?

[2015-11-18 19:51] oliviertassinari commented on #2214
Not I'm aware of. It would be great.

[2015-11-18 19:56] oliviertassinari commented on #2052
Ok thanks. So you are not extending a default theme.

I'm closing then. Thanks for sharing the fix.

[2015-11-18 19:56] #2052 closed

[2015-11-18 20:00] oliviertassinari commented on #2213
I confirm.
Evrey time I see an issue regaring missing documentation, I just want to right some code to extract it from the source code. I will end up doing it.

[2015-11-18 20:10] oliviertassinari opened #2215 "Material Design Icon"
Would be great to add the 96 new icons https://twitter.com/GoogleDesign/status/667046119692738560.

[2015-11-19 00:56] owencm commented on #42
@hilkeheremans FYI I have submitted a [pull request](https://github.com/callemall/material-ui/pull/2208) to fix the issue of double ripple (due to compat mouse down firing, as you say).

[2015-11-19 03:11] Ben07 commented on #2136
@oliviertassinari Hi,I'm using 0.13.3,I get this problem when I use react-quill which version is 0.3.0.when I edit the content,there are so many warnings in the console.The warnings also appear when I use dialog component.

[2015-11-19 08:24] oliviertassinari commented on #1563
We have just merged a PR of @owencm to fix this issue (https://github.com/callemall/material-ui/pull/2216)

[2015-11-19 09:42] af7 commented on #2178
Hello, did you figure out this? I get the same message in console.

[2015-11-19 11:41] gotrecillo opened #2218 "card title tooltip as Object object"
when passing a node to the title prop in a card title you will see the tooltip as Object object

[code]
![screenshot from 2015-11-19 12 40 11](https://cloud.githubusercontent.com/assets/9203112/11269907/c5138e4a-8eba-11e5-9bed-e0ae2a8f51aa.png)

[2015-11-19 12:02] mairh opened #2219 "[Themes] Switching to dark theme doesn't change icon, button, tab label color"
As far as I remember before the release of 0.12.0 (when mui changed the `ThemeManager` initialization and before introducing `rawTheme`), `contextTypes` were properly passed down to the child elements (for e.g in case of icons, button labels, tab labels) when switching to dark theme. Dark themes should support light colors icons, button labels, tab labels, etc. Dark text color on buttons, Dialog c

[2015-11-19 14:31] hmeerlo commented on #2099
Agreed, it is a bit annoying to have the week start on sunday whereas a normal week in Europe starts on monday according to ISO 8601 NEN 2772.

[2015-11-19 16:05] jgoux opened #2220 "Make SelectField scrollable"
Hi,
when the dropdown list of a SelectField is pretty big, the content go outside of the viewport.
Is there a way to overwrite the dropdown list style or to add a maxHeight + overflow:auto on it ? :)

[2015-11-19 16:17] ayhankuru commented on #2218
this problem title attr keyword  ı' am thinking need change the prop name  :/

@oliviertassinari ?

[2015-11-19 16:54] gotrecillo commented on #2218
changing the name will make a lot of retrocompatibility problems, maybe the props passed to the div parent rendered should have excluded the prop title ?

[2015-11-19 17:25] craigjennings11 commented on #1815
There are two things at work that prevent this. First, the positioning of the dialog is set to "fixed" by default. You can override this by adding `style` to the component:

[code]

The second problem comes with the overlay. Dialog calls `Overlay#preventScrolling` which sets the body's overflow to `hidden`. Currently there is no way to override this behavior. There should probably be a new prop fo

[2015-11-19 17:34] yoavgurevich commented on #764
+1

[2015-11-19 21:49] #2194 closed

[2015-11-19 22:07] shaurya947 commented on #1219
@JAStanton see this [line](https://github.com/callemall/material-ui/blob/master/src/enhanced-switch.jsx#L112). I don't think you should be experiencing this issue today.

Closing for now but please re-test and let us know if it works -- will re-open if you still experience this issue.

[2015-11-19 22:07] #1219 closed

[2015-11-19 22:08] shaurya947 commented on #1238
#2187

[2015-11-19 22:37] shaurya947 commented on #1239
@gappture if you check the docs site today... the DatePicker re-positions itself on horizontal resizing, but not on vertical resizing.

[2015-11-19 22:37] TCMiranda commented on #2205
Yes, it is, thanks

[2015-11-19 22:37] #2205 closed

[2015-11-19 22:39] shaurya947 commented on #1240
@idoo @iamblue @newtack could someone please post the code that results in this error?

[2015-11-19 22:48] shaurya947 commented on #1241
@joewalker would you be able to post some code related to this issue? Thanks!

[2015-11-19 22:51] shaurya947 commented on #1254
Assuming this is okay to close since #1288 was merged.

[2015-11-19 22:51] #1254 closed

[2015-11-19 23:59] mbrookes commented on #2194
:thumbsup:

[2015-11-20 00:26] rdagger opened #2222 "CircularProgress determinate slightly off depending on browser"
The determinate CircularProgress shows a gap at 100% in Firefox instead of a complete circle.
It also shows a single dot at 0% in  IE11 instead of nothing.

[2015-11-20 03:37] lynndylanhurley commented on #1495
I'm seeing this issue as well.

[2015-11-20 05:14] leo4ever opened #2223 "Is the source for the material-ui demo available?"
It would be nice to see some examples and the demo application seems a good start. So was wondering if there is source available for the demo page?

[2015-11-20 05:29] ajnsit commented on #107
@chandu0101 I know you have your own thing going, but you should be able to use a module loader like browserify to do what you want.

[2015-11-20 05:33] chandu0101 commented on #107
@ajnsit  thanks for reply , yeah i learned webpack finally ;)

[2015-11-20 07:41] frankf-cgn commented on #2223
@leo4ever What do you mean with demo page? The website material-ui.com? You find this code in the directory /docs

[2015-11-20 08:06] frankf-cgn opened #2224 "[Doc Enhancement] Introduce MarkdownElement"
I want to propose to introduce a markdown element to further enhance the possibilities to write documentation. The current components `<ComponentDoc>` and `<ComponentInfo>` do a very good job to describe the props and events of a component, but when there is the need to write e.g. some intro to concepts and this stuff, currently we have to fall back to write html-code and have to style it somehow.

[2015-11-20 08:18] bshyong opened #2225 "[RadioButtonGroup] breaks when nesting non-RadioButton components"
I'm trying to do some simple styling. The following example fails.

[code]

I have written a patch that resolves this; let me know if I should issue a pull request.

[2015-11-20 08:36] jgoux commented on #642
I'm unable to use SelectField as well because of it. Is there a quick fix that we can apply now until there is a real solution ?

[2015-11-20 10:43] ajnsit commented on #107
@chandu0101 Very interesting! Do you mind sharing your webpack config?

I looked at webpack but couldn't get it to emit browser global classes. I settled on using browserify as a compromise.

[2015-11-20 11:09] agc11 opened #2227 "Popover doesnt close when navigating"
When u have pop over on auto close when anchor is out of the screen, and u navigate to the prev page using the browser the pop over remains open

[2015-11-20 13:00] joewalker commented on #1241
With the recent deprecation of openImmediately, I removed the hack, and I no longer get the problem with the form jumping.
So, I'm going to close this, as it there are no other confirmed sightings

[2015-11-20 13:00] #1241 closed

[2015-11-20 13:42] oliviertassinari commented on #2223
You can also have a look at the `examples` folder.

[2015-11-20 13:42] #2223 closed

[2015-11-20 14:52] devahome opened #2229 "newbie question on documentation."
I have started reviewing material-ui for use in a new project based on react. I like what I see, but a bit lost without documentation. I know good programmers do not read documentation but when working on deadlines it is nice to have them :-)
Is there a place I can find documentation or a way to generate the doc from the modules?
Thanks...

[2015-11-20 14:58] frankf-cgn commented on #2229
@devahome You find the documentation at www.material-ui.com. Click on the links "getting started" and "components". Further you can find the code used on this website in the directory /docs of the github-project. There is also the folder /examples.
If you have questions and want to chat with other devs using material-ui, you can use gitter (https://gitter.im/callemall/material-ui) or discord react

[2015-11-20 15:39] SPAHI4 opened #2230 "[Tooltip] Expose Composable Tooltip component"
Where i can find example of usage tooltip component without icon-button?

- [ ] Closes #3665, #4671, #5057, #5227, #5340, #5567, #5752, #6778

[2015-11-20 15:48] devahome commented on #2229
Thanks for responding so quickly. Appreciate that. I have been thru all those links. I understand how to use those components. I get most of it, but what got me looking for a more detailed doc was that  the second example uses a Navigation react class that is not in lib/index.js.

Clearly there a class that I can use to define NavigationClose but not immediately obvious since it is not in the lib/

[2015-11-20 16:48] leo4ever commented on #2223
@frankf-cgn Thanks for the info. Yes, I was looking for the demo page in material-ui.com. Found it in /docs

[2015-11-20 17:16] #2229 closed

[2015-11-20 17:23] subjectix commented on #2230
Tooltip isn't documented. That means it's *Implementation Detail*. In other words, it can change api as frequently as the other components might need features from it. Use it at you own risk.
But if you're ok with that the code from [icon-button](https://github.com/callemall/material-ui/blob/master/src/icon-button.jsx#L147-L154) might help.

[2015-11-20 17:50] raptoria commented on #2100
+1

[2015-11-20 18:20] oliviertassinari commented on #2230
That's true. I think that exposing a composable Tooltip component would be great.
But that we require some work.

[2015-11-20 18:23] oliviertassinari commented on #2227
I think that it's up to you to close the popover if you want to.
@chrismcv Though?

[2015-11-20 18:25] oliviertassinari commented on #2225
I'm wondering, why aren't you using the className property of the `RadioButton`?

[2015-11-20 19:18] shaurya947 commented on #1257
Related to #1739

[2015-11-20 19:18] #1257 closed

[2015-11-20 19:21] shaurya947 commented on #1259
@mercuriete of course, there's been some changes to the source for `Checkbox`. Could you retest again today and see if you encounter the same issue?

[2015-11-20 19:22] #1259 closed

[2015-11-20 19:25] #1263 closed

[2015-11-20 19:26] shaurya947 commented on #1267
@pducks32 were you ever able to work on this?

[2015-11-20 19:27] #1268 closed

[2015-11-20 19:30] shaurya947 commented on #1268
We're on v0.13.3 today.

@raptoria perhaps you could store the other font / background color that you would like to use in your component's state, and use the `onActive` event of the `Tab` component to decide whether or not to pass down those styles?

[2015-11-20 19:32] #1271 closed

[2015-11-20 19:33] shaurya947 commented on #1273
@isilweo `Table` is all new from when this issue was opened. I'm closing this.

If you find any issues with today's `Table`, let us know!

[2015-11-20 19:33] #1273 closed

[2015-11-20 19:34] shaurya947 commented on #1276
@laurenskling if there's things that you noticed that could be improved (be it with the `AppBar` doc only), I encourage you to write a PR to suggest those changes..

[2015-11-20 19:41] frankf-cgn commented on #2215
@oliviertassinari You mean the svg-icons?

[2015-11-20 20:26] bshyong commented on #2225
Olivier, I need to nest the buttons in a div with clearfix for the layout that I want. If you look at the internal implementation of RadioButtonGroup it Iterates through and adds props to RadioButtons - I don't see a reason for it to nuke your layout structure or for the component to break if you have a nonRadioButton element nested inside. Thoughts?

—
Sent from iPhone 6. Please excuse typos and

[2015-11-20 20:51] yoavgurevich opened #2231 "Date Picker Calendar/Dialog Size Bug"
As far as I've been fiddling around to this point, I haven't found a way to adjust the size of the date picker dialogue as it appears on the screen. As soon as I change the size of the hint/textfield font, the font inside the calendar text blows up to the same size, but it does not adjust the length and width (scale) of its own element and everything becomes squished and unclickable as a result. I

[2015-11-20 20:57] chrismcv commented on #2227
it seems to work here http://material-ui.com/#/components/popover

make sure you are handling `onRequestClose`

[2015-11-20 21:03] chrismcv commented on #2220
#2150 should sort this when it is merged

[2015-11-20 21:17] bpmckee commented on #458
Is there any update on this?
The docs example still uses the stylePropable mixin.

The actual style-propable mixin says it is unnecessary after v0.11, right now it's on v0.13.x
https://github.com/callemall/material-ui/blob/master/src/mixins/style-propable.js

I'm having all sorts of issues using material-ui with es6 classes. :(

[2015-11-20 22:17] anthony-dandrea opened #2232 "[CircularProgress] The Indeterminate circular progress glitchy on firefox & IE"
On firefox only the animation for the circular progress appears to studder quite a bit. Can be seen on the docs http://callemall.github.io/material-ui/#/components/progress. Seems like clicking on them appears to make them flicker to different states too for whatever reason.

[2015-11-20 22:26] anthony-dandrea commented on #2232
![glitchyloader](https://cloud.githubusercontent.com/assets/5413624/11313535/7ca087d4-8f92-11e5-8bd6-9ed5e0e3081b.gif)
This kind of illustrates the issue. In the middle on you can see the progress shape become really small then just flickering to a large size with no animation and being stuck.

[2015-11-20 23:10] oliviertassinari commented on #2215
Well, I mean for the font and svg icon. I'm not sure if both new icons are supported.
For the svg, we may just need to run a script.

[2015-11-20 23:15] oliviertassinari commented on #2225
Would be interesting to see what you came up with to solve this issue.

[2015-11-20 23:51] bendiy commented on #2203
Perhaps a modal isn't the best approach for every use case:
https://material.angularjs.org/latest/demo/datepicker

[2015-11-20 23:51] bendiy commented on #2204
Perhaps a modal isn't the best approach for every use case:
https://material.angularjs.org/latest/demo/datepicker

[2015-11-21 00:28] justjacksonn opened #2233 "TextField floating label shows two underlines in different locations when selected"
When I use the TextField component, and specify floatingLabelText, the animation works, but the underline for the text component works (as it does on the MaterialUI site for the TextField component) but I also get a gray line a number of pixels below the actual text field line.

[2015-11-21 08:55] Sutat opened #2234 "[Server] Can't find the root component"
## Error
Warning: React can't find the root component node for data-reactid value `.1znfm1cj85c`. If you're seeing this message, it probably means that you've loaded two copies of React on the page. At this time, only a single copy of React can be loaded at a time.
/home/xxx/dev/T411_SeedWarning/node_modules/react/lib/ReactMount.js:715
    firstChildren[0] = deepestAncestor.firstChild;

## Reprodu

[2015-11-21 10:31] frankf-cgn commented on #2215
@oliviertassinari Well, I have tested it for the `<FontIcon>`and it works. I'll take care for running the scripts and testing the outcome.

[2015-11-21 10:50] bshyong commented on #2225
@oliviertassinari

Leaves structure alone but recursively maps through all radio buttons and creates them correctly

[code]

[2015-11-21 13:14] boustanihani commented on #190
:+1:

[2015-11-21 15:10] liesislukas commented on #2144
@ganesshkumar  have you tried using onTouchTap={this.handlerFunction } instead of onclick?

[2015-11-21 17:06] luisrudge commented on #2175
Hey! Any news on this one?

[2015-11-21 17:06] luisrudge commented on #2176
Hey! Any news on this one?

[2015-11-21 17:06] luisrudge commented on #2177
Hey! Any news on this one?

[2015-11-21 17:25] sloria commented on #1276
It's a bit strange that the docs use `const` (an ES6 keyword) but use the ES5 `require` instead of `import`.  Would be nice to see this changed.

If the maintainers give the go-ahead, I could take a stab at a PR.

[2015-11-21 17:50] oliviertassinari commented on #1276
The source code use a mixed of import and require. Yes it's strange and I think that we should use `import` over `require` everywhere.

[2015-11-21 18:33] boustanihani commented on #1460
@RichardJECooke I totally agree!

Some official advice would be nice :bowtie:

[2015-11-21 18:55] boustanihani commented on #190
Anybody tried combining http://unsemantic.com/ with **material-ui** ?

[2015-11-21 20:04] #2034 closed

[2015-11-21 20:05] yuyabee commented on #2034
Declaring DOCTYPE solves it.

[2015-11-22 09:41] alitaheri opened #2239 "Community populated change log"
Currently the change log is updated once per release. Some changes may be missed, and it takes a long time to gather all the info going through the commits. I would suggest making it a little less painful for the maintainer by adding a `Next` section to the `CHANGELOG.md` so that everyone making a change would also update that section to reflect the changes made by that PR which will be available

[2015-11-22 11:04] laurenskling commented on #1276
@shaurya947 , the main problem for me is that i don't understand how the docs is telling me to use it. If you look at the appbar: http://material-ui.com/#/components/appbar it tells me to require the appbar, then it states 3 examples, which will not work because you need to import a lot more for those components. And before i found that i had to get the icons out of `/lib/svg-icons`....
So i would

[2015-11-22 12:00] #2234 closed

[2015-11-22 12:00] Sutat commented on #2234
This is not about material-ui.
This is about react.js and the utilisation of "componentWillMount" + async response.

More information here : https://github.com/reactjs/react-page/issues/47

[2015-11-22 14:15] oliviertassinari commented on #2215
Resolved by https://github.com/callemall/material-ui/pull/2240 :smile:

[2015-11-22 14:15] #2215 closed

[2015-11-22 16:07] mdeacey commented on #190
@antilect I am having troubles combining the two. Can you show your source files?

[2015-11-22 16:43] towonzhou opened #2241 "how can i use material-ui on rails?"
how can i use material-ui on rails?

[2015-11-22 23:01] af7 commented on #2178
BTW, I solved this by using the new `nestedItems` property. However, I now get the following warning:

`Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of 'ListItem'.`

But this is something that needs to be done by the material-ui code itself, I cannot control it with my code.  So, is this a different bug I assume?

[2015-11-23 00:09] jma7889 opened #2242 "how to add menu items to AppBar left default menu"
How to add menu items to the default left menu icon? I use the code below to add it, it seems over lay with the default 'menu' icon. I can tell because the menu icon becomes black instead of white by default.

      `<AppBar
        title="Foo"
        iconElementLeft = {
          <IconMenu iconButtonElement={
            <IconButton iconClassName="material-icons" > menu </IconButton>
          }

[2015-11-23 01:04] KevinMcIntyre commented on #2199
The fix for this has been merged into master.

[2015-11-23 01:04] #2199 closed

[2015-11-23 02:09] owencm commented on #1563
\o/

Can someone mark this issue as fixed in that case?

[2015-11-23 02:21] jma7889 opened #2243 "not compatible with react-router Link"
I tried to use Link with Menu Item and List Item. Both don't work. As Link is the main navigation for react-router, if it doesn't work, then how can I make -ui work with react-router?

None of the below worked

    `<ListItem primaryText="All mail" >
          <Link to="/foo">foo</Link>
    </ListItem>`

Then I wrap Link with ListItem, not working neither.
Try the same thing with MenuItem, both no

[2015-11-23 03:35] christiandennis opened #2244 "Weird Tab Inkbar"
I'm making tabs with inkbar and I get a weird result from it. There is an "Â" under my inkbar and I don't know why.

![screen shot 2015-11-22 at 7 30 45 pm](https://cloud.githubusercontent.com/assets/12284432/11329334/a394634c-914f-11e5-8d35-5a3b6c958793.png)

Here's my code for the tabs
[code]

[2015-11-23 07:20] frankf-cgn commented on #2243
@jma7889 Quite interesting question, but for now I can't see a bug here. Can we discuss on discordapp (Reactiflux/#material-ui) or on gitter?

[2015-11-23 07:34] #1563 closed

[2015-11-23 07:48] JasonWeise opened #2245 "Still issues with TextField and floatingLabelText"
A previous reported issue existed whereby a TextField with a floatingLabelText wouldn't focus.
It has been advised that this was fixed in commit **18f404d7ac5968e0d56f961f6a621b61e2638db5** but I have just pulled **fa860d856cb7ce91c020f1da860fb8a92a40dca7** and the issue still appears.

I have tested on OSX El Capitan in Chrome.
If I have a text field as follows:
[code]
clicking on the floatingLab

[2015-11-23 09:26] ilya2306 opened #2247 "menuItem element primaryText prop doesn't work!"
[diff.txt](https://github.com/callemall/material-ui/files/41408/diff.txt)

[2015-11-23 09:32] petrmazanec commented on #2163
The DropDownMenu style applied in the SelectField is currently ignored and not set at all due to the way the TextField overrides styles for its child component with its own styles. The result is that the SelectField is several pixels taller than required by the material design spec (and the TextField) which breaks layouts. This change/bug was introduced with PR #1896

[2015-11-23 11:53] booxood commented on #2151
Fixed?
In my project still have the question...

[code]

[2015-11-23 11:59] oliviertassinari commented on #2151
Are you using babel with the source code of material-ui or just the source code of your project?
This could explain you issue, babel will look at the .babelrc of material-ui and try to use the dev-expression plugin that's not installed.

[2015-11-23 13:35] jma7889 commented on #2243
@frankf-cgn did see some previous discussion regarding this. About to try if any of those works. Yes, we can discuss on discord app. It's not a bug, more of a feature request.

[2015-11-23 15:01] wardywork commented on #2145
https://github.com/callemall/material-ui/pull/2248 this should fix the issue

[2015-11-23 15:26] jaygood commented on #763
Nope, you're mistaken.  The problem is that the handle's color is tied to the selectionColor of the theme. So, when I override then track to have the selectionColor and override the filled portion to have the trackColor, the handle is given the trackColor. I would like the handle to also have the selectionColor.

In case you don't understand, you're welcome to try it out yourself.  I use something

[2015-11-23 15:42] matsilva opened #2249 "Popover: prop type `anchorOrigin` is invalid"
On the initial load without showing the popover, the PropType validation is causing anchorOrigin and targetOrigin props to throw warnings.

![screen shot 2015-11-23 at 10 31 59 am](https://cloud.githubusercontent.com/assets/4511972/11341027/a62d1f98-91ce-11e5-9b6c-b0f4f0de64f9.png)

here is my state:
[code]
Here is how I am using the popover:
[code]

[2015-11-23 16:20] flyon commented on #2115
+1

[2015-11-23 16:23] oliviertassinari commented on #2115
#2228 is supposed to fix this. Can you confirm?

[2015-11-23 17:17] rhythnic opened #2250 "Switches "value" prop"
I used "value" on Checkbox, as in the docs, but it was throwing an error.  From looking at the code it seems like it should be "checked" instead of "value".

[code]

[code]

[2015-11-23 17:18] t1mmen commented on #1501
I'm running into this performance issue too. I'm working around it using an infinite scroll component like @oliviertassinari suggested, but a real fix would be a huge help.

[2015-11-23 17:21] oliviertassinari commented on #2250
Seems to me that the doc say to use `defaultChecked`. Could you be more explicit?

[2015-11-23 17:23] oliviertassinari commented on #1501
@t1mmen Using `react-list` is not a "hack" if you need to render a significant amount of `ListItem`. How many items are you rendering?

[2015-11-23 17:27] rhythnic commented on #2250
The props list defaultChecked, but the examples use "value", which causes a warning message in the console.
[code]

[2015-11-23 17:48] oliviertassinari commented on #2250
`value` is the regular HTML property, see http://www.w3schools.com/tags/att_input_checked.asp.

[2015-11-23 17:54] rhythnic commented on #2250
i got confused thinking that value is the checked state.  my bad.

[2015-11-23 17:54] #2250 closed

[2015-11-23 18:00] oliviertassinari commented on #2250
Hence, I think that we should add the value property to the doc

[2015-11-23 18:00] oliviertassinari commented on #2250
Hence, I think that we should add the value property to the doc

[2015-11-23 18:45] alitaheri opened #2251 "[Table] Composable and simpler API"
Regarding #2246. I'd say we should rewrite table, it's better not to use HTML table and instead do it all with `div`. This will give very flexible api and capability that would otherwise be impossible with `table`.

Right now there are tight couplings between `Table` and it's child components `TableHeader`, `TableBody` and `TableFooter`. There should be carefully designed props instead of wrapping

[2015-11-23 18:54] t1mmen commented on #1501
@oliviertassinari I've been noticing decreased performance using `ListItem`'s starting around 10 items (on desktop). Once I get closer to 50 it's pretty painful, particularly in dev/debug mode (production is better, but still very noticeable)

Typically, around 30 `ListItems` are visible on screen at the same time, so there isn't a lot of room to optimize. `react-list` did make  a world of differe

[2015-11-23 18:55] oliviertassinari commented on #1501
Well, we need to do something then!

[2015-11-23 19:03] t1mmen commented on #1501
Thank you, appreciate it! As I'll be using more of material-ui in the coming weeks, I'll try to contribute more concrete reports & code in the future. Thanks again for your efforts!

[2015-11-23 19:27] RobTheBuilder2 opened #2252 "TimePicker does not support container property that is available in DatePicker"
With DatePicker, I can specify container="inline" to prevent the date picker from spawning a dialog.  I would like to see similar functionality for the time picker as well.  It would be nice if both controls support this display type for consistency and because it looks better this way in my app.  I noticed a comment in DatePicker that said they would switch the implementation for the inline style

[2015-11-23 19:59] shaurya947 commented on #1276
@sloria PRs welcome (if you haven't already started on one)

@laurenskling I see what you mean. I guess the current docs just assume that if you see `<ComponentName>` somewhere, then you know how to (or how to figure out to) import `ComponentName` -- which is not an assumption I like. For starters, I guess we could add the necessary import statements for every example code. Is that something you c

[2015-11-23 20:02] anthony-dandrea commented on #2249
It's expecting a function not an object. Maybe try wrapping it in a function:

[code]

[2015-11-23 20:03] anthony-dandrea commented on #2222
+1 indeterminate circular progress is whacky on Firefox as well.

[2015-11-23 20:16] matsilva commented on #2249
That seems inconsistent with the Docs: http://material-ui.com/#/components/popover
Or am I missing something....

[2015-11-23 20:24] #1280 closed

[2015-11-23 20:27] shaurya947 commented on #1283
@anilCSE could you post your code that generates the todo list items? I'd like to run the whole thing to see the problem you're facing..

[2015-11-23 21:05] oliviertassinari commented on #2164
Thanks for reporting this issue. It's now fixed by https://github.com/callemall/material-ui/pull/2196

[2015-11-23 21:05] #2164 closed

[2015-11-23 21:10] oliviertassinari commented on #1783
@chrisgervang Is this a duplicate of https://github.com/callemall/material-ui/issues/2011?

[2015-11-23 21:25] shaurya947 commented on #1287
@TanTan-TT perhaps changing [this line](https://github.com/callemall/material-ui/blob/master/src/checkbox.jsx#L100) to

[code]

addresses this issue. Please test, and if you could, submit a PR :)

[2015-11-23 21:27] frnk94 commented on #2243
@jma7889  Otherwise you could just use Navigation mixin:

[code]

[2015-11-23 21:32] oliviertassinari commented on #2249
I would say that it's an issue on your side since the example on the documentation works fine.

[2015-11-23 21:38] shaurya947 commented on #1290
@oliviertassinari we have a `Tooltip` component now I believe.. do you know how might that be used to achieve this use case?

[2015-11-23 21:43] shaurya947 commented on #1292
@oliviertassinari @JorgenEvens this is a similar case to `Dialog`, where showing / hiding should be determined using props instead of functions..

[2015-11-23 21:59] shaurya947 commented on #1299
@joewalker I agree. Perhaps [this line](https://github.com/callemall/material-ui/blob/master/src/icon-button.jsx#L207) needs to be changed. Would you like to submit a quick PR?

[2015-11-23 22:03] shaurya947 commented on #1302
@danchia [this line](https://github.com/callemall/material-ui/blob/master/src/icon-button.jsx#L207) needs to be modified to merge with the existing child's style..

Would you like to submit a PR?

[2015-11-23 22:04] shaurya947 commented on #1307
@patrickgordon I doubt it -- what's your use case? Couldn't you split it up?

[2015-11-23 22:11] oliviertassinari commented on #1364
We are working on this, see https://github.com/callemall/material-ui/pull/2180/files.

[2015-11-23 22:12] oliviertassinari commented on #1292
We are working on it, see https://github.com/callemall/material-ui/pull/2180.

[2015-11-23 22:43] shaurya947 commented on #1310
@quanglam2807 do you still face this issue today?

[2015-11-23 22:46] #2101 closed

[2015-11-23 23:26] oliviertassinari commented on #2252
Sounds like a good idea

[2015-11-23 23:28] oliviertassinari commented on #1302
@shaurya947 wrong line, feel free to delete my comment once your comment is fixed.

[2015-11-24 02:04] booxood commented on #2151
@oliviertassinari Yes, I used babel... So only install `babel-plugin-dev-expression` ?

[2015-11-24 02:55] mrphu3074 commented on #690
@shaurya947  it's works. thanks

[2015-11-24 06:39] christiandennis commented on #1310
@shaurya947 I do

[2015-11-24 08:07] microshine opened #2254 "[Menus] Wrong documentation"
I'm trying to apply code examples from http://material-ui.com/#/components/menus, but it doesn't work. It works with exception:
[code]
Material-ui: v0.13.3
ReactJS: v0.14.3

[2015-11-24 08:49] owencm commented on #30
For what it's worth, use of inline styles was a large reason I became a huge fan of MUI. I found the talk by Facebook extremely convincing and personally feel that style and structure do not make sense to be separated when building UIs.

[2015-11-24 10:26] oliviertassinari commented on #2151
Material-ui is already using babel to output an ES5 version and to do some other transformation.
You have two options.
1. Do not parse the source of material-ui with babel
2. Install babel-plugin-dev-expression

[2015-11-24 10:34] oliviertassinari commented on #2254
Are you importing the right components?

[2015-11-24 11:51] nikolovp opened #2256 "Disabled dialog actions"
Hi,

It will be nice if the Dialog component recognizes the disabled property when it generates the dialog actions from JSON object.

[2015-11-24 12:25] oliviertassinari commented on #2256
I agree, see my comment here https://github.com/callemall/material-ui/pull/1655#issuecomment-149678981.

[2015-11-24 13:31] matsilva commented on #2249
Thanks for your feedback guys. I am reviewing what I am doing and all I am doing is passing an object `{horizontal:"left", vertical:"center"}` to the anchorOrigin property.

I am confused and maybe you can give me some clarity before I continue spinning my wheels.
@anthony-dandrea is saying anchorOrigin prop should receive a function.

Now when I refer to the docs and follow the flow of data,the d

[2015-11-24 15:19] Download opened #2258 "Use of `console` makes material-ui break in Nashorn"
I'm doing server-side rendering in Java using it's built-in Javascript interpreter 'Nashorn'. I noticed when I tried to use this library that it uses the `console` object without a `typeof` check... This makes it break in Nashorn because that has no `console` object available.

I could (and will) polyfill this on Nashorn, just as I am already doing for the `global` object, which Nashorn also doesn

[2015-11-24 15:22] oliviertassinari commented on #1710
`valueLink` is going to be deprecated by facebook. Why shouldn't implement it.

[2015-11-24 16:23] shaurya947 commented on #1310
@christiandennis could you post code for your component?

[2015-11-24 17:56] af7 commented on #1614
I believe that this fixed at 5212f0d4718675061ea0d0351735966fc3759e12?

[2015-11-24 18:09] oliviertassinari commented on #1614
Yes, It should be fixed now. See https://github.com/callemall/material-ui/blob/master/src/card/card-title.jsx#L41

[2015-11-24 18:09] #1614 closed

[2015-11-24 18:14] RobTheBuilder2 commented on #1521
+1

[2015-11-24 18:16] t1mmen commented on #2178
No, not yet – I've temporarily moved away from the `ListItem` component due to this issue & https://github.com/callemall/material-ui/issues/1501, but am planning to look into it closer in the coming weeks when I'll be putting more time into my app.

[2015-11-24 18:50] shaurya947 commented on #1316
@oliviertassinari the change that you suggested, has that been incorporated?

[2015-11-24 18:51] oliviertassinari commented on #1316
I don't think so.

[2015-11-24 18:52] shaurya947 commented on #1316
You mind writing up a quick PR when you get a chance and seeing if this issue is resolved? @oliviertassinari

[2015-11-24 18:53] #1317 closed

[2015-11-24 18:54] shaurya947 commented on #1317
Closing since multiple steps have been suggested to optimize the output. Moreover, now every component's doc page mentions the direct `require` statement for it..

[2015-11-24 19:00] shaurya947 commented on #1322
@Kagami I think this doesn't happen anymore. Could you re-test please?

[2015-11-24 19:05] shaurya947 commented on #1330
@maketroli the `Table` component has been re-written since and is now composable. Please see the docs. I am closing this issue, but feel free to comment / open a new issue if you encounter any problems with the new `Table` API.

For how-to questions and other non-issues, please use StackOverflow instead of Github issues. There is a StackOverflow tag called "material-ui" that you can use to tag you