[2022-01-14 16:57] sandorvasas opened #30621 "v4 -> v5 Migrator wrongly imports ThemeProvider"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I've just run the v4->v5 migration on our project, then noticed that our customizations from our theme were gone. I'd been debugging for hours when I noticed that the migrator mistakenly imported ThemeProvider as
``` import { ThemeProvider } from '@mui/styl

[2022-01-14 17:01] ad99526 commented on #30249
@ShivamTyagi12345 if you need help, I would also like to help with this. Thanks.

[2022-01-14 17:19] ShivamTyagi12345 commented on #30249
Sure , if u have done any commits ,I would be happy to look and collaborate

[2022-01-14 18:06] nikhils4 commented on #17402
Using this it works,

`<ClickAwayListener
  mouseEvent="onMouseDown"
  touchEvent="onTouchStart"
  onClickAway={handleClickAway}

  <div className={classes.root}>
    <button type="button" onClick={handleClick}>
      Open menu dropdown
    </button>
    {open ? (
      <div className={classes.dropdown}>
        Click me, I will stay visible until you click outside.
      </div>
    ) : null}
  </

[2022-01-14 18:32] CodingDive commented on #30599
Using yarn with yarn workspaces and lerna

[2022-01-14 18:46] hoangbn commented on #29644
Is it possible to "unset" default  `color` and `background color` of .Mui-disabled instead of overwriting it? I want it to keep color from root (i.e primary color if primary was specified, secondary if secondary was specified, etc.)

[2022-01-14 19:39] mogrady88 commented on #30605
Hey so I ended up wrapping the imported Mui AvatarGroup component and allowing for a `size` prop. With that I was able to target every child with the same size properties. So right now Mui allows for resizing of avatars using the sx props but it would be really helpful to have a `size={number}` prop ( or something like that ) on AvatarGroup. That way you could define the size in one place and have

[2022-01-14 19:40] mogrady88 commented on #30605
If adding a size prop seems useful then id be happy to take a pass at a PR

[2022-01-14 20:16] jpmtrabbold commented on #29692
Thank you so much @hbjORbj - legend!

[2022-01-14 20:34] danilo-leal commented on #30585
Spent a couple of days chewing on this issue and I believe we should have the code button with the proper functioning command otherwise it's indeed misleading. Above it's the PR I just opened that tackles this issue.

[2022-01-14 21:11] GustavoContreiras-Feegow commented on #20373
How to solve?

[2022-01-14 21:12] eps1lon commented on #16494
It's now very likely that this issue will be resolved with the release of React 18 where we'll use `React.useId` when automatically generating IDs. Then `TextField` etc. will be labelled before hydration (or if hydration will never happen).

[2022-01-14 21:46] callumreid commented on #11823
I had this issue with Material UI Button when importing 'import Button from '@material-ui/core';'. Fixed by changing import statement to 'import {Button} from '@material-ui/core';'. Using typescript version 4.5.4

[2022-01-14 22:03] httpete commented on #12827
I tried to use the var syntax in the Theme:

[code]

and TableRow started to bark. If I use a js function to get the value from the global css root and pass that as a #hex it worked.

[2022-01-14 22:16] hassan-ashoury commented on #30453
hi. When I try to expand an item in masonry component,it comes out of the container and gets messed up.

[2022-01-15 00:08] #30491 closed

[2022-01-15 00:08] #30223 closed

[2022-01-15 08:35] #30582 closed

[2022-01-15 12:39] alisasanib commented on #30576
I would like to work on this issue.

[2022-01-15 13:14] molaycule opened #30626 "[TimePicker] `required` field"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Having a prop on the TimePicker to raise validation error when TimePicker is empty (required field)

### Examples 🌈

 `<TimePicker
          label="Time"
          value={value}
          required={true}
          onChange={handleChange}
          renderInput={(para

[2022-01-15 13:22] KingScooty commented on #21030
Hmm... i was always under the impression rems for vertical rhythm actually were important for accessibility, as it kept everything equally spaced when zooming. So margin tops and bottoms, padding tops and bottoms, font size. Horizontal aspects weren't as relevant.

Happy to be corrected here! I'm just rather surprised that there's notion to only limit rems to font sizes...

[2022-01-15 14:20] islamCodehood commented on #14570
@oliviertassinari
But we have not seen the solution.

[2022-01-15 15:37] alexile commented on #30621
It looks like the existing implementation is based on (valid) assumption that `ThemeProvider` imported from either`@material-ui/core` or `@material-ui/core/styles`, given that it works fine with them.

Technically, it's possible to import it from `@material-ui/styles` (I guess that's your case), however [the documentation](https://v4.mui.com/styles/basics/#installation) says "you only need to inst

[2022-01-15 17:29] olso opened #30628 "Possibly incorrect theme typings for styled function"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://mui.com/guides/interoperability/#theme mentions that you can

[code]

However the theme leads to https://github.com/mui-org/material-ui/blob/master/packages/mui-system/src/createTheme/createTheme.d.ts

<img width="693" alt="Screenshot 2022-01-15 at

[2022-01-15 17:34] olso commented on #30628
Nevermind, VSCode was autocompleting "wrong" styled function

I had

`import { styled } from "@mui/system";`

but its supposed to be

`import { styled } from "@mui/material/styles";`

[2022-01-15 18:20] VikR1000 opened #30629 "[TimePicker] Anomaly on Mac OSX Safari"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The function works, but in OSX Safari  there is an anomaly in the visual look. This screen shot is from the component demo on MUI at:

https://mui.com/components/date-time-picker/

<img width="320" alt="Screen Shot 2022-01-15 at 10 12 22 AM" src="https://us

[2022-01-15 19:31] MiguelJordan commented on #30017
I am using material ui mobile date picker
How can I change date color, selected date color, background color of the date picker itself

[2022-01-15 22:17] kode54 commented on #23562
Still no news on this?

[2022-01-16 00:06] #29709 closed

[2022-01-16 02:41] mbrookes commented on #30585
Perhaps if it was visible unchanged, but the full string was selectable/copyable. And I agree that it would be better to link to the installation page – always though it a bit odd that we link to the second page...

[2022-01-16 05:41] ShiKirill opened #30648 "[docs] Demo VirtualElementPopper crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20VirtualElementPopper%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/popper/
2. ??
3. demo *VirtualElementPopper* crashes

## Your Environment
| Tech         | Version |
|--------------|-------

[2022-01-16 06:37] AbobkerElaghel opened #30649 "TextField styles break when used inside a Modal while in RTL mode"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

when using a Mui TextField inside a modal, while the app in RTL Mode the styles break and do not behave normally.

(All steps in [MUI RTL Page](https://mui.com/guides/right-to-left/) are carefully implemented.

it's like some of them work and some don't (sp

[2022-01-16 07:28] glaucoheitor opened #30650 "[Autocomplete] List scrolls back up when opening after select option (with virtualization)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using virtualization after you select an option and open the options again, it will have scrolled back to the start to the list.

The issue happens even on the docs page, so I wanted to know if this is intended or not.

### Expected behavior 🤔

After select

[2022-01-16 07:43] montanaflynn commented on #6261
This would be very helpful!

[2022-01-16 10:11] stegano opened #30652 "Style tags are injected at the top of head in NextJS development mode"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

style tags are injected at the top of head in NextJS development mode

### Expected behavior 🤔

As with the NextJS build result, a style tag must be injected at the last of the head element.

### Steps to reproduce 🕹

Steps:

1. Go to https://stackblitz.com

[2022-01-16 10:21] stegano commented on #30652
When the style tag was added to the head element, I took a break point and looked at the call stack.
As the 'StyledEngineProvider' file is loaded, a cache is created, and it seems that a problem is caused by the set `prepend:true`.

![스크린샷 2022-01-16 오후 7 14 58](https://user-images.githubusercontent.com/11916476/149655782-ab4e3d52-2390-4d9a-8ba1-f139b68e6dec.png)

[2022-01-16 11:32] ZackTechLtd opened #30653 "Backdrop behind UI Elements such as Tables"
I am using the Backdrop but it appears behind UI Elements.

I have some accordions, inside one of those is a Tab UI element and inside one of the Tab UI elements is a table.
The Table seems to be on top of the circlular spinner.

Any ideas how I fix this?

[2022-01-16 13:05] stegano commented on #30652
When the createCache function is called, the hydrate function is executed internally to inject a style tag at the top of the header element.

But I'm not sure why this is only happening in NexstJS development mode. 😭
![스크린샷 2022-01-16 오후 10 03 49](https://user-images.githubusercontent.com/11916476/149661129-8e7ead56-0024-497c-bff7-ac050f20ac19.png)

[2022-01-16 16:47] mikila85 commented on #24150
if anyone encounters the problem of DatePicker not focusing on currently selected dates you can change the key to force re-render and refocus of the dates:

`const [render, setRender] = useState<boolean>(true);
<StaticDateRangePicker onChange={()=>setRender(!render)} key={render ? 'picker-buffer-1' : 'picker-buffer-2'}`

[2022-01-16 17:33] codewaseem commented on #24282
@Overkloker ' s solution worked for me. But all I did was this

Replace
[code]
with
[code]

[2022-01-16 20:47] oliviertassinari commented on #16502
@siriwatknp Regarding the pain on the icons: https://github.com/mui-org/material-ui/issues/16502#issuecomment-997711294. I think that we can easily fix it with:

[code]

https://crawler.algolia.com/admin/crawlers/739c29c8-99ea-4945-bd27-17a1df391902/configuration/edit?testUrl=https%3A%2F%2Fmui.com%2Fcomponents%2Ficons%2F&useLogin=true

---

Another pain: when searching for "migration", the page th

[2022-01-16 22:49] oliviertassinari opened #30660 "[discussion] Preparing v6"
_Edited by @DiegoAndai: Moved accepted ideas/issues into either the [v6 milestone](https://github.com/mui/material-ui/milestone/42), the [v7 milestone](https://github.com/mui/material-ui/milestone/48), or this [list of brainstorm ideas](https://mui-org.notion.site/Brainstorm-ideas-for-v6-69422953eaa14357bd6a4ccb030fb785)_

This is an umbrella issue that centralizes and lists all the potential impr

[2022-01-16 22:53] borm opened #30661 "[typescript] `withStyles` throws error requiring `classes` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://codesandbox.io/s/customstyles-material-demo-forked-5svmy?file=/index.tsx
![image](https://user-images.githubusercontent.com/4027842/149681433-238ce204-274d-4514-a4c1-a4aaf6321da4.png)
![image](https://user-images.githubusercontent.com/4027842/149681

[2022-01-17 00:16] JOEAV commented on #24150
@mikila85 how does that suppose to work ? are you using 2 different <StaticDateRangePicker> Comps ?
I tried using your method but it seems it doesn't switch month if I change  date programmatically
Can you please share the full working example . thanks

[2022-01-17 01:36] layerssss commented on #16181
@rbagrin using `<div key={item.label}>` might kill some a11y features.

[2022-01-17 04:41] iclaude3 commented on #29961
New to open source and looking to pick up an issue. Is this one currently being worked on?

[2022-01-17 08:11] mmacu opened #30665 "[Fab] Floating action buttion doesn't support colors"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`Fab` component doesn't support any color other than `primary` or `secondary`. This is inconsistent with behaviour of other components like `Button` for example.

![image](https://user-images.githubusercontent.com/49128164/149730820-9ff968ae-80ff-4aa7-8510-

[2022-01-17 08:50] davidwwu commented on #30447
Do you mean in the `DemoSandboxed` function we can omit the `StylesProvider` and `ThemeProvider`? Thank you very much in advance. I'm looking everywhere for this and couldn't find any precise answer/documentation on how to use MUI v5 with iframe

[2022-01-17 09:10] hbjORbj commented on #30453
@hassan-ashoury Please create a new issue with a codesandbox that shows the error clearly. You can fork this template: (https://material-ui.com/r/issue-template-latest)

[2022-01-17 09:33] povilass opened #30666 "[InputLabel] Asterisks placement start/end"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

InputLabel was the asterisk that should be able to be moving to start or end by some kind of property like asteriskPosition: 'start' | 'end'

### Examples 🌈

![image](https://user-images.githubusercontent.com/8037810/149743987-113c53fc-6bff-4c5e-a347-78d18e4dd6f3.pn

[2022-01-17 10:06] kozzztya commented on #26076
This worked for me

[code]

https://codesandbox.io/s/wonderful-microservice-xufqc

[2022-01-17 10:16] phonganhhung9xtb commented on #27589
mee too, datepicker v5 cannot show required symbol

[2022-01-17 10:26] oliviertassinari commented on #28628
It reminds me the ESM issue that Vite had: https://github.com/mui-org/material-ui/issues/21377

[2022-01-17 10:48] VeikkoLehmuskorpi commented on #17353
I guess it's not possible to use this solution with components that utilize the Select component, such as the TablePagination component.

[2022-01-17 11:04] abhiseksubham opened #30670 "Question : React Select Box : handle large text on mobile device"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

https://codesandbox.io/embed/h4k27?file=/demo.js&codemirror=1

How to handle large overflowing texts like this : "ARTS CRAFTS SEWING AND FABRICS MISC L3" on 300 px resolution, while using a react select box ?

### Examples 🌈

https://codesandbox.io/embed/h4k27?file=

[2022-01-17 11:25] Janpot opened #30671 "[ESM] Publish packages in ESM module format"
### Why

- Run untranspiled on server environments (e.g. Next.js `experimental.esmxternals`). Could help with [https://github.com/mui-org/material-ui/issues/29742#issuecomment-982597676](https://github.com/mui-org/material-ui/issues/29742#issuecomment-982597676) to give `babel-plugin-styled-components` a source that is easier to statically analyze.
- Snowpack has trouble serving our library: https

[2022-01-17 11:40] #27415 closed

[2022-01-17 11:54] JanKanty commented on #29086
Nope. It's not workaround. It force browser to calc thing it shouldn't. Workaround is `parseInt(theme.spacing(2)) - 1`

[2022-01-17 11:59] hbjORbj commented on #30666
Hi, thanks for your suggestion.

Please feel free to work on the enhancement and open a pull request.

[2022-01-17 12:01] povilass commented on #30666
Great I gonna work on it this is just a skeleton for initial work.

[2022-01-17 12:59] hbjORbj commented on #30626
Hi. I do not quite understand what you are reporting here.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-17 13:53] hbjORbj commented on #30661
Hi. You don't need to pass generics like `<Styles<Theme, ComponentProps>>`. The following is good enough.
[code]

I think this is a good reference: https://github.com/mui-org/material-ui/blob/master/packages/mui-styles/test/styles.spec.tsx#L27

Please check out this [codesandbox](https://codesandbox.io/s/customstyles-material-demo-forked-dn845?file=/index.tsx) where I modified your code.

[2022-01-17 14:02] JOEAV opened #30672 "StaticDateRangePicker not reFocusing on set date if changed programmatically"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hey Guys.
It seems that setting up a new Date value to the StaticDateRangePicker programmatically (as with changing the value prop dynamically  without touching the picker ui by hands)
not refocusing the picker to the new value.
The actual date does being s

[2022-01-17 14:04] hbjORbj commented on #30672
Hi.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-17 14:05] hbjORbj commented on #30653
Hi.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-17 14:11] hbjORbj commented on #30670
I don't think I clearly understand the issue you are describing. Can you elaborate please?

[2022-01-17 15:07] benjamin-andersen commented on #11557
I'm also running into this issue with ^mui@5.0.0

[2022-01-17 15:21] borm commented on #30661
hm, by some reason my WebStorm dont suggest me props when i do it without generic
![image](https://user-images.githubusercontent.com/4027842/149796352-faf7be4f-25c7-4058-9637-1657d7108c6a.png)

[code]

[2022-01-17 15:23] gDev95 opened #30673 "Style injection order with @emotion/react css prevents overriding Toolbar styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If a use the `<Toolbar>` component and want to override styles, the order in which the styles are applied prevent my custom styling to take affect.  In the repros case I want to override the `min-height` prop but due to the order its not working unless i us

[2022-01-17 15:42] #30661 closed

[2022-01-17 16:15] gDev95 commented on #30673
After figuring some config issues out in the Sandbox, I was not able to reproduce this issue, hence, the problem is either an older MUI version (we are running `v5.2.2`) or our setup itself.

Either is closed

[2022-01-17 16:26] patrickcze commented on #30045
@michaldudak Any chance you might be able to review this one again on your end with the added information. Thank you in Advance :)

[2022-01-17 16:49] ZackTechLtd commented on #30653
Here is the Sandbox demo you asked for: https://codesandbox.io/s/material-demo-forked-f6jhh?file=/demo.js

[2022-01-17 16:57] ErnestBrandi opened #30674 "Disable mask (Date[Time]picker)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi, I think there is a lack of documentation about custom masks & inputFormat in Pickers type components.

For instance if I want to use to following format : `"[Day : ] dddd DD MMMM [, time : ] HH:mm"`, mask is irrelevant because I do not expect users to respect an

[2022-01-17 16:57] abhiseksubham commented on #30670
![Screenshot 2022-01-17 at 4 31 22 PM](https://user-images.githubusercontent.com/2356647/149810493-0b35ddcd-fcd2-4096-980f-1203f6e6014b.png)

Check this screenshot on 300px and less the dropdown values are breaking.

[2022-01-17 17:01] ZouYouShun commented on #30652
same problem here, only in development mode.

[2022-01-17 18:02] megasapp opened #30675 "[core] How to inject styles to iframe"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am using MUI v5.

I am calling React.createElement to run-time insert the react components.

The React components are rendered by using RenderDOM.reander(), which is inside an iframe.

However, the styles were wrongly injected to the root's <head> but not

[2022-01-17 19:03] #30585 closed

[2022-01-17 19:37] cristi-shoreline commented on #29086
@JanKanty Could you please explain why you're subtracting `1`?

Anyway, we're migrating now from v4 to v5 and I'd also like to have the spacing utility to return `number`s. It's really useful when having to calculate padding.

We're working with tons of charts and use the spacing utility of the theme to make sure everything's aligned and for this, we calculate extra spacing using offsets to positi

[2022-01-17 20:03] Bharateshwar opened #30676 "[DatePicker] 'clearable' prop has no effect."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`<DatePicker
        label="Basic example"
        value={value}
        onChange={(newValue) => {
          setValue(newValue);
        }}
        clearable={true}
        renderInput={(params) => <TextField {...params} />}
      />`

      The above imple

[2022-01-17 22:11] BC-M commented on #30629
Duplicate of #26664.

[2022-01-17 22:55] cmslewis commented on #30096
+1, I'm seeing this too, and it's put us in a pickle: until we upgrade to 5.x one day, it seems that our choice is either to see console errors because (1) [we should be using minRows instead of rows](https://github.com/mui-org/material-ui/issues/27291) in 4.11.x, or because (2) using minRows causes that prop to be improperly passed down to `<input>` in [4.12.3](https://github.com/mui-org/material

[2022-01-17 23:31] danilo-leal commented on #30648
Hey @ShiKirill, thanks for opening the issue up. I'm not being able to reproduce it though.

[2022-01-18 00:12] Nicktho opened #30678 "[typescript] Typography in theme typed as `unknown`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

At the moment the `typography` key in the system's `theme` is typed as `unknown`:

`node_modules/@mui/system/createTheme/createTheme.d.ts`
[code]

### Expected behavior 🤔

It should be typed to use `TypographyVariants` and `TypographyVariantOptions` or a `@

[2022-01-18 00:21] stegano commented on #30652
@ZouYouShun
It's a temporary measure, but try this example
- https://stackblitz.com/edit/github-cs3o6u
  - The createCacheEmotion file was modified in the original [example](https://github.com/mui-org/material-ui/tree/master/examples/nextjs) code.

In NextJS development mode, style tags are still injected with css above the head element, but style tags are injected again at the end of the head ele

[2022-01-18 02:33] VikR1000 commented on #26664
What's the correct syntax for this workaround for a <DateTimePicker> component? I've tried all the variations I can think of. :)

[2022-01-18 02:43] codyng commented on #30675
WTF!
After spending a **_WHOLE_** day to research, test and errors, the solution is simple.

(*** The original post was from me. I just posted it with another GitHub account. ***)

Because MUI v5 by default is using Emotion, although they mentioned CacheProvider, I think their details are not enough.

============================================
How to support iframe with MUI v5.x:

[code]

The "c

[2022-01-18 03:43] Nicktho commented on #30678
On top of this, i am unable to access `theme.typography` in a component because it is type `unknown` and `createTheme` does not accept a generic to describe the shape of the theme

[2022-01-18 03:55] Nicktho commented on #30678
Also `createBox` does not allow us to modify the theme shape too

[2022-01-18 04:02] BenjiWilson commented on #24194
Try using an empty list for defaultValue, e.g.:
[code]

[2022-01-18 10:25] hbjORbj commented on #30678
What do you mean you can't access `theme.typography`?

[2022-01-18 11:14] hbjORbj commented on #30678
Can you provide a codesandbox that shows the error and what you want to achieve clearly?

You can fork this template (https://material-ui.com/r/issue-template-latest).

[2022-01-18 11:25] hbjORbj commented on #30675
Hi. I see that you've already resolved your issue. I will close this issue. Thanks.

[2022-01-18 11:25] #30675 closed

[2022-01-18 11:32] hbjORbj commented on #30617
Hi, this is already documented in Grid docs: https://mui.com/components/grid/#negative-margin

I suggest you to tweak margin of containers, e.g., passing `sx={{ marginTop: 0 }}` to the second `Grid` container. Please check out https://codesandbox.io/s/overlaping-container-grid-forked-7frp5

[2022-01-18 11:32] #30617 closed

[2022-01-18 12:09] abhiseksubham opened #30683 "[Select] Need help to override the css"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I am trying to override the global styles in themes for all the MUI select boxes, but it's not working so far.

Here is my theme.js:

`import { createTheme } from '@material-ui/core/styles';
import { colors } from './color-palette';

const { PURPLE, GREY, WHITE, PUR

[2022-01-18 12:13] hbjORbj commented on #30653
Hi. All you need to do is tweak `z-index` of Backdrop component. In your codesandbox, since you are using `makeStyles`, you can pass `backdrop: { zIndex: 2 }` to it. You can check out https://codesandbox.io/s/material-demo-forked-97po7

[2022-01-18 12:15] hbjORbj commented on #30653
As a side note, I recommend you to migrate to version 5. Here is a migration guide: https://mui.com/guides/migration-v4/

[2022-01-18 12:16] JanKanty commented on #29086
@cristi-shoreline it was only for example for previous person

[2022-01-18 12:18] JanKanty commented on #29086
I really hope it would be fixed to previous behaviour so parseInt is best workaround since you can after that quickly remove it with search and replace.

[2022-01-18 12:40] hbjORbj commented on #30683
Hi.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-18 12:41] RestonAbaqus commented on #30617
That doc quote is referring to items, no containers root, this is not an expected behavior for my understanding because that same info is in v4 docs https://v4.mui.com/components/grid/#limitations and we are not having the same effect.

The only different I can see is the `margin-top: 0px;` on containers root in v4 but in v5 is `margin-top: -16px;`

I know I can fix the grid putting `margin-top: 0

[2022-01-18 12:48] ZackTechLtd commented on #30653
Thanks for your quick reply. That fix seems to work in the example code I gave you, but in my actual application I can set the zIndex to whatever I like and appears to have no effect. We are running react as a hybrid in MVC application
    On Tuesday, 18 January 2022, 12:13:43 GMT, Benny Joo ***@***.***> wrote:

Hi. All you need to do is tweak z-index of Backdrop component. In your codesandbox, si

[2022-01-18 12:54] hbjORbj commented on #30617
The negative margin is introduced from the change in #24332. The issue you are having can be resolved by tweaking margin, while the issue in #24332 does not have such a simple fix. That's why we are not reverting the change in a hasty manner.

[2022-01-18 12:59] liesislukas commented on #30336
The issue was that before sending `theme` variable to context, it was modified.

[code]

[2022-01-18 13:03] hbjORbj commented on #30653
The codesandbox I shared confirms that z-index works correctly in Backdrop component.

If it is not taking effect in your codebase, that means the styles of other components are affecting (e.g., higher z-index assigned to other components). I suggest you to inspect styles of elements in codesandbox and those of elements in your codebase and compare the difference to figure out why z-index of Backd

[2022-01-18 14:16] MakakWasTaken commented on #11069
This should instead be the following:
[code]

Because the example you provided will cause the value not to show when it is selected. Also making the placeholder functional did not work for me.

[2022-01-18 15:58] raphaelbadia opened #30687 "styled(Component): the props are not forwarded to components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using `styled(ComponentName)`, the props seems to not be forwarded to the underlying component.

Here is an example : https://codesandbox.io/s/basicbuttons-material-demo-forked-g02rx?file=/demo.js

The component `SectionTitle` extends the  `Title` comp

[2022-01-18 16:45] plmwd commented on #29942
Is there a workaround for this?

[2022-01-18 18:40] hamidsaif70 opened #30688 "RTL in mui5 cause warning and failure in npm reports"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

hi. i read rtl article in mui doc... step by step follow 3 options of bellow:
1. set dir="rtl" to main body
2. set theme direction: 'rtl'
3. @emotion/stylis, stylis-plugin-rtl latest version
    styled-components/ stylis-plugin-rtl v1 only
    @mui/styles/

[2022-01-18 19:06] Tiberriver256 opened #30689 "Running codemod throws Error [ERR_REQUIRE_ESM]: require()"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Running `npx @mui/codemod v5.0.0/preset-safe <path>` as directed in the docs for migrating from v4 to v5 produces the following  error:

[code]

### Expected behavior 🤔

The codemod should run

### Steps to reproduce 🕹

_No response_

### Context 🔦

Trying

[2022-01-18 19:57] Hummel37 commented on #29266
I think the Masonry has the same bug as you can see here.
I have only added the border and there is space on the right but not on the left.
https://codesandbox.io/s/basicmasonry-material-demo-forked-duvqs

[2022-01-18 20:15] Tiberriver256 commented on #30689
I found a workaround. It seems to run fine making this change in my babel.config.json file

![image](https://user-images.githubusercontent.com/6989492/150011595-76fc88ea-876c-403e-a5be-c37e0a2464ca.png)

<details>
  <summary>babel.config.json - unmodified</summary>

[code]

</details>

[2022-01-18 20:23] Hummel37 commented on #30676
Relates to https://github.com/mui-org/material-ui/issues/25574

[2022-01-19 00:08] #30580 closed

[2022-01-19 00:08] #30575 closed

[2022-01-19 00:08] #30569 closed

[2022-01-19 00:08] #30564 closed

[2022-01-19 00:08] #30540 closed

[2022-01-19 00:08] #30539 closed

[2022-01-19 00:08] #30451 closed

[2022-01-19 00:39] arawmedia commented on #29008
Any reason this was closed? I'm finding the docs extremely unclear.

[2022-01-19 02:58] Nicktho commented on #30678
Hi @hbjORbj, please see this sandbox: https://codesandbox.io/s/loving-violet-nguoc?file=/src/Demo.tsx

Notice the type failing on fontSize. This is also true for custom theme properties as well as the other properties that are typed 'unknown'

[2022-01-19 04:29] laclance commented on #30348
ah, sorry, thank you.

[2022-01-19 06:27] siamahnaf198 opened #30692 "[Dialog] Looking for a function `onAnimationEnd`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I am using `Material-ui` Dialog for Modal. It's work perfectly. I am facing one problem when I am trying to add `scrollBarWidth` as padding-right to my fixed header component.

When I close the Dialog then it should be set padding-reigh to 0px. But it done before cl

[2022-01-19 07:26] temurih opened #30693 "Storybook docs page is not working with MUI v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Storybook docs do not render with material UI components. I think there is an issue with the ThemeProvider, but I cannot seem to figure it out.

https://temurih.github.io/temp/?path=/docs/inputs-textfield--default

![image](https://user-images.githubusercon

[2022-01-19 07:56] aviyi opened #30694 "[`@mui/system`] styles without specifying `px` not passing correct"
### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I set style for example padding 30 (without px ) the padding be come 240px,

Link to see this issue
https://codesandbox.io/s/thirsty-silence-h22mq?file=/src/App.js:154-156

### Expected behavior 🤔

The button should be padding:30px

[2022-01-19 08:36] michaldudak commented on #30045
@patrickcze I don't have access to a physical iPad and I could not reproduce the error on the Simulator on a Mac.
I'd be happy to accept your contribution if you were willing to debug it and correct the error (if it is in fact a bug in MUI).

[2022-01-19 09:09] hbjORbj commented on #29266
@Hummel37

No, it is not. You've added a border to `Box` component, not `Masonry` component. The reason you think there is margin on the right but not on the left is because `Box` has a fixed `width` of 500px.

If you add a border to `Masonry`, there is no such issue. Please check out https://codesandbox.io/s/basicmasonry-material-demo-forked-ncmp7

[2022-01-19 09:12] hbjORbj commented on #30678
@Nicktho

Hi, `createBox` is not meant for users to use. You should import `Box` from `@mui/material` and use `ThemeProvider` from `@mui/material/styles` to pass a theme.

Please check out https://codesandbox.io/s/lucid-agnesi-9gt0d?file=/src/Demo.tsx

[2022-01-19 10:22] hbjORbj commented on #30694
Hi. That is an expected behaviour. `sx` allows passing theme props, e.g., `py`, `mx`, where `py` is y-axis padding and `mx` is x-axis margin. A value of number 1 is converted to `8px` in default theme.

So, a value of 30 is converted to `240px` by default.

[2022-01-19 10:35] mnajdova commented on #30694
This docs page explains this behavior - https://mui.com/system/spacing/

[2022-01-19 10:36] #30694 closed

[2022-01-19 10:38] mnajdova commented on #30688
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-19 10:55] aviyi commented on #30694
Thanks it's helpful

[2022-01-19 11:02] kshitij-p commented on #30249
@ShivamTyagi12345 Hey how is your PR going ? I am working on this issue as well right now as well. Would love to help and collaborate. For anyone else also looking into this - https://github.com/mui-org/material-ui/blob/3735493e98b0f15390642f4b134eff0212c652a6/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js#L373

The above line seems to be responsible for scrolling the list to the to

[2022-01-19 11:12] montanaflynn commented on #23885
I had the same use case of changing component properties based on the current breakpoint.

[2022-01-19 12:38] UnderTheMoonspell commented on #30294
@mnajdova how would I bump the specificity here?

[2022-01-19 14:15] aleksdavtyan opened #30699 "[TextField] draws narrow drop down list when using `SelectProps` with start/endAdornment Icons"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

MUI TextField draws narrow drop down list when using Select menu with startAdornment or endAdornment Icons.
Find Codesandbox link for my example:
https://codesandbox.io/s/musing-johnson-lyqvs?from-embed=&file=/src/index.tsx

![Screenshot from 2022-01-19 19-

[2022-01-19 14:33] hbjORbj commented on #30699
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-19 15:00] mhespenh commented on #30412
Hi, just a very happy MUI user with a quick clarifying question on this set of changes so we can plan our migration:

Is the `ButtonPropsVariantOverrides` interface going away as well, or will we still be able to define custom variants and style them using the new `styleOverrides` callback?

For example, will this continue to work (works now, in v5.3.0):
[code]

[2022-01-19 15:38] siriwatknp commented on #30412
No worries, the `ButtonPropsVariantOverrides` interface still works as-is. Once you augment the interface, you will be able to see it in the `ownerState` as well! That's one of the main goals of having style overrides as callback!.

[2022-01-19 15:41] aleksdavtyan commented on #30699
Please find CodeSandbox link below:
https://codesandbox.io/s/musing-johnson-lyqvs?from-embed=&file=/src/index.tsx

How we can get the box of drop down has the same length as the [TextFiled] length and have an opportunity to Customize styles of drop down box.

[2022-01-19 16:07] ShivamTyagi12345 commented on #30249
/unassign

[2022-01-19 16:19] Bharateshwar commented on #30676
Kinda, but I think this should be tracked separately. :)

[2022-01-19 16:53] flaviendelangle opened #30701 "[Discussion] Versioning strategy for the typings"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

On https://github.com/mui-org/material-ui-x, we had a discussion this week around the breaking changes on the TypeScript interfaces and how we should handle them.

One of the conclusion of the meeting was that the two repositories should follow the same strategy on

[2022-01-19 19:59] BuntyBru commented on #30672
I  just had a look over this and somehow if i comment this

[code]
![image](https://user-images.githubusercontent.com/17709720/150204265-7a1d508a-fd77-47c8-8aff-2139a2f78f35.png)

The whole thing works out, Not sure if this would be right way

[2022-01-19 20:01] alisasanib commented on #30233
@michaldudak @flaviendelangle I would like to work on this issue if it's possible.

[2022-01-19 20:44] ajlamarc commented on #30249
Need a contribution for school, I will also look into this issue

[2022-01-19 21:01] FelipeBattistottiAvant opened #30702 "How can I fetch values selecteds in Autocomplete with multiple"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

How can I fetch values selecteds in Autocomplete with multiple

### Expected behavior 🤔

In which event can I fetch the array of values?
There is no example on the site.

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your

[2022-01-19 21:49] pfuentes1402 commented on #20602
I have solved this problem by removing the autoSelect property, or by setting autoSelect={false}.

[2022-01-19 22:28] Nicktho commented on #30678
@hbjORbj Is this the wrong repo to post system issues? As far as I'm aware `createBox` is a public api, as seen here in the docs: https://mui.com/system/box/#create-your-own-box-component

[2022-01-19 22:34] Nicktho commented on #30678
@mnajdova has helped in the past with @mui/system issues on this repo.

[2022-01-19 23:55] hbjORbj commented on #30702
This post seems to have insufficient information for us to provide a direction.

I am not sure if I understood you correctly, but you can check out this [Autocomplete API doc](https://mui.com/components/autocomplete/#multiple-values) on the use of `multiple` prop.

I hope that helps.

[2022-01-19 23:56] #30702 closed

[2022-01-20 00:58] khw1031 commented on #30038
I have the same problem with @mui/material@5.3.0

[2022-01-20 03:27] siriwatknp commented on #30689
I think adding docs to clarify should be enough.

[2022-01-20 03:53] michaelpward commented on #28575
While we wait for a solution to be merged, there's a simple hack you can employ that provides a fairly effective workaround.

On initial render the calendar view starts with the month of your "start date". So if we cause a re-render when we set the date programmatically, we have a workaround that appears to "update the calendar view to the start of the new date range".

This can be done by storing

[2022-01-20 04:19] qlonik opened #30703 "[typescript] Some css keys of `sx` don't get proper type inference"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I'm passing a function to some CSS keys (like 'fill') of sx prop, that function is not getting proper type inference.
For some reason param is not getting `Theme` type of parameter for 'fill' specifically, even though it is getting for 'color'. Futherm

[2022-01-20 06:34] joefraley commented on #21210
here we are in v5.2.4 and it doesn't seem like `Select`'s have their own option components. docs still using `<MenuItem/>`'s: https://mui.com/components/selects/

MenuItem docs make it look like `<MenuItem component="" />` should be possible: https://mui.com/api/menu-item/

[2022-01-20 08:54] michaldudak commented on #30610
When you don't need all the bells and whistles, use Select. If that's not enough, use Autocomplete. The Autocomplete has much more going on under the covers and it would be overkill to use it in all scenarios.
I'm closing the issue as MUI provides a way to achieve your goal.

[2022-01-20 08:54] #30610 closed

[2022-01-20 09:34] pzi commented on #27590
I noticed another potentially odd behaviour that if specify

[code]

it gets added to the `div` that wraps the `input` element.

If I specify it this way

[code]
it gets added to the input but then the type of the input changes from `tel` to `text` and I am unsure what other implications it would have? Likewise if I was to add `type: 'tel', to the `inputProps` as well as the `inputMode`.

Could an

[2022-01-20 11:01] #30436 closed

[2022-01-20 11:03] JOEAV commented on #30672
@BuntyBru  Looks interesting to me. good catch
I don't know why from first place ones would like to disable autoMonthSwitching . it's a bad UX decision if you think about it. looks like this if clause needs to be removed (or the whole disbaleAutoMonthSwitching prop)

[2022-01-20 11:13] hbjORbj commented on #30703
Hi.

It should be as follows:
[code]

instead of
[code]

Please check out https://codesandbox.io/s/serene-edison-nu2v6

[2022-01-20 11:14] #30703 closed

[2022-01-20 11:32] hbjORbj commented on #30692
Hi.

It is difficult for us to resolve your issue when we are unable to reproduce your code and see clearly what you want to be achieved.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

In the meantime, it seems like there are a few approaches to solving this issue.

1

[2022-01-20 13:31] gregorysl commented on #30476
Could you share what fixed your issue?

[2022-01-20 14:40] afhaider opened #30707 "[`useMediaQuery`] Class Component guide"
const isMatch = useMediaQuery(theme.breakpoints.down('sm'));

 {isMatch ? <>  <>}

how can i use this one in class component it seems bit written on Function Component
i tired an approch on props call but didnt make it to work any tips would help alot

[2022-01-20 14:53] hbjORbj commented on #30707
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-20 14:53] afhaider commented on #30707
give me a second i will do a repo

[2022-01-20 15:17] BuntyBru commented on #30672
I think it is being used for something , But i am not sure what `open` is being taken out from a hook.
I guess contributors can throw some light on it

[2022-01-20 15:28] konstantin403 commented on #21395
@mmahdigh faced with the same issue for me helps jssTemplate

`import jssTemplate from 'jss-plugin-template';`

[code]

[2022-01-20 15:53] chriszrc commented on #23395
This wasn't a bug report, it was a plea for help, I think we can all see what they were asking about, why not just give them the answer:

https://mui.com/components/selects/#controlling-the-open-state

And tell them about the onOpen event:

https://mui.com/api/select/#props

Here's the working example:

https://codesandbox.io/s/material-demo-forked-68pmi?file=/demo.tsx

[2022-01-20 15:56] siamahnaf198 commented on #30692
Hi @hbjORbj. I create a CodeSandBox. Here you can find the problem. Before starting please open preview on a full or new window.

https://codesandbox.io/s/wonderful-architecture-p5ldv

[2022-01-20 16:03] siamahnaf198 commented on #30692
Please help with the dialog component.

[2022-01-20 16:34] fgira commented on #24991
Hello @danylboiko95 ,

The property "`overflow : hidden`" is added on the `<body>` when a Drawer variant "temporary" is open (=true).
Even if the Drawer is `display "none"`.

Be carefull about your property `isDrawerOpened` on the second Drawer.

[2022-01-20 17:52] temurih commented on #30707
Maybe try `export default withWidth()(Demo)`? Just guessing, its been a long time working with classes in react.

`import withWidth from "@material-ui/core/withWidth/withWidth";`

[2022-01-20 18:29] Aketzu opened #30712 "[docs] DateTimePicker API prop description doesn't fit in view"
In https://mui.com/api/date-time-picker/ the props listing is missing description since names and default values are so wide that they push description off to empty space (except one pixel that is still visible)

![image](https://user-images.githubusercontent.com/942914/150399079-3a24fd10-1c9d-46cd-a258-37ad8486dd85.png)

[2022-01-20 19:23] RemyMachado commented on #10076
I'm still confused. How can we retrieve the responsive value if we need to pass it to a sticky element? (top: ?px)

[2022-01-20 22:01] rhettl commented on #30562
I am still getting this error.

MacOS 11.6
Chrome 97.0.4692.71

[2022-01-20 23:30] danilo-leal commented on #30712
Hey @aketzu, thanks for opening this issue. However, it's a duplicate of #29062. I just opened a PR with an initial work for resolving the issue, it's a work in progress. Feel free to chime in and help out. Closing this one for now.

[2022-01-20 23:30] #30712 closed

[2022-01-21 00:03] oliviertassinari commented on #30343
We got a new request but for MUI X this time in https://mui.zendesk.com/agent/tickets/2131. It's getting fixed with https://github.com/mui-org/material-ui-x/pull/3653 by @m4theushw.

[2022-01-21 00:06] #30588 closed

[2022-01-21 01:15] cwwrussell opened #30714 "[DatePicker] `className`s provided via prop are never applied to root element"
Not much more to say; the `className` prop is destructured in preparation to apply to the component but never gets used.

https://github.com/mui-org/material-ui/blob/ad2535a8b15f76355f4559dbac02e9cb379269ba/packages/mui-lab/src/internal/pickers/Picker/Picker.tsx#L77

[2022-01-21 02:11] awdyson opened #30715 "[LoadingButton] does not inherit custom variant override types"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

LoadingButton properly renders the styles set in `MuiButton.styleOverrides`, however the console throws an `Invalid Prop Type Value` error. I'd guess that this is also a

### Expected behavior 🤔

I don't think this used to throw an error? Regardless, this s

[2022-01-21 03:11] qlonik commented on #30703
But why? The type annotations show that either way is supposed to work. And in fact, it works for most of the props (like color, margin, padding, and others). It is sometimes convenient to pass the function only to one of the props, when there are lots that are static, for example:

[code]

[2022-01-21 06:22] AlbinoGeek commented on #30562
Reopened as the issue has come back, and I'm not the only person with it.

[2022-01-21 07:34] Aketzu commented on #30712
Tried searching for duplicates but apparently that ticket doesn't mention DateTimePicker at all. Only visible in the screenshot.

[2022-01-21 08:26] EzyHow opened #30717 "minDate and maxDate not working in MobileDatePicker"
`MobileDatePicker` component does not work when `minDate` and/or `maxDate` is provided. It gives error `date.clone is not a function`.

**Code Snippet:**

[code]

**Package version:**
    "@date-io/dayjs": "2.11.0",
    "@mui/lab": "5.0.0-alpha.65",
    "@mui/material": "next",
    "dayjs": "1.10.7",

**Bug reproduction** => [CodeSandbox](https://codesandbox.io/s/inspiring-gates-0ssvz?file=/src/De

[2022-01-21 08:29] EzyHow commented on #30717
Neither working for `DesktopDatePicker` and `DatePicker`.

[2022-01-21 08:59] doberkofler opened #30718 "TextField with type date - intended or error when using label"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using the component `<TextField type="text" label="myLabel" placeholder="myPlaceholder" />` leads to the having the label and a date mask to overwrite each other.

![image](https://user-images.githubusercontent.com/1009585/150496808-6becec40-b5cc-4fb3-987a-

[2022-01-21 09:13] siamahnaf198 commented on #30692
@hbjORbj Can I get this problem as solved.

[2022-01-21 09:56] kshitij-p commented on #30249
Opened a PR #30719 proposing a fix. Please read the PR message provided with it which includes a question I have regarding the demos/docs part of the PR.

[2022-01-21 09:57] sdzaveri commented on #29600
I am experiencing the same issue

[2022-01-21 10:57] rameshanandakrishnan opened #30720 "[Tooltip] `tooltipClasses` not adapted to class names replaced by `ClassNameGenerator`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I use the classname generator the styles of the tooltip component break. Currently, the tooltip with arrows break, and the custom styles generated via the styled component is not respected.

### Expected behavior 🤔

The styles and the behavior of the c

[2022-01-21 11:36] borm opened #30722 "[DatePicker] allow passing `TrapFocusProps`"
https://github.com/mui-org/material-ui/blob/10f3f080ccb76fdf8916f24dbfc1020ea4663d27/packages/mui-lab/src/internal/pickers/wrappers/DesktopWrapper.tsx#L44

[code]

the **reason**,
i dont need restore focus to my input when picker is closed

[2022-01-21 11:56] hbjORbj commented on #30722
Hi. I think this issue has insufficient information for us to proceed with it.

Please provide more information on what you are struggling with and what you wish to achieve.

[2022-01-21 11:57] hbjORbj commented on #30714
It doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-21 11:57] danilo-leal commented on #30712
It is the same problem, though. It's not something specific to the DateTime component but rather general to every table that happpens to have a large string in some cell, pushing the last column way to the right, making it not visible.

[2022-01-21 12:34] oliviertassinari commented on #30412
@siriwatknp From my perspective, this is not the reality of what happened. It was not about JSS. The introduction of the variant API: #15573, #21749. But I also realize that these issues don't cover the point I'm going to detail: static definition. #21648 might be the most insightful on the different options that we considered.

From my perspective, the key selling point of the variant API is that

[2022-01-21 12:40] hbjORbj commented on #30692
@siamahnaf198

Hi. I already suggested solutions above.

[2022-01-21 12:50] hbjORbj commented on #30692
@siamahnaf198 Hi. I already suggested solutions above.

[2022-01-21 13:16] hbjORbj commented on #30720
@rameshanandakrishnan

Hi. Thanks for the report. This indeed looks like a bug.

`tooltipClasses` still outputs the following object with the same classnames:
[code]

[2022-01-21 13:18] siamahnaf198 commented on #30692
That is not the solutions. You way not working. Please give more clear solutions.

[2022-01-21 13:26] oxwazz commented on #27512
its not recommend if you use `makeStyle` on Mui V5.

because the docs said : [https://mui.com/styles/basics/#main-content](https://mui.com/styles/basics/#main-content)

recommented using `style()` API instead of `makeStyle` (@mui/styles)

[2022-01-21 13:45] mnajdova commented on #30720
You need to make sure that the `ClassNameGenerator` is the first thing that will be executed. Here is a working sanbox - https://codesandbox.io/s/basictooltip-material-demo-forked-797it?file=/init.ts

[2022-01-21 13:47] #30720 closed

[2022-01-21 14:47] hbjORbj commented on #30692
Hi.

You can pass the following to `Dialog`:

[code]

Here is a working sandbox: https://codesandbox.io/s/laughing-moore-v3diq?file=/Component/Dialog.js:1243-1347

[2022-01-21 14:48] #30692 closed

[2022-01-21 16:27] danielo515 opened #30725 "[system] Support top, left, right and bottom as spacing values"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello.
I'm liking the new styling solution so far, thanks.
I noticed a small inconsistency on how the SX works in terms of spacing for absolute positioning values.
I was expecting top, bottom, left and right to behave just like padding and friends. This mea

[2022-01-21 16:53] benjamin-andersen opened #30726 "[Date Picker] Masking is broken with MM/yyyy format"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the `inputFormat` prop set to `'MM/yyyy'`, the masking is broken. Adding a custom rifm formatter doesn't seem to help.

### Expected behavior 🤔

The masking shouldn't break when using a `'MM/yyyy'` format.

### Steps to reproduce 🕹

This was fork

[2022-01-21 18:16] Michal-gasiorowski commented on #27512
Thats why i posted another solution, few posts below, that uses that approach and omit it completely when the bundle is built (using envs), as the issue seems not to appear on production build. Im using this approach since then without issues, and i can still use SSR on production.

[2022-01-21 19:19] jbrunner92 opened #30727 "CSS Selector Classes in styleOverrides Error: MUI: The `MuiMenuItem` component increases the CSS specificity of..."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Tried defining CSS selector class styles using components.MuiMenuItem.styleOverrides, but I keep getting a browser error regarding increasing the CSS specificity for selectors.
[code]

![Screen Shot 2022-01-21 at 11 59 09 AM](https://user-images.githubuserc

[2022-01-21 19:27] RemyMachado commented on #29564
It's a bit tricky. `primary` & `secondary` works without `.main`, but the other colors in the palette doesn't.

[2022-01-21 19:36] siamahnaf198 commented on #30692
Sorry, I didn't understand it. Thank you very much

[2022-01-21 20:21] IgnatLomkov commented on #29564
@RemyMachado I also think that this is not completely logical, but it still works, which means corrections are optional)

[2022-01-22 00:05] #30599 closed

[2022-01-22 05:46] afhaider commented on #30707
i have found an alternative solution for class

`const styles = theme => {
  // const isMatch = useMediaQuery(theme.breakpoints.down('sm'));
  return {
    paperz: {
      backgroundColor: 'blue',
        maxWidth:'90%',

      // Match [sm, md)
      //       [600px, 900px)
      [theme.breakpoints.between('sm', 'md')]: {
        backgroundColor: 'red',
        maxWidth:'100%',
      },
    },

[2022-01-22 05:54] afhaider commented on #30707
@tem

[2022-01-22 05:54] #30707 closed

[2022-01-22 09:12] GrowUp-Haruno opened #30731 "MobileDatePicker's Cancel button does not work."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

1. Changes are not canceled when the CANCEL button is pressed.
2. Selecting a date will fire onChange, and the date will be updated.

### Expected behavior 🤔

Make the firing timing of onChange only when the OK button is pressed.

### Steps to reproduce 🕹

[2022-01-22 12:33] Ashish2097 commented on #30731
has anyone started working on this issue? Can I pick this one?

[2022-01-22 13:15] ladarit commented on #29878
i have absolutely same issue

[2022-01-22 13:25] janat08 opened #30735 "Remix example broken"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://github.com/emotion-js/emotion/issues/2413
Running the app does nothing if using cloudflare workers variant of remix-run (generate remix-run) for cloudflare workers which uses esmodules.

### Expected behavior 🤔

For the example project to work, sinc

[2022-01-22 13:33] janat08 commented on #30735
https://github.com/emotion-js/emotion/issues/2413

[2022-01-22 18:18] rolandsaven commented on #20014
Hey @oliviertassinari

I'm having the same issue - here is an example https://codesandbox.io/s/xenodochial-allen-ulq2d?file=/src/App.tsx

[2022-01-22 22:59] theMyth721 opened #30739 "Uncaught TypeError: theme.transitions is undefined"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying MUI Icons with the React project and not a single icon will work.
I am getting an bug which does not seem to be anything to do with my code.
My stack overflow question here has the code samples: https://stackoverflow.com/questions/70817744/mui-s

[2022-01-22 23:05] theMyth721 commented on #30739
I am getting the following error:

Uncaught TypeError: theme.transitions is undefined
    node_modules vendors-node_modules_mui_icons-material_AccountCircle_js-node_modules_symfony_stimulus-bridge-bc728e.js:4268
    transformedStyleArg createStyled.js:183
    handleInterpolation emotion-serialize.browser.esm.js:137
    serializeStyles emotion-serialize.browser.esm.js:262
    node_modules vendors-n

[2022-01-22 23:55] benny-n commented on #30207
Hi,
I'm having the exact same issue:

https://user-images.githubusercontent.com/66024037/150659223-8821dc9d-5869-4749-9963-656eb68a9688.mp4

I'm using chrome with windows 10 OS.
I've also tried on Firefox, works just fine.
Like mentioned above, it seems to only break on chromium based browsers.
Are there any updates on this?

[2022-01-23 01:05] Mood-al commented on #30207
I opened this issue 3 months ago i guess and despite many users have the same issue but it seems the Mui team didn't put this issue as priority I hope they start to debugg it the issue is there on all Material ui versions i tested them all and same thing is happening

If you tried to put your page zoom on 110% and then you refreshed the page the tabs will work fine on RTL mode

[2022-01-23 01:50] konhi commented on #29345
@cryptoAlgorithm It doesn't seem to be documented nor in CI workflow (built), but you [can see that there's work being done](https://github.com/material-components/material-web/tree/master/components/)! If I will be able to use that code and check which components are ready to use, I will let know there. Meanwhile, I encourage everyone who's interested to check it by themselves.

What might be mea

[2022-01-23 09:44] brendanhealey commented on #1340
And for the benefit of all the other people who have just spent an hour trying to find out this information it's:

event: React.MouseEvent<HTMLButtonElement, MouseEvent>

[2022-01-23 10:10] mycolaos commented on #23478
Same issue here with overriding mode not working.

It's also not clear what `createTheme` actually does? It seems not necessary when extending theme — `<ThemeProvider theme={outerTheme => merge(outerTheme, innerTheme) />` seems to work the same as with using `createTheme`.

[2022-01-23 10:50] ytgs5148 commented on #30569
I am having a similar issue,

Code: https://codesandbox.io/s/romantic-golick-c54rk?file=/src/App.tsx

[2022-01-23 12:45] mmacu opened #30745 "[TextField] using type="search" prop causes background to be white regardless of theme on iOS"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If I add `type="search"` as a property for 'TextField` componened it will show up with white background on iOS regardless of theme. Since letters are also white in dark theme you cannot see text you are entering, so the issue isn't limited to component look

[2022-01-23 14:56] minhnhat10 opened #30746 "[DataGrid] Adding Select component to each row cause the error when pagination"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I want to add select component to each row in datagrid. I work fine, but when I paginate it's still save the select state of previous page.
![Screen Shot 2022-01-23 at 9 54 18 PM](https://user-images.githubusercontent.com/33271256/150684431-99e99c25-f9de-41

[2022-01-23 18:23] MPragya-20 commented on #10341
disableEnforceFocus worked...thanksss

[2022-01-23 18:43] jorepstein commented on #13039
for lazy ppl like me who end up at this page:

https://mui.com/system/basics/

[2022-01-23 20:27] zivl commented on #30516
of course I can do that. but if it will be part of the library, then everyone can use and enjoy the benefits.

[2022-01-23 20:45] boutahlilsoufiane commented on #29385
Hi @mnajdova @hbjORbj could you please review the PR! Thank you so much

[2022-01-24 01:48] hylerrix opened #30750 "[Doc i18n] Cannot select the English language, forcing me jump into the Chinese language"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi, I lived in Beijing, China but mostly, read only English document for study and work.

When I opened Material UI document, it forced me jumping into the Chinese Version, which I'm totally confused.

I want to read English version, but changing language in setting

[2022-01-24 03:50] gowthamvbhat commented on #4736
Is there any straightforward way to achieve this when using autocomplete as an uncontrolled component ?

[2022-01-24 04:23] claudiusnascimento commented on #26626
This works for me:

`import { SxProps } from '@mui/system';
import { Theme } from '@mui/material/styles';`

`const style: SxProps<Theme> = {
  position: 'absolute',
  top: '50%',
  left: '50%',
  transform: 'translate(-50%, -50%)',
  width: '100%',
  maxWidth: 900,
  bgcolor: 'background.paper',
  border: '1px solid #a7a7a7',
  boxShadow: 24,
  p: 4,
}`

[2022-01-24 05:46] rafaelfaria commented on #29943
There is probably a better way to solve this, but i had the same issues, and I solved that by doing the following:

[code]

[2022-01-24 08:17] mnajdova commented on #30735
Thanks for creating the issue and linking the corresponding issue on the emotion repository. Looks like the bug and workaround are already reported there, so I am closing this issue as it is a problem in an external dependency.

[2022-01-24 08:17] #30735 closed

[2022-01-24 08:19] mnajdova commented on #30739
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-24 08:25] mnajdova commented on #30727
You should apply the selector styles on the root, as the state classes increase the CSS specificity by design. We cannot remove these keys at this moment as those would be breaking changes, but they are already listed for the changes we need to do in v6.

Also, note the difference in the descriptions. For the other keys, it says "Styles applied on ...", for these, it says "State class applied ..."

[2022-01-24 08:32] mnajdova commented on #30562
@DanailH could you check? I cannot repro on Windows.

[2022-01-24 08:34] mnajdova commented on #30618
I cannot reproduce, I tried with both keyboard and mouse, both work for me. Can you be more specific as to what are the steps?

[2022-01-24 08:35] mnajdova commented on #30621
There hasn't been a response for reproduction for more than 7 days. I am closing

[2022-01-24 08:35] #30621 closed

[2022-01-24 08:40] AlbinoGeek commented on #30562
Repro on Fedora 35 Workstation with Gnome 41 (default DE) up-to-date

Same as above, happens much more often on the data table pages then other
pages of the documentation.

On Mon., Jan. 24, 2022, 12:32 a.m. Marija Najdova, ***@***.***>
wrote:

[2022-01-24 08:40] mnajdova commented on #30652
I've created this pull request for interoperability between Tailwind CSS and MUI - https://github.com/mui-org/material-ui/pull/30700

My recommendation is to remove tailwind's base and depend on the `CssBaseline` component, that comes from MUI, as it has better defaults for the MUI components. That way, the order is expected, you have first the MUI components, and then the Tailwind utility classes

[2022-01-24 08:41] mnajdova commented on #30629
Agree, it is a duplicate of #26664

[2022-01-24 08:42] #30629 closed

[2022-01-24 08:47] Jack-Works opened #30752 "Usage of dangerouslySetInnerHTML throws when using with Trusted Types"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Some code in Material UI uses `dangerouslySetInnerHTML`. It will throw when using [Trusted Types](https://developer.mozilla.org/en-US/docs/Web/API/Trusted_Types_API).

https://github.com/mui-org/material-ui/blob/0d94283959a3aa016881b9644767b937c34d2807/pack

[2022-01-24 08:58] mnajdova commented on #30750
What browser causes this behavior?

[2022-01-24 09:12] NPetz opened #30753 "show value tooltip when hovering a slider thumb with disableSwap true"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hovering on a slider thumb should make a tooltip with the thumb's value pop out when `valueLabelDisplay` is set to `auto` and `disableSwap` is set. Just like it does when `disableSwap` is not set.

### Examples 🌈

https://codesandbox.io/s/pensive-dream-w91mx?file=/s

[2022-01-24 09:12] mnajdova commented on #30715
Is the issue related to the typings or the `propTypes`? I think we only need to update the `propTypes` and add test for it:

[code]

Feel free to pick it up if you want.

[2022-01-24 09:30] mnajdova commented on #30693
Duplicate of https://github.com/mui-org/material-ui/issues/30693

Have you tried what is suggested there? If not, please provide a comment on the other issue with a link to a repository. Thanks!

[2022-01-24 09:30] #30693 closed

[2022-01-24 09:37] mnajdova commented on #30649
You need to have `dir="rtl"` on the Modal too, or set the `dir="rtl"` directly on the body, as described in https://mui.com/guides/right-to-left/. The modal is rendered directly in the body, which means it is outside of the div that you have set dir="rtl". See this working example - https://codesandbox.io/s/textfield-bug-when-encapsulated-in-rtl-mode-and-opened-in-a-modal-forked-pksot?file=/demo.j

[2022-01-24 09:37] #30649 closed

[2022-01-24 10:04] #30652 closed

[2022-01-24 10:20] mnajdova commented on #30745
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-24 10:23] janat08 commented on #30735
I still don't know how to apply either one of those workarounds as I tend
to use starter templates to avoid learning what it is that they're talking
about.

On Mon, Jan 24, 2022 at 2:17 PM Marija Najdova ***@***.***>
wrote:

[2022-01-24 10:27] stegano commented on #30652
Hi @mnajdova

Thanks for your answer.

I saw your PR, and I have a few questions.
As a result, it seems a little different from what I thought.

1. Isn't this issue caused by `StyledEngineProvider` in `NODE_ENV=development` environment?

2. In my case, I handle all styles in the project with tailwindcss, and recently replaced some components using MUI. If I use `CssBaseline` provided by mui instea

[2022-01-24 10:27] mnajdova commented on #30670
The values are being truncated, not broken. It is the best we can do when there is no space to show them all. Maybe using the Autocopmlete is closed to what you want - https://mui.com/components/autocomplete/#multiple-values

[2022-01-24 10:27] #30670 closed

[2022-01-24 10:30] mnajdova commented on #30725
Fair point. Would you like to create a PR for this?

[2022-01-24 10:39] mnajdova commented on #29983
@marc-polizzi do you have some updates on this? I am sorry, I don't think I will have much time to look into it, but we can wait and see if someone from the community would have some comments.

BTW, the `@mui/lab` already has the `@mui/material` in it's peer dependencies. See https://github.com/mui-org/material-ui/blob/master/packages/mui-lab/package.json#L44

[2022-01-24 10:39] stegano commented on #30652
I'm not sure, but if StyledEnginedProvider is modified as shown below, it seems that the behavior I expect will work, and the comments written in the source code also make sense.

[code]

[2022-01-24 10:53] mnajdova commented on #30650
You can use `scrollToItem` if you want to have the same behavior. See https://react-window.vercel.app/#/examples/list/scroll-to-item

[2022-01-24 11:20] mnajdova commented on #30753
I agree with your expectation. I think that if `valueLabelDisplay` is 'auto' it should show the value label when hovering over the thumb, regardless of the `disableSwap` value. Maybe we should handle the hover separately. Feel free to start with the changes, I can help with the review.

[2022-01-24 11:41] mnajdova commented on #30687
This is happening because you are using the "as" prop, which means that that component will be rendered instead of the `Title`. So it is not about props not being passed, is about different component being rendered. See https://codesandbox.io/s/basicbuttons-material-demo-forked-5f46y?file=/demo.js where the "as" prop is not being used. The `@mui/material/styles` blocks the "as" prop from being for

[2022-01-24 13:52] hwride opened #30758 "[TreeView] Enter toggles but doesn't select item"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you press enter on an item in TreeView in single-select mode it does not select it (it toggles it, but doesn't select it).

### Expected behavior 🤔

The aria docs indicate the following (https://www.w3.org/TR/wai-aria-practices/#keyboard-interaction-24

[2022-01-24 13:56] yanickrochon commented on #30618
My apologies, I had asked this question and implemented a fix suggested from [StackOverflow](https://stackoverflow.com/questions/70711481/cannot-reset-mui-datepicker-from-keydown-event/70712082?noredirect=1#comment125007712_70712082)

I have reverted the original source, which does reproduce the issue.

[2022-01-24 14:13] charisra commented on #30476
I believe adding this to the root folder did the trick:

`            <StyledEngineProvider injectFirst>
                <ThemeProvider theme={theme}>`

[2022-01-24 14:41] marc-polizzi commented on #29983
@mnajdova still several warning w/ latest (5.2.3)... we've done a small script to add "missing" dependencies for all files triggering a warning.

[2022-01-24 15:01] miguelCT commented on #30726
If you add manually the `mask` prop:

[code]

supposedly it should apply the mask. But I found that the prop `views` is the one that seems to be breaking the masking. If you remove the `views` prop, the mask will work as expected.

I editted your sandbox with the changes I mentioned: https://codesandbox.io/s/basicdatepicker-material-demo-forked-m2n36?file=/demo.tsx:471-542

Obviously this is not a

[2022-01-24 15:11] nlafleur opened #30760 ""Color" attribute does not work as expected"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I come from version 4.*.*

For this example I'm using the "visibility" icon;
imported as: import { Visibility } from "@mui/icons-material",
rendered as:
[code]
I determine the fontSize in the "menuItemIcon" class like;
[code]

My theme is created in the "in

[2022-01-24 15:18] mnajdova commented on #30758
It is a bug, I can reproduce. Space activates the node, but Enter doesn't.

[2022-01-24 15:23] mnajdova commented on #30760
DO you have your app wrapped in `StyledEngineProvider` with `injectFirst` as described in https://mui.com/guides/interoperability/#css-injection-order?

If this doesn't work, please create a codesandbox illustrating the issue.

[2022-01-24 15:26] igortas commented on #18482
This is not solution, the problem happens also in monorepo environment, npm can't solve this issues, nor webpack, where u use externals keyword.

[2022-01-24 15:27] NPetz commented on #30753
@mnajdova

So, I created a draft pull request!

https://github.com/mui-org/material-ui/pull/30761

I'm not so sure what is the intended behavior of the labels.
I made it so that when `disabledSwap` is set you can only ever see one label at a time. Should this behavior be true at anytime?

Thanks in advance!

[2022-01-24 15:41] nlafleur commented on #30760
Hi, I wrapped my app in the "StyleEngineProvider", this atleast solves one other issue I was having, I had to use the sx={{}} or !important in classes since my upgrade from MUI 4 to 5, which I no longer need now, thx for that.

But it does not solve my problem with the icon its color, so I created a sandbox:
https://codesandbox.io/s/romantic-khayyam-n8rlb?file=/src/index.js

[2022-01-24 15:42] nlafleur commented on #30760
Hi, I wrapped my app in the "StyleEngineProvider", this atleast solves one other issue I was having, I had to use the sx={{}} or !important in classes since my upgrade from MUI 4 to 5, which I no longer need now, thx for that.

But it does not solve my problem with the icon its color, so I created a sandbox:
https://codesandbox.io/s/romantic-khayyam-n8rlb?file=/src/index.js

[2022-01-24 15:42] nlafleur commented on #30760
Hi, I wrapped my app in the "StyleEngineProvider", this atleast solves one other issue I was having, I had to use the sx={{}} or !important in classes since my upgrade from MUI 4 to 5, which I no longer need now, thx for that.

But it does not solve my problem with the icon its color, so I created a sandbox:
https://codesandbox.io/s/romantic-khayyam-n8rlb?file=/src/index.js

[2022-01-24 15:44] tech-meppem opened #30762 "[SwipeableDrawer] disableDiscovery on a swipeable edge drawer has inverted effect."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

This only has a noticeable effect if the drawer has a swipeable edge ([Docs](https://mui.com/components/drawers/#swipeable-edge)).
Leaving "disableDiscovery" as false means that when you hold click on the drawer (requires mobile touch emulation for touchsta

[2022-01-24 16:13] thomas-kahn commented on #30726
I've made the same observation as @miguelCT.
I saw in another discussion that when the `views` prop is set to `['year', 'month']` without any format applied, it defaults to the year in digits and the month in text (month name according to locale). This means that applying a mask would be hard since the length of the months' name vary depending on month and language.

So my guess is that there's a

[2022-01-24 16:50] jbrunner92 commented on #30727
OK, that's g2k. Sounds like adding the state in root is the correct way to go about this then. Thanks!

[2022-01-24 17:09] Bharateshwar commented on #30676
Thanks.

[2022-01-24 17:26] borm commented on #30722
i wanna pass `disableRestoreFocus: true` to `DatePicker` component, and also probably to `Select` in future,
so will be great to have `TrapFocusProps` overrides

[2022-01-24 18:09] tomtastico commented on #26380
Using `sx={{ width: '100%', justifyContent: 'space-between' }}` to try to make the icons evenly spaced within any width, causes the same issue.

[2022-01-24 19:10] Tiberriver256 opened #30764 "[question] What to use instead of StandardProps?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

StandardProps was deprecated in #22312 but there is no directions in the v5 migration guide on what should be used instead.

[2022-01-24 19:55] danilo-leal commented on #26536
Closing this one since it has been solved - there's now a Search icon button in smaller breakpoints allowing you to search, be it from the marketing pages or directly from the documentation!

[2022-01-24 19:55] #26536 closed

[2022-01-24 20:47] stoplion opened #30765 "Module not found: Can't resolve '@emotion/react' after installing @emotion/styled"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Error:
`Module not found: Can't resolve '@emotion/react'`

Ok, install that..
`npm i @emotion/react @emotion/styled -s`

Error once again..
`Module not found: Can't resolve '@emotion/react'`

### Expected behavior 🤔

Once installing a package, it should fin

[2022-01-24 20:48] stoplion commented on #27846
This still happens, even after installing the package

[2022-01-24 21:07] bsell93 commented on #30123
@narekmal that seemed to fixed the issue I was having (that was exactly as OP described). Of course I used a different property than `title` in my case, and the prop is now named `isOptionEqualToValue` instead of `getOptionSelected`. Thanks!

[code]

[2022-01-24 21:08] temurih commented on #30693
@mnajdova duplicate of my own issue? Why did I not think of that?

![image](https://user-images.githubusercontent.com/3893769/150865017-6388542e-3352-4958-9828-59f7e39972fc.png)

[2022-01-24 21:38] Daniel-Brestoiu commented on #30731
Not sure if this helps, but until this gets fixed, you could try creating a "cancel" effect on your end.
You could use onOpen to determine what the value was before changes, and use onAccept and onClose to determine if the OK button was clicked or if the Cancel button was clicked then maintain values accordingly.

[2022-01-24 22:15] SangeetAgarwal commented on #29207
@siriwatknp

if the props are all lowercase then one doesn't have to worry about `props` being forward so, what you wrote above can then be written as follows

[code]

[2022-01-24 22:30] oliviertassinari commented on #30412
On point 2. see the feedback about TypeScript in https://engineering.udacity.com/choosing-the-right-component-library-for-your-design-system-mui-vs-chakra-45c4c949d150.

[2022-01-24 23:03] andreterron commented on #24480
I'm having the same issue.

@oliviertassinari, my scenario is that I'm building a JSON-like object viewer, and I'd like to be able to select the text from either the keys or values.

If I disable JavaScript using the Chrome Dev Tools, I can select the text.

Do you have any pointers or tips on where to start if I want to take a look at this?

[2022-01-25 00:06] #30648 closed

[2022-01-25 02:15] bmccarthynn commented on #20600
Reviewed [list above](https://github.com/mui-org/material-ui/issues/20600#issuecomment-615911641) to current docs and these components now have Accessibility sections and can likely be checked off:

- [X] [Badges](https://mui.com/components/badges/)
- [X] [Speed Dial](https://mui.com/components/speed-dial/)
- [X] [Skeleton](https://mui.com/components/skeleton/)

[2022-01-25 02:55] DmitriyKushkulov opened #30767 "The issue of Flexbox in Next JS"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The material ui Flexbox doesn't work well while using the map.
This is the code and result.

![image](https://user-images.githubusercontent.com/73977245/150901658-91992f00-fa71-48d8-9248-5c128421d685.png)
![image](https://user-images.githubusercontent.com/7

[2022-01-25 02:57] stoplion commented on #30765
- Tried to delete `node_modules`
- Tried to delete `package-lock.json`
- ran`npm cache clean --force`

still...
<img width="590" alt="image" src="https://user-images.githubusercontent.com/231343/150902644-2de52714-bb63-47e3-8919-e53a88be8c55.png">
<img width="426" alt="image" src="https://user-images.githubusercontent.com/231343/150902652-eb945ef4-094b-4f9c-bbe3-8e063a4c5674.png">

[2022-01-25 03:02] hata6502 commented on #29371
(For Material-UI v4)

To make keyboard focus with the valid HTML structure, I programmed as below:

[code]

This example code is based on https://v4.mui.com/components/lists/#simple-list

[2022-01-25 03:16] DmitriyKushkulov commented on #30767
Please help me ASAP.

[2022-01-25 03:20] stoplion commented on #30765
<img width="746" alt="image" src="https://user-images.githubusercontent.com/231343/150904916-c2fd38d2-de9c-43c2-ae6c-3121681864f2.png">

[2022-01-25 04:09] loetek commented on #21250
@dnquang1996vn Did you mean to say
`const [visited, setVisited] = **setState(false)**`

instead of

`const [visited, setVisited] = **useEffect(false)**`

[2022-01-25 04:14] dnquang1996vn commented on #21250
@loetek Yeah i mean this. Thanks for checking me. I updated comment

[2022-01-25 07:38] nlafleur commented on #30760
I mentioned something above about that I tried the following:

[code]

I referenced my "theme" from my props instead of creating a theme like so:
[code]

So when I wrap the component itself it does work with color primary but when I wrap my whole App component it does not work with color primary

[2022-01-25 08:35] michaldudak commented on #30605
Exposing the props of the additional avatar would give developers even greater flexibility.
Let's add the `componentsProps` prop to the AvatarGroup:

[code]

[code]

[2022-01-25 08:51] fanismahmalat commented on #17402
This worked for me as well 🎉

My problem was an event propagation on another element that was preventing `ClickAwayListener` to catch the `onClick` event on that other element.

By using `onMouseUp` for `mouseEvent`, the other element that has nothing preventing the `onMouseUp` event, lets the `ClickAwayListener` to catch the event.

Thanks!

[2022-01-25 09:41] FjVillar commented on #29691
It happens here too. But I don't know if changing the type of the `minDate` would be the right solution. I would like to get `minDate` converted to a MomentInput or any other `AdapterInput` if I pass it a valid `string`.

[2022-01-25 10:28] nlafleur commented on #30760
I just updated the following packages:
![image](https://user-images.githubusercontent.com/40174298/150959853-577506af-3c36-446b-832d-66a4c4833e55.png)
and I can say it is not fixed unfortunately

[2022-01-25 10:31] alisasanib commented on #30676
Hi @mnajdova, I would like to work on this issue if it's possible :)

[2022-01-25 10:52] tvanrijn opened #30769 "Dragging the clock hands doesn't update the time picker value"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Dragging the clock hands of the TimePicker does not update the value in the TimePicker, only after selection it is updated.

### Expected behavior 🤔

It should update the value in the TimePicker while dragging, like it does in StaticTimePicker.

### Steps t

[2022-01-25 12:05] Karelus opened #30770 "TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using TextField component with `multiline` prop and setting `minRows` to 4. This text field is being rendered in a dialog and this error happens from time to time. I'm just wondering if it's a bug in the mui source code or am I doing something wrong in

[2022-01-25 12:18] martin-trajanovski opened #30771 "hideTabs not working properly when DateTimePicker variant is desktop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

There is prop called `hideTabs` on each and every `DateTimePicker` (https://mui.com/api/desktop-date-time-picker/#:~:text=between%20views%20button.-,hideTabs,-bool) variant but it is not working properly (not hiding tabs on the desktop variant at least) whe

[2022-01-25 12:30] #29344 closed

[2022-01-25 12:31] mickaelxd opened #30772 "--"
--

[2022-01-25 13:05] mnajdova commented on #30770
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-25 13:10] mnajdova commented on #30771
Thanks for the report. Looks like the prop is intended only for the Mobile pickers, but it is not document like that. https://github.com/mui-org/material-ui/blob/master/packages/mui-lab/src/DateTimePicker/DateTimePickerToolbar.tsx#L64

@flaviendelangle you will need to decide on this, until then I guess we can at least update the documentation to state that this is only for the Mobile picker.

[2022-01-25 13:13] mnajdova commented on #30767
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-25 13:20] mnajdova commented on #11557
The Typography now supports the system props (color included), so you can do this:

[code]

Here is a codesandbox - https://codesandbox.io/s/eager-wood-t632c?file=/src/App.tsx

Does this solves your issue?

[2022-01-25 13:55] mnajdova commented on #30752
Fair enough, I don't see why we cannot add the unicode character as a child directly. Would you like to create a PR?

[2022-01-25 14:18] eps1lon commented on #29080
Potential solution proposed in https://github.com/mui-org/material-ui/pull/30774

You can try the fix locally by adding `role="presentation"` e.g. `<Snackbar role="presentation" />`

[2022-01-25 14:43] liorsbg commented on #22068
Running into this as well. New to MUI, is there a workaround @E4 @oliviertassinari is there a workaround you could suggest?

[2022-01-25 14:49] Jack-Works commented on #30752
Cool, of course!

[2022-01-25 14:53] fzaninotto opened #30775 "Allow TablePaginationActions to hide the next button when count = -1"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

## Problem

TablePaginationActions disables the 'prev' button if the current page is 1, and the 'next' button if the current page is the last one (based on count).

When using partial pagination (i.e. displaying a list of unknown page), the doc says we should pass c

[2022-01-25 14:54] lucasbasquerotto opened #30777 "Double badge issue (2 badges wrapping the same component)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If a component is wrapped in 2 badges, when one of the badges changes, the other badge is stlyed as the first badge (even if the other badge is unrelated to the changed badge).

### Expected behavior 🤔

The othe badge (child) should not change.

### Steps t

[2022-01-25 15:06] schok-d commented on #28083
@ZeeD Were you able to find a work around or something with this issue? I am seeing similar TypeError while trying to write a simple test for Material UI Dialog using React Testing Library. I am using Material UI version 4.13.
Thank you.

[2022-01-25 15:55] jlrosenberg opened #30778 "How long will Mui V4 be supported?"
Hi, I'm not sure if this is the right place to ask - but I'm working on priorities at my company, and I'm trying to identify a timeline for upgrading Mui to v5. I see on the documentation that Mui v4 is currently getting security patches only - but I wanted to ask if you had any idea how long that would be maintained before officially hitting EOL? Is there some sort of warning when you are going t

[2022-01-25 16:17] ZeeD commented on #28083
@schok-d no, sorry.
I left the project now, but while I was on we simply abandon the idea to do these kind of tests.

[2022-01-25 18:13] povilass commented on #30666
Done you can take a look at it https://codesandbox.io/s/checkboxesgroup-material-demo-forked-reovc?file=/demo.js @hbjORbj

[2022-01-25 21:00] oliviertassinari commented on #19113
88 upvotes on this comment: https://www.reddit.com/r/reactjs/comments/sbrjxs/choosing_the_right_component_library_for_your/hu1tqmy/

We need to change something.

[2022-01-25 22:35] mogrady88 commented on #30605
yeah that sounds great! Is that a PR you have in place or would you like me to put one up with those changes on it?

[2022-01-25 22:40] oliviertassinari commented on #30778
@jlrosenberg I assume that you are asking for clarification about https://mui.com/getting-started/support/#supported-versions. So far, we have done it one major at a time. So, the "Only handle security fixes." policy (which is also about upstream regressions, e.g. Chrome adds a regression) will be until v6 is released (2023?).

We have a similar discussion in https://mui-org.notion.site/Does-it-ma

[2022-01-26 00:07] #30626 closed

[2022-01-26 00:17] saachinsiva opened #30781 "Changing child component inside Tab rerender Tabs everytime."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When the state of the component that hosts the tab changes, it re renders the entire tab component.

### Expected behavior 🤔

Tab should not rerender if the child component updates the parent state.

### Steps to reproduce 🕹

Steps:

1. https://codesandbox.

[2022-01-26 00:47] oliviertassinari commented on #30666
@povilass Do you have more supporting material on this? We aim to keep the source of the component simple. I don't think that it makes sense for us to add a prop that only 1% of the audience will use.

[2022-01-26 06:54] povilass commented on #30666
In our company, we actually discuss how we should display required field and optional field
1. Example asterisk in front
![image](https://user-images.githubusercontent.com/8037810/151115513-dd7be447-992a-497e-b8b2-f810e161416b.png)
2. Asterisk in the end
![image](https://user-images.githubusercontent.com/8037810/151115624-e2094663-4ec0-41a3-9ad4-0d4ece1c48ea.png)
3. We also considered an asterisk

[2022-01-26 08:26] #30752 closed

[2022-01-26 08:41] LiKang6688 opened #30782 "When in right-to-left direction, displayed rows in table pagination looks incorrect"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

<img width="542" alt="displayed-rows-rtl" src="https://user-images.githubusercontent.com/4471489/151129454-ba6504a6-8031-402e-b6fa-f3f355f1fdd1.png">

### Expected behavior 🤔

'of 13 5-1' in right to left direction should be
'1-5 of 13'

### Steps to reprod

[2022-01-26 08:43] mnajdova commented on #30781
You are re-creating the `TabPanel` component on each render, this is why this happens. Move the component out of the paren't component and it all works. See https://codesandbox.io/s/pedantic-fog-9bfw1?file=/src/App.tsx

[2022-01-26 08:43] #30781 closed

[2022-01-26 08:47] mnajdova commented on #30782
This is how the browser is converting this text, when `dir="rtl"` is being applied - https://codepen.io/mnajdova/pen/rNYNbbX You should use the `labelDisplayedRows` and provide the correct text that should be displayed.

[2022-01-26 08:55] LiKang6688 commented on #30782
@mnajdova Thank you for looking into it.

The example you posted shows 'of 13 1-5', I do not think it is correct.
The wired thing is that no matter where is 'of', it always shows first, Like '13 1-5 of' in RTL shows as '13 1-5 of'.

[2022-01-26 09:08] mnajdova commented on #30777
You have nested badges, so if you use a specificity selectors it won't behave as expected, as the order of which the styles are injected is different. This would work if you don't have nested badges.

In scenarios like yours, I would recommend using the `components` API and provide different `Badge` component. This way each element would have a specific class name associated with it, so the specif

[2022-01-26 09:17] mnajdova commented on #30775
We recommend using -1 for enabling server side pagination for an unknown number of items. If you know that there are no more items, you can always use the `nextIconButtonProps` and overrides the `disabled` prop yourself. Wouldn't this work?

[2022-01-26 09:18] #30760 closed

[2022-01-26 09:32] hongNianYS opened #30783 "can not render css of makestyles corretctly unless i refresh the page after update to mui 5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

can not render css of makestyles corretctly unless i refresh the page
<img width="1180" alt="now" src="https://user-images.githubusercontent.com/86586938/151133198-39343d5a-d22a-40a0-904e-5265fe5baa44.png">

### Expected behavior 🤔

<img width="1181" alt="e

[2022-01-26 09:36] hongNianYS commented on #30783
import { Button } from '@mui/material'
import React from 'react'
import makeStyles from '@mui/styles/makeStyles'
import { styled } from '@mui/material/styles'

const useStyles = makeStyles(() => ({
  button: {
    marginLeft: '8px',
    fontSize: '16px',
    display: 'inline-block',
    padding: '8px 16px',
    color: 'blue',
    width: '50vw'
  }
}))
const StyledBtTest = styled(Button)({
    marg

[2022-01-26 09:56] fzaninotto commented on #30775
Good idea, let me try this.

[2022-01-26 10:18] oliviertassinari commented on #30752
I had a bit a look at why we used the dangerous API in the first place. I could find https://github.com/mui-org/material-ui/pull/10380. I might have blindly copied a StackOverflow answer without realizing I was doing it wrong. All good.

[2022-01-26 10:33] michaldudak commented on #30605
Feel free to create one

[2022-01-26 10:38] sadiki-o opened #30784 "Material Ui with Chakra Ui !!!!!"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hey i am trying to use Material Ui inside a Chakra Ui template but nothing seems to work, i suspect it is a dependecies error, using yarn btw and here are the errors i get :

[code]

any ideas how can i make this work or fix the conflict ?

### Expected beh

[2022-01-26 10:40] oliviertassinari commented on #30784
Looks like a duplicate of #25852

[2022-01-26 10:44] sadiki-o commented on #30784
alright i will see if i can find what i want there,  thank u for ur time

[2022-01-26 11:00] Naxit commented on #22429
Prettier doesn't allow this :/
![image](https://user-images.githubusercontent.com/15122761/151151607-d5d6291e-cbce-4937-a53c-87e6a44b45bc.png)

[2022-01-26 11:01] LiKang6688 commented on #30782
<img width="123" alt="Screenshot 2022-01-26 at 12 00 33" src="https://user-images.githubusercontent.com/4471489/151151701-88037059-d09e-4a1d-888d-17c1ff8a1d3e.png">
In the Arabic language, it is correct.

[2022-01-26 11:01] #30782 closed

[2022-01-26 11:18] hbjORbj commented on #30764
Hi.

You can still import it like `import { InternalStandardProps as StandardProps } from '@mui/material';`
but please note that this is for internal use.

[2022-01-26 11:22] hbjORbj commented on #30783
Hi.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-26 11:24] #30576 closed

[2022-01-26 11:39] fzaninotto commented on #30775
Confirmed, it works, thanks!

[2022-01-26 11:39] #30775 closed

[2022-01-26 11:49] kondei commented on #29742
- styled-components@5.3.0 (not latest)
- `const withTM = require('next-transpile-modules')(['@mui/material', '@mui/lab', '@mui/system']);` in next.config.js
-   `experimental: { styledComponents: true,},` in next.config.js

seems to fix my case, but I cannot be sure.
I want it to be fixed without complex settings.

[2022-01-26 11:55] kondei commented on #29742
styled-components issue says that some SSR problems were fixed since 5.3.1.
But it seems to break some styles since 5.3.1 with MUI & next.js build.
I am confused.

https://github.com/styled-components/styled-components/issues/3482

[2022-01-26 11:59] mnajdova commented on #27933
Apologizes, I have missed this comment. @anirudh1713 you need to first focus the combobox before firing some keyboard events. Would be best if you can create a PR and we can iterate there.

[2022-01-26 12:12] lucasbasquerotto commented on #30777
@mnajdova Thanks! the components API did the trick (I didn't know about it before).

In that case, the Badge component is defined as in the property, so there's no need to define them separately (the wrapper can be the same, just changing the Badge component in the property). For example, in the demo, I can change:

[code]

to:

[code]

I will close the issue now.

[2022-01-26 12:12] #30777 closed

[2022-01-26 12:54] Tiberriver256 commented on #30764
Thank you

[2022-01-26 13:35] dimitropoulos opened #30789 "[AvatarGroup] Add a prop for configuring the overlap"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Here's a mockup from [the PR](https://github.com/mui-org/material-ui/pull/30619):

<img width="50%" src="https://user-images.githubusercontent.com/15232461/149547993-faff9c0e-ddd8-4a17-82bf-17c9402dd661.png" />

There should be some way to specify which direction th

[2022-01-26 13:38] michaldudak commented on #28886
@danielh186 I'm investigating this.

Select does not allow specifying custom variants. It's because different built-in variants are actually implemented as separate components.

[2022-01-26 13:48] chriszrc commented on #12034
Isn't this all solved now with `disableReactTree={true}`? Wrapping the select with that option and checking for body is working for me-

[2022-01-26 13:50] jlrosenberg commented on #30778
Yes, that is the question I was asking, I am sorry if I wasn't super clear, I should have linked the supported-versions doc that you linked! I think it would be a great idea to add that to the docs, I am sure a lot of developers who work in a corporate environment like me and depend on material also need this information so they can coordinate this upgrade with management in a timely manner 😄

Jus

[2022-01-26 14:38] #30764 closed

[2022-01-26 14:57] #29385 closed

[2022-01-26 15:12] mnajdova commented on #30789
In my opinion, I would wait for upvotes 👍. This is something that can be implemented in userland with theme overrides with just few lines of code. So far, we didn't have request for this, so I am not sure if many developers would benefit from this.

[2022-01-26 15:58] dimitropoulos commented on #30789
@mnajdova As far as my testing shows, this is not possible to implement in userland.  I tried to do that at first and hit a blocking problem.  The issue is that the current implementation uses `flexDirection: 'row-reverse'` with a dom structure like this:
[code]

That is to say, in the DOM, the total one comes *first* even though in the end it shows up last (because we reverse the flow direction).

[2022-01-26 16:10] shoaib9121 commented on #16810
I faced similar error saying **Cannot read property 'pulsate' of null**. And the culprit was button wrapper code as below

[code]

So, I removed withStyles approach and created custom react component as wrapper on top of Button component from MUI.

**Dependencies**

- "@material-ui/core": "^4.11.3"
- "@testing-library/react": "^11.2.2"
- "react": "^17.0.1"

[2022-01-26 17:27] dryrainbow commented on #30758
I'm going to fix it

[2022-01-26 17:51] asjustis opened #30792 "[TextareaAutosize] Inheriting full styling of TextField"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently, I am using `TextField` with the `multiline` option, but I want to make it resizable, as in `TextareaAutosize`. Unfortunately, when I switch to it, none of the stylings are applied (selected, unselected, input text, and all other stylings). Being on a tigh

[2022-01-26 17:51] enoh-barbu commented on #19113
I understand that this is quite a nasty problem which was not solved since 2019, but I also undestand that it's not a simple issue to fix. In my opinion MUI still rocks, compared to Chakra. So yeah, we need to be patient

[2022-01-26 18:24] marr opened #30793 "[Autocomplete] renderTags does not take limitTags prop into consideration"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When specifying a `renderTags` prop, I receive _all_ the values, instead of only the number that I specify in `limitTags`.

### Expected behavior 🤔

`renderTags` function prop should only receive the first _n_ values as its first argument, where _n_ is the

[2022-01-26 18:39] dryrainbow commented on #30758
I don't know how to link a pull request with an issue, but I fix it
https://github.com/mui-org/material-ui/pull/30795

[2022-01-26 18:59] emorevival opened #30796 "Using a custom input for the time picker"
Hi, I want to use the MUI time picker but with my own input (a basic HTML input element styled with Tailwind). Is this possible? I've been trying to find an answer/example but haven't been able to.

[2022-01-26 20:57] joserodolfofreitas commented on #30778
You understood it correctly, @jlrosenberg!

I've reopened the LTS discussion, now as a GitHub issue. So if you think the current LTS policy should be improved, please share your thoughts at: https://github.com/mui-org/material-ui-x/issues/3753

[2022-01-26 22:37] fonty422 opened #30797 "Allow minimized width on accordion"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It would be useful to allow an `Accordion` component to take on a dynamic width based on the size of the `AccordionSummary` content

### Examples 🌈

_No response_

### Motivation 🔦

The hope is to have a boolean option that makes the width only as wide as it needs t

[2022-01-26 23:19] socramm9 commented on #30796
There is a example for that in the DateTime Picker documentation
[https://mui.com/components/date-picker/](https://mui.com/components/date-picker/)

You should be able to do the save for the time Picker
![49CC5A5F-D3E9-4D0D-9284-B03983566E40](https://user-images.githubusercontent.com/52098754/151263334-359c3a9a-4956-4ec0-8256-1641656c5a5e.jpeg)

[2022-01-26 23:21] rclarkem-fubotv commented on #22429
That sounds more like an ES Lint issue more so than a Prettier problem. Especially when I see `no-prototype-builtins`

[2022-01-27 00:01] emorevival commented on #30796
Thanks, that seems to work. Is there a way to make it so that the picker is opened when the input is focused instead of having an icon trigger it? Interestingly enough, it's not present in your screenshot (the way I want it) while it is on my side
![image](https://user-images.githubusercontent.com/32765662/151267075-a312a3d6-daf8-405f-a19a-66f3bbd4880b.png)

[2022-01-27 00:05] #30688 closed

[2022-01-27 00:05] #30683 closed

[2022-01-27 00:05] #30045 closed

[2022-01-27 02:39] abrahamjsb commented on #20534
Remove material-ui from dependencies in the package.json of the component library, if you're using rollup add material ui libraries in external property. Compile again, link your library to the project you want to test and done. Bad thing, if you're using storybook you will need material-ui libraries in the library.

[2022-01-27 02:44] josueetcom opened #30799 "[AppBar] Rendering with variant "outlined" in Jest throws "Warning: Failed %s type: %s%s""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I render a component that uses `AppBar` and the `AppBar` specifies the `variant` as `"outlined"` my Jest tests fail with this error:
[code]

This cryptic error I've learned to associate with PropType issues but there are no PropType issues here.

This

[2022-01-27 03:16] TpTTT-T opened #30800 "[core] Do not generate utility classes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Without default MUI class.

I want no show any class that contain default class like  `class="Typography-root Container-root Container-maxWidthLg"`  in the DOM.

I am prefer it all like random class.  `css-1ujsas3  css-f156aff css-fdfdv54`

### Examples 🌈

`<div cla

[2022-01-27 03:32] hongNianYS opened #30801 "somthing error with update mui5 tool"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

when i run npx @mui/codemod v5.0.0/jss-to-style gived by your team tool to update jss to styled, something errro with the keyframe。
here is my code
https://codesandbox.io/s/mui-v5-styled-w-css-keyframes-forked-xecl1?file=/index.js:0-1057

### Expected behav

[2022-01-27 05:23] hongNianYS opened #30802 "css in withStyles can not be applied"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

the button color should be red (defined in witheStyles)
but not in fact.
Code: https://codesandbox.io/s/dreamy-cray-m28gx?file=/index.js

At the same time when i try to update jss to styled use  npx @mui/codemod v5.0.0/jss-to-styled *** script ， the style i

[2022-01-27 06:08] socramm9 commented on #30796
You could just use the mobile picker always.
<img width="2559" alt="Bildschirmfoto 2022-01-27 um 07 00 31" src="https://user-images.githubusercontent.com/52098754/151300891-1f1b9af8-ef5f-4f32-80e3-c02deec21215.png">

The issue with that is that you probably want the PopOver version and not the Dialog version right?
I am not sure how to archive that. Maybe someone from the MUI team has an idea...?

[2022-01-27 06:55] perqin commented on #30750
I also encounter this issue, and I'm using Microsoft Edge 97.0.1072.69 on Windows 11.

[2022-01-27 07:07] temurih commented on #30693
@mnajdova I am not sure if you realized that you linked back to this exact issue!

[2022-01-27 07:07] temurih commented on #30693
I am not sure if you realized that you linked back to this exact issue!

[2022-01-27 08:04] mnajdova commented on #30801
@siriwatknp do we support keyframes in the logic for the codemod for transforming jss to styled? I don't think we do.

[2022-01-27 08:06] mnajdova commented on #30800
@TpTTT-T what is the reason for this? We discussed this briefly with @michaldudak too, but I am curious to know why do you think this will be an improvement.

[2022-01-27 08:07] emorevival commented on #30796
I've been struggling with this for so long that I can actually get by with just the mobile version with the modal. Thank you very much! I think this can be closed.

[2022-01-27 08:07] #30796 closed

[2022-01-27 08:08] jonbnewman commented on #15695
@enrique-ramirez were you able to identify a solution to this issue? This is a major problem for me as I need to pass props into styled components.

[2022-01-27 08:14] mnajdova commented on #30802
The codesandboxes do not compile, looks like you have missing dependencies. Is this the output of the codemod? How does the original file looks like. If I need to guess, you don't have the `StyledEngineProvider` with `injectFirst` at the top of your application. Something like this - https://codesandbox.io/s/kind-christian-m9sgt?file=/index.js See https://mui.com/guides/migration-v4/#style-library

[2022-01-27 08:25] mnajdova commented on #30797
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

----------

Would be great if you can link examp

[2022-01-27 08:33] akomm commented on #23164
Use case for disable onClickFocus: you have freeSolo mode and user wants to type a new value, in a form the popup does cover the form inputs beneath and so the user has to click-away the popup

[2022-01-27 08:34] ZeeshanTamboli commented on #26440
I can think of the following approaches:

1. We could have a `renderTag` or `renderSingleValue` API prop for this.
2. We can have a `components` prop with `SingleValue` slot like what `react-select` does in https://codesandbox.io/s/s0yc5?module=/example.tsx&file=/example.tsx.

We should also update the API docs for `renderTags` that it works only when `multiple` is `true`.

@oliviertassinari @mich

[2022-01-27 08:39] mnajdova commented on #30693
If you would have thought, you would have realize that it was a mistake. No need for arrogancy tough, right? Duplicate of https://github.com/mui-org/material-ui/issues/24282

Try the solutions provided there and if something is still wrong, respond there so that other people coming with the same issue will have all the context in one place.

[2022-01-27 08:40] jp3492 commented on #13594
Setting css with !important will not prevent MUI to overried the body styles. Its quite frustrating because it also doesnt take the styles back out once the Dialog is closed. I dont understand such design choices. Is there any way to disbale this?

[2022-01-27 09:04] mnajdova commented on #30789
Ah, thanks for pointing out I haven't noticed that the rendered children are changed too. Alright, I am adding the waiting for 👍 label.

[2022-01-27 09:49] dryrainbow commented on #30718
I want to fix it
I can just hide the date format placeholder and show it when the focus is on the input

[2022-01-27 10:15] doberkofler commented on #30718
Sounds good to me

[2022-01-27 10:25] tech-meppem opened #30805 "[SwipeableDrawer] Buttons and other interactable components prevent opening a Swipeable edge drawer."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On mobile, when there is a button, slider, checbox etc... as part of the swipeable drawer edge ([Demo](https://mui.com/components/drawers/#swipeable-edge)), you cannot click on them, due to them inheriting the `pointer-events: none` style.

Forcefully overr

[2022-01-27 10:40] hongNianYS commented on #30802
OK, thank you very much for your time.
 but in fact , my root file of project (_app.js) have  been auto add the StyleEngineProvider with injectFirst  by the codemod.
Do i have to change all the makeStyles to emotion before update to mui5?
(my page now can't render correct css in makeStyles before you you refresh the page in local now)

[2022-01-27 10:42] hongNianYS commented on #30801
OK ...
so, how do i ues keyframe in mui 5, i have searched some topics, but not work

[2022-01-27 12:18] siriwatknp commented on #30801
Yes, the Codemod does not transform the keyframes at this point.

[2022-01-27 12:20] siriwatknp commented on #30801
Good point, I think we need to add doc about how to use keyframe also.

[2022-01-27 13:34] michaldudak opened #30806 "[docs] Adjust Base demos for dark mode"
As pointed out in https://github.com/mui-org/material-ui/pull/30113#issuecomment-1022065954, some of the unstyled demos don't look right under dark mode. This issue is meant to track work related to updating all the unstyled demos so they look great in both light and dark modes.

[2022-01-27 13:51] bsides commented on #18494
I agree. Same thing here. I have a list, it doesn't render until I have the options but I'm still getting the warning. It's mostly annoying in tests since I render the component in 8 tests and now I have 8 warnings that are NOT doing anything to help, just throwing verbosity.

[2022-01-27 13:58] DavidHenri008 opened #30807 "[Badge] showZero and invisible confusion"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The Badge showZero property is tightly coupled with the invisible property. It is stated that the invisible property is a boolean but in order to use the showZero property, the invisible property must be null.
Either documentation may be improved on the inv

[2022-01-27 14:14] SuchMonkey commented on #19552
Setting default props for the `Portal` via the theme would indeed be very helpful. Alternatively a `PortalRootProvider` component could also work. Similar to the `CacheProvider` component where we can specify the insertion point for generated css.

[2022-01-27 14:14] kaushalyap commented on #27170
@michaldudak while the following components  are ignored but I think having built in components for those is valuable when looking from the accessibility perspective

[2022-01-27 14:20] hbjORbj commented on #30807
Hi.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-01-27 14:25] DavidHenri008 commented on #30807
I added a CodeSandbox in the step to reproduce. Thanks.

[2022-01-27 14:49] dwanderton commented on #29564
+1 for the non-essential improvement

`<Typography color="error" /> ` works without .main also. A default to .main may be desirable for `info`, `warning`, `success`, `error`. The expectation may come from the implementation of colors from the Bootstrap framework.

[2022-01-27 15:18] hbjORbj commented on #30807
This does not mean you should pass `invisible={null}`. You simply don't need to pass `invisible` prop.

- When `invisible` is `true`, badge component is hidden even if `showZero` is true, and this is a pretty straightforward behaviour. I think it is very rare that developers will set both `showZero` and `invisible` to `true` and expect the component to be displayed when count is 0.

[2022-01-27 15:31] DavidHenri008 commented on #30807
I understand the behavior, but passing false to invisible should be a valid value since it is a boolean and showZero should work with invosoble=false.

[2022-01-27 15:32] DavidHenri008 commented on #30807
Also, a not defined property should fallback to the default value so if I do not provide the invisible property, it should be true, false or undefined by default.

[2022-01-27 16:01] hbjORbj commented on #30807
I see your point.

Yes, I think the following should not show zero.
` ``jsx
<Badge
          color="secondary"
          badgeContent={0}
          showZero={false}
          invisible={false} />
[code]

[2022-01-27 17:32] dryrainbow commented on #30718
@doberkofler I've discovered that this problem was described in the documentation
https://mui.com/components/text-fields/#shrink
Can it help you for a while?

[2022-01-27 18:27] Miaouchkinz commented on #27162
Hi @mnajdova ,

The fix done in https://github.com/mui-org/material-ui/pull/27376 doesn't seem to work with:
[code]

The tests were done on `module '@material-ui/core/Button' `

[2022-01-27 18:41] dryrainbow commented on #30718
I need help. @mnajdova
We cannot detect the existence of a default placeholder.
We only can detect it by type. So, I see two ways to close this problem, but you can see more.
The first one is ignoring this problem. The second one is hardcoding all of the types which has a default placeholder.
What is the best solution?

[2022-01-27 18:57] markedwards opened #30810 "Importing NotchedOutline causes SyntaxError: Cannot use import statement outside a module"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I need to build a custom form field which I want to look like the standard fields (TextField, for instance).  I'm attempting something along these lines:
[code]
This results in `SyntaxError: Cannot use import statement outside a module` when doing a next bu

[2022-01-27 20:38] biem97 opened #30811 "Unnecessary rerender with StepContent"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm trying to combine the Vertical Stepper Component with the components that I already had. Something weird happens that whenever I go to the next step, the component inside the `<StepContent>` render twice and it's not happening with the first time the co

[2022-01-27 20:43] errajeevranjan commented on #21015
Sir, but that does not seem to be working. https://codesandbox.io/s/fullwidthtabs-material-demo-forked-pfh78

[2022-01-27 21:19] bsell93 commented on #19922
The codebase I'm working on was having issues with using the recommended way in the MUI docs. Ended up using the above suggested method with `NumberFormat` and `customInput={TextField}` prop and that fixed the issues we were having.

Unfortunately we were not able to reproduce the issue in a codesandbox with our setup, so hard saying what it was about the MUI-suggested way but something was defini

[2022-01-27 21:32] prokkyb commented on #25577
I am also seeing this behavior when changing the DatePicker values for month or day using a keyboard in a browser. Exceeding the maxDate I set does properly trigger onError, but setting an invalid month or day does not.
![image](https://user-images.githubusercontent.com/23406565/151447052-345a8921-e77e-4c15-868b-a5bfddfb53c9.png)

[2022-01-27 22:13] Hubbz opened #30812 "[Grid] `wrap='wrap-reverse'` is not applying"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using the `wrap` prop and setting the value to `wrap-reverse` as defined in the [Grid API documentation](https://mui.com/api/grid/#props), the correct styling does not get applied. The `flex-wrap` CSS remains `wrap`.

![grid-wrap-issue](https://user-im

[2022-01-27 22:30] max-content commented on #30760
is there an update on this issue? I'm struggling with creating a working createTheme object for my app. Sometimes I can add what I'd like in the sx of the components but I'd rather use the theming instead of constantly overriding the defaults at that level.

[2022-01-27 22:51] max-content opened #30814 "Typography is defaulting irregularly to serif fonts without changes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Instead of accessing MUI defaults everything is showing up as serif unless adjusted in the component sx prop.
![MUITypographyIssue](https://user-images.githubusercontent.com/75455870/151455132-60ba4daf-daa3-4096-9b5c-e5394d013c81.png)
![MUICreateTheme](http

[2022-01-27 23:45] fonty422 commented on #30797
[This sandbox ](https://codesandbox.io/s/usage-forked-19sso?file=/index.js) should show the basic set up - an accordion with a small amount of text in the summary and the expand icon very far away from the summary text such that it appears detached and unrelated to the text. I can manually set the width of the accordion to some static value to make the expandIcon closer to the text, but it doesn't

[2022-01-28 00:06] max-content commented on #30814
Ignore me! I figured it out. I wasn't using the Topography tag correctly.

[2022-01-28 00:19] slayybelle opened #30815 "[Autocomplete] a11y issues: popup/clear buttons not keyboard accessible"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

from demo example: https://mui.com/components/autocomplete/#combo-box

1. Using keyboard, tab into the input section and type 'The' and then down-arrow, enter (should select The Shawshank Redemption).
2. Input text says "The Shawshank Redemption" and cursor

[2022-01-28 04:47] jashacharya commented on #2653
i have tried with
`<TextField
autoComplete="chrome-off"
/>`
because of the hyphen it must be creating a diffrent string.
and it works ,and basically it requires a unique string.

[2022-01-28 05:16] dmvvilela opened #30816 "[docs] Can't put page in English"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Page appears in portuguese.. When i click on configuration -> English.. It goes back to being portuguese.

### Expected behavior 🤔

It should remain English cause that's the language that I wanna use.

### Steps to reproduce 🕹

Steps:

1. Go to a auto selec

[2022-01-28 05:44] hbjORbj commented on #30812
Hi. Thanks for the report.

I left a comment in your PR.

[2022-01-28 08:20] markedwards commented on #30038
What information is missing here?  The bug is clear, and has been corroborated by multiple people.

[2022-01-28 08:29] TpTTT-T commented on #30800
The Real DOM element that use MUI component className is too long.
Random css is prettier than default long classname.

I prefer to use random css in real website, default className in developer

[2022-01-28 08:35] michaldudak commented on #27170
@kaushalyap Thanks for the feedback. Once we create the components from the "included" list, we'll consider the others based on the community requests.

[2022-01-28 09:28] JeffinJ commented on #16942
It would be great what solves this and why this was happening in the first place. thanks

[2022-01-28 09:57] mnajdova commented on #30816
Hmm, I cannot reproduce. Can you maybe trying clearing your cache/cookies? Are you accessing the latest v5 docs: https://mui.com?

[2022-01-28 10:58] alisasanib commented on #30665
I would like to work on this issue. I think it is a good idea to include other types for the color such as `success`, `error`, `warning` etc. for the Fab component, exactly like the `Button` component.

[2022-01-28 11:21] susorovpp commented on #27703
There is the same problem with `Menu` component when I try to pass custom component inside `PaperProps`

[2022-01-28 12:36] nlafleur commented on #30760
Yes in the end I managed to fix it by following the "migrating from v4 to v5 MUI guide" (https://mui.com/guides/migration-v4/)
you could use this command npx @mui/codemod v5.0.0/preset-safe <path> but this is what my index.js looks like in the end:

import React, { Suspense } from "react"
import { render } from "react-dom"
import { createTheme, StyledEngineProvider, ThemeProvider } from "@mui/mate

[2022-01-28 12:43] #21022 closed

[2022-01-28 12:43] #30251 closed

[2022-01-28 13:10] kaushalyap commented on #27170
@michaldudak Any ETA for listed unstyled components?

[2022-01-28 14:15] vmajsuk opened #30817 "Inconsistent types between @mui/styled-engine and @mui/styled-engine-sc: type 'GlobalStylesProps' is not generic."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When compiling project using ts with `@mui/material:5.3.0`, `@mui/styled-engine-sc:5.3.0` and `skipLibCheck: false`, I get the following error:

`node_modules/@mui/material/GlobalStyles/GlobalStyles.d.ts(8,11): error TS2315: Type 'GlobalStylesProps' is not

[2022-01-28 14:42] RunRanger opened #30818 "[DataGrid] ID selection error on replacing rows"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have several records that are fed into the DataGrid table as rows depending on the set selection.

If one or more rows were selected in the DataGrid table and then the data of the rows was replaced by completely new set of data with new ids, the error mes

[2022-01-28 14:46] dmvvilela commented on #30816
Yep, keeps me redirecting to portuguese. I can only change theme.

[2022-01-28 16:02] jcdesousa opened #30820 "[MUI Base] Class name configuration"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I was looking for the ability of changing the global state class names. Given that I'm using the unstyled components `@mui/base`, would make sense to have my own names.

They seem hardcoded:
https://github.com/mui/material-ui/blob/353cecb5391571163eb6bd8cbf36d2dd299

[2022-01-28 16:26] mauroc8 commented on #11921
I'm surprised noone posted this solution, that seems simpler

[code]

[2022-01-28 17:03] reyiv commented on #20471
Is this issue fixed?  It is marked Closed but it still exists. I'm using mui/material 5.2.6  with React 17.0.2 .  In my case,  I'm needing to save the button state in the parent when the component is unmounted and supply the initial state when user navigates back to the component.  It only works if the object value is JSON stringified (note the JSON.stringify is the value attribute of ToggleButton

[2022-01-28 17:06] leosdad opened #30821 "[Tooltip] should close when element is not hovered anymore"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After a tooltip is shown, moving the mouse cursor over the tooltip keeps it open indefinitely. It is hidden only when the mouse cursor is moved outside it.

![msedge_2022-01-28_12-39-44](https://user-images.githubusercontent.com/7026091/151576376-4990c5ba-0

[2022-01-28 17:38] reyiv opened #30822 "ToggleButtonGroup Still does not keep track of selected item, when value is an object"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

This issue has been reported before and was marked as Closed, but it still exists.   The OP is  https://github.com/mui-org/material-ui/issues/20471

When using state that is an object (not a string or number), ToggleButtonGroup does not track the selected i

[2022-01-28 17:49] mattyb opened #30824 "DataGrid Server-side Pagination: Support unknown rowCount"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

In many modern pagination schemes, the total count of pages or items is not provided by the server. For a prominent example, the [Facebook Graph API](https://developers.facebook.com/docs/graph-api/results) provides several cursor-based pagination methods, none of wh

[2022-01-28 17:51] DavidGermanLabandera commented on #16181
gracias me sirvio de ayuda

[2022-01-28 19:34] WilliamZimmermann commented on #21211
I could improve the Select All option getting off the "Select All" checkbox from the options list and putting it on the PopperComponent option. It's more clean. However, I got some problems and I would like a help to solve it and have a full functional component:
1. When I scroll down and select (let's say) the last option on the list, the scroll up to the top;
2. Let's suppose we "Select All". Al

[2022-01-28 19:44] RemyMachado opened #30825 "[Container] - property `disableGutters` doesn't work if theme `styleOverrides` have been applied"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When the `Container` padding style is overridden, the `disableGutters` property stops working.

### Expected behavior 🤔

The `disableGutters` property should work even with the style override.

### Steps to reproduce 🕹

If the container style have been over

[2022-01-28 21:19] danilo-leal commented on #30665
It makes total sense to me! However, wouldn't this be a breaking change? 🤔

[2022-01-28 22:19] doiali commented on #26492
To solve the problem, I suggest adding a `getOptionKey` prop as mentioned in https://github.com/mui-org/material-ui/issues/29225#issue-1033735721 with a default value as you recommended in https://github.com/mui-org/material-ui/issues/24198#issuecomment-752797748

@akomm thank you for relating these two issues.

I have a same use case as https://github.com/mui-org/material-ui/issues/26492#issuecom

[2022-01-28 22:31] ianschmitz opened #30826 "[Transitions] Some components don't use transition durations from theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Quite a few components don't reference the transition durations as defined in the theme, but instead reference the hard coded values as defined in [`createTransitions.js`](https://github.com/mui-org/material-ui/blob/ec5df5f94f472628103eb1cfbecccc6afc2658bd/

[2022-01-29 00:05] #30699 closed

[2022-01-29 00:32] zastrich commented on #23677
Beautiful hack, i implement another step to showing weekdays without UPPERCASE, much more elegant.

[code]

[See snippet here](https://codesandbox.io/s/sharp-breeze-c30k0?file=/src/CustomDateAdapter.js)

[2022-01-29 02:03] temurih commented on #30693
@mnajdova there is something called proof-reading and double-checking your work, maybe try it next time, instead of being too eager to close an issue so that no one else cannot see or respond. I hope that helps!

[2022-01-29 04:33] inf3rnus commented on #24109
FYI if anyone else runs into an issue with styling, injection order got messed up by my import of `import ToggleIcon from "material-ui-toggle-icon";`

So, peer dep issue, it uses MUI v4 (at a maximum).

I do not know the exact reason why this occurs, but my theory w/ very little knowledge of CSS engines is that the loading of its module may perform some side effect as the import chain is traversed

[2022-01-29 05:31] rdanielmurphy commented on #30726
This might be the rule here:
https://github.com/mui-org/material-ui/blob/becb199bd3c32471fb26a9ac6dc2d7d0b1a4d3ac/packages/mui-lab/src/DatePicker/shared.ts#L72

This is preventing me from upgrading from v4.  Why is this mask not allowed?

[2022-01-29 10:40] alisasanib commented on #30665
I don't think it would be a breaking change. To achieve this, we need to change some conditions to include other values for the color prop only in the Fab component. Changes will not be significant and they'll not affect other components

[2022-01-29 10:59] danielo515 commented on #11908
I'm having this same issue when wrapping each item on a list with slide component. The child is not null, what can be the problem?

[2022-01-29 11:19] ramdaniAli commented on #5995
is there a way to make dots in middle of stepper ?
![image](https://user-images.githubusercontent.com/33391424/151658953-f50fde91-eee4-4706-a889-cd33d67ceabc.png)
like this breadcrumb example

[2022-01-29 11:23] danielo515 commented on #11908
Ok, the problem is that TransitionGroup requires to forward refs, and many of my components do not forward refs. This should be clearly documented on the API, since it can break things quite easily

[2022-01-29 12:06] rafasilveira commented on #30816
Same issue here on Chrome.

Check video below (issue starts at 7s, cache cleared at 30s).

https://user-images.githubusercontent.com/64478636/151660373-60aa3f45-c82c-4ae8-80a2-425d27c1ef2a.mp4

[2022-01-29 13:52] aress31 opened #30830 "[docs] Make the Dark Mode guide more comprehensive"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The documentation on how to implement a dark mode is divided into two sections and IMHO is lacking some key aspects.

These two sections are:
1. Dark mode switch
2. Browser preferences

For completion sake, I would like a third section added on how to use browser pr

[2022-01-29 16:42] Ritchid commented on #16181
As an add-up, you can go with the array rendering format in React

`<Menu
          open={menuOpen}
          anchorEl={menuAnchorRef && menuAnchorRef.current}
          onClose={handleClose}

          {menuItems.map((item, i) => (
            [
              {i !== 0 && <Divider />},
              <MenuItem onClick={item.onClick}>{item.label}</MenuItem>
          ))}
        </Menu>`

[2022-01-29 18:28] danielo515 opened #30832 "[ListItem] type error is thrown when passing `component` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

ListItemProps does not include the `component` prop on the type definition.

### Expected behavior 🤔

I wanted it to be present to avoid a false type error

### Steps to reproduce 🕹

Just try to provide the `component` prop to a ListItem component

### Cont

[2022-01-29 21:52] spiderhands commented on #30011
@mnajdova I've slightly changed your demo, please take a look. When you'll get to 5 there should be a generated class to hide the Badge (like this **.css-fvc8ir-RCWBBadge-badge.RCWBBadge-invisible**), but there isn't (there is such class though **.css-fvc8ir-MuiBadge-badge.MuiBadge-invisible**).

https://codesandbox.io/s/mui-class-generator-forked-kd9dw?file=/src/Demo.tsx

[2022-01-29 22:48] KarineLiuti opened #30833 "[mui.com][Language Selection Issue] Problem to read documentation in English"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Language selection issue

When I try to read documentation on website, even if I try to read it in English, I can't.
I'm using it from Brazil, I have tried a lot of times to read in English and I couldn't.

https://user-images.githubusercontent.com/17365121

[2022-01-30 06:23] agauravdev commented on #30412
@mhespenh a quick question. 😅
What would be the type in this situation which I can provide to typescript?
![image](https://user-images.githubusercontent.com/29211890/151689129-a2111067-a8cf-4942-aa7d-4063f11cfa8e.png)

[2022-01-30 15:45] faebeee opened #30844 "[DateRangePicker] Calendarview does not toggle on multiple input clicks"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Desktop

Currently when I click into the inputfield, the calendarview appears. When I click again, it hides. When I click it a third time, no calendarview appears

### Expected behavior 🤔

When I click a third time into the input field, the calendarview sho

[2022-01-30 15:53] nb312 commented on #12369
So nice man.

[2022-01-30 17:17] sydorT commented on #15708
How to remove gutter with media?

[2022-01-30 17:17] EloB opened #30845 "[Paper] shadows are always on top siblings"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://codesandbox.io/s/relaxed-wu-8l5md?file=/src/index.js

### Expected behavior 🤔

https://jsfiddle.net/nhxg29v6/69/

### Steps to reproduce 🕹

I've provided sandboxes showing the issue.

### Context 🔦

Right now you have shadows on top of siblings. It

[2022-01-30 17:52] alisasanib commented on #30807
@hbjORbj May I work on this issue? I think I've fixed the issue and I'm working on the tests.

[2022-01-30 21:12] RobertAron commented on #30261
emotion got this sorted out so I'm closing this

[2022-01-30 21:12] #30261 closed

[2022-01-31 00:20] olee opened #30847 "[Select] Label not shrinking with value defined"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using `FormControl` with `Select` to render a standard dropdown which worked fine all the time and also posed no issues in development (with gatsby) like this:
[code]
I'm actually using multiple selects which use the same type of code throughout the pag

[2022-01-31 01:41] ninadfaterpekar opened #30848 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui-org/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=linked
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|--------------|----

[2022-01-31 07:51] akgupta0777 commented on #17353
I encountered this issue due to this my react app got frozen and scrolls got disabled from page.

[2022-01-31 08:00] amalcltpba opened #30850 "[Autocomplete] Grouped Label Styling does not seem to work"
Grouped Label Styling does not seem to work.
Unable to change the BACKGROUND Colour for the Group by LABELS

Ref URL - https://material-ui.com/components/autocomplete/#grouped

[2022-01-31 08:54] SayarB commented on #30816
I also cannot reproduce the issue

[2022-01-31 09:02] SayarB commented on #30771
can i take up the issue and make changes in the docs.

[2022-01-31 09:34] agauravdev opened #30851 "[typescript] Missing TypeText export from @mui/material/styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When we try to Augment TypeText using.

[code]

![image](https://user-images.githubusercontent.com/29211890/151769596-275c8d47-f4fc-4d40-8cbf-afdd3b448e77.png)

### Expected behavior 🤔

It should accept the new keys in TypeText. It

I think it could be solv

[2022-01-31 10:40] #30812 closed

[2022-01-31 10:42] hbjORbj commented on #30807
@alisasanib Of course. Please go ahead and request a review from me!

[2022-01-31 11:17] mnajdova commented on #30810
The `NothcedOutline` is an internal component, it is not intended to be used externally. To me it looks like you are trying to build customized OutlinedInput.

[2022-01-31 12:06] danilo-leal commented on #30833
Hey @KarineLiuti, this is a duplicate of #30816. I'm closing this one so we can centralize the discussion there.

[2022-01-31 12:06] #30833 closed

[2022-01-31 12:07] hbjORbj commented on #30821
@leosdad Thanks for the report.

If you pass `true` to `disableInteractive` prop of `Tooltip`, you can achieve the behaviour (Tooltip disappearing as soon as hovering stops).

Check out this [codesandbox](https://codesandbox.io/s/basictooltip-material-demo-forked-401fg).

Maybe we should consider setting this prop to `true` by default. What do you think?

cc @mnajdova @oliviertassinari @danilo-lea

[2022-01-31 12:08] danilo-leal commented on #30848
Hey, it seems you're using an old version of the docs. We're currently at 5.3.1, so if you could try to refresh or clear your cache memory so you're on the latest one, that would be great and would probably solve the problem. Closing this one.

[2022-01-31 12:08] #30848 closed

[2022-01-31 12:09] danilo-leal commented on #30816
@rafasilveira Thanks for the video! I'm still not being able to reproduce it, though. Did you try in other browsers, just in case?

[2022-01-31 12:12] danilo-leal commented on #30830
Hey @aress31, thanks for opening the issue, totally agree with you! Do you want to open a PR with the improvements you're proposing? We'd be happy to review it :)

[2022-01-31 12:13] hbjORbj commented on #30832
Hi.

I can confirm that passing `component` prop to `ListItem` doesn't throw any error. Check out this [codesandbox](https://codesandbox.io/s/alignitemslist-material-demo-forked-2vgy2).

Please provide a codesandbox that directly shows the issue you are having.

[2022-01-31 12:17] oliviertassinari commented on #30821
See #22382

[2022-01-31 12:17] nuarhu commented on #13347
@aldabil21

Thanks for your sample code. This helped me halfway. Now, the hover border is the intended color but the hover effect is also applied on disabled inputs. How is it for you?

@oliviertassinari
I tried adding `:not($disabled):not($focused):not($error) $notchedOutline` but this has no effect (the directive is ignored, the hover border is the default color and no hover on disabled).

[code

[2022-01-31 12:20] markedwards commented on #30810
Yes, I was able in the end to get this working correctly by implementing a custom `inputComponent` and passing that to `TextField`.  Good to have confirmation that `NotchedOutline` is not intended to be imported externally though, thanks for the response.

[2022-01-31 12:20] #30810 closed

[2022-01-31 12:25] #30230 closed

[2022-01-31 12:35] oliviertassinari commented on #30821
I would propose we rename the title to be more accurate "[Tooltip] Change disableInteractive default value", close it, and add the "waiting for upvotes" label. It's a breaking change, we could consider it for v6. I was personally not so convinced when Sebastian did the change, but I don't think that we have enough evidence that the current behavior is wrong. The author of the issue used the reason

[2022-01-31 12:41] aress31 commented on #30830
@danilo-leal would love too, but I don't think that my solution would follow the best code practices nor be optimised as I am not a career dev (more of a hobbyist).

Dark Mode is a big thematic of Material UI and adding some more real-life use cases (e.g. preferred theme + theme switch all together) would help many people (including myself).

[2022-01-31 12:43] mnajdova commented on #30826
Agree, thanks for the report. The default values should be picked up from the theme. Will create a PR soon for this.

[2022-01-31 12:45] #30758 closed

[2022-01-31 12:50] siriwatknp commented on #19113
@amcasey @michaldudak I would like to help identify the bottleneck so that we can see what options we have to improve the performance. I am pretty new to profiling the typescript performance (not even sure I use the right word), so can you guide the way, tool to be used to find the bottleneck? Thanks.

[2022-01-31 12:59] KarineLiuti commented on #30816
@danilo-leal I just tried to reproduce it on Mozilla Firefox. It worked as expected. Thank you for that suggestion!
Just on Chrome this error is happening.
So I checked My Chrome's language and it has had in Portuguese. When I changed it to English, I could see the page in English as expected. For some reason, when we use Chrome in Portuguese, we have this problem.
He's my updated language setting

[2022-01-31 13:07] aldabil21 commented on #13347
@nuarhu

There are a probably thousands of possibilities of how you can override styles and it's impossible to document them. It's easier to focus on what classes `Mui` uses, it has a pattern, like in this case, you target ths `Mui-disabled` class.

Try this:

[code]

[2022-01-31 13:24] nuarhu commented on #13347
@aldabil21
Thank you for your example. It just took me a while to find out that `.Mui-disabled` was what I needed, and that `not(.Mui-disabled)` won't work.

My solution - in case it could help someone:

[code]

[2022-01-31 13:41] alainib commented on #28542
i still get this error. how to solve it please ?

[2022-01-31 13:42] aldabil21 commented on #13347
@nuarhu

You welcome.

Actually the `not()` pseudo-class would work, however I read somewhere that it's less performant, not sure how much it matters, havent benchmark it.

Try this:

[code]

[2022-01-31 13:56] leosdad commented on #30821
Hi, OP here. Thanks all for the responses and the workaround, although I can't test anything because I'm on vacation now. I'll comment further when I'm back. Cheers

[2022-01-31 13:59] danieljmann96 opened #30854 "React-IMask example does not work - forwardRef error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The example documented here https://mui.com/components/text-fields/#integration-with-3rd-party-input-libraries with react-imask does not work, there is an error on line 25 "inputRef={ref}":

  Type 'null' is not assignable to type 'ForwardedRef<HTMLElement>

[2022-01-31 14:01] hbjORbj commented on #30821
@oliviertassinari

Did the renaming and the label. You want me to close the issue?

[2022-01-31 14:07] leosdad commented on #30821
Please don't. Need to test the workaround first and maybe suggest a couple of changes to the docs. I'll be back in mid-February, I'll surely do it then. Thanks!

[2022-01-31 15:59] plostvik commented on #10582
pattern attribute is not working for inputs with type "number" according to MDN. That's why your solution is wrong.
source: https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/pattern

[2022-01-31 16:26] Joroze commented on #12597
Hey FYI, Tooltips aren't showing for Tabs in IE11.

[2022-01-31 17:00] #30597 closed

[2022-01-31 17:16] hwride commented on #30758
The linked change does cause select to be triggered on enter now. But enter still causes a toggle of the node if it has children. I'm not sure this fix is better and is perhaps worse, as now enter has different behaviour depending on whether the node has children or not.

See the last highlighted line in particular.

I wonder if the behaviour that would be ideal for a single-select tree is:
- Use

[2022-01-31 17:25] DanielAndrews43 opened #30856 "[DatePicker] `shouldDisableDate` runs on all dates ever, not just visible ones before opening"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using `DesktopDatePicker` it runs `shouldDisableDate` on 100s of years of dates when first opening the modal. This delays the modal opening for several seconds. When switching between months, it only runs `shouldDisableDate` on the visible dates, which

[2022-01-31 18:31] danielo515 commented on #30832
You're right, it does not happen with raw ListItem component. Is when you try to wrap it with and use it's props to derive the new props when it fails. Here is a code-sandbox reproduction:
https://codesandbox.io/s/alignitemslist-material-demo-forked-0lp5v?file=/demo.tsx

[2022-01-31 18:42] KKS1 opened #30858 "Mui Next Js Link Component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently the way its suggested to integrate MUI Link to NextJS Link component is use the example in

### Expected behavior 🤔

https://stackoverflow.com/a/66228870
This basically, gives the same functionality, without the overhead.

[code]

### Steps to rep

[2022-02-01 00:06] #30745 closed

[2022-02-01 00:06] #30739 closed

[2022-02-01 00:06] #30722 closed

[2022-02-01 00:15] yanickrochon commented on #30618
Yeah. Nevermind that I have provided more information.

[2022-02-01 00:42] javier-zabala-lenio commented on #15695
@enrique-ramirez Did you find a solution? I'm currently facing the same issue.

[2022-02-01 03:46] danilo-leal commented on #30597
@zreecespieces Do you have any suggestions or ideas as to make this clearer in the docs? Components like Autocomplete and others that are built on top of multiple ones are naturally trickier to figure out how to customize. We'd be glad to make it more approachable.

[2022-02-01 03:55] h0tw4t3r commented on #29723
Also affected by this issue

[2022-02-01 04:04] h0tw4t3r commented on #28574
@mnajdova has been any progress on this?
Docs say that styled-engine-sc is a wrapper, but in reality, it cuts off functionality described in this issue as well as #29723 (which looks like a duplicate), as well as it cuts off `.attrs` functionality as mentioned in #29492.
If so, styled-engine-sc should not be stated as a wrapper, but rather as a fork with intersectioned with `@emotion/styled` inter

[2022-02-01 04:39] zhyd1997 commented on #22426
- Product: SoftMaple
- The problem solved: Rich Text Editor Toolbar, layout, consistent UI, quick switch dark and light theme.
- Company or organization: SoftMaple
- Link: https://github.com/softmaple/softmaple
- Screenshot:
<img width="1272" alt="SoftMaple Editor" src="https://user-images.githubusercontent.com/31362988/151913638-841f76f5-95b3-452d-ae07-25a8ff76681e.png">

[2022-02-01 08:23] mnajdova commented on #28574
@h0tw4t3r I don't see why we shouldn't add the API proposed in my previous comment, feel free to grab it you want to work on it. `styled-engine-sc` is an adapter, not wrapper, agree we should clarify that. Could you please link where did you read that it is a wrapper?

[2022-02-01 08:24] mnajdova commented on #28542
@alainib are you using the latest version of the codemod package?

[2022-02-01 08:49] zirkelc commented on #15695
These two solutions worked for me:

- Taken from the example here: https://mui.com/components/lists/#customization

[code]

- This comment: https://github.com/mui-org/material-ui/issues/15695#issuecomment-498242520
[code]

[2022-02-01 08:59] karlosos commented on #28578
I have a similar problem. Waiting for 50 minutes already:

[code]

[2022-02-01 09:07] Daria-Kuzminykh opened #30859 "Some text is not translated in MobileDateRangePicker"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Some text is not translated in MobileDateRangePicker
![image](https://user-images.githubusercontent.com/75027465/151939373-14e7c5e7-d8a5-457b-a117-a12f996080ae.png)

### Expected behavior 🤔

All texts translated in MobileDateRangePicker

### Steps to reprod

[2022-02-01 09:24] tim-breitenstein-it opened #30860 "Vite.js Example: Internal server error: Failed to resolve import "./ProTip" from "src/App.jsx". Does the file exist?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

1. Vite.js example
2. Edit on StackBlitz
3. npm install
4. npm run dev
5. Error:

[code]

### Expected behavior 🤔

Working Example. No Error.

### Steps to reproduce 🕹

Steps:

1. Vite.js example
2. Edit on StackBlitz
3. npm install
4. npm run dev

### Cont

[2022-02-01 09:54] h0tw4t3r commented on #28574
@mnajdova Sure.
https://mui.com/guides/styled-engine/#how-to-switch-to-styled-components

`styled.div`,  `styled.small`, etc. are very useful shorthands for `styled('div')`, `styled('small')`.

Those who used `styled-components` will probably agree that `styled(...)` notation is used often for React components and not default HTML tags.

I'm not familiar with `@emotion/styled`, but I personally do

[2022-02-01 11:36] hbjORbj commented on #30832
Hi.

The signature of `ListItemProps` is: `ListItemProps<D extends React.ElementType<any> = "li", P = {}>`, where `D` is the type passed to `defaultComponent`.

So,
1. Use `ListItemProps<"div", Props>`.
2. Pass `component="div"` directly to `ListItem`.

Check out this [codesandbox](https://codesandbox.io/s/alignitemslist-material-demo-forked-my3y8?file=/demo.tsx).

I hope it helps.

[2022-02-01 11:36] #30832 closed

[2022-02-01 12:24] ramirez commented on #15969
This thread is quite old, but I still haven't found a solution for this problem. Even if I change the @page size and margins, I still get only an `sm` match. I'd love to have a way of globally defining the match or break points for print media.

[2022-02-01 12:43] dbuchet commented on #30860
While we're on this example, `@vitejs/plugin-react-refresh` do not work properley as it refreshes the whole page instead of using hmr.

Use `@vitejs/plugin-react` instead to have HMR work properly. So `vite.config.js` would be
[code]

[2022-02-01 12:58] njlr opened #30865 "SSR does not include all necessary styles"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying to render a Material UI React element to a string. I followed https://mui.com/guides/server-rendering/ and came up with the following:

[code]

The output is:

[code]

Note that this does not include the CSS classes `MuiTypography-root`, `MuiTyp

[2022-02-01 13:25] LightC0de commented on #30844
Please fix this bug, this component is part of "MUI X Pro"...

[2022-02-01 13:58] danilo-leal commented on #30806
Hey! Does it make sense to have an umbrella issue for this task? I think we should have the demos looking great as part of any component PR, not merging it before the documentation for it is good enough. As far as I can see, Select is the only one right now in need of a little tweak (maybe a bit the inactive Switch as well) on dark mode but all the other ones are mostly fine. Do you have anything

[2022-02-01 14:29] oliviertassinari commented on #30865
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2022-02-01 15:15] FelipeIgansi opened #30868 "Bug on tags html exposed"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1. Enter in home page https://mui.com/
2. Click on Docs
3. Click on notifications
![Screenshot_1](https://user-images.githubusercontent.com/22945049/151994701-81199d14-

[2022-02-01 15:42] andreaposadino opened #30869 "Customize color shadow by property or variant"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The same shadow size can not be customized by color.

This means that if I want a boxShadow of elevation 4, for example, in blue for a component and in red for another I have to override the boxShadow style at all, without using theme.shadows.

the only solution so

[2022-02-01 15:54] ggascoigne commented on #30821
Related to this I think, but another use-case where this change in behavior is awkward.  We use tooltips on tables to show truncated text, for better or worse, that can make for a lot of cells with a lot of potential tooltips.  The new tooltip behavior breaks pretty badly since the tooltip overlays other cells and stops the user from interacting with them and getting at those tooltips.  As for the

[2022-02-01 15:58] mnajdova opened #30870 "[SelectUnstyled] TypeScript issues"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying to build custom Select component using the `SelectUnstyled` and Tailwind CSS. Some improvements that we should make:

1. Wasn't clear at the start how I can use the state of the component for conditionally applying classes. All examples are usin

[2022-02-01 16:02] roborew commented on #17542
When trying @ApayRus solution above I ran into "[Component definition is missing display name](https://stackoverflow.com/questions/52992932/component-definition-is-missing-display-name-react-display-name)" as the example does not include the named function from the [original code example](https://mui.com/components/dialogs/).

However the solution is correct, keeping the named function call within

[2022-02-01 16:09] Fronix opened #30871 "[TextField] inputRef not working when using custom styled component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The provided `inputRef` property doesn't seem to work properly in TextField when using a custom `styled()` component.

### Expected behavior 🤔

`inputRef` to be sent to TextField component as normal.

### Steps to reproduce 🕹

Here is a reproduction of this

[2022-02-01 16:35] eps1lon commented on #30821
See https://github.com/mui-org/material-ui/pull/22382 for why the current behavior is intended.

TL;DR: Changing the default value breaks WCAG level AA.

[2022-02-01 16:47] Fronix commented on #30871
I managed to solve this, it had nothing to do with MUI, but rather my being stupid and disabling fields when submitting. It seems that react-hook-form counts a failed form validation as `onSubmitting`.

[2022-02-01 17:14] flaviendelangle commented on #30844
The component is not yet part of the pro plan no.
It is indented to go to the pro plan, and will in the coming weeks.
But right now it is accessible freely.

[2022-02-01 17:47] cc-greglorenzen commented on #21281
Is there an update on whether or not the JSS plugin overrides work with MUI 5? I have a similar issue as @dictor93 and need to increase the specificity to override default site styling.

[2022-02-01 17:51] gutakeda commented on #30676
I think there is a similar issue using the "cancelText" prop. It does not work on desktop date picker.

[2022-02-01 19:09] danilo-leal commented on #30868
Hey @FelipeIgansi, thanks for letting us know! We had a hotfix for it earlier today (#30862) but I'm not sure why it isn't in production yet. cc @siriwatknp

[2022-02-01 19:59] ggascoigne commented on #30821
re. my previous comment about aria-describedby being missing, that was an issue with my code, the behavior change around `describeChild` requires changes I'd not discovered (and aren't in the migration guide).   Sorry, didn't mean to hijack issue.

[2022-02-01 20:27] eps1lon commented on #30821
@ggascoigne  As far as I can tell, this issue is about `interactive`/`disableInteractive` which isn't related to the accessible name/accessible description. So if there's an issue with `describeChild`, I would recommend opening a separate issue.

[2022-02-01 22:46] ggascoigne opened #30874 "[Tooltip] aria attribute behavior is unexpected"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Migrating tooltip code from v4 to v5, it's surprising to see that the previous behavior of applying `title` and `aria-describedby` is not the default. The vast majority (maybe all, I've not completed my checks) of our tooltip use are used to add definitions

[2022-02-01 23:20] slayybelle opened #30875 "[SpeedDial] cannot traverse using NVDA screen reader"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using NVDA (free screen reader for windows), traverse using keyboard to SpeedDial button then try to traverse items. You cannot access any of the speedDial action items

### Expected behavior 🤔

SpeedDial should be usable via keyboard when using popular scr

[2022-02-01 23:21] #30665 closed

[2022-02-02 00:06] #30770 closed

[2022-02-02 00:06] #30767 closed

[2022-02-02 00:06] #30765 closed

[2022-02-02 00:18] farshid1 commented on #8741
@kodeschooler were you able to figure out the issue by any chance. I'm getting the same error coming from `Unstable_TrapFocus.js` but in my case I have a select input (which is built with MUI v5) in a modal (which is built with MUI v4). Selecting/Unselecting an item throws the error.

[2022-02-02 00:28] kndwin commented on #28673
Hi team! Wondering if there's any activity on this, if not. Wondering if I could have a go :D

[2022-02-02 01:07] grantmr commented on #17353
I'm also getting this. scrollbars are hiding and not coming back when the select closes. I'm getting it with the Select used in TablePagination and can't pass MenuProps to it. Also happening with Dialog.

[2022-02-02 02:37] siriwatknp commented on #28578
Note that we are internally ignoring only `node_modules`, so it is possible that the Codemod lookup other non-mui-related as well.

Recommended to target specific folder like `src` (thanks @karlosos)

[2022-02-02 02:59] siriwatknp commented on #30868
The hotfix is deployed. @FelipeIgansi Thanks for the fast report!

[2022-02-02 02:59] #30868 closed

[2022-02-02 04:38] akgupta0777 commented on #17353
disableScrollLock:true solved my problem.

[2022-02-02 04:53] grantmr commented on #17353
disableScrollLock:true works find for Select but I was also getting it on the TablePagination component which has a Select that you can't pass disableScrollLock to.
I ended up just overriding the padding and overflow on the body with important, as it didn't affect the app

[2022-02-02 09:16] wamujlb commented on #25324
I can confirm that this solution worked for me. MUI V4.

[2022-02-02 09:45] michaldudak commented on #30806
Let's update Select and Switch demos as a part of this issue then and make sure in the future that dark mode demos look well before merging, as you suggest.

[2022-02-02 09:47] michaldudak commented on #30820
Hi @jcdesousa. Yes, we are considering allowing to change (or even disable) autogenerated class names. We don't have a specific ETA for this, though.

[2022-02-02 10:06] martin-trajanovski commented on #30771
@mnajdova thanks for the quick response. It would be nice to have it as a feature that works on a Desktop date time picker as well but if that is not possible at the moment then updating the docs at least would be helpful for the future.

[2022-02-02 10:08] sdzaveri opened #30879 "[ListItem] `key` prop isn't supported"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently, `<Listitem>` and its friends like `<ListItemButton>` don't support passing a key prop to the container div which results in this error in the console:

```Warning: Each child in a list should have a unique "key" prop.```

### Examples 🌈

https://mui.com/a

[2022-02-02 10:44] hbjORbj commented on #30879
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-02-02 10:45] hbjORbj commented on #30874
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-02-02 11:00] nishaaant commented on #30715
Hi,
I just left a PR #30880 fixing the issue thanks to @mnajdova . This would be my first contribution so leaving a comment telling me if I did everything right or where I messed up would really help.

[2022-02-02 12:13] sanders54 commented on #23916
I am encountering the same issue. It's difficult to hack around the issue, and most other autocomplete that has free text (like Google) seem to follow the behaviour of differentiating the hover and keyboard state. Would love a update.

[2022-02-02 12:32] Hummel37 commented on #30879
I can say with certainty that it works 😅

[2022-02-02 12:45] hbjORbj commented on #30879
Thanks for letting me know. I will close this issue then!

[2022-02-02 12:45] #30879 closed

[2022-02-02 12:59] #30715 closed

[2022-02-02 13:37] scallaway commented on #29753
We too are running into this problem.

In order to apply the styles, we're having to target the generated classnames explicitly, rather than the object keys like we're doing for the rest of the styles.

We're currently using v4 and are looking to upgrade to v5 in the future, but an update to this (or a different workaround) would be fantastic.

[2022-02-02 14:11] tayloraucoin opened #30881 "DatePicker Mobile Cancel Still Changes Value"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When you open the mobile datepicker modal, and select a new date, then hit cancel, the selected value has become the value of the input, instead of remaining the original value.

Also, this would make sense to use `onAccept` and `onClose` but `onChange` is

[2022-02-02 14:25] ZeeshanTamboli commented on #26492
From the conversation thread, I agree that there could be duplicate options like in a list of names. However, what I don't get is how will the user know which option to select (and which one is correct) from among the duplicated ones.

[2022-02-02 14:30] hbjORbj commented on #30881
Duplicate of https://github.com/mui-org/material-ui/issues/30731

[2022-02-02 14:30] #30881 closed

[2022-02-02 14:50] nishaaant commented on #29997
Is the issue resolved or are we still looking for another solution as mentioned in the PR?

[2022-02-02 14:57] NPetz commented on #30753
@mnajdova

Hello!

I've another change to the pull request and marked it ready for review.

I would appreciate it if you could check when you have time!

Thanks in advance!

[2022-02-02 15:18] doiali commented on #26492
It might happen unintentionally when we're getting option's from an api call. Anyway in this case it shouldn't lead to a bug.

[2022-02-02 15:42] vileen commented on #30185
@Altair2169 one note though, there is no such thing as `unicoderange`, try `unicode-range`, also I don't think you should every font as `font-weight: 400`, it could break some third party library if you'd use it

[2022-02-02 15:57] hbjORbj commented on #30874
You can still provide code sandboxes, one with v4 and the other with v5, to directly show the difference you are referring to. Then it is way easier to understand what the issue is about.

[2022-02-02 17:42] tripleTriangles commented on #19568
I know this is closed but had a similar issue and realized it was because the dev who added the onChange handler had added `event.preventDefault()` and that was causing it to not behave as expected.  Hope that helps someone else along the way.

[2022-02-02 18:20] ZeeshanTamboli commented on #26492
Then I think that it will actually hide the bug if we fix it, Autocomplete will work correctly, but the bug is that there are duplicated options in an API call response which shouldn't happen in the first place.

[2022-02-02 18:37] nuarhu commented on #13347
@aldabil21
`not(.Mui-disabled)` didn't work for me. That's what I initially tried in different variants. I'm not sure whether I tried exactly the CSS directive that you posted, though.

[2022-02-02 20:19] emersonthis commented on #30490
+1
If anyone knows of a workaround I'd love to know

[2022-02-02 20:22] marcinb1986 opened #30885 "After upgrade of material ui 4 to 5 TextField label is not displayed in proper way"
Hello,

I have upgraded material ui 4 to 5 and all TextField labels shows up in the inside TextField although it should be outlined.
What is wrong with the code ?

This is how createTheme looks like
[code]

StyledInputForm is styled component with TextField
[code]
[code]

thanks for support

[2022-02-02 21:41] PabloLION commented on #28899
Oh I didn't report.. I tested it here with 28645 and it doesn't close this issue. The [Code Sandbox](https://codesandbox.io/s/mui-28645-forked-6ibrg?file=/src/MUI28645.tsx)

[2022-02-02 21:59] slayybelle commented on #30875
More info:  NVDA traversal works only if you use down arrow to go "down" the list and up to go back; any other arrow will put you in an odd state.
The NVDA focus is not working correctly.  The focus around the item only shows once you select that item and doesn't track your arrow movements up and down the items.
Both focus and traversal work w/o NVDA on windows chrome, Mac chrome, Mac safari, Mac

[2022-02-02 23:25] JanMisker commented on #26492
@ZeeshanTamboli not really, we can have a custom `renderOption` that show the difference, especially when we don't render simple strings but objects. In the user listing example could be adding an avatar image, and the userId could be the key.

The problem is that even with a custom `renderOption`, still the `getOptionLabel` is used as `key`. If I put my own `key` in the return of the `renderOptio

[2022-02-03 00:08] #30783 closed

[2022-02-03 01:25] tetchel opened #30886 "[Datepicker] Dayjs adapter gives unexpected results for invalid date inputs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

This is the same issue as @RCout1nho in https://github.com/mui-org/material-ui/issues/29838, however I felt like this deserved its own issue because it's with the DatePicker component, not the TimePicker.

If you input an invalid date into the MUI DatePicke

[2022-02-03 04:04] ZeeshanTamboli commented on #26492
@JanMisker Got it ! That cleared it for me. Suppose in the user example, there could be more than one person with the same name but the avatars are distinct for the persons. But the `key` used in the `getOptionLabel` is the `label` (person's name).

[2022-02-03 04:37] stoplion commented on #22154
Why is every issue mentioning maxLength being closed? It still does not work.

[2022-02-03 04:38] stoplion commented on #25389
Still does not work

[2022-02-03 06:51] euj1n0ng opened #30887 "How to use custom color for step label string"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I wanna use Stepper in a black background. Accordingly, need to change the step label string from the primary color (grey) to a light one (white).
I applied a custom style to StepLabel as below:

[code]

After this, I was able to get white color for disable

[2022-02-03 07:31] siriwatknp commented on #30885
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), so that we can reproduce and share the fix with you. Thanks!

[2022-02-03 07:33] siriwatknp commented on #30887
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), so that we can reproduce and share the fix with you. Thanks!

[2022-02-03 07:40] siriwatknp commented on #30854
Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), so that we can reproduce and share the fix with you. Thanks!

[2022-02-03 07:44] euj1n0ng commented on #30887
Oh, that's a good idea.

[https://codesandbox.io/s/customizedsteppers-material-demo-forked-o169v](https://codesandbox.io/s/customizedsteppers-material-demo-forked-o169v)

Hope this works for you. Thank you!

[2022-02-03 07:55] euj1n0ng commented on #30887
https://codesandbox.io/s/headless-field-nbbcy

This is also the same one.

[2022-02-03 08:48] alveloper commented on #30249
Hi, Is there any progress in here?

[2022-02-03 08:54] sandorvasas opened #30888 "Viewport component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

[I might submit a PR about this if I end up with a properly usable implementation myself, just bringing up the idea here]

Having responsive xs/md/lg/xl props are generally great and a lot can be done with them. However, the major problem with them is they are relat

[2022-02-03 08:59] ZeeshanTamboli commented on #30850
Hi @amalcltpba
Please provide a CodeSandbox. This template (https://material-ui.com/r/issue-template-latest) maybe a good starting point. Thanks!

[2022-02-03 09:07] michaldudak commented on #28899
@PabloLION I believe #29514 is about the same problem. Could you confirm?
We had a discussion about the implementation in that issue, so I prefer to keep it open and close this one (unless the problem you're describing here is broader).

[2022-02-03 09:17] PabloLION commented on #28899
I saw it some hours ago. And it is. I'll close this thread then.

[2022-02-03 09:17] #28899 closed

[2022-02-03 09:44] siriwatknp commented on #30825
As a workaround (must have `@mui/material` v5.3.0+), you can use callback and do this:

[code]

I mention this as a workaround because this makes customization very confusing. The real fix in my opinion is `disableGutters` should have higher specificity similar to `Mui-disable`, ...states. This applies to other components as well (not only disableGutters but any props that overrides existing CSS p

[2022-02-03 10:17] patik commented on #30504
I have the same issue for `MuiDatePicker`

[code]

[2022-02-03 10:30] flaviendelangle commented on #30504
The three have been added in https://github.com/mui-org/material-ui-x/pull/3451 so they will be available after the migration.

[2022-02-03 10:37] #30731 closed

[2022-02-03 11:05] farrukh28 opened #30889 "[Backdrop styling issue] - Some of the components rendered in "Backdrop" do not render with correct styles passed as props."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Some of the components rendered in "Backdrop" do not render with correct styles passed as props. For example, a checkbox is placed in the Backdrop component with the color prop set as "success", but it's not changing the color to **green**.
Also Icon button

[2022-02-03 11:26] michaldudak commented on #27170
@kaushalyap We are finishing work on the last of the prioritized ones - Menu. Then we want to focus more on building the docs and creating instructional content. We may continue focusing more on the rest of the components in Q2 2022.

[2022-02-03 11:32] michaldudak commented on #30800
I believe we can track it in #30820 as it's more broad (it about customization, not just removal of generated class names).

[2022-02-03 11:32] #30800 closed

[2022-02-03 12:21] mnajdova commented on #30815
The autocomplete follows the https://www.w3.org/TR/wai-aria-practices/#combobox spec. It indicates that

There are keys which enables these actions, like Backspace, Down Arrow etc.

It is shown only on hover/focus, it is intended. And it should not be focusable, so this should be fine.

-------------------------

Could you maybe share some aria docs that supports the requirements you asked for. I

[2022-02-03 12:32] ZeeshanTamboli commented on #30605
Resolved in #30794

[2022-02-03 12:32] #30605 closed

[2022-02-03 12:32] mnajdova commented on #30889
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-02-03 13:02] marcinb1986 commented on #30885
Hello

Here You can find code sandbox. It's not exactly how it's in the app, as I have it organized a bit different with some styledComponents in the middle, but basically that should keep the logic.

https://codesandbox.io/s/keen-faraday-79bk0?file=/src/App.js
Here You can see how it looks now. Marked labels should be outlined.

![image](https://user-images.githubusercontent.com/76134242/15234785

[2022-02-03 13:03] darman96 opened #30892 "Mui components generating too much style tags"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Since migrating to Material-UI 5 Some MUI Components (especially Inputs) are generating a huge amount of style tags inside the html head which heavily impacts the performance of our app. It seems that those styles are duplicated for every instance of that c

[2022-02-03 13:38] chriszrc commented on #16667
@oliviertassinari Using body scroll makes the dialog look awful. Is there really no way to enable up/down/pageUp/etc, in the scrolling body of the dialog?

[2022-02-03 14:08] michaldudak commented on #30870
I think this is where componentsProps in form of functions proposed by @siriwatknp would shine. I expect they would greatly reduce the need for overriding components.

Could you elaborate on that? Is this not enough?

[code]

---

As for the rest - I'm working on fixes.

[2022-02-03 14:38] mnajdova commented on #30870
Agree 👍

This is great but not really useful if you have a custom component and you want to use the `ownerState`, this is why I thought we should export interfaces containing all of the above props + `ownerState`. Maybe if we had an example of how this can be defined it would have been easier to figure it out, but on the docs itself, I couldn't find anything that would help me

[2022-02-03 14:51] hbjORbj commented on #30826
@ianschmitz Thanks for the detailed report (the codesandbox you provided was very helpful).

A PR regarding this issue has been opened here: https://github.com/mui-org/material-ui/pull/30894

Feel free to check it out.

[2022-02-03 15:56] Brodzko opened #30896 "[system] Broken behavior with `theme.shape.borderRadius: 0`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I set all border radiuses to 0 in theme:

[code]

and have `borderRadius` multiple applied on a component via the `sx` prop, the theme override is ignored - it defaults back to original `4`.

### Expected behavior 🤔

Resulting border radius should be `

[2022-02-03 15:59] danilo-leal commented on #29062
@aleccaputo @gregjoeval Hey! Opened a PR a few days ago and just now made it ready for review for fixing this issue right here. Would you mind taking a look there and let me know what you think?! Hopefully it helps increase the scroll affordance when tables are wider than the container.

[2022-02-03 16:07] amanzrx4 commented on #30887
hey @euj1n0ng, i think this will work:

` [`& .${stepLabelClasses.label}`]: {
    [`&.${stepLabelClasses.completed}`]: {
      color: "rgb(255, 255, 255, 0.3)"
    },
    [`&.${stepLabelClasses.active}`]: {
      color: "rgb(255, 255, 255, 0.9)"
    },

    color: "rgb(255, 0, 64)	"
  }`

working here: https://codesandbox.io/s/busy-mccarthy-x403u?file=/src/Demo.tsx

[2022-02-03 16:14] amanzrx4 commented on #30887
hey @euj1n0ng, i think this will work:
[code]
working here: https://codesandbox.io/s/busy-mccarthy-x403u?file=/src/Demo.tsx:1494-1740

[2022-02-03 16:25] amanzrx4 commented on #30896
@Brodzko It seems sx prop overrides theme styling, you can do: `borderRadius: theme.borderRadius * 4`

[2022-02-03 16:26] euj1n0ng commented on #30887
@amanzrx4 , yes, it works like a charm! Thank you so much. 😍

[2022-02-03 16:26] #30887 closed

[2022-02-03 16:28] Brodzko commented on #30896
Yup, this would fix the issue on our side,  but I still feel like this is a bug - it works as expected when `shape.borderRadius` is any non zero value and it's also stated to do exactly the same thing [in the docs](https://mui.com/system/properties/#properties-reference-table)

[2022-02-03 16:59] amanzrx4 commented on #30896
Makes sense, seems it's a bug

[2022-02-03 17:06] Taipan95 opened #30898 "[Alert] Error MUI: Unsupported `` color. The following formats are supported: #nnn, #nnnnnn, rgb(), rgba(), hsl(), hsla(), color()."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have implemented a Light and Dark palette and I wanted to use different colors for the default variant of the Alert component, on light mode, everything works fine but as soon as I toggle dark mode my application crashes with this error:
[code]
Oddly enou

[2022-02-03 17:23] Taipan95 commented on #30898
And this is the moment where I feel stupid for not noticing 🤣

[2022-02-03 17:26] petersendidit commented on #29062
Is it possible that using a table to list the props is not the most effective way to display the data?

If rather it was a list of props that had the details listed below then it would better scale from large to small screens.

Crude example:
[code]

With line wrapping enabled and the correct styling this would likely be more readable for all screen sizes.

[2022-02-03 17:39] danilo-leal commented on #29062
That's an interesting idea, thanks for dropping in! I'd be concerned with the amount of label repetition (type, default description), though. Have you ever seen any documentation implementing this approach, just out of curiosity?!

[2022-02-03 18:12] petersendidit commented on #29062
https://chakra-ui.com/docs/form/button#props

[2022-02-03 20:10] mariotee commented on #29644
@hoangbn , i used to be able to do this in material ui
[code]
and then referenced in the theme object like
[code]
and porting to v5 sort of broke this. so here is what i do now for this kind of override:

[code]
and referenced in the main theme like
[code]

[2022-02-03 21:25] JanMisker commented on #26492
@ZeeshanTamboli I did some tests. The thing is, when I indeed do put my own key on the returned element, I get a  visually blank list. So this _doesn't work_:
[code]
I don't really understand why, but I did find that in `useAutocomplete` the result of `getOptionLabel` is assigned to a `key` parameter. It seems that the value returned from `getOptionLabel` is used also as the value of the autoCompl

[2022-02-03 21:26] kboul opened #30900 "[StepConnector] Missing index information"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

StepConnector component does not return the current index in mui 5 latest version while it does on material ui/core v 4.12.3.

### Expected behavior 🤔

It should return the current StepConnector index so as the user to be able to apply custom behaviour on d

[2022-02-03 21:31] jazzfog commented on #14777
I am still seeing this issue, can this ticket be re-opened?

Here is an example:

[code]
<img width="1194" alt="Screen Shot 2022-02-03 at 1 29 39 PM" src="https://user-images.githubusercontent.com/3300853/152432218-78faa3b4-0921-4e3d-bc68-40e1c6007a17.png">

[2022-02-03 23:28] mbrookes commented on #27170
Something doesn't seem right with the priority here. If we don't support fundamental components first, the use of the more esoteric ones will be limited at best. On what basis are we prioritizing the components?

[2022-02-04 00:05] #30802 closed

[2022-02-04 00:05] #30797 closed

[2022-02-04 00:05] #30750 closed

[2022-02-04 00:05] #30714 closed

[2022-02-04 02:28] flyingangel opened #30902 "[Select] Render Select component value holder as real native select"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Currently, the `<Select>` component uses an `<input>` as a value holder for all its value, for both simple and multiple/Chip list. Although the `native` property can be used currently, it does not match the expected MUI design.

The new system should keep the curren

[2022-02-04 02:36] yongtheskill opened #30903 "[Tabs] validateDOMNesting warning when Typography component is a child of TabPanel"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The contents of a TabPanel component are wrapped in a typography component. When a Typography (or other) component is a child of a TabPanel, this causes a validateDOMNesting warning.

### Expected behavior 🤔

The TabPanel should be able to contain other com

[2022-02-04 03:33] slayybelle commented on #30815
Thank you for the link.  Damn, I'm sorry to have wasted your time on this one.  I got feedback from a customer (rather than our auditors) and I just assumed they knew what they were talking about.  Will definitely look at the doc first.

[2022-02-04 03:33] #30815 closed

[2022-02-04 04:59] ZeeshanTamboli commented on #26492
@JanMisker Can you provide a CodeSandbox?

[2022-02-04 07:58] Nef10 opened #30905 "[docs] template links broken"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `Source Code` links on https://mui.com/getting-started/templates/ result in a 404 page.

### Expected behavior 🤔

With PR #30757 the files have moved. While the path in the docs was adjusted, it is not deployed yet. It is annotated with `#default-branch

[2022-02-04 09:04] michaldudak commented on #27170
We took the most popular ones first (based on traffic on the docs).

[2022-02-04 10:15] tcamaraCS opened #30907 "[docs] babel-plugin-import not working in v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://mui.com/guides/minimizing-bundle-size/#option-2 gives us two babel plugin options to resolve the top level imports into path imports, so that the DX is improved. However the ```babel-plugin-import``` does not seem to work with version 5 of Mui as it

[2022-02-04 10:21] mihailgaberov commented on #30860
There is a PR opened for this one - https://github.com/mui-org/material-ui/pull/30897

[2022-02-04 10:28] ZakKa89 commented on #12032
Same issue here while migrating from v4 to v5. Keeping the v4 version for now.

[2022-02-04 11:10] Shanthoshkumar03 opened #30908 "Found an UI issue on Autocomplete > Limit tags"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

<img width="960" alt="image" src="https://user-images.githubusercontent.com/74953433/152518179-64264f30-ce44-468f-b3a9-6ab291dc7190.png">

<img width="960" alt="image" src="https://user-images.githubusercontent.com/74953433/152518310-4ffb982a-eb8c-4ef1-bb96

[2022-02-04 12:03] JanMisker commented on #26492
@ZeeshanTamboli ok there you have it... for some reason I can't get my CodeSandbox to work. Or better said, I can't get it to break. This is super annoying, in my own code in the custom `renderOption` I get back a node with `children: [undefined, false, undefined]` but *only if* I add a `key`. Will have to do some deep debugging to see why that happens.

For future reference, the codesandbox showi

[2022-02-04 12:24] mikr13 opened #30909 "The template page's Source Code links are broken due to latest migration"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

On clicking Source Code it takes us to Github 404 page due to the migration of pages to `docs/data` folder

### Expected behavior 🤔

The template pages should load.

### Steps to reproduce 🕹

Steps:

1. Go to: https://mui.com/getting-started/templates/
2. C

[2022-02-04 13:23] anandsingh1606 commented on #29319
@mnajdova this is also the case at this time, In the doc, we have not mentioned any not supported note or any information about not to use/prefer this callback API of **styleOverrides** .  We are using typescript and we have done many component customizations with this method. We primarily want to access the theme object so that we can get palette color.

can you please help on this, how to go fur

[2022-02-04 13:23] danilo-leal commented on #30908
Hey! Thanks for the heads up, just opened a PR to fix it :)

[2022-02-04 13:45] danilo-leal commented on #30909
Hey @MiKr13, thanks for opening the issue! However, I'm closing this one since it's a duplicate of #30905.

[2022-02-04 15:00] rejetto opened #30911 "[Tooltip] Type requires children as property"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

with React.createElement as h, I write

`h(Tooltip, { title:"HTTPS" }, h(Lock) )`

and get an error from typescript that 'children' property is missing.
Then I can workaround it as

`h(Tooltip, { title:"HTTPS", children: h(Lock) } )`

### Expected behavior

[2022-02-04 15:46] kaushalyap commented on #27170
@michaldudak Seems site use GA, but most devs block client side tracking .

[2022-02-04 17:43] shorsher commented on #30237
This is also present within `DatePicker`, minutes and seconds are being set instead of 00

[2022-02-04 18:20] oliviertassinari commented on #30421
To follow up on my previous question. I have found it used on GitHub's docs. For example https://docs.github.com/en/github/copilot/research-recitation

<img width="357" alt="Screenshot 2022-02-04 at 19 18 51" src="https://user-images.githubusercontent.com/3165635/152582085-7e2ce03d-1518-45e8-a815-a3b67aed11c4.png">

[2022-02-04 18:27] rohitnishad613 opened #30914 "[discussion] What theme config you guys are using on mui.com?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

No summary needed.

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-02-04 19:15] sgnl commented on #29525
Props enter here: https://github.com/mui-org/material-ui/blob/master/packages/mui-material/src/Input/Input.js#L32

This is where the InputProps gets spread onto the incorrect `'div'` element: https://github.com/mui-org/material-ui/blob/master/packages/mui-material/src/InputBase/InputBase.js#L100

[2022-02-04 19:17] sgnl commented on #29525
Perhaps one of these changes are responsible:

https://github.com/mui-org/material-ui/commit/904f182ee9f26b0577f1981f89d772bb2dff2ba4#diff-db433ad74a86382c8d549f30d55a76a62ab13edbad39080b2a547be5cbfedfc6

https://github.com/mui-org/material-ui/commit/2fa90aa0918f5b7903de4c8b80f6771f926d0343#diff-db433ad74a86382c8d549f30d55a76a62ab13edbad39080b2a547be5cbfedfc6

[2022-02-04 19:22] mbrookes commented on #27170
I'm going to hazard a guess that the simpler and more frequently used a component is, the less likely it is that a developer needs to refer to the docs for it, especially with autocomplete in the editor.

[2022-02-04 22:02] diguini commented on #27846
Same here, but when i build a docker image

[code]
And
[code]

[2022-02-04 22:30] timmckague opened #30915 "Uncaught RangeError when (Date)TimePicker focus changes to a newly opened Dialog"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

"Uncaught RangeError: Maximum call stack size exceeded. " is thrown in the chrome devtools console when TimePicker focus changes to the newly opened Dialog.

### Expected behavior 🤔

I would expect no "Uncaught RangeError"

### Steps to reproduce 🕹

codesan

[2022-02-04 23:56] OyX-Tech commented on #30207
Hey guys did anyone find a solution for this bug ??
I'm having this issue too, the tabs work on firefox but on chrome or opera they dont as it's shown in the video

I have tried all material versions and same issue is appearing on scrollable tabs in rtl

my device is working on window 10 but i tried it on my friend's macbook and it works good

https://user-images.githubusercontent.com/99055170/152

[2022-02-05 00:02] OyX-Tech commented on #30207
@hbjORbj  @mnajdova @Mood-al   can you reopen it again??

[2022-02-05 00:19] ianschmitz opened #30916 "[ButtonBase] `CardActionArea` doesn't infer `LinkComponent` types"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When supplying a value for the `LinkComponent` prop to `CardActionArea`, the TypeScript prop types of `LinkComponent` aren't inferred. This is contrast to `Link` where the prop types of `component` _are_ inferred.

### Expected behavior 🤔

`CardActionArea`

[2022-02-05 09:04] rohitnishad613 commented on #30914
What exactly do you guys have been written in createTheme() function. Like I have this.

[code]

[2022-02-05 12:07] amaan-productizely commented on #30038
Why is this closed ? I'm facing this bug in the latest version as well.

[2022-02-05 13:23] VibhorJaiswal commented on #30421
Yes, Express docs also have it.
https://expressjs.com/
![image](https://user-images.githubusercontent.com/69683278/152643769-f72e69d0-e380-4170-8551-eac384665e79.png)

[2022-02-05 18:24] synaptiko opened #30922 "defaultProps seems to be ignored when React.hydrate is used in SSR setup with Remix"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I used [Remix + MUI example](https://github.com/mui-org/material-ui/tree/master/examples/remix-with-typescript) as my base and the only change I did is in the `theme` part, like this:
[code]

In my app I then have login form which uses `TextField` component

[2022-02-05 20:55] spiderhands opened #30925 "[Badge] ClassNameGenerator configuration does not work on some Badge classes"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Badge's invisible prop does not work with custom-configured ClassNameGenerator. Let's say we replace the Mui prefix with RCWB, then there should be **_RCWBBadge**-invisible_ generated and added to the Badge's classes. And in the DOM it is added. But there i

[2022-02-05 21:09] spiderhands commented on #30914
You can get it from the console. Just write `window.theme`.
Here is the object:
[code]

[2022-02-05 21:39] fayadh opened #30926 "Module not found: @mui/x-data-grid-pro tried to access @mui/base, but it isn't declared in its dependencies"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Issue when upgrading to `@mui/x-data-grid-prop@5.5.0`.
Using Yarn PnP

[code]

Packages:
[code]

Thoughts?

### Expected behavior 🤔

App should load without issue.

### Steps to reproduce 🕹

Steps:

1. Run an app with the following packages:

[code]

2. App

[2022-02-06 07:17] rohitnishad613 commented on #30914
Well, this is working,
But i want ask a question.
Why should i buy a theme? When i can just run this comment and get all the override?

[2022-02-06 11:36] #30914 closed

[2022-02-06 11:37] spiderhands commented on #30914
I am not MUI member, so I can't answer your question 🤷‍♂️

[2022-02-06 12:00] lionel-rowe commented on #30816
I'm having this problem with Chinese (`navigator.language` is `'zh-CN'`). Even manually removing the segment `/zh` from the URL doesn't work (auto-redirects back to `/zh`). I can view the docs in Portuguese but not English (`/en` just gives a 404).

[2022-02-06 14:49] mbrookes commented on #30816
The settings menu isn't setting the language cookie. It also isn't possible to get to settings from the home page, although this is mostly untranslated. As a workaround until this is fixed, either change your preferred language in browser settings, or add a cookie `userLanguage` with value `en`.

[2022-02-06 14:55] jaballogian opened #30945 "Masonry component can't accept string value for the spacing prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I tried to add `spacing={'24px'}` to the `Masonry` component but it broke the `Masonry` layout as seen in the image below.
![image](https://user-images.githubusercontent.com/24468466/152686463-869abd04-8619-426d-a2d4-71e988415717.png)

If I used `spacing={3

[2022-02-06 16:01] thanhpd commented on #23528
I'm bumping this issue back as the new specs are implemented in Google Keep and Assistant Reminders (I can confirm from my Android phone even though it's only at Android 9). It seems going to be eventually rolled out across all apps then.

Ref: https://9to5google.com/2021/08/09/new-android-material-time-picker/

[2022-02-06 17:14] hbjORbj commented on #30911
Hi, thanks for the report.

Please provide a codesandbox like this https://codesandbox.io/s/infallible-banzai-7t1l5?file=/src/Demo.tsx that reproduces the bug for the next time.

(1) You can either import `TooltipProps` and use `Omit<TooltipProps, 'children'>`, or (2) We can make `children` prop optional in [Tooltip.d.ts](https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Too

[2022-02-06 17:18] hbjORbj commented on #30847
Can you provide a codesandbox that reproduces the bug? I could just copy/paste the code you provided, but I want to make sure that I see the exact same error you've seen in the same environment.

You can use this template: (https://material-ui.com/r/issue-template-latest)

[2022-02-06 17:21] hbjORbj commented on #30847
Hey, I was going to look into this, but it is little difficult as I cannot reproduce it. Please feel free to investigate further into it in your environment and make a pull request if you've found the source of error.

[2022-02-06 17:27] hbjORbj commented on #30925
Hi. Thanks for the report.

This is because of a bug related to `invisible` prop of `Badge` component.

This [open PR](https://github.com/mui/material-ui/pull/30899) already fixes the issue.

Please check out this [codesandbox](https://codesandbox.io/s/mui-class-generator-forked-oliuo?file=/package.json)