[2022-03-23 12:27] AlbinoGeek commented on #30562
100% reproduction rate on the live website if you open Google chrome, open
the network tab, and set it to shape you to 3G.

Seems to be related to interacting with the page before it's finished
uploading, before it hydrates.

Running the application locally, clicking on any of the stack Trace
entries, the line numbers still don't match up.

But again, this could easily be my problem, react does th

[2022-03-23 12:32] nifaliana opened #31958 "[AvatarGroup] - Adding the possibility to show tooltip on the extra avatar in a group"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

[AvatarGroup] When hovering on the +2 avatar icon (the last avatar component) , It should show a tooltip or another customizable component to show  the extra avatars.

### Examples 🌈

![Screenshot from 2022-03-23 15-27-10](https://user-images.githubusercontent.com/4

[2022-03-23 12:45] igordanchenko commented on #31947
@mnajdova, I can only assume that Codesandbox is quietly using legacy peer deps flag during installation, because there is really an issue with react peer dependency in react-virtualized@9.22.3:

[code]

@aiibe, you should be able to install the example with `npm install --legacy-peer-deps`

@aiibe, you may also want to ping react-virtualized maintainers to release a fix for this issues.

https://

[2022-03-23 12:48] igordanchenko commented on #31932
@mnajdova, thank you. This is now resolved with @types/react@17.0.42

[2022-03-23 12:48] #31932 closed

[2022-03-23 12:51] michaldudak commented on #30562
It works fine on both Chrome and Edge for me, even with cache disabled and on the 'Slow 3G' profile.
I'm using Windows, though.

[2022-03-23 12:54] AlbinoGeek commented on #30562
Thanks for testing that, I will install Windows in a VM, and on my second
computer, to see if the issue is specific to Fedora or Linux.

It's not a super pervasive or blocking issue, because if your patient and
just let the page load first, the error doesn't happen.

If I go to the material icons page, and I start typing immediately to
search the icons, it crashes every time.

If I go to the data

[2022-03-23 13:07] Kaimura commented on #30483
I have the same problem. My global theme styleOverride is getting overwritten by the normal root styling.
e.g:
`export let theme = createTheme({
  components: {
    MuiFormHelperText: {
      styleOverrides: {
        root: {
          fontSize: "1rem",
        },
      },
    },
  },
});`

leads to my fontSize being overwritten by the normal root fontSize (which again is overwritten by the media

[2022-03-23 13:08] flaviendelangle commented on #31915
As written in #31926:

Why do you need an export of `AdapterDateFns` from the root ?

You should be able to import it from the sub-package as described [here](https://mui.com/components/pickers/#setup)

[code]

If we export it from the root, projects that uses our date pickers with another date library (moment for instance) will have to import `date-fns`, which is not something we want.

[2022-03-23 13:27] SooriyanDSRC opened #31960 "[Slider] Remove not needed mark in range Sliders"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Whenever both the start and the end points have been dragged to the end of the slider an extra mark has been added at the end of the slider which is visible when both the drag points aren't at the end.

### Expected behavior 🤔

The extra mark in the slider

[2022-03-23 14:17] Andarist commented on #31314
@mnajdova I've commented on the issue reported in Emotion, [here](https://github.com/emotion-js/emotion/issues/2682#issuecomment-1068552065). This is a quite hard specific issue because it's kinda neither with MUI nor with Emotion (from my PoV). It seems to "just" be a TypeScript limitation.

Could you take a look at my comment? Maybe you'd have some more thoughts on this one.

[2022-03-23 14:21] mnajdova commented on #31392
At this moment yes, however the `Box` component is the component you would use for utilizing the `sx` prop and you can use the `component="span"` prop for rendering element other than div. Regarding media queries, it is supported, see https://mui.com/system/basics/#responsive-values

Would be nice if you can share some benchmark (or at least two UIs where the difference is visible). We can add it

[2022-03-23 14:43] mnajdova commented on #31314
@Andarist feel free to close the issue.

[2022-03-23 14:54] ron-dadon opened #31961 "[Tabs] Custom variant cause prop types warning"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I'm defining a custom variant for Tabs component in the theme, I'm getting a prop types warning:

[code]

This does not happen in other components that I've created custom variants for (example: Button).

### Expected behavior 🤔

Since it is possible t

[2022-03-23 15:48] siriwatknp commented on #31815
I lean toward custom markdown syntax (Docusaurus)!

[2022-03-23 16:33] midsplit commented on #30717
dayjs(new Date()) works but not an actual date object.

Typescript definition needs to be updated to match this at this generates a type error but works, while a JS Date object does not compile but TS accepts it.

[2022-03-23 17:16] danilo-leal commented on #31958
Hey @nifaliana, thanks for dropping this suggestion! It does sounds like a good idea, I wonder if it is already possible to pull this off by using the Tooltip component. cc @siriwatknp, something to think about for Joy as well.

[2022-03-23 17:27] SalahAdDin commented on #31930
I want to get the value of the input itself, I'm not sure we can get its value directly from this `div`. In the other hand, we don't want to have development related tags on the production code.

I will check it, thank you.

[2022-03-23 17:40] Jaypov commented on #24282
If i could kiss you i would. Iv been trying to figure this out for over an hour and literally nothing helps. Not even the storybook MUI plugin (guessing it was abandoned from looking at the Git). you life saver.

[2022-03-23 17:57] gcadizED opened #31963 "[MonthPicker] Month Buttons are missing type="button" causing month selection to trigger submit on outer form"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Currently when using the MonthPicker inside of a form, selecting the month will trigger the outer form's onSubmit.

### Expected behavior 🤔

When selecting a month inside the MonthPicker, it should not trigger an outer form's onSubmit.

### Steps to reprodu

[2022-03-23 20:32] hichemfantar commented on #31874
You can just add the keepMounted prop to keep the children. `<SwipeableDrawer keepMounted={true} >`

[2022-03-23 22:55] ctbeiser commented on #28691
This is clearly a regression. MUI should be usable for design systems other than material, including ones that use secondary colors on list items.

At a minimum, it's obviously wrong that there's an item that can be specfied (selected) that changes nothing at all about the appearance of the theme.

[2022-03-24 00:29] MarkJButcher commented on #31952
@hbjORbj thanks for setting up a sandbox. Without actually calling new APIs each time we select something, I've put in mock data and you can see after you select from both dropdowns, then change the selected item in the first one a yellow error to MUI options missing the id of the second selector

[Sandbox Demo Here](https://codesandbox.io/s/kind-satoshi-n0k6x8?file=/src/Demo.tsx)

[2022-03-24 00:48] dennis-gonzales commented on #7960
Works for me, thanks.
A little bit of modification for typescript
[code]

[2022-03-24 01:30] jazhall opened #31966 "[DatePicker] getViewSwitchingButtonText prop does not work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

**Note:** There are different issues for the **DatePicker**, **DateRangePicker**, **DateTimePicker**, and **TimePicker** components. See notes below. Let me know if this issue should be split into different bug tickets for each bug occurrence.

In the **Dat

[2022-03-24 02:21] siriwatknp commented on #31837
@alexander-vashchuk Yes, you can but there is an issue with typescript (workaround by ignoring if for now) https://codesandbox.io/s/customicons-material-demo-forked-7lu2yr?file=/demo.tsx

[2022-03-24 02:22] #31837 closed

[2022-03-24 04:25] brayanFlores23 opened #31968 "[docs] Demo EnhancedTable crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20EnhancedTable%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/tables/
2. ??
3. demo *EnhancedTable* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI  | v5.5.

[2022-03-24 04:57] razlani commented on #20904
It selects the chip, but doesn't it also tab to the next UI element since you aren't preventing the TAB event from triggering?

[2022-03-24 05:31] mnajdova commented on #31357
Thanks for the report. Looks like we were missing an `autoFocusItem` prop on the `MenuList`. I am creating a PR for it. Here is an updated demo with the changes - https://codesandbox.io/s/splitbutton-material-demo-forked-fi9gf9?file=/demo.tsx

[2022-03-24 05:37] mnajdova commented on #31363
Agree, looks very similar to https://github.com/mui/material-ui/issues/26930. @brucelawson I am marking the issue as a duplicate. If you noticed that something is missing in https://github.com/mui/material-ui/issues/26930 would be best if you can leave a comment there, so that we have all discussion in one place. Thanks!

[2022-03-24 05:52] mnajdova commented on #31364
Thanks for the report, looks like a docs improvement we could make. I've created PR for fixing it. We expose a `getLabelText` prop for the `Rating` that can be set to any text that would be useful for the assistive technologies. I've updated it out to include the feedback ("Useless", "Poor" etc).

[2022-03-24 07:42] ivan-ngchakming commented on #31348
Hi, @ManitaJ123
I was able to make `<InputLabel>` show up with correct alignment by applying `size="small"` on `<FormControl>` instead of `<Select>`. Alternatively you can apply `size="small"` to both `<InputLabel>` and `<Select>`.

Here is a code sandbox example on select and select with chips: https://codesandbox.io/s/naughty-brahmagupta-0d5oi2

Would this help resolve your issue?

@michaldudak

[2022-03-24 08:38] michaldudak commented on #31849
Duplicate of #31380

[2022-03-24 08:40] hbjORbj commented on #31920
No. But I think I can work on this. I'd implement this feature on `ImageList` rather than on `Masonry`. What do you think?

[2022-03-24 08:41] michaldudak commented on #31877
@igordanchenko, that's correct. Thanks for your explanation.

[2022-03-24 08:41] #31877 closed

[2022-03-24 08:50] michaldudak commented on #31890
This could be a temporary issue with npm, some proxy, or your connection. Have you tried a different machine?

[2022-03-24 08:53] michaldudak commented on #31900
Duplicate of #31380

[2022-03-24 09:04] michaldudak commented on #31849
@igordanchenko The workaround you proposed seems to do the trick. Would you like to create a PR? It does change the appearance of the transition, but it seems we have to do this until webkit fixes the issue on their side.

Aside from changes in line 99, lines 140-141 also would have to be updated to fix the out transition.

[2022-03-24 09:36] ViduraAdikari commented on #29860
Had the same error for _my own npm component library_ created using mui v5.
changing mui, emotion versions didn't help.

this was the rollup.config.ts before:
[code]
following changes in rollup.config.ts solved it:

### Fix
New rollup.config.ts that uses only cjs
check rollup output formats [here](https://rollupjs.org/guide/en/#outputformat)

[code]

Sample repositories:
[component library](https:

[2022-03-24 10:07] thePaulBurger opened #31972 "[TextField] type="time" does not render 00 seconds"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [x] I have tested the latest version

### Current behavior 😯

When a value of '00:00:00' is passed to <TextField type='time'/>, the seconds are not rendered.

The seconds are rendered for '00:00:01'

### Expected behavior 🤔

Seconds selector is rendered for <TextField type='time' value={'00:00:00'}/>

### Steps to rep

[2022-03-24 11:28] hbjORbj commented on #31952
Hi.

Here is a working solution: https://codesandbox.io/s/lucid-heisenberg-pyhx25?file=/src/Demo.tsx

What you were looking for is `value` prop. Also, please note that the initial value passed to `value` prop shouldn't be `undefined` in order for you to use the component in controlled state.

[2022-03-24 11:28] #31952 closed

[2022-03-24 12:10] igordanchenko commented on #31849
Sure, I’ll send a PR shortly.

[2022-03-24 12:27] hbjORbj commented on #31972
Hi. Thanks for the report.

I think it is a bug. I will look into it and update you.

[2022-03-24 12:31] thePaulBurger commented on #31972
Thanks so much :)

On Thu, Mar 24, 2022, 2:27 PM Benny Joo ***@***.***> wrote:

[2022-03-24 12:53] LowPulsage opened #31973 "[docs] Demo HorizontalNonLinearStepper crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20HorizontalNonLinearStepper%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-stepper/
2. Translate page "Google translate" plugin to russian language
3. Click to "Complete Step" 3 times
3. dem

[2022-03-24 13:21] michaldudak commented on #31849
It would be great to use this workaround only in Safari 15.4, so the appearance of the animation is not degraded in other browsers.

[2022-03-24 14:46] mnajdova commented on #31920
Let's wait a bit to see if this is an issue many people are facing. You can always merge the last row in one element and use the `gridColumn` to spread it in multiple columns and adjust the elements in the center.

[2022-03-24 15:20] mnajdova commented on #28691
You would need to do a style override if you want to use secondary colors on list items, but I would say this is less common than using the primary colors, this is why the primary color is the default behavior.

The change was done in order to bring consistency between the states styles across different components, in my opinion this changes was going in the right direction, see https://github.com

[2022-03-24 15:26] mnajdova commented on #31957
What exactly are you seeing? I see the 5 cards, and that's what I would expect, no? Could you do a screenshot?

[2022-03-24 15:30] mnajdova commented on #31834
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-03-24 15:37] mnajdova commented on #31847
We cannot just remove the arabic localization that exists, as it would be a breaking change. What you say makes sense, but I am not an expert in arabic languages for sure :) Let's wait to see if we will see more upvotes to this. Would that work? In the mean time, you can add in your theme overrides the locale as you see fit.

[2022-03-24 15:40] mnajdova commented on #31821
Sounds like a bug to me, but could you share a codesandbox just to be sure we are not missing any information. Thank you!

[2022-03-24 16:03] arpitBhalla commented on #22426
https://github.com/arpitBhalla/habitrack
[habitrack.vercel.app/](https://habitrack.vercel.app/)

![Screenshot from 2022-03-23 17-13-16](https://user-images.githubusercontent.com/55053424/159691878-af968b12-3a87-4000-ae41-e46c983bb0a6.png)

[2022-03-24 16:40] nilslp opened #31976 "[typescript] Extending a component only allows limited props"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

TS: When extending a component e.g. `Button/MUIButton` the inherited `props` **are not** available e.g. `component`

### Expected behavior 🤔

TS: When extending a component e.g. `Button/MUIButton` the inherited `props` **are** available e.g. `component`

##

[2022-03-24 19:06] danilo-leal commented on #31968
Hey @brayanFlores23, thanks for the headsup! I'm not being able to reproduce it though. `EnhancedTable.js` is the one from the [Sorting & selecting topic](https://mui.com/components/tables/#sorting-amp-selecting), nothing seems to be crashing there over here.

[2022-03-24 19:10] danilo-leal commented on #31958
@siriwatknp do you think it is already possible to pull this off?

[2022-03-24 19:17] mcsimps2 commented on #16942
@JeffinJ My workaround was to created a nested div with `overflow: auto` or `overflow: scroll` so that it wasn't affected by the `overflow: visible` on the parent `Paper` element.  Just make sure to the inner div `height: 100%`.

[code]

[2022-03-24 20:56] Tanmay2711 opened #31977 "[Slider] Setting it as relative to a container is not working"
I am building my own image carousel component. I am using Slide component to slide in/out images. Setting it's container property using react ref to carousel container div so that images will start transitioning from edge of that reference element, however its not working and images always start transitioning from edge of computer screen (right/left)

here is my code -
**AppCarousel.js**

`import

[2022-03-24 21:28] #31202 closed

[2022-03-24 21:30] danilo-leal commented on #31977
Hey @Tanmay2711, thanks for opening the issue up! To better assist you and go through your problem, could you provide a CodeSanbox that contains the above code, so we're able to reproduce it?

[2022-03-24 21:44] aleppek opened #31978 "[ComponentName] DataGridPro - Clicking header and scrolling causes headers to skew"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In a DataGrid with a somewhat large number of columns, if you scroll all the way to the right, click on a column header (not the menu or the sort icon, but the label), then scroll back left, all the column headers will be skewed left relative to their colum

[2022-03-24 22:02] MehYam opened #31979 "[docs] v5 documentation site breaks intermittently"
### Duplicates

- [X] I have searched the existing issues

### Current behavior 😯

This sounds like a regression of this closed and locked bug: https://github.com/mui/material-ui/issues/28368

I've been seeing this intermittently for the past week.  The embedded examples do not respond or work at all, and the per-example toggle controls (view source, JS<->TS swap, etc) do not appear.  I see this 4

[2022-03-24 22:09] jacobleesinger commented on #29878
For anyone else who runs into this issue, note that `z-index` has no effect on elements with `position: static`, so if your `AppBar` has `position='static'` you will probably want to change it to `position='relative'`

[2022-03-24 22:57] danilo-leal commented on #31978
Moving this issue over to the X repo.

[2022-03-24 22:59] oliviertassinari commented on #31979
I can't reproduce (FR)

[2022-03-25 00:08] #31854 closed

[2022-03-25 03:24] siriwatknp commented on #31958
It is not perfect (I don't think you can use Tooltip because the extra element is wrapped inside the AvatarGroup) but you can compose the popper by yourself like this: https://codesandbox.io/s/groupavatars-material-demo-forked-o1skt9?file=/demo.tsx

[2022-03-25 03:27] siriwatknp commented on #31958
In my opinion, the AvartarGroup should not be this complicated. It should be like this:

[code]

[2022-03-25 04:15] FernandoGOT commented on #30854
For anyone commig with the same error, try to update to the `5.4.3` version of the `@mui/material` lib

[2022-03-25 07:17] ivan-ngchakming opened #31981 "[docs] Menu unstyled page auto focus to useMenu and useMenuItem hooks demo"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Upon opening the Menu unstyled componet doc, the `useMenu and useMenuItem hooks` demo is set as the active element automatically, force scrolling down to this demo instead of the start of the page.

### Expected behavior 🤔

Disable set focus to elements in

[2022-03-25 07:32] Lani opened #31982 "[TextField] `MuiOutlinedInput` callback in styleOverrides sometimes passes ownerState as undefined"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The ownerState parameter in the example below is sometimes undefined:

[code]

### Expected behavior 🤔

The ownerState parameter should never be undefined.

### Workaround
Return an empty object if ownerState is undefined.

### Steps to reproduce 🕹

Steps:

[2022-03-25 08:23] dohomi commented on #31920
@hbjORbj the `Masonry` element is not using grid layout. My feature request only addresses the `standard` variant of `ImageList`

[2022-03-25 09:54] adhyayaThakur commented on #31972
@thePaulBurger , @hbjORbj .

I looked into this bug, and I observed that input in html5 itself behave this way only thus the values. We can correct it but we have to intervene in between and give value itself on the condition. I am attaching the codesandbox to illustrate the same.

https://codesandbox.io/s/codesandbox-for-bug-fpmg14?file=/index.html.

Thankyou.

[2022-03-25 10:01] adhyayaThakur commented on #31981
Hello, may I take this issue.

[2022-03-25 10:12] stefanprobst opened #31985 "[Pagination] It should render an ordered list"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

the current `Pagination` component renders an unordered list (and has a slot named `ul`).

### Expected behavior 🤔

i think it would make sense to render an ordered list `ol` by default, or provide an option changing `ul` to `ol`.

### Steps to reproduce 🕹

[2022-03-25 10:23] stefanprobst opened #31986 "[docs] Drawer demos should nest ListItemButton in ListItem"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

the [drawer examples in the docs](https://mui.com/components/drawers/) render:

[code]

which results in:

[code]

### Expected behavior 🤔

if i'm understanding the [`List` components docs](https://mui.com/components/lists/) correctly, `ListItemButton` shou

[2022-03-25 10:30] #29688 closed

[2022-03-25 10:34] mnajdova commented on #31986
You are correct, the `ListItemButton` should be wrapped inside `ListItem`. Would you like to create a PR for updating the demos?

[2022-03-25 11:17] stefanprobst commented on #31986
sure :+1:

[2022-03-25 11:32] siriwatknp commented on #20470
@eps1lon What do you think if we introduce `ChipButton` specifically for the clickable chips? Because at any point, it is either non-clickable or clickable (it reminds me of the `<ListItem button>` case)

[code]

[2022-03-25 12:38] ivan-ngchakming opened #31988 "[scripts] cannot generate api docs for only one file"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Running `yarn docs:api --help` shows the following descriptions, but it also clears and remove all existing api-docs files.

[code]

And running `yarn docs:api --grep "some regexp"` result in the same issue: all api docs removed, and I can't seem to make it

[2022-03-25 14:53] dangermouse12 commented on #10278
Still an issue

[2022-03-25 15:35] Tanmay2711 commented on #31977
@danilo-leal  - Sorry for not able to provide codebox link - here is code box link where you can see this issue is reproducible.

https://codesandbox.io/s/distracted-sanderson-bj7thn?file=/src/AppCarousel.js

https://bj7thn.csb.app/

[2022-03-25 16:45] markolofsen commented on #22426
**Product:** [Pixel Streaming with React.js](https://metaeditor.io/)
**The problem solved:** MetaEditor streamlines PixelStreaming development to allow businesses to easily deploy and customize their ReactJS application for Unreal Engine.
**Company:** UnrealOS
Link: https://metaeditor.io/

Screenshot:
![MetaEditor](https://metaeditor.io/assets/video.gif?v=1)

[2022-03-25 19:50] StefanIgnjatovic12 commented on #18494
I'm having an issue regarding this that I would appreciate some help with.

I want to have non-selectable text above my selectable options ie like

[code]

The way I have implemented it using my data:

[code]

I noticed that clicking on the MenuItems doesn't do anything so I found this thread. Is there any way around the Box issue? I tried using fragments instead of box in my mapping but MUI doesn

[2022-03-25 20:18] CWSites commented on #29301
The docs do not show `label` as required, the typing seems fine but there should be a required asterisk next to it on this page https://mui.com/api/form-control-label/#main-content

[2022-03-26 00:08] #31422 closed

[2022-03-26 03:54] MehYam commented on #31979
Ahah: I was seeing it simultaneously on one machine but not another just now at https://mui.com/components/dialogs/ - I cleared cache on the problem machine and it fixed itself.  Maybe your doc deployments aren't busting/expiring cache correctly, or maybe you need to keep old resources around?

In any case, workaround for anyone seeing this is to clear cache or CTRL-F5 the page.  Thanks for the re

[2022-03-26 07:17] bastien-datalchemy commented on #28925
Luxon adapter also need string, bad idea to drop string

[2022-03-26 08:23] HeppokoNeet opened #31992 "Layout is weird whenever in first rendering"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When the first rendering, Material UI components is so weird.
<img width="1293" alt="Gxcye" src="https://user-images.githubusercontent.com/36767393/160230893-aa227b3d-d1ed-479a-bfeb-f01839699983.png">

Select is not full length, TransferList is not filled c

[2022-03-26 09:58] mrxdst opened #31993 "Prop to disable auto advance to next view in time and date pickers"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

A simple boolean prop `disableAutoAdvanceNextView`.
This prop simply blocks the logic that is used to auto advance to the next view.

### Examples 🌈

A workflow could be as following.

1. User starts by selecting any hour.
2. Some output is produced from the selecte

[2022-03-26 11:59] MahmoudMans commented on #31206
@rferreira98 still working on it

[2022-03-26 13:37] michalzard commented on #31890
Hey there, apparently it was some issue with npm, day later it started working

[2022-03-26 13:37] #31890 closed

[2022-03-26 13:44] abhinav-22-tech commented on #31972
@hbjORbj Will, I take that issue?

[2022-03-26 14:53] larts85 opened #31995 "[system] experimentalStyled has no array media query feature"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It will be nice that `experimentalStyled` have the same array media query feature that `sx` props has, passing different styles in an array that relate its positions to the configured breakpoints `xs, sm, md,` etc

### Examples 🌈

_No response_

### Motivation 🔦

[c

[2022-03-26 15:19] MahmoudMans commented on #31797
#31996

[2022-03-26 16:00] mostafa-gado commented on #31561
Sorry @danilo-leal for replying this late. Well I didn't because as the docs stated I only use plugins if I am using emotion or styled-components which I don't. Did you try overriding the theme like in the docs second step? Did it work?

[2022-03-26 16:25] danilo-leal commented on #31977
Just noticed that you're using an older version of Material UI. Have you tried using the latest one to see if the problem persists?

[2022-03-26 18:22] danilo-leal commented on #31992
Hey @HeppokoNeet, thanks for opening the issue up. I believe the best way to assist you somehow is if you provide a CodeSandbox which reproduces the error.

[2022-03-26 18:47] cs0408 commented on #13793
Thanks Brother, Actually I searched last 2 3 days but finally i got a answer

[2022-03-26 20:07] Tanmay2711 commented on #31977
I have updated Material UI version, seems issue is partially resolved. I have 4 child items in my Carousel component and for some children - its transitioning from reference container but for some child it still transitions from edge of the  screen. you can refer to below updated URL -
https://codesandbox.io/s/vigilant-jackson-1pmwc5?file=/src/App.js
https://1pmwc5.csb.app/

Expected - transition

[2022-03-26 21:01] oliviertassinari commented on #19938
@toastal The issue we track here is the use of inline-style. For example, if we consider:

https://github.com/mui/material-ui/blob/3aa59189e566baa225a89f962214441f02787abc/packages/mui-base/src/TextareaAutosize/TextareaAutosize.js#L171-L177

How do we replace this to be compatible without `style-src: 'unsafe-inline'` https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy

[2022-03-26 21:03] oliviertassinari commented on #13364
This issue is solved in v5.

[2022-03-26 22:24] ramosbugs commented on #19938
I wonder if this library can take a similar approach to what Next.JS does to solve this issue: hoist the dynamic CSS into a `<style>` block with a nonce that the CSP can reference: https://github.com/vercel/next.js/issues/18557 (implemented in https://github.com/vercel/next.js/pull/19150). Then, none of the CSS is actually rendered inline, but the developer experience is pretty similar (vs. static

[2022-03-27 00:36] omridevk commented on #27380
bump, doesn't work with nextjs app

[2022-03-27 02:57] toastal commented on #19938
This could easily be a utility class that is pushed/popped instead of needing to edit the CSS “dynamically” (e.g. `.MUITextarea.shouldHideOverflow { overflow: hidden }`) (or if CSS variables where [on the allowlist](https://github.com/w3c/webappsec-csp/issues/174) for CSP). JavaScript is allowed to dynamically add/remove items from the `classList` with a CSP concern so why is this not the first so

[2022-03-28 03:22] manlao opened #32016 "[icons] "Cases" filled icon doesn't seem right"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[https://mui.com/components/material-icons/?query=cases](https://mui.com/components/material-icons/?query=cases)

### Expected behavior 🤔

[https://fonts.google.com/icons?icon.style=Filled&icon.query=cases](https://fonts.google.com/icons?icon.style=Filled&i

[2022-03-28 06:40] PunitSoniME commented on #32016
What is the issue ?
I don't get it

[2022-03-28 07:16] manlao commented on #32016
I'm using chrome 99.0.4844.84

"Cases" icon in mui.com (v5.5.2)
<img width="175" alt="image" src="https://user-images.githubusercontent.com/1523671/160344710-f6774219-c328-45bc-9e66-9b0389cf4754.png">

"Cases" icon in fonts.google.com
<img width="193" alt="image" src="https://user-images.githubusercontent.com/1523671/160345736-0cbeaff3-828a-4917-8906-436936bbb6c3.png">

@PunitSoniME

[2022-03-28 07:31] jdev-LRHR opened #32017 "[TextField] `select` props blinks on IOS 15.4 safari"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

TextField with 'select' props blinks on IOS 15.4 safari. it works fine with other browsers(Chrome, another version of ios), but it doesn't work only ios 15.4 safari.

### Expected behavior 🤔

expect it to work naturally without blinking

### Steps to reprod

[2022-03-28 08:06] AmirHosseinNP commented on #31306
No. I'm not using SSR. This is a [test repo](https://github.com/AmirHosseinNP/next-test) that you could use to see the result. Oh and another thing that I understand is that the styles of the components are added to the head of the page too (each component has a corresponding style tag in the head).

[2022-03-28 08:36] yingapp commented on #31337
I solved the problem. Please close the issue.

[2022-03-28 09:00] mnajdova commented on #31995
You can define the values both using an array or object containing the breakpoints as keys, see https://codesandbox.io/s/xenodochial-herschel-66c7gh?file=/src/App.tsx

Not sure on which version you are currently, but this works in the latest version, and the util is called `styled()` :)

[2022-03-28 09:01] #31995 closed

[2022-03-28 09:07] #31357 closed

[2022-03-28 09:07] #31364 closed

[2022-03-28 09:34] mnajdova commented on #27380
https://codesandbox.io/s/hopeful-browser-4q17t5?file=/README.md here is a working example

[2022-03-28 09:37] mnajdova commented on #31920
@dohomi I believe this is a very edge case, I would propose adding the elements from the last row in one element, and spreading that one in all columns. You can then align them as you want them. I would say your request is the opposite of what a grid should look like so I wouldn't add it as a feature unless we see lot of people complaining about it.

[2022-03-28 09:47] mnajdova commented on #31306
Thanks for the repo, I thought it is related to SSR, but now I saw that you are trying to do this for the pages generated by `next export`. To be honest, I am not sure how this can be configured, I know that for the SSR, we need emotion server in order to extract the styles and get all chunks.

@Andarist do you have some suggestion here?

[2022-03-28 09:51] #31380 closed

[2022-03-28 09:55] siriwatknp commented on #31857
@danilo-leal I think misunderstood the Link component (just found out that it inherits Typography) 😢. Let me dig deeper and find what causes the issue.

[2022-03-28 10:01] Andarist commented on #31306
`next export` is still rendering things on the server though.

I don't have an example with `extractCriticalToChunks` at hand - but basically what you need to do if you want to have those styles in a single style element is to implement custom `getInitialProps` in a custom `_document`. An example of that can be found [here](https://github.com/vercel/next.js/blob/0d401ddcb58b6b602c0ff7098893c91f973

[2022-03-28 10:35] ArkadiuszDyczkowski opened #32020 "Tooltip from '@mui/material'"
Hey currently in version "5.5.0" exists problem with mui tooltip.

Problem is based on parameter placement.

If there is litle(but i can see enougth to get rendered) space above the component tooltip will render under.

I sugest describe it in description of parameter or fix it

[2022-03-28 10:55] oliviertassinari commented on #32020
Please provide a **minimal** reproduction test case with the latest version. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2022-03-28 10:57] oliviertassinari commented on #32020
This is by design, there is a small margin so it never touch the edges of the viewport.

<img width="340" alt="Screenshot 2022-03-28 at 12 56 53" src="https://user-images.githubusercontent.com/3165635/160383772-1b0b0819-935b-44ca-83a9-834b46ad2641.png">

https://mui.com/components/tooltips/#triggers

[2022-03-28 11:25] indicava opened #32022 "[Dialog] Not supporting RTL direction from the theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Following the guidelines provided here - https://mui.com/guides/right-to-left/ I created a TextField and input components which work from right-to-left correctly. When wrapping these components in a Dialog component they are no longer RTL oriented in direct

[2022-03-28 11:36] #31337 closed

[2022-03-28 11:45] daniel-rabe commented on #24966
its in jss: https://cssinjs.org/jss-syntax/?v=v10.9.0 so as long mui uses jss we are fine :)

[2022-03-28 11:53] ArkadiuszDyczkowski commented on #32020
I know that.
But still if i enter on documentation go to provided code sandbox i see that not work correctly how props say it should.
![image](https://user-images.githubusercontent.com/51314454/160392345-3f18579c-701b-4ac1-91c6-e8e50d6662da.png)

[2022-03-28 12:15] constantin-melniciuc commented on #30717
This also worked for me, in my case it was `minDate={moment(minDate as Date)}`

[2022-03-28 12:53] oliviertassinari commented on #32020
@ArkadiuszDyczkowski I see, sure, we could document the positioning behavior as well as the options available. For instance, link back to https://mui.com/components/popper/#scroll-playground on the tooltip page.

[2022-03-28 13:52] simbahandiane opened #32024 "[Autocomplete] Reset even if useForm's `reset()` function is used"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Doesn't reset event if I use the reset() functionatility of the useForm.

### Expected behavior 🤔

Should reset the same as the other material ui components

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

[2022-03-28 20:29] waugh opened #32026 "[docs] Incorrect use of "Ukranian people" in message of support for Ukraine"
The website says, "MUI stands in solidarity with the Ukrainian people against the Russian invasion." This message is incorrect because it uses an ambiguous term. "Ukrainian people" could mean all the people who live in Ukraine (including the breakaway regions) and are or used to be considered citizens, or it could just mean people of Ukrainian ethnicity. A reader might like to know whether the sol

[2022-03-28 20:47] nafg commented on #32026
Why on earth would someone think such a thing?

[2022-03-28 21:01] totszwai commented on #12921
Guys, `Tooltip` breaks `ToggleButton`.

The selected CSS class will not get set if you wraps the `Tooltip` around the button.

[code]

[2022-03-28 21:22] waugh commented on #32026
On account of the demographic facts of the territory of Ukraine as it was right after the dissolution of the USSR and on account of the way that the people who live there evidently use the terms in their languages that get translated into English as "Ukrainian" (I do not speak Ukrainian nor Russian, but am going by what comes out in translation). It appears that unlike "American" for example, "Ukr

[2022-03-28 21:32] waugh commented on #32026
If you think it is not ambiguous, which do you think it means?

[2022-03-28 21:35] cvanem commented on #32026
I think the statement implies that they stand with Ukrainian people who are against the Russian invasion, whether that be ethnic or geographical related is irrelevant.  You are making assumptions IMO.

[2022-03-28 21:39] waugh commented on #32026
What kind of rule of interpretation would translate "the Ukrainian people" into "Ukrainian people who are against the Russian invasion"? That seems arbitrary. Maybe when someone says "the American people", it only means "the American people who are in favor of laws prohibiting abortion" or "the American people who are in favor of torture", by the same token. What possible reasoning would lead to t

[2022-03-28 21:43] waugh commented on #32026
If that's the intent, then I propose a clarification to the wording, from "MUI stands in solidarity with the Ukrainian people against the Russian invasion." to "MUI stands in solidarity with those Ukrainian people who oppose the Russian invasion." I suppose a corporation can state a political position like that, since corporations are persons according to US case law. But those speaking for the co

[2022-03-28 21:59] cvanem commented on #32026
It isn't MUI's fault if people misread or interpret the message as they see fit.  The statement clearly says "against the Russian invasion".  They aren't trying to define the definition of Ukrainian people.  As with coding, KISS.

[2022-03-28 22:13] arpitdalal commented on #27820
I am also facing the same issue with using `NavLink` or `Link` component coming from `react-router-dom`, `BottomNavigationAction` doesn't like ref of `HTMLAnchorElement`? Please see the line 38 in this [codesandbox file](https://codesandbox.io/s/mui-bottom-navigation-action-fcoi7l?file=/src/BottomNavigationLink.tsx)
Am I doing something wrong here?

[2022-03-29 00:41] mbrookes commented on #32026
@waugh Thank you for your concern. Hopefully the preamble to the Ukrainian constitution clears up any misgivings you might have:

_https://rm.coe.int/constitution-of-ukraine/168071f58b_

_Emphasis mine_. I thought it appropriate the keep the full sentence (with original formatting), because I think it says a lot about what Ukrainians stand for, and stand to lose.

[2022-03-29 00:41] #32026 closed

[2022-03-29 00:51] totszwai commented on #21026
Is my [comment](https://github.com/mui/material-ui/issues/12921#issuecomment-1081138983) over here more suited for this issue? Or are they pretty much the same thing under the hood?

[2022-03-29 01:34] dohomi commented on #31920
@mnajdova I totally understand your point. I just wanted to raise attention that other users might face this during their upgrade from v4 => v5

[2022-03-29 06:20] ironoxidey opened #32028 "[docs] Demo SearchIcons crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20SearchIcons%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/components/material-icons/?query=bulb&theme=Two+tone
2. ??
3. demo *SearchIcons* crashes

## Your Environment
| Tech         | Version |
|----------

[2022-03-29 06:32] siriwatknp commented on #32024
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-03-29 06:34] siriwatknp commented on #32028
Please try to reload and clear cache.

[2022-03-29 06:34] #32028 closed

[2022-03-29 06:39] siriwatknp commented on #31973
I can't reproduce.

[2022-03-29 06:43] michaldudak commented on #29301
Looks like a regression was introduced in #31139. Could you please open a new issue so we can track it?

[2022-03-29 06:45] siriwatknp commented on #31961
I think `Tabs` does not support a custom variant yet. It is a bit different from Button because Tab's variant is logic + styling where as Button's variant is all about styling.

If you'd like to change only the styles of the Tabs, please consider `styled` API or via [theming API](https://mui.com/customization/theming/). More details about ["How to customize"](https://mui.com/customization/how-to-c

[2022-03-29 06:47] #31961 closed

[2022-03-29 07:46] #31868 closed

[2022-03-29 08:02] abhinav-22-tech commented on #30600
@mnajdova Can I create a PR?

[2022-03-29 08:03] mdyu1000 commented on #30569
@pothosproject How did you solve that? I ran into same problem
<img width="907" alt="image" src="https://user-images.githubusercontent.com/25993814/160560571-5d4fbdd6-e3bf-4603-aae2-8834c9562340.png">

My environment
[code]

[2022-03-29 08:50] hbjORbj commented on #30600
@abhinav-22-tech

Of course, you can. Thank you!

[2022-03-29 08:51] hbjORbj commented on #31972
@abhinav-22-tech

Hey, sure, no problem 👍

[2022-03-29 10:32] pzi commented on #31277
Can we please get the PR reviewed and potentially merged?

[2022-03-29 11:01] shelimov commented on #28668
Or you could try using react context to pass arguments down to the component. I don't know how it performs in a large trees, but for me it works just fine

[2022-03-29 11:02] erikjalevik commented on #29595
I would like to take advantage of this feature for custom colors too. How can I generate light and dark variants of colors when creating the theme?

[2022-03-29 11:26] oliviertassinari commented on #31958
Introduced in #19853

Introduced in #29649

I think that the initial incentive for the `max` prop was that if a developer queries the avatars **from an API**, then it can keep his source simple. We can compare the API between Joy UI and Material UI.

What is sold on #31980:

[code]

What I think should be done in production:

[code]

So, I would argue, it depends 😁.

[2022-03-29 11:43] michaldudak commented on #31981
@adhyayaThakur sure, go ahead. Let's modify the demo to not display the menu immediately, but after clicking on a button (similar to other demos).

[2022-03-29 12:20] emad-ir commented on #30822
Any updates on this issue?

[2022-03-29 13:07] Hock-David opened #32033 "MobileDateTimePicker's Cancel button does not work."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Changes are not canceled when the CANCEL button is pressed.
Selecting a date will fire onChange, and the date will be updated.

It has already been fixed in the DatePicker variant ( #30731 )

### Expected behavior 🤔

Make the firing timing of onChange only

[2022-03-29 13:14] alexarnaud commented on #31142
Hello, when testing accessibility of a website I discovered this issue too.

It prevents motor disabled people to manage the calendar easily and makes life for keyboard users in general harder.

[2022-03-29 13:39] alexarnaud commented on #31142
@jazhall Is it possible to create a label for accessibility and added to this issue? It'd simplify finding accessibility related issues in the future.

Thanks in advance.

[2022-03-29 13:43] hvahan commented on #24480
@oliviertassinari is there any update regarding this issue?

[2022-03-29 14:13] limboguard commented on #27851
I am getting the same issue, was this closed because it was fixed?

[2022-03-29 14:33] kayb-proxora opened #32035 "[FocusTrap] Import error when trying to build the latest version"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I cannot build the latest MUI version, always getting the following error:

[code]

I'm using the following versions:

[code]

What I'm doing wrong?

### Expected behavior 🤔

Project should build.

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context

[2022-03-29 14:41] mapache-salvaje opened #32036 "[docs-infra] OG images are not descriptive"
### Summary 💡

When sharing links from MUI's blog or docs, the OG card is a very generic image used across all pages.

<img width="699" alt="Screen Shot 2022-03-29 at 9 26 41 AM" src="https://user-images.githubusercontent.com/71297412/160635309-012fdc91-5ed6-436a-8a56-71b7e63f21aa.png">

This doesn't give the reader much information about what's inside, and doesn't offer a good reason to click thr

[2022-03-29 14:42] mnajdova commented on #32035
Could be related to https://github.com/mui/material-ui/pull/31954 Can you copy the yarn.lock or package-lock.json's version of @mui/base and @mui/material?

[2022-03-29 14:55] mnajdova commented on #32035
Here is a working demo - https://codesandbox.io/s/zen-kate-jzs8lr?file=/src/App.tsx

[2022-03-29 15:17] tbrj-capco opened #32038 "Snapshot test issue with mui Tab component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The generated id, aria-controls and aria-labelledby is always new and snapshot can not match.

<img width="1157" alt="Screenshot 2022-03-29 at 16 08 02" src="https://user-images.githubusercontent.com/99333021/160644028-d9666bb9-1690-4f7c-9e94-c587415463ff.p

[2022-03-29 15:18] seisenreich commented on #31392
Well that could be the solution for all places where we use Theme UI's sx prop at the moment and Box's performance won't be an issue. I'm referring to this: https://mui.com/system/basics/#performance-tradeoff.
To be fair: There is no such benchmark for Theme UI's sx prop elements in their docs.
I think we'll give it a try!

Sure, we'll try to make a benchmark of the case in isolation and share it

[2022-03-29 15:41] mnajdova commented on #31392
@seisenreich actually, I now remembered that we have done some benchmarks for this. These are the results we got: https://github.com/mui/material-ui/blob/master/benchmark/browser/README.md

If you can check the scenarios for Theme UI and Material UI, in the same folder, you will see what actually we are testing. These are the comparison of these two:

Box MUI:
  209 ±15%
Box Theme-UI:
  172 ±8%

P

[2022-03-29 15:45] kayb-proxora commented on #32035
These are my entries:

[code]

[code]

[2022-03-29 17:21] tech-meppem opened #32039 "[Modal] Modal has aria-hidden set to true, even if keepMounted is true, and it's partly visible."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

aria-hidden is always set to true for a closed drawer.
However, in situations (like with [Swipeable Edge Drawers](https://mui.com/components/drawers/#swipeable-edge)), you might not want to have this set.
Overriding via Props does not work, and manually set

[2022-03-29 17:37] Ethaan opened #32040 "[TimePicker] InputValue overwrite when open/close the Time Dialog"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Whatever you type, as soon as you open the Dialog and close it (no change or anything) will overwrite to the last value you select on the picker

https://user-images.githubusercontent.com/8289486/160671519-f89748ce-c2c6-4a83-b25d-b30a549a6a87.mov

### Expec

[2022-03-29 19:28] embeddedt commented on #31211
I have the same question. I'm considering upgrading to MUI v5, but one of my dependencies still relies on Material-UI v4 (and likely won't be updated soon), so I won't be able to upgrade unless the two versions can run side-by-side.

[2022-03-29 21:09] jeisux92 commented on #32040
I just ran into the same issue but for `DateTimePicker`. When I type the date and the open and close de dialog the date is reverted.

https://user-images.githubusercontent.com/31553757/160707529-52bb4ce3-96e1-450c-97f3-16d1c03e691f.mov

[2022-03-29 21:34] alikleitcr7 opened #32042 "[AutoComplete] undefined text when enter is pressed using "freeSolo" with "getOptionLabel""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [x] I have tested the latest version

### Current behavior 😯

When using the `freeSolo` along with `getOptionLabel` on an array of objects, and the user types any value and presses enter, the inputTextBox will have "undefined".

[code]

[code sandbox here](https://codesandbox.io/s/freesolo-material-demo-forked-6p9z5c?

[2022-03-30 02:39] siriwatknp commented on #31392
Ideally, emotion should provide us with a way to use our own React context (that would solve a lot of existing issues). I propose that we open a feature request to emotion/styled-components and do the POC on what's @mnajdova proposed to see how much impact we have.

I see some possible ways:
1. The feature request is not considered. We continue making POC as an experimental workaround.
2. The feat

[2022-03-30 02:43] dohomi opened #32043 "[Divider] Make the orientation prop breakpoint aware"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It would be a great feature if the orientation of `Divider` would be breakpoint aware.

### Examples 🌈

[code]

### Motivation 🔦

On mobile devices a divider would be rather horizontal instead of vertical. It would be great if the orientation could add the breakpoin

[2022-03-30 03:01] danilo-leal commented on #31561
Did you make sure to set the `dir` attribute on the body tag? It works as expected if I uncomment the `<div dir="rtl">` on the CodeSandbox.

[2022-03-30 03:30] sylhuang commented on #28977
Any update on this one? Has someone got an elegant solution?

[2022-03-30 04:33] siriwatknp commented on #31857
Updated the issue title and label since this is a bug on the Link component (not related to `system`)

[2022-03-30 05:17] aaarichter opened #32046 "[Link] a link element's intrinsic alt prop is not support in Typescript"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

With Typescript, when trying to pass an `alt` prop with the `Link` component, Typescript will throw an error

### Expected behavior 🤔

It seems that the [`AnchorHTMLAttributes`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/inde

[2022-03-30 05:34] qwertyvipul opened #32047 "Drag and drop in MUI TabList"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hi, requesting for drag & drop feature in MUI TabList as this is a standard requirement in many TabList use cases. For example - browser tabs.

### Examples 🌈

_No response_

### Motivation 🔦

I have been working on an application with this requirement. I tried impl

[2022-03-30 06:21] sthenault commented on #31013
Hello, any update on this? Thx!

[2022-03-30 07:05] mnajdova opened #32049 "Migrate Material UI components to support theme CSS variables"
# We need your help!

Starting from 5.6.0 we are adding a new [experimental API](https://github.com/mui/material-ui/pull/31138) for supporting CSS variables in the Material UI components. You can see more details for this new feature on https://github.com/mui/material-ui/issues/27651 or our [docs page](https://mui.com/material-ui/experimental-api/css-variables/).

The changes are **_not breaking_*

[2022-03-30 07:28] ron-dadon commented on #31961
Hi @siriwatknp , thanks for the reply, but I fail to see where the variant contains logic in Tabs (looked at the source code, the only thing I see is that the variant is used to set the `fullWidth` prop on the child).
Personally, I really dislike the `styled` option, I do all the styling in a theme and define custom variants where required, and it worked great until this one :)

I can solve it wit

[2022-03-30 07:38] ziedHamdi opened #32051 "[examples] SSR on the Next.js official example not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Cloning the official next.js ssr example is not doing ssr at all:

Disabling javascript in the browser shows a raw html page (with almost no css except those for fonts)

### Expected behavior 🤔

Expected to see the page styled

### Steps to reproduce 🕹

Ste

[2022-03-30 07:49] ziedHamdi commented on #32051
![Capture d’écran de 2022-03-30 09-25-46](https://user-images.githubusercontent.com/7271508/160779689-e81fdcc8-e887-415b-8a56-27a0b4e70f99.png)

[2022-03-30 08:38] DaCao commented on #19576
This works well!
However, how can I change the color of `helperText` along with  the `label` when switching to darkMode?
What is the css selector syntax for this `helperText` prop in `TextField` ??

[2022-03-30 08:39] DaCao commented on #19576
This works well!
However, how can I change the color of `helperText` along with  the `label` when switching to darkMode?
What is the css selector syntax for this `helperText` prop in `TextField` ??

[2022-03-30 09:28] TomFreudenberg opened #32053 "[TextField] Screen flickering using variant standard when changing theme mode"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

When toggling the theme between dark and light the labels and (animated bottom line) should get re-animated by transition.

Currently even if all is done for flicker free experience, the transition starts on every theme mode change.

You could disable all transition

[2022-03-30 09:31] worlderland opened #32054 "[Drawer] Temporary drawer prevents other keyboard inputs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

We are using a temporary drawer on top of a 3D point cloud viewer, that uses W,A,S,D and up, down, left, right arrows for navigation within the viewer.
What happens is basically that, when we have a drawer open, we lose the navigation capability, because th

[2022-03-30 09:58] aschillio commented on #29266
I have exactly the same issue as @dohomi. Any update on this matter ? This is also breaking all my app grids.

[2022-03-30 10:09] michaldudak commented on #31348
@ivan-ngchakming Thanks for further investigation. You're right that passing the size back from Select into FormControl is not a good idea.

Let's start by adding a demo showcasing how to use a small `Select`. Would you like to create a PR?

[2022-03-30 10:25] michaldudak opened #32057 "[system] Move layout components to the System package"
The layout components are not specific to Material Design and can be used in any design system.
Therefore it makes sense to move them from @mui/material to the design-agnostic @mui/system.
It would allow them to be used from Joy and in Base demos without having to import @mui/material.

The components should be reexported from @mui/material for convenience (and to avoid introducing breaking change

[2022-03-30 10:25] tugayRad commented on #30249
Hello, we have the same issue, when will this get fixed?

[2022-03-30 10:45] HeppokoNeet opened #32058 "[TransferList] Is there way to have id in the TransferList component too?"
Now My code is:
[code]

I make user to select as string in transferlist.
[code]

But the server side needs id.
Select component in material ui can have id like this:
[code]

Is there way to have id in transferlist too?

[2022-03-30 10:45] tombburnell opened #32059 "Contained and outline buttons has no background colour or outline (until hover)."
When I create a contained button <Button variant="contained" /> I do not get any background colour until I hover over it.

Outline buttons do not have the outline.

<Button variant="text"/> looks ok.

This is happening even if I turn off my theme.

I am using next.js, I have also tried to emptying the contents of my global.css file.

Any ideas what might be causing this?

    "@mui/material": "^5.

[2022-03-30 10:52] tombburnell commented on #32059
I just upgraded and it fixed it.

[2022-03-30 10:52] #32059 closed

[2022-03-30 12:13] velialiev commented on #30038
same issue here, also just replaced LoadingButtonProps with my custom type that extend ButtonProps

[2022-03-30 12:20] velialiev opened #32061 "[LoadingButton] LoadingButtonProps freezes typescript compilation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [x] I have tested the latest version

### Current behavior 😯

TypeScript compilation freezes when I use LoadingButtonProps

It's the same issue like described here: https://github.com/mui/material-ui/issues/30038

### Expected behavior 🤔

TypeScript compilation should not freeze

### Steps to reproduce 🕹

Steps:

1. I

[2022-03-30 12:25] velialiev commented on #32061
Workaround for those who faced this issue is just use ButtonProps and add there loading field

`type Props = ButtonProps & {
  loading?: boolean
}`

[2022-03-30 12:38] mbrevda commented on #29844
React 18 [was released](https://reactjs.org/blog/2022/03/29/react-v18.html)!

[2022-03-30 13:28] danilo-leal commented on #32057
@michaldudak and @mnajdova would mind giving a short guide on how to do that? Wanted to help you out!

[2022-03-30 13:35] aaarichter commented on #32046
closing - apparently `alt` is not an `a` attribute  (https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-a-element). - since when and why - so weird from a11y perspective

[2022-03-30 13:36] michaldudak commented on #32057
Sure thing:

1. Move the contents of the /packages/mui-material/src/X/ to /packages/mui-system/src/X/ (where X is the component you want to migrate)
2. Make sure the component does not reference any files from @mui/material. They may use theming utilities from @mui/material. These imports should be changed to the corresponding System ones. This may be the hardest part.
3. Export the moved componen

[2022-03-30 13:38] dummy26 opened #32064 "[Card] Event propagation to CardActionArea is not stopping"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

https://stackoverflow.com/questions/71510171/preventing-event-propagation-to-cardactionarea

### Context 🔦

_No response_

### Your environment 🌎

_No response_

[2022-03-30 14:30] voliva commented on #30953
I can't upgrade my codebase to react 18 because of this issue - At this point Mui blocks upgrade to react 18.

[2022-03-30 14:41] #31348 closed

[2022-03-30 15:28] utkuEDF opened #32065 "[List] Keyboard navigation on nested list items not working as it should"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Tabbing into a nested list inside a menu list does not work as it should.
Elements on the nested list don't get focused only the list itself.

### Expected behavior 🤔

Tabbing into the menu, then the designated button. It is expected to focus the opened nes

[2022-03-30 18:12] igordanchenko commented on #32051
@ziedHamdi apparently something is not playing nice with React 18 here (React 18 was released literally 1 day ago)

You can resolve this issue by downgrading to React 17 in your package.json:

[code]

[2022-03-30 19:28] mnajdova commented on #32051
We probably want to update the react version in the examples until we are fully compatible with React 18

[2022-03-30 19:35] jkananen commented on #22257
Can a custom Typography variant be defined a certain element type by default?

The example above `<Typography variant="poster">poster</Typography>` yields in `<span>poster</span>`. What if I wanted it to be `<p>poster</p>`?

Yes this works `<Typography variant="poster" component="p">poster</Typography>` but passing the component prop every time feels unnecessary.

[2022-03-30 20:33] alepuente opened #32066 "InputBase Bug IOS 15.4 devices"
### Context 🔦

It is a react cordova proyect for android and IOS
The issue i am having is with InputBase.
As you can see in this video after entering some characters I press the cancell button on the right.
As desired the text gets errased and the focus on the input gets lost.
But after that no matter where I click, the input gets focused again.
This only occurs on IOS 15.4 devices

https://user-i

[2022-03-30 20:46] vaimeo commented on #28668
Any working snippet here?

[2022-03-30 20:49] mbrookes commented on #27851
It was closed because it had been left as incomplete for a few months, where in fact @chaserda had provided additional information, but the incomplete status hadn't been removed. Moving back to "needs triage"

[2022-03-30 21:49] yyq321 commented on #32040
Looks similar to #31919 and #31853
Should be fixed by #31929

[2022-03-30 23:24] passpe commented on #31073
I have the same problem, are there any updates?

[2022-03-31 00:30] #32066 closed

[2022-03-31 02:32] ANTARES-KOR opened #32068 "[examples] Change Next.js example's createEmotionCache from using 'prepend' to using 'insertionPoint'"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Emotion-js added a new feature 'insertionPoint' to createCache in [this pull request](https://github.com/emotion-js/emotion/pull/2521#issue-1031358294) and marked previous 'prepend' option as deprecated.

But Mui's next.js example uses prepend. [You can find It here

[2022-03-31 03:06] Ethaan commented on #32040
@yyq321 Yeah seems like, will close this one and subscribe to the PR, thanks!

[2022-03-31 03:07] ziedHamdi commented on #32051
@igordanchenko thanks for the fast reply, I'm happy that it's actually just a React 18 problem for the example.

I'd be interested in how you will find the problem in React 18:

Because I have React 17.0.2 in [my project](https://preprod.weally.org) and that's where I noticed SSR was not working anymore after migrating to mui5. [StackOverflow original problem](https://stackoverflow.com/questions/7

[2022-03-31 05:21] ziedHamdi commented on #32051
I just reproduced a 'non working' ssr version still in React 17.0.2 by starting with your working project and replacing index.js and some dependencies (a minimal subset of my project)

https://github.com/ziedHamdi/mui-next-ssr-error

I'd be glad to help, I just don't know where to start, so please do not hesitate to tell me where to dig

[2022-03-31 07:01] justcode-hj commented on #4387
Hey There !
Just needed to know, where to write disableAutoFocus ?

[2022-03-31 07:20] michaldudak opened #32072 "[docs] Improve the Base documentation"
Make the Base docs comprehensive and compliant with our Style Guide (https://www.notion.so/mui-org/Style-guide-2a957a4168a54d47b14bae026d06a24b).

This is a follow-up to #31414.

## Docs to review

- Getting started
  - [x] ~~Installation - #32483~~
  - [x] ~~Overview - #32310~~
  - [x] ~~Usage & Customization - #32562~~

- Components

  - [x] ~~Input - #32096~~
  - [x] ~~Select - #32095~~
  - [x]

[2022-03-31 07:37] siriwatknp commented on #32057
I think we should not just move to the system, I propose that we use this opportunity to update the implementation of these components for the system.

**Why?**

1. To make sure that Grid implementation supports more use cases and fixes most of the [existing issues](https://github.com/mui/material-ui/issues?q=is%3Aopen+is%3Aissue+label%3A%22component%3A+Grid%22). The new implementation introduced

[2022-03-31 07:38] vaimeo commented on #28668
I found the way as mentioned on following document: https://github.com/mui/material-ui/blob/512896973499adbbda057e7f3685d1b23cc02de9/docs/src/components/productX/XTreeViewDemo.tsx

Step1
Add custom property along TreeItemContentProps on custom component create

[code]

Step2
Add custom property to with TreeItemProps
[code]
Step3

Add property in the component you are calling
` <CustomTreeItemChild

[2022-03-31 08:38] Valentin1918 commented on #31278
Invented some workaround to overcome this issue )

`
const CustomDesktopDatePicker: React.FC<DesktopDatePickerProps> = ({ onChange, ...props }) => {
  const [newDate, setNewDate] = React.useState<string>('');

  return (
    <DesktopDatePicker
      onChange={() => {}}
      onYearChange={(value) => {
        setNewDate(value);
        onChange(value);
      }}
      onAccept={(value) => {

[2022-03-31 08:39] jkananen commented on #22257
I'm blind and completely missed `variantMapping` in the [docs](https://mui.com/components/typography/#changing-the-semantic-element).

[2022-03-31 09:14] juhahinkula opened #32074 "MUI installation doesn't work with React 18"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Installation doesn't work with current React 18.0.0 version using npm. See the error below. The project has been created using the latest create-react-app. Installation works when using yarn.

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve depen

[2022-03-31 09:35] michaldudak opened #32075 "[SwitchUnstyled] Integrate with FormControlUnstyled"
Make SwitchUnstyled aware of the FormControlUnstyled context, similarly to how Material UI's Switch interacts with FormControl.

[2022-03-31 09:58] hbjORbj commented on #29266
Hi.

As suggested in this [comment](https://github.com/mui/material-ui/issues/32057#issuecomment-1084207637), we are likely to be on our way pretty soon to changing the implementation of `Grid` component to fix the issue. In the meantime, I think the quickest way to go about it is to simply tweak margins and paddings as suggested [here](https://github.com/mui/material-ui/issues/29266#issuecomment-

[2022-03-31 10:36] yjbin commented on #32017
I encountered the same problem, Is there a solution？

[2022-03-31 10:41] SkSumit opened #32077 "[TrapFocus] Documentation page shows 404 error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The [trap focus documentation page](https://mui.com/components/trap-focus/) shows **error 404 This page not found**

### Expected behavior 🤔

It should show the documentation page instead of the 404 error page.

### Steps to reproduce 🕹

Steps:

1. Go to ht

[2022-03-31 11:04] Ploppz opened #32078 "[Button] Warning "Firefox will never trigger the event." is wrong in v4, and Firefox does NOT trigger the event if it's in the correct place"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I get a warning
[code]

However, it turns out that the onClick event that is in the child DOES get triggered, while the onClick event on the button element DOES NOT get triggered.

### Expected behavior 🤔

I expect to either get no warning, or that the onCl

[2022-03-31 11:46] #31857 closed

[2022-03-31 12:12] michaldudak commented on #32077
The TrapFocus documentation has been moved to https://mui.com/base/react-trap-focus/. It seems that we forgot to update the link. Thanks for filing the issue.

[2022-03-31 12:59] bylly1 commented on #32074
Maybe you should try `npm install npm install @mui/material @emotion/react @emotion/styled --legacy-peer-deps`

[2022-03-31 13:14] bakrDj commented on #30207
Hey guys, I'm facing the same issue, I managed to overlook this issue when it came to mobile responsive as dragging will compensate this issue (in my case), but for full screen is a must, does anyone find a solution to this?

[2022-03-31 13:16] michaldudak commented on #32074
We're tracking the work to enable React 18 already in #29844.

[2022-03-31 13:16] #32074 closed

[2022-03-31 13:47] kayb-proxora commented on #32035
Is there anything I can do in the project to work around this error?

[2022-03-31 14:44] MatthijsMud opened #32082 "[ListItemButton] Does not cause cause elision for long primary/secondary `<ListItemText />` (with `noWrap`)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Elision styling does not take effect for `<ListItemText>` if it is nested in a `<ListItemButton>`, creating a very long line instead. This potentially also summons scrollbars depending on the container. Also, if a secondary action is present, the text goes

[2022-03-31 14:49] nemonemi commented on #26488
I second this feature request.
Also, it would be great if one could style `readonly` fields through the MUI theme configurator as well.
@oliviertassinari, would it be possible to get some traction on this ticket?

[2022-03-31 16:29] ErnestGrey commented on #30379
Hello

Having this issue as well, but when reading this thread the solution isn't that clear to me. I'm just trying to get an outlined input without a label to have a complete border and not have the border missing at the top. Where does the CSS for the fieldset need to be set? I'm a little curious as to why this seems to be so difficult to achieve? Any help would be appreciated.

Not using boot s

[2022-03-31 16:45] moshfiqrony commented on #30379
It's not that only using bootstrap will create the issue. If you have any styles that have styles for legend. It will create the issue. Try what  @cfecherolle mentioned. If it solves the problem then any other packages styles were creating the bug.

[2022-03-31 17:14] moshfiqrony commented on #30379
At first try if this is the solution that will work for you.

To do so. Add the code that @cfecherolle shared in your base style file.

Here by base style files I mean your root styles file.

[2022-03-31 18:51] Forfold opened #32084 "[Tab] selected styleOverrides ThemeOptions not applied"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When adding component `styleOverrides` to `MuiTab`, I don't see any of my changes reflected within the UI. I've tested this in two repos. Let me know if I'm going about styling tabs in v5 the wrong way and I'll close this issue.

---

**Example 1**

[code]

[2022-03-31 18:58] Forfold commented on #32084
Looks like in codesandbox I got a nice console warning to use `"&.Mui-selected"` nested under root instead of this className. I unfortunately didn't get this when making my changes in Storybook. I'll go ahead and close this issue, apologies for the bloat.

[2022-03-31 19:55] ekinertac commented on #30953
same problem here at React.v18, didn't tested on v17 thou

[2022-03-31 21:38] Therapychild commented on #32024
I came across the same issuse, It stemmed from the fact that my inputValue and Value were not identical. Since the value and inputValue are controlled separately, you have to manually reset or clear the inputValue. The problem came from when an option is selected, if sets BOTH the value and inputValue to that selection. here is my workaround.
1) Create a "reset" state within the component that you

[2022-04-01 01:00] #31968 closed

[2022-04-01 01:00] #31947 closed

[2022-04-01 01:00] #31834 closed

[2022-04-01 03:54] simbahandiane commented on #32024
Thank you for this. I have also found a way using custom event and useState.

[2022-04-01 04:23] ajmal-n opened #32085 "v5 is not supporting v4 Implementation and syntax"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

please ensure reverse compatibility for upcoming updates

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-04-01 05:06] mahamedh opened #32086 "[RadioGroup] Element div not allowed as child of element span in this context (suppressing further errors from this subtree)."
when using material ui radio button it error can show in nut shell HTML Checker..
[code]

[2022-04-01 07:39] RandyLiu6410 commented on #31211
I solved by generating prefix classname of v4 components.

`import * as React from 'react';
import { StylesProvider, createGenerateClassName } from '@material-ui/styles';

const generateClassName = createGenerateClassName({
  productionPrefix: 'c',
});

export default function App() {
  return <StylesProvider generateClassName={generateClassName}>...</StylesProvider>;
}`

[2022-04-01 07:46] siriwatknp commented on #32085
Can you provide more details? otherwise, there is nothing that we can follow up.

[2022-04-01 09:26] mnajdova commented on #32068
I can help implement this if someone is interested in creating a PR.

[2022-04-01 09:34] #32077 closed

[2022-04-01 09:56] latyaodessa opened #32087 "DateTimePicker resets to the previous state after clicking away"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

DateTimePicker resets to the previous state after clicking away.
In previous versions after clicking away, DateTimePicker took an intermediate state

### Expected behavior 🤔

Do not reset the DateTimePicker state to the previous state after clicking away

#

[2022-04-01 10:13] hbjORbj commented on #30207
@Mood-al Since you can reproduce the error, would you be willing to work on this further and open a PR?

[2022-04-01 10:15] alceil commented on #31084
I would like to take up this issue @danedavid @danilo-leal

[2022-04-01 10:43] dan-cooke commented on #31957
Wow this really does not make sense to me. When i created that sandbox, I saw the 5 cards - then an additional 5 cards at the bottom of the screen with strange styling. The only explanation would be remix or mui have since updated and fixed the issue

[2022-04-01 10:51] michaldudak commented on #31795
@siriwatknp indeed the problem comes from two calls to useButton. If you really need the MenuItem to have ListItemButton inside, you can prevent of the click handlers from being fired like so:

[code]

[2022-04-01 11:15] michaldudak opened #32088 "[MenuButton][base] Create the MenuButtonUnstyled component"
After creating demos for #30961 it became clear that leaving implementation of menu buttons to developers would force them to write a lot of code. We can create an abstraction for a button that triggers the appearance of a menu and responds to keyboard input (in a slightly different way than a normal button - pressing up/down arrow keys should also open the menu).

Bonus points for making it work

[2022-04-01 11:18] michaldudak opened #32089 "[Popper][base-ui] Extract a hook from PopperUnstyled"
As noted in https://github.com/mui/material-ui/pull/30961#discussion_r819596089, we could use a headless version of a Popper to add popup behavior to an arbitrary element.

[2022-04-01 12:33] danilo-leal commented on #31084
@alceil go ahead! =)

[2022-04-01 12:58] #32082 closed

[2022-04-01 14:07] mnajdova commented on #31392
@seisenreich regarding the perf of the `sx` prop, I saw this morning this really nice write up from @ryancogswell https://twitter.com/ryanecogswell/status/1509565142891065345?s=20&t=mXEhGCmgMFWUWHvVRY65pA I hope it would be helpful for your team.

[2022-04-01 17:24] kenianbei commented on #22426
Product: WoodCut: 3D modeling app for woodworking
Link: https://woodcut.app
Screenshot:
![woodcut-small](https://user-images.githubusercontent.com/1737865/161312291-f434924e-2191-463c-804f-4c7bfd4c6a3c.png)

[2022-04-01 18:36] enoh-barbu commented on #18646
what's the status on this one?

[2022-04-01 20:27] lamqson opened #32099 "[Autocomplete][IconButton] Crashing due to the lack of null/undefined checking"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary>`npx @mui/envinfo`</summary>

[code]
</details>

[2022-04-02 00:49] codewarrior415 commented on #14286
I just did value={`${JSON.stringify(complexObject)}`}

[2022-04-02 01:17] shadigaafar commented on #31847
@mnajdova but you can as a temporary measure add Modern Stand Arabic to the list on of locales, then remove the old ones, in the next major release.

[2022-04-02 01:19] shadigaafar commented on #31847
@SafaAlfulaij What is your opinion on this?

[2022-04-02 05:46] rupam71 commented on #22648
Is this feature available now?

[2022-04-02 06:41] alceil commented on #31084
Thanks @danilo-leal

[2022-04-02 06:41] sanath-git commented on #10779
How to use the default theme? I get a error saying theme is not defined.

[2022-04-02 06:42] sanath-git commented on #10779
Why cant i use this => theme.palette.primary.light

[2022-04-02 07:22] alceil commented on #31084
Can you point me to the files I have to change since the codebase is huge. @danilo-leal

[2022-04-02 07:34] badalsaibo opened #32100 "[TextField] Style overrides for `MuiFilledInput` focused key are not being applied"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Overriding `focused` CSS style via `styleOverrides` to have a `backgroundColor: "yellow"` isn't working.

The `focused` key has the description

[code]

Meaning if the input is focused, the styles present on the `focused` key should be applied to `.Mui-focu

[2022-04-02 08:42] angelvega93 commented on #31921
I'm currently having the same issue.

[2022-04-02 10:16] marisancans opened #32102 "DataGrid row hover event"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm unable to understand how to trigger row mouse hover event.
I have tried to use componentProps onMouseEnter, but I can't find what data is stored in that specific row:

[code]

From documentation I see that its possible to use custom components and subsc

[2022-04-02 11:41] janus-reith opened #32103 "Achieving a 100% Mobile Lighthouse Score seems impossible (Using MUI v5 and Nextjs)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Preface: To avoid too much variance, and since local Ligthouse tests usually perfom better in my experience, I'm focusing on tests done with [https://pagespeed.web.dev](https://pagespeed.web.dev). Also, since tests there also don't always yield consistent results, I

[2022-04-02 13:45] MWGuy commented on #22426
Product: manga.ovh
The problem solved: Made a beautiful and fully functional comic book reader
Link: https://manga.ovh
Screenshot: ![localhost_3000_](https://user-images.githubusercontent.com/29715808/161386085-af18d414-81eb-4de3-8a9f-2cc0fdcd7169.png)

[2022-04-02 14:21] nemethricsi commented on #10779
Do you have the `theme` object?

[2022-04-02 14:21] nemethricsi commented on #10779
Do you have the `theme` object?

[2022-04-02 15:12] ANTARES-KOR commented on #32068
Okay, I'll assign myself on this one

[2022-04-02 16:28] ANTARES-KOR commented on #32068
https://github.com/mui/material-ui/pull/32104

I made a PR on this issue!

[2022-04-02 20:09] chwallen opened #32106 "[docs] Demo VirtualElementPopper crashes"
- [x] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20VirtualElementPopper%20crashes) in this repository and believe that this is not a duplicate.

This is kind of a duplicate but the others are closed/incomplete due to people not responding.

## Steps to Reproduce
1. Visit https://mui.com/components/popper/#virtual-element
2. Highl

[2022-04-02 20:38] klyburke commented on #22426
- Product: [Work in biotech](https://workinbiotech.com/)
- The problem solved: Job board for positions at small biotech startup companies
- Company: Work In Biotech LLC
- Link: https://workinbiotech.com/
- Screenshot:
![workinbiotech](https://user-images.githubusercontent.com/26158226/161400279-a82a493f-d220-4a78-81df-c36183dfd3d7.png)

[2022-04-02 22:20] Amaechina-Ikechukwu commented on #18494
I see that you have value as values[names] with will assign all this names to value of textfield. Easy fix is to leave the value as values, without the [names]

[2022-04-02 22:21] Amaechina-Ikechukwu commented on #18494
`</Select>``</Select>`
I see that you have value as values[names] with will assign all this names to value of textfield. Easy fix is to leave the value as values, without the [names]

[2022-04-02 22:23] Amaechina-Ikechukwu commented on #18494
I see that you have value as values[names] with will assign all this names to value of textfield. Easy fix is to leave the value as values, without the [names]

[2022-04-03 00:01] boutahlilsoufiane commented on #26369
Hi @oliviertassinari, @mnajdova could you please review the PR, thanks a lot!

[2022-04-03 06:27] da1z commented on #19113
Is there workaround for v5?

[2022-04-03 10:09] oliviertassinari opened #32124 "[Spotlight] Add new component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Add a macOS Spotlight-style typeahead component.

### Examples 🌈

- https://blueprintjs.com/docs/#select/omnibar

<img width="833" alt="Screenshot 2022-04-03 at 12 00 03" src="https://user-images.githubusercontent.com/3165635/161422178-4ec8f062-31ff-46cf-8ef2-a23e53

[2022-04-03 10:42] joanrodriguez commented on #24282
This works but you need to be on v 6.4!

[2022-04-03 11:50] everythinginjs opened #32125 "module Augmentation: Not possible to override Shape (ThemeOption)"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hey there, currently shape takes an object with the key of borderRadius and value as number type like below
[code]
if I would like to change it like
[code]
I get types errors. I tried to take advantage of module Augmentations in typescript like

[code]

but

[2022-04-03 13:44] ivan-ngchakming commented on #31011
Hi, I'd like to work on this.

From my understanding, add the `useFormControlUnstyled` hook in `<SelectUnstyled>`, so `<SelectUnstyled>` can be aware of the following properties: `disabled`, `error`, `focused`, `required`?

I suppose some demos should be added showing how to use `<FormControlUnstyled>` together with `<SelectUnstyled>`, I am thinking I can add them in a separate PR.

[2022-04-03 14:39] Clm-Roig commented on #30714
I have the same problem with the StaticDatePicker and plain CSS, here is a sandbox:
https://codesandbox.io/embed/staticdatepickerdemo-material-demo-forked-uy1qll

Please, reopen this one...

[2022-04-03 14:53] ivan-ngchakming commented on #31206
`<Select>` is implemented using the [Popover](https://mui.com/material-ui/react-popover/), which is build on top of [Modal](https://mui.com/material-ui/react-modal/). It is by design to create a backdrop, for disabling interaction below the modal.

I believe if you wish to use a `Select` component that is not implemented using Popover, I believe you will need to implement one yourself (I don't thi

[2022-04-03 15:59] sarink commented on #23032
It is easy to render the modal at the top instead of in the center:
[code]

[2022-04-03 16:07] zishiwu123 commented on #32099
Hi @lamqson , thank you for reporting this bug. Can you please create a code sandbox similar to the [example](https://codesandbox.io/s/freesolo-material-demo-forked-6p9z5c?file=/demo.js) in issue #32042. This will help the maintainers.

It seems the two issues both report problems with `undefined`, except this issue is for `IconButton` while the other issue is for `FreeSolo`.

[2022-04-03 16:25] zishiwu123 commented on #32042
In the documentation for [AutoComplete freeSolo](https://mui.com/components/autocomplete/#search-input), the example [code sandbox](https://codesandbox.io/s/s9bdps?file=/demo.tsx) allows you to 1) select from existing movie options and 2) type arbitrary input, hit enter, and it will not show `undefined`.

Note the sandbox from the docs does not use `getOptionLabel`. I'm not sure if the docs sugges

[2022-04-04 00:50] embeddedt commented on #31211
Thanks, this worked for me. It also appears to match the official approach recommended for the opposite scenario (third-party v5 dependency in a v4 project): https://mui.com/components/data-grid/migration-v4/

[2022-04-04 04:03] zishiwu123 commented on #31084
@alceil I think you can start by looking at docs for FormControl API: docs/pages/api-docs/form-control.js and form-control.json

[2022-04-04 04:14] alceil commented on #31084
Ok got it

[2022-04-04 05:04] Ayushsanjdev commented on #32074
working with yarn

[2022-04-04 05:04] Ayushsanjdev commented on #29844
I was also struggling with same issue, instead of npm,
working with yarn

[2022-04-04 06:00] mrcaidev commented on #29844
Installation is still not working properly... I have to add `--legacy-peer-deps` at the end of `npm i` to get it installed.

[2022-04-04 06:34] michaldudak commented on #32074
We are going to release a new version of Material UI later today. It will be possible to use it with React 18.

[2022-04-04 06:39] Ayushsanjdev commented on #32074
All right then

[2022-04-04 06:39] michaldudak commented on #31011
Hi, could you please hold it off for a bit? I have some changes to FormControlUnstyled in progress. I hope to create a PR tomorrow at most.

[2022-04-04 07:25] AlexRabtsevich opened #32129 "[Popover] Incorrect position of menu, popover, datepicker,autocomplete and select when zoom is applied"
Hello, I have a problem with the wrong position. Our application has zoom for some devices and right side elements such as date pickers, popups, menus are not positioned properly. And I think material-ui is calculating wrong positions like left and top. But if the element is near the left side, the position is correct. I tried to apply zoom for the body and only for the elements, but this problem

[2022-04-04 07:31] AlexRabtsevich commented on #32129
![Снимок экрана 2022-04-04 в 10 20 17](https://user-images.githubusercontent.com/47400952/161495020-18790096-0a01-4fc9-9f43-b789cb9049aa.png)
![Снимок экрана 2022-04-04 в 10 23 33](https://user-images.githubusercontent.com/47400952/161495026-87d19cd8-76f5-4690-921a-2e4816f7c114.png)
![Снимок экрана 2022-04-04 в 10 24 21](https://user-images.githubusercontent.com/47400952/161495033-2214e9fe-65e8-46

[2022-04-04 07:39] igor-serzhan commented on #31919
@flaviendelangle any updates on this?

[2022-04-04 08:32] eps1lon commented on #29844
Please open an issue and follow the template if you're having problems.

[2022-04-04 08:43] michaldudak commented on #31797
Setting `required` on TextField propagates this prop not only to InputLabel, but also to Input. Setting it just on InputLabel, as you do, leads to inconsistencies you observe.
It's recommended to use the `required` prop on TextField.
If you insist not to, you can also add `InputProps={{ required: true }}` to TextField.

May I ask what's the use case that prevents you from setting the required prop

[2022-04-04 09:12] BGehrels commented on #31023
@flaviendelangle Shall i reopen this bug at the https://github.com/mui/mui-x repositories issue tracking now that https://github.com/mui/material-ui/pull/31093 has been closed or how do we proceed here?

[2022-04-04 10:42] fahadashiq12 commented on #32074
Hello I am facing same issue as mentioned above.

 code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: web_client@0.1.0
npm ERR! Found: react@18.0.0
npm ERR! node_modules/react
npm ERR!   react@"^18.0.0" from the root project
npm ERR!   peer react@">=16.8.0" from @emotion/react@11.8.2
npm ERR!   node_modules/@emotion/react
npm ERR!     peerOptional

[2022-04-04 10:55] rjlacanlaled commented on #32074
Do you have a specific time of release? Thanks!

[2022-04-04 10:59] secretwpn commented on #14777
I've also encountered this just now

[2022-04-04 12:00] ivan-ngchakming commented on #32100
Would this solve your issue?

[code]

[2022-04-04 12:06] TkaczykAdam commented on #31282
I noticed that there is a bug with `onBackdropClick`. Should I report it if the property is `@depreacated`?

[2022-04-04 13:26] michaldudak commented on #32086
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-04-04 13:40] mnajdova commented on #32103
I am wondering whether it would be more realistic to compare by using a different UI library. I feel like the comparison is not really fair.

It would probably be worth adding an example using nextjs with emotion only (without Material UI).

Would be great if this can be justified somehow (with an examples maybe?)

As mentioned above, probably a project using only nextj.js and emotion would answer

[2022-04-04 13:48] #32078 closed

[2022-04-04 13:49] mnajdova commented on #32061
Duplicate of https://github.com/mui/material-ui/issues/30038 the discussion around the same problem should be happening on only one issue

[2022-04-04 13:49] #32061 closed

[2022-04-04 17:16] abhinav-22-tech commented on #31972
@hbjORbj
I didn't find any solution, will you provide some hints or any idea.
Thank you

[2022-04-04 19:20] mnajdova commented on #32051
I don't understand what is not working, this is what I am seeing:

![image](https://user-images.githubusercontent.com/4512430/161616443-e4e92270-8fb3-4b51-938c-0bb578d8850a.png)

With both enabled/disabled JavaScript in order to test SSR.

[2022-04-04 23:42] zishiwu123 commented on #32087
@latyaodessa Thank you for reporting this issue. Can you try selecting the date, then clicking inside the clock twice? I think you might have forgotten to click inside the clock for a second time to select the minutes unit for the new value of `DateTimePicker`.

I forked the example from [Pickers documentation](sudo add-apt-repository ppa:peek-developers/stable) and created a [code sandbox](https:

[2022-04-04 23:50] zishiwu123 commented on #32087
It might be beneficial to add a note in the [Pickers documentation](https://mui.com/components/pickers/) that reminds users that after selecting a date, they need to click inside the clock twice. The first click to select the hour and the second click to select the minute. This seems like a good first issue.

[2022-04-05 00:08] #31306 closed

[2022-04-05 01:08] nagamedapati commented on #32074
having the same issue , is it released yet ?

[2022-04-05 03:03] napakenjack commented on #32074
I think it isn't... having the same issue...

[2022-04-05 03:43] DaemonStark commented on #32074
Any update on this release yet?

[2022-04-05 04:37] erinc-emre commented on #32074
Still waiting...

[2022-04-05 05:24] ziedHamdi commented on #32051
Hi Marija,

Thank you for taking the time to look into this bug.

The Sign in link in the header should be aligned to the right, and there's
a text also to the right that says "large content screen" (see attached
picture). Do you think the problem is because the size of the screen is not
detected?

p.s: I'm wondering if there are not two issue: If you disable js, you can
see my real project withou

[2022-04-05 05:43] latyaodessa commented on #32087
Hi, @zishiwu123 thank you for your reply. You are selecting the same date, but when you select a different one you will see how it is confusing for the user.
The use case for us is that the user wants to update the date but keeps the same time. The user noticed that in the input field date already changed and he is clicking away after that date is being reset. Unfurtualy this event I cannot catch.

[2022-04-05 06:05] siriwatknp commented on #31973
I'm closing this because there is no clue how the error happens. At least I don't think it is about the demo.

[2022-04-05 06:05] #31973 closed

[2022-04-05 06:16] zishiwu123 commented on #32087
@latyaodessa I think I understand your issue now. Currently, users of `DateTimePicker` must always perform clicks to select both a new date and a new time. But for your use case, you would like a feature to decouple the selection of date and time in `DateTimePicker`. That way, you can select a new date but keep the same time. Someone else might have another use case where they want to select a new

[2022-04-05 06:26] siriwatknp commented on #31766
I can reproduce but can't figure out what's causing this issue.

[2022-04-05 06:35] dwjohnston commented on #20364
How does this work in regards to accessibility? Are accessibility tools aware of which radio item is selected, and if so, by which mechanism?

[2022-04-05 06:37] siriwatknp commented on #31883
This is more about CSS layout question rather than Material UI components. Here is my recommendation:

1. Algorithemic CSS (collapse and stretch items when it reaches a certain container width)

[code]

1. flex direction (collapse and stretch items when it reaches a certain viewport width)

[code]

[2022-04-05 06:37] #31883 closed

[2022-04-05 06:38] hadarhubara10 commented on #32074
having the same issue..

[2022-04-05 06:38] siriwatknp commented on #31867
I'll let @flaviendelangle handle this one.

[2022-04-05 06:43] siriwatknp commented on #32016
It is a bug from Google's side. Some part of the icon is missing when I downloaded it directly from https://fonts.google.com/icons?icon.query=cases&icon.style=Filled.

[2022-04-05 06:45] badalsaibo commented on #32100
@ivan-ngchakming It works, but the issue is specific with the behavior. Thanks!

[2022-04-05 06:48] siriwatknp commented on #32047
Could you check the answer here https://stackoverflow.com/questions/71306336/auto-scroll-horizontal-mui-tablist-on-drag-with-react-beautiful-dnd/.

Does it work with your case?

[2022-04-05 06:52] siriwatknp commented on #32058
Sorry, I don't follow your question. From the code you provided, I don't see any usage of the Material UI TransferList component. Can you please provide the code sandbox and we can start it from there?

[2022-04-05 06:57] siriwatknp commented on #32066
Would be great if you can provide a reproduction of the issue so that we can take a look in more detail.

[2022-04-05 07:03] michaldudak commented on #32074
Almost there... #32131

[2022-04-05 07:04] siriwatknp commented on #32100
The [doc API](https://mui.com/api/filled-input/#css) is quite ambiguous but if you see it mention the `state class`, you should style the element with a class selector (the @ivan-ngchakming solution is the correct one).

[2022-04-05 07:04] #32100 closed

[2022-04-05 07:31] latyaodessa commented on #32087
@zishiwu123 the best solution would be the following:  Once the user selects the date or time, keep the state (which is triggering an "intermediate" state is already received in ``onChange`` ). Do not reset in ``onChange`` to the previous state after clicking away. I would remove any click-away listener from this component so that we do not confuse users. If someone will need some special handling

[2022-04-05 07:32] dwjohnston opened #32132 "Flash of unselected styling on Form Label in a radio group."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

This affects the examples given in the documentation.

When using a FormLabel, RadioGroup and FormControlLabels, as per the documentation example:

[code]
Clicking the _labels_ of the radio buttons will cause the FormLabel to briefly show the 'unselected' s

[2022-04-05 08:14] chwallen commented on #32106
If you have not started already (I see that you are assigned), I can make an attempt!

[2022-04-05 08:26] mnajdova commented on #31976
Duplicate of https://github.com/mui/material-ui/issues/31314 See https://github.com/mui/material-ui/issues/31314#issuecomment-1076457447 for fix

I will create a docs for it this week.

[2022-04-05 08:26] #31976 closed

[2022-04-05 08:29] mnajdova commented on #31921
Duplicate of https://github.com/mui/material-ui/issues/19113 Please upvote that issue and make sure to leave a more specific comment if you have. We acknowledge the problem and will be looking into it soon.

[2022-04-05 09:00] namhong2001 commented on #24889
If you want to maintain default letter spacing because for example your default font is Roboto, try this.

[code]

[2022-04-05 09:05] michaldudak commented on #32106
Go ahead!

[2022-04-05 09:32] oakh1 commented on #30420
I'm having the same issue as @RemyMachado - is there any update to this? Or is it in progress as the Typography seems to support this already? :) Thanks!

[2022-04-05 09:43] mnajdova commented on #31869
I can't seem to reproduce. I am trying Safari on iPhone XS Max, and this is the output:

[code]

[2022-04-05 09:43] nilslp commented on #31976
Thanks @mnajdova much appreciated (sorry for the duplicate).

[2022-04-05 10:08] mnajdova commented on #32051
I just saw that you also use `makeStyles` which is the legacy styling solution that depends on JSS. This should be the root of the problem. Note that if you wish to still use `makeStyles`, you need to configure JSS for SSR too.

For example, have a look how we are doing it on our documentation
- [_document.js](https://github.com/mui/material-ui/blob/master/docs/pages/_document.js#L178)
- [_app.js]

[2022-04-05 10:40] robwheatley commented on #31869
@mnajdova Thanks for looking.

I just gave it another go and can still reproduce it on my iPhone 12 Pro in Safari and Chrome using my demo - although it's more reliably reproduced using Chrome.

Did you try the Docs page too or just my demo. It seems to be more obvious using that page: [https://mui.com/components/slider/#main-content](https://mui.com/components/slider/#main-content)

[2022-04-05 10:46] Semigradsky commented on #20461
Still not any solutions?

[2022-04-05 11:17] Andarist commented on #20461
I got a little bit lost when it comes to the exact role of Emotion in all of this - if you want any help with Emotion, I would appreciate if somebody could explain the issue once more and provide a repro case for it. I could then happily jump into analyzing it.

[2022-04-05 11:30] dan-cooke opened #32135 "Bizarre render bug when Button is used inside CardActionArea"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Codesandbox: https://codesandbox.io/s/happy-monad-5qif8r?file=/app/src/createEmotionCache.ts

Following the remix run example, when using a `Button` or `IconButton` inside a `Card > CardActionArea` - it seems that the server side render puts additional card

[2022-04-05 11:30] dan-cooke commented on #32135
Duplicated from closed #31957

[2022-04-05 11:36] Semigradsky commented on #20461
Today I tried to migrate from `@mui/styles` to `tss-react` and got this problem in `storybook`. I will try to prepare a reproducible example.

[2022-04-05 12:10] paulintrognon commented on #29564
It is inconsistent with the icons, which has got me very frustrated today. I thought I wasn't using the API right, it got me wasting time experimenting with the MuiTheme before I figured out that Typography and Icons behave differently:

- `<Circle color="success" />` works :heavy_check_mark:
- `<Circle color="success.main" />` fails ❌
- `<Typography color="success" />` fails ❌
- `<Typography colo

[2022-04-05 12:24] FlorianBurgevin opened #32136 "[@mui/styles] Regression accessing theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Hello.

I found a regression on the latest versions of `@mui/styles`.

https://codesandbox.io/s/mui-styles-regression-peisqv

In the above sandbox, you can see the text has the same color as the Button.

If I increase `@mui/styles` from 5.2.3, the text is n

[2022-04-05 13:53] joshkel opened #32137 "[Badge] v4 deprecation warnings in default Badge usage"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

In the 4.12.4 release of `@material-ui/core`, the Badge component started giving the following warning in its default configuration:

### Expected behavior 🤔

Badge should be usable in its default configuration without errors.

### Steps to reproduce 🕹

Ste

[2022-04-05 15:12] ssraigorai opened #32138 "When I open the Selector, it renders twice."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I open the Selector, it renders twice.

OS: iOS 15.4.1
Browser: chrome version 99.0.4844.59

https://user-images.githubusercontent.com/62978539/161784943-31d739af-a6c1-4190-b9df-971242e49deb.MP4

### Expected behavior 🤔

No rendering problems should oc

[2022-04-05 15:27] jwilliams-ecometrica opened #32139 "Ability to use the datagrid filtering without a datagrid."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

This would allow you to filter other components such as list or cards using the existing datagrid filtering.

### Examples 🌈

_No response_

### Motivation 🔦

One example would be a view that lets you switch between a datagrid and a collection of cards. Ideally the

[2022-04-05 16:16] supervanya commented on #31185
If anyone is having the same issue and want a quick fix in the meantime, we did a `DialogContents` theme override by adding padding on top:

[code]

[2022-04-05 16:23] supervanya commented on #29892
We did a global override which works really well, see my comment here: https://github.com/mui/material-ui/issues/31185#issuecomment-1088954266

[2022-04-05 16:28] arpitdalal commented on #27820
Hey @eps1lon!
Do you know why this is the case and how to get around it?

[2022-04-05 16:53] danilo-leal commented on #32135
I'll close this one and reopen the first one so we save the discussion had there.

[2022-04-05 17:21] Vallo commented on #30210
hi @michaldudak. Any update on this bug? Thanks

[2022-04-05 17:53] tetchel commented on #27846
In case this helps anyone else - I had this issue with yarn workspaces. The issue was twofold:

1. If you are using workspaces, the `resolutions` section must go in the workspace's **root** `package.json`.
2. Since you've already aliased `@mui/styled-engine` to `@mui/styled-engine-sc` in the `resolutions`, you cannot also alias it through craco or tsconfig paths.

If you inspect `<project root>/no

[2022-04-05 19:42] Arber3434 commented on #31957
I also just encountered this issue. Good to see that it has already been reported!

[2022-04-05 19:53] MahmoudMans commented on #31797
@michaldudak Thank you for your feedback, should i change the behaviour of input instead of inputlabel ?

[2022-04-05 22:49] zishiwu123 commented on #32138
@ssraigorai I tried to reproduce this error on my iPhone 8 (different from your iPhone XR) but could not do so. Selector only opened once for me. Could you try updating your Chrome version and let us know if the error still exists afterwards?

<img src="https://user-images.githubusercontent.com/17225889/161863298-6cc1fb87-1b2c-4ba6-a2de-98727484df58.gif" width="300" height="500">

Device: iPhone 8

[2022-04-05 23:07] zishiwu123 commented on #32136
@FlorianBurgevin I tried following the steps to reproduce that you included and got the following errors. Do any of these errors match the one you are trying to report?
1. when I increase the version of `@mui/styles` from 5.2.3 to 5.2.4, I get this error:
`Could not fetch dependencies, please try again in a couple seconds:`

2. when I decrease the version of `@mui/styles` from 5.2.3 to 5.2.2, I ge

[2022-04-06 00:14] richpixel commented on #32138
I'm seeing this flickering behavior on iOS & Mac Safari for <Menu> and <Tooltip>
It doesn't happen if using TransitionComponent={Fade}
There also seems to be issues with mousing over the menu items- the highlights are not being removed on previously mouse over items.

Material UI v4.12.3

MacOS: 12.3.1 (Monterey)
Browser: Safari 15.4

Device: iPhone X
OS: iOS 15.4.1
Browser: Safari

[2022-04-06 01:48] #31012 closed

[2022-04-06 02:32] siriwatknp opened #32141 "[RFC] Renaming Joy APIs"
This RFC list several points related to renaming Joy UI APIs so that we can discussed before making the changes.

1. ~Rename `color` prop to `palette`~ Decided to go with `textColor` prop instead, [details here](https://github.com/mui/material-ui/issues/32141#issuecomment-1106004165):
   - The `color` prop creates confusion around the palette & CSS color property as indicated in
      - https://gi

[2022-04-06 03:55] danilo-leal commented on #32141
Thanks for writing this up, Jun! Here's my perspective:

1. All good with me! Agree that using _palette_ avoids confusion as you can be using several different shades for different states and only "color" might not put this across as clearly as it could.
2. About variant values:
    - 👍 for _solid_, instead of contained.
    - 👍 for _soft_ instead of light.
    - Really don't think that using _out

[2022-04-06 04:06] fahadashiq12 commented on #32074
Any Update regarding? Still waiting

[2022-04-06 04:47] dan-turner commented on #16037
hi everyone, is there any updates or solutions to the two typing issues above?

[2022-04-06 05:07] fahadashiq12 commented on #32074
Any Update regarding this?

[2022-04-06 05:48] doberkofler opened #32142 "mui/styles 5.6.0 is not compatible with React 18"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I understood that the latest version 5.6.0 should be compatible with react 18 but when trying to update the dependencies, I get the following error:

[code]

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context

[2022-04-06 06:17] juhahinkula commented on #32074
v 5.6.0 seems to be released now. Works perfectly. Thank you!

[2022-04-06 06:30] napakenjack commented on #32074
just installed it, all good

[2022-04-06 06:56] Muad1105 commented on #32074
installed v 5.6.0, still facing the same issue.

[2022-04-06 07:00] ma7899 opened #32143 "Data-testid doesn't work get Checkbox element properly in react testing library."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When I pass data-testid to a checkbox, I can't access the element using getByTestId(). The point is the checkbox doesn't have a label so I can't use getByLabelText() as well. Moreover, there are other checkboxes, therefore I can't use getByRole as well.

##

[2022-04-06 07:06] FlorianBurgevin commented on #32136
@zishiwu123 nope.

Dependencies are fetched correctly. I updated the sandbox with a broken example. (I updated from the left panel in codesandox)

[code]

I have this error in my project. And the theme is empty when I access it.

[2022-04-06 07:09] DaemonStark commented on #32074
All Good Now!
This is working -
npm install @mui/material @emotion/react @emotion/styled

Thanks!

[2022-04-06 07:23] michaldudak opened #32144 "[Base] Accept callbacks in `componentsProps.*`"
The `componentsProps` fields currently accept plain objects, that are spread to corresponding slots' props:

[code]

This approach makes it harder to apply slots' props conditionally, based on the state of the unstyled component. The only way it's possible right now, is by providing a custom slot component with the logic that determines the props to set.

This is unnecessarily verbose. A much simp

[2022-04-06 07:29] michaldudak commented on #32074
@Muad1105 try deleting your node_modules directory and installing the dependencies again. If it still fails, please open a new issue with a reproducible example.

[2022-04-06 07:41] michaldudak commented on #31797
I believe that this component does not require any changes in that matter - it works as expected. If you think otherwise, please share a use case that illustrates the problem.

[2022-04-06 08:23] ssraigorai commented on #32138
[zishiwu123](https://github.com/zishiwu123)
I have updated the version but the event is still occurring.

chrome 100.0.4896.77

https://user-images.githubusercontent.com/62978539/161929845-7afae6c4-6bed-488b-8f75-6d1001ea0c98.MP4

[2022-04-06 08:36] michaldudak commented on #32142
As noted in https://mui.com/styles/basics/, @mui/styles is a legacy solution. It is not compatible with React 18.
If you'd like to continue using @mui/styles, you have to stay on React 17.

[2022-04-06 08:36] #32142 closed

[2022-04-06 09:02] michaldudak commented on #32143
Answered on StackOverflow.

[2022-04-06 09:06] michaldudak commented on #32138
Duplicate of #31380
The workaround is included in the 5.6.0 release.

[2022-04-06 09:13] ErnestBrandi opened #32145 "[DateRangePicker] : onChange => event type infos"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

In the current `DateRangePicker` component, the `onChange` method is trigger whenever one of the date is selected and when the picker is closed. There is no way to know which action leads to an `onChange` call.
In my case, date selection, is responsible for a lot of

[2022-04-06 09:29] michaldudak commented on #32064
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template or https://mui.com/r/ts-issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-04-06 09:48] chwallen commented on #32106
@michaldudak I managed to figure out why it crashes. After deselecting the text and moving my cursor out of the box, `handleClose` runs and sets the open state to `false`. However, the `anchorEl` still contains the virtual element callback, which gets called again on re-render. As the selection is empty, the `getRangeAt` call throws an error (the referenced selection object is mutated in-place). T

[2022-04-06 10:19] michaldudak commented on #32053
The TextField elements need a transition to change color when they're focused. This, by extension, applied to other cases of changing color, including theme change.

As you noted, transitions can be disabled globally. I suppose you could disable them just for the time you're changing the theme (so the Toggle color would first disable transitions, then change the theme, then restore the transitions

[2022-04-06 10:33] nicoclau opened #32146 "[Transition] Uncaught syntax error: unexpected identifier in @mui/material v5.3.1 using `Grow`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I use several components like DatePicker et TimePicker which work well in dev mode.
But when we use in production, we get problem.

When we open the DatePicker we get the error

`VM40:1 Uncaught SyntaxError: Unexpected identifier
setTimeout (async)
addEndLi

[2022-04-06 10:40] michaldudak commented on #32042
Thanks for the analysis, @zishiwu123.
What happens here is the type mismatch. In @alikleitcr7's example options are objects (`{ title, year }`). The value typed into the input is a string. After the value is committed by pressing <kbd>Enter</kbd>, `getOptionLabel` runs on the value. It tries to call `option["title"]` on a string, which understandably fails.

Converting `options` to strings is like

[2022-04-06 10:41] kkirsche opened #32147 "[TrapFocus] Docs to component 404"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://mui.com/components/trap-focus/ returns a 404

<img width="1440" alt="Screen Shot 2022-04-06 at 06 40 13" src="https://user-images.githubusercontent.com/947110/161957198-7661ac0b-b67a-4dd0-a12f-a08c157cf059.png">

### Expected behavior 🤔

https://mui

[2022-04-06 10:44] michaldudak commented on #32147
This has been fixed in #32077 but hasn't been deployed to the live site yet.
The TrapFocus docs now live in https://mui.com/base/react-trap-focus/

[2022-04-06 10:44] #32147 closed

[2022-04-06 10:49] michaldudak commented on #32129
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template or https://mui.com/r/ts-issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

Please also state which

[2022-04-06 11:10] nicoclau commented on #32146
I found out when I am in dev mode that it sens a function as expected in setTimeout (async) addEndListener @ Grow.js:151

![image](https://user-images.githubusercontent.com/16133485/161961492-724ee91c-7b7d-4a5b-a60a-6eddd09c7d6c.png)

But in prod, we get the node instead of the function.

` var _ref3 = this.props.nodeRef ? [this.nextCallback] : [node, this.nextCallback],
          maybeNode = _ref

[2022-04-06 11:12] ivenpoker opened #32148 "[ButtonGroup]: Displays extra space when size set to "small""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `ButtonGroup` component displays an extra space attached to the button group when the `size` of the button group is set to `small` and `orientation` set to `vertical`. So, the following...
[code]
yields the following with extra space

![button-group-iss

[2022-04-06 11:30] MatthijsKok opened #32149 "[@mui/codemod] date-pickers-moved-to-x renames imports it shouldn't"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When running `npx @mui/codemod v5.0.0/date-pickers-moved-to-x .` with the following in your `app.jsx`:
[code]
The codemod incorrectly transforms it to:
[code]

### Expected behavior 🤔

The codemod should not transform these lines

### Steps to reproduce 🕹

[2022-04-06 11:42] michaldudak commented on #32148
Could you provide a codesandbox so we can reproduce this problem? I wasn't able to using the steps you wrote. https://codesandbox.io/s/happy-cerf-x1fg0k?file=/src/Demo.tsx renders just fine:

![image](https://user-images.githubusercontent.com/4696105/161967185-7109a57c-9362-4a24-bb8d-573356565cf3.png)

(I'm on Windows, though)

[2022-04-06 11:43] flaviendelangle commented on #32149
Why shouldn't it rename those imports ?

[2022-04-06 11:48] MatthijsKok commented on #32149
I am so sorry, it was not clear to me that they have also been moved to `@mui/x-date-pickers`.
After lookin through the `@mui/lab` code [here](https://github.com/mui/material-ui/blob/master/packages/mui-lab/src/LocalizationProvider/index.ts) this is clear to me now.
Thanks for your quick response.

[2022-04-06 11:56] AlexRabtsevich commented on #32129
Sorry for the little description, here is an example in codeSanbox https://codesandbox.io/embed/relaxed-tereshkova-73q2h3?fontsize=14&hidenavigation=1&theme=dark and for the current project I am using **nextjs** + **material-ui* * and **Chrome** browser. But this error is also reproduced in **react** . I added zoom for document.body and the position of menu is incorrect, but if I remove zoom, the

[2022-04-06 11:57] AlexRabtsevich commented on #32129
Sorry for the little description, here is an example in codeSanbox https://codesandbox.io/embed/relaxed-tereshkova-73q2h3?fontsize=14&hidenavigation=1&theme=dark and for the current project I am using nextjs + *material-ui * and Chrome browser. But this error is also reproduced in react . I added zoom for document.body and the position of menu is incorrect, but if I remove zoom, the position is co

[2022-04-06 12:07] ivenpoker commented on #32148
Interesting. Got the correct/expected view on codesandbox. Guess it's my setup that's got an issue (even though I have the same dependency versions as those in the sandbox environment). Will look into my setup more. Thanks for the quick response!

[2022-04-06 12:07] #32148 closed

[2022-04-06 12:11] SeanMengis commented on #30915
I've run into the same problem. It's important to note that the error only occurs if you've clicked anything inside the picker and the directly click on a button that opens another dialog. Random guess would be that it is related to the popover component that doesn't open/close in the right order.

[2022-04-06 12:11] robcaldecott commented on #31797
@michaldudak The use case is custom validation. If you pass `require` to an `input` then the built-in browser HTML UI will appear when you try and submit the form which we do not want. We want to use our own UI for required fields whilst keeping the `TextField` asterisk.

<img width="640" alt="image" src="https://user-images.githubusercontent.com/796702/161971623-dbfdca7b-1676-4eb0-b91e-67dc8a2783

[2022-04-06 13:04] noblessem commented on #17353
Guys i am just a junior programmer but ive found one solution, u can just pass
`MenuProps={{
                style: {
                  maxWidth: 0,
                  maxHeight: 300,
                  position: 'absolute',
                },
                disableScrollLock: true,
              }}`

And that will hold menu items under select, hope it will help)

[2022-04-06 13:29] michaldudak commented on #31311
This doesn't look like a Material UI issue. I was able to reproduce it with emotion only (https://codesandbox.io/s/vite-mui-pwa-forked-oe2xe1?file=/src/App.tsx).

Because it happens only on a specific setup (Chrome on a Mac), it is likely that it's a Chrome issue. I've noticed that the Performance tab in dev tools shows the correct screenshots, even though the app renders incorrectly.

[2022-04-06 13:29] #31311 closed

[2022-04-06 14:26] michaldudak commented on #31797
You can add the asterisk to the label yourself (`<TextField label="Required field *" />`) or override the `required` prop set by the input by setting it to `undefined`: `<TextField label="Required field" inputProps={{ required: undefined }} />`. Does this solve your problem?

[2022-04-06 14:27] TomFreudenberg commented on #32053
Hey Michal @michaldudak

so there is no other way - understand now the need for having transitions here.

Maybe you may once decide to include a helper func like `TransitionsOff()` to handle that by MUI instead patching the theme while toggling.

For now thanks to your reply.

Cheers
Tom

[2022-04-06 14:35] KimBiYam commented on #31766
It seems to be Safari transform issue.
So I'm created pull request with solution. But I don't know my pull request is the best way.
Please check my pull request

[2022-04-06 16:04] ecam900 commented on #29008
Why is this closed, this is accurate...

[2022-04-06 17:26] tapion commented on #25578
Hi guys, some workaround you suggest that is not using the native view?, bc I use some features of the no-native select component

[2022-04-06 17:26] alansouzati commented on #18831
I wish there was a way in the Box component to use declarative colors and let the framework pick the right one based on the current theme mode. For example:

[code]

if the mode is light, then it uses `gray`, otherwise if it is dark it uses `black`.

I also don't full understand why `main` is required.

As of today I keep having to change my markup with boilerplate repetitive code like this:

[cod

[2022-04-06 17:37] EdmundsEcho opened #32150 "Inventory of how to customize the global theme in v5"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current docs

The docs for v5 are really good.  In the [theme customization section](https://mui.com/customization/how-to-customize/) I was taking inventory of how to customize the theme used throughout the app.  While doing so, I was not able to fully understand the capabilit

[2022-04-06 18:50] #32065 closed

[2022-04-06 18:57] mnajdova commented on #32054
You probably would like to handle the arrow down and up keyboard events too, for example for arrow down: https://codesandbox.io/s/temporarydrawer-material-demo-forked-33dlmj?file=/demo.tsx

You likely need to prevent default if you are handling the event.

[2022-04-06 18:58] #32054 closed

[2022-04-06 18:59] mnajdova commented on #32043
You could use the https://mui.com/components/use-media-query/ and apply the prop accordingly. To be honest I am not sure this API is a common thing, but we could also wait and see if it will get some traction :)

[2022-04-06 20:36] zishiwu123 commented on #32042
@alikleitcr7 as a workaround, you can do:
[code]
That way if the input `option` is a string, `option["title"]` will evaluate to false and `option` string will be displayed.

[2022-04-06 20:37] josejimenez-swipejobs commented on #29061
If there is any news about this issue?

[2022-04-06 20:41] alikleitcr7 commented on #32042
@zishiwu123 thanks, but since we are using `freeSolo` I think onEnter should keep the text as it is not empty the input in case the option was `nu''/undefined`

[2022-04-06 20:48] alikleitcr7 commented on #32042
@zishiwu123 my workaround:
[code]

[2022-04-06 21:01] quangvietnguyen commented on #31766
Nice work!. However, your PR did not work with my issue, in iOS, it is still broken @KimBiYam

[2022-04-06 21:04] zishiwu123 commented on #32042
@alikleitcr7 I think I understand the reason for your workaround. You are concerned of the case where `option` or `option["title"]` is `null/undefined`. For example:
[code]
If I select the 3rd option with `title: undefined` (shows up as blank in dropdown), my workaround fails because 1) `option["title"]` evaluates to false and 2) option is still an object and not a string so `getOptionLabels` can'

[2022-04-06 21:18] gvorbeck opened #32152 "[Snackbar] Not able to properly position it when placed inside a ListItem's secondary action"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When a Snackbar component is placed inside a ListItem's secondaryAction property, the positioning breaks. Everything else about the Snackbar performs perfectly _except_ its position. It appears next to the IconButton that called it:
<img width="297" alt="Sc

[2022-04-06 21:30] aryaburke opened #32153 "[TimePicker] When changing only the time of a TimePicker using the keyboard, the date also changes to today's date."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

This issue was reported [here](https://github.com/mui/material-ui/issues/26799) and marked as fix, but it was not fixed and can still be seen on the documentation.

When you use the keyboard to change the time of a TimePicker in the input component, rather

[2022-04-06 21:57] adamdriscoll commented on #22426
Product: [PowerShell Universal](https://ironmansoftware.com/powershell-universal/)
The problem solved: A single pane of glass for managing and delegating access to your automation environment.
Company: Ironman Software, LLC
Link: https://ironmansoftware.com/powershell-universal/
Screenshot:
![image](https://user-images.githubusercontent.com/1256531/162078597-8af60700-e9c9-4de3-9240-96f7c24fea63.pn

[2022-04-06 22:14] mguerrero-ias opened #32154 "Date Picker changes value after closing."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Calendar Picker displays a calendar with the current date being highlighted.
If you then select the Year view-mode, and go to the previous year and the exact same date, you'll find out that the same date is selected, and if you exit the menu the date return

[2022-04-06 23:05] dani-mp opened #32155 "CardContent padding doesn't use spacing"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

`CardContentRoot` defines padding—and padding-bottom for the last child—with hardcoded values, without using the spacing from the theme.

See https://github.com/mui/material-ui/blob/585c4a3850936d7ddcd60ed4ad063996415e0f3a/packages/mui-material/src/CardCont

[2022-04-07 00:09] #31992 closed

[2022-04-07 01:28] danilo-leal commented on #31745
I've been playing around with more complete visualizations of how that could be. Here's an example with the Text Field component, which is one that is composed of several smaller parts. We could even think of a search bar for quickly finding a given prop. We could also think of having all the tables accordion uncollapsed by default, so we don't disrupt too much today's experience. Anyway...

<img

[2022-04-07 01:40] hayden-ntwglobal opened #32158 "Export CSV file changes string values to numbers."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm using this(`https://mui.com/components/data-grid/export/#csv-export`).

The Issue is,
**String value like 033984022515 is changed by force after export to .CSV file as number, so the value shows like 33984022515 this.**

This value's type is `varchar` f

[2022-04-07 01:49] dwjohnston commented on #31030
I think it might be helpful to emphasise that including a theme provider should be required for tests too.

I have a simple repro this migration issue here:

https://github.com/dwjohnston/migrate-mui

Essentially the application migrates fine no problems. However, the tests start failing because that theme object doesn't come through. You don't typically need to/want to use a theme provider in tes

[2022-04-07 02:19] dwjohnston opened #32160 "codemod jss-to-styled will not apply to .ts files."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When running the migration steps to migrate JSS to emotion [documented here](https://mui.com/guides/migration-v4/#migrate-from-jss)

We run:

[code]

However, any styles contained in a plain `.ts` (rather than `.tsx`)  will give this error:

[code]

### Exp

[2022-04-07 03:11] CWSites opened #32161 "The docs do not show `label` as required, the typing seems fine but there should be a required asterisk next to it on this page https://mui.com/api/form-control-label/#main-content"
The docs do not show `label` as required, the typing seems fine but there should be a required asterisk next to it on this page https://mui.com/api/form-control-label/#main-content

_Originally posted by @CWSites in https://github.com/mui/material-ui/issues/29301#issuecomment-1079403582_

[2022-04-07 04:54] abryzak commented on #29834
These links were very helpful in the past. They were found on the API page for the component, e.g.

https://v4.mui.com/api/button/

Search "implementation" to find the link near the bottom of the page.

[2022-04-07 05:38] KirillKurko opened #32162 "[Avatar] Fallback first letter not shown when only alt is provided"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

There is three fallback options as said in documentation:

- the provided children
- the first letter of the alt text
- a generic avatar icon

But with alt text provided generic avatar icon is shown instead of first letter of the alt text

### Expected beha

[2022-04-07 07:08] mayteio commented on #29176
It appears [this has been solved](https://stackoverflow.com/questions/68692230/ts-expression-produces-a-union-type-that-is-too-complex-to-represent-with-materi) in a recent (~ December) release. Are any of the maintainers able to point me in the direction of what fixed it? We're having the same issue with `@chakra-ui/react` and I'd love to fix it there too 👍🏻

[2022-04-07 07:30] fahadashiq12 commented on #32074
Hello It work fine from my side too.. I want to ask something which I want achieve using material UI, If anyone of you have related findings to it?

I want to make a draggable component in react like we can drag the boards on Azure Portal:

https://dev.azure.com/FahadAshiq0132/Test/_boards/board/t/Test%20Team/Issues

Mean the status of the boards is changing after we move the board form (to-do) se

[2022-04-07 07:31] alexfauquette commented on #31745
+1 for "uncollapsed by default" because it allows to search with <kbd>Ctrl</kbd>+<kbd>F</kbd>

[2022-04-07 07:51] pccck opened #32164 "[Slider] add support for unsorted range slider"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The current range slider implementation sorts the values, which is great for the most typical use cases for range sliders, such as selecting a price range to search from etc.

We have an use case though where we want a range slider where users can select a "goal" an

[2022-04-07 08:02] michaldudak commented on #32042
I've created a PR with the changes we were talking about. I also updated the type of getOptionLabel parameter in free solo mode. Please take a look if this is sufficient: #32165

[2022-04-07 08:15] michaldudak commented on #31745
We could use the right-hand side table of contents to link to individual components. IMO collapsing would be very usable in this case.

[2022-04-07 08:19] michaldudak commented on #32074
@fahadashiq12 Stack Overflow is the right place for the "how-to" questions.

[2022-04-07 08:33] michaldudak commented on #32053
You can create a separate issue describing how you imagine the `TransitionsOff` to work. If it gets upvoted (meaning there is an interest in the community), we'll consider the implementation.

I'm closing this issue.

[2022-04-07 08:33] #32053 closed

[2022-04-07 09:15] ZeeshanTamboli commented on #1824
PR opened for this at #31991 . We will be releasing it under MUI Lab initially.

Demo preview: https://deploy-preview-31991--material-ui.netlify.app/components/multiple-snackbars/

[2022-04-07 09:33] mnajdova commented on #31985
Why should it render an ordered list? Unordered list is semantically correct, as it is basically just a list of buttons (note that it also has prev, next buttons).

Can you elaborate on what is the motivation for this change in your project?

[2022-04-07 09:37] michchan commented on #24997
I can still reproduce similar issue with `^3.3.10`.
Putting `minDate` and `maxDate` there but the disabled dates not displayed as it should be.

[2022-04-07 09:45] oliviertassinari commented on #31745
Going back to the problem statement of this issue: "What would make traversing through the docs easier?", thoughts:

1. Stripe execution on the API description looks better, I personally see this as a clear win:

<img width="796" alt="Screenshot 2022-04-07 at 11 13 14" src="https://user-images.githubusercontent.com/3165635/162164826-cce95e19-56bc-4cb8-8cfc-a0dbff8f93e6.png">

https://stripe.com/do

[2022-04-07 09:45] ZeeshanTamboli commented on #32162
Hi @KirillKurko ,
Please provide a CodeSandbox (https://mui.com/r/issue-template) that reproduces the problem.

[2022-04-07 09:52] KirillKurko commented on #32162
Hey @ZeeshanTamboli https://codesandbox.io/s/floral-sound-tfvdlr

[2022-04-07 09:56] #31985 closed

[2022-04-07 10:09] ZeeshanTamboli commented on #32162
Thanks @KirillKurko . The fallback works when there is an error loading the avatar image from the `src` attribute. You need to have a `src` attribute with the wrong link for the fallback to work. See the updated codesandbox: https://codesandbox.io/s/red-tree-jcb8ut

[2022-04-07 10:09] #32162 closed

[2022-04-07 10:47] siriwatknp commented on #31745
I have one small point about the API table. I think we should consider changing from table to heading + description because on some pages, it is quite hard to read. Take a look at these examples:

- https://migration.mui.com/x/api/date-pickers/calendar-picker/
- https://migration.mui.com/material-ui/api/autocomplete/
- https://migration.mui.com/base/api/slider-unstyled/

One benefit is that search

[2022-04-07 10:49] flaviendelangle commented on #31745
The X team uses a custom Api page to add a `Slots` section
Since the Core team is starting to use the `components` and `componentsProps` pattern a lot, it may be interesting to unify this part as well.

https://mui.com/api/data-grid/data-grid/#slots

[2022-04-07 11:06] KirillKurko commented on #32162
@ZeeshanTamboli check this one - I'm passing src as null and undefined, but I also have alt - but what I see is default placeholder https://codesandbox.io/s/floral-sound-tfvdlr

[2022-04-07 11:58] namhong2001 commented on #16301
Have a look of this https://stackoverflow.com/questions/62548114/cards-lists-react-material

[2022-04-07 12:26] ZeeshanTamboli commented on #32162
What's the use case for having `null` or `undefined` or empty string in `src` attribute? `alt` means an alternative when "some value" in `src` is not working, if the image can't be loaded for some reason: for example, network errors, content blocking, or linkrot.

[2022-04-07 12:31] KirillKurko commented on #32162
Yes, agree and for example backend returned null/undefined/empty string for some reason as image src

[2022-04-07 12:58] KimBiYam commented on #31766
In my case, adding the will-change property solved the problem in iOS Safari likewise macOS Safari.

### Before

https://user-images.githubusercontent.com/59679962/162203087-d2be7787-d250-4b22-ab5d-914e161f8d2b.MP4

 ### After adding will-change attribute

https://user-images.githubusercontent.com/59679962/162203294-9a4c6c5a-590e-44c8-8ce3-ddb4b6285e3d.MP4

[2022-04-07 13:05] m4theushw commented on #31745
I'm curious to see how to document components that also provide a hook, e.g. Autocomplete has useAutocomplete. The "Components props" tab seems to be only for React components.

https://developer.microsoft.com/en-us/fluentui#/controls/web/calendar is another example that keeps content and API on the same page. They even include related interfaces, click on See More at the bottom. For the DataGrid,

[2022-04-07 13:09] cn007b opened #32166 "404 for trap-focus"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When go to page: https://mui.com/components/trap-focus/
is says: 404 This page could not be found.

### Expected behavior 🤔

Actual content.

### Steps to reproduce 🕹

Steps:

1. go to page: https://mui.com/components/trap-focus/

### Context 🔦

Trying to r

[2022-04-07 13:10] BC-M opened #32167 "[Grow] Workaround for Safari 15.4 CSS transition bug not affects WebKit"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Same issue like #31380 but in Apps using WebKit.

### Expected behavior 🤔

Not flickering like in Safari with workaround from #31975.

### Steps to reproduce 🕹

Steps:

1. Use MUI in an app using WebKit (in my case we use [Capacitor](https://github.com/ioni

[2022-04-07 13:26] BC-M commented on #32167
Suggested correction:

https://github.com/igordanchenko/material-ui/blob/585c4a3850936d7ddcd60ed4ad063996415e0f3a/packages/mui-material/src/Grow/Grow.js#L28

[code]

See my tests here: https://regex101.com/r/hKmRmE/1 (see function > unit tests in menu)

Maybe the variable should renamed to `isSafariOrWebKit154` too.

[2022-04-07 13:51] adi518 commented on #7403
Using `autoHighlight` seems to improve the situation, but I don't understand why the value "changes" when I input an existing option. Not only does it change, the reason is set to `createOption`, which is a catalyst for bugs, since I'm creating an option that already exists, causing a duplicate tag (multiple autocomplete), which raises an error.

[2022-04-07 14:00] KimBiYam commented on #31766
@siriwatknp I'm already submitted a PR

https://github.com/mui/material-ui/pull/31912

[2022-04-07 14:08] adi518 opened #32169 "[Autocomplete] When input equals an option, hitting enter creates an option instead of selecting it"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

As described in the title. I'm not sure whether it's a bug or a feature and I can't find a prop to disable this very confusing behavior. It's creating a problem where tags can get duplicated, which raises an error in the console, which negates the default b

[2022-04-07 14:36] michaldudak commented on #26440
I see how this may be useful.

A thing to note, though, is that rendering anything else than a default string will break the current autocompletion logic.

Let's say we have a list of colors and when selected, we display a swatch before the color name in the textbox:

[code]

When we now focus the textbox and press <kbd>Backspace</kbd>, we are left with `🟥 re`, which does not match any of the opti

[2022-04-07 15:41] Tanmay2711 commented on #31977
@danilo-leal - Is there any updates on this issue from your end ?

[2022-04-07 16:15] danjenkins commented on #30182
I'd find this really useful!

[2022-04-07 16:23] alceil commented on #31084
I have raised a pr please review and do suggest of there is any changes needed to be done @danilo-leal @zishiwu123

[2022-04-07 16:35] michaldudak commented on #29727
Apparently, at this point, the warning causes more confusion than assistance. If anyone is willing to investigate if this warning can be disabled for cases of async loading without much hassle, then feel free to grab this issue.

I'm also considering removing the warning altogether, but let's try the less destructive option first.

[2022-04-07 17:00] igordanchenko commented on #31766
@siriwatknp,

I came up with an alternative workaround that doesn't require the `will-change`:

[code]

I *think* the additional no-op transform forces Safari to re-render the layer, which also eliminates the visual glitch in question.

This looks like a much safer bet to me. Happy to submit a PR if you prefer this approach over the `will-change`.

[2022-04-07 17:24] larswolter opened #32172 "[Link] Problem with theme styleOverrides not being applied correctly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I found an issue with #32045 , the theme.styleOverrides is not applied correctly anymore. The regression test in #32045  shows the problem:
![image](https://user-images.githubusercontent.com/13793513/162259206-73fc3c62-ce7a-4e30-8aba-130f082a63cd.png)
The s

[2022-04-07 17:38] chrisl777 opened #32173 "[theme] How to access theme from ThemeProvider with React class and functional components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm looking to pass my theme into the entire tree, since I've defined colors and overridden other defaults. The documentation does not provide an official "blessed" way as far as I can see.

[code]

My questions:

1. How do I access the "theme" prop in clas

[2022-04-07 18:00] michaldudak commented on #32106
Thanks for the investigation!

I don't think we need to keep the state for both `anchorEl` and `open`. `open` can be specified as simply `anchorEl != null`.

As for the other findings - I'm OK with wrapping the body of handleMouseUp in setTimeout and calculating boundingClientRect eagerly. I'd appreciate a PR if you can find the time.

[2022-04-07 18:17] michaldudak commented on #30210
Let's close this issue, then. If you still experience problems after the vite bug is fixed, feel free to reopen the issue or create a new one.

[2022-04-07 18:17] #30210 closed

[2022-04-07 18:25] michaldudak commented on #32166
Duplicate of #32077 (still pending live release, though).

[2022-04-07 18:25] #32166 closed

[2022-04-07 18:44] danilo-leal commented on #32155
Hey @dani-mp, thanks for the headsup! That makes total sense. Do you want to open a PR for it?!

[2022-04-07 18:53] dani-mp commented on #32155
Sure, let me try!

[2022-04-07 19:02] deejoe79 commented on #5235
A bit modified to look for cities from all around the world. Plus we have some newer versions of REACT so the code is updated to use Functional Component.

`import React, { FC, useEffect, useState } from "react";
import { TextField } from "@mui/material";

autocomplete-api-on-react-939211e8b4ce

export interface IAddressAutoCompleteProps {
	value: string;
	floatingLabelText: string;
	hintText?: st

[2022-04-07 19:56] abu-shoev opened #32176 "[DateRangePicker] No errors triggered if user puts all zeroes on the date picker(dayjs)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

We are using the DayJs as our date adapter, and that is what seems to cause some issues on the date range picker.
As a date range picker we have two fields, start and end fields. When we put all zeroes on both fields, we don't get any validation errors, so

[2022-04-07 20:13] DavidHenri008 opened #32177 "[Badge] Classes prop is no longer working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The latest v5.6.0 version breaks the support of the classes property on the Badge component. At least the invisible and the dot classes are no longer applied.

### Expected behavior 🤔

The classes should still be applied like in the previous version.

### S

[2022-04-07 20:14] DavidHenri008 commented on #32177
@michaldudak Could you confirm it was not on purpose?

Thanks.

[2022-04-07 21:10] bryanlopez-ibotta commented on #28691
I am trying to adjust `theme.palette.action.selectedOpacity` and `theme.palette.action.hoverOpacity` but it seems hit or miss... For example, it affects Buttons with variant `secondary` but not `primary`? It also seems to have different effects if I set the primary color in `main` versus `light` or `dark`.

[2022-04-07 22:04] danilo-leal commented on #32036
I guess @alexfauquette could help out with this one! He was already playing with automatically generated banners for new X releases — guess that tackling this would be a natural next step?!

[2022-04-07 22:11] dani-mp commented on #32155
@danilo-leal actually, looking for 4, 8, 16, 24, 32... in the code there are a lot of hardcoded values, I wonder if we should fix them all.

[2022-04-07 22:16] danilo-leal commented on #32155
cc @siriwatknp to weigh in — thoughts?!

[2022-04-07 22:34] danilo-leal commented on #30830
Hey all — coming back to this. @aress31 got a question re-reading the issue. Would you mind elaborating more on what _"to keep the same customised components for both themes variations"_ means? Got confused with that part.

[2022-04-07 22:40] danilo-leal commented on #30830
@matthewoates It seems that the imports are the wrong part there. It would be correct if:

[code]
But I do agree with you that this is not clear in the docs. I'll be working on it pretty soon! Thanks for the headsup.

[2022-04-07 22:47] Robertorc83 commented on #29207
Is possible to pass props to sx prop?

[2022-04-08 02:37] 3axap4eHko opened #32183 "[Link] `sx` color value as a function no longer works"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

Throws an error during NextJS SSR
[code]

debugging shows it comes as a function instead of string

### Expected behavior 🤔

Expected to work as before. Means it is a regression issue.

### Steps to reproduce 🕹

Steps:

1. Create `package.json` file

[2022-04-08 03:07] siriwatknp commented on #32155
Let's create a PR per component, it is easier to review and back tracking in case there are regressions.

[2022-04-08 03:15] amthoms2 opened #32184 "disableHighlightToday not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

"disableHightLightToday" not working properly.

"It looks too much like the user has already selected a date, but when there are no appointments available for today, i'd like to not only have it greyed-out like the rest, but to actually not have it highligh

[2022-04-08 04:28] siriwatknp commented on #32160
If my understanding is correct, we have to add the logic to read the import file and do the correct transformation on both declaration & usage files.

🤔 I am not sure if we want to do this (it is good for sure if we can do it but it sounds complicated to me). Anyway, if anyone would like to work on this, I'm very appreciate to review the PR.

[2022-04-08 06:49] jimjoes commented on #29008
+1 as the docs aren't clear.

[2022-04-08 07:08] siriwatknp commented on #31766
Definitely better than `will-change` if it fixes the glitch. Feel free to submit a PR.

[2022-04-08 07:32] michaldudak commented on #32177
Thanks for the report. This wasn't done on purpose. I'll work on a fix.

[2022-04-08 08:39] KimBiYam commented on #31766
I'm agree too if it fixes

[2022-04-08 09:15] flaviendelangle commented on #31915
Closing this one from lack of feedback

[2022-04-08 09:15] #31915 closed

[2022-04-08 09:17] flaviendelangle commented on #30233
@alisasanib sorry for the delay

The pickers are not living in https://github.com/mui/mui-x (a blog post explaining why will come shortly, note that any thing currently MIT will remain MIT, we are not making the pickers commercial).
Feel free to open a pull request on https://github.com/mui/mui-x :+1:

[2022-04-08 09:30] emrahaydemir opened #32186 "[Switch] Animation does not work when I call the Switch component using 'state' within the function"
Hello, I am calling the Switch component using another function. The switch's value comes from a state. No problem so far. But when I use it this way, the Switch animations do not work and there is a solid transition.

CodeSandbox: https://codesandbox.io/s/switch-component-animation-issue-3oc2qw?file=/src/App.js

![switch](https://user-images.githubusercontent.com/35865864/162407077-5f52aa80-a6ff-

[2022-04-08 09:38] titenis opened #32187 "Text field helper text tag getting rendered for null helper text"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

If I pass null as a helperText prop - everything is ok (helperText tag is not renderer)
[code]

[code]

But if I pass component that returns null as a helperText prop - empty helperText tag is rendered
[code]

[code]

### Expected behavior 🤔

Empty helper t

[2022-04-08 09:54] michaldudak commented on #32161
This will likely require a change in the scripts we use to generate the documentation.
Currently, we analyze prop types and figure out if a prop is required based on them.
We can't, however, change the prop type of `label` to `PropTypes.node.isRequired` as it won't allow passing in `undefined` (which is required, as per #31139).
This wouldn't be a problem if we instead relied on type definitions a

[2022-04-08 10:17] dani-mp commented on #32155
Sounds like a good approach, and it will be a breaking change for sure, so doing it for v6 seems like the right thing to do. On the other hand, I'm surprised this hasn't been taken into account before as it is quite important for a design system. Maybe people also expect like me that paddings & margins would respect their spacing, and in that case, we would be fixing their apps. But I think that's

[2022-04-08 11:44] michaldudak commented on #32167
Wouldn't it fail anyway due to the `/version\/15\.[4-9]/i` part missing from your user agent?

[2022-04-08 11:52] michaldudak commented on #32187
TextField does not execute the logic in your component, so it doesn't know what it returns.
You may work around this problem by removing the default margin applied to FormHelperText:

[code]

then reapplying the margin in your CustomHelperText component if necessary.

[2022-04-08 11:52] #32187 closed

[2022-04-08 11:54] igordanchenko commented on #31766
The PR #32188 is ready

Preview: https://deploy-preview-32188--material-ui.netlify.app/components/text-fields/#main-content

Before:

https://user-images.githubusercontent.com/64441155/162430442-2523b3ba-e6d0-4796-ab97-20e56778bda2.mov

After:

https://user-images.githubusercontent.com/64441155/162430480-20d92787-9654-4066-aa48-435a5f041841.mov

[2022-04-08 12:04] michaldudak commented on #32173
Hi @chrisl777. It seems the docs are incomplete. I'll make sure to correct them.
As for your questions:

@mnajdova please correct me if I'm wrong. AFAIK you have to wrap your class component in a function one and access the theme object via a hook (described below)

The `@mui/styles` package is deprecated. However, we export `useTheme` from the `@mui/material` package. It is a supported and recomm

[2022-04-08 13:38] danilo-leal commented on #31207
Just coming back to this. I don't see this prop in the [TableCell file](https://github.com/mui/material-ui/blob/master/packages/mui-material/src/TableCell/TableCell.js) — maybe it imports from something else? Any thoughts here @siriwatknp or @mnajdova?

[2022-04-08 13:44] Lois-Varghese opened #32191 "."

[2022-04-08 14:06] gubi995 opened #32193 "[ButtonUnstyled] It does not handle "space" and "enter" hit properly inside form element when customized"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I have a custom button built upon ButtonUnstyled that gets a styled button (emotion) in its component prop. When I have this button inside a form with the type "submit" or "reset" and hit space or enter, the form does not get submitted/reset.

### Expected

[2022-04-08 14:13] AlbertDev33 commented on #10571
Thanks. This worked for me! :+1:

[2022-04-08 14:28] kyeongsoosoo commented on #32022
@michaldudak  I made a fix PR for this bug!

[2022-04-08 14:37] gubi995 commented on #32193
I saw the useButton hook which seems like preventing this use case but I'm not sure why. Is it when the devs try to use div or other HTML elements than "button"?

[2022-04-08 14:49] chrisl777 commented on #32173
@michaldudak Thank you for the reply!

For functional components, I'm glad to know that `useTheme` is okay to use. You're right it was confusing as the docs make it seem like `useTheme` is deprecated. For example, the page on Theming does not mention `useTheme` at all: https://mui.com/customization/theming/. You have to dig into the legacy or migration guide docs to find it, at least as far as whe

[2022-04-08 14:55] aaarichter opened #32196 "[Stack] `direction` prop with array notation breaks spacing prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When writing the `direction` prop as array, any spacing css margin prop will be rendered with a postfix `undefined`. This is not the case when `direction` is written as object

### Expected behavior 🤔

that `direction` in array notation doesn't break the `s

[2022-04-08 15:15] juzerzarif opened #32197 "[Select] NativeSelect does not respond to the variant prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The `NativeSelect` component continues to show the standard variant styling of the select component even when a different variant is provided. Using the `Select` component with a `native` prop has the expected behavior.

### Expected behavior 🤔

The `Native

[2022-04-08 15:17] aaarichter opened #32198 "Add support & usage of CSS logical properties"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It would be great if MUI / MUI next would support and switch internally to CSS logical properties. This would make the RTL plugin unnecessary, reduce code that handles direction and sync with functionality of modern frameworks (like Chakra-UI)

- browser support: ht

[2022-04-08 15:27] ppanthony commented on #30599
In the subpackage I was getting this with Lerna too. Seems like adding the module resolver plugin works, just incase it helps anyone else out.

[code]

[2022-04-08 15:51] michaldudak commented on #32193
Good finding. Thanks for the report.
Interestingly, when you create the custom button as such:
[code]
it does work.

I'll take a look into this.

[2022-04-08 15:53] igordanchenko commented on #32138
@michaldudak, the workaround for #31380 specifically targeted Safari browser. But apparently I overlooked the fact that Apple requires all 3rd-party iOS browsers to use WebKit, so all of them are affected by the same WebKit bug.

Here is a screen recording of this bug in iOS Chrome 100.0.4896.77:

https://user-images.githubusercontent.com/64441155/162477976-96251ebd-387a-40ab-9a2f-d287e555ba66.mov

[2022-04-08 16:10] zhikin2207 commented on #31091
@flaviendelangle, do you have any updates regarding this one?

[2022-04-08 16:18] igordanchenko commented on #32167
I've collected some samples of iOS 3rd-party user agents that are also affected by the same WebKit bug. It's worth noting that Brave reports an incorrect iOS version even though it's still affected. But I guess it's on them since they fail to report the correct version in their user agent.

Based on what I gathered so far, the change @BC-M is proposing will cover iOS 3rd-party browsers 👍

Chrome:

[2022-04-08 16:39] igordanchenko commented on #32167
I'll work on a pull request since it was my omission in the first place... 😞

[2022-04-08 16:44] sherlock2017 commented on #25021
` <LocalizationProvider
              dateAdapter={AdapterDateFns}
              style={{ width: "40px" }}

              <TimePicker
                value={time}
                onChange={setTime}
                renderInput={(params) => (
                  <TextField placeholder="Add Class Time" {...params} style={{ width: "198px" }}  />
                )}
              />
            </Localiza

[2022-04-08 17:14] aaarichter commented on #32196
I dug a bit deeper and it seems that various combinations of direction and spacing don't work

the code lines involved are
https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Stack/Stack.js#L79-L86 that requires a breakpoint and
https://github.com/mui/material-ui/blob/master/packages/mui-system/src/breakpoints.js#L28 and https://github.com/mui/material-ui/blob/master/packages/

[2022-04-08 19:18] stephyswe commented on #31857
Why aren't we allowed to do this, and is there an alternative?
is sx the alternative - the way to use custom colors outside the palette?
[code]

[2022-04-08 20:46] gutakeda commented on #30854
If I remove the "as any" on line 92 from KiwiKilian [CodeSandbox](https://codesandbox.io/s/formattedinputs-material-demo-forked-5v8g5r?file=/demo.tsx:765-779) above, how do I set the type correctly?

It requires a type of `InputBaseComponentProps` but if I type as `InputBaseComponentProps`, `onChange` on TextMaskCustom becomes :
[code]

and it does not accept the `target.name` and `props.name` doe

[2022-04-08 21:49] ajnozari commented on #32136
I'm now seeing the same issue reverting to 5.2.3 seems to fix it

[2022-04-08 22:31] marianozicavo opened #32205 "[TableCell] Error shows up on console when using styleOverrides"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I want to have 3 custom styles for the `MuiTableCell` component.
I followed [the docs](https://mui.com/customization/theme-components/#overrides-based-on-props) and wrote this theme configuration:

[code]

But when I pass any of the props to `TableCell` I g

[2022-04-09 00:10] #32085 closed

[2022-04-09 00:10] #32024 closed

[2022-04-09 00:21] oliviertassinari commented on #31982
I got curious by these 3 logs, I was expecting only 1. I could land on this fix, which makes more sense to me:

[code]

When we have

[code]

I fail to envision how we could justify having `ButtonLabel` resolving the styles on the `ButtonRoot` based on the props of ButtonLabel to not use it in the end. In practice, my proposal is to restrict this feature https://mui.com/customization/theme-compone

[2022-04-09 15:59] ecam900 commented on #29008
The `Container` API was changed from mui v4 >> v5. I'd like to add the `align` prop, or at least a `variant='centered'` prop.

[2022-04-09 18:40] Mansvini commented on #29469
What is the location of the file which contains the sandbox code which needs to be edited in the repository?

[2022-04-09 19:31] MahmoudMans commented on #31287
@theMyth721 I tried the code that @danilo-leal propose and it worked correctly.

[2022-04-10 01:48] TomFreudenberg opened #32214 "[theme] Getting `styleFromPropValue` for spacing will return undefined when using custom breakpoint named small"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Setting theme breakpoints like  this

[code]

will return `marginundefined: 32px` when using

[code]

It seems that just the name `small` will cause that issue.

If renaming `small` into `whatever` will return correctly `marginTop: 32px`

### Expected behav

[2022-04-10 03:17] renbesson commented on #783
I've had this issue for days. Just today the dumb here realized that an useEffect inside the component was doing the rerenders.

[2022-04-10 05:05] douglasg14b opened #32234 "[Grid] Nested grids cause horizontal & vertical overflow outside body & HTML"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

https://codesandbox.io/s/practical-einstein-hu87yt?file=/src/index.tsx:182-628

**^^ Note the scrollbars**

Nested grids cause overflow outside the viewport thanks to the `width: 100%` on `<Grid container>`

If I add `overflow: hidden;` to BOTH `<html>` and

[2022-04-10 06:56] fahadashiq12 commented on #32074
Best, I will ask there Thankyou!

[2022-04-11 01:11] kennydifiore commented on #32033
Also, the onAccept event handler is called even if cancel is pressed: https://codesandbox.io/embed/responsivedatepickers-material-demo-forked-x2vgu1?fontsize=14&hidenavigation=1&theme=dark

This is on the MobileDateTimePicker component

[2022-04-11 05:40] mnajdova commented on #32136
@FlorianBurgevin looks a lot like a mismatch in the versions. Both @mui/styles and @mui/material depend on @mui/private-theming which is a package providing the react context for the theme. If the versions end up using different version of this package, they basically depend on different react context, which would result on something similar as what you've pointed out.

[2022-04-11 07:42] alexfauquette commented on #32036
What I did is not complete automation. It's more like an interface, where you put the text/emoticones, and you get the card in png

https://github.com/mui/card-generator

I assume we need a template for
- blogpost with title and authors
- release with version number and highlights

[2022-04-11 08:23] alexfauquette opened #32243 "[docs] Header link to docs always redirect to MUI Core documentation"
When we are on https://mui.com/x/ the button "Docs" links to [core getting started](https://mui.com/material-ui/getting-started/installation/) instead of [X getting started](https://mui.com/x/react-data-grid/getting-started/)

![image](https://user-images.githubusercontent.com/45398769/162694838-76e98d2e-bedf-462c-9c7e-4139feb8b8a5.png)

[2022-04-11 08:44] GeenCo86 opened #32245 "Box and typescript shows an error due to wrong type"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Using "@material-ui/core": "^4.12.4", so latest patch version.

After creating a new project with cra (also using mui) I get an error for using Box:

TS2786: 'Box' cannot be used as a JSX component.   Its element type 'ReactElement<any, any> | Component<Box

[2022-04-11 08:51] orenklein commented on #31849
@michaldudak This issue is also presented in latest v4 and it is quite critical UX issue IMO. Is it considerable to apply this fix to v4 as well?

[2022-04-11 09:01] michaldudak commented on #32198
Good idea. This would be possible when we drop IE support completely (that is, in the next major).

[2022-04-11 09:05] michaldudak commented on #32245
If you can't reproduce it on Codesandbox, there's a significant chance it's a problem with your setup. Have you tried using the latest version (@mui/material@5.6.0) instead of v4?

[2022-04-11 09:06] fahadashiq12 opened #32246 "mui/x-data-grid and mui/x-data-grid-pro rich data table are they compatible with React version 18?"
I am worried about the support of mui/x-data-grid and mui/x-data-grid-pro and mui/x-data-grid-generator are supported in react 18 project or not?

[2022-04-11 09:06] siriwatknp commented on #31207
Please correct me if I'm wrong but I believe that `colSpan` is the native HTML attribute (even though it is `colspan`, but in React it has to be camelCase). Note that we can't document all of the HTML props in our documentation.

<img width="735" alt="Screen Shot 2565-04-11 at 16 03 44" src="https://user-images.githubusercontent.com/18292247/162702969-c66a888b-0771-4ebc-a07c-ef878c5a714c.png">

Wh

[2022-04-11 09:07] GeenCo86 commented on #32245
I will check this. Btw. I tested it with 'npm --force' and it seems to work. This could be a yarn problem

[2022-04-11 09:11] michaldudak commented on #32245
Are you by any chance trying to use Material UI v4 with React 18? Only versions starting from 5.6.0 are compatible with React 18.

[2022-04-11 09:12] GeenCo86 commented on #32245
No, above there is my environment : react: ^17.0.2 => 17.0.2

[2022-04-11 09:31] ziedHamdi commented on #32051
Hi @mnajdova ,

I just removed makeStyle (from tss-react as described in your migration guide) and things seem to work back.

There remains one issue with useMediaQuery that is not reacting when js is disabled. You can see it in the app: there's a text saying 'large screen content' that you can see on large screens if js is enabled but that disappears otherwise.

Also in my app, I have nothing tha

[2022-04-11 09:40] ziedHamdi commented on #32051
Cool! I know what was causing the problem: it's adaptV4Theme method that is added on migration. You can ckeck that in the last commit and compare it with the one before

[2022-04-11 10:18] michaldudak commented on #31849
@orenklein Yes, we can do it. Would you like to prepare a PR (also taking #32202 into consideration)?

[2022-04-11 10:45] GeenCo86 commented on #32245
Closing this issue since it seem to be a yarn problem! Thanks for support

[2022-04-11 10:45] #32245 closed

[2022-04-11 10:49] #32172 closed

[2022-04-11 10:49] #32183 closed

[2022-04-11 11:11] mnajdova commented on #32196
Agree, this should work. cc @siriwatknp we should consider this when moving the component to the system.

[2022-04-11 11:16] delaquash opened #32247 "Why is webpack Imported module saying not a function in the console"
const baseUrl = 'https://coinranking1.p.rapidapi.com';

const createRequest = (url) => ({ url, headers: cryptoApiHeaders })

export const cryptoApi = createApi ({
    reducerPath: 'cryptoApi',
    baseQuery: fetchBaseQuery({ baseUrl }),
    endpoints: (builder) => ({
        getCryptos: builder.query({
            query: () => createRequest('/coins')
        })
    })
});

export const { useGetCry

[2022-04-11 11:22] #32167 closed

[2022-04-11 11:48] NourSafta opened #32249 "[core] Error after installing yarn"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After running yarn start an error pops up : TypeError: Cannot read properties of undefined (reading 'uid')
![error](https://user-images.githubusercontent.com/77352908/162731860-c06becc1-eefd-41a4-83de-6ef523762741.png)
![failed](https://user-images.githubus

[2022-04-11 12:04] KamilZadykowicz commented on #32245
To avoid this error, indicate the version of  "@types/react" in package.json resolutions.
I noticed that e.g. "@types/react-dom@17.0.3" has dependencies: "@types/react" "*"
and i causes that it uses "@types/react@18.0.1".
You can limit range of versions or give a specific one version of types/react for all dependecies by adding resolutions in package.json

e.g.
"resolutions": {
    "@types/react":

[2022-04-11 12:10] Moshyfawn opened #32250 "[theme] Can't override palette mode in a nested theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Extending a nested `ThemeProvider` theme from the outer _(inital)_ theme and passing a different palette `mode` doesn't get picked up by it's children components
[code]

### Expected behavior 🤔

Components tree nested inside an inner _(nested inside a diffe

[2022-04-11 12:29] vonox7 opened #32251 "[Drawer] Resizing window with open drawer makes main content non-scrollable"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When switching the browser width between mobile & desktop, the main content is not any more scrollable.

Note that this not only happens when the viewport changes between mobile and non-mobile, but also when the Drawer is initialised with `open = true` stat

[2022-04-11 13:06] danilo-leal commented on #31207
Maybe what we're missing is just a statement that you can use native HTML attributes but with camel case? I wonder if that's clear. And a bunch of other API pages might benefit from this simple callout.

[2022-04-11 13:35] jsholzer commented on #12044
I was running in to this exact issue, trying to build a global toast/snackbar for my app, and I came up with a solution that feels like a bit of a hack, but it at least does the trick for now.

The snackbar is wrapped in a dialog, and then the wrapper dialog is setup as follows:

- z-index is set to the value of the snackbar's zIndex from the theme
- the dialog position is "unset", so that the dia

[2022-04-11 13:52] evzzz opened #32252 "[TextField] Generating not valid HTML when using the `select` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Text Field with prop select in result html add wrong attribute variant="outlined"

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1. Open https://mui.com/material-ui/react-text-field/#main-content
2. Ctrl + U
3. Ctrl + F
4. paste

[2022-04-11 14:12] mayurbagga commented on #1467
fullWidth={true} worked for me

[2022-04-11 14:34] #32247 closed

[2022-04-11 15:03] julian-pineiro commented on #29508
Any updates?

[2022-04-11 15:26] wadehammes opened #32253 "[Select] Throwing a value undefined error in latest 5.6.1"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I think this is related to changes in #27299, I am getting an error that value is undefined:

`TypeError: arr[0].props is undefined`

### Expected behavior 🤔

Should work as it does in 5.6.0

### Steps to reproduce 🕹

https://codesandbox.io/s/icy-framework-

[2022-04-11 15:56] samuelsycamore commented on #32036
That is excellent @alexfauquette! I guess we would also need to be able to insert these into each page, probably as front matter?

[2022-04-11 16:30] flaviendelangle commented on #32243
It should probably redirect to [this page](https://mui.com/x/advanced-components/) instead of a Data Grid specific page

[2022-04-11 18:36] Asghwor commented on #17018
@gradinarot, I know this is an old thread, but is there a way to solve this issue without the controller?

TextField stutters with the controlled input, so it would be great if there was a way, even if hacky, to make the components' labels shrink back.

[2022-04-11 18:41] Asghwor commented on #17018
@gradinarot https://react-hook-form.com/api#Controller

@bluebill1049, I know this is an old thread, but is there a way to solve this issue without the controller?

TextField stutters with the controlled input, so it would be great if there was a way, even if hacky, to make the components' labels shrink back.

[2022-04-11 18:43] danilo-leal commented on #32251
Hey @vonox7, thanks for opening the issue up! I'm not being able to reproduce your report, though:

https://user-images.githubusercontent.com/67129314/162807753-90a6466c-a89f-44ff-a992-02562e81d4b6.mov

[2022-04-11 20:07] kimbaudi opened #32255 "Module not found error after updating @mui/material and @mui/icons-material to v5.6.1"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Updating `@mui/icons-material` and `@mui/material` from v5.6.0 to v5.6.1 causes error when rendering material icon.

[code]

### Expected behavior 🤔

Updating `@mui/icons-material` and `@mui/material` from v5.6.0 to v5.6.1 should not cause error when render

[2022-04-11 21:14] vonox7 commented on #32251
Pls see here:

https://user-images.githubusercontent.com/621501/162834130-f70f191d-1422-4c22-af3b-b77a4ad6beb7.mov

[2022-04-11 22:06] KlyshnikovRoman opened #32256 "[FilledInput] The color={undefined} attribute throws a TypeError"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

[code]

### Steps to reproduce 🕹

https://codesandbox.io/s/basictextfields-material-demo-forked-10zp1n?file=/demo.tsx

[2022-04-12 00:00] IGMontero commented on #31849
Hey, what's the state of things with this issue?
I found it recently and I need to fix it asap but haven't found a way around it.
Is it fixed for v5?

[2022-04-12 00:07] igordanchenko commented on #31849
All linked PRs are merged into master, and the latest fixes are available in v5.6.1

[2022-04-12 00:08] #32086 closed

[2022-04-12 00:09] danilo-leal commented on #32251
Can you try a hard refresh on the docs to see if it is something related to the version you're looking at?

[2022-04-12 00:31] redamsy commented on #9775
check this answer: https://stackoverflow.com/a/65925039

[2022-04-12 07:12] vonox7 commented on #32251
Yes, several times. The issue is reproducible on multiple devices on multiple projects. I found now a very hacky workaround, but I assume that the issue should be fixed without this workaround: (The following code is in Kotlin/JS, which gets compiled to JS)
[code]

[2022-04-12 08:10] siriwatknp commented on #32196
Sure, will keep that in mind for the system Grid.

[2022-04-12 08:30] a-dams154 opened #32259 "[support] Button styling doesn't work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

import * as React from 'react';
import { styled } from '@mui/styles';
import Button from '@mui/material/Button';

const MyButton = styled(Button)({
  width: "422px",
            height: "51px",
            fontSize: "16px",
            fontWeight: "bold",

[2022-04-12 08:35] siriwatknp commented on #32250
This is not a bug from Material UI but rather a misuse of the ThemeProvider. It does not work because the whole palette has been calculated at the top ThemeProvider.

[code]

To fix it, you have to recreate the theme. It can be something like this:

[code]

Here is the fix > https://codesandbox.io/s/unruffled-platform-7x1yuh?file=/src/Demo.tsx

[2022-04-12 08:35] #32250 closed

[2022-04-12 08:48] Semigradsky commented on #20461
Looks like it was something related to `storybook`, I can't reproduce the issue without it. My problem I fixed by caching the emotion cache in the js map and returning the early created cache instead of creating a new one.

[2022-04-12 08:55] voliva commented on #30953
I think it's solved from #31950, fixed in mui@5.5.2

[2022-04-12 09:16] Moshyfawn commented on #32250
Alright, makes sense, thank you!

I guess, I got confused by the fact that your receive the outer theme as a callback argument of the `ThemeProvider` theme prop.
[code]

[2022-04-12 09:23] SuperChuck83 commented on #29508
Hello every one i resolved my issue by doing a scroll, like i said before i use prop "onHighlightChange" from "Autocomplete" to detect if i need to get my data from server or not.

` const onHighlightChange = function (event: React.ChangeEvent<{}>, option: T | null, reason: AutocompleteHighlightChangeReason) {

        var length = options.length;
        if (!pagination || option === null || load

[2022-04-12 09:46] #32259 closed

[2022-04-12 10:00] siriwatknp commented on #32250
I think it is worth adding to this page. https://mui.com/material-ui/customization/dark-mode/#main-content

[2022-04-12 10:01] hbjORbj commented on #32249
Hi.

Some of our team members and myself have also just experience the issue.

We will update you soon.

[2022-04-12 10:17] michaldudak commented on #32249
I found out that the problem was introduced by #32229. I'm working on a fix now.

[2022-04-12 10:47] mnajdova commented on #32256
Could you share why you need this use-case? What do you try to solve? The color has a default value, why would you explicitly want to use `undefined` as a value?

[2022-04-12 11:08] KlyshnikovRoman commented on #32256
I ran into this problem when I was wrapping this component. When I explicitly take the `color` property from the props, which is optional and can be `undefined` and pass it to the FilledInput, there shouldn't be any errors in this case, but there is one. To solve this problem, I need to give this prop a default value at the component level, but why? After all, I have a `theme` where I already defi

[2022-04-12 11:16] FlorianBurgevin commented on #32136
@mnajdova it seems to work if I fix all my versions.

Thank you.

[2022-04-12 11:18] mnajdova commented on #32256
Fair enough, so the use-case is a wrapper component, where the wrapper does not have a default value. I agree that it should be fixed, I was just curious how did you end up sending an `undefined` value. Thanks for the explanation.

[2022-04-12 11:25] #32249 closed

[2022-04-12 11:36] flaviendelangle commented on #31410
@HenryLee0 you can use the `inputFormat` prop

See [this example](https://codesandbox.io/s/date-and-time-pickers-forked-jcjd0u?file=/src/App.tsx)

[2022-04-12 12:17] mnajdova commented on #32136
Great, thanks for the confirmation. I am closing then.

[2022-04-12 12:17] #32136 closed

[2022-04-12 12:54] Ezefalcon commented on #30781
This solved my problem

[2022-04-12 13:06] rwieruch opened #32265 "Interplay React Router 6 and MUI Tabs/Tab"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am using React Router 6 **with ** nested routes. In my Tabs I need to find the selected path for the `value` prop. It worked fine with RR5, but I feel like in RR6 we don't have the necessary tools anymore.

Somewhere I have found an issue which tackles th

[2022-04-12 13:31] karranlemos opened #32266 "Support for React Hook Form (uncontrolled forms)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Support for React Hook Form, particularly for uncontrolled forms, which are really useful for improving performance, since components such as TextField can get really stuttery with both Formik and RHF controlled components.

Although we already can integrated TextFi

[2022-04-12 17:50] Moshyfawn commented on #32250
Yea, sounds good! Some example of actually merging the 2 themes and the overrides

[2022-04-12 18:13] elijahkimani commented on #30490
I faced this issue when using a custom input format as indicated below:-
`inputFormat="dd MMM yyyy"`

To solve the issue/suppress the warning, all I had to do was to pass an empty string to the mask prop
`mask=""`

[2022-04-12 18:40] socketpair opened #32269 "<Typography color="...." > is not documented, but works."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary>`npx @mui/envinfo`</summary>

[code]
</details>

[2022-04-12 18:43] socketpair opened #32270 "<LienarProgress color="action.disabled"> does not work (crash)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Steps to reproduce 🕹

Steps:

1.
2.
3.
4.

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary>`npx @mui/envinfo`</summary>

[code]
</details>

[2022-04-12 19:24] #32022 closed

[2022-04-12 19:31] mikepricedev opened #32272 "[Autocomplete] `useAutocomplete` "handleValue " excludes single value tuples/arrays"
[Lines 584-589 ](https://github.com/mui/material-ui/blob/f8520c409c6682a75e117947c9104a73e30de5c7/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js#L584-L589)
[code]

The `Array.isArray(value)` [check](https://github.com/mui/material-ui/blob/f8520c409c6682a75e117947c9104a73e30de5c7/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js#L585) assumes that `newValue` is also an ar

[2022-04-12 20:01] danlg commented on #29081
this issue is still open for me using "@mui/material": "^5.6.1"

[2022-04-12 20:19] JeffBaumgardt opened #32274 "Form Label not respecting the color prop"
https://github.com/mui/material-ui/blob/47460ce5538c6e6e4e0edb4fe31560dd00ed6e07/packages/mui-material/src/FormLabel/FormLabel.js#L41

Trying to review my labels and I came across this one. No matter what I set my `InputLabel` color prop to be the text remains text.secondary.

[code]
Given my `text.primary` color is set to `red` and my `text.secondary` is set to `green`. I see a correct class name

[2022-04-12 20:25] socketpair commented on #23589
Still reproduced...
https://mui.com/material-ui/react-pagination/

[2022-04-12 20:34] jstares commented on #23690
Any updates on the removal of the analog clock?

[2022-04-12 20:52] danilo-leal commented on #32269
Hey @socketpair, thanks for the heads up! Do you want to open a PR for it?!

[2022-04-12 22:35] samuelsycamore opened #32275 "[docs] Add and/or revise "Overview" pages for each MUI product"
## Tasks

- [x] ~~create Base Overview - #32310~~
- [x] ~~create Material UI Overview - #32643~~
- [x] ~~create System Overview - #33503~~
- [x] ~~revise X Overview - [[docs] Revise and split up "Overview" page into "Getting started" section](https://github.com/mui/mui-x/pull/4692)~~

### Summary 💡

MUI X has a newly published [Overview page](https://mui.com/x/advanced-components/), and I think we

[2022-04-13 00:09] #32058 closed

[2022-04-13 03:29] kimbaudi commented on #32255
I don't think the error I am receiving is related to @mui/material and @mui/icons-material because I am able to clone my repo in different machines and not get the error anymore. For some reason, it is only affecting my one machine. I've tried to delete/reinstall node.js, npm, yarn. And I still get the error. Only when I use `npm` command instead of `yarn` command does the error go away. 😢

[2022-04-13 04:47] fuyouqie commented on #31869
Just by putting the demo in documentation to sandbox it clearly reproduces the issue, same exact behavior on latest ios 15.4, while there is no such issue on android.
Have also tested slider with the old mui4, it works fine on both ios and android.

[2022-04-13 05:03] MatthewPosgate opened #32277 "[PopoverUnstyled] Add support for"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The Popover component is the best implementation of a popover I have found - works in all situations and very easy to use. Unfortunately there is no PopoverUnstyled.
The menu component (in /material/menu) is based on the Popover component. However, the MenuUnstyled

[2022-04-13 07:31] hbjORbj commented on #32270
Hi.

Thanks for opening the issue.

[Typography API Docs](https://mui.com/material-ui/api/typography/#props) says

However, for many other components including `LinearProgress`, you can't use system props directly on the component. Instead, you will need to use `sx` as you've already mentioned. e.g., https://mui.com/system/palette/#color

[2022-04-13 07:45] flaviendelangle commented on #23690
I am migrating this issue to https://github.com/mui/mui-x (see [our blog post](https://mui.com/blog/lab-date-pickers-to-mui-x/) for context)

We all agree that the clock UI is far for perfect on desktop.
I am currently working on fixing bugs, but this one should be done in the coming months.

If you could link other inspiration you like it would help us build the best time picker possible.

[2022-04-13 07:54] hbjORbj commented on #32256
@KlyshnikovRoman @mnajdova I opened a [pull request](https://github.com/mui/material-ui/pull/32258) for this! :)

[2022-04-13 07:54] hbjORbj commented on #32256
@KlyshnikovRoman @mnajdova I opened a [pull request](https://github.com/mui/material-ui/pull/32258) for this! :)

[2022-04-13 08:11] hbjORbj commented on #32253
Hi.

I suggest you to remove `{defaultMessage && <MenuItem value="All">{defaultMessage}</MenuItem>}` from `Select` component. We provide a prop called `defaultValue` for such use case.

Here is a working solution: https://codesandbox.io/s/suspicious-hooks-v87vwp?file=/src/RhSelect.component.tsx:1378-1447

[2022-04-13 08:17] hbjORbj commented on #32253
Hi.

Thanks for the report. It indeed seems like a regression from the change in #27299 .
I started a thread [here](https://github.com/mui/material-ui/pull/27299/files#r849205929). I will update you.

In the meantime, you can remove `{defaultMessage && <MenuItem value="All">{defaultMessage}</MenuItem>}` from `Select` component and instead use a `defaultValue` prop.

Here is a working solution: htt

[2022-04-13 08:21] hbjORbj commented on #32269
If we decide to document `color` prop, we will need to document all of these [system properties](https://mui.com/system/properties/#properties-reference-table).

I presume that is why we inserted this explanation instead:

[2022-04-13 08:36] sirartemis commented on #30249
Hi , everybody!
@LuigiMaestrelli , until the bug is fixed, you can try my solution. I hope it gives a result similar to what you expected

https://codesandbox.io/s/clever-noether-5b93i2?file=/Autocomplete.js

[2022-04-13 08:48] ecemac commented on #29207
I'm having a similar issue where I want to pass props to a MUI component.  Here I have a code where I need to pass custom props to Typography:

`const CustomTypography = styled(Typography, {
  shouldForwardProp: (prop) => prop !== "top",
})<{ top?: boolean }>(({ top }) => ({
  color: top ? "#3e7049" : "#6e3f3f",
}));`

` <CustomTypography
                    top={props.top}
                    var

[2022-04-13 09:18] ccpu opened #32280 "[Autocomplete] ArrowUp must be pressed twice to bypass disabled items above"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When the first item is disabled, the ArrowUp must be pressed twice to bypass the disabled item.

### Expected behavior 🤔

It's not clear if it is a bug or if it was designed this way, but my logic says that if an item is disabled, then ArrowUp should bypass

[2022-04-13 09:28] socketpair commented on #32269
Okay, if so, why other components document `color` property ?

[2022-04-13 09:30] socketpair commented on #32270
So, API is not consistent. It's not easy to understand where I can use what colors. Seems, property names are the same, but  allowed values are different.

[2022-04-13 09:38] socketpair commented on #32269
It would much more noticeable if the phrase about system props can be inserted in the table. like this:

![image](https://user-images.githubusercontent.com/1157412/163147486-82f72590-53e6-44b6-8be7-bc50b70fff1a.png)

If you are agree, I think it should be changed in all other places where system props are mentioned

[2022-04-13 09:51] socketpair commented on #32270
The same about `sx`. It is separately documented. Why ? Are the other system props work ? Strange and wobbly API. Sometimes something works, and sometimes no, without any obvious reasons. I would advise renaming intersecting props. Because the set of allowed values is different (comparing same named system prop and non-system).

[2022-04-13 10:38] hbjORbj commented on #32270
Yes, I agree with the confusion. What do you think about this Sam @samuelsycamore ?

[2022-04-13 10:51] rubek-joshi opened #32281 "[system] Cannot override `TabPanel` style using custom theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When trying to override `MuiTabPanel` as stated [here](https://mui.com/material-ui/api/tab-panel/#component-name), it does not work.

Code:
[code]

### Expected behavior 🤔

`MuiTabPanel` styles should be overridden.

### Steps to reproduce 🕹

Steps:

1. Cre

[2022-04-13 11:58] qwertyvipul commented on #32047
The drag & drop works in this case. But as mentioned in the answer, it adds a scrollbar at bottom and the tab scroll button at right end now disappears. Though the scrollbar width can be set to zero, we would want to keep the scroll buttons, considering it is a standard feature. It also hides the custom `ScrollButtonComponent` provided through the props.
See - https://codesandbox.io/s/mr9y10 (No s

[2022-04-13 12:47] olee commented on #25064
@oliviertassinari While this is a duplicate of the 2nd bug reported in #18200, that issue did only resolve the 1st bug but not the 2nd with stacking ListSubheader components.
I just experienced the same issue and I did not see any proposed solution in that issue.

[2022-04-13 13:29] danilo-leal commented on #32269
Thanks for the heads up @hbjORbj! I think @socketpair's suggestion is indeed a clearer way to transmit this information!

[2022-04-13 13:40] wadehammes commented on #32253
Ill update my side to use the `defaultValue`, thank you!

[2022-04-13 14:35] richsilv opened #32284 "Expose styling callbacks in v5 (as was the case in v4)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Material-UI v4 exposed `styles` functions from all of its constituent components, which could be imported and used with `makeStyles` to easily achieve consistent styling in custom components.

This is no longer the case in v5 - the styling callbacks passed to `style

[2022-04-13 15:09] SHIKHARPAINULY commented on #14559
Seems working very well with both cases

1-   <Grid item xs={11} sm={10} md={7}>
2- <Grid item={true} xs={8} sm={10}></Grid>

[2022-04-13 16:21] patik opened #32285 "Duplicate types exported by @mui/x-date-pickers/themeAugmentation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Running `tsc` on my project results in these two errors:

[code]

I verified that this file is indeed exporting duplicate types with those names.

My package.json includes:

[code]

### Expected behavior 🤔

There should be no naming collisions and no TS err

[2022-04-13 17:24] hbjORbj commented on #32281
Hi.

I can confirm that it works in this [codesandbox](https://codesandbox.io/s/vibrant-snyder-pkxs4e?file=/src/Demo.tsx).

Can you provide your code in a codesandbox (you can fork it from the codesandbox provided above)?

[2022-04-13 17:29] hbjORbj commented on #32280
Hi. Thanks for opening the issue.

I personally agree with you but I think this can be quite debatable.

If you are willing to open a pull request for this, please go ahead and request a review from the core team including myself.

[2022-04-13 20:36] joshribakoff-sm opened #32286 "Backdrop gets stuck open at 0% opacity and blocks all clicks on the page due to react-transition-group bug"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

backdrop should always unmount when animation is done

### Expected behavior 🤔

backdrop gets stuck open, blocks interaction with page

### Steps to reproduce 🕹

Honestly it is hard to replicate. Turn on strict mode and interact with the Menu rapidly, or ha

[2022-04-13 20:41] suren-atoyan commented on #31009
@mnajdova @oliviertassinari any thoughts on this? just open the drawer [demo page](https://mui.com/material-ui/react-drawer/#main-content) in mobile Chrome on iPhone. Try to open/close different drawers. There is no animation; it opens/closes with some latency. Everything works great on Safari.

https://user-images.githubusercontent.com/13118722/163265950-2bd444dc-c861-4f7a-b314-3ae67b8054bf.mov

[2022-04-13 22:05] erik-d opened #32288 "locale - couple of names is not consistent with ISO-639-1 code names, then Serbian..."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

- kzKZ,  do not match "kkKZ" since that is logical with ISO-639-1 codes "kk-KZ" (they are bilingual, so "ru-KZ" exist also)
- khKH, Cambodia, change to name: "kmKH", ISO code: "km-KH"

_A tricker one is:_

- srSR, Serbian (sr), you could go by srRS (Republi

[2022-04-14 00:09] #32099 closed

[2022-04-14 00:09] #32064 closed

[2022-04-14 00:10] TomJSmith opened #32289 "Passing a React.Node to the helperText prop of TextField causes validateDOMNesting errors in the console."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Passing a `React.Node` to `helperText` (`helperText={<h1>help</h1>}` for example) causes the following warning to appear in the console:
`Warning: validateDOMNesting(...): <h1> cannot appear as a descendant of <p>.`

Demo: https://codesandbox.io/s/formprops

[2022-04-14 01:01] danilo-leal commented on #31745
Here's more iteration on the subject, I think I've covered everyone's feedback/input:
- Have one tab only for component and styling API (props and CSS)
- Tweak how each prop description, default values, and optionality are displayed
- Add Component API content in the table of contents
- Add a table to showcase component anatomy in case of components that are composed of smaller ones (text field's

[2022-04-14 03:31] boutahlilsoufiane commented on #26369
Hi @oliviertassinari, @mnajdova, I would love to close this, could your please review the PR! thanks a lot for your time.

[2022-04-14 04:09] abcussi commented on #13895
colorSecondary: {
        color: '# custom color',
        '&$checked': {
          color: '#custom color',
        },
      },

[2022-04-14 04:17] ccpu commented on #32280
Thanks for the response. If I get a chance, I will investigate this further.

[2022-04-14 05:08] dummy26 commented on #32064
This is the link to codesandbox - https://codesandbox.io/s/cardactionarea-9sdc2l

When I click on the three dots, the menu shows up along with a ripple effect on the card. And, on clicking on any menu item, the CardActionArea event fires

[2022-04-14 07:29] yjbin commented on #31849
I would like to ask when the issue will be repaired in v4?
Thanks!

[2022-04-14 08:33] hbjORbj commented on #32252
Hi.

You are referring to the component unnecessarily having HTML attribute like `<div variant="outlined".../>` right?

[2022-04-14 08:45] siriwatknp commented on #32275
Could not agree more!

[2022-04-14 09:03] enoh-barbu opened #32292 "[typescript] Typescript error for `fontSizeMedium` class in theming `SvgIcon`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I'm trying to modify the values of MuiSvgIcon for fontSizeMedium but I'm getting TS error as fontSizeMedium is not defined on the model

`Type '{ fontSizeInherit: { width: string; height: string; }; fontSizeSmall: { width: string; height: string; }; fontSiz

[2022-04-14 09:36] hbjORbj commented on #32292
Hi. Thanks for opening the issue.

However, it doesn't look like this bug report has enough info for one of us to reproduce it. 

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

[2022-04-14 09:40] Slexom opened #32294 "[Grid] Grid ignore breakpoints values defined in custom theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

After migrating from v4, While other components, like _Container_, see the new value of breakpoints defined on theme, _Grid_ still use the default breakpoint of MUI 5.

Theme
[code]

_index.tsx_
[code]

_Component_
[code]

CSS rules of first column, can see

[2022-04-14 09:40] enoh-barbu commented on #32292
@hbjORbj https://codesandbox.io/s/modern-star-2bsv3u?file=/src/index.tsx

[2022-04-14 09:48] hbjORbj commented on #32274
Hi. Thanks for opening the issue.

I think this is the same issue as #32270 . Please check out my [explanation](https://github.com/mui/material-ui/issues/32270#issuecomment-1097654442).

This is not a bug but definitely something our team can improve on.

Here is a working solution: https://codesandbox.io/s/tender-perlman-idpnhc

[2022-04-14 09:50] pkhlopiachyi opened #32296 "[system] Custom theme is not being applied"
https://github.com/mui/material-ui/blob/6d9f42a637184a3b3cb552d2591e2cf39653025d/packages/mui-material/src/Button/Button.js#L342

Default  components styles override custom due to className order.

You can use my codesandbox: https://codesandbox.io/s/distracted-fog-74tu7e?file=/src/Demo.tsx link for check this issue.

I use Button component as example. But this bug could be reproduced with a lot a

[2022-04-14 09:56] hbjORbj commented on #32292
Hi.

In order to apply the theme, you should use `ThemeProvider` to wrap the component.

Here is a working solution: https://codesandbox.io/s/nostalgic-leaf-vp0909

However, I see that there is still a typescript error that needed to be fixed on our end.

I will work on it. Thanks for the report!

[2022-04-14 10:00] enoh-barbu commented on #32292
Hi, yes I know, definetly I'm using ThemeProvider but here was just an example for the bug.
Thanks for your help!

[2022-04-14 10:09] #32243 closed

[2022-04-14 10:19] marvinjaworski commented on #29744
I'm already using the new x repository and I'm still having the same problem, I can't access the PaperProp and the MuiStaticDatePicker class specified in the documentation for overrides in the theme isn't recognized either

[2022-04-14 10:21] hbjORbj commented on #32296
Hi.

`@mui/styles` and `withStyles` are deprecated. Ref: https://mui.com/system/styles/basics/

You can turn
[code]

into

[code]

Here is a working solution: https://codesandbox.io/s/gifted-danilo-y8zm0b