[2021-09-27 09:08] jamerst commented on #28569
You don't need to have any `@date-io/*` packages installed explicitly as dependencies, however with the old `@material-ui/pickers` you did have to install the relevant `@date-io` peer dependency manually.

In my case the dependency on an old version of the `@date-io/core` package was still there, and I was getting the exact same error. Updating it resolved the issue.

If you don't have any of the

[2021-09-27 09:20] melvyn-oviavo commented on #28568
![image](https://user-images.githubusercontent.com/78786958/134880706-cfaeb820-c48f-4843-8546-42f3ae510aee.png)

(Firefox 92/MacOS Big Sur).
The way I read it, browser colours for a element are applied when nothing is explicitly setting a or a:link and there is no rule applying here that sets a colour.

[2021-09-27 09:26] melvyn-oviavo commented on #28568
Confirmed by adding:
[code]

[2021-09-27 09:32] oliviertassinari commented on #28632
I would also link #27700 as related. How CSS was approached on the date picker under mui-org/material-ui-pickers was not great +1 for redoing it;

[2021-09-27 10:38] oscar-b commented on #28559
Both `react-app-rewired` and `customize-cra` are old and poorly maintained (doesn't seem to support CRA v4), it doesn't feel lika a viable official solution for MUI to promote when using styled-components.

I would very much prefer a solution not requiring aliasing (or to be more specific, only rely on vanilla CRA), but if that's the only way forward, https://github.com/gsoft-inc/craco seems like

[2021-09-27 10:41] acroyear commented on #28636
now i'm annoyed (at myself). I was pretty sure I tried camel and had the same problem show up, but here we are.

apologies for the error on my part.

[2021-09-27 11:07] TurkaljGoran opened #28643 "[Drawer] Server Side Rendering of Navigation Links"
I have a Drawer component which does not render its children (a bunch of lists with navigation links), but I need them to be rendered server side for SEO.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have this Drawer componen

[2021-09-27 11:15] eps1lon commented on #28569
Thanks for the feedback.

Try upgrading all date related libraries e.g. `@date-io/*` and `date-fns` in your lockfile. Also make sure you don't have any duplicates of these libraries.

Beyond that, we're not able to act on this issue if it doesn't reproduce on new repositories.

[2021-09-27 11:15] #28569 closed

[2021-09-27 11:23] eps1lon commented on #28568
Can't reproduce the screenshot in https://mui.com/customization/color/#playground.

If something is unreadable due to custom, local CSS, then we can't act on this issue. Local CSS needs to be fixed by you.

By old contrast ratio standards, the current color is even passing AAA (7.92 (target 7.5)). Only with the new Advanced Perceptual Contrast Algorithm are we failing (-61.24%  (target -80%)).

[2021-09-27 11:23] #28568 closed

[2021-09-27 11:23] 1337-ishaan commented on #7960
Thanks @yakubova92

[2021-09-27 11:26] siriwatknp commented on #28578
This is some project that I tested with

[code]

Will investigate more if there are other people who experience this similar issue.

[2021-09-27 11:27] eps1lon commented on #28625
Thanks for the feedback-

`npm link` will cause multiple versions of React to be included if both the current and linked repositories have React installed.

Closing in favor of https://github.com/facebook/create-react-app/issues/3883

[2021-09-27 11:27] #28625 closed

[2021-09-27 11:35] eps1lon commented on #28626
Fixed with the releast of `notistack@2.0.0`

[2021-09-27 11:35] #28626 closed

[2021-09-27 11:47] hbjORbj commented on #28586
@Primajin Thanks for creating this issue. The main obstacles to virtualization for the current implementation of masonry component are that (1) items are not aligned in a row, as they are in a normal grid, and that (2) each item spans a different number of rows. Hence, deciding "when" to hide or display items is tricky.

I thought of using an Intersection observer API on every `MasonryItem` and hi

[2021-09-27 11:54] michaldudak commented on #28628
Hi @TongChia. I tried to reproduce the error by following the steps you provided, but I got another error: `[snowpack] Package "react" not found. Have you installed it?`. Could you please provide more detailed steps? Or, even better, set up a repo I could clone?

[2021-09-27 12:48] sm3sher commented on #24828
Still looking for a longterm solution since I am using DateRangePicker in several business projects.

[2021-09-27 12:51] hbjORbj commented on #27934
@oliviertassinari @mnajdova @eps1lon The first usage of masonry component within the team is rejected https://github.com/mui-org/material-ui/pull/28485#pullrequestreview-758403285 because of its known limitation, which is described in this issue:

I think this is a clear indication that we should consider switching to the other implementation, the flexbox approach, here: https://github.com/mui-org

[2021-09-27 12:52] andrei9669 commented on #27380
@eps1lon I hope this suffices for reproduction: https://codesandbox.io/s/basicbuttons-material-demo-forked-fnfxr

[2021-09-27 13:10] oliviertassinari commented on #28588
It's a regression from #28178. I removed the `passHref` prop from `NextLinkComposed` because it has no effects, but I forgot to keep the prop applied inside.

Regarding the fix proposed in https://github.com/mui-org/material-ui/issues/28588#issuecomment-927529221, we also need to update the **other /examples**.

[2021-09-27 13:19] oliviertassinari commented on #28643
Interesting question. It sounds like we could improve the documentation. We cover this in https://mui.com/components/drawers/#keep-mounted but we don't make it explicit about SEO.

We also have similar sections in:

- https://mui.com/components/modal/#performance
- https://mui.com/components/steppers/#performance
- https://mui.com/components/accordion/#performance

I propose we add SEO as a keywor

[2021-09-27 13:42] tomvrampio opened #28648 "TableRow hover style override not working"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Style not applied on hover if hover={true} on TableRow component and style override applied in theme

## Expected Behavior 🤔

Style applied on hover

## Steps to Reproduce 🕹

https://

[2021-09-27 13:42] akshay-loopin commented on #11504
I can't resolve this weird blue line by any of the above mentioned method, what should I do
<img width="743" alt="Screenshot 2021-09-27 at 7 09 03 PM" src="https://user-images.githubusercontent.com/87064295/134920252-291e1e21-adf0-4a29-9de5-bcfeebb4ebe7.png">

[2021-09-27 14:29] TongChia commented on #28628
Thanks Reply 😄
my steps miss [this](https://www.snowpack.dev/guides/preact/#nav-primary)

[https://github.com/TongChia/mui-bug-report](https://github.com/TongChia/mui-bug-report/blob/ac0f4fddd4ae670099f8fbdd251df6091f811733/src/App.tsx#L7)

[2021-09-27 14:34] mwarger opened #28649 "Select size small positions the unselected label incorrectly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When set to size small, the text label is sitting very close to the bottom of the select box - this appears misaligned.

## Expected Behavior 🤔

The label should appear vertically cen

[2021-09-27 14:42] parmarravi opened #28650 "How to remove dot style when text field is disable"
I want to remove the dot style and add a normal line on Text Field when the text field is disabled.

[2021-09-27 14:50] michaldudak commented on #28628
OK, thanks. I was able to reproduce it, I'll investigate what may be the cause of this.

[2021-09-27 15:18] TurkaljGoran commented on #28643
Using ModalProps={{keepMounted: true}} does not do anything if variant="temporary" is set on Drawer.
But if variant="persistent" is set, then I DO get all my children elements (links etc) rendered server side, they are visible in page source.

The problem is if I set Drawer to be variant="persistent", I get SSR and good SEO for my header links, and completely lose the Drawer visual functionality I

[2021-09-27 17:11] sandroweb commented on #27686
Is not duplicated, because #21661 is about position of the opened list. My problem is in dont lock the container scroll in the action of to open the list, like the select component. You was read my issue?

[2021-09-27 17:11] sandroweb commented on #27686
Is not duplicated, because #21661 is about position of the opened list. My problem is in dont lock the container scroll in the action of to open the list, like the select component. You was read my issue?

[2021-09-27 17:54] ChristianFrontAvatar opened #28653 "Problem of autogenerated classes in the component "StyledGrid""
It happens that I have 2 environments where my website is displayed
In the production environment we see that the following class is added:
![image](https://user-images.githubusercontent.com/63002397/134958538-c6faff88-37eb-414c-b92a-e1992b991996.png)

In the other environment (testing) we see that a different class is added to the one we see in production:
![image](https://user-images.githubuserc

[2021-09-27 18:19] brookssolveig opened #28654 "Toggle Buttons in Figma are sized incorrectly."
The components in the MUI 5 Figma file are sized differently than those in production.

Also, though, as an aside, why are these sizes different than regular buttons? For instance, using the Small prop for Toggle Button results in 36 px height, but the Small prop for a bounded button results in 30 px height. Not imperative to this bug, but definitely wanted to voice this curiosity while I'm here.

[2021-09-27 18:31] brookssolveig opened #28655 "AvatarGroup absent from MUI for Figma v5.0.0"
The Figma file "MUI for Figma v5.0.0" doesn't contain the `AvatarGroup` layout of the Avatar component.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The Figma file has lots of variants, but if I want to represent an Avatar Grou

[2021-09-27 18:40] iamchathu commented on #28556
@siriwatknp Any update on this?

[2021-09-27 19:15] danilo-leal commented on #28654
Hey @brookssolveig, thanks for leaving your feedback.

The Toggle Button height, when with an icon inside of it, ultimately depends on the size of the icon used, be it on code or on Figma. On the [demo available on the documentation,](https://mui.com/components/toggle-button/#size) we're rendering the icons with `fontSize="small"` or 20x20, which makes the overall component height be the ones you'

[2021-09-27 19:23] danilo-leal commented on #28655
Hey @brookssolveig, thanks again for leaving your feedback.

We'll make sure to update the Design Kits so they have this variant as well. But let me ask you, what are the max values you wish it had available? For example, [on the documentation](https://mui.com/components/avatars/#grouped), we have an example with `max={4}`. Is it good enough to have 3 variants available on Figma or would you like

[2021-09-27 19:31] brookssolveig commented on #28655
@danilo-leal appreciate you taking the feedback.

I would be fine with a single option of max=4, but hey, more variants never hurt anyone.

[2021-09-27 19:32] brookssolveig commented on #28654
@danilo-leal got it, that makes sense - thanks for the clarification!

[2021-09-27 19:33] danilo-leal commented on #28655
Alright, thanks! I'll let you know once we ship this update.

[2021-09-27 19:34] ehsanonline commented on #25336
if you want the Drawer to come from the **right side** on a `rtl` page, set these props:
[code]
the drawer animation will be correct. if you want it to come from the left side just opposite the props.

[2021-09-27 19:54] dash-tobin opened #28657 "Add documentation for MUI5 with ts, npm, styled-components, webpack"
I'm having a difficult time migrating an existing project from v4 to v5 using ts, npm, styled-components, and webpack module federation.

- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Help users who already have styled-components in an existing project migrate to MUI5
It should describe

[2021-09-27 20:10] MortenPW opened #28658 "Tooltip becomes smaller on hover when placement set to "top""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Tooltip bottom jumps up a pixel

## Expected Behavior 🤔
Tooltip should remain still

## Steps to Reproduce 🕹
Just hover top styles of https://mui.com/components/tooltips/#positioned-to

[2021-09-27 20:56] tkodev commented on #21030
I think `rem` should not be the default value for spacings, margins, widths, etc, because of a few things:
- accessibility users often have their font size set differently than the default 14-16 `px`, this is NOT the same as page zoom and we shouldn't treat it as such. https://medium.com/@sascha.wolff/dont-use-rem-em-for-paddings-margins-and-more-94e19026b000
- using material ui to build injected

[2021-09-27 21:40] danilo-leal commented on #28654
@brookssolveig

The above PR makes the Toggle Button size demo matches Figma. I figured it would make more sense to correct the doc demos rather than tweaking the Figma DK file since this demo in particular was the only one not using the icons default size. So, consider Figma correct, the docs will soon follow and they will mirror perfectly as wished :)

[2021-09-27 21:44] itsmingjie commented on #28137
Thank you both! @mnajdova @danilo-leal -- sorry for the delay in my response. We're definitely going to invite students to contribute to open beginner tickets. Closing this issue since no further action is needed!

[2021-09-27 21:44] #28137 closed

[2021-09-27 21:44] kriswuollett opened #28659 "Use rendered graphics like PNG files instead of SVG in documentation"
## Summary 💡
Change all documentation code comments that use SVG to use PNG file type instead.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Motivation 🔦

The SVGs like those for previewing colors is broken in Visual Studio Code by design, see microsoft/vscode#133389. It is reasonable to assume th

[2021-09-27 21:46] jasonsturges opened #28660 "ButtonGroup's grouped min-width css specificity overridden from root"
Seems like ButtonGroup's `grouped` css specificity is off, overridden by `root` for `min-width`.

## Current Behavior

In style, `minWidth` set to 24px:

[code]

In component using `grouped`:

[code]

My grouped button size is overridden by `.MuiButtonGroup-root .MuiButtonGroup-grouped`

![image](https://user-images.githubusercontent.com/1213591/134988338-1951383d-c295-4456-ad9f-1f47ccdd76e7.png)

[2021-09-28 02:22] twjasa commented on #28371
Hi @irshadpalayadan,

I've been trying to reproduce the error with no luck.

Can you give us more details?

[2021-09-28 03:07] guyellis commented on #28542
I'm seeing exactly what @nratter is seeing.

[2021-09-28 03:54] siriwatknp commented on #28415
@Pablion would it make sense to create another issue so that it is not mixed up?

Good point. @danilo-leal, I think this is a quick win that we can improve. What do you think?

I think what if we swap the text to be something like this? @danilo-leal  @hbjORbj what do you think?

<img width="713" alt="Screen Shot 2564-09-28 at 10 47 39" src="https://user-images.githubusercontent.com/18292247/135020

[2021-09-28 07:09] hbjORbj commented on #28415
@siriwatknp Since we have indentation with a hashtag for a chapter, I think swapping the two names won't be a problem. 👍

[2021-09-28 07:22] eps1lon commented on #28648
Thanks for the feedback.

Hover is currently missing from our [state classes](https://mui.com/customization/how-to-customize/#state-classes). That being said, the [section about state classes](https://mui.com/customization/how-to-customize/#state-classes) does not explain why we can't directly style these classes in `stylesOverrides`. The drawback explained does not apply here.

@mnajdova Could yo

[2021-09-28 07:37] eps1lon commented on #28326
`flipForRtl` is a really bad prop name that's not in the spirit of React programming i.e. not declarative. As library authors, we should summarize when to not flip and name the prop to what it's rendering. Not how it should render it.

[2021-09-28 07:37] romanown commented on #20981
how did you upgrade from version 3 to version 4? are there any problems after the update?

[2021-09-28 07:39] romanown commented on #20981
can I make this fix in version 3 locally?

[2021-09-28 08:07] isabellachen opened #28662 "Failed prop type: Invalid prop `anchorEl` supplied to `ForwardRef(Popper)` [TypeScript]"
When passing a DOM node to <Popper> I get the following error/s (sometimes it's both, sometimes it's the second one only):

[code]

[code]
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Getting these errors when trying to position

[2021-09-28 08:28] mnajdova commented on #27380
@andrei9669 take a look in https://github.com/mui-org/material-ui/issues/26366 You should use the [importMap](https://emotion.sh/docs/@emotion/babel-plugin#importmap) option for the babel plugin, to provide different import for the styled utility. Something like this should work:

[code]

You could even add one for `@mui/material/styles`

[code]

[2021-09-28 08:44] mnajdova commented on #27846
@DylanSp @binxiaosyd we try to keep https://github.com/mui-org/material-ui/tree/HEAD/examples/create-react-app-with-styled-components up to date regarding the integrating with `styled-components`.

You need to add:
- webpack alias - https://github.com/mui-org/material-ui/blob/master/examples/create-react-app-with-styled-components-typescript/config-overrides.js#L5
- TypeScript path (if you are usi

[2021-09-28 08:52] mnajdova commented on #28657
@dash-tobin thanks for sharing this. We try to keep https://github.com/mui-org/material-ui/tree/HEAD/examples/create-react-app-with-styled-components up to date regarding the integration with styled-components.

As you already mentioned, you need to add:

webpack alias - https://github.com/mui-org/material-ui/blob/master/examples/create-react-app-with-styled-components-typescript/config-overrides.

[2021-09-28 08:53] eps1lon commented on #28662
You passed `<Popper anchorEl="BTC" />` due to `const anchorRef = useRef("BTC")`. This is not supported. The TypeScript type checker explains the mismatch in types.

[2021-09-28 08:53] #28662 closed

[2021-09-28 09:07] oliviertassinari commented on #28655
There is this component, is it enough, If so, then it's an issue with the docs page in Figma

<img width="251" alt="Screenshot 2021-09-28 at 11 06 58" src="https://user-images.githubusercontent.com/3165635/135058046-7be19f3c-2a67-4d67-9f3d-4572fe3962e0.png">

[2021-09-28 09:17] andrei9669 commented on #27380
hmmh, it doesn't seem like it works. https://codesandbox.io/s/agitated-boyd-9z2r9?file=/.babelrc

[2021-09-28 09:36] wbruntra commented on #28559
I am having the same issue, using `npx create-react-app`
I copy-paste the `Button` example from
https://mui.com/getting-started/usage/

[code]

`yarn start` crashes with missing dependencies.

Fixed by running:
```yarn add @emotion/react @emotion/styled```

My OS is Ubuntu.

[2021-09-28 09:43] mnajdova commented on #28660
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-28 10:07] #28588 closed

[2021-09-28 10:09] mnajdova commented on #28653
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

-----

Is the class coming from `styled-components

[2021-09-28 10:23] hbjORbj commented on #28556
@iamchathu You would like to access/change a value, like `code`, of a specific data object, like `Film`. You would like to do so when an option is selected. Is this correct?

[2021-09-28 10:38] iamchathu commented on #28556
I need to use options like object
[code]

selected value should be `1`

but thing is when i defined type (`AutocompleteProps<Film, false, false, false, "div">`)
then `value` should be the `Film` type and onChange also use that type.

I tired
[code]

I can not use like this too.
[code]

Is there way to archive this? I think it was possible on a previous version.

[2021-09-28 10:39] LukeXF commented on #28519
Anyone?

[2021-09-28 10:45] mnajdova commented on #28658
Could you please share a screen recording/video of what you see? I cannot reproduce.

[2021-09-28 10:55] jlramosr opened #28664 "How override Material UI v5 styles with makeStyles?"
Hello,

Three days ago I migrated from version 4 to 5. I use `makeStyles` to style all my components. But with version 5, many of my styles have lost priority and the original mui styles win over my styles with `makeStyles`. I've been reading a lot about this problem and I don't understand which is the best solution for now. I tried with `StyledEngineProvider` of course, but my problem persists.

[2021-09-28 11:05] mnajdova commented on #28664
You have set up everything correctly. This is specific to the `Chip` component. The styles for the icons are applied using a nested class selector, which has bigger specificity then using nested HTML element. What I mean is that:
`'& .MuiChip-icon': {}` has biggest specificity than `'& svg': {}`. If you use the same selector, the styles from `makeStyles` would win. See https://codesandbox.io/s/hoo

[2021-09-28 11:06] #28650 closed

[2021-09-28 11:12] jlramosr commented on #28664
Ok, thanks,
But really? Then the migration will be crazy. I can't do this now. I would have to change a lot of components and it takes a long time. Is not there a better solution?

[2021-09-28 11:14] melvyn-oviavo commented on #28568
There is no custom, local css. I don't use any extension that customizes local styles (only dev tools, but of course on page reload that is gone).

Further investigation shows, that the class name used for the parent div is:
- css-don982 on Safari
- css-ms1ivg on Firefox

The latter doesn't set a colour value, only text-decoration statements as is evident in the screenshot posted. I have no clue w

[2021-09-28 11:25] mnajdova commented on #28648
I don't think we should even have it to be honest, I think that the prop in this component is rather `hoverable`, not `hover`. In that case the overrides should be added as: `& .MuiTableRow-hoverable:hover` and this in my opinion starts to make sense.

We should not support the `hover` key in the style overrides, it is a pseudo class, as documented even in v4, not a selector for adding overrides.

[2021-09-28 11:28] hbjORbj commented on #28556
@iamchathu I see. I think this solves your problem. Let me know.

In `App.tsx`, you can change
`<AsynchronousAutoSuggest
              onChange={(e, v) => onChange(v)}
              {...field}
            />` to `<AsynchronousAutoSuggest
              onChange={(e, v) => onChange(v?.code)}
              {...field}
            />`.

[2021-09-28 11:34] iamchathu commented on #28556
@hbjORbj I updated the codesandbox for the way up suggested

But as I said it gives
[code]

[2021-09-28 11:45] jlramosr commented on #28664
I mean I have this problem with more components :(

[2021-09-28 11:48] tomvrampio commented on #28648
Thanks @mnajdova , your comment led me to the answer: https://codesandbox.io/s/goofy-gauss-k922m?file=/index.js

It's worth me clarifying here that I am solely referring to the prop hover, not the pseudo class. The docs for TableRow props (https://mui.com/api/table-row/#props) were what caused me to assume that the `hover` prop could be accessed at the same level as `root` in theme styleOverrides.

[2021-09-28 12:04] hbjORbj commented on #28556
@iamchathu Here is a codesandbox: https://codesandbox.io/s/rhf-mui-autosuggest-forked-nwdzh?file=/src/auth-suggest.tsx. I made the following changes:
1. pass `onChange` function of `Controller` to `AsynchronousAutoSuggest`.
2. and pass the following function as `onChange` to `Autocomplete`:
`      onChange={(event, newValue) => {
        (props.onChange as any)(newValue?.code);
      }}`

If you s

[2021-09-28 12:09] iamchathu commented on #28556
[code]

You have changed this to

[code]

Which is why the type error goes away. But my form value should be the code.

[2021-09-28 12:14] kaylathomas commented on #24764
Hi there - I'm not sure if this is the same issue, but I think it is: I'm also getting an error when I attempt to use justifyContent on an MUI Grid container at all... I don't have this issue when I use JSX alone with MUI, but my current position requires I use Typescript. I'm getting the following error:

[code]

Things are fine when I use, say,` style={{justifyContent: 'center'}}` or something t

[2021-09-28 12:19] iamstiil opened #28666 "[codemod] Handle `@mui/material/styles` in `jss-to-styled`"
Hey, while migrating I found this.

I think in [this line](https://github.com/mui-org/material-ui/blob/332081eb5e5e107d915e3c70f92e430dc364048f/packages/mui-codemod/src/v5.0.0/jss-to-styled.js#L501) and in [this line](https://github.com/mui-org/material-ui/blob/master/packages/mui-codemod/src/v5.0.0/jss-to-styled.js#L516), `@mui/material/styles` should be used by default. `@material-ui/core/styles

[2021-09-28 12:43] Pablion commented on #28415
@hbjORbj I like your solution on this a lot. In this way the '#' icon becomes meaningful.

And maybe we can make them less height or with Chip component so we can show more contents below? They are just occupying all the spaces.

[2021-09-28 12:54] hbjORbj commented on #28556
@iamchathu I see. That wasn't my intention, sorry about that.
Since the `value` must have reference equality with the option, I think creating a second type such as `FilmCode` would be rather simpler. I've done a quick demo here: https://codesandbox.io/s/rhf-mui-autosuggest-forked-nwdzh?file=/src/App.tsx

[2021-09-28 12:57] mnajdova commented on #28648
@tomvrampio if the intend is to have those styles when hoverred, you should change the selector to:

[code]

See https://codesandbox.io/s/nervous-franklin-y07m1?file=/index.js It doesn't make much difference for this particular style, but if you, for example add a background, it would always be applied, not only on hovering.

[2021-09-28 12:59] mnajdova commented on #28666
@iamstiil oops looks like we forgot to update this :\ Thanks for the report.

[2021-09-28 13:23] mnajdova commented on #28664
Also, I can see that this worked in v4, it is a regression: https://codesandbox.io/s/hook-material-demo-forked-6n0zi?file=/demo.js

[2021-09-28 13:30] danilo-leal commented on #28655
@brookssolveig We forgot to add the AvatarGroup, which ended up being already there, to the Avatar frame on the Overview page. The above screenshot was taken from the Avatar specific page, so it was a bit hidden there, easy to miss out.

We'll be adding it to the Overview page as well so it's easier to find. Sorry about the brief confusion, hope it resolves for you. :)

[2021-09-28 13:40] mnajdova commented on #28664
Looking more into the issue specific to the `Chip` component, I think we would have this difference between v4 and v5 in the components that use `React.cloneElement`. The reason is that, previously we were adding the classes generated by `makeStyles`, but in v5 that API is not supported, so the styles are moved to the parent, added by using nested class selector.

To be honest I would document thi

[2021-09-28 13:44] jlramosr commented on #28664
For example, with _Autocomplete_:
`
<Autocomplete
          classes={{
            paper: classes.selectMenu, ...
          }}
`

and inside makeStyles:
`
selectMenu: {
      fontSize: '0.75rem', ... }
`

this worked before in version 4 (each element of the popover list showed with that font size). But now, there is another font size with priority.

I've solved with:
`
selectMenu: {
    '& p': {

[2021-09-28 13:50] MortenPW commented on #28658
https://user-images.githubusercontent.com/26002343/135100152-dd4637f5-a9a9-47c7-92ef-18e9adeee1e0.mp4

This should show what's happening - the issue only occurs on placement = "top".

[2021-09-28 14:27] gsi-chao commented on #28666
I was going to report the exact same thing. Greetings

[2021-09-28 14:35] #28666 closed

[2021-09-28 14:35] mnajdova commented on #28666
It was fixed, thanks again!

[2021-09-28 14:44] trickreich opened #28668 "TreeItem ContentComponent custom props"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Custom props are not possible in typescript currently.

## Expected Behavior 🤔

Type should be more open: `ContentProps?: React.HTMLAttributes<HTMLElement>;`

## Steps to Reproduce 🕹

[2021-09-28 15:01] brookssolveig commented on #28655
Ah, my apologies for missing it!

On Tue, Sep 28, 2021 at 6:30 AM danilo leal ***@***.***>
wrote:

[2021-09-28 15:06] totoro0103 opened #28669 "[Menu & Menu Item] Just text lagging when open menu"
https://user-images.githubusercontent.com/25924647/135114103-2bba4420-cfa5-41fe-96ae-892618ffb09c.mov
 I have a problem when open and close Menu follow sample:
https://codesandbox.io/s/yr193?file=/demo.tsx
I don't know when the Text just small change position.  Please help me. @@

This is my devDependencies I using config webpack.
[code]

[2021-09-28 15:08] iamchathu commented on #28556
@hbjORbj Thanks. No worries.

Apart from TS issues I think [CodeSandbox](https://codesandbox.io/s/rhf-mui-autosuggest-93cgm?file=/src/App.tsx) version works. There are two things to specify.

1. Controlled-Uncontrolled state error
2. Maybe Setup value type in the generics.

[code]

[2021-09-28 15:10] trickreich commented on #28668
Maybe a stupid question: Why the api is designed with these two props instead of something like a render prop?
for example calling `renderContent` with all props?

[2021-09-28 15:29] #28654 closed

[2021-09-28 15:29] danilo-leal commented on #28655
No worries. Thanks for reporting it! Closing the issue.

[2021-09-28 15:29] #28655 closed

[2021-09-28 16:10] hbjORbj commented on #28556
@iamchathu Yes, I've suggested some other approaches, but I also think my first suggestion is the most simple and clean solution.

Your TS errors on `AsynchronousAutoSuggest` will go away once you stop passing `...field` to it. `...field` contains the following props `onBlur: () => void;
    value: number;
    name: "code";
    ref: React.Ref<any>;
}`, some of which are not supported by the Autoco

[2021-09-28 16:18] nikkizol opened #28670 "Material ui icons don't resize on Safari when changing webpage size"
Hey guys, I recently noticed that when I change the size (zoom in, zoom out) of the webpage in Safari, Material ui icons don't resize...

To test it:
 - go to the mui website: https://mui.com/getting-started/usage/
 - zoom on page to 300%

You will see that text and everything else resized, except the icons...

see screenshot below, on the right side - Chrome, on the left side -Safari

![be935ccc-

[2021-09-28 16:18] sarahannnicholson commented on #13174
@oliviertassinari Found a different media query that is more standardized [@media forced-colors](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors)

Ref: [Windows Blog](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/)

We recently changed our MUI theme to:
[code]

Would be great if this was supported in MUI.

[2021-09-28 16:23] #28556 closed

[2021-09-28 16:26] sarahannnicholson commented on #16367
Wanted to comment here to resurface this issue.
Also +1 for built in support! :)

[2021-09-28 16:28] sarahannnicholson commented on #16367
Commenting here to resurface this issue.
Also, +1 for built in support :)

[2021-09-28 16:59] g4rry420 commented on #28554
Can I work on this issue ?

[2021-09-28 17:02] seulkiro commented on #22426
We are using material ui for our puzzle management service and it's awesome! We love it! Thanks for the work that you guys put in. 🙌  Here are the details of our product.

Product: puzzl.io - shareable puzzle management
Company or organization: puzzl.io
Link:
- https://puzzl.io/
- https://puzzl.io/p/archillect-puzzle-4x4-1/

Screenshot:
![puzzlio-preview](https://user-images.githubusercontent.com/

[2021-09-28 17:31] twjasa commented on #28658
Hello you all 👋 ,

I've been looking issues to participate in Hacktoberfest and found this one a really interesting to start. Yesterday I manage to solve this issue, please see below:

Before:

https://user-images.githubusercontent.com/12849040/135134096-c66d43ee-2425-4702-8069-2a5080ea3a72.mov

After:

https://user-images.githubusercontent.com/12849040/135134133-bd97ba45-4f9c-4543-bbda-8a1bdefe69

[2021-09-28 18:08] jesusrodrz opened #28671 "Can't new create inputs variants"
I am trying to create a new varian for inputs like I did for buttons
![image](https://user-images.githubusercontent.com/34176666/135141727-4b6e9d12-8070-49b8-a37e-7ca158d8431d.png)

When i try to replicate this with `MuiIpunt` or `MuiInputBase` the typescript compilert complains like this feature isn't available

![image](https://user-images.githubusercontent.com/34176666/135141778-32e322c2-4960-4

[2021-09-28 18:43] devamiya commented on #28399
@mnajdova I just updated your code with `"@mui/styles": "5.0.1",` in package.json
And it's failing with the `theme.spacing is not a function`.

[2021-09-28 19:01] jasonsturges commented on #28660
@mnajdova

How it worked in v4:
https://codesandbox.io/s/confident-villani-mytyt?file=/src/App.js

No longer working in v5:
https://codesandbox.io/s/funny-lucy-qts3h?file=/src/App.js

Perhaps by design, but if so the `grouped` css rule seems off.

Regardless, the context seems clear: Sizing a button inside a button group.

[2021-09-28 19:12] dash-tobin commented on #28657
Thank you for the response. I did look at this documentation before creating the issue, so it may be just me in this boat, but my hope is that others could also be helped by even more robust documentation. Though the migration doc is long I wouldn't mind more clarification if it means easier migration.
My biggest issues revolve around:
1. StyledEngineProvider. If I had styled-components installed

[2021-09-28 19:15] espipj opened #28672 "Theme Color Palette + Button not behaving as expected"
So I wanted to add a new colour to my buttons as states in the docs here: https://v4.mui.com/customization/palette/#adding-new-colors

But it seems that is failing and throwing me this error:

CodeSandbox: https://codesandbox.io/s/material-demo-forked-cxhi4?file=/demo.js

This may be a bug or not well explained documentation maybe?

[2021-09-28 19:20] behnammodi opened #28673 "Disable TableRow"
Can we disable a row in the table by a `prop`, something like this:

![Screen Shot 2021-09-28 at 22 48 10](https://user-images.githubusercontent.com/1549069/135151739-24d8ccf4-0bde-48fb-a36e-6f36e6ab4c75.png)

Row number 4 is disabled

[2021-09-28 21:43] ChrisClaude commented on #19463
Hi, I am looking at this issue.

[2021-09-28 22:45] MikeRawding opened #28675 "Using ListItemSecondaryAction within Tooltip logs warning"
Thank you for building MUI! :heart:

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using a `ListItemSecondaryAction` within a `Tooltip` logs a warning.

## Expected Behavior 🤔

Using MUI's own components within a `Tooltip` should

[2021-09-29 01:04] siriwatknp commented on #28554
Nice, go ahead!

[2021-09-29 03:35] akashshyamdev commented on #15984
@oliviertassinari @eps1lon can you assign a beginner friendly component for this?

[2021-09-29 04:44] karanattriCaw commented on #21146
Even in my case, the issue was with the label and I got it resolved as @ShwetaPatel1 did it.

[2021-09-29 05:30] owais635 opened #28677 "`v5.0.0` marked as still in progress"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- In the docs, in [release schedule](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/versions/versions.md#release-schedule), `v5.0.0`  and `v5.0.beta.0` are listed a

[2021-09-29 05:37] owais635 commented on #28677
if this is an issue, and it would be a good first issue, I would like to work on it.

[2021-09-29 05:43] siriwatknp commented on #28677
@owais635 nice catch! please submit a PR and you can tag me as a reviewer.

[2021-09-29 07:10] eric-burel opened #28678 "[system] `styled` should accept sx syntax"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`styled` and `sx` should accept the same set of props.

## Examples 🌈
[code]

The `WrapperPaper` component doesn't seem to apply the shortcuts
![image](https://user-images.githubusercontent.com/7983005/135219854-c5eacea1-420f-47cf-823f-4e4772

[2021-09-29 07:28] mnajdova commented on #28675
Thanks for the report. Looks like the warning would be shown with all components that do not spread the props on the first element, or at least the element that holds the ref (for example have some kind of container). Here is the simplest reproduction: https://codesandbox.io/s/nostalgic-fire-qxmv2?file=/src/App.js

Not sure what would be the best fix here, to be honest. If we just look in the chil

[2021-09-29 07:42] jaure96 commented on #12095
@Deibi12  try this:
`export default withMobileDialog()(withStyles(styles)(CreateSimulationDialog))`

[2021-09-29 07:52] owais635 commented on #28677
Thanks,
I have a few questions.

- I was thinking of updating the table to be the following. Is this ok?
[code]
- I have noticed we have some translated files, do I also have to make the change there? Or are they automatically generated?
- <img height="200" src="https://user-images.githubusercontent.com/25351744/135225891-4dc3518e-1140-4751-b1f9-0c7f5b703212.png">

[2021-09-29 07:59] siriwatknp commented on #28677
@owais635

for v5.0.0 the release date is `September 16th, 2021`

only `versions.md`, other languages will be auto generated. cc @oliviertassinari

[2021-09-29 08:06] siriwatknp commented on #28678
@mnajdova I also have the same feeling here (after using a lot of `styled` and `sx`). Sometimes, I mistakenly write sx syntax inside `styled` and figure out later that it does not work 😂.

I think it seems possible to accept `sx` directly in styled but the only concern is about performance gain.

[2021-09-29 08:14] sudhay23 commented on #28673
Hello @behnammodi. Can I work on this with guidance please?

[2021-09-29 08:24] siriwatknp commented on #28672
@espipj the docs that you refer to does not related to extending Button color. It is not possible in v4 (from your codesandbox) because the limitation on JSS styling engine but it is possible now in v5 with emotion or styled-components. [Check this out](https://codesandbox.io/s/globalthemeoverride-material-demo-forked-8jfhz?file=/demo.js)

**Resources**
- https://mui.com/customization/theme-compon

[2021-09-29 08:24] #28672 closed

[2021-09-29 08:25] behnammodi commented on #28673
@sudhay23 We need a prop on `<TableRow />` to disable that something like this:

[code]

[2021-09-29 08:26] flaviendelangle commented on #28673
@behnammodi for more advanced usecases we advise to use the [DataGrid](https://mui.com/components/data-grid/getting-started) instead of the *Table*.

But maybe the `disabled` prop is simple enough to be added to `Table`, I let the core team answer on that point.

[2021-09-29 08:26] eps1lon commented on #28519
@LukeXF Depending on your package manager, please run `yarn why rifm` or `npm ls rifm`.

[2021-09-29 08:26] nickchauhan opened #28679 "Override Tooltips styles using sx property not working!"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm trying to override the **Tooltip** label and arrow styles using **sx** prop.
But when I apply CSS in **sx** property it applies the CSS to the wrapped component instead of the Too

[2021-09-29 08:27] #28669 closed

[2021-09-29 08:30] sudhay23 commented on #28673
@behnammodi

Is this the file I must look at changing? [Link](https://github.com/mui-org/material-ui/blob/512896973499adbbda057e7f3685d1b23cc02de9/packages/mui-material/src/TableRow/TableRow.js)

[2021-09-29 08:35] siriwatknp commented on #28671
Unfortunately, it is not possible at this point for TextField related components (Input, InputBase, ...) because variant used in these components contain logic binding eg. label shrink, etc. By allowing more variant, it could break the component. To achieve a similar result, you can create a new component instead.

[code]

[2021-09-29 08:43] #28555 closed

[2021-09-29 09:02] behnammodi commented on #28673
@sudhay23 Yes, I think but let the core team answer on that

[2021-09-29 09:03] behnammodi commented on #28673
@flaviendelangle Thanks, I think this prop is very simple to have it

[2021-09-29 09:03] sudhay23 commented on #28673
@behnammodi sure. Should we tag someone though? And If that's allowed, can I have this as part of my Hacktoberfest PRs?

[2021-09-29 09:06] behnammodi commented on #28673
@sudhay23, You can find core team members from here https://github.com/mui-org/material-ui/graphs/contributors, and I can't answer to the second question, what is Hacktoberfest PRs?

[2021-09-29 09:10] sudhay23 commented on #28673
Hacktoberfest is an event that occurs through October where we get recognized for the Pull requests we make during October. So thought of participating in the same

[2021-09-29 09:10] sudhay23 commented on #28673
Thanks for the link.

[2021-09-29 09:11] sudhay23 commented on #28673
@oliviertassinari Can you please help me out with this?

[2021-09-29 09:24] behnammodi commented on #28673
Awesome, so please tell me to know if you need any help about implemantation

[2021-09-29 09:26] itmecho commented on #28569
@eps1lon No worries, I wasn't sure if there was anything to be fixed on your side anyway!

OK so from a little more digging, I found that when it's building, it's pulling in `@date-io/core@1.x` when it needs to use `@date-io/core@2.x`. This is due to being in a monorepo where another package is still using `@material-ui/pickers` which requires `@date-io/core@1.x`. I'm not quite sure why it's pulli

[2021-09-29 09:28] trmpowell commented on #28633
I am also struggling to change `typography.fontFamily` via the theme. I've tried the example from @Brlaney above - no luck. I can see the changed `fontFamily` in the theme object, but it's not being applied to the components. I'm using these versions:
[code]

[2021-09-29 09:29] sudhay23 commented on #28673
Yeah thanks for the support, since I'm contributing for the first time here, can you help me get started on this?

[2021-09-29 09:32] behnammodi commented on #28673
@sudhay23 Sure, to start contributing read this https://github.com/mui-org/material-ui/blob/master/CONTRIBUTING.md

[2021-09-29 09:38] senitelty commented on #26735
I think this might be related too is a similar issue, when pressed buttons with text change color too, only happens in dark mode and with specific colors.
https://codesandbox.io/s/outlined-button-active-state-bug-e0qod?file=/demo.tsx
Windows 10
Version 94.0.4606.61

[2021-09-29 09:57] flaviendelangle commented on #28673
I removed my comment because on the `DataGrid` I don't see an easy way to disable a row (you can disable the interaction easily but not the style). So it does not solve your problem.

[2021-09-29 10:09] oliviertassinari commented on #28677
Should we start to think about a release timeline for v6? It seems that we start to have a few opportunities:

- Drop IE 11 entirely
- Rework theme structure to use CSS variables
- Update Material Design (we didn't work on it much in v5)
- Move material design to use the `@mui/material-next`
- etc.

I kept track of this into Trello, but it feels like moving everything to GitHub issues would work b

[2021-09-29 10:11] behnammodi commented on #28673
@flaviendelangle Thanks a lot for investigating that

[2021-09-29 10:14] Alarees opened #28681 "error : createTheme is not a function"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
`createTheme` function is not exported from `@material-ui/core/styles`

## Expected Behavior 🤔
`createTheme` function works in `mui-v4`

## Your Environment 🌎

<details>
  <summary>`np

[2021-09-29 10:24] mnajdova commented on #28679
Thanks for the report @nickchauhan Looks like the `sx` prop is being spread on the children element instead of the Popper. This diff should help:

[code]

Also, I think we need to prioritize adding `components` and `componentsProps` on the portal components, so that we can allow users to customize and add overrides on them. cc @michaldudak

[2021-09-29 10:35] mnajdova commented on #28681
@Alarees it was added in v4.12.0 when `createMuiTheme` is deprecated. You are on v4.9.11

[2021-09-29 10:49] mnajdova commented on #28678
Thanks for the feedback.

The downside I see with supporting this API, is that we are no longer compatible with other frameworks' `styled()` API. For example, adding `margin: 1` would no longer add `margin: "1px"`. This is the main reason why initially we didn't change the API. People are mostly already aware of how to use the `styled()` API, so it would be surprising if it didn't work the same wa

[2021-09-29 11:12] mbrevda opened #28683 "[Collapse] `addEndListener` is not called with an Element"
When providing the `addEndListener` prop to react-transition-group, the above error is received

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When providing the `addEndListener` prop, the above error is received. It would seem th

[2021-09-29 11:33] eric-burel commented on #28678
Yeah I understand, I was indeed wondering whether "margin: 1" would add 1px, or spacing(1). It could indeed require a new API, for instance, exporting an `sx` function:

[code]

I may try to send a PR to the documentation. Another slightly related question: it's documented how you pass props to `styled`. Emotion uses this pattern:
[code]

While `tss-react` `makeStyles` is using:
[code]
and Materia

[2021-09-29 11:36] Alarees commented on #28681
so, from the doc page, how do i know in witch version this function or this prop where added

[2021-09-29 11:43] trmpowell commented on #28633
Scratch that. I got mine working with this:
[code]

[2021-09-29 11:53] mnajdova commented on #28678
@eric-burel thanks for the feedback. Would be great if you can propose a PR with the pain points you had, it would help a lot 🙏 We can discuss the details on the PR.

[2021-09-29 12:02] mnajdova commented on #28681
When browsing the docs, in the top left corner you have the version the docs is referring to.

Note, that `createTheme` is considered a new feature added to ease up the migration to v5. If you would like to see when a new feature was added, you can reference the [CHANGELOG.old.md](https://github.com/mui-org/material-ui/blob/master/CHANGELOG.old.md) for changes that happened before v5.

[2021-09-29 12:05] iamchathu commented on #28556
@hbjORbj

Issue got fixed when I remove value prop from the Controller. But now I can not reset the value after submit. If I set value and default as `undefined` it get the React error uncontrolled component is going controlled behaviour. If I set null or '' as the default value it sets `undefined` to the text field's value in initial load.

[2021-09-29 12:20] hbjORbj commented on #28556
@iamchathu Can you provide a codesandbox where the error is clear ? :)

[2021-09-29 12:27] iamchathu commented on #28556
@hbjORbj Sure I updated the codesandbox https://codesandbox.io/s/rhf-mui-autosuggest-93cgm?file=/src/App.tsx

[2021-09-29 12:43] yevheniiminin opened #28686 "Wrong behavior when overriding formControl style of InputLabel"
I was trying to override formControl style for InputLabel component and for some reason it was working the other way around - applying my style when there was no formControl prop provided. I took a look at the code and I see there is a negation condition here which looks like a bug.
https://github.com/mui-org/material-ui/blob/512896973499adbbda057e7f3685d1b23cc02de9/packages/mui-material/src/Input

[2021-09-29 12:43] simplenotezy opened #28687 "[Migration] Unable to find the input element. It was resolved to [object HTMLDivElement] while an HTMLInputElement was expected."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am getting this error:

[code]

When I use autocomplete like this:

[code]

It worked with v4. [According to the documentation](https://mui.com/components/autocomplete/#customizatio

[2021-09-29 12:48] MonstraG opened #28688 "[DatePicker] PickersDay - disableMargin doesn't affect weekday letters"
`disableMargins` prop, as the documentation states, removes the margins from the days of the calendar.
But it doesn't remove them from the weekday letters, which results in misalignment (see Current Behavior)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicat

[2021-09-29 13:00] hbjORbj commented on #28556
@iamchathu

I think you can utilize `inputValue`/`onInputChange` combination.

the "value" state with the `value`/`onChange` props combination. This state represents the value selected by the user, for instance when pressing Enter.
the "input value" state with the `inputValue`/`onInputChange` props combination. This state represents the value displayed in the textbox.

Also, even though `value` fr

[2021-09-29 13:07] michal-perlakowski commented on #28679
@mnajdova I don't think it makes sense to spread `other` props on the children element - users can pass them to the children directly. I think `other` props should either be spread on the Popper, or not used at all.

[2021-09-29 13:19] shirik534 opened #28689 "Documentation site constantly reloading"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The site with the documentation is constantly reloading. It happens in an endless loop

## Expected Behavior 🤔

The site is working normally

## Steps to Reproduce 🕹

https://mui.com/

[2021-09-29 13:19] anubhavbagri commented on #10571
Perfect solution!

[2021-09-29 13:27] tomcooksey opened #28690 "Button doesn't respect theme colors"
## Current Behavior 😯

When rendering a button with a custom theme using ThemeProvider, the button does not respect the color in the theme, instead it uses the default color.

## Expected Behavior 🤔

Respect the color in the theme palette.  You'll also see the background in not the color specified.

Code Example (tried to use codesandbox but not working)

[code]

[2021-09-29 13:29] websharkdev commented on #28689
Yo! I have the same problem. On Firefox developer this problem is actual too

[2021-09-29 13:31] michaldudak commented on #28679
I agree. The current behavior is not intuitive.
Changing it, however, may break existing users.

[2021-09-29 13:45] flaviendelangle commented on #28689
I can't reproduce your issue on Chrome 94 and Firefox 92
What OS are you using ? And are you trying to access this exact URL https://mui.com/ ?

[2021-09-29 13:46] Sahil6458 commented on #28559
Its work for me .thanks

[2021-09-29 13:48] Sahil6458 commented on #28559
it is working

[2021-09-29 13:51] michal-perlakowski commented on #28659
I can confirm that this issue is also present in WebStorm.

We could use the [Single Color Image](https://singlecolorimage.com/) service to generate the PNG files for color previews. For example:

`https://singlecolorimage.com/get/afb42b/24x24`

![](https://singlecolorimage.com/get/afb42b/24x24)

@eps1lon Can I work on this issue?

[2021-09-29 13:58] shirik534 commented on #28689
https gives a similar result
i use windows 10

[2021-09-29 14:05] websharkdev commented on #28689
I'm use Windows 10.  Chrome 94.0.4606.61. Here video https://drive.google.com/file/d/1_HN5QJaqr8ZbRkVF9tkzFYNa60imWbtr/view?usp=sharing

[2021-09-29 14:11] michal-perlakowski commented on #28649
This is not a bug. You should apply `size="small"` to FormControl instead of Select. See [the updated sandbox](https://codesandbox.io/s/basicselect-material-demo-forked-zu55h?file=/demo.tsx).

[2021-09-29 14:28] bbarnell opened #28691 "Theme palette action selected color is not working in MUI version 5"
When creating a custom theme, the palette.action.select color property is not working.  The other action color properties are working great.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The select color on a dropdown select comp

[2021-09-29 14:30] michal-perlakowski commented on #28690
You should import ThemeProvider from "@mui/material/styles" instead of "@mui/styles". See [a working demo](https://codesandbox.io/s/vigorous-saha-g6kxf?file=/src/Demo.tsx).

[2021-09-29 15:30] oliviertassinari commented on #28689
Two developers raised this pain by email already. I assume it's linked to the latest release.

[2021-09-29 15:33] oliviertassinari commented on #28689
It seems to target developers using the Russian version of the documentation. cc @mnajdova did we remove the auto redirection for these users?

[2021-09-29 15:35] oliviertassinari commented on #28689
The bug start here https://github.com/mui-org/material-ui/blob/7c95627e77261d161f77129048e1e43deb40ee71/docs/pages/_app.js#L57

[2021-09-29 16:00] doasync commented on #28689
@flaviendelangle
To reproduce:
1. Go to Chrome Settings -> Advanced -> Languages -> Language -> Add languages
2. Add Russian language
3. Move it to the top (using language menu / three dots)
4. Restart Chrome
5. Open https://mui.com/

[2021-09-29 16:06] doasync commented on #28689
@flaviendelangle
To reproduce:
1. Go to Chrome Settings -> Advanced -> Languages -> Language -> Add languages
2. Add Russian language
3. Move it to the top (using language menu / three dots)
4. Restart Chrome
5. Open https://mui.com/

<img width="1052" alt="CleanShot 2021-09-29 at 18 56 07@2x" src="https://user-images.githubusercontent.com/29141708/135305926-79ad1cc9-e184-4b2a-83d2-5559c2589300.pn

[2021-09-29 16:20] flaviendelangle commented on #28689
Thank you for the details !

[2021-09-29 16:35] owais635 commented on #28677
Here is the PR: https://github.com/mui-org/material-ui/pull/28700

[2021-09-29 16:39] owais635 commented on #28677
@oliviertassinari I like this library and thank you and your team for making it. I was wondering if [Material You](https://material.io/blog/announcing-material-you) is planned for v6?

[2021-09-29 17:15] oliviertassinari commented on #28689
I have reverted the deployment of the docs to unlock all the Russian users (back to v5.0.1) until we fix this regression.

[2021-09-29 18:51] tomcooksey commented on #28690
AH thanks so much! Must've missed that in the docs!

[2021-09-29 19:00] alexhhn commented on #27512
Hi guys, anyone figured out a fix?

https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-styled-components-typescript
has some recents commit, still seeing the errors when developing

[2021-09-29 19:09] fabien-ml opened #28701 "New Design System like mui.com"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Since MUI is going to be design agnostic, is there any plan for implementing a design system like the one used on the mui.com website ?

This rebranding is awesome.

[2021-09-29 21:45] danilo-leal commented on #28701
Hey @fabien-ml, I'm really glad you liked the new branding! :)

One of our next efforts is releasing a new (and second, alternative to Material Design) design system. It will be built on top of the unstyled components that we're also developing, which will allow for experimentations with theme structure and some other stuff around customizability. It probably won't follow the design language used

[2021-09-29 23:54] LinkedForest opened #28703 "TypeScript With v5"
I'm Using v4 in project typescript and upgrade material ui to v5
Editor show error with old code in style and this is the message
"Property 'palette' does not exist on type 'DefaultTheme'."

[2021-09-30 00:32] mjchang opened #28704 "TextField focus changes if typing the first character of the label"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Putting a TextField with a label in a Menu and then typing the the first character of the label causes the focus to change. Typing any other character does not produce this behavior.

[2021-09-30 01:30] zrait commented on #21377
This is still broken for me, and the proposed solution doesn't make much sense with v5 since icons are now in @mui/icons-material (I tried that path but I don't actually think this has anything to do with the icons).

My error is `createTheme_default is not a function` which seems to be similar to other default reexporting issues people in this thread reported in other issues that were merged with

[2021-09-30 02:02] github0013 opened #28705 "[Tabs] [Grid] Having a Tabs component in a column-directional Grid overflows even if it's scrollable"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Tabs component overflows beyond the Container max width.

## Expected Behavior 🤔

It should remain within the Container max size.

## Steps to Reproduce 🕹

https://codesandbox.io/s/mu

[2021-09-30 04:16] maxijonson commented on #26735
This could be a browser issue. I've seen this happen in my own projects as well running on Chrome. However, running it in Firefox works fine.

[2021-09-30 06:51] supagu opened #28706 "makeStyle being overridden by root"
I'm trying to set a style using makeStyle hook, but there is another -root style applied after it overriding my style with some sort of root style.
This occurs on all components I have tried.

https://codesandbox.io/embed/jovial-booth-gfvec?fontsize=14&hidenavigation=1&theme=dark

- [X] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/materi

[2021-09-30 06:56] supagu commented on #28706
Possibly the same bug as: https://github.com/mui-org/material-ui/issues/28664
But I have a codesandbox to repo the issue

[2021-09-30 06:59] mnajdova commented on #28706
You need to wrap your application with `StyledEngineProvider` with `injectFirst` option, that will tell emotion to inject it's styles first, so that styles coming from other frameworks can override. Here is a fixed sandbox - https://codesandbox.io/embed/jovial-booth-gfvec?fontsize=14&hidenavigation=1&theme=dark

You can learn more about this on the [Style library interoperability](https://mui.com/

[2021-09-30 06:59] #28706 closed

[2021-09-30 07:01] mnajdova commented on #28664
@jlramosr thanks, please do keep the issue up to date with anything you may find, we can use it as a documentation for things that changed. 🙏

[2021-09-30 08:17] mnajdova commented on #28703
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-30 08:23] eric-burel commented on #28678
An `sx` function that behaves like a mix between `styled` and `sx` prop could be defined like this:
[code]
That's very draftish, but I think this could be done already in user-land. I haven't yet switched my main project to mui v5 but I might give this a shot later on.

[2021-09-30 08:24] mnajdova commented on #28691
Thanks for the report. The action is called `selected` not `select`. From what I can see the `MenuItem` uses the `primary` color with the `selectedOpacity` this is why it is not set. You would need to change either the `primary` color if that makes sense for your app, or apply an override for this specific component.

[2021-09-30 08:31] #28690 closed

[2021-09-30 08:32] mnajdova commented on #28686
Nice catch! Would you like to create a PR?

[2021-09-30 09:00] mnajdova commented on #28678
Note also that the `@mui/system` exports a `styleFunctionSx` utility that accepts props (together with `theme`) for adding the behavior of the `sx` prop. It can be used as well in user land.

[2021-09-30 09:07] jlramosr commented on #28664
Sure! Thanks!

[2021-09-30 09:20] eps1lon commented on #28687
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), or a link to a repository on GitHub. Also be sure to describe with which steps you saw this error.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-30 09:33] yevheniiminin commented on #28686
@mnajdova Thanks! I've opened a pr for this issue https://github.com/mui-org/material-ui/pull/28707

[2021-09-30 09:37] #28623 closed

[2021-09-30 09:40] eps1lon commented on #28587
Thanks for the report.

This issue is caused by either `@emotion/cache` or `stylis-plugin-rtl`. None of these packages are published from this repository. Please direct the issue at either one of those repositories.

[2021-09-30 09:40] #28587 closed

[2021-09-30 09:44] #28649 closed

[2021-09-30 09:50] eps1lon commented on #28543
Note that the contrast ratio may have to hit 3:1 to pass WCAG 2.2 AA: https://www.w3.org/WAI/WCAG22/Understanding/focus-appearance-minimum.html

I'm not sure if a smaller area that is that thick is sufficient.

[2021-09-30 10:00] hbjORbj commented on #24894
@iamdevelopergirl Do you have updates on this?

[2021-09-30 10:09] NyteMyre opened #28708 "Playground "Set Colors" doesn't seem to work"
In MUI 4, you could change the colors of the playground and those will be applied to all the components in the rest of the documentation. In the MUI 5 page, i can set the colors, but only a few elements are changed, most of the colors stay the default blue-ish style.

- [v ] The issue is present in the latest release.
- [v] I have searched the [issues](https://github.com/mui-org/material-ui/issues

[2021-09-30 10:12] #28686 closed

[2021-09-30 10:27] mnajdova commented on #28657
This looks like a bug in the codemod. Could you maybe provide a simple reproduction of it? A file or parts of file could be enough.

Again I appreciate your time and love the new ideas. Due to the size and scope of my company's projects, I believe the migration process for our projects will likely resort to implementing with styled-components and slowly migrate over to emotion.

Note that `StyledE

[2021-09-30 10:29] #28529 closed

[2021-09-30 10:31] mnajdova commented on #28520
@smmoosavi sorry for the late response. For adding the new keys, you can take a look on https://github.com/mui-org/material-ui/blob/master/packages/mui-system/src/spacing.js Would recommend to start from adding them in the `paddingKeys` and them see what else needs to be done, following the other padding properties.

[2021-09-30 10:39] mnajdova commented on #28559
@oscar-b thanks for sharing this. Would you like to update the examples with `styled-components`?

-----

I will update the documentation with the following info:
- the package alias works only with `yarn` not `npm`
- if you are using `npm` you need to add a webpack (or other bundler) alias. in addition if you are using TypeScript, you need to update your tsconfig paths

We can probably get an ins

[2021-09-30 10:48] hbjORbj commented on #28705
@github0013 Thanks for creating this issue.

A grid item in a row-directional grid container has the following property: `width: 100%`, while a grid item in a column-directional grid container does not.

If you add `sx={{ width: '100%' }}` or `sx={{ maxWidth: 'inherit' }}` to the grid item, you can have a scrollable `Tabs` within a column-directional grid container.

More details are in the codesa

[2021-09-30 11:17] eps1lon commented on #28545
Duplicate of https://github.com/mui-org/material-ui/issues/27853

[2021-09-30 11:17] #28545 closed

[2021-09-30 11:17] eps1lon commented on #28567
Duplicate of https://github.com/mui-org/material-ui/issues/27853

[2021-09-30 11:17] #28567 closed

[2021-09-30 11:21] eps1lon commented on #28513
Thanks for the feedback.

This is expected behavior due to how React Portals work.

Closing in favor of https://github.com/facebook/react/issues/11387

[2021-09-30 11:21] #28513 closed

[2021-09-30 11:22] eps1lon commented on #28580
`border` is a shorthand that also sets styles for `border-color`. So if you have `border` after `border-color`, `border-color` is overridden. The same applies to `border-width`, `border-style` etc.

[2021-09-30 11:22] #28580 closed

[2021-09-30 11:34] eps1lon commented on #28643
Note that it's not directly clear if SEO would be affected just because links are in the DOM. Historically, pages tried to trick crawlers by putting a lot of hidden keywords in the DOM. So crawlers might ignore hidden content.

Either way, `keepMounted` would keep the content of the drawer in the demo, just hidden.

[2021-09-30 11:34] #28643 closed

[2021-09-30 11:35] eps1lon commented on #28526
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-30 11:36] samfromaway opened #28711 "Weird div wrapping date range picker"
### Order ID 💳

30137

### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Porbably unnecesary but unstyleable div wrapping the date range picker

### The problem in depth 🔍

I want to add 100% width to the TextField but it is restricted when I add fullWidth by the surrounding div with the className css-17vdz66

I no

[2021-09-30 11:36] #28308 closed

[2021-09-30 11:36] eps1lon commented on #28310
Closing since no reproduction was provided within 14 days.

[2021-09-30 11:36] #28310 closed

[2021-09-30 11:41] eps1lon commented on #28383
Thanks for the feedback.

I cannot reproduce this on Safari 14.1.2 in BrowserStack using https://p25uo.csb.app/.

@abdrah1 Can you still reproduce this problem? If so, please attach a screen recording and include the operating system and version you're using.

[2021-09-30 11:54] mbrevda commented on #24109
So what is the bottom line here? When using v4 styles (jss) in v5, is there a workable solution?

[2021-09-30 11:56] enoh-barbu opened #28712 "Warnings shown in the console for DatePicker if "views" is set as ['moth', 'day']"
Steps to reproduce:

1. open [https://react-5hf5je.stackblitz.io/](https://react-5hf5je.stackblitz.io/)
2. open the console
3. open the datepicker
3. click on the current month
4. errors are thrown in console

This will warn for other used props, as for example **onOpen**, **renderInput**, etc...

[2021-09-30 11:59] enoh-barbu commented on #28712
Code used for the demo

`import * as React from 'react';
import TextField from '@mui/material/TextField';
import AdapterDateFns from '@mui/lab/AdapterDateFns';
import LocalizationProvider from '@mui/lab/LocalizationProvider';
import DatePicker from '@mui/lab/DatePicker';
import Stack from '@mui/material/Stack';

export default function ViewsDatePicker() {
  const [value, setValue] = React.useState

[2021-09-30 12:13] MikeRawding opened #28714 "[system] How to correctly merge multiple themes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.
* May be related to https://github.com/mui-org/material-ui/issues/28633, but that one is not specific to combining themes.

## Current Behavior 😯

When composing themes (As described under "Theme Composition

[2021-09-30 12:26] abdrah1 commented on #28383
Yes, I can still reproduce the problem. Open https://codesandbox.io/s/accessibletabs2-material-demo-forked-kz3ye in Safari and use the keyboard nav.

https://user-images.githubusercontent.com/86606646/135454531-0c52eb13-3b0c-4824-be54-209ce4fa5e48.mp4

[2021-09-30 12:33] saurabh-lohiya commented on #28554
Currently I'm new to open-source contribution and would like wet my feet and this feels like a good start. But I'm not able to understand what should be the expected behaviur.  Can you please help me @siriwatknp ?

[2021-09-30 12:45] mnajdova commented on #28633
@sciretta did you manage to try @Brlaney's solution above?

[2021-09-30 12:47] #28705 closed

[2021-09-30 13:01] mnajdova commented on #28714
Here is a working codensadbox: https://codesandbox.io/s/mui-5-fontfamily-issue-forked-7lztg?file=/src/App.js

Note that only the first argument of `createTheme` is being processed, the rest are just deep-merged with the created theme. See the note on the API's section https://mui.com/customization/theming/#createtheme-options-args-theme

Is it more clear now why the codesandbox that I've provided

[2021-09-30 13:03] wunderman4 commented on #28526
In the main description I included a link to a repo that has the problem setup with both working and not working examples. The issue does not occur on codesandbox.   What else  specifically do you need?

[2021-09-30 13:08] mnajdova commented on #28691
@bbarnell we are following the recommendation from [MD autonomy](https://material.io/design/interaction/states.html#anatomy) (using the primary color with a bit of opacity for the selected state), see https://github.com/mui-org/material-ui/issues/5186#issuecomment-576632332

<img src="https://user-images.githubusercontent.com/4512430/135460966-0050b126-be92-4edd-a9c5-b2abd82c574a.png" width="300px

[2021-09-30 13:15] alucardu commented on #27469
I just ran into this issue as well. Created a [sandbox](https://codesandbox.io/s/permanentdrawerleft-material-demo-forked-g82l0?file=/demo.tsx)

The "issue" is that you have to assign your `ListItem` the [**button** prop](![image](https://user-images.githubusercontent.com/779921/135461279-c74ffae4-8cdd-4621-936e-df08a4886ac8.png)) but this is deprecated because now we have [ListItemButton](https:/

[2021-09-30 13:15] alb7h commented on #28627
@eranabir I'm encountering this exact issue, I don't suppose you managed to resolve this?

[2021-09-30 13:19] mnajdova commented on #28500
@maraoz I guess we can include it in the next release. @hbjORbj it's all yours :)

[2021-09-30 13:22] eranabir commented on #28627
Actually what happened is that i had
Typescript configured with global paths in tsconfig.json

i had “utils”:”utils/index.ts” to be able to import from
“@utils”

seems like it was override the imports mui was dependent on

[2021-09-30 13:54] vikas990 opened #28716 "After Using Material-UI v5 (MUI) i can't see anything on Storybook Docs tab?"
I was working on Material UI v4 but after the release of MUI (Material UI V5) I have shifted on that but after shifting I cant see anything on storybook docs tab.
Material-UI (V5)
<img width="1674" alt="Screenshot 2021-09-30 at 5 01 50 PM" src="https://user-images.githubusercontent.com/50900838/135466438-e905ee8c-9670-4e8f-ac1e-20c21ee30bd1.png">
<img width="1674" alt="Screenshot 2021-09-30 at 5 0

[2021-09-30 13:57] mbrevda commented on #24109
No, afraid not. Here is my setup:

[code]

[2021-09-30 13:59] mnajdova commented on #24109
@mbrevda could you create small repro on codesandbox, so that we can iterate on it?

[2021-09-30 14:00] eric-burel commented on #24109
On my side I just solved it by finishing the upgrade process to completely get rid of JSS. I strongly suspect it was related to multiple instance of mui / having old versions etc. So very difficult to repro. Anyway that's a temporary issue part of the migration process so no huge deal.

[2021-09-30 14:05] MikeRawding commented on #28714
@mnajdova Thank you for the response!  I think that clears things up a bit.  It's a difference order of operations right?

The way I had it (without `deepmerge`)
1. generates a theme based on the first argument
2. merges in the remaining arguments with that theme

The example you provided
1. merges the further customization with the initial theme
2. generates a theme based on the merged object (wh

[2021-09-30 14:08] #28691 closed

[2021-09-30 14:32] mnajdova commented on #28714
Something like that, yes.

Exactly, the second argument is not processed at all, just merged on top of the generated theme.

Not really, in my example I've generated two themes, using `createTheme` two times, and merged the result of both.

The intention is that, developers should in the end have a way to override something that is autogenerated/overriden by `createTheme`. This is why the API exis

[2021-09-30 14:42] MonstraG commented on #28657
That is a great info I didn't see mentioned literally anywhere else.

[2021-09-30 14:46] mbrevda opened #28717 "[Autocomplete] Rendered more hooks than during the previous render"
When using `renderOption` with `useStyles()`, react complains about conditional hooks: `Rendered more hooks than during the previous render`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Autocomplete wont render with `renderOpti

[2021-09-30 15:12] mbrevda commented on #28716
Possibly pertinent? https://mui.com/guides/migration-v4/#storybook-emotion-with-v5

[2021-09-30 15:24] faustAbc commented on #28559
We had the same issue. The solution was to add `@mui/lab` to `next.config.js` 🤦🏿‍♀️
[code]

[2021-09-30 15:33] alexfoxy opened #28718 "Scrolling inside fixed modal & dialog elements on iOS 15s safari also cause a scroll gesture on the document body causing window resizing"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently when scrolling inside a modal or on a static fixed element the body exhibits a scroll behaviour hiding safaris toolbar. See video: https://www.youtube.com/watch?v=F7cwYdw1rn

[2021-09-30 15:41] mafergus opened #28722 "Failed to Minify with Webpack (v3.8.1)"
- [X ] The issue is present in the latest release.
- [ X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Webpack fails to minify

`Failed to minify the code from this file:

        ./node_modules/@mui/material/styles/styled.js:3:7`

## Expected Behavior 🤔

Webpack should successfully

[2021-09-30 15:51] sciretta commented on #28633
@mnajdova sorry i have been busy, i'll try it tomorrow, and then i'll notify you

[2021-09-30 16:57] mbrevda commented on #24109
I tried, it works just fine there 😞
Was really hoping for an incremental migration... anything else I can do to debug on my end?

[2021-09-30 17:16] mbrevda commented on #11723
This would be really cool. Any chance this could also enable nested tabs (think vertical tabs, with sub-tabs)?

[2021-09-30 17:25] Andarist commented on #24109
I couldnt recommend https://replay.io/ enough for debugging tricky cases

[2021-09-30 17:33] LorenzHenk opened #28723 "[docs] Data grid status column too narrow"
In the new landing page (it looks great btw!!) the data grid "status" column value in the `Select` component is overflowing.

This is only visible with the "Partial" status as far as I can tell.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current

[2021-09-30 18:08] MikeRawding commented on #28714
Actually, I don't think your solution does work.  The result of `createTheme` that is passed into `deepmerge` is a complete Theme.  Meaning it has breakpoints defined and will clobber the custom values from the first theme.

[2021-09-30 18:30] MikeRawding commented on #28714
I came up with this which only merges `ThemeOptions` objects.  I still need to generate a true `Theme` at each step so I can access things like `theme.breakpoints.up` (which is not contained in `ThemeOptions`.

https://codesandbox.io/s/mui-5-fontfamily-issue-forked-59t7z?file=/src/App.js

[2021-09-30 18:38] danilo-leal commented on #28723
Hey @LorenzHenk, thanks for reporting that one! We'll plan a fix for it :)
cc @siriwatknp

[2021-09-30 18:42] McGern commented on #14448
Has the component been updated because I can't see the onError method exposed anymore?

[2021-09-30 19:07] wiznotwiz commented on #19426
Any ideas on how to use `inputValue` and `onInputChange` to persist the user's query for multiple selections without using `onChange` to get the selected values? I saw in another thread that `onChange` and `onInputChange` shouldn't be used together, but how else could I get the selected values? I've been pulling my hair out all day over this - if I use `onChange` and `onInputChange` together, my A

[2021-09-30 19:10] mbrevda commented on #24109
I'd be happy to share a recording provided it can be privatly

[2021-09-30 20:03] RobertSandiford commented on #20257
Node requires "type": "module" in the package.json to read the package as ES6 module instead of CJS.

The lack of this tag prevents the module being loaded in standard Node.

Is there any reason why the tag shouldn't be added.

I am trying to load the package via Node.js for server side rendering.

[2021-09-30 20:13] michaldudak commented on #28717
Hi @mbrevda! The problem here is the `renderOption` expects a function that returns a React node, not a function component (see https://mui.com/api/autocomplete/). The difference between these two is very subtle, but the important point here is that you can't use hooks in functions (that are not hooks or components themselves). Therefore, you need to call `useStyles` in your ComboBox component and

[2021-09-30 20:13] #28717 closed

[2021-09-30 20:23] mbrevda commented on #28717
Oh, wow. Thanks so much!

[2021-09-30 20:35] hbjORbj commented on #28500
@maraoz Hey, thanks for creating this issue.

This is not specific to `markActive`. For example, if `ownerState` is passed to `Mark` as a prop, we get the same error for `ownerState`:

I think this "unknown prop" error occurs for the following reason:

More details can be found in React documentation: https://reactjs.org/warnings/unknown-prop.html

@michaldudak What do you think we should do to ad

[2021-09-30 20:45] maraoz commented on #28500
@mnajdova hi Marija, thanks for your reply. do you have a release date estimate? I want to see if it makes sense for me to wait for you guys to fix it, or to fork and try to fix it myself. My app ships on Oct 12th. To be clear, the component is working perfectly, I just want to get rid of the console error, so this is not super critical.

@hbjORbj hey Benny. Just in case you didn't notice, I didn'

[2021-09-30 20:46] hbjORbj commented on #28500
@maraoz Sure, I know! I still wanted to explain to you where the error was coming from. :)

[2021-09-30 20:54] DAnselC commented on #26342
Upvote on this!!
The `ListboxComponent` prop is really handy to customize the Autocomplete component however you see fit, but the typing is quite restrictive, as mentioned.
The actual ListboxComponent MUST accept a ref for everything to function properly, but as soon as you try to pass in a ForwardRef component, the typing blows up, and as mentioned above you must cast to conform to the typing.
[c

[2021-09-30 21:25] alb7h commented on #28627
@eranabir Oh my god, wow that was almost like it - I spent a good part of my day tearing my hair out over it. Thanks dude.

I didn't have any alias's setup like that, however, my `baseUrl` was set to `src`, and renaming the `utils` folder in there fixed it...

[2021-10-01 00:41] jonoman55 commented on #24894
Does anyone know when this will be fixed? I have @mui/material": "^5.0.0" installed and I am receiving this error while using icons in Tabs. Thanks!

[2021-10-01 01:14] tmtk75 commented on #28687
@simplenotezy Thank you to bring up this issue.

Instead, useAutocomplete expects an input element.

I got a similar error and tried to reproduce by partially copying my code.
https://codesandbox.io/s/goofy-marco-mlgqf?file=/src/Demo.tsx

In my case, the error has gone if I removed `NoSsr`. I forgot why I put `NoSsr` here but it seems to work expectedly without `NoSsr` with 5.0.2. so I removed it.

[2021-10-01 02:18] Hillsie commented on #28664
@mnajdova, I want to let you know that I really appreciate what MUI provides the community. It's a really helpful product. I also want to make you aware that @jlramosr is not the only dev finding the version upgrade challenging.  Upgrading from 4 to 5 has been days.  Management does not want to be locked into V4 at the beginning of a new project. As you can image, I don't have the luxury nor time

[2021-10-01 02:30] PRossetti commented on #15903
Thank you! This solved my problem. I had this breaking my application:
[code]

Changed the last part to this:
[code]

And now it works like a charm! Thank you again!

[2021-10-01 02:31] clxering opened #28730 "[docs] The Chinese version is not completely updated"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In these pages
- https://mui.com/zh/getting-started/installation/
- https://mui.com/zh/getting-started/usage/

the name of some dependencies is not updated, like this:

[code]
and
[co

[2021-10-01 05:15] Mihirss opened #28732 "Error: Invariant failed: Browser history needs a DOM in React.js and Next.js"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Getting the error as per below screenshot

## Expected Behavior 🤔
App should run normally as i have just forked the nextjs material ui example without making any changes.

## Steps to

[2021-10-01 05:24] Mihirss commented on #28732
GitHub Repo You Can check it.
https://github.com/Mihirss/app.git

[2021-10-01 05:40] iamdevelopergirl commented on #24894
Hi, Apologies, I did not get time to work on it. Can someone else have a look?

[2021-10-01 05:41] kykungz opened #28733 "@emotion/styled injection order (v5)"
Children styles in `emotion/styled` of MUI Components is being override by MUI Component styles.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

My project is using `@emotion/styled` as the main styling system, along with `materia

[2021-10-01 06:30] ypahalajani commented on #28704
@mjchang Noticed one more weird behaviour - **only** typing the character "i" loses focus. If you start with something else, it's won't lose focus.
 I'm am going through the contributing guidelines and setting up development env. to debug this issue.

[2021-10-01 06:47] mnajdova commented on #28714
@MikeRawding right, your last solution is the correct one. Just make sure you are not doing this in the component, rather outside of it. I am closing this then.

[2021-10-01 06:47] #28714 closed

[2021-10-01 06:53] emmanio commented on #28688
I'm going to start working on this issue :)

[2021-10-01 06:56] mnajdova commented on #28733
@kykungz the specificity of the styles added by the container and the typography are the same. The classes are not added on the same component, so it is not predictable which ones will be written first. I would recommend updating to: https://codesandbox.io/s/bold-colden-x2tio?file=/src/Demo.tsx

We use the same strategy in the `Stack` component, so that we can ensure that this is not happening. Al

[2021-10-01 06:56] #28733 closed

[2021-10-01 06:59] ankur12-1610 commented on #28730
@clxering can I work on this issue?

[2021-10-01 07:19] Haaxor1689 opened #28734 "@mui/system style function type errors and documentation in v5"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After upgrading to v5 my custom @mui/system `style` functions started giving error `Property 'theme' is missing in type ...` on every component created with styled that has the style

[2021-10-01 07:41] ankur12-1610 commented on #28730
@clxering I have opened a PR for the above-mentioned issue.

Please review it!

[2021-10-01 07:48] mnajdova commented on #28732
Could you please give some more context for the issue?

[2021-10-01 07:59] mnajdova commented on #28734
@Haaxor1689 thanks for the report. We updated the `style` function not to require the `theme`, but didn't update the typings. This diff should do it:

[code]

In the meantime, you can add generics props on the components in order to fix the type error. See https://codesandbox.io/s/zealous-bogdan-2tjld?file=/src/Demo.tsx

[2021-10-01 08:01] michaldudak commented on #28628
The `node_modules\.cache\snowpack\build\@mui\material@5.0.1\@mui\material.js` from your repo indeed looks messed up. I haven't found, however, anything suspicious in the bundle we produce.

@eps1lon would you mind taking a look at this? Perhaps you'll have a clue what's going on.

[2021-10-01 08:03] #28198 closed

[2021-10-01 08:04] eps1lon commented on #28198
Closing since no reproduction was provided within 14 days.

[2021-10-01 08:06] eps1lon commented on #28237
Closing since no reproduction was provided within 14 days.

[2021-10-01 08:06] #28237 closed

[2021-10-01 08:07] eps1lon commented on #28233
Closing since no reproduction was provided within 14 days.

[2021-10-01 08:07] #28233 closed

[2021-10-01 08:08] eps1lon commented on #28339
Closing since no reproduction was provided within 14 days.

[2021-10-01 08:10] eps1lon commented on #28230
@keslavi Just deployed your codesandbox and cannot reproduce the described issue: https://csb-11100-fvnwofunk-eps1lon.vercel.app/

Could you attach a screenshot of the actual and expected behavior. This'll help us understand better what the issue is.

[2021-10-01 08:53] Geddard opened #28741 "How to correctly implement RTL?"
Hi there, I love this component library and is super easy to use and style my stuff, but I've noticed that when using the RTL mode many components look bad, it can be easily reproduced for your own [Sandbox](https://codesandbox.io/s/izkey?file=/demo.tsx) for buttons

Just go to it, add `dir='rtl'` to the body and see how the buttons look, the margins between text and icons are not properly placed/

[2021-10-01 08:54] ma-nish opened #28742 "Warning: findDOMNode is deprecated in StrictMode"
Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://reactjs.org/link/strict-mode-find-node

[2021-10-01 09:09] eps1lon commented on #28742
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-01 09:09] beingadrian commented on #28633
I'd like to chime in on this as I've also faced the same issue after the recent migration.

To provide more context, prior to v5 you could set the font family just once when creating the theme and it would be used globally:
[code]

In v5 however, you have to explicitly set it for every component that has text:
[code]

I'm not sure if I'm just missing crucial documentation somewhere that would allo

[2021-10-01 09:11] eps1lon commented on #28730
Translations are handled via Crowdin: https://crowdin.com/project/material-ui-docs. Please direct the issue at the Crowdin project.

[2021-10-01 09:12] mnajdova commented on #28741
@Geddard take a look on the [Right to left](https://mui.com/guides/right-to-left/) guide, it has all information you may need. Note that there are different steps necessary depending on which style engine you use (emotion/styled-components etc).

Note that, this is guide for v5, for v4, have a look here https://v4.mui.com/guides/right-to-left/#right-to-left

[2021-10-01 09:12] #28741 closed

[2021-10-01 09:18] mnajdova commented on #28679
@michal-perlakowski totally agree with your point, but as @michaldudak mention, it would be a breaking change. I proposed changing only where the `sx` prop is set, as it is a new API, and I would consider this a bug fix, not a breaking change.

[2021-10-01 09:19] mnajdova commented on #28679
@nickchauhan would you like to create a PR with the changes proposed in https://github.com/mui-org/material-ui/issues/28679#issuecomment-930047738?

[2021-10-01 09:26] eps1lon commented on #28526
Didn't see that, sorry.

Since you're using Parcel, it's only a release candidate and other bundlers work well, I would suggest opening this issue against the Parcel repository and report back if this is actually an issue on our side.

[2021-10-01 09:26] #28526 closed

[2021-10-01 09:28] mnajdova commented on #27412
@finleygn would be great if you can upgrade to the latest styled-components version that would include https://github.com/styled-components/styled-components/pull/3563 and see if the issue still persists.

[2021-10-01 09:31] siriwatknp commented on #28716
@vikas990 Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-01 09:31] eps1lon commented on #28383
I don't understand the screen recording. Between which codesandobxes are you switching? Looks like the first one is working.

Seems like in the second one the tab isn't focused on click which means keyboard navigation cannot work. Might be intended by Safari to not focus on click in this instance. This would not be actionable for us.

[2021-10-01 09:37] eps1lon commented on #26342
We no longer type-cast the `ListBoxComponent` in this example: https://mui.com/components/autocomplete/#Virtualize.tsx

[2021-10-01 09:37] #26342 closed

[2021-10-01 09:42] eps1lon commented on #28514
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-01 09:43] kimljac opened #28745 "TypeScript option --exactOptionalPropertyTypes is not supported"
## Current Behavior 😯

Trying to compile (TypeScript) any example from the section about the Autocomplete component fails with type errors like:

![billede](https://user-images.githubusercontent.com/3158580/135598108-f3696de2-0fdc-438a-b2e9-be41f43897c0.png)

It is obviously not absolutely necessary to be able to use that option, but it would be nice if it worked. Otherwise it should probably be w

[2021-10-01 09:45] eps1lon commented on #28687
Thanks for the repro. The ref isn't resolved by the time `useAutocomplete` requires it. This is due to passing the props across component boundaries that no longer guarantee the expected timing. Here: `NoSsr`. You have to move `useAutocomplete` inside `NoSsr`.

[2021-10-01 09:45] #28687 closed

[2021-10-01 09:46] faebeee opened #28746 "MuiIcon styleOverrides not applyed"
I'm in the progress of upgrading to mui@5 from material-ui@4. Now I'm at the point where I replace the Icon component.
After changing the `styleOverrides` of the `MuiIcon` in the `createTheme` I don't see those overrides be applyed. (This worked correctly on material-ui@4

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/is

[2021-10-01 09:50] eps1lon commented on #28712
Duplicate of https://github.com/mui-org/material-ui/issues/28352

[2021-10-01 09:50] #28712 closed

[2021-10-01 09:51] eps1lon commented on #28571
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest).
Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-01 10:21] Mihirss commented on #28732
@mnajdova i have updated the original post with the details. please check .

basically i am trying to run the nextjs material ui example but its giving me this error.

[2021-10-01 10:51] michaldudak commented on #28189
I remember @eps1lon was in favor of this change when we discussed it. @oliviertassinari, @siriwatknp, @hbjORbj, do you have any opinions on this topic?

[2021-10-01 11:01] #28677 closed

[2021-10-01 11:07] mnajdova commented on #28677
👍 we already have the milestone for v6 https://github.com/mui-org/material-ui/milestone/42

[2021-10-01 11:22] abdrah1 commented on #28383
I am not switching between codesandboxes, I am switching between Chrome (first one) and Safari (second one). The video shows that keyboard navigation works in Chrome which is shown first and then it shows that the keyboard navigation does not work when I switch to Safari.

The tab _is_ focused in the second one because I click the tab before hitting any keyboard keys.

[2021-10-01 11:22] abdrah1 commented on #28383
I am not switching between codesandboxes, I am switching between Chrome (first one) and Safari (second one). The video shows that keyboard navigation works in Chrome which is shown first and then it shows that the keyboard navigation does not work when I switch to Safari.

The tab _is_ focused in the second one because I click the tab before hitting any keyboard keys.

[2021-10-01 11:52] mnajdova commented on #28746
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-01 11:54] eps1lon commented on #28383
That is not necessarily given. Clicking does not always trigger focus depending on platform settings. Could you check via devtools if the clicked tab actually has focus?

[2021-10-01 12:59] hbjORbj commented on #17000
@weiluntong @bluefire2121 @atnpcg @GuillaumeDesforges @chrishoermann @WojtekHerisz @Dashue @HarmanSran @megphillips91

For your information, Masonry component is now live as part of`@mui/lab`. Its details can be found [here](https://mui.com/components/masonry/).

It comes with a limitation which is explained in this [issue](https://github.com/mui-org/material-ui/issues/27934).

To address this lim

[2021-10-01 13:03] vikas990 commented on #28716
This is the CodeSandbox example:- https://codesandbox.io/s/cool-alex-dmiri?file=/package.json.

This is the git repository:- https://github.com/vikas990/bug.git
Steps:-
1. after you have cloned the repo
2. do `npm install`
3. after that do  `npm run storybook.`

After doing that you can see a storybook with 2 Button stories. one with the Material UI V4 and one with Material UI v5.
the Story with M

[2021-10-01 13:33] hbjORbj commented on #28189
@michaldudak I agree with you. Even if some developers are more used to the first approach, maintaining only one way to customize is much clearer over the long term.

[2021-10-01 13:36] iamchathu commented on #28556
@hbjORbj I tried using it https://codesandbox.io/s/rhf-mui-autosuggest-forked-3ufxk?file=/src/App.tsx seems it sets the text field value to the `code`

[2021-10-01 13:43] Theofilos-Chamalis commented on #28571
@eps1lon

Here is a sample sandbox with what have right now: [https://codesandbox.io/s/crazy-frost-130vs](url)

Unfortunately we are not allowed to post the InputField implementation, but it should give you an idea of our current state. Keep in mind that this is using the default styling for:
1. The .MuiCalendarPicker-root (which we want to change)
2. The circles around the dates (which we want to

[2021-10-01 14:05] Kavorka79 commented on #26488
This would be useful, now there is no way of styling readonly inputs.

[2021-10-01 15:19] eps1lon commented on #28670
Font size or page zoom?

[2021-10-01 15:27] nikkizol commented on #28670
Page zoom

[2021-10-01 15:35] EkaterinaMozheiko commented on #27590
@oliviertassinari @eps1lon I'd like to work on it but there is no final decision about this issue as I see.

[2021-10-01 16:12] Ry-DS commented on #21026
While we're here, is it possible to make the `value` here generic? https://github.com/mui-org/material-ui/blob/512896973499adbbda057e7f3685d1b23cc02de9/packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroup.d.ts#L53 Somewhat annoyed that the value isn't typed well, but don't want to open another issue for something trivial.

[2021-10-01 17:50] eps1lon commented on #28266
I don't understand where the spacing is coming from. Though you don't need the `<Grid item />` > `<Grid container />` nesting and can instead do `<Grid item container />`.

@oliviertassinari Is this expected behavior? If so, do we have documentation/warning about this behavior?

[2021-10-01 17:54] eps1lon commented on #27590
I don't think the underlying assumption is correct here. We're assuming that the mask is purely numeric. But are we sure this is the case? Especially considering various locales.

One should investigate this first before we make an easy decision with a bias for the default configuration.

[2021-10-01 17:57] wiznotwiz opened #28752 "Autocomplete with multiple and clearOnBlur doesn't persist the user's input"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On Autocomplete with `multiple` enabled,  `clearOnBlur` doesn't work as the docs say it should: "Set to `false` if you want to help the user resume his search."

## Expected Behavior

[2021-10-01 17:57] eps1lon commented on #28670
300% page zoom does increase the icon size for me using Browserstack and Safari 14.1.2.

What device are you using and how are you zooming in (e.g. view > zoom in)?

[2021-10-01 18:46] eps1lon commented on #28173
We currently don't support masked input for AM/PM locales yet. 03 and 04 fallback to AM/PM due to the configured locale.

[2021-10-01 18:54] luissardon commented on #28542
I'm also getting the same erros but for multiple core-js modules...

[code]

[2021-10-01 19:56] MikeRawding opened #28754 "Button | Typescript | Add TS overrides for top level button props (in addition to variant, color, and size)"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`theme.components.MuiButton.variants` allows you to apply styles based on matching props.  This works with arbitrary props, but the TS is only set up to let you add values to `variant` and `color`.  I believe adding new props here should be v

[2021-10-01 20:52] hbjORbj commented on #28556
@iamchathu I suggested using `inputValue`/`onInputChange` combination to resolve the following problem you said

However, I do not notice any changes to your code sandbox.

[2021-10-01 20:59] ypahalajani commented on #28704
Hey @eps1lon @mjchang

I've raised a PR for the same, but it broke some other use cases in some tests already written after which I discovered the `variant` prop.

By default, the `variant`prop is `selectedMenu` for the Menu component.
I went to the definition of `variant` prop and it seems like the value `menu` instead of `selectedMenu` makes more sense for the use case and fixes the issue mentio

[2021-10-01 22:23] codyng opened #28755 "generateClassName is not worked in 5.0.x but is worked in 4.x.x"
as title.

[2021-10-01 22:55] #28755 closed

[2021-10-01 22:55] AlexHodo opened #28759 "Open source theme config used on mui.com"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
The theme used on mui.com looks great. It would be awesome if we could use it in our own apps.

## Examples 🌈
The theme config used on mui.com doesn't seem to be found in the docs. It should be available in the [How to customize](https://mui.c

[2021-10-01 23:02] AlexHodo commented on #28759
It seems that the custom theme is indeed open-source as mentioned [here](https://mui.com/customization/default-theme/). For those looking for the custom theme config, call `JSON.stringify(theme)` in the browser console.

[2021-10-01 23:02] #28759 closed

[2021-10-01 23:04] luissardon opened #28760 "Several WARNINGS and ERRORS about 'isHostComponent' after migration from v4.12.3 to v5"
I'm getting several **WARNINGS** and **ERRORS** related to `isHostComponent`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

#### 1. Webpack compiles with several **WARNINGS** of:
`export 'isHostComponent' (imported as 'isHostComp

[2021-10-02 00:59] mjchang commented on #28704
@ypahalajani Thanks for debugging it. Can confirm `menu` variant works.

[2021-10-02 01:43] siriwatknp commented on #28189
@michaldudak I'm good with this proposal.

[2021-10-02 05:03] Radhey100 commented on #28554
I will do

[2021-10-02 06:56] eps1lon commented on #28760
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), or a link to a repository on GitHub.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-02 07:00] eps1lon commented on #28371
Fixed in https://github.com/mui-org/material-ui/pull/26600

[2021-10-02 07:00] #28371 closed

[2021-10-02 07:10] eps1lon commented on #28174
Fixed in  https://github.com/mui-org/material-ui/pull/25095 which is available in `@mui-lab@5.0.0-alpha.48`

[2021-10-02 07:10] #28174 closed

[2021-10-02 07:12] eps1lon commented on #24824
This is fixed in `@mui-lab@5.0.0-alpha.49`. Unclear when exactly it was fixed. Probably when implementing the new design.

[2021-10-02 07:12] #24824 closed

[2021-10-02 07:15] eps1lon commented on #27477
No longer reproduces using `@mui-lab@5.0.0-alpha.49`: https://codesandbox.io/s/custominput-material-demo-forked-o70j2?file=/index.tsx

[2021-10-02 07:15] #27477 closed

[2021-10-02 07:16] eps1lon commented on #26739
Closing in favor of https://github.com/mui-org/material-ui/issues/28352

[2021-10-02 07:16] #26739 closed

[2021-10-02 07:51] VladParshin commented on #28363
I updated the codesandbox about 2 weeks ago, wondering if you've had a chance to check it.

[2021-10-02 08:33] eps1lon commented on #28532
Thanks for the report.

However, this is not actionable for us since we rely on another dependency. I also don't have Windows 11 so I can't investigate this issue further.

We haven't seen any issues between Windows 10 and 11 so we may not need such a granular information.

Closing in favor of https://github.com/tabrindle/envinfo/issues/209

[2021-10-02 08:33] #28532 closed

[2021-10-02 08:37] eps1lon commented on #28368
Closing since all material-ui.com and mui.com related issues have been resolved.

[2021-10-02 08:37] #28368 closed

[2021-10-02 08:39] #28683 closed

[2021-10-02 08:40] eps1lon commented on #27347
Fixed in https://github.com/mui-org/material-ui/pull/28472

[2021-10-02 08:40] #27347 closed

[2021-10-02 09:21] eps1lon commented on #27190
As far as I can tell, this is expected behavior. When you click an already focused element, focus doesn't change and therefore `:focus-visible` doesn't change.

https://codesandbox.io/s/focus-visibleclick-persists-mui-focusvisible-gnnmb?file=/src/Demo.tsx shows that both `.Mui-focusVisible` **and** `:focus-visible` still apply after clicking a (keyboard) focused Checkbox.

`.Mui-focusVisible` is i

[2021-10-02 09:21] #27190 closed

[2021-10-02 09:29] ahmetuysal commented on #27670
I am having the same issue. Are there any workarounds we could use until the problem is fixed?

[2021-10-02 09:45] panbehkar commented on #28587
There is still the `ts` issue in the latest version

https://codesandbox.io/s/direction-material-demo-forked-2n9i7?file=/demo.tsx

[2021-10-02 09:49] eps1lon commented on #26809
There's also a [spec'ed case where `document.activeElement` can be `null`](https://html.spec.whatwg.org/multipage/interaction.html#dom-documentorshadowroot-activeelement-dev). Though it's unclear if and how we can reconcile the spec'ed and IE11 cases.

Either way, the error only happens in an interval and therefore doesn't crash the UI. Since IE11 is on its way out, we don't want to potentially hi

[2021-10-02 09:49] #26809 closed

[2021-10-02 10:15] hbjORbj commented on #28734
@Haaxor1689

Thanks for the report! I created a [pull request](https://github.com/mui-org/material-ui/pull/28744) to fix this issue.

[2021-10-02 10:22] Haaxor1689 commented on #28734
Thanks for the quick response and fix. What about the documentation though? Was there no documentation in v4 docs either?

[2021-10-02 10:55] vktrl opened #28766 "DatePicker / CalendarPicker readOnly / disabled props not working as expected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

StaticDatePicker and CalendarPicker subcomponent take `disabled` and `readOnly` props, but they can be still interacted with. With CalendarPicker it just causes a style change.

## Ex

[2021-10-02 11:06] pavelspichonak opened #28767 "[Popper] Display property not applied correctly when keepMounted is set"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When `keepMounted` is `true` and `transition` is `true`

1) On `Popper` initialization it is visible.
It has these styles:
[code]
and it does not have `display: none`. So if you have s

[2021-10-02 11:39] omareg94 commented on #28587
@eps1lon Thanks for hint. I have posts exact issues to:
- [emotion-js/emotion](https://github.com/emotion-js/emotion/issues/2492)
- [styled-components/stylis-plugin-rtl](https://github.com/styled-components/stylis-plugin-rtl/issues/31)

[2021-10-02 11:45] panbehkar commented on #28587
Thanks

[2021-10-02 15:16] adamdrake210 commented on #28633
I am also experiencing this problem. @trmpowell solution above worked for me but I don't see this on the docs.
[code]
I am using the following:
[code]
I also feel I am missing something or maybe the docs are 🤔

[2021-10-02 15:21] fabien-ml commented on #28701
I'm always open to contribute to things that can make my apps not look like a google product 🤣

[2021-10-02 15:36] codyng commented on #28755
Why it is closed?

I tested it with both the latest version of create-react-app and mui (5.0.x and 4.x.x) but the class names remained unchanged.

Any possible reason??

Thank you.

[2021-10-02 16:19] codyng commented on #28755
Oh, I got it. This is the @mui/styles which is a legacy styling solution.
However, how is the equivalent solution for @mui/system or @mui/material??

[2021-10-02 19:07] Alarees commented on #28681
i don't get it, in [this page](https://v4.mui.com/customization/theming/) where  is the version number of `createTheme` function,
the only `top left` number i can see is `v4`

[2021-10-02 20:33] sciretta commented on #28633
@mnajdova the @trmpowell solution didn't work for me

[2021-10-03 02:49] siriwatknp commented on #28754
`ButtonPropsOverrides` is one way to do this but I think we need to take a step back and look at higher level because other components will use the same approach. One question is does `rounded` appear in the DOM? I guess you use it like this:

[code]

[2021-10-03 03:09] siriwatknp commented on #28716
I tried the repo you provide with these adjustments and it works.

**.storybook/preview.js**
[code]

**.storybook/main.js**
[code]
<img width="867" alt="Screen Shot 2564-10-03 at 10 08 50" src="https://user-images.githubusercontent.com/18292247/135738018-513fd158-2bea-481f-9b98-da4698d43914.png">

also this issue is duplicated with #24282 (will update the migration doc)

[2021-10-03 03:09] #28716 closed

[2021-10-03 03:24] siriwatknp commented on #28420
I would rely on our documentation first not because it just works. I would like to close this issue because I don't see much value in making codemod works with non-documented approach (also this error does not collapse the whole migration). However, this is a great opportunity if you want to submit a PR.

[2021-10-03 03:24] #28420 closed

[2021-10-03 04:22] vikas990 commented on #28716
it's working now thank you for the help and for the quick response.

[2021-10-03 04:58] mbrevda commented on #28683
Thanks for the fast fix! Any idea when this will be released?

[2021-10-03 05:32] adamfitzgibbon commented on #28766
I'm taking a look!

[2021-10-03 07:02] samipshah100 commented on #28732
Facing the same issue here.

[2021-10-03 07:15] #28732 closed

[2021-10-03 07:43] akashshyamdev opened #28802 "TextField: Add step, min and max to the `TextField` Component"
The native input of type `number` comes with a `min`, `max` and a `step`, is this supported with MUI?

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
It should probably be an enhancement to the current `TextField`, and it should have steppers to increment/decrement values and validation op

[2021-10-03 09:44] siriwatknp commented on #28542
@nratter, @guyellis, @luissardon  May I ask
1. What version of `@material-ui/core` that you used before the migration?
2. Did you remove the package `@material-ui/core` before the migration?

[2021-10-03 11:57] MikeRawding commented on #28754
That's an excellent point!  My codesandbox example is throwing a warning about just that, so I guess we would also need a way to specify additional props for `Button.js` to strip off before spreading to the DOM.

I really wasn't sure how the community would feel about this pattern.  I don't know of anywhere else where MUI lets you add props like this.  It just seems to fit my use case so naturally

[2021-10-03 13:39] abhinav-raman commented on #28554
Is someone currently actively working on this? I would like to volunteer.

[2021-10-03 13:40] guyellis commented on #28542
@siriwatknp 1. from my package.json:

[code]

2. I'm fairly certain that I did not remove `@material-ui/core` before running that codemod.

[2021-10-03 13:42] mbrevda commented on #24109
@mnajdova can I share privately? Where should I send it? (note: as above, this won't be a minimal reproduction unfortunately)

[2021-10-03 14:03] Andarist commented on #24109
As an exception - I can help you if you send me a replay of the problem privately and describe the issue you are facing in detail (both what happens and what is your expected result)

[2021-10-03 14:43] oliviertassinari opened #28806 "[framer] Outdated components"
## Summary 💡

Framer has deprecated the third-party components: https://www.framer.com/components/?packages

<img width="740" alt="Screenshot 2021-10-03 at 16 28 35" src="https://user-images.githubusercontent.com/3165635/135758281-b046d953-f630-49c9-9099-11bb92976869.png">

It seems that it does no longer make sense for us to maintain them. After searching online, it seems that they are moving a n

[2021-10-03 15:14] gamegee commented on #28245
@mnajdova thanks for your answer.

That mean, material-ui can also be used with tailwindcss ?
I am not a huge fan of CSS in JS for tons of reasons, but I am in love with material-ui. If both could works together it would be awesome.

[2021-10-03 15:33] siriwatknp commented on #28802
Please try this out. https://codesandbox.io/s/basictextfields-material-demo-forked-sx5qo?file=/demo.js

For more detail about `TextField`, check out the [docs](https://mui.com/components/text-fields/#heading-basic-textfield).

I am closing this since it is already supported.

[2021-10-03 15:33] #28802 closed

[2021-10-03 15:55] siriwatknp commented on #28703
@LinkedForest please check the migration docs. https://mui.com/guides/migration-v4/#types-property-quot-palette-quot-quot-spacing-quot-does-not-exist-on-type-defaulttheme

[2021-10-03 15:55] #28703 closed

[2021-10-03 16:09] siriwatknp commented on #28664
@Hillsie Have you followed the migration guideline? https://mui.com/guides/migration-v4/

[2021-10-03 17:14] karpolan commented on #27468
This will change text color to "white" on dark mode :(

[2021-10-03 17:21] karpolan commented on #27468
I don't understand why color="default" was removed from Button component.

How to create such dialogs now?

![image](https://user-images.githubusercontent.com/1213313/135764670-7cb14283-c599-4382-9518-2470756611e0.png)

BTW, color "default" is still work fine for IconButton and other components...

[2021-10-03 18:21] karpolan commented on #27851
Got same issue

![image](https://user-images.githubusercontent.com/1213313/135766537-670bf51d-88fb-4238-8564-1896d1899d63.png)

[2021-10-03 18:25] chaserda commented on #27851
There is a work around. Add “dividers” prop to Dialog Content and style the dividers to the color of the dialog background. This will add your padding like you expect

[2021-10-03 18:37] #27234 closed

[2021-10-03 18:44] hbjORbj commented on #27234
@ rajzik Thanks for the report.

It was decided within the team that adding generics on the `overridesResolver` function introduces a bunch of implicit `any`s and and inference defaults to `any`, thus making this change unsafe and leading to bad DX. This can solve a particular problem introduced in this issue but not the overall issue.

However, thanks to your report, we at least made the followin

[2021-10-03 19:52] tripolskypetr opened #28808 "[docs] Search functionality in all viewports"
Currently, the official site was switched from material-ui into [Eva design](https://eva.design/). It is very likely that this disappointment is associated with the arrival of an off-topic person in the place of the leader.

![image](https://user-images.githubusercontent.com/19227776/135769215-cc01b831-e941-4e93-a45d-ebf207b15d62.png)

Is it possible to deploy the original documentation into a sub

[2021-10-03 20:20] Rafcin opened #28809 "Grid System - TSX"
The grid system has a typescript and documentation issue. In the Grid examples, one of the grid components uses 16 columns.
[code]
The size props however only accept sizes 1-12, auto, and bool so I can't use 16 columns and then say XS={16} or something of that nature.
https://mui.com/api/grid/

[2021-10-03 21:27] mjchang commented on #28704
Changing to the `menu` variant fixes my use case for me but I do think this is still a bug. I don't think the selectedMenu variant should cause a change in focus when typing.

[2021-10-03 23:55] TamjidTayeb opened #28810 "Badge component does not have correct props available"
Here you can see that in the api doco the badge component's color prop should accept one of the following strings:

'default'
| 'primary'
| 'secondary'
| 'error'
| 'info'
| 'success'
| 'warning'
| string

https://mui.com/api/badge/

However passing info, success or warning does not work. Please add these to the component. I am using mui v4

[2021-10-04 00:49] siddiqlm opened #28811 "NativeSelect dropdown arrow mark not changing after opening the values"
I wonder why the arrow mark in the NativeSelect is not changing when the dropdown values are open. The same is working fine for the Select component.

Is there any way, we can make it work like the Select component? Kindly review the screenshot.
**NativeSelect**
![nativeselect_arrow_icon](https://user-images.githubusercontent.com/46767546/135779455-82bcd45c-be39-4dc4-a99f-3fe755f71e54.PNG)

**Sele

[2021-10-04 02:15] siriwatknp commented on #28681
@Alarees  I suggest you upgrade to latest of v4 (`4.12.3`) and use `createTheme`. I will keep in mind to add note to the api introduced in minor version in the future. If this solve the issue, feel free to close this issue.

[2021-10-04 02:37] siriwatknp commented on #28657
If you are using `@mui/material`, you should import from `@mui/material/styles` like this

[code]

[2021-10-04 02:46] siriwatknp commented on #19986
This is fixed. Here is the proof

<img width="922" alt="Screen Shot 2564-10-04 at 09 45 47" src="https://user-images.githubusercontent.com/18292247/135785905-47eb3cde-ed18-4c8b-b43e-f48d05944ae6.png">

[2021-10-04 02:46] #19986 closed

[2021-10-04 04:57] MonstraG commented on #28657
Where should I import { css } from? Following gives me errors:

[code]
Big ts error ending in `readonly SimpleInterpolation[] missing from ArrayInterpolation<some stuff here>`

[2021-10-04 05:09] karpolan commented on #27851
This dialog was working for years, but new MUI overrides the styling I temporary wrap content with `<Box pt={1}>...`

[2021-10-04 05:59] siriwatknp commented on #27468
@karpolan The other approach is to add `palette.grey.main` to the theme.

https://codesandbox.io/s/basicbuttons-material-demo-forked-ctzt9?file=/demo.js

[2021-10-04 06:15] siriwatknp commented on #28657
Please check the documentation. https://mui.com/guides/interoperability/#the-css-prop

[2021-10-04 06:19] MonstraG commented on #28657
This is a link to Emotion section of the page.

I'm using styled-components, same as the issue op

[2021-10-04 06:22] siriwatknp commented on #28554
The PR has been open but need help on the unit test. https://github.com/mui-org/material-ui/pull/28743.

@abhinav-raman If you'd like to help, please add a unit test.

@saurabh-lohiya Take a look at this [reproduction](https://codesandbox.io/embed/columnsgrid-material-demo-forked-s2vsr?fontsize=14&hidenavigation=1&theme=dark). The bug is about nested Grid with different `columns` configuration (th

[2021-10-04 06:25] siriwatknp commented on #28657
@mnajdova I am not sure about styled-components `css` api. We might need to document it also.

[2021-10-04 06:58] MonstraG commented on #28657
And while we're here, there is also `@keyframes`, which is not mentioned anywhere

[2021-10-04 07:19] ypahalajani commented on #28704
I agreed with you @mjchang

Also, I've never witnessed a use case that involves rendering an input element inside a popup or maybe a form inside a popup. Could you please share more about your use case?

@eps1lon Is our <Menu /> component from MUI built for stuff like this? I doubt 😅

[2021-10-04 07:53] arsalan-rajput commented on #28811
I checked the Select component code. I see It doesn't have this  functionality for native-select component.  Please check the screenshot below.

![image](https://user-images.githubusercontent.com/82089452/135813379-79685073-daa1-4d28-a1ea-c47ee62fde1c.png)

[2021-10-04 08:02] mnajdova commented on #28657
We are not re-exporting the `css` and `keyframes` utilities from `@mui/material`, they are only exported from the `@mui/system` package. I'd say we should export them from `@mui/material/styles` so that developers don't need to think about where to import what from. The rule would be: if you are using material-design, import everything from '@mui/material/styles'; if you are building custom design

[2021-10-04 08:08] smmoosavi commented on #28520
@mnajdova see #28813

[2021-10-04 08:10] arsalan-rajput commented on #28810
@TamjidTayeb
I think you are checking docs for v5 which supports all the variants but In v4 only support variants are.

'default'
| 'error'
| 'primary'
| 'secondary'

please check this link for [v4 doc](https://v4.mui.com/api/badge/) for further clarification. Thanks

[2021-10-04 09:12] mnajdova commented on #28657
@MonstraG please create a new issue for the TypeScript issue regarding the CSS prop. It's likely that we would need to update the typings for the `styled` utility. We need to have different based on which styled engine will be used (emotion or styled-components).

For styled-components, npm and webpack please see https://github.com/mui-org/material-ui/issues/28559

There is already a PR that will

[2021-10-04 09:31] eps1lon commented on #28809
Which specific demo has which specific TypeScript issue?

[2021-10-04 09:36] eps1lon commented on #28808
The new branding was designed by @danilo-leal. Any association with Eva design is most likely incidental.

Why is this a disappointment? We're very pleased with the new design.

We don't intend to ship multiple versions. There's no direct benefit other than "i like the old design more" stated in this issue. This is not worth the maintenance effort.
The old site hid the search functionality as well

[2021-10-04 09:42] #28559 closed

[2021-10-04 09:44] oliviertassinari opened #28818 "[BottomNavigation] Label font-size shoud not increase when selected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The font size increases: https://github.com/mui-org/material-ui/blob/d4ea4c90cb4a82dbe21ecf51b3cd634c5df54b62/packages/mui-material/src/BottomNavigationAction/BottomNavigationAction.j

[2021-10-04 10:36] MOHAMMADArsalan commented on #28811
I'm taking a look!.

[2021-10-04 13:22] chris97420 opened #28820 "Support Shadows overrides"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

[2021-10-04 13:42] MGMehdi opened #28821 "[Select] Component not displaying the value on the first mount"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the Select component it does not displaying the value on the first mount after data is receive from API
![mui select](https://user-images.githubusercontent.com/48625769/135

[2021-10-04 13:59] MOHAMMADArsalan commented on #28821
@MGMehdi the  issue this your are using
`const [pile, setPile] = useState([]);`
as an array and  passing to select `pile.type` in this case type is undefined. So that's why value is not showing.
try to change state like
[code]

[2021-10-04 14:17] MGMehdi commented on #28821
@MOHAMMADArsalan
Thanks it's working but why the other component render correctly their values from the same object ?
exemple
[code]

[2021-10-04 14:42] wunderman4 commented on #28526
Okay then

[2021-10-04 14:50] danilo-leal commented on #28808
I'm not sure what you initially meant with the first part of the issue. If you were trying to imply that we somehow copied Eva Design, this is very much not the case. I at least didn't even know that Eva Design existed or what the thing is about, so it wasn't even used for inspiration. It's okay if you dislike the design though, not everyone will. Hope that the library is still of value to you reg

[2021-10-04 15:02] oliviertassinari commented on #28189
I think that we miss one dimension on the RFC: the case for easily changing the root element. I don't think that any developers would enjoy doing `<Stack components={{ Root: 'span' }} />`. The main danger I see in only supporting `components` is that it discourage the creation of small composable components as in https://reach.tech/accordion, which should likely be our target to maximize flexibili

[2021-10-04 15:24] eps1lon commented on #28808
Re-opening since the search functionality is not visible on all breakpoints: https://615ad907efb5de000772da4f--material-ui.netlify.app/components/autocomplete/

[2021-10-04 15:52] TheWilks opened #28824 "Snackbar + Menu/Dialog Accessibility"
We are hitting a screen reader accessibility issue...

**Scenario**
User is in a dialog or menu > Submit is clicked > Snackbar is presented but skipped by the screen reader and focus is returned to the dialog or menu trigger

**More details**
Seems like the returned focus to the dialog or menu is causing the role="alert" to be skipped

[2021-10-04 16:27] tulasikrishnag opened #28825 "[Autocomplete] input field reset when click outside the autocomplete field"
I am using a basic autocomplete from material ui, the options loaded fine and could be able to filter successfully.
However, once we filter the options, just click on outside, filter is cleared and dropdown is sorted/reset.
This is basically causing issue in accessibility issue on Mobile. When we turn android voice over and filter the result, when user try to select the option, it is always pickin

[2021-10-04 16:44] TheWilks opened #28826 "Snackbar + Menu/Dialog Accessibility"
We are hitting an screen reader accessibility issue...

**Scenario**
User is in a dialog or menu > Submit is clicked > Snackbar is presented but skipped by the screen reader and focus is returned to the dialog or menu trigger

**More details**
Seems like the returned focus to the dialog or menu is causing the role="alert" to be skipped

[2021-10-04 16:44] #28824 closed

[2021-10-04 16:44] TheWilks commented on #28824
Accidently create a ticket the wrong way.

[2021-10-04 16:53] eps1lon commented on #28810
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-04 17:48] hafhaf10 commented on #28818
Hi, i would like to try fix this.

[2021-10-04 18:45] NikolaDeveloper commented on #8811
It's been 4 years, issue is still there. Is there any workaround?

[2021-10-04 21:24] mbrookes commented on #28755
For how-to questions and other non-issues, please use gitter or StackOverflow instead of Github issues. There is a StackOverflow tag called "material-ui" that you can use to tag your questions.

This helps us keep issues for... issues. :smile: Thanks!

[2021-10-04 21:36] milenazuccarelli commented on #11108
Hey, can I take this one? @oliviertassinari

[2021-10-04 21:50] milenazuccarelli commented on #16866
Can I take on the second step? @oliviertassinari @mnajdova

[2021-10-04 21:54] BrianWhiting opened #28831 "[Pickers] Add ability to pass props to the open picker button icon"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The only way to modify the look and feel of the open picker button icon is by adding custom styles through a class on any of the parent components of the icon. This is due to the lack of any props being passed down to the icon itself.

## Exa

[2021-10-04 22:58] musahibrahimali opened #28832 "Icons not working in next.js with the new version"
I have created a new next.js project following the normal procedure and added all dependencies i would need in my project, however when i import anything from the icon library, it fails and my program crashes with this error

[code]
the module however is installed and present in my `node_modules` directory.

**here ismy package.json file**

[code]
**here is the import statement in my project file*

[2021-10-04 23:12] Gungrave223 commented on #24851
Question....how would this look in v5?

[2021-10-04 23:33] tvpmb opened #28836 "What is the best way you have found to deliver mockups for interfaces built using MUI to your development team?"
I tried to use GH discussions, but the required category dropdown was broken.... so here I am :)

----

Hi - I wanted to ask the community, what is the best way you have found to deliver mockups for interfaces built using material-ui to your development team? We recently had a retrospective and this was a topic that came up. We need more clear communication of the user interfaces, but w/o crazy ov

[2021-10-05 01:15] iamvanja commented on #14948
This seems to be popping up frequently. Why does `enterTouchDelay` default to `700` and not something shorter?

[2021-10-05 02:09] Hillsie commented on #28664
@siriwatknp I did. The first time I tried I followed it step by step and I couldn't stand up the project.

[2021-10-05 02:25] siriwatknp commented on #28664
It would be nice if you can let us know which step(s) in the migration docs that does not work for you so that we can improve and benefit to other people.

[2021-10-05 04:44] kykungz opened #28837 "Cannot set margin to Popper in Tooltip (v5)"
While migrating from `v4` to `v5`, I have a code that adjusts Tooltip's position as:

[code]
![Screen Shot 2564-10-05 at 16 54 08](https://user-images.githubusercontent.com/9304909/136001691-9b095437-0846-4867-8fcd-620cc37e07e3.png)

It is working fine and added `margin-bottom` to tooltip's popper component in `v4`. However, it does not apply the same in `v5`. Other styles override (such as `backg

[2021-10-05 04:55] MOHAMMADArsalan commented on #28821
@MGMehdi Can't say anything without seeing complete logic/code.

[2021-10-05 04:57] kykungz opened #28838 "Stack is missing in Theme components settings (v5)"
I want to add default props to `Stack` component in MUI, in order to make it defaults to ` direction="row"` and `spacing={2}`, but does not able to do so.

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Type errors is show

[2021-10-05 06:58] MGMehdi commented on #28821
The same as above with some `Textfield` but every `Select` do not work without define some value in the `useState`

[2021-10-05 08:48] Industrial opened #28841 "`makeStyles` returns `never`"
The `makeStyles` function returns `never` so it is not usable?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
`export default function makeStyles(stylesCreator: any, options?: object): never;`

## Expected Behavior 🤔
`any` should

[2021-10-05 08:58] mnajdova commented on #28841
@Industrial you need to use `makeStyles` from `@mui/styles` if you wish to still use JSS. In v5 it is no longer exported from `@mui/material` (check your console log for errors).

You can take a look on the migration guide for more details on this: https://mui.com/guides/migration-v4/#main-content

[2021-10-05 09:01] mnajdova commented on #28837
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-05 09:28] binarykitchen commented on #27170
Awesome work guys, excited to watch the progress

[2021-10-05 09:29] #28364 closed

[2021-10-05 09:30] mnajdova commented on #28832
That icon does not exists. Check all icons that you can use here https://mui.com/components/material-icons/#main-content

[2021-10-05 09:48] eps1lon commented on #28832
`LockOutlined` should exist: packages/mui-icons-material/lib/LockOutlined.js and https://unpkg.com/browse/@mui/icons-material@5.0.1/LockOutlined.js

It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), or a link to a repository on GitHub.

Here are some tips for providing a minimal examp

[2021-10-05 09:50] artidata commented on #11069
I came here from TexField with the select props set to true. I was wondering why the placeholder doesn't show up. Apparently it's not supported. Maybe the docs in the TextField section needs to be updated too.

[2021-10-05 09:59] kykungz commented on #28837
Thanks, I've updated the info with screenshots and added a sample CodeSanbox.

[2021-10-05 10:00] mnajdova commented on #28837
@kykungz thanks, check your console for warnings. There is one coming from popper which describes why it doesn't work :)

[2021-10-05 10:16] kykungz commented on #28838
CodeSandbox and screenshots added

[2021-10-05 10:20] mdathersajjad opened #28842 "Content jump and css issue in Next JS"
What is the recommended way to integrate mui v5 in next js

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Content jumps due to css not getting injected in server side when used with withStyles

## Expected Behavior 🤔

CSS shoul

[2021-10-05 10:20] mdathersajjad commented on #28842
What is the correct reference to include muiv5 in a next js project

[2021-10-05 10:21] kykungz commented on #28837
Thanks! Totally missed the console warnings, fixed like so:
[code]

[2021-10-05 10:21] #28837 closed

[2021-10-05 10:51] mnajdova commented on #28838
Ok, it's clearer now that the issue is with the typings only. Creating a PR now.

[2021-10-05 11:12] mnajdova commented on #28820
@chris97420 the material design theme expects that array will be used for the shadows, and you can add additional shadows or redefine the array itself. If you are using `createTheme` from the `@mui/system` package for building your own design system, you can create a new structure for the shadows.

cc @siriwatknp this may be something to consider when developing the new design system.

[2021-10-05 11:14] mnajdova commented on #28821
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-10-05 11:15] erikhallaraaker opened #28844 "Styled TextField TS error, not allowed to use variant "outlined""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using a callback with a parameter (to access `theme`) to create a styled TextField like this
[code]
 it returns
[code]

This produces a typescript error when using any other vari

[2021-10-05 12:06] #28520 closed

[2021-10-05 12:43] ariel-upstream commented on #20565
Any solution?

[2021-10-05 13:06] angelsvirkov commented on #20565
I think I might have initially misunderstood how the autocomplete works.
After working another year with the component I now believe that it makes almost no sense to pass empty string as a value. In fact, the autocomplete can either have something selected in which case the `value` holds the selected one or it can have nothing selected/ typed in which case the `value` is `null`.

In my opinion, th

[2021-10-05 14:05] mbrevda commented on #24109
Found the issue was on my end. Apparently, the codemod missed some of the `import`s (and there was a "rouge" peerDep for v4 (courtesy of `mdi-material-ui`), allowing the import to almost work). Updating these to v5 imports resolved the issue I was having. Thanks so much @Andarist for pointing this out!

[2021-10-05 14:09] mnajdova commented on #28844
Thanks for the report, I can reproduce it. As a workaround till we have a fix, you can use the following:

[code]

[2021-10-05 14:20] yakovenkomaxcf opened #28846 "styled() Typography "component" prop removes classes"
Specifying a `component` prop for a styled Typography component removes all the MaterialUI classes from the component.

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The tag name changes, but classes are removed.

## Expe

[2021-10-05 14:31] ErikParso opened #28847 "Disable minification of class names in prodiction."
Is there any option to disable minification of generated classes in production build? I want my classes to be same in Production as in Development build mode which is:

    classNamePrefix-ruleKey-id

In production build I get

    jss-id

I tried `StylesProvider` but could not find any option to affect this behavior. Using `createGenerateClassName` did not help neither.

Is there something I am m

[2021-10-05 14:34] mnajdova commented on #28844
I am trying to reproduce with both using emotion and mui's styled utils with simpler components but I am not able to: https://codesandbox.io/s/styled-textfield-returns-incorrect-type-forked-vlemf?file=/demo.tsx

On the other hand, it doesn't throw when using emotion's styled - https://codesandbox.io/s/styled-textfield-returns-incorrect-type-forked-n7chk?file=/demo.tsx so it should be related to th

[2021-10-05 14:52] Mansi1 opened #28848 "Classes that are added via className are not the last class"
If i add to an component an custom class it will be overridden by an other class

[code]

[2021-10-05 15:07] coulgreer commented on #28848
I'm sorry, but can you please provide more context to this issue. For example, the versions of the packages that you are using so that the issue can be replicated and toyed with to nail down the source of the issue. Are you migrating from MUI v4 to v5?

[2021-10-05 15:14] Patchrik commented on #11749
@elyobo Do you mind sharing how you got the drawer to live inside the MUI Card. I can't seem to get the drawer to grab onto the card's id to use it as a container.

[2021-10-05 15:43] 64J0 commented on #1824
It would be great if we have the possibility of showing more than one `snackbar` at a time folks. Let the dev decide what to do.

[2021-10-05 15:47] Besuf opened #28850 "using theme value on Box is not working using Sx Prop"
Hey Guys,
There seems to be a bug when using theme values using sx props as a styling mechanism on Box Component.
To replicate try to change the background color of a box using sx={{bgcolor: "primary.main"}}, and this won't work. However the same line works correctly on other component like Paper.
I even forked the codesandbox demo for sx - props [here](https://codesandbox.io/s/c5uyy?file=/demo.ts

[2021-10-05 17:29] MrLexisDev opened #28851 "When autocomplete value is empty every items are selected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the Input is null the style is highlight as grey light (something like this
![image](https://user-images.githubusercontent.com/25326576/136072343-653515a2-18ef-4c28-a381-a91988e5

[2021-10-05 17:58] Andarist commented on #24109
Wouldn't be possible without a tip from @mnajdova - if you see styles coming from a "static" class name (like `MuiButtonBase-root`) and if those styles are not under your control, but generated by JSS, then it's most likely that it's some rogue v4 in your codebase.

[2021-10-05 18:06] scarabcoder commented on #28851
The value prop for TextField cannot be null. If you want to have no options selected, use an empty string `''`.

[2021-10-05 18:09] MrLexisDev commented on #28851
@scarabcoder Hello, In fact, I used prop null for this but when I try to pass an empty string it is still in selection mode... Maybe did I miss something in your explanations?

[2021-10-05 18:15] scarabcoder commented on #28850
Try wrapping your app/parent component in a ThemeProvider: https://codesandbox.io/s/example-material-demo-forked-4exgp?file=/demo.tsx

`const theme = createTheme({});

export default function Example() {
  return (
    <ThemeProvider theme={theme}>
      <Box
        sx={{
          bgcolor: "primary.main",
          boxShadow: 1,
          borderRadius: 1,
          p: 2,
          minWidth: 300

[2021-10-05 18:32] omkarg01 commented on #28851
@MrLexisDev use [Select](https://mui.com/components/selects/) component of Form.Control

[2021-10-05 19:04] Penlane commented on #28701
I'm hijacking this issue to ask: Are there plans to follow the new "Material You" found in Android 12 for the traditional design system (not the one you're planning to implement in the future)?

I also find the new branding / your own design language very appealing. Looks very good.

[2021-10-05 19:14] danilo-leal commented on #28701
There are, yeah. I just can't tell more details as of now because I really don't have any. The official Android 12 release was yesterday and there haven't been any major updates on the Material Design documentation yet. I figure that Google will probably do that sometime soon since they're slowly rolling out Material You to their main apps?! But yeah, once there is a more solid grasp at what does

[2021-10-05 19:22] emmaindal opened #28852 "Differences between v4 and v5.0.1 using the component prop with Link on a Button component"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the Button component with the component prop of Link:

[code]

the text color of the Button component gets overwritten by the color of the Link component and rendered like:

[2021-10-05 19:49] Penlane commented on #28701
Sounds great, thank you!

[2021-10-05 20:12] MrLexisDev commented on #28851
I finally found the problem. I needed to change the empty value from string to null and add value={null}.

Thanks for your help.

[2021-10-05 20:37] kykungz opened #28853 "[Pagination] clicking on "..." triggers onChange with page equals to null (v5)"
Clicking on `...` triggers Pagination `onChange` with `page` equals to `null`. This behavior does not appear in v4.
![Screen Shot 2564-10-06 at 03 31 09](https://user-images.githubusercontent.com/9304909/136098165-0f705115-d31f-4309-b26e-823068027548.png)

So when migrating to v5, I need to add a safety check for `page !== null` before setting current `page` value.

- [x] The issue is present in t

[2021-10-05 20:37] danilo-leal commented on #28836
Hello there @tvpmb, thanks for opening the discussion.

I'm a bit biased but as I have worked with MUI before actually joining the team, the best way I found to deliver (or communicate) design ideas for being implemented using MUI was to use and respect the conventions used in the library. By that, I mean: trying to have components on the design tool with the same names as the React components. If

[2021-10-05 20:59] elyobo commented on #11749
Here's the gist of our `CardDrawer` which is used inside various `Card` components. Not everything will apply (e.g. theme overrides, assumption of an app bar at the top of the card) and I don't recall exactly what was done or why at this point, and (as noted) it's far from perfect either, animations are still a bit weird.

We also haven't upgraded to v5 yet, nor even looked at the upgrade path, so

[2021-10-05 22:38] joziahg commented on #21474
Any new thoughts or progress on this front?

[2021-10-05 23:02] Samuel-Beslogic commented on #26488
Partially true. If you only need to style the <input> itself, you can use `input[readonly]` as a CSS selector.

[2021-10-05 23:08] karpolan commented on #27468
And lost of other colors for hover, select, text in darkMode, and so on...

[2021-10-05 23:27] OnlyJoe33 opened #28855 "sx property on Grid doesn't allow changing paddingTop"
- [Y] The issue is present in the latest release.
- [Y] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]
Padding remains at 1 spacing.
From what I can tell the "generateRowGap/ColumnGap" internal function is overriding this padding internally to work with "spacing" property on a g

[2021-10-06 00:08] ghufrannoor2 opened #28856 "No filled version of the LockOpen icon"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@material-ui/icons@4.11.2` for the project I'm working on.

The LockOpen Icon did not have a filled version

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/iss

[2021-10-06 01:46] ghufrannoor2 opened #28857 "No filled version of the LockOpen icon"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@material-ui/icons@4.11.2` for the project I'm working on.

The LockOpen Icon did not have a filled version

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/iss

[2021-10-06 01:50] clothoo commented on #27038
@Fronix I'm facing the same issue. I've tried both fireEvent and userEvent, but none of them worked in my test. Have you found a way to solve this?

[2021-10-06 01:59] #28857 closed

[2021-10-06 01:59] #28856 closed

[2021-10-06 02:03] ghufrannoor2 opened #28858 "No filled version of the LockOpen icon"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@material-ui/icons@4.11.2` for the project I'm working on.

The LockOpen Icon did not have a filled version.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/is

[2021-10-06 02:07] siriwatknp commented on #27468
I suggest you to provide reproduction on what you are saying so that other people who are interested to help know what you are talking about.

[2021-10-06 02:56] siriwatknp commented on #28850
@Besuf Thanks for reporting the issue. `Box` should be imported from `@mui/material` so that it can pick up the theme.

[code]

Can you point me to where you fork that demo from? We need to fix it.

[2021-10-06 03:20] siriwatknp commented on #28846
@yakovenkomaxcf the packages are mixed in the codesandbox (`@material-ui/core` + `@mui/styles`), is that intentional?

[2021-10-06 04:10] RaymondMwaura opened #28859 "Can we have the option of having the TimelineConnector appear as a dotted line?"
Can we have the option of having the TimelineConnector appear as a dotted line?

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Examples 🌈

## Motivation 🔦

The feature is already great. I came across a Mock Up that required it to appear as a dotted line rather than a solid line and I

[2021-10-06 04:18] mnajdova commented on #28852
@emmaindal note that we use differnet styling engines for v4 and v5 hence the different behavior. In v4, we use JSS, which injects styles based on the imports of the components. So you can fix the specific issue you have, by importing the `Link` component **before** the `Button` component. See https://codesandbox.io/s/material-demo-forked-rqvl8?file=/demo.js

[2021-10-06 05:20] Fronix commented on #27038
@clothoo no, still haven't found a solution I'm afraid...

[2021-10-06 06:21] hbjORbj commented on #28734
I think we should prepare a documentation for `style` function.

cc @mnajdova @oliviertassinari

[2021-10-06 06:21] klausbreyer commented on #28754
We also came across this issue. Initially
In our case, Button-Variants could work. But what is even worse: There is no way to introduce custom Variants for a lot of other components. Like ToggleButton(Group), Tab(s), etc.
Having a high Level Prop Override like ButtonPropsOverride for **every component** would be a good thing to have.

[2021-10-06 06:22] adamfitzgibbon commented on #28858
Thanks for the easy diff! I can make a pull request for this to fix the issue

[2021-10-06 07:11] nikkizol commented on #28670
I am using macbook pro on m1.
for zooming I am using command and plus or view -> zoom in (no difference)

[2021-10-06 07:45] michaldudak commented on #27773
I couldn't reproduce this issue with the latest @mui/material (https://codesandbox.io/s/interesting-babycat-qd2hh?file=/App.tsx).
@thorn0, please verify if you still see the problem.

[2021-10-06 07:55] michaldudak commented on #27717
@zamgill The gif you attached shows the menu items do change background color when hovered over. Could it be that your monitor's contrast is set too low and you just don't see the hover effect in light mode?

[2021-10-06 08:11] yakovenkomaxcf commented on #28846
@siriwatknp You are right, the root of this problem was in the imports. We are in a process of migrating from v4 to v5, so I had both packages in my project, and because "@mui/styles" also has an exported function "styled", I accidentally used the old one, which does not work the same way.

[code]

I tried it with the "styled" from the "@mui/material" and it works fine. Thanks!

The only question

[2021-10-06 08:30] michaldudak commented on #28853
Thanks for the report. It shouldn't work like this indeed.

[2021-10-06 08:39] emmaindal commented on #28852
Ah-a, today I learned! Thank you so much for fast respons @mnajdova, will go on and see if we can fix our problem with your suggestion above! ⭐

[2021-10-06 09:23] timothyarmes opened #28866 "Instruction for replacing default route component using Typescript are incorrect"
The instructions given at https://mui.com/guides/routing/ for replacing the default router components provide the following Typescript example:

[code]

Unfortunately this doesn't work:

[code]
I havent yet understood how to supply the correct type information

[2021-10-06 09:35] ruslanvyaznikov commented on #28550
Any news about workaround to prefix all mui components?

[2021-10-06 11:03] nikkizol commented on #28670
I tried with Browserstack same results... see screenshots
![Screenshot 2021-10-06 at 12 56 34](https://user-images.githubusercontent.com/45672257/136190828-6d0a17fa-f7fe-4e5d-a086-935a797a7197.png)
![Screenshot 2021-10-06 at 12 57 19](https://user-images.githubusercontent.com/45672257/136190838-22304816-24e0-4a0b-87c7-75864017ea67.png)

[2021-10-06 11:42] hbjORbj commented on #28500
@michaldudak Ah, that makes sense. Thanks. I will create a PR for this fix then!

[2021-10-06 13:21] MikeRawding commented on #28675
Can we either
1. Check the hierarchy, and stop if we bump into a Tooltip, or
2. Make the prop we're looking for unique per Tooltip

[2021-10-06 13:22] MMauro94 opened #28870 "DatePicker crashes when using @date-io/js-joda"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently when using a `DatePicker` in MUI v5 with JsJodaAdapter (from [@date-io/js-joda](https://www.npmjs.com/package/@date-io/js-joda)) an uncaught exception is thrown when changin

[2021-10-06 14:33] Pabriuz commented on #12034
Thank you so much for your approach, it helped me work with mine.

Here's what i did, maybe can help someone:
On the click away event
if (event.target.localName === 'body')
    event.preventDefault();

[2021-10-06 16:13] ronnyroeller opened #28871 "[DatePicker] Provide locale-specific masks"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The Date Picker should provide the correct mask for the set locale.

## Motivation 🔦

The [material-ui docs](https://mui.com/components/date-picker/#localization) show how to create locale-specific masks. Yet, this still requires to map the b

[2021-10-06 17:28] rosiebabbra opened #28872 "[DatePicker] open-on-focus requires double-press of ESC to close"
I am trying to get the calendar in the Material UI date picker to open when a user tabs over to it from a preceding input field. What prop can I use to do this? I tried referencing [this question](https://stackoverflow.com/questions/60619948/material-ui-datepicker-open-on-tab) on SO, but there doesn't even seem to be an onFocus prop.

[2021-10-06 18:27] yevheniiminin commented on #23677
@oliviertassinari any chance that you could somehow allow to overwrite this behavior? It's the only thing that's blocking us from updating to v5

[2021-10-06 18:54] yevheniiminin opened #28874 "Allow to overwrite styles for PickersCalendarHeaderLabel"
Currently it doesn't look like there is a way to overwrite styles for PickersCalendarHeaderLabel.
https://github.com/mui-org/material-ui/blob/db8a5f536ffb4e0dc0dadffcdfd69eebff62de27/packages/mui-lab/src/CalendarPicker/PickersCalendarHeader.tsx#L77

I would like to center this label, but looks like currently this component is private and not exposed as overwritable one

![image](https://user-image

[2021-10-06 19:50] musahibrahimali commented on #28832
thank you but i figured things out, the error was due to an incomplete install. have solved it and it now works, thank you.

[2021-10-06 19:50] #28832 closed

[2021-10-07 00:41] shahrouzz opened #28877 "A way to clean up unused styles in <head> that emotion create"
From what I understand the styles that emotion adds to <head> are never cleaned up and the list of styles grow unbounded.

This can be an issue with single page apps that have components that use styles that are parametrized like this:

[code]

By rendering <Foo/> the number of styles will grow and remain in <head> even if Foo is unmounted. To my knowledge there is no way to remove the styles that

[2021-10-07 00:45] matt-erhart opened #28878 "Adding DataGrid component anywhere changes styles of checkbox and chips"
Adding DataGrid component anywhere changes styles of lists and chips

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Chip with delete anywhere or checkboxes have different styles.

Styles are different when adding datagrid anywhere

[2021-10-07 02:01] kriswuollett opened #28880 "Invalid usage of Url type in nextjs-with-typescript example"
The `Link` component uses `NextLinkProps['href']`. The type of `href` is `Url` which is `string | UrlObject from 'url'`.  It [recognizes the possibility that it may be a string](https://github.com/mui-org/material-ui/blob/db8a5f536ffb4e0dc0dadffcdfd69eebff62de27/examples/nextjs-with-typescript/src/Link.tsx#L68). However `Anchor` and `MuiLink`'s `href` expects a `string` while the `NextLinkComposed

[2021-10-07 05:11] siriwatknp commented on #28754
The only way (at this moment) to extend props on a component is to wrap the component with `styled` api which I also think it is not a good experience.

[code]

and now you have to always import Button from this path instead of `@mui/material/Button`.

My proposed solution is to make props extendable at the theme level, something like this:

[code]

[2021-10-07 05:28] socramm9 opened #28883 "Platform for sharing mui theme configurations"
I was actually trying to create this issue as a discussion, but for some reason I couldn’t select a category.

There is this site [mui-theme-creator](https://bareynol.github.io/mui-theme-creator/) that helps create a custom themes. So I was thinking that it would be nice to have a Platform to share our created themes with the community. (or is there already such site?)

It could work something lik

[2021-10-07 06:10] ruslanvyaznikov commented on #28550
@siriwatknp Thanks a lot, 'cause we have the same situation as in the @smora-gh 's comment https://github.com/mui-org/material-ui/issues/28550#issuecomment-926780355

[2021-10-07 07:47] PupoSDC opened #28886 "[Select] Unable to override styles with variants"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm unable to provide style overrides for the `MuiSelect` component.

## Expected Behavior 🤔

I'm able to provide style overrides for the `MuiSelect` component.

## Steps to Reproduce

[2021-10-07 07:48] siriwatknp commented on #28877
I haven't look into detail about this but it seems like issue related to style-engine (emotion). I suggest you create this issue on [emotion repo](https://github.com/emotion-js/emotion/issues/new/choose) and tag me to see what we can do about this.

[2021-10-07 07:58] mnajdova commented on #28877
This doesn't really look like a fact. Can you create a reproduction where we can actually see that this is true? A repository or a codesandbox would help.

[2021-10-07 08:00] eps1lon commented on #28877
This was already discussed in https://github.com/emotion-js/emotion/issues/2473 and https://github.com/emotion-js/emotion/issues/488

TL;DR: There hasn't been any strong evidence that suggests growing number of styles is an issue. The cases that do create a larger number of styles over time can usually use a different implementation.

[2021-10-07 08:00] #28877 closed

[2021-10-07 08:09] #26252 closed, assigned to eps1lon

[2021-10-07 08:23] eric-burel commented on #24966
It seems that it also affects us even when using `adaptV4Theme` during migration, it doesn't adapt the `@global` wrapper. Removing the `@global` works fine (I am using only one font).

[2021-10-07 08:37] siriwatknp commented on #28859
Can you provide some design/image that related to what you request?

[2021-10-07 08:46] geonyoon2 opened #28888 "[DatePicker] Show Warning: React does not recognize the `xxx` prop on a DOM element. msg"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

A problem occurred in View, one of the props of Datepicker.

codeSendBox Demo Link :
https://codesandbox.io/s/viewsdatepicker-material-demo-forked-0jkws?file=/demo.js

## Expected Beh

[2021-10-07 09:08] #27468 closed

[2021-10-07 09:25] keo-hgsdk opened #28889 "Wrong CSS classes take precedence"
TL;DR
**Needed to** `npm uninstall @mui/x-data-grid` and `npm install @mui/x-data-grid@next`

After migrating from v4 to v5, and having refactored out @mui/styles, I now see that my MuiButtons, when rendered, have classes on the form: **css-xyz1234-MuiButtonBase-root-MuiButton-root**.

On _some_ pages in my app, styles coming from **css-xyz1234-MuiButtonBase-root-MuiButton-root** are overridden by

[2021-10-07 10:42] michaldudak commented on #28889
Would you be able to reproduce this behavior on CodeSandbox?

[2021-10-07 10:44] keo-hgsdk commented on #28889
I haven't been able to so far, which I realize limits your ability to help me.. I was hoping that it would ring a bell to someone

[2021-10-07 11:12] michaldudak commented on #28886
Thanks for the report. It's either a bug or insufficient info in the docs. I'll take care of it.

[2021-10-07 12:18] keo-hgsdk commented on #28889
Thank you for that in depth response! It does clear up a lot. Styles coming from the class MuiButtonBase-root are definitely the culprit - removing the class in dev tools makes everything look as intended. I think you are probably correct that v4 is injected somehow. I have ruled out the other option you mentioned.

Here's my package-lock.json, in a .txt:

[package-lock.json.txt](https://github.co

[2021-10-07 12:23] mnajdova commented on #28889
I can definitely see `@material-ui/core`, it comes as being dependency on `@mui/x-data-grid` I believe. I think you need to upgrade to v5 on `@mui/x-data-grid` too, but probably @m4theushw can provide more info on this. The goal is to try to remove @material-ui/core everywhere from package-lock.json

[2021-10-07 12:26] phudekar commented on #28886
@michaldudak Can I take a look at it.

[2021-10-07 12:32] eric-burel opened #28891 "ListboxProps not accepting data-* attributes like data-cy"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`data-cy` attribute is not supported in ListboxProps of Autocomplete component. I think it used to work in v4 but breaks in v5.

Quickfix is adding  a `// @ts-expect-error` for those

[2021-10-07 12:51] #28891 closed

[2021-10-07 13:34] circleous opened #28893 "Dark theme is not applied. createTheme with ThemeProvider @mui/material 5.0.3"
It seems like `createTheme` with `ThemeProvider` are not applied globally(?)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using this minimal snippet, dark theme is not applied. https://codesandbox.io/s/material-ui-5-0-3-dark-th

[2021-10-07 13:37] circleous commented on #28893
Ok, that was my bad sorry. I was trying to migrate some projects to @mui/material v5. I should have re-read the docs before creating this issue. Change `type` to `mode`.

[code]

[2021-10-07 13:59] #28888 closed, assigned to nobody

[2021-10-07 14:46] ajbosleyZone commented on #28664
@Hillsie Thanks for your lengthy explanation of what you've had to go through.

I also followed the migration guide and currently cannot stand my project up. I'm also having issues with useStyles and makeStyles, I will look at what you've done here in the hope it can fix my issues.

I'm expecting to rewrite our entire theming system which will be laborious and require a considerable test effort fr

[2021-10-07 15:17] ctbodycad opened #28897 "@mui/lab/DatePicker unable to change TextField input's placeholder"
I have recently migrated from v4 to v5 and trying to refactor our DatePickers. Most of the work has been done but there is one minor issue that I cannot work around and seems to be a bug to me. Basically, no matter what I specify as placeholder for the TextField component that serves as input, I always get the same default value 'yyyy-mm-dd'.

Here's my code example:

`
    const placeholderText =

[2021-10-07 15:52] kodeschooler commented on #21250
Could you please show the code where you're creating the tabContext ? I'm just a little unclear how this prevents the hidden component from being unmounted. Whether you use <div hidden> or <div class="visibility: hidden"> the component still unmounts. I must be missing something, but I'd like to see what you're storing in context in addition to value. And how using context along with visibility hi

[2021-10-07 17:42] #28897 closed, assigned to nobody

[2021-10-07 17:43] Jareechang opened #28898 "[@mui/system v5.0.3] styled-engined with styled component build issue"
I followed the documentation on material ui site - [Installation section](https://mui.com/getting-started/installation/) and ran into issues with `styled-components`. It complained about not being able to resolve `@emotion/*` related libraries (even though I am using `styled-components`).

**Instructions:**

[code]

The default `@mui/system` packages uses default `styled-engine` with `@emotion` li

[2021-10-07 17:50] PabloLION opened #28899 "How/Why does the props affects the style on `ButtonGroup` and `IconButton`"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

With MUI@5.0.2, styling for the border is using `:not(:last-of-type)` in the selector. This implies that MUI is using class on <a/> and <button/>, which causs ["`href` property of `Bu

[2021-10-07 20:05] kykungz opened #28902 "Add docs for the usage of each shadow level"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would be very nice to have a list of usage of each `shadows` level in theme settings, like where each shadow level is being used in MUI Components. For example, `theme.shadows[1]` is being used for `Card` component, `theme.shadows[4]` is be

[2021-10-07 20:52] mnajdova commented on #28889
Great thanks! I am closing.

[2021-10-07 20:52] #28889 closed

[2021-10-07 20:59] danilo-leal commented on #28902
Hey @kykungz, thanks for leaving this suggestion here. This is indeed a great idea and I'm confident that other people would benefit from it as well. We'll this to the backlog and make sure we let you know once it's up!

[2021-10-07 21:10] Jareechang commented on #28898
bet - please see #28903

[2021-10-07 23:05] cssagogo opened #28904 "npm ERR! Could not resolve dependency: npm ERR! peer react@"^17.0.2" from @mui/material@5.0.3"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a dependency that requires react v17.0.1 or less.  When I hard set to that version, I get the following when I try to run npm install:

[code]

My package.json file looks like

[2021-10-08 03:33] zeorin commented on #10469
I'm willing to bet these issues are because of [CSS stacking contexts](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context) having been introduced in the DOM tree. No amount of `z-index` fiddling will solve that.

[2021-10-08 06:00] MonstraG opened #28905 "[v5] No documented way of importing css or keyframes for styled-components"
As per https://github.com/mui-org/material-ui/issues/28657#issuecomment-933295854.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

All other sections not applicable, really.

`emotion` has documentation for css prop: https://mui.com/guides/interoperabil

[2021-10-08 06:33] michaldudak commented on #27170
We haven't got the standards for the unstyled written down as we are still in the process of defining them. Each new unstyled component that we make creates new challenges.

If you'd like to contribute, I think Popper may be a good place to start (and yes, it's a Tooltip's dependency). It already is pretty much unstyled, so you'd have to move it to the @mui/core package. We had a similar case with

[2021-10-08 08:53] ronnyroeller commented on #28871
The Date Picker could also leverage that browsers actually know the correct date format.

Something along those lines:
[code]

[2021-10-08 09:04] #28904 closed, assigned to nobody

[2021-10-08 12:12] Pablion commented on #28899
This issue is not clearly written. Merging it to #28645.

[2021-10-08 12:41] tulasikrishnag commented on #28825
yes, i have tried adding the prop clearOnBlur false, but didn't make any dfifference

[2021-10-08 12:58] #28883 closed, assigned to nobody

[2021-10-08 13:57] rossjs opened #28911 "[system] Counter intuitive behavior when overriding media queries"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm unable to override certain styles on components. In this example, I'm trying to override the `minHeight` property on a `Toolbar` component.

https://github.com/mui/material-ui/blo

[2021-10-08 14:04] sonphambk opened #28912 "Accordion in Mui v5 not work when start app by docker"
Hi. I am using Mui library for my web app. When I start app by yarn package. Accordion in app work well, but when I try start app by docker then Accordion not work. I can not collapse with accordion.
Can you help me about this problem?
Thanks.

[2021-10-08 14:31] Ja-rek opened #28913 "NextJs - Warning: Prop `className` did not match. Server"
After run an example from https://github.com/mui-org/material-ui/tree/master/examples/nextjs-with-styled-components-typescript and refresh

I see:

![image](https://user-images.githubusercontent.com/42544478/136574166-08c45549-d346-4dbb-b93f-e9a7cae66a20.png)

[code]

I have the same problem locally and I have no idea what caused this issue.
Can someone help?

[2021-10-08 14:59] GalaxyTea1 opened #28914 "TypeError: theme.spacing is not a function"
I use mui/styles and mui. material version 5.0.1 but I can't CSS theme. spacing(4). I think the new version has different usage and I tried reading the docs to fix it but had no success. Please help me!
![image](https://user-images.githubusercontent.com/66195006/136579179-b1a25f5e-f663-4336-babc-dbd10889f545.png)

[2021-10-08 15:12] Faraz1995 commented on #28326
yes this is what we want in material rtl,
it would be perfect if we can change default behavior of rtl direction in material component

[2021-10-08 15:36] andra-sava opened #28917 "[Button] Start icon font size override"
When passing a startIcon to a Button, it does not apply the given fontSize for that icon.
The issue can be also observed in the demos: https://codesandbox.io/s/iconlabelbuttons-material-demo-forked-m258l?file=/demo.js

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a

[2021-10-08 17:08] lifeeric opened #28918 "SnackbarContent: Cannot read properties of null (reading 'scrollTop')"
Hello all,

first of all, I appreciate all your efforts taken in this Wonderful open source project, which is a lifesaver!

**Error**
I'm getting some unexpected errors when I create a separate re-usable component for the `SnackbarContent` and try to import it. if I direct start implementing it from the `@mui/material`, it works but it doesn't work in the below example. I'm working on upgrading th

[2021-10-08 17:32] protzman opened #28920 "n Dividers with same textAlign value do not line up"
If you have _n_ `<Divider />` components all with the same `textAlign` property set, the text for each does not line up.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently if you set the `textAlign="left"` prop for the `<Di

[2021-10-08 17:38] nlmrkraju opened #28921 "Alternative for styles from Input and Inputbase in Material UI 5"
We have the following imports which were working fine with Material UI 4.

`import { styles as inputBaseStyles } from "@material-ui/core/InputBase/InputBase";
 import { styles as inputStyles } from "@material-ui/core/Input/Input";`

When we were upgrading to Material UI 5 we were able to solve most of the issues caused by the upgrade  by following the documentation provided except the missing styl

[2021-10-08 17:52] croraf opened #28922 "[DatePicker] inconsistency between selecting and typing date"
- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When date is typed it puts time to 00:00 local time. (and timezone)
When date is picked it puts time to current local time. (and timezone)

## Expected Behavior 🤔

The two should be

[2021-10-08 20:44] malouro opened #28924 "[Radio] Screen readers read all Radio buttons in group as "1 of 1""
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

On Chrome, some screen readers will not properly indicate the current n-th number of a Radio button within a Radio Group.

For example, with NVDA and JAWS (on Chrome), all of the radi

[2021-10-09 03:35] smac89 opened #28925 "Incorrect typing for `LocalizationProvider::locale` prop"
When  using `date-fns` adapter, the constructor for the adapter expects a `Locale` object from `date-fns`, however the type suggests we can pass a string, which leads to runtime errors.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior

[2021-10-09 08:05] abir-taheer opened #28926 "LoadingButton spinner not correctly placed when startIcon property is not set."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The following code works as expected:
[code]
and renders the following:
<img width="111" alt="Screen Shot 2021-10-09 at 3 54 51 AM" src="https://user-images.githubusercontent.com/4015

[2021-10-09 08:08] abir-taheer commented on #28926
Nevermind found another issue relating to this.

[2021-10-09 08:41] AntonioL opened #28927 "Is it possible to use material-ui with the CSS being provided in advance in the HTML itself"
I have this use case where I Want to pre-render something in advance but do not want to go the SSR route which I find it
overly complicated for my taste.

My goal was to like create a HTML page which would bundle the relevant material UI CSS in advance and pre-create the static bits of the web page in advance.

Then each component would only need to leverage the pre-included Material UI CSS in the

[2021-10-09 19:08] shh8te opened #28928 "[Menu] prevents page scrolling on close"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I'm trying to scroll the page to my element on choose a menu item, but it seems like closing the Menu component is asynchronous and it prevents scrolling, the page scrolls to top inste

[2021-10-09 19:33] rbabalola commented on #10571
This worked for me:

change
import DeleteIcon from '@mui/icons-material/Delete';

to
import DeleteIcon from '@material-ui/icons/Delete';

Seems there are bug on the Icon path

[2021-10-10 04:43] adamfitzgibbon commented on #28925
Makes sense I can take a look

[2021-10-10 06:20] sm2017 opened #28960 "ListItemSecondaryAction switching direction"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am using v4, and have a multilingual application both LRT and RTL, When I am in RTL or LTR mode as initial mode, everything is OK
But When I switching form RTL to LTR or vise versa,

[2021-10-10 07:01] Rupert-com opened #28961 "If you use 'persistent drawer' combined with 'table', the table wouldn't overflow properly."
While developing, I was wondering why my tabels don't overflow like the Basic Table, provided by Material.
[basic-table](https://mui.com/components/tables/#basic-table)
[demo](https://codesandbox.io/s/3mqpl?file=/demo.tsx)

After I dismantled my entire website, except for the menu and the table, the error was still there. Then I decided to look for the error in the menu. I forked the [persistent-d

[2021-10-10 07:12] Rupert-com commented on #28961
Found out this can be reproduced with any drawer.
[Mini variant drawer](https://stackblitz.com/edit/react-zb9uhz?file=demo.tsx)

If this is the normal, expected behaviour, then you can close this issue. But I think, there is a reason why a plain basic table, wrapped in a [table container](https://mui.com/api/table-container/#main-content) has a x-scrollbar

[2021-10-10 09:12] Mossop opened #28962 "Cannot customize palette in dark mode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using `createTheme` and changing the palette to dark mode the rest of the provided palette appears to be ignored.

## Expected Behavior 🤔

I should be able to select dark mode an

[2021-10-10 10:11] stevonjugush commented on #28913
I realised that this issue occurs in development mode as you make changes. If I run the site in production mode, it works fine and the makeStyles are applied correctly in both SSR and CSR. Similarly if I run npm run dev and test, it works fine until I make  a change, it might be how this classes are generated in the development mode.

[2021-10-10 12:11] #28836 closed

[2021-10-10 13:52] oliviertassinari commented on #28679
It wasn't how the initial implementation worked. It was added in #12302 for two reasons: 1. to stay true to the root element receive all the extra props 2. to play nicely with elements that use the cloneElement API.

[2021-10-10 14:00] abhinav-22-tech commented on #28962
If we use `enableColorOnDark` in `<AppBar>`  it worked.
Please check out the given below link:

https://codesandbox.io/s/material-ui-5-0-3-dark-theme-forked-p3bji?file=/src/App.js

[2021-10-10 18:49] coulgreer commented on #28848
Ok so I've came up with a solution to solve this issue if it is using MUI v5. MUI v5 is [moving away from JSS to the ```styled``` and ```sx``` API.](https://mui.com/guides/migration-v4/#migrate-from-jss) That said, I believe that ```makeStyles``` and ```useStyles``` should be removed and replaced with something else. I have a CodeSandbox as an example solution based on this assumption. Also, I add

[2021-10-10 19:42] sefirosweb opened #28968 "enterDelay in Tooltop is not reseting the time in "short" time when exits"
enterDelay in Tooltop is not reseting  the time in "short" time when exits

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When the mouse is over the first time must be wait the timer, but if you go exit of button and enter a bit

[2021-10-10 19:46] #28898 closed, assigned to nobody

[2021-10-10 19:54] coulgreer commented on #28917
I also noticed that your environment in the post and in the CodeSandbox do not match. You have Material-UI v4.12.2 in your post, but you use MUI v5.0.3 in your CodeSandbox.

[2021-10-10 22:09] borm opened #28971 "Please allow to simplify classNames like it was before"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
### @material-ui
[code]
![image](https://user-images.githubusercontent.com/4027842/136714403-6de2d2fb-429a-45e7-8b2d-31bf2651883f.png)

## Examples 🌈
### @mui/material
[code]
![image](https://user-images.githubusercontent.com/4027842/136714650

[2021-10-11 00:04] manhvohai5002 opened #28972 "https://shub.edu.vn/class/SXZAO/homework/list"

[2021-10-11 00:55] adamfitzgibbon commented on #28925
Actually I think this is intentional because it supports different date adapters. So some libraries may support a string locale which can be parsed into their native locale format. Can anyone confirm if that's the intended functionality?

[2021-10-11 03:16] cdll commented on #16681
same issue with `Stepper` component

[2021-10-11 04:26] nihil-pro opened #28973 "Button styles doesn't appear"
I just create an empty project and start with `npm install @mui/material @emotion/react @emotion/styled `, so, now i use two components – Datagrid `@mui/x-data-grid` and Button from `@mui/material/Button`. The first component works well but the Button doesn't.
<img width="294" alt="Screenshot 2021-10-11 at 07 21 56" src="https://user-images.githubusercontent.com/39807476/136732872-f87e367b-c525-43

[2021-10-11 05:19] siriwatknp commented on #28971
One reason that `Mui*` prefix exists in v5 is for styling. like this one

[code]

Can you explain your use case on what's the benefit of shortening the className? We'd love to hear from you so that we can plan on its priority.

[2021-10-11 05:21] siriwatknp commented on #28971
Related to #28550

[2021-10-11 05:24] siriwatknp commented on #28962
Yes, you can specify the default props in `createTheme` like this:

[code]

https://codesandbox.io/s/material-ui-5-0-3-dark-theme-forked-o6glf?file=/src/App.js

[2021-10-11 05:28] siriwatknp commented on #28962
I think this can be improved by adding one example in [the docs](https://mui.com/components/app-bar/#main-content). I marked this as "Good First Issue" in case anyone wants to work on it.

[2021-10-11 05:44] nihil-pro commented on #28973
Here is all my code:

[code]
Test

[code]

Result:
<img width="1422" alt="Screenshot 2021-10-11 at 08 43 42" src="https://user-images.githubusercontent.com/39807476/136738977-6cebf5a4-7e93-402b-9fbd-fb71821e93f3.png">

DataGrid and TextField works well, but Button doesn't.

[2021-10-11 07:00] chengjiaapraamcos opened #28975 "cx (emotion) or clsx?"
Just a bit confuse on these two functions.

Should we use cx (emotion) or clsx across the whole project?

Thanks

[2021-10-11 07:34] siriwatknp commented on #28928
Here is my suggestion. You can create another state and combine it with `useEffect` to achieve the expected behavior. This way, the effect is called after the Menu close.

https://codesandbox.io/s/adoring-leaf-klcid?file=/src/Demo.tsx

[2021-10-11 07:34] #28928 closed

[2021-10-11 07:39] #28850 closed

[2021-10-11 07:39] nihil-pro commented on #28973
Sure

[code]

[2021-10-11 07:59] mnajdova commented on #28971
I think we should consider it regressions and fix it sooner :)

[2021-10-11 08:34] siriwatknp commented on #28973
Without reproduction, I can't tell exactly but it is something about style engine because `@mui/material` has changed the style engine from JSS to emotion but `@mui/x-data-grid` v4 is still using JSS.

[2021-10-11 08:46] jota12x opened #28976 "inputProps allowed by DesktopDatePicker"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I don't know if this is an issue or the correct behaviour, but passing `inputProps={{readOnly:true}}` to `DesktopDatePicker` allows me to disable the text field but still access the p

[2021-10-11 08:50] Benshakalaka opened #28977 "How to get tree item data after triggering onNodeSelect?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
We choose material ui as our UI component library and we know that material ui do not provide tree select. I'm working on tree select with TreeView and FieldInput. After selecting nodes, I have no idea where to get label and other tree item re

[2021-10-11 09:17] #28921 closed, assigned to nobody

[2021-10-11 09:19] eps1lon commented on #28914
@siriwatknp  What are the next steps in this issue?

[2021-10-11 09:19] javismiles opened #28978 "Dragging slider crashes when located within TabPanel"
Good day,
I have a Dialog with 3 Tabs, using the exact TabPanel code that you have in your Demos.
Within one of those tabs, I need to have slider components. The problem is the following:
- If the slider components are outside of the TabPanels, they work perfect.
- If the slider components are located inside a TabPanel, e.g.:
        `    <TabPanel component="span" value={value} index={0}>

[2021-10-11 09:23] Mansi1 commented on #28848
https://codesandbox.io/s/jovial-dawn-9gnow

[2021-10-11 09:26] #28968 closed, assigned to nobody

[2021-10-11 09:27] eps1lon commented on #28918
The very first error message explains why this is happening:

Always read error messages top-to-bottom not bottom-to-top. The very first warning/error usually indicates the code may later crash.

[2021-10-11 09:27] #28918 closed

[2021-10-11 09:43] eps1lon commented on #28880
Could you share a cloneable repository? That'll make it easier to understand where this issue is comming from.

[2021-10-11 09:59] eps1lon commented on #28397
Closing since no reproduction was provided within 14 days.

[2021-10-11 09:59] #28397 closed

[2021-10-11 10:01] #28508 closed, assigned to nobody

[2021-10-11 10:07] eps1lon commented on #28075
Yep, good catch. We're currently missing this in the type declarations and `propTypes`. Probably in most transition components

[2021-10-11 10:09] janKozie1 opened #28979 "Separate themes for Mui and styled components"
Recently, I've been trying to migrate the app I'm working on from v4 to v5.
Since Mui now offers support for different styling engines, I wanted to use the one dedicated for styled components (because that's my preferred way of styling components)

Until now, I had a separate theme for styled components - the one that I used for writing custom styles, and one for Mui (which wasn't used while styli

[2021-10-11 10:20] netaspid opened #28980 "Incorrect behavior of the AppBar component on a custom theme"
When trying to create a custom theme using **createTheme**, and connecting the AppBar component as a nested component below the DOM,
the AppBar component is crushed. A similar problem does not reproduce when using **createMuiTheme**

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe tha

[2021-10-11 10:30] codyng opened #28981 "ClickAwayListener pass though events to the child elements in iPhone"
I've tested in real iPhone devices (XCode simulator is fine) and found that
if I clicked anywhere, the modal disappeared but the events were still passed down and received by other elements.

## Expected Behavior 🤔
No further events are passed through the tree like the desktop browsers.

[2021-10-11 10:34] codyng commented on #28981
May be it does not cut off all events to the background elements in iPhone? The buttons in the background are still clickable?

[2021-10-11 10:40] #10740 closed

[2021-10-11 10:48] MarksCode opened #28983 "[LoadingButton] Move from lab to @mui/material"
**The LoadingButton deserves to be part of the @mui/material package, not in @mui/lab!**

## Summary 💡

I've been using the LoadingButton from lab for a few months now, and I can say without a doubt it is stable enough to move to the regular @mui/material package. Not sure what's the hold up.

You guys can see it's already on the docs here https://mui.com/components/buttons/.
And the source code i

[2021-10-11 10:56] oliviertassinari commented on #28962
There is a section in the documentation about this problem: https://mui.com/components/app-bar/#Enable-color-on-dark. Is the proposed solution to add an illustration demo to it?

[2021-10-11 11:19] Rupert-com commented on #28961
Expected behaviour with table:
https://codesandbox.io/s/basictable-material-demo-forked-38trx?file=/demo.tsx
https://youtu.be/EOP3uwkX_vo

If you add a Drawer to the file, the x-scrollbar of the table gets lost. As a result, the application gets ugly for mobile.
https://codesandbox.io/s/persistentdrawerleft-material-demo-forked-5kz59?file=/BasicTable.tsx
https://youtu.be/zNh7TdFM6NY

I hope the vi

[2021-10-11 11:21] eps1lon commented on #28981
What kind of events are "passed through" (what does this mean?)?

Please consider filling out the issue template as intended. We carefully curated this template over time so that an issue has a workable baseline. If certain information is used from the template is up to the maintainers. But it shouldn't be omitted to begin with.

[2021-10-11 11:27] #28983 closed, assigned to nobody

[2021-10-11 11:58] robcaldecott commented on #28925
FYI I'm using `Day.Js` and not using TypeScript... and passing in the locale as a string is required to make it work.

For example:

[code]

[2021-10-11 12:36] saifaslam246 opened #28984 "Module not found: Can't resolve '@mui/material/Button' in 'E:\react material\ui-challange\src'"
I tried my best but could not resolve this issue. I install material-ui many times but it didn't work. can you please elaborate who can I, overcome this problem.

[2021-10-11 12:41] emilioheinz commented on #28962
@siriwatknp I would like to work on it, could you please clarify what do you have in mind?

I saw that there is something similar to your example [here](https://mui.com/components/app-bar/#enable-color-on-dark) in the docs.

[2021-10-11 13:02] borm commented on #28550
The reason is at least web page and bundle sizes, agreed is not much for 21 century, but anyway

[2021-10-11 13:16] #28978 closed

[2021-10-11 13:37] andra-sava commented on #28917
Yes, @coulgreer. This is what I want to achieve. Having a small icon in a large button for example.

[2021-10-11 14:32] siriwatknp commented on #28962
I think there should be a demo in `Enable color on dark` section.

[2021-10-11 14:38] siriwatknp commented on #28914
@eps1lon I think we can close this issue.

[2021-10-11 14:38] #28914 closed

[2021-10-11 14:40] siriwatknp commented on #28980
@netaspid you should `import { createTheme } from '@mui/material/styles';`. May I ask how do you end up with `@mui/system`?

[2021-10-11 16:11] javismiles opened #28988 "Error migrating from v4 to v5"
Good day,
I'm following step by step your guide at:
https://mui.com/guides/migration-v4/
for migrating to v5.

Two things:
a) - stylings I had on input fields, buttons, sliders, they are all now wrong, isnt there a way to avoid this? do I have to redo all the styling of all the widgets?

b)
After completing the migration. I am getting this error when opening a dialog, any tips? thank you
FormContr

[2021-10-11 16:33] javismiles opened #28990 "migrating the styles"
I have migrated from v4 to v5 following your half-clear guide (and second half unclear guide) at
https://mui.com/guides/migration-v4/

The app still runs (phew...), but all the styles are messed up, all the corrections in sliders, buttons etc, all messed up = massive problem.

Your guide is confusing as to how to fix this. Please explain. Say I have something like this:

`const useStyles = makeSty

[2021-10-11 16:36] Volcomix opened #28991 "[Tooltip] className not applied from PopperProps"
After migrating to MUI v5.0.3, our styles are not applied anymore when using `PopperProps` from the Tooltip component.

I saw that a new prop `componentsProps` was introduced in #28692. Our styles seem working fine when using this prop but TypeScript is now asking for all the popper props to be defined.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://g

[2021-10-11 16:56] javismiles commented on #28978
I have just reproduced this bug in V5!, here it is
https://codesandbox.io/s/competent-smoke-m19in?file=/src/Demo.tsx
the key is to have it all inside a Dialog, this is the simplest version I could create, of course we also had DialogContent etc, but as you can see you already get the bug when dragging the slider in this simple example,
and we really need to have the slider within a TabPanel within

[2021-10-11 16:57] javismiles opened #28992 "Dragging slider breaks in V5 when within TabPanel and within Dialog, demo attached"
I have just reproduced this bug in V5, here it is

https://codesandbox.io/s/competent-smoke-m19in?file=/src/Demo.tsx

the key is to have it all inside a Dialog, this is the simplest version I could create, of course we also had DialogContent etc, but as you can see you already get the bug when dragging the slider in this simple example,
and we really need to have the slider within a TabPanel withi

[2021-10-11 17:14] thediveo opened #28993 "Error in "Default theme (TypeScript)" section of v4->v5 migration guide"
- [x] The issue is present in the latest release.
- [x] I've seen and read https://mui.com/customization/palette/.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In the process of migrating the UI of http://github.com/thediveo/lxkns from v4 to v5 I've noticed two issues:

* https

[2021-10-11 17:23] javismiles commented on #28988
closing this because I raised a fresh bug as we reproduced the slider bug in V5

[2021-10-11 17:24] felipeLx commented on #28962
hi, newbie question. In the case that want to refactor the code, can the issue be fixed with the line of code below?

createTheme({
   .
   .
  palette: {
   ...children.color,
})

[2021-10-11 18:47] #28980 closed, assigned to nobody

[2021-10-11 18:50] sudoshreyansh commented on #28922
Can I work on this issue ?

[2021-10-11 20:28] kriswuollett commented on #28880
@eps1lon, sure I'm working on the [kriswuollett/monorepo](https://github.com/kriswuollett/monorepo) now, currently just has a debugging issue example I'm having too. I didn't add in the example app for MUI yet, but will get to that next.

[2021-10-11 20:34] borm opened #28994 "SSR, makeStyles, overrides not same on each page reload"
[code]

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/4027842/136852069-07368160-d735-4a60-80d2-3ef67f633bc6.png)

![image](https://user-images.githubusercontent.com/4027842/13685

[2021-10-11 23:04] tiagooliveira08 commented on #28994
same problem :(

[2021-10-12 00:35] jaymathew opened #28997 "[AppBar] Transparent backgroundColor doesn't work in V5"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using v5 in dark mode and setting the AppBar to have a backgroundColor of transparent.  In v5, the AppBar doesn't have a transparent background like in v4

## Expected Behavior 🤔

[2021-10-12 01:04] mwskwong opened #28998 "[LoadingButton] Incorrect loading indicator placement when loadingPosition=start and fullWidth=true"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Setting `loadingPosition="start"` (or `"end"`) and `fullWidth={true}` result in the loading indicator being placed in far left (or `"right"`).

## Expected Behavior 🤔
The loading indi

[2021-10-12 02:35] chengjiaapraamcos commented on #28994
use tss instead :)

[2021-10-12 04:12] adamfitzgibbon commented on #28998
I think it's the icon that is not being positioned correctly. It seems to me that the loading spinner is correctly observing the positioning props. If someone can confirm that the check mark should be following the position props then I can fix that.

[2021-10-12 06:13] adamfitzgibbon commented on #28998
Oh I see what you mean, I was just confused by the default behavior. Looking into it