[2015-09-21 20:14] caseychoiniere commented on #1669
Seems that issue #1675 addresses this issue similarly. I will close this issue for now. Thanks for your help.

[2015-09-21 20:17] caseychoiniere commented on #1669
Realize this issue should stay open until #1675 is closed.

[2015-09-21 20:18] caseychoiniere commented on #1669
Realize this issue should stay open until #1675 is closed.

[2015-09-21 20:36] shaurya947 commented on #1673
@Huxpro do you wanna help us? It might be quicker that way :-)

To start off, you could submit a PR that modifies the existing documentation site by moving all hard-coded strings into text modules. Let me know if this is something you would like to undertake.

[2015-09-21 21:00] shaurya947 commented on #1578
Hey @xuansehyun , you should just be able to set the attribute `maxLength` on your `TextField` element like so:

[code]

Let me know if that doesn't work.

[2015-09-21 21:11] KapJI opened #1695 "TimePicker docs page."
Methods description copy-pasted from DatePicker. Description of events is missed.

[2015-09-21 21:15] shaurya947 commented on #1577
@Nimaear I see, since JSX expects camelCase versions of attribute names. Care to submit a pull request with the changes?

[2015-09-21 21:45] shaurya947 commented on #1576
@bdefore to accomplish this in v0.11, you would have to edit the `flat-button.jsx` file, where you can just comment out [line 114](https://github.com/callemall/material-ui/blob/master/src/flat-button.jsx#L114).

We're changing theming in v0.12 and I can kinda see where this might fit in then. So look forward to that!

[2015-09-21 22:10] shaurya947 commented on #1547
@mhahn if you see [L121](https://github.com/callemall/material-ui/blob/master/src/app-bar.jsx#L121) of `app-bar.jsx`, if `title` is a React node (instead of a simple string), it is simply rendered inside a `div`.

So you could create your title as a React node, style it however you like, and then pass it as a prop. Here's a small example (using JSX syntax):

[code]

[2015-09-21 22:12] oliviertassinari commented on #1547
Almost a duplicate of https://github.com/callemall/material-ui/issues/1645

[2015-09-22 02:37] tapas4java commented on #1030
Is there any tentative timeline for supporting React 14?? This issue is really old and it would be nice if it get resolved soon!

[2015-09-22 05:11] EcutDavid commented on #1689
@shaurya947  Thank you :)

[2015-09-22 05:28] thanzen opened #1697 "Checkbox position?"
How can I make Checkboxes display horizontally rather than vertically.
I want to put a Checkbox and a FlatButton in the same line, but it looks like always start a new line when I use Checkbox component.

[2015-09-22 15:35] shaurya947 commented on #1697
The `Checkbox` component is rendered in a `div` of its own. That's why if you put the `FlatButton` component after the `CheckBox` component, the `FlatButton` would get pushed to the new line. One way to overcome this is to use a standard method of placing `div`s side by side like so:

[code]

Here, we `float`ed the checkbox to the left with a fixed width. We then put the flat button with a left ma

[2015-09-22 15:38] shaurya947 commented on #1695
Ah good catch @KapJI ! We shall be getting to this soon.

[2015-09-22 15:43] shaurya947 commented on #1690
@strandoe that's correct! We're changing themes in v0.12 (which is just around the corner). In fact, there are more such instances where component-level styles use hard-coded values instead of theme-based palette values.

Resolving these issues would entail one of two things:
- introduce more keys in the palette to be able to reconcile more style properties
- enforce all component-level style prop

[2015-09-22 15:48] shaurya947 commented on #1603
@nikhildaga we appreciate your support and compliments! :-)

Please feel free to close this issue.

[2015-09-22 15:50] thanzen commented on #1697
@shaurya947  I will try it later today and let you know how it go.
Thanks very much.

[2015-09-22 16:13] shaurya947 commented on #1467
@Thomsos here's how:

[code]

If you look at `src/dialog.jsx` lines [141 and 142](https://github.com/callemall/material-ui/blob/master/src/dialog.jsx#L141), `styles.content` is what you want to override with the `contentStyle` prop.

Let me know if that works

[2015-09-22 16:59] Huxpro commented on #1673
@shaurya947 Sure. I would like to try it in my free time, after I finish my work with this framework ; )

[2015-09-22 17:21] ianwcarlson commented on #1666
Thanks.  I had to go with a different library so I haven't be able to try this out, but it may help someone else so I'll close for now.

[2015-09-22 17:21] #1666 closed

[2015-09-22 17:44] RangerMauve opened #1699 "Custom elements within LeftNav"
I want add an element to the top of the LeftNav which contains the user's picture and name, but it seems like all that I can specify are menu items. I don't see how I can have complicated content inside MenuItems from the examples.

Any guidance of what I should do?

[2015-09-22 19:01] Thomsos commented on #1467
@shaurya947 This worked perfectly! Thank you very much for your help!

[2015-09-22 19:01] #1467 closed

[2015-09-22 19:20] shaurya947 commented on #1699
I'm looking into this. @oliviertassinari you got anything?

[2015-09-22 19:58] hai-cea commented on #1603
Thanks @nikhildaga!

[2015-09-22 19:58] #1603 closed

[2015-09-22 20:54] oliviertassinari commented on #1699
I have never used this component. From the source code, I would say you can't. A change is needed.

[2015-09-22 21:10] shaurya947 commented on #1699
Duplicate of #413. We're working on it!

[2015-09-22 21:11] #1699 closed

[2015-09-22 21:17] shaurya947 commented on #1615
@raptoria we're moving towards composable components, so providing a `menuItems` prop for `IconMenu` would not align with that. Therefore, we're probably not going to do that.

Check this issue: #27 for more info.

[2015-09-22 21:17] #1615 closed

[2015-09-22 21:18] RangerMauve commented on #1699
Cool, thanks.

[2015-09-22 21:22] #1590 closed

[2015-09-22 21:28] shaurya947 commented on #1569
@yaycmyk I like that idea. Would you care to submit a PR to make that change?

[2015-09-22 21:30] #1547 closed

[2015-09-22 21:30] shaurya947 commented on #1547
Thanks @oliviertassinari!

[2015-09-23 00:12] obieq opened #1701 "[Card] Expand Button requires 2 clicks when using OS X Yosemite Safari v8.0.8"
The issue is reproducible on the demo website:

1) http://material-ui.com/#/components/cards
2) click the collapse  button on the 2nd card. the view flickers, but nothing changes
3) click the collapse button again and the card collapses
4) every now and again, a third click is required

I have the same issue on my playground react website as well.

[2015-09-23 00:15] raptoria commented on #1615
makes sense..I just learned about React Composable Components today :+1:

[2015-09-23 00:52] EcutDavid opened #1702 "How to hide checkbox in Table component"
[The table component](http://material-ui.com/#/components/table) is very good.
But some times, There is no need to use the checkbox, how to hide it?
I found there is no Table Props related with it.
Thanks!

[2015-09-23 02:30] EcutDavid commented on #1656
@oliviertassinari  COOL

[2015-09-23 04:00] thanzen commented on #1697
@shaurya947 , it is working great.

[2015-09-23 04:00] #1697 closed

[2015-09-23 07:21] neveenmoghazy commented on #1560
+1

[2015-09-23 07:46] af7 commented on #1583
+1
Same in 'dialog.js'

[2015-09-23 09:13] ciwolsey opened #1703 "Ink effects not working in firefox"
While viewing the component demos on the website chrome shows ink effects when pressing button and such but firefox does not

[2015-09-23 11:05] jkruder commented on #1685
All, see [babel's caveats](https://babeljs.io/docs/advanced/caveats/). For an immediate fix, include the babel polyfill [like so](http://babeljs.io/docs/usage/polyfill/). A more permanent fix to this problem is to replace for..ins with standard for loops so consumers are not required to utilize a polyfill.

[2015-09-23 14:53] shaurya947 commented on #1656
@yonatannn you can see a few more referenced in #358. After we release the next major version, we plan to spend a little more time on this effort. :-)

Thanks for linking to your stuff @oliviertassinari!

[2015-09-23 14:53] #1656 closed

[2015-09-23 14:57] shaurya947 commented on #1701
I can confirm that the card on the linked page indeed needs two clicks to collapse on Safari v7.0.6 and OS X Mavericks. It works fine on Chrome for me though, so perhaps some kind of a browser-support issue?

[2015-09-23 16:23] shaurya947 commented on #1702
The `TableBody` component has a `displayRowCheckbox` prop that you can set to `false`. This will hide the checkbox from the table body rows. Moreover, for the `TableHeader`, you can set

- `displaySelectAll` prop to `false`, which will hide the checkbox in the header **AND**
- `adjustForCheckbox` prop to `false`, which will get rid of the space reserved for the Checkbox (this point applies to `Tab

[2015-09-23 18:13] AliciaWamsley opened #1706 "Add an Aria Label to the nested list dropdown button."
Can you add an aria-label prop to the buttons for aria labels, particularly the dropdown triangle button on the nested list item component?

Here's the accessibility rule it's breaking -
https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_text_01

[2015-09-23 18:19] shaurya947 commented on #1576
Or better yet, instead of modifying the material-ui source, you can use the `FlatButton` component like so:

[code]

This would override the caps transform in the source. For `RaisedButton`, this would be:

[code]

[2015-09-23 19:14] shaurya947 commented on #1576
See PR #1662

[2015-09-23 19:14] #1576 closed

[2015-09-23 19:53] tpdi opened #1710 "TimePicker cannot be used as a controlled input."
TimePicker cannot be used as a controlled input, that is, it does not use value/valueLink properties.

[2015-09-23 20:55] justjacksonn commented on #1030
I too was really excited to use this UI toolkit and avoid Bootstrap, Foundation and even Elemental UI... but I am using React 0.14 with Redux and am not going back to 0.13. How long before an update?

Also, not sure I qualify to ask/provide this info, but with regards to refs, (also not sure if this is a 0.14 thing.. or 0.12/0.13) I usually add this to my form input elements:

 <input ....  ref={(

[2015-09-24 06:21] hilkeheremans commented on #42
@hai-cea In 0.10.4, and as reported above at various moments, ripple animations are still slow on Mobile Safari. Interestingly, in 0.10.1, they are silky smooth (!) on my iDevices.

I am using the exact same code for my application, only switched out versions. For now, I'm reverting to 0.10.1 but wouldn't mind seeing a more permanent solution. ;-)

[2015-09-24 08:34] timuric opened #1712 "Npm install fails"
React-tap-event-plugin requires higher version of react.
`npm ERR! peerinvalid The package react does not satisfy its siblings' peerDependencies requirements!
 npm ERR! peerinvalid Peer reapp-kit@1.2.15 wants react@0.13.x
 npm ERR! peerinvalid Peer react-tap-event-plugin@0.1.9 wants react@^0.14.0-0
 npm ERR! peerinvalid Peer material-ui@0.11.1 wants react@>=0.13`

[2015-09-24 08:42] oliviertassinari commented on #1712
See https://github.com/zilverline/react-tap-event-plugin/issues/38.

[2015-09-24 08:51] scourgetheone opened #1713 "enableSelectAll prop for TableHeader is always false"
enableSelectAll prop for TableHeader is always false, no matter what value was passed. This can be seen even in material-ui's official documentation page: http://material-ui.com/#/components/table

[2015-09-24 09:40] jenyckee commented on #536
+1

[2015-09-24 10:50] EcutDavid commented on #1702
@shaurya947  Thank you!

[2015-09-24 12:35] timuric commented on #1712
@oliviertassinari That doesn't help since the dependency is  in material-ui is `react-tap-event-plugin": ">=0.1.3`

Which would go up to 0.2.0

`npm ERR! peerinvalid Peer react-tap-event-plugin@0.2.0 wants react@^0.14.0-0`

[2015-09-24 14:25] payner35 commented on #1712
am getting this.

 npm ERR! peerinvalid The package react does not satisfy its siblings' peerDependencies requirements!
   npm ERR! peerinvalid Peer material-ui@0.11.1 wants react@>=0.13
   npm ERR! peerinvalid Peer react-tap-event-plugin@0.2.0 wants react@^0.14.0-0

[2015-09-24 14:26] timuric commented on #1712
@payner35 there is a pull request to fix this issue #1714

[2015-09-24 15:36] payner35 commented on #1712
great... thanks.

[2015-09-24 15:58] tmiyamon commented on #1712
got the same erorr

[2015-09-24 16:00] oliviertassinari commented on #1712
@shaurya947 Can you have a look? I think that a quickfix is needed here.

[2015-09-24 16:03] marcoscssno commented on #190
@eliquious I'm trying it since I read your comment. Looks very good and easy to use. Thank you!

[2015-09-24 16:15] shaurya947 commented on #1712
I've merged #1714. The error should go away now. Thanks @oliviertassinari!

[2015-09-24 16:19] oliviertassinari commented on #1712
Your welcome. You gonna have to publish 0.11.2 with the fix.

[2015-09-24 16:26] shaurya947 commented on #1702
@EcutDavid closing this. If that didn't work, or if you have any more questions about this, feel free to re-open and comment.

[2015-09-24 16:26] #1702 closed

[2015-09-24 16:28] shaurya947 commented on #1712
Yup, getting on it!

[2015-09-24 17:47] mhahn commented on #1547
Oh I missed that, thanks!
On Tue, Sep 22, 2015 at 2:31 PM Shaurya Arora <notifications@github.com>
wrote:

[2015-09-25 03:53] jedd-ahyoung commented on #1030
+1 on this. Found material-ui today and was really excited to try it! Unfortunately, no dice.

[2015-09-25 04:41] EcutDavid opened #1719 "Doc site prompt error."
Hello, After pull the newest master.
Click tabs will prompt error:
![screen shot 2015-09-25 at 12 38 20 pm](https://cloud.githubusercontent.com/assets/10692276/10093240/83ffcbe8-6382-11e5-826b-8d92b88f7d7b.png)
Thanks!

[2015-09-25 11:57] scourgetheone commented on #1713
Ok I have found out the reason: multiSelectable prop should be set to true for enableSelectAll to have any effect.

[2015-09-25 11:57] #1713 closed

[2015-09-25 14:14] nabiltntn commented on #1652
Make sure you have the icon-navigation-expand-more class defined.
Icons are defined directly, you should use material-design-icons for example.

[2015-09-25 14:53] shaurya947 commented on #1719
@EcutDavid #1721 fixes this. So I will go ahead and close this. Thanks for noticing!

[2015-09-25 14:53] #1719 closed

[2015-09-25 15:26] dinardln commented on #1712
i am having the same problem too.

[2015-09-25 15:29] shaurya947 commented on #1712
@dinardln if you pull the latest from master, this issue should have gone away.

As for support for v0.14.0-rc1, we're working on it and will try to include it in a new release of Material-UI which is most likely coming today.

[2015-09-25 15:52] yulric opened #1722 "Broken DatePicker"
Hi there,

I'm currently having an issue with the DatePicker. I have a simple layout with a DatePicker nested within a div and when I click on the the TextField, although the DatePicker show up it is missing the Calendar and is not set up right. Here's a screenshot of the issue.

<img width="1279" alt="screen shot 2015-09-25 at 11 47 44 am" src="https://cloud.githubusercontent.com/assets/5900191/1

[2015-09-25 16:08] yulric commented on #1722
So taking a closer look at it, the DateDisplay component in the Calendar had a height set to 100% which was pushing the remainder of the calendar to the bottom. I'm not sure why it's happening but I'll update if I find the source of the problem.

[2015-09-25 17:56] yulric commented on #1722
Line 98 in calendar.jsx. 100% should be replaced by 64. So the dateDisplay style object should be,

[code]

[2015-09-25 17:59] matthewoates opened #1723 "docs broken (cards page)"
http://material-ui.com/#/components/cards

[code]

[2015-09-25 18:01] shaurya947 commented on #1723
@oliviertassinari [this line](https://github.com/callemall/material-ui/blame/master/src/card/card-expandable.jsx#L56) should say `statics` right?

[2015-09-25 18:02] CuthbertJungle commented on #1722
I'm seeing the same effect in the timepicker

[2015-09-25 18:04] shaurya947 commented on #1722
PRs welcome :-)

[2015-09-25 18:24] ayhankuru commented on #1712
still broken :(

[2015-09-25 18:58] shaurya947 commented on #1723
#1724 fixes this. Although the website will have to wait for a patch.

[2015-09-25 19:16] matthewoates commented on #1723
Sweet. Thanks for the quick fix.

[2015-09-25 19:32] yulric commented on #1722
Cool, I'll try to get one in during the weekend.

[2015-09-25 19:55] tsusini commented on #1158
+1

[2015-09-25 20:14] #1086 closed

[2015-09-25 21:39] quanglam2807 opened #1727 "DarkRawTheme: wrong color configurations"
The colors of LeftNav, Dialog, Button, Card of DarkRawTheme don't look nice!

[2015-09-25 21:48] quanglam2807 commented on #1727
Update: I checked the code and the issue happens because many variables are constant instead of using values from rawTheme.

[2015-09-25 21:53] quanglam2807 commented on #1727
v0.11 has `let cardColor = Colors.grey800;`.  Should we add this value to rawTheme or use `canvasColor` instead? As soon as we agree on this, I can make a PR.

[2015-09-25 22:39] harshavardhana commented on #1723
[code]

Same problem..

[2015-09-25 22:51] AddictArts opened #1728 "Unable to remove getChildContext() from root component after update to 0.12.0"
I get these warnings for almost all the material-ui components I use.

"Warning: owner-based and parent-based contexts differ (values: `undefined` vs `[object Object]`) for key (muiTheme) while mounting Toolbar (see: http://fb.me/react-context-by-parent)"

I don't have multiple reacts in node_modules or using multiples. I am not using something like react-router that uses context or did I think. I

[2015-09-26 03:29] shaurya947 commented on #1728
@AddictArts v0.12.0 internally uses context to pass down the default theme (or the custom theme in case you define one in your outermost app component). All material-ui components use context for this purpose.

Can you share your code that shows you the warnings so I can run it and investigate?

[2015-09-26 03:32] shaurya947 commented on #1727
@quanglam2807 we're aware of this issue. There's many more component theme variables in `theme-manager` that use hard-coded values. @hai-cea and I are looking at all these values on a case-by-case basis and there should a PR up here in the next couple days.

[2015-09-26 04:23] AddictArts commented on #1728
Yes absolutely. The project is on github at
https://github.com/SRI-SAVE/react-components

The root component is named EUi.jsx and I use a mixin to put the above code
into it. It is a webpack project. Thank you
On Sep 25, 2015 8:29 PM, "Shaurya Arora" <notifications@github.com> wrote:

[2015-09-26 07:14] tapas4java commented on #1712
Tried `npm install material-ui` with Node 4.1 today and got below error:

[code]

[2015-09-26 07:18] gsccheng commented on #1652
@nabiltntn Thanks! Google's Material Icons are great and I was able to have the icons display through their CDN. I didn't see the instructions for the icons from the Toolbar component instructions before. The icon displays great now other than the icon not being centered properly in the toolbar, but that's another issue for me to play with.

This issue can be closed.

[2015-09-26 07:54] cgestes commented on #686
I confirm that the issue disappear when using React 0.14.0 (-rc1)

[2015-09-26 12:14] ayhankuru commented on #1723
still broken

[2015-09-26 15:23] zsxsoft commented on #1685
@jkruder Aha, thanks.

[2015-09-26 15:23] #1685 closed

[2015-09-26 15:25] TrySpace opened #1730 "[Tab] text color is hardcoded & overall theming issue"
Why is it hardcoded like:

     color: selected ? 'rgba(255,255,255,1)' : 'rgba(255,255,255,0.6)',

Is there a way to override this?
I've tried every possible Theme override with ` ThemeManager.setComponentThemes`
Things like `primaryTextColor` don't work, where I'd expect them to

[2015-09-26 15:27] TrySpace commented on #1730
Also on: http://material-ui.com/#/customization/themes the flatbutton textColor is white while the background is too. And the link to the updated theming: https://github.com/callemall/material-ui/releases/tag/v0.12 there is broken

[2015-09-26 15:28] tart2000 opened #1731 "Links not working in sidebar"
I don't know if it's just me, but some links of the menu just don't work.

[2015-09-26 16:18] chrismcv commented on #1574
have you considered having separate elements and animating between them?  using something like http://kushagragour.in/lab/ctajs/

[2015-09-26 17:33] bdefore commented on #1712
Looking forward to this being pushed to npm!

[2015-09-26 18:35] olivierGM commented on #1712
I included  "react-tap-event-plugin": "~0.1.3" in my dependencies in my own project (package.json) and i no longer have that problem since material-ui only requires a version>=0.1.3.

[2015-09-26 18:48] SenerDemiral commented on #1731
Me too.

[2015-09-26 19:26] bdefore commented on #1712
@olivierGM if i do that i get the error `npm ERR! peerinvalid Peer react-tap-event-plugin@0.1.3 wants react@~0.12` ... the project i'm working on is using react 0.14.0-rc1

[2015-09-26 19:45] olivierGM commented on #1712
I am using "react": "~0.13.3" and i am not ready to move to react 0.14 so this fix works for me (react 0.13)  but not 0.14...

[2015-09-26 22:02] russjr08 commented on #1731
Same. It seems if you click a broken one (like cards), then all of them break.

[2015-09-26 23:30] rohitahuja commented on #1030
+1. Would also like to know the timeline of this update!

[2015-09-27 01:27] yulric commented on #1722
Fixed in PR #1726. This PR also fixes the TimePicker that CuthbertJungle was having.

[2015-09-27 02:13] luisrudge commented on #962
This works on MS EDGE

[2015-09-27 10:21] ocyedwin commented on #1731
http://material-ui.com/#/components/cards is broken.

[2015-09-27 10:24] oliviertassinari commented on #1731
@ocyedwin Here is the issue https://github.com/callemall/material-ui/issues/1723. Fixed by https://github.com/callemall/material-ui/pull/1724.

[2015-09-27 19:22] izziaraffaele opened #1737 "DateTime broken with minDate after current date"
If you set a minDate after the current date the OK button is disable and date cannot be chosen.

![schermata 2015-09-27 alle 21 22 09](https://cloud.githubusercontent.com/assets/2734825/10124774/db944bb8-655d-11e5-8b5a-06e980be0eb8.png)

[2015-09-27 19:30] izziaraffaele opened #1738 "DatePicker month selector not working when minDate in current month"
If the minDate set on the DatePicker is in the current month when I open the DatePicker dialog and I change months, the back button is broken and I cannot go back to the previous month.

![schermata 2015-09-27 alle 21 30 13](https://cloud.githubusercontent.com/assets/2734825/10124805/fa4a23e2-655e-11e5-81e0-08c2c3f7d8fa.png)

[2015-09-27 20:07] mgibeau commented on #1730
Regarding the Tab text color, there's a pull request already which solves that issue, https://github.com/callemall/material-ui/pull/1523

[2015-09-28 07:15] kolyjjj commented on #1723
Is there anywhere else that I can get the doc?

[2015-09-28 07:26] cgestes commented on #1723
@kolyjjj build it from source, or read directly the source files.

[2015-09-28 07:55] matthewoates opened #1739 "Can't style drop-down-menu background color. Lacking theme documentation"
It's changing to `#ffffff` no matter what I do. From debugging, it looks like the background color is passed in through the theme correctly, but some prop is overriding it.

material-ui v0.12.0
react v0.13.3
[code]

even this fails:
[code]

Am I doing something wrong? It seems like this should be configurable.

EDIT: Likely related to https://github.com/callemall/material-ui/issues/1730

[2015-09-28 08:21] mayagamer opened #1740 "Icon-Menu popups should open outside container"
if I put DatePicker or TimePicker in a Dialog, the popups show on the lower part of the screen, look not good. It is because the vertical position of the popups is related to Dialog.
I don't know whether that's intended, but I think the vertical position should relate to the window.
Or is there anyway I can set that?

[2015-09-28 08:21] matthewoates commented on #1739
resolved by setting `theme.menu.containerBackgroundColor = '#303030';`.

The original issue is resolved, but leaving open because I think the style/theme documentation leaves a lot to be desired.

[2015-09-28 09:17] matthewoates commented on #1508
The hierarchy is a little off, but it's there: http://material-ui.com/#/components/switches

See the tabs. `Checkbox`, `RadioButtons`, and `Toggle`.

This can be marked as resolved.

[2015-09-28 09:27] luckyraul commented on #1508
ListItem have properties such as leftCheckbox and rightToggle.
I want to have something like leftRadio

[2015-09-28 09:42] oliviertassinari commented on #1508
This make me think that the ListItem component should be composable instead of having an long list of property.

[2015-09-28 09:43] flexelektro opened #1741 "component showcase http://material-ui.com/#/components/cards unaccessible"
Uncaught TypeError: this.constructor.getRelevantContextKeys is not a function.

[2015-09-28 09:45] oliviertassinari commented on #1741
Duplicate

[2015-09-28 10:35] luckyraul commented on #1508
Agree.

[2015-09-28 13:27] marnusw opened #1743 "SelectField programmatic focus"
The `TextField` has a `focus()` method that a parent can use to set focus on it. I would like to have a similar function on the `SelectField`. I tried implementing this by adding the `focus()` method in the `SelectField` class, but couldn't figure out which underlying element should receive the focus so the field gets underlined and the drop down starts listening for the next `SPACE` press so it o

[2015-09-28 14:02] #1069 closed

[2015-09-28 14:56] shaurya947 commented on #1739
@matthewoates as the doc site mentions, the `theme-manager.js` file is the best place to look at to see what component-level styles are available to override.

What else do you feel the style/theme documentation needs?

[2015-09-28 15:16] vatanbytyqi opened #1745 "Slider does not work in Chrome"
Slider does not work in Chrome 45.0.2454.101 nor in Microsoft Edge. I can't drag the object and the console does not output any error.

[2015-09-28 15:49] yulric opened #1747 "Style for DatePicker nested element"
Currently when the DatePicker is rendered it consists of a div within which there exists another div which contains the input. I would like to set the input to have a width of 50% which involves setting the parent div to have a with of 50%. Is there any way of doing that currently?

[2015-09-28 16:05] skosch commented on #1712
+1, a fix for 0.14.* would be lovely :+1:

[2015-09-28 16:23] shaurya947 commented on #1741
Fixed!

[2015-09-28 16:23] #1741 closed

[2015-09-28 16:23] shaurya947 commented on #1731
This should be fixed now.

[2015-09-28 16:23] #1731 closed

[2015-09-28 16:24] shaurya947 commented on #1730
@TrySpace see #1746. This has been merged and a new minor release is out with the fix!

[2015-09-28 16:24] #1730 closed

[2015-09-28 16:25] shaurya947 commented on #1727
@quanglam2807 see #1746. This has been merged and new minor version has been released with the fix!

[2015-09-28 16:25] #1727 closed

[2015-09-28 16:25] shaurya947 commented on #1723
This should be fixed now on the actual site :)

[2015-09-28 16:25] #1723 closed

[2015-09-28 16:36] aslauris commented on #1676
I'm facing the same issue. You can use `window.dispatchEvent(new Event('resize'))` as a workaround (call it after appending the content). It triggers window resize event and forces dialog position/size to be recalculated. Hope it will be helpful.

[2015-09-28 17:00] timarney opened #1748 "Fullscreen dialog"
Is there a way for the dialog to go fullscreen (no overlay)?  this would be handy for a phone view where space is limited.

[2015-09-28 17:15] matthewoates commented on #1739
I see that instead of applying all properties from the theme hash, they're cherry-picked. Why are they cherry picked? Which properties can I change?

EG: see the radio-button page.

How we compute styles for radio buttons:
https://github.com/callemall/material-ui/blob/master/src/radio-button.jsx#L53

The code for the example page:
https://github.com/callemall/material-ui/blob/v0.12.1/docs/src/app/

[2015-09-28 17:23] matthewoates commented on #1739
@shaurya947 : `theme-manager.js` does look like a good reference, but it's missing the `dropDownMenu.containerBackgroundColor` property that I needed for my original issue. However, `menu.containerBackgroundColor` is there.

[2015-09-28 17:32] MikeB2012 commented on #1011
This worked: var injectTapEventPlugin = require('react-tap-event-plugin'); injectTapEventPlugin();
The challenge then became that the first item in the selection list was rendered over the 'hint' text.  My solution was to just have a blank item at the top of drop down items ie.[ {payload:'', text ''}, ...]

[2015-09-28 17:45] mtw17 opened #1749 "[TableBody] Can't include subcomponents"
Is it possible to include MUI components in other components? When I try to do the following, where I include a class that renders `<TableRows>` inside a `<TableBody>` element, it does not get treated as a MUI component. In other words, it's not hoverable, it's not striped, etc.
[code]

where `<TableContent>`  is a class that renders:

[code]

. But if I include the rows directly, it works. Is thi

[2015-09-28 18:00] #1689 closed

[2015-09-28 18:00] shaurya947 commented on #1695
This has been fixed

[2015-09-28 18:00] #1695 closed

[2015-09-28 18:38] shaurya947 commented on #1728
@AddictArts I ran your project but couldn't see the warnings. Here's the workflow I followed:

![cbvuivmsuf](https://cloud.githubusercontent.com/assets/3454081/10144993/315ad7a0-65e6-11e5-8319-608b8ebb19f0.gif)

Am I missing something?

[2015-09-28 19:01] shaurya947 commented on #1739
@matthewoates to answer your question regarding "cherry-picking", my best guess is that it is nicer to expose a subset of styling properties through the theme that are more likely to be uniform across your app (such as colors etc.). So for instance, checkboxes on different pages of your app may have different layouts (padding, margin etc.) depending on a number of factors, but it's more likely tha

[2015-09-28 19:03] shaurya947 commented on #1682
@galexy / @subjectix PRs welcome :-)

[2015-09-28 19:04] oliviertassinari commented on #1682
Here is the monkey patching I'm using

[code]

[2015-09-28 19:05] shaurya947 commented on #1684
Yup it is `onTouchTap` (as of now at least I think). I'll make a note to document this when we update the doc site. Feel free to comment here if you don't see it fixed in the next minor release (after v0.12.1).

[2015-09-28 19:07] shaurya947 commented on #1749
@mtw17 could you link to a source file so I can run it and investigate?

[2015-09-28 19:09] shaurya947 commented on #1748
Seems like a duplicate of #1467

Feel free to re-open and comment if you're trying to do something else.

[2015-09-28 19:12] shaurya947 commented on #1690
This has been addressed in v0.12.1. We pretty much used the second approach mentioned above.

[2015-09-28 19:12] #1690 closed

[2015-09-28 19:16] shaurya947 commented on #1745
@vatanbytyqi I can't test with Microsoft edge, but it seems to be working for me in the version of Chrome that you mentioned:
![gd6dnchfdz](https://cloud.githubusercontent.com/assets/3454081/10145868/5538529c-65eb-11e5-8f76-ecba0a8f4b51.gif)

Could you double check by navigating to the documentation site on Chrome?

[2015-09-28 19:22] mtw17 commented on #1749
@shaurya947: You can see the file here: http://pastebin.com/mj7RUGmn

If I include
[code]

[2015-09-28 19:26] mtw17 commented on #1749
Just in case, I'm attaching a screenshot showing how the first `<TableRow>` directly added works, vs. how the `<CustomTableRow>` class containing `<TableRow>` is rendered.
<img width="1176" alt="screen shot 2015-09-28 at 2 24 29 pm" src="https://cloud.githubusercontent.com/assets/5436721/10146153/e10f2772-65ec-11e5-9b05-70820a97a2bd.png">

[2015-09-28 19:29] zacksinclair opened #1752 "In a Table, when allRowsSelected is true, state.selectedRows is empty"
0. Have a table
1. Click allRowsSelected
2. Figure that you can get all the rows by checking state.selectedRows
3. Nope! selectedRows is empty, even though they're all selected

I don't think I'd call it a bug, but logically I think state.selectedRows should be populated when allRowsSelected. This allows you to gather up the selected rows using the same method regardless of all or some being selec

[2015-09-28 19:36] shaurya947 commented on #1747
@yulric not as of today it seems.

If you look at `date-picker-dialog.jsx` [L78](https://github.com/callemall/material-ui/blob/master/src/date-picker/date-picker-dialog.jsx#L78), the `width` key of the `dialogContent` style is hardcoded. I tried overriding this using inline styles for my `DatePicker` but it doesn't work.

[This line](https://github.com/callemall/material-ui/blob/master/src/date-pi

[2015-09-28 19:45] matthewoates commented on #1739
[code]

I agree adding every css property explicitly to the theme file is not maintainable. Can't you just use `mergeAndPrefix()`, and have that override the default component styles?

If this change is made though, the theme file becomes a lot like the css/less this library has just moved away from.

[2015-09-28 20:17] yulric commented on #1747
So what I wanted to change was the TextField which when clicked shows the DatePicker specifically I wanted to change the TextField to be half the width of the parent container which I just figured out is what the textFieldStyle prop is for, sorry about that.

But yeah the inline styling thing is a little bit of an annoyance right now mainly because not all of the elements style prop have been setu

[2015-09-28 20:24] shaurya947 commented on #1747
Ah I misunderstood you. Sorry about that, but I'm glad you're able to do what you wanted.

Well, if you modify an inline style such that it can now be overridden, then I'm sure more people can benefit from it. So yeah, feel free to contribute!

[2015-09-28 20:24] #1747 closed

[2015-09-28 20:43] shaurya947 commented on #1749
@mtw17 if you look at the `_createRows()` function inside `table-body.jsx` [here](https://github.com/callemall/material-ui/blob/master/src/table/table-body.jsx#L85), you will notice that in the `cloneElement()` call towards the bottom of the function, a bunch of `props` are passed to each child (table row).

When you use a custom element as a direct child of `TableBody`, your custom element receiv

[2015-09-28 20:56] mtw17 commented on #1749
@shaurya947 Thank you for the reply! How can I pass these props to the children of the custom element?

Trying `<TableRow rowNumber={this.props.rowNumber} onCellClick={this.props.onCellClick} onCellHover={this.props.onCellHover} onRowClick={this.props.onRowClick} onRowHover={this.props.onRowHover} selected={this.props.selected}>` doesn't seem to get the job done.

[2015-09-28 21:02] shaurya947 commented on #1749
Looking into it. @oliviertassinari you got any input?

[2015-09-28 21:11] oliviertassinari commented on #1749
I would say this is link to this https://github.com/callemall/material-ui/blob/master/src/table/table-body.jsx#L86

[2015-09-28 21:15] mtw17 commented on #1749
If this is not presumptuous, I think such a feature would be quite useful as many developers utilize dynamically-created tables.

[2015-09-28 21:16] oliviertassinari commented on #1749
Yeah, or to use https://github.com/orgsync/react-list

[2015-09-28 21:18] shaurya947 commented on #1749
I'm debugging with React Developer tools on chrome and this is what I see:

![screen shot 2015-09-28 at 4 13 03 pm](https://cloud.githubusercontent.com/assets/3454081/10148898/cc12a38a-65fb-11e5-89e5-103e4df1def7.png)

Introducing this **additional level** could lead to some complications with this line: https://github.com/callemall/material-ui/blob/master/src/table/table-body.jsx#L113

@mtw17 at

[2015-09-29 05:29] rkstar opened #1754 "how does thememanager in 0.12.x work with meteor?"
i posted a comment on an [issue](https://github.com/meteor/react-packages/issues/111) in the [react-packages](https://github.com/meteor/react-packages) repo, but i'm mentioning it here as well because i think i'm at the point where this is a problem i'm having with the new **ThemeManager** setup.

any help is appreciated.

[2015-09-29 08:23] vatanbytyqi commented on #1745
Hi,

I'm running on windows 10 and it does not work as it shows in your gif.
My version of chrome has also an 'm' at the end:
45.0.2454.101 m

I'm able to change the slider by clicking on the position of the bar where the value should be set. This only works if I don't start draging the slider at first but directly clicking on the bar. If I drag the slider then I'm not able to click on the bar to

[2015-09-29 09:26] timuric commented on #1531
#1755

[2015-09-29 09:38] lgollut opened #1756 "[SelectField] selectFieldRoot Prop Validation"
Validation for selectFieldRoot prop is currently defined as string. I think it should be object.

[2015-09-29 11:57] yulric commented on #1738
Yeah I'm seeing this also, I'll take a look at it and try to see what's happening.

[2015-09-29 12:15] timarney commented on #1748
#1467 works for the width.  I'm also looking to so max out the height.

I tried

`contentStyle={{width: "100%", maxWidth: "none",height:"100%",maxHeight:"100%"}}`

I also tried

`contentStyle={{width: "100%", maxWidth: "none",height:"2000",maxHeight:"2000"}}` //set to a high number for testing

Roughly something like this:
https://www.google.com/design/spec/components/dialogs.html#dialogs-full-scr

[2015-09-29 12:25] janesconference commented on #1517
+1

[2015-09-29 13:50] timuric opened #1759 "Missing style props"
Some components are missing `style` property, even though they do have it documented.

http://material-ui.com/#/components/switches
https://github.com/callemall/material-ui/blob/master/src/checkbox.jsx#L31
https://github.com/callemall/material-ui/blob/master/src/toggle.jsx#L17
https://github.com/callemall/material-ui/blob/master/src/radio-button.jsx#L42

Are these properties intently excluded, or

[2015-09-29 13:51] quanglam2807 opened #1760 "alternateTextColor should not be used for background"
I tried to customize darkTheme to change the text and icon of AppBar, Button, etc from black to white. But if I change alternateTextColor, it will also affect the background of Paper, LeftNav, etc. I think we should have 2 different variables in this case as the text of AppBar or Button can be black or white (according to Google Design guidelines).

[2015-09-29 13:58] izziaraffaele commented on #1737
I think it's something related with the default dialogDate set on the datepicker getInitialState(). Using minDate when available instead of new Date() solves the problem but I don't know if it breaks other stuff.

[code]

[2015-09-29 14:00] izziaraffaele commented on #1738
It might be related with #1737

[2015-09-29 14:36] Xanatos38 commented on #1311
I have the same issue.

[2015-09-29 14:55] shaurya947 commented on #1760
@quanglam2807 I think I agree.

The key in the raw theme was originally called `canvasColor` but when I realized it was being used for text in a lot of places, I decided to rename it to `alternateTextColor` and to use that instead.

Yes we should have 2 different variables: `alternateTextColor` and `canvasColor`, and you could make sure that wherever background color is used, it goes to `canvasCol

[2015-09-29 15:03] shaurya947 commented on #1754
@rkstar I'm not familiar with meteor, but do you have any code sample (proof of concept) that we could look at to see how it works with the new `ThemeManager` stuff?

@oliviertassinari @hai-cea any ideas guys? Saw @mbrookes comment on #331. Maybe he has an idea?

[2015-09-29 15:04] shaurya947 commented on #1745
@vatanbytyqi I see. I'm running Mac OS so I'll have to check this out on a Windows machine.

[2015-09-29 15:11] shaurya947 commented on #1756
@lgollut because of the way it's used [here](https://github.com/callemall/material-ui/blob/master/src/select-field.jsx#L158), I think I agree with you. PR welcome :)

[2015-09-29 15:51] muloka commented on #1030
:+1:

[2015-09-29 15:55] yulric opened #1761 "[DropDownMenu] buggy value prop check"
Hi there,
When I use a SelectField component it looks like the value prop is ignored and the selectedIndex prop is used to set the DropdownMenu text. If this is the default functionality then the docs need to be updated.

Thanks,
Yulric

[2015-09-29 15:56] shaurya947 commented on #1748
@timarney see the screenshot below:
![screen shot 2015-09-29 at 10 39 26 am](https://cloud.githubusercontent.com/assets/3454081/10169819/779b4058-6698-11e5-8b1f-0e3c3d029df3.png)

Dialogs will expand according to the size of the content. As for manually setting the height to the entire screen, I haven't yet found a way to do so *without* modifying the source. I wouldn't recommend this but you can

[2015-09-29 16:09] shaurya947 commented on #1759
@timuric the inline `style` property can be used for any element, regardless of whether or not it is explicitly specified in the `propTypes` or in the component itself.

For example, in the `checkbox.jsx` file, the `style` prop gets passed on to the underlying `EnhancedSwitch` in the `other` key: https://github.com/callemall/material-ui/blob/master/src/checkbox.jsx#L173

The other components you m

[2015-09-29 16:11] timuric commented on #1759
@shaurya947 Ah I see, thanks!

[2015-09-29 16:11] #1759 closed

[2015-09-29 16:18] shaurya947 commented on #1761
I think you're right @yulric. The `value` prop means anything only for the `text-field` component it seems. Would you like to write a PR to update the docs?

[2015-09-29 16:21] yulric commented on #1761
Actually, sorry it's just a bug in the code. If you look at https://github.com/callemall/material-ui/blob/master/src/drop-down-menu.jsx#L185, we don't check if it is defined meaning that if we pass a value prop with a value of 0 (which is what I was doing) then it then doesn't go through the code which sets the value of selectedIndex, which is why I assumed that the value prop wasn't working. Sorr

[2015-09-29 16:24] shaurya947 commented on #1761
Ah I missed that too. If `0` is a valid value then perhaps we should modify the `if` check there?

[2015-09-29 16:26] yulric commented on #1761
yeah I think it should be
[code]

[2015-09-29 16:31] shaurya947 commented on #1761
PR welcome! :-)

[2015-09-29 16:32] mbrookes commented on #1754
Sorry, I'm using via [izzilab:material-ui](https://github.com/mrphu3074/react-material-ui) which is still at 0.11.0. @mrphu3074 is looking at 0.12.1 before updating given the breaking changes: https://github.com/mrphu3074/react-material-ui/issues/15.

[2015-09-29 16:32] yulric commented on #1761
Cool, I'll get one in by tonight I think.

[2015-09-29 17:27] rkstar commented on #1754
@shaurya947 i was able to figure out the new thememanager setup, but i'm getting errors and problems with matching up versions of react and react-tap-event-plugin

i've added issues linked to the different commits of code here:
https://github.com/rkstar/meteor-material-ui-example/issues

[2015-09-29 17:49] shaurya947 commented on #1754
@rkstar support for 0.14-rc1 is still a work in progress. We created a different branch (`react-0.14-support`) for it and should have something here soon hopefully.

Have you tried it with v0.12.1 of Material-UI and v0.13.3 of React?

[2015-09-29 18:03] rkstar commented on #1754
yes, that's the first commit there.  the one that uses "meteor/react-packages" is using 0.13.3

[2015-09-29 18:04] mbrookes commented on #1754
For kicks and giggles I installed Material-UI 0.12.1 via meteorhacks:npm  & cosmos:browserify, and I don't seem to have a problem with react-tap-event-plugin.

I did have to add a require for it to app.browserify.js, which is a bit odd, as I didn't have to add it packages.json. Maybe Material-UI is pulling it down as a dependancy. I'm using react via the official Meteor package if that make a diff

[2015-09-29 18:09] rkstar commented on #1754
@mbrookes can you give a code snip?  when i remove the `react-tap-event-plugin` from `packages.json` but leave my `app.browserify.js` file in tact, i get this:

[code]

[2015-09-29 18:12] rkstar commented on #1754
@mbrookes here is how i got the ThemeManager to work:
https://github.com/rkstar/meteor-material-ui-example/blob/master/client/mat.jsx

and yes, the docs for that are non-existent.  i had to look through the code to figure it out.

[2015-09-29 18:26] mcevskb commented on #1754
Docs about theme manager http://material-ui.com/#/customization/themes

[code]

[2015-09-29 18:27] mbrookes commented on #1754
@rkstar Thanks, I'll take a look.

Looking at https://github.com/rkstar/meteor-material-ui-example/issues/1, do you have `"externalify": "0.1.0"` in packages.json?

And:

[code]

in lib/app.browserify.options.json?

[2015-09-29 18:33] mbrookes commented on #1754
@mcevskb - that (sort of) documents how to use a custom theme, but neither the README nor the docs describe how to use the built in themes as far as I can tell. And the docs refer you to the release notes, which refer you back to the docs.

[2015-09-29 18:45] mbrookes commented on #1754
@rkstar, that worked for me, thanks:

[code]

[2015-09-29 18:49] CezarLuiz0 opened #1763 "[Table] Table with big big width"
Hi guys, I'm using the `<Table>` component, but it's render with large width.

![captura de tela 2015-09-29 as 15 46 36](https://cloud.githubusercontent.com/assets/954889/10174705/9284cba4-66c1-11e5-8a3e-ea200c1db54e.png)

My code:

[code]

Any idea?

[2015-09-29 19:04] #1756 closed

[2015-09-29 19:13] coffenbacher commented on #1494
I think it's for this reason:
   https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750

I'm trying to figure out how to deal with this appropriately myself...

[2015-09-29 20:31] shaurya947 commented on #1030
We're getting there, folks! See #1751. At this point a little more work is needed to upgrade to the new `react-router` api.

I would recommend trying out the `react-0.14-support` branch and reporting any issues with the [React0.14] prefix in the title

[2015-09-29 20:42] shaurya947 commented on #1261
@mbrookes since *this* issue has been resolved, closing this. If the problem with Safari still persists, feel free to open a new one.

[2015-09-29 21:09] coffenbacher commented on #1637
I agree with this - it's a really awkward delay! If I use a regular checkbox my UI feels much more responsive.

[2015-09-29 21:28] justjacksonn commented on #1030
Great to hear! Look forward to a final version. I have been working with
Redux, React, react-router, and so far its a pretty nice way to go. Look
forward to incorporating Material UI in to this.

On Tue, Sep 29, 2015 at 1:31 PM, Shaurya Arora <notifications@github.com>
wrote:

[2015-09-29 21:31] carlitux commented on #1030
Cool! I will be putting issues if there is anything...

[2015-09-29 21:46] seb0zz commented on #1737
+1 for fixing this

[2015-09-29 21:48] seb0zz commented on #1738
+1

[2015-09-29 21:50] ansgarm commented on #1738
+1

[2015-09-29 21:58] mbrookes commented on #1261
@shaurya947 - no worries. I've updated to 0.12.2, and I'm seeing other problems, so I'll open a new issue if still I'm still seeing them once I've tested in isolation from my app code.

[2015-09-30 00:51] rkstar commented on #1754
i've posted a more extensive response and solution to the problem in https://github.com/mrphu3074/react-material-ui/issues/15

[2015-09-30 00:51] #1754 closed

[2015-09-30 01:00] yulric commented on #1761
Fixed in PR #1768

[2015-09-30 01:28] timarney commented on #1748
Okay good to know.

Looks like I can set the container position by passing in paddingTop + turning off repositionOnUpdate
https://github.com/callemall/material-ui/blob/master/src/dialog.jsx#L364

Based on your screen any idea what pushes the 'white' part of the Dialog down i.e. not covering the menu?

[2015-09-30 02:56] yulric commented on #1738
So I believe the problem is with the following lines of code https://github.com/callemall/material-ui/blob/master/src/date-picker/calendar.jsx#L263-L264.

The prevMonth and nextMonth fields decide if the buttons next to the current month are enabled or not. If you use this.state.selectedDate then when the selectedDate is before the minDate the prev month button is always disabled. If you use dialo

[2015-09-30 02:57] timarney commented on #1748
Found it ... I can move it up by passing a negative number for top.

I should be able to get working now.

Thanks for the help.

[2015-09-30 02:57] #1748 closed

[2015-09-30 03:06] yulric commented on #1737
These lines here decide if the OK button is disabled or not https://github.com/callemall/material-ui/blob/master/src/date-picker/calendar-month.jsx#L55-L62.

The problem is that the value of this._selectedDateDisabled gets recalculated only if when rendering the day view for the same day as the currently selected date. So say you follow the steps:
1.You select a date,
2. Close the date picker,
3.

[2015-09-30 04:02] tzuryby opened #1769 "`npm install material-ui` failed on ubuntu 12.04.5 LTS"
[code]

[2015-09-30 08:22] bdefore commented on #1712
+1 for the update to 0.14!

[2015-09-30 08:33] mbrookes commented on #1754
I'd like to think it was a team effort. :)

[2015-09-30 09:42] moritzmann commented on #1738
+1

[2015-09-30 10:24] izziaraffaele commented on #1738
Having a fast look at the code I think you should use displayDate if that is the piece of code that controls the month picker.

For what I can understand displayDate is the first day of the current displayed month so calculating the difference with the minDate you can understand if there are other pages to display after/before the current page.

[2015-09-30 13:19] yulric commented on #1738
sorry displayDate is right, I don't know why I said dialogDate

[2015-09-30 14:44] rwoody commented on #1641
Ran into this issue as well trying to use the DatePicker within a `position: fixed` container (also a right sidebar :p)

[2015-09-30 15:14] shaurya947 commented on #1748
:+1:

[2015-09-30 15:15] shaurya947 commented on #1737
Anybody wanna take a shot at fixing this?

[2015-09-30 15:18] shaurya947 commented on #1769
People on [StackOverflow](http://stackoverflow.com/questions/12913141/message-failed-to-fetch-from-registry-while-trying-to-install-any-module) recommend updating node and npm. I see you're running node v0.6.x and npm v1.1.x which is pretty old. Maybe try again after updating node and npm?

[2015-09-30 15:20] NogsMPLS opened #1772 "[Documentation] Local Dev Server Broken"
The dev server for documentation does not work on a Windows 7 machine. I have not test on Linux/Mac.

I have the latest from master, and I have followed the directions in the docs readme and the dev server doesn't work correctly. I believe the issue stems from 2 configurations in the webpack-dev-server.config.js file.

* Currently the devServer config is set to this:
[code]

I believe the contentB

[2015-09-30 15:20] yulric commented on #1737
I can do it once I'm done with issue #1738 if nobody has started working on it

[2015-09-30 15:22] TrySpace opened #1773 "[LeftNav] selectedIndex with changing or dynamic menuItems"
I'm having a `selectedPage` state passed through a few children down to a `<LeftNav />` component, but I don't want to store this as a numeric value, but a one of the `route` properties of `menuItems`.
Mainly because the `LeftNav` items can change a lot, and right now there's no way to uniquely identify the menuItems.

It would be nice if there could be a way to assign a `value` like in `<Tabs />`

[2015-09-30 15:26] shaurya947 commented on #1712
Does the code from the `react-0.14-support` branch help you guys? Of course, it'll be a while before it is pushed to npm.

[2015-09-30 15:34] shaurya947 commented on #1754
:+1:

[2015-09-30 15:42] shaurya947 commented on #1738
:+1: @yulric looking forward to the fix

[2015-09-30 15:49] bdefore commented on #1712
I tried adding it to package.json as `"material-ui": "git@github.com:callemall/material-ui.git#react-0.14-support"` and that did allow `npm install` to go through in my project. But then I discovered that my imports couldn't find `material-ui` and I believe that's because I'd need to manually build material-ui in my node-modules. Unfortunately, running `npm i` in there it gives me linting errors:

[2015-09-30 15:49] shaurya947 commented on #1772
@NogsMPLS I couldn't agree more. We definitely need to put more effort on the Windows side.

I think I have seen somebody else also mention the code fragment that you wrote above. I can confirm that changing `contentBase` to `src/www` works in MacOS.

Do you wanna submit a PR with the fix? :)

[2015-09-30 15:51] shaurya947 commented on #1773
What do you guys think @hai-cea @cgestes @oliviertassinari ?

[2015-09-30 15:53] bdefore commented on #1712
If I comment out all the pipes to eslint in the `gulpfile.js` and run npm run build it appears to work for me. I also had to take out an instance in my code where I was using `mui.Styles.ThemeManager();` .. this helps me move on for now, thanks @shaurya947

[2015-09-30 15:57] shaurya947 commented on #1712
@bdefore glad you could get this through. I'm not sure which ESLint rule (if any) applies to the linting error you had.

As for the `ThemeManager` stuff, all that has changed! See [here](https://github.com/callemall/material-ui/pull/1662) and [here](http://material-ui.com/#/customization/themes)

[2015-09-30 15:58] NogsMPLS commented on #1772
Sure, I think I might have an idea how to make it all work smoothly for both dev and prd...Give me a few hours.

[2015-09-30 15:59] shaurya947 commented on #1772
:+1: @NogsMPLS

[2015-09-30 16:10] rkstar commented on #1754
what @mbrookes said

[2015-09-30 16:18] shaurya947 commented on #1773
@TrySpace I had a chance to discuss this with @hai-cea offline and I think we generally agree with your idea. Making LeftNav composable is part of the Composable Components milestone and we just gotta wait a little till we get to it (unless you wanna take a shot of course ;) )

I think it would also help to understand this more if you could link to your code to support your explanation.

[2015-09-30 16:26] NogsMPLS commented on #1772
Submitted https://github.com/callemall/material-ui/pull/1774 to hopefully close this

[2015-09-30 16:46] yaycmyk commented on #1569
@shaurya947 Done https://github.com/callemall/material-ui/pull/1775

[2015-09-30 16:53] #1772 closed

[2015-09-30 19:48] shaurya947 opened #1776 "[Theme] inconsistencies w.r.t Material Design"
The current raw themes and `theme-manager` are not totally consistent with [Material Design Color recommendations](https://www.google.com/design/spec/style/color.html#color-ui-color-application).

Some color choices and corresponding assignments in `theme-manager` need to be re-thought to adhere to Material Design guidelines.

[2015-09-30 20:42] duncandrennan commented on #1745
I'm running Windows 7, Chrome Version 45.0.2454.101 m, and the sliders on the material-ui.com website (or in my own app) don't work for me either. I did figure out that this appears to be related to the slider beacon animation. If I wait until the "pulse" of the beacon is finished, then click at a point on the slider it moves. Click and hold never works (the animation is always midway, while holdi

[2015-09-30 20:53] #1763 closed

[2015-09-30 21:08] shaurya947 commented on #1371
@jjalonso yes:

- you can either override specific styles for the `AppBar` in your `muiTheme` object returned from `ThemeManager` **OR**
- you can define a new theme and pass it to your custom component (that renders the app bar)

See new theming documentation [here](http://material-ui.com/#/customization/themes) and more on the theming API [here](https://github.com/callemall/material-ui/pull/1662

[2015-09-30 21:10] #1760 closed

[2015-09-30 21:48] shaurya947 commented on #773
I've decided to work a new appbar component that addresses this milestone. I'll be following the Material design [guidelines for appbar](https://www.google.com/design/spec/layout/structure.html#structure-app-bar) mostly. I have always tried to address issues filed with the [AppBar] prefix. I wanted to share some of my initial ideas here and see what you guys think:

- For most props, if they're no

[2015-09-30 21:50] hai-cea commented on #773
@shaurya947 Sounds good to me - children should just be rendered inside the container element to provide some customization flexibility.

[2015-09-30 22:18] oliviertassinari commented on #773
Regarding composability my approach would be to have multiples AppBar component. At least one for the container, one for elements at the left and the right. Would be close to what IconMenu is or the tooltip.

I feel link you approach is close to what the ItemList is right now. We have seen the limitation of the long list of props of the ListItem. It's more restrictive, give you less freedoom

[2015-10-01 04:02] bmanturner commented on #413
+1

[2015-10-01 05:34] zulkamal commented on #1316
I have weird variation of this issue where this only happens in Chrome iOS.

In my case, a text field below the dropdown is selected when a menu item in the dropdown is selected.

[2015-10-01 07:26] #829 closed

[2015-10-01 08:23] seb0zz commented on #1563
Any update on this?

[2015-10-01 08:24] ceichinger commented on #1563
+1

[2015-10-01 08:32] majodev commented on #1563
I'm currently "preventing" it by refusing the `_handleMouseDown(e)` handler to execute while running in a touch environment (cordova) (see https://github.com/callemall/material-ui/blob/master/src/ripples/touch-ripple.jsx#L111). However, this might have some serious side effects...

[2015-10-01 08:34] quanglam2807 commented on #773
@oliviertassinari :+1: Thank you for your support!!! :100:
@shaurya947 For the appbar, actually, I've worked on it but I had to delay 'cause I was quite busy. You can check it at https://github.com/quanglam2807/material-ui/tree/app-bar
My approach was similar to `Toolbar`: when you put a component in `Toolbar` or `AppBar`, it will have special style elements. With this approach, with a few customi

[2015-10-01 08:48] jjalonso commented on #1371
But change all inputs. I only wanted to the one inside my appbar.
On 30 Sep 2015 10:08 pm, "Shaurya Arora" <notifications@github.com> wrote:

[2015-10-01 08:49] seb0zz commented on #1563
Ah, yeah this seems to work. Thanks!

[2015-10-01 09:37] duncandrennan commented on #1745
I've been looking at this some more and observed the following:

If I try to drag the slider then the containing <body> tag gets a class="react-draggable-dragging" which does not go away after releasing the control. If I drag again, then it adds another "react-draggable-dragging", i.e. DOM shows,

[code]

If I refresh and start again then click and hold (without actually dragging) and then release

[2015-10-01 09:37] quanglam2807 commented on #1563
+1

[2015-10-01 10:55] vatanbytyqi opened #1779 "Method on TextField component gives error that it is not a function"
When I try to call a method on a TextField component I get the error that the method (getValue) is not a function in my object. The following code is an example:

    render() {
        let searchField = <TextField hintText="Search" />;
        return(
           <div>
                {searchField}
                {console.log(searchField.getValue())
           </div>
        );
    }

I get the s

[2015-10-01 12:55] ceichinger commented on #1740
+1

also on smaller devices like iphone4 action buttons are outside viewport.

[2015-10-01 14:50] bdefore commented on #1712
In case anyone else is down this path, I ended up hitting a wall. The current state of `react-0.14-support` is not quite ready yet, I can get it to compile and partially style, but still get runtime errors about `refs` being on a parent instead of an owner. I think I saw an issue filed about that somewhere. I think I'll hold off for now.

[2015-10-01 14:59] cgestes commented on #1712
@bdefore I get this error when using react 0.13.  did you cleaned you node_modules folders before trying the branch?

[2015-10-01 15:19] shaurya947 commented on #1779
One possible way to do this is using `ref`s, but you have to do it outside the render method like so:

[code]

[2015-10-01 15:39] bdefore commented on #1712
@cgestes I've reproduced the refs related error. There's nothing in my code that is using refs. Per the help documentation referenced, it recommends ensuring I don't have mismatching React versions in play, so I've done an npm list for both my root and the material_ui I've build in node_modules: https://gist.github.com/bdefore/a05d3a8254c6dc9ecb8a

[2015-10-01 16:15] shaurya947 commented on #773
I agree guys, instead of using props, it would be nicer to have sub-components for each section of the appBar.

I will work out an initial prototype soon and share it with y'all.

[2015-10-01 16:41] shaurya947 commented on #773
More on this:

If you think about it, AppBar really has 4 sections (from left to right):

- `navIcon`
- `container`
- `actionsIcons`
- `menuIcon`

If we're creating sub-components for each of these sections, I see two approaches:

- create a new sub-component for each of the sections above **OR**
- create a single generic sub-component and have a `type` prop to specify the section of the appbar

I

[2015-10-01 16:54] quanglam2807 commented on #773
Nice works, @shaurya947. I think having a generic sub-component is the best choice as it's in parallel with `Toolbar` component. But do you think it's better if we only have 3 types: left, center and right?

[2015-10-01 17:06] shaurya947 commented on #773
@quanglam2807:

- `navIcon` --> `left`
- `container` --> `center`
- `actionIcons` + `menuIcon` --> `right`

Only reason I would prefer 4 types (2 sub-types for the right side) is so that we can handle the layout of actions icons and the menu icon internally (as per Material Design guidelines) without the user having to worry about it.

Also, going back to your first comment on this issue, we could

[2015-10-01 17:32] oliviertassinari commented on #773
Agree. From my point of view, the main interest of the AppBar component is to render existing component like Paper, Icon, IconMenu, into something meaningfull.

[2015-10-01 17:41] shaurya947 commented on #773
Here's some skeletal code:

[code]

I'm using `pos` in the functions to determine the index of the appropriate node from the `if` condition (without having to iterate through the children). This restricts a specific order to specify the children components: `navIcon` -> `container` -> `actionIcons` -> `menuIcon` -- this makes sense logical sense to me. Of course, any child component may be overrid

[2015-10-01 17:57] duncandrennan commented on #1745
The onDrag event of the slider is not firing. That means it never actually hits the _onDragUpdate event resulting in no changes. After dragging and releasing it never hits _onDragStop. Clicking and holding, then releasing (no dragging movement) causes _onDragStop to fire correctly, which correctly resets the state of the slider.

Not too sure why that isn't firing, but looking at the demo of react

[2015-10-01 18:21] sjstebbins commented on #1511
@jkruder @zachguo I have implemented infinite scrolling as a prop on my table and will submit a PR for this soon. Thanks

[2015-10-01 18:47] oliviertassinari commented on #1745
What do you think about using https://github.com/orgsync/react-list for the infinit scroll?

[2015-10-01 18:47] oliviertassinari commented on #1511
What do you think about using https://github.com/orgsync/react-list for the infinit scroll?

[2015-10-01 20:05] amagdas commented on #1030
Any news on a release date for React 0.14 support?

[2015-10-01 20:11] vatanbytyqi commented on #1779
I see, thanks I believe I wasn't thinking correctly regarding the react principles where I tried to call a method directly instead of using state updates.

I have another problem now which is related to my initial question but probably isn't a material-ui but more of a react issue but hope you can answer it anyway.

I have a TextField and an IconButton in a component that I'm going to use as a sea

[2015-10-01 21:16] shaurya947 commented on #1030
@amagdas are you aware of the `react-0.14-support` branch? It's an ongoing effort. Feel free to test it out and report any issues with the [React0.14] prefix

[2015-10-01 21:22] shaurya947 commented on #1779
Try `onTouchTap` instead of `onClick`

[2015-10-01 21:59] shaurya947 commented on #773
Here's an initial prototype: https://github.com/shaurya947/material-ui/blob/new-app-bar/src/app-bar-new.jsx

that's how you would use it: https://github.com/shaurya947/material-ui/blob/new-app-bar/docs/src/app/components/pages/components/app-bar.jsx#L140

What do you guys think? @quanglam2807 @oliviertassinari @hai-cea

[2015-10-01 22:27] cgestes opened #1782 "React 0.14 - TaskList"
What need to be done to support react-0.14 on the react-0.14-support branch.

- [X] React.findDOMNode -> ReactDOM.findDOMNode
- [X] require('react/addons') -> require('react-addons-*')
- [X] React-Router 1.0 support
- [X] react-draggable2 still require react 0.13 and react-addons
- [x] code highlight not working on the doc website
- [x] PR https://github.com/callemall/material-ui/issues/1866 check

[2015-10-01 22:29] cgestes commented on #1782
@oliviertassinari @shaurya947 can you add the items you think are missing if any?

thank you.

[2015-10-02 05:56] oliviertassinari commented on #1782
Yes, react-draggable2 require react v0.13. It's requering react-addons, this throw a warning

[2015-10-02 06:52] chrisgervang opened #1783 "[TableRow] [Table] [TableBody] onRowClick event doesn't work"
I've been messing with it all night to see if I can isolate the problem.

What I've come up with is it seems to fire partially, but the function call doesn't bubble up to any of the Table components.

In ```table-row.js``` the following code runs when I click a TableRowColumn:
(lines 179 to 183)
[code]

This does then call ```_onRowClick``` in ```table-row.js```:
(lines 166 to 169)
[code]

My comp

[2015-10-02 06:54] chrisgervang commented on #1783
My states:
this.state = {
      fixedHeader: false,
      selectable: true,
      enableSelectAll: false,
      displaySelectAll: false,
      adjustForCheckbox: false,
      displayRowCheckbox: false,
      showRowHover: true,
    };

[2015-10-02 06:57] chrisgervang commented on #1783
My version from NPM: "material-ui": "^0.12.1"

(I searched around the issues, but didn't find anyone with a similar thing)

[2015-10-02 07:27] chrisgervang commented on #1783
I cloned the repo, ran the docs site locally, and tried using ```onRowClick``` on the Table page in the docs. It didn't work, and behaved the same as it did in my project.

[2015-10-02 07:32] vatanbytyqi commented on #1779
It is weird because sometimes it manages to call the method. I think it is some kind of race condition when I click the button the textfield loses focus and therefor everything is rerendered (including the button) and the click event is somehow lost it that action. Is there a way to prevent this?

[2015-10-02 08:03] amagdas commented on #1030
@shaurya947 Yup, I'm aware of it, but I'm not able to install the branch using npm, trying again.
Having some sort of Readme/wiki on how to test this branch using react 0.14 would be good.

[2015-10-02 10:08] manuelmazzuola commented on #1427
The same for me, @martinhoefling's fix works :+1:

[2015-10-02 11:39] duncandrennan commented on #1745
I checked this out on a colleague's computer and it worked for him in both Chrome and Firefox on Windows 8. I also came across this issue STRML/react-grid-layout#29 about dragging not working due to touch screen detection.

I then tried forcing isTouchDevice to false in react-draggable2 and that resulted in the sliders actually working! The problem seems to lie with how react-draggable2 detects to

[2015-10-02 12:09] vatanbytyqi commented on #1745
I believe you have pinpointed the cause of the issue. My screen works as a touch screen aswell and when I use my finger the slider works :)

[2015-10-02 12:30] Webkadabra opened #1786 "Add optional `footer` for left-nav"
**UPDATE** I see there is now header option. Would be great to have footer as well. What do you think?

Currently, to add a custom footer, I do something like this:

[code]

Do you think it's possible to have `footer` options for left-nav? For example, I would like to add footer menu item that has 4 clickable links in it (twitter, facebook, github, etc.). Ir would it go against Material design gui

[2015-10-02 13:10] TrySpace commented on #1574
@chrismcv Not yet, but good tip, thanks!

[2015-10-02 15:00] clkao commented on #1030
you can either `npm link` from a clone or do `npm i 'git://github.com/callemall/material-ui#react-0.14-support'` in your project.

[2015-10-02 15:12] hilkeheremans commented on #42
Found the cause of this issue pretty quickly. TouchRipple listens to both onTouch and onMouse events. Problem is that Mobile Safari usually fires onMouseDown after onTouchEnd. This usually, but not always, generates two distinctly different ripples.

To prevent this, there is some logic in TouchRipple's start() function to prevent double firing of these CircleRipples, but it doesn't function well

[2015-10-02 15:15] NogsMPLS commented on #1782
Don't think hot loading is working on local docs dev server. Change is made, page refreshes with 'cannot GET' and then the route. Possible a hot-loader or a react-router issue?

[2015-10-02 15:18] shaurya947 commented on #1779
I would have to look into this more to give you a more exact answer, but to prevent re-rendering of your component, you could perform a check in `shouldComponentUpdate` -- perhaps use the `state` to perform the check. See [here](https://facebook.github.io/react/docs/component-specs.html#updating-shouldcomponentupdate).

[2015-10-02 15:53] cgestes commented on #1782
I think it's related to routes. (historyApiFallback need to be activated on
the dev server)

On Fri, Oct 2, 2015 at 5:15 PM, Nathan Smith <notifications@github.com>
wrote:

[2015-10-02 15:56] justjacksonn commented on #1030
To be clear you need to do the npm install in the node_modules directory
not the root of your directory
On Oct 2, 2015 08:01, "Chia-liang Kao" <notifications@github.com> wrote:

[2015-10-02 17:41] shaurya947 commented on #1030
@amagdas this branch is not up on npm yet as it still has some issues and is a work in progress.

You can either do what @clkao said, or, after cloning the repository on your machine, switch to the `react-0.14-support` branch using `git checkout react-0.14-support`.

After that when you run `npm i` in the root directory, all source files get compiled into the `lib` folder. You can then use this li

[2015-10-02 17:56] quanglam2807 commented on #773
@shaurya947 Nicely done! I prefer 3 types but if you think 4 types fit Material Design better, it's perfectly fine for me :dancer:

[2015-10-02 17:59] amagdas commented on #1030
Yup, done this and it works, will give feedback.

[2015-10-02 18:28] shaurya947 commented on #1782
Yep, confirming the issue that @NogsMPLS reported.

[2015-10-02 18:52] hackingbeauty opened #1787 "Left Nav Routes and event handlers"
Hi, I'm trying to specify an action when a user clicks on an item in the LeftNav component; however, nothing is happening.

How do I attach behavior to a link in the LeftNav?

[code]

[2015-10-02 19:05] skosch opened #1788 "[react-0.14] Can't use Dialog component (Invariant Violation: ReactTransitionGroup.render())"
I'm trying to use the 0.14 branch (downloaded, manually transpiled via `npm i`, and used in a large Meteor/Webpack project) and I'd like to use the Dialog component (for now).

I get the following error:
[code]

It seems that the library is there alright; I can display `FlatButtons` without trouble, for example (although clicking on them throws a `TypeError: Cannot read property 'firstChild' of un

[2015-10-02 19:35] hai-cea commented on #1524
@mhahn Since you're creating the `leftAvatar` element, you should be able to style it as you wish. List item will honer the styles applied to those props. For example:

[code]

[2015-10-02 19:41] shaurya947 commented on #1787
@hackingbeauty you have defined an `onChange` function right? If you haven't, that's what you need. Here's an example:

[code]

Of course, you need to set up React router and define the routes. Here's a [basic example](http://jmfurlott.com/tutorial-setting-up-a-single-page-react-web-app-with-react-router-and-webpack/) on how to do so. You can also look at how routing is done in the source code for

[2015-10-02 19:44] hai-cea commented on #1526
@mhahn `ListItem` text has a `PropType` of `node` so you can just style them yourself like this:

[code]

[2015-10-02 19:44] shaurya947 commented on #1788
@skosch the react-0.14-support branch is a work in progress as we iron out compatibility issues with React 0.14.

If your project doesn't need the latest version of React, I would suggest trying out the `master` branch with React 0.13.3

[2015-10-02 19:55] skosch commented on #1788
Yep :) Someone suggested elsewhere that we submit tagged issues for the 0.14 branch. I'm stuck with 0.14-rc1 unfortunately.

[2015-10-02 19:59] shaurya947 commented on #1788
That someone might have been with me. Yes please, keep 'em issues coming (till there are no more hopefully). Thanks @skosch :-)

[2015-10-02 20:53] paglias opened #1789 "Material Design Typography"
I've just discovered this library and I'm trying to understand how should I implement material styled typography for elements like `<p> <span> <h1> h2>....`. In particular regarding font, font size, colors...

Should I load another material design css library just for this?

[2015-10-02 21:03] mhahn commented on #1526
ah cool, thanks @hai-cea

[2015-10-02 21:03] #1526 closed

[2015-10-03 06:36] TCMiranda commented on #689
I just want to share a related issue, which held me some time...

So... `React.cloneElement` breaks the context while on 0.13

If so, react will warn you that owner-based and parent-based contexts differ.

https://github.com/facebook/react/issues/4008

[2015-10-03 07:13] chaddjohnson commented on #1712
I'm just starting out with React and wanted to use Material UI. So I'm not sure this is helpful, but here's what I ended up installing, and it resulted in no conflicts...

react@^0.13
fbjs@^0.2.1
react-tap-event-plugin@^0.1.7
react-dom@^0.14.0-rc1
material-ui

Obviously I'm using React 0.13 instead of 0.14.

[2015-10-03 09:52] BenNG opened #1791 "[LeftNav] with icons"
Hi!
I think It could be great to add more controls on what we can define in the json's menuItems.
More accurately I was thinking about adding an icon (left or right) per item

In a way to be closer to how `menu` works.

thanks and thanks for your huge work :)

[2015-10-03 10:10] hilkeheremans commented on #1373
Also the case for Toggles. They seem to rely on onChange events, which can get fired slowly (300ms delay) on mobile devices.

[2015-10-03 13:25] dwoodlock opened #1792 "AppBar scrolls off the page"
Hi there,
According to your description of AppBar: "App bars are a collection of components placed as a static header for an application", I was thinking that the AppBar wouldn't scroll off the page when you put a long list below it, let's say.  But it does.  See this example if you'd like: http://www.donwoodlock.com/TextDon/index.html

Is there a property I should set to keep it fixed on top?  Or

[2015-10-03 15:32] quadrupleslap commented on #1792
This, and for tabs too.

[2015-10-03 15:53] zivl opened #1793 "module naming convention is not intuitive"
when using ES6 `import` or NPM `require` for loading modules, naming convention is not intuitive as you expect to.

For example:
Instead of:
[code]
I would rather import it as follows:
[code]

See the difference? the modules I'm importing has the same name of the component's name as in the documentation site (http://material-ui.com/#/components/left-nav).

I know it might cause a little backward c

[2015-10-03 18:21] oliviertassinari opened #1794 "Investigate babel-plugin-react-autoprefix"
[babel-plugin-react-autoprefix](https://github.com/UXtemple/babel-plugin-react-autoprefix) looks like a good alternative to the way we are currently handling autoprefix.

I know that our current solution has some issues with flex-box for instance. I'm curious to this if we can solve it and solve our IE-issues with this babel transform.

[2015-10-03 18:34] Dindaleon opened #1795 "[Dialog] How to override padding"
I was able to override the absolute style; however, I cannot override the padding or padding top style on this component.

[2015-10-03 19:03] quanglam2807 commented on #1791
@shaurya947 It's time to make LeftNav also composable :dancer:

[2015-10-03 20:01] #1761 closed

[2015-10-03 21:10] michelank commented on #190
+1

[2015-10-04 01:01] Cavitt commented on #1782
@cgestes pr https://github.com/callemall/material-ui/pull/1790 should solve `fix remainings warning` and `react-draggable2` list items.

[2015-10-04 09:01] ericfong commented on #1660
+1

Please enable badge and icon support in tabs

[2015-10-04 10:06] the-cormoran opened #1797 "IconMenu never shows up"
I don't manage to make IconMenu works well. The menu never shows up, even with the code from the docs:
[code]
Is this a common problem or just a bad use ?

[2015-10-04 11:05] the-cormoran commented on #1797
Feel dumb, the react-tap-event-plugin was not properly included in my project.
See: http://material-ui.com/#/get-started/installation

[2015-10-04 11:05] #1797 closed

[2015-10-04 12:07] mayagamer commented on #1740
Also, all popups relate to the container dom element. For example when you click icon-menu button, the menu pops up inside the container, and if the container is very small, you will not be able to see the whole menu.

[2015-10-04 13:10] nibon commented on #1793
I saw in the documentation that this is the preferred way of importing material-ui-libs. However I import the modules, using src/index.js, in this format which sort of answers your question in this issue.

    import { AppBar, Avatar, FontIcon } from 'material-ui'

Are there any reason why I should not import using this method?

[2015-10-04 13:48] zivl commented on #1793
in this way of importing modules, you're importing the entire library. If I'm not mistaken, when packaging using `jspm` or `webpack` (or whatever packaging tool out there...) - you also package unused modules, which may cause your `bundle.js` to become bigger than needed, especially when using fewer modules of a specific library.

Hence, when importing file-by-file, the packaging mechanism takes o

[2015-10-04 17:18] nibon commented on #1793
Yeah, just created a small test project (gulp/browserify) to check myself and you are correct. The size differed a couple of hundred kilobytes when only importing RaisedButton. In that case I support the proposition in this issue.

[2015-10-05 01:35] BUNNIEHSIEH commented on #1712
I got this problem

npm ERR! Darwin 14.5.0
npm ERR! argv "/opt/local/bin/node" "/opt/local/bin/npm" "install" "material-ui" "--save"
npm ERR! node v0.12.7
npm ERR! npm  v2.14.3
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package react@0.14.0-rc1 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer react-tap-event-plugin@0.1.8 wants react@^0.14.0-0 || ~0.

[2015-10-05 01:56] matthewoates opened #1798 "Click animation but no reaction on one side for radio buttons"
You must have selected the radio button before for the animation to show, but not to register as a click.

From http://material-ui.com/#/components/switches as of today. Presumably v0.12.1.

I can write up repro steps, but due to the visual nature I think a video is much better:
https://dl.dropboxusercontent.com/u/19969663/bad_click_area.mov

[2015-10-05 02:06] matthewoates commented on #1739
Marking as resolved, but pinging @hai-cea and @oliviertassinari again if they have any thoughts.

[2015-10-05 02:06] #1739 closed

[2015-10-05 04:37] nmrony opened #1799 "Can not install it via npm install. Throws Error"
While playing with React  Redux, I tried to use this package. When I run `npm install material-ui`, it throws me some errors looks like below
[code]

[2015-10-05 04:45] subjectix commented on #1799
Material-ui requires react 0.13, it looks like you have react 0.14 installed. If you want react 0.14 you have to wait a little longer for the react-0.14-support to be merged with master.

[2015-10-05 04:49] nmrony commented on #1799
@subjectix thanks... I keep my eyes on this repo. Cant wait using material-ui for my next adventure.

[2015-10-05 05:52] oliviertassinari commented on #1799
True, the `react-0.14-support` branch is still a work in progress. Still, you can try it out with npm.

[2015-10-05 06:06] oliviertassinari commented on #1739
Well, I don't think that we should be able to change the marginButton of all checkbox via the theme.
If you need to change the marginButton of all elements. I see one good option: create a higher ordre component in your project with this purpose.

[2015-10-05 15:02] #1627 closed

[2015-10-05 15:20] shaurya947 commented on #1792
@dwoodlock although that should not have happened, before we look into it, one possible workaround might be to put `style={{position: 'fixed'}}` as an attribute to your `AppBar` component.

Let me know how that works!

[2015-10-05 15:29] shaurya947 commented on #1795
@Dindaleon if you're referring to the padding of the body of the dialog, then you can override that using the `bodyStyle` attribute of your `Dialog` component.

On the other hand, if you're referring to the padding of the dialog itself from the top of the window, see #1748. Let me know if you're not able to get it working!

[2015-10-05 15:40] mllustosa opened #1802 "Can't say if this is a issue per say, but is there a way to clear the TimePicker date?"
Hey everyone, I was wondering if I could call something like this.refs.timePicker.setTime(null) or something like this to clear the time.

Another approach I've tried was to set the defaultDate as a state variable and change it from my component, but the end result was pretty weird [as attachement].

![image](https://cloud.githubusercontent.com/assets/3597619/10285206/26436a9e-6b5e-11e5-931a-bf149

[2015-10-05 16:05] shaurya947 commented on #1791
Indeed @quanglam2807 @BenNG

Right after I'm done with AppBar :)

[2015-10-05 16:07] #190 closed

[2015-10-05 16:12] shaurya947 commented on #1660
@mullwaden I agree. Should be a quick fix. You mind submitting a PR?

[2015-10-05 16:13] shaurya947 commented on #1797
@the-cormoran no worries :+1: glad you got it working!

[2015-10-05 16:16] shaurya947 commented on #1793
@zivl there is *convention* in the current naming system, so perhaps it becomes intuitive after a couple uses. However, I don't see why we should not do the naming as you suggested.

Any thoughts @hai-cea?

[2015-10-05 16:19] shaurya947 commented on #1712
@BUNNIEHSIEH if you want to use the current stable version of Material-UI, use React 0.13.3.

If you want to check out our experimental support branch for React 0.14, get the source code from the `react-0.14-support` branch and compile it using babel. If using this branch, I would recommend updating your global npm packages.

[2015-10-05 16:22] #1799 closed

[2015-10-05 16:28] shaurya947 commented on #1627
@cyclegtx did you find a solution?

My guess is that we probably need to add new spacing values for smaller devices and use those in the theme.

[2015-10-05 16:35] tjunnone opened #1803 "Applying ThemeDecorator on a ES6 component eats my props"
ThemeDecorator appears to swallow all custom properties set on a component.

Example:
[code]

Usage:
[code]
Expected log output is "Props: Object {myProp: "foo"}", but when applying the ThemeDecorator to the component the output becomes simply "Props: Object {}".

[2015-10-05 16:46] hai-cea commented on #1793
@zivl Thanks for opening this issue. I think this change can be made in v0.13.0 which will happen in 3 weeks or so.

[2015-10-05 16:58] BenNG commented on #1791
Yay !!

[2015-10-05 17:03] mullwaden commented on #1660
https://github.com/callemall/material-ui/pull/1801

[2015-10-05 17:24] oliviertassinari commented on #1627
@shaurya947 I agree. We also need to find à solution for using the proper spacing depending on the device dimensions.

[2015-10-05 17:31] oliviertassinari commented on #1793
I like this idea too :+1:

[2015-10-05 17:37] shaurya947 commented on #1660
Merged

[2015-10-05 17:37] #1660 closed

[2015-10-05 20:19] mbrookes opened #1804 "DatePicker - bottom row of numbers cropped in Safari"
OS X 10.9.5, Safari7.1.6, and Mobile Safari on iOS 9.0.2:

<img width="321" alt="screen shot 2015-10-05 at 21 08 00" src="https://cloud.githubusercontent.com/assets/357702/10292175/afe83ea4-6ba5-11e5-9fc6-46e76fb301f9.png">

Can be seen on the Material-UI demo site.

[2015-10-05 20:21] luisrudge commented on #1566
any progress on this?

[2015-10-05 20:24] luisrudge commented on #1782
:+1:

[2015-10-05 23:57] soda29 commented on #1326
@andreimc everything has change in the universalRouter. Did you get it working with this new changes? this.state.store is not longer available (i think that came from the createTransitionHook but this no longer exists).

[2015-10-06 01:27] dwoodlock commented on #1792
That works a little bit. When you do a fixed position element as you know, the browser doesn't leave room for it.  So since I have:
<AppBar />
<List />
  the first item on the my list is hidden under the AppBar.  I'm sure I can do something that I'd rather not do like query the DOM to figure out the height of that AppBar and put a box underneath it to accommodate.  Let me know if you think that mi

[2015-10-06 01:30] ch33foong opened #1807 "Text Field setErrorText fail to update the error text."
Looking at the attached screenshot of Chrome developer console, This is the material-ui text-field source, line 116 assigned newState.errorText = nextProps.errorText;
I set a breakpoint on line 117 and print out newState in the command line (bottom of screenshot).

I would expect newState.errorText to output 'Full name is required' but it's undefined. Is this a bug in material-ui? I can't seems to

[2015-10-06 03:00] yulric commented on #1738
@shaurya947 Issues have been fixed in PR #1808  and #1796

[2015-10-06 03:12] timgws opened #1809 "[Bounty] [DatePicker] Allow selecting a date range"
Hi Everyone,

This is related to to issue #1566 (Allow selecting a date range).

I have created a new issue here to track work on a bounty that I have added on Bountysource.

Initially I have added a $10 bounty for adding the ability to select multiple days on one datepicker.

Date Picker currently only allows selecting one date. This bounty will be awarded to the developer that creates a pull req

[2015-10-06 04:07] cyclegtx commented on #1627
Custom themes seems to be helpful, but i'm not tried yet.

[2015-10-06 05:39] nickzuber opened #1810 "TypeError: new mui.Styles.ThemeManager() is not a function"
I have a simple React component here, and when I try to load this code I get an error:
[code]

This is the code that I currently have. Can anyone help figure out what might be causing this weird error?
[code]

[2015-10-06 07:05] oliviertassinari commented on #1807
There is a typo `errotText`

[2015-10-06 07:44] ch33foong commented on #1807
Silly me, thank you very much Oliver!

[2015-10-06 07:56] oliviertassinari commented on #1807
Can you close the issue?

[2015-10-06 07:58] #1807 closed

[2015-10-06 09:27] bdefore commented on #1810
ThemeManager has a new API in 0.12. you no longer use a constructor. see http://material-ui.com/#/customization/themes

[2015-10-06 09:29] bdefore commented on #1782
:+1:

[2015-10-06 10:31] SkylarPhx commented on #1583
I have the same issue even if I moved the key prop from the Checkbox element to the TableHeaderColumn.

[2015-10-06 10:41] toretto460 commented on #1344
I've the same problem. Any news?
<img width="1277" alt="screen shot 2015-10-06 at 12 37 37" src="https://cloud.githubusercontent.com/assets/1193857/10306456/668121b8-6c27-11e5-8975-1472743c3b3c.png">

[2015-10-06 12:54] tristangodfrey opened #1812 "Question: setComponentThemes equivalent in 0.12"
Hi guys, I've recently updated to material-ui 0.12 so I could utilise the updated tab components, however I'm slightly confused by the changes in the theme system. I used to be able to do this:
[code]

However this seems to have been deprecated, and I can't find any examples of setting component-specific styles. Do I have to create a custom component with inline styles in order to do this, or is t

[2015-10-06 12:54] bdefore commented on #1803
i've just encountered this as well

[2015-10-06 13:47] llcoole93 opened #1814 "Styling outside of Raw theme"

[2015-10-06 13:48] #1814 closed

[2015-10-06 13:59] bphooper opened #1815 "[Dialog] Component vertically fixed on small devices"
Got to grips with React and creating a template for future websites.  The only issue I have at the moment is when using the Dialog component on a small screen (iPhone 5 etc) and I can not get the Dialog to scroll vertically when the Dialog is bigger than the screen.

Any CSS ideas to help on scrolling the Dialog vertically on small touch screen would be great.

Regards

Ben

[2015-10-06 14:25] llcoole93 opened #1816 "Expand raw themeing to include background colors"
I've noticed that alot of the preset "alternativeTextColor" being used on a couple backgroundColor styles. For instance if i wanted to set my appBar to white and then Alternative text color to black, the app bar looks fine, but i'm using ListItems underneath to create a small notification list. The ListItems backgroundColor is set to the alternativeTextColor so i'm seeing weird side effects.

![no

[2015-10-06 15:13] nickzuber commented on #1810
Okay, thank you for the help! @bdefore

[2015-10-06 15:19] shaurya947 commented on #1792
@dwoodlock I think that's what you might have to do. You could apply the `position: 'fixed'` style conditionally (only when you have scrolled past the appbar) like so: http://www.hongkiat.com/blog/css-sticky-position/

I'll leave this to @oliviertassinari and @hai-cea if they have a better suggestion.

[2015-10-06 15:56] shaurya947 commented on #1738
@yulric I have merged #1808. Do we also need #1796?

[2015-10-06 16:02] yulric commented on #1738
Yeah, 1796 fixes the minDate issue whereas 1808 fixes the maxDate issue, sorry about that. I'll fix the merge conflicts in 1796.

[2015-10-06 20:45] sothychan commented on #1812
Are you using a custom theme or a built in theme?  If you are not using a custom theme, I highly recommend that you do.  I have a custom theme and I'm setting it using my custom theme.  So here's how it would look in your case.  Let's assume you have a custom theme, and in that custom theme, you set those properties in the raisedButton object.  You've also used Theme Manager to set your custom the

[2015-10-06 20:52] sothychan opened #1818 "[Possible BUG] Custom Theme -- Primary buttons and secondary buttons seems reversed"
I believe this is a bug.  The issue doesn't exist in material-ui.com, which is using the light-raw-theme, I believe, so this is why I think it has to do with a custom theme.  The issue is that when I set a button to use primary colors (primary={true}), the rendering engine uses my secondary colors.  When I set it to use secondary, it uses primary.  Steps to reproduce:

1) With a custom theme, set

[2015-10-06 20:58] e-monson opened #1819 "Expose Paper zDepth to parent components"
I want to be able to manipulate the zDepth of the Paper component underlying the FloatingActionButton, but there doesn't seem to be a way to do that currently. This would probably be useful for other components based on Paper, as well.

[2015-10-06 21:25] weneverfail commented on #1812
Thanks for your reply @sothychan. I am using a custom theme as specified in the docs. So I can apply my styles like this?
[code]

[2015-10-06 21:27] izziaraffaele commented on #1551
@Webkadabra with the version 0.12.2 you have the PR that should solve this issue (at least for me). Could you please check if your issue is solved as well? Then we might close this issue

[2015-10-06 22:53] oliviertassinari commented on #1782
I have some warnings when openning a Dialog :
[code]

[2015-10-06 23:02] oliviertassinari commented on #1792
I'm using the approach you describe: a position fixed and a paddingTop. Works fine for me. I can't find a better one.

[2015-10-06 23:44] patelsan opened #1820 "Is this production-ready?"
Thank you for these awesome components. I was wondering whether this is production ready? There are large number of open issues, so was wondering before usinging it in a project.

[2015-10-07 00:30] sothychan commented on #1812
I haven't actually tried it like that, but give it a shot. I don't see why that wouldn't work. If that doesn't work, you need to modify the raisedButton object within your CustomTheme.js.  For example, in my custom theme.js, I have this block for raisedButton:

          raisedButton: {
            color: Colors.white,
            textColor: palette.textColor,
            primaryColor: palette.pri

[2015-10-07 00:34] sothychan commented on #644
@alshain  Your style object is wrong.  Material-UI requires camelCase so you need to change it to this

[code]

[2015-10-07 00:34] sothychan commented on #644
@MycChiu Try removing the quotes from your property keys.  It works fine for me.

[2015-10-07 00:35] dwoodlock commented on #1792
Thanks.  I'll either do the sticky positioning techniques from your article or the fixed positioning with the paddingTop like Olivier suggests.  @oliviertassinari - I'm assuming what you are doing is checking the height of the AppBar after it has been mounted and then adding paddingTop of that height to the component right below it?  I was hoping not to query the DOM but that's my interpretation o

[2015-10-07 00:37] sothychan opened #1821 "Add option to set text color for buttons on hover"
I understand you can implement the onMouseEnter and onMouseLeave to get the same effect, but it would be a lot easier to give the user an option to just set hoverTextColor (for example).  It's already being done for backgroundColor, so it should be simple to do it for just color if hoverTextColor !== undefined

[2015-10-07 03:33] yulric commented on #1738
@shaurya947 I fixed the merge conflicts for PR 1796. It can now be merged into master.

[2015-10-07 04:41] saadq commented on #536
+1

[2015-10-07 04:50] mayagamer commented on #159
+1

[2015-10-07 06:27] TonyFrancis opened #1822 "Datepicker inline option"
I need the datepicker to be displayed inline rather than open dialog box

[2015-10-07 07:10] sys13 opened #1823 "ListItem link?"
How do I make a ListItem into a link?

I tried wrapping it with an achor tag but that didn't work. I didn't see a property in http://material-ui.com/#/components/lists. I would prefer to avoid using event handlers so that the hover shows a URL.

[2015-10-07 07:13] oliviertassinari commented on #1792
@dwoodlock I'm not computing the height of the AppBar. I'm using a static value. So It was simpler for me to just use fixed position.
If the height of your AppBar change. I suggest you you to try flex box. It should be working (this is what I should be doing too).

[2015-10-07 07:56] f0und3r opened #1824 "[Snackbar] Display several on page"
Hello.

There is now the opportunity to place multiple snackbars on the page?

[2015-10-07 07:58] alshain commented on #644
@sothychan You're right! There was another issue though, in that custom styles didn't work when you used a RaisedButton inside a ToolbarGroup

https://github.com/callemall/material-ui/commit/e579df5e5d8e5d252301cea80bd7060dd5e59177

[2015-10-07 08:28] weneverfail commented on #1812
Ah, this isn't quite what I'm looking for. Here's a snippet from the source-code: (flat-button.jsx)

[code]

I'm pretty sure I can apply styles to the component without explicitly passing them as a style prop, as it should be passed through context. I just need to figure out how this works in the new version.

**Update:**

I've somewhat figured out how to set custom properties on the muiTheme cont

[2015-10-07 11:25] igorbt commented on #1745
@vatanbytyqi can you please check if my PR (https://github.com/callemall/material-ui/pull/1825) fixes your issue? I removed react-draggable dependency at all and in my solution I don't use any touch device detection. So, if your mouse initiated dragging with mousedown then mousemove will be used for moving the handle.

[2015-10-07 11:31] igorbt commented on #1572
@chbdetta, can you please check if my PR (#1825) fixes your issue? I removed react-draggable dependency at all and it fixed also this issue that you reported.

[2015-10-07 11:34] igorbt commented on #973
@omidb can you please check if my PR (#1825) fixes your issue? I removed react-draggable dependency at all and in my solution I don't use any touch device detection. So, if your mouse initiated dragging with mousedown then mousemove will be used for moving the handle.

[2015-10-07 11:39] igorbt commented on #412
@motiz88, I think we don't need react-draggable dependency at all. Have a look at my PR https://github.com/callemall/material-ui/pull/1825.

[2015-10-07 11:40] igorbt commented on #242
@daniellewissc, my PR https://github.com/callemall/material-ui/pull/1825 fixed for my the issue that you reported. Can you also check if it was fixed for you?

[2015-10-07 12:55] vatanbytyqi commented on #1745
@igorbt how can I install your branch which has the fix? I tried this:
 npm install git+ssh://git@github.com:igorbt/material-ui.git --save

This will add material-ui in node_package where all the other packages are but when I run webpack to generate my app.js I get an error that material-ui can not be found.

If I install the master branch with npm install matarial-ui --save then I don't get any e

[2015-10-07 13:01] dwoodlock commented on #1792
OK - I have enough to go on and build a workaround.  Ideally it would be great if someone more talented than me could change AppBar to actually match this description: "App bars are a collection of components placed as a static header for an application" and not have it scroll off the page.  I'm not sure I could make that change reliably to this library.  But I appreciate everyone's tips: I ended

[2015-10-07 13:24] erayaydin opened #1826 "Browserify Gulp Example - React Tap Event Plugin Compile Error"
example **browserify-gulp-example** makes compile error

[code]

[code]

I think its about React version

[2015-10-07 15:26] mbrookes opened #1829 "[TimePicker] Needs option to override dialog and textfield style"
as per DatePicker

[2015-10-07 16:08] shaurya947 commented on #1792
Haha I hear you @dwoodlock! I'm re-writing AppBar these days, and I'll see if I can include some logic to accomplish that. Feel free to close this issue if your problem has been solved :-)

[2015-10-07 16:11] shaurya947 commented on #1738
Done @yulric!

@izziaraffaele @seb0zz @ansgarm feel free to checkout the latest code from master and see if the issue has been resolved.

[2015-10-07 16:11] #1738 closed

[2015-10-07 16:19] shaurya947 commented on #1745
@vatanbytyqi there is another slightly round-about way too: First, run `npm install material-ui` in your project as regular.

Next, clone @igorbt's repo and check out the branch with the fix using `git checkout slider-fix`. In this branch, run `npm install`. This will compile all source files into the `lib` folder. Now you can use *this* `lib` folder to replace the `lib` folder inside your `node_m

[2015-10-07 16:22] yulric commented on #1738
thanks @shaurya947

[2015-10-07 16:23] yulric commented on #1722
@shaurya947 This can be merged also I think

[2015-10-07 17:02] anthony-dandrea opened #1832 "this.setState is not a function for textfield"
Trying to do validations on a textfield while the user is typing in a text field. I want to change the state of the `errorText` attribute on the fly.

I receive the error `Uncaught TypeError: this.setState is not a function` when trying to set the state. Relevant code below.

[code]

[2015-10-07 17:05] cgestes commented on #1832
handleChange is not bound before being called. With ES6 class the binding has to be done by hand.

[2015-10-07 17:10] anthony-dandrea commented on #1832
Sick response time. Thank you.

[2015-10-07 17:36] anthony-dandrea commented on #1832
Strange, maybe not related issue but after doing this fix the hintText persists while typing in the input. The user's input overlaps the hintText making it hard to read.

[2015-10-07 17:38] #1832 closed

[2015-10-07 17:52] anthony-dandrea opened #1834 "TextField hintText overlap"
(using v0.12.2 of material ui)
When user types their input in the hintText persists.

My code:

[code]

Seems to function fine when I remove `.bind(this)` from the handleChange. Not sure why that would affect it but I need that binding for validation.

![screen shot 2015-10-07 at 10 48 10 am](https://cloud.githubusercontent.com/assets/5413624/10345812/f1b8c772-6ce0-11e5-8a04-753d9b2424b5.png)

[2015-10-07 18:19] newtack commented on #1782
How about leveraging some of the FB tools? https://github.com/facebook/react/blob/master/packages/react-codemod/README.md

[2015-10-07 18:19] newtack commented on #1030
How about leveraging this FB tool to automatically make the changes? https://github.com/facebook/react/blob/master/packages/react-codemod/README.md

[2015-10-07 18:53] kinolaev commented on #1030
Look at "Notable bug fixes" in react 0.14 announce (http://facebook.github.io/react/blog/2015/10/07/react-v0.14.html):
"Click events are handled by React DOM more reliably in mobile browsers, particularly in Mobile Safari."
...

[2015-10-07 19:05] oliviertassinari commented on #1030
@kinolaev For more detail: https://github.com/callemall/material-ui/pull/1732#issuecomment-143478944

[2015-10-07 20:05] shaurya947 commented on #1792
@dwoodlock @oliviertassinari this is a good package: https://www.npmjs.com/package/react-sticky

I'll probably end up using this in the AppBar code too.

[2015-10-07 20:15] oliviertassinari commented on #1792
I think that react-sticky doesn't resolve the content overflow.
The question is, do we want MUI to have layout? I would say no, than having simple component as AppBar that just render correctly in his available space sound fine for me.

[2015-10-07 20:35] acgourley commented on #1326
If @andreimc's example breaks with your newer version of react-router you can just use "store: this.store" instead of "store: this.state.store"

[2015-10-07 20:37] erick2014 commented on #1834
you are never updating the state man, you have to update the state each time an user write something, so do this:
 handleChange(e) {
        let userInput = e.target.value;
        if (userInput.length === 0)
            this.setState({ errorCopy: 'This field is required.',  username:userInput   });
        else
            this.setState({errorCopy: null});
    }
hope this helps

[2015-10-07 21:12] anthony-dandrea commented on #1834
@erick2014 Thanks but even with that update the overlap problem still shows.

[2015-10-07 21:51] anthony-dandrea commented on #1703
+1 ripple doesn't work in FF

[2015-10-07 21:52] dwoodlock commented on #1792
@oliviertassinari I'm fine either way.  I was just thinking based on the documentation that the AppBar would stay at the top and not scroll.  But like I said I was able to write a FixedAppBar component that does that by leveraging the real AppBar, making it fixed position, and drawing a box of the same height next (basically underneath it) so my FixedAppBar would take up space in the flow.

[2015-10-07 21:52] #1792 closed

[2015-10-07 23:28] lawrence-yu opened #1837 "NPM install fails when latest React 0.14.0 is already installed."
After installing latest React package 0.14.0, trying install the latest material-ui (as of this post 0.12.3), the material-ui package install fails.

```npm ERR! peerinvalid The package react does not satisfy its siblings' peerDependencies requirements!```
```npm ERR! peerinvalid Peer material-ui@0.12.3 wants react@~0.13```
```npm ERR! peerinvalid Peer react-tap-event-plugin@0.1.8 wants react@^0.1

[2015-10-08 00:20] lawrence-yu commented on #1837
Actually, appears to be a duplicate (or at least covered by) #1712. Closing.

[2015-10-08 00:20] #1837 closed

[2015-10-08 05:41] camerow commented on #686
I get that React 0.14 solves this, but I'm confused at how to update to that when the current material-ui module does not support it as a dependency.

[2015-10-08 07:11] ghost opened #1838 "Mui table how to set horizontal scroll?"
the table.js
bodyTable: {
        height: this.props.fixedHeader || this.props.fixedFooter ? this.props.height : 'auto',
        overflowX: 'hidden',
        overflowY: 'auto'
},
How can we change overflowX ?

[2015-10-08 07:40] xushao0305 commented on #1838
May be It does support change the table overflowX.

[2015-10-08 07:51] vatanbytyqi commented on #1745
thanks @shaurya947 , I managed to complie it but with some errors that I don't think has to do with the clone itself but with my setup. Either way here is the error:

        npm ERR! Windows_NT 10.0.10240
	npm ERR! argv "c:\\Program Files (x86)\\nodejs\\node.exe" "c:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
	npm ERR! node v4.1.0
	npm ERR! npm  v2.14.3
	npm ERR!

[2015-10-08 08:09] xushao0305 commented on #1838
now workaround way:
  componentDidMount() {
  		$('.mui-body-table').css('overflow-x', 'auto');
  	}

[2015-10-08 08:33] hmeerlo commented on #1712
How can anyone try the react-0.14-support branch with those lint errors? I had to disable them manually as well.

[2015-10-08 09:55] mbrookes commented on #1804
Dupe of #1489.

[2015-10-08 09:55] #1804 closed

[2015-10-08 10:07] mbrookes opened #1839 "DatePicker textfiled value should follow ISO 8601 by default"
The US date format is ambiguous for dates with `day <=12 && day !== month`.

05/02/2016 could be read as either May 2nd, or Feb 5th.

I'm thinking [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) (YYYY-MM-DD) would be a good default as it works everywhere, and doesn't have the localisation issues that moving to a short-month-name default (e.g. "2 May 2016") would bring.

Admittedly most users wil

[2015-10-08 10:16] oliviertassinari commented on #1839
We have also started a discussion about it here https://github.com/callemall/material-ui/pull/1658#issuecomment-145681445

[2015-10-08 10:57] mbrookes commented on #1839
I saw that issue, but it was primarily about full i18n. This would be more of a quick fix for the default date format.

It needs to be fixed regardless of the approach is chosen for i18n, as there will always be a default, so it might as well be a sensible one.

[2015-10-08 11:05] hanumanthan commented on #1701
Tried this. It works well for me in Safari v9.0 and OS X Yosemite.

[2015-10-08 14:40] shaurya947 commented on #1745
@vatanbytyqi that's probably because npm is pulling the latest version of React (0.14 was released yesterday).

We uploaded a new package to npm that has a temporary fix for loafing React 0.13. So if you do get the latest code from master / npm now, this error shouldn't occur.

[2015-10-08 14:45] shaurya947 commented on #1837
@lawrence-yu React 0.14 was released yesterday and our dependency used to be >=0.13. However, there were still some compat issues with supporting React 0.14.

So we uploaded a temporary fix version (0.12.3) that changes this dependency to ~0.13 -- until we fix the issues with React 0.14 support.

That means that you need React 0.13.x to use the latest release of Material-UI (as of this post)

[2015-10-08 14:56] EcutDavid opened #1840 "grid-list problem"
[Document demo page here](http://material-ui.com/#/components/grid-list)
Hi:
When mouse hover at grid list, should the window scroll bar be disabled?
![tset](https://cloud.githubusercontent.com/assets/10692276/10369987/99bea70a-6e0f-11e5-892f-c406046d0a52.gif)

[2015-10-08 15:04] yuliroth commented on #1158
+1

[2015-10-08 15:24] vitalis commented on #1158
:+1:

[2015-10-08 15:26] chrismcv commented on #1158
I'm doing some work on this at present, PR to follow... though may not encompass all wishes here....

[2015-10-08 15:29] yuliroth commented on #1158
@chrismcv Thanks,
@zachguo Is there any progress with new SelectMenu?

[2015-10-08 15:32] shaurya947 commented on #1803
@tjunnone @bdefore can you please verify that #1841 fixes this issue? I will go ahead and merge it then.

[2015-10-08 15:52] bdefore commented on #1803
@shaurya947 i monkey patched my node_modules/material-ui#react-0.14-support theme-decorator.js and it does fix the issue. thanks!

[2015-10-08 16:07] #1803 closed

[2015-10-08 16:07] BenNG opened #1842 "[Slider] is step broken ?"
Hi there !

I have this configuration
[code]
I was expected to have only 3 possible values 1,2 and 3.
But in real my slider can navigate through all the value.
Hope I did not miss something ...

Thanks for your work :))))))

[2015-10-08 19:54] igorbt commented on #1745
Thanks guys! Good to know that fix worked.

[2015-10-08 20:41] #1444 closed

[2015-10-08 20:44] #1454 closed

[2015-10-09 10:25] KapJI commented on #1842
I think my PR #1591 should fix that.

[2015-10-09 10:44] Maksadbek commented on #1810
I am getting this kind of warnings, elements are stopped working(onClick)
[code]

[2015-10-09 10:52] michaelatmender commented on #282
+1

[2015-10-09 11:55] chrismcv commented on #1675
#1845 should resolve this

[2015-10-09 11:56] chrismcv commented on #1621
#1845 should resolve

[2015-10-09 12:05] michaelatmender commented on #1565
I have the same issue. The callback in onSelectAll is never called. Checking the "all" checkbox does call the onRowSelection callback, but not when un-checking.

[2015-10-09 12:41] antosha4e opened #1847 "FlatButton inline style"
FlatButton doesnt have inline style... or it just wont work...

Code:
<FlatButton label="Signin" style={{'float': 'right'}}  onClick={::this.onSubmit} />

[2015-10-09 13:50] gfogle opened #1849 "Cant remove checkbox via props"
I think the Table should have a prop that allows for whether the checkbox should be visible or not. @yalcindo

[2015-10-09 14:48] walter90920 commented on #1344
I'm running into the same issue. Waiting on support on 0.14 too.

[2015-10-09 15:47] nickzuber commented on #1826
Do you have `fbjs` in your `node_modules`?

[2015-10-09 16:39] yeso126 opened #1850 "React v0.14.0 Broken"
When doing npm install I get the following message:

Please, add support for react 0.14

[2015-10-09 17:14] subjectix commented on #1850
The react-0.14-support has support for react 0.14. But it's a work in progress you can check that out if you want react 0.14 support asap.

[2015-10-09 20:42] KapJI commented on #1842
PR #1825 fixes that better.

[2015-10-09 21:11] Marktz commented on #1121
Hello , Guys Am Using Babel And Still Got Same Errno Here What Should I dO should I try jsx loader ?

[2015-10-09 21:15] Marktz commented on #1121
SyntaxError: c:\Users\Mark Francis\package.json: Unexpected string
    at Object.parse (native)
    at Object.Module._extensions..json (module.js:460:27)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at module.exports (c:\Users\Mark Francis\node_modules\gulp-load-plugins\inde
x.js

[2015-10-09 22:14] AddictArts commented on #1728
Thanks for looking. My root component "EUI" had this
[code]
So, when you tested it you didn't see the issue. My apologies for that. I found the answer though.

See https://medium.com/@skwee357/the-land-of-undocumented-react-js-the-context-99b3f931ff73

The issue is that my root component "EUI" and owner is not a material-ui component, so the owner and parent don't match. I can live with this and R

[2015-10-09 22:34] TCMiranda opened #1852 "Something made my paper transparent"
Hey guys

I have just updated my package and my DropDownMenu Paper is now transparent..
![captura de tela de 2015-10-09 19 29 03](https://cloud.githubusercontent.com/assets/10077439/10407074/8c9b0f3e-6ebc-11e5-9001-0a4c74243780.png)

![captura de tela de 2015-10-09 19 29 38](https://cloud.githubusercontent.com/assets/10077439/10407075/8e56b850-6ebc-11e5-85b9-8e2c3c837c89.png)

![captura de tela de

[2015-10-09 22:35] TCMiranda commented on #1852
ps. my `context` `muiTheme.paper` is also empty.

[2015-10-09 22:52] erayaydin commented on #1826
then `fbjs` should be in `package.json` in example [file](https://github.com/callemall/material-ui/blob/master/examples/browserify-gulp-example/package.json).

[2015-10-09 22:52] #1826 closed

[2015-10-10 02:44] xiongzhp commented on #1298
@valinol  Now, have you got the idea about how to submit the TextField? I don't think onChange method is a good idea, maybe we need a button?

[2015-10-10 08:38] yongxu opened #1853 "TODO List/Roadmap"
Hi,
I have seen a few PR for react 0.14 support, but apparently we haven't fully resolve this issue. I believe someone is probably working on it, therefore I usually become hesitate to fix things when I see a problem. I could not tell if someone is working on it, if it is an incomplete feature or experiment, or if my PR will cause conflict because I misunderstood their intent.

I can see there are

[2015-10-10 10:06] igorbt commented on #1840
@EcutDavid,  grid is there in a overflow auto container that has its own scroll. This is why while scrolling over grid window scrollbar is "disabled". Did I understood correctly your issue?

[2015-10-10 10:13] igorbt commented on #1351
@antilect a grid list was just released. Check out component demo page http://material-ui.com/#/components/grid-list. If this is what you needed can you please close the issue?

[2015-10-10 14:21] mbrookes opened #1854 "[CheckBox] & [Toggle]: Alias onChange to onCheck and onToggle respectively"
Alias the callback for a more consistent API with other form components.

[2015-10-10 14:48] louy opened #1855 "[DatePicker] DatePicker animation direction is always from right to left"
Hi,

There seems to be an issue with `<DatePicker>`. In the dialog whether I click next or previous it always animates from right to left.
This issue can be seen in the live demo as well.
http://material-ui.com/#/components/date-picker

[2015-10-10 14:56] mbrookes commented on #1854
Ditto `isChecked` & `isToggled` to `GetValue`, and `setCheck` & `setToggled` to `setValue`.

[2015-10-10 15:02] oliviertassinari commented on #1855
Indeed. Plus, I think that this animation isn't in the spec of material design. I think that should have an infinit list of month instead

[2015-10-10 15:04] almasakchabayev commented on #1850
Thanks for the great work on this lib!
Do you know approximately when material-ui will support react-0.14?

[2015-10-10 16:03] KeKs0r opened #1856 "[ListItem] controlled via open and onChange"
I am using material-ui in a project with react router. And I want to control which ListItems show there nestedLists. This is unfortunately not possible because i can't control wether a listItem is "open" or not.
I know there is a Prop to control if its initially open. But I want to change it from my parent component after initial render, which currently does not seem to be possible. I would sugges

[2015-10-10 16:04] EcutDavid commented on #1840
@igorbt
Thank you!
But I mean the window scrollbar should still "disabled" after scroll to the grid bottom.

[2015-10-10 16:31] almasakchabayev commented on #1599
When doing this I get
[code]

[2015-10-10 16:38] escolhatecnologia commented on #1850
with react 0.14 i see  a lot of warnings
please support react 0.14

Warning: require('react/addons') is deprecated. Access using require('react-addons-{addon}') instead.warning @ warning.js:46
warning.js:46 Warning: React.render is deprecated. Please use ReactDOM.render from require('react-dom') instead.warning @ warning.js:46
warning.js:46 Warning: render(): Rendering components directly into doc

[2015-10-10 17:53] oozaa opened #1857 "TextField + dynamic menu/menu issue with onFocus,OnBlur"
I am started to write my own search box component as I was unable to find any existing one. And faced issue with onFocus, onBlur events.
My component called SearchField renders Div which wraps TextField and
 `<Menu  desktop={true}  visible={this.state.showSuggestions} hideable={true} menuItems={items} onItemTap={this._onSuggestionSelect}/>` (its menu/menu, not menus/menu)

When Wrapping Div gets o

[2015-10-10 18:31] igorbt commented on #1840
After  reaching the end of the grid scrolling will continue on window. That's just how normally scrolling behaves. Grid list don't alter any scrolling behavior. Or you think it should be changed? In what way?

[2015-10-10 19:43] Webkadabra commented on #1850
@yeso126 react 0.14 support is in another branch, yo https://github.com/callemall/material-ui/tree/react-0.14-support

[2015-10-10 20:59] mbrookes commented on #295
Also seems to affect Dropdown - sometime you get the change, sometimes not.

[2015-10-11 00:19] EcutDavid commented on #1840
@igorbt
Hi, yes, I think it should change, may be I'm wrong :)

[2015-10-11 05:48] gfogle opened #1860 "Super Header centering doesnt account for checkbox column"
<img width="1176" alt="screen shot 2015-10-11 at 1 48 17 am" src="https://cloud.githubusercontent.com/assets/7015773/10415143/30ee11d2-6fba-11e5-91bd-61e979fa8404.png">

[2015-10-11 11:09] rickihastings commented on #1783
I'm also experiencing this issue with the latest version, it just doesn't seem like the event is being fired at all.

[2015-10-11 12:41] bdefore opened #1861 "lint errors on npm run build"
I can't run `npm build` due to linting errors:

[code]

There's a lot more than just that one.

[2015-10-11 12:52] bdefore commented on #1861
in case anyone else wants to work around this #1862

[2015-10-11 13:47] mooncakelmn commented on #1853
And maybe also some rough plans?

[2015-10-11 13:51] mooncakelmn commented on #1782
Haven't tried the `findDOMNode` tool, but the one for `pure-render-mixin` is adding `shouldComponentUpdate` for each pure component, which is not so cool.

[2015-10-11 16:47] ruizhit opened #1863 "npm install fail in examples folder"
i recently cloned the master repository, which should be working as the latest stable, and get the following error...

npm ERR! peerinvalid The package react does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer material-ui@0.12.3 wants react@~0.13
npm ERR! peerinvalid Peer react-tap-event-plugin@0.1.8 wants react@^0.14.0-0 || ~0.13.x || ~0.12.x

why the examples

[2015-10-11 17:41] TCMiranda commented on #1852
Themes should now have `pallate.canvasColor` defined.

[2015-10-11 17:41] #1852 closed

[2015-10-11 21:39] Tapjay commented on #1820
Yup - would also love to know.

[2015-10-11 21:55] xiamike commented on #1396
Same symptom is appearing for me, I'm on
"material-ui": "^0.12.3",
"react": "^0.13.3"

Will look into it a bit more ...

[2015-10-11 22:24] xiamike commented on #1396
Do you think the double-tap code is interfering?

if you single click very slowly (like after ripple subsides) it won't register the click regardless of how many clicks.
Only if you click twice within a short enough time-span will it fire the click handler.

[2015-10-11 22:58] preco21 commented on #1563
+1

[2015-10-11 23:52] mwq27 commented on #1863
I was able to run `npm install` from the /example directory.  No errors showed up.  What version of node and npm are you running?

[2015-10-12 01:32] rogchap commented on #1818
This is not a bug and is by design.

[2015-10-12 02:02] ruizhit commented on #1863
i have this versions
node v4.1.2
npm  v2.14.4

too weird, i just cloned the master branch, and i get that error

[2015-10-12 07:16] mooncakelmn commented on #1782
Tried with `findDOMNode` tool, it replaces `this.refs.foo.getDOMNode()` to `React.findDOMNode(this.refs.foo)`, which is not so cool either...

[2015-10-12 07:18] louy commented on #1861
It's not failing for me. Do you have an `.eslintrc` file in a parent directory?
The rule that's enforced here doesn't exist in the project's config file.

[2015-10-12 07:19] louy commented on #1856
If it was controlled with a prop, what should the manual open/close button on the side do?

[2015-10-12 07:22] louy commented on #1819
Sounds cool. Can you send a PR?

[2015-10-12 07:23] louy commented on #1820
I believe it is. I've used it in 3-4 production projects.

[2015-10-12 07:27] KeKs0r commented on #1856
It could either trigger a passed down function. That the owning component
could control it. Or it would still do the same. To be fair, controlling it
via both, props and state is probably slightly more complicated.

On 12 October 2015 at 09:20, Louy Alakkad <notifications@github.com> wrote:

[2015-10-12 07:39] louy commented on #1856
Yep. That's what I meant.
I guess triggering a callback is the logical thing to do.

[2015-10-12 11:34] mwq27 commented on #1863
Ok I had old code in the example folder before when I said it was working, but I got all of the latest, and was able to duplicate your error. It looks like it has to do with react v0.14.  If you set the devDependencies to use react 0.13, it works (I tried the webpack-example).

[code]

My guess is material-ui doesn't support react v0.14 yet.

[2015-10-12 11:57] sakanabiscuit commented on #1863
"dependencies": {
        "material-ui": "^0.12.1",
        "react": "^0.13.x",
        "react-tap-event-plugin":"^0.1.3"
      }

[2015-10-12 14:14] benjeffery commented on #1712
@bdefore I also had the "ref owner" issue you refer to. As I had built material-ui locally my node_modules looked like your gist. You still have two instances of React - one at the top level and one in "node_modules/material-ui"
I deleted "node_modules/material-ui/react" and the problem was fixed

[2015-10-12 14:34] bdefore commented on #1712
excellent @benjeffery thanks! works for me too.

[2015-10-12 16:31] jessjohn opened #1864 "Add chart components to mui src code"
Here are screenshots of 3 charts I've whipped up so far:

<h3>Vertical Bar Chart</h3>
<img width="615" alt="screen shot 2015-10-12 at 1 57 45 pm" src="https://cloud.githubusercontent.com/assets/6101610/10434733/57443476-70e9-11e5-8ce1-030e6270e97c.png">

<h3>Horizontal Bar Chart</h3>
<img width="616" alt="screen shot 2015-10-12 at 1 57 57 pm" src="https://cloud.githubusercontent.com/assets/6101610

[2015-10-12 18:59] dspnorman commented on #1396
Experiencing the same issue, also seeing single clicks fail to register in Safari. Double clicks, even slow double clicks with up to 2 seconds between, work.

"material-ui": "^0.12.3",
"react": "^0.13.3"

[2015-10-12 19:03] dspnorman commented on #1701
Also experiencing this issue, but with Floating Action Button.
Works in Chrome with a single click, requires two clicks in Safari 9 on El Capitan.

Possible the same issue as #1396 ?

[2015-10-12 23:01] gitdistill commented on #282
+1

[2015-10-13 08:50] JulianTapales opened #1865 "[Docs] Document target browser compatibility"
Cheers for the awesome work. Would like to know - does this work on all html5 supported browsers?

Related to #468.

[2015-10-13 13:15] SergeBredin commented on #1531
A require on core-js is enough, no need to install Babel actually
window.Symbol = require('core-js/modules/es6.symbol');
window.Symbol.iterator = require('core-js/fn/symbol/iterator');

[2015-10-13 13:19] mbrookes commented on #477
:tada: I had forgotten to add externalify to` app.browserify.options.json (Meteor)

[2015-10-13 15:05] shaurya947 commented on #1728
:+1: glad you figured it out

[2015-10-13 15:06] shaurya947 commented on #1599
@almasakchabayev can you post your code?

[2015-10-13 15:14] shaurya947 commented on #1782
@cgestes @oliviertassinari the issues with the doc site is pretty much what's holding us back from an official release. Once we can get that going, we could release a react-v0.14 compliant version soon.

[2015-10-13 15:20] ruizhit commented on #1863
i was change these dependencies and it work

thank you all

[2015-10-13 15:20] #1863 closed

[2015-10-13 15:47] cgestes opened #1868 "React 0.14 - Card throw"
Uncaught TypeError: Can't add property onTouchTap, object is not extensible card.jsx:46

in code:

      if (currentChild.props.actAsExpander === true) {
        currentChild.props.onTouchTap = this._onExpandable;
        currentChild.props.style = this.mergeStyles({ cursor: 'pointer' }, currentChild.props.style);
      }

[2015-10-13 15:48] cgestes commented on #1868
@hugo-agbonon

[2015-10-13 15:49] cgestes commented on #1868
dont know if this fail also on master. (I'am working on react-0.14-support). But I'am pretty the fix will work on both branch.

[2015-10-13 17:41] hugo-agbonon commented on #1868
I don't think it fails on the master (the docs website is still OK, both online and when I build it), but yeah, sorry, I hadn't tried this at all with react 0.14.
I think words are missing from from your last sentence, are you saying you already have a fix (or fix idea) for 0.14 support?

[2015-10-13 18:25] cgestes commented on #1868
No fix from my side, I guess it's not possible anymore to modify child in
react they must be cloned. I had no time to look at the issue atm

On Tue, Oct 13, 2015, 19:41 Hugo Agbonon <notifications@github.com> wrote:

[2015-10-13 18:35] cgestes commented on #1868
Fixed. Will send a PR later on tonight

On Tue, Oct 13, 2015, 20:24 Cedric GESTES <cedric.gestes@gmail.com> wrote:

[2015-10-13 19:03] vizath opened #1869 "Low support for SVG icons"
As specified in #1475, there seems to have a performance drawback using SVG icons over fonts. I'd like to know, is there any benchmarks done for this ?

Also, why is there so much poor support for SVG icons in general (doc, components, etc). There is no easy way to go get icons from the base object (`require('material-ui')`) and components like Toolbar or DropDownIcon do not even support SVG icons

[2015-10-13 20:50] matsilva opened #1870 "Textarea initial height being set to zero"
After `_syncHeightWithShadow` is called on `componentDidMount` in the enhanced-textarea.jsx component,  it will revert from initial 24 value to 0. As a result, the user is completely blocked from editing the textarea.

I managed to temporarily fix it by changing this line:
https://github.com/callemall/material-ui/blob/master/src/enhanced-textarea.jsx#L123

To:
[code]

**Before the fix**
![screen s

[2015-10-13 20:57] somus opened #1871 "[AppBar] onLeftIconButtonTouchTap event is not firing on clicking"

[2015-10-13 21:14] mbrookes opened #1873 "[Themes] Only a subset of components apply fontFamily"
https://github.com/callemall/material-ui/search?utf8=%E2%9C%93&q=fontFamily

Button:
![image](https://cloud.githubusercontent.com/assets/357702/10468473/220cd79a-71f7-11e5-9934-85233895e5c7.png)

Checkbox:
![image](https://cloud.githubusercontent.com/assets/357702/10468575/b91e6f5e-71f7-11e5-9a5a-b016ef60ff84.png)

[2015-10-13 21:15] oliviertassinari commented on #1870
Regarding the fix. What about using instead a `max` function on the `newHeight` with `0` and `rowsHeight`?
PR are welcomed.
What props do you pass to the component to produce this bug?

[2015-10-13 21:24] matsilva commented on #1870
Cool I can whip together a PR tomorrow.

Just to clarify, you'd be cool with something like this?
[code]
Here is the component I used to produce the issue using version `0.12.3 ` of material-ui.
[code]

[2015-10-13 21:38] oliviertassinari commented on #1870
Yes exactly. I think that the `multiLine` is a dead property. I don't understand was is reponsible for this strang behaviour.

[2015-10-13 23:41] cgestes commented on #1782
merging all remaining PR seems to fix most known issues. :)

Olivier and I think it's time to think about merging to master.

[2015-10-14 01:28] matsilva commented on #1870
Submitted PR for this issue, please review: https://github.com/callemall/material-ui/pull/1875

[2015-10-14 01:32] matsilva commented on #1870
I feel like I should dig into this more though to understand the behaviour... but I need to get something working in the meantime...

[2015-10-14 02:21] mooncakelmn commented on #1782
:+1:

[2015-10-14 02:40] vizath opened #1876 "Difference between menu and menus ?"
https://github.com/callemall/material-ui/tree/master/src/menu
https://github.com/callemall/material-ui/tree/master/src/menus

The doc all uses `menus/`, but index.js actually exports `menu/`
https://github.com/callemall/material-ui/blob/master/src/index.js#L35

Also, DropDownMenu and LeftNav components use `menu/`, and IconMenu (the exported one) uses `menus/`.

If we want to reproduce http://mate

[2015-10-14 11:30] mwq27 commented on #1876
It looks like /menus is the new menu implementation, and /menu is the old one.
[code]

[2015-10-14 11:32] mwq27 commented on #1873
A checkbox wouldn't need a font-family since there's no text in that type of html element, where a button will have text inside of it.

[2015-10-14 12:21] vizath commented on #1876
Wow, I'm blind.

Though, I think that the same comment should appear in the other components that use it. (AppBar and List in this case).

Thanks.

[2015-10-14 13:43] bORm commented on #1850
I just installed react-0.14-support and see errors too

Warning: require('react/addons') is deprecated. Access using require('react-addons-{addon}') instead.
Warning: React.findDOMNode is deprecated. Please use ReactDOM.findDOMNode from require('react-dom') instead.

[2015-10-14 14:14] arush commented on #42
is this still an issue? Seems ok on iphone 6. however, the ripples are firing twice, i assume because the second time is ontouchup

[2015-10-14 14:23] zanjs opened #1878 "npm install material-ui"
zandeMacBook-Pro:react-yo juluad$ npm install material-ui
npm WARN peerDependencies The peer dependency react@~0.13 included from material-ui will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
npm ERR! Darwin 14.5.0
npm ERR! argv "/usr/local/bin/node" "/usr/loc

[2015-10-14 14:51] ayhankuru commented on #42
same problem still..

[2015-10-14 14:52] #1661 closed

[2015-10-14 15:22] mbrookes commented on #1873
Rather than embarrass you by pointing out the obvious, I'll let you quietly delete that comment, then I'll delete this., then no one will ever know. Deal? :wink:

[2015-10-14 15:25] vizath commented on #1869
I did some benchmarks: http://imgur.com/a/h4KL2

After a few retries, numbers seems to average to:
[code]

It doesn't seem to take more time to load the page, the single http request for fonts is not a bottleneck in the test.
It seems to take a bit more time adding `<svg>` elements to the DOM than `<span>`
The time between the inserted DOM and the final render of the actual icons is way faster in

[2015-10-14 15:31] matsilva commented on #1870
@oliviertassinari pretty backed up on PRs huh? I got another pull request I want to add for documenting certain props of the select field.

Do you guys need any help in the PR department?

[2015-10-14 15:35] matsilva opened #1880 "Select field valueMember documentation"
I had a pretty difficult time understanding how to display a default value for the the Select Field component.

After stepping through the code, I realized valueMember is used against the menuItems list to retrieve the value. This isn't clear in the documentation.

I want to propose adding this into the documentation.

Expect a PR at some point soon....

[2015-10-14 15:36] #1868 closed

[2015-10-14 16:03] hilkeheremans commented on #42
@arush You're right; firing twice is an issue on iOS, see my previous posts. I have another quick fix running but it is not applicable for general production purposes outside our use cases, so I won't run it through a PR at this time.

[2015-10-14 16:10] bORm opened #1881 "tree/react-0.14-support - Warning: require('react/addons') is deprecated"
https://github.com/callemall/material-ui/issues/1850
I just installed react-0.14-support and see errors too

[code]
[code]

See repo https://github.com/bORm/mui-react-0.14.0

maybe I 'm doing  something wrong ?

[2015-10-14 18:28] louy commented on #634
Like this:

[code]

[2015-10-14 18:29] louy commented on #1355
Hi @HosseinMoradiDavijani,

RTL support has been added in #1674.
You can use it like this:

[code]

[2015-10-14 18:59] HosseinMoradiDavijani commented on #1355
Thanks alot @louy .

[2015-10-14 18:59] #1355 closed

[2015-10-14 19:24] bORm commented on #779
+1

[2015-10-14 19:27] Aweary commented on #1878
`material-ui` needs to update it's peer dependency requirement to `react@^0.14.0`. Without that it breaks compatibility with almost all other major React libraries.

[2015-10-15 06:38] atlewee commented on #1583
+1

[2015-10-15 06:59] atlewee commented on #1849
Can't yo just set this on TableBody: ???

displayRowCheckbox	boolean optional

Controls the display of the row checkbox. The default value is true.

[2015-10-15 08:56] mbrookes commented on #1280
I converted @rblakeley's example into a small wrapper library for material-ui components: https://github.com/mbrookes/formsy-material-ui

[2015-10-15 11:30] ibsukru commented on #1740
+1

[2015-10-15 11:31] ibsukru commented on #1239
+1

[2015-10-15 13:23] cybercomkvint opened #1885 "npm install still has peerDependency react 0.13"
When will npm be updated with latest version for react 0.14?

[2015-10-15 14:01] btipling commented on #1878
This project just needs to stop using peer dependencies, it's hell to manage it manually. Prior to npm 3 peer dependencies were auto installed, now they have to be installed manually. It's a nightmare. Just save them as normal dependencies.

[2015-10-15 14:31] bdefore commented on #1861
@louy i'm building material-ui manually from a fork, so it lives in `project-root/node-modules/material-ui` i do have `/project-root/.eslintrc` ... perhaps it would be easier on contributors to manually specific the `.eslintrc` path via https://github.com/adametry/gulp-eslint#eslintconfigfilepath ?

[2015-10-15 14:41] bdefore commented on #1861
I see, the problem is that for my npm `postinstall` step i have `cd node_modules/material-ui && npm i && npm run build` and that's not applying the current working directory of `node-modules/material-ui`. What's the conventional way to handle this in gulp?

[2015-10-15 14:45] bdefore commented on #1861
`(cd node_modules/material-ui && gulp eslint)` still has the same error. but if i remove my `.eslintrc` file it works.

[2015-10-15 15:01] louy commented on #1861
I think adding `root: true` to .eslintrc is not a bad idea.

@shaurya947 what do you think?

[2015-10-15 15:02] louy commented on #1861
@bdefore in the mean time you can create a `.eslintrc` file in `node_modules/` with the following contents:
[code]

[2015-10-15 15:08] oliviertassinari commented on #1861
@louy Sounds like a good idea.

[2015-10-15 15:20] bdefore commented on #1861
@louy I can verify that setting `root: true` in my local fork fixes my use case. Thanks!

[2015-10-15 17:18] penkar opened #1888 "TableHeader CheckBox Access"
There is currently no way to dynamically set the checkbox status in the table header row.

[2015-10-15 18:38] tthew commented on #1885
:+1:

[2015-10-15 18:53] ovaris commented on #1030
Is `react-0.14-support` removed?

[2015-10-15 19:03] oliviertassinari commented on #1030
@ovaris I was merged to master.

[2015-10-15 19:06] carlitux commented on #1030
@oliviertassinari when will be available on npm?

[2015-10-15 19:30] oliviertassinari commented on #1030
I have no idea when we will have a bug free version. However you can use master branch with npm.

[2015-10-15 19:42] kkotwal94 opened #1891 "Setting up theme manager: Invariant Violation: t.getChildContext(): childContextTypes must be defined in order to use getChildContext()."
I copied this example from the docs into my own component, first time using it, no idea what to do to fix the error in the title.

Childcontext types is defined tho

Is it because of the parent? Should the parent set the context?
[code]

[2015-10-15 19:43] ipselon commented on #1885
+1

[2015-10-15 19:59] igorbt commented on #708
@luisrudge bug was fixed in PR #1825 and merged, please retest and close.

[2015-10-15 20:01] igorbt commented on #1745
@vatanbytyqi bug was fixed in PR #1825 and merged, please retest and close.

[2015-10-15 20:03] igorbt commented on #1572
@chbdetta bug was fixed in PR #1825 and merged, please retest and close.

[2015-10-15 20:04] igorbt commented on #973
@omidb    bug was fixed in PR #1825 and merged, please retest and close.

[2015-10-15 20:05] igorbt commented on #412
@motiz88  bug was fixed in PR #1825 and merged, please retest and close.

[2015-10-15 20:06] igorbt commented on #242
@daniellewissc  bug was fixed in PR #1825 and merged, please retest and close.

[2015-10-15 20:10] igorbt commented on #1842
@BenNG  can you please check if bug was fixed by PR #1825 and eventually close the bug?

[2015-10-15 20:30] luisrudge commented on #708
Is the main website (http://material-ui.com/#/components/sliders) up to date? It still doesn't work when I test there.

[2015-10-15 20:37] chmann commented on #1583
I just traced this through because it was driving me nuts. The problem is that no key is being placed on the Select All column. The key is added for the checkbox but not for the TableHeaderColumn wrapper.

...which is exactly what has already been fixed. #1625  :-) Thanks!

[2015-10-15 20:41] Aweary commented on #1885
+1

[2015-10-15 20:48] gabriel commented on #1885
+1

[2015-10-15 20:48] ayhankuru commented on #1885
+1

[2015-10-15 20:49] gabriel commented on #1878
looks like dupe of https://github.com/callemall/material-ui/issues/1885

[2015-10-15 20:57] bingomanatee opened #1892 "toolbar compresses poorly"
The material toolbar compresses poorly. it seems to me that either the gray background should enclose the flowed parts or the overflow should crop them.

[2015-10-15 20:58] bingomanatee commented on #1892
![material toolbar](https://cloud.githubusercontent.com/assets/684016/10527344/c30c0816-7344-11e5-86dc-ce67d721d546.png)

[2015-10-15 21:26] irium commented on #1348
:+1:

[2015-10-16 00:23] everblaze commented on #1885
+1

[2015-10-16 00:28] CodeOfDavid opened #1893 "Snackbar"
If the Snackbar is contained in another control its partially or fully hidden, the z-index should be set to ensure its always on top

[2015-10-16 00:29] coniel commented on #1885
+1

[2015-10-16 00:49] etburke commented on #1891
I ran into this and opted to continue using React.createClass over ES6 classes. Here's a related topic on  StackOverflow: http://stackoverflow.com/questions/32078493/childcontexttypes-in-es6

[2015-10-16 00:51] zanjs commented on #1885
updated with version for react 0.14 ! Thinks!

[2015-10-16 04:25] cdvel opened #1895 "[RefreshIndicator] stroke width not accessible through inline styles"
The property stroke-width can't be overwritten using props or styles and is hard-coded to 3.

[2015-10-16 07:37] duncandrennan commented on #1745
I just checked this quickly using the http://material-ui.com site, but the sliders don't work there - has that been updated?

[2015-10-16 08:31] cybercomkvint commented on #1885
Hello,

It still have 0.13 as peerDependency:
Downloaded npm package.json:
[code]

[2015-10-16 09:14] BenNG commented on #1842
Hello,

I try to test but I have a lots of dependencies issues !
How can I test properly ?

[2015-10-16 12:58] husek opened #1897 "[Table] onRowSelection Bug"
Evening guys,

Let's say i have the following table:

                            <Table
                                height='100%'
                                selectable={true}
                                multiSelectable={true}
                                onRowSelection={this._onRowSelection}>

If i do something like this, it'll work fine:

        _onRowSelection: function(selecte

[2015-10-16 13:08] shaurya947 commented on #1745
Not yet.. Not until we do a new release.
On Oct 16, 2015 2:37 AM, "Duncan Drennan" <notifications@github.com> wrote:

[2015-10-16 13:31] mkotar opened #1898 "cannot find module 'object-assign'"
After updating material-ui to newest version I am not able to build my project with webpack anymore. I get erros:

ERROR in Cannot find module 'object-assign'
 @ ../~/material-ui/lib/index.js 4:10-30

ERROR in Cannot find module 'object-assign'
 @ ../~/material-ui/lib/index.js 5:13-36

ERROR in Cannot find module 'object-assign'
 @ ../~/material-ui/lib/index.js 6:10-29

and so on (to many errors t

[2015-10-16 14:05] waltermacambira opened #1899 "DatePicker slow during open"
Running Win10 with latest Chrome and, whenever I open a datepicker, it is taking about 1-2 seconds for dialog to show up. When range is enabled, the dialog appears almost instantly.

[2015-10-16 14:07] waltermacambira opened #1900 "TimePicker has undesired initial value"
If I call getTime() on a TimePicker that has not been touched by the user, the time is not coming as undefined, as happens on DatePicker.

[2015-10-16 14:11] oliviertassinari commented on #1899
It's not instantly for me still it's much better. I will try to fix this. Good catch :+1:

[2015-10-16 15:40] manuelmazzuola commented on #748
Any updates ?

[2015-10-16 15:51] manuelmazzuola commented on #705
Any updates ?

[2015-10-16 16:25] maketroli opened #1902 "Cannot read property 'componentDidLeave' of undefined"
I've been trying to get this info from react docs but I don't see anything similar, so I wan to know if this error comes from you guys ?

I am using the Cards component which is rendering a collection of items, so I have a view with around 30 items/cards, everytime once of those items is deleted, I get the error in the console:

do you have an idea?

[2015-10-16 18:32] hbcondo opened #1903 "[Themes] Custom theme not working in 0.12"
We developed a custom theme in 0.10 but now that we've updated to 0.12, the custom theme isn't working. How do we update our custom theme to be compatible with 0.12? Note that our custom theme makes use of the getComponentThemes method to override component stylings such as the appBar, button, tabs and more. We can load the light and dark raw themes just fine but if you could provide an example of

[2015-10-16 19:34] cwonrails commented on #1885
+1

[2015-10-16 19:46] cvince commented on #1236
this is still a problem. When you import {Menu, MenuItem} from 'material-ui'; it's still referencing the old material-ui/lib/menu/menu.js

[2015-10-16 20:54] gabriel commented on #1885
a new version hasn't been cut so you can point at master repo?
i think `npm install callemall/material-ui --save`

[2015-10-16 21:01] Aweary commented on #1885
This should do it.

1. `npm install --save https://github.com/callemall/material-ui.git`
2. `cd node_modules/material-ui && npm install`
3. `babel --stage 1 ./src --out-dir ./lib`
4. Delete `./node_modules/react` from within the `material-ui` folder

[2015-10-16 21:02] fortunebubble opened #1906 "Key for MenuItem in Menu"
I was following the new way to implement the menu that mentioned in the doc
http://material-ui.com/#/components/menus

The console has warning of
Warning: owner-based and parent-based contexts differ (values: `undefined` vs `[object Object]`) for key (muiTheme) while mounting MenuItem (see: http://fb.me/react-context-by-parent)

Any comment on how to fix this? Thanks.

[2015-10-16 21:07] gabriel commented on #1885
I think npm install does step 3 already?

[2015-10-16 21:14] Aweary commented on #1885
Not when installing from a repository, as far as I've seen. Those are the steps I had to take to get it working.

[2015-10-16 21:18] Aweary commented on #1144
Has this issue been fixed?

[2015-10-16 21:21] gabriel commented on #1885
oh I installed without the full github url.. maybe that's why

I forked to `gabriel/material-ui` and checked in lib so am currently using `npm install gabriel/material-ui --save` worked for me without the extra steps

[2015-10-16 22:42] hackingbeauty commented on #1144
Yes it has.

On Fri, Oct 16, 2015 at 2:18 PM, Brandon Dail <notifications@github.com>
wrote:

--
Mark M. Muskardin
Front End Engineer & Web Developer
www.hackingbeauty.com
www.linkedin.com/in/markmuskardin

[2015-10-17 19:00] igorbt commented on #708
Not until next release.

[2015-10-17 19:12] bORm opened #1908 "DropDownMenu not worked!"
If multiple DropDown
Error: You're calling `ensureDirection` on the same style object twice.(…)
[code]

i changed this, remove
[code]

error hidden, but first DropDownMenu not worked

[2015-10-17 19:27] bORm commented on #1908
trouble in
onKeyDown={this._onKeyDown}
https://github.com/callemall/material-ui/blob/master/src/drop-down-menu.jsx#L210

```onKeyDown``` not worked

and

https://github.com/callemall/material-ui/blob/master/src/drop-down-menu.jsx#L270
e.which is undefined

[2015-10-17 19:44] cwonrails commented on #1885
Thanks @gabriel!

[2015-10-17 19:50] cgestes commented on #1782
merged to master :)

[2015-10-17 19:50] #1782 closed

[2015-10-17 19:50] cgestes commented on #1881
fixed on master.

Can you try and close if solved? :D

[2015-10-17 19:54] cgestes commented on #1850
Master now support react 0.14.

can you try with master, and close if everything is alright?

[2015-10-17 19:56] bORm commented on #1881
I`am update from git but nothing changes, where fix?

[2015-10-17 19:57] luisrudge commented on #1782
wow. Congratz!

[2015-10-17 20:00] prattsj commented on #1782
🎉

[2015-10-17 20:03] #1881 closed

[2015-10-17 20:07] bORm opened #1909 "AppBar -> NavigationClose icon lose?"
http://material-ui.com/#/components/appbar

```....iconElementLeft={<IconButton><NavigationClose />...```
https://github.com/callemall/material-ui/blob/master/src/index.js#L47
where is icon?

[2015-10-17 20:28] cgestes commented on #1788
react 0.14 support has been merged to master, can you try it and update the bug report please?

[2015-10-17 20:29] bORm commented on #1908
Please fix
```Error: You're calling ensureDirection on the same style object twice.(…)```

[2015-10-17 20:30] cgestes commented on #1488
react 0.14 support merged to master. Can you close this issue please?

[2015-10-17 20:36] cgestes commented on #1606
It is possible. React 0.14 support has been merged to master.

You can use babel to compile jsx and have ES6 support.

you can find some examples here:
https://github.com/callemall/material-ui/tree/master/examples/

[2015-10-17 21:34] ka2n commented on #1782
:congratulations: :confetti_ball:

[2015-10-18 11:43] Cavitt commented on #1885
Also it seems npm has old libs build, which give react addon warnings and other issues. Consider rebuilding and releasing to npm.

[2015-10-18 12:08] 1983cc commented on #1344
@hai-cea I think you're right. The reason looks like the conflict between React versions. I cleaned the node folders and modify the package.json. It's OK now.

[2015-10-18 12:09] oliviertassinari commented on #1344
@1983cc Good to know. Can we close the issue then?

[2015-10-19 01:35] ayhankuru commented on #1909
I think I've forgotten
https://github.com/callemall/material-ui/blob/master/src/svg-icons/navigation/close.jsx#L5

[2015-10-19 02:29] sanemat commented on #1782
Would you bump the version?

[2015-10-19 03:21] celiao opened #1911 "[Table] Set table column width"
Is it possible to set the width of Table columns?

[2015-10-19 05:33] neverfox commented on #1885
If you don't want to run on a fork, and you happen to have babel locally, you can always just add `./node_modules/.bin/babel --stage 1 ./node_modules/material-ui/src --out-dir ./node_modules/material-ui/lib` to your `postinstall` script.

[2015-10-19 11:54] tomasztomys opened #1912 "[v14] Grid list - warning about not-using react-dom"
[code]

[2015-10-19 14:01] timnew commented on #1902
Same here, always got the error.
[code]

`React` v0.14, `material-ui` is installed from master branch

[2015-10-19 15:30] yuliroth commented on #1782
+1

[2015-10-19 15:42] neerfri commented on #1782
Thanks for this!!!
+1 on the version bump!

[2015-10-19 15:47] pandaiolo opened #1915 "[Styles] ThemeManager cannot override default Typography ?"
This is a question : can I specify, alongside Spacing, FontFamily, etc, a non-default Typography object to override defaults, with the `ThemeManager.getMuiTheme(xxx)` ?

If this is not possible, this would be a nice addition, especially to define my own settings for the font weights

Thanks

[2015-10-19 15:51] oliviertassinari commented on #1782
Yeah, we could do a pre-release at least.

[2015-10-19 16:19] Aweary commented on #468
@hai-cea @mmrtnz It'd be great to get some clarification on browser support.

[2015-10-19 17:26] nslobodchuk commented on #579
+1

[2015-10-19 17:33] Aweary commented on #1908
I'm seeing this issue as well.

[2015-10-19 17:48] oliviertassinari commented on #1912
Looks like we have more component that have this issue: https://github.com/callemall/material-ui/search?utf8=%E2%9C%93&q=%22React.findDOMNode%22&type=Code

[2015-10-19 19:16] Nic128 opened #1918 "0.12.4 doesn't work in strict mode"
material-ui/lib/table/table-body.js:42
  propTypes: {
  ^^^^^^^^^
SyntaxError: Duplicate data property in object literal not allowed in strict mode

#1917 this merge request was merged right after 0.12.4 was released. Can we get a 0.12.5? Otherwise can't use 0.12.4.

[2015-10-19 19:19] oliviertassinari commented on #1918
This was fixed by https://github.com/callemall/material-ui/pull/1917.

[2015-10-19 19:28] bdefore commented on #1918
Also having this issue. 0.12.4 isn't usable for me.

[2015-10-19 19:29] oliviertassinari commented on #1912
I can't find any other `React.findDOMNode`

[2015-10-19 19:29] #1912 closed

[2015-10-19 19:34] shaurya947 commented on #1918
agreed. On it

[2015-10-19 19:35] soda29 commented on #1918
Same at

 /var/development/granliga/redux-gl/node_modules/material-ui/lib/time-picker/clock-hours.js:64
[1]   propTypes: {
[1]
[1]
[1] ^

[2015-10-19 19:49] shaurya947 commented on #1918
@oliviertassinari can you take a look at everything else to make sure that it works in strict mode? I'm finding ways to do the same.

Also, timepicker seems broken on the docs site. Something with the `isRtl` stuff @louy

[2015-10-19 20:03] louy commented on #1918
The issue was that I added "position" instead of "muiTheme" to propTypes.
Please close #1921 and update #1920 to reflect this. Sorry about that.

[2015-10-19 20:05] oliviertassinari commented on #1918
@louy https://github.com/callemall/material-ui/pull/1921 Should be fixing the TimePicker.

[2015-10-19 20:07] shaurya947 commented on #1918
@louy not sure what you mean. You wanted to add `muiTheme` to `propTypes`?

[2015-10-19 20:08] louy commented on #1918
The issue is that "muiTheme" isn't define. #1921 breaks RTL.
I think the lack of "contextTypes" is causing it.

@shaurya947 nope sorry. Got confused a bit. I was supposed to copy *contextTypes* instead of *propTypes*.

[2015-10-19 20:08] louy commented on #1918
I'll send a PR.

[2015-10-19 20:09] oliviertassinari commented on #1918
@louy Ok thanks, I have removed `prepareStyles` becouse we don't use RTL behaviour.

[2015-10-19 20:30] louy commented on #1918
Ok guys I have no idea how this bug works but I have been able to solve it somehow. I think it's related to `<Dialog>` or something.

The issue is that `context.muiTheme` wasn't passed from `<Clock>` (which is inside a `<Dialog>`) to `<ClockHour>`. I solved it somehow by adding `contextTypes.muiTheme` to `<Clock>`.

[2015-10-19 20:30] neverfox commented on #1427
Same. I'm curious to know what why it works in the documentation but not in anyone's code? What's different there?

[2015-10-19 20:51] AdamGorkoz opened #1926 "[docs] RTL support"
Is there no way to set all the components in the application to be RTL ? Can anyone give an accurate example of how to do this  ?

[2015-10-19 20:52] oliviertassinari commented on #1926
@louy Should be able to help you.

[2015-10-19 21:12] louy commented on #1926
Yep. See [here](https://github.com/callemall/material-ui/blob/master/docs/src/app/components/master.jsx#L27-L34).

In your root component:
[code]

[2015-10-19 21:21] turka50 commented on #1926
And how would you do it if it was es6 ? I dont know if you had experience with it but you have a constructor for components instead of getInitialState in ES6 , Doesn't seem logical to return an object from a constructor

[2015-10-19 21:24] louy commented on #1926
I think it would be something like this:
[code]

Take a look [here](https://facebook.github.io/react/docs/reusable-components.html#es6-classes) for more info.

[2015-10-19 21:36] turka50 commented on #1926
This doesn't seem to work , What am i missing ? I'd really appreciate it if you took a look.

[code]

[2015-10-19 21:40] louy commented on #1926
You're missing the childContext part. Just add those things.

Sent from my iPhone

[2015-10-19 21:46] turka50 commented on #1926
Well now it moved the app-bar icon to the right a bit but the title didnt... not exactly RTL yet . Wondering if this component is bugged.

[2015-10-19 22:18] shaurya947 commented on #1918
@Nic128 @soda29 can you tell me a little about how you were using the components? I'm trying to find a way to parse all source files to make sure that fix this issue once and for all..

[2015-10-20 00:11] bha opened #1931 "documentation site is down"
Can't access http://material-ui.com

<img width="1428" alt="screen shot 2015-10-19 at 5 11 22 pm" src="https://cloud.githubusercontent.com/assets/372039/10594684/77de4f1e-7684-11e5-8533-ee1f3f8960d9.png">

[2015-10-20 01:17] ayhankuru commented on #1563
+1

[2015-10-20 05:54] Syynth opened #1932 "Make ListItem's nestedList controllable"
Currently the ListItem supports a prop called `initiallyOpen` and an event `onNestedListToggle`. It would be great if it could simply accept `open` as a prop which overrides the internal state.

[2015-10-20 06:30] oliviertassinari commented on #1931
Is it still down?
It's working fine for me with Chrome 46.0.x. What version are you using?

[2015-10-20 07:02] louy commented on #1918
I think they were trying to pack it with something else and add `'use strict'` to the whole file. Browserify w/ Grunt/Gulp maybe?

[2015-10-20 07:04] oliviertassinari commented on #1918
@shaurya947 https://github.com/callemall/material-ui/pull/1933 We should be ok with this PR.

[2015-10-20 07:10] louy commented on #1926
Hmm. I think you should add `direction="rtl"` to your html file.
Here's how it should look like:
![screen shot 2015-10-20 at 10 09 01](https://cloud.githubusercontent.com/assets/349850/10600334/bbb97234-7712-11e5-8f57-3928129881f4.png)

As opposed to the LTR docs:
![screen shot 2015-10-20 at 10 09 06](https://cloud.githubusercontent.com/assets/349850/10600339/c56ae696-7712-11e5-9fd9-be92b55e1435.p

[2015-10-20 07:11] louy commented on #1926
You know, instead of using `<div>` as the root element, use `<AppCanvas>`. It should solve your problem.

[2015-10-20 07:43] turka50 commented on #1926
What is the AppCanvas component , what does it do ? I don't see it in the components list.

[2015-10-20 08:27] louy commented on #1926
I believe it's a component that's supposed to wrap your whole application. Adds background color etc...

I'm not sure why it's not documented though.
@oliviertassinari @shaurya947 any comments on this?

[2015-10-20 10:09] oliviertassinari commented on #1926
`AppCanvas` is an undocumented component to do some layouting with an `AppBar`. It's useful for displaying the AppBar at the top of the page, in a fixed position. I would not use it if I where you.

[2015-10-20 10:11] oliviertassinari commented on #1926
I'm using a custom component to acheive the same goal as this one as some limitations

[2015-10-20 10:59] davidfregoli opened #1934 "material-ui.com shows blank page on Safari"
Console shows error "SyntaxError: Attempted to redefine property 'propTypes'."
Safari 8.0.8 on OS X Yosemite

[2015-10-20 11:14] oliviertassinari commented on #1934
Maybe linked to https://github.com/callemall/material-ui/issues/1918

[2015-10-20 11:49] bingomanatee commented on #1850
I am getting

npm WARN EPEERINVALID material-ui@0.12.4 requires a peer of react-addons-create-fragment@^0.14.0 but none was installed.
npm WARN EPEERINVALID material-ui@0.12.4 requires a peer of react-addons-pure-render-mixin@^0.14.0 but none was installed.
npm WARN EPEERINVALID material-ui@0.12.4 requires a peer of react-addons-transition-group@^0.14.0 but none was installed.
npm WARN EPEERINVALI

[2015-10-20 11:51] WRidder commented on #1850
@bingomanatee Did you have react 0.14 installed already?

[2015-10-20 11:55] bingomanatee commented on #1850
Yes I am using it in an install of react starter kit
https://github.com/kriasoft/react-starter-kit

That is a good place to test your thing inasmuch as (for instance) webStorm uses it as a template for new projects.

package.json:

{
  "private": true,
  "engines": {
    "node": ">=4.1 <5",
    "npm": ">=3.1 <4"
  },
  "dependencies": {
    "babel-core": "5.8.25",
    "classnames": "2.1.5",
    "e

[2015-10-20 12:13] cgestes commented on #1850
you miss the dependency in your package.json.

See npm 3 changelog related to peerDependencies. they are not installed
anymore.

On Tue, Oct 20, 2015 at 1:55 PM, Dave Edelhart <notifications@github.com>
wrote:

[2015-10-20 12:48] davidfregoli commented on #1934
Just line number, app.js:19716

[2015-10-20 13:45] Nic128 commented on #1918
@shaurya947 I was using server side rendering with react-router.

[2015-10-20 13:51] bdefore commented on #1918
@shaurya947 i was using webpack with stage 0 babel

[2015-10-20 14:54] shaurya947 commented on #1926
@louy @oliviertassinari after seeing this issue, I think it would be a good idea to add a section to the docs site for RTL. @louy, would you like to take the lead on this?

[2015-10-20 16:01] shaurya947 commented on #1934
Methinks this should be fixed with the next release

[2015-10-20 16:01] shaurya947 commented on #1931
dup #1934

[2015-10-20 16:03] shaurya947 commented on #1915
Not as of today @pandaiolo

Right now, Theme and Typography are independent. But perhaps it makes sense to link them inside the ThemeManager.

[2015-10-20 16:07] #1899 closed

[2015-10-20 16:08] shaurya947 commented on #1903
@hbcondo you can either start with the already-defined light / dark raw themes, or define your own raw theme. From there, use the `ThemeManager.getMuiTheme()` function to get the mui theme calculated from your raw theme.

Now, once you have the mui theme object, you can override component-level theming properties using dot notation. You can then pass this theme to all your components using `contex

[2015-10-20 16:12] shaurya947 commented on #1891
^that.

Or outside the class, you can access it using dot notation:

[code]

[2015-10-20 16:12] #1891 closed

[2015-10-20 16:13] shaurya947 commented on #1885
Should be up now, guys?

[2015-10-20 16:17] jma7889 opened #1937 "FlatButton hover color is compatible with material design"
The color theme seems not comply with material design, the hoverColor should be grey instead of lighter pink for primary theme.

I read the google spec again. The material-ui does comply with it. However, most implementation including google's own MDL use grey instead of color for hover effect. And color background hover looks not that good. So please consider. Thank you

[2015-10-20 16:27] pandaiolo opened #1938 "[Theme] Theme not applied, don't understand why (w/ code)"
Hi,

I am trying to change the color of the "primary" button, among other things. As per the docs, I proceeded as following:

File `Theme.js` :

    export default {
        spacing: spacing, // defined in same file
        fontFamily: 'Roboto, sans-serif',
        palette: {
            primary1Color: Colors.blue500, // changed
            primary2Color: Colors.blue700, // changed
            pri

[2015-10-20 16:28] oliviertassinari commented on #1891
@etdurke have a look at https://github.com/callemall/material-ui/pull/1734

[2015-10-20 16:58] louy commented on #1926
Hmm. I'd say let's add an option to `<AppCanvas>` for the fixed `<AppBar>` and make it public. Then RTL would be a piece of cake. I just need a parent element to have the "direction" style property.

@turka50 the alternative solution for now is adding direction="rtl" to html tag. that should be it.

@shaurya947 yes sure. I'll try to do it over the weekend.

[2015-10-20 17:08] oliviertassinari commented on #1926
@louy, I would not use AppCanvas because it's undocumented. However, I agree, having a good layouting component for the AppBar and the content below is valuable.

[2015-10-20 17:42] turka50 commented on #1926
@louy You were right , adding rtl to the html tag solved the problem. Though i couldn't get this to work with the ES6 syntax , some issue with the childContextType , I resorted to using ES5 for this component.

Thanks.

[2015-10-20 18:04] louy opened #1941 "Too much repetition in components (muiTheme in state & context)"
So apparently we have too much repeated code in the components. `contextTypes`, `getChildContext`, `getInitialState` and `componentWillReceiveProps` to name a few.

We could merge them in a Mixin but seemingly React [is moving away](https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750#.r5ktt8a1u) from mixins. The alternative solution is to use a high-order

[2015-10-20 18:07] louy commented on #1926
I'm not really sure how to setup context in ES6. Sorry about that.
You're welcome.

[2015-10-20 18:13] turka50 commented on #1926
I just noticed a very confusing thing , when you switch to rtl and you use AppBar it has the events onLeftIconButtonTouchTap and onRightIconButtonTouchTap , So these are not actually right anymore they are the exact opposite.

For your consideration.

[2015-10-20 18:19] louy commented on #1926
Yep they are. Also all "right" and "left" icons are switched but their names are not.
This is only to make bidirectional apps easier to make.

[2015-10-20 19:30] mbrookes commented on #42
@hilkeheremans did you manage to figure out why 0.10.1 is so much smoother?

[2015-10-20 20:36] chrismcv commented on #1599
we do this: `onItemTouchTap={this.context.router.transitionTo.bind(this, 'url', {params}}`

[2015-10-20 20:49] chrismcv commented on #1001
what is the use case for this?  surely it'd be better to link up to a property on the state?
i suggest we remove these methods.

[2015-10-20 21:05] oliviertassinari commented on #1001
Yeah, I would more than happy to remove imperative `setValue` and `clearValue`.

[2015-10-20 21:45] mbrookes opened #1943 "[TimePicker] Cut transition from hours to minutes is jarring"
Maybe a brief fade would help?

[2015-10-20 22:10] jma7889 commented on #1702
@shaurya947 Thank you! Hope it goes to the document.

[2015-10-20 22:34] patelsan opened #1944 "React 0.14 AppBar error"
I am using the latest version of the material-ui 0.12.4 with React 0.14, i am running in to this error. Looks like I am missing something very obvious?

following is the simplified version of the AppShell it is complaining about:

[code]

[2015-10-20 22:38] oliviertassinari commented on #1944
`NavigationClose` is not inside `mui` see https://github.com/callemall/material-ui/blob/master/src/index.js

[2015-10-20 23:04] patelsan commented on #1944
Thanks a lot @oliviertassinari

[2015-10-20 23:04] #1944 closed

[2015-10-21 06:28] hackingbeauty commented on #1787
Yes, I have defined onChange; however, onChange doesn't seem to work.

[code]

Any ideas?

[2015-10-21 07:49] oliviertassinari commented on #1909
Also linked to https://github.com/callemall/material-ui/issues/1944

[2015-10-21 09:59] ArthurRougier commented on #1880
Hi matsilva, I'm having the same headache to display a default value in a Select Field. Could you describe what implementation finally worked for you ?

[2015-10-21 10:53] DaveWM opened #1947 "GridList missing in docs"
Hey guys, just noticed that the GridList component seems to have disappeared from the docs, looks like commit 0f98495 was the culprit. Before I submit a PR, can someone let me know if this was intentional or not?

[2015-10-21 10:58] frankf-cgn commented on #1834
Have you fixed the issue? You recognized that you have to return the username in the state in the else-case, too, right?

[code]
But even in the uncontrolled case (``value={this.state.username}`` not set) I can't reproduce your problem.

[2015-10-21 11:06] oliviertassinari commented on #1947
Good catch. Do you want to make a PR to add it back ?

[2015-10-21 12:02] DaveWM commented on #1947
done, see #1948

[2015-10-21 12:45] pandaiolo commented on #1938
k, I did not see all these warnings in my console :

`Warning: owner-based and parent-based contexts differ (values: `undefined` vs `[object Object]`) for key (muiTheme) while mounting XXXXX (see: http://fb.me/react-context-by-parent)`

XXXX being sub components of my app.

Not sure how to fix that...

[2015-10-21 12:54] darth-cheney commented on #1885
The peer dependency issue still persists for us on npm release 0.12.4

[2015-10-21 14:43] adamscybot opened #1951 "Use of media queries, pseudo elements, hover, class names on inner elements"
Since the change to inline styles how am I supposed to:

* Add media queries so I can change the styles per breakpoint of material ui components.
* Add pseudo elements.
* Add hover affects.
* Override the styles of inner components.

All the above would be possible (albeit hacky) if every component produced elements with classes set  (using ```!important``` in my CSS). At the moment it creates ele

[2015-10-21 14:46] mattsilv commented on #1934
FYI - I am not able to replicate this in Safari 9.

[2015-10-21 14:52] shaurya947 commented on #1885
Not sure why.. v0.12.4 lists React 0.14.0 as its peer-dependency. @darth-cheney could you post an error log (if any) when you do `npm i` with material-ui v0.12.4?

[2015-10-21 14:53] shaurya947 commented on #1787
If you debug with developer tools on Chrome or something, does the console say anything? (warnings / errors)

[2015-10-21 14:56] darth-cheney commented on #1885
Here is the error:
[code]

Seems like the `react-tabs` package requirement might be the offender here, right?

[2015-10-21 15:19] shaurya947 commented on #1885
Yep. However, where is the react-tabs dependency injected? I don't see it in the MUI package.json

[2015-10-21 15:27] darth-cheney commented on #1885
Ah, yes, you are correct. That was in our own deps file. Looks like we had two of these issues at once. Regular install in a fresh directory works fine

[2015-10-21 15:41] shaurya947 commented on #1885
:+1:

[2015-10-21 15:41] #1885 closed

[2015-10-21 17:39] jsyrjala opened #1953 "Adding strings inside <ToolbarGroup> fails"
`<ToolbarGroup>Hello</ToolbarGroup>`

Results in ` TypeError: Cannot read property 'displayName' of undefined`

The problem is
https://github.com/callemall/material-ui/blob/5212f0d4718675061ea0d0351735966fc3759e12/src/toolbar/toolbar-group.jsx#L118 .  It is lacking check for undefined type.

[2015-10-21 18:27] #1861 closed

[2015-10-21 18:47] rkstar commented on #1918
still having this problem in meteor as well.
  please update npm repo with the fix

[2015-10-21 18:50] oliviertassinari commented on #1918
@rkstar We are working on it.

[2015-10-21 19:12] fortunebubble opened #1955 "onToggle callback function doesn't fire in LeftNav"
I was using Material-UI LeftNav and implemented it as follow
[code]
the strange thing is the icon for each item got loaded correctly, but the onToggle function never get fireback, anyone have any idea why? Thanks

[2015-10-21 19:53] losogudok opened #1956 "[SelectField] [DropDownMenu] Implement multiple select"
What do you think about multiple select?

[2015-10-21 21:07] tarmolov opened #1958 "Align FontIcon inside Button component"
At [documentation page](http://material-ui.com/#/components/buttons) the icon is accurately align to the left side of the button. But it looks different in my demo.

Code:
[code]

Styles:
[code]
I included this css file because I wanted to get the same icon as in doc page. It is just for test.

Of course I can do style inlining for the button and fix the issue. But it doesn't look good for me.

Ho

[2015-10-21 22:23] chrismcv commented on #1956
I think list (and therefore new menus) can do this.  SelectField/DropDownMenu don't use the new menu's yet.  Is that along the lines of what you were thinking...?

[2015-10-21 22:30] oliviertassinari commented on #1956
@chrismcv I think too. I think that we need to updates `SelectField` and `DropDownMenu` to use the new `Menu` component.

[2015-10-21 22:34] skosch commented on #1788
I'm still having exactly the same problems unfortunately. Any idea how I might be able to debug this?

[2015-10-21 23:27] #1870 closed

[2015-10-21 23:30] rozzzly commented on #1132
I've actually started writing my own UI library because of this. I tried Semantic, but it isn't react-y enough, SSR doesn't really work as well either. So I've been using a lot of the theming from semantic (converted from LESS to SCSS) and mixing that with some of the logic I see in material-ui. It's slow going, but I like the result quite a lot! I will post the results once I have a little someth

[2015-10-21 23:31] ayhankuru commented on #1958
material ui not need css file?

[2015-10-21 23:34] oliviertassinari commented on #1030
Should be fixed with the latest release 0.13.0

[2015-10-21 23:34] #1030 closed

[2015-10-21 23:36] oliviertassinari commented on #1918
New versions were released to adresse this issue.

[2015-10-21 23:36] ayhankuru commented on #1938
create mixins and added component?

[2015-10-21 23:37] oliviertassinari commented on #1934
Is this still the case this the latest release of v0.13.0?

[2015-10-21 23:43] rkstar commented on #1918
i updated to 0.13.0 but it is still throwing the same errors in meteor:

[code]

just to confirm, i cat'd the package.json file that was imported into my project:
[code]

thoughts?

[2015-10-21 23:52] danielmeneses commented on #1132
I @rozzzly . Get that out and post here! ;)

[2015-10-21 23:57] #1834 closed

[2015-10-22 00:16] carlitux commented on #1030
@oliviertassinari thanks!

[2015-10-22 01:05] skosch commented on #1788
Ah, it seems like it's a problem on my end, due to a long list of dependencies I can't get rid of right now, one of which insists on pulling in React 0.13. Sigh. Sorry for the noise.

[2015-10-22 01:05] #1788 closed

[2015-10-22 01:42] etmarch commented on #1958
+1. I tried both "before" and "after" for the labelPosition property, but nothing changed.

[2015-10-22 04:04] etmarch opened #1960 "[Dialog]&[DatePicker] Browser scrollbar flickers quickly when dialog is show"
I have noticed that on pages where the height of the page content exceeds the browser height (thus trigger the browser's scrollbar to appear), any dialogs that are displayed will cause the scrollbar to disappear then reappear very quickly. This causes all of the elements on the page to quickly shift left, and then right back to their normal place (once the scrollbar is displayed again).

Has anyon

[2015-10-22 06:57] louy commented on #1934
I've just tried it and it's working for me too. Safari 9 on El Captain.

[2015-10-22 08:17] pandaiolo opened #1961 "Changing components strings label props types to node type"
This issue refers #1950 PR, that changed the prop type of card header title and subtitle to `node` intead of `string` to enable non-text values such as Links, Icons, etc.

Following the discussion on that PR, it seems that other components could also benefit from this change.

I am opening this issue to make an inventory of the places where it needs to be changed, so that I can make a PR with the

[2015-10-22 08:36] daniel-sim commented on #1352
@zachguo was going to start building a sortable, pageable table myself but see you've got something working. When do you think it'll be good to go? Happy to use something in the meantime outside of the material-ui trunk.

[2015-10-22 08:39] orecus commented on #1902
I get the same error with react v0.14 and material-ui v0.13.0 with the following code:

[code]

I also get the following error when I hover over the buttons:
[code]

and if I click on one of them:

[code]

[2015-10-22 09:18] tarmolov commented on #1958
I included css file from `material-ui.com` because of using `muidocs-icon-custom-github` classname. I wanted to reproduce button view exactly as it looks at `material-ui.com`.

I'll update my post. Thx.

[2015-10-22 09:30] JEGardner commented on #1951
+1 Inline style implementation breaks how most devs want to build sites.

[2015-10-22 10:47] davidfregoli commented on #1934
All good now (Safari 8.0.8 on OS X Yosemite)

[2015-10-22 10:50] frankf-cgn commented on #1581
I think it's not as easy as adding a selected prop to ListItem. It's more like the tab/tabs stuff. The state should be held within the List-component, subsequent change of the "selected" ListItem should be reflected by a change of the List-Component state.

I have a first draft implementation with a lot of rough edges in https://github.com/frankf-cgn/material-ui/tree/issue/158
To make my implement

[2015-10-22 10:50] oliviertassinari commented on #1934
@davidfregoli Good to know!

[2015-10-22 10:50] #1934 closed

[2015-10-22 11:31] Webkadabra opened #1962 "TextField with multiline=true can't be focused on"
I have a form with few inputs, and there's a weird issue with multiline textarea: user can't focus on it same way is he can in textfield without multiline. Please, see video: at first, I show how I can focus on inputs without multiline, and then I show that user can't focus on multiline text: http://screencast.com/t/BcGgcPsna85A

[2015-10-22 11:36] oliviertassinari commented on #1962
Can you check if https://github.com/callemall/material-ui/pull/1875 fix this issue?

[2015-10-22 11:58] adamscybot opened #1963 "Time picker alignment issues"
Various problems with the styling of the timepicker (tested in chrome).

Line doesnt line up with numbers.

![timepicker](https://cloud.githubusercontent.com/assets/1210785/10664563/7892bfb4-78bc-11e5-826b-c599f467f31e.png)

Dot on end of line doesnt line up. Also AM/PM buttons too close to "clock":

![screen shot 2015-10-22 at 12 54 16](https://cloud.githubusercontent.com/assets/1210785/10664518/

[2015-10-22 11:58] saikat commented on #684
Hi, just wanted to bump this thread a bit and see if there had been any progress on this front. Is this a direction that's still being explored?

[2015-10-22 12:00] adamscybot opened #1964 "Time picker warning"
When using the timepicker (react 0.14) a warning is printed to console:

[code]

[2015-10-22 12:06] kyle-vermaes commented on #1911
+1

[2015-10-22 12:12] michaelatmender commented on #413
+1

[2015-10-22 12:30] bdefore commented on #1918
the 0.13.0 release is working for me without build problems

[2015-10-22 13:08] TimothyKrell commented on #1918
0.13.0 fixed the build errors in webpack for me as well.

[2015-10-22 13:40] nhantamdo commented on #1738
Hi guys, is this fixed in v0.12.5 yet? I'm using v0.12.5 and this problem still there.
What's the quick fix for it without forking the whole source base?
Thanks

[2015-10-22 13:41] Webkadabra commented on #1962
@oliviertassinari thanks for reply! Yes, this fixes the issue, hopefully it'll be in next release (it's not in 0.13)

[2015-10-22 13:44] oliviertassinari commented on #1962
Perfect, I'm closing this issue.

[2015-10-22 13:44] #1962 closed

[2015-10-22 13:55] yulric commented on #1738
Hey nhantamdo, so this was supposed to be fixed. Can you give the your use case where it's not working? Thanks.

[2015-10-22 14:08] nhantamdo commented on #1738
Hi yulric,
If set minDate={new Date()}, and nagivate to next month (using > button), the < button still disabled. The only way to enable it was to click on some random date (on that next month page). After that the < button was enabled even for the months it was not supposed to be (months prior to minDate).
Hope this helps,

[2015-10-22 14:12] yulric commented on #1738
When I set the minDate in the Ranged Date Picker example in the material-ui docs and open the DatePicker it seems to be woking correctly i.e. the previous month button is initially disabled and clicking on the next month button enables it. Could you try it here http://material-ui.com/#/components/date-picker and see if your use case still fails?

[2015-10-22 14:24] matsilva commented on #1880
First thing is first... select fields are actually Drop Down components http://material-ui.com/#/components/dropdown-menu, which may help you have a better understanding. If you were like me, you were studying text fields to try and understand it.

The data a select field returns when selected looks something like this:
[code]

The select field uses the valueMember property to access the desired v

[2015-10-22 14:27] matsilva commented on #1880
@ArthurRougier if you can confirm that knowing drop-down-menu is the correct documentation to be looking at, my suggestion would be to simply make that clear in the text-fields docs with a link to the drop down menu docs.

@oliviertassinari  thoughts?

[2015-10-22 14:30] tmayr commented on #1822
Is this currently possible in any way ?

[2015-10-22 14:39] oliviertassinari commented on #1880
I agree the documentation and the usage of the SelectField is not intuitive right now. It would be improved!
[code]
This is how I'm using it. `value` refers to one of my object `payload`.

[2015-10-22 14:43] cybercomkvint opened #1965 "Help: Use fluxible-router"
Hi,

When using the LeftNav I can only send in an array of menu items and when using fluxible-router I need the to be rendered with the fluxible-routers NavLink.
Anyone got this to work?

Regards

[2015-10-22 14:48] Nic128 commented on #705
+1

[2015-10-22 16:08] nhantamdo commented on #1738
@yulric I've tried to do exactly as in the example docs but the problem still there. Is the example using the lastest version? (v0.13.0). I'm using version v0.12.5 because meteor haven't updated react to v.0.14.0 yet.
Thanks,

[2015-10-22 16:16] hbcondo commented on #1903
Hi, @shaurya947. Thank you for your reply. Our code was indeed updated to use the new methods of 'ThemeManager' and setting the provided light / dark raw themes works well. However, our custom theme that is defined in its own .js file isn't working. Do you mind reviewing the attached screenshot of code and seeing which lines (if any) we would need to modify to work with v.12? Thank you.

![custom-

[2015-10-22 16:36] yulric commented on #1738
@nhantamdo v0.12.5 has the fix for the issue. Have you made sure that you have v0.12.5? And if you do could you send me a code snippet with the problem so I can debug it on my end? Thanks.

[2015-10-22 16:38] oliviertassinari commented on #1898
@mkotar A new version was released, can you try it?

[2015-10-22 16:40] oliviertassinari commented on #1850
The latest release of material-ui add the support of react v0.14.
If you have any issue, please report them. Thanks.

[2015-10-22 16:40] #1850 closed

[2015-10-22 16:42] oliviertassinari commented on #1712
This should be fixed with the latest release.

[2015-10-22 16:42] #1712 closed

[2015-10-22 16:59] oliviertassinari commented on #458
First attent https://github.com/callemall/material-ui/pull/1734

[2015-10-22 17:31] oliviertassinari commented on #754
`getCurrentTheme` is no longer in the source code.

[2015-10-22 17:31] #754 closed

[2015-10-22 17:34] nhantamdo commented on #1738
@yulric Thanks for your help. The problem was on my end. I updated material-ui to v.0.12.5 yesterday and somehow the old version still cached in meteor build. Great work guys !
BTW, can you shed some light on how to internationalize this DatePicker? I need to support another language.
Many thanks,

[2015-10-22 17:36] oliviertassinari commented on #1064
Resolved by https://github.com/callemall/material-ui/pull/1959

[2015-10-22 17:36] #1064 closed

[2015-10-22 17:37] brezal opened #1966 "Multiple Headers for left-nav"
Is there any planned work on allowing for multiple headers in the left nav?

The following screenshot has the headers demonstrates what I am referencing with the headers `Android SDK` and `Unity SDK`. It was taken from https://developers.google.com/cardboard/android/  after making the screen small enough that the burger icon appears and then clicking on it.

<img width="284" alt="screen shot 2015-

[2015-10-22 17:43] oliviertassinari commented on #1418
@rblakeley Thanks for pointing this out. @avianate Feel free to reopen if it's still not working.

[2015-10-22 17:43] #1418 closed

[2015-10-22 17:44] #1488 closed

[2015-10-22 17:46] oliviertassinari commented on #1530
@mercuriete Thanks. This is now fixed by https://github.com/callemall/material-ui/commit/c7f6a82a155dee9f415633c3f9dc72bda4931d6a.

[2015-10-22 17:46] #1530 closed

[2015-10-22 17:47] #1528 closed

[2015-10-22 17:47] #1606 closed

[2015-10-22 17:54] oliviertassinari commented on #1769
New versions were released since then. I'm gonna assume this is fixed.

[2015-10-22 17:54] #1769 closed

[2015-10-22 17:56] oliviertassinari commented on #1893
@CodeOfDavid Is this PR https://github.com/callemall/material-ui/pull/1668 solving the issue?

[2015-10-22 17:57] oliviertassinari commented on #1853
@yongxu Thanks for this initiative. React v0.14 is now supported, I'm closing this issue.

[2015-10-22 17:57] #1853 closed

[2015-10-22 17:59] yulric commented on #1738
No problem. I'm not sure about the internationalize part unfortunately. @shaurya947 would have a better idea.

[2015-10-22 18:00] CodeOfDavid commented on #1893
Yes. Should I post the issue there?

[2015-10-22 18:07] oliviertassinari commented on #1893
What do you mean?

[2015-10-22 18:25] Webkadabra commented on #1786
**UPDATE** I see there is now `header` option. Would be great to have `footer` as well. What do you think?

[2015-10-22 18:37] shaurya947 commented on #1788
No worries @skosch. Hope you're able to get it working!

[2015-10-22 18:39] shaurya947 commented on #1581
@frankf-cgn actually just feel free to submit a PR when you feel ready and that way it would get reviewed by more people :-)

[2015-10-22 19:24] shaurya947 commented on #1918
@rkstar can you try to identify which particular source file / module (if any) is the culprit?

[2015-10-22 19:30] oliviertassinari commented on #1918
Should we reopen this issue?

[2015-10-22 19:37] shaurya947 commented on #1903
@hbcondo, first off, define your custom raw theme in a js file. Let's call it `my-custom-raw-theme.js`. In your case that would look like (edit the code below to match your color values).

[code]

Now, in your main app component, include this raw theme and the `ThemeManager` module as follows:

[code]

You can find all this in the documentation. Please go through it.

[2015-10-22 19:37] #1903 closed

[2015-10-22 19:38] anthony-dandrea opened #1968 "Changing the color of the inputted text on a text field"
After looking at the docs and the code there doesn't appear to be a good way to change the color of the text inside the input field itself. Default color is black `rgba(0, 0, 0, 0.87)`. Something similar to `underlineFocusStyle` or `hintStyle` would be awesome.

[2015-10-22 19:46] shaurya947 commented on #1738
@nhantamdo regarding the internationalization part, @oliviertassinari is leading that effort #1658

[2015-10-22 19:59] hourliert commented on #748
:+1:

[2015-10-22 20:12] ArthurRougier commented on #1880
@matsilva and @oliviertassinari thanks a lot for your thorough explanations, now I finally get it... I was actually using the menuItems as the dropdown documentation suggested to :

[code]
But what I didn't get was:
* That valueMember was actually to change the member to look for, corresponding to the value.
* And more stupidly, that value was expecting the object payload... I was trying to set a

[2015-10-22 20:29] rkstar commented on #1918
i'm using it with [meteor react packages](https://github.com/meteor/react-packages) following [this process for adding npm packages](http://react-in-meteor.readthedocs.org/en/latest/client-npm/)

meteor is using react 0.13.3 and i noticed `react@^0.14.0` in the `package.json` for the 0.13.0 material-ui release.  could this be the problem?

material-ui 0.12.3 works fine w/my app, but 0.12.4 throws

[2015-10-22 20:48] oliviertassinari commented on #1918
@rkstar Can you try 0.12.5?

[2015-10-22 21:33] theo-bt commented on #1849
@atlewee THANK YOU!

[2015-10-22 21:59] cosminnicula commented on #1951
@adamscybot for media queries and pseudo-classes you can use Radium (http://projects.formidablelabs.com/radium -> check out the API Docs). For example, with Radium you can have things like a media query ```@media (min-width: 992px)``` or a pseudo-classes ```:hover``` right in your inline style - which is super useful.

Pseudo-elements are nothing more than JavaScript variables and math -> check ou

[2015-10-22 22:18] jquense commented on #1951
why am I being pinged here?

[2015-10-22 22:31] njoy89 commented on #579
+1

[2015-10-22 22:37] gfogle commented on #1849
@atlewee - yes, missed that in the doc!

[2015-10-22 22:37] #1849 closed

[2015-10-23 01:01] rkstar commented on #1918
i started a clean project and attempted 0.13.0 again and this time there were no errors.  my react version is still using meteor's 0.13.3 react, but material-ui did not throw the `propTypes` error that it had been previously.

it seems this may have been a case of the way the `meterohacks:npm` and `npm-container` packages upgraded material-ui when i changed the `packages.json` file from 0.12.3 to

[2015-10-23 01:36] dshorowitz commented on #1366
+1 for the children inside parent FAB. MaterializeCSS has this. See http://materializecss.com/buttons.html on the bottom right of the screen as an example.

[2015-10-23 02:50] skosch commented on #1788
This was indeed the problem. I've gotten rid of the dependencies now, deleted the 0.13 folder and voilà, no more complaints.

[2015-10-23 05:25] #1918 closed

[2015-10-23 06:21] cosminnicula commented on #1951
@jquense maybe you can help us a bit. Here https://github.com/react-bootstrap/react-bootstrap/issues/362 you mention that descendant and sibling selectors are hard with inline styling. Also the React Widgets as well as React Bootstrap libraries heavily relies on external CSS classes rather than inline styling. I was wondering if you could share some code with how hard it is to achieve descendant o

[2015-10-23 06:52] ChitaGideon opened #1970 "webpack example denpendencies"
the example can not be started up correctly

[code]

[2015-10-23 10:30] esseswann commented on #779
+1

[2015-10-23 11:00] curdinB opened #1972 "Table component breaks IE compatibility"
Hi

Unfortunately, the [Table Component](https://github.com/callemall/material-ui/blob/v0.13.0/src/table/table.jsx)  breaks compatibility with IE. This is caused by the statement on line 109

[code]

[code]
is part of the [ES6 Standard](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...of) and not supported by IE.

I think it was introduced in version v0.11.0

Is t

[2015-10-23 11:53] maitriyogin opened #1973 "Acceptance Testing"
Hi,
first thanks for an awesome implementation!
And keeping upto date so fast, cool.
Anyway, I'm wondering what the best practices are for identifying dom elements for acceptance testing?
I'm using nightwatch but would be the same for protractor, fitness etc ...
I can't seem to find a way of setting ids on the components ? which may not be the best way to go anyway and I'v been moving more to addi

[2015-10-23 12:06] TrySpace opened #1974 "[Dialog] key warning for Dialog children"
React v.14, Mui v.0.13

Whatever I put inside `Dialog`, I get the dreaded:

      Each child in an array or iterator should have a unique "key" prop. Check the render method of `IconChooser`. See https://fb.me/react-warning-keys for more information.

I've tried putting an empty `<div>` inside, or just a string or text, or nothing at all, it will still give the same warning.

[2015-10-23 13:17] ArthurRougier opened #1975 "className not working on SelectField component"
when setting a className on a SelectField component, the class is not appended on the main element but on one of its children.

![selectfieldissue](https://cloud.githubusercontent.com/assets/8143675/10693536/19622902-7999-11e5-90f7-f9d1fce59a81.png)

[2015-10-23 13:19] cosminnicula commented on #1951
@adamscybot agree on the fact that relying on those kind of selectors is fragile because they're tightly coupled to the HTML structure and also not opened for further customization because of ```!important```.

However, I don't see why Material UI won't accept pull requests for including customization points (CSS classNames or inline styling parameters or whatever) for every inner component. jQuer

[2015-10-23 13:29] cybercomkvint commented on #1965
In case anyone else have the same question this is my own answer:

[code]

[2015-10-23 13:30] oliviertassinari commented on #1973
I don't know what is the best way to do fonctionnal testing. However I can expose you how I'm doing it.

As you said, the challenge is regarding selecting elements. To do it I'm adding `data-test` property to the root of my component.
Then to get ride of them in the production build, I'm using https://github.com/oliviertassinari/babel-plugin-react-remove-properties

[2015-10-23 13:36] maitriyogin commented on #1973
sounds interesting, are you just putting that property directly on the MUI React component?
like <FlatButton data-test='appbar__logout’ />
/Stephen.

[2015-10-23 13:42] oliviertassinari commented on #1973
Yes, like this.

[2015-10-23 13:49] Cavitt commented on #748
I have a solution, I'll submit a PR today.

[2015-10-23 13:50] oliviertassinari commented on #1972
Thanks for pointing this out.
Looks like babel isn't transpiling it. I'm wondering if you could fix this with babel or if we had to use the ES5 `for var` way.

[2015-10-23 14:07] #1953 closed

[2015-10-23 14:49] oliviertassinari commented on #1970
@ChitaGideon Does https://github.com/callemall/material-ui/pull/1971 solve your issue?

[2015-10-23 14:52] oliviertassinari commented on #1965
@cybercomkvint Should we close this issue?

[2015-10-23 15:10] ChitaGideon commented on #1970
@oliviertassinari
After update ,I still have some problem

[code]

I do not really know , whether those packages is necessary

[2015-10-23 15:16] oliviertassinari commented on #1970
This package are necessary. Whitch version of npm do you use?

[2015-10-23 15:17] davidmdem commented on #1970
This is likely because of npm 3 does not install the peer dependencies.

[code]

Cleared up` npm install` issues up for me.

[2015-10-23 15:22] cybercomkvint commented on #1965
Yes you can do that if you want.
Thanks.

On 23 Oct 2015 4:53 p.m., Olivier Tassinari <notifications@github.com> wrote:

@cybercomkvint<https://github.com/cybercomkvint> Should we close this issue?

-
Reply to this email directly or view it on GitHub<https://github.com/callemall/material-ui/issues/1965#issuecomment-150596752>.

[2015-10-23 15:33] #1970 closed

[2015-10-23 15:34] oliviertassinari commented on #1970
@ChitaGideon Thank for the feed back. It should be fixed now.

[2015-10-23 15:36] chantastic commented on #1951
I've been pinged on various networks to come weigh in on this.

Breakpoint, hover, and pseudos can be pretty tricky in inline-style systems. As mentioned above [Radium](http://projects.formidablelabs.com/radium/) is a really nice abstraction that feels very Sass-like.

I wouldn't recommend going it alone, it's a tricky problem.

I can't really speak to the rest. I am not an active part of the mate

[2015-10-23 15:38] TrySpace opened #1979 "React .14 warns <a> cannot be descendant of <a>"
I'm nesting an `IconMenu` inside a `ListItem`:
Now both use `EnhancedButton` which generates an `<a>` tag around their children

    iconButton = <IconButton>more</IconButton>
    iconMenu = (  <IconMenu iconButtonElement={iconButton}>
                    <MenuItem primaryText="Remove" onTouchTap={@removeItem} />
                  </IconMenu>
    )

    <ListItem
       rightIconButton={iconMenu}>

[2015-10-23 15:52] otroboe commented on #1911
+1

[2015-10-23 16:23] #537 closed

[2015-10-23 17:51] louy commented on #1979
So I think the real issue is that we have no support for nested menus yet.

[2015-10-23 17:55] louy opened #1981 "DatePicker & TimePicker shouldn't allow text selection"
A picker would typically be dragged to chose a precise value. However, when dragging with a mouse some text might be selected and the result is ugly.

![screen shot 2015-10-23 at 20 55 04](https://cloud.githubusercontent.com/assets/349850/10700720/5ad9d9be-79c8-11e5-918a-fd607ab1173e.png)

![screen shot 2015-10-23 at 20 55 55](https://cloud.githubusercontent.com/assets/349850/10700733/7760a612-79c

[2015-10-23 17:56] louy commented on #1981
![screen shot 2015-10-23 at 20 55 55](https://cloud.githubusercontent.com/assets/349850/10700733/7760a612-79c8-11e5-928c-2d17bb200d8c.png)

[2015-10-23 18:11] turt2live commented on #1972
For me it was transpiled correctly: the loop was `for (var child of children)`, although there was a `Symbol.iterator` reference causing issues. Requiring `babel/polyfill` as described [here](http://babeljs.io/docs/usage/polyfill/) appears to have resolved the issue.

[2015-10-23 18:51] epferrari commented on #1812
I've been working with this as well, and think the API would benefit from some more flexibility here in the form `ThemeMangager.getMuiTheme()` accepting an [optional] second argument: `overrideComponentThemes`, which would ideally be a function that returned your custom component styles at the time mui created or updated the `muiTheme` object. Also having a `this.context.muiTheme.getPalette()` met

[2015-10-23 19:54] #1947 closed

[2015-10-23 19:55] #1351 closed

[2015-10-23 21:14] quanglam2807 commented on #593
This is actually a great idea. I have tried to test porting `material-ui` to React-Native. We only need to stylesheets a little bit, change all `div` to `View`, change all `h1`, `h2`, etc to `Text` and it'll work great. The only problem I've found is that React Native doesn't fully support `boxShadow` so it's hard to implement `Paper` component at the moment. Also, it would be great if we can grea

[2015-10-23 21:35] oliviertassinari commented on #593
Couldn't we use a babel-plugin-transformer to do it?

Do you have a demo project?

[2015-10-23 23:23] quanglam2807 commented on #593
@oliviertassinari

I'm not sure as the stylesheet of React Native is quite different from CSS so it'll be quite complicated to make the transformer.

Not now cause' I'm quite busy but I'll try to show you a small demo soon.
But here is what we need to do

Stylesheets
[code]
to
[code]
[zIndex solution](https://github.com/facebook/react-native/issues/131)

JSX
[code]
to
[code]

We also need to modif

[2015-10-24 03:22] muloka commented on #1030
merci!

[2015-10-24 09:25] Cavitt commented on #705
I've been working on this. I'll have a PR soon.™

This is a fork of an inline prefixer library I found in a Radium issue discussion (they're having the same issue)
Currently my change is in a pull request to go further upstream, but you can check it out here:
https://github.com/Cavitt/inline-style-prefixer

The project initially is just for prefixing based on a user agent, which you can do.
Howeve

[2015-10-24 10:07] oliviertassinari commented on #705
@Cavitt So the solution you propose compute the mising prefix at the run-time.
Looks like we have to add all the prefix without taking account the user-agent to make it work.
Hence, why not doing it a the build time with https://github.com/UXtemple/babel-plugin-react-autoprefix?

[2015-10-24 10:44] oliviertassinari commented on #1909
As pointed out by @ayhankuru, the icon is locted here https://github.com/callemall/material-ui/blob/master/src/svg-icons/navigation/close.jsx. We have also added an index for all the availabe svg icon: https://github.com/callemall/material-ui/blob/master/src/svg-icons/index.js.

[2015-10-24 10:44] #1909 closed

[2015-10-24 13:47] lixiaoyan commented on #1563
+1

[2015-10-24 13:50] mbrookes commented on #1563
Not just iOS - also seeing this on Android in Chrome and Cordova/crosswalk.

[2015-10-24 13:54] oliviertassinari commented on #1563
I have the same result using the touch device emulator of Chrome. I think that we are listening to two different events.

[2015-10-24 14:03] mbrookes commented on #1563
@ka2n pointed to the cause in an earlier comment.

[2015-10-24 18:59] dkorn opened #1984 "Unable to use Avatar in LeftNav MenuItem"
I'm trying to add an Avatar or leftAvatar as a MenuItem in LeftNav but can't find the way to do so.
I was looking into menu-item.jsx but it seems there is no Avatar component option there. Perhaps through NESTED ({ type: MenuItem.Types.NESTED.leftAvatar)?

[2015-10-24 23:35] oliviertassinari commented on #1975
I agree with you. I think that properties not used by the internal of material-ui component should be applyied to the root element.

[2015-10-25 01:55] andrewhn commented on #1897
The table 'resets' on the render method being (re)called. You can see this if you wrap the setState in your _onRowSelection method in a timeout.

To get around it, you can do something like this:

    // on row selection event handler like this
    _onRowSelection(rows) {
      this.setState({selectedRows: rows});
    },

    // when you generate your table body, set the 'selected' attribute of ea

[2015-10-25 12:38] omerts opened #1986 "Documentation for previous versions"
Hello,

We are using version 0.7.5, and since updating the library has breaking changes (such as css being inlined), we would like to stay with our working version. The problem is, that there is no documentation for older versions.

Omerts

[2015-10-25 12:55] Shachar16290 commented on #1986
Agree

[2015-10-25 13:22] iwang commented on #1531
in my case I just add below in the first line of entry point.
import 'babel-core/polyfill';

[2015-10-25 16:41] oliviertassinari commented on #1975
@ArthurRougier I think that https://github.com/callemall/material-ui/pull/1910 is solving your issue. Can you check?

[2015-10-25 20:44] Wabantti opened #1987 "SelectField underlineStyle having no effect"
Giving underlineStyle to a SelectField has no effect to the underline.

I just started using material-ui but by looking at the source code of selectField.jsx it seems that the underlineStyle is not passed to the TextField that creates the underline. Only the DropDownMenu gets the underlineStyle.

[2015-10-26 03:30] justrhysism commented on #748
News?

[2015-10-26 06:20] oliviertassinari commented on #748
This is a duplicate of https://github.com/callemall/material-ui/issues/705.
I'm gonna close this thread.

[2015-10-26 06:20] #748 closed

[2015-10-26 12:03] pasviegas commented on #1902
Same error!

[2015-10-26 12:51] aleksey-taranets commented on #705
Hello guys, any updates in the issue? We have implemented material ui and when switched to universal app got the issue. It's quite important for react development, maybe authors can give us vision of their next steps in this?