[2016-09-28 13:42] afkatja commented on #2843
It still seems impossible to override styling of the SnackBar,
using
[code]

[2016-09-28 15:10] rosskevin opened #5276 "next: [.babelrc] .babelrc.env.production provided an invalid property of "properties""
### Problem description
When trying to compile with the production environment, it seems that the `babel-plugin-react-remove-properties` is not configured properly. This matters to me because I'm including `src` directly so when doing so for my own project's compilation it also breaks with the same error as docs.

/cc @oliviertassinari

The following error is seen repeatedly for each src file:
[co

[2016-09-28 15:12] PolGuixe opened #5277 "Error: <circle> attribute r: A negative value is not valid. ("-0.75")"
### Problem description
I just updated to `0.16.0-rc2` and I am getting this error.
[code]

### Steps to reproduce
I just updated to `0.16.0-rc2`.

### Versions

- Material-UI: 0.16.0-rc2
- React: 15.3.2
- Browser: Chrome & Safari, not in Firefox.

[2016-09-28 15:20] prasadpandari commented on #2480
setting autoWidth={true} is not working for Select field

[2016-09-28 15:27] oliviertassinari commented on #5276
@rosskevin Thanks for raising it.
Right, the docs is wrong [here](https://github.com/oliviertassinari/babel-plugin-react-remove-properties) and the source code is wrong [here](https://github.com/callemall/material-ui/blob/next/.babelrc#L12).
Adding an additional `[]` should fix it. Do you want to submit a PR?

[2016-09-28 15:27] oisinlavery commented on #5190
@oliviertassinari can this be labelled as a Material Design spec issue?

[2016-09-28 15:33] rosskevin commented on #5276
Please go ahead and commit the fix when you have time.  I don't think two brackets are worth a PR process for me.

[2016-09-28 15:44] ashl1 commented on #5258
@sottar Think you can open a PR about this. Think the behavior won't be changed in ```next``` branch, and because this will change only docs it can be merged not to wait ```next``` release, can it @oliviertassinari ?

[2016-09-28 15:51] ashl1 commented on #5262
This is not a bug neither issue.
You should learn appropriate docs:

- https://facebook.github.io/react/docs/getting-started.html
- http://www.material-ui.com/#/get-started/prerequisites

or can easily find courses, like:
- https://www.codecademy.com/learn/react-101

@oliviertassinari please close this

[2016-09-28 16:54] bramick commented on #4066
Ok, so I'm missing what's new... Anybody?

[2016-09-28 16:54] nmaves opened #5278 "[Dialog] Background color issue"
### Problem description

I am trying to override the background styles of a dialog.  I want to have a dialog with a translucent background.  The issue is that there is the [<Paper>](https://github.com/callemall/material-ui/blob/master/src/Dialog/Dialog.js#L334) element that is using a background color of white in-between the contentStyle and the title/body styles.
### Steps to reproduce

[code]
##

[2016-09-28 17:17] oliviertassinari commented on #5262
@ashl1 Thanks for taking the time to answer it.

That's not an issue with this lib. I'm closing it. Would be better to post your question on StackOverflow, the answer would help more people.

[2016-09-28 17:17] #5262 closed

[2016-09-28 17:28] GAumala commented on #5094
This is a fairly common issue with the tabs component. Maybe the docs could be improved a little? The `tabTemplate` prop is described like this:

I think this is a little vague. linking to the [default tab template](https://github.com/callemall/material-ui/blob/master/src/Tabs/TabTemplate.js) could be a great start. Adding a little info about the default tab template's implementation would be nice

[2016-09-28 17:37] mustafa-visokio commented on #5094
It would be great if we could specify the style of template and gets my vote ;)

[2016-09-28 17:47] #5276 closed

[2016-09-28 17:57] newoga commented on #4066
@bramick `next` isn't fully documented yet (however it does have a documentation site). For now you'll have to read source and you can reference the documentation site source code to see how it works. Just realize some of it may still be a moving target.

[2016-09-28 18:00] gdaunton commented on #4066
@oliviertassinari Wow! Thanks for the in-depth response.

I can't say I entirely agree, but you defiantly cleared up a few questions I had.

I do agree, we should be (and are) moving toward a world where our styles are component based, and css is not great for that. However, (in my opinion) there are still a few wrinkles to iron out before we should be adopting this at scale.

I am curious though,

[2016-09-28 18:03] rosskevin commented on #4066
@gdaunton read about jss performance at https://github.com/cssinjs/jss/blob/master/docs/performance.md

It is standard css as rendered, added to the page, but authored within the component.  I'm using the `next` branch and it is working quite well.

[2016-09-28 18:56] gzoeller89 opened #5279 "[TextField] Jest Snapshot not compatable due to JSDom ScrollHeight Issue"
### Problem description

TextField is not compatable with the new Jest Snapshot feature because it uses JSDom.  shadow.scrollheight throws an error.
### Steps to reproduce

Try to take a snapshot of a textfield in jest and error is thrown due to this.refs.shadow being null
### Proposed fix

  `if(!shadow) return;` on line 125 prevents js dom from breaking.
### Versions
- Material-UI: 0.15.4
- Reac

[2016-09-28 19:04] mmmeff opened #5280 "[MenuItem] Disabled background color doesn't update when props change"
### Problem description

When switching the MenuItem component from disabled to not disabled by updating the element's `disabled` prop through a click event on said MenuItem component, the background of the `MenuItem` component remains gray even though the other attributes return to their non-disabled state. The background will remain gray/disabled until the user mouses over the MenuItem component

[2016-09-28 21:42] cheonhyangzhang opened #5281 "[Tabs] It would be better to have the props to override the style on wrapper of TabTemplate"
### Description
Currently there is no way to override the style on the wrapper generated by TabTemplate.
Based on https://github.com/callemall/material-ui/blob/master/src/Tabs/TabTemplate.js#L22-L24
TabTemplate returns the tab content with a wrapper div,
` <div style={styles}>
        {this.props.children}
      </div>`
but this style is not able to be overwritten when using Tabs.

Like for Tabs,

[2016-09-28 21:54] bobmonteverde opened #5283 "RaisedButtton custom hover styles"
### Problem description

I don't see any obvious way to change the hover styles on RaisedButtons.  Instead of lightening on hover I essentially need the inverse, need it to darken... but ideally would have complete control over how the hover looks via a hoverStyle or similar property.
### Steps to reproduce
### Versions
- Material-UI:
- React:
- Browser:

[2016-09-28 22:08] bramick commented on #4066
@newoga can you send me a link to what you're referring to?

[2016-09-29 00:31] stunaz commented on #3614
I like the idea of https://github.com/callemall/material-ui/pull/5267, been using angular-material styles in the past, and loved it. its offers really more flexibility than flexboxgrid.

[2016-09-29 01:00] kelonye commented on #5235
Nice! 😍

[2016-09-29 03:26] stone89son opened #5284 "Menu component lost background"
### Problem description
Hi everyone.
I use Menu component but background lost. other component background is ok.

### Steps to reproduce

### Versions

- Material-UI: 0.15.4
- React: 15.3.1
- Browser: Chrome

### Description
### Images & references
https://drive.google.com/file/d/0B7t1NUY93GMBY3RUVlNtTTlRVFU/view?usp=sharing

[2016-09-29 04:57] LittleCVR opened #5285 "zDepth should be consistent with Material Design"
### Problem description

There is no unit for zDepth, but I suppose it uses "dp" as what Material Design does and corresponds to the elevation in Material Design. Material Design states elevation and shadows in https://material.google.com/material-design/elevation-shadows.html

But zDepth has less levels than what Material Design has defined, only 0 - 5 integers are allows, where as Material Desig

[2016-09-29 05:47] stone89son commented on #5284
I has fixed. comment to this code
@import '../../../node_modules/normalize.css/normalize.css';

[2016-09-29 06:46] jlroettger commented on #3959
Yeah this was a just-starting-out-with-React mistake, only needed to pass `...props`

[2016-09-29 06:56] ashl1 commented on #3614
I suppose if MUI want to use any grid system it should follow Google Material specification. So, from one hand it can be flexible, from the other it should not give the control to make grid inconsistent to GMD.

[2016-09-29 07:00] ashl1 commented on #4066
@bramick OMG! That's really simple, isn't it? For example, for Button in ```next``` look [here](https://github.com/callemall/material-ui/blob/b372f6223ec2528dbe02f100e4802334f88445b7/src/Button/Button.js#L52-L61).

[2016-09-29 08:01] farfromrefug commented on #4923
@oliviertassinari thanks for the link. You should put this on material-ui webpage, so useful! And might solve a lot of issues like mine.

Now i found the source of my issue, it was a css issue with ```box-sizing: border-box;``` being put where it shouldn't! I am really really sorry to have bugged you with this!

The good thing is that i made a very simple electron/material-ui boilerplate if that's

[2016-09-29 08:01] #4923 closed

[2016-09-29 08:05] oliviertassinari commented on #4923
It's now in the `CONTRIBUTION.md`.

We have had other issues linked to this. The approach we decided to take is to reset the box sizing where we depend on it. Would that makes sense with the `List`?

[2016-09-29 09:11] farfromrefug commented on #4923
I am a not a "pro" css dev so my opinion my not be the best one. But seeing how much time it took me to find this one, i would say you should definitely do it ;)

Thanks again

[2016-09-29 09:17] diedsmiling opened #5286 "[Table] Specify background colour for striped rows within a table"
### Description

One can set `stripedRows` prop for a `<TableBody>` component, and even rows will get different background color. But how can this color be changed? Or not just the color, but even some other style properties. I thought about adding a prop `stripedRowsStyle`  for the possibility to customize the appearance of striped rows. Does it makes sense to make a PR with this feature?
### Ima

[2016-09-29 09:29] VasaBarada opened #5287 "Scroll bar appears then disappears; chosen value of drop-down aren't displayed."
### Scroll bar appears then disappears; chosen value of drop-down aren't displayed.
### Steps to reproduce
1. bug with scroll bar is reproduced after editing the fields, input text with Ctr + V or after resizing the browser.
   http://prnt.sc/cnovt2
2. chosen value of drop-down can disappear after several clicking on it.
   http://prnt.sc/cnov5f
### Versions

"react": "^15.3.2",
 "react-dom": "^15

[2016-09-29 09:51] gausie commented on #4858
`menuStyle` is actually misnamed here, as it does not pass through to the `menuStyle` property on the DropDownMenu as one might expect, instead passing through to the `style` property. This means that there is no direct way to change the inline styles of the Popover Menu itself.

[2016-09-29 10:26] gausie opened #5288 "There is no way to affect the stying of the menu in a SelectField"
### Description

There is no way (via class or inline styling) to affect the styling of the popover menu in a SelectField.

`menuStyle`, despite looking like it might be the correct prop actually affects the underlying DropDownMenu control and not the dropdown menu itself.

Not sure how you would want this implemented so awaiting advice before making a PR.
### Images & references

https://github.c

[2016-09-29 10:38] BlockChange opened #5289 "Unknown prop `primary` on FloatingActionButton"
Version 15.4

When using `primary` prop on `FloatingActionButton`

[2016-09-29 13:18] jpetitcolas commented on #4275
We also have the issue on 0.15.4:

[code]

[2016-09-29 14:54] PolGuixe opened #5292 "[Feature-Request]: Improved FAB"
Could the FAB be like this ones:
https://github.com/nobitagit/react-material-floating-button
https://github.com/mastermoo/react-native-action-button
😄

[2016-09-29 16:23] zetos commented on #2758
I am running into the same problem as the screenshot of @chungwong posted. The scroll bar is wrong placed, even on the material-ui docs. I dont see the same bug using Firefox though..

![screenshot from 2016-09-29 13-17-06-crop](https://cloud.githubusercontent.com/assets/18203647/18962525/97d27222-8647-11e6-9b1e-2ac6df72037a.png)

[2016-09-29 16:28] manutorre opened #5295 "Redux and onRequestChange drawer event"
Hello. I'm having an issue with the onRequestChange drawer event. It never fires using a not docked drawer. I don't know if redux itself has something to do with it, I'm a begginer, but I'm used to find the way out of the issues by myself. However, in this case, It looks as a real issue of the module. I imported react-tap-event-plugin before the initial render. But no lucky. Maybe It has to do wit

[2016-09-29 16:31] GAumala commented on #3386
I'm having this problem too. If I delete the react folder then I get a `Cannot resolve module 'react'` error. What I do is transpile material-ui then copy the `build` folder to my existing project. I wish there was a better way.

[2016-09-29 16:33] pratimary commented on #5289
There is no primary property on FAB. The primary type is applied by default. If you need a primary FAB write it this way-

[code]

[2016-09-29 17:27] mibowser commented on #5198
+1

[2016-09-29 19:19] mattferrin commented on #593
Since `react-native-web` appears awesome, I'm just going to create `material-ui.android.js`, `material-ios.ios.js`, and `material-ui.web.js` files in my own personal project and calling it good. If I follow the `material-ui` API by wrapping everything else, it will eventually work out. If `material-ui` surprises me and just works, I'll only need to remove the `.web` from the `.web.js` and delete t

[2016-09-29 19:32] markoshust opened #5296 "[TextField] multiLine problem on iOS 10"
### Problem description

When using TextField with multiLine={true}, the text field never shows a cursor, and typing anything doesn't work 95% of the time (when it does, it's just one character).

This appears to be possibly related to https://github.com/callemall/material-ui/issues/4659, however adding an id, name, hintText or floatingLabelText doesn't fix the issue.
### Steps to reproduce

Creat

[2016-09-29 21:46] oliviertassinari commented on #5289
@pratimary Is right, `primary` isn't supposed to have any effect. However, you can use the `secondary` property.

[2016-09-29 21:46] #5289 closed

[2016-09-29 23:28] quanglam2807 commented on #5277
+1

[2016-09-29 23:33] quanglam2807 commented on #5277
@PolGuixe  actually, increase the size to bigger number and it would work!

Instead of
[code]

Use
[code]

[2016-09-30 03:33] verenea opened #5299 "Maybe a fix for unknown props in [RefreshIndicator]..."
### Problem description
I kept receiving Warning: Unknown props `left`, `top`, `status`, `percentage` on <div> tag. Remove these props from the element. For details, see https://fb.me/react-unknown-prop
    in div (created by Paper)
    in Paper (created by RefreshIndicator).

I did some testing and logging within the npm_modules/material-ui/RefreshIndicator code and seemed to isolate the problem

[2016-09-30 07:01] PolGuixe commented on #5277
@quanglam2807 is this a bug or is the intented way in `v0.16.0`?

[2016-09-30 07:04] jgoux commented on #5004
What would be really convenient is a  `<MuiTheme>` component in the same spirit as the `<Link>` component from [react-router v4](https://react-router.now.sh/Link).
It would allow to get the current theme from the context without accessing the context directly (which is pretty bad as it's not officially supported by React).

It could be used like this :
[code]

I often need to access the theme deep

[2016-09-30 07:50] BlockChange commented on #5289
Ok, clear. But I think it should be noted more cleary in the docs at the `secondary` perhaps?

But at the very least I think it should not give a unknown prop warning for it, maybe output a warning that specifically explains that it is `primary` by default.

[2016-09-30 10:05] sottar opened #5303 "[GridList] add titleColor option for GridTitle"
I want to add titleColor option to GridTile which is component on GridList.

GridTile has `titlePosition` and `titleBackground` options, but it  cannot change title color.
if users want to change `titleBackground` to white, they cannot do it.

I think it's simple to implement, because it's similar to `titleBackground` props in `GridTile.js`.

[2016-09-30 11:25] PolGuixe opened #5304 "[AppBar] onTitleTouch applies to all the AppBar space"
### Problem description

The `onTitleTouch` event is triggered when the user touch the whole remaining area of the `AppBar` -see image below- not just the title itself.

<img width="826" alt="screen shot 2016-09-30 at 13 21 03" src="https://cloud.githubusercontent.com/assets/6626225/18990259/fbea2394-8710-11e6-89df-6343c16e3f51.png">
### Steps to reproduce

[code]
### Versions
- Material-UI: 0.16.

[2016-09-30 12:46] BlockChange opened #5305 "[Documentation] Where is primary2Color etc.. used?"
So, when using the theming, `primary1Color` is used for primary button colors, and `accent1Color` for the secondary color.
1. Where is `primary2Color` used? When I [search ](https://github.com/callemall/material-ui/search?utf8=%E2%9C%93&q=primary2Color)the codebase it is never used except in the documentation about colors (http://www.material-ui.com/#/customization/themes)
2. It is never explained

[2016-09-30 12:56] antm611 commented on #5295
onRequestChange expects a function to execute. You are passing it the _result_ of "console.log('manu')", rather than the function "console.log". You could fix this by writing "console.log.bind(null, 'manu')", or writing a helper function and passing a reference to it (example below).

This isn't anything to do with redux or material-ui. See https://facebook.github.io/react/docs/interactivity-and-d

[2016-09-30 13:00] manutorre commented on #5295
Thank you very much @antm611 . Sorry for reporting an issue that might not be so.

[2016-09-30 13:04] rpoitras commented on #5299
I see this as well on a Mocha test.  I had to comment out part of babel-template code that was suppressing Mocha's ability to log the test failure.

[code]

[2016-09-30 13:08] rpoitras commented on #5299
material-ui: 0.15.4
react: 15.3.2

[2016-09-30 15:15] sottar commented on #5258
@oliviertassinari @ashl1
Sent a PR #5300 with this change.

[2016-09-30 16:43] sunasra opened #5306 "More user friendly time picker"
Hi
### Description

We have started with using time picker provided by material UI. But user started facing problem for setting time which has minutes non divisible by 5. eg. 10:57 or 06:13 etc. So, We have created new time picker with different UI. If looks fine to you, I can raise pull request.  PFA screenshot
### Images & references

![screen shot 2016-09-29 at 12 18 24 pm](https://cloud.github

[2016-09-30 17:42] nicokant94 opened #5307 "[List] unknown prop 'containerElement' in ListItem"
[code]
## Versions
- Material-UI: 0.15.4
- React: 15.3.0

[2016-09-30 18:07] christianromney commented on #5200
I have had an issue when the valueSelected prop is the **number** 0 (as opposed to the **string** "0"). Converting the value to a string enabled me to work around this issue at the cost of having to parseInt onChange.

[2016-09-30 18:29] kenjiru commented on #42
Sorry to barge in like that, but do you plan to replace the inline styles with CSS in the next version? I could not find a road map for the version labeled `next`..

[2016-09-30 20:14] djensen47 commented on #4751
First, I just want to say that this project is great. Thank you!

NPM, Inc. recommends against using pre-1.0.0 semver: https://docs.npmjs.com/getting-started/semantic-versioning

If I understand correctly, pre-1.0.0 is what you use _before_ your push to npm. Sure you can do whatever you want but the community is moving away from 0.x.x releases I would hope that this project would be willing to fol

[2016-09-30 20:38] slavab89 commented on #42
@kenjiru You can read about it [here](https://github.com/callemall/material-ui/issues/4066)
Next version seems to be using JSS

[2016-10-01 06:12] shin-monkey opened #5309 "Text field maxLength for input="number" won't work"
### Problem description

MaxLength works fine for input="text" but it doesn't for input="number". I imagined that max="" would work in this case, but that didn't work either.
### Steps to reproduce
### Versions
- Material-UI:
- React:
- Browser:

[2016-10-01 08:39] kenjiru commented on #4066
I understand the appeal of putting CSS inside the JavaScript file, after the success of JSX, but I'm not sure if it's a good idea to do the same with all the CSS of an application. I know that JSS has some good use cases, for instance when dealing with super complex dynamic styles.

My biggest concern is that the style information will end up **cluttering the component definition**. The CSS expres

[2016-10-01 08:49] kof commented on #4066
This is entirely up to you, depends on how you organize your code, if you stick to some rules, nothing bad happens (talking from production experience of 2 years).

It is actually less verbose because you have a higher level of code reuse and less repeatitions.

I think the goal here is to give the users of material-ui a choice to use whatever they want for styling. Autocompletes for CSS is an arg

[2016-10-01 10:13] oliviertassinari commented on #4891
@mcmar In hindsight, I think that we should keep the current behavior for *required* fields. It doesn't make much sense to allow users to go back to an empty state.
For *non-required* fields, I think that users should be able to go back to an empty state.
I like how [Angular Material 1](https://material.angularjs.org/latest/demo/select) is handling this problem.

**required** (as we do now):
![oct

[2016-10-01 10:20] dcworldwide commented on #3289
Just noticed this issue today. I have a List with nested ListItems that render tables. Sooooo slow. Glad to see you're on top of it 👍

[2016-10-01 10:22] oliviertassinari commented on #5307
Could you provide a reproduction test case? That would help a lot 👷 .
It could be a code sample or a live example. You can use this playground to do so: http://www.webpackbin.com/4yHN_S7ab.

[2016-10-01 10:25] oliviertassinari commented on #3289
@dcworldwide In the meantime, you could try using https://github.com/bvaughn/react-virtualized to render a very large amount of `ListItem`. It's what I'm doing, it's pretty smooth.

[2016-10-01 11:34] oliviertassinari commented on #4275
I have posted some though regarding the direction I think we should follow https://github.com/callemall/material-ui/issues/4891#issuecomment-250904546.

[2016-10-01 14:00] cia48621793 opened #5311 "'React.createElement: type should not be null' with MuiThemeProvider"
[code]
I'm copying the examples from the 'Usage' page of 'Getting Started' but that didn't go well...
Removing MuiThemeProvider from render JSX will work, but that renders MUI useless.

[2016-10-01 14:24] cia48621793 commented on #5311
Problem solved:
[code]

[2016-10-01 14:24] #5311 closed

[2016-10-01 14:41] UsulPro commented on #4794
@rosskevin, do you have repo with this solution?

[2016-10-01 14:55] rosskevin commented on #4794
Nothing public. The sample above should be fully functional with the `next` branch.

[2016-10-01 15:24] jmsherry opened #5312 "External Line Height can affect RaisedButtons"
### Problem description

If your css reset puts `line-height: normal` on any selector which globally targets spans then it affects the vertical alignment of text within raised buttons, and possibly other components. I think if the height of the button is to be set at 36px, then line-heights on certain internal spans need to be specified accordingly.
### Steps to reproduce

1) Go to http://www.mate

[2016-10-01 15:38] oliviertassinari commented on #5289
This warning is provided by *React* itself. I agree it could be improved.
Actually, we have this property on the `next` branch. So we should be good now.

[code]

[2016-10-01 15:47] oliviertassinari commented on #3103
@jlroettger It's great to see that Material-UI plays well with [react-dnd](http://gaearon.github.io/react-dnd/examples-sortable-simple.html) 👍 .

[2016-10-01 15:55] oliviertassinari commented on #3103
I have added a reference to this project in the *Related Project* section.

[2016-10-01 16:32] manutorre commented on #5295
@antm611 I just followed your instructions but again no lucky.
There is another reason why I think It is an issue... maybe It's not related to redux or material-ui either. But still can't resolve It. With the code I posted,  It prints "manu" in the console when the app initializes, when I open the drawer or press on a link from inside of It. That means that onRequestChange is actually firing, but

[2016-10-01 19:03] clayne11 commented on #4891
I don't think it makes sense to select the first element automatically ever. It's poor UX as I laid out in my response for #4822.

You can always easily add the logic to select the first element by adding a higher-order-component to wrap the select element. If you implement this logic directly into the base there's no way for those of us who do not agree with this decision to undo the logic.

I wi

[2016-10-01 19:28] oliviertassinari commented on #4891
@clayne11 Following this direction, we will narrow the issue to the `required=false` scope.
Still, you are right.
Native `<select />` elements are broken. React don't call `onChange` will the select box is showing a different value. Leading to the issue you are describing 😱 .

We have different option:
1. Drop the auto selection behavior
2. Add the auto selection behavior but call `onChange` when

[2016-10-01 21:19] #5258 closed

[2016-10-01 21:26] rojobuffalo commented on #5139
Any reason why you abandoned this? Seems like a good idea--I'm wanting to do the same thing.

[2016-10-01 21:42] overthemike commented on #5139
Yeah, there's a property called inputStyle already available you can use to style the input element itself

[2016-10-01 21:53] rojobuffalo commented on #5139
Did that work for you? As I'm trying it, the input text is centered, but the hint text doesn't also center when changing `hintStyle`.

[2016-10-01 22:32] overthemike commented on #5139
if you give it a width and then use textAlign, it should work for you.

[2016-10-02 00:39] nathanmarks commented on #4785
Still in progress, but this has been partially implemented now on `next`.

[2016-10-02 00:39] nathanmarks commented on #4785
via https://github.com/callemall/material-ui/pull/5315

[2016-10-02 07:04] wss534857356 opened #5316 "On the listening TextField input problem"
### Problem description
When I wanted to listen to the input, I found a question about ```TextField``` that did not provide the API. I used ```onChange``` to listen to what I typed, and when the callback function listened to the blank space will remove the space, it seems that this is enough to solve the problems I encountered, but when the content is empty, I enter space, my ```hintText``` conten

[2016-10-02 07:25] johann-sonntagbauer commented on #4066
In our project we extracted the style information of the components in seperate files and loaded them with webpack. Main benefit is that all is well organized and that webpack can bundle the code per component, so code splitting of js code AND style information is possible.

Also seperation of concerns is given, when you seperate the logic to produce your styling rules. One example is, that we int

[2016-10-02 18:03] oliviertassinari commented on #5111
I have noticed that we output the source map. Removing them would be a huge space saving.

[2016-10-02 18:07] oliviertassinari commented on #5235
Interesting, thanks for sharing.
However, it would be more effective to create a repository (E.g. [material-ui-password-field](https://github.com/TeamWertarbyte/material-ui-password-field)) rather than an issue.
We could add a link to it in the *Related Project* section of the documentation.

[2016-10-02 18:07] #5235 closed

[2016-10-02 18:34] oliviertassinari commented on #5004
I'm curious about the use cases. What properties do use, where and why?

You should be able to use the following pattern:
[code]

[2016-10-02 18:44] mbrookes commented on #5111
`git clone --depth 1` ?

[2016-10-02 21:11] oliviertassinari commented on #3614
@rosskevin Right, from a technical point of view, I completely understand. I was more interested in the material design specification. Turn out, after digging into the specification. I think that there is a real need for us to implement a solution. The material spec layout system is a 12 column system, with some specific breakpoints and margins / gutters.

I just had a look at #5267, that seem mor

[2016-10-03 05:16] arahansen commented on #4499
Also seeing this on iPhone 6 Plus, iOS Safari 10.0.1.

Has there been any investigation as to the root cause?

[2016-10-03 06:54] wowzaaa opened #5321 "react-native branch"
Hi

is the react-native branch usable?

thanks

[2016-10-03 10:20] slavab89 commented on #5123
+1 Same for me

[2016-10-03 13:01] bochen2014 commented on #1594
@ydeshayes  @dogrocker   can you please elaborate on what you mean by 'pure' component?  is stateless component what you mean?
I thought we can't use `ref` within stateless component  ????

[2016-10-03 15:15] ashl1 commented on #5321
What do you mean _usable?_
Does React Native supported by MUI? No, and not soon. Also look about original issue of supporting React Native #593 and check [ROADMAP.md](https://github.com/callemall/material-ui/blob/master/ROADMAP.md)
As I know this is experimantal branch. You should not use this in production in any case. But maybe you can look about this starting.
If I answered the question, please

[2016-10-03 15:19] ashl1 commented on #5292
@oliviertassinari  This is dup of #2851
Also, you can check #2863 to look on the list not yet implemented components and its behaviors.

[2016-10-03 15:43] #5321 closed

[2016-10-03 16:03] ashl1 commented on #5239
It is related to #3393

[2016-10-03 16:06] ashl1 commented on #3393
@rsteckler The MUI guys are right in that. Check the GMD specification: https://material.google.com/components/sliders.html#sliders-continuous-slider The title should be on the line above.

[2016-10-03 16:29] jgentes commented on #2646
Another workaround for this issue: use <LinkContainer> from https://github.com/react-bootstrap/react-router-bootstrap

[2016-10-03 16:43] shortstuffsushi opened #5322 "TableHeader's createBaseHeaderRow function mistreats children"
[code]

The assumption in the above LoC is that if there is only one child, it's not an array.

But what if it was?

[code]

Ruh roh.
[code]

Possible Solution:

[code]

See [ReactChildren.toArray](https://github.com/facebook/react/pull/3650/files), which ensures that elements are treated as an array, whether singular or in an array (or an array of arrays).

Possible workaround, for those interest

[2016-10-03 17:38] sangthebui commented on #5002
I also ran into this issue. Did you find a solution or workaround yet?

[2016-10-03 18:33] slavab89 commented on #5295
Are you sure that you're passing only the function to the onRequestChange prop? Meaning that you need to pass this.handleReqChanged and **not** this.handleReqChanged**()**
You can look at the example at http://www.material-ui.com/#/components/drawer . Look at the Undocked example as it seems to be exactly what you're trying to do.
He passes the function to the prop, not the result of it.

[2016-10-03 18:49] oliviertassinari commented on #5292
@ashl1 Right, thanks for looking into it.

[2016-10-03 18:49] #5292 closed

[2016-10-03 19:06] Mortiferr opened #5323 "Bottom Navigation Glitch"
### Problem description
On the simple navigation in the components ([link](http://www.material-ui.com/#/components/bottom-navigation)). The nearby icon is shifted to the left.
### Steps to reproduce
1. Visit the above page. Look at the simple example.

[2016-10-03 19:13] manutorre commented on #5295
@slavab89 Yes. That example shows exactly what I want. However, If you see my code, you'll se that I have this:
` <AppBar onClick={actions.drawerActions.open}>`.
That is an action that I have passed through a prop ("actions.drawerActions"). That thing works great. But, if I pass exactly that action to the "onRequestChange", then It is not fired (neither the "actions.drawerActions.close" that is th

[2016-10-03 19:27] oliviertassinari commented on #5323
It was fixed on the master branch.

[2016-10-03 19:27] #5323 closed

[2016-10-03 19:30] slavab89 commented on #5295
Ok so lets first clear things a little :)
When the render function of the component is being called, it goes over all the {} places and calls whats inside of it. It puts this result on the prop.
So lets say that you do ```onRequestChange={console.log('manu')}```. It will call console.log once it enters the render function and put the result of console.log on the prop onRequestChange.
This is the r

[2016-10-03 20:02] manutorre commented on #5295
@slavab89 many thanks for the explanation. I get now why console.log() is being showed, and that's important for me.
On the other hand, I'm using Redux and if you want to make a change on a state you are expected to use _actions_ that are _dispatched_. That's why I don't use `this.state.open`... In my case, my store (the state container that has all the states of the app "inside") has the "drawer"

[2016-10-03 20:40] slavab89 commented on #5295
Are the actions that you have, ```actions.drawerActions.close``` ```actions.drawerActions.open```, wrapped in a dispatch? From the first image that you've posted it seems that the open action is wrapped, but does the close one wrapped as well? Do you see the action being fired in the console and Redux state that changes? If not then your close action is not firing at all.
When i encounter stuff li

[2016-10-03 21:41] masiamj commented on #4290
Still encountering this issue. Anybody else? Using v0.15.4.

[2016-10-04 01:00] manutorre commented on #5295
Thanks for the reply. About whether we should fire an action from everywhere and everything... I'm trying to have my app as clean and testable as I can... and I _think_ that having control of all dom variants would be good. It's not planned to be a very big app either, so... anyway, I'm still learning (who isn't).
I wrote the code you put in the last comment and again, nothing. However, I don't th

[2016-10-04 01:11] mattferrin commented on #5321
@oliviertassinari So I added the `react-native` branch as an NPM dependency and installed all the Babel plugins. I got this message when importing any component:

`EventPluginRegistry: Cannot inject event plugin ordering more than once. You are likely trying to load more than one copy of React.`

My goal is to use `material-ui` the soonest it becomes feasible per component. Granted, I did a `git r

[2016-10-04 01:18] mattferrin commented on #593
@oliviertassinari So I added the `react-native` branch as an NPM dependency and installed all the Babel plugins. I got this message when importing any component:

`EventPluginRegistry: Cannot inject event plugin ordering more than once. You are likely trying to load more than one copy of React.`

My goal is to use `material-ui` the soonest it becomes feasible per component. Granted, I did a `git r

[2016-10-04 02:24] aluksidadi commented on #2189
Hey guys, so is this a bug or by design?

[2016-10-04 05:38] dcarneiro commented on #4472
I had the same problem. It disappear if I removed the css import line from `index.html`
`<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">`

Without it I loose the Grid styles from materializecss though

[2016-10-04 07:47] theobouwman opened #5327 "Dialog pops down when keyboard has focus on element"
- Material-UI: ^0.15.2
- React: ^15.0.2
- Browser: Android Chrome

When opening a dialog with Textfields in it, the browser automatically focusses on the first element and the keyboard pops up.

When the keyboard pops up there is less space for the dialog to move in, so the height reduces.

When you unfocus by clicking the Android back button the modal pops down and there is no option to hide it.

[2016-10-04 08:05] Bogdan-p commented on #4271
I came across the same issue, if we use the uncontrolled SelectField there's no input to take the selected value from

[2016-10-04 11:41] ingridoberbuchler commented on #1236
Is there solution, please? I have same problem.

[2016-10-04 13:12] slackday commented on #2510
I had the same problem with Popover. Tried an ugly hack like setting a timeout but it didn't work.

I inspected the source and found that Popover sets a timeout `nextProps.animated` is `true`.

This fixed the problem but caused another when navigating away from the page. `Uncaught TypeError: Cannot read property 'componentDidUpdate' of null`.

This is caused but having `open={this.state.isPopoverO

[2016-10-04 13:48] prabhu commented on #1956
Oct 2016 and still no multi select. I am starting to feel that perhaps material-ui is just too new and too under developed for serious applications.

[2016-10-04 13:51] Sharlaan commented on #1956
There are 2 proposed implementations you can use:
- mine @ #5018
- material-ui-chip-input

[2016-10-04 14:45] tmpg commented on #2913
+1

[2016-10-04 15:45] halt-hammerzeit commented on #686
[code]

[2016-10-04 19:07] oliviertassinari commented on #593
@mattferrin The `react-native` branch is quite old now. It's not intended to be consumed by users. It was a **Proof Of Concept** regarding the way ahead.
As far as I have looked at this issue, one of the promising approach would be to rewrite it to target `react-native`. Then [react-native-web](https://github.com/necolas/react-native-web) would do the hard part for us.
However, there are some chal

[2016-10-04 19:12] brucedlukens commented on #2971
@tintin1343 This was closed prematurely. Still an issue. If you have spaces in a long name, it goes onto the next line (which will cover other components).

[2016-10-04 19:32] geoffreyabdallah commented on #3789
I'm currently getting around this by Stringifying the object, passing that to text and then parsing to grab the fields I need in onNewRequest (hackey, but works for what I need right now). Example (don't get too hung up on the Ramda stuff - general idea is to stringify the object, then parse when you need to use the object in onNewRequest):

[code]

[2016-10-04 19:53] oliviertassinari commented on #3757
@nathanmarks have made the link between the label and the input more explicit on the `next` branch. E.g.
[code]
Making the link more explicit allow us to remove the magic *uniqueId* generation.
And solve the server-side rendering issue.
I'm closing this issue as well as https://github.com/callemall/material-ui/pull/4253.

[2016-10-04 19:53] #3757 closed

[2016-10-04 20:44] mattferrin commented on #593
@oliviertassinari I'm currently porting a website to `react-native-web`, and feel that it's worth embracing. It is missing a cross-platform anchor-tag href component and might be missing other niceties, but the underlying ReactDOM is production ready and that's what we need.

Should `material-ui` care? There are ways to find a component's or a screen's dimensions on all platforms. As long as `mate

[2016-10-04 22:39] ProtectedVoid opened #5329 "[DatePicker] Provide ability to add css className to DatePicker Dialog for Selenium WebDriver Testing"
### Versions
- Material-UI: 0.15.4
- React: 15.3.2
- Browser: Any
### Description

We have a large scale, in-house react application we would like to incorporate the DatePicker into.  However, the `<DatePicker />` component does not provide a way to assign a className to the Picker's Dialog Component, nor it's Calendar Component.  This means there is no reliable way to locate a specific `<DatePick

[2016-10-04 22:58] hhimanshu opened #5330 "TypeError: Cannot read property 'prepareStyles' of undefined"
### Problem description
When I write test I get
TypeError: Cannot read property 'prepareStyles' of undefined

My `Component` looks like

[code]

My Test looks like

[code]

My `index.js` (which is not related to test in my understanding) is

[code]

### Steps to reproduce
When I run `npm test:watch`, I see

[code]

### Versions

My dependencies are

[code]
- Material-UI: mentioned above
- React:

[2016-10-04 23:22] necolas commented on #593
There are interactive examples here: https://necolas.github.io/react-native-web/storybook/

In JavaScript, using `matchMedia` (or using `Dimension`) to determine which styles and components to render.

Yeah I'm not sure what a "proper" solution should be, but you can use `View` and `Text` like links for now (web support only, of course):

[code]

React Native doesn't mind how you do this. You can

[2016-10-04 23:30] mattferrin commented on #593
@necolas

Good point. Does `react-native-web` have a sense of `:hover` for example?

[2016-10-04 23:38] mattferrin commented on #593
@necolas And the particular work I am doing only needs to support evergreen browsers, but is there a possibility porting to `react-native-web` would cost `material-ui` browser compatibility with any older versions. I don't know anything about that really. I just really think `react-native-web` is the right approach.

[2016-10-05 07:53] NewOldMax commented on #5307
@oliviertassinari , currently i have same error, but can't reproduce in www.webpackbin.com (don't know why 😢 )
On my live project, code
[code]
will give
[code]
Error will disappear, if i remove ``disabled={true}``

I try to create live example ( http://www.webpackbin.com/41W0wqaa- ) with my project structure, but in this case he works correct.

[2016-10-05 09:00] ashl1 commented on #4911
![image](https://cloud.githubusercontent.com/assets/4058628/19106754/c624d7c4-8af1-11e6-98d2-428a73fa5560.png)
And now the issues looks like:
![image](https://cloud.githubusercontent.com/assets/4058628/19107008/cfda5180-8af2-11e6-882b-e32576aab616.png)

Not labeled issues are rapidly growing...

@oliviertassinari
Could Callemall give me write access for this repo for triaging bugs (label them, clo

[2016-10-05 11:09] riseremi commented on #4309
Same issue: open select field moves when scrolling.

I guess it only appears on macOS because of smooth scrolling.
You can reproduce in here: http://www.material-ui.com/#/components/select-field

[2016-10-05 12:18] achtan opened #5331 "[ListItem] support ListItem.wrapperClassName / wrapperStyle"
### Description

Please add support for setting ListItem wraper's `class` or `style` attr
wrapper: https://github.com/callemall/material-ui/blob/master/src/List/ListItem.js#L647

[2016-10-05 15:25] #5076 closed

[2016-10-05 15:50] dapids commented on #4309
@riseremi, I can see that on debian, too.

**OS:** `Linux alpha 4.6.0-0.bpo.1-amd64 #1 SMP Debian 4.6.4-1~bpo8+1 (2016-08-11) x86_64 GNU/Linux`
**Browser:** `Chrome Version 53.0.2785.116 (64-bit)`

[2016-10-05 16:51] lucasbento commented on #5284
@stone89son: if it's fixed, can you please close this?

[2016-10-05 16:53] lucasbento commented on #5275
Can you please show us a snippet?

[2016-10-05 18:24] siirila opened #5333 "ToolbarTitle doesn't use fontFamily font"
### Problem description

The ToolbarTitle component doesn't use the font defined in fontFamily.

It seems like it should use the fontFamily, Roboto by default, unless a different font style is explicitly set.

### Steps to reproduce

I have created a sample of this behavior at: http://www.webpackbin.com/VkIvmV06-

### Versions

- Material-UI: 0.15.4
- React: 15.3.2
- Browser: All

[2016-10-05 18:52] ztittle commented on #5175
Agreed. ToolbarTitle should not be so restrictive as to only support a string. We use React Components to fetch data from our web services in a declarative manner and we are unable to reference these components in the ToolbarTitle component without restoring to an imperative style.

[2016-10-05 21:23] AveVlad commented on #5299
http://www.material-ui.com/#/components/refresh-indicator

[code]

[2016-10-05 21:57] oliviertassinari commented on #4911
@ashl1 Thanks for your interest in helping us. Are you on gitter.im so we can chat about it :).

[2016-10-05 23:07] necolas commented on #593
It doesn't provide anything special for hover styles (neither does RN). I wonder if the desktop implementations for Windows and Ubuntu bundle anything for mouse interfaces or leave it to you via events.

I'm not sure what browser support you need but may be able to accommodate when issues arise

[2016-10-05 23:32] #5284 closed

[2016-10-05 23:34] stone89son commented on #5284
@lucasbento sorry. previous, I find not find space close

[2016-10-06 00:02] mattferrin commented on #593
I think it might be necessary to inject a boolean into the component hierarchy context via `MuiThemeProvider` to choose between a `react-native-web` versus a `react-dom` component style API.

The best answer is to just switch to the `react-native-web` style API, and that is what I'd advocate, but that would probably cause an upset.

@oliviertassinari Could we get away with switching `material-ui`

[2016-10-06 00:59] hyojin commented on #5252
I'm faced with similar problem. Because animation starts when the component is mounted, I think you need to re-mount the component to animate or using css trick to show/hide with 2 different components. I changed some code, but I'm a noob in React.js so I'm not sure this is correct way.
[code]
Any idea?

[2016-10-06 01:12] lucasbento commented on #5330
I guess this is related to https://github.com/callemall/material-ui/issues/4021.

**TL;DR**: try to wrap  the component being tested in `<MuiThemeProvider />` or https://github.com/callemall/material-ui/issues/4021#issuecomment-210998829.

[2016-10-06 01:14] bardu opened #5334 "[v0.16.0] A few issues not documented in the changelog"
In the List component there is a typo that constitutes to a bug:

was in 0.15.4 and earlier

(see the case difference)

and it exports in lowercase.

I'll also get the following warning related to the Paper component:

    in div (created by Paper)
    in Paper (created by RefreshIndicator)
    in RefreshIndicator (created by Spinner)
    in div (created by Spinner)
    in Spinner (created by AppD

[2016-10-06 01:16] lucasbento commented on #5316
Your `onChange()` function could ignore empty values with `.trim()` as well and set the value according to it, something like:

[code]

[2016-10-06 02:41] ThadeuLuz commented on #3295
Hey I made this gist, it might help for this and other issues: https://gist.github.com/ThadeuLuz/0fafd4b44682df34ac807ebbd051a6f8

[2016-10-06 04:34] mwq27 commented on #1421
Here are some bundle-size print outs of some of the material-ui components:

[code]

I also was using the Object.keys(pkg.dependencies) method.  I tried to instead only include these individual packages, but it's still pretty large.

[2016-10-06 06:06] attilaaronnagy commented on #5334
and also the "top" and "left" props, should not be required on the <Refreshindicator />. I'm using it with flexbox, these props would just screw up the positioning.

[2016-10-06 08:08] mauvew opened #5335 "[Auto Complete][Textfield] onFocus and onBlur event"
### Problem description
Is it possible to support onFocus and OnBlur function for Auto complete or Textfield component? These functions can be very helpful if the content need to be changed into another format once the input is finished and focus is lost.

### Versions

- Material-UI: v0.15.4
- React: all
- Browser: all

[2016-10-06 08:18] qgallet commented on #5334
About the issue with RefreshIndicator -> Paper -> div, I believe it was introduced by the pull request https://github.com/callemall/material-ui/pull/5054

[2016-10-06 09:02] Tzelon commented on #2832
Hey,
Is there any easy solution for this ?

[2016-10-06 10:42] oliviertassinari commented on #1421
@mwq27 Do you have a more detail view on the graph dependency? I'm wondering what's taking soo much space. Could it be `React`?

[2016-10-06 11:47] lucasbento commented on #5335
@oliviertassinari: what do you think about this?

I can open a PR.

[2016-10-06 11:50] oliviertassinari commented on #5335
I believe that it's a duplicated issue. It's not the first time I see it.

[2016-10-06 11:55] lucasbento commented on #5335
Actually Material UI already has those functions.

Example: http://www.webpackbin.com/E1EYtmk0b

[2016-10-06 11:55] oliviertassinari commented on #2832
@Tzelon Depending on your specific issue. But most of the time it's a bottleneck when re-rendering many Checkboxes. It that case, you should prune the rendering tree.

As #4769 was closed, the performance issue with this component should be solved. I'm closing the issue. Thanks guys.

[2016-10-06 11:55] #2832 closed

[2016-10-06 12:35] avaragado commented on #5163
Sadly this bug shipped in 0.16.0. It's not mentioned in the breaking changes for that release, so I guess nobody saw the issue.

[2016-10-06 13:50] digitalturtle commented on #3181
is there a recommended quick fix for this?

[2016-10-06 14:00] janoist1 opened #5338 "Error: <circle> attribute r: A negative value is not valid. ("-1.6")"
### Problem description

I'm using this library with redux-from and getting the following error after updating it to the 0.16.0 version: `Error: <circle> attribute r: A negative value is not valid. ("-1.6") DOMPropertyOperations.js:143`

### Versions

- Material-UI: 0.16.0
- React: 15.0.0
- Browser: Króm

[2016-10-06 14:11] lucasbento commented on #5335
@oliviertassinari: I think we can close this.

[2016-10-06 14:14] oliviertassinari commented on #5335
I agree, it should be good with https://github.com/callemall/material-ui/pull/3356. Thanks.

[2016-10-06 14:14] #5335 closed

[2016-10-06 14:19] lucasbento commented on #5296
@markoshust: can you provide an image showing the problem?

[2016-10-06 14:45] lucasbento commented on #5281
@oliviertassinari: what's your opinion on this?

I can open a PR.

[2016-10-06 14:45] TomMahle commented on #3618
@nathanmarks Thanks so much for tackling this! I am taking a look at the 0.16.0 version and I'm not seeing the new proptypes. Have these been pushed off to the 'next' branch?

[2016-10-06 15:20] vorlov commented on #1352
@sibelius https://github.com/vorlov/material-ui-sortable-table

[2016-10-06 15:30] colbycheeze opened #5339 "ListItem only shows default HTML button styles in chrome (works in FF)"
When I render ListItem it always uses the default HTML button styles. How do I get it to look like the examples / use colors from the palette?

![screen shot 2016-10-06 at 10 25 39 am](https://cloud.githubusercontent.com/assets/8884298/19158747/8570ae38-8baf-11e6-8e34-badcefd3e3fd.png)

MUI: 0.15.2

Works in Firefox, but not Chrome.

------------

**EDIT:** problem is because of a conflict with `n

[2016-10-06 16:02] timothyallan commented on #5338
Make the size of the ```<CircularProgress``` component bigger than 5 or so and it goes away.

[2016-10-06 16:03] rlansky opened #5340 "Tooltips shown over a RadioButtonGroup are unreadable"
### Problem description

In a dialog, I have an IconButton element with a tooltip attribute defined. The tooltip is shown correctly when the button is hovered over, but the display of the tooltip is messed up. Specifically, the background of the tooltip is lighter than expected and the white text shows the content of the dialog behind it. The result of this is that when the tooltip is shown over e

[2016-10-06 16:07] lucasbento commented on #5340
Can you provide a snippet?

[2016-10-06 16:07] lucasbento commented on #5339
Can you please provide a snippet code?

[2016-10-06 16:10] lucasbento commented on #5338
Duplicated of #5277. cc @oliviertassinari

[2016-10-06 16:10] rlansky commented on #5340
The snippet that creates the tooltip is:

`Meeting Type <IconButton tooltip={tooltipContent} touch={true}><Help /></IconButton>`

I've tried this with and without the `touch` attribute set.

[2016-10-06 16:13] colbycheeze commented on #5339
Sure, but it's all just vanilla from the code sample on the website:
[code]

MuiTheme is set up the basic way prescribed in the docs (theme provider etc)
[code]

[2016-10-06 16:15] lucasbento commented on #5277
I think this was first introduced by https://github.com/callemall/material-ui/commit/db8d5b20f32090b8d4db10f592329e102585a60f.

I guess this should be documented somewhere.

cc @oliviertassinari.

[2016-10-06 16:20] #5338 closed

[2016-10-06 16:22] oliviertassinari commented on #5277
We have introduced one breaking changes on the `CircularProgress` API. It's documented in the [changelog](https://github.com/callemall/material-ui/blob/master/CHANGELOG.md#breaking-changes-1). Unless I'm missing it's expected.

[2016-10-06 16:32] lucasbento commented on #5339
Do you mean that you need them to look like this?

![image](https://cloud.githubusercontent.com/assets/6207220/19161200/3a86b704-8bc9-11e6-83ef-5ccfdb4f50e4.png)

[2016-10-06 16:33] lucasbento commented on #5340
@rlansky: I am sorry but I'm not being able to reproduce that issue, can you please provide a [pen](http://www.webpackbin.com/)?

[2016-10-06 16:34] lucasbento commented on #5277
@oliviertassinari: we may close this issue then.

[2016-10-06 16:38] colbycheeze commented on #5339
correct, that's how it looks on FireFox, but when I open in Chrome I get that look from the screenshot I showed.

[2016-10-06 16:44] lucasbento commented on #5339
That's odd, what's your chrome version?

I'm not being able to reproduce your issue, can you provide a pen so I can check it out?

Try using an SVG icon instead of a font one, the documentation is using the built-in icons.

Also, if you really want that look, you need [`<MobileTearSheet />` component](https://github.com/callemall/material-ui/blob/ccf712c5733508784cd709c18c29059542d6aad1/docs/src/a

[2016-10-06 16:58] rlansky commented on #5340
Hi,

Thanks for taking a look. I created a sample that demonstrates the problem here: [pen](http://www.webpackbin.com/VkZ62wJA-)

When I first wrote this pen, I wasn't see the problem either. It turns out that the key to reproducing the problem is that the tooltip is being shown over a RadioButtonGroup. Sorry that I left that out earlier, I didn't realize that was a key component to the problem.

[2016-10-06 18:12] lucasbento commented on #5340
This is an issue with the CSS property `position: relative` on the wrapper `<div />` on each checkbox and in the label (text content).

cc @oliviertassinari, not sure how to solve this, removing those 2 properties did not break the layout and works fine:

![image](https://cloud.githubusercontent.com/assets/6207220/19164636/33521b50-8bd7-11e6-9f61-53ffec44eef2.png)

btw, I removed them through chro

[2016-10-06 18:13] lucasbento commented on #5340
By the way, thanks for sharing that pen @rlansky, really helpful!

[2016-10-06 18:20] colbycheeze commented on #5339
Okay I started commenting things out in my CSS to see if it was my code.
Apparently using normalize.css causes the issue. I'm not 100% familiar with why this would happen...curious if there is something I can do to allow MUI to work with normalize in the project?

[2016-10-06 18:23] lucasbento commented on #5339
@colbycheeze: I'm not sure, I'm not a big fan of global CSS because of that kind of stuff, you just don't know what uses what.

What's the reason for using normalize.css? I'm using Material UI in production with only inline-styles and it's working pretty well.

I'm so sorry that I can not give you a help on this.

[2016-10-06 18:29] colbycheeze commented on #5339
thank you a ton for looking into it with me @lucasbento
I searched and found this issue that provided a perfect fix: https://github.com/callemall/material-ui/issues/4008

I do a lot of custom styles on top of or outside of just the MUI components that I use. Normalize makes the styling much easier and consistent across browsers. All of my code uses inline or css modules to avoid global stuff but i

[2016-10-06 18:34] lucasbento commented on #5339
@colbycheeze: I'm glad you found a solution, sorry I didn't help much.

Oh, alright then, that's the way to go 😄

[2016-10-06 18:34] colbycheeze commented on #5339
np, I updated my first question with the fix in case someone finds this from google.

[2016-10-06 18:36] lucasbento commented on #5339
thank you, @colbycheeze!

I guess you can close this issue.

[2016-10-06 20:04] tim-mc commented on #5087
Just ran into the same problem. It's because of the [following in the constructor for RadioButtonGroup](https://github.com/callemall/material-ui/blob/master/src/RadioButton/RadioButtonGroup.js#L63):

[code]

The conditional just checks for a truthy value in `this.props.valueSelected`. Of course, if this is false, and there is no `defaultSelected` prop defined, it falls back to `''` (empty string).

[2016-10-06 20:30] lucasbento commented on #5087
Nice finding, @tim-mc, can you send a PR fixing it?

[2016-10-06 20:52] Philin-Anton commented on #2971
The problem will reappear when you can wait for a fix?

[2016-10-06 21:00] hhimanshu commented on #5330
Did you mean something like following?

[code]

I tried this as well, but still see

[code]

Let me know what am I doing wrong?

[2016-10-06 21:00] rlansky commented on #5340
@lucasbento, thanks for that tip.

I found that when I changed the `position: relative` property, this did work for the label text (as seen in your screen shot). But I couldn't get it to work on the radio button inputs, those always showed up on top of the tooltip... I've added more text to the example so that this is easier to see.

[2016-10-06 21:04] hhimanshu commented on #5330
Based on the test that I see in [material-ui](https://github.com/callemall/material-ui/blob/master/test/integration/AppBar/AppBar.spec.js#L10), I tried the following but still same result

[code]

[2016-10-06 21:12] lucasbento commented on #5330
@hhimanshu: can you provide a [pen](http://www.webpackbin.com/m) so I can check it out?

[2016-10-06 21:33] lucasbento commented on #5340
@rlansky: no problem.

I did not see that the same was happening with the checkbox element, I also didn't find a way to fix that.

A good workaround _for now_ would be to try to use the tooltip after the checkbox, not above it.

[2016-10-06 21:37] mmmeff commented on #5108
Tested and reproduced this from 0.15.2 all the way through 0.16.0

[2016-10-06 21:45] lucasbento commented on #5108
@jonasostrom, @mmmeff: can any of you guys please provide a [pen](http://www.webpackbin.com/)?

I was not able to reproduce this issue, tested it here with `0.15.2` and `0.16.0` and it works fine.

[2016-10-06 22:06] hhimanshu commented on #5330
@lucasbento , I do not know how to pen, so I uploaded by code https://github.com/101bits/pluralsight-react

**Steps to reproduce**
[code]

Let me know if I missed anything, thanks

[2016-10-07 01:22] lucasbento commented on #5330
hey @hhimanshu, thanks for sharing that, really helpful.

about your issue, I never use `context` so I don't really know how it works, but...

I saw that `this` was undefined in your component, I switched it to a class instead of a stateless component and like magic `this` became available:

[code]

After trying _a lot_ your tests, here is how it worked:

[code]

I'm also using `chai` instead of `

[2016-10-07 01:44] mmmeff commented on #5108
@lucasbento Can you link to a working webpackbin with material-ui running? I can't seem to get material-ui rendering with it.

[2016-10-07 01:47] lucasbento commented on #5108
@mmmeff: sure, here it is: http://www.webpackbin.com/NyxK61xCb, using version `0.15.4`.

[2016-10-07 03:48] mmmeff commented on #5108
Thanks! Unfortunately, I'm unable to reproduce it within the context of a webpack bin. I copied most of my app's structure and without rebuilding the entire thing, I'm not sure I can get a more accurate reproduction scenario.

@jonasostrom - care to share what webpack version you're building with and if you're doing any kind of code splitting? I'm in a pretty complex set up that I fear might be in

[2016-10-07 04:30] mmmeff commented on #5108
Discovered my problem - I had some global styles on checkboxes where the `input[type="checkbox"]` was set to `display: none` since I was using a fake element to get fancy with the styling. Removing that CSS fixed it for me. Not sure if OP is experiencing this for the same reason, but I recommend checking there first.

[2016-10-07 06:41] jamwaffles commented on #5299
I've also got this issue. The actual (pre-Babel) source looks like this:

[code]

Is there anything that `<Paper />` would ever need passed down to it from the `<RefreshIndicator />` call site? If not, the simplest fix would be simply to remove `{...other}`. If there is, then they should probably be properly defined in the props list.

[2016-10-07 08:06] wss534857356 commented on #5316
In fact, ```onChange()``` function is the same as ```handleInputChange```function

[2016-10-07 08:17] bochen2014 opened #5341 "is it possible to build my own component utilizing MuiTheme?"
my understanding is MuiTheme is just some inline styles, so, theoretically, I can build my own component just like you guys build the built-in components.  I'm just not sure how easy that would be , or if that is even possible.

Please shed some lights on this. thanks
(if possible, can we have a naviBar like the one provided by bootstrap? so I don't have to build it by myself)

[2016-10-07 09:26] rmdort commented on #4430
I am also having the same issue in all TextInputs. The temporary fix doesnt work. Is there any other work around?

[2016-10-07 10:39] joewalker commented on #4430
It seems there are 2 ways of doing dialogs - with a portal so the dialog renders in a separate render loop, and without so the rendering is as you would expect.

The portal method probably makes for better webcompat, but it makes it harder to test with things like enzyme and causes problems like this.

My intention when I next visit this problem is to look at [Boron](http://madscript.com/boron/) a

[2016-10-07 12:31] tim-mc commented on #5087
@lucasbento definitely, was planning on doing that today or tomorrow. Stay tuned.

[2016-10-07 13:32] zalmoxisus commented on #2966
The same problem is with DropDown:
![js8choagql](https://cloud.githubusercontent.com/assets/7957859/19191528/8771e8a8-8cab-11e6-8145-6f9766932414.gif)

A way to change the animation's direction would be great.

[2016-10-07 14:22] bochen2014 opened #5343 "vendor prefix"
I noticed that inline styles are not prefixed
[code]

should be:
[code]

[2016-10-07 15:23] janoist1 commented on #5330
I'm also experiencing this issue. Have not been able to solve it yet.

[2016-10-07 16:04] nperichSYKES commented on #5278
The issue is the <Paper /> isn't overridable from the external API.

Dialog.js:

[code]

We definitely don't want to add another field on the API to customize the weird thing between "body" and "content". Perhaps TransitionItem could itself be a Paper? But my 30 second poke at the code threw a `You cannot call prepareStyles() on the same style object more than once.` error, and I didn't dig into i

[2016-10-07 16:14] lucasbento commented on #5108
Glad that you found the way to fix, @mmmeff!

Also, if you guys can't reproduce in a pen, try just creating a repo with the minimal environment to reproduce the issue.

[2016-10-07 16:16] nperichSYKES commented on #5278
A quick solution would be to set the background of this `<Paper />` to none, then setting the background of styles.content to white, letting you then control the background with contentStyle.

One issue is that if you then add a borderRadius to contentStyle, it wouldn't be applied to the Paper. So we'd have to also set the Paper's borderRadius to style.content.borderRadius if it is provided.

[2016-10-07 16:34] hoschi commented on #4493
@ashl1 thanks for the notification, I'll look into it.

[2016-10-07 16:43] lucasbento commented on #5316
@wss534857356: any feedback on this? is this solved?

[2016-10-07 16:44] lucasbento commented on #5330
@janoist: did you try what I sent? works pretty well here.

[2016-10-07 17:28] janoist1 commented on #5330
Thanks, and yes I did. It works but it's still just a workaround. It should be work with `shallow` too. Now I had to update the way I `find` child components as the prop selector stopped working. [stackoverflow question](http://stackoverflow.com/questions/39920390/unable-to-set-context-when-rendering-child-components/39921601#39921601)

[2016-10-07 17:31] sibelius opened #5345 "Documentation for 0.16 and next"
Where is the documentation for 0.16 or next releases?

cc @hai-cea @oliviertassinari

[2016-10-07 17:36] sibelius commented on #5345
it is also missing the `breaking changes` to upgrade from 0.15 to 0.16

[2016-10-07 17:42] sibelius commented on #2500
@pizza0502 try this thread https://github.com/callemall/material-ui/issues/1352

or this package: https://github.com/vorlov/material-ui-sortable-table

[2016-10-07 17:44] sibelius commented on #5345
breaking changes are here: https://github.com/callemall/material-ui/blob/master/CHANGELOG.md#breaking-changes-1

[2016-10-07 17:44] mmmeff commented on #5108
Here's what was happening for me if you're curious: http://www.webpackbin.com/VJ5kp6lRZ

[2016-10-07 18:16] lucasbento commented on #2500
Duplicated of #1352.

cc @oliviertassinari.

[2016-10-07 18:22] oliviertassinari commented on #2500
@sibelius @lucasbento Thanks the extra information.

[2016-10-07 18:22] #2500 closed

[2016-10-07 18:35] sibelius commented on #1352
@nathanmarks where is the link for `TableSortLabel` and the demo of it on `next` branch?

[2016-10-07 18:37] oliviertassinari commented on #5343
This [comment](https://github.com/callemall/material-ui/issues/5052#issuecomment-241863872) might help you. In the meantime. I'm closing this issue as we are moving aways from the inline-style approach to a CSS-in-JS one. The auto-prefixing was working as far as I know. Feel free to try out the `next` branch.

[2016-10-07 18:37] #5343 closed

[2016-10-07 18:59] ealvarezk opened #5346 "focusState property in MenuItem can't be set"
### Problem description

When I set the property focusState in a MenuItem component it doesn't cae about it and it is replaced for other values.
### Steps to reproduce

Create many MenuItem in a Menu and set the property focusState with different values.
### Versions
- Material-UI: 0.15.4
- React: 15.3.2
- Browser: Chrome 53.0.2785.143 (64-bit)

[2016-10-07 21:44] jasan-s opened #5347 "Is there a way to extract and inject the js code for my above the fold components ?"
Currently, my webpack build only generates 2 files : App.js (~1.2MB) & vendor.js(~213kb).  I order to decrease time to first paint I wanted to extract my app shell(all  static assets HTML , CSS , JS). In my case it would be my Material-ui app Bar with icon menu & list consisting of paper elements. Is there a way so I extract and inline the js code that generates my material-ui components above the

[2016-10-07 23:02] lucasbento commented on #5347
@jasan-s: this looks more like a regular [stackoverflow](http://stackoverflow.com) question, not exactly related to material ui itself.

Please, open your question over there, I'm sure that the users will be more than glad to help you out.

cc @oliviertassinari.

[2016-10-07 23:13] lucasbento commented on #4430
I think we can close this since it appears to be an issue with React itself (https://github.com/facebook/react/issues/955#issuecomment-33104589).

cc @oliviertassinari.

[2016-10-07 23:14] lucasbento commented on #5341
@bochen2014: I'm sorry but I think I don't get what you mean.

Are you thinking about using Material UI's theme outside of it? build a component with its styles without actually using it?

[2016-10-08 02:43] spademan opened #5348 "is that possible fixed some one tablerowcolumn in right or left"
### Problem description

### Steps to reproduce

### Versions

- Material-UI: all
- React:
- Browser:

[2016-10-08 04:10] wss534857356 commented on #5316
@lucasbento Thank you, I still revised the handleInputChange method, onChange () position to solve the problem.
[code]

I still think we should be onChange () method ahead.

[2016-10-08 06:02] tannerjt opened #5349 "[Drawer] Initialize Drawer Within Element"
### Problem description

I want to use the drawer within a specific element of an application I'm building.  No matter how I try to do this, the drawer is always appended to the <body>.  I'd really like to replicate semantic-ui's [example](http://semantic-ui.com/modules/sidebar.html#/examples) of initializing it within an internal div element within my app.

Any suggestions?
### Versions

v0.16.0

[2016-10-08 10:09] #5087 closed

[2016-10-08 12:00] bochen2014 commented on #5341
thanks @lucasbento for your reply. that's exactly what I want.
I want a naviBar like the one bootstrap provides, which doesn't exist in material-UI

[2016-10-08 12:16] lucasbento commented on #5341
Well, you are free to create the components that you wish, Material UI does not get in your way.

Just use `getMuiTheme()` function to get the style properties and you are good to go.

I'm on mobile right now so I can't link you to the function, try searching its name on the issues.

[2016-10-08 12:49] bochen2014 commented on #5341
thanks again. let's say I add reference to getMuiTheme, and have got access to those build in inline styles, , so by now I've got a component that has the same look at those build-in ones.
but how can I add ripple effects to it?

[2016-10-08 12:59] bochen2014 commented on #5343
ahhh.. so it's

[code]
and each component will do their own vendor prefix. e.g. for AppBar, it **explicitly** autoprefix it's left icon item, its tile and its right icon item

[code]

I passed in a custom component as the iconElementRight, and the style I was talking about was applying to the custom component, so Mui has no visibility to it, hence it won't autoprefix it. I can call prepareStyle ex

[2016-10-08 14:57] oliviertassinari commented on #5343
I though it was a different issue, sorry.
I'm glad you found the answer on you own.

[2016-10-08 15:19] #5316 closed

[2016-10-08 17:11] ethan-deng commented on #4430
Look for these code in TextField.js and comment out the line

 // _this.setState({ hasValue: isValid(event.target.value), isClean: false });

This fixed the issue for me. It has been a while ago, I don't remember how I figure it out. Just want to share the code.

    return _ret = (_temp = (_this = _possibleConstructorReturn(this, (_Object$getPrototypeO = Object.getPrototypeOf(TextField)).call.app

[2016-10-08 19:18] marcelorl commented on #4156
[code]

It doesnt work for me.

But if I change the event to `onTitleTouchTap ` it works fine.

How can I make it work with `onRightIconButtonTouchTap`

Thanks.

[2016-10-08 20:13] mwq27 commented on #1421
Here's the dependencies of material-ui/Slider.js
<img width="1129" alt="screenshot 2016-10-08 15 11 24" src="https://cloud.githubusercontent.com/assets/551359/19215652/870bb0f6-8d69-11e6-945d-9b3532aa273a.png">

Here's the deps for Toggle
<img width="1134" alt="screenshot 2016-10-08 15 12 53" src="https://cloud.githubusercontent.com/assets/551359/19215659/bd2425ba-8d69-11e6-940f-0bb2fb1a75aa.png">

[2016-10-08 20:30] oliviertassinari commented on #1421
@mwq27 Looks like React is the culprite for that size. We can't do much about it.

[2016-10-08 20:32] oliviertassinari commented on #5347
I agree, it's not the best channel for this discussion.

[2016-10-08 20:32] #5347 closed

[2016-10-09 00:02] lucasbento commented on #5348
I'm sorry, can you elaborate your question a little more? I don't understand what you mean.

[2016-10-09 00:05] lucasbento commented on #5349
Hey @tannerjt, can you show me a little snippet of what you are trying to do?

The drawer will be wherever you put it, it's nothing more than a simple React component.

[2016-10-09 00:06] karanveerm commented on #1148
+1

[2016-10-09 00:09] lucasbento commented on #5341
@bochen2014: you are welcome.

You can try what is specified here: https://github.com/callemall/material-ui/issues/4580#issuecomment-229372086, another component to create the ripple effect that you are looking for.

[2016-10-09 00:53] lucasbento commented on #4156
@marcelorl: are you injecting [react-tap-event-plugin](https://github.com/zilverline/react-tap-event-plugin) (https://github.com/callemall/material-ui/issues/5208#issuecomment-247860938)?

[2016-10-09 02:22] marcelorl commented on #4156
Hi. Yes, I am.

That's the whole code i'm trying to run.

[code]

- There's no console errors.
- The AppBar is showing up fine.
- If I change sidebar state to true, the drawer will display fine as well.
- If I move the action to `onTitleTouchTap ` (just to test), it works fine.

Anybody has a simple working example with this right click event?

Thanks.

[2016-10-09 03:13] brandonmp opened #5354 "Jest snapshot testing and <Toggle>"
### Problem description
Looks like something in the `<Toggle>` component breaks while trying to run basic Jest snapshot tests.  `jest.mock('material-ui/Toggle')` prevents error and makes test work, though.

Anyone know if I can fix this? or is it something intrinsic to library?

### Steps to reproduce
[code]
    FAIL  src/components/ToggledCheckboxGrid/ToggledCheckboxGrid.test.js
     ● Toggle sho

[2016-10-09 04:37] tannerjt commented on #5349
Here is an example I created in [jsFiddle](https://jsfiddle.net/qjy1dbor/1/).  Basically, I would like to open the drawer within an internal DOM element, but I'm having trouble.

[2016-10-09 09:16] spademan commented on #5348
haha  ok~~

![image](https://cloud.githubusercontent.com/assets/6311122/19219348/22c76f06-8e43-11e6-9de1-6d1f6d57dbbe.png)
for example  i want some one column (in the above pic , I encircle with red pen)  aways in the right  of table~~~

[2016-10-09 09:59] lipenco opened #5355 "[RefreshIndicator] unknown props react warning"
### Problem description
unknown props react warning
https://facebook.github.io/react/warnings/unknown-prop.html

### Steps to reproduce
run doc with RefreshIndicatorcomponent
### Versions

- Material-UI: 0.16.0
- React: 15.3.1
- Browser: Google Chrome Version 52.0.2743.116 (64-bit)

[2016-10-09 10:22] ashl1 commented on #5355
The dup of #5299

[2016-10-09 12:15] #5355 closed

[2016-10-09 12:16] bochen2014 opened #5357 "can't see where vendor-prefix is called"
I see @nathanmarks  has exposed prepareInline method within styleManager
[code]

but I can't see the prepareInline method used within source code.
Please help to clarify this. thanks

Also , **Is it recommended to use `next` branch in building a commercial website?**
I know the `master` branch is much mature, but given there is such a radical change in `next`, I don't want to create trouble for my

[2016-10-09 12:17] #5299 closed

[2016-10-09 12:18] oliviertassinari commented on #5299
Sorry guys for the regression.

[2016-10-09 13:36] oliviertassinari commented on #5345
@sibelius Do you think we could improve this point? Otherwise I'm going to close the issue.

[2016-10-09 13:40] lucasbento commented on #4156
@marcelorl: can you try moving `injectTapEventPlugin()` outside of `constructor()` function?

Here is a working bin using a stateless component: http://www.webpackbin.com/NJ7gLNmCW.

[2016-10-09 13:40] oliviertassinari commented on #5277
@lucasbento Right, I'm gonna close this issue. For anyone having this issue, here is the migration transformation function taken from the *breaking changes docs*:
[code]

E.g.
[code]

[2016-10-09 13:40] #5277 closed

[2016-10-09 13:43] lucasbento commented on #5354
Hey @brandonmp, I'm not sure what causes that issue, I strongly encourage you to open up a question on [stackoverflow](https://stackoverflow.com) though. ;)

[2016-10-09 13:43] oliviertassinari commented on #3618
@TomMahle Yes, they should be there. I can see the following ones:
[code]

[2016-10-09 13:51] lucasbento commented on #5349
@tannerjt: Good, thank you for sharing it, now I get what you need.

Yes, you can, but that's actually related to CSS, if you inspect the element created by `<Drawer />` you can see that it has `left` and `top` properties, by changing those you can make it fit on the container that you need, also from `position: 'fixed'` top `position: 'absolute'` may be a better approach.

[2016-10-09 13:53] oliviertassinari commented on #5281
@cheonhyangzhang You can work around this issue by providing your own `tabTemplate` component.

I'm adding the `good first issue` tag as it's an easy one to fix. But that has low priority IHMO.

@lucasbento If you want to work on it, go ahead 😄 . We could add a `tabContentStyle` property.
Bonus: the `TabTemplate` could be rewritten with a stateless functional component.

[2016-10-09 13:55] lucasbento commented on #5348
@spademan: There is not built-in prop to handle this on Material UI, but you can always do that through CSS.

Try inspecting how ant design does that and apply to the columns that you wish.

Maybe this is a good feature to include, cc @oliviertassinari.

[2016-10-09 13:59] oliviertassinari commented on #5348
@lucasbento I have never invested time on the `Table` component. It's really buggy. I have seen a lot of issues / PR to address. I would rather close any issue / PR on this component that are not based on the `next` branch. There is too much to do otherwise.
What do you think?

[2016-10-09 14:24] lucasbento commented on #5348
@oliviertassinari: agreed, better focus on `next`.

[2016-10-09 14:41] AhmedSayed77 opened #5358 "Icon in icon button in icon menu as right element in app bar doesn't change color"
### Problem description

Just as the title says, I can't change the icon color of the icon dropdown if it's the right element of an app bar
### Steps to reproduce

Just use the code from the example and add color attribute to the icon like this:

[code]
### Versions
- Material-UI: 0.15.4
- React: 15.3.2
- Browser: chrome

[2016-10-09 14:42] #5348 closed

[2016-10-09 14:45] sibelius commented on #5345
yeah the `next` branch

[2016-10-09 14:53] oliviertassinari commented on #5345
@bochen2014 is hosting an unofficial version of it: http://material-ui-next.azurewebsites.net. But the branch is still early stages.
I don't think that we will document it any time soon. You gonna need to checkout the branch to have a look at the latest commit.

[2016-10-09 14:59] brandonmp commented on #5354
thanks, i'll cross-post there, and to the Jest repo

I'd like to leave it open here, however, because:
a) there isn't really any config to go into Jest that could be screwed up in my project, so i don't think it could be config user-error
b) when i generate snapshot tests for other components, it works fine. in fact, some components which include `<Toggle>` won't work until I delete `<Toggle>`
c)

[2016-10-09 15:07] bochen2014 commented on #5357
some follow-up.

I'm pretty sure it has been vendor prefixed, as I've checked on both IE and chrome,, ;-) a big relief here

I just can't find it where it's applied from source code

[2016-10-09 15:13] adrianmc commented on #3618
Really glad to see this come full circle! Good job everyone!

[2016-10-09 15:24] brandonmp commented on #5354
Okay, i dug into the `<Toggle>`, it turns out there's a bug in `React` that prevents components that use `refs` from being handled correctly by `react-test-renderer`.

Apparently, it'll be fixed in `React 15.4.0`. until then, the guidance is to just `mock()` components that use `refs`.

[https://github.com/facebook/react/issues/7740](https://github.com/facebook/react/issues/7740)

[2016-10-09 15:24] #5354 closed

[2016-10-09 15:59] bochen2014 commented on #5357
ok. I have finally figured it out..

this is because the `jss` instance we are using here, is created with default plugins defined in `jss-preset-default`. source code in MuiThemeprovider.js
[code]

[code]

[2016-10-09 17:34] marcelorl commented on #4156
Same issue, nothing happens.

I saw your example and no log triggers when clicking in the right icon.
http://www.webpackbin.com/VJ0VaDm0W

But it triggers with the title click.

[2016-10-09 18:02] oliviertassinari commented on #5357
Right, it's provided by default by JSS. I thing that we can close the issue. Feel free to continue the conversation.

[2016-10-09 18:02] #5357 closed

[2016-10-09 18:27] oliviertassinari commented on #5345
TL;DR the documentation on the `next` branch is here: https://github.com/callemall/material-ui/tree/next/docs.

[2016-10-09 18:27] #5345 closed

[2016-10-09 19:05] sibelius commented on #5345
tks

[2016-10-09 19:44] lucasbento commented on #4156
That's really odd, works okay here:

![touchtap](https://cloud.githubusercontent.com/assets/6207220/19223170/723b75b8-8e3f-11e6-80e1-51b83a11e44b.gif)

@marcelorl: what's your browser and its version?

[2016-10-09 20:50] kenjiru commented on #2863
Looking forward for the `Search Filter` component implementation.

[2016-10-09 20:56] marcelorl commented on #4156
Ok, I have no idea what happened, probably cache.

But I just tried to run it again and it strangely worked.

Sorry for taking your time.
Thanks a lot @lucasbento

[2016-10-09 21:19] #5004 closed

[2016-10-09 21:30] janoist1 commented on #5277
It did not work me well, but I found another solution: css transform - scale.

[2016-10-09 23:44] bochen2014 commented on #5357
thanks @oliviertassinari

what about my second questions?
do you recommend me to use `next` in the project i'm currently working on (it's a commercial one, not my personal project). do you think `next` is ready for production use?
I personal think its fine.  i mean, the backbone is already there,, and seems can suit all my needs. I just wan t to hear what other ppl think

[2016-10-10 00:26] lucasbento commented on #4156
@marcelorl: no problem, I'm glad it worked!

[2016-10-10 00:59] #5341 closed

[2016-10-10 02:41] bochen2014 commented on #5341
thanks @lucasbento

happy to close this issue

[2016-10-10 05:14] markau commented on #5181
The root cause is a `-webkit-appearance: button;` style.  Below is an override that can serve as a workaround.

[code]

[2016-10-10 08:11] oliviertassinari commented on #5357
As only some components have been migrated to the next branch, the first question to answer is. Can `master` and `next` version can work together under the same react root?
Yes, they can. The context names do not conflict.
That means you can gradually migrate your app.

Let's see the risks:
1. Will this branch be actually finished and merged  in the `master` branch?
I would say that the risk is lo

[2016-10-10 11:34] #5281 closed

[2016-10-10 11:43] rigelk commented on #3933
@markau could you point to that other implementation? Maybe we could adapt it and bring it here.

[2016-10-10 12:52] peteruithoven opened #5364 "Link in Checkbox label"
### Problem description

With the current styling it seems impossible to have elements with their own events (lik a link) inside the label of a Checkbox component.
The input html element is placed on top of the div with the label (with link), and has the same size. This makes it impossible to receive events from elements in the label.
### Steps to reproduce

Create a CheckBox with a label that con

[2016-10-10 15:31] acomito opened #5367 "[FloatingActionButton] border-radius clashing with react-virtualized"
### Problem description

Some Material-UI styles seem to be clashing with react-virtualized. Specifically, the FloatingActionButton transition. It does not have an explicit border-radius of 50% on it (although it usually works as expected anyway). But because it isn't explicitly on that transition, something in react-virtualize seems to be overriding it.

So it appears like this:

![button](https:

[2016-10-10 15:32] cheonhyangzhang commented on #5281
@oliviertassinari  @lucasbento
Wow  thanks guys.

Is this already included in the latest version or it will be included in future version?

[2016-10-10 15:49] dobryanskyy opened #5368 "[AutoComplete] Documentation for filter is not complete"
### Problem description

filter function has the following signature: `function(searchText: string, key: string, item: objectOrString) => boolean`
however in the documentation it's missing `item` parameter description
### Versions
- Material-UI: 0.16.0

[2016-10-10 17:49] lucasbento commented on #5364
This happens because the input is in front of the label: http://www.webpackbin.com/4yjz3oEAZ

A higher `z-index` fixes this issue but the checkbox does not trigger when clicking on the label.

[2016-10-10 19:06] peteruithoven commented on #5364
Yep. I'm curious why. With old school html the label would get a `for` attribute with the id of the input element. That way you could also click on the label.
In this case, why not (also) add the event handler on the label?

[2016-10-10 19:17] peteruithoven commented on #5364
@lucasbento Thanks for that webpackbin tool! I was trying to share my example using http://esnextb.in but that currently fails with React (com/voronianski/esnextbin/issues/5).

[2016-10-10 19:24] lucasbento commented on #5364
@peteruithoven: that's a good idea, would you mind submitting a PR for it?

Haha, no problem, it's a great tool, also open-source: https://github.com/christianalfoni/webpack-bin 😉

[2016-10-10 20:53] HofmannZ opened #5369 "[BottomNavigation] not having the muiTheme as Context"
### Problem description
When using the `BottomNavigation` component within my `MuiThemeProvider` with the darkBaseTheme selected, the `BottomNavigation` remains in the lightBaseTheme.

The theme actually works just fine for the `AppBar` component.

So I used the React dev tools to see what's going on in the jsx, and compared it to the jsx on material-ui.com. It looks like the BottomNavigation is m

[2016-10-10 21:02] surajadh commented on #4670
I was using AppBar and here is the code I am using to fix this as per comments above:

`const Header = React.createClass({
    handleClick(e){
        console.log("reached here::");
    },
    render(){
        injectTapEventPlugin();
        return <AppBar title="Saviors of Atlantisss" onTitleTouchTap={this.handleClick()}/>
    }
});

export default Header;`

[2016-10-10 21:36] TomMahle commented on #3618
Fantastic! Can't wait for this :D

[2016-10-10 23:06] markau commented on #3933
@rigelk, it seems I was mistaken saying it is Material implementation, but it does use React.

https://grommet.github.io/docs/date-time

[2016-10-11 03:41] sorahn commented on #4134
I'm using my RaisedButtons as links and I was able to remove the focus after clicks.  I would say you could probably do this in any action you had hooked up to a button.

[code]

[2016-10-11 05:39] mrdulin opened #5370 "[Tabs] The inkBar position is not correct"
[code]

I set the `tab` with `width: 50px`,  but the inkBar position `left` always `10%` step.  How to set `inkBar` position `left: 50px` -> `left: 100px` -> `left: 150px`?

[2016-10-11 06:07] mrdulin commented on #5370
After I read the source code of `tabs`, It seems there is no 'official' way to do this.
I do it like this:
[code]

[2016-10-11 09:38] mehrdaad opened #5371 "[Snackbar] Updating component view causes to show again"
``Snackbar`` component with ``open`` prop set to true is working as expected. but after the snackbar hides if the view is rerendered, (for example by writing in edittext) the snackbar is shown again.
Is there anyway to prevent this from happening?

[2016-10-11 09:46] Kilte commented on #5371
Hmm..., set `open` prop  to false?

[2016-10-11 10:14] fzaninotto commented on #4366
I also don't understand why not using the browser table renderer is considered a feature. Auto-expandable cells based on content is a must IMO. The `<Table>` component is useless with real content otherwise.

For instance, in admin-on-rest, look at how the 'id' column takes too much space and the "post' column is too narrow:

![image](https://cloud.githubusercontent.com/assets/99944/19266924/1fcb4

[2016-10-11 10:36] mehrdaad commented on #5371
Yeah, I've considered it, but you should do it in ``componentDidUpdate``.
Updating state in that method causes ``componentDidUpdate`` to recall and it created a infinite loop of calling ``componentDidUpdate``.

[2016-10-11 11:51] lucasbento commented on #5371
Can you paste a snippet of your component using snackbar?

[2016-10-11 12:20] #5339 closed

[2016-10-11 14:20] mehrdaad commented on #5371
my render method:

    		render() {
				return (
						<div>
								<Snackbar
										open={this.state.showSnackbar}
										message="تگ ساخته شد"
										autoHideDuration={3000}

						</div>
				);
		}

my ``componentDidUpdate`` method:

    if (this.props.createdTag & !this.state.showSnackbar) {
						this.setState({showSnackbar: true});
						setTimeout(()=> {
								this.setState(

[2016-10-11 18:06] Taakn opened #5372 "[FontIcon] does not display on Android Browser"
### Problem description

FontIcon does not display on Android Browser
### Steps to reproduce

go to the following page on a Samsung Browser (tried on S6). Not Chrome but Android browser shipping with Samsung
http://www.material-ui.com/#/components/font-icon

Public icons do not display
### Versions
- Material-UI: 16
- React:
- Browser: Samsung Galaxy S6 Browser

[2016-10-11 19:08] Solitaryo opened #5373 "If set value to TextField, can't change it anymore"
### Problem description
If you set a value in a TextField, by its property 'value', then, as a user you can't write on that TextField, for example:
`<TextField id={Math.random().toString()} ref={'usernameTf'} value={this.state.profile.username} />`
I'm pretty sure you're asking to yourself, why use the value property and not the defaultValue, well, the point is defaultValue does not work when you

[2016-10-11 19:12] lucasbento commented on #5369
@HofmannZ: I'm not being able to reproduce your issue, can you please provide a [bin](http://http://www.webpackbin.com/) or a repository with the minimal environment to test it?

[2016-10-11 19:26] lucasbento commented on #5373
@Solitaryo: that's because `<TextField />` only follows whatever is on the state.

To use state, you should provide an `onChange()` function prop so it changes the state value on user typing, something like:

[code]

A good tip is using something like [formsy-react](https://github.com/mbrookes/formsy-material-ui) and its [Material UI wrapper](https://github.com/mbrookes/formsy-material-ui) by @mbr

[2016-10-11 19:27] lucasbento commented on #5372
Can you please provide a screenshot?

[2016-10-11 19:42] lucasbento commented on #5371
@mehrdaad: `<Snackbar />` hides itself after the value provided to the prop `autoHideDuration`.

Something like this works just like you want:

[code]

`componentDidUpdate()` creates an infinity loop because the condition is not breaking.

[2016-10-11 19:42] oliviertassinari commented on #5373
@Solitaryo You are controlling the component. That's the expected behavior. It's the same than with a native `<input />` component. I'm closing this issue as it's linked with some core concept of React.

[2016-10-11 19:42] #5373 closed

[2016-10-11 19:45] oliviertassinari commented on #5371
Side note while I'm seeing this issue. For the `next` branch. I strongly think that we should break down the component. I would rather provide the `state` utility feature as *auto-hide* and *transition message* into separate HoC.

[2016-10-11 19:55] lucasbento commented on #5371
@oliviertassinari: can you give an example of how you imagine that?

[2016-10-11 19:57] mehrdaad commented on #5371
@lucasbento yeah I know that it autohides, but when the view is rerender, like typing in a textview, it is shown again.

[2016-10-11 19:59] oliviertassinari commented on #5371
We could have the following modules:
- Stateless `<Snackbar />`.
- `autoHide` HoC that implement the `autoHideDuration` property.
- `transitionMessage` HoC that implement the transition when the `message` property change.

That would allow users to only get the behavior they want without paying for features they don't need.

[2016-10-11 20:02] Taakn commented on #5372
![screenshot_20161011-220024](https://cloud.githubusercontent.com/assets/16574157/19286547/617ed290-8ffe-11e6-81cc-05c390d5016f.png)

[2016-10-11 20:08] lucasbento commented on #5371
@mehrdaad: that sounds more like a React-related problem, if you use state correctly the `<Snackbar />` won't show up.

How and where are you defining `showSnackbar` as `true`?

[2016-10-11 20:12] mehrdaad commented on #5371
I have provided the code above.
suppose I have set open to true.  So it basically should show a snackbar and hide it after ``autoHideDuration``. but after the snackbar is gone if the view is updated it is shown again.
And that is my problem.

[2016-10-11 20:16] lucasbento commented on #5371
@mehrdaad: did you try the code that I sent before? Supply a function to prop `onRequestClose` so it sets the state to `false`.

If you did and it did not work, please paste it here so I can take a look.

[2016-10-11 20:21] mehrdaad commented on #5371
@lucasbento yeah I tried it, ``onRequestClose`` is executed when a pixed outside of snacbkbar is clicked.
But it's not called when snackbar closes after timeout.

my render method:

    		render() {
				return (
						<div>
								<Snackbar
										open={this.state.showSnackbar}
										message="tag created"
										autoHideDuration={2000}

						</div>
				);
		}

my ``componentDidUpdate``

[2016-10-11 20:47] mehrdaad commented on #5371
@lucasbento tried ``onRequestClose`` again. seems like that was my fault it's working now.
I have a redux question here. right now I dispatch an action which resets redux state.
What would be your suggestion for this if I don't want to reset redux state?

[2016-10-11 21:15] HofmannZ commented on #5369
Yeah sure, just made the [repo](https://github.com/HofmannZ/starwars-clicks-app), I'll switch it back once we resolved the issue. Just run npm install & npm start.

[2016-10-11 21:32] Taakn commented on #4499
See this issue with temporary fix https://github.com/callemall/material-ui/issues/3638

a complete fix was on its way, but wasn't merged https://github.com/callemall/material-ui/pull/4638

[2016-10-11 22:50] petermikitsh commented on #5240
I've added that snippet to my code, but it is rendering the same. However, I noticed that I am no longer seeing the issue on the documentation site. It appears to be an issue in my app.

[2016-10-12 02:20] LeeKevin opened #5375 "[ListItem] Setting disabled={true} should reset hovered state to false"
### Problem description

When setting `disabled={true}` on a `ListItem`, it "freezes" the current state and props to create the disabled element. However if the ListItem is being hovered, the `state.hovered` is kept as `true`which is undesirable.
### Steps to reproduce
1. Render a `ListItem` that will set the `disabled` prop to `true` onTouchTap/onClick.
2. Add a button that will clear the `disabl

[2016-10-12 06:44] oliviertassinari commented on #5334
This breaking changes is documented in the [CHANGELOG.md](https://github.com/callemall/material-ui/blob/master/CHANGELOG.md#0160-rc1)
We couldn't have done it differently as some UNIX systems are case insensitive (MacOS).

This regression is now solved.

Thanks for the feedback on the `v0.16.0`. Your concerns should be addressed. I'm closing.

[2016-10-12 06:44] #5334 closed

[2016-10-12 08:38] Taakn commented on #5372
Icons are being displayed correctly from the Google Material Design Icon site. If I stop using ligatures in my code it works. I am using Android Browser 4 so it should work though. Not exactly sure where the problem is with Material UI

[2016-10-12 09:00] zp1112 opened #5376 "TableHeader's color remained in its original location"
### Problem description

problem
There are two tables with no data but header cloumns. When the asynchronous request returns the data to populate react elements, the second original form head pushed down, but the color remained in its original location.

first TableHeader:
![image](https://cloud.githubusercontent.com/assets/14245159/19303792/a1086bbc-909c-11e6-95a2-7474c358a160.png)

the second Ta

[2016-10-12 09:01] zp1112 commented on #5376
the second TableHeader's color remained in its original location,and it's filled with new data but not the head title.

[2016-10-12 09:16] LeoIannacone commented on #4499
Hi guys, any news on this?

[2016-10-12 12:11] lucasbento commented on #5369
Hey @HofmannZ, thank you for sharing your code.

The problem is in here: https://github.com/HofmannZ/starwars-clicks-app/blob/master/src/layouts/App.js#L10.

Your `Object.assign()` is overwriting the `darkBaseTheme` `pallete` property.

Which would be like this:

[code]

And your screen would be very pretty:

![image](https://cloud.githubusercontent.com/assets/6207220/19309531/cde0df8e-905b-11e6-9

[2016-10-12 12:13] lucasbento commented on #5376
@zp1112: can you please provide a [bin](http://webpackbin.com/) so we can reproduce your issue?

[2016-10-12 12:23] oliviertassinari commented on #5240
I'm closing then. If you figured out what's going on, feel free to post it here. That could help other people.

[2016-10-12 12:23] #5240 closed

[2016-10-12 12:35] lucasbento opened #5377 "[Table] TableRowColumn not handling long text well"
### Problem description

### 0.15.4
![image](https://cloud.githubusercontent.com/assets/6207220/19309972/4526c76e-905e-11e6-8bc5-4cdb4cbc873e.png)

### 0.16
![image](https://cloud.githubusercontent.com/assets/6207220/19309948/2a803f8a-905e-11e6-8e39-d902e8bd43dc.png)

### Steps to reproduce

Provide a very long text to `<TableRowColumn />`: http://www.webpackbin.com/VkzfhMPRW

Seems to have been i

[2016-10-12 12:37] oliviertassinari commented on #5377
I'm fine with reverting 252449d48007e1abe9f043166b0c9121fe25065c. The Tooltip should most likely be render outside of the current DOM hierarchy.

[2016-10-12 12:39] HofmannZ commented on #5369
Thanks @lucasbento! I'm looking at the docs now, but could not find your reference right away. Maybe add a small example to the docs, instead of in a comment in a linked file? 🤔
Anyway thanks!

[2016-10-12 12:50] lucasbento commented on #4671
This issue was previously fixed by #5014, which introduced the regression #5377.

We should definitely follow what @oliviertassinari said:

[2016-10-12 12:54] lucasbento commented on #5369
@HofmannZ: yeah, that would be a good addition, It would be nice if you could open a PR for it. 😉

I'm closing this since it's resolved.

[2016-10-12 12:54] #5369 closed

[2016-10-12 13:00] #5377 closed

[2016-10-12 13:40] DoubleU23 commented on #3388
#5379 works as a "quickfix"
i would prepare a PR if i got the OK/Feedback and time.

[2016-10-12 14:25] luokuning opened #5380 "[Chip] not triggering close in Safari 10"
### Problem description

Hi there, I can only trigger `onRequestDelete` handler by clicking the delete button **NOT** the `X` symbol. I found the problem at [Chip - Material-UI](http://www.material-ui.com/#/components/chip), switch version to `0.16.0`, and in macOS Safari 10 browser (Chrome 53 is ok).
### Steps to reproduce

When mouse is just exactly at `X` symbol  within delete button (a SVG ele

[2016-10-12 14:49] lucasbento commented on #5371
@mehrdaad: cool, I'm closing this issue since this is resolved.

I can not answer since I don't have more info about what you are trying to do, also, Material UI issues should be kept as place to **only discuss about Material UI-related stuff, such as bugs and feature requests**.

I encourage you to try asking on [stackoverflow.com](http://stackoverflow.com/) which is a much better place for these

[2016-10-12 14:49] #5371 closed

[2016-10-12 15:19] meduza opened #5381 "[TextField] floatingLabelFocusStyle not working with floatingLabelFixed={true}"
### Problem description

floatingLabelFocusStyle and floatingLabelStyle work incorrect with floatingLabelFixed={true} option. In this case floatingLabel color always is blue:

[code]

### Versions
- Material-UI: material-ui@0.16.
- React: react@15.3.2
- Browser: Chrome Version 53.0.2785.143 (64-bit)

[2016-10-12 16:19] lucasbento commented on #5307
@NewOldMax: did you figure out what was wrong?

[2016-10-12 16:24] NewOldMax commented on #5307
@lucasbento , not, currently i'm busy with other things. I use ``<MenuItem disabled={true} />`` for for not yet implemented pages, so in my case sometime i just delete this prop and all will be ok.  But I still have this warning on **0.16.0**

[2016-10-12 19:14] StokeMasterJack opened #5382 "Floating Label Behavior"
There is a subtle difference in the way floating label behaves in Material-UI versus how it behaves in Polymer paper components.

It has to do with _when_ the floating label decides to float.

In Polymer: label floats after you type the first character
In Material-UI: label floats on focus.

I'm not sure which one is correct. Or if there is a correct. But my app uses both libraries. Sometimes on t

[2016-10-12 19:39] InsidersByte commented on #5163
+1

[2016-10-12 21:31] oliviertassinari commented on #5307
1. Here is the origin of this warning.
The `containerElement` is forwarded to the `<EnhancedButton />` when disabled is `false`.
However, it's forwarded to a `<div />` when disabled is `true`.

2. Shouldn't we use the `containerElement` instead of a `<div />` when disabled is `true`?
Otherwise you shouldn't be providing this property.

[2016-10-12 21:32] morenoh149 commented on #5330
@janoist1 when I follow your example I get
[code]

[2016-10-12 21:38] oliviertassinari commented on #5305
It's used in DatePicker and the TimePicker with [styles/getMuiTheme](https://github.com/callemall/material-ui/blob/master/src/styles/getMuiTheme.js).

[2016-10-13 02:08] Stupidism opened #5383 "[Slider] new feature to support non-linear or discrete steps"
### Problem description

Can't handle none-linear or discrete steps now

[2016-10-13 03:22] ankitgoyal100 opened #5384 "[Tabs] How to disable a tab?"
How do you disable a tab so it is not clickable?

[2016-10-13 03:23] m2mathew commented on #2454
Like @tintin1343 said above, it looks like passing in a `height` and `width` to the `iconStyle` prop does change the <svg> element's attributes. I have seen this in our CEA app as well as testing it again just now.

Do we need anything else from this issue?

[2016-10-13 03:28] m2mathew commented on #5384
I am not 100% sure it is supported out of the box. You can work on a custom version of Tabs/Tab that implements that, though! 😄
According to the [roadmap for the `next` release](https://github.com/callemall/material-ui/blob/master/ROADMAP.md), the tab functionality is going to be updated.

[2016-10-13 03:35] ankitgoyal100 opened #5385 "How to make an app bar like this?"
How do I make an app bar that looks like this:
<img width="921" alt="screen shot 2016-10-12 at 8 31 05 pm" src="https://cloud.githubusercontent.com/assets/3400675/19335820/24aec1be-90bb-11e6-9071-9e2194157078.png">

I can create the top half of the app bar with the search box but I'm having trouble adding the bottom half. This is my code so far:

[code]

This is what the output looks like:
<img wi

[2016-10-13 04:23] sujilnt opened #5386 "Enable Search in SelectField"
### Problem description

i wanted to create a component in material ui like adding a input searchbox inside a selectfield,  Right now I have  done using autocomplete but its not giving accepted behaviour .
![pasted image at 2016_10_12 04_18 pm](https://cloud.githubusercontent.com/assets/9514199/19336658/d0c97cc2-912a-11e6-8fdf-3118c8cdbf0c.png)

[2016-10-13 04:41] nsisodiya commented on #5386
Let me explain the issue.
We are using `SelectField` but we want a search field inside SelectField which can be controlled by flag called `enableSearch`.

This will be useful when item list is very long. Example country dropdown !!

[2016-10-13 05:42] kidwm commented on #4583
Ref #5082

[2016-10-13 07:22] oliviertassinari commented on #2454
The issue description looks pretty good. We have a reproduction test case. I have added a `good first issue` tag for anyone how want to submit a PR.

[2016-10-13 08:27] Domiii commented on #773
Any updates?

`Tabs` not displaying right in the `AppBar` is still an issue. You rejected [this PR](https://github.com/callemall/material-ui/pull/3005/files) eight months ago. Is there a better solution by now?

[This is also being discussed on StackOverflow](http://stackoverflow.com/questions/33005883/creating-a-navbar-with-material-ui/40015842#40015842).

[2016-10-13 11:30] oliviertassinari commented on #773
@Domiii Nop, that's something we should try to address in the `next` branch.

[2016-10-13 12:24] trepidacious opened #5387 "Switches focus indication left in place when moving focus quickly"
### Problem description

When quickly moving focus using tab, the grey rectangle around a checkbox, radio button or toggle can be left displayed when the checkbox is not focused.

I have no knowledge of the internals, but the focus highlight seems to be animated, so perhaps this is due to losing focus before the animation/transition is complete?
### Steps to reproduce

Go to [checkbox docs page](h

[2016-10-13 12:53] lucasbento commented on #5385
@ankitgoyal100: I encourage you to put your question on [stackoverflow.com](http://stackoverflow.com/), there are many experts there to help you with it.

Material UI's issues are better used only for feature requests or bugs.

[2016-10-13 12:53] #5385 closed

[2016-10-13 12:55] lucasbento commented on #5383
@stupidisum: please elaborate your question.

[2016-10-13 12:57] lucasbento commented on #5330
I'm closing this issue since there's no answer form the creator, if you have further questions please ask on [stackoverflow.com](http://stackoverflow.com).

[2016-10-13 12:57] #5330 closed

[2016-10-13 12:59] lucasbento commented on #5163
Duplicated of #5377 and fixed on #5378.

[2016-10-13 12:59] #5163 closed

[2016-10-13 13:04] lucasbento commented on #5380
@luokuning: did you test it on the docs? If you didn't, can you provide the snippet of the code that you used?

I just tested on Safari 9 and also 10 and it behaves as expected.

[2016-10-13 13:07] stunaz commented on #4066
check this https://styled-components.com/

[2016-10-13 13:26] trepidacious commented on #5387
There's actually more to this - if you press space to toggle the actually focused checkbox while other checkboxes appear focused, they all toggle...

[2016-10-13 14:11] m2mathew commented on #2454
I think I misunderstand the issue, then. When adding styles to the `iconStyles` prop, it does transfer to the SVG.

For instance, when I add these styles
[code]
to this component
[code]

...I can see in the Chrome inspector that the SVG element itself has the `iconStyles` applied to it.

[2016-10-13 15:17] morenoh149 opened #5390 "Enzyme Testing material-ui crashes"
### Problem description

given

[code]

I get the error

[code]
### Versions
- Material-UI: 0.15.0
- React: 15.3.0
- Browser: n/a

Originally I was getting errors regarding `prepareStyles`, but then I added muiTheme related args to the component's context.
ref https://github.com/callemall/material-ui/issues/5330

[2016-10-13 16:09] STRML commented on #4066
It's pretty late in the game to change technologies, but I agree that styled-components is very promising. Handles SSR, media queries, pretty nice syntax and so on. Compared to JSS it also handles autoprefixing and theming.

[2016-10-13 16:25] kof commented on #4066
As far as I know it uses postcss inside, which will not give an acceptable performance when used at runtime, because it is a full css parser with lots of edge cases handling and plugins. I could imagine to preprocess this to JSS JSON, but to be honest I don't see much value in using CSS language and mixing it with JS variables and function calls vs. just using JS all the way down.

[2016-10-13 19:32] netarc commented on #5142
@trattles I had this same issue until I looked at the latest MaterialUI and saw that this was recently supported via #5196

[2016-10-13 19:54] mtrpcic commented on #773
THere's been a lot of activity and discussion here, and I'm eager to find an AppBar implementation that is a bit more composabe. The most recent comment is that we wanted the comosable AppBar in 0.16.0 (on May 20 by newoga), but I haven't seen any mention, and the documentation still shows the old style. Any news here?

[2016-10-13 19:55] mtrpcic commented on #773
Does anyone have an alternative to the AppBar? I want to have a search field in my main app header, which I'm currently using an AppBar for, and they don't quite play nicely together.

[2016-10-13 20:16] ankitgoyal100 opened #5391 "[Tabs] Change tab height"
Is there a way to change the tab height so it is not 48px tall?

[2016-10-13 20:34] lucasbento commented on #5391
Yes, just use the `style` prop, please read the [documentation](http://material-ui.com/) before opening an issue, also, use [stackoverflow](http://stackoverflow.com/) for that kind of regular question.

[2016-10-13 20:39] ankitgoyal100 commented on #5391
@lucasbento I read the documentation but I couldn't get it to work. Do I use the `style` prop on the `Tabs` element or the `Tab` element?

[2016-10-13 20:48] lucasbento commented on #5391
@ankitgoyal100: sorry, I read wrong and thought you questioned about `<AppBar />`, the `style` prop is passed to `<Tabs />` as specified on the docs:

![image](https://cloud.githubusercontent.com/assets/6207220/19366370/4b26041c-916d-11e6-8a89-fff8c2b419e3.png)

[2016-10-13 20:54] ankitgoyal100 commented on #5391
@lucasbento no problem. I passed in `style={{height: 32}}` and the tab height didn't change. I also played with the `tabItemContainerStyle` and `contentContainerStyle` props and had no luck. It seems like the direct parent `div` of the tab has a hard-coded height of `48px`. Is there any way to change that?

[2016-10-13 21:08] rofrischmann commented on #4066
Just to mention, the current build of styled-components is 250kb, **already minified**. To be fair that's because they bundle React and co, but still, even the PostCSS parser alone has 13kb (unminified, might be 2kb~) which already is almost the size of JSS or Fela.

It's lovely for quick & simple prototyping of (presentational) component, but I don't see any benefit/feature other solutions can't

[2016-10-13 21:19] lucasbento commented on #5391
@ankitgoyal100: it works with `tabItemContainerStyle`.

[2016-10-13 21:29] ankitgoyal100 commented on #5391
@lucasbento this is what happens when I set the height in the `tabItemContainerStyle`:
<img width="653" alt="screen shot 2016-10-13 at 2 29 08 pm" src="https://cloud.githubusercontent.com/assets/3400675/19367784/769df72e-9151-11e6-90a0-0ca77541ed77.png">

[2016-10-13 22:01] STRML commented on #4066
I agree, I tried it out in a library I develop and it was much too heavy to publish. I'm sure they'll make progress with that, but it appears the JSS work here is nearly complete and offers most of the same benefits.

[2016-10-13 22:53] bochen2014 commented on #5357
We use Material UI components library for our UI and we like it. But the problem with it is that it uses the same approach to vendor autoprefixing as Radium.

'So we had to switch to the Material Design Lite. We use react-mdl wrapper for React.
Great, it seems that we definitely solved all of the problems related to styling'

it seems mui is lising users because of styling

[2016-10-13 23:54] mbrookes commented on #2863
@Simran-B Thanks, I've updated for Bottom Nav and Password. Toggle Buttons are something different (follow the link for the spec), as are contact chips.

[2016-10-13 23:55] mtrpcic commented on #4767
Will porting the AppBar also be a step towards making it more composable, or is this just a 1:1 feature set port?

[2016-10-14 00:38] newoga commented on #4767
@mtrpcic A basic (and much more composable) AppBar is already in the `next` branch (https://github.com/callemall/material-ui/blob/next/src/AppBar/AppBar.js). It's fairly easy to implement the an AppBar with a similar API in older version of material-ui too.

Sorry @nathanmarks! Didn't see that mention before. Yeah I'd be interested though as I have time probably makes sense to keep this component

[2016-10-14 01:08] lucasbento commented on #5391
@ankitgoyal100: Can you please reproduce that issue on a [bin](http://www.webpackbin.com/4kSRu0OCb)?

[2016-10-14 01:12] Sharlaan commented on #5346
I kinda managed to get around this bug ... using Menu.props.disableAutoFocus, set it to :
- true for normal mouse focus events
- false to allow keyboard-focused events

Just forget about MenuItem.focusState
Took me some hours to get the thing working tough....

[2016-10-14 04:08] mtrpcic commented on #4767
@newoga Thanks for the info!

[2016-10-14 08:07] oliviertassinari commented on #5357
That wouldn't be an issue if it where the most valuable users. I.e. The one how wants to use it on large scale application with high needs.

[2016-10-14 08:11] luokuning commented on #5380
Yes, I tested on the doc page. And for clarity, here is a record gif about my operation.

![gif](https://d17oy1vhnax1f7.cloudfront.net/items/2X3e1S1E1O2I0H163J04/Screen%20Recording%202016-10-14%20at%2016.02.gif?v=19a13045)

[2016-10-14 09:52] BlockChange opened #5393 "TextField detect enter (or other) key"
Before there used to be an `onEnter` available if I remember correctly, but it got removed. However, I don't know how to detect an enter event now, because if I press enter, the `onChange` is not fired...

I must be missing something, but in the docs I don't see any other method to use to detect if enter was pressed...

- Material-UI: 0.16.0
- React: 15.3.2
- Browser: Chrome

[2016-10-14 10:17] jadus commented on #5070
any news about this ?
How are you dealing with this ?
onClick doesn't work on safari
onTouchTap gets called twice (or you have to reject clicks in injectTapEventPlugin but you still have a ghost ripple effect)
I see that de material-ui docs works fine without shouldRejectClick... How are you doing this ???

[2016-10-14 12:31] TiagoGouvea commented on #5257
Doing with a simple <img> I use like that:

`<img src={record.picture} onError={(e)=>{e.target.src="http://mydomain.com/img/user_null.png"}}/>`

If material-ui would provide a error callback loading the src parameter, would be great.

[2016-10-14 13:31] BlockChange opened #5394 "[CardHeader] paddingRight: 90px hardcoded + reasoning."
There's a `paddingRight`: `90px` on the container for `title` and `subtitle`: https://github.com/callemall/material-ui/blob/82b666966013d2e528a5c931773f9a12b556d5d5/src/Card/CardHeader.js#L19

The number seems arbitrary, and doesn't do a lot, except on mobile the `CardHeader` falls off-screen, making the page horizontally scrollable.

The only way to override this is to give it the `textStyle` pro

[2016-10-14 15:00] DoubleU23 commented on #5384
why you don't just add an handler (controlled tabs) and catch (do not update state on) THAT tab-key?

[2016-10-14 15:14] dzenkovich commented on #3553
I've managed to get modal full size via these styles, but this came at a cost of slide-out animation:
[code]

[2016-10-14 15:54] oliviertassinari commented on #5393
Just some though. How would you solve this issue with an `<input />`? I believe that you would solve the issue exactly the same way.
That's why this callback was removed from the component. It's not related to the material design specification.
I don't think that it's an issue but a question. I'm closing. Have a look into the `onKeyDown` and `onKeyUp` callbacks.

[2016-10-14 15:54] #5393 closed

[2016-10-14 16:12] oliviertassinari commented on #3553
@m19 I'm quite opposed to this approach.
Reading the material design specification, I strongly think that the *Full-screen dialogs* behavior described is from an UX point of view not from a component point of view.
I most cases, you will not display the same information on mobile and desktop. Making the `Dialog` a responsive component will lead to a poor UX. I think that the `Dialog` should stay a

[2016-10-14 17:44] oliviertassinari commented on #5257
@TiagoGouvea is your example actually working or is it a proposal?
If it's the first one, we should definitly make it work.

[2016-10-14 20:58] nearengine commented on #4867
Running into this issue as well. `setTimeout` callbacks that call `setState` on a component should always be referenced on the component instance (something like `this.timer`), so you can call `clearTimeout(this.timer)` when the component unmounts. Otherwise the callback will try to update state after the component is gone.

[2016-10-14 21:50] rahulkris123 commented on #4707
For the controlled date component, if the date value is null at the start use empty object {} instead of string to avoid react and material UI warning/error

[2016-10-15 00:31] lucasbento commented on #5033
There is currently no property to handle this, this can be done outside of Material UI though.

[2016-10-15 00:31] #5033 closed

[2016-10-15 00:31] lucasbento commented on #5032
@tolgaakyuz: hello, I'm sorry but which component are you talking about?

[2016-10-15 00:34] lucasbento commented on #5027
@johneriksson: thank you for reporting this, it's fixed on 0.16.0!

[2016-10-15 00:34] #5027 closed

[2016-10-15 00:37] lucasbento commented on #5234
hey @qiang123, thank you for reporting this!

We are building another table from the ground up on the `next` branch, so, this will be fixed soon.

[2016-10-15 00:37] #5234 closed

[2016-10-15 00:48] lucasbento commented on #5322
I'm closing this since this issue is not even close of following the issue template nor makes clear what its intention is.

[2016-10-15 00:48] #5322 closed

[2016-10-15 00:57] lucasbento commented on #5295
@manutorre: is this issue still relevant? If it is, please provide a [bin](http://webpackbin.com) to reproduce your issue so we can help you out.

[2016-10-15 01:20] shortstuffsushi commented on #5322
I updated the content of the report. I don't really appreciate the tone, shrugging it off because it doesn't meet your format. I feel like the intention, including the LoC with the bug pointed out, was clear enough, but oh well. Let me know if the current update isn't sufficient.

[2016-10-15 03:27] srinathh opened #5396 "react-tap-event-plugin errors with latest react 15.4.0-rc.4 installed by create-react-app"
### react-tap-event-plugin errors with latest react 15.4.0-rc.4 installed by create-react-app
### Versions
- Material-UI: 0.16.0
- React: 15.4.0-rc.4
- Browser: Chrome Version 53.0.2785.143 (64-bit)
- react-tap-event-plugin: 1.0.0

the `create-react-app` tool automatically installs the latest react release. With these versions, the react-tap-event-plugin throws a whole bunch of errors. It appears

[2016-10-15 06:33] manutorre commented on #5295
I've just updated react to 15.3.2 and works!
Now closed!

[2016-10-15 06:33] #5295 closed

[2016-10-15 09:16] dahuchao commented on #2243
I think, you made a mistake :
try this
[code]

[2016-10-15 10:42] amangeot commented on #5394
Same problem here, you can fix the horizontal scrolling with `<CardHeader style={{ overflowX: 'hidden' }} />`

[2016-10-15 17:52] ffrizzo opened #5399 "MenuItem close when has children"
### Problem description

I'm trying to use on AppBar with the IconMenu and MenuItem. This works for the first children in the
tree. But when I'm trying to use children of a children this wont work.

This work

[code]

This wont work

[code]

I'm trying to figure out what's happen but until now I doesn't have success. If someone can point me to where I can fix this I can work and make a PR
### Exam

[2016-10-15 18:20] xrash opened #5400 "[DatePicker] Missing/duplicate days"
### Problem description

**Only on Firefox**, day 2016-10-16 is missing  and day 2016-10-15 is duplicated. Actually, it seems like the October month, in every year, has a pair of missing/duplicate days. Examples:

![](https://i.gyazo.com/e1ae36f3bf675f4ad920623f7b1f6670.png)

![](https://i.gyazo.com/fc197e698b57382eb3013e160e18eb19.png)
### Link to minimally-working code that reproduces the issue

[2016-10-16 07:04] sujilnt commented on #5333
can i work on this issue?

[2016-10-16 15:54] nareshbhatia commented on #5073
I am running into the same issue. It is preventing me from using the SelectField in a tight layout. Please provide a solution.

[2016-10-16 21:00] #4581 closed

[2016-10-17 02:36] stupidisum commented on #5383
For example, I want to slide values [0, 1, 4, 5, 7, 8]

[2016-10-17 02:56] alecperkey commented on #1748
bodyStyle prop in Dialog will have height disappear and maxHeight overwritten with the calculated maxheight available via dialog.js

It automatically gives max-height via window.innerHeight - 2 * 64 for dialog padding

if you have title or actionbuttons it will remove respective sum of the heightoffset values in componentDidMount via a ref

since I have non-standard padding and passed nonstandard

[2016-10-17 03:38] m19 commented on #3553
@oliviertassinari that makes sense. Thanks!

Nobody in the community is working on this. Correct?

[2016-10-17 05:32] rmariuzzo commented on #283
What are we doing with this issue?

[2016-10-17 07:14] ffxsam opened #5408 "Multiline TextFields show a box around the input in Safari"
This is easy to reproduce:

* Load Safari (I'm using 10, not sure if that matters)
* Navigate to http://www.material-ui.com/#/components/text-field

See below:

![image](https://cloud.githubusercontent.com/assets/12532733/19428379/a45c426a-93fe-11e6-8e4a-4fc9e8a8bd49.png)

[2016-10-17 07:16] ffxsam opened #5409 "[Stepper] steps require two clicks to navigate in Safari"
Another bug, reproducible in Safari 10.
- Navigate to http://www.material-ui.com/#/components/stepper
- Find the example with clickable steps:

![licecap2](https://cloud.githubusercontent.com/assets/12532733/19428422/f01e84f6-93fe-11e6-9f03-45ab5979a759.gif)

[2016-10-17 07:24] oliviertassinari commented on #3553
Not I have heard of.
That shouldn't be too hard to do. Like building a castle with legos. The most challenging block I'm aware of is the animation.

[2016-10-17 07:42] zp1112 commented on #5376
this is my [bin](http://www.webpackbin.com/N12waDp0W)
but it works!
My project is similar to this one and it didn't work for me.why?my data is from Ajax request.
But when the page refresh it can be normal.That means sometimes it works....
Well,maybe it's something else.
thanks anyway!

[2016-10-17 07:42] zp1112 commented on #5376
@lucasbento this is my [bin](http://www.webpackbin.com/N12waDp0W)
but it works!
My project is similar to this one and it didn't work for me.why?my data is from Ajax request.
But when the page refresh it can be normal.That means sometimes it works....
Well,maybe it's something else.
thanks anyway!

[2016-10-17 10:45] sunasra commented on #5306
Should we do this? happy to take feedback

[2016-10-17 12:35] elisei-timofte opened #5410 "Weird border appears on latest Safari (10.0)"
### Problem description
A thin border surrounds every input

<img width="834" alt="screen shot 2016-10-17 at 14 59 37" src="https://cloud.githubusercontent.com/assets/6162068/19436814/f1f3b356-947a-11e6-9816-7f00c77aa29f.png">
<img width="174" alt="screen shot 2016-10-17 at 14 59 17" src="https://cloud.githubusercontent.com/assets/6162068/19436811/f1efb3c8-947a-11e6-9c22-293fe338d754.png">
<img wi

[2016-10-17 12:56] ausrasul commented on #783
I solved it for my case, you need to provide an unique id to that text field.
<TextField id='test123'>...
The id should not change after re-render though. This way React can keep track of which element was focused or not.
P.S. I had textfields in an array which is rendered via myArray.map, there you have to provide same keys when rerender.

[2016-10-17 15:02] Tushant opened #5411 "Request for Knob Component"
Any plan on component like Knob ?

http://anthonyterrien.com/demo/knob/

Thanks

[2016-10-17 18:40] jadus commented on #5070
I've finally followed @JamesAlias advice :
calling e.preventDefault() inside the onTouchTap event handler
Is there any drawback to this approach ?

[2016-10-17 19:02] jmansor commented on #5400
Hi @xrash, I've not been able to reproduce this. Latest version of Firefox in Mac in this URL http://www.material-ui.com/#/components/date-picker.

![image](https://cloud.githubusercontent.com/assets/969232/19451230/e4deffe2-9482-11e6-8592-fd10670d83e7.png)

![image](https://cloud.githubusercontent.com/assets/969232/19451270/0481a192-9483-11e6-8ac9-33bd11033878.png)

[2016-10-17 19:11] oliviertassinari commented on #5411
I'm not aware of any Knob component in the material design specification.
The closest thing we have is a determinate [`CircularIndicator`](http://www.material-ui.com/#/components/circular-progress).

[2016-10-17 19:11] #5411 closed

[2016-10-17 19:13] oliviertassinari commented on #5410
That regression seems to have been introduced by https://github.com/callemall/material-ui/commit/00bed93a81802e2f53424b0f755c79d4ef1319aa#commitcomment-19443299.

[2016-10-17 19:15] oliviertassinari commented on #5408
Thanks for raising this issue. I'm closing for #5410.

[2016-10-17 19:15] #5408 closed

[2016-10-17 19:30] patotoma commented on #4393
+1 still an issue

[2016-10-17 20:56] #5410 closed

[2016-10-17 21:48] jmansor commented on #5399
Found the same problem. Not sure if this is a bug or it is by design, as Material Design suggests limiting nesting one level deep.

https://material.google.com/components/menus.html#menus-menu-items

This also happens when using a regular Menu, as soon as you reach the second level in Main Menu > First Level (popover) > Second Level (popover) and click a MenuItem, it makes the First Level disappea

[2016-10-18 01:46] rsaccon opened #5416 "serverside rendering error when using next branch"
### Problem description

when server side rendering I am getting the following error:

[code]

the [comments at the sourcecode](https://github.com/callemall/material-ui/blob/next/src/internal/Modal.js#L20-L23)  say that this should not happen, but in my setup it does happen. When adding a Drawer to the app, I noticed this error first time. For now, I just handle this with a hacky patch, so on serv

[2016-10-18 05:07] taylorgoolsby commented on #5002
I had this problem. If I set `disableTouchRipple={true}` on the `IconButton`, then hovering still works even after clicking. It's a quick fix, but you have to make a trade-off between responding to hover or having a ripple effect.

[2016-10-18 06:42] KARTIK01 opened #5418 "Enter key event is not fired in TextField when multiLine is false"
[code]

enter key event is not coming.

[2016-10-18 06:44] elisei-timofte commented on #5410
I'll wait for the new release. Thanks!

[2016-10-18 08:56] Stupidism opened #5419 "How did you guys solve the unique problem after cloneElement?"
https://github.com/callemall/material-ui/blob/master/src/Card/Card.js#L116

[2016-10-18 08:59] TiagoGouvea commented on #5257
@oliviertassinari my exemple work fine to img objects. I think can be easy to put it on avatar, where, some times, we don't have the person picture anymore, or the image are stored on a third party server.

[2016-10-18 10:40] ffrizzo commented on #5399
@jmansor yes I saw that. But it says "Ideally, limit nesting to one level deep". So I believe we can have a second/third level, of course this is not recommended but in some cases this can be necessary

[2016-10-18 11:19] cybersteel8 opened #5420 "[Tabs] Tab isn't styling itself on load, must be clicked first"
I have 3 tabs, and the initialSelectedIndex is untouched (so its still defaulted to 0). The tabs operate correctly, so clicking on them will style and animate properly. But when the page that has the tabs loads, none of them are selected already. Shouldn't the one with value 0 be selected?

FYI I'm using react-swipeable-views as well, and I'm still using v0.15.4.

Is this fixed in v0.16.0, is it a

[2016-10-18 11:23] abilashs90 commented on #1956
Any updates on this? This is like the most anticipated feature of MUI!

[2016-10-18 13:56] Sharlaan commented on #1956
True, i think also it might be the most WANTED component ! :Q___

[Here is my current WIP.](http://www.webpackbin.com/4Jo3DMkkz)

[2016-10-18 14:18] Ajaay opened #5421 "Child DOM elements of Dialog cannot be referenced through refs or document.*"
I have the requirement to play a video element within a dialog but I am unable to access the element to set the video src property through either this.refs or document.getElementById on componentDidMount.

If I place the element outside of the Dialog tags it works.

Example code:

[code]

I get the same thing if I use and id tag and document.getElementById.

Any ideas? Am I doing something wrong?

[2016-10-18 15:45] lucasbento commented on #5142
@netarc: thank you so much for linking the issue!

[2016-10-18 15:45] #5142 closed

[2016-10-18 19:07] AsmaGargouri opened #5422 "How to prevent menu from closing on clicking on itemmenu ?"
Menu closes when I click on menuItem. I tried with many ways to prevent it from closing but I think there's a problem.

I used a function called onclick on the menuItem which calls e.stopPropagation(); e.preventDefault() but it didn't work. Menu always closes onclick.

Is there a way to prevent menu from closing?

[code]

[2016-10-18 21:15] vasyas commented on #3074
Hit the same issue. Any plans on fixing it?

[2016-10-18 23:15] hbeckeri commented on #4053
I had a lot of trouble trying to remove the `padding: 8px 0` as css classes couldn't reach the div and the `menuStyle`, `lineSyle` props didn't work either. However wrapping my listing content in a disabled menuItem and setting some negative margins works pretty good.
[code]

[code]

[2016-10-19 01:33] stunaz opened #5423 "TextField Multiline has a border-line around it on Safari"
### Images & references

--> http://www.material-ui.com/#/components/text-field

### Versions

- Material-UI: 0.16.0
- Browser: Sadari 10.0

[2016-10-19 01:37] OriginalPenguin opened #5424 "href attribute for MenuItem is missing from documentation..."
href appears to be an important attribute for MenuItem, but it is missing from the MenuItem Properties list found here: http://www.material-ui.com/#/components/menu

[2016-10-19 02:01] CatPhat commented on #3916
I recently ran into this issue and solved it with the following implementation.

[code]

[code]

[2016-10-19 10:59] lucasbento commented on #5424
@OriginalPenguin: hey, thanks for opening an issue, can you point me where you saw a `href` prop on `<MenuItem />`?

[2016-10-19 10:59] lucasbento commented on #5423
@stunaz: can you please provide a screenshot?

[2016-10-19 11:28] AsmaGargouri opened #5425 "touchTapCloseDelay property in iconMenu Component doesn't work correctly"
From Material UI documentation :

I want to use this option to disable closing menu when I click on my menuItem ( Some of them are textfields and checkboxes ).

It works fine when I put a number in the property and waits this amount of seconds and then closes, but when I put 0 ( as recommanded in documentation ) the auto close functionality is not disabled.

I think it's a bug.
Is there another wa

[2016-10-19 11:57] BeSports opened #5426 "[Popover] has a timeout that sets open state to false after 500ms"
I don't really see the use in this? See snippet below, taken from the Popover component code.

[code]

I have a component that opens a popover when the user starts typing and only open the popover if there actually is input.

But when a user types one letter, then removes his input (setting the popover open prop to false), but quickly enters new input, the popover will not open, because of the set

[2016-10-19 13:30] schuchowsky opened #5427 "Toggle laggy behaviour"
### Problem description

I have only one single toggle in my screen, which shows/hide some components.
The transition from on/off seems very laggy. Please refer to the gif below:
![laggy](http://hnordt.d.pr/1kBiD+)
### Link to minimally-working code that reproduces the issue

![image](https://cloud.githubusercontent.com/assets/13025585/19520207/2e673bb8-95ee-11e6-9d4e-070644fc1403.png)
![image](ht

[2016-10-19 15:38] ChrisJamesC opened #5428 "[Drawer] doesn't close in tableau public"
### Problem description

The drawer component doesn't hide in the Tableau Public application. Even drawers which have a "closed" state on initialisation are always open.

I am well aware that it is a very niche issue and that it's most certainly a tableau issue, but I prefer to document it here too. Feel free to close this issue if it's not suitable.

I also asked a question on the tableau forum:

[2016-10-19 18:02] lucasbento commented on #5428
Hey @ChrisJamesC, thanks for opening an issue.

I'm not sure that we can help with it, that sounds more like an issue on their side.

[2016-10-19 18:39] antoinerousseau commented on #4709
any luck with this? can send a PR too if it gets accepted

[2016-10-19 18:43] antoinerousseau commented on #4709
workaround: put the tag inside a `<div ref="myField">` and then call `this.refs.myField.scrollIntoView()` when you want to focus

[2016-10-19 19:28] oliviertassinari commented on #2189
Oups, I have never seen this issue before. It was fixed by #5219 and released with `v0.16.0`.

[2016-10-19 19:28] #2189 closed

[2016-10-19 19:30] oliviertassinari commented on #5384
I'm closing this issue for #1613.

[2016-10-19 19:30] #5384 closed

[2016-10-19 19:33] oliviertassinari commented on #5420
Could you provide a reproduction test case? That would help a lot 👷 .
It could be a code sample or a live example. You can use this playground to do so: http://www.webpackbin.com/4kSRu0OCb.

[2016-10-19 19:46] oliviertassinari commented on #4795
@newoga The WIP PR demos are pretty cool!
![oct -19-2016 21-39-12](https://cloud.githubusercontent.com/assets/3165635/19534578/a4ad2aac-9644-11e6-8860-33146cda78b2.gif)

It's gonna close a lot of issue 🎉 .
There is some points that we gonna need a plan for:
- Should we have an helper component to provide a similar API that we have now? I mean, a static version of [react-swipeable-views](https://gi

[2016-10-19 20:27] remon-georgy commented on #4659
Great find @raycursif! The issue is, some components like DatePicker only use `floatingLabelText` and `id` from the attributes above. Sometimes a label is not desired and I'd like to keep id creation for material-ui. In any case, error message needs to be more explicit.

[2016-10-19 20:30] maitriyogin opened #5430 "Nightmare/Electron touch event"
Hi,
I'm currently experimenting with the test runner Nightmarejs and having a nightmare trying to simulate a touchTap on all MUI buttons.
I'm wondering if theres a particular way to deal with touchTap in Electron and also nightmare ?
I'v included

[code]

in my index.js and can happily click or touch tap those buttons in chrome/safari also via night watch via selenium.
But not in Electron with Nig

[2016-10-19 21:35] oliviertassinari commented on #5296
@markoshust Thanks for raising this issue.

[2016-10-19 21:36] oliviertassinari commented on #5296
Actually it could be a different issue. Does #5412 address the issues?

[2016-10-19 21:40] oliviertassinari commented on #1595
This issue should have been fixed by #5219.

[2016-10-19 21:40] #1595 closed

[2016-10-19 21:42] oliviertassinari commented on #5419
HI. That doesn't look like an issue with this lib. I'm closing it. Would be better to post your question on StackOverflow, the answer would help more people.

[2016-10-19 21:42] #5419 closed

[2016-10-19 22:22] neopostmodern commented on #5200
The integer zero (`0`) issue got fixed in #5342. See #5087 too. Landed in `16.0.1`.

Pretty sure this solves @yagneshmodh's issue too.

[2016-10-19 22:46] acao commented on #3494
I would re-open this, as the solution above causes the drawer to no longer animate - including opening or closing. it just stays open. even when i set open={false} directly.

[2016-10-19 23:57] hyojin commented on #5252
I decided just to follow the google's guideline. nvm

[2016-10-20 00:46] stunaz commented on #5423
Sure
![textfield](https://cloud.githubusercontent.com/assets/1305483/19542554/23f09fae-963d-11e6-946c-329266cf87f9.png)

[2016-10-20 01:14] jakewins commented on #4670
For those like me who found this issue, applied the fixes, and had the problem persist: The suggested approach of running `injectTapEventPlugin()` only works if you are using WebPack; I changed my app over to webpack, made no other changes to the code, and the error went away.

[2016-10-20 03:50] kevart opened #5432 "[FloatingActionButton] Cannot read property 'style' of undefined (0.16.1)"
[code]

bundle.js:68422 Uncaught TypeError: Cannot read property 'style' of undefined

Here:

[code]

### Versions

- Material-UI: 0.16.1
- React: 15.3.2
- Browser: Chrome Version 53.0.2785.143 (64-bit)
- OS: OSX

[2016-10-20 08:43] summitxf opened #5433 "FloatingActionButton would be covered by CardHeader which subtitle is a Table"
### FloatingActionButton would be covered by CardHeader which subtitle is a Table
### code

[code]

`<FloatingActionButton mini={true} onTouchTap={() => this.openAdd()} >
            <ContentAdd />
          </FloatingActionButton>`

### Versions
- Material-UI: 0.16.0
- React: 15.3.2
- Browser: Chrome 53.0.2785.143 m (64-bit)

[2016-10-20 08:48] ChrisJamesC commented on #5428
Hi @lucasbento, I don't know either but I figured that documenting the issue wouldn't hurt. I'll do some research on my side and provide a fix if I can find one.

[2016-10-20 12:06] stunaz commented on #5423
and on the SelectField too
<img width="335" alt="screen shot 2016-10-20 at 8 04 49 am" src="https://cloud.githubusercontent.com/assets/1305483/19559081/0b50d86a-969c-11e6-86f2-0431a4aead1b.png">

[2016-10-20 12:31] mhtaheri opened #5435 "why I cant move on list result in auto Complete from Material UI?"
### I use Auto Complete from material ui in my header of dashboard when typing in text field show result in left and i cant move list result bottom of text field

### Versions
- Material-UI: v0.16.1

[2016-10-20 13:06] ChrisJamesC commented on #5428
The issue comes from the fact that their browser doesn't seem to support the transform css property. Since it is that property that's used by material-ui to hide the drawer (for the transition when opening/closing the drawer), it doesn't work.

Here is the quick fix I used in my drawer component (It breaks the animation though):

[code]

Setting the component's `display` property to `none` does th

[2016-10-20 13:10] Ajaay commented on #5275
This was me having one of those weeks... For whatever reason I'd decided in mind to enter 'onComponentWillUpdate' instead of 'componentWillUpdate'... :-S

Everything is working as expected.

[2016-10-20 13:10] #5275 closed

[2016-10-20 13:42] DoubleU23 opened #5437 "[Snackbar][feature][WIP] prop.position to enable positioning on top of the page"
### Description

[code]

PullRequest: #5436

[2016-10-20 13:51] Pczek opened #5438 "Select Field Styling Broken in Safari since 0.16.0"
### Description

Styling seems broken in Safari, at least in 10

http://www.material-ui.com/#/components/select-field

### Images & references

![Screenshot](http://i.imgur.com/x3GViqd.png)

http://i.imgur.com/x3GViqd.png

### Versions

- Material-UI: 0.16.1
- React: 15
- Browser: Safari 10

[2016-10-20 14:18] Tushant opened #5439 "Autocomplete state is not preserve while it is working with TextField"
I have used material ui in redux form and i am facing following problem which i have raise my question on SO too.

[code]

[2016-10-20 14:23] joshuapro14 opened #5440 "Changing textfield value style"
Can we change 'TextField' value style. If so how?

- Material-UI:
- React:

[2016-10-20 14:31] markoshust commented on #5296
@oliviertassinari Very sorry for the belated reply, somehow I didn't see this ticket in my GitHub notifications.

I tried updating to 0.16.1 (which includes #5412) but this is still happening. It's easily replicated within a mobile (cordova) app in iOS simulator. I'm a bit surprised more users of this library haven't noticed this yet. I thought I remember this working not too long ago. When tappin

[2016-10-20 14:37] joshuapro14 commented on #5440
I figured it out. I am able to set it using property 'inputStyle'.

[2016-10-20 14:38] #5440 closed

[2016-10-20 16:59] ottumm opened #5441 "Material-UI component documentation is not Google-able"
The documentation website does not appear to be correctly crawlable, which leads to a Google search for e.g. [material-ui circularprogress](https://www.google.com/search?q=material-ui+circularprogress) to return the homepage rather than the specific component's page (see screenshot).

This is annoying at the least, fairly inefficient while developing, and, frankly, having a Google-able documentati

[2016-10-20 17:46] stunaz commented on #5438
same as https://github.com/callemall/material-ui/issues/5423

[2016-10-20 17:54] colllin opened #5443 "Consider allowing theme to override any CSS property on any component"
### Description

Why not just pass all specified theme properties down to the elements as CSS styles?

For example, right now I can't do this:

[code]
### Images & references

[2016-10-20 19:33] alexhawkins opened #5445 "FlatButton in Safari rendering very slowly when clicking multiple times"
### Problem description

[https://www.dropbox.com/s/kr5t1dy6h6tbt0m/Screenshot%202016-10-20%2012.27.01.png?dl=0](https://www.dropbox.com/s/kr5t1dy6h6tbt0m/Screenshot%202016-10-20%2012.27.01.png?dl=0)
when i click on the ADD TO CART button in the image above, it takes 3 to 4 seconds sometimes for the button to update and rerender correctly. This only happens in Safari and I only noticed this begin

[2016-10-20 19:39] oliviertassinari commented on #5443
That's something we could do, but. You can always create a wrapper above the `ToolbarGroup` for you app. I think it's the best approach.

Additionally, we are changing the theming approach with the `next` branch.
I'm pinging @nathanhere so that he can have some additional context on how people would like to use the theming.

[2016-10-20 19:48] oliviertassinari commented on #5432
I couldn't reproduce this issue. Could you try on this playground  http://www.webpackbin.com/VkAAPiWkM? Thanks!

[2016-10-20 19:50] oliviertassinari commented on #5423
Looks like a duplicate of #5410.

[2016-10-20 19:50] #5423 closed

[2016-10-20 20:06] raphi011 opened #5447 "toggle label missing for attribute"
### Problem description

The toggle components label is missing the 'for' attribute, this is problematic for screen readers.
### Versions
- Material-UI: 2.1.0-beta.25
- React: 15.3.2
- Browser: chromium 53.0.2785.143

[2016-10-21 00:43] Sharlaan commented on #5443
In my opinion:
-  in the context of a graphic chart, having a global muiTheme object is nice to set styling properties at component class level. Avoid rewriting same classes on each component instance.
- adding an additional wrapper just for peculiar styling oddities sound meh to me comapred to simply set the fixing rule directly in style={} property.

[2016-10-21 01:52] xrash commented on #5400
Hey @jmansor, you are correct. I am also not able to reproduce this bug anymore. However we can travel time and reproduce it in the past. :)

Change your system time to **2016-10-15** and test it again.

It seems like the bug has some relation with the current date, so it will not happen everyday. I didn't find a pattern, I just know it happened at 2016-10-15 (and some days before that).

Obs: I'm

[2016-10-21 06:57] iranandroid opened #5448 "how to use two or more material-ui dialog in page?"
I'm a begginer in reactjs and material-ui.

I want use two material-ui dialog in one page.

how can I do this?

[2016-10-21 07:59] #5333 closed

[2016-10-21 07:59] #5438 closed

[2016-10-21 10:00] oturnermajor commented on #4949
+1 for this issue. Having to ditch the DatePicker for selecting users' birthdays for this exact reason.

Users (even tech-savvy developers) don't realise they can click on the year in the top left to go to year selection.

Would love a prop to open the DatePicker in year selection and then go to Month/Day view once year is selected.

[2016-10-21 10:23] BlockChange commented on #5448
At the same time or concurrently?

If it's the last one, just put them in your code twice, and give them different `open` props.

At the same time is not possible I think, and also not practical

[2016-10-21 10:33] BlockChange commented on #5070
Same here, this seems to happen sporadically. For example when expanding a `Card` element, it often fires twice so that it will immediately close again.

Wat *does* seem to help sometimes, but this is on the user side, is to **press and hold** the CardHeader or Button or whatever element is receiving the `onTouchTap`, then it will only fire once it seems.

But there are times where I load my page

[2016-10-21 11:05] Sharlaan opened #5449 "[AppBar - IconButton] glitch when changing overlay backGroundColor"
Hello,

I'm trying to add hovering color to the iconElementRight from AppBar.
I had to hack around to use onMouseEnter & onMouseLeave (onMouseOver doesnot work).
It works until i click on it: the Menu opens, overlapping the iconButton, then disappears... then i discover **the overlay is hiding the inner svgIcon and text on hover**.
Looks like the iconButton component is a fake hover event with an

[2016-10-21 13:23] joshunger commented on #3553
Is anyone modifying it so you can put a close [X] in the title?

[2016-10-21 13:48] jmansor commented on #5400
Interesting, I am still not able to reproduce it, even by changing the system date. Seems like it's just narrowed to Firefox in Linux. I've tried in Firefox in Windows and Mac but could not reproduce it. Will try in Linux.

![image](https://cloud.githubusercontent.com/assets/969232/19599440/2a0a3c66-9777-11e6-98d9-5c77711c6f67.png)

![image](https://cloud.githubusercontent.com/assets/969232/195994

[2016-10-21 13:59] jmansor commented on #5400
I am unable to reproduce this in Ubuntu either.

http://www.material-ui.com/#/components/date-picker
![image](https://cloud.githubusercontent.com/assets/969232/19600772/dcc04c60-977c-11e6-8b10-b38037b8acc6.png)

All tested in MaterialUI v0.15.4.

[2016-10-21 14:06] jampy opened #5450 "Change the color of <ListItem> icons via custom theme"
### Problem description

![image](https://cloud.githubusercontent.com/assets/820758/19600920/6538e7a8-97a7-11e6-91ae-8f35f230a870.png)

This is a `<Drawer>` with a custom theme (I want the drawer in a dark theme, while the main content uses a light theme):

[code]

How can I change the color of the left icons?

This is the `sidebarTheme` I'm using:

[code]

I can't find the right setting to change

[2016-10-21 15:29] ndreckshage commented on #4587
👍  on this!

[2016-10-21 15:58] paol commented on #5381
Just ran into this problem as well. The  floatingLabelFocusStyle is applied always, even when the field is not focused.

[2016-10-21 16:38] paol commented on #5381
Looking at the source code, the problem is this:
[code]

The floatingLabelFocusStyle is not applied when the field is focused, as the name (and documentation) implies, but when the label is shrunk -- which is not the same thing.

This should be easy to fix:
[code]

Note this leaves the shrinkStyle prop of TextFieldLabel unused; maybe it could be removed.

[2016-10-21 19:46] skirunman commented on #4706
Just checking if this has or is planned to be fixed in Next branch. Right now we have this as a workaround in our custom theme file:

[code]

[2016-10-21 22:09] lucasbento commented on #5381
hey @paol, thanks for looking into it, would love if you could send a PR with the fix!

[2016-10-21 22:12] lucasbento commented on #5450
@jampy: can you please provide a [bin](http://webpackbin.com) to reproduce the code that you provided?

The color of icons should be changed on the content of the drawer (probably `<MenuItem />` components) which I can not tell by your code.

[2016-10-21 22:20] lucasbento commented on #5449
hey @Sharlaan, thanks for opening an issue, can you please provide a [bin](http://webpackbin.com) with a working snippet of what you are trying to accomplish? It would really help us to help you.

[2016-10-22 08:56] Taakn commented on #5409
This was supposed to be fixed, guess it's back
https://github.com/callemall/material-ui/issues/4421

[2016-10-22 08:59] paol commented on #5381
Sure, I'll do a PR. I'm having seconds thoughts about the fix proposed above. What should be the interpretation of the styles:

* floatingLabelStyle - applies only when the field is unfocused
* floatingLabelFocusStyle - applies only when the field is focused

Or:

* floatingLabelStyle - applies always
* floatingLabelFocusStyle - applies on top of floatingLabelStyle, when the field is focused

The

[2016-10-22 09:53] oliviertassinari commented on #5448
@BlockChange Thanks for helping.

That doesn't look like an issue with this lib. I'm closing it. Would be better to post your question on StackOverflow, the answer would help more people.

[2016-10-22 09:53] #5448 closed

[2016-10-22 13:23] nitish24p opened #5451 "Multiple versions of react being installed"
I am using babelify with browserify and gulp. When i use material UI i keep getting an error saying multiple versions of react have been installed. Can someone help me out here.

[code]

Above is my build file snippet.

react version is 15.2.3

[2016-10-22 14:52] Tushant commented on #5439
Sorry why I am not getting any response yet?

[2016-10-22 17:17] Sharlaan commented on #5449
Here the [bin](http://www.webpackbin.com/EyO1-KE1f)

but honestly WebPackbin is far from stable ...

[2016-10-22 20:43] lucasbento commented on #5449
That's not running:

![image](https://cloud.githubusercontent.com/assets/6207220/19622384/55800284-9887-11e6-8b69-8b42b0080c01.png)

You can also provide a repository with a running snippet if you prefer, @Sharlaan.

[2016-10-22 20:48] lucasbento commented on #5376
hey @zp1112, did you find out what your issue was?

[2016-10-22 20:54] lucasbento commented on #5418
I can not understand your issue, @KARTIK01, can you please elaborate better and also provide a running snippet of what you are trying to accomplish?

[2016-10-22 20:58] lucasbento commented on #5421
Hello @Ajaay, thanks for opening an issue!

Can you please provide a running snippet of what you are trying to accomplish?

[2016-10-22 21:40] Vadorequest opened #5453 "Getting started - Styling broken for Toolbar or ToolbarGroup"
### Problem description

I'm just getting started by my styling looks broken. Maybe I've done something wrong, but this feels like a component issue or theming issue.
## ![image](https://cloud.githubusercontent.com/assets/3807458/19622707/78da80fa-98b0-11e6-9b57-01a518daca73.png)
## ![image](https://cloud.githubusercontent.com/assets/3807458/19622710/8cb09394-98b0-11e6-89bd-c0a1cf2f18f9.png)

On t

[2016-10-23 07:39] #5451 closed

[2016-10-23 11:17] Sharlaan commented on #5449
Fixed [bin](http://www.webpackbin.com/EJqMgYSJf)

[2016-10-23 12:20] HemalR commented on #4151
Just found this thread looking to do exactly this. I'm perfectly happy combining the two values into a single Date object on form submit, except I'm new to this and have no idea how.

Does anyone who has done this previously have any pointers/advice on how to do this?

Thanks in advance!

[2016-10-23 17:16] valorize commented on #5393
I think it's weird to say it's not related to material design. It's an essential part of interaction with the textfield component and that's the main point of material, to make it easy to have a good user interaction. Why didn't you also remove onChange and onKeyDown then? @BlockChange I solved it previously with an `<form onSubmit={this.submitAddSectionDialog}>` wrapped around my textfields and `

[2016-10-23 17:33] johnsiu2016 commented on #5453
same problem here
![image](https://cloud.githubusercontent.com/assets/17636906/19628146/ca4465a8-9989-11e6-95bf-ecf4721c99ba.png)

[2016-10-23 17:42] johnsiu2016 commented on #5453
I found the problem. just noticed that you are using [react-boilerplate](https://github.com/mxstbr/react-boilerplate) too and in app.js
![image](https://cloud.githubusercontent.com/assets/17636906/19628207/0444e79a-998b-11e6-926f-6d75ef669a77.png)
this css will cause the theme style broken

[2016-10-23 17:43] johnsiu2016 commented on #5453
after I delete the code, it works well now
![image](https://cloud.githubusercontent.com/assets/17636906/19628218/469f3514-998b-11e6-8766-fe187ee9c497.png)

[2016-10-24 00:18] neechange opened #5454 "Who has Systemjs Material UI React typescript example or CDN"

[2016-10-24 02:37] picanteverde commented on #4437
excuse me, how is this a duplicate from #3757? that one is related to unique id generation on the server side and the solutions there doesn't solve this problem. Could you please elaborate your answer ?

[2016-10-24 05:16] picanteverde commented on #4437
The way I solved it was by setting the userAgent in the context of the App
after the store

`
store,
      userAgent: req.headers['user-agent'],
    };
`

then in the App I checked if the userAgent was comming

`
    const context = {};
    if (this.props.context.userAgent) {
      context.userAgent = this.props.context.userAgent;
    }
`

and just sent it to the getMuiTheme

`
      <MuiThemeProv

[2016-10-24 06:21] mattmengSemioe opened #5455 "Version 0.16 Why didn't the left nav"
### Problem description

### Link to minimally-working code that reproduces the issue

### Versions

- Material-UI:
- React:
- Browser:

[2016-10-24 06:26] #5455 closed

[2016-10-24 09:06] jasan-s commented on #4742
having the same issue, the divider does not show up.

[2016-10-24 11:09] WaldoJeffers commented on #5254
@Kornflexx I am not sure I understand what you mean. I have the same problem, I need to use a SelectField as uncontrolled component, and  SelectFields should support the `defaultValue` attribute, according to [React's docs](https://facebook.github.io/react/docs/forms.html#why-select-value), which it currently does not. Unless I am mistaken, could you re-open this issue ?

[2016-10-24 12:20] acomito commented on #5262
@LeoPovoa did you see this issue?

https://github.com/callemall/material-ui/issues/5235

I've seen people ask your question 3-4 times. It seems like adding it to autocomplete as a prop would be nice.

This is a new package (I couldn't get it working yet):

https://www.npmjs.com/package/googlePlaceAutocomplete

[2016-10-24 13:08] mattmengSemioe opened #5456 "Why don't iconButton icon show up Because there is no load SVG?"
### Problem description

This is my code

import React from 'react'
import AppBar from 'material-ui/AppBar'
import IconButton from 'material-ui/IconButton'
import {deepOrange500} from 'material-ui/styles/colors';
import MuiThemeProvider from 'material-ui/styles/MuiThemeProvider';
import getMuiTheme from 'material-ui/styles/getMuiTheme';
const muiTheme = getMuiTheme({
    palette: {
        accent1

[2016-10-24 13:10] lucasbento commented on #5449
The way you are using `onMouseEnter` & `onMouseLeave` is apparently not playing well with Material UI.

Are you trying to change the background on hover? is that it?

[2016-10-24 13:26] Sharlaan commented on #5449
Exact.

[2016-10-24 13:49] oliviertassinari commented on #5393
That would prevent users from implementing this logic on their side.

I believe that we should aim for a `TextField` as close as possible to a native `input`.
I don't want to make everybody pay with an `onEnter` callback in the core of the component.
That would be much better to have an HoC providing this functionality.
A functionality that would help any style implementation. Hence, I'm not sure

[2016-10-24 13:53] mauvew opened #5457 "[Table] table cell hover tooltip"
### Problem description

Is it possible to provide the feature that when the cursor hovers to the table cell in the Table component, a tooltip appears and display the content of the cell. Like the following pic shows, if there is no tooltip, some part of the content will not be visible. Or any suggestion on how to deal with this situation?

![image](https://cloud.githubusercontent.com/assets/14197

[2016-10-24 15:47] ChrisJamesC commented on #5428
This issue is due to the fact that Tableau Public seems to use a version of Webkit similar to what you get in Safari 8. Hence the lack of support for some features.

[2016-10-24 16:05] husterk commented on #714
+1, I am using 0.16.0 and I am still not able to select a SelectField component when tabbing through the navigable components on the page. Pressing the Tab key always skips the SelectField components. Please reopen this issue and address it. It is very annoying to our users.

[2016-10-24 17:58] kevde opened #5458 "Can you also update react js to ^15.3.2 so that it will also support to facebook's create-react-app"
### Problem description

### Link to minimally-working code that reproduces the issue

### Versions

- Material-UI:
- React:
- Browser:

[2016-10-24 17:58] tdotcspot commented on #5457
+1

[2016-10-24 19:36] stunaz commented on #5458
I have create-react-app latest version working fine with material-ui latest version. What's is your issue?

[2016-10-24 22:12] meiraleal commented on #2130
Any plans?

[2016-10-24 22:13] meiraleal commented on #2130
Any plan?

[2016-10-24 23:15] toddmedema opened #5459 "[FlatButton] (and all buttons) lacks target property"
### Problem description

You can specify an `href` for buttons, but you can't specify a `target` (ie `target="_blank"`), so you still need to write extra code if you want a button to open a separate tab (ie for a help button)

[2016-10-24 23:39] cobells commented on #5432
Bug happens reliably when FAB has multiple children:

<FloatingActionButton>
    <SvgIcon>
      <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
    </SvgIcon>
    <SvgIcon>
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
    </SvgIcon>
</FloatingActionButton>

See http://www.webpackbin.com/V1OQwtwyM

You can work around it by wrapping the children in a div, but seems like a bug that shoul

[2016-10-25 03:41] colllin commented on #5443
@Sharlaan my feelings exactly.  I have created a wrapper component as an interim solution.  It does seem like the best approach available to me right now, but I would like to see a better approach long-term. A wrapper component must be documented and communicated to other developers.  Even then, it's not very discoverable in your repo, so you must be endlessly vigilant to make sure that the wrappe

[2016-10-25 03:54] dht commented on #5130
I solved it somehow and couldn't reproduce.

[2016-10-25 05:11] pcompassion commented on #2250
I'm utterly confused with value, checked, defaultChecked.
What is the difference?

[2016-10-25 07:13] oliviertassinari commented on #2250
@pcompassion `value` and `checked` are two natives property than can be used to contolle components.
`defaultCheck` is specific to the `Checkbox`.
Just have a look at the documentation. That should be explicit enough. Otherwise, we need to improve it.

[2016-10-25 07:17] oliviertassinari commented on #5130
Thanks for the feedback. I'm closing the issue.
That doesn't look like an issue with MUI and I'm wondering how to reproduce it.

[2016-10-25 07:17] #5130 closed

[2016-10-25 09:02] kevde commented on #5458
Currently your package uses react 15.0.0 but the create-react-app is already 15.3.2. The plugin doesnt continue due to version

[2016-10-25 10:25] zakdances commented on #2251
@nathanmarks What's the difference between a "data grid" and a table?

[2016-10-25 10:59] amangeot opened #5461 "[Toggle] Invalid prop `label` of type `Object`"
**Problem description**

The Toggle components' `label` props only accepts `string` values but works with react elements

**Versions**

Material-UI: v0.16.1
React: v15.3.1
Browser: chromium 53.0.2785.143 m

[2016-10-25 11:42] nitish24p opened #5462 "Timepicker onchange registers no event"
[code]
The above line returns null. How do i catch the time value in my onchange function.

[2016-10-25 13:07] nitish24p commented on #5462
Got it shutting this

[2016-10-25 13:07] #5462 closed

[2016-10-25 14:23] lucasbento commented on #5428
I'm glad that you found a workaround @ChrisJamesC! :)

[2016-10-25 14:32] lucasbento commented on #5449
@Sharlaan: I think this should be a feature request instead of a workaround.

Your code won't get along with Material UI's native `<IconMenu />` component, I think it would be **much better** to create an `hoverColor` prop just like the one in [`<FlatButton />`](https://github.com/callemall/material-ui/blob/master/src/FlatButton/FlatButton.js#L41).

It may also be a `hoverStyle` to cover other nee

[2016-10-25 14:34] lucasbento commented on #5381
cc @oliviertassinari.

[2016-10-25 14:49] ChrisJamesC commented on #5428
Thanks @lucasbento
To add more details for the next person hitting this issue, it happens with QT WebKit from QT 5.4.

[2016-10-25 14:52] Sharlaan commented on #5449
*smiles*

I were actually a \<FlatButton /> (perfectly hoverable) before i noticed warnings (i don't remember) saying something along unknown props or uncorrect expected component for the iconElementRight property from AppBar...

So i started reimplementing this FlatButton with iconButton like shown in docs... and ended up with this hover problem...

Now i think exactly like you said: an hoverColo

[2016-10-25 16:03] neemah opened #5464 "Safari (10.0.1) Excess border for SelectField"
### Description

See picture below

### Images & references

<img width="810" alt="screenshot 2016-10-25 19 00 46" src="https://cloud.githubusercontent.com/assets/212695/19693820/a63ccddc-9ae5-11e6-8010-6f8c847b3e61.png">
### Versions

- Material-UI: 0.16.1
- React: (one that used for demo page)
- Browser: Safari 10.0.1

[2016-10-25 17:25] oliviertassinari commented on #5381
That's gonna change the behavior for people not using the `floatingLabelFixed` property.
I'm not sure about what the spec regarding the shrink / focus style. We might have an inconstancy here.
I believe that the `next` branch solve the problem correctly. Would be good to follow it.

That's most likely the current behavior when `floatingLabelFixed` is false.

P.S. I'm on my phone. I can't have a lo

[2016-10-25 17:33] Sharlaan opened #5465 "[Build] Missing class properties transform"
I was starting to work on iconButton.js for a PR when my WebStorm raised this error:

i did "npm i" in root material-ui, is this the correct way ? i'm wondering because the Error message clearly states Babel couldnot find any class-properties-transform plugin in its .babelrc file ?

[2016-10-25 18:04] mgcrea commented on #4066
I've used [react-toolbox](https://github.com/react-toolbox/react-toolbox) lately, they rely on theming with CSS modules that basically just relies on webpack's `sassLoader` for theming. For me it worked really well. Maybe it's worth investigating.

[2016-10-25 18:18] oliviertassinari commented on #5432
Right, that's another regression introduced by #5246 cc @ashl1.

[2016-10-25 18:34] andrewluchen commented on #773
Any way to create elements in the center of the AppBar? Here, the children of AppBar get located after the right icon, which means "right icon" isn't actually right-most.

https://github.com/callemall/material-ui/blob/master/src/AppBar/AppBar.js#L323

[2016-10-25 18:39] oliviertassinari commented on #5432
#5468 should address this issue, could you try it out?

[2016-10-25 20:15] Sharlaan commented on #5456
Apparently you are trying to use an \<AppBar /> component, but its iconElementRight doesnot show, right ?

If i'm correct, you need to study [official documentation for AppBar](http://www.material-ui.com/#/components/app-bar), especially the last example "Composition example".
Check also on this page the properties: iconElementRight requires an "element", your code snippet doesnot look like an ele

[2016-10-25 20:27] Sharlaan commented on #5459
From the [Tabs/Tab official documentation](http://www.material-ui.com/#/components/tabs), there is *Controlled example* showing how to switch between tabs programmatically, setting the Tabs.state.value referencing each Tab.

[2016-10-25 22:01] lucasbento commented on #5459
Hey @toddmedema, thanks for openning an issue!

I think the issue here is aiming tabs on a browser environment, @Sharlaan, not the component itself.

I think this is a valid feature request and also a good first issue, we would be glad to review a PR for it!

[2016-10-25 22:27] skirunman commented on #4752
We ended up implementing this ourselves in our LayoutDrawer.js component. Maybe this will help someone else. FYI, we also are using Meteor.js.

[code]

[2016-10-25 23:14] garrettn opened #5470 "[SelectField] `underlineFocusStyle` not getting applied"
### Problem description

For my application I need to style the SelectField so that the clickable part with the underline is full width while the menu has an auto width. When you do that, though, you can see that the `underlineFocusStyle` isn't being applied while the menu is open. I would expect the color of the underline to change while I have the select menu open.

Using the React DevTools I fo

[2016-10-25 23:23] LeeKevin opened #5471 "[Dialog] Expose the positionDialog method for Dialogs"
### Problem description

When using a scrollable child that dynamically changes its height within a Dialog, the Dialog is not properly re-positioned in the viewport.

It would be nice to have a ref on the Dialog's DialogInline to access it's methods or to expose the positionDialog itself.

[2016-10-26 03:05] tathagatbanerjee opened #5472 "Documentation: TextField - onBlur()"
### Query: is onBlur() supported/will be supported going forward with TextField?

TextField has an onBlur() function. Is this function official and will it be supported going forward? I ask as it is not in the documentation. Thanks so much.

### Versions

- Material-UI: 0.15.4
- React: 15.3.0
- Browser: Chrome Ubuntu: 54.0.2840.59 unknown (64-bit)

[2016-10-26 12:58] wdonne commented on #5464
I have found that this is caused by the property "-webkit-appearance" being set to "textfield" on the "style" attribute. The border will disappear when you deselect the property in the inspector. However, I don't know yet how to get rid of it in the code.

[2016-10-26 15:30] oliviertassinari commented on #5443
Right, you have to use the right component at the right location.
My main concern with this approach would be around predictability and be providing two APIs for doing the same thing. I.e. Increasing the API surface. I get it, it's convenient

[2016-10-26 17:30] n8sabes opened #5473 "Long touch on RaisedButton discolors button"
Using iOS 10, long-touches on a RaisedButton leaves it discolored with gray. Doing this multiple times results in the gray becoming darker. Rapid tapping can sometimes produce this same artifact.

TO REPRODUCE: Touch and hold for 1-2 seconds and then release. Button retains ripple's gray. Random tapping on that same button, or other buttons will sometimes clear the stuck effect.

Any known issues,

[2016-10-26 22:00] #5432 closed

[2016-10-26 22:01] oliviertassinari commented on #5472
The `onBlur` method isn't documented as we decided to no document native method.
It should be working as expected on a regular `input` and should still be the same on the `next` branch.

[2016-10-26 22:01] #5472 closed

[2016-10-26 22:04] oliviertassinari commented on #5464
It should be fixed on the master branch #5423.

[2016-10-26 22:04] #5464 closed

[2016-10-26 22:05] oliviertassinari commented on #5461
Right, it should be a `node` as declared in the `EnhancedSwitch`. Any PR is welcomed 👍 .

[2016-10-26 22:16] oliviertassinari commented on #5458
I'm closing this issue. We rely on `^15.0.0` that takes anything between `15.0.0` and `15.x.x`.
It should be working. It seems to be fine with @stunaz. That's most likely an external dependency.
I don't think that have any leverage here.

[2016-10-26 22:16] #5458 closed

[2016-10-26 23:21] amangeot commented on #5461
That's my first pull request here, I hope it helps. Thank you for the work you put in this package !

[2016-10-27 04:58] #5454 closed

[2016-10-27 05:47] KARTIK01 commented on #5418
i was trying to say that, in `TextField` `onChange` event is not called when user presses Enter key (↵)

[code]

how can i solve this. please help me out.

[2016-10-27 07:56] #5461 closed

[2016-10-27 08:03] fast0490f commented on #4795
Hi, I see to scroll tabs may need them to have to do !?
https://material.google.com/components/tabs.html#tabs-types-of-tabs

[2016-10-27 09:14] prabhu commented on #1956
@sharlaan Your code is quite brilliant. Are you planning to create a component project with that?

[2016-10-27 09:51] eric-burel commented on #5312
This issue also prevents fixing buttons width, as when the text is too long on a fixed width button, it will be splitted into very high lines.
Using a flexbox for text vertical centering instead of lineHeight could be a solution ?

[2016-10-27 10:09] DominikGuzei commented on #4066
Hey, i have to second the opinion of @mgcrea, [react-toolbox theming support](http://react-toolbox.com/#/install) is simply amazing – im switching over as customizing how components look is the most important aspect of the frontend story.

[2016-10-27 10:47] fgarcia commented on #4066
I do not think anyone should ever expect good old CSS styling to ever be a first class citizen in Material UI, that is the reason `react-toolbox` was started

At least that is my impression after reading lots of issues and posts about this topic. I can vaguely remember things like the team strives to better React Native compatibility and many comments on styling edge cases that are just way easier

[2016-10-27 13:31] lobor opened #5475 "Error Snackbar button"
I have this error app.js:2568 Warning: validateDOMNesting(...): <button> cannot appear as a descendant of <button>. See Notify > Snackbar > WithWidth > SnackbarBody > FlatButton > EnhancedButton > button > ... > FlatButton > EnhancedButton > button.

with

[code]

[2016-10-27 13:34] jhing-lbcx commented on #5278
hello, are there updates for this issue?

[2016-10-27 13:34] jaimehing commented on #5278
Hello, are there updates about this issue?

[2016-10-27 14:28] noahdesu commented on #3289
@oliviertassinari do you have an example of using react-virtualized with material-ui table or list? I'm having trouble seeing how the integration happens.

[2016-10-27 15:16] apurvgandhwani opened #5476 "Material UI card animation like Google Cloud Platform"
I want to have the card animation (onMoverHover) like Google cloud platform has. This is the link https://cloud.google.com/storage/docs/tutorials?authuser=1
How can I achieve this kind of effect? I tried to give  different z depths to card when "onMouseHover" and "onMouseOut", but that didn't give anything close to what I want. Is it possible to attain that kind of animation.

[2016-10-27 15:30] jrop commented on #4066
For myself, I appreciate the way Material-UI does the styling as opposed to something like react-toolbox, and here's why: In one of our projects, we have the ability for the user to select dynamic themes:

![Imgur](http://i.imgur.com/JMr7bHz.png)

Because the user might select a color pair we cannot determine ahead of time, whatever theming scheme we use must be highly dynamic.  With <MuiThemeProv

[2016-10-27 15:39] stunaz commented on #5476
Well I believe you can achieve something like this with [react-motion](https://github.com/chenglou/react-motion), look at this example http://chenglou.github.io/react-motion/demos/demo8-draggable-list/

[2016-10-27 15:41] valorize commented on #5393
The problem right know is that every developer is left alone with this problem. It would be really cool if there would be FAQ with code snippets for such things or a registry specially for material-ui for developers which developed such HoC's already. So they can share these ones with us. Regarding the native input: A native input has an on enter function. When the enter key is hit the form will b

[2016-10-27 15:44] oliviertassinari commented on #5461
That's a great first PR. Thanks.

Le jeu. 27 oct. 2016 01:22, Adrien Mangeot <notifications@github.com> a
écrit :

[2016-10-27 15:45] JGitHub01 commented on #5391
I encountered the same issue where both 'Tab' (NOT 'Tabs') properties 'className' and 'style' do NOT seem to be applied to the root element. In my case, I am trying to use
`style={{ flex: 1, alignSelf: 'stretch' }}`
so that the tab will take up the whole space (both height and width) of the tabs container. The 'Tabs' has the following 'style' property:
`style={
                { flex: 1, display:

[2016-10-27 15:55] abenain opened #5477 "[TextField] not moving caret to start of input on blur"
### Problem description

On Firefox, when a user input types a long string in a material-ui TextField and then focuses out of the TextField, caret is not move back to start of input, as it is in Chrome of Safari

Also reproduced on IE 10/11 and Edge
### Link to minimally-working code that reproduces the issue

Just use the component showcase page on Firefox: http://www.material-ui.com/#/components

[2016-10-27 16:06] DominikGuzei commented on #4066
@jrop yeah in this very special case you need dynamic JSS but for many applications that's not an important requirement and the current story of customizing (not even speaking about UI testing) material-ui is simply not acceptable. We are building a highly visual and designed app that cannot just use the default material-ui look, as we mostly need/want the behavior parts of it.

[2016-10-27 16:07] apurvgandhwani commented on #5476
Can I use react-motion with material UI?

[2016-10-27 16:15] rosskevin commented on #4066
@DominikGuzei you can customize `next` branch using jss.  This is _not_ what you see on the current release.

Folks, I feel like we are beating a dead horse here.  The `next` branch has has chosen a different (much improved) path with theming and allows for overrides.  It is not using inline styles any more and provides the flexibility I have seen requested. For others that want more customizabili

[2016-10-27 16:34] JGitHub01 commented on #5391
It looks like there is some misunderstanding on what the root element of 'Tab' refers to. By inspecting the dom tree in browser, I found that the root element of 'Tab' is the tab button. I think both ankitgoyal100 and I confused the 'Tab' root element with the 'Tab' panel itself. The 'Tab' panel is actually a child inside the content container. If my understanding is correct now, then there does n

[2016-10-27 17:28] paol commented on #5381
You're right, the code snippet I posted (which corresponds to option 1 I described above) would incorrectly change existing behavior.

Option 2 is the correct one. As far as I can reason it will not change existing behavior (except where that behavior is wrong, i.e. this bug)

I'll do a PR this weekend.

[2016-10-27 18:07] apurvgandhwani opened #5478 "Custom material UI Appbar like google inbox"
I want to have an material ui appbar with search and profile file pic elements in it. I have seen many google apps have such appbar. The material UI appbar just comes with a title name, navigation icon on left and a vertical icon on right. I want to customize it and have a search bar, my apps logo (in place of navigation icon) and profile pic and profile name on right. Is it possible to have an ma

[2016-10-27 19:33] marcfalk commented on #3618
+1 waiting for this to be released :)

[2016-10-27 20:46] oliviertassinari commented on #4795
@fast0490f Right, the scroll tabs isn't supported on the PR opened by @newoga.
It would be great to merge this PR before starting working on anything else. We need to foundations. Any idea on the approach we should use to implement it?

[2016-10-27 20:49] oliviertassinari commented on #3289
@noahdesu Actually, I'm wondering if it's even possible with the `master` version of the component. The parent element is doing some `cloneElement` that are preventing any integration with react-virtualized. That limitation has been removed on the `next` branch. That should be working an any other item component.

[2016-10-27 20:55] oliviertassinari commented on #5393
I can't make is work. Any idea http://www.webpackbin.com/N1SoP8i1G?

React allow you to more or less get away without using it. But I still think that it's a best practice to use it.

I agree, but I'm not aware of any project addressing this issue.

[2016-10-27 21:18] oliviertassinari commented on #4066
I have given a presentation at a local event in Paris earlier this week regarding the **evolution** of the styling approach used by Material-UI. You might be interested having a look at the slides and the *notes*: [A Journey toward better style](https://github.com/oliviertassinari/a-journey-toward-better-style). I focus on the Challenges, Problems and Solutions.

The static style generation aspect

[2016-10-27 21:24] benedictdelfierro commented on #5129
i 'm also encountering this style issue, the css provided doesnt fix my problem

[2016-10-27 21:35] neil-rubens commented on #3289
setting `maxSearchResults` to some reasonable value`*` allows for a very smooth experience.

`*` could not display more than 100 items on a screen anyways

p.s. works for me on json with 1K+ nested items

[2016-10-27 21:49] jrop commented on #4066
@oliviertassinari That is awesome to hear.  I may have a non-standard point-of-view regarding CSS modules, but I don't think they are worth all the fuss.  I was excited to hear of JSS through material-ui for this reason.  It seems much more inline with the philosophy of JavaScript than CSS modules.

[2016-10-27 22:13] kouak opened #5480 "AutoComplete/PopOver hidden with a zIndexed parent in certain conditions"
### Problem description

Now this is a weird one. Under certain conditions, the PopOver rendered by AutoComplete fails to render on top of the rest of the page.

Here's a simple Component which reproduces the issue : https://gist.github.com/kouak/14f7e2d0f89ec73c2392a0b0030464bd

What's really weird is that this happens only when the grandparent container `display` property is set to `flex` and wh

[2016-10-28 03:30] Kutsan commented on #4437
Same problem. Still can't find solution.

[2016-10-28 05:59] yhware opened #5481 "Dynamically add/remove tabs"
I'm currently porting my SPA written in jQuery and Materialize css framework to react + material-ui and noticed that the ability to dynamically add/remove tabs is not supported.

Although it's not officially supported in Materialize, it can be done by destroying the tab object and reinitializing it every time we add/remove a tab.

I have attached an example of this idea below. (jQuery UI Tabs widg

[2016-10-28 06:25] petermikitsh opened #5482 "[ListItem] Emoji's overlap on iOS Safari"
### Description

When using a series of emojis as the primaryText of a `ListItem`, the emoji's overlap.
### Images & references

Expected Behavior (Chrome 54, OS X)

<img src="https://cloud.githubusercontent.com/assets/1571918/19796681/f626d26e-9c9a-11e6-9478-60ca14189457.png" height="50%" width="50%"/>

Unexpected Behavior (Safari, iOS 10.0.2, iPhone 5s -- Real device)

<img src="https://cloud.gi

[2016-10-28 06:32] petermikitsh commented on #5482
I'd like to clarify that this is a uniquely emoji related bug. If you have regular text, it gracefully overflows onto multiple lines like so:

<img alt="screen shot 2016-10-27 at 11 30 54 pm" src="https://cloud.githubusercontent.com/assets/1571918/19797092/8ecfedb4-9c9d-11e6-96b4-33442206b21f.png" height="50%" width="50%">

[2016-10-28 07:43] SerendpityZOEY opened #5483 "[ListItem-nestedItems]Customize icon for collapsible list"
Hello,

I'm trying to create a collapsible list using nestedItems. However, I want to hide the down icon on the right and create my own at the left side. I tried to modify the css style using `nestedListStyle`(change display to be none but doesn't work.) Is there a way to achieve this? Or perhaps you can add this new feature?

Here is my code:

[code]

I want to expand the nested list when I click

[2016-10-28 10:31] DominikGuzei commented on #4066
@oliviertassinari thanks for the summary of benefits. It's definitely interesting when you look at these aspects. The downside of JSS and it's ecosystem (also postcss) at the moment is that all that is bleeding edge and you cannot rely on the well established tool chain and knowledge base like with simple css-modules + SASS. But that's the price you pay for innovation, it just depends if you have

[2016-10-28 10:35] kof commented on #4066
JSS has been created prior to css-modules. CSS-modules has become popular faster because it solved a problem for a majority users without changing the syntax too radically.

[2016-10-28 10:37] kof commented on #4066
That being said, you are using react, which is also kinda "new" technology. If you want SASS, maybe you should pick vanilajs or backbonejs)

[2016-10-28 10:45] DominikGuzei commented on #4066
@kof React is a very different story as it is used by hundred thousands of devs and is used and managed by Facebook (it won't go away over night), so it might be "new" but very solid (haven't run into many issues with it so far).

SASS is one of the most established css preprocessor and can be used in any project – it's very solid and brings a lot of value to the table. So i would only choose some

[2016-10-28 10:48] kof commented on #4066
I understand this way of thinking, but also I consider it as contra-productive and blame it for slowing down the industry.

[2016-10-28 10:57] bartvde commented on #3103
@jlroettger I can't get your code to work, any chance of a fully functional jsFiddle?

[2016-10-28 12:51] jeffshaver commented on #5399
I believe this and #4887 are related

[2016-10-28 13:33] lkleuver commented on #5480
I have the exact same issue, animated={true} did indeed fix this, which is an acceptable workaround for now.

[2016-10-28 16:48] Sharlaan commented on #1956
Here is my [repo](https://github.com/Sharlaan/material-ui-superSelectField)

[2016-10-28 22:21] Gerigot commented on #5478
I think you can put a customized component in the title props of the AppBar.
Something like this:
<AppBar
    title={<CustomizedComponent/>}
  />

and in that CustomizedComponent you can put what you want.
I hope I was helpful.

[2016-10-28 23:06] noahdesu commented on #4738
I'm seeing something similar. If I have _any_ onRowSelection callback defined and I do anything like modifying state in the callback then the row is not selected, but the callback is fired. The row is selected if I click on it again.

[2016-10-29 07:44] tracker1 commented on #5256
Been a while, but would be nice to see this with some of the v-next changes coming for JSS in use on the CSS side, would also reduce the footprint on the internal project.

[2016-10-29 12:13] SanskarSans opened #5484 "Cannot read property 'setData' of undefined[Slider]"
my slider is throwing an error of Uncaught TypeError: Cannot read property 'setData' of undefined. I have used material ui as a component and redux-form. I get this error while changing the slider. The state of slider value is preserved where it is left. How to overcome this issue?

[code]

[2016-10-29 14:56] mehdijjz opened #5485 "[DatePicker] Day order is not correct for jalali locale"
### Description

when the locale is set to fa-IR (or maybe some other locales too), although the dates are correct but the order of them is not correct. for example in gregorian calendar it always starts with the first day of month but in jalali it starts with the day equivalent to first day of month in gregorian, like 9 of Azar.
### Images & references

in gregorian (en-US):
![capture2](https://c

[2016-10-29 16:07] davidfrtala commented on #4824
I was abble to achieve this via recursive function.

[code]

[2016-10-29 17:31] Rhywden commented on #4315
Sorry that I took so long to reply but I was a bit swamped.
Yes, #4524 does indeed pose a solution to my problem. Thanks.

[2016-10-29 17:31] #4315 closed

[2016-10-29 22:17] jampy commented on #3392
Whats the status of this? List animation is really missing

[2016-10-30 08:26] EasonWang01 opened #5486 "[Drawer] Button behind Drawer"
If I had a Drawer inside Header container, the Header container is position fixed,then Drawer will be coverd by another Buttons.

[code]

Navbar

[code]

The Button including Flat and Raised ,always behind the Drawer component
I have set the z-index but same problem,how to fix this?Thanks for reply.
If no position fixed on the Header container,it works good.

[2016-10-30 10:53] minas1 commented on #5208
Does not work for me.
I even tried injecting it just after the import (as other answers in other threads suggest) but no luck.

"material-ui": "^0.16.1",
"react": "^15.3.2",
"react-dom": "^15.3.2",

[2016-10-30 11:01] billel-boudchicha commented on #5486
may this help:

[code]

[2016-10-30 13:31] EasonWang01 commented on #5486
After add zIndex to the Header container solved this,but not complete figure it out.

[2016-10-30 15:47] #5439 closed

[2016-10-30 17:36] billel-boudchicha commented on #5486
if i understand u well , you want to put your header container on top of the Drawer, so the top part of the drawer is gonna be hidden by HC anyway , so why not setting the **top** of the <Drawer/> make it the same height of <HC/>
e.g : like i show u above top:50

[2016-10-31 07:12] bobbyz-dk opened #5488 "How to color expandable button on Card"
How do I change the color of the expandable button on Card?

[2016-10-31 12:17] bartvde commented on #3103
Ok I got something to work now. Never mind.

[2016-10-31 15:01] mbritton opened #5489 "ListItems losing their background"
ListItems are losing their background in certain scenarios, such as when they are displayed in a smaller phone layout. Rolling over the buttons restores the background.

### Versions

- Material-UI: 0.15.4
- React: 15.3.1
- Browser: Chrome / Firefox

[2016-10-31 15:58] derhuerst commented on #5439
I'm using `AutoComplete` as well. For me, `onUpdateInput` is never fired. Did you solve this issue?

[2016-10-31 21:03] mr-e- opened #5493 "When tapping on a FlatButton that takes you to another page, sometimes the ripple does not play, but will play on the second page if there is another ripple element"
I have been noticing that sometimes when I am tapping on a button, which has a browserHistory.push, the ripple doesn't play. If the second page has an element that would ripple directly under your finger, then that ripple will play instead after the second page has loaded. It seems to resolve the issue if I wrap the browserHistory.push in a setTimeout but then this has some unintended consequences

[2016-10-31 21:13] djensen47 opened #5494 "[AutoComplete] Add option to require a selection from the list"
I'm using AutoComplete to ask a user to select one item from a very, very long list of options. However, the user is only allowed to select an item from the list an should not be able to enter free text. Part of the reason here is that the AutoComplete is searching on names and the value (an ID) is what is being saved behind the scenes.

Using and array of objects for `dataSource` in combination w

[2016-10-31 21:23] djensen47 commented on #5494
In the meantime, my plan is the following

[code]

[2016-10-31 22:16] Sharlaan commented on #5494
Have you searched Issues with keyword "autoComplete" ? You may find some  niceties ... ;)

[2016-11-01 01:39] taddgiles commented on #61
I'm trying to understand the current plan on accessibility improvements. The roadmap for the "next" release has "Better accessibility support" on the list, but I don't see accessibility called out in the next milestone or the next project. Is accessibility a priority in the "next" release? If so, are there any details that could be shared?

[2016-11-01 05:30] djensen47 commented on #5494
I should have prefaced that I did do _some_ searching but there are 209 results for "autocomplete." I read some of the threads on composition, which I kinda-sorta alluded to.

Not even sure how I should have known to search for "selectField" but thank you for the suggestion, I'll try it now. 😄

[2016-11-01 10:27] oliviertassinari commented on #5459
I have just merged #5491 documenting where the no listed properties are going to be applied.
E.g. the `target` property is going to be applied on the root element. I don't think that we should be adding `target` explicitly in the docs as the list of interesting properties we could add is very long. I would rather educate users regarding this general behavior on all the components.

[2016-11-01 12:13] dziamid commented on #5354
@brandonmp try `enzyme-to-json` instead of `react-test-renderer` for snapshot testing

[2016-11-01 12:40] jaimehing opened #5495 "[Dialog] Velocity React"
I'm using Dialog component and I want to animate the whole dialog box. To be specific, i want a shake animation from Velocity React. I'm wrapping the whole Dialog with VelocityComponent and seems like it's not working. Is there someone aware to solve this issue? I've tried to test wrapping VelocityComponent with other material UI and it seems to be working.

[2016-11-01 13:48] neemah commented on #5464
Btw, i checked version with possible fix and bug is reproduced :(

[2016-11-01 15:39] EasonWang01 commented on #5486
when the drawer open, the background button will appear on the drawer list.

[2016-11-01 15:48] rodrigowippel commented on #1511
@rs6g10 @Dombo
Nice example, It helped a lot!

Can you give an ideia how to brake the list in pages?

Thanks,

[2016-11-01 16:30] oliviertassinari commented on #5381
Actually, I'm wondering if this is not a regression introduced some month ago by the TextFieldLabel regression. We have a demo use example for it:
![nov -01-2016 17-28-34](https://cloud.githubusercontent.com/assets/3165635/19897585/d2618f9c-a058-11e6-9d2f-ad81610445bd.gif)

[2016-11-01 16:30] #5381 closed

[2016-11-01 16:32] oliviertassinari commented on #5381
Thank guys, it should be fixed now! I'm gonna add a small unit test.

[2016-11-01 19:17] jpellizzari commented on #4857
The root cause of this issue appears to be the merging of the `iconStyle` prop with the same prop of the `iconElement` that is being passed as a prop.

https://github.com/callemall/material-ui/blob/master/src/IconMenu/IconMenu.js#L272
[code]
The `Object.assign()` call is passing an object as the iconStyle prop to the iconButton element, which will then pass it all the way down to the `<button />`.

[2016-11-01 21:00] Findiglay commented on #4953
Wondering how they do this on the material-ui demo page?

[2016-11-02 01:34] mattapperson commented on #5330
@lucasbento I am seeing this issue as well, but not when using tests. Rather when compiling my app using next.js

[2016-11-02 03:48] cybersteel8 opened #5497 "Is there a way to convert a Stepper into the dot-stepper, such as for a carousel?"
As per the material guideline described here for the mobile type: https://material.google.com/components/steppers.html#steppers-types-of-steps

As you can see, there's the dots at the bottom that act like a stepper except don't have any label or line, and aren't as wide as the container. I've tried to create this by modifying the CSS inline but I think it is impossible. Is there something I am mis

[2016-11-02 06:11] GRIM2D commented on #1676
This is somehow related to animations. One can manually trigger `resize` event, but `Dialog` will repositioned after animations.

Currently, my workaround is this. But you'll notice how `Dialog` repositioned after animation

[code]

[2016-11-02 08:34] djensen47 opened #5498 "[SelectField] Tabbing between form components always skips SelectField"
1. Create a form with many components.
2. Include a SelectField
3. Press tabs once for each component

Expected behavior
After each tab press a new form item is focused until all are visited

Actual behavior
The SelectField is skipped over

This was actually mentioned in #714 and is was mistakenly closed when #846 was merged. The problem is that #846 is actually allowing you to tab between the Men

[2016-11-02 08:37] jampy opened #5499 "[TimePicker] `autoOk` closing the dialog too early"
### Problem description

The `autoOk` setting for the `TimePicker` is not very consistent / user friendly IMHO.

While choosing the *hour* one can keep the mouse button pressed / keep touching the screen and the hour selection will follow the mouse/finger. This is great especially on mobile where you may have difficulties to choose the desired position precisely.

However, while choosing the *minu

[2016-11-02 08:44] starInEcust opened #5500 "[List] Shouldn't hide when the component is controlled"
### Problem description
   @davincho @oliviertassinari  #4850

   I found a bug in ListItem component.
   set second item's props open = true, then click it to hide the third one. When hover the first ListItem, the second will reopen automatically;
I have read the source code and I found in line 421, handleMouseEnter will setState to change backgroundColor, but it will make child ListItem's compon

[2016-11-02 13:23] 0xBADCA7 commented on #1511
Meanwhile I'll just leave this here https://github.com/ultimate-pagination/react-ultimate-pagination-material-ui

[2016-11-02 13:46] davincho commented on #5500
If you use `open` attribute, be sure to assign it's value to a variable, otherwise the attribute's value will be uncontrolled. This means, as soon as a re-render happens `ListItem` will be opened again.
As shown in the example, you may register a callback with `onNestedListToggle` to reflect the toggled state within your component. Something like:

[code]

[2016-11-02 14:02] davincho commented on #5500
Quick-and-dirty solution: http://www.webpackbin.com/VJdVy17xf

[2016-11-02 14:06] neemah commented on #5410
Unfortunately, master is still broken
[code]

<img width="302" alt="screenshot 2016-11-02 17 04 32" src="https://cloud.githubusercontent.com/assets/212695/19931738/a6d3743c-a11e-11e6-8d13-182fe97d1281.png">

[2016-11-02 15:00] cezarneaga commented on #204
href reloads page. how about if i want to use react router

[2016-11-02 15:22] cezarneaga commented on #4953
I would love it if they would publish an uncompiled demo of the material-ui website too.
The submenus, the active features are not part of the docs

[2016-11-02 15:27] slavab89 commented on #1956
@Sharlaan Amazing!!
I'm going to try to integrate this into my project and see how it goes.

[2016-11-02 18:29] oliviertassinari commented on #5500
Looks like the issue is right here. The `ListItem` isn't supposed to hide as you are controlling it with the `open={true}` property.

@davincho Approach sounds correct 👍 .

[2016-11-02 19:51] jronSomers opened #5501 "[TextField] Floating Label Text overlaps the inputted text when the textfield is in a table."
### Problem description

The TextField's Floating Label Text is broken when it is within a Table in a TableRowColumn.

You can input some values and the floating label text falls back down on top of the text you typed. There was a similar issue in the past but it was related to autofill I believe but the results look similar (the floating label text overlaps the text in the input).

### Link to mi

[2016-11-03 01:13] dcworldwide commented on #2971
Still an issue. Selected item wraps to a new line if too long :(

![overflow](https://cloud.githubusercontent.com/assets/4898751/19953135/7a761302-a1b6-11e6-841b-e06d4e64c4b1.png)

[2016-11-03 02:51] dcworldwide opened #5503 "Tab Header Width Distribution"
### Description

The width of tab header titles is evening distributed. This creates strange looking UI for variable width titles.

### Images & references

![tabs](https://cloud.githubusercontent.com/assets/4898751/19954451/2a02911c-a1c4-11e6-9150-ed94bab20df7.png)

-->

### Problem description

Perhaps we should define tab title width using the # of text chars instead?

### Link to minimally-wor

[2016-11-03 06:10] starInEcust commented on #5500
Thank you for your prompt reply. According to your answer, I have solved my problem. But I do not think this is a good solution.

[2016-11-03 11:16] monkeymonk opened #5504 "[AutoComplete] dataSourceConfig not working"
### Problem description

My `dataSource` is an object, I need to get the `id` props when selecting an item.
For now, it *always* return the `name`.

I've tried several things found on different places but no luck...

[code]

### Versions

- Material-UI: 0.16.1
- React: 15.3.2
- Browser: not related

[2016-11-03 12:32] HuysentruytRuben commented on #5473
Seeing something similar in IE 11 but only for rapidly clicking, have not been abled to test other browsers yet

[2016-11-03 12:55] monkeymonk commented on #5504
I just found a trick to do what I need :

[code]

[2016-11-03 12:55] #5504 closed

[2016-11-03 13:06] HuysentruytRuben commented on #5481
This seems more appropriate for a stackoverflow question with a codepen, I don't see any reason why this woudln't be possible

[2016-11-03 13:06] joshunger commented on #3553
@oliviertassinari can you elaborate on "you will not display the same information on mobile and desktop"?  For example, on the current project we're working on, we're displaying a contact us dialog.  It has the same information on mobile and desktop but I would like the dialog full screen on mobile.

[2016-11-03 17:20] lmammino commented on #4671
Very interested on this as well!

[2016-11-03 17:33] bteepell opened #5505 "TextField isFocused on first enter page switches false/true then back to false"
### Problem description
When first entering page I click on TextField and the underline goes focused then goes off.  I have to click a second time on the TextField to maintain focus.  I can see the state isFocused: switches from false to true and back to false.  After the second click it stays at true.

I tested by simply adding <TextField/> to a page.

### Versions

- Material-UI: 0.16.1
- React:

[2016-11-03 18:23] bteepell commented on #5505
Solved.

[2016-11-03 18:23] #5505 closed

[2016-11-03 18:25] ottumm commented on #5441
I noticed that http://react-toolbox.com/#/components has the same problem. Perhaps it's an issue with the documentation generator/framework you're using? Curious that this seems to be a pattern in the Material Design React Component Library world.

[2016-11-03 18:29] alexmchardy commented on #477
Ran into this ... `rm -r node_modules` and then `npm install` fixed it for me.

[2016-11-03 18:40] aubford opened #5506 "[FloatingActionButton] onClick using arrow function not working when mini={true}"
Doesn't work when using arrow function (e.g. onClick={ () => console.log('log') } ).  Workaround is to use standard function but this is not expected behavior.

- Material-UI: ^0.16.1
- React: ^15.0.1
- Browser: Chrome

[2016-11-03 21:22] danwoods commented on #5183
Having the same issue on web...