[2021-02-22 13:37] mngu commented on #21154
@oliviertassinari Hi ! Can I work on this ?

[2021-02-22 14:06] gpadbidri opened #25057 "Material UI Autocomplete - Grouped Label Styling does not seem to work"
I am developing the GROUPED AutoComplete and somehow I am unable to change the BACKGROUND Colors for the Group by LABELS

Ref URL for the Component - https://material-ui.com/components/autocomplete/#grouped

I tried adding CSS using makeStyle / custom CSS on .MuiAutocomplete-groupLabel and
.MuiAutocomplete-groupUI - but nothing seem to take effect. It remains WHITE.

Can you look into this and gui

[2021-02-22 14:15] #25057 closed

[2021-02-22 14:15] gpadbidri commented on #25057
I fixed it

[2021-02-22 14:31] racheelllee commented on #19576
Including a TextField in
[code]

[2021-02-22 14:41] eps1lon commented on #24947
What does that mean? I think there's something wrong with the filled TextField if we need to change colors in two places. It looks like you're trying to change something else here.

[2021-02-22 14:49] eps1lon commented on #24952
The error being reported in the playground is odd. But it's not reproducing with yarn v1 so it's probably an issue with type discovery.

@lionskape  I seem to remember that you need extra steps to get TypeScript working with yarn v2. Is this no longer required?

[2021-02-22 15:54] oliviertassinari commented on #24947
I see 4 values:

1. Update the palette to match the spec
2. Bring AA contrast on the filled input
3. Fix the ugly grey background-color
4. Remove the potential confusion around the field input being disabled

1. Can be solved independently. I don't think thgat 2,3,4 can.

[2021-02-22 16:14] SethRogers7420 commented on #5259
For anyone who runs into this with a newer version of material-ui, they've re-written the click code for the Select component so the following will **no longer** work:
`wrapper.find('[role="button"]').simulate('click');`

The Select component has changed to use the mousedown event and the code checks if it was left click.
In Enzyme, the proper way to simulate a click on the Select component to ope

[2021-02-22 18:38] #25019 closed

[2021-02-22 18:40] oliviertassinari commented on #21154
@mngu Yes, definitely

[2021-02-22 20:37] scottlamb commented on #24997
I just realized what should have been obvious: https://github.com/mui-org/material-ui-pickers/issues/1336 ("shouldDisableDate crushes DatePicker") has been fixed, so I can get basically the behavior I want by simply always returning true in `shouldDisableDate`. (And perhaps also setting `minDate` and `maxDate` to disable flipping through months.) I still think `disabled` should be honored, but the

[2021-02-22 20:38] daveisfera opened #25058 "Support for React 17"
Current dependency is `react@^16.3.0`, so this is requesting that `react@17.0.0` be added as well

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Appears to work with React 17 from testing so far, so allowing that would be good

## Motivation 🔦

Stay current with React and future developm

[2021-02-22 20:55] #25058 closed

[2021-02-22 21:53] daveisfera commented on #25058
This is a request for a change and not just a support request

[2021-02-22 22:12] oliviertassinari commented on #25058
React 17 is already supported

[2021-02-22 22:32] daveisfera commented on #25058
https://github.com/mui-org/material-ui/blob/6b1e69e50622a91261dfbdb04e89c2c02d19ec82/package.json#L149

[2021-02-23 01:41] SunShinewyf commented on #24831
@oliviertassinari Not yet, let me look into it

[2021-02-23 01:46] oliviertassinari commented on #25053
We have explored supporting the open search API in #16764. I don't think that we should do anything special for the icons.

[2021-02-23 01:49] oliviertassinari commented on #25052
@ahmedju You can either use a single ThemeProvider or update the class name generator to have a custom behavior;

[2021-02-23 01:49] #25052 closed

[2021-02-23 01:54] oliviertassinari commented on #25045
@mohanpyc Thanks. It looks like a rendering issue we have no control over.

[2021-02-23 01:58] oliviertassinari commented on #25016
@Primajin The current output of `darkScrollbar` is not platform-dependent but it would probably be better. Is there a way to detect if we are on Windows/Linux?

[2021-02-23 02:03] oliviertassinari commented on #25000
@jfily Not sure, I personally think that list item icons don't deserve to have the same color as the icon button. Isn't it too light for a dark mode, suggesting it can be interacted with directly?

[2021-02-23 03:35] jqrun opened #25061 "CSS injection order when using MUI as a component library"
On the latest V5 alpha, styling components works great with emotion and the css prop. I'm able to have all the desired behavior in the same repo in the component lib (e.g. testing on storybook).

However, once I use that component lib as a dependency in another application, the CSS injection order changes and my custom styles are overridden. The head tag ends up looking like this:

[code]

Note th

[2021-02-23 03:40] zj9495 opened #25062 "[Switch] inputProps should support data-*"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
TypeScript will complain `inputProps` doesn't support `data-*`

## Expected Behavior 🤔
`data-*`(or more) should be added to `inputProps`.

## Steps to Reproduce 🕹

https://codesandbox.

[2021-02-23 04:03] abelamelo commented on #10571
Change
import MenuIcon from '@material-ui/icons/Menu';

to:
import { Menu as MenuIcon } from "@material-ui/icons";

[2021-02-23 04:08] filipe-gomes commented on #11749
@neomib did you ever figure out a way around this? This "shaking" effect is the only thing keeping this from working for me.

[2021-02-23 06:03] albertocevallos commented on #19957
@oliviertassinari running to the same issue, is there an official work around this (besides using a spinner 🙃) ?

Couldn't find anything in the other issues reporting the same.

What classes would I use to customize this?

[2021-02-23 06:08] albertocevallos commented on #19957
Update:

This fixed it: https://material-ui.com/customization/components/#overriding-styles-with-classes

[2021-02-23 06:12] saiki4116 commented on #21154
Thanks @mngu for picking this up, Just a heads-up.
I did changes, but the build was failing for a couple of Typescript bindings(`alert.d.ts` and `dialog.d.ts`) as they were using `StandardProps` and I didn't get time to proceed after that.
I believe it might not be an case now, as more components are being moved to `Overridable` component pattern.
Here is [my feature branch](https://github.com/sai

[2021-02-23 06:26] shivanshBTW opened #25064 "[select] grouped select headings overlap each other when there is a scroll involved"
When we scroll in the grouped select dropdown, the group names overlap with each other.
The easiest solution would be to apply a solid color background to the headings. ( ListSubHeader )

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavio

[2021-02-23 06:39] shivanshBTW commented on #25064
another solution could be making ListSubheader non-transparent or adding some kind of " isTransparent " prop to it.

[2021-02-23 06:40] shivanshBTW commented on #25064
or just editing the docs and apply a background color to each ListSubHeader ...
I can work on either solutions

[2021-02-23 07:06] ahmedju commented on #25052
excuse me how to update the class name generator?

[2021-02-23 08:18] GabriFila commented on #25053
Sorry I didn't find that issue in my search.

When I say "search engine shortcut" I'm referring to the search parameter in the url not to the OpenSearch support.

This means that the only change on the MUI docs would be to look for the URL in the parameter on component load and, if it is present, set it as value of the search text field.

The actual visible change is when using the the URL bar in

[2021-02-23 08:31] biandtlp opened #25065 "W3C Validation error with Tabs imported"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Hi, when importing tabs into a page, w3c validation has the following error:
**CSS: "scrollbar-width": Property "scrollbar-width" doesn't exist.**

This is the class that generates the problem:
.MuiTabs-scr

[2021-02-23 09:54] Floriferous opened #25067 "[TextField] Improve hover state when error is true"
When you set a TextField to `error: true`, its border/outline changes to the defined error color. When you have multiple fields in a form, some of which are in an error state, it feels a bit weird to me that there is no feedback on hover, particularly for the Outlined variant, such as changing the color of the border/outline.

Here's a reproduction of what I'm thinking about:
https://codesandbox.i

[2021-02-23 10:43] tuomokar opened #25069 "[Switch]: Styles broken"
In the Switch component the styles seem to be broken in both the checked and unchecked state.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The "line" part of the component isn't displayed at all and in checked state the "thumb"

[2021-02-23 12:26] jelhouss opened #25070 "`onPageChange` of `DataGrid` triggering behavior"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a component that uses `DataGrid` internally, and it receives a function `onPaginationChange` as a prop to be called on `DataGrid`'s `onPageChange`, I wrote a Storybook model fo

[2021-02-23 13:06] #16442 closed

[2021-02-23 13:06] #20957 closed

[2021-02-23 13:14] #21154 closed

[2021-02-23 13:33] oliviertassinari commented on #19149
This bug is fixed in React 17.0.0 https://codesandbox.io/s/o6isx?file=/demo.tsx. It's definitely broken in React 16.14.0 https://codesandbox.io/s/basicmodal-material-demo-forked-g3y2p.

The documentation will no longer showcase the problem once we migrate the version of React we use. For now, our docs still have the issue: https://next--material-ui.netlify.app/components/modal/#basic-modal.

[2021-02-23 14:41] #24947 closed

[2021-02-23 15:02] oliviertassinari commented on #25053
@GabriFila Oh ok, I didn't understand your request correctly then. So you want to reproduce what https://material.io/resources/icons/ supports. 👍 for allowing to link specific icons, as well as, search with a coworkers

[2021-02-23 15:12] oliviertassinari commented on #25069
Duplicate of #24109

[2021-02-23 15:13] #25069 closed

[2021-02-23 15:13] oliviertassinari commented on #25069
You need to configure the injection order. We have finished the migration of this component in v5, so it shouldn't be as much of an issue in this occurrence.

[2021-02-23 15:17] oliviertassinari commented on #21154
@saiki4116 Strange, the error didn't reproduce in the CI.

[2021-02-23 15:24] tuomokar commented on #25069
Hmm though I forgot to put that on the codesandbox, I do have the `<StylesProvider injectFirst />` in my app in which I originally noticed the issue.
I'll check if I'll figure out why it's not working there.

Thanks anyway!

[2021-02-23 15:28] Primajin commented on #25016
in CSS not but in JS one could sniff the navigator or so. But maybe we can get around it by _only_ applying (background-)colors  and let the rest handle the OS. So we might want to remove the border radius and things like that.

I couldn't really figure out yet how Github does it here but I'm investigating.
I will play around how it will look like across platforms if we only tinker with the colors

[2021-02-23 15:40] jqrun commented on #25061
I found the culprit of the problem by accident. I have a ThemeProvider wrapper in my component library that looks something like below. The extra div that was wrapping the children with some emotion css, when removed, allowed the injection order to be correct again.

[code]

Anyone know why that is? Thanks!

[2021-02-23 15:50] Primajin commented on #25016
This one seems quite interesting approach - but maybe there is a shorter way than styling everything:
https://codepen.io/patrikx3/pen/ZEBQQyV

[2021-02-23 16:20] oliviertassinari commented on #25061
Without a reproduction, we can't debug your issue.

This is interesting! I'm going to add, at the very least, a benchmark to see where we are. We also know that we can rewrite the system to be faster. I might also look at it, once I get bandwidth, maybe this weekend.

[2021-02-23 16:27] jqrun commented on #25061
I take this back, it may been fleeting... will have to continue to debug.

I'll try to setup a minimal reproducer and get back. Thanks!

[2021-02-23 16:40] filipe-gomes commented on #20950
@mnemanja I'd love to see your solution to this. I've been dealing with the same problem the last couple days, and my implementation of a fix causes the screen to "wiggle" a little when the drawer comes out. I'm using `variant="temporary"` and `anchor="right"`. If it is anchored to the left, it works smoothly, but when anchoring to the right I get the janky behavior.

[2021-02-23 17:00] oliviertassinari commented on #25069
My fault. I have pushed for using a component with the same name between JSS and emotion. We have renamed it afterward. Now it's StylesProvider for JSS and StyledEngineProvider for emotion/sc.

[2021-02-23 17:05] oliviertassinari commented on #25065
This CSS property exists and is valid: https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width. Please report the issue to https://github.com/w3c/css-validator

[2021-02-23 17:05] #25065 closed

[2021-02-23 17:08] oliviertassinari commented on #25052
https://material-ui.com/styles/api/#creategenerateclassname-options-class-name-generator could help. Otherwise, you could ask on StackOverflow.

[2021-02-23 17:13] oliviertassinari commented on #19957
@Sinan-private Do you have a visual illustration? I don't understand the case we are considering. If the theme in the context is dark, the Skeleton will adapt accordingly.

[2021-02-23 17:27] oliviertassinari commented on #19957
A demo of how the customization can be done in v5:

[code]

https://codesandbox.io/s/variants-material-demo-forked-5xfd6?file=/demo.tsx:0-556

[2021-02-23 17:44] LucaHermann opened #25073 "[Popover] Popover in a second Popover create to the DOM 2 elements with non-unique id"
# Popover weird behaviours

Hi i work on a table who have "actions" so i have try to put a popover and render a list in this one.
Inside this popover i have a second one for show a form input who add a user to a team but the second Popover create  2 elements with non-unique id.
Im questioning myself is my code the problem or popover (i believe is my code tbh🤣) can i put a popover in a second one ?

[2021-02-23 19:02] #25011 closed

[2021-02-23 20:39] jqrun commented on #25061
I created a minimal setup, but it didn't end up reproducing 😢 . I'll go ahead and close this for now since I'm unable to uncover the proper reason. I'm sure it's something else convoluted in my setup. I'll re-open if I find out more.

[2021-02-23 20:39] #25061 closed

[2021-02-23 21:17] Dripcoding commented on #16866
@oliviertassinari I'd like to tackle this problem if no one else is working on this.

[2021-02-23 21:22] GabriFila commented on #25053
Yes, I meant something like that 😍, could I get assigned to this issue and make a PR to add it?

Sorry, I don't know if there are specific procedures and/or requirements.

[2021-02-23 21:39] oliviertassinari commented on #25053
@GabriFila Prefect, feel free to solve this pain :)

[2021-02-23 21:40] oliviertassinari commented on #16866
@Dripcoding It's all yours 🙌

[2021-02-23 22:50] oliviertassinari commented on #25073
Please provide a **minimal** reproduction test case with the latest version (v5). This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-02-24 01:12] #25045 closed

[2021-02-24 01:17] oliviertassinari commented on #25067
@Floriferous Thanks for the suggestion

[2021-02-24 01:17] #25067 closed

[2021-02-24 01:30] oliviertassinari commented on #25062
Duplicate of #20160

[2021-02-24 01:30] #25062 closed

[2021-02-24 01:32] oliviertassinari commented on #20160
As a side note, it's reproducible without Material-UI: https://codesandbox.io/s/material-demo-forked-7gfgi?file=/demo.tsx.

It's also worth mentioning that it's not an issue with the InputBase because of the custom type:

https://github.com/mui-org/material-ui/blob/0ff48309f5429dfed1cfef2c08d8a5d8fce70345/packages/material-ui/src/InputBase/InputBase.d.ts#L236-L240

[2021-02-24 02:14] mtr1990 opened #25075 "[Slider] Customize disabled state"
I have overridden the disabled state of Slider.

but I don't know which syntax is correct:

[code]

Usually, I use method 2. but it doesn't seem to work in this case

More details:

https://codesandbox.io/s/continuousslider-material-demo-forked-3qphg

[2021-02-24 03:06] jqrun opened #25076 "webpack fails to load MUI in a component library with the sideEffects flag"
When creating a component lib with MUI (latest alpha), a client application using the lib with the webpack flag `sideEffects: true` results in the following webpack error during dev server:

[code]

When pausing on exceptions in devtools, this is the module that is not loading: `./node_modules/@material-ui/core/Box/index.js`.

This doesn't happen when depending on MUI directly. I've also tried set

[2021-02-24 05:47] matthewkwong2 commented on #20012
For the shorthand breakpoints,
[code]

Is it possible to specify something like `xsUp`, `smDown`, etc?
A simple scenario will be
[code]

[2021-02-24 08:51] manziEric commented on #24941
@oliviertassinari so you need this to be added to code ? `color: theme.palette.text.secondary,`
where in the documentation do `<CommentIcon color="action" />` this need to be added ?
I would like to work on this

[2021-02-24 08:58] martin19 opened #25077 "[ClickAwayListener] Allow to trigger in the capture phase"
Hi,

I'm using ClickAwayListener to close popper context menu when clicking outside.
I'd like to avoid any other component being triggered by the click event that is dismissing the popup, thus I'm trying to do
event.stopPropagation in "onClickAway". Unfortunately, ClickAwayListener seems to register its events in bubble phase (no "capture" parameter in addEventListener passed.) I wonder if it is p

[2021-02-24 09:35] Filip1986 commented on #14860
AAAAAAaaaaaaaaaaaa!!!!!! It's one of those days when the first click that you make regarding an issue takes you to the right spot.

[2021-02-24 09:44] eps1lon commented on #25077
Then the question becomes how you avoid any other click-capture listener.

Could you share more about the UI you're rendering and why you think you need `stopPropagation` for that?

[2021-02-24 09:45] mngu commented on #13875
Willing to try to update TextField :)

[2021-02-24 09:46] eps1lon commented on #19149
We first have to revisit what the plan is regarding supported React versions. I've been pushing for a single version from the beginning but you've always wanted to support multiple versions.

Is this still your opinion or have you reconsidered after realizing that supporting older versions also means supporting buggier React versions?

[2021-02-24 10:10] martin19 commented on #25077
My UI displays context menus (implemented with Popper) on top of a data-table component.
The context menus can be opened by clicking on specific table cells - the click handler is bound to cell subcomponent of the table. The table component features a row selection/highlighting feature which is bound to the onClick event of the table rows. I'm trying to avoid the user selecting a row when dismissi

[2021-02-24 10:35] andra-sava opened #25078 "[Autocomplete] The selected option is not displayed for asynchronous list of options"
Hello,

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I was trying to use the Autocomplete component and I ran into the following issue:
I have an asynchronous call to the server that is supposed to bring the list of options while I design the Autocomp

[2021-02-24 11:19] oliviertassinari commented on #19149
@eps1lon What do you think about upgrading the dev dependencies to React 17, and keep the current peer dependency scope for React?

[2021-02-24 11:30] oliviertassinari commented on #13875
@mngu Note that the TextField is the most complex one to handle. I would recommend starting simpler, to gain more confidence and de risk the time invested.

[2021-02-24 12:06] vicasas commented on #16947
i will start taking this

[2021-02-24 12:10] eps1lon commented on #19149
It is a huge cost right now.

[2021-02-24 12:35] vicasas commented on #16947
@oliviertassinari I am taking the documentation of the Button component but there is something I do not understand, when using the prop `sx` using` margin: 1` or `m: 1` this does not work, but if I change the 1 for another value it works. Any idea what is going on?

[2021-02-24 12:39] oliviertassinari commented on #19149
@eps1lon In this case, I'm missing context. What cost do you have in mind? I can only think of one:

Developers raising something not working with 16.8 and us telling them: it's fixed with React 17.0, upgrade. This can create some support overhead for us. But developers would likely raise it anyway regardless of what or peer dependencies say (I'm pretty sure they most ignore this). It would also h

[2021-02-24 12:46] povilass opened #25081 "[CssBaseline] @font-face inserts as single not multiple (only last loaded)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

No multi @font-face attributes.
![image](https://user-images.githubusercontent.com/8037810/109001401-923fb300-76ad-11eb-9de8-bff7eb410543.png)

## Expected Behavior 🤔

Creates multi @

[2021-02-24 12:58] povilass commented on #25081
Closing.

[2021-02-24 12:58] #25081 closed

[2021-02-24 13:15] mngu commented on #13875
@oliviertassinari Alright then, here's what I have so far => https://github.com/mngu/material-ui/compare/next...mngu:textfield-custom-props
Custom `color` is working fine.
But `size` has no effect for now...

[2021-02-24 13:19] povilass opened #25082 "[DatePicker] Is not opening"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Does not open date picker on Icon click.

## Expected Behavior 🤔

Should open
## Steps to Reproduce 🕹

Change "@material-ui/lab": "5.0.0-alpha.24", to "@material-ui/lab": "5.0.0-alpha

[2021-02-24 13:19] oliviertassinari commented on #13875
@mngu It seems to go in the right direction. We should also likely update the Input, FilledInput, OutlinedInput were relevant.

[2021-02-24 13:28] oliviertassinari commented on #25081
Duplicate of #24966

[2021-02-24 13:39] oliviertassinari commented on #20012
@matthewkwong2 No, and it won't be possible.

[2021-02-24 14:28] ryancogswell commented on #20012
@matthewkwong2 Though there aren't shortcuts for this, you can easily do the CSS equivalent leveraging the [theme.breakpoints functions](https://next.material-ui.com/customization/breakpoints/#css-media-queries):

[code]

[![Edit BoxSx Material Demo](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/boxsx-material-demo-vd0me?fontsize=14&hidenavigation=1&theme=dark)

[2021-02-24 14:30] povilass commented on #25075
You need only but style overrides not working I think it is a bug.

[code]

[2021-02-24 14:35] oliviertassinari commented on #16947
@vicasas Note that we aim to use the `Stack` component for adding spacing between items: #18158. However, here, we can't since it wrap. I can't reproduce your issue. This works:

[code]

[2021-02-24 14:48] povilass commented on #25075
@oliviertassinari I can look into it and make changes later.

[2021-02-24 14:55] oliviertassinari commented on #25075
@povilass Ok, great, it would help. https://github.com/mui-org/material-ui/issues/25075#issuecomment-785114968 should throw a warning, we don't support it.

[2021-02-24 14:58] povilass commented on #25075
@oliviertassinari I think we supported this in the previous version it just broken in v5 after migration into emotion

[2021-02-24 14:59] oliviertassinari commented on #25075
@povilass We throw a warning against it. It was added a year or two ago.

[2021-02-24 15:00] Shoebtamboli opened #25083 "[DatePicker] inputFormat prop changes format but update month as minutes."
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Try to pass inputFormat prop as "yyyy/mm/dd". Then open the datepicker and select the date.

The selected date looks like: 2021/55/24 (taking month as minutes from the time you select

[2021-02-24 15:02] oliviertassinari commented on #25075
Regarding this very issue. I have stopped looking at this root cause:

[code]

This works: https://codesandbox.io/s/continuousslider-material-demo-forked-f8rie?file=/index.js

[2021-02-24 15:04] stunaz commented on #16947
@oliviertassinari  where is the Stack Component?

[2021-02-24 15:08] oliviertassinari commented on #16947
@stunaz It's not implemented yet. @souporserious has started looking into it.

[2021-02-24 15:12] povilass commented on #25075
Yes just looked into it got the same warning.

[2021-02-24 15:14] oliviertassinari commented on #24941
@manziEric I think that we should apply the above patch, and replace cases where we use the action color for non-buttons. We could start by applying the patch.

[2021-02-24 15:28] #25083 closed

[2021-02-24 15:38] chrisk8er commented on #16867
Thanks @knoefel  you save my day...

[2021-02-24 15:40] povilass commented on #25075
Ok, I understand what is happening now gonna think for a while about what can we do with it and how to resolve the problem in all components.

[2021-02-24 16:47] vinyldarkscratch commented on #18119
Ran into this issue myself just recently, and the error message isn't all that helpful.  It would be great if Material UI were to raise a more verbose, detailed error, such as "<Tooltip> requires a child element".

It'd probably be helpful to also note that the Tooltip component doesn't error if you pass a fragment (i.e. `<>Hello</>`) as a child element, but it will not attach a tooltip.

[2021-02-24 16:53] oliviertassinari commented on #18119
@vinyldarkscratch The prop types warning in the console should say exact this.

[2021-02-24 16:56] oliviertassinari commented on #18119
@eps1lon 24 upvotes on https://github.com/mui-org/material-ui/issues/18119#issuecomment-548379346. What do you think about reoping #17480 to not throw when a required prop is missing? Basically give more chance for developers to check there console to see what's wrong without seeing a big error that catches the attention.

[2021-02-24 17:01] vinyldarkscratch commented on #18119
I see the prop types warning you're referring to now.  I also updated my comment a bit to add more/better wording.  (To someone like me who isn't as experienced with React, my first reaction to the prop types error is "but wait, I have a child, so why isn't it working?")

[2021-02-24 17:12] lnorton89 commented on #20288
I'm working on a new project and am getting this error. Care to checkout my reproduction and see if this is still happening?

https://codesandbox.io/s/happy-agnesi-m0o4w?file=/src/theme.js

[2021-02-24 17:13] #24286 closed

[2021-02-24 17:24] oliviertassinari commented on #18119
Considering the prop types we have, a Fragment should also warn.

https://github.com/mui-org/material-ui/blob/b0d77d040e84584c627df77573e09ab85be354d6/packages/material-ui/src/Tooltip/Tooltip.js#L621

[2021-02-24 17:39] oliviertassinari commented on #25077
Did you consider rendering an overlay to prevent all interactions when the context menu is open? Did you consider storing the open state of the context menu in a shared state the cell click handlers have access to (so they can ignore the event)?

I agree with @eps1lon and https://github.com/Pomax/react-onclickoutside/issues/220. I think that we should close as "won't fix".

[2021-02-24 17:45] eps1lon commented on #18119
Open a new issue with a repro please, thanks.

[2021-02-24 18:01] martin19 commented on #25077
I agree there are other solutions to the problem. I solved the issue as you suggested by using shared state. Thanks for the help.

[2021-02-24 18:35] sta4152 commented on #12432
icons-4.11.2.tgz is only of 1021K size ... but faces this problem though. And with large timeout this worked then. There must be something else than just the file size of that ...

[2021-02-24 18:42] #25077 closed

[2021-02-24 18:46] oliviertassinari commented on #12432
@eps1lon Is it possible that the number of files it contains (almost 20k) has a stronger influence than the size in MB of the package?

[2021-02-24 19:32] sta4152 commented on #12432
Exactly, this: just noticed that after download the windows defender blocks it for more than a minute. It contains ~17000 files.

[2021-02-25 00:19] asibilia opened #25087 "Using JSS / StylesProvider inside an iFrame no longer working in 4.11.3"
Using JSS / StylesProvider does not correctly mount your components at the insertion point specified on version `4.11.3` -- seems to mount them at the root document's `head`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using J

[2021-02-25 01:24] natac13 commented on #24405
I can take `Drawer`. Ill try and finish by the weekend.

[2021-02-25 02:04] tihuan commented on #22342
Thanks so much for the super informative RFC! Emotion sounds like the right decision 🎉

Out of curiosity, why [`linaria`](https://github.com/callstack/linaria) wasn't in the final list, given that its zero runtime performance advantage over all CSS in JS solutions?

Is it this?

https://github.com/styled-components/styled-components/issues/2377

Thank you!

[2021-02-25 04:18] kimbaudi commented on #13394
You can create your own transition components (Collapse, Fade, Grow, Slide, Zoom) based off Material UI that passes [`nodeRef` transition prop](http://reactcommunity.org/react-transition-group/transition#Transition-prop-nodeRef) to [react-transition-group](http://reactcommunity.org/react-transition-group/).

Here is a custom Collapse component based off Material UI's [Collapse](https://material-ui

[2021-02-25 07:37] DavidVonAmri commented on #24941
@oliviertassinari I've been thinking of the `theme.palette.action.active` and it's context. Also looked at the discussion in #25000. Now as I understand it the `theme.palette.action.active` is, as you stated, "available for interactions".

Now first of all i find the naming a bit confusing as you already know. ;) "active" in my mind is a "state", like "disabled" or "focused". But in this context i

[2021-02-25 08:23] olelivalife commented on #20373
I'm having this problem as well. Tried upgrading to `4.11.13`, deleting both `node_modules` and `yarn.lock`. and re-installing. No luck...

When looking into `Typography.d.ts` it seems to be missing a `component` prop. When adding it the error goes away... Isn't this a bug?

<img width="609" alt="Skærmbillede 2021-02-25 kl  09 20 47" src="https://user-images.githubusercontent.com/54795768/10912434

[2021-02-25 09:04] eps1lon commented on #13394
@kimbaudi That is exactly what `unstable_createMuiTheme` originally did. But it should not be required anymore since our transition components should be StrictMode compatible in v4 (if using `unstable_createMuiTheme`) and v5.

[2021-02-25 09:18] oliviertassinari commented on #22342
@tihuan we didn't even consider this option because it limits all dynamic customizations we can support. We can't build the DX we aim for with it.

[2021-02-25 09:49] dnquang1996vn commented on #7431
You want to look at the menuPortalTarget prop. There's a topic on this in the Advanced documentation, specifically with a modal example provided. Something like:
`  <Select
    {...otherProps}
    menuPortalTarget={document.body} />`
  Then set index for menu portal

[2021-02-25 10:48] #24972 closed

[2021-02-25 11:29] mariusnergard commented on #7212
This worked!
The documentation should mention this..
https://material-ui.com/components/popover/#mouse-over-interaction

[2021-02-25 12:32] oliviertassinari commented on #7212
Duplicate of #7680

[2021-02-25 14:52] oliviertassinari commented on #16947
@vicasas I have figured it out. The issue is that this selector `.foo > * + *` or `.foo > *` has a specificity of 1. The same specificity as the margin: 0 sets by the Button. We have no predictable CSS injection order with emotion. One workaround is to do: `.foo > :not(style)` to add a bit more specificity https://specificity.keegan.st/.

[2021-02-25 14:57] osnysantos opened #25093 "Accept null as value on Slider component"
I was trying to create a slider with some options but none of them were selected by default and I realized this is not possible.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I was thinking about setting the value as `null` and then no option would load selected.

## Examples 🌈

![image

[2021-02-25 15:00] oliviertassinari commented on #25093
@osnysantos You can map the different values to whatever you need. In this case, a radio group might even be better.

[2021-02-25 15:00] #25093 closed

[2021-02-25 15:11] osnysantos commented on #25093
@oliviertassinari You mean, I'll have to use a different component?

[2021-02-25 15:29] oliviertassinari commented on #24941
I'm giving up on the idea. With more hindsight, it's not an obvious win. It makes the icons too dark.

[2021-02-25 15:29] #24941 closed

[2021-02-25 15:48] oliviertassinari commented on #25087
@asibilia `@material-ui/styles` is a singleton. You need to make sure you have a single version. Either import the exported modules from the core package, or use the same version.

[2021-02-25 15:48] #25087 closed

[2021-02-25 15:53] oliviertassinari commented on #25064
Duplicate of #18200

[2021-02-25 15:53] #25064 closed

[2021-02-25 16:30] kimbaudi commented on #13394
@eps1lon I'm currently using v4 and I don't want to use `unstable_createMuiTheme` in production. I also don't want to use v5 until it is officially released (currently v5 pre-release). My solution might still be useful for those that are in similar situation.

[2021-02-25 17:31] Balour opened #25096 "Virtualized Autocomplete does not update displayed value if options are received after the value"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

An autocomplete who has its options given to it after the value, does not update its displayed value, even though getOptionLabel returns the right value

## Expected Behavior 🤔

The d

[2021-02-25 18:27] oliviertassinari commented on #19173
A year later, I had a second look at the issue. I think that the first solution shared is correct https://github.com/mui-org/material-ui/issues/19173#issuecomment-589850610.

[code]

The alternative I had a look at is to enforce getOptionLabel to be memoized, I suspect it will too painful for developers:

[code]

[2021-02-25 18:27] oliviertassinari commented on #25078
Duplicate of #19173

[2021-02-25 18:27] #25078 closed

[2021-02-25 18:28] oliviertassinari commented on #25078
@andra-sava The linked issue is up for grab. If you want to work on the proposed solution, feel free too :)

[2021-02-25 18:47] vicasas commented on #16947
@oliviertassinari  I have been dealing with this problem for a long time, I thought I was doing something wrong. But using another way to enter the child html element using `& > button` works perfect.

[2021-02-25 19:03] HoJoonYun opened #25097 "[Select] menu bounces off Input (multiselect)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The select menu bounces to selected items past the scrollable parent.

## Expected Behavior 🤔

The select menu should stay on top of the input.

## Steps to Reproduce 🕹
https://ttpriv

[2021-02-25 19:06] tihuan commented on #22342
Hi @oliviertassinari ! Thanks so much for your quick response 🙏 That makes perfect sense!

Thanks again for all the amazing work 🎉

[2021-02-25 19:21] GCJ2 commented on #16866
Following.
Would love to know when this change goes through!

[2021-02-25 20:11] oliviertassinari commented on #25097
Duplicate of #19245

[2021-02-25 20:11] #25097 closed

[2021-02-25 20:45] marceloloureiro commented on #5818
I'm using v 4.11.0
I checked the link you provided. Thanks.
In the end it was not what I expected, but okay. I made a workaround in my application to handle this issue.

Firstly I get a list of options, then I remove all the options that are equal to the selected values, the equality being checked by a predicate, then I spread the list of selected values, with their references, in the list of opti

[2021-02-25 20:58] mainfraame commented on #22342
@oliviertassinari @mnajdova do the same reference rules (triggering render) apply to the sx prop? In other words, should we avoid passing new references to the sx prop via inline object literal and instead throw those in something like a useMemo?

[2021-02-25 20:59] caseyjhol commented on #13394
Perhaps renaming `unstable_createMuiTheme` to `createMuiThemeStrict` would make people feel better about using it in production?

[2021-02-25 21:04] kimbaudi commented on #13394
@caseyjhol I still wouldn't feel comfortable using it in production even if it was renamed to `createMuiThemeStrict` because the current documentation for [`unstable_createMuiStrictModeTheme(options, ...args) => theme`](https://material-ui.com/customization/theming/#unstable-createmuistrictmodetheme-options-args-theme) says:

[2021-02-25 21:41] oliviertassinari commented on #13394
The irony is that StrictMode does nothing in production 😆

[2021-02-25 22:39] oliviertassinari commented on #22342
@mainfraame As far as I know, it makes no difference. We haven't looked a lot into how we can write more performant code yet.

[2021-02-25 23:00] dantman commented on #23708
Investigating this a bit more, this actually requires a breaking change to the UseAutocompleteProps/AutocompleteProps types.

Right now we have `getOptionSelected?: (option: T, value: T) => boolean;`. However after the change option and value will need different types so we can have `getOptionSelected?: (option: O, value: V) => boolean;` and `getOptionValue?: (option: O) => V;`.

So we'll need to

[2021-02-25 23:20] oliviertassinari commented on #23708
@dantman Alright thanks for the exploration. In this case, let's definitely not do this. How about we do https://github.com/mui-org/material-ui/issues/23708#issuecomment-733640638, keeping value and options with the same type.

[2021-02-25 23:38] dantman commented on #23708
That's the whole point of this issue.

Given `options=[{value: 'a', label: 'A'}, {value: 'b', label: 'B'}]` and thus `option[0] = {value: 'a', label: 'A'}` (`T = { value: string, label: string }`) then you get `{value: 'a', label: 'A'}` as your `value` and the only type it can be is `{ value: string, label: string }`.

But in real-world applications what we actually want is the ability to have `va

[2021-02-26 00:39] oliviertassinari commented on #23708
@dantman I'm not worried about the branking change but about the mental model it implies. I think that `getOptionValue?: (option: T) => any;` would work just fine.

[2021-02-26 01:03] dantman commented on #23708
That's not the limitation in Autocomplete that triggered this issue. The issue is if you use `<Autocomplete>` instead of `<Select>` to make a combobox, you cannot easily use simple values the `<Autocomplete>` will instead shove an object into your form.

[code]

[2021-02-26 01:03] kaitlynbrown commented on #16481
There are 21 upvotes on this issue now, so is it time to look at adding support for this yet?

I don't see why we should be constrained to 8px increments for grid spacing. If a receive a design that I am supposed to implement which uses a 12-column grid layout with 30px spacing, am I just supposed to hack it by overriding the MuiGrid-spacing css classes? It's not like it's that uncommon to have a

[2021-02-26 01:14] oliviertassinari commented on #16481
@kaitlynbrown

[2021-02-26 01:18] oliviertassinari commented on #23708
Which is the behavior *react-select* implements for this prop. I don't think that it will be disorienting as long as the description is simple to understand.

[2021-02-26 02:33] dantman commented on #23708
Ok, so this isssue is actually a `WONTFIX` and the `getOptionValue` you're describing is a fix for a completely different issue.

[2021-02-26 05:16] kimbaudi commented on #13394
Since the `findDOMNode` warning only occurs during development, another way to handle the warning is to change `createMuiTheme` to `unstable_createMuiStrictModeTheme` during development and change it back to `createMuiTheme` in production 😄.

[2021-02-26 06:11] applike-ss commented on #21377
When using vite.js i am getting a `Uncaught ReferenceError: withStyles_default is not defined` for core/styles/index.d.ts in line 1 (`export * from './colorManipulator';`)

[2021-02-26 06:25] fayzzzm commented on #24749
@oliviertassinari, I know it could be a stupid question from me, but what if the developer passes count float value
[code]
and next button won't be disabled due to this line of code
[code]
[Pagination code link](https://github.com/mui-org/material-ui/blob/b17e8f80307450f43f9ff9b68b7e6ebd560c5065/packages/material-ui/src/usePagination/usePagination.js#L3)

What if instead of checking `page >= count

[2021-02-26 09:56] oliviertassinari commented on #24749
@fayzzzm What's the link with this issue? I don't think that the core logic should care about float. However, we could introduce a custom integer prop-type, we have a couple of other cases where PropTypes.number isn't ideal 👍

[2021-02-26 10:05] fayzzzm commented on #24749
Ok, I will create an issue and you can have a look at it. We could discuss props validating after if it's ok?

[2021-02-26 10:15] oliviertassinari commented on #23708
From what I understand, it's also not possible with Downshift too.

[2021-02-26 10:15] oliviertassinari commented on #23708
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure enough people are looking for such capability. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2021-02-26 10:17] oliviertassinari commented on #24749
@fayzzzm Maybe I wasn't clear, we don't want to support `count={1.03}`, we want to throw a warning when developer try to us it.

[2021-02-26 10:25] fayzzzm commented on #24749
@oliviertassinari Got you!

[2021-02-26 11:43] #25000 closed

[2021-02-26 12:25] oliviertassinari commented on #13875
While this issue is about making it simpler to add extra colors, in #24778, we talk about extending the default colors supported. For instance to make success available by default in the `Button`. We have also surfaced how we could maybe simply the types to automatically accept any value that are in the theme's palette.

[2021-02-26 12:34] igorkrup commented on #18075
I am not sure if this is the same problem but the label's state is not updated when Input is in controlled mode and we change `value` prop. However, when you use dynamic `key` prop to remount component it looks good. So seems like to properly display label `TextInput` should be mounted with value.
I am also not sure if I am using this wrongly or it's a bug.

@nboukeffa I forked your sandbox to sho

[2021-02-26 12:39] oliviertassinari commented on #18075
This was solved at some point: https://codesandbox.io/s/material-demo-forked-z9xse?file=/index.js. v5.0.0-alpha.25 behaves correctly.

[2021-02-26 12:39] #18075 closed

[2021-02-26 12:56] mattholland0202 commented on #22001
Thanks @topovik - your solution fixed this issue for me and it's working well 😃

[2021-02-26 13:53] mngu commented on #13875
Yeah, looks like it would be an easier way than augmenting each component individually.

[2021-02-26 13:56] eps1lon commented on #23923
Resolved by
- https://github.com/mui-org/material-ui/pull/24830
- https://github.com/mui-org/material-ui/pull/25084
- https://github.com/mui-org/material-ui/pull/25085
- https://github.com/mui-org/material-ui/pull/25089
- https://github.com/mui-org/material-ui/pull/25100
- https://github.com/mui-org/material-ui/pull/25101

[2021-02-26 13:56] #23923 closed

[2021-02-26 14:17] oliviertassinari commented on #25096
I have updated the reproduction with v5: https://codesandbox.io/s/virtualized-autocomplete-displayed-value-bug-forked-l27sk?file=/demo.js:0-5362.

[2021-02-26 14:29] oliviertassinari commented on #25096
I'm closing since we already cover the issue in https://github.com/mui-org/material-ui/issues/19173#issuecomment-786109015.

[2021-02-26 14:29] #25096 closed

[2021-02-26 14:46] oliviertassinari commented on #13875
@mngu if you want to contribute to this discussion, feel free to do it on the linked issue. For instance, how can it be technically done?

[2021-02-26 14:47] #25073 closed

[2021-02-26 16:31] Primajin commented on #25016
OK I got something working like this:

![scrollbars-windows-mac](https://user-images.githubusercontent.com/1742115/109327176-54cb5900-7858-11eb-98aa-0de915d7253e.png)

It has one small sniffer for adding a border-radius when it's on mac, otherwise the browser decides whether to show arrows or not.

What do you think?

[2021-02-26 17:05] Adverbly commented on #17909
Anyone tried using stickyHeader with this? Its collapsing the two header rows down to one for me... I'm a CSS noob, but I think perhaps I need to change 'top' for the second row's cells to hack this...

[code]

[2021-02-26 17:38] oliviertassinari commented on #25016
It looks great 🙏

[2021-02-26 18:45] d3dc commented on #12432
@sta4152 We get this bug pretty frequently on a lot of the workstations in our office. I turned off Windows Defender while running Yarn and _bam_ - yarn works like the simple tool it is.

Now to go pick up all my hair.

[2021-02-26 18:56] oliviertassinari commented on #12432
In #25055, we resync the icons with https://material.io/. We are adding extra icons.

Soon or later we are going to hit a wall. Please upvote the issue if you are facing the problem. https://github.com/mui-org/material-ui/issues/12432#issuecomment-411046157 seems to be still a good workaround.

Also, note that in v5.0.0-alpha.26 we should still have a lighter icons packages size than when the issu

[2021-02-26 21:10] #24781 closed

[2021-02-26 21:45] ianizaguirre opened #25104 "Scrollbars on iOS do not show?"
I have a React page where users can trigger a Dialog modal window with some content (text) in it. Content can be scrolled (scroll=paper is set for Dialog component).

I was following this example [(Scrolling long content)](https://material-ui.com/components/dialogs/#scrolling-long-content) from Material-UI documentation. When I run this example in documentation site — I see scrollbars when I scrol

[2021-02-26 21:58] croraf commented on #18200
Seems to me like an overkill to have a separate Component for the grouping menu item, or at least seems like it should reuse much of the MenuItem functionality.

A workaround that I used to fix the click issue on the ListSubheader is to use the simple MenuItem component, set "disabled" on it and styled it.

Because disabled takes precedence over the custom style, I had to use !important on opacity

[2021-02-27 06:23] biswa7064 commented on #11653
const Icon = ({ type, value }) => {
  return (
    <div
      style={{
        display: "flex",
        alignItems: "center",
        justifyContent: "space-between",
      }}

      <i className={type} style={{ marginRight: "0.5vw" }} />
      <span>{value}</span>
    </div>
  );
};

<Tab
    label={<Icon type="fa fa-info-circle" value="OVERVIEW" />}
    {...a11yProps(0)}
  />

[2021-02-27 09:11] jony89 opened #25106 "[autocomplete] console warning while using hasClearIcon"
## Current Behavior 😯

[code]

## Expected Behavior 🤔

no warning

## Steps to Reproduce 🕹

just add `hasClearIcon={false}`

https://codesandbox.io/s/combobox-material-demo-forked-lxp90?file=/demo.js

## Your Environment 🌎

@material-ui latest from `next` branch.

[2021-02-27 11:54] oliviertassinari commented on #25106
The prop is invalid, it's not listed in the API: https://next.material-ui.com/api/autocomplete/

[2021-02-27 11:54] #25106 closed

[2021-02-27 11:58] oliviertassinari commented on #25104
@ianizaguirre I don't follow the issue. The scroll bar seems visible on iOS as soon as you start scrolling

<img width="410" alt="Screenshot 2021-02-27 at 12 57 15" src="https://user-images.githubusercontent.com/3165635/109386516-66197180-78fb-11eb-8ac2-893171cec92b.png">

Isn't it how it's supposed to work?

[2021-02-27 16:03] itsUndefined opened #25107 "[system] VisuallyHidden styling overflow is visible on screen"
I have an application that displays a huge empty area at the bottom due to overflowing visuallyHidden elements. This is a chromium bug only. Other browsers do not exhibit this behavior.
![image](https://user-images.githubusercontent.com/29482493/109392647-fa003300-7925-11eb-8fa9-c269516284c4.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.c

[2021-02-27 16:42] itsUndefined commented on #25107
An easy fix for me was to add width: 1px and height: 1px instead of 100% that is the default for VisuallyHidden. Not sure if screen readers are affected by this fix.

[2021-02-27 16:53] giri-jeedigunta opened #25108 "Dynamically loading @material-ui/Icons using React.lazy() increases the bundle size from KBs to MBs"
- [YES ] The issue is present in the latest release.
- [ YES] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Looked a similar issue: https://github.com/mui-org/material-ui/issues/17392 but it was closed so opening a new one.

## Current Behavior 😯

I'm currently trying to dynamically import icons based on th

[2021-02-27 17:23] vicasas commented on #16947
There is some internal difference when writing the emotion styles as follows

[code]

instead of doing this

[code]

...?¿

[2021-02-27 17:46] #25108 closed

[2021-02-27 17:56] oliviertassinari commented on #16947
@vicasas We only use the CSS template string syntax for the customization of the unstyled components. Anything else is using the JavaScript object syntax.

[2021-02-27 18:12] silver-snoopy commented on #24639
Hey @xiaoyu-tamu, @oliviertassinari  - Would you mind If I open a PR for this? Happy to take it

[2021-02-27 18:23] oliviertassinari commented on #25107
@itsUndefined Well spotted, thanks for raising. I agree, I think that we should at the very least make the helper behave identically between a style prop, a sx prop, and styled:

[code]

I'm also wondering if we shouldn't encourage to create a custom component instead of Box, but I'm not sure as it's more verbose.:

[code]

[2021-02-27 19:06] niting143 commented on #25107
@oliviertassinari  I want to contribute on this issue can you help me to fix this as, I am beginner into this.

[2021-02-27 19:21] oliviertassinari commented on #25107
If @itsUndefined  isn't calling [dibs](https://www.urbandictionary.com/define.php?term=dibs) on the fix, feel free to. Here is the contribution guide: https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md.

[2021-02-27 19:34] itsUndefined commented on #25107
@niting143 can take it

[2021-02-27 20:13] niting143 commented on #25107
@oliviertassinari  what does it mean by your last comment??

[2021-02-27 20:16] #25107 closed

[2021-02-27 21:39] j-mendez commented on #22426
Product: A11yWatch
The problem solved: Web accessibility monitoring and safeguard.
Company or organization: A11yWatch LLC
Github: [https://github.com/A11yWatch/a11ywatch](https://github.com/A11yWatch/a11ywatch)
Link: [https://www.a11ywatch.com/](https://www.a11ywatch.com)
Screenshot:
![Screen Shot 2021-02-27 at 4 35 59 PM](https://user-images.githubusercontent.com/8095978/109401025-2a41d480-791a-1

[2021-02-28 08:32] austinlangdon commented on #23708
Would really like to see this be implemented!

I suspect many developers use `options` that are modeled like in the OP's post. I know we certainly do.
`options=[{value: 'a', label: 'A'}, {value: 'b', label: 'B'}]`

The AutoComplete should accommodate this common data model to make it easier for the developer 🙂

[2021-02-28 11:00] oliviertassinari commented on #23708
@austinlangdon could you expland on the problem you are facing, what's the pain?

[2021-02-28 14:29] guitexa commented on #25135
https://codesandbox.io/s/winter-rgb-5bcyy

It's working for me like this

[2021-02-28 14:50] tobiaspfuetze commented on #14604
Since this seems still to be an open issue, I created a version with create-react-app and added 'react-router-dom' as one of the dependencies. All credit to @oliviertassinari who created the template in the first place. Feel free to git clone https://github.com/tobiaspfuetze/material-ui-onepirate.git && cd material-ui-onepirate && npm install && npm start

[2021-02-28 16:34] mtr1990 opened #25141 "[Tooltip] styleOverrides not working"
I have tried custum styleOverrides Tooltip in my project without success.

but I see it to work on the sandbox
https://codesandbox.io/s/tootip-material-demo-forked-pv2ut

I tested for other components like Button, Text Field ... seems to work, but Tooltip doesn't

Does the current version v26 on npm match the sandbox?

[2021-02-28 16:58] Pushplaybang commented on #24282
Also struggling with this. I'm seeing partial updates from the provided theme, such as primary and secondary colors, but typography is not applied.

Also, attempted to use the alpha release mentioned above, and received the following error:

[code]

[code]

[code]

I'm using this in nextJS, with styled-components, though I don't think this has any impact.  All rendering with theme switching works

[2021-02-28 17:04] italodeandra commented on #25135
Hi @guitexa, we are actually trying to use the new version 4 of the pickers, which is the version I'm reporting the bug. Your example uses the older version 3.

[2021-02-28 17:29] oliviertassinari commented on #24282
@Pushplaybang This issue is specific about emotion. If you are using styled-components you can configure Material-UI to use it too.

[2021-02-28 17:34] Pushplaybang commented on #21111
Any further movement on this?  Been struggling to implemnent storybook, seems blocked by #24282

[2021-02-28 17:44] oliviertassinari commented on #25141
A reproduction of the issue: https://codesandbox.io/s/tootip-material-demo-forked-reoq3. The tooltip has no root element. It's a bug, I would propose this fix:

[code]

As well as the corresponding test cases.

[2021-02-28 17:46] #25104 closed

[2021-02-28 18:12] oliviertassinari commented on #25075
I would propose this fix:

[code]

It's also faster not to have to run deep merge. The downside of the above is that you can't do:

[code]

Now, to make it clear that the current deepmerge behavior is correct, I would add a test case:

[code]

The alternative solution, that matches a bit closer to what @mnajdova wanted to optimize for in the beginning is:

[code]

I personally think that we don't

[2021-02-28 19:06] niting143 commented on #25141
@oliviertassinari  i am taking this issue

[2021-02-28 19:23] oliviertassinari commented on #25141
@niting143 Grea, mind that it requires 2 test cases.

[2021-02-28 19:31] Pushplaybang commented on #24282
Hi @oliviertassinari

not sure if you misunderstood, adding the above in the hopes that it provides additional context.  I'm experiencing the eact behaviour described by the OP.

When using Material-UI v5 within Storybook, the sx prop is picking up the default theme rather than the custom theme.

Further, this issue is specifically about the latest version of MUI and how it's themes don't work in

[2021-02-28 19:38] niting143 commented on #25141
@oliviertassinari  okay

[2021-02-28 19:39] oliviertassinari commented on #24282
@Pushplaybang I meant configure Material-UI so you don't bundle emotion and styled-components in your app, only one of the two.

[2021-02-28 20:36] dborstelmann commented on #24937
Just downloaded the new version (alpha 26) and this is not fixed sadly.  @eps1lon

[2021-02-28 20:39] dborstelmann commented on #24937
Just an FYI, I'm on React 16 not 17, not sure if that's an issue?

[2021-02-28 21:16] Pushplaybang commented on #24282
@oliviertassinari I've read this thread several times now, could you please quote the workaround you're speaking of?

[2021-03-01 02:35] mtr1990 opened #25147 "[Autocomplete] styleOverrides not apply working for Paper"
I have tried custom styleOverrides Autocomplete
but I see it to work on the sandbox
https://codesandbox.io/s/muiautocomplete-material-demo-forked-pv2ut?file=/index.js (apply both root and paper)

in my project with the same code
[code]

Does the current version v26 on npm match the sandbox?

[2021-03-01 05:36] mhdigithub opened #25148 "[Slider] Set different icon for left and right thumb"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

By adding this feature, we can set a different icon for the left thumb in contrast with the right thumb.
It should be noted that, you should fix overlap problem before add mentioned feature.
## Examples 🌈
------------------------[ < ] =======

[2021-03-01 06:51] dohomi commented on #25147
@mtr1990 I think the entire `styleOverrides` of `MuiAutocomplete` does not work after alpha25 => alpha26. I just bumped into this issue as well with
[code]
@oliviertassinari is this maybe part of the regression you opened https://github.com/mui-org/material-ui/pull/25102?

[2021-03-01 07:07] Sandeep0695 opened #25150 "[DatePicker] Scroll jump to top when opening with selected value"
As I have seen in changelog of v5 ALPHA 26 the scroll jump issue has been fixed but its not completed fixed yet.
Ya, Its fixed for component [ **DesktopDatePicker** ] but **not for** component [**DatePicker**]

## Current Behavior 😯
![jump](https://user-images.githubusercontent.com/65675288/109462351-5def3c80-7a89-11eb-934e-e0a63aaf6091.gif)

## Expected Behavior 🤔

Should not jump.

## Steps to R

[2021-03-01 09:47] fayzzzm opened #25151 "[Pagination] nextButton won't disable after providing float 'count' props"
- [x] The issue is present in the latest
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When passing float 'count' props to PaginationComponent bugs occur.
![pagination](https://user-images.githubusercontent.com/13962117/109479437-32c21880-7a9c-11eb-9828-6d629fd6c38f.gif)

You can

[2021-03-01 10:07] oliviertassinari commented on #25147
#25102 was fixed before the release. This issue is about how the popup is portaled. It's a different issue.

[2021-03-01 13:35] kothari-smeet1 commented on #12685
https://stackoverflow.com/questions/66421123/how-to-fix-maxwidth-of-tab-in-material-ui-in-react-app
Can anyone solve this it looks similar but not solved!

[2021-03-01 13:48] rolivegab commented on #25093
I think this issue needs to be reopened.
I also need to have a default none.

In my application, i need to rate various topics in one page.
![image](https://user-images.githubusercontent.com/7359906/109505307-3a24fa00-7a7b-11eb-90e0-3fff91875b81.png)

So, what happens if the user just click "next" without rate the topics?

Basically, all the topics will be rated with the default value, in this cas

[2021-03-01 14:22] nuanyang233 commented on #25011
Ok, I think the disabled class can be added now, but I'm having css Specificity issues when using it in conjunction with emotion

![image](https://user-images.githubusercontent.com/28348152/109510084-8d7b6480-7adc-11eb-8ebe-9fbefc802c11.png)

[2021-03-01 15:07] #25141 closed

[2021-03-01 16:21] CWSites opened #25154 "ScopedCssBaseline not exported"
- [x] The issue is present in the latest release. **latest version of v4**
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I attempt to import `ScopedCssBaseline` as a named export like mentioned on the docs here https://material-ui.com/api/scoped-css-baseline/#scopedcssbasel

[2021-03-01 16:26] eps1lon commented on #24639
@silver-snoopy Sure thing, go ahead.

[2021-03-01 16:53] #21470 closed

[2021-03-01 18:23] ianizaguirre commented on #25104
I do not see that scroll bar when I scroll on my iphone like you are doing in your screen shot

[2021-03-01 22:23] ianschmitz commented on #22342
I haven't read anyone talking about [Content Security Policy (CSP)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) as a consideration for v5. Apologies if i missed it in the thread.

With JSS, due to their runtime injecting `<style>` elements into the document, `style-src: 'unsafe-inline'` or `nonce` is required for CSP. See https://cssinjs.org/csp/?v=v10.5.1 for more info.

I imagine due

[2021-03-01 23:36] Andarist commented on #22342
Yes, the nonce can be configured quite easily for Emotion styles using `<CacheProvider/>` though

[2021-03-02 01:00] tihuan commented on #22342
Hmm I'm not entirely sure about the following point, but if an application caches SSR'd pages at CDN, then the `nonce` will be predictable/static, and therefore attackers will be able to reuse the `nonce` and impose XSS attack?

[2021-03-02 01:52] ianschmitz commented on #22342
@tihuan that's a general concern, and I don't believe specific to MUI or emotion.

[2021-03-02 04:13] AlfredoGJ commented on #23755
Hi guys, I'd like to address this issue... Will be making a PR in a few days.

[2021-03-02 04:45] MohitPopli commented on #24997
I can reproduce this issue very well. I would love to contribute over this.

[2021-03-02 06:34] balibebas commented on #16307
I keep running into this and it's super annoying. What's worse is it only affects certain CSS properties. Here's a component expressing the issue.

[code]

Cajole in the `makeStyles` function fixes the issue but if it's not happening with `color` (for example) it shouldn't happen with any other _valid_ css properties. What's worse is IntelliSense doesn't seem to work with MUI so it's hard to deter

[2021-03-02 06:35] balibebas commented on #16307
I keep running into this and it's super annoying. What's worse is it only affects certain CSS properties. Here's a component expressing the issue.

[code]

Cajole in the `makeStyles` function fixes the issue but if it's not happening with `color` (for example) it shouldn't happen with any other _valid_ css properties. What's worse is IntelliSense doesn't seem to work with MUI so it's hard to deter

[2021-03-02 06:45] balibebas commented on #16307
Has MUI dropped support for V4? If not, agree this issue should be reopened. Changing coding style to match the docs to workaround this particular bug is not the ideal solution.

[2021-03-02 06:45] balibebas commented on #16307
Has MUI dropped support for V4? If not, agree this issue should be reopened. Changing coding style to match the docs to workaround this particular bug is not the ideal solution.

[2021-03-02 09:22] oliviertassinari commented on #16307
@balibebas we only fix major issues in v4, which has rarely happened since we have stopped the active development of v4 a year ago.

[2021-03-02 09:47] DarynHolmes opened #25157 "The Basic Usage example of the Date Range Picker does not work"
In the documentation for Date Range Picker, the basic example does not work. When I click it, there is a brief flash of content, but no calendar shows.

Interestingly when I click on a different tab in the browser, and then come back, then it shows the calendar.

- [ x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) o

[2021-03-02 10:39] povilass commented on #22342
Look into @ianschmitz  https://github.com/mui-org/material-ui/issues/24156

[2021-03-02 11:02] lapico commented on #9716
Hello, I came to a satisfying solution 👍

I use the TextField component a lot because it has a label, an error helper text which is very useful for validation, it can be multiline, it's compatible with <select>...

Therefore, here is an example component that retains all the benefits, at least for me :

[code]
The TextField component is used for datas display only (to be styled as needed), a Butto

[2021-03-02 11:28] oliviertassinari commented on #25154
It was fixed in #21869.

[2021-03-02 11:28] #25154 closed

[2021-03-02 11:29] lapico commented on #9716
Here is codesandbox to see the result : https://codesandbox.io/s/react-mui-file-input-cfsno

[2021-03-02 12:07] oliviertassinari commented on #25151
@fayzzzm Thanks for opening this issue. I agree, I think that we should add an integer prototype. This is a quick POC:

[code]

<img width="574" alt="Screenshot 2021-03-02 at 12 49 40" src="https://user-images.githubusercontent.com/3165635/109645970-dde3d800-7b57-11eb-8182-fb7e579bab03.png">

While doing it, I have noticed that how we handle custom prop-types is inconsistent:

- We could simplify

[2021-03-02 12:21] fanavarro opened #25159 "[DataGrid] how to render data when CSV export?"
Hi and thanks for your work, it is very useful.

I have been using the DataGrid component in an application for the last months. Now, I am trying to use the recently added CSV export functionality, but I am not sure about how to specify the render method for creating the CSV file.

Concretely, my data is formed by JSON objects, so I have to specify the 'valueGetter' prop when defining the columns

[2021-03-02 12:48] oliviertassinari commented on #25011
@nuanyang233 this is expected. You need to increase the specificity. It works like `:disabled`. We cover this in the documentation.

[2021-03-02 13:13] oliviertassinari commented on #25093
@rolivegab it's encouraged to always have a selected value inside a radio group https://www.nngroup.com/articles/radio-buttons-default-selection/. In your case, you could add an extra step as "none".

[2021-03-02 13:24] oliviertassinari commented on #24952
I'm closing as it's likely not an issue with Material-UI but with type discovery.

[2021-03-02 13:24] #24952 closed

[2021-03-02 13:40] nhemnt opened #25161 "Using createGenerateClassName with micro frontend"
Im trying to generate unique class names for the micro-frontend, something like app-01-{className} using  [createGenerateClassName](https://material-ui.com/styles/api/),

Somehow the independent app works fine but when we are importing the micro app into the container, some classes not working properly.

**Current Behavior**
in container App-01. App-02 Application contains CSS with prefix app-01
!

[2021-03-02 13:44] #25161 closed

[2021-03-02 13:53] oliviertassinari commented on #25148
@mhdigithub You can use the `Thumb` customization slot in the slider and the `data-index` attribute to render custom content. You can get the rough idea with:

[code]

<img width="333" alt="Screenshot 2021-03-02 at 14 53 01" src="https://user-images.githubusercontent.com/3165635/109658557-032c1280-7b67-11eb-86a0-74d277cf5201.png">

https://codesandbox.io/s/customizedslider-material-demo-forked-m66

[2021-03-02 13:53] #25148 closed

[2021-03-02 13:56] fayzzzm commented on #25151
The changes are great @oliviertassinari.

As you have mentioned about inconsistency:
1. Yes, in the error messages, there name of the component which handles this error shouldn't be mentioned, due to the stack trace.
2. Due to changes that you've made, you removed this.
3. What about the moments if we have several proptypes ? We could create an object `PropTypeCustom` which has properties that han

[2021-03-02 13:58] oliviertassinari commented on #25151
`propValue == null` is important, we can't remove it. Try without and should be able to understand why.

[2021-03-02 14:24] CWSites commented on #25154
Okay thanks @oliviertassinari

[2021-03-02 15:41] Jack-Works commented on #25011
I thought the `classes={{ disabled: ..., contained: ... }}` pattern was used to customize the color. So it isn't the case? I have presented my thought on this. `.Mui-disabled` is not strongly typed.

Another question is: Are class names like `.Mui-disabled` stable whenever the style provider set is? (As you can see `.MuiButtonBase-root` becomes `.emo-random-random-MuiButtonBase-root-MuiButton-root

[2021-03-02 16:17] mifrej commented on #25157
Issue happens on Desktop version. Mobile version shows the calendars correctly.
Additional question. When do you plan to really focus on making this component premium (as you started to advertise)?
Currently it is in lab so by design it is still in "experimental mode" as I understand. Please correct me if I'm wrong.
Does the fact it's going to become premium, mean I won't be able to use it commerc

[2021-03-02 16:31] fayzzzm commented on #25151
Difference between `next` branch and `fayzzzm.customPropType`:

[code]
These changes are the same as yours, but if you look up to [this codesandbox link](https://codesandbox.io/s/create-react-app-forked-6zu89?file=/src/App.js), you can notice that, with null passing, there is no error occur and pagination doesn't set by default `count = 1`.

Same for removing `propValue == null ||`
[code]
Nothing

[2021-03-02 17:12] #24639 closed

[2021-03-02 17:25] oliviertassinari commented on #25151
- It should be `== null` see https://github.com/facebook/prop-types/blob/d62a775b78085e38805d34f27295798bcf54987c/factoryWithTypeCheckers.js#L209
- We could breakdown the effort into smaller pull requests.
  - start by fixing the `generatePropTypeDescription` duplication
  - add the `integerPropType` following the best practices, test cases, etc
  - increase the adoption of the new prop-types ever

[2021-03-02 17:40] fayzzzm commented on #25151
@oliviertassinari they use `==` not `===` and then in the scope of `if` they validate it again with `===`:
[code]
In our case, we just validate by `==`, and then we don't do anything. (You can correct me if am wrong)

Agree with the breakdown to smaller PRs', will definitely do that.

[2021-03-02 18:10] oliviertassinari commented on #25011
@Jack-Works It's possible. It's more than we don't plan to promote the approach this much. It's definitely more typesafe to use the classes prop or to import the classes.

The global class names are stable in v5, and _almost_ always stable in v4.

[2021-03-02 18:57] oliviertassinari commented on #25157
@mifrej Sebastian is currently focusing on fixing some of the biggest issues with the date picker (MIT). There is a lot of work. Regarding the date range picker, we currently don't have the bandwidth to truly develop it, and nobody from the community seemed to have been interested in pushing it. We currently have [3 positions open](https://material-ui.com/company/careers), this is meant to allow t

[2021-03-02 19:06] codepunkt opened #25163 "[Tooltip] Failed prop type: Invalid prop `children` of type `array` supplied to `ForwardRef(Tooltip)`, expected a single ReactElement."
When deep cloning some elements in a JSX tree with Tooltip being amongst them, the error "Failed prop type: Invalid prop `children` of type `array` supplied to `ForwardRef(Tooltip)`, expected a single ReactElement." occurs.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is

[2021-03-02 22:12] oliviertassinari commented on #25163
I don't follow, this looks expected. Why shouldn't it warn if an array/node is provided instead of a React element?

[2021-03-02 22:39] oliviertassinari commented on #18119
I'm reopening, many developers are facing this pain. I think that we have an opportunity to improve the DX when the children are invalid:

[code]

We could either render null

[code]

Or have a graceful fallback:

[code]

and update the prop-types/types/description to document the span added when a simple text is provided. This is what Ant Design or Chakra are doing. This sounds simpler. I would e

[2021-03-02 22:42] oliviertassinari commented on #25163
This is a bit related to #18119, but even with the proposed fix, you would still end up with an extra wrapping span.

[2021-03-03 00:13] Xhale1 commented on #25082
This is fixed in alpha 26. See #24981

[2021-03-03 00:19] xandris opened #25165 "/core dependency on /types ^5.1.0 is too loose"
`@material-ui/core` depends on `@material-ui/types@^5.1.0`. The caret means that any 5.x version is allowed. If you actually try to use `@material-ui/core`, odd problems manifest.

- [x] The issue is present in the latest release.
        It's present in the latest 'stable' release 4.11.3
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and belie

[2021-03-03 00:22] xandris commented on #25165
For the record, my current workaround is a Yarn resolution:

[code]

[2021-03-03 00:29] oliviertassinari commented on #25165
@xandris Thanks for reporting. I think that we should indeed freeze the dependency of `@material-ui/types` to 5.1.6 in Material-UI v4. @eps1lon What do you think?

[2021-03-03 02:48] Mustang95 commented on #16846
the component called in parent:

[code]
the component implemented:

[code]

this works fine

[2021-03-03 03:51] balibebas commented on #16307
That's fair. I'm new to MUI but if active v4 dev has stopped a year ago it sounds like v5 is the way to go and hopefully should show more maturity. If you don't already have one, a MUI 5 in 100 seconds Fireship-style video could help get more people moved onto the beta. I'll look to share feedback as I port Reaction Commerce over to the new version.

[2021-03-03 03:58] agonzalezjr opened #25167 "TextField with multiline does not render correctly when inside a hidden div"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`TextField` with `multiline` does not render correctly when inside a hidden `div`

## Expected Behavior 🤔

`TextField` with `multiline` should have correct height and show text

## St

[2021-03-03 05:32] tuy3t-tran opened #25168 "SwipeableDrawer, hideBackDrop raise TypeError"
## Current Behavior 😯

Using SwipeableDrawer with following props:
<SwipeableDrawer
                anchor={...}
                PaperProps={{ ... }}
                **ModalProps={{ hideBackdrop: true }}**
                open={...}
                onOpen={...}
                onClose={...}
                classes={{ ... }}
                ref={...}

There will be this error raising at some point:

[2021-03-03 06:17] povilass commented on #25082
Well not working still in 5.0.0-alpha.26 [example](https://codesandbox.io/s/qs4c6?file=/package.json), did you actually test it in a codesandbox @Xhale1 ?

[2021-03-03 06:21] Xhale1 commented on #25082
@povilass It seems to be working as expected in your codesandbox? At least for me, running Chrome v89 on MacOS it's functioning as intended.

Perhaps try specifying the exact material-ui lab version instead of using next?

[2021-03-03 06:50] codepunkt commented on #25163
@oliviertassinari Thanks for your feedback. I'm not sure I understand - am I mapping over the children in a wrong way / is there a way to map over all children (that include `Tooltip`) without getting this error message?

With my limited knowledge, it looks like mapping over children when a `Tooltip` is involved is just not possible. Is that it?

[2021-03-03 07:03] povilass commented on #25082
Update browser from 88 to 89 and it started to work also xd @Xhale1

[2021-03-03 07:04] #25082 closed

[2021-03-03 07:05] povilass commented on #25082
Solved in 5.0.0-alpha.26 of Lab.

[2021-03-03 07:11] balibebas opened #25169 "Responsive Button Sizes"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add a size option called `responsive` and use it to alternate between `small` and `medium` buttons based on theme breakpoints.

## Examples 🌈

Instead of this:

[code]

I want to be able to do this:

[code]

## Motivation 🔦

Like text button

[2021-03-03 07:35] ianstormtaylor opened #25170 "add size="small" to <Select>"
You can do `<TextField size="small">` to get a smaller input, but there is not equivalent for a `<Select>` component to get one that matches the same dimensions. So it ends up looking awkward if you put two next to each other.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

[2021-03-03 07:40] ianstormtaylor commented on #25170
My bad, I didn't realize that you can do `<TextField select size="small">` and never need to use the `<Select>` component in the first place.

It's a little confusing that both exist TBH.

[2021-03-03 07:40] #25170 closed

[2021-03-03 07:43] balibebas commented on #25169
Here's the wrapper implementation:

[code]

For those CRA types who don't want to use `FC` for [insert reasons here] just adjust to your liking.

[2021-03-03 08:16] ErikParso opened #25171 "[useFocusVisible] Don't trigger when coming back from another window"
When I open (click) a link in a new tab using Button and return to the original page, the ripple effect on this button keeps going. Same thing about downloading files. I **didn't** use the keyboard ever.

[code]

I'm using "@material-ui/core": "4.11.3". It happens on Firefox v85 but not Chrome v88. It can be reproduced on https://material-ui.com/, with the "Get started" button link in the hero.

[2021-03-03 08:22] #23670 closed

[2021-03-03 09:01] oliviertassinari commented on #25163
@codepunkt When you map, respect the previous React tree structure, don't force an array. I would also encourage to not dive into the tree structure of React. I'm not even sure it's public. In #18119, it will partially work with an extra span.

[2021-03-03 09:01] #25163 closed

[2021-03-03 09:36] ayamanemissouri commented on #21377
me too , When using vite.js i am getting a Uncaught ReferenceError: Box_default is not defined

[2021-03-03 10:06] codepunkt commented on #25163
Map always returns an array. Reacts Children API is required to implement certain functionality and is widely used. It would be easier if tooltip could just accept an array of children, and if it gets one, it could wrap an intermediary span to forward the ref to.

[2021-03-03 10:18] oliviertassinari commented on #25163
You could count the number of children and return a single element if there is only one.

Definitely, we use it too. I was referring to `child.props.children` that starts to questionable.

If you want to spend time on it, I think that #18119 should be up for grab.

[2021-03-03 10:26] codepunkt commented on #25163
Thanks Olivier!

[2021-03-03 10:27] eps1lon commented on #18119
I don't believe the added side-effect is a good solution. This is yet another attempt at silencing real issues that will not help developers.

[2021-03-03 10:31] eps1lon commented on #25165
This might be another instance of TypeScript too eagerly inlining types. TypeScript 4.2 should improve this situation so the next release might resolve this issue.

We can't pin the version since we couldn't roll out fixes independently.

I'd have to dig more into this to understand the cause since there are two domains where TypeScript has some major limitations (spread and generating type declar

[2021-03-03 10:31] oliviertassinari commented on #18119
@eps1lon Yeah, the second option (extra span) sounds a lot better than the first one (render null to give more emphasis to the prop-type warning)

[2021-03-03 10:34] benjamin-schneider opened #25174 "testing @material-ui/data-grid with react testing library"
With the component `@material-ui/data-grid` I am unable to get the rows rendered in a jest / react-testing-library environment. I use jest and material-ui since years, and this is the first time I do not manage to find any solution.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe tha

[2021-03-03 10:34] eps1lon commented on #18119
Both options are equally bad. There is an author error that needs attention not silently doing something unintended.

[2021-03-03 10:36] oliviertassinari commented on #25165
From what I understand *@material-ui/types@5.1.7* was published with a breaking change. It's used by *@material-ui/core@v4* and *@material-ui/core@v5*. Maybe we should not respect semver with this package and republish @material-ui/types@v5 as v4 for Material-UI v4.

[2021-03-03 10:41] oliviertassinari commented on #18119
I don't follow. What's wrong with automatically adding a wrapper DOM node if the developer didn't provide one?

[2021-03-03 10:46] simplecommerce commented on #24606
I have the same problem on my end, but it only seems to occur server side when using SSR, I do not see this warning on my client side console.

If I figure out what it is, I will post it here, in case it helps others.

[2021-03-03 10:47] eps1lon commented on #25165
Was this an accidental mistake or why was SemVer violated deliberately here?

[2021-03-03 11:01] oliviertassinari commented on #25165
In the changelog, it mentions `@material-ui/types@5.0.0-alpha.25` I forgot @material-ui/types wasn't v4

[2021-03-03 12:08] JavaJamie opened #25175 "Memo doesn't work for components which have useStyles applied"
I've been able to memo various components that remain static throughout the application after first render, but as soon as I apply a class to them via `useStyles` they ALWAYS render on every route change which they shouldn't. I thought it was a StrictMode issue, but I've built a production version and it still happens. I've put a contrived example below. E.g.,

`export const SidenavActions : React

[2021-03-03 12:14] oliviertassinari commented on #25175
makeStyles and withStyles are being deprecated in v5, so we have no incentive to fix them. In your case make sure the theme and global providers are stable between two pages.

[2021-03-03 12:14] #25175 closed

[2021-03-03 12:18] Frrede opened #25176 "[Table] Row selected color should be primary, not secondary"
The color of a selected row (`<TableRow selected={true} />`) uses the secondary color but shouldn't it be the primary color according to Material design?

[2021-03-03 12:20] JavaJamie commented on #25175
Hi @oliviertassinari, ah good to know! I can actually get away with removing these styles fortunately so it is all memoized now. I will keep an eye out for the changel og for when these changes happen as we use makeStyles pretty liberally across the application. Thank you :)

[2021-03-03 12:26] oliviertassinari commented on #25176
Agree. I think that we did it correctly with the `DataGrid` component but we still need to update the Table https://next.material-ui.com/components/tables/#sorting-amp-selecting. This is the spec: https://material.io/components/data-tables#anatomy

[2021-03-03 12:44] oliviertassinari commented on #21377
Out of curiosity, us vite used by developers migrating from Vue to React, or it's unrelated?

[2021-03-03 13:17] oliviertassinari commented on #25171
This is a duplicate of #24711, #15394, #24388, and a couple of others. Let's keep it open this time. We have seen a growing number of issues with the current focus visible logic, we probably want to give it a second look, solving them all in a batch.

[2021-03-03 13:28] oliviertassinari commented on #25169
@balibebas You can customize the theme directly `theme.components.MuiIconButton`.

[2021-03-03 13:28] #25169 closed

[2021-03-03 13:36] balibebas commented on #25169
I'll look into that. Not even a thought that occurred. I suppose a model in the examples dir would help—but I'm just tooting my own horn there. Thanks.

[2021-03-03 13:50] oliviertassinari commented on #25169
We could imagine supporting a responsive API for the props, however, it would require that we update the implementation of the components to support it. We would need to author the different styles as variants and build a responsive API on top of them. Like:

[code]

At this point, it's likely overkill

[2021-03-03 13:54] balibebas commented on #25169
I think what I'm actually looking for in general is a cookbook like https://flutter.dev/docs/cookbook so I'm not reinventing the wheel. Is also like to be able to customize the behavior if components too as shown above. Such a thing could be used in a gallery of custom MUI components. I'll keep digging. AFK and I'm sure I'm not the first to ask. Thanks again.

[2021-03-03 14:31] saschb2b commented on #25058
@daveisfera look at the `packages/material-ui` package.json

https://github.com/mui-org/material-ui/blob/next/packages/material-ui/package.json#L47

[2021-03-03 14:32] jfily opened #25177 "Textfield : Labels and leading icon are mispositioned"
The label and InputAdornment position is not matching material specs

InputAdornment should be centered

Specs:
![image](https://user-images.githubusercontent.com/10220170/109819948-d6463100-7c34-11eb-9e80-d3e0affce794.png)

MUI:
![image](https://user-images.githubusercontent.com/10220170/109820254-1f968080-7c35-11eb-83a2-ab7b182c32c5.png)

Exptected
![image](https://user-images.githubusercontent.

[2021-03-03 15:08] oliviertassinari commented on #25177
Duplicate of #13898

[2021-03-03 15:08] #25177 closed

[2021-03-03 16:19] codewangshuhao opened #25178 "Wrong jss-server-side output in examples with nextjs（include typescript）"
**Sorry about my poor of english first**
When I add some components with **nextjs example**, an error occurs:
![image](https://user-images.githubusercontent.com/69117851/109834903-a40cf180-7c7d-11eb-8a47-40717b6be92b.png)

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is

[2021-03-03 17:01] oliviertassinari commented on #25178
Duplicate of #9293

[2021-03-03 17:01] #25178 closed

[2021-03-03 19:52] kylegach opened #25181 "[Chip] When used as Popover trigger, focus not returned upon closing"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If you use a Chip as the trigger for a Popover (e.g. in place of Button in the [Simple Popover demo](https://material-ui.com/components/popover/#simple-popover)), then focus is not co

[2021-03-03 22:15] jordanjlatimer opened #25184 "Update documentation to prevent tree shaking confusion"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Sorry I put this as a bug, there wasn't a better option.

I spent a couple of hours today trying to figure out why my build wasn't tree shaking, as I saw that components I was not usi

[2021-03-03 22:27] oliviertassinari commented on #25184
@jordanjlatimer I'm not sure we can do much outside of working on #21782.

[2021-03-03 22:34] AsemK opened #25185 "[Autocomplete] RTL style is broken after latest update"
In the last release (alpha.26), the autocomplete component RTL support was broken

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
In RTL mode, the autocomplete component is not mirrored properly. some margins and padding are still

[2021-03-03 22:40] oliviertassinari commented on #25185
@AsemK Could you be more specific? Do you have an actual example of something wrong? Unless proven otherwise, it's a duplicate of #24899

[2021-03-03 22:46] oliviertassinari commented on #25170
@ianstormtaylor Thanks for sharing this pain point. We plan to replace `<TextField select` in v5 with a different API. This is tracked in #21782.

Effectively, we will have:

- TextField which composes lower-level components: FormControl, Inputlabel, Input, etc. under the hood
- SelectField which composes lower-level components: FormControl, Inputlabel, Select, etc. under the hood

[2021-03-03 22:51] jordanjlatimer commented on #25184
@oliviertassinari I know we can't do anything about component interdependencies, but I just wondering if better documentation about them could be helpful so people don't think their project isn't removing dead code.

[2021-03-03 22:56] oliviertassinari commented on #25181
I have simplified the reproduction and upgraded it to the latest version (v5.0.0-alpha.26): https://codesandbox.io/s/material-demo-forked-zcssl?file=/demo.tsx. I can reproduce

[2021-03-03 22:57] ianstormtaylor commented on #25170
@oliviertassinari thank you, that will definitely help!

[2021-03-03 22:58] oliviertassinari commented on #25184
@jordanjlatimer To be honest, I think that documenting this would do more harm than help. I think that your use case is a niche, and the content would easly get outdated.

[2021-03-03 23:00] oliviertassinari commented on #25184
There is probably nothing better than a good dependency inspection to figure out what's importing what. The tools webpack provides aren't that great. I have personally struggled using them, especially to understand why a module is imported

[2021-03-03 23:00] #25184 closed

[2021-03-04 00:18] oliviertassinari commented on #25147
A reproduction of the bug: https://codesandbox.io/s/muiautocomplete-material-demo-forked-v8lm8?file=/index.js

Regarding the solution of this issue. I would propose the following:

[code]

We can simply have tow override resolver, one per sub-treat. The portal breaks the CSS nested selector.

[2021-03-04 01:31] rtwhite10 opened #25186 "Certain positioning styles not working using the className={classes.example} on v5.0.0-alpha.26"
- [ X] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Added styles that will not show when using a useClass() hook and injected using className.

Mainly padding/margin is the main offending styles not being injected into desired compone

[2021-03-04 01:54] hanifrev opened #25187 "[docs] Page Layout Examples source code link broken"
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The source code link on Page Layout Example (https://v3.material-ui.com/getting-started/page-layout-examples/) seems broken,
## Examples 🌈

All source code links are directed to this:
![muibug](https://user-images.githubusercontent.com/505781

[2021-03-04 04:25] phaux commented on #23610
@mkarajohn I don't remember, sorry.

BTW the issue doesn't affect me anymore. The Box props don't have to be passed as an object in sx prop so I just upgraded to latest alpha and resolved the rest of problems manually. Never had to run the codemod. Nice!

[2021-03-04 05:23] balibebas commented on #25169
Here's the doc I read when I came up with the wrapper component above: [Using Material-UI's breakpoint helpers](https://material-ui.com/components/use-media-query/#using-material-uis-breakpoint-helpers). This was a natural place to go because I was creating responsive buttons. These docs show functional components being used, which is what led me down the path of creating an HOC to meet my needs.

[2021-03-04 05:24] balibebas commented on #25169
Here's the doc I read when I came up with the wrapper component above: [Using Material-UI's breakpoint helpers](https://material-ui.com/components/use-media-query/#using-material-uis-breakpoint-helpers). This was a natural place to go because I was creating responsive buttons. These docs show functional components being used, which is what led me down the path of creating an HOC to meet my needs.

[2021-03-04 05:25] Sandeep0695 commented on #25175
@oliviertassinari as of v5 makeStyles going to deprecated then in v5, What we have to do if my stylesheet (makeStyles/useStyle) file is separately created as globalStyle.ts. Which earlier I imported in many components/pages.
Basically I have to use similar style/class in multiple pages, So now what we do the achieve same thing.?
Thank you.

[2021-03-04 05:30] balibebas commented on #25169
Here's the doc I read when I came up with the wrapper component above: [Using Material-UI's breakpoint helpers](https://material-ui.com/components/use-media-query/#using-material-uis-breakpoint-helpers). This was a natural place to go because I was creating responsive buttons. These docs show examples of functional components being used, which is what led me down the path of creating an HOC to mee

[2021-03-04 05:37] balibebas commented on #25169
Here's the doc I read when I came up with the wrapper component above: [Using Material-UI's breakpoint helpers](https://material-ui.com/components/use-media-query/#using-material-uis-breakpoint-helpers). This was a natural place to go because I was creating responsive buttons. These docs show examples of functional components being used, which is what led me down the path of creating an HOC to mee

[2021-03-04 05:40] balibebas commented on #25169
Here's the doc I read when I came up with the wrapper component above: [Using Material-UI's breakpoint helpers](https://material-ui.com/components/use-media-query/#using-material-uis-breakpoint-helpers). This was a natural place to go because I was creating responsive buttons. These docs show examples of functional components being used, which is what led me down the path of creating an HOC to mee

[2021-03-04 05:40] balibebas commented on #25169
Here's the doc I read when I came up with the wrapper component above: [Using Material-UI's breakpoint helpers](https://material-ui.com/components/use-media-query/#using-material-uis-breakpoint-helpers). This was a natural place to go because I was creating responsive buttons. These docs show examples of functional components being used, which is what led me down the path of creating an HOC to mee

[2021-03-04 07:05] shubknit commented on #21418
@oliviertassinari , v5 is not stable version. Currently v4.11.1 ✓ is to be used in production. When v5 is getting released ?

[2021-03-04 07:45] Mistes974 opened #25189 "[Grid] Container responsive queries"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Hi, I started a project with react-splitter-layout and material ui library.
I would like to find a way to create responsive components, with material ui Grid or Box component

I encounter a problem with responsive, I would like my left panel

[2021-03-04 07:53] fayzzzm commented on #25151
@oliviertassinari could you check this [codesandbox link](https://codesandbox.io/s/romantic-northcutt-hfw5l?file=/src/App.js) please. It is for integerPropType, you can find it on `customPropType` folder.

[2021-03-04 10:17] AsemK commented on #25185
See the images below for examples. I cannot judge if it is a duplicate of the other issue.

LTR :
![image](https://user-images.githubusercontent.com/37188590/109948900-0d6f1d80-7cdb-11eb-9e16-a553c0d56993.png)
![image](https://user-images.githubusercontent.com/37188590/109948536-b6694880-7cda-11eb-9783-ca77f3d84db2.png)

RTL when no text in box (padding-right: 30px):
![image](https://user-images.g

[2021-03-04 11:36] xueqingxiao commented on #21377
@oliviertassinari you can take a look this [comment]( https://github.com/vitejs/vite/issues/1853#issuecomment-772210814). if you guys just compile component to ES module that should be great.

[2021-03-04 12:00] abhagsain commented on #6140
@oliviertassinari
There's no prop as `justifyContent` for `Grid` and for even `justify` it's not responsive.

[code]

[2021-03-04 12:08] eps1lon commented on #18119
Branching the behavior depending on the element type. It is surprising, makes the component harder to reason about and has side-effects since we support all of CSS.

[2021-03-04 12:09] eps1lon commented on #25165
So it was just a mistake and we need to make sure we add guards for SemVer to the release process.

[2021-03-04 13:11] ayamanemissouri commented on #21377
doesn't work for me this comment

[2021-03-04 15:35] oliviertassinari commented on #18119
@eps1lon OK, what's your thoughts on having this auto span wrapper or rendering null while leaving the current prop type unchanged (so we encourage to always add a wrapper)?

[2021-03-04 15:38] oliviertassinari commented on #6140
@abhagsain The justify prop was renamed in v5. Make sure you are on the lastest version.

[2021-03-04 15:54] #25075 closed

[2021-03-04 15:58] oliviertassinari commented on #25151
@fayzzzm What should be reviewed? Why not work on pull requests directly? Could we start by removing the generatePropTypeDescription duplication?

[2021-03-04 16:04] oliviertassinari commented on #21418
You can use v5 in production, there are more pros than cons at this point.

[2021-03-04 16:05] joshkel opened #25192 "Allow overriding `component` prop for IconButton"
Allow specifying a `component` prop (overriding the component) for IconButton.

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The Button component allows specifying a `component` prop to [integrate with a third-party routing library](https://material-ui.com/components/buttons/#third-part

[2021-03-04 16:05] oliviertassinari commented on #25169
Please ignore v4 and use v5 instead.

[2021-03-04 16:08] oliviertassinari commented on #25175
You can use the styled API. It's the same one as styled-components or emotion.

[2021-03-04 16:26] fayzzzm commented on #25151
@oliviertassinari [PR link](https://github.com/mui-org/material-ui/pull/25188)

[2021-03-04 16:44] nealeu commented on #18665
Helpful stuff.  Great diplomacy :-)

[2021-03-04 17:58] #25176 closed

[2021-03-04 18:01] oliviertassinari commented on #25151
@fayzzzm Perfect 👌

[2021-03-04 18:04] oliviertassinari commented on #25192
@joshkel The component accepts a `component` prop. The key piece of information on the API page is https://material-ui.com/api/icon-button/#inheritance

[2021-03-04 18:04] #25192 closed

[2021-03-04 18:09] oliviertassinari commented on #25192
Regarding the more root cause, we explore solutions in #18288

[2021-03-04 18:11] nstolmaker commented on #13921
I'm not an expert here, but if anyone else is using Material-UI with Styled Components, and has tried to style a Typography element and is getting the error described here about type 'component' does not exist on type...'
Here's a fix:

Put this somewhere (I have mine in a utils/types.tsx file, hence the export).

[code]

Then import it into the file where you're styling Typography elements:
`impo

[2021-03-04 18:12] nstolmaker commented on #19698
Anyone arriving here who finds that this is still a problem, like I did, I [posted a solution here](https://github.com/mui-org/material-ui/issues/13921#issuecomment-790820253)

[2021-03-04 18:14] nstolmaker commented on #19512
I made a hacky solution for Typography, [check out my comment on this other issue](https://github.com/mui-org/material-ui/issues/13921#issuecomment-790820253)

[2021-03-04 18:17] oliviertassinari commented on #19512
I'm closing for now. Let's wait for a new report on v5.

[2021-03-04 18:17] #19512 closed

[2021-03-04 18:20] oliviertassinari commented on #25185
@AsemK Awesome, thanks. Yes, same root cause: a nested CSS selector.

[2021-03-04 18:20] oliviertassinari commented on #25185
Duplicate of #24899

[2021-03-04 18:20] #25185 closed

[2021-03-04 18:21] eralpkor opened #25194 "<DataGrid/> onSelectionChange won't pass it to state when selecting check boxes @material-ui/data-grid 4.0.0-alpha.21"
4.0.0-alpha.21 version of data-grid onSelectionChange won't render with selected check boxes.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]
  Don't forget to mention which browser you used.
  Output from `npx @material-ui

[2021-03-04 18:23] fayzzzm commented on #25151
I will move forward by tackling the next PR, which you offered:

- add the integerPropType following the best practices, test cases, etc. Use it in a single place.

Btw, thanks for the help!

[2021-03-04 18:25] eralpkor commented on #25194
[https://codesandbox.io/s/mat-ui-datagrid-ochjr?file=/src/App.js](url)

[2021-03-04 18:31] eralpkor commented on #25194
[code]

[2021-03-04 18:32] joshkel commented on #25192
Thank you for the explanation and link.

I found what I was doing wrong. In case it helps anyone else, my mistake was that I was trying to use the `IconButtonProps` type for my own wrapper component:

[code]

TypeScript was telling me that `component` wasn't permitted, so I assumed that this was a limitation of IconButton. In reality, though, the problem was that I was using IconButtonProps incorr

[2021-03-04 18:49] danieljaguiar opened #25195 "[Modal] Scrollbar width is wrong when customized"
When you have a scrollbar style applied to body, the modal will break the design.

![image](https://user-images.githubusercontent.com/23394221/110013175-f1717900-7ce6-11eb-97dd-1bc53b21eebe.png)

![image](https://user-images.githubusercontent.com/23394221/110013310-1cf46380-7ce7-11eb-984b-93e03702724a.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https:

[2021-03-04 18:53] danieljaguiar commented on #25195
I think mui could calculate the scrollbar size this way:

[code]

I am sorry, if I did something wrong here... I am new to JS and github.

[2021-03-04 18:58] oliviertassinari commented on #25186
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-03-04 19:17] sarahannnicholson commented on #13174
Can we also add LinearProgress components to this list?
These circular ones are fine
![image](https://user-images.githubusercontent.com/10520771/110016968-87eb6d80-7cda-11eb-8ef5-78ce245cf5f1.png)

But Linear ones:
![image](https://user-images.githubusercontent.com/10520771/110017334-f2041280-7cda-11eb-9ce2-8646554e9037.png)

I would suggest something like this for the linear ones:
![image](https:

[2021-03-04 19:34] oliviertassinari commented on #13174
@sarahannnicholson Is there a media query to detect when Windows is in high contrast mode? Did you try to customize the theme to fix this?

[2021-03-04 19:39] oliviertassinari commented on #25187
We don't support v3 anymore

[2021-03-04 19:39] #25187 closed

[2021-03-04 19:56] oliviertassinari commented on #25187
I have added the missing v3.x branch. The source: https://github.com/mui-org/material-ui/tree/v3.x/docs/src/pages/getting-started/page-layout-examples/dashboard.

[2021-03-04 20:11] oliviertassinari commented on #25151
@fayzzzm Sounds like a plan. It might be simpler to wait for #25188 to be merged. You will need to changes.

[2021-03-04 20:24] sarahannnicholson commented on #13174
Hey @oliviertassinari yeah there's a media query but it's not standardized yet. Also some colors that pick up the different high contrast mode themes.
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/-ms-high-contrast#examples

I added the media query to my MUI theme:
[code]

Then in a component's JSS I would do something like
[code]

and Linear Progress Component
[code]

[2021-03-04 22:48] fadi-george commented on #21377
I can compile with icons v5.0.0-alpha.20 but cant with 5.0.0-alpha.26

[2021-03-05 04:31] duongdev opened #25199 "[CircularProgress] CircularProgress keeps shrinking even with disableShrink={true}"
CircularProgress keeps shrinking even with `disableShrink={true}` on v5.0.0-alpha.26. I've tried on v5.0.0-alpha.25 and this bug isn't there.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

CircularProgress keeps shrinking even wi

[2021-03-05 04:31] duongdev opened #25200 "[CircularProgress] disableShrink={true} broken in emotion migration"
CircularProgress keeps shrinking even with `disableShrink={true}` on v5.0.0-alpha.26. I've tried on v5.0.0-alpha.25 and this bug isn't there.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

CircularProgress keeps shrinking even wi

[2021-03-05 05:18] KanzakiYui opened #25201 "Props of Alert component cannot pass type checking when override Box component."
## Problem
Set Box component props as Alert, and use Alert's dedicated props, for example, 'severity', and tslint will complain.

## Code Example

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

It will complain as it says:

[2021-03-05 05:57] BradPrit09 opened #25202 "[Chip] On hover show delete icon"
### Problem description
I have been trying to get the on-hover property of the chip. The desired response should be like, when I hover on the chip, it should show the delete icon.

I have attached the snippet:-
[code]

[2021-03-05 07:21] AnoopChillayi opened #25203 "onRowClick and onCellClick fired when the cell text selected through click and drag"
The click events are fired when a cell item simply selected for copy-pasting purposes.
![issue](https://user-images.githubusercontent.com/6807834/110081138-7de86e00-7db1-11eb-80b4-f748217e0edf.png)

[2021-03-05 07:24] otanand commented on #25203
yeah ! i too have the same issue on selecting the text data in the cell

[2021-03-05 07:37] blazejmojak commented on #18494
If you have error like "Material-UI: You have provided an out-of-range value" that means during first rendering Select - value doesn't see possible options (in my case options was taken from axios.get in useEffect - so in second rendering).
Solution was - move axios.get to parent Component and then pass it from parent Component to Child Component wich Select exists. Errors disappear.

[2021-03-05 08:12] mark-night opened #25204 "Popover is not getting correct anchor offset if container is set and the container has certain CSS properties"
[Sandbox example](https://codesandbox.io/s/simplepopover-material-demo-forked-hj680)
Notice how popover is shifted from expected position. This seems to be caused by the 'incorrect' `top` `left` CSS property values.

Those position values are traced back to `getBoundingClientRect()` call in referenced codes below.
https://github.com/mui-org/material-ui/blob/7855f2b967b7edaae012f35e18480fa72374fcfd

[2021-03-05 08:12] oc007us commented on #25135
I have the same issue. In my case when the popup is open, clicking on the icon again should close the picker. After adding diagnostics it seems that onClose() is immediately followed by onOpen() and the dialog stays open. Clicking outside doesn't invoke onClose().

[2021-03-05 08:37] eps1lon commented on #13921
@nstolmaker This seems like a more elaborate way to do https://github.com/mui-org/material-ui/issues/13921#issuecomment-484133463 i.e. `styled(Typography) as typeof Typography` is the simpler approach. What kind of issue is your suggestion fixing that isn't already fixed by https://github.com/mui-org/material-ui/issues/13921#issuecomment-484133463?

[2021-03-05 10:01] Sandeep0695 commented on #25175
Oh, Can we have any example or docs to show ? So  I can start migration of useStyle() to styled  ?

[2021-03-05 10:04] Sandeep0695 commented on #25150
@eps1lon have we get any solutions ?

[2021-03-05 10:52] andrei9669 opened #25206 "[Table] colored dynamic sticky table head creates colorful bottom border"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

A weird line appears under the sticky table head row which top is dynamically adjusted.

## Expected Behavior 🤔

I expect it to work like a vanilla thead/th.

## Steps to Reproduce 🕹

[2021-03-05 10:59] Altair312 commented on #25206
Confirmed that I can, and have also encountered this issue before.

[2021-03-05 11:48] mngu commented on #24778
I really like @povilass solution to this! Will it make the solution in #13875 obsolete ?

@oliviertassinari Keys that extends PaletteColor should do ?
Willing to make a PR in this direction, since it is a well requested feature.

[2021-03-05 12:11] oliviertassinari commented on #24778
@mngu I don't think it makes the solution obsolete. Even if we inverse the logic, there is always a need to restrict the customization options available.

[2021-03-05 12:21] eps1lon commented on #25150
No. Once this is fixed, you'll be notified if you've subscribed to this issue. Otherwise see [Issue Bumping](https://blog.sindresorhus.com/issue-bumping-e3b9740e2a0).

[2021-03-05 12:23] jakubbloksa commented on #23031
I think I have the same problem. I have TextField multiline, I load data from api... And via Inspect I can see that it is loaded inside textarea, but the height computed by the component is set on height="0px", until you click the TextField, then it resizes correctly and sets the height.
I tried to add autoFocus for example, but it did not work either.

[2021-03-05 12:23] eps1lon commented on #25171
@oliviertassinari Why did you change the issue title? It tells the opposite to the issue description. focus-visible being applied when tabbing back in is intended. So the issue description is a clear "working as expected". But the title you added sounds like a bug without a repro.

[2021-03-05 12:39] oliviertassinari commented on #23031
@jakubbloksa Make sure the component is not `display: none` when it first render. Otherwise, force a rerender to sync the height.

[2021-03-05 12:42] oliviertassinari commented on #25171
@eps1lon My objective is to focus this issue on why we might consider the current focus-visible behavior wrong. I'm not saying it's. I'm saying that we have had a number of developers complaining about it. I think that we can use this issue to challenge and discuss the problem futher.

[2021-03-05 12:59] povilass commented on #24778
@mngu  I excepted as much that if you implement new colour it would be easier to use it, but if material UI focus on restricting theme extension it's fine I think.

[2021-03-05 13:09] natac13 commented on #24405
Ill take `Dialog` over the weekend if no one else has started it.

[2021-03-05 13:40] jakubbloksa commented on #23031
@oliviertassinari
I assume problem is on my side, but I can't figure out what could be wrong.

It looks like this when it first render:
![image](https://user-images.githubusercontent.com/4365817/110116998-97d97f00-7db8-11eb-86e8-4bcc0a33517a.png)
This is when I click on it:
![image](https://user-images.githubusercontent.com/4365817/110117091-b2135d00-7db8-11eb-9a3a-a2b2a60f25c0.png)

What do you m

[2021-03-05 13:43] eps1lon opened #25208 "[GlobalStyles] `styles` type is probably too wide"
Follow-up to https://github.com/mui-org/material-ui/pull/25191

## Current Behavior 😯

`<GlobalStyles styles={false} />` is accepted

## Expected Behavior 🤔

It's unclear what this is supposed to do. https://next--material-ui.netlify.app/customization/how-to-customize/#5-global-css-override only documents an object.

The documented type in the API is probably too wide. Either we restrict it or we

[2021-03-05 13:52] eps1lon commented on #25171
Then do it? Not sure what this vague statement is supposed to accomplish. Developers are not aware of focus-visible logic. That is expected for a new web feature.

If you want to challenge focus-visible then please do so in the corresponding repositories. We are not in a place to change that. Diverging from the standard behavior is strictly a bad option unless you have an actual user-facing issue

[2021-03-05 13:55] mngu commented on #24778
A quick example on Button => https://github.com/mui-org/material-ui/compare/next...mngu:support-custom-palette

[2021-03-05 13:57] WitoTV commented on #15529
So... is there a way to fix this on v4?
I have an issue where I want to use a specific slider typescript package but it needs to use classes for finding elements (aka slides), and when I apply "restyled" classes I end up with `Swiper-slide-4 WithStyles(Swiper)-slide-1` for my class and that is invalid selector so my code fails...

From what I understand this is a development environment only issue

[2021-03-05 13:58] oliviertassinari commented on #25171
Ok. I could only reproduce the behavior @ErikParso has reported with Firefox. Edge, Chrome, and Safari don't trigger the focus visible style when using the mouse **only** to open a link on a new tab and come back.

I would add one small cautious with it. This message is targeted at developers. We aren't developers, we are a tool developer uses. At the end of the day, we don't ship anything to end-

[2021-03-05 14:08] oliviertassinari commented on #23031
@jakubbloksa If you provide a minimal live reproduction with Material-UI v5, then we could have a look.

[2021-03-05 14:18] jakubbloksa commented on #23031
@oliviertassinari I just figured it out. I am using Suspense with lazy loaded components in React and this made it behave like that, I will remove it for these modules. Thanks for your time though.

[2021-03-05 14:25] terrydel commented on #25135
Would you mind sharing how you diagnosed this issue and any fix you might have? Thank you.

[2021-03-05 14:29] oliviertassinari commented on #23031
@jakubbloksa Interesting makes me think of https://github.com/facebook/react/issues/14536.

[2021-03-05 14:50] jakubbloksa commented on #23031
@oliviertassinari Oh, I didn't know they mount with `display: none`, seems like that is the problem. I will try some work-arounds. Thanks for the help, good catch!

[2021-03-05 15:44] oliviertassinari commented on #15529
@WitoTV Impossible to tell what's wrong without a reproduction.

[2021-03-05 15:57] oliviertassinari commented on #24778
@mngu Thanks for sharing, see, we still need to update the prop-types :p.

[2021-03-05 16:20] mngu commented on #24778
@oliviertassinari I cannot see a way to avoid updating them :/
Though the main benefit here is that we don't have to augment each component to use a custom palette.

[2021-03-05 17:04] oliviertassinari commented on #24778
@mngu Ok, no objection from my side. cc @mui-org/core in case somebody is against this change.

[2021-03-05 17:05] WitoTV commented on #15529
@oliviertassinari Here, a little demo https://codesandbox.io/s/blissful-jepsen-mzz29

Based on what I was able to figure out is that Swiper is trying to find element but when it is trying to search for a class `.Swiper-slide-4.WithStyles(Swiper)-slide-1` but that is not even a valid selector... I tried checking it with `document.querySelector`

[2021-03-05 17:22] FelipeBattistotti opened #25211 "Autocomplete component (with Free solo) clear inputValue on TabPanel's transition"
Autocomplete component (with Free solo) clear inputValue on TabPanel's transition

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I inserted a Autocomplete component inside of TabPanel. My Autocomplete has an freeSolo prop.
When a

[2021-03-05 17:57] JavaJamie commented on #25175
Is there an example using the styled API with Typescript and passing in the theme and any custom props? I understand the premise of it, but didn't see any examples of styled using the theme and passing in props.

[2021-03-05 18:35] oliviertassinari commented on #25175
@Sandeep0695 We haven't made the deprecation yet, but soon. You can find the docs of styled-components or emotion to see how it can be done. Otherwise: https://next.material-ui.com/customization/how-to-customize/#2-reusable-style-overrides should help.

[2021-03-05 18:39] oliviertassinari commented on #25211
Duplicate of #21250

[2021-03-05 18:39] #25211 closed

[2021-03-05 19:08] FelipeBattistotti commented on #25211
@oliviertassinari What is the solution to this?

[2021-03-05 19:20] oliviertassinari commented on #25211
@FelipeBattistotti For support, feel free to ask on StackOverflow. It has to do with the mounting behavior of your tabs.

[2021-03-05 19:36] FelipeBattistotti commented on #25211
@oliviertassinari The component is developed by you. Why should I request support on StackOverflow?

[2021-03-05 19:36] davidbonnet commented on #21377
Unrelated to Material-UI: https://github.com/evanw/esbuild/issues/706

[2021-03-05 21:08] jqrun commented on #25076
Small update: I did upgrade the repro repos to use alpha 26 and it looks like the problem persists

[2021-03-06 00:18] danielmulvad opened #25214 "Cannot add to components stylesOverrides"
I am extending the palette to include a "light" theme, so I override the PaletteOptions for the light option to be available.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

using styleOverrides to

[2021-03-06 00:24] m4theushw opened #25215 "[SpeedDial] Tooltip not closing when quickly moving the mouse away"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If I quickly move the mouse away from the speed dial while a tooltip is open, when I open it again that previous tooltip will still be visible. Interacting via keyboard also causes th

[2021-03-06 02:01] vicasas commented on #22470
@oliviertassinari @eps1lon In my team we had the need to have an `Image` component to improve the user experience when browsing our e-commerce site. We saw many solutions and dared to create a Material UI based component from scratch.

Here is a Codesandbox with a POC that I built, maybe it can be used in something for the construction of this much desired component and start working on it (:

htt

[2021-03-06 04:36] scottschup commented on #20583
Any updated timeline estimates for this fix? Coming up on a year since the last comment :/

@attilavago, did you/your team come up with any temp patches you'd be willing to share?

[2021-03-06 07:42] pankajgulabsharma commented on #22001
it works for me but i didn't understand why we are using useRouter instead of Link of nextjs.

[2021-03-06 07:56] eps1lon commented on #25199
Closing in favor of #25200

[2021-03-06 07:56] #25199 closed

[2021-03-06 08:00] eps1lon commented on #25200
Which browser did you use? It is working for me on Chrome 88.

[2021-03-06 08:23] mtr1990 opened #25217 "[Drawer] RTL is broken in v5"
Context:
- When using Drawer view in Right-to-left mode on version alpha 27

Version alpha 26 => working fine at breakpoint `desktop` and `mobile`.
https://codesandbox.io/s/responsivedrawer-material-v26-763q9

Version alpha 27 => working not as expected at breakpoint `desktop` and `mobile`.
https://codesandbox.io/s/responsivedrawer-material-v27-forked-uofml?file=/index.js

[2021-03-06 13:30] chuanhhoang opened #25218 "Click to Zoom Image"
It seems there has yet any components that support click on image to zoom. The scenario is: the image displayed is quite small. When a user click on image they can see the full version of it.
This is a demo of this feature:

[Click to Zoom](https://www.w3schools.com/howto/howto_css_modal_images.asp)

[2021-03-06 13:45] #25218 closed

[2021-03-06 14:51] duongdev commented on #25200
Hi @eps1lon, I've tried on Brave with Chromium 89 and Google Chrome 88. It happened on both browsers.

Current behaviour:
![current](https://user-images.githubusercontent.com/9253690/110210773-d9a41b80-7ec5-11eb-9e04-41815c5a215a.gif)

Expected:
![expected](https://user-images.githubusercontent.com/9253690/110210783-ddd03900-7ec5-11eb-8243-4986dbb9cbbf.gif)

[2021-03-06 15:20] eps1lon commented on #25200
We need more information about your environment. This is not the animation I'm seeing

[2021-03-06 17:01] oliviertassinari commented on #20583
@scottschup if this is important for you, your best chance would be to work on the problem.

[2021-03-06 18:25] oliviertassinari commented on #25200
@duongdev Thanks for raising the regression. What do you think about this fix?

[code]

We forgot to handle `disableShrink`. Do you want to work on a pull request? :)

[2021-03-06 18:34] natac13 commented on #24405
Hey @oliviertassinari it alright I do another this weekend? If so I'll take `Rating`

[2021-03-06 18:49] oliviertassinari commented on #24405
@natac13 I won't have the time to review it, but why not

[2021-03-06 18:54] Prawinpravs commented on #10571
Hi even after installing this also i'm getting same error  saying that
 Module not found: Can't resolve '@material-ui/icons/Home' in 'C:\Users\User\Desktop\malnadmusic\src'

[2021-03-06 19:48] oliviertassinari commented on #25151
@fayzzzm I have updated https://github.com/mui-org/material-ui/issues/25151#issuecomment-789075494. Do you want to move forward with the second step? I had a look at https://codesandbox.io/s/romantic-northcutt-hfw5l?file=/src/customPropType/index.js. A couple of thoughts:

- It does seem weird that PropTypes.number allows `null` natively. I could find a couple of issues open about this problem in

[2021-03-06 19:50] #25186 closed

[2021-03-06 20:45] fayzzzm commented on #25151
- What if to pass default value in our typescript function as: `validate (skipNull: boolean = true)` ? But as we've seen in practice, when you don't pass props in a component, you'll get undefined when you destruct it (if it's not required), so PropType should really prevent of passing `null` value when it's not required (validation should pass only on `undefined` value). So i will move forward wi

[2021-03-06 20:59] jakub-astrahit opened #25222 "TextField doesn't select the value onFocus in Internet Explorer 11 (IE 11)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have a regular text field with onFocus handler with this code:
`    event.target.select();
`

When I click in the text field, it highlights the content of the text field in Chrome.

[2021-03-06 21:20] stamahto opened #25223 "SwipeableEdgeDrawer not opens when it is clicked (MUI 5 alfa)"
SwipeableEdgeDrawer is not opening by clicking on it, even though the onClick attribute is embedded inside the component.

By clicking in the displayed part (Box tag), the drawer should open.

## Examples 🌈
https://codesandbox.io/s/swipeableedgedrawer-material-demo-forked-nnjqg?file=/demo.tsx
Line: 58-60

## Motivation 🔦
Improve user experience while working with it. If it's swipable on the mobile

[2021-03-06 21:39] oliviertassinari commented on #25217
@mtr1990 Thanks for reporting the regression. It's related to:

[code]

We used to disable `jss-rtl` in the styles of the drawer. Instead, we were manually swapping the class names. It seems that this option is no longer an option with *stylis*. I have opened: https://github.com/styled-components/stylis-plugin-rtl/issues/24.

Regarding fixing the issue, I would propose this diff:

[code]

[2021-03-06 21:40] oliviertassinari commented on #25222
@jakub-astrahit I'm closing as IE 11 is not a priority. Feel free to submit a fix if you find one.

[2021-03-06 21:40] #25222 closed

[2021-03-06 21:51] oliviertassinari commented on #25223
@stamahto Don't display this on desktop. You can enable the click event by removing the `pointer-events: none;` CSS property. Or by binding the click event on the SwipeArea.

[2021-03-06 21:51] #25223 closed

[2021-03-06 21:56] oliviertassinari commented on #14420
I'm moving this as an attempt for v5. We have lost the environment to work on IE 11 bugs. Codesandbox doesn't any longer support it. Next.js has numerous issues with it https://github.com/vercel/next.js/issues/13231 that prevents us fixing these issues.

[2021-03-06 23:58] #25202 closed

[2021-03-07 00:45] fayzzzm commented on #25151
@oliviertassinari here is the [PR link](https://github.com/mui-org/material-ui/pull/25224).

[2021-03-07 01:24] RMERCADOR98 commented on #20288
Try this guys!

`const defaultMaterialTheme = createMuiTheme({
  palette: {
    primary: { main: "#f2f2f2" },
  },
});`

[2021-03-07 02:16] smo043 opened #25246 "***URGENT | Material UI Palette Augmentation failing Version 5"
We recently upgraded to material ui version 5.0.0-alpha.27 and identified the below issue. We are using [Nx with Next and typescript](https://nx.dev/) and followed the approach provided in [MUI Palette Docs](https://github.com/mui-org/material-ui/blob/9c30277169ddec998b41ba1a5c3f9c76621f1bb1/docs/src/pages/customization/palette/palette.md), however noticed that the augmentation approach with versi

[2021-03-07 02:49] smo043 commented on #25246
Issue identified, closing the issue. Thanks.

[2021-03-07 02:49] #25246 closed

[2021-03-07 06:12] SkSumit commented on #25217
Hi,
I am new to open source and would like to work on this issue, what should be my approach?

[2021-03-07 08:20] oliviertassinari commented on #25217
@SkSumit See https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md

[2021-03-07 08:21] oliviertassinari commented on #25246
@smo043 Could you share the solution so others might be able to learn from it (assuming they land on this issue searching for something specific)?

[2021-03-07 08:48] duongdev commented on #25200
@oliviertassinari I have created a PR #25247

[2021-03-07 09:00] oliviertassinari commented on #25200
@duongdev There is no reason to downvote @eps1lon's comment. Sebastian was there to help you, and that's how you say thanks? You didn't provide a reproduction. I had to update your issue's description to actually show the error.

[2021-03-07 09:03] duongdev commented on #25200
@oliviertassinari @eps1lon Sorry guys I was drunk last night and did stupid things. Thanks for your help btw.

[2021-03-07 09:05] oliviertassinari commented on #25200
It's a regression I have introduced in #24893.

[2021-03-07 09:30] olefritsch commented on #23533
What is the status on this? Passing `helperText={null}` does not do anything for me on version 5.0.0-alpha.27.

[2021-03-07 10:42] eps1lon commented on #14420
Why was this not discussed? It's a bit problematic to move this into v5 when we're weeks away from the beta.

[2021-03-07 10:44] oliviertassinari commented on #25214
@danielmulvad This is simply not supported. We might try to remove all mentions from things like

[code]

in the documentation (only supporting `.root`). You can use the variant instead: https://next.material-ui.com/customization/theme-components/#adding-new-component-variants

[2021-03-07 10:44] #25214 closed

[2021-03-07 10:49] oliviertassinari commented on #25214
Ok, to be more comprehensive for the future developers and designers, two possible solutions:

[code]

https://codesandbox.io/s/admiring-cache-mq4ee?file=/src/App.tsx

or

[code]

https://codesandbox.io/s/elegant-taussig-1yudl

[2021-03-07 11:00] oliviertassinari commented on #14420
@eps1lon I meant as an "attempt", so we can create a new discussion :). The last time we talk about it was August 4th 2020, more than 6 months ago. I had this as a takeaway:

- Different bundles, for showing better bundle size defaults
- Wait for more maturity on v5 before making a call

I think that v5-beta is 2-3 months away (assuming we want to do the 50 BCs listed, and we will have Marja + a n

[2021-03-07 11:15] eps1lon commented on #14420
But you did already change the milestone. I don't understand what you consider a discussion if you already presuppose the outcome.

[2021-03-07 11:19] oliviertassinari commented on #14420
@eps1lon I have tried to develop a new argument for dropping support of IE 11 in https://github.com/mui-org/material-ui/issues/14420#issuecomment-792070436. Our development environment do no longer allows us to makes fixes, both codesandbox and Next.js have numerous issues.

[2021-03-07 11:25] oliviertassinari commented on #14420
In https://github.com/satya164/react-simple-code-editor/pull/81#issuecomment-782870990 @mbrookes seemed to be in favor of dropping IE 11 entirely based on the fact that IE11 is EOS in eight months. This could match the release date of v5.

[2021-03-07 12:05] oliviertassinari commented on #20288
@RMERCADOR98 ?

[2021-03-07 12:10] kevalsavani commented on #19576
The `error` property is not listed into the [AutoComplete](https://material-ui.com/api/autocomplete/) API

[2021-03-07 12:17] RMERCADOR98 commented on #20288
Sorry, wrong issue! @oliviertassinari
Just deleted the comment, thanks for calling me!

[2021-03-07 12:37] mbrookes commented on #14420
Please don't put words in my mouth. A code editor, and by extension the developer documentation of Material-UI, is not the same as Material-UI itself. 1. A developer would have to be using IE11 as their primary development browser to be affected, 2. That change is intended as "progressive degradation" – no syntax highlighting in IE1;, not breaking it entirely.

[2021-03-07 12:46] oliviertassinari commented on #14420
@mbrookes OK, this makes sense. I have made the logical jump with: 1. if maintainers can't work on the components in dev mode, the components can't be improved on the IE 11 dimension. 2. if developers can't load the documentation with. IE 11 developers will seriously doubt that the components work with IE 11. But I guess it doesn't have to be black or white.

What's your thought on the matter for

[2021-03-07 12:49] mbrookes commented on #14420
Neither if which if the supporting arguments for is correct.

[2021-03-07 13:06] oliviertassinari commented on #14420
How about the following solution?

We update the documentation in v5 that IE 11 support is partial, that we don't intent to improve it (closing issues or PRs that try to), nor to degrade it (no active effort to remove IE 11 docs or logic). Then in v6, we remove all traces of IE 11.

This would match with reality: we almost can't work on it in dev mode, pickers, data grid, modal, image list, are no

[2021-03-07 13:45] eps1lon commented on #25171
They don't give us permission. They choose a library that solves problems for their problem. If they  don't follow web principles then they should choose a different library.

[2021-03-07 14:12] tomasznguyen commented on #24405
I was about to start to migrate `MenuList`. However, I see that there is no styling and slots present in the component. What is the best way to approach MenuList? Introduce a root slot? Move to unstyled? Or is there no need for conversion?

[2021-03-07 15:31] EugenMayer commented on #14420
If I may from the perspective of someone who supported IE6, IE7 .. IE11 for decades with the application we offer B2B (which is I guess the concern, the companies). We always have been very conservative with deprecated and removing IE support in the past. We really feel with you when the topic comes up on "how to actually support IE" when there are basically no tools and even running some versions

[2021-03-07 15:49] oliviertassinari commented on #24405
@tomasznguyen `MenuList` doesn't have any styles. It doesn't need to be migrated. I'm marking it as done.

[2021-03-07 16:28] oliviertassinari commented on #25171
@eps1lon I don't disagree with this interpretation of reality, I'm actually glad we don't share exactly the same one.

[2021-03-07 16:50] oliviertassinari commented on #21377
Looking at https://github.com/vitejs/vite/issues/1853#issuecomment-772210814, it seems to be a combination of multiple factors. It's both esbuild that doesn't interop well between CJS/ESM and the encouraged imports for icons that are CJS.

I wonder if the icons package shouldn't only export an ESM version. @eps1lon I recall you mentioned that we could potentially drop CJS, do you have more details

[2021-03-07 16:55] oliviertassinari commented on #21377
Regarding adding an example with Vite, we might not be yet at a point where we should care enough https://npm-stat.com/charts.html?package=vite&package=react-scripts&from=2020-03-06&to=2021-03-06

[2021-03-07 17:50] eps1lon commented on #14420
What do you find missing from "If you need to support IE 11, check out our legacy bundle."?

[2021-03-07 18:27] oliviertassinari commented on #25215
This is a regression from v5. I can't reproduce on v4. Looking at this, I have found two other things that are not flying:

- #25255
- The placement of the tooltip is problematic. It overflows the other actions, preventing interactions.

[2021-03-07 18:41] oliviertassinari commented on #14420
@eps1lon I was initially confused that it's not listed under with the other major browsers in the table. But you are right it's definitely mentioned as available under separate bundle.

[2021-03-07 19:10] m4theushw commented on #25215
@oliviertassinari In my investigation, I found that wrapping `setOpenState` in a `setTimeout` solves the problem. I'm just having some trouble to create a test case for the keyboard navigation because the events are being dispatched in a different order between jsdom and the browser.

[code]

[2021-03-07 20:33] milindvishnoi opened #25256 "The darkMode and lightMode Toggle breaks"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

As of now, I have creates a Switch in my App, this Switch is used to switch the theme. The theme seems to change when the button is clicked once but stops working after that.

## Expe

[2021-03-07 20:40] oliviertassinari commented on #25256
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2021-03-07 20:53] oliviertassinari commented on #25215
@m4theushw Have done a quick exploration, I can up with an alternative solution:

[code]

It seems that a reset of the tooltip state to close when the speed dial is closed is a sane default. I have noticed this because the tooltip onClose callback tries to trigger but the open prop of the Tooltip is already set to false once it triggers.

Also, note that I could easily reproduce the error:

![Mar-

[2021-03-07 20:54] milindvishnoi commented on #25256
@oliviertassinari
[codesandbox_link](https://codesandbox.io/s/frosty-bas-72c2e?file=/src/App.js)

[2021-03-07 21:04] oliviertassinari commented on #25256
Duplicate of #18018

[2021-03-07 21:04] #25256 closed

[2021-03-07 21:04] oliviertassinari commented on #25256
It's a well-known bug. global styles aren't cleaned up strict mode in v4. Remove the strict mode wrapper or upgrade to v5.

[2021-03-07 21:10] #25200 closed

[2021-03-07 21:17] milindvishnoi commented on #18018
@oliviertassinari I am confused with how to fix this error for a sample app I provided.

[2021-03-07 22:19] oliviertassinari commented on #25204
@mark-night Out of curiosity, why change the container?

In #17636. We would like to refactor the Popover to combine Modal + Popper instead of having its own position logic (removing it). It should solve this issue.

[2021-03-07 22:28] mark-night commented on #25204
@oliviertassinari Just to make DOM structure more managed, I personally prefer not to render modal-like nodes outside the structure. It looks like this is right what `container` attribute is there for. Besides, sometime it's necessary to limit modals within certain body area, e.g. to render a mobile UI in a webpage for desktop... Container is surely not the only way to achieve this, but it definit

[2021-03-07 22:41] oliviertassinari commented on #25204
The primary use case for `container` is to render inside different windows (popup, iframe, shadow dom)

[2021-03-07 22:52] oliviertassinari commented on #25206
I can't reproduce. I assume it's a rendering artifact from the browser.

[2021-03-07 22:52] #25206 closed

[2021-03-07 23:09] DewangS commented on #18494
@blazejmojak fair enough though that's a workaround. Ideally you want your API calls within the component instead of passing them around.

[2021-03-07 23:12] oliviertassinari commented on #25168
@tuy3t-tran Interesting. We have worked on this problem 3 years ago in #12969. The first thing I could notice is that the `hideBackdrop` prop should be working when provided flat to SwipeableDrawer, as it does with the Drawer. It's not the case. It's broken.

I would propose the following fix:

[code]

What do you think about it? Do you want to work on a pull request? :)

[2021-03-08 02:56] dohomi commented on #25147
@oliviertassinari one quick question:
[code]
Is that supposed to work in the future or is there a different syntax necessary to overwrite styles of the nested components of Autocomplete?

[2021-03-08 07:12] tuy3t-tran commented on #25168
Hi, thank you for your reply! I applied your suggestion in my local env, and problem seem fixed.

[2021-03-08 07:56] blazejmojak commented on #18494
Yes, you are right. After last comment, I found that during first rendering you have to check if state hook is an empty array. If it is empty then you shouldn't map. When useEffect cause second rendering we have no empty state hook array and select value can see possible opions.

[2021-03-08 09:13] rajzik opened #25260 "Server side generate class name is not documented"
We had collision with SSR and client-side generated class Names, we needed to figure out way to resolve these collisions, only thing that worked was:

`Page.tsx`
[code]

`Document.tsx`
[code]

This behavior is not documented at all, also it is ignored in typescript. Exception is ServerStyleSheets as they have `props` typed as object.

We are working with MUI@4, but this issue persists in verion 5

[2021-03-08 10:32] oliviertassinari commented on #25260
`serverGenerateClassName` is private. It's not meant to be used by developers.

If you take the context of Next.js. It was introduced so that a new class generator can be created for each request (inside _document.js) and not be overridden by the style configuration in _app.js

- ServerStyleSheets // _document.js
- StylesProvider // _app.js

I'm closing as this is now legacy in v5.

[2021-03-08 10:32] #25260 closed

[2021-03-08 11:13] oliviertassinari commented on #14420
For people reading the thread and wonder why https://github.com/mui-org/material-ui/issues/14420#issuecomment-792070436. It was motived by #25222.

[2021-03-08 15:46] oliviertassinari commented on #25147
@dohomi It should keep working. We have designed the migration from JSS to styled to minimize the amount of breaking changes.

[2021-03-08 16:15] eps1lon commented on #24116
Since we are in v5 prep where we want to to add new customization options (namely `components`) let's wait with this until after the release. The TextField is already very problematic and overloading it even further only extends these problems. Until then let's stick with our current recommendation for custom textboxes: Compose one yourself.

Saying that you should compose custom textboxes but use

[2021-03-08 17:08] orhanhub commented on #14336
@artegen thanks for the noSSR tip, that solved the problem!

[2021-03-08 17:31] jarlef commented on #21377
Why you should case

create react app => webpack => slow
vite js / snowpack => esbuild => fast

![image](https://user-images.githubusercontent.com/279454/110357908-17c34b80-803c-11eb-9b6d-9c793f9f38a3.png)

I would assume when you develop material ui it would preferable to use bundler / tooling that is performant

[2021-03-08 18:00] neillindberg commented on #14559
To me this was very confusing as I thought I'd OMITTED, in my case, the `sm` prop on a Grid item.
I searched my codebase, and I ensured every "Grid item" had a `sm={int[1-12]}` property.
Still receiving error message: "index.js:1 Warning: Failed prop type: The prop `sm` of `Grid` must be used on `item`."...
I started commenting out code and re-rendering site.
It ends up I had the `sm` prop on a "G

[2021-03-08 19:24] mark-night commented on #25204
Ah. So it's not recommended unless I have to?

[2021-03-08 19:36] davidbonnet commented on #21377
IMHO, there's no need to add a [`vite`](https://github.com/vitejs/vite) example (which has more than 20k stars on Github BTW). Material-UI, as any other dependency, should just work by `npm install`ing it and `import`ing it.

[2021-03-08 19:45] oliviertassinari commented on #21377
A great sign that the developer community is tired of waiting for webpack to build? :)

[2021-03-08 21:50] quangv opened #25269 "TextField expected aria role="alert" for error message."
I expected `TextField`'s error to have a `role="alert"` like the example here: https://www.w3.org/WAI/GL/wiki/Using_ARIA_role_of_alert_for_Error_Feedback_in_Forms

  Thank you very much for contributing to Material-UI! ❤️

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Is using `role="ale

[2021-03-08 21:55] genepaul commented on #20706
@oliviertassinari - I'm running into this as well, and was led here after I got a seemingly wrong impression from the documentation. The [input](https://material-ui.com/api/input/#inheritance) documentation seems to say that we can use classes from `InputBase`, and that seems to work with `adornedEnd` and `adornedStart`. But then I got the same error as OP and wondered whether this was intentional

[2021-03-08 21:56] danielmulvad commented on #25214
Yes, it is clear now, thank you.
To improve documentation, you could include an in-depth tutorial on using module augmentation to extend the theme using TypeScript. I understand that it's used [here](https://next.material-ui.com/customization/theme-components/#adding-new-component-variants) and [here](https://next.material-ui.com/customization/theme-components/#adding-new-component-variants), but

[2021-03-08 22:16] oliviertassinari commented on #25214
@danielmulvad The two links are identical, I assume you meant:

- https://next.material-ui.com/customization/typography/#adding-amp-disabling-variants
- https://next.material-ui.com/customization/theme-components/#adding-new-component-variants.

I believe there should be a mention of types and props that can be extendable in the API pages.

[2021-03-08 23:10] pranshuchittora opened #25270 "Label behaving weirdly when TextField type is number"
![Peek 2021-03-09 04-37](https://user-images.githubusercontent.com/32242596/110393863-56372580-8091-11eb-8da5-357a5c515b1d.gif)

- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
While typing E or any other character the label is beha

[2021-03-08 23:13] oliviertassinari commented on #14420
I have made an attempty implementation of https://github.com/mui-org/material-ui/issues/14420#issuecomment-792276203 in https://github.com/mui-org/material-ui/pull/25262

[2021-03-08 23:16] #25270 closed

[2021-03-08 23:17] oliviertassinari commented on #25270
See https://next.material-ui.com/components/text-fields/#shrink

[2021-03-08 23:18] pranshuchittora commented on #25270
Thanks

[2021-03-09 00:55] nstolmaker commented on #13921
@eps1lon Good question. The way described works fine for Button components, but the Typography component won't work that way. It gives the same error about Component not being defined.

[2021-03-09 00:58] scottschup commented on #20583
Right on, just wanted to check before I did.

[2021-03-09 01:40] lionskape commented on #24952
@oliviertassinari so, whom should I address that issue? It is reproducible in the official TS playground.

[2021-03-09 01:42] lionskape commented on #24952
@eps1lon Yes, it is no longer required. Compatibility features are now built into the `@yarnpkg/plugin-compat`, which is enabled by default.

[2021-03-09 03:31] Yzrsah opened #25272 "CssBaseline typography not working with dark theme in v5"
Resolved

[2021-03-09 04:26] teenguyen opened #25273 "[Autocomplete] Cannot read property 'removeAttribute' of null in autocomplete input"
I'm running across this issue pretty consistently trying to use the `useAutocomplete` hook where some aria attributes are trying to be removed from the input. I haven't been able to narrow down exactly what is triggering it each time. I think the fix might be simpler than spending more time digging into it.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https

[2021-03-09 04:33] kayuapi commented on #24405
There is no styling and slots in `RadioGroup` too. I guess there is no need for conversion too?

[2021-03-09 06:02] #25272 closed

[2021-03-09 07:39] matthewkwong2 commented on #24405
What about the lab components? I assume they will be migrated as well in the future?

[2021-03-09 08:23] manziEric commented on #25168
@oliviertassinari i'm going to work on this

[2021-03-09 08:47] shaliake opened #25274 "Localisation patch for ltLT"
Hi! 👋

Firstly, thanks for your work on this project, I love material-ui for React! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@material-ui/core@4.11.3` for the project I'm working on.

I have created a localization patch for Lithuania. That particular country has 3.0 million native speakers (2012).
I think that this issue will be rejected due to such a low a

[2021-03-09 08:58] manziEric commented on #25147
@oliviertassinari i'm going to work on this

[2021-03-09 09:21] shaliake commented on #25274
I have made an typo.. language should be set as ltLT, not ltLt..

[2021-03-09 10:39] oliviertassinari commented on #25274
@shaliake Thanks for sharing, it might help others. I'm closing per the criteria you mentioned. It starts to be manageable after 5m native speakers.

[2021-03-09 10:39] #25274 closed

[2021-03-09 10:45] oliviertassinari commented on #24405
@matthewkwong2 We forgot about them. Updated

[2021-03-09 10:48] oliviertassinari commented on #24405
@kayuapi We could potentially add a styled wrapper, but I think that it's for another issue. We haven't yet seen somebody to ask for it. Marked as done ✅.

[2021-03-09 11:00] layershifter opened #25277 "@material-ui/utils: useControlled() have a different behavior than native primitives"
Hey folks!

_Thanks for your contribution into OSS, I am often gathering ideas in your code ❤️_

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I was testing different implementations of hooks that are implementing autocontrolled behavior for custom com

[2021-03-09 11:13] oliviertassinari commented on #25277
@layershifter This was done on purpose, to simply the problem

[2021-03-09 11:13] #25277 closed

[2021-03-09 11:29] #24980 closed

[2021-03-09 11:43] cmacdonnacha commented on #22342
We're currently using `makeStyles` in Material UI v4. I was wondering, for new components that we write, should we get ahead of things by using `emotion` instead? Potentially making migration easier.

[2021-03-09 12:00] oliviertassinari commented on #22342
@cmacdonnacha The safest would be to use the styled API. This way, you can easily move between JSS, emotion, styled-components, or even say, goober .

[2021-03-09 12:05] matthewkwong2 commented on #22342
I'm not a big fan of the styled API. It is easy to make typos without noticing and lining will not work since they are treated as strings. Not a good DX overall. Yet, I understand it could be useful for someone.

[2021-03-09 12:08] oliviertassinari commented on #22342
I meant https://material-ui.com/styles/basics/#styled-components-api

[2021-03-09 12:09] oliviertassinari commented on #24116
Giving up on the changes. #21782 and the switch towards the `components` API should solve the same problem.

[2021-03-09 12:09] #24116 closed

[2021-03-09 12:16] matthewkwong2 commented on #22342
Ah.. I see

[2021-03-09 12:16] oliviertassinari commented on #23797
Closing as we can't reproduce.

[2021-03-09 12:16] #23797 closed

[2021-03-09 12:26] MMMMDCCXI opened #25278 "[Button] Submit is always triggered v5"
## Current Behavior 😯

In version 5 a button click always triggers a submit.

## Expected Behavior 🤔

Submit should only be triggered if the button is of type 'submit'.

## Steps to Reproduce 🕹

Version 5:
https://codesandbox.io/s/funny-silence-4wdsx?file=/src/App.tsx

Version 4:
https://codesandbox.io/s/cool-forest-25i0x?file=/src/App.tsx

[2021-03-09 13:24] ConAntonakos commented on #22342
Linting DX has been around for a while now, and it has most likely been iterated on. For example, since 2017: https://medium.com/styled-components/announcing-production-ready-linting-for-styled-components-58adcdc4a97

What issues are you running into? As others mentioned you can also use the object notation if you want to stick to JS syntax.

[2021-03-09 14:24] zhexuan-flux opened #25280 "[ButtonGroup] Non-homogeneous border"
When grouping two buttons inside the <ButtonGroup /> component, borders of the two buttons overlap and result in some low quality detail

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The vertical line that divides the two button

[2021-03-09 14:30] m4theushw commented on #24405
`SwipeableDrawer` also doesn't have any styles, but it's pending in the list.

[2021-03-09 14:57] oliviertassinari commented on #25280
Interesting. It's because we collapse the following with margin-left: -1px

<img width="361" alt="Screenshot 2021-03-09 at 15 56 37" src="https://user-images.githubusercontent.com/3165635/110489949-1c493c00-80f0-11eb-8a1e-f8a06ec14992.png">

[2021-03-09 15:14] sowsan opened #25282 "[Tabs] setting up Action property with custom tabs"
I am trying to fix the same issue reported here https://github.com/mui-org/material-ui/issues/20527, and it works with the default tabs. In my case, I am using the customized tabs : https://material-ui.com/components/tabs/#customized-tabs, I am using the same code sample for StyledTab.

![image](https://user-images.githubusercontent.com/11544153/110492253-03289700-80c0-11eb-9029-f5453d430c82.png)

[2021-03-09 15:20] #25282 closed

[2021-03-09 16:09] ndeviant opened #25283 "[Tooltip] Not shown on focus on touch devices"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When disableTouchListener is true, Tooltip is not shown on focus on touch devices

## Expected Behavior 🤔

It should bee shown on focus unless `disableFocusListener` is true.

## Your

[2021-03-09 16:29] #25147 closed

[2021-03-09 16:47] kishore10x commented on #17064
I am trying to do something similar and I cannot seem to get the second level TreeItems to display when I am lazy loading the children at each level. Here is a demo with the issue I am facing. https://codesandbox.io/s/material-demo-forked-zd4fe? file=/demo.js. Any pointers on where the issue could be?

[2021-03-09 17:03] oliviertassinari commented on #25278
I can confirm the change of behavior between v4 and v5. This is either a regression or a breaking change.

This touch on something I have been wondering for quite some time. The default type of a `<button>` element is "submit", not "button" like Material-UI do. What would be more intuitive for developers in v5? cc @eps1lon.

I haven't benchmark what the other UI libraries are doing yet (to get a s

[2021-03-09 17:55] eps1lon commented on #25278
I would follow the rationale of [`react/button-has-type`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/button-has-type.md) and let our `Button` be a `button[type="button"]` by default i.e. consider the v5 behavior a bug.

[2021-03-09 18:06] eps1lon commented on #25269
This issue tracker is used for bug reports and feature requests. We don't have the bandwidth to answer general questions about a11y.

I would encourage you to explore the subject and flesh out a feature proposal. In this state there's nothing we can act on.

[2021-03-09 18:32] oliviertassinari commented on #25278
It seems to have been broken in #22883. At least, it was between these two versions [v5.0.0-alpha.11...v5.0.0-alpha.12](https://github.com/mui-org/material-ui/compare/v5.0.0-alpha.11...v5.0.0-alpha.12).

[2021-03-09 18:38] oliviertassinari commented on #25278
I could get the correct behavior with:

[code]

as well as all the other tests green. I had to test 2 other approaches before landing on this one (saved by the existing tests). We missed a test case.

[2021-03-09 18:54] oliviertassinari commented on #25283
@ndeviant Thanks. The tooltip is looking for the focus-visible state. The first level fix I can think of is:

[code]

It would be more accurate.

---

The second level discussion we can have is: Why?

What's your use case?

[2021-03-09 21:11] ndeviant commented on #25283
Sorry, what do you mean by "focus-visible state"?

The most default one. I have an element which only purpose, is to show tooltip on click. User used that when he taps something, this is enough for action to happen, I'm not sure how he should guess to tap and hold. I tried to set `enterTouchDelay` to 0, but its still not showing on tap, you have to hold at least ~4ms. I think you know how `setTime

[2021-03-09 21:56] oliviertassinari commented on #25151
Wel

[2021-03-09 21:56] #25151 closed

[2021-03-09 23:02] oliviertassinari commented on #25277
It expands a bit more on the problem. I have seen this topic pop up a number of times in the past, under different forms. Two ones I can easily find:

- In #1328, we cover how TextField doesn't handle updates of the default value
- In https://github.com/facebook/react/issues/12710, why react doesn't warn when the default value change even if controlled.

There are more in the repository under the

[2021-03-09 23:11] oliviertassinari commented on #25283
@ndeviant I meant https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible. Ok, so the root problem might actually be different, more around how `enterTouchDelay={0}` is not behaving as expected.

[2021-03-10 03:54] codingedgar commented on #22485
I'm also working on an Electron app, mimicking all the design from a macOS native version, I'm overwriting/duplicating so much, wish I could develop a more concise theme that yields the same results as a UI kit, same for a react-native app, but with iOS design.

Is there a way today to make this easier?

[2021-03-10 03:57] tihuan commented on #22342
Regarding styling the new `Autocomplete` component, is it possible to use `styled` or do we still need to use `makeStyles` due to slotting and portal (where a subtree is detached from the root)?

For example, I'm trying to style `.MuiAutocomplete-listbox` using `import styled from "@emotion/styled";`, but given that by default `Autocomplete` uses portal, I can't target descendants with `.MuiAutoco

[2021-03-10 04:17] ahummel25 commented on #12237
@miguelangeltorresfp I get this same exact error. Did you ever find a workaround?

[code]

[2021-03-10 05:16] Lagicrus opened #25289 "[RFC] Autocomplete still show results after selected"
When you select a option from the drop down list with the Autocomplete module, and then click back into the box.
It will "stop filtering" to your "search" and instead show all results
e.g.
If I typed "Bob", whilst I was typing it would only list say "Bob, Bobby, Bobbington" and so on. But if I chose "Bob" and then clicked back into the box, I would see the original list so "Ape, Bob, Cat" and so o

[2021-03-10 05:26] Devalo opened #25290 "[docs] Unable to install datepicker"
I'm having problems installing datepicker (also the new one).

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The guide at 'https://next.material-ui.com/guides/pickers-migration/' explains that al l that needs to be done is instal

[2021-03-10 06:13] MohitMurotiya opened #25291 "Autocomplete onChange method"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
I'm calling an API every time my selection changes to fetch data using the onChange event of Autocomplete Component but after doing this 3-4 times my Application is very slow and finally, the page is **unresponsive**

## Expected Beha

[2021-03-10 06:36] davidcraddock opened #25292 "createMuiTheme v5 unable to extend the list of components"
In v4 to override styles of a 3rd party library that used material-ui,  I could declare a module and then was able to override the styles in the theme, in v5 I can declare the module and use adaptV4Theme to override the styles but this way is getting deprecated. I am unable to find how you are meant to now add it to the themes components in v5?

In my example I want to globally style MuiDataTable.

[2021-03-10 08:15] eps1lon commented on #25290
Thanks for the report.

The documentation at https://next.material-ui.com/guides/pickers-migration/ is only valid using Material-UI packages with the `next` tag i.e. `npm install @material-ui/core@next;  npm install @material-ui/lab@next`.

Does this resolve your issue?

[2021-03-10 08:36] EloyID opened #25293 "<StylesProvider injectFirst> causes style crash with initialy hidden components (Drawer, menuitems...) #SSR"
- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The needed classes are not imported and I get this drawer
![image](https://user-images.githubusercontent.com/26055581/110597447-dbe5ce80-8180-11eb-91ab-81b03c4c4008.png)

About the

[2021-03-10 09:15] oliviertassinari commented on #25278
@MMMMDCCXI Would you like to work on a pull request for this problem :)? We would need an extra test case.

[2021-03-10 09:18] oliviertassinari commented on #25283
How can we reproduce this?

[2021-03-10 09:34] thebinarysearchtree opened #25294 "Cannot change the size of Avatars"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Applying a className to an avatar does not override the root css attributes. `<Avatar className={classes.avatar} />` Where the avatar class contains a width and height. When debugging this, I see that the s

[2021-03-10 09:35] #25294 closed

[2021-03-10 09:42] martin8877 commented on #21004
[Workaround](https://github.com/vercel/next.js/issues/13058#issuecomment-763746324)  (not working in Firefox and when JS is disabled). It's sad that it is not possible to change the injection order at the Next.js level. It's a showstopper issue for nextjs + material ui + css (global or css modules).

[2021-03-10 09:45] oliviertassinari commented on #21004
@martin8877 Check the source of our documentation to see how we solve this problem (with Next.js and global CSS).

[2021-03-10 10:35] martin8877 commented on #21004
I'm talking about changing styles order at build level (SSR). `<StylesProvider injectFirst/>` doesn't work with SSR (I understand why). And I haven't found a way to change styles injection order in _document.js at nextjs. I can't hook into nextjs rendering. Only enhance app component with something like this:
[code]
But this cause FUAC (it takes a little bit of time until JS loads and removes #jss

[2021-03-10 10:56] oliviertassinari commented on #21004
@martin8877 See

https://github.com/mui-org/material-ui/blob/2f673e9df793b43e33cc25a9cfccefc6e330e380/docs/pages/_document.js#L155-L176

This is SSR only

[2021-03-10 11:12] MBrendel opened #25296 "v5: experimentalStyled provides DefaultTheme when running inside Storybook"
I am providing a custom theme with the `ThemeProvider` and I am using the `experimentalStyled` api (my project uses typescript, so I need the advanced type definitions of experimentalStyled) to customize the styling of some components.

When using those custom components **without** storybook everything works as expected.

But when I use that components **inside** a Storybook story, `experimentalS

[2021-03-10 12:00] martin8877 commented on #21004
Thank you. Problem solved. Nextjs always inserts the content of styles prop at the end of `<head>` element, but global / module css at the start. So I need to pass my own prop and render style tag.

Working example:
[code]

[2021-03-10 12:08] oliviertassinari commented on #25296
Duplicate of #24282

[2021-03-10 12:08] #25296 closed

[2021-03-10 14:41] flaviamartins29 opened #25298 "error 405, i try add the packages @material-ui/icons but the i have retorned code 405"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

<details>
  <summary>`npx @material-ui/envinfo`</summary>

[code]
</details>

[2021-03-10 15:16] eps1lon commented on #25298
This sounds like a network issue on your side. Does the issue still exists?

It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-latest), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://

[2021-03-10 15:37] oliviertassinari commented on #25293
@EloyID It seems that you are using v4. Your reproduction is using v5. I'm closing:

- It looks like a support request on v4, which we don't spend time working on, we delegate it to the community on StackOverflow.
- We only actively develop v5.

From your symptoms, it sounds like you are bundling multiple versions of Material-UI. It would explain why the server-side style collector only get a port

[2021-03-10 15:37] #25293 closed

[2021-03-10 16:06] oliviertassinari commented on #25292
@davidcraddock First, note that mui-datatables is no compatible with v5 yet https://github.com/gregnb/mui-datatables/issues/1513. Second, don't use `adaptV4Theme` here. It's doing the opposite of what you are looking for. You don't need to change your theme until they upgrade. I'm closing as it should cover your problem.

[2021-03-10 16:06] #25292 closed

[2021-03-10 17:35] JavaJamie opened #25299 "No Celebration icon"
I really need the celebration icon but it isn't there.

This is what it should be like:
https://material.io/resources/icons/?search=celebra&icon=celebration&style=sharp

[2021-03-10 17:42] nestarz commented on #21377
I have the same issue than  @fadi-george on 5.0.0-alpha.27 I have this error using vite latest build 2.0.5:

`Uncaught ReferenceError: createSvgIcon is not defined`

But it works with alpha.20.

[2021-03-10 17:50] oliviertassinari commented on #25299
@JavaJamie Please a closer look at the issue history before opening a new issue. You can find it here https://next.material-ui.com/components/material-icons/.

[2021-03-10 17:58] fadi-george commented on #21377
@nestarz  Hmm, Id try updating imports to be like this:
[code]

[2021-03-10 18:26] kylekirkby opened #25300 "SpeedDialAction button - cannot change colour via FabProps."
I'm using the SpeedDial component but cannot work out why I cannot change the colour.

- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently, the `SpeedDialAction` colour cannot be changed.

## Expected Behavior 🤔

Ability to

[2021-03-10 18:29] kylekirkby commented on #25300
OK my bad, this was working it was just added to the wrong component. I needed to add it to the `SpeedDial` component :D

[2021-03-10 18:29] #25300 closed

[2021-03-10 19:16] autvincere commented on #7186
Great answer!
works for me ;)

[2021-03-10 19:40] vicasas commented on #24405
Labs components that correspond to Tab components are not in the site menu or in this issue

[2021-03-10 22:03] drmzio commented on #22485
@codingedgar Your best bet would be switching to Ionic Framework (https://ionicframework.com) if you want to mimic macOS and/or iOS styling.

[2021-03-11 02:09] RTEYL commented on #25278
@oliviertassinari I'm interested in giving it a shot as my first PR. If you'd like me to use your solution and just add a test for it let me know.

[2021-03-11 02:13] oliviertassinari commented on #25278
@RTEYL I would suggest starting with adding a test case, then looking for a solution. The one I have proposed is good enough, I believe, but they might be better ones. The tests should give you confidence when iterating.

[2021-03-11 04:11] elyobo commented on #11749
I'd also be interested in an officially supported way to put drawers in other components (we're using them in cards); we've bashed something together along the lines of @LeroyDoornebal's solution, which avoids the shaky animations but still gives odd animation behaviour (looks more like a fade sometimes, can't get any to slide both in and out correctly).

[2021-03-11 04:43] dborstelmann commented on #24937
@eps1lon any updates here?  Just curious because it's blocking our launch with Material v5.  Let me know if there is anything I can do to help.

[2021-03-11 08:14] eps1lon commented on #24937
We'll notify once this is fixed. Please consider the effects of [issue bumping](https://blog.sindresorhus.com/issue-bumping-e3b9740e2a0).

[2021-03-11 08:26] RoudyTarabay commented on #2189
Still an issue, stopPropagation is not solving it

[2021-03-11 09:50] patsimm opened #25304 "[Snackbar] prop "key" is not passed to child components"
We are using the current 5.0.0-alpha.27 version of material-ui core. When trying to use the "key" prop on the Snackbar as documented (https://next.material-ui.com/api/snackbar/#main-content) we get the following react warning:

<img width="905" alt="Screenshot 2021-03-11 at 10 49 03" src="https://user-images.githubusercontent.com/5880346/110768388-7b759080-8257-11eb-8e4c-fd907a7e3be2.png">

I am n

[2021-03-11 09:58] eps1lon commented on #25304
Are you using `<Snackbar key={key} />` or `<Snackback {...propsWithKey} />`? What React version are you using? In the future, please follow the issue template.

It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://material-ui.com/r/issue-template-next), a link to a repository on GitHub, or provide a minimal code example that rep

[2021-03-11 10:03] RoudyTarabay opened #25305 "Tabs component capture the focus from inputs inside the tab panel, making the input accept one character at time."
- [ x] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have controlled inputs inside my Tab panel. Whenever I write a letter the focus escapes the input, forcing me to manually select the input again to write one other letter before i

[2021-03-11 10:36] EloyID commented on #25293
In fact is the other way round, the ssr works fine but when the client generates the needed style, it clashes in some points.
If i remove stylesprovider injectiFirst it stops having this issues but it clashes in other points due to interoperability between MUI and styled components.

If you have any idea of how i can start searching the cause, it would be helpful
For exemple if I do:
[code]
the st

[2021-03-11 11:02] eps1lon commented on #25305
Thanks for the report with reproduction.

This is unfortunately expected behavior unrelated to Material-UI.

You're creating a new `TabPanel` component on every render. When diffing the old rendered UI with the new one it can't reconcile these two `TabPanel` since they are not referentially equal. This means that all the components below are "thrown away" which looks like the input is loosing focu

[2021-03-11 11:03] #25305 closed

[2021-03-11 11:03] janus-reith opened #25307 "Material-UI 4 example does not work properly with nextjs getStaticProps revalidate and causes wrong order of head tags"
- [x] The issue is present in the latest release (Latest stable).
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the `revalidate` property of `getStaticProps` with nextjs. The first render of the page in production builds would be correct, but subsequent renders of the

[2021-03-11 11:33] thebinarysearchtree opened #25308 "@material-ui/pickers peerDependency has not been updated for React 17 and newer"
It is not possible to install the date picker mentioned in the documentation when using React 17 and newer.

[2021-03-11 12:01] eps1lon commented on #25308
`@material-ui/pickers` is no longer actively maintained. They have been moved to `@material-ui/lab`

[2021-03-11 12:01] #25308 closed

[2021-03-11 12:20] thebinarysearchtree commented on #25308
So there is no way to use the date picker with the current version of MUI and the current version of React?

[2021-03-11 12:28] oliviertassinari commented on #25293
@EloyID Try migrating to v5, you can use styled-components all the way down, instead of having to configure JSS.

[2021-03-11 13:59] segunadebayo commented on #24282
We experienced this issue as well and managed to walkaround it by updating storybook's `main.js` config.

[code]

This forces storybook to use the most recent version of `@emotion/react` which ensures that the theme gets picked up correctly.

[2021-03-11 14:05] filipe-gomes commented on #11749
@elyobo how did you avoid the shaky animations? Is your drawer temporary and coming from the right?

[2021-03-11 14:41] Andarist commented on #24282
Note that some things might break with this - so YMMV. It might work in 80-90% use cases though.

[2021-03-11 15:02] patsimm commented on #25304
Ok, i tried a minimal setup and can reproduce it. Here you can find the repository https://github.com/patsimm/minimal-snackbar-key-issue . I just copy-pasted the example at https://next.material-ui.com/components/snackbars/#transitions and it gives me the error I described above.

[2021-03-11 15:03] lawrence-witt opened #25310 "Drawer does not transition closed when initialised as open"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Initialising a `Drawer` component in the `open` state, then setting that state to closed, will not perform a close transition for that first state change. Further changes to the `open

[2021-03-11 15:16] patsimm commented on #25304
Also could reproduce on codesandbox: https://codesandbox.io/s/material-ui-issue-forked-wfel4

[2021-03-11 16:48] josephluck commented on #20012
Hey folks. Wondered whether I might ask some advice?

I've just upgraded our app to use Material UI V5 and I'm experiencing some strange behaviour with the `Box` component and spacing. I've overridden the spacing using a `ThemeProvider`, but it appears the `Box` ignores this when using props such as `p` and `sx`.

<img width="1003" alt="Screenshot 2021-03-11 at 16 45 05" src="https://user-images.g

[2021-03-11 17:57] edisonnkemande commented on #15073
For anyone still facing this issue use NoSsr API for your components after the page has rendered.

[2021-03-11 19:33] elyobo commented on #11749
No, using Leroy's approach above which uses a persistent drawer and a manually added backdrop. I have one coming from the left (not shaky, but seems to fade in then slide out on close) and one from the bottom (slides in but then seems to fade out on close).

[2021-03-11 20:13] LaneRamp commented on #25273
Hopefully it wasn't too bold to skip the triage and shoot for a PR~~

@teenguyen's fix works and it's hard to see anything that could change negatively because of it!

[2021-03-11 21:21] MartinDawson opened #25312 "[docs] Gatsby order conflict in SSR output (head/JSS vs. body/emotion)"
I'm following this example exactly: https://github.com/mui-org/material-ui/tree/next/examples/gatsby

Here's my gatsby-config.js (abbreviated):

[code]

Gatsby-browser.js:
[code]

Gatsby-ssr.js
[code]

SharedGatsby.js

[code]

In pages/index.js:

[code]

package.json:

[code]

It works 100% fine on the client side but when I run `npm run build` and generate a static SSR index.html the styles order

[2021-03-11 21:45] eps1lon commented on #25273
Why would the input not exist? It should exist eventually which sounds like we're setting the attribute too early or resolving the `input` too late. This should be handled not just ignored.

[2021-03-11 22:07] ilayofir opened #25313 "[Select] classes provided are directed to the input element instead of the root"
- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When supplying classes to the Select component they are passed directly to the input element, skipping the root, which means that we can't style it properly using the classes, and m

[2021-03-11 23:38] chriswall-aa opened #25314 "[Tabs] Don't animate scroll on first render"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Tabs component animates beautifully when selecting a tab that is overflowing out of view context or when clicking the scroll buttons. But there does not seem to be a way to override t

[2021-03-12 06:36] rajiff commented on #17476
When will this fix be available ? I am using `4.0.0-alpha.57` but cannot find the fix working

[2021-03-12 11:30] TonyVeigel opened #25316 "Using Value prop on useAutocomplete hook breaks text input"
- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Providing a partial or empty array to useAutocomplete hook value prop breaks the text input. If you pass in an array with all the options the text input works.

I have also experien

[2021-03-12 11:33] #25316 closed

[2021-03-12 12:04] oliviertassinari commented on #25316
@TonyVeigel Why did you close?

[2021-03-12 12:11] #25291 closed

[2021-03-12 12:18] oliviertassinari commented on #17476
@rajiff Please open a new issue with a minimal reproduction on the latest version (v5). This issue is old.

[2021-03-12 12:33] ionescho opened #25317 "Add a new icon in Material Icons. The Filter Funnel Icon"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
I think a lot of people would like this new Icon since it is widely used.

## Examples 🌈
It should look like this one: https://www.svgrepo.com/svg/123949/funnel

## Motivation 🔦
Would cover an unmet need.

[2021-03-12 12:46] TonyVeigel commented on #25316
@oliviertassinari I don't know if it's the intended behavior but right after I submitted the issue I wondered if it wasn't working because I wasn't using state to manage the array . So I tried putting the array in state and it worked. Still doesn't work in the other instances which seems odd. My use case was passing in selected options from a parent component. Now I pass in the selected options fr

[2021-03-12 13:00] oliviertassinari commented on #25317
It's already available:
[code]

<img width="628" alt="Screenshot 2021-03-12 at 13 58 53" src="https://user-images.githubusercontent.com/3165635/110943152-29a63680-833b-11eb-8178-40059d7f440e.png">

https://next.material-ui.com/components/material-icons/#main-content

But Material Design would  recommend

[code]

<img width="645" alt="Screenshot 2021-03-12 at 13 59 45" src="https://user-images.gith

[2021-03-12 13:00] #25317 closed

[2021-03-12 13:01] oliviertassinari commented on #25317
I'm assuming you didn't find it because you searched in v4.

[2021-03-12 14:02] luizabentivoglio opened #25318 "DataGrid how to prevent to call CustomToolbar everytime on scroll"
Please, I don't know why, but everytime that i scoll on y or x, the CustomToolbar() function is always called, therefore
there is a slowdown/freeze in the scrolling.

this is part of the code:
[code]

[2021-03-12 14:08] MartinDawson commented on #25312
After further investigation, it seems to be a problem in the material ui gatsby example too when you use makeStyles.

example:

[code]

The makeStyles are overwritten.

[2021-03-12 14:38] JamesBrightman opened #25319 ""step" inputProp has no effect on native TextField timepicker"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The docs (https://material-ui.com/components/pickers/) for the native timer pick have an inputProp  called 'step' which is meant to control the range on times that are available to pi

[2021-03-12 14:51] MartinDawson commented on #25312
Okay, this issue can be closed. I'm pretty sure it's because I was incorrectly loading index.html to view the output rather than doing gatsby serve so the correct files weren't loading.

[2021-03-12 16:02] chapati23 commented on #20534
seeing the same issue, were you able to figure this out in the end @jeromeSH26

[2021-03-12 16:39] zhexuan-flux commented on #25280
@oliviertassinari thanks for the triage and response! yea its not very obvious but it would be great to have them aligned. In our app, I did it by removing the negative margin-left from right button and specify border-right: 1px for the left button. MUI is setting left button's border-right transparency to 0; as a result, I can achieve the Expected Behavior I posted.

Not sure if this could help,

[2021-03-12 17:17] huykon commented on #5329
anyone have solution for this? it's so bad if I can not add a container class

[2021-03-12 18:12] PanopticaRising opened #25321 "[Divider] Support "middle" variant with "vertical" orientation"
(Using 4.11.2) The Divider component applies
[code]

When the orientation is vertical, this doesn't do anything helpful. It would make sense to add `margin-top` and `margin-bottom` to have a similar effect for vertical dividers.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

It would mak

[2021-03-12 18:36] the-wrong-guy commented on #19957
maybe you should add this in the API docs

[2021-03-12 18:49] DiogoSimaoMadeira opened #25322 "Tooltip Material UI"
Hi,

I am trying to use the Tooltip with a small text. When i use the Tooltip, the component don't keep the format of the text (cr lf).
Is it possible to keep the format of original string with the cr-lf .
Thank you!

Diogo

[2021-03-12 19:14] #25322 closed

[2021-03-12 19:15] oliviertassinari commented on #25322
The content renders as HTML. You could replace line breaks with `<br>`.

[2021-03-12 19:21] oliviertassinari commented on #19957
@the-wrong-guy Adding a new demo for this sounds great. Do you want to do so? :) The sx prop is documented under the system section.

[2021-03-12 19:26] oliviertassinari commented on #5329
@huykon This issue is very old. If you can reproduce the issue with v5, please open a new issue.

[2021-03-12 19:34] oliviertassinari commented on #20534
@chapati23 Usually, it means that the singleton theme's context is duplicated in the bundle.

[2021-03-12 19:45] chapati23 commented on #20534
Yeah, looks like it’s yet another `yarn Link` problem.

After symlinking material-ui (on top of react and react-dom), it worked.

what’s the “official” recommendation for locally developing an app + separate MUI-based component library? `yarn link` is the only way I know but feels hacky

[2021-03-12 20:16] the-wrong-guy commented on #19957
Well, I don't how to add a new demo to the official docs, if you can lead me I can follow.

And  when I tested the `sx` prop which you showed in your demo didn't work for me, I am using `@material-ui/core": "^4.11.0`  and `@material-ui/lab": "^4.0.0-alpha.57"`, it only works for the alpha versions, not for the stable versions i.e. up to  `Ver: 14.11.3`

[2021-03-12 20:24] oliviertassinari commented on #19957
@the-wrong-guy the sx prop is a v5 only feature. Regarding contributing, you should get all you need in https://github.com/mui-org/material-ui/blob/next/CONTRIBUTING.md.

[2021-03-12 20:27] oliviertassinari commented on #20534
@chapati23 we don't provide specific recommendations for working with a library that extends Material-UI. Instead, we aim to not be a bottleneck in such configuration.

[2021-03-12 20:45] the-wrong-guy commented on #19957
Should I add an issue regarding the intensity of the pulses of the skeleton? It would be good if you add a prop to control the intensity and color of the pulses

[2021-03-12 20:54] oliviertassinari commented on #19957
@the-wrong-guy this is unrelated, it's a generic customization question.

[2021-03-12 21:10] oliviertassinari commented on #25321
@PanopticaRising This makes sense. It does make sense with the semantic of the props. Regarding the actual style. I wonder if we shouldn't use some fixed pixels values.

[2021-03-12 21:24] oliviertassinari commented on #25318
@luizabentivoglio interesting. Did you consider to memoize the expensive component?

[2021-03-12 21:33] the-wrong-guy commented on #19957
Yeah, but i can't able figure out how to apply styles to those skeletons to increase it's intensity and flashing color

[2021-03-12 21:35] #25215 closed

[2021-03-12 21:45] oliviertassinari commented on #25314
@chriswall-aa Thanks for the reproduction. It seems that the codesandbox shows that there shouldn't be any animation in the first place since it's the first render. Would you confirm that it solves the issue?

[2021-03-12 22:04] luizabentivoglio commented on #25318
Thank you Olivier for your prompty reply. I’m sorry, I’m learning react with material ui library in parallel so i’m not very confident with my skills. Would you mind helping me with an example of what you are suggesting? I’d really appreciate that.

[Luiza Bentivoglio - Chat @ Spike](https://spikenow.com/r/a/?ref=spike-organic-signature&_ts=xuxp4)	[xuxp4]

[2021-03-12 22:09] oliviertassinari commented on #25318
Check https://reactjs.org/docs/react-api.html#reactmemo, otherwise, please ask on StackOverflow.

[2021-03-12 22:09] #25318 closed

[2021-03-12 22:21] RTEYL commented on #25278
@oliviertassinari all checks passed but I'd still feel more comfortable if you could review it for me as it is my first PR on an opensource project.

[2021-03-13 01:17] lukebelliveau opened #25324 "class from `makeStyles` is overridden, only in production build"
## Current Behavior 😯

I am applying a style to hide an element when the size is lower than the `sm` breakpoint. This style is applied to a `ListItem`. When rendered, this overrides the `display: flex` style that is applied by the `MuiListItem-root` style. It looks like this:

[code]

It works great when developing locally on `create-react-app`. When I build and serve the project (via `npm run bui

[2021-03-13 04:04] cbprosser opened #25325 "Label of outlined variant select component does not block out outline"
When composing a Select component with an InputLabel within a FormControl, the label does not apply the appropriate classes to block out the outline, causing the outline to 'cut through' the label text.

Here is the code I am using for my component:

[code]

The second component's label is 'cut through' by the outline, whereas the third component (which I haven't gotten to refactoring), correctly

[2021-03-13 08:23] eps1lon opened #25326 "[SpeedDial] Cannot open with Enter/Space after closed via Escape"
## Current Behavior 😯

SpeedDial cannot be opened via Enter/space after being closed via Escape

## Expected Behavior 🤔

FAB gains focus after Escape to preserve Tab-order and allwo opening again via Enter/Space

## Steps to Reproduce 🕹

https://codesandbox.io/s/speeddial-bug-escape-open-yuh8r

Steps:

1. Focus FAB
2. ArrowUp
3. Escape
4. Enter

## Context 🔦

Focus is lost when closing. This also

[2021-03-13 09:22] vinc01100101 commented on #10587
I had this problem before, I initially had the Drawer open, but when I change its initial state to closed, it fixed the problem. It works fine now. Try hiding it first. Or set the prop `transitionDuration={appear: 500, enter: 500, exit: 500}` where values are in miliseconds

[2021-03-13 11:53] #25269 closed

[2021-03-13 12:05] oliviertassinari opened #25327 "[docs] Use integerPropType where relevant"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

TypeScript has no notions of type integer, only number. Some of our components only accept integers. It would be interesting to cover them.

## Examples 🌈

#25224 by @fayzzzm has set up the first stone to solve the problem. We should now be a

[2021-03-13 12:09] oliviertassinari commented on #25319
The `step` attribute is applied to the input correctly in your codesandbox

<img width="225" alt="Screenshot 2021-03-13 at 13 07 00" src="https://user-images.githubusercontent.com/3165635/111029516-44d97a80-83fd-11eb-920d-d6753d2c4d5d.png">

What happens after that is the responsibility of the user-agent, not Material-UI. It's one of the reasons why we are working on a `TimePicker` component.

[2021-03-13 12:09] #25319 closed

[2021-03-13 12:17] oliviertassinari commented on #25298
Is 405 a reference to an HTTP status code? It would be a "Not Allowed" in such a case.

[2021-03-13 12:21] #25325 closed

[2021-03-13 12:23] oliviertassinari commented on #25325
tip, check the `label` prop

I'm linking #21782 for the maintainers, to illustrate another advantage

[2021-03-13 14:17] maguno opened #25329 "Duplicates in the list breaks autocomplete"
Load the autocomplete (freesolo) with the following data

  const mockdatamini = [
    {
        title: "AA Batteri",
      },
      {
        title: "Chips",
      },
      {
        title: "Chips",
      },
  ];

If you then Autocomplete on Chips the autocomplete list is wrong after this.

[2021-03-13 15:13] #25329 closed

[2021-03-13 16:32] fayzzzm commented on #25327
@oliviertassinari I've changed the  previous types to our custom `integerPropType` only in `Pagination` component. Can you look to  #25334 ?

[2021-03-13 17:41] oliviertassinari commented on #25077
It looks like we are facing the same problem with the menu component of the data grid. It's built with (Popper + ClickAwayListener + MenuList + Grow). Because we are not using a Popover, it leads to this issue https://github.com/mui-org/material-ui-x/issues/1162#issuecomment-798670235).

[2021-03-13 18:18] jony89 opened #25336 "[Drawer] RTL is broken in v5 with styled-components"
## Current Behavior 😯

While using `styled-components` as an engine with RTL support, according to the guidelines

-  `stylis-plugin-rtl`
- body is set on direction rtl
-  theme is set with direction: rtl

then the temporary Drawer comes from the wrong side.

reproduced here : https://codesandbox.io/s/temporarydrawer-material-demo-forked-qc14i?file=/index.js

try to click on the RIGHT / LEFT butto

[2021-03-13 20:39] mbrookes commented on #25280
You can't tell that it's opaque (what I assume you mean by grey) from that screenshot, but you can tell that it _isn't_ from this one:

![image](https://user-images.githubusercontent.com/357702/111043572-2a25f680-843b-11eb-97fb-d0e4231a5ab2.png)

(Note the subtle change in color as the line crosses the streak in the background image.) The is important so that the button picks up a hint of the back

[2021-03-13 21:47] oliviertassinari commented on #25280
@eps1lon has worked on this in #15242. From what I recall, at that time, it wasn't obvious that Google was moving in this direction. https://github.com/material-components/material-components-web/pull/5268 would support that they are, and that 12% of opacity is what should be used.

For the given problem, I can't think of any better tradeoff than the current one. I have tried `clip-path: inset(0px

[2021-03-13 22:42] oliviertassinari commented on #25336
This is almost the same issue as #25217, to one difference, it's for styled-components and not emotion. I had to take the patch shared in https://github.com/mui-org/material-ui/issues/25217#issuecomment-792063008 and slightly adjust it to make it work with styled-components inside our documentation.

[code]

If this is something you would fancy work on, feel free to.

[2021-03-14 03:56] burtonator opened #25357 "Autocomplete has no way to determine if an listbox item is selected on Enter"
I'm trying to make it so that our Autocomplete widget will create a new item when there's a partial match.

That works but the problem is that if the user uses the keyboard to select another item then my keyboard event listener fires first and the partial item is picked instead of the menu item because the keyboard event fires first.

If I could get an event that an item is selected, then I could

[2021-03-14 04:42] matthewkwong2 opened #25358 "Code refactor to prevent unnecessary re-rendering"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Currently, in the `material-ui` v5, I saw many of the components have inline objects and arrays in the return statement. This will cause unnecessary re-render since the inlined objects and arrays are recreated every time.

This is properly a l

[2021-03-14 06:24] mark-night opened #25359 "Assigning `key` prop for Snackbar is not accepted"
https://github.com/mui-org/material-ui/blob/54f0fc17d6fe90332a1412b96aad648188069a10/packages/material-ui/src/Snackbar/Snackbar.js#L294-L300

Assigning prop `key` for Snackbar causes errors in console:
[code]

[Example on codesandbox](https://codesandbox.io/s/simplesnackbar-material-demo-forked-bmex9)

[2021-03-14 06:25] mark-night commented on #25359
v 5.0.0-alpha.27

[2021-03-14 09:35] oliviertassinari commented on #25357
Closing as not following the issue template

[2021-03-14 09:35] #25357 closed

[2021-03-14 09:35] oliviertassinari commented on #25357
https://next.material-ui.com/components/autocomplete/#creatable might help

[2021-03-14 09:39] oliviertassinari commented on #25358
@matthewkwong2 The very large majority of the components have no memorization logic as it's mostly relevant for node high in the tree, not leaves.

[2021-03-14 09:39] #25358 closed

[2021-03-14 09:41] oliviertassinari commented on #25358
I would encourage you to try the changes out. What you are describing sounds disconnected from reality.

[2021-03-14 09:47] stackin-developer commented on #22426
#### Product: Stackin
Description: Stackin analytics gives you a comprehensive point from which you can monitor development cycles and derive valuable insights to boost your team performance.
Company or organization: Stackin Technology, Inc
Link:  [https://app.stackin.dev/](https://app.stackin.dev/)
Screenshot:![image](https://cdn.stackin.dev/images/stackin.jpg)

[2021-03-14 10:36] #25278 closed

[2021-03-14 10:44] oliviertassinari commented on #25359
Duplicate of #25304

[2021-03-14 10:44] #25359 closed

[2021-03-14 10:59] oliviertassinari commented on #25304
The bug reproduction can be simplified down to

[code]
https://codesandbox.io/s/simplesnackbar-material-demo-forked-glkhp?file=/demo.js:0-220

The issue is with:

https://github.com/mui-org/material-ui/blob/54f0fc17d6fe90332a1412b96aad648188069a10/packages/material-ui/src/Snackbar/Snackbar.js#L294-L300

Maybe this diff would be enough?

[code]

I haven't figure out: **why now**.

[2021-03-14 11:09] oliviertassinari commented on #25304
Ok, we are good. The why is that we were doing this in v4 `<WithStyles(Snackbar) key="foo">`, but the prop-type was only applied to Snackbar, not `WithStyles(Snackbar)`. So we never reached this case: https://codesandbox.io/s/simplesnackbar-material-demo-forked-glkhp?file=/demo.js:0-220.

[2021-03-14 11:37] oliviertassinari commented on #25324
The CSS specificity depends on the resolution order of the imports. What's imported first will have the least CSS specificity.

Your case is strange. Maybe you have two different @material-ui/styles modules imported in your bundle.

In any case, I'm closing. We have seen this class of issue for almost two years, did our best to cover it already. And we are working on v5, where JSS is legacy.

[2021-03-14 11:37] #25324 closed

[2021-03-14 12:27] Mushus opened #25362 "`Uncaught ReferenceError: createSvgIcon is not defined` error when using TextField and XxxxIcon"
Thank you for a very nice library!

An error occurred when using the TextField and HouseIcon components.

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The following error occurred in the browser when using the TextField

[2021-03-14 13:08] vicasas commented on #16947
Attached is a list of component demos that should be migrated to the new style api.

Layout
- [x] Box
- [x] Container #25220
- [ ] Grid
- [ ] Hidden
- [x] Image List #25301

Inputs
- [ ] Autocomplete
- [x] Button #25138
- [ ] Buttom Group
- [ ] Checkbox
- [x] Floating Action Button #25251
- [ ] Radio Button
- [x] Rating #25252
- [ ] Select
- [ ] Slider
- [ ] Switch
- [ ] Text Field
- [x] Transfer

[2021-03-14 13:52] oliviertassinari commented on #16947
@vicasas Thanks for putting this list together.

All the system demos should have already been migrated. So I would hope it's not needed.

[2021-03-14 13:55] oliviertassinari commented on #25362
Duplicate of #21377

[2021-03-14 13:55] #25362 closed

[2021-03-14 14:02] frankiesardo commented on #22426
Product: **Buzzer Multiplayer**
The problem solved: Using Material-UI it feels as if the user is interacting with a native app
Link: https://buzzer-multiplayer-3e3fa.web.app/
Screenshot:

![](https://github.com/frankiesardo/material-ui/blob/787b7de7ed0f4c329eb6d2c5f8e89ba185ff4ae3/docs/public/static/images/showcase/buzzer-multiplayer-3e3fa.web.app.png?raw=true)

[2021-03-14 14:26] oliviertassinari commented on #21377
Adding this config: `vite.config.js`

[code]

Seems to solve the issue. At least, it fixes the reproduction that @Mushus has given in #25362 with v4 and v5.

Can people confirm? (from https://github.com/vitejs/vite/issues/1853#issuecomment-793026832) If it solves the issue, would somebody be interested in adding an example inside this folder: [/examples](https://github.com/mui-org/material-ui/tree

[2021-03-14 14:54] vicasas commented on #16947
@oliviertassinari  Yes that's right, I couldn't notice any that continue to use `makeStyles` or` whitStyles`. Except there are demos that use the `style` attribute instead of the` sx` prop. Is that expected?

On the other hand, in the customizations section there are demos that still use the old styles API. Do we add them?

And one last question, when using the `styled` api the rules names are no

[2021-03-14 15:02] oliviertassinari commented on #16947
Not sure, it does sounds expected. I could confirm with a link.

Do you have a link as example?

Do you mean the `$ruleName` synthax? It's no longer available.