[2019-06-07 12:26] #14814 closed

[2019-06-07 12:26] #16007 closed

[2019-06-07 13:29] mesvil7 commented on #15867
When use makeStyles from @material-ui/styles,  I got. Cannot read property 'common' of undefined error
import { Theme } from '@material-ui/core'
import { makeStyles } from '@material-ui/styles'
const useStyles = makeStyles((theme: Theme) => ({
  root: {
    color: theme.palette.common.black,
  }
}))

But when use makeStyles from '@material-ui/core/styles' the code above work, also if I use createS

[2019-06-07 13:46] limpbrains opened #16110 "Link default variant should be "body1" not "inherit""
By default Link has variant property to "inherit" so it inrerits styles from `<body>` and doesn't use theme styles.

- [x] This is not a v0.3 issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Link should has same default variant as Typography

## Current Behavior 😯
Link has s

[2019-06-07 14:58] Naismith commented on #16107
I am also getting this issue, but I believe this only started happening recently with the latest version of Gatsby.

[2019-06-07 15:11] city41 opened #16111 "Performance degradation when using props inside makeStyles"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Using `props` inside of `makeStyles` should not cause a large performance difference

## Current Behavior 😯
In the small test suite, there is about a 4x increase in scripting time when using `props` in

[2019-06-07 15:12] dance2die commented on #14817
Thank you @oliviertassinari.

Moving the `useStyles` as the last import did solve the issue.

So should I be exporting the style object and create a style in each component using `makeStyles`?
I was exposing a hook because I needed an access to the `theme` object.

The below shows that the `appBar` should appear on top of the `drawer`.

[code]

I'll read over the styling documentation more and com

[2019-06-07 15:46] nareshbhatia opened #16112 "Box "flex" property is not TypeScript friendly"
In version 4.0.1 the following instantiations of `Box` worked well with TypeScript:

[code]

With version 4.0.2, this is starting to give a TypeScript error:

I see that `material-ui-system` does export the [flex property](https://github.com/mui-org/material-ui/blob/master/packages/material-ui-system/src/flexbox.js#L28-L30), so wondering if something else changed that is blocking it. Other propert

[2019-06-07 17:25] eps1lon commented on #16112
Closed in #16045

[2019-06-07 17:25] #16112 closed

[2019-06-07 17:28] eps1lon commented on #16111
Would be nice to benchmark this against other styling solution. Without a comparison the statement is vacuous.

[2019-06-07 17:35] city41 commented on #16111
I also ran the above mini benchmark against styled-components and Emotion. Both styled-components and Emotion allow props to influence styles, and whether you use props or not had no noticeable impact on their performance.

I noted that styled-components and Emotion are significantly faster than MUI when props are used inside makeStyles. But MUI is the fastest solution when it avoids props inside

[2019-06-07 17:40] nareshbhatia commented on #16112
Thanks! I missed that PR somehow.

[2019-06-07 18:03] jonathangiamp commented on #16089
Thanks for your help!

[2019-06-07 18:05] eps1lon commented on #16112
No worries. I dont expect issuers to search PRs. Especially not closed ones

[2019-06-07 18:19] gvetsa commented on #16037
@eps1lon Your solution works. Thanks for the help.

[2019-06-07 18:34] city41 commented on #16111
I have updated the [test site](https://city41.github.io/mui-perf/) and added styled-components, Emotion, and a Material case that does not use the theme. Here are my findings.

| MUI (props in MS) | MUI (props out of MS) | MUI (props out of MS, no theme) | styled-components | Emotion |
|------|-------|-------|------|------|
| 857 | 345 | 334 | 240 | 256 |
| 981 | 209 | 343 | 308 | 254 |
| 834 | 23

[2019-06-07 19:51] tschaub opened #16113 "[styles] Selector for styled component"
## Context 🔦

With styled components, it is possible to create a selector for a component so that (for example) a child style may be updated when hovering on a parent.  I think (but have not confirmed) that emotion and others do this by generating a custom `toString` method for styled components.  So that something like this works (adapted from the [styled-components docs](https://www.styled-compo

[2019-06-07 19:51] oliviertassinari commented on #16107
It's a duplicate of #15999.

[2019-06-07 19:51] #16107 closed

[2019-06-07 19:57] oliviertassinari commented on #16110
@limpbrains This was done on purpose, it's not a decision that was left to chance.
Most of the time, a link is added in a broader context, you want to inherit it.

For instance in the description:

![Capture d’écran 2019-06-07 à 20 54 06](https://user-images.githubusercontent.com/3165635/59130102-6d019300-8966-11e9-99a4-e0018f84fde9.png)

In this example, the "issues" link is part of a parent ty

[2019-06-07 19:57] #16110 closed

[2019-06-07 20:02] oliviertassinari commented on #16113
@tschaub I do agree that it's an important feature to have, [styled-jss](https://cssinjs.org/styled-jss) supports it. Now, we plan on providing adapters to Material-UI and use the styled-components adapters by default. I'm not sure it's an issue worth investing time on.

[2019-06-07 20:04] oliviertassinari commented on #16111
You can find a benchmark under https://github.com/necolas/react-native-web/pull/1316.
We plan on providing style adapters for Material-UI v5, using styled-components as the default one. So I'm not sure this an issue worth spending time on.

[2019-06-07 20:15] limpbrains commented on #16110
Thank you very much, Oliver!

[2019-06-07 20:25] oliviertassinari commented on #16105
@koshkarik It seems to also be related to the `position: relative` of the parent elements. Do you have an idea of how we can fix the problem? Do you think that you could open an issue on Safari side? It seems like a problem with their rendering engine.

[2019-06-07 20:27] oliviertassinari commented on #16104
@tomtom94 Do you have a reproduction for us? I would suspect an issue with a CJS and UMD bundling duplication.

[2019-06-07 21:04] oliviertassinari commented on #16037
Should we close the issue?

[2019-06-07 21:44] joshwooding commented on #16037
That depends if we want to add `react-stripe-elements` to the docs

[2019-06-07 21:52] oliviertassinari commented on #15879
@mschipperheyn We want to move the system in the core components so that these props are always available.

Should be fixed in #16036.

[2019-06-07 21:56] oliviertassinari commented on #15604
Solved in https://github.com/cssinjs/jss/pull/1100.

[2019-06-07 21:56] #15604 closed

[2019-06-08 00:44] huyvlam commented on #10496
This method has limit however. When I apply theme to the root component, it applied to the root component and its direct children, however, deeply nested components that are imported by children component did not inherit the theme. In a large app, it would be nice to apply the theme once in one root component rather then many time in many components. Can this feature be improved to have a global a

[2019-06-08 08:01] Cyrus-d commented on #16094
do apologize your workaround works fine. so closing the issue.

[2019-06-08 08:14] Cyrus-d commented on #16094
ok, i was wrong, your solution does work, however, it won't work when setting flip dynamically:

` <StylesProvider jss={jss} flip={theme.direction === 'rtl' ? true : false} >`

Apparently `StylesProvider ` memorize the flip value, any idea how this can be solved?

thanks,

[2019-06-08 08:15] mbrookes opened #16116 "[docs] Icons section contains duplicate content"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Docs should not have duplicate content.

## Current Behavior 😯

The Accessibility section of the Icons page contains two "Decorative SVG Icons" and "Decorative SVG Icons"

## Steps to Reproduce 🕹

htt

[2019-06-08 09:34] eps1lon commented on #16037
It's more about a general example where no full `HTMLInputElement` is available and `react-stripe-elements` being an example for that.

[2019-06-08 09:47] #15821 closed

[2019-06-08 10:02] #15879 closed

[2019-06-08 12:19] fzaninotto commented on #14336
I've been bitten by this, too.

I wonder why you can't be a bit more optimistic to avoid the double pass on the client side, by trying to run the queries even on the server side, but testing the presence of `window` first:

[code]

[2019-06-08 12:22] fzaninotto commented on #14336
Also, there is no way to make the difference between "the effect hasn't run yet" and "the media query doesn't match". This is a problem if I want to deliberately trigger an effect on mount for certain media queries (e.g. hiding a sidebar by default on small screens) but I don't want to make it on large screens to because the effect hasn't run yet...

[2019-06-08 12:25] oliviertassinari commented on #14336
@fzaninotto The result needs to match between the server and the client hydratation. There is no way around it. The first pass ensures the correct hydratation and the second pass ensure the eventually correct value.

Does setting `defaultMatches: null` solve the problem (it can be set in the theme)?

[2019-06-08 12:30] oliviertassinari commented on #16116
@mbrookes The headers look good, do you have a more detail description of the problem?

![Capture d’écran 2019-06-08 à 13 29 11](https://user-images.githubusercontent.com/3165635/59147279-6ec46880-89f1-11e9-9c86-063e9c31fb70.png)

[2019-06-08 12:33] oliviertassinari commented on #10496
@huyvlam It should be working, it's the nominal use case. We don't encourage the creation of many theme providers in the application.

[2019-06-08 12:46] fzaninotto commented on #14336
can't you initialize `hydrationCompleted` to `window` to skip the double pass logic on the client side?

[2019-06-08 12:51] oliviertassinari commented on #14336
If we do it, we will lose the first pass that ensures the correct hydratation.
1. render on the server, windows is not defined => false
2. render on the client, try the hydratation, => true
3. conflict between false and true.

Am I getting it wrong? We have added the `noSrr` option for working around the problem.

[2019-06-08 13:18] dotansimha commented on #15832
We had a very similar issue in https://github.com/dotansimha/graphql-code-generator .
I found out that this caused it in our case:
- We are using Yarn Workspaces for monorepo, and we had the following structure:
[code]

The `website` dir is not part of the workspace, but when trying to run `live-demo`, it causes the same error you're having. If I add `website` to the Workspace, it seems to work. I

[2019-06-08 13:19] mark-szabo opened #16118 "[doc] Grid sample: '3' is not assignable to 'spacing'"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
eg. `<Grid container spacing={8}>`

## Current Behavior 😯
`<Grid container spacing={3}>`

## Steps to Reproduce 🕹
Link: https://material-ui.com/components/grid/#grid-with-breakpoints

## Context 🔦
Grid

[2019-06-08 13:35] fzaninotto commented on #14336
I feel that there might be a solution, but I'm not sure.  From what I understand, there are 3 cases:

- the code runs on the server. The developer MUST provide a ssrMatchMedia implementation. This implementation will be the one and only return of the hook.
- the code runs on the client following a server rendering. In that case, there is a ssrMatchMedia provided. the hook should first return the s

[2019-06-08 13:37] fzaninotto commented on #14336
Also, I know about `noSSR`, but it looks like the wrong solution. Sacrificing SSR to get faster client.

[2019-06-08 13:50] oliviertassinari commented on #14336
Most people don't care about the problem, it's not a requirement.

[2019-06-08 14:05] fzaninotto commented on #14336
Well, I didn't understand that it wasn't required while reading the documentation:

How can a developer pass a `matchMedia` if not via `ssrMatchMedia`?

Also, if SSR is 20% if the users but harms the 80% others, I think it's acceptable to ask a supplementaru effort to SSR users (passing a `ssrMatchMedia` implementation.

[2019-06-08 14:09] #16118 closed

[2019-06-08 14:10] oliviertassinari commented on #16118
@mark-szabo Make sure that the documentation version matches the version you have installed. material-ui.com is on v4, your source is on v3.

[2019-06-08 14:14] eps1lon commented on #14336
Agreed. window.matchMedia should not run in the render phase. It becomes tricky if you have two different builds for server and client. How does the client know what the server matched?

I think it's much safer to use an implementation that takes a `defaultMatches` (for the server) and runs the match in a passive effect. Otherwise your component will cause flashes. It's the same issue we have with

[2019-06-08 15:10] fzaninotto commented on #14336
Thanks for taking the time to answer my SSR-noob questions.

I don't understand that. The `ssrMatchMedia` should give the same result on the server and on the client hydration phase, to avoid a mismatch warning. Also, having two different implementations of `ssrMatchMedia` on the client and on the server seems to me as a corner case of what's already (SSR) a minority case. I wouldn't force a reren

[2019-06-08 16:23] #15951 closed

[2019-06-08 16:25] #15922 closed

[2019-06-08 16:30] oliviertassinari commented on #16094
@Cyrus-d I confirm the update issue. I'm having a look at it.

[2019-06-08 16:56] #15802 closed

[2019-06-08 17:37] mbrookes commented on #16116
Oops! It came from a report on Crowdin. I should have looked more closely :)

[2019-06-08 17:37] #16116 closed

[2019-06-08 18:21] oliviertassinari commented on #16094
Ok, so, the problem is that we only rely on the theme and styleCreator to update the styles. We don't consider the styleOptions. We could work around the problem, with another hack:
[code]

But I don't think that it would truly solve the problem, nor it will improve performance.
It's unlikely we will solve the problem in the near future. This is not a high priority issue. Solving the problem would

[2019-06-08 18:23] oliviertassinari commented on #15788
I'm closing.

[2019-06-08 18:23] #15788 closed

[2019-06-08 18:50] eps1lon commented on #14336
I'm talking about our implementation. We did a lot of premature optimization and shortcuts without actually profiling it. This is never a good idea.

But this is more internal ramblings. I'm not fully convinced yet that every component should/can be isomorphic. Especially a media query makes little sense on the server IMO. Maybe for a subset of the queries. I need to sit down at one point and step

[2019-06-08 18:58] Cyrus-d commented on #16094
i see, it's not a big deal, it does work when styles returned with a function, i just thought to raise the issue in case there is a fix for it.

thank you for taking time and looking at this issue.

[2019-06-08 23:11] ggascoigne commented on #14018
With the 4.0.2 version and ts 3.5.1 I can trigger this error by adding "strictNullChecks": false to my tsconfig.json.

[2019-06-09 08:08] retyui opened #16122 "[TS] Not used declareted MenuItemClassKey type"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

## Current Behavior 😯
I am working on [types for flow.js](https://github.com/flow-typed/flow-typed/pull/3373) and found that for the component `<MenuItem/>` you do not use `MenuItemClassKey`:

https:/

[2019-06-09 08:12] rg4real commented on #593
@oliviertassinari , does it mean that react native support is out of scope and in near future (e.g. 1 year) it won't be on radar?

[2019-06-09 08:46] oliviertassinari commented on #593
Yes

[2019-06-09 11:45] oliviertassinari commented on #16122
@retyui Wow, I wasn't expecting anyone to contribute the flow definitions. Thanks for doing it!

[2019-06-09 12:06] ivellios commented on #4050
Huh! A year passed and still "minus" symbol cannot be entered into the input for starting negative number. Any solution to that?

[2019-06-09 13:10] eps1lon commented on #14018
This is not supported by our typings:

-- https://material-ui.com/guides/typescript/

Every package published under `types/` isn't tested with `"strictNullChecks": false` as well meaning virtually no package supports this configuration.

[2019-06-09 14:14] Jan-White opened #16126 "Material's styles deleted on hot updates"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Hot updates do not delete <style> elements, that material-ui injects into the head.
## Current Behavior 😯

Hot updates do delete <style> elements, that material-ui injects into the head.
## Steps to R

[2019-06-09 14:59] ggascoigne commented on #14018
I’m surprised. I’ve inherited projects with strict:false and never had it generate *more* errors before.

Since v3.x worked, I assumed that 4.x would too.

Anyway, that note might help others who are reporting this problem, it’s certainly an unexpected cost to upgrading.

[2019-06-09 15:00] oliviertassinari commented on #16060
I have dived a bit into the issue. I could find the origin of it. The scroll moves as soon as `.focus()` is called. You can manually reproduce it.
![Capture d’écran 2019-06-09 à 16 46 34](https://user-images.githubusercontent.com/3165635/59160524-18c9f080-8ad7-11e9-86f4-ed3e1a6cf640.png)

1. Load:
[code]
2. Open the drawer
3. Find the drawer's paper element
4. Change the transition to make it of

[2019-06-09 15:01] oliviertassinari commented on #16126
It's a duplicate of #15999.

[2019-06-09 15:01] #16126 closed

[2019-06-09 15:02] #16029 closed

[2019-06-09 15:02] #16104 closed

[2019-06-09 15:07] aditya1906 commented on #16060
@oliviertassinari this is strange according to my code the drawer seems to work with the changes I made

[2019-06-09 15:09] oliviertassinari commented on #16060
@aditya1906 It breaks the animation, the starting position is no longer valid.

[2019-06-09 15:15] aditya1906 commented on #16060
@oliviertassinari I cannot reproduce the problem. The animation seems to be fine for me.
![Microsoft-Edge-2019-06-09-20-41-51](https://user-images.githubusercontent.com/49206592/59160778-7a9a5280-8af7-11e9-9216-e852fe8ea0e0.gif)

[2019-06-09 15:18] oliviertassinari commented on #16060
@aditya1906 They are 6 steps

[2019-06-09 15:20] aditya1906 commented on #16060
Which version of Edge are you using?

[2019-06-09 15:22] oliviertassinari commented on #16049
@ianschmitz Thanks, this is definitely a duplicate of #11865 (if we can continue the discussion on this issue, it's perfect). I'm closing.
However, I'm wondering what requires the usage of `FormControlContext`? What API would you need (we won't expose the context API directly)?

[2019-06-09 15:22] #16049 closed

[2019-06-09 15:23] oliviertassinari commented on #16060
Edge 18.

[2019-06-09 15:28] aditya1906 commented on #16060
But what is the problem with the changes I made?
direction === up is `return `translateY(100vh) translateY(-${rect.top - offsetY}px)`;`
so why my changes are invalid?

[2019-06-09 15:29] oliviertassinari commented on #16060
@aditya1906 1. On my tests, it wasn't solving the problem, I still have occurrences of problems, the transition value is not correct, it should move the whole paper off screen.

[2019-06-09 15:33] aditya1906 commented on #16060
So then it seems to be an issue with Edge. So I think this isn't a material-ui issue right?

[2019-06-09 15:40] oliviertassinari commented on #16060
I have removed the "low priority" flag as it also affects the Dialog. Yes, I do think that it's an issue in Edge. I hope their new chromium based rendering engine will solve that for free.

[2019-06-09 15:41] aditya1906 commented on #16060
Okay. So then we might have to change the Microsoft Edge version support after Edge releases the new version

[2019-06-09 15:43] aditya1906 commented on #16060
But isn't
`translateY(-100vh) translateY(567px)` equivalent to `translate(-567px)`

[2019-06-09 15:43] oliviertassinari commented on #16060
No

[2019-06-09 15:45] aditya1906 commented on #16060
Okay But I fail to reproduce the problem. So do you think I close this issue. Since it isn't a material-ui issue

[2019-06-09 15:47] oliviertassinari commented on #16060
I don't think that we should close it until we have provided are production to the Edge team (pure CSS & JS, no React) and that we have the confirmation it's on their side.

[2019-06-09 15:49] aditya1906 commented on #16060
By The Way  direction === up
the transition is return translateY(100vh) translateY(-${rect.top - offsetY}px);
Here how is right?

[2019-06-09 15:51] aditya1906 commented on #16060
Or maybe we can keep my changes as a temporary change till Edge release a new version. Since in mine it is working chances are that in someone elses machine it works.

[2019-06-09 16:01] aditya1906 commented on #16060
What do you think @oliviertassinari ? Temporarily I think it is okay.

[2019-06-09 17:15] eps1lon commented on #14018
There were other issues in 3.x as far as I remember. You either didn't encounter them or already had unsound types. This requirement wasn't introduced with 4.x.

[2019-06-09 17:22] ggascoigne commented on #14018
I'm sure that there were and I lucked out.

But, if I take a sample project that compiles fine with `strict: true`, I don't expect to hit this issue simply by flipping it to `strict: false`.  I don't see how unsound types would have anything to do with that situation.

[2019-06-09 17:47] oliviertassinari commented on #15999
I'm looking into it.

[2019-06-09 18:13] aditya1906 commented on #16060
@oliviertassinari can u figure out how exactly it works in my browser looking at the GIF?

[2019-06-09 19:47] oliviertassinari commented on #15937
@joaosilvalopes Thanks for taking the time to dive into the problem! I believe we can move forward with the last proposal:
[code]

It solves this #15937 and #11696. Do you want to submit a pull request? :)

[2019-06-09 19:49] oliviertassinari commented on #11696
A solution was found in https://github.com/mui-org/material-ui/issues/15937#issuecomment-499848759.

[2019-06-09 22:46] rolandoldengarm commented on #15946
Awesome, perfect @oliviertassinari !!

[2019-06-09 22:47] rolandoldengarm commented on #16052
@eps1lon  getting this error both in IDE (VSCode) as well as when compiling.

My tsconfig:

[code]

[2019-06-10 02:41] Pikachews opened #16132 "useMediaQuery SSR example does not work"
The server-sided rendering example in the useMediaQuery documentation does not seem to work.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The example provided in the documentation should display `true` when Javascript is disabled.

## Current Be

[2019-06-10 03:47] aditya1906 commented on #15961
It should have been resolved in #15863

[2019-06-10 04:45] mesvil7 commented on #15867
Also I'm using `import { StylesProvider, createGenerateClassName } from '@material-ui/styles'` folowing you documentation here [https://material-ui.com/styles/api/#creategenerateclassname-options-class-name-generator](url) and this is triggering the next error: It looks like there are several instances of `@material-ui/styles` initialized in this application.
This may cause theme propagation issue

[2019-06-10 06:09] havenchyk commented on #15961
@aditya1906 I don’t think so

[2019-06-10 07:04] eps1lon commented on #16052
@rolandoldengarm Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2019-06-10 07:20] eps1lon commented on #16132
Confirmed:
![mui-ssr-media](https://user-images.githubusercontent.com/12292047/59178961-d9e07d00-8b60-11e9-9600-d8dcabbc2a8c.gif)

- `Ubuntu 18.04.2 LTS`
- `Chrome Version 75.0.3770.80 (Official Build) (64-bit)`

[2019-06-10 07:25] eps1lon commented on #14018
Has to do with utility types that break with `strictNullChecks: false`. Without that flag `undefined | null` can be assigned to `any`. Those are implementation details though.

- https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html
- https://basarat.gitbooks.io/typescript/docs/options/strictNullChecks.html

[2019-06-10 07:54] oliviertassinari commented on #16132
I believe it's a duplicate of https://github.com/mui-org/material-ui/issues/15187.

[2019-06-10 08:06] eps1lon commented on #16132
I agree:

[2019-06-10 08:06] #16132 closed

[2019-06-10 08:13] #15689 closed

[2019-06-10 08:38] oliviertassinari commented on #16132
@Pikachews if you can upvote the corresponding issue, it would help us prioritize.

[2019-06-10 08:43] bijay-shrestha commented on #4752
It is not working

[2019-06-10 11:34] sashberd commented on #16029
@oliviertassinari You close issue that was not resolved and the problem exists now in material ui... I cannot provide to you code, but I provided enough information in order to reproduce this issue in yours engines. So why close and not resolve?

[2019-06-10 11:38] oliviertassinari commented on #16029
@sashberd We ask our users to provide live reproductions for two reasons:
1. Somebody not willing to take the time to provide a reproduction signal that the problem is not really important for them. It helps us only working on important problems.
2. Somebody providing a reproduction save us time. It helps us solve more problems.

[2019-06-10 11:41] mbrevda commented on #14840
@girlsfamily what was your fix?

[2019-06-10 12:22] jdboni opened #16135 "[system] Component issue displayPrint"
Hello,

I found an issue with the component Box.
the `displayPrint` attribute looks not working once you try to make it dynamic.
is there another way to make it works ??

[code]

looks like only the first value given is taken into account.

Chrome: Version 74.0.3729.169 (Official Build) (64-bit)

[2019-06-10 12:29] TimAstier commented on #8581
Also having the `label` problem. I used @brennancheung's workaround.

[2019-06-10 13:32] oliviertassinari commented on #16135
@jdboni Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-06-10 13:46] Rennzie opened #16136 "Down arrow in NativeSelect OutlinedInput is not clickable"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The down arrow in the Select Input should open the select when clicked

## Current Behavior 😯

You have to click the input area of the Select to open it rather than the down arrow.

## Steps to Reprod

[2019-06-10 14:01] jdboni commented on #16135
Hi @oliviertassinari  here you can find an example:

https://codesandbox.io/s/create-react-app-bk7yk

Normally if you click on the button "Hide" and after "print" you should not see the Box.

Regards,
JD

[2019-06-10 14:20] aditya1906 commented on #16135
@jdboni change `displayPrint `to `display`

[2019-06-10 14:20] oliviertassinari commented on #16135
@jdboni Thank you. I can confirm the bug. It seems to be an issue at the JSS level, it works with styled-components:
[code]

[2019-06-10 14:32] jdboni commented on #16135
Nice! indeed I confirm that it is working with this patch!
Thanks!

[2019-06-10 14:50] mjadczak opened #16138 "SvgIcon TypeScript declaration causes thousands of errors"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Compiling with the included TS declarations should not throw errors.

## Current Behavior 😯

Since upgrading to 4.1.0 of both `@material-ui/core` and `@material-ui/icons`, whenever I compile my projec

[2019-06-10 15:05] oliviertassinari commented on #16135
I have created a related issue: https://github.com/cssinjs/jss/issues/1118.

[2019-06-10 15:24] MarchWorks commented on #16013
I tested it and it seems that it happen because `props.muiFormControl` has `undefined` as a value (the prop `muiFormControl` exist)

[2019-06-10 15:25] ianschmitz commented on #11865
@oliviertassinari - continuing conversation from #16049.

Here's a very high level implementation of how we use `FormControlContext` in a custom component composed of MUI components.

![image](https://user-images.githubusercontent.com/6355370/58903763-06a51800-86bb-11e9-8e93-6c12401ffe91.png)

[code]

Usage:
[code]

[2019-06-10 15:26] MarchWorks commented on #16013
@oliviertassinari can you tell me where `muiFormControl` is set so that I see what's happening

[2019-06-10 16:10] oliviertassinari commented on #16013
@MarchWorks I don't know

[2019-06-10 16:26] oliviertassinari commented on #11865
Interesting, we will remove `withFormControlContext` in the near future. We will replace it with a `useFormControlState` (#15231). I believe that we could expose this hook.

[2019-06-10 16:30] #16051 closed

[2019-06-10 16:33] MarchWorks commented on #16013
So for future reference this
https://github.com/mui-org/material-ui/blob/07b9d6efaac1b663b2657173227e9490c796191e/packages/material-ui/src/InputLabel/InputLabel.js#L113
has `undefined` as a value when SSR

[2019-06-10 17:41] huyvlam commented on #10496
@oliviertassinari Indeed, found the issue: I used ThemeProvider as a wrapper, and inside I included MuiCSSBaseline like this: <ThemeProvider><Grid><MuiCSSBaseline /></Grid></ThemeProvider>

I was able to make it work buy rearraning them like: <Grid><MuiCSSBaseline /><ThemeProvider /></Grid>.

Thanks for your help.

[2019-06-10 17:48] NaderIkladious commented on #204
@eladlevy This would end up in a poor semantics HTML.

[code]

[2019-06-10 18:10] joaosilvalopes commented on #15937
@oliviertassinari  Thank you for the awesome component library :smile:, keep it up, pr open.

[2019-06-10 19:56] samspeake commented on #10917
The fixes listed here weren't working for me, so something else we found is that you can surround the Select in a div and set the width of the div to be what you want, with fullWidth true within the Select component.

[2019-06-10 20:57] estebansolisd opened #16144 "Tab Problem"
When i try to do this

[code]

Calling the component:

[code]

Appears this error in console **Warning: Material-UI: you are trying to override a style that does not exist.
Fix the `label` key of `theme.overrides.MuiTab`.**

Versions:
    "@material-ui/core": "4.0.2",
    "@material-ui/icons": "4.0.1",

[2019-06-10 21:44] adeelibr commented on #15734
I am so sorry for the late response @oliviertassinari but I didn't understand your comment. About adding a `Component` prop since we can have the transition effect without adding this prop.

For this file `docs\src\pages\components\grid-list\TitlebarGridList.js`. I just wrapped `GridListTileBar` in `Slide` component and it works.

Codesandbox https://codesandbox.io/s/material-ui-example-gridlistti

[2019-06-10 22:49] mbrookes commented on #16144
You have `tabOptions` twice.

[2019-06-11 02:17] ianschmitz commented on #11865
@oliviertassinari sounds like a good plan. In our situation we only use the HOC to forward the control to `formControlState`. The hook would be fantastic.

[2019-06-11 02:20] estebansolisd commented on #16144
@mbrookes no exactly, are two differents variables

[2019-06-11 04:01] aditya1906 opened #16147 "Re exports in @material-ui/core/styles from @material-ui/styles"
In `@material-ui/core/styles` we export as default from `@material-ui/styles` For example:
`import { ThemeProvider } from '@material-ui/styles';`
`export default ThemeProvider;`

Can we re export it as default like this?
`export {ThemeProvider as default} from '@material-ui/styles'`

If you are happy with this idea. I'll create a Pull Request with these changes.

[2019-06-11 05:40] eps1lon commented on #16147
If this doesn't have any impact other than stylistic I'd rather not change it.

[2019-06-11 05:57] aditya1906 commented on #16147
In some of the docs inline exports have been used maybe we can change the packages to inline exports for consistency.

[2019-06-11 06:02] punnadittr opened #16149 "Textfield variant outlined's border color doesn't change when focus on mobile"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The outlined border color should change from grey to primary color (when focus) across all breakpoints

## Current Behavior 😯
On mobile (both devtools and android chrome), the border color won't change

[2019-06-11 06:02] aditya1906 commented on #16147
So for consistency purpose maybe it is a good idea to change these re exports to an inline re exports

[2019-06-11 06:19] joshwooding commented on #16147
I’m not sure if this is that important, I’m not against the change but it’s definitely low priority and is only stylistic.

[2019-06-11 06:28] eps1lon commented on #16147
If it's only stylistic than I'd rather avoid it.

[2019-06-11 06:29] #16144 closed

[2019-06-11 06:30] joshwooding commented on #16144
@estebansolisd I would ask this on stack overflow and provide a reproduction

[2019-06-11 06:37] FabianSellmann commented on #16138
Can confirm this error.

[2019-06-11 06:44] #15553 closed

[2019-06-11 06:44] #15964 closed

[2019-06-11 06:51] #11696 closed

[2019-06-11 06:51] #15937 closed

[2019-06-11 07:19] aditya1906 commented on #16147
But Why isn't ThemeProvider default in `@material/styles` itself? In that case we don't need ThemeProvider in `@material/core/styles`

[2019-06-11 07:28] eps1lon commented on #16147
This is just there for convenience.

I don't understand that statement. Those are the exact same paths you mentioned.

[2019-06-11 07:35] aditya1906 commented on #16147
What I asked in the package wherever we have
`import { ThemeProvider } from '@material-ui/core/styles'`
Why don't we import it directly from `@material-ui/styles`
`import { ThemeProvider } from '@material-ui/styles'`

[2019-06-11 07:36] aditya1906 commented on #16147
What I asked in the package wherever we have
`import { ThemeProvider } from '@material-ui/core/styles'`
Why don't we import it directly from `@material-ui/styles`
`import { ThemeProvider } from '@material-ui/styles'`

[2019-06-11 07:40] aditya1906 commented on #16147
Since ThemeProvider in `/core/styles` and `/styles` are the exact same functions. So why do we need that in `core/styles`?

[2019-06-11 07:50] eps1lon commented on #16147
It is there for convenience. You can follow the git blame to find more context about this change.

[2019-06-11 07:53] aditya1906 commented on #16147
I get it so basically if we use ThemeProvider from `/core/styles` or `/styles` it doesn't make any difference?

[2019-06-11 08:08] #16138 closed

[2019-06-11 08:10] michael-ecb opened #16150 "React-Jss injectSheet overriden by Material ui V4"
Hi,
I'm not sure that is because of my configuration, an storybook bug or your...
React-jss injectSheet is injected before Material ui styles so it's overridden .
it's only happen in **Storybook** and not in production code.

this is my configuration:

"@storybook/addon-actions": "5.1.1"
"@storybook/react": "5.1.1"
"react-scripts": "3.0.1"
"react-jss": "8.6.1"
"react": "16.8.6"
"@material-ui/core"

[2019-06-11 08:44] rejas opened #16151 "Slider stepValue < 1 gives rounding errors"
- [x ] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Setting my slider with a stepValue < 1 (like 0.1) should only give values that are multiplication of the stepValue

## Current Behavior 😯
Some stepValues have rounding errors like 0.7000000000000001

[2019-06-11 09:25] aditya1906 commented on #16147
@eps1lon There are some .tsx file missing in `docs/src/pages` So do you want me to create a PR including those .tsx files?

[2019-06-11 09:45] VMasap opened #16152 "[Switch] size property isn't working"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When I create Switch component and using 'size' prop inside with 'small' value, component or component icons become small.
[code]
That's because: https://material-ui.com/api/switch/#inheritance
`The pr

[2019-06-11 09:50] koshkarik commented on #16105
Yep, i will open the issue on Safari side 👌

[2019-06-11 10:12] joaosilvalopes commented on #16151
This is due to the way javascript [stores decimal numbers](https://modernweb.com/what-every-javascript-developer-should-know-about-floating-points/)

If you go to your console right now and type 1.1 * 0.1 it will print 0.11000000000000001.

To get around this you can change the slider `valueReducer` passing a custom one by prop.

Although i believe this is something that should be fixed in the cor

[2019-06-11 10:31] sarod commented on #13394
"@material-ui/lab/SpeedDial" demo issues warning when used with StrictMode see https://codesandbox.io/s/speed-dial-with-strictmode-oicqp. Should I create a separate bug?

[2019-06-11 10:35] eps1lon commented on #13394
@sarod

-- https://material-ui.com/api/speed-dial/#notes

[2019-06-11 10:55] vmajsuk opened #16153 "[TS] ListItemProps seems broken"
There are typescript errors when passing props of type `ListItemProps` to `ListItem`:
[code]

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
No errors.

## Current Behavior 😯
[code]

The error disappears when providing button={false} explicitly:
[c

[2019-06-11 11:29] Naismith commented on #15999
@oliviertassinari Hey Oliver, have you had any chance to look into this yet? This has been bugging me in the current project I am working on.

[2019-06-11 12:00] eps1lon commented on #16153
Duplicate of #14971

[2019-06-11 12:00] #16153 closed

[2019-06-11 12:38] BC-M opened #16156 "[ButtonGroup] + [IconButton] Warning: React does not recognize the fullWidth prop on a DOM element."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

No warning in console, when using ButtonGroup and IconButton.

## Current Behavior 😯

Warning in console, when using ButtonGroup and IconButton.

## Steps to Reproduce 🕹

Link: [Codesandbox](https://c

[2019-06-11 13:53] nickjohnson-dev opened #16158 "@material-ui/styles - Support deterministic classnames in non "Mui*" components"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Ideally, the `createGenerateClassName` helper could take an option to allow all classnames, or classnames with a certain prefix to use deterministic classes just like `Mui*` classes do currently. Some

[2019-06-11 13:56] oliviertassinari commented on #16156
@BC-M This use case is not supported. Don't do that. What's wrong with?
[code]

![Capture d’écran 2019-06-11 à 15 56 05](https://user-images.githubusercontent.com/3165635/59278007-7ee27f00-8c61-11e9-893d-caa24909bb43.png)

[2019-06-11 14:02] oliviertassinari commented on #16152
@VMasap Correct, this is not supported.

[2019-06-11 14:05] oliviertassinari commented on #16151
@rejas Could you explain how it's a problem in your application?
@joaosilvalopes The slider is beeing reworked in #15703.

[2019-06-11 14:07] oliviertassinari commented on #16150
@michael-ecb Do you have a reproduction?

[2019-06-11 14:17] rejas commented on #16151
@oliviertassinari it isnt a critical problem since I can do the rounding indeed myself before displaying it or using the value somewhere else. Its just some unexpected stuff...

[2019-06-11 14:17] oliviertassinari commented on #16158
@nickjohnson-dev Thanks for the feedback. I have no objection with adding this feature. Do you still need the `Mui` prefix to work? We could make `Mui` the default value of this option. Alternatively. Have you tried to copy & paste the source of the class name generator with a custom value to confirm that it answer your problem?

[2019-06-11 14:18] #16147 closed

[2019-06-11 14:20] oliviertassinari commented on #16147
@aditya1906 Thanks for the proposal, I agree with Sebastian, it won't make a difference.

[2019-06-11 14:22] BC-M commented on #16156
It doesn't match our design. We only use an arrow icon to label the button, which is why we chose the IconButton component. The function of the IconButton sounded most suitable for us.

Probably it will be enough for us to simply place the IconButtons one by one.

Many thanks for the quick feedback.

[2019-06-11 14:22] #16156 closed

[2019-06-11 14:29] aditya1906 commented on #16147
:+1:

[2019-06-11 14:31] aditya1906 commented on #16147
@oliviertassinari could you review #16137?

[2019-06-11 14:34] nickjohnson-dev commented on #16158
@oliviertassinari Yes I have tried copying the `createGenerateClassName` helper source locally and changing `name.indexOf('Mui') === 0` on line 48 to `(name.indexOf('Mui') === 0 || name.indexOf('Uxt') === 0)` and it does exactly what I was hoping for.

This is fine as a local fix for me, but I wanted to add the feature request in case other users would find this feature useful, and also so I don't

[2019-06-11 14:35] michael-ecb commented on #16150
@oliviertassinari  a code example can help ?

[2019-06-11 14:35] CrappyChris opened #16159 "Timeline icon created duplicate SVG paths"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Rounded Timeline Icon color should be the same as any other icon color.

## Current Behavior 😯

Rounded Timeline icon color is darker than other icons. I looked at the html and its added 2 SVG paths.

[2019-06-11 14:44] oliviertassinari commented on #16149
@punnadittr Thanks for reporting this regression between v3.9.3 and v4.0.2. I can't track down the source of the problem. This seems to be a specificity issue in JSS.

The following diff fixes the problem:
[code]

cc @kof

I can't find any other occurrences of the problem in the codebase, I believe this patch is safe to apply. Do you want to submit a pull request?

[2019-06-11 14:48] oliviertassinari commented on #16150
"@material-ui/core": "4.1.0"

You are using two different versions of JSS (v9 and v10). You need to configure the injection order. We have documentation about it. The `injectFirst` prop should do the trick.

[2019-06-11 14:48] #16150 closed

[2019-06-11 14:49] oliviertassinari commented on #16158
For simplicity, I would rather have a single prefix. I don't think that we should force `Mui`.

[2019-06-11 14:49] kof commented on #16149
Is it this https://github.com/cssinjs/jss/issues/1045 ?

[2019-06-11 14:50] oliviertassinari commented on #16147
@aditya1906 I'm aware of this pull request. Asking won't change my priorities. Soon or later I will come to it.

[2019-06-11 14:53] oliviertassinari commented on #16149
I'm wondering if the @media doesn't change the code paths. If I had to estimate a probability, I would say 0.5.

[2019-06-11 15:00] aditya1906 commented on #16147
:+1:  No problem

[2019-06-11 15:12] oliviertassinari commented on #16136
@Rennzie This is not the first time I see this problem. There is a specificity issue between the `OutlinedInput` and `NativeSelect` components, it's probably an architectural issue. They both try to set the `padding-right` property on the native select element.

[2019-06-11 15:16] mschipperheyn opened #16161 "[Avatar] Improve image loading and fallback logic"
The Avatar shows either an image or a child (text or icon). I would like it show the child temporarily while the image is loading (of provided).

- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Letter Avatar should be used as a fallback for when t

[2019-06-11 15:51] eduardomcv opened #16162 "[SwipeableDrawer] JS error when dragging it"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Though I found a similar issue, #12094, it's been closed since Jul 31, 2018, so I decided to create a new one.
The current behavior and steps to reproduce are the same.

## Expected Behavior 🤔
No errors.

## Current Behavior

[2019-06-11 16:05] socketpair commented on #16152
@oliviertassinari what about `The properties of the ButtonBase component are also available.` ?

1. It will be nice to have support of "small" switches. I also need them for using in dense tables.
2. If it is impossible -- please add to documentation what properties should work and what will not

[2019-06-11 16:49] socketpair opened #16163 "[docs] Translation markdown issue"
https://material-ui.com/ru/customization/spacing :

in English looks like:

![изображение](https://user-images.githubusercontent.com/1157412/59290650-7bb3b700-8c92-11e9-9565-cdc9720f575f.png)

in Russian it looks even more weird:

![изображение](https://user-images.githubusercontent.com/1157412/59290691-971ec200-8c92-11e9-86e8-d2133a412bfb.png)

============

Also, it seems, this `spacing` does no

[2019-06-11 16:54] socketpair commented on #14280
#16163

[2019-06-11 17:14] oliviertassinari commented on #11865
While it might be more challenging than the other good first issues, I'm adding the flag. It's relatively simple, the only thing left that could stop to make it happen is somebody from the core team having none already revealed concerns with the approach.

[2019-06-11 17:22] oliviertassinari commented on #15734
@adeelibr Oh right, thanks.

[2019-06-11 17:22] #15734 closed

[2019-06-11 17:44] joshwooding commented on #16151
I think it’s probably okay for this to be fixed in core, although I’m wondering if this creates unexpected JS behaviour

[2019-06-11 17:56] oliviertassinari commented on #16151
What determines the precision we return? Assuming I use 1/3 as a step, how is the fix going to look like?

[2019-06-11 18:42] oliviertassinari commented on #16163
I would hope this diff to fix the problem:
[code]

Do you want to give it a try? :)

[2019-06-11 19:43] oliviertassinari commented on #16162
@eduardomcv Can you provide a reproduction?

[2019-06-11 19:51] #16095 closed

[2019-06-11 20:02] socketpair commented on #16163
Why we need a diff block ?! Maybe rephrase like "instead of this you may write this" or so.

[2019-06-11 20:07] oliviertassinari commented on #16163
In the English version, would you prefer is without the diff block?

[2019-06-11 20:13] socketpair commented on #16163
Yes. I don't know why it is used here. For any language.

Also, it will be nice if you add explanation what spacing changes. Using live example, screenshot or text.

[2019-06-11 20:50] oliviertassinari commented on #16163
@socketpair If you have the time, could you open a pull request with the proposed changes? We would love to review them!

[2019-06-11 20:51] joshwooding commented on #16163
`You can use the arguments to reduce the boilerplate:` and then a diff means  "instead of this you may write this" to me.

[2019-06-11 21:10] joshwooding commented on #16162
I would have thought https://github.com/mui-org/material-ui/blob/34c99ce875f425cc547f47885979cf8a6f1eedda/packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js#L215 fixed those errors.

[2019-06-11 21:15] joaosilvalopes commented on #16151
In [`rc-slider`](https://www.npmjs.com/package/rc-slider) they always round it to step precision as well which i believe is the best approach to cover non-repeating decimals as step use cases.

For repeating decimals like `1/3` i don't think there is anything we can do other than rounding it to all the decimal places `1/3` has.

[2019-06-11 21:19] joshwooding commented on #16151
Context: https://github.com/react-component/slider/blob/master/src/utils.js#L73

[2019-06-11 21:30] oliviertassinari commented on #16151
This sounds like a good idea then. To be explored after #15703.

[2019-06-11 21:32] oliviertassinari commented on #16162
v4.1.0 right?

[2019-06-11 21:43] joshwooding commented on #16162
Right :+1: @eduardomcv Can you reproduce it in v4.1.0?

[2019-06-11 21:50] oliviertassinari commented on #14555
The problem was solved in #15780.

[2019-06-11 21:50] #14555 closed

[2019-06-11 22:22] theKashey commented on #15999
I've doublechecked this behavior with upcoming React Fresh, and it would be the same.
So we have to find a solution, compatible with these constraints, but I am not sure that MUI shall do it by their own, as long as any project might need that _Synchronous Effect_, in the same way MUI needs it.

[2019-06-11 22:27] oliviertassinari commented on #15999
@theKashey Thanks for checking! I haven't looked into it yet, to be honest, but I hope we can release a v4.1.1 tomorrow with this fix and the TypeScript regression. The hook logic also has an issue with the Concurrent Mode, the problem is related.

[2019-06-11 23:45] MMrj9 opened #16168 "Demo AppBar - Cannot read property 'root' of undefined"
I'm trying to run the demo code for the AppBar and I'm having the following error:

AppBar Code

[code]

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Your Environment 🌎

| Tech         | Version |
|--------------|---------|
| Material-UI  | v4.1.0  |
| React

[2019-06-11 23:54] joshwooding commented on #16168
Please can you provide a minimal reproducible example? A codesandbox or a stand-alone got repository will do.

[2019-06-12 01:13] girlsfamily commented on #14840
try the latest ssr example.  I missed cross-env NODE_ENV=production before

[2019-06-12 05:28] mbrevda commented on #14840
`NODE_ENV=production` fixed it here, too. Thanks!

[2019-06-12 06:45] eddyw opened #16172 "TypeScript complains: 'SvgIcon' refers to a value, but is being used as a type here."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Running `tsc --noEmit` shouldn't complain on icons about:
[code]

## Current Behavior 😯

Running `tsc --noEmit` with `"skipLibCheck": false` option in `tsconfig.json` file complains with:
[code]
(+522

[2019-06-12 07:47] eps1lon commented on #16172
Duplicate of #16138

[2019-06-12 07:47] #16172 closed

[2019-06-12 07:56] #15657 closed

[2019-06-12 08:06] luky1984 commented on #16138
With older typescript i even get multiple errors

/node_modules/@material-ui/icons/index.d.ts
(4,27): Cannot find name 'SvgIcon'.

but not on fresh project so there must be also another another condition. maybe new fresh project automatically does skipLibCheck or i dont know. i am struggling to make it working.

    "@material-ui/core": "^4.1.0",
    "@material-ui/icons": "^4.1.0",
    "react": "^

[2019-06-12 08:20] seed-of-apricot opened #16173 "Example in "variantMapping" document does not work"
**Description**
[The example "Changing the semantic element"](https://material-ui.com/components/typography/#changing-the-semantic-element)

[code]

does not work with an error:

[code]

**Environment**

| Tech         | Version |
|--------------|---------|
| Material-UI  | v4.0.2  |
| React        |  v16.8.6   |
| TypeScript   |   v3.5.1      |
[code]

[2019-06-12 08:29] #16159 closed

[2019-06-12 09:08] gregrafferty commented on #16100
Is this actually a fix? It seems like it just works around the bug?

[2019-06-12 09:24] paddotk commented on #11379
I have the same issue. I think the documentation isn't clear enough as to what is expected; what is meant by `elementType` exactly? I'd expect to be able to use something like a custom SVG icon but that does not work.

[2019-06-12 09:33] mnogueron opened #16176 "[doc] Missing migration steps to v4 regarding SSR"
### Description
The steps to get CSS styles when doing server rendering has changed from v3 to v4, and is now using `ServerStyleSheets` from `@material-ui/styles`.

Although it is a big breaking change (broken styles in the served page from SSR with old code), there is no mention of how to migrate from v3 `SheetsRegistry` to v4 `ServerStyleSheets` nor any mention of this breaking change in the mig

[2019-06-12 09:52] naman13924 commented on #14101
Kindly create a breakpoint or useMediaQuery functionality for Class Components as well without using higher order component or render props.
React has committed that it will never remove class based components than why people take it that it will get depreciated soon. There are thousands off React apps based on class components.

[2019-06-12 10:10] oliviertassinari commented on #14101
@naman13924 Where have you seen this commitment? So far I have seen that they don't plan to touch it for many months. But does it mean forever?

[2019-06-12 10:36] eduardomcv commented on #16162
@joshwooding @oliviertassinari
Sorry for the delay. I can reproduce it it in 4.0.2 but not in 4.1.0, so it seems that the issue has been fixed.

[2019-06-12 10:46] oliviertassinari commented on #16162
Nice :)

[2019-06-12 10:46] #16162 closed

[2019-06-12 10:46] bartvde commented on #16052
I'm also running into this, the workaround described above did the trick though

[code]

[2019-06-12 10:55] merceyz commented on #16173
Looking at the definition the issue is that it isn't setting these values
[code]

[2019-06-12 11:05] oliviertassinari commented on #16176
@mnogueron The steps are:
1. Remove everything you had before
2. Follow https://material-ui.com/guides/server-rendering/.

About ~15% of our user do server-side rendering, the vast majority do it with Gatsby or Next.js, we have examples for these projects. The others that don't, are the advanced & adventurous users.

[2019-06-12 13:29] nareshbhatia commented on #11517
Does the following pattern look ok for using `combineStyles` with `makeStyles`?

[code]

[2019-06-12 14:02] jkhaui opened #16178 "Module not found: Can't resolve '@material-ui/lab/ToggleButton'"
Upgraded to v4, there is no lab folder to be found in the node_modules package. ToggleButton does not exist in the core folder either. Unless I've misunderstood something, why is ToggleButton being documented as a component if it's not even included in the install https://material-ui.com/api/toggle-button/

[2019-06-12 14:23] #16178 closed

[2019-06-12 14:48] martinmckenna opened #16179 "[MUIv4 Upgrade w/ TypeScript] Cannot spread props to TextField Properly"
Current Version: `4.1.0`

I am having issues spreading props to an abstracted `<TextField />` component I've created.

Code is here: https://gist.github.com/martinmckenna/a3c7f261225c44b74ccb9d0f69f892e6

It's bombing with the following error:

[code]

It appears that the `...rest` in the PasswordInput should be equal to the `StandardTextFieldProps` but for some reason I'm getting errors for my co

[2019-06-12 15:12] marcel-k opened #16181 "the Menu component doesn't accept a Fragment as a child"
Hi,

i'm getting this error:

_Warning: Material-UI: the Menu component doesn't accept a Fragment as a child.
Consider providing an array instead._

using this code.
[code]
The menu seems to work just fine even when I use the fragment. You can put any and every html/react element as content for the menu so why not Fragment? Will this cause issues I cannot see right now? If it doesn't, why even dis

[2019-06-12 15:17] Kaustix commented on #14357
@VincentLanglet how would you import createMuiTheme inside your theme?

I'm getting the following error since i'm assuming '@material-ui/styles' is being mocked and the '@material-ui/core/styles' is importing '@material-ui/styles

`TypeError: (0 , _styles.withThemeCreator) is not a function

        | ^
      2 |
      3 | const theme = createMuiTheme({});

      at Object.<anonymous> (node_module

[2019-06-12 15:23] VincentLanglet commented on #14357
@Kaustix I did not `import createMuiTheme` but `import theme from '../../src/theme/muiTheme';`

But if you want to import a non-mocked function, use `jest.requireActual`
Like I did for `const styles = jest.requireActual('@material-ui/styles');`

[2019-06-12 15:35] Kaustix commented on #14357
@VincentLanglet sorry don't think i explained very well.

I'm importing createMuiTheme inside my themes.js which is causing the issue so not sure how to fix the error.

// mock/styles.js

[code]

[code]

causes the error:

[code]

[2019-06-12 15:56] oliviertassinari commented on #16181
I'm closing as a duplicate of #14943. In your case, you should return an array, you don't need the fragment.

[2019-06-12 15:56] #16181 closed

[2019-06-12 16:01] VincentLanglet commented on #14357
It's been month I didn't touch my project. This is what I had

[code]

[code]

I see you wrote `'../../../src/theme';` and not `'../../src/theme';`.
What is the path of your mock ?
I mock `@material-ui/styles.js`, not `@material-ui/core/styles.js`. That can change a lot of thing.

[2019-06-12 16:05] #16179 closed

[2019-06-12 16:08] Kaustix commented on #14357
@VincentLanglet  thank you so much!!
it was the import statement

[code]

since the latter was going after index.js which brought '@material-ui/styles'

[2019-06-12 16:31] zhogan-alegion commented on #16100
I am still experiencing this issue and I've insured that all of my imports are as such:

`Import Component from '@material-ui/core/Component'`

I am using Material UI Core 3.9.3 and Material UI Styles 4.1.0. Is there a compatibility version between the 2?

[2019-06-12 17:12] GalGreenfield opened #16183 "`withStyles` not passing a component's `key` prop from parent component"
I have a parent class component called `Word` that renders children class components, each called called `WordPart`, in a loop - here's `Word.render`:
[code]

and later on in the file I export `WordPart` with `withStyles`.

In the child component, in `WordPart`, in the constructor, I `super(props)` and define:
`this.key = this.props.key`.
Later in the file of `WordPart`, I export it with `withStyl

[2019-06-12 17:15] fzaninotto opened #16184 "Regression: withWidth fails on the server side because of useMediaQuery"
Since #15678, the `withWidth()` HOC fails on the server-side (in unit tests run with react-testing-library) with the following error:

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

No regression in a bugfix release, unchanged `withWidth()` behavi

[2019-06-12 17:21] oliviertassinari commented on #16184
@fzaninotto If you are mounting the components, you need the browser API to be available. It seems that JSDOM doesn't implement it yet: https://github.com/jsdom/jsdom/blob/94774014e2244730f24d1fcb8c40d8fee3ea6b75/test/web-platform-tests/to-upstream/html/browsers/the-window-object/window-properties-dont-upstream.html#L105.

[2019-06-12 17:26] oliviertassinari commented on #16184
I would propose to add a defensive check in the core, it's the least worse solution I can think of.

[2019-06-12 17:27] #16183 closed

[2019-06-12 17:27] oliviertassinari commented on #16183
@GalGreenfield This is a general question with React.

[2019-06-12 17:28] joshwooding commented on #16183
`key` isn’t passed as a prop https://reactjs.org/warnings/special-props.html

[2019-06-12 17:33] seed-of-apricot commented on #16173
It worked. Thank you for your suggestion and please update the document if possible.

[2019-06-12 17:35] eps1lon commented on #16173
Re-opening since there's an actual issue with the Typography typings that I'm working on

[2019-06-12 17:36] DavidHenri008 opened #16185 "Autowidth not working with open controlled"
The autoWidth properties on the Select component has no effect when the open property is controlled. This is reproducible via the documentation example.

The issue seems to be a typo in the Select.js file, [line 238](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Select/SelectInput.js#L238).
It should most likely be
[code]
instead of
[code]

- [x] This is not a v0.x is

[2019-06-12 17:38] oliviertassinari commented on #16185
@DavidHenri008 Well spotted! Do you want to submit a pull request? :)

[2019-06-12 17:51] fzaninotto commented on #16184
I didn't need it with the 4.0.0 implementation of `withWidth`. Why add such a requirement in a bugfix release? This is a BC break.

[2019-06-12 17:51] fzaninotto commented on #16184
As long as it behaves like the previous implementation, all right for me!

[2019-06-12 17:53] oliviertassinari commented on #16184
Ok, I think that we can move forward with that. Thanks for raising.

[2019-06-12 18:33] fzaninotto commented on #16184
If I can add just one more requests: can you add the defensive check at the useMediaquery level, so that migration from withWidth is natural?

[2019-06-12 18:36] oliviertassinari commented on #16184
💯

[2019-06-12 19:11] MrXyfir commented on #16184
If you're using Jest and want to mock it, the following works (at least for my use case):

[code]

I don't know how this changes things internally, but seems fine for a temporary hack to get tests passing...

[2019-06-12 19:24] mbrevda opened #16186 "[AppBar] position="sticky" not working"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

With `<AppBar position="sticky">` I would expect the appbar to stay stuck at the top of the screen, even when scrolling

## Current Behavior 😯

Instead, it's scrolling with the page
## Steps to Reprod

[2019-06-12 19:29] #16186 closed

[2019-06-12 19:38] mbrevda commented on #16186
Is something not working as documented NOT a bug or is the problem in my code?

[2019-06-12 19:39] aditya1906 opened #16188 "Implement Rich Text Editor"
In many web site there are rich text editors being implemented such as CKEditor, Froala Editor, etc. It will be very useful since if clients want to bold, italic text and then submit the data as HTML. It can be done using a Rich Text Editor.

## Expected Behavior 🤔
Rich Text Editor that allows text to be bold, italics, etc
## Current Behavior 😯
There is no support for Rich Text editor.

## Example

[2019-06-12 19:45] deutekom opened #16189 "autoFocus is a unknown ListItem property in TypeScript since 4.0"
## Steps to Reproduce 🕹

Just create a TypeScript-Project with "create-react-app". Add a List and a ListItem and und give the ListItem an autoFocus-attribute. TypeScript mark this attribute as an unknown property.

I wanted to provide a code example with codesandbox.io, but it works there :-/

| Tech         | Version |
|--------------|---------|
| Material-UI  | v4.1.0  |
| React        |  v16.8

[2019-06-12 19:52] joshwooding commented on #16186
It's how `position:sticky` works, hence it's a support issue. 'sticky' behaviour is defined in the [MDN Docs](https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning). If you set a height on the immediate parent it works. https://codesandbox.io/s/p11ig

[2019-06-12 19:55] mmk0083 opened #16190 "Popover action callback fires on unmount"
According to the documentation for the Popover component, the function passed to the `action` parameter should be called when the component mounts and be given an object with available actions as a param.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavi

[2019-06-12 20:00] mbrevda commented on #16186
Thanks!

[2019-06-12 20:21] prvnsmpth opened #16191 "Tooltips on elements inside Shadow DOM don't work"
I'm trying to render a tooltip on an element within a Shadow DOM, but for some reason, it doesn't  work as expected. The tooltip is rendered correctly on the mouse enter event, but stays visible after the mouse has left the target element.

Here's a code sandbox that demonstrates this issue: https://codesandbox.io/s/holy-rgb-c4qj6

Hovering over the second button renders the tooltip, but it stays

[2019-06-12 20:28] eps1lon commented on #15692
Closed with #16124

[2019-06-12 20:28] #15692 closed

[2019-06-12 20:32] MarchWorks commented on #16013
So the problem was a closed issue in Next.js which patch is in the canary build (8.1.1-canary.XX and not 8.1.0)

[2019-06-12 20:52] AurelReb commented on #4476
@Giedriuuzs Hi, I made an example with a reverse button which reverses the order of the rows. It works well for me. The collapsed Row is still in its expected position.
https://codesandbox.io/embed/shy-sun-ydttw?fontsize=14

[2019-06-12 21:17] nareshbhatia commented on #11517
I created an example here to show how to use `combineStyles` with either `withStyles` or `makeStyles`: https://codesandbox.io/embed/merge-multiple-styles-qow51. Thanks @dlochrie

[2019-06-12 21:45] ianschmitz commented on #15973
Just a heads up that this is a bigger issue than `Select`. `Menu`/`MenuList` have lost keyboard a11y. I've been trying to fix it in a branch but it's proving to be pretty tricky.

[2019-06-12 21:47] dyarfaradj opened #16194 "TypeError: Object(...) is not a function theme withStyles"
So since upgrading from 3.9.3 to 4.1.0 I've got a issue with the styles, I've read through the documents and the example layout sourcecode but can't get it to work.

I'm getting this error: https://i.imgur.com/Vqc8IPe.png

My current code:

[code]

I read on the documents (https://material-ui.com/styles/basics/#higher-order-component-api) on how to use HOC to get withStyles work, but problem is I

[2019-06-12 21:50] eps1lon commented on #15973
Seems like a regression from 4.0.2. At least if I understand the issue https://v4-0-2.material-ui.com/components/menus/ seems to work fine.

But that is not directly related to this issue, no?

[2019-06-12 21:52] oliviertassinari commented on #15973
v4.0.2 doesn't behave correctly from my perspective.

[2019-06-12 21:53] ianschmitz commented on #15973
Disabling `keepMounted` in the "Simple Menu" example in docs gets us as far as having the `ul` focused, which allows the up/down arrow keys to work, however the first item is not focused by default.

[2019-06-12 21:56] oliviertassinari commented on #15973
It's the same fix.

[2019-06-12 22:02] oliviertassinari commented on #15999
It's fixed in https://github.com/mui-org/material-ui/pull/16195 and will be soon released in Material-UI v4.1.1.

[2019-06-12 22:03] #779 closed

[2019-06-12 22:03] #11990 closed

[2019-06-12 22:03] #12463 closed

[2019-06-12 22:03] #12807 closed

[2019-06-12 22:03] #14469 closed

[2019-06-12 22:03] #15803 closed

[2019-06-12 22:03] #14913 closed

[2019-06-12 22:03] #15889 closed

[2019-06-12 22:05] #16096 closed

[2019-06-12 22:06] oliviertassinari commented on #16151
Can somebody have a look at what the solution will look like since #15703 was merged?

[2019-06-12 22:45] mnogueron commented on #16176
Thank you @oliviertassinari for the steps, I actually managed to get everything working before creating this issue.
I opened it so that we have information about this breaking change. It took me some times to realise that it was not my code breaking but the SSR new implementation. Having this information in the migration guide would probably help other people in the same situation as me.

[2019-06-12 22:47] oliviertassinari commented on #16194
@dyarfaradj The answer in [the StackOverflow question](https://stackoverflow.com/questions/56329992/invalid-hook-call-hooks-can-only-be-called-inside-of-the-body-of-a-function-com#comment99267601_56329992) is perfect 👌

[2019-06-12 22:47] #16194 closed

[2019-06-12 22:57] dyarfaradj commented on #16194
But then again, how do I use theme.spacing, theme.breakpoint? Like the guy asked on stackoverflow..

[2019-06-12 22:59] oliviertassinari commented on #16194
@dyarfaradj I don't understand. If it's a bug, please provide a live reproduction.

[2019-06-12 22:59] oliviertassinari commented on #16194
Notice: https://material-ui.com/customization/default-theme/#material-ui-core-styles-vs-material-ui-styles

[2019-06-12 23:04] TidyIQ commented on #16013
Ah ok, thanks for looking into it. Do you happen to have a link to the issue?

Now I really regret opening a bounty on StackOverflow to solve this haha. There goes 50 reputation points down the rain. Ah well...

[2019-06-12 23:06] oliviertassinari commented on #16188
Something we could consider in an enterprise version.

[2019-06-12 23:10] oliviertassinari commented on #16013
There is a duplicate, we Material-UI and Antd first reported the problem to the Next.js team.

[2019-06-12 23:17] oliviertassinari commented on #16190
@mmk0083 The cleanup behavior looks good. You can no longer use the actions once the component is unmounted. You shouldn't use them.

[2019-06-12 23:17] #16190 closed

[2019-06-12 23:23] oliviertassinari commented on #16191
@prvnsmpth Do you know why? Any idea of what the fix could be?

[2019-06-12 23:35] MarchWorks commented on #16013
@TidyIQ I wouldn't have looked into it if you haven't opened the bounty so it haven't gone with the rain

[2019-06-12 23:45] omasback commented on #16158
I would also like this feature. I added `Mui-` to my component classname in order to enable deterministic classnames. I needed to do this because i was updating my theme and using a react-transition-group transition at the same time, and the exiting CSSTransitionGroup was stuck with the original classname counter while the stylesheet classnames got updated with new counter numbers, cause the exiti

[2019-06-12 23:55] ChrisJVoss commented on #15610
I'm having this same issue. .MuiButtonBase-root is being applied twice and is overriding any other styling.
Interestingly, this will only happen some of the time. We have a component, "AccountDetails" that is passed some props and then displays the account information. Some accounts never have this issue while other accounts always do. It's the same component, just different account detail props.

[2019-06-13 00:11] mmk0083 commented on #16190
@oliviertassinari Thanks for the prompt reply and for all the work you do on this library!

My issue isn't that I was trying to use the actions once the component was unmounted. My problem was that the action handler is being called unexpectedly on unmount with `null` contrary to what the documentation says. As an example...

[code]

This code would be safe to use in the previous version of `Popov

[2019-06-13 01:09] zhaoyi0113 opened #16198 "`CreateCSSProperties` is not assignable to `CSSProperties` after upgrading to `4.0.2`"
I found `CreateCSSProperties` is not assignable to `CSSProperties` after upgrading to `4.0.2`.
Below is my code:

[code]

The `styles` of `MenuIcon` is type of `styles?: React.CSSProperties;`. I get this error:
[code]

It seems that after `4.0.2` `createStyles` returns a type which is not compatible with  `React.CSSProperties`. Is there a quick way to fix it?

[2019-06-13 01:23] GalGreenfield commented on #16183
Oh, thank you. I'm new to React was not aware of this. Please feel free to close the post.

[2019-06-13 01:44] neilpalima commented on #14604
Is this done? I encounter this problem as well. Where can I see the routes for the links to make it work?

[2019-06-13 01:52] merceyz commented on #16198
Working on a fix.

Cast the result from createStyles would be the easiest

[2019-06-13 02:07] MarkMurphy commented on #16188
Don't forget: https://draftjs.org/

[2019-06-13 02:07] zhaoyi0113 commented on #16198
so you mean using `as any`?

[2019-06-13 02:19] merceyz commented on #16198
I was thinking more of `styles.logo as CSSProperties` but yeah, you can do that as well

[2019-06-13 02:26] aditya1906 commented on #16188
There are many. I was just giving some examples.

[2019-06-13 03:40] prvnsmpth commented on #16191
I'm still trying to figure out what's happening by looking at the Tooltip implementation. I was hoping that if something was missing in my code sandbox demo, someone would point out what I was doing wrong. I will keep looking and update if I find anything.

[2019-06-13 04:31] ggascoigne commented on #15614
I think that I'm missing something; is there any way to stop forwarding props to an html element (such as div), while still using `styled()`.  I can see how to do it with makeStyles/useStyles since you get explicit control of what gets passed to your div, but not when using styled.

It is as simple as, don't pass props to styled html elements?

[2019-06-13 05:40] retyui opened #16201 "[docs] makeStyles(styles, [options]) has strange option"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
n/a

## Current Behavior 😯
When I read docs about [makeStyles(styles, [options])](https://material-ui.com/styles/api/#makestyles-styles-options-hook) I found strange option `withTheme`:

But hos it's p

[2019-06-13 06:10] joshwooding commented on #16201
Hmm, I remember talking about this with @oliviertassinari

[2019-06-13 06:18] retyui commented on #16201
Typescript types also include this mistake

https://github.com/mui-org/material-ui/blob/1d01a824065cfd5fc784002e77dc7ec38b5db474/packages/material-ui-styles/src/makeStyles/makeStyles.d.ts#L70-L77

https://github.com/mui-org/material-ui/blob/1d01a824065cfd5fc784002e77dc7ec38b5db474/packages/material-ui-styles/src/withStyles/withStyles.d.ts#L49-L54

[2019-06-13 06:32] RZsam commented on #15898
I have the same problem. @travi  @Kuirak @ztoben did you find any solution?

[2019-06-13 07:08] RZsam opened #16202 "Cannot read property 'root' of undefined for all components"
same problem as #15898  #16168 getting this error after migrating to v4 and didn't find any solution in mentioned issues

      app.js:3581 Uncaught TypeError: Cannot read property
       'root' of undefined
       at Button (app.js:3581)
       at renderWithHooks (app.js:126202)
       at updateForwardRef (app.js:127721)
       at beginWork (app.js:128925)
       at performUnitOfWork (app.js:1325

[2019-06-13 07:39] #16184 closed

[2019-06-13 07:40] #15999 closed

[2019-06-13 07:42] fzaninotto commented on #16184
Thanks for the super fast fix!

[2019-06-13 07:45] #15876 closed

[2019-06-13 08:19] oliviertassinari commented on #16202
@RZsam Your issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-06-13 08:19] #16202 closed

[2019-06-13 08:27] eps1lon commented on #16201
Yeah that makes little sense IMO. You can use `useTheme` for that.

[2019-06-13 08:30] #16173 closed

[2019-06-13 10:01] prvnsmpth commented on #16191
@oliviertassinari I think it is because the `mouseleave` event does not bubble up, and so the retargeted event handler is not able to handle the `mouseleave` event, and remove the popper from the DOM. I'm not sure if this is the root cause though, still need to take a closer look.

[2019-06-13 10:06] rash2x opened #16205 "Always return value with 'px' unit in the spacing function"
Hi guys,

We use **styled-components** as CSS framework and when we call the spacing function with the single argument we have to put 'px' unit in the end, but with multiple arguments, we don't need to do it. It's a little confusing because by changing the number of arguments a developer should add or remove 'px' unit.

## Expected Behavior 🤔
Example:
[code]
Result
[code]
## Current Behavior 😯
Exa

[2019-06-13 10:21] oliviertassinari commented on #16201
The `withTheme` option is a legacy from the `withStyles` API documentation. This option has never been implemented with this hook. We should remove it, something like this:
[code]

[2019-06-13 10:26] oliviertassinari commented on #16205
@rash2x We have people doing transformations with it: `padding: theme.spacing(2) * 2`. Changing the behavior would be a breaking change. We can consider it for v5. For now, you can do the following:
[code]

[2019-06-13 11:18] oliviertassinari commented on #16190
I would treat the action prop like a ref. In your example, using React.useRef to store the value.

[2019-06-13 11:18] guybowden opened #16206 "classnames are not respecting NODE_ENV==='production'"
When using either the SSR example or the CRA example in production mode (`npm start production` in the SSR example) the SSR output does not contain `.jssN` class names, it contains the same classnames as non production mode (`.Mui*`).

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a

[2019-06-13 11:30] oliviertassinari commented on #16158
@omasback I'm not convinced this proposal should solve your problem. Have you considered providing individual classnames http://reactcommunity.org/react-transition-group/css-transition or using the @global key  https://material-ui.com/styles/advanced/#jss-plugin-global?

[2019-06-13 11:34] oliviertassinari commented on #16206
This is the desired output.

[2019-06-13 11:36] devhyunjae commented on #14018
This issue needs re-open!

[2019-06-13 11:51] guybowden commented on #16206
Ah. This has changed from 3.9 > 4 then? What was the reason?

[2019-06-13 11:59] oliviertassinari commented on #16206
@guybowden The motivation is explained in https://medium.com/material-ui/material-ui-v4-is-out-4b7587d1e701. It helps styled-components & SASS users.

[2019-06-13 12:00] #16206 closed

[2019-06-13 12:46] guybowden commented on #16206
So.. reason I raised this issue was because in the course of upgrading a (server side rendered) app, I changed the ssr code to match the example / docs, except I also needed a custom `productionPrefix` to stop clashes with a second on-page MUI app.

The new SSR example does not allow for this as the new `ServerStyleSheets` class masks the additional complexity (yay) of creating `StylesProvider`s e

[2019-06-13 12:50] oliviertassinari commented on #16206
We have a `seed` option in the class name generator for this problem.

[2019-06-13 12:57] ask2mahtab commented on #8526
The same issue we are facing. if we are keeping prop names in camelCase

[2019-06-13 13:07] travi commented on #15898
unfortunately, no. we ended up shelving our upgrade and the changes that prompted us to attempt to upgrade so early.

we attempted to go down the path of creating a minimal reproduction since our project is private, but had trouble finding what it was about our configuration that would reproduce the problem.

instead, we're hoping that the problem will be identified more generally so we can better

[2019-06-13 13:08] oliviertassinari commented on #16176
We had a similar feedback in https://github.com/zeit/next.js/issues/7527#issuecomment-499817921.

[2019-06-13 13:18] tbruun opened #16209 "Component demos crashes in IE11"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Using IE11 should work on the demo site

## Current Behavior 😯
On some components, IE11 crashes.
`"[object Object] is not iterable!"`

## Steps to Reproduce 🕹
Visit one of the links with IE11

Link:
1.

[2019-06-13 13:39] oliviertassinari commented on #16209
@tbruun Confirmed. But I don't think that it's the right place to open an issue:

- https://material-ui.com/components/pickers/

[code]

https://github.com/mui-org/material-ui-pickers/blob/689a36b0a5a06d64eb8ee19c33b21ae21eb790b0/lib/src/_helpers/date-utils.ts#L79
cc @dmtrKovalenko

- https://material-ui.com/components/tables/

[code]

https://github.com/mbrn/material-table/blob/05c513a76d7f350ee1

[2019-06-13 13:41] dmtrKovalenko commented on #16209
😱  😱  😱  😱
Will fix asap

[2019-06-13 13:49] eps1lon commented on #15898
@travi Do you get the exact same error that is included in the initial issue description?

[2019-06-13 14:01] oliviertassinari commented on #16209
Thanks! :)

[2019-06-13 14:27] ztoben commented on #15898
@eps1lon, @travi and I were working on the same project. Ours wasn't specific to toolbars but we saw the `TypeError: Cannot read property 'root' of undefined` on several components.

[2019-06-13 14:30] podeig opened #16212 "Why do I get all components in my production bundle?"
Hi,

I changed all my imports from
import { Grid } from '@material-ui/core';
to
import Grid from '@material-ui/core/Grid';

But I still get all components in my production bundle even I do not use these components.

I am using "@material-ui/core": "^4.1.1" version.

How to exclude unused components from the bundle?

[2019-06-13 14:51] eps1lon commented on #16212
@podeig  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-06-13 14:54] eps1lon commented on #15898
Yeah without any additional information about build setup (styles provider, core/styles or styles, used framework, ssr, prerender, csr etc) I can't help you much.

[2019-06-13 15:06] tbruun commented on #16209
@oliviertassinari - Thanks for pointing it in the right direction :)

[2019-06-13 15:33] #16136 closed

[2019-06-13 16:03] travi commented on #15898
one of the things that i had a hard time getting my head around was that the components where we saw the error all seemed to be using `withStyles` internally and we were not overriding styles explicitly ourselves that we could tell. the internal usage seemed to pass default style details, so i never did figure out how the object where `root` was being looked for could ever be `undefined`.

one pie

[2019-06-13 16:14] travi commented on #15898
the list of other things unique to our app is potentially long, which made it difficult to decide which pieces to invest in with a more minimal reproduction. the basic ones we tried didn't reproduce the problem. here is a short list that comes to mind:

* SSR on hapi using https://github.com/travi/hapi-react-router/ but the material specific details are contained within our private app
* we bundle

[2019-06-13 16:56] eps1lon commented on #15898
Do they have a dependency on material-ui as well? Maybe you bundle multiple versions of material-ui

Can you do a `yarn why hoist-non-react-statics` or find out otherwise what versions of this package you use?

It sounds like your setup was already broken before v4. If you can't resolve the issue with v4 I would start fixing the original issue.

[2019-06-13 18:36] jakeleventhal opened #16213 "Have popper variation to Tooltip"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

There should be a prop that you can pass into Tooltip that lets you specify that the tooltip should look like a popper

## Current Behavior 😯

In order to have a popper that works like a hover, you mu

[2019-06-13 19:09] eps1lon commented on #15961
This issue should be resolved in 4.x. It is not viable for us to backport this to 3.x since it requires a breaking change for types.

[2019-06-13 19:09] #15961 closed

[2019-06-13 19:12] eps1lon commented on #15072
Closing as not actionable for us. For more context see #15199.

[2019-06-13 19:12] #15072 closed

[2019-06-13 19:16] eps1lon commented on #12946
Accepted answer: https://github.com/mui-org/material-ui/issues/12946#issuecomment-423850042

[2019-06-13 19:16] #12946 closed

[2019-06-13 19:18] eps1lon commented on #12709
Closing this in favor of #16065 which targets 4.x. We don't plan on supporting 1.x types any longer.

[2019-06-13 19:18] #12709 closed

[2019-06-13 19:20] eps1lon commented on #12534
This was fixed in #13067 and released with `@material-ui/core@^3.2.0`.

[2019-06-13 19:20] #12534 closed

[2019-06-13 19:25] eps1lon commented on #13004
A TypeScript demo was introduced in #15408 and is available under https://material-ui.com/components/radio-buttons/#RadioButtonsGroup.tsx.

[2019-06-13 19:25] #13004 closed

[2019-06-13 20:34] grrrian opened #16216 "Overriding theme with deleteIconPrimary doesn't work"
When trying to override in Typescript using `deleteIconPrimary` it doesn't work. I think this is because the type should be `deleteIconColorPrimary`.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The style of the MuiChip delete icon should change

[2019-06-13 21:09] galechus opened #16218 "[TableHead, TableBody] Overwrite component props with createMuiTheme"
## Expected Behavior 🤔
I would like to change component props from default `thead` and `tbody` to custom `div`.

## Current Behavior 😯
Error in TS:
[code]

## Steps to Reproduce 🕹
My custom theme file (theme.ts):
[code]

## Environment 🌎

| Tech         | Version |
|--------------|---------|
| @material-ui/core | 4.1.1 |
| react | 16.8.6 |
| typescript | 3.4.5 |

[2019-06-13 21:14] merceyz commented on #16216
This is already fixed in #14750

[2019-06-13 21:17] travi commented on #15898
the package defines only a peer dependency on material. also, all dependencies coming from node_modules are excluded from the rollup bundle, expecting webpack to include them in the consuming application

we use npm rather than yarn, but i was inspecting pretty closely with `npm ls` to ensure that there were no conflicting versions along the way

the problems we saw only came up once we tried to s

[2019-06-13 21:20] gijsbotje opened #16219 "change slide 'in' transform styles to none"
i was creating a drawer with a drag and drop package [(rbd from Atlassian)](https://github.com/atlassian/react-beautiful-dnd) when I stumbled upon an issue. due to the drawer being fixed to the right, the dragged element is pushed over to the right positioning it off screen. This happens because of the combination of `position: fixed;` and a transform value. For the drawer, actually the slide comp

[2019-06-13 21:21] travi commented on #15898
one more detail that i forgot in my list above is that we do still load matertial v0 for some components, but that was confirmed to be still supported, but not recommended. we've been slowly trying to get the remaining ones upgraded, but since we are three years into this project, there are some deep in areas that we havent updated yet. also, we would need a solution to nested menus to fully trans

[2019-06-13 22:59] #16216 closed

[2019-06-13 23:01] oliviertassinari commented on #16213
Why aren't you using the Tooltip component?

[2019-06-13 23:02] #16185 closed

[2019-06-14 00:21] tjmcewan opened #16221 "MuiCssBaseline `type` resets to 'light' when hot-reloaded"
We use the dark theme.  The hot-reloaded `MuiCssBaseline` head styles come through as the 'light' `type`. :)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
`MuiCssBaseline` should keep the current `type` I guess.  v3.9 kept it. :)

[code]

## Curr

[2019-06-14 02:11] koshea commented on #16073
Hi @oliviertassinari, I think this may be an actual bug.  I encountered it as well.  It is at least a regression.  I have not solved it yet, but it seems to be introduced by https://github.com/mui-org/material-ui/commit/942fbf2445ff736efe294e958a7b0f13a494c641#diff-33a03947dab1f076cc15415d619e4987

Before this commit, `mount` worked fine on components wrapped in `withMobileDialog()`.  After, the r

[2019-06-14 02:24] jakeleventhal commented on #16213
Currently I am using the Tooltip component. The purpose of this feature request is to have a variant on the Tooltip to make it look like a popper. There is a pretty big difference between the way that they look (see below)
<img width="307" alt="Screen Shot 2019-06-13 at 10 23 05 PM" src="https://user-images.githubusercontent.com/15133828/59479155-f19e5680-8e29-11e9-80b3-f84f258e7c09.png">
<img wid

[2019-06-14 04:01] brunomonteirosud commented on #9089
Did this change again? Looks like the type is only accepting a `number` and not a `null` value:

https://github.com/TeamWertarbyte/material-ui/blob/master/src/Snackbar/Snackbar.js#L52

[2019-06-14 04:54] ZYinMD opened #16222 "[Textarea] May crash on scaled windows monitors because Chrome renders a scrollbar"
I found a bug that may only exist on Windows laptops or Window 4k+ monintors, and it happens when a padding is added to `<Input multiline />` and Chrome decides to render a scrollbar.

- [x] This is not a v0.x issue.
- [x] I have searched the issues of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹
First you need Win10, then detailed steps to reproduce are in th

[2019-06-14 05:14] mbrn commented on #16209
I will fix it asap.

[2019-06-14 05:42] Jack-Works opened #16223 "[ShadowDOM] Modal doesn't work well with ShadowRoot"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Everything works well.

## Current Behavior 😯
With 3 hacks, it partially works. But all events lost (like onClick)

(In this example, CSS also lost too but it is not the key problem. I have resolved this problem in my context, by imp

[2019-06-14 05:46] Jack-Works commented on #16223
And ReactDOM.createPortal works well.

[code]

[2019-06-14 05:55] oliviertassinari commented on #16222
@ZYinMD It works on my side. What's the error?

[2019-06-14 05:59] #16218 closed

[2019-06-14 06:02] oliviertassinari commented on #16223
We have a similar issue in #16191.

[2019-06-14 06:09] oliviertassinari commented on #16221
@tjmcewan Could you provide a reproduction, we don't have this problem with the documentation, same with our Gatsby demo, it works.

[2019-06-14 06:11] oliviertassinari commented on #16219
@gijsbotje Could it be a bug with react-beautiful-dnd? The transition is broken in https://codesandbox.io/s/ij7ux.

[2019-06-14 06:19] javadzobeidi opened #16224 "Uncaught TypeError Cannot read property '1' of undefined jssPreset"
i got error when i used jssPreset().plugins but when i change to use default jss-preset-default it's work. how can i solve? thanks. i want to use preset of material-ui

`Uncaught TypeError: Cannot read property '1' of undefined
    at supportedKeyframes (css-vendor.esm.js:77)
    at Array.onProcessRule (jss-plugin-vendor-prefixer.esm.js:17)
    at PluginsRegistry.onProcessRule (PluginsRegistry.js:

[2019-06-14 06:25] prvnsmpth commented on #16191
@oliviertassinari Is it possible to use `mouseout` instead of `mouseleave` in the Tooltip implementation? That should fix the problem.

[2019-06-14 06:27] eps1lon commented on #13221
`findDOMNode` remains in the codebase for backwards compatibility with class components. If you forward refs to host instances where necessary you should get no more deprecation warnings in StrictMode.

For more details see https://material-ui.com/guides/composition/#caveat-with-refs

[2019-06-14 06:27] #13221 closed

[2019-06-14 06:31] oliviertassinari commented on #16191
I'm not sure we can: https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseleave_event.

[2019-06-14 06:34] oliviertassinari commented on #16209
There is no urgency, I'm happy that it will eventually be fixed. IE 11 support is important for enterprises.

[2019-06-14 06:35] #16201 closed

[2019-06-14 06:36] oliviertassinari commented on #9089
@brunomonteirosud You have linked a different project.

[2019-06-14 06:38] oliviertassinari commented on #16213
@jakeleventhal You should be able to solve your problem with style overrides.

[2019-06-14 06:38] #16213 closed

[2019-06-14 06:55] oliviertassinari commented on #16224
@javadzobeidi You have a JSS conflict between v9 and v10 running at the same time.

[2019-06-14 06:55] #16224 closed

[2019-06-14 07:16] oliviertassinari commented on #16073
@koshea How can we reproduce the problem?

[2019-06-14 07:17] Jack-Works commented on #16223
Okay, I resolved this by more hacks. But still nice to see this problem get resolved.

[code]

[2019-06-14 07:25] Zoharos opened #16227 "Using RTL in material 4.1.1 break on react"
HI, I'm trying to update @material-ui to v4.1.1. When I'm using the RTL component like in documentation the app breaks, but when using react-jss's jssProvider instead of stylesProvider it works but not as it should.

- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expe

[2019-06-14 09:23] gijsbotje commented on #16219
@oliviertassinari i mentioned below the button in that demo it is broken 😄
I could try and destruct the drawer and make another demo, though a PR might be the easier way of showing it.
Though the animation is broken `translate(0px, 0px) === none` as it returns to its original transform position.
Would a PR be allright or do you wan't a working demo?

[2019-06-14 09:54] brunomonteirosud commented on #9089
@oliviertassinari Oops, my bad. Not sure how I got that 😅
Anyway, I am trying to achieve the same behaviour above, and I got a type error:

So I was confused if this changed was implemented or not...

[2019-06-14 10:01] eps1lon commented on #14427
TL;DR: This is a browser issue. They do not consistently fire input events when autofilling forms.

This is an issue at the browser level. If I click inside the page and then reload it correctly dispatches input events. If I click on the page, click in the navbar it only stops working on the second enter. If I land on the page by copying the link to the page and entering it in the navbar it also w

[2019-06-14 11:09] mg901 opened #16232 "Disable prefix / postfix for css className"
Hi, thank you for MUI! I want to add styles to already existing classes inside the component. If I use the function makeStyles, prefixes / postfixes appear in the class names. For example
[code]
I get this class name at the output `makeStyles-root-11 `

How can I remove the prefix / suffix in the name of the css class?

[2019-06-14 11:45] havenchyk commented on #15961
@eps1lon well, I agree with you, but you told me on Spectrum to create an issue

[2019-06-14 12:13] giorgi-m opened #16234 "Feature request"
I would recommend to have such components in material ui too (also look at their variations in options):

https://ant.design/components/cascader/
https://ant.design/components/tree-select/

Such components are needed when writing more form oriented applications.

They would be a useful addition.

[2019-06-14 12:19] #16232 closed

[2019-06-14 12:20] oliviertassinari commented on #16232
Tip: https://material-ui.com/styles/advanced/#jss-plugin-global

[2019-06-14 12:21] oliviertassinari commented on #16227
@Zoharos Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-06-14 12:34] deepfriedbrain commented on #11261
@RonanFelipe I get the DOM nodes, and keep track of node top, node height, window height, etc. using HTML APIs. Following are some random snippets of the code to give you an idea.

[code]

[2019-06-14 12:47] bflemi3 commented on #14066
Code Sandbox link is 404

[2019-06-14 12:54] marco476 opened #16237 "[Grid] Typescript Grid dynamically spacing warning"
- [x ] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
No error in CLI!

## Current Behavior 😯
Typescript give me an error about spacing value:

[code]

## Steps to Reproduce 🕹
Iterate on an array and set a `xl, lg, .. and so on`  prop dinamically:

[cod

[2019-06-14 13:04] dmtrKovalenko commented on #16209
Fixed IE issue in @mui-org/material-ui-pickers  v3.1.1

[2019-06-14 13:24] eps1lon commented on #15961
Sorry about that. I realize this was concerned with 3.x typings

[2019-06-14 13:25] #16237 closed

[2019-06-14 13:26] eps1lon commented on #16237
Look for "type widening" regarding TypeScript.

[2019-06-14 13:46] krazyjakee commented on #14018
How do I get around this issue for now? If I pass in null, makeStyles throws errors. Sometimes I don't have props to pass, so what do I pass?

[2019-06-14 13:50] vkolokolov commented on #7961
@oliviertassinari ,

Doesn't it undermine entire concept of component encapsulating the implementation? When using component, should developers think about its deeper implementation, rather then just rely on documented component's API?

[2019-06-14 13:53] koshea commented on #16073
@oliviertassinari see here: https://github.com/koshea/jest-mui-withmobiledialog

The mounted component will be empty in version 4.1.1.  If you revert to 4.0.2 the test will pass.

[2019-06-14 14:11] denyo commented on #14018
@krazyjakee try `const c = useStyles({});`

[2019-06-14 15:02] stunaz opened #16239 "[Carousel] New component"
## Examples 🌈

https://github.com/FormidableLabs/nuka-carousel
https://mui-treasury.com/components/carousel
https://react-swipeable-views.com/demos/demos/

[2019-06-14 15:09] LukasMirbt opened #16240 "[TouchRipple] Buggy interaction with draggable HTML attribute"
When the "draggable" HTML attribute is added to a component that has a TouchRipple, when subsequent drags occur that end inside of the TouchRipple area, the opacity will multiply.

![touchRippleBugGif](https://user-images.githubusercontent.com/39515204/59517940-fbc16300-8ec4-11e9-814b-3abcd23b1dfb.gif)

Note that the only thing that is changed in the code from the Tabs demo is that the "draggable"

[2019-06-14 16:05] tasinet opened #16241 "[Textarea] Does not respond to rowsMax prop changes"
As the title suggests, changing the rowsMax prop of a mounted TextField does nothing: the height of the textarea remains unchanged.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When I change the rowsMax prop of a mounted multiline TextField, I e

[2019-06-14 16:43] ChrisJVoss commented on #15610
One of our dependencies also had material-ui as a dependency. We changed material-ui to a peer dependency and our issues are now fixed!

[2019-06-14 16:51] plumpNation opened #16242 "Key navigation is broken when disabled option first in list"
When a select box has a disabled item as the first option in a list, and no value has been set yet, the arrow keys fail to respond as expected.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Although it looks related to this https://github.com/mui-org/material-ui/issues

[2019-06-14 17:33] ZYinMD commented on #16222
Hi @oliviertassinari , I have identified the real cause of the bug, and have completely re-written my original issue, the issue title, and the [CodeSandbox demo](https://codesandbox.io/s/friendly-khayyam-3omdb). Thanks!!

[2019-06-14 17:54] joshwooding commented on #16222
Hmm, I don't have a 4k monitor, I can't reproduce it on a Windows 10 laptop scaling 125%

[2019-06-14 18:23] joshwooding commented on #16240
Can you provide a minimal reproducible example? I would have expected this to be fixed in #16142 (v4.1.1)

[2019-06-14 19:07] lifeiscontent commented on #15798
@oliviertassinari this issue is not an apollo issue, you should be able to render the tree of UI components both on the server and client.

here's an article illustrating this technique:

https://medium.com/@alexandereardon/uselayouteffect-and-ssr-192986cdcf7a

the issue, and problem to be solved is material-ui should have their own `useIsomorphicLayoutEffect` so the effects still run on the clien

[2019-06-14 19:21] joshwooding commented on #16241
Nice find. Looks like we need to change the threshold check to include the outer height e.g.

[code]

cc @oliviertassinari

[2019-06-14 19:26] elgambet opened #16243 "Attempted import error: 'useIsFocusVisible' is not exported from '@material-ui/core/utils'."
My project was working well until today when I updated the library. The error I receive is

`
/node_modules/@material-ui/lab/esm/Slider/Slider.js
Attempted import error: 'useIsFocusVisible' is not exported from '@material-ui/core/utils'.
`

- [ x] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is

[2019-06-14 19:30] elgambet commented on #16243
This problem does not happen in version **4.0.0-alpha.15** [working example](https://codesandbox.io/embed/modest-kalam-sboi6)

[2019-06-14 20:04] joaosilvalopes commented on #16151
@oliviertassinari I can start analyzing possible solutions over this weekend, i will share my updates on this thread.

[2019-06-14 20:17] sabun123 commented on #15912
'Expected spacing argument to be a number, got [object Object]'
I was getting this too. Upgraded from Material UI 3.9.3 to 4.1.1.

The mistake was simple. In MUI v3, we could do:
[code]

Upgrading to 4.1.1, I removed the ```.unit``` to be:
[code]

That was wrong though, and it was what was causing the warning. The correct change is to:
[code]

It's a small mistake, but hopefully this helps anyone

[2019-06-14 20:40] Neta-Alon commented on #16224
@oliviertassinari Your comment was spot on.
The issue is that while material-ui requires JSS v10, the current default JSS version on NPM is 9.8.7. So just `npm install`-ing both of them will cause this issue.

I'm guessing it's gonna happen to a lot of other folks, so just dropping in the simple fix:
`npm install jss@10.0.0-alpha.17`

[2019-06-14 23:05] ZYinMD commented on #16222
Hi @joshwooding , if you change the padding of `TeaxArea2` (line 14) to be other numbers, like 2, 3, 4, 5, etc, would a scrollbar appear at all?

Here's what it looks like on my screen (see the scroll bar, maybe you know a better way to make it appear):
![image](https://user-images.githubusercontent.com/32368482/59543023-c9b8fc80-8ed6-11e9-9c15-8842232b9dbf.png)

And here's the error messages:
![i

[2019-06-15 00:19] lifeiscontent opened #16244 "next.js example breaks SSR for styled-jsx"
here's the reproduction: https://codesandbox.io/s/nextjs-inufq

you can see when loading the index page, the red background color flashes into the screen after loading

[2019-06-15 05:24] SoulsD opened #16245 "TS2322 Spreading declared MenuItemProps on MenuItem fails type checking"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

MenuItemProps should be typed with correct 'button' override by default the when imported

## Current Behavior 😯

from `core/MenuItem/MenuItem.d.ts`:

[code]

`P` parameter of menu Item props default

[2019-06-15 06:44] eps1lon commented on #15798
@lifeiscontent This is the same technique we are using. The problem is that it doesn't work if you use SSR APIs in the browser.

[2019-06-15 10:58] oliviertassinari commented on #9089
@brunomonteirosud Thank you for the report. It's a bug with our TypeScript definitions. Do you want to submit a pull request with this fix :)?
[code]

[2019-06-15 11:01] TatsuyaYamamoto commented on #16243
@elgambet
Hi!
I found this problem in using `@material-ui/core": "4.0.0"` and `@material-ui/lab": "4.0.0-alpha.16"`. I check that `@material-ui/core/util/index` export `useIsFocusVisible ` in the latest code.
https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/utils/index.js

well, you can fix it by updating  `@material-ui/core`

[2019-06-15 11:16] oliviertassinari commented on #16037
@eps1lon Sounds like a great idea!

[2019-06-15 11:48] oliviertassinari commented on #16073
@koshea Thank you for the reproduction. I can confirm the issue. It's an issue with the test environment. The withWidth helper renders null if he can't compute the correct value. We used to rely on `window.innerWidth`, we rely on `window.matchMedia` now. I think that we should add a section about tests in the documentation.

In your case, you can workaround the problem with:
[code]

or use https:/

[2019-06-15 11:53] oliviertassinari commented on #16209
@dmtrKovalenko I can confirm it #16246 :)

[2019-06-15 11:57] oliviertassinari commented on #16151
@joaosilvalopes Awesome!

[2019-06-15 12:10] oliviertassinari commented on #16033
The search on https://v3.material-ui.com is now operational.

[2019-06-15 12:36] oliviertassinari commented on #16241
@joshwooding Would it be enough with?
[code]

[2019-06-15 12:36] oliviertassinari commented on #16241
@tasinet Feel free to submit a pull request :)

[2019-06-15 12:54] oliviertassinari commented on #16222
@ZYinMD Thank you for taking the time to provide a more detailed reproduction. I can reproduce it now. What do you think of this fix?
[code]

Do you want to submit a pull request? :)

[2019-06-15 13:06] oliviertassinari commented on #16222
Alternatively, there is this other fix, it's more bundle size efficient:
[code]

[2019-06-15 13:06] oliviertassinari commented on #16245
This seems to be the same core issue than #16122.

[2019-06-15 13:08] #16227 closed

[2019-06-15 13:18] oliviertassinari commented on #16242
It's a duplicate of #15973.

[2019-06-15 13:18] #16242 closed

[2019-06-15 13:19] oliviertassinari commented on #15973
@plumpNation I see that you are experiencing this problem too. Do you want to submit a pull request with the fix proposed in https://github.com/mui-org/material-ui/issues/15973#issuecomment-497877059? :)

[2019-06-15 13:23] #16221 closed

[2019-06-15 13:23] #16212 closed

[2019-06-15 13:24] oliviertassinari commented on #16212
https://material-ui.com/guides/minimizing-bundle-size/ could help.

[2019-06-15 13:35] oliviertassinari commented on #16240
@joshwooding How do we reproduce? Is this a Windows platform thing?

[2019-06-15 13:50] oliviertassinari commented on #16244
@lifeiscontent Thank you for reporting the problem. The fix is as simple as:
[code]

Do you want to submit a pull request to update the examples? :)

[2019-06-15 14:10] oliviertassinari commented on #16243
@TatsuyaYamamoto is correct (thanks). You should see a **peer dependency warning** in your console when installing the lab package. A working version: https://codesandbox.io/s/material-demo-hd1l0.

The lab is in an alpha state, you might see breaking changes between two updates. It's what happens between alpha.15 and alpha.16 for the Slider component. Now, it should still work in the most simple u

[2019-06-15 14:11] #16243 closed

[2019-06-15 14:25] joshwooding commented on #16241
@oliviertassinari Probably, Thinking about it innerHeight is linked to the actual typed text and if it changes the outerHeight changes either way.

[2019-06-15 14:41] joshwooding commented on #14066
@bflemi3 Sorry, I tend to delete sandboxes fairly regularly due to the limit. This is what it was https://codesandbox.io/s/nuw9t I guess I should donate and remove the limit 🤔

[2019-06-15 14:50] Ajaay opened #16247 "Slider mark formatting not honouring change to min/max values"
When changing the default min/max values on a slider, the mark formatting stops working and appears to work based on default values.

https://codesandbox.io/s/material-demo-mg72p

[2019-06-15 14:50] oliviertassinari commented on #16224
We could think of adding a warning. I'm not sure how much people it impacts. Can the folks impacted by the problem 👍 to help us prioritize?

[2019-06-15 14:52] joshwooding commented on #16240
@oliviertassinari https://codesandbox.io/s/f4pxl Click and drag a Tab multiple times fairly quickly

[2019-06-15 15:00] joshwooding commented on #16247
@Ajaay Can you explain explicitly in a bit more detail what the issue is?

[2019-06-15 15:12] carlosarangoc opened #16248 "V3 docs website is down"
V3 docs website seems to be down: https://v3-9-0.material-ui.com/. Can you please check it out?

[2019-06-15 15:15] joshwooding opened #16249 "Badge content overflows on IE11"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The Badge should expand to accommodate the badge content e.g.
![image](https://user-images.githubusercontent.com/12938082/59553137-9f277c00-8f88-11e9-9bcc-57f29ccbbc47.png)

## Current Behavior 😯

The

[2019-06-15 15:30] Ajaay commented on #16247
Hi Josh,

If you check the code sandbox and slide the slider, you’ll see that the marks are not formatting at the correct points.

Thanks

On 15 Jun 2019, at 16:01, Josh Wooding <notifications@github.com<mailto:notifications@github.com>> wrote:

@Ajaay<https://github.com/Ajaay> Can you explain explicitly in a bit more detail what the issue is?

—
You are receiving this because you were mentioned.

[2019-06-15 15:37] harshit98 commented on #8380
@peterrogov Your solution is amazing! 🎉

[2019-06-15 15:39] Graham42 commented on #16033
:tada: Thank you!
I greatly appreciate your dedication to good DX even though we're not on the latest and great version.

[2019-06-15 15:39] #16033 closed

[2019-06-15 15:41] oliviertassinari commented on #16240
@joshwooding Thanks!

I would propose the following fix:
[code]

@LukasMirbt Do you want to submit a pull request? :)

[2019-06-15 15:42] #16248 closed

[2019-06-15 15:45] oliviertassinari commented on #16033
@Graham42 We still maintain v3 (but in a low mode), the documentation is very important :).

[2019-06-15 15:49] joshwooding commented on #16247
@Ajaay Your issue has been closed because it does not conform to our issue requirements. Everything looks fine to me. `valueLabelFormat` isn't being used. Please follow the issue template next time.

[2019-06-15 15:55] oliviertassinari commented on #16247
I do see one problem:

![Material demo - CodeSandbox 2019-06-15 17-54-23](https://user-images.githubusercontent.com/3165635/59553555-b2414880-8f96-11e9-8c11-a71338003d2b.png)

@Ajaay Is this related? Could you please provide detail. If you don't spend time explaining what the problem is, otherwise, it signals that it's not really important to you.

[2019-06-15 16:02] oliviertassinari commented on #16247
The fix should be as simple as:
[code]

@Ajaay Do you want to submit a pull request? :)

[2019-06-15 16:06] LukasMirbt commented on #16240
@oliviertassinari I'm on it! :D

[2019-06-15 16:14] NMinhNguyen commented on #13221
@eps1lon

Is that because `findDOMNode(validElementRef)` is safe?

Can't class components be wrapped in `forwardRef` as well? Or do you mean that you don't want yet another breaking change and for existing class components that do not correctly forward refs to work?

[2019-06-15 16:14] oliviertassinari commented on #16249
The width of the badge seems to be bound by the width of the wrapped element.

[2019-06-15 16:21] oliviertassinari commented on #16249
The only solution I can find is to replace the flex container (`display: flex)` with a line height: https://stackoverflow.com/questions/46049818/flexbox-container-with-position-absolute-doesnt-fit-content-width-in-ie.

[2019-06-15 16:22] oliviertassinari commented on #16249
Is this something we actually want to change?
[code]

[2019-06-15 16:38] ImKcat opened #16251 "ReferenceError in nextjs-with-typescript example"
## Current Behavior 😯

[code]

## Steps to Reproduce 🕹

Link: [CodeSandbox](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/nextjs-with-typescript)

[2019-06-15 16:54] eps1lon commented on #13221
Yes. Just reducing the amount of breaking changes.

At least for now. We're still [waiting for an official confirmation](https://github.com/facebook/react/pull/15091/files) but so far `findDOMNode` doesn't throw if called with host instances.

[2019-06-15 17:11] joaosilvalopes commented on #16151
[code]

This solution seems to do the job, i have been looking through the `Slider` code trying to find any other possible causes of floating point errors that would reflect on the slider's value but couldn't seem to find any.

If you guys feel this is an appropriate approach i will write some tests and open a pr right away :smile:

[2019-06-15 17:40] vshamgin commented on #13543
try something like: `onDelete={checkListToggle.bind(this, 'keyName')}`
Worked in my case

[2019-06-15 17:46] oliviertassinari commented on #16151
The logic looks great to me. Is this something we can write a test for?

[2019-06-15 18:06] joaosilvalopes commented on #16151
I wrote a simple one

[code]

Which throws `AssertionError: expected 0.30000000000000004 to equal 0.3` before the fix.

Do you feel this test adds any value?

[2019-06-15 18:11] oliviertassinari commented on #16151
I think that it does. We don't want to see a regression.

[2019-06-15 19:15] oliviertassinari commented on #16251
This is a css-vendor recent regression.

[2019-06-16 00:49] tjmcewan commented on #16221
Thanks for the response.  I expected this was to do with #16195 so didn't probe too deeply, but it is our particular usage combined with some v4 changes.  For future reference, we create the theme dynamically based on server config so it's some combination of the theme object memoization and a ternary in `mapStateToProps`.

Sorry for wasting your time. :(

[2019-06-16 00:56] brunomonteirosud commented on #9089
Sure, happy to do it!
I am pretty new to this process of contributing...I tried to follow the instructions from [this link](https://github.com/mui-org/material-ui/blob/master/CONTRIBUTING.md#getting-started) but wasn't able to checkout the project.
Is `git clone git@github.com:brunomonteirosud/material-ui.git` the correct path? Do you need to authorize me first?
Thanks

[2019-06-16 03:41] ImKcat commented on #16251
Fixed in css-vendor@2.0.4

[2019-06-16 03:41] #16251 closed

[2019-06-16 07:55] #16065 closed

[2019-06-16 08:17] oliviertassinari commented on #16221
Did you found a solution?

[2019-06-16 08:20] #16151 closed

[2019-06-16 08:24] oliviertassinari commented on #9089
You need to fork the project first.

[2019-06-16 10:35] le0nik commented on #14971
Just wanted to add that if you provie `ref` prop to `ListItem` then typescript requires that you specify `button={true}`. It doesn't accept `false` and it doesn't allow you to omit `button` prop.

The workaround I'm using is basically hiding `ref` prop from the compiler:
[code]

Another way would be to drop typechecking for `ListItem` entirely, but it's a bit worse imo.
[code]

Would be happy to k

[2019-06-16 13:51] Chocolatl opened #16253 "[FormControlLabel] Add an option to disable user selection"
When the label is double clicked, the label text will be selected:

![image](https://user-images.githubusercontent.com/22774786/59565006-5652ee80-9080-11e9-8f23-cecafcde7781.png)

For labels, this is usually not the desired behavior. So I suggest adding an option to disable this behavior

[2019-06-16 14:38] eps1lon commented on #14971
What type is that ref?

[2019-06-16 14:42] eps1lon commented on #16253
It is the default behavior for vanilla `<label>Checked? <input type="checkbox" /></label>` (in chrome at least).

If there's some spec that describes a different behavior I'm happy to look into normalizing this across browsers. So far it looks like personal preference which you can adjust by changing the CSS.

[2019-06-16 14:50] oliviertassinari commented on #16253
@eps1lon 👍

[2019-06-16 15:06] #16240 closed

[2019-06-16 15:34] le0nik commented on #14971
`React.RefObject<HTMLDivElement>`

[2019-06-16 15:35] Chocolatl commented on #16253
Maybe I didn’t make it clear.😥

When double click text, the browser will select the text. This behavior also happens on the label.

![image](https://user-images.githubusercontent.com/22774786/59566089-b734f380-908d-11e9-8133-2456782e9190.png)

I think in most cases users don't want to select text of label. This problem can be solved by adding CSS: `user-select: none`, but I think it is more conven

[2019-06-16 15:42] oliviertassinari commented on #16253
@Chocolatl Thanks for the detail. I think that we can close the issue and label "won't fix".

[2019-06-16 15:44] eps1lon commented on #16253
I think we understood each other. I just wanted to make clear that this is the default behavior in chrome (and I believe in any browser) for native inputs and labels as well. Do you know other libraries/framework that disable this behavior?

I think that is already a good enough solution. Unless there's a good case we don't want to put every feature into a prop. This can get out of hand pretty qui

[2019-06-16 15:53] eps1lon commented on #14971
That you encounter an error is expected though. It's just not a helpful error message:

-- https://material-ui.com/api/list-item/#listitem-api

For `button={false}` you will get a ref to an `HTMLLIElement`. With `button={true}` you will get `HTMLDivElement`.

However, [it might not be possible by falling back to a more abstract type](https://github.com/microsoft/TypeScript/issues/30748). If you us

[2019-06-16 16:02] le0nik commented on #14971
@eps1lon got it, no error after specifying correct ref type. Thank you! My apology for hijacking this thread, my problem clearly had nothing to do with this issue.

[2019-06-16 16:04] Chocolatl commented on #16253
<https://element.eleme.io/#/en-US/component/checkbox>

That makes sense

[2019-06-16 16:04] #16253 closed

[2019-06-16 16:10] cleophasmogeni commented on #11368
`npm i @material-ui/core` saved me.

Thank you @gowdruNikhil

[2019-06-16 16:22] fgarcia opened #16255 "Consider compatibility with a less strict typescript"
According the Typescript guide:

Following the config file I saw the the minimum baseline of a supported Typescript configuration is `strict: true` that literally means enabling **all** known and possible checks. As a consequence, it also means that Material UI is not guaranteed to work without errors in projects that do not enable all checks.

In my case, I've been hunting down errors caused sinc

[2019-06-16 16:25] eps1lon commented on #16255
Agreed. We should follow `@types/` packages. But they also have `strictNullChecks: true` which won't solve your issue completely I fear.

[2019-06-16 18:01] ClassicDarkChocolate commented on #15827
Use `React.forwardRef<T, Omit<LinkProps, "forwardedRef">>` instead of `React.forwardRef<T, LinkProps>` solves the problem.

Example codes:

[code]

[2019-06-16 18:04] jmdsg commented on #15511
Any news on this?

[2019-06-16 21:01] brunomonteirosud commented on #9089
🤦‍♂ my bad...
Just opened the request: https://github.com/mui-org/material-ui/pull/16257

[2019-06-16 22:30] joshwooding commented on #11434
Hmm, I can't reproduce this on Windows 10. IE11 or Chrome 76

[2019-06-16 22:32] #11434 closed

[2019-06-17 01:55] rolandoldengarm commented on #16052
@eps1lon  I've tried to replicate on codesandbox, but I'm getting completely different errors there. The same code works fine locally.

See: https://codesandbox.io/s/53c2w

[2019-06-17 01:57] nareshbhatia opened #16260 "[Box] boxShadow property is not flowing through"
The `boxShadow` property of `Box` is not showing up in HTML.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Here's an example of using the `boxShadow` property. It should show up as `box-shadow` property in HTML.

[code]

## Current Behavior 😯
All

[2019-06-17 02:16] nareshbhatia commented on #16260
Just looked at the examples. It appears that the `boxShadow` property is expected to be a number. I was looking at old type definitions that specified it as `React.CSSProperties`.

Would be nice to have a way to specify as a CSS string property.

[2019-06-17 06:32] arminydy commented on #16149
@oliviertassinari
I have just migrated my project from v3 to v4, so far so good, except this is the obvious one. This issue is not only happening on mobile. In a nutshell, Textfield variant outlined's border color is not changing on focus. ```@mediahover``` is overriding it.
By any chance will it be fixed any time soon? thanks.

[2019-06-17 06:35] kof commented on #16149
a clear reduced reproduction anyone with JSS core?

[2019-06-17 10:07] oliviertassinari commented on #16260
@nareshbhatia Correct, this is a feature request, so far, the shadow should be coming from the theme when using an array. Now, I believe we can allow custom values:
[code]

This would make the behavior consistent between an object theme value and an array one. I'm 👍  for it.

[2019-06-17 10:26] oliviertassinari commented on #16260
On a side note, Bootstrap is removing the iconic jumbotron component https://github.com/twbs/bootstrap/pull/28876. It was probably influenced by Tailwind.
This is something people can reproduce here with:
[code]

https://codesandbox.io/s/box-shadow-issue-vfg03

[2019-06-17 10:39] oliviertassinari commented on #16149
@arminydy Sounds like you have an issue in your environment.

If you want to [give it a shoot](https://github.com/mui-org/material-ui/issues/16149#issuecomment-500874340), we will be happy to review your pull request :). The issue was labeled "good first issue". It's low-hanging fruit. Meaning, the core team won't be working on it, so we can work on issues we are uniquely positioned to address.

[2019-06-17 11:12] oliviertassinari commented on #16219
@gijsbotje I have tried the following diff:
[code]

It doesn't work on IE 11, but does on Chrome, Edge, and Firefox. What does https://github.com/atlassian/react-beautiful-dnd says about it?

[2019-06-17 11:26] ffjanhoeck commented on #14971
Is there a fix or for the initial issue from @sveyret ? :)
Thanks!

[2019-06-17 12:09] #16198 closed

[2019-06-17 13:25] attilavago opened #16265 "Externalise accessibility internationalisation?"
So, in general I would be the advocate for handling internationalisation in the business logic of an app rather than on a component level, which is why it's a little bit surprising to see MUI deal with some of it through enforcing it in the component. Let me elaborate...

## Expected Behavior 🤔
In an app, when I change the language all aria type properties and accessibility related strings should

[2019-06-17 13:52] eps1lon commented on #16265
Could you point to a specific example?

What I'm pretty sure of is that we don't want to translate all the component demos. This would add a lot of burden to the translators. What's important is the general frame of the docs and text. But each demo won't be translated. How you apply i18n to components is your choice. Unless there is some issue with integrating popular solutions with material-ui?

[2019-06-17 13:55] QPark commented on #14474
I replaced the padding: theme.spacing(1) statements in the
https://github.com/mui-org/material-ui/blob/master/docs/src/pages/premium-themes/paperbase/
example and it worked for me.

[2019-06-17 14:07] arminydy commented on #16149
@oliviertassinari I followed your guidance, it works like a charm now :) , I will appreciate if you could have a quick look on this PR. Thanks.

[2019-06-17 14:22] attilavago commented on #16265
@eps1lon here's maybe a better explanation: https://stackoverflow.com/questions/56629691/how-to-set-locale-programmatically-in-material-ui

[2019-06-17 14:36] radiosterne commented on #13921
@eps1lon by changing to not losing union props you are meaning switching from using `Pick` to using `Pick` distributed over union with `extends any` conditional clause? If so, can you provide an example of perf regression? I've monkey-patched my local styled-components definitions and as of TS 3.5 unable to notice any regression whatsoever — maybe TS team updated smth related in TS 3.5?

[2019-06-17 14:50] eps1lon commented on #13921
@radiosterne Sounded like it. The regression was dicovered in 3.4: https://github.com/microsoft/TypeScript/issues/30663

[2019-06-17 14:54] eps1lon commented on #16265
Looks like you do mean demos. As I've said this is just a demo. You can adjust the code included on the page in your app to use other localisation options. Our translations focus on non-demo content.

[2019-06-17 15:06] radiosterne commented on #13921
@eps1lon that's great; I take it we are now able to substitute `Pick` for a better version, or do you mind? I'll make a pull request to DefinitelyTyped, if you're ok with it.

[2019-06-17 15:40] rejas commented on #16151
Cool. Thx to all participants for the quick fix! Any ETA on when the next version will be released?

[2019-06-17 16:42] lifeiscontent commented on #15798
@eps1lon I realize now the issue I was seeing was due to using an older version. In the process of upgrading now. 🤞

[2019-06-17 18:57] koshea commented on #16073
That solves it and makes complete sense, thank you @oliviertassinari!

[2019-06-17 19:12] oliviertassinari commented on #16151
@rejas This weekend.

[2019-06-17 20:02] claytongulick commented on #1911
For those stuck on the old version of this and struggling with the footer, adding fixedFooter={false} to @devenovil 's solution works for me.

[2019-06-17 20:12] oliviertassinari commented on #16265
I believe you only have to add the `lang` attribute. I doubt there is anything for us on Material-UI side. The only example I could find https://www.youtube.com/watch?v=rRRQuHjRGT8.

[2019-06-17 21:14] JCQuintas commented on #13394
I'm seeing issues with StrictMode using the `Tooltip` and `Popper` components. A simple use case of the `Tooltip` can be seen here: https://codesandbox.io/s/material-ui-strictmode-tooltip-issue-dypgp

You have to hover the component for it to throw the error.

[2019-06-18 00:39] bbehling-trimble commented on #16073
Why was the title of this issue changed?

[2019-06-18 05:30] ffjanhoeck opened #16270 "[Select] node is undefined"
- [ x ] This is not a v0.x issue.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The expected behavior is to get the node target of an text field with select={true}.

## Current Behavior 😯
If you pass down a ref to a TextField by using inputProps, you will get the select compon

[2019-06-18 05:34] garygrubb opened #16271 "Switch component gets a halo when turned on in mobiles"
When we turn on a switch a light halo gets stuck around it. This is manifested only in mobiles & only when we directly click on the switch. Clicking on the label works as expected.

- [X ] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

 When the switch

[2019-06-18 05:47] eps1lon commented on #13394
@JCQuintas The IconButton causes this. That component doesnt support strict mode yet.

[2019-06-18 07:07] ashishsanjayrao opened #16272 "Dynamic FormControlLabel Radio inside RadioGroup is not getting checked"
I'm using a RadioGroup component to display a dynamic list of Radio options using FormControlLabel. The dynamic radio options are successfully getting displayed and I'm able to retrieve the selected radio option using onChange in RadioGroup. However, when I check a radio option, that particular option does not appear "checked".

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](ht

[2019-06-18 07:23] JCQuintas commented on #13394
@eps1lon what about the one with just a div inside the tooltip? It throws an error also.

[2019-06-18 07:32] peterbartos commented on #7960
An easy fix also working for new Chrome is:
`<TextField type="number" onWheel={ event => event.currentTarget.blur() }} />`

[2019-06-18 07:34] eps1lon commented on #13394
Same: https://material-ui.com/api/tooltip/#notes

[2019-06-18 08:06] nimahkh opened #16273 "Uncaught Invariant Violation: Unable to find node on an unmounted component error occurred in the <Transition> component"
i have a Drawer with default open props. when i do  `props.history.push('/login')` , get this error

[code]
[code]

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

| Tech         | Version |
|--------------|---------|
| Material-UI  | v3.?.?  |
| React        |    16.8     |
| Browser      |     chrome

[2019-06-18 08:12] attilavago commented on #16265
What that video seems to demonstrate is standard and that works just fine. What I'm saying is is the scenario where within the app you switch to another language. Some of the aria strings stay in English, because there don't seem to be props available to control them via internationalisation. Will try and dig out a clear code example for you sometime today or tomorrow.

[2019-06-18 08:12] eps1lon commented on #16273
This may be caused by reactjs/react-transition-group#469

We're in the process of setting up a fork that works without findDOMNode. Hopefully this resovles those issues.

[2019-06-18 08:20] eps1lon commented on #16265
Yes this would indeed be a bug IMO. I think we had at least on proposed change that introduced hard coded aria attributes but it was rejected in the end for this exact reason.

[2019-06-18 08:22] nimahkh commented on #16273
i think this bug is from functional components , i use functions and before that , i have no errors

[2019-06-18 08:30] eps1lon commented on #16273
Out of curiosity: Do you even use transition handlers e.g. `onExited` and use the `node` argument?

[2019-06-18 08:39] nimahkh commented on #16273
it is my Drawer

[code]

[2019-06-18 08:46] eps1lon commented on #16273
You could've also passed your own `onExited` handlers which is why I asked. Just want to collect some data points if people actually use those.

[2019-06-18 09:37] #16149 closed

[2019-06-18 09:38] #16244 closed

[2019-06-18 09:41] lookfirst opened #16276 "[Examples] nextjs-with-typescript has ts-compile errors"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
No compile errors

## Current Behavior 😯
/nextjs-with-typescript/src/Link.tsx
Error:(10, 11) TS2339: Property 'as' does not exist on type '{ children?: ReactNode; }'.
Error:(10, 15) TS2339: Property 'h

[2019-06-18 10:13] koshkarik commented on #16105
No luck to reproduce the problem with pure html and css in safari - so not enough facts to open issue on Safari side(

[2019-06-18 10:52] oliviertassinari commented on #16073
We need to document how this match media logic can be tested, for instance, we Jest and react-testing-library.

[2019-06-18 11:20] oliviertassinari commented on #16265
@attilavago I'm not aware of any hardcoded aria value in the codebase that could explain the behavior you are describing. But maybe there is 🤔 ?

We need something explicit. We can't help without and will have to close the issue. We can wait a bit.

[2019-06-18 11:43] koshkarik commented on #16105
@oliviertassinari I didn't figure out how to fix this problem in mui( I do understand I can simply overwrite input styles (background) and it will solve the problem for me, but in our project we have a lot of inputs in modals, so this style fix will make a lot of crutches. Do you have any idea how to solve it in mui?

[2019-06-18 11:51] #16247 closed

[2019-06-18 12:07] viniarruda opened #16277 "[Select] If have a lot data, open two times"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Open the select options normally and don't have a reload because the transition

## Current Behavior 😯
If my select have a lot data, while it opens, it recharges 2 times and takes too long to open.
I

[2019-06-18 12:42] eps1lon commented on #16277
I would consider the first statement a bug as well but the second one is a common performance issue that should be solved with windowing libraries (also known as virtualization).

[2019-06-18 13:37] bbehling-trimble commented on #16073
@oliviertassinari Well, the issue wasn't originally submitted regarding media queries. This code will still need to be tested when in desktop top view.

[2019-06-18 13:44] cozmy commented on #15827
I also have this problem. TypeScript complains that the "component" prop is missing on ButtonBase.

[The docs](https://material-ui.com/api/button-base/) state that it exists, whereas in [this commit](https://github.com/mui-org/material-ui/commit/54f9a33b279fbd999a2e87e24b1ec6f7420242e2#diff-6192e0b45c40c4bf38121052fdb4b583L13) we can see it removed.

[2019-06-18 13:48] eps1lon commented on #15827
Because in that commit it was added at another location.

[2019-06-18 14:26] carlosalbertopardo commented on #11251
Hi guys, any news about this implementation? Thanks!

[2019-06-18 14:37] peteruithoven opened #16278 "[Input] Support color="inherit""
Using a Select in the AppBar is currently problematic, because it's requires custom styles to override it's colors. I think it's colors should be easier to alter and or it's colors should be inherited?

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

[2019-06-18 15:30] oliviertassinari commented on #16073
I agree it's unfortunate. Your test environment needs to be consistent. If window.innerWidth returns a value, window.matchMedias should follow it.

[2019-06-18 15:50] oliviertassinari commented on #16277
It's the second time I see this issue class. I could have swear that the first time, it was closed as "wontfix" but I can't find the reference.

The reasoning was the following. The double animation seemed corelated to the slowness of the component. Even without the double animation, the select is unusable, so why bother? Use the native select instead.

[2019-06-18 16:04] oliviertassinari commented on #16278
@peteruithoven I would work around the problem with:
[code]

https://codesandbox.io/s/light-select-in-appbar-e3jic

Now, it could be something to support it internally, e.g. with a `color="inherit"` prop. Why not. But the workaround sounds simpler enough to me.

[2019-06-18 16:05] oliviertassinari commented on #16273
@nimahkh By any chance, can you provide a minimal reproduction example?

[2019-06-18 16:08] oliviertassinari commented on #16272
@ashishsanjayrao Could you provide a live minimal reproduction (e.g. CodeSandbox is great) using v4? Thanks.

[2019-06-18 16:15] oliviertassinari commented on #16271
@garygrubb Thanks for reporting the issue. I believe that we should apply the following diff to fix it:
[code]

Do you want to give it a try? :)

[2019-06-18 16:18] oliviertassinari commented on #16105
@koshkarik Copy & pasting the HTML output seems to be enough: https://codepen.io/anon/pen/agmmMR to reproduce. Maybe we can clean the codepen as much as possible to be minimal?

[2019-06-18 16:23] viniarruda commented on #16277
I not find any issue relationed with this.

For resolve this, I used `menuProps: transitionDuration: 0`. But the select lose your transition

[2019-06-18 16:30] oliviertassinari commented on #16270
@ffjanhoeck Thanks for the report. This looks like a regression to me. What do you think of this fix?
[code]

Do you want to submit a pull request? :)

[2019-06-18 16:34] peteruithoven commented on #16278
@oliviertassinari Thanks for looking into this!
I have to agree that your approach with `styled` is simpler, but you're forgetting the need to change the color of the bottom border and the icon.
https://codesandbox.io/s/alt-light-select-in-appbar-vzo1d

[2019-06-18 16:43] eps1lon opened #16280 "[RFC] babel-plugin-optimize-material-ui"
Just drafting some ideas. Any input welcome.

## prop tree-shaking

Now that we have full module tree-shaking support for our components it's only logical to go the next step and enable prop tree-shaking.

Consider the following component:
`<TextField variant="outlined" />`

With this component you will not only get all three variants of the TextField but also the `Select` component. It would be b

[2019-06-18 17:01] eps1lon commented on #16277
Because there may be an underlying issue that is only reproducible deterministically with long lists i.e. maybe it also happens on slow devices?

[2019-06-18 17:11] oliviertassinari commented on #16277
Yes, we very likely have an underlying issue. But is this an important one? It's an open question. Assuming that only people pushing the component to its limit can see it, I'm tempted to say no. But this assumption could be wrong.

[2019-06-18 17:15] oliviertassinari commented on #16278
Thanks, for the complete solution.

Regarding the icon, I would propose the following diff:
[code]

For the other styles, I can't see anything way we can change them without introducing a new color inherit color prop.

[2019-06-18 17:38] eps1lon commented on #16277
Sure so it as __an__ issue. Not an important but unless we know the cause we shouldn't close it as wontfix if we don't even know how a fix would look like.

[2019-06-18 17:45] viniarruda commented on #16277
But I tested it on my iphone 7 and it worked normally. Definily is strange and an issue.

[2019-06-18 18:06] bbehling-trimble commented on #16073
The problem isn't testing for mobile, its testing in desktop mode. We dont do anything with setting window props

[2019-06-18 19:24] emirotin commented on #16205
+1 on this, it's really easy to mix up things with the current behavior
Example:

[code]

Here I must put `px` otherwise the generated CSS would be invalid.

Later I decide to refactor it and make a quick change:

[code]

Now it's invalid again, for a different reason (double `pxpx`).
Obviously, it'd be my mistake but it's easy to do.

[2019-06-18 19:25] gijsbotje commented on #16219
@oliviertassinari you were right that the transition was broken on IE11, though this was because of the vh and vw being calculated differently by IE11. I made changes in #16281 that fix that behavior as well.

[2019-06-18 19:28] oliviertassinari commented on #16205
@emirotin Please upvote the issue, it will make it more likey to land in v5 :)

[2019-06-18 20:14] japrogramer commented on #14078
@HaNdTriX  example no longer works and im getting
[code]

[2019-06-18 20:20] japrogramer opened #16282 "theme not working with ThemeProvider built in components, e.g. color='primary'"
My theme is not being picked up by material ui components.
i suspect that withStyles isn't passing the theme as expected but makeStyles is.
[code]

[code]

[2019-06-18 20:24] japrogramer commented on #16282
I have also tried this,
[code]

[2019-06-18 20:53] japrogramer commented on #16282
ok, i figured out that withStyles is than imported from material-ui and not core .. wish the docs where clearer about that. still experiencing issues with some components. updating.

[2019-06-18 21:02] japrogramer commented on #16282
# when a component selects primary or secondary color scheme it doesn't use my theme.
It than defaults to use the default mui theme.
[code]

[2019-06-18 21:09] #16282 closed

[2019-06-18 21:10] oliviertassinari commented on #16282
@japrogramer You should see a peer dependency warning. You need to use v4 all the way.

[2019-06-18 21:17] japrogramer commented on #16282
i tried `yarn upgrade @material-ui/core ` but it did not update the package.

[2019-06-18 21:21] roberto-slopez commented on #12913
@Abbo44  check this example: https://codesandbox.io/s/material-demo-ojohs

[2019-06-19 00:27] DrewBe121212 opened #16285 "ThemeConsumer losing context when ThemeProvider imported/provided from another package?"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

I am experiencing a really strange issue, and cannot seem to nail down the point of failure. Our current environment uses a stand alone package for common components (common-components). This package is managed through semve

[2019-06-19 00:49] davnicwil commented on #11251
As a workaround for this, I'm using a custom `<GridEmptySpace />` component which supports hiding at specified breakpoints like so

[code]

[See the gist here](https://gist.github.com/davnicwil/e4d18ab12b282c4c8d85b2c3ba8f7df7)

Disclaimer - this is pretty hacky, not at all suggesting this is a good solution, but as a workaround until official support for offsets lands it works pretty well, and cl

[2019-06-19 02:01] jwentwistle commented on #15812
There isn't a fix for that issue?

[2019-06-19 05:06] ffjanhoeck commented on #16270
@oliviertassinari Thanks for your answer! I would love it to submit a pull request!
But before I can submit my first one, I have some questions:
- Why do you manipulate the value of the ref using useImperativeHandle. Is that really necessary?
- Does it make sense in your opinion, to directly pass the ref into the input, without useForkRef and useImperativeHandle? I don't get it, why you are using

[2019-06-19 05:25] garygrubb commented on #16271
Hi @oliviertassinari , I gave it a try but could not get it to work. I tried fiddling around with the code a bit but had no success with it.

[2019-06-19 05:53] eps1lon commented on #15812
Since this issue does not originate nor surfaces in material-ui code and we have no reproduction we won't actively work on it.

[2019-06-19 06:00] ashishsanjayrao commented on #16272
Hi @oliviertassinari, while I was creating the CodeSandbox instance, I realised my mistake and found the solution to this. However, I've anyway created it and here's the URL: https://codesandbox.io/s/dydqr using v3.9.3 (because that's the version I'm using)

The issue was that I was passing an integer value to the `value` prop instead of string like: `value={single.id}` so I added `toString()` to

[2019-06-19 06:00] #16272 closed

[2019-06-19 06:12] romanr opened #16287 "[TextField] Unable to override outline in MuiOutlinedInput. Is it a missing feature or a bug?"
I'm finding it impossible to change border in TextInput. To make it look liek this:

![image](https://user-images.githubusercontent.com/329079/59740892-c80f8000-92ac-11e9-9363-26d5742066bb.png)

Global theme:
[code]

It produces necessary css but it's getting overridden by other classes on top:

![image](https://user-images.githubusercontent.com/329079/59740942-e37a8b00-92ac-11e9-8870-cdb1bdaa1d72

[2019-06-19 06:14] nimahkh commented on #16273
`onExited` is about Menu or Transition components , the problem is Drawer , so onExited and another Exit Props , will not work on it , as you can see in my code above , i have no Menu Component, some times i have this problem and some times , every thing is ok

[2019-06-19 07:34] oliviertassinari commented on #16272
Thanks for sharing the solution.

[2019-06-19 08:10] oliviertassinari commented on #16273
@nimahkh Could you provide a minimal reproduction? We won't be able to help more otherwise.

[2019-06-19 08:11] oliviertassinari commented on #16271
@garygrubb No worry. Hopefully, in a few months, somebody will take care of it.

[2019-06-19 08:14] nimahkh commented on #16273
i was writing in codesandbox and then it crash and throw me out  . but something is interesting , my code works on sandbox , i dont know what is going on

[2019-06-19 08:17] oliviertassinari commented on #16270
@ffjanhoeck Yes, useImperativeHandle and all the "mess" that comes with it is **really** necessary, there is no simplification potential. There is no input we can apply the ref on. We have to simulate it.

[2019-06-19 08:37] oliviertassinari commented on #16287
@romanr Interesting. Thank you for raising the problem. I see no harm in reducing the specificity for this selector:
[code]

It should make things simpler, do you want to submit a pull request? :D

[2019-06-19 08:41] oliviertassinari commented on #16285
@DrewBe121212 You need to make sure that you are using the same context instance. Issues can occur when you have @material-ui/styles modules duplication in your bundle. This duplication can come from multiple versions installed or from a mix of the CJS and ESM version of it. I fear we won't be able to help more without a reproduction.

[2019-06-19 09:26] MohammedFaragallah commented on #14335
same error solved by installing jss: 10.0.0-alpha.20

[2019-06-19 10:37] nimahkh commented on #16273
#### solved
it was because of lazy and suspense . i dont know why , but when i remove suspense and load components normal , it solved

[2019-06-19 10:45] nimahkh commented on #16273
i change my routers like this , and everything is perfect now

[code]

[2019-06-19 10:51] eps1lon commented on #16273
This was likely fixed in react on master but not release yet (https://github.com/facebook/react/pull/15312). In any case it's an issue with an external dependency that we will fix regardless in #16283

[2019-06-19 12:41] DrewBe121212 commented on #16285
How can I verify a context instance? I can note, that I am getting the warning about multiple material UI/styles packages included although I cannot seem to trace down where this would be occurring. Installing the same version of Mui on both packages would prevent these descrepancies no?

[2019-06-19 13:59] ryanburr opened #16292 "[Select] Menu does not focus without empty option"
When there is not an empty option in the Select component and the select currently does not have a value, opening the menu (via mouse or keyboard) does not focus the menu at all, which results in the Up/Down arrow keys being useless.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a d

[2019-06-19 14:15] eps1lon commented on #16060
Can reproduce with IE11 as well.

[2019-06-19 14:16] #16219 closed

[2019-06-19 14:24] onuraltun commented on #10763
this issue is reproducing with same steps again

[2019-06-19 14:38] ryanburr commented on #16292
Duplicate of #15973

[2019-06-19 14:38] #16292 closed

[2019-06-19 14:53] #16189 closed

[2019-06-19 15:08] weslenng opened #16293 "[withStyles] [typescript] flexDirection column is not a valid type"
## Expected Behavior 🤔

It was expected that the "column" value would be accepted in the flexDirection property in a styles object of the withStyles function. As in the [MDN definitions](https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction).
## Current Behavior 😯

The Typescript is currently returning:
`Argument of type '{ root: { flexDirection: string; }; }' is not assignable to parame

[2019-06-19 15:30] hmeinertrita commented on #8823
Material Design has an idea of the [layout grid](https://material.io/design/layout/responsive-layout-grid.html#breakpoints) where the number of columns changes at certain breakpoints. Is this currently possible with Material UI?

[2019-06-19 15:31] eps1lon commented on #16293
This is a common pitfall caused by TypeScript's type-widening by default. See [Using createStyles to defeat type widening](https://material-ui.com/guides/typescript/#using-createstyles-to-defeat-type-widening) for more information on how to prevent those issues.

[2019-06-19 15:31] #16293 closed

[2019-06-19 15:50] d7my11 commented on #14800
i can open a PR for this

[2019-06-19 16:00] d7my11 commented on #14800
actually `edge="end"` is already added to the icon but it doesn't solve the problem

[2019-06-19 17:05] DrewBe121212 commented on #16285
Hi, it looks like just pulling material-ui from the common component lib works. This gets the added bonus of only having to maintain one version of it in a single library, instead of spread out everywhere.
Did something akin to this:

#### @my-org/common-components/src/material-ui/core
[code]

#### @my-org/common-components/src/material-ui/core/styles
[code]

#### @my-org/common-components/src/mat

[2019-06-19 17:19] ffjanhoeck commented on #16270
@oliviertassinari What is the best way to test the change?
Do you always setup a new project to test your components or do you just write tests?

[2019-06-19 17:45] sourcewars commented on #15878
Just do it in your styled components. To reflect every aspect and features into components would be complete insane. Use grid wise!

[2019-06-19 17:45] mqasim1990 commented on #16194
Make sure your material core and icons are updated to latest version
I had a same issue with this material version
**"@material-ui/core": "3.9.2",
    "@material-ui/icons": "3.0.2",**

Just updated to 4.1.1 and 4.2.0 and it works

**"@material-ui/core": "4.1.1",
    "@material-ui/icons": "4.2.0",**

[2019-06-19 17:50] ivawzh commented on #14780
I am looking for the same feature as @affanshahid mentioned.

I find container Grid spacing setter very handy.

However, half the time what I want is to horizontally list things,

e.g.

|             |  |           |  |             |
|--------------|---------------|--------------|---------------|--------------|
| a            | 4 spaces on x | b            | 4 spaces on x | c            |
| 0 spac

[2019-06-19 18:06] ffjanhoeck commented on #16270
@oliviertassinari I fixed the bug, but in a other way as your example. Never mind, I cannot push my change to a new branch. I always get the error, that I don't have permissions. I did in the same way, like the documentation describes it.

Do you know what I do wrong?

![image](https://user-images.githubusercontent.com/9037364/59789137-a246a300-92cd-11e9-8c65-6f5d8fd1ed28.png)

[2019-06-19 18:09] joshwooding commented on #16270
@ffjanhoeck You need to fork the repo and create a pull request from your fork :)

[2019-06-19 18:15] ffjanhoeck commented on #16270
@joshwooding Thanks for your advice :).
But the documentation says:

Clone your fork to your local machine git clone git@github.com:<yourname>/material-ui.git
Create a branch git checkout -b my-topic-branch
Make your changes, lint, then push to to GitHub with git push --set-upstream origin my-topic-branch.
Visit GitHub and make your pull request.

I did it in the exactly right order :D Is that wro

[2019-06-19 18:16] ffjanhoeck commented on #16270
@joshwooding Thanks for your advice :) I directly cloned the repo. Let me try the way with the fork :)

[2019-06-19 18:20] techniq commented on #15878
@sourcewars This is only for the `Box` component (and underlying `@material-ui/system`) which is kind of the purpose of `Box` -- to not have to create one-off named styled-components (or emotion, etc) unless deemed necessary.  Keeps from having a bunch of one-off `Container` or `Root` named components.

[2019-06-19 18:23] ffjanhoeck commented on #16270
@oliviertassinari Damn it feels good... There is my first PR :-)

[2019-06-19 20:19] dinu90 opened #16299 "ExpansionPanel expand on clicking on an element (eg. a tag)"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker. For usage and support questions, please check out the resources below. Thanks!

---

1. Read the [documentation](https://material-ui.com/).
2. Ask questions on [StackOverflow](https://stackoverflow.com/questions/tagged/material-ui) using the tag material-ui.
3. Chat with the community on [Spectrum](http

[2019-06-19 20:20] #16299 closed

[2019-06-19 20:21] dinu90 opened #16300 "expanding an expansion panel by clicking on an anchor tag"
how to expanding an expansion panel by clicking on an anchor tag from a different component?

Background:
I have a template component which has ExpansionPanel in it. Let's call it "Template". My main app contains more than one component which uses the "Template"
Let's say I have 3 components on my app. The first component has an anchor tag in it. I am trying to expand the third component when the

[2019-06-19 20:58] tasinet commented on #16241
I finally got around to it... This fixes the problem as described in this issue, but there is still a tricky edge case which causes the `Invariant Violation - Maximum update depth exceeded` error in Firefox. Probably only tangentially related to this issue.

I'll post a gist about my adventures (not) tracking that down if anyone has any ideas or wants to pick it up. Long story short: couldn't fix

[2019-06-19 23:09] #16300 closed

[2019-06-19 23:38] nareshbhatia opened #16301 "Scannable Card Collection"
A collection of cards placed in a consistent pattern. See examples in [Material Design](https://material.io/design/components/cards.html#card-collections).

![image](https://user-images.githubusercontent.com/1220198/59807916-f3ec2f00-92c7-11e9-8059-112f0d23363b.png)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository

[2019-06-20 00:16] supermarcos opened #16302 "@material-ui/lab: 4.0.0-alpha.16 - useIsFocusVisible Error"
Hello there team,
Trying to use the slider from alpha16 I got an error such this screenshot. It seems like a function is missing in _utils object, but in the previous alpha version (15) is not happening.

![image](https://user-images.githubusercontent.com/1321938/59809619-acf04f00-9344-11e9-8a2d-0ed960f02bc6.png)

## Expected Behavior 🤔
No error, I guess...

## Current Behavior 😯
Error in slider w

[2019-06-20 03:42] yangricardo opened #16303 "Dialog content does not overlay dialog actions section"
Hi,
I am developing a dialog using react-select component.
The autocomplete Paper component is being hidden by the DialogAction component.
I tried using zIndex = 0 on Dialog components and a high zIndex to my Paper component, but it does not work.
My code is quite similar to the following links:
https://material-ui.com/components/dialogs/#form-dialogs
https://material-ui.com/components/autocomplet

[2019-06-20 05:09] ankitjena commented on #15832
@dotansimha This was the reason. Solved the problem. Thanks

[2019-06-20 05:12] nareshbhatia commented on #16301
This was fairly easy to do by changing the requirement to fixed-width cards:

[code]

I am closing this. Please feel free to comment if you know of better ways.

[2019-06-20 05:12] #16301 closed

[2019-06-20 06:14] garygrubb commented on #16271
I'm pretty sure I'm applying the diff wrong. I'm not sure why changes to the source code were not reflecting on the switch component. I even tried obvious changes like making the colour black.

[2019-06-20 06:29] ValentinH commented on #12759
@JulesAU Indeed I think this sentence is not correct.

I've made a demo that binds the open state with the location hash, like this, clicking the back button works as expected: https://codesandbox.io/s/material-demo-7zf07

@oliviertassinari do you think this could be added to the docs?

[2019-06-20 06:31] raubel opened #16305 "Switch layout broken due to MuiIconButton styles imported twice"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Switch layout should not depend on how I use/import IconButton.

## Current Behavior 😯
Importing IconButton using `@material-ui/core/IconButton/IconButton` and then importing Switch breaks the Switch l

[2019-06-20 06:34] quocvan1311 commented on #5634
@JeremyGrieshop you are the champ :D

[2019-06-20 06:41] eps1lon commented on #16305
We don't support imports from this level. Our [reducing bundle size guide](https://material-ui.com/guides/minimizing-bundle-size/#option-1) explains why those should be avoided.

[2019-06-20 07:08] emirotin commented on #16205
Done :)
Just another example to justify this position. Let's say I have a rule:
[code]
which works with a bare number just fine because of JSS. Later I decide to make it 40px/auto and change it to:
[code]
And now it doesn't work.

[2019-06-20 07:42] raubel commented on #16305
Ok, I was not aware of this limitation.
Thanks.

[2019-06-20 08:21] chrischen opened #16306 "ServerStyleSheets collect and toString stopped working"
ServerStyleSheets.collect() followed by toString() returns empty. The same implementation works in 4.0, but stops working when updated to 4.1.

- [x ] This is not a v0.x issue.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
ServerStyleSheets.toString() should return the styles.

[2019-06-20 08:26] oliviertassinari commented on #16302
It's a duplicate of #16243.

[2019-06-20 08:26] #16302 closed

[2019-06-20 08:30] chrischen commented on #16306
Forgot to update @material-ui/styles to 4.1.1 as well.

[2019-06-20 08:30] #16306 closed

[2019-06-20 08:30] oliviertassinari commented on #16241
@tasinet Do you know how we can reproduce it? The problem seems close to #16222.

[2019-06-20 09:23] kg-currenxie opened #16307 "textTransform does not work with makeStyles and a theme"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
`textTransform` should work in typescript with `makeStyles` and `theme`

## Current Behavior 😯
[code]

## Steps to Reproduce 🕹
https://codesandbox.io/s/typescript-react-material-ui-xe0ub

| Tech

[2019-06-20 09:30] lookfirst commented on #16276
It would be nice to have an example of a Button as well. Thanks.

[2019-06-20 09:42] eps1lon commented on #14132
The problem is with autoFocus on hydration which is marked as fixed in react. There should be no workaround required. It seems like there is an underlying issue that is not yet identified.

The workaround might apply the styles but the input won't actually be focused.

[2019-06-20 09:51] akomm opened #16309 "[TS] @material-ui/core: TextFieldProps variant-prop type error when modified in an acceptable way"
Doing modification to TextFieldProps as in examples below, which should work, cause a type error on the `variant` property.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
This should pass type check:
[code]

## Current Behavior 😯
Type error:
[code

[2019-06-20 09:55] eps1lon commented on #16309
Duplicate of #15697.

[2019-06-20 09:55] #16309 closed

[2019-06-20 10:07] akomm commented on #16309
I always forget to also check the closed ones.

[2019-06-20 10:44] ffjanhoeck commented on #16270
@oliviertassinari you didn't liked my change? 😅😅

[2019-06-20 10:51] Topdeveloperpcp commented on #560
ertret

[2019-06-20 10:57] lookfirst commented on #16276
This seems to work well for a Button. I suspect it will work well for a Link as well, but I haven't tried yet.

[code]

[2019-06-20 10:58] oliviertassinari commented on #16270
useForkRef was designed for this use case, it's consistent with the rest of the codebase this way.

[2019-06-20 11:41] oliviertassinari commented on #16307
@kg-currenxie Why not following our examples? Does it work?
[code]

[2019-06-20 11:41] #16305 closed

[2019-06-20 11:43] #16303 closed

[2019-06-20 11:44] oliviertassinari commented on #16285
@DrewBe121212 I'm glad you that you figured a solution out :)

[2019-06-20 11:44] #16285 closed

[2019-06-20 11:54] ffjanhoeck commented on #16270
Good to know :) I am looking forward to do more pull request and learn how everything works in material-ui. Hopefully my pull-request with your changes will be published fast as a new version, so we can fix our validations in our production software.

[2019-06-20 11:57] oliviertassinari commented on #16270
@ffjanhoeck It should be released this weekend.

[2019-06-20 11:57] oliviertassinari commented on #12759
@ValentinH Thanks for sharing your demo. I believe this issue is enough as documentation.

[2019-06-20 11:58] merceyz commented on #16307
codesandbox uses `TypeScript@v3.3.3`, opening your example in VSCode using `TypeScript@3.5.1` works fine.
You need `TypeScript@v3.4.x` or higher for your example to work without using `createStyles`

[2019-06-20 12:05] oliviertassinari commented on #14800
@d7my11 Right, it seems that the problem was already fixed: https://material-ui.com/components/text-fields/#outlined-input-adornments. It looks alright.

What do you mean by "doesn't solve the problem"?

[2019-06-20 12:10] oliviertassinari commented on #14132
@eps1lon I'm not sure to follow. From my understanding of https://codesandbox.io/s/8nov84y178. The input is focused. However, the onFocus event is not called. I was proposing to simulate the trigger of the focus event when the input is focused but the state is not.

[2019-06-20 13:07] eps1lon commented on #14132
It didn't work for me sometimes. There's something else wrong. It's definitely not the linked react issue since that has been fixed.

[2019-06-20 13:38] tasinet commented on #16241
Unfortunately not. I'll try again and If I manage to isolate the combination of style/layout/props that trigger this I will put it up on a codepen and open a new issue.

[2019-06-20 14:19] fzaninotto opened #16310 "Missing hooks in main core export"
Material-ui v4 supports tree shaking, which is great! However, only a subset of the hooks are available via an `import {} ... from '@material-ui/core';`. For instance, `useTheme` and `useMediaQuery` aren't reexported.

So even though I'm tempted to replace all named imports by a more simple `import {} ... from '@material-ui/core';`, some of those imports fail and I have no clue which one is export

[2019-06-20 14:25] eps1lon commented on #16310
I think we should just auto generate the top level index file to re-export everything from the submodules.

I'd hope rollup would warn about collisions when generating the umd bundle.

[2019-06-20 14:30] WillSquire commented on #15827
Using:
[code]

In the interim.

[2019-06-20 15:34] fzaninotto opened #16313 "[useMediaQueryTheme] Accept function as first argument"
The `useMediaQueryTheme` accepts a media query as argument. However, most of the time, this media query comes from the theme:

[code]

It's cumbersome to have to import and call `useTheme` all the time, especially since `useMediaQueryTheme` also does it.

It'd be great to be able to pass a function as first argument to `useMediaQueryTheme`, so that the previous code snippet can be written as:

[co

[2019-06-20 16:27] arnaudambro opened #16314 "The key `selected` provided to the classes property is not implemented in ForwardRef(ToggleButton). You can only override one of the following: root."
The issue is in the title: the use of ToggleButton since migration to v4 warns me that
[code]

- [X] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

It should not yell at me as [as far as I can see in the doc](https://material-ui.com/api/toggle-button/#c

[2019-06-20 16:32] arnaudambro commented on #16314
My bad, the warning was actually for my `ToggleButtonGroup`, not this component...

[2019-06-20 16:32] #16314 closed

[2019-06-20 16:52] #16307 closed

[2019-06-20 17:37] joshwooding commented on #16205
This change would break `theme.spacing(4) + 1` It’s just going to be a trade off

[2019-06-20 17:55] emirotin commented on #16205
Alternatively MUI can stop adding 'px' altogether and rely on the jss space-separated syntax: `margin: [[5, 10]]`

[2019-06-20 18:24] rosskevin commented on #16245
Test pr in #16315

[2019-06-20 18:29] MarkLeMerise commented on #204
Leaving this here in case it helps anyone (running v3.9.0). I needed a `<Select>` to act as a menu of `react-router-dom` `<Link>`s. Each link corresponded to a language setting, so the dropdown would display the value of the current language from the query parameter.

[code]

This was the cleanest solution I could find that required minimal TypeScript casting and maintained visuals consistent with

[2019-06-20 18:36] rosskevin commented on #15984
I believe 1. demos in typescript, then 2. tests migrated to typescript would yield the biggest benefit.  Moving the source files there would be great from a ts-user standpoint (and generally understanding the codebase), but I also understand the non-ts user perspective so I am not strongly advocating either way.  Certainly my personal perspective is pro-ts.

I do believe that tests in ts/tsx would

[2019-06-20 18:37] rosskevin commented on #14971
/related #16245#16315

[2019-06-20 19:45] NickCis opened #16316 "[styles] Dynamic makeStyles changes specifity (rules precedence)"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

(It might be related with #15511 )

## Expected Behavior 🤔

Using a dynamic and static style should have the same css rule precedence.

## Current Behavior 😯

Rules created with dynamic styles (passing a props to the `useSty

[2019-06-20 20:14] Alex-cr17 commented on #16105
I have the same bug. But I found temporary solution.
default state for input:
input: focus {
outline: 0;
}
I set it up:
input:focus {
outline: 1;
outline-offset: 100000px
}

[2019-06-20 20:43] cdcasey opened #16317 "Slider onChangeCommitted fires on mouseenter"
When after moving the Slider, my handler for onChangeCommitted fires as expected. If I move the mouse cursor outside of the browser window and then back in, it fires again.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The onChangeCommitted hand

[2019-06-20 23:02] oliviertassinari commented on #16205
@emirotin I think that we should optimize for styled-components not JSS.

[2019-06-21 01:38] vaielab opened #16318 "order of element in makestyles when using props"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When using makeStyles and using props on some class or property, if a html element have  multiple class, the priority of a element should be based on the order of declarations of elements.

## Current

[2019-06-21 03:05] kg-currenxie commented on #16307
Hm, our actual project actually uses ts 3.5.2.
It actually compiles fine, but our IDEs still display it as a warning 🤔

[2019-06-21 03:40] zoutong123 opened #16319 "Module not found: Can't resolve '@material-ui/core/utils' in 'some-project\node_modules\@material-ui\lab\esm\Slider'"
this issure is in file "./node_modules/@material-ui/lab/esm/Slider/Slider.js" line 15

`import { setRef, withForwardedRef } from '@material-ui/core/utils';
`
version:
"@material-ui/core": "^3.9.3",
"@material-ui/icons": "^3.0.1",
"@material-ui/lab": "^4.0.0-alpha.14",

[2019-06-21 05:36] #16319 closed

[2019-06-21 05:41] joshwooding commented on #16319
@zoutong123 You can’t use v3 of `@material-ui/core` with v4 of `@material-ui/lab` please upgrade core. Also it looks like you might be importing the slider with `@material-ui/lab/Slider/Slider` we don’t support that level of importing please use `@material-ui/lab/Slider` or `import {Slider} from `@material-ui/lab`

[2019-06-21 05:45] zoutong123 commented on #16319
@joshwooding I see, thanks.

[2019-06-21 06:22] emirotin commented on #16205
My idea was under the hood you're using JSS so relying on its native features sounds logical. Also given you allow passing the custom `jss` instance to the provider if I'm not mistaken.
For instance, in JSS one can configure the default unit for length to be `rem` for instance (and that could make sense for responsiveness) while you're currently hard-coding `px`. Dropping the units from your metho

[2019-06-21 06:33] #16241 closed

[2019-06-21 06:34] #16287 closed

[2019-06-21 06:37] #16310 closed

[2019-06-21 06:41] #15837 closed

[2019-06-21 07:28] eps1lon commented on #15984
That is work that's up for grabs. You can add a `// @ts-check` to the unit test files in `core/src` and see if it type checks. See https://github.com/mui-org/material-ui/pull/16187/files#diff-4e15af19bc6a128de4ce036cdc12b862

[2019-06-21 07:44] oliviertassinari commented on #16318
@vaielab Thank you for the report. I'm closing as a duplicate of #16316.

[2019-06-21 07:44] #16318 closed

[2019-06-21 07:44] oliviertassinari commented on #16316
@NickCis Thanks for the report. This problem was partially highlighted in #15511.

[2019-06-21 07:56] oliviertassinari commented on #16317
@cdcasey Thank you for reporting the problem. I believe the fix is as simple as:
[code]

Do you want to submit a pull request? :) We would love to review it.

[2019-06-21 08:00] oliviertassinari commented on #16205
@emirotin The plan is to change the default engine to styled-components in v5, while keeping JSS for backward compatibility. We need a strategy that works with the majorities of the styling solutions. This array feature comes in a JSS plugin we don't load to minimize bundle size.

[2019-06-21 08:05] #16273 closed

[2019-06-21 08:25] eps1lon commented on #13394
No github I said another change

[2019-06-21 11:02] popuguytheparrot opened #16320 "For what pallete.grey in theme ?"
![image](https://user-images.githubusercontent.com/19804652/59918355-2499a900-942d-11e9-99a0-1039fd4e0a30.png)

[2019-06-21 11:28] #16320 closed

[2019-06-21 13:51] merceyz commented on #14897
These are already done but not checked:
* components/grid/ComplexGrid
* components/popper/SimplePopper
* customization/components/DynamicInlineStyle

[2019-06-21 14:49] JavaJamie commented on #240
Apologies for piggybacking on this issue (didn't want to create a separate one for something similar). Is there a way to disable the only the tab swipe effect transition when overriding the theme? Something like this (although I don't know what exactly it would be after trying several things):

[code]

[2019-06-21 14:57] oliviertassinari commented on #240
@JavaJamie This doesn't look correct. Use `themes.props.MuiTab.disableRipple = true`.

[2019-06-21 15:04] rosskevin commented on #15984
I'd rather try changing to tsx and add the `@babel/preset-typescript`.  If I get some time I'll try one and we can see what the changeset entails.

[2019-06-21 15:08] matthewdordal opened #16325 "Dialog does not reset internal state when closing."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When I open a dialog and change the state of the DialogContent the state should be reset once the dialog is closed. That way previous state is not persisted when the dialog is opened again.

## Current

[2019-06-21 15:49] eps1lon commented on #15984
What would be the benefit of that?

[2019-06-21 15:53] rosskevin commented on #15984
Builds with Babel and type checking with tsc?

[2019-06-21 16:11] matthewdordal commented on #16325
Closing this issue. I apologize, it looks like I did not set the `keepMounted` prop correctly.

[2019-06-21 16:11] #16325 closed

[2019-06-21 16:59] lookfirst opened #16327 "IconButton with onClick typescript issues"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
No warnings in my IDE. I don't need to add the `href=` attribute because my onClick handler deals with things for me.

## Current Behavior 😯
Catch 22 error. If I don't have href, I get a warning about

[2019-06-21 17:05] lookfirst opened #16328 "List and ListItem element requires component attribute"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
No warnings.

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/85355/59939144-31e08300-9481-11e9-98e5-9fcb2ea42550.png)

Same with `ListItem`

## Workaround
![image](https://use

[2019-06-21 17:29] eps1lon commented on #16328
We don't support any IDE setups. Does this also create errors when building your application?

[2019-06-21 17:29] #16327 closed

[2019-06-21 17:30] eps1lon commented on #16327
If you add an `href` you will render an anchor not a button i.e. `HTMLButtonElement` wont be true at runtime. You should use `HTMLAnchorElement`.

[2019-06-21 17:31] eps1lon commented on #15984
We get type checking by adding `@ts-check`. An additional build pipeline is always a downside.

[2019-06-21 17:38] rosskevin commented on #15984
We are already running `tsc` with the script `typescript` in `material-ui/package.json` and run in ci with
[code]

so it is not an additional build step but an existing one.  Further, are people more likely to know jsdoc(?) annotations or typescript annotations?

[2019-06-21 17:59] lookfirst commented on #16328
Nope. But it is effectively something wrong with the TS type definitions, not with the IDE itself.

[2019-06-21 18:00] lookfirst commented on #16327
I think you're missing the point though. Without the href=, the IDE gives a warning that it is missing. This is something wrong with the type definitions. href isn't a required attribute.

[2019-06-21 18:50] eps1lon commented on #16328
If the build is green and only your IDE is displaying an error then it's an issue with your IDE. Sometimes various extensions don't pick up the correct tsconfig and typescript version.

I would recommend our spectrum chat or stackoverflow as github issues is not used for usage questions.

[2019-06-21 18:50] #16328 closed

[2019-06-21 18:55] eps1lon commented on #15984
the jsdoc annotations are parsed by typescript just as regular typescript types. There's no difference there.

I thought we were talking about our unit tests. It's not strictly speaking a new build step but an additional preset that has to be configured.

Yes I know our CI setup quite well considering I build most of steps concerned with type checking.

To further clarify: That step already type c

[2019-06-21 18:57] eps1lon commented on #16327
As with #16328 we don't offer support for every IDE setup. The actual build error after you added the `href` attribute is expected.

[2019-06-21 19:00] cdcasey commented on #16317
Will do!

[2019-06-21 19:04] rosskevin commented on #15984
I'm not sure how `@ts-check` checks usage without running in tsc (I'm not familiar).

I get the sense that things like #16315 would more likely be surfaced by quite simply switching tests to `tsx` and including them in the tsconfig while using the standard tooling (`tsc`).  This seems very simple, no need to annotate - just change the extension and we get better coverage.

I'm not sure doing somet

[2019-06-21 19:09] acostajake commented on #15941
Successfully removed warnings by removing spaces from display names. A little confusing that other libraries (like Enzyme) have demos with spaced displayNames which worked fine until upgrading to MUI4. Easy enough to fix once you know what to look for. :)

[2019-06-21 22:48] wujasmine commented on #14018
Thanks this worked!

[2019-06-22 05:57] MohitKS5 commented on #1467
@msafrin3 This doesn't work for width more than 600 , thats what the question says, it works upto some limit whcih is 600 if you see inspect element.

[2019-06-22 06:35] cyberhck commented on #15984
Everyone knows we can easily do a partial migration and move slowly, but if maintainers don't want to give TypeScript a try, simply listing benefits won't do anything. As some of us already said we'll help migrate and do a gradual migration. I'm getting sense that they just don't want to do it. There's no point on arguing benefits or tradeoffs.

Issue title clearly says for v5 which means you can

[2019-06-22 06:59] eps1lon commented on #15984
Sure. You can add `@ts-check` to files in `./packages/material-ui/src/**/*.test.js`. This is a gradual migration strategy. I'm not sure how you get the impression we're not interested in improving types. It's a bit unfair to make these claims without being involved with the project.

[2019-06-22 08:17] eps1lon commented on #15973
Closed with #16323

[2019-06-22 08:18] #15973 closed

[2019-06-22 09:07] oliviertassinari commented on #5186
The logic is no longer implemented, something has caused a regression, somewhere. We should take care of it. Also, it's a good opportunity to challenge what the best tradeoff is.

[2019-06-22 11:01] #16265 closed

[2019-06-22 11:02] oliviertassinari commented on #16265
@attilavago Let us know if you have any new information, we will be happy to revisit the issue!

[2019-06-22 11:03] oliviertassinari commented on #14800
I'm closing, waiting for more information to be provided.

[2019-06-22 11:03] #14800 closed

[2019-06-22 11:04] oliviertassinari commented on #15968
@joshwooding Did you find anything? Should we close?

[2019-06-22 13:50] salnikovp0 opened #16332 "MUI RTL List component support with action icons ListItemSecondaryAction"
On version 3 i've got a mui support for rtl language when used List component with icon inside.
Now the icon sty on the right side(ltr) when the other UI behave just like it should

- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

when use the mui t

[2019-06-22 14:23] oliviertassinari commented on #16332
@salnikovp0 The demos work on the live documentation website. Something is off with your configuration.

[2019-06-22 14:23] #16332 closed

[2019-06-22 14:49] jerrychong25 commented on #14075
Same question here. No idea what is next.

[2019-06-22 14:58] eps1lon commented on #14075
`next` is an npm version alias used by react to point to unstable alpha releases.

You can now use `^16.8.0` to get a stable version supporting hooks. `16.7.0` was originally planned to include hooks but this was delayed until 16.8.

[2019-06-22 15:09] merceyz commented on #14897
Same goes for all demos in `system/typography`

[2019-06-22 15:39] jerrychong25 commented on #14075
Thanks for clarification.

I have updated my project to `^16.8.0`.

[2019-06-22 19:18] #16317 closed

[2019-06-23 00:54] jamalcoder opened #16336 "[SwipeableDrawer] disableDiscovery always false"
hello
i'm using Material-UI  v4.1.1, after setting disableDiscovery to true touching the screen near the edge of the drawer still trigger the drawer

[2019-06-23 02:59] cyberhck commented on #15984
The point was to start doing actual conversion, without only using `@ts-check`, but rather starting to change from js files to jsx files,

[2019-06-23 05:53] eps1lon commented on #16336
Please follow the issue template especially a minimal reproducible example and your device and browser would help alot.

[2019-06-23 06:01] eps1lon commented on #15984
I thought adding `@ts-check` would be the same as changing the extension. Is type-checking different for those two? Could you elaborate on the difference?

[2019-06-23 07:25] cyberhck commented on #15984
no, if you were to change extensions, you can inline your type definition, you can't have a javascript file like this:
[code]
If we start moving everything to proper typescript, the type checking will also increase, and will find potential bugs.

[2019-06-23 10:41] adonig opened #16338 "Do StylesProvider and ServerStyleSheets Work Together?"
The styles injected by StylesProvider are missing in the styles collected by ServerStyleSheets. When doing SSR, shouldn't all styles be collected instead of being injected in the client later?

**Example code:**
<img width="523" alt="Screen Shot 2019-06-23 at 12 39 49" src="https://user-images.githubusercontent.com/900404/59975055-09a57100-95b4-11e9-99a2-cdab4632805e.png">

**Results:**
<img width

[2019-06-23 11:59] dan8f commented on #15000
@Koniushok you can customize your theme to override MuiButtonBase (hover transparent) when the device is mobile. Note this wouldn't solve the issue on hybrid devices...

There is a [talk](https://www.youtube.com/watch?v=LhKglxQT4sU) about these issues by Rick Hanlon. No idea if it would be acceptable for Mareial-UI to add mouse enter/ leave to handle hover? @oliviertassinari

[2019-06-23 12:29] numToStr opened #16339 "[system] Add support for text transform and text decoration"
It would be helpful for some cases when we want to make text uppercase or sentence case.

[2019-06-23 12:49] mschipperheyn opened #16340 "Component Transitions: we need more of that"
- [x ] This is not a v0.x issue.
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Material UI has helped developers to make UIs that look great. However, truly great UIs also have powerful transitions that help users understand what's happening. Examples abound in the mobile world

[2019-06-23 12:55] joshwooding commented on #15984
@cyberhck I don't think anyone is against the long term vision of potentially moving to TypeScript. `@ts-check` allows for us to start gradually migrating as @eps1lon said. I, for one, am grateful for the slower move since it allows me more time to get more comfortable with TypeScript.

[2019-06-23 13:07] joshwooding commented on #16340
Similar to @15330 I wouldn't say it was exactly the same task.

[2019-06-23 13:23] eps1lon commented on #15984
Yeah I don't understand what's being proposed here. We are increasing our type coverage, we are using tslint. If the argument for ts extension is only a stylistic one then I think we don't have to put effort into it.

Also advocating for a move to linting with typescript (I guess you mean tslint?) is backwards. tslint will soon be deprecated. If anything we should look into moving to eslint 6 (rel

[2019-06-23 13:53] oliviertassinari commented on #15000
@dan8f I have jumped and skipped the talk. When the codebase was using inline styles, we used to have this logic.

I think that our first area of investigation should be to dive into why new Samsung touch devices behave differently than the other brands. If they acknowledge that it's a regression, I think that we can wait for their fix.

[2019-06-23 13:59] adipascu commented on #15000
@oliviertassinari I noticed this is happening with Samsung phones that have a stylus. I think its a limitation because the `hover` media query prop remains active when the stylus is inactive.

[2019-06-23 14:49] rofiuddin15 opened #16341 "TypeError: color.charAt is not a function"
I have some warning like this:

**TypeError: color.charAt is not a function**

decomposeColor
node_modules/@material-ui/core/esm/styles/colorManipulator.js:125

[code]

lighten
node_modules/@material-ui/core/esm/styles/colorManipulator.js:270

Array.onUpdate
node_modules/jss-plugin-rule-value-function/dist/jss-plugin-rule-value-function.esm.js:46

[2019-06-23 14:50] oliviertassinari commented on #15000
The [Ionic approach](https://github.com/mui-org/material-ui/issues/15736#issuecomment-496191773) doesn't work: https://codesandbox.io/s/material-demo-s1ux7.

I'm not aware of any good solution to the problem. I would propose that we wait for somebody to explore the possible solutions to the problem and to report back. I don't think that it's something the core team should invest time one. If someb

[2019-06-23 15:02] joshwooding commented on #16341
Please provide a reproducible example. I would also check your imports and make sure they are less than 2 path levels.

[2019-06-23 15:11] mschipperheyn commented on #16340
@joshwooding yes, although I would favor a shrink wrapped solution but if the examples of the spec are implemented, it will prob start to point into a general direction.

[2019-06-23 15:11] #16340 closed

[2019-06-23 17:37] oliviertassinari commented on #16338
@adonig This configuration is used by the documentation, it should work. We can't help without a reproduction example.

[2019-06-23 17:41] adonig commented on #16338
@oliviertassinari Thank you for the response. I'm trying to create a minimal reproduction example.

[2019-06-23 19:13] depiction commented on #11723
I'm in the process of upgrading a project from a Material UI 0.19, which had a menu component that supported cascading menus, to version 4, which doesn't. I started with the demo that @janhoeck created and continued refining it. I copied the code that I ended up using to a Codepen for others to use. It addresses most of the concerns that everyone has mentioned.

The key was to use Menu for the roo

[2019-06-23 21:28] mattjennings opened #16344 "TableCell loses base styles when using styled API with component prop"
When styling a TableCell component using the [styled API](https://material-ui.com/guides/interoperability/#the-styled-api), it will apply the defined styles but then lose its base styles for the TableCell component.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expe

[2019-06-23 21:32] mattjennings commented on #16344
Oops, I now see this is a duplicate of #14470.

[2019-06-23 21:32] #16344 closed

[2019-06-23 22:20] oliviertassinari commented on #11723
@depiction Thanks for sharing, it doesn't completely solve the problem (e.g. keyboard), but it's a start, it can help waiting for us to fully support it. If you are interested in it, please upvote the issue. This is a metric we look at when prioritizing our work.

[2019-06-23 23:44] jamalcoder commented on #16336
i read about disableDiscovery  and it's the expected behaviour

[2019-06-23 23:44] #16336 closed

[2019-06-24 00:05] pavel06081991 opened #16346 "Hidden component based on css implementation not working with Grid item"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When you have such code:
[code]
Grid item which is wrapped with Hidden component does not have Grid item css styles. That is because child css selector is used [here](https://github.com/mui-org/material

[2019-06-24 05:42] sathishs683 opened #16347 "Snackbar - TypeError: Cannot read property 'scrollTop' of undefined"
@material-ui/core: 4.1.2

Re-produce: use react material live site & CodeSandbox demo.

![Screenshot (7)](https://user-images.githubusercontent.com/28302736/59994243-c78e3500-9670-11e9-97d9-33447e0b6932.png)
------------
![Screenshot (8)](https://user-images.githubusercontent.com/28302736/59994260-d379f700-9670-11e9-8ad4-198ad7283903.png)
------------
![image](https://user-images.githubusercontent

[2019-06-24 05:50] ffjanhoeck commented on #16270
Hey @oliviertassinari , This solution does not work quite well :/
Take a look at this sandbox: https://codesandbox.io/s/angry-leaf-njnfn

Open your console and change the value of the select multiple times. As you can see, the node reference gets nullified. Do you have an idea why this happen?

![image](https://user-images.githubusercontent.com/9037364/59994581-ac153100-9654-11e9-811c-bba8fdb4b911

[2019-06-24 05:50] ffjanhoeck commented on #16270
I am not able to reopen this issue

[2019-06-24 06:35] joshwooding commented on #16347
Confirmed reproduction: https://codesandbox.io/embed/y6lzd

Opened success snackbar and got the type error.

[2019-06-24 07:29] d7my11 commented on #14800
@oliviertassinari i thought padding should be less than `12px` but i was wrong. sorry

[2019-06-24 07:36] rejas commented on #16151
Works like a charm! Thx again!!!!

[2019-06-24 08:09] klein-h commented on #16347
Confirmed on the material-ui website too.
<img width="1677" alt="Capture d’écran 2019-06-24 à 10 09 05" src="https://user-images.githubusercontent.com/19607373/60002018-213e3180-9668-11e9-9ec9-8ab079c8cc22.png">

[2019-06-24 08:22] oliviertassinari commented on #16347
Should we uniquely fix the demo?

[2019-06-24 08:26] klein-h commented on #16347
When the demo will be fix, i think the component will be usable.

[2019-06-24 08:30] oliviertassinari commented on #16347
@klein-h The demo fix is simple, it's about adding React.forwardRef. However, do we have a better alternative in the core?

[2019-06-24 08:32] eps1lon commented on #16347
I'm fixing the demo and add a prop-type warning. The child of Snackbar needs to be able to hold a ref since we switched to `@material-ui/react.transition-group`. We didn't have a test for custom children which is why this breakage slipped through.

[2019-06-24 08:36] eps1lon commented on #16347
#16283 was a breaking for Snackbars. We need to revert.

[2019-06-24 08:40] oliviertassinari commented on #16347
Would a fallback logic on findDOMNode work? Can we detect if the provided element doesn't accept a ref?

[2019-06-24 08:45] eps1lon commented on #16347
Unfortunately not. We can only look at the direct element and in cases of React.memo we don't know if a ref can be held because it could wrap a function component.

We could convert Snackbar to a class component and then fallback to `findDOMNode(this)`. But it would still create warnings that we attached a ref to function components. This is a pretty big drawback because that particular warning is

[2019-06-24 08:45] oliviertassinari commented on #16270
Oh yes, correct, my proposed fix was plain wrong, this works better:
[code]

What do you think?

[2019-06-24 08:57] balazsorban44 commented on #11251
Would be interested in this too!

[2019-06-24 09:33] aaditya-taparia commented on #16271
[code]
should work, I think.

[2019-06-24 09:35] guenth39 opened #16349 "[styles] How to use keyframes with styled from material-ui/styles"
Could you please add an example how to use keyframes with styled from material-ui/styles like you did in #14066 ?

Best Regards

---

1. Read the [documentation](https://material-ui.com/).
2. Ask questions on [StackOverflow](https://stackoverflow.com/questions/tagged/material-ui) using the tag material-ui.
3. Chat with the community on [Spectrum](https://spectrum.chat/material-ui).
4. Ping us on [

[2019-06-24 09:38] oliviertassinari commented on #16271
@aaditya-taparia We explore this approach a bit in https://github.com/mui-org/material-ui/issues/15000#issuecomment-504759096. I'm not sure which one is the best (`@media (hover: hover)` vs `@media (hover: none)`).

[2019-06-24 09:55] #16349 closed

[2019-06-24 09:58] #16347 closed

[2019-06-24 09:59] #15812 closed

[2019-06-24 10:03] #9089 closed

[2019-06-24 10:04] oliviertassinari commented on #9530
I'm closing, GitHub issues are not the proper place to track this effort.

[2019-06-24 10:04] #9530 closed

[2019-06-24 10:05] #9957 closed

[2019-06-24 10:06] oliviertassinari commented on #9957
I'm closing as the feature hasn't gained much interest by people and because supporting it would be a extra level of complexity. Better avoid it if we can.

[2019-06-24 10:10] oliviertassinari commented on #11833
Is this still an issue with the latest version?

[2019-06-24 10:11] mdazy opened #16351 "Theme parameter is not typed when using function form of styled"
## Expected Behavior 🤔
With the code below, in the function passed to `styled`, `theme` should be typed as `Theme`:
[code]

## Current Behavior 😯
`theme` is typed as `any` instead, so there is no type checking or code completion on the theme properties.

## Steps to Reproduce 🕹
See [CodeSandbox](https://codesandbox.io/embed/practical-liskov-zjui7)

## Environment 🌎

| Tech         | Version |
|---

[2019-06-24 10:12] klein-h commented on #16347
Still have the error on the demo page btw.

[2019-06-24 10:15] adimshev commented on #13297
I have same problem on Safari (macbook, ipad).
[maps.mirlk.ru](https://maps.mirlk.ru)
![image](https://user-images.githubusercontent.com/33316685/60010897-602cb100-9681-11e9-9e7e-55254825d79e.png)

And no problem on Chrome:
![image](https://user-images.githubusercontent.com/33316685/60011217-fe207b80-9681-11e9-9685-155c59a1830c.png)

[2019-06-24 10:16] oliviertassinari commented on #13174
@anandbkrishnamohan Does it mean we can close the issue?

[2019-06-24 10:20] oliviertassinari commented on #13539
@eps1lon I believe that we solve the problem correctly now. Do we need the issue to be open? Is there any work left to be done?

[2019-06-24 10:27] ffjanhoeck commented on #16270
@oliviertassinari Looks good! Do you have time to make this change? Because currently I am at work and I don't have that much time this week :/ Otherwise if you don't have time too, I will try to get some time :D

[2019-06-24 10:33] oliviertassinari commented on #14762
Let's ignore the problem.

[2019-06-24 11:06] serhiiminin commented on #12237
The same problem

[2019-06-24 11:09] eps1lon commented on #13539
I'll take a look.

[2019-06-24 11:10] eps1lon commented on #16347
@klein-h We don't automatically release merged PRs.

[2019-06-24 11:12] eps1lon commented on #16351
`@material-ui/styles` is a generic solution without a default theme. You have to provide type and implementation manually.

You probably want to use `@material-ui/core/styles` to get type and implementation by default.

[2019-06-24 11:26] adonig commented on #16338
@oliviertassinari I found out that ServerStyleSheets doesn't collect the styles which got added by Styled Components. The following setup works as expected:

<img width="800" alt="Screen Shot 2019-06-24 at 13 23 40" src="https://user-images.githubusercontent.com/900404/60015251-4ee4a400-9683-11e9-921e-0a8b1daa6f3f.png">

I somehow falsely expected ServerStyleSheets to handle Styled Components rend

[2019-06-24 11:27] dan8f commented on #15000
I'm afraid is not just Samsung devices. This problem also surfaces in Xiaomi too (tested on Xiaomi Mi A1), as well as hybrid devices.

[2019-06-24 12:10] cyberhck commented on #15984
Maybe I missed something, on your JS files, can you show me an instance, where you define a return type?

About the migrating to tslint, I understand your position, tslint isn't getting deprecated tomorrow, and we can always switch to eslint-typescript instead.

Changing extension is about the cognitive load when I read your js files, I don't exactly know what type your function is supposed to get

[2019-06-24 12:12] AnuragTiwari1 commented on #16347
for now use v4.0.0 that is working for me

[2019-06-24 12:16] eps1lon commented on #16347
4.1.1 should be good too.

[2019-06-24 12:22] mdazy commented on #16351
Thanks, got that.

However, even after switching to `@material-ui/core/styles`, for some reason the type of the parameters to the function form still ends up as `any` in my code, even though it appears to be correctly defined as `{theme: Theme} & Props` in the definition of `ComponentCreator` in `styled.d.ts`:

![image](https://user-images.githubusercontent.com/31471185/60018315-55771980-968b-11e9

[2019-06-24 12:24] rassie opened #16352 "[Slider] Broken with negative step"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Slider works with negative steps values as with `@material-ui/lab` 4.0.0-alpha.15 and earlier.

## Current Behavior 😯
Slider with negative `step` only allows the minimum and maximum value.

## Steps to

[2019-06-24 12:27] eps1lon commented on #16351
Try accessing a property that doesn't exist and see if it compiles. The source of truth is the build not your editor.

[2019-06-24 12:33] mdazy commented on #16351
I'm afraid it [does compile and ends up as undefined](https://codesandbox.io/embed/vigilant-brattain-okrtn).

[2019-06-24 12:52] yinonby opened #16353 "DateTimePicker value update not reflected in picker"
Behavior: DateTimePicker value is changed programmatically, render() function is called, but the calendar keeps displaying the last selected date;

Expected: DateTimePicker should display the new value, and not the old one.

More Info: the value of the date is stored in this.state. I print the value right before render() returns the element to render, and see the new value. However, the picker dis

[2019-06-24 13:31] Exitialis1 opened #16354 "[ButtonGroup] Support text variant"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
It should look like the normal button's text variant, but with a vertical divider between the buttons in the group. Like the Outlined variant, but without the outer line, just the inner veritcal lines.

[2019-06-24 14:33] dcjones1 commented on #12237
Same problem here as well moving from 4.1.1 to 4.1.2. Oddly enough, it works just fine for one component, but not for another.

[2019-06-24 15:13] sathishs683 commented on #16347
Downgrading to 4.1.1 not fixing the problem....