[2020-01-21 06:44] gmltA opened #19328 "[Modal] Scroll lock customization"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Allow scrollbar width padding to be optional or adjustable for modal component with scroll lock enabled.

## Motivation 🔦

I'm trying to get rid of jumpy page behaviour in Chrome when scrollbar appears on page. My current solution involves ad

[2020-01-21 07:27] #19326 closed

[2020-01-21 07:29] oliviertassinari commented on #19328
[code]

[2020-01-21 07:29] #19328 closed

[2020-01-21 07:38] oliviertassinari commented on #19327
We don't support it.

[2020-01-21 08:04] gmltA commented on #19328
@oliviertassinari but that doesn't actually a solution. The goal is not to enforce scrollbar, but to handle its presence \ absence properly.

[2020-01-21 08:11] oliviertassinari commented on #19328
In this case, I don't understand. Is this a duplicate of another issue?

[2020-01-21 08:27] gmltA commented on #19328
@oliviertassinari no, it's not a duplicate.
The initial goal is to make Modal behaviour more adjustable by allowing user to disable right padding (equal to computed scrollbar width) when Modal opens, because in some scenarios it is not needed. Alternative solution here is to set `padding-right: 0!important;` to all affected elements, but I don't think it is a good decision.

[2020-01-21 08:45] #15713 closed

[2020-01-21 08:45] #16465 closed

[2020-01-21 08:45] #16774 closed

[2020-01-21 08:45] #17305 closed

[2020-01-21 08:45] #17355 closed

[2020-01-21 08:45] #19213 closed

[2020-01-21 09:01] LorenzHenk opened #19329 "[Slider] Value label position if disabled"
If the `Slider` is `disabled`, the value label is slightly off to the right.

![image](https://user-images.githubusercontent.com/10603631/72788461-4280f380-3c32-11ea-814c-64f6a078464b.png)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behav

[2020-01-21 09:25] #19302 closed

[2020-01-21 10:04] oliviertassinari commented on #19149
@fyodore82 It sounds like you have reached the point where I have stopped my investigation. It would be awesome if you could crack the case :). For instance, why does it work with the Dialog and not the Modal? Why calling .focus() doesn't trigger a focus event?

[2020-01-21 10:07] zsolt-dev commented on #19315
Thank you, but I do not understand material-ui so deeply and also do not know typescript.

Also you already did the work, so you deserve the credit for it.

[2020-01-21 10:30] oliviertassinari commented on #19325
@siriwatknp  We link mui-treasury after a couple of customization demos. For instance here: https://material-ui.com/components/buttons/#customized-buttons. What do you think of increasing the cover of this approach to as many components as possible? :)

This sounds great. I think that we can add a new "Layout" subsection under https://material-ui.com/discover-more/related-projects/#components 💯.

[2020-01-21 10:34] oliviertassinari commented on #19327
However, we will likely do with #8823.

[2020-01-21 10:34] #19327 closed

[2020-01-21 10:51] oliviertassinari commented on #19329
I have no idea. I suspect it originates from iteration on the initial implementation.

[2020-01-21 10:57] suliskh commented on #19315
Has anyone assigned to it? I am happy to help!

[2020-01-21 11:01] shashank-ac commented on #11628
Where exactly in the rollup.config.js should we put that ? please show a sample.

[2020-01-21 11:05] oliviertassinari commented on #5186
We might have a recommendation from the specification:

![Capture d’écran 2020-01-21 à 12 04 18](https://user-images.githubusercontent.com/3165635/72799808-50407400-3c46-11ea-987e-b8447a942290.png)

https://material.io/design/interaction/states.html#anatomy

[2020-01-21 12:27] oliviertassinari commented on #19322
Please, don't do that.

[2020-01-21 12:29] khasky commented on #12654
It is possible to disable MuiCssBaseline?

[2020-01-21 15:20] NikshepAV commented on #19302
I did. But missed these notifications.  😄

[2020-01-21 15:54] LorenzHenk opened #19335 "[Slider] marks type is invalid"
The slider prop type and typescript type allows the value `false` for `marks`, but using this value will lead to the error "marks.map is not a function".

The problem seems to be here: https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Slider/Slider.js#L386

Examining this code block, I was able to trigger the same error with the following properties as well: `marks={true}

[2020-01-21 16:23] oliviertassinari commented on #19335
@LorenzHenk Thanks for raising. I have no idea what would be the best fix here. The fix you have proposed sounds good. Maybe somebody else has a preference?

[2020-01-21 16:28] GoelBiju commented on #8598
This solution does successfully work using TypeScript (with `material-ui` v3.9.3).

[2020-01-21 18:22] aleciavogel commented on #14357
Using the code snippets provided in this thread, I had to make a couple of tweaks to get `withStyles` to work in my project (I'm using the default theme at the moment).

[code]

Hope this helps someone!

[2020-01-21 18:57] EsoterikStare opened #19336 "[FormControl]: Can fullWidth be added to the FormControl context?"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would like to be able to consume the `fullWidth` FormControl state prop from the FormControl context in order to have better support for more custom fullWidth behaviors, especially for non-MUI children.

## Examples 🌈

https://github.com/mu

[2020-01-21 20:05] eps1lon commented on #19336
Thank you for opening this issue and explaining the motivation.

Could you list all the form related components that implement the `fullWidth` prop?

If `react-select` causes too much headache you might want to try out our unstable [`Autocomplete` component](https://material-ui.com/components/autocomplete/). It's intended to replace `react-select` integration. It would help if you can test this in

[2020-01-21 20:47] EsoterikStare commented on #19336
We're very aware of (and excited about!) `Autocomplete`, but we have a more immediate need to support our existing component until we can justify using `Autocomplete` in production. =(  Sorry, I should've mentioned that.

I'll try and get an audit together for all the fullWidth-compatible components today. Thanks for the response!

[2020-01-21 20:54] JonKrone commented on #19258
Sure thing - made the above PR :).

There's probably a way to add this to the test suite. Could probably use the underlying typescript parser, ask it to generate a list of the symbols exported by the `src/index.d.ts` declaration files, then compare that with the list of symbols exported by a full module `import`/`require`.

(Just as an aside, I've +1'd the Issue thread about transitioning `@materi

[2020-01-21 21:09] BerndWessels opened #19338 "Hot Reloading Broken - useRippleHandler"
Using `material-ui` with `react-hot-loader` is broken when using `material` components that use the ripple effect like `Button`.

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When `hot reloading` the console throws an error:

[2020-01-21 21:14] eps1lon commented on #19338
We don't have the bandwidth to debug issues with react-hot-loader. Could you open an issue in react-hot-loader? I think they have more insights into the cause. Knowing what the issue is would help a lot.

[2020-01-21 21:19] BerndWessels commented on #19338
@eps1lon Yes will do, but hope somebody reading this issue here can find a solution.

`material-ui` like basically every other react library is pretty much useless and a no go without `hot reloading`.

I will have a bit of debugging too but am not an expert in the guts of `material-ui` ;)

[2020-01-21 21:32] EsoterikStare commented on #19336
These are all the form-related components which implement a `fullWidth` prop:
- `FilledInput`
- `FormControl`
- `Input`
- `InputBase`
- `OutlinedInput`
- `TextField`

To me, this seems like a perfectly innocuous addition since there _shouldn't_ be any components looking for or acting on its presence in the context.

Is there a particular reason this was not originally included in the context? It s

[2020-01-21 21:48] eps1lon commented on #19336
We put things in context if different components in a FormControl need the same "prop". This doesn't seem to be the case for `fullWidth` as this is only implement by input-like components. You should only have one input per FormControl.

e.g. `variant` is in context because input-like as well as the InputLabel require that prop.

Could you share your code? Maybe I'm missing some places where you h

[2020-01-21 22:28] theKashey commented on #19338
The problem is definitely bound to React-Hot-Loader babel plugin, which references `useRippleHandler`, which is not in the _scope_ by a some reason.
We need to find that reason.

[2020-01-21 22:39] eps1lon commented on #19338
Handing this of to react-hot-loader. Seems not actionable for us. Thanks @theKashey looking into this so quickly.

[2020-01-21 22:39] #19338 closed

[2020-01-21 22:48] EsoterikStare commented on #19336
Sorry, I can't share my code, but I can provide some pseudo-code.

I think I understand what you're saying. The problem I think this solves is that `Input`s can be set to `fullWidth` by only passing `fullWidth` onto the `FormControl`, like this:

[code]

But, when using a custom form component like `react-select`, I have to also pass `fullWidth` to the child like this:
[code]

It would be great if

[2020-01-21 22:52] eps1lon commented on #19336
So your current code looks like

[code]
?
What would putting it in context achieve here?

[2020-01-21 23:33] vdh commented on #13160
I've noticed recently that moving from 4.8.0 to 4.8.3 brought in some breaking changes. They were minor enough (breaking change to `TypographyProps` in Typescript, Skeleton `disableAnimate` prop replaced with `animation={false}`), but it was frustrating that the release notes said very little about these breaks and I had to go hunt for the information about them and how to migrate. I spent more ti

[2020-01-22 00:00] EsoterikStare commented on #19336
Sorry, this is hard to describe well.

Right now, due to the styles and structure of the underlying library, the only way for a consumer of our custom component to implement `fullWidth` is to pass it to _*both*_ the `FormControl` _*and*_ the custom form component, like this:
[code]
`FormControl` needs that `width: '100%'` style so it's child will have the ability to grow as well, and the custom fo

[2020-01-22 00:01] eps1lon commented on #13160
@vdh What was the breaking change in Typography? `Skeleton` part of the lab which is published as an alpha version. Any new alpha version is allowed to introduce breaking changes.

[2020-01-22 00:07] amcasey commented on #19113
If you send me the commands you're running in 3.2.4 and 3.7.4, I can profile locally.  However, experience suggests that the cause will probably turn out to be additional, desirable checking added since 3.2.4.  (And I assume "0s" is a typo - probably "40s" or "50s"?)

Regarding CSSProperties, I agree that keeping the property names and types is extremely valuable.  However, I think there's more to

[2020-01-22 00:25] eddiemonge opened #19340 "Demo pages have both js and tsx files"
Why are the JS files checked in for the docs demo pages? There are both js and tsx file but there really should only be one or the other.

[2020-01-22 02:12] siriwatknp commented on #19325
@oliviertassinari that sounds great!

[2020-01-22 02:16] eps1lon commented on #19340
We display both sources in our docs. Having them checked in avoids transpilation at runtime and allows verifying that the transpiled source "looks good".

[2020-01-22 02:16] #19340 closed

[2020-01-22 02:23] TheBlinkOfAnEye commented on #18331
Hi @keyvanm thanks for sharing your FormikAutocomplete component. Is there any chance that you could also share what you pass in as 'textFieldProps' and 'props' to the component? I am getting a "Cannot read property 'setTouched' of undefined" error. Thanks.

[2020-01-22 02:26] fyodore82 commented on #19149
Thank you for mentioning `Dialog` component. Now looking at differences between `Modal` and `Dialog`

[2020-01-22 02:31] eps1lon commented on #19113
Sorry, it is 50s.

It's just `yarn typescript` in the root which runs the same command in every workspace that implements it. For example `yarn workspace @material-ui/styles run typescript` tests our types with `tslint` and `dtslint`'s `$ExpectError`. In 3.7.4 we encountered some failures and had to adjust our tests (see #19242)

I suspected as much. It looks like the way we mix a "concrete" shape

[2020-01-22 02:37] amcasey commented on #19113
I'll try out those commands tomorrow (I suppose I should mention I'm on pacific time and observe US holidays).

Thanks, I've been struggling with how best to express that.  Yes, you're correct that the index signature is not doing what you want.  We have some thoughts on a variant that might, but we need to explore the performance implications.

Very much so.  We're hoping that anything we do for

[2020-01-22 06:02] FINAs commented on #19327
@oliviertassinari thanks for reply

[2020-01-22 06:15] atoir commented on #19314
I have created demo on [codesandbox](https://codesandbox.io/s/override-select-component-material-ui-hdmi3) and it work fine (second select component must be red).

But downloaded zip have my problem. On two machine ubuntu 18.04 and MacOS, both have that problem - colour red dont applied to second select

codesandbox:
![Снимок экрана от 2020-01-22 12-35-29](https://user-images.githubusercontent.com

[2020-01-22 08:39] keyvanm commented on #18331
@TheBlinkOfAnEye

The way you want to use this component is to use it in conjunction with a formik `<Field>` component.
[code]
Formik Field will inject the rest of the props including `form.setTouched` into the component.

`textFieldProps` is any prop you can pass into a `<TextField />` as per https://material-ui.com/api/text-field/

[2020-01-22 08:52] LorenzHenk opened #19343 "[Slider] disabled color should use theme action disabled color"
At the moment, the disabled color of the slider is [`theme.palette.grey[400]`](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Slider/Slider.js#L145). Other inputs use [`theme.palette.action.disabled`](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/OutlinedInput/OutlinedInput.js#L35) (also used e.g. [here](https://github.com/mui-org/material

[2020-01-22 09:34] TheBlinkOfAnEye commented on #18331
Thank you so much @keyvanm

[2020-01-22 09:46] atoir opened #19344 "after upded to v4 custom styling not applying in some case"
I was updated Material-UI from v3 to v4, according to "Migration from v3 to v4" quide. After fixed most issues i stuck to strange problem.
I cut most code and have created demo on [codesandbox](https://codesandbox.io/s/override-select-component-material-ui-hdmi3) and it work fine - second select component must be Red.

But if i download zip and start it - i have my problem. Tried on two machine ub

[2020-01-22 10:00] MahiBaghel opened #19345 "on clicking over the table data having link row select event is working"
Hi

I am using your table my table contains link but when i am clicking on link my table row is getting selected  i don't want to select my table row

please provide possible solution

[2020-01-22 10:05] #19345 closed

[2020-01-22 10:29] #19344 closed

[2020-01-22 10:29] oliviertassinari commented on #19344
tip: `import withStyles from "@material-ui/core/styles/withStyles";` is wrong.

[2020-01-22 10:59] ckeiner opened #19346 "[TextField] State of controlled TextFields is not changed upon clearing them with a ChromeDriver"
Currently, I'm trying to automate a web site built with Material-UI. For my test automation framework I use [Selenide](https://selenide.org/) which uses WebDrivers to interact with the web site.
While Firefox works fine, Chrome does not. Clearing a value via `element.clear()` does not trigger a change event in the latter browser.
Hence, subsequent simulated key presses work on the "old" state, whi

[2020-01-22 11:19] JavaJamie opened #19347 "Responsive grid content alignment and breakpoints"
We are trying to remove all the custom bootstrap classes from our application and substitute with the Material UI equivalents. Checking the API, there aren't properties for grids to responsively align/justify content and render on different device sizes (unless I'm missing something obvious).

E.g, something like the below
`<Grid justifyXs="flex-start" justifyMd="flex-end" item> Hello, world </Gri

[2020-01-22 11:27] oliviertassinari commented on #19347
Duplicate of #15631.

[2020-01-22 11:27] #19347 closed

[2020-01-22 11:28] oliviertassinari commented on #15631
Closing for #6140.

[2020-01-22 11:28] #15631 closed

[2020-01-22 11:41] atoir commented on #19344
replaced it to `import { withStyles } from '@material-ui/core/styles';` in all files and steel have my problem.

also test it with `import { withStyles } from '@material-ui/styles';` - also not helped for me

[2020-01-22 12:02] oliviertassinari commented on #19343
@LorenzHenk Interesting. The specification has a section about the disabled state:

Disabled states can also indicate they are inactive through color changes and reduced elevation.

https://material.io/design/interaction/states.html#disabled.

It seems that we can simplify things. What do you think of these changes?

[code]

[2020-01-22 12:15] elmeerr commented on #19343
@oliviertassinari how does the new changes regarding state anatomy impacts this issue? I might take a better look on those components

[2020-01-22 12:31] oliviertassinari commented on #19343
@elmeerr I don't understand what you mean? I have tried to take it into account :).

[2020-01-22 13:21] StefanJanuschke opened #19348 "Upgrading Material-UI Core & Styles to the latest version when using Next.js breaks Theming"
**Summary**
I have upgraded Material UI core _(4.4.1 => 4.8.3)_ & Styles _(4.4.1 = 4.8.2)_. This imeddiatly broke theming throughout the whole application. I am using themeing as described in the Next.js example and it has worked flawlessly before the upgrade.

It seemed that the upgrade of /styles triggered this specifically.

- [x] The issue is present in the latest release.
- [x] I have searche

[2020-01-22 13:25] StefanJanuschke commented on #19348
Addition: I have checked the theming example for Next.js and it does not seem that anything changed.

[2020-01-22 13:37] #19348 closed

[2020-01-22 13:38] oliviertassinari commented on #19348
It appears you have a duplication issue. Make sure you only bundle once the `@material-ui/styles` package.

[2020-01-22 14:08] StefanJanuschke commented on #19348
@oliviertassinari - I unfortunately do not understand what you mean by that, can you elaborate ?

[2020-01-22 14:11] elmeerr commented on #19343
@oliviertassinari oh, sorry! I just wanna know if it's possible to use the new properties from `theme` (like you suggested in green) to update more components (if it's needed)

[2020-01-22 14:26] oliviertassinari commented on #19343
@elmeerr Right, I haven't looked into it. It's possible :)

[2020-01-22 15:27] difagume opened #19349 "Avatar random backgroundColor on fallback"
Hello I'm filling a users grid with the Avatar component, when the user has no photo the initial letter is shown, what I would like to know is how I can make each Avatar have a random backgroundColor when the image load fails.

If possible I would like to suggest as an improvement to the component to have the backgroundColor in a random way.

[code]

Tnks.

![101356](https://user-images.githubuser

[2020-01-22 15:34] #19349 closed

[2020-01-22 15:34] oliviertassinari commented on #19349
#12700 can help

[2020-01-22 16:27] difagume commented on #19349
Thanks @oliviertassinari , I made some changes to the code but it generates the same color for all the Avatar components, how could I make each Avatar have a different color?

[code]

![1](https://user-images.githubusercontent.com/5271339/72912601-dec9f980-3d09-11ea-8b26-a24cde7da3fd.png)

![2](https://user-images.githubusercontent.com/5271339/72912610-e1c4ea00-3d09-11ea-9c34-cf3b8e9e222f.png)

![

[2020-01-22 16:44] oliviertassinari commented on #19349
Provide the alt as input to `stringToColor()` and apply the color with inline-style 👌

[2020-01-22 17:04] pilouk opened #19351 "Provide theme and useMediaQuery as a context"
It would be nice to be able to use theme and media query as a context too.

- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Maybe regroup them as one context or seperate them

## Examples 🌈
const theme = useContext(themeContext)
const media = useContext(mediaContext)

## Motivation 🔦
Be abl

[2020-01-22 17:13] IgorNovokhatny opened #19352 "SnackBar behavior unexpectedly changed"
Hello,

After updating material-ui from v4.5.2 to 4.8.0, the behavior of SnackBar changed in a negative way.

There are several elements on the page that trigger Snackbar with different content. Using material v4.5.2 the notification is displayed on the the first element click as expected. In case of a click on another element, the SnackBar notification remains visible, still, its content is updat

[2020-01-22 17:30] #19100 closed

[2020-01-22 17:31] difagume commented on #19349
@oliviertassinari again thank you, I did what you told me to do, my code is as follows in case anyone finds it useful

[code]

![1](https://user-images.githubusercontent.com/5271339/72918128-22753100-3d13-11ea-82e2-df6cf34182a9.png)

[2020-01-22 17:36] oliviertassinari commented on #19352
Could be related to #19100 too.

[2020-01-22 17:51] oliviertassinari commented on #19351
You can create a new instance of the theme and use it outside React. What's the limitation?

[2020-01-22 17:57] pilouk commented on #19351
I receive "hooks can only be called inside of the body of a function component" when trying to use the theme and mediaquery like so

[code]

[2020-01-22 18:17] PierreAndreis opened #19353 "Multi-select menu position changes after selecting an option"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
After choosing an option in the multi-select dropdown, the popover shifts position.

## Expected Behavior 🤔

After choosing an option in the multi-select dropdown, the popover should s

[2020-01-22 19:04] #19353 closed

[2020-01-22 19:05] PierreAndreis commented on #19353
After some investigation, this is the code that it is setting the ref to use in positioning the Menu component
https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Menu/Menu.js#L118-L130

It doesn't take into consideration that there could be multiples items selected and allows a race condition to take place, using the last one as the reference

[2020-01-22 19:06] oliviertassinari commented on #19353
Duplicate of #19245

[2020-01-22 19:07] PierreAndreis commented on #19245
As noted in https://github.com/mui-org/material-ui/issues/19353#issuecomment-577336939
I don't believe it is Popper, but the ref that it is giving to Popper. Fixing the logic in the Menu should fix this.

I believe the best approach for it would be to calculate the ref when opening only and never calculate while open.

[2020-01-22 19:10] oliviertassinari commented on #19351
Thanks for providing more context on your problem. I would propose the following solution. 1. Import the theme object. 2. Use the match media API of the browser. You are done. No need for any other abstractions :).

[2020-01-22 19:10] #19351 closed

[2020-01-22 19:20] #19258 closed

[2020-01-22 19:23] #19265 closed

[2020-01-22 19:26] #19325 closed

[2020-01-22 23:01] jedwards1211 commented on #18450
@oliviertassinari I'm not sure it's a great idea to only provide `onScrollToBottom` and just load more and more data.  I think it would be better to include `onScrollToTop` if pagination is implemented.  I guess it's not likely with an autocomplete that someone would keep scrolling until the browser runs out of memory, but I generally want to guarantee that any paginated view has bounded memory us

[2020-01-23 01:02] EsoterikStare commented on #19336
Basically, even though it’s not needed by other form components besides the input, the fact that both the ‘FormControl’ and the input need to do something to support ‘fullWidth’ makes me believe it should be in the context. That way the input can just respect the context. Thoughts?

[2020-01-23 01:44] lamqson opened #19354 "[Autocomplete] Types force multiple to be set"
Prior to 4.9.0 (lab-alpha-40)
/**
   * If `true`, `value` must be an array and the menu will support multiple selections.
   */
  **multiple?: boolean;**

After 4.9.0"
/**
   * If `true`, `value` must be an array and the menu will support multiple selections.
   */
  **multiple?: true;**

I think it is a bug. Interface cannot have constants.

- [ ] The issue is present in the latest release.
- [ ]

[2020-01-23 02:09] rob2d commented on #19322
Hi @oliviertassinari,

Thanks a lot for actually putting the time to consider a fix for the issue! Apologies for the delay here; I agree: randomized collisions/names are not a good idea, and that example was very off-the-top of my head since I didn't want to use work code directly + was just trying to make time between lots of things to PR. Its actually not an issue though as we go with `[*="Compo

[2020-01-23 02:20] ypresto commented on #16278
bump! Please reopen, as this issue was closed by my misunderstanding :bow:

[2020-01-23 04:20] gauthamdaze opened #19355 "how can i take control of the default api gettting called ? i sandbox exmaple is provide will very much helpful is class based component available for side-sign-in ???please reply"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.?.?

[2020-01-23 05:33] fyodore82 commented on #19149
#17894

[2020-01-23 05:34] fyodore82 commented on #19149
Seems to be a bug in React. [Filed it](https://github.com/facebook/react/issues/17894)

[2020-01-23 06:15] oliviertassinari commented on #16278
@ypresto I don't understand, as far as we have explored the issue, there is no improvement opportunity. What change do you have in mind?

[2020-01-23 06:30] oliviertassinari commented on #19322
We appreciate the time and the care put into this concern, however, I doubt any member of the team will have the time to read the whole content of the message.

From my perspective, this is a low priority issue. 1. The core components already generate globale class names. 2. We plan to move to styled-components, emotion and react-jss, interrupting `@material-ui/styles` effort. 3. Jss would be a be

[2020-01-23 06:37] eps1lon commented on #19322
Could you explain this in detail on the [testing-library spectrum](https://spectrum.chat/testing-library?tab=posts)? testing-library is built to ignore implementation details such as the styling solution. We're using it and do use a css-in-js library. Would be interested to here what kind of components are not testable with testing-library

[2020-01-23 06:44] oliviertassinari commented on #19354
@lamqson This sounds expected. What's the issue?

(cc @testarossaaaaa)

[2020-01-23 06:49] oliviertassinari commented on #19336
Related: this resonates with an issue we have with the Autocomplete component. The textfied needs to be fullwidth in order for the width of the root element (the textbox and listbox container) to behave correctly. I couldn't find a good solution.

[2020-01-23 06:53] oliviertassinari commented on #19336
What if we turn the input full-width prop on by default if there is a form control?

[2020-01-23 06:55] rob2d commented on #19322
@eps1lon the issue I was having was not about whether a thing cannot be done -- it is whether other workflows which are more suited to particular users could be supported. The library is fantastic in the sense that you could accomplish things in any way -- it was that you lose context of components to the level which was auto documented that could be done via simple CSS selectors. There are always

[2020-01-23 06:56] eps1lon commented on #19336
Gotcha, I missed that one. In that case we should move it into context.

[2020-01-23 07:08] davalapar opened #19356 "Misaligned ArrowBackIosIcon"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- ArrowBackIosIcon (NOT OK) & ArrowForwardIosIcon (OK)

![image](https://user-images.githubusercontent.com/41451953/72963093-41e28b80-3df1-11ea-814b-c89fbe5fd2b3.png)

- ChevronLeftIc

[2020-01-23 07:40] edwinwong90 commented on #2760
There is a props called `anchorPosition` which to let you define the position number, but the side effect is not responsive. If you set `anchorReference` is default ('anchorEl') the position will calculate itself and it always pop up start from the element you click. In order to add some gap space between the pop up panel and the element. How I did is I use a button wrap you element with some padd

[2020-01-23 07:55] rob2d commented on #19322
@oliviertassinari thanks for the heads up on that. That sounds like a great move and probably could free up a lot of your time.

[2020-01-23 07:55] #19322 closed

[2020-01-23 07:58] rob2d commented on #19322
Deleted my reply as I misread something fundamental there. But no issues at all with the lib you suggested. It was just matter of the feature request/flexibility. In any case, thanks a lot for the time and sorry for the bother. Keep up the good work on the lib guys 👍👍

[2020-01-23 08:20] LorenzHenk commented on #19343
@oliviertassinari I've also found the opacity hardcoded in `ExpansionPanelSummary` and `ListItem`:

[code]

[2020-01-23 08:29] fuoridallarete commented on #13840
@oliviertassinari Hi, I can see your code works on codesandbox, but if I use it in my code it doesn't. There's no way I can style the shrink label color and remove its text-shadow. The only difference with your code is that I am using <Autocomplete />, not <TextField />. Using { makeStyles } I am able to style the input border color, but not the label. Do you know why? Thanks a lot x

[2020-01-23 10:34] testarossaaaaa commented on #19354
@lamqson it's the way Discriminated Unions work in typescript. Maybe you can advise a better description for union props that depends on other prop. Also please indicate the level of the bug: it's related only to the documentation or you have a build time error.

[2020-01-23 11:14] danielo515 opened #19357 "theme breakpoint for sm uses 960px instead of 600"
I see that breakpoint function of the theme is not using the correct width pixels.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The following style object:

[code]
Produces the followingn rule:
[code]

## Expected Behavior 🤔

I

[2020-01-23 13:12] emoriarty commented on #16100
@dereksangshi The solution here should not be a valid fix as @gregrafferty says. Or at least not a complete one.

In my case, as @zhogan-alegion mentions, the same issue persists even changing the imports as proposed [here](https://github.com/mui-org/material-ui/issues/16100#issuecomment-499776189). Therefore, the issue is not only related to how components are imported.

The `3.9.3` version propo

[2020-01-23 13:32] RDIL opened #19358 "Popper changed home"
I'm getting this when trying to update MUI:

[code]

[2020-01-23 13:38] SpotHimesh commented on #17454
Having the same error, does anyone have a better fix/hack for it than this?
[code]

[2020-01-23 13:51] #19288 closed

[2020-01-23 13:59] fzaninotto opened #19359 "FormHelperText top margin bigger than in spec"
The top margin of the FormHelperText is currently at 8px.

![image](https://user-images.githubusercontent.com/99944/72990859-342d0600-3df1-11ea-94b3-1f18c5bfdcdb.png)

But the material design spec shows it closer to the field:

![image](https://user-images.githubusercontent.com/99944/72990790-195a9180-3df1-11ea-852e-bcbdd5e89d64.png)

- [x] The issue is present in the latest release.
- [x] I have

[2020-01-23 14:09] oliviertassinari commented on #19359
Related to #19315

[2020-01-23 15:07] eps1lon commented on #19358
Will sync with popper.js on this one. A package shouldn't issue warnings just because it got a new release.

[2020-01-23 15:14] eps1lon commented on #19358
On a second thought: I guess the deprecation warning is fine. It says that new releases are found elsewhere not that something might be broken. We'll check out if we can transition safely to v2.

As long as we don't receive bug reports using popper 1.x this warning is harmless.

[2020-01-23 15:19] crofoot opened #19360 "@material-ui/lab/esm/TreeView/TreeView.js Attempted import error: 'useControlled' is not exported from '@material-ui/core/utils'."
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1. install core and labs
2.  use demo TreeView & TreeItem code [Sample Code Here](https://material-ui.com/components/tree-view

[2020-01-23 15:35] mbrookes commented on #19356
The SVG icons are automatically from Google, so I'm afraid this is out of our control. The other variants don't have this issue, so you can use one of those.

[2020-01-23 15:35] #19356 closed

[2020-01-23 15:41] oliviertassinari commented on #19358
I have seen somewhere that v2 drops IE 11 support.

[2020-01-23 15:42] RDIL commented on #19358
What is popper used for again?

[2020-01-23 16:05] eliaswood opened #19361 "Can't pass multiple props down for Linear Progress for bar"
I am trying to create a Linear bar component that I call three times and pass it some information and some color based on that information. When I pass the color down it renders three different colors for the root element but only one color for the bar element. I am currently using the Make styles hook to pass in the prop to it. The only way I can change the color of the bar element is to use the

[2020-01-23 16:12] mbrookes commented on #19361
This sounds more like a support request (in which case please ask on SO), but if you are able to provide a reproduction showing a bug or limitation with the component, that would help.

[2020-01-23 16:17] a1dutch commented on #19144
Hi, this is still happening with 4.9.0 see https://stackblitz.com/edit/jbptzg?file=demo.js

did it make it into that release?

[2020-01-23 16:23] #19361 closed

[2020-01-23 16:39] EsoterikStare commented on #19336
@oliviertassinari, Turning on full-width when in a FormControl (by evaluating whether the context is defined or not) is part of what we have done internally to support this in other components that are a little less quirky than `react-select`, so I can say from experience that that seems to work well.

I can add `fullWidth` to the `childContext` object in `FormControl`'s source and get the MR subm

[2020-01-23 16:44] ririvas opened #19362 "Typescript Definition Updates in 4.9.0: potentially incorrect"
Hello,

I recently pulled the latest @material-ui/core package, version 4.9.0 and my typescript compilation process began to fail. Specifically, my custom Theme override.

The media query definitions failed.
[code]

Perhaps we deprecated this functionality but the docs say otherwise. And the release notes don't comment on this change.
![image](https://user-images.githubusercontent.com/4852980/7300

[2020-01-23 17:07] FezVrasta commented on #19358
It should work, but it requires some polyfills that are not included.

[2020-01-23 17:18] FezVrasta commented on #19358
It's used to position tooltips, popovers, dropdowns, etc.

[2020-01-23 18:10] eps1lon commented on #19144
Before you would've been required to pass `labelWidth`. In 4.9.0 you can pass the text of the label instead to  the `label` prop. We should document a propert outlined select field.

[code]
-- https://stackblitz.com/edit/jbptzg-konook?file=demo.js

[2020-01-23 18:13] eps1lon commented on #19362
It wasn't clear in #19263 if people actually make use of it. We never got any feedback on this via types, tests or docs contributions. Seems like didn't cover all our docs with types.

I will check out if we can safely widen the type.

[2020-01-23 18:21] MareoRaft opened #19363 "[docs] Improve EnhancedTable demo"
I would suggest for the [sorting](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/tables/EnhancedTable.tsx) examples some name changes that make it clearer what is going on.

cmp -> comparator or cmp

desc -> descendingComparator or descCmp

getSorting -> getComparator or getCmp

K -> Key? or KeyType?  I'm not sure what this should be called because I haven't learned w

[2020-01-23 18:24] MareoRaft commented on #19363
I would also suggest moving the "getSorting" function definition (and the Order type) immediately below the "desc" function definition, since this would put "desc", "getSorting", and "stableSort" into logical order.

[2020-01-23 18:28] imnotteixeira commented on #18278
Hi @oliviertassinari, I found this issue when I was about to post a new one.
In my use case, I have the tags shown outside of the Autocomplete input, therefore it does not make sense for Backspace event to delete tags when the input is empty

Here is a screenshot for better understanding:
![image](https://user-images.githubusercontent.com/28157246/73012299-e1157c00-3e0d-11ea-9fcb-b2a6cd1a7760.png)

[2020-01-23 18:29] imnotteixeira commented on #18278
Currently I made this workaround:

[code]

in order to overcome the default event handler

[2020-01-23 18:33] imnotteixeira commented on #18278
An easy way of doing it would be to change the code at https://github.com/mui-org/material-ui/blob/1092c2258d17f5198a303da7e9ca19d2d2b69583/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L623 and add a `&& !disableKeyboardTagDelete` or something similar, that would be passed via useAutocomplete options

[2020-01-23 18:34] a1dutch commented on #19144
@eps1lon brilliant that works

Just read the docs also for the OutlinedInput that mentions its required for layout.

Maybe some examples of the variants on the select page would be handy like you do for buttons.

Cheers

[2020-01-23 18:34] TommyJackson85 commented on #19315
@suliskh @oliviertassinari if neither of you assigned your self to this issue please let me know. I am willing to do this as my first issue attempt for this repository.

[2020-01-23 18:51] TommyJackson85 commented on #19343
Can I do anything to help? As a first issue?

[2020-01-23 18:56] meastes opened #19364 "[Select] Chips can't be removed with "X" button in a multiple Select"
When using a multiple Select and rendering Chip elements with an "onDelete" prop for the value, the chips cannot be removed by clicking the "X" button on the Chip.

NOTE: This issue did not exist in a previous version I was using (4.3.3.)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and belie

[2020-01-23 18:56] meastes commented on #18815
I believe this is actually a bug. I've created an issue here: https://github.com/mui-org/material-ui/issues/19364

[2020-01-23 19:03] eps1lon commented on #19363
Sounds good. Would you like to work on a PR?

[2020-01-23 19:10] kevinhwang opened #19365 "[AutoComplete] `input` customizations with `classes` prop overridden by defaults"
The [AutoComplete API](https://material-ui.com/api/autocomplete/#css) describes how one can provide styles for the `input` element (identified by the class `.MuiAutocomplete-input`).

However, some style rules will never be applied due to the way the browser resolves conflicting rules across different classes—for example, the `width` and `min-width` rules are always overridden by the default AutoC

[2020-01-23 19:25] yatrix7 commented on #2811
I believe this is just `onClose` now. From the docs:

[code]

[2020-01-23 19:25] mbrookes commented on #19364
Confirmed. Thanks for the clear reproduction.

[2020-01-23 19:55] MareoRaft commented on #19363
Well, are there other sorting examples in the repo other than the one I found?  It seems to me that the changes are trivial but perhaps somebody more familiar with the repo and its conventions would be the one to actually do it.  But I would be willing to do it with some guidance.

[2020-01-23 20:08] xiaoyu-tamu opened #19368 "[Rating] material-lab@alpha.40 bug when readOnly and precision is float number"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Multiple rating components displayed when readOnly and precision is floating point number

https://codesandbox.io/s/interesting-voice-pfguk

## Expected Behavior 🤔
Display single rati

[2020-01-23 20:19] eps1lon commented on #19363
One at a time.

There are plenty of trivial changes but only a limited number of contributors. Every contribution is appreciated. Especially for getting to know the codebase these little changes to readability are very nice.

For an initial primer I recommend starting with https://github.com/mui-org/material-ui/blob/master/CONTRIBUTING.md. You do not need to read everything but the basics for sett

[2020-01-23 21:01] SerhiiBilyk commented on #19270
@castroCrea I just want to make sure  I've understand the issue.
New value should be saved, if it is not empty, on blur event?

[2020-01-23 21:02] castroCrea commented on #19270
Yes for free solo and multiple

[2020-01-23 23:17] willwill96 commented on #19318
If you figure out a work around, I would be interested to hear it, because I'm having the same issue.

From what I can tell this occurs whenever you are using Autocomplete as a controlled component AND using `onInputChange` to drive the state. I tried only putting a `console.log` in the `onInputChange` prop, and everything seemed to work as expected.

I created a code sandbox based off of one the

[2020-01-23 23:35] james-r-smith commented on #19362
Right there with @ririvas. The [fixed app bar solution using mixins](https://material-ui.com/components/app-bar/#fixed-placement) doesn't even work anymore.

[2020-01-23 23:39] lamqson commented on #19354
Hello, Thanks for your quick reply.

We wrap Autocomplete inside of one of our components. and "multiple" is an option passed from props. I cannot assign it as TRUE or FALSE.

I am having a TypeScript compilation error:

[code]

Could you help to point to a fix?

Thanks.

[2020-01-24 00:07] jologz commented on #19362
I have a simple setup:
![image](https://user-images.githubusercontent.com/3269153/73034555-4029bf80-3e13-11ea-8ff0-6c8d865cf243.png)
![image](https://user-images.githubusercontent.com/3269153/73034658-8848e200-3e13-11ea-9b12-10718db86c3c.png)

That is now giving me this error:
[code]

[2020-01-24 02:54] amcasey commented on #19113
I feel like I'm missing something obvious, but I'm currently stuck.  First, I gave up on Windows - things seem to work better on Linux.  Let me know if you'd like to dig into that.  Second, I can get `yarn typescript` to run - cleanly, as far as I can tell - but it appears to be running tslint, rather than pure tsc.  When I run tsc on the same tsconfig.json (I'm specifically testing with styles),

[2020-01-24 02:59] SachinVarghese opened #19371 "[icons] New custom icon request: Kubernetes-logo"
Add Custom Icon for [Kubernetes](https://kubernetes.io/).

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Custom icon similar to github, facebook etc as in this folder https://github.com/mui-org/material-ui/tree/master/packages/material-ui-icons/custom

## Examples 🌈
The SVG logo found her

[2020-01-24 04:48] aprilmintacpineda commented on #1911
Why can't we just be able to do

[code]

[2020-01-24 05:36] transitorytammy opened #19372 "Click away listener doesn't close when clicking on an iframe on the page"
I have an iframe embedded on my website.  When I open a dropdown menu that has a click away listener wrapping a popper.  It closes when I click on most parts of my site but does not close the popper when I click on the iframe.  It doesn't seem to recognize this click event.  Is there something I can update to make this happen?  Any help or suggestions would be greatly appreciated.

[2020-01-24 06:08] atoir commented on #19344
the overall direction  was right - propbles is wrong imoprt.
error is:
`import InputBase from "@material-ui/core/InputBase/InputBase";`
must be:
`import InputBase from "@material-ui/core/InputBase";`

[2020-01-24 06:44] sirshikher opened #19373 "Customize material-ui using Wrapper"
<!-- After I import any component with material-ui. Is there any way to customize it without interrupting node modules  ->

[2020-01-24 07:48] nayaksoumya56 opened #19374 "DropDown doesn't close upon clicking Autocomplete React component"
Steps to Reproduce the issue:
1. click on the component ( input field or down-arrow on the side ).
2. select a value.
3. click the arrow on the side again.
4. click outside anywhere.

Expected: dropdown should close
Output: It doesn't close.

YOU CAN TEST IT HERE: https://material-ui.com/components/autocomplete/

[2020-01-24 07:48] testarossaaaaa commented on #19354
Check the demo.tsx file, I cannot reproduce the error without additional information about your component. A link to the reproduction in codesandbox will be helpful.

https://codesandbox.io/s/material-demo-euhxl

[2020-01-24 08:43] sureshtidbit commented on #16939
I still have the issue
is any chance can you check or give me an ugly solution so I can use the rating component.
also when I give
 <Rating
                    precision={0.5}
                      name="read-only"
                      value={rowData.ratingProvided}
                      readOnly
                    />
then also this issue is there

[2020-01-24 08:50] DIESELOK commented on #19360
@crofoot just resolved the same issue for me. Change version of @material-ui/lab to 4.0.0-alpha.39

[2020-01-24 09:00] white54503 commented on #19360
This crops up in Autocomplete, too, whichever 4.x release I use.

[2020-01-24 09:18] Studio384 commented on #19357
You [are looking for `xs`](https://material-ui.com/customization/breakpoints/#main-content). `down('sm')` is "everything that is `sm` or lower". `sm` is `600px` until `959.95px`. This is the expected behavior. If `down('sm')` would be everything below `600px`, then there is no way to select the largest breakpoint (because `down('xl')` would select `lg`) and `xs` would have to select everything bel

[2020-01-24 09:31] eps1lon commented on #19113
@amcasey `yarn typescript` isn't about compilation but testing our types. We're using a similar setup to the one used in the DefinitelyTyped repo. TypeScript files in `packages/*` are almost always just a bunch of statements that should either pass or fail which we catch with `$ExpectError`.

I think the best "real-world" test case is using `tsc` on our docs via `yarn workspace docs run tsc -p tsc

[2020-01-24 10:05] danielo515 commented on #19357
`xs` is translated to 0, which is completely useless.
There is no way to target from 600px to 0 ? From your comment I suggest that `down('xs')` should give me what I expect, but instead it is translated to 0

[2020-01-24 10:07] danielo515 commented on #19357
Well, I took another look at my sandbox and `down('xs')` is behaving as expected. I'll try on my actual app and close this issue.

Thanks for the clarification.

[2020-01-24 10:09] #19357 closed

[2020-01-24 10:48] gdpotter opened #19376 "[Autocomplete] Customize popper width"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently, the `PopperComponent` width is always set to `anchorEl.clientWidth` (see https://github.com/mui-org/material-ui/blob/master/packages/material-ui-lab/src/Autocomplete/Autocomplete.js#L440-L442). I would like to be able to customize

[2020-01-24 11:33] jonyw4 commented on #19368
+1

[2020-01-24 11:57] gmltA commented on #19328
@oliviertassinari were my explanations clear? Any chances this request may be considered worth at least a discussion?

[2020-01-24 14:23] pilouk commented on #19351
Thx!

[2020-01-24 15:01] oliviertassinari commented on #19315
Note that the proposed patch seems to close #19359 at the same time :), but to be confirmed.

[2020-01-24 15:03] oliviertassinari commented on #19356
Tip: you could use the same icon to apply a rotation of 180°.

[2020-01-24 15:19] #19371 closed

[2020-01-24 15:23] oliviertassinari commented on #19371
You can find our current policy regarding the introduction of new custom icons in a similar closed issue request.

Our objective with the custom icons is to cover the most frequent use cases to remove the need for another dependency. You might like https://simpleicons.org/.

[2020-01-24 18:09] emilyuhde opened #19378 "[ExpansionPanel] Safari and Voiceover confusing navigation required to read expanded content"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using Voiceover on Safari, after opening an ExpansionPanel, if you try to press the down arrow key to have the next line of text read (on the newly expanded panel), it instead sk

[2020-01-24 18:22] amcasey commented on #19113
@eps1lon Thanks for clarifying.  I'm not thrilled that tslint got slower, but I'd like to focus on one variable at a time.  I'll run the docs build you suggested with various versions of typescript and see if anything jumps out.  Thanks!

[2020-01-24 18:34] amcasey commented on #19113
This setup is perfect.  I'm seeing the checktime double between 3.3 and 3.4.

[2020-01-24 18:45] csuich2 opened #19379 "[Select] MenuItems in multi-select with extra children cause bad display text"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If you attempt to customize a MenuItem inside a multi-select box, by adding a checkbox for example, the display text of the select is ugly. This appears to be because the select will

[2020-01-24 18:47] #19379 closed

[2020-01-24 18:47] oliviertassinari commented on #19379
Tip, check the render value prop

[2020-01-24 18:55] csuich2 commented on #19379
Ahh, I see. I came across that prop, but the fact it returned a ReactNode made me think it was for rendering the menu items. Thanks for the quick reply!

[2020-01-24 19:25] SerhiiBilyk commented on #19270
@oliviertassinari your [solution](issuecomment-575596764) works if `autoSelect` is  `true` (it is `false` by default) . I think adding new flag is a bad idea since there already a lot of props. Can I just remove this flag from condition?  I'm not aware of the project, so it is hard to make decision

[2020-01-24 19:28] eps1lon commented on #19378
Really appreciate the test with assistive technologies of our components :+1:

Would you be so kind and check if the navigation behaves as expected on https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html?

And then try if there's a difference between base `<ExpansionPanel />` and `<ExpansionPanel TransitionProps={{ unmountOnExit: true }} />`. The former only switches visi

[2020-01-24 20:06] SerhiiBilyk commented on #17672
@adeelibr unfortunately I'm unable to run IE on my laptop :( So feel free to pick it up

[2020-01-24 20:33] amcasey commented on #19113
I'll dig a bit more, but I'm told that the 3.3 implementation of conditional types was incomplete, the 3.4 implementation was slow, and the 3.5 implementation is good.  So, unfortunately, this is probably expected.

[2020-01-24 20:51] embeddedt commented on #19113
I find it concerning that between 3.5 and 3.7 there was a 6-second increase in the time it takes to run the check. That looks pretty substantial.

[2020-01-24 20:54] SachinVarghese commented on #19371
Thanks @oliviertassinari for the clarification and simple icons link!

[2020-01-24 20:55] amcasey commented on #19113
@embeddedt Those numbers are from single runs with each version, so there's probably quite a bit of noise.  However, I'll dig in and see if I can find anything.

[2020-01-24 22:24] laptopche commented on #19360
The version @material-ui/lab | 4.0.0-alpha.40 should be working with Material-UI | v4.9.0 not  v4.8.3. Try to update your version to 4.9.0 or downgrade lab to 4.0.0-alpha.39

[2020-01-24 23:21] amcasey commented on #19113
I redid it on a Linux VM and 3.7 was consistently 20-25% slower than 3.5.

[2020-01-25 00:04] embeddedt commented on #18200
Any progress on bug 1 here? Anything I can do to help? This is a bit of a dealbreaker for the Select component as I obviously don't want my headers being selected. The native Select option seems to handle this properly.

My current workaround is to add the following to my CSS stylesheet, but I know it's an ugly hack:
[code]

[2020-01-25 00:06] josephcc commented on #16939
Also still having this issue as of v4.9.0

[2020-01-25 00:45] govizlora opened #19382 "[Autocomplete] Limit the amount of options"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

`Autocomplete` is great but it is slow when the size of `options` is large. The solution using [Virtualization](Autocomplete) works, but it requires more code + dependencies.

I think it would be easier to just provide way to limit the amount

[2020-01-25 01:15] amcasey commented on #19113
This has proven to be quite difficult to bisect because consecutive runs of the same build vary by ~5% and the difference between 3.5 and 3.6 or between 3.6 and 3.7 is only ~10%.

One suspicious thing I have noticed is that `styled-components` provides separate .d.ts files for TS >= 3.7, so the comparison may not be apples to apples.

[2020-01-25 02:01] amcasey commented on #19113
Much to my surprise, the new `styled-components` types appear to be faster.  Comparing apples to apples will still make the investigation easier though.

[2020-01-25 17:21] suliskh commented on #19315
Okay, I am going to work on the proposed patch.

[2020-01-25 18:17] Alexeyun1k opened #19386 "[OutlinedInput] normalize.css breaks the notch"
Normalize.css adds display rule to legend that breaks the notch in OutlinedInput
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
With normalize.css enabled, the notch is always visible.
![image](https://user-images.githubuse

[2020-01-25 19:09] oliviertassinari commented on #19386
@Alexeyun1k Thank you for the report. I believe we should be able to handle this problem at the core. Enabling developers to cherry-pick our components in a codebase without any side effects has been a core design value since the beginning.

What do you think of this diff?

[code]

[2020-01-25 20:29] embeddedt commented on #19372
Might be worth putting together a CodeSandbox to make it easier for the developers to take a look.

This is from the issue template:

https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app

https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript

[2020-01-25 21:31] oliviertassinari commented on #19372
@embeddedt Thanks for linking the templates.
@transitorytammy I was recently wondering about this problem for the column resize feature of the data grid. The problem lies in https://stackoverflow.com/questions/40109631/event-bubbling-not-happen-in-iframe. So, because event bubbling is scope to a document tree and an iframe is a new tree, what you could do is add an event listener to the root docum

[2020-01-25 21:31] #19372 closed

[2020-01-25 21:58] oliviertassinari commented on #19270
@SerhiiBilyk We could change the default value of `autoSelect`, but it's a discussion for another issue. Here, I think that we should focus on making it work based on what we could expect from the existing API.

[2020-01-25 22:00] gitw2billy commented on #17579
First time open source contributor here - just started working on this issue

[2020-01-25 22:25] NawarA opened #19387 "Feature request: navigation rail"
New material component, the navigation rail.
- good for 3 to 7 destinations
- part of the navigation design spec... see the responsive design section to see how this mixes in with other navigation components

https://material.io/components/navigation-rail/

[2020-01-25 22:36] oliviertassinari commented on #19382
@govizlora The limit behavior can be implemented with the `filterOptions` option.
However, it could make sense to have a `limit` option in the `createFilterOptions()` method (default to no limit?). What do you think?

[2020-01-25 22:37] NawarA opened #19388 "Feature request: Parity on Selection Control simple animations"
Selection Controls have simple animations [link](https://material.io/components/selection-controls).

Come to parity with material development specs:
- Switch has a simple animation (complete in MUI)
- Check boxes have a simple animation (missing)
- Radio buttons have a simple animation (missing)

[2020-01-25 22:41] #19388 closed

[2020-01-25 22:43] oliviertassinari commented on #19376
You can provide a custom `PopperComponent` to change the positioning logic.

[2020-01-25 22:43] #19376 closed

[2020-01-25 22:45] oliviertassinari commented on #19374
@nayaksoumya56 I can't reproduce. Do you have more details?

[2020-01-25 23:14] oliviertassinari commented on #19368
Oops, it's a regression from #19103. Let's use it as an opportunity to speed-up the render of the component. The best fix I can think of is:

[code]

We would also need a visual test to avoid this regression in the future, something like this:

[code]

Does anyone want to look into it?

[2020-01-25 23:20] oliviertassinari commented on #19364
Duplicate of #18658.

[2020-01-25 23:20] #19364 closed

[2020-01-25 23:25] oliviertassinari commented on #18815
@haseebdaone See: https://github.com/mui-org/material-ui/issues/18815#issuecomment-569277122
@sashberd I have marked your comment as off-topic. If you have a reproduction, a new issue would be great. It's not supposed to behave this way, nor I can successfully reproduce it on https://material-ui.com/components/autocomplete/.
@meastes I have marked your comment as off-topic. Autocomplete and Select

[2020-01-25 23:34] Alexeyun1k commented on #19386
Cool, that should fix it 👍

[2020-01-25 23:36] oliviertassinari commented on #19386
@Alexeyun1k Great, feel free to submit a pull request then. We haven't anticipated popular global CSS resets.

[2020-01-25 23:37] #19335 closed

[2020-01-25 23:38] #19270 closed

[2020-01-25 23:40] Alexeyun1k commented on #19386
Ok, I'll do it :)

[2020-01-25 23:59] suliskh commented on #19315
The [material-design] is using pseudo-element with specified height to create gap between `text field` and the `form text helper`. The computed height of the `form text helper` is `19px`, and the height of the pseudo-element is `16px`, so I am gonna go with `3px` gap.

[2020-01-26 01:21] lexskir opened #19391 "<AppBar color='inherit'> does not work"
`<AppBar color='inherit'>` does not work

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The background color is white due to the underlying Paper component.

## Expected Behavior 🤔

The background color is inherited from the cont

[2020-01-26 01:38] oliviertassinari commented on #19371
It's pretty cool, by @PeterShaggyNoble.

You can even find our brand https://simpleicons.org/?q=material-ui

[2020-01-26 14:51] TommyJackson85 commented on #19368
@oliviertassinari I will look into it. I might ask for guidance if I am stuck.

[2020-01-26 16:41] ririvas commented on #19362
@eps1lon, let me know if I can help in anyway

[2020-01-26 16:48] eps1lon commented on #19362
You can try reverting the part of #19263 that changed the type of `theme.mixins.toolbar` while adding a type test for it. Test would be creating a `createMixings.spec.ts` with a theme such as from your initial issue description. Should throw in `yarn typescript` and pass after you reverted that particular change.

[2020-01-26 17:21] eps1lon opened #19413 "Migrate from tslint to eslint"
Looking for replacements of the following `tslint` rules:

- `deprecation`
- `dtslint/no-relative-import-from-test`

[2020-01-26 18:33] ypresto commented on #16278
- It turns out specifying `color="inherit"` in the older version (`v4.5.1`) was just useless. It is a bug or limitation of `@types/react` that it accepts invalid `color` attribute for `<div>`.
- Also, I said "breaking change" for `color="primary"` / `color="secondary"` support, NOT adding `inherit` to them.

So this issue has no breaking change on `material-ui` and we do not need to give up.

[2020-01-26 20:45] kawinm commented on #16341
+1

[2020-01-26 21:41] #19386 closed

[2020-01-26 21:42] #19315 closed

[2020-01-26 21:42] #19359 closed

[2020-01-26 22:16] transitorytammy commented on #19372
Thank you @embeddedt  and @oliviertassinari for your responses.  I did end up adding an event listener for the click event and it is doing the job I need.  Thanks.

[2020-01-26 22:46] oliviertassinari commented on #16278
@ypresto I don't have a concern with the breaking changes. The root of the issue is that we can't implement it with the tools CSS gives us.

[2020-01-27 00:07] mbrookes commented on #19387
Other than a fix for the icon centering issue, is this good enough?

https://material-ui.com/components/drawers/#mini-variant-drawer

[2020-01-27 05:28] aprilmintacpineda opened #19418 "MuiFormLabel.focused does not seem to take effect."
Problem:

I need to change the behavior of the [Radio](https://material-ui.com/components/radio-buttons/) to not change the color of the label when you click on one of the item.

Example:

Before choosing (or clicking) one of the items:

![image](https://user-images.githubusercontent.com/21032419/73151826-e9203500-4107-11ea-84a4-1701ac8f1a03.png)

After clicking `Male` on the left side Radio group

[2020-01-27 05:59] seandearnaley commented on #19362
also experiencing this issue

[2020-01-27 07:17] fyodore82 commented on #19250
In PR https://github.com/mui-org/material-ui/pull/17978 `onClick` event listerner has been replaced by `onMouseDown` event listerner. But `onMouseDown` is fired on any mouse button click. `onClick` is fired on left (primary) button click (See https://www.w3schools.com/jsref/event_onmousedown.asp).

To resolve, I may suggest to check if [primary button](https://w3c.github.io/uievents/#dom-mouseeven

[2020-01-27 07:18] fyodore82 commented on #19250
In PR https://github.com/mui-org/material-ui/pull/17978 `onClick` event listerner has been replaced by `onMouseDown` event listerner. But `onMouseDown` is fired on any mouse button click. `onClick` is fired on left (primary) button click (See https://www.w3schools.com/jsref/event_onmousedown.asp).

To resolve, I may suggest to check if [primary button](https://w3c.github.io/uievents/#dom-mouseeven

[2020-01-27 07:43] joshwooding commented on #19418
Hmm… I can’t trigger focus on a mobile. I would have expected the first example to work e.g.

MuiFormLabel: {
 root: {
“& .Mui-focused”: {
 color: “red”
}
}
}

[2020-01-27 07:43] #19418 closed

[2020-01-27 08:02] oliviertassinari commented on #19250
@fyodore82 https://github.com/mui-org/material-ui/search?q=ignore+everything+but+left-click&unscoped_q=ignore+everything+but+left-click

[2020-01-27 08:03] oliviertassinari commented on #19362
@seandearnaley What problem? Do you have reproduction?

[2020-01-27 08:25] oliviertassinari commented on #19354
The issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-01-27 08:35] jpodpro commented on #17789
i can confirm this problem with ie11 also. as soon as i include the object polyfill then i get the same errors in various places. the ie11 debugger seems to consistently point to an odd source: node_modules/@material-ui/core/esm/Breadcrumbs/Breadcrumbs.js:71, though it would point to other strange places at different times so i don't expect that to be helpful.

[code]

here's a codesandbox but it'

[2020-01-27 09:13] laclance opened #19419 "Extend divider prop in ListItem component to avoid react key prop warning and rendering extra divs"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Allow something like `dividerLight` or `divider="light"` as a prop to ListItem component.

## Motivation 🔦

using `<List>{items.map(renderItem)}</List>`

I wanted to do something like this:
[code]
but then got the react error that I must use

[2020-01-27 09:24] oliviertassinari commented on #19419
@laclance You can apply custom styles instead.

[2020-01-27 09:24] #19419 closed

[2020-01-27 11:15] fyodore82 commented on #19250
@oliviertassinari , thank you! This is exactly I suggested to implement. I'll do it

[2020-01-27 13:03] Angelk90 opened #19420 "Password field is not contained in a form"
I have a login form, every time I load or update the page I am given the following suggestion:

[DOM] Password field is not contained in a form: (More info: https://goo.gl/9p2vKq)
`<input aria-invalid=​"false" class=​"MuiInputBase-input MuiInput-input MuiInputBase-inputAdornedEnd" id=​"password" placeholder=​"************" type=​"password" value>​`

Code:
[code]

[2020-01-27 13:28] #19420 closed

[2020-01-27 13:46] alekseyzadorozhniy opened #19421 "[Select] Right click opens select menu"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Right click on select opens menu

## Expected Behavior 🤔
Select shouldn't opening on right click

## Steps to Reproduce 🕹
https://material-ui.com/components/selects/#simple-select

Ste

[2020-01-27 13:50] nikandlv commented on #16947
I dont think `styled-components` is a good styling solution. current solution looks much much more readable, appealing, accessible and cleaner than styled. i dont see any good reason to migrate.

[2020-01-27 14:13] #19421 closed

[2020-01-27 14:14] oliviertassinari commented on #19421
Thanks for the report, I'm closing for #19250.

[2020-01-27 14:41] dabretin opened #19422 "[styles] - selector like `nth-child` is recreated at each renderer"
Hi !
I think there's a problem in the JSS...
I have to create a kind of table component where the columns are user defined. That's why I have to dynamically create a style for each columns. My orientation is to create a `row` style with `&>:nth-child`.
That's how I see that the CSS generated consists or a addition (and not a replacement) for each `&>:nth-child` and probably all `&>:selector`...

-

[2020-01-27 14:52] oliviertassinari commented on #19360
@laptopche has answered the issue in https://github.com/mui-org/material-ui/issues/19360#issuecomment-578325957.

[2020-01-27 14:52] #19360 closed

[2020-01-27 15:41] willwill96 opened #19423 "Autocomplete immediately changes initial inputValue state"
When using Autocomplete as a controlled component and driving that state with onInputChange, the initial state is overwritten immediately to a blank string: `''`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Set up `inputValue`

[2020-01-27 15:44] willwill96 commented on #19423
I have a feeling this goes hand-in-hand with this issue: https://github.com/mui-org/material-ui/issues/19318.

[2020-01-27 15:48] eps1lon commented on #19423
Thanks for opening this issue and providing a codesandbox explaining the issue.

Unfortunately I cannot observe the issue. In codesandbox.io/embed/material-demo-2quum?fontsize=14&hidenavigation=1&theme=dark nothing is logged to the console. Did you accidentally change the sandbox? I would recommend freezing the codesandbox after you opened the issue.

Could you include what browser and operating s

[2020-01-27 15:53] laeti42 opened #19424 "Wrong display of a modal that contain an autofocus input on iPad"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When opening a modal that contain an input with autofocus on an iPad, the keyboard is display in front of the modal most of the time
![72251C7D-FE3F-4936-87B7-D27E35D3D00D](https://use

[2020-01-27 16:05] seandearnaley commented on #19362
so when I updated my @material-ui/core version to 4.9.0 I started getting type definition errors on makeStyles().  I checked the release notes and docs and I can't see any breaking changes I should make.  It appears to be the same aforementioned issue on this thread.

![material-ui](https://user-images.githubusercontent.com/5084762/73191072-ebc55f00-40f4-11ea-85b1-90c947e1da34.png)

`import { make

[2020-01-27 16:08] willwill96 commented on #19423
I apologize for the confusion - I was having issues with code sandbox saving my changes as you suggested. The posted link should be up to date now. I am on Linux/Chrome, I also tested on Linux/Firefox.

[2020-01-27 16:11] oliviertassinari commented on #19423
I have seen at least 5 developers fall into this trap: value => onChange, inputValue => onInputChange. You can't mix the controlled value and the controlled callback, they work in pair.

[2020-01-27 16:36] willwill96 commented on #19423
@oliviertassinari Am I misunderstanding something? It seems like you are saying only use `inputValue` with `onInputChange` and only use `value` with `onChange`. In my codesandbox example posted, I only used `inputValue` with `onInputChange`, and still saw the same result.

[2020-01-27 17:20] oliviertassinari commented on #19423
I can't think of any way we could better teach this (leveraging the documentation and the component warnings). I assume StackOverflow is the best answer we can have (somebody explaining it there).

[2020-01-27 17:22] oliviertassinari commented on #19423
Well, actually, we could always try a more detailed controlled section.

[2020-01-27 17:22] jdoklovic opened #19426 "[Autocomplete] getOptionLabel, onInputChange, onChange are super confusing when used together"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After working through some of the things in #19267, I'm still having problems implementing a freesolo query editor with autocomplete.

Example of what I'm trying to accomplish:
![jql-

[2020-01-27 17:27] oliviertassinari commented on #19426
@jdoklovic Good luck with the task!

[2020-01-27 17:29] oliviertassinari commented on #19426
Actually, let's keep it open in case somebody has time to look at it. It seems that we have a good signal here: https://www.linkedin.com/in/jdoklovic/.

[2020-01-27 17:33] EsoterikStare commented on #19336
This was merged in, so I'm closing this issue. Cheers!

[2020-01-27 17:33] #19336 closed

[2020-01-27 17:37] willwill96 commented on #19423
It would be nice if one of the demos, used `onInputChange` correctly as an example I think. That being said I am unsure how this is not classified as a bug.

I understand now why the ticket I linked (https://github.com/mui-org/material-ui/issues/19318) is not considered a bug, but the issue I posted here is not the same, and I believe I am using the `Autocomplete` in the proper way.

The code sand

[2020-01-27 17:40] Jarlotee opened #19427 "Cannot use theme.overrides with the lab"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There are no definitions for overriding Alert styles.

## Expected Behavior 🤔

`MuiAlert` should be overridable.

## Context 🔦

Using dark theme, alerts are not white on a dark/filled

[2020-01-27 18:29] mbrookes opened #19429 "[Skeleton] Wave animation is light in dark mode"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

A bright wave

## Expected Behavior 🤔

A dark wave

## Steps to Reproduce 🕹

https://material-ui.com/components/skeleton/

Steps:

1. Dark mode
2. Observe the wave animation

## Conte

[2020-01-27 18:40] oliviertassinari commented on #19427
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-01-27 18:42] oliviertassinari commented on #19423
@willwill96 The value takes precedence over the inputValue.

[2020-01-27 18:53] govizlora commented on #19382
@oliviertassinari Thank you, `filterOptions` did the work! Sorry I didn't find it before!

I like the idea to have a `limit` option in the `createFilterOptions()`, it would make it much simpler. Otherwise, I have to write:
[code]

The `limit` option can be optional so by default there is no limit.

[2020-01-27 18:59] #14762 closed

[2020-01-27 18:59] Jarlotee commented on #19427
@oliviertassinari reproduction here

https://codesandbox.io/s/dark-snow-eorrm?fontsize=14&hidenavigation=1&theme=dark

[2020-01-27 18:59] oliviertassinari commented on #19310
The issue has been closed because it does not conform to our issue requirements.
Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app-with-typescript) _may_ be a good starting point. Thank you!

[2020-01-27 18:59] #19310 closed

[2020-01-27 19:03] oliviertassinari commented on #19427
It seems to be a generic concern with the lab. We don't include the overrides in the default TypeScript definitions. I wonder what would be the best answer here.

[2020-01-27 19:17] willwill96 commented on #19423
@oliviertassinari Why does an undefined `value` prop take precedence over a defined inputValue?

I am not passing in the `value` or `onChange` prop into my codesandbox.

I could be mistaken, but I feel that you are addressing the ticket that I linked, and not the issue that I presented in this ticket.

[2020-01-27 19:51] NawarA commented on #19387
@mbrookes Hmmm...Doesn't look like it currently conforms to [specs](https://material.io/components/navigation-rail/#specs).

The navigation drawer and navigation rail are meant to be separate components, with different specs. They're meant to be used together in a certain way: [scrolling down to "Navigation drawer"
](https://material.io/components/navigation-rail/#behavior)

Also, the _mini-drawer

[2020-01-27 20:15] oliviertassinari commented on #18278
@imnotteixeira I think that we can handle your use case in #19064 with a way to ignore the event. Actually, you could already control the component and check the event key value (Backspace).

[2020-01-27 20:23] oliviertassinari commented on #19144
@eps1lon Do you suggest that we use the same approach for the Select demos than we use for the Input demos?

[code]

[2020-01-27 20:30] oliviertassinari commented on #19423
@willwill96 The value is not undefined but null by default, hence an empty input value.
It seems that we could at least improve the API, in case you want to submit a pull request :):

![Capture d’écran 2020-01-27 à 21 28 39](https://user-images.githubusercontent.com/3165635/73211181-08d94c80-414c-11ea-886e-97f052df6fda.png)

[code]

[2020-01-27 20:30] KeitelDOG commented on #5386
The Autocomplete is a very good one that fit my need. However you'll need to install Lab package `npm install @material-ui/lab`.
Surely I can play around to even load new data while typing. And it does not select anything if you don't click on one or type it correctly. So it's a like a search, except the search input is no inside the list view, but on the input itself

[2020-01-27 20:39] bugzpodder commented on #19423
I've opened issues requested clarification on this exact issue three weeks ago and even sent a PR for updating the Autocomplete docs for this but it was closed by @oliviertassinari with
```Thanks but I think that it would be best not to document it here.```

But I did have a workaround @willwill96 there is a third parameter `reason` for onInputChange that tells you why it was called.  It has value

[2020-01-27 20:51] jpodpro commented on #17789
fyi including this script in `public/index.html` instead of importing any polyfills works perfectly for me.

`<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>`

[2020-01-27 21:00] bugzpodder commented on #19354
@testarossaaaaa @oliviertassinari
Download the codesandbox onto your computer, export as Zip, run yarn install, and run tsc:
[code]

[2020-01-27 21:26] oliviertassinari commented on #19358
@FezVrasta IE 11 usage is still incredibly high in enterprises, a market our library resonates well with, e.g https://github.com/mui-org/material-ui/issues/14420#issuecomment-536642248.

The more I think about it, the more [replicating React strategy](https://reactjs.org/docs/react-dom.html#browser-support) with browser support could be interesting.
In any case, requiring polyfills would be a brea

[2020-01-27 21:39] eps1lon commented on #19358
-- https://popper.js.org/docs/v2/browser-support/#ie11

That's a little bit too much. Especially Promise might be too big. Since v1 is working fine for us we probably want to stay on that version.

[2020-01-27 22:48] FezVrasta commented on #19358
Aray.from is not required, I need to fix the docs.

 I think I can get rid of Array.prototype.includes also.

That should reduce the polyfills size to 5.2kB.

Popper v1 was 7.3kb, Popper v2 is 5.23kB + 5.2kB = 10.43kB of polyfills, that can be reused by other dependencies, code, etc.

If you just need Popper v2 lite, it’s gonna be 2.81 kB + 5.2kB = 8.01kB

—-

Regarding the Popper alternatives, I’

[2020-01-27 23:29] willwill96 commented on #19423
@oliviertassinari  I have put the PR up for that change, and I do think this helps clarify why the issue is happening and I appreciate the time you've put into this :)

I still think the way that these set of props interact together is slightly convoluted though.

This is the way I have had to write my Autocomplete to get the desired effect:
[code]
In this example, it's strange to me that I need t

[2020-01-27 23:29] wbobeirne opened #19432 "Running fade utility on an rgba replaces alpha"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Calling the `fade` utility on an `rgba(...)` value replaces the alpha channel, rather than fade it e.g.

[code]

## Expected Behavior 🤔

It should multply the alpha channel by the fad

[2020-01-28 00:07] vdh commented on #13160
@eps1lon It was The `TypographyProps` changes: https://github.com/mui-org/material-ui/pull/18868#discussion_r362088548

Thankfully the documentation did get some updates to show how to migrate, but it would be better if the breaking changes and how to migrate them were easier to track down. I don't fault the lab components for breaking due to being in alpha, but something like `breaking` or `break

[2020-01-28 02:05] amcasey commented on #19113
I couldn't think of a clever solution, so I'm going to plot compilation time merge by merge and look for spikes.  I hope to have numbers tomorrow.

[2020-01-28 03:18] teramotodaiki opened #19435 "[Autocomplete] Input characters are added even when the IME is unsettled with freeSolo and multiple"
An IME (Input Method Editor) holds internal state of keys are pressed and it confirms characters when the <kbd>Enter</kbd> is pressed. Then the Autocomplete adds into its values because the <kbd>Enter</kbd> is detected. It causes input characters is left on the input element but the characters has already added.

Easy to see in GIF: https://gyazo.com/4c1c5607d5500eed6845018540e0d7c6

- [x] The iss

[2020-01-28 03:41] atomiks commented on #19358
Who is not polyfilling (if they need to) `Promise` in their apps already? All data fetching-based code is using that. Same could be said for most of those other polyfills too in most areas of apps. They're pretty essential methods.

Regardless, the `polyfill.io` service is great because it means only IE11 gets the bloat and evergreen browsers get the lightest version. Bundling in polyfills prevent

[2020-01-28 06:03] geetikaTiwari007 commented on #17330
Add this style to <TableCell> of your <TableHead>
{
 opacity:1
zIndex:1
}

This will solve your problem.

[2020-01-28 07:08] btmorex opened #19436 "[Backdrop] Doesn't appear before JS is loaded"
I wanted to render Backdrop server side and use it as sort of a loading indicator before the javascript is downloaded. This does not work; I guess because of the Fade wrapping it. Setting transitionDuration to 0 doesn't help either.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe tha

[2020-01-28 07:43] oliviertassinari commented on #17330
Upgrading to the latest version should also fix the issue.

[2020-01-28 07:47] oliviertassinari commented on #19436
Tip: check the transition appearing props. I think it something we could better document. It should like a common use case.

[2020-01-28 07:54] oliviertassinari commented on #19423
@willwill96 For context, why do you control the component for? (Your code snippet ooks great).

[2020-01-28 07:58] oliviertassinari commented on #19435
Thanks for the issue IME is an important concern. I don't have any objection with your proposed patch. However, if you could explore the following, we would highly appreciate it:
How does the other implementations solve the problem? We could use this benchmark list: https://trello.com/c/qrI0FOna/2335-autocomplete.

[2020-01-28 08:16] testarossaaaaa commented on #19354
@bugzpodder Ah, gotcha! To fulfil the requirements, you need to extend the full interface that uses union types under the hood, like in this example:

[code]

You cannot just use the custom prop `isMultiple`, because the whole type inferred from bunch of other properties on type level, such as `multiple ', so you have to use them to let typescript infer the right type.

[2020-01-28 08:30] FezVrasta commented on #19358
There are more than half million projects (only on GitHub) with Popper as dependency, not all of them use Bootstrap or MUI, we want to notify as many users as possible about our new release, especially because it fixes a lot of long standing bugs that affect billion of users every day.

[2020-01-28 08:43] oliviertassinari commented on #19354
@testarossaaaaa What would be the "price" to pay to have this capability?

[2020-01-28 09:14] testarossaaaaa commented on #19354
To solve the problem we can drop support of the multiple prop on typings level, so all handlers will receive a value as `T | T[]` regardless is multiple or not, so users will cast the type manually.

Another approach it simplify extending to `extend Omit<AutocompleteProps<T>, OverwrittenProps>` and document it in the cookbook or in some other place.

[2020-01-28 09:43] irkinwork opened #19438 "Date Picker Example on CodeSandbox is broken"
This codesandox https://codesandbox.io/s/8gpxl from https://material-ui.com/components/pickers/ is broken.
This happens because of new version of @date-io/date-fns.

It works fine with @date-io/date-fns@1.3.13
https://codesandbox.io/s/material-demo-nb0j3

[2020-01-28 10:12] eps1lon commented on #19358
We don't want to break peoples code as all software should do. We didn't require these polyfills before and that's pretty much the end of this discussion.

We don't have the time to upgrade a dependency that is working fine so far and would introduce breaking changes just to get rid of a deprecation warning.

Just like yarn v1, popper v1 didn't stop working just because v2 got released. No need to

[2020-01-28 10:37] FezVrasta commented on #19358
I completely agree, you are free to use v1 for as long as you need. The warning is there because of lack of a better system to notify users about a package name change. You can ignore it

[2020-01-28 10:41] btmorex commented on #19436
Thanks! Even with your tip that took me ages to figure out. The solution if anyone else runs across this issue is to set appear to false on Backdrop (it gets passed from Backdrop to Fade to Transition).

[2020-01-28 10:49] oliviertassinari commented on #13160
@vdh Updated: https://github.com/mui-org/material-ui/releases/tag/v4.8.2.

[2020-01-28 10:51] oliviertassinari commented on #19354
@testarossaaaaa Ok thanks, in this case, I doubt we should trade it. I think that we have more to gain by discriminating `T` to `T[]` even if it leads to this issue.

[2020-01-28 10:53] chrisjhoughton commented on #17497
For those of you who want to disable this globally so focus is not enforced on any of your dialogs or drawers, add these global prop override to your Theme file.

(Side note: you can't override global `MuiModal` props because of [this bug](https://github.com/mui-org/material-ui/issues/16605))

[code]

Use case: we're using Intercom messenger for chat support. Enforcing focus in dialogs prevents th

[2020-01-28 10:54] imnotteixeira commented on #18278
Great! The extended version of that solution (the option with the reason-details - which would provide the deletion cause - backspace) would be perfect for my use case, as `remove-option` is too broad

[2020-01-28 11:06] oliviertassinari commented on #19436
@btmorex Agree!

[2020-01-28 11:16] oliviertassinari commented on #16605
Oops, the issue was incorrectly flagged as a duplicate. The problem was solved, I don't remember exactly when nor that I have spend the time needed to. At works in v4.9.0.

[2020-01-28 11:24] oliviertassinari commented on #17497
@chrisjhoughton Thanks for the feedback. The modal approach should work, I have updated your comment. Your use case seems common. I'm curious, did you struggle to figure out what was wrong? How much time did you waste?

I was considering reducing the interval frequency from 50ms to 500ms, to make it easier to identify. It also seems that the focus manager React is working on doesn't have this beha

[2020-01-28 11:33] oliviertassinari commented on #19438
cc @dmtrKovalenko

This resonates with a proposal I was exploring: make @date-io an internal dependency, hidden from the public API.

[2020-01-28 12:25] st3ffane commented on #17672
I tried version 4.7.2 on Chrome 79.0.3945.130 on Windows 10 and reproduced this issue.
Seems to be better when adding "box-sizing: border-box" to the .inputbar-input class.

[2020-01-28 13:05] mrkhedri opened #19445 "Error 'height' of undefined When I write a test"
I have `Collapse` and `RadioGroup` components in my current component.
`in` prop of `Collapse` component bonded to state.
When I want to change the value of RadioGroup with `onChange` prop, I get an error.
Because `in` prop of `Collapse` component equal to `true`, And the `Collapse` component should appear.
This error appears in `test` mode with `react-test-renderer`

- [ ] The issue is present in

[2020-01-28 13:06] ffjanhoeck opened #19446 "[Tabs] Indicator width is wrong"
Hello,

currently I have a indicator problem with the Tabs component.
I don't know why, but the indicator has the wrong width in the initial state. After changing the tab to another, the width measurement works fine.

As you can see on this screenshot: The indicator width is to low for the first initial tab
![image](https://user-images.githubusercontent.com/9037364/73266279-e17b9180-41d6-11ea-922b

[2020-01-28 13:25] sibelius commented on #16060
any workaround for this?

[2020-01-28 13:26] Hadard753 opened #19447 "Select multiple - list of objects with initial value"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
when sending array of object as options to select multiple and using initial value the drop down will never remove the initially selected values , if using array of primitive values (s

[2020-01-28 13:31] teramotodaiki commented on #19435
I'm going to research when I have time. :)

[2020-01-28 14:05] lalizita commented on #16060
I'm having a similar problem but using CSS grid, the property grid-template-columns doesn't work in Edge

[2020-01-28 14:14] jcafiero opened #19448 "Difference between Lab and Core components?"
I was wondering if anybody could tell me what the differences are between the Lab and Core components. What is required of a component before it can move from the lab to the core package?

[2020-01-28 14:31] pnarielwala-tc opened #19450 "[Modal] aria-hidden should not be applied on non-portal modals"
`aria-hidden=true` gets applied on top level container when a modal is opened. But if `disablePortal` is used, `aria-hidden` should not be set on that top level container as the modal will be created inline and most likely within that top level container

Running axe on the opened modal yields the following error:

      Focusable content should have tabindex='-1' or be removed from the DOM

You c

[2020-01-28 15:07] oliviertassinari commented on #19435
Thank you, it feels odd that we need to dive into the `event.nativeEvent`, I would hope there is a simpler solution. Ant Design might be a good place to start looking as they have a string audience that use IME.

[2020-01-28 15:28] oliviertassinari commented on #19448
@jcafiero The main difference between the lab and the core is how we version the components.
The lab allows us to release breaking changes anytime we want while the core follows as [slower-moving policy](https://material-ui.com/versions/#release-frequency).
As our users battle test the components and report issues, we learn more from the design flaws of our components: laking features, a11y, bugs,

[2020-01-28 15:29] WonderPanda commented on #19113
@amcasey Thanks for your efforts in looking into this! Really neat to see members of the TS team and Material UI working together. I stumbled onto this Github issue trying to figure out why our editor experience with Material UI is so slow (we're using it in two projects at work). Can definitely confirm that we're seeing a pretty significant impact in intellisense and usability inside VsCode.

At

[2020-01-28 15:30] oliviertassinari commented on #19450
I could have sworn that we had a 6 months old duplicate issue about this problem, but I can't find it, fare enough. Thanks for the report.

[2020-01-28 15:50] nainardev opened #19452 "ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎"
ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎

[2020-01-28 16:01] nainardev opened #19453 "[BUTTON] TypeError: Button is not defined"
ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎

[2020-01-28 16:29] gforrest-bw opened #19454 "[TreeItem] No conditional rendering support"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`TreeView` and `TreeItem` throw an error when attempting to conditionally render a `TreeItem`.

## Expected Behavior 🤔

Any `TreeItem` which is excluded from rendering by a condition

[2020-01-28 16:41] butchmarshall opened #19455 "Any way to increase theme CSS specificity (pass root div id)?"
We need to inject a root #div_id into the theme stylesheet to increase CSS specificity

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

We're rendering some MaterialUI components inside a legacy web application.

Unfortunately some of the old CSS styles are clobbering the material-ui theme

[2020-01-28 16:58] matsmello commented on #718
I solved my problem installing lodash.merge on my project then I realised I was filling the text field component incorrectly it was because I thought the redux behaves should be the same when I use nested objects.

As you can see, I am not filling correctly when I mixing two nested objects.

![image](https://user-images.githubusercontent.com/15657692/73286242-fb68a480-41d5-11ea-81f0-b53a393abc95.p

[2020-01-28 17:03] oliviertassinari commented on #718
Note that the latest version of Material-UI (v4.9.0) supports it outside of the box.

[2020-01-28 17:10] teramotodaiki commented on #19435
I'm back. This is the survey of how the [Benchmarks](https://trello.com/c/qrI0FOna/2335-autocomplete) resolve this problem.

## react-components ❌

- https://garden.zendesk.com/react-components/dropdowns/
- IME is canceled 😢
  [![Image from Gyazo](https://i.gyazo.com/973bb2a826b0d7c8e8af925a11d43130.gif)](https://gyazo.com/973bb2a826b0d7c8e8af925a11d43130)

## UI Select (AngularUI) ❌

- https://an

[2020-01-28 17:25] oliviertassinari commented on #19435
@teramotodaiki Oh wow, super interesting! What do you think of this fix?

https://github.com/select2/select2/pull/2483/files#diff-1fb8e09d75683cc4dd4a88850714595fR2105

[2020-01-28 17:30] teramotodaiki commented on #19435
Hmm... It's better way on real world. `event.keyCode` is legacy way but still working.

[2020-01-28 17:32] JesalR commented on #17454
We are also having this issue
Our (temporary) solve is to use
[code]

But we'd like a better solution, this doesn't feel good

[2020-01-28 17:38] teramotodaiki commented on #19435
I think there are 2 ways to fix.

1. Deprecated, but most browsers have `event.keyCode` (DOM)
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode

2. Modern, and the best API for this purpose is `event.isComposing` (DOM)
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/isComposing

React wraps `event.keyCode` (DOM) internally to make `event.which` (React). So we mi

[2020-01-28 17:39] oliviertassinari commented on #19435
@teramotodaiki I could find #3926 that is somewhat related to the problem. 👍 for going with 2.

[2020-01-28 17:45] teramotodaiki commented on #19435
@oliviertassinari Do you mean using `event.nativeEvent.isComposing`?
I agree to 2. This is confirmation.

[2020-01-28 17:46] oliviertassinari commented on #19435
Yes, unless somebody wants to weigh into another approach, it seems to be the more reliable approach.

[2020-01-28 18:02] Vn-ChemGio opened #19456 "Prop "component" in Chip API not working ?"
In React JS
Some time I want to create component as Chip but different position
Avatar (or external element) after label and or
Or Avatar in between two short text
Example:
![image](https://user-images.githubusercontent.com/25608423/73291111-254fb480-4232-11ea-82af-b0ec03118f0d.png)
I had been try using "component" prop with Chip API, but it not working, and nothing displayed

Online Example: http

[2020-01-28 18:15] #19456 closed

[2020-01-28 18:56] amcasey commented on #19113
Even with three-run averages, the data is very noisy.  However, there appears to be a noticeable drop in runtime at https://github.com/microsoft/TypeScript/commit/ad322a561a301ae357da051b9221b2222c13be36 a noticeable increase (back to roughly the previous level) at https://github.com/microsoft/TypeScript/commit/480b73915fdd805952fd355e4cf3e1bc803e0878 and a general upward trend after that (though

[2020-01-28 19:02] butchmarshall commented on #19455
Found my answer:

https://material-ui.com/styles/advanced/#jss-plugins

combined with

https://www.npmjs.com/package/jss-increase-specificity

[2020-01-28 19:02] #19455 closed

[2020-01-28 19:44] danielo515 commented on #11009
This is still happening to me on the latest version. Is it supposed to be fixed on the published version?

[2020-01-28 19:48] danielo515 commented on #11009
Here is an screenshot from the project page:

![Screenshot_20200128-204632_Chrome](https://user-images.githubusercontent.com/2270425/73299431-77331300-420f-11ea-8955-50d9d530738f.jpg)

[2020-01-28 20:56] oliviertassinari commented on #11009
@danielo515 See for #15000 v4.

[2020-01-28 22:32] kelly-tock commented on #15827
Chiming in, we should be able to extend the types properly for all components.

[2020-01-28 23:07] marlowww opened #19458 "Slide component recreates style object property"
* [x]  The issue is present in the latest release.
* [x]  I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

 ## Current Behavior
Slide component always recreates children `style` object and sets its `visibility` field to `'hidden'` / `undefined`.
In such situation we cannot use neither `React.memo` (without com

[2020-01-29 01:17] amcasey commented on #19113
The upward trend is standing up to scrutiny and I have no idea what could cause that.  Maybe the discrete slowdowns are so close together that the noise makes them look like a single curve.

[2020-01-29 04:31] teramotodaiki commented on #19435
I'm sorry but 1 might be better because macOS/Safari returns `isComposing==false` when the IME is confirmed. This is a cheat sheet of how does browsers do when IME is confirmed.

| browser | fire onKeyDown | event.key | event.which | event.nativeEvent.isComposing |
| --- | --- | --- | --- | --- |
| macOS/Chrome | yes | Enter | 229 | true |
| macOS/Safari | yes | Enter | 229 | **false** |
| macOS/F

[2020-01-29 05:30] Vn-ChemGio commented on #19456
It maybe a bug:
Using "component" prop with Chip API, but it not working, and nothing displayed
Before this time, I never using Chip, So I''m not sure it is bug or not

[2020-01-29 07:37] oliviertassinari commented on #19435
Thanks for not giving up and keep digging. No problem for me, I believe 1 Is how Ant Design and select2 solve this problem, both projects have a strong Chinese community, I would expect that solved the issue relatively well.

[2020-01-29 07:45] raae commented on #18673
When I use `import { ThemeProvider } from "@material-ui/core/styles"` with Gatsby I get an error  that goes away when using `import { ThemeProvider } from "@material-ui/styles"`.

Error:
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or

[2020-01-29 07:46] eps1lon commented on #19445
Thanks for opening this issue.

This seems like a duplicate of #17119. If you're using react-test-renderer you need to mock the required parts of the DOM. One workaround is described in https://github.com/storybookjs/storybook/tree/v6.0.0-alpha.1/addons/storyshots/storyshots-core#using-createnodemock-to-mock-refs (full context in https://github.com/mui-org/material-ui/issues/17119#issuecomment-524

[2020-01-29 07:52] malik-sahab commented on #10098
@oliviertassinari would this approach cause performance issues?

[2020-01-29 08:07] morgoe commented on #12526
@zwhitchcox I'm running into this same problem. What was your solution?

[2020-01-29 08:15] pulli23 commented on #19448
Is there a clear path to core though? As in, can we as developers know if a certain component is "almost ready" for moving to the core? - Will it be next version, or the one after that or.....

[2020-01-29 08:59] oliviertassinari commented on #19448
I think that a lab component, to move into the core, needs:
1. To be **used**. We can look at the Google Analytics stats to evaluate the usage. A low usage component either means that we don't have it right yet or that there is a low demand for it.
2. To match the **quality** of the core components. It doesn't have to be perfect, none of the core components are and will ever be. It's about nor har

[2020-01-29 09:13] danielo515 commented on #11009
Thanks for the reference. I'll take a look at that discussion.

[2020-01-29 09:17] danielo515 commented on #15000
Why if there is no fix for it? This is still happening on the latest library version.
As I said on the linked issue, here is a screenshot from the project page:
![image](https://user-images.githubusercontent.com/2270425/73343235-8605de00-4280-11ea-8383-cff91c13cb4c.png)

That is from a real mobile device, a samsung galaxy s8. If you prefer to just provide a workaround, what about documenting it on

[2020-01-29 09:21] oliviertassinari commented on #19446
Duplicate of #9337. If we don't fix it in the near term (seems to be the direction we are taking), I think that it would be great to document the limitation and the workaround (like we  do with a couple of other components, Grid, Autocomplete, Modal, etc).

[2020-01-29 09:21] #19446 closed

[2020-01-29 09:22] oliviertassinari commented on #10098
No

[2020-01-29 09:25] oliviertassinari commented on #18673
@raae Are you using the latest version?

[2020-01-29 09:56] madflanderz opened #19459 "makeStyles does not use component name if no name option is provided."
makeStyles does not fall back to the component name if no `name` option is provided.

According to the docs the generated classname should include the component name when no `name` option is provided:

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## C

[2020-01-29 10:11] sergiolenza commented on #19140
Hi guys.
For anyone interested in this particular case I made this codesandbox:

https://codesandbox.io/s/switch-loading-state-vpinv

As @nuragic said, thanks to how the API has been built, we can use composition to achieve it.

I can put it as a demo in the switch demo page if you wish @oliviertassinari

[2020-01-29 10:12] oliviertassinari commented on #19358
@FezVrasta It's pretty cool to see that Popper [v2](https://bundlephobia.com/result?p=@popperjs/core) is -12% smaller than Popper [v1](https://bundlephobia.com/result?p=popper.js), (assuming we can trust bundlephobia relative values). Congrats :).

It's very possible, at some point we can't do much about the bundle size/feature density :), I think that we can focus on the minimum set of features w

[2020-01-29 10:17] oliviertassinari commented on #19459
@madflanderz Agree, it's a significant downside, we had this problem reported in the past. However, we have stopped investment in the styling solution, see #6115.

[2020-01-29 10:24] madflanderz commented on #19459
@oliviertassinari Alright,makes sense. Then maybe we should just remove this text from the docs and it's fine.

I like the "name" option and readable classNames so much, that's why i created a eslint plugin to ensure developer does not forget to set the name.

Here you can find the plugin:
https://www.npmjs.com/package/eslint-plugin-makestyles

Maybe this could be added to the docs as well.

[2020-01-29 10:28] vegansk opened #19460 "Fix for issue 12840 breaks alignItems="baseline" for controls in grid"
This is how grid with controls and `alignItems="baseline"` looks:
![image](https://user-images.githubusercontent.com/2908508/73348520-26c5bf00-42bc-11ea-9468-9642a01a2dd6.png)

Without `vertical-align: top` in [this line](https://github.com/mui-org/material-ui/pull/12906/files#diff-a81c343cfd660f6ce081c529c17e2070R20) it looks like it should:

![image](https://user-images.githubusercontent.com/290

[2020-01-29 10:29] JesalR opened #19461 "The correct way to extend a Material UI component"
We are using Material-UI as the base of a project, but are running in to issues extending components

[code]
Works fine

[code]

Does not accept `component` and `to` props, resulting in TypeScript errors.
[code]

The same is true of Tabs, wherein wrapping Tabs in our own component causes onChange to not be accepted
[code]
As also seen here: https://github.com/mui-org/material-ui/issues/17454

Is t

[2020-01-29 10:31] oliviertassinari commented on #19459
The eslint plugin looks awesome! As this concern should move to react-jss, it would also be interesting to look into a babel plugin that does it behind the scene, saving developers time.

[2020-01-29 10:33] oliviertassinari commented on #19460
Yes, it's unfortunate. From what I remember, the style was added to ensure predictability between different browsers, at the expense of a better position. I doubt we should change the tradeoff.

[2020-01-29 10:55] atomiks commented on #19358
@oliviertassinari Popper 2 is actually about 23% smaller when you include every modifier. (The Bundlephobia size seems wrong –– the `umd` is only 5.8 KB minzipped).

If you include only the essential modifiers on top of Lite, it's around 30% smaller. If you only use Lite then it's 60% smaller but that's not practical in real usage.

[2020-01-29 11:13] nuragic commented on #19140
Thanks! I think it would be great to add this example in the docs, yup!

[2020-01-29 11:28] edercampelo opened #19462 "[Autocomplete] Stable for production?"
Hello MUI team,

I’m not sure if this is the right channel to ask this kind of question, but today at work one of my team mates raised a valid point asking me if using `MUI Lab` components is safe/stable enough to be used in production. Autocomplete to be more specific. I looked through the `Lab` documentation but couldn’t find any part saying that there’re any kind of restrictions to consume the

[2020-01-29 11:31] oliviertassinari commented on #19462
I think that it's way more than "good enough" to be used in production, from a user perspective. Read the discussion to #19448 to gain more insight.

[2020-01-29 11:31] #19462 closed

[2020-01-29 11:35] edercampelo commented on #19462
Thanks for the prompt response @oliviertassinari  🙏 Also no doubts it is excellent from the user perspective.

ps.: Thanks  MUI team for making the life of thousands of devs around the world easier every day 🙏

[2020-01-29 11:42] eps1lon commented on #19459
The docs are simply wrong since this was just copied over from `withStyles`. There's no way `makeStyles` can fall back to the component name since it doesn't know in which component(s) the hook will be used.

We should adjust the docs to reflect that it will fall back to `makeStyles-X`.

[2020-01-29 13:04] cadrimiranda opened #19463 "[TextField] conflicts with Bootstrap"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When i use Bootstrap and MaterialUI, the Textfield with outlined variant and  label with shrink props enter in conflicts with label style and the input show incorrect width of label i

[2020-01-29 13:10] carlo42 commented on #13656
looking at the official example at the link given by @eps1lon above, this issue still exists (i.e. the ListItem with button in the official example renders <div> instead of <li>)

We noticed this ourselves when we were testing for accessibility using material UI List and ListItem components

[2020-01-29 13:20] IPR-Kaspar opened #19465 "Suggestion: Add button type to card to enable button styles"
Right now there is a Card that doesn't have button styles (Ripple effect etc) and there are buttons with upper-text, etc styles for text only.

Would it be easier for anyone just have an option to define card as you want with data and add the 'button' option with all styles: ripple effect hover over onclick styles? Easy and relieves some custom stuff headache.

eg. <Card button or <Card type="butt

[2020-01-29 13:22] oliviertassinari commented on #19465
@IPR-Kaspar We would encourage to compose the existing component to create a higher abstraction in your application.

[2020-01-29 13:45] galechus opened #19466 "Extend PaperClassKey and PaperProps"
Hi,
is this possible extend `PaperClassKey` and `PaperProps` with custom values?

I would like to get something like this:
[code]
And using the component would look like this:
[code]

[2020-01-29 13:47] homyden commented on #19463
The problem appears not only with bootstrap.
When I use **sanitize.css** in project, I have the same issue.

[2020-01-29 14:09] cadrimiranda commented on #19463
Please, make a example in codesandbox too

[2020-01-29 14:10] embeddedt commented on #19461
Can you try `React.ComponentProps<typeof Link>` instead of `LinkProps`?

[2020-01-29 14:23] kLabz opened #19467 "[ClickAwayListener] Trigger issue with dynamic children"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`ClickAwayListener` doesn't trigger when clicking on an element with "dynamic" children. For example, if you have two of these they won't close each other:
[code]

## Expected Behavio

[2020-01-29 14:30] homyden commented on #19463
https://codesandbox.io/s/angry-sun-2ii0r

[2020-01-29 14:47] JesalR commented on #19461
@embeddedt  That causes the same typescript issue
https://codesandbox.io/s/react-typescript-vir6c

[2020-01-29 14:50] jcafiero commented on #19448
@oliviertassinari Thank you for clarifying this for me. I agree, I think it would be beneficial to add a small description of the difference between a lab and core component to the page you highlighted above.

Where can we find a list of the features missing from a component, like what you mentioned about Tree View?

[2020-01-29 14:56] shiraze opened #19468 "[Chip] deleteIcon has role set to presentation"
The <svg> element that relates to the delete icon in Chip elements when the onDelete prop is set has role set to "presentation".
As this element performs an action, and there isn't any way to set an aria-label on the SVG, this seems to break accessibility rules.
https://www.w3.org/TR/wai-aria-1.0/roles#presentation

- [x] The issue is present in the latest release.
- [x] I have searched the [issue

[2020-01-29 15:03] eps1lon commented on #13656
@carlo42 Could you open a new issue, fill out the template and explain what a11y issue you're encountering?

[2020-01-29 15:13] eps1lon commented on #19468
We hide it via role="presentation" because it does not get an accessible name or is is focusable or in tab order etc. Chips can be deleted by clicking the tiny icon. For users that rely on the keyboard the `Delete` and `Escape` keys can be used.

We have a dedicated accessibility section in our docs: https://material-ui.com/components/chips/#accessibility

It would be nice to put the icon in the a

[2020-01-29 15:26] willwill96 commented on #19423
We use Autocomplete as a free text input box that also offers suggestions. We control the component because we have a few buttons at the top of our component that need to reset the values to certain templated values.

If the snippet above looks good to you, then I think I'm fine closing this issue. I do think it is a little strange for `defaultValue` to be stateful, but I suppose that's not really

[2020-01-29 15:40] carlo42 commented on #13656
@eps1lon its the same issue as reported in this ticket - i.e. ListItem with button prop renders "div" not "li"

This means that the list items aren't picked up by screenreaders (you get audio such as "list with zero items")
i.e:
- For a ListItem not as button, we get the "li" and therefore get the correct screenreader behaviour.
- For LIstItem as button there is no "li"

AXE reports this:
\<ul\> a

[2020-01-29 16:22] carlo42 opened #19469 "Accessibility issue with ListItem as button"
ListItem as button (i.e. \<ListItem button\>) renders as \<div\> instead of \<li\>

The 'regular' ListItem renders correctly as \<li\>

This results in an AXE violation:
\<ul\> and \<ol\> must only directly contain \<li\>, \<script\> or \<template\> elements

In practice what this means is that screenreaders will not pick up the number of items in the list (i.e. you'll get something like "list con

[2020-01-29 16:23] carlo42 commented on #13656
@eps1lon - as requested, I've created a new issue: #19469

[2020-01-29 16:50] #19465 closed

[2020-01-29 17:08] SerhiiBilyk commented on #18646
@reiv  @oliviertassinari Can I pick it up?

[2020-01-29 17:36] bzmillerboy commented on #12654
For anyone else how finds this: My issue was that I did not have the `<CssBaseline />` nested inside the `<ThemeProvider>`.

https://stackoverflow.com/questions/48186478/custom-theme-background-color

[2020-01-29 18:00] oliviertassinari commented on #19423
Ok, thanks for the feedback. I think that we could wait a bit, to get more feedback from users before closing the issue. I would suspect that we will have more developers confused. I suspect that a new dedicated section for the controllable use cases would be beneficial and the best resolution.

[2020-01-29 18:02] oliviertassinari commented on #19448
@jcafiero If it's something you want to contribute, we would be happy to review it.

You could look at the issues that have the TreeView label.

[2020-01-29 18:09] sib12004 commented on #14867
This does not work, even in your code sandbox... It displays the pagination at the bottom, yes, but it does not actually reflect the rows of the list.

[2020-01-29 18:36] beccanelson opened #19470 "Popup that displays on hover and lock body scroll"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I am using Popover in a fixed sidebar with the CSS `overflow: auto` and `height: 100vh` in order to keep the page content fixed outside of the sidebar. This might be a weird CSS issue

[2020-01-29 19:01] raae commented on #18673
So sorry @oliviertassinari, I was sure I had updated to latest!

Thank you :D

[2020-01-29 19:55] koustubhmoharir opened #19472 "Components should not render outside their bounding boxes"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The default styles of many components render shadows outside their bounding boxes and thus overflow their bounding boxes. The default styles are thus not usable when the components are placed in a container with overflow:hidden and no padding

[2020-01-29 20:26] amcasey commented on #19113
I bumped up to 10 runs per commit and now there are four distinct regressions in the sloped reason. :smile:

https://github.com/microsoft/TypeScript/commit/7d77ecbcff52db885fe7b936891ac793c4b7714a
https://github.com/microsoft/TypeScript/commit/7f3c03d4414939bb48758c0f957babed830df48c
https://github.com/microsoft/TypeScript/commit/4ee251b053eb2d419ce5304b309c5e4e1cd7ad1c
https://github.com/microsof

[2020-01-29 20:49] Native-Coder commented on #4221
An explicit example of how to open a drawer _**NEEDS**_ to be in the documentation somewhere. It took me 3 hours to find this page. Only now do I realize that I need to life the state up in order for this to work. Thank you @Itagiba , regardless of the community guidelines, this example needs to be seen.

[2020-01-29 21:10] oliviertassinari commented on #19472
@koustubhmoharir We would encourage you to add an additional padding in your scroll container. Alternatively, you could remove the box-shadows.

[2020-01-29 21:10] #19472 closed

[2020-01-29 22:15] jcafiero commented on #19448
Yeah I can submit a PR sometime next week. Thanks!

[2020-01-29 23:20] grant-davidson commented on #19463
This can be fixed by adding this to your css:

legend {
    width: auto
}

https://codesandbox.io/s/lucid-dewdney-frre4

[2020-01-29 23:37] mbrookes commented on #19448
I would add:

5. Needs type definitions.

We recently agreed that a component doesn't need to be typed to be added to the lab, but it would do to move to the core.

6. Needs good test coverage.

I may be mistaken, but I don't think all the lab components currently have comprehensive tests.

I agree, we shouldn't merge them. 😉

More seriously, I'll give the basically same answer I've given every ot

[2020-01-29 23:44] seandearnaley commented on #19362
any updates on this?

[2020-01-29 23:56] hesto2 commented on #19459
working on this (seems like a really easy first issue 😂 )

[2020-01-30 00:54] mrjdavidfg commented on #16954
This is my so simple only-CSS workarround:

[code]

[2020-01-30 02:05] Colkadome commented on #18985
react-select supports an "Add option (MyOption)" action when the user starts typing. I'm finding lots of users don't remember to hit the Enter button when adding new options (especially when starting with no values), so this would be really useful.

[2020-01-30 02:48] ririvas commented on #19362
Hi,
I forked the library and started attempting to implement what @eps1lon suggested. Hopefully, I can wrap that up tomorrow by the end of the day. Then I will issue a pull request.

I've just been going through the changes made and the [thread](https://github.com/mui-org/material-ui/issues/19113) on improving type performance. Seems like I will go for a simple revert, but I wanted to make sure I

[2020-01-30 04:07] goleary opened #19475 "Grid Items inside a div don't behave correctly"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
if I include code like this:
<Grid container>
  <div>
    <Grid item />
    <Grid item />
  </div>
</Grid>

it breaks the grid display:
![image](https://user-images.githubusercontent.c

[2020-01-30 04:22] xddz9 commented on #19117
+1, having the same issue using the Modal component.

[2020-01-30 04:53] homyden commented on #19463
replace label to "oooooo"

[2020-01-30 07:38] joshwooding commented on #19475
This is expected, Grid uses flexbox under the covers which requires direct descendants. I’m not sure we can do anything here... what’s your use-case for wrapping things in divs?

[2020-01-30 08:16] alpfactory-alex commented on #8191
Not sure if this belongs in here but is there any plan to also support Keyboard while the Select's Dropdown is closed but the Select component has focus? As for native controls this works fine you can have the dropdown being close and still type values and choose from.

[2020-01-30 08:56] tomtom94 opened #19476 "Workbox ServiceWorker and classNames id generator mismatch"
Hello,

I am using Material Ui `WithStyles` and `CreateStyles` function which follow up the JSS classNames generator rule.

But I am also using a Service Worker (the exact same one in [create-react-app repo](https://github.com/facebook/create-react-app/blob/master/packages/cra-template/template/src/serviceWorker.js))

**THE ISSUE :** When I make a new deployment (accompanied by a new build), all c

[2020-01-30 10:02] #19368 closed

[2020-01-30 10:04] #19250 closed

[2020-01-30 10:08] m1keharris commented on #19475
Can you not use [React.Fragment](https://reactjs.org/docs/fragments.html) instead of the div element?

[2020-01-30 10:31] vctqs1 opened #19477 "Can not set useRef to ref of component"
Hello all,

So sorry because my english is not good.

I wanna to set `ref` to Material Component like that
`<Button ref={nonSystemRef}>Create new</Button>`

And the value I received.
![image](https://user-images.githubusercontent.com/30227910/73441837-3b6e8980-4386-11ea-9b7a-050a876f67a1.png)

I want to get height of button. I used React.useCallback()

[code]

[2020-01-30 10:42] cadrimiranda commented on #19463
This can solve, but with the label in uppercase this doesn't work.  This is my case, take a look:

![image](https://user-images.githubusercontent.com/1617210/73442625-ef92f480-4333-11ea-81c1-fc75002fe62c.png)

![image](https://user-images.githubusercontent.com/1617210/73442648-fae62000-4333-11ea-9750-36bbc8e69132.png)

[2020-01-30 12:27] eps1lon commented on #19469
If you want a ListItem **as** a button you cannot put it inside a list. I'm not sure what you're trying to do. A list usually has text. Maybe you want to mark up a menu (a list of actions)?

Would <ListItem><Button /></ListItem> help?

[2020-01-30 12:35] oliviertassinari commented on #19477
Upgrade to v4.

[2020-01-30 12:35] #19477 closed

[2020-01-30 12:39] #19476 closed

[2020-01-30 12:46] oliviertassinari commented on #19463
While this is an important issue to take care of to enable progressive migration from Bootstrap to Material-UI, I'm wondering.

What are the use cases for using Material-UI with Bootstrap outside legacy considerations? :)

[2020-01-30 12:48] oliviertassinari commented on #19117
@xddz9 Do you want to submit a pull request? :)

[2020-01-30 12:50] oliviertassinari commented on #8191
We have no plan for it.

[2020-01-30 13:07] cadrimiranda commented on #19463
We are developing a system with a deadline we cant go back and refact our code. The material part (Textfield and Grid) is minor than bootstrap (system grid)(and we have a lot of forms). I guess i will refactor input component to imitation of materialUI textfield haha

[2020-01-30 13:27] oliviertassinari commented on #19463
@cadrimiranda in this context, you can either revert to the previous version, until we release a patch, wait for a patch, or go ahead with proposing a pull request to patch that we will release later this week.

However, it doesn't answer the question regarding the motivation for using both :).

[2020-01-30 13:30] gsabetta opened #19479 "[Autocomplete] Cannot use start adornments on multiple select autocomplete"
Using start adornments on multiple select autocompletes makes the chips stop rendering.

- [ x ] The issue is present in the latest release.
- [ x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If you try to have a multiple select autocomplete with adornment the chips won't render an

[2020-01-30 13:59] cadrimiranda commented on #19463
@oliviertassinari this can answer:

In addition, in the initial phase of the project, we only used the bootstrap and the user interface / UX design left the organization and come another with the idea of ​​using Material Design and he proposed a new design. We liked it a lot and we are now using.

[2020-01-30 14:09] panfiva opened #19480 "CSS not properly applied in production (useStyles is applied before Mui styles)"
Production styles are applied differently from dev. I use the same MUI version as the one installed by react-admin component - min width and capitalization is different between DEV and PROD.

==========================
**DEV**

![image](https://user-images.githubusercontent.com/48455289/73456071-d5a6e100-4336-11ea-92c0-567390674401.png)

==========================
**PROD**

![image](https://user-i

[2020-01-30 14:25] homyden commented on #19463
Issue appears with another css libraries.

sanitize.css

<img width="254" alt="sanitize" src="https://user-images.githubusercontent.com/2797154/73457599-f26a0580-4384-11ea-8f01-8be8c11f3442.png">

normilize.css

<img width="226" alt="normalize" src="https://user-images.githubusercontent.com/2797154/73457719-280eee80-4385-11ea-80f3-c0f2f4c8b4cd.png">

[2020-01-30 14:42] carlo42 commented on #19469
Our list items are buttons with text.

I notice in your "simple list" example (link below) that you have ListItem as buttons contained in a List as nav - would that be the correct pattern then for a list of buttons containing text (and would this be fully accessible - i.e. screen readers would treat this correctly?)

https://material-ui.com/components/lists/#simple-list

[2020-01-30 14:43] balazsorban44 opened #19481 "ExpansionPanel toggles when clicking an anchor tag inside ExpansionPanelSummary"
I have the following code:

[![Edit ecstatic-feather-r6ujo](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/ecstatic-feather-r6ujo?fontsize=14&hidenavigation=1&theme=dark)

On CodeSandbox, when I click the anchor tag inside `ExpansionPanelSummary`, the `ExpansionPanel` does not get expanded. However, I have an identical code on my desktop, where if I click a ancho

[2020-01-30 14:48] tomtom94 commented on #19476
https://stackoverflow.com/questions/59988602/workbox-serviceworker-and-classnames-id-generator-mismatch

[2020-01-30 14:52] Eplumecocq commented on #19463
@homyden  I'm facing the same issue with normilize.css.
Removing it seems to fix the problem for me, but this is definitely not the best solution.

[2020-01-30 14:54] #19480 closed

[2020-01-30 15:40] eps1lon commented on #19469
This depends on your markup. I think you will get more help on stackoverflow or spectrum if they know what you're trying to achieve.

[2020-01-30 15:40] #19469 closed

[2020-01-30 16:32] #19460 closed

[2020-01-30 16:39] #19447 closed

[2020-01-30 16:40] oliviertassinari commented on #19447
@Hadard753 Tip, in the API:

[2020-01-30 16:55] OlegBrony opened #19482 "[ButtonBase] Missing ripple effect on Enter"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

https://codesandbox.io/s/material-demo-r54xj
take focus with tab on some button and press space and enter.

[2020-01-30 17:30] oliviertassinari commented on #19482
@OlegBrony Interesting, are you saying that <kbd>Space</kbd> triggers a ripple but <kbd>Enter</kbd> doesn't?

The onClick seems OK but the ripple part seems off:

- Google single sign-on ripples on <kbd>Space</kbd> and <kbd>Enter</kbd>: https://accounts.google.com/signin/v2/identifier
- MCW only ripples on <kbd>Space</kbd>: https://material.io/components/buttons/ (Why?).
- Material-UI only ripples

[2020-01-30 17:40] goleary commented on #19475
@joshwooding the use case is on my landing page: https://roadgauge.app

each feature (a combination of text + image) should take up one row of the grid:
![image](https://user-images.githubusercontent.com/16123225/73474775-e14cd480-4343-11ea-84e1-5b88ed31d766.png)

unless the screen is narrower than a certain amount where they should appear one after the other.
![image](https://user-images.githubus

[2020-01-30 17:40] #19475 closed

[2020-01-30 18:19] cadrimiranda commented on #19463
Thanks @homyden to find another use cases. Tonight i guess i'll fork the repository and try to fix this ...

[2020-01-30 18:22] koustubhmoharir commented on #19472
Additional padding makes it difficult or impossible to get proper alignment, not to mention creating unmaintainable dependencies on very specific aspects of styling.
Removing the shadows on a 'contained' Button changes its look totally.
The large negative margin on Checkbox (-12px) makes the Checkbox looked chopped off on mouseover.

Good default styling was the main reason for me to adopt materia

[2020-01-30 18:50] homyden commented on #19463
You are welcome! =)

In version 4.8.3, textfield had a bug related to the label in the outline variant. If you use texfield in tabs for example. It has been fixed in this [commit](https://github.com/mui-org/material-ui/commit/c29c8adbfd8a911ba44d4bac9cbd20e34d761833). And then changed [transitions](https://github.com/mui-org/material-ui/commit/102c79096fcac9d34362a8b063c1290e4e2a2e19).

So, need t

[2020-01-30 19:33] oliviertassinari commented on #19472
@koustubhmoharir I see two different topics here.

1. Button: I don't think that we can trade adding a margin to the element for the box-shadow (that our users will likely remove when customizing the element) for an "edge case" with a scroll container. The element should come without any margin. It's more predictable and easier to layout.
2. Checkbox: do you have a reference? I'm not aware of the

[2020-01-30 19:36] martinjlowm commented on #19224
The use of `indexOf` should reference the JSS generated name, rather than the static name as it currently does. It would be straightforward if `withStyles` and `makeStyles` exposed the generated CSS sheet and referenced the keyframe name as is described here: https://cssinjs.org/jss-syntax/?v=v10.0.3#keyframes-animation

One proposal is an extra option, similar to how the inclusion option of theme

[2020-01-30 19:54] mr-bjerre opened #19484 "[Autocomplete] Wrong T inference"
I just updated to last lap version `4.0.0-alpha.40` which broke my `<Autocomplete />` component so I'm trying to adapt to the changes. However I can figure out how to do it.

I've made a [codesandbox](https://codesandbox.io/s/musing-http-7xpom?fontsize=14&hidenavigation=1&theme=dark) example (code below):

[code]
It seems that `options` and `onChange` disagree on the types.

[2020-01-30 20:03] koustubhmoharir commented on #19472
1. Button: I agree that adding a margin would not be good either. But perhaps rendering something inside the button element whose shadow doesn't overflow might work. I have currently changed the shadows to be inwards rather than outwards but it doesn't look good enough.

The issue with shadows is not limited to Button. It occurs with many components like Expander, Paper, etc. Having padding on the

[2020-01-30 20:04] RodolfoDTI opened #19486 "Popper not working with drawer"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When using a popper component inside a drawer, the popper is not displayed on screen.

## Expected Behavior 🤔

Expected behavior would be that popper would be displayed at screen at th

[2020-01-30 20:06] mr-bjerre commented on #19484
Changing `(e: any, v: Person[])` to `(e: any, v: any)` fixes it but I assume it could be handled better

[2020-01-30 20:12] mr-bjerre commented on #19484
And changing the component to `freeSolo` with no options breaks it too.

[code]

[2020-01-30 20:14] #19486 closed

[2020-01-30 20:14] oliviertassinari commented on #19486
Tip: add a z-index

[2020-01-30 20:15] oliviertassinari commented on #19484
Curious. cc @testarossaaaaa.

[2020-01-30 20:28] Native-Coder commented on #18377
Why was this closed without being addressed? Is it possible to create a custom theme without `@material-ui/styles` or isn't it?? Because the documentation made me very hopeful that my only dependency would be the core package.

[2020-01-30 20:36] Native-Coder opened #19487 "Incorrect Documentation: 'ThemeProvider' is not exported from '@material-ui/core/styles'"
The documentation at https://material-ui.com/customization/theming/ is incorrect. It claims that `ThemeProvider` is exported from `@material-ui/core/styles` but it is not. I tried to follow the themeing examples using `MuiThemeProvider` in place of `ThemProvider` but that did not work.

Is it even possible to create a custom color pallet and apply it without adding `@material-ui/styles` as a depen

[2020-01-30 20:39] martinjlowm commented on #6115
I don't get why there's so much hype for styled-components. It feels like a step back to be honest. Typed CSS properties of JSS with TypeScript are far more convenient and easier to maintain, plus there's syntax checking as part of JS - any modern/configured editor will tell you if you ever make a typo and even help you with auto completion if that's desired.

[2020-01-30 20:49] oliviertassinari commented on #19487
I would recommend to upgrade to the latest version, or use the version of the documentation that match your installed version.

[2020-01-30 20:49] #19487 closed

[2020-01-30 21:02] ypresto commented on #16278
Ah, ok I overlooked these comments↓, sorry :bow:
https://github.com/mui-org/material-ui/pull/19195#issuecomment-573397372 https://github.com/mui-org/material-ui/pull/19195#issuecomment-573409835

[2020-01-30 21:21] South-Paw commented on #6115
@martinjlowm looks like it has typings to me?

![image](https://user-images.githubusercontent.com/2154764/73491405-723eb100-4413-11ea-8d31-445afb3a0445.png)

See: https://styled-components.com/docs/advanced#style-objects

[2020-01-30 21:56] MieleVL opened #19488 "Multiple select is a bit 'jumpy'"
Since v4.8.3, the Select component moves when selecting items. This can be reproduced using the examples in de docs.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When 'multiple' is set to true, selecting an item can cause the m

[2020-01-30 21:57] testarossaaaaa commented on #19484
@mr-bjerre It seems that the whole `Person[]` from handleSelect inferred as `T` type and then `T[]` unwraps to `Person[][]`. I need time to figure out a solution. As a quick fix you can explicitly specify the correct type for the component:
[code]
or inline the change handler:
[code]

[2020-01-30 22:06] #19488 closed

[2020-01-30 22:06] oliviertassinari commented on #19488
Duplicate of #19245.

[2020-01-30 22:07] mr-bjerre commented on #19484
Ah yes that'll work thanks

[2020-01-30 22:13] oliviertassinari commented on #19472
1. I personally override the component to remove the box-shadows, e.g. you might prefer the outlined variant of the Paper. While it's not ideal, leaving space for the box shadows would be significantly worse.
2. Agree, the current state of the `FormControlLabel` is questionable.

[2020-01-30 22:34] oliviertassinari commented on #19463
It's a duplicate of #19386.

It was fixed in #19389.

@grant-davidson has shared a solution. So I would suggest the following:

[code]

@cadrimiranda Do you want to submit a pull request? :)

[2020-01-30 22:37] panfiva opened #19489 "Styles are not applied properly (incorrect order of styles)"
Custom styles that are generated using makeStyles() function are sometimes applied before core styles

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Custom style created using makeStyles is applied before core MuiTab style. As the

[2020-01-30 22:49] oliviertassinari commented on #19489
@panfiva This looks expected, the injection order depends on the script execution order. I believe you would get a similar experience with react-jss or styled-components. You could get a more predictable outcome by removing the circular import.

[code]

There is almost no longer-term benefit it better documenting it considering we will offload the style engine to thrid-parties in v5 (which we alre

[2020-01-30 22:49] #19489 closed

[2020-01-30 23:03] ianschmitz commented on #19461
Related: https://github.com/mui-org/material-ui/issues/17491.

[2020-01-30 23:20] oliviertassinari commented on #19224
We will soon have to solve the same issue with styled-components and emotion (multi-engine support). They both give us access to the generated name of the keyframe but with our current integration with JSS, it's more challenging. In this context, what about we use global, prefixed, names?

[code]

[2020-01-31 00:14] seandearnaley commented on #19362
Thanks @ririvas sorry about asking for updates, I'm actually in no rush I just thought it was something I may have did, or some doc I missed, thanks for working on it.

[2020-01-31 01:12] panfiva commented on #19489
thank you so much... it helped.

[2020-01-31 02:04] macabeus opened #19490 "Buttons props on MobileStepper could be optional"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently we have many components to display a progress to user. One of these components is `MobileStepper`.

This component is good, but I think that it could be more flexible if we change its interface seting `nextButton` and `backButton` a

[2020-01-31 02:58] themakerman commented on #5793
For those still at older version and trying to fix the issue >> This works like a charm

[2020-01-31 04:11] svict4 commented on #18322
Got a quick hack using Grid for those who need this in the interim:
https://codesandbox.io/s/mui-label-in-progressbar-byec9

[2020-01-31 04:58] fyodore82 commented on #19482
The `ButtonBase` component is turning on ripples only if Space is hit. Adding Enter solves this issue
[code]

But I have also noticed different behavior for keyboard accessibility in [`onKeyDown`](https://github.com/mui-org/material-ui/blob/bdebdfd4832c13a05463faeffef9687688be9715/packages/material-ui/src/ButtonBase/ButtonBase.js#L213) and [`onKeyUp`](https://github.com/mui-org/material-ui/blob/bd

[2020-01-31 08:04] eps1lon commented on #17491
I don't think we can do much here other than document how to workaround.

The problem is that you have two components here: the actual implementation and the one decorated with `classes`. What we usually define as the `Props` in that context is the types for the props that are available in the implementation. This isn't the type you should export but rather the type of the props of the decorated o

[2020-01-31 08:10] eps1lon commented on #19482
It is. This is how a `<button>` works.

I do think the current behavior is correct. The expanding ripple indiciates what about to be activated: When space is pressed or when the mouse is down it starts. Neither of these actions trigger a click but a click will be triggered once these keys are released.

`Enter` does not have these characteristics since it immediately actives on keydown. There is n

[2020-01-31 08:27] riteshjagga commented on #4532
We had the double-click issue in Firefox browser **but only when used along with a screen reader (NVDA) for accessibility**. Posting a solution because it looked related.

`onMouseDown` and `onMouseUp` are not really solutions from accessibility point of view as buttons can then not be triggered using **Enter** and **Space** keys.

We found that the issue is with `onClick` and changing it to `onTo

[2020-01-31 08:29] riteshjagga commented on #4532
You'll loose keyboard accessibility with this event.

[2020-01-31 08:32] MihailHaev commented on #10675
In native date-picker has attribute max or min, what can fix this problem, but it attributies doesn't apply to TextFiled

[2020-01-31 08:32] eps1lon commented on #19490
Thanks for opening this issue and providing some context.

I don't think we want to make them optional to indicate that you should take care of the next and previous button.

It seems like you already identified a workaround. Could you show example code why this workaround does not work or works badly?

[2020-01-31 08:49] edgarcheverier commented on #18018
Following this article, I managed to make it work but isn't straight forward, I hope it can help someone.
https://medium.com/manato/ssr-with-next-js-styled-components-and-material-ui-b1e88ac11dfa

[2020-01-31 08:57] zachsa opened #19493 "How to use List controls (and other 'fancy' aspects of lists) with a virtualized list?"
The example of a Virtualized List on the documentation shows a simple `ListItem` component: https://material-ui.com/components/lists/

This is easy to get working. Trying to add children of `ListItem` results in very badly displayed lists. This is also the case when the primary text of a list item component is too long (shown in the code below):

I'm not sure if this is a bug, a limitation of the

[2020-01-31 09:13] martinjlowm commented on #6115
I see! I wasn't aware that it supported objects like that. My concern was related to CSS in template strings - but if objects are an option, then I have nothing against it!

Obviously, JSS isn't perfect either, I know - reusable server generated sheets would be a killer feature - does styled-components support that somehow? Does anyone know?

Right now, it feels stupid having to delete the server

[2020-01-31 09:15] martinjlowm commented on #19224
I agree, it seems like a cleaner approach.

It feels bloated having to supply the sheet as I proposed for one particular use-case.

[2020-01-31 10:13] #19493 closed

[2020-01-31 10:31] oliviertassinari commented on #19482
@eps1lon in this case, should we update the test I have linked above to assert that we expect a pulsating ripple?

I wonder about the different of behavior between a click and an enter keydown event. If the ripple is meant to give feedback to the user that his action was taken into account. Why should it behave differently between these two events?

[2020-01-31 10:54] eps1lon commented on #19482
The ripple indicates that an action **will** be taken into account. The ripple starts on mousedown not on mouseup. The click is registered on mouseup.

That the click registered should be handled by the UI itself i.e. the action being dispatched.

At least this is how it is implemented currently. As far as I can tell the Material design guidelines do not explain in detail why the "pressed" state i

[2020-01-31 10:58] cadrimiranda commented on #19463
@oliviertassinari i'll, thanks.

[2020-01-31 11:03] oliviertassinari commented on #19482
Thanks for the detailed answer. What would you recommend as the next for this issue? Should we close it as, "behave as expected"?

[2020-01-31 11:07] oliviertassinari commented on #19224
@martinjlowm Great, in this case, feel free to take the lead to get these changes in the master branch :).

[2020-01-31 11:15] Sourcetreehugger commented on #17973
Hi @lloiser I have found a solution. It required me to seperate makestyles from styles, and also alter the WithStyles interface from material UI a little, but now I have access to classes again from the parent. @eps1lon This is basically the WithStyles type but with an optional classes member. It would be nice if such a type would be included in makestyles. I have attached a Zip file which you can

[2020-01-31 11:58] MarcNq commented on #19362
We temporarily solved the issue by casting theme.mixins.toolbar to Material-UI's CSSProperties instead of React.CSSProperties:
[code]

[2020-01-31 13:10] Abhishek-Sati opened #19496 "Unhandled Rejection (TypeError): Cannot read property 'main' of undefined error while using alert"
I just bought davias kit pro which is working on material-ui/core 4.6.0.The problem is that if i am using material ui alert and snackbar then a error  arises that Unhandled Rejection (TypeError): Cannot read property 'main' of undefined  .If i am upgrading the material ui to latest version then everything is working properly there is no error but all the design of davious kit is changed.Is there a

[2020-01-31 13:47] UltimateForm opened #19498 "Avatar onError callback with src update is no longer updating avatar image"
When the [Avatar](https://material-ui.com/api/avatar/) component fails to load an image, in some cases the developer may want catch this event and show another image instead, the solution advised on #5257 and #11128 are no longer working as intended, as of latest version 4.9

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui

[2020-01-31 14:59] UltimateForm commented on #19498
This is an effect of #16161 most likely, but is it an intended or unintended side effect?

[2020-01-31 15:12] macabeus commented on #19490
@eps1lon Of course. Here's my workaround:

[code]

If we set these props as optional, we could remove ~10 lines of a workaround code, improving its readability.

[2020-01-31 15:31] UltimateForm commented on #19498
I think there's another problem too, that I started to notice more as i began implementing a state solution on my side: the `onError ` is not called sometimes when errors occur, this is happening on the sandbox too but I initially thought it was just the console acting up

[2020-01-31 15:40] UltimateForm commented on #19498
yup, just confirmed with this sandbox https://codesandbox.io/s/flamboyant-frog-yf49e , i have an <img> and an <Avatar> side by side, both provided with erratic urls, and i observed that - after a many refreshes - only <img> always calls the onError function

**But this feels like a completely different issue**

Note: the original issue persists since even when the callback is called on Avatar's si

[2020-01-31 16:20] mvestergaard opened #19500 "[Autocomplete] Add option to disable handling of home/end"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

This is merely a suggestion, which I want to gauge the response to.
In some cases, it is not very nice that home/end navigates the options, rather than allowing navigation of the input field. For example, my use case it to use Autocomplete as

[2020-01-31 17:41] dheerajmpai commented on #593
https://github.com/lightningtgc/react-native-material-ui Is nothing but another scam npm package

[2020-01-31 18:19] eps1lon commented on #19482
Unless we get some new info from the Material design people, I'd say yes. It looks like the MCW implementation is using the same logic.

I'm closing once I took a look at the test.

[2020-01-31 18:55] oliviertassinari commented on #19500
The current behavior originates from the recommendations of WAI-ARIA authoring practices. They make this behavior optional: https://www.w3.org/TR/wai-aria-practices-1.1/#listbox-popup-keyboard-interaction.
So I would suggest
1. Let's use what the WAI-ARIA demos are using as the default behavior
2. Let's make sure this behavior can be customized.

[2020-01-31 19:01] mvestergaard commented on #19500
If one were to add an option to control this behavior, what would one call such a thing? All of my ideas feel rather verbose. `disableHomeEndKeyboardHandling` ugh...

But as to the last line i wrote above. Couldn't you kinda assume that if the shift key is being held, keypresses of home/end/up/down should go to the input field?

[2020-01-31 19:04] oliviertassinari commented on #19500
Well, it doesn't have to necessarily be a prop. For instance, it could be an event that set `event.muiHandled = true`.

[2020-01-31 19:05] #19445 closed

[2020-01-31 19:14] mvestergaard commented on #19500
Right, that could work too. I guess for now I'll handle it in a custom `onKeyDown` handler, and control which calls are propagated to `useAutocomplete`. It just feels a bit like a low level concern, that would be nice to handle in a more generic fashion.

[2020-01-31 19:42] oliviertassinari commented on #19498
@UltimateForm Here is one way to handle the issue, use fallback children:

[code]

An approach that mutates the DOM node without "informing" React about is questionable, it's asking for issues later down the road. We would recommend using a state to change the src when an error is detected

[2020-01-31 19:42] #19498 closed

[2020-01-31 21:36] warren-liang-exa commented on #15511
Is there any update on this issue? Still getting more than one class.

[2020-02-01 00:25] amcasey commented on #19113
@eps1lon Someone on this end suggested that removing `@ts-ignore` might help.  Basically, when an error is detected, it's assumed that the user's top priority is getting good information about the error, so it's possible that a bunch of extra work will be done.  If that information is subsequently dropped (because of `@ts-ignore`), then that time is just wasted.  (Unfortunately, it's not straightf

[2020-02-01 03:48] Prottoy2938 commented on #4499
Does anyone has fixed this issue?

[2020-02-01 09:44] #19459 closed

[2020-02-01 09:46] #19435 closed

[2020-02-01 10:01] eps1lon commented on #17491
Update on https://github.com/mui-org/material-ui/issues/17491#issuecomment-580628311:

I just realized that we already have a helper type for this: `StyledComponentProps`:

[code]

[2020-02-01 10:12] #19224 closed

[2020-02-01 10:20] eps1lon commented on #19113
We only had a single usage in `docs/`. I removed it anyway just in case: #19504

To be honest it sounds like `@ts-ignore` is an anti-pattern in that case. Not only does it not give you useful information i.e. what kind of error do we have but it also is a perf bottleneck.

As far as I can tell `@ts-ignore` is only useful in `.js` files that are being type-checked.

[2020-02-01 10:27] eps1lon commented on #19500
That's a misleading name. We specifically want to tell the component to **not** handle it. We can't use `preventDefault` either since we can't "unprevent" it in the autocomplete i.e. prevenDefault would also prevent the default of the textbox. Setting properties on the object is also not a good idea since have to persist the event. Seems like a prop is the best solution here.

[2020-02-01 11:10] oliviertassinari commented on #19500
Here is a prior-work with the even flag approach.

https://github.com/mui-org/material-ui/blob/83fb7f42ef47b68976e2856e26f074a974ba08f3/packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js#L411-L414

A user could listen to the event before the component, flag the event as already handled so the component ignores it. However, it's only one of the options available, it might not be the best o

[2020-02-01 11:15] oliviertassinari commented on #19363
@MareoRaft Do you want to move forward with the changes and submit a pull request? :)

[2020-02-01 12:24] eps1lon commented on #19362
Closed with #19491

[2020-02-01 12:24] #19362 closed

[2020-02-01 13:06] danielo515 opened #19506 "Document colorManipulator methods"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Today I discovered that materialui provides a set of color manipulation helpers under `@material-ui/core/styles/colorManipulator`.
I searched through the docs and I didn't saw any reference to any of the methods contained there, albeit they a

[2020-02-01 13:52] OlekRia opened #19507 "strange label behavior"
![image](https://user-images.githubusercontent.com/1911564/73593250-a47f0a00-450a-11ea-88c3-7321c153f13b.png)

How to remove this empty legend above the outlined input?
`<form noValidate autoComplete="off">
        <TextField
          label="Your email"
          fullWidth
          defaultValue=""
          placeholder="Type here.."
          variant="outlined"
          margin="normal"

[2020-02-01 14:08] #19507 closed

[2020-02-01 14:08] joshwooding commented on #19507
Please use the issue template and provide a minimal reproducible example.

[2020-02-01 14:15] joshwooding commented on #19454
This is an easy fix but due to the massive changes in #18357 I want to wait for that to be merged.

[2020-02-01 15:34] khoapa opened #19508 "[TextField] TextField outlined border is disappeared and some is misaligned"
Hi, I need some help with a bug with TextField style,
I didn't make any css changes with the TextField element and I've tried to change the input variant to be filled and default, everything worked fine but when I change it to outlined variant, it began to have some strange UI bug like the snapshot below. I can't find the root cause for this problem and have been stuck for three days. I would be v

[2020-02-01 15:38] joshwooding commented on #19508
Please fill out the issue template and provide a minimal reproducible example.

[2020-02-01 15:38] #19508 closed

[2020-02-01 15:44] UltimateForm commented on #19498
@oliviertassinari there is still the issue that onError callback is only called sometimes.... so

would only work half the time

[2020-02-01 15:50] oliviertassinari commented on #19498
@UltimateForm Is this an issue with React?

[2020-02-01 16:05] mrkhedri commented on #19445
Thanks for your reply. But my problem was not solved.

Some lines of my component:
[code]

Test:
[code]
As you can see, Error occurs after call `handleChange` function with `seperate` value.
[code]
[code]

[2020-02-01 16:26] TommyJackson85 commented on #19363
@MareoRaft I am happy to try this myself instead if you're working on something else. Up to you.

[2020-02-01 16:29] TommyJackson85 commented on #19240
If nobody has been working on this I would like to create a PR on this.

[2020-02-01 16:32] TommyJackson85 commented on #19117
Has a PR being set up for this Issue? I am happy to try and fix it my self if nobody hasn't already.

[2020-02-01 18:07] PhilSchwerttraeger commented on #19318
#18492 (comment)

[2020-02-01 18:08] PhilSchwerttraeger commented on #19318
https://github.com/mui-org/material-ui/issues/18492#issuecomment-557672174

[2020-02-01 19:04] Dito-Orkodashvili commented on #17353
In my case this problem is caused by Tooltip component. It is a bit strange issue.

if I use it like this:
`const ActionButton = ({ tooltip }) => (
  <Tooltip title={tooltip} >
    <Button />
  </Tooltip>
)`

it adds padding-right to the body (17px), but if I remove Tooltip from inside the ActionButton component and wrap it from outside like this:
`<Tooltip title={tooltip}>
    <ActionButton />
 <

[2020-02-01 19:46] srghma opened #19512 "[TypographyProps] add "component" property to typescript types"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

TypographyProps doesnt have component prop

## Expected Behavior 🤔

TypographyProps should have component prop

## Steps to Reproduce 🕹

Steps:

1.

[code]

does not compile

[code]

[2020-02-01 19:47] srghma commented on #19512
https://github.com/mui-org/material-ui/pull/19510

[2020-02-01 19:49] DanielFerrariR opened #19513 "Jest snapshot serializer"
So far, i didnt found any solution to expose material ui classes like jest-emotion and jest-styled-components do.

Example:
I'm using material-ui/system solution for padding and margin in almost all my components,  but would be nice if I could see the difference in the snapshots. So far, if I add a padding to a Box, the class stay the same and the test passes and thats no helpful at all.

Using: m

[2020-02-01 19:49] eps1lon commented on #19512
Please fill out [the template](https://github.com/mui-org/material-ui/blob/master/.github/ISSUE_TEMPLATE/1.bug.md).

[2020-02-01 19:55] oliviertassinari commented on #19513
@DanielFerrariR We have no plan to work on this. Please move the concern to react-jss. The plan is to expose an unstyled core with a default styled-component adapter and optional emotion or jss integration.

[2020-02-01 19:58] srghma commented on #19512
I found, there is no issue on Material-UI side

[2020-02-01 20:29] joshwooding commented on #19117
@TommyJackson85 As far as I’m aware nothing has been done yet so give it a go :)

[2020-02-02 02:17] DanielFerrariR commented on #19513
Thanks. If I may ask, isn't there any workaround so far, to properly test mui components with jest snapshots?

[2020-02-02 09:22] oliviertassinari commented on #19513
Yes, you can find that in an older issue.

[2020-02-02 09:27] #15878 closed

[2020-02-02 09:40] #19104 closed

[2020-02-02 11:19] eps1lon commented on #19513
Duplicate of #14357 and #9492

[2020-02-02 11:19] #19513 closed

[2020-02-02 11:29] bartlomiejzuber commented on #19506
As far as I know, mui says that everything below 2nd level deep is consider as private and you shouldn't use it. Instead I would recommend to use some alternative like:
https://www.npmjs.com/package/color or https://github.com/gka/chroma.js/

ex.
[code]

[2020-02-02 11:30] srghma commented on #19512
@eps1lon how can I reopen this issue, I have updated the description, it's material-ui issue

[2020-02-02 11:32] srghma commented on #19512
so, `component: React.ElementType` should be added either:
- to `TypographyProps`
- or to `OverrideProps` (because `OverridableComponent` does that, because maybe not only `TypographyProps` have this bug)

what is better?

[2020-02-02 13:16] bartlomiejzuber commented on #19048
related: https://github.com/cssinjs/aphrodite-jss/issues/14 https://github.com/cssinjs/jss/issues/491

[2020-02-02 13:54] benneq commented on #19036
Still exists in version 4.9.0 and 4.9.1 - updated the title

[2020-02-02 14:40] larsivi opened #19536 "Component prop rejects my component in TypeScript"
I am using the Collapse component in a TypeScript project.
I am trying to set a custom trigger component for the Collapse component, using the component prop. This works if the component is a dumb one, but not if it requires props. I want a collapse trigger that is dynamically generated such that it can show a summary of the collapsed contents.

- [X] The issue is present in the latest release.
-

[2020-02-02 16:04] mbrevda commented on #19274
It would seem as if the selected item in the dropdown list stays selected so that the next time the list is shown the same item is still selected. Is there a way to clear that too? (this is visible on the component demo page: https://material-ui.com/components/autocomplete/)

[2020-02-02 16:14] ilantuqqi opened #19537 "Clicking on IconButton changes Backdrop color"
I have a special design for a dialog which includes the dialog itself and a floating side menu next to it(Not a regular menu that blocks actions until closed). I was able to achieve it using the Backdrop component, but when I use an icon with IconButton wrapper around it, everytime I click the icon, it changes the background color of the backdrop due to the touch ripples(and I want to keep the rip

[2020-02-02 16:42] TommyJackson85 commented on #19117
Ok I will try.

[2020-02-02 17:38] danielo515 commented on #19506
That is the thing. Why should I add 16 extra KB to an already big bundle for something that is built into the library that I'm already using?

[2020-02-02 21:04] kHRISl33t commented on #13762
Same here. The sandbox test no longer works.

[2020-02-02 21:25] #19374 closed

[2020-02-02 21:33] joshwooding commented on #13762
@rodriguise @kHRISl33t Fixed.

[2020-02-02 21:38] kHRISl33t commented on #13762
@joshwooding Thanks for the quick fix! You are awesome! :)

[2020-02-02 22:16] joshwooding commented on #19537
I can't reproduce this. Not sure what I'm doing differently.

[2020-02-02 22:42] oliviertassinari commented on #19537
I can't reproduce either.

[2020-02-02 22:43] mbrahimi617 commented on #18434
Is there any update on the progress of this component?

[2020-02-02 22:49] joshwooding commented on #19454
To touch on this, children already register with context but to populate their children they use React.Children. You could potentially use context fully but you would have to create a provider per item with children and I'm unsure about the performance issues that might cause.

[2020-02-02 23:41] oliviertassinari commented on #18434
@mbrahimi617 We don't plan to support the rendering of more than 100,000 points, however, we will likely include the option to handle it server-side, with the enterprise version.

[2020-02-02 23:47] oliviertassinari commented on #19454
@joshwooding What would prevent to remove the children's introspection of the TreeView?

[2020-02-03 01:23] mayteio commented on #19284
I second this, also requested in #17010. Is there anything I can help out with in regards to this? Has been an issue since August 2019.

[2020-02-03 06:02] tiuweehan commented on #19413
Hi, I would like to look into this issue if possible.

[2020-02-03 07:30] mehdiparastar commented on #3973
add this:
<Autocomplete
   style={{ width: '100%' }}
/>

[2020-02-03 07:57] AntoineKleinmannIbiza commented on #13875
I have the same error with TypeScript:

When I look into my node_modules, the types don't reflect the annonced updates regarding the new color variants.

Does anyone know if this will be fixed soon / how to work around failing tests regarding the color prop?

[2020-02-03 08:02] ziedHamdi commented on #1375
The link is broken

[2020-02-03 08:15] ilantuqqi commented on #19537
Are you using Windows os? I use Mac and I was able to reproduce it on my team members computers, but when I tested it on one of our windows servers, it didn't reproduce...

[2020-02-03 08:16] joshwooding commented on #19537
@ilantuqqi I was, I’ll try reproduce on a Mac when I can

[2020-02-03 08:25] joshwooding commented on #19413
@tiuweehan Due to the “good to take” label I would say it’s available and feel free to investigate it.

[2020-02-03 08:33] joshwooding commented on #19454
@oliviertassinari For now adding defensive logic should provide an easy fix. I’m going to do some investigation on using multiple contexts instead but it doesn’t feel like an amazing avenue to me.

[2020-02-03 09:18] oliviertassinari commented on #19454
I'm not sure to follow. If the introspection of the children required, would a defensive logic hide the problem, without solving it? By hide, I meant, it will be harder for user to figure out what's wrong with their code. By note solving, I meant, the component won't behave as expected.

[2020-02-03 09:45] kodermax opened #19541 "Bug with props for styled components"
This code has stopped working since 4.9.0
I use nextjs + typescript.
[code]

https://github.com/mui-org/material-ui/blob/4a96d14dfbb0054775e914d5151ae28c0fbcc262/packages/material-ui-styles/src/styled/styled.d.ts#L15

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.9.1  |

[2020-02-03 11:07] dheerajmpai opened #19543 "Appbar position='sticky' does not work under Hidden component CSS implementation"
First of all I need my Appbar to be sticky. Hence I am using `position='sticky'` prop for the Appbar. It works well when I use it stand alone. But when I use it as a child of Hidden Component with CSS implementation the Appbar is no longer sticky.

- [x] The issue is present in the latest release.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository

[2020-02-03 11:09] UltimateForm commented on #19498
@oliviertassinari I don't think it's an issue with react since it's only happening with the Avatar component

https://codesandbox.io/s/flamboyant-frog-yf49e <- if you keep refreshing you can see here that img's onError callback is **always called** while Avatar's onError callback is just **called sometimes**, it could be intentional... which would be weird...

[2020-02-03 11:16] UltimateForm commented on #19498
also, @oliviertassinari , I just implemented the solution you suggested and it's not quite optimal since it hides the letter on the avatar if both images throw an error

according to [documentation](https://material-ui.com/components/avatars/) if I provide children the Avatar will not fallback to the "the first letter of the alt text"

(also there's a typo in there ahah)

I feel like the ideal sol

[2020-02-03 11:17] #19543 closed

[2020-02-03 11:19] oliviertassinari commented on #19498
@UltimateForm Cool, so we are good?

Feel free to send a pull request to solve the typo :).

[2020-02-03 11:26] UltimateForm commented on #19498
@oliviertassinari  again it's still not as optimal because I still want the letter fallback if both images fail, but for now I can just do this:
[code]

(and i've done the PR)

[2020-02-03 11:32] oliviertassinari commented on #19498
I don't understand

[2020-02-03 12:09] eps1lon commented on #19541
@kodermax  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) _may_ be a good starting point. Thank you!

[2020-02-03 12:12] oliviertassinari commented on #19541
With #6115, I would propose we ignore the problem.

[2020-02-03 12:21] Misiu commented on #13623
@oliviertassinari the issue still exists.
Open sandbox with slider demos (https://5r8pi.csb.app/) and run audit in google chrome.
You will get this:
![image](https://user-images.githubusercontent.com/1741838/73652739-d9649b80-4687-11ea-988e-dcc5dbeeaf4f.png)

[2020-02-03 12:40] oliviertassinari commented on #13623
@Misiu The blocker:
https://github.com/mui-org/material-ui/blob/5d1bab67f60567259f5bc6617e438a2da0ff44df/packages/material-ui/src/Slider/Slider.js#L606

[2020-02-03 12:43] #19391 closed

[2020-02-03 12:48] kodermax commented on #19541
![image](https://user-images.githubusercontent.com/590985/73654359-8c3ef480-469c-11ea-9e83-f824c668d73b.png)

https://codesandbox.io/s/material-demo-xor6d

Do you have plans for migration to styled-components?

[2020-02-03 12:55] balazsorban44 commented on #19481
ping @oliviertassinari

Do you have any recommendation? I am also open to other ways of implementing this, if that is easier/possible.

When the user hovers over a heading, an icon/# shows up so they can click on it and share the URL.
It works fine if it is not implemented in a `ExpansionPanel`, but since the `ExpansionPanel` already has an uncontrolled click handler, it triggers (thus toggling th

[2020-02-03 12:59] vicentelyrio commented on #14971
@ErwanDL For me a cast worked:

[code]

[2020-02-03 13:04] eps1lon commented on #19541
@kodermax You should add explicit types to your style callback. We can't support the `any` in `styled(props: any)` since this would slow down type checking.

[2020-02-03 13:04] #19541 closed

[2020-02-03 13:17] Misiu commented on #13623
@oliviertassinari so we must wait for Safari support? maybe leave passive only for Safari (is that possible?)
As a workaround, I switched to [rc-slider](https://github.com/react-component/slider) but I'd like to get back to MUI

[2020-02-03 13:29] kodermax commented on #19541
I understand, but i think that the line has an error.
https://github.com/mui-org/material-ui/blob/4a96d14dfbb0054775e914d5151ae28c0fbcc262/packages/material-ui-styles/src/styled/styled.d.ts#L15

TS2339: Property 'transparent' does not exist on type '{}'.

There  should be like this ```Props extends {} = T```

[2020-02-03 13:46] xseignard opened #19546 "Remove FormControlLabel forwarded props"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Hello, thanks for this amazing lib!
It seems there's no `readOnly` prop on a `FormControlLabel`

## Examples 🌈

https://codesandbox.io/s/cold-water-zhuk7?fontsize=14&hidenavigation=1&theme=dark

## Motivation 🔦

I see there is a `disabled` pr

[2020-02-03 14:06] eawtf commented on #18784
@oliviertassinari `reason` is ok, but input value is changed automatically.
How to prevent this?

`selectNewValue` calls `resetInputValue` and it's automatically change input's value `setInputValue(newInputValue);`

What if I don't want to do that?
There is no any any flag to prevent that and control input by yourself.

[2020-02-03 14:06] oliviertassinari commented on #13623
@Misiu If you don't need to support iOS, sure, it's great 👌

![rc-slider](https://user-images.githubusercontent.com/3165635/73658415-9230d780-4694-11ea-8285-10936effa3e9.gif)

In this context, I would propose that we take a step toward "touch-action:  none":
[code]

[2020-02-03 14:07] oliviertassinari commented on #13623
@Misiu feel free to work on it :)

[2020-02-03 14:17] oliviertassinari commented on #18784
@eawtf Control the component, ignore the reset event.

[2020-02-03 14:33] Gcampes commented on #17789
Any news on this?
I have a similar issue on a ssr setup of material-ui.

As soon as the server side rendered is removed from the page I get this error, and the styling goes completely crazy.
https://material-ui.com/guides/server-rendering/

We are also using Polyfills from `core-js`

[code]

[2020-02-03 15:08] sveyret commented on #14971
Can't the evolution provided by TS 3.5 https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-5.html#smarter-union-type-checking provide a way to correct this?

[2020-02-03 15:14] ilantuqqi commented on #19537
@oliviertassinari It happens only on macOS 10.13-10.14 from what I tested on chrome 79.
On 10.15 it didn't reproduce. What version are you on?

[2020-02-03 15:15] oliviertassinari commented on #19537
Thanks for looking, I'm on macOS 10.15.2 :). Ok, no need to spend more resources on this.

[2020-02-03 15:15] #19537 closed

[2020-02-03 15:28] ilantuqqi commented on #19537
@oliviertassinari After some more experiments it turns out it's something with Samsung screens and Mac on chrome🤷‍♂(When using Safari it doesn't reproduce)

[2020-02-03 15:29] eps1lon commented on #14971
Since we rely on function overloads the feature in 3.5 does not help us. It only seems to apply to object property checking.

[2020-02-03 15:41] mbrahimi617 commented on #18434
I mean I see the data table component in development, but I was more so referring to the UI. It looks like a skeleton without following the Material Design spec yet. Also doesn't appear to include any actions for CRUD features. In my use case, if there's no inline edit then at the very least I'd like to supply actions to view row details, update them, and delete them; as well as update and delete

[2020-02-03 15:45] oliviertassinari commented on #18434
The component is still in its early days of development. We plan to include the features you have mentioned.

[2020-02-03 15:45] Blkc commented on #12704
Suggestion from @BiggA94 works, however in my case I need to add change the fontWeight to `inherit !important` to override the fontWeight from Multitypography.

[2020-02-03 15:47] mbrahimi617 commented on #18434
Oh ok, just wanted to double check. Is there a date when we can expect an initial release?

[2020-02-03 16:24] strothj commented on #6115
I'd also like to clarify that tagged template literals can also be typed. TypeScript will correctly mark them as being invalid and the language service will provide the auto complete suggestions, etc.

![image](https://user-images.githubusercontent.com/6731947/73670667-a4504d00-4677-11ea-9f74-2dd2ab35f2ee.png)

[2020-02-03 16:52] TommyJackson85 commented on #19117
I tested this on iPhone 11 regular and the bug is with this device also.
Here is the PR request which I will keep updating as I go.

[2020-02-03 17:24] strothj commented on #19461
Until that issue is resolve, you can pass along the generic parameters:

[code]

You can retrieve them by viewing the type of `LinkProps`:

[code]

[2020-02-03 18:12] amcasey commented on #19113
Hmm, that almost certainly doesn't explain why the PR improving error messages regressed performance.  Definitely looks like an improvement though. 😄

[2020-02-03 18:40] amcasey commented on #19113
Bugs for the changes regressing performance:
https://github.com/microsoft/TypeScript/issues/36562
https://github.com/microsoft/TypeScript/issues/36564
https://github.com/microsoft/TypeScript/issues/36565
https://github.com/microsoft/TypeScript/issues/36566
https://github.com/microsoft/TypeScript/issues/36567

Fair warning: some of these are likely to be determined to be worthwhile.

[2020-02-03 18:43] thexpand opened #19549 "Minimizing bundle size in CRA (Create React App)"
I'm using CRA and the icons from material-ui, so I'm using only partial (named) imports like so:
[code]

I've read the page from the documentation about [minimizing bundle size](https://material-ui.com/guides/minimizing-bundle-size), but the information there about CRA seems to be a bit old. However, I'm not sure if that's 100% true. I tried researching, but found nothing. So, my question is - usi

[2020-02-03 18:50] eps1lon commented on #19549
Which in particular?

Not that I know of. Which part of the docs lead you to believe you have to do anything? We specifically mention that right from the start:

But this requires knowledge about what bundler your framework is using. We can probably mention the specifics later (bundler) and start with saying that tree-shaking works out of the box in modern frameworks.

create-react-app is in that

[2020-02-03 21:00] thexpand commented on #19549
@eps1lon Thanks for digging deep. In order of answering:

and

The information is about installing `react-app-rewired` and `customize-cra`, which allowed customization of `.babelrc` for CRA version 2. However, IIRC from CRA version 3, you can have your own .babelrc in the root of the project. Here's the misleading information I was talking about: https://github.com/mui-org/material-ui/blame/master

[2020-02-03 21:13] oliviertassinari commented on #19549
It sounds like we should be able to improve this page of the documentation :).

[2020-02-03 22:03] gforrest-bw commented on #19454
If I read it correctly, defensive logic would just mean checking to see if the child is truthy before accessing properties of it.

[2020-02-03 22:46] joshwooding commented on #19454
Thinking about this more, context would only solve the problem of a node knowing it's parent not necessarily knowing it's position amongst it's siblings...

[2020-02-03 23:19] TommyJackson85 commented on #19546
@oliviertassinari I would like to try and fix this if it needs to be fixed. I'm learning React.js and it would be good for me to practice with, if you could guide where possible. :)

[2020-02-04 03:45] azmenak commented on #11723
Recently needed something like this at d1g1t, so we built on @ProfessorX737's ideas.

Created https://github.com/azmenak/material-ui-nested-menu-item, you can see a demo here: https://codesandbox.io/s/material-ui-nested-menu-item-example-b25j6

It uses the basic concepts from the solution above and adds a few things:
- Keyboard navigation (basic - allows going in and out of menus using left/right

[2020-02-04 05:45] jfrumar-infinitusai commented on #19423
Additionally, if you pass your Autocomplete a `defaultValue`, you will receive this warning:

<img width="1199" alt="Screen Shot 2020-02-03 at 9 44 34 PM" src="https://user-images.githubusercontent.com/53191729/73717347-65011b00-46ce-11ea-8d1f-97034d8f1c26.png">

[2020-02-04 07:22] eimanhakimy commented on #15351
hello i'm new in material ui so can someone explain to me how css work by using withStyle and what a different between withStyle and MakeStyle..

[2020-02-04 07:30] SerhiiBilyk commented on #18022
@mirismaili @oliviertassinari Can I pick it up ?

[2020-02-04 07:56] mohitiihglobal opened #19550 "[Drawer] i need width transition when the drawer is already opened"
I have a drawer containing buttons, which has buttons which opens some submenu of it,
the width of this submenu is bigger than the drawer, so i want it to be transitioned.
But when i try to "transition" it, it works for the width but at the same time it overrides the slide transition of drawer & i cant get 'slide in transition'.

below 2 objs are classes
[code]
This is the component
[code]

[2020-02-04 08:03] #19550 closed

[2020-02-04 08:57] alexmironof opened #19551 "[TextField] Improve CSS API error description"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm overriding `MuiBaseInput` with
[code]

But styles for `Mui-error` class is missing

If I use `withStyles` and `classes={{ error: classes.error }}` everything is ok.

## Expected B

[2020-02-04 09:08] #19482 closed

[2020-02-04 09:31] ahmad-reza619 commented on #19363
Hi everyone, i would like to take this one on, but is there anyone have taken this? if not i'll try Proposing PR tonight. BTW i'm a new in terms of contributing so any guidance will be appreciated

[2020-02-04 09:42] alexmironof commented on #19551
@oliviertassinari it's a bug, not a support issue or question...

[2020-02-04 09:47] sandorvasas opened #19552 "Setting default portal container"
Hi,
How is it possible to set the default portal container for MUI? I need to use the global portal, but I also need the elements to appear inside my root div, so they are still inside various `<XXProvider> ` components. We have a large app and it'd be tedious to refactor each component to use its own `<Portal>`.

[2020-02-04 09:47] eps1lon commented on #19551
The console has valueable information about the cause of this issue.

[2020-02-04 09:48] oliviertassinari commented on #19551
It seems that we could fix the CSS API description:

[code]

[2020-02-04 09:50] eps1lon commented on #19363
@ahmad-reza619 I think you're good to go since we haven't heard anything from @TommyJackson85.

https://github.com/mui-org/material-ui/blob/master/CONTRIBUTING.md should explain most of the workflow. You can still open a PR if you're stuck and need more help to get the PR in a mergable state.

[2020-02-04 09:51] oliviertassinari commented on #19552
(Yes)

[2020-02-04 09:51] jiangyh1024 opened #19553 "makestyles bug ??"
I passed props to makestyles method and used it like below
but error occurred if there is a 'position' property.
without 'position' property, all went well

![image](https://user-images.githubusercontent.com/34930870/73733359-cc72a580-4776-11ea-8452-968767f50338.png)

![image](https://user-images.githubusercontent.com/34930870/73733381-d399b380-4776-11ea-99f9-465ea3f7161b.png)

[2020-02-04 09:52] jiangyh1024 commented on #19553
![image](https://user-images.githubusercontent.com/34930870/73733524-178cb880-4777-11ea-9f29-a33b7704444e.png)

[2020-02-04 10:03] sandorvasas commented on #19552
I'm reposting this as a bug as I find there's no global portal setting for its container.

[2020-02-04 10:05] jiangyh1024 commented on #19553
this works

![image](https://user-images.githubusercontent.com/34930870/73734615-e0b7a200-4778-11ea-823f-8c06262a1971.png)

[2020-02-04 10:07] alexmironof commented on #19551
@eps1lon thanks a lot for detailed explanation!
@oliviertassinari  anyway, what is the use case for `error` here? I'm a bit confused how to recognize when should I use `$ruleName`

[2020-02-04 10:08] sandorvasas opened #19554 "Be able to set default container for all portals."
Use case: I want to be able to use the global portal in all of the components, (e.g. a Modal `disablePortal=false`), but I want the elements to appear inside the root div of the app, so they are still wrapped in the appwise `<Provider>` components (Redux, Apollo, etc).

Portal.js:32
[code]
desired:
[code]
where `getGlobalPortalContainer()` would return the React root div (or any other div).

[2020-02-04 10:26] alexpermyakov commented on #18646
Are you still working on it @SerhiiBilyk?

[2020-02-04 10:37] oliviertassinari commented on #19551
@alexmironof You can find more details in https://material-ui.com/customization/components/#pseudo-classes.

[2020-02-04 10:40] oliviertassinari commented on #19552
Right, this seems accurate. We could introduce a `getThemeProps` into the Portal component so developers can set a container prop globally with `theme.props.MuiPortal.container`.

[2020-02-04 10:42] oliviertassinari commented on #19552
I'm confused by this part. What's your use case for not using document.body as a DOM container?

[2020-02-04 10:43] #19554 closed

[2020-02-04 10:44] oliviertassinari commented on #19552
Ok, it seems to answer my previous question. So you don't need to change the container.

[2020-02-04 10:44] #19552 closed

[2020-02-04 10:45] #19382 closed

[2020-02-04 10:47] #19117 closed

[2020-02-04 11:00] alexmironof commented on #19551
@oliviertassinari thanks! got it

[2020-02-04 11:06] TommyJackson85 commented on #19363
@eps1lon I was waiting for a confirmation on if I can go ahead, like being assigned, because @MareoRaft already agreed to it a week ago. :)

@ahmad-reza619 sure go ahead if you haven't contributed yet!

[2020-02-04 11:08] TommyJackson85 commented on #19551
Let me try and do it.

[2020-02-04 12:12] ahmetcaglayan opened #19556 "materia-ui UMD externals"
I am producing a vendor from the node_modules umd file.
**/node_modules/@material-ui/core/umd/material-ui.production.min.js**
I'm doing the same in react.js
**/node_modules/react/umd/react.production.min.js',**

but I do not extract material-ui from the file size and show the umd reference. I could not find any documents and examples about it.

what I'm trying to do is:
Provide material-ui read fr

[2020-02-04 12:15] ifndefdeadmau5 opened #19557 "[Drawer] Mini variant and nested"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The mini variant drawer may have nested example, I just made it since I needed at my work and thought about publishing on the docs if you guys think it's also useful. The sandbox example is just rough sketch about implementation, will polish

[2020-02-04 12:18] oliviertassinari commented on #19556
The umd build is for protyping only.

[2020-02-04 12:18] #19556 closed

[2020-02-04 12:42] ahmetcaglayan commented on #19556
https://material-ui.com/getting-started/installation/#cdn

Can't remove the material-ui package without compiling and reference the cdn? I request in the compilation of my joint projects. They all have a material-ui package.

`const externalForMaterialUi = (context, request, callback) => {
  if (/@material-ui.+/.test(request)) {
    const name = request.replace(/^.*[\\\/]/, '')
    return callback

[2020-02-04 12:48] sabrimev commented on #19556
I am also facing the same issue. When I try to exclude all material-ui packages from my micro-frontend bundle, It cannot load from CDN. Is thre any way to do this? Actually it's been a week I am trying to exclude material packages but non of the solutions I have found on the web worked for me.

The way I exclude material-ui packages is like this;

`function externalForMaterialUi(context, request,

[2020-02-04 12:49] ahmetcaglayan commented on #19556
![D2500CEF-B274-4438-945C-306A60D7BD8D](https://user-images.githubusercontent.com/13018803/73746122-97118c00-4765-11ea-8263-d6f4e05514dc.jpeg)
![EA4F3E2C-D049-4585-9A5C-1FFC1A71B606_4_5005_c](https://user-images.githubusercontent.com/13018803/73746123-97118c00-4765-11ea-9c48-dd9053a4b3fd.jpeg)
![D18F6C13-8FA0-4F78-8116-8FDFD5A47F21_1_105_c](https://user-images.githubusercontent.com/13018803/737461

[2020-02-04 13:37] ahmetcaglayan opened #19559 "CDN Referans"
![D2500CEF-B274-4438-945C-306A60D7BD8D](https://user-images.githubusercontent.com/13018803/73746122-97118c00-4765-11ea-8263-d6f4e05514dc.jpeg)
![EA4F3E2C-D049-4585-9A5C-1FFC1A71B606_4_5005_c](https://user-images.githubusercontent.com/13018803/73746123-97118c00-4765-11ea-9c48-dd9053a4b3fd.jpeg)
![D18F6C13-8FA0-4F78-8116-8FDFD5A47F21_1_105_c](https://user-images.githubusercontent.com/13018803/737461

[2020-02-04 14:29] maurovisintin opened #19561 "Version 4.8.3 dependency problem"
Version "@material-ui/core": "4.8.3" has a dependency of "@material-ui/styles": "^4.8.2", which now goes to "@material-ui/styles": "4.9.0" which is actually incompatible with core 4.8.3.

If I specify "@material-ui/styles": "4.8.2" in my package.json, material core still looks for 4.9.0 inside a nested node_modules folder.

I suggest that the version should be locked to "@material-ui/styles": "4.8

[2020-02-04 14:33] TommyJackson85 commented on #19557
Might be nicer to have them open full with the titles on load and have different logos for each. It is nice overall :) Can I help you with it?

[2020-02-04 14:33] oliviertassinari commented on #19561
What's the incompatibility about?

[2020-02-04 14:34] oliviertassinari commented on #19553
@jiangyh1024 it seems that you have found a solution :).

[2020-02-04 14:34] #19553 closed

[2020-02-04 14:37] gilbsgilbs commented on #13101
FWIW, this solution does no longer work with MUI v4 as the `onClick` event handler was replaced with `onMouseDown`. I was able to migrate using the following approach:

[code]

I wonder if there is any plan from MUI team to make @testing-library/react the preferred way to test components over Enzyme. Currently, the latter is documented and not the former.

[2020-02-04 14:40] jiangyh1024 commented on #19553
yes but I reckon it is a bug

[2020-02-04 14:47] oliviertassinari commented on #13101
@gilbsgilbs We have started to migrate all our tests to `@testing-library` 6 months ago. If you want to help us with the outdated testing page of the documentation, continue on #17070 :).

[2020-02-04 15:27] MareoRaft commented on #19363
@ahmad-reza619 All yours.  Thanks for your help.  I'm going to stop watching this issue.

[2020-02-04 16:27] ahayes91 opened #19563 "[Select] VoiceOver & Chrome on native select is not announcing the newly chosen option when the select menu is closed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the native select and I'm closing any of the 3 dropdowns, I'm hearing the previous selection being announced rather than what's being shown currently. If I navigate away wi

[2020-02-04 16:42] kodermax commented on #19541
What do you think about that error?

[2020-02-04 16:52] orpheus opened #19564 "Snackbar not displaying in Chromev79"
I noticed in a dev environment that my snackbars weren't displaying as they should so I went to https://material-ui.com/components/snackbars/ and realized none of them were showing for me.

I tried clearing my cache, redownloading chrome (I'm using version `Version 79.0.3945.130 (Official Build) (64-bit)`) and I restarted my computer. Nothing worked.

I went into devtools and messed around and fou

[2020-02-04 17:17] oliviertassinari commented on #19564
See #19124.

[2020-02-04 17:17] #19564 closed

[2020-02-04 17:19] oliviertassinari commented on #19564
I have tried to email the maintainers of the list with no answer, if you have the time to raise the signal/noise for us, it would be great! https://github.com/mui-org/material-ui/issues/19124#issuecomment-573204071

[2020-02-04 17:44] maurovisintin commented on #19561
can't find StylesHook cause is not exported anymore

[code]
https://github.com/mui-org/material-ui/commit/784f5fc67ec8093c1b506be88a1488069de66992#diff-4393f060776d88b50985e81af6c89a86

[2020-02-04 18:02] oliviertassinari commented on #19561
@maurovisintin It sounds like your best option is either to fix the resolution of the packages or to upgrade.

[2020-02-04 18:02] #19561 closed

[2020-02-04 18:30] eps1lon commented on #19563
As usual thank you for much for the high quality issue.

Is everything working as expected with the "just" react: https://codesandbox.io/s/react-select-nce90 ?

[2020-02-04 18:32] #19363 closed

[2020-02-04 18:35] eps1lon commented on #19553
It's a common pitfall with TypeScript. We talk about this in [our TypeScript guide](https://material-ui.com/guides/typescript/#using-createstyles-to-defeat-type-widening). https://stackoverflow.com/questions/54977550/what-is-widening-of-a-function-return-type-in-typescript might also help.

The issue is already known in typescript: https://github.com/microsoft/TypeScript/issues/241

[2020-02-04 20:03] hutber commented on #18973
Do you  have a link, I'm having this issue now?

[2020-02-04 20:59] gilbsgilbs commented on #13101
Thanks for this pointer @oliviertassinari, that makes a lot of sense. I'd for sure like to help the project, but to be honest, I just discovered `@testing-library` today while digging into MUI's source code (because v4 upgrade broke some of my tests). I need to get my hands in it first.

Still trust me, it'd be an absolute delight for me to remove any dependency or reference to Enzyme given the **

[2020-02-04 21:09] oliviertassinari commented on #13101
I think that it would be fair to keep a mention to enzyme. It has been a great help so far, even if we have found testing library even better. If the timing is not right, don't worry, you can take your time, we will love to see your contribution :).

[2020-02-04 21:09] oliviertassinari commented on #13101
I think that it would be fair to keep a mention to enzyme. It has been a great help so far, even if we have found testing library even better. If the timing is not right, don't worry, you can take your time, we will love to see your contribution :).

[2020-02-04 22:03] mbrookes commented on #19506
Duplicate of #13039?

[2020-02-04 22:43] dclark27 commented on #16862
I am still having an issue with this.

[2020-02-04 22:47] #19506 closed

[2020-02-04 22:49] HHammerite opened #19567 "Allow custom resolution prop to be passed to Grid"
Would it be too much to allow for a higher Grid resolution above 12? It would be nice if you could pass a resolution value as an optional prop.

For example:
`<Grid container resolution={24}>`
`     <Grid item xs={1} />`
`     <Grid item xs={3} />`
`     <Grid item xs={20} />`
`</Grid>`

There has been times where I've wanted to create quite complex UI but haven't has the resolution with the Grid

[2020-02-04 22:58] oliviertassinari commented on #19567
@HHammerite Agree, we will get it done once we have migrated to styled-components.
Duplicate of #8823.

[2020-02-04 22:58] #19567 closed

[2020-02-04 23:01] oliviertassinari commented on #8823
As soon as #6115 is resolved, we should be able to easily implement this :).

[2020-02-04 23:28] ifndefdeadmau5 commented on #19557
@TommyJackson85 Thanks! I applied your feedback, there was a toggle button but maybe it wasn't really obvious for you :) planning to send PR if maintainers also think it's necessary and it'd be a great help if you review mine!

[2020-02-04 23:53] TommyJackson85 commented on #19557
Yeah I noticed the toggle button. :) I was suggesting having it open on default, as an option. Also having it closed as an option. When opening the page I mean.

[2020-02-05 00:42] embeddedt commented on #19113
I'm quite new to the world of TypeScript, particularly when it comes to styling-in-JS solutions, but I've been quietly following this thread over the last month and I was curious to hear people's thoughts on a potential workaround, at least in the short-term.

I assume that some users (myself being one) don't make heavy use of the built-in styling system, or avoid it entirely. I do that mainly bec

[2020-02-05 00:51] pula2000 opened #19568 "Switch Component requires to be clicked twice in order to trigger event"
I'm using Switch component with an onChange event handler and I see that I have to click it twice in order to have an effect. Is this a bug?

[2020-02-05 02:34] armoredelephant commented on #18973
const handleUserCountOption = async (
    event: React.ChangeEvent<{ value: unknown }>
  ): Promise<void> => {
    const count = event.target.value as number;
    const formCounts = userCount.slice(0, count);

[2020-02-05 03:47] btmorex opened #19569 "React strict mode breaks SSR of useStyles(props)"
I'm getting class name mismatches between client and server. This bug seems to require all the following:

- React strict mode (calls functional components with hooks twice in preparation for async mode, see https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects)
- NODE_ENV=development (strict mode only calls twice in development)
- a component using useStyles(props), i.e. rel

[2020-02-05 08:18] eps1lon commented on #19569
Duplicate of #18018

[2020-02-05 08:18] #19569 closed

[2020-02-05 08:20] eps1lon commented on #19568
@pula2000 Please fill out the [issue template](https://raw.githubusercontent.com/mui-org/material-ui/master/.github/ISSUE_TEMPLATE/1.bug.md). It should've been in the textarea before submitting the issue.

[2020-02-05 09:35] ahayes91 commented on #19563
Just tested https://codesandbox.io/s/react-select-nce90, thanks for setting that up - the same issue is not present there.

1. Turn on VoiceOver and open https://material-ui.com/components/selects/#native-select in Chrome.
2. Tab navigate to the Age select example.
3. "Age, collapsed, button" will be announced.
4. Press Space, "menu 4 items tick" will be announced.
5. Arrow key down to "Ten" and p

[2020-02-05 10:05] rostislavbobo opened #19571 "[SwitchBase] readOnly doesn't work as per doc"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Setting `readOnly` prop on [Checkbox][Radio][Switch] doesn't work as per [doc](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/internal/SwitchBase.js#L214)

[2020-02-05 10:19] #19551 closed

[2020-02-05 10:46] TommyJackson85 commented on #19557
If you send a PR, I will try and help you with it.

[2020-02-05 10:49] TommyJackson85 commented on #19571
This is a duplicate found here: https://github.com/mui-org/material-ui/issues/19546

[2020-02-05 11:02] ahayes91 commented on #19218
Just double-checking - I tested this example with NVDA and FireFox and I'm not seeing the same issue that I see on https://material-ui.com/components/selects/#select.
Tab navigating to the example in https://codesandbox.io/s/nvda-browse-mode-listbox-nzukw will automatically fire the noise that indicates you have entered focus mode, and then the arrow keys can be used to navigate through the option

[2020-02-05 11:21] rostislav-bobrovsky-zefr commented on #19571
@TommyJackson85 , I found this bug while fixing another in the [SwithBase] component and it's not about [FormControlLabel], which doesn't pass the `readOnly` prop to its `control`. It's about an old issue with `readOnly` for checkboxes, radios, and switches themselves.
BTW, I'm good with the solution in the https://github.com/mui-org/material-ui/issues/19546, which does what we expect from it, but

[2020-02-05 11:26] TommyJackson85 commented on #19571
ok, well I am working on the other issue anyway. Would you think the methods to fix each are simular. Is there anything that needs to be blocked from a readOnly prop? Maybe handleChange?

[2020-02-05 11:39] eps1lon commented on #19218
That's what the rest of the paragraph is for. Focus mode is working as expected. For browse mode we need to find a fix.

[2020-02-05 11:50] rostislav-bobrovsky-zefr commented on #19571
The issue is in the way browsers treat `<input type="checkbox|radio" readonly>`—they just don't handle this case allowing users to change checkboxes and radios.

Taking that into consideration, I'm curios whether we need to support `readonly` the way we prevent changing [SwitchBase] components. If so, the implementation is tricky a bit, because at least we'll need to
* override the provided `onCha

[2020-02-05 12:09] rostislav-bobrovsky-zefr commented on #19571
What i'm getting at is that if it's a know browser issue and we don't want to fix it here, we'll need to do our best to pass the `readonly` down to the native `<input>` element anyway so that users are able to fix it on their side the way they prefer.

From that I wanna ask the crew whether we'd like to add the `readOnly` prop to [FormControl], so the `readOnly` is passed by [FormControlContext] t

[2020-02-05 12:48] tomgazit commented on #17368
Hi everyone,

What solved the issue for me was to wrap the tooltip's child with a <div> element.

Cheers

[2020-02-05 12:51] pastushenkoy commented on #16954
I have another case when this issue occurs. When you have an item with empty value `<MenuItem value=""><em>None</em></MenuItem>` select is displayed with crossed label even if label had been set everywhere.

[2020-02-05 13:15] oliviertassinari commented on #16954
Please open an issue if you can reproduce this bug with the latest version.

[2020-02-05 13:25] aleccaputo opened #19572 "Export useful developer Typescript types"
- [x ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Ran into an issue where i wanted to use the type `ThemeStyle` (h1, body2, etc) from `createTypography.d.ts` to type a prop on a wrapper i made so i didn't have to re-type the long union type in my own project.
Upgraded to the latest version o