[2020-07-06 12:04] vdjurdjevic commented on #21641
Do you mean for demonstration purposes? To show that it works, I can make codesandbox, but for people to use it, it has to be in some package. It's not just few lines of integration, I must create two react components for div and Textarea containers, and hook for using scroll instance for programmatic scrolling. Also, global styles must be implemented with '@global'.

[2020-07-06 13:54] rhuanbarreto opened #21693 "[Autocomplete] Standard for Select options with different values"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Many times, the values sent to the input are different from the label displayed on the option. Today, there are some props in the Autocomplete that brings the possibility to have a custom object like:

[code]

But if Material UI can define a standard for r

[2020-07-06 14:28] oliviertassinari commented on #21693
@rhuanbarreto Thanks for opening this issue. Yeah, I think that I could get behind supporting this change. It seems that the most common use case is to provide an object for the options, e.g. `<option value="1">Blue</option>`. So why not start from the same structure react-select's users are already familiar with? This will help people move between the two components.

I propose:

[code]

[2020-07-06 14:35] oliviertassinari commented on #21641
@vdjurdjevic I mean for people that will land on this issue in the future. Also, if you feel that it would be better put into a published package, feel free to link your shot at the problem, we would be happy to reference it :)

[2020-07-06 15:13] devevignesh commented on #10382
@oliviertassinari I would like to custom styling react-big-calendar. Should I create a sass file to override default variables? Could you please suggest me the right way. Thanks

[2020-07-06 15:18] oliviertassinari opened #23526 "[TimePicker] Should prevent scroll container"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui-pickers/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The clock moves when the screen height is small

## Expected Behavior 🤔

We shouldn't be able to scroll the container.

## Steps to Reproduce 🕹

1. Open https://next.material-

[2020-07-06 15:31] #21658 closed

[2020-07-06 16:00] tomas-c opened #21694 "[Dialog] Releasing body scrollbar closes the dialog"
Dialogs with `scroll="body"` prop get closed when users press and release on the body scrollbar.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹

https://codesandbox.io/s/scrollbody-dialog-is-closed-when-scrollbar-is-used-ljyxb?f

[2020-07-06 16:30] StreetProgrammer commented on #3896
/public/index.html
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
  <style>
    html,
    body,
    * {
      font-family: 'Cairo', sans-serif !important;
    }
  </style>
worked for me :)

[2020-07-06 17:09] zelbov commented on #18789
In `.vscode/settings.json`:

`"typescript.validate.enable": false`

But if you use built-in TS compiler, you should have it isolated from IDE.

Thats how i returned blazing fast performance. Nothing else works like this...

[2020-07-06 17:20] vdjurdjevic commented on #21641
Do you mind if I call it mui-scrollable? Sims like a logical choice since it is coupled to material UI styling solution.

[2020-07-06 18:16] szefoski commented on #2076
@acjimeneza
Hi!

That works, thanks!

[2020-07-07 01:58] nikhil-shrestha opened #21696 "Textfield not working when Drawer(with overlay) is open"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

i have added a search bar with autocomplete feature. but its not working when drawer is tablet/mobile (smaller) devices
![image](https://user-images.githubusercontent.com/17779457/866

[2020-07-07 02:24] Codetalker777 opened #21697 "[GridListTile] cellheight and spacing not working when it is imported from another file"
When creating a GridListTile Component on a separate file, setting cellheight or spacing does not work.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
It does not follow `CellHeight `or `spacing `set in the `GridList`

## Expected

[2020-07-07 03:08] rhuanbarreto commented on #21693
Great! I think this change will be a big selling point for moving from react select to material UI!

Just one point: The interface object is missing the value key.

[2020-07-07 06:10] vdjurdjevic commented on #21641
Here it is :) Initial version is published: https://www.npmjs.com/package/@vdjurdjevic/mui-scrollable Feel free to check it out :)

[2020-07-07 06:58] neverbe10 commented on #19546
any update on this?

[2020-07-07 07:51] oliviertassinari commented on #21693
Why is it missing a second property?

[2020-07-07 08:00] oliviertassinari commented on #21696
This is expected, you force the app bar to display over the Modal. You can either display the app bar below the Modal or disable the Modal or disable the trap focus.

[2020-07-07 08:00] #21696 closed

[2020-07-07 08:10] rhuanbarreto commented on #21693
It should be
[code]
You need to have something to separate the value from the label, like in react-select:
[code]

[2020-07-07 08:12] oliviertassinari commented on #21693
We have no use case for the `value` key, we only leverage `label` in the component.

[2020-07-07 08:17] rhuanbarreto commented on #21693
Yes. That's why I'm proposing this! The majority of the selects won't have the value exactly the same as the label.

[2020-07-07 08:20] rhuanbarreto commented on #21693
In addition, selects with labels as values are good for NoSQL implementations. But for relational databases, almost always the value is different from the name.

[2020-07-07 09:13] Anugraha123 commented on #18901
Thanks @kevin-lindsay-1

[2020-07-07 09:15] Seasle opened #21699 "Input onChange equals onInput"
If we used `onChange` or `onInput` event, then `input` event firing for a both.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`onChange` and `onInput` events is equals.

## Expected Behavior 🤔

`onChange` will fired if value cha

[2020-07-07 09:21] eps1lon commented on #21699
Thanks for the detailed issue report.

What do you mean by this?

Could you check out how a standard `<input />` behaves in React? I recall React using the underlying `input` event for  `onChange`.

[2020-07-07 09:50] Seasle commented on #21699
[Yep](https://codesandbox.io/s/pensive-cache-ewx0g), you are right. Need write our own implementation of this behavior. Already found issues on this subject in the react repository. Excuse for troubling.

[2020-07-07 09:50] #21699 closed

[2020-07-07 10:01] KATT commented on #7466
_Seems_ to work for me to omit the `margin 0 !important`

[code]

[2020-07-07 10:19] WillSquire opened #21700 "[Avatar] Set background colour for AvatarGroup's borders"
## Summary 💡
Avatar group uses the background colour set for the app for the Avatar borders, but doesn't pick up on the background colour of the div it's within.

[code]

## Examples 🌈
Solution could be to either have a property to set the border colour:

[code]

or to wrap each one in a div that inherits the background colour from a parent. Giving a more hands-off approach.

## Motivation 🔦
Used

[2020-07-07 12:51] #17321 closed

[2020-07-07 14:35] nickpalmer opened #21701 "Cannot snapshot test TablePagintation in @material-ui/core@4.11.0"
When testing a component using TablePagination we are unable to use snapshot tests because of the use of unstable_useId in that component.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Snapshot testing with a TablePagination.js

[2020-07-07 14:41] nickpalmer commented on #21701
As a workaround for the moment I am doing something like:
[code]

[2020-07-07 14:55] nickpalmer commented on #21293
Sorry I missed this issue in my search. Thanks for pointing it out.

@eps1lon Snapshot testing is very useful against the law of unintended consequences. We use it to catch unexpected impacts on higher level components when low level components change how they render.

As a workaround I am using this:
[code]

[2020-07-07 15:01] RobelTekle commented on #21650
Tried to downgrade to 4.9.10 I still have the error

[2020-07-07 15:01] nickpalmer commented on #21293
@epeicher In terms of resolving the problem permanently, why not allow the passing of an id generator function, like you do for class names? In our tests we use a test specific generateClassName to get stable class names across tests. Why not have the StylesProvider have a generateId function that we can also use to give stable IDs in tests?

[2020-07-07 15:02] oren-l opened #21704 "[Docs] https://material-ui.com/components/expansion-panels/ redirects to /components/accordion/"
- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Context 🔦

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Material-UI | v4.?.?

[2020-07-07 15:03] oliviertassinari commented on #21704
I have got the same confusion feedback from @DDDDDanica, @mnajdova maybe we should remove this link?

[2020-07-07 15:04] eps1lon commented on #21699
To expand on it: I believe React's stance is that they don't make any guarantees about the type of `.nativeEvent` in their synthetic event. I'm not sure if this is officially documented but I recall statements from core members and know of at least one event where the underlying `nativeEvent` is changed in React's `master` branch (compared to 16.13).

[2020-07-07 15:17] oliviertassinari commented on #21700
@WillSquire I have noticed that facebook.com uses a clip logic to solve this problem. However, I'm not sure about the added complexity. I don't see any clear solution out of this. The `backgroundColor` color sounds like an interesting tradeoff.

I have also noticed that the box model is wrong. We should change it:

[code]

[2020-07-07 15:42] oliviertassinari commented on #19546
What do you guys think of removing these props?

[code]

it seems that applying them on the control prop would be better.

[2020-07-07 16:01] oliviertassinari commented on #21697
@Codetalker777 You need to spread all the props in this case:

[code]

We use the `React.cloneElement` API to inject custom styles, I'm not aware of a better alternative.

[2020-07-07 16:01] #21697 closed

[2020-07-07 16:01] oliviertassinari commented on #21697
Related to #12921

[2020-07-07 17:40] akharkhonov opened #21705 "Add Paste icon"
Add Paste Icon

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Examples 🌈
https://material.io/resources/icons/?icon=content_paste&style=baseline

[2020-07-07 18:00] KaRkY commented on #21704
Instead of redirecting maybe put Deprication Warning with link to Acordion on Expnsion Panel page.

[2020-07-07 18:05] oliviertassinari commented on #21705
Already available on v5 https://next.material-ui.com/components/material-icons/

[2020-07-07 18:05] #21705 closed

[2020-07-07 20:06] ZetaLily commented on #16047
@anuja8275 I solved my issue that could be your issue by changing my filename from .ts to .tsx and by importing React.

[2020-07-07 20:19] eps1lon commented on #21293
Because this requires work for a feature that is harmful to our development effort. Matching the DOM structure is not something we consider a public API. What is important is that you customize certain styles, or that the accessibility tree looks the same etc.

I don't know what you mean with "law of unintended consequences.". I only know that the particular shape of the DOM tree is not something

[2020-07-07 20:39] pablof300 opened #21706 "[Select] onClose triggering before onChange in Select"
onChange event is getting fired after onClose event. This is a problem if we want to use state dependent on logic from onChange on the onClose callback.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

onClose triggers before onCha

[2020-07-07 20:54] pzduniak commented on #21293
Well, the deterministic DOM output from that component broke after a patch release :)

I don't think that anyone is asking for the guarantee of having the exact same DOM output across patch releases. We simply want a specific commit of our code to always output the DOM tree deterministically given specific input.

Seriously? The issue doesn't affect the end user, the issue affects the workflow of

[2020-07-07 21:29] oliviertassinari commented on #21293
To put things in perspective, we have had 3 users request "test - stable snapshot" during our last survey https://material-ui.com/blog/2020-developer-survey-results/.

[2020-07-07 21:41] luminaxster opened #21707 "Color palette changes: What default meant or means?"
After the breaking changes notes in v5 about color props for Button, with "default" has been removed, was "inherit" the default behavior? perhaps I missed or forgot the rationale. Now I'm worried about its meaning and consistency with other components' color prop: AppBar, Fab, Typography. among others. Will they follow the same change? It feels natural for them to follow it as well.

As a side not

[2020-07-07 23:26] jpcmf commented on #19245
Any fix?

[2020-07-07 23:43] neverbe10 commented on #19546
@oliviertassinari I'm hoping you can add a `readOnly` props for `FromControlLabel`

[2020-07-08 02:52] crimson-med commented on #17000
Any updates on this visually it would be so amazing!

[2020-07-08 04:02] eaotnc commented on #3896
It's work !!  Thank you.

[2020-07-08 08:15] #21562 closed

[2020-07-08 08:17] eps1lon commented on #21293
I absolutely agree which is why we're not working on this issue. If you can come up with a solution that  doesn't affect prod bundle size and doesn't make the code unreadable I'm happy to review a PR.

[2020-07-08 08:34] NaamanTsur opened #21708 "[Tabs] Add option to disable tab indicator transition"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add a `disableTransition` prop for the `Tabs` component to disable the transition animation of the tab indicator.
## Examples 🌈

## Motivation 🔦
Currently to disable the tab indicator transition effect you need to override the indicator css w

[2020-07-08 08:59] #21293 closed

[2020-07-08 09:01] pzduniak commented on #21293
I'm OK with that as a solution if it actually works. Thanks.

śr., 8 lip 2020 o 10:59 Sebastian Silbermann <notifications@github.com>
napisał(a):

--
Piotr Zduniak
https://zduniak.net

[2020-07-08 10:27] oliviertassinari commented on #21708
You can simply apply the following CSS:

[code]

https://codesandbox.io/s/material-demo-lbi2b?file=/demo.tsx

[2020-07-08 10:27] #21708 closed

[2020-07-08 10:28] cjoecker opened #21709 "Cannot override lab components"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Cannot override the lab themes as described [in the documentation](https://material-ui.com/components/about-the-lab/).

## Steps to Reproduce 🕹

1. Open [Sandbox](https://codesandbox.

[2020-07-08 10:35] oliviertassinari commented on #21709
It looks like codesandbox doesn't support this import syntax yet: https://codesandbox.io/s/mui-bug-overrides-rftbg?file=/demo.tsx.

[2020-07-08 10:37] oliviertassinari commented on #21704
I'm closing, let's see if this problem is raised more often.

[2020-07-08 10:37] #21704 closed

[2020-07-08 10:40] oliviertassinari commented on #21537
@ahayes91 Let us know if you can reproduce with a ChromeBook, ChromeVox is no longer relevant (no more support)

[2020-07-08 10:40] #21537 closed

[2020-07-08 10:42] oliviertassinari commented on #21694
cc @eps1lon

One possible approach that come to mind: https://github.com/mui-org/material-ui/blob/8dfa880d1d5b19db7187953437f59d6e127158e5/packages/material-ui/src/ClickAwayListener/ClickAwayListener.js#L13-L18

[2020-07-08 10:48] WillSquire commented on #21700
@oliviertassinari Thanks for getting back so fast. I'm racking my brains for a hands-off solution, but I think that could be clean for now. Would you like me to have a try with a pull request?

Also noticed `border` takes away from the avatar's default size (`40px` to `36px`), but wasn't sure if this was by design? I bumped it to `44px` and gave it a negative margin to make it flush with default `

[2020-07-08 10:52] NielsDom commented on #5636
UP please add lazy feature, very important.

[2020-07-08 10:55] rhuanbarreto commented on #21693
In the case you showed, you need to have another key in the object in order to have a separate value from the label.

The structure I proposed is the same as react-select's

[2020-07-08 10:55] oliviertassinari commented on #21700
I don't see any great solution for this:

- inline-style: violate strict CSP
- style function: too slow
- SVG clip: feels over-engineered, hard to customize the shape
- a custom class name: current tradeoff
- else?

Yeah, let's go with this.

[2020-07-08 10:56] oliviertassinari commented on #5636
@NielsDom Please see #21250

[2020-07-08 11:01] cjoecker commented on #21709
I use Webstorm and it also doesn't support it 😕

[2020-07-08 11:03] oliviertassinari commented on #21709
In this case, I propose we change it for

[code]

Do you want to work on it? :)

[2020-07-08 11:06] oliviertassinari commented on #21706
@pablof300 Why does the order matter? Why should it be changed?

[2020-07-08 11:07] cjoecker commented on #21709
Sure, I can do it.

When I have `import '@material-ui/lab/themeAugmentation';` should it allows me already to override the lab themes?
Or do I need to correct something on the types from Material-UI?

[2020-07-08 11:13] eps1lon commented on #21706
Could you include codesandbox illustrating that order? I tend to agree that `onChange` should be fired before `onClose`. It's somewhat related to input -> commit order for `<input>`. Though it's probably also interesting to see if `click` fires before or after `change` in a native `<select>`.

[2020-07-08 11:15] NielsDom commented on #5636
@oliviertassinari  thanks ok. About lazy load you can add this package inside each tab: https://www.npmjs.com/package/react-lazyload. It does the job

[2020-07-08 11:20] oliviertassinari commented on #21693
Ok, we can stick to

[code]

in this case. There is no need for another key, until we change the native form validation implementation.

[2020-07-08 12:30] oliviertassinari commented on #19546
@neverbe10 The plan is to remove the above prop. What's wrong with applying the `readOnly` prop to the control element directly?

[code]

[2020-07-08 12:42] oliviertassinari commented on #21707
The default behavior was "default" 😆. See #13028 for the broader picture.

[2020-07-08 12:42] #21707 closed

[2020-07-08 12:48] oliviertassinari commented on #19571
Duplicate of #17043

[2020-07-08 12:48] #19571 closed

[2020-07-08 12:56] oliviertassinari commented on #17043
The behavior of our component looks identical to a native `<input readOnly type="checkbox" />` element. The state can change but not the underlying value set in a POST request. I could find this related question: https://stackoverflow.com/questions/155291/can-html-checkboxes-be-set-to-readonly with ~100k views/year.

Can somebody explain the use case for using read-only on a checkbox or radio? I f

[2020-07-08 12:59] bkiac opened #21711 "Container component does not accept React.ReactNode typed children"
The Container component does not allow `null` or `undefined` as children since v4.10.2.

My component:
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Does not allow `null` or `undefined` children with this error message:
[

[2020-07-08 13:16] heidi-jungel opened #21712 "[ListItem] Using button prop forces an invalid nesting of list items"
When using the <ListItem> component passing a prop, it produces invalid nesting as it converts this from an `<li>` to a `<div>` with a button role.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

This causes a lot of problems for

[2020-07-08 13:34] pablof300 commented on #17339
@oliviertassinari I am having this same issue with a `<Popper>` component in a test using material-core v4.9.13. I check `process.env.NODE_ENV` during the test and it is 'test', wondering when this was added, on what version?

[2020-07-08 14:11] oliviertassinari commented on #21711
Do you have a live reproduction with v5.0.0-alpha.2?

[2020-07-08 14:15] oliviertassinari commented on #21711
Actually, it's probably coming from https://github.com/mui-org/material-ui/blob/d1287f1874dffeade600364b36727fa7878e9a75/packages/material-ui/src/Container/Container.d.ts#L6. Do we need force a children prop?

[2020-07-08 14:18] eps1lon commented on #21711
We always warned at runtime if nullable children were passed: https://github.com/mui-org/material-ui/pull/14499

[2020-07-08 14:25] eljenso commented on #21704
Please change the documentation such that it represents the current _stable_ version of `@material-ui`.

I was just looking into the `Accordion` component and was wondering why `@material-ui/core` does not provide such an export.
Looked at the docs again, and did not see anything wrong with the import.

Had to look into this repository to find out that the component is called `ExpansionPanel` in t

[2020-07-08 14:30] oliviertassinari commented on #21711
It seems we have been progressively easing this constraint. Do you want to keep it? I don't mind either way.

[2020-07-08 14:37] oliviertassinari commented on #21704
@eljenso Update to the latest minor release, you will find the component. Make sure the documentation version you browse is close to the version installed.

[2020-07-08 14:59] eljenso commented on #21704
@oliviertassinari Thank you for the hint.

I was only looking at [CHANGELOG.md](https://github.com/mui-org/material-ui/blob/next/CHANGELOG.md) and did see any changes to `ExpansionPanel` outside of v5.
But finally found the [release notes of 4.11](https://github.com/mui-org/material-ui/releases/tag/v4.11.0) which state what you said.

[2020-07-08 15:04] xanderoku opened #21715 "[Switch] wrong custom ripple color"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Documentation has example of custom switches. The first one is purple. If you hover over thumb and look closer the ripple effect color isn't based on purple, but on default secondary

[2020-07-08 15:04] oliviertassinari commented on #21588
The related issue on Chrome side was closed:

[2020-07-08 15:04] #21588 closed

[2020-07-08 15:36] waynegrigsby opened #21716 "[Autocomplete] Label Designs"
I'm attempting to add some custom styles to the Autocomplete component but can't seem to change the label at all. I feel like I'm missing something. It seems to be different than the standard `<TextField />` component.  Apologies if this has been addressed somewhere, I haven't been able to find a solution.

**Below is what I would normally do with a TextField component. This doesn't work with Auto

[2020-07-08 16:04] estepanek commented on #5242
Can someone please tell me if it was ever decided to add the Disable Minutes capability?

[2020-07-08 16:14] toakleaf opened #21718 "Table stickyHeader not working within TableContainer"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently, when wrapping a table in a TableContainer component to allow it to scroll horizontally (or setting any direct parent to scrollX: "auto") the stickyHeader prop on the table

[2020-07-08 17:25] chrishoermann commented on #17000
Did you try the wrapper component I posted above? Just import it and wrap the components you want to show in a masonry with it.

[code]

if you need different breakpoints adjust the `breakpointCols` values to your needs. The numbers just indicate how many columns you want to show at each breakpoint.

[2020-07-08 17:28] majelbstoat commented on #17000
can confirm that the wrapper component above works incredibly well!

[2020-07-08 19:37] oliviertassinari commented on #21712
Duplicate #13597

[2020-07-08 19:37] #21712 closed

[2020-07-08 19:38] oliviertassinari commented on #21712
I think that we should move forward with the proposal of @eps1lon in https://github.com/mui-org/material-ui/issues/13597#issuecomment-642518895

[2020-07-08 19:44] oliviertassinari commented on #21718
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-08 20:09] oliviertassinari commented on #21453
@dtassone Thanks for sharing your exploration, once we settle on one approach we can update all the components.

Here is a proposal:

- We aim to leverage component composition as much as possible, we try to keep a direct mapping: one DOM node <=> one React component. However, it's not always practical.
- We reproduce the class name schema for simplicity.
- A `component` prop to match the `classNa

[2020-07-08 20:20] haysclark commented on #6115
I'm trying to migrate from Material-UI's `makeStyles()` to React-JSS `createUseStyles()` and I am curious how to tackle themes legacy themes that use optional 'Breakpoints'? I did a Google search and found [react-jss-grid](https://github.com/TriPSs/react-jss-grid); however, I wanted to ask if there are any recommended libraries or migration paths that align with Material-UI's roadmap and future pl

[2020-07-08 20:29] yordis commented on #21453
I definitely support moving to this:

[code]

Matches `classes` and it is easier to understand what the new `slots` scoped prop is used for across Mui. That being said, I much rather use a function that returns the component. That will allow me to create static components, and deal with variable hoisting in the factory function rather than in the components.

[2020-07-08 21:07] ryancogswell commented on #21453
@yordis Could you provide an example to demonstrate the benefit of a function here rather than just `React.ElementType`? It isn't clear to me how you would picture this working or what the benefit is, and it seems more complicated to use.

[2020-07-08 21:39] Prabhakar-17 opened #21721 "ValueLabelComponent not working in Vertical Slider"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The thumb component is broken and the value label sticks at the top.

## Expected Behavior 🤔
Thumb should be visible and clickable.
Value label should follow the thumb click/slide.

##

[2020-07-08 22:04] yordis commented on #21453
@ryancogswell hey there, let me know if the following example makes sense.

I think your example is valid, but there are some caveats to it since that example is for trivial cases, sometimes you will need to remap or access hoisted values so you can't simply do that.

Thinking out loud, the differences between a Function and React Component is technically none for the end-users, except for Mui int

[2020-07-08 22:18] zerubeus commented on #16272
Any chance to enhance the type of value here something else other than unknown? FormControlLabelProps.value?: unknown

[2020-07-08 22:50] joshwooding commented on #21709
Hmm, Webstorm 2020.1 should allow type only imports:

We're going to provide auto-import facility with proper support for type-only imports in 2020.1
Currently the EAP program for 2020.1 is running. This means that as soon as this ticket is marked as "Fixed", in about a week there will be a build available that contains the fix.
But this task is still in progress. Upvote to track the updates.
http

[2020-07-08 22:56] ryancogswell commented on #21453
@yordis It seems that the main problem you are trying to solve (or at least a different way to frame the problem) is how to pass additional props to your custom component. One way this has been solved in Material-UI is a corresponding `XXXProps` prop.

For instance, `Modal` (in Olivier's intial comment) has a `BackdropProps` prop in addition to a `BackdropComponent` prop. With the new structure, i

[2020-07-08 23:17] kgregory opened #21722 "[ListItem] Secondary action is positioned with gutter when gutters are disabled"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a `ListItemSecondaryAction` is presented in a `ListItem` that has gutters disabled, the secondary action is positioned with an assumed right gutter.

![image](https://user-images

[2020-07-08 23:17] kgregory commented on #21722
If you think this is worth pursuing, I'd be happy to submit a PR.

Thanks!

[2020-07-08 23:23] joshwooding commented on #21716
In the future please provide a minimal reproducible example, something like a codesandbox demo will do.

The inputRoot class gets applied to the InputBase (the div wrapping the input). The label is outside this div hence the CSS isn't applied. There are multiple ways you can achieve this: you can apply the inputRoot class to the autocomplete root or directly to the rendered input using className.

[2020-07-08 23:23] #21716 closed

[2020-07-08 23:34] joshwooding commented on #21715
Nice spot, yeah looks like this will be docs only change. It will make the demo slightly more complicated but I think that's fine.

[2020-07-08 23:55] joshwooding commented on #21721
You need to match the API of the ValueLabel component and render children.

There's an example in the [customized sliders section](https://material-ui.com/components/slider/#customized-sliders)
GitHub source: https://github.com/mui-org/material-ui/blob/master/docs/src/pages/components/slider/CustomizedSlider.js#L17

[2020-07-08 23:55] #21721 closed

[2020-07-08 23:56] joshwooding commented on #21721
@oliviertassinari Do you think we need to add more docs for this?

[2020-07-08 23:59] waynegrigsby commented on #21716
Apologies, I'll make sure to add a codesandbox next time. Thank you for your response!

[2020-07-09 00:32] oliviertassinari commented on #21721
@joshwooding At least, we plan to refactor this part in #17905

[2020-07-09 02:06] KevinDanikowski commented on #3289
I've been successful with using a timeout hook, so the initial render isn't bad. This combined with `React.memo()` will make your lists bearable, the only slow thing now is taking them off the DOM in an Accordian for example.

[code]

[2020-07-09 02:15] yordis commented on #21453
[code]

That example is exactly what I am trying to prevent since I been there. This is why either to use a factory function which I personally prefer or a dynamic component in the scope. I have been bitten by that example multiple times and the problems that bring in the future.

#### Reasons

1. It definitely increases the error-prune by mismatching
2. Computations are wasted in cases where the

[2020-07-09 02:55] duvet86 opened #21723 "[Accordion] Add new classes key"
When I try to customize the classes of a transition component in a Material UI Accordion typescript complains about the missing classes property.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Typescript complains when I try to cu

[2020-07-09 05:58] ukris commented on #21650
I've created a Github repo based on your code sandbox.
https://github.com/ukris/material-ui-theme-overrides

master corresponds to material-UI - 4.9.11
and branches 4.11.0 and 5.0.0.alpha2 respectively.

for some reason in your case, all version works with the changes

There is one caveat:
 // @ts-ignore
  const root:CSSProperties = theme.overrides?.MuiCard?.root

if // @ts-ignore is unacceptable,

[2020-07-09 06:02] cjoecker commented on #21709
Just downloaded the latest version of typescript and Webstorm but it isn't working...

![2](https://user-images.githubusercontent.com/46030630/87002723-8785eb80-c1ba-11ea-9a69-cf8fce38b747.png)
![1](https://user-images.githubusercontent.com/46030630/87002724-881e8200-c1ba-11ea-9e77-b4f0e8bc4e97.png)

[2020-07-09 06:20] cjoecker commented on #21709
Just updated to the latest version of Webstorm and Typescript

`import '@material-ui/lab/themeAugmentation';` is working
`import type '@material-ui/lab/themeAugmentation';` is not working

I will then create a pull request for the docs

[2020-07-09 06:39] lisa-tw commented on #11723
What I noticed is that when there are multiple `MenuItem` elements nested within a `NestedMenuItem` tag and when the browser window is small enough so that there is an overflow, a scrollbar appears but it can not be used. When trying to hover over it to drag it, the menu closes.

[2020-07-09 08:19] mehrdad-shokri commented on #17043
@oliviertassinari for cases where a form is not in edit mode and view mode all fields are expected to be visible(not disabled) and be readOnly.

[2020-07-09 08:22] oliviertassinari commented on #17043
Why is the disabled state not the correct answer?

[2020-07-09 08:56] paradoxxxzero opened #21725 "GridListTile fit function raises Cannot read property 'offsetWidth' of null if the image has been detached from DOM"
I'm using a `GridListTile` inside a `GridList` and I keep getting this error when redisplaying my grid with other images:

[code]
due to `parentElement` of `imgEl` being null since the image has already been detached from the DOM:

https://github.com/mui-org/material-ui/blob/ae27276980fd6f6950fc7d7ce7e19ab7215b03eb/packages/material-ui/src/GridListTile/GridListTile.js#L37-L53

- [x] The issue is p

[2020-07-09 08:59] eps1lon commented on #21723
That's a tricky issue since they depend on the used `TransitionComponent`. The good news is that for your particular use case `<Accordion TransitionProps={{ className: classes.transitionContainer }} />` should work as well and will work if you change the `TransitionComponent`.

[2020-07-09 09:14] duvet86 commented on #21723
Hi,
I'm not trying to add a new class but I want to customize the existing ones.
It works fine but typescript complains about the missing property.

I just realized I forgot to include the code sandbox example.

`<Accordion
      {...rest}
      classes={{
        root: classes.root,
        expanded: classes.expanded
      }}
      TransitionProps={
        {
          classes: {
            cont

[2020-07-09 09:25] oliviertassinari commented on #21723
On a side note, it seems that we could leverage these to items:

1. We rename Collapse `container` key `root` to follow the convention
2. We add a class name on the Accordion to target the element with the role region

[2020-07-09 09:29] oliviertassinari commented on #21725
@paradoxxxzero Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-09 09:39] oliviertassinari commented on #21722
@kgregory It sounds like a valid concern, I think that a pull request would make sense here :). Note that we plan to break down the component in #13597. Regarding the implementation, we would use the context to forward the `disableGutters` state from the `ListItem` to the `ListItemSecondaryAction` component?

[2020-07-09 09:39] duvet86 commented on #21723
Let me know if I can help.

[2020-07-09 09:40] eps1lon commented on #21723
My suggestion was equivalent until you mentioned that you also wanted to change other classes.

Could you include a full codesandbox to understand what you're trying to do?

[2020-07-09 09:42] oliviertassinari commented on #21711
Linking https://github.com/mui-org/material-ui/pull/21368#discussion_r442640637 as we had a similar discussion started there

[2020-07-09 09:49] kgregory commented on #21722
That makes sense.  Okay, I'll get something together today.  Thanks for taking a look.

[2020-07-09 09:51] oliviertassinari commented on #21715
@xanderoku Thanks for the report. Do you want to work on a pull request? :) It seems that this diff would be enough

[code]

[2020-07-09 10:01] krislao commented on #5634
@JeremyGrieshop 2 years after, thank you! 💯

[2020-07-09 10:10] neverbe10 commented on #19546
@oliviertassinari  There is no readOnly props on `<Radio>`

[2020-07-09 10:40] oliviertassinari commented on #21453
@yordis To take your example, it would look like this, with the first proposal. We would use the context.

[code]

It comes with two drawbacks compared to the `XxxProps` props: 1. It forces you to import the correct element for the slot, you have to find it (can probably be solved with great conventions and documentation), 2. It's more boilerplate.

### A **second** possible proposal

We introduce

[2020-07-09 10:56] paradoxxxzero commented on #21725
Yeah sorry about that, this is in fact not that easy to reproduce on a quick exemple.

The closest I got from my initial case is this: https://codesandbox.io/s/purple-wind-2km50?file=/src/App.js but for the life of me I can't reproduce the error, the only notable differences are my app is far bigger (can create race conditions) and the setTimeout/setState are in fact redux dispatch/useSelector.

[2020-07-09 11:08] mehrdad-shokri commented on #17043
because seeing the result in that state is not so convenient, I think seeing in readOnly is more readable(At least my opinion)

[2020-07-09 11:10] dmtrKovalenko commented on #21453
My personal opinion:

## How to store the props?

Here we have only 2 possible options: **flat** vs **deep**. I believe that `flat` option is more useful because it is
- Easier to document
- Easier to find with a pure editor (e.g. when you need to override `label` you can only type the `label` and will get `renderLabel` in the editor result
- Easier to manage, because we have fewer rules on the co

[2020-07-09 11:24] hiahmedhameed opened #21727 "Style Autocomplete component with `styled-components`"
I'm trying to use `Autocomplete` with `styled-components` in typescript environment. But when using the component, linter start to complain about styled autocomplete component. I checked for this issue but not sure if it is duplicate. Could not find something related?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues

[2020-07-09 12:13] evzzz opened #21728 "Breadcrumbs maxItems not work"
Breadcrumbs maxItem different values show only 2 items

[2020-07-09 12:34] paradoxxxzero commented on #21725
Okay I got it to reproduce, sadly only when doing bad things with ids: https://codesandbox.io/s/purple-wind-2km50
I still think that it might happen otherwise as the imgEl onLoad event can be triggered after imgEl unmount.

What happens in my case is:
- Render of the GridListTile parent with an image as children
- Render of GridListTile with the image as children (imgEl.current is null)
- GridList

[2020-07-09 14:15] gustav1105 commented on #15502
Is there anyway to remove the underline from a textfield without the browser error using material ui 4.9 ?
React does not recognize the `disableUnderline` prop on a DOM element.

[2020-07-09 14:31] puema commented on #15614
Any updates here? It is super annoying to have passed custom props to the underlying dom element. For more complex styling the `styled` API is then pretty unusable.

[2020-07-09 15:06] yordis commented on #21453
Reading your examples and opinions, and based on my experience, I definitely will stick to factory/render function to tackle this problem.

Something else we could do is to adopt some practices from the Vue community if I am not mistaken they use factory/render functions to tackle this issue.

I like that they use `slots` (close to what the HTML spec suppose to do) and the naming is normally a nou

[2020-07-09 15:12] oliviertassinari commented on #19149
This comment https://github.com/facebook/react/issues/17894#issuecomment-656094405 suggest that the observed
bug here will be fixed in React 17.

[2020-07-09 15:19] oliviertassinari commented on #15502
Not that `disableUnderline` is only supported by the filled and standard text fields. It's not supported by the outlined variant.

[2020-07-09 15:35] nikossoftwaredev commented on #18898
Use disableScrollLock prop and  with Styles
root: {
    position: 'absolute !important',
  },

[2020-07-09 15:37] oliviertassinari commented on #21453
### flat vs deep

@dmtrKovalenko While I think that we should encourage flatten props as much as possible for the reasons mentioned in https://github.com/mui-org/material-ui/issues/21453#issuecomment-656065074. (@dtassone Yes, I very much have the DataGrid API in mind [the options could be flattened](https://github.com/mui-org/material-ui-x/blob/c2ecb891ce80fa88ed5f5c6ea247633c45ac9673/packages/gr

[2020-07-09 15:39] oliviertassinari commented on #18898
I can't find the direct duplicate, let's keep it open so we don't forget.

[2020-07-09 15:42] oliviertassinari commented on #21728
The issue has been closed because it does not conform to our issue requirements.
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-09 15:42] #21728 closed

[2020-07-09 15:45] oliviertassinari commented on #21727
This makes me think of #19842. Do you have a reproduction?

[2020-07-09 15:54] oliviertassinari commented on #21725
@paradoxxxzero Awesome perfect for the reproduction. So, the load event can fire while the `<img>` element is no longer in the DOM.

What about this diff?

[code]

Do you want to work on a pull request?

[2020-07-09 16:46] kgregory commented on #21722
@oliviertassinari thanks for the suggestion.  Submitted!

[2020-07-09 18:16] rrundle opened #21733 "Grid breakpoint props throw warning on container"
Grid container component issues runtime console warnings when certain props are used.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If I use breakpoint props (`xs`, `md`, etc) on a grid component while `container={true}`, Materi

[2020-07-09 18:31] oliviertassinari commented on #21733
The answer should be in the warning

[2020-07-09 18:31] #21733 closed

[2020-07-09 18:46] Lori-Becker commented on #2992
For some reason, Storybook didn't seem to think cols worked, but using the sandbox above proves that cols is picked up by the generated <textarea> element. Thanks Olivier!

[2020-07-09 18:57] okdistribute commented on #20959
@oliviertassinari that fixed my problem -- we had package-locked an older version of material-ui/core. Thanks!

[2020-07-09 19:06] samuk190 opened #21734 "Change color in props (Circular Progress Bar)"
[code]
It would be nice if you could change color  inside "color" prop instead of just passing Primary and Secondary

[2020-07-09 19:13] #21734 closed

[2020-07-09 19:15] oliviertassinari commented on #21734
Duplicate of #13875

[2020-07-09 20:26] JitendraBhamidipati opened #21735 "[TimeLine] Center the TimeLineContent to occupy less vertical space"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
When the TimeLineContent contains more text it is occupying more space. For TimeLine align(right and left) its okay. But for 'alternate' we can make the content to be at center so that it wont be occupying more  vertical space.

[Sandbox URL](

[2020-07-09 22:05] mbrookes commented on #6115
@haysclark Please use StackOverflow for support questions rather than tacking them on an RFC.

[2020-07-09 22:23] #21715 closed

[2020-07-09 23:17] okdistribute opened #21736 "CSS broken when using a theme with .PrivateTabIndicator-root-1"
We were using @material-ui/core 4.4.x, and we updated to 4.11

I had to add the following custom rules outside the theme (which worked fine in 4.4.x, and otherwise the theme seems to still work well for other components). #ff9933 is my secondary color in the theme (e.g., `theme.palette.secondary.main`)

[code]

I looked for 'breaking changes' in the changelog and in the open/closed issues related

[2020-07-09 23:41] #21736 closed

[2020-07-09 23:41] oliviertassinari commented on #21736
`.PrivateTabIndicator-root-1` is a private class name, don't use it! use `.MuiTab-indicator` instead. Also, you need the specificity bump (&) inject the CSS in the correct order instead.

[2020-07-09 23:44] HurricaneInteractive commented on #21622
I created a [Codesandbox](https://codesandbox.io/s/determined-tereshkova-96wu0?file=/src/App.tsx) with the issue described above. Tried both the `makeStyles` and `styled()` approach, and it does seem like as soon as you try and access the value under `[theme.breakpoints.down('sm')` the styling doesn't update.

[2020-07-09 23:46] EdmundsEcho opened #21737 "TextField looses focus when event "onChange" is triggered"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When I type into a TextField with an "onChange" function, I loose focus with every key press.

## Expected Behavior 🤔
...maintain focus despite the "onChange" validations.

## Steps to

[2020-07-09 23:48] joshwooding commented on #21735
You can already do this thanks to @mnajdova's great work: https://codesandbox.io/s/staging-sun-lttwr

It would be nice to showcase this either in a new demo or maybe editing the current one. cc @oliviertassinari

[2020-07-09 23:50] joshwooding commented on #21737
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-09 23:52] oliviertassinari commented on #21735
@joshwooding Yeah, I think that updating the current demo would be great. I would also like to remove the Paper from the demo, the shadows quickly become ugly when overused. I would also rename the demo to `## Complexe timeline`, it's still Material Design, default look.

For a new demo, I think that a new customization demo would be better.

[2020-07-10 00:51] LincMitch opened #21738 "Discord?"
On Spectrum it now says "Material-UI has a new home. This community is no longer on Spectrum"

Are you now on Discord and can I get an invite? I'm on FramerX Discord but some question is more Material-UI.framerfx related. Like right now I'm trying to extend the Typography component by wrapping it and it's clashing with the Framer/MatUI package.

As I use Material UI daily, I think the only way for

[2020-07-10 01:15] manualva7 commented on #7466
It's baffles me this ui framework has so many bugs. Your <div style={{ padding: 20 }}> wrapped around container grid workaround works. But it's not a solution.

Grid should belong ANYWHERE. Bootstrap allows it everywhere without issues. They even have offsets to deal with these margin bugs.

Is this ever going to get fixed?

[2020-07-10 01:17] manualva7 commented on #7466
The problem with this is that you can still scroll. overflow-x: hidden is not a good solution

[2020-07-10 01:27] manualva7 commented on #7466
This is forcibly modifying the structure of the whole framework and is not recommended. You might fix it on one place, break it on another.

[2020-07-10 01:43] dvzrd commented on #13875
Do you mean something like a `makePalette` hook?

[2020-07-10 04:16] gustav1105 commented on #15502
"@material-ui/core": "^4.9.14",
"react": "^16.13.1",

The component in question is a filled Textfield.
`<TextField
                  onClick={() => set(true)}
                  inputProps={{
                    disableUnderline:true
                  }}
                  variant="filled"
                  color="primary"
                  value={'value'} />`

-> React does not recognise the disabl

[2020-07-10 07:55] dtassone commented on #21453
Thanks @oliviertassinari :)

I think both ways are very discussable
if we go deep we have clean and tidy props such as, `options`, `events` `components`...
However, properties like `loading` which just turn the loading overlay for the grid, or `disabled` don't really belong in options. I mean they could be there. But I find it unpractical to put them in a nested object.
Could we go for an hybrid a

[2020-07-10 08:08] mageprincess commented on #21735
PR incoming if no one is working on this :)

[2020-07-10 09:12] paradoxxxzero commented on #21725
The patch fixes it nicely.

If you think this needs a PR I could make one but feel free to commit the diff directly.

[2020-07-10 09:54] oliviertassinari commented on #21725
@paradoxxxzero Thanks for the confirmation of the fix. Yes, if you could send a pull request to the `next` branch, it will be perfect. The codesandbox was instrumental.

[2020-07-10 10:07] oliviertassinari commented on #15502
`InputProps ` !== `inputProps `

[2020-07-10 10:10] oliviertassinari commented on #21738
The community is now on StackOverflow

[2020-07-10 10:10] #21738 closed

[2020-07-10 10:18] oliviertassinari commented on #7466
@manualva7 https://material-ui.com/components/grid/#negative-margin

[2020-07-10 10:20] scscgit opened #21740 "[Icon] Hide name placeholder while "Material Icons" font is loading"
As a current behavior, when you use something like `<Icon>lock</Icon>` and refresh a page, it's up to luck if the browser currently has the `https://fonts.googleapis.com/icon?family=Material+Icons` font cached or not (if you set your developer tools to clear cache on refresh, which may be often needed for development purposes, you may see this artifact occur every single time). This can cause some

[2020-07-10 10:24] LincMitch commented on #21738
Unfortunately, not as I've been blocked due to spelling, or not articulating as a serious developer would. It all seems very formal and I have dyslexia (Like most designers) so makes it harder.
As Material UI is now in Framer X, maybe it could be more friendly and supportive for designers that are trying their best to navigate a very technical landscape.

[2020-07-10 10:28] vince1995 commented on #18514
If anybody is struggling with this around, try combining this:

And this:

[2020-07-10 10:31] LincMitch commented on #21738
Is there a way to create the equivalent of a slack channel on StackOverflow? Then I can pop all my FramerX questions in there
so as not to annoy hardcore devs.

[2020-07-10 10:35] oliviertassinari commented on #21738
@LincMitch Interesting point. The reason we close the Gitter channel, closed Spectrum, and never tried Discord, Slack is that from our experience, the incentive for the community to get there is to find help. This use case is better served on StackOverflow for a couple of reasons: 1. concentration of effort on a single place 2. has been doing that for a decade, 4. with proper incentive systems, 5.

[2020-07-10 10:59] LincMitch commented on #21738
Understood. Was worth a shot.

[2020-07-10 11:04] gustav1105 commented on #15502
Both are accepted and does different things?
<TextField
                  onClick={() => setOpenReclaimedDatePicker(true)}
                  inputProps={{
                    className: classes.styledInputField, //changes are different
                  }}
                  InputProps={{
                    disableUnderline: true,
                    className: classes.styledInputField, //changes

[2020-07-10 11:10] oliviertassinari commented on #21738
Also, the Framer kit isn't comprehensive. If we do dedicate time into a fully fledged version, it would probably be paid to make it sustainable, in which case, the support you are looking for would come with it. But it's not on our agenda, yet?

[2020-07-10 11:11] oliviertassinari commented on #15502
See #11377

[2020-07-10 11:53] RahulShahUI opened #21742 "Accessibility Issue: Focus going outside the dialog while pressing tabs multiple time"
once the Dialog opens and we press tab it's moving to targeted elements but once it's reaching on the last element of the dialog then the focus will go outside the dialog.

in the below image, once the focus comes at the "agree" button and I will press tab then the focus will be lost. in an actual way, it should come to the first element which dialog box is having.

![image](https://user-images.gi

[2020-07-10 12:00] oliviertassinari commented on #21742
Duplicate of #19651

[2020-07-10 12:00] #21742 closed

[2020-07-10 12:00] oliviertassinari commented on #21742
Note that the focus moves to the root element of the dialog, it doesn't go outside of it.

[2020-07-10 12:03] RahulShahUI commented on #21742
@oliviertassinari thanks for your reply.

is there any option avialable to keep focus in dialog box only.

ex. after pressing the tab on the "agree" button it will move to the "disagree" button rather than going to the root element.

[2020-07-10 12:10] oliviertassinari commented on #21742
Subscribe to the duplicated issue, this behavior will come once we close it. @PaulSavignano might bring in a fix.

[2020-07-10 13:57] MSBilgin opened #21743 "Tab Component Shouldnt Be Complicated Like This"
Hi,

I want to use Tab component looked docs but its really weird because simple thing was designed too complicated looks like over-engineered.  Here is sample from react Semantic-UI: [https://react.semantic-ui.com/modules/tab/#types-basic](https://react.semantic-ui.com/modules/tab/#types-basic) .  It is very clear and easy to use but otherwise MaterialUI Tabs are awful.

[2020-07-10 14:19] Floriferous opened #21744 "[Accordion] className merge issue with IconButtonProps"
The expandIcon does not rotate anymore if you set the className in `IconButtonProps`.

Here's the very simple reproduction: https://codesandbox.io/s/cold-bush-ov1n4

[2020-07-10 14:51] yashas123 commented on #17000
No updates here?

[2020-07-10 15:36] JitendraBhamidipati commented on #21735
Oh..just in one night. Awesome thanks for such quick responses. Just a small thing I just gone through the example and made the changes to it like removing the top connector for first node and bottom connector for last node. It was bit ugly.

`
tranparentConnector: {
    backgroundColor: "transparent"
  }`
    `    <TimelineConnector className={classes.tranparentConnector} />
`

[Updated sandbox U

[2020-07-10 15:42] nkrivous opened #21745 "CSS Media Queries don't work with Custom breakpoints"
According to the documentation, we can create custom breakpoints::

[code]
But CSS Media Queries don't understand these new values
[code]
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The following code
[code]
produces the next c

[2020-07-10 18:42] taschetto commented on #21743
I agree that Material-UI Tabs need more love. Indeed I'm avoiding to use them in order to keep my code simple.

[2020-07-10 19:02] oliviertassinari commented on #21743
This is by design. You are free to write a higher level API abstraction on top of our exposed components.
https://youtu.be/3zhNe4THPTQ

[2020-07-10 19:02] #21743 closed

[2020-07-10 19:11] LuudJanssen commented on #6140
Thanks @msimulcik!

I updated your script to include typed breakpoint strings, might someone be interested in that:

[code]

[2020-07-10 20:01] #21725 closed

[2020-07-10 20:03] #21735 closed

[2020-07-10 20:24] oliviertassinari commented on #21745
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-10 20:35] oliviertassinari commented on #21745
I confirm the issue: https://codesandbox.io/s/material-demo-416qt?file=/demo.js

[2020-07-10 20:46] oliviertassinari commented on #21745
@nkrivous What do you think of this fix? Do you want to work on a pull request? :) We would also need to add tests:

[code]

[2020-07-10 20:47] #21737 closed

[2020-07-10 20:47] #21718 closed

[2020-07-10 20:52] oliviertassinari commented on #21744
@Floriferous Thanks for the report. I can confirm. We would need to apply the same approach as in the other components. What about this diff?

[code]

[2020-07-10 20:57] oliviertassinari commented on #21727
The issue has been closed because it does not conform to our issue requirements.
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-10 21:01] oliviertassinari commented on #21711
Looking at the current usage of `NonNullable`, it seems that the direction that make sense is:

[code]

[2020-07-10 21:03] oliviertassinari commented on #21700
Adding the "good first issue" label so we fix the box-sizing: https://github.com/mui-org/material-ui/issues/21700#issuecomment-654935690.

Outside of this, I doubt we can improve the tradeoff, if not by making it easier to style the border color, which we plan in #15561.

[2020-07-10 21:51] LincMitch commented on #21738
There is a "?" at the end. Would you be asking if I would pay for it or be paid to help build it?  Would love to get involved in making this a reality. It would be an amazing and important contribution to the Framer X community and help bridge the gap between design and development.

[2020-07-10 21:51] eps1lon commented on #21711
What changed compared to the initial implementation of Container?

[2020-07-10 22:08] oliviertassinari commented on #21711
Nothing has changed in the component itself. The motivation around this move would be to consolidate around one approach, using hindsight. The usage of `.isRequired` for the children seems to be arbitrary.

- Why is it used in Container, Popper, Fab, GridList, InputAdornment?
- Why isn't it used in AppBar, Button, Breadcrumbs, ButtonGroup, Card, Dialog, Hidden, Menu, Portal, Alert, etc.

Are these

[2020-07-10 22:50] oliviertassinari commented on #21738
Actually, the answers to both of these questions are interesting. I think that we are still 6 months too early to consider it (too small of an audience yet) but there is potential.

@mbrookes One thing that could be great is to list the missing components, to get an idea of how far off we are, what we can improve.

[2020-07-10 23:16] oliviertassinari commented on #21740
@scscgit I couldn't find any complete solution, I think that you would have to resolve to one of the options highlighted in https://stackoverflow.com/questions/41710834/how-to-prevent-material-icon-text-from-showing-up-when-googles-js-fails-to-conv. Because we encourage SvgIcon, I don't think that we should do the extra mile to solve the problem.

However, there is an good opportunity with this di

[2020-07-10 23:30] oliviertassinari commented on #21723
@duvet86 Asking again. Why do you need to access these class names? I would be leaning toward saying that they shouldn't be accessed.
Also, a good workaround would be to provide your own customized `TransitionComponent`, so maybe we don't have anything to change on this end.

Regarding https://github.com/mui-org/material-ui/issues/21723#issuecomment-656017769, it seems that we could benefit from:

[2020-07-10 23:41] oliviertassinari commented on #21706
@eps1lon https://codesandbox.io/s/material-demo-wzo11?file=/demo.tsx.

https://codesandbox.io/s/material-demo-72vnd?file=/demo.tsx

On the autocomplete, we fire onChange before onClose too:

https://github.com/mui-org/material-ui/blob/6ba4519441edee1f3648ff9817b89df84f3ba826/packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js#L565-L568

[2020-07-11 02:11] duvet86 commented on #21723
This is the code sandbox:
https://codesandbox.io/s/sad-proskuriakova-j8432?file=/demo.tsx

I need to customize the classes defined in the Collapse component, since Accordion wraps it.
I need to change the height of the Collapse container, wrapper and innerWrapper as specified in CSS section of the [API Collapse component](https://material-ui.com/api/collapse/#collapse-api).
As I said it works. The

[2020-07-11 02:16] duvet86 commented on #21723
And this is the error message:

Type '{ classes: { container: string; wrapper: string; wrapperInner: string; }; }' is not assignable to type 'TransitionProps'.
  Object literal may only specify known properties, and 'classes' does not exist in type 'TransitionProps'.

[2020-07-11 02:42] duvet86 commented on #21723
What about wrapping the TransitionProps with StandardProps.

Something like StandardProps<TransitionProps, CollapseClassKey>

[2020-07-11 06:25] mnajdova opened #21749 "[RFC] Support custom variants in the theme"
- Start Date: 13/07/2020
- RFC PR: #21648
- Issue: #15573

# Summary

This RFC is proposing a solution for adding custom variants for the core components inside the theme. We already have an option for adding custom overrides inside the theme, with this RFC we want to extend it to support custom variants as well.

# Basic example

The API could look something like this:

[code]

# Motivation

From

[2020-07-11 10:09] matthewkwong2 opened #21750 "Grid List sorting animation."
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Support in and out animations while sorting the Grid List.

## Examples 🌈
http://marveltheme.com/tf/html/johny/johny-legend/index.html#
https://github.com/dantrain/react-stonecutter

## Motivation 🔦

[2020-07-11 10:26] oliviertassinari commented on #21750
Closing for #17000

[2020-07-11 10:26] #21750 closed

[2020-07-11 12:02] shamseerahammedm commented on #14260
@tralawar  Thank you !! @oliviertassinari  Can we consider a **size** option for select component ?

[2020-07-11 12:16] oliviertassinari commented on #21593
While naming is a hard problem, let's take a step back and answer this question: What does a great name accomplish? I think that the priorities and important points are:

1. **Intuitiveness**. One of the best leverage to create joy in users when using a product is to reduce, as much as possible, the friction of using it. The more intuitive the API is, the less time you would have to spend on the d

[2020-07-11 12:22] oliviertassinari commented on #14260
@shamseerahammedm the `size` can already be used with the input.

[2020-07-11 12:26] oliviertassinari commented on #21723
@duvet86 Yeah, ok, in this case, provide a new Transition component, that behaves as you expect, it, simpler.

[2020-07-11 16:32] dvh91 opened #21757 "[docs] Document how to chain in createTheme"
When using `createMuiTheme`, along with `overrides`, we lose the context of the theme we customizing.
Here's a quick codesandbox which demonstrates the issue and also the desired (optional) solution:
https://codesandbox.io/s/jolly-aryabhata-8q37p

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repo

[2020-07-11 17:09] oliviertassinari commented on #21757
I have been keeping track of this request at https://trello.com/c/frbkMsxa/2346-theme-plugin-chaining-support. We have discussed this a bit with @mnajdova last month.

The idea I had in mind was:

[code]

So we could do:

[code]

[2020-07-11 17:19] dvh91 commented on #21757
@oliviertassinari
Love it, `compose` is indeed a classic solution here!
You guys open for contributions on this issue? I can work on that

[2020-07-11 17:33] eps1lon commented on #21757
Composition is probably the better API since the pattern is pretty common in React. The proposed API makes it hard to reason about what the given `theme` is. In
[code]
I wouldn't expect that the `theme` already contains the custom `borderRadius`. Determining the right call order or in the implementation is a hard problem if we want to avoid circular dependency.

[2020-07-11 17:38] eps1lon commented on #21593
Exactly. It will always tell if something else is pending. Sometimes this will indicate loading. This makes pending the better name.

[2020-07-11 17:44] dvh91 commented on #21757
@eps1lon Honestly, I think `overrides` is a little different creature than the other options of `theme` interface. and it makes sense that it will have the context of the theme. The thing is that the theme vars and theme overrides are in the same object so it creates this logical issue.

If we staying with the current `theme` interface, I absolutely agree that composition makes a better, more flex

[2020-07-11 17:47] eps1lon commented on #21593
It is a special case of a pending transition. It is not a more general case. This is not an argument for loading.

Again, this is a fallacy. Just because we used to do something does not mean it is the right thing to do. Concurrent patterns are new and it is just wrong to compare these to past terminology that have no explainer. We just used loading if we load data. Reusing this terminology for tr

[2020-07-11 17:56] eps1lon commented on #21757
Not to me. Going with "make senses" or "common sense" is usually a fallacy because it requires some knowledge. For a new user it's unclear why some key in an object should be treated differently. Maybe it never will. Requiring that insight to make sense of an API does not make for a good API.

The example doesn't require any special API or type overloading:

Variant A
[code]

Variant B
[code]

Con

[2020-07-11 18:21] oliviertassinari commented on #21757
One thing we could do is ask the community to share their custom theme. I will start with [mine at @onepixel](https://gist.github.com/oliviertassinari/7e664a0853d96424f1b8eabd7f32e521)  and the [Material-UI's store](https://gist.github.com/oliviertassinari/d3d69dd6bdd38a68c8fbeb232c579809). Anyone else?

[2020-07-11 18:28] ryancogswell commented on #21593
@eps1lon Are you arguing for `pending` only for the prop name or do you also think the component should be called `PendingButton`? If you are fine with the component name of `LoadingButton`, why do you feel differently about the prop?

In what case is a transition pending when it isn't because something (code or data) is loading?

I disagree. I don't feel like either is broader. "pending" focuses

[2020-07-11 18:28] eps1lon commented on #21757
This is an example why `overrides` isn't special. As far as I can tell multiple keys rely on the initial theme. Converting these to callbacks might make it impossible to reason about the current value. Doing it in two steps ensure that it's easier to come back later and change values without having to worry about dependencies.

[2020-07-11 18:30] borm commented on #16907
Hey there, i need use two InputBase,
one real
second for drop-down

[2020-07-11 18:33] oliviertassinari commented on #21757
Regarding the `borderRadius` use case of @dvh91. He has a design token. I would personally encourage "Variant A" over not the callback arguments. The RFC isn't completing for such a use case.

Now, let's explore when this RFC can be interesting. For that, we can come back to my pain point at onepixel. The theme is built in two steps. We tried to stuff as many things as possible in the first `creat

[2020-07-11 18:45] dvh91 commented on #21757
I feel like the common theme creation is really composed of two steps.
One is defining the design tokens and the other is overriding the components using these tokens.

If you would ask me to challenge it, I would say I want to create a mixin based on design tokens I used along with default Mui tokens (which I don't want to rewrite in the theme creation).

In that case, I think "Variant A" makes m

[2020-07-11 18:57] oliviertassinari commented on #21593
@eps1lon Agree, the argument is that changing people's habits is hard, leveraging what they already know is less effort.

The two are close but different. **consistency !== intuitiveness**. A counterexample: we could be using "foo" for the prop on the whole codebase making it consistent, and yet, it won't make it intuitive. I think that consistency is necessary for making an API intuitive but isn'

[2020-07-11 19:01] nkrivous commented on #21745
@oliviertassinari Thanks for the fast response. I like your fix and I'm going to work on a PR. I looked at the mui code base and noticed that in some components breakpoints are hardcoded.
For example, Tooltip, Toolbar, Tabs, and many others contain the line `[theme.breakpoints.up('sm')]: {..}`
Even in your fix in the file `withWidth.js` we refer to predefined breakpoints, not the theme.

Can we so

[2020-07-11 19:04] oliviertassinari commented on #21757
True, it's possible this way. Happy to close on this if we don't find any other argument.

[2020-07-11 19:11] oliviertassinari commented on #21745
Oh right, I have overlooked this aspect. Would it work for you if you still have to include the xs, sm, md, xl, lg values?

Also, shouldn't we warn if a key is provided but not supported?

This is a different problem, I would include it as part of #6140.

[2020-07-11 19:57] nkrivous commented on #21745
As a workaround, this works. But, as a consumer of the API, I don't want to have old values if you give me the opportunity to override something.

Modern frontend developers use TypeScript, which does not allow them to pass not supported values :)

[2020-07-11 21:10] jadbox opened #21762 "Radio Buttons rendering incorrectly"
In my new nextjs project, radio buttons are rendering incorrectly on just the initial page load. Going to another page and returning will fix the problem.

On first time page load:
![](https://pbs.twimg.com/media/EcrH4CzUcAAk9Jx?format=png&name=small)

Correct layout on page return:
![](https://pbs.twimg.com/media/EcrH4CzVcAAMwKg?format=png&name=360x360)

- [x] The issue is present in the latest r

[2020-07-11 21:23] #21762 closed

[2020-07-11 21:23] oliviertassinari commented on #21762
Make sure the configuration is correct, especially that the class name generator matches between server and client side

[2020-07-11 22:09] dvh91 commented on #21757
While it’s technically possible with current api, I still think it’s better to expose the callback composition api and communicate it in the docs as it’s a better practice and not everyone would think of composition for this problem.

[2020-07-11 23:35] oliviertassinari opened #23670 "[DatePicker] Remove the dateAdapter prop"
The `dateAdapter` prop is exposed as a [sugar helper](https://github.com/mui-org/material-ui-pickers/blob/c3c423179ceae40da6f3b5212e2618af44c2b161/lib/src/_shared/withDateAdapterProp.tsx) in order to allow this diff:

[code]

As far as I can envision the requirement of developers, I can only see a marginal use case for the prop:

- 70% of the cases, you are a developer, you want to get things down

[2020-07-12 00:00] tutushtutush commented on #14427
I had to run around looking for answers, couldn't find one that I liked. I finally had an idea to combine some of the ideas suggested over this issue. Here is how I solved it for me:

using formik-material-ui
using 'touched' from Formik to check if it is an initial user interaction or not

on the Field do this:
InputLabelProps={{ shrink: !touched.password ? true : values.password }}
-----
the enti

[2020-07-12 00:13] joshwooding commented on #14420
It's interesting I've been questioning this lately (well since the new Edge has come out).

Well.. mainly brought on by the insanely invasion release (https://www.theverge.com/21310611/microsoft-edge-browser-forced-update-chromium-editorial) and when I found that IE11 doesn't support active-ariadescendant without some workarounds :( (https://github.com/mui-org/material-ui/pull/21695)

I fully unde

[2020-07-12 00:33] ryancogswell commented on #14420
@joshwooding Since my last update in February, my app's IE usage has dropped from 36% to 26%. We are also introducing new functionality in our app that leverages a library that doesn't support IE, so in a couple months we are already going to be forcing one segment of our clients (who want the new functionality) to not use IE.

Given that v5 is still several months out, I'd be comfortable with IE

[2020-07-12 00:38] oliviertassinari commented on #14420
We have decided to not support IE 11 when starting the development of the Data Grid component with @dtassone.

[2020-07-12 00:40] ivanjeremic commented on #14420
Bootstrap has dropped now support in v5 I think it is time to get rid of it in a new polished version!

[2020-07-12 03:52] duvet86 commented on #21723
Ok. So I solved it creating a custom Collapse:

const StyledCollapse = withStyles({
  container: {
    flexGrow: 1
  },
  wrapper: {
    height: "100%"
  },
  wrapperInner: {
    display: "flex"
  }
})(Collapse);

export default function MyAccordion({ children, ...rest }: AccordionProps) {
  return (
    <Accordion
      {...rest}
      TransitionComponent={props => <StyledCollapse {...props} />}

[2020-07-12 08:09] nkrivous opened #21778 "[theme] Remove hardcoded breakpoints"
There are several places in the codebase where breakpoints are hardcoded.
Since we have the ability to override breakpoints, we should not have hardcoded values in the code

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

1. PropTy

[2020-07-12 09:25] eps1lon commented on #21757
There should be a stronger case than the one in the initial description. That one can already be solved with existing API. Furthermore a new API for one of the most common methods in the package should have a stronger case in general (what is the problem currently? what solution exists currently? what are drawbacks of those? how does the new API solve it? what are drawbacks of the new API? what do

[2020-07-12 09:42] cjoecker commented on #21642
@oliviertassinari I can take this.

So, my idea would be to separate the demos in max. 4 components per demo.
I think one demo per variant will make the page too long.

What do you think @ivanjeremic and @oliviertassinari ?

[2020-07-12 10:54] oliviertassinari commented on #21642
@cjoecker I don't know about a hard limit at 4, I think that we would benefit from creating smaller chunks, especially so that people spent less time scrolling the source of the demos. Playgrounds can be interesting, but only for the bottom of the page, I think that it makes it hard to discover the content.

[2020-07-12 11:08] alexd16 commented on #21657
I have been away over the last week so I didn't have the chance to look into this any further.

I did take a look at the issue referenced by @ypresto and it seems using styled-components could improve the performance I tried to replace the Box implementation from @material-ui/core with this:

[code]

And in fact, just by replace in a couple of components and the difference in performance was very

[2020-07-12 11:35] #21722 closed

[2020-07-12 11:36] #21709 closed

[2020-07-12 12:50] oliviertassinari commented on #21778
- Did you look at how Bootstrap solve the problem?
- Have you considered implementing the alias behavior by overriding the helper? If it's good enough, we can update the documentation for it. I like the tradeoff.
- Is TypeScript typing enough to ensure valid breakpoint keys are used?

[2020-07-12 13:03] cjoecker commented on #21642
@oliviertassinari good point. I was not thinking about a hard limit. I was more thinking about a balance of not too much scrolling because of too many small demos but also not too much scrolling because the examples are too long.

I will experiment a bit...

[2020-07-12 13:17] ivanjeremic commented on #21642
I think people have no problem with scrolling, scrolling is easier than searching what belongs to the component you want in a big chunk of code example.

[2020-07-12 13:55] oliviertassinari commented on #21778
The two possible solutions I can think of:

[code]

or

[code]

[2020-07-12 13:57] oliviertassinari commented on #21706
Regarding a possible solution, it seems that

[code]

Would be enough

[2020-07-12 13:58] kelly-tock commented on #15827
[code]

we overrode color to our needs, then added things as we came across them.

[2020-07-12 14:02] oliviertassinari commented on #21757
Ok, so unless somebody wants to bring in new arguments, we are going in this direction:

[code]

I think that we should document it.

[2020-07-12 15:04] l3m commented on #21711
Apparently, this also lead to changes in docs:

https://v4-9-14.material-ui.com/api/container/  contains ```children``` , but
https://v4-10-2.material-ui.com/api/container/  (and 4.11) doesn't list it anymore.

[2020-07-12 17:07] ypresto commented on #21657
@alexd16

You can use material-ui theme in styled-components by passing mui's theme object to ThemeProvider of styled-components.
https://material-ui.com/guides/interoperability/#theme

To define theme type of styled-components in TypeScript use this:

[code]

Note: in TypeScript styled-components-based Box components will look like this:

[code]

[2020-07-12 17:26] alexd16 commented on #21657
@ypresto I think I didn't explain very well want I meant.

with mui Box I can do this:
[code]
where background.primary is resolved from the palette key on the theme object and fontSize from the typography key. As far as I can tell I cannot do that with a style-components version of a Box, or am I missing something? The code you pasted seems the same I had but with typescript typings.

Here is an e

[2020-07-12 18:13] sudarshan-mane commented on #5634
@JeremyGrieshop  please help me, I did as you said but my position after click is viewport bottom and viewport left. Please help.

[code]

[2020-07-12 19:05] sudarshan-mane commented on #12539
@duvet86  Hey HI ,Please help me My dropdown menu position is bottom right of my page instead of bottom right of menu button, can you please help and provide correct code..
`<Menu
      anchorBuyer={anchorBuyer}
      anchorOrigin={{ vertical: "top", horizontal: "right" }}
      transformOrigin={{ vertical: "top", horizontal: "right" }}
      id={menuIdBuyer}
      keepMounted
      open={isMenuBu

[2020-07-12 19:44] nkrivous commented on #21778
Good point. Thank you. I will take a look at how their sass mixins work.

I don't think that only adding an example to documentation.

A [Tabs.js](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Tabs/Tabs.js#L65) defines a CSS class
[code]
on the issue under consideration
[code]
we get the string for `.scrollButtonsDesktop`:
[code]
although we didn't want to hide the scro

[2020-07-12 20:01] oliviertassinari commented on #21778
This is another issue: #13448 if you are interested.

Interesting, consideration. I think that if the key or alias isn't present, it should raise a console.error.
The choice should be explicit to the developers.

We want to drop these helpers, at the very least replace them with hooks or maybe even better drop it #17350.

[2020-07-12 20:36] nkrivous commented on #21778
Hmm. Not exactly. I mean, if we have breakpoints starting only with `tablet`, therefore, we don’t care about the smaller size, so we don’t want to have a behavior for the size of `xs`.

Another example, the material core introduces some component `FooComponent`, which is hidden on mobile devices but shown on other screen sizes.
The implementation may be as follows:

[code]
if we define aliases for

[2020-07-12 20:57] oliviertassinari commented on #21749
@mnajdova Which started at https://github.com/mui-org/material-ui/pull/21648#discussion_r450362827. I would be leaning toward waiting for the request of this. As we are still early in the v5 alpha phase. I think that if it's important, it will come up. I also doubt that developers will need this layer of complexity.

When is this useful? It seems that when the component has a complex structure, it

[2020-07-12 21:04] oliviertassinari commented on #21778
These considerations should be handled with overrides, not the breakpoint helper.

[2020-07-12 21:29] oliviertassinari commented on #21453
I'm leaning toward the second proposal. The 3rd one seems to be a no-go regarding the readability of the source. The 1st one is quite limiting. Hence the 2nd as a tradeoff.

[2020-07-13 03:55] Depender-Sethi opened #21781 "createMuiTheme 2nd argument type"
In the documentation, it states that the 2nd argument of `createMuiTheme ` is an **array**, however, while working with it, it turns out to be an object which is merged with the final theme object.

![image](https://user-images.githubusercontent.com/32180131/87268233-8967eb80-c4e7-11ea-96fb-b1c29eac6cda.png)

![image](https://user-images.githubusercontent.com/32180131/87268771-e9ab5d00-c4e8-11ea-9

[2020-07-13 06:18] pqr opened #21782 "[SelectField] Introduce new component"
Minimum example of React Material-UI with the only TextField component imported - result bundle size is 250Kb!

https://github.com/pqr/react-mui-treeshake-does-not-work

webpack-bundle-analyzer shows everything is imported, nothing is tree shaked.

According to documentation https://material-ui.com/guides/minimizing-bundle-size/ tree-shaking should work, quote:

[code]

But as shown in this minimu

[2020-07-13 06:29] nkrivous commented on #21778
I understood your idea that behavior with partially defined aliases is not clear at first sight.
On the other hand, fully defined aliases can lead to unexpected side effects that can be determined only if you dive into the source code, or, even worse in production.

There is another suggestion not to generate code for missing breakpoints and not to have aliases at all.

Bootstrap does not work wit

[2020-07-13 06:35] dvh91 commented on #21781
Take a quick look at https://github.com/mui-org/material-ui/issues/21757, guess it's very relevant for you.

[2020-07-13 08:21] LincMitch commented on #21738
Would be great to help put that list together. Does anyone on the team use Framer X, if not, I'm happy to point out what's missing from a designers point of view.

[2020-07-13 08:43] eps1lon commented on #21782
That looks fine to me. It's more of an issue with how overloaded the `TextField` is. It currently includes the `Select` component which requires the `Popover`, `Modal`, `List` etc.

Tree-shaking is working or otherwise you'd see a lot more components. You can verify this by just importing the `Button`.

[2020-07-13 08:49] oliviertassinari commented on #21738
If you could point out what's missing, it would be awesome. No, we don't use FramerX. For now, it seems x5-10 less popular than Sketch and Figma, but that might change with the current trend :).

[2020-07-13 09:03] oliviertassinari commented on #21782
@eps1lon While we have been discussing (or even agreed) on moving the select use case outside of the TextField, with a new SelectField component. I'm not aware we have a dedicated issue for. What about we use this one for the purpose?

[2020-07-13 09:09] shreyat28 opened #21783 "Range Slider: Make the thumb snap to a value when in its vicinity"
- [ x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I want a slider with marks on fixed intervals.
One of the marks value is the desired value.
I need the thumb to be snapped to this value when it is in its vicinity.
The snap would feel similar to how the thumb ticks if step is defined, only

[2020-07-13 09:21] Depender-Sethi commented on #21781
Yes, it's good to know that the latter part of my query/ issue (suggestion) is already being discussed and taken into consideration, however, can you respond to the former part i.e I think in the documentation for `createMuiTheme` the second argument should be stated as an **object**? or not? I'm not sure, maybe I misinterpret it but `...args(Array)` is not clear. Please explain.
Thank you for you

[2020-07-13 09:25] eps1lon commented on #21782
This issue is about tree-shaking. Why is it so important to re-purpose that? What is that solving that a new issue can't?

[2020-07-13 09:36] oliviertassinari commented on #21782
@pqr wants it app to only includes the code he needs. In
![](https://github.com/pqr/react-mui-treeshake-does-not-work/blob/master/react-mui-treeshake.png) he noticed a lot of components with no clear relation to displaying an input. He went on assuming that it's because tree shaking is bring. Wrong.

So from what I understand, we are covering the same root pain point, but the interpretation of the

[2020-07-13 10:16] sakulstra commented on #21749
At the moment `component variations` are usually implemented as some sort of wrappers, which makes them self-sufficient components you can easily package & share to other projects.
They are usually either wrapped as new component `<DashedButton />` which utilizes `<Button />` under the hood, or as reexport with a new variant `<Button variant="fancy">Fancy</Button/>` like in https://github.com/mui-

[2020-07-13 10:20] toniocodo commented on #21749
👍 We are currently creating a company MUI theme and I think that approach would be very useful to us. It would avoid to have to wrap components and expose them in separate package. Styling an app would then just be matter of using the theme on MUI lib and would come with all specific variations of components.
It would also make maintenance much easier as only this theme object would have to be mai

[2020-07-13 11:40] hiahmedhameed commented on #21727
Hi @oliviertassinari
Sorry for taking long preparing sandbox sample.

TBH not sure how the types working in sandbox ? But I still believe we have kind of the same issue.

Please checkout this link:
https://codesandbox.io/s/romantic-leavitt-k39l4?file=/src/App.tsx

Hope that can help.

[2020-07-13 11:59] mnajdova commented on #21749
@sakulstra this API is not preventing you to still utilize the wrapper components if that's your preference. On the other hand, if you want to share you variants across different project, you can just share you custom theme and everything would work out of the box by using the core MUI components.

[2020-07-13 12:09] oliviertassinari commented on #21727
Thanks for the reproduction, would this help https://codesandbox.io/s/pedantic-tharp-bdwj8?file=/src/Autocomplete.tsx?

[2020-07-13 12:15] oliviertassinari commented on #21781
What about this approach for documenting the prop?

[code]

[2020-07-13 12:23] oliviertassinari commented on #21781
Otherwise, I wonder if we shouldn't move away from manually authoring these API sections to something automated. We could:

- Inline the description in the source:

[code]

- Find a way to extra the information, maybe https://typedoc.org/?
- Render it nicely, e.g.

<img width="829" alt="Capture d’écran 2020-07-13 à 14 17 01" src="https://user-images.githubusercontent.com/3165635/87303946-4bcd878

[2020-07-13 12:32] hiahmedhameed commented on #21727
That's actually a solution but dose that considered as permanent solution ?

Also why `styled-components` dose not extend the props internally ? This is odd when I have to do the extending myself right ?

What do you think ?

[2020-07-13 12:48] oliviertassinari commented on #21727
I'm not aware of a better solution, but I'm no expert on TypeScript either. The concern seems something we would at the very least to document.

[2020-07-13 13:07] oliviertassinari commented on #21783
@shreyat28 You should already be able to implement this behavior by controlling the value. https://codesandbox.io/s/material-demo-pw5l6?file=/demo.tsx

[2020-07-13 13:07] #21783 closed

[2020-07-13 13:26] shreyat28 commented on #21783
@oliviertassinari Thanks for the prompt response.
I tried the same approach, but in my case, on controlling the value, the thumb doesn't move when dragged, it only jumps from point to point  when clicked on the slider.
I get
[code]

My implementation doesnt seem to be any different from your sandbox though.
I am using   "@material-ui/core": "4.10.2"

[2020-07-13 13:28] oliviertassinari commented on #21783
@shreyat28 Do you have a reproduction?

[2020-07-13 13:40] shreyat28 commented on #21783
https://codesandbox.io/s/material-demo-0jmyl?file=/demo.tsx

[2020-07-13 13:44] oliviertassinari commented on #21783
Don't create a new component at each render https://codesandbox.io/s/material-demo-850kx?file=/demo.tsx

[2020-07-13 13:58] mmotamimi commented on #4532
I have a theory:

if you click the button after clicking on anywhere in the screen... this issue does not happen
and it mainly happens **with me** in the login screen and forms.

based on it, I think that the issue is NOT in the button ... it's in the input fields. is seems to have some sort of built-in clickAway listener that when you do your first click, it captures the click.

I'm working on fi

[2020-07-13 14:00] shreyat28 commented on #21783
didn't realise I was doing that !
Thanks @oliviertassinari 😄

[2020-07-13 14:04] raychunghk commented on #10571
Change
import MenuIcon from '@material-ui/icons/Menu';
<MenuIcon>
to:
import Menu from '@material-ui/icons/Menu';
<Menu>

[2020-07-13 14:12] taschetto commented on #21749
Months ago I would say "YES I WANT IT" but now thinking about it... Usually I when I create custom components I tend to add more than just styles. Thus I think I will not stop using that approach even with this new API. I believe we can do a good job with the current API  and the core team should focus its efforts on things that will add more value instead of another way to do something that we ca

[2020-07-13 14:43] amypellegrini commented on #4648
Sorry, but I'm trying to add this attribute to a Button component and I'm getting a TypeScript error. I checked the ButtonBase API docs but I can't find any reference to the "type" attribute:

https://material-ui.com/api/button-base/

Seems like a pretty common use case so I'd find odd if it's not supported, unless I'm missing something.

[2020-07-13 14:56] chriswetterman commented on #9492
Providing my implementation based off what has been discussed here to hopefully help others. As @oliviertassinari mentioned, you can reset the counter yourself. I have each of my mounted test components wrapped in this HOC.

[code]

[2020-07-13 15:08] oliviertassinari commented on #4648
@amypellegrini The reason type isn't documented for the ButtonBase is that we don't cover the native HTML attributes.

[2020-07-13 15:15] zoltantothseon opened #21785 "[Accordion] theme overrides not working for expanded state as expected"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The component ignores expanded style overrides.

## Expected Behavior 🤔

It should apply styles from the theme provided.

## Steps to Reproduce 🕹

https://codesandbox.io/s/reverent-le

[2020-07-13 15:17] oliviertassinari commented on #21749
@taschetto Thanks for the feedback. Do you have specific items in mind?

[2020-07-13 15:29] zoltantothseon commented on #21785
I just saw the console warning about this which tells me to define the rule like which is working fine for sure:
 `"root": {

    "&$expanded": {

      "color": "red",

      "margin": 0

    }

  }`

However it isn't straightforward from the docs and also don't get why it is like this. E.g. for inputs with multiline true it's simply `{
    MuiInput: {
        root: { ... }
        multiline: { .

[2020-07-13 15:32] nperichSYKES commented on #14420
Just another data point. My app, which has both public web B2C and enterprise B2B customers, is currently at 13% users on IE11 (more than Safari and Firefox combined). This is fairly stable. There's zero possibility we will be able to drop support in the next year. Beyond that, we shall see how effective Microsoft's update program actually is. We don't really have any leverage to force clients to

[2020-07-13 15:54] taschetto commented on #21749
Promoting lab components to core would be great.

[2020-07-13 15:59] oliviertassinari commented on #21785
See https://material-ui.com/customization/components/#pseudo-classes

[2020-07-13 15:59] #21785 closed

[2020-07-13 18:10] haysclark commented on #6115
@mbrookes Thanks for the heads-up!

[2020-07-13 19:41] FernandoGOT commented on #21749
I think that this feature is fantastic, I just suggest something like a `property` base, so we can define from which `variant` it is inheriting its base and just apply another “layer” of css. Ex:

[code]

The above example is a button with everything from the `primary` button, plus the `override/styles` that I provided for the `dashed` variant

[2020-07-13 23:17] nullberri opened #21788 "AccordianSummary does not use disabled prop directly."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When `<AccordianSummary disabled={true} />` is used the disabled prop is passed via `...other` from line 78 in [AccordionSummary](https://github.com/mui-org/material-ui/blob/master/pa

[2020-07-13 23:21] oliviertassinari commented on #21788
@nullberri You have to disable the whole Accordion, not just the summary.

[2020-07-13 23:21] #21788 closed

[2020-07-13 23:25] nullberri commented on #21788
I did switch, but it still seems like a bug that disable styles aren't passed to buttonBase when using disabled={true}.
Or disabled shouldn't be apart of the AccordionSummary props.

[2020-07-13 23:51] oliviertassinari commented on #21778
@nkrivous I don't think that this can work because we wouldn't know what to do with the media query, it can be a `up` as much as a `down`.

Thanks for the comparison with Bootstrap.

[2020-07-14 02:59] manualva7 opened #21789 "Rendering Tabs conditionally throws console warning"
I'm trying to render a set of tabs dynamically.

On create record, I have two tabs.

On edit record, I have three tabs.

On edit, I get this warning:

the value provided `x` to the Tabs component is invalid.
None of the Tabs children have this value.
You can provide one of the following values: x, x, x.

This is how I'm rendering tabs:

` <Tabs
                    textColor={'primary'}

[2020-07-14 04:08] htbkoo commented on #21649
@vuongtrancr

Hi, I think I am facing the same problem.

Just wonder if you had figured out the root cause / fix for this or if you had posted a question somewhere else (e.g. StackOverflow)?

Thank you!

[2020-07-14 05:45] tdecker91 commented on #10571
I was experiencing this issue because I was importing incorrectly. I was trying to use
[code]

But I needed to change it to
[code]

[2020-07-14 07:06] #21789 closed

[2020-07-14 07:11] eps1lon commented on #21781
I don't think it's worth exploring at the moment since we have so few cases applying. They don't change often enough so hard-coding seems like a better solution.

[2020-07-14 07:35] Acidic9 commented on #17992
Can this be done without enzyme? I am using Jest.

[2020-07-14 07:48] royliu007 commented on #5457
this is what I made in my project:
[code]

it works like using CSS but with the tooltip to show the whole text
overflow: 'hidden',
textOverflow: 'ellipsis',
whiteSpace: 'nowrap',

[2020-07-14 08:07] Acidic9 commented on #17992
I found a solution to mock the Fade component in Material UI.

[code]

[2020-07-14 08:47] oliviertassinari commented on #17992
Correct solution: https://github.com/mui-org/material-ui/issues/17119#issuecomment-524266401

[2020-07-14 08:57] oliviertassinari commented on #21649
This sounds like you didn't configure `getOptionSelected` correctly.

[2020-07-14 11:28] oliviertassinari commented on #21694
What do you guys think about this fix?

[code]

Also probably want to handle nested windows in

[code]

[2020-07-14 11:35] Kundan28 commented on #20188
Is there any update on this issue ?

[2020-07-14 11:38] oliviertassinari commented on #20188
@Kundan28 Would you like to work on it?

[2020-07-14 11:40] Kundan28 commented on #20188
Actually I don't know how to implement that.

[2020-07-14 11:46] it-efrem opened #21790 "Not true CSS-styles declaration order"
**Styles do not apply because they are in front of 'MuiButtonBase' where default styles**

![image](https://user-images.githubusercontent.com/20017668/87421308-66b8fe00-c5df-11ea-9369-c302b0d817f7.png)

**if I manually remove these styles, then the buttons will appear as expected**

![image](https://user-images.githubusercontent.com/20017668/87421646-f494e900-c5df-11ea-9fcf-f669b3e9a801.png)

**Co

[2020-07-14 11:46] #21326 closed

[2020-07-14 11:55] oliviertassinari commented on #21790
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-14 12:33] KrishnaMoorthy12 commented on #15588
We can do something like:
`
const colorScheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'; // checking if the media query is true
const theme = createMuiTheme({
  palette: {
    type: colorScheme,
  }
}
`
to achieve dark theme based on browser/system settings.

[2020-07-14 13:03] manualva7 commented on #21789
Ugh. It’s a bug, man. You can’t just cover your problems with automated responses from a bot. I’m starting to think using this framework was a mistake. Lame and mediocre.

[2020-07-14 13:41] oliviertassinari commented on #21789
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-14 15:12] cl4k opened #21793 "Table scroll to top of new page"
Hi Guys,
first of all thanks for material-UI, it's really useful!
I'm stuck on this since yesterday ...
I don't found the way to be on the top of new page when you click on next, I always stay at the bottom whatever I do.

I already check on StackOverflow and GitHub, I found this issue which seems to be close: [#9186](https://github.com/mui-org/material-ui/issues/9186)
And I can't find anything on

[2020-07-14 15:42] malipramod opened #21794 "[styles] Style is not applied to css combinators + pseudo classes with makeStyles()"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Passing props to makeStyles() doesn't work for `CSS combinators`

## Expected Behavior 🤔

Should work with `css combinators`

## Steps to Reproduce 🕹

Steps:

1. Create style props
[c

[2020-07-14 16:06] #21793 closed

[2020-07-14 16:32] bmg02 opened #21795 ""Google" and "Google Plus" icons are missing."
Hey there, I want to use the "Google" or "Google Plus" icon on the web page. But they are missing in Material UI icons. It is also not there on its official site. So, if I want to use them how can I use it?

[2020-07-14 16:37] oliviertassinari commented on #21795
The current policy around brand icons is to only include the most popular ones, especially the one required around sign-in or social networks. "Google Plus" is a dead social network, it not an option.

What's your use case for "Google"?

[2020-07-14 17:37] bmg02 commented on #21795
I want to add Google icon for giving OAuth service. To show user that they can login with their Google account.

[2020-07-14 17:41] Hopp3r commented on #14203
"Perhaps we should handle label inside Select like TextFielddoes, but i think this should be another issue/pr."
Is there a way to maintain the 'notched' style of a varaint='outlined' select?

[2020-07-14 17:56] oliviertassinari commented on #21795
@bmg02 Ok thanks. @mbrookes good enough?

[2020-07-14 19:47] amandakoster commented on #10587
@defusioner Would you be willing to show a bit more of your code? Running into the same issue.

[2020-07-14 20:26] mbrookes commented on #21795
Yep, seems reasonable.

[2020-07-14 20:59] cwagner22 opened #21797 "Box: Slow Performance"
I'm experiencing slow performance using Material UI's Box component. I have a collection of objects that I'm rendering (around 100) using multiple Box for each of them. However, it's slow and I've realized that the more I'm adding Boxes the worst it gets. Here is a [codesandbox link](https://codesandbox.io/s/usage-lbd2q?file=/index.js) to reproduce the issue.
With 200 items, just using Box takes a

[2020-07-14 22:15] defusioner commented on #10587
It’s in my previous comment. Basically you just need to keep the drawer in a constant to avoid recreation of an instance

[2020-07-14 22:19] eps1lon commented on #21797
I wouldn't recommend the Box without any props. It's for quick prototyping for design systems not a <div> replacement. See #21657 for more context.

[2020-07-14 22:19] #21797 closed

[2020-07-14 22:23] hudsonbl opened #21798 "Class Components"
I am developing using material-ui. I am finding my self changing the template source code from function components to class components. I was wondering wondering if you guys considered creating some of the components class components?

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

In my

[2020-07-14 22:39] oliviertassinari commented on #21798
@hudsonbl Thank you for the proposal, unfortunately, this is not a course of action that we advocating against. Please consider leaving class components for legacy code and only using hooks for new code.

[2020-07-14 22:39] #21798 closed

[2020-07-14 22:45] oliviertassinari commented on #21795
@bmg02 Do you have a visual of what you expect? Do you want to contribute it?

[2020-07-15 00:02] resynth1943 opened #21799 "Add privacy policy page"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Remove Google Analytics

If you must have an analytics system, might I suggest either:
- Plausible: https://plausible.io (offers a 50% discount for FOSS projects)
- Goatcounter: https://goatcounter.com
- Matomo: https://matomo.org
- Fathom

[2020-07-15 00:07] cyrfer commented on #11108
`"transparent"` did not work for me. I had to take a slightly different approach.
[code]

[2020-07-15 02:56] tonypee commented on #15697
I just use the destructuring inline, and it seems to work
[code]

[2020-07-15 02:59] cwagner22 commented on #21797
Well I’m using props which is why I would like to keep Box instead of div. This was just a quick example to demonstrate.

[2020-07-15 04:37] bmg02 commented on #21795
Yes, I would like to contribute. I have an image. Here are two variants of the layout.
![OAuth_Google-layout](https://user-images.githubusercontent.com/44208979/87503393-b6500600-c681-11ea-87c1-06529ee9f949.PNG)

From the image, I think the layout with a colored icon looks cool over a layout with a white icon.

[2020-07-15 05:07] aibeb commented on #18880
The same issue

`
    ERROR in client.bundle.js from Terser
    Unexpected character '@' [client.bundle.js:97,17]
`

[2020-07-15 06:33] mbrookes commented on #21795
The published icons are all monochrome or two-tone, so it would need to be the second option.

[2020-07-15 06:45] bmg02 commented on #21795
Cool. No issue.

[2020-07-15 07:45] yashas123 commented on #18470
I think nextjs has it's own transform plugin inbuilt or in the preset 'next/babel' right? https://nextjs.org/docs/advanced-features/customizing-babel-config

[2020-07-15 09:21] karasavm opened #21801 "Use of ListItemClasses prop on MenuItem component leads to typescript compilation crash. (No overload matches this call)"
Hello guys and thank you for you awesome lib.

Typescript compiler does not recognize ListItemClasses prop on MenuItem component.
The error exists **only** on Typescript project **not** on plain js/jsx. (works as expected)
It seems that something wrong is happening with Typescript declaration related to ListItemClasses.

The above error presented when i use the ListItemClasses prop.

**ERROR**
[co

[2020-07-15 10:19] maciej-gurban commented on #16947
@oliviertassinari Thanks for your patience

I wouldn't want this to turn into a litany of things I disagree with, because ultimately you're the guys who maintain this library and our view of what makes sense will be shaped by our own needs which might and likely don't always align, and that's fine. I'm not against introducing the means of using other styling solutions - in fact I think it's great

[2020-07-15 10:22] reginaochotzki commented on #20840
Same issue here

[2020-07-15 10:23] reginaochotzki commented on #18669
Using required on the text field does not work, because the text field does not recognize if an option has been selected.

[2020-07-15 10:25] oliviertassinari commented on #18669
@reginaochotzki See #21663 for `multiple` support of the required field.

[2020-07-15 10:25] gerhat commented on #21801
Same issue here. Thank you @karasavm for pointing out the commit that works.

[2020-07-15 10:35] reginaochotzki commented on #18669
I did, but it does not work. I am using the latest version of mui lab 4.0.0-alpha56

[2020-07-15 10:35] oliviertassinari commented on #21795
Should we include both? It seems that the colored version is quite common. For instance, take the icons used by auth0.

I have tried to look at the frequency of usage of the Google in our search bar, unfortunately, this doesn't come up in the "no-results" event we track as a "Google Translate" icon already exists.

[2020-07-15 11:22] bmg02 commented on #21795
No need to add both icons. White colored icon is good enough. Actually I can't use Google Translate icon for presenting Google account.

Yes, I can use another icon provider service. But I thought it would be very helpful if this icon would be in this package.

[2020-07-15 12:11] oliviertassinari commented on #21795
OK cool, you can look at how the LinkedIn, Twitter icons are made available in the package if you want to contribute the Google icon with a new pull request :)

[2020-07-15 12:25] ArturMichalak opened #21803 "TextField innerRef does not work on NX"
I have an unexpected problem with innerRef. I can't determine its reason. The problem is reproducible on a fresh application.
When i use `<input type="test" ref={...}>` instead `Textfiled` everything works correct.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Console returns `

[2020-07-15 13:11] oliviertassinari commented on #21799
@resynth1943 Thanks for the proposal, I have a look at the other discussions you have started on different repositories, interesting threads. In any case, I think that the pragmatic answer is that we don't have the bandwidth or luxury to move away from Google Analytics.

Now, there is an interesting concern we should probably handle: add a new https://material-ui.com/legal/privacy-statement like p

[2020-07-15 13:27] PaulSavignano commented on #19651
@oliviertassinari I'll look into it this.

[2020-07-15 13:50] kelly-tock commented on #16947
One question I have, does this mean that the core of Mui would still use jss, and this allows for a better way to use styled components on top of that? Or would there be a way to say the core is also styled? I just think it would add a lot of bloat if you have two css in js solutions.

[2020-07-15 13:52] #21642 closed

[2020-07-15 13:57] ldiego08 commented on #16947
How would theming work if using styled-components? I used to use helpers in the CSS portion, and it was really messy. For me, the approach of applying theme props in a JS object is a lot cleaner than in a templated string.

[2020-07-15 14:53] #21803 closed

[2020-07-15 14:54] oliviertassinari commented on #21803
@ArturMichalak Tip `innerRef` will soon be removed. Check `inputRef` instead.

[2020-07-15 15:35] bmg02 commented on #21795
I am working on a "Google" icon. I have created files and added icon's SVG path in it. But I'm facing an issue in output. When I open the SVG file containing that path, it is showing the correct icon. But when I use that SVG path in the JS file, then the blank output is coming. And the size of the icon is also inappropriate. All other icons are in small size, but mine is larger. The path of SVG is

[2020-07-15 16:01] oliviertassinari commented on #21795
Use https://github.com/mui-org/material-ui/blob/next/packages/material-ui-icons/custom/LinkedIn.js as a starting point.

[2020-07-15 18:23] shah-ms commented on #12701
How did you come to know that we have to use "shape"?
Is there any documentation to refer?
If yes, please provide a link.
Thank you

[2020-07-15 18:40] bneigher commented on #20557
but what if we need to preform logic, for example, fetching a fresh signed url for a private image?  if an img src expires, we have no way to tell the app to fetch a new one

[2020-07-15 18:50] oliviertassinari commented on #20557
@bneigher So basically, case 2. Do you have any idea what's going wrong?

[2020-07-15 18:57] vizardkill commented on #20012
This project is extremely phenomenal, I love it, I work in a software testing company in Colombia, and the whole area loves this project, we are around 600 people.

Could we also see the notistack (iamhosseindhv) package included, in the future? and on the packages of the laboratory they will include them within the nucleus?

[2020-07-15 20:31] ZooDoo4U commented on #10907
Might be late to the party, i was needing to change he checkbox as well, stumbled on this, anyway found css would work in my case..
.myCheckBox {
      transform : scale(2.2);
}

Anyone else who might needed this, worked for my checkbox just fine.

[2020-07-15 20:59] #21790 closed

[2020-07-15 22:27] oliviertassinari commented on #21711
I would propose the following: we limit the usage of `.isRequired` and it's `NonNullable` equivalent to the only cases where a missing children prop would create a problem. For instance, it could create a JavaScript runtime exception or lead to a broken UI.

In practice, this would mean:

[code]

[2020-07-16 01:04] sparshsamir1993 commented on #15827
[code]

I am facing the same problem here.
Error is
[code]

[2020-07-16 06:09] bmg02 commented on #21795
Thank you for providing me the reference. I have successfully added the "Google" icon. And I have followed the steps given in Github docs for making a Pull Request. Please review it. And pardon me if there is any mistake. Thank you.

The output of `<Google />`:
![Google_icon](https://user-images.githubusercontent.com/44208979/87633302-c38bf400-c758-11ea-95ec-065baffb73e6.PNG)

[2020-07-16 06:10] kjain-dev opened #21808 "Is Material UI components WCAG 2.0 compliant?"

[2020-07-16 06:55] karpkarp commented on #16456
Currently seeing the same issue with Button and Typography styles with differences on Prod and Dev. Changing the import order of the imports also affects the final styling. This is happening to the MUI-Nextjs example project as well.

[2020-07-16 07:29] karpkarp commented on #16374
Not sure why this is marked off topic. The same import order issue is happening for Button and Typography components as well. The import orders are not consistent between dev and prod when importing using destructuring

[code]

Tested on the Next-js typescript example in the mui repo.

[2020-07-16 08:09] GasimGasimzada opened #21809 "Why is @emotion/core is added as a Typescript reference even if we are not using emotion when using MUI"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

We have a library that is based on MUI and for some reason. When we use that library in any project that we have, we keep getting the following error:

[code]

Additionally, some of t

[2020-07-16 09:22] oliviertassinari commented on #21808
@kjain-dev Yes, they should be. #14187 for broader concern.

[2020-07-16 09:22] #21808 closed

[2020-07-16 10:55] oliviertassinari commented on #21809
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-16 13:34] parassahu commented on #18784
One of the possible solution to prevent executing `onInputChange` while `onChange` getting executed.

[code]
Here, `fetchData` will only get executed on `keypress` event.

[2020-07-16 14:31] optimista commented on #12788
So what's the most recommended / used convention in here? Putting `DialogContent` into `form` element?

[code]

[2020-07-16 14:46] oliviertassinari commented on #12788
See #13253

[2020-07-16 15:32] qeternity commented on #20904
Er, what? The indicators definitely don't point at either of these. The reproduction is "1. use autocomplete 2. press tab". This is absolutely a common use case as people are used to tabbing between input items. Asking the user to remember to "Enter" to select and then "Tab" for next element is silly, and as @burtonator mentions, most other autocomplete libraries manage this.

[2020-07-16 15:44] spvjebaraj opened #21813 "Unable to edit clear the selected value of AutoComplete control"
Hi,
I am working in React Redux along with Material UI. I am unable to clear the existing selection of text in the AutoComplete. Basically I want to implement the cascading dropdown operation. I want to clear the second dropdown selected text if I choose the other option in first dropdown.
[MyCode in codesandbox](https://codesandbox.io/s/spvjebarajreact-clear-mui-autocomplete-1omm5)

In my code, I

[2020-07-16 17:23] maxmann74 commented on #17158
I'm assuming this is a related issue, but this happened to me whenever I changed my tsconfig to "module": "esnext", which is needed for code splitting.

I'm getting a bunch of errors like this now on my material components when I do a build.
Ex.
<Typography variant="subtitle2">Importing contacts</Typography>

[tsl] ERROR in C:\Projects\Paragon\Trunk\Web\ParagonLS\reactapp\src\contactimport\compone

[2020-07-16 17:45] ruhci28 commented on #21694
hye can i work on this .?

[2020-07-16 18:12] Precigus commented on #20840
I have found a fix.
Since it was a _TextField_ inside my _Autocomplete_, I added **InputLabelProps={ { required: true }}**  prop which solved my issue.

[2020-07-16 18:38] #21795 closed

[2020-07-16 19:24] atpollmann commented on #19318
@oliviertassinari [Here is a working demo using both handlers together](https://codesandbox.io/s/material-demo-r6jci?file=/FreeSolo.js)
If I use ```onInputChange``` to update the value state, it autocomplete doesn't filter the list, and when pressing enter, it doesn't trigger the ```onChange``` handler.

You can remove ```onInputChange``` and everything works fine. The problem with this is that th

[2020-07-16 20:26] otaviobps commented on #21507
@tchmnn if I want to use a full-width `Grid` with a `background-color`, applying a `padding` to the parent element will make my `Grid` shrink, and I'll have different color borders (background one color, grid another color). What's the best approach in this case?

[2020-07-16 20:39] tchmnn commented on #21507
@otaviobps
I'm sorry, I'm not sure if I understand your question :smile:
Would you mind rephrasing or visualizing it? Or maybe provide a codesandbox reproducing your issue.

[2020-07-16 21:11] otaviobps commented on #21507
Hey @tchmnn thanks for replying.

I made a question at stack overflow about it: https://stackoverflow.com/questions/62942858/how-to-use-material-ui-grid-for-spa-negative-margin-problem

Thanks!

[2020-07-16 22:02] oliviertassinari commented on #19318
@atpollmann You need to have two different states.

[2020-07-16 22:09] oliviertassinari commented on #20904
@qeternity Thanks for bringing clarity on the original issue. <kbd>Tab</kbd> shouldn't be handled as <kbd>Enter</kbd> per the guidelines of https://www.w3.org/TR/wai-aria-practices/#combobox.

*react-select* doing such doesn't mean it's right. Compare the behavior with [select2](https://select2.org/getting-started/basic-usage).

Now, there are two solutions:

- You can set `autoSelect`, which will

[2020-07-16 22:12] #21813 closed

[2020-07-16 22:12] oliviertassinari commented on #21813
@spvjebaraj You need to control the component.

[2020-07-16 23:51] Lagicrus commented on #21580
That is fair. I was unaware that existed.
I just felt, and do still feel that having it more baked into Material vs wrapping it in that module, allows for better/lower integration with Material components allowing more powerful and simpler integrations.

Additionally, in my opinion, if Material were to implement this enhancement themselves then it would be easier for developers to use, especially

[2020-07-17 00:02] tchmnn commented on #21813
@spvjebaraj
checkout this example I put together on [codesandbox](https://codesandbox.io/s/github/tchmnn/redux-mui-autocomplete).

[2020-07-17 00:26] kizivat commented on #20912
@eluchsinger I have the same problem right now, so I'm curious what the error was on your side please?

I cannot seem to find a way to have the state to be controlled while at the same time, having the options load asynchronously.

[2020-07-17 00:29] atpollmann commented on #19318
Thank you @oliviertassinari, my mistake. It is clearly stated in the documentation

[2020-07-17 04:12] saravremo opened #21814 "[TextareaAutosize] Handle container with no intrinsic height"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When the wrapper div/element is shrinked to 0px width and expanded to full width again, the InputBase with multiline property is set to max height even though there is no content insid

[2020-07-17 05:08] francisrod01 commented on #18470
Hi @ndeviant I got the same situation and got a solution for you.

Trying setting `next-transpile-modules` package this way:

[code]

[2020-07-17 06:29] zachsa commented on #10051
Hi, I've been experimenting with this and I have found that the `<Collapse />` component takes up the whole horizontal space with this structure:

[code]

In this case the `Collapse` component, when`in = true`, renders as 100% the width of the `<Grid container>`. I'm not actually sure that I'm using `Grid` correctly... But when I use any other Transition this is NOT the case. For example, replacin

[2020-07-17 08:21] zachsa opened #21816 "Fade transition effect doesn't work for elements with the same specificity"
If I have a `Fade` component, such as below:

[code]

The effect only renders once. In this case the component trees are 'symmetrical' (is this the right word?) in that if I were writing CSS I would target the Fade elements with the same rule.

This works:

[code]

But it isn't very nice...

[2020-07-17 08:22] tqjoram commented on #15827
May we see the implementation of `const Button: React.FunctionComponent<ButtonProps> = React.forwardRef(`? Do you wrap a Router.Link around it if the `to` prop is set? Do you need to cast the return value?

Still confused if its better to use
[code]
or
[code]
I appreciate your suggestions.

[2020-07-17 11:15] oliviertassinari commented on #21580
@Lagicrus I'm curious to hear more about this. What's issues have you faced with growing the list of dependencies in the package.json?

[2020-07-17 11:43] hiahmedhameed commented on #21727
@oliviertassinari

Just to give an update that might help as input.

I tried to apply your solution in my `local code`, I'm getting linter error under `Autocomplete2`

[code]

Linter error said
[code]

The interesting thing is in this line with my `local code`
[code]
Note that other events argument in `getOptionLabel`, `getOptionSelected` has been solved with the right type of `AutocompleteOptionD

[2020-07-17 13:01] oliviertassinari commented on #21814
@saravremo Thanks for the reproduction. What do you think about this fix?

[code]

Do you want to work on a pull request? :)

[2020-07-17 13:04] oliviertassinari commented on #11324
Closed by #21456

[2020-07-17 13:04] #11324 closed

[2020-07-17 13:28] oliviertassinari commented on #21816
@zachsa You need to add a different key:

[code]

https://codesandbox.io/s/material-demo-wncif?file=/demo.tsx:0-963

[2020-07-17 13:28] #21816 closed

[2020-07-17 13:30] #21809 closed

[2020-07-17 13:30] limitall opened #21819 "issue with babel when use **WithStyle**"
When I do **yarn test** it fails with bellow error if use **WithStyle**

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
yarn test fail with error

## Expected Behavior 🤔
yarn test should be pass

## Steps to Reproduce 🕹
export any

[2020-07-17 13:49] liesislukas opened #21820 "text inside divider"
How about having text inside the divider? `<Divider>Text</Divider>`

Result would be like this:

![image](https://user-images.githubusercontent.com/2733862/87793042-60c85480-c84d-11ea-9280-bb18ba19e6b0.png)

sample code:

[code]

just like ant design has: https://ant.design/components/divider/#header

[2020-07-17 15:34] oliviertassinari commented on #21820
@liesislukas I was tracking this feature in https://trello.com/c/7RLugLrH/1963-divider-add-children-support

- https://semantic-ui.com/elements/divider.html
- https://ant.design/components/divider/#header
- https://arc.dev/signup?service=codementor&to=https%3A%2F%2Fwww.codementor.io%2Fuser-onboarding

What about we bring it as a new component, like `DividerTypograhy`?

[2020-07-17 17:07] LucaPizzagalli opened #21821 "Snackbar div takes full page width"
When using a Snackbar and the viewport is small enough (mobile), an invisible div takes the full width of the page, making impossible for the user to interact with the elements under the div.

![Screenshot_2020-07-17_18-51-50](https://user-images.githubusercontent.com/14105048/87811737-67f85e00-c85f-11ea-86c3-0cb074ac9df3.png)

## Current Behavior 😯

The Snackbar div takes the full width even if t

[2020-07-17 17:57] whoisryosuke commented on #21749
I'm really surprised to see how far this has come, cheers to all the devs who've contributed to make this happen 🤘🔥

I have a few questions 🤔

- **How does the `matcher` property work exactly?** All the examples I see use `variant` as the prop I'm targeting, but what if I want to create a component with a `size` prop? (e.g. `<Button size="large">`). [I think I saw this example in the pull request]

[2020-07-17 18:20] grantzvolsky commented on #7762
This seems to be a react bug. Forcing a re-render using the `key` property fixes it.

Example: https://codesandbox.io/s/material-ui-playground-71xej?file=/app.jsx

[2020-07-17 18:23] oliviertassinari commented on #21819
The issue has been closed because it does not conform to our issue requirements.
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-17 18:23] #21819 closed

[2020-07-17 19:59] oliviertassinari commented on #21821
@LucaPizzagalli Thanks for raising this underlying issue. We didn't pay attention to this detail. What about this diff?

[code]

[2020-07-17 20:12] LucaPizzagalli commented on #21821
Thanks for the quick answer! ( and for the library :) )

That would surely be an improvement, but it's not the ideal solution for my use case. I have very short messages and the snackbar with `anchorOrigin={{ vertical: 'bottom', horizontal: 'left' }}`. I would like to have some space to the right for an icon Floating action button.

[2020-07-17 21:29] oliviertassinari commented on #21821
@LucaPizzagalli In this case, you can have a look at the CSS of the desktop breakpoint, see how we center the snackbar without blocking interactions.

[2020-07-17 22:38] oliviertassinari commented on #21663
I have seen https://select2.org/ uses a hidden multi-select behind the scene, maybe we could consider a similar approach.

[2020-07-17 23:45] adamsr123 commented on #21820
The intuition for me says it should not be a separate component and just get it as children

[2020-07-18 04:21] skavan commented on #17568
Hi,
Forgive me if I'm wading in, in the wrong place.
I too am getting the "out-of-range" warning -- and while not a breaking issue - it is annoying.
There are cases where an out of range value is a perfectly acceptable outcome.

Example: I have a server monitoring application that persists a users preferred server (via a cookie).  That preference is pushed to the redux store on application initial

[2020-07-18 06:55] limitall commented on #21819
Hello @oliviertassinari,

Here I attach zip for source code, in which you can reproduce this issue. Here I also write steps how to use it and how to reproduce this issue.
[V2.zip](https://github.com/mui-org/material-ui/files/4941179/V2.zip)
it require **yarn**

*********  How to use it ***********
Step 01 : unzip this zip in any folder (like in folder : demo)
Step 02 : cd demo/V2
Step 03 : yarn
St

[2020-07-18 10:58] mnajdova commented on #21749
@whoisryosuke these are really good questions, thanks for looking into this :) Here are some thoughts/answers.

The matcher is simply a subset of the components props, which is based on the props specified generating the classkey selector. So if you provide in your matcher: `{ size: 'large' }`, it would map to the `sizeLarge` classKey, if you specify both a variant and size, soemthing like `{ vari

[2020-07-18 15:26] hbrannan opened #21824 "[Accordion] Auto expand when printing"
In Chrome v Version 83.0.4103.106 (Official Build) (64-bit), `the @media print` styles of .MuiCollapse-hidden are uncollapsed. There also does not seem to be an obvious way in the docs to add a style to the collapsed panel via the API.

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe

[2020-07-18 17:14] djmisterjon opened #21825 "[system] Box props types any"
Hi guys , do i have a bug somewhere in my config or you dont provide a flexbox types for intellisence?
I cant get suggestions from `flex api` when i use your Box components.
![image](https://user-images.githubusercontent.com/24865815/87857926-82324a80-c8f8-11ea-8033-bea6a9de87d2.png)
Any way to get flexbox types suggestions from your Box api ?
i try `npm install @types/react-flex -D -S` but not wo

[2020-07-18 17:40] akopchinskiy commented on #10571
Does. Not. Help.

[2020-07-18 18:04] Dizzzmas commented on #16223
Having this issue right now. Got trouble understanding and applying the solution of @Jack-Works . Would appreciate any form of help

[2020-07-18 20:25] francisrod01 commented on #7977
I'm facing this issue too. I don't understand when it was solved and how. :eyes:

[2020-07-18 20:36] oliviertassinari commented on #7977
https://github.com/mui-org/material-ui/tree/master/examples/nextjs

[2020-07-18 22:33] francisrod01 commented on #7977
That's not what I mean.
I can see that we need to respect the order of components: `Box` needs to come first than `Typography`, but there's not enough.

Here's a screenshot from the first load of the page. It brings the correct style and 1 second later, it shows up as below:

![image](https://user-images.githubusercontent.com/4691768/87863032-28984300-c92d-11ea-94b1-095a28ad81de.png)

And here's t

[2020-07-18 23:01] oliviertassinari commented on #21825
@djmisterjon Thanks for raising the issue, I can reproduce it on https://codesandbox.io/s/material-demo-cilh8?file=/demo.tsx.

[2020-07-18 23:18] oliviertassinari commented on #21824
@hbrannan Interesting concern, for a moment I have considered the idea to make this the default behavior, but it's unlikely what people would want as surprising. You have to use CSS in your case,

[code]

For instance: https://codesandbox.io/s/blissful-haslett-vlyy0?file=/demo.tsx

[code]

[2020-07-18 23:18] #21824 closed

[2020-07-19 00:52] Jack-Works commented on #16223
@Dizzzmas Hi, my example is cheating on the ShadowRoot DOM object and let it behave like a normal HTMLElement so the React will accept to render on it. Which part you don't understand?

[2020-07-19 01:38] hbrannan commented on #21824
Thanks for the consideration, @oliviertassinari.
Any chance that just having a rule name for the corresponding global class for collapse container styles may be on the horizon?

Maybe the rules and the class name equate to the same thing, but asking because the correspondence of a more general rule name makes the class name feel more transient.
Thanks again

[2020-07-19 06:37] ducthien1490 commented on #21793
Experienced same issue when using [DateTimePicker](https://material-ui-pickers.dev/api/KeyboardDateTimePicker)
When pop-up opens , the page automatically scroll to top

[2020-07-19 08:42] oliviertassinari commented on #21824
@hbrannan It seems to be a similar request to #21723.

[2020-07-19 08:45] oliviertassinari commented on #21723
In #21824, we have a use case for selecting the roo of the Collapse component. I think that

[code]

would do it.

@duvet86 In your example, don't create a new component at each render, I have updated your example.

[2020-07-19 09:12] oliviertassinari commented on #21793
@ducthien1490 If you have a reprodution with the latest versions (alpha) please open a new issue about it with the link to the live reproduction, it will help, thanks.

[2020-07-19 09:17] ducthien1490 commented on #21793
@oliviertassinari : I accidentially fixed  it by set `overflow: auto` to `body`. I'll upgrade to alpha version soon and let you know if there're any further issue
Thanks!

[2020-07-19 10:51] Dizzzmas commented on #16223
@Jack-Works
Here's the code that I'm trying to use:

[code]

The Dialog is properly placed into the `shadow-root` and from the debugger window I can see that `hackingEvents` `weakMap` is being filled.

I didn't use `<script>` tags like you did, maybe that's why it doesn't work. I just tried to put your solution into a conventional `React.FC`

[2020-07-19 10:52] WillSquire opened #21844 "MuiAvatarGroup does not exist in theme overrides"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Attempting to override `MuiAvatarGroup`, but it doesn't appear to be added yet:
[code]

## Expected Behavior 🤔
Can be override at the theme level ([documented here](https://material-ui

[2020-07-19 10:57] oliviertassinari commented on #21844
See https://next.material-ui.com/components/about-the-lab/#typescript

[2020-07-19 10:57] #21844 closed

[2020-07-19 11:07] Jack-Works commented on #16223
@Dizzzmas here is our production level code https://github.com/DimensionDev/Maskbook/tree/master/src/utils/jss to render everything in ShadowDom, with JSS styling (injected into ShadowDom) suppoort

[2020-07-19 11:11] ruhci28 commented on #21821
Hii. can i work on this.?

[2020-07-19 11:12] oliviertassinari commented on #21821
@ruhci28 Yes :)

[2020-07-19 11:12] ruhci28 commented on #21814
Hii, can i work on this .?

[2020-07-19 11:15] oliviertassinari commented on #21814
@ruhci28 Sure, we would also need to add a test to cover the case.

[2020-07-19 11:23] WillSquire commented on #21844
Ah, brill! I see it. Thanks

[2020-07-19 11:34] WillSquire commented on #21844
Actually I'm getting `Can't resolve '@material-ui/lab/themeAugmentation'` when trying to compile with `import '@material-ui/lab/themeAugmentation'`. Type works for the code editor. Does this need a certain version of typescript or tooling?

[2020-07-19 11:52] fullstacksk commented on #5448
Can we open a second dialog on first dialog's button click?

[2020-07-19 12:34] ruhci28 commented on #21814
Thanks

[2020-07-19 13:12] WillSquire opened #21846 "AvatarGroup z-index overlaps other components"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The avatar with the grey border is in a card, whilst the white borders float to the right of the screen.
<img width="43" alt="Screenshot 2020-07-19 at 14 01 13" src="https://user-image

[2020-07-19 13:15] shamseerahammedm commented on #15195
Is this fixed ? we had row in bootstrap for fixing this issue in bootstrap I belive

[2020-07-19 14:18] eps1lon commented on #21825
What type should it have in your opinion and why?

[2020-07-19 14:26] oliviertassinari commented on #5448
The dialog is built on the modal that supports nesting. Yes, it's possible.

@fullstacksk You can ask for help on StackOverflow on how to do such.

[2020-07-19 15:13] oliviertassinari commented on #21825
Would it make sense to have?

[code]

[2020-07-19 15:24] oliviertassinari commented on #21846
Fixed in #21562, we have removed the usage of the z-index.

[2020-07-19 15:24] #21846 closed

[2020-07-19 15:42] WillSquire opened #21847 "AvatarGroup orientation prop"
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Could be nice to have an `orientation` prop for displaying `AvatarGroup` either horizontally or vertically.

## Examples 🌈
Much like the [Divider](https://material-ui.com/api/divider/) API, passing `vertical` to orientation would achieve somet

[2020-07-19 15:57] oliviertassinari commented on #21847
I have added the `waiting for users upvotes` tag. I'm closing the issue as we are not sure people are looking for such abstraction. So please upvote this issue if you are. We will prioritize our effort based on the number of upvotes.

[2020-07-19 15:57] #21847 closed

[2020-07-19 17:26] TTiole opened #21848 "TreeView multiselect shift click does not work when items wrapped in fragment"
Essentially, I had a treeview, and then each set of TreeItems (nested or at the root) were wrapped in React.Fragment. The normal click and control click worked well, but the shift click did not.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current

[2020-07-19 21:15] Lagicrus commented on #21580
Perhaps I worded this badly. But nothing wrong with Material.
What I was trying to explain was, with the way I see Material-UI growing, you are more likely to make it yourself in some fashion Vs just adding an additional requirement for this 1 thing, which increases the bulk of installing, adds more sub-dependencies and chances for vulnerabilities.
Or at least, that is my understanding.

[2020-07-19 21:35] dhuallanca opened #21849 "InputAdornment icon button to reveal the password doesn't display in correct position - Microsoft Edge"
Icon button to reveal password doesn't display correct for Edge browser

- [X ] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When start enter values in input type password the reveal password button is displayed beside the hide passwor

[2020-07-19 22:10] oliviertassinari commented on #21849
@dhuallanca Thanks for the feedback, It seems that you would need to detect the browser to remove the React icon with JavaScript or hide the native icon with CSS: https://stackoverflow.com/questions/61449079/how-to-hide-the-eye-from-a-password-input-in-ms-edge-and-ie.

Note that Google didn't try to solve the problem, I'm not sure we should push it further either.

<img width="417" alt="Capture d’

[2020-07-19 22:10] #21849 closed

[2020-07-19 22:59] kgregory commented on #21781
@oliviertassinari I think the documentation is sufficient on this one.

It's an array of attributes and most, but not all, are objects (e.g. `direction` is `ltr` or `rtl`).

[2020-07-19 23:47] djmisterjon commented on #21825
sorry guys, I can't really help you on this level, I don't have a lot of frontend experience and especially CSS.
It why i ask you if is normal about cant get suggestions for some props in your API.
The only thing i can tell you, is how i work with your API.
I work on multi screen with a SDK framework for desktop and use the developer tool to work with live CSS suggestions, than when i get the resu

[2020-07-20 00:06] djmisterjon commented on #21825
For sure i can use maybe only direct styles ? the seem have suggestions
![image](https://user-images.githubusercontent.com/24865815/87888479-1f75a780-c9fb-11ea-9fe5-945d3ec6bbf6.png)
but we have to use `important!` some time , and it remove the fun of props workflow.

[2020-07-20 03:45] szhielelp commented on #16316
Got the same issue here:
Material UI 4.10.2 + NextJS 9.4.4

[2020-07-20 05:40] zachsa commented on #21816
Thank you that is very helpful. Would it be reasonable to expect a warning in the console if a Transition component doesn't include a key? That would have been obvious.. (am I right in thinking that all the Transition components need keys?)

[2020-07-20 09:20] dvh91 opened #21852 "SelectMenu component"
There's an internal component called `SelectInput` which is used for `Select` implementation.
It composes the initiator of the popover select menu and a `Menu` component which contains the list of options.
Also, it includes a lot of `Select` logic.

My use case is that I want to use the Select menu only and would love if this select logic and the whole select menu would be extracted into a compone

[2020-07-20 09:23] mojaeb opened #21853 "[AutoComplete] group item isn't clickable"
## Summary 💡

I wanted able to select on the list group as well

[2020-07-20 09:30] oliviertassinari commented on #21816
I'm not aware of any improvement opportunities. The key isn't required when animating a single element. There is a bit more documentation about the matter on https://reactcommunity.org/react-transition-group/transition-group#TransitionGroup-prop-children.

[2020-07-20 09:38] oliviertassinari commented on #21852
What UI problems do you aim to solve?

[2020-07-20 09:39] oliviertassinari commented on #21853
Feel free to customize the rendering of the group to implement your logic.

[2020-07-20 09:39] #21853 closed

[2020-07-20 09:56] dvh91 commented on #21852
@oliviertassinari
One use case I have: having an open select menu like a chart legend.
Another use case is making a specific component open the popper with the menu.

[2020-07-20 10:09] oliviertassinari commented on #21852
What's missing from the Menu component to implement that?

[2020-07-20 11:11] gandhirahul commented on #21657
Heya! Is there any update on the same?

btw @eps1lon, The issue still exists even if we provide the props.

[2020-07-20 11:16] eps1lon commented on #21657
Do you have a benchmark that compares it to a component with a similar feature-set?

[2020-07-20 11:57] evenodd opened #21854 "[Tabs] Focus management on a tab list with no active tabs"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When the there are no active tabs in the tab list the tabs are inaccessible via keyboard navigation.
## Expected Behavior 🤔
When focus moves into the tab list and there are no active t

[2020-07-20 12:05] dvh91 commented on #21852
The whole implementation that is in `SelectInput` - selection management, modification of children `MenuItem`s with proper props based on the value.
Everything that separates a `Menu` from `SelectMenu`

[2020-07-20 12:25] eps1lon commented on #21854
That's likely a hard problem or requires work that isn't maintainable long term. The problem is that we don't necessarily know ahead of time whether the Tabs#value matches a Tab#value.

Do you have an example of a real world interface that has a tablist with not active tab? So far I've only ever seen tablists with at least one active tab (or at least a sensible default).

[2020-07-20 12:56] evenodd commented on #21854
For a world example l was quickly able to find one in [calendar.google.com](calendar.google.com)

On the far right they have a tab list of add-ons with no tabs active by default.
![image](https://user-images.githubusercontent.com/31089557/87939625-aa2dd380-cadb-11ea-91bb-53fa56a6849a.png)

For maintainability perhaps the behaviour only occurs when the user explicitly sets Tabs#value to false?

[2020-07-20 13:18] samuk190 commented on #12858
for someone that want something easier, you can just ->
useStyles blah blah blah...
barroot: {
backgroundColor: #21466
},
root: {
backgroundColor: #21466
}

<LinearProgress
                    variant="determinate"
                    value={elem.progress}
                    classes={{
                      barColorPrimary: elem.barroot,
                    }}
                    className={elem.

[2020-07-20 14:10] LucaPizzagalli commented on #21821
@oliviertassinari Thanks, I'll do like that.
As my humble opinion also for the general case it's not visually appealing having the snackbar full width for short messages, but ¯\_(ツ)_/¯

[2020-07-20 14:11] DanailH commented on #21781
I can take this one if no one else wants it :)

[2020-07-20 14:12] oliviertassinari commented on #21854
From what I understand, in the current cloneElement API usage, we can implement this logic without much hassle. We can replicate the same `foundMatch` logic than `SelectInput.js` and force a `tabIndex={-1}` on the first tab is no match is found.

https://github.com/mui-org/material-ui/blob/44db8eee444191ec19caf130d5a0e4b0bdf1755a/packages/material-ui/src/Select/SelectInput.js#L235

However, if we

[2020-07-20 14:20] DanailH commented on #21740
I can try to work on a viable solution for this one if no one else wants it. My only question will be what is the desired fix - to not have the text at all while the Material Icons font is loading?

[2020-07-20 14:27] oliviertassinari commented on #21740
@DanailH I think that the ideal fix would be to have a homogenous background while the icon is loading. However, I couldn't find any solution that would be over-engineered compared to how frequent this need is (most people use svg icons, not font ones)

[2020-07-20 14:31] DanailH commented on #21740
Alright, so @oliviertassinari is this issue still relevant then?

[2020-07-20 14:34] oliviertassinari commented on #21740
@DanailH Yes, in https://github.com/mui-org/material-ui/issues/21740#issuecomment-656934210 I share a simple chang to mitigate the problem

[2020-07-20 14:39] kelly-tock commented on #15827
We have a component called `Anchor`, which I can't share the full implementation of, but essentially if we want a button to be a link we do

[code]

and Anchor for us has logic to determine if we're rendering a react router link or a regular link tag.

and for the `Link` component in material ui, we default the `component` prop to be our `Anchor`

we have a few cases where we want the page to just

[2020-07-20 14:40] bcjordan opened #21858 "[next demo] Customized Snackbar clicking "Open Success Snackbar" gives runtime error"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Demo crashes and requests I report the issue here.

![image](https://user-images.githubusercontent.com/206973/87950352-2e993b80-ca75-11ea-9e93-e0f3df5360ce.png)

## Expected Behavior

[2020-07-20 14:41] oliviertassinari commented on #21852
Duplicate of #21022

[2020-07-20 14:41] #21852 closed

[2020-07-20 14:44] EdmundsEcho commented on #21737
@joshwooding Thank you for your response.

I was using an older version of the library and had things working as expected.  When I updated to the latest, I started to see issues with loosing focus when typing values into a `TextField`.  However, I can't generate a way to replicate the issue because I have a validation script and layers of scope that I'm dealing with.

One pointed observation:
* Th

[2020-07-20 14:44] oliviertassinari commented on #21858
Seems related to #21811

[2020-07-20 14:59] oliviertassinari commented on #21858
I suspect an issue with react-transition-group

[2020-07-20 15:13] eps1lon commented on #21858
For example?

[2020-07-20 15:13] DanailH commented on #21740
@oliviertassinari Ok then I would like to give it a try :)

[2020-07-20 15:17] oliviertassinari commented on #21740
@DanailH It's a trivial change, the most interesting part is to get through the git repo clone, open pull request, etc; IMHO after 1 or 2 good first issues, it's not worth doing more :)

[2020-07-20 15:19] oliviertassinari commented on #21858
I have seen react-transition-group raise a warning about a work prop type HTMLElement vs HTMLDivElement, I don't see any structural difference between the demo and the others. Now, I didn't look deep, nor plan to. Forget my previous comment, it's noise :).

[2020-07-20 15:21] Dkokkonas opened #21860 "Input rule on TextField component"
I am trying to apply some styles on the input of the TextField Component. I use the input rule name but the styles are not applied.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Maybe I have misunderstood something but based on t

[2020-07-20 15:32] #21860 closed

[2020-07-20 15:43] scscgit commented on #21740
I don't think the recommended diff addresses the issue, because it still doesn't hide the icon at all. (I already mentioned that reducing a size by styling causes 'something like "lo" be rendered' in place of "lock".) Here is an example of a behavior under Mozilla:
![styling <Icon>lock</Icon>](https://user-images.githubusercontent.com/3118390/87956821-c4ea5300-caaf-11ea-8e13-2d3ca4022ec1.png)

[2020-07-20 15:50] oliviertassinari commented on #21740
@scscgit The proposed change isn't meant to solve the problem but to mitigate it and will close the GitHub issue. It's the best we can do about it (as far as we know) without having to involve `webfontloader` or equivalent.

[2020-07-20 16:13] eps1lon commented on #21858
Where?

[2020-07-20 16:20] fbarbare opened #21861 "TextField/Select contrast color"
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

For Button and IconButton we have the possibility to set the `color` to things like `"inherit"` which allows us to add readable buttons (like a drawer-menu button) on top of the AppBar:
![image](https://user-images.githubusercontent.com/50552

[2020-07-20 16:23] dmtrKovalenko opened #21862 "[RFC] Avoid or "prefer not to use" default exports"
## Introduction

This discussion was initiated during the migration of eslint configs of `material-ui/pickers` and convention and code style consolidation. (https://github.com/mui-org/material-ui-pickers/pull/2004)

# The problem

The core repository is using `export default` everywhere as a primary way to export React components.  This RFC is about why it is not the best approach – the main probl

[2020-07-20 16:25] #21744 closed

[2020-07-20 16:44] oliviertassinari commented on #21858
On the same page:
<img width="487" alt="Capture d’écran 2020-07-20 à 18 43 53" src="https://user-images.githubusercontent.com/3165635/87963454-05020380-cab9-11ea-988d-5172182f41c6.png">

[2020-07-20 16:46] oliviertassinari commented on #21858
Never mind, different problem https://github.com/reactjs/react-transition-group/pull/619#discussion_r420847211…

[2020-07-20 16:51] eps1lon commented on #21862
This is not a problem. It causes problem you later describe:

Types solve this.

Q: Why is renaming not a problem?

There's a boundary between interface and implementation that default exports naturally expose. Let's say I have a file where I need some list. How this list is implemented does not matter when reading the code (i.e. understand what it does). So what I do is pick one list implementati

[2020-07-20 17:08] dmtrKovalenko commented on #21862
Exactly this problem:

It is not about interface and implementation it is **different**. There is nothing about interface and abstractions at all here, the only name – and this name should be consistent through the codebase.

[2020-07-20 17:26] DanailH commented on #21706
I can take this one if it is still valid 😉

[2020-07-20 17:33] eps1lon commented on #21706
@DanailH All yours :+1:

[2020-07-20 17:34] oliviertassinari commented on #21862
@dmtrKovalenko Thanks for taking the time to write this detailed RFC!

From my perspective the current filename and export convention on the codebase is free from the problems mentioned **for components**. For non-components modules, I believe we encourage named exports, but I'm not sure, I have never put it a lot of thoughts as opposed to the components:

We solve this by enforcing the name of th

[2020-07-20 17:51] dmtrKovalenko commented on #21862
My question is: why we need to invent some conventions, create rules -- if we have an already `name` for that. And we don't need anything more?

Regarding imports section:

Doesn't this feel strange for you

[code]

And this?:

[code]

[2020-07-20 18:07] elehaf16 opened #21864 "Warning style BottomNavigationAction ... ButtonBase TouchRipple Ripple"
This warning is present sometimes and I haven't provide any style to these components...

 Warning: `NaN` is an invalid value for the `width` css style property.
    in span (created by Ripple)
    in Ripple
    in TransitionGroup (created by ForwardRef(TouchRipple))
    in span (created by ForwardRef(TouchRipple))
    in ForwardRef(TouchRipple)
    in ForwardRef(TouchRipple) (created by WithStyle

[2020-07-20 18:12] eps1lon commented on #21864
@elehaf16  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-07-20 20:51] modbender commented on #21795
Oh thanks for this, I almost switched to fontawesome because of this, good thing I searched on google once.

[2020-07-20 20:55] oliviertassinari commented on #21861
@fbarbare Interesting concern, I imagine there are a bunch of overrides required to make this work without any built-in solutions. The label, the input, the icon, the underline + the different states. I think that it could make sense to push #17891 further with a `color="inherit"` variant.

[2020-07-20 20:56] oliviertassinari commented on #21795
Don't miss https://simpleicons.org/

[2020-07-20 21:48] oliviertassinari commented on #21862
@dmtrKovalenko I think that it's worth taking a step back into the history and see **why** the current structure of the repository. The current structure is designed so developers can find components and navigate the code as easily as possible. We achieved it with a couple of choices:

1. All the modules are **flattened**, one exported module, one file or one folder at the root of the src. The onl

[2020-07-20 22:01] scscgit commented on #21740
@oliviertassinari So in other words, the problem won't be solved at all, it'll be marked as `wontfix`, and the feature of material icons will be completely unsuitable for a production usage? I mean if it requires some additional third party library like `webfontloader`, I'd appreciate if a solution could be at least officially documented in a place where users can find it, while stating that it's

[2020-07-20 22:01] bologer commented on #17473
Please consider adding support for shadow DOM

[2020-07-20 22:09] oliviertassinari commented on #17473
Do you guys have more details on why shadow DOM? It will help better understand the need. What's the objective of it? For instance, if it's isolation, how is it solving more problems than creating?

[2020-07-20 22:36] fbarbare commented on #21861
I don't think the `color="inherit"` would work. You would want to change the initial color of the TextField, but not the color it gets when focused and I guess should still be able to choose which one you would want for that.

[2020-07-20 22:38] mbrookes commented on #21795
Heh, Material-ui is there. 😄

[2020-07-20 22:40] eps1lon commented on #21862
I don't see any concrete problems in this issue. I can only see hypotheticals that I don't agree with.

[2020-07-21 01:27] Jack-Works commented on #17473
Our project is a browser extension, we need to inject UI into other web pages so we choose ShadowDOM.

Currently, React, JSS and @material-ui don't support Shadow DOM well so we did a lot of hacks to make it work.

[2020-07-21 01:47] kamarajuPrathi opened #21865 "WithStyles converts the styles to class , is there a way to get styless via that class (reverse)"
i am writing some test cases and found when i mount i would get the class not the style attributes , is there a way to get by any utility

[2020-07-21 04:16] Avi98 commented on #21778
Hi @oliviertassinari , anyone is working on it?  Can I take this up?

[2020-07-21 05:03] #21865 closed

[2020-07-21 05:34] chanced opened #21866 "Autocomplete is not showing options even though they exist"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Autocomplete does not always display options even if they are available.

## Expected Behavior 🤔

Display all options if available.

## Steps to Reproduce 🕹

Steps:

1. visit [codesan

[2020-07-21 07:43] oliviertassinari commented on #17473
@Jack-Works Have you considered to increase the CSS specificity of the styles (can be done with a JSS pluggin, say to 10) over using shadow DOM?

[2020-07-21 07:50] oliviertassinari commented on #21795
I have created a reminder to add this link into https://material-ui.com/discover-more/related-projects/#images-and-illustrations, I will get on with it at the end of the week in my weekly "batch small changes" effort, unless somebody else want to work on it first :).

[2020-07-21 07:50] Jack-Works commented on #17473
It's not the problem of cash priority. We need to hide the Dom we added to the webpage so the webpage cannot see any text we added to the page.

[2020-07-21 07:58] oliviertassinari commented on #17473
@Jack-Works Did you notice improvement opportunities from our side? I'm especially interested in the diff between the work that is required between having to React work in shadow DOM (this is outside of our scope) and the work required to make Material-UI work in shadow DOM. Basically, what can we do here to help the process? I have never looked at it in details, my distant perception on the matte

[2020-07-21 08:17] Jack-Works commented on #17473
Yes, IIRC in @material-ui there's some code assuming it is running in the main dom (maybe related to Modal) then it becomes buggy.

Anyway, the most important part is I want to let JSS support ShadowDOM but I think it's not the duty of @material-ui.

I also tried to contribute to React to improve the support for ShadowDOM but they don't accept it until now.

[2020-07-21 08:18] Jack-Works commented on #17473
We're using `disableAutoFocus` of Modal in our project, cause it's buggy in the ShadowDOM

[2020-07-21 08:21] oliviertassinari commented on #17473
`disableAutoFocus` might have been solved with https://github.com/mui-org/material-ui/pull/20694/files#diff-0e78f960bb89a643a4ed56411c35db66R71

[2020-07-21 08:29] Jack-Works commented on #17473
What about JSS? It would be nice to let JSS support inject style tags into ShadowRoot, even https://developers.google.com/web/updates/2019/02/constructable-stylesheets this modern feature!

[2020-07-21 08:29] jdkula commented on #21318
Since it appears this issue has not yet been claimed, I would love to take a stab at it! I've been using helper functions to implement the same functionality before realizing it was an undocumented part of `styled`.

It seems like adding similar functionality to `withStyles` would be similarly useful, too.

[2020-07-21 08:32] oliviertassinari commented on #17473
You can inject the styles where ever you want with JSS (`insertionPoint`).

[2020-07-21 08:40] Jack-Works commented on #17473
Our code are multiple root (all of those root are in the ShadowRoot) React application so I have no idea if `insertionPoint` will work for us, but thanks I'll try it later.

[2020-07-21 09:00] oliviertassinari commented on #17473
cc @NMinhNguyen in case you have any insight on this one. I recall your team tried Shadow DOM at some point.

[2020-07-21 09:04] oliviertassinari commented on #21318
@jdkula We have been withholding all investment on the styling solution since v4 came out. One likely path is that we will dump it all. Until we know the direction we take, let's hold (applies for all `package: styles` issues). Thanks for the interest :).

[2020-07-21 09:18] oliviertassinari commented on #21866
@chanced Thanks for raising this issue. There is a learning gap that we need to fill. What do you think of this diff?

[code]

Do you want to work on a pull request? :)

[2020-07-21 09:22] NMinhNguyen commented on #17473
You'd need an `insertionPoint` per shadow DOM root.

[2020-07-21 09:30] Jack-Works commented on #17473
Hmm maybe I'm not clear. We have multiple root. Each root is in a separate ShadowDOM so it's required to have insertionPoint for every root.

[2020-07-21 09:31] oliviertassinari commented on #21778
@Avi98 Ask @nkrivous. But if you seen any area of the discussion that isn't clear, let us know! At this point, we were hesitating on a. the aliases direction vs b. not rendering anything if a breakpoint is missing,

So far, we write it mobile-first (up), with rare exceptions for desktop first (down), this happens when it allows simpler CSS.

The issue with b. is that if we don't render anything, t

[2020-07-21 09:35] oliviertassinari commented on #21861
@fbarbare Ok thanks, in this case, overrides sounds more appropriate

[2020-07-21 09:47] NMinhNguyen commented on #17473
Sounds like we're saying the same thing? You're supposed to use a `StylesProvider` inside each root which would have its own insertion point https://material-ui.com/styles/advanced/#insertionpoint

[2020-07-21 09:54] fbarbare commented on #21861
@oliviertassinari
I don't think overrides are a good solution for this as elements/opacities/... are susceptible to change. It's I guess more about finding what default color should be applied to the TextField as the base color (black or white). Maybe using "inherit" is a good solution but not for the color prop. We could use the parent element css color to determine automatically if the TextField

[2020-07-21 09:57] oliviertassinari commented on #21861
Are you suggesting to have two different props?

[2020-07-21 10:13] MKrupauskas commented on #14948
The `enterTouchDelay` of 1s makes sense when the tooltip is used to explain the functionality of a button that does some action. However, there is a use case where the tooltip is used as a purely informational element, in this case, we set the `enterTouchDelay` to 0. The tooltip appears immediately after tapping the informational element.

[2020-07-21 10:16] bologer commented on #17473
@oliviertassinari

Sure. I love material ui and I build almost all of my projects with it. Recently, I was building an embeddable widget. So if I make it in shadow DOM, none of the styles would apply to MUI components inside of it. Without the shadow DOM, there can be a few conflicts with webpage styles.

[2020-07-21 10:35] oliviertassinari commented on #17473
Regarding the part about avoiding CSS conflicts when injecting in a hostile environment: #19455.

[2020-07-21 10:38] oliviertassinari commented on #14948
@MKrupauskas Mind that the current value is 700ms.

[2020-07-21 10:43] jkjustjoshing commented on #21318
@oliviertassinari can you elaborate on what you mean by "dump it all", or point me to a discussion on the topic? That sounds like you're considering removing JSS entirely from the project - we're trying to decide between JSS and CSS Modules for my next project, and what MaterialUI uses is a non-zero part of that discussion.

[2020-07-21 11:23] fbarbare commented on #21861
@oliviertassinari
Because detecting the background color of the parent element to determine if the TextField should be displayed in white or black could be hard and not always right (absolute positioned elements), it might indeed be easier to create a new prop (e.g. `baseColor="white"|"black"` or `theme="light"|"dark"`) where the default would be based on your actual theme type

[2020-07-21 12:27] thanpolas opened #21871 "[AutoComplete] Disabling Autocomplete is not working"
I want to be able to disable autocomplete and autofill on TextField.

This is a topic that has been revisited multiple times over the years, most notably discussed on issue [#2653](https://github.com/mui-org/material-ui/issues/2653) and numerous Stack Overflow questions, yet no solution seems to be working today (July 2020).

This may well not be a Material-UI problem, but at the very least it nee

[2020-07-21 12:38] liesislukas commented on #21820
I think that this should be an attribute for current `<Divider/>`

`<Divider title={'some text'} />`

and

`<Divider title={'some text'} titlePosition={'right'} />`

or it could be just a child but position would still be the attribute

`<Divider titlePosition={'left|right|center|inherit'}>text</Divider>`

but i think i would go with attributes for title and position. To stay consistent and not in

[2020-07-21 12:56] oliviertassinari commented on #21820
@liesislukas Well, if the overhead for implementing the title prop is small. Why not. My guess would be that if people are `Divider` over a border CSS property, they aren't that sensitive in the first place about the bloat concern.

[2020-07-21 13:07] oliviertassinari commented on #21871
See https://material-ui.com/components/autocomplete/#autocomplete-autofill, please mind that the browser might use the id to trigger heuristics.

The issue has been closed because it does not conform to our issue requirements.
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/githu

[2020-07-21 13:07] #21871 closed

[2020-07-21 13:16] oliviertassinari commented on #21861
I'm against this proposal, if you need the dark theme, use the dark theme.

What about something like this?

[code]

[2020-07-21 13:18] liesislukas commented on #21820
I find `Divider` more explicit, that's why i personally tend to use it. And was using ant design for some projects and i liked the way to segment sections with that extra text inside divider. So that's the story why i creates this issue :)

I think for someone who is used to the codebase of material-ui it should not be a big task to implement something like this 🤗

[2020-07-21 13:24] eluchsinger commented on #20912
@kizivat I am sorry, I don't remember what it was. I think, it was something really stupid I did or missed.

The error occurred when I updated from an old Material-UI Lab version to the latest. I may have to do that on an other project and if I face the same issue again, I will make sure to document it here.

[2020-07-21 13:32] fbarbare commented on #21861
That could work, though I would not call them `color` and `accentColor` so we don't induce a breaking change:
[code]

How would you get the inherited color? would it be possible to just apply `color: 'inherit'` on the element and move the opacity to `opacity: 0.42` rather than use `color: 'rgba(0,0,0,0.42)'`? Otherwise we would need to somehow fetch the computed style color (most probably using Re

[2020-07-21 13:37] munkacsimark commented on #9716
Make sure Button has `component="span"`, that helped me.

[2020-07-21 13:40] oliviertassinari commented on #21861
@fbarbare Yeah, I was thinking of using `color: inherit + opacity + currentColor` for the implementation. For the breaking changes, let's answer this question: what's would you intuitively associate the `color` prop with? (we are working on v5, so a BC can be OK if more intuitive).

[2020-07-21 13:47] fbarbare commented on #21861
I am not sure I understand what you mean about `color: inherit + opacity + currentColor`. Do you have a link to some doc I could read up on or something?

If a breaking change is not a big problem, I guess `color` and `accentColor` or `highlightColor` is fine

[2020-07-21 13:49] oliviertassinari commented on #21861
@fbarbare It's not very important, you were already on the right track :)

I don't know if it's that's better, I think that as long it's intuitive, we will be good. `color`+ `highlightColor` is an interesting proposal!

[2020-07-21 13:57] thanpolas opened #21872 "[TextField] Disabling Autocomplete is not working"
I want to be able to disable autocomplete on TextField.

This is a topic that has been revisited multiple times over the years, most notably discussed on issue [#2653](https://github.com/mui-org/material-ui/issues/2653) and numerous Stack Overflow questions, yet no solution seems to be working today (July 2020).

This may well not be a Material-UI problem, but at the very least it needs to be stat

[2020-07-21 13:58] fbarbare commented on #21861
I quite like `color` + `highlightColor` or maybe even just `highlight`.

The only problem I have with `color` changing is that it's a pretty big breaking change:
- when upgrading people will have to change pretty much half of their `TextField`s/`Select`s
- the change might not be super intuitive as we're keeping the `color` prop but it will then need different values and being used for something d

[2020-07-21 14:18] oliviertassinari commented on #21872
Same as the other issue, please follow the documentation about this problem

[2020-07-21 14:28] adriendurepaire opened #21874 "Can't edit inputs when a dialog with prop "container" is opened"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using a Dialog component with prop `container`, input fields outside of this container are not editable (nor focusable) when the dialog is opened.

## Expected Behavior 🤔

I unde

[2020-07-21 14:33] dimitropoulos commented on #21453
Has anyone taken a look at an approach like [`React Aria`](https://react-spectrum.adobe.com/react-aria/getting-started.html) is using?:

[code]

I've used a couple APIs like this (another is [`react-swipeable`](https://www.npmjs.com/package/react-swipeable)).  Perhaps, irrespective of whatever deeper-level abstraction is picked from what's being discussed above, material-ui can incorporate an API

[2020-07-21 14:39] nicolauscg commented on #5634
had an issue that label becomes missing when select is clicked after successfully changing dropdown position from answers above, turns out the default styling changes input label color to white on focus which is my background color. To fix it, simply override the styling `<InputLabel classes={{focused: classes.X}}>` where class `X` contains `color: "initial"`.  mui v4.11.0

[2020-07-21 14:40] oliviertassinari commented on #19654
@kevin-brown Thanks for mentioning this! What do you think about this diff for the `Autocomplete`?

[code]

Do you want to work on a pull request? :)

Regarding the `Select`, we are working on it in #21753.

[2020-07-21 15:01] fbarbare commented on #21861
@oliviertassinari
What about not changing the props at all but just always use "inherit" for the base color?

[2020-07-21 15:10] oliviertassinari commented on #21453
@dimitropoulos This RFC doesn't aim to solve the whole problem of customizability. There are different levels of abstraction that are viable, each with pros & cons, I would put them in 3 buckets:

1. A hook first approach. This gives maximum flexibility, great for power users that understand the value of a11y. e.g. https://www.downshift-js.com/.
2. A component first approach with components close

[2020-07-21 15:14] oliviertassinari commented on #21861
How often do we need the color inherit behavior vs how would we need to restore the color to text.primary because the color was changed by the container?

[2020-07-21 15:18] fbarbare commented on #21861
Yeah, I guess this would come back as an issue at some point...

I could start drafting a PR if you want to tell me more about this `color: inherit + opacity + currentColor` 😂
We can always review the names of the props later as long as we have the logic ready

[2020-07-21 15:23] oliviertassinari commented on #21861
I simply meant

- https://developer.mozilla.org/en-US/docs/Web/CSS/color
- https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
- https://css-tricks.com/currentcolor/

[2020-07-21 15:24] #21874 closed

[2020-07-21 15:26] oliviertassinari commented on #21874
Tip, this is an a11y requirement of a modal. consider:

- not using a dialog
- including the side panel in the dialog
- disabling the enforce focus behavior

[2020-07-21 15:32] adriendurepaire commented on #21874
Thanks for helping and for your work @oliviertassinari. I didn't know it was an a11y requirement. I'll investigate how to disable the enforce focus behaviour.

[2020-07-21 15:34] ruhci28 commented on #21814
Hii, @oliviertassinari  i applied the above suggested fix , i am new to opensource can you can guide how i should proceed now to add a test cover and what else i have to add in TextAreaAutoSize.js file

[2020-07-21 15:42] dimitropoulos commented on #21453
sure sure, yeah, I get that, I was just saying that whatever solution this RFC lands on - it would be cool to keep the `React Aria`-style API above in mind because it offers a lot of flexibility which I (at least tangentially) view to be a deeper goal of this RFC: so I thought I'd mention it.

[2020-07-21 16:29] chanced commented on #21866
@oliviertassinari thanks! That fixed my issue and that documentation looks good.

Would a warning help? If so, I can look into putting one together and issuing a pull request. Maybe an equality check on options and warn if in dev and `filterOptions` is not set?

[2020-07-21 17:13] oliviertassinari commented on #21866
For a warning, I don't see how it could work without false positives. Docs would already be great.

[2020-07-21 17:23] fbarbare commented on #21861
@oliviertassinari
A couple of things from digging a bit in the code:
We apply a different opacity on the font color depending on the theme (body1 color for light theme `rgba(0, 0, 0, 0.54)` and for dark theme `rgba(255, 255, 255, 0.7)`) so we would need to base ourselves on the theme to define the opacity we would need to apply.
Looking at Material Design guidelines and web library, they do not se

[2020-07-21 18:19] maxmann74 opened #21877 "Errors when using "esnext" in tsconfig.json"
In order for code splitting to work with typescript apparently you need to change tsconfig from:
"module": "commonjs",

to:
"module": "esnext",

When I do this, my project ends up with a bunch of errors on materialui components.
example:

Jsx:
`<Typography variant="subtitle2">Importing contacts</Typography>
`

Error:
`TS2322: Type { children: string; variant: string; } is not assignable to type In

[2020-07-21 18:27] oliviertassinari commented on #21814
I would recommend looking at the existing tests, and the CONTRIBUTION.md guide. Maybe @eps1lon has a specific learning 📕 material recommendations for the tests.

[2020-07-21 18:29] gcholette commented on #16191
Had this issue while wrapping a webcomponent microfrontend.

[2020-07-21 18:53] jake-ruggable commented on #14302
Did you figure it out?

[2020-07-21 18:58] #21877 closed

[2020-07-21 19:20] whoisryosuke commented on #21749
@mnajdova Thank you for taking the time to respond and answer all my questions 👍 I can see why stuff like extending variants would be left for maybe another version, definitely can open a can of worms in terms of poor performance. But I'd definitely keep it in mind, as ultimately this would eliminate a lot of code duplication down the line (which is what I meant by variants "sharing" styles).

I h

[2020-07-21 19:36] mnajdova commented on #21749
I have renamed the `matcher` to `props`, hopefully this removes the confusion of what it is. As the name suggest, it can be used with any combination of props, not just the `variant` prop (that prop is the the one that usually clients want to add new values to, so that's why the examples are connected to it). You can definitely define:

[code]

We plan to possibly extend this in the future, so peo

[2020-07-21 20:27] oliviertassinari commented on #14302
This one is tricky with styled-components. You would need to use two styled() or global CSS.

[2020-07-22 01:16] frrodriguez opened #21880 "makeStyles classnames generated in production break funcionality"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

(Its similar behavior to [#16316](https://github.com/mui-org/material-ui/issues/16316) but is a quite diferent the error)

## Current Behavior 😯

Class names generated by `makeStyles` in production break fu

[2020-07-22 03:05] ruhci28 commented on #21814
ok

[2020-07-22 04:54] limitall opened #21881 "issue with babel when use WithStyle"
Here I attach zip for source code, in which you can reproduce this issue. Here I also write steps how to use it and how to reproduce this issue.
[V2.zip](https://github.com/mui-org/material-ui/files/4941179/V2.zip)
it require **yarn**

*********  How to use it ***********
Step 01 : unzip this zip in any folder (like in folder : demo/v2_react/)
Step 02 : cd demo/v2_react/V2
Step 03 : yarn
Step 04 :

[2020-07-22 08:03] #17070 closed

[2020-07-22 08:09] #21781 closed

[2020-07-22 09:08] #20204 closed

[2020-07-22 09:08] #20097 closed

[2020-07-22 09:20] thanpolas commented on #21872
Hello @oliviertassinari,

in the previous issue (#21871) you suggested that I provide "a minimal reproduction test case". I did just that.

The documentation mentioned in the previous issue was referring to the AutoComplete component, which I mistakenly referenced as the problem, while it really wasn't. The AutoComplete component does something completely different from what I expected (manage Aut

[2020-07-22 09:27] oliviertassinari commented on #21872
Regarding your reproduction, you didn't follow the instructions of the documentation in the codesandbox. You should be able to achieve the outcome you are looking for by applying carefully the recommendations.

[2020-07-22 09:36] #21881 closed

[2020-07-22 09:42] oliviertassinari commented on #21657
We have the beginning of a benchmark in https://github.com/mui-org/material-ui/tree/next/packages/material-ui-benchmark#material-uistyles

[2020-07-22 10:12] popuguytheparrot commented on #17119
Sooo, how fix it?

[2020-07-22 10:22] popuguytheparrot commented on #21858
So, how fix it?

[2020-07-22 11:24] alexkarpxb opened #21882 "ExpansionPanel with TransitionComponent doesn't collapse the item"
Hello, I'm using ExpansionPanel with TransitionComponent property, when I set default value (Collapse) expansion panel is working fine, but if value is another (Fade, Grow and others), collapsed component has same height as expanded

There is a snippet: https://codesandbox.io/s/vigorous-tree-621cz?fontsize=14&hidenavigation=1&theme=dark

[2020-07-22 11:34] eps1lon commented on #21882
There are a couple of warnings in the console that might help identifying the issue. Could you fix those first?

[2020-07-22 11:42] alexkarpxb commented on #21882
@eps1lon I fixed name warnings, but there is another one which appears if TransitionComponent is not Collapse:
`proxyConsole.js:64 Warning: Failed prop type: Invalid prop `timeout` supplied to `Transition``
I'm not sure how to fix this

[2020-07-22 11:55] #21880 closed

[2020-07-22 12:38] dtassone commented on #21862
1. Let's say you have a filename `something.tsx`

then 2 files `app.tsx` and `component.tsx`, that imports it.

`import something from 'something';`

At a later stage you decide to refactor something and it becomes `another.tsx`, then you introduce another `something.tsx` that you need to use in `app.tsx` only.

As you use the refactoring feature of your IDE, your import in `app.tsx` becomes

`imp

[2020-07-22 14:04] oliviertassinari commented on #21749
I think that we should aim for a name the communicate the intent to adds extra possible styles for states on the components. It seems that `variant` is a name most people will associate it with this purpose. I'm not sure we have a better candidate name for it, but we are definitely biased by prior-arts.

I would be cautious with the complexity that comes with it from a user of the library perspect

[2020-07-22 14:37] mnajdova commented on #21749
Moreover if there is no variant in the props matcher we will need to have something like null root which would even more complicate things...

[2020-07-22 14:52] frrodriguez opened #21884 "Production classnames can not be overriden"
- [x] The issue is present in the latest release (Material V5).
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

In production environment:
 `npm install --production && npm run build` of a newly created react app with material dependencies
the class names generated, have a random

[2020-07-22 14:53] #21706 closed

[2020-07-22 14:55] eps1lon commented on #15343
Closing this for now unless React.warn gets re-introduced.

[2020-07-22 14:55] #15343 closed

[2020-07-22 15:18] oliviertassinari commented on #21862
In my previous comment, I was trying to cover why the public API looks like what's now. It's the public API that has influenced the current eslint rules. These constraints are quite aligned with Airbnb's rule, so we kept it for internal usage too, so we don't have special treatments. I don't think that we have put special thoughts into using Airbnb's rule outside of the realization that we could t

[2020-07-22 15:24] oliviertassinari commented on #15343
Did you decide on a policy around console.warn vs console.error? https://github.com/mui-org/material-ui/issues/15343#issuecomment-538759792

[2020-07-22 15:52] DjKhireddine commented on #11618
Hello,
You can add class to your v-switch (ex: .reverse-switch) and in your css you add this rule:
.reverse-switch .v-input__slot {
  flex-direction: row-reverse;
}

[2020-07-22 15:55] bologer commented on #21513
So, my issue was about wrong export. I was exporting

[code]

Instead of

[code]

Meaning that all of t he Material UI components were having default palette.

[2020-07-22 16:34] oliviertassinari commented on #21862
Still, I think that we should ask everybody as it impacts the whole codebase, across components (we would need to migrate the main repository) cc @mui-org/core-team, @DanailH, @PaulSavignano.
I assume the question at stake is between:

- 🎉 emoji for never using default exports, unless rare exceptions (proposal, see the description of the issue for more details in https://github.com/mui-org/materia

[2020-07-22 16:51] dtassone commented on #21862
Refactoring tools are great and are very helpful, that's why I use webstorm :)
Renaming something across all the repo takes 5 secs, and has no errors.
If you do it manually, time for each build, a few code review iterations, and it's not even guaranteed to be perfect.

it's not the case if you allow 🤔

[code]
If we just want to encourage 1 component per file. Then it can be a practice.
And enforci

[2020-07-22 17:03] chanced commented on #21866
@oliviertassinari ah, fair enough. I was thinking that a ref equality check in comparison to lack of results may work but you're right.

did you just want a pull req of what you wrote? Not sure what I'd work on in terms of a pull request then.

[2020-07-22 17:09] rosskevin commented on #21862
We refactored all of our internal code and removed default exports almost two years ago.  It was a positive change and identified export name conflicts easily (coupled with `export * from`).

[2020-07-22 17:34] oliviertassinari commented on #21866
It's a proposal solution. If this would have solved your problem, I think that we should apply it. Do you confirm or infirm?

[2020-07-22 17:54] ryancogswell commented on #21862
The arguments for this related to refactoring/renaming don't seem very relevant. The vast majority of the components with default exports are part of the public API which means they can only be renamed with the release of a major version -- and even then it is rare. Doesn't seem like something worth optimizing for.

[2020-07-22 18:02] chanced commented on #21866
@oliviertassinari I definitely confirm. It solved my problem, for sure.

Sorry for my confusion.

[2020-07-22 18:15] hutber commented on #7466
I am shocked, I've been using MUI for maybe 2 years and never seen this before. Still not worked out why its happened.

[2020-07-22 20:06] ryancogswell commented on #21862
@dtassone I can understand how renaming considerations would be more important in an application codebase, but given the requirement of stability of names in Material-UI, can you explain more why this would be important in this case. The main time when renaming may have some importance is when developing new components, and even then it would only add much value for complex components with many su

[2020-07-22 20:11] eps1lon commented on #21862
Can somebody explain to me why I have to rename every callsite if I rename the implementation? Doesn't the vscode refactor also keep the import name i.e.

[code]
?

[2020-07-22 20:16] dmtrKovalenko commented on #21862
@eps1lon Because when you read the code

[code]

You probably would like to search "FancyButton" and open the component source, right?

But with default exports, you are doing exactly the same, but 2 times. Default exports work exactly like this

[code]

[2020-07-22 20:20] eps1lon commented on #21862
99% of the time the answer is no. The remaining 1% I do CTRL+Click in vscode and it goes to the declaration.

[2020-07-22 20:24] dmtrKovalenko commented on #21862
I have nothing to answer here...   99% of developers would like to have this ability because they are reading code not only in the editor. Moreover, core repo is written in typescript so ctrl+click follows to the typescript declaration file 🤷‍♂️

[2020-07-22 20:26] dandv commented on #10940
I'm also looking for this. I think the current link for the "all instances" use case is now https://material-ui.com/customization/components/#5-global-theme-variation

[2020-07-22 20:28] eps1lon commented on #21862
What other methods are you trying to optimize?

[2020-07-22 20:30] dmtrKovalenko commented on #21862
I have described everything in RFC – I`d like to get rid of unnecessary implicit rename of the exported component in each file in favor of **defined**, **unique**, and easy for search/debugging component name.

[2020-07-22 20:38] eps1lon commented on #21862
I've read it again and I can't find mentions of the way you consume and work with code. Maybe I missed it. Could you explain it again or link/quote it?

I don't understand how named exports ensure a unique name across the codebase. Even with named exports I could still do `import { FancyButton as Button } from './FancyButton'` which would lead to the same problems as `import Button from './FancyBu

[2020-07-22 22:47] rosskevin commented on #21862
Try exporting duplicate names, your tooling will pick it up and fail the build e.g. tsc or roll-up.

Using `export * from` ensures consistency of the public API and the source code.  I think we can agree that is a positive attribute for beginners and experts alike

[2020-07-23 03:20] ryancogswell commented on #21862
What this seems to come down to is that we are split fairly evenly between developers who work in ways where we don’t experience the problems this is trying to solve and therefore don’t see any benefit to the change, and another group using different habits, tools, refactoring approaches, etc. that see a clear benefit to the change.

I don’t think the 🎉 group has much chance of convincing the 👍 gr

[2020-07-23 04:02] DewangS commented on #15820
Ummm. still even https://material-ui.com/styles/basics/#higher-order-component-api doesn't answer how to use 'theme' ? why only supports functional components with Hooks? people do have legacy code or the need for class based components.

[2020-07-23 05:08] kjain-dev commented on #21808
Can you please confirm its compliance for 2.1 version

[2020-07-23 05:23] eps1lon commented on #21808
We don't have the bandwidth to do that at the moment. It would be awesome if we could include WCAG compliant example usage on the documentation but this is a stretch goal right now unfortunately.

[2020-07-23 08:12] alainib commented on #18514
i have the same warning but i added getOptionSelected

[code]

the code:

[code]

the log from getOptionSelected :

[code]

Any idea please ?

[2020-07-23 08:51] lishine commented on #14872
Hi,
What about autocomplete for properties' values:
```display: '...'``` // would suggest none, flex, etc.
Is it possible to make it work?

[2020-07-23 09:53] eps1lon commented on #19739
Fixed in #19867

[2020-07-23 09:53] #19739 closed

[2020-07-23 09:57] oliviertassinari commented on #15820
@DewangS See the `withTheme()` API: https://material-ui.com/styles/api/#withtheme-component-component.

[2020-07-23 09:59] availchet commented on #18919
I ran across the same issue. The `{index: 1}` solution worked for me too.

I tried to find documentation related to what this prop does.
Based on the documentation [here](https://material-ui.com/styles/api/#makestyles-styles-options-hook), it gets passed to [`jss.createStyleSheet` options](https://cssinjs.org/jss-api/?v=v10.3.0#create-style-sheet).

Any advice on how we can make this the default o

[2020-07-23 10:04] #21864 closed

[2020-07-23 10:09] oliviertassinari commented on #18919
`{index: 1}` should never be required, this is hiding a deeper issue.

Mind that the CSS injection order depends on the import resolution order. Each call to `makeStyles` reserves a place in the head to inject in the right order. The sooner makeStyles is called, the sooner it will be injected in the `<head>`.

[2020-07-23 10:50] CarlosGines opened #21889 "Missing fields in interface `ValueLabelProps` in `Slider`"
The interface `ValueLabelProps` used in `ValueLabelComponent` in `Slider` only exposes these fields:

[code]

However, there are many other props that could be used as we can see here:

[code]

For example, I need to use `index` to have different Tooltips per index.

This is a request to extend `ValueLabelProps` to include more fields (at least `index`, other could be beneficial too)

- [x] The is

[2020-07-23 11:05] lishine commented on #14872
The `justifyContent` for example - I am typing from scratch every time

[2020-07-23 11:50] djuleAyo opened #21890 "ListItem not passing props as specified in documentation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
1. component | elementType |   | The component used for the root node. Either a string to use a HTML element or a component. By default, it's a li when button is false and a div when b

[2020-07-23 11:58] adisher commented on #11085
I was searching for the solution and found the following on Stackoverflow:
`<Tabs
  TabIndicatorProps={{
    style: {
      height:"10px",
    }
  }}
  onChange={handleChange}
  value={value}

  <Tab label="Item One" />
  <Tab label="Item Two" />
  <Tab label="Item Three" />
</Tabs>`

I wanted to read more so came here from another GitHub duplicate issue. **Love this community support!**

[2020-07-23 12:08] eps1lon commented on #21890
@djuleAyo  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://material-ui.com/r/issue-template) is a good starting point. Thank you!

[2020-07-23 12:22] #21858 closed

[2020-07-23 13:57] fbarbare commented on #21861
@oliviertassinari Any ideas? 🙂

[2020-07-23 14:16] oliviertassinari commented on #21861
@fbarbare I assume you are referring to:

<img width="790" alt="Capture d’écran 2020-07-23 à 16 12 48" src="https://user-images.githubusercontent.com/3165635/88296747-5dc2dd80-ccff-11ea-950e-d4cc99bb39e3.png">

https://material.io/design/color/dark-theme.html#ui-application

<img width="787" alt="Capture d’écran 2020-07-23 à 16 13 20" src="https://user-images.githubusercontent.com/3165635/8829

[2020-07-23 14:18] djuleAyo commented on #21890
Sry I cannot reproduce, but I did spend an hour to try. It seems, in my case, work day of struggle is not indicator that something is broken... Now it just works. Who knows what was wrong... But I had state property of  "to"  omitted. I guess its false alarm and thanks for fast replies

[2020-07-23 14:19] mattes3 opened #21892 "Error in documentation of theme.breakpoints.down"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I use this

[code]

then the generated CSS is this:

[code]

## Expected Behavior 🤔

theme.breakpoints.value.lg equals 1280, so I expected the generated CSS to be like this:

[co

[2020-07-23 14:25] mattes3 commented on #21892
In the documentation on page https://material-ui.com/customization/breakpoints/#theme-breakpoints-down-key-media-query it says:

[2020-07-23 14:28] eps1lon commented on #21890
Glad to hear. If you can reproduce it please open a new issue.

[2020-07-23 14:28] #21890 closed

[2020-07-23 14:47] ileitch opened #21893 "Next.js output contains empty <style> tags"
Next.js output contains empty `<style>` tags.

<img width="427" alt="Screen Shot 2020-07-23 at 4 28 24 PM" src="https://user-images.githubusercontent.com/48235/88300044-59002880-cd03-11ea-9bc3-d027876f50df.png">

The above screenshot is from my app, though this behavior is also present in the nextjs-with-typescript example. The number of empty tags appears to correlate with the number of `<Box>` t

[2020-07-23 14:55] oliviertassinari commented on #21892
@mattes3 Interesting, we need to improve the documentation. See #6503 around why it behaves this way.
What do you think of this diff to clarify the documentation? Do you want to work on it?

[code]

Note that the down behavior will change in #13448

[2020-07-23 14:59] ruhci28 commented on #21892
Hii @oliviertassinari  i can i work on this .?

[2020-07-23 16:05] lifeeric commented on #8958
@material-ui/core - v4.1+
we'll be using the useTheme() hook in our component to get the theme property:

[code]

https://stackoverflow.com/questions/43281020/reference-to-themes-primary-color-instead-of-a-specific-color-in-material-ui/63058508#63058508

[2020-07-23 16:25] alexkarpxb commented on #21882
Solution: https://stackoverflow.com/questions/63032741/mui-expansionpanel-with-transitioncomponent-doesnt-collapse-the-item/63037436#63037436

[2020-07-23 16:25] #21882 closed

[2020-07-23 16:55] oliviertassinari commented on #14872
@lishine Do you have a reproduction? It should already be working.

[2020-07-23 17:21] mattes3 commented on #21892
Just to make sure that I understand correctly: We're talking about an error of 640 pixels, not about an error of 1 pixel, here! The results of `down('lg')` and `down(1280)` differ by 640 pixels! Please try my code sandbox sample.

[2020-07-23 17:27] oliviertassinari commented on #21889
@CarlosGines Sounds great, I can track the prop from the initial pull request, I think I added it for this use case in mind.

What do you think about this diff?

[code]

Do you want to work on a pull request? :) I would also keep #17905 in mind.

[2020-07-23 17:29] oliviertassinari commented on #21892
@mattes3 There are two concerns: inclusive vs exclusive, and which breakpoint to consider. Your main concern is a duplicate of #13448, I have repurposed it to improve the documentation around inclusive vs exclusive.

[2020-07-23 17:39] mattes3 commented on #21892
Oh, I see! Then, if both issues are resolved, everything will be fine, thanks!

[2020-07-23 17:45] Floriferous opened #21894 "[DialogContent] Extra padding does not work when wrapped in form"
We often wrap the dialog's content and actions in a `form` element to allow form submission to work when hitting enter for example. When you do that, you trigger this CSS rule that adds padding-top to the content as it thinks there's no title:

https://github.com/mui-org/material-ui/blob/8109f08888d7f8ed506632106e5ee16d1d83202e/packages/material-ui/src/DialogContent/DialogContent.js#L14

I think t

[2020-07-23 17:56] Floriferous opened #21895 "[Dialog] Closing a dialog scrolls to the top of the page, on Gatsby website in Safari"
I'm having a hard time tracking this one down, but for some reason, when I close a modal that has its trigger somewhere in the middle of a page, the scroll position resets to the top of the page.

This happens in a Gatsby website, and only in Safari.

I checked the `activeElement` right after this happens, and it's the `#gatsby-focus-wrapper`, not sure if that has something to do with it?

I don't

[2020-07-23 18:13] oliviertassinari commented on #21895
The issue has been closed because it does not conform to our issue requirements.
Please provide a minimal reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/master/examples/create-react-app?file=/src/App.js) _may_ be a good starting point. Thank you!

[2020-07-23 18:13] #21895 closed

[2020-07-23 18:55] natac13 commented on #21889
@oliviertassinari I was just doing a PR for this and wanted to clarify that you would like to include #17905 with the typescript changes to `Slider.d.ts`?

[2020-07-23 18:55] oliviertassinari commented on #21894
Duplicate of #13253

[2020-07-23 18:55] #21894 closed

[2020-07-23 19:04] oliviertassinari commented on #21889
Let's wait feedback and give priority to the author of the issue.

[2020-07-23 20:05] Floriferous commented on #21894
It's kind of a separate issue though. This is only about the way the extra 20px padding is applied on DialogContent.

It happens simply if you have a non conventional DOM structure in your Dialog.

[2020-07-23 20:11] VikR0001 commented on #21015
Note: the warning appears is because the demo code has:

[code]

Changing it like this takes care of it:

[code]

[2020-07-23 21:17] samfromaway commented on #21015
Yes that fixed it for me thanks a lot. As you said thedemo code should probably be updated.

[2020-07-23 21:17] #21700 closed

[2020-07-23 21:51] chattling opened #21898 "Material Icon ArrowBackIos is not aligned to center"
The Material Icon ArrowBackIos from @material-ui/icons@4.9.1 package is not aligned to center. It is currently aligned to left.

In contrast icon ArrowForwardIos is correctly aligned to center.

[2020-07-23 22:12] oliviertassinari commented on #21898
Duplicate of #19924

[2020-07-23 22:12] #21898 closed

[2020-07-23 22:37] joshwooding commented on #21848
This will be fixed in v5. Wrapping `TreeItem`s is not supported in v4.

For context, this was fixed in https://github.com/mui-org/material-ui/pull/21574