[2022-09-14 07:41] ZeeshanTamboli commented on #33700
The following fixes the issue:
[code]

But I am not getting why we would need to do this. So keeping it under "needs triage".

[2022-09-14 07:44] michaldudak commented on #34305
We don't have such a component. We do have it on our radar (https://mui.com/material-ui/discover-more/roadmap/#main-content), but we can't commit to any dates.

[2022-09-14 07:44] #34305 closed

[2022-09-14 08:25] ZeeshanTamboli commented on #33930
This is nothing to do with MUI. We expect React.ReactNode type as pointed out. Please check with babel about the empty space.

[2022-09-14 08:25] #33930 closed

[2022-09-14 08:38] ZeeshanTamboli commented on #33949
As @lgaspari pointed out, please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

[2022-09-14 09:20] mschaefer-gresham opened #34310 "[datapicker] aria-label is missing on date picker day buttons after upgrading to react 18."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

The button element for a day in the data picker does not have an aria-label after upgrading to react 18.

`<button class="MuiButtonBase-root MuiPickersDay-root Mui-selected MuiPickersDay-dayWithMargin css-gpd57x-MuiButtonBase-root-MuiPickersDay-root" tabind

[2022-09-14 09:25] FarshadJanmohammadi commented on #11796
thank you so much. I can was solved the problem with your solution

[2022-09-14 11:03] ZeeshanTamboli commented on #33977
Your reason for this is valid.

I think this is not a workaround, but the solution to manage your use case. We can't check internally whether an Autocomplete is rendered in a Dialog within a Backdrop context and then toggle the dialog's open/close state. There would be multiple use cases like this. (I could be wrong)

[2022-09-14 11:14] #33977 closed

[2022-09-14 14:35] neelbrahmakshatriya commented on #22426
- _Project_: Materio – MUI React Next.Js Admin Template
- _The problem solved_: A Full-featured Dashboard APP for CRM, Education, eCommerce, Banking, Fitness or any other app. Get started with your administration tasks quickly and efficiently in the most beautiful way.
- _Company or organization_: [ThemeSelection](https://themeselection.com/)
- _Link_: https://themeselection.com/item/materio-mui-r

[2022-09-14 14:51] devandrews commented on #30249
I was facing that today, every time the state was updated with more options (pagination) it was scrolling back to the top as you mentioned. I did a simple workaround that solved the issue for me.

[code]

[2022-09-14 17:18] kamil-ignac-ih21 commented on #33178
I see same problem.

**My config**
"@types/react": "^18.0.20",
"react": "^18.2.0",
"@types/react-dom": "^18.0.6",
"react-dom": "^18.2.0",
"@types/styled-components": "^5.1.26",
"styled-components": "^5.3.5",
"typescript": "~4.8.3"

If I want to render simple styled div, like:
[code]
And render it as...
[code]

.... I see
_"This JSX tag's 'children' prop expects a single child of type 'ReactNode',

[2022-09-14 18:01] NawarA opened #34312 "iOS animations are not consistent with other browsers"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. [Open up a Radio Button on MUI](https://mui.com/material-ui/react-radio-button/#main-content)
2. Go to that URL on any OS, except iOS (e.g. use Windows, Linux, Android, etc)
3. Toggle the Radio buttons, and notice the animation
4. Go to that UR

[2022-09-14 18:04] rymarren opened #34313 "Unable to use `position: running()` CSS property in styled components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Barebones example:
[code]

### Current behavior 😯

I get a TS error stating:
[code]

### Expected behavior 🤔

There should be no TS error, this should work.

### Context 🔦

https://developer.mozilla.org/en-US/docs/Web/CSS/position#formal_syntax and https:

[2022-09-14 20:36] vazgabriel commented on #25371
I believe it's similar to this: https://github.com/mui/material-ui/issues/32286

[2022-09-14 21:41] jkinney768 opened #34314 "[Tooltip] Tooltip with props `followCursor` coordinates off when scroll and land on tooltip"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a list/grid of tooltip components that include the `followCursor` prop. Be sure that the list/grid is long enough that the page is scrollable
2. Scroll up and/or down and land on some of the tooltips
3. It doesn't happen every time, but

[2022-09-15 01:11] dohomi commented on #27170
I'd like to know, following the blog post https://mui.com/blog/introducing-mui-base/ if the new base system (hooks) will be able to run with ReactNative as well? That would be terrific stack to write a universal design system for both, web and native

[2022-09-15 03:38] siriwatknp commented on #34308
@githorse Thanks for the feedback. The error is quite obvious, color utilities accept a **valid color** (`#nnn, #nnnnnn, rgb(), rgba(), hsl(), hsla(), color()`), not any string.

We can't go that far because it requires more computation and we are not sure if that is a good DX. What you can do is this instead:
[code]

[2022-09-15 03:38] #34308 closed

[2022-09-15 03:45] siriwatknp commented on #34294
Before I propose any suggestion, would you mind sharing what's in the `standardThemeOptions`?

[2022-09-15 03:48] siriwatknp commented on #34293
@lenzi-erickson Thanks for the feedback. Could you please share a minimal repository that I can take a look at and reproduce? This kind of issue is time-consuming if we are not using the same setup. Thanks in advanced.

[2022-09-15 06:10] siriwatknp commented on #34250
I think we should have a valid evidence that `h1` is better than `h2` (maybe a comparison with screen readers), otherwise I don't see why we need to change.

[2022-09-15 06:10] PunitSoniME commented on #34292
@stmoor

There might be the issue in the path of your file,

Try with normal HTML button to download the file, If that works then it should work with MUI Button as well

[2022-09-15 06:39] siriwatknp commented on #34214
I don't think so. If my understanding is correct, the change is basically merging `components` prop from the theme and on the instance together, right?

Yeah, I feel that it will benefit the X components more than in general usage. I agree with the proposal that the `components` should be merged. It is just a matter of when we should create a PR, may be let's wait for @mnajdova's opinion first.

[2022-09-15 07:31] flaviendelangle commented on #34214
Yes

[2022-09-15 07:54] michaldudak commented on #34312
Could you post a video showing the problem? I tried to reproduce it using iOS 16 and couldn't see anything wrong. Are you able to check it on iOS 16 as well?

[2022-09-15 08:05] michaldudak commented on #34313
We get our CSS property types from the [csstype](https://github.com/frenic/csstype) project. Please open an issue there.

[2022-09-15 08:05] #34313 closed

[2022-09-15 08:10] SanNic20 opened #34317 "[Masonry] Component not centered due to a default margin at -8"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

_No response_

### Current behavior 😯

Component not centered due to a default margin at -8

### Expected behavior 🤔

margin will be at 0

### Context 🔦

_No response_

### Your environment 🌎

_No response_

[2022-09-15 08:34] michaldudak commented on #27170
While I'm not familiar with React Native development, I'd say it won't be possible. We rely on DOM API in certain places and specifically target the web platform.

[2022-09-15 08:36] harsh5902 commented on #33054
is this issue still on or can take it over and work on it?

[2022-09-15 08:37] #34148 closed

[2022-09-15 08:58] gadishimwe opened #34318 "[Autocomplete]: Cannot read properties of null (reading 'focus')"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Open this example https://codesandbox.io/s/vq44q5?file=/demo.tsx
2. Add maxLength or maxlength into `inputProps` prop to `TextField` in renderInput. (Any kind of input field will produce the error even `<input maxLength={3} />`)
3. Focus on inp

[2022-09-15 09:08] #34239 closed

[2022-09-15 09:11] setoshi66 opened #34319 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-button/
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|-----------

[2022-09-15 09:35] michaldudak commented on #34319
Is this happening consistently for you? I wasn't able to reproduce this error

[2022-09-15 10:10] #33905 closed

[2022-09-15 10:35] YauhenDavidovich commented on #30410
Adding this to _document.js finally solved the problem
`MyDocument.getInitialProps = async (ctx) => {
  const originalRenderPage = ctx.renderPage;
  const cache = createEmotionCache();
  const { extractCriticalToChunks } = createEmotionServer(cache);

  const sheets = new ServerStyleSheets();

  ctx.renderPage = () =>
    originalRenderPage({
      enhanceApp: (App) =>
        function EnhanceApp(

[2022-09-15 11:04] #34242 closed

[2022-09-15 11:04] rizamoyi commented on #33054
@harsh5902 you can take it over

[2022-09-15 12:54] MyJooeee commented on #11244
To custom focused label on TextField locally :

[code]
Hope it helps ;)

[2022-09-15 12:55] BananaHotSauce commented on #13898
looks like everyone gave up on this one

[2022-09-15 13:42] flaviendelangle commented on #32414
Do we have a vision about this topic ?
I can do some basic changes (like removing the "In progress" for the date range piker)

@joserodolfofreitas in the coming months I think it would be nice to improve the content of the X home page on the marketing website.

[2022-09-15 13:58] samuelsycamore commented on #32414
Thanks for unearthing this @flaviendelangle! 😁 I agree that these pages are now long overdue for updating. Since this is a topic that spans marketing, design, and DX, maybe this would be a good project for us to pick up in the next available product marketing meeting like we talked about in the X team split retro? cc: @gerdadesign

As for where things currently stand, we've talked a lot on the Cor

[2022-09-15 15:21] NawarA commented on #34312
Will do so later today

[2022-09-15 15:39] joserodolfofreitas commented on #32414
+1

+1

I'm adding it as an initiative for Q4.

[2022-09-15 17:33] ridakadri opened #34326 "using mui-icon with text renders in different viewBox"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. I am using mui-icon with text
2. <Typography display="inline-flex" color={color} variant="body2" className={className}>
        <span className={`${className}-icon`}>{icon}</span>&nbsp;
        <span className={`${className}-text`}>{text}</span

[2022-09-15 18:20] nadeeshaDileen commented on #32749
Any solution?

[2022-09-15 18:27] MehbubRashid commented on #13898
Not very hard to implement.

![Animation](https://user-images.githubusercontent.com/34944930/190479629-1f8a62b2-8d00-4568-9cde-1ef181b82937.gif)
**I faced the issue in the autocomplete component. So i solved it in autocomplete. But the code is same for textfield as well since autocomplete is a wrapper on top of textfield.**

**Code**:
You might have to calibrate the `transform: translate(x, y)` va

[2022-09-15 19:02] githorse commented on #34308
Thanks @siriwatknp -- unfortunately that doesn't really work for my use case (above), where the colors are defined elsewhere, not at the site of the call to `lighten`. (They're not all theme colors.) But maybe it works then if I try this upstream? (Haven't tested.)

[code]

I was excited about the `sxProps` `"primary.main"` theme shorthand in MUI 5 and immediately jumped on the wagon, but I've fou

[2022-09-15 20:09] kumargauravin opened #34327 "Tooltips not able to set focus to a link inside tooltip title"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Use a tooltip
2. Create a custom component to show body / title of tooltip
3. Provide an anchor tag inside this component

### Current behavior 😯

On using keyboard since absolute div, tooltip content does not get focus and focus remains on the

[2022-09-15 20:44] aaronadamsCA commented on #33700
With `exactOptionalPropertyTypes: true`, the interface `PaginationRenderItemParams` requires all 4 params to be provided - even if their values are `undefined`.

Previously to this, TypeScript did not distinguish between optional params (omitted entirely) and params that accepted `undefined` as a value.

Exact optional property types help improve type safety by further clarifying intent. In this c

[2022-09-15 20:53] NawarA commented on #34312
https://photos.app.goo.gl/X2rrE2SEWSGVfxPW7

Sorry, easiest way for me to record other devices ^

[2022-09-15 21:29] djleonskennedy commented on #27170
could be better to name it CDK (Component Development Kit)

[2022-09-15 22:10] krishnajhapate commented on #31426
I have tried with js to remove its value but its not working with me

[2022-09-15 22:16] Rc85 opened #34328 "[Skeleton] Handle loading logic internally"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

In the current state of Skeleton, we are handling the loading logic ourselves and repeating our code. A better implementation IMO is handle the logic inside the Skeleton component simply by checking a `isLoading` prop. If true, render the Skeleton, if false, render

[2022-09-15 22:20] mugishap opened #34329 "How can I make a select or autocomplete mui component always focused by default"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

_No response_

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-09-15 22:45] eliw00d commented on #19450
Just to add another use case, I ran into this after running into the Dialog > Select enforce focus issue and using the following workaround:

https://github.com/mui/material-ui/issues/10341#issuecomment-770784016

[2022-09-16 00:04] mmkal commented on #27170
[pls not CDK](https://docs.aws.amazon.com/cdk/v2/guide/home.html)

[2022-09-16 02:47] siriwatknp commented on #34308
Yes, you are right!

If you want to use the short-hand syntax in `styled` API, you can use the `experimental_sx` to do that:

[code]

Basically, the `experimental_sx` is the same function that resolves the `sx` prop.

https://mui.com/material-ui/customization/theme-components/#the-sx-syntax-experimental

[2022-09-16 03:05] siriwatknp commented on #34238
Similar to https://github.com/mui/material-ui/issues/33510

[2022-09-16 04:42] atomicpages opened #34332 "Autocomplete filtering popper not rendering correct results"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Here's a minimum example: https://stackblitz.com/edit/react-cy3yau?file=demo.tsx

Steps:

1. Search for a term `8104` or another known duplicate term
2. Enter `81044` and then delete the last character entered (so back to `8104`)

This appears to be an is

[2022-09-16 05:29] ZeeshanTamboli commented on #34046
Thanks for reporting. Looks like a bug.

[2022-09-16 06:16] siriwatknp opened #34333 "[RFC] Meaning of components and slots"
### What's the problem? 🤔

From #33416 and #21453, I feel that we are mixing `slots` and `components` together even though they are not the same.

By having an agreement on the meaning, I believe that it will be easier to decide on the APIs (to override components and slots).

### What are the requirements? ❓

There are real use cases where you want to replace the component (HTML tag) or the slot.

[2022-09-16 07:04] siriwatknp opened #34334 "[RFC] The way to override components and slots"
### What's the problem? 🤔

Before reading this RFC, please go through #34333 first so that we are on the same page about the meaning of `components` and `slots`.

From #33416, and #21453 it seems like we are only talking about slot override (replacing the slot). However, for Material UI and Joy UI, we also need a component override (changing the HTML tag of the slot).

### What are the requirement

[2022-09-16 07:16] siriwatknp commented on #33416
I have another [RFC](https://github.com/mui/material-ui/issues/34333) about the meaning of `components` and `slots`. Would be nice if it is resolved first so that everyone is on the same page.

I have a real-world use case that is not common for MUI Base. For MUI Base, you always replace the slot because the default slots are plain strings (HTML tags). However, for Material UI and Joy UI, the comp

[2022-09-16 08:06] michaldudak commented on #34334
So, if I understand this correctly, you're proposing that the `components.x` is a shorter way of writing `slotProps.x.component`, yes?

[2022-09-16 08:07] burzaszsolt commented on #34238
@siriwatknp Similar indeed! I see in [this PR](https://github.com/mui/material-ui/pull/33560) that you approached it a bit different than I did in [my PR](https://github.com/mui/material-ui/pull/34241). Should I also remove the "standard" variant from the type definition and the prop types?

[2022-09-16 08:28] siriwatknp commented on #34334
hmm, I forgot that we can use `component` inside `slotsProps`:
[code]

This sounds better than having another `components` prop.

[2022-09-16 08:56] alhalabi commented on #27170
خطوة ممتازة كان يجب العمل عليها سابقا، في هذه الحالة بإمكان الكثير من المطورين العمل مع mui كونها تخرج من نطاق "تشابه الشكل".
هذا يسرني للعمل مرة اخرى مع mui
شكرا لكم

[2022-09-16 09:29] teetotum commented on #34218
I forked and cloned the repo today. Currently trying to write a failing testcase for the bug.
working in `packages\mui-material\src\Select\Select.test.js`
and trying to modify a duplicate of this existing testcase, which seems to be close to what I'm attempting:
[code]

[2022-09-16 10:03] ZeeshanTamboli commented on #34058
I was able to reproduce it on Mobile Firefox and it's occurring intermittently as you pointed out.

Mobile Firefox browser version I checked in is `104.2.0` (Android OS).

[2022-09-16 10:41] jaballogian commented on #32777
Hi all

I think this issue is not from the MUI or `@popperjs/core` or React Js library but from the CSS `zoom` property itself.
I also faced the same issue on the React Leaflet and Leaflet Js libraries without using any MUI or `@popperjs/core` library.

Here are 2 codesandboxes that produce the issue on the React Leaflet and Leaflet libraries:
- React Js with Leaflet Js https://codesandbox.io/s/re

[2022-09-16 10:44] jaballogian commented on #33955
Hi all

I think this issue is not from the MUI or `@popperjs/core` or React Js library but from the CSS `zoom` property itself.
I also faced the same issue on the React Leaflet and Leaflet Js libraries without using any MUI or `@popperjs/core` library.

Here is the full explanation https://github.com/mui/material-ui/issues/32777#issuecomment-1249211426

CC @yusufvalid @m4theushw @mbayucot @hbjORbj

[2022-09-16 10:46] jaballogian commented on #32129
Hi all

We share the same issue here https://github.com/mui/material-ui/issues/32777 and https://github.com/mui/material-ui/issues/33955.

I have tried to replace the `zoom` property with the `transform: scale(...)` property but still, the `transform: scale(...)` property doesn't solve the case and has another issue.
Here is the full explanation https://github.com/mui/material-ui/issues/32777#issu

[2022-09-16 12:18] michaldudak commented on #34329
The Select component has an `autoFocus` prop. In the case of Autocomplete, you have to place this prop on the underlying TextField:
[code]

[2022-09-16 12:40] bharatkashyap opened #34336 "Link to repository from landing pages instead of organisation"
The GitHub icon in the website header:

<img width="108" alt="Screenshot 2022-09-16 at 6 07 51 PM" src="https://user-images.githubusercontent.com/19550456/190640388-e501eaed-3a1e-491c-8aa2-2eee48879929.png">
should be able to determine the product the user is browsing through and direct them to the appropriate repository.

Currently, it only directs to the GitHub organisation page regardless of wh

[2022-09-16 14:24] emlai opened #34338 "[Select] Menu hides input field"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

https://codesandbox.io/s/tender-bas-9pzkhx?file=/demo.js

### Current behavior 😯

A long dropdown menu is positioned on top of the select input field:

<img width="594" alt="Screen Shot 2022-09-16 at 17 19 39" src="https://user-images.githubusercontent.co

[2022-09-16 15:01] alisasanib commented on #33303
@oliviertassinari please let me know if I understood your comment correctly. I checked the latest Material design version for button components, and I think the desired behavior for MUI whenever the button is focused is sth like this:

![mui](https://user-images.githubusercontent.com/36729660/190669453-219a3711-6b65-43ab-9aa6-10afe8810347.gif)

To achieve this goal, I think we should remove the `p

[2022-09-16 15:23] samuelsycamore commented on #34333
I think my mental model for how MUI components are structured is actually the opposite of this. 😅

Here's how I see it:
- the **component** is the final rendered UI element - Slider, Button, etc.
- the **slots** are the nested/interior nodes within the component, which may be React components or HTML elements
  - For components that only consist of a single DOM node, "component" would be more or l

[2022-09-16 15:42] ozgurbaserdem opened #34339 "[Theming] TypeError: context.report() called with a messageId, but no messages were present in the rule metadata."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

I have created a theme and added some custom colors but my project breaks on our typescript linters. I am not completely sure why this happens, I **think** that I have created the theme according to the docs(https

[2022-09-16 16:10] #34240 closed

[2022-09-16 16:25] JayNogueira commented on #10582
This solution works, thx!
But it is good to remember that for this solution to work it is also necessary to change the type="text".

[code]

[2022-09-16 16:57] ozgurbaserdem commented on #34294
Hey! Thanks for the reply.

Honestly, the standardThemeOptions is just redundant in the case above. it contains all our styling for each component. I didn't find a solution so I decided to move our themes inside the ThemeProvider component for the time being, but I would love your ideas on how it could be solved without having the themes inside the ThemeProvider.

I will send you a link of our cod

[2022-09-16 20:48] alisasanib commented on #33252
@xanben it's not a bug and not an issue of MUI. [Here is a React example of a checkbox with a similar behavior without MUI](https://codesandbox.io/s/zealous-rumple-me1bdq?file=/src/App.js).

Actually, the `checked` attribute in your screenshots is the HTML attribute that is been created when the page is loaded.

The one that you're looking for is the `checked` property that's been controlled and c

[2022-09-16 21:06] penggaolai commented on #29081
The menu item issue is still happening to me. We are trying to upgrade from v4 to v5.

[2022-09-16 21:17] kinoli commented on #20104
Getting the same issue with a shared library that wraps the MUI Select component. Doesn't seem to be any workaround that I can find. Did you find a solution to this?

[2022-09-16 22:30] BrandonSigil commented on #18755
Thanks, @elarouche and @jakeyizle. That worked great for me, I also didn't need to use option and value, it worked as intended with `isOptionEqualToValue={() => false}`

[2022-09-16 23:56] githorse commented on #34308
Ah, cool -- thanks @siriwatknp! Did not know about that. I will try it out.

Unfortunately on further consideration my original plan is still problematic here. To provide a bit of context on why this color inference would be useful -- I'm making a `Status` enum to be shared across my app:

[code]

Since I want to share this in many places, it doesn't make sense for it to be instantiated inside any

[2022-09-17 03:49] vipindigiqt opened #34340 "Dynamic Theming using Remote (async) Data"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

I'm working on a SaaS in which a particular entity (my customer) and customize their styles like primary color, secondary color, font-family etc.

How can I load remote data inside the theme?

I've tried several c

[2022-09-17 05:43] Interject-VictorC opened #34341 "MuiTextField inputProps for "form" will disable onSubmit handler."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. set default props for MuiTextField in the theme with the following props...
`MuiTextField: {
        defaultProps: {
          inputProps: {
            autoComplete: 'new-password',
            form: {
              type: 'submit',

[2022-09-17 07:09] ZeeshanTamboli commented on #34290
@emlai The Typography component does not have it's own `color` prop. If you specify a `color` prop, it is considered as a system prop since Typography directly supports all `system` props because it is a CSS utility component. See [docs](https://mui.com/material-ui/react-typography/#system-props).

So for your use case you can do:
[code]

See `color` system property docs: https://mui.com/system/pa

[2022-09-17 07:12] ZeeshanTamboli commented on #34297
@0xc00010ff  Yes, let's keep it tracked in [mui/mui-x#6083](https://github.com/mui/mui-x/issues/6083). Closing this issue.

[2022-09-17 07:12] #34297 closed

[2022-09-17 08:45] Vishal-Kank opened #34344 "DesktopDateTimePicker on year click displaying the start year 1900 instead of the selected/current year"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.click https://mui.com/x/react-date-pickers/date-time-picker/#responsiveness
2.select For Desktop date picker by clicking on its icon
3.click on year on top

Demo of same
https://stackblitz.com/run?file=demo.js

### Current behavior 😯

When we cl

[2022-09-17 10:21] ZeeshanTamboli commented on #34298
I created a PR for it - #34343

[2022-09-17 10:40] ZeeshanTamboli commented on #34306
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-17 11:12] emlai commented on #34290
@ZeeshanTamboli Unfortunately, as per the "context" section in the issue description, that wouldn't work for our use case, since it would require users of our library to specify that condition every time they want to use primary or error colors on Typography. The user should be able to simply specify `color="primary"` and have the correct color be used. Would it be possible to add classes like `Mu

[2022-09-17 13:04] ZeeshanTamboli commented on #34290
In that case, you can override the default palette, like:
[code]

[2022-09-17 13:53] thachsteven commented on #26532
It's not working for me :(

[2022-09-17 15:39] koistya commented on #24759
@CarbonPool most likely you want imperative handler(s) to be set on the instance of the dialog component rather than relying on static methods, for example:

[code]

https://github.com/kriasoft/react-starter-kit/discussions/2004

[2022-09-17 16:28] fonty422 opened #34347 "Slider slow when onChange triggers redux state change"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a react app with react-redux store
2. Create a virtual windowed list with accordions (allow for random size)
3. Add a slider (normal Slider or MuiSlider component)
4. Have the `onChange` method call a redux action creator that sets some

[2022-09-17 16:28] Gopi0002 opened #34348 "Error"
While installing material ui it's through error

[2022-09-17 16:29] fonty422 commented on #34347
Oh, and a link to the [sandbox with v4](https://codesandbox.io/s/virtuoso-list-mat-ui-redux-wojxh?file=/src/components/ListItem.js) that doesn't display the issue.

[2022-09-17 16:35] #34348 closed

[2022-09-17 17:21] emlai commented on #34290
@ZeeshanTamboli Our users are relying on `palette.primary.main` being what it is now, so we can't really change it in a backwards-compatible manner.

We have successfully customized the color of `color="primary"` for many MUI components such as `SvgIcon`, `IconButton`, `Button`, `Link`, `FormHelperText`, and `FormLabel` (either via `styleOverrides`, `variants`, or `colorPrimary` classes).

Ideally

[2022-09-18 01:24] thomasjm commented on #34174
Friendly ping @eps1lon, still hoping to make progress on this.

[2022-09-18 03:20] ilyassessa opened #34370 "@mention input"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Mention input for tagging in text area or in any text field.

### Examples 🌈

_No response_

### Motivation 🔦

_No response_

[2022-09-18 07:00] ayushrathore111 commented on #19261
@thidasapankaja plzz provide the solution also of this error if you have solved this error.

[2022-09-18 09:20] oliviertassinari commented on #34250
I have asked @xurxe for some perspective on this issue during our [last interview for an Accessibility Engineer](https://app.ashbyhq.com/candidate-searches/new/right-side/candidates/ae20874a-fbda-4cbd-a8da-3642e061d5b6/applications/1349497e-d31f-4273-887e-4d1676b38de0/feed?candidate-name=Xurxe) role. It seems that there are use cases for both, so I suspect that updating https://mui.com/base/react-

[2022-09-18 12:18] harsh5902 commented on #33054
I have solved the this problem and created a pull request, please do review it.

[2022-09-18 13:04] xurxe commented on #34250
Hi everyone! I just wanted to hop into this very interesting discussion and add my two cents, as a web developer and IAAP-certified accessibility specialist ([CPACC](https://www.accessibilityassociation.org/s/certified-professional), [WAS](https://www.accessibilityassociation.org/s/wascertification), [CPWA](https://www.accessibilityassociation.org/s/certified-professional-web-accessibility)).

###

[2022-09-18 13:24] galzo opened #34372 "[MuiOutlinedInput]: Unable to override css properties for notchedOutline when focused (Mui v5 theme)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a `MuiOutlinedInput` component with `notched` property set to `true`
2. Try to override the borderWith property of the internal `fieldset` element when the component is focused, using Mui v5 theme
3. The borderWidth will not get override

[2022-09-18 14:08] russellfoster commented on #33930
OK, so just to be clear, reference the following code:

[code]

If I remove the space (" ") node in the React.createElement call, it works. Are you saying this call to React.createElement is invalid? If so, I need to inform the babel and/or webpack folks

[2022-09-18 14:51] russellfoster commented on #33930
One more note, you can see babel is the one adding the space to the call by inserting the following code into the online [babel compiler](https://babeljs.io/repl/#?presets=react&code_lz=GYVwdgxgLglg9mABACwKYBt1wBQEpEDeAUIogE6pQhlIA8AJjAG4B8AEhlogO5xnr0AhLQD0jVgG4iAXyJA)

Input:
[code]
 Output:
[code]

[2022-09-18 16:18] jscholes commented on #34250
@xurxe Thank you for taking the time to write this out.  Unfortunately, the conclusions seem to revolve around assertions which themselves are not standardised or evidence-based, rather than on the nuances of end-user and developer experience.  Specifically:

In other words: what we have is a window on top of some other content, which precludes access to that content, and should be treated as a se

[2022-09-18 16:34] prodbyola commented on #32400
@siriwatknp Thanks. But this does not seem to resolve the issue:

[code]

[2022-09-18 16:43] siriwatknp commented on #32400
My bad, from your snippet it should be `&.active` not `&:active`.

[2022-09-18 17:26] prodbyola commented on #32400
Thanks for you help @siriwatknp. I already solved it by doing:
[code]

and using the component in:
[code]

I have a good background in VueJs and just trying out React for the first time. So MUI is the first React library I'm working with and I'm enjoying it. Thanks for the good works.

Although, I'm still not sure which is better between this approach and the one you suggested.

[2022-09-18 18:29] xurxe commented on #34250
Thanks @jscholes for your thoughtful reply!

What I gather from this conversation is that we both agree on our interpretation of ARIA 1.1 (side note: when I quoted the spec it was just for the benefit of the non-specialists reading, since I gathered you were already familiar with it), but we have different opinions regarding what's not directly said in the ARIA or HTML specs, especially in terms o

[2022-09-18 21:39] afilp commented on #19154
If possible, I would "urge" this to happen soon. Why?

Well, I have found myself several times accidentally changing the focused number input while scrolling through the touchpad towards the end of the page to hit the SAVE button. Due to the stepper...

See the result here, this was entered as 24500, I then scrolled down to hit Save and I saved the form, see what happened to the input (I re-entere

[2022-09-18 22:06] ChrisMGeo opened #34374 "Using Tooltip with a span that overflows to next line causes tooltip position problems"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.Contain a span with a tooltip
2.`<Tooltip title="test"><span>Text that should overflow to next line ...................................................................................</span></Tooltip>`

### Current behavior 😯

When hovering the

[2022-09-19 05:27] ZeeshanTamboli commented on #34290
@emlai

Ok I think I understand what you mean. Do you mean that you cannot override the default global palette colors since your users are relying on them? You would like to change the color on component level?

The system property is actually more powerful. `styleOverrides`, `variants`, or `colorPrimary` classes is on the theme level, while the system property can be applied directly with more ad

[2022-09-19 05:39] ZeeshanTamboli commented on #34317
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-19 06:40] ZeeshanTamboli commented on #34318
@gadishimwe You need to spread the `renderInput` params in `inputProps` like:
[code]

See the updated CodeSandbox: https://codesandbox.io/s/nice-sky-0pb3cs?file=/demo.tsx:888-1080

[2022-09-19 06:40] #34318 closed

[2022-09-19 06:46] ZeeshanTamboli commented on #34326
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-19 07:27] ZeeshanTamboli commented on #34328
You can simply, extract the `Typography` call into a constant to avoid repetition.
[code]

IMO, the `Skeleton` component is _only_ to be rendered when the content is loading. MUI supporting `loading` state internally won't make sense and will be against the definition of `Skeleton` component (i.e to be rendered only when loading).

If you want, you can create your own custom Skeleton component wra

[2022-09-19 07:30] rottabonus opened #34377 "DateTimePicker and DatePicker keyboard-onChange loses timezone (Dayjs)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Use DateTimePicker or DatePicker and dayjs-date with timezone applied
2. Change the datetime-value with the UI-selectors and see that the timezone works properly
3. Now change the datetime-value with keyboard and see that the timezone is droppe

[2022-09-19 07:39] ZeeshanTamboli commented on #34332
Duplicate of #34199

[2022-09-19 07:39] #34332 closed

[2022-09-19 07:57] vineeth-ktp opened #34379 "[Accordion] - When large content is present in accordion. The active accordion is going out of viewport."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. When large content is present in Accordion, the content is going out of viewport.
2. Example link - [https://codesandbox.io/s/distracted-sanne-rre74j?file=/demo.js](https://codesandbox.io/s/distracted-sanne-rre74j?file=/demo.js)
3. Click on the

[2022-09-19 08:14] #33901 closed

[2022-09-19 08:30] pppp606 commented on #34169
@siriwatknp
There was issue for a bug that I was interested in, so I submitted a PR.
Could you please review it? Thanks in advance!

https://github.com/mui/material-ui/pull/34376

[2022-09-19 08:36] #34298 closed

[2022-09-19 08:43] ZeeshanTamboli commented on #34338
@emlai Adding a `maxHeight` to the `Menu` can fix this. Take a look at the updated [CodeSandbox](https://codesandbox.io/s/gracious-james-7xbujq?file=/demo.js).

[2022-09-19 08:43] #34338 closed

[2022-09-19 08:58] ZeeshanTamboli commented on #34339
@ozgurbaserdem Without a minimal reproduction, we cannot take a look. Does the following thread https://github.com/typescript-eslint/typescript-eslint/issues/2451 help?

[2022-09-19 09:08] #34340 closed

[2022-09-19 09:10] ZeeshanTamboli commented on #34341
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-19 09:26] faltakam commented on #33169
the issue is missing key attribute for list item in renderOption.

[2022-09-19 09:46] ZeeshanTamboli commented on #34370
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-19 10:12] ZeeshanTamboli commented on #34372
Please provide a CodeSandbox reproducing the issue. The [issue template](https://material-ui.com/r/issue-template-latest) is a good starting point.

Also, make sure you are increasing the specificity to target `.Mui-focused` class since they are styled with a higher specificity. See [state classes docs](https://mui.com/material-ui/customization/how-to-customize/#state-classes).

Also check that th

[2022-09-19 10:38] gadishimwe commented on #34318
Thanks @ZeeshanTamboli

[2022-09-19 11:14] emlai commented on #34338
@ZeeshanTamboli  Thanks, that worked!

On a related note, `Autocomplete` has `maxHeight: 40vh` by default, so it doesn't have this issue. I wonder if `Select` should have that default as well, for consistent behavior.

[2022-09-19 12:16] emlai commented on #34290
@ZeeshanTamboli

Yes.

We don't re-export MUI components from our library, so our users are importing `Typography` directly from MUI. So adding our own `Typography` component wouldn't work. (Users would have to migrate to it manually.)

It doesn't seem that way to me. Or at least, it's not helping solve this problem. All of `styleOverrides`, `variants`, and CSS classes would solve this problem, so

[2022-09-19 12:27] emlai commented on #34290
I just remembered a fourth way to customize the style: accessing the `ownerState` from a functional style override:

[code]

We use this for some other components, but unfortunately it doesn't seem to work for `Typography`. MUI still overrides the correct color (returned from the style override) with the old one:

<img width="135" alt="Screen Shot 2022-09-19 at 15 26 22" src="https://user-images.g

[2022-09-19 12:33] ZeeshanTamboli commented on #34338
I am not sure. It could be a breaking change.

[2022-09-19 13:16] michaldudak commented on #34333
Let's settle on terminology first. Consider the following simplified example - a Button component from a styled library (like Material UI or Joy UI). Its implementation could look like that:

[code]

Now, there are two things we can customize here:

1. replace the `ButtonRoot` component with something else
2. replace the `button` with something else

As I understand it, in this particular case, we

[2022-09-19 13:21] khrukawa commented on #31205
for me
![Untitled](https://user-images.githubusercontent.com/59185495/191027076-770ae1a8-83d2-459e-ac50-be37ee7a5d67.jpg)
i got problem like this

[2022-09-19 13:46] michaldudak commented on #34334
Generally, I see two changes are proposed here:

1. Change (or settle on) the interpretation of the `component` prop, so that it is used to customize the leaf element (similarly to the `as` prop).
2. Introduce the `components` prop that would act as a shortcut to `slotProps.x.component`.

Do I understand the intent correctly?

Assuming so, this proposal would only make sense in styled libraries (M

[2022-09-19 13:57] oliviertassinari opened #34383 "[useForkRef] Accept an array of refs"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Instead of:

https://github.com/mui/material-ui/blob/23697b9be6ded1ed9aba5f5242940ab8a5d4afbd/packages/mui-base/src/ButtonUnstyled/useButton.ts#L162-L165

we could have:

[code]

### Examples 🌈

The signature of

- https://github.com/gregberge/react-merge-refs/blob/

[2022-09-19 14:48] mnajdova commented on #29081
@penggaolai please share a reproduction or open a new issue if it is not related to the comments above. Note that the pickers are moved to MUI X. Read more about it here - https://mui.com/blog/lab-date-pickers-to-mui-x/

[2022-09-19 14:53] mnajdova commented on #34214
Agree with the proposal. I would generally consider this as a bug fix, not a breaking change. I would assume this is what people would expect, but I also think this is not widely used so far, so it may even go unnoticed.

[2022-09-19 15:17] tanishach03 commented on #33146
Can I work on this?

[2022-09-19 15:30] abbathaw commented on #32593
I think I have the same behaviour issue and I tried different ways to fix it and it didn't work. The button is actually inside the ClickAwayListener. I'm getting both click handlers triggered the onClick and the close handlers.

I'm using ` "@mui/base": "^5.0.0-alpha.88",` and NextJS 12.2.2

https://user-images.githubusercontent.com/21316504/191053888-0e35ac62-e29a-416e-8f59-02daf5c5c0e0.mov

[cod

[2022-09-19 15:39] siriwatknp commented on #34333
@oliviertassinari My intention is to describe better what we have, not changing anything. If you take a look at any component in Joy UI or Material UI, you will see at least 1 slot which is the root slot:

[code]

@samuelsycamore Seems like we are on the same page about what `slot` means but the `component` is still blurred. What if we add some prefix to be more specific

These could refer to as *

[2022-09-19 15:47] Bearfinn commented on #34372
Note: If you want to just remove the notch while focusing, just set
`MuiOutlinedInput.defaultOverrides.notched: false`

[2022-09-19 16:19] 19Qingfeng opened #34385 "External theme does not work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

[code]
I have an external library, This is its content.

When I create a project, import Comp and wrap my Mui component with Comp, the styles don't take effect.like this:

[code]

### Current behavior 😯

Button is still the default theme

### Expected beh

[2022-09-19 17:20] kabernardes commented on #34176
Hi, can I try this one?!

[2022-09-19 17:21] fayez-nazzal commented on #10076
Here's Another approach that does the job, works on all breakpoints:

[code]

[2022-09-19 17:23] fayez-nazzal commented on #10739
Here's another approach that works on all breakpoints:

[code]

[2022-09-19 18:32] samuelsycamore commented on #34333
Would it make sense to refer to those as "subcomponents"? So a _component_ has _slots_ that are filled by _subcomponents_, which can be other React components themselves or simple HTML elements.

Here's an updated ugly visual to better illustrate the terminology:
![component-slots-subcomponents](https://user-images.githubusercontent.com/71297412/191089789-b1af0dc8-ddd9-4ec3-9ebb-459fe1f513ee.png)

[2022-09-19 20:22] eps1lon commented on #34174
I think this is a problem with React inputs in general. I'm re-opening https://github.com/facebook/react/issues/12955 since that's the same underlying issue.

[2022-09-19 20:26] eps1lon commented on #34174
Actually, I would recommend providing a minimal repro with just using React 18 first. React 18+ can yield during hydration. Typing into de-hydrated inputs might actually defer hydration of said input fields. Or they put heuristics into place that fixes these issues. But it warrants an investigation first.

[2022-09-20 02:02] siriwatknp commented on #34334
Yes, the `component` prop can be considered as a shortcut for `slotsProps.component`. If both are provided, `slotsProps.component` should have higher priority. cc @michaldudak

I'd say that I expect big change for Material UI because most components are using another pattern. e.g. Accordion has `TransitionComponent` and `TransitionProps`. This will be breaking changes:

[code]

[2022-09-20 02:05] siriwatknp commented on #34333
Yes! that's better.

[2022-09-20 02:19] aquater08 commented on #18494
For reference, I managed to remove the warning by adding another MenuItem for empty string and hide it. You can also make it `undefined` if you want.

[code]

[2022-09-20 02:22] MariaSolOs opened #34387 "No type information for styles inside `[theme.breakpoints.down()]` object"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Write the following styled button:
[code]
2. Start writing `width: 50%` inside the `[theme.breakpoints.down('md')]` styles. Notice how there are no CSS completions such as the ones provided outside that object.

### Current behavior 😯

No CSS c

[2022-09-20 02:40] siriwatknp commented on #28189
I changed my mind after trying to customize Base components. Ideally, it'd be great if Material UI, Joy UI, and MUI Base provide the same experience for replacing slots and [subcomponents](https://github.com/mui/material-ui/issues/34333#issuecomment-1251395500) (I think this is the same as "leaf component" cc @oliviertassinari)

Meaning:
- use `slots` prop to replace the default slots.
- use `slot

[2022-09-20 02:46] aquater08 commented on #18494
Hi. I managed to removed the warning by adding hidden `MenuItems` but I don't think this is a good solution. Still, Hope it helps.

`
<MenuItem value={''} hidden />
{dataSets.map((dataSet, key) => {
    return (<MenuItem key={key} value={dataSet.name} hidden />);
})}
{dataSets.map((dataSet, key) => {
    return (
        <MenuItem key={key} value={dataSet.id}>
            {dataSet.name}
        </

[2022-09-20 03:12] siriwatknp commented on #34334
Marked this as RFC for Material UI and Joy UI only.

[2022-09-20 03:28] siriwatknp commented on #28189
Just checking my understanding again here.

It is not perfect for MUI Base to receive `component` or `slotsProps.{slot}.component` prop as a way to override the subcomponents because unstyled components don't know how slots are created.

Let's take `ButtonUnstyled` as an example, here is the implementation if it support `component` prop:

[code]

@michaldudak I think the question here is "do you w

[2022-09-20 04:08] siriwatknp commented on #34387
From what I checked, it does not work but I am not sure if this should be considered a `bug` or a `new feature` as we have experienced a typescript performance issue.

[2022-09-20 04:11] siriwatknp commented on #34379
Is the workaround in https://github.com/mui/material-ui/issues/12568 does not work in v5?

[2022-09-20 04:13] siriwatknp commented on #34347
Your link does not work. Can you also provide a Sandbox for v5?

[2022-09-20 04:14] 19sajib opened #34392 "Unable to install @mui/styles on React 18.2.0"
while trying to install @mui/styles using ```npm i @mui/styles``` on React 18.2.0 getting this down below error:
[code]

Note: I don't want to go back to the older version of React. And command with ''--force, or --legacy-peer-deps'' doesn't help me.
The project I am working on was initially on React 16, now after one year, I am trying to run it. While I am on React 18.

[2022-09-20 04:15] siriwatknp commented on #34385
Please provide a CodeSandbox or a repository that reproduces the issue, thanks!

[2022-09-20 04:46] ZeeshanTamboli commented on #34290
I have researched about this issue and found some related discussions about this in #32574 and #32653 (related to Link which inherits Typography). Also looked at #31857.

This indeed is a bug. `styleOverrides` for Typography should override system properties directly used on the Typography component as pointed out in https://github.com/mui/material-ui/pull/32653#pullrequestreview-964453118.

@emla

[2022-09-20 04:48] kanishbodhwani commented on #29469
Is this issue still open ? I want to work on it

[2022-09-20 05:52] oliviertassinari commented on #34333
Before I read the description, I thought that "subcomponents" were the slots.

As the term we are trying to name describes the last component in the React rendering tree, what about "leaf component"?

[2022-09-20 06:04] SuperAL opened #34393 "[Tabs][base] Expose valueToIndex from useTabsList in mui/base"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Right now valueToIndex is created inside processChildren(inside useTabsList) and not being exposed.
[code]

I hope I can get valueToIndex from useTabsList
[code]

### Examples 🌈

_No response_

### Motivation 🔦

I wish to use valueToIndex to help implement the tab i

[2022-09-20 06:50] oliviertassinari commented on #28189
From my perspective, in the case of the unstyled components, the only value of the `component` would be about encouraging one DOM element components. For example, why have to write

import ButtonUnstyled from '@mui/base/ButtonUnstyled';
import './button.css';

[code]

when you could do:

[code]

[2022-09-20 07:07] mnajdova commented on #34334
What I meant is that in terms of behavior it will behave the same. For the props surface, we could support both for smoother migration and provide codemods if people want to migrate to the new paradigm sooner.

[2022-09-20 07:12] michaldudak commented on #34334
Not necessarily. The current pattern in Material UI uses the `as` prop to modify the leaf component:

[code]

whereas the `slots` prop would replace the whole slot (unless it has a different behavior in styled vs unstyled libraries).

[2022-09-20 07:37] michaldudak commented on #28189
No. We don't want to assume any particular shape of slot components. Specifically, we can't assume they will have the `component` or `as` prop, as they often are host (DOM) components.

@oliviertassinari to me, the biggest value of the `component` prop in its current shape is its conciseness. It's much cleaner to write (and read) `<ButtonUnstyled component="span" />` than `<ButtonUnstyled slots={{

[2022-09-20 07:57] siriwatknp commented on #34334
Yep, agree. We can start introducing `slots` and `slotsProps` in v5 with a codemod!

[2022-09-20 08:35] mnajdova commented on #34334
Yep, component props is "as" and the slot props behave the same as the component props we have on some components, for example `TransitionComponent`, `PopperComponent` etc.

[2022-09-20 08:39] michaldudak commented on #29469
@kanishbodhwani do you have an idea of how you'd like to fix the problem? The number input has some inherent issues, and its behavior differs across browsers. There's a good article describing the problem: https://stackoverflow.blog/2022/09/15/why-the-number-input-is-the-worst-input/

[2022-09-20 08:40] ZeeshanTamboli commented on #34056
Hi @flaviendelangle. I was taking a look at this. A few things in mind before I can fix it if needed:
- The diff you suggested is for MUI Joy (probably shown mistakenly), I think it should be only for Material-UI. I think you missed checking the file, right?
- If you are not passing `ownerState` and `additionalProps`, probably you shouldn't use `useSlotProps` hook but simply do: `<LeftArrowIcon {.

[2022-09-20 08:45] michaldudak commented on #33303
I believe @oliviertassinari meant to remove the ripple completely when focusing and leave just the changed background color, as shown on the demo: https://material.io/components/buttons#interactive-demo

[2022-09-20 09:25] flaviendelangle commented on #34056
Indeed, my issue is with icons created by the `createSvgIcon` method of `@mui/material` so the main fix you be on `@mui/material/SvgIcon`.
But the exact same logic is applicable on the `createSvgIcon` method of `@mui/joy` and I think the behavior should be the same on both.

I did not say that we should not pass `ownerState` to the slot, but that I don't want `SvgIcon` to override its internal `ow

[2022-09-20 09:27] florinaieremciuc opened #34394 "Failing to install v5.10.6 - No matching version found for @mui/core-downloads-tracker@^5.10.6"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. npm i @mui/material (current release is 5.10.6)

### Current behavior 😯

Package fails to install

*No matching version found for @mui/core-downloads-tracker@^5.10.6*

### Expected behavior 🤔

To successfully install the package

### Context 🔦

[2022-09-20 10:05] MVR5991 commented on #19154
We recently had the same bug in our application which took a while to get noticed since it is very subtle.
Our workaround for now is something like this:
`export const blurTarget = (event: SyntheticEvent) => {
  event.target instanceof HTMLElement && event.target.blur()
}

 <TextField
      size="small"
      type="number"
     onWheel={blurTarget}
...
`

My company would also like to see this imp

[2022-09-20 10:14] mnajdova commented on #32088
+1 on Option 4 once again :D

[2022-09-20 10:15] mnajdova commented on #33904
Yep exactly, sorry for the late response :) Should we close the issue?

[2022-09-20 10:32] kanishbodhwani commented on #29469
@michaldudak I'll create a function onKeyDown in input and restrict user to write e in the input. I've tried in code sandbox it worked well. Just guide me how I can make this across all browsers

[2022-09-20 10:34] michaldudak commented on #32088
Just for the record, as we've discussed in one of the meetings - @siriwatknp is going to prepare a POC in Joy, and once we consider the API good enough, we will create a proper implementation in MUI Base and base the Joy version on it.

[2022-09-20 10:43] kanishbodhwani commented on #29469
@michaldudak Can I make a function that restricts user to input e in the text field, I've already tried in code sandbox, It worked for me. Please correct me if I am wrong

[2022-09-20 10:49] michaldudak commented on #29469
It's not just about "e". There are other characters ("+", "-", ".") that can make the input value invalid when misused. IMO recommending not to use `type="number"` would be the safest option.

[2022-09-20 10:56] olee commented on #30847
Nice @proudust!
Can somebody maybe reopen this issue then?

[2022-09-20 11:01] olee commented on #23885
Btw, it would also be great to have a basic hook which does not return a value from an object map, but just the breakpoint value as string and/or index:
[code]

[2022-09-20 11:31] oliviertassinari commented on #32088
This problem has been discussed a couple of times over the history of the project, e.g. https://github.com/mui/material-ui/issues/9893. If we could find all the prior work, it would be great (I haven't seen any linked).

[2022-09-20 11:37] kabernardes commented on #34176
Hi, can I try this one?!

[2022-09-20 11:41] anjan-kp commented on #34379
It works but why only a workaround from v1 to v5? I thought this must have a fix in V5 as this issue is definitely a drawback of MUI accordion and must be affecting users across all devices.

[2022-09-20 12:07] #32960 closed

[2022-09-20 12:46] ofekt92 commented on #19261
@ayushrathore111 Hi, please refer to @jippy89 's answer

If you have a ternary expression inside the Select, something like that:
[code]

then changing it to this sovled the issue for me:

[code]

[2022-09-20 12:57] ZeeshanTamboli commented on #34056
Okay, that sounds good.

What I mean is if you are not passing ownerState i.e `ownerState: undefined` [here](https://github.com/mui/mui-x/pull/5890/files#diff-455a8876a2dd1a3df638e751acdf754e160d2f308571d2b5c0c5d94b7b568cddR126) (`packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx`, line 126), you probably don't need `useSlotProps` hook in the first plac

[2022-09-20 13:04] flaviendelangle commented on #34056
I feel like we are not talking about the same thing.

I am not passing it because it causes the bug described in this issue.
That's the whole point of this issue, I want to pass it.

No, for me when we pass `ownerState` to a slot, it should be used in its `styled` version but it should not override any `ownerState` deeper.
That's why  the default implementation of `shouldForwardProps` in `styled`

[2022-09-20 13:29] #34046 closed

[2022-09-20 13:33] YashGupta001 opened #34397 "How to customize the css for the material ui Select native"
<img width="996" alt="Screenshot 2022-09-20 at 7 01 36 PM" src="https://user-images.githubusercontent.com/45158388/191271167-ddfbb563-a2f2-4849-a266-a7c1831edc3a.png">

Hi Team,
Could you please help me out to know how we can customise the css for the Select component for grouping (native prop)

I want to change the look and feel for the grouping Select component

[2022-09-20 14:28] kanishbodhwani commented on #29469
### I think this will work for chrome, not sure for other browsers.

### Please review this

<img width="482" alt="Code 2" src="https://user-images.githubusercontent.com/64742906/191281447-9ca1e88f-c71f-400f-8be2-545ce161b51c.png">

<img width="390" alt="Code 1" src="https://user-images.githubusercontent.com/64742906/191281404-f94f7d5c-ed9b-49c9-a5ad-d3ef70b04e08.png">

``` PS: I am not good in na

[2022-09-20 14:52] samuelsycamore commented on #34333
@oliviertassinari my understanding (as I tried to illustrate visually but clearly I'm no designer 😛) is that a _slot_ is the "space" within an _MUI component_ (Slider, Button etc) that is filled by a _subcomponent_. So neither slot nor subcomponent (as I understand these terms) describe the depth. I don't think we really have any terminology to describe depth at this point. The `root` slot (I thin

[2022-09-20 15:02] michaldudak commented on #34383
I've already attempted to do so in #27939.

[2022-09-20 15:16] michaldudak commented on #29469
As stated in the description of the issue and the article I linked, other browsers behave differently. In Firefox, for example, you can type any character. While I appreciate your efforts, I don't want to include a half-baked solution.

Additionally, your solution does not consider pasting a value in the input.

[2022-09-20 15:21] jgentes opened #34398 "Client exception on website in Joy -> Sheet component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to https://mui.com/joy-ui/react-sheet/
2. Select a different variant in the playground drop-down:
![image](https://user-images.githubusercontent.com/1149470/191298312-9bc63348-f16a-4be7-9ee0-593aa41d0e0f.png)

### Current behavior 😯

react_d

[2022-09-20 15:26] siriwatknp commented on #34397
For the native Select, you don't have that many choices to customize the `option` and the `optgroup`.
- https://stackoverflow.com/questions/7208786/how-to-style-the-option-of-an-html-select-element
- https://stackoverflow.com/questions/7452479/how-to-change-the-style-of-a-selects-optgroup-label

I am closing this issue since it is not directly related to Material UI.

[2022-09-20 15:26] #34397 closed

[2022-09-20 15:27] siriwatknp commented on #34398
Thanks for reporting the issue. I can reproduce it as well, will fix it asap.

[2022-09-20 15:35] siriwatknp commented on #34374
I don't follow how you expect it to behave. Can you elaborate more? may be a screenshot of current vs expected.

[2022-09-20 16:05] 19Qingfeng commented on #34385
I have solved it, it has nothing to do with Mui. It is the link that causes the module to find different Mui instances. thanks

[2022-09-20 16:05] #34385 closed

[2022-09-20 16:53] kanishbodhwani commented on #29469
Okay, Thank you for the update. Will solve another issue :) 😊

[2022-09-20 17:12] samuelsycamore commented on #34333
Ah I see what you're saying now that you put it this way. I'm happy to adopt this name if you think it will be most easily understood by React devs. (Better to use existing terminology wherever possible rather than coming up with our own.)

[2022-09-20 17:19] oliviertassinari commented on #34383
@michaldudak It looks like it was a fun conversation. From what I understand the discussion stopped at

I don't see how. For example, the eslint rule says that It can't determine if the use case is valid or not, so its up to you to evaluate the case:

https://github.com/facebook/react/blob/b2748907c3cffb226447417957f2608a7c60c27d/packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDep

[2022-09-20 17:24] oliviertassinari commented on #34333
To be clear, I was only commenting on what the terms mean, I think it was the problem @siriwatknp tried to solve.

Regarding the other problem you are referring to (how we describe the terms for the developers) my only feedback would be taht subcomponent is not clear enough. It could be interpreted as a depth 2 component, while it should have been depth 3 (assuming the height of the tree is 3).

[2022-09-20 18:16] michaldudak commented on #34394
Is it still happening? The package seems to be published correctly to npm (https://www.npmjs.com/package/@mui/core-downloads-tracker), so it looks like an npm issue.
I also wasn't able to reproduce the issue locally

[2022-09-20 18:30] michaldudak commented on #33146
Sure, go ahead!

[2022-09-21 00:01] mikehuebner commented on #33525
I don't feel like this is efficient. Having to add more imports for constants sounds like bad practice. Having a place to define tokens and then use them as `xs`, `sm`, etc.. would be great. NativeBase supports this behavior and I'm trying to create something similar for a design system.

[2022-09-21 03:01] swyftx-simon commented on #13311
@mile-mijatovic Note, that creates embedded/duplicate SVGs on the DOM

[2022-09-21 03:23] takakobem opened #34404 "[Menu] ownerState is undefined when the Menu is opened"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

You can check here. When you click DASHBOARD button and error occurs.
https://codesandbox.io/s/amazing-dubinsky-pkesu9?file=/index.js

### Current behavior 😯

TypeError occurs.
[code]

### Expected behavior 🤔

no error occurs and can access ownerState.

#

[2022-09-21 06:12] ZeeshanTamboli commented on #34056
Okay, I think I understood now. I thought you were explicitly and intentionally passing `ownerState: undefined` as a requirement in your code.
But actually you want to pass some ownerState properties but then it's causing this bug of external ownerState overriding internal one.

I will try to create a PR.

[2022-09-21 06:31] siriwatknp commented on #34333
No objection to "leaf component" as long as we use the same terminology in the docs.

[2022-09-21 06:37] siriwatknp commented on #34379
Fair enough, it brings better UX for sure. I mark this as a new feature and wait for votes. If anyone would like to work on this, please propose the solution in the comment before submitting a PR.

[2022-09-21 06:42] SuperAL commented on #34393
@michaldudak Could you also leave a comment here when the changes you said about Tabs are implemented? Then I know I need to update my component when upgraded @mui/base.

[2022-09-21 08:11] #34292 closed

[2022-09-21 09:02] wangyg115 opened #34410 "[Joy][Radio] `required` prop does not work"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

When joy ui Radio compoment has required props,  it can't passing down to  `<input type="radio"/>` .

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary

[2022-09-21 09:10] wangyg115 opened #34411 "[Joy][Checkbox] Checkbox not have 'value' props"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Joy UI Checkbox not have 'value' props. When there is value props, TypeScript got anger.

### Current behavior 😯

_No response_

### Expected behavior 🤔

_No response_

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary><code>npx @

[2022-09-21 09:11] #33949 closed

[2022-09-21 09:29] michaldudak commented on #34393
Sure. We'll also include the proper note in the changelog as it'll likely be a breaking change.

[2022-09-21 09:34] burzaszsolt commented on #34238
@michaldudak Could you check please? ☝️ I can make those changes on my PR if needed.

[2022-09-21 09:39] michaldudak commented on #34333
Both Styled Components and Emotion refer to it as the rendered component (https://emotion.sh/docs/styled#as-prop, https://styled-components.com/docs/api#as-polymorphic-prop). While I also understand the term "leaf component", technically it doesn't have to be a leaf of the tree as you can pass in a component with its own deep tree.

[2022-09-21 09:41] koooge commented on #11557
JFYI, disableTypography prop was removed in mui@5.  https://mui.com/material-ui/migration/v5-component-changes/#%E2%9C%85-remove-disabletypography-prop

[2022-09-21 10:06] mitsuru-kasai commented on #31977
@Tanmay2711
 I also faced the same trouble and it took my day.

I must be too late for you but put the solution for others.

-----

Please add the style `overflow: hidden` to the container DOM.

[Document](https://mui.com/material-ui/transitions/#slide-relative-to-a-container) makes it sound as all you need to do is only specifying `container` props, but in fact you also need to set `overflow` sty

[2022-09-21 10:21] oliviertassinari commented on #28189
Correct, it's less of a proposal but more of: this could have a lot of potentials, we it could be interesting to test this path

It's what put me on the track that this could have potential. If we look at the arrow of progress, on Material UI/Joy UI, we have tried to abstract API so developers could customize the components but mostly use the same API in their real apps once customized.
On MUI Bas

[2022-09-21 10:25] mnajdova commented on #34387
I am aware of this issue, I am pretty sure it has been reported before, but couldn't find the issue. The broken autocomplete comes from the `unknown` type added in https://github.com/mui/material-ui/pull/26228. This was needed in order to make the interoperability between @mui/styles & @mui/styled-engine. We may be able to drop these in v6 if we decide to drop the compatibility between the two.

[2022-09-21 10:34] trombipeti commented on #34298
I can confirm that the issue has been fixed, thanks!

[2022-09-21 11:01] michaldudak opened #34414 "[Select][base]"
As noted in https://github.com/mui/material-ui/pull/34408#discussion_r976288729, it's worth ensuring that the event object in Unstyled Select's `onChange` method has a target property with a valid `value` property.

[2022-09-21 11:43] Lugribossk commented on #29224
This also happens for Buttons with component="label", which makes it impossible to place buttons that trigger file inputs inside a button group. E.g:
[code]

[2022-09-21 11:46] harsh5902 commented on #34414
shall i work on this issue?

[2022-09-21 12:10] EduardoSCosta commented on #32075
Hi, I'd like to do this issue :smiley:

[2022-09-21 12:17] kabernardes commented on #34176
Hi, can I try this one?!

[2022-09-21 13:33] bcomenet opened #34415 "LoadingButton doesn't inherit from ButtonGroup props"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps

1. Adding a LoadingButton component as a child of a ButtonGroup
2. Set variant, size or color prop on the ButtonGroup component

### Current behavior 😯

LoadingButton child component remains with default settings

### Expected behavior 🤔

LoadingBu

[2022-09-21 13:59] michaldudak commented on #34414
Sure, go ahead!

[2022-09-21 14:10] ffanizzanvisia opened #34416 "Scrollbar extends into header when using stickyheader on Table component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Have an implementation of a Table using the stickyHeader prop, and sufficient rows to make a scrollbar appear (ex: https://mui.com/material-ui/react-table/#sticky-header)
2. Note that the scrollbar extends into the header:

![image](https://use

[2022-09-21 14:13] luscas commented on #2130
be happy

[code]

[2022-09-21 14:36] FlorianBurgevin opened #34418 "Autocomplete don't get disabled value from FormControl"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Hello,

I'm trying to customize the Autocomplete component.

I want to use it with a FormControl as I use it with my other custom components.
The FormControl should control the "disabled" and "error" state of the input.

But, with the Autocomplete, the di

[2022-09-21 17:07] Philip2809 opened #34420 "[TextField select] `name` props gets passed to the <input> element but the `id` prop does not"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add a "TextField" element
2. Add the props `name` and `id` to it
![image](https://user-images.githubusercontent.com/51290462/191566790-405d9742-4950-44ea-8655-494f2233f51f.png)
3. Open page and look at the source code for the "input", the `name

[2022-09-21 17:09] Philip2809 commented on #34420
If you would like a live demo: https://codesandbox.io/s/react-mui-forked-s9lir1
Use your browsers inspector to check the html code.

[2022-09-21 17:28] kinoli commented on #34150
Any progress on this? Experiencing the same issue.

[2022-09-21 19:59] mathura333 opened #34422 "UI breaking with next js"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Added all the code as per the official examples of mui with next js
2. UI is breaking

### Current behavior 😯

UI is breaking

### Expected behavior 🤔

No UI break when working with SSR, SSG

### Context 🔦

**pages/_app.tsx**

[code]

**createE

[2022-09-21 20:03] putnamn21 opened #34423 "DataGrid - Filter Toolbar quickview shows 'undefined' for is Empty and is Not Empty operators"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to a MUI grid on MUI.com that has the tool bar with the filters button.
2. Filter a column with `isEmpty` or `isNotEmpty` operator
3. hover over the filter button in the toolbar to see the tooltip
4. note that 'undefined' is displayed in the

[2022-09-21 20:04] putnamn21 commented on #34423
Github is not allowing me to attach an image else i would... getting a certificate error from your guys s3 bucket.

`POST https://github-production-user-asset-6210df.s3.amazonaws.com/ net::ERR_CERT_COMMON_NAME_INVALID`

[2022-09-21 20:24] putnamn21 commented on #34423
opened on mui-x instead - https://github.com/mui/mui-x/issues/6246

[2022-09-21 20:24] #34423 closed

[2022-09-21 21:09] MariaSolOs commented on #34387
@mnajdova That would be great!

[2022-09-21 23:39] olivierkastel opened #34425 "[Joy][Chip] `onClick` is not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to https://codesandbox.io/s/winter-cloud-2it1xn?file=/demo.js
2. Try to click on the chip. Nothing happens.
3. Try to click on the button. It worked.

### Current behavior 😯

The handler "onClick" is not triggered when the user clicks on the

[2022-09-21 23:42] olivierkastel commented on #34425
Even the official example in the doc is not working:
https://mui.com/joy-ui/react-chip/#clickable-and-deletable

Clicking on the delete icons works, but not on the chip itself.

[2022-09-22 03:41] #34084 closed

[2022-09-22 03:50] siriwatknp commented on #34425
Looks like a bug to me.

[2022-09-22 03:57] #34293 closed

[2022-09-22 04:01] siriwatknp commented on #34415
The `LoadingButton` does not use the context from the `ButtonGroup` so I mark this as a new feature.

[2022-09-22 04:03] siriwatknp commented on #34411
Thanks for reporting the issue! will fix it asap.

[2022-09-22 04:11] siriwatknp commented on #34404
`ownerState` is missing in Popover.

[code]

[2022-09-22 07:25] fonty422 commented on #34347
Thanks @siriwatknp. Thanks for your time.
I have no idea how that code broke... it was working perfectly fine when I added the link and I can't see why it's not working now as it's complaining about things that aren't broken. Sandbox doesn't appear to have support for version 5 properly - it breaks all the time, so I can't provide that.

In any case I *think* I may have just shown that it's not th

[2022-09-22 09:23] petercutting opened #34427 "ListItem checkbox not spoken by screenreader (WCAG)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. install screenreader extension in chrome browser
2. surf to https://v4.mui.com/components/lists/
3. scroll down to List Controls - Checkbox example
4. start screenreader extension
5. use tab key to move up and down list. screenreader sais "Line

[2022-09-22 09:27] LeoLozes opened #34428 "Long Tooltip at the end of page renders at bottom by default"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a tooltip with a very long title.
2. Position the tooltip at the bottom of the page.
3. Resize your browser height until the tooltip doesn't have space to render on top.
4. See that the tooltip renders at the bottom, and you can't see it

[2022-09-22 10:10] #34319 closed

[2022-09-22 11:27] mnajdova commented on #34170
Agree, the example should be updated according to the latest template from Remix. Would be great if someone from the community, especially if that someone uses Remix can handle it.

[2022-09-22 11:38] mnajdova commented on #34418
Thanks for the feedback. I agree, it is surprising that the other input elements are compatible with the `FormControl` component, but the `Autocomplete` is not. We should fix this by using the `useFormControl` hook in the `Autocomplete` component too. @FlorianBurgevin would you be up to creating a pull request for this and pinging me for review?

[2022-09-22 11:50] mnajdova commented on #34420
Thanks for the report, you should use the `SelectProps`.`inputProps` for propagating the id, or use the `native: true` on the `SelectProps` so that it behaves as the other input elements. See https://codesandbox.io/s/react-mui-forked-y69vvf?file=/index.js

[2022-09-22 11:51] #34420 closed

[2022-09-22 12:44] FlorianBurgevin commented on #34418
Hi @mnajdova !

Pull Request is done !

[2022-09-22 13:12] oliviertassinari commented on #17595
The issue is solved since [Firefox 105](https://www.mozilla.org/en-US/firefox/105.0/releasenotes/): proof https://cxrdm.csb.app/.

Thanks @ztoben for the heads-up. in https://github.com/yocontra/react-responsive/issues/246#issuecomment-1253728141.

[2022-09-22 13:32] Focus-me34 commented on #12262
@mbrookes Thanks for your answer. Solved my problem with the `StepButton` component! ❤️

[2022-09-22 13:37] Lugribossk commented on #34028
This issue is blocking us from using the Next.js Link component via the theme throughout our application, so it would be great to have it fixed 😄

[2022-09-22 14:42] murilolivorato opened #34432 "Checkmarks select , cant set initial value"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

I cant get initial value at Select with  Checkmarks -

[code]

it is not selecting initial values . the initial values is  [1,2,3]

it is not selecting

### Current behavior 😯

there shoes no error , just does not select initial values

### Expected behav

[2022-09-22 15:02] slashwhatever opened #34433 "TextArea padding being injected differently to TextInput...?"
![Screenshot 2022-09-22 155633](https://user-images.githubusercontent.com/996667/191782087-590e51ac-5dfa-4760-8828-b023380e0d76.png)
![Screenshot 2022-09-22 155601](https://user-images.githubusercontent.com/996667/191782092-3c1fe5cd-a015-463e-9c8d-ffe0a7640445.png)

The two attached screenshots are from my storybook implementation as I'm testing some styling changes to Material UI. I'm updating th

[2022-09-22 15:46] ZFail opened #34436 "[TextField] significant performance drop (x10 times slower) when rendering a TextField"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

two samples (v4 and v5) identical and render 3000 TextFields
Steps:
1. open v5 version  https://codesandbox.io/s/mui-v5-perf-pk1h1h
2. press reload button -> render takes 20s
3. open v4 version https://codesandbox.io/s/mui-v4-perf-x8v9ew
4. press reload b

[2022-09-22 18:27] ptrfrncsmrph opened #34438 "getLuminance doesn't work with hsla colors"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

`getLuminance` doesn't seem to handle `hsla(..)` colors correctly. For example, `getLuminance("hsla(0, 0%, 100%, 1)")` returns `0.009` (I would expect it to return `1`).

Code sandbox here: https://codesandbox.io/s/xenodochial-hamilton-5igep7?file=/src/Ap

[2022-09-22 19:18] devlukedreamstage opened #34439 "Dropdown menu on Select with over 200 options initally opens to the side then teleports to where it should be"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:
https://codesandbox.io/s/brave-elgamal-yl0jq2?file=/src/App.tsx:273-284

1. Render a select component
2. Map out atleast 200 menu items
3. Clicking on select and then opening menu gives weird behavior

### Current behavior 😯

Clicking on the select

[2022-09-22 20:35] EduardoSCosta commented on #32466
If nobody is working on this issue, I'd like to try to solve it :smiley:

[2022-09-22 22:10] marcusjwhelan opened #34440 "MenuItem improperly inherits from Reacts Button type when it shouldn't especially when used in Select"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Attempt to use an object array in Select component with MenuItem value being a single object.

### Current behavior 😯

This error on MenuItem when trying to assign an Object to the value
[code]

### Expected behavior 🤔

Not give me a typescript

[2022-09-23 02:19] jmca commented on #12921
Passing `value` also works for me so far, thanks for the tip. Extending `TooltipProps` interface keeps it valid TS too:
[code]

[2022-09-23 03:46] siriwatknp commented on #34282
Likely to be fixed by https://github.com/styled-components/styled-components/pull/3812

[2022-09-23 03:47] siriwatknp commented on #34176
Thanks for asking but I think we will have to wait for the decision first.

[2022-09-23 06:17] zolzaya commented on #34170
Please update the example. I have an issue with remix.js

[2022-09-23 06:38] mnajdova commented on #34170
There is an ongoing PR for udpating the Remix example - https://github.com/mui/material-ui/pull/34407

[2022-09-23 06:43] MatetlotDev commented on #30249
Hi, I had the same issue for creating a paginated Autocomplete Dropdown with Material-ui. Every time the component refresh the list goes back to the top. The problem is that when we add some options to the list two props get updated and re-render the component. So here's what I did for a workaround :

[code]

Hope it helps !

[2022-09-23 07:21] jorgenhovind opened #34441 "scrollToIndexes does not work with pagination"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Have a paginated table
2. run `scrollToIndexes` on a table where the indexed row is not on the current page

### Current behavior 😯

Nothing happens

### Expected behavior 🤔

Should navigate to the relevant page and scroll to the row

### Conte

[2022-09-23 08:08] eudinnou commented on #21111
Our first internal solution is this patch: https://gist.github.com/eudinnou/e7f5a73f7441bf138d2c583c243abc1a following these steps:
1. clone the repo and checkout the tag version that you need
2. apply the patch
3. run yarn
4. run yarn docs:build-bundle

Usage:

[code]
Additionally, we also copied some static images from `docs/public/static` and `prism-okaidia.css`.

<img width="1725" alt="Screen

[2022-09-23 08:47] himalhotra-conga opened #34442 "The selected field should automatically appear in the middle of the scrollbar, with one option before and one option after it in the scrollable grid"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Let's take the instance of a calendar, with names of the months in the scrollable tab. Currently, three months are displayed in the scrollable grid. For example, while raising this issue, the month by the calendar is September. Therefore, the auto month selected is

[2022-09-23 09:37] thomasjm commented on #34174
Okay, I tried it with React 18 and got the same result I had with React 17. I now have two branches of the original repro I posted:

https://github.com/thomasjm/razzle/tree/textfield-ssr-rawinput-react17/examples/with-material-ui
https://github.com/thomasjm/razzle/tree/textfield-ssr-rawinput-react18/examples/with-material-ui

FWIW, I got the following suggested solution from StackOverflow. If this

[2022-09-23 09:52] eilon100 opened #34443 "SelecUnstyled bug"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

(https://codesandbox.io/s/qo1ny5?file=/demo.js)

### Current behavior 😯

when opening the toggle device tool bar and choosing one pf the styledoptions the apps crashed and size the error
:Error: Maximum update depth exceeded. This can happen when a compon

[2022-09-23 10:25] GeekMikle commented on #16307
This also worked for `textTransform: 'capitalize' as const,`

[2022-09-23 10:40] emlai commented on #18465
This is still an issue in the latest version.

[2022-09-23 10:45] ZeeshanTamboli commented on #34443
@eilon100 I am not able to reproduce the issue in the provided CodeSandbox.

I see that you are using MUI Base version `@mui/base:  5.0.0-alpha.94`. Please update to the latest version which is `5.0.0-alpha.98`. This issue was fixed in version `5.0.0-alpha.95`.

[2022-09-23 10:45] #34443 closed

[2022-09-23 10:54] ZeeshanTamboli commented on #34422
Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub that we can fork that reproduces the problem.

It's hard to check without it.

[2022-09-23 11:57] kabernardes commented on #34404
Hi, can I try this one?

[2022-09-23 12:45] bcomenet commented on #34415
I think so, to solve this issue we did it this way for the moment.

`
import * as React from 'react'
import Tooltip from '@mui/material/Tooltip';
import MuiButton from '@mui/material/Button';
import CircularProgress from '@mui/material/CircularProgress';

export const LoadingButton = React.forwardRef(
	function LoadingButton({ children, loading, ...others }, ref){
    return (
      <MuiButton

[2022-09-23 12:47] Philip2809 commented on #34420
Hi! Thanks for the answer, but what I don't understand is why does this only happen to the select component? Like why do you need to add `native: true` to the select but not to the text input?

[2022-09-23 13:24] mnajdova commented on #34436
You can use the `disableInjectingGlobalStyles` option in the `InputBase` in scenarios like this, with the downside that you would need to add the global styles for the auto-fill keyframe yourself at the top of your app. See https://codesandbox.io/s/mui-v5-perf-forked-ogd8ks?file=/src/App.tsx

It's the second time we see an issue like this, so maybe it is worth adding a perf example on the Text Fie

[2022-09-23 14:32] SanNic20 commented on #34317
@ZeeshanTamboli  . If you look at the component with the browser dev tool, you see that by default there is a margin of -8 which shifts the masonry slightly to the left and top

![image](https://user-images.githubusercontent.com/107637882/191984316-c99c4e6d-addf-4d84-a410-79dc3ea466fe.png)

[2022-09-23 15:01] emlai commented on #29564
I made a PR to fix this: #34444

[2022-09-23 15:50] #34398 closed

[2022-09-23 15:56] siriwatknp commented on #34438
Thanks for reporting the issue and the PR!

[2022-09-23 16:02] lewxdev opened #34447 "Give `@mui/material/styles` `css` export access to Theme in interpolation"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

When using TypeScript, it's apparent that the `theme` object isn't available when using `css` and the function doesn't seem to be used anywhere in the docs (despite being preferred in the emotion docs).

[code]

When using `css` from "@mui/material/styles", the MUI

[2022-09-23 17:40] kabernardes commented on #34383
Hey, can I try this one?!

[2022-09-23 19:46] jakekh opened #34450 "[docs] Demo VirtualElementPopper crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20VirtualElementPopper%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-popper/
2. highlight some text and open the popper
3. click outside the typography component before the popper is hidden

[2022-09-24 06:08] ZeeshanTamboli commented on #34317
Okay, I am not sure whether it's a bug or is intentional. I'll move it back to "status: needs triage". @hbjORbj Will take a look and confirm.

[2022-09-24 09:08] ZeeshanTamboli commented on #34439
Duplicate of #34236

[2022-09-24 09:08] #34439 closed

[2022-09-24 09:09] ZeeshanTamboli commented on #34439
Also related to #34208

[2022-09-24 09:10] eps1lon commented on #34174
The repro returns a 404. But I would recommend not using MUI at all to demonstrate the issue with React itself.

[2022-09-24 09:14] ZeeshanTamboli commented on #34432
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-09-24 09:42] thomasjm commented on #34174
Whoops, forgot to push the React 17 branch. Pushed now.

These repros don't use MUI, as you can see [here](https://github.com/thomasjm/razzle/blob/textfield-ssr-rawinput-react17/examples/with-material-ui/src/App.js). But you can easily comment the raw `input` and uncomment the `TextField` part to see the MUI behavior. (Well, I guess it uses `<Paper>` but that shouldn't be relevant.)

[2022-09-24 10:36] oliviertassinari commented on #34418
The example in the codesandbox is:

[code]

The disabled prop is not the only issue, there are many more:

- The listbox of the autocomplete doesn't link the label
- the label doesn't link the textbox
- the size isn't inherited from the FormControl
- the InputLabel is not used to inherit more states from the FormControl
- wrong props are spread to the DOM element

From my perspective, we need is t

[2022-09-24 11:09] #34306 closed

[2022-09-24 12:40] eps1lon commented on #34174
It's really important that these repros have as little context as possible. Try to reproduce the code to a bare minimum. There shouldn't even be a mention of MUI.

[2022-09-24 23:51] thomasjm commented on #34174
All right, repros are pretty minimal now.

[2022-09-25 02:50] pavinduLakshan opened #34473 "@mui/styles is incompatible with React 18"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a React app using React 18.
2. Try running `npm i @mui/styles` in the project directory from the terminal.

### Current behavior 😯

Getting an error when trying to install the styles package.

[code]

### Expected behavior 🤔

Should be a

[2022-09-25 02:58] #34473 closed

[2022-09-25 05:57] ZeeshanTamboli commented on #34433
`padding` is applied internally when `multiline` prop is passed to `TextField`. See:
https://github.com/mui/material-ui/blob/2890881a35de8bd364ccc7cab4fb7c2c227b130f/packages/mui-material/src/OutlinedInput/OutlinedInput.js#L73-L74
So yes, you will have to override it if you don't want padding.

[2022-09-25 05:57] #34433 closed

[2022-09-25 07:57] slashwhatever commented on #34433
That's because they're different instances on different pages. I would have at least hoped for an actual class to hook into for overrides. Aside from my own wrapper element, there's no way to tell those two fields apart to be able to override them in CSS.

If I wanted 20px padding on TextArea and only 10px on Input, it would be impossible to override in just the global theme, for example.

[2022-09-25 22:58] johndatserakis commented on #34398
Found this issue thread after I experienced a full-on client exception when browsing the Joy UI site. It happens to me any time a dropdown is used to changed variants - for any component or page.

I figured because https://github.com/mui/material-ui/pull/34408 was completed it would be fixed, but I'm still seeing it. Video attached.

Maybe that PR didn't get built or put into prod yet. Just figure

[2022-09-26 00:53] natalyjazzviolin commented on #34236
@michaldudak I'd love to take this on. I've looked into it and the flicker starts happening when the list has 56 or more items in it and becomes noticeable to the naked eye around item 70. I'm thinking virtualization using `react-window` would be the way to go, similar to what is done in the [autocomplete component.](https://mui.com/material-ui/react-autocomplete/#virtualization) Would you say thi

[2022-09-26 02:43] siriwatknp commented on #34398
Thanks for reporting. I should have mentioned that even though the issue is closed but the docs have not been deployed yet. This is on me, I should have did the hotfix.

[2022-09-26 02:47] siriwatknp commented on #34404
Absolutely!

[2022-09-26 04:50] #34425 closed

[2022-09-26 04:51] #34438 closed

[2022-09-26 04:51] #34056 closed

[2022-09-26 04:55] #33966 closed

[2022-09-26 05:14] #29696 closed

[2022-09-26 06:50] #31981 closed

[2022-09-26 07:22] gottfired commented on #26561
Definitely confusing. But from @oliviertassinari 's comments I assume that https://github.com/mui/material-ui/tree/master/examples/nextjs-with-typescript ist still the way to go and safe regarding automatic optimization as explained here https://nextjs.org/docs/advanced-features/automatic-static-optimization?

One thing that is not done in _ document.tsx in the sample is checking for `ctx.req` as

[2022-09-26 08:09] ZeeshanTamboli commented on #34433
You can use `multiline` and `input` CSS classes.

It's possible with theme's `styleOverrides`. See [CodeSandbox](https://codesandbox.io/s/great-hooks-f313d2?file=/src/App.tsx).

I hope it helps.

---

We suggest to please use StackOverflow for these type of questions.

[2022-09-26 08:11] #34326 closed

[2022-09-26 08:15] mnajdova commented on #34450
I couldn't reproduce this on Chrome, Mozilla nor Edge. I've used both Light and Dark mode. Could you maybe share more info about your interactions with the docs before the demo crashed?

[2022-09-26 08:18] mnajdova commented on #34447
Hi, the `css` , `keyframes` and `ThemeContext` utils from the @mui/* packages are just exported from emotion, this is why we don't document them. You should follow the instruction on the emotion's [TypeScript guide](https://emotion.sh/docs/emotion-11#typescript) for more info on how to configure the `Theme` interface.

[2022-09-26 08:19] #34447 closed

[2022-09-26 08:29] slashwhatever commented on #34433
Ooooh. Light bulb moment for me on theme! Thanks!

[2022-09-26 09:11] #34339 closed

[2022-09-26 09:11] #34341 closed

[2022-09-26 10:19] radu-nicoara-bayer commented on #21474
Having an easy way of using drag and drop in TreeView would also mean a lot for our business.

[2022-09-26 10:26] rudiaj commented on #28330
this way we lose ts support

[2022-09-26 10:36] #34410 closed

[2022-09-26 10:36] #34411 closed

[2022-09-26 12:11] #34370 closed

[2022-09-26 12:11] #34372 closed

[2022-09-26 12:17] #34151 closed

[2022-09-26 12:56] FlorianBurgevin commented on #34418
@oliviertassinari it's a bit confusing to use FormControl inside the Autocomplete no?

[code]

The `FormControl` is a wrapper that should contain any type of field. And take care of the label and other stuff around a field.

So, i should be able to use an `Autocomplete` as a field inside my `FormControl` ?

[code]

[2022-09-26 13:13] Exahilosys opened #34483 "Use @container instead of @media query for Grid"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Among the latest CSS specifications is the @container query which I believe could be seamlessly integrated with the Grid component to bring truly isolated responsive component irregardless of screen size.

### Examples 🌈

The top-level api for Grid could remain the

[2022-09-26 13:43] minkyngkm opened #34484 "Mouse pointer is not displaying on esc on large screens"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to https://mui.com/
2. Click Search
3. Hover over  the `esc` button
<img width="730" alt="Screenshot 2022-09-26 at 2 28 56 pm" src="https://user-images.githubusercontent.com/57550290/192289206-62ad1cb8-0122-4490-aa87-793aac727db8.png">

###

[2022-09-26 15:07] mnajdova commented on #34404
This is an important thing that should be resolved in v6. I remembered we had a discussion around it in https://github.com/mui/material-ui/issues/31982.

It's the third time we are seeing similar issue.

[2022-09-26 17:06] totszwai opened #34486 "[Slider] Add a support for form value when range slider is used"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

See sandbox: https://codesandbox.io/s/invalid-slider-form-submission-vv7uj6

Steps:
1. Create a Slider with range selection
2. Give the Slider a `name` for form submission
3. Submit the form

### Current behavior 😯

The form submission return is invalid a

[2022-09-26 17:19] lewxdev commented on #34447
Awesome, I should've dug deeper into the docs.
I found [their TypeScript specific docs](https://emotion.sh/docs/typescript) a little more helpful, especially [this section on theming](https://emotion.sh/docs/typescript#define-a-theme). Nonetheless, thanks for steering me in the right direction

[2022-09-26 18:14] jd-carroll opened #34487 "Themed SVG Icon"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I have a handful of icons which use multiple colors and I would like to be able to efficiently support light & dark mode.  To accomplish this, I would love to somehow use my active theme within the svg icon.  I'm sure the best practice is to create `IconLight.tsx` a

[2022-09-26 18:20] EduardoSCosta commented on #32466
If I understood correctly, this happens because emotion (the library that MUI uses as a styling engine) inserts the style tag above each element.

They explain and show a solution [here](https://emotion.sh/docs/ssr).

[2022-09-26 19:11] mnajdova commented on #33303
There is also a change in the shadow when focused:

![button-focus](https://user-images.githubusercontent.com/4512430/192359995-5f5421ef-6ccb-4b6d-9aaa-80182d036c37.gif)

@alisasanib you take this demo as an example: https://material.io/components/buttons#usage (this is what I used in the gif above).

BTW, we should treat this as a breaking change in my opinion, as it differs quite a bit compared

[2022-09-26 19:21] mnajdova commented on #34248
+1 on this. @paulschreiber I am closing the PR that changes the behavior of the `Divider` component as it doesn't look like a correct default behavior. I benchmarked other UI libraries and none of them uses `aria-hidden` by default.

Would you like to open a new PR that will add an accessibility section for this component explaining when the `aria-hidden` prop should be added?

[2022-09-26 19:46] xiaoyu-tamu opened #34489 "Make `@mui/icons-material` independent from `@mui/material` in the future?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hey, @siriwatknp,

Are there any plan to make `@mui/icons-material` that not depends on `@mui/material` in the future?

I'm working on a side project that use `@mui/joy`. The auto import vscode intellisense sometime import components from `@mui/material` instead of

[2022-09-26 21:48] genepaul commented on #12358
It seems this is still an issue. We now are able to show or hide scroll buttons, but if we hide the scroll buttons, there's no indicator that there are more buttons, or that the buttons are scrollable. What I find interesting is that Google Maps appears to have a different tab behavior, where as you click tabs, it scrolls the container to show there are more tabs:

https://user-images.githubuserco

[2022-09-26 22:29] skrimusss commented on #32749
you need to: <Tabs ---> value={false} <--- ><Tab>props</Tab></Tabs>

[2022-09-26 23:05] phaybein commented on #29860
I know this is closed but thought this might help someone...

- We were using `"@mui/x-data-grid-pro": "^4.0.2",` in our package.json with `"react": "^18.2.0",` and `"react-dom": "^18.2.0",`
- We did the following to clear the `dispatcher.useSyncExternalStore` and `useId`  error
-   `ff npm install @mui/material@5.1.1 @mui/utils@5.1.1`

[2022-09-27 00:11] olivierkastel opened #34490 "Joy Select : Menu is not opening if you click on the Avatar."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Go to the official documentation: https://mui.com/joy-ui/react-select/#option-component
2. Click on Eric's picture
3. The options show and hide instantly

### Current behavior 😯

When clicking on the Option's avatar, the menu opens and closes a

[2022-09-27 00:14] paulschreiber commented on #34248
@mnajdova I am not the best person to write this. @jscholes can certainly explain better.

[2022-09-27 00:34] jd-carroll opened #34491 "SVG Wrapped SVG"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Step 1: Create an icon with `createSvgIcon`
[code]
Step 2: Use the BanIcon in an active component

### Current behavior 😯

With the example above you end up with a DOM structure similar to:
[code]

### Expected behavior 🤔

I would have expected that the s

[2022-09-27 00:38] athosfranco commented on #21377
This solved my problem. Thanks.

[2022-09-27 05:42] ZeeshanTamboli commented on #34490
Thanks for reporting! It's a bug.

[2022-09-27 06:28] #34484 closed

[2022-09-27 07:46] mnajdova commented on #34491
You should not include the `svg` in the param of the `createSvgIcon` factory. Take a look at the documentation for more examples: https://mui.com/material-ui/icons/#createsvgicon

[2022-09-27 07:46] #34491 closed

[2022-09-27 07:50] mnajdova commented on #34490
We should re-use the same logic as in the Basic menu demo, by introducing a `preventReopen` const - https://mui.com/base/react-menu/#basics

I noticed the same issue in the introduction demo - https://mui.com/base/react-menu/#introduction We may as well fix this with the same iteration. Would be worth double-checking the other menu demos.

I want to emphasize that this would be fixed automatically

[2022-09-27 07:55] muhammad342 commented on #30379
It is really helpful finally got it fixed but using your solution.

[2022-09-27 08:17] mnajdova commented on #34486
You can follow the example in the docs for the range slider - https://mui.com/material-ui/react-slider/#range-slider You should use the component in controlled mode and then you can use your state value as part of the form data. I can't find any "official" way of how the value should be represented for a slider with multiple thumbs, so I wouldn't change the logic just yet.

I am adding the "waitin

[2022-09-27 08:22] mnajdova commented on #34428
Have you tried adding the `placement="top"` property to test if it would work better for this use-case? Here is an example: https://codesandbox.io/s/long-tooltip-demo-forked-8w2q77

[2022-09-27 08:49] ZeeshanTamboli commented on #34490
@mnajdova This issue seems different to me from what you are saying. Here the Joy's select menu is closing after opening, so we want to instead prevent closing of menu automatically if it's opened.

Also I couldn't reproduce it on Base's Menu demos you pointed out towards, but rather in Joy's Select demos:
- https://mui.com/joy-ui/react-select/#option-component
- https://mui.com/joy-ui/react-selec

[2022-09-27 08:51] noobDev31 opened #34495 "Button Group needs to have a separate class according to the size of the button group"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I am trying to style my **Split Button** but I see in the **ButtonGroup API** there is no class being applied for size whenever I am trying to change it from medium, small or large.

Although the Button's within the group do get the styles according to the size.

I

[2022-09-27 09:46] siriwatknp commented on #34489
@xiaoyu-tamu Thanks for the feedback. We discussed this internally earlier about Joy UI feat. material-icons without having to install `@mui/material`.

I will create a POC version and wait for upvotes first. At least the current status is not a blocker.

[2022-09-27 09:54] siriwatknp commented on #34487
You can read the modes from `theme.palette.mode` and switch the color between them:

[code]

[2022-09-27 09:56] siriwatknp commented on #34487
For me, having a single icon file `Icon.tsx` sounds better.

[2022-09-27 10:01] siriwatknp commented on #34483
Thanks for the feedback! I agree that the CSS container query will bring a lot of benefits to the layout. However, we should be specific on the use cases that the container query + `Grid` would solve.

Do you have an example where using `<Grid isolated>` would solve the issue? also please explain the issue first.

[2022-09-27 10:36] mnajdova commented on #30414
There is a change in the behavior between React 17 and React 18 in terms of when the paper ref is being set, which makes this line https://github.com/mui/material-ui/blob/master/packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js#L492 not being invoked in React 18, while it is invoked in React 17. I will need to dive a bit deeper to see why this is happening. It may be related to the `Tra

[2022-09-27 11:11] TiagoPortfolio commented on #33904
Yes, thanks for the help, let's close it! :)

[2022-09-27 11:11] #33904 closed

[2022-09-27 11:41] TamirCode opened #34497 "[TextField] Add new `warn` prop (similar to error prop)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

In MUI textfields, you have a prop called `error`  and `helperText`.
I would like to also have a prop called `warn`, which also accepts a boolean. It will change the color of the input to "warning" orange, as well as the color of the helperText. The `error` prop wil

[2022-09-27 12:47] hrhrsdn opened #34498 "[Tabs] Tab Switch occurs automatically on closing when Menu is used inside the Tab Label"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Here is the code sandbox link to for issue replication.
https://codesandbox.io/s/material-demo-forked-2fcxmo?file=/demo.js

### Current behavior 😯

When I click on the three dot menu inside the  Tab component and click outside, the popup closes and sets l

[2022-09-27 13:38] thomasmery commented on #33785
trying to achieve something similar

wanted to be able to only have to add a 'pills' variant to the Tabs component and style it via the theme `components.MuiTabs.variant` key

it seems counter productive to have to create a custom Tab component (event just styled()) to do this

any chance to get feedback on this from the mui team?

how would we go about augmenting the 'variant' prop?

thanks

[2022-09-27 14:58] kabernardes commented on #34383
@oliviertassinari, I am looking at this issue and I have a question/suggestion:
I used the initial idea of @michaldudak in #27939, which appears to work. But, it will be a little different than what you ask, it would be:

 `const handleRef = useForkRef(updateHostElementName, externalRef, focusVisibleRef, buttonRef);`

When I try to put all the refs in an array, it didn't accept because some can be

[2022-09-27 16:02] dlasagno commented on #9716
I'm posting the solution I came up with after a bit of research:
[code]
This solution retains the ability to drag an drop the files and uses TextField as the input.
I haven't tested this extensively, so I don't know about its shortcomings.

[2022-09-27 16:11] #34374 closed

[2022-09-27 17:28] totszwai commented on #34486
@mnajdova Please don't close this issue and change the title back to the original... this is not a feature request, but an actual bug...

[2022-09-27 17:46] Tigremen opened #34499 "Stepper alternativeLabel prop doesn't work with ClassNameGenerator"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1- Use the ClassNameGenerator to change the class prefix of MUI. Like in the documentation [here](https://mui.com/material-ui/experimental-api/classname-generator/#change-class-name-prefix)

2- Use the Stepper component with the alternativeLabel p

[2022-09-27 18:00] ianschmitz opened #34500 "[SwipeableDrawer] component isn't overridable"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Try to override `MuiSwipeableDrawer` when creating a theme:

![image](https://user-images.githubusercontent.com/6355370/192601214-3d623dd3-c689-4cd9-b01a-baa10cff4133.png)

### Current behavior 😯

The type isn't present in https://github.com/mui/material-

[2022-09-27 18:20] mnajdova commented on #34497
I propose we wait for upvotes. I could only find this prop in the ant design's [input component](https://ant.design/components/input/), here is a [Codesandbox](https://codesandbox.io/s/tt0fqk). Moreover, I couldn't find any request for this in the past, so let's see if this issue will get some traction :)

[2022-09-27 19:12] #34394 closed

[2022-09-27 19:48] benjamin-andersen opened #34501 "[v5] Inconsistent media query behavior with style props"
### Duplicates

- [x] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Code sandbox minimal reproduction:
https://codesandbox.io/s/dreamy-cherry-smx5lt?file=/src/App.tsx&resolutionWidth=499&resolutionHeight=675

### Current behavior 😯

I am trying to use `theme.breakpoints` in style props in various ways but it only works if

[2022-09-27 21:16] jscholes commented on #34248
I would love to see an "Accessibility" section for this component in the docs, explaining when a divider can/should be considered to be decorative.  E.g. when preceded or followed by a heading which performs a similar but more appropriate semantic purpose.

Unfortunately, I don't have the cycles to write such a summary, nor the familiarity with this particular UI library that would qualify me to d

[2022-09-27 21:21] httpete opened #34502 "Latest 5.10.7 Causes duplicate classes in snapshots"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. upgrade from 5.10.7 from 5.10.6

### Current behavior 😯

[code]

[2022-09-27 22:15] dizzyjaguar commented on #32400
This is the best solution! Just ran into the same problem.

[2022-09-27 22:16] Exahilosys commented on #34483
Hello and thank you for taking a look into this! I'd be glad to clarify further.

I will try to demonstrate the issue with an example, take these person inputs:
<img width="963" alt="Screenshot 2022-09-28 at 00 56 24" src="https://user-images.githubusercontent.com/22274370/192643441-4e870157-6758-467f-a0f9-e981b3cd4111.png">

The background color is `lightblue` for demonstration purposes.

If the

[2022-09-27 23:25] fonty422 commented on #34347
I think I've found the culprit and also why I hadn't noticed it until late.
It appears that the slider is prone to getting stuck while the virtual list below updates and re-renders. I wouldn't have thoughts it was such an issue and that react would be better at only processing changes to the DOM.
I'm currently trying to provide a sandbox with the correct versions of everything, but it appears to b

[2022-09-28 04:21] aladd04 commented on #34392
Did you happen to find a workaround? I also upgraded a project recently to the latest version of React and am seeing this issue. Might have to downgrade back to 17.x?

[2022-09-28 06:03] siriwatknp commented on #34499
I could not reproduce from your [CodeSandbox](https://codesandbox.io/s/changeclassname-breaks-stepper-forked-vbuumg?file=/src/MuiClassNameSetup.js), could you take a look again?

[2022-09-28 06:09] mnajdova commented on #34502
@httpete can you share the component that was rendered in the test in a Sandbox?

[2022-09-28 06:26] mnajdova commented on #34501
This is creating a valid CSS and it works 👍

This is not a valid CSS and it is not an API supported by MUI (it is not documented anywhere, hence it doesn't work. We have a page that describes in details how you can specify responsive values: https://mui.com/system/getting-started/usage/#responsive-values

Basically, the syntax is using the breakpoint name as a key, instead of the media query, whic

[2022-09-28 06:26] #34501 closed

[2022-09-28 06:44] mnajdova commented on #34286
Yep, it is the same issue. I am closing this as a duplicate of https://github.com/mui/material-ui/issues/28465

[2022-09-28 06:44] #34286 closed

[2022-09-28 07:04] #34404 closed

[2022-09-28 09:13] akshitarora921 commented on #26362
@maksimgm Any solution?

[2022-09-28 10:52] tech-meppem opened #34503 "responsiveFontSizes does not respect use of custom variants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add new typography variants using suggested method: https://mui.com/material-ui/customization/typography/#adding-amp-disabling-variants
2. When creating a theme using `responsiveFontSizes`, the typing does not allow the new variants.

### Curre

[2022-09-28 11:35] belinsky opened #34504 "[TextField] no size className"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add `size="customSize"` to `TextField` on `Input`

### Current behavior 😯

When trying to pass a custom `size` property, the required class is not attached to the element

### Expected behavior 🤔

`size` className should be attached, like in `B

[2022-09-28 11:37] benjamin-andersen commented on #34501
Hi @mnajdova! Your response is confusing and does not resolve this bug report and as a result I think it should be re-opened.

This clearly does not work as stated in the bug report. It is also very clear from the code sandbox that this doesn't work.

The documentation clearly displays that my first example should work here:
https://mui.com/material-ui/customization/breakpoints/#api

The last two

[2022-09-28 13:26] kabernardes commented on #30034
Can I try this one?!

[2022-09-28 13:49] mnajdova commented on #30414
I've created https://github.com/mui/material-ui/pull/34505 which is fixing the two issues mentioned here. I am not 100% happy with the fix, as it requires using `keepMounted` on the Modal, but let's see if other maintainers will have some suggestions around this.

Here is a sandbox with the fix: https://codesandbox.io/s/7qkr9k?file=/demo.tsx

[2022-09-28 14:34] patorjk commented on #18517
Is this something that's still being looked into? I just ran into this myself. I see that 'rgba(0, 0, 0, 0.23)' and 'rgba(255, 255, 255, 0.23)' are used for the border colors (depending on if the theme is light or dark), but I don't see this color in the theme.

[2022-09-28 14:44] httpete commented on #34502
It's a Mui/InputLabel

[2022-09-28 15:25] fzaninotto commented on #12358
@genepaul we're only using MUI's `Tab` component here. I suggest you open an issue about it on their repository.

[2022-09-28 15:46] fabio-colella-md commented on #33440
In my case I had misunderstood how to extend the interface, so, if it helps someone:

[code]

I was thinking I it should have been of type string, as that's how you use it 😅

[2022-09-28 17:02] AlbertoGonzalezProg opened #34506 "Avatar doesn't show source image"
The following code doesn't work correctly:

`<Avatar variant="soft" size="lg" src="../image/image-name.png"/>`

This code shows a default SVG on render and this image exists.

[2022-09-28 17:22] Rc85 opened #34507 "[ListItemText] Add `data-testid` to `[primary|secondary]TypographyProps`"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It seems the `primaryTypographyProps` (also secondary) doesn't accept `data-*` props while `<Typography>` does.

### Examples 🌈

<ListItemText primary='Hello' primaryTypographyProps={{ 'data-testid': 'hello-text' }} />

### Motivation 🔦

For testing purposes, we nee

[2022-09-28 19:19] paintoshi commented on #33054
@harsh5902 Why was the PR closed?

[2022-09-28 19:23] TamirCode commented on #34497
I decided to do it manually and it turned out that it isn't as bad as I imagined.  Instead of using the `error` prop, I just colorize the input+label+helperText by hand when needed. I am closing because the benefits aren't that big and people can keep asking for more props/colors but they can emulate the error prop like so:
[code]

[2022-09-28 19:23] #34497 closed

[2022-09-28 19:31] shikhar13012001 commented on #34506
I guess you should try to import the image first and then use it.

[code]

[2022-09-28 21:15] AlbertoGonzalezProg commented on #34506
Thanks, that way works properly

[2022-09-28 21:15] #34506 closed

[2022-09-28 21:34] Phoenixmatrix commented on #22956
I don't really have a solution to offer here, but just tossing our name in the hat as we got hit by this in an accessibility audit with a customer too, and solid alternatives are far and few in between.

[2022-09-29 01:37] #34347 closed

[2022-09-29 04:09] abdulgafur24 commented on #34173
ios 15.4.1
both safari and chrome

it happens only when you trying click checkboxes quickly
try to check/uncheck them multiple times as fast as you can

[2022-09-29 04:12] siriwatknp opened #34510 "[RFC] When to start adopting new CSS features"
### What's the problem? 🤔

CSS is one of the core logic that powers Material UI and Joy UI and it is evolving over time. New CSS features, e.g. [flexbox gap](https://caniuse.com/?search=flexbox%20gap), can reduce the complexity of the code and [solve existing issues](https://github.com/mui/material-ui/issues/33754). However, we've never talked about when to start using them.

This RFC aims to crea

[2022-09-29 04:20] siriwatknp commented on #34510
Some of the CSS new features that have potential to be used:
- https://caniuse.com/?search=aspect-ratio
- https://caniuse.com/?search=flexbox-gap
- https://caniuse.com/?search=inset
- https://caniuse.com/?search=logical%20properties
- https://caniuse.com/?search=%3Awhere
- https://caniuse.com/?search=%3Ahas
- https://w3c.github.io/csswg-drafts/css-transforms-2/#individual-transforms

[2022-09-29 04:28] elitan commented on #22426
We just launched a Postgres Database UI with Material UI.

We wrote about it here: https://nhost.io/blog/new-database-ui

https://user-images.githubusercontent.com/331818/192938998-2f60fa84-92df-4a84-8fd3-1198818cb96f.mp4

[2022-09-29 04:30] siriwatknp commented on #33054
The PR to fix this issue should:
- custom color works with TypeScript
- make sure that the custom color does not crash
- add a demo to show that the color prop can be augmented

@ZeeshanTamboli if you are available, this could be one to pick up.

[2022-09-29 05:57] flaviendelangle commented on #33966
https://github.com/mui/mui-x/issues/6308

The renaming caused a breaking change on X :grimacing:
I will try the fix proposed in the issue.

[2022-09-29 06:21] ZeeshanTamboli commented on #33054
I am on a bit of a break currently and won't be working next 3-4 weeks much effectively. If somebody else wants to take a look till then, please go ahead.

[2022-09-29 08:36] ao-stepan commented on #19679
Turning off `reactStrictMode` helps me

`"next": "^12.2.5",`
`"@material-ui/core": "4.12.3`

[2022-09-29 10:15] nuanyang233 opened #34513 "[Modal] Issue with overflow-y: scroll on <html>"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Add `scrollContainer` to support custom scroll lock containers.

### Examples 🌈

Our [product](https://github.com/DimensionDev/Maskbook) is a browser plugin that enables some features on social platforms. We have implemented some features on Twitter and used dialog.

[2022-09-29 11:01] mnajdova commented on #34507
The ask is similar to https://github.com/mui/material-ui/issues/33175. The resolution for one component, should apply to all components & *props components's props. I am closing as a duplicate, please upvote the linked issue.

[2022-09-29 11:07] mnajdova commented on #34502
Can't see it duplicated in this sandbox - https://codesandbox.io/s/inspiring-rumple-gt7jxf?file=/src/App.tsx please share the code that generated this output.

[2022-09-29 11:40] mnajdova commented on #34392
This package is not compatible with React 18, there is a warning on the start of the docs page about it - https://mui.com/system/styles/basics/

[2022-09-29 11:40] #34392 closed

[2022-09-29 11:55] zkanda commented on #34392
The docs here probably needs to be updated https://mui.com/material-ui/migration/migration-v4/ to remove @mui/styles and upgrade to emotion before upgrading to v5.

[2022-09-29 12:17] elyasaf755 opened #34515 "[Autocomplete] onSelect event's type is incorrect"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Open Codesandbox link: https://codesandbox.io/s/mui-autocomplete-onselect-type-issue-pxupcw?file=/src/App.tsx
2. Click on the autocomplete in the UI
3. Select a value
4. Observe the screen; the selected value is rendered to the screen
5. Open s

[2022-09-29 12:30] kiranvj commented on #2793
@lucasmarkes Check the [above ](https://github.com/mui/material-ui/issues/2793#issuecomment-554636432) solution using `Grid`.  Instead of `<Grid item>` give `<Grid item xs={6}>`

[2022-09-29 12:53] kiko-lin commented on #32749
Yes Sir! You are right. In fact, for me the problem came from

_const [value, setValue] = useState(0)
<Tabs ---> value={value}_

If you do so the error appears. Guess TabPanel is not already created or recognized on first render but ...

_const [value, setValue] = useState(**false**)
**useEffect stating initial 0 or any other tabPanel id value**
<Tabs ---> value={value}_

works like a charm as 0 s

[2022-09-29 13:04] fymmot commented on #22956
@Phoenixmatrix
Unfortunately I don't have any quick fixes. In my project we ended up building our own autocomplete component instead.

But we would love to switch back to Mui if this issue ever gets resolved.

[2022-09-29 13:26] shestakova1806 opened #34516 "Add possibility of the `Select` component to render additional elements in dropdown"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It should be a possibility in dropdown of `Select` component to add some additional elements. It could be an additional fixed section in dropdown where developers can add necessary elements with their own functionality.

### Examples 🌈

For example, we need to have

[2022-09-29 15:27] #34507 closed

[2022-09-29 15:48] mightym opened #34517 "[docs] Component Variants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Goto https://mui.com/material-ui/customization/theme-components/#creating-new-component-variants

### Current behavior 😯

The docs explicitly say **"You can use the variants key in the theme's components section to create new variants to Materi

[2022-09-29 15:55] johnflux commented on #11926
I'm hitting the same problem.  Did you find a solution?  Thanks.

[2022-09-29 16:51] the-mgi commented on #33054
this is working fine i guess, i just tested it.
 at first you need to provide the props in Palette and PaletteOptions interface that lies in the @mui/material/styles/, the color names that you want to add into the project

[code]

and add these lines for IconButton
[code]

these enabling the createTheme to be aware of these colors, then you need to provide the implementation in the theme that woul

[2022-09-29 17:19] mraballard commented on #23747
I'm currently experiencing this on Chrome using MenuUnstyled and MenuItemUnstyled.

[2022-09-29 17:29] emlai commented on #33054
@the-mgi Yes, if the specified `color` is in your palette then this will work fine.

But we're intending to use `color="textPrimary"` or `color="text.primary"` to access the usual `text.primary.main` that we have in our palette. Currently neither of those work.

[2022-09-29 17:39] jesrodri commented on #34490
Hi, can I try this one?

[2022-09-29 18:19] jesrodri commented on #34414
@harsh5902 are you still working on this? if not, can I take it?

[2022-09-29 18:28] jesrodri commented on #29469
Hi, can I try this one?

[2022-09-29 18:31] httpete commented on #34502
We reproduced it:
https://codesandbox.io/s/mui-input-label-classname-counter-mcp55q?file=/src/App.tsx

[2022-09-29 18:41] Forchapeatl opened #34519 "Hacktoberfest 2022"
Hello everyone , I am Forcha Pearl from the University of Buea Cameroon. I have 6 years of experience with JavaScript. All Issues labeled hacktoberfest have been solved. Please how may I get started on hacktoberfest 2022 at MUI ? Please for the link to the material UI developer community ?

[2022-09-29 18:45] darkgrayknight commented on #19450
We did implement a workaround with useEffect:
`	useEffect(() => {
		if (open) {
			let root = document.getElementById("root");
			root?.setAttribute("aria-hidden", "false");
		}
	}, [open]);`
basically setting aria-hidden to false.

[2022-09-29 18:54] nandeshwarshubh opened #34520 "Is there a way to have horizontal scroll similar to Tabs but on Cards?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

_No response_

### Expected behavior 🤔

Is there a way to have horizontal scroll similar to Tabs but on Cards?

I tried using Tabs just for the beautiful scroll + scrollButtons, But Tabs do not take anything else

[2022-09-29 19:16] harsh5902 commented on #34414
yes i am still working on it.

[2022-09-29 19:43] nandeshwarshubh opened #34522 "Custom MUI Tab component throws error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

_No response_

### Current behavior 😯

Throws error while using custom component-

MUI: The `component` prop provided to ButtonBase is invalid.
Please make sure the children prop is rendered in this custom component.

https://codesandbox.io/s/blissful-jac

[2022-09-29 20:12] nis6 commented on #34519
Yeah I am also looking to contribute to MUI for hactoberfest 2022. Would be great if someone can guide for how to start!

[2022-09-29 21:34] GsHeri opened #34523 "[icons] Issues with the "CopyContent" Icon"
so i was surprised to see the "copyContent" icon facing downwards, instead of "to the up and right" as i was expecting.
![image](https://user-images.githubusercontent.com/21007980/193145726-58f29089-012a-4025-a7c5-509802858dea.png)

it just looks wrong to me, but that's okay, that might be me.

what puzzles me is that the "copyAll" icon right beside it DOES face the way i would have expected
![ima

[2022-09-29 22:12] doberkofler opened #34524 "React exception when using esbuild and <MenuIcon /> with package.json type=module"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:
1. install dependencies (npm i)
2. build sample application (npm run build)
3. open index.html
4. examine console output in dev tools

[example.zip](https://github.com/mui/material-ui/files/9679327/example.zip)

### Current behavior 😯

When combini

[2022-09-29 23:40] CRIMSON-CORP commented on #31835
thanks to @geneshairzan, its kind of absurd, but causing error in vite.config.js and restarting the server after the crash actually solves my problem, I'm not sure why, i kept on getting - `Uncaught TypeError: createTheme_default is not a function`  even after trying every solution in this issue

[2022-09-30 04:36] wangyg115 opened #34525 "[Joy][TextField] not have 'readOnly' props"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

Joy TextField has no readOnly prop in `TextFieldProps` type declaration .

### Expected behavior 🤔

_No response_

### Context 🔦

_No response_

### Your environment 🌎

<details>
  <summary><code>npx @mui/envinfo<

[2022-09-30 04:42] doberkofler commented on #34524
https://github.com/evanw/esbuild/issues/2581

[2022-09-30 04:42] #34524 closed

[2022-09-30 05:39] the-mgi commented on #34519
I'm looking as well, if someone can help finding anything they would be awesome. thanks.

[2022-09-30 05:50] ZeeshanTamboli commented on #34490
@jesrodri Yes, please go ahead. Thanks!

[2022-09-30 06:48] siriwatknp commented on #34427
Can you propose what do you have in mind for the fix?

[2022-09-30 07:29] flaviendelangle commented on #33966
@michaldudak it seems that we can't fix it on our side
Unless you have an idea, could we export both interfaces for now ?

[2022-09-30 08:02] mnajdova commented on #33768
@alansouzati we can't generate the class name based on the sx's prop `maxWidth`, as it can contain integer/px values, percentage etc. In addition it does not support the same API as the prop in the `Container`. As for adding the same API in the sx prop, it's not worth it in my opinion, it would add additional runtime in all MUI components.

In the `Container` we have a simpler API for the most com

[2022-09-30 08:03] #33417 closed

[2022-09-30 08:40] garyb1 opened #34526 "[TreeView] - Cannot select parent nodes using keyboard ENTER key"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Visit [CodeSandbox](https://rsxbhw.csb.app/) or [MUI Docs](https://mui.com/material-ui/react-tree-view)
2. Navigate Tree View component uses arrow keys
3. Press Enter or Space key to activate

### Current behavior 😯

The ENTER key will expand o

[2022-09-30 08:43] #34227 closed

[2022-09-30 09:19] #31960 closed

[2022-09-30 09:50] Saroopashree commented on #34519
Same. Looking to contribute to this project for this year's Hactoberfest

[2022-09-30 10:32] jscheid opened #34527 "TS errors with styled-engine-sc and skipLibCheck: false"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

[code]

### Current behavior 😯

TS compilation errors: https://gist.github.com/jscheid/c2debf024f6683153de705520e8f5ca6

### Expected behavior 🤔

No errors.

### Context 🔦

This is only an issue with `skipLibCheck: false` in `tsconfig.json`. When

[2022-09-30 10:55] mnajdova commented on #34517
Thanks for the report. We had this reported couple of times now in https://github.com/mui/material-ui/issues/34238 and https://github.com/mui/material-ui/issues/33510. I am closing this as a duplicate, we already started working on an RFC for fixing the issue, we will link it in the issues related to it.

[2022-09-30 10:55] #34517 closed

[2022-09-30 11:04] mnajdova commented on #34238
Duplicate of https://github.com/mui/material-ui/issues/33510, I've make the previous issue more general

[2022-09-30 11:05] #34238 closed

[2022-09-30 11:10] #34422 closed

[2022-09-30 11:10] mnajdova commented on #34522
Here is a fixed sandbox: https://codesandbox.io/s/sharp-varahamihira-5hzkkg You need to add a label on the `Tab` element. That way it would be propagated to the `CustomComponent`, and you can use the `children` prop there directly. I hope this helps.

[2022-09-30 11:10] #34522 closed

[2022-09-30 11:13] LeoLozes commented on #34428
thank you for the quick answer @mnajdova, but we'd like the tooltip to show at the bottom whenever it's possible, just not when you've arrived at the bottom of the page. I know it's kind of an edge use case ...

[2022-09-30 11:14] vj-codes commented on #32486
@samuelsycamore hey I've worked with GitHub action integrations before, can I work on this?

[2022-09-30 11:15] malte94 opened #34528 "MUI Input: Pasting very long text length (e.g. base64) freezes the application"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Copy and paste a very long text to a MUI Input, e.g. a base64 encoded image (data:image/webp;base64,)

### Current behavior 😯

The app freezes

### Expected behavior 🤔

The app must not freeze

### Context 🔦

Attaching an image as a base64 encoded string

[2022-09-30 11:16] mnajdova commented on #34526
This describes exactly what is implemented currently. Enter opens/closes, and Space toggles the open/closed space as defined:

[2022-09-30 11:17] mnajdova commented on #34527
Thanks for the report, I will take a look at it next week.

[2022-09-30 11:20] mnajdova commented on #34528
I can't reproduce it on the docs, can you share a sandbox, maybe it is related to other things happening on the page?

[2022-09-30 11:22] garyb1 commented on #34526
@mnajdova  Thanks for your response.

But why not allow the selection of the parent node on enter? Doesn't the design pattern for TreeView suggest that space should toggle selection only for multi-select trees?

Would that not cause confusion to users because they may interact with ENTER or SPACE only on the non-parent nodes, but if they want to select a parent-node it has to be SPACE only?

Selec

[2022-09-30 11:52] MohamedMafaz commented on #34519
I'm also looking to contribute to this project

[2022-09-30 12:15] mightym commented on #34517
@mnajdova but just for my understanding, is the behavior that the variants (at least) work like I described something I can rely on? Or is this more a coincidence that I shouldn't consider a reliable?

[2022-09-30 12:21] malte94 commented on #34528
Thank you for your quick reply. I tested it on a sandbox and this issue also occurs with normal input fields. So this is rather related to React I think.

https://codesandbox.io/s/react-mui-long-text-bug-r627w4?file=/src/App.js

[2022-09-30 12:42] jediswear opened #34529 "Incorrect styles order using emotion"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. https://codesandbox.io/s/billowing-bird-yqwpsp
2. make page wider than 800px

### Current behavior 😯

styles that i've specified via emotion's `styled()` utility has been overridden by `theme` styles

### Expected behavior 🤔

styles that i've s

[2022-09-30 16:09] wajid281 commented on #34519
Hi All, I have 1 year of experience in software development. I'm looking forward to contributing to this project

[2022-09-30 19:21] momozahara opened #34533 "When using tooltip with tailwind html size dont update after rotate on phone"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. using [CRA](https://create-react-app.dev/)
2. install tailwindcss postcss autoprefixer
4. install @mui/material @emotion/styled @emotion/react
5. add tooltip to anywhere

### Current behavior 😯

html size is not update leaving white space at bo

[2022-09-30 20:01] vaibhav-305 commented on #34519
Hi all i have 2 internship experiences in software development, I am looking forward to contributing to this project :)

[2022-10-01 00:16] oliviertassinari commented on #34519
As far as I know, we don't have the bandwidth to participate this year. There have already 145 open PRs, in 2021, we had 47 open PRs, and in 2020: 32.

[2022-10-01 02:40] GMchris opened #34539 "Apply `defaultProps` from theme to root `styled` component"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

`defaultProps` defined under a custom component name should be picked up and applied by `styled` component, even if it required a setting within the `styled` function call. Currently `variants` and `styleOverrides` inside the theme can be referenced and used by  `st

[2022-10-01 04:14] the-mgi commented on #33054
got it. thanks.

[2022-10-01 04:58] #34519 closed

[2022-10-01 07:35] SerpentBytes commented on #34336
I would like to work on this issue. Please assign it to me.

[2022-10-01 07:37] chengen0612 commented on #31366
I had a similar issue while trying to customize the palette option and implement on mui components around my application.

I wrote the type definitions following the [Palette](https://mui.com/material-ui/customization/palette/) doc. But the interfaces where I added the extra type definition started warning missing members in the module like below.
<img width="898" alt="image" src="https://user-ima

[2022-10-01 09:34] jonaspiela commented on #28035
Works quite well on supported devices:

[code]

[2022-10-01 10:10] #34432 closed

[2022-10-01 10:39] kushagra010 commented on #34525
Hey @mnajdova @siriwatknp, can I pick this up ?

[2022-10-01 10:46] jtan80813 opened #34542 "UMD/Dist/Unpkg Version"
Hello.

I would like to ask for the compiled version of the ff:

1.     "@mui/styles": "^5.4.1",
2.     "@mui/system": "^5.4.1",
3.     "@mui/utils": "^5.4.1",
4.     "@mui/x-data-grid-pro": "^5.17.5"

Like for example [https://unpkg.com/@mui/material@5.4.1/umd/material-ui.development.js](https://unpkg.com/@mui/material@5.4.1/umd/material-ui.development.js)
Are there links for that?

Thank you

[2022-10-01 13:37] sanyamgandhak commented on #34515
Hi there , please assign it to me

[2022-10-01 13:46] Ali-Azizi opened #34544 "Snackbar bottom is showing under keyboard on ios"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

hello there,
I'm using the latest version of material-ui for a pwa app in react.js and when I use snackbar in bottom and keyboard on ios, the snackbar does'nt show because it's under the keyboard.
this behavior is

[2022-10-01 13:48] kushagra010 commented on #34525
@wangyg115
Can be handled with:
[code]

[2022-10-01 13:55] nandeshwarshubh commented on #34522
Worked!!!

[2022-10-01 17:00] MaximChuikov opened #34545 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-button/
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|-----------

[2022-10-01 18:49] bonbonio opened #34547 "Add responsive cols from values to ImageList (like the experimental Grid)"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

It would be great if ImageList also support the `columns={{ xs: 4, sm: 8, md: 12 }}` attribute like the new experimental GridV2.

Many thanks on the great work.

### Examples 🌈

_No response_

### Motivation 🔦

Currently I need to import the useMediaQuery utils and

[2022-10-01 20:23] abhay187 commented on #20286
This issue still exists. @eps1lon I am using v5

[2022-10-02 04:37] wangyg115 opened #34570 "[Joy][Select] not render a input element"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.
2.
3.

### Current behavior 😯

Joy Select not render input element.

### Expected behavior 🤔

It should render a `<input aria-hidden tabIndex="-1"/>`  just like Material UI Select .

### Context 🔦

_No response_

### Your environment 🌎

<detail

[2022-10-02 04:41] wangyg115 commented on #34525
got it, thanks.

[2022-10-02 04:41] #34525 closed

[2022-10-02 07:04] elyasaf755 commented on #34515
For some reason I don't see the assign button.

[2022-10-02 07:06] elyasaf755 commented on #34515
Are you talking to me? I don't think I can assign it to anyone as I'm not the repo owner

[2022-10-02 07:31] HexM7 opened #34571 "[Grid] Responsive direction prop breaks class slots"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Example: https://codesandbox.io/s/muddy-tree-n49vhp?file=/src/App.js

Steps:

1. Create a Grid with responsive `direction` values.

[code]

2. Inspect the classes of the container.

The direction prop can accept responsive values according to prop types d

[2022-10-02 08:29] TamirCode opened #34572 "[TextField] rendering input type datetime-local without value makes label go on top of placeholder text"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

[code]
https://codesandbox.io/s/mui-bug-input-datetime-local-mvf72n?file=/demo.js:0-263

I tried the following things:

- defaultValue={undefined}
- defaultValue={null}
- defaultValue=""
- not having defaultValue at all

the same behavior occurs with all

[2022-10-02 08:42] TamirCode commented on #34572
I guess now I know what this does
[code]

[2022-10-02 08:42] #34572 closed

[2022-10-02 11:19] grzegorzCieslik95 opened #34573 "Styled custom component"
### What's the problem? 🤔

I try styled my custom react component,

[code]

but is not working. Do you have any idea how can i styled component like this? I know this feature exist in styled-component library but i cant change styled method.

### What are the requirements? ❓

_No response_

### What are our options? 💡

_No response_

### Proposed solution 🟢

_No response_

### Resources and benchm

[2022-10-02 11:28] #34573 closed

[2022-10-02 13:35] the-mgi commented on #33018
Hi, I am new to OSS, trying to add this feature.
What I can see is to update the LoadingButton.d.ts to have the component props like
[code]
then updating the LoadingButton.js to have the componentProps, update the js propTypes and then pass on the circularProgress props to here and then we good.
[code]
do we need to do something like this?
also a question how to test this? wanted to see the loadin

[2022-10-02 16:17] garronej opened #34575 "[RFC] Improve Next.js integration with a dedicated npm package"
Hello everyone 👋🏻

### What's the problem? 🤔

It's currently not as straight forward as it could be to setup Material UI in a Next.js project.
Users are encouraged to copy past a bunch of complicated, not type safe code from [an example setup](https://github.com/mui/material-ui/tree/HEAD/examples/nextjs-with-typescript).

### Proposed solution 🟢

`tss-react` exports a utility that abstract away th

[2022-10-02 16:43] vanyaxk commented on #34527
It looks like you're resolving  _**@mui/styled-engine**_ to _**@mui/styled-engine-sc**_, the latter does not export the interfaces at hand. The rest of the issues are eliminated by installing _**@emotion/react**_ and _**@emotion/styled**_ into the project

Hopefully this will be of help 🙂

[2022-10-02 20:04] jscheid commented on #34527
@mnajdova thanks!

@vanyaxk thanks but this issue is specifically about typings _with_ `@mui/styled-engine-sc` as described [here](https://mui.com/material-ui/guides/styled-engine), sorry if I haven't made that clear enough.

[2022-10-02 20:30] jenniferabowd commented on #19413
Hi, I'm happy to pick this up, but I see that there is already EsLint in this project. The contributing guidelines also talks about EsLint. I found two packages to fix the above issues, https://github.com/gund/eslint-plugin-deprecation and https://github.com/mcclowes/eslint-plugin-absolute-import. What are the steps left that are needed to fully transition over to EsLint or is this issue outdated?

[2022-10-03 03:29] Divyansh-sysadmin-creative commented on #21593
Hi Devs,
                   facing issue with buttonLoading on ios device. loading symbol  not visible on button. Same works well  on android device and mac ios.  Please guide with solution

[2022-10-03 04:11] thomasjm commented on #34174
@eps1lon just checking in, is the above sufficient to reopen the React issue?

[2022-10-03 06:39] mnajdova commented on #34515
Please refer to the docs about how to use the `Autocomplete` in controlled mode - https://mui.com/material-ui/react-autocomplete/#controlled-states

[2022-10-03 06:41] mnajdova commented on #34520
Can you maybe share what you are trying to build. It's not really clear what the horizontal scroll should do. Is it about componsing cards? Are you referring to the content of the card?

[2022-10-03 06:50] mnajdova commented on #34529
Emotion processes media queries differently, you need to define the media query in the style overrides - https://codesandbox.io/s/polished-bush-40x8rv?file=/src/App.tsx It's a duplicate of https://github.com/mui/material-ui/issues/28911

[2022-10-03 06:50] #34529 closed

[2022-10-03 06:51] mnajdova commented on #34533
Did you use the official example we provide for integrating with Tailwind CSS -https://github.com/mui/material-ui/blob/master/examples/tailwind-css/README.md?

[2022-10-03 06:54] alecmce commented on #16156
After a lot of trial and error, I've discovered that adding a `<div />` inside a `ToggleButtonGroup` gives the same `fullWidth` error. The bug points at state leaking through your `ButtonGroup` and `ToggleButtonGroup` props into DOM element assignments, throwing frustrating and hard to debug errors for users of your library. Even if we mere users are doing "unsupported" things, I don't think the l

[2022-10-03 07:07] #34515 closed

[2022-10-03 07:11] siriwatknp commented on #34570
@wangyg115 Joy UI `Select` has a different implementation compared to Material UI `Select`. What issue do you encounter without the `<input aria-hidden tabindex="-1" />`?

[2022-10-03 07:14] siriwatknp commented on #34547
@bonbonio Thanks for the feedback! Would you mind sharing your use case in a Code Sandbox?

[2022-10-03 07:44] mnajdova commented on #34539
Thanks for the examples and detailed explanation. I would wait to see if issue gets more traction before adding overhead to the default styled() utility, mainly because it's use in all components and it could add unnecessary overhead.

[2022-10-03 08:09] mnajdova commented on #34517
I wouldn't rely on it, as we haven't tested this behavior. For example, there may e issues like `variant` prop being propagated to the DOM node etc.

[2022-10-03 08:23] mnajdova commented on #34501
@benjamin-andersen I've updated the previous comment, I hope it is clearer now.

[2022-10-03 08:24] tsteinke-iabbb opened #34587 "Radio buttons appear broken when JS fails to load"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Disable JavaScript in your browser.
2. Visit [Radio Button docs](https://mui.com/material-ui/react-radio-button/)
3. Click "Other" in the first radio group example.

### Current behavior 😯

The "Other" radio button does not fill in, and provide

[2022-10-03 12:41] tonai commented on #31206
Mui Base offer a [SelectUnstyled component](https://mui.com/base/react-select/#main-content) which uses Popper instead of Popover.
It does not have this issue.

[2022-10-03 12:52] bonbonio commented on #34547
I think it's clear enough considering the functionality that exists in the experimental GridV2; it's bringing over the responsive breakpoints into the cols={} attribute.

[2022-10-03 13:40] yay opened #34591 "TextField's SelectProps is missing the generic type parameter"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

`TextField`'s `SelectProps` is missing the generic type parameter.

`SelectProps` has the following type:
`SelectProps?: Partial<SelectProps>;`

Where SelectProps is
[code]
so `T` defaults to unknown.

Please see the example below that describes how it affects user

[2022-10-03 14:54] momozahara commented on #34533
Yes and i test it and found out that this happened when tooptip wrap under flex or text-center

[2022-10-03 15:07] momozahara commented on #34533
oh i forgot to mention tooltip props open = true

[2022-10-03 15:55] RemyMachado commented on #21861
Any update on this?
What is the current way to work around this issue?

Using a dark theme doesn't make sense, for instance when you are putting light text on a dark hero image, but the page is still using a light theme.

[2022-10-03 16:43] kushagra010 commented on #33999
@siriwatknp can this be picked? as CircularProgress component (https://github.com/mui/material-ui/pull/33869) is merged.

[2022-10-03 16:47] nandeshwarshubh commented on #34520
I just wanted a horizontal carousel for cards

[2022-10-04 00:10] jidole02 opened #34596 "[@mui/styles] CreateStyles:: Why does the error only occur on certain properties?"
![image](https://user-images.githubusercontent.com/67010335/193707409-88a8b71d-5697-407e-9788-c0f470f96ef6.png)
- position / flexwrap etc....
- typescript throws an error when using certain CSS properties

[2022-10-04 00:12] jidole02 commented on #34596
I'm having a lot of trouble with this

[2022-10-04 01:16] SaberbeinGeorge opened #34597 "[docs] Demo LoadingButtonsTransition crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20LoadingButtonsTransition%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-button/
2. ??
3. demo *LoadingButtonsTransition* crashes

## Your Environment
| Tech         | Version |
|-----------

[2022-10-04 03:01] kriscoleman commented on #14604
this was actually super helpful and enough for it to click so I could start using this in a gatsby app. thanks.

[2022-10-04 03:14] shehand-xino commented on #29469
I have experienced this not only in the input fields but also in select dropdowns.
![image](https://user-images.githubusercontent.com/90886689/193726607-3146e7b8-dea2-4aa9-b96a-fa8b1fb513d9.png)

[2022-10-04 03:36] saw-jan commented on #34597
Exactly similar to issue #34545

[2022-10-04 03:43] jtan80813 commented on #34542
@mnajdova. Can I ask for this?

[2022-10-04 03:45] siriwatknp commented on #33999
Thanks! feel free to submit a PR. I propose that the loading should be a prop of the existing `Button`.

[code]

The APIs can be the same as Material UI's `LoadingButton`:

[code]

Let me know if you have any questions.

[2022-10-04 03:48] #34571 closed

[2022-10-04 04:35] MostafaKMilly commented on #30249
Thanks @aakash-lohono the problem was solved
Actually, to solve this problem we just need to pass `role: "list-box" `  as to ListboxProps

[2022-10-04 04:50] hbjORbj commented on #34597
Duplicate of https://github.com/mui/material-ui/issues/34545

[2022-10-04 04:50] #34597 closed

[2022-10-04 04:51] hbjORbj commented on #34545
What is exactly crashing? Can you share a screen recording?

[2022-10-04 06:31] siriwatknp commented on #34596
Please provide a CodeSandbox that reproduces the issue.

[2022-10-04 06:49] SDVII opened #34599 "[Calendar Picker] MuiPickersArrowSwitcher type doesn't exist in ThemeOptions"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Currently, I am trying to override the Calendar Picker's arrow icon buttons' styles. However, the namespace `MuiPickersArrowSwitcher` doesn't seem to be recognized in the `ThemeOptions`  type even after importing the the pickers' theme augmentation.

Step

[2022-10-04 07:11] SDVII commented on #34599
It seems that the issue has been resolved [here](https://github.com/mui/mui-x/pull/6156)

[2022-10-04 07:11] #34599 closed

[2022-10-04 07:13] nkalpakis21 commented on #5391
Was having this problem too. With the help above it seems like setting minHeight is the key here

<Tab sx={{ minHeight: '36px', height: '36px' }} />

[2022-10-04 07:15] nkalpakis21 commented on #5391
Thanks for starting this thread [ankitgoyal100](https://github.com/ankitgoyal100) hope you are currently making billions more than the ass who responded to you like that

[2022-10-04 09:06] michaldudak commented on #33966
@flaviendelangle I haven't noticed this while reviewing the code, sorry. The intention was not to introduce any breaking changes in @mui/material. I'll make sure the correct type is exported.

[2022-10-04 09:07] doliG opened #34600 "[Button] `size` prop does not work alongside `variant` prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

https://codesandbox.io/s/mui-button-bug-dhiqkq

### Current behavior 😯

With a custom theme, `<Button variant="custom" size="large">` `size` is not working anymore.

### Expected behavior 🤔

Custom variant is compatible with size. See example for more det

[2022-10-04 09:16] Ironspider42 commented on #34600
Hello, can you please explain the issue in detail?

[2022-10-04 09:32] doliG commented on #34600
Hello @Ironspider42 , I think the example on codesandbox is cristal clear: when I use a them and a `<Button varian="my-variant" size="large">`, the `size` prop does nothing.

[2022-10-04 09:38] michaldudak commented on #29469
@jesrodri what idea do you have for solving this?

@shehand-xino, please open another issue with a reproduction on codesandbox so we can reproduce this bug.

[2022-10-04 09:52] tsteinke-iabbb commented on #34587
Just wanted to chime in to say that I noticed the same issue for checkboxes. The reproduction steps are the same, and you can view this issue on the [Checkbox docs](https://mui.com/material-ui/react-checkbox/).

I'm happy to create a second issue for this if that's easier to track!

[2022-10-04 09:52] michaldudak commented on #34383
@oliviertassinari if you agree with my points in @27939, we can just merge that one. I think the usage will be even simpler than with an array.

[2022-10-04 10:11] mohd-akram opened #34603 "[@mui/styles] `StylesProvider` is causing needless re-renders"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Use a `useStyles` hook created by `makeStyles` in a component

### Current behavior 😯

The component re-renders even when there is no change in it.

### Expected behavior 🤔

The component should re-render only when necessary.

### Context 🔦

I

[2022-10-04 11:28] siriwatknp commented on #34544
Can you please share a CodeSandbox that I can reproduce?

[2022-10-04 12:20] marvinkome commented on #29466
Setting `showToolbar={false}` works for me, in the MobileDatePicker component.

Like this `<MobileDatePicker ... showToolbar={false} />`

[2022-10-04 13:47] michaldudak commented on #34516
The [Unstyled Select](https://mui.com/base/react-select/) component from MUI Base has the feature you're asking for. We are going to use it in Material UI Select's implementation in the future, so it'll be possible to use arbitrary elements in it as well. I can't, however, commit to a timeframe for this yet.
I'll keep this issue open so we can track it.

[2022-10-04 13:55] frontendDevResearcher commented on #20152
if you provide an empty array, the autocomplete multiple selection will stop working.

[2022-10-04 13:55] frontendDevResearcher commented on #20152
@oliviertassinari

[2022-10-04 14:01] frontendDevResearcher commented on #20152
I was trying to use this hack as I was also getting `[Autocomplete] TypeError: (intermediate value)(intermediate value)(intermediate value).filter is not a function` error my this line solved the issue ` value={undefined}` but then I started getting
this error for that, I tried this ` value={item.type === "multiSelect" ? [] : undefined}`
now , no errors but the values are not coming on the autoCom

[2022-10-04 14:12] oliviertassinari commented on #34383
@michaldudak IMHO the first approach you did was correct. The eslint error was about raising the attention that the plugin can't determine if it's a correct or not use of the hook API.

[2022-10-04 15:44] W01fw00d commented on #17119
Yes, I could detect it too on Sentry. It happens on Chrome Browser at least:

`Cannot destructure property 'scrollTop' of 'be.current' as it is null.`

I suspect the Tabs component too.

[2022-10-04 17:00] iMrDJAi commented on #28465
Same issue here!

![image](https://user-images.githubusercontent.com/42304709/193881289-52bea0fa-1896-44af-af42-7332904220bd.png)

Adding
[code]
to the autocomplete component fixed it.

[2022-10-04 18:21] serenaqchen opened #34604 "[Slider] Accessibility: `aria-labelledby` is passed into outer `span` and `input` elements"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Use `<Slider />` and pass `aria-labelledby` attribute

Here is a codesandbox:
https://codesandbox.io/s/mui-v5-slider-bug-673hgr

### Current behavior 😯

`aria-labelledby` is passed into outer `span` and `input` elements

<img width="760" alt="Screen Shot

[2022-10-04 18:55] RELNO opened #34605 "[Grid] Not responsive to parent container [But do adapt to mediaQuery]"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:
go to CSB demo https://codesandbox.io/s/mui-drawer-grid?file=/src/App.js
1. drag the resizable drawer => grid doesn't change in accordance to the new size
2. drag the window divider/shrink the screen => grid do adapt to the new size

### Current be

[2022-10-04 20:29] Saul-Garcia commented on #30249
@MostafaKMilly by changing the role to "list-box" can you still access to the list elements with the keyboard?. I tried but breaks accesibility for me.

[2022-10-04 20:37] enyelsequeira opened #34612 "Mui with tailwind and TurboRepo extend to own library"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Hello all,

so recently I have been thinking of building on top of Material UI, however I am wondering if anyone can give me advice or if anyone has done the following.

I have a turborepo setup and within in there I have a packages => UI that will use MUI Component

[2022-10-04 22:49] NerdCowboy opened #34615 "Custom Paper variants disregard elevation prop"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a custom Paper variant
2. Add variant prop with the new variant to a Paper component (or Paper-composed components e.g. Card)
3. Add elevation prop greater than 0 to component
4. Inspect Paper component's properties. The elevation's box-

[2022-10-04 23:25] jjrmunoz commented on #29727
I have got the same issue - getting the warning: "The value provided to Autocomplete is invalid. None of the options match with "". You can use the `isOptionEqualToValue` prop to customize the equality test".

Adding the final part `|| value === ""` to `isOptionEqualToValue={(option, value) => option.name === value.name || value === ""` removes the warning,  but then a new problem appears: all opt

[2022-10-05 00:16] samarjaffal commented on #26380
I have the same problem. Does someone have another solution for this?

[2022-10-05 02:23] siriwatknp commented on #17119
Feel free to submit a PR.

[2022-10-05 02:27] siriwatknp commented on #34523
Will rerun the script to pull the icons and see if it changes.

[2022-10-05 05:23] alexander-vashchuk commented on #33229
@jake-collibra

Try this in the root of your MUI theme file:

[code]

[2022-10-05 06:19] #34499 closed

[2022-10-05 07:25] ZeeshanAhmadKhalil commented on #33308
@mkdudeja  if you use the application a little bit and load more data in redux then this will also happen in production.

[2022-10-05 07:25] eps1lon commented on #34174
Ideally this is a Codesandbox where the tester can control when hydration happens. Remember, make it as simple as possible for somebody without your context, to understand what the issue is.

[2022-10-05 07:33] ZeeshanAhmadKhalil commented on #33308
Fixed in nextJS after changing `reactStrictMode: false,` in `next.config.js`

[2022-10-05 07:44] mnajdova commented on #34603
@mohd-akram thanks for the report. Before doing the changes would be great if you can create benchmark with the current implementation vs the one with the proposed changes.

[2022-10-05 07:53] mnajdova commented on #34600
Thanks for the report. @vanyaxk created a pull request for fixing this.

[2022-10-05 07:54] mnajdova commented on #34591
Can you please share a codesandbox with the error? It's easier to test out locally.

[2022-10-05 08:06] doliG commented on #34600
Ty @mnajdova , please lmn if I can help in anything :) Oh and I can't find the PR but I guess it is not created yet.

[2022-10-05 08:10] mnajdova commented on #34587
This is kind of expected, because we are basically using different icons to show/hide based on the checked state, so we need JavaScript in order to swap the icon. If this is a deal breaker for your app, you can probably create custom style overrides that would depend on the CSS selector for the checked prop and add some custom styles.

[2022-10-05 08:14] mnajdova commented on #34527
@jscheid have you checked the example we have that uses styled-components with typescript - https://github.com/mui/material-ui/tree/master/examples/create-react-app-with-styled-components-typescript?

To answer your question from above, yes you do need to have `@types/styled-components`. Can you check if there are differences in your config and the example project?

[2022-10-05 08:17] MostafaKMilly commented on #30249
@Saul-Garcia Yes it breaks accessing options elements using keyboard :)

[2022-10-05 08:23] jscheid commented on #34527
@mnajdova the difference appears to be that `styled-components-sc` is swapped in [via the bundler](https://github.com/mui/material-ui/blob/ac157e3a2320ea56fd1e9d16a0f2103cb91435c3/examples/create-react-app-with-styled-components-typescript/craco.config.js#L16) and not [via Yarn](https://mui.com/material-ui/guides/styled-engine/#yarn), therefore `tsc` doesn't see the change.

[2022-10-05 08:31] mnajdova commented on #34495
You need to use `&` before selecting the class name, here is an example of few occurrences changed - https://codesandbox.io/s/clever-fast-8s670d?file=/demo.tsx

[2022-10-05 08:31] #34495 closed

[2022-10-05 09:11] andokai opened #34618 "Tooltip, Menu & potentially others not compatible with Fullscreen API"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add Tooltip & Menu components to your app
2. For a specific element, make a call to requestFullscreen
3. Observe that when in full screen neither the tooltips or menus show

I have created a sandbox demonstrating the issue here https://codesand

[2022-10-05 09:20] idezarmanaziz opened #34620 "[docs] Demo MultipleSelect crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20MultipleSelect%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-select/#main-content
2. ??
3. demo *MultipleSelect* crashes

## Your Environment
| Tech         | Version |
|--------------|---

[2022-10-05 09:22] andokai commented on #34618
Apparently my searching for duplicates wasn't very good

https://github.com/mui/material-ui/issues/15618

[2022-10-05 09:22] #34618 closed

[2022-10-05 10:07] Aryan-Bhatt-pro commented on #29469
Hi, is the issue still open? can I try on this?

[2022-10-05 10:15] roux1max commented on #30410
It seems the example repo is now working. I just changed my `_app.ts` and `_document.ts` and everything seems to work fine both in local dev and in staging env (wth `next build`).

I am testing on Brave Browser (which is just a layer on top of Chrome) version 1.43.93 (with Chromium: 105.0.5195.127) and with the following env:
[code]

[2022-10-05 10:56] doronnac opened #34621 "Next.js + Typography w/monorepo error"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Trivially extend Typography component in an external package
2. consume a compiled version of it (i.e. tsc, tsup + externals) in a Next.js app

### Current behavior 😯

Whenever I perform a full page load i.e. SSRed I'm getting `TypeError: e is

[2022-10-05 11:03] mohd-akram commented on #34603
I've pushed the change [here](https://github.com/mohd-akram/material-ui/tree/fix-styles-context). I just tried it in our application, it drops the render time from 850ms to 350ms. We use `useStyles` extensively, and the performance difference will likely scale with the number of components using it, and how expensive those components are to render.

[2022-10-05 14:49] JStevens127 opened #34629 "Possible to Customize Typography Variant inside Table, at Theme level?"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I'm running into an issue attempting to customize the Typography variant inside a TableCell component -- within the app's theme. Is this possible? The Typography variant seems to be locked in as 'body1'. I'd like to change it to 'body2'.

### Examples 🌈

_No respons

[2022-10-05 15:45] shireen-nazneen commented on #3996
use this  for icon size

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
    height: 50px !important;
    width: 50px !important;
}

[2022-10-05 16:08] michaldudak commented on #29469
I think the "good first issue" label wasn't too accurate, to say the least. This is a pretty complicated problem, and we need to discuss the possible solutions that will work across all browsers.
As I said before, I'd recommend not using `type=number` at all.

[2022-10-05 16:15] #34604 closed

[2022-10-05 18:58] LikeMyBread opened #34631 "[Input] Typescript Error when trying to apply a labelId to an Input"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create an Input and an InputLabel
2. Associate them by setting the labelid property on the Input

Simple example:
https://codesandbox.io/s/cranky-sara-gg64cv?file=/src/App.tsx

### Current behavior 😯

TypeScript Error: Type '{ labelid: string;

[2022-10-06 00:58] wladimirguerra commented on #29469
Agreed!
It is also very difficult to write proper test cases too, since the behavior for invalid values is not standardized.

[2022-10-06 02:49] wangyg115 commented on #34570
@siriwatknp Without the `<input aria-hidden tabindex="-1" />`,  The form submition will has no info relate to the Select component, backend will get nothing from the Select. This is true when i use Remix framework.

[2022-10-06 02:57] wangyg115 commented on #34570
@siriwatknp Without the `<input aria-hidden tabindex="-1" />`,  The form submition will has no info relate to the Select component, backend will get nothing from the Select If you relies on the from native behavior only.

[2022-10-06 03:08] siriwatknp commented on #34570
Thanks for the info! @michaldudak What do you think?

[2022-10-06 03:21] siriwatknp commented on #34605
`Grid` component does not support container query at the moment, please use either:

- [CSS container query](https://caniuse.com/?search=container%20query) (not supported in all browsers).
- Flexbox technique but it is limited from what I see in your Sandbox.

[2022-10-06 03:21] #34605 closed

[2022-10-06 03:21] siriwatknp commented on #34605
The container query support is tracked in https://github.com/mui/material-ui/issues/34483

[2022-10-06 03:35] siriwatknp commented on #34615
Before diving into the solution, I see 2 ways:

1. If the `Paper`'s elevation prop is designed to work only with `variant="elevation"`, this issue is not a bug but more of the docs improvement that should clarify this point.
2. If `elevation` prop is independent of other props, then this is a bug.

Currently, I don't see a good solution without breaking changes. The structure of the current props

[2022-10-06 03:40] siriwatknp commented on #34615
@NerdCowboy For the workaround, you can access the `ownerState` in a callback and apply the elevation manually. https://codesandbox.io/s/paper-variant-doesnt-inherit-elevation-forked-9xrw7n?file=/index.js

[2022-10-06 03:54] irontitan76 opened #34633 "[AccordionSummary] The `expandIcon` default prop is not propagating from theme"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add a custom `expandIcon` to the AccordionSummary component `defaultProps` in the theme. In the example below, the `styleOverrides` get applied correctly, but not the `defaultProps`.

[code]

2. Import the AccordionSummary component into your a

[2022-10-06 06:19] wabi91 opened #34634 "[TextField] `BaseTextFieldProps` interface is not extended correctly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Override Color & Size props with `theme.d.ts` for TextField component
2. Check if it's working well
3. Check the logs of webpack build, after start storybook on local

### Current behavior 😯

![스크린샷 2022-10-06 오후 3 12 47](https://user-i

[2022-10-06 06:43] ItaiPendler opened #34635 "[Stepper] Add index prop to StepIconProps"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

I would suggest an index prop which would house the index of the step. So it would look something like this:

[code]

### Examples 🌈

Currently, as seen [here ](https://mui.com/material-ui/react-stepper/#customized-horizontal-stepper) in the docs, when customizing a

[2022-10-06 07:01] shaliake opened #34636 "Lithuanian locale"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@mui/material@5.10.4` for the project I'm working on.

For my personal project I have created locally used locale. I am material-ui user since 2019 and it's my primary UI lib for components. To contribute at least tiny bit, I would like to share ltLT locale (Lithu

[2022-10-06 07:24] utkarsh22garg commented on #33507
Any updates here ?

[2022-10-06 07:31] #34636 closed

[2022-10-06 07:34] #34612 closed

[2022-10-06 08:04] michaldudak commented on #34570
The SelectUnstyled does render a hidden input when a `name` attribute is present on it (it doesn't make sense otherwise). I suppose the Joy version could follow the same pattern.

[2022-10-06 08:14] vuhi commented on #29727
I have multi select `AutoComplete`. This is the way I solve the problem:
- options: <[{ label, value, type }]>
- Turn on `freeSolo`
- Modify `onChange`:
[code]

[2022-10-06 08:15] siriwatknp commented on #34570
Thanks for the info. I mark this as an issue then.

[2022-10-06 09:43] bsides commented on #21250
The example given here isn't very good for me as I couldn't use absolute positioning of the tabs in any way. Is there a more unobtrusive way?

[2022-10-06 09:45] #34629 closed

[2022-10-06 10:44] hbjORbj commented on #34500
It seems like a bug indeed.

I opened a [PR](https://github.com/mui/material-ui/pull/34643) to address the issue.

[2022-10-06 10:50] hbjORbj commented on #34317
This is by design. As you can see in the following code snippet, the negative margin to the wrapper is provided in order to offset the margin applied to each child.
https://github.com/mui/material-ui/blob/0246ec2cdd85de48c669da3f84e25f0dd7eb51f0/packages/mui-lab/src/Masonry/Masonry.js#L95-L99

[2022-10-06 10:50] #34317 closed

[2022-10-06 10:54] hbjORbj commented on #34234
@alisasanib

I am sorry for late reply.

https://github.com/mui/material-ui/blob/0246ec2cdd85de48c669da3f84e25f0dd7eb51f0/packages/mui-lab/src/Masonry/Masonry.js#L95-L99

The negative margin applied to the wrapper was applied in order to offset the positive margin applied to every child inside the masonry wrapper.

Sure, you can create a PR and request me a review once you create it.

[2022-10-06 14:09] hbjORbj commented on #34620
I cannot reproduce any crash. Can you share more details, e.g., a screen recording?

[2022-10-06 14:12] hbjORbj commented on #33874
Duplicate of https://github.com/mui/material-ui/issues/33809

[2022-10-06 14:12] #33874 closed

[2022-10-06 14:13] hbjORbj commented on #33809
I am afraid this bug is not reproducible. Please share a screen recording.

[2022-10-06 14:14] hbjORbj commented on #34545
Duplicate of https://github.com/mui/material-ui/issues/33809

[2022-10-06 14:14] #34545 closed

[2022-10-06 14:17] #31817 closed

[2022-10-06 14:26] shaliake opened #34645 "DateTimePicker localization bug using MomentAdapter"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1.Import several moment locales e.g. ("moment/locale/lt", moment/locale/en-gb")
2.Create datetimepicker  localization provider and simple datetimepicker
3.Switch between locales using some trigger.

### Current behavior 😯

On locale change in date

[2022-10-06 14:32] JohannHospice commented on #30278
It seems to work great like this :
[code]

[2022-10-06 14:41] raesche commented on #33523
I was unable to reproduce this issue on any sandbox, that's why I could not provide a sandbox link with the problem. However the problem still exists in my project (it's an electron application) and I was not able to resolve it (even when copying the sample code from the MUI website and updating to the latest version).

In the meantime I discovered that the spurious element is the <input> label th

[2022-10-06 14:54] shestakova1806 commented on #34516
@michaldudak Thanks for your answer. I hope we will be successful with implementation of our component with Unstyled Select.

[2022-10-06 14:55] NerdCowboy commented on #34615
@siriwatknp Appreciate the workaround!

Ya I'd agree. I'd say the code appears to be a bit nonstandard since `elevation` is a separate prop, but is treated as another variant under the hood which is rather unintuitive.

imo most components should have the ability to set elevation height independently of their other styles as its one job is to show depth regardless of other styles (e.g. Button has

[2022-10-06 14:55] haneenmahd commented on #33523
Why don't you ignore setting the display style of the input and instead show the input element when needed using conditional rendering.

Example:
[code]

[2022-10-06 15:07] RELNO commented on #34483
Thanks @Exahilosys. I support this change, and provided a boilerplate example of the issues with current breakpoints here https://github.com/mui/material-ui/issues/34605

[2022-10-06 15:17] Padreco-lbr commented on #22572
@oliviertassinari and @sheldon124
This solution is not really great, if you are using something like
[code]
The code will have to be repeated so that `InputLabel` content matches `label` property?

Waht is the point of having InputLabel, then? Can it be removed with no damage to compatibility?

[2022-10-06 15:32] sojumoscow commented on #7781
How di you solve that issue? I have this issue right now

[2022-10-06 18:24] kingllama opened #34646 "maxWidth='xs' is applied inconsitently, cannot be configured"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

[Sandbox Link](https://codesandbox.io/s/gallant-dirac-vidhld?file=/src/App.tsx)

### Current behavior 😯

setting `maxWidth='xs'` has different effects on different components.

| Component | Compiled CSS |
|-------------|---------------|
|`<Container maxW

[2022-10-06 19:36] shivam1646 commented on #34490
Hi @ZeeshanTamboli I have created PR #34648 with the fix. Could you please take a look when you get some time. Thanks.

[2022-10-06 20:08] #34383 closed

[2022-10-06 20:48] livinglifemeaning commented on #34427
So I tested with a screenreader, and, as mentioned, when using the spacebar to check and uncheck it the screen reader says nothing. However, in the list right beneath it that demonstrates check boxes as a second item, the screenreader does say "Checked" and "Unchecked" in response to using the spacebar. I compared the differences between the input elements is the problematic list items had the att

[2022-10-06 21:55] RPisRyan commented on #32749
Problem seems to have resurfaced. I can't work around it with useEffect, ref, anything. Using latest version.

[2022-10-07 00:04] hbjORbj commented on #31876
I assume that you already read the workaround mentioned in https://mui.com/material-ui/react-tooltip/#disabled-elements

I see in the codesandbox you provided that wrapping the children passed to `Tooltip` with `<span>` fixes the issue and doesn't change any styling.

[2022-10-07 00:10] ashuvssut commented on #7247
[code]

[2022-10-07 03:14] IsaiahByDayah commented on #32948
I wonder if its because `SxProps<Theme>` can actually be an object, an array, _or a function_ according to inspecting the types of it:
![Screen Shot 2022-10-06 at 8 14 14 PM](https://user-images.githubusercontent.com/6565265/194460332-b77e0e29-0aff-40b2-a99e-30d96147a8eb.png)

[2022-10-07 04:29] rebecca-xie-au commented on #31261
Hi,
Has anyone tried adding a Tooltip for TableRow?

[2022-10-07 07:50] siriwatknp commented on #34490
I think we have to weigh the trade-offs between these options:

1. [current] clicking a custom element inside decorators does not trigger select to open.
   **pros**: You don't need extra code if the decorators are interactive, e.g. an `IconButton`.
   **cons**: If non-interactive elements like an Avatar, you need to add `sx={{ pointerEvents: 'none' }}` to the avatar.
2. clicking anywhere on the s

[2022-10-07 08:44] siriwatknp commented on #34503
Can you share a CodeSandbox that reproduces the issue? I would like to see the usage to make sure I am on the page.

[2022-10-07 08:47] siriwatknp commented on #34490
Thanks for your opinion! I will keep this open for a few weeks to see what others think.

[2022-10-07 09:00] zee-bit commented on #34570
Is this issue still up for grabs? I would like to work on this.

[2022-10-07 09:13] siriwatknp commented on #34570
Go ahead!

[2022-10-07 11:27] noobDev31 commented on #12913
@oliviertassinari  I can't make this design for the textArea with MUI then 😭 -

![image](https://user-images.githubusercontent.com/109504204/194542878-3ddd7f0f-a70c-4782-a3c1-5263ecdbd0b4.png)

[2022-10-07 12:45] TrySpace commented on #30278
@JohannHospice I don't see the `Collapse` animation component anywhere, so this won't animate anything I assume?

[2022-10-07 12:59] StarAzure commented on #32830
This happens with next 12.3.1. If it was fixed with 12.1.7, should it happen again in 12.3.1? Please reopen - See huge icons on initial load.

[2022-10-07 14:42] MonstraG commented on #26070
Hmm, I don't need to export the values of them, but I would like to have the type exported, so basically this:

[code]

So I can conviniently expand it with my own 'confirmClick' or something like that.

[2022-10-07 14:44] StarAzure opened #34652 "mui 5 causes icon flashing on initial page load with next js"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. material ui 5 with next js 12.1.5 or 12.1.6 or even latest 12.3.1
2. page on initial load  - icons flash as a huge icon on page load
3. also followed example - https://github.com/mui/material-ui/tree/master/examples/nextjs

This was discussed b

[2022-10-07 15:04] wiznotwiz commented on #1670
Bump

[2022-10-07 15:13] jesrodri commented on #34490
I came up with a workaround solution only for the avatar case, but I agree with @shivam1646!
I think his solution is a great one for this case.

[2022-10-07 16:24] Sairaj0110 opened #34654 "[MuiButtonBase-root] user-select is not supported by Edge, Firefox"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. login to the application using material-ui in edge browser
2. Open edge browser console and go to issues section
3. you can see below error
![index](https://user-images.githubusercontent.com/36328327/194601354-3160f242-bb1f-48b9-b07d-e36415e319

[2022-10-07 18:29] StarAzure commented on #34652
Also described here  but was never fixed - https://github.com/mui/material-ui/issues/32775

[2022-10-07 22:20] itsbhaumikjoshi commented on #34498
hey i am new to open source and looking for contributions. I think with little guidance I can solve this. Can I contribute?

[2022-10-08 03:14] MA-MacDonald commented on #31835
I'm running into the same issue...
I'm using Vite v3.1.6

I'm importing all of my Box components like the following but still receiving the error
`import {Box} from "@mui/material";`

![image](https://user-images.githubusercontent.com/7886459/194685264-5d204262-4798-42f7-a1d9-a693a2348067.png)

[2022-10-08 04:36] nwoodr94 opened #34656 "MUI Select component has ridiculous default behavior for larger lists"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps: Create an MUI Select component and load it with a medium/large list, for example the US states (below)

[code]

### Current behavior 😯

![image](https://user-images.githubusercontent.com/46133948/194688070-a846425d-5899-4bdc-963f-35825e08aaca.png)

[2022-10-08 04:45] nwoodr94 commented on #34656
Adding a Box inside the Select component appears the fix the layout issue, but the menu items themselves are not clickable here.

![image](https://user-images.githubusercontent.com/46133948/194688791-47d8bc18-594d-4511-ab48-0e195ec47b6e.png)

[code]

[2022-10-08 05:01] nwoodr94 commented on #34656
Today I Learned

Following the MenuProps, and subsequent PaperProps on the Select component, I was able to add this line to restrict the select height;

[code]

[code]

I'm leaving this open for consideration as the height of a list should perhaps be a top level prop.

[2022-10-08 08:19] doronnac commented on #34621
The issue happens server side after importing any component from the default exports instead of from barrel in a ui lib (i.e. import Button from '@mui/material/Button' instead of import {Button} from '@mui/material').

The actual error is:
`Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.`

But trpc wrapper

[2022-10-08 08:19] #34621 closed

[2022-10-08 12:09] murali0101 commented on #28528
when I try this it's not working, it asks to force install, and after force  install  also not working

[2022-10-08 14:30] HexM7 opened #34660 "[Joy][CssVarsProvider] Default color scheme attribute is being preserved when using `getInitColorSchemeScript` in Next.js without explicitly specifying the attribute parameter"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Use `CssVarsProvider` with a custom `attribute` prop.
2. Inspect the `html` element.

### Current behavior 😯

The `data-joy-color-scheme` is still being applied to the `html` element parallel to the custom data selector when using the `attribut

[2022-10-08 17:03] oliviertassinari commented on #33274
@markedwards but Swiper is for carousels no? react-swipeable-views wasn't built it solve this problem.

I'm reopening so we can acknowledge that this demo is not OK: https://mui.com/material-ui/react-tabs/#full-width. We can either:

1. Replace it with a native CSS implementation. It don't see why it wouldn't work. It wasn't possible 7 years ago when I created react-swipeable-views.
2. Find anothe

[2022-10-08 17:12] markedwards commented on #33274
Yeah it’s a bit of a different feature set, but you can do many of the same things.  I’m not in love with Swiper to be honest.  I’m using it to do a TikTok-style vertical feed, and it just barely gets the job done.  It uses weird translate3D tricks and wreaks havoc with z index.  And I’m pretty sure it can be done in a more performant way.

[2022-10-08 17:41] Lazercat commented on #2653
This is what worked for me with a dark theme / black background/white font..

[code]

[2022-10-08 20:03] PinoFlores opened #34666 "Warning: An update to ForwardRef(ButtonBase) inside a test was not wrapped in act(...)."
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Just testing a comaponent with any material button

### Current behavior 😯

Warning: An update to ForwardRef(ButtonBase) inside a test was not wrapped in act(...).

### Expected behavior 🤔

No warning

### Context 🔦

I dont know

### Your envir

[2022-10-09 00:04] oliviertassinari commented on #26070
@MonstraG It makes sense, we are already doing it for some of the components, e.g.

https://github.com/mui/material-ui/blob/d3010f1599af56b3b1dd9e576b27d5b91d760e9f/packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.d.ts#L288-L293

https://github.com/mui/material-ui/blob/d3010f1599af56b3b1dd9e576b27d5b91d760e9f/packages/mui-base/src/SnackbarUnstyled/useSnackbar.types.ts#L1

Actually on thi

[2022-10-09 08:43] YASHBRO commented on #34113
What if we add a pixel-perfect margin on top of the Text field which exactly covers the label
Or, if we use CSS selectors to look for TextFields as the 1st child of Stack, etc and add padding there
Is it a feasible solution, because it might break existing designs which already have padding for the above

According to me, making changes to the Label/Textfield is less design-breaking than doing any

[2022-10-09 09:02] YASHBRO commented on #33738
Is this issue still up for grabs?

What I noticed in @NPrada's sandbox is on clicking the arrows icon, it's setting the component back to a collapsed state
Whereas in @siriwatknp's sandbox, it's working fine as it should I.e. clicking on both dropdown and icons leads to switching of the state from expanded to collapsed and vice versa

[2022-10-09 09:43] raesche commented on #33523
Dear Haneen
Thanks, but the issue is not related to a single \<Input> that needs to be visible or hidden. The problematic \<Input> is part of the \<Select> component from MUI (see [https://mui.com/material-ui/react-select/](https://mui.com/material-ui/react-select/)) that should be automatically hidden when the component is disabled. This works in every sandbox and every example that I've found, b

[2022-10-09 18:40] maneetgoyal commented on #33563
Would be nice to have this

[2022-10-09 19:47] langwan opened #34689 "How do I customize component from my function (react function component)?"
### What's the problem? 🤔

I looked at all the documents and couldn't find a way to create a component from my own function. The documents all create new components from div or MuiButton. I need to create a new component from one of my own function

document code is:

[code]
dom html is
[code]

my code is:

[code]

dom html is
[code]

### What are the requirements? ❓

i  holp  my custom component

[2022-10-09 20:16] mightym opened #34690 "Select Variants"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Not sure if this is a bug or intended:

### Current behavior 😯

On https://github.com/mui/material-ui/blob/master/packages/mui-material/src/Select/Select.d.ts#L148-L152 there are not Variant override Types

### Expected behavior 🤔

I was expecting like on

[2022-10-10 03:43] siriwatknp commented on #33738
Sure, can you take a look at what's the root cause of this bug and what should be the solution?

[2022-10-10 06:42] Ali-Azizi commented on #34544
Hi,
okay, I've prepared a sample of my code and you can see by using below link:
https://f2gpx4.csb.app/

If you test it in Ios you will see the problem which snackbar will not be displayed when keyboard is showing and you can compare with android to figure out the correct functionality.

[2022-10-10 07:42] s-shutenko opened #34692 "[docs] Demo FrameDeferring crashes"
- [ ] I have [searched for similar issues](https://github.com/mui/material-ui/issues?q=is%3Aissue%20%5Bdocs%5D%20Demo%20FrameDeferring%20crashes) in this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Visit https://mui.com/material-ui/react-no-ssr/
2. ??
3. demo *FrameDeferring* crashes

## Your Environment
| Tech         | Version |
|--------------|---------|
| MUI

[2022-10-10 07:48] siriwatknp commented on #34544
Thanks! I think the position `fixed` is not well supported in mobile iOS, see some workarounds in https://stackoverflow.com/questions/43833049/how-to-make-fixed-content-go-above-ios-keyboard

[2022-10-10 07:50] siriwatknp commented on #34544
I mark this as "external dependency" because the browser/OS should handle this properly. Feedback welcome!

[2022-10-10 10:39] michaldudak commented on #34654
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-10-10 10:52] michaldudak commented on #34656
Thanks for the feedback. Having components composed of other components gives flexibility and allows us to maintain fewer props. Besides, max height is a presentational attribute and should be set in styles.

I'll keep this issue open. If there is a significant demand from the community, we'll consider exposing the prop.

[2022-10-10 10:59] michaldudak commented on #34666
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://mui.com/r/issue-template), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2022-10-10 11:12] chezedude opened #34696 "Scrollable tabs auto scroll to selected tab when under transform: scale"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add Tabs component to the page with variant="scrollable" and enough tabs so that the scrollbar arrows appear.
2. Add transform: scale(0.8) to the parent element of the tabs component.
3. Click the arrow to scroll (or drag on mobile), it will au

[2022-10-10 12:13] siriwatknp commented on #34660
Can you share the CodeSandbox that reproduces the issue?

[2022-10-10 12:34] rafael-zilberman opened #34701 "Cannot have multiple TabsContext's on the same page"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

You can see the following codesandbox: https://codesandbox.io/s/lucid-fermat-invl1t?file=/src/App.tsx

### Current behavior 😯

The second tabs context is not selecting any tab and errors are shown in the console

[code]

### Expected behavior 🤔

_No respo

[2022-10-10 14:56] HexM7 commented on #34660
Seems out the issue is caused by using `getInitColorSchemeScript` in Next.js, we also need to specify the custom attribute in `getInitColorSchemeScript` function as such:

[code]

Some documentation around [this](https://mui.com/joy-ui/main-features/perfect-dark-mode/#the-solution-css-variables) section may help others in the future. Thanks for your time!

[2022-10-10 14:56] #34660 closed

[2022-10-10 19:37] believion commented on #34620
Can you share a screen recording ?

[2022-10-10 19:43] believion commented on #34701
Can you share a screenchot or a screen recording of the issue ?

[2022-10-10 20:25] EduardoSCosta commented on #31112
Hi, i was investigating this issue and i'd like to do it :smiley:

[2022-10-10 20:25] robrondon commented on #26380
I'm having the same issue here.. i need to give some space between the icons and is not working well.. tried with flex, with margin and padding and same problem.

[2022-10-10 21:25] #33999 closed

[2022-10-10 21:54] objectiveSee opened #34703 "Dashboard Example shows white blank screen"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Add the contents of the [dashboard example directory](https://github.com/mui/material-ui/tree/40885ed49b215fef6f85cc504f02a9d52f0bc045/docs/data/material/getting-started/templates/dashboard) to a React project
2. Use the `<Dashboard>` component

[2022-10-11 03:16] mirzhasan opened #34705 "Allow for color type overwriting for components"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Simply put, today, when creating a theme, I have a set that I can use (primary, secondary etc). I can also create my own themes using the current API, for example:

[code]
But when I start to use my custom theme object (which works in jsx btw), I get a type error wh

[2022-10-11 03:18] siriwatknp commented on #34660
The custom attribute on the `<CssVarsProvider attribute="data-cs">` is intentional right?

[2022-10-11 03:21] HexM7 commented on #34660
Yes, the default is `data-joy-color-scheme`.

[2022-10-11 05:54] mxcrtgn opened #34706 "Source code of all SSR/SSG page is not rendering properly"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. I visit an SSG or SSR page online like this one https://www.acaciapp.com/action/environnement/ne-pas-acheter-bouteilles-plastique/3TY0UDde3V5VZt00RB7X
2. If I "inspect", I get the HTML content of the page and it works fine
3. If I look at the "

[2022-10-11 05:58] mirzhasan commented on #34705
Closing this ticket since the feature already exists:
https://mui.com/material-ui/customization/palette/#adding-new-colors

[2022-10-11 05:58] #34705 closed

[2022-10-11 07:21] #34596 closed

[2022-10-11 08:18] michaldudak commented on #34236
@natalyjazzviolin Sorry for the late reply, as I was on vacation.
The number of items that causes the flicker depends on the performance of the machine the code is running on. While setting up virtualization could make the issue disappear, it would treat the symptom, not the cause. IMO it would be better to fix the bug at its root. @vanyaxk's solution looks promising so far but needs some addition

[2022-10-11 08:22] michaldudak commented on #34516
If you encounter any problems or just have general feedback about the Unstyled Select, I'd be most grateful if you let me know.

[2022-10-11 08:27] younessdev9 commented on #20991
the same needs

[2022-10-11 08:34] michaldudak commented on #34236
Actually, this issue seems to be a duplicate of #33308.

[2022-10-11 08:34] #34236 closed

[2022-10-11 08:36] sabbin opened #34708 "[Checkbox] Overriding Checkbox styles from theme provider not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Steps to reproduce 🕹

Steps:

1. Create a theme
2. Add MuiCheckbox to components
3. Override styles for `checked`

### Current behavior 😯

I want to override the `checked` and `disabled` of the `CheckBox` component as described in the [Checkbox API](https://mui.com/material-ui

[2022-10-11 08:37] michaldudak commented on #33743
Yes, this is a duplicate of #33308.

[2022-10-11 08:37] #33743 closed

[2022-10-11 08:43] thomasfl commented on #20527
Another simple workaround, is to wait a second or two before rendering tabs. Works for me in MUI 4.11.2. Interestingly it needs at least 1 second delay for the default tab to be displayed as selected.

[code]

[2022-10-11 09:14] mnajdova commented on #34635
You can use the `StepIconProps` and propagate a data attribute with the index, for e.g. `data-index` if you need it. Will this solve your problem?

[2022-10-11 09:18] mnajdova commented on #34646
The `maxWidth` prop is a specific prop to the `Container` & `Dialog` components. It adds overhead for us to add in all components as part of the system, this is why it behaves differently. We should probably improve the docs around this.

[2022-10-11 09:37] Sirfrancis18 commented on #18322
him where you find those progressbar?