[2019-04-05 13:08] fzaninotto commented on #12621
I confirm this fis by @oliviertassinari isn't effective. Using core v1.5.1 with icons v1.1.1 still fails with a Babel error

[2019-04-05 13:13] Aerlinger commented on #14203
Also encountering this issue. I'm able to get the `<Select>` outlined by using an `OutlinedInput`, but it's quite ugly and doesn't seem to have consistent behavior with the `variant="outlined"` property on `TextField`

[2019-04-05 13:27] oliviertassinari commented on #15194
I have explored the problem a bit more, it's strange:
- https://codesandbox.io/s/0327qx362v
- https://codesandbox.io/s/1412l599v7
- https://codepen.io/anon/pen/mgEbMK

[2019-04-05 13:31] gautam-relayr commented on #15146
@oliviertassinari I would love to submit a PR for this.

[2019-04-05 13:42] lolero commented on #4535
I had the same problem and I was able to work around it by adding a class to the cell and checking the `event.target.className` on the `onClick` function.

[2019-04-05 13:53] oliviertassinari commented on #15214
@talolard We can't help without a simplified reproduction.

[2019-04-05 14:09] JCQuintas opened #15216 "[Speed Dial] Passing disabled prop to SpeedDialAction displays a warning in console"
If you pass `{ disabled: true }` to `SpeedDialAction` `ButtonProps` you get a message on the console saying:

[code]

Expected behaviour: No warning.

[2019-04-05 14:24] talolard commented on #15214
Ok. I'll try to put one together over the weekend or otherwise close the issue.
Thanks!

[2019-04-05 14:27] oliviertassinari commented on #15214
From your screenshot, the injection order is inverted. The injection order of the CSS depends on the import order. Maybe it can help.`

[2019-04-05 14:38] ygerg commented on #15194
Yeah, at first I thought it's a style clash of some kind but doesn't seem to be that way.
Forgot to save the sandbox, now there's a fourth example 😉

[2019-04-05 18:24] gebigoma opened #15218 "Multiple external styles throwing console errors - how to set up without errors?"
I have a page made up of many sub-components. The page folder holds the page file, external styles file and each sub-components folders - which also consists of their own style.

I need one common external style file to apply to all subcomponents living in one folder; and each subcomponent needs their own external style specific to it. The way I have it set up is throwing errors.

[code]

Here is

[2019-04-05 18:51] #15218 closed

[2019-04-05 18:52] joshwooding commented on #15218
Your `Red` and `Blue` component both use `classes.title` which doesn't exist in your code hence the warnings.

[2019-04-05 20:01] asciicode opened #15220 "Dialog renders the child component thrice"
- [ ] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

created component as a child of Dialog e.g. simple native form
the child component should render one time only when opening the dialog
## Current Behavior 😯

added console.log of child component, the

[2019-04-05 20:07] joshwooding commented on #15220
Can you please provide a minimal reproducible example? I would recommend using codesandbox.

[2019-04-05 20:10] asciicode commented on #15220
https://codesandbox.io/s/50nl7y4k0l - edited the issue as well

[2019-04-05 20:11] gebigoma commented on #15218
I got rid of the error by defining a blank `title` class in the styles file. But I don't think this fix is good for my use case.
![](https://i.imgur.com/3RIUfWH.png)
****
This is my folder structure:
![](https://i.imgur.com/f7MO53s.png)

I would like `DemoStyles.js` to hold all the common styles for the sub-components: `Red.js` and `Blue.js`.

`RedStyles.js` should only hold specific styles for th

[2019-04-05 20:16] eps1lon commented on #15220
We don't communicate any contract with regards to the amount of render cycles our component need. You shouldn't worry about these things since renders should be pure so there's nothing wrong with rendering 10 or 100 times.

What we do care about is the overall performance of our components (actual time to commit not number of render phases). It would help a lot more if you could show real benchmar

[2019-04-05 20:19] asciicode commented on #15220
thanks no worries. i thought at first it's my component. nice work mui guys.

[2019-04-05 20:19] #15220 closed

[2019-04-06 07:19] bjrn commented on #13793
I ran across this issue just now. According to the [JSS docs](https://cssinjs.org/jss-syntax/?v=v10.0.0-alpha.16#keyframes-animation), one is supposed to put a `$` in front of the animation name, which doesn't work. Simply omitting it, just as in your example above, works fine.

[2019-04-06 07:21] oliviertassinari commented on #13793
@bjrn It depends on the version of JSS you are using.

[2019-04-06 08:13] #15142 closed

[2019-04-06 11:06] johnraz commented on #15214
Hi @oliviertassinari,
I've just been hit by what you describe above and your comment helped me figure out what was happening, thanks for that.

I was naively doing the following in a `useStyles.js` file expecting to reuse it around the code to avoid the boilerplate:
[code]

This was working in dev but broke on a production build.
My "Hook" styles were imported in the middle of the Material-ui styl

[2019-04-06 16:40] mitko993 opened #15229 "[Select] Select native doesn't support react component as label in option"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

When using the `Select` component with the prop `native: true` (or `TextField` component with props `select` and `SelectProps={{ native: true }}`) i should be able to use a react component for the lab

[2019-04-06 16:50] oliviertassinari commented on #15229
@mitko993 This doesn't look like an issue with Material-UI, but with react-intl. Have you tried the same thing with a raw select element, does it work?

[2019-04-06 16:54] mitko993 commented on #15229
@oliviertassinari I haven't tried with a raw select element. But i have used it with `<MenuItem>` and without the prop `native` and it works.

[2019-04-06 16:59] oliviertassinari commented on #15214
@johnraz I'm surprised the behavior is different between dev and prod. I agree, we should explain how the injection works between two components. What do you think of this location? https://next.material-ui.com/css-in-js/advanced/#css-injection-order

Thank you for your interest in it!

[2019-04-06 17:05] joshwooding commented on #15229
The same happens with a raw select element.

[2019-04-06 17:06] #15229 closed

[2019-04-06 17:07] oliviertassinari commented on #15229
Sounds like you can't use react-intl component version, use their string API (I hope they have one).

[2019-04-06 17:13] joshwooding commented on #15229
@mitko993 https://github.com/yahoo/react-intl/issues/286

[2019-04-06 17:21] oliviertassinari commented on #15153
@illuminist Thank you for reporting this problem! I think that we should avoid the import of packages from @material-ui/core in @material-ui/styles documentation section.

Here is what happen, we are injecting a new theme in the demo, replacing the default one. The core button component tries to access a property missing in the theme, it crashs.

This MuiThemeProvider component should be gone: htt

[2019-04-06 17:43] oliviertassinari commented on #15187
@charlie632 You are right, the documentation for it is minimal. I was lazy when writing this piece of documentation. I wanted to highlight the fact that it's technically possible. The tests of the component can help. The shows hope you can use it on the server once you have the client width on the server. Now, to get the client width, you use a user agent conversion library or client hints.

[2019-04-06 17:53] oliviertassinari commented on #15183
Could it be a regression? We have a dedicated logic for it.
https://github.com/mui-org/material-ui/blob/bd7f1e75627682f32706794bea8cf9305d8f7cdd/packages/material-ui/src/InputBase/InputBase.js#L107

[2019-04-06 18:09] #15136 closed

[2019-04-06 18:11] #15165 closed

[2019-04-06 18:21] johnraz commented on #15214
Yes I was actually surprised as well by the prod build failing on this and it took me some time to figure it out.
In the end it's a good thing because I learnt a lot 😄

Thank you for the documentation pointer, I should have some spare time tomorrow to look at it 👍

I'm really just getting started with MUI on a brand new project, the theme feature was used in one of the example I started from. Then

[2019-04-06 18:55] joshwooding commented on #15183
![placeholder_edge](https://user-images.githubusercontent.com/12938082/55673887-dbae6b80-58a5-11e9-9150-16fc1c70612b.gif)

Tried this on edge, looked fine to me?

[2019-04-06 19:08] joshwooding commented on #15183
![placeholder_ie](https://user-images.githubusercontent.com/12938082/55674085-ad319000-58a7-11e9-9432-94b96aac7a44.gif)
Looks like it's broken on IE11 though

[2019-04-06 19:11] oliviertassinari commented on #15183
I have tried with Edge 18. It's working fine.

[2019-04-06 19:13] oliviertassinari commented on #15214
@johnraz Sounds like a plan 👍 . You can do this change, it should be identical.

[code]

[2019-04-06 19:27] oliviertassinari commented on #15183
@rodrigolabs Could you provide us more information on the reproduction. IE 11 issue seems to be "normal" the browser hides the placeholder once the input is focused. Edge is good on our side.

[2019-04-06 20:22] oliviertassinari commented on #15180
@Sharakai We most likely have the same issue with the Modal component. What do you think of this change?
[code]

It seems to solve the problem and to help in the upcoming class -> hook migration cc @joshwooding. It would be great to add a failing test case for your codesandbox as well as migrate the Modal component if this solution is satisfactory. Do you want to give it a shot? :)

[2019-04-06 20:47] joshwooding commented on #15180
This would definitely simplify the hook migration :) Modal might be slightly more difficult though

[2019-04-06 21:28] joshwooding opened #15231 "Migration to hooks"
We've made a great start in the conversion to Function Components. This is just an issue to keep track of what we class components (public and internal) we have left. I haven't checked if it's feasible to convert these components, if it's necessary or if it's worth it.

### Core

- [x] ScrollbarSize #15233
- [x] FormControl #15208
- [x] Collapse #15248
- [x] Tooltip #15291
- [x] Textarea #15331
-

[2019-04-06 22:51] johnraz commented on #15214
Oh! I see what you meant now, I think I introduced that because of another bug I had. I basically mixed up imports between `@material-ui/styles` and `@material-ui/core/styles` and probably tried `withTheme` when trying to make it all work... It does indeed work without it 👍
Thanks a ton for the pointer.

[2019-04-07 00:03] oliviertassinari commented on #15231
Once it's done, we should be able to remove the `withTheme()` and `withForwardedRef()` higher order components.

[2019-04-07 07:44] eps1lon commented on #15231
`withTheme` is part of our public API. It's not very convincing to remove `withTheme` but keep `withStyles`.

[2019-04-07 07:58] oliviertassinari commented on #15231
To be more specific, we can stop using these higher order components internally. They are still valuable for our users, we should keep the export of the withTheme module. How is this a breaking change?

[2019-04-07 08:02] eps1lon commented on #15231
[code]

[2019-04-07 08:20] oliviertassinari commented on #15231
Oh ok. It's not what I had in mind. He are moving from classes to hooks one pull request at the time, minimizing the changes. We have kept some usage of render props and higher order components. We will be able to replace them :)

[2019-04-07 08:24] #15146 closed

[2019-04-07 08:25] eps1lon commented on #15231
Alright. So remove internal usage not removing the implementation.

[2019-04-07 13:34] oliviertassinari commented on #14709
I have should have fixed all the issues with the Gatsby integration in #15219.

[2019-04-07 13:34] #14709 closed

[2019-04-07 15:04] eps1lon opened #15238 "Investigate babel-plugin-optimize-react"
We try to stick to the namespace import of react via `import React from 'react';` and then always use member access when using hooks i.e. `const [labelWidth, setLabelWidth] = React.useState(0);`.
This has poor minifaction potential (usually member access can't get mangled) and combined with array destructuring this blows up quite a bit:
[code]

Facebook recently released `babel-plugin-optimize-rea

[2019-04-07 15:17] prographo opened #15239 "Home page - list of all components"
Your home page should have an, easy to find, list of all components.

[2019-04-07 16:14] TrejGun opened #15240 "[TextField] InputAdornment shouldn't wrap"
start and end input adormants wraps long lines

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

start and end input adormants should not wraps long lines

## Current Behavior 😯

long lines are wrapped
<img width="597" alt="Screen Shot 2019-04-07 at

[2019-04-07 16:31] jeremy-coleman opened #15241 "very fast styled-jss Benchmark Results"
I was just running the 4.next benchmarks in styles.js (using the benchmark.js suite) to test a few more frameworks and some custom styled implementations, here are extra results:

typestyled 7k
mergeStyled 15k
cxs/component 23k
cxs (custom) 25k
and ***styled-jss 94k*** (version 2.2.3)

I copy/pasted the styled-jss code into a small app to make sure it's rendering correctly and no errors with the t

[2019-04-07 17:04] eps1lon commented on #15240
Could you provide a concrete example? I don't think we should support adding "blah blah" as adornments out of the box :wink:

[2019-04-07 17:19] ckashby commented on #15239
Click on hamburger menu in upper right corner.

Side drawer lists all component demos and APIs

Only two clicks and very standard.

[2019-04-07 17:20] ckashby commented on #15239
Upper left corner

[2019-04-07 17:54] thomasnordquist opened #15244 "Docs: Showcases - Layout changes when changing "Sort by""
https://next.material-ui.com/discover-more/showcase/

| before | after |
|-|-|
|<img width="1190" alt="Bildschirmfoto 2019-04-07 um 19 52 02" src="https://user-images.githubusercontent.com/7721625/55687580-c5201700-596e-11e9-8f5d-1156362969f6.png">|<img width="1190" alt="Bildschirmfoto 2019-04-07 um 19 52 10" src="https://user-images.githubusercontent.com/7721625/55687579-c18c9000-596e-11e9-8050-5

[2019-04-07 18:46] stunaz opened #15246 "Popover - perf issue... render 6 times"
## Expected Behavior 🤔
Render only once

## Current Behavior 😯
Render 3 times

## Steps to Reproduce 🕹

Link:

1. https://codesandbox.io/s/8x64n2v9p9 see the logs

## Context 🔦

## Your Environment 🌎

| Tech         | Version |
|--------------|---------|
| Material-UI  | next |

[2019-04-07 18:49] eps1lon commented on #15246
You can memoize expensive components with `React.memo`:

[code]

This will result in a single render for your component when opening the Popover.

[2019-04-07 18:49] #15246 closed

[2019-04-07 18:55] TrejGun commented on #15240
my case is ",000 Rp" after price

[2019-04-07 22:02] oliviertassinari commented on #15244
@thomasnordquist Thank you for reporting the issue, my screen is too small to reproduce it.
I'm proposing this fix:
[code]

Does it work the problem for you? Do you want to submit a pull request? :)

[2019-04-07 22:11] Sharakai commented on #15180
Right you are with the `Modal` component. I've made a codesandbox to repro that, too: https://codesandbox.io/s/2xolvp57n0

I've added a failing test case for both `Popper` and `Modal`, as well as a few others to ensure the `keepMounted` prop works as expected for both components.

@oliviertassinari The proposed change works fine, though I'm still trying to grok how...

@joshwooding If there's anyt

[2019-04-07 22:44] joshwooding commented on #15180
@Sharakai More than happy for you to help. I've created an umbrella issue with the components we have left (#15231). I will warn you that some of the ones left are quite difficult

[2019-04-07 22:50] joshwooding commented on #15244
That fix solved it for me. (I tested it in the browser)

[2019-04-07 23:38] n-batalha opened #15251 "add fluidTypography and fluidProperty to new css package"
This is a tracker for the feature request suggested here:

* https://github.com/mui-org/material-ui/pull/14573#discussion_r269117429
* https://github.com/mui-org/material-ui/pull/14573#issuecomment-479555907

Rather than try to do in the same MR, making a reminder ticket to work on this next.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui

[2019-04-07 23:47] MrXyfir commented on #9277
This is _still_ an issue.

[2019-04-07 23:58] IllusionElements opened #15253 "[Select] Add docs for the menu items that have to be direct descendants"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

when the onChange callback is fired, the event.target signature should be:
` {
    name: string,
    value: value of MenuItem
}
`
## Current Behavior 😯

event.target.value = undefined, but retains the

[2019-04-08 01:00] mbrookes commented on #15239
Alternatively, though not quite so obvious as that suggested by @ckashby: https://material-ui.com/getting-started/supported-components/

[2019-04-08 01:00] #15239 closed

[2019-04-08 06:49] thomasnordquist commented on #15244
@joshwooding thank you for testing.
I can confirm that the patch fixes the layout issue. I opened a PR (mentioned just above this comment).

[2019-04-08 08:21] #15244 closed

[2019-04-08 08:21] koutsenko commented on #8726
@up209d yes, your solution work, but with
```styles = { name: { cssprop: props => {} }``` notation, not
```styles = props => ({  name: { cssprop:  {} })```

Also, JssProvider isn't necessary.

[2019-04-08 08:26] #15214 closed

[2019-04-08 08:27] #15153 closed

[2019-04-08 10:11] eps1lon commented on #15253
The options of `Select` that hold the values must be immediate children.

Rather than `<Select><Options /></Select>` you have to use `<Select><OptionA /><OptionB /></Select>` etc. You could just use the import from `option.js` as a function e.g. `<Select>{Options()}</Select>`.

We should probably add a warning of none of the children of `Select` have a `value` prop  and add to the docs that the op

[2019-04-08 10:17] oliviertassinari commented on #15183
I'm closing for now.

[2019-04-08 10:29] oliviertassinari commented on #15253
Should we close a duplicate of #14943?

[2019-04-08 10:32] eps1lon commented on #15253
That one is about `Select`. This issue originates in `SelectInput`.

[2019-04-08 11:00] varunthefalcon opened #15258 "Restricting min and max dates not working in Native datepickers"
Need to restrict past or future dates in the native datepickers implementation of material ui.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Need min and max props for native datepickers or pass the non default props to the native element.
## Cu

[2019-04-08 11:29] caub commented on #8726
@koutsenko

[code]

You can't access `props` at the top level, even as a second argument after `theme`

[2019-04-08 11:32] oliviertassinari commented on #15258
@varunthefalcon Be aware of the existence of the `inputProps` and `InputProps` props.

[2019-04-08 11:32] #15258 closed

[2019-04-08 12:04] vivekanand-pst commented on #2176
use `selectable={false}` with Table instead of TableBody.

[2019-04-08 12:44] rodrigolabs commented on #15183
Thanks for the replies :)

@oliviertassinari

Well, I've just recorded a new reproduction. I don't know if you guys were testing as expected, but this is what I did:

- Focus the text field
- Click in the Address Bar
- Label and Placeholder will overlap

See the new preview, tested with Edge:

![ieEdge](https://user-images.githubusercontent.com/1905961/55724819-9cd20000-59e2-11e9-8c96-e3f260c023f4

[2019-04-08 13:47] manojibdaa commented on #13058
@NuruddinBadawi Were you able to fix this ?

[2019-04-08 14:27] 3lue commented on #2671
Added some CSS rules and now it seems to be perfect:
`MenuItem: {
    paddingLeft: 3 * theme.spacing.unit
  },
  MenuGroup: {
    fontWeight: theme.typography.fontWeightMedium,
    opacity: 1,
    cursor: "default",
    "&:hover": {
      backgroundColor: "transparent !important"
    }
  }`

[2019-04-08 15:33] jaipe opened #15262 "[Popper] onUpdate / onCreate not handled"
`onUpdate` and `onCreate` options are overridden in the Popper component, making it difficult to access internal data about the popout / get lifecycle callbacks.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The `popperOptions` should support `on

[2019-04-08 16:43] oliviertassinari commented on #15262
Have you tried providing a top div and to get a reference on it?

[2019-04-08 17:06] timaxxer opened #15264 "@material-ui/styles duplication issue"
On v4.0.0-alpha.7 release, dependency for @material-ui/styles was not aligned in package.json

When importing both core and styles v4.0.0-alpha.7 on my project, my ThemeProvider is not taken in consideration.

[2019-04-08 17:20] Falieson commented on #13663
Something changed in the tables alpha.1 to alpha.7 , I now have to add lineheight to all rows

[2019-04-08 17:59] TrejGun commented on #13863
I want to add my 2 cents as developer

we are using material-ui with react-select for several different cases and i want to point to edge cases which are important for us

1. integration with forms helpers. it was mentioned that people are using it with redux-form and we are using it with final-form. feels really good.

3. in your current exaple styles are not matching material ui style. by this i

[2019-04-08 18:08] oliviertassinari commented on #13663
@Falieson Thank you for the problem report. Were you overriding the styles prior to the change of behavior? Any idea what changed?

[2019-04-08 18:17] varunthefalcon commented on #15258
Cool, better documentation will be appreciated.

[2019-04-08 18:27] oliviertassinari commented on #15183
@rodrigolabs This is the only workaround I can find:
[code]
But we lose the opacity animation. What do you prefer?

[2019-04-08 18:32] oliviertassinari commented on #15264
@timaxxer Do you bundle two different versions of @material-ui/styles?

[2019-04-08 18:38] Falieson commented on #13663
@oliviertassinari My table is derived from: https://material-ui.com/demos/tables/#sorting-amp-selecting . I just componentized and hooked it .
---
On a new note - would it be a lot of effort to include an upgrade script that will look for all instances of blocks that contain the properties moved from /core/ to /styles/ and update the import?
[code]
[code]

I tried a simple search/replace which gav

[2019-04-08 18:45] eenov8 opened #15265 "Unable to display dynamic rows in React Material UI form with dropdowns"
Hi,

I am fairly new to react JS and material UI both and working on a small project with a requirement to display a material UI form having dynamically added rows containing a dropdown and a text field. I have been already able to reach a position where the dynamic fields contain two text boxes and on submit I get individual rows data as JSON indexed by the row number.

Now I want the form to hav

[2019-04-08 18:47] brandonferrer commented on #11723
Would love for the implementation to work with the Select API as well! :)

[2019-04-08 19:29] jcperez-ch commented on #14441
I have a similar issue, and as @henkvhest said, it's not 100% reproducible.

I don't use a `Drawer` component, but I am thinking the origin of the problem is the `Snackbar` component, since it's the one we are using the most in many situations/scenarios. I know it's still unclear, but we need to find a way to reproduce it so we can fix it.

[2019-04-08 19:36] jcperez-ch commented on #14319
I have tried the code sandbox you posted @DanilloCorvalan and I see you use `<Route exact path="/" component={props => <Index {...props} />} />` when you actually need `<Route exact path="/" render={props => <Index {...props} />} />`
Lazy components won't work using the `component` render, you either need to render them as children or with `render` prop.  Not sure if the issue is going in that dir

[2019-04-08 19:40] rodrigolabs commented on #15183
@oliviertassinari it seems that if we put a `!important` in `placeholderHidden`, it works fine:

[code]

I think we won't lose the opacity animation with that. What's your opinion?

[2019-04-08 19:42] jcperez-ch commented on #14319
I tried @oliviertassinari codesandbox and removed the actual `RootRef` and it worked... so we can see the issue is still present in RootRef
https://codesandbox.io/s/k2kojyy74r

[2019-04-08 19:44] oliviertassinari commented on #13663
@Falieson I have taken the demo, and replaced v3 for v4, no issues: https://codesandbox.io/s/j3vjoyp7oy. I don't know what's going on.

@Falieson That's not needed. What lead you to this path?

[2019-04-08 19:48] oliviertassinari commented on #15183
@rodrigolabs wow, that's awesome :). Do you want to submit a pull request? :)

[2019-04-08 19:53] oliviertassinari commented on #14319
@jcperez-ch So, are we good? We will deprecate RootRef in v4.1.0.

[2019-04-08 19:53] rodrigolabs commented on #15183
@oliviertassinari  Sure, I'll be happy to do that! :)
I'll open the PR and mention you there.

[2019-04-08 19:53] eps1lon commented on #14441
@jcperez-ch  While this is a problem it's not that big of an issue. What we do need however is an example where it is *sometimes* reproducible. At least so that we can fiddle around with it. But just a stack trace and 5 lines of code that only cover 10% of the actual code won't help us much.

If you can share some code please open a new issue though.

[2019-04-08 20:33] mbrookes commented on #9455
And to #14185 - not sure which dupe to close... 🤔

[2019-04-08 21:14] Falieson commented on #13663
@oliviertassinari
Tables: When I have a second I'll make a repro, try to figure out what the issue is that I'm coming across.
Imports:
**not sure what you mean by not promoted?**
createStyles, withStyles, WithStyles were moved from the `/core` package to the `/styles` package. imports fail without updating it.
When I write my applications I have a module folder for each of the react libraries I ma

[2019-04-08 21:21] oliviertassinari commented on #13663
@Falieson It's definitely not a bad idea. My point is that it won't change much at the end of the day. All the component demos are using `@material-ui/core/styles`. If you can avoid the changes, keep your code as is :).

[2019-04-08 21:24] Falieson commented on #13663
@oliviertassinari I didn't realize the properties were removed from the toplevel `/core/` export but still available at `/core/styles`. Even still I would have had to refactor and split the imports like below
[code]

[2019-04-08 22:09] timaxxer commented on #15264
In your package.json for core alpha7, you have dependency on styles alpha6. If I use styles alpha 7 in my project, the Theme context provider doesn’t push down the right context to your style alpha 6 dependency.

I fix my current problem by using style alpha 6. Ionly pointed the fact that maybe poeple using  both core alpha7 and styles alpha 7 will have theme problem

[2019-04-08 22:12] oliviertassinari commented on #15264
We are using `^` as the dependency range it maches more recent versions. It shouldn't be an issue.

[2019-04-08 22:27] timaxxer commented on #15264
Effectivly, I’ll try to figure the problem, thanks for the quick response

[2019-04-08 22:56] henkvhest commented on #14834
@oliviertassinari This does not seem to be fixed. I tried in my own project and in @SeyedAlirezaFatemi's example with the current dependencies:
    "@material-ui/core": "4.0.0-alpha.7",
    "@material-ui/icons": "4.0.0-alpha.1",
    "@material-ui/lab": "4.0.0-alpha.6",
    "@material-ui/styles": "4.0.0-alpha.7",

In my own project, removing react-jss still yields to the same error: TypeError: Cann

[2019-04-09 00:07] Falieson opened #15269 "[Slider] Add customization example"
I'm reffering to the implementation code here: https://github.com/mui-org/material-ui/blob/next/packages/material-ui-lab/src/Slider/Slider.js
Check out this REPL: https://codesandbox.io/s/w65j3jmlr5
the Thumb -MuiSlider activated class is supposed to be `rgba(84, 78, 93, 0.16)`
but is returning as `rgba(156, 39, 176, 0.16)` (the primary color fade)

[code]
[code]

How do you override the `&$activa

[2019-04-09 04:03] abrcdf1023 opened #15274 "When tabs scroll buttons is hidden on mobile not all tabs can be clicked."
When tabs scroll buttons is hidden on mobile not all tabs can be clicked.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

And I make a quick fixed by following code.

[code]
![Apr-09-2019 12-01-25](https://user-images.githubusercontent.com/1289445

[2019-04-09 05:02] JeromeFitz commented on #15264
@timaxxer I was running into this conflict too and not understanding why this was happening `yarn list @material-ui/styles`:

[code]

So I ended up removing `@material-ui/styles` from my `package.json`, getting rid of `node_modules` and re-installing `@material-ui/core` which resulted in `yarn list @material-ui/styles`:

[code]

Not sure why `@material-ui/core` is not picking up `4.0.0-alpha.7` in

[2019-04-09 05:05] jedwards1211 commented on #13663
@Falieson FWIW if you need to rename a bunch of imports, you can use [jscodeshift-transport](https://github.com/jcoreio/jscodeshift-transport)

[2019-04-09 05:48] eps1lon commented on #15264
@JeromeFitz You can run `yarn check` to detect packages that can be deduplicated. I would usually recommend manually patching the lockfile instead. We recently did this with our own in case you need some inspiration: #15260. You could also try out [`yarn-deduplicate`](https://www.npmjs.com/package/yarn-deduplicate). `yarn` v2 hopefully improves a lot of these edge cases.

[2019-04-09 06:05] eps1lon commented on #9455
Almost. Closing this in favor of #13875

[2019-04-09 06:05] #9455 closed

[2019-04-09 06:06] eps1lon commented on #14185
Closing this in favor of #13875. You can already add custom colors to the palette. Just not use them in `color` props of our components.

[2019-04-09 06:06] #14185 closed

[2019-04-09 06:13] JeromeFitz commented on #15264
Thank you @eps1lon .

I tend to always forget removing `yarn.lock` when going the route of throwing `node_modules` out (and not the first time with this alpha 😆 ).

Did those steps and am back in business with explicitly having `@material-ui/styles` in the `package.json`.

[2019-04-09 06:38] joshwooding commented on #15274
You should be able to scroll horizontally to access the other tabs?

[2019-04-09 08:11] oliviertassinari commented on #15264
The simplest strategy is probably to remove the yarn.lock and to run a new installation. I use this strategy all the time.

[2019-04-09 08:12] raymondsze opened #15277 "Integration of new Server Rendering API"
I was using `Material UI` with `Apollo` and `Next.js`.
Previously I use the `StylesProvider` for the rendering in App Component. I pass `disableGeneration` as `true` to `StyleProvider` to perform Apollo Server-side rendering.

I found that the new guide has been changed to `ServerStyleSheet`. `StylesProvider` has been changed to `sheets.collect`.
I think it is not great to new a `ServerStyleSheet`

[2019-04-09 09:04] chaudharykiran opened #15278 "When we upgrade @material-ui/core from 3.9.2 to 4.0.0-alpha.7, test breaks"
TypeError: Cannot assign to read only property 'className' of object '#<Object>'

- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

1. The test were passing before upgrading to v4.0.0-alpha.7. The test should pass.

## Current Behavior 😯

## Context

[2019-04-09 09:17] pheolink commented on #14319
Guys even I am facing the same issue. the issue is happening in the tool tip. Is there any solution found....? are else do we have to wait till v4.1.0

[2019-04-09 09:32] eps1lon commented on #15264
This is a YOLO approach. Don't do this in production unless you actually want to vet ~2k line changes.

[2019-04-09 09:35] oliviertassinari commented on #15264
😆. If you have a great test suite, the capability to monitor issues and to quickly revert changes, it should be fine.

[2019-04-09 09:38] jaipe commented on #15262
Thanks for the reply! What I'm trying to achieve is integration of Popper on a desktop application - which means resizing/positioning a native dialog (in place of a DOM element) whenever certain events occur (creation / reposition). But these callback options have been excluded from the public popperOptions API.

Although, your comment got me digging a bit and `innerRef` might help. I'll report ba

[2019-04-09 09:41] abrcdf1023 commented on #15274
You are right! I test this on my phone and it work perfectly! I'll close this issue.

[2019-04-09 09:41] #15274 closed

[2019-04-09 10:02] #15265 closed

[2019-04-09 10:03] eps1lon opened #15279 "RTL in alpha.7"
@oliviertassinari This does not seem to be fixed. I tried in my own project and in @SeyedAlirezaFatemi's example with the current dependencies:
    "@material-ui/core": "4.0.0-alpha.7",
    "@material-ui/icons": "4.0.0-alpha.1",
    "@material-ui/lab": "4.0.0-alpha.6",
    "@material-ui/styles": "4.0.0-alpha.7",

In my own project, removing react-jss still yields to the same error: TypeError: Cann

[2019-04-09 10:04] eps1lon commented on #15279
@henkvhest  Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-04-09 10:09] eps1lon commented on #15278
@chaudharykiran Could you include the test? v4 introduces breaking changes. It is not expected that v3 code works without adjustments in v4.

[2019-04-09 10:27] oliviertassinari commented on #15262
@jaipe Let us know :). If it's not enough. I have no objection with fixing the `onCreate`/`onUpdate` shallowing. We have a function helper that we can use:
[code]

[2019-04-09 10:37] oliviertassinari commented on #15279
@henkvhest It's a classic mix between JSS v9 and v10. Check your dependencies.

[2019-04-09 11:12] ankitpatelinitio opened #15280 "How to disabled material ui icons?"

[2019-04-09 11:41] TrySound commented on #15280
`yarn remove @material-ui/icons`? Or what you are asking about?

[2019-04-09 11:42] henkvhest commented on #15279
@oliviertassinari Thanks, was still using 9.8.7. Perhaps I overlooked it but I didn't see it listed in the documentation to use version > 10 ? I can add it if you'd like.

[2019-04-09 12:01] #15280 closed

[2019-04-09 12:04] oliviertassinari commented on #15279
@henkvhest Ideally, we would fail fast with an explicit error rather than `TypeError: Cannot read property '1' of undefined`. A documentation note can help a bit too.

[2019-04-09 12:06] Obbi89 commented on #15136
@eps1lon  @oliviertassinari Is this issue fixed?

If not I just built this Sandbox.
The error has to be triggered in a certain way and it might not trigger every time.

1) Hover over the Material-UI title until the tooltip appears.
2) Quickly click on the button to load the dialog.

It seems to be a race condition with (timers?) i guess.
You need to inspect the iframe to get the real exception, ca

[2019-04-09 12:12] oliviertassinari commented on #15136
@Obbi89 Could it be a React issue?

[2019-04-09 12:29] oliviertassinari commented on #15277
@raymondsze It's a good question. I think that we can update the documentation:

[code]

Do you want to give it a shot? 10 issues, 0 pull request, it would be awesome to contribute back :).

---

For Apollo, you can do:
[code]

---

For the theme color, most people keep it static, now, nothing prevents you from chaning the value. I don't understand.

[2019-04-09 12:31] eps1lon opened #15283 "Dialog, lazy and Suspense"
@eps1lon  @oliviertassinari Is this issue fixed?

If not I just built this Sandbox.
The error has to be triggered in a certain way and it might not trigger every time.

1) Hover over the Material-UI title until the tooltip appears.
2) Quickly click on the button to load the dialog.

It seems to be a race condition with (timers?) i guess.
You need to inspect the iframe to get the real exception, ca

[2019-04-09 12:35] #15183 closed

[2019-04-09 12:41] eps1lon commented on #15283
Thank you for the report. I'm able to reproduce this with your codesandbox.

It might be an issue with react since `findDOMNode` throws inside `componentDidUpdate` with "Unable to find DOM node at unmounted component" which is definitely the wrong message.

I guess this is why findDOMNode is already deprecated. Will look into a reproducible example without material-ui and if this has already been

[2019-04-09 13:16] Obbi89 commented on #15136
@oliviertassinari
Might be. The problem seems to be this:
- React waits for the lazy import
- suspense kicks in and renders its fallback
- the fallback is entering the dom tree and replaces the now unloaded components (Tooltip etc.)
- a timer or async function or callback is calling findDOMNode or similar in the not mounted component causing this exception to be thrown.

I guess that has to do wit

[2019-04-09 13:21] sezeregrek commented on #11649
Any update on that issue?

[2019-04-09 13:52] iakovosvo opened #15286 "TextField multiline adds extra height"
There seems to be some extra height when I set multiline to true with a fixed value on rowsMax

---

Edit @oliviertassinari

https://codesandbox.io/s/w8xmm49x5

![Capture d’écran 2019-04-12 à 11 36 25](https://user-images.githubusercontent.com/3165635/56027922-4bde4680-5d17-11e9-8b0e-4fceec527f10.png)

[2019-04-09 14:05] eenov8 commented on #15265
You are actually right, I was not sure of putting it here, but then I got a little confused with the category "help required". Anyways, I already have an SO question which was created earlier at https://stackoverflow.com/questions/55565426/how-to-display-dynamic-rows-in-react-material-ui-form-with-dropdowns
Any response over there would be appreciable and I will be more than happy to share any fur

[2019-04-09 15:04] eps1lon commented on #15231
@joshwooding If you don't have any priority for specific components it would be nice to prioritize Tooltip (improves `RootRef` -> `useForkRef` switch) and other components that use `setRef`.

[2019-04-09 16:23] ObiKerui opened #15289 "Setting Grid type to both container and item removes row layout behaviour"
If I mark a `Grid` as both a `container` and an `item` then the `Grid` takes up all the horizontal space (as if direction='column'). Removing the `container` property makes the `Grid` respect the `row` direction but the browser logs give a warning that the direction prop is only supported on containers.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/

[2019-04-09 17:46] #9526 closed

[2019-04-09 18:38] frapaego commented on #7569
Prueba así:
`const tabs = this.grids.map((grid) => { return ( <Tab key={grid.gridIndex} /> ) });`

[2019-04-09 19:34] merceyz commented on #15278
@eps1lon Except for the TypeError in the OP the example provided here https://next.material-ui.com/guides/testing/#createshallow-options-shallow fails if `MyComponent` uses a theme

[code]

[2019-04-09 19:45] eps1lon commented on #15278
@merceyz I would have to guess but I think you imported `makeStyles` from `@material-ui/styles`? `@material-ui/styles` is a generic solution without a default theme. You would have to provide the theme with the `ThemeProvider`.

To get the default mui theme without a ThemeProvider you need to use `makeStyles` from `@material-ui/core/styles`.

That isn't sufficient to start an investigation. That e

[2019-04-09 20:22] merceyz commented on #15278
@eps1lon Correct, everything works perfectly now. Thank you.

Yeah, sorry about that.

[2019-04-09 21:23] gebigoma commented on #15218
Just in case anyone comes looking, I solved this by importing the `demoStyles` into the `RedStyles.js` file and then calling it with the spread operator and passing `theme` as an argument  like so:

export default theme => ({
  ...demoStyles(theme),
  red: {
    backgroundColor: "red"
  }
});

working sample: https://codesandbox.io/s/rypoqk07lo

[2019-04-09 21:48] joshwooding commented on #15231
Luckily I've already done the majority of the Tooltip conversion :)

[2019-04-10 00:32] skirunman commented on #14203
@t49tran Are you still up for a PR? Looks like quite a few others would be interested.

[2019-04-10 00:38] t49tran commented on #14203
@skirunman, not sure what is the core team's opinion on this but if people are keen on this I can submit a PR this week.

[2019-04-10 01:27] dalinarkholin commented on #12008
@enisdenjo What did you end up doing here?

[2019-04-10 01:45] heysailor commented on #14887
I made a repo that may help: https://github.com/heysailor/material-ui-nextjs

[2019-04-10 01:45] heysailor commented on #15047
I made a repo using the new API: https://github.com/heysailor/material-ui-nextjs

[2019-04-10 01:47] heysailor commented on #15277
I made repo that uses the new API, including disableGeneration when using Apollo's getDataFromTree: https://github.com/heysailor/material-ui-nextjs

[2019-04-10 02:21] skirunman commented on #14203
@t49tran I can't speak for anyone, but @oliviertassinari did say above

So sounds like to me they are receptive.

[2019-04-10 03:34] hungrymonkey commented on #15078
A few things.
Downshift is a render prop library. Downshift is telling you to draw itself.

I would highly recommend you bind `onSelect`, `onStateChange`, and `stateReducer` to grok Downshift internal states. I believe have downshift has around 15 states. You can fine grain control over state change with `stateReducer`.

https://github.com/downshift-js/downshift/blob/master/src/stateChangeTypes.js

[2019-04-10 03:59] raymondsze commented on #15277
I have a question in mind. If i do  sheets.collect(<StylesProvider disableGeneration>...</StylesProvider>).
Would there any "side-effect" introduced as there are two StylesProvider there?

[2019-04-10 04:26] raymondsze commented on #15078
Actually I would like to ask the ability to make the Select component Menu controllable.
Here is the problems:
Select ask me to pass the children, the children props is mandatory. But if I would like to use Downshift, the menu is rendered externally, I don't need any children there. Even the open and onOpen props are passed, this behaviour is still cannot be changed.

Here is the codes I finally w

[2019-04-10 04:52] t49tran commented on #14203
@skirunman, I am happy to do a PR but if you are seriously keen on doing this one yourself I am happy to pass it over.

[2019-04-10 05:13] skirunman commented on #14203
All you

On Tue, Apr 9, 2019 at 9:52 PM Duong Tran <notifications@github.com> wrote:

[2019-04-10 07:20] netzwerg opened #15295 "Laggy Slider when used as custom TableCell component"
I am using a Slider as part of a custom TableCell component (full CodeSandbox linked below):
[code]
The slider is very laggy when the value is changed through a mouse drag.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The slider thumb should sm

[2019-04-10 08:35] #15295 closed

[2019-04-10 08:37] eps1lon commented on #15295
https://material-ui.com/guides/composition/#caveat-with-inlining should give you some clue why this happens. The `Slider` re-mounts on every change which means it looses it's internal state.

[2019-04-10 08:47] alex-shamshurin commented on #14348
Does this trick with `install()` mentioned in docs? I spent many hours to figure out how to deal with styles order. This is must be on the first page!! Like - if do not do install your site will with wrong styles.

[2019-04-10 09:12] netzwerg commented on #15295
Thank you for pointing out the inlining caveat, @eps1lon. However, afaict, the issue also persists without the inline function: https://codesandbox.io/s/oon45nqn7z

[2019-04-10 09:29] oliviertassinari commented on #15277
It's safe to nest two StylesProvider before rendering the UI components.

[2019-04-10 09:31] oliviertassinari commented on #15277
The StylesProvider won't be deprecated. The sheet manager and collector are no longer documentation. These two objets are now considered internals.

[2019-04-10 09:46] oliviertassinari commented on #15047
@heysailor Thank you for sharing but we already have one: https://github.com/mui-org/material-ui/tree/next/examples/create-react-app-with-typescript-next.

[2019-04-10 09:46] oliviertassinari commented on #14887
@heysailor Thank you for sharing but we already have one: https://github.com/mui-org/material-ui/tree/next/examples/create-react-app-with-typescript-next.

[2019-04-10 09:55] eps1lon commented on #15295
Please use stackoverflow for usage questions.

[2019-04-10 10:02] oliviertassinari commented on #12008
@dalinarkholin This discussion is outdated. We have new issues to improve the Popover component. I don't remember what this issue is about, without a live example, I can't wrap my head around what's the problem. You are mentioning the AutoComplete use case, maybe you need the Popper component instead like in our demos?

[2019-04-10 11:12] eps1lon commented on #15283
This will be fixed in the next release of React. Specifically any release including facebook/react#15312

We're also removing the findDOMNode usage in the Tooltip so `@material-ui/core@^4.0.0` (future stable release) will also include the fix.

[2019-04-10 11:28] eps1lon commented on #15295
Posted at https://stackoverflow.com/q/55609295/3406963

[2019-04-10 13:31] dalinarkholin commented on #12008
@oliviertassinari that's exactly what I was looking for. My mistake. Thanks :)

[2019-04-10 13:43] nmain commented on #15105
Wouldn't this mean a massive change to the Material UI API?  Support for `component` is almost universal and it always works the same way:

1. Choose which Material Design visual style you want by choosing one of MUI's components.
2. Choose what semantic behavior you want by changing that component's `component` property.

[2019-04-10 13:50] eps1lon commented on #15105
But out components are not only style. Otherwise React would be a bit overkill.

There's probably some use case but I would still like to see one.

[2019-04-10 13:51] oliviertassinari commented on #15279
cc @kof How do you think that the JSS v9 and v10 collision should be handled?

[2019-04-10 13:51] #15278 closed

[2019-04-10 14:39] nmain opened #15299 "Link Component has bad typings in V4"
When using `"@material-ui/core": "^4.0.0-alpha.7"` and typescript, I can't use a custom `component` in `<Link>`s.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
I've created a code sample: https://github.com/nmain/link-ts-bug
It is a barebones `cr

[2019-04-10 14:42] pheuter opened #15300 "Custom theme breaks on 4.0.0-alpha.7"
## Expected Behavior 🤔
Custom theme should load fine as it did before on 4.0.0-alpha.6:

[code]

## Current Behavior 😯
SSR styles appear broken, and when the client-app loads all components change to the default material-ui theme.

## Steps to Reproduce 🕹

## Context 🔦

I'm suspecting this may have something to do with memoizing the theme in the latest update, but not sure.

## Your Environment 🌎

[2019-04-10 14:57] eps1lon commented on #15299
1. You can't use a function both as a component and as an argument to `React.forwardRef`. This is why the second one fails.

2. Your specific example (the one requiring the `any` cast) might've been fixed with #15199
3. The accepted component is not fully generic. We would need apply #15292 to `Link`. Happy to review a PR with that change.

[2019-04-10 15:02] tasinet commented on #15216
The warning should be disabled when `tooltipOpen=true`, as the disabled button's events are not needed

[2019-04-10 15:09] kunalpatel2706 commented on #14348
It's not 100% clear but yeah with the help of comments here and the link below, I figured it out.
https://material-ui.com/css-in-js/basics/#migration-for-material-ui-core-users

[2019-04-10 15:43] kof commented on #15279
Hmm, is it possible to throw or warn in react bindings? Jss exposes jss.version flag.

[2019-04-10 15:45] Avd6977 opened #15302 "Hide TablePagination arrows when not needed"
When the number of items is less than the items per page and the user is on the first page, arrows for paging are not needed as they are disabled and don't do anything. If preferred, a prop could be passed in to hide instead of disable the arrows as desired.

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and bel

[2019-04-10 15:48] oliviertassinari commented on #15279
@henkvhest If you can provide a minimal reproduction repository, maybe we can look into introducing a warning.

[2019-04-10 16:07] tasinet opened #15303 "[Tooltip] Suppress "disabled button" console warning when tooltip is controlled"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When a Tooltip is controlled and has a disabled button as child, this should not raise a warning.

## Current Behavior 😯
There is a "disabled button" warning in both controlled and uncontrolled Tooltip

[2019-04-10 16:23] oliviertassinari commented on #15302
@Avd6977 Did you try to customize the action? You have an example in https://material-ui.com/demos/tables/#custom-table-pagination-action?

[2019-04-10 16:24] oliviertassinari commented on #15300
@pheuter Duplicate of #15264?

[2019-04-10 16:36] carbonrobot opened #15305 "RadioGroup does not update when props change"
- [x ] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
After the initial render, when props change, the component should update the selected radio buttons.

## Current Behavior 😯
The RadioGroup renders correctly based on the initial props, but does not up

[2019-04-10 16:44] oliviertassinari commented on #15305
@carbonrobot We have introduced a new warning in v4. You can see it live in https://codesandbox.io/s/vvomo0zk43. It should help.

[2019-04-10 16:44] #15305 closed

[2019-04-10 16:45] oliviertassinari commented on #15305
(#14878 )

[2019-04-10 16:48] Avd6977 commented on #15302
I used the code sandbox on that example and was able to conditionally hide like I was discussing. Wouldn't I have to then define all of the buttons then instead of just using the default <TablePagination /> then, though?

[2019-04-10 16:48] oliviertassinari commented on #15286
@iakovosvo Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-04-10 16:53] oliviertassinari commented on #15241
@jeremy-coleman Thank you for sharing. It has better performance than the naked version. Something must be wrong. I see you have opened an issue on JSS side. It's probably a better place to discuss it.

[2019-04-10 16:53] #15241 closed

[2019-04-10 17:01] oliviertassinari commented on #15289
@ObiKerui We constrained by CSS the flex box model. In your case, you have two options:

1. Use an intermediary Grid: https://codesandbox.io/s/xl6y2nzypp.
1. Add `xs={10}` on the secondary Grid item: https://codesandbox.io/s/p3v0jwyklq.

[2019-04-10 17:03] oliviertassinari commented on #15302
@Avd6977 If you have created a new `ActionsComponent` component and you don't want to have to repeat it, you can either create a wrapper component or inject a [default prop with the theme](https://material-ui.com/customization/themes/#properties).

[2019-04-10 17:14] oliviertassinari commented on #15195
@dvberzon I can't think of any better answer that we can't support this configuration. Do you have any idea on how we could solve the problem?

[2019-04-10 17:27] instantlinux commented on #9296
The redux-form tutorials still, as of Apr 2019, reference the old names related to RadioButton. If you landed here by a google search for the missing function names: it appears the logic still exists in @material-ui (not _material-ui_), but the redux-form tutorial still needs to be updated to the current names in material-ui version 0.20.2+.

Reference: [redux-form 7.3.0 example](https://redux-for

[2019-04-10 17:31] jaipe commented on #15262
Gave it a shot with an outer ref and the inner ref. It seems the outer ref is resolving before the popper content has been set.

I'm happy to give your above fix a run and add some tests, if you're happy for a fix to go in! :)

[2019-04-10 17:46] pheuter commented on #15300
@oliviertassinari Could be, I'll close this issue for now until some new information comes up, thanks.

[2019-04-10 17:46] #15300 closed

[2019-04-10 18:05] eps1lon commented on #9296
https://redux-form.com/8.1.0/examples/material-ui/ uses the namespaced packages. The only issue is the codesandbox.

[2019-04-10 18:20] dabretin opened #15308 "[typescript] FormGroup - ref property not available"
`ref` property is not available from `FormGroup` in `tsx`

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

It's actually used in RadioGroup in javascript but is not available in typescript

## Current Behavior 😯

compiler error
## Steps to Reproduc

[2019-04-10 18:26] eps1lon commented on #15308
Fixed in #15199. Will be included in the next release.

[2019-04-10 18:26] #15308 closed

[2019-04-10 18:30] dabretin commented on #15308
Arg... I had not found this...
Thx a lot for your work ! :+1:

[2019-04-10 18:58] #14286 closed

[2019-04-10 19:02] ObiKerui commented on #15289
@oliviertassinari Thanks, those two options do fix the appearance. In my case I switched to divs with CSS flex box settings though. I hadn't encountered this behaviour when using the flex box model though.

[2019-04-10 19:43] #15289 closed

[2019-04-10 19:59] oliviertassinari commented on #15262
@jaipe No objection :)

[2019-04-10 20:49] heysailor commented on #15047
No worries, just shared as a starting point for updating the one that's
there.

On Wed, 10 Apr 2019, 21:46 Olivier Tassinari, <notifications@github.com>
wrote:

[2019-04-11 02:36] Avd6977 commented on #15302
Ok, it looks like that will be a good workaround for what we're trying to do. Thanks!

[2019-04-11 02:36] #15302 closed

[2019-04-11 05:22] kopax commented on #8223
Hi, I am using material just for a single input, button and form on my site and I had to use a `<JssProvider />` following this comment  https://github.com/mui-org/material-ui/issues/8223#issuecomment-331412432

It's annoying to need this jss provider, is there another fix we can do that would not increase the final build size?

[2019-04-11 06:33] #15303 closed

[2019-04-11 09:43] nelsieborja commented on #15009
Couldn't agree with `anchorEl ` at all, I can't imagine myself writing a `createRef` every time I want to use the component with a custom button. This should have been handled by the component itself, imagine how much less trouble and pain would that be, perhaps save you from writing a few lines of code

[2019-04-11 09:54] eps1lon commented on #15009
@nelsieborja

If you pass a ref when is the `Popper` or `Popover` supposed to know when the element is available/changes? By using a prop we can delegate the diffing to React and the developer is in full control when the element is available.

This decision will save us a lot of time once lazy components become more prevalent or Concurrent mode becomes stable. All components using an `anchorEl` pr

[2019-04-11 10:11] oliviertassinari commented on #15009
@nelsieborja It's why this project https://github.com/jcoreio/material-ui-popup-state exists. What do you think about it?

[2019-04-11 10:21] oliviertassinari commented on #8223
@kopax What are you using `JssProvider` for?

[2019-04-11 10:43] ryanlinardy opened #15311 "JSS Minification"
is there any way i could disable JSS Minification on production? all MUI classnames turns into jss and the styles is not working.

thanks in advance

[2019-04-11 10:53] oliviertassinari commented on #15311
@ryanlinardy You can use the `dangerouslyUseGlobalCSS` option: https://material-ui.com/customization/css-in-js/#global-css.

[2019-04-11 10:53] #15311 closed

[2019-04-11 11:59] #15180 closed

[2019-04-11 12:46] #15277 closed

[2019-04-11 12:53] karthickshanmugam0689 opened #15314 "Material UI Select dropdown doesnt have the flexibility to type and search the value"
## Expected Behavior 🤔
On click on Material UI Select Dropdown, the menuItem is coming to select the options. As an user I should be able to type and search the keyword as well as it is in normal select dropdown

## Current Behavior 😯
Currently the search through keyboard functionality is not working in Material UI Select as it is working in native select dropdown

## Steps to Reproduce 🕹
1. Open

[2019-04-11 13:16] oliviertassinari commented on #15314
It's a duplicate of #8191.

[2019-04-11 13:16] #15314 closed

[2019-04-11 13:24] oliviertassinari commented on #15107
I agree, I think that it's something we should implement and use in our documentation website. Google has customized the style, it would make a great customization example:

![Capture d’écran 2019-04-11 à 15 20 01](https://user-images.githubusercontent.com/3165635/55960834-dc604c80-5c6d-11e9-8cae-5108f0bc6887.png)
![Capture d’écran 2019-04-11 à 15 20 14](https://user-images.githubusercontent.c

[2019-04-11 14:22] zhdanouskikh opened #15316 "[Slider] focus is not saved on slider after click"
When clicking on slider focus should be saved on slider for enabling it for keyboard manipulation. But if navigation to slider by tab key, it has focus and keyboard is working on it.

- [x] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
1) click on slide

[2019-04-11 14:42] eps1lon commented on #15316
Proposal is following [WAI-ARIA Authoring Practices 1.1](https://www.w3.org/TR/wai-aria-practices-1.1/examples/slider/slider-1.html).

Might be enough to set focus imperatively in the click handler. We need to explore how this should behave with touch devices.

[2019-04-11 15:15] sPaCeMoNk3yIam commented on #14990
This margin is not unnecessary but instead it's not working correctly. `ScrollbarSize` is reporting a wrong value when on macOS and having turned on the default scrollbar behaviour - being "Automatically based on mouse or trackpad".
It is pictured here: https://github.com/mui-org/material-ui/issues/14706#issuecomment-468947960
So either we introduce a default minimum size of around 20px or we find

[2019-04-11 15:41] emattias opened #15318 "Add Cascader component"
When it comes to navigating a deep hierarchy a columns based cascader ui (with search/filter) is the best ui I know of.

A component (or several) that gave us this functionality together with the `material-ui` flexibility seems like a good idea to me :)

## Examples 🌈

Here are the 2 react component cascader components I know of (neither have the flexibility that material ui components usually hav

[2019-04-11 15:51] kopax commented on #8223
In production before visiting another route:

![image](https://user-images.githubusercontent.com/1866564/55971604-0173b000-5cac-11e9-85a5-1276eaf1479a.png)

In production after visiting a route or in development

![image](https://user-images.githubusercontent.com/1866564/55971655-19e3ca80-5cac-11e9-85a7-1aa868c289e2.png)

Something similar here happens with a form (weird box shadows), we need to v

[2019-04-11 16:19] oliviertassinari commented on #8223
I have no idea. I can't help with the provided information.

[2019-04-11 17:25] oliviertassinari commented on #14990
@sPaCeMoNk3yIam I'm not aware of any good solution :/.

[2019-04-11 17:25] josoroma opened #15320 "Input fields inside a SwipeableDrawer over a fullwidth Dialog stop allowing input"
It happens to me on this **version**:

[code]

**Dialog working as a modal** ("mobile breakpoint" using => (isWidthDown('sm', width)))

[code]

A **SwipeableDrawer** which is opened by a button click from the previous modal.

Here is where all form fields within this SwipeableDrawer stop working or receiving input data ;)

[code]

Thanks!

[2019-04-11 17:26] oliviertassinari commented on #15320
@josoroma Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

Also, please follow our issue template.

[2019-04-11 17:32] josoroma commented on #15320
Great, thanks!

[2019-04-11 19:12] jlil commented on #13253
@oliviertassinari the suggested fix doesn't work anymore. Can we reopen this to allow support for non direct <Dialog*> children?

[2019-04-11 20:27] Ericnr commented on #1911
Also having a bad time trying to set widths. Had to set the select checkbox width: 0.01% for it to stay at a reasonable width, nothing else works

[2019-04-11 21:07] andrewkslv commented on #8223
Everything is broken too. I observe `jssXX` classes instead of `Mui` classes for html blocks in production build with CRA.

Can't find the reason yet.

[2019-04-12 01:48] jlil commented on #13253
For reference - the following styling workaround did it:
[code]

[2019-04-12 03:13] raymondsze commented on #15107
Do you think it should be an enhancenent of MenuItem/ListItem or a seperate implementation?

[2019-04-12 05:00] kopax commented on #8223
@oliviertassinari perhaps those version number used by react-admin@2.6.4 we are using would help you tell us what's going on:

[code]

[2019-04-12 07:45] oliviertassinari commented on #8223
Could you make sure Material-UI is only installed once? Using two versions at the same time could create the same buggy behavior. It might not be this root cause, but it's a possible.

[2019-04-12 08:09] #15320 closed

[2019-04-12 08:11] oliviertassinari commented on #13253
We have changed the styles in v4. It should no longer be a problem.

[2019-04-12 08:52] eps1lon opened #15324 "Hi, I have to disagree with this change."
Hi, I have to disagree with this change.
We are using scrollable and fullWidth together just fine, it only requires adding a minWidth to the Tab button components but otherwise it works just fine.
This is a breaking change for our layout - could this be reverted / are there other solutions to keep fullWidth and scrollable available at the same time?

_Originally posted by @olee in https://github.c

[2019-04-12 08:53] eps1lon commented on #15324
@olee Could you elaborate why this was a breaking change? I would hope this only added a deprecation warning.

Could you share your use case so that we can evaluate how this might be supported in the future when we remove these props?

[2019-04-12 08:56] eps1lon commented on #15107
I guess this is asking for the implementation of https://material.io/design/shape/about-shape.html?

[2019-04-12 08:57] oliviertassinari commented on #15107
👍 DrawerMenuItem
👎 Shape

[2019-04-12 09:05] kenzhemir commented on #14990
Don't know if it is important, but I have noticed that you specify only macOS, however the demo looks differently in Chrome and Edge on Windows.

Chrome 73.0.3683.103
![Chrome 73.0.3683.103](https://user-images.githubusercontent.com/16799744/56025356-ca48e180-5d33-11e9-9111-b42f0cea07b4.png)

Microsoft Edge 44.17763.1.0
![Microsoft Edge 44.17763.1.0](https://user-images.githubusercontent.com/16799

[2019-04-12 09:21] attilavago opened #15325 "Dependencies contain .babelrc files breaking Jest tests"
## Expected Behavior 🤔
Yarn test should run as before without issues.

## Current Behavior 😯
Once I install Material-UI (latest), a number of jss related node modules get installed as dependencies. Some of them, such as https://github.com/cssinjs/jss-global seem to be outdated/archived and contain .babelrc files (as far as I know, npm packages should not contain .babelrc files), which then results

[2019-04-12 09:28] eps1lon commented on #15325
I think this is actually supported if you want to transpile node_modules. The babelrc will tell you what syntax the package is using so that you can transpile it down if you want to.

I'm not aware that you shouldn't publish babelrc. Do you have a source for that? Have you opened an issue at the jss repo? We do not maintain that package so you probably have more luck explaining your issue to them.

[2019-04-12 09:32] iakovosvo commented on #15286
Hey, sorry for being late to respond. Here is a [codesandbox](https://codesandbox.io/s/pjp7wow1nq ). It actually happens when I reduce the font-size of the input. Try adding some text or paste a long paragraph and you will the bottom margin being increased. It works fine with the default font-size.

[2019-04-12 09:34] attilavago commented on #15325
Well, I was going to do that but as you see if you looked at the link, the module has an archived repo so technically the issue lies on both sides as Material-UI uses the module, and maybe should look into using something up to date (just a suggestion, don't shoot me). :)

[2019-04-12 09:38] iakovosvo commented on #15286
Hey, sorry for being late to respond. Here is a [codesandbox](https://codesandbox.io/s/pjp7wow1nq). It actually happens when I reduce the font-size of the input. Try adding some text or paste a long paragraph and you will the bottom margin being increased. It works fine with the default font-size.

[2019-04-12 09:39] oliviertassinari commented on #15325
@kof What do you think of **deleting the archived repositories**? It's the third I see somebody think that we are relying on deprecated code? People most likely find them doing a Google search.

[2019-04-12 09:43] oliviertassinari commented on #15325
The issue was solved in Material-UI v4 and JSS v10. We can close the issue.
https://unpkg.com/jss-plugin-global@10.0.0-alpha.16/

[2019-04-12 09:45] attilavago commented on #15325
I didn't do a google search. I went here: https://www.npmjs.com/package/@material-ui/core , clicked on JSS-Global (one of the modules that gives me trouble) so ended up here: https://www.npmjs.com/package/jss-global then I cliked on the Github repo and voila... https://github.com/cssinjs/jss-global

[2019-04-12 09:47] oliviertassinari commented on #15325
@attilavago Thanks, so deleting the repository is not the correct approach. It would be better to explain why and what to do about it.

[2019-04-12 09:48] #15325 closed

[2019-04-12 09:49] Murat-K opened #15326 "Typescript @withStyle / WithStyles does not provide innerRef"
I am following this guide for CSS in JS. https://material-ui.com/customization/css-in-js/#api
For some reasons I get the `classes` property, but not the `innerRef`.

## Expected Behavior 🤔

I want to get the reference to the component class so I can call the class methods.

## Current Behavior 😯

The `ref` returns `WithStyles` instead of my `Component` class.

## Steps to Reproduce 🕹

[code]

Some

[2019-04-12 09:50] attilavago commented on #15325
@oliviertassinari did I say delete the repo? I don't think so. I was suggesting to migrating to something that's supported. I merely followed the breadcrumbs that the material UI npm page led me to and ended up on a module repo that's been archived.

[2019-04-12 09:51] oliviertassinari commented on #15325
@attilavago I did suggest it. I was wrong.

[2019-04-12 09:53] oliviertassinari commented on #15325
Yeah, It's what Material-UI v4 is about :). The migration was done in December 2018.

[2019-04-12 09:53] eps1lon commented on #15325
We are. We're switching to jss 10. In this case we can't just backport the switch to v3 since this would be breaking.

I'm also missing how you come to the conclusion that this is deprecated? The repo is just archived. Does jss v9 issue deprecation warnings?

[2019-04-12 09:55] oliviertassinari commented on #15325
@kof Oh, I see that it's already explained 👍 :

![Capture d’écran 2019-04-12 à 11 54 56](https://user-images.githubusercontent.com/3165635/56029046-d45de680-5d19-11e9-8520-b10fc5b221c7.png)

[2019-04-12 09:58] attilavago commented on #15325
Right. Maybe that's me misunderstanding what an archived repo means.
@oliviertassinari any idea when v4 is out in stable release?

[2019-04-12 10:00] andrewkslv commented on #8223
Well. It's possible. We're using `react-admin` which has recommended version ~1.5.

I solved the bug on production by adding `JssProvider`. Now I can refresh the page normally.

[code]

[2019-04-12 10:00] oliviertassinari commented on #15325
@attilavago In a month, maybe.

[2019-04-12 11:15] Murat-K commented on #15326
I solved it for now by providing my own `customRef` prop. Looks like this

[code]

[code]

[2019-04-12 11:29] oliviertassinari commented on #15286
We have multiple issue with it. I'm taking care of them.

[2019-04-12 12:14] oliviertassinari commented on #15324
@olee What is you use case for using the full width with scrollable behaviors at the same time. What's the expected tab width output? I fail to wrap by head about what would be an intuitive output.

[2019-04-12 14:01] kopax commented on #8223
@andrewkslv this is exactly what we are trying to avoid, we'd prefer to use it without `JssProvider` because we only use one `Input` and `Button` component from @material-ui, instead we prefer to use for the rest [another ui](http://bootstrap-styled.github.io/ra-ui) for react-admin.

@oliviertassinari I've just checked and I did have some dependencies issues. I [fixed it](https://github.com/bootst

[2019-04-12 14:02] kof commented on #15325
Let's add big red title in each archived repo with the hint it's archived?

[2019-04-12 14:02] rreznichenko opened #15327 "[Modal] Can't select modal width"
Hello. I've found that modal inherits width of the content: example menuItem + paddings.

Maybe we can add some option to set initial width. Like Grid item. for example xs={12} and so on.

Or may be I something missed how to set width ?

[2019-04-12 14:08] mbrucher commented on #10106
I tried using: innerRef={node => this.usernameRef = node}
But I got the following error:

The goal was to get some <Input/> values from a function triggered by a <Button/>. Is tehre another pattern that I'm supposed to follow instead of using refs to get these values (and then use them in a backend request)?

[2019-04-12 14:17] mbrucher commented on #10106
Hi Roland, seems like there is still something missing, see my previous comment.

[2019-04-12 14:17] DDDDDanica commented on #15327
Not sure what you are looking for, but simply append a `width` prop to childrenWrapper would help you to set the width of content, which is width of modal.
If you are not happy with the margin/padding of modal, you could try `padding` to children wrapper.
Eg: https://codesandbox.io/s/lpy9l59wkq in this official example you can append css styles to `paper` prop.

[2019-04-12 14:21] rreznichenko commented on #15327
@DDDDDanica hmm. yes thank you. I'll try.

[2019-04-12 14:21] #15327 closed

[2019-04-12 16:14] joshwooding commented on #10106
@mbrucher can you create a new issue with a reproduction please :)

[2019-04-12 16:25] jeremy-coleman commented on #15326
the withStyles types dont match from mui/core and mui styles, is why. the new type takes 2 types, the old one takes 1

[2019-04-12 16:29] jeremy-coleman opened #15328 "@material-ui/styles does not provide default theme"
this, in itself is not a bug, however, any code relying on the @material-ui/styles instead of the styles export from mui/core will break. why not just add a default style so things don't needlessly break? the package is already 400kb its not like it matters... not breaking things trumps some arbitrary size constraint

[2019-04-12 16:37] skirunman commented on #14203
@t49tran This PR is all you, thanks.

[2019-04-12 16:50] mbrucher opened #15329 "innerRef not working with withStyles"
Similar problem was posted on https://stackoverflow.com/questions/53227495/how-i-can-access-to-dom-node-inside-of-withstyle-component
and should have been fixed in #10106.

- [ ] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
I'm modifying the `SignIn` e

[2019-04-12 16:51] joshwooding commented on #15328
styles is completely independent from core. A default theme is added in the exported style functions in core.

[2019-04-12 17:19] ProfessionalAmateur commented on #10449
@oliviertassinari - Where did SelectField go in the new V1 of Matieral-ui.  I too was looking to use the SelectField and get the same error as the OP.  Is there a replacement in V1?  It seems like maybe some of the menu components, but I am not sure.

[2019-04-12 17:33] oliviertassinari commented on #10449
@ProfessionalAmateur https://next.material-ui.com/demos/selects/.

[2019-04-12 17:39] SND89 commented on #5364
I had the same problem, but after a short 'inspection' I found out that actually Bootstrap had conflict. Watch out when using both. I was doing some tests with some alpha / beta.
bootstrap/4.0.0-beta.2

"@material-ui/core": "^3.9.1",
"@material-ui/icons": "^3.0.2",
"@material-ui/styles": "^3.0.0-alpha.9"

My label looks like:

`const label = (
        <div>
          <span>I accept the </span>

[2019-04-12 17:42] joshwooding commented on #15329
You can use `inputRef`

[2019-04-12 17:42] #15329 closed

[2019-04-12 17:52] kaycebasques opened #15330 "Map Transition components to Material Design transition types?"
I'm opening this as an issue because it might be something that you'd be willing to add to the docs. I can make the doc updates myself.

Right now I'm reviewing the Material Design official docs to figure out what type of transition I should use for a certain interaction. It would have been helpful to me if the MUI [Transitions](https://material-ui.com/utils/transitions/) doc briefly mentioned whi

[2019-04-12 18:37] mbrucher commented on #15329
Thanks a lot for the fast answer! I can see the field on the documentation indeed...

[2019-04-12 19:39] jeremy-coleman commented on #15328
belief isn't reality

[2019-04-12 20:25] #15328 closed

[2019-04-12 20:26] oliviertassinari commented on #15328
https://next.material-ui.com/customization/default-theme/#material-ui-core-styles-vs-material-ui-styles

[2019-04-12 20:36] mbrookes commented on #15330
@kaycebasques The transitions predate that section, so there isn't a direct correspondence between them and the current Material spec. However for the couple in that section that do map, you could had a reference.

[2019-04-12 21:05] oliviertassinari commented on #15330
@kaycebasques We have limited support for transitions. This issue is related to #4117. I wouldn't use the Slide transition for the demos of https://material.io/design/navigation/navigation-transitions.html#peer-transitions. At least, not in its current implementation. It's designed for complete screen entrance. We use it for the non swipeable version of the Drawer. I like how Vuetify implements it

[2019-04-12 23:36] mbrookes commented on #15330
That appears to be exactly what peer transitions describe.

[2019-04-13 02:20] deltaskelta opened #15336 "gatsby-next-example and ThemeProvider"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

I would expect that the plugin in the gatsby-next example would support having a custom theme

## Current Behavior 😯

8a67ecc547aeeddeb841f4b948ed7d3d5761b704 changed the plugin from ThemeProvider to

[2019-04-13 08:34] oliviertassinari commented on #15336
The latest version of the Gatsby example show how to use a custom theme. What's wrong with it?

[2019-04-13 10:36] oliviertassinari commented on #15330
We can consider [the example of the specification](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F0B8wSqcLwbhFuWF9pQTc3MjF2MDQ%2Fpeertransitions-crane-1b.mp4).

![Capture d’écran 2019-04-13 à 12 32 19](https://user-images.githubusercontent.com/3165635/56078425-32f19600-5de8-11e9-8e97-e1f049379cf4.png)

The animation of the text fields can be implemented with the [Slide X](

[2019-04-13 11:24] oliviertassinari commented on #8223
@kopax It's hard to tell without something I can debug. I'm happy to hear it's working now. I have noticed you are using styled-components with Material-UI. If you have some time, I would love to chat about the integration on Gitter.

[2019-04-13 14:04] deltaskelta commented on #15336
Oh sorry I missed that it was in the `TopLayout` plugin now instead of the mui plugin.

[2019-04-13 14:04] #15336 closed

[2019-04-13 15:38] hhimanshu commented on #10820
Hey @oliviertassinari , How do I read this code?
[code]
I am curious as to how this works

[2019-04-13 17:21] oliviertassinari commented on #10820
[code]

[2019-04-13 18:37] oliviertassinari commented on #14784
I'm closing, for now, this proposal. I have updated the Snackbar implementation to match the specification. I could "dodge" the problem. I realize it's not ideal. I would like to avoid a new property on the Button component if we can workaround the problem.

[2019-04-13 18:37] #14784 closed

[2019-04-13 18:43] #15195 closed

[2019-04-13 21:11] harryy2510 opened #15342 "Could not find a declaration file for module @material-ui/system"
There is no typings in the package @material/system module.

- [ ] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Tried `import { palette } from '@material-ui/system'` but since there are no typings generated, ide throw an error

## Current Behavior 😯
Pl

[2019-04-13 21:37] eps1lon commented on #15342
Duplicate of #14605

[2019-04-13 21:37] #15342 closed

[2019-04-13 23:59] kopax commented on #8223
The working solution isn't natural. Which means it involve task that cannot be run with npm. I will not use it, i gave this as a hint.

We'll have the chance on monday, I'll join the mui gitter channel.

[2019-04-14 09:39] hhimanshu commented on #10820
Aha! this is what I was looking for. thank you @oliviertassinari for the clarification

[2019-04-14 10:00] dmdb commented on #10927
I've got same situation in chrome dev tools. Application runs to heap memory limit when under load. Using latest Next.js and material-ui, installed according to https://github.com/mui-org/material-ui/tree/master/examples/nextjs . @oliviertassinari could you advice where to look at?

[2019-04-14 10:02] eps1lon opened #15343 "Improve the warning strategy"
How do you guys want to handle the warning thing in the future, there is a wide range of different options. There are two problems with a strategy like this:

https://github.com/mui-org/material-ui/blob/8ae684d7c9d884c84d89c40da88b46254e5d53a2/packages/material-ui/src/RadioGroup/RadioGroup.js#L39-L52

- We have extra code that is not removed in production.
- We raise more warnings in the console t

[2019-04-14 10:06] eps1lon commented on #10927
@dmdb Please include the versions you are using where the memory leaks (just base components or own styles using makeStyles, withStyles etc?)

The styling solution does not support strict mode or concurrent mode yet. In those modes styles can leak.

[2019-04-14 10:08] #14415 closed

[2019-04-14 10:14] geirsagberg commented on #14872
I ran into the same issue. Would be nice if `makeStyles` automatically did the typing magic that `createStyles` does. However, I created a workaround:

[code]
Now I get autocomplete for CSS Properties:
![image](https://user-images.githubusercontent.com/594564/56091403-ce4d3e80-5eae-11e9-83b8-17a5ace5710d.png)

[2019-04-14 10:15] oliviertassinari commented on #15343
Another option, I think that I like it better:
[code]

[2019-04-14 10:25] oliviertassinari commented on #14415
💥

[2019-04-14 10:31] oliviertassinari commented on #15343
There are two problems with a strategy like:

https://github.com/mui-org/material-ui/blob/8ae684d7c9d884c84d89c40da88b46254e5d53a2/packages/material-ui/src/RadioGroup/RadioGroup.js#L39-L52

1. We won't take advantage of React new warn method: https://github.com/facebook/react/pull/15170
1. We have code that is not removed in production

[2019-04-14 10:40] eps1lon commented on #14872
@geirsagberg Could you open a PR with this change? If this helps autocomplete and doesn't break existing behavior I'm more than happy to merge.

[2019-04-14 10:44] dmdb commented on #10927
I use this to custommise styles:
`import { withStyles } from '@material-ui/core/styles';`
And this some of related packages versions:
[code]
Is there all up to date in nextjs integration example? Iam also did'nt get how @bennidhamma solved this :(

[2019-04-14 10:48] dmdb commented on #10927
If there is no known pitfalls about this, I will try to reproduce it in clean repo. Thanks in advance!

[2019-04-14 10:50] oliviertassinari commented on #10927
@dmdb You would need to further isolate the problem. The examples in the `/examples` folder are up to date.

[2019-04-14 12:07] nelsieborja commented on #15009
There are 2 approaches that I can think of:

1. Wrap the button and popover/menu inside a parent container. This way it is easier to track whether the click is triggered within or outside the container. But obviously this will cause some layout issue, because the container will override the styles attached to the button

2. Using `callback ref` considering you already have access on the ref of the

[2019-04-14 15:11] joshwooding opened #15346 "The demos shouldn't rerender on mouse enter / leave"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Modal should be static when you move your mouse in and out of the window
## Current Behavior 😯

Modal moves when you move your mouse in and out.

## Steps to Reproduce 🕹

Link:

1. Visit https://next.

[2019-04-14 15:33] jeremy-coleman commented on #15299
All of the forward refd types are wrong bc they use the wrong withStyles types AND they type it as a regular component. You can fix it by creatinf your own version where its like React.forwardRef(function Link(props: LinkProps, ref){ etc

[2019-04-14 16:25] oliviertassinari commented on #15346
The position of the modal changes at each render. I have found the multiple rendering to be a pain when debugging a component.

[2019-04-14 17:05] UserOn3 opened #15350 "Form input "Value" property"
I am trying to create a form and collect.
I am using 'value' to collect user input onChange but material-ui uses 'value' for setting value to the input field not collecting the value in the field. This is causing all sort of bugs, e.i. not being able to enter input, pickers not displaying default values and not accepting values.

[code]

[2019-04-14 17:18] oliviertassinari commented on #15350
@UserOn3 Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/callemall/material-ui/tree/master/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-04-14 17:36] UserOn3 commented on #15350
Thanks for a quick response:

I've placed the code on here:

[https://codesandbox.io/s/vml2vmp687?fontsize=14](url)

and

[https://codesandbox.io/embed/vml2vmp687?fontsize=14](url)

I hope it helps. Let me know if you need more information.

[2019-04-14 17:43] jedwards1211 commented on #14784
Yes, the other reason I filed this though is there are other scenarios in which I can imagine wanting to align the text of a button rather than its border.  I guess it's less common than with IconButtons, but I still think it would be a net benefit to everyone.

[2019-04-14 17:47] jedwards1211 commented on #15009
@nelsieborja I think the way my https://github.com/jcoreio/material-ui-popup-state works really will be to your liking.  This is what the code looks like with the hooks API.  As you can see, you don't have to worry about refs at all.  It should never be necessary because the `anchorEl` can be determined from the `click` event's `currentTarget`.

[code]

[2019-04-14 18:01] oliviertassinari commented on #15107
We have a couple of different efforts and issue on the List component, I think that it would be great to align them, cc @mbrookes:

- #15333: HTML structure
- #15339: Update the spacing to match the specification
- #15334: Keyboard navigation in a list
- #15107: Drawer item
- #14891: Menu spacing

I have made a quick POC to get an idea on the options we have:

![Capture d’écran 2019-04-14 à 19 4

[2019-04-14 18:06] #15350 closed

[2019-04-14 20:02] eps1lon commented on #13746
Closed in #15292.

[2019-04-14 20:02] #13746 closed

[2019-04-14 21:05] jeremy-coleman opened #15351 "makeStyles vs withStyles (with Example) without react refs"
going forward is makeStyles what you're looking to do?

seems a lot easier than all the ref spam? is there any reason NOT to do this ? asking as both from a material-ui perspective and authoring components externally

I randomly picked the Avatar as an example and just put it inside one of the example dashboard apps..
attached a pic of devtools passing mui name correctly
[code]

[2019-04-14 21:07] jeremy-coleman commented on #15351
![image](https://user-images.githubusercontent.com/25135855/56099197-c229a700-5ed7-11e9-9673-b0a9ebaee065.png)

[2019-04-14 22:05] olee commented on #15324
Our page is quite dynamic and there can be a varying amount of tabs and screen sizes.
Making the tabs fullWidth ensures that when there are only a few or the screen is wide, they are filling out the available space.
But if there are many tabs or the user is on mobile, it will properly provide scrolling behavior for the tabs so the user is able to access all panels.
Choosing either one of these two

[2019-04-14 22:53] joshwooding commented on #15346
The easier fix for this instance is to memoize the modalStyle depending on the open prop.
[code]
Ideally the multiple rendering would be fixed though.

[2019-04-14 22:58] oliviertassinari commented on #15346
@eps1lon What direction would you advise us?

[2019-04-15 01:06] jztang commented on #14897
Just noticed there are few TypeScript demos that are done but not checked off above. All of the Dividers were done in #15037 , and CheckboxListSecondary, InsetList, and PinnedSubheaderList done in #15323 .

[2019-04-15 06:04] DavidHe1127 commented on #3311
`e.currentTarget.dataset.*` works like a charm

[2019-04-15 08:35] IchrakMansour opened #15352 "How to set the color of the clock (timePicker) with material-ui?"
I tried to change the color of the clock of timeInput (`material-ui-time-picker`) for the material-ui, but it's not changing.

My code is :
[code]
When I run it, I get :

![clock](https://user-images.githubusercontent.com/36265843/56118268-31e87200-5f6a-11e9-80d7-918639e9edbf.PNG)

But I want the color blue will be changed to `#0E6EB8`

How can I change it?

[2019-04-15 08:48] ankitpatelinitio opened #15353 "How to add meterial ui icon in ListItemText."
- [ ] This is not a v0.x issue.
- [ ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

## Current Behavior 😯

## Examples 🌈

## Context 🔦

[2019-04-15 09:35] koolshams commented on #15353
Not sure what you looking for
For example
`<ListItemText primary="Trash" />`

This can also be used as
`<ListItemText primary={<React.Fragment>Trash<strong>special</strong> <SomeIcon className="custom-icon" /> </React.Fragment>} />`

Cheers

[2019-04-15 09:45] #15283 closed

[2019-04-15 09:52] #15353 closed

[2019-04-15 09:55] oliviertassinari commented on #15351
@jeremy-coleman makeStyles and withStyles have their own use cases. I would the API that reduce boilerplate. In the doubt, I would use makeStyles over withStyles. The main use case of withStyles is for building custom variations of our components. To answer your question, yes, it's fine 👍.

[2019-04-15 09:59] eps1lon commented on #15351
Could you elaborate what you mean by that?

[2019-04-15 10:04] oliviertassinari commented on #15352
@IchrakMansour We encourage the usage of `material-ui-pickers` from @dmtrKovalenko. Do you think that you could use this dependency instead of `material-ui-time-picker`?

[2019-04-15 10:10] oliviertassinari commented on #15269
@Falieson Any time :))

[2019-04-15 10:15] #9277 closed

[2019-04-15 10:15] #15007 closed

[2019-04-15 10:15] #15286 closed

[2019-04-15 10:15] #11375 closed

[2019-04-15 10:15] #11740 closed

[2019-04-15 10:15] #12172 closed

[2019-04-15 10:15] #13357 closed

[2019-04-15 10:30] #15138 closed

[2019-04-15 10:31] #6098 closed

[2019-04-15 10:31] #14752 closed

[2019-04-15 11:45] ifier commented on #10898
@eps1lon This "feature" is still present `"@material-ui/core": "^3.9.2"`.

[2019-04-15 12:15] gautam-relayr commented on #15164
@oliviertassinari Can I pick this one if no one is submitting a PR for this?

[2019-04-15 12:17] oliviertassinari commented on #15164
@gautam-relayr Yes, definitely :)

[2019-04-15 12:18] oliviertassinari commented on #10898
@ifier It's still present in v4 too.

[2019-04-15 12:57] #15279 closed

[2019-04-15 13:17] oliviertassinari commented on #13784
@ianschmitz I think that we can group multiple radios, switches or checkboxes. We demonstrate it in the documentation.

[2019-04-15 13:17] #13784 closed

[2019-04-15 13:21] oliviertassinari commented on #15324
@olee Thank you for the details. In your case, I think that the `fullWidth` prop was abused. It's meant to be used on mobile, not on desktop.

[2019-04-15 13:44] jeremy-coleman commented on #15351
thanks olivier, @eps1lon i just meant comparing the use of
[code]
vs
[code]

[2019-04-15 13:51] ianschmitz commented on #13784
@oliviertassinari it's okay to have multiple inputs within a single FormControl? I seem to remember running into infinite loop issues a while back when doing this.

[2019-04-15 13:59] oliviertassinari commented on #13784
It's not for text fields.

[2019-04-15 14:32] ianschmitz commented on #13784
@oliviertassinari sorry I meant HTML inputs such as check box etc.

[2019-04-15 14:36] oliviertassinari commented on #13784
It should be fine with them. The problem with the InputBase component is that it tries to keep track of the filled state.

[2019-04-15 15:10] eps1lon commented on #15351
Ref forwarding is not required for for withStyles or makeStyles. Your first example has the additional benefit that you can attach a ref to the `Avatar`. The second example does not allow this.

[2019-04-15 16:03] jeremy-coleman commented on #15351
Of course, but the second version doesnt use an hoc, so is forward ref even neccessary?

[2019-04-15 16:40] eps1lon commented on #15351
I don't follow. The second example doesn't even use the forwardRef. I don't know if you need to forward the ref. That depends on your use case.

[2019-04-15 17:08] nartc opened #15358 "[Dialog] TypeScript onClose signature does not match Documentation"
Currently the `onClose` callback on `Dialog` component does not have the correct typings:

![image](https://user-images.githubusercontent.com/25516557/56151416-cc4eb280-5f76-11e9-9169-e945e0b20f87.png)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

[2019-04-15 17:17] eps1lon commented on #15358
Correct. We need to add the `reason` parameter to

https://github.com/mui-org/material-ui/blob/f8c42a32d5de5f35e626a182c4fb81a7ce7ff615/packages/material-ui/src/Modal/Modal.d.ts#L23

[2019-04-15 17:37] svobik7 commented on #5750
First of all - Vote for integrating `body-scroll-lock` into MuiDialog.

Next I have got some quick workaround for @hburrows. You can reset body overflow before calling `disableBodyScroll` inside `onEntered` callback of your Dialog.

[code]

This way I am able to restore scrolling body after Dialog is closed.

[2019-04-15 20:11] jaipe commented on #15262
@oliviertassinari Sorry - I took a while!! Added a test to your fix, thank you 😃

[2019-04-15 22:54] jeremy-coleman commented on #15351
It's a copy, literally copy and pasted copy, of the Avatar component from this library, not using an HOC and not using forwardRef. What im asking is..

-Hoc
  --ForwardRef
     ---Avatar

equivalent to:
-Avatar(using makeStyles hook)

[2019-04-15 22:59] oliviertassinari commented on #15351
@jeremy-coleman I'm sorry. I don't understand your point regarding the ref. You have to use forwardRef anyway. The usage of makeStyles vs withStyles doesn't change a thing.

[2019-04-15 23:03] oliviertassinari commented on #15351
Anyway, I believe we have answered your question. There is no reason not to do it. We are investigating a migration to this pattern in #15023.

[2019-04-15 23:13] jeremy-coleman commented on #15351
Ahh ok , your take is just always wrap with a ref because there’s no reason not to? thanks Olivier. I rewrote pretty much the whole library using make styles, i can send a copy if you want. Its in typescript and no prop types though

[2019-04-15 23:16] oliviertassinari commented on #15351
@jeremy-coleman Oh wow, what was your motivation for the large enterprise? :)

[2019-04-16 01:11] jztang commented on #15316
I'd like to work on this if no one else is! I tried out the slider with my touchscreen laptop, and touching the slider thumb does not set focus to it. Should it?

[2019-04-16 05:53] dmdb commented on #10927
I've found memory leak in my application, and it was my bad code. Nextjs example got no problems (tested while tried to reproduce :) ) Anyway, sorry and thanks for attention!

[2019-04-16 06:40] #15164 closed

[2019-04-16 06:42] #15351 closed

[2019-04-16 06:45] oliviertassinari commented on #15352
I have removed `material-ui-time-picker` from the pickers documentation page. Please migrate to `material-ui-pickers`.

[2019-04-16 06:45] #15352 closed

[2019-04-16 06:51] IchrakMansour commented on #15352
@oliviertassinari thank you, but how can I change the color of the clock please ?

[2019-04-16 06:56] oliviertassinari commented on #15352
I have no idea. I have never used this library. You should ask in https://github.com/TeamWertarbyte/material-ui-time-picker.

[2019-04-16 06:57] NickPeelman opened #15361 ""Uncaught (in promise) Invariant Violation" When adding Select/TextField"
My dependencies:

[code]
error:
![image](https://user-images.githubusercontent.com/15141922/56188296-68cf8e00-6025-11e9-960f-6fefd639b96e.png)

Client code:
[code]

I've copied the react and material UI versions from my package file of a previous project, where I'm sure everything works fine. Any idea's?

[2019-04-16 06:57] oliviertassinari commented on #15352
I would expect the usage of a ThemeProvider to be enough.

[2019-04-16 07:16] joshwooding commented on #15361
This looks like a support question. We would need to see more of your code. Otherwise it’s just guesswork especially on bundled code.

[2019-04-16 07:27] NickPeelman commented on #15361
I added all the code. Is there anything more you require?

[2019-04-16 07:37] eps1lon commented on #15351
`withStyles` or `makeStyles` have nothing to do with ref forwarding though. I still don't understand what the issue is. Ref forwarding is implemented a little bit different but both component patterns have this feature.

We need the ref internally and many of our users need it as well. We recommended the `RootRef` component for this earlier but that component uses `findDOMNode` which is more britt

[2019-04-16 08:13] eps1lon commented on #15361
You should strip this down to a minimal example with only material-ui and react dependencies. ComponenWillUnmount and react-hot-loader lead me to suspect that this is not an issue with our components. Could you post the exact versions you're using

[2019-04-16 08:15] sm-hashemi commented on #6068
Hi, no better solution yet ?

[2019-04-16 08:19] oliviertassinari commented on #6068
https://next.material-ui.com/layout/use-media-query/ maybe?

[2019-04-16 08:29] sm-hashemi commented on #6068
Thanks for fast reply!
This also happens on <Hidden> component on server-side rendering, and result a empty node, if we remove the <Hidden>, the node will be filled!

[2019-04-16 08:33] IchrakMansour commented on #15352
Thank you @oliviertassinari

[2019-04-16 08:41] sm-hashemi commented on #6068
Thanks for fast reply!
This also happens on `<Hidden>` component on server-side rendering, the section will shown in browser but result an empty node in page-source, if we remove the `<Hidden>`, the node will be filled!

[2019-04-16 08:55] JarkEMones opened #15362 "Tab class override not being applied when overriding 'root' class."
Using styled-components, I am unable to override the `root` style of a `Tab`. See [this sandbox](https://codesandbox.io/embed/w7w0lk8pp5) for an example. The class override I have defined for `labelContainer` has taken effect, but not the one I defined for `root`.

- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository a

[2019-04-16 09:35] #14605 closed

[2019-04-16 09:38] eps1lon commented on #14605
Added types with `#15357. The basic demos are also available in TypeScript to showcase usage of the types: https://deploy-preview-15357--material-ui.netlify.com/system/basics/

Since I never used `styled-components` with system-style functions I need some feedback to get those right.

[2019-04-16 09:44] NickPeelman commented on #15361
After losing all hope and a stressful 2 days of googling, I fixed my problem.

I set up my project using asp .net core 2 is Visual Studio. Visual Studio generates your output scripts into wwwroot/dist folder. I simply had to delete that folder and rebuild my project.

The error above was a cached problem of incompatible Node Package Modules (NPM) and Visual Studio did not completely overwrite my d

[2019-04-16 09:57] wingertge opened #15363 "Multiple server side rendering passes with different output create class name mismatch with some components"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Server should preload data using Apollo, render a CircularProgress while loading and then the content once the data is present. This was working in v3.x and is a pretty normal real-world use case.

##

[2019-04-16 10:05] oliviertassinari commented on #8414
@eps1lon What to you think of giving up on makeStyles? Move to a popular solution.

[2019-04-16 10:20] wingertge commented on #15363
Update: This also appears to happen if there is a list rendered using deferred query data.

[2019-04-16 10:23] oliviertassinari commented on #6068
@sm-hashemi You can use the CSS implementation of the Hidden component: https://material-ui.com/layout/hidden/#css.

[2019-04-16 11:06] geirsagberg commented on #14872
@eps1lon Done: https://github.com/mui-org/material-ui/pull/15366

[2019-04-16 11:25] gautam-relayr commented on #15231
Hi, @oliviertassinari I would like to **try** this for "Portal" component. Can I work on that if no one else has done it already? 😃

[2019-04-16 11:26] oliviertassinari commented on #15363
Could you provide a minimale reproduction repository?

[2019-04-16 11:28] oliviertassinari commented on #15231
Unless @joshwooding has already done an effort in this direction, you are good to go :).

[2019-04-16 12:10] oliviertassinari commented on #15362
What do you think of (using v4)?:
[code]
https://codesandbox.io/embed/w7w0lk8pp5

Also, we want to provide default values to the `classes`: #15140. What do you think about it?

[2019-04-16 13:14] sm-hashemi commented on #6068
@oliviertassinari Thanks!

I have `<Hidden mdUp>` for **Mobile** and `<Hidden smDown>` for **Desktop**
1. tried `implementation="css"`:
works to populate node element in page-source, but also caused mismatched class names and corrupted some other elements style!
2. tried `initialWidth`:
At the first load, **Mobile** section is shown and a few moments later **Mobile** section hide and **Desktop** s

[2019-04-16 13:17] oliviertassinari commented on #6068
1. It's not normal! It should be working. I would dig here.

[2019-04-16 14:59] wingertge commented on #15363
This is as minimal as I could get it, it's just a razzle boilerplate with the most minimal mui/apollo SSR setup
https://github.com/wingertge/mui-classname-bug

[2019-04-16 15:06] hgafoor opened #15371 "[Tabs] scrollButtons have an empty button error in compliance tools"
I am using the wave extension tool on my chrome and it throws an empty button error on the right and left arrows of the scrollButtons.

- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
The scrollButtons should not be throwing the empty button error.

## Current Behavior 😯
The scrol

[2019-04-16 15:28] josgraha opened #15372 "Add Splitter component"
As an MUI developer I would like a Splitter component so I can create draggable dividers in UI regions as per the Material Design spec below.
https://material.io/design/layout/responsive-layout-grid.html#ui-regions

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expec

[2019-04-16 15:54] oliviertassinari commented on #15371
@hgafoor Are you sure about the issue? These buttons are not accessible for a keyboard user nor for a screen reader. Do you confirm?

Can we trust this tool? It shows an issue with the icon buttons while a title attribute is present.
![Capture d’écran 2019-04-16 à 17 53 48](https://user-images.githubusercontent.com/3165635/56224899-a9082e00-6070-11e9-97ad-46c04459cc01.png)

[2019-04-16 16:22] joshwooding commented on #15361
Glad to hear you fixed it.

[2019-04-16 16:22] #15361 closed

[2019-04-16 16:23] oliviertassinari commented on #15363
@wingertge This change solves the problem:
[code]

The problem with the first approach is that it render an extra circular progress that is not present on the client. The rendered tree doesn't match. The index doesn't match, the class names break.

We have few leverages. One is #, another one is #15140 other one is #6115.

[2019-04-16 16:23] #15363 closed

[2019-04-16 16:24] joshwooding commented on #15231
@gautam-relayr Feel free :)

[2019-04-16 17:37] aMahdaoui opened #15374 "Setup RTL direction for only a specific widget"
Hello
Is there a way to align label inside a TextField component to the right like "labelPlacement" on FormControlLabel

i now that we can use RTL library, but that's is for the entire application. but i would like to use it only for One TextField of the application

thanks

[2019-04-16 20:54] hgafoor commented on #15371
@oliviertassinari  here is a screenshot of what I see on material Tabs page

<img width="1680" alt="Screen Shot 2019-04-16 at 1 52 27 PM" src="https://user-images.githubusercontent.com/22037253/56243234-f70c3a00-604e-11e9-85b5-ad880e19b1db.png">

[2019-04-16 22:23] mbrookes commented on #15107
Alternative strategy:

Standardise on a single List and ListItem component. Add variants for Drawer and Menu. Add a `disableAccessibility` (😜) prop to disable Menu style keyboard navigation.

We would need to wait for 4.1 for deprecation of MenuList and MenuListItem, however it could be implemented now, with MenuList and MenuListItem becoming a thin wrapper that sets the List variant, with depreca

[2019-04-16 22:28] dmart914 commented on #12013
I'd like to see the behavior implemented as requested. I'm working on theme-ing MUI components within a `create-react-app` application.

I have an external dependency on a SASS package, which is used within my CSS modules. The easiest way for me to style, for example, all disabled input underlines, is to apply relevant SASS mixin via my stylesheets.

This deficiency is forcing me to hard code my v

[2019-04-17 00:48] Princezhm opened #15377 "Stepper not using the whole content"
i'm trying to do something like

....some inputs what I'm trying to do is to make the first and last dot of the stepper to match the content of the Grid 12, but they looks like they are using their own grid system, thus, I can not adjust them to match the content, for example:
[code]
but I need them to look like:
[code]
is there a way to achieve this? despite my example has 5 dots, in my workflow

[2019-04-17 05:38] nimahkh commented on #283
if i want to write css file , why using material-ui? the problem is about that how can we solve it in material-ui , not in css

[2019-04-17 06:31] JarkEMones commented on #15362
Whilst v4 does provide the mechanism to resolve this issue, I won't be in a position to migrate to v4 until after it's official release. I'm assuming it is related to a more widespread issue that can only really be solved by something like `<StylesProvider />` in v4?

From a personal standpoint it is not a major problem for me to wait until I can migrate to v4 to benefit from this change.

[2019-04-17 07:31] davidciglesias commented on #15194
Having the same issue here with Tooltips, also on MUI 3.9.2 / React 16.8.4 :'(

I was merrily adding the Tooltips to buttons in a grid and they decided to misalign. When I removed the grid column adjustment, they worked fine, so I attempted to switch to flex, but the moment I set justify-content, they got misaligned again.

Any ideas?

[2019-04-17 08:19] #15358 closed

[2019-04-17 08:51] adeelibr commented on #15231
Can I work on the `InputBase` & `Snackbar` component? @oliviertassinari @joshwooding

[2019-04-17 09:08] #15262 closed

[2019-04-17 09:19] oliviertassinari commented on #15231
@adeelibr Good for me. For the Snackbar, I think that we should apply the same fix we applied to the [Modal](https://github.com/mui-org/material-ui/pull/15266) and [Popper](https://github.com/mui-org/material-ui/pull/15250) first.

[2019-04-17 09:26] adeelibr commented on #15231
Understood I'll have a look at the relevant PR's to understand what needs to be implemented for the Snackbar.

I must have missed them 😅 I'll have a look at it 👍

[2019-04-17 09:34] oliviertassinari commented on #15324
@olee Did you found a reasonable workaround?

[2019-04-17 09:37] oliviertassinari commented on #15194
@davidciglesias If you have time to keep exploring https://github.com/mui-org/material-ui/issues/15194#issuecomment-480274966, it would be awesome!

[2019-04-17 09:47] oliviertassinari commented on #15362
@JarkEMones I understand, we plan on releasing it next month. It has been delayed a bit, but we are mostly done :). Let's find a solution with v3. The `injectFirst` option was introduced in v4 to solve your exact issue. We document this solution in the styled-component interoperability guide. You need a specificty of 2 (& x 2) with `&&`:

[code]

https://codesandbox.io/s/53llooz3wp

[2019-04-17 09:58] oliviertassinari commented on #15371
@hgafoor What do you think of this change?
[code]
Do you want to submit a pull request? :) It would be in english, it's mostly to show that we care about accessibility. I believe it wouldn't be leverate by any actual users, but it doesn't cost us much either.

[2019-04-17 09:59] #15362 closed

[2019-04-17 10:08] Eldraed commented on #14077
Hello,
Just for information, i'm also having trouble with the "outlined" variant of TextField due to this portion of code :
https://github.com/mui-org/material-ui/blob/41920170e5d631ec3d1ac686b7bdf0e31befc3e6/packages/material-ui/src/TextField/TextField.js#L97-L103
Like Tabs, width is calculated during the fallback of my Suspense Loader, so width = 0px !

In result, the line pass under the label :

[2019-04-17 10:10] oliviertassinari commented on #15374
@aMahdaoui Yes, it's as simple as:
[code]
https://codesandbox.io/s/6vk85j86xr

![Capture d’écran 2019-04-17 à 12 09 44](https://user-images.githubusercontent.com/3165635/56280053-b45b6800-6109-11e9-9f20-9728e879c4c2.png)

If you need more guidance, please go to StackOverflow.

[2019-04-17 10:18] aMahdaoui commented on #15374
Yes, Thanks @oliviertassinari  it works.

[2019-04-17 10:23] eps1lon commented on #14077
@Eldraed This is a common issue with Suspense in sync mode. React will still mount trees in an inconsistent state and just `display: none;` the components that are not suspended.

What you can do for now is remount the TextField if your placeholder unmounts with a `key` that changes depending on the mount state of your placeholder.

If you can you could also put the suspense tree inside `React.uns

[2019-04-17 10:35] aMahdaoui commented on #15374
@oliviertassinari
I just want to add here that i add also a css rules to align the label on the right and it works too.
but the problem is when i use an outlined TextField, again i got the same problem
![image](https://user-images.githubusercontent.com/34797980/56281456-8d4e6780-6104-11e9-95a7-df38f7fcbe44.png)

[https://codesandbox.io/s/525n1lm7kp](https://codesandbox.io/s/525n1lm7kp)

[2019-04-17 10:46] oliviertassinari commented on #15377
I'm moving it to https://spectrum.chat/material-ui/help/dynamic-adjust-stepper~62c413e1-669d-4f93-b370-8333577cac9d.

[2019-04-17 10:46] #15377 closed

[2019-04-17 10:47] davidciglesias commented on #15194
Since I mostly use css-grid/flex instead of MUI's Grid, I decided to play with your working problem and tweak the Popper to behave as a Tooltip.

I managed to get it to work without much trouble, then moved on to attempt the same with Tooltips, and it seems to work, except that when you change the state via the select, the Tooltip gets misaligned until you re-hover on it. This does not seem to hap

[2019-04-17 10:51] eps1lon commented on #14586
This is a design limitation of TypeScript. Workaround:
[code]

See #15381 for more details.

[2019-04-17 11:05] Eldraed commented on #14077
Thanks for the reply @eps1lon

I tested Concurrent Mode before posting earlier, i didn't mention it.
It works well, label is good but Concurrent mode comes with Strict mode... I was looking on using Strict mode weeks ago but some libraries doesn't works well with it for now (like Apollo). So i left that aside for now, and was hoping to get updates soon on it.

So, I'll rather look at your first op

[2019-04-17 11:06] eps1lon commented on #15299
@jeremy-coleman

What would be the correct type? Could you add some examples that should fail/pass in the type checker but are actually sound/unsound?

The type of the component is not part of the public API. Only the props. I'm not sure what you mean by "regular component"?

[2019-04-17 11:08] oliviertassinari commented on #15374
@aMahdaoui This variant is more complex.
[code]
https://codesandbox.io/s/001r3xv8rl

![Capture d’écran 2019-04-17 à 13 07 58](https://user-images.githubusercontent.com/3165635/56283369-d6f17f00-6111-11e9-90db-2046fef57dfc.png)

[2019-04-17 11:08] #15374 closed

[2019-04-17 11:09] eps1lon commented on #15072
For components with generic props we infer the exact `ref` from the type of the `component` prop. Everything else will use `unknown` and we let the user control soundness of their `ref`.

For a more detailed explanation see #15199. Removing this from the v4 milestone until we get better types for refs i.e. write-only or configurable variance or a better solution is proposed.

[2019-04-17 12:36] aMahdaoui commented on #15374
Thank you very much @oliviertassinari

always we have to deal with css to resolve it,
i hope in the future  one of the maintainers can take that and add a props to TextField component to handle that

that will be great if we can use a TextField like this :
`<TextField label="hello" value="a value" direction="rtl" />
`
direction :
enum : default |  ltr | rtl

[2019-04-17 12:39] oliviertassinari commented on #15374
What's your use case of the label on the right?

[2019-04-17 13:06] eps1lon commented on #14931
@thomaseizinger Have you checked out https://material-ui.com/guides/typescript/#customization-of-theme?

[2019-04-17 13:42] pjr-noyo commented on #10319
@radi-ratlh were you able to solve this issue? I'm experiencing something similar.

[2019-04-17 14:02] lukejagodzinski commented on #13782
Yes it's pretty annoying... What about different solution.
It feels like `e.target.value` should always return `string` as it's what being stored in DOM element. To get actual array value there should be another argument in the event handler:

[code]

IMHO it's much more elegant

[2019-04-17 14:27] eps1lon commented on #13782
The value of the type you receive in the onChange handler can't be determined at runtime (yet). TypeScript does not have the ability to statically analyze the children of a component even you only consider immediate children.

We adjusted the types to return `unknonw` in `event.target.value`. How you narrow the type is up to you (type guards, casting etc).

See #15288 and #15245 for more context.

[2019-04-17 14:27] #13782 closed

[2019-04-17 14:36] dy commented on #7961
I'm sorry - just to clarify - why that issue was closed? 4.0.0 alpha7 does not seem to have `getContentAnchorEl={null}` documented.

[2019-04-17 14:39] oliviertassinari commented on #7961
@dy You need to follow the props cascading. getContentAnchorEl is documented on the Popover.

[2019-04-17 14:40] oliviertassinari commented on #7961
We will improve the demos in #10804.

[2019-04-17 15:03] eps1lon commented on #15326
We forward the `ref` in v4 to to wrapped component. Types should pick this up properly. See #15383 for the type behavior in v4.

`innerRef` is currently typed as `any` and doesn't provide much type safety. We don't recommend using `innerRef` in v4 anymore since it's equivalent to `ref` and will be removed in v5.

[2019-04-17 15:13] eps1lon commented on #13921
I encourage you to use

[code]

This will remove any type information for props added by `styled-components`. However, most of these shouldn't be necessary anymore. Please let me know if there are any props from `styled-components` that are essential in your opinion.

There are both issues with the styled-component types (union props are lost: changing this caused a 20x perf regression in ts 3.4)

[2019-04-17 15:42] #14586 closed

[2019-04-17 17:16] oliviertassinari commented on #12013
@dmart914 Thank you for raising your voice. I'm working on #15140 to better solve your problem. Would it help?

[2019-04-17 17:31] dmart914 commented on #12013
@oliviertassinari Thank you for your work and attention!

I think #15140 would do a lot for helping global theme overrides. With global class names as the default, I should be able to create and import stylesheets that override MUI components based on their deterministic class names. This would allow me to use non-module SASS files, perhaps implementing overrides for each components in separate fi

[2019-04-17 17:58] oliviertassinari commented on #12013
Thank you for the feedback. I hope we can land the change in v4.0.0-beta.0.

[2019-04-17 19:15] cvanem commented on #12337
@verekia @oliviertassinari
Do we still want to support this feature?  What about something like this? https://codesandbox.io/s/7wok93mo20

I think this would provide the means to support all of the scrolling behavior outlined in the specification and it would be fairly easy to add to the AppBar component if we add a separate CollapseOnScroll hook.  I do wonder if this is the best way to structure

[2019-04-17 21:33] austingardner commented on #15231
Is the makeStyles API stable or is it subject to change? We currently use withStyles on an internal app here at WalmartLabs but we are eager to start using more hooks APIs.

[2019-04-17 21:50] ShawTim opened #15388 "Card box-shadow issue in IE11"
Card or other component with `box-shadow` display differently with different browser.
You can test it on demo site.
(https://material-ui.com/ is not accessible by IE11 i think. use https://next.material-ui.com/ or https://v3-9-0.material-ui.com/ instead)

## Expected Behavior 🤔
This is what i see in Firefox on https://next.material-ui.com/demos/cards/
![image](https://user-images.githubusercontent

[2019-04-17 21:57] oliviertassinari commented on #15231
@austingardner I have looked into it in #15023. I haven't seen any issue. We haven't moved forward as it's not a priority for the project right now. I only wanted to evaluate the potential. It's all ✅. I hope we can automate the conversion post v4. Maybe with a codemod?

@eps1lon has found an issue in StrictMode. The style sheets might not be removed from the DOM. Given withStyles uses makeStyles

[2019-04-17 21:59] ShawTim opened #15389 "TextField with outlined variant lose round corner in IE11"
TextField with outlined variant suppose to have round corners and is working well in other browser like Firefox/Chrome. But in IE11, it lose round corners.

You can check it on https://next.material-ui.com/demos/text-fields/ (sadly, https://material-ui.com/demos/text-fields/ is not accessible by IE11).

## Expected Behavior 🤔
This is what i see in Firefox, with beautiful round corners:
![image](ht

[2019-04-17 23:07] thomaseizinger commented on #14931
@eps1lon is that a new section in the docs? 😮
I swear I read through the whole thing! :D

Will checkout if that solves my problem and report back!

[2019-04-17 23:09] olee commented on #15324
No, I am right now still using the deprecated props and getting the warning.
Also what do you mean with abusing the `fullWidth` prop?

[2019-04-17 23:15] jeremy-coleman commented on #15351
@oliver bc things kept breaking, wrong types, themes not applying , multiple versions of jss, etc etc. i also wanted to take out prop types for dev. Prod build is much smaller, 500kb pre 70k post minify

[2019-04-17 23:58] TheHolyWaffle opened #15391 "[Example] gatsby-next broken since gatsby@2.3.23"
The gatsby-next example is no longer able to run since gatsby@2.3.23

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
`yarn run develop` should run without compiler issues

## Current Behavior 😯
[code]

## Steps to Reproduce 🕹
Run the gatsby-next ex

[2019-04-18 00:00] TheHolyWaffle commented on #15391
Downgrading gatsby to `2.3.22` fixes the compiling issue.

[2019-04-18 01:08] thomaseizinger commented on #14931
Yep works! Thanks a lot!

[2019-04-18 01:08] #14931 closed

[2019-04-18 07:15] shangdev opened #15393 "The ripple effect bug in mobile."
## Current Behavior 😯

ripple effect will not recover. The specific performance is like this

![image](https://user-images.githubusercontent.com/15621520/56343005-23a98880-61ec-11e9-89b5-703f1afff453.png)
![image](https://user-images.githubusercontent.com/15621520/56343019-302de100-61ec-11e9-9523-a83b3cb535f5.png)

And chrome console have error tips:

![image](https://user-images.githubusercontent

[2019-04-18 07:24] vla9isla8 opened #15394 "Tooltip reopened by browser tab switching"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Tooltip still hide

## Current Behavior 😯
Tooltip always on screen, until mouse hover on tooltip button

## Steps to Reproduce 🕹
1. Open 2 tab in browser.
2. In first tab go to https://material-ui.com/

[2019-04-18 07:25] eps1lon commented on #15393
It's very hard to debug this without code. Please provide a full reproduction test case. This would help a lot 👷 .
A live example would be perfect. [This **codesandbox.io** template](https://codesandbox.io/s/github/mui-org/material-ui/tree/next/examples/create-react-app) _may_ be a good starting point. Thank you!

[2019-04-18 07:49] eps1lon commented on #15389
This is related to `border-radius` in IE11. [Apparently rendering the page in compatbility view should work](https://social.msdn.microsoft.com/Forums/en-US/e078a21f-a043-4814-b4ef-fed0edc4c91d/html-boxshadow-and-borderradius-not-working-on-ie-11?forum=sharepointdevelopmentprevious) but that causes other styles to break. At least our docs experience weird jitter.

I don't think we can do much about

[2019-04-18 07:52] oliviertassinari commented on #15351
?

[2019-04-18 07:54] oliviertassinari commented on #15351
@jeremy-coleman Do you think that some improvement could be bring back here?

[2019-04-18 07:55] oliviertassinari commented on #15324
The fullWidth props target mobile users that have no scrollbar. You seem to use it with scrollbar on desktop.

[2019-04-18 07:57] oliviertassinari commented on #15231
@austingardner To answer your question. No, we don't plan on changing the API of makeStyles.

[2019-04-18 07:57] eps1lon commented on #15394
This happens because the button is still focused. If you switch back to the tab the `focus` event is fired again.

I'm not sure we can do anything about this or even should.

[2019-04-18 08:09] eps1lon commented on #15351
@jeremy-coleman  It seems like you're pretty frustrated which results in you making statements that aren't very constructive. I understand that this is a rant but please keep it civil.

That being sad let's try to unpack your statement:

I would like to help you but I need specifics for those: What did you do? What did you expect? What happened instead?

Types in the core are not coupled with the

[2019-04-18 08:10] shangdev commented on #15393
I can't recurrent it in codesandbox.io, This is my code:
https://codesandbox.io/embed/m384k8m3xj

It seems that it should only have this bug in my project, but I don't know what caused this.

[2019-04-18 08:19] vla9isla8 commented on #15394
@eps1lon I found solution, set disableFocusListener property, but i still think that is not expected behavor.

[2019-04-18 08:24] #13218 closed

[2019-04-18 08:36] fzaninotto commented on #15032
Am I understanding correctly that the `makeStyles` API doesn't allow the styles to be overridden by the caller of the component the way `withStyles` did? If so, the fact that you use `makeStyles` internally is a major BC break, as it doesn't allow to override default styles anymore...

[2019-04-18 08:39] oliviertassinari commented on #15032
Yes, it does. You need to provide the props as a first argument of useStyles.

[2019-04-18 08:56] eps1lon commented on #15394
The tooltip won't show when e.g. tabbing through the page which can become an accessibility issue. The default behavior tries to follow WAI-ARIA aithoring practices:

-- https://www.w3.org/TR/wai-aria-practices-1.1/#tooltip

I think this is where we can improve this: Check if the focus event comes from keyboard focus. I don't know if this would include changing tabs.

[2019-04-18 08:57] fzaninotto commented on #15032
Thanks for your answer. I'm not sure I understand which props you're talking about. And that makes me think that I couldn't find any documentation on overriding styles for a component styled with `makeStyles`...

[2019-04-18 08:58] eps1lon commented on #15032
[code]
is equivalent to
[code]

[2019-04-18 09:00] eps1lon commented on #15032
The override works the same for the user. The implementation just has to make sure it calls useStyles with props. This is IMO a better API since you now have full control over your CSS API (expose nothing, everything, only some classes etc).

[2019-04-18 09:03] oliviertassinari commented on #15032
@fzaninotto Correct, I'm working on it in #15140.

[2019-04-18 09:18] #15326 closed

[2019-04-18 09:24] TidyIQ opened #15396 "[Examples] nextjs-hooks-with-typescript has errors"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Able to run the example in https://github.com/mui-org/material-ui/blob/master/examples/nextjs-hooks-with-typescript/

## Current Behavior 😯

Outputs the following error when running type-check:

[code

[2019-04-18 09:24] fzaninotto opened #15397 "Turn deprecation warnings into logs"
Deprecation warnings in the latest 3.x versions make my app look like it's broken, while it works perfectly. I know that these warnings only appear in development, however they bring a lot of noise and potentially hide real errors.

Is it possible to turn these warnings into `console.log()` messages instead of `console.error()`?

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](h

[2019-04-18 09:44] oliviertassinari commented on #15388
@ShawTim Interesting, IE 11 is having trouble with the box shadow. You can notice the same problems with https://material-components.github.io/material-components-web-catalog/#/component/elevation. I don't think that we should try to solve the problem.

[2019-04-18 09:46] oliviertassinari commented on #15389
I have noticed this problem when introducing the outlined variant. I don't think that we should solve the problem.

[2019-04-18 09:49] oliviertassinari commented on #15397
@fzaninotto This is a prop-type warning. I would encourage you to move the discussion to prop-types: https://github.com/facebook/prop-types/blob/e32c4900f5ab5fd3acea93e9d2f0d09e4a2f2ceb/checkPropTypes.js#L20.

[2019-04-18 09:49] #15397 closed

[2019-04-18 09:52] oliviertassinari commented on #15397
There is no syntax that works with both versions. The simplest is probably to jump from v1 to v4.

[2019-04-18 09:53] oliviertassinari commented on #15397
By the way, if you want to comment on https://spectrum.chat/material-ui/general/what-do-you-guys-think-about-the-tables-and-how-they-are-handled-in-material-ui~27c0b5be-9cea-4e8f-88bc-faaf4103bf33. It would be appreciated.

[2019-04-18 09:59] TidyIQ commented on #14040
I believe I have a related issue - see https://github.com/mui-org/material-ui/issues/15396

[2019-04-18 10:04] eps1lon commented on #15389
What other browsers have an issue with border-radius?

[2019-04-18 10:08] fzaninotto commented on #15397
Allow me me disagree.

If I made a mistake with a proptype, I find it normal that the console shows an error - it's my mistake.
If I wrote code with material ui v3 and it works without error, I find it normal that the console shows no error when I upgrade to a minor release.

The current behavior is really misleading: the console shows error while the code works perfectly and will continue to work

[2019-04-18 10:12] ShawTim commented on #15389
but i think it's better to be consistent.
if the styles are not consistent across browser, at least it needs to be consistent in IE11.

if it supports in IE11 - then all TextField should have round corners
if it's not supporting in IE11 - then all TextField should not have round corners.

as you can see in the screenshot the "Bare" TextField does already have round corners but not others.

[2019-04-18 10:18] oliviertassinari commented on #15389
@eps1lon I believe it's a IE 11 only issue.

@ShawTim We do our best effort for IE 11. But it can't be at the expense of everybody else. IE 11 should soon be gone. I believe that IE 11 has still an important market share because the users can't upgrade to Microsoft Edge. Edge has taken a strong architectural choice that prevented it to be compatible with the older version of Windows. As the Edge t

[2019-04-18 10:23] oliviertassinari commented on #15397
@fzaninotto We hope we can use React.warn in v5 for this problem. React will introduce a new method that shows the stack trace when warning: https://github.com/facebook/react/pull/15170.

[2019-04-18 10:25] oliviertassinari commented on #15397
Maybe you can upgrade to a v3 version that doesn't has the deprecation warnings?

[2019-04-18 10:31] oliviertassinari commented on #15394
I have already seen this issue. Let me find the oldest discussion.

[2019-04-18 10:35] oliviertassinari commented on #15396
@TidyIQ This example is outdated. Please refer to the one we have on the `next` branch: https://github.com/mui-org/material-ui/tree/next/examples.

[2019-04-18 10:35] #15396 closed

[2019-04-18 10:35] aMahdaoui commented on #15374
We are actually refactoring an apps that create des web interfaces (using React Material ui).
Sometimes the endUsers try to create a web interface contains TextFields some of them are for english and others are for a different language like Arabic, Urdo etc..
So that's why i try to use RTL property to decide how to align the TextField.

here is how the current app works :

![image](https://user-im

[2019-04-18 10:39] oliviertassinari commented on #15374
@aMahdaoui In this case, you should set up the JSS RTL plugin, and enable it conditionally. I think that it would be simpler.

[2019-04-18 10:40] oliviertassinari commented on #15397
We might want to use console.warn. console.log is too weak.

[2019-04-18 10:43] oliviertassinari commented on #15397
The most important constraint we have considered when adding the deprecation warning was to show the component stack trace. The only option we had was the prop-types warning, that happens to use console.error. I think that console.warn would be better here. (We were using the same strategy in v0.x).

[2019-04-18 10:44] fzaninotto commented on #15397
That's a good idea, but:

1. Which version is it?
2. It's not me who is going to upgrade to v3, it's the react-admin user base. I find it hard to explain them that react-admin supports v3.a but not v3.b because there are some breaking changes, while you say that you support semver...

I understand that you're deeply involved in v4 and that v3 might not be a priority for you, but I insist that this

[2019-04-18 10:45] oliviertassinari commented on #15391
@TheHolyWaffle Do you know what changed. The styled-components plugin has a defensive check: https://github.com/gatsbyjs/gatsby/blob/9f0835addebb8a89d3dff6010c6ce8ea2c59bbd5/packages/gatsby-plugin-styled-components/src/gatsby-ssr.js#L15.

[2019-04-18 10:47] oliviertassinari commented on #15397
@fzaninotto What about upgrading to v3, accepting v1 in the dependency range but fixing the deprecating warnings?

[2019-04-18 10:49] fzaninotto commented on #15397
How can I fix the deprecations warnings? The code would stop working on V1.

[2019-04-18 10:57] fzaninotto commented on #15397
I agree if these are warnings. But your deprecation warnings are actually console errors.

[2019-04-18 10:57] oliviertassinari commented on #15397
Correct. This stratategy can't work. It's not backward compatible. What you want is an option to disable the deprecation warnings. console.log would probably still be too noisy.

[2019-04-18 10:58] fzaninotto commented on #15397
I don't mind a console.log.

[2019-04-18 10:58] oliviertassinari commented on #15397
And your users?

[2019-04-18 10:59] oliviertassinari commented on #15397
Is this a public API? Maybe we could feature detect the API?

[2019-04-18 11:01] TheHolyWaffle commented on #15391
@oliviertassinari I tracked it down to https://github.com/gatsbyjs/gatsby/pull/12995/
It appears `onRenderBody` now receives `pathname` where it previously didn't.

[2019-04-18 11:01] fzaninotto commented on #15397
I don't understand your question. I gave an example code that triggers the error in the description: `<TableCell numeric />`. This is called by react-admin's `<NumberField />`, which is public API.

[2019-04-18 11:03] fzaninotto commented on #15397
console.log for deprecation wrnings isn't a problem because:

- it only appears in development
- it doesn't make CI builds fail

Also you and I actually need a communication channel to warn about deprecations. react-admin uses `console.warn()` for that.

[2019-04-18 11:05] oliviertassinari commented on #15397
1. Import * from `@material-ui/core/utils/reactHelpers`.
2. See if `setRef` is defined.
3. defined => v3. not defined => v1

It's not perfect, `setRef` was introduced in v3.1.1.

[2019-04-18 11:07] oliviertassinari commented on #15397
So why should Material-UI use console.log?

[2019-04-18 11:07] eps1lon commented on #15394
It's probably related to ButtonBase and focusVisible which is essentially doing the same thing. I don't think we can detect if a focus is coming from a tab switch. I'm not sure if this is only incidental for focus visible because switching tabs is done via ctrl + tab instead of just tab.

[2019-04-18 11:08] fzaninotto commented on #15397
Oh, console.warn() is fine, too ;)

[2019-04-18 11:08] oliviertassinari commented on #15343
After the discussion in https://github.com/mui-org/material-ui/issues/15397 with @fzaninotto. We probably want to use React.warn over React.error.

[2019-04-18 11:11] fzaninotto commented on #15397
I appreciate that you try to find a solution for react-admin, but again, I think this is a bug in material-ui. A minor version should not cause errors on code created for a lower version.

[2019-04-18 11:22] #15388 closed

[2019-04-18 11:29] TidyIQ commented on #15396
Thanks, works perfectly. Although I noticed it uses prop-types in the with-typescript example which is a bit redundant. I'm sure you guys are already aware.

[2019-04-18 11:33] oliviertassinari commented on #15389
The provide more context. The first version of the Outlined TextField was using SVG elements. The implementation was later simplified to use a fieldset at the expense of IE 11 border radius. If you are aware of a simpler implementation that can be simple to override and has a limited bundle size impact, we would be happy to solve the problem. Until then, I'm closing.

[2019-04-18 11:33] #15389 closed

[2019-04-18 11:34] oliviertassinari commented on #15396
Do you have an example were we use the prop-types?

[2019-04-18 11:48] TidyIQ commented on #15396
Oh my mistake, I must have been looking at the nextjs-next example at the time (NOT with-typescript)

[2019-04-18 12:15] oliviertassinari commented on #15391
@TheHolyWaffle The example can be fixed like this:
[code]

Do you want to submit a pull request? :)

[2019-04-18 12:18] TheHolyWaffle commented on #15391
@oliviertassinari Sure, will do once I get home :)

[2019-04-18 12:18] oliviertassinari commented on #15391
(It should be sent to https://github.com/hupe1980/gatsby-plugin-material-ui/blob/next/src/gatsby-ssr.js)

[2019-04-18 12:20] oliviertassinari commented on #15391
Once the fix is released, we can use https://unpkg.com/gatsby-plugin-material-ui@2.0.0-alpha.4/ in the example we host here :).

[2019-04-18 12:20] oliviertassinari commented on #15391
Thanks!

[2019-04-18 12:29] oliviertassinari commented on #15391
@hupe1980 is working on a theme: https://github.com/hupe1980/gatsby-theme-material-ui. It could replace the custom plugin we have to (Add a ThemeProvider, CssBaseline, load the font and change the default meta viewport). What do you think about it?

[2019-04-18 12:42] TheHolyWaffle commented on #15391
@oliviertassinari I'm not a big fan of this approach as it takes away too much freedom and enforces too many things.

For example, it uses `webfontloader` to load in Robot font from google but I'd rather have it be bundled locally with `typeface-roboto`.  This is because `typeface-roboto` fonts have the css rule `font-display: swap;` which prevents a flash of unloaded font on page-load.

Another t

[2019-04-18 12:50] oliviertassinari commented on #15391
@TheHolyWaffle Thanks for the feedback. We can document the alternative to start with :)

[2019-04-18 12:59] eps1lon commented on #15397
These are not actual errors. These are warnings that are logged via `console.error`.

We want to move things like deprecation warnings to use React.warn. Right now we don't have another choice than using `warning` and `propTypes`.

[2019-04-18 13:00] vla9isla8 commented on #15394
Ok, i close issue.

[2019-04-18 13:00] #15394 closed

[2019-04-18 13:25] nareshbhatia opened #15400 "TypeScript error with v4.0.0-alpha.8"
The following code worked perfectly fine in alpha.7, but is broken in alpha.8. Can't tell if it's React signatures that have changed or MUI's:

[code]

Now I am getting the following TypeScript error:

I got past the error by changing the interface as follows, but that is a fairly complex signature for something so simple.

[code]

And it doesn't solve the problem. In the actual event handler, I a

[2019-04-18 13:48] oliviertassinari commented on #15393
@shangdev Have a look at the dependencies install that might change the global behavior of the event.  For instance: fastclick #7537.

[2019-04-18 14:05] fzaninotto commented on #15397
For my CI, it makes no difference. I haven't released a react-admin version that supports material-ui v3, but I'm ready to bet that for the react-admin users, it won't make any difference, either.

I don't understand why. If react-admin uses `console.warn()`, why can't you do it, too?

But it seems we don't agree so I won't bother you guys anymore. I'm just sorry you don't follow semver more caref

[2019-04-18 14:34] austingardner commented on #15231
@oliviertassinari Thanks for the response! We'll start using it then.

[2019-04-18 14:41] BenBrewerBowman opened #15404 "Shallow testing (enzyme) component with custom theme and mui-styles' makeStyles hook"
Can you add a way (or add documentation) to shallow test a component with a custom theme and using styling hooks?
Using unwrap worked with `withStyles` to shallow mount a component, but now with hook styling there is no longer a HOC styling wrapper. Dive is also not working as expected.

ex.
[code]

I'm use shallow rendering (enzyme), and I wrap this component in the themeprovider from mui-styles.

[2019-04-18 15:15] joshwooding commented on #15231
I'd prefer if people pick up one component at a time, but feel free to help. :)

[2019-04-18 15:36] adeelibr commented on #15231
@joshwooding I agree, I am working on `Snackbar` component right now. Once that is done. Only then i'll move to the other component.

[2019-04-18 15:52] fzaninotto commented on #15397
I'll just add one remark: the deprecation warnings are not all equal regarding noise. See this extract of my console:

![image](https://user-images.githubusercontent.com/99944/56374011-89a10a80-6202-11e9-8fe7-f5801c7c46e1.png)

If you insist on logging errors for deprecations, could you at least do it in the less-cumbersome way (first example) instead of the super noisy one (second example)?

[2019-04-18 16:12] oliviertassinari commented on #15397
It was designed on purpose to have the component stack trace, hence it's verbose.

[2019-04-18 16:12] eps1lon commented on #15404
Could you share your testing setup and the error you get?

[2019-04-18 17:00] aMahdaoui commented on #15374
i tried that yesterday but it doesn't work,  i will retry
thanks @oliviertassinari

[2019-04-18 17:48] eps1lon commented on #15397
We can disagree but lets not make this conversation accusatory. If you want to fail on console.error then this is your choice. A react app won't crash by default if a console.error is logged. Hence adding those warnings is not a Semver breaking change. We only add deprecation warnings in minor releases which is exactly what SemVer defines.

Using console.warn won't help anybody because you will ge

[2019-04-18 18:10] eps1lon commented on #15400
`makeStyles` from `@material-ui/styles` is a generic solution. The theme type has to be provided explicitly. From `@material-ui/core` it should default to a well defined `Theme` though.

Yes this was never correct. We pass our own `target` proxy that includes the actual value. See #15245 for more context. I guess the changelog entry wasn't really that descriptive.

[2019-04-18 18:44] fzaninotto commented on #15397
I didn't want to sound accusatory, sorry if I did. So let me rephrase:

as

As for using console.error instead of console.warn because it has a stack trace, I understand that you're doing the opposite trade-off in material-ui as I did in react-admin: improve the upgrade path for *future* versions while making the upgrade path to the *current* version harder.

These differences in interpretation pr

[2019-04-18 19:20] pachuka opened #15407 "[Textarea] Remove rowsMin, use the rows prop instead"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
rowsMin prop should be passed down from TextField to the consuming TextArea when multiline=true

## Current Behavior 😯
With the refactor of the TextArea internals the height of the element is calculate

[2019-04-18 19:55] joshwooding commented on #15407
You're right TextField doesn't have a `rowsMin` prop. I don't see any harm in adding one to pass down.

cc @oliviertassinari

[2019-04-18 20:24] pachuka commented on #15407
I think it does end up causing a minor bug. In my scenario we want to show a default of 6 rows (height-wise even if content is empty), but allow it to grow to "infinity" so maxRows is Infinity. Looks like previously the initial height state was set to `Number(props.rows) * ROWS_HEIGHT` while now there is a syncHeight function which calculates it based on minRows/maxRows etc (assuming I'm understan

[2019-04-18 22:01] BenBrewerBowman commented on #15404
`  const useStyles = makeStyles((theme: any) => ({
    button: {
      // we've added this to the theme
      color: theme.palette.red[500]
    }
  }));

  const CustomComponent = ({ title }: { title: string}) => {
    const classes = useStyles();
    return (
      <Typography className={classes.button} >
        {title}
      </Typography>
    )
  }

  const title = 'some title';

  const themeW

[2019-04-18 23:42] #15393 closed

[2019-04-18 23:42] #14798 closed

[2019-04-19 00:03] #15391 closed

[2019-04-19 00:19] oliviertassinari commented on #15407
The pull request in question #15331.

[2019-04-19 00:26] oliviertassinari commented on #15397
If you want to blame Material-UI for react admin using v1 instead of v3, why not, It's fine with me. As long as the migration to v4 can be smooth, I'm happy :).

[2019-04-19 00:41] mbrookes commented on #15372
The page you linked to doesn't show a dragable divider, it shows "Layout changes on different-sized screens". MAterial-UI already provides multiple ways to achieve responsive layouts.

That is something entirely different.

@oliviertassinari You piled on to the 👍. What am I missing here?

[2019-04-19 01:18] mbrookes commented on #15324
@oliviertassinari Is this not the same as: https://material.io/design/components/tabs.html#fixed-tabs ("Placement")?

"On wider layouts, fixed tabs increase in width, as their tab width is determined by the width of the screen."

[2019-04-19 01:26] shangdev commented on #15393
@oliviertassinari

I have installed the fastclick package, So how to resolve this conflict without removing fastclick?

[2019-04-19 03:21] nareshbhatia commented on #15400
@eps1lon, sorry but even after reading the links I am not clear on what the correct usage of the Select `onChange` is.

1. What is the signature of the onChange handler?
2. Where is the value stuffed in the event?

[2019-04-19 03:24] pachuka commented on #15299
@eps1lon - I took a pass at fixing the types, it resolved about 15 TSC errors I was getting for using <Link> with the component prop in one of my projects so I think it's working correctly.

I'm not entirely sure where to add tests for this, didnt see a .spec.tsx in the Link component (or when those runs), and was unclear about the typescript docs as well. If anyone has thoughts on that or could p

[2019-04-19 03:43] zhoufeng1989 commented on #15231
Hi, I would like to work on `Modal` if you guys haven't started yet @joshwooding @oliviertassinari .

[2019-04-19 04:15] pachuka commented on #13663
@eps1lon - Something I ran into today when upgrading from 3.9.3 -> 4.0.0-alpha.8. If you are explicitly using JSSProvider/JSS to work around bundle splitting/generator seed issues, you need to make sure you upgrade your `jss`(9.8.7 -> 10.0.0-alpha.16)  and `react-jss`(8.6.1 -> 10.0.0-alpha.16)  packages to @next versions as well otherwise I kept getting `root is undefined` errors on classes proper

[2019-04-19 08:13] oliviertassinari commented on #15372
@mbrookes I upvote to give a room for people to express themselves. I don't discriminate bad ideas against the good ones. I upvote to show that I care about people need. @josgraha Could you answer to Matt concerns? But we have issue with more than 50 upvotes. Don't expect the issue to be solved this year, if we ever fix it.

[2019-04-19 08:18] oliviertassinari commented on #15324
So it works with a tablet too?

[2019-04-19 10:06] eps1lon commented on #15400
https://next.material-ui.com/api/select/#props

Is probably a bit vague. We can improve the documentation there.

https://unpkg.com/@material-ui/core@4.0.0-alpha.8/Select/SelectInput.d.ts

This shouldn't concern you for usage. If you want to learn more about the implementation (never rely on the implementation) you can check out:
https://unpkg.com/@material-ui/core@4.0.0-alpha.8/Select/SelectInput

[2019-04-19 10:34] oliviertassinari commented on #15393
I'm not aware of any other solution than to uninstall fastclick. This dependency shouldn't be needed anymore. Mobile browsers, even Safari do no longer have a delay.

[2019-04-19 12:14] mbrookes commented on #15324
It looks like desktop to me (icons top-right):

![image](https://user-images.githubusercontent.com/357702/56423132-970dd180-62a2-11e9-8db8-f0c394731ef6.png)

But I agree, it is best used for smaller screen widths.

That's mixing up two different things. The use of `fullWidth` has nothing to do with whether the device has a scrollbar.

To summarise the v2 spec, there are two primary variants: "Fixe

[2019-04-19 12:35] nareshbhatia commented on #15400
@eps1lon, thanks for the pointers.

Based on `SelectInput.d.ts`, setting the event handler signature to `(event: React.ChangeEvent) => void)` (or similar variations) does not work (as indicated above). That type definition doesn't seem right.

Based on https://next.material-ui.com/api/select/#props, if I set the signature to `(event: object) => void` then I run into the following error on the usag

[2019-04-19 12:52] oliviertassinari commented on #15407
@pachuka You can workaround the problem by providing a `min-height` CSS property. It would work. I have looked at a couple of other textarea components. They have their own subtlety.
- https://github.com/andreypopp/react-textarea-autosize `rows` prop does nothing.
- https://github.com/buildo/react-autosize-textarea `rows` prop is equivalent to the minimum number of rows.

I agree with the directio

[2019-04-19 12:57] joshwooding commented on #15231
@zhoufeng1989 `Modal` might be a quite difficult one, due to it needing to reference itself when using `ModalManager`.
e.g. https://github.com/mui-org/material-ui/blob/1bff0f7741fc2838f94d2143fb78ea89a49accbc/packages/material-ui/src/Modal/Modal.js#L85

Feel free to give it a go though :)

[2019-04-19 13:03] oliviertassinari commented on #15324
In what sense?

What specific aspect aren't we following?

Do we need to responsively switch between variants? Can the `useMediaQuery()` serves this purpose?

We are keeping track of the problem in #14706. It's a low hanging fruit.

[2019-04-19 13:11] nareshbhatia commented on #15400
Curious, why is https://unpkg.com/@material-ui/core@4.0.0-alpha.8/Select/SelectInput.d.ts defines `onChange` as

[code]

Why not just

[code]

If I patch `SelectInput.d.ts` with this definition, all problems go away. But I am sure there's a reason for why it is this way!

[2019-04-19 13:34] Atralbus opened #15413 "Breadcrumbs contains wrong types for props"
The API doc shows that *itemsAfterCollapse* and *itemsBeforeCollapse* have `number` type and they actually work as expected but they are written as `boolean` in [Breadcrumbs.d.ts](https://github.com/Atralbus/material-ui/blob/33e8680852e1eb06204b98daf3bce12c6bfebc86/packages/material-ui/src/Breadcrumbs/Breadcrumbs.d.ts#L7)

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://

[2019-04-19 13:57] oliviertassinari commented on #13663
@pachuka We do no longer depend on `react-jss`. You can remove this dependency. You are correct regarding jss v9 :+1:. We should document it. We might also want to throw an explicit error. Do you have a reproduction for this problem? Do you want to add a quick note about it in the upgrade guide :) ?

[2019-04-19 14:15] eps1lon commented on #15400
Because the `target` is not an HTMLSelectElement but our own interface that preserves the original value. The current definition reflects the actual value. Only the value type is `unknown` because we can't determine the value at compile-time.

[2019-04-19 14:16] cezarderevlean commented on #14427
Workaround documentation:

* Disabling autocomplete: https://stackoverflow.com/a/30976223/882337
* Overriding styles: http://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs

* Disabling autofill styles (snippet from the second link above):
[code]

[2019-04-19 14:22] nareshbhatia commented on #15400
Makes sense.

To summarize, I am sticking with the following. That's the only way I can seem to make TypeScript happy:

[code]

[2019-04-19 14:22] #15400 closed

[2019-04-19 14:33] eps1lon commented on #15400
When in doubt first check out our demos. They are available in TypeScript. We try to be as strict as possible without adding additional runtime overhead. https://next.material-ui.com/demos/selects/#native-select

[2019-04-19 14:58] charlax commented on #8598
@gnapse your solution does not work for me:

[code]

Still gives me:

[code]

[2019-04-19 16:06] #15413 closed

[2019-04-19 16:12] oliviertassinari commented on #15264
I was careful with the release of 4.0.0-alpha.8. I have increased the dependency to all the packages to alpha.8

[2019-04-19 17:26] nareshbhatia commented on #15400
@eps1lon, that was super helpful! I am now able to type this a lot better. One type cast needed, but I fully understand why.

[code]

[code]

Here's the [source](https://github.com/nareshbhatia/manage-my-money/blob/master/mmm-client/src/pages/AnalyzePage/ChartHeader.tsx#L37) for anyone who hits this issue in the future.

[2019-04-19 19:13] mbrookes commented on #15324
**Fixed tabs** are of equal width *(MUI default†)*, and can be aligned left *(`variant="standard"`)*, center *(`centered` prop)* or right *(not supported)*; or be full-width *(`variant="fullWidth"`)*.

† *Not enforced for longer labels.*

**Scrollable tabs** *(`variant="scrollable"`)* are the minimum width needed for the label, to minimise scrolling *(MUI does not follow the spec)*.

[2019-04-19 21:55] oliviertassinari commented on #15079
@kaycebasques Did you had the chance to move forward on this problem?

[2019-04-19 22:44] joshwooding commented on #12711
After the redesign in #14278, this is no longer the case. I'm closing this for now. If you disagree let me know :)

[2019-04-19 22:44] #12711 closed

[2019-04-19 22:51] oliviertassinari commented on #15079
I like styled-components solution of the problem:

![Capture d’écran 2019-04-20 à 00 50 42](https://user-images.githubusercontent.com/3165635/56447041-5e9fdf00-6306-11e9-94f5-959071688dd2.png)

[2019-04-19 23:21] oliviertassinari commented on #15126
@cmparsons As a workaround, does it work wrapping the DOM node you are directly interested into?

[2019-04-19 23:21] joshwooding commented on #13344
@oliviertassinari The documentation contains a Transition example for the Dialog under the [Alerts section](https://next--material-ui.netlify.com/demos/dialogs/#alerts). Do we need to add another one?

[2019-04-19 23:27] oliviertassinari commented on #13344
I would be happy with as simple `## Transitions` extra header.

[2019-04-19 23:49] joshwooding commented on #14405
@zerefwayne Did you still want to work on this?

[2019-04-20 00:00] joshwooding commented on #14938
Closed by #15108

[2019-04-20 00:00] #14938 closed

[2019-04-20 00:14] pachuka commented on #13663
@oliviertassinari, haha, sure I can create a codesandbox reproduction + PR note tomorrow.

[2019-04-20 03:20] zhoufeng1989 commented on #15231
@joshwooding , thanks for your reminding. I find it is quite tricky after some investigations, and as a newbie here I would like to contribute to other components for this issue, then maybe I will do this one after I get more familiar with this project. Do you have any suggestions?  Thanks.

[2019-04-20 09:43] joshwooding commented on #15231
@zhoufeng1989 We’re trying to save lab for last but for a beginner, maybe SpeedDial or SpeedDialAction. InputBase in core should be okay. You could also look at swapping withTheme with useTheme :)

[2019-04-20 10:20] TidyIQ commented on #13663
Is there an issue with ThemeProvider at this stage? It was working fine previously but now I'm having issues.

I've created a custom theme and wrapped my apps in a ThemeProvider yet all components and `makeStyles(theme => { ... }) `are still using the default theme values.

For example:

[code]

[code]

[code]

The result of this is the typography color is set to the default purple[500] instead of

[2019-04-20 10:25] oliviertassinari commented on #13663
@TidyIQ Interesting. It's not the first time I head about the problem. I have never been able to reproduce it. What dependency versions are you using?

[2019-04-20 10:26] TidyIQ commented on #13663
@oliviertassinari

[code]

[2019-04-20 10:27] oliviertassinari commented on #13663
@TidyIQ 😨 do you have a github repository I could have a look at?

[2019-04-20 10:30] TidyIQ commented on #13663
Sure. It's a private repo but I'll make it public for a couple of hours so you can take a look.

https://github.com/TidyIQ/tidyiq_website

[2019-04-20 10:32] oliviertassinari commented on #13663
cloned, you can make it private again.

[2019-04-20 10:54] oliviertassinari commented on #13663
@TidyIQ It works great with a fresh yarn or npm install. However, It's broken with your package-lock.json. I will see if I can find why and even better, add an explicit warning. Thank you!

[2019-04-20 11:11] TidyIQ commented on #13663
Yeah you're right. I deleted all my node_modules and package_lock.json then reinstalled and now it's working fine. Strange... Well at least it's working now! Thanks for your help.

[2019-04-20 11:12] oliviertassinari commented on #13663
@TidyIQ You have `"@material-ui/styles"` installed twice in package-lock.json.

[2019-04-20 11:40] oliviertassinari commented on #15264
I'm adding a warning as well as a FAQ about the problem.

[2019-04-20 11:44] oliviertassinari commented on #15264
The problem was reported [multiple](https://www.reddit.com/r/reactjs/comments/berna0/everyone_seems_to_love_materialui_but) [times](https://github.com/mui-org/material-ui/issues/13663#issuecomment-485086271). The pain is not likely to go away in the future. I would rather address it early. It's a good reminder that bundling everything in a single package is simpler. However, the separation of @mat

[2019-04-20 13:16] DominikSerafin opened #15423 "Multiline TextField rows are ignored if rowsMax is also provided."
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

[code]

Should always show no less than 3 rows.

## Current Behavior 😯

`TextField` shows less than 3 rows when:

* `rowsMax` is provided
* input value is empty or takes less than 3 lines

## Minimal

[2019-04-20 13:32] JeromeFitz commented on #15264
Thank you very much as always @oliviertassinari 💯

[2019-04-20 16:26] oliviertassinari commented on #15423
@DominikSerafin I'm moving the discussing to #15407. It's the same concern. Let us know what you think we should be doing about it. So far the strategy is to leave rows alone (as soon as rowsMax or rowsMin is provided). I didn't anticipate this breaking change. If we don't change the logic, we should update the v3 -> v4 migration guide.

[2019-04-20 16:26] #15423 closed

[2019-04-20 17:14] DominikSerafin commented on #15407
I'm not 100% sure I understand the specifics of this issue, but speaking as a heavy user of MUI, I think the MUI v1-3 behavior was the most intuitive and straightforward where `rows` acted as default & minimal rows.

While `rowsMin` could be somewhat more precise name for this, I think it doesn't differ that much from native `<textarea rows="x">` behavior that it needs to change.

They both set th

[2019-04-20 17:59] oliviertassinari commented on #15407
@DominikSerafin Thank you for providing your perspective to the problem. You convinced me that both points of view have a logical base. I have no objection with reverting the breaking change I have introduced in #15331. I would be happy to reduce the number of BC v4 introduce. @joshwooding @pachuka Any objection with reverting the rows behavior (we would remove the rowsMin prop).

[2019-04-20 18:05] pachuka commented on #15407
@oliviertassinari no problem on my end, that's the behavior in 3.9.3 that we are using.

[2019-04-20 18:23] oliviertassinari commented on #15407
Yes, I propose to go back to v3 behavior.

[2019-04-20 19:17] oliviertassinari commented on #8662
We have recently changed [our Roadmap](https://next.material-ui.com/discover-more/roadmap/). Given this feature seems to be requested and that the implementation cost is small, I think that we can reconsider it. I was looking at https://v1.quasar-framework.org/vue-components/tabs. It looks nice.

![Capture d’écran 2019-04-20 à 21 10 49](https://user-images.githubusercontent.com/3165635/56461313-

[2019-04-20 19:20] oliviertassinari commented on #15372
@josgraha Do you have something like this in mind https://v1.quasar-framework.org/vue-components/splitter?

[2019-04-20 22:36] zhoufeng1989 commented on #15231
Thanks for the guide @joshwooding , will try to work on `InputBase`.

[2019-04-21 08:36] #15126 closed

[2019-04-21 09:31] #15105 closed

[2019-04-21 09:31] #15299 closed

[2019-04-21 09:38] #15264 closed

[2019-04-21 10:11] oliviertassinari commented on #15407
Does anyone want to give it a shot?

[2019-04-21 10:26] TidyIQ commented on #13898
Any update on this?

[2019-04-21 10:53] oliviertassinari commented on #15404
@BenBrewerBowman I believe we already have a discussion for this problem: #11864.

I would encourage you to use the mount API and to forget about the existence of the shallow one, or even to consider using [react-testing-library](https://github.com/kentcdodds/react-testing-library).
I don't think that enzyme shallow API support the context provider pattern yet, e.g. https://github.com/airbnb/enzym

[2019-04-21 10:53] #15404 closed

[2019-04-21 11:22] TidyIQ opened #15429 "Bug - adding a startAdornment to an input breaks shrink for the input label"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Adding a startAdornment to an input component (Input, FilledInput or OutlinedInput) should not force the input label to start in it's shrunken state. It should work exactly the same as if there were n

[2019-04-21 11:55] oliviertassinari commented on #15324
### v4

It seems we haven't clean the Tabs component from the deprecated props. We still have the `deprecatedPropType(` usage and the corresponding logic. What should do about it? Should we revert or remove the old logic?

### v5

What do you think of this API?
[code]

With this API, we can reproduce the cases described by the specification, while being generic:
- Fixed tabs
![Capture d’écran 201

[2019-04-21 12:03] oliviertassinari commented on #15429
It's a duplicate of #14119. We started an effort in this direction but it was abandoned #14126.

[2019-04-21 12:03] #15429 closed

[2019-04-21 12:36] dmtrKovalenko opened #15431 "[typescript] Module augmentation for theme overrides stopped working"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Allow to extend material-ui theme overrides with typescript module augmentation.

## Current Behavior 😯

I am seeing that typescript overrides is now not allowing module overrides.
Previously it worke

[2019-04-21 13:29] mbrookes commented on #15324
How about:

[code]

`variant` enum eliminates the possibility of an invalid combination of `fixed` and `scrollable` props.
`justifyContent` could possibly work for both fixed and scrollable, setting the default position of the items for scrollable when there are less items than would overflow the current display width.

[2019-04-21 14:41] oliviertassinari commented on #13625
@siriwatknp Here is an iframe example with v4: https://codesandbox.io/s/v0kvljw0r3.

[2019-04-21 15:33] oliviertassinari commented on #15324
@mbrookes How does it work with case n°1 and n°2? I don't see how. We need to either set the flex-grow: 1, flex-shrink: 1 (fullWidth on small screens) or to use a min-width logic (fixed on large screens).

We should warn when `justifyContent` is used with scrollable. It doesn't work.

Regarding @olee use case, how do you support it with this API? I was proposing the same API as before `<Tabs scrol

[2019-04-21 15:52] mbrookes commented on #15324
Case n°1:

`<Tabs variant="fixed">`, or since that's the default, just:

`<Tabs>`

Case n°2:

`<Tabs justifyContent="center">`.

The alternative to the `variant` prop is just to have the `scrollable` prop. No need for a `fixed` prop, since that's the default. This closes the door on future variants though (without future a breaking change to introduce a `variant` prop).

That's the alternative, ye

[2019-04-21 16:08] oliviertassinari commented on #15324
If I follow you correctly, we need a null default prop for justifyContent, so:
[code]

Why should `fixed` by the default state of the Tab? What do you think of this state as the default?:

![Capture d’écran 2019-04-21 à 18 05 43](https://user-images.githubusercontent.com/3165635/56472543-1ac0ed00-6460-11e9-966e-a6611917e5b1.png)
[code]

[2019-04-21 16:20] andreasonny83 commented on #8726
I found a way

[code]

[2019-04-21 16:23] oliviertassinari commented on #8726
@andreasonny83 Avoid this pattern. We are providing a native API in v4.

[2019-04-21 16:29] andreasonny83 commented on #8726
@oliviertassinari thanks for the update. Is that pattern already available? Any documentation available?

[2019-04-21 16:35] oliviertassinari commented on #8726
https://next.material-ui.com/css-in-js/basics/#adapting-based-on-props

[2019-04-21 16:56] andreasonny83 commented on #8726
One last question @oliviertassinari . Can I use `makeStyles` in combination with `withStyles`?

I cannot find documentation for that. What I'm trying to do is this:

[code]

[2019-04-21 17:01] caub commented on #8726
@andreasonny83 `makeStyles` is for hooks, `withStyles` accepts the same syntax though. Use either one or the other

[2019-04-21 17:52] mbrookes commented on #15324
Right.

Well it's either got to be fixed or scrollable, so fixed seems like the sensible default.

`<Tabs justifyContent="flex-start" scrollable={false} fullWidth={false} flexDirection="row" fixed={false} />`

Why are we back to having two opposing props? The variant is either `fixed` or `scrollable`, so the choice is either having a `variant` prop; or having a `scrollable` prop that overrides the

[2019-04-21 19:24] chanand opened #15435 "[TextField] multiLine TextField loses cursor position"
Cursor jumps to the end in a multiLine TextField

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The cursor should not jump to the end just like a regular TextField (multiline = false)

## Current Behavior 😯

Cursor jumps to the end when typing in

[2019-04-21 21:03] oliviertassinari commented on #15435
@chanand Thank you for the report. It will be fixed in the next release.

[2019-04-21 21:27] Vigrond opened #15437 "StepIcon active / completed / error states are mutually exclusive in the context of styling, at odds with StepLabel"
- [X ] This is not a v0.x issue.
- [X ] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
`StepIcon` should be able to be `Active` and `Completed` at the same time to be in line with `StepLabel` so that styles can apply to both while going back to completed steps

## Current Behavior 😯
`S

[2019-04-21 21:54] olee commented on #15324
Well as I said above, we are using `scrollable` and `fullWidth` at the same time, but at the same time setting a minWidth on the tabs so that the text is not cut off and instead it starts to scroll on smaller screens.
I think I can provide an example if necessary.

[2019-04-21 22:33] olee commented on #15324
Ok I played around a bit and noticed that it's also possible to use `variant='scrollable'` and a custom `flex: 1` css property on the child `Tab` elements: https://codesandbox.io/s/r53v05413q

[code]

[code]

[2019-04-22 01:38] bozada commented on #14140
@oliviertassinari Compared to the now available nextjs-hooks-with-typescript example from december, beside the ones you posted are there any other changes in it? If yes, where can I find the updated example?
The next branch never had this example, and the base branch version never got this update.

[2019-04-22 01:46] paulopacitti opened #15440 "[styles] Warn on invalid withStyles / makeStyles usage"
I'm developing a header with a Drawer and I customized the style with `withStyles()` to get responsive behavior. I don't know why, but the `transitionDuration` prop is not working and it's opening/closing instantly :( Is this a bug? Am I doing something wrong?

### Highlighted code with the info that I said
[code]

### Full component
[code]

[2019-04-22 05:49] garygrubb commented on #14427
Thanks @cezarderevlean , I got rid of the yellow background, Now just need to figure out how to remove the greyed out helper text.
![Screenshot from 2019-04-22 11-14-45](https://user-images.githubusercontent.com/35793337/56485137-720e9e00-64f0-11e9-93f2-764fd06bed7b.png)

[2019-04-22 06:25] eps1lon commented on #13898
We discussed this before and I agree that the label shouldn't start shrunk with an input adornment. There was some discussion in #14126 with a lot of confusion around how it should look. IMO I don't see any issue with the MWC implementation. There were some points raised that the label "clashes" with the adornment but that happens during transition. I don't think anybody cares that the label is in

[2019-04-22 06:26] eps1lon commented on #14119
Closing this as a duplicate of #13898

[2019-04-22 06:26] #14119 closed

[2019-04-22 06:41] rossdakin opened #15441 "react-swipeable-view demo causes warning"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

The demo should execute without issue.

## Current Behavior 😯

The demo causes a warning to appear in the browser console:

`Warning: react-swipeable-view: one of the children provided is invalid: nul

[2019-04-22 06:57] eps1lon commented on #15441
I'm not getting the warning for https://material-ui.com/demos/steppers/#mobile-stepper-text-with-carousel-effect.

That code is wrapped in a `div` so it's not actually a null child. If you use the actual demo your `tutorialSteps` might be empty.

Could you share your code?

[2019-04-22 07:08] cezarderevlean commented on #14427
If you don't want to "disable" autofill as described in the first link I've put above, keep in mind that after autofill, it will appear like in your screenshot only when page refreshed by a code change in
development (as far as I've tested). A normal browser load/refresh will be fine, it will make the placeholder shrink.

Also, if what I've said above proves untrue, one workaround you can implemen

[2019-04-22 07:34] rossdakin commented on #15441
You're right -- I was seeing the error in code I had modified. The error is not present with the code as written in the docs. My apologies.

[2019-04-22 07:34] #15441 closed

[2019-04-22 10:11] serendipity1004 opened #15443 "IE 11 grid problem"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Grid should be working as expected in IE11 same as in Chrome

website ->  https://www.dbmaker.kr

## Current Behavior 😯

Grid components get squashed up in IE and textfields get expanded

textfield ->

[2019-04-22 10:32] serendipity1004 commented on #15443
I've actually ended up fixing it myself.

The problem actually was setting the flex size of `<Grid item>`.

Chrome lets you get away with just going `<Grid item>` but you have to explicitly specify `<Grid item xs=12>` for grid to take up full width in IE

[2019-04-22 10:32] #15443 closed

[2019-04-22 12:18] rahuls360 commented on #8090
Adding 3 attributes to `<Menu />` fixed it for me
[code]
I found the solution from here https://stackoverflow.com/questions/48157863/how-to-make-a-dropdown-menu-open-below-the-appbar-using-material-ui

[2019-04-22 12:28] usmanramay opened #15444 "page scroll is not working when mouse pointer is in tabs section"
for example i want to scroll bottom and mouse is on tabs section then scroll is not working.
if mouse is outside the tabs its working fine.

[2019-04-22 12:34] roytz commented on #8223
Hi @kopax, did you manage to find a solution?

[2019-04-22 12:43] usmanramay commented on #15444
![FireShot Capture 092 - Admin Panel - localhost](https://user-images.githubusercontent.com/39871459/56500903-1c54e880-6526-11e9-8a2b-098402eefa3f.png)
screenshot

[2019-04-22 13:19] #15435 closed

[2019-04-22 13:35] #15407 closed

[2019-04-22 14:29] oliviertassinari commented on #14140
@bozada You probably need this example [/examples/nextjs-next-with-typescript](https://github.com/mui-org/material-ui/tree/next/examples/nextjs-next-with-typescript). It's TypeScript + Next.js + Material-UI v4 (with the new SSR API).

[2019-04-22 14:40] joshwooding commented on #15444
Do you have a reproduction, I can't reproduce this on the docs

[2019-04-22 14:54] oliviertassinari commented on #15440
You are creating a new component at each render (withStyles called in the render method). React will see this new component type, unmount the previous one and mount the new one. You lose the animation. You should move the component creation outside. For the conditionnal style logic, we explain the options in https://next.material-ui.com/css-in-js/basics/#adapting-based-on-props.

@eps1lon This is

[2019-04-22 15:09] TroySchmidt commented on #15400
The `makeStyles` signature change in .8 is causing TypeScript linting issues for me as well.  Having to revert back to .7 because even manually typing it to theme: Theme still has problems.

[2019-04-22 16:11] oliviertassinari commented on #15324
@mbrookes I would advocate for a hybrid solution as the default. In the screenshot I have shared: https://github.com/mui-org/material-ui/issues/15324#issuecomment-485263300, scrollable is off, fixed is off, fullWidth is off, flexDirection is column, justify-content is flex-start. It has the advantage of being easier to override (fewer styles) and closer to the other UI libraries.

I was reasoning

[2019-04-22 16:15] jonas-scytech commented on #13898
https://material.io/design/components/text-fields.html#anatomy

They have a `Icons` section showing a text field with a start adornment and shrunk label, I assume that if this was not the behaviour for Outlined text field they would say something there or in the dedicated section for the Outlined text field.

[2019-04-22 19:08] JESii commented on #15152
@mattlbrody  -- did you find a solution for this? If so, please post here as I'm seeing similar issues
thanks!

[2019-04-22 20:21] kopax commented on #8223
No not yet. Not without the provider.  @oliviertassinari I am on gitter.

[2019-04-22 20:21] wellyal opened #15447 "Select is not getting vertically aligned with TextFields"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

Select should be getting vertically aligned with TextFields

## Current Behavior 😯

Select is not getting vertically aligned with TextFields

## Steps to Reproduce 🕹

https://codesandbox.io/s/04npwwox

[2019-04-22 21:24] bmueller-sykes opened #15448 "Issue with Typescript and `withMobileDialog`"
Trying to use `Dialog` with the `withMobileDialog` HOC in Typescript results in an ugly Typescript error

- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

Here's the codesandbox:
https://codesandbox.io/s/j403mnwyov

...and in the code sandbox (along with Atom, locally), I

[2019-04-22 22:13] joshwooding commented on #15231
@zhoufeng1989 Looks like @adeelibr is working on InputBase first, sorry! I would have a look at SpeedDialAction

[2019-04-22 23:18] mbrookes commented on #15324
" In the screenshot I have shared: #15324 (comment), scrollable is off, fixed is off, [...]"

Okay, one more time. There are two variants: "fixed", and "scrollable". If it isn't scrollable, it must be fixed.

[2019-04-22 23:57] Rolilink opened #15449 "Module not found: Error: Can't resolve '@material-ui/core/ToolBar in docker with webpack-dev-server"
I have an error loading @material-ui components on docker:
Module not found: Error: Can't resolve '@material-ui/core/ToolBar' in '/www/src/modules/commons/components/AppBar/components'
Module not found: Error: Can't resolve '@material-ui/icons/add' in '/www/src/modules/commons/components/AppBar/components'

- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-o

[2019-04-23 00:28] theKashey opened #15450 "Better focus management"
Current(master) focus-management is broken for shift+tab, while _forward tapping_ is also working not as expected, as long as you may leave a modal, and got into browser address line, which is good, but should be impossible.

A new `TrapFocus` implementation also does not seems to be correct, especially due to the absence of `RootRef`, used to discover nested portals (like here - https://nk7zmp390

[2019-04-23 00:47] theKashey commented on #5750
There is no way you can use `remove-body-scroll` and React. @alexnez96 gave a good example when it does not work as expected.

I've forked given sandbox and used another library - [react-remove-scroll](https://github.com/theKashey/react-remove-scroll), which uses React event propagation system and is friendly to any portals or any other _react_ related stuff. Used in Reach-UI and Smooth-UI. Just 1

[2019-04-23 02:20] mbrookes commented on #15449
Sorry, but this clearly isn't a Material-UI problem.

[2019-04-23 02:20] gusmattos1 commented on #9264
<Stepper
          activeStep={activeStep}
          alternativeLabel
          style={{ backgroundColor: "transparent" }}

[2019-04-23 02:20] #15449 closed

[2019-04-23 05:44] dave-dm commented on #3061
I'm trying to resize the icon button as well but it's not giving good results (icon is off center):

<img width="82" alt="Screen Shot 2019-04-23 at 12 40 41 PM" src="https://user-images.githubusercontent.com/38344203/56557427-2aa61180-65c5-11e9-8060-a00f99208f03.png">

[code]

[2019-04-23 06:29] joshwooding commented on #15450
`TrapFocus` was released in @material-ui/core@v4.0.0-alpha.1 (next) do you still have the same problems with newer versions? It would be good to hear about your experience with Material-UI and focus accessibility:)

[2019-04-23 07:57] theKashey commented on #15450
`next` fixed experience, but now I could not tab into address bar, which was useful before (except for Material-UI only React-bootstrap [supported it](https://github.com/react-bootstrap/react-bootstrap/issues/3243#issuecomment-415510974)). Removing last _sentinel_ might keep the old experience.

There is still a problem with portaled content, which should be also wrapped with `TrapFocus`, like `Se

[2019-04-23 08:05] #15448 closed

[2019-04-23 08:06] eps1lon commented on #15448
Checkout the TypeScript version of the [Responsive full-screen demo](https://next.material-ui.com/demos/dialogs/#responsive-full-screen). It shows one usage option.

[2019-04-23 08:30] Jack-Works opened #15451 "[system] Box accept any value in TypeScript"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Demo in the document
Let's see the demo in the https://material-ui.com/system/basics/
[code]

The content of `color` `bgcolor` font-Family` ... is not type-friendly.

Now we can use `variant` (typed as 'outlined' | 'conta

[2019-04-23 08:34] Losses commented on #15451
Something like

[code]
Is also better than demo in the document.

[2019-04-23 08:36] DanielZara commented on #14815
Try to increase browsers zoom to 90 or 100 percent.

[2019-04-23 09:02] eps1lon commented on #15451
@Jack-Works  On a very basic level this is a better solution. String paths usually create a refactoring hazard. But what happens with the types in custom themes? We would need type helpers that take a `Theme` and then infer the possible keys at every level.

This is also something to keep in mind when we introduce a dynamic `color` prop.

@Losses Where does `muiStyles` come from?

[2019-04-23 10:07] mbrookes commented on #15449
[code]

[2019-04-23 10:09] #10847 closed

[2019-04-23 10:09] #13464 closed

[2019-04-23 10:09] #13708 closed

[2019-04-23 10:09] #14483 closed

[2019-04-23 10:22] Losses commented on #15451
@eps1lon Some hypothetical variable

[2019-04-23 10:22] zhaoyi0113 opened #15452 "How to load external svg file in `SvgIcon` component"
All the demos in the doc shows loading `svg` as something like:

[code]

I don't know what this format is. But I wonder how I can load a svg from external file in `SvgIcon` component.

[2019-04-23 10:32] oliviertassinari commented on #15450
@theKashey Thanks for caring about the problem! I have benchmarked a lot of different UI libraries regarding focus handling. Very little are handling the focus correctly. I hope that #14545 solves it. I have benchmarked a lot of correct implementation too, a few of them are listed in https://github.com/mui-org/material-ui/issues/13702#issuecomment-463150613.

Thank you for the confirmation. I was

[2019-04-23 10:34] eps1lon commented on #15451
This is not actionable for us. If you hide implementation details then the demo is always better than a demo with implementation details. But we want to showcase actual usage where your code doesn't apply.

[2019-04-23 10:47] oliviertassinari commented on #15452
@zhaoyi0113 `SvgIcon` provides a few helpers on top of the `<svg>` element. If you have external icons. You have different options. One is to use https://www.smooth-code.com/open-source/svgr/playground/.

[2019-04-23 10:47] #15452 closed

[2019-04-23 10:50] #15444 closed

[2019-04-23 11:05] eps1lon commented on #15400
@TroySchmidt Please open a separate issue.

[2019-04-23 11:22] Relaxe111 commented on #14320
It looks that problem still persist. I installed latest version of the material ui and have same behavior with fa icons
my code is:
`
<Icon className={classNames(classes.icon, "fas fa-user-check fa-lg")}/>
`
![image](https://user-images.githubusercontent.com/40892030/56577221-b9695d00-65ca-11e9-8f0a-abdb4e1bc70b.png)

[2019-04-23 11:23] Relaxe111 commented on #14320
and in material ui  same situation
![image](https://user-images.githubusercontent.com/40892030/56577313-ff262580-65ca-11e9-96f3-fb9d8508d413.png)

[2019-04-23 11:24] oliviertassinari commented on #14320
@Relaxe111 A live working example: https://next.material-ui.com/style/icons/#font-awesome. The problem is with the injection order. Try the `<StylesProvider injectFirst>` option of Material-UI v4.

[2019-04-23 11:25] oliviertassinari commented on #14320
We should probably document the problem!

[2019-04-23 11:30] oliviertassinari commented on #3061
@dave-dm Does it work for you: https://next.material-ui.com/demos/buttons/#sizes

[code]

?

[2019-04-23 11:43] Relaxe111 commented on #14320
this solves the problem, but this is in alfa. I asume that is not safe to use it in production. There is some others possible solutions ?

[2019-04-23 12:02] oliviertassinari commented on #14320
@Relaxe111 It will be a beta this weekend. You have a live example in https://codesandbox.io/s/vmv2mz9785. There is a lot more boilerplate with v3 regarding the `insertionPoint` option.

[2019-04-23 12:06] oliviertassinari commented on #15324
@mbrookes I have found the issue that summarizes my problem: #12358. What do you think of deferring this effort to v5? It will be a breaking change. I don't think that we have the time for v4. The best proposal we have found yet:

[code]

[2019-04-23 12:09] Relaxe111 commented on #14320
Understand, simplest workaround which worked for me is  just to use <i> inside a ListItemIcon like so:
`
<ListItemIcon>
                        {
                            is_selected?
                              <i className="fas fa-user-check fa-lg"/>
                              :<i className="far fa-user fa-lg"/>
                        }
                        </ListItemIcon>
`
problem

[2019-04-23 12:14] oliviertassinari commented on #14320
This props is gone in v4. You will not have the warning.

[2019-04-23 12:23] kaywyeex opened #15454 "Ability to create custom classes in overrides"
- [X] This is not a v0.x issue.
- [X] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
Addition of an unknown class in overrides(or elsewhere), should make it possible to use to the given className matching prop on a component.

## Current Behavior 😯
It currently throws a warning, saying

[2019-04-23 12:34] Jack-Works commented on #15451
To support both approach, use string | [ tuple ].
Don't use string | [ "Val"| string ], this will omit "Val" and result in string | [ string  ] and get untyped again

[2019-04-23 13:17] TroySchmidt opened #15455 "unknown typings in alpha .8 bad for TypeScript"
The `makeStyles` signature change in .8 is causing TypeScript linting issues for me as well.  Had to override type the theme to `Theme` to make it happy.

There are other `unknown` typings because the Theme is still in core and not the styles package.  So what used to interpret theme directly now needs to be strongly typed when passing to `makeStyles`.

[2019-04-23 13:20] desktp opened #15456 "Portal breaks when using createRef"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

`Portal` component should accept refs created through `createRef()`

## Current Behavior 😯

`Portal` blows up when doing so

## Steps to Reproduce 🕹

Link: https://codesandbox.io/s/pyp3p5r0kx

1. Crea

[2019-04-23 13:24] eps1lon commented on #15455
Could you add the code that was passing before and is rejected now?

[2019-04-23 13:25] desktp commented on #15456
Doing it like this works though: `<Portal container={this.containerRef.current} />`. Don't know how applicable this report still is.

[2019-04-23 13:27] eps1lon commented on #15456
Could you add your Portal + ref usage?

That is the behavior documented in the [component API](https://material-ui.com/api/portal/#props). If you pass in a ref we don't know when the instance will be available.

[2019-04-23 13:38] desktp commented on #15456
I always get eluded when sharing sandboxes. Should have the example code now.

[2019-04-23 13:46] eps1lon commented on #15454
This is technically possible currently: https://codesandbox.io/s/zyjwxqj04. However it relies on implementation details.

We're working on a better `color` prop API (see #13875) that should cover this use case. For more advanced overrides I would recommend using your own wrapper component. We can't cover every single use case via props only.

[2019-04-23 13:52] eps1lon commented on #15456
I see. As I said we require an actual instance here not just the ref. Otherwise we won't know when the instance the ref points to changes.

You could put the container into state and use a callback-ref to update the state: https://codesandbox.io/s/v39w4qkox5

[code]

[2019-04-23 13:56] bmueller-sykes commented on #15448
Okay, so in my defense here, what I illustrated is a "bug", given that I'm using MUI 3.9.3, and @eps1lon, the example you provided (thanks for that!) is from the next branch, which is not production-ready yet (though it looks like it might be released in May 2019, which would be nice).

Also, FWIW, `withMobileDialog` works just fine in JS, just not TS in 3.9.3

[2019-04-23 13:58] eps1lon commented on #13898
Could you include a screenshot? I can't find text fields in the linked document that have a start adornment, no input and a shrunk label.

[2019-04-23 14:07] desktp commented on #15456
That solution is not really making use of the `createRef()` method though, which is the recommended way of dealing with refs moving forward.

[2019-04-23 14:16] eps1lon commented on #15456
With ref-objects you don't know when the instance changes the ref points to which is required for a portal. React portals need a DOM element not a ref.

I'm not aware of such a blanket recommendation. The [docs still have a section for callback refs](https://reactjs.org/docs/refs-and-the-dom.html#callback-refs).

The example I used can also be ported to ref-objects. However, it becomes increasingl

[2019-04-23 14:35] jonas-scytech commented on #13898
<img width="364" alt="Screen Shot 2019-04-23 at 11 32 59" src="https://user-images.githubusercontent.com/45497215/56589519-ca5ea200-65bb-11e9-8db2-184046f07a15.png">

 @oliviertassinari had already shared it [here](https://github.com/mui-org/material-ui/pull/14126#issuecomment-453650377)

[2019-04-23 14:41] eps1lon commented on #13898
Do you mean the third example? The label is shrunk because the text field has an input value not because of the adornment (as is shown in the first example).

[2019-04-23 14:47] TidyIQ commented on #13898
No, the first example. That's how it should look when there is no input value, but currently in MUI it starts off shrunk (like examples 2 and 3 except without any input value).

[2019-04-23 14:50] TidyIQ commented on #13898
I really think this needs to be a big focus. It's the only component I've encountered in all of Material-UI that doesn't match the Material Design specs and looks substantially worse because of it.

[2019-04-23 15:02] eps1lon commented on #13898
So we agree. It sounded like @jonas-scytech was arguing that current implementation matches the specification.

[2019-04-23 15:07] TidyIQ commented on #13898
Yeah sorry, I misread your comment.

You can almost get it to work properly by making the following changes:

[code]

This results in the label starting in the non-shrink state (as per MD specs), then shrinks appropriately when focused. The only issue with it is that it doesn't stay in the shrink-state after the user clicks out. It expands back to the full size which causes the label to overlap th

[2019-04-23 15:14] oliviertassinari commented on #15454
Could it be a duplicate of #14185?

The success, danger, warning and info are values I think that we should support by default.

[2019-04-23 15:18] desktp commented on #15456
That's my interpretation from

In any case, the added explanation in the docs suffice, and my problem is solved. Thanks.

[2019-04-23 15:18] #15456 closed

[2019-04-23 15:19] oliviertassinari commented on #15447
I remember working on issues closely related to this one. The tradeoff taken was to choose a vertical alignement that is consitant between the browsers. I'm not sure we can do much about it. The simplest workaround is to use a display flex container. In #14580 I have found that we can potentially remove a div from the select it always help.

[2019-04-23 15:53] jonas-scytech commented on #13898
Sorry about the confusion, I meant "text field with a start adornment and NOT shrunk label" :/

[2019-04-23 16:02] wellyal commented on #15447
@oliviertassinari I'm not sure if I got this right can you edit my sandbox and show how you do the trick?

[2019-04-23 16:04] eps1lon commented on #15440
@oliviertassinari The code does not include `makeStyles` usage though. Since we never got any reports for `makeStyles` calls during render and the proposed warning [is slow](https://twitter.com/dan_abramov/status/1103959892640088065) I don't think we need it (yet).

[2019-04-23 16:06] petervavro opened #15461 "How to get the current height of Grid Component?"
By using : "ref={console.log}" it returns WithStyles object. How to get the current height out of it please ?

I also tried "RootRef Component" the way described here : [https://material-ui.com/api/root-ref/ ](https://material-ui.com/api/root-ref/ )but I am receiving value "this.domRef.current" in componentDidUpdate() instead. As far as I understand well, in my case I am trying to get the height o

[2019-04-23 16:08] eps1lon commented on #15346
Since render is pure re-render should not cause any issues. This is only an issue for the demos since we call impure Math.random if I remember correctly. Will look into fixing this.

[2019-04-23 16:35] oliviertassinari commented on #15346
I think that the main problem is about the DX for the developers. I don't that think the Modal moving is a concern.

[2019-04-23 16:38] oliviertassinari commented on #15346
@joshwooding Could you confirm or infirm the pain point?

[2019-04-23 16:47] eps1lon commented on #15346
This is an issue with debugging practices. Virtually no demo or component is memoized so I don't understand why this is only an issue here?

[2019-04-23 16:49] #15461 closed

[2019-04-23 16:49] eps1lon commented on #15461
For `@material-ui/core@^4.0.0` the ref will point to a DOM node.

[2019-04-23 16:52] oliviertassinari commented on #15346
The console.log is the equivalent of using the finger when doing the dishes. You can't always trust a sponge to do the job. What do we gain by not using React.memo on the demo component? For me, it has nothing to do with this specific demo. I think that we should wait @joshwooding feedback. I have found ways around the problem, I'm more interested in improving our long tail of contributors experie

[2019-04-23 17:13] eps1lon commented on #15346
Exposing bugs such as this one.

[2019-04-23 17:38] TroySchmidt commented on #15455
[code]
For instance, before this typing change in .7 it was picking up that theme was `Theme` and Intellisense properly etc.  Now I have to strongly type it myself since it is `unknown`.

[2019-04-23 17:40] TroySchmidt opened #15464 "v4 ExpansionPanelDetails not re-rendering children"
In alpha.8, the ExpansionPanelDetails is not re-rendering the children.  When you go to collapse the panel you can notice it briefly re-render the children before it collapses completely.  When you expand it the content is then properly re-rendered.

[2019-04-23 17:45] oliviertassinari commented on #15464
@TroySchmidt could you follow the issue template. I don't understand. How is this a problem?

[2019-04-23 17:47] oliviertassinari commented on #15455
@TroySchmidt Could you provide a full reduction example?

[2019-04-23 17:47] #15464 closed

[2019-04-23 17:48] TroySchmidt commented on #15464
Delete this.

[2019-04-23 17:57] TroySchmidt commented on #15455
I am not sure what more is needed.  I added the import statement above.  The TypeScript issue is that `makeStyles` is typed as `Theme: unknown` so unknown cannot have any of the properties that theme actually has on it.  I suspect this is likely due to Theme being in another package completely from the `@material-ui/styles` package.  But in v4.alpha.7 `theme` would have been typed and had the prop

[2019-04-23 18:32] oliviertassinari commented on #15455
@TroySchmidt Thank you for the extra details. Next time, following our issue template would be better. Your problem was already raised in #15400. @eps1lon answered it.

[2019-04-23 18:32] #15455 closed

[2019-04-23 18:54] oliviertassinari commented on #15447
@wellyal Oh no, my bad. I have overlooked the topic, the fix is simple:
[code]

If you want to keep using the same level of abstraction:
[code]

[2019-04-23 18:54] #15447 closed

[2019-04-23 18:56] oliviertassinari commented on #15440
@eps1lon Ok, we can wait for more bug report. I like that.

[2019-04-23 18:58] joshwooding commented on #15346
So, the Modal moving was a visual and @eps1lon's fix fixes it. I have experienced what @oliviertassinari is describing. It's difficult to debug the docs when a mouse over, triggers the source code popup/colour change and re-renders the demo which then triggers my breakpoints.

[2019-04-23 20:08] eps1lon commented on #15346
Re-opening this. I agree that the demos should be as isolated as possible. At least to the point that they only re-render on high priority updates. Mouse move isn't one of them.

[2019-04-23 20:41] oliviertassinari commented on #5750
@theKashey Thanks for sharing! So, the solution is to listen for the touch move event in the capturing phase and use a scroll detection logic close to what I do in [react-swipeable-views](https://github.com/oliviertassinari/react-swipeable-views/blob/7666de1dba253b896911adf2790ce51467670856/packages/react-swipeable-views/src/SwipeableViews.js#L129) to determine the correct course of action. Speaki

[2019-04-23 20:50] mbrookes commented on #15324
Yup, we were discussing this API change in the context of v5 per your original API proposal: https://github.com/mui-org/material-ui/issues/15324#issuecomment-485245638

Looks bang-on to me.

[2019-04-23 22:34] zhaoyi0113 commented on #15452
That means material-ui `SvgIcon` doesn't support load svg from external files?

[2019-04-23 22:51] oliviertassinari commented on #15437
@Vigrond What do you think of this change?
[code]

Does it work for you?

[2019-04-23 22:53] oliviertassinari commented on #15452
What do you mean by loading an SVG from an external file?

[2019-04-23 22:57] zhaoyi0113 commented on #15452
for example, I have many svg files located on my disk at `../public/svg/...`, I usually load them from local path. Just like `<img src='../public/svg/...'>`.  But with `SvgIcon`, I have to copy the file content and paste them inside `SvgIcon`, is my understanding correct?

[2019-04-23 22:58] Vigrond commented on #15437
That looks pretty good.  I have not tried/tested it locally.  Due to work pressures I ended up going with an alternate solution where I apply `className`s manually to the root `Step` component using the state, allowing me to apply a css style using the hierarchy.  (`.step.completed .stepIcon.active` - for example)

[2019-04-23 23:07] oliviertassinari commented on #15437
@Vigrond I have noticed that you are providing global values to the classes API. Could I ask your feedback on #15140? :)

[2019-04-23 23:12] theKashey commented on #15450
It's more about technical constraints - old behaviour is only possible if the modal is the last element on the page. That's usually just (was) not possible.

Let's imagine you will use something non-MUI based. Anyway - that's easy to fix - just add "react" `onFocus` handled to a top node, and listen to events React will send to you. Once you have an event with a target not _seen_ via react handler

[2019-04-23 23:20] oliviertassinari commented on #15452
@zhaoyi0113 Correct, you can't swap an `img` component for an `svg` one.

[2019-04-23 23:21] zhaoyi0113 commented on #15452
Can I swap `SvgIcon` on an svg file?

[2019-04-24 00:12] Vigrond commented on #15437
@oliviertassinari I am actually using cssModules in my project (I found it to be a cleaner solution and enjoy separating css and js).  I used global css values for the sake of the example.  I am afraid I cannot offer much feedback.

[2019-04-24 00:40] skirunman opened #15470 "[Radio][Checkbox] wrong color when disabled"
- [x] This is not a v0.x issue.
- [x] I have searched the [issues](https://github.com/mui-org/material-ui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔
When you apply the `disabled` prop on a Checkbox or Radio select and the icon is not actually selected then the color of the checkbox or radio icon should be set to color  [theme.palette.action.disable

[2019-04-24 06:13] theRealEmu commented on #13264
Hi, I've had this issue too. It occured whenever I changed the label of the Textfield dymically at runtime (I needed to switch languages).
I would write the new label to state, and even though the Textfield showed the new label, it didn't update the outline. However it updated the outline once a rerender was triggered anywhere else.

So in my case I had a function to merge my new labels into curre