[2016-12-13 11:51] Jbarget opened #5773 "Multi-line floating label text on mobile"
### Problem description
I have a TextField with a floating label text of 40 characters. All is fine on desktop view when the floating label text is one line however on mobile the container shrinks and forces the floating label text onto a 2nd line.
At this point it overlaps with value of the TextField.

![screen shot 2016-12-13 at 11 17 14](https://cloud.githubusercontent.com/assets/11725595/21139

[2016-12-13 11:59] drojas commented on #1328
Hi @ORESoftware I've been using props like these:
<img width="599" alt="screen shot 2016-12-13 at 8 48 26 am" src="https://cloud.githubusercontent.com/assets/1720752/21139391/6686fc60-c111-11e6-9d6a-757045234dc9.png">
By doing this, when the `defaultValue` changes my react node will have a different `key` prop and therefore a new component will be mounted to replace the previous one. It can lead t

[2016-12-13 13:51] #5773 closed

[2016-12-13 14:08] noliiva commented on #4050
I have the same problem with 'e', allowed by input[type=number].
If the user enter a value which begin with 'e', the floating label will not float (a number starting by 'e' is not allowed by the [w3c spec](https://www.w3.org/TR/2012/WD-html-markup-20121025/datatypes.html#common.data.float-def), but is a problem for usability IMO)

![image](https://cloud.githubusercontent.com/assets/17276775/211429

[2016-12-13 14:22] umidbekkarimov commented on #5625
I tried to add support for exports - but lack of documentation killed all my enthusiasm.

Thank you! My current project married to `material-ui` (over 160 components use it). So I did it for my team basically 😎

Thanks for remind, totally forgot to add test case for it 😅

___

BTW! Just released [v0.3.0](https://github.com/umidbekkarimov/babel-plugin-material-ui/releases/tag/0.3.0) with `material-

[2016-12-13 14:55] gkrinc commented on #4459
RefreshIcon is my component, but the style on the icon being supplied to FlatButton is being overridden by the FlatButton code...it wasn't preserving the style that I supplied. I wanted to float the icon to the right side of the button rather than to the immediate right of the button text. It would be nice if FlatButton preserved the style on the icon component being passed in.

[2016-12-13 15:37] mbrookes commented on #4050
e2 isn't a valid number, but I think a more generalized issue is that the floating label should float for all inputs, valid or not.

[2016-12-13 15:40] noliiva commented on #4050
Yes, that was what I would mean. ^^'

[2016-12-13 17:59] mbrookes commented on #4050
Please go ahead and open a new issue using the issue template, and feel free to dig into the code if you're feeling adventurous!

[2016-12-13 19:15] teckore opened #5775 "[Dialog] Unable to target between contentStyle & bodyStyle"
Hi all,
I am having a really hard time trying to target the `Dialog` component where I can change the border-radius to something more than the default 2px. I have tried `bodyStyle` `contentStyle` and `style` properties in the `Dialog` component and I am unable to change the `border-radius` successfully.

Upon inspecting the element, there is a div that is going in between the `bodyStyle` and `cont

[2016-12-13 22:11] mccraveiro commented on #5775
@teckore You could set contentStyle overflow:
[code]
Here is an example: http://www.webpackbin.com/EJWg68KXz

[2016-12-13 22:35] brwr commented on #5740
Closing since the related PR was merged by @oliviertassinari.

[2016-12-13 22:35] #5740 closed

[2016-12-13 22:42] brwr opened #5777 "[Tab] Implement onClick"
### Description

Currently `<Tabs />` accepts on `onChange` prop that is called when the active tab is changed.

To my knowledge (someone please tell me if I got this wrong!), there is no way to handle the case of performing an action when the user clicks on the currently active tab.

I can't find any mention to how this should behave in [Tabs - Components - Material design guidelines](https://mat

[2016-12-13 23:04] mccraveiro commented on #5777
@brwr Can't you use the onActive property? Check the first example [here](http://www.material-ui.com/#/components/tabs)
If this is not the case, could you explain it in more detail? An example might help.

[2016-12-13 23:21] mbrookes commented on #5740
Hi @brwr - GitHub can do that [automatically](http://tr.im/vFqem), as mentioned in the PR template.

[2016-12-13 23:38] brwr commented on #5777
@mccraveiro Right you are! Thanks :)

[2016-12-13 23:38] #5777 closed

[2016-12-13 23:40] brwr commented on #5740
Good to know! I'll keep that in mind for next time.

[2016-12-14 00:26] teckore commented on #5775
@mccraveiro Hey thanks for the tip! That did what I needed it to to. I'm sure this is only a temporary fix, but it'll work for now. Thanks again!

[2016-12-14 01:29] Razzwan commented on #5709
I realized my mistake. I was guided by the class name with mappings for properties, and the class name when minification changes to the shortest. Therefore, the property is simply not applied.

[2016-12-14 03:21] bleuscyther commented on #5762
hum, its working now, maybe it had to do with the time?

[2016-12-14 03:24] bleuscyther commented on #5762
UTC -05:00

[2016-12-14 05:52] IAIAE opened #5782 "[List] primaryTogglesNestedList caused, cannot trigger onChange of SelectableList when clicked"
### Problem description
if one ListItem with `primaryTogglesNestedList=true` but no `nestedItems`, this situation will cause all ListItem cannot trigger onChange of SelectableList.
[code]
the `onChange` in SelectableList will never trigger when click the ListItem.  if i get rid of the ` primaryTogglesNestedList={true}`  in first ListItem, it works well.

### Versions

- Material-UI: 0.16.5
- React

[2016-12-14 09:04] NantawatS commented on #3923
Any update on this?

[2016-12-14 09:16] nguyenbathanh opened #5783 "[Drawer] Container slides"
Is it possible to make container slide with Drawer and App Bar like this using material-ui?

![ko](https://cloud.githubusercontent.com/assets/4046112/21176146/149f7226-c218-11e6-99d0-150bdb90d044.gif)

[2016-12-14 09:31] noliiva commented on #4050
Ok, I add it to my todo. :)

[2016-12-14 09:40] soolmaz commented on #5485
how to get Gregorian dates from jalali date-picker  in material-ui?

[2016-12-14 12:15] FranBran opened #5784 "[StepLabel] custom style for states"
I would like to be able to set custom styles for StepLabel's states (active, completed, disabled).

By now, StepLabel's active style only sets font-weight to 500, but the font-familiy I'm using doesn't support this.

[2016-12-14 13:56] FranBran opened #5786 "[Stepper] switch between vertical and horizontal layout"
In order to use the stepper in a responsive way, it's necessary to seamlessly switch between vertical and horizontal stepper (e.g. someone switches from landscape to portrait-mode), without having to rebuild the component (and losing the step's states therefor).

So what I have is a vertical stepper:

![grafik](https://cloud.githubusercontent.com/assets/1215407/21184668/c7d16c4c-c20d-11e6-9f1a-07e

[2016-12-14 15:42] vvo commented on #5625
If one of you does that plugin @neoziro I am all in to add some code to it. We are gonna need it also in [React InstantSearch](https://community.algolia.com/instantsearch.js/react/).

[2016-12-14 16:30] Pczek opened #5787 "[ListItem] Add new Property rightCheckbox"
Currently there is no Property to add a checkbox to a list item on the right. Using rightToggle has wrong padding. There is already an option for the leftCheckbox, so rightCheckbox should be available as well.

rightIconButton prop can not be abused to achieve this.

![Checkbox Right](https://material-design.storage.googleapis.com/publish/material_v_9/0Bx4BSt6jniD7YUQ5TEFVT3ZJQjg/components_listco

[2016-12-14 16:56] williamle8300 opened #5788 "Anything equivalent to the Search Box?"
This is just a general question. Is there anything in the works for the Search Box?

![Image](https://material-design.storage.googleapis.com/publish/material_v_9/0B6Okdz75tqQsYlJtNjM4Y0QydDA/patterns_search_persistent1.png)

[2016-12-14 16:57] williamle8300 commented on #5788
Holy Schnikes. That image is big. I am sorry.

[2016-12-14 17:14] wartertall commented on #5646
I have same issue, I use react-tap-event-plugin version 2.0.1, react 15.4.0, even try with react 15.4.1 but no luck. Warning "Unknown prop `onTouchTap`" show and all click events don't work.
Ps: I have call injectTapEventPlugin at begining of app.

[2016-12-14 18:03] danieljoonlee opened #5789 "[IconMenu] Suggestion: onRequestChange"
Would you guys be open to a PR to make `onRequestChange` work without needing to supply the `prop` `open` to the component?  Since `open` is also in the components state.  This might apply to other menus as well.  Thanks for the great library

[2016-12-14 18:48] vans163 commented on #5646
Same issue but with react-tap-event-plugin version 2.0.1 and react 15.3.2.

[2016-12-14 19:27] ralphsmith80 commented on #1404
Based on @TonyFrancis response the href doesn't fully satisfy the need. If you're using react router which is likely where the `Link` component is coming from then you get some benefits like being able to specify a `basename`.

For example if you have `<Router basename='/my-app'>` wrapping your app then
[code]
would link to `my-app/a` without the need to carry that `basename` around everywhere.

[2016-12-14 23:56] blackdynamo commented on #3622
I am also having this issue. I can add `static muiName = "Tab"` or `CustomTab.muiName = "Tab"` which gets rid of the warning, but the tab still doesn't render as expected.

My use case is I want to encapsulate my tab logic/template into its own component. Like everyone else in this issue, all I do is return a muiTab that has all the content and logic. Not sure why this is a problem.

Any idea on a

[2016-12-15 00:39] blackdynamo commented on #3622
Currently this is the only way I can achieve what I want. It's not ideal, but I guess it will have to do. Why is this important? It allows for reusable tabs in different tab groups. I may have 3 different pages that have tab groups, all 3 use custom tab 1 and 2 use custom tab 2.

[code]

[2016-12-15 01:11] gabrielmdeal opened #5790 "[Menu] How to tell which MenuItem is focused"
### Description

I need to change focus to another element if the user presses the up-arrow when a `Menu` element's focus is on the first `MenuItem`.  There is no a way to do this currently, right?

I would like to submit a PR to implement this, but I would like to get your thoughts on my high-level approach before I do any more coding.

My idea is to add a new property named `onFocusIndexChange`

[2016-12-15 04:39] wartertall commented on #5646
It work for now.
I don't know where make error. I use react-boilerplate.
But when I disable DLL Plugin, onTouchTap work and no warning message come.

[2016-12-15 05:37] awatson1978 commented on #5304
At first, I was a bit confused by this also, but the more I started using it, the more I became convinced that it's implemented correctly as is.  My vote is to close the issue without change.

That being said, what the AppBar title really needs is an `id` or `className`, so acceptance test frameworks can programmatically click on the title.

[code]

This is the only open issue addressing `AppBar.t

[2016-12-15 06:41] hackingbeauty commented on #4851
I'm getting:

[code]

[2016-12-15 10:37] Pczek opened #5791 "[ListItem] Missing Hover With leftCheckbox"
### Images & references
http://www.material-ui.com/#/components/list

### Problem description
ListItems which have a checkbox using the rightCheckbox Prop do not have the hover effect like the rest of the ListItems.

### Versions

- Material-UI: 16.1
- React:
- Browser:

[2016-12-15 10:42] medz opened #5792 "Custom List component padding style failure"
Custom List component padding style failure
[code]
failure.

[2016-12-15 11:22] ericvrp commented on #5590
We worked around this bug by changing the `<div>` at the beginning of this issue into `<span className='LastChildDisplayNone'>` and adding the following CSS.

[2016-12-15 11:37] haraldronge commented on #5590
Though you'd have to watch your Code onze this bug is officially solved, otherwise your last child disappears from your UI.

[2016-12-15 13:11] OliverJAsh opened #5793 "[Dialog] position not updated when changing contents"
v0.15.4

Steps to reproduce:
1. create a dialog with arbitrary children
2. hide/show the children

Expected: the dialog should reposition

Actual: the dialog does not reposition.

In my case, the children are being shown/hidden outside of the React renderer (stateful DOM).

[2016-12-15 13:46] lucasbento commented on #5793
@OliverJAsh: can you please provide a running code to reproduce your issue?

[2016-12-15 14:21] stunaz commented on #5793
had the same issue, no luck with `repositionOnUpdate` as the content doesnt really change. would be great if we can trigger this manually.

[2016-12-15 14:58] nathanmarks commented on #5590
@fzaninotto @kkomaz Sorry for the slow response guys.

A lot of effort right now is being put into the next major version which has much better test and regression test coverage -- concerns in this area (regressions, consistency, etc) are major reasons for the upcoming major version.

That being said, this is definitely important for the current version. If you submit a PR, i'll 👍 it so it goes in

[2016-12-15 14:58] OliverJAsh commented on #5793
Or the dialog could just use CSS to position itself in the centre, instead of JS. Flexbox would enable this

[2016-12-15 15:12] ericvrp commented on #5590
My workaround is a hack that should not go into a PR.

[2016-12-15 15:19] lucasbento commented on #5792
Not sure I get what you mean, `padding` is working fine, if you want to add `padding` to the items instead of their container, try passing to `<ListItem />` instead.

[2016-12-15 15:19] #5792 closed

[2016-12-15 15:27] #5626 closed

[2016-12-15 17:42] lucasbento commented on #5790
cc @oliviertassinari, @nathanmarks.

[2016-12-15 18:10] lucasbento commented on #5789
Hey @danieljoonlee, I guess it could work that way since we only use the `open` prop to identify if the component is opened or not when it initialises.

Although, I would like to know the case that makes you need to use `onRequestChange` but can't supply the `open` prop, is there an issues behind it or you are looking into improving the code?

By the way, we are strongly focusing on the [`next` re

[2016-12-15 18:20] lucasbento commented on #5788
Do you mean with the icons or the purpose of searching?

We have http://www.material-ui.com/#/components/auto-complete that can be used for search, no input with icons yet but should be trivial to do with CSS.

[2016-12-15 18:20] #5788 closed

[2016-12-15 18:42] williamle8300 commented on #5788
I'm mainly look for that same styling. The box, box-shadow, placeholder.

I could probably roll my own, but kinda feel like this search box is a fundamental element of Material Design and should be included in material-ui. Either way, thanks for the reply and all the work on this project. I simply love all of the architecture and design decisions!

[2016-12-15 18:43] lucasbento commented on #5709
Alright, thanks for answering back, @Razzwan!

[2016-12-15 18:43] #5709 closed

[2016-12-15 18:44] bteepell commented on #4671
style set to overflow: 'visible' works for me on all browsers but in IE 11 and IE only the very first row the Tooltip does not overflow.

[2016-12-15 18:46] lucasbento commented on #5788
Thank you, @williamle8300!

We are currently working on a [new major version](https://github.com/callemall/material-ui/blob/master/ROADMAP.md#next-expected-in-the-next-couple-months) and limiting work to only bug fixes on the current one, try opening a PR to the `next` branch if you ever work this search field, we would be glad to review it.

[2016-12-15 18:49] ankitduseja commented on #5208
This issue should be re-opened.

[2016-12-15 19:02] lucasbento commented on #5208
@minas1, @ankitduseja: can you please provide a running code snippet to reproduce the issues that you are facing?

[2016-12-15 19:10] lucasbento commented on #5723
@rsolomon: it's probably the `^` (caret) on your Material-UI dependency in `package.json`, `npm` treats that as a _update to most recent major version_, so if you have a package with `^1.2.3` and it releases a `1.2.4`, [npm will automatically install it](http://stackoverflow.com/a/22345808/4252781).

[2016-12-15 19:17] ankitduseja commented on #5208
@lucasbento I'm using react-boilerplate latest build from here: https://github.com/mxstbr/react-boilerplate/

App.js
[code]
and
[code]

In console I get this error:
[code]

[2016-12-15 19:34] minas1 commented on #5208
Ah sorry, I have found the issue some time ago forgot to answer here.

It seems that for some reason I was including React and ReactDOM in index.html (from node_modules) but also had it in package.json as a dependency.
[code]
I removed the two lines above from index.html and also these lines from my webpack configuration file:
[code]

[2016-12-15 19:36] lucasbento commented on #5208
@ankitduseja: please try adding the `injectTapEventPlugin()` outside of the component or before `super()` call.

[2016-12-15 19:51] williamle8300 commented on #5788
Ah, ok wise choice. Rooting for you guys until you get to 1.0.

[2016-12-15 20:18] oliviertassinari commented on #5590
Sorry for the late answer, I don't receive any notification from issues. The signal vs noise is too high for what I can handle. I focus on PRs. Feel free to ping me directly next time 👍 .

I can't remember the motivation behind that fix. Please, feel free to submit a PR adding that style back 👍 .

[2016-12-16 01:20] medz commented on #5792
Thanks

[2016-12-16 03:45] nguyenbathanh commented on #4752
Any news?

[2016-12-16 04:47] nguyenbathanh commented on #5783
I figured out a trick to do this, see my example and code below:
![bgggg](https://cloud.githubusercontent.com/assets/4046112/21251947/54835dd0-c385-11e6-8e7b-7b385085a450.gif)

[code]

and the css style:
[code]

[2016-12-16 04:48] nguyenbathanh commented on #4752
I figured out a trick to do this, see my example and code below:
![bgggg](https://cloud.githubusercontent.com/assets/4046112/21251947/54835dd0-c385-11e6-8e7b-7b385085a450.gif)

[code]

and the css style:
[code]

[2016-12-16 06:50] dreday966 commented on #4875
same issue too!!

[2016-12-16 12:47] bartvde opened #5799 "[ListItem] secondaryText of 0 does not show up"
I guess it needs to check for ```if (secondaryText !== undefined)``` instead of a truthy check ```if (secondaryText)``` like it does now in the code.

![screen shot 2016-12-16 at 13 45 48](https://cloud.githubusercontent.com/assets/319678/21263258/11449db6-c396-11e6-98d3-a372b962b26f.png)

[2016-12-16 18:25] danieljoonlee commented on #5789
@lucasbento thanks for the reply.

It was mainly dealing with the `onRequestChange`, and not knowing it wasn't working because someone didn't supply `open props` to the `IconMenu` component.  Was hoping it would be more clear to users in the future unless it was noted in the documentation.  Seemed like a low hanging `enhancement` that would allow an easier usage.

Also, I'd be happy to contribute,

[2016-12-16 18:36] nguyenbathanh opened #5800 "[DatePicker] Select multiple dates option?"
Is it possible to select multiple dates with DatePicker component? Something like this:

![l](https://cloud.githubusercontent.com/assets/4046112/21274126/798356c6-c37b-11e6-94c9-223b9b7c1e97.gif)

[2016-12-16 18:43] lucasbento commented on #5789
@danieljoonlee: yeah, you can check out our [contributing page](https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md) and [roadmap](https://github.com/callemall/material-ui/blob/master/ROADMAP.md).

We would definitely like some help on `next` release.

Thanks for your interest, by the way!

[2016-12-16 18:51] #5590 closed

[2016-12-16 20:57] lilasquared commented on #4747
@oliviertassinari I was wondering if it would be possible to have the stroke-linecap be configurable as well for the Circular Progress?  One use case is that If you set the thickness to 1/2 the size and then set the linecap to 'butt' you get a really nice looking pie slice rather than a hoop.  Any thoughts on that?

[2016-12-17 00:35] nareshbhatia commented on #5662
I see that the `<Table>` component is composed of `<TableHeader>`, `<TableBody>` and `<TableFooter>`. The height property of `<Table>` actually controls the height of the `<TableBody>`, not the entire table. I can see following ways of allowing the table to fill its container:

1. Change `<Table>` component to use Flexbox with `flex-direction: column` and `<TableBody>` to use `flex: 1`.
2. Change

[2016-12-17 03:12] JustinBeckwith commented on #2608
I just got bit by this as well.

[2016-12-17 04:42] JustinBeckwith commented on #3995
I'm running into this as well.

[2016-12-17 05:20] Faolain commented on #2932
The issue with using a Textfield nested with ListItem is that... unless I am missing something, it becomes impossible to tab to the next Textfield in your form.

For this reason alone it is preferable to have a standalone <TextFieldIcon /> as suggested by @oliviertassinari or simply an additional prop that can be set on <TextField />, although the latter seems to be discouraged by #4027. Has anyon

[2016-12-18 06:28] liu0fanyi opened #5802 "I try to use material-ui/docs/../Master.js, but get this:Failed prop type: The prop 'width' is marked as required in 'Master'"
I'm new in react & material-ui
and I can't find width in react-router...

I'm not sure where I can get this prop...

[2016-12-18 10:20] oliviertassinari commented on #262
#5796 was just merged on the `next` branch. Users can now run the following command to get an UMD version of Material-UI. Thanks everybody for your help.
[code]

[2016-12-18 10:20] #262 closed

[2016-12-18 10:23] oliviertassinari commented on #5802
The `width` property is coming from the `withWidth` Higher order Component: [this line](https://github.com/callemall/material-ui/blob/7481f1e067446e5c4ed5d85f37a549d938513830/docs/src/app/components/Master.js#L234).

[2016-12-18 10:24] #5802 closed

[2016-12-18 10:26] oliviertassinari commented on #5799
I can't see the issue from your example.
Could you provide a reproduction test case? That would help a lot 👷 .
It could be a code sample or a live example. You can use this playground to do so: http://www.webpackbin.com/Vy6jAlXbG. Thanks!

[2016-12-18 11:14] catamphetamine opened #5803 "[Slider] focus animation bug"
http://www.material-ui.com/#/components/slider
When moving a slider its "breathing" animation has a bug: sometimes it works, sometimes it doesn't (grab, move, release, grab, move, release)

[2016-12-18 14:57] oliviertassinari commented on #5803
Looks like an issue with the focus handling. I can reproduce it on mobile.
What environnement are you using?

[2016-12-18 15:08] oliviertassinari commented on #5739
That's a pretty cool project you have here 😃. Feel free to submit a PR to add in our showcase section.
I''m not 100% sure about what you are refering to with `scroll` / `overflow` but I don't think that we have that behavior.
Could it be a duplicate of https://github.com/callemall/material-ui/issues/1148?

[2016-12-18 16:25] halt-hammerzeit commented on #5803
I'm on Chrome

[2016-12-18 17:20] miclaus commented on #3096
@mbrookes #5804 should care for `TextField`

[2016-12-18 20:26] jbhatab commented on #4181
@nathanmarks whats the status on this? I tried pulling from master but it didn't quite fix it. I just have a really form heavy app.

[2016-12-18 21:23] oliviertassinari commented on #5568
I agree, I think that we should support that use case 👍 .

[2016-12-18 21:34] oliviertassinari commented on #5257
I have created a reproduction test case to illustrate https://jsfiddle.net/69z2wepo/65368/.
On the `next` branch, you should be able to provide a `onError` callback property.

[2016-12-18 21:39] oliviertassinari commented on #5744
@mccraveiro Thanks for the feedback. I'm closing that issue!

[2016-12-18 21:39] #5744 closed

[2016-12-18 21:46] oliviertassinari commented on #5691
That's the default behavior of React when reconciling the virtual dom with the dom.
We have to explicitly reset the scroll position.

[2016-12-18 21:54] oliviertassinari commented on #5484
I can't find a `setData` reference in our source code. I'm closing that issue.
Feel free to reopen it if you have a reproduction test case.

[2016-12-18 21:54] #5484 closed

[2016-12-18 21:58] oliviertassinari commented on #5560
@5angel Any update on that issue?

[2016-12-18 22:10] oliviertassinari commented on #4761
That issue should have been fixed by #4675 and #4603. Thanks for the help.

[2016-12-18 22:10] #4761 closed

[2016-12-18 22:15] oliviertassinari commented on #4597
I'm gonna assume @alitaheri fix is correct and close that issue. Thanks.

[2016-12-18 22:15] #4597 closed

[2016-12-18 22:24] oliviertassinari commented on #4689
I'm closing that issue as I believe the docs should answer that question.

[2016-12-18 22:24] #4689 closed

[2016-12-18 22:27] oliviertassinari commented on #5279
I'm wondering. Is 2d2b3292 solving that issue?

[2016-12-18 22:58] oliviertassinari commented on #5738
**Thanks** for answering that Reddit thread. Hopefully, it's gonna help others!

I agree, we are most likely **losing users** at that step. Regarding addressing it.
That something we could easily implement in the [withStyles()](https://github.com/callemall/material-ui/blob/next/src/styles/withStyles.js) Higher order Component.
However, that HoC is intended for users, our components aren't using it

[2016-12-18 23:15] 5angel commented on #5560
@oliviertassinari not yet, I'm still busy finishing the main project – the bug's there too, but it's not critical (as colors are applied correcly if app is initialized with the particular theme and not switched to it).

[2016-12-18 23:23] gzoeller89 commented on #5279
We stopped using snapshots due to issues with a bunch of libraries.  We
have been using an alternative solution.

Regards,
Greg

*The contents of this e-mail message and any attachments are confidential
and are intended solely for addressee. The information may also be legally
privileged. This transmission is sent in trust, for the sole purpose of
delivery to the intended recipient. If you have re

[2016-12-19 08:03] bartvde commented on #5799
I'm sorry for opening up the issue, it appears my code was passing integers not strings to secondaryText. It works fine when using strings. Again, sorry for the noise.

[2016-12-19 08:03] #5799 closed

[2016-12-19 08:06] bartvde commented on #5799
Just for reference, this is what I was running into: http://www.webpackbin.com/41CwMKgEG

[2016-12-19 08:12] oliviertassinari commented on #5799
Thanks for the link. If React doesn't compaine with the `propTypes` validation, that mean that we most likely should make it work. That could save other some time.
[code]

[2016-12-19 13:36] oliviertassinari commented on #5625
Actually, I'm wondering if we couldn't be using `babel-lodash-plugin` as done with recompose:
https://github.com/acdlite/recompose/commit/992d70ed15cd7e01e5ad4c15f587150cbef958b4.
At least, it would be great to document that usage for users. I'm reopening that issue.

[2016-12-19 13:40] umidbekkarimov commented on #5625
OG, this one is really interesting !!

[2016-12-19 19:25] yanickrochon commented on #4239
What's the resolve to this issue?

[2016-12-20 05:50] CarsonF commented on #5494
@djensen47 I needed something similar. Here's a [gist](https://gist.github.com/CarsonF/d6796ed6d5b7a94f40caac03d29a5994) of it. I tried to pull out all the business logic and removed typescript markup in the last 5 mins so it may need some tweaks.

[2016-12-20 08:54] ethan-deng commented on #5070
Okay this is called ghost click and documented here with solution.

https://github.com/zilverline/react-tap-event-plugin

Ignoring ghost clicks

When a tap happens, the browser sends a touchstart and touchend, and then 300ms later, a click event. This plugin ignores the click event if it has been immediately preceeded by a touch event (within 750ms of the last touch event).

Occasionally, there ma

[2016-12-20 12:30] vvo commented on #5625
@oliviertassinari Ohh interesting

[2016-12-20 15:22] theopolisme opened #5809 "[Dialog] Blurry content when opened"
### Problem description
When initially opened, the Dialog component's contents appear blurry. If a redraw is forced (e.g. by changing the width of the container, as demonstrated in the example video below), the contents become sharp as expected.

This is occurring on a Retina MacBook Pro running macOS 10.12 using Chrome.

### Link to minimally-working code that reproduces the issue
[Dialog in the

[2016-12-20 15:42] frooeyzanny commented on #5524
Seems that `calc()` in `stroke-dasharray` doesn't work in Safari and Firefox:
[CodePen example](http://codepen.io/anon/pen/woOogv?editors=0100).

[2016-12-20 17:04] lucasbento commented on #5809
Thanks for opening an issue and for making that video, but I'm not being able to see a difference in the video since it's on low-quality (not sure if it's a Dropbox thing).

The images that you provided only shows differences between the `font-weight` on the text content, is it the issue that you are referring to?

[2016-12-20 17:30] theopolisme commented on #5809
Argh, yeah, looks like Dropbox compresses the video in the web viewer. If you hit th download link in the upper right-hand corner then you should be able to download the original file and then play that way.

Right, it *looks* like `font-weight` is different, but it's actually the same in both screenshots (one is just pre-redraw and one is after). In addition to just appearing bolder the text is a

[2016-12-20 17:35] gabrielmdeal commented on #5790
I am also happy to implement this by adding a new `onArrowUpFromTopMenuItem` function property to `Menu` (hopefully with a better name than that).  My above proposal was an attempt to come up with a generic API that isn't limited to my use case.

[2016-12-20 20:31] oliviertassinari commented on #5746
Have you tried it out? I would be interested in the answer. I would expect some issue with the `master` branch solved with the `next` one.

[2016-12-20 22:48] StefanoDeVuono commented on #5498
+1

[2016-12-21 03:30] anton-aleksandrov commented on #4680
Why is this closed? The issue persists

[2016-12-21 04:18] satya-dash opened #5810 "Input element typing is very slow"
I have a huge application build in React+ES6+React-Router+Flux.As the application grows day by day its performance is getting degraded.Every input element is having a lag as you type something.So I don't know how to optimize it.My all elements are tightly bound to state variables.So on every change in text field it is updating the state variable and re-renders.I think that is the reason for which

[2016-12-21 08:17] jgoux opened #5811 "[TextField] Floating label doesn't reset when resetting the form node"
Hello,

### Problem description

When I reset a form with uncontrolled inputs in it, the values are cleared but the floating label doesn't reset inside the TextField.

### Link to minimally-working code that reproduces the issue

http://www.webpackbin.com/4kIJtmmNf

### Versions

- Material-UI: 0.16.5
- React: 15.4.1
- Browser: Chrome Version 55.0.2883.87 m (Win10)

[2016-12-21 09:25] oliviertassinari commented on #4680
@anton-aleksandrov Could you give use more detail? That's an old thread now.

[2016-12-21 09:28] oliviertassinari commented on #5790
Your earlier API proposal sounds good to me, we would normal focus on bug fixes for the `master` branch. If you write some tests for that new `onFocusIndexChange` property, that should be fine 👍.

[2016-12-21 09:35] oliviertassinari commented on #5810
Your issue is at the virtual DOM computation. Each update is triggering a major virtual DOM recomputation.
[code]
Your best option here is to avoid rerendering at the **root node**. You gonna needs a state management library to *connect* updates **lower** in the tree.

[2016-12-21 09:35] #5810 closed

[2016-12-21 09:50] DoubleU23 commented on #5437
because there are no new features accepted before next,
this is on hold until i have time to refactor it into @next

@anybody
feel free to take the changes from my 'Snackbar/position' branch and do it by yourself.

[2016-12-21 09:50] #5437 closed

[2016-12-21 11:08] claradaia commented on #5311
This solved my problems with requiring material components, but what does it do?

[2016-12-21 11:30] cia48621793 commented on #5311
@claradaia ES5 module import.

[2016-12-21 12:41] matijagaspar commented on #5498
+1

[2016-12-21 15:03] oliviertassinari commented on #3614
I have given a shot to that component. I would love to get some feedback #5808.

[2016-12-21 17:14] rachel-singh commented on #1897
I am using version 0.16.4 and still seeing this issue. I dynamically set the selected property to true before the table is rendered but the checkboxes do not get selected.
[code]
Any ideas? Thanks.

[2016-12-21 17:41] rachel-singh commented on #4738
Ah I have the same issue. As soon as I try to do something in the onRowSelected callback the row gets unselected. If I do nothing in the callback it all works fine.

[2016-12-21 18:07] Rhywden commented on #4738
Again: Isolate the table thus that the table state is not changed through the selection. I.e. you need to use something like Redux to notify other components of table changes.

[2016-12-21 18:25] schuchowsky commented on #2699
So the solution for being able to use a ref in the `TextField` is to use another library? :-1:

[2016-12-21 18:27] lucasbento commented on #2699
@schuchowsky: this issue is from December 30th, this is working since a long time ago, man.

[2016-12-21 18:41] schuchowsky commented on #2699
I'm trying to use a ref on a TextField, to attach an `onfocus` event on it. On `componentDidMount` the ref's value is null... Are you sure it is working?

[2016-12-21 18:46] lucasbento commented on #2699
@schuchowsky: yes, 2 apps running in production and using a few ref props here and there.

I strongly suggest using https://github.com/mbrookes/formsy-material-ui though, it's an awesome formsy-react wrapper to match Material UI style.

If you are indeed having an issue with `ref` on `<TextField />`, please open another issue following the [ISSUE_TEMPLATE](https://github.com/callemall/material-ui/

[2016-12-22 02:38] markau commented on #5809
How are you loading the Roboto font?  I found that trying to do that within React caused this issue. Now, my only reference to the font is in the html file i.e.

[2016-12-22 03:02] markau commented on #3392
While I am also keen for a proper solution, [this Stack Overflow solution](http://stackoverflow.com/questions/31151293/how-do-i-animate-card-height-in-material-ui-react/36144502#36144502) is working pretty well for me.

[2016-12-22 04:39] lemonlatte commented on #5270
I found that the backgroundColor will set to `null` once the hover is off. Is it a good idea to add a new backgroundColor property to control this behavior?

[src/List/ListItem.js#41](https://github.com/callemall/material-ui/blob/master/src/List/ListItem.js#L41)

[2016-12-22 05:36] jr69 commented on #3618
Sorry, im pretty new here. I'm glad that I am not the only one with this problem. I checked the material-ui version on the front page and its V.0.16.5 on npm. Is this already here, and if so, whats the function to use?

[2016-12-22 08:51] jagribble commented on #1956
@Sharlaan really useful!

[2016-12-22 11:24] alexscheelmeyer commented on #4698
I got it working by copying all the code from the SelectableList example in the docs and embed that in a drawer :
[code]

and :

[code]

and then in render :

[code]

[2016-12-22 13:12] PolGuixe commented on #4580
@caliber01 did you managed to make it?

[code]

Doesn't work for me

[2016-12-22 16:10] yanickrochon opened #5812 "DropDownMenu autoWidth not working"
### Description
I am using a DropDownMenu to select a unit of measure in an app I'm working on, and since the app is localized, I'm attempting to make the UI as dynamic as possible to accommodate various locales' word length, etc.

However, using `autoWidth` on the DropDownMenu component results in this UI

![selection_116](https://cloud.githubusercontent.com/assets/78461/21431659/2c956222-c836-11

[2016-12-22 17:26] wisie2210 commented on #718
i found a way to update the floating label when it was auto filled by the browser.
`setTimeout(function () {
                var autofilled = document.querySelectorAll('input#password:-webkit-autofill');
                if (autofilled) {
                    $("input[type=password]").parent().addClass("is-dirty");
                }
            }, 500);`
this should be inside your document ready at

[2016-12-22 17:39] PolGuixe commented on #4239
@ochicf and I we have come with a hack that omits this warning: https://github.com/callemall/material-ui/blob/master/src/utils/callOnce.js

#Use Case
We wanted to use `<Paper/>` as the `containerElement` for a `<GridTile/>`, it worked but we were getting the annoying warning.

#Hack
And I say hack and not solution, because this feels like a total hack:

[code]
What is the worst that can happen?

[2016-12-22 20:33] theopolisme commented on #5809
Hm, thanks for the idea... Right now our only reference to the font is in the html file as well, specifically:

[code]

So unfortunately doesn't seem like that would help. Curious though, did you experience the same bold-looking text as well, @markau? Might be a hint as to the source of the issue...

[2016-12-23 00:21] CASandmann commented on #5041
This actually seems like a pretty serious bug.  We're experiencing a similar problem in our tests.  We get very different results on capitalized vs. noncapitalized variable names.
[code]
When `connectedConfigSideNav` is lowercase, `output.type` is the string "connectedConfigSideNav".  If it's capitalized, `output.type` is a function!  How could these be so different?

[2016-12-23 07:38] cades opened #5813 "[RadioButton] iconStyle apply to both div AND SVG"
### Problem description

`RadioButton`'s `iconStyle` prop apply to both div AND SVG. In my case, given `marginTop: "70px"` push the radio button down **140px**. However, when you click it, you can see animation is at **70px** below top.

### Link to minimally-working code that reproduces the issue

http://www.webpackbin.com/NyWhP2SEG

### Versions

- Material-UI: 0.15.4
- React: 15.3.2
- Browser:

[2016-12-23 07:52] cades commented on #5813
I think the problem occurs because in RadioButton.js,

1. iconStyle is used to make [uncheckedStyles](https://github.com/callemall/material-ui/blob/master/src/RadioButton/RadioButton.js#L161) and [checkedStyles](https://github.com/callemall/material-ui/blob/master/src/RadioButton/RadioButton.js#L168), which is passed to [uncheckedElement](https://github.com/callemall/material-ui/blob/master/src/Ra

[2016-12-23 11:16] ErrorPro commented on #718
I'm using redux-form with react-ui. The solution for me is place <input type="password" /> after the needed input.

      <TextField
         {...password}
         type="password"
         placeholder={formatMessage(messages.loginPasswordPlaceholder)}
         disabled={submitting}
       />
       <Icon name="password" className={theme.icon}/>
       <input className={theme.hiddenInput} type="pa

[2016-12-23 13:11] johntran opened #5814 "[TextField] onTouchTap on label"
### Problem description

When calling "mount" on Enzyme on "TextField", this error occurs in Jest:

[code]

### Link to minimally-working code that reproduces the issue

[code]

### Versions

- Material-UI: 0.16.5
- React: 15.4.1
- Browser: N/A

[2016-12-23 15:17] dansiviter opened #5815 "[Drawer] Permit Clipped"
I'm unable to find an example of a clipped Drawer (see '[Example of a permanent, clipped drawer](https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-behavior)').

<img src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0Bx4BSt6jniD7Um9FdklJeGtQVWc/patterns_navdrawer_behavior_permanent3.png" width="25%">

Ideally this would also permit open

[2016-12-23 18:40] gabrielmdeal commented on #5790
I'll do that.  Thanks!

[2016-12-23 18:40] #5790 closed

[2016-12-23 18:47] mikepc opened #5817 "Icons are difficult to "Browse""
The documentation links to the material icons, but I find it very difficult to map between icons available on the material icons page, and the code in material-ui. A page that showed all of the available icons would be very very helpful when trying to browse them for the right icon.

[2016-12-23 18:49] #5817 closed

[2016-12-23 18:51] danep93 commented on #2490
Any progress with making a secondaryTextStyle? In my case I would like to change css properties like fontSize and bottomBorder

[2016-12-23 20:42] semy commented on #3923
Any answer for questions?

[2016-12-23 23:44] patrickml opened #5818 "[SelectField] Object as value fails equality check"
Working with the Select field which states that the value can be any kind does not work properly with objects. The onChange will produce the correct result, but trying to set value = to an object will fail when selecting the value.

Example
[code]

The issue seems to come from here https://github.com/callemall/material-ui/blob/master/src/DropDownMenu/DropDownMenu.js#L297 where just a normal equali

[2016-12-24 08:58] umidbekkarimov opened #5819 "[AutoCompelete] onClose calls twice and before onRequestNew"
1. Click to input - `onFocus`
2. Start typing - `onUpdateInput `
3. Selected option -
    * `onClose` from https://github.com/callemall/material-ui/blob/master/src/AutoComplete/AutoComplete.js#L349
    * `onClose` from https://github.com/callemall/material-ui/blob/master/src/AutoComplete/AutoComplete.js#L278
    * `onNewRequest `from https://github.com/callemall/material-ui/blob/master/src/AutoCom

[2016-12-24 09:23] umidbekkarimov commented on #5062
Just and idea:

Create package (e.g. `rx-material-ui`, `material-ui-rx`) for `material-ui@next` with "Smart" component for every "Composable" component using recompose + rxjs (as I did in #5819 workaround)

[2016-12-24 10:17] oliviertassinari commented on #5818
Why does that equality check fail on your end?

I don't think that we want to go into that direction. The simple equality check should be enough.
That's gonna increase complexity and reduce performance for a use case that feels odd.

[2016-12-25 08:09] zhaoyao91 opened #5820 "[ListItem] Cannot wrap IconButton into other component"
### Problem description

If I pass an instance of IconButton as the rightIconButton prop of ListItem, everything goes well
[code]

![image](https://cloud.githubusercontent.com/assets/3808838/21470263/7bd1c092-cabb-11e6-9839-508b5a9d69ec.png)

but if I wrap the IconButton into a component, say
[code]
then the style corrupts
![image](https://cloud.githubusercontent.com/assets/3808838/21470272/b69214

[2016-12-25 09:08] Tbutnyakov opened #5821 "Chip onRequestDelete triggered instantly"
Hello.
It looks like I found a bug related to the versions of packages
Take a look at the sample.

[code]

Function **handleRequestDelete** will run instantly, when component will mount.
I think it is related to version of **react-tap-event-plugin.**
Am i right?

In my package.json i have these packages:

[code]
Material-ui want use react-tap-event-plugin 1x.
But new version of react need eact-tap

[2016-12-25 10:06] Tbutnyakov commented on #5821
Oh...it is not a bug. It is my stupid:)

That string in a constructor
`this.handleRequestDelete = this.handleRequestDelete.bind(this);`
Initialize function.

If i will delete it and add changes to place where i call that function

[code]

Everything wil work fine.

It remains only to understand why the method is initialized in the constructor function in the immediate

[2016-12-25 14:57] davidtzoor opened #5823 "Tap"
### Problem description

### Link to minimally-working code that reproduces the issue

### Versions

- Material-UI:
- React:
- Browser:

[2016-12-25 17:06] Faolain commented on #204
@DaxChen I saw your stackoverflow updated answer for Dec 2016(Extremely Recent haha) and I was wondering if you knew if this worked for a MenuItem within a Drawer? I'm trying the following below and have been totally unable to get Link working with the MenuItem as containerElement seems to do nothing.
[code]

[2016-12-25 17:22] oliviertassinari commented on #5823
What is this issue about? Please provide more details. I'm closing it for now.

[2016-12-25 17:22] #5823 closed

[2016-12-25 17:25] davidtzoor commented on #5823
Oops 🙊 sorry for that, it was accidentally opened.

[2016-12-25 21:26] oliviertassinari commented on #3614
I first iteration have been merged with #5808. If you find anything that could be improve, fell free to  raise your voice / open a PR. Thanks.

[2016-12-25 21:26] #3614 closed

[2016-12-25 22:12] atlanteh commented on #5242
We need this too!

[2016-12-26 07:03] hishamkaram opened #5826 "Material-ui bundle"
I used webpack to produce material-ui bundle using this command  :
`webpack node_modules/material-ui/index.js  material-ui.js`
Then i included the bundle in html but i can not access component from a` jsx` file
Please how can i use this bundle from `jsx `file

[2016-12-26 09:56] danielmana commented on #5498
+1

[2016-12-26 13:21] sesm commented on #2175
The issue is clearly visible for version 16.6 on http://www.material-ui.com/#/components/table in "Complex example" section.

[2016-12-26 16:24] alancasagrande commented on #4430
I'm having a slightly different problem that might be related to this. The cursor jumps to the end in a `multiLine` `TextField` on line break, only when the input is controlled and within a Dialog.

Multi-line TextField within Dialog (cursor jumps to the end):
![out1](https://cloud.githubusercontent.com/assets/893649/21484231/620d5778-cb76-11e6-8411-2e539bffeaa8.gif)

Multi-line TextField (works f

[2016-12-26 18:14] oliviertassinari commented on #5826
Have a look at the [webpack](https://github.com/callemall/material-ui-webpack-example) example. It's a good starting point.

[2016-12-26 18:14] #5826 closed

[2016-12-27 01:43] dcworldwide commented on #1345
I have the same issue. Using 16.6.

1. Selected all using Select All cb
2. De-selected all as above
3. Last row still selected, even though the TableRow selected prop is definitely being set to false.

[2016-12-27 02:50] linonetwo commented on #5696
Use controlled component

[code]

[2016-12-27 02:51] linonetwo commented on #5726
Use moment:
[code]

[2016-12-27 03:55] nareshbhatia commented on #5726
I ended up doing something very similar - because I am interested in just the date (in ISO 8601 format):

    moment(date).format('YYYY-MM-DD');

[2016-12-27 06:47] lanjingling0510 opened #5828 "MenuItem component props of menuItems always disappear when mouse moves to the submenu."
### Description
### Images & references

![test](https://cloud.githubusercontent.com/assets/11639669/21492919/514c2612-cc43-11e6-8888-317d1c6fb814.gif)

### Problem description menuItems
MenuItem component  props of menuItems always disappear when mouse moves to the submenu.
I think it should be the width of the scroll bars of different browsers and offsetWidth attribute contains the width of the

[2016-12-27 07:38] hishamkaram commented on #5826
wow `webpack ` solved the problem @oliviertassinari

[2016-12-27 09:23] idangozlan opened #5830 "When using Subheader inside Menu, it's producing error on console"
For feature requests, please delete the template below and use this one instead:

### Description
When using `Subheader` component under `Menu`, it's producing the following error:
`Warning: Unknown props `desktop`, `focusState` on <div> tag. Remove these props from the element. For details, see...`

Code:
[code]

### Versions

- Material-UI: 0.16.6
- React: 15
- Browser: Chrome 54

[2016-12-27 09:34] williamle8300 commented on #5830
Not a m8r but I'm guessing it's because subheader isn't designed to work in Menu.

It really only works in List.

[2016-12-27 09:54] idangozlan commented on #5830
that's right. but it should work also on `Menu`

[2016-12-27 10:39] lucasbento commented on #5821
@Tbutnyakov: glad you figured that out.

I'm closing this issue for now. :)

[2016-12-27 10:39] #5821 closed

[2016-12-27 10:42] lucasbento commented on #5820
@zhaoyao91: can you please try passing down all the props to `RemoveTaskButton`?

Something like:

[code]

[2016-12-27 12:45] cesarho commented on #779
Is your implementation working? Is it going to be contributed to the material-ui core version?

[2016-12-27 13:17] pepjo opened #5832 "open prop in autocomplete doesn't work as expected"
### Problem description
The `open` prop on `AutoComplete` is copied from props to state when the component is mounted and that's it.

This means that, even though `open={true}` the menu will close `onBlur` or when the user presses `ESC`

Additionally, If I specify `open={true}` I would like the menu to be open, even if there is no text. In that case I would like to see all the options available.

[2016-12-27 16:37] Darmikon commented on #2003
Can anybody share an example with a proper way to style own widgets with the same styles which are used in material-ui. For example now I use 3-rd party autocomplete and I would like to make its appearence similar to material-ui input element with the same focus/blur behaviour. Thanks

[2016-12-27 16:48] Floriferous commented on #4532
Still not functioning as expected, should we open a new issue?

[2016-12-27 17:48] mbrookes commented on #3614
Awesome work @oliviertassinari!

[2016-12-27 18:27] oliviertassinari commented on #3614
Thanks, I have done a second iteration on that component for higher flexibility https://github.com/callemall/material-ui/pull/5827.

[2016-12-27 19:07] astanway commented on #4922
+1, issue remains despite https://github.com/callemall/material-ui/pull/4193

[2016-12-27 21:14] frooeyzanny commented on #5811
@jgoux, why did you `reset()` a form with no initial values?

– [W3C](https://www.w3.org/TR/html401/interact/forms.html#didx-form-1)

[2016-12-27 21:50] tracker1 commented on #5372
You could try using react-icons which uses SVG images instead of relying on an icon font...

See also #5256

[2016-12-27 21:51] rosskevin opened #5834 "[TextField/Input] focus/error underline are not bounded by the input element"
### Description
The current demo site doesn't have a layout that exemplifies the problem (tweaked code below).

<img width="1357" alt="fullscreen_12_27_16__3_46_pm" src="https://cloud.githubusercontent.com/assets/136564/21509128/e4971348-cc4b-11e6-80eb-f3af12c0f74e.png">

### Problem description
The focused/error underline width should match that of the unfocused underline.  You can see from the s

[2016-12-27 21:53] tracker1 commented on #5745
Should be able to use react-icons[1] with the svg morphing components...  I've suggested that the default icons be switched to react-icons instead of the font dependency in #5256

[1] https://github.com/gorangajic/react-icons

[2016-12-27 21:57] rosskevin commented on #5834
[The width on this stylesheet is causing the mismatch](https://github.com/callemall/material-ui/blob/next/src/Input/Input.js#L31):

[code]

[2016-12-27 21:58] rosskevin commented on #5834
As I see it, we could either:
a) grow the input
b) stop styling the input with a border and only use `&:after` for all states

[2016-12-27 23:39] HenrikBechmann opened #5839 "Vertical alignment breaks between 16.4 and 16.6"
span followed by DropDownMenu both inside a div:

<img width="190" alt="2016-12-27 01 26 50 am" src="https://cloud.githubusercontent.com/assets/4584381/21510590/47a01e8c-cc63-11e6-9bc3-4d91516be297.png">
<img width="218" alt="2016-12-27 01 26 26 am" src="https://cloud.githubusercontent.com/assets/4584381/21510604/6094a552-cc63-11e6-821b-d1d04568e51d.png">

### Versions

- Material-UI: 16.4 => 16.6

[2016-12-28 00:20] HenrikBechmann commented on #5839
I've hacked past it for now by giving the span two styles:

[code]

[2016-12-28 02:03] lanjingling0510 commented on #5828
Hi @lucasbento . I uploaded a demo on https://github.com/lanjingling0510/material-ui-issue. You can pull down to test. Thanks!

[2016-12-28 03:38] vasudevsykam commented on #5717
I had the same issue, any update on this?

[2016-12-28 07:00] jr69 commented on #5391
If you change the source code directly, you can edit the height. But I don't know how you can edit the style, so we'll have to wait for the next release. Also if you do this, it changes all of the tabs

[2016-12-28 12:01] peterjcaulfield commented on #4671
Thanks @bteepell! this is the only thing that worked for me in stopping the tooltip being hidden by it's parent container 👍

[2016-12-28 12:32] oliviertassinari commented on #5391
@jr69 You should be able to use the `style` property. The key is to target the right elements.

[2016-12-28 12:36] jr69 commented on #5391
@oliviertassinari Is this in the stable release or the upcoming one? Also I tried changing size in the style for the <Tab> element, but nothing happened. So my hacky work around by editing the source code works fine for me, albeit limited since I can't have more than one different styling of a tab

[2016-12-28 12:38] oliviertassinari commented on #5391
@jr69 That should be true with whatever version you are using. If you can't, that should be considered a bug.

[2016-12-28 12:40] oliviertassinari commented on #5839
I confirm, I'm wondering what happened. Any clue?

[2016-12-28 12:43] jr69 commented on #5391
@oliviertassinari Either I implemented it wrong, or its not working. If you go to http://www.material-ui.com/#/components/tabs and scroll down, every property with 'style' in it, I literally assigned all with an inline style of {{height: '16px'}}, and the text didn't change.

I looked the console, and noticed that the text in the tab itself was in a span, that was below the 'tab' div itself (that

[2016-12-28 13:08] treizelur opened #5840 "[Useragent] : "all" option"
Many component like "Slider" don't render properly if userAgent: "all" is active in the Theme configuration.
Because property "width" in Style configuration is an Object instead of a simple value.
-webkit-calc(..)
-moz-calc(..)
calc(..)

Ex : with application material-ui-webpack-example

[code]

[2016-12-28 13:16] lanjingling0510 commented on #5828
I modified the source code  before, it is estimated menuItem did not consider mouseenter situation.Forget it, thanks.

[2016-12-28 13:16] #5828 closed

[2016-12-28 13:29] maxkudla opened #5841 "FlatButton and RaisedButton with Cyrillic labels fire SyntaxError: Unexpected end of JSON input"
### Description
FlatButton and RaisedButton which have Cyrillic labels fire `SyntaxError: Unexpected end of JSON input`.
It's reproduced when you click directly on the label

### Link to minimally-working code that reproduces the issue
https://jsfiddle.net/vfad3u90/

### Versions

- Material-UI: 0.16.6
- React: 15.4.1
- Browser: Chrome 55.0.2883.95 (64-bit)

[2016-12-28 14:58] bmcdaniel11 commented on #5646
I was having the same issue using react 15.4.1 and react-tap-event-plugin 2.0.1. Reverted back to 15.3.2 and 1.0.0 and everything worked.

@vans163 react-tap-event-plugin version 2.0.1 states it will break anything react < 15.4.0, so I wouldn't expect that to work

[2016-12-28 15:06] HenrikBechmann commented on #5839
Sorry, no clue, just came out of 'nowhere'

[2016-12-28 19:49] #5192 closed

[2016-12-28 19:51] chemitaxis commented on #773
Hi guys, is this solved? I have tested, but I have this problem too... Thanks!
![screen shot 2016-12-28 at 20 51 02](https://cloud.githubusercontent.com/assets/1420409/21530209/634ee15e-cd3f-11e6-93e2-3e61f15888b3.png)

[2016-12-28 21:52] oliviertassinari commented on #5839
Looks like it was introduced by https://github.com/callemall/material-ui/pull/4755. I can't see an obvious fix. I'm wondering if we can't keep it like this.

[2016-12-28 22:06] HenrikBechmann commented on #5839
... looks like a trap.

re: leaving it like it is, note the idiosyncratic nature of the hack workaround above. Not really acceptable.

If there was some widget that could automatically vertically align elements, then maybe ok:

[code]

... but good luck with that! :-(

Maybe there's an elegant workaround pattern I'm not aware of. If so, that would be sort of ok, though requiring compensation for a

[2016-12-28 23:51] HenrikBechmann opened #5847 "[AutoComplete] with 16.6 and 16.5 autocomplete overflow scrolls down but not up"
### Problem description

Autocomplete dropdown overflow scrolls down but not up with v 16.6 and 16.5

That's a showstopper.

I've had to revert to v 16.4 to avoid the problem.

[code]

### Versions

- Material-UI: 16.6, 16.5, problem absent with 16.4
- React: 15.4
- Browser: Chrome (mac)

[2016-12-29 00:16] timothyallan commented on #4532
Just started running into this, do I really have to refactor everything for desktop + mobile Safari to use onTouchTap? Sigh.

[2016-12-29 01:44] liu0fanyi opened #5848 "get this : unknown prop `nestedLevel` on <div> tag"
the complete warning:

    in div (created by List)
    in List (created by AppNavDrawer)
    in div (created by List)
    in List (created by NestedList)
    in NestedList (created by ListItem)
    in div (created by ListItem)
    in ListItem (created by AppNavDrawer)
    in div (created by AppNavDrawer)
    in div (created by List)
    in List (created by _class)
    in _class (created by AppNav

[2016-12-29 11:09] VLNTNA commented on #5309
Hello, is there a solution for this in the meanwhile ?

[2016-12-29 11:51] tsaarikivi opened #5850 "Checkbox checked should be switched?"
### Problem description
Checkbox checked={condition} />
should be Checkbox switched={condition} /> ?

*Throws uncaught error:
EnhancedSwitch is changing an uncontrolled input of type checkbox to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa).

*Then on form submit:
The prop `switched` is marked as required in `EnhancedSwitch`, but its value is `unde

[2016-12-29 18:24] luanpotter commented on #3923
As a workaround, I'm manually setting the width for something like 80%, which works on most cases: `style={{ width: '80%' }}`. But it would be really nice to see this solved!

[2016-12-29 18:46] mbrookes commented on #5256
@tracker1 Material-UI doesn't use an icon font, it uses the svg-icons provided as part of the library. (We've talked about moving these to their own package, but this adds some complications with circular dependencies (Material-UI depends on svg-icons, svg-icons package would depend on Material-UI `SvgIcon` component...)

[2016-12-29 18:49] mbrookes commented on #5745
Closing as answered.

[2016-12-29 18:49] #5745 closed

[2016-12-29 19:00] mbrookes commented on #5372
@tracker1 Or just `material-ui/svg-icons` and save an additional dependancy.

[2016-12-29 22:35] oliviertassinari commented on #5847
I'm not sure to understand where is the issue.
Could you provide a live reproduction test case? That would help a lot 👷 .
You can use this playground to do so: http://www.webpackbin.com/Vy6jAlXbG.

[2016-12-29 23:11] HenrikBechmann commented on #5847
You can't reproduce or you don't understand?

Quick try to clarify, in case it's the latter: I can scroll down with 16.6, but I can't scroll up. So I can scroll to the bottom of the list, but I can't scroll back to the top.

If you get an over-long list of autocomplete options with max height as I've set, you should be able to reproduce. (I'm presuming you have such a thing readily available).

Wo

[2016-12-29 23:36] HenrikBechmann commented on #5847
here's a video of the bug https://youtu.be/ejMddSAVeuw

lemme know when you're done and I'll take the video down.

Hope this helps

[2016-12-30 00:42] DDDDDanica commented on #1956
@Sharlaan How do you solve the issue of this line :
`handleSelection = (name, value) => this.setState({ [name]: value })`
It is also listed an example in Material-UI and gave me error of unexpected token =

[2016-12-30 01:08] Sharlaan commented on #1956
@ DDDDDanica :
Maybe you forgot to specify a name attribute on your component ?

Also (from memory) i remember getting this false error when using static keyword in class in unconfigured IDE...

Can you tell more about the context of your error ?

[2016-12-30 06:40] mu4farooqi commented on #5498
+1

[2016-12-30 09:54] VALIKCOOL commented on #5809
Having same issue. Content is very blurry. Any ideas?

[2016-12-30 11:48] #5841 closed

[2016-12-30 16:33] Bamieh commented on #4532
this is bullshit. i am removing the package from my project

[2016-12-30 16:49] mbrookes commented on #4532
@timothyallan It is in the docs: http://www.material-ui.com/#/get-started/installation, and unless you're using notepad or textedit, your editor should have global search-and-replace:

[Shift-Command-F]
Find: `onClick`
Replace: `onTouchTap`
[Replace All]

Blam! 💥 Done. 🚀

And `onTouchTap` goes away in `next`. 🎉

[2016-12-30 17:51] timothyallan commented on #4532
Cool, thanks @mbrookes That's much nicer than saying RTFM :) Global search/replace isn't going to fly with this project unfortunately, so I'll start hunting them down... and then swap them back out after the tap event dependancy is removed!

[2016-12-30 19:23] MPiccinato commented on #5818
I have also come across this when working with objects as values for the `SelectField` recently.

Testing @patrickml example yields the behavior described.

Modifying it to

[code]
allows the `===` check to pass since they are indeed the same object.

I agree with @oliviertassinari that the proposed possible solution would not be ideal. Would it be possible to instead pass a function along to do t

[2016-12-30 22:19] PhilippSpo commented on #3638
There still are some issues on mobile. It seems to be related to the scroll position:
![materialize-autocomplete-broken](https://cloud.githubusercontent.com/assets/8394418/21573574/485737cc-cee6-11e6-9951-7de5ce8e19cd.gif)

[2016-12-30 22:21] oliviertassinari commented on #3638
That's the expected behavior on a simulator. Please try it on a simulator.

[2016-12-31 01:20] lucasbento commented on #5850
Can you please provide a running snippet of what you are running?

[2016-12-31 02:29] set4812 opened #5855 "IconButton and IconMenu props.onTouchStart is not a function"
1. Open example http://www.material-ui.com/#/components/icon-menu
2. Open responsive mode
3. Enable touch event in firefox, chrome have enabled default
4. Click one of example
5. Look in console you will be have TypeError props.onTouchStart is not a function

- Material-UI: 0.16.6
- React:15.4.0
- Browser:Chrome and Firefox tested

[2016-12-31 12:00] oliviertassinari commented on #5847
That regression is linked to https://github.com/callemall/material-ui/pull/4168.
In your case, it's the `Popover` shadow dom that handle the scroll instead of the `Menu`.
You need to set the `overflowY: 'auto'` or use the `menuProps.maxHeight` property.

[2016-12-31 14:05] oliviertassinari commented on #5855
Fixed with #5833.

[2016-12-31 14:05] #5855 closed

[2016-12-31 14:12] HenrikBechmann commented on #5847
Excellent. Glad it's been clarified. Thanks for looking into it. I think I'll stick with 16.4 for a bit...

[2016-12-31 23:51] wskidmore opened #5857 "[IconButton] hoveredStyle is applied before props.style"
### Problem description
Newly introduced in 16.6 is a `hoveredStyle` prop on IconButton which is great! However, the hovered style is applied before `props.style` which leads to some troubles, as an example:

If you have an IconButton that has a blue background and on hover you want it to be green there is no way to do that.

### Link to minimally-working code that reproduces the issue
http://www.

[2017-01-01 11:32] oliviertassinari commented on #5847
You are welcomed. I'm closing the issue. It's more like a breaking changes we haven't anticipated.

[2017-01-01 11:32] #5847 closed

[2017-01-01 18:20] oliviertassinari commented on #5857
That property was introduced with https://github.com/callemall/material-ui/pull/5755.
Do you want to switch the order and add a corresponding unit test?

[2017-01-01 18:24] oliviertassinari commented on #5848
`nestedItems` expect an array of `<ListItem />`, you are providing a `<List />`.

[2017-01-01 18:24] #5848 closed

[2017-01-01 18:31] oliviertassinari commented on #5840
I'm closing that issue as the root cause is the same as #5840.

[2017-01-01 18:31] #5840 closed

[2017-01-01 18:40] oliviertassinari commented on #5052
This issue is a known limitation of the inline-style approach. We can not longer prefix for different rendering engines since React v0.15. They changed the style injection method in the DOM.
I don't think we will find any solution for the `master` branch.
#4066 has been closed. There is an ongoing migration effort with the `next` branch.
We are using a new CSS-in-JSS styling solution that address

[2017-01-01 19:29] oliviertassinari commented on #711
We have discussed this issue in more depth in #5055.
It's fixed on the `next` branch. I'm closing the issue.

[2017-01-01 19:29] #711 closed

[2017-01-01 19:33] oliviertassinari commented on #1789
We have a new `<Text />` component on the `next` branch implementing the material typography system. For instance, here is the documentation https://github.com/callemall/material-ui/blob/next/docs/site/src/pages/style/typography/typography.md.

[2017-01-01 19:34] #1789 closed

[2017-01-01 19:40] #2413 closed

[2017-01-01 19:46] oliviertassinari commented on #2512
The `actAsExpander` property was removed on the `next` branch. Nathan have turned that feature inside-out. We are now exposing a `Collapse` component to implement it. It's much better.
For instance:
[code]

[2017-01-01 19:46] #2512 closed

[2017-01-01 19:52] oliviertassinari commented on #2718
That property was exposed in #5389.

[2017-01-01 19:52] #2718 closed

[2017-01-01 19:57] oliviertassinari commented on #2880
We don't have any ongoing plan for that on the `master` branch. We have removed his usage on the `next` one. I'm closing it.

[2017-01-01 19:57] #2880 closed

[2017-01-01 19:59] oliviertassinari commented on #3066
We have added a `<Layout />` component on the `next` branch #5808.
I don't think that we should add any recommendation until we release that new branch.
I'm closing the issue.

[2017-01-01 19:59] #3066 closed

[2017-01-02 08:08] anton-aleksandrov opened #5860 "Error trying apply custom theme"
I'm getting this error after any of the theme customization being applied:

[code]

Customization example:

[code]
Works ok without `muiTheme={themePreferences}`

[2017-01-02 09:32] deepswami2 opened #5861 "AutoComplete fontSize is not working"
fontSize is not applying in AutoComplete.
Sample code -
`<AutoComplete
        menuStyle = {{fontSize:14}}
                        listStyle={{fontSize:14}}
                        ..
                        ..
                      /> `

### Versions

- Material-UI: 0.16.6
- React: 15.3.1
- Browser: Chrome

[2017-01-02 09:33] ashutoshjha1409 commented on #5861
Facing the same issue.

[2017-01-02 16:48] haskellcamargo commented on #5721
Thanks, @mgruel  :heart:
Saved my life!

[2017-01-02 17:05] jampy commented on #4555
any news on this? having the same problem with `FloatingActionButton`...

React.initializeTouchEvents has been removed from React, see https://facebook.github.io/react/blog/2015/10/07/react-v0.14.html#breaking-changes

[2017-01-02 17:19] antonybritto opened #5862 "[Table] 'allRowsSelected' property doesn't reflect the prop change"
I am building a Datagrid (with pagination & sort options) using material-ui Table. While moving between pages i am trying to persist the selection of rows, For page level (select all / deselect all) i am toggling 'allRowsSelected' prop programmatically, but the Table component doesn't honour the new prop being passed. Looked into that Table source code as well, couldn't see any 'componentWillRecei

[2017-01-02 17:22] patrickml opened #5863 "Range Picker in Docs not working"
The Range picker in the docs doesn't seem to let you select a range of dates. It simply selects one value. Here is a video. I also tried using additional keys like holding shift, CTL, etc. nothing seems to work.

here is an example
![example](https://d17oy1vhnax1f7.cloudfront.net/items/0W3I082Z323B392q3G2x/Screen%20Recording%202017-01-02%20at%2012.20%20PM.gif?v=7335f7d2)

### Versions

- Material-

[2017-01-02 17:37] jampy commented on #4555
I had a quick look [at the code](https://github.com/callemall/material-ui/blob/d8a45a4f0b4e9b6f22b08948eceee899ef2989b9/src/FloatingActionButton/FloatingActionButton.js#L212) and it seems to me that `FloatingActionButton` itself is not receiving the `onTouchStart`.

The code should set `touch` on touch start, but does not.

See this screen recording of React state:

![ontouchstart problem](https:/

[2017-01-02 18:54] patrickml commented on #5646
any updates on this? Would like to update react, but being held back @15.3.2 still

[2017-01-02 19:26] icetronics commented on #5354
Hi guys,
I tried updating React & auxiliaries to 15.4.0 but the render test still failed with

I also tried with Enzyme and now I'm getting the following empty snapshot:

(I'm writing tests for a redux-form that uses https://github.com/erikras/redux-form-material-ui)

Were you able to make it work somehow? If you could post a few tests with Jest, it would be most helpful. Thanks!

[2017-01-02 21:30] BernardoFBBraga opened #5864 "Broken link on project description"
### Problem description
Clicking the "Override individual component styles via the style prop" link in the project description redirects to a page that is broken (console says "Uncaught TypeError: n.getCurrentLocation is not a function")

### Solution:

Change the link
from:
http://www.material-ui.com/#/customization/inline-styles
to:
http://www.material-ui.com/#/customization/styles

[2017-01-02 21:39] HenrikBechmann commented on #5847
@oliviertassinari to confirm I've added  `overflowY:'auto'` to menuStyle, and that resolved the issue (can now scroll up as well as down). I already had maxHeight set, and that had not by itself resolved the problem. So now I have:

       menuStyle = {{maxHeight:"300px",overflowY:'auto'}}

I don't understand why you'd consider this a 'feature' though. The widget fails out of the box without this

[2017-01-02 22:28] oliviertassinari commented on #5847
I was referring to the component property, not the CSS property.

Because I don't think that we can fix without introducing another breaking change.
When overriding component styles, everything may break.
There is no clear contract nor guarantee that the style override is going to behave the same way.

[2017-01-02 22:43] #5864 closed

[2017-01-02 22:43] oliviertassinari commented on #5864
Thanks for the feedback.

[2017-01-03 01:14] hotdang-ca commented on #1192
I did, in the meantime, have some luck passing in a reference to a `PropType.func` in the `RaisedButton`'s `onTouchTap`, as in:

`
<RaisedButton
            onTouchTap={this.props.onCancelTapped}
            label="Cancel"
          />
`

In this case, the component's parent handles the cancelTapped event, successfully.

[2017-01-03 05:17] DoWhileGeek commented on #3614
That looks fantastic, @oliviertassinari, When do you think it will get tagged and bagged?

[2017-01-03 07:55] oliviertassinari commented on #3614
@DoWhileGeek What do you mean by tagged or bagged? Official Release won't happen until we have migrated all the components but we plan to do some beta / alpha releases before.

[2017-01-03 11:25] jonashartwig commented on #2081
this seems to persist in ~0.16.4

[2017-01-03 11:26] sonuj commented on #5861
@ashutoshjha1409 me too facing the same issue

[2017-01-03 11:38] wiseolddj commented on #5089
@oliviertassinari
If you set the styles for padding-top and padding-bottom as a style you can set padding on the TableRow or the TableRowColumn

[code]

[2017-01-03 11:55] Pczek commented on #5711
I have the same issue for the [Drawer] in Version 16.2. Quiet inconvenient to wrap a component in a div or span in order to add a id prop.

[2017-01-03 12:39] shahromil88 opened #5866 "Raised Button -> Ripple effect in Firefox"
Hello,

Ripple effect for Raised Button is not working in Firefox browser. Can you please let me know what is require to fix this OR when it will be fixed in future release?

Regards,
Romil

[2017-01-03 13:25] mbrookes commented on #5863
I think you've misunderstood - that feature limits the range of dates that you can select a date from.

[2017-01-03 13:28] mbrookes commented on #5866
This is fixed in the `next` branch.

[2017-01-03 13:28] #5866 closed

[2017-01-03 13:55] jampy opened #5867 "how to improve overall performance with a single line change"
This took me 2 days to spot, but I found a little hack in `EnhancedButton` that very badly affects performance in complex applications (at least in mine).

[This](https://github.com/callemall/material-ui/blob/b7d9a373320b49f62e47f4e2e5ca4aa882265904/src/internal/EnhancedButton.js#L298) workaround, based on [a Stackoverflow suggestion](http://stackoverflow.com/a/24010148) causes the browser to crea

[2017-01-03 15:39] aGHz commented on #5860
@anton-aleksandrov You cannot pass the preferences directly as a theme, you need to bake them into a theme using `getMuiTheme`:

[code]

[2017-01-03 16:04] mbrookes commented on #5711
This is being addressed in the `next` branch.

[2017-01-03 16:42] tmarnet commented on #5117
I'm having the same issue with an IconButton, the Popover is positionned at (0 ,0)

## Versions
* Material-UI: 0.16.6
* React: 15.3.2
* Brpwser: Chrome

[2017-01-03 17:00] nthapaliya opened #5869 "[TextField] errorStyle no longer applies on floating text"
### Problem description
Upgrading from 15.4 to 16.x, I noticed that errorStyle in the TextField no longer applies to the floating label.

Before
![screen shot 2017-01-03 at 10 41 24 am](https://cloud.githubusercontent.com/assets/4131655/21615213/1d66eb8e-d1a2-11e6-938a-dd61a5379f06.png)

After
![5b9e0cfc-ce9b-11e6-82db-5d37089a5436](https://cloud.githubusercontent.com/assets/4131655/21615218/2426a

[2017-01-03 19:08] oliviertassinari commented on #5089
That padding doesn't seem to have any impact. Can't we just delete that line https://github.com/callemall/material-ui/blob/master/src/Table/Table.js#L13?
Still, I don't understand why you can override it.

[2017-01-03 19:28] oliviertassinari commented on #5869
Looking at #4756, I think that it should be the default behavior. Actually, I think that the `errorStyle` changing the style of the underline could be considered a bug.

[2017-01-03 20:20] nthapaliya commented on #5869
Previously, when we set the errorText, there was a consistency in style between the floating label text and the error text. It followed the style in errorStyle.

In my image, in the first one, both the floating text and the error message have the same color. This is in the case there *is* an error, ie we set the errorText prop to something. Otherwise they both are white.

Now, however, I'm not sur

[2017-01-03 20:28] pomerantsev opened #5870 "[CircularProgress] Allow using currentColor for the progress color"
I'm using `CircularProgress` all over my app, and it has several different colors.

I'm not using CSS in JS across my app, so I'd like to keep color constants in CSS.

I see an easy solution for Progress components: add a `useCurrentColor` property, so [this line](https://github.com/callemall/material-ui/blob/843f0899af5be97d8e2901a3929be3b10001e585/src/CircularProgress/CircularProgress.js#L44) wo

[2017-01-03 21:18] wskidmore commented on #5857
If someone wants to take this and do it feel free 😃 , I don't have material-ui setup locally to develop/contribute but I can do it this week sometime if no one else does.

[2017-01-04 01:37] jr69 opened #5871 "IconMenu not closing when clicking outside of it"
So my code is:

`              <td>
                 <IconMenu
                  style={{float: 'right', right: '20px', position: 'absolute'}}
                  iconButtonElement={<IconButton><MoreVertIcon/></IconButton>}
                  anchorOrigin={{horizontal: 'right', vertical: 'bottom'}}
                  targetOrigin={{horizontal: 'right', vertical: 'top'}}>
                <MenuItem prim

[2017-01-04 01:41] jr69 commented on #5871
Just figured out it was because I am catching my clicks somewhere

[2017-01-04 04:11] zhaoyao91 commented on #5820
@lucasbento Thanks, it works!
Then I feel this a little tricky, so should it be fixed or the docs be updated?

[2017-01-04 04:41] shahromil88 opened #5872 "Raised Button -> Firefox ripple effect"
Hello,

As per this issue: https://github.com/callemall/material-ui/issues/5866

I have installed @next branch which comes with version 0.16.0-rc2.
I am using Firefox version 50.1.0

Still the ripple effect for Raised Button is not working.

Regards,
Romil

[2017-01-04 06:53] geohuz commented on #5070
what's the progress on this issue? I'm having listitem on one page and touch on one of the items will transit to another page, I can use e.preventDefault to prevent the ghost click when going back to the list page, but still seeing a ripple there. Is there a workaround or universal fixing to deal this issue?

[2017-01-04 08:25] yangguixue commented on #5862
Do you solve it? I have the same question with you

[2017-01-04 08:27] yangguixue commented on #5862
Do you solved it? I have the same question with you

[2017-01-04 08:30] yangguixue commented on #5862
Did you solved it? I have the same question with you

[2017-01-04 08:31] yangguixue commented on #5862
Did you solve it? I have the same question with you

[2017-01-04 08:31] yangguixue commented on #5862
Did you solved it? I have the same question

[2017-01-04 08:31] yangguixue commented on #5862
Did you solve it? I have the same question

[2017-01-04 09:09] set4812 commented on #5872
Change in package.json to git repository. Releases version long time don't get update.
`"material-ui": "git+https://github.com/zilverline/react-tap-event-plugin.git#next",`

[2017-01-04 11:24] itaylorweb opened #5873 "[MenuItem] href no longer works 0.16.6"
A MenuItem with an href attribute doesn't work when contained in the menuItems array:

[code]

[2017-01-04 12:13] #5867 closed

[2017-01-04 14:08] antonybritto commented on #5862
Nope I couldn't.

[2017-01-04 19:11] rdnewman commented on #4670
Just in case it helps someone until the new release is ready:  I ran into this issue, but once I moved the
[code]
lines to the component file where I apply `<MuiThemeProvider>` in the component hierarchy, it started working.  (It is also where I do my mapStateToProps for redux but I assume that's irrelevant.)  I had previously applied them in the file for a higher component that acted as my wrappi

[2017-01-04 19:52] mbrookes commented on #5872
@shahromil88 Tee `next` branch hasn't been released yet - if you want to try it, you'll have to install from github. The npm `next` tag is something different.

[2017-01-04 19:52] #5872 closed

[2017-01-04 20:52] #5857 closed

[2017-01-04 20:54] abdulsaboorahmed commented on #3973
@ffxsam - 'textFieldStyle' property of Autocomplete	solves the problem

[2017-01-04 21:08] bsinc commented on #3537
I'm also having this problem, would like to remove the padding but I can't find a way to do so. Any updates on this?

[2017-01-04 22:54] JperF commented on #5793
@lucasbento

The issue occurs when the elements being render change size.

The below code example has the variable `ANIMATEFLAG` when this variable is set to`true` the repositioning fails whereas if it set to `false` and does not animate it works correctly.

[code]

[2017-01-04 23:49] mmacret commented on #5862
+1 . I have the same issue.

[2017-01-05 00:46] mikepc commented on #231
`
import React, { Component } from 'react';
import TextField from 'material-ui/TextField';
import RaisedButton from 'material-ui/RaisedButton';

import './home.css';

export default class Home extends Component {
  constructor(props) {
    super(props);
    this.handleSearch = this.handleSearch.bind(this);
  }

  handleSearch(e) {
      debugger;
      console.log('submit clicked');
  }

  render(

[2017-01-05 04:50] KingWu opened #5877 "[Typescript] button textTransform not support"
const muiTheme = getMuiTheme({
  button: {
    textTransform: 'none',
  }
});

textTransform is not defined on index.d.ts

[2017-01-05 04:57] kaushik-aglive commented on #5872
@mbrookes Any plan to release "next" branch in near future?

[2017-01-05 04:58] shahromil88 commented on #5872
@mbrookes Any plan to release "next" branch in near future?

[2017-01-05 06:23] adamtysonsmith commented on #2983
It clicked for me when I realized that I could not rely on the input keeping track of the state.

Its much easier for me to manage keeping track of the state with a simple method in our class:
[code]

Then in our view (using stateless component and passing state as props in my case):
[code]

This way the state is configuring the initial checked value, and passing that value through on the checked

[2017-01-05 07:26] tomgron opened #5878 "Table properties"
Please document colSpan and rowSpan (and other) attributes to Table and TableBodyRow (and column) elements please..

colSpan is in complex example but not in properties documented, didn't find at first and took me a lot of time to look for that

[2017-01-05 07:41] Rajitha89 opened #5879 "Material UI select field alignment and value pick issue"
In my material UI design select field has 30days nights pick, and 4 rooms pick select field. Room pick field works fine but nights pick is showing the wrong alignment and also picking value also wrong.(when I'm select 30 nights it shows 12/13/14 nights, value change time to time).

I tried to fix the problem but the only thing I identify is that select Field height is the problem when I'm reducing

[2017-01-05 07:49] #5879 closed

[2017-01-05 08:23] oliviertassinari commented on #5877
We do not support any Typescript definition. I'm closing that issue.

[2017-01-05 08:23] #5877 closed

[2017-01-05 13:56] ce07c3 commented on #2474
Any update on this one? If we can agree on an approach, perhaps it'd be easier to develop.

[2017-01-05 16:18] Kivylius commented on #5309
Unfortunately this is default behaviour In HTML5 ([Link to Thread](http://stackoverflow.com/questions/8354975/how-can-i-limit-possible-inputs-in-a-html5-number-element)) although I got it working with a small hack:

[code]
So in this example values between `0-to-99`, but you can change it to `(0,35)`for 35 character long numbers. From an UX view, it should not default to 0, and instead be processe

[2017-01-05 18:16] newoga commented on #2474
I thought of these approaches as it related to the current TextField component design and tried to make them backwards compatible. The TextField component design in the `next` branch is improved, albeit is a breaking change. I would have to revisit the code but I imagine implementing helper text in a composed way should be much simpler in that branch.

I probably would recommend not implementing a

[2017-01-05 18:21] msholty-fd commented on #4606
I've found that you can assign a function to be called via `onTouchTap` on nested `MenuItem`s, but there is no reference to the element itself. This prevents you from doing logic based on which nested `MenuItem` is selected. What am I missing?

[2017-01-05 19:02] oliviertassinari commented on #2474
That's definitly a missing feature in the `next` branch. It would be good to agree on the API so anyone could give a shot at implementing it. I think that we gonna need two level of abstraction. One new component for the low level API and one new property to the `TextField` for the high level API.

[2017-01-05 19:12] attilaaronnagy commented on #5646
super annoying,  really huge bug. I don't know how can anybody use this with react < 15.4.0. just had to downgrade all of our project to 15.3.1. PLEASE! Solve this! No click event works, on none of the components!

[2017-01-05 19:25] newoga commented on #2474
@oliviertassinari Sounds good. I need to and will try to get caught up on the current design of things in the `next` branch so I can provide some better feedback. Also, now that we have a initial versions of Tabs and Toolbar merged, I'd like to deliver on some AppBar promises that I've made over a year ago 😅.

[2017-01-05 20:28] bsinc commented on #5787
+1 would love this!! (kinda need it)

[2017-01-06 00:00] DmsChrisPena opened #5880 "z-index not working properly with Drawer component"
So I have a very basic Drawer component and no matter what the z-index is on either component images and text will still show through. I'm also aware of the 'zDepth' property on the Drawer component and that doesn't fix my problem. Anyone have any solutions?

![Z-index problem](http://i.imgur.com/WaSizgS.png)

[2017-01-06 00:39] rsolomon commented on #5375
This also happens with `FlatButton` (and presumably other buttons). If you have a disabled button, then hover over it and hover out of it, then re-enable it, it will still show as hovered (as evidenced by setting the `hoverColor` property), even though you are no longer hovering over the button.

[2017-01-06 00:40] kelsonic commented on #3637
@zachguo I get a warning when I implemented your workaround:
[code]

My table looks like this (each component is a wrapper for the material-ui component as we have a lot of business logic we need to put in each component):
[code]

[2017-01-06 05:26] quangta93 commented on #5811
@frooeyzanny I think @jgoux wants to reset the form after the uncontrolled `<TextField />` got input value.

In this case, the `<TextField />`'s `<input>` (a form element) got reset by the form reset event but `<TextField />` itself, being a React element with existing, persistent state, never got reset to its initial state.

@frooeyzanny I'm not entirely sure but adding a `reset` function to `<Te

[2017-01-06 06:02] vickyqiu commented on #3950
Hi,
I am facing the same issue now and using setState to set hover color alternatively.

Any ideas about how this happens?

[2017-01-06 10:10] Jbarget opened #5882 "[Docs] Spelling mistake in docs"
### Problem description

A spelling mistake at the bottom of `docs/src/app/components/PropTypeDescription.js`

"No documented" should be "Not documented"

![screen shot 2017-01-06 at 10 05 38](https://cloud.githubusercontent.com/assets/11725595/21714655/14bcf03e-d3f8-11e6-989d-b58293a2992a.png)

[2017-01-06 11:46] MrLoh commented on #1789
Is that already available today somehow, I don't get it even under the alpha version.

[2017-01-06 12:09] dchambers commented on #1345
This may be fixed https://github.com/callemall/material-ui/pull/5884?

[2017-01-06 12:11] oliviertassinari commented on #1789
It's under the `next` branch. It's not published on `npm`.

[2017-01-06 13:17] #5882 closed

[2017-01-06 15:11] mbrookes commented on #718
Should be hopefully fixed by React 16: https://github.com/facebook/react/issues/7211#issuecomment-266774957

[2017-01-06 16:47] LRPalacios commented on #773
Any can share example of what they have accomplished so far using css tweaks? i am trying to get some inspiration to try and custom the app bar

[2017-01-06 18:50] danwoods commented on #1508
I feel like that answer is pretty unsatisfactory. If anyone is trying to find a solution to this, this looks like an option http://stackoverflow.com/questions/37150254/radiobuttongroup-within-nested-list

[2017-01-06 19:12] lightningboss commented on #5476
You can just use css hover (or the material-ui equivalent) and add styles that define [`box-shadow`](https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow). If you want an animation take a look at the [`transition`](https://developer.mozilla.org/en-US/docs/Web/CSS/transition) property.

[2017-01-06 20:14] lightningboss commented on #5880
You could try out changing the zIndex of the images. If you use the default drawer but only changed styling you can take a look at [`material-ui/src/styles/zIndex.js`](https://github.com/callemall/material-ui/blob/master/src/styles/zIndex.js). Your zIndex seems to be higher than that one.

[2017-01-06 20:17] lightningboss commented on #5871
You could think about statemanagement. You can control the visibility of the popup via `open` prop. Create a function that changes the state in a way that this prop is being changed.

[2017-01-06 20:19] greenkeeper[bot] opened #5885 "An in-range update of react-addons-transition-group is breaking the build 🚨"
## Version **15.4.2** of [react-addons-transition-group](https://github.com/facebook/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/callemall/material-ui/compare/greenkeeper%2Freact-addons-transition-group-15.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react-addons-tr

[2017-01-06 20:19] greenkeeper[bot] opened #5886 "An in-range update of react-addons-test-utils is breaking the build 🚨"
## Version **15.4.2** of [react-addons-test-utils](https://github.com/facebook/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/callemall/material-ui/compare/greenkeeper%2Freact-addons-test-utils-15.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react-addons-test-utils

[2017-01-06 20:33] #5476 closed

[2017-01-06 20:36] mbrookes commented on #5476
https://github.com/callemall/material-ui#note

[2017-01-06 20:38] mbrookes commented on #5871
https://github.com/callemall/material-ui#note

[2017-01-06 20:38] #5871 closed

[2017-01-06 22:03] bsinc commented on #4949
+1 for this issue, this is 100% a requirement for a birthday picker

[2017-01-06 23:16] #5885 closed

[2017-01-06 23:16] #5886 closed

[2017-01-07 01:51] LeeKevin commented on #5375
Yes, this is a symptom of any component that wraps internal/EnhancedButton

[2017-01-07 02:57] lucasbento commented on #5880
@DmsChrisPena: can you please provide a running snippet so we can help you out?

[2017-01-07 02:59] lucasbento commented on #5878
@tomgron: we are focusing our efforts on [next release](https://github.com/callemall/material-ui/blob/master/ROADMAP.md#next-expected-in-the-next-couple-months) so we are keeping new contributions to the current version very short, we would love if you could send a PR to fix this issue though.

[2017-01-07 10:59] R5n3h opened #5890 "[TimePicker] component keeps keyboard open and does not close it"
In a form with TextField, DatePicker and TimePicker, when finish editing the TextField (and the keyboard still open), click on the TimePicker to select the time, the keyboard still open and the TimePickerDialog looks bad (see attached screenshot).

![timepicker](https://cloud.githubusercontent.com/assets/2847349/21741289/823c6c34-d4d9-11e6-9efb-edfcfbcf58c9.jpeg)

- Material-UI: 0.16.2
- React: 15

[2017-01-07 15:38] ofirattia commented on #2759
Any updates?

[2017-01-07 16:40] lightningboss opened #5892 "[AppBar] iconElementRight-FlatButton has different hover and ripple styles than menuIcon"
### Problem description
See http://www.material-ui.com/#/components/app-bar: In the second example (buttons) the right button has different ripple and hover styles (specifically colors) than the menuIcon. This does not happen with iconButtons but (afaik) only with FlatButtons.

### Versions

- Material-UI: 16.6
- React: 15.4.1
- Browser: Chrome 55.0.2883.95

[2017-01-07 16:59] mbifulco commented on #5330
Just chiming in to see that I spent the last day or so debugging this issue - and while the answer should have been obvious to me, I thought it might bear mentioning:

If you've got an app set up that uses serverside rendering, you may need to wrap both the serverside and clientside apps in `<MuiThemeProvider>`.

[2017-01-07 18:31] anzorb commented on #2514
Ran into this issue, fixed by preloading the image first, before opening dialog and setting its contents:
[code]

[2017-01-07 20:54] J3VS opened #5894 "Conflicting versions of React required, causing Invariant Violation"
When I npm install material-ui (version 0.16.6), there are two versions of react that are required: 15.4.2. and 15.0.0
[code]

when I attempt to use the AppBar component, I get the following error message which I assume is from the react version conflicts:

[code]

Code as follows:
app.js
[code]

index.js
[code]

[2017-01-07 22:15] tonytonyjan commented on #1789
Another solution is to use [material-components-web](https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography) which is the successor to material-design-lite.

[2017-01-07 22:34] kierenj commented on #5131
Still happy to help fix if my outlined approach was good..

[2017-01-07 22:47] mbrookes commented on #5894
Dupe of #2818 Try removing `node_modules/material-ui/node_modules/react`.

Those dependencies don't conflict...

(Also, you'll need to add `injectTapEventPlugin()` if you want click events to work.)

[2017-01-07 22:47] #5894 closed

[2017-01-07 23:01] J3VS commented on #5894
It might just be me not understanding what you mean, but in node_modules/material-ui, there is no directory node_modules

[2017-01-07 23:05] mbrookes commented on #5894
Then the problem definitely doesn't originate with Material-UI. 😄 (Seriously, if it was that broken, many people would be complaining!)

Try deleting and reinstalling node_modules, otherwise take a look at the suggestions in the linked issue.

[2017-01-07 23:10] J3VS commented on #5894
I've read almost the entire thread in the other issue, I saw it was an issue from a different version and a lot of the solutions didn't apply (updating react to version 14, updating npm to version 3 etc).

I just deleted node_modules and reinstalled react, react-dom, react-tap-event-plugin and material-ui with npm and node_modules still doesn't exist inside material-ui. I'm assuming it should? (I'

[2017-01-08 14:50] lmesz commented on #2932
Is there any progress or temporary solution ?

[2017-01-08 15:09] GregTheGreek commented on #4670
@rdnewman This works!!

[2017-01-08 16:10] ChinW commented on #1328
@codeVerine I was waiting for this answer for so long, lol, thx

[2017-01-08 17:24] gsccheng opened #5895 "Unable to override styles of certain child elements"
### Problem description
I'm having trouble overriding styles. I'm trying to modify the `top` property of the label in `Autocomplete`. However, this is being overridden by an `elements.style`. I tried modifying the `style` prop but it only affects the root element (a parent div). I also tried modifying a possible `labelStyle` as suggested in the docs: "Additional `xxxStyle` properties are provided

[2017-01-08 19:54] greenkeeper[bot] opened #5896 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **6.9.0** of [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/callemall/material-ui/compare/greenkeeper%2Feslint-plugin-react-6.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-react

[2017-01-08 19:55] mbrookes commented on #5895
@gsccheng AutoComplete doesn't have a labelStyle prop. Please check the docs: http://www.material-ui.com/#/components/auto-complete

We're addressing this in the next major release with a new styling approach - please see the ROADMAP for details.

[2017-01-08 19:55] #5895 closed

[2017-01-09 01:46] barranger opened #5897 "[DatePicker] doesn't capture tabs correctly"
### Problem description
With the DatePicker dialog showing the user can still tab around the page and if the tab into a textfield, allows for the user to enter text.

### Link to minimally-working code that reproduces the issue
http://www.material-ui.com/#/components/date-picker

### Versions

- Material-UI: 0.16.6
- React: 15.3.2
- Browser: Chrome, Firefox, Internet Explorer, MS Edge

[2017-01-09 08:15] #5896 closed

[2017-01-09 08:20] dahei commented on #3388
@wzup @oliviertassinari

The initial question does not seem to be answered yet? How can we change the color of the selected option, as @wzup asked and described in detail?

![c7f448be-d7be-11e5-8f35-1c6bc595cae0](https://cloud.githubusercontent.com/assets/2070820/21760392/0e487cfe-d64c-11e6-8f76-6a0ec3fca8fe.png)

`muiTheme.menuItem.selectedTextColor = '#BADA55'`

has no effect, when using a Selec

[2017-01-09 09:42] krzysztof-grzybek commented on #4103
I think this issue it's not duplicate and it should be reopened.

OnFocus prop is passed to DropDownMenu component, but it's not doing anything, it's only passed to div element.

Could You take a look at this ?

[2017-01-09 11:05] ptim commented on #4670
thanks all... I had this warning in tests only, and then realised that `injectTapEventPlugin()` was not called in the course of testing components, only in the full blown app

[2017-01-09 15:59] brettwise commented on #2485
The trick here seems to be using the `containerElement` property on your button @WillowHQ. Seems to resolve the CSS issue I was seeing on the `<FlatButton />` component I was using.

@salfej tip seems to be working.

[2017-01-09 16:45] GarrettVD commented on #1352
@oliviertassinari Sorry to bother.  It seems that when I run `npm install material-ui@next` in order to install the pre-release package in which this EnhancedTable exists, the TableSortLabel component is missing from the resulting material-ui-build folder.  Am I missing a critical step here?  Thanks in advance.

[2017-01-09 17:15] GarrettVD commented on #1352
@mbrookes Ahh, gotcha.  Thanks.

[2017-01-09 17:26] Demven commented on #2163
DropDownMenu looks incorrect on mobile and we can't use "menuStyle" prop to control it. Seems like SelectField just ignores this prop.

[2017-01-09 17:43] theirishpenguin opened #5898 "Chrome crashes when dragging a react-dnd enabled div containing a material-ui table"
### Description
When I try to drag a react-dnd enabled div containing a material-ui table in Chrome, then my browser crashes. Sometimes I even get booted out of my Linux desktop as a result (at a guess this is some "infinite loop"-like situation causing chrome to runaway and starve the system of resources).

It does not happen in firefox, which makes me thing it is the webkit issue described at ht

[2017-01-09 18:01] btzsoft opened #5899 "[SelectField, DropDown] Empty value"
### Problem description

Value of these components is missing, also child `DropDown` component contains `undefined` in id.

[code]

<img width="1440" alt="screen shot 2017-01-09 at 7 41 52 pm" src="https://cloud.githubusercontent.com/assets/5813365/21777139/4dc82bcc-d6a6-11e6-891c-c0e3b1f17164.png">

### Versions

- Material-UI: 0.16.4
- React: 15.4.1
- Browser: Chrome

[2017-01-09 18:20] dam4222 opened #5900 "drawer with hamburger menu closing immediately"
On galaxy 5s and 7s when you click the hamburger menu the drawer opens and then closes immediately.

Images & references Too fast to capture.

### Link to minimally-working code that reproduces the issue
https://evening-ridge-76179.herokuapp.com

Here you can find the code for the topBar.js:
https://github.com/dam4222/academy/blob/master/src/app/components/topBarNav/topBarNav.js

### Versions

"ma

[2017-01-09 18:21] btzsoft commented on #5899
Oh, I didn't know that value of `SelectField` should match with any from `MenuItem`

[2017-01-09 18:21] #5899 closed

[2017-01-09 19:04] mbrookes commented on #5900
Hi, please material-ui for reproducible issues GitHub issues for issues with Material-UI components, rather than with your code.

For a working example, you might find inspiration by looking at the Material-UI docs site, which I tested and is fine on an S7: https://github.com/callemall/material-ui/tree/master/docs

[2017-01-09 19:04] #5900 closed

[2017-01-09 19:07] #5863 closed

[2017-01-09 20:21] raycursif commented on #1352
Great job, very interested in this feature. Thanks

[2017-01-09 23:36] markau commented on #5809
Looking at your demo video, I can't say that the issue I faced is the same. I was, however, loading the roboto font server-side, and then again on the client. On first render, the font was blurry (like a larger font-weight) and then when the client-side load kicked in the font was fixed. This was really frustrating and fortunately I was able to fix it by removing all server-side references to Robo

[2017-01-10 00:15] kelsonic opened #5901 "[Divider] hides on material-ui.com/#/components/divider"
I noticed that the divider actually hides when the source code is opened for the `Insert Divider`.

I am on a Mac OS Sierra and am using the latest version of Chrome (Version 55.0.2883.95).

![material-ui-divider](https://cloud.githubusercontent.com/assets/12773166/21788985/1463f15c-d68f-11e6-82d5-50de3001833d.png)

(Sorry for the weird-looking red arrow, but it is supposed to point at where the d

[2017-01-10 03:02] petermikitsh commented on #5723
I'm still seeing this on `0.16.6` :(

<img width="525" alt="screen shot 2017-01-09 at 7 01 15 pm" src="https://cloud.githubusercontent.com/assets/1571918/21792358/fdfa4d44-d69d-11e6-9fb7-62fad7b6692a.png">

Not sure what I need to change.

[2017-01-10 03:12] petermikitsh commented on #5723
It appears `border-color` is set to `initial`, causing the issue.

<img width="1301" alt="screen shot 2017-01-09 at 7 11 18 pm" src="https://cloud.githubusercontent.com/assets/1571918/21792552/8677a15c-d69f-11e6-854d-a688bc1dcc6b.png">

[2017-01-10 03:28] petermikitsh opened #5902 "[TextField] focus underline renders black when `{userAgent: 'all'}`"
### Description

`TextField` renders a black underline (when focused) iff userAgent is set to `all` when calling `getMuiTheme`.

### Images & references

Here is the problem TextField and it's styles:

<img width="525" alt="screen shot 2017-01-09 at 7 01 15 pm" src="https://cloud.githubusercontent.com/assets/1571918/21792879/a7e0e694-d6a1-11e6-99da-53c7038c0e11.png">

<img width="1301" alt="screen

[2017-01-10 03:28] petermikitsh commented on #5723
@oliviertassinari This is still broken if you set `{userAgent: 'all'}` in a call to getMuiTheme, e.g., `getMuiTheme({...}, {userAgent: 'all'});`.

New issue created here: https://github.com/callemall/material-ui/issues/5902

[2017-01-10 03:32] petermikitsh commented on #5902
Here are the styles generated by [prepareStyles(focusedUnderline)](https://github.com/callemall/material-ui/blob/master/src/TextField/TextFieldUnderline.js#L115) in `TextFieldUnderline.js`:

When `{userAgent: 'all'}`:

<img width="477" alt="screen shot 2017-01-09 at 7 30 28 pm" src="https://cloud.githubusercontent.com/assets/1571918/21792960/3a477804-d6a2-11e6-96d7-5bfa68aa7aa4.png">

When no `use

[2017-01-10 03:35] petermikitsh commented on #5902
Here are the styles (on Chrome) on the [&lt;hr&gt;](https://github.com/oliviertassinari/material-ui/blob/e216a70a325c4b9cf55c2ad59e267a59cd505c52/src/TextField/TextFieldUnderline.js#L115) when `{userAgent: 'all'}`:

<img width="291" alt="screen shot 2017-01-09 at 7 33 05 pm" src="https://cloud.githubusercontent.com/assets/1571918/21793012/98413bb6-d6a2-11e6-82fb-17ef3e83bd60.png">

And when `userA

[2017-01-10 03:39] petermikitsh commented on #5902
For additional context:

My first parameter passed to `getMuiTheme` looks like this:

[code]

and this issue occurs both when `NODE_ENV=production` and when it is not.

[2017-01-10 05:25] tianwawawa commented on #1583
move key prop is right

[2017-01-10 15:03] theirishpenguin commented on #5898
Test case created and moved to https://github.com/gaearon/react-dnd-html5-backend/issues/57

Closing this issue here.

[2017-01-10 15:03] #5898 closed

[2017-01-10 15:22] jlichti commented on #5391
Same issue - looking at the code for Tab it appears the Button component has a height assigned but no way to update the style.

[2017-01-10 16:24] idangozlan commented on #718
+1

[2017-01-10 16:54] gnhuy91 commented on #3710
+1 please bring it to live!

[2017-01-10 17:05] theirishpenguin commented on #5898
Just in case anyone is reading this in future - it is the tooltips in material-ui that are causing the problem. More detail at https://github.com/gaearon/react-dnd-html5-backend/issues/57

[2017-01-10 20:12] Philin-Anton opened #5903 "[SelectField] Switching does not work when using the Tab key."
If a user uses the keyboard to tab through UI elements, they can never get focus on drop down menu.

Example: If I'm on a text field before select field, and I press the Tab key, the focus moves to a text field after the select field. Is this a software limitation?

http://take.ms/09opN

example form: http://redux-form.com/6.4.3/examples/material-ui/

### Versions

- Material-UI: "^0.16.1",
- Reac

[2017-01-10 21:41] CryZe commented on #5814
This happens with the example code provided on the website (http://www.material-ui.com/#/get-started/usage) as well.

[2017-01-10 21:47] oshalygin commented on #4556
Yeah if we can set the global style in maybe the getMuiTheme function that would be ideal.  It would be nice to set the styling for common components such as TextField at the global level and then customize it accordingly when needed.

[2017-01-10 22:28] #5860 closed

[2017-01-10 22:30] mbrookes commented on #5850
@tsaarikivi please reopen if you come back to this.

[2017-01-10 22:30] #5850 closed

[2017-01-10 23:47] tsaarikivi commented on #5850
@lucasbento @mbrookes - Revisiting my code, it seems the whole thing was my mistake. I'm sorry for the inconvenience.

[2017-01-11 00:09] gotdibbs commented on #4845
@radik909 Did you get it working? I just came across this as installing the `material-ui` package followed by the `react-tap-event-plugin` (after I realized it was required, getting started docs are a bit inconsistent/unclear to that regard), however, after uninstalling the packages @ocolot mentioned, then installing those exact versions, I'm off to the races.

[2017-01-11 03:20] Stupidism commented on #2826
If you are using it in normal web-app(not mobile-app), this should work:
[code]

[2017-01-11 03:38] M1chaelTran commented on #5085
+1

[2017-01-11 07:45] #5830 closed

[2017-01-11 09:31] josephpokemall commented on #4387
+1

[2017-01-11 10:40] EvilSpaceHamster opened #5906 "FlatButton does not have className property"
### Problem description
The RaisedButton component passes className onto the root element of the component, however the FlatButton does not. Is this an oversight or a design choice?

### Link to minimally-working code that reproduces the issue
https://gist.github.com/EvilSpaceHamster/db04869b2095ecfaedb132780a901693

### Versions

- Material-UI: 0.16.4
- React: 15.3.2
- Browser: Google Chrome 55.0

[2017-01-11 12:33] Floriferous commented on #4899
How would you go around adding multiple MenuItems conditionally ?

Ex:
[code]

These would need to be wrapped in an outside element, or should I have one of these ternaries for each MenuItem? I used a span, and obviously got the error mentioned here.

[2017-01-11 13:01] lzrski opened #5907 "TextField always expands on enter keyDown, even if new content won't require it"
### Description

I have a controlled multiLine TextField, like this:

[code]

I want to prevent newline characters inside (I just need line wrapping if the text is long), so in my `onChange` callback I do:

[code]

That way when user changes the content of the field, it will be stripped of any newline characters.

This works as expected, except for a strange "glitch": when user presses `Enter` key

[2017-01-11 13:07] Sharlaan commented on #4899
Try replacing ? with &&

Also i'm not sure multiple component can be accepted without wrapping in an array. So if this raises an exception, just write line by line :
[code]

[2017-01-11 16:28] nealeu commented on #5527
Would it be useful for there to be an interim release between current master and next which would be master but without the touchtap plugin and onTouchTap replaced with onClick?

This would be a good stepping stone for later consuming the next branch changes, and is what I'm doing at the moment to get a version that doesn't require the plugin.

[2017-01-11 16:36] smeijer commented on #5093
[code]

[2017-01-11 17:32] trialTrail commented on #647
@Thomas101 Thanks for the tip. This solved my problem as well. The actual <span key="labelElement"... was a deadzone for my click event. Your solution fixed this!

[2017-01-11 19:00] tracker1 commented on #5256
All of the icons in react-icons are normalized, so the user can use any of them... all of the material-ui icons are already wrapped as react components with the svg.   So, it would actually simplify the usage with material-ui library, and wouldn't have to maintain a separate library, or a specific SvgIcon component.

[2017-01-11 20:23] ajsharp commented on #3159
I'm seeing similar issues with AppBar...

[2017-01-11 22:00] brandondube opened #5910 "[Menu] [MenuItem] selectedMenuItemStyle does not apply"
### Problem description

The selected menu item style property on `Menu` appears to have no effect.

### Link to minimally-working code that reproduces the issue

https://gist.github.com/brandondube/be0348dda87e9f88611c7c3af91a4598

### Versions

- Material-UI: 0.16.5
- React: 14.4.1
- Browser: chrome 54, firefox 50, edge 38

[2017-01-11 23:09] mbrookes commented on #5256
A couple of observations from a quick look:

1. They have resized the icons, so we would have to apply styles to every icon, and so would users who want to match MUI (and MD in general) icon sizes.

2. They aren't pure AFAICT, so performance would suffer.

3.  (And this is a bit pedantic), but there's more to normalizing icons than just size - they should match in design, so you shouldn't be mixin

[2017-01-11 23:40] #5093 closed

[2017-01-12 01:07] dcworldwide commented on #5636
Here is a great project with this feature: https://github.com/maslianok/react-responsive-tabs

[2017-01-12 05:18] patrickml opened #5912 "[Table] IconButton's Tooltip is hidden"
When trying to view an IconButton's tooltip while contained in a table cell it seems to be hidden by an overflow of some kind.

![](https://d17oy1vhnax1f7.cloudfront.net/items/092J2h2z34250c2M1j3l/Screen%20Recording%202017-01-12%20at%2012.17%20AM.gif?v=0875d60c)

[2017-01-12 06:50] lednhatkhanh opened #5913 "CardTitle as a react router Link component"
I tried this:

`<CardTitle title={question.title} containerElement={<Link to="#" />} />`

And got an error that said

[2017-01-12 09:54] peterbartos opened #5914 "ListItem secondaryTextLines improvement"
Thank you for creating the **secondaryTextLines** property for ListItem.
It would be even more helpful, if it wouldn't force the secondary text to be 2 lines long also for short texts.
That could be easily fixed by using **max-height**: 36px instead height: 36px.

Also 3 lines support could make big difference compared to only 1-2 :)

### Versions

- Material-UI: 0.15.4
- React: any
- Browser: any

[2017-01-12 10:52] canibanoglu opened #5915 "[Tabs] Please add support for onClick event for the Tabs component"
I have seen this question asked before and the recommended solution of using the `onActive` property instead but that is simply not intuitive. Yes, `onActive` works but people don't need to come to GitHub and look for closed issues to see this.

This is straight from the documentation:

No mention about clicking. And even if this somehow got into the documentation, that's still not what 99% of the

[2017-01-12 12:10] leMaik commented on #3553
I know I'm late to the party, but I recently started implementing a `FullscreenDialog`, with animation and all. After reading this issue, I finally had some motivation to extract it into [it's own project](https://github.com/TeamWertarbyte/material-ui-fullscreen-dialog).

Once I have a little more spare time, I'll see if I can port it to `next` and provide a PR. :wink:

[2017-01-12 13:19] MustD commented on #1178
[Flat button demo](http://www.material-ui.com/#/components/flat-button) (v0.16.6) still doesn't work in FF (50.1.0)
but
[Raised button demo](http://www.material-ui.com/#/components/raised-button) works fine

[2017-01-12 13:31] MustD opened #5916 "Flat button file upload example doesn't work in Firefox"
### Problem description
Flat button file upload example doesn't work if FF
previous closed issue: https://github.com/callemall/material-ui/issues/1178

### Link to minimally-working code that reproduces the issue
[Flat button demo](http://www.material-ui.com/#/components/flat-button) (v0.16.6) still doesn't work in FF (50.1.0)
but
[Raised button demo](http://www.material-ui.com/#/components/raised

[2017-01-12 15:55] nalumachurakesh opened #5917 "Hinttext for dropdown menu"
Is there a way add hint text to the drop down menu.

[2017-01-12 16:27] lijunray commented on #5814
They suggested using a plugin to avoid this warning but I think it's kind of annoying because at least I don't want an extra plugin for this single warning.

[2017-01-12 16:28] tracker1 commented on #5256
1. This, I do understand... although it could/should be a minimal single css entry for use, I'm not sure how prescriptive it is, but aren't most people doing some form of normalize/reset css anyway?

2. I'm not sure what you mean, you can reference any icon by itself without bringing in all icons.

3. I understand this, but there are times where a given icon either isn't available, or you prefer o

[2017-01-12 17:55] froston opened #5918 "Card clears form values when expanding"
I'm having html form inside Card component. When I expand it resets the form's values. Is there a way how to avoid that?

[2017-01-12 18:24] froston commented on #5918
... missing value attribute on inputs

[2017-01-12 18:24] #5918 closed

[2017-01-12 18:32] djesmond commented on #5913
The containerElement prop is not available to the `CardTitle` as far as i know. Which would explain why your are getting that error.

I would consider using an Enhanced Button in `CardActions` instead.

[2017-01-12 19:22] smeijer commented on #3558
Is there any progress on this? Not being able to select a form component with `tab`, is a no-go for me.

[2017-01-12 20:45] tomgron commented on #2414
ES6 way to do this would be :

`import MoreVert from 'material-ui/svg-icons/navigation/more-vert';`

and using the component:

<IconMenu
    {...props}
    `iconButtonElement={<IconButton><MoreVert/></IconButton>}`
    targetOrigin={{
    horizontal: 'right',
    vertical: 'top'
  }}

[2017-01-12 21:56] patorjk opened #5920 "Searchable Select / MaxHeight for AutoComplete Menu"
### Description
First off, thank you all for making this, it's so far been a great library to work with!

Anyway, one of Angular Material's killer features is the searchable select [1]. I'm trying to switch over to react, and it's almost a deal breaker without this component because we have so many selects that have tons of items. However, I'm able to imitate its behavior by making a small change

[2017-01-13 01:42] dschreij opened #5922 "TextItems between <form> tags submit the form on enter keypress."
- Material-UI: 0.16.6
- React: 15.4.2
- Browser: Chrome 55.0.2883.95 (64-bit)

Encapsulating Textfield between \<form\> tags causes unexpected behaviour when editing the contents of the textfield and pressing `enter`.

This works fine:
[code]

But when replacing the outer \<div\>'s with \<form\>, it automatically submits (to the same page) when enter is pressed while editing the contents of the fi

[2017-01-13 06:44] balrajhariharan commented on #2310
Hello, thanks in advance, I have a doubt in adding class names dynamically. Can add a props value as class name? the code is given below:

{ tabs.map((tabItem,i) =>
          <NavigationItem key={i} {...tabItem} onClick={clickMenu} active={ currentTab === tabItem.tabName} />
 )}

and in other component NavigationItem,

	render(){
   const {display, url, active, tabName, onClick} = this.props;
   l

[2017-01-13 08:03] Sharlaan commented on #5922
try adding ```event.preventDefault``` in your onChange handler ?

[2017-01-13 08:17] Sharlaan commented on #5920
you can try this [one](https://github.com/Sharlaan/material-ui-superSelectField)

but be aware for very long lists: i didnot integrated react-virtualized yet, so rendering might be slow, but it should work ok for short / medium datalists.

[2017-01-13 09:15] djesmond commented on #5917
The `<SelectField>´ supports hint text, but only shows when no option is selected. There is an example in the docs.
I don't know if `<SelectField>´ can do the same job as you wanted to do with a drop down menu.

[2017-01-13 13:38] dschreij commented on #5922
Doesn't prevent the problem. For completeness, here is the complete component including javascript functions:

[code]

[2017-01-13 14:16] Sharlaan commented on #5922
Here is how i would implement your component :

[code]

[2017-01-13 14:21] dschreij commented on #5922
That's super informative, thanks! I'm still getting the hang of these expanders (although I used them a lot in Python). Didn't know you could pass default values too.
I can't see if you changed anything critical that prevents the unwanted submission on enter problem, or  did you just tidy up the code?

[2017-01-13 14:24] dschreij commented on #5922
Ah wait, I do now. You set the type of the submit button to submit and attached the submit function to form's onSubmit handler.

[2017-01-13 14:27] Sharlaan commented on #5922
Exactly
This is a basic feature of html <form>

[2017-01-13 14:38] #5922 closed

[2017-01-13 16:48] rosskevin opened #5924 "[next] Layout xsGutter false has no effect"
### Problems

A couple of issues with `xsGutter false` after a code review:
1. It appears that a `<Layout type="item" xsGutter={false}/>` has no impact on it's own.  e.g. it is not in control of it's own gutter because of the `.Layout-gutter-xs-16 > .Layout-typeItem`
2.  Gutters (default value) seem to still be generated by the code below (I'll isolate and try a test case):
[code]

Generated style

[2017-01-13 17:00] rosskevin commented on #5924
This issue is no longer valid due to 9eff8e6b3cb6ed8e10684f78679eb979ca1e086a

Fixed just a few hours ago 👍

[2017-01-13 17:16] rosskevin commented on #5924
I'm reopening this issue only for this question:

[2017-01-13 17:19] oliviertassinari commented on #5924
That makes sense, we could expose a property on an `item` to remove the gutter added by the parent. I see one edge case so far with the first item and the last item. The padding is going to be wrong.

[2017-01-13 17:22] rosskevin commented on #5924
I've figured out this is not a big issue for me.  Logically it's not perfect because of the inter-dependency, but I just needed a slight tweak to my approach (deeply nested) to get my end-result.  I'm going to close for now and we can revisit if there is a clearer case of the need for it.

[2017-01-13 17:22] #5924 closed

[2017-01-13 17:30] rosskevin opened #5925 "[Layout] xs prop naming"
There is a PR for the original layout, but I figured we need to parse out some separate discussions.

### Description
I approach design as _mobile first_.  I'm finding that the default props for this are always prefixed with `xs` which **is** explicit - so there's no magic. 👍

What I do find is that it is perhaps a bit more than needed.

**If** material-ui is mobile first
**Then** the default prop

[2017-01-13 17:56] mbrookes commented on #5256
A pure render component compares props and state in `shouldComponentUpdate` to see if the component should re-render, for example using https://facebook.github.io/react/docs/react-api.html#react.purecomponent. (Material-UI uses `recompose/pure`.).

Without this the icons will re-render every time the parent component does.

I'm going to close this for now, but we can revisit if anything changes in

[2017-01-13 17:56] #5256 closed

[2017-01-13 18:14] mbrookes commented on #5913
@lednhatkhanh Please refer to the documentation for supported props.

[2017-01-13 18:14] #5913 closed

[2017-01-13 18:17] mbrookes commented on #5861
Did this work in a previous version?

[2017-01-13 18:28] mbrookes commented on #5814
@CryZe Please submit a PR preferably (or separate issue otherwise) for that.

[2017-01-13 18:45] mbrookes commented on #2310
@balrajhariharan

1. Please don't piggyback on existing issues with your own, even if tangentially related.
2. Please don't use github issues for 'howto' questions.

Thanks.

[2017-01-13 18:46] stunaz commented on #5925
Agreed, I went through that confusion too when testing the `Layout ` Component

[2017-01-13 18:50] mbrookes commented on #2414
@tomgron Please don't resurrect long closed issues with stray comments - it spams the maintainers.

[2017-01-13 19:23] mbrookes commented on #5920
@patorjk, Does `menuStyle` do what you need?

[2017-01-13 19:27] oliviertassinari commented on #5925
I'm all in with that proposal 👍 . Benchmarking other libraries, [Bootstrap](https://v4-alpha.getbootstrap.com/layout/grid/) isn't exposing any responsive classes for `xs`.
Making `.col-6` the default style applied from `0` to `(sm - 1)px`

[2017-01-13 19:29] oliviertassinari commented on #5925
Oups, by the way, I have noticed one issue with the implementation. We loose the `xs={4}` style if the screen width is under the media query point. I don't think we need any media query for the `xs` properties.

[2017-01-13 19:36] Sharlaan commented on #5920
[code]

i were using menuProps before, thanks for the update mbrookes.

[2017-01-13 19:36] mbrookes commented on #5917
https://github.com/callemall/material-ui#note Thanks.

[2017-01-13 19:36] #5917 closed

[2017-01-13 19:42] mbrookes commented on #5916
Fix previously applied to `RaisedButton`: https://github.com/callemall/material-ui/pull/5159/files

[2017-01-13 19:45] mbrookes commented on #5916
@MustD Feel free to submit a PR following #5159. :+1:

[2017-01-13 20:12] #5920 closed

[2017-01-13 20:13] rosskevin commented on #5925
Agreed, no media queries required for these properties.

[2017-01-13 20:59] ffxsam commented on #1594
Best not to use string refs anymore. ref callback is the way to go.

[2017-01-13 21:04] patorjk commented on #5920
Yep, that's what I needed. The menuStyle parameter works without having to modify the AutoComplete file.

I am noticing it's kind of slow for very large lists, so I'll keep an eye out for when you all integrate in react-virtualized.

[2017-01-13 21:05] ffxsam commented on #1594
BTW, modifying @dogrocker 's code a bit:

[code]

Remember that upon DOM node or React component unmount, `ref` will get called again with a `null` argument.

[2017-01-13 21:24] mbrookes commented on #5880
@DmsChrisPena has gone away.

[2017-01-13 21:24] #5880 closed

[2017-01-13 21:42] mbrookes commented on #5832
@pepjo We're focussing on bugfix PRs on `master`, and applying these sorts of breaking changes on `next`.

`AutoComplete` hasn't been ported yet though. Thanks  for the offer of a PR, but lets park this for now.

[2017-01-13 21:42] #5832 closed

[2017-01-13 21:44] tracker1 commented on #5256
FYI: As of React 15.3, render method components are "pure", they will only re-render if the props change.

[2017-01-13 23:41] yinanfang commented on #4444
@yulric I came across a similar situation. According to your solution, setting the table selectable prop to false will make the check box on the left unelectable too. What should I do if i still want the check box to be selectable?

[2017-01-13 23:48] mbrookes commented on #5256
Do you have a reference for that? There's nothing in the release notes or docs... or the source code AFAICT:

It's either a stateless function component or its a pure component:
https://github.com/facebook/react/blob/master/src/renderers/shared/stack/reconciler/ReactCompositeComponent.js#L207-L211

And it doesn't update if it's a pure component with shallow-equal props & state:
https://github.com/

[2017-01-14 01:13] #5925 closed

[2017-01-14 10:00] #5498 closed

[2017-01-14 10:04] oliviertassinari commented on #5906
From my point of view, `className` should always be applied to the root element of the component.

[2017-01-14 10:26] oliviertassinari commented on #5029
@PolGuixe That margin is applied by default by the browsers. You need to reset it.

[2017-01-14 10:26] #5029 closed

[2017-01-14 10:30] oliviertassinari commented on #4028
The Yandex browser is based on Chromium, it could be an issue with https://github.com/rofrischmann/inline-style-prefixer. Still, this browser market share looks quite low: http://www.liveinternet.ru/stat/ru/browsers.html?slice=ru&id=41&id=42&show=rafra%C3%AEchir+le+graphique&per_page=50&report=browsers.html%3Fslice%3Dru.

[2017-01-14 10:35] oliviertassinari commented on #5902
For some reason I can't reproduce it with the docs but can with [webpackbin](http://www.webpackbin.com/Nk0Gu1QUf).
I have no idea what's going on here.

[2017-01-14 10:46] oliviertassinari commented on #5089
Following that [answer on StackOverflow](http://stackoverflow.com/questions/1750670/how-do-you-specify-table-padding-in-css-table-not-cell-padding/1761254#1761254) you can't apply a padding on a `<table />` element.
See for another solution http://stackoverflow.com/questions/339923/set-cellpadding-and-cellspacing-in-css.

I'm removing that style from our component with #5932.

[2017-01-14 10:46] #5089 closed

[2017-01-14 10:55] oliviertassinari commented on #3388
The question has been answered by @aaronboss, thanks!
For instance http://www.webpackbin.com/4JzBGxXUM.

[2017-01-14 10:55] #3388 closed

[2017-01-14 10:58] oliviertassinari commented on #5560
I'm closing the issue as has been stale for quite some time now.

[2017-01-14 10:58] #5560 closed

[2017-01-14 11:03] oliviertassinari commented on #2163
I'm closing that issue as we should be able to change the style of the internal `DropDownMenu` component with the `menuStyle` property. Feel free to open an issue with a reproduction test case if you find one.

[2017-01-14 11:03] #2163 closed

[2017-01-14 11:49] MustD commented on #5916
PR: https://github.com/callemall/material-ui/pull/5933

[2017-01-14 14:58] MichaelLeeHobbs commented on #5041
@CASandmann Read number 4 here: https://facebook.github.io/react/warnings/unknown-prop.html

[2017-01-14 16:41] petermikitsh commented on #5902
@oliviertassinari Not sure if it's any help, but I opened your webpackbin in Firefox and Safari on OS X and the issue wasn't present.

[2017-01-14 19:50] greenkeeper[bot] opened #5934 "An in-range update of karma is breaking the build 🚨"
## Version **1.4.0** of [karma](https://github.com/karma-runner/karma) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/callemall/material-ui/compare/greenkeeper%2Fkarma-1.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      karma
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2017-01-14 22:56] #5934 closed

[2017-01-15 08:11] gyfis commented on #4841
I've just encountered this bug as well, though I need to say that for me, it didn't work when I specified the color by name (e.g. `labelColor={'white'}`), but when I replaced the color with actual hex code (e.g. `label={'#ffffff'}`) it started to work again - I think it's because the hover is created by adding alpha to the color and the framework not being able to properly parse RGB from the strin

[2017-01-15 16:18] mbrookes commented on #4841
@gyfis That's correct, we don't attempt to map string colours in https://github.com/callemall/material-ui/blob/master/src/utils/colorManipulator.js.

Given the move to jss styling in the `next` branch I think it's unlikely we'll fix this, so am closing the issue.

@gyfis Thanks for following up.

[2017-01-15 16:18] #4841 closed

[2017-01-15 16:51] mbrookes opened #5937 "[Popover] Doesn't reposition with anchorEl"
### Problem description

When moving the anchor element (for example resizing the page), the popover doesn't reposition.

### Link to minimally-working code that reproduces the issue

https://material-ui-1dab0.firebaseapp.com/component-demos/menus#menus

### Versions

- Material-UI: next
- React: ^15.0.0
- Browser: Any

[2017-01-15 17:38] gyfis commented on #4841
@mbrookes Thanks for the info! Yeah, it makes sense not to parse colors input in this way. Do you think it would be a good idea to add a general warning about 'adding a non-parseable color to component - this might cause component effects not to work', possibly in the `next` branch?

[2017-01-15 17:56] mbrookes commented on #4841
We don't have `xxxColor` props on `next`, so it will be less of a problem. Throwing a warning in the `decomposeColor` function in `colorManipulator` on `master` mightn't be a bad idea.

Feel free to submit a PR - should only need a couple of lines. Here's an example warning: https://github.com/callemall/material-ui/blob/master/src/DatePicker/dateUtils.js#L11

[2017-01-15 18:04] mbrookes commented on #3810
Where it makes sense this is happening on `next`. I think it's safe to close this now.

[2017-01-15 18:04] #3810 closed

[2017-01-15 18:05] #3817 closed

[2017-01-15 18:09] mbrookes commented on #3678
Some of these ideas made it into `next`. I think we can close this now.

[2017-01-15 18:09] #3678 closed

[2017-01-15 18:14] mbrookes commented on #3268
This was good work, but things are changing with `next`. Closing.

[2017-01-15 18:14] #3268 closed

[2017-01-15 18:47] mbrookes commented on #4786
Closed by #5852.

[2017-01-15 18:47] #4786 closed

[2017-01-15 19:49] gyfis commented on #4841
I submitted the PR: #5939

[2017-01-16 08:02] dahei commented on #3388
@oliviertassinari Thanks for the heads-up! labelStyle is working!

[2017-01-16 09:38] ysds opened #5942 "[Stepper] font-family for stepper label"
### Problem description

The font family is not specified on stepper label. Theme fonts should be applied.

### Link to minimally-working code that reproduces the issue

http://www.webpackbin.com/NyTvftrUM

### Versions

- Material-UI: v0.16.7

[2017-01-16 10:19] antoinerousseau commented on #5588
I was about to make a PR for this issue, but I just found out how to proceed: you must use the `menuProps` prop to pass down props to the [`<Menu>` component](http://www.material-ui.com/#/components/menu), in this case `menuItemStyle`. Example:

[code]

[2017-01-16 11:01] khotey opened #5944 "Can I get data by click on dropdown item from Autocomplete ?"
I have AutoComplete
[code]

dataSource(::this.renderContractorsList())

[code]

How can I get data by dropdown click in format `{ name: contractor.name, id: contractor.id }`

[2017-01-16 11:23] khotey commented on #5944
[code]

Added `onNewRequest={::this.onContractorItemClick}`

[code]

[2017-01-16 11:25] #5944 closed

[2017-01-16 12:03] mbrookes commented on #5588
@antoinerousseau Thanks!

[2017-01-16 12:03] #5588 closed

[2017-01-16 14:49] khotey opened #5945 "Dont open item list when focus Autocomplate"
[code]

[code]

But when I click(focus) AutoComplete element list dont show, what's wrong ?

If I add `searchText`

[code]

[code]

If I focus before type anything list show, but if I start type AutoComplete dont search and have error

[code]

[2017-01-16 19:26] mbrookes commented on #5945
https://github.com/callemall/material-ui#note Thanks!

[2017-01-16 19:26] #5945 closed

[2017-01-16 20:32] davclark commented on #4834
This is not documented...

[2017-01-16 20:43] #5916 closed

[2017-01-16 20:44] #5942 closed

[2017-01-16 21:00] danep93 commented on #5288
Is anyone still working on this? If not I'd like to give it a try

[2017-01-16 21:02] danep93 commented on #5459
Should this be closed? I see jvhoven submitted a PR that does exactly what this issue describes.

[2017-01-16 21:05] #5459 closed

[2017-01-16 21:06] oliviertassinari commented on #5459
Thanks for the reminder.

[2017-01-16 21:09] mbrookes commented on #5288
This was fixed by #5389. 👍

[2017-01-16 21:09] #5288 closed

[2017-01-16 22:58] oliviertassinari commented on #5738
We just had @ttrmw facing that issue on the gitter channell.
I have simple proposal for that issue.
We can implement a custom propTypes validator that would replace the `PropTypes.object.isRequired` one.

[2017-01-16 22:59] gaearon commented on #5738
That sounds reasonable.

[2017-01-17 02:02] mr-e- commented on #3850
Was this fixed? I am running 0.16.7 and I am still not seeing the ripple in Firefox.

[2017-01-17 02:42] mbrookes commented on #3850
@mr-e- This is fixed in the `next` branch where we are working on a drains-up rewrite. It is still some way from release.

[2017-01-17 02:44] raitucarp commented on #1404
The documentation is not clear enough for me. hmmm

[2017-01-17 07:11] r3dDoX opened #5947 "Remove react-tap-event-plugin dependency"
### Description
As linked in the repo of the react-tap-event-plugin, all major mobile browsers today support clicks without 300ms delay if you add `<meta name="viewport" content="width=device-width">`.

In my opinion this dependency should now be removed.

### Images & references
https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away

[2017-01-17 09:40] khotey commented on #5945
Thanks ! I resolve the problem, but in documentation http://www.material-ui.com/#/components/auto-complete

[code]

But when I focus, without typing anything, don't show list

[2017-01-17 10:05] dalpo commented on #5587
The issue is present to the website examples too:
http://www.material-ui.com/#/components/table

[2017-01-17 11:48] mbrookes commented on #5947
Removed in `next`.

[2017-01-17 11:48] #5947 closed

[2017-01-17 12:26] dinokopriva commented on #5903
Fixed in 0.16.7

[2017-01-17 13:32] #5903 closed

[2017-01-17 13:43] mbrookes commented on #468
Closing in favor of #1865.

[2017-01-17 13:43] #468 closed

[2017-01-17 14:05] mbrookes commented on #1168
@nathanmarks I see `next` is still using `div` by default. Is using `ul` / `li` a possibility, or should I mark as `wontfix`?

[2017-01-17 14:12] mbrookes commented on #1480
@abastardi @kelly-apollo I'm going to close this given that the complete overhaul of styling in the `next` branch. If you still see the issue on this [preview]( https://material-ui-1dab0.firebaseapp.com/), feel free to reopen the issue.

[2017-01-17 14:12] #1480 closed

[2017-01-17 14:15] mbrookes commented on #1482
@abastardi @theopolisme Closing this given the new styling approach on the `next` branch. If you still experience issues with this [preview]( https://material-ui-1dab0.firebaseapp.com/) feel free to reopen the issue.

[2017-01-17 14:15] #1482 closed

[2017-01-17 14:18] mbrookes commented on #1495
Closed by #4626

[2017-01-17 14:18] #1495 closed

[2017-01-17 14:21] mbrookes commented on #1706
We are addressing aria-labels generally in the `next` branch, so closing this more specific request.

[2017-01-17 14:21] #1706 closed

[2017-01-17 14:35] mbrookes commented on #1521
Resolved by the new styling approach in `next`.

[2017-01-17 14:35] #1521 closed

[2017-01-17 14:50] #2582 closed

[2017-01-17 14:56] mbrookes commented on #2252
In #4138 we concluded that we should not be providing both options. We'll review our options when the components are migrated to `next`.

[2017-01-17 14:56] #2252 closed

[2017-01-17 14:58] #2370 closed

[2017-01-17 16:36] #2145 closed

[2017-01-17 16:37] #2095 closed

[2017-01-17 16:39] mbrookes commented on #2575
Closing due to lack of recent reports of this issue.

[2017-01-17 16:39] #2575 closed

[2017-01-17 16:41] #2570 closed

[2017-01-17 16:44] mbrookes commented on #2556
Form layout is being addressed in `next`.

[2017-01-17 16:44] #2556 closed

[2017-01-17 16:46] mbrookes commented on #2510
Fixed in #4839.

[2017-01-17 16:46] #2510 closed

[2017-01-17 16:47] #2504 closed

[2017-01-17 16:51] mbrookes commented on #2454
Closing as resolved per @m2mathew. Please feel free to reopen if not.

[2017-01-17 16:51] #2454 closed

[2017-01-17 17:15] mbrookes commented on #2340
This will be addressed by composability in the `next` branch. Closing as addressed by #5062.

[2017-01-17 17:15] #2340 closed

[2017-01-17 17:18] mbrookes commented on #2326
Closing due to lack of recent reports. Feel free to reopen if this issue still occurs.

[2017-01-17 17:18] #2326 closed

[2017-01-17 17:23] mbrookes commented on #4993
Closing in favor of #4952

[2017-01-17 17:23] #4993 closed

[2017-01-17 17:49] #5114 closed

[2017-01-17 17:51] mbrookes commented on #5115
Being addressed in `next`.

[2017-01-17 17:51] #5115 closed

[2017-01-17 17:56] #5591 closed

[2017-01-17 17:58] mbrookes commented on #5497
https://github.com/callemall/material-ui#note. Thanks!

[2017-01-17 17:58] #5497 closed

[2017-01-17 18:00] mbrookes commented on #5465
https://github.com/callemall/material-ui#note Thanks!

[2017-01-17 18:00] #5465 closed

[2017-01-17 18:01] #5443 closed

[2017-01-17 18:02] mbrookes commented on #5447
Being addressed in `next`.

[2017-01-17 18:02] #5447 closed

[2017-01-17 18:07] mbrookes commented on #5390
@morenoh149 Closing for now. Please reopen if you revisit this in the future.

[2017-01-17 18:07] #5390 closed

[2017-01-17 18:08] mbrookes commented on #5399
Dupe of #4887

[2017-01-17 18:08] #5399 closed

[2017-01-17 18:10] mbrookes commented on #5367
Fixed by #5246.

[2017-01-17 18:10] #5367 closed

[2017-01-17 19:19] mbrookes commented on #5818
@patrickml Is @MPiccinato's modified example sufficient for your use case?

[2017-01-17 19:24] #5699 closed

[2017-01-17 19:26] #5706 closed

[2017-01-17 19:27] #5747 closed

[2017-01-17 19:30] mbrookes commented on #5495
https://github.com/callemall/material-ui#note Thanks!

[2017-01-17 19:30] #5495 closed

[2017-01-17 19:33] #5861 closed

[2017-01-17 19:38] tracker1 commented on #5256
Created an issue...

https://github.com/gorangajic/react-icons/issues/80

[2017-01-17 19:39] marcacyr commented on #5588
Thanks @antoinerousseau!! That was not immediately obvious, but very glad the usage is simple! Many thanks!

[2017-01-17 19:42] mbrookes commented on #5815
@dansiviter Use `docked-{true} zDepth={0}`.

[2017-01-17 19:42] #5815 closed

[2017-01-17 19:48] mbrookes commented on #5907
I understand your issue, but I don't think it's currently a use case we can accommodate. An enter key is valid input, and the textfield responds accordingly. SInce you've found a workaround, lets park it here.

[2017-01-17 19:48] #5907 closed

[2017-01-17 19:49] Egidius commented on #5699
I am unable to see the code on the web, but it is kind of weird because when you look at the ticket on Gitter it in face does show code:

<img width="534" alt="screen shot 2017-01-17 at 20 47 35" src="https://cloud.githubusercontent.com/assets/1000275/22037163/70f7defc-dcf6-11e6-8a21-1c962e06da53.png">

[2017-01-17 19:50] mbrookes commented on #5892
AppBar is just a container in `next`, so you'll be able to use any components, and style them at will. I don't realistically see us changing this in `master`.

Thanks for opening the issue.

[2017-01-17 19:50] #5892 closed

[2017-01-17 20:06] mbrookes commented on #5699
@Egidius You need to wrap your code example in ```

Regardless: https://github.com/callemall/material-ui#note Thanks.

[2017-01-17 20:08] mbrookes commented on #5873
By "no longer" are you saying it did previously? If so that was a side effect of the underlying `EnhancedButton` rather than a documented feature.

[2017-01-17 20:13] mbrookes commented on #5870
`<circularProgres color="'currentColor'" />` ?

[2017-01-17 20:19] mbrookes commented on #5820
Your component is intercepting props that are used to style the IconButton, so not so easy to fix given the current styling approach. Things will get better here with `next`. Closing for now

[2017-01-17 20:19] #5820 closed

[2017-01-17 20:24] mbrookes commented on #5814
@johntran
https://github.com/callemall/material-ui/issues/5390#issuecomment-260974005

[2017-01-17 20:49] tianchu commented on #4411
Same issue reproduced here.

[2017-01-17 21:01] mbrookes commented on #5787
Fixed in `next`. :+1:

[2017-01-17 21:01] #5787 closed

[2017-01-17 21:12] #5783 closed

[2017-01-17 21:32] mbrookes commented on #3809
Fixed in `next`.

[2017-01-17 21:32] #3809 closed

[2017-01-17 21:37] mbrookes commented on #5717
Fixed in `next`.

[2017-01-17 21:37] #5717 closed

[2017-01-17 21:39] #5683 closed

[2017-01-17 21:45] mbrookes commented on #5694
That's just the way it's deigned, sorry. If you want to avoid it, you'll have to make sure your wrapped passes through any props expected by the wrapped component, and possibly set `muiName` to the name of the child component. YMMV. Closing as there's no easy fix for this.

[2017-01-17 21:45] #5694 closed

[2017-01-17 21:46] mbrookes commented on #5674
OP has gone away.

[2017-01-17 21:46] #5674 closed

[2017-01-17 21:47] mbrookes commented on #5667
Please use Popover.

[2017-01-17 21:47] #5667 closed

[2017-01-17 21:50] stevewillard opened #5952 "Publish non-transpiled code as part of release"
Is there any possibility that as part of the release process, the ES2015 Components can be included as part of the published NPM artifacts?

I'm working in a large React app, which is already doing transpiling and I don't want the babel transform-runtime as part of every component (babel-polyfill is already in the bundle). My primary motivation is reducing bundle size. In other libraries ([react-r

[2017-01-17 21:59] R11 opened #5953 "no support for floatingLabelShrinkStyle"
@types does not appear to have the `floatingLabelShrinkStyle` property for TextFields. This was added a few versions back in material-ui, but does not appear to be supported here leading to typescript errors unless I manually change the package.

Is anybody else having a similar problem?

### Versions

- Material-UI: 0.16.7
- React: 15.4.2
- Browser:

[2017-01-17 22:08] #5634 closed

[2017-01-17 22:13] ehourigan opened #5954 "[DropDownMenu- Feature Request] Allow custom FontIcon child"
### Description
Nice-to-Have: customize the DropDownMenu IconButton with a custom material-ui FontIcon

### Images & references
https://github.com/callemall/material-ui/blob/master/src/DropDownMenu/DropDownMenu.js#L369

[2017-01-17 22:24] r3dDoX commented on #5947
That's awesome 👍

[2017-01-17 22:36] oliviertassinari commented on #5952
Have a look at #5533. That might help.

[2017-01-17 23:15] stevewillard commented on #5952
I'm actually already importing components directly, and that definitely helped quite a bit. Material-ui is still by far the largest dependency in my chunks, so I'm looking for more I can do.

[2017-01-17 23:54] mbrookes commented on #5953
@types?

[2017-01-17 23:58] #5953 closed

[2017-01-18 01:03] #3651 closed

[2017-01-18 02:31] t09tanaka commented on #4764
Hi,

I meet this problem in older Android devices and in Google Chrome Mobile Simulator (Galaxy S III).
I guess the cause is CSS3 flexbox and we can`t override those styles.

[2017-01-18 04:26] luanad6365 opened #5955 "[Table] Enable select all function remember checkbox when I change to new page"
### Problem description
I use Table component, and I have a paginator. When I click to checkbox to select all row in page 1, and I change to new page (ex: page 2), then all checkbox of row in page 2 will be checked. Any solution to fix this case ? Because I just want to use enable select all to check all row in 1 page. Thanks you

### Versions

- Material-UI: 0.16.4
- React: 15.4.1
- Browser: all

[2017-01-18 08:06] dansiviter commented on #5815
I've tried that and it didn't work. I used:

[code]

Which has given:

![image](https://cloud.githubusercontent.com/assets/1540398/22055800/d1b0ac5c-dd54-11e6-87d1-95d65fba0fc0.png)

As you can see there are lots of elements hidden by the drawer and there is no drop shaddow.

[2017-01-18 09:51] itaylorweb commented on #5873
@mbrookes Yes it did previously work.

[2017-01-18 11:49] khotey commented on #5945
Added `searchText`

[code]

[code]

[2017-01-18 12:20] teknologist commented on #4413
Same problem here with just checked and onCheck props.

I do update the checked prop from a parent component

[2017-01-18 12:27] teknologist commented on #4413
Same here.

[code]

I update the editable prop from the parent component.
When I toggle, I get the warning.

Everything works as expected though

[2017-01-18 14:24] mbrookes commented on #4764
Yes, we are moving increasingly towards flexbox, sorry, but this is unlikely to change.

[2017-01-18 14:24] #4764 closed

[2017-01-18 14:35] mbrookes commented on #5955
https://github.com/callemall/material-ui#note Thanks!

[2017-01-18 14:35] #5955 closed

[2017-01-18 14:38] mbrookes commented on #5815
There's no shadow because you've disabled it, so you'll need to add a border. You'll also need to position the Drawer appropriately.

https://github.com/callemall/material-ui#note Thanks!

[2017-01-18 14:43] mbrookes commented on #5873
Okay thank, I'm going to mark as a regression, but it may well be it was never intended to work.

[2017-01-18 15:17] KarenKelly818 commented on #3289
I know this is an ongoing discussion and some attempts have been made to alleviate the performance issues (e.g., shouldComponentUpdate). I have improved performance using Chrome on my Macbook, but in testing via Browserstack on IE11 and Edge, the Checkbox component I'm using in my material-virtualized table is basically unusable. It's taking several seconds to check/uncheck which obviously is unte

[2017-01-18 15:36] kristjanmik commented on #4437
For those of you still coming to this issue:
picanteverde approach confirmed to work. Also good pointers by oliviertassinari

[2017-01-18 17:04] Gattermeier opened #5957 "Identify which [SelectField] [DropDownMenu] fired onChange"
I am programmatically rendering multiple SelectField and DropDownMenu components. I am trying to work with a single onChange handler functions, but I'm have not found a way to reference specific SelectField / DropDownMenu that triggered the event so I can update state accordingly.
The params passed for the onChange event seem not to contain any helpful information to identify the firing components

[2017-01-18 17:40] patrickml commented on #5818
@mbrookes sadly it doesn't since we are using redux and graphql to power our input fields the object is not guaranteed to be the same. If it doesn't fit the scope of the project I have it working with the JSON.stringify hack for now.

[2017-01-18 19:22] alexhayes commented on #4671
@bteepell's suggestion works however be aware that you need to change the `tooltipPosition` of the last row, for example;

[code]

[2017-01-18 20:07] jrschifa commented on #5812
To add to this, It would appear that `autoWidth` is not passed down to the `Menu` component. I'm not sure if this is intentional or just an oversight.

[2017-01-18 20:30] pomerantsev commented on #5870
Well - the solution was staring me in the face, but I still wasn't able to see it.
Thanks @mbrookes!

[2017-01-18 20:30] #5870 closed

[2017-01-18 20:58] rosskevin commented on #5756
I'll take this and PR it.  I propose we simply shorten this name to `Icon`.  Acceptable?  I don't think `FontIcon` is needed to distinguish it from `SvgIcon`.

[2017-01-18 21:27] mbrookes opened #5959 "[Docs] Encountered two children with the same key' in Tabs demo"
### Problem description

![image](https://cloud.githubusercontent.com/assets/357702/22083602/bb9ff74a-ddc4-11e6-8116-c4d7b832ce9a.png)

### Versions

- Material-UI: `next`

[2017-01-18 22:05] mbrookes commented on #5957
https://github.com/callemall/material-ui#note Thanks!

[2017-01-18 22:05] #5957 closed

[2017-01-18 22:10] mbrookes commented on #5818
I'll leave it open and we can see if it gets any reactions.

[2017-01-18 22:11] patrickml commented on #5818
Sounds like a plan. And btw thanks for all the great work on this project
thus far
On Wed, Jan 18, 2017 at 5:10 PM Matt Brookes <notifications@github.com>
wrote:

[2017-01-18 22:21] rosskevin opened #5960 "[next] Icon prop vs child review"
### Description
Review note/todo:
In implementing `Icon` #5756, I notice an inconsistent use of `icon` as a prop and `Icon` as a child.  @nathanmarks used the `icon` prop, whereas @mbrookes changed a component (forgot which one) and determined if an icon was passed as a child in either `IconButton` or `Avatar`. (I think this is correct if my memory hasn't failed me).

This issue is simply that I t

[2017-01-18 22:26] huntwj opened #5961 "DropDownMenu alignment issues in ToolBar"
### Description
### Images & references

### Problem description
When `DropDownMenu`s are composed inside `Toolbar` components, they are not aligned with other text such as `ToolbarTitle` components.

[code]

### Versions

- Material-UI: 0.16.7
- React: 15.4.1
- Browser: Chrome 55.0.2883.95

[2017-01-18 22:28] mbrookes commented on #5812
It's being consumed here: https://github.com/callemall/material-ui/blob/master/src/DropDownMenu/DropDownMenu.js#L339

I'm note sure that the use of `secondaryText` in `DropDownMenu` `MenuItems` was anticipated...

[2017-01-18 23:08] mbrookes commented on #5960
It was `Avatar`.  I had previously converted it and `Chip` with `children` during the early testing of` jss` based on a (lofty) goal of fully composable components. So when I migrated those components to `next`, I suggested the change to `Avatar` from props to children. In the end, `Avatar` went the composable route, while @oliviertassinari preferred that `Chip` use props rather than multiple chil

[2017-01-18 23:09] yanickrochon commented on #5812
Well, it was not specified anyway. :wink:

[2017-01-18 23:43] Lavioli commented on #3147
I am having the same issue as well.
[code]

tried it with autoFocus to see if enter might work but it doesn't :/

[2017-01-18 23:56] jrschifa commented on #5812
Yes, but since `autoWidth` isn't passed down, [setWidth()](https://github.com/callemall/material-ui/blob/master/src/Menu/Menu.js#L478) always runs potentially resulting in a different width than the one passed in `menuStyle`

[2017-01-19 00:01] mbrookes commented on #3147
`ontouchTap`?

[2017-01-19 00:13] dcworldwide commented on #3181
Same issue for me. Is there a way to clip the text as a temp workaround?

![hint overlap](https://cloud.githubusercontent.com/assets/4898751/22088454/d7a986c0-de2f-11e6-9ea8-a7a8ac0fa310.png)

[2017-01-19 01:14] Lavioli commented on #4670
@rdnewman , thank you! your method works. I put it in my index.js file where it contained the ReactDOM.render method file and it also worked that way. 👍

[2017-01-19 02:08] Lavioli commented on #3147
@mbrookes I tried that, it doesnt work.

I had no choice but to put an input tag inside the RaisedButton to allow autoFocus... Any other suggestions on how I can avoid doing this way?

[code]

[2017-01-19 03:25] gunx3961 opened #5964 "[Table] 'onRowSelection' does't get called with 'none' while deselecting all rows by check a single row"
### Problem description
![error](https://cloud.githubusercontent.com/assets/10007840/22092459/a493d35e-de38-11e6-8eee-df90d1f46bb7.gif)

Try checking a single row after the table has been allSelected,
the single row won't be checked but 'onRowSelection' will get called with an array, which includes the single row's key.

### Link to minimally-working code that reproduces the issue
[code]

### Vers

[2017-01-19 05:01] gchudnov commented on #3289
@KarenKelly818,
guess, it will be improved in the `next` branch. Here is the [roadmap](https://github.com/callemall/material-ui/blob/master/ROADMAP.md)

[2017-01-19 09:18] mbrookes commented on #3147
http://www.material-ui.com/#/get-started/installation ?

[2017-01-19 09:47] Foxhoundn opened #5966 "Not able to compose the Table component with HOCs"
### Problem description
I am trying to build a table component on top of the Material table but nothing is being rendered because table expects <TableHeader/Body/Footer /> to be rendered, but I am wrapping them in multiple HOCs etc. Is there a workaround to this or do I have to use the basic Table only (which is not useful on it's own).

The error that is displayed is:

Material-UI: Children of th

[2017-01-19 10:14] apendua commented on #1132
Have you guys considered using [styled-components](https://github.com/styled-components/styled-components) approach? It looks like that's slowly becoming the new standard so it would be great to see it in Material UI as well.

[2017-01-19 10:16] oliviertassinari commented on #1132
@apendua We have, that's not performant and flexible enough for our needs https://github.com/oliviertassinari/a-journey-toward-better-style.

[2017-01-19 10:16] mciastek opened #5967 "Modify Tab's button style: Unknown prop buttonStyle"
### Problem description

I want to modify the style of Tab's button, but I get following error:
[code]

### Steps to reproduce

[code]

### Versions

- Material-UI: 0.16.5
- React: 15.4.1
- Browser: Chrome 55

[2017-01-19 10:33] apendua commented on #1132
@oliviertassinari Thank you for a quick answer. That's a very interesting project you've been working on. Thanks for the link.

[2017-01-19 12:53] #5738 closed

[2017-01-19 13:05] oliviertassinari commented on #5960
That's a good question @rosskevin.
I remember discussing that point in detail with @mbrookes.
There is definitely an API tradeoff to make. Let's see the motivation behind our current API & tradeoff. Basically, we are applying those three rules in that specific order of priority:
1. Using the `children` property is the idiomatic way to do composition with React.
2. When we need limited children com

[2017-01-19 13:48] petrogad opened #5968 "[Button] stripping href from containerElement returning a tag"
### Problem description
react-router `Link` elements do not support external links by default.  There are comments in their library that show you how to handle externalizing these links by creating a `HOC` to essentially check for the host, if it's external return an `a` tag instead of the react-router link tag.

[code]

The problem is in Material-UI (a most wonderful library may I add) when you u

[2017-01-19 14:58] gpapin commented on #1348
I was surprised to see this component is not publicly available this is very useful to avoid overcrowded interfaces and to guide users...

Any updates on this ?

[2017-01-19 15:14] MarkMurphy commented on #4952
I'd actually prefer that this be included with material-ui rather than be another dependency I have to add to my project. I think we should try to be on par with the Angular Material library.

There's images of this sort of thing in the [material.io chip component docs](https://material.io/guidelines/components/chips.html), so all the more reason to include it here in my opinion.

Let's make it as

[2017-01-19 15:24] leMaik commented on #4952
@MarkMurphy What's the problem with dependencies? You could either have one very big, everything-dependency (and I don't think that Material-UI should aim to be this library) or you could "outsource" things into seperate projects. I don't really see a difference here, as long as both, the everything-dependency and the small dependencies are well documented.

Also, just look at how many issues and

[2017-01-19 15:42] Sharlaan commented on #4952
imho, i think Murphy refers to the hassle of searching into multiple different documentations in the case of a project with tons of tierce components/dependencies.
Ideally would be easier for the developper to search all infos he need in material-ui.com documentation.
Correct me if i'm wrong.

But in practice, i think it's better to start those new components in a per-component basis like leMaik e

[2017-01-19 15:51] leMaik commented on #4952
@Sharlaan I'd prefer to merge the _documentation_ instead of the code. Wouldn't it be cool to keep the code separate but have a single source of documentation for Material-UI and 3rd-party components? That could be the best of both worlds: Less searching for documentation and components while still maintaining every component on its own.

[2017-01-19 15:52] MarkMurphy commented on #4952
@Sharlaan Yes, valid point.

@leMaik Nothing wrong with dependencies but the more you have the harder it is to maintain when you need to update them and later on reason about when you ask yourself why you installed them in the first place.

Second, when I found material-ui, and read through material.io I was disappointed that the component you built (but existed in the Angular version) wasn't avai

[2017-01-19 15:53] MarkMurphy commented on #4952
I would say that if it's included or shown in material.io documentation, it should be included in material-ui

[2017-01-19 15:55] leMaik commented on #4952
@MarkMurphy The point is: When it's inside of Material-UI, I actually don't have access to the component anymore. I'd have to PR every change and filter out the issues of Material-UI, making maintenance a little harder.

I agree that it should be easier to find components, see my previous comment.

[2017-01-19 15:57] Sharlaan commented on #4952
True it's annoying to PR every change and waiting for author thoughts/approval  ....

Then how about applying to MaterialUI maintainer team XD ?

[2017-01-19 16:00] MarkMurphy commented on #4952
How to other projects handle this, is there a way to do both? I think Ruby on Rails is kind of a combination of both. But obviously that's a bit different

[2017-01-19 16:02] leMaik commented on #4952
@Sharlaan I still don't see a point in merging every component inside this project. The bigger it gets, the harder it is to maintain.

I would say that if it's included or shown in material.io documentation, it should be implemented in Material-UI or at least be linked in the documentation of Material-UI.

[2017-01-19 16:05] MarkMurphy commented on #4952
@leMaik In my opinion it would be even harder to maintain having what I consider core components distributed elsewhere.

[2017-01-19 16:06] leMaik commented on #4952
@MarkMurphy For me (a maintainer), it would be harder to maintain if it wasn't my project. Above, you were on the user's side, and I totally agree that it's harder to use many dependencies.

I don't really regard the chip input as a core component. The chip and the text field are core components, that can be used to build other stuff (e.g. a chip input).

[2017-01-19 16:16] Sharlaan commented on #4952
er.... little correction leMaik: this topic is about Autocomplete with multiselect feature (chips or not is secondary ?)

I agree this topic (Autocomplete with multiselect) should be a core feature., and thus should be integrated into material-ui.

But as a maintainer, it's much easier and faster to fork it (than PR'ing every change), and then simply ask MaterialUI to add a link in their main site

[2017-01-19 16:20] leMaik commented on #4952
@Sharlaan Yep, but then the @oliviertassinari said that there was material-ui-chip input and @MarkMurphy wanted it to be included in Material-UI itself (if I got it right).

The thing is (imho): "Autocomplete with multiselect" _is_ a chip input. Or how would you implement it?

[2017-01-19 16:24] MarkMurphy commented on #4952
I'm considering Angular Material the gold standard by which to compare.

@Sharlaan I'm actually looking for an autocomplete multiselect contact chip component like the one shown in material.io docs:

| -- | -- |
| -- | -- |
| ![alt chips contact 1](https://storage.googleapis.com/material-design/publish/material_v_10/assets/0Bx4BSt6jniD7aF92ZTRxOTU4U00/components_chips_contact1.png) | ![alt chips c

[2017-01-19 16:27] GuillaumeCisco commented on #4952
I agree with Sharlaan.
For what it's worth you can achieve Multi Select Autocomplete with chips using the `react-select` library.
https://github.com/JedWatson/react-select

It's easy to use it in a material ui way.

Create your component as:
[code]
Import the css from react-select and add this css file for making it more material ui styled:
[code]
You can see I use a .scss file but you can also us

[2017-01-19 16:45] Sharlaan commented on #4952
Excellent Cisco, i'll add it as comparison component alongside my superSelectField and leMaik's ChipInput.
Hopefully i might see how to improve this into the best Autocomplete ever :p

@Murphy you have now 3 possible implementations for what you need, happy ? :)

@Cisco: why don't you use class methods, replacing ```this.method = this.method.bind(this);``` with ```method = (param) => { ... }```, g

[2017-01-19 16:58] GuillaumeCisco commented on #4952
@Sharlaan using `this.method = this.method.bind(this);` allows avoiding creating a closure every time you rerender your component. It is bad for performance, see https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md

Material ui should seriously take care of this component!
It is needed!
Date, Time and DateTime components should be a priority too. I ended up creati

[2017-01-19 17:10] Sharlaan commented on #4952
i know the rerender issue, but i were refering to [class properties](http://egorsmirnov.me/2015/08/16/react-and-es6-part3.html) (check method4)

[2017-01-19 17:22] GuillaumeCisco commented on #4952
I did not know this syntax, thanks for the discovery @Sharlaan.
Yes it is off topic we should not talk about Date, Time and DateTime anymore.
Date is missing primary color override, setting Date directly by typing it (easy to modify already set date).
Time is missing a lot features: same as date and the base TextInput in way to large by default, it makes no sense. Not open it in a dialog box shoul

[2017-01-19 17:29] leMaik commented on #4952
@GuillaumeCisco You seem to have created a great chip input component and a DateTime component and think that Material UI should take care of them? :+1: Why don't you submit a PR?

[2017-01-19 17:37] Sharlaan commented on #4952
Btw, material-ui@next switched from inlined styles to JSS.

[2017-01-19 17:43] GuillaumeCisco commented on #4952
Hey @leMaik, I did not created a chip input component in the material ui way, just used another library : react-select.
Regarding DateTime, I created one for my own needs using DatePicker and TimePicker from material ui directly. I use redux so it is very opinionated and not compatible with material ui. Also I did not found in the material ui doc from google how they implemented a correct DateTime

[2017-01-19 17:48] leMaik commented on #4952
@GuillaumeCisco Well, Material-UI sure would take care of those components _if_ somebody would just send a PR to add them! :smile:

[2017-01-19 18:36] Taakn commented on #5123
Same issue, but it ended up working with animated={true}

[2017-01-19 19:23] Sharlaan commented on #4952
@leMaik i'm wondering how to add
[code]

[2017-01-19 19:28] leMaik commented on #4952
@Sharlaan It is possible, as shown [here](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/stories/index.js#L155). Feel free to open an issue over there if you have more questions regarding the chip input component and let's get back to topic. :wink:

[2017-01-19 21:11] mbrookes commented on #5966
Did you look at Table to see where the error might originate? As a programmer, the source code is your friend. Go open-source! :tada:

`YourHOC.muiName = 'TableHeader';`

[2017-01-19 21:13] mbrookes commented on #5967
`buttonStyle` is a property of Tab, not Tabs:

http://www.material-ui.com/#/components/tabs

[2017-01-19 21:34] mciastek commented on #5967
My bad, I made typo in above example. It's indeed problem with `<Tab>` component, not with `<Tabs>`. You see it in error that is printed in console, which says that `buttonStyle` is invalid prop on `<button>` tag.

[2017-01-19 22:16] mbrookes commented on #5967
Fixed in 0.16.7: https://github.com/callemall/material-ui/releases/tag/v0.16.7

[2017-01-19 22:16] #5967 closed

[2017-01-19 22:58] zachguo commented on #1511
I gonna close this, guys. Few takeaways from this thread:

- logics for pagination and infinite scrolling should be handled by user/you not MUI
- examples for `TableFooter` can be found above
- "next major version we'll be including a regular table and an example of a material styled infinite/virtualized data grid component." https://github.com/callemall/material-ui/issues/1511#issuecomment-235240

[2017-01-19 22:59] #1511 closed

[2017-01-20 02:15] derkachdeveloper opened #5970 "How FIX Unknown prop `onTouchTap` on <button> tag and tap crash after?(typescript)"
**How fit it?**

console:
![image](https://cloud.githubusercontent.com/assets/6834477/22132513/87df8634-decb-11e6-99bf-627127f194b2.png)

**And it after tap event:**
![image](https://cloud.githubusercontent.com/assets/6834477/22132905/00397106-dece-11e6-8f3d-32c9e4774ebf.png)

![image](https://cloud.githubusercontent.com/assets/6834477/22132850/9eda7608-decd-11e6-8b04-9a46c92603d4.png)

**Packages

[2017-01-20 03:15] greenkeeper[bot] opened #5971 "An in-range update of babel-cli is breaking the build 🚨"
## Version **6.22.1** of [babel-cli](https://www.npmjs.com/package/babel-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/callemall/material-ui/compare/greenkeeper%2Fbabel-cli-6.22.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-cli
    </td>
  </tr>
  <tr>
    <th align=

[2017-01-20 04:29] zhangmengying opened #5972 "[Dialog] Scrollable Dialog not repositioned properly after keyboard dismissed"
### Problem description

Dialog not centered after keyboard dismissed.

Step 1: Open a dialog with scrollable content.
Step 2: Give focus on the TextField, keyboard showed and the dialog repositioned.
Step 3: Close keyboard.

After Step 3:
Expect: Dialog repositioned in the center of the screen just like it first opened.
Reality: Dialog not centered, cause the bottom button out of screen.

![step1

[2017-01-20 08:12] luokuning commented on #5723
@elTallarin I have the same issue as you, and only in Chrome, have you found solution?

[2017-01-20 08:28] EclipticWld commented on #2932
@iamzhouyi try to use something like

[code]

[2017-01-20 09:22] jonas-e-medicus commented on #5354
I faced the same issues with the following versions:
  "react": "^15.4.2",
  "react-test-renderer": "^15.4.2"
  "jest": "^18.1.0",
  "material-ui": "^0.16.7",

I had to mock the following internal modules to take a snapshot of the material-tabel

jest.mock('material-ui/internal/EnhancedSwitch')
jest.mock('material-ui/internal/Tooltip')

[2017-01-20 12:41] cescoferraro opened #5973 "Server-side rendering warning with Express.js"
I got pretty much the same problem as #4466.

I know I can set NODE_ENV to production. And the error is gone, but that changes a lot of things.
In my particular case, it triggers the actual production build of the app and I am trying to set a Universal development environment with HMR.  All works fine expect for this library. Here it is what I am trying.

### Express middleware

[code]

### Univer

[2017-01-20 13:27] #5970 closed

[2017-01-20 13:32] mbrookes commented on #5970
Please use the issue template for reproducible bugs.

[2017-01-20 15:05] holen82 commented on #5890
+1 Seeing the same.

- Material-UI: 0.16.0
- React: 15.3.2
- Browser: Chrome on Android 6.0.1

[2017-01-20 15:36] cescoferraro commented on #5973
@nnnnathann suggestion on #4466 solves the issue. But its hacky! Why is this happening?
Can anyone explain? Why is material-ui adding an empty property to my client code?

[code]

[2017-01-20 17:54] mbrookes commented on #5890
@holen82 - please use reactions unless you have something to add.

[2017-01-20 21:47] soualid commented on #295
This bug still exists in 0.16.7, a simple delay can be used as a temporary workaround :

    <RadioButtonGroup name='type' onChange={this.handleRadioChange}> // ...

and :

	handleRadioChange (e) {
		e.persist();
		setTimeout(() => {
			this.setState({[e.target.name]: e.target.value})
		}, 100)
	}

[2017-01-20 22:03] #3807 closed

[2017-01-20 23:18] opvasger commented on #4949
I would really like to have the datepicker have a configuration to make it start in year-selection. I think it is more than reasonable to have this integrated in the component API - I haven't found any documented way to achieve this so far...

[2017-01-21 00:34] rfgamaral opened #5975 "muiThemeable not compatible with TypeScript"
I'm trying to use the current theme colors and styles on my custom components but the way `muiThemeable` works doesn't seem to be compatible with TypeScript.

Please look at this thread: http://stackoverflow.com/questions/41149648/using-material-ui-muithemeable-in-typescript

Is that guy right or is `muiThemeable` actually usuable right now with TypeScript? If so, can anyone give an example? Becau

[2017-01-21 08:00] bulwark1374 opened #5976 "[DatePicker] In Jalali Datepicker a month consists of some previous month days"
- Material-UI:0.16.6
- React:15.4.1
- Browser:54.0.3

I am using Jalali DatePicker in my App. Years,months and days are defined correctly but placing the days in month are not correct. Sorting days in months are based on Gregorian calendar which is not compatible with Jalali calendar. For example first day of eleventh month in jalali calandar is January 20th but in Jalali Datepicker  eleventh mont

[2017-01-21 09:35] #5971 closed

[2017-01-21 09:50] jr69 opened #5977 "[DatePicker & TimePicker] Why does the DatePicker and TimePicker shift a bit to the side when closed?"
I literally just copied the code from the documents. My page also has some sort of scrollbar, but that shouldn't be a problem because the documents also have a scrollbar.

Whenever I close an opened TimePicker, it literally just shifts to the side like ~10px then animates up as normal. That small shift to the left really annoys me and I don't know how to fix this

[2017-01-21 10:51] oliviertassinari commented on #5975
The implementation of the `muiThemeable` Higer-order Component it's really simple and straightforward. If we have an issue with TypeScript, I don't think that it's limited to Material-UI.

Doesn't he provide an answer with?
[code]

I'm closing that issue.

[2017-01-21 10:51] #5975 closed

[2017-01-21 10:58] oliviertassinari commented on #5973
The `mui-prepared` property is a development helper used by Material-UI do identifies issues with the `prepareStyle` API. It's implemented [here](https://github.com/callemall/material-ui/blob/master/src/utils/callOnce.js).

You have a mismatched environment between the client and the server.
You need either to have both in `development` or both in `production` mode. Not a mixed.

⚠️  That `prepare

[2017-01-21 10:58] #5973 closed

[2017-01-21 14:28] rfgamaral commented on #5975
@oliviertassinari I'm no expert on TypeScript, I just started using it... But that seems like a function declaration that doesn't do anything by itself.

I still have no idea how can I invoke `muiThemeable` on my custom React components to allow them to use the theme from Material-UI. Can you help me with that?

[2017-01-21 14:38] oliviertassinari commented on #5975
From my perspective, you need a large codebase & team to justify using a type checking system. Otherwise, the ratio value/cost is < 1.

Are you using any other Higher-order component like [react-redux](https://github.com/reactjs/react-redux) or [recompose](https://github.com/acdlite/recompose)?
Try with a simple one.

[2017-01-21 14:45] NewOldMax commented on #5964
I confirm same behavior on http://www.material-ui.com/#/components/table
![asd15](https://cloud.githubusercontent.com/assets/1328473/22175194/439f5b0c-e001-11e6-816b-6306ebf50312.gif)

[2017-01-21 14:57] rfgamaral commented on #5975
Sorry, but I strongly disagree with you. From my point of view, languages like JavaScript - which lack a type checking system - simply suck. Maybe I'm biased, since I have a strong background on Java and C#. I very much dislike JavaScript mostly for lacking a type checking system (and other things, but let's not got there). We could be discussing this all they long, but this not the time nor the p

[2017-01-21 15:11] mbrookes commented on #5976
Dupe of #5485. We'd be glad to review a PR for this, but don't have the language skills to help otherwise.

[2017-01-21 15:11] #5976 closed

[2017-01-21 15:40] mbrookes commented on #5977
In order for us to better help you, please use the issue template that is populated by default, and follow the issue guidelines in the [Contributing guide](https://github.com/callemall/material-ui/blob/master/CONTRIBUTING.md#contributing) that was linked to when you started to open an issue.

[2017-01-21 15:40] #5977 closed

[2017-01-21 16:33] mbrookes commented on #5587
This isn't fixed in so much as that it has been replaced by a different issue: clicking on a row after select all selects none at least as far as the rendered table goes. #5964

[2017-01-21 16:33] #5587 closed

[2017-01-21 16:39] mbrookes opened #5978 "[Table] selectAll checkbox doesn't de-select all when deselectOnClickaway set on TableBody"
### Problem description

* Visit the docs demo complex example
* Enable multi-selectable & select-all
* Click the select-all checkbox -> all rows are selected
* Click it again -> no change

### Link to minimally-working code that reproduces the issue

http://www.material-ui.com/#/components/table

### Versions

- Material-UI: 0.13.3 (first version with this issue)
- React: any
- Browser: any

Noti

[2017-01-21 16:48] mbrookes commented on #5978
Just noticed it's tied to `delectedOnClickaway`. That doesn't seem like a useful prop, so marking this as wontfix, as not using `delectedOnClickaway` is a viable workaround.

[2017-01-21 16:48] #5978 closed

[2017-01-21 17:53] FrantisekGazo commented on #4580
@PolGuixe try this:
1) use `RaisedButton` instead of `FlatButton`
2) do not use `Card`

[2017-01-21 19:21] yanickrochon commented on #5587
... but this issue is older... :confused:

[2017-01-21 19:43] mbrookes commented on #5587
AFAICT, the symptoms have changed slightly due to subsequent code changes.

[2017-01-22 08:20] ButuzGOL opened #5982 "Any plans to use Storybook ?"
Storybook https://github.com/storybooks/react-storybook

[2017-01-22 09:45] oliviertassinari commented on #5982
We don't have any plan to use Storybook for a simple reason: dogfooding.
Aside from that, we need the documentation to be responsive and to be an actual documentation, not a list of demos.

[2017-01-22 09:45] #5982 closed

[2017-01-22 11:58] calin014 commented on #5422
Any luck with this? I'm facing the same issue.

[2017-01-22 12:29] mbrookes commented on #5982
https://github.com/callemall/material-ui#note Thanks!

[2017-01-22 12:44] mbrookes commented on #5422
https://github.com/callemall/material-ui#note Thanks!

[2017-01-22 12:44] #5422 closed

[2017-01-22 16:58] mfalaize commented on #4522
I've the same problem with Epiphany browser (webkit rendered), it seems the issue come from the inline-style-prefixer dependency, even with the last version available (2.0.5). The display: flex is not rendered at all for those user-agents.

[2017-01-22 17:21] mfalaize commented on #4522
Actually, it seems the display: flex is not rendered when we use arrays in styles objects (i.e. display: ['flex', '-webkit-flex']) and for some unknown user-agents, inline-style-prefixer returns arrays with multiple values for the display attribute.

When we use arrays in styles objects, the corresponding css attribute is not rendered, regardless of the browser we use.

[2017-01-22 17:44] mfalaize commented on #4522
There are already some discussions about this issue #705, and React does not want to allow arrays in inline styles : https://github.com/facebook/react/pull/723

[2017-01-22 18:11] mfalaize commented on #4522
It seems that returning arrays does not work with React V15 : https://github.com/rofrischmann/inline-style-prefixer/issues/78 and https://github.com/necolas/react-native-web/issues/131.

[2017-01-22 22:05] nareshbhatia opened #5986 "[AutoComplete] Controlled input using object dataSource is not working"
### Problem description
It is not clear how to use AutoComplete as a controlled input when the dataSource is an array of objects. (The doc example for controlled input uses a simple string array as the dataSource.)

My dataSource is an array of objects as shown below:

[code]

I supply it to AutoComplete as follows (note `dataSourceConfig` has been set correctly)

[code]

However searchText unders

[2017-01-22 22:36] binarykitchen commented on #35
@hura it seems that this is only effective for non-modal dialogs. is this by intention, conform with the specs?

[2017-01-23 03:29] PolGuixe commented on #4580
@FrantisekGazo I used `RaisedButton` and it worked. I am stil using `Card`. ;)

[2017-01-23 12:06] oliviertassinari commented on #5960
@rosskevin Anything to add that could motivate to change the tradeoff?

[2017-01-23 12:14] oliviertassinari commented on #5986
What about that solution http://www.webpackbin.com/EkXVGJJwM?

[code]

[2017-01-23 12:21] oliviertassinari commented on #5966
People have been facing the same story with the `<AppBar />` #5053.
That's the same story.
You need to interoperate in a transparent way.
1. Add `muiName` properties to the prototype of your wrapping component.
2. Forward properties from the wrapper component to the wrapped component.

With those two steps, that should work. Feel free to submit the solution once you have it.
Hopefully, that can he

[2017-01-23 12:21] #5966 closed

[2017-01-23 12:22] #5959 closed

[2017-01-23 12:24] NewOldMax opened #5988 "[Floating Action Button] Touch effect goes beyond the edge of button"
### Problem description

You may change background color behind the button to see it better

![asd16](https://cloud.githubusercontent.com/assets/1328473/22203776/aae3af28-e17f-11e6-8b7b-6f5d209c70e8.gif)

### Link to minimally-working code that reproduces the issue

http://www.material-ui.com/#/components/floating-action-button

### Versions

- Material-UI: 0.16.7
- React: 15.4.2
- Browser: Chrome

[2017-01-23 12:42] guybuk opened #5989 "Nested ListItems Deleted On Collapse"
### Problem description
I have a List, in which each ListItem has an array of checkboxes as its nested items.
Every time I collapse and expand one of the nested items the state is lost and the checkboxes become empty, because the component together with its state was deleted and I get the initial state again.

I don't know if this is intended or not, but I'm not sure how I'm supposed to implement

[2017-01-23 12:50] oliviertassinari commented on #5952
Oh, I have missed that part of the issue description. In that case, you need the [external-helpers](https://babeljs.io/docs/plugins/external-helpers/) alongside the [babel-polyfill](https://babeljs.io/docs/usage/polyfill/). That [article](https://medium.com/@jcse/clearing-up-the-babel-6-ecosystem-c7678a314bf3) is worth reading on the topic.

I have been looking at the `es` folder of `react-router`

[2017-01-23 13:02] nareshbhatia commented on #5986
@oliviertassinari, thanks for the quick response. I think I can make it work - it will just require some indirection. The thing is that in the real code I am not able to change the shape of the state object. It happens to be a complex domain object with colorId as just one of its properties. I created the simplified dataSource for AutoComplete so that the user sees full color names instead of 'r',

[2017-01-23 13:02] #5986 closed

[2017-01-23 15:30] rosskevin commented on #5960
I don't have anything that would sway it one way or the other.  I dislike the look of jsx passing a component to props, but that's not to say it isn't the most comprehensible way for an API to a complex/nested component structure.

I just ran across inconsistency and wanted to make sure we were thoughtful about the approach, and it seems we are so I'll go ahead and close this out.

[2017-01-23 15:30] #5960 closed

[2017-01-23 16:47] Sharlaan opened #5990 "[docs] Review and Add material-ui-superSelectField to related projects"
Hi, i just packaged my own implementation of :
- DropDown
- SelectField
- AutoComplete
into [npmjs.com](https://www.npmjs.com/package/material-ui-superselectfield)

Would be nice if someone Material-UI team tells me his thoughts / advices.

... and why not add it to Material-UI Docs alongside material-ui-chip-input.

[2017-01-23 16:56] oliviertassinari commented on #5990
👍   for sharing https://github.com/Sharlaan/material-ui-superSelectField.

[2017-01-23 18:31] oliviertassinari commented on #5960
Great, feel free to ask any future question.

[2017-01-23 18:45] oliviertassinari commented on #5990
Some feedbacks after looking at the repository:
- Providing a Demo will help a lot with acquiring users.
- The name of the repository mix *camelCase* and *kebab-case*. `material-ui-superselectefield` would be better.
- Adding some tests will help to accept PRs and increase confidence.
- Prefix style before applying them to the elements. For instance, older browsers won't render correctly with the

[2017-01-23 20:16] oliviertassinari commented on #5988
Sorry, I can't see anything special 💅 .

[2017-01-23 20:24] NewOldMax commented on #5988
![image](https://cloud.githubusercontent.com/assets/1328473/22221222/0daf408e-e1c3-11e6-9fd7-b122a247d543.png)

[2017-01-23 22:27] pinturic commented on #2036
I have developed a little framwework that helps in building such kind of applications; you can find it here: [CReMA](https://www.npmjs.com/package/react-crema)

[2017-01-24 01:28] seales commented on #1357
From the documentation, the `ListItem` attribute `disabled` is automatically set to false if either `leftCheckbox` or `rightToggle` is set.

I would like to be able to override `disabled`, so that I can have listeners for both a `Checkbox` and a `ListItem`.

[2017-01-24 10:34] mateeyow opened #5995 "Stepper Horizontal Responsive"
### Problem description
Make Horizontal Stepper Responsive

### Link to minimally-working code that reproduces the issue
<img width="1440" alt="screen shot 2017-01-24 at 6 31 21 pm" src="https://cloud.githubusercontent.com/assets/6420838/22243752/ad75bc4c-e263-11e6-9d38-7dede24eb2db.png">

### Versions

- Material-UI: latest
- React: latest
- Browser: Chrome

[2017-01-24 12:45] idangozlan commented on #1521
@mbrookes what is `next`?

[2017-01-24 12:48] idangozlan opened #5996 "[Dialog] change wrapper background color? (the semi opacity wrapper div)"
What is the best elegance way to do that?

[2017-01-24 13:23] stunaz commented on #5995
dupe of #5786

[2017-01-24 16:00] Sharlaan commented on #5990
ok thanks for the advices, i just pushed an update with :
- renamed repo
- inline-style-prefixer (mostly used for the selectionsPresenter sub-component, since the SelectField component uses only a few already well-supported css rules)
EDIT: actually i removed this useless dependency since only flexbox could potentially cause problems, and added prefixes manually.
- deployed a demo page to [gh-page

[2017-01-24 18:54] cainlevy commented on #5208
@minas1 has the answer, i believe, for folks who have been baffled why `injectTapEventPlugin()` does not seem to work in any location.;

[2017-01-24 19:33] KenzoM commented on #5996
Can you show us a screenshot of what you are trying to do?

[2017-01-24 20:31] RobertSheaO commented on #4555
**Issue**
I just started using `<IconButton>` for my `<AppBar>` so that I can provide a custom icon, instead of the default hamburger. After doing that I get `Uncaught TypeError: _this.props.onTouchStart is not a function` in my console; however, the button still works as expected.

**Repo**
It doesn't happen all the time, but enough to be noticeable. Sometimes It'll be on the first click, sometim

[2017-01-24 20:43] RobertSheaO commented on #4555
Looks like it was fixed in 0.16.7 (15 Jan 2017)

[2017-01-24 22:25] #5756 closed

[2017-01-25 00:09] RobertSheaO commented on #5855
I just upgraded to 0.16.7 and this issue still persists.

Here's my code that reproduces this issue:

[code]

[2017-01-25 01:16] #5995 closed

[2017-01-25 10:54] idangozlan commented on #5996
![screen shot 2017-01-25 at 12 51 08 pm](https://cloud.githubusercontent.com/assets/1991021/22287889/4d896898-e2fd-11e6-86ca-d374db1aa36e.png)

The background that applied around the dialog, which you can see outside the dialog in the attached screenshot.

[2017-01-25 10:58] Razzwan opened #5998 "Auto Complete not working on Android (5.1, )"
### Problem description
When i try to scroll content after focusing AutoComplete element, I can't do it. And i can't live focus without select item from dropDown menu.

### Link to minimally-working code that reproduces the issue
[code]

### Versions

- Material-UI: 0.16.7
- React: 15.4.2
- Browser: chrome on Android

[2017-01-25 11:02] gop-aroy opened #5999 "[Chip][New feature] Allow setting margin"
Hey guys,

After searching the web and looking at the source code I can't find how to set the default margin of Chips. When I watch I can see that the value can't be overwritten with css (except by passing a style object).

This could be cool that we could OR by setting it in the muiTheme.

Thank you for reading me.

[2017-01-25 12:18] Sharlaan commented on #3701
Sorry to necrobump this topic but, IMHO react-infinite is probably the best to integrate infinite-scrolling to Material-UI, instead of react-virtualized (too high level already)

I were searching how to integrate infinite-scrolling to my superSelectField component, and found react-infinite.

But when integrating it "as is" between <Menu/> and its <MenuItems/>, i end up with 2 problems :
- selectio

[2017-01-25 12:23] Sharlaan opened #6000 "[List] Integrate infinite scrolling into List ?"
Sorry to necrobump this topic  #3701  but, IMHO react-infinite is probably the best to integrate infinite-scrolling to Material-UI, instead of react-virtualized (too high level already)

I were searching how to integrate infinite-scrolling to my superSelectField component, and found react-infinite.

But when integrating it "as is" (like mbrookes suggested in #3701)  between \<Menu/> and its \<Menu

[2017-01-25 15:09] nnacin opened #6001 "Missing onEnter prop callback for TextField component"
I could not find the prop for the onEnter callback on TextField.

Reference, pull request from 2015: https://github.com/callemall/material-ui/pull/328

### Versions

Material-UI: v0.16.7
React: 15.4.1
Browser: Chrome 55.0.2883.95

[2017-01-25 17:01] sweber83 opened #6002 "[Popover] Clickaway not working for multiple Popovers (since v0.16.6)"
We have a use case where there are multiple Popovers opened and should all close simultaneously on clickaway.
Each has its own handler for onRequestClose.
Since v0.16.6 only one of the handlers gets called.
The reason is the change introduced in this commit:
https://github.com/callemall/material-ui/pull/5749/commits/8dac6267b0dec19605901a2c22323ee388a9190a

In the folllowing example, with v0.16.5

[2017-01-25 19:55] mbrookes commented on #5990
Looks interesting. I"m not so sure about the UX of the chips example, but I don't see any reason why this can't be added to related projects - it up to the user if they want to use it after all. (I know there's big demand for a multi-select menu: https://github.com/callemall/material-ui/issues/1956). @Sharlaan feel free to submit a PR for that.

[2017-01-25 20:00] mbrookes commented on #1521
@idangozlan https://github.com/callemall/material-ui/tree/next

[2017-01-25 20:02] mbrookes commented on #5952
A bigger package size for a smaller build size is a fair trade off.

[2017-01-25 20:34] malejpavouk opened #6003 "Incorrect alignment TextField & SelectField (align-self: flex-end;) in Flexbox"
Hi,
I have found the following issue, when having textfield and select field in two-column flexbox layout. When both components are one line, the lines bellow the text in TextField and selection in SelectField are prefectly aligned. But my textbox may have multiple, so to have the field and box aligned, I created a flexbox, with the select aligned-self to flex-end.
Problem: when the textfield has

[2017-01-25 20:41] mbrookes commented on #5999
@gop-aroy CSS styling will be possible for the `next` branch. I don't envisage us adding this to the theme. Thanks for the suggestion though.

[2017-01-25 20:41] #5999 closed

[2017-01-25 20:52] mbrookes commented on #5996
https://github.com/callemall/material-ui#note Thanks!

[2017-01-25 20:52] #5996 closed

[2017-01-25 20:59] mbrookes commented on #6000
https://github.com/callemall/material-ui#note This helps us keep issues for... issues. :smile: Thanks!

[2017-01-25 20:59] #6000 closed

[2017-01-25 21:04] Sharlaan commented on #6000
That's not really an issue in strict way of the term, but more like a suggestion with an example of integration try.

We both know i won't get far in SO, am i wrong ?

[2017-01-25 21:10] mbrookes commented on #6002
@sweber83 You should probably use the controlled behavior of the other popovers to control their open state, rather than depending on a side-effect.

[2017-01-26 03:45] radik909 commented on #4845
@gotdibbs Sorry for the late reply. Nope. I didn't get it working, so just dumped the versions.

[2017-01-26 06:38] GregTheGreek commented on #2326
I sort of have this issue......
![screen shot 2017-01-26 at 01 37 15](https://cloud.githubusercontent.com/assets/16929357/22322167/014e8a74-e368-11e6-906e-55f5e436cb74.png)
 My code:
[code]

[2017-01-26 07:37] mateeyow opened #6004 "[Stepper] Allow null children"
### Problem description
I have a responsive layout for `Stepper` in which if the media query is mobile size it will have a vertical orientation and if tablet and above will render a horizontal orientation. The problem is that `Stepper` component will issue an error if I will place a conditional statement on `StepContent` and if I don't an annoying `warning` will be shown on console. I know this wi

[2017-01-26 07:41] gop-aroy commented on #5999
Nice, thank you. Can't wait for it :)

[2017-01-26 08:46] harriha commented on #4647
This is quite unfortunate behavior, as it requires hacking around this if wanting to have strict CSP rules in an app (and no errors in the browser console). The piece of code seems to date back to almost two years, and seems to be the only case where this approach is being used, I'd imagine there is a better way to do such reset within this lib.

[2017-01-26 09:33] Sharlaan commented on #6003
Have you tried without the intermediate \<div/>s ?

ie TextField and EncodingSelect as direct children of div.unidirectional-input, specifying:

hint: Material-UI components provide a style property.

[2017-01-26 10:43] oliviertassinari commented on #6004
That sounds like a good idea to allow null children. Do you want to give it a try?

[2017-01-26 10:47] programisti commented on #5069
Any updates with this?
Its very important that Table should have editable cells, otherwise its not fulfilled.

[2017-01-26 12:05] idangozlan opened #6005 "[TextField] floating text dynamic height"
Is there any elegance way to make TextField height dynamically so when there is no floating text yet, the height of the textfield will not reserve a space for the floating text and then only when user will focus the textfield the floating text will be appear and the textfield's height will expand to contain also the floating text?

right now, it's not so elegance when user didn't type yet, here is

[2017-01-26 12:53] oliviertassinari commented on #5855
@RobertSheaO The issue should be fixed now.
I have quickly tried to reproduce the issue http://www.webpackbin.com/4y_OkJQDz with no luck.
Besides, I'm no longer seeing that error from [Sentry](https://sentry.io/welcome/). I'm pretty convinced it's fixed. You most likely have an update issue.

[2017-01-26 12:56] Sharlaan commented on #6004
I don't get it:

the code says basically you don't want any content when isVertical is false (ie orientation='horizontal')

... but then why would you want to use a Stepper for horizontal orientation in the first place ?
Would be easier to just move the condition {isVertical && ... at higher level.

[2017-01-26 13:14] stunaz commented on #6004
I do exactly as @Sharlaan said, I simply have to different component, one vertical, one horizontal.

[2017-01-26 13:17] Sharlaan commented on #6001
use [React synthetic events](https://facebook.github.io/react/docs/events.html#keyboard-events)

``
handleTextFieldKeyDown = event => {
    switch (event.key) {
        case 'Enter':
            // call corresponding handler
            break
        case 'Escape':
            // etc...
            break
        default: break
    }
}
...
<TextField onKeyDown={this.handleTextFieldKeyDown} />
[code

[2017-01-26 13:21] mateeyow commented on #6004
@sharlaan i didnt say i dont want any content for horizontal. I do have content for horizontal but i didnt put it in the code. But basically i want both content for vertical and horizontal.

[2017-01-26 13:22] stunaz commented on #6004
With a smart Component and 2 dumb component (1 for horizontal and 1 for vertical), you can achieve that

[2017-01-26 13:22] Sharlaan commented on #5989
In my humble opinion, i think you should retain each checkbox's state at the main List level, and then use controlled state for each checkbox with value prop linked to the List's state.
A ListItem is just a dumb component in essence, shouldnot know anything about previous states it had.

[2017-01-26 13:29] Sharlaan commented on #6004
Maybe even simpler: just remove the condition isVertical for the content.

The Stepper component should handle automatically the formatting of the content depending on `orientation={isVertical ? 'vertical' : 'horizontal'}`

[2017-01-26 13:41] dennischen opened #6006 "[Table] TableRow selected acts like defaultSelected"
### Problem description
It is maybe my misunderstanding, but the TableRow doesn't respect the `selected` prop.
try following code snippet, I can select any row no matter I set a static `false`.
It looks like a `defaultSelected` behavior, not `selected`
[code]

### Versions

- Material-UI: 0.16.7
- React: 15.4.2
- Browser: Chrome 55.0.2883.87 m (64-bit)

[2017-01-26 13:41] harriha commented on #4647
FWIW, this can luckily be "fixed" via adding a specific hash describing this inline style to `style-src` as suggested by Chrome DevTools, for instance:

[code]

Works as far as nobody touches that resulting piece of CSS (also whitespace matters there).

[2017-01-26 14:21] nnacin commented on #6001
@Sharlaan Thank you for the reply.

Maybe I am missing something, but I can't see this prop either - https://github.com/callemall/material-ui/blob/ccf712c5733508784cd709c18c29059542d6aad1/src/TextField/TextField.js

[2017-01-26 14:28] Sharlaan commented on #6001
Yes, synthetic events are props you can attach to any React component.

Your issue is independent of Material-UI.

[2017-01-26 14:43] nnacin commented on #6001
Ok. This is fine and it works very well. Thanks!

But I still find it a bit strange that the pull request is accepted but those changes are nowhere to be found.

[2017-01-26 15:01] g-forgues opened #6007 "[Drawer] Swipe Open/Close on opened dialog"
On any touch device, drawer can still be swiped opened or closed behind an open dialog. Shouldn't it be locked?

![image](https://cloud.githubusercontent.com/assets/2775066/22335848/37a927fa-e3ae-11e6-9bc5-350bec38592e.png)

Tested directly on the material-ui website using chrome on android and safari on an ipad

[2017-01-26 16:15] biomassives commented on #5998
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 16:42] sweber83 commented on #6002
@mbrookes
Yes, as it is in this simple example we could just use the controlled behavior.
Maybe I should have used an example which is nearer to our exact use case.
We want all popovers to close if there is a click on the background but not if another popover is clicked on.
ATM we have a function which creates the onRequestClose-handlers and closes all popovers if all handlers are called in a spec

[2017-01-26 18:29] lorenzoid commented on #5457
+1 on this.

[2017-01-26 18:46] vishalvijay opened #6008 "Icon component is missing in material-ui@next"
Hi

`npm install material-ui@next`

I integrated material-ui with above mention command for getting the latest changes from `next` branch. But few newly added components are missing in the downloaded package. eg: `Icon`

Any solution ?

Thanks

[2017-01-26 18:49] mattste commented on #4337
This appears to be an issue for me when using a React Native Webview. The assignment causes a stack overflow. I've left a comment over on the babel issue (now https://github.com/babel/babel/issues/4323) to see if someone could lend some guidance on how to solve this.

I think that perhaps the only alternative from material-ui's side would be to break apart the large svg-icons file.

[2017-01-26 18:51] hyperbrave commented on #5818
Is it feasible to add a property to specify a key in the object to be used in the comparison?

[code]

[2017-01-26 19:32] malejpavouk commented on #6003
I have removed the intermediary div and you were absolutely correct. The problem is fixed.

Thanks!

[2017-01-26 19:32] #6003 closed

[2017-01-26 20:26] mc-funk commented on #5071
@buunguyen Any chance you could elaborate on what the incorrect usage was? Thanks!

[2017-01-26 20:42] rosskevin opened #6009 "[docs] Add links to material palette generator"
### Description
I found this awesome tool for generating palettes:
http://mcg.mbitson.com/

I added a feature request to get `next` formats included in the import export:
https://github.com/mbitson/mcg/issues/82

Once it's completed, I would like to add a link in the docs in the style and perhaps the related projects section.

### Images & references
![material_design_theme___palette_color_generat

[2017-01-26 21:36] rosskevin commented on #6008
This was resolved in #5997.  Currently, `material-ui@next` is not the next branch as we are not yet publishing builds. People using the `next` are building and sometimes publishing private builds for internal projects.

[2017-01-26 21:36] #6008 closed

[2017-01-26 22:08] rosskevin opened #6010 "[Layout] styling specificity using > disallows easy override via classname"
### Description
Layout specificity of padding disallows use of override via `className`

e.g. `.Layout-gutter-xs-16-3374265422 > .Layout-typeItem-565831246`

Generated by [this code](https://github.com/callemall/material-ui/blob/next/src/Layout/Layout.js#L69).

![open_market_securities_marketplace_-_coverbid](https://cloud.githubusercontent.com/assets/136564/22352159/92f34b7c-e3e0-11e6-9a43-b23505

[2017-01-26 22:16] vishalvijay opened #6011 "[Layout] What is the default type of Layout?"
Hi

I was playing around with the new `<Layout />` component. Great work guys.

What is the default type of a Layout component? (container or item)

As per doc default type is **item**

<img width="834" alt="screen shot 2017-01-27 at 3 23 40 am" src="https://cloud.githubusercontent.com/assets/2828848/22352059/8d30a10c-e440-11e6-8cf0-785f539c4e2c.png">

But as per code default type is NA (Both `con